<header data-type="book">
<h1>局方發揮</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>朱震亨</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1356">公元1356年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆癸未（11年，1583）金陵周氏仁壽堂刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=f126d9446a054ff1bafe177678ca7f7cfDcyNDQ40&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·局方發揮》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0061/WYG/">漢リポ掃描及文字化本</a>）。電子文本整理自行政院中醫藥委員會94年文本CM034。</dd></div>
</dl>
</header>
<h2>局方發揮  元  丹溪朱震亨著。</h2>
<p>和劑局方之為書也，可以據證檢方，即方用藥不必求醫，不必脩制，尋贖見成丸散，病痛便可安痊，仁民之意可謂至矣。自宋迄今，官府守之以為法醫門，傳之以為業，病者恃之以立命，世人習之以成俗。然予竊有疑焉，何者？古人以神聖工巧言醫。又曰：醫者，意也。以其傳授雖的，造詣雖深，臨機應變，如對敵之將，操舟之工，自非盡君子，隨時反中之妙，寧無愧於醫乎，今乃集前人已效之方，應今人無限之病，何異刻舟求劍，按圖驥索，冀其偶然中，難矣。</p>
<p>或曰：仲景治傷寒，著三百一十三方。治雜病，著金匱要略。曰：二十有三門，歷代名方，汗牛充棟，流傳至今，明效大驗，顯然耳目。今吾子致疑於局方無失，乃之謬妄乎。</p>
<p>予曰：醫之視病，問證已得病之情矣。然病者一身血氣有淺深，體段有上下，臟腑有內外，時月有久近，形志有若樂，資稟有厚薄，能毒有可否，標本有先後，年有老弱，治有五方，令有四時，某藥治某病，某經用某藥，孰為正治反治，孰為君臣佐使，合是數者，計較分毫，議方治療，貴乎適中，今觀局方，別無病源，議論止於各方條述證候，繼以藥石之分兩，脩製藥餌之法度，而又勉其多服常服久服，殊不知一方通治諸病。似乎立法簡便，廣絡原野，冀獲一免，寧免許學士之誚乎。仲景諸方，實萬世醫門之規矩準繩也，後之欲為方圓平直者，必於是而取則焉，然猶設為問難，藥作何應，處以何法。許學士亦曰：我善讀仲景書而知其意，然未嘗全用其方。局方制作，將擬仲景耶。故不揣荒陋，敢陳管見，儻蒙改而正諸實，為醫道之幸，今世所謂風病，大率與諸痿證混同論治，良由局方多以治風之藥，通治諸痿也。古聖論風論痿，各有萹目，源流不同，治法亦異，不得不辨，按風論，風者，百病之長，至其變化，乃為他病。又曰：善行數變。曰：因於露風。曰：先受邪。曰：在腠理。曰：客。曰：入。曰：傷。曰：中。歷陳五臟，與胃之傷皆多汗而惡風，其發明風邪，係外感之病，有臟腑內外虛實寒熱之不同，若是之明且盡也，別無癱瘓，痿弱，卒中，不省，僵朴，喎斜，攣縮，眩暈，語澀，不語之文，新舊所錄，治風之方，凡十道，且即至寶丹，靈寶丹。論之曰：治中風不語，治中風語澀，夫不語與語澀，其可一例看乎？有失音不語，有舌強不語，有神昏不語，有口禁不語，有舌縱語澀，有舌麻語澀，治大腸風祕，祕有風熱，有風虛，曾謂一方可通治乎？又曰：治口鼻血出。夫口鼻出血，皆是陽盛陰虛，有升無降，血隨氣上越，出上竅。法當補陰抑陽，氣降則血歸經，豈可以輕揚飛竄之腦麝，佐之以燥悍之金石乎。又曰：治皮膚燥痒。經曰：諸痒為虛，血不榮肌腠，所以痒也。當與滋補藥，以養陰血，血和肌潤，痒自不作，豈可以一十七兩重之金石，佐以五兩重之腦麝香桂，而欲以一兩重之當歸和血，一升之童便活血，一升之生地黃汁生血，夫枯槁之血果能和而生乎？果能潤澤肌肉之乾瘦乎？又曰：治難產死胎，血脈不行，此血氣滯病也。又曰：治神昏恍惚，久在床枕，此血氣虛弱也。夫治血以血藥，治虛以補藥，彼燥悍香竄之劑，固可以劫滯氣，果可以治血而補虛乎？潤體丸等三十餘方，皆曰治諸風，治一切風，治一應風，治男子三十六種風，其為主治，甚為浩博，且寒熱虛實，判然迥別，一方通治，果合經意乎？果能去病乎？龍虎丹，排風湯，俱係治五臟風，而排風又曰風發，又似有內出之意，夫病既在五臟，道遠而所感深，一則用麻黃三兩，以發其表，一則用腦麝六兩，以瀉其衛，而謂可以治臟病乎？借曰：在龍虎，則有寒水石一斤以為鎮墜，在排風，則有白朮當歸以為補養，此殆與古人輔佐因用之意，合吁臟病屬裏而用發表瀉衛之藥，寧不犯誅伐無過之戒乎？寧不助病邪而伐根本乎？骨碎補丸，治肝腎風虛，乳香宣經丸，治體虛，換腿丸，治足三陰經虛，或因感風而虛，或因虛而感風，既曰體虛，肝腎虛，足三陰經虛，病非輕小，理宜補養，而自然銅，半夏，葳靈仙，荊芥，地龍，川楝，烏藥，防風，牽牛，靈脂，草烏，羌活，石南，天麻，南星，檳榔等，疏通燥疾之藥，居補劑之太半，果可傷以補虛乎？七聖散之治風濕，流注活血。應痛丸之治風濕客腎經，衛汗以散風，導水以行濕，仲景法也。觀其用藥，何者為散風，何者謂行濕，吾不得而知也。三生飲之治外感風寒，內傷喜怒，或六脈沉伏，或指下浮盛，及痰厥氣虛，大有神效。治外感以發散，仲景法也。治內以補養，東垣法也。誰能易之，脈之沉伏浮盛，其寒熱表裏虛實之相遠，若水火然，似難同藥，痰厥因於寒，或能成功，血氣虛者，何以收救。已上諸疑，特舉其顯者耳，若毫分縷析，更僕未可盡也。姑用寘之忘言。</p>
<p>或曰：吾子謂內經風論，主於外感，其用麻黃桂枝烏附輩，將以解風寒也。其用腦麝葳靈仙黑牽牛輩，將以行凝滯也。子之言過矣。</p>
<p>予應之曰：風病外感，善行數變，其病多實少虛，發表行滯，有何不可，治風之外何為，又歷述神魂恍惚，起便須人，手足不隨，神志昏憒，癱瘓嚲曳，手足筋衰，眩運倒仆，半身不遂，腳膝緩弱，四肢無力，顫掉拘攣，不語語澀，諸痿等證，悉皆治之，攷諸痿論，肺熱葉焦，五臟因而受之，發為痿躄，心氣熱，生脈痿，故脛縱不任地。肝氣熱，生筋痿，故宗筋弛縱。脾氣熱，生肉痿，故痹而不仁，腎氣熱，生骨痿，故足不任身。又曰：諸痿皆屬於上，謂之上者，皆病之本在肺也。又曰昏惑，曰瘲，曰瞀悶，曰瞀昧，曰暴病，曰鬱冒，曰曚昧，曰暴瘖，曰瞀瘛，皆屬於火。又曰：四肢不舉，曰舌本強，曰足痿不收，曰痰涎有聲，皆屬土。又禮記註曰，魚肉天產也，以養陽作陽德，以為倦怠，悉是濕熱內傷之病，當作諸痿治之，何局方治風之方兼治痿者，十居其九，不思諸痿皆起於肺熱，傳入五臟，散為諸證，大抵只宜補養，若以外感風邪治之，寧免實實虛虛之禍乎。</p>
<p>或曰經曰：諸風掉眩，皆屬於肝。諸暴強直，皆屬於風。至於振振不能久立，善暴僵仆皆以為木病，肝屬木，風者，木之氣。曰掉。曰掉振。非顫掉乎？曰眩，非眩運乎？曰不能久立，非筋衰乎？非緩弱無力乎？曰諸暴強直，非不隨乎？曰善暴僵仆，非倒仆乎？又曰瞀悶，曰瞀昧，曰暴病，曰鬱冒，曚昧暴瘖，曰瞀瘛，與土交，所謂屬肝，屬風，屬木之病相似，何為皆屬於火，曰舌本強，曰痰涎有聲，何為皆屬於土痿，論俱未嘗言及，而吾子合火土二家之病，而又與倦怠並言，總作諸痿治之，其將有說以通之乎。</p>
<p>予應之曰：按原病式曰，風病多因熱甚，俗云，風者，言末而忘其本也，所以中風而有癱瘓諸證者，非謂肝木之風實甚而卒中之也，亦非外中於風。良由將息失宜，腎水虛甚，則心火暴盛，水不制火也，火熱之氣鬱怫，神明昏冒，筋骨不用而卒倒無所知也。亦有因喜怒思悲恐，五志過極而卒中者，五志過熱甚故也，又原病曰：脾之脈，連舌本，散舌下，今脾臟受邪，故舌強。又河間曰：謂膈熱甚，火氣炎上，傳化失常，故津液湧，而為痰涎潮上，因其稠粘難出，故作聲也。一以屬脾，一以為胃熱，謂之屬火與土，不亦宜乎。雖然岐伯，仲景，孫思邈之言風大意，似指外邪之感，劉河間之言風，明指內傷熱證，實與痿論所言，諸痿生於熱相合，外感之邪有寒熱虛實，而挾寒者多。內傷之熱皆是虛證，無寒可散，無實可瀉，局方本為外感立方，而以內傷熱證混同出治，其為害也，似非細故。</p>
<p>或曰風分內外，痿病因熱，既得聞命矣。手陽明大腸經，肺之腑也。足陽明胃經，脾之腑也。治痿之法，取陽明一經，此引而未發之言，願明以告我。</p>
<p>予曰：諸痿生於肺熱，只此一句，便見治法大意，經曰：東方實，西方虛，瀉南方，補北方。此固是就生剋言補瀉，而大經大法不外於此，東方木，肝也。西方金，肺也。南方火，心也。北方水，腎也。五行之中，惟火有二腎，雖有二水，取其一陽常有餘，陰常不足。故經曰：一水不勝，二火理之。必然肺金體燥而居上，主氣畏火者也。脾土性濕而居中，主四肢，畏水者也。火性炎上，若嗜慾無節，則水失所養，火寡於畏而侮所勝，肺得火邪而熱矣。木性剛急，肺受熱則金失所養，木寡於畏而侮所勝，脾得木邪而傷矣。肺熱則不能管攝一身，脾傷則四肢不能為用，而諸痿之病作。瀉南方則肺金清，而東方不實，何肺傷之有，補北方則心火降，而西方不虛，何肺熱之有，故陽明實則宗筋潤，能束骨而利機關矣。治痿之法，無出於此。駱隆吉亦曰：風火既熾，當滋腎水，東垣先生取黃柏為君，黃耆等補藥之輔佐，以治諸痿，而無一定之方，有兼痰積者，有濕多者，有熱多者，有濕熱相半者，有挾氣者，臨病製方。其善於治痿者乎。雖然藥中肯綮矣，若將理失宜，聖醫不治也。天產作陽，厚味發熱，先哲格言，但是患痿之人，若不淡薄食味，吾知其必不能安全也。</p>
<p>或曰小續命湯與要略相表裏，非外感之藥乎，地仙丹治勞傷腎憊，非內傷之藥乎，其將何以議之。</p>
<p>予曰：小續命湯比要略少當歸石膏，多附子防風防己，果與仲景意合，否也，仲景謂汗出則止藥，局方則曰，久服差。又曰，久病，風陰晦時更宜與。又曰，治諸風似皆非仲景意，然麻黃防己可久服乎？諸風可通治乎？地仙丹既曰補腎，而滋補之藥，與僣燥走竄之藥，相半用之，腎惡燥而謂可以補腎乎？借曰足少陰經非附子輩不能自達，八味丸，仲景腎經藥也，八兩地黃以一兩附子佐之，觀此則是非可得而定矣。非吾之過論也。</p>
<p>又觀治氣一門，有曰，治一切氣，冷氣滯氣逆氣上氣，用安息香丸，丁沉丸，大沉香丸，蘇子丸，勻氣散，如神丸，集香丸，白沉香丸，煨薑丸，鹽煎散，七氣湯丸，痛溫白丸，生薑湯。其治嘔噎也用五膈丸，五膈寬中散，膈氣散，酒癥丸，草豆蔻丸，撞氣丸，人參丁香散，其治吞酸也，用丁沉煎丸，小理中丸，其治痰飲也用倍木丸，消飲丸，溫中化痰丸，五套丸，且於各方條或台曰，口苦失味，曰噫酸，曰舌澀，曰吐清水，曰痞滿，曰氣急，曰脇下急痛，曰五心中熱，口爛生瘡，皆是明著熱證，何為率用熱藥，夫週流於人之一身以為生者，氣也。陽往則陰來，陰往則陽來，一升一降，無有窮已，苟內不傷於七情，外不感於六淫，其為氣也，何病之有，今日冷氣滯氣逆氣上氣，皆是肺受火邪，氣得炎上之化，有升無降，薰蒸清道，甚而至於上焦不納，中焦不化，下焦不滲，輾轉傳變，為嘔，為吐，為膈，為噎，為痰，為飲，為翻胃，為吞酸，夫治寒以熱，治熱以寒，此正治之法也。治熱用熱，治寒用寒，此反佐之法也。詳味前方，既非正法，又非反佐，此愚之所以不能無疑也，謹按原病式曰：諸嘔吐酸，皆屬於熱，諸積飲，痞膈中滿，皆屬於濕，諸氣逆衝上，嘔涌，溢食不下，皆屬於火。諸堅痞腹滿，急痛，吐腥穢，皆屬於寒。深契仲景之意，金匱要略曰：胸痹，病胸背痛，瓜蔞薤白湯主之。胸痹，心痛徹背，瓜蔞薤白半夏湯主之，心下痞氣，氣結在胸脇下，上逆搶心者，枳實薤白瓜蔞桂枝湯主之，嘔而心下痞者，半夏瀉心湯主之，乾嘔而利者，黃芩加半夏生薑湯主之，諸嘔吐穀不得入者，小半夏湯主之，嘔吐病在膈上者，豬苓湯主之。胃反嘔吐者，半夏參密湯主之。食己即吐者，大黃甘草湯主之。胃反吐而渴者，茯苓澤瀉湯主之。吐後欲飲者，文蛤湯主之。病似嘔不嘔，似噦不噦，心中無奈者，薑汁半夏湯主之。乾嘔手足冷者，陳皮湯主之。噦逆者，陳皮竹茹湯主之。乾嘔下痢者，黃芩湯主之。氣衝上者，皂莢丸主之。上氣脈浮者，厚朴麻黃湯主之。上氣脈沉者，澤瀉湯主之。火逆上氣者，麥門冬湯主之。心下有痰飲，胸脇支滿，目眩，茯苓桂朮湯主之。短氣有微飲，當從小便出之，宜茯苓桂朮甘草湯，腎氣丸亦主之。病者脈浮，其人欲自利，利者反快，雖利心下續堅滿者，此為流飲欲去故也，甘遂半夏湯主之。病懸飲者，十棗湯主之。病溢飲者，當發其汗，宜大青龍湯，又宜用小青龍湯。心下有支飲，其人若冒眩，澤瀉湯主之。支飲胸滿者，厚朴大黃湯主之。支飲不得息，葶藶大棗瀉肺湯主之。嘔家本渴，今反不渴，心中有支飲故也，小半夏湯主之。卒嘔吐，心下痞膈，間有水，眩悸者，小半夏加茯苓湯主之。假令瘦人，臍下有悸者，吐涎沬而頭眩，水也，五苓散主之。心胸有停痰宿水，自吐水後，心胸間虛氣，滿不能食，消痰氣，令能食，茯苓飲主之。先渴後嘔，為水停心下，此屬飲家，半夏加茯苓湯主之。觀其微意，可表者汗之，可下者利之，滯者導之，鬱者揚之，熱者清之，寒者溫之，偏寒偏熱者，反佐而行之，挾濕者，淡以滲之，挾虛者，補而養之，何嘗例用辛香燥熱之劑，以火濟之火，實實虛虛，咎將誰執。</p>
<p>或曰，脈訣謂熱則生風，冷生氣，寒主收引，今冷氣上衝矣。氣逆矣，氣滯矣，非冷而何？吾子引仲景之言而斥其非，然則諸氣，諸飲，嘔吐，反胃，吞酸等病，將無寒證耶。</p>
<p>予曰：五臟各有火，五志激之，其火隨起，若諸寒為病，必須身犯寒氣，口得寒物乃為病寒，非若諸火，病自內作，所以氣之病寒者，十無一二。</p>
<p>或曰，其餘痰氣，嘔吐吞酸，噎膈反胃，作熱作火論治，於理可通，若病人自言冷氣從下而上者，非冷而何。</p>
<p>予曰：上升之氣，自肝而出，中挾相火，自下而出，其熱為甚，自覺其冷，非真冷也，火極似水，積熱之甚，陽亢陰微，故見此證，冷生氣者，出高陽生之謬言也，若病果因感寒，當以去寒之劑治之，何至例用辛香燥熱，為方不知權變，寧不誤人。</p>
<p>或曰，氣上升者，皆用黑錫丹，養正丹，養氣丹等藥，以為鎮墜，然服之者，隨手得效，吾子以為熱甚之病，亦將有誤耶。</p>
<p>予曰：相火之外，又有臟腑，厥陽之火，五志之動，各有火起，相火者，此經所謂一水不勝二火之火，出於天造，厥陽者，此經所謂一水不勝五火之火，出於人欲，氣之升也，隨火炎上升而不降，孰能禦之，今人欲借丹劑之重墜而降之，氣鬱為濕痰，丹性熱燥，濕痰被劫，亦為暫開，所以清快，丹藥之法，偏助狂火，陰血愈耗，其升愈甚，俗人喜溫，迷而不返，被此禍者，滔滔皆是。</p>
<p>或曰丹藥之墜，欲降而升，然則如之何則可。</p>
<p>予曰：投以辛涼，行以辛溫，制伏肝邪，治以鹹寒，佐以甘溫，收以苦甘，和以甘淡，補養陰血，陽自相附，陰陽比和，何升之有，先哲格言，其則不遠，吾不贅及。</p>
<p>或曰吐酸，素問明以為熱，東垣又言為寒，何也？</p>
<p>予曰：吐酸與吞酸不同，吐酸是吐出酸水如醋，平時津液隨上升之氣鬱積而成，鬱積之久，濕中生熱，故從火化，遂作酸味，非熱而何，其有積之於久，不能自涌而出，伏於肺胃之間，咯不得上，嚥不得下，肌表得風寒則內熱愈鬱，而酸味刺心，肌表溫暖，腠理開發，或得香熱湯丸，津液得行，亦得暫解，非寒而何？素問言熱者，言其本也。東垣言寒者，言其末也。但東垣不言外得風寒，而作收氣立說，欲瀉肺金之實，又謂寒藥不可治酸，而用安胃湯加減二陳湯，俱犯丁香，且無治熱濕鬱積之法，為未合經意，予嘗治吞酸，用黃連茱萸各製炒，隨時令迭為佐使，蒼朮茯苓為主病，湯浸炊餅為小丸吞之，仍教以粗食蔬菜，自養則病易安。</p>
<p>或曰蘇合香丸，雖是類聚香藥，其治骨蒸殗殜，月閉狐狸等病，吾子以為然乎？</p>
<p>予曰：古人製方用藥，群隊者必是攻補兼施，彼此相制，氣味相次，孰為主病，孰為引經，或用正治，或用反佐，各有意義，今方中用藥一十五味，除白朮，硃砂，訶子共六兩，其餘一十二味，共二十一兩，皆是性急輕竄之劑，往往用之於氣病，與暴仆昏昧之人，其衝突經絡，漂蕩氣血，若摧枯拉朽，然不特此也。至如草豆蔻散，教人於夏月濃煎以代熱水，夫草豆蔻，性大熱，去寒邪，夏月有何寒氣而欲多服。縮脾飲用草果，亦是此意，且夏食寒，所以養陽也，草豆蔻，草果，其食寒之意乎，不特此也。抑又有甚者焉，接氣丹曰：陽氣暴絕，當是陰先虧，陰先虧則陽氣無所依附，遂致飛越而暴絕也，上文乃曰：陰氣獨盛，陰氣若盛，陽氣焉有暴絕之理，假令陽氣暴絕，宜以滋補之劑，保養而鎮淨之，庶乎其有合夏食寒以為養陽之本，何至又服辛香燥熱之劑乎，且此丹下咽，暴絕之陽果能接乎，孰為是否，君其算之。</p>
<p>或曰，局方言陰勝，陰邪盛也，陰邪既盛，陽有暴絕之理，子之所言，與陽氣相對待之陰也，果有陰虧而陽絕者，吾子其能救之乎？</p>
<p>予曰：陰陽二字，固以對待而言，所指無定在，或言寒熱，或言血氣，或言臟腑，或言表裏，或言動靜，或言虛實，或言清濁，或言奇偶，或言上下，或言正邪，或言生殺，或言左右，求其立言之意，當是陰鬼之邪耳，陰鬼為邪，自當作邪鬼治之，若陰先虧而陽暴絕者，嘗治一人矣。浦江鄭兄，年近六十，奉養受用之人也，仲夏久患滯下，而又犯房勞，忽一晚，正走廁間，兩手舒撒，兩眼開而無光，尿自出，汗如雨，喉如拽鋸，呼吸甚微，其脈大而無倫次，無部位，可畏之甚，余適在彼，急令煎人參膏，且與灸氣海穴，艾炷如小指大，至十八壯，右手能動，又三壯，微動，參膏亦成，遂與一盞，至半夜後盡三盞，眼能動，盡二斤方能言，而索粥，盡五斤而利止，十斤而安。</p>
<p>或曰諸氣諸飲，與嘔吐吞酸，膈噎反胃等證，局方未中肯綮，我知之矣。然則要略之方，果足用乎？抑猶有未發者乎？</p>
<p>予曰：天地氣化無窮，人身之病亦變化無窮，仲景之書載道者也，醫之良者，引例推類，可謂無窮之應用，借令略有加減脩合，終難踰越矩度，夫氣之初病也，其端甚微，或因些少飲食不謹，或外冒風雨，或內感七情，或食味過厚，偏助陽氣，積成膈熱，或資稟充實，表密無汗，或性急易怒，火炎上以致津液不行，清濁相干，氣為之病，或痞，或痛不思食，或噫腐氣，或吞酸，或嘈雜，或膨滿，不求原本，便認為寒，遽以辛香燥熱之劑投之，數帖時暫得快，以為神方，厚味仍前，不節七情，反復相仍，舊病被劫暫開，濁液易於攢聚，或半月，或一月，前證復作，如此延蔓，自氣成積，自積成痰，此為痰，為飲，為吞酸之由也，良工未遇繆藥，又行痰挾瘀血，遂成窠囊，此為痞，為痛嘔吐，為噎膈反胃之次第也，飲食湯液，滯泥不行，滲道蹇澀，大便或秘或溏，下失傳化，中焦愈停，醫者不察，猶執為冷，翻思前藥，隨手得快，至此賓主皆恨，藥欠燥熱顒伺，久服可以溫脾壯胃，消積行氣，以冀一旦豁然之效，不思胃為水穀之海，多血多氣，清和則能受脾，為消化之氣，清和則能運，今反得香熱之偏，助氣血沸騰，其始也，胃液凝聚，無所容受，其久也，脾氣耗散，傳化漸遲，其有胃熱易饑，急於得食，脾傷不磨，鬱積成痛，醫者猶曰虛而積寒，非尋常草木可療，徑以烏附助佐丹劑，專意服餌，積而久也，血液俱耗，胃脘乾槁，其槁在上，近咽之下，水飲可行，食物難入，間或可入亦不多，名之曰噎。其槁在下，與胃為近，食雖可久，難盡入胃，良入復出，名之曰膈，亦曰反胃，大便秘少，若羊矢然，名雖不同，病出一體，要略論，飲有六，曰痰飲，懸飲，溢飲，支飲，留飲，伏飲，分別五臟諸證，治法至矣盡矣。第恨醫者不善處，治病者不守禁忌，遂使藥助病邪，展轉深痼，去生漸遠，深可哀憫。</p>
<p>或曰千金諸方治噎膈反胃，未嘗癈薑桂等劑，何吾子之多言也。</p>
<p>予曰：氣之鬱滯久留清道，非借香熱不足以行，然悉有大黃，石膏，竹茹，芒硝，澤瀉，前胡，朴硝，茯苓，黃芩，蘆根，括蔞等藥，為之佐使，其始則同，其終則異，病邪易伏，其病自安。</p>
<p>或曰胃脘乾槁者，古方果可治乎，將他有要捷之法者，或可補前人之未發者乎。</p>
<p>予曰：古方用人參以補肺，御米以解毒，竹瀝以消痰，乾薑以養血，粟米以實胃，蜜水以潤燥，薑以去穢，正是此意，張雞峰亦曰噎，當是神思間，病惟內觀自養，可以治之。此言深中病情，而施治之法，亦為近理。夫噎病生於血乾，夫血，陰氣也，陰主靜，內外兩靜，則臟腑之火不起，而金水二氣有養，陰血自生，腸胃津潤，傳化合宜，何噎之有，因觸類而長。曾製一方，治中年婦人以四物湯加和白陳皮，留尖桃仁，生甘草，酒紅花，濃煎入驢尿飲，以防其或生蟲也。與數十帖而安，又台州治一匠者，年近三十，勤於工作而有艾妻，且喜酒，其面白，其脈濇，重則大而無力，令其謝去工作，臥於牛家，取新溫牛乳細飲之，每蝢進一杯，一晝夜可飲五七次，盡卻食物，以漸而至八九次，半月大便潤，月餘而安，然或口乾，蓋酒毒未解，間飲甘蔗汁少許。</p>
<p>或者又曰，古方之治噎膈反胃，未有不言寒者，子何不思之甚？</p>
<p>予曰：古人著方，必為當時抱病者設也，其人實因於寒，故用之而得效，後人遂錄以為今式，不比局方，泛編成書，使天下後世之人，凡有此證者，率遵守之以為定法，而專以香熱為用也，雖然挾寒者，亦或有之，但今人之染此病，率因痰氣，久得醫藥傳變而成，其為無寒也明矣。</p>
<p>或曰，治脾腎以溫補藥，豈非局方之良法耶，吾子其將何以議之。</p>
<p>予曰：眾言淆亂，必折諸聖，切恐脾腎有病，未必皆寒，觀其養脾丸，治脾胃虛冷，體倦不食。嘉禾散，治脾胃不和，不能多食。消食丸，治脾胃俱虛，飲食不下。小獨聖丸，治脾胃不和，不思飲食。大七香丸，治脾冷胃虛，不思飲食。連翹丸，治脾胃不和，飲食不下。分氣紫蘇飲，治脾胃不和。木香餅子，治脾胃虛寒。溫中良薑丸，曰溫脾胃。奪命抽刀散，曰脾胃冷。燒脾散，曰脾胃虛。進食散，曰脾胃虛冷，不思飲食。丁香煮散，曰脾冷胃寒。二薑丸，曰養脾溫胃。薑合丸，曰脾胃久虛。蓬煎丸，曰脾胃虛弱。守金丸，曰脾胃虛冷。集香丸，曰脾胃不和。蟠蔥散，曰脾胃虛冷。壯脾丸，曰脾胃虛弱。人參丁香散，曰脾胃虛弱。人參煮散，曰脾胃不和。丁香透膈湯，曰脾胃不和。丁香五奪丸，曰脾胃虛弱。膃肭臍丸之壯氣暖腎，菟絲子丸之治腎虛，金釵石斛丸之治氣不足，茴禾丸之治臟虛冷，玉霜丸之治氣虛，安腎丸之治腎積寒，麝香鹿茸丸之益氣，養正丹之治諸虛，朴附丸之治脾胃虛弱，接氣丹之治真氣虛，四神丹之治五臟，沉香鹿茸丸之治氣不足，椒附丸之溫五臟，蓯蓉大補丸之治元臟元氣虛，鍾乳白澤丸之治諸虛，三建湯之治氣不足，甚者類聚丹劑，悉曰補脾胃，溫脾胃，補腎，補五臟，補真氣，而各方條下曰舌苦，曰面黃，曰舌苦無味，曰中酒吐酒，曰酒積，曰酒癖，曰飲酒多，曰酒過傷，曰氣促喘急，曰口淡，曰舌澀，曰噫醋，曰舌乾，曰溺數，曰水道澀痛，曰小便出血，曰口苦，曰咽乾，曰氣促，曰盜汗，曰失精，曰津液內燥，曰氣上衝，曰外腎痒，曰枯槁失血，曰口唇乾燥，曰喘滿，曰肢體煩疼，曰衄血，曰小便淋瀝，悉是明具熱證，如何類聚燥熱，而謂可以健脾溫胃而滋腎補氣乎？經曰：熱傷脾，常服燥熱，寧不傷脾乎，又曰：腎惡燥，多服燥熱，寧不傷腎乎，又曰：熱傷元氣，久服燥熱，寧不傷氣乎。又曰：用熱遠熱。又曰：有熱者寒而行之。此教人用熱藥之法，蓋以熱藥治寒病，苟無寒藥為之響導佐使，則病拒藥而扞格不入，謂之遠熱者，行之以寒也。兩句同一意，恐後人不識此理，故重言以明之。今局方辛香燥熱以類而聚之，未嘗見其所謂遠熱也。用熱而不遠熱，非惟不能中病，抑且正氣先傷，醫云乎哉。夫良醫之治病也，必先求其得病之因。其虛邪也，當治其母，實邪也，當治其子。微邪也，當治其所勝，賊邪也，當治其所不勝，正邪也，當治其本經。索矩又謂雜合，受邪病者，所受非止一端，又須察其有無，雜合之邪，輕重較量，視標本之緩急，以為施治之先後，今乃一切認為寒冷，吾不知脾胃與腎，一向只是寒冷為病耶。論方至此，雖至愚昧，不能不致疑也，吾又攷之要略矣。諸嘔吐，穀不得入者，小半夏湯主之。疸病寒熱不食，食則頭眩，心胸不安者，茵陳湯主之。身腫而冷，胃窒不能食，病在骨節，發汗則安，心胸停痰吐水，虛滿不能食者，茯苓湯主之。中風手足拘急，惡寒不欲飲食者，三黃湯主之。下利不欲飲食者，大承氣湯主之。五勞虛極，羸瘦不能食者，大黃蝱虫丸主之。虛勞不足，汗出而悶，脈結心悸者，炙甘草湯主之。虛勞腰痛，小腹拘急者，八味丸主之。虛勞不足者，大薯蕷丸主之。虛勞虛煩不得眠者，酸棗仁湯主之。夫嘔者，胸滿者，吐水者，下利者，惡寒者，腫而冷者，不能飲食者，虛勞羸瘦者，虛勞汗而悸者，虛勞而腰痛者，虛勞不足者，虛勞煩而不眠者，自局方之法觀之，寧不認為寒冷，而以熱藥行之乎，仲景施治則不然也，痰者導之，熱者清之，積者化之，濕者滲之，中氣清和，自然安裕，虛者補之，血凝者散之，躁者寧之，熱者和之，陰氣清寧，何虛勞之有也。</p>
<p>或曰傷寒一門，雖取雜方，仲景之法，亦摘取之矣。吾子其忘言乎。</p>
<p>予曰：傷寒之法，仲景而下，發明殆盡，局方是否愚不必贅，雖然仲景論傷寒矣，而未及乎中寒，先哲治冒，大寒而昏中者，用附子理中湯而安，其議藥則得之矣。曰傷，曰中，未聞有議其異同之者。予俛而思之，傷寒有即病，有不即病，必大發熱病邪，循經而入，以漸而深，中寒則倉卒感受其病，即發而暴，傷寒之人，因其舊有鬱熱，風寒外束，肌腠自密，鬱發為熱，其初也，用麻黃桂枝輩，微表而安，以病體不甚虛也，中寒之人，乘其腠理疏豁，一身受邪，難分經絡，無熱可發，溫補自解，此謂氣之大虛也，傷寒熱雖甚不死，中寒若不急治，去生甚遠，其虛實蓋可見矣。</p>
<p>或曰脾胃，一門子以局方用藥太熱，未合經意，若平胃散之溫和，可以補養胃氣，吾子以為何如。</p>
<p>予曰：蒼朮性燥氣烈，行濕解表，甚為有力，厚朴性溫散，氣非脹滿實急者，不用承氣用之可見矣。雖有陳皮甘草之甘緩，甘辛亦是決裂耗散之劑，實無補土之和，經謂土氣大過，曰敦阜，亦能為病，況胃為水穀之海，多氣多血，故因其病也，用之以瀉有餘之氣，使之平爾，又雖察其挾寒，得寒物者投之，胃氣和平，便須卻藥，謂之平者，非補之之謂其可常服乎。</p>
<p>或曰調胃承氣亦治胃病，謂之調者，似與平胃散之（乎）意義相近，何用藥之相遠也。</p>
<p>予曰：調胃承氣治熱，中下二焦藥也。經曰：熱淫於內，治以鹹寒，佐以苦甘，功在乎導利而行之以緩，平胃散止治濕，上焦之藥也。經曰：濕上甚而熱，治以苦濕，佐以甘辛，以汗為效而止。</p>
<p>或曰，治濕不利小便，非治也。非仲景法耶。何子言之悖也。</p>
<p>予曰：淡滲治濕，以其濕在中下二焦，今濕在上，宜以微汗而解，不欲汗多，故不用麻黃葛根輩。</p>
<p>或曰局方用藥多是溫補，或以為未合中道。積熱痼冷二門，其制作其取用吾子，其無以議之矣。</p>
<p>予曰：張仲景言一百八病，五勞六極七傷與婦人共三十六病，孫真人言四百四病，凡遇一病須分寒熱，果寒耶則熱之，果熱耶則寒之，寒熱甚耶，則反佐而制之，今列病之目僅十有餘，而分積熱痼冷兩門，何不思之甚也，要略，中風脈緊為寒，浮為虛，肺痿吐涎不能欬，不渴，必遺溺，此為肺中冷，甘草乾薑湯溫之。腹滿痛，時減如故，此為寒，宜溫之。下利，欲嚏不能，此腹中寒也。脇下偏痛，脈弦緊，此寒也，宜大黃附子細辛湯溫之。痰飲，脈雙弦者，寒也。黃疸發熱，煩喘胸滿，口燥，又被火劫其汗，病從濕得，身盡熱而黃，此熱在內，宜下之。下利脈數而渴，設不差，則圊膿血，以其有熱也。婦人能食，病七八日而更發熱者，此為胃實氣熱，宜大承氣下之。產後七八日，若太陽證，小便堅滿，此惡露不盡，不大便四五日，發熱脯，時煩燥，食則妄言，此熱在裏，結在膀胱，宜大承氣利之安。婦人，或中風，或傷寒，經水適來適斷，有寒熱，皆為熱入血室，今局方不曾言病，而所謂寒與熱者，其因何在，其病何名，果無雜合，所受邪果無時令資稟之當擇耶？據外證之寒熱，而遂用之，果無認假為真耶？果以是為非耶？</p>
<p>或曰：以寒熱為篇目，固未合經意，若其諸方果有合乎？</p>
<p>予曰：以積熱為篇目，固有可議，若諸方之制作取用，儘有妙理，吾其為子發明前人之意，恐可為用方者涓埃之助，夫紫雪者，心脾肝腎胃經之藥也。通中散，洗心散，表裏血氣之藥也，涼膈散，心肺脾胃之藥也。龍腦飲子，勝冰丹，真珠散，靈液丹，上中二焦之藥也。碧雷雞蘇丸，三黃丸，八正散，三焦藥也。甘露丸，心脾肝之藥也，涼膈丸，心脾胃之藥也，抱龍丸，麥門冬散，心肺肝之藥也。妙香丸，疏腸快胃，制伏木火藥也，甘露飲，心肺胃藥也。五淋散，血而裏藥也。消毒飲，氣而表藥也。麻仁丸，氣而裏藥也。導赤丸，氣與血而裏藥也。導赤散，心小腸藥也。有升有降，有散有補，有滲導，有驅逐，有因用，有引經，或緩之以甘，或收之以酸，或行之以香，或因之以蠟，或燥之以苦，觀其立方，各有所主，用方之人宜求其意，若夫痼冷門，尤有可議者，冷即寒也，內經以寒為殺厲之氣，今加痼於冷之上，豈非指身惡寒，而口喜熱之病耶，若以此外證，便認為痼冷宜乎？夏英公之常餌，烏附常御綿帳，不知濕痰積中，抑遏陽氣不得外泄，身必惡寒。經曰：亢則害，承乃制，又劉河間曰：火極似水，故見此證。當治以鹹寒，佐以甘溫，視標本之先後，正邪之虛實，孰緩孰急為之治法，何至類用烏附丹劑，僭燥之藥，抱薪救火，屠劊，何異古人治戰慓，有以大承氣湯下之而愈者。惡寒戰慄，明是熱證，亦有因久服熱藥而得之者，但有虛實之分耳。進士周本道，年近四十，得惡寒證，服附子數日而病甚，求余治診，其脈弦而似緩，遂以江茶入薑汁香油些少，吐痰一升許，減綿大半，又與通聖散去麻黃，大麻，芒硝。加當歸，地黃，百餘帖而安，又一色目婦人，年近六十六，月內常覺惡寒戰慄，喜痰熱，御綿多汗如雨，其形肥肌厚，已得附子三十餘，但渾身痒甚，兩手脈沉濇，重取稍大。知其熱甚而血虛也，以四物湯，去川芎倍地黃，加白朮，黃耆，炒蘗，生甘草，人參，每帖二兩重，方與一帖，腹大泄，目無視，口無言，予知其病熱深而藥無反佐之過也，仍取前藥熟炒與之，蓋借火力為嚮導，一帖利止，四帖精神回，十帖病全安。又蔣氏婦，年五十餘，形瘦面黑，六月喜熱惡寒，兩手脈沉而濇，重取似數，以三黃丸下以薑汁，每三十粒，三十貼微汗而安，彼以積熱痼冷為敘方之篇目，其得失可知矣。</p>
<p>泄痢一門，其用鍾乳健脾丸，朝真丸，駐車丸，呵梨勒丸，大溫脾丸，黃連阿膠丸，胡粉丸，桃花丸，訶梨勒散，木香散，七棗湯，赤石脂散，養臟湯，御米湯，金粟湯，狗頭骨丸，豆蔻丸，肉豆蔻散，三神丸，丁香豆蔻散，止瀉丸，皆用熱藥為主治，以澀藥為佐使，當為腸虛，感寒而成滑痢者設也，彼瀉痢者將無熱證耶？將無積滯邪？內經曰：春傷於風，夏為膿血，多屬滯下，夫瀉痢證，其類尤多，先賢曰：濕多成瀉，此確論也。曰風曰濕固不可得而通治矣。況風與濕之外，又有雜合受邪，似難例用澀熱之劑，今方中書證，有兼治裏急者，有兼治後重，有兼治裏急後重者，此豈非滯下之病乎，今瀉利與滯下混同論治，實實虛虛之患，將不俟終日矣。</p>
<p>或曰：然則瀉痢與滯下為病不同，治法亦別，吾子其其能通之乎？</p>
<p>予曰：經曰暴注下迫，皆屬於熱。又曰暴注屬於火，又下痢清白屬於寒。熱，君火之氣，火，相火之氣，寒，寒水之氣，屬火熱者二，屬水寒者一，瀉痢一證，似乎屬熱者多，屬寒者少，詳玩局方，專以熱澀為用，若用之於下痢清白而屬於寒者，斯可矣。經所謂下迫者，即裏急後重之謂也，其病屬火，相火所為，其毒甚於熱也，投以澀熱，非殺之而何，謹按仲景之法，謂下痢脈滑而數者，有宿食，當下之，下痢脈遲而滑者，實也，痢為未止，急下之，下痢脈反滑，當有所去，下之安，下痢不欲食，有宿食者，當下之。痢腹滿痛為寒為實，當下之。下痢腹堅實，當下之。下痢譫語有燥矢，當下之。下痢二部皆平，按之心下堅急，下之。下痢巳差，至其時復發者，此為下未盡，更下之安。下痢脈大浮弦，下之當自愈，風寒下者，不可下，下後心下堅痛，脈遲，此為寒，宜溫之，脈浮大，此為虛，強下之故也。設脈浮革者，因而腸鳴，當溫之，下痢脈遲緊，痛未欲止，當溫之。下痢心痛急，當救裏，可與理中四逆附子輩，下痢大孔痛，宜溫之，觀仲景可下蓋十法，可溫者五法，謂之下者，率用承氣加減，何嘗以砒丹巴碙，決烈燥熱重毒之劑，謂之溫者，率用薑附為主，何嘗用鍾乳，龍骨，石脂，粟殼緊澀燥毒之劑。</p>
<p>或曰：可下者，豈非腸胃有積滯乎？不用砒丹巴碙，恐積滯未易行也，吾子以為未然，發明承氣之意可乎？</p>
<p>予曰：大黃之寒，其性善走，佐以厚朴之溫，善行滯氣，緩以甘草之甘，飲以湯液，灌滌腸胃，滋潤輕快，無所留滯，積行即止，砒丹巴碙，毒熱類聚，劑成丸藥，其氣凶暴，其體重滯，積垢雖行，毒氣未過，譬如強暴貪賊，手持兵刃，其可使之徘徊顧瞻於堂奧間乎？借使有愈病之功，其腸胃清淳之氣，能免旁損暗傷之患乎？仲景治痢，可溫者溫，可下者下，或解表，或利小便，或待其自已，區別易治難治不治之證，至為詳密，然猶與滯下混同立方，命論其後，劉河間分別在表，在裏，挾風，挾濕，挾熱，挾寒，挾虛，明著經絡，隄防傳變，大概發明滯下證治，元為切要，有行血則便自安，調氣則後重自除，此實盲者之日月，聾者之雷霆也。</p>
<p>或曰：局方治法，將終不能彷彿仲景之方耶。</p>
<p>予曰：圓機活法，內經具舉，與經意合者，仲景之書也，仲景因病以製方，局方製藥以俟病，若之何，其能彷彿也，宋命近臣，讎校方書，彼近臣者，術業素異，居養不同，焉知為醫之事哉，雖然知尊仲景矣，亦未嘗不欲效之也，徒以捧心效西施爾，觀桃花丸一方可見矣，即要略桃花湯也。仲景以治便膿血，用赤石脂丸者，乾薑粳米同煮作湯，一飲病安便止後，藥意謂病屬下焦，血虛且寒，非乾薑之溫，石脂之澀，且重不能止血，粳米味甘，引入腸胃，不使重澀之體，少有凝滯，故煮成湯液，藥行易散，餘毒亦無，局方不知深意，不造妙理，但取易於應用，喜其性味溫補，借為止瀉良方，改為丸藥劑以麵糊，日與三服，其果能與仲景之意合否也。</p>
<p>或曰，河間之言滯下，似無挾虛挾寒者，然乎？否乎？幸明以告我。</p>
<p>予曰：泄痢之病，水殼或化或不化，並無努責，惟覺困倦，若滯下則不然，或膿或血，或膿血相雜，或腸垢，或無糟粕，或糟粕相混，雖有痛不痛大痛之異，然皆裏急後重，逼迫惱人，攷之於經，察之於證，似乎皆熱證實證也。余近年涉瀝亦有大虛大寒者，不可不知，敢筆其略，以備釆覽，余從叔，年踰五十，夏間患滯下病，腹微痛，所下褐色，後重頻，併穀食大減，時有微熱，察其脈皆弦而濇，似數而稍長，卻喜不甚浮大，兩手相等，視其神氣大減，余曰：此非滯下憂慮所致，心血虧，脾氣弱耳，遂與參朮為君，當歸身陳皮為臣，川芎炒白芍藥茯苓為佐使，時暄熱甚，加少黃連，與兩日而安。梅長官年三十餘，奉養厚者，夏秋間，患滯下，腹大痛，有人教服，單煮乾薑，與一帖痛定，少頃又作，又與又定，由是服乾薑至三斤，八日後，予視之左脈弦而稍大似數，右脈弦而稍大減亦似數，重取之似緊，余曰：此必醉飽後，喫寒冷太過，當作虛寒治之，因其多服乾薑，遂教四物湯去地黃，加人參，白朮，陳皮，酒紅花，茯苓，桃仁，煎入生薑汁飲之，至一月而安，金氏婦，年近四十秋，初尚熱，患滯下，腹但隱痛，夜重於晝，全不得睡，食亦稍減，口乾不飲，已得治痢靈砂二貼矣。余視之，兩手脈皆濇，且不勻，神思倦甚，飲食全減，因與四物湯，倍加白朮為君，以陳皮佐之，與十數帖而安，此三病者，若因其逼迫而用峻劑，豈不誤人。</p>
<p>或曰局方諸湯，可以清痰，可以消積，可以快氣，可以化食，口鼻既宜，胸膈亦紓，平居無事，思患預防，非方之良者乎？</p>
<p>予曰：清香美味，誠足快意，揆之造化，恐未必然。經曰：陰平陽秘，精神乃治，氣為陽宜降，血為陰宜升，一升一降，無有偏勝，是謂平人，今觀諸湯，非豆蔻縮砂，乾薑良薑之辛宜於口，非丁香沉檀，蘇桂之香宜於鼻，和以酸鹹甘淡，其將何以悅人，奉養之家，閑佚之際主者，以此為禮，賓朋以此取快，不思香辛升氣，漸至於散，積溫成熱，漸至鬱火，甘味戀膈，漸成中滿，脾主中州，本經自病，傳化失職，清濁不分，陽亢於上，陰微於下，謂之陰平可乎，謂之陽秘可乎，將求無病，適足生病，將求取樂，反成受苦，經曰：久而增氣，物化之常，氣增而久，天之由也，其病可勝言哉。</p>
<p>或曰：舍利別非諸湯之類乎，其香辛甘酸，始有甚焉，何言論弗之及也？</p>
<p>予曰：謂之舍利別者，皆取時果之液，煎熬如餳而飲之，稠之甚者，調以沸湯，南人因名之曰煎味，雖甘美，性非中和，且如金櫻，煎之縮小便，杏煎，楊梅煎，蒲桃煎，櫻桃煎之發冒，火積而至久，濕熱之禍，有不可勝言者，僅有桑椹煎無毒，可以解渴，其餘味之美者，並是嬉笑作罪，然乎？否乎？</p>
<p>或曰：婦人一門，無非經候，胎產帶下，用藥溫暖，於理頗通，吾子其無忘言乎？</p>
<p>予曰：婦人以血為主，血屬陰，易於虧，久非善調攝者，不能保全也。餘方是否，姑用置之，若神仙聚寶丹，則有不能忘言者，其方治血海虛寒，虛熱盜汗，理宜補養，琥珀之燥，麝香之散，可以用乎，面色痿黃，肢體浮腫，理宜導濕，乳香沒藥，固可治血，可以用乎，胎前產後，虛實不同，逐敗養新，攻補難並，積塊堅癥，赤白崩漏，宜於彼者，必防於此，而欲以一方通治乎，世人以其貴細溫平，又喜其常服可以安神，去邪令人有子，殊不知積溫成熱，香竄散氣，服者無不被禍，自非五臟能言，醫者終不知覺，及至變生他病，何曾歸咎此丹，余姪女，形色俱實，以得子之遲，服此藥，背上發癰，證候甚危，余診其詠散大而濇急，以加減四物湯百餘帖，補其陰血，幸其質厚，易於收救，質之薄者，悔將何及，若五積散之治產後餘血作痛，則又有不能忘言者，以蒼朮為君，麻黃為臣，厚朴枳殼為佐，雖有芍藥當歸之補血，僅及蒼朮三分之一，且其方中言，婦人血氣不調，心腹撮痛，閉而不行，並宜服之，何不思產後之婦，有何寒邪，血氣未充，似難發汗，借曰推陳致新，藥性溫和，豈可借用麻黃之散，附以蒼朮枳朴，虛而又虛，禍不旋踵，率爾用藥，不思之甚。</p>
<p>或曰：初產之婦，好血已虧，瘀血尚留，黑神散非要藥歟。</p>
<p>予曰：至哉坤元，萬物資生，理之常也，初產之婦，好血未必虧，污血未必積，臟腑必未寒，何藥為？飲食起居，勤加調護，何病之有，誠有污血體怯而寒，與之數帖亦自簡便，或有他病，當求病起何因，病在何經，氣病治氣，血病治血，寒者溫之，熱者清之，凝者行之，虛者補之，血多者止之，何用海製，此方不恤，無病生病，彼黑神散者，用乾薑當歸之溫熱，黑豆之甘熟，地黃之微寒，以補血之虛，佐以炒蒲黃之甘，以防出血之多，芍藥之酸寒，有收有散，以為四藥之助，官桂之大辛熱，以行滯氣，推凝血，和以甘草之緩，其為取用，似乎精密，然驅逐與補益似難同方施治，設有性急者，形瘦者，本有怒火者，夏月坐蓐者，時有火令，薑桂皆為禁藥，論語未達之戒，不知誰執其咎，至於將護之法，尤為悖理，肉汁發陰經之火，易成內傷之病，先哲具有訓戒，胡為羊雞濃汁作糜，而又常服當歸丸，當歸建中湯，四順理中丸，雖是滋補，悉犯桂附乾薑僣熱之劑，臟腑無寒，何處消受，若夫兒之初生，母腹頓寬，便啖雞子，且喫火鹽，不思雞子難化，火鹽發熱，展轉為病，醫者不識，每指他證，率爾用藥，寧不誤人，余每見產婦之無疾者，必教以卻去黑神散，與夫雞子火鹽，諸般肉食，且與白粥，將理間以些少石首鮝，煮令甘淡，食之至半月以後，方與少肉，若雞子亦須豁開淡煮，大能養胃卻疾，彼富貴之家，驕恣之婦，卒有白帶，頭風氣痛，膈滿痰逆，口乾經水不調，髮脫體熱，皆是陽勝陰虛之病，天生血氣本自和平，曰勝曰虛，又焉知非此等繆妄有以啟之耶。</p>
<p>局方發揮終。</p>
