<header data-type="book">
<h1>廣嗣要語</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>俞橋</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1544">公元1544年</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖間（1522－1566）原刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=3608678fad614375b77de36058ede881fDcyMjQy0&SourceID=1">國家圖書館掃描本</a>）；《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>總論</h1>
<p>盡萬物而觀之。山無不草木。地無不黍稷。人無不生育。要之得其養耳。得其養。則磽者肥。瘠者沃。草木何懼乎不蕃。黍稷何懼乎不秀。夫人亦由是也。苟形質強壯。而嗜欲無節。人之不免虛衰。賦稟怯薄。而攝養有道。終焉亦能完實。不特少健而老衰。早壯而晚憊。滋悟保護之間。固可以視秋冬而復春夏也。昔者名醫羅天益。其年戊午春。桃李始華。雨雪厚寸。一園叟令舉家擊悶墮雪。焚草於下。是年他果蕭然。而此園大熟。然則天地之氣。尚可以力轉移。於人之身。豈無所用其術哉。橋乃不慚愚昧。積以平日所聞。縉紳方士之說。質諸古今名家論議。著為調理精血。直指真源。男女服藥三論。陰陽虛實四圖。合用方法。三十五道。附錄經驗秘方。號曰廣嗣要語。精切曉明。纖芥非隱。信此以行。將見天下無不可父之男。無不可母之女。而螽斯之應。比屋皆然矣。</p>

<h1>調理精血論</h1>
<p>求嗣之要。在乎男精女血充滿而無病也。苟或病焉。必資明醫而證調之。夫精者。血也。水也。陰也。蓋以有形言之也。有形而能時者。則又為氣。為火。為陽。所使然也。論曰。孤陽不生。獨陰不成。無陰則陽無所附。無陽則陰無所依。是精兼氣。血兼水。火兼陰陽。總屬腎與命門二脈。以沉靜為平。若見命門脈微細或絕。陽事痿弱。是為陽虛。法當補陽。若見命門脈洪大鼓擊。陽事堅舉。是焉相火妄動。法當滋陰制火。啟玄子云。性水之主。以制陽光。正此謂也。若見腎脈洪大或數。遺精尿血。是為陰虛。法當補陰。若見腎脈虛微太甚。別無相火為病。法當陰陽雙補。又如經者。血也。水也。陰也。假火色而為赤也。隨氣而行。依陽以運。亦若精之兼氣血。兼水火。兼陰陽者也。其候以一月為期。上應月之盈缺。故名月水。應其期則平。失其期則病先期者血熱也。過期者血虛也。過期而色淡者。有痰也。或曰虛也。經行而成塊者。血之凝也。或曰風冷乘之也。將行而作疼者。氣之滯也。行後而疼者。氣血俱虛也。經水紫黑色者。氣血俱熱也。雖然。又當察其時之寒暄。脈之遲數。證之冷熱。平而調之。以復常候。不可一途而取。夫男女精血既充。別無他疾。惟守投虛之法。是為知要。</p>

<h1>直指真源論</h1>
<p>結胎者。男女精血也。男屬陽而象乾。乾道資始。女屬陰而象坤。坤道資生。陽主動。故能施與。陰主靜。故能承受。夫動靜相參。陰陽相會。必有其時。乃成胎孕。凡經盡一日至三日。新血未盛。精勝其血。血開裹精。精入為骨。男胎成矣。四日至九日。新血漸長。血勝其精。精開裹血。血入居本。女胎成矣。六日至七日。鮮有成者。縱成亦皆女胎。欲求子者。全在經靜三日以里交合。如俯首拾芥。萬舉萬當。斯時男女無暴怒。毋醉飽。毋食炙爆辛熱。毋用他術贊益。陰陽和平。精血調暢。交而必孕。孕而必育。育而為子。堅壯強壽。至真切要。在此數語。受妊之後。宜令鎮靜。血氣安和。則胎孕長養。又須內遠七情。外薄五味。大冷大熱之物。皆在所禁。苟無胎痛。胎動。漏血。瀉痢。及風寒外邪。不可輕易服藥。亦不得交合陰陽。觸動欲火。未產則胎動不常。既產則胎毒不已。降生之後。攝養一如胎前。蓋母食熱則乳熱。母食寒則乳寒。母食膏粱釁烈之物。則乳毒。有是數者。子受其害矣。求嗣之道。誠不出此。然源頭一節。尤當研究。男子十六而精通。必三十而娶。女子十四而天癸至。必二十而嫁。皆欲陰陽二氣完實。或精未通而御女。經始至而近男。未完而傷。未實而動。根本既薄。枝葉必衰。嗣續豈能蕃衍。先儒嘗言。寡欲則有子。蓋寡欲則不妄交合。積氣儲精。待時而動。故能有子。愚謂不止此為寡欲。凡心有所動。即是欲。心主血而藏神。屬手少陰。腎主精而藏志。局足少陰。心神外馳。則腎志內亂。其於交會之際。殊無靜一清寧之氣。所泄之物。同歸腐濁而已。安能發育長養於其間哉。書曰。人心惟危。道心惟微。夫能精一道心。俾常為一身之主。則邪思妄念。自爾退聽。欲寡而神益完。不惟多子。抑且多壽。蓋養生尤貴於寡欲故也。</p>

<h1>男女服藥論</h1>
<p>男子以陽用事。從乎火而主動。動則諸陽生。女子以陰用事。從乎水而主靜。靜則眾陰集。故治男子。毋過溫熱以助其陽。治女子。無過寒涼以益其陰。古人黃柏知母之藥。每用於男子。而乾薑艾葉之劑。慎施於婦人。男女陰陽自然之體。固有不得而同者。至於七情內傷。六淫外浸。發為諸病。治熱以寒。制寒以熱。隨證推移。安能執此。但男女嗣續稍遲。雖無疾病。當加調護。男子陽動之體。惟慮合而易失。未獲中其肯綮。女人陰靜之質。多苦交而弗孕。不能遂其生成。由是培養之術。若不可廢。在男子則用思仙丹。收固真陰。以為持久之計。在女子則用啟榮丸。鼓作微陽。以為發育之基。竊觀古今種子諸方。不偏於寒。即偏於熱。務張其功以矜世。不析其理以示人。往往服之反致求全之毀。故述二方。以為世之求嗣者助焉。</p>

<h1>交會宜忌日</h1>
<p>宜旺相吉日</p>
<p>春甲乙寅卯　夏丙丁巳午　秋庚辛申酉　冬壬癸亥子</p>
<p>忌弦望晦朔。大風大雨。虹霓雷電。雲霧昏暝。日月薄蝕。三光之下。及春秋冬丙丁日。</p>
<p>本命乃劬勞之日。亦不可行也。上宜謹之慎之。</p>
<figure>
<img data-orig-src="urn:270:04868.jpg" alt="實陽能入虛陰之圖">
</figure>
<p>實陽能入虛陰。謂男子陽精充實。適值女人經後血海虛靜。子宮正開。與之交合。是謂投虛。一舉而成胎矣。</p>
<p>經靜一日交會者成男。二日者成女。三日成男。四日成女。五日成男。六日成女。取奇陽偶陰之義。六日無用矣。大抵前三日。新血未盛。精勝其血。血開裹精。必成男胎。後三日。新血漸長。血勝其精。精開裹血。多成女胎。交合得夜半後生氣時。有子皆男而壽。</p>
<figure>
<img data-orig-src="urn:270:04869.jpg" alt="實陰不能受陽之圖">
</figure>
<p>實陰不能受陽。謂女人經盡六日之後。新血方盛。血海充滿。若與交合。以實投實。多不成胎。</p>
<p>又有婦人素稟怯弱。雖經後旬日。血海未滿。亦覆成胎。然皆女子。亦血勝其精故也。</p>
<figure>
<img data-orig-src="urn:270:04870.jpg" alt="弱陰不能攝陽之圖">
</figure>
<p>弱陰不能攝陽。謂女人陰血衰弱。雖投真陽強盛之精。不能攝入子宮。是以交而不孕。孕而不育。或因病後產後經後。將理失宜。勞動過節。虧損陰血所致。治宜調經養血。</p>
<figure>
<img data-orig-src="urn:270:04871.jpg" alt="微陽不能射陰之圖">
</figure>
<p>微陽不能射陰。謂男子陽精微薄。雖遇女人血海虛靜之日。流而不射。多不成胎。蓋因平時嗜欲不節。施泄太多所致。法當補益精元。兼用工夫存養。無令妄動。候陽精充實。才授投虛之法。一舉而成矣。</p>
<p>兩尺脈洪大或數。小便常赤。未交易興。既交易泄。或自遺夢遺。真精不固。治在補陰。</p>
<p>兩尺脈微或遲。小便常清。陽事不舉。勉力入房。未竟先痿。或所泄清冷微薄。治在補陽。</p>

<h1>診婦人有妊歌</h1>
<p>肝為血兮肺為氣。血為榮兮氣為衛。陰陽配偶不參差。兩臟通和皆類例。血衰氣旺定無娠。血旺氣衰應有體。尺微關滑尺帶數。流利往來並雀啄。小兒之脈已見形。數月懷胎猶未覺。左疾為男右為女。流利相通速來去。兩手關脈大相應。已形亦在通前語。左手帶縱兩個男。右手帶橫一雙女。左手脈逆生三男。右手脈順還三女。寸關寸部皆相應。一男一女分形證。有時子死母身存。或即母亡存子命。往來三部通流利。滑數相參皆替替。陽實陰虛脈得明。遍滿胸堂皆逆氣。左手太陽浮大男。右手太陰沉細女。諸陽為男諸陰女。指下分明長記取。三部沉正等無疑。尺內不止真胎婦。母乘子兮縱氣露。妻乘夫兮橫氣助。子乘母兮逆夫參。夫乘妻兮順氣護。小兒日足胎成聚。身熱脈亂無所苦。汗出不食吐逆時。精神結備其中住。滑疾不散胎三月。但疾不散五月母。弦緊牢強滑者安。沉細而微歸泉路。</p>

<h1>妊娠雜病併產生死二歌余不能盡錄也</h1>
<p>血下如同月水來。漏極胎乾主殺胎。亦損妊母還須慮。爭遣神丹救得回。</p>
<p>欲產之時脈離經。沉細而滑也同名。夜半覺痛應分誕。來日日午定知生。（此歌與前歌皆出脈訣也）</p>

<h1>調元</h1>
<p>陽虛。右尺命門脈微細。陽痿精清。還少丹。巨勝子丸。</p>
<p>陰虛。左尺腎脈洪大或數。遺精尿血淋澀等症。丹溪大補陰丸。補陰丸。加味虎潛丸。</p>
<p>相火妄動。陽事數舉。右尺命門脈洪大。此為水不勝火。與陰虛同治法。補陰則火自降也。陰陽俱虛。兩尺脈微弱無力。真精清薄。用八味丸。補天丸。</p>

<h1>調經</h1>
<p>先期者。血熱。四物加芩連之類。</p>
<p>過期者。血虛。四物加參耆白朮陳皮之類。</p>
<p>經水紫黑色及有塊者。血熱。四物加黃芩黃連香附之類。</p>
<p>若見腎肝脈遲微。小腹冷痛者。屬寒。四物加炒乾姜之類。</p>
<p>將行而作疼者。血實氣滯。四物加醋炒莪朮玄胡索木香。挾熱加黃連柴胡。或四物加桃仁紅花香附之類。行後而作疼者。氣血俱虛。八物湯。</p>
<p>經行不止。四物加阿膠地榆荊芥穗之類。</p>

<h1>安胎</h1>
<p>胎痛。乃血少。四物加童便制香附。共為末。紫蘇湯調下。有所激觸而痛者。芎歸湯探之。</p>
<p>胎動屬火。四物加條芩之類。</p>
<p>胎動不安及下血。集驗方秦艽湯。</p>
<p>胎動下血。或因房室不節。有所觸動。四物加膠艾條芩白朮之類。</p>
<p>妊娠惡阻。肥人有疾。瘦人有熱。胃氣不安。人參橘皮湯。保生湯。集驗青竹茹湯。懷胎不問幾個月日。但覺胎氣不安。腰腹微痛。飲食不美。用安胎飲。</p>

<h1>便產</h1>
<p>妊娠七八個月。恐胎氣展大難產。宜服束胎丸。妊娠八九個月。肥厚膏粱之人。胎氣壅隘。宜服枳殼散。間二三日一服。或達生散。救生散。臨月用神寢丸。三合濟生湯。</p>
<p>難產用催生丹。遇仙丹。如聖膏。豬肝蜜酒法。</p>
<p>胎衣不下。或血乾或血冷凝澀。當用奪命丹。牛膝湯。或前方如聖膏。</p>
<p>一方用紅花一兩。酒煮濃汁服。</p>
<p>一法令產婦自啣髮尾在口。嘔噦即下。</p>

<h1>轉女為男法</h1>
<p>受妊之後。用弓弦一條。絳囊盛。帶婦人左臂近肩。垂繫腰下。滿百日去之。</p>
<p>雄黃一兩。絳囊盛。帶左邊。斧一把。置產婦床頭。仍置刃床下。勿令人知。雞抱卵時。置斧窠下。皆雄雞也。</p>

<h1>附方</h1>
<p><u>秘傳金鎖思仙丹</u></p>
<p>治男子過多嗜欲。精氣不固。澀以去脫之劑也。</p>
<p>蓮花蕊（十兩暖無毒鎮心忌地黃蒜）　石蓮子（十兩味甘平溫無毒經秋正黑沉水者是也本功益氣安心止汗治腰痛泄精入藥內去青薏取淨粉）</p>
<p>雞頭實（十兩味甘平無毒益精氣強志取其實並中子搗爛曝乾再搗篩取淨粉）</p>
<p>上以金櫻子三斤。取霜後半黃者。木臼中轉杵。卻刺勿損。擘為兩片。去子水淘淨。搗爛入大鍋內。以水煎不絕火。約水耗半。取出濾過。重煎如稀餳。市肆乾者倍之。用水浸軟。去子煎。令如法入前藥末和丸。桐子大。每服三十丸。空心鹽湯下。一月見效。即不走泄。候女人月信住。取車前子一合水煎。空心服之。一交即孕。依法服至多日。精神完固。能成地仙。平時忌葵菜。車前子。按本草。金櫻子味酸澀。平無毒。療脾泄。澀精氣。精氣滑脫者。服之自固。或言其性澀。乃因無是病而用是藥。且無配製而作煎單服者。籲。澀可去脫。十劑之一法。良工不能更其道也。夫雞頭實。味甘平無毒。補中益精。石蓮子。味甘寒無毒。安心神。養氣力。治泄精。蓮花蕊。暖無毒。鎮心益顏色。服餌家取雞頭實。熬金櫻。煎和丸。補下益。名水陸丹。仙方取雞頭實。並蓮實合餌食之。能駐年。昔人得其一二。功效若此。思仙合眾妙而有之。信可尚矣。</p>
<p><u>玉鑰啟榮丸</u></p>
<p>治女子無他疾。經事調勻。容顏不損。但久無胎孕。先師云。婦人者眾陰之所集。常與溫居。今失所養。則子宮有陰無陽。不能生髮。用此丸平調氣血。鼓作微陽。生育之要藥也。</p>
<p>人參　白朮　甘草　當歸　赤石脂　川芎　茯苓　芍藥（俱要白者）　熟地　牡丹皮　沒藥　白芷　藁本　白薇　玄胡索（上各一兩除石脂沒藥另研外其餘用醇酒浸三日焙曬乾為細末足一十五兩）　香附（去皮毛水醋浸三日炒乾為細末一十五兩）</p>
<p>上藥一十六味。重羅極細末。煉蜜丸如梧桐子。瓷器中封固。每服五十丸。空心溫酒或白湯送下。以乾物壓之。待月事調勻。受娠為度。</p>
<p><u>還少丹</u></p>
<p>治右尺命門脈微細。陽事痿弱。精氣不足。陽虛之證。</p>
<p>山藥　牛膝（去蘆酒浸）　遠志（去心）　巴戟（去心）　山茱萸（去核）　茯苓　五味　蓯蓉　杜仲（炒去絲）　石菖蒲　茴香（各一兩）　枸杞　熟地（各一兩半）　楮實子（一兩）</p>
<p>上為末。煉蜜和棗泥丸。如梧桐子大。每服三五十丸。溫酒或鹽湯送下。日三服。食前。</p>
<p><u>巨勝子丸</u></p>
<p>治右尺命門脈虛微欲脫。陽痿不舉。陽脫之證。</p>
<p>熟地（四兩）　生地　牛膝（酒洗川的）　枸杞（甘州）　何首烏　茯苓（白的）　天雄（炮）　天門冬（去心）　柏子仁　巴戟（去心）　五味（北者）　山藥　楮實　酸棗仁　續斷（各一兩）　韭子　川椒　蓮芯（各五錢）　覆盆子（一兩）　木香（三錢半）　巫蓉（一兩）　芡實（五錢）　巨勝子　菟絲子　破故紙（炒各一兩）　葫蘆巴（五錢）</p>
<p>上焉末。煉蜜丸。桐子大。每服七十丸。甚虛者百丸。空心溫酒下。</p>
<p><u>大補陰丸</u></p>
<p>治左尺腎脈洪大或數。遺精水血。壯水之要藥。</p>
<p>黃柏（鹽酒炒）　知母（各四兩制同）　龜板（酥炙）　熟地（各六兩）</p>
<p>上為末。煉蜜和豬脊髓丸。如桐子大。每服七十丸。空心鹽白湯下。</p>
<p><u>補陰丸</u></p>
<p>治左尺腎脈洪大或數。精元不固。補陰制火之藥也。</p>
<p>黃柏（半斤鹽酒炒）　知母（同上制）　熟地（各三兩）　芍藥（炒白）　川牛膝（酒洗）　陳皮　鎖陽　當歸（各一兩半）　龜板（四兩酒浸酥炙）　虎頸骨（一兩制同）</p>
<p>上為末。酒煮羊肉丸。如桐子大。每服五十丸。空心鹽白湯下。冬加乾薑半兩。</p>
<p><u>加味虎潛丸</u></p>
<p>治左尺腎脈虛數。精神短少。腰膝無力。補腎養血氣之劑。</p>
<p>人參　黃耆（蜜炙）　芍藥（炒白的）　黃柏（酒炒各一兩）　菟絲子（酒炒五錢）　當歸（酒洗）　山藥（各一兩）　鎖陽（酥炙）　龜板（酒浸酥炙）　虎頸骨（制同）　枸杞（甘州各五錢）　杜仲（酥炙去絲）　五味（各七錢半）　牛膝（酒洗二兩）　破故紙（七錢半）　熟地（四兩）</p>
<p>上為末。煉蜜和豬脊髓丸。如桐子大。每服百丸。空心溫酒或鹽湯送下。</p>
<p><u>八味丸</u></p>
<p>治兩尺脈微弱。陰陽俱虛。雙補之劑。</p>
<p>熟地（半斤）　澤瀉　茯苓（白）　牡丹皮（各三兩）　山藥（四兩）　附子（炮去皮臍）　桂心（各一兩）　山茱萸（四兩）</p>
<p>上為末。煉蜜丸如桐子大。每服十五丸。溫酒送下。日再服。</p>
<p><u>補天丸</u></p>
<p>治六脈虛微。氣血衰弱。虛勞證。具補天一以生水之劑。</p>
<p>紫河車一具（即胞衣男用女胎女用男胎俱以初胎為主若不可得即壯盛婦人者亦可）　黃柏（酒炒）　龜板（炙各三兩）　杜仲（酥炙）　牛膝（酒浸）　陳皮（各一兩）</p>
<p>冬加乾薑五錢。夏加五味子一兩。已上共為細末。先以河車水洗淨。布絞乾。或用酒煨熟。入諸藥末。共搗勻焙燥。再為末。酒糊丸。如桐子大。每服百丸。空心溫酒或白沸湯送下。</p>
<p><u>四物湯</u></p>
<p>治女子血分或寒或熱。經事或前或後。或多或少。以至崩帶積塊諸症。用此加減。</p>
<p>當歸　川芎　芍藥　熟地</p>
<p>上等分。水煎。</p>
<p>芎歸湯　一名佛手散</p>
<p>補血治血。生新逐敗。婦人胎前產後。可皆服也。</p>
<p>當歸（酒浸）　川芎（各等分）</p>
<p>上銼。每服四五錢。入酒一鍾煎。令欲干。加水一鍾。再煎二三沸。去渣溫服。</p>
<p><u>安胎飲</u></p>
<p>治婦懷娠。不問幾個月日。但覺胎氣不安。腰腹微痛。飲食不美。此湯主之。</p>
<p>白朮　芍藥（白）　熟地　當歸（各一錢）　廣陳皮（五分）　人參　川芎　黃芩（各五分）　甘草　縮砂仁　紫蘇（各二分）</p>
<p>上銼作一服。加生薑一片。水煎溫服。</p>

<h1>集驗方</h1>
<p>治婦人胎動不安及下血。</p>
<p>艾葉　阿膠　川芎　當歸（各三錢）　甘草（一錢）</p>
<p>上銼。水四鍾。煎取二鍾。去滓納膠令化。分三服。一日用。</p>
<p><u>秦艽湯</u></p>
<p>治證同前。</p>
<p>秦艽　阿膠（蛤粉炒）　艾葉（醋炒）</p>
<p>上等分為粗末。每服五錢。水二盞。糯米百粒。煎至一盞。去滓溫服。</p>
<p><u>人參橘皮湯</u></p>
<p>治始妊娠噁心阻食。和中安胃之藥也。</p>
<p>白朮　人參（去蘆）　橘紅　門冬（去心各二兩）　白茯苓（二兩）　厚朴（薑製二兩）　甘草（三錢）</p>
<p>上為粗末。每服四錢。水鍾半。淡竹茹彈子大一枚。姜三片。煎七分。去滓澄清。溫服。空心。食前。</p>
<p><u>保生湯</u></p>
<p>治婦人惡阻。養胃調氣之要藥也。</p>
<p>人參（八分）　甘草（五分）　白朮　烏藥　香附子（各一兩）　橘紅（一錢二分）　嘔吐加丁香</p>
<p>水一鍾半。姜五片。煎七分。去渣溫服無時。</p>
<p><u>集驗青竹茹湯</u></p>
<p>治婦人惡阻。清痰止嘔氣之要藥也。</p>
<p>竹茹（彈大一枚）　橘皮（一錢五分）　生薑（二錢）　茯苓（一錢五分）　半夏（二錢湯泡七次）</p>
<p>水二鍾。煎七分。去渣溫服。忌羊肉餳鮓等物。</p>
<p><u>束胎丸</u></p>
<p>治婦人妊娠七八個月。恐胎氣展大難產。用此扶助母氣。緊束兒胎。</p>
<p>白朮（三兩）　陳皮（二兩忌火）　茯苓（七錢半）　條芩（酒炒夏一兩春秋七錢五分冬五錢）</p>
<p>上為末。粥糊丸。桐子大。每服五六十丸。白湯米飲。食前任下。</p>
<p><u>枳殼丸</u></p>
<p>治婦人妊娠八九個月。稟質肥厚。胎氣壅隘。服此以寬和母氣。令兒易產。</p>
<p>香附（一兩炒）　粉草（炙一兩半）　商州枳殼（五兩麩皮炒赤）　</p>
<p>上為末。每服二錢。空心沸湯點服。日三次。</p>
<p>一方加炒糯米。同為末。白湯點服。令兒易產。初生微黑。百日肥白。此為古方之冠。若妊婦稍弱。恐胎寒腹痛。胎弱多驚。於內可加當歸一兩。木香五錢。不見火則陽不致強。陰不致弱。二氣調和。有益胎嗣。</p>
<p><u>達生散</u></p>
<p>治婦人妊娠八九個月。服此以扶正氣。散滯氣。妊婦稍虛者。得此尤佳。</p>
<p>白朮　芍藥　當歸　陳皮　大腹皮（薑製）　人參（各五分）　甘草（一錢半）　紫蘇莖葉（五分）</p>
<p>上作一劑。水煎服。夏加黃芩或黃連五味子。春加川芎防風。秋加澤瀉。冬加縮砂。或通加枳殼縮砂。胎動加苧根金銀花。上氣加紫蘇地黃。性急加柴胡。多怒加黃芩。食少加縮砂神麯。渴加麥門冬黃芩。能食加黃楊腦。有痰加半夏黃芩。</p>
<p><u>救生散</u></p>
<p>治妊娠婦稟受瘦怯。不宜服枳殼散破氣之藥。此方安胎益氣。令子緊小易產。</p>
<p>人參　神麯（炒）　麥芽（炒）　白朮（麩炒）　橘紅（炒）　訶子（煨去核）</p>
<p>上六味。各等分。為細末。每服三錢。水二鍾。煎至七分。空心食前溫服。議者謂今時八月。合進瘦胎易產之藥。多用枳殼散非為不是。但妊婦肥實者可也。若本瘦怯。不宜服此藥。惟救生散安胎益氣。令子緊小。無病易產。最為穩當。</p>
<p><u>神寢丸</u></p>
<p>治妊婦臨產月日。破滯氣。瘦胎易產。</p>
<p>商州枳殼（一兩麩炒）　通明乳香（五錢另研）　</p>
<p>上為末。煉蜜丸如桐子大。空心溫酒或米飲送下。臨月用之瘦胎易產。極有功效。</p>
<p><u>二合濟生湯</u></p>
<p>以枳殼芎歸達生三方。抽其精粹而合成此湯。治臨產艱難。雖一二日不下者。服此自然轉動下生。</p>
<p>枳殼（二錢麩炒）　香附（一錢半炒）　粉草（七分）　川芎（三錢）　大腹皮（薑汁洗一錢五分）　當歸（三錢）　蘇葉（八分）</p>
<p>上水二鍾。煎八分。待腰腹痛甚。服之即產。</p>
<p><u>催生丹</u></p>
<p>療產婦生理不順。產育艱難。或橫或逆。大有神效。宜天醫日合。</p>
<p>臘月兔腦（去膜研如泥即十二月）　母丁香（一錢為末）　通明乳香（一錢研細末）　麝香（一字研細）</p>
<p>上以乳麝丁香拌勻。入兔腦髓和丸。如芡實。陰乾油紙密封固。臨產服一丸。溫水送下立產。男左女右。手中握藥出。神驗。</p>
<p><u>催生不傳遇仙方</u></p>
<p>治婦人坐草艱難。</p>
<p>硃砂　雄黃（各一錢半）　蛇蛻（煅）　蓖麻子（十四顆去殼）</p>
<p>上為細末。粥糊丸。彈子大。臨產時先用川椒湯淋洗臍下。納藥一丸臍中。仍以蠟紙數重覆藥上。軟帛拴系。產則急取藥去。一丸可用三次。</p>
<p><u>如聖膏</u></p>
<p>治證同前。</p>
<p>用蓖麻七粒去殼。細研去膏。塗腳心立產。急洗藥去。遲則腸出。卻以此膏塗頂上。腸自縮入。</p>
<p>一方用蓖麻子百粒。雄黃末一錢。同研用如前法。</p>
<p><u>豬肝蜜酒方</u></p>
<p>治婦人胞水早行。胎澀不下。</p>
<p>豬肝　白蜜　醇酒（各一升）</p>
<p>上三味共煎至二升。分作二三服。不能服者隨多緩少。漸漸服之。</p>
<p><u>奪命丹</u></p>
<p>治婦人血冷凝滯。胎衣不下。</p>
<p>大黃（釅醋煎膏）　牡丹皮（各四錢）　乾漆（一錢炒煙盡）　黑附子（炮二錢去皮）</p>
<p>上為末。以大黃膏同雞子白搗勻。桐子大。溫酒急吞五七丸。如未下。再用後方。</p>
<p><u>牛膝湯</u></p>
<p>治婦人生理不順。用此滑利水道。令兒易產。　</p>
<p>牛膝（酒洗）　木通　瞿麥　當歸（酒洗各一錢）　滑石（二錢）　葵菜子（一錢二分半如無用黃蜀葵花）　</p>
<p>上銼分三服。水二鍾。煎八分溫服。須先合預備。</p>

<h1>廣嗣附方</h1>
<p><u>五子衍宗丸</u></p>
<p>男服此藥。添精補髓。疏利腎氣。不問下焦虛實寒熱。服之自能平秘。舊稱古今第一種子方。有人世世服此藥。子孫蕃衍。遂成村落之說。</p>
<p>嘉靖丁亥於廣信鄭中丞宅。得之張神仙四世孫。予及數人。用之殊驗。</p>
<p>枸杞子（甘州）　菟絲子（各八兩酒蒸搗餅）　車前子（二兩揚淨）　五味子（遼東二兩研碎）　覆盆子（四兩酒洗去目）　</p>
<p>上藥俱擇道地精新者。焙曬乾。共為細末。煉蜜丸。桐子大。每服空心九十丸。上床時五十丸。白沸湯或鹽湯送下。冬月用溫酒下。修合日春取丙丁巳午。夏取戊巳辰戌丑未。秋壬癸亥子。冬取甲乙寅卯。忌師尼鰥寡之人及雞犬六畜見。</p>
<p><u>百子附歸丸</u></p>
<p>女服此藥。調經養血。安胎順氣。不問胎前產後。月事參差。有餘不足諸證。悉皆治之。殊益胎嗣。比太僕史鮑璧。台州人。其妻年三十不生育。忽經事不至者十月。腹鼓大無病容。皆謂妊娠。一日。忽產惡物盈褲。視之皆敗痰精血。後服此丸。不期年。生一子。張云。彼嘗以此二方與諸人服。無不應者。</p>
<p>阿膠（真的蛤粉炒成珠）　川芎（去蘆）　當歸（肥大者酒洗去蘆）　蘄艾（去筋梗醋煮乾）　芍藥（肥長白者）　熟地（懷慶者去腦取沉水者各二兩）　香附（赤心者去毛杵成米水醋各浸一宿曬焙乾一十二兩）</p>
<p>上為極細末。用大陳榴一枚。連皮搗碎。東流水三升熬去滓。打麵糊為丸。桐子大。每服百丸。空心陳米醋點沸湯下。日一服。上二方亦俞子木所別傳者。</p>
<p><u>大造丸</u></p>
<p>治男子女人一切虛弱。不問老幼。或稟氣素弱。或斫喪太過。陽事早痿。面色痿黃。形體尫羸。口不能呼。足不能任地。或老年虛憊。氣血俱衰。或女人月水不調。或常小產。或多生女少生男。凡是氣血虛損不足之症。艱於嗣育者。並宜服此當有奇效。</p>
<p>紫河車（一具用米泔水洗淨新瓦上焙乾為末須初生男女為妙又法用銀器加淡酒水內蒸化入藥）　敗龜板（年久者良童便浸三日酥炙黃二兩除腰背痠疼骨中寒熱）　生地黃（懷慶肥大者二兩五錢入砂仁六錢白茯苓二兩稀絹包入銀罐內好酒煮乾添酒七次去茯苓砂仁只用地黃涼心火血熱除五心熱）　天門冬（去心一兩二錢去熱養肌膚生津保肺氣）　牛膝（去苗酒浸曬乾一兩二錢壯陽益精主腰脊疼痛除四肢拘攣）　杜仲（酥炙去絲一兩五錢強腎壯筋骨益氣主腰疼）　人參（去蘆一兩止渴生津和中益氣安神止驚悸）　</p>
<p>夏月加五味子。（七錢）</p>
<p>一方加麥門冬。（去心一兩二錢）</p>
<p>男子遺精。婦人帶下。並加牡蠣。（一兩五錢）</p>
<p>婦人加當歸二兩。去龜板。</p>
<p>上藥除地黃。另用木石杵臼內春一日。余藥各為末。和地黃膏搗極勻。酒米糊為丸。如小豆大。每服八九十丸。空心鹽湯進一服。寒月以好酒進亦妙。</p>
<p><u>神效墨附丸</u></p>
<p>專治婦人久無子。有經事不調。及數墮胎者服之。可立致效。</p>
<p>香附（一斤要北方香附米去毛分四分浸一分好酒浸一分童便浸一分米泔浸一分醋浸各七日七夜）　艾綿（四兩要潔淨無塵梗者用醋二大碗同香附一處煮乾石臼內約杵三千下以爛為度捻如餅子只錢樣厚用新瓦炭火焙乾搗為細末）　茯苓（淨白者）　人參（去蘆）　當歸（酒浸一宿）　川芎（去土大實者）　上徽墨（火煆醋淬各一兩）　木香（五錢要廣南者為真）　熟地黃（用酒浸去土又以酒浸一宿飯上蒸過一兩）　</p>
<p>上九味。各為細末。醋糊為丸。如桐子大。每服五十丸。空心好酒下。此方乃聞人道長所傳。</p>
<p><u>何首烏丸</u></p>
<p>喬白岩服。</p>
<p>牛膝（去苗梗生一斤）　何首烏（三斤用銅刀或竹刀切作片）</p>
<p>上藥以黑豆一斗淘淨。用甑一所。先以豆薄鋪甑底。後薄鋪何首烏。又鋪豆。又鋪牛膝。重重鋪盡。安於釜上蒸之。令豆熟為度。去豆取藥曝乾。又換豆蒸之。如此三次。去豆取藥為末。蒸棗肉為丸。如桐子大。每服三五十丸。食前溫酒下。忌蘿蔔蔥蒜。何首烏乾者米泔水浸。稍軟切之。</p>
<p><u>又方</u></p>
<p>蕭東之傳云。蔣敬所服此。</p>
<p>何首烏雌雄各半斤。銅刀刮去粗皮為片。米泔水浸。夏一宿。春秋二宿。冬三宿取出曬乾為末。無火病以棗肉為丸。否則蜜丸。清晨鹽湯下。或酒下尤佳。本草服何首烏用茯苓煎湯。似勝鹽湯。</p>
<p>上二方。楊後江掌科傳。後江自服此連孕。及人傳服者皆驗。</p>
<p><u>延年益嗣丹</u></p>
<p>男子服。</p>
<p>生地黃（酒浸二宿取出曬乾）　天門冬（酒浸一二時取出去心曬乾）　熟地黃（酒洗淨曬乾）　麥門冬（酒浸一二宿取出去心曬乾各三兩）　地骨皮（五兩酒洗淨曬乾）　白茯苓（五兩去粗皮切作片酒浸過取出曬乾）　人參（去蘆三兩上好者方用）</p>
<p>何首烏半斤。鮮者用竹刀刮去皮。切作片。乾者用米泔水浸軟。刮去皮。切作片。用砂鍋內下用烏羊肉一斤。烏豆三合。量著水上。用竹篦放此藥後。覆蓋蒸一二時辰。取出曬乾。共為細末。煉蜜為丸。如桐子大。每服三五十丸。用酒送下。清晨服之。崇德縣韓主簿傳。</p>
<p><u>加味益母丸</u></p>
<p>婦人服。</p>
<p>川芎　木香（廣）　芍藥（赤的）　當歸（各一兩）　益母草（半斤）</p>
<p>上為末。煉蜜丸如桐子大。每服五十丸。用好酒或童便酒送下。其妙如神。服百丸有孕。</p>
<p>上二方。余與荊妻親服有驗者。</p>
<p><u>加味養榮丸</u></p>
<p>女人服之有孕。且無小產之患。</p>
<p>當歸（酒浸洗）　白朮（各二兩）　芍藥（煨）　黃芩（炒）　香附子（炒各一兩五錢）　貝母　陳皮（去白）　茯苓（白）　人參　麥門冬（去心各一兩）　阿膠（炒七錢）　甘草（炙五錢）　川芎（一兩半）　熟地（酒浸二兩）　黑豆（大者炒去皮四十九粒）　</p>
<p>上為細末。煉蜜丸如桐子大。每服七八十丸。食前空心鹽湯或溫酒任下。忌食諸血。</p>
<p><u>四制香附丸</u></p>
<p>當歸（酒浸）　芍藥（酒炒）　熟地（薑汁炒）　川芎（各四兩）　澤蘭葉　白朮　陳皮（各二兩）　黃柏（酒炒）　甘草（酒炒各一兩）　香附（一斤四兩醋四兩酒四兩鹽湯四兩童便各浸二日炒）</p>
<p>上為末。酒糊丸桐子大。每服七十丸。空心白湯下。調經養血。順氣健脾。信服有妊。</p>
<p><u>壬子丸</u></p>
<p>依方修合此藥服之。不過半月一月有孕。試之屢見效。故附錄</p>
<p>乳香（三兩）　白芨　白蘞　茯苓（白淨）　吳茱萸（各一兩）　牛膝　細辛（各五錢）　菖蒲　當歸　白附子（各少許）　厚朴　桂心　沒藥　人參（各四兩）</p>
<p>上為細末。煉蜜丸用壬子日修合。如紅豆大。每服十丸有效。若男子服補益。若孕婦服之。即生雙始。空心好酒送下。無夫婦者不可服。</p>
<p><u>琥珀調經丸</u></p>
<p>治婦人無子。能令經正。</p>
<p>香附（一斤一半童便一半醋各浸七日）　蘄艾（四兩揀去枝梗加入香附攪勻再加好醋五碗入砂鍋內同煮乾為度日中曬乾磨為細末另加末藥）　當歸（酒洗）　川芎　芍藥（煨各三兩）　琥珀（一兩另研）　熟地（酒蒸另杵入糊）　生地（酒浸各二兩另杵入糊）　</p>
<p>上為細末。共一處搗極細。同為丸。用醋糊丸如桐子大。每服一百丸。空心艾醋湯送下。</p>
<p><u>濟陰丹</u></p>
<p>當歸　川芎（各四兩）　香附（一斤）　生乾地黃（四兩去苗）　好大艾葉（一斤去梗蘄艾尤妙）　赤芍藥（四兩）</p>
<p>上分為四分。一分醋浸。一分童便浸。一分鹽水浸。一分酒浸。俱各過一宿。用醋三壺拌勻。以砂鍋煮乾醋為度。取出曬乾為末。醋打麵糊為丸。如桐子大。一日三食。食前每服五六十丸。令人體壯經調有孕。且服久諸病不作。</p>
<p><u>雛鳳丸</u></p>
<p>用頭窠烏骨雞雌雄各一隻。置放一處。不可與群雞相混。候生卵時。將初生頭卵記放。待生卵數足。將初生卵。頭巔開一竅。用辰砂三錢。當歸芍藥川芎熟地黃各二錢。為細末。將卵黃傾出。和藥末仍入殼內。以厚紙封之。眾卵內覆之。待群雞生。將藥卵去殼。以蜜丸之。塗心好酒服三四十丸。此極見效。藥盡干有孕。此方宣府鎮守總兵馬儀都督所傳。</p>
<p>香附丸　又名煮附丸</p>
<p>專宜妾婢。蓋妾婢多郁。情不宣暢。經多不調。故難孕。此方最妙。不須更服他藥。</p>
<p>以香附不拘多少。去毛並粗皮。米泔水浸一宿。曬乾。用上好米醋。砂鍋內同煮之。旋干旋添。以煮透極爛為度。取出焙乾為末。仍用醋糊為丸。如桐子大。每服五七十丸。經不調者。即調。久不孕者。亦孕。</p>
<p><u>溫臍種子方</u></p>
<p>白芷　青鹽（各二錢）　麝香（一分）　五靈芝（二錢）</p>
<p>上各為末。以蕎麥麵湯和搓成條。圈於臍上。以前藥實於其條。以艾灸之。但臍內微溫即好。不過二三度。</p>
<p><u>兜肚方</u></p>
<p>升麻　丁皮　甘松（各七錢）　白檀（一兩）　零陵香（五錢）　麝香（九分）　白芷（五錢）　木鱉（八錢）　兜苓　馬蹄香（各五錢）　血竭（五錢）　羚羊角（一兩）　分作三個兜肚內。</p>
<p>以上共十二味。用蘄艾綿絮裝於白綾兜肚內。初服者用三日後一解。至第五日復服。至一月後常服。專治痞積。遺精。白濁。婦人赤白帶下。及婦人經脈不調。久不受孕者。惟孕婦不可服。</p>
<p><u>益母草丸</u></p>
<p>只一味為末。不犯鐵器。煉蜜丸如彈子大。每服一丸。久服亦令人有子。此先祖蘭窗公所常施而有驗者。其婦人胎前產後諸疾。治不無效。服法備載於積堂方中。在前冊。</p>
<p><u>妊婦五忌</u></p>
<p>崑山顧狀元刊施二法。</p>
<p>一勿睡熱炕。南方火廂亦同。</p>
<p>一勿飲燒酒。黃酒有藥者。亦不宜飲。</p>
<p>一勿食煎炒炙煿之物。</p>
<p>一勿食蔥韭蒜薤胡椒茱萸。</p>
<p>一勿於星月下仰臥。及當風洗浴坐臥。</p>
<p><u>小兒五宜</u></p>
<p>一小兒初生。先煎濃黃連甘草湯。急用軟絹或絲綿。包指蘸藥。摳出口中惡血。倘或不及。即以藥湯灌之。待吐出惡沫。方與乳吃。令出痘稀。</p>
<p>一初生三五月。宜繃縛令臥。勿豎頭抱出。免致驚癇。</p>
<p>一乳與食。不宜一時混吃。兒生疳癖痞積。</p>
<p>一宜用七八十歲老人舊裙褲。改小兒衣衫。令兒有壽。雖富貴之家。切不可新制紵絲綾羅氈絨之類與小兒穿。不惟生病。抑且折福。</p>
<p>愚意滿月受賀宴賓。宰殺亦恐不宜。</p>
<p>一兒生四五個月。止與乳吃。六個月以後。方與稀粥哺之。周歲以前。切不可吃葷腥。並生冷之物。令兒多疾。若待二三歲後。腑臟稍壯。才與葷腥。最好最好。</p>
<p><u>延生第一方</u></p>
<p>鎮江錢醫宮傳。</p>
<p>小兒初生。臍帶脫落後。取置新瓦上。用炭火四圍燒至煙將盡。放土地上。用瓦盞之類蓋之。存性研為末。預將硃砂透明者。為極細末水飛過。臍帶有五分重。硃砂用二分五釐。生地黃當歸身煎濃汁。一二蜆殼調和前兩味。抹兒上臊間及乳母乳頭上。一日之內。晚至盡。次日大便遺下穢汙之物。終身永無瘡疹。及諸疾。生一子得一子。十分妙法也。（臍與硃砂重輕對半放）</p>
<p><u>神功消毒保嬰丹</u></p>
<p>凡小兒未出痘瘡者。每遇交春分秋分時服一丸。其痘毒能漸消化。若只服一二次者。亦得減少。若服三年六次。其毒盡能消化。必保無虞。此方神秘。本不欲輕傳。但慈幼之心。自不能已。願與四方好生君子共之。</p>
<p>纏豆藤（一兩五錢其藤八月間收取毛豆梗上纏繞紅絲者便是採取陰乾此藥為主妙在此藥）　黑豆（三十粒）　赤豆（七十粒）　荊芥　防風　川獨活（各五錢）　黃連　桔梗　甘草　當歸（酒洗）　赤芍藥（各五錢）　山楂（取肉）　辰砂（水飛另研）　生地（各一兩）　連翹　新升麻（各七錢半）　牛蒡子（一兩紙炒過）　苦絲瓜（二個長五寸隔年經霜方妙可燒灰存性為極細末）　</p>
<p>上各為細末和勻。淨砂糖拌丸。李核大。每服一丸。濃煎甘草湯化下。</p>
<p>其前項藥。須預辦精料。遇春分秋分。或正月十五日七月十五日修合。務在精誠。忌婦人貓狗見。合時向太陽祝藥曰。神仙真藥。體令自然。嬰兒吞服。天地齊年。吾奉太上老君急急如律令敕。一氣七遍。</p>
<p>凡沿初生小兒口內並牙齦生白點者。名馬牙。不能食乳。此與鵝口不同。少緩即不能救。多致夭傷。急用針縛筋上。將白點挑破出血。用好京墨薄荷湯。以手指碾母油發蘸墨遍口內擦之。勿令食乳。待睡一時醒。方與乳。再擦之即愈。</p>
<p><u>牛黃抱龍丸</u></p>
<p>此屢服屢驗方。治一切急慢驚風。及風熱風癡。用薄荷煎湯。磨服一丸。兒小作二三次服。</p>
<p>茯苓　雄黃　人參（各一錢半）　殭蠶（三分）　膽南星（八錢）　鉤藤（一兩半）　辰砂（一錢二分）　天竺黃（二錢五分）</p>
<p>另將牛黃二分。麝香五分。同研極細。入前藥末內。又精研。俟將甘草四兩銼碎。用水二大碗煎成膏一盞。入藥末內。丸如芡實大。金箔為衣。陰乾藏之。勿令泄氣。每近微火邊。</p>
<p>上附方乃自驗及人所服驗。皆秘方也。茲其闡錄以廣前方之所未備。蓋人之稟養不齊。病亦隨異。故方各有宜。擇而用之。則罔不效矣。其保嬰數方。後嗣之道也。因並附焉。</p>
<p><u>去胎毒仙方</u></p>
<p>懷孕後。值夏秋天暖。吞生綠豆每日七粒。石菖蒲湯送下。並能去胎瘋。每日七粒。以四十九粒為度。愈多愈好。</p>
<p><u>四精膏</u></p>
<p>除赤障熱痛。</p>
<p>蜂蜜（花之精）　人乳（人之精）　青魚膽（水之精）　羯羊膽（草之精）</p>
<p>上等分。用瓷盞盛貯。在飰上蒸熟。入瓷瓶中。將黃蠟油紙封固。懸掛井中。七日取起。點眼甚妙。以匙挑出少許嚥下亦可。</p>
<p><u>又海上方</u></p>
<p>昔日一官。往揚州府到任。雙目不明。屢醫無效。偶爾一道人傳一仙方。要擇於冬至日。摘桑葉一百四十葉。若樹上無葉。有落在地下者撿起。收用亦好。照依後開日期。每日用葉十片。水一碗。煎至八分。澄清溫洗。洗目之日。戒酒除葷。忌房事。如不忌不效。洗至一年。明如童目。經驗屢效。續將此方傳於四方。患眼之士。仍候冬至日。取摘桑葉。照依前法制造。救了六七百人。有九十老者。洗眼一年。亦如童子。刊刻傳施。萬千陰隲。莫大之功行也。</p>
<p><u>洗眼日期</u></p>
<p>正月（初八）　二月（初十）　三月（初五）　四月（初八）　五月（初五）　六月（初六）　七月（初七）　八月（初三）　九月（初三）　十月（十九二十）　十一月（初十）　十二月（二十一二十二）</p>
<p><u>絕妙烏須方</u></p>
<p>非他方可比。樂庵道人傳。</p>
<p>用烏骨白雄雞一隻。取血入瓷瓶內。然後取螞蝗一百條入水中。養二十七日取出。俱要活的。又用京墨一兩。打碎放盞內。少放水。坐水鍋中。煮化開。傾入雞血內。隨將螞蝗同入。封固瓶口一個月後。再入水銀三錢。硼砂三錢。再封固一月。其色如漆。用時先將皂角水洗淨須。次用豬膽皮套二指。蘸藥捻鬚。稍直黑到根。</p>
<p><u>神仙通氣散</u></p>
<p>至真至妙。非他方可比。</p>
<p>蛤蚧（一對要全者炙）　母丁香（二錢）　沉香（二錢）　胡椒（五錢）　大茴香（五錢）　廣木香（三錢）　麝香（一錢）　</p>
<p>共為細末。用大淡蝦米一斤。淨取半斤。用好燒酒半杓浸透。滾藥末在上。入瓷罐盛之。再加好燒酒入罐浸之。慢火煮六七個時辰。候冷定取出。曬乾收貯。勿令出氣。行房時用好酒送下二三枚。後用淡醋湯解之。</p>
<p><u>鸞鏡法</u></p>
<p>硃砂　硇砂　硼砂　雌黃　雄黃　硫黃　銅綠　無名異</p>
<p>上八味各等分。硫黃減半。同研極膩。用龜尿。無則好醋。調研。描畫人物詩句在鏡上。即用稻草火燒鏡。以鏡背有水珠為度。埋藏土中去火氣。冷定取出磨淨。如有人物模樣古鏡不可。</p>
<p><u>百病紫霞丹</u></p>
<p>清氣化痰。寬胸除穢。止嘔吐。安五臟。其功不可盡述。</p>
<p>沉香　丁香　甘松　廣木香（各三錢）　薄荷（一兩）　砂仁　檀香（白）　豆蔻（白）　百藥煎（各五錢）　硼砂（五錢）</p>
<p>共為細末。粉草半斤切碎。用水十餘碗浸一宿。次日入鍋內。煎五七沸。濾去滓。止用汁。熬用膏。取出碗內。入桂花膏一兩。冰片一錢調勻。將前藥末和勻。如黍米大。入口噙化一丸。</p>
<p><u>治牙疼方</u></p>
<p>用冰片半分。硃砂半分。擂勻擦患處。</p>
<p><u>治喉痛方</u></p>
<p>取牛膝白根。同米泔水搗汁。以口嗽之即吐。久之其痛自止。根赤者不用。</p>
<p><u>治腫毒</u></p>
<p>在上食遠。在下空心服。</p>
<p>軟石膏　硬石膏　紫河車（各五錢金線重樓者便是）</p>
<p>上三味。如男生諸腫。女人手一順同酒擂之。以醉為度。女人生腫。男子擂服。順擂再不可逆。妙全在此。河車價亦不貴。酒宜熱服。</p>
<p><u>治小腸疝氣方</u></p>
<p>升上疼者。服此即止。</p>
<p>取龜尾草。焙乾煅灰存性。加何首烏葉亦煅灰。二味一大撮。煮酒空心送下。甚者不過二三服。</p>
<p><u>治腫毒方</u></p>
<p>如腫毒初起。見其勢凶。即將雞子敲入一鍾井花水內。攪勻食之。甚者五六次。即內消矣。</p>
<p><u>治臟毒方</u></p>
<p>人參（一錢五分）　臺術（微炒）　枳殼（炒）　黃連（炒）　地榆　芍藥（白者）　陳皮（炒）　槐花（炒末各一錢）　甘草（五分）　烏梅（七個搗碎）　扁柏頭（七枝）</p>
<p>椿樹根皮朝東南者一撮。共作一服。</p>
<p>上水二大鐘。煎八分。空心與食前服。渣再煎。</p>
<p><u>清氣化痰丸</u></p>
<p>南星　半夏（各五兩）　生薑　皂角　白礬亦各五兩。用河水煮一晝夜。揀去姜礬皂莢。只用南星半夏。切片陰乾後。加</p>
<p>枳實（炒江西的）　橘紅（五兩）　黃連（炒）　黃芩（炒各五兩）　茯苓（白二兩）　甘草（生二兩）　栝蔞仁（去殼研去油如泥去油夾草紙打）　杏仁（湯泡去皮尖去油研如泥亦前法各二兩）</p>
<p>上為細末。用蒸餅打薄。薄糊丸。如綠豆大。每服一錢五分。食遠與臨睡時。白滾湯下。清茶亦可。</p>
<p><u>十全大補湯</u></p>
<p>能治諸虛。</p>
<p>人參　黃耆　白朮（炒）　茯苓（各一錢）　生地　當歸　黃連（炒各七分）　甘草（五分）　肉桂（三分）　川芎（五分）</p>
<p>上㕮咀。水二鍾。煎八分。食前服。</p>
<p><u>白濁方</u></p>
<p>左共四方。紫泉兄傳於盛丸有驗者也。</p>
<p>破故紙（五錢）　罌粟米（二錢五分）</p>
<p>倘不愈。倒數目服之。</p>
<p>上二味。炒為細末。空心白滾湯下。好酒亦可。</p>
<p><u>治心痛方</u>（驗過）</p>
<p>用花鹼三錢。將熱煮酒半鍾攪勻。乘熱服即散。</p>
<p><u>治諸般頭痛方</u></p>
<p>亦春丸方。分兩不可瘥。</p>
<p>防風　羌活　藁本　細辛　軟柴胡（各八分）　黃芩（酒沙）　白芷　天麻（各一錢）　川芎（一錢五分）　白芍藥（酒浸炒一錢）　半夏（薑汁製七分）　姜（三片）</p>
<p>上水二鍾。煎八分。食遠服。不拘遠近。服之即愈。</p>
<p><u>治癬方</u></p>
<p>川槿皮（君）　白芨（臣）　剪草（佐）　巴豆（使）</p>
<p>為末擦之。</p>
<p><u>又方</u></p>
<p>先用穿山甲扒去蓋。然後取水搽上。</p>
<p>甘草　川槿皮（各一兩）</p>
<p>上二味。用梅水浸於瓶中。五六日箸頭扎布擦之。</p>
<p><u>藥蠅方</u></p>
<p>鬥嵎傳。</p>
<p>梨蘆　剪草</p>
<p>用白酒同飰浸一宿。去酒留飰。蠅食即死。</p>
<p><u>治豬瘟方</u></p>
<p>川烏　草烏　白芷　蒼朮　豬牙皂角</p>
<p>上藥等分為細末。用蘆吹入鼻中。嚏之即愈。</p>

<h1>附論一篇</h1>

<h2>論童壯</h2>
<p>未弱冠為童。過三十為壯。夫壽夭貧富天也。去就邪正人也。共叔段以母偏愛。而失身於不法。孟母三遷。而孟子終為亞聖。今夫少者甜處著嘴。穩處著腳。不趨過庭之訓。復厭舞雩之風。讒師佞友。左右瞰亡。蕭牆夾壁。沽酒市脯。困極告醫。惟務速效。怨天尤人。莫知反躬。孟子曰。學問之道無他。收其放心而已。心神守舍。則飢渴寒溫之外。自不多事也。孔子曰。人之少也。血氣未定。戒之在色。古法以男三十而婚。女二十而嫁。又當觀其血色強弱。而抑揚之。察其稟性淳漓。而權變之。則無曠夫怨女之瘵也。孔子曰。及其壯也。血氣方剛。戒之在鬥。夫鬥者非特鬥狠。相持為鬥。胸中才有勝心。即自傷和。學未明而傲。養未成而驕。志不行則鬱而病矣。自暴自棄。言不及義而狂矣。孟子曰。由仁義行。非行仁義也。如欲行仁義以求安樂者。吾見其為不安樂也。此少壯攝養之道。棄此大道。而別求傍蹊曲徑。以資分外者。必致廢事蕩家。而怪誕無恥也。大抵血氣盛壯之時。難以制抑。凡事當先知心。是吾之靈明。主人一切好欲。欺侮凌奪肆恣。皆是血氣所使。倘犯刑名災害。明是主人自取苦辱也。常作此想者。自然漸成。古今修性養命之術。恐名利之士難行。並不抄入。凡除夏日之外。五日一沐。十日一浴。若頻浴則外覺調暢。而內實散氣泄真也。年二十者。必不得已。則五日一施泄。三十者十日一施泄。四十者一月一施泄。其人弱者。更宜慎之。毋恣生藥。以貽父母之憂。而自取枉夭之禍。能保始終者。卻疾延年。老當益壯。名曰陸地行仙。雖有貧富之異。而榮衛沖融。四時若春。比之抱病而富且貴。則已霄壤之間矣。況能進進不已。則非常人所可知也。但於名利場中。得失任命。知止知足。則漸入道鄉也。道者非特寂寂枯槁之謂也。如所謂素富貴。則行此道於富貴。素貧賤。則行此道於貧賤爾。關尹子曰。圓爾道。方爾德。平爾行。銳爾事。孔子曰。志於道。據於德。依於仁。遊於藝。故內外三聖之言。未嘗不契。蓋藝為應世之術。故曰銳利乃事。仁為泛愛之常。故曰平爾行。德方則不移。而有所得於心。有所據於事。道圓則通而不執。故無所不容。而德行廣大。志無不在也。何嘗盡廢諸事。然後謂之攝養哉。特消息否泰而行之藏之。量其才能而負之荷之。以不流於物。故謂之攝。以安其分。故謂之養。抱朴子云。若才不逮而強思。力不勝而強舉。深憂重恚。悲哀憔悴。喜樂過度。汲汲所欲。慼慼所患。談笑不節。興寢失時。挽弓引弩。沉醉嘔吐。飽食即臥。跳走喘乏。懽呼哭泣。皆為過傷。此古人所戒之文。況夫風前月下。竹徑花邊。俯仰傷懷。杯余疏散。進退失度。或沖煙冒瘴以求榮。呼吸雜邪。停留寵辱。飲食共味。荏苒暴患。各有治條。當斯之時。即迴光返照。少駐元神。以行藥力。毋復縱聰明以凌爍粗工。而自取多事也。嗚呼。三皇大聖。日總萬機。而又能拳拳於天下民瘼。下禮折節於方外士。而講道論醫以廣其傳。今之學者一身未知所以自治。而以人治之。則孰為多乎。而況又欲為治人者。難矣哉。余嘗作返樸論。其辭有云。倏與忽欲報混沌之德。而相與謀曰。人皆有七竅。以為食息。而混沌獨無。嘗試鑿一竅。七日而混沌死。有客對余曰。吾有術以起混沌之死。但一年修一竅。七年而混沌復生。余曰。固哉之學也。何以為誇尚乎。吾能以一息回混沌之生。而息息與之俱生。故視斯明。聽斯聰。言斯辯。而余未嘗以有視聽與言。而人亦未嘗以余為聰明與辯。固不補其鑿而混沌自全。夫是之謂聰明與辯。高明之士。能於此處具眼。則養生必有主也。不攝之方。並類其次。</p>

<h2>論衰老</h2>
<p>少年既往。歲不我與。孔子曰。及其老也。血氣既衰。戒之在得。蓋因馬念車。因車念蓋。未得則慮。得之亦慮。失之趑趄。囁嚅而未決。寤寐驚悸而不安。夫二五之精。妙合而凝。兩腎中間。白膜之內。一點氣動。大如箸頭。鼓舞變化。開闔周身。熏蒸三焦。消化水穀。外御六淫。內當萬慮。晝夜無停。八面受攻。由是神隨物化。氣逐神消。榮衛告衰。七竅反常。啼號無淚。笑如雨流。鼻不嚏而涕出。耳無聲而蟬鳴。吃食口乾。寐則涎溢。溲不利而自遺。便不通而或泄。由是真陰妄行。脈絡疏澀。晝則對人瞌睡。夜則獨臥惺惺。故使之導引擦摩。以通徹滯固。嗽津咽液。以灌溉焦枯。若扣齒集神而不能斂念。一曝十寒。而徒延歲月。雖云老者非肉不飽。肥則生風。非帛不暖。暖則多淫。僥倖補藥者。如油盡添油。燈焰高而速滅。老子云。以其厚生。所以傷生也。況有明修禮貌。暗伏奸雄。曲糵腐其腸胃。脂粉惑其清真。孤陽獨盛。水穀易消。自恃飲啖過人。恣造欺天之罪。宿緣既盡。惡報臨頭。其或厭飫沉酣。身居勤儉。志益貪婪。方聚龜毛之壇。忽作女子之夢。宋齊丘化書云。慳吝者化為狗。暴勇者化為虎。雖然身未遷謝。業已成行矣。先賢詩云。克己工夫未肯加。吝驕封閉縮如蝸。試於靜夜深思省。剖破藩籬即大家。先賢戒曰。積金以遺子孫。子孫未必能守。積書以遺子孫。子孫未必能讀。不如多積陰隲於冥冥之中。以為子孫長久之計。龐居士詩云。北宅南莊不足誇。好兒好女眼前花。忽朝身沒一丘土。又屬張三李四家。張紫陽詩云。人生雖有百年期。壽夭窮通莫預知。昨日街頭方走馬。今朝棺內已眠屍。妻財遺下非君有。罪業將行難自欺。大藥不求難得遇。遇之不煉更迷癡。蓋年老養生之道。不貴求奇。先當以前賢破幻之詩。洗滌胸中。憂結。而名利不苟求。喜怒不妄發。聲色不因循。滋味不耽嗜。神慮不邪思。無益之書莫讀。不急之務莫勞。三綱五常。見成規模。貧富安危。且據見定。邵康節云。美酒飲教微醉後。好花須看半開時。又云。爽口物多終作疾。快心事過必為殃。與其病後求良藥。孰若病前能自防。又詩云。慮少夢自少。言稀過亦稀。簾垂知日永。柳靜覺風微。但看花開謝。不言人是非。何須尋洞府。度世也應遲。龐居士云。但願空諸所有。慎勿實諸所無。余有詩云。世人用盡機關。只為貪生怕死。我有安樂法門。直須顛倒於此。晉有祁孔賓。夜間讀書。忽聞窗外云。祁孔賓隱去來修飾。人間事甚苦不堪偕。所得未毫銖。所喪如山崖。晁文元公法藏碎金云。眾所好者。虛名客氣。宄其羨財。予所好者。天機道眼。法要度門。又云。觀身無物。從幻化緣生。觀心無物。從顛倒想生。又云。身有安全敗壞者。事之報也。即世而可見。性有超升淪墜者。行之報也。異世而不知。譬如形聲之有影響。必然之理也。又云。人有疾苦。或多偶爾非因所作。無如之何。歷觀幻化之軀。而有甚於此者。能推此理。足以自寬。又云。仕宦之間。暗觸禍機。袵席之上。密涉畏途。輪迴之中。枉入諸趣。古人云。心死形方活。心強身即亡。金剛經云。云何降伏其心。川老子須云。你喜我不喜。君悲我不悲。雁飛思塞北。鶯憶舊巢歸。秋月春花無限意。箇中只許自家知。虛靜天師云。靈岩皎潔似冰壺。只許元神裡面居。若向此中留一物。平生便是不清虛。老子云。虛其心。實其腹。是皆融智慧黠聰明。而宅天和以卻百邪者也。豈比夫三千六百傍門小法。加之於萬境煎熬之心。而頭上安頭。又以金石草。木剛烈之劑。餌之於喪津枯涸之體。而求補益哉。歷觀前人以不仁成家。以仁而保家者有之矣。如以不仁而得。復以不仁而守者。禍不旋踵也。晉書傳云。石季龍僭稱帝號。發近郡男女十六萬。車十萬乘。運土築華林園。揚州送黃鵠雛五。頸長一丈。聲聞十餘里。泛舟於玄武池。命子石宣祈于山川。因而遊獵。乘大輅。羽葆華蓋。建天子旌旗十有六。軍戎卒十八萬。出自金明門。季龍從其後宮。升凌霄觀望之。我家父子如是。自非天崩地陷。當復何愁。但抱子弄孫日為樂耳。宣所過三州十五郡資儲。靡有孑遺。季龍覆命子石韜亦如之。出自幷州。遊於秦晉。宣所惡韜寵。是行也。嫉之彌甚。於是相圖之計起矣。俄而宣使刺客殺韜於佛舍。又欲謀不軌。事發。季龍殺之。季龍既死。其後殲焉。嗚呼。季龍之富貴而不足恃。而今之碌碌者。十百之帑。又奚足以作威福而造業因哉。今雖枯槁幽棲。而衣冠出處。未嘗用餕餡故事。以孔子之性與天道。不可得而聞也。故託佛以言性耳。佛云。一切山河天地。皆從如來性中流出。然則佛之一字。乃一切有情之覺靈也。實為大羅空劫。先天之祖氣。即元始天尊是也。人人皆抱此靈而不自覺。故佛經云。一切眾生。本來成佛。以不覺故名曰眾生。以覺故名曰佛。今之地獄變相。乃唐太宗以入冥境界。命宰相閻立本圖畫。以示世人。余少年滑稽之時。未嘗不在談笑之下。一日在外因病困極。恍惚所見。與吾家骨肉所夢同日。境界因緣。無有少異。遂絕口不敢戲謔。後讀史傳語錄文字。始知近代以來。王公卿士。於佛書中獲大安樂者。不可枚舉。故韓昌黎排之至甚。而終得法於大顛。歐陽文忠公惡之如仇敵。而亦號為六一居士。豈非自有所得。翻然而改者歟。悲夫。世人不明佛心。而溺於佛事。故梁武帝之禍。侯景至而不知。秦始皇欲仙。徐福去而不返。況夫瑣瑣勝事。而能勝其業障乎。夫業障之心。以酒為漿。以妄為常。念念遷謝。晝夜呼吸。共一萬三千五百息。一息脈行三十。元氣周身。脈行八百一十丈。寒來暑往。知誘物迷。神明流之遠矣。養生之士。以此為主。則是認賊為子。豈不謬哉。故岐伯曰。出入廢則神機化滅。升降息則氣立孤危。易曰。精氣為物。遊魂為變是也。昔有二人。就余以辯生死事大者。一曰。人之有生也。賦性於天。養命於地。百年之身。仁義而已。及其終也。清魂歸天。濁魄歸地。夫復何疑。二曰。人之生也。以身為我。以得為強。以妄為常。蟲穢之倉。愁慮之囊。或為之讓。或為之攘。均為孳孳。一名殘忍。一名忠良。拘之則心目外寇。縱之則血氣內戕。欲持其要。莫知所長。業識茫茫。一息不來。烏知其何往。余各以一詩遣之。其一曰。原始要終理不訛。四非莊敬怕蹉跎。平生不踐中庸地。一曲陽關沒奈何。其二曰。超凡一句絕商量。說破教君笑斷腸。一切順違生死事。莫令厭戀作心王。有人能如此。便見養生王也。大抵桑榆之景。勞逸不同。蓋勞心者甚於勞力者耳。蓋為心王者。勞亦如是。逸亦如是。如魚飲水。冷暖自知也。其餘扶衰潤槁之方。各類於後。</p>
<p><u>上夫扶衰潤槁之方。與前所云不攝之方。備見養生主論。茲不具錄。</u></p>
