<header data-type="book">
<h1>蘭室秘藏</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1276">公元1276年</data></dd></div>
<div><dt>底本</dt><dd>明初葉刊巾箱本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=942015d0e68f4356ac790e1adb83a204fDcyMTc50&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·蘭室秘藏》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0054/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>飲食勞倦門</h2>

<h3>飲食所傷論</h3>
<p>陰陽應象論雲水谷之寒熱感則害人六腑痹論云陰氣者靜則神藏躁則消亡飲食自倍腸胃乃傷此乃混言之也分之為二飲也食也飲者水也無形之氣也因而大飲則氣逆形寒飲冷則傷肺病則為喘咳為腫滿為水瀉輕則當發汗利小便使上下分消其濕解酲湯五苓散生薑半夏枳實白朮之類是也如重而蓄積為滿者芫花大戟甘遂牽牛之屬利下之此其治也食者物也有形之血也如生氣通天論云因而飽食筋脈橫解腸澼為痔又云食傷太陰厥陰寸口大於人迎兩倍三倍者或嘔吐或痞滿或下痢腸澼當分寒熱輕重而治之輕則內消重則除下如傷寒物者半夏神麯乾薑三稜廣朮巴豆之類主之如傷熱物者枳實白朮青皮陳皮麥蘖黃連大黃之類主之亦有宜吐者陰陽應象論云在上者因而越之瓜蒂散之屬主之然而不可過劑過劑則反傷腸胃蓋先因飲食自傷又加之以藥過故腸胃復傷而氣不能化食愈難消矣漸至羸困故五常政大論云大毒治病十去其六小毒治病十去其七凡毒治病不可過之此聖人之深戒也</p>

<h3>勞倦所傷論</h3>
<p>調經篇云陰虛生內熱岐伯曰有所勞倦形氣衰少穀氣不盛上焦不行下脘不通而胃氣熱熱氣熏胸中故內熱舉痛論云勞則氣耗勞則喘且汗出內外皆越故氣耗矣夫喜怒不節起居不時有所勞傷皆損其氣氣衰則火旺火旺則乘其脾土脾主四肢故困熱無氣以動懶於語言動作喘乏表熱自汗心煩不安當病之時宜安心靜坐以養其氣以甘寒瀉其熱火以酸味收其散氣以甘溫補其中氣經言勞者溫之損者溫之者是也金匱要略云平人脈大為勞脈極虛亦為勞矣夫勞之為病其脈浮大手足煩熱春夏劇秋冬瘥脈大者熱邪也極熱者氣損也春夏劇者時助邪也秋冬瘥者時勝邪也以黃耆建中湯治之此亦溫之之意也夫上古聖人飲食有節起居有常不妄作勞形與神俱百歲乃去此謂治未病也今時之人去聖人久遠則不然飲食失節起居失宜妄作勞役形氣俱傷故病而後藥之是治其已病也推其百病之源皆因飲食勞倦而胃氣元氣散解不能滋榮百脈灌溉臟腑衛護周身之所致也故蒼天之氣貴清靜陽氣惡煩勞噫飲食喜怒之間寒暑起居之際可不慎歟</p>

<h4>調中益氣湯</h4>
<p>治因飢飽勞役損傷脾胃元氣不足其脈弦洪緩而沉按之中之下得時一澀其證四肢滿悶肢節疼痛難以屈伸身體沉重煩心不安忽肥忽瘦四肢懶倦口失滋味腹難舒伸大小便清利而數或上飲下便或大便澀滯或夏月餐泄米穀不化或便後見血或便見白膿胸滿短氣咽膈不通痰唾稠黏口中沃沫食入反出耳鳴耳聾目中流火視物昏花胬肉紅絲熱壅頭目不得安臥不思飲食並皆治之</p>
<p>橘皮（如腹中氣不轉運加木香一分如無此證不加）</p>
<p>黃柏（酒洗各二分）</p>
<p>升麻（此一味為上氣不足胃氣與脾氣下流乃補上氣從陰引陽）</p>
<p>柴胡（各三分）</p>
<p>人參（有嗽者去之）</p>
<p>炙甘草</p>
<p>蒼朮（各五分）</p>
<p>黃耆（一錢）</p>
<p>如時顯熱躁是下元陰火蒸蒸然發也加生地黃（二分）</p>
<p>黃柏（三分）</p>
<p>如大便虛坐不得或大便了而不了腹中常常逼迫皆是血虛血澀加當歸身（三分）無此證則去之如身體沉重雖小便數多亦加茯苓（二分）黃柏（三分）澤瀉（五分）蒼朮（一錢）時暫從權而去濕也不可常用兼足太陰已病其脈亦絡於心中故顯濕熱相合而生煩亂</p>
<p>如胃氣不和加湯洗半夏（五分）生薑（三片）有嗽者加生薑生地黃（二分）以製半夏之毒</p>
<p>如痰厥頭痛非半夏不能除此足大陰脾邪所作也</p>
<p>如無以上證只服前藥</p>
<p>上件銼如麻豆大都作一服水二大盞煎去渣稍熱食遠服之寧心絕慮靜坐少語藥必為效耳</p>
<p>如夏月須加白芍藥（三分）</p>
<p>如春月腹中痛尤宜加</p>
<p>如惡熱而渴或腹痛者更加芍藥（五分）生黃芩（二分）如惡寒腹痛加中桂（三分）去黃芩謂之桂枝芍藥湯亦</p>
<p>於前藥中加之</p>
<p>如冬月腹痛不可用芍藥蓋大寒之藥也只加乾薑（二分）或加半夏（五七分）以生薑少許制之</p>
<p>如秋冬之月胃脈四道為衝脈所逆脅下少陽脈二道而反上行名曰厥逆其證氣上衝咽不得息而喘息有音不得臥加吳茱萸（五分至一錢湯洗去苦）觀厥氣多少而用之亦於前藥中作一服服之</p>
<p>如夏月有此證為大熱也此病隨四時為寒熱溫涼也宜以</p>
<p>黃連（酒洗）　黃柏（酒浸）　知母（酒浸各等分）</p>
<p>上為細末熟湯為丸如梧桐子大每服一百丸或二百丸白湯送下空心服仍多飲熱湯服畢少時便以美食壓之使不令胃中停留直至下元以瀉衝脈之邪也大抵治飲食勞倦所得之病乃虛勞七損證也常宜以甘溫平之甘多辛少是其治也</p>

<h4>寬中喜食無厭丸（一名寬中進食丸）</h4>
<p>資形氣喜飲食</p>
<p>木香（五分）　青皮　人參　乾薑（各一錢）　炙甘草（一錢五分）　白茯苓　澤瀉　檳榔　橘皮白朮（各二錢）　縮砂仁　豬苓（各二錢半）　半夏（七錢）　枳實（四錢）　草豆蔻仁（五錢）　神麯（五錢半炒）　大麥蘖面（一兩炒）</p>
<p>上為細末湯浸蒸餅為丸如梧桐子大每服三五十丸米湯下食遠服</p>

<h4>交泰丸</h4>
<p>升陽氣瀉陰火調榮氣進飲食助精神寬腹脅除怠惰嗜臥四肢沉困不收</p>
<p>乾薑（炮製三分）　巴豆霜（五分）　肉桂（去皮搗一錢）　人參（去蘆一錢）　柴胡（去苗）　白朮小椒（炒去汗子並閉目各一錢五分）　厚朴（去皮炒三錢秋冬加七錢）　苦楝（酒煮）　白茯苓縮砂仁（各三錢）　知母（四錢一半酒炒一半酒洗春夏用秋冬去）　川烏（炮製去皮膚四錢五分）吳茱萸（湯洗七次五錢）　皂角（水洗煨去皮弦）　紫菀（去苗各六錢）　黃連（去須七錢秋冬減一錢五分）</p>
<p>上除巴豆霜別研外同為極細末煉蜜為丸如梧桐子大每服十丸溫水送下食遠虛實加減</p>

<h4>木香人參生薑枳朮丸</h4>
<p>開胃進飲食</p>
<p>乾生薑（二錢五分）　木香（三錢）　人參（三錢五分）　陳皮（四錢）　枳實（一兩炒）　白朮（一兩五錢）</p>
<p>上為細末荷葉裹燒飯為丸如梧桐子大每服三五十丸溫水下食前</p>

<h4>木香乾姜枳朮丸</h4>
<p>破除寒滯氣消寒飲食</p>
<p>木香（三錢）　乾薑（五錢炮）　枳實（一兩炒）　白朮（一兩五錢）</p>
<p>上為細末荷葉裹燒飯為丸如梧桐子大每服三五十丸溫水送下食前</p>

<h4>扶脾丸</h4>
<p>治脾胃虛寒腹中痛溏瀉無度飲食不化</p>
<p>乾生薑　肉桂（各五分）　乾薑　藿香　紅豆（各一錢）　白朮　茯苓　橘皮　烏梅肉　訶子皮　炙甘草　半夏（各二錢）　神麯（炒）　大麥蘖（炒各四錢）</p>
<p>上為細末荷葉燒飯為丸如梧桐子大每服五十丸白湯送下食前</p>

<h4>和中丸</h4>
<p>補胃進食</p>
<p>人參　乾生薑　陳皮（各一錢）　乾木瓜（二錢）　炙甘草（三錢）</p>
<p>上為細末湯浸蒸餅為丸如梧桐子大每服五十丸白湯送下食前</p>

<h4>檳榔丸</h4>
<p>破滯氣消飲食</p>
<p>炙甘草（一錢）　木香　人參　檳榔（各二錢）　陳皮（五錢）</p>
<p>上為細末湯浸蒸餅為丸如梧桐子大每服五十丸白湯下食前</p>

<h4>消積滯集香丸</h4>
<p>治傷生冷硬物不消</p>
<p>京三稜　廣朮　青皮　陳皮　丁香皮　益智　川楝子　茴香（各一兩）　巴豆（和皮米炒焦五錢）</p>
<p>上為細末醋糊為丸如綠豆大每服五七丸溫水生薑湯送下食前服</p>

<h4>黃耆湯</h4>
<p>補胃除濕和血益血滋養元氣</p>
<p>木香（氣通者去之）　藿香葉（各一錢）　當歸（酒洗）　陳皮（各二錢）　人參　澤瀉（各五錢）　黃耆（一兩）</p>
<p>上㕮咀每服五錢水二大盞煎至一盞如欲汗加生薑煎食遠熱服之</p>

<h4>黃耆當歸湯</h4>
<p>治熱上攻頭目沿身胸背發熱</p>
<p>當歸身（一錢酒洗）　黃耆（五錢）</p>
<p>上㕮咀作一服水二大盞煎至一盞食前熱服</p>

<h4>參朮湯</h4>
<p>治脾胃虛弱元氣不足四肢沉重食後昏悶</p>
<p>黃柏（酒浸）　當歸（各二分）　柴胡　升麻（各三分）　人參　陳皮　青皮（各五分）　神麯末（七分）　炙甘草　蒼朮（各一錢）　黃耆（二錢）</p>
<p>上㕮咀都作一服水二大盞煎至一盞食遠服</p>
<p><u>益智和中丸</u>　（李秋合）</p>
<p>木香　黃連　生地黃（各二分）　黃耆　人參　麥門冬　神麯末　當歸身　乾生薑　陳皮薑黃（各五分）　縮砂仁（七分）　桂花（一錢）　桂枝（一錢五分）　益智仁（二錢二分）　炙甘草（二錢五分）麥蘖面（三錢）　草豆蔻仁（四錢）</p>
<p>上為細末湯浸蒸餅為丸如梧桐子大每服五十丸白湯下細嚼亦當</p>

<h4>益胃散</h4>
<p>治因服寒藥過多以致脾胃虛損胃脘疼痛</p>
<p>人參　甘草　縮砂仁　厚朴（各二錢）　白豆蔻　薑黃　乾生薑　澤瀉（各三錢）　益智仁（六錢）　黃耆　陳皮（各七錢）</p>
<p>上為粗末每服三錢水二盞生薑五片煎至一盞去相食前溫服</p>

<h3>脾胃虛損論</h3>
<p>易水張先生常戒不可峻利食藥下咽未至藥丸施化其標皮之力始開便言快也所傷之物已去若更待一兩時辰許藥盡化開其藥峻利必有情性病去之後脾胃既損是真氣元氣敗壞促人之壽當時設下一藥枳實一兩麩炒黃色為度白朮二兩隻此二味荷葉裹燒飯為丸以白朮甘溫甘溫補脾胃之元氣其苦味除胃中之濕熱利腰臍間血故先補脾胃之弱過於枳實克化之藥一倍枳實味苦寒泄心下之痞悶消化胃中所傷此一藥下胃其所傷不能即去須侍一兩時辰許食則消化是先補其虛而後化其所傷則不峻利矣當是之時未悟用荷葉燒飯為丸之理老年味之始得可謂奇矣荷葉之物中央空象震卦之體震者動也人感之生足少陽甲膽者風也生化萬物之根蒂也內經云履端於始序則不愆人之飲食入胃營氣上行即少陽甲膽之氣也其手少陽三焦經人之元氣也手足經同法便是少陽元氣生髮也胃氣穀氣元氣甲膽上升之氣一也異名雖多止是胃氣上升者也荷葉之體生於水土之下出於汙穢之中不為所染挺然獨立其色青形乃空青而象風木者也食藥感此氣之化胃氣何由不上升乎其主意用此一味為引用可謂遠識深慮合於道者也更以燒飯和藥與白朮協力滋養穀氣而補令胃厚再不至內傷其利廣矣大矣若內傷脾胃辛熱之物酒肉之類自覺不快覓藥於醫醫者亦不問所傷敷之集香丸小丁香丸巴豆大熱藥之類下之大便下則物去遺留食之熱性藥之熱性重傷元氣則七神不熾經云熱傷氣正謂此也其人必無氣以動而熱困四肢不舉傳變諸疾不可勝數使人真氣自此衰矣若傷生冷硬物世醫或用大黃牽牛二味大寒藥投之隨藥下所傷去矣遺留食之寒性藥之寒性重瀉其陽陽去則皮膚筋肉血脈無所依倚便為虛損之證論言及此令人寒心夫辛辣薄味之藥無故不可亂服非止牽牛而已至真要大論云五味入口各先逐其所喜攻攻者克伐瀉也辛味下咽先攻瀉肺之五氣氣者真氣元氣也其牽牛之辛辣猛烈傷人尤甚飲食所傷腸胃邪當以苦泄其腸胃可也肺與元氣何罪之有用牽牛大罪有五此其一也況胃主血所生病為物所傷物者有形之物也皆是血病瀉其氣其罪二也且飲食傷之於中焦止合克化消導其食重瀉上焦肺中已虛之氣其罪三也食傷腸胃當塞因塞用又曰塞因塞用枳實大黃苦寒之物以泄有形是也反以辛辣牽牛散瀉真氣大禁四也殊不知針經有云外來客邪風寒傷人五臟若誤瀉胃氣必死誤補亦死其死也無氣以動故靜若內傷腸胃而反瀉五臟必死誤補亦死其死也陰氣有餘故躁今內傷腸胃是謂六腑不足之病反瀉上焦虛無肺氣肺者五臟之一數也雖不即死若更旬日之間必暗損人壽數謂如人壽應百歲為牽牛之類朝損暮損其元氣消耗不得終其天年但人不覺耳將為天年已盡此乃暗裡折人壽數大禁五也故特著此論並方庶令四海聞而行之不至夭橫耳此老夫之用心也胃氣不可不養復明養胃之理內經雲安谷者昌絕谷者亡水去則榮散谷消則衛亡榮散衛亡神無所依仲景云水入於經其血乃成谷入於胃脈道乃行故血不可不養胃不可不溫血養胃溫榮衛將行常有天命谷者身之大柄也書與周禮皆云金木水火土谷惟修以奉養五臟者也內傷飲食固非細事苟妄服食藥而輕生殞命其可乎哉黃帝針經有說胃惡熱而喜清冷大腸惡清冷而喜熱兩者不和何以調之岐伯曰調此者食飲衣服亦欲適寒溫寒無悽愴暑無出汗飲食熱無灼灼寒無悽悽寒溫中適故氣將持乃不致邪僻也是必有因用豈可用俱寒俱熱之藥倉卒致損與以刃殺人者何異內經說內傷者其氣口脈反大於人迎一倍二倍三倍分經用藥又曰上部有脈下部無脈其人當吐不吐者死如但食不納噁心欲吐者不問一倍二倍不當正與瓜蒂散吐之但以指或以物探去之若所傷之物去不盡者更診其脈問其所傷以食藥去之以應塞因塞用又謂又寒因寒用泄而下降乃應太陰之用其中更加升發之藥令其元氣上升塞因通用因曲而為直何為曲內傷胃氣是也何為直因而升發胃氣是也因其飲食之內傷而使生氣增益胃氣完復此乃因曲而為之直也若分經用藥其所傷之物寒熱溫涼生硬柔軟所傷不一難立定一法只隨所傷之物不同各立治法臨時加減用之其用藥又當問病人從來稟氣盛衰所傷寒物熱物是喜食而食之耶不可服破氣藥若乘飢因而傷之耶當益胃氣或為人所勉勸強食之宜損血而益氣也診其脈候傷在何臟可與對病之藥豈可妄瀉天真元氣以輕喪身寶乎且如先食熱物而不傷繼之以寒物因後食致前食亦不消化而傷者當問熱食寒食孰多孰少斟酌與藥無不當矣喻如傷熱物二分寒物一分則當用寒藥二分熱藥一分相合而與之則榮衛之氣必得周流更有或先飲酒而後傷寒冷之食及傷熱食冷水與冰如此不等皆當驗其節次所傷之物酌量寒熱之劑分數各各對證與之無不取效自忖所定藥方未敢便謂能盡藥性之理姑用指迷辯惑</p>

<h4>三黃枳朮丸</h4>
<p>治傷肉濕面辛辣味厚之物填塞悶亂不快</p>
<p>枳實（麩炒五錢）　黃連（去須酒洗）　大黃（濕紙裹煨）　神麯（炒）　橘皮　白朮（各一兩）黃芩（二兩）</p>
<p>上為極細末湯浸蒸餅為丸如綠豆一倍大每服五十丸白湯下臨時量所傷多少加減服之</p>

<h4>巴豆三稜丸（一名木香見現丸）</h4>
<p>治傷生冷硬物心腹滿悶疼痛</p>
<p>巴豆霜（五分）　木香（二錢）　升麻　柴胡（各三錢）　草豆蔻（麵裹煨熟用仁）　香附子（炒各五錢）　神麯（炒黃色）　石三稜（去皮煨）　京三稜（煨各一兩）</p>
<p>上為細末湯浸蒸餅為丸如綠豆一倍大每服一二十丸溫白湯下量所傷多少加減服之</p>

<h4>白朮丸</h4>
<p>治傷豆粉濕面油膩之物</p>
<p>白礬（枯三錢）　黃芩（五錢）　橘皮（七錢）　神麯（炒黃色）　半夏（湯洗七次）　白朮（各一兩）　枳實（麩炒黃色一兩一錢）</p>
<p>上為極細末湯浸蒸餅為丸如綠豆大每服三五十丸白湯下素食多用乾薑故加黃芩以瀉之</p>

<h4>草豆蔻丸</h4>
<p>治秋冬傷寒冷物胃脘當心而痛上肢兩脅咽膈不通</p>
<p>炒鹽（五分）　乾生薑　青皮　橘皮（各二錢）　麥蘖面（炒黃色）　生黃芩（冬月不用）　半夏（湯洗七次）　神麯（炒各五錢）　草豆蔻（麵裹煨去皮取仁）　白朮（各一兩）　枳實（麩炒二兩）</p>
<p>上為極細末湯浸蒸餅為丸如綠豆大每服五十丸白湯下</p>

<h2>中滿腹脹門</h2>

<h3>中滿腹脹論</h3>
<p>六元政紀論云太陰所至為中滿太陰所至為蓄滿諸濕腫滿皆屬脾土論云脾乃陰中之太陰同濕土之化脾濕有餘腹滿食不化天為陽為熱主運化也地為陰為濕主長養也無陽則陰不能生化故云臟寒生滿病調經篇云因飲食勞倦損傷脾胃始受熱中未傳寒中皆由脾胃之氣虛弱不能運化精微而制水穀聚而不散而成脹滿經云腹滿腫脹支膈胠脅下厥上冒過在太陰陽明乃寒濕鬱過也脈經所謂胃中寒則脹滿者是也（針經三卷雜病第八）腹滿大便不利上走胸溢喘息喝喝然取足少陰又云脹取三陽三陽者足太陽寒水為脹與通評虛實論說腹暴滿按之不下取太陽經絡胃之募也正同取者瀉也經雲中滿者瀉之於內者是也宜以辛熱散之以苦瀉之淡滲利之使上下分消其濕正如開鬼門潔淨府溫衣繆刺其處是先瀉其血絡後調其真經氣血平陽布神清此治之正也或曰諸脹腹大皆屬於熱者何也此乃病機總辭假令外傷風寒有餘之邪自表傳裡寒變為熱而作胃實腹滿仲景以大承氣湯治之亦有膏粱之人濕熱鬱於內而成脹滿者此熱脹之謂也大抵寒脹多而熱脹少治之者宜詳辨之</p>

<h3>諸腹脹大皆屬於熱論</h3>
<p>諸腹脹大皆屬於熱此乃八益之邪有餘之證自天外而入是感風寒之邪傳裡寒變為熱作胃實曰晡潮熱大渴引飲譫語是太陽陽明並大實大滿者大承氣下之少陽陽明微滿實者小承氣下之泄之則脹已此之謂也假令痎瘧為脹滿亦有寒脹熱脹是天之邪氣傷暑而得之不即時發至秋暑氣衰絕而瘧病作矣知其寒也局方用交解飲子者是也內虛不足寒濕令人中滿及五臟六腑俱有脹滿更以脈家寒熱多少較之胃中寒則脹滿濁氣在上則生䐜脹脹取三陽三陽者足太陽膀胱寒水為脹腹暴滿按之不下取太陽經絡者胃之募也正同腹滿䐜脹肢膈胠脅下厥上冒過在太陰陽明胃中寒濕鬱遏也太陰䐜脹復不利不欲食食則嘔不得臥按所說寒脹之多如此中滿治法當開鬼門潔淨府開鬼門者謂發汗也潔淨府者利小便也中滿者瀉之於內謂脾胃有病當令上下分消其溫下焦如瀆氣血自然分化不待泄滓穢如或大實大滿大小便不利從權以寒熱藥下之或傷酒濕面及味厚之物膏粱之人或食已便臥使濕熱之氣不得施化致令腹脹滿此脹亦是熱脹治熱脹分消丸主之</p>
<p>如或多食寒涼及脾胃久虛之人胃中寒則脹滿或藏寒生滿病以治寒脹中滿分消湯主之</p>

<h4>中滿分消丸</h4>
<p>治中滿熱脹鼓脹氣脹水脹此非寒脹類</p>
<p>白朮　人參　炙甘草　豬苓（去黑皮）　薑黃（各一錢）　白茯苓（去皮）　乾生薑　砂仁（各二錢）　澤瀉　橘皮（各三錢）　知母（炒四錢）　黃芩（去腐炒夏用一兩二錢）　黃連（淨炒）　半夏（湯洗七次）　枳實（炒各五錢）　厚朴（薑製一兩）</p>
<p>上除茯苓澤瀉生薑外共為極細末入上三味和勻湯浸蒸餅為丸如梧桐子大每服一百丸焙熱白湯下食遠服量病人大小加減</p>

<h4>中滿分消湯</h4>
<p>治中滿寒脹寒疝大小便不通陰躁足不收四肢厥逆食入反出下虛中滿腹中寒心下痞下焦躁寒沉厥奔豚不收</p>
<p>川烏　澤瀉　黃連　人參　青皮　當歸　生薑　麻黃　柴胡　乾薑　蓽澄茄（各二分）　益智仁　半夏　茯苓　木香　升麻（各三分）　黃耆　吳茱萸　厚朴　草豆蔻仁　黃柏（各五分）</p>
<p>上銼如麻豆大都作一服水二大盞煎至一盞食前熱服忌房室酒濕面生冷及油膩等物</p>

<h4>廣朮潰堅湯</h4>
<p>治中滿腹脹內有積聚堅硬如石其形如盤令人不能坐臥大小便澀滯上喘氣促面色痿黃通身虛腫</p>
<p>廣朮　紅花　吳茱萸　升麻（各二分）　半夏（七分）　柴胡　澤瀉　神麯　青皮　陳皮（各三分）　厚朴（生用）　黃芩　黃連　益智仁　草豆蔻仁（五分）　生甘草（三分）　當歸梢（五分）如渴加葛根（四分）</p>
<p>上銼如麻豆大水二大盞煎至一盞稍熱服食遠忌酒醋濕面服二服之後中滿減半止有積不消再服後藥</p>

<h4>半夏厚朴湯</h4>
<p>紅花　蘇木（各半分）　吳茱萸　乾生薑　黃連（各一分）　木香　青皮（各二分）　肉桂　蒼朮白茯苓　澤瀉　柴胡　生甘草　生黃芩　草豆蔻仁　陳皮（各三分）　京三稜　豬苓　當歸梢　升麻（各四分）　神麯（六分）　厚朴（八分）　半夏（一錢）　桃仁（七個）　昆布（少許）　如渴加葛根（三分）</p>
<p>上㕮咀作一服水三盞煎至一盞去渣稍熱服此藥二服之後前證又減一半卻於前藥中加減服之</p>

<h4>破滯氣湯（一名木香化滯散）</h4>
<p>破滯氣治心腹滿悶</p>
<p>炙甘草（四分）　白檀　藿香　陳皮　大腹子　白豆蔻仁　白茯苓　桔梗（各五分）　砂仁人參　青皮　檳榔　木香　薑黃　白朮（各二錢）</p>
<p>上㕮咀每服三錢水二盞煎至一盞去渣溫服不拘時</p>

<h4>草豆蔻湯</h4>
<p>治腹中虛脹</p>
<p>澤瀉（一分）　木香（三分）　半夏（制四分）　枳實　草豆蔻仁　黃耆（春夏去之）　益智　甘草（各五分）　青皮　陳皮（各六分）　茯苓　當歸（各七分）　神麯（四分）</p>
<p>上為粗末都作一服水二大盞生薑三片煎至一盞去渣溫服冬月加黃耆五七分春夏止服正藥食遠</p>

<h2>心腹痞悶門</h2>

<h3>消痞悶方</h3>
<p>治心下痞悶一切所傷及積年不愈者</p>
<p>乾生薑　神麯（炒）　炙甘草（各二分）　豬苓（二錢五分）　澤瀉　厚朴　砂仁（各三錢）　半夏（湯洗七次）　陳皮　人參（各四錢）　枳實（五炒）　黃連（淨炒）　黃芩（各六錢）　薑黃　白朮（各一兩）</p>
<p>上為細末湯浸𩚫餅為丸如梧桐子大每服五七十丸至百丸白湯送下食遠服</p>

<h4>失笑丸（一名枳實消痞丸）</h4>
<p>治右關脈弦心下虛痞惡食懶倦開胃進飲食</p>
<p>乾生薑（一錢）　炙甘草　麥糵面　白茯苓　白朮（各二錢）　半夏曲　人參（各三錢）　厚朴（四錢炙）　枳實　黃連（各三錢）</p>
<p>上為細末湯浸𩚫餅為丸梧桐子大每服五七十丸白湯下食遠服</p>

<h4>黃連消痞丸</h4>
<p>治心下痞滿壅滯不散煩熱喘促不安</p>
<p>澤瀉　薑黃（各一錢）　乾生薑（二錢）　茯苓　炙甘草　白朮（各三錢）　陳皮　豬苓（各五錢）　枳實（七錢炒）　半夏（九錢）　黃連（一兩）　黃芩（二兩炒）</p>
<p>上為細末湯浸𩚫餅為丸如梧桐子每服五十丸溫湯下食遠</p>

<h4>消痞湯（一名木香化滯湯）</h4>
<p>治因憂氣鬱結中脘腹皮里微痛心下痞滿不思飲食</p>
<p>枳實（炒）　當歸梢（各二分）　陳皮　生薑　木香（各三分）　柴胡（四分）　炙甘草（各五分）　紅花（少許）　草豆蔻（五分）　半夏（一錢）</p>
<p>上為粗末作一服水二盞生薑三片煎至一盞食遠服忌酒濕面</p>

<h4>葶藶丸（一名人參順氣飲子）</h4>
<p>治心下痞胸中不利</p>
<p>半夏（洗）　厚朴（炙）　石膏　青皮（各五分）　當歸身（七分）　白豆蔻仁　縮砂　茵陳（酒製）乾葛（各一錢）　炙甘草　羌活　黃芩（一半酒洗一半炒）　苦葶藶（酒洗炒）　人參　柴胡　獨活（各三錢）</p>
<p>上為細末湯浸𩚫餅和勻篩子內擦如米大每服二錢臨臥用一口湯下</p>

<h2>胃脘痛門</h2>

<h3>草豆蔻丸</h3>
<p>治脾胃虛弱而心火乘之不能滋榮上焦元氣遇冬腎與膀胱寒水旺時子能令母實以致肺金大腸相輔而來克心乘脾胃此大復仇也經云大勝必大復理之常也故皮毛血脈分肉之間元氣已絕於外又大寒大燥二氣並乘之則苦惡風寒耳鳴及腰背相引而痛鼻息不通不聞香臭額寒腦痛大惡風寒目時眩不欲開腹中為寒水反乘痰唾沃沫食則反出腹中常痛心胃作痛脅下縮急有時而痛腹不能努大便多瀉而少秘下氣不絕或腹中鳴此脾胃虛之至極也胸中氣亂心煩不安而為霍亂之漸咽膈不通極則噎塞有聲喘喝閉塞或於日陽處或於暖室中少緩口吸風寒之氣則復作四肢厥逆身體沉重不能轉側頭不可以回顧小便溲而時躁此藥主之秋冬寒涼大復氣之藥也</p>
<p>神麯末　柴胡（詳脅下痛多少用之）　薑黃（各四分）　當歸身　青皮（各六分）　黃耆　人參益智仁　吳茱萸（湯洗焙乾）　陳皮　白殭蠶（各八分）　澤瀉（小便數減半）　半夏（各一錢洗）　甘草（生六分熟六分）　麥糵面（一錢五分炒）　草豆蔻仁（麵裹燒熟為度一錢四分）　桃仁（七個湯浸去皮尖）</p>
<p>上除桃仁別研如泥余為細末同研勻湯浸𩚫餅為丸如梧桐子大每服五七十丸白湯下食遠服</p>

<h3>神聖復氣湯</h3>
<p>治復氣乘冬足太陽寒水足少陰腎水之旺子能令母實手太陰肺實反來剋土火木受邪腰背胸膈閉塞疼痛善嚏口中涎目中泣鼻中流濁涕不止或如瘜肉不聞香臭咳嗽痰沫上熱如火下寒如冰頭作陣痛目中溜火視物䀮䀮耳聾耳鳴頭並口鼻大惡風寒喜日晴暖夜臥不安常覺痰塞咽膈不通口不知味兩脅縮急而痛牙齒動搖不能嚼物臍腹之間及尻臋足膝不時寒冷前陰冷而多汗行步欹側起居艱難麻木風痹小便數氣短喘喝少氣不足以息遺失無度及婦人白帶陰戶中大痛牽心面色黧黑男子控睪痛牽心腹或面色如赭食少大小便不調煩心霍亂逆氣裡急腹不能努或腸鳴膝下筋急肩脾大痛此皆寒水來復火土之仇也</p>
<p>乾薑（炮）　黑附子（炮各三分）　防風　人參　郁李仁（另研各五分）　半夏（湯洗研）　升麻（各七分）　藁本　甘草（各八分）　當歸身（六分酒洗）　柴胡　羌活（各一錢）　白葵花（五朵去心剪碎）</p>
<p>上件都作一服水五大盞煎至二盞入黃耆一錢橘紅五分草豆蔻仁一錢麵裹煨熟去皮一錢同煎至一盞再入下項藥黃柏三分酒浸黃連三分酒浸枳殼三分生地黃三分酒洗此四味預一日另用新水浸又以華細辛二分川芎細末三分蔓荊子三分作一處浸此三味並黃柏等煎正藥作一大盞不去渣入此所浸之藥再上火同煎至一大盞去渣熱服空心又能治齧頰齧唇舌舌根強硬等證如神忌肉湯及食肉不使助經絡中火邪也大抵腎元與膀胱經中有寒氣不足者並宜服之於月生月滿時食隔三五日一服如病急不拘時候</p>

<h3>麻黃豆蔻丸</h3>
<p>治客寒犯胃心胃大痛不可忍</p>
<p>木香　青皮　紅花　厚朴（各二分）　蘇木（三分）　蓽澄茄（四分）　升麻　半夏（湯洗）　麥糵面　縮砂仁　黃耆　白朮　陳皮（去白）　柴胡　炙甘草　吳茱萸　當歸身（各五分）　益智仁（八分）　神麯末（二錢炒）　麻黃（不去節三錢）　草豆蔻仁（五錢）</p>
<p>上為細末湯浸𩚫餅為丸如梧桐子大每服五十丸白湯下或細嚼湯下亦可</p>

<h3>酒客病論</h3>
<p>論酒大熱有毒氣味俱陽乃無形之物也若傷之則止當發散汗出則愈矣此最妙法也其次莫如利小便二者乃上下分消其濕何酒病之有今之酒病者往往服酒症丸大熱之藥下之又有牽牛大黃下之是無形元氣受病反下有形陰血乖誤甚矣酒性大熱已傷元氣而復重瀉之況亦損腎水真陰及有形陰血俱為不足如此則陰血愈虛真水愈弱陽毒之熱大旺反增其陰火是謂元氣消亡十神何依折人長命雖不即死而虛損之病成矣金匱要略云酒疸下之久久為黑疸慎不可犯此戒不若令上下分消其濕當以葛花解酲湯主之</p>

<h4>葛花解酲湯</h4>
<p>木香（五分）　人參（去蘆）　豬苓（去黑皮）　白茯苓　橘皮（各一錢五分）　白朮　乾生薑神麯（炒）　澤瀉（各二錢）　蓮花青皮（三錢）　縮砂仁　白豆蔻仁　葛花（各五錢）</p>
<p>上為極細末和勻每服三錢七白湯調下但得微汗酒病去矣此蓋不得已而用豈可恃賴日日飲酒此藥氣味辛辣偶因酒病服之則不損元氣何者敵酒病故也若頻服之損人天命</p>

<h4>枳朮丸</h4>
<p>治痞消食強胃</p>
<p>枳實（麩炒黃色一兩）　白朮（二兩）</p>
<p>上為極細末荷葉裹燒飯為丸如綠豆一倍大每服五十丸白湯下不拘時候量所傷多少加減服之</p>

<h4>半夏枳朮丸</h4>
<p>治因冷物內傷</p>
<p>半夏（湯洗七次一兩）　枳實（麩炒黃色）　白朮（各二兩）</p>
<p>上三味為極細末荷葉裹燒炊飯為丸如綠豆一倍大每服五十丸白湯下量所傷加減服之</p>

<h4>橘皮枳朮丸</h4>
<p>治元氣虛弱飲食不消或臟腑不調心下痞悶</p>
<p>橘皮　枳實（麩炒黃色各一兩）　白朮（二兩）</p>
<p>上為極細末荷葉裹燒飯為丸如綠豆一倍大每服五十丸白湯下量所傷加減服之</p>

<h4>除濕益氣丸</h4>
<p>治傷濕面心腹滿悶肢體沉重</p>
<p>紅花（三分）　蘿蔔子（炒熟五錢）　枳實（麩炒黃色）　黃芩（生用）　神麯（炒黃色）　白朮（各一兩）</p>
<p>上同為細末荷葉裹燒飯為丸如綠豆一倍大每服五十丸白湯下量所傷加減服之</p>

<h4>除濕散</h4>
<p>治傷馬奶子並牛羊酪水一切冷物</p>
<p>甘草（炙）　紅花（各二錢）　半夏（湯洗七次三錢）　茯苓（七錢）　乾生薑（三錢）　車前子澤瀉（各五錢）　神麯（炒黃一兩）</p>
<p>上為極細末每服三錢匕白湯調下食前</p>

<h4>升麻黃連丸</h4>
<p>治多食肉口臭不欲聞其穢惡氣使左右不得近</p>
<p>白檀（二錢）　生甘草（三錢）　生薑（取自然汁）　升麻（五錢）　蓮花青皮（五錢）　黃連（去須一兩）黃芩（去腐酒洗二兩）上為極細末湯浸𩚫餅為丸如彈子大每服一丸細嚼白湯下食後</p>

<h4>上二黃丸</h4>
<p>治傷熱食痞悶兀兀欲吐煩亂不安</p>
<p>甘草（二錢）　升麻　柴胡（各三錢）　黃連（酒洗一兩）　黃芩（二兩）　一方加枳實（五錢）</p>
<p>上為細末湯浸𩚫餅為丸如綠豆大每服五十丸白湯下食遠</p>
<p>治傷冷飲者以五苓散每服二錢三錢匕加生薑煎服之</p>
<p>治傷食兼傷冷飲者煎五苓散送半夏枳朮丸</p>
<p>治傷冷飲不惡寒者腹中亦不覺寒惟覺悶身重食不化者或小便不利煎去桂五苓散依前斟酌服之</p>

<h4>瓜蒂散</h4>
<p>上部有脈下部無脈其人當吐不吐者死何謂下部無脈此謂木鬱也飲食過飽填塞胸中胸中者太陰之分野經曰氣口反大於人迎三倍食傷太陰故曰木鬱則達之吐者是也</p>
<p>瓜蒂　赤小豆（各等分）</p>
<p>上二味為極細末每服二錢匕溫漿水調下取吐為度若不至兩手尺脈絕無不宜便用此藥恐損元氣令人胃氣不復若止是胸中窒塞悶亂不通以指探去之如不得吐者以物探去之得吐則已如食不去用此藥吐之解云盛食填塞於胸中為之窒塞兩寸脈當主事兩尺脈不見其理安在胸中有食故以吐出之食者物也物者坤土也是足太陰之號也胸中者肺也為物所填肺者手太陰金也金主殺伐也與坤土俱在於上而旺於天金能剋木故肝木生髮之氣伏於地下非木鬱而何吐去上焦陰土之物木得舒暢則鬱結去矣食塞於上脈絕於下若不明天地之道無由達此至理水火者陰陽之徵兆天地之別名也故曰獨陽不生獨陰不長天之用在於地下則萬物生長矣地之用在於天上則萬物收藏矣此乃天地交而萬物通也此天地相根之道也故陽火之根本於地下陰水之源本於天上故曰水出高源故人五臟主有形之物物者陰也陰者水也右三部脈主之偏見於寸口食塞其二是絕五臟之源源絕則水不下流兩尺竭絕此其理也何疑之有假令所傷前後不同以分為率傷熱物二分傷生冷硬物一分用寒藥三黃丸二停熱藥巴豆三稜丸一停合而服之如熱物傷少而寒物傷多則寒藥少而熱藥多也假令夏月大熱之時傷生冷硬物當用熱藥巴豆三稜丸治之須加三黃丸謂天時不可伐故加寒藥以順時令若熱物只用三黃丸何謂此三黃丸時藥也假令冬天大寒之時傷羊肉濕面等熱物當用三黃丸治之須加熱藥少許草豆蔻丸之類是也為引用又為時藥經云必先歲氣無伐天和此之謂也余皆仿此</p>

<h2>消渴門</h2>

<h3>消渴論</h3>
<p>陰陽別論云二陽結謂之消脈要精微論云癉成為消中夫二陽者陽明也手陽明大腸主津病消則目黃口乾是津不足也足陽明胃主血熱則消穀善飢血中伏火乃血不足也結者津液不足結而不潤皆燥熱為病也此因數食甘美而多肥故其氣上溢轉為消渴治之以蘭除陳氣也不可服膏粱芳草石藥其氣剽悍能助燥熱也越人云邪在六腑則陽脈不和陽脈不和則氣留之氣留之則陽脈盛矣陽脈大盛則陰氣不得榮也故皮膚肌肉消削是也經云凡治消癉僕系偏枯痿厥氣滿發逆肥貴人則膏粱之疾也岐伯曰脈實病久可治脈弦小病久不可治後分為三消高消者舌上赤裂大渴引飲逆調論云心移熱於肺傳於膈消者是也以白虎加人參湯治之中消者善食而瘦自汗大便硬小便數叔和云口乾飲水多食亦肌虛癉成消中者是也以調胃承氣三黃丸治之下消者煩躁引飲耳輪焦乾小便如膏叔和云焦煩水易虧此腎消也以六味地黃丸治之總錄所謂末傳能食者必發腦疽背瘡不能食者必傳中滿鼓脹皆謂不治之證潔古老人分而治之能食而渴者白虎加人參湯不能食而渴者錢氏方白朮散倍加葛根治之上中既平不復傳下消矣前人用藥厥有旨哉或曰未傳瘡疽者何也此火邪勝也其瘡痛甚而不潰或赤水者是也經云有形而不痛陽之類也急攻其陽無攻其陰治在下焦元氣得強者生失強者死未傳中滿者何也以寒治熱雖方士不能廢其繩墨而更其道也然臟腑有遠近心肺位近宜制小其服腎肝位遠宜制大其服皆適其至所為故知過與不及皆誅罰無過之地也如高消中消制之太急速過病所久而成中滿之病正謂上熱未除中寒復生者也非藥之罪失其緩急之制也處方之制宜加意焉。</p>

<h4>和血益氣湯</h4>
<p>治口乾舌乾小便數舌上赤脈此藥生津液除乾燥生肌肉</p>
<p>柴胡　炙甘草　生甘草（此味治口乾舌乾也）　麻黃根（各三分）　酒當歸梢（四分）　酒知母　酒漢防己　羌活（各五分）　酒生地黃（七分）　升麻（一錢）　杏仁　桃仁（各六個）　紅花（少許）　酒黃連（八分治舌上赤脈也）　石膏（六分治小便赤色）　酒黃柏（一錢）</p>
<p>上㕮咀都作一服水二大盞煎至一盞去渣溫服忌熱濕面酒醋等物</p>

<h4>當歸潤燥湯</h4>
<p>治消渴大便閉澀乾燥結硬兼喜溫飲陰頭退縮舌燥口乾眼澀難開及於黑處見浮雲</p>
<p>細辛（一分）　生甘草　炙甘草（各三分）　柴胡（七分）　熟地黃（三分）　黃柏　知母　石膏　桃仁（泥子）　當歸身　麻子仁　防風　荊芥穗（各一錢）　升麻（一錢五分）　紅花（少許）　杏仁（六個）　小椒（三個）</p>
<p>上㕮咀都作一服水二大盞煎至一盞去渣熱服食遠忌辛熱物</p>

<h4>生津甘露湯（一名清涼飲子）</h4>
<p>治消中能食而瘦口舌乾自汗大便結燥小便頻數</p>
<p>升麻（四分）　防風　生甘草　漢防己　生地黃（各五分）　當歸身（六分）　柴胡　羌活　炙甘草　酒黃芩　酒知母　黃芩（各一錢）　石膏　酒龍膽草　黃柏（各一錢五分）　紅花（少許）　桃仁（五個）　杏仁（十個）</p>
<p>上㕮咀都作一服水二盞酒一匙煎至一盞稍熱服食遠</p>

<h4>辛潤緩肌湯（一名清神補氣湯）</h4>
<p>前消渴證才愈止有口乾腹不能努此藥主之</p>
<p>生地黃　細辛（各一分）　熟地黃（三分）　石膏（四分）　黃柏（酒製）　黃連（酒製）　生甘草　知母（各五分）　柴胡（七分）　當歸身　荊芥穗　桃仁　防風（各一錢）　升麻（一錢五分）　紅花（少許）　杏仁（六個）　小椒（二個）</p>
<p>上㕮咀都作一服水二大盞煎至一盞食遠稍熱服之</p>

<h4>甘草石膏湯</h4>
<p>渴病久愈又添舌白滑微腫咽喉咽津覺痛嗌腫時時有渴喜冷飲口中白沫如膠</p>
<p>生地黃　細辛（各一分）　熟地黃　黃連（各三分）　甘草（五分）　石膏（六分）　柴胡（七分）　黃柏　知母　當歸身　桃仁（炒去皮尖）　荊芥穗　防風（各一錢）　升麻（一錢五分）　紅花（少許）　杏仁（六個）小椒（二個）</p>
<p>上如麻豆大都作一服水二盞煎至一盞食後溫服</p>

<h4>甘露膏（一名蘭香飲子）</h4>
<p>治消渴飲水極甚善食而瘦自汗大便結燥小便頻數</p>
<p>半夏（二分湯洗）　熟甘草　白豆蔻仁　人參　蘭香　升麻　連翹　桔梗（各五分）　生甘草　防風（各一錢）　酒知母（一錢五分）　石膏（三錢）</p>
<p>上為極細末湯浸𩚫餅和勻成劑捻作薄片子日中曬半乾擦碎如米大每服二錢淡生薑湯送下食後</p>

<h4>生津甘露飲子</h4>
<p>治消渴上下齒皆麻舌根強硬腫痛食不能下時有腹脹或瀉黃如糜名曰餐泄渾身色黃目睛黃甚四肢痿弱前陰如冰尻臀腰背寒面生黧色脅下急痛善嚏喜怒健忘</p>
<p>藿香（二分）　柴胡　黃連　木香（各三分）　白葵花　麥門冬　當歸身　蘭香（各五分）　蓽澄茄　生甘草　山梔子　白豆蔻仁　白芷　連翹　薑黃（各一錢）　石膏（一錢二分）　全蠍（二個去毒）　炙甘草　酒知母　升麻　人參（各二錢）　桔梗（三錢）　杏仁（去皮）　酒黃柏（各一錢五分）</p>
<p>上為細末湯浸𩚫餅和勻成劑捻作片子日中曬半乾擦碎如黃米大每服二錢津唾下或白湯送下食遠服</p>

<h2>眼耳鼻門</h2>

<h3>諸脈者皆屬於目論</h3>
<p>陰陽應象論云諸脈者皆屬於目目得血而能視五臟六腑精氣皆上注於目而為之精精之窠為眼骨之精為瞳子筋之精為黑眼血之精為絡其窠氣之精為白眼肌肉之精則為約束里擷筋骨血氣之精而與脈併為繫上屬於腦後出於項中故邪中於項因逢其身之虛其入深則即隨眼系入於腦則腦轉腦轉則引目系急目系急則目眩以轉矣邪中其精其精所中不相比也則精散精散則視岐故見兩物目者五臟六腑之精榮衛魂魄之所常營也神氣之所主也故神勞則魂魄散志意亂是故瞳子黑眼發於陰白眼赤脈發於陽故陰陽合傳而為精明也目者心之使也心者神之舍也故神精亂而不轉卒然見非常之處精神魂魄散不相得故曰惑也夫十二經脈三百六十五絡其血氣皆上走於面而走空竅其清陽氣上散於目而為精其氣走於耳而為聽因心事煩冗飲食失節勞役過度致脾胃虛弱心火大盛則百脈沸騰血脈逆行邪害空竅天明則日月不明矣夫五臟六腑之精氣皆稟受於脾上貫於目脾者諸陰之首也目者血脈之宗也故脾虛則五臟之精氣皆失所司不能歸明於目矣心者君火也主人之神宜靜而安相火化行其令相火者包絡也主百脈皆榮於目既勞役運動勢乃妄行又因邪氣所並而損血脈故諸病生焉凡醫者不理脾胃及養血安神治標不治本是不明正理也</p>

<h3>內障眼論</h3>
<p>凡心包絡之脈出於心中以代心君之行事也與少陽為表裡瞳子散大者少陰心之脈挾目系厥陰肝之脈連目繫心主火肝主木此木火之勢盛也其味則宜苦宜酸宜涼大忌辛辣熱物以助木火之邪也飲食中常知此理可也夫辛主散熱則助火故不可食諸酸主收心氣瀉木火也諸苦瀉火熱則益水也尤忌食冷水大寒之物此則能損胃氣不行則元氣不生元氣不生胃氣下流胸中三焦之火及心火乘於肺上入腦灼髓火主散溢瞳子開大大熱之物又助火邪此蓋不可食驗也藥中雲茺蔚子一味辛及主益睛辛者是助火也故去之乃加黃芩黃連瀉中焦之火芩能瀉上焦肺中之火以酒洗之乃寒因熱用也又去青葙子為助陽火也加五味子以收瞳人間大且火之與氣勢不兩立故內經曰壯火食氣氣食少火少火生氣壯火散氣諸酸之物能助元氣孫真人云五月常服五味助五臟氣以補西方肺金法云以酸補之以辛瀉之辛瀉氣則明矣或曰藥中有當歸其味亦辛而甘其不去者何此辛甘一味以其和血之聖藥況有甘味又欲以為嚮導為諸藥之使耳</p>

<h4>芎辛湯</h4>
<p>治兩眼晝夜隱澀難開羞明惡日視物昏暗赤腫而痛</p>
<p>細辛（二分）　芎藭　蔓荊子（各五分）　甘草　白芷（各一錢）　防風（一錢五分）</p>
<p>上㕮咀都作一服水二盞煎至一盞臨臥溫服</p>

<h4>碧天丸（一名井珠丸）</h4>
<p>治目疾累服寒涼藥不愈兩眼蒸熱如火之熏赤而不痛滿目紅絲血脈貫睛瞀悶昏暗羞明畏日或上下瞼赤爛或冒風沙而內外眥皆破洗之神效</p>
<p>枯白礬（二分）　銅綠（七分研）　瓦粉炒黑（一兩）</p>
<p>上先研白礬銅研令細旋旋入粉同研勻熟水和之共為一百丸每用一丸熱湯半盞浸一二個時辰洗至覺微澀為度合半時辰許臨臥洗之瞑目便睡一丸可洗十遍再用湯內坐令熱此藥治其標若裡實者不宜用</p>

<h4>廣大重明湯</h4>
<p>治兩目瞼赤爛熱腫疼痛並稍赤及眼瞼癢痛抓之至破眼楞生瘡目多眵淚隱澀難開</p>
<p>龍膽草　防風　生甘草　細辛（各一錢）</p>
<p>上銼如咀內甘草不銼只作一折先以水一大碗半煎龍膽一味至一半再入餘三味煎至少半碗濾去渣用清帶熱洗以重湯坐令熱日用五七次但洗畢閤眼一時去胬肉泛長及癢亦驗</p>

<h4>百點膏</h4>
<p>張濟氏眼病翳六年以至遮瞳人視物不明有云氣之狀因用此藥而效</p>
<p>蕤仁（去皮尖三分）　當歸身　甘草（各六分）　防風（八分）　黃連（揀淨二錢銼如麻豆大水一大碗煎至少半入藥）</p>
<p>上件銼如麻豆大蕤仁別研如泥同熬滴在水中不散入去沫蜜少許再熬少時為度令病人心靜點之至目中微痛日用五七次臨臥點尤疾效名之曰百點膏但欲多點使藥力相繼也</p>

<h4>選奇湯</h4>
<p>治眉骨痛不可忍</p>
<p>炙甘草（夏月生用）　羌活　防風（各三錢）　酒黃芩（一錢冬月不用此一味如能食熱痛倍加之</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣食後服之神效明目湯</p>
<p>治眼欞緊急致倒睫拳毛及上下瞼昏赤爛睛疼昏暗晝則冷淚常流夜則眼澀難開</p>
<p>細辛（二分）　蔓荊子（五分）　防風（一錢）　葛根（一錢五分）　甘草（二錢）　一方加黃耆（一錢）</p>
<p>上㕮咀作一服水二盞煎至一盞去渣稍熱臨臥服羌活點翳膏（一名復明膏）</p>
<p>治足太陽寒水膜子遮睛白翳在上視物不明</p>
<p>藁本　漢防己（各二分）　黃連　防風　麻黃（去根節）　柴胡　升麻　生地（各三分）　羌活（七分）　生甘草（四分）　當歸身（六分）　蕤仁（六個）　椒樹（東南根二分西北根二分）</p>
<p>上用淨水一大碗先煎漢防己黃連生甘草當歸生地黃煎至一半下余藥再煎至一盞去渣入銀石器中再熬之有力為度</p>

<h4>明目細辛湯</h4>
<p>治兩目發赤微痛羞明畏日怯風寒怕火眼睫成紐眵糊多隱澀難開眉攢腫悶鼻塞涕唾稠黏大便微硬</p>
<p>川芎（五分）　生地黃（酒製）　蔓荊子（各六分）　當歸梢　白茯苓　藁本（各一錢）　荊芥（一錢二分）　防風（二錢）　麻黃根　羌活（各三錢）　細辛（少許）　紅花（少許）　椒（八個）　桃仁（二十個）</p>
<p>上㕮咀分作四服每服水二盞煎至一盞去渣稍熱臨臥服之忌酒醋濕面</p>

<h4>復明散</h4>
<p>治內瘴</p>
<p>青皮（三分）　橘皮　川芎　蒼朮（各五分）　炙甘草　生地黃　連翹　柴胡（各一錢）　黃耆（一錢五分）　當歸身（二錢）</p>
<p>上銼如麻豆大都作一服水二大盞煎至一盞去渣稍熱服之食後忌酒醋濕面辛熱大料物之類</p>

<h4>助陽和血湯</h4>
<p>治眼發之後微有上熱白睛紅隱澀難開睡多眵淚</p>
<p>蔓荊子（二分）　香白芷（三分）　柴胡　黃耆　炙甘草　當歸身（酒洗）　防風（各五分）　升麻（七分）</p>
<p>上㕮咀都作一服水一盞半煎至八分去渣稍熱服臨臥避風寒處睡</p>

<h4>吹雲膏</h4>
<p>治目中淚及迎風寒泣羞明畏日常欲閉目喜在暗室塞其戶牖翳膜歲久遮晴此藥多點神驗</p>
<p>細辛（一分）　升麻　蕤仁（各三分）　青皮　連翹　防風（各四分）　柴胡（五分）　生甘草當歸身（各六分）　生地黃（一錢五分）　楝黃連（三錢）　荊芥穗（一錢微取濃汁）</p>
<p>上㕮咀除連翹外用澄清淨水二碗先熬余藥至半碗入連翹同熬至一大盞許去渣入銀石器內文武火熬滴入水成珠不散為度入煉去沫熟蜜少許熬勻用之</p>

<h4>防風飲子</h4>
<p>治倒睫拳毛</p>
<p>細辛　蔓荊子（各三分）　葛根　防風（各五分）　當歸身（七分半）　炙甘草　黃連　人參（各一錢）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞食遠服避風寒</p>

<h4>撥雲湯</h4>
<p>戊申六月徐總管患眼疾於上眼皮下出黑白翳兩個隱澀難開兩目緊縮而無疼痛兩手寸脈細緊按之洪大無力知足太陽膀胱為命門相火煎熬逆行作寒水翳及寒膜遮晴證呵欠善悲健忘嚏噴眵淚時自淚下面赤而白能食不大便小便數而欠氣上而喘</p>
<p>黃耆（一分）細辛　生薑　葛根　川芎（各五分）柴胡（七分）　荊芥穗　藁本　生甘草　升麻　當歸身　知母（各一錢）　羌活　防風　黃柏（各一錢五分）</p>
<p>上㕮咀如麻豆大都作一服水二盞煎至一盞去渣熱服食後</p>

<h4>神效黃耆湯</h4>
<p>治渾身麻木不仁或頭面手足肘背或腿腳麻木不仁並皆治之如兩目緊急縮小及羞明畏日隱澀難開或視物無力晴痛昏花手不得近或目少精光或目中熱如火服五六次可效</p>
<p>蔓荊子（一錢）　陳皮（去白五錢）　人參（八錢）　炙甘草　白芍藥（各一兩）　黃耆（二兩）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣臨臥稍熱服</p>
<p>如小便淋澀加澤瀉（五分）一服去則止</p>
<p>如有大熱證每服加酒洗黃柏（三分）</p>
<p>如麻木不仁雖有熱不用黃柏止加黃耆（一兩）通用三兩也</p>
<p>如眼縮急去芍藥忌酒醋面大料物蔥韭蒜辛物</p>
<p>如麻木甚者加芍藥（一兩）通用二兩</p>

<h4>圓明內障升麻湯（一名沖和養胃湯）</h4>
<p>治內障眼得之脾胃元氣衰弱心火與三焦俱盛飲食不節形體勞役心不得休息故上為此疾</p>
<p>乾薑（一錢）　五味子（二錢）　白茯苓（三錢）　防風（五錢）　白芍藥（六錢）柴胡（七錢）　人參　炙甘草　當歸身（酒洗）　白朮　升麻　葛根（各一兩）　黃耆　羌活（各一兩五錢）</p>
<p>上㕮咀每服五七錢水三大盞煎至二大盞入黃芩黃連（各二錢）同煎數沸去渣煎至一盞熱服食遠</p>

<h4>黃芩黃連湯</h4>
<p>黃芩（酒洗炒）　黃連（酒洗炒）　龍膽草（酒洗四次炒四次）　生地黃（酒洗各一兩）</p>
<p>上㕮咀每服二錢水二盞煎至一盞去渣熱服</p>

<h4>蔓荊子湯</h4>
<p>治勞役飲食不節內障眼病此方如神效</p>
<p>蔓荊子（二錢五分）　黃柏（酒拌炒四遍）　白芍藥（各三錢）　炙甘草（八錢）　黃耆（各一兩）　人參（各一兩）</p>
<p>上㕮咀每服三錢或五錢水二盞煎至一盞去渣臨臥溫服</p>

<h4>歸葵湯（一名連翹飲子）</h4>
<p>治目中溜火惡日與火隱澀難開小角緊視物昏花迎風有淚</p>
<p>柴胡（二分）　生甘草　蔓荊子　連翹　生地黃　當歸身　紅葵花　人參（各三分）　黃耆酒黃芩　防風　羌活（各五分）　升麻（一錢）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣食後溫服</p>

<h4>救苦湯</h4>
<p>治眼暴發赤腫臉高苦疼不任者</p>
<p>桔梗　連翹　紅花　細辛（各一分）　當歸身（夏月減半）　炙甘草（各五分）　龍膽草　蒼朮（各七分）　黃連　羌活（太陽）　升麻（陽明）　柴胡（少陽）　防風　藁本（各一錢）　知母　生地黃　黃柏　黃芩（各一錢五分）　川芎（三錢）</p>
<p>上㕮咀每服一兩水二盞煎至一盞去渣食後溫服若苦疼則多用苦寒者兼治本經之藥再行加減如睛昏加知母黃柏一倍</p>

<h4>熟乾地黃丸</h4>
<p>治血弱陰虛不能養心致心火旺陽火甚瞳子散大少陰為火君主無為不行其令相火代之兼心包絡之脈出心系分為三道少陽相火之體無形其用在其中矣火盛則令母實乙木肝旺是也心之脈挾於目系肝連目系況手足少陽之脈同出耳中至耳上角斜起於目外眥風熱之盛亦從此道而來上攻頭目致偏頭腫悶瞳子散大視物則花此由血虛陰弱故也法當養血涼血益血收火之散大除風之熱則愈矣</p>
<p>人參（二錢）　炙甘草　天門冬（湯洗去心）　地骨皮　五味子　枳殼（炒）　黃連（各三錢）黃芩　當歸身（酒洗焙乾各五錢）　柴胡（八錢）　熟乾地黃（一兩）　生地黃（酒洗七錢五分）</p>
<p>上件同為細末煉蜜為丸如梧桐子大每服一百丸茶湯送下食後日進二服</p>

<h4>益陰腎氣丸</h4>
<p>此壯水之主以鎮陽光</p>
<p>澤瀉　茯苓（各二錢五分）　生地黃（酒洗干）　牡丹皮　山茱萸　當歸梢（酒洗）　五味子乾山藥　柴胡（各五錢）　熟地黃（二兩）</p>
<p>上為細末煉蜜為丸如梧桐子大硃砂為衣每服五十丸淡鹽湯下空心</p>

<h4>羌活退翳丸</h4>
<p>治內障右眼小眥青白翳大眥微顯白翳腦痛瞳子散大上熱惡熱大便秘澀小便如常遇天氣暄熱頭痛睛脹可服此藥翳在大眥加葛根升麻翳在小眥加柴胡羌活是也</p>
<p>黑附子（炮）　寒水石（各一錢）　酒防己（二錢）　知母（酒炒）　牡丹皮　羌活　川芎（各三錢）酒黃柏　生地黃（酒洗炒）　丹參　茺蔚子　酒當歸身　柴胡（各五錢）　熟地黃（八錢）　芍藥（一兩三錢）</p>
<p>上為細末煉蜜為丸如梧桐子大每服五七十丸白湯下空心宿食未消待飢則服之藥後省語言以食壓之</p>

<h4>當歸龍膽湯</h4>
<p>治眼中白翳</p>
<p>防風　石膏（各一錢五分）　柴胡　羌活　五味子　升麻（各二錢）　甘草　酒黃連　黃耆（各三錢）　酒黃芩（炒）　酒黃柏（炒）　芍藥　當歸身　草龍膽（酒洗各五錢）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣入酒少許臨臥熱服忌言語</p>

<h4>補陽湯</h4>
<p>治陽不勝其陰乃陰盛陽虛則九竅不通令青白翳見於大眥及足太陽少陰經中郁遏足厥陰肝經氣不得上通於目故青白翳內阻也當於太陽少陰經中九原之下以益肝中陽氣衝天上行此乃先補其陽後於足太陽太陰標中標者頭也瀉足厥陰肝經火下伏於陽中乃次治也內經云陰盛陽虛則當先補其陽後瀉其陰此治法是也每日清晨以腹中無宿食服補陽湯臨臥服瀉陰丸若天色變經大寒大風並勞役預日飲食不調精神不足或氣弱俱不可服待體氣和平天氣如常服之先補其陽使陽氣上升通於肝經之末利空竅於目矣</p>
<p>肉桂（一錢去皮）　知母（炒）　當歸身（酒洗）　生地黃（酒炒）　白茯苓　澤瀉　陳皮（各三錢）白芍藥　防風（各五錢）　黃耆　人參　白朮　羌活　獨活　熟地黃　甘草（各一兩）　柴胡（二兩）</p>
<p>上㕮咀每服五錢水二盞煎至一大盞去渣空心服之</p>

<h4>瀉陰火丸（一名連柏益陰丸）</h4>
<p>五味子　羌活　獨活　甘草　當歸梢　防風（各五錢）　草決明　細黃芩　黃連（酒炒）　黃柏　知母（各一兩）　石決明（三錢炒存性）</p>
<p>上為細末煉蜜為丸如綠豆大每服五十丸至一百丸茶清下常多服補陽湯少服此藥多則妨飲食</p>

<h4>升陽柴胡湯</h4>
<p>肉桂（五分）　柴胡（去苗一錢五分）　防風　白茯苓　澤瀉　陳皮（各一錢）　生地黃（酒炒）　楮實（酒炒微潤）　黃耆　人參　白朮（各五錢）　甘草梢　當歸身　羌活　熟地黃　獨活　白芍藥（各一兩）　知母（酒炒如大者加作五錢）</p>
<p>上銼每服五錢水二盞煎至一盞去渣稍熱食遠服別合一料煉蜜為丸如梧桐子大每服五十丸茶清下每日與前藥各一服食遠不可飽服</p>
<p>如天氣熱加五味子（三錢）　天門冬（去心）　芍藥楮實（各五錢）</p>

<h4>溫衛湯</h4>
<p>治鼻不聞香臭目中流火氣寒血熱冷淚多臍下冷陰汗足痿弱</p>
<p>陳皮　青皮　黃連　木香（各三分）　人參　甘草（炙）　白芷　防風　黃柏　澤瀉（各五分）　黃耆　蒼朮　升麻　知母　柴胡　羌活（各一錢）　當歸身（一錢五分）</p>
<p>上都作一服水二盞煎至一盞去渣食遠服之</p>

<h4>圓明膏</h4>
<p>治勞心過度飲食失節乃生內障及瞳子散大此方收晴圓明</p>
<p>訶子皮（濕紙裹煨）　甘草（各二錢）　當歸身（三錢）　柴胡　生地黃　麻黃（去節搗開）　黃連（各五錢）</p>
<p>上七味先以水二碗煎麻黃至一碗掠去沫外六味各㕮咀如豆大篩去末入在內同熬滴水中不散為度入熟蜜少許再熬勤點眼</p>

<h4>㗜藥麻黃散</h4>
<p>治內外障眼</p>
<p>麻黃（一兩）　當歸身（一錢）</p>
<p>上二味同為粗末炒黑色入麝香乳香少許共為細末含水鼻內㗜之</p>

<h4>療本滋腎丸</h4>
<p>黃柏（酒炒）　知母（酒炒以上各等分）</p>
<p>上為細末滴水為丸如梧桐子大每服一百丸至一百五十丸空心鹽白湯下</p>

<h4>加味滋腎丸</h4>
<p>肉桂（三分）　黃連（一錢）　薑黃（一錢五分）　苦參（三錢）　苦葶藶（酒洗炒）　石膏（覺肚冷勿用）　黃柏（酒炒）　知母（酒炒各五錢）</p>
<p>上為極細末打薄麵糊為丸如梧桐子大每服一百丸空心服白湯下食壓之</p>

<h4>退翳膏</h4>
<p>治黑白翳</p>
<p>蕤仁　升麻（各三分）　連翹　防風　青皮（各四分）　甘草　柴胡（各五分）　當歸身（六分）　黃連（三錢）生地黃（一錢五分）　荊芥穗（一錢水半盞別浸用）</p>
<p>上用水一碗入前藥煎至半碗去渣更上火煎至半盞入荊芥水兩匙入蜜少許再上火熬勻點之</p>

<h4>龍膽飲子</h4>
<p>治疳眼流膿主疳翳濕熱為病</p>
<p>穀精草　川鬱金　蛇蛻皮　炙甘草（各五分）　升麻（二錢）　麻黃（一錢五分）　青蛤粉　草龍膽　黃芩（炒）　羌活（各三錢）</p>
<p>上為細末每服二錢食後溫茶清調服之</p>

<h4>柴胡聰耳湯</h4>
<p>治耳中乾結耳鳴耳聾</p>
<p>連翹（四錢）　柴胡（三錢）　炙甘草　當歸身　人參（各一錢）　水蛭（五分炒別研）　麝香（少許另研）　虻蟲（三個去翅足炒另研）</p>
<p>上除三味別研外生薑三片水二大盞煎至一盞去渣再下三味上火煎一二沸稍熱服食遠</p>

<h4>羌活退翳湯</h4>
<p>治太陽寒水翳膜遮睛不能視物</p>
<p>羌活（一兩五錢）　防風（一兩）　酒生地黃（一錢）　薄荷葉　藁本（各七錢）　酒知母（五錢）　黃柏（四錢）　川芎　當歸身（三錢）　小椒（五分）　細辛（少許）　麻黃（二錢用根）　荊芥穗（煎成藥加之）</p>
<p>上㕮咀每服三錢水二大盞煎至一盞半入荊芥穗再煎至一盞去渣稍熱服食遠忌酒醋濕面等物</p>

<h4>遠睛紫金丹</h4>
<p>治目眶歲久赤爛俗呼為赤瞎是也當以三稜針刺目眶外以瀉濕熱如眼生倒睫拳毛兩目緊蓋內伏火熱而攻陰氣法當去其熱內火邪眼皮緩則毛立出翳膜亦退用手法攀出內瞼向外以針刺之出血</p>
<p>白沙蜜（二十兩）　黃丹（六兩水飛）　南乳香　當歸（各三錢）　烏魚骨（二錢）　麝香（一錢）　白丁香（直者五分）　輕粉（一字）　甘石（十兩燒七遍碎連水浸拌）　楝連（三兩小便浸碎為末）硇砂（一錢小盞內放於瓶口上熏干）</p>
<p>上將白沙蜜於沙石器內慢火去沫下甘石次下丹以柳枝攪次下余藥以黏手為度作丸如雞頭大每用一丸溫水化開洗</p>

<h4>麗澤通氣湯</h4>
<p>治鼻不聞香臭</p>
<p>黃耆（四錢）　蒼朮　羌活　獨活　升麻　葛根　防風（各三錢）　炙甘草（二錢）　川椒　麻黃（不去節冬月加）　白芷（各一錢）</p>
<p>上㕮咀每服五錢生薑三片棗二枚蔥白三寸同煎至一盞去渣溫服食遠忌一切冷物及風寒涼處坐臥行立</p>

<h4>溫肺湯</h4>
<p>治鼻不聞香臭眼多眵淚</p>
<p>丁香（二分）　防風　炙甘草　葛根　羌活（各一錢）　升麻　黃耆（各二節錢）　麻黃（不去節四錢）</p>
<p>上為粗末水二盞蔥白三根煎至一盞去渣食後服</p>

<h4>禦寒湯</h4>
<p>寒氣風邪傷於毛皮令鼻壅塞咳嗽上喘之證</p>
<p>黃連　黃柏　羌活（各二分）　炙甘草　佛耳草　款冬花　白芷　防風（各三分）　升麻　人參　陳皮（各五分）　蒼朮（七分）　黃耆（一錢）</p>
<p>上㕮咀都作一服水二盞煎至一盞去渣食後熱服</p>

<h1>卷中</h1>

<h2>頭痛門</h2>

<h3>頭痛論</h3>
<p>金匱真言論云東風生於春病在肝俞在頸項故春氣者病在頭又諸陽會於頭面如足太陽膀胱之脈起於目內眥上額交顛上入絡腦還出別下項病沖頭痛又足少陽膽之脈起於目銳眥上抵頭角病則頭角額痛夫風從上受之風寒傷上邪從外入客於經絡令人振寒頭痛身重惡寒治在風池風府調其陰陽不足則補有餘則瀉汗之則愈此傷寒頭痛也頭痛耳鳴九竅不利者腸胃之所生乃氣虛頭痛也心煩頭痛者病在膈中過在手巨陽少陰乃濕熱頭痛也如氣上不下頭痛癲疾者下虛上實也過在足少陰巨陽甚則入腎寒濕頭痛也如頭半邊痛者先取手少陽陽明後取足少陽陽明此偏頭痛也有真頭痛者甚則腦盡痛手足寒至節死不治有厥逆頭痛者所犯大寒內至骨髓髓者以腦為主腦逆故令頭痛齒亦痛凡頭痛皆以風藥治之者總其大體而言之也高巔之上惟風可到故味之薄者陰中之陽乃自地昇天者也然亦有三陰三陽之異故太陽頭痛惡風脈浮緊川芎羌活獨活麻黃之類為主少陽經頭痛脈弦細往來寒熱柴胡為主陽明頭痛自汗發熱惡寒脈浮緩長實者升麻葛根石膏白芷為主太陰頭痛必有痰體重或腹痛為痰癖其脈沉緩蒼朮半夏南星為主少陰經頭痛三陰三陽經不流行而足寒氣逆為寒厥其脈沉細麻黃附子細辛為主厥陰頭項痛或吐痰沫厥冷其脈浮緩吳茱萸湯主之血虛頭痛當歸川芎為主氣虛頭痛人參黃耆為主氣血俱虛頭痛調中益氣湯少加川芎蔓荊子細辛其效如神白朮半夏天麻湯治痰厥頭痛藥也青空膏乃風濕熱頭痛藥也羌活附子湯治厥陰頭痛藥也如濕氣在頭者以若吐之不可執方而治先師嘗病頭痛發時兩頰青黃暈眩目不欲開懶言身體沉重兀兀欲吐潔古曰此厥陰太陰合病名曰風痰以局方玉壺丸治之更灸俠谿穴即愈是知方者體也法者用也徒執體而不知用者弊體用不失可謂上工矣</p>

<h4>青空膏</h4>
<p>治偏正頭痛年深不愈者善療風濕熱頭上壅損目及腦痛不止</p>
<p>川芎（五錢）　柴胡（七錢）　黃連（炒）　防風（去蘆）　羌活（各一兩）　炙甘草（一兩五錢）細挺子黃芩（三兩去皮銼一半酒製一半炒）</p>
<p>上為細末每服二錢匕於盞內入茶少許湯調如膏抹在口內少用白湯送下臨臥</p>
<p>如苦頭痛每服加細辛（二分）</p>
<p>如太陰脈緩有痰名曰痰厥頭痛減羌活防風川芎甘草加半夏（一兩五錢）</p>
<p>如偏正頭痛服之不愈減羌活防風川芎一半加柴胡一倍</p>
<p>如發熱惡熱而渴此陽明頭痛只與白虎湯加好吳白芷</p>

<h4>徹清膏</h4>
<p>蔓荊子　細辛（各一分）　薄荷葉　川芎（各三分）　生甘草　熟甘草（各五分）　藁本（一錢）</p>
<p>上為細末每服二錢食後茶清調下</p>

<h4>川芎散</h4>
<p>治頭目不清利</p>
<p>川芎（三分）　柴胡（七分）　羌活　防風　藁本　生甘草　熟甘草　升麻（各一錢）　酒生地黃（二錢）　酒黃連（炒）　酒黃芩（各四錢五分）</p>
<p>上為細末每服一錢或二三錢食後茶清調下忌酒濕面</p>

<h4>白芷散（一名鬱金散）</h4>
<p>治頭痛</p>
<p>鬱金（一錢）　香白芷　石膏（各二錢）　薄荷葉　芒硝（各三錢）</p>
<p>上為極細末口含水鼻內㗜之</p>

<h4>碧雲散</h4>
<p>治頭痛</p>
<p>細辛　鬱金　芒硝（各一錢）　蔓荊子　川芎（各一二分）　石膏（一錢三分）　青黛（一錢五分）　薄荷葉（二錢）　紅豆（一個）</p>
<p>上為極細末口噙水鼻內㗜之</p>

<h4>羌活清空膏</h4>
<p>蔓荊子（一錢）　黃連（三錢）　羌活　防風　甘草（各四錢）　黃芩（一兩）</p>
<p>上為細末每服一錢茶清調下食後臨臥</p>

<h4>清上瀉火湯</h4>
<p>昔有人年少時氣弱常於氣海三里灸之節次約五七十壯至年老添熱厥頭痛雖冬天大寒猶喜寒風其頭痛則愈微來暖處或見煙火其痛復作五七年不愈皆灸之過也</p>
<p>荊芥穗　川芎（各二分）　蔓荊子　當歸身　蒼朮（各三分）　酒黃連　生地黃　藁本　甘草（各五分）　升麻　防風（各七分）　酒黃柏　炙甘草　黃耆（各一錢）　酒黃芩　知母（酒各錢半）　羌活（三錢）　柴胡（五錢）　細辛（少許）　紅花（少許）</p>
<p>上銼如麻豆大分作二服每服水二盞煎至一盞去渣稍熱服食後</p>

<h4>補氣湯</h4>
<p>服前藥之後服此藥</p>
<p>柴胡（二分）　升麻（三分）　黃耆（八分）　當歸身　炙甘草（各二錢）　紅花（少許）</p>
<p>上㕮咀作二服水二盞煎至一盞去渣稍熱服食後</p>

<h4>細辛散</h4>
<p>治偏正頭痛</p>
<p>細辛　瓦粉（各二分）　生黃芩　芍藥（各五分）　酒黃連　川芎（各七分）　酒黃芩（一錢）甘草（炙一錢五）　柴胡（二錢）</p>
<p>上為粗末每服三錢水一大盞半煎至一盞取清食後服之</p>

<h4>羌活湯</h4>
<p>治風熱壅盛上攻頭目昏眩</p>
<p>炙甘草（七分）　澤瀉（三錢）　栝蔞根（酒洗五錢）　羌活（一兩）　白茯苓　酒黃柏（各五錢）　柴胡（七錢）　防風　細黃芩（酒洗）　酒黃連（各一兩）</p>
<p>上為粗末每服五錢重水二中盞煎至一盞取清食後臨臥通口熱服之</p>

<h4>養神湯</h4>
<p>治精神短不得睡項筋腫急難伸禁甘溫宜苦味</p>
<p>木香　橘皮　柴胡（各一分）　酒黃芩（二分）　人參　黃柏　白朮　川芎（各三分）　升麻（四分）　蒼朮　麥蘖　當歸身　黃連（各五分）　甘草　半夏（各七分）　黃耆（一錢）</p>
<p>上㕮咀每服五錢水二大盞煎至一盞去渣稍熱服不拘時候</p>

<h4>安神湯</h4>
<p>治頭痛頭旋眼黑</p>
<p>生甘草　炙甘草（各二錢）　防風（二錢五分）　柴胡　升麻　酒生地黃　酒知母（各五錢）黃耆（二兩）　酒黃柏　羌活（各一兩）</p>
<p>上為粗末每服五錢水二大盞半煎至一盞半加蔓荊子五分川芎三分再煎至一盞去渣臨臥熱服</p>

<h4>半夏白朮天麻湯</h4>
<p>範天騋之內有脾胃證時顯煩躁胸中不利大便不通而又為寒氣怫鬱悶亂大作火不伸故也疑其有熱服疏風丸大便行其病不減恐其藥少再服七八十丸大便復見兩行元證不瘳增以吐逆食不能停痰唾稠黏湧出不止眼黑頭旋噁心煩悶氣短促上喘無力以言心神顛倒目不敢開如在風雲中頭苦痛如裂身重如山四肢厥冷不得安臥余料前證是胃氣已損復下兩次則重虛其胃而痰厥頭痛作矣與此藥而治之</p>
<p>黃柏（二分酒洗）　乾薑（三分）　澤瀉　白茯苓　天麻　黃耆　人參　蒼朮（各五分）　炒神麯　白朮（各一錢）麥蘖面　半夏（湯洗）　橘皮（各一錢五分）</p>
<p>上㕮咀每服五錢水二大盞煎至一盞去渣熱服食前一服而愈此頭痛苦甚謂之足太陰痰厥頭痛非半夏不能療眼黑頭旋風虛內作非天麻不能除黃耆甘溫瀉火補元氣實表虛止自汗人參甘溫瀉火補中益氣二術俱苦甘溫除濕補中益氣澤瀉茯苓利小便導濕橘皮苦溫益氣調中升陽神麯消食蕩胃中滯氣大麥面寬中助胃氣乾薑辛熱以滌中寒黃柏大苦寒酒洗以療冬天少火在泉發躁也</p>

<h2>口齒咽喉門</h2>

<h3>口齒論</h3>
<p>論曰夫齒者腎之標口者脾之竅諸經多有會於口者其牙齒是手足陽明之所過上齦隸於坤土乃足陽明胃之脈貫絡也止而不動下齦嚼物動而不休手陽明大腸之脈所貫絡也手陽明惡寒飲而喜熱足陽明喜寒飲而惡熱其病不一牙者腎之標亦喜寒寒者堅牢為病不同熱甚則齒動齦齦袒脫作痛不已故所治療不同也有惡熱而作痛者有惡寒而作痛者有惡寒惡熱而作痛者有惡寒飲少熱飲多而作痛者有惡熱飲少寒飲多而作痛者有牙齒動搖而作痛者有齒齦腫起為痛者有脾胃中有風邪但覺風而作痛者又有牙上多為蟲所蝕其齒缺少而色變為蟲牙痛者有胃中氣少不能於寒袒露其齒作痛者有牙齒疼痛而穢臭之氣不可近者痛既不一豈可一藥而盡之哉</p>

<h4>羌活散</h4>
<p>治客寒犯腦風寒濕腦痛項筋急牙齒動搖肉齦袒脫疼痛</p>
<p>藁本　香白芷　桂枝（各三分）　蒼朮　升麻（各五分）　當歸身（六分）　草豆蔻仁（一個）羌活（一錢五分）　羊脛骨灰（二錢）　麻黃（去枝節）　防風（各三錢）　柴胡（五錢）　細辛（少許）</p>
<p>上為細末先用溫水漱口淨擦之其痛立止也</p>

<h4>草豆蔻散</h4>
<p>治寒多熱少牙齒疼痛</p>
<p>細辛葉　防風（各二分）　羊脛骨灰　熟地黃（各五分）　當歸（六分）　草豆蔻仁　黃連（各一錢三分）　升麻（二錢五分）</p>
<p>上為細末同前牙痛處擦之</p>

<h4>麻黃散</h4>
<p>治冬寒時分寒濕腦痛項筋急牙齒動搖疼痛</p>
<p>防風　藁本（各三分）　羊脛骨灰　當歸身　熟地黃（各六分）　草豆蔻仁　升麻　黃連（各一錢）　羌活（一錢五分）　麻黃（不去節）　草龍膽（酒洗）　生地黃（各二錢）　細辛（少許）</p>
<p>上為細末依前藥法擦之</p>
<p>熱牙散（一名麝香散）</p>
<p>治大熱牙齒瘴露根肉齦脫血出齒動欲落疼痛妨食忤涼少忤熱多</p>
<p>熟地黃（二分）　益智仁（二分半）　當歸身　生地黃　麻黃根　酒漢防己　人參（各三分）升麻（一錢）　草豆蔻　黃連（各一錢五分）　羊脛骨灰（二錢）　麝香（少許）</p>
<p>上為細末如前藥擦之</p>

<h4>治蟲散（一名白芷散）</h4>
<p>治大寒犯腦牙齒疼痛及蟲痛胃經濕熱腫痛</p>
<p>桂枝（一分）　熟地黃（二分）　藁本　白芷（各三分）　當歸身　益智仁　黃連（各四分）　羌活（五分）　吳茱萸（八分）　草豆蔻　黃耆　升麻（各一錢）　羊脛骨灰（二錢）　麻黃（不去節二錢五分）</p>
<p>上為細末同前擦之</p>

<h4>益智木律散</h4>
<p>治寒熱牙痛</p>
<p>木律（二分）　當歸　黃連（各四分）　益智仁（五分）　草豆蔻皮（一錢二分）　熟地黃（五分）　羊脛骨灰（五分）　升麻（一錢五分）</p>
<p>上為細末用度如前擦之</p>
<p>如寒牙痛不用木律</p>

<h4>蠍梢散</h4>
<p>治大寒風犯腦牙痛</p>
<p>白芷　當歸身　柴胡（各二分）　桂枝　升麻　防風　藁本　黃耆（各三分）　羌活（五分）草豆蔻皮（一錢）　麻黃（去節一錢五分）　蠍梢（少許）　羊脛骨灰（二錢五分）</p>
<p>上為細末如前法用之</p>

<h4>白牙散</h4>
<p>白芷（七分）　升麻（一錢）　羊脛骨灰（二錢）　石膏（一錢五分）　麝香（少許）</p>
<p>上為細末先用溫水嗽口擦之妙</p>

<h4>刷牙藥</h4>
<p>麝香（一分）　生地黃　酒防己　熟地（各二分）　當歸身　人參（各三分）　草豆蔻皮（五分）　升麻（一錢）　羊脛骨灰　黃連（各二錢）　白豆蔻（三錢）　草豆蔻（三錢）　沒石子（三個）　五倍子（一個）</p>
<p>上為細末如前法擦之妙</p>

<h4>獨聖散</h4>
<p>治一切牙痛風疳</p>
<p>北地蒺藜（不拘多少陰乾）上為細末每用刷牙以熱漿水漱牙外粗末熬漿水刷牙大有神效不可具述</p>

<h4>當歸龍膽散</h4>
<p>治寒熱停牙痛</p>
<p>香白芷　當歸梢　羊脛骨灰　生地（各五分）　麻黃　草豆蔻皮　草龍膽　升麻　黃連（各一錢）</p>
<p>上為細末如前法擦之神效</p>

<h4>牢牙地黃散</h4>
<p>治腦寒痛及牙痛</p>
<p>藁本（二分）　生地黃　熟地黃　羌活　防己　人參（各三分）　益智仁　歸身（各四分）　香白芷　黃耆（各五分）　羊脛骨灰　吳茱萸　黃連　麻黃（各一錢）　草蔻皮（一錢二分）　升麻（一錢五分）</p>
<p>上為細末如前法擦之</p>

<h4>細辛散</h4>
<p>治寒邪風邪犯腦牙齒痛</p>
<p>柴胡　防風　升麻　白芷（各二分）　桂枝（二分半）　麻黃（去節）　藁本　蒼朮（各三分）當歸身（四分）　草豆蔻（五分）羊脛骨灰　羌活（各錢五分）　細辛（少許）</p>
<p>上為細末先漱後擦之佳</p>

<h4>立效散</h4>
<p>治牙齒痛不可忍及頭腦項背痛微惡寒飲大惡熱飲其脈上中下三部陽虛陰盛是五臟內盛六腑陽道微脈微小小便滑數</p>
<p>細辛（二分）　炙甘草（三分）　升麻（七分）　防風（一錢）　草龍膽（酒洗四錢）</p>
<p>上㕮咀都作一服水一盞煎至七分去渣以匙抄在口中炸痛處待少時則止</p>
<p>如多惡熱飲更加草龍膽（一錢）此法不定隨寒熱多少臨時加減</p>
<p>若更惡風作痛加草豆蔻黃連（各五分）勿加草龍膽</p>

<h4>牢牙散</h4>
<p>治牙齦肉綻有根牙疳腫痛牙動搖欲落牙齒不長牙黃口臭</p>
<p>羌活（一兩）　草龍膽（酒洗一兩五錢）　羊脛骨灰（二兩）　升麻（一兩）</p>
<p>上為細末以紗羅子羅骨灰作微塵末和勻臥時貼在牙齦上</p>

<h4>清胃散</h4>
<p>治因服補胃熱藥致使上下牙痛疼不可忍牽引頭腦滿面發熱大痛足陽明之別絡入腦喜寒惡熱乃是手陽明經中熱盛而作也其齒喜冷惡熱</p>
<p>當歸身　揀細黃連（夏月倍之）　生地黃（酒製各三分）　牡丹皮（五分）　升麻（一錢）</p>
<p>上為細末都作一服水一盞半煎至一盞去渣帶冷服之</p>

<h4>神功丸</h4>
<p>治多食肉人口臭不可近牙齒疳蝕牙齦肉將脫牙齒落血不止</p>
<p>蘭香葉（如無用藿香葉代之）　當歸身　木香（各一錢）　升麻（二錢）　生地黃（酒洗）　生甘草（各三錢）　黃連（去須酒洗）　縮砂仁（各五錢）</p>
<p>上同為細末湯浸𩚫餅為丸如綠豆大每服一百丸或加至二百丸止白湯下食遠服兼治血痢及血崩及血下不止血下褐色或紫色黑色及腸澼下血空心服米湯下其脈洪大而緩者及治麻木厥氣上衝逆氣上行妄聞妄見者</p>

<h4>桔梗湯</h4>
<p>治咽腫微覺痛聲破</p>
<p>當歸身　馬勃（各一分）　白殭蠶　黃芩（各三分）　麻黃（五分不去節）　桔梗　甘草（各一錢）　桂枝（少許）</p>
<p>上為粗末作一服水二大盞煎至一盞去渣稍熱服之食後</p>
<p>又方</p>
<p>治口瘡久不愈者</p>
<p>黃柏（不計多少真者蜜塗其上炙黃色）</p>
<p>上為細末干糝瘡上臨臥忌醋醬鹽</p>

<h4>神驗法</h4>
<p>治口瘡無問久新</p>
<p>夜間將二丸勒緊以左右手交揉三五十次但遇睡覺行之如此三五度因濕而生者一夜愈久病諸般口瘡三二夜愈如鼻流清涕者勒之二丸揉之數夜可愈</p>
<p>內經云膀胱移熱於小腸膈腸不便上為口糜易老五苓散與導赤散合而飲之</p>

<h2>嘔吐門</h2>

<h3>丁香茱萸湯</h3>
<p>治嘔吐噦胃虛寒所致</p>
<p>黃柏（三分）　炙甘草　丁香　柴胡　橘皮（各五分）　升麻（七分）　吳茱萸　蒼朮　人參（各一錢）　當歸身（一錢五分）　草豆蔻仁　黃耆（各一錢）</p>
<p>上為粗末每服五錢水二大盞煎至一盞去渣稍熱服食前</p>

<h3>白朮湯（一名茯苓半夏湯）</h3>
<p>治胃氣虛弱身重有痰噁心欲吐是風邪羈絆於脾胃之間當先實其脾胃</p>
<p>炒神麯（二錢）　陳皮　天麻（各三錢）　白朮　白茯苓　麥蘖面（炒黃色）　半夏（各五錢）</p>
<p>上㕮咀每服五錢水二盞入生薑五片同煎至一盞去渣稍熱服之</p>

<h3>補肝湯（一名柴胡半夏湯）</h3>
<p>治素有風證不敢見風眼澀頭痛眼黑胸中有痰噁心兀兀欲吐遇風但覺皮肉緊手足難舉重物如居暖室少出微汗其證乃減再或遇風病即復</p>
<p>柴胡　升麻　藁本（各五分）　白茯苓（七分）　炒神麯　蒼朮（各一錢）　半夏（二錢）　生薑（十片）</p>
<p>上為粗末都作一服水二大盞煎至一大盞去渣稍熱服</p>

<h3>吳茱萸丸（一名木香利膈丸）</h3>
<p>治寒在膈上噎塞咽膈不通</p>
<p>木香　青皮（各二分）　白殭蠶　薑黃　澤瀉　柴胡（各四分）　當歸身　甘草（各六分炙）益智仁　人參　橘皮　升麻　黃耆（各八分）　半夏（一錢）　草豆蔻仁　吳茱萸（各錢二分）麥蘖面（一錢五分）</p>
<p>上為細末湯浸蒸餅為丸如綠豆大每服二三十丸溫水送下勿多飲湯恐速下細嚼亦</p>

<h2>衄血吐血門</h2>

<h3>麥門冬飲子</h3>
<p>治吐血久不愈以三稜針於氣街出血立愈</p>
<p>黃耆（一錢）　麥門冬　當歸身　生地黃　人參（各五分）　五味子（十個）</p>
<p>上為粗末都作一服水二盞煎至一盞去渣熱服不拘時</p>

<h3>人參飲子</h3>
<p>治脾胃虛弱氣促氣弱精神短少衄血吐血</p>
<p>麥門冬（二分）　人參（去蘆）　當歸身（各三分）　黃耆　白芍藥　甘草（各一錢）　五味子（五個）</p>
<p>上為粗末都作一服用水二盞煎至一盞去渣稍熱服</p>
<p>一貧者有前證以前藥投之愈繼而至冬天居曠室中臥大熱炕而吐血數次再來求治料此病久虛弱附臍有形而有火熱在內上氣不足陽氣外虛當補表之陽氣瀉其里之虛熱是其法也冬天居曠室衣蓋單薄是重虛其陽表有大寒壅遏裡熱火邪不得舒伸故血出於口憶仲景傷寒論中一證太陽傷寒當以麻黃湯發汗而不與之遂成衄卻與麻黃湯立愈此法相同予遂用之</p>

<h3>三黃補血湯</h3>
<p>治六脈俱大按之空虛心動面赤善驚上熱乃手少陰心脈也此氣盛多而亡血以甘寒鎮墜之劑大瀉其氣以墜氣浮以甘辛溫微苦峻補其血</p>
<p>牡丹皮　黃耆　升麻（各一錢）　當歸　柴胡（各一錢五分）　熟地黃　川芎（各二錢）　生地黃（三錢）　白芍藥（五錢）</p>
<p>上㕮咀如麻豆大每服五錢水二大盞煎至一大盞去渣稍熱服食前</p>
<p>如兩寸脈芤血在上焦或衄血或嘔血與犀角地黃湯則愈</p>

<h3>救脈湯（一名人參救肺散）</h3>
<p>治吐血</p>
<p>甘草　蘇木　陳皮（各五分）　升麻　柴胡　蒼朮（各一錢）　當歸梢　熟地黃　白芍藥　黃耆　人參（各二錢）</p>
<p>上為粗末都作一服水二大盞煎至一盞去渣稍溫食前服</p>

<h3>麻黃桂枝湯</h3>
<p>人參（益上焦元氣不足而實其表也）　麥冬（保肺氣各三分）　桂枝（以補表虛）　當歸身（和血養血各五分）　甘草（補其脾胃之虛）　麻黃（去根節）　黃耆（實表益衛）　白芍藥（各一錢）　五味子（五個安其脈氣）</p>
<p>上以水三盞先煮麻黃一味令沸去沫至二盞入余藥同煎至一盞去渣熱服臨臥只一服而愈更不再作</p>

<h3>黃耆芍藥湯</h3>
<p>治鼻衄血多面黃眼澀多眵手麻木</p>
<p>葛根　羌活（各五錢）　升麻（一兩）　炙甘草（二兩）　白芍藥　黃耆（各三兩）</p>
<p>上㕮咀每服五錢水二盞煎至一盞食後</p>
<p>六脈弦細而澀按之空虛其色必白而天不澤者脫血也此大寒證以辛溫補血益血以甘溫甘熱滑潤之劑以佐之則愈此亡血亦傷精氣</p>

<h3>止衄血法</h3>
<p>治鼻血久不止素有熱而暴作者諸藥無驗神法以大紙一張作八折或十折於水內濕置頂中以熱熨斗熨至一重或二重紙干立止</p>

<h2>腰痛門</h2>

<h3>川芎肉桂湯</h3>
<p>丁未冬曹通甫自河南來有役人小翟露宿寒濕之地腰痛不能轉側兩脅搐急作痛已經月餘不愈矣腰痛論中說皆為足太陽足少陰血絡中有凝血作痛間有一二證屬少陽膽經外絡脈病皆去血絡之凝乃愈其內經有云冬三月禁不得用針只宜服藥通其經絡破其血絡中敗血以此藥主之</p>
<p>酒漢防己　防風（各三分）　炒神麯　獨活（各五分）　川芎　柴胡　肉桂　當歸梢　炙甘草　蒼朮（各一錢）　桃仁（五個去皮尖）　羌活（一錢五分）</p>
<p>上㕮咀都作一服好酒三大盞煎至一大盞去渣稍熱食遠服</p>

<h3>獨活湯</h3>
<p>治因勞役腰痛如折沉重如山</p>
<p>炙甘草（二錢）　羌活　防風　獨活　大黃（煨）　澤瀉　肉桂（各三錢）　當歸梢　連翹（各五錢）　酒漢防己　酒黃柏（各一兩）　桃仁（三十個）</p>
<p>上㕮咀每服五錢酒半盞水一大盞半煎至一盞去渣熱服</p>

<h3>破血散疼湯</h3>
<p>治乘馬損傷跌其脊骨惡血流於脅下其痛苦楚不能轉側妨於飲食</p>
<p>羌活　防風　中桂（各一錢）　蘇木（一錢五分）　連翹　當歸梢　柴胡（各二錢）　麝香（少許另研）　水蛭（三錢炒去煙盡另研）</p>
<p>上件分作二服每服酒二大盞水一大盞除水蛭麝香另研如泥煎余藥作一大盞去渣上火令稍熱調二味空心服之兩服立愈</p>

<h3>地龍散</h3>
<p>治腰脊痛或打撲損傷從高墜下惡血在太陽經中令人腰脊痛或脛腨臂股中痛不可忍鼻塞不通</p>
<p>當歸梢（一分）　中桂　地龍（各四分）　麻黃（五分）　蘇木（六分）　獨活　黃柏　甘草（各一錢）　羌活（二錢）　桃仁（六個）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣溫服食</p>

<h3>蒼朮湯</h3>
<p>治濕熱腰腿疼痛</p>
<p>防風（風能勝濕）　黃柏（各一錢始得之時寒也久不愈寒化為熱除濕止痛）　柴胡（二錢行經）　蒼朮（三錢去濕止痛）</p>
<p>上都作一服水二大盞煎至一盞去渣空心服</p>

<h3>麻黃復煎散</h3>
<p>治陰室中汗出懶語四肢困倦無力走注疼痛乃下焦伏火而不得伸浮而躁熱汗出一身盡痛蓋風濕相搏也以升陽發汗漸漸發之火鬱及濕在經者亦宜發汗況正值季春之月脈緩而遲尤宜發汗令風濕去而陽升以此困倦乃退氣血俱得生旺也</p>
<p>白朮　人參　生地黃　柴胡　防風（各五分）　羌活　黃柏（各一錢）　麻黃（去節微搗不令作末水五大盞煎令沸去沫煎至二盞入下項藥再煎）　黃耆（各二錢）　甘草（三錢）　杏仁（三個去皮）</p>
<p>上㕮咀都作一服入麻黃湯煎至一盞臨臥服之勿令食飽取漸次有汗則效</p>

<h3>緩筋湯（一名羌活湯）</h3>
<p>治兩目如火腫痛兩足及伏兔筋骨痛膝少力身重腰痛夜惡寒痰嗽頸項皆急痛目外眵目絲急食不下</p>
<p>熟地黃（二分）　生甘草　柴胡　紅花　炙甘草　蘇木　獨活（各二分）　藁本　升麻　黃芩　草豆蔻仁　酒黃柏　生地黃　當歸身　麻黃（各三分）　羌活（三錢）　蒼朮（五分）</p>
<p>上為粗末都作一服水二大盞煎至一盞去渣食遠服之</p>

<h3>拈痛湯</h3>
<p>治濕熱為病肩背沉重肢節疼痛胸膈不利</p>
<p>白朮（五分）　人參（去蘆）　苦參（酒炒）　升麻（去蘆）　葛根　蒼朮（各二錢）　防風（去蘆）　知母（酒洗）　澤瀉　黃芩（炒）　豬苓　歸身（各三錢）　炙甘草　黃芩（酒洗）　茵陳（酒炒）　羌活（各五錢）</p>
<p>上㕮咀每服一兩水二大盞煎至一盞去渣食遠服</p>

<h3>蒼朮復煎散</h3>
<p>治寒濕相合腦右痛惡寒項筋脊骨強肩背胛眼痛膝臏痛無力行步沉重</p>
<p>紅花（一分）　黃柏（三分）　柴胡　藁本　澤瀉　白朮　升麻（各五分）　羌活（一錢）　蒼朮（四兩水二碗煎二盞去渣入藥）</p>
<p>上㕮咀先煎蒼朮湯二大盞復煎前項藥至一大盞稍熱空心服取微汗為效忌酒濕面</p>

<h3>羌活蒼朮湯</h3>
<p>治腳膝無力沉重</p>
<p>炙甘草　黃柏　草豆蔻　生甘草　葛根（各五分）　橘皮（六分）　柴胡（七分半）　升麻　獨活縮砂仁　蒼朮（各一錢）　防風（一錢五分）　黃耆（二錢）　知母（二錢五分）　羌活（三錢）</p>
<p>上㕮咀分作二服水二大盞煎至一盞去渣空心服</p>

<h2>婦人門</h2>

<h3>經閉不行有三論</h3>
<p>陰陽別論云二陽之病發心脾有不得隱曲女子不月其傳為風消為息賁者死不治婦人脾胃久虛或形嬴氣血俱衰而致經水斷絕不行或病中消胃熱善食漸瘦津液不生夫經者血脈津液所化津液既絕為熱所爍肌肉消瘦時見渴躁血海枯竭病名曰血枯經絕宜瀉胃之燥熱補益氣血經自行矣此證或經適行而有子子不安為胎病者有矣或心包脈洪數躁作時見大便秘澀小便雖清不利而經水閉絕不行此乃血海乾枯宜調血脈除包絡中火邪而經自行矣內經所謂小腸移熱於大腸為癥瘕為沉脈澀不利則月事沉滯而不利故云為癥瘕為沉也或因勞心心火上行月事不來安心和血瀉火經自行矣故內經云月事不來者胞脈閉也胞脈者屬心而絡於胞中令氣上迫肺心氣不得下故月事不來也</p>

<h3>經漏不止有二論</h3>
<p>陰陽別論云陰虛陽搏謂之崩婦人脾胃虛損致命門脈沉細而數疾或沉弦而洪大有力寸關脈亦然皆由脾胃有虧下陷於腎與相火相合濕熱下迫經漏不止其色紫黑如夏月腐肉之臭中有白帶者脈必弦細寒作於中中有赤帶者其脈洪數疾熱明矣必腰痛或臍下痛臨經欲行先見寒熱往來兩脅急縮兼脾胃證出見或四肢困熱心煩不得眠臥心下急宜大補脾胃而升舉血氣可一服而愈或人故貴脫勢人事疏少或先富後貧心氣不足其火大熾旺於血脈之中又致脾胃飲食失節火乘其中形質肌肉容顏似不病者此心病也不形於診故脾胃飲食不調其證顯矣而經水不時而下或適來適斷暴下不止治當先說惡死之言勸諭令歡死而心不動以大補氣血之藥養脾胃微加鎮墜心火之藥治其心補陰瀉陽經自止矣痿論云悲哀太甚則胞絡絕也陽氣內動發則心下崩數溲血也故本病曰大經空虛發則肌痹傳為脈痿此之謂也</p>

<h4>升陽除濕湯（一名調經升麻除濕湯）</h4>
<p>治女子漏下惡血月事不調或暴崩不止多下水漿之物皆由飲食不節或勞傷形體或素有心氣不足因飲食勞倦致令心火乘脾其人必怠惰嗜臥四肢不收困倦乏力無氣以動氣短上氣逆急上衝其脈緩而弦急按之洪大皆中指下得之脾土受邪也脾主滋榮周身者也心主血血主脈二者受邪病皆在脈脈者血之府也脈者人之神也心不主令包絡代之故曰心之脈主屬心系心系者包絡命門之脈也主月事因脾胃虛而心包乘之故漏下月事不調也況脾胃為血氣陰陽之根蒂也當除濕去熱益風氣土伸以勝其濕又云火鬱則發之</p>
<p>當歸（酒洗）　獨活（各五分）　蔓荊子（七分）　防風　炙甘草　升麻　藁本（各一錢）　柴胡　羌活　藁本　黃耆（各一錢五分）</p>
<p>上銼如麻豆大勿令作末都作一服以潔淨新汲水三大盞煎至一大盞去渣空心熱服待少時以早飯壓之可一服而已如灸足太陰脾經中血海穴二七壯亦已</p>
<p>此藥乃從權之法用風勝濕為胃下陷而氣迫於下以救其血之暴崩也並血惡之物住後必須黃耆人參炙甘草當歸之類數服以補之於補氣升陽湯中加以和血藥便是也若經血惡物下之不絕尤宜究其根源治其本經只益脾胃退心火之亢乃治其根蒂也若遇夏月白帶下脫漏不止宜用此湯一服立止</p>

<h4>涼血地黃湯</h4>
<p>治婦人血崩是腎水陰虛不能鎮守包絡相火故血走而崩也</p>
<p>黃芩　荊芥穗　蔓荊子（各一錢）　黃柏　知母　藁本　細辛　川芎（各二分）　黃連　羌活　柴胡　升麻　防風（各三分）　生地黃　當歸（各五分）　甘草（一錢）　紅花（少許）</p>
<p>上㕮咀都作一服水三大盞煎至一盞去渣稍熱空心服之</p>
<p>足太陰脾之經中血海二穴在膝臏上內臁白肉際二寸中治女子漏下惡血月事不調逆氣腹脹其脈緩者是也灸三壯</p>
<p>足少陰腎之經中陰谷二穴在膝內輔骨後大筋下小筋上按之應手屈膝取之治膝如錐不得屈伸舌縱涎下煩逆溺難少腹急引陰痛股內臁痛婦人漏血不止腹脹滿不得息小便黃如蠱女子如妊身可灸二壯</p>

<h4>酒煮當歸丸</h4>
<p>治癲疝白帶下疰腳氣腰以下如在冰雪中以火焙炕重重厚綿衣蓋其上猶寒冷不任寒之極也面白如枯魚之象肌肉如刀割削瘦峻之速也小便不止與白帶長流而不禁固自不知覺面白目青藍如菜色目䀮䀮無所見身重如山行步欹側不能安地腿膝枯細大便難秘口不能言無力之極食不下心下痞煩心懊憹不任其苦面停垢背惡寒小便遺而不知此上中下三陽真氣俱虛欲竭噦嘔不止胃虛之極也脈沉厥緊而澀按之空虛若脈洪大而澀按之無力猶為中寒之證況按之空虛者乎按之不鼓是為陰寒乃氣血俱虛之極也</p>
<p>茴香（五錢）　黑附子（炮製去皮臍）　良薑（各七錢）　當歸（一兩）</p>
<p>上四味銼如麻豆大以上等好酒一升半同煮至酒盡焙乾</p>
<p>炙甘草　苦楝（生用）　丁香（各五錢）　木香　升麻（各一錢）　柴胡（二錢）　炒黃鹽　全蠍（各三錢）　延胡索（四錢）</p>
<p>上與前四味藥同為細末酒煮麵糊為丸如梧桐子大每服五七十丸空心淡醋湯下忌油膩冷物酒濕面</p>

<h4>固真丸</h4>
<p>治白帶久下不止臍腹冷痛陰中亦然目中溜火視物䀮䀮然無所見齒皆惡熱飲痛須得黃連細末擦之乃止惟喜干食大惡湯飲此病皆寒濕乘其胞內故喜干而惡濕肝經陰火上溢走於標故上壅而目中溜火腎水侵肝而上溢致目䀮䀮而無所見齒惡熱飲者是陽明經中伏火也治法當大瀉寒濕以丸藥治之故曰寒在下焦治宜緩大忌湯散以酒製白石脂白龍骨以枯其濕炮乾薑大熱辛瀉寒水以黃柏之大寒為因用又為鄉導故云古者雖有重罪不絕人之後又為之伏其所主先其所因之意又瀉齒中惡熱飲也以柴胡為本經之使以芍藥五分導之恐辛熱之藥大甚損其肝經故微瀉之以當歸身之辛溫大和其血脈此用藥之法備矣</p>
<p>黃柏（酒洗）　白芍藥（各五分）　柴胡　白石脂（各一錢火燒赤水飛細研日乾）　白龍骨（酒煮日乾水飛為末）　當歸（酒洗各二錢）　乾薑（四錢炮）</p>
<p>上件除龍骨白石脂水飛研外同為細末水煮麵糊為丸如雞頭仁大日乾空心多用白沸湯下無令胃中停滯待少時以早飯壓之是不令熱藥犯胃忌生冷硬物酒濕面</p>

<h4>烏藥湯</h4>
<p>治婦人血海疼痛</p>
<p>當歸　甘草　木香（各五錢）　烏藥（一兩）　香附子（二兩炒）</p>
<p>上㕮咀每服五錢水二大盞去渣溫服食前</p>

<h4>助陽湯（一名升陽燥濕湯）</h4>
<p>治白帶下陰戶中痛控心而急痛身黃皮緩身重如山陰中如冰</p>
<p>生黃芩　橘皮（各五分）　防風　高良薑　乾薑　郁李仁　甘草（各一錢）　柴胡（一錢三分）　白葵花（七朵）</p>
<p>上銼如麻豆大分作二服每服水二大盞煎至一盞去渣食前稍熱服</p>

<h4>水府丹</h4>
<p>治婦人久虛積冷經候不行癥瘕癖塊腹中暴痛面有䵟𩿪黎黑羸瘠</p>
<p>硇砂（紙隔沸湯淋熬取）　紅豆（各五錢）　桂心（另為末）　木香　乾薑（各一兩）　砂仁（二兩）　經煅花蕊石（研一兩五錢）　斑蝥（一百個去頭翅）　生地黃汁　童子小便（各一升）　臘月狗膽（七枚）　芫蜻（三百個去頭足糯米升炒米黃去米不用）上九味為細末同三汁熬為膏和丸如雞頭大硃砂為衣每服一丸溫酒細嚼食前服米飲亦可孕婦不可服</p>

<h4>丁香膠艾湯</h4>
<p>治崩漏不止蓋心氣不足勞役及飲食不節所得經隔少時其脈二尺俱弦緊洪按之無力其證自覺臍下如冰求厚衣被以御其寒白帶白滑之物多間有如屋漏水下時有鮮血石尺脈時微洪也</p>
<p>熟地黃　白芍藥（各三分）　川芎　丁香（各四分）　阿膠（六分）　生艾葉（一錢）　當歸（一錢二分）</p>
<p>上川芎為細末當歸酒洗銼熟地黃丁香為細末艾亦銼都作一服水二大盞先煎五味作一盞零二分去渣入膠再上火煎至一大盞帶熱空心服之</p>

<h4>黃耆當歸人參湯</h4>
<p>丁未仲冬郭大方來說其妻經水暴崩不止先曾損身失血自後一次縮一十日而來今次不止其人心窄性急多驚以予料之必因心氣不足飲食不節得之大方曰無到彼診得掌中寒脈沉細而緩間而沉數九竅微有不利四肢無力上喘氣短促口鼻氣皆不調果有心氣不足脾胃虛弱之證胃脘當心而痛左脅下縮急有積當臍有動氣腹中鳴下氣大便難虛證極多不能盡錄擬先治其本餘證可以皆去安心定志鎮墜其經調和脾胃大益元氣補其血脈令養其神以大熱之劑去其冬寒凝在皮膚內少加生地黃去命門相火不令四肢痿弱</p>
<p>黃連（一分）　生地黃（三分）　炒神麯　橘皮　桂枝（各五分）　草豆蔻仁（六分）　黃耆　人參　麻黃（不去節各一錢）　當歸身（一錢五分）　杏仁（五個另研如泥）</p>
<p>上㕮咀作二服水二大盞半煎麻黃令沸去渣煎至二盞入諸藥同煎至一大盞於巳午之間食消盡服之一服立止其胃脘痛乃胃上有客寒與大熱藥草豆蔻丸一十五丸白湯送下其痛立止再與肝之積藥除其積之根源而愈</p>

<h4>當歸芍藥湯</h4>
<p>治婦人經脈漏下不止其色鮮紅時值七月處暑之間先因勞役脾胃虛弱氣短氣逆自汗不止身熱悶亂惡見飲食非惟不入亦不思食沉懶困倦四肢無力大便時瀉後再因心氣不足經脈再下不止惟覺氣下脫其元氣逆上全無惟覺心腹中氣下行氣短少不能言是無力以言非懶語也此藥主之</p>
<p>柴胡（二分）　炙甘草　生地黃（各三分）　橘皮（不去白）　熟地黃（各五分）　黃耆（一錢五分）　蒼朮（泔浸去皮）　當歸身　白芍藥　白朮（各二錢）上十味㕮咀如麻豆大分作二服水二盞半煎至一盞去渣稍熱空心服之</p>

<h4>柴胡調經湯</h4>
<p>治經水不止鮮紅項筋急腦痛脊骨強痛</p>
<p>炙甘草　當歸身　葛根（各三分）　獨活　藁本　升麻（各五分）柴胡（七分）　羌活　蒼朮（各一錢）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水四大盞煎至一盞去渣空心稍熱服取微汗立止</p>
<p>一婦人經候凝結黑血成塊左廂有血瘕水泄不止谷有時不化後血塊暴下並水俱作是前後二陰有形血脫竭於下既久經候猶不調水泄日見三兩行食罷煩心飲食減少甚至瘦弱東垣老人曰夫聖人治病必本四時升降浮沉之理權變之宜必先歲氣無伐天和無盛無虛遺人夭殃無致邪無失正絕人長命故仲景云陽盛陰虛下之則愈汗之則死陰盛陽虛汗之即愈下之即死大抵聖人立法且如升陽或發散之劑是助春夏之陽氣令其上升乃瀉秋冬收藏殞殺寒涼之氣此病是也當用此法治之升降浮沉之至理也天地之氣以升降浮沉乃從四時如治病不可逆之故經云順天則昌逆天則亡可不畏哉夫人之身亦有四時天地之氣不可止認在外人亦體同天地也今經漏不止是前陰之氣血已脫下矣水泄又數年是後陰之氣血下陷以脫矣後陰者主有形之物也前陰者精氣之戶下竭是病人周身之血氣常行秋冬之令陰主殺此等收藏之病是也陽生陰長春夏是也在人之身令氣升浮者穀氣上行是也既病人周身血氣皆不生長谷氣又不勝其肌肉消少是兩儀之氣俱將絕矣既下元二陰俱脫血氣將竭假令當是熱證令下焦久脫化為寒矣此病久沉久降寒濕大勝當急救之瀉寒以熱除濕以燥大升大舉以助生長補養氣血不致偏竭聖人立治之法既濕氣大勝以所勝治之助甲風木上升是也故經云風勝濕是以所勝平之也當先調和胃氣次用白朮之類以燥其濕而滋元氣如其不止後用風藥以勝濕此便是大舉大升以助春夏二濕之久陷下之至治也</p>

<h4>益胃升陽湯</h4>
<p>血脫益氣古聖人之法也先補胃氣以助生髮之氣故曰陽生陰長諸甘藥為之先務舉世皆以為補殊不知甘能生血此陽生陰長之理也故先理胃氣人之身內胃氣為寶</p>
<p>柴胡　升麻（各五分）　炙甘草　當歸身（酒洗）　陳皮（各一錢）　人參（去蘆有嗽去之）　炒神麯（各一錢五分）</p>
<p>黃耆（二錢）　白朮（三錢）　生黃芩（少許）</p>
<p>上㕮咀每服二錢水二大盞煎至一盞去渣稍熱服如腹中痛每服加白芍藥（三分）　中桂（少許）</p>
<p>如渴或口乾加葛根（二分）　不拘時候</p>

<h4>升陽舉經湯</h4>
<p>治經水不止如右尺脈控之空虛是氣血俱脫大寒之證輕手其脈數疾舉指弦緊或澀皆陽脫之證陰火亦亡見熱證於口鼻眼或渴此皆陰躁陽欲先去也當溫之舉之升之浮之燥之此法當大升浮血氣切補命門之下脫也</p>
<p>肉桂（去皮盛夏勿用秋冬用）　白芍藥　紅花（各五分）　細辛（六分）　人參（去蘆）　熟地黃　川芎（各一錢）　獨活根　黑附子（炮製去皮臍）　炙甘草（各一錢五分）　羌活　藁本（去土）　防風（各二錢）　白朮　當歸　黃耆　柴胡（各三錢）　桃仁（十個湯浸去皮尖細研）</p>
<p>上㕮咀每服三錢若病勢順當漸加至五錢每服水三盞煎至一盞空心熱服</p>

<h3>半產誤用寒涼之藥論</h3>
<p>婦人分娩及半產漏下昏冒不省瞑目無所知覺蓋因血暴亡有形血去則心神無所養心與包絡者君火相火也得血則安亡血則危火上熾故令人昏冒火勝其肺瞑目不省人事是陰血暴去不能鎮撫也血已虧損往往用滑石甘草石膏之類乃辛甘大寒之藥能瀉氣中之熱是血虧瀉氣乃陰虧瀉陽使二者俱傷反為不足虛勞之病昏迷不省者上焦心肺之熱也此無形之熱用寒涼之藥驅令下行豈不知上焦之病悉屬於表乃陰證也汗之則愈今反下之幸而不死暴虧氣血生命豈能久活又不知內經有說病氣不足宜補不宜瀉但瞑目之病悉屬於陰宜汗不宜下又不知傷寒鬱冒得汗則愈是禁用寒涼藥也分娩半產本氣不病是暴去其血亡血補血又何疑焉補其血則神昌常時血下降亡今當補而升舉之心得血而養神不昏矣血若暴下是秋冬之令大旺今舉而升之以助其陽則目張神不昏迷矣今立一方補血養血生血益陽以補手足厥陰之不足也</p>

<h4>全生活血湯</h4>
<p>紅花（三分）　蔓荊子　細辛（各五分）　生地黃（夏月多加之）　熟地黃（各一錢）　藁本　川芎（各一錢五分）　防風（諸陽既陷何以知之血下脫故也）　羌活　獨活　炙甘草　柴胡（去苗）　當歸身（酒洗）　葛根（各二錢）　白芍藥　升麻（各三錢）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣食前稍熱服</p>

<h4>當歸附子湯</h4>
<p>治臍下冷痛赤白帶下</p>
<p>當歸（二分）　炒鹽（三分）　蠍梢　升麻（各五分）　甘草（六分）　柴胡（七分）　黃柏（少許為引用）　附子（一錢）　乾薑　良薑（各一錢）</p>
<p>上為粗末每服五錢水五盞煎至一盞去渣稍熱服或為細末酒麵糊為丸亦可</p>

<h4>調經補真湯</h4>
<p>冬後一月微有地泥冰泮其白帶再來陰戶中寒一服立止</p>
<p>獨活　乾薑（炮）　藁本　防風　蒼朮（各二分）　麻黃（不去節）　炙甘草　人參（去蘆）　當歸身　白朮　生黃芩　升麻（各五分）　黃耆（七分）　良薑　澤瀉　羌活（各一錢）　柴胡（四錢）杏仁（二個）　桂枝（少許）　白葵花（七朵去萼）</p>
<p>上㕮咀除黃芩麻黃各另外都作一服先以水三大盞半煎麻黃一味令沸掠去沫入余藥同煎至一盞零七分再入生黃芩煎至一盞空心服之候一時許可食早飯</p>

<h4>坐藥龍鹽膏</h4>
<p>茴香（三分）　枯礬（五分）　良薑　當歸梢　酒防己　木通（各一錢）　丁香　木香　川烏（炮各一錢五分）　龍骨　炒鹽　紅豆　肉桂（各二錢）　厚朴（三錢）　延胡索（五錢）　全蠍（五個）</p>
<p>上為細末煉蜜為丸如彈子大綿裹留絲在外內丸藥陰戶內日易之</p>

<h4>勝陰丹</h4>
<p>為上藥力小再取三錢內加行性熱藥項下</p>
<p>柴胡　羌活　枯白礬　甘松　升麻（各二分）　川烏頭　大椒　三柰子（各五分）　蒜（七分）　破故紙（八分與蒜同煮焙乾秤）　全蠍（三個）　麝香（少許）</p>
<p>上為細末依前法用</p>

<h4>回陽丹</h4>
<p>羌活　全蠍　升麻根　甘松（各二分）　草烏頭　水蛭（炒各三分）　大椒　三柰子　蓽茇枯礬（各五分）　柴胡　川烏（各七分）　炒黃鹽（為必用之藥去之則不效）　破故紙　蒜（各一錢）虻蟲（三個去翅足炒）</p>
<p>上為極細末依前制用臍下覺暖為效</p>

<h4>柴胡丁香湯</h4>
<p>治婦人年三十歲臨經先腰臍痛甚則腹中亦痛經縮三兩日</p>
<p>生地黃（二分）　丁香（四分）　當歸身　防風　羌活（各一錢）　柴胡（一錢五分）　全蠍（一個）</p>
<p>上件都作一服水二盞煎至一盞去渣食前稍熱服</p>

<h4>延胡苦楝湯</h4>
<p>治臍下冷撮痛陰冷大寒白帶下</p>
<p>黃柏（一分為引用）　延胡索　苦楝子（各二分）　附子（炮）　肉桂（各三分）　炙甘草（五分）　熟地黃（一錢）</p>
<p>上都作一服水二大盞煎至一盞食前服</p>

<h4>桂附湯</h4>
<p>治白帶腥臭多悲不樂大寒</p>
<p>黃柏（為引用）　知母（各五分）　肉桂（一錢）　附子（三錢）</p>
<p>上㕮咀都作一服水二盞煎至一盞去渣食遠熱服</p>
<p>如少食常飽有時似腹脹夯悶加白芍藥（五分）</p>
<p>如不思飲食加五味子（二十個）</p>
<p>如煩惱面上如蟲行乃胃中元氣極虛加黃耆（一錢五分）人參（七分）炙甘草升麻（各五分）</p>

<h4>人參補氣湯</h4>
<p>治四肢懶倦自汗無力</p>
<p>丁香末（二分）　生甘草梢　炙甘草（各三分）　生地黃　白芍藥（各五分）　熟地黃（六分）人參　防風　羌活　黃柏　知母　當歸身　升麻（各七分）　柴胡（一錢）　黃耆（一錢五分）　全蠍（一個）　五味子（二十個）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣空心稍熱服</p>

<h4>黃耆白朮湯</h4>
<p>治婦人四肢沉重自汗上至頭際頸而述惡風頭痛躁熱</p>
<p>細辛（三分）　吳茱萸　川芎（各五分）　柴胡　升麻（各一錢）　當歸身（一錢五分）　黃柏（酒洗）　炙甘草　羌活（各二錢）　五味子（三錢）　白朮　人參（各五錢）　黃耆（一兩）</p>
<p>上㕮咀每服五錢水二大盞生薑五片煎至一盞去渣食前熱服</p>
<p>如腹中痛不快加炙甘草（一錢）汗出不止加黃柏（一錢）</p>

<h4>白朮茯苓湯</h4>
<p>治胃氣弱身重有痰噁心欲吐是風邪羈絆於脾胃之間當先實其脾胃</p>
<p>白朮　白茯苓　半夏（各一兩）　炒曲（二錢）　麥蘖面（五分炒）</p>
<p>上㕮咀每服五錢水二大盞入生薑五片煎至一盞去渣不拘時服</p>

<h4>增味四物湯</h4>
<p>治婦人血積</p>
<p>當歸　川芎　芍藥　熟地黃　京三稜　乾漆（炒燥煙盡）　肉桂（去皮）　廣朮（各等分）</p>
<p>上為粗末每服五錢水二大盞煎至一盞去渣食前稍熱服</p>

<h4>補經固真湯</h4>
<p>白文舉正室白帶常漏久矣諸藥不效診得心包尺脈微其白帶下流不止叔和云崩中日久為白帶漏下多時血水枯言崩中者始病血崩久則血少復亡其陽故白滑之物下流不止是本經血海將枯津液復亡枯乾不能滋養筋骨以本經行經藥為引用為使以大辛甘油膩之藥潤其枯燥而滋益津液以大辛熱之氣味藥補其陽道生其血脈以苦寒之藥泄其肺而救上熱傷氣以人參補之以微苦溫之藥為佐而益元氣</p>
<p>白葵花（去萼研爛四分）　甘草（炙）　郁李仁（去皮尖研泥）　柴胡（各一錢）　乾薑（細末）人參（各二錢）　生黃芩（細研一錢）　陳皮（留皮五分）</p>
<p>上件除黃芩外以水三盞煎至一盞七分再入黃芩同煎至一盞去渣空心熱服少時以早飯壓之</p>

<h4>溫衛補血湯</h4>
<p>治耳鳴鼻不聞香臭口不知穀味氣不快四肢困倦行步欹側發脫落食不下膝冷陰汗帶下喉中吤吤不得臥口舌益干太息頭不可以回顧項筋緊脊強痛頭旋眼黑頭痛欠嚏</p>
<p>生地黃　白朮　藿香　黃柏（各一分）　牡丹皮　蒼朮　王瓜根　橘皮　吳茱萸（各二分）當歸身（二分半）　柴胡　人參　熟甘草　地骨皮（各三分）　升麻（四分）　生甘草（五分）　黃耆（一錢二分）　丁香（一個）　桃仁（三個）　葵花（七朵）</p>
<p>上㕮咀作一服用水二大盞煎至一盞去渣食前熱服</p>

<h4>立效散</h4>
<p>治婦人血崩不止</p>
<p>當歸　蓮花心　白綿子　紅花　茅花（各一兩）</p>
<p>上銼如豆大白紙裹定泥固炭火燒灰存性為細末如干血氣研血竭為引好溫酒調服加輕粉（一錢）</p>
<p>如血崩不止加麝香為引好溫酒調服</p>

<h4>四聖散</h4>
<p>治婦人赤白帶下</p>
<p>川烏（炮製）　生白礬（各一錢）　紅娘子（三個）　斑蝥（十個）</p>
<p>煉蜜為丸如皂子大綿裹坐之</p>

<h4>溫經除濕湯</h4>
<p>十月霜冷後四肢無力乃痿厥濕熱在下焦也醋心者是濁氣不下降欲為滿也閤眼麻木作者陽道不行也惡風寒者上焦之分皮膚中氣不行也開目不麻者目開助陽道故陰寒之氣少退也頭旋眩暈者風氣下陷於血分不得伸越而作也近火則有之</p>
<p>黃連（一分）　柴胡　草豆蔻　神麯（炒）　木香（各二分）　麻黃（不去節）　獨活　當歸身黃柏（各一分）　升麻（五分）　羌活（七分）　炙甘草　人參　白朮　豬苓　澤瀉（各一錢）　黃耆　橘皮　蒼朮（各二錢）　白芍藥（三錢）</p>
<p>上銼如麻豆大分作二服水二盞煎至一盞食遠服治支節沉重疼痛無力之勝藥也</p>

<h4>補氣升陽和中湯</h4>
<p>李正臣夫人病診得六脈中俱得弦洪緩相合按之無力弦在上是風熱下陷入陰中陽道不行其證閉目則渾身麻木晝減而夜甚覺而開目則麻木漸退久則絕止常開其目此證不作懼其麻木不敢閤眼致不得眠身體皆重時有痰嗽覺胸中常似有痰而不利時煩躁氣短促而喘肌膚充盛飲食不減大小便如常惟畏其麻木不敢閤眼為最苦觀其色脈形病相應而不逆內經曰陽盛瞑目而動輕陰病閉目而靜重又云諸脈皆屬於目靈樞經云閉目則陽道行陽氣遍布周身閉目則陽道閉而不行如晝夜之分知其陽衰而陰旺也且麻木為風三尺之童皆以為然細校之則有區別耳久坐而起亦有麻木為如繩縛之久釋之覺麻作而不敢動良久則自已以此驗之非有風邪乃氣不行主治之當補其肺中之氣則麻木自去矣如經脈中陰火乘其陽分火動於中為麻木也當兼去其陰火則愈矣時痰嗽者秋涼在外在上而作也當以溫劑實其皮毛身重脈緩者濕氣伏匿而作也時見躁作當升陽助氣益血微瀉陰火與濕通行經脈調其陰陽則已矣非五臟六腑之本有邪也此藥主之</p>
<p>生甘草（去腎熱）　酒黃柏（瀉火除濕）　白茯苓（除濕導火）　澤瀉（除濕導火）　升麻（行陽助經）　柴胡（各一錢）　蒼朮（除濕補中）　草豆蔻仁（益陽退外寒各一錢五分）　橘皮　當歸身白朮（各二錢）　白芍藥　人參（各三錢）　佛耳草　炙甘草（各四錢）　黃耆（五錢）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣食遠服之</p>

<h4>麻黃桂枝升麻湯</h4>
<p>治婦人先患渾身麻木睡覺則少減開目則已而全愈又證已痊又因心中煩惱遍身骨節疼身體沉重飲食減少腹中氣不運轉</p>
<p>木香　生薑（各一分）　桂枝　半夏　陳皮　草豆蔻仁　厚朴　黑附子　黃柏（各二分）　炙甘草　升麻　白朮　茯苓　澤瀉（各三分）　黃耆　麻黃（不去節）　人參（各五分）</p>
<p>上都作一服水二盞煎至一盞去渣食遠服之</p>

<h1>卷下</h1>

<h2>大便結燥門</h2>

<h3>大便結燥論</h3>
<p>金匱真言論云北方黑色入通腎開竅於二陰藏精於腎又云腎主大便大便難者取足少陰夫腎主五液津液盛則大便如常若飢飽失節勞役過度損傷胃氣及食辛熱味厚之物而助火邪伏於血中耗散真陰津液虧少故大便結燥然結燥之病不一有熱燥有風燥有陽結有陰結又有年老氣虛津液不足而結燥者治法云腎惡燥急食辛以潤之結者散之如少陰不得大便以辛潤之太陰不得大便以苦泄之陽結者散之陰結者溫之仲景云小便利而大便硬不可攻下以脾約丸潤之食傷太陰腹滿而食不化腹響然不能大便者以苦藥泄之如血燥而不能大便者以桃仁酒製大黃通之風結燥而大便不行者以麻子仁加大黃利之如氣澀而大便不通者以郁李仁枳實皂角仁潤之大抵治病必究其源不可一概用巴豆牽牛之類下之損其津液燥結愈甚復下復結極則以至導引於下而不通遂成不救噫可不慎哉</p>

<h4>通幽湯</h4>
<p>治大便難幽門不通上衝吸門不開噎塞不便燥秘氣不得下治在幽門以辛潤之</p>
<p>炙甘草　紅花（各一分）　生地黃　熟地黃（各五分）　升麻　桃仁泥　當歸身（各一錢）</p>
<p>上都作一服水二大盞煎至一盞去渣調檳榔細末五分稍熱食前服之</p>

<h4>潤燥湯</h4>
<p>升麻　生地黃（各二錢）　熟地黃　當歸梢　生甘草　大黃（煨）　桃仁泥　麻仁（各一錢）紅花（五分）</p>
<p>上除桃仁麻仁另研如泥外銼如麻豆大都作一服水二盞入桃仁麻仁泥煎至一盞去渣空心稍熱服</p>

<h4>潤腸丸</h4>
<p>治脾胃中伏火大便秘澀或乾燥閉塞不通全不思食乃風結血秘皆令閉塞也以潤燥和血疏風自然通利矣</p>
<p>桃仁（湯浸去皮尖）　麻仁（各一兩）　當歸梢　大黃（煨）　羌活（各一兩）</p>
<p>上除桃仁麻仁另研如泥外搗為極細末煉蜜為丸如梧桐子大每服三五十丸空心白湯下</p>
<p>如病入不大便為大便不通而澀其邪盛者急加酒洗大黃以利之</p>
<p>如血燥而大便燥乾者加桃仁酒洗大黃</p>
<p>如風結燥大便不行者加麻仁大黃</p>
<p>如風濕而大便不行加煨皂角仁大黃秦艽以利之</p>
<p>如脈澀覺身癢氣澀而大便不通者加郁李仁大黃以除氣燥</p>
<p>如寒陰之病為寒結閉而大便不通者以局方中半硫丸或加煎附子乾薑湯冰冷與之其病雖陰寒之證當服陽藥補之若大便不通者亦當十服中與一服藥微通其大便不令結閉乃治之大法</p>
<p>若病人雖是陰證或是陰寒之證其病顯躁脈實堅亦宜於陽藥中少加苦寒之藥以去熱躁躁止勿加</p>
<p>如陰躁欲坐井中者其二腎脈按之必虛或沉細而遲此易為辨耳知有客邪之病亦當從權加藥以去之</p>

<h4>麻黃白朮湯</h4>
<p>治大便不通五日一遍小便黃赤渾身腫面上及腹尤甚其色黃麻木身重如山沉困無力四肢痿軟不能舉動喘促唾清水吐噦痰唾白沫如膠時躁熱發欲去衣須臾熱過振寒項額有時如冰額寒尤甚頭旋眼黑目中溜火冷淚鼻不聞香臭少腹急痛當臍中有動氣按之堅硬而痛</p>
<p>青皮（去腐）　酒黃連（各一分）　酒黃柏　橘紅　甘草（炙半）　升麻（各二分）　黃耆　人參　桂枝　白朮　厚朴　柴胡　蒼朮　豬苓（各三分）　吳茱萸　白茯苓　澤瀉（各四分）　白豆蔻炒曲（各五分）　麻黃（不去節五錢）　杏仁（四個）</p>
<p>上㕮咀分作二服水二大盞半先煎麻黃令沸去沫再入諸藥同煎至一盞去渣稍熱食遠服</p>
<p>此證宿有風濕熱伏於榮血之中其木火乘於陽道為上盛元氣短少上喘為陰火傷其氣四肢痿在腎水之間乃所勝之病今正遇冬寒得時乘其肝木又實其母肺金剋火凌木是大勝必有大復其證善恐欠多嚏鼻中如有物不聞香臭目視䀮䀮多悲健忘少腹急痛通身黃腹大脹面目腫尤甚食不下痰唾涕有血目眥瘍大便不通並宜此藥治之</p>

<h4>升陽湯（一名升陽瀉濕湯）</h4>
<p>治膈咽不通逆氣裡急大便不行</p>
<p>青皮　槐子（各二分）　生地黃　熟地黃　黃柏（各三分）　當歸身　甘草梢（一錢）　桃仁（十個另研）</p>
<p>上㕮咀如麻豆大都作一服入桃仁泥水二大盞煎至一盞去渣稍熱食前服</p>

<h4>活血潤燥丸</h4>
<p>治大便風秘血秘常常燥結</p>
<p>當歸梢（一錢）　防風（三錢）　大黃（濕紙裹煨）　羌活（各一兩）　皂角仁（燒存性去皮一兩五錢其性得濕則滑濕滑則燥結自除）　桃仁（二兩研如泥）　麻仁（二兩五錢研如泥）</p>
<p>上除麻仁桃仁另研如泥外為極細末煉蜜為丸如梧桐子大每服五十丸白湯下三兩服後須以蘇麻子粥每日早晚食之大便日久不能結燥也以瓷器盛之紙封無令見風</p>

<h4>潤腸湯</h4>
<p>治大腸結燥不通</p>
<p>生地黃　生甘草（各一錢）　大黃（煨）　熟地黃　當歸梢　升麻　桃仁　麻仁（各一錢）　紅花（三分）</p>
<p>上㕮咀水二盞煎至一盞去渣食遠溫服</p>

<h2>小便淋閉門</h2>

<h3>小便淋閉論</h3>
<p>難經云病有關有格關則不得小便又云關無出之謂皆邪熱為病也分在氣在血而治之以渴與不渴而辨之如渴而小便不利者是熱在上焦肺之分故渴而小便不利也夫小便者是足太陽膀胱經所主也長生於申申者西方金也肺合生水若肺中有熱不能生水是絕其水之源經云虛則補其毋宜清肺而滋其化源也故當從肺之分助其秋令水自生焉又如雨如露如霜皆從天而降下也乃陽明之陰明秋氣自天而降下也且藥有氣之薄者乃陽中之陰是感秋清肅殺之氣而生可以補肺之不足淡味滲泄之藥是也茯苓澤瀉琥珀燈心通草車前子木通瞿麥萹蓄之類以清肺之氣泄其火資水之上源也如不渴而小便不通者熱在下焦血分故不渴而大燥小便不通也熱閉於下焦者腎也膀胱也乃陰中之陰陰受熱邪閉塞其流易上老云寒在胸中遏絕不入熱在下焦填塞不便須用感北方寒水之化氣味俱陰之藥以除其熱泄其閉塞內經云無陽則陰無以生無陰則陽無以化若服淡滲之藥其性乃陽中之陰非純陽之劑陽無以化何能補重陰之不足也須用感地之水運而生太苦之味感天之寒藥而生大寒之氣此氣味俱陰乃陰中之陰也大寒之氣人稟之生膀胱寒水之運人感之生腎此藥能補腎與膀胱受陽中之陽熱火之邪而閉其下焦使小便不通也夫用大苦寒之藥治法當寒因熱用又云必伏其所主而先其所因其始則氣同其終則氣異也</p>

<h4>通關丸（一名滋腎丸）</h4>
<p>治不渴而小便閉熱在下焦血分也</p>
<p>黃柏（去皮銼酒洗焙）　知母（銼酒洗焙乾各一兩）　肉桂（五分）</p>
<p>上為細末熟水為丸如梧桐子大每服一百丸空心白湯下頓兩足令藥易下行故也如小便利前陰中如刀刺痛當有惡物下為驗</p>

<h4>清肺飲子</h4>
<p>治渴而小便閉澀不利邪熱在上焦氣分</p>
<p>燈心（一分）　通草（二分）　澤瀉　瞿麥　琥珀（各五分）　萹蓄　木通（各七分）　車前子（炒一錢）　茯苓（去皮二錢）　豬苓（去皮三錢）</p>
<p>上為粗末每服五錢水一盞半煎至一盞稍熱食遠服或局方八正散五苓散亦宜服之</p>

<h4>導氣除燥湯</h4>
<p>治小便閉塞不通乃血澀致氣不通而竅澀也</p>
<p>茯苓（去皮）　滑石（炒黃各二錢）　知母（細銼酒洗）　澤瀉（各三錢）　黃柏（去皮酒洗四錢）</p>
<p>上㕮咀每服五錢水三盞煎至一盞去渣稍熱空心服</p>
<p>如急閉不拘時服</p>

<h4>腎疸湯</h4>
<p>治腎疸目黃甚至渾身黃小便赤澀</p>
<p>羌活　防風　藁本　獨活　柴胡（各五分）　升麻（五錢）</p>
<p>以上治腎疸目黃渾身黃</p>
<p>白茯苓（二分）　澤瀉（三分）　豬苓（四分）　白朮（五分）　蒼朮（三錢）</p>
<p>以上治小便赤澀</p>
<p>黃柏（二分）　人參（三分）　葛根（五分）　神麯（六分）　甘草（三錢）</p>
<p>上銼如大豆大分作二服水三盞煎至一盞去渣稍熱食前服</p>

<h2>痔漏門</h2>

<h3>痔漏論</h3>
<p>內經曰因而飽食筋脈橫解腸澼為痔夫大腸庚也主津本性燥清肅殺之氣本位主收其所司行津以從足陽明旺則生化萬物者也足陽明為中州之土若陽衰亦殞殺萬物故曰萬物生於土而歸於土者是也以手陽明大腸司其化焉既在西方本位為之害蜚司殺之府因飽食行房忍泄前陰之氣歸於大腸木乘火勢而侮燥金故火就燥也大便必閉其疾甚者當以苦寒瀉火以辛溫和血潤燥疏風止痛是其治也以秦艽當歸梢和血潤燥以桃仁潤血以皂角仁除風燥以地榆破血以枳實之苦寒補腎以下泄胃實以澤瀉之淡滲使氣歸於前陰以補清燥受胃之濕邪也白朮之苦甘以苦補燥氣之不足其甘味以瀉火而益元氣也故曰甘寒泄火乃假枳實之寒也古人用藥為下焦如瀆又曰在下者引而竭之多為大便秘澀以大黃推去之其津血益不足以當歸和血及油潤之劑大便自然軟利矣宜作銼湯以與之是下焦有熱以急治之之法也以地榆酸苦而壞胃故宿食消盡空心作丸服之</p>

<h4>秦艽白朮丸</h4>
<p>治痔疾並痔漏有膿血大便燥硬而作疼痛不可忍</p>
<p>秦艽（去蘆）　桃仁（湯浸去皮尖）　皂角仁（燒存性各一兩）　當歸梢（酒浸）　澤瀉　枳實（麩炒黃）　白朮（各五錢）　地榆（三錢）</p>
<p>上為細末和桃仁泥研勻煎熱湯打麥糊為丸如雞頭仁大令藥光滑焙乾每服五七十丸白湯下空心服待少時以美膳壓之忌生冷硬物冷水冷菜之類並濕面酒及辣辛熱大料物之類犯之則藥無驗也</p>

<h4>秦艽蒼朮湯</h4>
<p>治痔疾若破謂之痔漏大便秘澀必作大痛此由風熱乘食飽不通氣逼大腸而作也受病者燥氣也為病者胃濕也胃刑大腸則化燥火以乘燥熱之實勝風附熱而來是濕熱風燥四氣而合故大腸頭成塊者濕也作大痛者風也若大便燥結者主病兼受火邪熱結不通也去此四者其西方肺主諸氣其體收下亦助病為邪須當破氣藥兼之治法全矣以銼湯與之其效如神</p>
<p>秦艽（去芛）　桃仁（湯浸去皮另研）　皂角仁（燒存性另研各一錢）　蒼朮（制）　防風（各七分）　黃柏（去皮酒洗五分）　當歸梢（酒洗）　澤瀉（各三分）　梭身檳榔（一分另研）　大黃（少許雖大便過澀亦不可多用）</p>
<p>上除檳榔桃仁皂角仁三味外余藥㕮咀如麻豆大都作一服水三盞煎至一盞二分去渣入檳榔等三味末再上火煎至一盞空心熱服待少時以美膳壓之不犯胃氣也服藥日忌生冷硬物及酒濕面大料物乾姜之類犯之則其藥無效</p>
<p>如有白膿加白葵花頭五朵去萼心青皮半錢不去白入正藥中同煎木香三分為細末同檳榔等三味依前煎服餌古人治此疾多以歲月除之此藥一服則愈</p>

<h4>七聖丸</h4>
<p>治大腸疼痛不可忍叔和云積氣生於脾臟傍大腸疼痛陣難當漸交稍瀉三焦火莫謾多方立紀綱</p>
<p>羌活（一兩）　郁李仁（湯浸去皮另研一兩五錢）　大黃（八錢煨）　檳榔　桂（去皮）　木香川芎（各五錢）</p>
<p>上除郁李仁另研入外共為細末煉蜜為丸如梧桐子大每服三五十丸白湯下食前取大便微利一服而愈切禁不得多利大便其痛滋甚</p>

<h4>秦艽防風湯</h4>
<p>治痔漏每日大便時發疼痛如無疼痛者非痔漏也此藥主之</p>
<p>秦艽　防風　當歸身　白朮（各一錢五分）　炙甘草　澤瀉（各六分）　黃柏（五分）　大黃（煨）　橘皮（各三分）　柴胡　升麻（各二分）　桃仁（三十個）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水三盞煎至一盞去渣稍熱空心服之避風寒忌房事酒濕面大辛熱物</p>

<h4>秦艽羌活湯</h4>
<p>治痔漏成塊下垂不任其癢</p>
<p>羌活（一錢二分）　秦艽　黃耆（各二錢）　防風（七分）　升麻　炙甘草　麻黃　柴胡（各五分）　藁本（三分）　細辛（少許）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣空心服之忌風寒處大小便</p>

<h4>當歸郁李仁湯</h4>
<p>治痔漏大便硬努出大腸頭下血苦痛不能忍</p>
<p>郁李仁　皂角仁（各一錢）　枳實（七分）　秦艽　麻仁　當歸梢　生地黃　蒼朮（各五分）大黃（煨）　澤瀉（各三分）</p>
<p>上銼如麻豆大除皂角仁另為末水三盞煎至一盞去渣入皂角仁末調空心食前服之忌如前</p>

<h4>紅花桃仁湯</h4>
<p>治痔漏經年因而飽食筋脈橫解腸澼為痔治法當補北方瀉中央</p>
<p>黃柏（一錢五分）　生地黃（一錢）　澤瀉（八分）　蒼朮（六分）　當歸梢　防己　防風梢　豬苓（各五分）　麻黃（二分）　紅花（半分）　桃仁（十個）</p>
<p>上銼如麻豆大水三盞煎至一盞去渣稍熱食前服之忌如前</p>

<h4>秦艽當歸湯</h4>
<p>治痔漏大便結燥疼痛</p>
<p>大黃（煨四錢）　秦艽　枳實（各一錢）　澤瀉　當歸梢　皂角仁　白朮（各五分）　紅花（少許）　桃仁（二十個）</p>
<p>上都作一服水三盞煎至一盞去渣食前熱服忌如前</p>

<h2>陰痿陰汗門</h2>

<h3>陰痿陰汗及臊臭論</h3>
<p>一富者前陰臊臭又因連日飲酒腹中不和求先師治之日夫前陰者足厥陰肝之脈絡循陰器出其挺末凡臭者心之所主散入五方為五臭如肝為臊此共一也當於肝經中瀉行間是治其本後於心經中瀉少衝乃治其標如惡針當用藥除之酒者氣味俱陽能生里之濕熱是風濕熱合於下焦為邪故經云下焦如瀆又云在下者引而竭之酒是濕熱之水亦宜決前陰以去之</p>

<h4>龍膽瀉肝湯</h4>
<p>治陰部時復熱癢及臊臭</p>
<p>柴胡梢　澤瀉（各一錢）　車前子　木通（各五分）　生地黃　當歸梢　草龍膽（各三分）</p>
<p>上銼如麻豆大都作一服水三盞煎至一盞去渣空心稍熱服便以美膳壓之此藥柴胡入肝為引用澤瀉車前子木通淡滲之味利小便亦除臊氣是名在下者引而竭之生地黃草龍膽之苦寒瀉酒濕熱更兼車前子之類以撤肝中邪氣肝主血用當歸以滋肝中血不足也</p>

<h4>清震湯</h4>
<p>治小便溺黃臊臭淋瀝兩丸如冰陰汗浸多</p>
<p>羌活　酒黃柏（各一錢）　升麻　柴胡　蒼朮　黃芩（各五分）　澤瀉（四分）　麻黃根　豬苓　防風（各三分）　炙甘草　當歸身　藁本（各二分）　紅花（一分）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣臨臥服大忌酒濕面</p>

<h4>固真湯（一名正元湯）</h4>
<p>治兩丸冷前陰痿弱陰汗如水小便後有余滴𠤏臀並前陰冷惡寒而喜熱膝下亦冷</p>
<p>升麻　羌活　柴胡（各一錢）　炙甘草　草龍膽　澤瀉（各一錢五分）　黃柏　知母（各二錢）</p>
<p>上銼如麻豆大分作二服水二盞煎至一盞去渣空心稍熱服以早飯壓之</p>

<h4>清魂湯（一名柴胡勝濕湯）</h4>
<p>治兩外腎冷兩髀陰汗前陰痿陰囊濕癢臊氣</p>
<p>柴胡　生甘草　酒黃柏（各二錢）　升麻　澤瀉（各一錢五分）　當歸梢　羌活　麻黃根　漢防己　草龍膽　茯苓（各一錢）　紅花（少許）　五味子（二十個）</p>
<p>上銼如麻豆大分作二服水二盞煎至一盞去渣食前稍熱服忌酒濕面房事</p>

<h4>椒粉散</h4>
<p>治前陰兩丸濕癢痛秋冬甚夏月減</p>
<p>肉桂（二分）　川椒　當歸梢　豬苓（各三分）　蛇床子　黑狗脊（各五分）　麻黃根（一錢）輕粉（少許）　紅花（少許）　斑蝥（兩枚）</p>
<p>上為末干糝上避風寒冷濕處坐臥</p>

<h4>補肝湯</h4>
<p>治前陰冰冷並陰汗兩腳痿弱無力</p>
<p>黃耆（七分）　炙甘草（五分）　升麻　豬苓（各四分）　白茯苓　葛根　人參（各三分）　柴胡　羌活　陳皮　連翹　當歸身　黃柏（炒）　澤瀉　蒼朮　曲末　知母　防風（各二分）</p>
<p>上銼如麻豆大都作一服水二大盞煎至一盞去渣空心稍熱服忌酒濕面</p>

<h4>溫腎湯</h4>
<p>治面色痿黃腳痿弱無力陰汗</p>
<p>柴胡　麻黃根（各六分）　白茯苓　白朮　酒黃柏　豬苓　升麻（各一錢）　蒼朮　防風（各一分五錢）　澤瀉（二錢）</p>
<p>上分作二服每服水二大盞煎至一盞去渣食前稍熱服一時辰許方食</p>

<h4>延胡丁香丸（一名丁香疝氣丸）</h4>
<p>治臍下撮急疼痛並周身皆急痛小便頻數及五脈急獨腎脈按之不急皆虛無力名曰腎疝</p>
<p>羌活（三錢）　當歸　茴香（各二錢）　延胡索　麻黃根節　肉桂（各一錢）　丁香　木香　甘草　川烏頭（各五分）　防己（三分）　蠍（十三個）</p>
<p>上為細末酒煮麵糊為丸如雞頭大每服五十丸空心鹽白湯服</p>

<h2>瀉痢門</h2>

<h3>訶子皮散</h3>
<p>癸卯冬白樞判家一老僕面塵脫色神氣特弱病脫肛日久服藥未驗復下赤白膿痢作裡急後重白多赤少不任其苦以求其治曰此非肉食膏粱必多蔬食或飲食不節天氣已寒衣蓋猶薄不禁而腸頭脫下者寒也真氣不禁形質不收乃血滑脫也此乃寒滑氣泄不固故形質下脫也當以澀去其脫而除其滑微酸之味固氣上收以大熱之劑而除寒補陽以補氣之藥升陽益氣</p>
<p>御米殼（去蒂萼蜜炒）　橘皮（各五分）　乾薑（炮六分）　訶子（煨去核七分）</p>
<p>上為細末都作一服水二盞煎至一盞和渣空心熱服</p>

<h3>升麻補胃湯</h3>
<p>治宿有陽明血證因五月間大熱吃杏腸澼下血唧遠散漫如篩腰沉沉然腹中不痛血色紫黑病名濕毒腸澼屬陽明少陽經血證也</p>
<p>白芍藥（一錢五分）　升麻　羌活　黃耆（各一錢）　生地黃　熟地黃　獨活　牡丹皮　炙甘草　柴胡　防風（各五分）　當歸身　葛根（各三分）　肉桂（少許）</p>
<p>上銼如麻豆大分作二服每服水二盞煎至一盞去渣食前稍熱服</p>

<h3>升陽去熱和血湯</h3>
<p>治腸澼下血另作一派其血唧出有力而遠射四散如篩腸中血下行腹中大作痛乃陽明氣衝熱毒所作也當升陽去濕熱和血脈是其治也</p>
<p>橘皮（二分）　熟地黃　當歸身　蒼朮　秦艽　肉桂（各三分）　生地黃　牡丹皮　生甘草（各五分）　升麻（七分）　熟甘草　黃耆（各一錢）　白芍藥（一錢五分）</p>
<p>上㕮咀都作一服水四盞煎至一盞去渣空心稍熱服立效</p>

<h3>益智和中湯</h3>
<p>治腸澼下血或血色紫黑腹中痛腹皮惡寒右手關脈弦按之無力而喜熱物熨之內寒明矣</p>
<p>肉桂（一分）　桂枝（四分）　牡丹皮　柴胡　葛根　益智仁　半夏（各五分）　當歸身　炙甘草　黃耆　升麻（各一錢）　白芍藥（一錢五分）　乾薑（少許）</p>
<p>上為粗末都作一服水三盞煎至一盞去渣食後溫服</p>

<h3>芍藥柏皮丸</h3>
<p>治濕熱惡痢血痢頻並窘痛無問膿血並皆治之</p>
<p>芍藥　黃柏（各一兩）　當歸　黃連（各五錢）</p>
<p>上為末飯為丸如雞頭大每服五七十丸食前米飲湯下忌油膩酒濕面等物</p>

<h3>和中益胃湯</h3>
<p>治太陰陽明腹痛大便常泄若不泄即秘而難見在後傳作濕熱毒下鮮紅血腹中微痛脅下急縮脈緩而洪弦中下得之按之空虛</p>
<p>蘇木（一分）　藁本　益智仁（各二分）　熟地黃　炙甘草（各三分）　當歸身（四分）　柴胡升麻（各五分）</p>
<p>上㕮咀都作一服水二盞煎至一盞去渣空心溫服</p>

<h3>槐花散</h3>
<p>治腸澼下血濕毒下血</p>
<p>川芎（四分）　槐花　青皮　荊芥穗　熟地黃　白朮（各六分）　當歸身　升麻（各一錢）</p>
<p>上為細末每服三錢米飲湯調下食前忌酒濕面生冷硬物</p>

<h3>茯苓湯</h3>
<p>治因傷冷飯水泄一夜走十行變作白痢次日其痢赤白腹中療痛減食熱躁四肢沉困無力</p>
<p>生黃芩（三分）　當歸身（四分）　肉桂　炙甘草（各五分）　豬苓　茯苓（各六分）　澤瀉（一錢）　芍藥（一錢五分）　蒼朮　生薑　升麻　柴胡（各二分）</p>
<p>上㕮咀如麻豆大分作二服每服水二盞煎至一盞去渣稍熱食前服之</p>

<h3>黃耆補胃湯</h3>
<p>治一日大便三四次溏而不多有時作泄腹中鳴小便黃</p>
<p>黃耆　柴胡　當歸身　益智　橘皮（各三分）　升麻（六分）　炙甘草（二錢）　紅花（少許）</p>
<p>上㕮咀都作一服水二盞煎至一盞去渣稍熱食前服之</p>

<h3>升陽除濕湯</h3>
<p>自下而上者引而去之</p>
<p>蒼朮（一錢）　柴胡　羌活　防風　升麻　神麯　澤瀉　豬苓（各五分）　炙甘草　陳皮　麥蘖曲（各三分）</p>
<p>上都作一服水二盞煎至一盞去渣空心服之</p>
<p>如胃寒腸鳴加益智仁半夏各五分生薑三片棗一枚同煎至非腸鳴不得用</p>

<h3>人參益胃湯</h3>
<p>治頭悶勞動則微痛不喜飲食四肢怠惰躁熱短氣口不知味腹鳴大便微溏身體昏悶覺渴不喜冷物</p>
<p>黃耆　甘草　當歸梢　益智（各二分）　人參　黃芩　柴胡　半夏　白朮（各三分）　陳皮升麻（各五分）　蒼朮（一錢五分）　紅花（少許）</p>
<p>上都作一服水二盞煎至一盞去渣稍熱食前服之</p>

<h3>升麻補胃湯</h3>
<p>治因內傷服牽牛大黃食藥泄瀉過多腹中大痛</p>
<p>甘草（七分）　升麻　柴胡　草豆蔻　黃耆（各五分）　半夏（三分）　當歸身　乾薑（各二分）　紅花（少許）</p>
<p>上都作一服水二盞煎至一盞去渣稍熱食遠服之</p>

<h2>瘡瘍門</h2>

<h3>散腫潰堅湯</h3>
<p>治馬刀瘡結硬如石或在耳下至缺盆中或肩上或於脅下皆手足少陽經中及瘰癧遍於頦或至頰車堅而不潰在足陽明經中所出或二證瘡已破流膿水並皆治之</p>
<p>黃芩（八錢酒洗一半生用一半）　草龍膽（酒洗各炒四遍）　栝蔞根（坐碎酒洗）　黃柏（酒製）　酒知母　桔梗　昆布（各五錢）　柴胡（四錢）　炙甘草　京三稜（酒洗）　廣朮（酒洗炒）　連翹（各三錢）　葛根　白芍藥　當歸梢　黃連（各二錢）　升麻（六分）</p>
<p>上㕮咀每服六錢水二盞零八分先浸多半日煎至一盞去渣食後熱服於臥處伸足在高處頭低垂每含一口作十次咽服畢依常安臥取藥在膈上停蓄故也另攢半料作細末煉蜜為丸如綠豆大每服百餘丸用此藥湯留一口送下或加海藻五錢炒亦妙</p>

<h3>升陽調經湯</h3>
<p>治瘰癧繞頸或至頰車此皆由足陽明胃經中來若瘡深遠隱曲肉底是足少陰腎經中來乃戊脾傳於癸腎是夫傳於妻俱作塊子堅硬大小不等並皆治之或作丸亦可</p>
<p>升麻（八錢）　葛根　草龍膽（酒製）　黃芩（酒製）　廣朮（酒洗炒）　京三稜（酒洗炒）　炙甘草黃連（酒洗）　連翹　桔梗（各五錢）　生黃芩（四錢）　當歸身　芍藥（各三錢）　黃柏（酒洗二錢）　知母（酒洗炒一兩）</p>
<p>上另秤一半作末煉蜜為丸如綠豆大每服百餘丸一半作㕮咀每服五錢若能食大便硬可旋加至七八錢水二盞先浸半日煎至一盞去渣臨臥熱服足高去枕仰臥噙一口作十次咽之留一口在後送下丸藥服畢其臥如常</p>

<h3>連翹散堅湯</h3>
<p>治耳下或至缺盆或肩上生瘡堅硬如石動之無根名曰馬刀從手足少陽經中來也或生兩脅或已流膿作瘡未破並皆治之</p>
<p>柴胡（一兩二錢）　草龍膽（酒洗四次）　土瓜根（酒製各一兩）　黃芩（酒炒二次七錢）　當歸梢生黃芩　廣朮　京三稜（同廣朮酒炒）　連翹　芍藥（各五錢）　炙甘草（三錢）　黃連（酒炒二次）　蒼朮（各二錢）</p>
<p>上另秤一半為細末煉蜜為丸如綠豆大每服百餘丸一半㕮咀每服五錢水二盞先浸多半日煎至一盞去渣臨臥熱服去枕仰臥每口作十次咽之留一口送下丸藥服畢臥如常更以後藥塗之</p>

<h3>龍泉散</h3>
<p>龍泉粉（炒）　瓦粉　廣朮　京三稜（酒洗炒）　昆布（各五錢）</p>
<p>上同為細末煎熱水調塗之用此藥去疾尤速</p>

<h3>救苦化堅湯</h3>
<p>治瘰癧馬刀挾癭從耳下或耳後下頸至肩上或入缺盆中乃手足少陽之經分其瘰癧在頦下或至頰車乃足陽明之經分受心脾之邪而作也今將二證合而治之</p>
<p>黃耆（一錢）</p>
<p>護皮毛實腠理虛及活血脈生血亦瘡家聖藥也又能補表實元氣之弱也</p>
<p>人參（三分）</p>
<p>補肺氣之藥也如氣短不調及喘者加之</p>
<p>炙甘草（五分）</p>
<p>能調中和諸藥瀉火益胃氣亦能去瘡邪</p>
<p>真漏蘆　升麻（各一錢）　葛根（五分）</p>
<p>此三味俱足陽明本經藥也</p>
<p>連翹（一錢）</p>
<p>此一味十二經瘡中之藥不可無者能散諸血結氣聚此瘡家之神藥也</p>
<p>牡丹皮（三分）</p>
<p>去腸胃中留滯宿血</p>
<p>當歸身　生地黃　熟地黃（各三分）</p>
<p>此三味諸經中和血生血涼血藥也</p>
<p>白芍藥（三分）</p>
<p>如夏月倍之其味酸其氣寒能補中益肺之虛弱治腹中痛必用之冬寒則不可用</p>
<p>肉桂（二分）</p>
<p>大辛熱能散結積陰證瘡瘍須當少用之此寒因熱用之意又為寒陰覆蓋其瘡用大辛熱以消浮凍之氣如有煩躁者去之</p>
<p>柴胡（八分）</p>
<p>功同連翹如瘡不在少陽經則去之</p>
<p>黍黏子（三分）</p>
<p>無腫不用</p>
<p>羌活（一錢）　獨活　防風（各五分）</p>
<p>此三味必關手足太陽證脊痛項強不可迥視腰似折項似拔者是也其防風一味辛溫若瘡在膈以上雖無手足太陽經證亦當用之為能散結去上部風邪病人身拘急者風也</p>
<p>昆布（二分）</p>
<p>其味大咸若瘡堅硬結硬者宜用鹹能軟堅京三稜（煨二分）　廣朮（煨三分）</p>
<p>此二味若瘡堅硬甚者用之如不堅硬勿用</p>
<p>益智仁（二分）</p>
<p>如唾多者胃不和也或病人吐沫吐食胃上寒者加之無則去之</p>
<p>大麥蘖面（一錢）</p>
<p>治腹中縮急兼能消食補胃</p>
<p>神麯末（炒黃色二分）</p>
<p>為食不消化故也</p>
<p>黃連（去須三分）</p>
<p>以治煩悶</p>
<p>黃柏（炒三分）</p>
<p>如有熱或腿腳無力加如有躁煩欲去衣者腎中伏火也更宜加之無此證勿用</p>
<p>厚朴（三錢二分薑製）</p>
<p>如腹脹者加之無則勿用</p>
<p>上為細末湯浸蒸餅和丸捻作餅子日乾搗如米粒大每服三錢白湯下</p>
<p>如氣不順加橘皮甚者加木香少許量病人虛實臨時斟酌與之無令藥多妨其飲食此治之大法也</p>
<p>如止在陽明分為瘰癧者去柴胡黍黏子二味余皆用之</p>
<p>如在少陽分為馬刀挾癭者去獨活漏蘆升麻葛根更加瞿麥穗三分</p>
<p>如本人素氣弱其病勢來時氣盛而不短促者不可考其平素宜作氣盛而從病變之權也宜加黃芩黃連黃柏知母防己之類神邪氣在上中下三處</p>
<p>假令在上焦加黃芩（一半酒洗一半生用）在中焦加黃連（一半酒洗一半生用）在下焦則加酒製黃柏知母防己之類選而用之如本人大便不通而滋其邪盛者加酒製大黃以利如血燥而大便燥乾者加桃仁酒製大黃二味</p>
<p>如風結燥不行者加麻仁大黃</p>
<p>如風澀而大便不行加煨皂角仁大黃秦艽以利之</p>
<p>如脈澀覺身癢氣澀而大便不通者加郁李仁大黃以除氣燥也</p>
<p>如陰寒之病為寒結閉而大便不通以局方中半硫丸或加煎附子乾薑冰冷與之大抵用藥之法不惟瘡瘍一說諸疾病量人素氣弱者當去苦寒之藥多加人參黃耆甘草之類瀉火而先補其元氣余皆仿此</p>

<h3>柴胡連翹湯</h3>
<p>治男子婦人馬刀瘡</p>
<p>中桂（三分）　當歸梢（二錢五分）　黍黏子（二錢）　炙甘草　酒黃柏　生地黃（各三錢）　柴胡　黃芩（炒）　酒知母　連翹（各五錢）　瞿麥穗（六錢）</p>
<p>上銼如麻豆大每服五水二大盞煎至一盞去渣稍熱食後服之</p>

<h3>黍黏子湯</h3>
<p>治耳痛生瘡</p>
<p>昆布　蘇木　生甘草　蒲黃　草龍膽（各一分）　黍黏子　連翹　生地黃　當歸梢　黃芩炙甘草　黃連（各二分）　柴胡　黃耆（各三分）　桔梗（三錢）　桃仁（三個）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣稍熱食後服忌寒藥利大便</p>

<h3>淨液湯（一名連翹防風湯）</h3>
<p>治皮膚癢腋下瘡背上瘡耳聾耳鳴</p>
<p>桂枝（二分）　連翹　生地黃　桔梗　升麻　甘草（各五分）　當歸梢（七分）　麻黃　草豆蔻仁　羌活　防風　柴胡　蒼朮（各一錢）　酒黃芩（一錢）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣食後熱服</p>

<h3>消腫湯</h3>
<p>治馬刀瘡</p>
<p>黍黏子（炒）　黃連（各五分）　當歸梢　甘草（各一錢）　栝蔞根　黃耆（各一錢五分）　生黃芩　柴胡（各二錢）　連翹（三錢）　紅花（少許）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣稍熱食後服忌酒濕面</p>

<h3>內托羌活湯</h3>
<p>治足太陽經中左右尺脈俱緊按之無力尻臀生癰堅硬腫痛大作</p>
<p>肉桂（三分）　連翹　炙甘草　蒼朮　橘皮（各五分）　當歸梢　防風　藁本（各一錢）　黃耆（一錢五分）　黃柏（酒製）　羌活（各二錢）</p>
<p>上㕮咀都作一服水二盞酒一盞煎至一盞去渣稍熱空心服以夾衣蓋癰上使藥力行罷去蓋之衣</p>

<h3>升麻托裡湯</h3>
<p>治婦人兩乳間出黑頭瘡瘡頂陷下作黑眼子其脈弦洪按之細小</p>
<p>黃柏（二分）　肉桂（三分）　黍黏子（五分）　黃耆　炙甘草　當歸梢（各一錢）　連翹　升麻　葛根（各一錢五分）</p>
<p>上㕮咀都作一服水一大盞酒半盞同煎至一盞去渣稍熱食後服</p>

<h3>內托黃耆湯</h3>
<p>賈德茂小男於左大腿近膝股內出附骨癰不辯肉色漫腫皮澤木硬瘡勢甚大其左腳乃肝之脾土也更在足厥陰肝經之分少侵足太陰脾經之分其脈左三部細而弦按之洪緩微有力此藥主之</p>
<p>生地黃（一分）　黃柏（二分）　肉桂（三分）　羌活（五分）　當歸梢（七分半）　土瓜根（酒製）　柴胡梢（各一錢）　連翹（一錢三分）　黃耆（二錢）</p>
<p>上㕮咀都作一服酒一盞水二盞煎至一盞去渣空心熱服</p>

<h3>柴胡通經湯</h3>
<p>治小兒項側有瘡堅而不潰名曰馬刀瘡</p>
<p>柴胡　連翹　當歸梢　生甘草　黃芩　黍黏子　京三稜　桔梗（各二分）　黃連（五分）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水二大盞煎至一盞去渣稍熱食後服忌苦藥泄大便</p>

<h3>白芷升麻湯</h3>
<p>尹老家素貧寒形志皆苦於手陽明大腸經分出癰幼小有㿗疝其臂外皆腫痛在陽明左右寸脈皆短中得之俱弦按之洪緩有力此癰得自八風之變以脈斷之邪氣在表其證大小便如故飲食如常腹中和口知味知不在裡也不惡風寒止熱躁脈不浮知不在表也表裡既和邪氣在經脈之中內經云凝於經絡為瘡癰其癰出身半以上故風從上受之故知是八風之變為瘡者也故治其寒邪調其經脈中血氣使無凝滯而已</p>
<p>炙甘草（一分）　升麻　桔梗（各五分）　白芷（七分）　當歸梢　生地黃（各一錢）　生黃芩（一錢五分）　酒黃芩　連翹　黃耆（各二錢）　中桂（少許）　紅花（少許）</p>
<p>上㕮咀分作二服酒水各一大盞半同煎至一盞去渣稍熱臨臥服一服而愈</p>

<h3>保生救苦散</h3>
<p>治火燒或熱油烙及脫肌肉者</p>
<p>生寒水石　大黃（火煨）　黃柏（油炒各等分）</p>
<p>上為細末用油調塗之或乾用此藥塗之其痛立止日近完復永無破傷風之患</p>

<h3>一上散</h3>
<p>治諸般疥癬必效</p>
<p>雄黃（通明手呵破者）　黑狗脊　蛇床子（炒）　熟硫黃（各五錢）　寒水石（六錢）　斑蝥（十三個去翅足毛研碎）</p>
<p>上另研雄黃硫黃寒水石如粉次入斑蝥和蛇床子黑狗脊為細末同研勻先洗疥癬令湯透去痂油調手中擦熱以鼻中臭三兩次擦上可一上即愈</p>
<p>如痛甚及腫滿高起者加寒水石一倍</p>
<p>如不苦癢只加黑狗脊</p>
<p>如微癢只加蛇床子</p>
<p>如瘡中有蟲加雄黃</p>
<p>如喜火灸湯浴者加硫黃</p>

<h3>聖愈湯</h3>
<p>治諸惡瘡血出多而心煩不安不得睡眠亡血故也以此藥主之</p>
<p>生地黃　熟地黃　川芎　人參（各三分）　當歸身　黃耆（各五分）</p>
<p>上㕮咀如麻豆大都作一服水二大盞煎至一盞去渣稍熱無時服</p>

<h3>獨聖散</h3>
<p>治湯泡破火燒破瘡毒疼痛</p>
<p>生白礬</p>
<p>上為細末芝麻油調掃瘡破處不拘時候</p>

<h3>黃耆肉桂柴胡酒煎湯</h3>
<p>治附骨癰堅硬漫腫不辨肉色行步作痛按之大痛</p>
<p>黃耆　當歸梢（各二錢）　柴胡（一錢五分）　黍黏子（炒）　連翹　肉桂（各一錢）　升麻（七分）　炙甘草　黃柏（各五分）</p>
<p>上㕮咀好糯酒一大盞半水一大盞半同煎至一大盞去渣空心溫服少時便以早飯壓之不致大熱上攻中上二焦也</p>

<h2>雜病門</h2>

<h3>安神丸</h3>
<p>治心神煩亂怔忡兀兀欲吐胸中氣亂而熱有似懊憹之狀皆膈上血中伏火蒸蒸然不安宜用權衡法以鎮陰火之浮越以養上焦之元氣經云熱淫所勝治以甘寒以苦瀉之以黃連之苦寒去心煩除濕熱為君以甘草生地黃之甘寒瀉火補氣滋生陰血為臣以當歸補血不足以硃砂納浮留之火而安神明也</p>
<p>黃連（一錢五分酒洗）　硃砂（一錢水飛）　酒生地黃　酒當歸身　炙甘草（各五分）</p>
<p>上件除硃砂水飛外搗四味為細末同和勻湯浸蒸餅為丸如黍米大每服十五丸津唾嚥下食後</p>

<h3>硃砂安神丸</h3>
<p>治心煩懊憹心亂怔忡上熱胸中氣亂心下痞悶食入反出</p>
<p>硃砂（四錢）　黃連（五錢）　生甘草（二錢五分）</p>
<p>上為末湯浸蒸餅為丸如黍米大每服十丸食後津唾嚥下</p>

<h3>補氣湯</h3>
<p>治皮膚間有麻木乃肝氣不行故也</p>
<p>白芍藥　橘皮（不去白各一兩五錢）　炙甘草　黃耆（各一兩）　澤瀉（五錢）</p>
<p>上㕮咀每服一兩水二盞至一盞去渣溫服</p>

<h3>當歸補血湯</h3>
<p>治婦人肌熱躁熱目赤面紅煩渴引飲晝夜不息其脈洪大而虛重按全無內經曰脈虛血虛脈實血實又云血虛發熱證象白虎惟脈不長實為辨也若誤服白虎湯必死此病得之於飢困勞役</p>
<p>黃耆（一兩）　當歸身（二錢酒製）</p>
<p>上㕮咀都作一服水二盞煎至一盞去渣稍熱空心服</p>

<h3>柴胡升麻湯</h3>
<p>治男子婦人四肢發熱肌熱筋骨熱表熱如火燎以手捫之烙人手夫四肢者屬脾土也熱伏地中此病多因血虛而得之又有胃虛過食冷物郁遏陽氣於脾土之中此藥主之</p>
<p>升麻　葛根　獨活　羌活　白芍藥　人參（各五錢）　炙甘草　柴胡（各三錢）　防風（二錢五分）　生甘草（二錢）</p>
<p>上㕮咀每服五錢水二大盞煎至一盞去渣熱服忌寒冷之物</p>

<h3>火鬱湯</h3>
<p>治五心煩熱是火鬱於地中四肢者脾土也心火下陷於脾土之中鬱而不得伸故經云火鬱則發之</p>
<p>升麻　葛根　柴胡　白芍藥（各一兩）　防風　甘草（各五錢）</p>
<p>上㕮咀每服五錢水二大盞入連須蔥白三寸煎至一盞去渣稍熱不拘時候服</p>

<h3>小黃丸</h3>
<p>化痰涎和胃氣除濕治胸中不利</p>
<p>黃芩（一兩）　半夏（薑湯制）　白朮（各五錢）　陳皮　青皮（去白）　黃耆（各三錢）　澤瀉（二錢）　乾薑（一錢五分）</p>
<p>上為末湯浸蒸餅為丸如綠豆大每服五十丸食遠溫水下</p>

<h3>黃芩利膈丸</h3>
<p>除胸中熱利膈上痰</p>
<p>生黃芩　炒黃芩（各一兩）　半夏　黃連　澤瀉（各五錢）　南星　枳殼　陳皮（各三錢）　白朮（二錢）　白礬（五分）</p>
<p>上為末湯浸蒸餅為丸如梧桐子大每服三五十丸食遠溫水下忌酒濕面</p>

<h3>補益腎肝丸</h3>
<p>治目中流火視物昏花耳聾耳鳴困倦乏力寢汗惡風行步不正兩足欹側臥而多驚腳膝無力腰以下消瘦</p>
<p>柴胡　羌活　生地黃　苦參（炒）　防己（炒各五分）　附子　肉桂（各一錢）　當歸身（二錢）</p>
<p>上為細末熟水為丸如雞頭仁大每服五十丸食前溫水下</p>

<h3>太陽經嚏藥</h3>
<p>防風（二分）　羌活（三分）　紅豆（二個）</p>
<p>上為細末鼻內㗜之</p>

<h3>麻黃茱萸湯</h3>
<p>治胸中痛頭痛食減少咽嗌不利右寸脈弦急</p>
<p>麻黃　羌活（各五分）　吳茱萸　黃耆　升麻（各三分）　黃芩　當歸　黃柏　藁本（各二分）　川芎　蔓荊子　柴胡　蒼朮　黃連　半夏（各一分）　細辛（少許）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣稍熱服食後</p>

<h3>黃耆湯</h3>
<p>治表虛惡風寒</p>
<p>黃耆（五錢）　甘草（三錢）　香白芷（二錢五分）　藁本　升麻（各二錢）　草豆蔻　橘皮（各一錢五分）　麻黃　當歸身（各一錢）　蓮花青皮（七分）　柴胡（六分）　黃柏（少許）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣不拘時服</p>

<h3>除濕補氣湯（一名清神補氣湯）</h3>
<p>治兩腿麻木沉重無力多汗喜笑口中涎下身重如山語聲不出右寸脈洪大</p>
<p>升麻（六錢）　蒼朮（四錢）　酒黃柏　柴胡　黃耆（各三錢）　酒知母　藁本　生甘草　當歸（各二錢）　五味子　陳皮（各一錢五分）</p>
<p>上銼如麻豆大每服五錢水二盞煎至一盞去渣空心服之待少時以早飯壓之</p>

<h3>參歸湯</h3>
<p>補氣血俱不足</p>
<p>黃耆（七分）　甘草　生地黃（各五分）　柴胡　草豆蔻仁　升麻（各四分）　當歸身（三分）熟地黃　人參（各二分）　益智仁（少許）　紅花（少許）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣食遠服</p>

<h3>升陽湯</h3>
<p>治陽蹺癇疾足太陽經寒恐則氣下行宜升陽氣</p>
<p>炙甘草（五錢）　麻黃（不去節）　防風（各八錢）　羌活（一兩五錢）</p>
<p>上㕮咀每服五錢水二盞煎至一盞去渣稍熱空心服</p>

<h2>自汗門</h2>

<h3>自汗論</h3>
<p>或問濕之與汗為陰乎為陽乎曰西南坤土也在人則為脾胃也人之汗猶天地之雨也陰滋其濕則為霧露為雨也陰濕下行地之氣也汗多則亡陽陽去則陰勝也甚為寒中混勝則音聲如從甕中出濕若中水也相法家有說土音如居深甕裡言其壅也遠也不出也以明其濕審矣又知此二者亦為陰寒也內經雲氣虛則外寒雖見熱中蒸蒸為汗終傳大寒知始為熱中表虛亡陽不任外寒終傳寒中多成痹寒矣色以候天脈以候地形者乃候地之陰陽也故以脈氣候之皆有形無形之可見者也</p>

<h4>周衛湯</h4>
<p>治濕勝自汗補衛氣虛弱表虛不任風寒</p>
<p>黃耆　麻黃根（各一錢）　羌活（七分）　生甘草　當歸梢　生黃芩　半夏（薑製各五分）　麥門冬　生地黃（各三分）　豬苓（二分）　蘇木　紅花（各一分）　五味子（七個）</p>
<p>上銼如麻豆大都作一服水二盞煎至一盞去渣稍熱服</p>
<p>中風證必自汗不得重發其汗故禁麻黃而用根節也</p>

<h4>清燥湯</h4>
<p>治六月七月間濕令大行子能令母實而熱旺濕熱相合必刑庚大腸寒冷以救之燥金受濕熱之邪絕寒水生化之源源絕則腎虧痿厥之病大作腰以下痿軟癱瘓不能動行步不正兩足欹側此藥主之</p>
<p>黃耆（一錢五分）　橘皮　白朮　澤瀉（各五分）　人參　白茯苓　升麻（各三分）　炙甘草麥門冬　當歸身　生地黃　神麯末　豬苓（各二分）　柴胡　酒黃柏　黃連　蒼朮（各一分）　五味子（九個）</p>
<p>上銼如麻豆大每服五錢水二盞煎至一盞去渣空心熱服</p>

<h4>當歸六黃湯</h4>
<p>治盜汗之聖藥也</p>
<p>當歸　生地黃　熟地黃　黃柏　黃芩　黃連（各等分）　黃耆（加倍）</p>
<p>上為粗末每服五錢水二盞煎至一盞食前服小兒減半服之</p>

<h4>紅豆散</h4>
<p>治頭重如山此濕氣在頭也</p>
<p>麻黃根（炒五錢）　苦丁香（五分）　羌活（炒）　連翹（炒各三分）　紅豆（十個）</p>
<p>上為細末鼻內㗜之</p>

<h4>活血通經湯</h4>
<p>靈壽縣董監軍癸卯冬大雪時因事到真定忽覺有風氣暴至診候得六脈俱弦甚按之洪實有力其證手攣急大便秘澀面赤熱此風寒始至加於身也四肢者脾也以風寒之邪傷之則搐急而攣痹乃風淫未疾而寒在外也內經曰寒則筋攣正謂此也本人素飲酒內有實熱乘於腸胃之間故大便秘澀而面赤熱內則手足陽明受邪外則足太陰脾經受風寒之邪用桂枝甘草以卻其寒邪而緩其急搐又以黃柏之苦寒滑以瀉實而潤燥急救腎水用升麻葛根以升陽氣行手足陽明之經不令遏絕更以桂枝辛熱入手陽明之經為引用潤燥復以芍藥甘草專補脾氣使不受風寒之邪而退木邪專益肺金也加人參以補元氣為之輔佐加當歸身去裡急而和血潤燥此藥主之</p>
<p>芍藥（五分）　升麻　葛根　人參　當歸身　炙甘草（各一錢）　酒黃柏　桂枝（各二錢）</p>
<p>上銼如麻豆大都作一服水二大盞煎至一盞熱服不拘時令暖房中近火摩搓其手</p>

<h4>瀉榮湯</h4>
<p>治癘風滿面連頭極癢不任眉毛脫落先砭其處令惡氣消盡後服此藥</p>
<p>連翹　升麻（各六分）　桔梗（五分）　生黃芩　生地黃（各四分）　黃耆　蘇木　黃連　地龍　全蠍　當歸（各三分）　白豆蔻　人參（各二分）　甘草（一分半）　梧桐淚（一分）　麝香（少許）桃仁（三個）　虻蟲（去翅足炒三個）　水蛭（三個炒令煙盡）</p>
<p>上銼如麻豆大除連翹梧桐淚白豆蔻另為細末麝香虻蟲水蛭三味同為細末都作一服水二盞酒一盞入連翹煎至一盞去渣再入白豆蔻二味並麝香等再煎至七分稍熱早飯後午前服之忌酒濕面生冷硬物</p>

<h4>人參益氣湯</h4>
<p>治兩手指麻木四肢困倦怠惰嗜臥乃熱傷元氣也</p>
<p>黃耆（八錢）　生甘草　人參（各五錢）　白芍藥（三錢）　柴胡（二錢五分）　炙甘草　升麻（各二錢）　五味子（一百四十個）</p>
<p>上㕮咀分作四服每服水二盞煎至一盞去渣稍熱食遠服</p>

<h4>導氣湯</h4>
<p>治兩腿麻木沉重</p>
<p>黃耆（八錢）　甘草（六錢）　青皮（四錢）　升麻　柴胡　當歸梢　澤瀉（各二錢）　橘皮（一錢）　紅花　五味子（一百二十個）</p>
<p>上㕮咀分作四服每服水二大盞煎至一盞去渣食前熱服</p>

<h4>補中湯</h4>
<p>治面黃汗多目赤四肢沉重減食腹中時時痛咳嗽兩手寸脈短右手脈弦細兼澀關脈虛</p>
<p>升麻　柴胡　當歸（各二分）　神麯（三分炒）　澤瀉（四分）　大麥蘖曲　蒼朮（各五分）　黃耆（二錢五分）　炙甘草（八分）　紅花（少許）　五味子（二十個）</p>
<p>上㕮咀分作二服水二盞煎至一盞去渣食遠服</p>

<h4>麻黃分術湯</h4>
<p>治秋冬每夜五更嗽連聲不絕乃至天曉日高方緩日苦兩脅下痛心下痞悶臥而多驚筋攣肢節疼痛痰唾涎沫日晚神昏呵欠不進飲食</p>
<p>麻黃（八錢）　蒼朮（五錢）　黃耆（一錢五分）　草豆蔻（六分）　柴胡　羌活（各五分）　生甘草　當歸梢　防風（各四分）　炙甘草　黃芩（各三分）　五味子（九個）</p>
<p>上㕮咀分作二服水二盞煎至一盞稍熱臨臥服</p>

<h4>上清湯</h4>
<p>清利頭目寬快胸膈</p>
<p>人參　蔓荊子（各五分）　防風（一錢）　葛根（一錢五分）　黃耆（三錢）　甘草（四錢）</p>
<p>上㕮咀分作二服水二盞煎至一盞去渣臨臥熱服</p>
<p>以夾衣蓋覆不語須臾汗出為效</p>

<h4>術桂湯（一名麻黃蒼朮湯）</h4>
<p>治寒濕所客身體沉重胃脘痛面色痿黃</p>
<p>蒼朮（二錢）　麻黃　炒神麯　橘皮　白茯苓　澤瀉（各一錢）　桂梗　半夏　草豆蔻仁　豬苓（各五分）　黃耆（三分）　炙甘草（二分）　杏仁（十個）</p>
<p>上都作一服水二盞生薑五片煎至一盞去渣食前熱服</p>

<h4>正氣湯</h4>
<p>治盜汗</p>
<p>炒黃柏　炒知母（各一錢五分）　炙甘草（五分）</p>
<p>上為粗末生一服水二盞煎至一盞食前溫服</p>

<h4>趁痛丸</h4>
<p>治打撲閃損腰痛不可忍</p>
<p>乳香　沒藥（各錢）　白萵苣子（一兩炒黃）　烏梅（一個）　白粟米（一抄炒黃）</p>
<p>上為細末煉蜜為丸如彈子大每服一丸細嚼溫酒空心下</p>

<h4>退熱湯</h4>
<p>治表中虛熱或遇夜則甚</p>
<p>黃耆（一錢）　柴胡（七分）　生甘草　黃連（酒製）　黃芩　芍藥　地骨皮　生地黃（去血熱）　蒼朮（各五分）　當歸身　升麻（各三分）</p>
<p>上㕮咀作一服水二盞煎至一盞去渣食遠溫服</p>
<p>如身體力困者加麥門冬五味子（各五分）人參甘草（各一錢）</p>

<h4>解表升麻湯</h4>
<p>治遍身壯熱骨節疼痛</p>
<p>升麻　羌活　蒼朮（各一錢）　防風（八分）　柴胡　甘草（各七分）　當歸　藁本（各五分）橘皮（三分）　冬加麻黃（不去節）　春加麻黃（去節）</p>
<p>上㕮咀作一服水二盞煎至一盞去渣溫服後以蔥醋湯發之得微汗為效</p>

<h4>天麻黃耆湯</h4>
<p>治表有風證因連日酣飲其證復來右口角並眼頗有側視及左手左腳腿麻木疼痛</p>
<p>天麻　芍藥　神麯（炒）　羌活（肢節不痛去之）　茯苓（各三分）　人參　黃連（各四分）　當歸（五分）　黃耆　甘草　升麻　葛根　黃柏　蒼朮（各六分）　澤瀉（七分）　柴胡（九分）</p>
<p>上㕮咀作一服水二盞煎至一盞去渣食遠溫服或加豬苓（六分）</p>

<h4>健步丸</h4>
<p>治膝中無力伸而不得屈屈而不能伸腰背腿膝沉重行步艱難</p>
<p>防己（酒洗一兩）　羌活　柴胡　滑石（炒）　炙甘草　栝蔞根（酒洗各五錢）　澤瀉　防風（各三錢）　苦參（酒洗）　川烏（各一錢）　肉桂（五分）</p>
<p>上為細末酒糊為丸如梧桐子大每服七十丸煎愈風湯下空心服</p>

<h4>白朮除濕湯</h4>
<p>治午後發熱背惡風四肢沉重小便或多或少黃色此藥又治汗後發熱</p>
<p>白朮（一兩）　生地黃（炒）　地骨皮　澤瀉知母（各七錢）　赤茯苓　人參　炙甘草　柴胡（各五錢）</p>
<p>上為粗末每服五錢水二盞煎至一盞去渣食遠溫服</p>
<p>如小便快利減茯苓澤瀉（一半）</p>
<p>如有刺痛一料藥中加當歸身（酒洗七錢）</p>

<h4>加味四君子湯</h4>
<p>治久瘧熱多寒少不止</p>
<p>白朮　白茯苓　人參　甘草　柴胡　薄荷葉　黃芩（各等分）</p>
<p>上㕮咀每服五錢水二盞生薑三片棗一枚煎至一盞去渣不拘時候服</p>

<h4>瀉血湯</h4>
<p>治發熱晝少而夜多太陽經中尤甚晝病則在氣夜病則在血是足太陽膀胱血中浮熱微有氣也既病人大小便如常知邪氣不在臟腑是無里證也外無惡寒知邪氣不在表也有時而發有時而止知邪氣不在表不在裡知在經絡也夜發多而晝發少是邪氣下陷之深也此雜證當從熱入血室而論之</p>
<p>生地黃（酒洗炒）　熟地黃　蒲黃　丹參（酒炒）　當歸（酒炒去土）　漢防己（酒洗炒）　柴胡（去蘆）　甘草梢（炙）　羌活（各一兩）　桃仁（去皮三錢湯浸）</p>
<p>上為粗末每服五錢水一盞半煎至一盞去渣空心溫服</p>

<h4>洗面藥</h4>
<p>治面有䵟𪒟或生瘡或生痤痱及粉刺之類並去皮膚燥癢去垢膩潤澤肌膚</p>
<p>皂角（三斤去皮弦子另搗）　好升麻（八兩）　楮實子（五兩）　白芨（一兩細銼）　甘松（七錢）　𩿣砂（連皮）　白丁香（臘月收）　三柰子（各五分）　綠豆（八合揀淨另搗）　糯米（一升二合）</p>
<p>上為細末用之如常</p>

<h4>瑩肌如玉散</h4>
<p>白丁香　白芨　白牽牛　白蘞（各一兩）　白芷（七錢）　當歸梢　白蒺藜　升麻（各五錢）白茯苓　楮實子（各三錢）　麻黃（去節二錢）　白附子　連翹（各一錢五分）　川椒（一錢）</p>
<p>上為細末用之如常</p>

<h4>面油摩風膏</h4>
<p>麻黃　升麻（去黑皮）　防風（各二錢）　羌活（去皮）　當歸身　白芨　白檀（各一錢）</p>
<p>上用小油半斤以銀器中熬綿包定前藥於油中熬之得所澄淨去渣入黃蠟一兩再熬之為度</p>

<h2>小兒門</h2>

<h3>治驚論</h3>
<p>外物驚宜鎮心以黃連安神丸若氣動所驚宜寒水石安神丸大忌防風丸治風辛溫之藥必殺人何也辛散浮溫熱者火也能令母實助風之氣盛皆殺人也因驚而泄青色先鎮肝以硃砂之類勿用寒涼之氣大禁涼驚丸風木旺必克脾胃當先實其土後瀉其子閻孝忠編集錢氏方以益黃補土誤矣其藥有丁香辛熱助火火旺土愈虛矣青橘皮瀉肺金丁香辛熱大瀉肺與大腸脾實當瀉子今脾胃虛反更瀉子而助火重虛其土殺人無疑矣其風木旺證右關派洪大掌中熱腹皮熱豈可以助火瀉金如寒水來乘脾土其病嘔吐腹痛瀉痢青白益黃散聖藥也今立一方先瀉火補金大補其土是為神治之法</p>

<h4>黃耆湯</h4>
<p>黃耆（二錢）　人參（一錢）　炙甘草（五分）</p>
<p>上㕮咀作一服水一大盞煎至半盞去渣食遠服加白芍藥尤妙</p>
<p>此三味皆甘溫能補元氣甘能瀉火內經云熱淫於內以甘瀉之以酸收之白芍藥酸寒寒能瀉火酸味能瀉肝而大補肺金所補得金土之位金旺火虛風木何由而來剋土然後瀉風之邪</p>
<p>夫益黃散理中丸養神丸之類皆治脾胃寒濕大盛神品之藥也若得脾胃中伏熱火勞役不足之證及服熱藥巴豆之類胃虛而成慢驚之證用之必傷人命夫慢驚風者皆由久瀉脾胃虛而生也錢氏以羌活膏療慢驚風誤矣脾虛者由火邪乘其土位故曰從後來者為虛邪火旺能實其木木旺故來剋土當於心經中以甘溫補土之源更於脾土中瀉火以甘寒更於脾土中補金以酸涼致脾土中金旺火衰風木自虛矣損食多進藥愈前藥是也</p>

<h4>益黃散</h4>
<p>治胃中風熱</p>
<p>黃耆（二錢）　陳皮（去白）　人參（各一錢）　芍藥（七分）　生甘草　熟甘草（各五分）　黃連（少許）</p>
<p>上為細末每服二錢水一盞煎至五分食前服</p>

<h4>升陽益血湯</h4>
<p>二月間有一小兒未滿一百日病腹脹二日大便一度瘦弱身黃色宜升陽氣滋血益血補血利大便</p>
<p>蠍梢（二分）　神麯末　升麻（各三分）　當歸　厚朴（各一錢）　桃仁（十個）</p>
<p>上都作一服水一大盞煎至半盞去渣食遠熱服</p>

<h4>厚腸丸</h4>
<p>治小兒失乳以食飼之未有食腸不能克化或生腹脹四肢瘦弱或痢色無常</p>
<p>厚朴　青皮（各二分）　橘紅　半夏　蒼朮　人參（各三分）　枳實　麥蘖面　神麯末（各五分）</p>
<p>上為極細末水煮麵糊為丸如麻子大每服二十丸溫水送下食前忌飽食</p>

<h4>補陽湯</h4>
<p>時初冬一小兒二歲大寒證明堂青脈額上青黑腦後青絡高起舌上白滑喉鳴而喘大便微青耳尖冷目中常常淚下仍多眵胸中不利臥而多驚無搐則寒</p>
<p>黃柏　橘皮　葛根　連翹　蠍梢　炙甘草（各一分）　升麻　黃耆　柴胡（各二分）　當歸身　麻黃（各三分）　吳茱萸　生地黃　地龍（各五分）</p>
<p>上㕮咀都作一服水一大盞半煎至六分去渣乳食後熱服服藥之後添喜笑精神出氣和順乳食旺</p>

<h4>大蕪荑湯（一名梔子茯苓湯）</h4>
<p>治黃疳土色為熱為濕當小便不利今反利知黃色為燥胃經中大熱發黃脫落知膀胱與腎俱受土邪乃大濕熱之證鼻下斷作瘡者土逆行榮氣伏火也能乳者胃中有熱也寒則食不入喜食土者胃不足也面黑色者為寒為痹大便青寒褐色血黑色熱蓄血中間黃色腸中有熱治法當滋榮潤燥除寒熱致津液</p>
<p>防風　黃連（各一分）　黃柏　炙甘草　麻黃（不去根節）　羌活（各二分）　山梔子仁　柴胡　茯苓（各三分）當歸（四分）　大蕪荑　白朮（各五分）</p>
<p>上銼如麻豆大都作一服用水一大盞半煎至六分去渣食前稍熱服</p>

<h4>塌氣退黃湯（一名茯苓滲濕湯）</h4>
<p>治小兒面色痿黃腹䐜脹食不能下</p>
<p>白朮　柴胡（各半分）　升麻（一分）　桂枝　麻黃　吳茱萸　厚朴　羌活　草豆蔻　神麯末蒼朮　澤瀉　白茯苓　豬苓　黃柏　橘紅（各二分）　青皮　黃連（各五分）　杏仁（二個）</p>
<p>上都作一服水二大盞煎至一盞去渣食前溫服</p>

<h4>中滿分消丸</h4>
<p>枳實　黃連（去須）　厚朴（各五分）　乾薑　薑黃　豬苓（各一錢）　橘皮　甘草　白朮（各一錢五分）　砂仁　澤瀉　茯苓（各二錢）　半夏（四錢）　黃芩（一兩二錢）</p>
<p>上為細末湯浸蒸餅為丸如黍米大每服三五十丸溫水下</p>

<h4>消痞丸</h4>
<p>黃連（五錢）　黃芩（二錢）　厚朴（七分）　薑黃（五分）　乾生薑　人參（各四分）　甘草（三分）　枳實（二分）　橘皮（一分）</p>
<p>上為細末湯浸蒸餅為丸如黍米大每服三十丸隨乳下</p>

<h3>癍疹論</h3>
<p>夫癍疹始出之證必先見面燒腮赤目胞亦赤呵欠煩悶乍涼乍熱咳嗽嚏噴足稍冷多睡驚並瘡疹之證或生膿胞或生小紅癍或生癮疹此三等不同何故俱顯上證而後乃出蓋以上諸證皆太陽寒水起於右腎之下煎熬左腎足太陽膀胱寒水夾脊逆流上頭下額逆手太陽丙火不得傳導逆於面上故顯是證蓋旺癸寒水克丙丁熱火故也諸癍證皆從寒水逆流而作也醫者當知此理乃敢用藥夫胞者一名赤宮一名丹田一名命門主男子藏精施化婦人系胞有孕俱為生化之源非五行也非水亦非火此天地之異名也象坤土之生萬物也夫人之始生也血海始淨一日二日精勝其血則為男子三日四日五日血脈已旺精不勝血則為女子二物相搏長生先身謂之神又謂之精道釋二門言之本來面目是也其子在腹中十月之間隨母呼吸者陽氣也而生動作滋益精氣神飢則食母血渴則飲母血兒隨日長皮肉筋骨血脈形氣俱足十月降生口中尚有惡血啼聲一發隨吸而下此惡血復歸命門胞中僻於一隅伏而不髮直至因內傷乳食濕熱之氣下流合於腎中二火交攻致榮氣不從逆於肉理惡血乃發諸癍疹皆出於膀胱旺水其瘍後聚肉理歸於陽明故三番癍始顯之證皆足太陽旺膀胱克丙小腸其始出皆見於面終歸於陽明肉理熱化為膿者也二火熾甚反勝寒水遍身俱出此皆出從足太陽傳變中來也當外發寒邪使令消散內瀉二火不令交攻其中令濕氣上歸復其本位可一二服立已仍令小兒以後再無二番癍出之患此內經之法覽者詳之</p>

<h4>消毒救苦散</h4>
<p>治癍證悉具消化便令不出如已出希者再不生癍</p>
<p>防風　羌活　麻黃根　升麻　生地黃　連翹（初出者減出大者加）　酒黃柏（各五分）　當歸身黃連（各三分）　川芎　藁本　柴胡　葛根　酒黃芩　生黃芩　蒼朮（各二分）　細辛　生甘草　白朮　陳皮　蘇木　紅花（各一分）　吳茱萸（半分）</p>
<p>上銼如麻豆大每服五錢水二大盞煎至一盞去渣稍熱空心服</p>
<p>夫癍疹出者皆因內傷必出癍榮氣逆故也大禁牽牛巴豆食藥宜以半夏枳朮大黃益智仁之類去其泄瀉止其吐若耳尖冷呵欠睡中驚嚏噴眼澀知必出癍也諸大膿泡小水泡癍疹癮三色皆榮氣逆而寒復其表宜以四味升麻湯中加當歸身連翹此定法也</p>
<p>如肺成膿癍先嗽喘或氣高而喘促加人參少加黃芩以瀉伏火而補元氣</p>
<p>如心出小紅癍必先見嗌乾驚悸身熱肌肉腫脈弦洪少加黃連</p>
<p>如命門出癮疹必先骨疼身熱其疼痛不敢動搖少加生地黃又加黃柏諸癍疹皆為陰證瘡須皆因內傷飲食脾胃不足榮氣逆行雖火熱內熾陰覆其外治法如前</p>
<p>辨小兒癍證</p>
<p>呵欠　嚏噴　睡中發驚</p>
<p>或耳光冷　眼澀</p>
<p>或辨復食</p>
<p>口熱　或口醋氣　奶瓣不消</p>
<p>或腹中痛</p>
<p>如癍證少具其癍未發乃與升麻湯三五錢帶熱服之待身表溫和癍疹已顯服藥乃止</p>
<p>如其身涼其癍未出辨得是癍證無問服數直候身表溫和及癍瘡已顯然後乃止只時時與桔梗湯寬胸膈利咽喉</p>

<h4>桔梗湯</h4>
<p>如癍已出只時時與之快咽喉寬利胸膈</p>
<p>桔梗（二錢）　甘草（一錢炙）</p>
<p>上為粗末每服三錢水一大盞煎至六分去渣大溫時時服之不可計服數</p>
<p>如見傷食證又見癍證先與不犯大黃巴豆藥克化過再與升麻湯</p>
<p>如食重傷前藥不能過再與犯大黃巴豆藥過</p>
<p>如大便行當即便與升麻湯服之恐癍子內陷以後臨時作罪過</p>
<p>如癍子已出稠密身表熱急與下項</p>

<h4>黍黏子湯</h4>
<p>如癍子已出稠密身表熱急與此藥服之防後青乾黑陷</p>
<p>黍黏子（炒香）　當歸身（酒洗）　炙甘草（各一錢）　柴胡　連翹　黃耆　黃芩（各一錢五分）　地骨皮（二錢）</p>
<p>上同為粗末每服二錢水一大盞煎至六分去渣溫服空腹服藥畢且休與乳食</p>

<h4>麻黃柴胡升麻湯</h4>
<p>治小兒寒鬱而喘喉鳴腹滿鼻流清涕脈沉急而數</p>
<p>麻黃　草豆蔻仁　益智仁（各一錢五分）　吳茱萸　厚朴（各二分）　當歸梢　甘草　柴胡生黃芩（各一分）　升麻　神麯　蘇木（各半分）　全蠍（二個）　紅花（少許）</p>
<p>上銼如麻豆大分作二服水一大盞煎至七分去渣食遠服忌風寒微有汗則效</p>
