<header data-type="book">
<h1>醫宗金鑑·正骨心法要旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
主題：十不治證
篇名：上編　外治法
分類：補遺
內容：(1)顛撲損傷入於肺者，縱未即死，二七難過。
　　　(2)左脅下傷透至內者。
　　　(3)腸傷斷者。
　　　(4)小腹下傷內者。
　　　(5)證候繁多者。
　　　(6)傷破陰子者。
　　　(7)老人左股壓碎者。
　　　(8)血出盡者。
　　　(9)肩內、耳後傷透於內者。
　　　(10)脈不實重者。
　　　以上皆不必用藥。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：大楗骨
篇名：上編　外治法
分類：四肢部
內容：(1)一名髀骨，上端如杵，入於髀樞之臼，下端如鎚，接於䯒骨，統名曰
　　　　 股，乃下身兩大肢之通稱也，俗名大腿骨。
　　　(2)墜馬擰傷，骨碎筋腫，黑紫清涼，外起白泡，乃因骨碎氣泄，此證治
　　　　 之鮮效。
　　　(3)如人年少氣血充足者，雖形證腫痛而不昏沉，無白泡者可治。
　　　　 &lt;1&gt;法以兩手按摩碎骨，推拿復位，再以指頂按其傷處，無錯落之骨，
　　　　　 用竹廉裹之。
　　　　 &lt;2&gt;每日早服正骨紫金丹，俟三日後，開廉視之，若有不平處，再捻筋
　　　　　 結，令其舒平，貼萬靈膏，仍以竹廉裹之。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：山角骨
篇名：上編　外治法
分類：頭面部
內容：(1)山角骨，即頭頂兩旁棱骨也。
　　　(2)凡有跌打損傷未破者
　　　　 &lt;1&gt;不拘左右，宣紫腫硬，瘀血凝聚疼痛，或昏迷目閉，身軟而不能起
　　　　　 ，聲氣短少，語言不出，心中忙亂，睡臥喘促，飲食少進者。
　　　　 &lt;2&gt;宜內服正骨紫金丹，外用灸熨，如囟骨傷法。
　　　(3)如肉破流血不止者
　　　　 &lt;1&gt;先用馬屁勃灰止血，後以榆樹皮蓋傷處，以艾合定痛散灸之。
　　　　 &lt;2&gt;如傷重者，先服人參紫金丹，後如前法。
　　　　 &lt;3&gt;如損傷太重，成破傷風，不治。
按、方劑：(1)正骨紫金丹：見前顛頂傷。
　　　　　(2)人參紫金丹：見前囟骨傷。
註：
</pre>
<pre data-sec="p">
主題：中血堂
篇名：上編　外治法
分類：頭面部
內容：(1)中血堂，即鼻內頞下脆骨空虛處也。
　　　(2)若被打扑損傷，血流不止，神氣昏迷者，宜塞鼻丹塞於鼻中，外復以
　　　　 新汲冷水，淋激頭頂。
　　　　 &lt;1&gt;視其人如氣虛，內服人參紫金丹。
　　　　 &lt;2&gt;如血瘀，服蘇子桃仁湯。
　　　　 &lt;3&gt;服後如血仍不止，飲食不進，氣虛、目閉、面黃者，八日死。
　　　(3)凡跌打損傷鼻樑骨者，無妨。
按、方劑：(1)塞鼻丹
　　　　　　 此丹治跌打損傷，鼻中流血不止，神氣昏迷，牙齒損傷，虛浮腫痛者
　　　　　　 ，及一切衄血之證，皆可用之。
　　　　　　 朱砂　麝香　丁香　烏梅肉　川烏　草烏　當歸　三奈各一錢　
　　　　　　 乳香三錢　皂角七分
　　　　　　 共為細末，用獨頭蒜泥為丸，以絲棉包裹，寒於鼻中。
　　　　　(2)人參紫金丹：見囟骨傷
　　　　　(3)蘇子桃仁湯：見顛頂傷
註：
</pre>
<pre data-sec="p">
主題：五指骨
篇名：上編　外治法
分類：四肢部
內容：(1)五指之骨，名錘骨，即各指本節之名也。
　　　(2)若被打傷折，五指皆同，株連腫痛，因其筋皆相連也。
　　　(3)手掌與背，其外體雖混一不分，而其骨在內，乃各指之本節相連而成
　　　　 者也。
　　　(4)若手背與手心，皆堅硬壅腫熱痛，必正其骨節，則無後患。
　　　(5)若不即時調治，其所壅之血，後必化而為膿。
　　　(6)氣盛者，服瘡毒之劑，調治可癒；氣虛者，將來成漏矣。
　　　　 洗以散瘀和傷湯，貼萬靈膏。
按、方劑：(1)散瘀和傷湯：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：少腹引陰莖作痛
篇名：下編　內治雜證法
分類：少腹引陰莖作痛
內容：傷損而少腹引陰莖作痛者，乃瘀血不行，兼肝鬱火所致：
　　　(1)宜用小柴胡湯加大黃、黃連、山梔服之。
　　　(2)待痛勢已定，再用養血之劑，自無不癒矣。
　　　(3)此病若誤認為寒證而投以熱藥，重則必危，輕則損目，治者宜慎之。
按、方劑：(1)小柴胡湯方見瘀血泛注
註：
</pre>
<pre data-sec="p">
主題：手法總論
篇名：上編　外治法
分類：手法總論
內容：夫手法者，謂以兩手安置所傷之筋骨，使仍復於舊也。
　　　(1)但傷有重輕，而手法各有所宜，其痊可之遲速，及遺留殘疾與否，皆
　　　　 觀乎手法之所施得宜，或失其宜，或未盡其法也。
　　　(2)蓋一身之骨體，既非一致，而十二經筋之羅列序屬，又各不同，故必
　　　　 素知其體相，識其部位，一旦臨證，機觸於外，巧生於內，手隨心轉
　　　　 ，法從手出，或拽之離而復合，或推之就而復位，或正其斜，或完其
　　　　 闕，則骨之截斷、碎斷、斜斷，筋之弛縱、卷攣、翻轉、離合，雖在
　　　　 肉裡，以手捫之，自悉其情，法之所施，使患者不知其苦，方稱為手
　　　　 法也。
　　　(3)況所傷之處，多有關於性命者，如七竅上通腦髓，膈近心君，四末受
　　　　 傷，痛苦入心者，即或其人元氣素壯，敗血易於流散，可以克期而癒
　　　　 ，手法亦不可亂施；若元氣素弱，一旦被傷，勢已難支，設手法再誤
　　　　 ，則萬難挽回矣，此所以尤當審慎者也。
　　　(4)蓋正骨者，須心明手巧，既知其病情，復善用夫手法，然後治自多效
　　　　 。誠以手本血肉之體，其宛轉運用之妙，可以一己之捲舒，高下疾徐
　　　　 ，輕重開合，能達病者之血氣凝滯，皮肉腫痛，筋骨攣折，與情志之
　　　　 苦欲也。較之以器具從事於拘制者，相去甚遠矣。是則手法者，誠正
　　　　 骨之首務哉。

按、方劑：
註：
</pre>
<pre data-sec="p">
主題：方法總論
篇名：下編　內治雜證法
分類：方法總論
內容：(1)今之正骨科，即古跌打損傷之證也。專從血論，須先辨或有瘀血停積
　　　　 ，或為亡血過多，然後施以內治之法，庶不有誤也。
　　　(2)夫皮不破而內損者，多有瘀血；破肉傷䐃，每致亡血過多。二者治法
　　　　 不同。
　　　　 &lt;1&gt;有瘀血者，宜攻利之。
　　　　 &lt;2&gt;亡血者，宜補而行之。
　　　　 &lt;3&gt;但出血不多，亦無瘀血者，以外治之法治之。
　　　(3)更察其所傷，上下輕重淺深之異，經絡氣血多少之殊，必先逐去瘀血
　　　　 ，和榮止痛，然後調養氣血，自無不效。
　　　(4)若夫損傷雜證，論中不及備載者，俱分門晰類，詳列于後，學者宜盡
　　　　 心焉。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：四肢部
篇名：上編　外治法
分類：靈樞經骨度尺寸
內容：(1)肩至肘，長一尺七寸。
　　　(2)肘至腕，長一尺二寸半。(臂之中節曰肘。)
　　　(3)腕至中指本節，長四寸。(臂掌之交曰腕。)
　　　(4)本節至末，長四寸半。(指之後節曰本節。)
　　　(5)膝以下至外踝，長一尺六寸。
　　　(6)膝膕以下至跗屬，長一尺二寸。(膕，腿灣也。跗，足面也。膝在前，
　　　　 膕在後。跗屬者，凡兩踝前後脛掌所交之處，皆為跗之屬也。)
　　　(7)跗屬以下至地，長三寸。
　　　(8)外踝以下至地，長一寸。
　　　(9)足長一尺二寸 ，廣四寸半。
按、方劑：(1)骨度乃『靈樞經‧骨度篇』之文，論骨之長短，皆古數也。
　　　　　(2)然骨之大者則太過，小者則不及，此亦言其則耳。
　　　　　(3)其周身手足折量之法，用前中指同身寸法為是。同身寸量法，詳刺
　　　　　　 灸書中。
註：
</pre>
<pre data-sec="p">
主題：玉堂
篇名：上編　外治法
分類：頭面部
內容：(1)玉堂在口內上顎，一名上含，其竅即頏顙也。
　　　(2)若被觸刺傷於左右者，惟腫痛而已。
　　　(3)若觸傷正中之孔，則上通於頞，必傷鼻孔之捲肉(俗名鼻鬚)，或再犯
　　　　 空竅(俗名玉堂)，則血流不止，以致鼻目皆腫，滿面青紫，神倦頭暈
　　　　 ，四肢無力，痛連腦髓。
　　　(4)若傷及會厭與上橫骨，輕者易癒，重者即不能言。
　　　(5)若痛連心膈，則昏迷沉重。
　　　(6)急用膩粉冰片敷於紙上，貼肉破處，以止其血。
　　　(7)內服正骨紫金丹，以散瘀定痛，理氣健脾，寧神定志。
　　　(8)復用蟹黃血竭煎湯，日漱口二三十次。
　　　(9)如氣不舒和，飲食少進，日以柿霜、玉露霜、牛奶皮、奶餅、奶酥油
　　　　 、並炒𪎭子麵諸物，以涼潤將息之，則癒。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：玉梁骨
篇名：上編　外治法
分類：頭面部
內容：(1)玉梁骨，即耳門骨。
　　　　 &lt;1&gt;其處上即曲頰，下即頰車，兩骨之合鉗也。
　　　　 &lt;2&gt;耳門內上通腦髓，亦關靈明。
　　　(2)若墊傷擊傷，而有礙於骨肉者，腫痛流血
　　　　 &lt;1&gt;服正骨紫金丹
　　　　 &lt;2&gt;八仙逍遙湯洗之
　　　　 &lt;3&gt;洗畢貼混元膏
　　　　 &lt;4&gt;坐臥避冷處。
　　　(3)若傷重內連腦髓，及傷靈明，必昏沉不省人事，不進飲食，若再平素
　　　　 氣血皆虛，必為不治之證。
按、方劑：(1)八仙逍遙湯
　　　　　　 專洗跌仆損傷，腫硬疼痛，及一切冷振風濕，筋骨血肉肢體痠痛諸證
　　　　　　 防風　荊芥　川芎　甘草各一錢　當歸（酒洗）　黃柏各二錢　
　　　　　　 茅山蒼朮　牡丹皮　川椒各三錢　苦參五錢
　　　　　　 共合一處，裝白布袋內，紮口，水熬滾，燻洗患處。
註：
</pre>
<pre data-sec="p">
主題：地閣骨
篇名：上編　外治法
分類：頭面部
內容：(1)地閣骨，即兩牙車相交之骨，又名頦，俗名下巴骨，上載齒牙。
　　　(2)打撲損傷者，顋唇腫痛，牙車振動虛浮，飲食不進，目閉神昏，心熱
　　　　 神亂，氣弱體軟。
　　　(3)用布兜裹繫縛頂上
　　　　 &lt;1&gt;內服大神效活絡丹消瘀散，止痛和血，理氣健脾。
　　　　 &lt;2&gt;再噙化人參紫金丹。
　　　　 &lt;3&gt;搽固齒散，口漱蓽撥散，以去牙根腫痛。
　　　　 &lt;4&gt;外貼萬靈膏
　　　　 &lt;5&gt;忌風寒冷物，戒氣惱。
按、方劑：(1)大神效活絡丹
　　　　　　 此丹宣暢氣血，通利經絡，並風濕諸痺，口眼喎斜，半身不遂，行步
　　　　　　 艱難，筋骨拘攣，手足疼痛等證。
　　　　　　 白花蛇（酒浸，焙）　烏梢蛇（酒浸，涪）　麻黃（去節）　防風　
　　　　　　 灸草　官桂　草豆蔻　羌活　元參　天麻　藿香　何首烏　白芷　
　　　　　　 川連黃　老耆　熟地黃　川大黃各二兩　遼細辛　赤芍藥　砂(水飛)
　　　　　　 沒藥（去油）　乳香（去油）　直殭蠶（去黑嘴，炒）　天竺黃　
　　　　　　 敗龜板（酥炙）　丁香　虎脛骨（穌炙）　烏藥　青皮　黑附子　
　　　　　　 白蔻仁（炒）　骨碎補　白茯苓　于白朮（土炒）　當歸（酒洗）　
　　　　　　 沉香各一兩　金蝎（去毒）　葛根　威靈仙（酒浸）各二兩五錢　
　　　　　　 瓜兒血竭　犀角各七錢五錢　麝香五錢　地龍（去土）五錢　
　　　　　　 淨松香五錢　兩頭尖　川芎各二兩　京牛黃二錢五分　片腦二錢五分
　　　　　　 共為細末，煉蜜為丸，金鉑為衣，每丸重一錢，以蠟皮封裹，溫酒送
　　　　　　 ，隨病上下，食前後服。
　　　　　(2)人參紫金丹：見山角骨傷
　　　　　(3)固齒散：見齒傷
　　　　　(4)蓽撥散：見兩顴傷
　　　　　(5)萬靈膏：見顛頂傷
註：
</pre>
<pre data-sec="p">
主題：竹節骨
篇名：上編　外治法
分類：四肢部
內容：(1)竹節骨，即各指次節之名也。
　　　(2)跌打損傷，骨碎筋彎，指不能伸，以手捻其屈節，則指必舒直。
　　　(3)洗以散瘀和傷湯，貼以萬靈膏。如指甲縫蓄積毒血，其甲必脫落，若
　　　　 再生指甲，其形多不如舊。
　　　(4)若第三節有傷，治同次節，其指甲名爪甲。
按、方劑：(1)散瘀和傷湯：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：竹簾
篇名：上編　外治法
分類：器具釋義
內容：(1)竹簾者，即夏月涼簾也，量患處之大小長短裁取之。
　　　(2)用法釋義：
　　　　 &lt;1&gt;凡肢體有斷處，先用手法安置訖，然後用布纏之，復以竹廉圍於布
　　　　　 外，緊紮之，使骨縫無參差走作之患，乃通用之物也。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：耳
篇名：上編　外治法
分類：頭面部
內容：(1)耳者，司聽之竅也。耳門之名曰蔽，耳輪之名曰廓。
　　　(2)凡耳被砍跌打落，或上脫下黏，或下脫上黏
　　　　 &lt;1&gt;內用封口藥，外用消毒定痛散敷貼。
　　　　 &lt;2&gt;及耳後看脫落所向，用鵝翎橫夾定，卻用竹夾子直上橫縛定，縛
　　　　　 時要兩耳相對，輕輕縛住，或用綴法。
按、方劑：(1)封口藥、消毒定痛散、綴法：俱見鼻樑骨傷
註：
</pre>
<pre data-sec="p">
主題：肌肉作痛
篇名：下編　內治雜證法
分類：肌肉作痛
內容：傷損之證：
　　　(1)肌肉作痛者，乃榮衛氣滯所致，宜用復元通氣散。
　　　(2)筋骨間作痛者，肝腎之氣傷也，用六味地黃丸。
按、方劑：(1)六味地黃丸
　　　　　　 熟地黃八兩　山萸肉(去核)四兩　懷山藥四兩　牡丹皮三兩　澤瀉
　　　　　　 三兩　茯苓三兩
　　　　　　 共為末，煉蜜丸桐子大，空心，白湯服三錢。
　　　　　(2)復元通氣散：方見傷損內證
註：
</pre>
<pre data-sec="p">
主題：血虛作痛
篇名：下編　內治雜證法
分類：血虛作痛
內容：(1)傷損之證，血虛作痛者，其證則發熱作渴，煩悶頭暈，日哺益甚，此
　　　　 陰虛內熱之證。
　　　(2)宜八珍湯加丹皮、麥冬、五味子、肉桂、骨碎補治之。
按、方劑：(1)八珍湯：方見瘀血泛注
註：
</pre>
<pre data-sec="p">
主題：囟骨
篇名：上編　外治法
分類：頭面部
內容：(1)囟骨者，嬰兒頂骨未合，軟而跳動之處，名曰囟門。
　　　(2)或跌打損傷，骨縫雖綻，尚未震傷腦髓，筋未振轉。其形頭項浮光，
　　　　 面虛眼腫，鼻大唇翻舌硬，睡睏昏沉。
　　　(3)肉雖腫而未皮破出血者
　　　　 &lt;1&gt;宜扶起正坐。
　　　　 &lt;2&gt;即以蔥汁合定痛散，敷於傷處；再以毛頭紙蘸醋貼藥上，燒鐵熨斗
　　　　　 烙紙上，以傷處覺熱疼，口中有聲為度。
　　　　 &lt;3&gt;去藥貼萬靈膏，三日一換。
　　　　 &lt;4&gt;待疼止思食，始揭去膏，以和傷湯洗之，則風除腫散，血活氣理矣
　　　(4)肉破出血者
　　　　 &lt;1&gt;即用馬屁勃灰先止其血。
　　　　 &lt;2&gt;次用榆樹皮灸熨法。
　　　　 &lt;3&gt;內服人參紫金丹，以健脾胃，提元氣，止渴生津，增長精神，強壯
　　　　　 身體，令筋血和通為要。
　　　　 &lt;4&gt;忌發物、火酒。戴抽口，穿帶布帽，以避風寒，不可出房。
　　　(5)若肉破血流不止，骨陷筋翻，必損腦髓，身軟屈手筋強，氣息無聲，
　　　　 則危篤難醫。若破痕觸冒寒風者，不治。
　　　(6)馬屁勃，俗名狗頭灰，產口外者佳。
按、方劑：(1)定痛散
　　　　　　 治一切打撲損傷，定痛消腫，舒筋和絡。
　　　　　　 當歸　川芎　白芍 官桂各一錢　三奈三錢　麝香三分　紅花五錢　
　　　　　　 紫丁香根五錢　升麻一錢　防風一錢
　　　　　　 共為細末，老蔥搗汁合敷患處，再用熨法。
　　　　　(2)灸熨法
　　　　　　 此法耑以灸熨肉破血出諸傷。蓋因血液津漬潮潤，以樹皮隔之，方灸
　　　　　　 熨也，先以榆樹皮安患處，再以老蔥搗爛，並蘄艾止痛散和勻，置樹
　　　　　　 皮上，連灸五次畢，以軟絹包裹。戴抽口布帽，繫緊帶子，謹避風冷
　　　　　(3)萬靈膏
　　　　　　 治跌打損傷，消瘀散毒，舒筋活血，止痛接骨如神，兼去麻木風痰，
　　　　　　 寒濕疼痛等證。
　　　　　　 鸛筋草　透骨草　紫丁香根　當歸（酒洗）　自然銅（醋淬七次）　
　　　　　　 瓜兒血竭　沒藥各一兩　川芎八錢　赤芍二兩　半兩錢（醋淬）一枚
　　　　　　 紅花一兩　川牛膝　五加皮　石菖蒲　茅山蒼朮各五錢　木香　秦艽
　　　　　　 蛇床子　肉桂　川附子（製）　半夏（製）　石斛　蓽薢　鹿茸
　　　　　　 各三錢　虎脛骨一對　麝香二錢
　　　　　　 以上除血竭、沒藥、麝香三味，各研細末另包外，共二十三味。先將
　　　　　　 香油十斤微火煨浸三日，然後將群藥入油內，熬黑為度，去滓加黃丹
　　　　　　 五斤再熬，將至滴水成珠，離火，俟少時藥溫，將血竭、沒藥、麝香
　　　　　　 下入，攪勻，取起出火氣。
　　　　　(4)人參紫金丹
　　　　　　 此丹提補元氣，健壯脾胃，止渴生津，增長精神，和通筋血，被跌仆
　　　　　　 閃撞而氣虛者，最宜服之。
　　　　　　 人參三錢　丁香一兩　五加皮二兩　甘草八錢　茯芩二錢　
　　　　　　 當歸(酒洗)一兩　血竭一兩　骨碎補一兩　五味子一兩　沒藥(去油)
　　　　　　 二兩
　　　　　　 共為細末，煉蜜為丸，每服三錢，早晚淡黃酒化服，童便化服亦可。
註：
</pre>
<pre data-sec="p">
主題：作渴
篇名：下編　內治雜證法
分類：作渴
內容：傷損作渴：
　　　(1)若因亡血過多者，用四物湯加人參、白朮，如不應，用人參、黃耆以
　　　　 補氣，當歸、熟地以補血，或用八珍湯。
　　　(2)若因胃熱傷津液者，用竹葉黃耆湯。
　　　(3)如胃虛津液不足，用補中益氣湯。
　　　(4)如胃火熾盛，用竹葉石膏湯。
　　　(5)若煩熱作渴、小便淋濇，乃腎經虛熱，非地黃丸不能救。
按、方劑：(1)竹葉黃耆湯
　　　　　　 淡竹葉二錢　人參　黃耆　生地黃　當歸　川芎　麥冬　芍藥　甘草
　　　　　　 石膏(煅)　黃芩(炒)　半夏各一錢　水煎服。
　　　　　(2)竹葉石膏湯
　　　　　　 竹葉三把　石膏一斤　人參三兩　甘草(炙)二兩　麥冬一升　半夏
　　　　　　 半升　粳米半升　引用生薑，水煎服。
　　　　　(3)四物湯　補中益氣湯俱見傷損出血
　　　　　(4)八珍湯方見瘀血泛注
　　　　　(5)六味地黃丸方見肌肉作痛
註：
</pre>
<pre data-sec="p">
主題：作嘔
篇名：下編　內治雜證法
分類：作嘔
內容：傷損作嘔：
　　　(1)若因痛甚，或因克伐而傷胃者，宜四君子湯加當歸、半夏、生薑。
　　　(2)因忿怒而肝傷者，用小柴胡湯加山梔、茯苓。
　　　(3)因痰火盛者，用二陳湯加薑炒黃連、山梔。
　　　(4)因胃氣虛者，用補中益氣湯加生薑、半夏。
　　　(5)因出血過多者，用六君子湯加當歸。
按、方劑：(1)四君子湯　補中益氣湯俱見傷損出血
　　　　　(2)小柴胡湯方見瘀血泛注
　　　　　(3)二陳湯　六君子湯俱見胸腹痛悶
註：
</pre>
<pre data-sec="p">
主題：尾骶骨
篇名：上編　外治法
分類：胸背部
內容：(1)尾骶骨，即尻骨也。其形上寬下窄，上承腰脊諸骨。
　　　(2)兩旁各有四孔，名曰八髎，其末節名曰尾閭，一名骶端，一名橛骨，
　　　　 一名窮骨，俗名尾椿。
　　　(3)若蹲墊壅腫，必連腰胯，內服正骨紫金丹，洗以海桐皮湯，貼萬靈膏
按、方劑：(1)正骨紫金丹：見顛頂傷
　　　　　(2)海桐皮湯：見兩顴骨傷
　　　　　(3)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：扶桑骨
篇名：上編　外治法
分類：頭面部
內容：(1)扶桑骨，即兩額骨旁，近太陽肉內凹處也。
　　　(2)若跌仆損傷，或掀腫，或血出，或青紫堅硬，頭疼耳鳴，青痕滿面
　　　　 ，憎寒惡冷，心中發熱，大便乾燥，宜內服正骨紫金丹。
　　　(3)如破損者，外以灸熨法定痛，外破者烏龍膏敷之。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)灸熨法：見囟骨傷
　　　　　(3)烏龍膏方：見凌雲骨傷
註：
</pre>
<pre data-sec="p">
主題：杉籬
篇名：上編　外治法
分類：器具釋義
內容：(1)杉籬者，復逼之器也。量患處之長短闊狹、曲直凸凹之形，以杉木為
　　　　 之，酌其根數，記清次序，不得紊亂，然後於每根兩頭各鑽一孔，以
　　　　 繩聯貫之，有似於籬，故名焉。但排列稀疏，不似竹廉之密耳。
　　　(2)用法釋義：
　　　　 &lt;1&gt;凡用以圍裹於竹簾之外，將所穿之繩結住，再於籬上加繩以纏之，
　　　　　 取其堅勁挺直，使骨縫無離綻脫走之患也。
　　　　 &lt;2&gt;蓋骨節轉動之處，與骨節甚長之所，易於搖動，若僅用竹廉，恐挺
　　　　　 勁之力不足，故必加此以環抱之，則骨縫吻合堅牢矣。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：肘骨
篇名：上編　外治法
分類：四肢部
內容：(1)肘骨者，肐膊中節上、下支骨交接處也，俗名鵝鼻骨。
　　　(2)若跌傷，其肘尖向上突出，疼痛不止，汗出戰慄。
　　　　 &lt;1&gt;用手法翻其臂骨，拖肘骨令其合縫。
　　　　 &lt;2&gt;其斜彎之筋，以手推摩，令其平復。
　　　　 &lt;3&gt;雖即時能垂能舉，仍當以養息為妙。
　　　　 &lt;4&gt;若壅腫疼痛，宜內服正骨紫金丹，外貼萬靈膏。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：足五趾骨
篇名：上編　外治法
分類：四肢部
內容：(1)趾者，足之指也。
　　　(2)名以趾者，所以別於手也，俗名足節。
　　　(3)其節數與手之骨節同。
　　　(4)大指本節後內側圓骨努突者，一名核骨，又名覈骨，俗呼為孤拐也。
　　　(5)趾骨受傷，多與跗骨相同，惟奔走急迫，因而受傷者多，治法與跗骨
　　　　 同。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：兩釣骨
篇名：上編　外治法
分類：頭面部
內容：(1)兩釣骨，名曲頰，即上頰之合鉗，曲如環形，以納下牙車骨尾之鉤者
　　　　 也。
　　　(2)打仆損傷，耳腫腮硬，牙關緊急，嚼物不合
　　　　 &lt;1&gt;宜內服正骨紫金丹
　　　　 &lt;2&gt;外貼萬靈膏
　　　　 &lt;3&gt;坐臥避冷處
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：俱囟骨傷
註：
</pre>
<pre data-sec="p">
主題：兩顴骨
篇名：上編　外治法
分類：頭面部
內容：(1)兩顴骨者，面上兩旁之高起大骨也。
　　　(2)打扑損傷，青腫堅硬疼痛，牙車緊急，嚼物艱難，鼻孔出血，兩唇掀翻
　　　　 &lt;1&gt;內服正骨紫金丹
　　　　 &lt;2&gt;外以海桐皮湯燻洗
　　　　 &lt;3&gt;口嗽蓽茇散
　　　　 &lt;4&gt;坐臥避冷處。
按、方劑：(1)海桐皮湯
　　　　　　 專洗一切跌打損傷，筋翻骨錯，疼痛不止。
　　　　　　 海桐皮　鐵線透骨草　明淨乳香　沒藥各二錢　當歸(酒洗)一錢五分　
　　　　　　 川椒三錢　川芎一錢　紅花一錢　威靈仙　白芷　甘草　防風各八分
　　　　　　 共為粗末，裝白布袋內，紮口煎湯，燻洗患處。
　　　　　(2)蓽撥散
　　　　　　 蓽撥　良薑　細辛各一錢
　　　　　　 水三鍾，煎一鍾漱口。
　　　　　(3)正骨紫金丹：見前頂骨傷
註：
</pre>
<pre data-sec="p">
主題：披肩
篇名：上編　外治法
分類：器具釋義
內容：(1)披肩者，用熟牛皮一塊，長五寸，寬三寸，兩頭各開二孔，夾於傷處
　　　　 ，以棉繩穿之，緊緊縛定，較之木板稍覺柔活。
　　　(2)用法釋義：
　　　　 &lt;1&gt;凡兩肩撲墜閃傷，其骨或斷碎，或旁哭，或斜努，或骨縫開錯筋翻
　　　　 &lt;2&gt;法當令病人仰臥凳上，安合骨縫，揉按筋結。
　　　　 &lt;3&gt;先以棉花貼身墊好，復以披肩夾住肩之前後，縛緊。
　　　　 &lt;4&gt;再用白布在外纏裹畢，更用扶手板，長二尺餘，寬三、四寸，兩頭
　　　　　 穿繩，懸空掛起，令病人俯伏於上，不使其肩骨下垂。
　　　　 &lt;5&gt;過七日後，開視之，如俱痊，可撤板不用，如尚未癒，則仍用之。
　　　　 &lt;6&gt;若不依此治法，後必遺殘患蘆節。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：抱膝
篇名：上編　外治法
分類：器具釋義
內容：(1)抱膝者，有四足之竹圈也。以竹片作圈，較膝蓋稍大些，須再用竹片
　　　　 四根，以麻線緊縛圈上，作四足之形，將白布條通纏於竹圈及四足之
　　　　 上，用於膝蓋，雖拘制而不致痛苦矣。
　　　(2)用法釋義：
　　　　 &lt;1&gt;膝蓋骨復於楗、䯒二骨之端，本活動物也。若有所傷，非骨體破碎
　　　　　 ，即離位而突出於左右，雖用手法推入原位，但步履行止，必牽動
　　　　　 於彼，故用抱膝之器以固之，庶免復離原位，而遺跛足之患也。
　　　　 &lt;2&gt;其法將抱膝四足，插於膝蓋兩旁，以竹圈轄住膝蓋，令其穩妥，不
　　　　　 得移動，再用白布寬帶緊緊縛之。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：昏憒
篇名：下編　內治雜證法
分類：昏憒
內容：(1)傷損昏憒乃傷之至重，以致昏憒不知人事，宜急灌以獨參湯。
　　　(2)雖內有瘀血，斷不可下，急用花蕊石散內化之，蓋恐下之，因瀉而
　　　　 亡陰也。
　　　(3)若元氣虛甚者，尤不可下，亦用前散以化之。
　　　(4)凡瘀血在內，大便不通，用大黃、朴硝，血凝而不下者，須用木香、
　　　　 肉桂二、三錢，以熱酒調灌服之，血下乃生。
　　　(5)怯弱之人，用硝、黃而必加木香、肉桂同煎者，乃假其熱以行其寒也
按、方劑：(1)花蕊石散
　　　　　　 石硫黃四兩　花蕊石二兩
　　　　　　 以上二味合勻，用瓦罐一個，入藥在內，封口，外用紙筋鹽泥周圍固
　　　　　　 濟，候泥乾，安四方磚上，書八卦五行字，用炭十斤籠疊周匝，自午
　　　　　　 時，從下著火漸漸上徹，直至經宿炭盡火冷，又放經宿，罐冷取出研
　　　　　　 細，用絹羅羅過，磁盒收貯。每服三錢，以童便調服。
註：
</pre>
<pre data-sec="p">
主題：歧骨
篇名：上編　外治法
分類：胸背部
內容：(1)岐骨者，即兩鳧骨端相接之處，其下即鳩尾骨也。
　　　(2)內近心君，最忌觸犯。或打撲，或馬撞，則血必壅瘀而多疼痛：
　　　　 &lt;1&gt;輕者只在於膈上
　　　　 &lt;2&gt;重者必入心臟，致神昏目閉，不省人事，牙關緊閉，痰喘鼻搧，久
　　　　　 而不醒，醒而神亂，此血瘀而堅凝不行者也，難以回生。
　　　　 &lt;3&gt;如神不昏亂，僅瘀痛不止，胸滿氣促，默默不語，醒時猶能稍進飲
　　　　　 食者，宜早晨服加減蘇子桃仁湯加枳殼，晚服疏血丸，外貼萬靈膏
　　　　　 ，再以炒熱定痛散熨之，庶可癒也。
　　　(3)又凡周身骨之兩叉者，皆名岐骨，學者宜知之。

按、方劑：(1)加減蘇子桃仁湯：見顛頂骨傷
　　　　　(2)疏血丸：見凌雲骨傷
　　　　　(3)萬靈膏、定痛散：俱見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：後山骨
篇名：上編　外治法
分類：頭面部
內容：(1)後山即頭後枕骨也。
　　　(2)其骨形狀不同，或如品字，或如山字，或如川字，或圓尖，或月芽形
　　　　 ，或偃月形，或雞子形，皆屬枕骨。
　　　(3)凡有傷損，其人頭昏目眩，耳鳴有聲，項強咽直，飲食難進，坐臥不
　　　　 安，四肢無力
　　　　 &lt;1&gt;內服正骨紫金丹
　　　　 &lt;2&gt;外敷烏龍膏
　　　　 &lt;3&gt;洗以海桐皮湯，以散瘀去麻木止痛。
　　　(4)如誤從高處墜下，後山骨傷太重，筋翻氣促，痰響如拽鋸之聲，垂頭
　　　　 目閉，有喘聲者，此風熱所乘，至危之證，不能治也，遺尿者必亡。
　　　(5)惟月芽形者，更易受傷。
　　　(6)如被墜墮打傷，震動蓋頂骨縫，以致腦筋轉擰疼痛，昏迷不省人事，
　　　　 少時或明者，其人可治。
　　　　 &lt;1&gt;急以涼水蘸髮，啟開牙關，以酒調八厘散灌之，服後目開，痛苦有
　　　　　 聲，二目流淚，愈見可治之兆，服正骨紫金丹，炒米粥調養可癒。
按、方劑：(1)正骨紫金丹：見顛頂傷
　　　　　(2)烏龍膏：見凌雲骨傷
　　　　　(3)海桐皮湯：見兩顴骨傷
　　　　　(4)八厘散：見顛頂傷
註：
</pre>
<pre data-sec="p">
主題：按摩法
篇名：上編　外治法
分類：手法釋義
內容：(1)按者，謂以手往下抑之也。摩者，謂徐徐揉摩之也。
　　　(2)此法蓋為皮膚筋肉受傷，但腫硬麻木，而骨未斷折者設也。
　　　　 &lt;1&gt;或因跌撲閃失，以致骨縫開錯，氣血鬱滯，為腫為痛。
　　　　 &lt;2&gt;宜用按摩法，按其經絡，以通鬱閉之氣；摩其壅聚，以散瘀結之腫
　　　　　 ，其患可癒。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：背骨
篇名：上編　外治法
分類：胸背部
內容：(1)背骨，自後身大椎骨以下，腰以上之通稱也。
　　　(2)其骨一名脊骨，一名膂骨，俗呼脊樑骨。
　　　(3)其形一條居中，共二十一節，下盡尻骨之端，上載兩肩，內繫臟腑，其
　　　　 兩旁諸骨，附接橫疊，而彎合於前，則為胸脅也。
　　　(4)先受風寒，後被跌打損傷者，瘀聚凝結，若脊筋隴起，骨縫必錯，則成
　　　　 傴僂之形。
　　　　 &lt;1&gt;當先揉筋，令其和軟，再按其骨，徐徐合縫，背膂始直。
　　　　 &lt;2&gt;內服正骨紫金丹。
　　　　 &lt;3&gt;再敷定痛散，以燒紅鐵器烙之，覺熱去敷藥，再貼混元膏。
按、方劑：(1)正骨紫金丹、混元膏：俱見顛頂傷。
　　　　　(2)定痛散：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：背部
篇名：上編　外治法
分類：靈樞經骨度尺寸
內容：(1)膂骨以下至尾骶二十一節，長三尺。(膂骨，脊骨也。脊骨外小而內巨
　　　　 ，人之所以能負任者，以是骨之巨也。脊骨二十四節，今云二十一節
　　　　 者，除項骨三節不在內。)
　　　(2)腰圍四尺二寸。
按、方劑：背部折法：
　　　　　(1)自大椎至尾骶，通折三尺。
　　　　　(2)上七節，各長一寸四分一厘，共九寸八分七厘。
　　　　　(3)中七節，各一寸六分一厘，共一尺一寸二分七厘。
　　　　　(4)第十四節與臍平。
　　　　　(5)下七節各一寸二分六厘，共八寸八分二厘。
　　　　　(6)共二尺九寸九分六厘，不足四厘者，有零未盡也。
　　　　　(7)直寸依此，橫寸用中指同身寸法。
　　　　　(8)脊骨內闊一寸。
　　　　　(9)凡云第二行俠脊一寸半，三行俠脊三寸者，皆除脊一寸外，淨以寸半
　　　　　　 三寸論，故在二行當為二寸，在三行當為三寸半也。
註：
</pre>
<pre data-sec="p">
主題：凌雲骨
篇名：上編　外治法
分類：頭面部
內容：(1)凌雲骨，在前髮際下，即正中額骨。
　　　(2)其兩眉上之骨，即俗名左天賢骨，右天貴骨，兩額角也。
　　　(3)跌打損傷，皮破，二目及面浮虛腫
　　　　 &lt;1&gt;若內損瘀血，上嘔吐衄，氣虛昏沉，不省人事，身軟，面色乾黃，
　　　　　 遍身虛浮，躁煩焦渴，胸膈疼痛，脾胃不開，飲食少進。
　　　　 &lt;2&gt;先服疏血丸，再以五加皮湯燻洗患處，敷烏龍膏，定痛消腫。
按、方劑：(1)疏血丸
　　　　　　 此藥止血開胃。
　　　　　　 百草霜三錢　好阿膠（蛤粉炒成珠）　藕節　側柏葉　茅根　
　　　　　　 當歸（酒洗）各一兩
　　　　　　 共為細末，煉蜜為丸，如梧桐子大，每服五錢，早晚老酒送下。
　　　　　(2)五加皮湯
　　　　　　 此湯舒筋和血，定痛消瘀。
　　　　　　 當歸（酒洗）　沒藥　五加皮　皮硝　青皮　川椒　香附子各三錢　
　　　　　　 丁香一錢　麝香一分　老蔥三根　地骨皮一兩　丹皮二錢
　　　　　　 水煎滾，燻洗患處。
　　　　　(3)烏龍膏
　　　　　　 此膏治跌打損傷，筋斷骨折，腫硬青紫。
　　　　　　 百草霜三錢　白芨五錢　白斂三錢　百合五錢　百部三錢　乳香五錢
　　　　　　 沒藥五錢　麝香一分　糯米(炒)一兩　陳粉子(隔年者佳，炒)四兩
　　　　　　 共為細末，醋熬為膏。
註：
</pre>
<pre data-sec="p">
主題：唇口
篇名：上編　外治法
分類：頭面部
內容：(1)唇口者，司言食之竅也。
　　　(2)如跌破擊打上唇而拔缺者，用絹片一小條，從腦後紮向前來縛合，先
　　　　 用桑白皮捻線縫定，次以封口藥塗敷，次敷截血膏蓋住封口藥，不令
　　　　 開落，仍忌言語。
　　　(3)如整下唇傷而拔缺者，以絹片從下頦兜縛，治同前法。
按、方劑：(1)截血膏
　　　　　　 治跌打砍磕諸證，能化血破瘀，退腫止痛。
　　　　　　 天花粉三兩　片子薑黃　赤芍藥　白芷各一兩
　　　　　　 以上共為細末，茶調勻，敷瘡口四圍。
　　　　　　 若頭面傷，其血不止者，急用此藥調塗頸上周圍。
　　　　　　 若手傷，則塗臂周圍。
　　　　　　 若傷足，則塗腿上。
　　　　　　 若傷各處，則塗瘡口周圍，使截住其血不來潮作。
　　　　　　 若瘡口肉硬不消者，此被風襲也，可加獨活，用熱酒調敷。
　　　　　　 如又不消，則風毒已深，肌肉結實，加紫荊皮末和敷，有必消之理。
　　　　　(2)封口藥：見鼻柱骨傷
註：
</pre>
<pre data-sec="p">
主題：挾表
篇名：下編　內治雜證法
分類：挾表
內容：傷損之證，外挾表邪者，其脈必浮緊，證則發熱體痛：
　　　(1)形氣實者，宜疏風敗毒散。
　　　(2)形氣虛者，宜加味交加散，或羌活乳香湯以散之。
按、方劑：(1)疏風敗毒散
　　　　　　 當歸　川芎　白芍藥　熟地黃　羌活　獨活　桔梗　枳殼　柴胡
　　　　　　 白茯苓　白芷　甘草　紫蘇　陳皮　香附
　　　　　　 以上生薑、生地黃煎，入酒和服。
　　　　　(2)加味交加散
　　　　　　 當歸　川芎　白芍藥　生地黃　蒼朮　厚朴　陳皮　白茯苓　半夏
　　　　　　 羌活　獨活　桔梗　枳殼　前胡　乾薑　肉桂　甘草　柴胡
　　　　　　 以上生薑煎服。有熱者，去乾薑、肉桂。
　　　　　(3)羌活乳香湯
　　　　　　 羌活　獨活　川芎　當歸　赤芍藥　防風　荊芥　丹皮　續斷　紅花
　　　　　　 桃仁　乳香
　　　　　　 以上生地黃煎服。有熱者，加柴胡 、黃芩。
註：
</pre>
<pre data-sec="p">
主題：振梃
篇名：上編　外治法
分類：器具釋義
內容：(1)振梃，即木棒也，長尺半，圓如錢大，或麵杖亦可。
　　　(2)蓋受傷之處，氣血凝結，疼痛腫硬，用此梃微微振擊其上下四旁，使
　　　　 氣血流通，得以四散，則疼痛漸減，腫硬漸消也。
　　　(3)用法釋義：
　　　　 &lt;1&gt;凡頭被傷，而骨未碎，筋未斷，雖瘀聚腫痛者，皆為可治。
　　　　 &lt;2&gt;先以手法端提頸、項、筋骨，再用布纏頭二三層令緊，再以振梃輕
　　　　　 輕拍擊足心，令五臟之氣上下宣通，瘀血開散，則不奔心，亦不嘔
　　　　　 呃，而心神安矣。
　　　　 &lt;3&gt;若已纏頭拍擊足心，竟不覺疼，昏不知人，痰響如拽鋸，身體僵硬
　　　　　 ，口溢涎沫，乃氣血垂絕也，不治。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：眩暈
篇名：下編　內治雜證法
分類：眩暈
內容：傷損之證，頭目眩暈：
　　　(1)有因服克伐之劑太過，中氣受傷，以致眩暈者。
　　　(2)有因亡血過多，以致眩暈者。
　　　(3)如兼腹脹嘔吐，宜用六君子湯。
　　　(4)兼發熱作渴，不思飲食者，宜十全大補湯。
按、方劑：(1)六君子湯方見胸腹痛悶
　　　　　(2)十全大補湯方見瘀血泛注
註：
</pre>
<pre data-sec="p">
主題：秘結
篇名：下編　內治雜證法
分類：秘結
內容：傷損之證，大便秘結：
　　　(1)若因大腸血虛火熾者，用四物湯送潤腸丸，或以豬膽汁導之。
　　　(2)若腎虛火燥者，用六味地黃丸。
　　　(3)若腸胃氣虛，用補中益氣湯。
　　　(4)若大便秘結，裡實氣壯，腹痛堅硬者，用玉燭散。
按、方劑：(1)潤腸丸
　　　　　　 大黃　當歸尾　羌活各五錢　桃仁　麻仁各一兩
　　　　　　 以上為末，煉蜜丸彈子大，空心，白湯送下。
　　　　　(2)豬膽汁導法
　　　　　　 大豬膽一枚，瀉汁和法醋少許，以灌谷道內，如一時頃，當大便，出
　　　　　　 宿食惡物甚效。
　　　　　(3)玉燭散
　　　　　　 生地黃　當歸　川芎　赤芍藥　大黃(酒浸)　芒硝
　　　　　　 引用生薑，水煎服。
　　　　　(4)四物湯　補中益氣湯俱見傷損出血
　　　　　(5)六味地黃丸方見肌肉作痛
註：
</pre>
<pre data-sec="p">
主題：脅肋脹痛
篇名：下編　內治雜證法
分類：脅肋脹痛
內容：傷損脅肋脹痛之證：
　　　(1)如大便通利，喘咳吐痰者，肝火侮肺也，用小柴胡湯加青皮、山梔清
　　　　 之。
　　　(2)若胸腹脹痛，大便不通，喘咳吐血者，乃瘀血停滯也，當歸導滯散通
　　　　 之。
　　　(3)內經云：「肝藏血，脾統血。」蓋肝屬木，木勝侮土，其脾氣必虛：
　　　　 &lt;1&gt;宜先清肝養血，則瘀血不致凝滯，
　　　　 &lt;2&gt;次壯脾胃，則氣血充盛。
　　　　 &lt;3&gt;若行克伐，則虛者益虛，滯者益滯，禍不旋踵矣。
按、方劑：(1)當歸導滯散
　　　　　　 川大黃一兩　當歸二錢五分　麝香少許
　　　　　　 以上三味，除麝香另研外，為極細末，後入麝香令勻，每服三錢，
　　　　　　 熱酒一杯調下。
　　　　　(2)又方
　　　　　　 川大黃　當歸各二兩
　　　　　　 上共為細末，每服三錢，不拘時，溫酒調服。
　　　　　(3)小柴胡湯方見瘀血泛注
註：
</pre>
<pre data-sec="p">
主題：胸骨
篇名：上編　外治法
分類：胸背部
內容：(1)胸骨，即髃骭骨，乃胸脅骨之統名也：
　　　　 &lt;1&gt;一名膺骨，一名臆骨，俗名胸膛。
　　　　 &lt;2&gt;其兩側自腋而下，至肋骨之盡處，統名曰脅。
　　　　 &lt;3&gt;脅下小肋骨曰季脅，俗名軟肋。
　　　　 &lt;4&gt;肋者，單條骨之謂也，統脅肋之總，又名曰胠。
　　　(2)凡胸骨被物從前面撞打跌仆者重，從後面撞仆者輕。
　　　　 &lt;1&gt;輕者先按證用手法治之
　　　　 &lt;2&gt;再內服正骨紫金丹
　　　　 &lt;3&gt;外用麵麩和定痛散灸熨之
　　　　 &lt;4&gt;或以海桐皮湯洗之，貼萬靈膏即能獲效。
　　　(3)若內血瘀聚腫痛，傴僂難仰者：
　　　　 &lt;1&gt;早晨以清上瘀血湯、消下破血湯，分上膈、下膈以治之。
　　　　 &lt;2&gt;晚服疏血丸。
　　　(4)有受傷日久，胸骨高起，肌肉削瘦，內有邪熱瘀血，痞氣膨悶，睛藍
　　　　 體倦，痰喘咳嗽者，宜加減紫金丹，以消熱化痰，理氣健脾，潤肌定
　　　　 喘。
　　　(5)若傷重者，內干胸中，必通心、肺兩臟，其人氣亂昏迷，閉目，嘔吐
　　　　 血水，呃逆戰慄者，則危在旦夕，不可醫治矣。
　　　(6)若兩側撅肋諸骨被傷者：
　　　　 &lt;1&gt;則相其輕重以分別治之
　　　　 &lt;2&gt;凡胸脅諸傷輕者，如黎桐丸、三黃寶蠟丸等藥，皆所必需，宜酌用
　　　　　 之。
按、方劑：(1)清上瘀血湯
　　　　　　 治上膈被傷者
　　　　　　 羌活　獨活　連翹　桔梗　枳殼　赤芍　當歸（酒洗）　山梔子　
　　　　　　 黃芩　甘草　川芎　桃仁　紅花　蘇木　川大黃　生地黃
　　　　　　 水煎，加老酒童便和服。
　　　　　(2)消下破血湯
　　　　　　 治下膈被傷者。
　　　　　　 柴胡　川芎　川大黃　赤芍藥　當歸　梔子　五靈脂　木通　
　　　　　　 枳實（炒）　紅花　赤牛膝　澤蘭葉　蘇木　生地黃　黃芩　桃仁
　　　　　　 水煎，加老酒童便和服。
　　　　　(3)加減紫金丹
　　　　　　 白茯苓　蒼朮（米泔浸，炒）各二兩　當歸　熟地黃　白芍藥（炒）
　　　　　　 陳皮各四兩　肉蓯蓉（酒洗去鱗甲）一兩　丁香一錢　紅花五錢　
　　　　　　 瓜兒血竭三錢　乳香（去油）三錢　沒藥（去油）三錢
　　　　　　 共為細末，煉蜜為丸，彈子大，用黃酒送下。
　　　　　(4)黎桐丸
　　　　　　 治跌打損傷，瘀血奔心，昏暈不省，及一切無名腫毒，昏困欲死等證
　　　　　　 京牛黃　冰片　麝香各二錢五　阿魏　雄黃各一兩　川大黃　兒茶　
　　　　　　 天竺黃　三七　瓜兒血竭　乳香（去油）　沒藥（去油）各二兩　
　　　　　　 藤黃（隔湯煮十數次，去浮沫，用山羊血五錢拌曬。如無山羊血，以
　　　　　　 子羊血代之）二兩
　　　　　　 以上十三味，共為細末，將藤黃化開為丸，如芡實大，若乾，稍加白
　　　　　　 蜜，外用蠟皮封固。內服用無灰酒送下，外敷用茶滷磨塗，忌一切生
　　　　　　 冷發物。
　　　　　(5)三黃寶蠟丸
　　　　　　 專治一切跌打損傷及破傷風，并傷力成癆，女人產後惡露不盡，致生
　　　　　　 怪證，瘀血奔心，痰迷心竅，危在旦夕。重者一錢，輕者三分，用無
　　　　　　 灰酒送下，立刻全生。如被鳥鎗打傷，鉛子在內，危在傾刻，服一錢
　　　　　　 ，吃酒數杯，睡一時，汗出即癒。如外敷，將香油熱化少許，雞翎掃
　　　　　　 患處。服藥後忌涼水、生冷、燒酒三日，如不忌此酒，則藥無功。
　　　　　　 天竺黃三兩　雄黃二兩　劉寄奴　紅芽大戟（去骨）　騏驎竭各三兩
　　　　　　 歸尾一兩五錢　朱砂　兒茶各一兩　淨乳香（去油）三錢　琥珀　
　　　　　　 輕粉　水銀（同輕粉研不見星）　麝香各三錢
　　　　　　 以上各稱足分兩，各研為細末，如無真天竺黃，以真膽星三兩代之，
　　　　　　 再用好黃蠟二十四兩，煉淨，滾湯坐定，將藥投入，不住手攪勻，取
　　　　　　 出裝磁罐內備用。
　　　　　(6)正骨紫金丹：見顛頂骨傷
　　　　　(7)萬靈膏、定痛散：俱見囟骨傷
　　　　　(8)疏血丸：見凌雲骨傷
註：
</pre>
<pre data-sec="p">
主題：胸腹部
篇名：上編　外治法
分類：靈樞經骨度尺寸
內容：(1)結喉以下至缺盆中，長四寸。(此以巨骨上陷中而言，即天突穴處。)
　　　(2)缺盆以下，𩩲骭之中，長九寸。
　　　(3)胸圍四尺五寸。
　　　(4)兩乳之間，廣九寸半。(當折八寸為當。)
　　　(5)𩩲肝中下至天樞，長八寸。(天樞，足陽明穴名，在臍旁，此指平臍
　　　　 而言。)
　　　(6)天樞以下至橫骨，長六寸半，橫骨橫長六寸半。(毛際下骨曰橫骨。)
按、方劑：(1)此古數，以今用上下穴法參較，多有未合，宜從後胸腹折法為當。
　　　　　(2)兩𩩲之間，廣六寸半。此當兩股之中，橫骨兩頭之處，俗名髀縫。
　　　　　(3)胸腹折法：
　　　　　　 &lt;1&gt;直寸以中行為之，自缺盆中天突穴起，至岐骨際上中庭穴止，折作
　　　　　　　 八寸四分。
　　　　　　 &lt;2&gt;自𩩲骭上岐骨際，下至臍心，折作八寸。
　　　　　　 &lt;3&gt;臍心下至毛際曲骨穴，折作五寸。
　　　　　　 &lt;4&gt;橫寸以兩乳相去，折作八寸。
　　　　　　 &lt;5&gt;胸腹橫直寸法，并依此。
註：
</pre>
<pre data-sec="p">
主題：胸腹痛悶
篇名：下編　內治雜證法
分類：胸腹痛悶
內容：(1)傷損之證，胸腹痛悶者，多因跳躍、搥胸，閃挫、舉重，勞役恚怒所
　　　　 致。
　　　(2)其胸腹喜手摸者，肝火傷脾也，用四君子湯加柴胡、山梔。
　　　(3)如畏手摸者，肝經血滯也，用四物湯加柴胡、山梔、桃仁、紅花。
　　　(4)若胸脅悶痛，發熱晡熱，肝經血傷也，用加味逍遙散。
　　　(5)若胸脅悶痛，飲食少思，肝脾氣傷也，用四君子湯加芎、歸、柴、梔
　　　　 、丹皮。
　　　(6)若胸腹脹滿，飲食少思，肝脾氣滯也，用六君子湯加柴胡、芎、歸。
　　　(7)若胸腹不利，食少無寐，脾氣鬱結也，用加味歸脾湯。
　　　(8)若痰氣不利，脾肺氣滯也，用二陳湯加白朮、芎、歸、山梔、天麻、
　　　　 鉤藤鉤。
　　　(9)如因過用風熱之藥，致肝血受傷，肝火益甚。
　　　(10)或飲糖酒，則腎水益虛，脾火益熾。
　　　(11)若用大黃、芍藥內傷陰絡，反致下血，少壯者，必成痼疾；老弱者，
　　　　　多致不起。
按、方劑：(1)加味歸脾湯
　　　　　　 黑梔一錢　牡丹皮一錢　人參一錢　黃耆(炙)一錢五分　白朮(炒)
　　　　　　 一錢五分　茯神二錢　棗仁(炒)一錢五分　當歸一錢　木香五分　
　　　　　　 遠志(去心)八分　圓肉二錢　甘草(炙)五分
　　　　　　 並用薑、棗，水煎服。
　　　　　(2)二陳湯
　　　　　　 陳皮一錢五分　半夏(製)二錢　茯苓二錢　甘草五分
　　　　　　 引用薑，水煎服。
　　　　　(3)六君子湯
　　　　　　 即四君子湯加陳皮、半夏各一錢五分。
　　　　　　 引用薑、棗，水煎服。
　　　　　(4)四君子湯　四物湯　加味消遙湯俱見傷損出血
註：
</pre>
<pre data-sec="p">
主題：胯骨
篇名：上編　外治法
分類：四肢部
內容：(1)胯骨，即髖骨也，又名髁骨。
　　　(2)若素受風寒濕氣，再遇跌打損傷，瘀血凝結，腫硬筋翻，足不能直行：
　　　　 &lt;1&gt;筋短者，腳尖著地。
　　　　 &lt;2&gt;骨錯者，臀努斜行。
　　　(3)宜手法推按胯骨復位，將所翻之筋向前歸之，其患乃除。
　　　　 宜服加味健步虎潛丸，燻洗海桐皮湯，灸熨定痛散。
按、方劑：(1)加味健步虎潛丸
　　　　　　 專治跌打損傷，氣血虛衰，下部腰、胯、膝、腿疼痛，痠軟無力，步
　　　　　　 履艱難。服此藥至一百日，舒筋此痛，活血補氣，健旺精神。
　　　　　　 龜膠(蛤粉炒成珠)　鹿角膠(蛤粉炒成珠)　虎脛骨(酥油炙) 何首烏
　　　　　　 (黑豆拌，蒸曬各九次)　川牛膝(酒洗曬乾)　杜仲(薑汁炒斷絲) 鎖陽
　　　　　 　當歸(酒洗炒乾)各二兩 威靈仙(酒洗) 黃柏(酒洗曬乾，小鹽少許酒炒)
　　　　　 　人參(去蘆)　羌活　乾薑　白芍藥(微炒)　雲白朮(土炒)各一兩　
　　　　　　 熟地黃三兩　大川附子(童便鹽水各一碗，生薑二兩 切片同煮一整日，
　　　　　　 令極熟，水乾再添，鹽水煮畢取出，剝皮切薄片，又換淨水，入川黃連
　　　　　　 五錢，甘草五錢，同煮長香三炷，取出曬乾，如琥珀明亮色方用)一兩
　　　　　　 五錢
　　　　　　 共為細末，煉蜜為丸，如梧桐子大，每服三錢，空心淡鹽湯送下。
　　　　　　 冬日淡黃酒送下。
　　　　　(2)海桐皮湯：見兩顴骨傷
　　　　　(3)定痛散：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：骨傷作痛
篇名：下編　內治雜證法
分類：骨傷作痛
內容：(1)傷損之證，骨傷作痛者，乃傷之輕者也。若傷重，則或折、或碎，須
　　　　 用手法調治之，其法已詳列前篇。
　　　(2)此乃磕磞微傷，骨間作痛，肉色不變，宜外用蔥慰法，內服沒藥丸，
　　　　 日間服地黃丸自癒矣。
按、方劑：(1)沒藥丸
　　　　　　 沒藥(去油)　乳香(去油)　川芎　川椒(去閉口及目)　芍藥　當歸各
　　　　　　 半兩　自然銅(火煅淬七次)二錢半
　　　　　　 以上為細末，用黃蠟二兩溶化，入藥末攪勻，丸彈子大，每服一丸，
　　　　　　 酒一鍾化開，煎五分熱服。
　　　　　(2)蔥熨法：方見囟骨痛
　　　　　(3)地黃丸方：見肌肉作痛
註：
</pre>
<pre data-sec="p">
主題：側部
篇名：上編　外治法
分類：靈樞經骨度尺寸
內容：(1)自拄骨下行腋中不見者，長四寸。(拄骨，頸項根骨也。)
　　　(2)腋以下至季脅，長一尺二寸。(季脅，小肋也。)
　　　(3)季脅以下至髀樞，長六寸。(大腿曰股，股上曰髀，楗骨之下，大腿之
　　　　 上，兩骨合縫之所，曰髀樞，當足少陽環跳穴處也。)
　　　(4)髀樞下至膝中，長一尺九寸。
　　　(5)橫骨上廉下至內輔之上廉，長一尺八寸。(骨際曰廉，膝旁之骨，突出
　　　　 者曰輔骨，內曰內輔，外曰外輔。)
　　　(6)內輔之上廉以下至下廉，長三寸半。(上廉、下廉可摸而得。)
　　　(7)內輔下廉下至內踝，長一尺二寸。
　　　(8)內踝以下至地，長三寸。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：接法
篇名：上編　外治法
分類：手法釋義
內容：接者，謂使已斷之骨，合攏一處，復歸於舊也。
　　　(1)凡骨之跌傷錯落，或斷而兩分，或折而陷下，或碎而散亂，或岐而傍
　　　　 突。
　　　(2)相其形勢，徐徐接之，使斷者復續，陷者復起，碎者復完，突者復平
　　　　 。
　　　(3)或用手法，或用器具，或手法、器具分先後而兼用之，是在醫者之通
　　　　 達也。

按、方劑：
註：
</pre>
<pre data-sec="p">
主題：推拿法
篇名：上編　外治法
分類：手法釋義
內容：(1)推者，謂以手推之，使還舊處也。拿者，或兩手一手捏定患處，酌其
　　　　 宜輕宜重，緩緩焉以復其位也。
　　　(2)若腫痛已除，傷痕已癒，其中
　　　　 &lt;1&gt;或有筋急而轉搖不甚便利。
　　　　 &lt;2&gt;或有筋縱而運動不甚自如。
　　　　 &lt;3&gt;又或有骨節間微有錯落不合縫者。
　　　　 是傷雖平，而氣血之流行未暢，不宜接、整、端、提等法，惟宜推拿
　　　　 ，以通經絡氣血也。
　　　(3)蓋人身之經穴，有大經細絡之分，一推一拿，視其虛實，酌而用之，
　　　　 則有宣通補瀉之法，所以患者無不癒也。
　　　(4)已上諸條，乃八法之大略如此。至於臨證之權衡，一時之巧妙，神而
　　　　 明之，存乎其人矣。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：旋台骨
篇名：上編　外治法
分類：頭面部
內容：(1)旋台骨，又名玉柱骨，即頭後頸骨三節也，一名天柱骨。
　　　(2)此骨被傷，共分四證：
　　　　 &lt;1&gt;一曰從高墜下，致頸骨插入腔內，而左右尚活動者，用提項法治之
　　　　 &lt;2&gt;一曰打傷，頭低不起，用端法治之。
　　　　 &lt;3&gt;一曰墜傷，左右歪斜，用整法治之。
　　　　 &lt;4&gt;一曰仆傷，面仰頭不能垂，或筋長骨錯，或筋聚，或筋強骨隨頭低
　　　　　 ，用推、端、續、整四法治之。
　　　(3)凡治者，臨證時：
　　　　 &lt;1&gt;問其或墜車馬踒傷，或高處墜下折傷，或打重跌倒。
　　　　 &lt;2&gt;再問其或思飲食，或不思飲食，或四肢無傷，而精神不減，或精神
　　　　　 短少。
　　　　 &lt;3&gt;或能坐起行走，或昏睡不語，或疼痛不止，瘀聚凝結，腫硬筋脹。
　　　　 &lt;4&gt;皆宜內服正骨紫金丹，外敷萬靈膏，並洗海桐皮湯，灸熨定痛散。
　　　　　 外按手法治之，手法詳首卷。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
　　　　　(3)海桐皮湯：見兩顴骨傷
　　　　　(4)定痛散：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：通木
篇名：上編　外治法
分類：器具釋義
內容：用杉木寬三寸，厚二寸，其長自腰起，上過肩一寸許，外面平整，向脊背
　　　之內面刻凹形，務與脊骨膂肉吻合，約以五分（分去聲）度之。
　　　(1)第一分自左側面斜鑽二孔，右側面斜鑽二孔，越第二分至第三分、四
　　　　 分、五分，俱自左右側面各斜鑽一孔，用寬帶一條，自第一分上左孔
　　　　 穿入，上越右肩，下胸前，斜向左腋下繞背後，穿於第一分右次孔內
　　　　 ；再用一帶自第一分上右孔穿入，上越左肩，下胸前，斜向右腋下繞
　　　　 背後，穿入第一分左次孔入，兩帶頭俱折轉緊紮木上。
　　　(2)第三分、四分亦以帶穿之，自軟肋橫繞腹前，復向後穿入原孔內，緊
　　　　 紮木上。
　　　(3)第五分以帶穿入孔內，平繞前腹，復向後緊紮木上，切勿游移活動，
　　　　 始於患處有益。
　　　(4)凡用此木，先以綿絮、軟帛貼身墊之，免致疼痛。
　　　(5)用法釋義：
　　　　 &lt;1&gt;凡脊背跌打損傷，膂骨開裂高起者，其人必傴僂難仰，法當令病者
　　　　　 俯臥，再著一人以兩足踏其兩肩，醫者相彼開裂高起之處，宜輕宜
　　　　　 重，或按或揉，令其縫合，然後用木依前法逼之，或端或拿。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：陰囊
篇名：上編　外治法
分類：胸背部
內容：(1)凡陰囊被人扯破者：
　　　　 &lt;1&gt;用雞子黃油，並金毛狗脊毛，薄攤塗油於上。
　　　　 &lt;2&gt;次敷封口藥；又用截血膏敷貼，或烏龍膏敷貼亦可。
　　　　 &lt;3&gt;內服加減紫金丹。
　　　　 &lt;4&gt;洗用紫蘇葉煎水洗之。
　　　(2)凡陰囊有青黑紫色腫者：
　　　　 &lt;1&gt;用定痛膏加赤芍、草烏、良薑、肉桂各少許打和。
　　　　 &lt;2&gt;用韭葉搗爛同貼，如無韭葉，用蔥葉亦可。
　　　　 &lt;3&gt;仍服利小水之藥。
按、方劑：(1)定痛膏
　　　　　　 治打撲傷損，動筋折骨，跌磕木石壓傷腫痛。
　　　　　　 芙蓉葉二兩　紫荊皮　獨活　南星（生）　白芷各五錢
　　　　　　 以上共為末，加馬齒莧一兩，搗極爛，和末一處，用生蔥汁、老酒和
　　　　　　 炒暖敷。
　　　　　(2)封口藥：見鼻樑骨傷
　　　　　(3)截血膏：見唇口傷
　　　　　(4)烏龍膏：見凌雲骨傷
　　　　　(5)加減紫金丹：見胸骨傷
註：
</pre>
<pre data-sec="p">
主題：喘咳
篇名：下編　內治雜證法
分類：喘咳
內容：傷損之證而喘咳者：
　　　(1)若因出血過多，面黑胸脹，胸膈痛而發喘者，乃氣虛血乘於肺也，急
　　　　 用二味參蘇飲，緩則難救。
　　　(2)若咳血衄血而喘者，乃氣逆血蘊於肺也，只宜活血行氣，不可用下法
　　　　 ，宜十味參蘇飲治之。
按、方劑：(1)二味參蘇飲
　　　　　　 人參一兩　蘇木二兩　水煎服。
　　　　　(2)十味參蘇飲
　　　　　　 人參　紫蘇　半夏　茯苓　陳皮　桔梗　前胡　葛根　枳殼各一錢　
　　　　　　 甘草五分　引用薑二片，水煎服。
註：
</pre>
<pre data-sec="p">
主題：惡血已留復因怒傷肝
篇名：上編　外治法
分類：經義
內容：『靈樞經‧邪氣臟腑病形篇』曰：有所墮墬，惡血在內，有所大怒，氣上
　　　而不下，積於脅下，則傷肝。
按、方劑：
註：(1)人因墮墜，血已留內，若復因大怒傷肝，其氣上而不下，則留內之血
　　　 ，兩相凝滯，積於脅下，而肝傷矣。
　　(2)法當先導怒氣，勿積於肝，則肝可以無傷，然後飲以利藥，以破惡血
　　　 ，則脅下無留血矣。
</pre>
<pre data-sec="p">
主題：提法
篇名：上編　外治法
分類：手法釋義
內容：(1)提者，謂陷下之骨，提出如舊也。其法非一：
　　　　 &lt;1&gt;有用兩手提者。
　　　　 &lt;2&gt;有用繩帛繫高處提者。
　　　　 &lt;3&gt;有提後用器具輔之不致仍陷者。
　　　(2)必量所傷之輕重淺深，然後施治。倘重者輕提，則病莫能癒；輕者重
　　　　 提，則舊患雖去，而又增新患矣。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：發熱
篇名：下編　內治雜證法
分類：發熱
內容：傷損之證發熱者：
　　　(1)若因出血過多，脈洪大而虛，重按之全無者，此血虛發熱也，用
　　　　 當歸補血湯。
　　　(2)脈若沉微，按之軟弱者，此陰盛發熱也，宜用四君子湯加炮薑、
　　　　 附子。
　　　(3)若發熱煩躁，肉瞤筋惕者，此亡血也，宜用聖愈湯。
　　　(4)如發熱汗出不止者，此血脫也，宜用獨參湯。
　　　(5)血脫之證，其脈實者難治，細小者易治。
按、方劑：(1)當歸補血湯
　　　　　　 黃耆(炙)一兩　當歸三錢　水煎服。
　　　　　(2)聖愈湯
　　　　　　 人參　川芎　當歸　熟地黃　生地　黃耆(炙)各等分　水煎服。
　　　　　(3)四君子湯，獨參湯：俱見傷損出血
註：
</pre>
<pre data-sec="p">
主題：腕骨
篇名：上編　外治法
分類：四肢部
內容：(1)腕骨，即掌骨，乃五指之本節也。一名壅骨，俗名虎骨。
　　　(2)其骨大小六枚，湊以成掌，非塊然一骨也。
　　　(3)其上並接臂、輔兩骨之端，其外側之骨名高骨，一名銳骨，亦名踝骨
　　　　 ，俗名龍骨，以其能宛屈上下，故名曰腕。
　　　(4)若墜車馬，手掌著地，只能傷腕；若手指著地，其指翻貼於臂上者，
　　　　 則腕縫必分開。
　　　(5)傷腕者，壅腫疼痛，法以兩手揉摩其腕，內服正骨紫金丹，外貼萬靈
　　　　 膏。
　　　(6)若手背向後，翻貼於臂者，以兩手捉其手背，輕輕回翻之，令其復位
　　　　 ，仍按摩其筋，必令調順，內服人參紫金丹，外敷混元膏。
按、方劑：(1)正骨紫金丹、萬靈膏、混元膏：見顛頂骨傷
　　　　　(2)人參紫金丹：見山角骨傷
註：
</pre>
<pre data-sec="p">
主題：跗骨
篇名：上編　外治法
分類：四肢部
內容：(1)跗者，足背也，一名足跌，俗稱腳面，其骨乃足趾本節之骨也。
　　　(2)其受傷之因不一，或從隕墜，或被重物擊壓，或被車馬踹砑。
　　　(3)若僅傷筋肉，尚屬易治；若骨體受傷，每多難治。
　　　　 &lt;1&gt;先以手法輕輕搓摩，令其骨合筋舒
　　　　 &lt;2&gt;洗以海桐皮、八仙逍遙等湯，
　　　　 &lt;3&gt;貼以萬靈膏
　　　　 &lt;4&gt;內服舒筋定痛之劑，及健步虎潛丸、補筋丸。
按、方劑：(1)海桐皮湯：見兩顴骨傷
　　　　　(2)八仙逍遙湯：見玉梁骨傷
　　　　　(3)健步虎潛丸：見髖骨傷
　　　　　(4)補筋丸：見髃骨傷
註：
</pre>
<pre data-sec="p">
主題：傷損內證
篇名：下編　內治雜證法
分類：傷損內證
內容：(1)凡跌打損傷、墜墮之證，惡血留內，則不分何經，皆以肝為主。
　　　(2)蓋肝主血也，故敗血凝滯，從其所屬，必歸於肝。
　　　(3)其痛多在脅肋、小腹者，皆肝經之道路也。
　　　(4)若壅腫痛甚，或發熱自汗，皆宜斟酌虛實，然後用調血行經之藥。
　　　(5)王好古云：登高墜下、撞打等傷，心腹胸中，停積瘀血不散者，則以
　　　　 上、中、下三焦分別部位，以施藥餌。
　　　　 &lt;1&gt;瘀在上部者，宜犀角地黃湯。
　　　　 &lt;2&gt;瘀在中部者，宜桃仁承氣湯。
　　　　 &lt;3&gt;瘀在下部者，宜抵當湯之類。須於所用湯中加童便好酒，同煎服之
　　　　 &lt;4&gt;虛人不可下者，宜四物湯加穿山甲。
　　　　 &lt;3&gt;若瘀血已去，則以復元通氣散加當歸調之。
　　　(6)內經云：「形傷作痛，氣傷作腫」。又云：「先腫而後痛者，形傷氣
　　　　 也；先痛而後腫者，氣傷形也。」
　　　(7)凡打撲閃錯，或惱怒氣滯血凝作痛，及元氣素弱，或因叫號血氣損傷
　　　　 ，或過服克伐之劑，或外敷寒涼之藥，致氣血凝結者：
　　　　 俱宜用活血順氣之劑。後列諸方，以備選用。
按、方劑：(1)犀角地黃湯
　　　　　　 犀角　生地黃(酒浸，另搗)　丹皮　白芍各等分　水煎服。
　　　　　(2)桃仁承氣湯
　　　　　　 大黃　芒硝　桃仁　桂枝　甘草　水煎服，以利為度。
　　　　　(3)抵當湯
　　　　　　 水蛭　蝱蟲(去翅、足)各三十枚　大黃(酒浸)一兩　桃仁(去皮、尖)
　　　　　　 三十枚　水煎，去渣，取三升，溫服一升，不下再服。
　　　　　(4)復元活血湯
　　　　　　 柴胡五錢　當歸　穿山甲(炮)　栝蔞根各三錢　甘草　紅花各二錢　
　　　　　　 桃仁(去皮、尖)五十個　大黃(酒浸)一兩
　　　　　　 以上將桃仁研爛，餘藥剉如麻豆大，每服一兩。水二鐘，酒半盞，煎
　　　　　　 至七分，去渣，大溫，食前服，以利為度。
　　　　　(5)巴戟湯
　　　　　　 巴戟(去心)　大黃各半兩　當歸　地黃　芍藥　川芎各一兩
　　　　　　 以上為末，水煎服，以利為度。
　　　　　(6)破血消痛湯
　　　　　　 羌活　防風　官桂各一錢　蘇木一錢半　柴胡　連翹　當歸梢各二錢
　　　　　　 麝香(另研)少許　水蛭(炒去煙盡，另研)二錢　
　　　　　　 以上為粗末，共一服，酒二大盞，水一盞。水蛭、麝香另研如泥，餘
　　　　　　 藥煎至一大盞，去火，稍熱，調二味服之，兩服立癒。
　　　　　(7)清心藥
　　　　　　 牡丹皮　當歸　川芎　赤芍藥　生地黃　黃芩　黃連　連翹　梔子　
　　　　　　 桃仁　甘草各等分
　　　　　　 以上引用燈心草、薄荷煎，入童便和服。
　　　　　(8)止痛藥
　　　　　　 當歸　牛膝　川芎　懷慶生地　赤芍藥　白芷　羌活　獨活　杜仲　
　　　　　　 續斷各一兩　肉桂　八角　茴香　乳香　沒藥各五錢　南木香　丁皮
　　　　　　 沉香　血竭各二錢半
　　　　　　 以上為末，老酒調用。
　　　　　(9)活血順氣何首烏散
　　　　　　 何首烏三錢　當歸　赤芍藥　白芷　烏藥　枳殼　防風　甘草　川芎
　　　　　　 陳皮　香附　紫蘇　羌活　獨活　肉桂各一錢
　　　　　　 以上薄荷、生地黃煎，入酒和服。疼痛甚者，加乳香、沒藥。
　　　　　(10)調經散
　　　　　川芎　當歸　芍藥　黃耆各一錢半　青皮　烏藥　陳皮　熟地黃　
　　　　　　　乳香(另研)　茴香各一錢
　　　　　　　以上作一服，水二鐘，煎至一鐘，不拘時服。
　　　　　(11)牡丹皮散
　　　　　牡丹皮　當歸　骨碎補　紅花(酒浸)　續斷　乳香　沒藥　桃仁　
　　　　　　　川芎　赤芍藥　生地黃各等分
　　　　　　　以上水酒煎服，卻用秫米飯熱罨縛，冷又蒸熱，換縛。
　　　　　(12)橘朮四物湯
　　　　　當歸　川芎　白芍藥　懷慶生地各二錢　陳皮　白朮　紅花各一錢
　　　　　桃仁十枚
　　　　　　　以上生地黃煎服。骨節疼，加羌活、獨活。痛不止，加乳香、沒藥。
　　　　　(13)當歸補血湯
　　　　　　　當歸　川芎　白芍藥　熟地黃　防風　連翹　羌活　獨活　乳香　
　　　　　　　沒藥　白芷　續斷　杜仲各等分
　　　　　　　以上生地黃煎，入童便和服，不可用酒。氣虛加人參、白朮、黃耆。
　　　　　(14)復元通氣散
　　　　　　　木香　茴香(炒)　青皮(去皮)　穿山甲(穌炙)　陳皮　白芷　甘草　
　　　　　　　漏蘆　貝母各等分
　　　　　　　以上為末，每服一、二錢，溫酒調下。
註：
</pre>
<pre data-sec="p">
主題：傷損出血
篇名：下編　內治雜證法
分類：傷損出血
內容：(1)傷損之證，或患處或諸竅出血者，此肝火熾盛，血熱錯經而妄行也，
　　　　 用加味逍遙散清熱養血。
　　　(2)若中氣虛弱，血無所附而妄行，用加味四君子湯、補中益氣湯。
　　　(3)或元氣內脫，不能攝血，用獨參湯加炮薑以回陽；如不應，急加附子
　　　(4)如血蘊於內而嘔血者，用四物湯加柴胡、黃芩。
　　　(5)凡傷損而犯勞碌，或怒氣肚腹脹悶，或過服寒涼等藥：
　　　　 &lt;1&gt;致傷陽絡者，則為吐血、衄血、便血、尿血。
　　　　 &lt;2&gt;傷於陰絡者，則為血積、血塊、肌肉青黑。
　　　　 &lt;3&gt;此皆臟腑虧損，經隧失職，急補脾、肺二臟自癒矣。
按、方劑：(1)加味逍遙散
　　　　　　 白朮　茯苓　當歸　白芍各二錢　柴胡一錢　薄荷五分　黑梔　丹皮
　　　　　　 各一錢五分　水煎服。
　　　　　(2)補中益氣湯
　　　　　　 人參二錢　黃耆(炙)二錢　白朮(炒)一錢五分　當歸一錢五分　升麻
　　　　　　 五分　柴胡五分　陳皮八分　甘草(炙)三分　引用薑、棗，水煎服。
　　　　　(3)四君子湯
　　　　　　 人參　白朮　茯苓各二錢　甘草(炙)一錢　引用薑、棗，水煎服。
　　　　　(4)四物湯
　　　　　　 當歸三錢　川芎　白芍藥二錢　熟地黃三錢　水煎服。
　　　　　(5)獨參湯
　　　　　　 人參一兩　水煎服。
註：
</pre>
<pre data-sec="p">
主題：煩躁
篇名：下編　內治雜證法
分類：煩躁
內容：傷損之證：
　　　(1)煩躁而面赤，口乾作渴，脈洪大按之如無者，宜用當歸補血湯。
　　　(2)如煩躁自汗頭暈，宜用獨參湯。
　　　(3)如煩躁不寐，宜用加味歸脾湯。
　　　(4)如煩躁脅痛，宜用柴胡四物湯。
　　　(5)如亡血過多煩躁者，宜用聖愈湯。
按、方劑：(1)加味歸脾湯方見胸腹痛悶
　　　　　(2)當歸補血湯　聖愈湯俱見發熱
　　　　　(3)柴胡四物湯即四物湯加柴胡、黃芩。方見傷損出血
　　　　　(4)獨參湯方見傷損出血
註：
</pre>
<pre data-sec="p">
主題：瘀血作痛
篇名：下編　內治雜證法
分類：瘀血作痛
內容：(1)傷損之證，腫痛者，乃瘀血凝結作痛也。
　　　(2)若脹而重墬，色或青黑，甚則發熱作渴汗出者，乃經絡壅滯，陰血受
　　　　 傷也。
　　　(3)宜先刺去惡血以通壅塞，後用四物湯以調之。
按、方劑：(1)四物湯：方見傷損出血
註：
</pre>
<pre data-sec="p">
主題：瘀血泛注
篇名：下編　內治雜證法
分類：瘀血泛注
內容：(1)傷損瘀血泛注之證，乃跌仆血滯所致。
　　　(2)蓋氣流而注，血注而凝，或注於四肢關節，或留於胸腹腰臀，或漫腫
　　　　 ，或結塊：
　　　　 &lt;1&gt;初起皆屬肝、脾鬱火。急用蔥熨法，內服小柴胡湯以清肝火，次用
　　　　　 八珍湯以壯脾胃，或益氣養榮湯，久服自然收功。
　　　　 &lt;2&gt;若日久潰破而氣血虛者，宜十全大補湯。
　　　　 &lt;3&gt;若潰而寒邪凝滯不斂者，宜豆豉餅袪散之。
　　　(3)此證若不補氣血，不慎起居，不戒七情，或用寒涼克伐，俱屬不治。
按、方劑：(1)小柴胡湯
　　　　　　 柴胡二錢　黃芩一錢五分　半夏(製)　人參各一錢　甘草(炙)五分
　　　　　　 引用薑二片，水煎服。
　　　　　(2)八珍湯
　　　　　　 即四君子湯、四物湯，相和為劑也。
　　　　　(3)益氣養榮湯
　　　　　　 人參　黃耆(炒)　當歸　川芎　熟地黃　白芍(炒)　香附　貝母　
　　　　　　 茯苓　陳皮各一錢　白朮二錢　柴胡六分　甘草　桔梗各五分
　　　　　　 引用薑，水煎服。口乾，加五味子、麥冬。往來寒熱，加青皮。
　　　　　(4)十全大補湯
　　　　　　 即八珍湯加黃耆、肉桂各一錢。
　　　　　(5)豆豉餅
　　　　　　 江西豆豉
　　　　　　 以上一味為末，唾津和作餅子，如錢大，厚二分，置患處，以艾壯於
　　　　　　 餅上灸之，乾則再易。
　　　　　(6)蔥熨法：方見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：睛明骨
篇名：上編　外治法
分類：頭面部
內容：(1)睛明骨，即目窠四圍目眶骨也。
　　　(2)其上曰眉稜骨，其下曰䪼骨，䪼骨下接上牙床。
　　　(3)打仆損傷，血流滿面者，敷刀瘡藥。
　　　(4)掀痛瘀血者，敷混元膏。
　　　(5)如骨損者，內服八厘散。
　　　(6)忌生冷發物。偶食豬頭肉者，必發，至一月後始癒。
　　　(7)凡眼胞傷損，而瞳神不碎者，可治。
按、方劑：(1)刀瘡藥
　　　　　　 治一切金刃所傷，敷之止血、收口、定痛、護風。
　　　　　　 上白石膏(煅)一斤　淨板松香(水提過)一斤　珍珠(豆腐煮過)五錢
　　　　　　 上三味，共研細末，和為一處，磁罐收貯備用。
　　　　　(2)混元膏、八厘散：俱見顛頂傷
註：
</pre>
<pre data-sec="p">
主題：腰柱
篇名：上編　外治法
分類：器具釋義
內容：(1)腰柱者，以杉木四根，製如肩擔形，寬一寸，厚五分，長短以患處為
　　　　 度，俱自側面鑽孔，以繩聯貫之。
　　　(2)用法釋義：
　　　　 &lt;1&gt;凡腰間閃挫岔氣者，以常法治之。
　　　　 &lt;2&gt;若腰節骨被傷錯笋，膂肉破裂，筋斜傴僂者，用醋調定痛散，敷於
　　　　　 腰柱上，視患處將柱排列於脊骨兩旁，務令端正；再用蘄艾，做薄
　　　　　 褥覆於柱上，以禦風寒，用寬長布帶，繞向腹前，緊緊紮裹，內服
　　　　　 藥餌，調治自癒。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：腰骨
篇名：上編　外治法
分類：胸背部
內容：(1)腰骨，即脊骨十四椎、十五椎、十六椎間骨也。
　　　(2)若跌打損傷，瘀聚凝結，身必俯臥，若欲仰臥、側臥皆不能也，疼痛
　　　　 難忍，腰筋僵硬。
　　　(3)宜用手法，將兩旁脊筋，向內歸附膂骨，治者立於高處，將病人兩手
　　　　 高舉，則脊筋全舒，再令病人仰面昂胸，則膂骨正而患除矣。
　　　　 內服補筋丸，外貼萬靈膏，灸熨止痛散。
按、方劑：(1)止痛散
　　　　　　 止痛消腫，活血通經，避風驅寒。
　　　　　　 防風　荊芥　當歸　蘄艾　牡丹皮　鶴虱　升麻各一錢　苦參　
　　　　　　 鐵線透骨草　赤芍藥各二錢　川椒三錢　甘草八分
　　　　　　 共用末，裝白布袋內，紮口煎滾燻洗。
　　　　　(2)補筋丸：見髃骨傷
　　　　　(3)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：腰痛
篇名：下編　內治雜證法
分類：腰痛
內容：傷損腰痛、脊痛之證，或因墜墮，或因打撲，瘀血留於太陽經中所致，宜
　　　地龍散治之。
按、方劑：地龍散
　　　　　地龍　官桂　蘇木各九分　麻黃七分　黃柏　當歸尾各二錢五分　
　　　　　桃仁九個　甘草三錢五分
　　　　　以上水煎，食前服。
註：
</pre>
<pre data-sec="p">
主題：腹痛
篇名：下編　內治雜證法
分類：腹痛
內容：傷損腹痛之證：
　　　(1)如大便不通，按之痛甚者，瘀血在內也，用加味承氣湯下之。
　　　(2)既下而痛不止，按之仍痛，瘀血未盡也，用加味四物湯補而行之。
　　　(3)若腹痛，按之反不痛者，血氣傷也，用四物湯加參、耆、白朮，補而
　　　　 和之。
　　　(4)若下而胸脅反痛，肝血傷也，用四君子湯加芎、歸補之。
　　　(5)既下而發熱，陰血傷也，用四物湯加參、朮補之。
　　　(6)既下而惡寒，陽氣傷也，用十全大補湯補之。
　　　(7)既下而惡寒發熱者，氣血傷也，用八珍湯補之。
　　　(8)下而欲嘔者，胃氣傷也，用六君子湯加當歸補之。
　　　(9)下而泄瀉者，脾腎傷也，用六君子湯加肉果、補骨脂補之。
　　　(10)若下後手足俱冷，昏憒出汗，陽氣虛寒也，急用參附湯。
　　　(11)若吐瀉而手足俱冷，指甲青者，脾腎虛寒之甚也，急用大劑參附湯。
　　　(12)口噤、手撒、遺尿、痰盛、唇青體冷者，虛極之壞證也，急用大劑
　　　　　參附湯，多有得生者。
按、方劑：(1)加味承氣湯
　　　　　　 大黃　朴硝各二錢　枳實　厚朴　當歸　紅花各一錢　甘草五分
　　　　　　 水酒各半，煎服。
　　　　　(2)參附湯
　　　　　　 人參或五錢或一兩　製附子或三錢或五錢
　　　　　　 引用薑，水煎服。
　　　　　(3)四君子湯　四物湯俱見傷損出血
　　　　　(4)六君子湯方見胸腹痛悶
　　　　　(5)八珍湯、十全大補湯俱見瘀血泛注
註：
</pre>
<pre data-sec="p">
主題：補遺方
篇名：下編　內治雜證法
分類：補遺方
內容：
按、方劑：(1)補損續筋丸
　　　　　　 治跌打撲墜，骨碎筋斷肉破，疼痛不息。
　　　　　　 當歸(酒洗)五錢　川芎　白芍(炒)　熟地各三錢　廣木香　丹皮　
　　　　　　 乳香(去油淨)　沒藥(去油淨)各五錢　骨碎補　自然銅　紅花　
　　　　　　 瓜兒血竭各三錢　朱砂五錢　丁香一錢　人參一兩　虎骨(酥油炙)
　　　　　　 二兩　古銅錢三文
　　　　　　 共為細末，煉蜜為丸，每服三錢，淡黃酒、童便化服。
　　　　　(2)補損接骨仙丹
　　　　　　 治證同前。
　　　　　　 當歸(酒洗)　川芎　白芍(炒)　熟地　補骨脂　五靈脂　廣木香
　　　　　　 地骨皮　防風各五錢　乳香(去油淨)　沒藥(去油淨)　瓜兒血竭各
　　　　　　 一錢
　　　　　　 以上剉一處，用夜合花樹根皮五錢，同入大酒壺內，加燒酒同煮，
　　　　　　 一炷香，取出溫服。
　　　　　(3)止血定痛生肌散
　　　　　　 治傷損等證，失血過多，或因克伐致血氣耗損，惡寒發熱煩躁。
　　　　　　 乳香(去油淨)　沒藥(去油淨)　龍骨各三錢　血竭二錢　黃丹(飛過)
　　　　　　 五錢　香白芷二錢五分　軟石膏(煅去火毒)一兩　潮腦少許
　　　　　　 共為細末，磁器盛之，每以糝患處，止痛生肌。
　　　　　(4)敷跌打青腫方
　　　　　　 生梔子同飛羅麵搗塗之，以布纏裹，拔出青毒即消。
　　　　　(5)回陽玉龍膏
　　　　　　 專敷跌打損傷，氣虛寒冷。
　　　　　　 草烏(炒)二錢　南星(煨)一兩　軍薑(煨)一兩　白芷一兩　赤芍(炒)
　　　　　　 一兩　肉桂五錢
　　　　　　 共為末，蔥湯調搽，熱酒亦可。
　　　　　(6)太乙膏
　　　　　　 治傷口不收，貼之生肌長肉。
　　　　　　 香麻油　當歸　生地　生甘草
　　　　　　 三味入油內熬枯，去渣，再以絲棉濾淨，再入淨鍋，熬至滴水不散，
　　　　　　 入炒飛黃丹八兩，又用慢火，熬至滴水成珠，取起少傾，入白蠟、黃
　　　　　　 蠟，各一兩，微火再熬，取起少定，入去油淨乳香、沒藥各五錢攪勻
　　　　　　 ，收磁器內，過三宿可貼。
註：
</pre>
<pre data-sec="p">
主題：跟骨
篇名：上編　外治法
分類：四肢部
內容：(1)跟骨者，足後跟骨也。
　　　(2)上承䯒、輔二骨之末，有大筋附之，俗名腳攣筋，其筋從跟骨過踝骨
　　　　 ，至腿肚裡，上至膕中，過臀抵腰脊，至頂，自腦後向前至目眥，皆
　　　　 此筋之所達也。
　　　(3)若落馬墜蹬等傷，以致跟骨擰轉向前，足趾向後，即或骨未碎破，而
　　　　 縫隙分離，自足至腰脊諸筋，皆失其常度，拳攣疼痛，宜撥轉如舊，
　　　　 藥餌調治，皆同前法。
按、方劑：正骨紫金丹、混元膏、散瘀和傷湯、海桐皮湯、萬靈膏諸藥，皆內庭常用
　　　　　經驗之方，故以上諸證，多引用之。其或跌打損傷證中，而又兼他病者，
　　　　　則不止此數藥也，故採前人舊載諸方，集於末卷，以示證治之法，有不可
　　　　　狹隘者焉。
註：
</pre>
<pre data-sec="p">
主題：鳧骨
篇名：上編　外治法
分類：胸背部
內容：(1)鳧骨者，即胸下之邊肋也。
　　　(2)上下二條，易被損傷，左右皆然。自此以上，有肘臂護之，難以著傷
　　　　 。在下近腹者，用手提之易治，蓋其肋近邊，可以著手，則斷肋能復
　　　　 其位也。
　　　(3)其人必低頭傴腰，痛苦呻吟，惟側臥不能仰臥，若立起，五內皆痛，
　　　　 或頭迷神昏，飲食少進：
　　　　 &lt;1&gt;宜內服正骨紫金丹。
　　　　 &lt;2&gt;洗以八仙逍遙湯。
　　　　 &lt;3&gt;貼萬靈膏及散瘀等藥可癒。
　　　(4)若在上之第二肋，或有斷裂墊傷，塌陷不起，因位居膈上，難以入手
　　　　 ，雖強為之，亦難完好。其所傷之血留於膈上，若不隨藥性開行，必
　　　　 結成包囊，其包輕者係黃水，硬者係血塊，則成痼疾矣。

按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)八仙逍遙湯：見玉梁骨傷
　　　　　(3)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：嘔吐黑血
篇名：下編　內治雜證法
分類：嘔吐黑血
內容：(1)傷損嘔吐黑血者，始因打撲傷損，敗血流入胃脘，色黑如豆汁，從
　　　　 嘔吐而出也。
　　　(2)形氣實者，用百合散；形氣虛者，加味芎藭湯。
按、方劑：(1)百合散
　　　　　　 川芎　赤芍藥　當歸　百合　生地黃　側柏葉　荊芥　犀角　丹皮
　　　　　　 黃芩　黃連　梔子　鬱金　大黃各一錢
　　　　　　 水煎，加童便和服。
　　　　　(2)加味芎藭湯
　　　　　　 芎藭　當歸　白朮　百合(水浸一日)　荊芥各一錢
　　　　　　 水一鍾半，酒半鍾，煎八分，不拘時服。
註：
</pre>
<pre data-sec="p">
主題：壽台骨
篇名：上編　外治法
分類：頭面部
內容：(1)壽台骨，即完骨，在耳後接於耳之玉樓骨者也。
　　　(2)若跌打損傷，其耳上下俱腫起，耳內之禁骨有傷，則見血膿水，耳外
　　　　 瘀聚，凝結疼痛，筋結不能舒通，以致頭暈眼迷，兩太陽扶桑骨脹痛
　　　　 ，頸項筋強，虛浮紅紫，精神短少，四肢無力，坐臥不安，飲食少進
　　　　 。
　　　(3)以烏龍膏敷耳傷處，用絲棉裹導氣通瘀錠塞耳內；內服人參紫金丹，
　　　　 通瘀散腫；外再以八仙逍遙湯燻洗，消散虛浮腫痛。忌食熱物發物。
　　　(4)如血流不止，三日不飲食，必動腦髓，不宜治之。
按、方劑：(1)烏龍膏：見凌雲骨傷
　　　　　(2)導氣通瘀錠：見顛頂骨傷
　　　　　(3)人參紫金丹：見囟骨傷
　　　　　(4)八仙逍遙湯：見玉梁骨傷
註：
</pre>
<pre data-sec="p">
主題：摸法
篇名：上編　外治法
分類：手法釋義
內容：(1)摸者，用手細細摸其所傷之處：
　　　　 &lt;1&gt;或骨斷、骨碎、骨歪、骨整、骨軟、骨硬。
　　　　 &lt;2&gt;筋強、筋柔、筋歪、筋正、筋斷、筋走、筋粗、筋翻、筋寒、筋熱
　　　　　 。
　　　　 &lt;3&gt;以及表裡虛實，並所患之新舊也。
　　　(2)先摸其或為跌撲，或為錯閃，或為打撞，然後依法治之。

按、方劑：
註：
</pre>
<pre data-sec="p">
主題：端法
篇名：上編　外治法
分類：手法釋義
內容：(1)端者，兩手或一手擒定應端之處，酌其重輕，或從下往上端，或從外
　　　　 向內托，或直端、斜端也。
　　　(2)蓋骨離其位，必以手法端之，則不待曠日遲久，而骨縫即合，仍須不
　　　　 偏不倚，庶癒後無長短不齊之患。

按、方劑：
註：
</pre>
<pre data-sec="p">
主題：裹廉
篇名：上編　外治法
分類：器具釋義
內容：裹廉，以白布為之，因患處不宜他器，只宜布纏，始為得法，故名裹簾。
　　　其長短闊狹，量病勢用之。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：鼻樑骨
篇名：上編　外治法
分類：頭面部
內容：(1)鼻孔之界骨，名曰鼻樑骨，下至鼻之盡處，名曰準頭。
　　　(2)凡鼻兩孔傷凹者可治，血出無妨。
　　　(3)若鼻樑骨凹陷者，用當歸膏敷貼。
　　　(4)若兩孔跌磕傷開孔竅，或金刃傷開孔竅，用封口藥敷傷處，外以
　　　　 消毒定痛散貼之退腫。
　　　(5)若鼻被傷落者，用綴法。
按、方劑：(1)封口藥
　　　　　　 治跌打損傷，皮開肉破，及金刃傷割喉斷耳，缺唇傷破肚皮，跌破陰
　　　　　　 囊皮等證大效。
　　　　　　 明淨乳香　沒藥　兒茶　當歸　杉皮炭各一錢　麝香五厘　片腦一分
　　　　　　 豬𧰷聹葉（如無此葉，用葛葉毛藤子葉亦可）一錢
　　　　　　 以上各另碾細末，稱合和勻，入麝碾細，次入片腦研勻，磁罐收貯聽
　　　　　　 用。
　　　　　(2)消毒定痛散
　　　　　　 治跌撲損傷，腫硬疼痛。
　　　　　　 無名異（炒）　川大黃各五錢 　木耳（炒）
　　　　　　 共為末，蜜水調塗。如內有瘀血，砭去敷之。若腐處，更用當歸膏敷
　　　　　　 之尤妙。
　　　　　(3)神效當歸膏
　　　　　　 此膏斂口生肌，拔毒止痛，並諸瘡毒氣壅盛，腐化成膿。
　　　　　　 當歸　黃蠟各一兩　麻油四兩
　　　　　　 以上將當歸入油，煎令焦黑，去滓，次入黃蠟，急攪化，放冷，以磁
　　　　　　 器收貯，用時以舊絹布攤貼。一方用白蠟。
　　　　　(4)綴法
　　　　　　 耳傷落者同此。
　　　　　　 用人髮，入陽城罐，以鹽泥固濟，煅過為末藥。急以所傷耳鼻，蘸藥
　　　　　　 安綴故處，以軟絹縛定效。昔江懷禪師被驢咬落其鼻，一僧用此綴之
　　　　　　 如舊。
註：
</pre>
<pre data-sec="p">
主題：膝蓋骨
篇名：上編　外治法
分類：四肢部
內容：(1)膝蓋骨，即連骸，亦名髕骨。形圓而扁，復於楗、䯒上下兩骨之端，
　　　　 內面有筋聯屬，其筋上過大腿，至於兩脅，下過䯒骨，至於足背。
　　　(2)如有跌打損傷，膝蓋上移者，其筋即腫大，株連於膕內之筋，膕內之
　　　　 筋，上連腰胯，故每有腰屈疼痛之證。
　　　(3)或下移䯒骨則焮腫，或足腹冷硬，步履後拽斜行也。
　　　(4)若膝蓋離位，向外側者，則內筋腫大；向內側者，則筋直膕腫。
　　　(5)宜詳視其骨如何斜錯，按法推拿，以復其位。內服補筋丸，以定痛散
　　　　 灸熨之，燻八仙逍遙湯則癒。
按、方劑：(1)補筋丸：見髃骨傷
　　　　　(2)定痛散：見囟骨傷
　　　　　(3)八仙逍遙湯：見玉梁骨傷
註：
</pre>
<pre data-sec="p">
主題：蔽心骨
篇名：上編　外治法
分類：胸背部
內容：(1)蔽心骨，即鳩尾骨也。其質係脆骨，在胸下岐骨之間。
　　　(2)跌打撞振傷損，疼痛不止，兩脅氣串，滿腹疼痛，腰傴不起，兩手按
　　　　 胸者，宜內服八厘散，外用艾醋湯洗之，敷萬靈膏，渴飲淡黃酒，忌
　　　　 茶水、生冷、糠米粥。

按、方劑：(1)八厘散：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：踝骨
篇名：上編　外治法
分類：四肢部
內容：(1)踝骨者，䯒骨之下，足跗之上，兩旁突出之高骨也。在內者名內踝，
　　　　 俗名合骨；在外者為外踝，俗名核骨。
　　　(2)或馳馬墜傷，或行走錯誤，則後跟骨向前，腳尖向後，筋翻肉腫，疼
　　　　 痛不止：
　　　　 &lt;1&gt;先用手法撥筋正骨，令其復位。
　　　　 &lt;2&gt;再用竹板夾定跟骨，縛於䯒骨之上。
　　　　 &lt;3&gt;三日後解縛視之，以枕支於足後，用手扶筋，再以手指點按其筋結
　　　　　 之處，必令端平。
　　　　 &lt;4&gt;內服正骨紫金丹，灸熨以定痛散，洗以海桐皮湯，常服健步虎潛丸
　　　(3)若稍癒後，遽行勞動，致䯒骨之端，向裡歪者，則內踝突出腫大；向
　　　　 外歪者，則外踝突出腫大，血脈瘀聚凝結，步履無力，足底欹斜，頗
　　　　 費調治，故必待氣血通暢全復，始可行動。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)定痛散：見囟骨傷
　　　　　(3)海桐皮湯：見兩顴骨傷
　　　　　(4)健步虎潛丸：見胯骨傷
註：
</pre>
<pre data-sec="p">
主題：齒
篇名：上編　外治法
分類：頭面部
內容：(1)齒者，口齦所生之骨也，俗名曰牙。
　　　(2)有門牙、虎牙、槽牙、上下盡根牙之別。
　　　(3)凡被跌打砍磕，落去牙齒者：
　　　　 &lt;1&gt;只用補肌散敷之，並封口藥。
　　　　 &lt;2&gt;內服破血藥，以止其痛。其藥只用水煎，不宜酒煎，此法頗收功效
　　　(4)如牙斷跌磕砍傷：
　　　　 &lt;1&gt;牙齒未動者，用芙容膏塗之。
　　　　 &lt;2&gt;如齒動者，用蒺藜根燒存性為末，常揩搽之即牢，用固齒散時時揩
　　　　　 之亦佳。
按、方劑：(1)補肌散
　　　　　　 止血除痛，避風續筋骨，生肌肉。
　　　　　　 地黃苗　地菘　青蒿　蒼耳苗　赤芍藥（水煎取汁）各五兩　生艾汁
　　　　　　 三合
　　　　　　 以上五月五日、七月七日午時修合，以前藥汁拌石灰陰乾，入黃丹三
　　　　　　 兩，更杵為細末。凡有傷折出血，用藥包封，不可動，約十日可瘥，
　　　　　　 不腫不膿。
　　　　　(2)芙蓉膏
　　　　　　 治打撲傷損，腫痛，紫黑色久不退者。
　　　　　　 紫荊皮　南星各一兩　芙蓉二兩　獨活　白芷　赤芍藥各五錢
　　　　　　 以上共為末，用生薑汁、茶清調溫貼敷，傷損紫黑色久不退者，加
　　　　　　 肉桂五錢。
　　　　　(3)固齒散
　　　　　　 骨碎補　牡鼠骨（煅灰）
　　　　　　 共研細末，磁罐收貯聽用。
　　　　　(4)封口藥：見鼻柱骨傷
註：
</pre>
<pre data-sec="p">
主題：器具總論
篇名：上編　外治法
分類：器具總論
內容：(1)跌撲損傷，雖用手法調治，恐未盡得其宜，以致有治如未治之苦，則
　　　　 未可云醫理之周詳也。
　　　(2)爰因身體上下、正側之象，製器以正之，用輔手法之所不逮，以冀分
　　　　 者復合，欹者復正，高者就其平，陷者升其位。
　　　(3)則危證可轉於安，重傷可就於輕，再施以藥餌之功，更示以調養之善
　　　　 ，則正骨之道全矣。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：頰車骨
篇名：上編　外治法
分類：頭面部
內容：(1)頰車骨，即下牙床骨也，俗名牙釣，承載諸齒，能咀食物，有運動之
　　　　 象，故名頰車。
　　　(2)其骨尾形如鉤，上控於曲頰之環。
　　　(3)或打仆脫臼，或因風濕襲入鉤環脫臼，單脫者為錯，雙脫者為落。
　　　(4)凡治脫者
　　　　 &lt;1&gt;用手法摘下不脫者，以兩手捧下頦，稍外拽，復向內托之，則雙鉤
　　　　　 皆入上環矣。
　　　　 &lt;2&gt;再以布自地閣纏繞頭頂以固之。
　　　　 &lt;3&gt;宜內服正骨紫金丹，外貼萬靈膏。
　　　　 &lt;4&gt;待能飲食後，去布，只用布兜其下頦，繫於頂上，二三日可癒。
　　　(5)若雙脫者，治法同前。若欠而致脫臼者，乃突滑也，無妨。
　　　(6)脫臼者，俗名吊下巴。欠者，俗名打哈氣。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：頭部
篇名：上編　外治法
分類：靈樞經骨度尺寸
內容：頭髮以下至背，骨長二寸半。(自後髮際以至大椎項骨三節處也。)
按、方劑：(1)頭部折法：以前髮際至後髮際，折為一尺二寸；如髮際不明，則取眉
　　　　　　 心，直上後至大杼骨，折作一尺八寸，此為直寸。
　　　　　(2)橫寸法：以眼內角至外角，此為一寸，頭部橫直寸法，并依此。
註：
</pre>
<pre data-sec="p">
主題：擊扑損傷應刺諸穴-1
篇名：上編　外治法
分類：經義
內容：『素問‧繆刺論』曰：人有所墮墜，惡血留內，腹中滿脹，不得前後，先
　　　飲利藥，此上傷厥陰之脈，下傷少陰之絡，刺足內踝之下，然谷之前，血
　　　脈出血，刺足跗上動脈。不已，刺三毛各一痏，見血立已。左刺右，右刺
　　　左。
按、方劑：
註：(1)此言惡血為病，有繆刺之法也。
　　(2)人因墮墜，致惡血留內，腹中滿脹，前後不通，當先用利藥。
　　(3)如上傷厥陰肝經之脈，下傷少陰腎經之絡，當刺內踝之下，然谷之前
　　　 ，有血脈令出血者，蓋以此屬少陰之別絡，而交通乎厥陰也。
　　(4)兼刺足跗上動脈，即衝陽穴，乃胃經之原也。
　　(5)如病不已，更刺三毛上大敦穴左右各一痏，見血立已。
　　(6)繆刺者，左刺右大敦，右刺左大敦也。
　　(7)但足跗動脈、上關衝脈、少陰、陽明三經，只宜淺刺，不可出血不已
　　　 也。
</pre>
<pre data-sec="p">
主題：擊扑損傷應刺諸穴-2
篇名：上編　外治法
分類：經義
內容：『靈樞經‧寒熱病篇』曰：身有所傷，血出多，及中風寒，若有所墮墜，
　　　四支懈惰不收，名曰體惰。取其小腹臍下三結交。三結交者，陽明太陰也
　　　，臍下三寸關元也。
按、方劑：
註：(1)此言身有所傷，血出多者，及中風寒者，破傷風之屬也。
　　(2)或因墮墜，不必出血，而四支懈惰不收者，皆名體惰也。
　　(3)關元任脈穴名，又足陽明、太陰之脈皆結於此，故為三結交也。
</pre>
<pre data-sec="p">
主題：擊扑損傷應刺諸穴-3
篇名：上編　外治法
分類：經義
內容：『靈樞經‧厥病論』曰：頭痛不可取於腧者，有所擊墮，惡血在內，傷痛
　　　未已，可側刺不可遠取之也。
按、方劑：
註：(1)經言惡血在內，頭痛不可取其腧者，蓋頭痛取腧，以泄其氣，則頭痛
　　　 可癒也。
　　(2)若有所擊墮，惡血在內，而取腧以泄其氣，則是血病治氣矣，故勿取
　　　 其腧焉。
　　(3)若所擊扑之䐃肉傷痛不已，雖用刺法，亦只於所傷附近之側刺之，以
　　　 出在內之惡血而已。
　　(4)若仍按經遠取諸腧，以療頭痛，則不可也。
</pre>
<pre data-sec="p">
主題：擊扑傷後入房傷脾
篇名：上編　外治法
分類：經義
內容：『靈樞經‧邪氣臟腑病形篇』曰 ：有所擊扑，若醉入房，汗出當風，則
　　　傷脾。
按、方劑：
註：(1)有所擊扑，乃傷其外體也。
　　(2)如醉後入房，或汗出不知避忌當風，則邪客於肌膚，傷其內體矣。
　　(3)是皆傷脾之因也。
</pre>
<pre data-sec="p">
主題：擊扑損傷脈色-1
篇名：上編　外治法
分類：經義
內容：『素問‧脈要精微論』曰：肝脈搏堅而長，色不青，當病墜，若因血在脅
　　　下，令人喘逆。
按、方劑：
註：(1)此言肝脈有剛柔，而病亦以異也。
　　(2)肝脈搏擊於手，而且堅且長，其色又不青，當病或墜或搏，而血積於
　　　 脅下，令人喘逆不止也。
　　(3)正以厥陰之脈，布脅肋，循喉嚨之後；其支別者，復從肝貫膈上注肺
　　　 ，今血在脅下，則血之積氣上熏於肺，故令人喘逆也。
</pre>
<pre data-sec="p">
主題：擊扑損傷脈色-2
篇名：上編　外治法
分類：經義
內容：『金匱要略』曰：寸口脈浮，微而濇，然當亡血，若汗出。設不汗出者，
　　　其身有瘡，被刀斧所傷，亡血故也。
按、方劑：
註：(1)經言：奪血者無汗，奪汗者無血。蓋二者皆當脈浮微而濇。
　　(2)今診之如此，是有枯竭之象，而無汗出之證，非亡血而何？故知有金
　　　 傷或擊扑而亡血之證也。
　　(3)又論曰：肝脈搏堅而色不變，必有擊墮之事。
　　(4)因䐃肉無破，則惡血必留脅下，兼致嘔逆，依經針刺然谷足跗，或三
　　　 毛等穴出血，或飲利藥使惡血開行，當自癒也。
　　(5)若脈浮微而濇，當知亡血過多，依經於三結交關元穴灸之，或飲大補
　　　 氣血之劑而調之，則病已矣。
</pre>
<pre data-sec="p">
主題：環跳
篇名：上編　外治法
分類：四肢部
內容：(1)環跳者，髖骨外向之凹，其形似臼，以納髀骨之上端如杵者也，名曰
　　　　 機，又名髀樞，即環跳穴處也。
　　　(2)或因跌打損傷，或踒墊掛鐙，以致樞機錯努，青紫腫痛，不能步履，
　　　　 或行止欹側艱難，宜先服正骨紫金丹，洗以海桐皮湯，貼萬靈膏，常
　　　　 服健步虎潛丸。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
　　　　　(3)海桐皮湯：見兩顴骨傷
　　　　　(4)虎潛丸：見胯骨傷
註：
</pre>
<pre data-sec="p">
主題：臂骨
篇名：上編　外治法
分類：四肢部
內容：(1)臂骨者，自肘至腕有正輔二根：
　　　　 &lt;1&gt;其在下而形體長大，連肘尖者為臂骨。
　　　　 &lt;2&gt;其在上而形體短細者，為輔骨，俗名纏骨。
　　　　 &lt;3&gt;疊並相倚，俱下接於腕骨焉。
　　　(2)凡臂骨受傷者，多因迎擊而斷也，或斷臂、輔二骨，或惟斷一骨，瘀
　　　　 血凝結疼痛。
　　　　 &lt;1&gt;以手法接對端正，貼萬靈膏，竹簾裹之，加以布條紮緊。
　　　　 &lt;2&gt;俟三日後開簾視之，以手指按其患處，或仍有未平，再揉摩其瘀結
　　　　　 之筋，令復其舊，換貼膏藥，仍以竹簾裹之。
　　　　 &lt;3&gt;每日清晨服正骨紫金丹 。
按、方劑：(1)萬靈膏：見囟骨傷
　　　　　(2)正骨紫金丹：見顛頂骨傷
註：
</pre>
<pre data-sec="p">
主題：鎖子骨
篇名：上編　外治法
分類：胸背部
內容：(1)鎖子骨，經名拄骨，橫臥於兩肩前缺盆之外，其兩端外接肩解。
　　　(2)擊打損處，或騎馬乘車，因取物偏墜於地，斷傷此骨：
　　　　 &lt;1&gt;用手法先按胸骨，再將肩端向內合之，揉摩斷骨，令其復位，然後
　　　　　 用帶掛臂於項，勿令搖動。
　　　　 &lt;2&gt;內服人參紫金丹，外熨定痛散，再敷萬靈膏，其證可癒。
按、方劑：(1)人參紫金丹、定痛散、萬靈膏：俱見囟骨傷
註：
</pre>
<pre data-sec="p">
主題：臑骨
篇名：上編　外治法
分類：四肢部
內容：(1)臑骨，即肩下肘上之骨也。
　　　(2)自肩下至手腕，一名肱，俗名肐膊，乃上身兩大肢之通稱也。
　　　(3)或墜車馬跌碎，或打斷，或斜裂，或截斷，或碎斷。打斷者有碎骨，
　　　　 跌斷者則無碎骨，壅腫疼痛，心神忙亂，遍體麻冷。
　　　　 &lt;1&gt;皆用手法，循其上下前後之筋，令得調順，摩按其受傷骨縫，令得
　　　　　 平正。
　　　　 &lt;2&gt;再將小杉板周圍逼定，外用白布纏之。
　　　　 &lt;3&gt;內服正骨紫金丹，外貼萬靈膏。
　　　　 &lt;4&gt;如壅腫不消，外以散瘀和傷湯洗之。
按、方劑：(1)正骨紫金丹：見顛頂骨傷
　　　　　(2)萬靈膏：見囟骨傷
　　　　　(3)散瘀和傷湯：見顛頂骨傷
註：
</pre>
<pre data-sec="p">
主題：攀索
篇名：上編　外治法
分類：器具釋義
內容：攀索者，以繩掛於高處，用兩手攀之也。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：顛頂骨
篇名：上編　外治法
分類：頭面部
內容：(1)顛者，頭頂也。其骨男子三叉縫，女子十字縫。
　　　(2)一名天靈蓋，位居至高，內涵腦髓，如蓋，以統全體者也。
　　　(3)或磞撞損傷，如猝然而死，身體強硬，鼻口有出入聲氣，目閉，面如
　　　　 土色，心口溫熱跳動者，此證可治。
　　　(4)切不可撅拿，並扶起盤坐，蓋恐驚亂之氣上衝，或從傷處，或從七竅
　　　　 走泄，必傷性命也。
　　　(5)惟宜屈膝側臥
　　　　 &lt;1&gt;先將高醋調混元膏，敷於頂上，以定痛消腫，活血拔毒。
　　　　 &lt;2&gt;再將草紙捲點著，令煙氣燻其口鼻，再燃煤淬入醋內，使熱氣燻蒸
　　　　　 口鼻，如無煤之處，燒鐵淬之亦可，以引五臟血脈，使之通和。
　　　　 &lt;3&gt;待其口中呻吟有聲，即以童便調八厘散溫服，可以氣轉陽回。
　　　　 &lt;4&gt;外用手法，推按心胸、兩肋、腋下、腹上。
　　　　 &lt;5&gt;並輕托內腕攢筋，頻頻揉摩，即掌後高骨，寸關尺診脈處也。
　　　(6)夫衝撞損傷，則筋脈強硬
　　　　 &lt;1&gt;頻頻揉摩，則心血來復，命脈流通，即可回生。
　　　　 &lt;2&gt;常服正骨紫金丹。
　　　　 &lt;3&gt;復外用散瘀和傷湯，洗去前敷之混元膏，再換敷混元膏。
　　　　 &lt;4&gt;服丸藥後，或大便色黑乾燥，此乃腸胃存有瘀血，或有耳聾者，俱
　　　　　 服加減蘇子桃仁湯，以逐瘀血，健脾胃，養精神。
　　　　 &lt;5&gt;兼用導氣通瘀錠塞於耳中。
　　　　 &lt;6&gt;飲食宜素粥湯飲，忌氣怒油膩麵食。臥處宜淨室，勿令人喧亂。
　　　(7)若傷重已死者
　　　　 &lt;1&gt;用白布纏頭，以木棍輕輕拍擊足心，再提髮令其直正，安定頸骨，
　　　　　 舒其筋絡。
　　　　 &lt;2&gt;外敷混元膏，內服紫金丹。
　　　(8)若墬車馬損傷顛縫者，其邪墜而下，多在左，而少在右，因右手利便
　　　　 而然也，其治法同磞撞諸傷。
　　　(9)如頂骨塌陷，驚動腦髓，七竅出血，身挺僵厥，昏悶全無知覺者，不
　　　　 治。
按、方劑：(1)混元膏
　　　　　　 治打撲損傷，骨碎筋翻，瘀血凝聚，消青紫腫痛等證。
　　　　　　 羚羊血五錢　沒藥五錢　漏蘆三錢　紅花三錢　大黃二錢　麝香三錢
　　　　　　 升麻三錢　白芨五錢　生梔子二錢　甘草二錢　明雄黃五公　
　　　　　　 白斂三錢
　　　　　　 共為細末，用高醋熬成膏，敷於頂上。
　　　　　(2)八厘散
　　　　　　 治跌打損傷，接骨散瘀。
　　　　　　 蘇木麵一錢　半兩錢一錢　自然銅（醋淬七次）三錢　乳香三錢　
　　　　　　 沒藥三錢　血竭三錢　麝香一分　紅花一錢　丁香五分　
　　　　　　 番木鱉（油煠去毛）一錢
　　　　　　 共為細末，黃酒溫服，童便調亦可。
　　　　　(3)正骨紫金丹
　　　　　　 治跌打撲墜閃錯損傷，並一切疼痛，瘀血凝聚。
　　　　　　 丁香　木香　瓜兒血竭　兒茶　熟大黃　紅花各一兩　當歸頭　蓮肉
　　　　　　 白茯苓　白芍各二兩　丹皮五錢　甘草三錢
　　　　　　 共為細末，煉蜜為丸，每服三錢，童便調下，黃酒亦可。
　　　　　(4)散瘀和傷湯
　　　　　　 治一切磞撞損傷，瘀血積聚。
　　　　　　 番木鱉（油煠去毛）　紅花　生半夏各五錢　骨碎補　甘草各三錢
　　　　　　 蔥鬚一兩
　　　　　　 水五碗煎滾，入醋二兩，再煎十數滾，燻洗患處，一日十數次。
　　　　　(5)加減蘇子桃仁湯
　　　　　　 治瘀血內聚，心經瘀熱，大腸不燥者。
　　　　　　 蘇子三錢　蘇木（末）一錢　紅花一錢　桃仁（炒）　麥冬　橘紅
　　　　　　 各三錢　赤芍　竹茹　當歸（酒洗）各二錢
　　　　　　 水三鐘，煎一鐘，渣二鐘，煎八分，溫服。
　　　　　(6)導氣通瘀錠
　　　　　　 耑治耳聾奇方。
　　　　　　 用不去油巴豆一個，斑蝥三個，麝香少許，以蔥涎蜂蜜和捻如麥粒形
　　　　　　 ，絲棉裹置耳中，響聲如雷，勿得驚懼，待二十一日，耳中有膿水流
　　　　　　 出，方可去錠，奇妙無比。
註：
</pre>
<pre data-sec="p">
主題：疊磚
篇名：上編　外治法
分類：器具釋義
內容：(1)疊磚者，以磚六塊，分左右各疊置三塊，兩足踏於其上也。
　　　(2)用法釋義：
　　　　 &lt;1&gt;凡胸腹腋脅，跌打碰撞墊努，以致胸陷而不直者。
　　　　 &lt;2&gt;先令病人以兩手攀繩，足踏磚上，將後腰拿住，各抽去磚一個，令
　　　　　 病人直身挺胸，少傾又各去磚一個，仍令直身挺胸，如此者三，其
　　　　　 足著地，使氣舒瘀散，則陷者能起，曲者可直也。
　　　　 &lt;3&gt;再將其胸以竹簾圍裹，用寬帶八條緊緊縛之，勿令窒礙。
　　　　 &lt;4&gt;但宜仰睡，不可俯臥側眠，腰下以枕墊之，勿令左右移動。
按、方劑：
註：
</pre>
<pre data-sec="p">
主題：髃骨
篇名：上編　外治法
分類：四肢部
內容：(1)髃骨者，肩端之骨，即肩胛骨臼端之上棱骨也。
　　　(2)其臼含納臑骨上端，其處名肩解，即肩䯋與臑骨合縫處也，俗名吞口
　　　　 ，一名肩頭。
　　　(3)其下附於脊背，成片如翅者，名肩胛，亦名肩髆，俗名鍁板子骨。
　　　(4)以上若被跌傷
　　　　 &lt;1&gt;手必屈轉向後，骨縫裂開，不能抬舉，亦不能向前，惟忸於肋後而
　　　　　 已。
　　　　 &lt;2&gt;其氣血皆壅聚於肘，肘腫如椎，其腫不能過腕，兩手脈反脹，瘀血
　　　　　 凝滯。
　　　　 &lt;3&gt;如腫處痛如針刺不移者，其血必化而為膿，則腕掌皆涼，或麻木。
　　　(5)若臑骨突出
　　　　 &lt;1&gt;宜將突出之骨，向後推入合縫，再將臑筋向內撥轉，則臑、肘、臂
　　　　　 、腕皆得復其位矣。
　　　　 &lt;2&gt;內服補筋丸，外貼萬靈膏，燙洗用海桐皮湯，或敷白膠香散，或金
　　　　　 沸草汁塗之亦佳。
按、方劑：(1)補筋丸
　　　　　　 此藥專治跌仆踒閃，筋翻筋攣，筋脹筋粗，筋聚骨錯，血脈壅滯，宣
　　　　　　 腫青紫疼痛等證。
　　　　　　 五加皮　蛇床子　好沉香　丁香　川牛膝　白雲苓　白蓮蕊　肉蓯蓉
　　　　　　 菟絲子　當歸(酒洗)　熟地黃　牡丹皮　宣木瓜各一兩　懷山藥八錢
　　　　　　 人參　廣木香各三錢
　　　　　　 共為細末，煉蜜為丸，彈子大，每丸重三錢，用好無灰酒送下。
　　　　　(2)加減補筋丸
　　　　　　 當歸一兩　熟地黃　白芍藥各二兩　紅花　乳香　白雲苓　骨碎補
　　　　　　 各一兩　廣陳皮二兩　沒藥三錢　丁香五錢
　　　　　　 共為細末，煉蜜為丸，彈子大，每丸重三錢，用好無灰酒送下。
　　　　　(3)白膠香散
　　　　　　 治皮破筋斷。
　　　　　　 白膠香一味，為細末敷之。
　　　　　(4)金沸草根
　　　　　　 搗汁塗筋封口，二七日便可相續止痛。一貼即癒，不用再塗。
　　　　　(5)萬靈膏：見囟骨傷
　　　　　(6)海桐皮湯：見兩顴骨傷
註：
</pre>
<pre data-sec="p">
主題：䯒骨
篇名：上編　外治法
分類：四肢部
內容：(1)䯒骨，即膝下踝上之小腿骨，俗名臁脛骨者也。
　　　(2)其骨二根
　　　　 &lt;1&gt;在前者名成骨，又名骭骨，其形粗。
　　　　 &lt;2&gt;在後者名輔骨，其形細，又俗名勞堂骨。
　　　(3)若被跌打損傷，其骨尖斜突外出，肉破血流不止，疼痛呻吟聲細，飲
　　　　 食少進，若其人更氣血素弱，必致危亡。
　　　(4)宜用手法，按筋正骨，令復其位，貼萬靈膏，以竹簾裹住，再以白纏
　　　　 之，先服正骨紫金丹，繼服健步虎潛丸。
按、方劑：(1)萬靈膏：見囟骨傷
　　　　　(2)正骨紫金丹：見顛頂骨傷
　　　　　(3)健步虎潛丸：見胯骨傷
註：
</pre>
