<header data-type="book">
<h1>傷風約言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>後藤省</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1795">公元1795年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00531/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>大凡醫法。在邇在易。而求諸遠與難者。皆素靈八十一難。有以羈縻之。而終不能使其出頭焉。其所由來者漸矣。豈唯一朝一夕之故也哉。是以近代四方諸生。未醫之前。先學運氣六經。而其已還鄉為醫之後。至於診察病證。辨識藥石。則向之運氣六經。遂為無用贅言。譬如市中處女。未嫁之前。先習箏與三絃。而其已結帨為嫁之後。至於料理家務。計算谷金。則向之箏與三絃。遂為無益間物。何者。張機亦不知其假名託言之為書。遵守之。珍藏之。以唱陰陽六經之說。惜哉。功罪相等。淄澠相混。未免通此而礙彼之陋弊也。晉王叔和撰次。宋成無已始注。其書一出而後。至於今日。天下倀倀然。莫之能折衷。是故方有執喻昌程應旄張思聰張璐輩。又互論註腳。欲務上於人。迴護調停。多屬剩語。況其他涉龐雜者乎。承平百年。文化丕闡。閩商吳舶。競輸異典。雖然。學之不明。術之不精。皆坐吾人入耳出口。未當徵諸其身故耳。嗚呼。養老慈幼之家。欲為良手乎。欲為庸工乎。不可不自辨其志焉。方今雖有世務相妨。亦須破冗日相規切。洗垢摩鈍。以來新知。然則臨疾處方。才略機發。各適其可。固不待言。此可以推類。而通其餘矣。竊又謂苦口叮嚀。不止張機。而諸子百家。其勞亦巨焉。則似乎未可全擯仟之也。每就日用醫事之實。稽之於古。以取其則。敢加鄙見。著為一書。題曰傷風約言。雖使數十其卷帙。數萬其紙葉。傷風變狀。豈能盡哉。斯書言簡。不用文采。亦將懷挾隨身。以防不虞也耳。予也不肖。日侍親闈。口授面命。僅了大義。若二三同志。不以予言為迂。則庶乎向之所求。不遠不難。或有造端進步處也。請其過約而不盡義者。則指摘疵評。明者審焉。</p>
<p><u>享保壬子正月八日椿庵後藤省仲介甫書</u></p>

<h1>傷風名義</h1>
<p>風本氣也。靜則氣。動則風。亦猶靜則水。動則波。此氣分之則一陰一陽也。而風之為陰為陽。亦彰彰然。皆可以不言而喻焉。豈非與大地日月相終始者哉。其使人為病也。上下內外。無所不至。故素問云。風為百病之始也。爾後醫人崇信奉承。以冠於方書。辨證之首。而坊間嬰兒。不知其語之欠瑩。亦能膾炙於口矣。畢竟風者。大氣激發之假名。而四時外傷之前驅耳。今推其風之為風者。自是風中有寒。而寒即風之帥也。審辨深義。以徵予言之非妄矣。原夫夏之流輝也。炎炎赫赫。沙煎草焦。矮屋湫隘。如坐甑籠。人皆將裸袒而解慍焉。當是之時。執扇持翣。左颺右揮。要有其風之透衣。而少去鬱蒸之氣耳。而況消暑滌煩。戰葉鳴條。微微拂拂。自天上來者乎。唐殿可以聊句。陶窗足以高臥。是雖此熱之甚。而得風頻冷頻憩。則果非寒而何。若乃冬之猛威也。凜凜冽冽。雪深冰堅。熊席狐裘。如著鐵石。人皆將密沉而擁爐焉。當是之時。塞牖下帷。重衾溫食。惟懼其風之過隙。而多負晝光之暄耳。而況呼地號天。飛礫揚塵。黯黯剪剪。自云邊發者乎。武卒可以墮指。壯士足以悲吟。是雖此寒之甚。而得風愈嚴愈肅。則果非寒而何。嗚呼。風寒之戕人也。其害固有不可勝言者矣。善哉。張機猶似以輕重分風寒。故首條揭出中風傷寒。而其於取裁陰陽營衛三焦等。尤為可惜焉。至晉王叔和。亦謂傷寒之病。從風寒得之。其後戴思恭徐汝元皆總謂之傷風寒。然可指風為寒。而不可寒為風矣。以予觀之。非時傷風呼為傷寒。則與冬時名中寒者。（醫家所謂正傷寒也）相混而呼中風。亦與痱證誤為中風者相紊也。或謂熱病。（素問。）寒疫。（張機傷寒論）橫病。（孫思邈千金方）汗病。（陳無擇三因方）霜露之疾。（屠隆方苑）此等命目。猶未穩焉。而況於傷寒上加正字。或類字。亦豈異於頭上安頭乎。吾門通以傷風稱之。實未敢必其當否矣。蓋嘗思之。風者。四時常有之物。而不可獨以春及肝木為之分配焉。春夏秋冬之間。動生凶邪沴氣。而使其流行。搗虛者。則唯風勢也已。凡人感召之初。不必以疫呼之。由病致死病氣。死氣滿於一室。無隙可避。沿門闔境。互釀之氣。上攪蒼天清淨之氣。下敗水土物產之氣。人在其中。親上親下。長幼傳染相似。謂之天行時疫。（或云天行時氣）即是傷風中之一證也。如素問所謂歲氣之說。及虞愽固執少陽陽明為因者。瑣屑支離。終無認真。此邦醫家。以其輕者名時疫。重者名傷寒。病家亦從此言。不可不改正焉。夭疫之來。自古有之。故周禮方相氏。儺以逐疫。而孔夫子朝服。亦不得已也。夫人受疫。素無定體。必有表裡上下之差。其邪之流脈。自似有小大者。大邪中強人。則重而易治。大邪中虛人。則急而難治。小邪中強人。則輕而易治。小邪中虛人。則緩而難治。若豆瘡者。雖一奇邪。亦當假風。況乎痢疾。痄腮。麻疹。水疱等病。皆屬外邪。而其實在風中矣。蓋疫名分類繁文無要。古今華人。滔滔皆是。約而言之。則不出於瘍疫腫疫之二也。又王叔和云。中而即病者。名曰傷寒。不即病者。其寒毒藏於肌膚。至春為溫病。至夏為暑病。（朱肱謂之晚發傷寒非也）　全是紙上空談。決非實詣。其誤肇於素問。而與王海藏謂新邪喚出舊邪者一般。若其寒毒延至秋冬。則變生何病何證乎。予未能預定其病機矣。既而有沽名網利者。曰某年某月。當患某病。某重而死。某輕而愈。湯藥一得。偶中飾言要譽。昧者稱奇。妄誕欺人。此良以道自任者之所憂也。又八十一難。以溫暑嵌在乎傷寒有五之中。而沿習至今。迴護分疏。俗諺所謂一盲引眾盲。籲。遂無不與之俱陷溺者鮮矣。近世稱瘟病者。本就溫字。或省水旁。從疒曰瘟。轉為疫病之義。　故有大頭瘟。蝦蟆瘟。瓜瓤瘟。疙瘩瘟。絞腸瘟。軟腳瘟等證　。（詳見於喻昌尚論篇。又陳言云。獄溫傷溫。基溫廟溫社溫山溫海溫家溫灶溫歲溫天溫地溫等名。愈多愈亂。竟無要領。皆杜撰之謬言。而未切認其因也耳。）雖其立名異狀。而要之本唯邪風耳。所謂溫病。亦春月之傷風。而醫籍別立瘟疫一門非也。若孫允賢合而論之。先得我心之同。然又中暑者。煩悶卒倒。及自汗口熱。神思倦怠等證。即中熱也。史云暍是也。仍為中寒相對之名。而於風濕毫無與焉。若夏暑冬寒犯之必中。不犯不中。譬猶火水犯之。必得焚溺。皆以非邪氣而為本時之令也。張機所謂中暑。皆是夏月傷風濕之證。而渾與張潔古。李杲輩之見奚擇哉。又富貴安逸之人。外苦炎燠。內啖生冷。多見怕熱。腹痛吐瀉霍亂等候。均是謂之中暑。然其因不一。尚有兼證。則非真中暑也。況有吳括蒼所謂冬天傷暑者乎。凡自溫至熱。自涼至寒。自是春夏秋冬之序。於其溫熱涼寒之外。天常有陽熱。地常有陰寒。人皆居地。而不居天。則雖夏月。亦當有寒濕之患。何獨於四季十八日始見中濕者耶。是以傷風中。或有帶山嵐瘴氣者。或有被雨露水濕者。或有野狐精物。亦乘虛以憑者。雖然病名概之舉風之一字者。則以其從外入內。莫有專於此者也。由是考之。邪氣所中。己亦不知暗襲潛侵。若有若無。而後隨見表裡諸證之類。今之風疫。比比而有然。則初起無漉淅惡寒者。四時通稱傷寒。恐不允當。故吾門姑以擬名傷風。學者宜再思之。</p>

<h1>六經辨解</h1>
<p>一元氣之在全軀也。表裡上下。璣旋輪轉。其保續之者。即水穀是也。水穀入胃。元氣併力。腐熟之。熏蒸之。而其氣之淳精華滋者。無處不到。到於血分。則赤變以生養其血。到於液分。則白變以生養其液。皮肉筋骨。亦能一本。而陰陽之道。行於其間。此乃生生自然之天則也。原夫背部為陽。腹部為陰。古今雷同之說。未嘗有悛改者也。以予觀之。則其所取象。似相違矣夫人南面而立。則東西南可見。而北獨不可見。取之一身。則左右前可見。而後獨不可見。是豈非腹部為陽。背部為陰之明驗乎。且人之一身。總而言之。則左右前後一氣貫之。而血液相與活潑運行。其所動者為陽。故耳目口鼻。必開於前。胸腹肉薄。近於胃府。而蒸騰之氣輸也強矣。譬諸春之相生也。雖一草一木。抽莩甲。吐花蕊。多自南以及北。是老子所謂萬物之抱陽也。其所靜者為陰。故脊膂肩胛。必峙於後。背腰肉厚遠於胃府。而蒸騰之氣輸也弱矣。譬諸冬之相賊也。雖高山深林。隕霜雪。改柯葉。多自北以及南。是老子所謂萬物之負陰也。故語云。君子不以言舉人。不以人廢言。非但老子之言。雖出揚墨之口。若其言之善者。則猶可取焉耳。大凡背者。表氣易虛。則初當觸風寒也。而何為陽之部位耶。腹者。表氣難虛。則初當逸風寒也。而何為陰之部位耶。若夫一切山精水怪。陰分為之揚氛起焰。而至於其陽分。則盡莫不潛伏屏息矣。不可妄別陰陽營衛。以說風寒先入之事。而腹背手足表氣不充。則風寒乘虛襲入者。此其必然也。於是乎太陽少陽陽明太陰少陰厥陰。手足十二經等說。附之好運氣數學者。而旁塗捷歧。不可惑矣。何者。四象配四時則可言。而配五藏則不足。故言六氣。水即太陰。而謂之太陽寒水。火即太陽。而謂之少陰君火。木未厥陰。金何陽明。加之任督二脈。奇經六脈等名。迂怪虛談。愈出愈亂。全非實際。得力之論。而無益乎醫事者也。畢竟人身一經絡耳。其中大經小絡。條理秩然。而上下內外左右支別。殆不異乎老絲瓜之纏紐如織者也。固無陰陽易位。府藏倒置之理。則不可每經有始終根結而止矣。故風寒一日受之。熱氣已成。吾身之一統。然則謂之傳足不傳手。傷足不傷手而可乎。抑又有別足保命之人。則其身當無足六經而患風寒乎。靈素作俑。惑世誣民。後來諸家。局於見聞。而不過持循講習於此耳。惜哉。戴思恭趙繼宗等一二人。僅有所疑。而終莫為之平反也。予亦以其所久慣呼難猝勇革務為風寒類證之暗號也。已有年矣。然張機猶似詭遇獲會者焉。況後世承其口氣從事於此。而經無六經傳變之可言。則其法不正。其治多誤耳。故予今不敢為牛後。姑設淺深閉脫四證。豈好辨哉。予不得已也。蓋倡明此道。實乏其人。即吾黨分處諸侯之國。亦不免調高寡和。反為俗人所嘲焉。若以好辨之嫌。而遂輟不言。則因循苟且。必不能自拔而日新也。彌以振起家言刖君子其或不罪乎。</p>

<h1>傷風大意</h1>
<p>風寒之傷人也。背腹手足。必無定規。而華佗獨立風寒漸入之說者。此為稍近理。是故病證未見有單經挨次相傳者。而況於李東垣王海藏所謂傳本巡越得度首尾等例乎。劉草窗則謂傳足不傳手。陶節庵則謂傷足不傷手。均是五十步笑百步之類。而殊不知人身本是一經絡也。（又吳綬所謂陽邪傳陰邪傳。及虞博引至人傳云。傳經專經即病郁病等各目。亦皆可謂鑿且悖理矣。）夫人行住坐臥之間。若正氣。邪氣卒然豆湊。直有正氣之所才蹶。則邪氣乘之。排衝散漫。以見緩急輕重之候矣。蓋傷風者。須要明辨三證。精察療體焉。一曰經證。此乃邪氣初入之門。分而言之。則有淺深二證也。其淺證。古謂之太陽病。（又與通體太陽不同）非也。此邪氣襲擊表氣。而裡氣將憤激之時。必見惡寒無汗頭痛脊強等候。宜用峻發之劑。即桂枝湯麻黃湯之類是也。其深證。古謂之少陽病。或半表半裡。非也。此邪氣滾動表氣。而裡氣已鬱蒸之時。必見寒熱嘔吐耳聾脅痛等候。宜用和解之劑。即青龍湯茈胡湯之類是也。二曰閉證。古謂之陽明病。或胃家實。（一曰脾約或曰入府）非也。此本元氣有餘之證。而熱勢爚亂表氣。逆聚裡氣。則腸胃中之燥結者。必見怕熱煩渴讝語發狂尿赤屎鞕等候。宜投湯藥。早以疏窕。元氣之將閉者。即白虎湯承氣湯。之類是也。譬如亢旱之燒空也。時亦甘雨沛然一下。則謁水之民。解慍開顏。忽至嘉潤再起桔苗矣。三曰脫證。古謂之太陰病。少陰病。厥陰病。（一曰傳經陰證。或曰直中陰證。）非也。此本元氣不足之證。而熱勢減陷表氣。攻奪裡氣。則腸胃中之疲乏者。必見目昏面煤舌卷囊縮厥冷自利等候。宜投湯藥。早以充張。元氣之將脫者。即理中湯四逆湯之類是也。譬如勁兵之破壘也。時亦救將憪然一走。則罷散之卒崛起潰圍。忽至凱旋。再得糧道矣。然脫證多是不治。而其閉證。間有可治者焉。意其人之為體也。一個殼子。包著府藏。若從殼子上論之。則頭面手足腹背以至耳目鼻口皮肉筋骨。皆是屬表。而從近殼子處論。則咽喉及膀胱腸中亦出表之路也。其直稱里者。五藏精神所居。乃去殼子俱遠。而不可令外邪深入耳。故經證輕者。為表之表。必有憎風噴嚏面色光浮聲重鼻塞時流清涕者。俗呼謂之冒風。（又云感冒）即傷風中之至淺者也。經證重者。兼里之表。多見咳痰嘔吐飲食難進自利秘結小水赤澀等一二證。此不可妄謂邪氣入里也。又閉證者。里之表面。熱之猛勢。多是吐下通劑之可治者也。又脫證者。邪氣在內。深窺奧室。腸胃亦虛。難吐難下。絕無邪氣可驅之去路。則難治之證。自可知也。喻昌一人已論。此理頗近。予之所嘗憶矣。然則風寒最宜臨輕早治。若非但諱病失宜。反有賴藥侵風。以得再感者也。如夫近世之人。不問長幼男女。固有疝症為之加工何也。府藏之間。各有脂膜絡繹接遞。而元氣血液。融活透徹者。此其人身內景之常資也。若脂膜中間。一生空氣。聚散來去。如雲如風。或宿上則為噫。嵌下則為屁。全非腹裡固有之物。潛消默化。不復存跡。有時怒張走痛無常。就其形樣稱疝稱痞。及瘕痃別名。而實一物也。又脂膜之外。瘀汁垽濁。日凝月積。成症成癖。隨其隙地。形樣不一。城狐社鼠。不可妄攻。皆是腹內禍胎之著且大者也。當時府藏無恙。反被元氣過化。畏縮逋竄。無復出頭。既而邪氣中經。腹氣多易震駭。疝症乘勢左右上下。支撐壓蕩。敝障氣隧。是以經證。或有似閉證者。或有似脫證者。或脫證有似閉證者。或閉證有似脫證者。後人於此等處。漫不加察。治方一差。暗伏危機。邪氣縱使僥倖退舍。荏苒時月。遺熱損體。漸成壞證。夫壞證者。多據醫藥誤治。是王綸所謂傷藥之類也。（韓秪和以壞病。別為一證。用羊肉湯。誤矣。戴思恭謂壞傷寒。亦名義不穩。）　或變痢。變腫。有死者。有生者。或日夜久咳。漏氣。精血失所憑持。肉削骨立。惡寒晡熱。自汗盜汗。吐痰咯血。有釀成勞瘵者。豈可不慨嘆哉。故有疝症蟲豸瘀血黴毒之人。其勢內外環攻夾擊。此非傷風本來之病。則表裡上下。俱見異狀。名謂之黨證。亦可。又有兼癇證。哮證。及滯食宿酒者。（朱震亨云。雜合邪。戴思恭云。夾食傷寒。皆此之類也。）當由病家傍人。詳問有他所害來路也否乎。然後針灸藥石。權以栽之。則自無一定不變之弊也。若欲從張機求如式見證。雖歷數十人之多。而恐首尾內外不相合焉。殊不知望聞問切。及腹背看法。一概施治。以托外邪。實博者之孤注耳。斯亦危矣。今之患傷風者。多系七分內傷。三分外感。是即內勢已成之後。微邪扇動。早以啟行者也。故初病脈細數。或腹皮急陷。中央如弦。或腹皮虛松。臍下無力。或手顫神倦。畏寒喜暗。或面唇青白。閉目懶言。皆是耽酒好內元氣虛憊之人。又在目語額瞬。旦夕名利之輩。而醫家呼為挾虛傷寒。或勞力感寒者。亦此類也。於是乎食養（凡谷菜外。雞卵鰻鱺海參干鰹鱒魚等物。烹飪。鹽梅不可。乖方尤忌生冷泥滯。即時難消者。故古有食醫。今委度。外。嗚呼。世人何不悟耶。）保城為一良策。不專以外邪為競主。喻諸墨汁。著染糊絹。雖使湯浣速陰墨痕。而紕薄絹地。揉摩擦破。遂為無用之棄物矣。又傷風寒病多有咽膈生痰者。必見咳喘乾嘔等證。猶疝症郁窒所致焉。其吐如墨如膿。如破絮。如桃膠。如蜆肉。然素問僅有咳涎嘔沫出青黃涕等語。張機傷寒論。亦稱涎沫。不用痰字。金匱要略。已出痰飲二字。全為腸間畜水。而非近世所謂稀清為飲。稠濁為痰者也。晉時淡痰通用。不為炎上之義。至宋漸指口中所吐之物耳。此古今之一疑城。蓋古少而今多耶。又孕婦傷風。甚則為熱。所動拒食嘔飲。終至並胎俱斃。必勿拘以重身。反害其母。有故無殞。何可懼乎。產後傷風。多有兼證。或惡露未盡。少腹頻痛。（俗雲兒枕痛）或蒸乳發熱。或身見紫疹。或經筋拘攣如痙狀者。不可輕視。以為常候也。又在小兒。則風寒易感易解。而晉以來。有謂變蒸者。非斯乳食蟲癖之所致。則傷風寒也。豈復有此先彼後。如一變生腎志。二變生膀胱。每變三十二日。及暗變等之理乎。後世謂八歲以下。無傷寒者。亦醫家妄言。不足深責焉。大凡風氣新解之後。不欲飲食。稀吐痰沫。羸瘦蓐臥。他無所苦。研米粥時少吃至於粳飯。嘔惡不納。或死或復舊者。極在蛔蟲積瘕之人。熊膽黑丸。可擇用之。強用湯藥。反助逆動。不用而死。雖用亦死。須不治。以待其自寧而可也。又愈後。向之傷處。元氣猶未健行。熟路逐旋因邪易入。而有其綿夾單衣脫換不慎者。則汗竅開泄。非但再感。或令邪風。數次襲之。而損虧元氣。以隕軀命。誠不可稍有疏虞矣。否則。口淡無味。需物消間。梳沐酒色。只管犯禁。有小才智。不能自克。食復。（或云發哺。素問云。病熱少愈。食肉則復。多食則遺。此其禁也。）勞復。（又有女勞復者。此非張機所謂陽易陰易之類。）比比皆然。故古人云。病加於小愈。豈虛語哉。靈素以來。論風寒者。或以衛營三焦牽合焉。或以日數藥品決裂焉。且駕合病並病。再經過經兩感傳屬等說。而其甚者。則落乎馬宗素運氣無稽之術矣。嗚呼。詭計左道。莫此為甚。索治之人。未有不因之而斃者也。學者若能以意隅反類推。則雜病等法。亦思過半矣。</p>

<h1>淺證治例</h1>
<p>凡經證淺者。宜峻發。不拘日數多少。不憑時令寒暑。惡寒、惡風、頭疼、身痛、腰脊俱強。或發熱脈浮緊而無汗者。頻進湯劑。衣被厚覆。早取津津微汗。以嚴大過之戒。一時間許。周身相潤。而目眥微黃者。邪氣無不消散矣。得汗之後。氣爽脈靜。必停後服。當防再感。素問所謂衰其大牟而止是也。若汗多者。用撲粉方。汗後壯熱。尤為凶候。（素問云。陰陽交之類也。）其服汗劑。人汗不出。而風圍自解者。亦間有之。若一時強汗之。致使如淋如洗。則胃氣反馳之於表分。而津液隨漏。飲食隨減。筋惕肉瞤。臥起不安。且恐卒然亡氣。以見寒慄沉昏叉手冒心等證。此非速用參薑湯。或參附湯。則元氣外去。而不能內返也。蓋桂麻二湯。總驅外邪。其中有少不同者。如桂本為解肌。不問有汗無汗。必治惡風。脈浮數者。而麻則為惡寒無汗頭疼項強脈緊而喘者設焉。桂麻服法。各啜熱粥以助藥力可也。何止桂乎。陶華云。春分後。忌桂麻。而以張潔古九味羌活湯代之者。籲。亦過矣。其始出於韓龐輩。謂張機之法。宜於昔。而不宜於今等語也。凡怔忡短氣。舌乾咽痛。脈細數無力者。不可任意發汗。多是三分外感。七分內傷。宜與柴桂合劑。及順氣加減方。又表證初兼吐瀉者。多在其人平素易下。及滯食者。不可妄謂邪氣入里也。又表證一衄。謂之紅汗。衄乃解者。不過少解其煩瞑。未能解深入之邪。若其邪有沉滯未盡者。則早須用汗藥。而免其再衄矣。又冒風輕證。宜生薑酒。不飲酒人。順氣劑外一味辣茄湯。一味生薑湯。連啜數甌。汗流徹體亦良。若邪入稍深。則嚏止涕干。伸欠不作。頭痛頓退。故有得是證者。則為邪未深入。若鳩尾之下。左右有動氣者。邪氣未解。宜施治方。病魔雖已消散。汗孔尚然疏豁。須在避風之處。靜養三五日。俟腠理致密。特忌上廁便利。室中宜用褻器。惟以衣衾遮護肩項。及膝為要。病者汗後。性急事冗起坐。衣服不顧調節。且侍養無人。不言其非。旋即衝風。能致復感。靈樞云。避風如避矢石者。此之謂也。凡瘥後十數日。或一月許。終不惺惺者。皆由疝症瘀血。相礙相激。而裡氣未得遽寧也。又口唇發小瘡。或身見風㾦㿔者。餘熱解時間亦有之。又病人雖大汗透寢具。亦有一時而止者。則反易解散。不可必以濈濈微汗為度。如夫近世所謂搐腳接汗。火攻蒸法。中寒之證臨機應焉。</p>
<p>桂枝湯</p>
<p>桂枝（二大圓匕）　芍藥（同上）　生薑（七分）</p>
<p>上三品。以水二合。煎取一合。去滓頓服。中病即止。凡處劑之時。邪氣易解者。小潤其間。難解者。小促其間。令藥勢相及耳。○予嘗有言此湯。今去甘棗二種者。本以桂皮中帶甘味也。但偏嗜甘味者。加甘棗亦無妨。不問男女老幼。多有疝症蛔蟲。強用味甘者。則恐胃中泥滯。或間致嘔吐不食之患焉。且如酒客病。胸中滿逆。則甘物不可用也。</p>
<p>麻黃湯</p>
<p>麻黃（二大匕）　桂枝（同上）　杏仁（七個）</p>
<p>上三品。以水二合。煎取一合。（去甘草加桂法）</p>
<p>生薑酒（今時之人。感冒必以姜酒取汗。其法生薑擦爛酒浸溫服。是即戴民恭為蠻法者。孫對微呼謂之神仙粥也。又此邦有呼為味噌酒者。此比之生薑酒。味和氣香。尤為有驗。其法味噌椒二品。以擂盆能擂了。放火燒鍋炒。上二品入清酒三五盞。以調和之者也。</p>
<p>一方（主治老幼男女傷風輕證）</p>
<p>茯苓　半夏　芍藥　桂枝　厚朴　橘皮　甘草　生薑</p>
<p>上八品。水二合。煎取一合。（藿香葛根升麻隨證出入加減。熱多加黃芩。煩渴或咳去桂樸。加果臝。咽痛去桂枝。加桔梗。痰喘加紫酥子。蘿蔔子。杏仁。枳實。皂莢。竹瀝類。一二品。小兒只小劑耳。）</p>

<h1>深證治例</h1>
<p>凡經證深者。宜和解。若自淺入深。則里已近災。未可宴然稱無病也。今之傷風。多見此證。邪氣正氣。排籠相持。各無進退勝負。苟非和解。則難求成矣。故後世趙繼宗論傷寒。不必傳經者。此為稍近理焉。惜乎。取用和解。禁吐汗下三法。其遺禍至今。猶未息也。元氣有餘者。必變閉證。元氣不足者。必變脫證。畢竟初起峻發不徹之為耳。或寒熱痰咳耳聾脅痛。或口苦舌乾不欲飲食。或渴不渴。嘔不嘔。或胸中煩。心下悸。或舌苔白黃。語聲嘶敗。或每日如瘧狀。脈自眩者。即是和解之證。宜用小柴胡湯。其間隨證以消息之。不可妄投大茈胡湯。將閉之時。此湯主之。若寒熱不解。喘咳乾嘔。或心下有水氣者。只宜和之。以小青龍湯類。若惡寒無汗。加煩躁者。即釀成閉證之時。須用大青龍湯。汗中兼折逼內熱勢矣。蓋舍汗下吐藥之外。均屬和解之劑。乃令襲入之邪。潛消嘿奪。今時動輒有黨證虛證者。必顧中氣以托外邪為佳。如拒藥惡食者。宜參薑湯。送下黑丸。凡淺深二證。解後不了了者。灸為善著膏肓。痞根及背九俞以下至十四俞。隨宜取以灼之。又疝症氣逆。手足易冷。腹中急痛。惡味苦者。先灸足三里等。兼用小建中湯。若有嘔則非建中所宜也。</p>
<p>小茈胡湯（茈胡　半夏　黃芩　人參　甘草　生薑）</p>
<p>大茈胡湯（茈胡　黃芩　芍藥　半夏　枳實　大黃　生薑　大棗）</p>
<p>小青龍湯（麻黃　桂枝　芍藥　五味子　半夏　細辛　乾薑　甘草）</p>
<p>大青龍湯（麻黃　杏仁　桂枝　石膏　甘草　生薑）</p>
<p>小建中湯（桂枝　甘草　生薑　芍藥　膠飴　大棗）</p>
<p>一方</p>
<p>大麥（二大匕）　半夏　茯苓（各一大匕）　芍藥　橘皮（各中匕）　生薑（七分）</p>
<p>上六品。以水二合。煎取一合。○凡傷風寒半解之後。疝症伺隙以進其身。故體疲脈小。他無所苦。惡食吐痰。屎多為閟。後世用補劑者。宜以此方治之。惟開胃散結。則餘證自退耳。有熱加芩。有瀉去芍。若拒藥汁者。亦多無不消受焉。</p>

<h1>閉證治例</h1>
<p>疏窕劑中。白虎主煩渴。承氣主燥屎。此其大要也。古人皆因脈證多辨裡熱里結。而不如予之以手按腹直決疏窕矣。何者。先以手指重按病人腹皮。其里有熱者。如火烘炙透於指中。而表熱者。舉身有熱。按處暫散也。若夫里結。必有裡熱。硬糞多少。阻住去路。臍下底如著餅。或如杏核雞卵狀者是也。此證白虎承氣可用之。無畏焉。若熱勢漫無可御。必有躁擾不寧。則傷爛腸之裡麵皮理。而圊血自瀉下也。雖使許水亦新汲井中者。頻與之無妨。且欲飲一碗。只與半碗。常以不足為善。不宜一飲而極意也。遂令病人恣飲過度。則為咳為喘為嘔為瀉為腫為悸為水畜疼為水結胸。故後世所謂以水噀面澆身。或置病人於水中等法。皆是醫中之操霸術者歟。又大渴讝語。罵詈。善惡不避親疏者。宜以辰砂加入水中飲之。西瓜梨漿糖水亦良。其引飲者。嫌冷。喜熱。多屬虛證。不可妄投白虎湯類也。或目赤眵凝。舌苔焦黑。（甚則芒刺干裂如炭）或口疳氣臭。鼻如煙煤。或紫斑赤疹。爪甲色紅。或上氣喘促。煩渴狂言。或棄衣揭被。揚手擲足。或逾牆上屋。如見鬼狀。或腋下掌心。濈濈汗出。或周身無汗。劑頸而還。或小水赤澀。如紅莧汁。或脈細數無力者。死。或遲緩。或沉而有力。有其上兼證者。早議疏窕攻擊之法。則十全之功。可自得矣。苟或當下而不下。則熱毒隨亂劇。津液隨枯。豈可一以下藥宜遲為說乎。然屢屢欲後。而弩睜傷氣者。則勿用承氣。及大茈胡湯類。先用紅夷所來導器。急射溫蜜。則腸中自得潤滑。而燥屎因是易下諸證一時俱解。張機蜜煎導法。或近來香油導法。亦可。此邦今有做紅夷法。以鍮銅造之者。若無此器。則未用煙管。留其吸嘴刺入患人肛門三四分。乃去大頭處。稀蜜微溫。加皂莢末。口含用力直吹送之。則津迴腸潤。久積之物。必盡出矣。極良法也。若堅滿曾無上廁之意。則於腸之下際為燥屎未逼者。是以蜜兌無益。下藥為捷。服後轉矢氣者。仍以炒鹽（燒塼並溫石能暖之亦同。）納夾絹袋。於其病人腹上。款款熨之。則藥氣通透。而屎自易便。故下後神清氣爽。身涼思食。皆愈之兆。如及腹滿身熱。譫語。不食。睡臥不寧。併發紫黑斑點。此當汗不汗。及已汗而熱不散。當下不下。及早下而熱乘虛之患也。而粗工動輒不知病人稍涉虛證。認其數日不更衣者。妄投駛劑。以致初硬後溏之證。貽害非細。甚可畏也。一種閉中稀糞。水自下者。此結糞外之傍流。而非胃虛腸虛之瀉。即腸胃外之宿水。偏滲於腸胃中。而融化燥糞之外面者也。故下物色焦。放屁酸臭耳。宜投小承氣加減。方脈證既決。又何難焉。凡如此者。多由誤治。且諸所飲下者。必曰先與小承氣。則恐有大下傷人也。又屎尿如常。少腹硬痛。其人喜忘者。有畜血。桃仁承氣湯類。須量性稟施之。又宿食凝痰。胸中作苦惱者。並宜吐之。熊膽汁。瓜蒂散。淡鹽湯。參蘆湯。與之。以指或雞翎探喉中。即吐出也。又伏飲之證。與五苓散。其人至於壞證煩渴。漸為水脹。須以吾門鯉魚煮汁治之。若惡其臭味。且不能多飲者。竟非此物所能治也。元氣強者。宜十棗湯。或大黃商陸芣苢通草牽牛子赤小豆等藥。隨證擇用。亦得有效。又白睛黃者。熱勢瀰漫。將發身黃。於五苓散方內。加茵陳蒿。或丹青樹葉。則黃從尿去下也。若皮膚薄縐。茶褐色者。多難治矣。大凡腹中時滿時減。或腹脹按之易軟。或臍左右有動氣。或小水清白數少。或連日不食。臍腹坦然無壅滯不通之狀者。皆不可下也。只戒其誅伐無過之害耳。</p>
<p>白虎湯（石膏　知母　粳米　甘草）</p>
<p>小承氣湯（大黃　厚朴　枳實）</p>
<p>大承氣湯（大黃　厚朴　枳實　芒硝）</p>
<p>桃仁承氣湯（大黃　芒硝　桃仁　桂枝　甘草）</p>
<p>五苓散（茯苓　豬苓　術　澤瀉　桂枝）</p>
<p>十棗湯（芫花　甘遂　大戟　大棗）</p>

<h1>脫證治例</h1>
<p>充張劑中。四逆主厥冷。理中主自利。些其大要也。詳言兼證。或畏寒喜暗。只懶見人。或語聲輕微。顏色青白。或頭重手顫。神倦氣怯。或眼陷鼻笑。舌卷囊縮。凡兼如此數項。生機尚存一線。故舍灸及參附等。更無他法。當籍者但得手足漸溫。自利隨止。脈微出者。乃可生也。或反目上視。瞪目直視。或面煤唇紫。爪甲青黑。或屎尿失禁。粒飲不入。或拈衣摸床。兩手撮空。或閉目踡足。啐啐不省。或口唇顫搖。頻嘔頻噦。或氣喘痰潮。脈細欲絕。此即脫之死證。或精神昏瞶。頭面喜扇。或無熱無渴。舌結黑苔。或膚冷。脈道獨見熱勢。或短氣淚出。面腹虛滿。或在婦人。則產後日近乳縮股慄者。皆是危篤之證。不可治也。凡瀉不但粥飲。直出藥汁。才吞入咽。汩汩從腸奔下如箭者。今用理中。原不為過。其水瀉之益劇者。則須投五苓散。及利水藥。反利膀胱不化之氣。譬猶通支河水道。以御急奔之勢。若小水淋澀。兩足浮腫。按之沒指。甚可畏焉。又戴思恭所謂利腸者。挾熱自利。糞色赤黃。及下腸間津汁垢膩。宜用順劑。尤禁澀藥。然至吳綬所謂漏底。則元氣暴脫。蚤以固腸為要。否則轉氣趨下。少腹自利。漫無止期。即桃花湯。及赤石脂禹餘糧湯類可也。又蛔厥者。時煩時止。未為死候。烏梅黑丸。諸殺蟲丸。宜以參薑湯送下之。若至胃中無穀氣。則謂藏結。亦同而不可治也。又除中者。元氣奔散。將假穀氣急哺卒啜自取暫快耳。若脈強數。眼中無精彩。而暗濁慘淡者。則一圍元氣。留連未斷。為之少延殘喘。必當屬纊以待斂矣。</p>
<p>四逆湯（乾薑　附子　甘草）</p>
<p>理中湯（人參　術　乾薑　甘草）</p>
<p>桃花湯（赤石脂　乾薑　粳米）</p>
<p>赤石脂禹餘糧湯（赤石脂　禹餘糧）</p>

<h1>脈論</h1>
<p>脈者。四診中之末。而其言不竢贅也。漢唐以來。方書取其一。舍其三。而一又未明。訛承掩藏。不肯勇革。是以本邦醫人。亦皆移於浮辭。可深嘆哉。凡四診之於病機也。彼此參伍。不可欠一。吾門於四診上。非惟加之按腹候背手足看法。且以鼻嗅知病人臭惡之氣。此可謂詳補古今未言及之缺典者矣。於是乎邪之淺深久近。證之輕重緩急。斷然無復可疑者也。夫脈元是血氣活潑充灌之勢。內非各開三口沸騰而出。則一藏一府。一陰一陽之患。更無顯於兩手掌後之理。而況有運氣支於分配。假託之可言者乎。何也。有一病人。於茲暗坐室中。穴壁出手。嘿然不謂形色性情。試使歷幾醫人。切其脈道。而預以辨識何病何證者。則予未之或聞也。意其持脈。即驗輕重生死之一事。而絕無某病見某脈之定規也。略可知矣。先以中指探掌後高骨上為關。得其關位。然後齊下鹽禁二指。若人臂長。則疏排其指。臂短則密排其指。輕手得之曰舉。重手得之曰按。不重不輕委曲求之曰尋。所謂三指停穩者。自然之行也。二指不足。四指有餘。仍執其中焉耳。古不稱關。總寓尺寸。故素問似以中附為關位。關之前。去魚際為一寸。而鹽指之所下。因名曰寸。關之後去尺澤為一尺。而禁指之所下。因名曰尺。原其關名肇於八十一難。此以三指揣按之次。猶兩州畫首之設一門也。又秦越人雖無明文。而不主喉傍跗上。獨取兩手掌後者。其見卓矣。蓋病脈之來。多不單至。然全屬大小浮沉遲數六脈。而不大不小不浮不沉不遲不數。調勻和緩。意思欣欣。難以名狀者。謂之平脈。故緊弦細伏促結等脈。今之病者。雖多有之。亦無不自六脈而推焉。其他華人。妄立脈名圖形韻語。以便記誦。而鹵莽滅裂。實不能自知者也。就其分呼。愈添蛇足。皆使後人以啟好異之心矣。方書論脈。非但七表八里九道之謬名。而如素問之鼓搏喘橫。張機之惵卑榮章綱損縱橫逆順。及奇經太素天和真藏關格妊娠。五運六絕七獨等脈。皆是無用餖飣。不堪其煩也。畢竟脈者。惟察數與不數耳。脈數俗呼謂之脈進。即病進也。殆可以一言蔽矣。不問男女老幼。不別外感內傷。若指下脈數。或兼見沉細。則輕者必重。重者必危。危者必死。甚可畏焉。又有脈傍行者謂之反關。或有一手反關者。或有兩手反關者。或有反關得病。則順行復原位者。至於其六脈之見則一也。此得之於有生之初。而不可必為病脈矣。大概有證脈相符者。有脈證相左者。或元氣頓虛之證。其初脈病也多。或元氣漸虛之證。其初脈病也少。故後世舍三取一之人。如夫脈之不始病者。飄然自外。而遂致篤證矣。嗚呼。學者朝研夕考。翻悟前迷。則可免乎連代沿習之歧蹊也。</p>
