<header data-type="book">
<h1>松崖醫徑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程玠</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1600">公元1600年</data></dd></div>
<div><dt>底本</dt><dd>《松厓醫徑》，1936年上海世界書局印行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910009839">國家圖書館掃描本</a>）；《珍本醫書集成》第五冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521055">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>古昔聖神。御極海內。熙熙焉如登春臺。人臻壽域。此曷繇故。太和融液。淪肌理。浹腸腎。六氣不侵而災眚不作。稟氣含生之屬。靡不百體堅強。而相愉佚於耄耋期頤。中世虐政日逞。上薄天和。而民乃有夭札疵殤。自非診脈候。治方藥。霜露之恙。何所底止。故扁鵲曰。越人非能生死人。此自當生者。越人能生之耳。古來醫術。自岐黃盧扁而下。如河間東垣丹溪仲景節菴錢薛諸氏。無慮數十家。大都神術妙解。幾於見垣。不可軒輊。而我歙宗人松厓公。夙蘊弘猷。蜚英甲第。抱康濟斯民之念。扶顛持危之情。肫肫無已。鐫有醫徑。探本推原。條分縷析。精入三昧。直與河間東垣諸君。並驅爭先。久而板蠡散遺。未廣其傳。予幡閱諸書中。得其存帙。撫髀嘆曰。何事使仁者寸腔惻隱。救世熱腸。不為弘敷哉。蓋徑者。徑約直捷之謂也。取途便而奏效速。用力微而成功博。矧其分門別類。有一病則次一脈。按一脈則著一方。病者千變萬態。而或湯或散或飲或丸。治法層見疊出。不必遠稽古籍。近搜旁門。惟按類推求。如持左券。夫天之生愛萬物。靡不欲其皆榮而無瘁。皆息而無消。然合闢相乘。時序必至。所恃有體天之心。培物之命。為醫藥者救療之。調攝之。令上蒼生愛常存。而王者熙皞不墜云爾。是書也。藥無不投之劑。人無不醫之疾。即素不諳醫者。時一展卷。治方犂然畢具。信乎初學之指南。涉海之斗杓。而窮原探本之捷徑乎。今天子方垂憫黎元。而萬方喜更生之會。得醫徑之書而廣傳之。是亦壽域春臺之一助也。予不事篡輯。不為較訂。但循其舊式而更新之。以俟同志者採焉。龍飛天啟乙丑春月之吉方叔居士程開社撰</p>

<h1>凡例</h1>
<p>一治病之要。不過切脈辨證處治三者而已。三者之中。又以切脈為先。苟切脈有差。則臨證施治。未免有實實虛虛之患。但脈有七表八里九道。形狀頗多。形同實異。未易盡之。令將各臟脈證。姑舉其要。括而為圖。雖不能強邃奧妙。以盡古人之本指。初學據此而行。由是而馴至乎古聖人之全書可也。</p>
<p>一脈名二十有四。非深於其道。及有所授受者。未易識也。先賢謂脈道雖多。而浮沉遲數四目。足以該之。然遲數之中。又有虛實冷熱之分。今以遲數屬浮沉。以虛實冷熱屬遲數。曰滑。曰實。曰緊。曰弦。曰洪。曰長。曰促。曰牢。曰動。實熱之候也。曰芤。曰微。曰緩。曰澀。曰伏。曰濡。曰弱。曰短。曰虛。曰結。曰代。曰細。虛冷之候也。今括為圖說。各具其證與處藥治病之方於下。</p>
<p>一以五臟及命門。分為六圖。各以腑附之。俱分浮中沉三候。浮沉之中。又分遲數平。遲數之中。又分虛實冷熱。至於中與平。則隨其高下而准。准於肌肉之上。為浮為表。肌肉之下。為沉為里。肌肉之間。為半表半裡。是之謂中。各以類相從。徐者為遲。疾者為數。無力者為虛。有力者為實。遲為陰。陰冷也。鬱則生熱。數為陽。陽熱也。鬱則生寒。初學據此。以求其病。亦庶幾矣。一古人方。固有為一病而設者。亦有數處用者。如四君子湯。可以補氣。可以調氣。又可以降氣。凡涉於氣證者。皆可用之四物湯。可以補血可以調血。又可以止血。凡涉於血證者。皆可用之前輩云。肝腎同歸於一治。愚謂心肺亦當同歸於一治。有如八味丸之類。既可以補腎。又可以補肝。金花丸之類。既可以治心。亦可以治肺。腎也。肝也。心也。肺也。既可以通治。而脾也。獨不可以通治乎。脾居中州。貫乎四臟。故善治四臟者。未有不治乎脾。此承氣湯之類。又能治四臟之邪者。為是故也。引而伸之觸類而長之。無不如是。故此一書。皆摘人所常用之方。互可相通者。填注於各證之下。編成序次。使人易於披閱。或病證時有出入。又當以意消息。互相假借而用可也。一如舊方分兩與今不同。謂一分者。即今之二錢半也。謂一字者。即今之二分半也。謂一升者。即今之一茶盞也。又皆總開若干。倉卒用藥。未免有布算之勞。今於各方之下。悉准今之權量。作一劑折算。</p>
<p>一人有大小老少。病有新久淺深。故醫者因之而酌為衡量。是以舊方湯液劑量。有用二三錢者。有用四五錢者。有用七八錢者至一兩者。用藥概用大劑。病者請藥。輒喜大劑。殊失古人之意。按局方中劫藥至多而劑量至少。如嘉禾散。隔氣散。以二錢為劑。五香散。秘傳降氣湯。以三錢為劑。他方中多不過四錢五錢而止。又按東垣脾胃論。於除風濕羌活湯。每服稱三錢。升陽散火湯。每服稱半兩。古人制方。或增損。或應病。率以輕劑為則。治之不愈。然後用重劑焉。於偏寒偏熱。峻下之方。既以中劑為率。又在用藥者臨時制宜以加減云。</p>
<p>一按仲景活人書。為醫方之祖。其用姜皆有分兩。及有不用姜者。今世藥劑。每服皆用姜三片。無服無者。故於用姜條下。必開其數。不開者不須用。於本方外加藥有合用姜者。又在臨時去取。一炮製藥料。自古各有法制。今不別立篇目。就於各方當制之藥下細注。臨用之際。必須依法制度。不可厭煩而輕率忽略以誤人也。</p>
<p>一云用水一盞。即今之茶盞也。約計半斤許。凡用水仿此為準。</p>
<p>一布列五臟命門六圖並系方之外。又立各證。散購諸家秘藏妙方。皆愚嘗試應效。備錄於後。欲使學者執衡之有權耳。諺云傳方優於施藥。同志君子。知忱之非沽名也歟。</p>
<p>一集是書外。又集脈法指明一帙。醫論集粹一帙。有志未梓。姑俟優暇云。</p>

<h1>卷上</h1>

<h2>雜病准傷寒治法</h2>
<p>人病不止於傷寒。而特立傷寒一法。凡有病而治之。皆當準此。以為之繩度也。</p>

<h2>傷寒傷風辨證</h2>
<p>傷寒無汗。惡寒面色慘。脈浮、緊。鼻壅閉而干。傷風自汗。惡風面色光澤。其脈浮而緩。鼻注清涕。凡遇新得之病。須要如此別之。</p>

<h2>傷寒證</h2>
<p>足太陽經。頭項痛。腰脊強。以少陽、陽明、太陽三經通論。則此經為表。以本經專論。又當分表之表、表之裡之異焉。此經受邪最先。外來之邪。莫甚於寒。寒不傷衛。而傷榮。衛不受傷則強。寒主收斂閉藏。所以無汗。無汗衛強。表之實也。太陽之經。有標有本。標病。則身熱。本病。則惡寒。凡傷寒邪。其候必頭項痛。腰脊強。脈浮疾。大略與內傷同。內傷則右關以上。脈大於左口腹為之不利。傷寒則左關以上。脈大於右。鼻息為之不利。一二日宜麻黃湯主之。此特舉其常數而已。然有一日之內。就傳經者。亦有二三日。只在一經者。不可越經而治。</p>

<h2>傷風證</h2>
<p>風。陽邪也。風喜傷衛。衛既受傷。則腠理為之不密。所以自汗而惡風。與寒邪傷人不同。寒為肅殺之氣。其色必慘。風為鼓舞之氣。其色必和。各從其類也。衛者。外衛也。對榮而言。為表之表。對無汗而言。為表之虛。脈來浮緩。然其所可對者。經絡標本而已。是以頭項腰脊俱疼。身表亦為之熱。一二日間。宜用桂枝湯主之。其傳經與傷寒無異。當以脈證辨之。但桂枝湯頗燥。非通於脈者。不可用也。遇此經症。莫若用易老神術湯。尤為穩當。</p>

<h2>傷寒見風傷風見寒</h2>
<p>太陽症。頭痛。腰脊強。發熱。惡寒。無汗。本傷寒也。又感風邪。其脈浮、緩。是傷寒見風也。太陽症。頭項腰脊俱疼。發熱。惡風。自汗。本傷風也。又感寒邪。其脈浮、緊。是傷風見寒也。舊用各半湯。今用九味羌活湯。</p>
<p>傷寒。傷風。始得之症不同。至傳經皆同。故此後混為一治。</p>

<h2>傷寒傷風傳至肌肉</h2>
<p>太陽經。傷寒。傷風。失於解表。則傳肌肉之間。肌肉之間者。衛榮之下是也。衛榮屬太陽之標。肌肉屬陽明之標。邪傳至此。當三二日發。其經夾鼻。絡於目眥額中。從頭下至足。行身之前。以太陽一經而論。則衛為表之表。榮為表之裡。以太陽少陽陽明三經而論。則少陽為半表半裡。陽明為表之裹。太陽為表之表也。去太陽未遠。其脈尚浮。已入陽明。其脈乃長。未至陽明之本。是以几几而熱目疼鼻乾。不得臥也。惡寒症已罷。不可純用辛熱之劑以發之。若誤用麻黃桂枝。則有發黃等症。葛根湯主之。</p>

<h2>傳筋</h2>
<p>風寒之襲人。有傷經之邪。有傳經之邪。其傷經之邪。在衛則桂枝湯。在榮則麻黃湯。其傳經之邪。在肌肉。則葛根湯。在筋。則用大青龍湯。高下淺深各不同。蓋榮衛為表之表。肌肉為表之裡。至於筋。邪入深矣。恃其未入腑。故亦屬表之裡焉。表症未已。故頭項腰脊強痛。身發熱脈浮緊。里症將作。故煩躁引飲。過飲則停水。所以大青龍湯內。用石膏以解煩躁。用杏仁以去水逆。其有身熱嘔噦。脈來浮而滑者。則用小青龍湯主之。</p>

<h2>傳少陽</h2>
<p>身之後屬太陽。身之前屬陽明。身之側屬少陽。邪之襲人。在太陽。則惡寒。在陽明。則惡熱。少陽居中。介乎二者之間。其經循脅絡於耳。始於目銳眥。終於竅陰交膻中。邪傳至此。一寒一熱。胸脅痛。耳聾。嘔逆。脈弦。太陽在標。可汗而解。麻黃湯是也。在本可滲而解。五苓散是也。陽明在標。可以解肌。葛根湯是也。在本可下而解。三承氣湯是也。獨少陽居中。不表不里。開竅於膽。有入無出。故禁發汗。禁下。禁利小便。唯宜和之以小柴胡湯。然此方冷熱均平。從乎中而治也。苟里證居多。表證居少。又非此方所能也。當治之以大柴胡湯。</p>

<h2>傳陽明經</h2>
<p>邪之傷經。有高下之不同。邪之傳經。有淺深之不一。高則桂枝湯。下則麻黃湯。淺則葛根湯。青龍湯。半深半淺。則小柴胡湯。深則大柴胡湯。三承氣湯。自柴胡湯以前。皆表之劑也。自小柴胡湯以後。皆下之劑也。未入腑發之。固有微甚矣。已入腑下之。豈無輕重乎。故大柴胡湯。治二分里一分表。小承氣湯。治痞實兩證。調胃承氣。治痞燥實三證大承氣。治痞滿燥實四證。各各不同也。苟不審而行之。不失之過。則失之不及矣。夫豈可乎。</p>

<h2>傳三陰經</h2>
<p>陽經有太陽、少陽、陽明。陰經有太陰、少陰、厥陰。治陽經順而易。治陰經逆而難。所以易者。以其治可得而一也。所以難者。以其治不可得而一也。何也陽經之邪。始寒而終熱。有一定之法。人所易知。陰經之邪。或寒而或熱。無一定之法。人所難知。苟無所辨。欲下之則有可溫之說以拒之於中。欲溫之。則有可下之說以撓之於內。二者交戰於胸中。殊無定見。豈不誤人性命乎。殊不知陰經之邪有二。有自陽經而傳來者。有不自陽經而直中者。自陽經而傳來。則為熱邪。不自陽經來而直中。則為寒邪。熱邪為病。在太陰。則腹滿。而嗌乾。在少陰。則口燥、舌乾、而渴。在厥陰。則煩滿而囊縮。脈皆沉疾而有力。是其經雖陰而證則陽矣。其少陰厥陰。雖有厥逆之症。而內則實惡熱而欲得涼也。寒邪為病。在太陰。則腹滿而吐利。不渴。在少陰。則吐利慾寐。足脛寒而小便色白。惡寒踡臥。或臍腹間痛。在厥陰。則手足厥冷。小腹痛。吐利而寒。脈皆沉細而無力。是其經既陰而症又陰也。其少陰。厥陰。雖有燥有煩乾渴之症。終是惡寒而大小便利也。二者之邪。其始之所得。既不同。其終之所至。亦不同。以此別之。若睹黑白。何難之有哉。大凡臨症在兩似之間。必須審其得病之始。自陽經傳來。或六七日。或十數日得。以上陽邪之候。必須下之。以承氣輩。不自陽經傳來。而直中之。初病之間遂得。以上陰邪之候。必須溫之。以四逆之輩。庶免實實虛虛之禍。而人無夭札之患矣。</p>

<h2>結胸</h2>
<p>（以下皆壞症也）</p>
<p>病屬於陽。脈必浮數動滑。當以汗解。醫反攻裡。裡虛則邪氣因之而入。動於膈中而為結胸。心下硬滿痛。脈沉疾有力。或如柔痓狀。或心中懊憹。或喘。或舌上燥。而或汗出際頸而還。或水結心下。其兼見之證雖不同。而為結胸之證則一。按之而痛。或痛甚。手不可近。太陽標發熱。與本經頭痛所傳者。大陷胸湯。太陽標與陽明經潮熱所傳者。大陷胸丸。太陽標與少陽經脅痛所傳者。小陷胸湯。臨症務要審詳。</p>

<h2>痞</h2>
<p>痞病屬於陰。脈必沉澀弱微弦。誤下之為痞氣。按之不痛。謂之虛邪。其狀心下妨滿。唯所兼之證不同。故所用之方。亦不得而同也。兼熱。則用黃連大黃瀉心湯。兼冷熱不調。則用黃連大黃附子瀉心湯。兼陰盛陽虛。則用半夏瀉心湯。甘草瀉心湯。生薑瀉心湯。蓋結胸之脈沉實。其病謂之實邪。故下之也急。痞氣之脈。關脈必浮。其病謂之虛邪。故下之也緩。彼用大黃則煎之。乃取其氣味厚。此用大黃則漬之。取其氣味之薄。雖然亦必脈疾而證熱。然後用此法。否亦不得以易而試之。其餘悉皆陰多陽少者。蓋為病發於陰。是以然也。名為瀉心。非瀉心火之熱。瀉心下之痞也。讀者毋以辭為主焉。</p>

<h2>蓄血</h2>
<p>陽明證。禁利小便。誤之則蓄血下焦。禁發汗。誤之則蓄血上焦。未至太陽本。五苓散不中與也。而與之。則亦成蓄血焉。外此又有不當汗而汗之。為衄血。為唾血。當汗而不汗之。為嘔血。為吐血。種種各異。蓄血上焦。必顯血證。不待辨而可明也。蓄血中下二焦。本證多有不顯。不容以不辨焉。大凡得此症候。小便自利。一也。大便褐色。二也。狂言見鬼。小便淋。三也。小腹滿痛。四也。其人如狂喜忘者。五也。不思水。或漱水不欲咽。六也。輕則桃仁承氣湯。重則抵當湯。在上則犀角地黃湯。涼膈散加地黃。中則桃仁承氣湯。下則生地丸。或抵當湯丸。務以一方對一病。毋容差失。</p>

<h2>發黃</h2>
<p>脾屬土。其色黃。其性濕。以是知黃為脾病也。濕氣在裡。復瘀熱於外。脾胃蒸濕不散而生。謂之濕黃。當汗不汗。當利小便而不利小便之過也。病屬陽症。而誤用溫藥而生。謂之干黃。濕黃則一身盡痛。色如黃金樣。小便不利。四肢沉重。渴不欲飲。干黃則一身不痛。色如橘樣。小便自利。四肢不沉重。渴而引飲。陽明則茵陳蒿湯。兼太陽。麻黃連翹赤小豆湯。兼少湯。柏皮湯。若夫陰證發黃。亦當有辨。引而伸之。觸類而長之可也。</p>

<h2>發斑</h2>
<p>（陰症附條下）</p>
<p>斑之為病。其候至重。有下之太早。熱氣乘虛入胃而發。有下之太遲。熱蓄胃中而發。有病屬陽。用熱過多而發。有冬月太暖。人受不正之氣。至長夏而發。凡得此症。切不可發汗。若誤汗。重令開泄。更增斑爛必矣。在肌葛根橘皮湯。在面。陽毒升麻湯。在身。陽毒玄參升麻湯。若黑斑。非藥所能也。辨此證。當於胸腹求之。若手足之間。或有蚊子所齧。則難憑據。果是斑證。病人兩手脈來浮洪緊數。必有所苦。其斑先紅後赤。果是蚊子所齧。病人兩手脈來恬靜和緩。必無所苦。其斑先紅後黃。以此求之不能遁其情矣。</p>

<h2>痓病</h2>
<p>（陰痓附條下）</p>
<p>痓病。屬太陽經。先曾中風。又感寒濕二氣而然。大發濕家汗。亦致此焉。發熱惡寒與傷寒似。但項背反強硬。口噤如癇狀。此為異耳。身熱足寒。項頸強急。惡寒面赤。目赤。頭搖。口噤。背反強者。屬太陽。頭低。視下。手足牽引。肘膝相構。屬陽明。一目或左右視不正。並一手一足搐搦者。屬少陽。無汗剛痓也。大黃加獨活防風湯。有汗柔痓也。桂枝加川芎防風湯。太陽兼陽明。防風當歸散。所謂汗之。止之和之。各隨其強。此之謂也。</p>

<h2>傷寒治法</h2>
<p>太陽標病。身熱。惡寒。頭痛腰背強。無汗。脈來浮緊。麻黃湯主之。</p>
<p>太陽經病。與陽明標病。鼻乾惡熱不惡寒。脈浮而長。葛根湯主之。</p>
<p>太陽經病。身熱。頭痛。項脊強。惡寒。煩躁飲水。脈浮緊。大青龍湯主之。</p>
<p>太陽經病。身熱頭痛。項背腰脊強。惡風。心下有水氣而嘔噦。脈來浮緊。小青龍湯主之。</p>
<p>以上四條皆表證發汗藥也</p>
<p>傷寒五六日。胸脅滿痛。喜嘔。往來寒熱。脈弦而數。少陽經病也。小柴胡湯主之。</p>
<p>傷寒至十餘日不解。胸脅滿痛而嘔。少陽經病也。日晡潮熱。大便結而燥。</p>
<p>脈數而頗沉。大柴胡湯主之。</p>
<p>目疼。鼻乾。發熱而不惡寒。大渴而大便未結。脈浮而長。白虎湯主之。</p>
<p>若脈來長而帶浮。背微惡寒。無他表證而渴者。陽明經病也。白虎湯加人參主之。</p>
<p>傷寒頭痛。項背腰脊強。惡寒。渴而飲水。小便不利。脈來浮緊。太陽本病也。</p>
<p>五苓散主之</p>
<p>以上五條和解藥也</p>
<p>身熱。鼻乾。身重。氣短。腹滿。潮熱。不惡寒。譫言。譫語。心下痞。胸滿。大便難。口渴。心煩。自汗。小便赤澀。脈沉而疾滑實長大。大承氣湯主之。</p>
<p>身熱。鼻乾。內熱。胃中燥。大便不通。小便赤澀。譫語。心下痞而實。腹中無轉矢氣。脈沉疾而有力。小承氣湯主之譫語。身熱。小便赤澀。渴而內熱。大便難而不滿。腹中有轉矢氣。脈沉而疾滑實大。調胃承氣湯主之。</p>
<p>以上三條入里下藥也前此傳陽經之邪。用藥法也。失治則傳入陰經。又具三陰經治例於後。</p>
<p>腹滿實痛。嗌乾。手足溫。脈沉細實有力。桂枝加大黃湯主之。</p>
<p>口燥。舌乾而渴。足脛冷。脈沉疾有力。大承氣湯主之。</p>
<p>煩滿而囊縮脈沉疾而有力。大承氣湯主之。</p>
<p>以上三條。三陰經下藥也。</p>
<p>心下結硬而痛。兼項背強。如柔痓狀。自汗直視。脈沉實而疾。大陷胸湯主之。</p>
<p>心下結硬而痛。兼懊憹不寧者。</p>
<p>心下結硬而痛。直至小腹。兼舌燥而渴。潮熱而煩者。</p>
<p>心下結硬而痛。兼頭汗自出。頭以下無之。小便不利。或發黃者。</p>
<p>心下結硬而痛。兼連胸脅滿痛。但微汗出而無大熱者。</p>
<p>心下結硬而痛兼喘者。</p>
<p>以上六證。俱大陷胸湯主之。若非脈沉實而疾。與大便閉結。用不可行也</p>
<p>心下結硬。按之而痛。兼有熱者。小陷胸湯主之。</p>
<p>心下結痛。無熱證而脈弱者。此寒實結胸也。枳實理中丸。主之若脈沉實者。三物白散主之。</p>
<p>以上八條。治結胸之藥也。</p>
<p>心下滿而不痛。半夏瀉心湯主之。</p>
<p>心下痞。按之濡。關上脈浮而疾。兼熱者。大黃黃連瀉心湯主之。</p>
<p>心下痞。兼惡寒汗出者。附子瀉心湯主之。</p>
<p>心下痞硬。胃中不和。兼乾嘔噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯主之。</p>
<p>心下痞硬。兼乾嘔心煩不得安者。甘草瀉心湯主之。</p>
<p>以上五條治痞之藥也</p>
<p>小便利而赤。大便下如豚肝黑色。即褐色也。其人如狂狀。桃仁承氣湯主之。</p>
<p>小便赤而利。其人慾狂。大腹滿痛。抵當湯主之。</p>
<p>身黃少腹硬。小便自利。其人如狂狀。</p>
<p>身熱而煩喜忘。大便黑色。</p>
<p>有熱小腹滿。小便大便自利。四證俱抵當湯主之。</p>
<p>血結胸中心下。手不可近。為中部蓄血。及無寒熱胸滿。飲水不欲咽。喜忘昏迷如狂二證。俱桃仁承氣湯主之。以上蓄血下藥也。必脈沉疾。方可投之。</p>
<p>胸中痛。手不可近。實者犀角地黃湯主之。若虛不能飲食。黃芩芍藥湯加生薑黃耆主之。以上必脈虛洪細數。方可投之。</p>
<p>以上七條治蓄血之藥也</p>
<p>小便不利。四肢沉重。似渴不欲飲。大茵陳湯主之。</p>
<p>小便不利。發熱而渴。茵陳調五苓散主之。</p>
<p>小便自利。四肢沉重。渴欲引飲。梔子柏皮湯主之。</p>
<p>寒熱往來。一身盡黃。小柴胡加梔子湯主之。</p>
<p>少陽太陽陽明三經合病。身熱不去。小便自利而煩。麻黃黃連連翹赤小豆湯主之。</p>
<p>將欲發黃。急用瓜蒂散搐入鼻中。出黃水可也。</p>
<p>以上六條。治黃之藥也。</p>
<p>傷冷中寒。脈弱氣虛。變而為陰黃者。理中湯加茵陳蒿主之。</p>
<p>小便不利。煩躁而渴。茵陳蒿湯加茯苓豬苓滑石當歸官桂主之。</p>
<p>煩躁喘嘔不渴。茵陳蒿湯加陳皮半夏白朮生薑茯苓主之。</p>
<p>四肢遍身疼者。茵陳蒿湯加附子甘草主之。</p>
<p>肢體逆冷。腰上自汗。茵陳蒿湯加附子甘草乾姜主之。</p>
<p>身冷汗不止者。茵陳蒿湯加附子乾薑主之。</p>
<p>服前藥未已。脈尚伏者。茵陳蒿湯加吳茱萸附子乾薑木通當歸主之。</p>
<p>以上七條。治陰症發黃之藥也。若脈微氣弱。俱依仲景三經藥方。加一味茵陳蒿。尤為穩當。</p>
<p>肌中斑爛。多咳而心煩。但嘔清汁。脈浮洪。葛根橘皮湯主之。</p>
<p>面上斑爛多。陽毒已成。腰背痛。煩悶不安。狂言見鬼。下利咽喉痛。下膿血。</p>
<p>脈浮大數陽毒升麻湯主之</p>
<p>身上斑爛多。熱甚煩躁。譫語喉痹腫痛。陽毒玄參升麻湯主之。</p>
<p>少陽陽明合病發斑。渾身壯熱。百節疼痛。升麻梔子湯主之。</p>
<p>通治斑症。消毒犀角飲子主之。或麻黃葛根湯至穩。</p>
<p>陰證有斑。陰毒升麻鱉甲湯主之。大建中湯尤妙。</p>
<p>以上六條。治斑之藥也。</p>
<p>項背反張。口噤發熱無汗。反惡寒。脈浮緊者。各剛痓。麻黃如獨活防風湯主之。</p>
<p>項背反張。口噤發熱。自汗不惡寒。脈浮緩者。名柔痓。桂枝加川芎防風湯主之。</p>
<p>汗下後不解。乍靜乍躁。目直視。口噤。往來寒熱。脈浮弦。少陽經病。小柴胡加防風湯主之。</p>
<p>發熱頭面搖。卒口噤。背反張。脈浮長。太陽兼陽明病。防風兼當歸散主之。</p>
<p>項背反張。脈沉而細。口噤。太陰痓也。心腹痛。桂枝加芍藥防風防己湯主之。</p>
<p>陰痓脈微弱。手足厥冷。筋脈拘急。汗出不止。頭脹目搖口噤。附子散主之。</p>
<p>陰痓手足厥冷。筋脈拘急。汗出不止。脈來微細。桂心白朮湯主之。</p>
<p>陰痓閉目。手足厥逆。筋脈拘急。汗出不止。脈來微弱。附子防風湯主之。</p>
<p>陰痓一二日。面腫手足厥冷。筋脈拘急。汗不出。陰氣內傷。脈來微弱。八物白朮散主之。</p>
<p>小續命湯。共治痓病之要藥也。須看虛實經絡加減用之。</p>
<p>以上九條。治痓之藥也。</p>
<p>虛邪傳於胸中。結痛懊憹不得眠。梔子豉湯主之。</p>
<p>身熱邪氣內傳。心中煩而不眠。梔子乾薑湯主之。</p>
<p>以上二條。治懊憹之藥也。</p>

<h2>傷寒壞病變證</h2>
<p>太陽標病中風。身熱頭痛。項強惡風。誤下之。前證仍在。加以自汗而喘。胃氣不和。脈浮而弱。桂枝加厚朴杏子湯主之。</p>
<p>太陽標本病。頭痛項強。自汗惡風。身寒。脈浮而微。誤汗之。遂漏不止。小便。</p>
<p>難而清。四肢拘急。難以屈伸。桂枝加附子湯主之。</p>
<p>太陽標本病。頭痛自汗惡風。誤下之。胸滿脈促。前證仍在。桂枝加芍藥主之。若脈微而遲。桂枝去芍藥加附子湯主之。</p>
<p>傷風誤汗之。脈浮而緩。反浮而洪。自汗。用桂枝不能止。形似瘧。一日再發。</p>
<p>桂枝二麻黃一湯主之。</p>
<p>太陽病。身熱頭痛。脈浮而緊無汗。醫發汗過多。其人叉手自冒心。心悸欲得按者。桂枝甘草湯主之。</p>
<p>傷寒已經發汗。表證未除。協熱而利。其脈尚浮。桂枝加人參湯主之。</p>
<p>太陽病。身熱惡風。項背強而脈浮。誤下之。腹滿痛而利。桂枝加芍藥湯主之。</p>
<p>腹滿而痛實。不自利。桂枝加大黃湯主之。</p>
<p>太陽標病。頭項腰背疼。脈浮緊。已發其汗。多漏不止。加喘而無大熱者。不可用桂枝。宜麻黃杏子甘草石膏湯主之。</p>
<p>厥陰標病。傷寒陰結。不大便六七日。大下之。結已去。脈不浮。反沉而遲。手足厥冷。咽喉不利。吐膿血。利不止。為難治也。若溫之則咽喉痛。唯麻黃升麻湯主之。</p>
<p>太陽脈浮。自汗惡風。傷寒誤下之。利不止。脈浮大而長。葛根加黃芩黃連湯主之。</p>
<p>太陽病傷寒。已發其汗而少瘥。過經十三日不解。胸脅滿而嘔。日晡潮熱。</p>
<p>大便結硬。柴胡加芒硝湯主之。</p>
<p>太陽經傷寒。誤下之。里未實。胸滿氣痞。小便清而不利。不當渴而湯。頭汗出。往來寒熱。柴胡桂枝幹薑湯主之。</p>
<p>太陽病傷寒。發汗後表解。其人臍下悸。欲作奔豚也。當散之。茯苓桂枝甘草大棗湯主之。</p>
<p>太陽經傷寒。吐下後心下逆滿。氣上衝胸。起則頭眩。及脈沉緊。而誤汗之。</p>
<p>以動其經。身如振搖。桂枝茯苓白朮甘草湯主之。</p>
<p>太陽經病傷寒。傳裡未實。反吐下之而不解。熱結於內而微惡風。脈尚浮。</p>
<p>白虎加人參湯主之。</p>
<p>傷寒表未解。當汗。誤下之。利不止心下痞。當以理中丸和之與理中丸益甚。邪在下焦也。赤石脂禹餘糧湯主之。</p>
<p>傷寒頭痛。當以藥汗之。誤以火迫切而致亡陽。必驚狂起臥不安者。桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。</p>
<p>傷寒自汗。當與桂枝湯。服藥後不解。胸中痞氣上衝不得息。寸脈浮。胸中有寒也。瓜蒂散主之。</p>
<p>傷寒發表攻裡。表證解。心下痞硬。噫氣未除。旋覆代赭湯主之。</p>
<p>陽明經病自汗。醫又攻之。小便當不利。今反自利。津液內竭。雖大便硬幹燥。宜蜜煎導之。</p>
<p>少陰病。下利咽痛。胸滿心煩。豬膚湯主之。</p>
<p>少陰病二三日。咽喉痛。甘草湯主之。不愈。桔梗湯主之。</p>
<p>少陰病咽中生瘡。言語聲不出者。苦參湯主之。</p>
<p>少陰病咽痛下利脈微。白通湯主之。利不止。厥逆無脈乾嘔者。白通加豬膽汁湯主之。</p>
<p>少陰病四五日。腹痛小便不利。四肢沉重。或咳或嘔。真武湯主之。</p>
<p>少陰病。三四日以上。經病漸好。但心中煩不得臥者。黃連阿膠湯主之。</p>
<p>病人手足厥冷。心下滿而煩。寸脈作緊。瓜蒂散主之。</p>
<p>厥陰四肢逆冷。心下悸者。內傷冷水故也。茯苓甘草湯主之。</p>

<h2>傷風附</h2>
<p>傷風面色光澤。發熱頭背腰脊疼。自汗惡風。脈浮緩。桂枝湯主之。非惡風不可用。設在兩疑之間。莫若用神術湯主之。</p>

<h2>辨傷寒潮熱形證死訣</h2>
<p>合汗不汗。令病人九竅閉塞而熱悶亂者死。</p>
<p>合瀉不瀉。令病人腹脹滿。身虛腫者。死。</p>
<p>合灸不灸。令病人陰疝凝。待上衝者。死。</p>
<p>不汗強汗。令病人鼻塞吐血。心肝受損者。死。</p>
<p>不瀉強瀉。令病人腸滑者。死。</p>
<p>不灸強灸。令病人火氣入腸。五臟受邪者。死。</p>

<h2>辨外證九候死訣</h2>
<p>患人頭有汗。身體不涼。焦躁極者。死。</p>
<p>患人自覺骨髓熱。口出氣粗。膚虛腫者。死。</p>
<p>患人腸脹大嘔者。死。</p>
<p>患人汗出如油轉出不流口噤戰者死。</p>
<p>患人先手足焦。口唇裂。舌黑鼻塞者。死。</p>
<p>患人心下悶。上氣喘粗。胃氣逆者。死。</p>
<p>患人汗不出。鼻塞不通者。死。</p>

<h2>入患門察形證訣</h2>
<p>凡人患入門到床前。病人自在冷笑者。死。</p>
<p>患人四肢沉重。昏咳噫慢者。死。</p>
<p>患人扶著。身重如石強叫者。死。</p>
<p>患人眼目盲。謂之神光脫者。死。</p>
<p>患人小腸榮衛不行胞絡者。死。</p>

<h2>六經分屬病證</h2>

<h3>心圖病證</h3>
<p><u>風</u></p>
<p>頭風熱　半身不遂　手足戰　風眩暈　肩胛風　拘攣頑麻疼　痛　癇證</p>
<p><u>寒</u></p>
<p>冷氣痛　寒干胞絡痛　不耐風寒</p>
<p><u>熱</u></p>
<p>五心煩熱　內熱</p>
<p><u>火</u></p>
<p>煎厥</p>
<p><u>氣</u></p>
<p>氣短氣促</p>
<p><u>血</u></p>
<p>吐血　咳血　咯血　嗽血　衄血</p>
<p><u>諸痛</u></p>
<p>胃口痛　胸背脹痛　肩背項痛　痞滿</p>
<p><u>虛</u></p>
<p>虛煩　不能勞役　心懸如飢　盜汗</p>
<p><u>嘔</u></p>
<p>兀兀欲吐　嘔噦</p>
<p><u>瘧</u></p>
<p>乾渴　瘡瘍　疥癬　丹瘭癮疹　口舌瘡</p>
<p><u>眼目</u></p>
<p>弩肉爛弦　翳膜　昏朦</p>
<p><u>悶亂</u></p>
<p>神不寧</p>
<p><u>積</u></p>
<p>伏梁</p>

<h3>肝圖病證</h3>
<p><u>風</u></p>
<p>牙關不利　半身不遂　癱瘓　中風　面熱頭大腮腫</p>
<p><u>寒</u></p>
<p>冷淚　小腹冷痛　厥煎</p>
<p><u>濕</u></p>
<p>通身骨痛</p>
<p><u>熱</u></p>
<p>熱氣上攻頭目　發熱日間潮作</p>
<p><u>火</u></p>
<p>目暴發赤腫</p>
<p><u>痿</u></p>
<p>筋脈緩弱　筋弛無力　四肢不收</p>
<p><u>痰</u></p>
<p>痰氣壅塞　腹中漉漉有聲</p>
<p><u>氣</u></p>
<p>腹脅虛脹　小腹脹滿</p>
<p><u>血</u></p>
<p>脅下有死血痛　左邊發熱死血停滯</p>
<p><u>諸痛</u></p>
<p>心下滿痛　脅痛應心背　疝氣　脅肋走痛</p>
<p><u>積</u></p>
<p>痃癖　癖積發熱</p>
<p><u>虛</u></p>
<p>頭暈　夜夢鬼交</p>
<p><u>目</u></p>
<p>爛弦倒睫　常欲瞑目</p>
<p>腎圖病症</p>
<p><u>虛</u></p>
<p>腰腿膝無力　遺精淋瀝白濁　陽事不舉　少精　眼黑昏暗</p>
<p>勞則小水赤　精滑不耐久　咯血困乏腳弱　手足酸盜汗</p>
<p><u>遺精白濁</u></p>
<p>小便如泔精出如膏　得熱則夢遺　精脫白濁</p>
<p><u>氣</u></p>
<p>冷氣衝逆　小腸氣</p>
<p><u>脹滿</u></p>
<p>小腸脹滿　小腹痛滿　小腹滿　小腹堅硬</p>
<p><u>諸痛</u></p>
<p>骨節腰疼　背膊痠疼足麻　偏墜寒疝　小腹冷痛　耳重偏正</p>
<p>頭風　腰痛</p>
<p><u>淋</u></p>
<p>癃閉　小水赤　尿血　小水頻</p>
<p><u>積</u></p>
<p>痃氣癥瘕　奔豚氣</p>
<p><u>耳</u></p>
<p>耵耳　耳鳴</p>
<p><u>腎泄</u></p>

<h3>肺圖病證</h3>
<p><u>風</u></p>
<p>垂肩風　頑麻</p>
<p><u>寒</u></p>
<p>痰嗽　怯寒　牙冷痛　內熱外熱</p>
<p><u>暑</u></p>
<p>發熱悶亂</p>
<p><u>熱</u></p>
<p>煩躁　四肢熱　骨蒸　咽喉干　皮膚乾燥</p>
<p><u>火</u></p>
<p>大便不通　胸中熱壅</p>
<p><u>痰</u></p>
<p>嘈雜吐水</p>
<p><u>氣</u></p>
<p>胸中氣滯　氣逆　氣促　上焦脹　熱喘</p>
<p><u>虛</u></p>
<p>自汗　氣短　瘦弱　寒熱交作　肺痿　津液不到咽</p>
<p><u>咳嗽</u></p>
<p>嗽　嗽膿血　喘嗽</p>
<p><u>嘔逆</u></p>
<p>嘔逆吞酸</p>
<p><u>喉</u></p>
<p>喉腫痛</p>
<p><u>積</u></p>
<p>上脅積氣</p>
<p><u>瘡</u></p>
<p>丹疹　瘡癢　疥癬</p>

<h3>脾圖病證</h3>
<p><u>暑</u></p>
<p>吐瀉喘渴燥　熱煩</p>
<p><u>熱</u></p>
<p>上飲下便　夜間發熱　黃疸　氣喘煩熱欲吐　大便不通熱壅　消中</p>
<p><u>虛</u></p>
<p>臟腑不調　口失滋味　不能動作　不思飲食　精神短少　發熱好眠</p>
<p><u>脹滿</u></p>
<p>浮腫　氣不升降　腹脅脹痛　水腫皮黃　心腹脹滿</p>
<p><u>傷食</u></p>
<p>傷冷食　宿食不化</p>
<p><u>嘔吐</u></p>
<p>咳逆噦　吐逆</p>
<p><u>吐瀉</u></p>
<p>腹中不實常瀉　吐水　瀉下完穀　脾泄　反胃　暴泄　霍亂　乾霍亂</p>
<p><u>痢</u></p>
<p>噤口痢　赤白痢　裡急後重</p>
<p><u>瘧</u></p>
<p>瘧　痎瘧</p>
<p><u>寒熱</u></p>
<p>肌熱怯寒　寒熱身體消瘦</p>
<p><u>積</u></p>
<p>當臍有積</p>
<p><u>諸痛</u></p>
<p>四肢痛　骨節煩疼　牙痛　腹痛膚泠</p>
<p><u>痰</u></p>
<p>嘈雜噁心　寒痰停聚</p>
<p>口唇生瘡　牙齒宣露</p>

<h3>命門圖病證</h3>
<p><u>冷</u></p>
<p>下元冷　小腹下冷衝心　背惡寒</p>
<p><u>熱</u></p>
<p>自汗發熱　小水熱痛　腳熱紅腫　足下熱　小水赤五心煩熱</p>
<p><u>氣</u></p>
<p>癖氣　氣上嘔逆</p>
<p><u>虛</u></p>
<p>羸弱少力　脫精　面色痿黃　陰虛發熱　精神短少　昏花耳　鳴寐汗多驚　下虛頭面如火　唇口乾燥　痿軟勞瘵</p>
<p><u>火</u></p>
<p>足下有火衝入小腹昏冒</p>
<p><u>水氣</u></p>
<p>腰腳浮腫　身體沉重　臍內聲吼大小便不利　臍下動悸　下黑糞　小水遺瀝　小水不通</p>
<p><u>多吐痰</u></p>
<p>臀尻足腿瘡腫</p>

<h3>心部證治之圖</h3>
<p>〔心經〕手太陽手少陰〔引經藥〕藁本獨活〔臟腑平脈〕手小腸脈洪大而緊手心經脈浮大而散</p>
<p>〔虛〕補藥。當歸熟地黃　紫石英　〔實〕瀉藥。山梔子　赤茯苓</p>
<p>〔冷〕溫藥。桂心　細辛　〔熱〕涼藥。黃連　生地黃</p>
<p>手太陽〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○盜汗汗出過多〔大建中湯〕四〔小建中湯〕二十四○肩背無力不能久坐〔十全大補湯〕二十七○氣短氣促上焦虛〔十全大補湯〕二十七○七情內傷冷氣痛痰塞咽〔四逆湯〕七〔四七湯〕四十二（熱）○寢時頭汗五心煩熱〔十全大補湯〕二十七○虛煩口乾〔十全大補湯〕二十七〔實〕有力（冷）○風氣拘攣手足頑麻不仁〔烏藥順氣散〕九十三〔八味順氣散〕九十七○心下胃口痛滿悶〔草豆蔻丸〕一百三十八（熱）○頭痛風熱耳聾〔徹清煎〕八十六○肩背項骨疼〔通氣防風湯〕六十四</p>
<p>手太陽〔浮〕下指即見〔數〕一息六至以上〔虛〕無力（冷）○皮膚灼熱不耐風寒〔補中益氣湯〕六十一（熱）○風眩頭暈〔川芎散〕一百十四○手足戰掉語言謇澀神昏氣亂〔羌活愈風湯〕二十九○血腥氣吐血咳血咯血〔易老門冬飲〕七十九〔實〕有力（冷）○疥癬瘡腫丹瘭癮疹〔復元通氣散〕一百十一○瘧病〔小柴胡湯〕十四○半身不遂口眼喎斜〔省風湯〕三十九（熱）○弩肉侵睛赤眼爛弦〔散熱飲子〕八十一○口舌生瘡〔導赤散〕八十八○瘧疾發渴〔小柴胡湯加天花粉〕十五○口乾舌苦悶亂煎厥〔導赤散〕八十八○胸中熱悶兀兀欲吐〔涼膈散〕一百九</p>
<p>〔心〕小腸附〔中〕微按而見〔平〕四至五至</p>
<p>手少陰〔沉〕重按始見〔遲〕一息一至二至三至〔虛〕無力（冷）○多言則咳氣短神昏〔十全大補湯〕二十七○健忘神不寧〔歸脾湯〕四十六○不能勞役手足痠軟動作多汗肌熱〔十全大補湯〕二十七（熱）○翳膜遮睛視物昏花〔蟬花無比散〕九十九〔實〕有力（冷）○伏梁積〔助氣丸〕百二十六○胸中如刀刺痛〔七氣湯〕三十五〔四七湯〕四十二○胸背脹痛不能轉側〔七氣湯〕三十五○氣逆嘔噦飲食不下〔蘇子降氣湯〕三十○心下痞滿〔半夏瀉心湯〕一十三（熱）○垂肩風肩痹疼〔通氣防風湯〕六十四○咽乾津液少〔八物湯〕五十五</p>
<p>手少陰〔沉〕重按始見〔數〕一息六至以上〔虛〕無力（冷）○手足戰筋惕肉瞤似風〔十全大補湯〕二十七（熱）○心懸如大飢之狀〔平補鎮心丹〕百五十七○嗽血面赤〔易老門冬飲〕七十九○衄血〔犀角地黃湯〕二十二〔實〕有力（冷）○客寒干胞絡痛而嘔〔七氣湯〕三十五（熱）○頭面如火燎視物昏矇〔涼膈散〕百九○五癇〔硃砂滾痰丸〕一百二十五○內熱引飲〔涼膈散〕一百九○鬱冒悶亂〔金花丸〕一百四十五</p>
<p>〔婦人〕諸病屬心准男子治　〔經事〕又見肝　〔血崩〕見肝腎</p>
<p>〔小兒〕諸病屬心准大人治　〔驚熱〕又見肝</p>

<h3>肝部證治之圖</h3>
<p>〔肝經〕足少陽足厥陰〔引經藥〕柴胡柴胡〔臟腑平脈〕膽脈弦大而浮肝脈弦而長</p>
<p>〔虛〕補藥　當歸阿膠酸棗仁苦參　〔實〕瀉藥。桃仁柴胡青皮</p>
<p>〔冷〕溫藥。吳茱萸　山茱萸　〔熱〕涼藥。龍膽草</p>
<p>足少陽〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○脅痛應心痛〔木香順氣湯〕六十○腹脅虛脹〔當歸四逆湯加吳茱萸〕六○目迎風冷淚〔明目細辛湯〕七十三（熱）○赤眼爛弦捲毛倒睫〔神效黃耆湯〕七十五〔實〕有力（冷）○風寒稽留痰氣壅塞〔青州白丸子〕百三十一○脅下痛〔草豆蔻丸〕百三十八〔丁香楝實丸〕百三十九○牙關不利四肢拘急〔小續命湯〕九○半身不遂〔小續命湯〕九○脅下痃癖起自小腸〔肥氣丸〕百四十九〔助氣丸〕百二十六（熱）○筋痿骨痛五心熱〔十全大補湯〕二十七</p>
<p>足少陽〔浮〕下指即見〔數〕一息六至以上〔虛〕無力（冷）○筋弛無力眩暈〔十全大補湯〕二十七（熱）○筋軟不能行履〔清燥湯〕七十一○目睛不和頭重暈〔地黃丸〕百十八○左癱右瘓〔補陰丸〕百五十一〔羌活愈風湯〕二十九〔四白丹〕百六十四〔二丹丸〕一百五十六〔實〕有力（冷）○通身骨節疼痛〔羌活勝濕湯〕六十九○心下滿痛或寒或熱〔小柴胡湯加青皮枳實山梔〕十六（熱）○目暴發赤腫〔洗肝散〕九十○脅下有死血痛〔犀角地黃湯〕二十二○中風眩暈語言謇澀牙關緊急便溺阻礙〔防風通聖散〕百五</p>
<p>〔肝〕膽附〔中〕微按而見〔平〕四至五至</p>
<p>足厥陰〔沉〕重按始見〔遲〕一息一至二至三至〔虛〕無力（冷）○脹逆拘急面黑筋露〔當歸四逆湯〕五○腎不足精自出夜夢鬼交〔八味丸〕百十九○筋脈弱不能勞視物不明陰痿陰囊濕癢〔八味丸〕百十九○身體痛如被打〔真武湯〕二十一○小腹結硬冷氣衝上〔當歸四逆湯加吳茱萸〕六（熱）○身體重痛〔羌活勝濕湯〕六十九〔實〕有力（冷）○小腹脹滿〔吳茱萸內消丸〕百二十七○疝氣〔蟠蔥散〕九十四〔鹽煎散〕九十一（熱）○身體左邊頭面熱死血停滯〔桃仁承氣湯〕二十三〔左金丸〕百四十七〔瀉青丸〕百五十三○痞積發熱痛吐酸醋〔左金丸〕百四十七足厥陰〔沉〕重按始見〔數〕一息六至以上〔虛〕無力（冷）○伏陰在內常欲閉目〔四物湯加桂〕五十一（熱）○四肢不收不能起於床手足漸麻〔八物湯〕五十五○〔大秦艽湯〕四十○瘧疾發作吐逆煩渴〔小柴胡湯〕十四〔實〕有力（冷）○脅下走痛手不得近〔小柴胡湯加枳殼〕十七○懸飲支飲腹中漉漉有聲逆氣〔二陳湯加黃連〕四十五（熱）○左邊瘀血發熱日間靜晚下甚〔防風通聖散〕百五○客風面熱頭大腮腫〔防風通聖散〕百五○熱氣上攻頭目赤腫痛苦〔洗肝散〕九十〔消毒散〕一百</p>
<p>〔婦人〕諸病屬肝准男子治　〔經事〕又見心腎命門　〔帶下〕又見腎命　〔血崩〕又見心腎命　〔癥瘕〕又見腎命</p>
<p>〔小兒〕諸病屬肝准大人治　〔驚風熱〕又見心</p>

<h3>腎部證治之圖</h3>
<p>〔腎經〕足太陽足少陰〔引經藥〕藁本羌活獨活肉桂〔臟腑平脈〕膀胱脈洪滑而長腎脈沉而軟滑</p>
<p>〔虛〕補藥。熟地黃葫蘆芭五味子山茱萸　〔實〕瀉藥。豬苓澤瀉</p>
<p>〔冷〕溫藥。附子吳茱萸肉桂益智　〔熱〕涼藥。知母黃柏地骨皮</p>
<p>足太陽〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○下虛陽事不舉〔還少丹〕百五十八○冷氣衝逆吐痰不已〔黑錫丹〕百五十九○腰腿膝無力陰囊濕癢〔八味丸〕百十九〔牛膝丸〕百四十六○臟寒真氣不足少精〔還少丹〕百五十八○夜夢鬼交遺精淋瀝白濁怯勞〔巴戟丸〕百二十（熱）○勞則小水赤少澀滯〔地黃丸〕百十八〔八味丸〕百十九○小便色如米泔精自出如脂膏〔小菟絲子丸〕百三十〔八味丸〕百十九〔實〕有力（冷）○腰膝痛〔牛膝丸〕百四十六○小腹內脹痛〔木香蹋氣丸〕百四十〔丁香楝實丸〕百三十九（熱）○小便赤澀不通〔六一散〕九十六○便毒疳瘡〔六一散〕九十六〔滋腎丸〕百五十二</p>
<p>足太陽〔浮〕下指即見〔數〕一息六至以上〔虛〕無力（冷）○眼赤暗少精神〔補益腎肝丸〕百十七（熱）○得熱則夢遺精自出〔三才封髓丹〕百六十三○背膊痠疼足麻痹〔大羌活湯〕七十二○咯血困乏無力〔四物湯〕五十〔四物湯加炒蒲黃〕五十四〔地芝丸〕百四十八〔實〕有力（冷）○上焦虛耳作膿〔補益腎肝丸〕百十七（熱）○淋癃閉〔六一散〕九十六〔導赤散〕八十八○陰卵腫大小色變〔滋腎丸〕百五十二○小水數而赤甚則尿血膀胱蓄熱溺則莖中痛〔四物湯加木通〕五十二</p>
<p>〔腎〕膀胱附〔中〕微按而見〔平〕四至五至</p>
<p>足少陰〔沉〕重按始見〔遲〕一息一至二至三至〔虛〕無力（冷）○腳弱脛酸〔無比山藥丸〕百十六○腰痛〔青娥丸〕百十五○精氣不足及不固〔離珠丹〕百六十一〔金鎖鎮元丹〕百六十○小腹虛寒作痛〔沉香鹿茸丸〕百二十八○腎泄〔無比山藥丸〕百十六（熱）○耳重偏正頭疼〔補益腎肝丸〕百十七○白濁〔巴戟丸〕百二十〔實〕有力（冷）○偏墜寒疝〔天真丹〕百六十二○陰疝痃氣癥瘕〔蟠蔥散〕九十四〔鹽煎散〕九十一○石腎〔丁香楝實丸〕百三十九〔川苦楝散〕百十二○小腸氣〔川苦楝散〕百十二（熱）○足下時熱如火表則惡寒〔黃連黃柏知母丸〕百五十五</p>
<p>足少陰〔沉〕重接始見〔數〕一息六至以上〔虛〕無力（冷）○耳作蟬鳴鬚髮脫落〔八味丸〕一百十九（熱）○手痠腳軟盜汗〔地黃丸〕百十八○精滑不耐久〔三才封髓丹〕百六十三（實）有力（冷）○奔豚氣〔奔豚丸〕百五十四○小腹滿痛應心背〔川苦楝散〕百十二（熱）○小腹滿上支兩脅痛〔四物湯加青皮〕五十三○小水頻而少或赤澀〔導赤散〕八十八○小腹堅硬關格不通〔茯苓琥珀湯〕七十六</p>
<p>〔婦人〕諸病屬腎准男子治　〔經事〕又見心肝命　〔帶下〕又見腎　〔血崩〕又見心肝命</p>
<p>〔小兒〕諸病屬腎准大人治　〔疳〕又見命</p>

<h3>肺部證治之圖</h3>
<p>〔肺經〕手陽明手太陰〔引經藥〕葛根白芷升麻蔥白〔腑臟平脈〕大腸脈浮短而滑肺脈浮澀而短</p>
<p>〔虛〕補藥。阿膠天門冬麥門冬人參五味子　〔實〕瀉藥。桑白皮杏仁</p>
<p>〔冷〕溫藥。白豆蔻藿香　〔熱〕涼藥。黃芩石膏</p>
<p>手陽明〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○腠理疏自汗〔十全大補湯〕二十七〔黃耆建中湯〕三〔桂枝湯〕一○水氣氣短不足以息〔四君子湯〕四十七（熱）○虛熱或寒熱反作〔十全大補湯〕二十七〔實〕有力（冷）○背膊勞強垂肩風〔羌活勝濕湯〕六十九○胸中壅滯〔溫中湯〕五十六○寒痰作嗽〔參蘇飲〕八十五〔二陳湯〕四十四〔理中丸加半夏〕百二十三（熱）○胸中痰火嘈雜吐水〔二陳湯加黃連〕四十五〔小半夏湯〕二十六</p>
<p>手陽明〔浮〕下指即見〔數〕一息六至以上〔虛〕無力（冷）○皮膚瘡癢得湯則快〔敗毒散〕八十九（熱）○虛喘氣促〔易老門冬飲子〕七十九○皮膚不仁丹毒癮疹〔大羌活湯〕七十二○傷暑發熱嘔吐悶亂〔清暑益氣湯〕六十七○咳嗽多痰吐〔參朮調中湯〕七十四○咽喉干〔麥門冬飲子〕八十〔實〕有力（冷）○嘔逆〔小柴胡湯加竹茹〕十九○丹毒疥癬痛癢〔敗毒散〕八十九〔治風煎〕八十七（熱）○喉腫痛〔甘桔湯〕三十四○胸中出血煩躁〔犀角地黃湯〕二十二　</p>
<p>〔肺〕大腸附〔中〕微按而見〔平〕四至五至</p>
<p>手太陰〔沉〕重按始見〔遲〕一息一至二至三至〔虛〕無力（冷）○皮毛聚而落瘦弱〔十作大補湯〕二十七○少氣肺痿〔四君子湯加五味子〕四十八○膚冷怯寒〔桂枝湯加人參〕二（熱）○四肢困熱〔十全大補湯〕二十七○津液不到咽〔四君子湯加五味子桔梗〕四十九〔實〕有力（冷）○右脅有積〔助氣丸〕百二十六○上焦寒濁氣在上䐜脹〔木香順氣湯〕六十○大寒犯腦牙齒痛〔白芷散〕百七（熱）○皮膚不仁頑麻〔疏風湯〕六十三</p>
<p>手太陰〔沉〕重按始見〔數〕一息六至以上〔虛〕無力（冷）○嘔逆吞酸〔小柴胡湯加吳茱萸〕二十（熱）○骨蒸勞瘦咳嗽潮熱面赤〔黃耆鱉甲散〕百四○嗽濃血痰中帶紅絲如線成痿〔補肺散〕九十八〔麥門冬飲子〕八十○皮膚乾燥日漸黑瘦〔麥門冬飲子〕八十〔實〕有力（冷）○內熱外寒〔大羌活湯〕七十二（熱）○喘嗽〔瀉白散〕百二○熱喘〔金花丸〕百四十五○胸中熱壅喘息粗大〔涼膈散〕百九</p>
<p>〔婦人〕諸病屬肺准男子治</p>
<p>〔小兒〕諸病屬肺准大人治</p>

<h3>脾部證治之圖</h3>
<p>〔脾經〕足陽明足太陰〔引經藥〕葛根升麻升麻芍藥〔腑臟平脈〕胃脈浮長而滑脾脈緩而大</p>
<p>〔虛〕補藥。人參黃耆白朮　〔實〕瀉藥。大黃芒硝赤芍藥</p>
<p>〔冷〕溫藥。乾薑吳茱萸益智仁　〔熱〕涼藥。石膏芒硝</p>
<p>足陽明〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○口失滋味不美寒熱〔理中湯〕八○腹中不實常瀉水穀〔理中丸〕百二十二○冷瀉腹疼〔附子理中丸〕百二十九○病久不能食臟腑不調中氣不運〔理中丸〕百二十二○食飲不下下即吐逆〔橘皮湯〕五十七〔黑錫丹〕百五十九○腹冷腹皮底下痛〔理中湯〕八（熱）○四肢骨節煩疼勞役所傷〔補中益氣湯〕六十一○邪熱不殺穀上飲下便〔補中益氣湯〕六十一〔實〕有力（冷）○四肢痹痛麻木不仁〔蠲痹湯〕三十六○咳逆噦〔橘皮乾薑湯〕三十七〔丁香散〕百十三（熱）○宿食不消胃口疼〔草豆蔻丸〕百三十八</p>
<p>足陽明〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○肌熱如火心下怯寒〔十全大補湯〕二十七○傷冷食成霍亂〔四君子湯〕四十七（熱）○禁口痢〔香連丸〕百三十四○傷暑身體煩熱〔清暑益氣湯〕六十七○傷暑吐瀉喘渴煩躁〔清暑益氣湯〕六十七〔胃苓湯〕六十八〔香薷飲〕八十三○胃口痛眩運吐水〔草豆蔻丸〕百三十八〔實〕有力（冷）○浮腫腫滿如鼓〔七氣厚朴湯〕三十八（熱）○痰作四肢痛〔控涎丸〕百三十六○三焦填塞氣不升降〔中滿分消丸〕百四十一○風毒牙疼牙齦腫〔獨活散〕百六○晝則明瞭夜則發熱〔小柴胡湯加生地黃〕十八〔麥門冬飲子〕八十○唇乾燥生瘡〔人參石膏湯〕四十三〔白虎湯〕十</p>
<p>〔脾〕胃附〔中〕微按而見〔平〕四至五至</p>
<p>足太陰〔沉〕重按始見〔遲〕一息一至二至三至〔虛〕無力（冷）○手足痠軟行走欹斜〔四君子湯〕四十七〔黃耆湯〕五十八○脾泄〔理中湯〕八○腹疼膚冷足脛腫〔溫中湯〕五十六○寒痰停滯陰陽阻隔〔理中湯〕八（熱）○飲食所傷勞役過甚腹脅脹滿短氣〔升麻順氣湯加黃柏〕六十六○牙齒宣露動搖勞役尤甚〔十全大補湯〕二十七〔四君子湯〕四十七〔補中益氣湯〕六十一○虛熱發不思飲食〔益黃散〕百三〔實〕有力（冷）○反胃食入即吐〔五膈寬中散〕九十二〔桔梗湯〕三十三〔木香散〕百一十○水腫皮黃身重〔五淋散〕九十五〔煮棗方〕百六十五○傷食心腹疼脹〔溫中湯〕五十六〔檳榔丸〕百四十二○痰飲嘈雜噁心〔茯苓湯〕四十一</p>
<p>足太陰〔沉〕重接始見〔數〕一息六至以上〔虛〕無力（冷）○水瀉注水〔胃苓湯〕六十八○冷食內傷〔益胃散〕百一（熱）○氣喘煩熱欲吐〔硃砂安神丸〕百二十四○日高後身發潮熱懶動作好眠睡〔升陽散火湯〕七十○食後思睡精神短少〔補中益氣湯〕六十一○熱來如坐甑中熱去惡寒不已身體消瘦〔黃耆湯〕五十八〔實〕有力（冷）○骨節疼痛飲食無味〔羌活勝濕湯〕六十九（熱）○裡急後重下痢膿血〔芍藥湯〕七十七〔香連丸〕百三十四○宿食不消當臍有積〔痞氣丸〕百五十○黃疸小便澀〔茵陳蒿湯〕十一○消中〔三黃丸〕百三十七〔金花丸〕百四十五○大便不通熱壅〔大承氣湯〕十二〔大柴胡湯〕十五</p>
<p>〔婦人〕諸病屬脾准男子治</p>
<p>〔小兒〕諸病屬脾准大人治</p>

<h3>命門部證治之圖</h3>
<p>〔命門經〕手少陽手厥陰〔引經藥〕柴胡柴胡〔腑臟平脈〕三焦脈洪散而急包絡脈</p>
<p>〔虛〕補藥。熟地黃耆白朮沉香肉蓯蓉　〔實〕瀉藥。地骨皮青皮</p>
<p>〔冷〕溫藥。附子肉桂　〔熱〕涼藥。地骨皮牡丹皮</p>
<p>手少陽〔浮〕下指即見〔遲〕一息一至二至三至〔虛〕無力（冷）○羸弱少力面色黧黑〔十四味建中湯〕三十一○真氣不足脫精〔巴戟丸〕百二十○下焦冷腳膝痠軟〔八味丸〕百十九○小腹下冷氣衝心〔四逆湯〕七（熱）○小便頻而少遺瀝〔十全大補湯加益智仁〕二十八○夜夢鬼交自汗發熱〔巴戟丸〕百二十〔實〕有力（冷）○小腹氣上嘔逆噁心〔蟠蔥散〕九十四〔茱萸內消丸〕百二十七（熱）○腰腳重發浮腫〔五苓散〕一百八</p>
<p>手少陽〔浮〕下指即見〔數〕一息六至以上〔虛〕無力（冷）○上下不交元陽不固驚悸健忘〔八物定志丸〕百二十一（熱）○足下發熱入腹衝上頭面頸多汗〔滋腎丸〕百五十二○癖氣由小腹貫脅下或聚或散走移〔黃連黃柏知母丸〕百五十五○陰虛發熱五臟齊損〔三才封髓丹〕百六十三〔地芝丸〕百四十八出血過多面色痿黃〔升陽去熱和血湯〕五十九〔實〕有力（冷）○目中溜火視物昏花耳鳴寢汗憎風行步不正臥而多驚〔驚益腎肝丸〕百十七○下血便紅〔四物湯〕五十（熱）○小水熱疼如沃湯〔五淋散〕九十五○腳氣發熱紅腫〔清燥湯〕七十一〔當歸拈痛湯〕六十二</p>
<p>〔命門〕三焦附〔中〕微按而見〔平〕四至五至</p>
<p>手厥陰〔沉〕重按始見〔遲〕一息一至二至三至〔虛〕無力（冷）○腰背肩痹痛頭疼不能任勞〔十全大補湯〕二十七○精神短少〔無比山藥丸〕百十六○多吐痰唾〔無比山藥丸〕百十六○時雖盛暑背尤惡寒〔四逆湯〕七（熱）○小水赤五心煩熱〔十全大補湯〕二十七〔實〕有力（冷）○身體沉重疼痛〔真武湯〕二十一○臍下動悸內有水者〔麝香大戟丸〕百三十二（熱）○臍下聲吼大小便澀閉不利〔麝香大戟丸〕百三十二</p>
<p>手厥陰〔沉〕重按始見〔數〕一息六至以上〔虛〕無力（冷）○氣血不足顏色不意或唇口乾燥〔雙和湯〕三十二○咳嗽氣少嗜臥漸成勞瘵〔地黃丸〕百十八（熱）○房勞損衝任腎三脈足下有火衝入小腹昏冒〔金花丸〕百四十五〔補陰丸〕百五十一○痿軟足不任腳脛腫〔清燥湯〕七十一○莖中作痛小水不通〔滋腎丸〕百五十二○臀尻足腿瘡腫〔當歸拈痛湯〕六十二〔實〕有力（冷）下虛憎寒每遇飲食後頭面皆如水〔金花丸〕百四十五（熱）○下焦蓄血時下黑糞〔桃仁承氣湯〕二十三</p>
<p>〔婦人〕諸病屬命准男子治　〔經事〕又見心腎肝　〔血崩〕又見心腎肝</p>
<p>〔小兒〕諸病屬命准大人治　〔疳〕又見腎</p>

<h2>治病合用藥方</h2>

<h3>湯類（飲煎附）</h3>
<p>桂枝湯（一）</p>
<p>桂枝（二錢五分）　芍藥　生薑（各一錢五分）　甘草（炙一錢）</p>
<p>上細切。用水一盞半。大棗二枚。煎至一盞。去渣溫服。（云用水一盞。即今之茶盞也。約計半斤許。凡用水。仿此為準。）</p>
<p>桂枝湯加人參（二）</p>
<p>本方加人參（一錢）</p>
<p>黃耆建中湯（三）</p>
<p>黃耆（蜜炒一錢）　桂枝（二錢五分）　甘草（炙一錢）　白芍藥（一錢五分又云三錢）　生薑（五片）　大棗（一枚）</p>
<p>上細切。用水二盞。煎至八分。去渣。入餳糖一匙。再煎服。或嘔者。中滿者。勿用餳糖。以甘故也。</p>
<p>大建中湯（四）</p>
<p>桂心（去皮一錢）　芍藥　黃耆（蜜炒）　半夏（湯泡各七分）　人參　當歸（酒洗）　甘草（炙各二分）　附子（麵裹炮一分五釐）　生薑（一錢六分）　大棗（二枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>當歸四逆湯（五）</p>
<p>當歸（酒洗）　桂（去皮各一錢）　芍藥（酒炒）　細辛　通草（去皮）　甘草（各六分五釐）　棗（二枚）</p>
<p>上細切。用水一盞半。煎至七分。去渣溫服。如其病有久寒者。加吳茱萸生薑主之。</p>
<p>當歸四逆湯加吳茱萸（六）</p>
<p>當歸（酒洗）　桂（去皮）　芍藥（酒炒）　細辛（各一錢）　通草（去皮）　甘草（炙各六分）　吳茱萸（湯泡五個）　棗（二枚）　生薑（二錢）</p>
<p>上細切。用水一盞半。煎至八分。去渣溫服。</p>
<p>四逆湯（七）</p>
<p>附子（泡七分五釐）　乾薑（炒）　甘草（炙各一錢五分）</p>
<p>上細切。用水一盞半。煎至七分。去渣服。未瘥。若急。更作一劑。</p>
<p>理中湯（八）</p>
<p>人參　白朮　乾薑（炒）　甘草（炙各一錢五分）</p>
<p>上細切。用水一盞半。煎至七分。去渣溫服。</p>
<p>小續命湯（九）</p>
<p>麻黃（去節）　人參（去蘆）　黃芩（酒炒）　白芍藥（酒灼）　甘草（炙）　川芎　杏仁（去皮尖另研）　桂枝　生薑　防己（去皮各五分）　防風（去蘆六分）　附子（童便煮去皮臍二分五釐）　</p>
<p>上細切。用水一盞半。煎至一盞。去渣稍熱服。</p>
<p>白虎湯（十）</p>
<p>石膏（二錢八分）　知母（六分）　粳米（九錢）　甘草（一錢二分）</p>
<p>上細切。用水二盞。煎至八分熱服。（口燥煩渴。脈虛者。加人參一錢）</p>
<p>茵陳蒿湯（十一）</p>
<p>茵陳（七錢五分）　梔子（三枚）　大黃（一錢五分）</p>
<p>上細切。用水二盞。先煎茵陳減半。再入後二味。煎至八分。去渣溫服。</p>
<p>大承氣湯（十二）</p>
<p>厚朴（薑汁炒二錢）　芒硝　大黃　枳實（麥麩炒各一錢）</p>
<p>上細切。用水二盞。先煎厚朴枳實。至一盞。再入大黃。取煎六分。去渣。再入芒硝。再煎一二沸溫服。以利為度。未利再投一服。</p>
<p>半夏瀉心湯（十三）</p>
<p>半夏（湯泡一錢五分）　黃連（二錢五分）　黃芩　人參　甘草（各七分）　乾薑（一錢）　棗（一枚）</p>
<p>上細切。用水二盞半。煎至八分。去渣溫服。</p>
<p>小柴胡湯（十四）</p>
<p>柴胡（二錢）　黃芩　人參　半夏（湯泡七次各七分五釐）　甘草（六分）　棗（一枚）　姜（五分）　</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>小柴胡湯加天花粉（十五）</p>
<p>本方加天花粉（七分五釐）</p>
<p>小柴胡湯加青皮枳實山梔（十六）</p>
<p>本方加青皮（去穰）　枳實（麥麩炒）　山梔（炒各五分）</p>
<p>小柴胡湯加枳殼（十七）</p>
<p>本方加枳殼（麥麩炒五分）</p>
<p>小柴胡湯加生地黃（十八）</p>
<p>本方加生地黃（酒洗七分）</p>
<p>小柴胡湯加竹茹（十九）</p>
<p>本方加竹茹（三分）</p>
<p>小柴胡湯加吳茱萸（二十）</p>
<p>本方加吳茱萸（湯泡七次五分）</p>
<p>真武湯（二十一）</p>
<p>芍藥（二錢）　附子（炮去皮一錢）　生薑（七分五釐）　白朮　茯苓（去皮各五分）</p>
<p>上細切。用水二盞。煎至八分。去渣溫服。</p>
<p>犀角地黃湯（二十二）</p>
<p>犀角屑（一錢二分如無以升麻代之）　芍藥（酒炒九分）　生地黃（酒洗二錢四分）　牡丹皮（一錢三分）　</p>
<p>上細切。用水一盞半。煎至七分。去渣溫服。</p>
<p>桃仁承氣湯（二十三）</p>
<p>桃仁（去皮尖研一錢）　大黃（二錢）　甘草（炙）　芒硝　桂心（各六分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣納芒硝。再煎一二沸。溫服。血盡為度。未盡再服。</p>
<p>小建中湯（二十四）</p>
<p>桂枝（一錢）　甘草（炙一錢）　白芍藥（酒炒三錢）　大棗（一枚）　生薑（一錢）</p>
<p>上細切。用水一盞半。煎至一盞。去渣入餳糖一匙。再煎化服。</p>
<p>大柴胡湯（二十五）</p>
<p>柴胡（去蘆二錢）　黃芩　芍藥　半夏（湯泡七次各七分五釐）　枳實（麥麩炒）　大黃（各三分）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。以利為度。未利再投一服。</p>
<p>小半夏湯（二十六）</p>
<p>半夏（湯泡一錢）　赤茯苓（去皮一錢六分）</p>
<p>上細切。用水二盞。煎至一盞。去渣入薑汁一匙。再煎一、二沸溫服。</p>
<p>十全大補湯（二十七）</p>
<p>人參（去蘆）　白朮　白茯苓（去皮）　甘草（炙）　當歸（酒洗）　川芎　熟地黃　白芍藥　黃耆（蜜炙）　肉桂（去皮各五分）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>十全大補湯加益智仁（二十八）</p>
<p>本方加益智仁（去殼五分）</p>
<p>羌活愈風湯（二十九）</p>
<p>羌活　甘草（炙）　防風（去蘆）　蔓荊子　川芎　麻黃（去節）　熟地黃（酒洗）　細辛　枳殼（去穰麥麩炒）　人參（去蘆）　甘菊　薄荷　枸杞子　當歸（酒洗）　知母　地骨皮　黃耆　獨活　白芷　杜仲（薑汁炒去絲）　秦艽（去蘆）　柴胡（去蘆）　半夏（湯泡）　全胡（去蘆）　厚朴（薑汁炒）　防己（去皮各二分半）　白茯苓（去皮）　黃芩　芍藥（各三分五釐）　石膏　蒼朮（米泔水浸）　生地黃　桂（去皮各一分五釐）</p>
<p>上細切為粗末。用水一盞半。煎至一盞。去渣溫服。如欲汗。加制麻黃三分。如欲利。加大黃三分。如天陰雨。加生薑一錢。</p>
<p>蘇子降氣湯（三十）</p>
<p>當歸（酒洗）　甘草（炙）　前胡（去蘆）　厚朴（薑汁炒）　肉桂（去皮）　陳皮（去白各五分）　紫蘇子（搗碎）　半夏曲（各一錢二分五釐）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣。不拘時服。</p>
<p>十四味建中湯（三十一）</p>
<p>當歸（酒洗）　白芍藥（酒炒）　白朮　麥門冬（去心）　黃耆（蜜炙）　甘草（炙）　肉蓯蓉（酒浸去甲）　人參　川芎　肉桂（去皮）　附子（炮）　半夏（湯洗）　熟地黃（酒洗）　白茯苓（各三分）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣空心溫服。</p>
<p>雙和湯（三十二）</p>
<p>白芍藥（酒炒）　當歸（酒洗）　熟地黃（酒洗）　黃耆（蜜炙各七分）　川芎　肉桂（去皮）　甘草（各五分）　大棗（一枚）　生薑（一錢）</p>
<p>上細切。用水一盞半。煎至一盞。去渣空心溫服。</p>
<p>桔梗湯（三十三）</p>
<p>桔梗　白朮（各八分）　半夏曲（一錢一分）　陳皮（去白）　白茯苓（去皮）　枳實（麥麩炒）　厚朴（薑汁炒各五分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣調木香散二錢。隔夜空腹溫服。吐漸止。氣漸下。去木香散加芍藥一錢二分。蜜炙黃耆八分。如大便燥結不盡下。以大承氣湯去芒硝微下之。再服前藥補之。</p>
<p>甘桔湯（三十四）</p>
<p>甘草（炙）　桔梗（米泔水浸各二錢五分）</p>
<p>上細切。用水一盞半。煎至六分。去渣溫服。</p>
<p>七氣湯（三十五）</p>
<p>半夏（湯泡一錢五分）　厚朴（薑汁炒）　桂心（各九分）　茯苓（去皮）　紫蘇　橘紅（去白各六分）　人參（三分）　白芍藥（七分）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>蠲痹湯（三十六）</p>
<p>當歸（酒洗）　芍藥（酒炒赤者）　黃耆（蜜炙）　薑黃　防風　羌活（各九分）　甘草（三分炙）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>橘皮乾薑湯（三十七）</p>
<p>橘皮（去白）　通草　乾薑（炒）　桂心　甘草（炙各九分）　人參（四分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>七氣厚朴湯（三十八）　</p>
<p>厚朴（薑製二錢）　甘草（炙）　大黃（炒各一錢）　枳實（麥麩炒一錢六分）　桂心（五分）　生薑（一錢）　棗（二枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。如嘔者。加半夏三分。</p>
<p>省風湯（三十九）</p>
<p>防風（去蘆）　南星（生各一錢四分）　半夏（生用）　黃芩　甘草（炙各七分）　生薑（一錢）　棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>大秦艽湯（四十）</p>
<p>秦艽（去蘆）　石膏（煆各一錢）　甘草（炙）　川芎　當歸（酒洗）　羌活　獨活　防風（去蘆）　黃芩　白芍藥　白芷　白朮　生地黃（酒洗）　熟地黃（酒洗）　白茯苓（各五分）　細辛（二分五釐）</p>
<p>上細切。用水二盞。煎至一盞。去渣溫服。如天陰加生薑七八片　如心下痞。每服一兩。內加枳實一錢。煎服。</p>
<p>茯苓湯（四十一）</p>
<p>茯苓（去皮）　人參　白朮（各一錢）　枳實（麥麩炒六分）　陳皮（去白八分）　生薑（三分）　</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>四七湯（四十二）</p>
<p>紫蘇葉（七分）　厚朴（薑製一錢）　茯苓（去皮二錢四分）　半夏（湯泡七次一錢七分）　生薑（一錢）　棗（二枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>人參石膏湯（四十三）</p>
<p>人參（二分五釐）　半夏（湯洗）　梔子（炒）　黃芩（各四分）　川芎　白朮　茯苓（去皮）　知母（各七分）　甘草（炙一錢四分）　石膏（煆四錢一分）　生薑（一錢）</p>
<p>上細切。用水二盞。煎至一盞。去渣溫服。</p>
<p>二陳湯（四十四）</p>
<p>陳皮（去白一錢三分）　白茯苓（八分）　甘草（炙六分）　半夏（湯泡一錢三分）　黃芩（酒炒七分）　生薑（一錢）　烏梅（一枚）　一方加丁香（二分）</p>
<p>上細切。用水一盞半。煎至六分。去渣。不拘時熱服。</p>
<p>二陳湯加黃連（四十五）</p>
<p>本方加黃連（一錢）</p>
<p>歸脾湯（四十六）</p>
<p>白朮　茯神（去皮骨）　黃耆　龍眼肉　酸棗仁（去殼炒各七分五釐）　人參　木香（各三分）　甘草（炙一錢五分）　生薑（一錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣不拘時溫服。</p>
<p>四君子湯（四十七）</p>
<p>人參　白朮　白茯苓　甘草（炙各一錢二分五釐）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>四君子湯加五味子（四十八）</p>
<p>本方加五味子（五分）</p>
<p>四君子湯加五味子桔梗（四十九）</p>
<p>本方加桔梗五味子（各五分）</p>
<p>四物湯（五十）</p>
<p>當歸（酒洗）　川芎　熟地黃（酒洗）　白芍藥（酒浸炒各一錢五分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>四物湯加桂（五十一）</p>
<p>本方加桂（一錢）</p>
<p>四物湯加木通（五十二）</p>
<p>本方加木通（去皮五分）</p>
<p>四物湯加青皮（五十三）</p>
<p>本方加青皮（去穰麥麩炒五分）</p>
<p>四物湯加炒蒲黃（五十四）</p>
<p>本方加炒蒲黃（一錢）</p>
<p>八物湯（五十五）</p>
<p>當歸（酒洗）　川芎　熟地黃（酒洗）　黃耆（蜜炙一云人參）　白芍藥（酒洗炒）　甘草（炙）　白茯苓（去皮）　白朮（各六分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>溫中湯（五十六）</p>
<p>丁皮（一錢二分五釐）　乾薑（炒）　丁香　白朮　陳皮（去白各二分五釐）　厚朴（薑製一錢二分五釐）</p>
<p>上細切。用水一盞半。蔥白三寸。荊芥五穗。煎七分。去渣熱服。</p>
<p>橘皮湯（五十七）</p>
<p>橘紅（去白）　厚朴（薑製各二錢）　藿香（六分）　白朮　葛根（各四分）　生薑（五分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>黃耆湯（五十八）</p>
<p>人參　黃耆（蜜炙）　白朮　白茯苓（去皮）　白芍藥（酒炒）　生薑（各一錢）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。如吐者。加藿香。生薑陳皮去白。各五分。</p>
<p>升陽去熱和血湯（五十九）</p>
<p>生地黃（酒洗）　牡丹皮　生甘草（各五分）　炙甘草　黃耆（各一錢）　當歸身（酒洗）　蒼朮（米泔水浸）　秦艽（去蘆）　熟地黃（酒洗）　肉桂（去皮各三分）　陳皮（去白二分）　升麻（七分）　</p>
<p>上細切。用水二盞。煎至一盞。去渣熱服。一方有白芍藥一錢。</p>
<p>木香順氣湯（六十）</p>
<p>木香　草豆蔻（麵裹炮煨）　蒼朮（米泔浸各三分）　厚朴（薑製四分）　陳皮（去白）　青皮（去穰麥麩炒）　益智（去殼）　白茯苓（去皮）　澤瀉（去毛）　乾生薑　半夏（湯泡）　吳茱萸（湯泡七次）　當歸（酒洗）　升麻　柴胡（去蘆各一分）</p>
<p>上細切。用水二盞。煎至一盞。去渣熱服。</p>
<p>補中益氣湯（六十一）</p>
<p>黃耆（蜜炙一錢五分）　人參　甘草（各一錢炙）　當歸（酒洗）　白朮　升麻　柴胡（去蘆）　陳皮（去白各五分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣食遠服。</p>
<p>當歸拈痛湯（六十二）</p>
<p>羌活　人參　苦參　升麻　葛根　蒼朮（米泔浸各五分）　甘草（炙）　黃芩（酒洗）　茵陳蒿（酒洗炒各一錢二分五釐）　防風（去蘆）　當歸身（酒洗）　知母（酒洗）　澤瀉（去毛）　豬苓（各七分五釐）　白朮（四分）</p>
<p>上細切。用水二盞半。煎至一盞。去渣空心溫服。以美膳厭之。臨臥再進一服。不須以膳厭。</p>
<p>疏風湯（六十三）</p>
<p>麻黃（去節二錢）　益智（去殼）　杏仁（制各六分五釐）　甘草（炙）　升麻（各三錢三分）</p>
<p>上細切。用水一盞。煎至六分。去渣熱服。腳登熱水葫蘆。以大汗出。去葫蘆。冬月不可用。</p>
<p>通氣防風湯（六十四）</p>
<p>羌活　獨活（各一錢）　藁本（去蘆）　防風（去蘆）　甘草（炙各五分）　川芎　蔓荊子（各三分）</p>
<p>上細切。用水二盞。煎至一盞。去查。空心溫服。</p>
<p>調中益氣湯（六十五）</p>
<p>黃耆（一錢）　人參（有嗽者不用）　甘草（炙）　蒼朮（米泔水浸各五分）　柴胡（此味為上氣不足胃氣與脾氣下溜乃補從陰養陽也）　橘紅（如腹中氣不得運轉更加一分）　升麻（各二分）　木香（一分或二分）</p>
<p>上細切。用水二盞。煎至一盞。去渣空心溫服。寧心絕思。藥必神功。蓋病在四肢血脈。空心在旦服是也。</p>
<p>升麻順氣湯去黃柏（六十六）</p>
<p>黃耆（一錢）　半夏（湯泡六分）　甘草（炙）　升麻　柴胡（去蘆各二分）　當歸身　陳皮（去白）　神麯（炒）　人參（各三分）　草豆蔻（四分）　生薑（一錢）　</p>
<p>上細切。用水二盞。煎至一盞。去渣食前溫服。</p>
<p>清暑益氣湯（六十七）</p>
<p>黃耆（汗少一錢）　蒼朮（米泔水浸各一錢五分）　升麻（一錢）　人參　白朮　陳皮（去白）　神麯（炒）　澤瀉（各五分）　甘草（炙）　黃柏（酒炒）　川歸（酒浸）　青皮（去穰麥麩炒）　麥門冬（去心）　乾葛（各三分）　五味子（九粒）</p>
<p>上細切。用水二盞。煎至一盞。去渣溫服。</p>
<p>胃苓湯（六十八）</p>
<p>蒼朮（米泔水浸）　厚朴（薑製）　陳皮（去白）　甘草（炙）　白朮　茯苓（去皮）　桂心　豬苓　澤瀉（各五分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>羌活勝濕湯（六十九）</p>
<p>羌活　濁活（各一錢）　藁本（去蘆）　防風（去蘆）　甘草（炙）　川芎（各五分）　蔓荊子（三分）</p>
<p>上細切。用水二盞。煎至一盞。去渣食前溫服。如身重腰痛。沉沉然。經中有寒濕也。加酒洗漢防己五分。輕者加附子五分。重者加川烏五分。</p>
<p>一方有以上證。用本方加制黃柏一錢製附子五分。製蒼朮二錢。</p>
<p>升陽散火湯（七十）　</p>
<p>升麻　葛根　羌活　獨活　白芍藥　人參（各六分）　甘草（炙一分）　柴胡（三分）　防風（三分五釐）　生甘草（二分）　生薑（三片）</p>
<p>上細切。用水一盞半。煎至一盞。去渣熱服。忌生泠等物。</p>
<p>清燥湯（七十一）</p>
<p>黃耆（七分五釐）　黃連（五分）　蒼朮（米泔水浸五分）　五味子（四粒）　白朮（二分五釐）　人參（一分五釐）　麥門冬（去心二分）　橘紅（制二分五釐）　當歸身（酒洗）　生地黃（酒洗）　神麯（炒各一分）　白茯苓（去皮一分五釐）　澤瀉（二分五釐）　豬苓　黃柏（酒炒各二分）　柴胡（去蘆五分）　升麻（一分五釐）　甘草（炙一分）</p>
<p>上細切。用水二盞半。煎至一盞。去渣空心稍熱服。</p>
<p>大羌活湯（七十二）</p>
<p>羌活　獨活　防己　黃芩　黃連　防風（去蘆）　蒼朮（米泔水浸）　白朮　甘草（炙）　川芎　細辛（各三分）　知母（酒炒）　生地黃（各一錢）</p>
<p>上細切。用水二盞。煎至一盞。去渣熱服。不瘥。再投二三服。</p>
<p>明目細辛湯（七十三）</p>
<p>麻黃根　羌活　防風（各八分）　川芎（二分）　生地黃（酒洗）　蔓荊子（各三分）　當歸身梢　白茯苓（去皮）　藁本（各四分）　荊芥穗（五分）　細辛（少許）　紅花（少許）　川椒（四粒）　桃仁（七個去皮尖研）</p>
<p>上細切。用水一盞半。煎至一盞。去渣臨臥稍熱服。忌酒醋面。</p>
<p>參朮調中湯（七十四）</p>
<p>人參　白朮　茯苓（去皮）　炙甘草　青皮（各三分）　桑白皮（去皮）　黃耆（各四分）　五味子（十二粒）　地骨皮　麥門冬（去心）　陳皮（去白各二分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣大熱服。</p>
<p>神效黃耆湯（七十五）</p>
<p>黃耆（一錢五分）　人參（七分）　甘草（炙）　白芍藥（各九分）　陳皮（去白八分）　蔓荊子（二分五釐）　</p>
<p>上細切。用水一盞半。煎至一盞。去渣臨臥熱服。</p>
<p>茯苓琥珀湯（七十六）</p>
<p>茯苓（去皮）　白朮　豬苓　澤瀉　桂（各八分）　琥珀（一錢）　滑石（七分）　甘草（炙三分）</p>
<p>上細切為末。用長流水一盞半。煎至一盞。空心服。</p>
<p>芍藥湯（七十七）</p>
<p>白芍藥（一錢）　當歸尾（酒洗）　黃連　黃芩（各五分）　大黃（四分）　甘草（炙）　檳榔　木香　桂心（各二分五釐）</p>
<p>上細切。用水一盞半。煎至一盞。去渣空心服。如初病後重窘迫甚者。倍大黃。加芒硝五分。如痞滿氣不宣通。加枳實五分。如臟毒下血。加黃柏五分。如大人氣血勝者。本方及加減分兩。每加一倍。</p>

<h3>飲煎類</h3>
<p>木香流氣飲（七十八）</p>
<p>藿香葉　木香（不見火）　厚朴（薑製）　青皮（去白）　香附（童便浸）　麥門冬（去心）　白芷（各三分七釐）　甘草（炙二分五釐）　陳皮（去白五分）　大腹皮（烏豆汁洗）　木瓜　人參（去蘆）　蓬莪朮（炮）　丁香皮（不見火）　半夏（湯浸各一分）　赤茯苓（一分五釐）　石菖蒲（一分五釐）　草果仁（二分五釐）　紫蘇葉　檳榔　白朮　肉桂（去皮）　木通（各三分）　沉香（三分七釐）　</p>
<p>上細切。加生薑三片。大棗一枚。水一盞半。煎一盞。去渣溫服。</p>
<p>易老門冬飲子（七十九）</p>
<p>人參　枸杞子　白茯苓（去皮）　甘草（炙各一錢）　五味子　麥門冬（各一錢六分）　生薑（三分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>麥門冬飲子（八十）</p>
<p>麥門冬（去心）　當歸（酒洗）　人參（各五分）　黃耆（蜜炙）　白芍藥（酒炒）　甘草（炙各一錢）　紫菀（酒洗一錢五分）　五味子（十粒）</p>
<p>上細切。用水一盞半。煎至一盞。去渣食後服。</p>
<p>散熱飲子（八十一）</p>
<p>防風　羌活　黃芩　黃連（各一錢）</p>
<p>上細切。用水一盞半。煎至一盞。去渣食後溫服。如大便燥加大黃一錢。痛甚加制當歸。生地黃各一錢。如煩躁不眠。加梔子一錢。</p>
<p>交加飲子（八十二）</p>
<p>肉豆蔻　草果（各二個一個生一個面炮）　甘草（二寸一寸生一寸炙）　厚朴（二寸一寸生一寸薑汁製）　生薑（二錢一半生一半濕紙煨）</p>
<p>上細切。以銀砂器。用水一盞半。煎至一盞。臨發日去渣空心服。未愈。再投一服。</p>
<p>香薷飲（八十三）</p>
<p>香薷（二錢）　白扁豆　厚朴（薑製各一錢）　</p>
<p>上細切。用水一盞半。煎至一盞。去渣服。</p>
<p>常山飲（八十四）</p>
<p>知母　常山　草果（各一錢一分）　良薑（七分）　甘草（炙五分）　烏梅（去核一錢六分）　生薑（二錢）　大棗（一枚）</p>
<p>上細切。用水一盞半。煎至一盞。去渣未發前服。</p>
<p>參蘇飲（八十五）</p>
<p>人參　紫蘇　全胡（去蘆）　乾葛　半夏　白茯苓（各三分）　枳殼（麥麩炒）　陳皮（去白）　甘草（炙）　桔梗（米泔水浸）　木香（各五分）　生薑（一錢）　</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>徹清煎（八十六）</p>
<p>川芎　薄荷葉（各一分）　藁本（一錢）　生甘草（五分）　甘草（炙五分）　蔓荊子　細辛（各一分）</p>
<p>上為細末。食後用茶清調服。</p>
<p>治風煎（八十七）</p>
<p>天麻（七分五釐）　荊芥穗（二錢五分）　薄荷葉（二錢五分）　白花蛇肉（酒浸去骨四分）　</p>
<p>上為細末。用好酒二升。蜜四兩。共納石器內。煎成膏子。每溫服一盞。日三進。煎餅厭下。急如暖處服之。要令汗出而已。</p>

<h3>散類</h3>
<p>導赤散（八十八）</p>
<p>生地黃（酒洗）　木通（去皮）　甘草（各一錢五分）　淡竹葉（七分）</p>
<p>上細切。用水一盞半。煎至一盞。去渣服。（一本無甘草。有黃芩。）</p>
<p>敗毒散（八十九）</p>
<p>羌活　獨活　前胡　柴胡　枳殼（麥麩炒）　人參　茯苓（去皮）　桔梗（米泔水浸）　甘草（炙）　川芎（各五分）　生薑（一錢）</p>
<p>上細切。用水一盞半。煎至一盞。去渣熱服。</p>
<p>洗肝散（九十）</p>
<p>薄荷葉　當歸（酒洗）　羌活　防風（去蘆）　川芎　甘草（炙）　山梔　大黃（各二兩）　</p>
<p>上為細末。每服二錢。食後滾水調服。</p>
<p>鹽煎散（九十一）</p>
<p>草果（去殼）　砂仁（炒）　檳榔　厚朴（薑汁製）　肉豆蔻（炮）　羌活　蒼朮（米泔水浸）　陳皮（去白）　蓽澄茄　枳殼（麥麩炒）　良薑　茯苓（去皮）　茴香（炒）　麥芽（炒去殼）　川芎　甘草（炙各二分）</p>
<p>上為末。用水煎。入鹽少許服之。</p>
<p>五膈寬中散（九十二）</p>
<p>陳皮（去白）　青皮（麥麩炒）　丁香（各四兩）　厚朴（薑製一斤）　甘草（炙五兩）　白豆蔻（二兩）　香附（醋炒）　砂仁（炒）　木香（各三兩）</p>
<p>上為細末。每服一錢。姜鹽湯調服之。</p>
<p>烏藥順氣散（九十三）</p>
<p>麻黃（去節）　陳皮（去白）　烏藥　白殭蠶（炒各五分）　乾薑（炒三分）　川芎　枳殼（麥麩炒）　甘草（炙）　白芷　桔梗（各二分五釐）　生薑（一錢）　大棗（一枚）</p>
<p>上為細末。用水一盞半。煎至一盞服之。</p>
<p>蟠蔥散（九十四）</p>
<p>玄胡索　蒼朮（米泔水浸）　甘草（炙各二分五釐）　茯苓（去皮）　莪朮　三稜　青皮（去穰各二分）　丁皮　砂仁　檳榔（各一分五釐）　桂（去皮）　乾薑（炒各五釐）</p>
<p>上為細末。加連須蔥白一莖。水一盞半。煎一盞。空心溫服。</p>
<p>五淋散（九十五）</p>
<p>赤茯苓（一錢五分）　赤芍藥　山梔子（各五分）　當歸（酒洗）　甘草（炙各一分五釐）　燈芯（七莖）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>六一散（九十六）</p>
<p>桂府白滑石（六兩）　粉甘草（炙一兩）</p>
<p>上共為極細末。每取三錢。不拘時。白水調服之。</p>
<p>八味順氣散（九十七）</p>
<p>白朮　白茯苓（去皮）　烏藥（去皮）　白芷　陳皮（去白）　青皮（去穰）　人參（各四分）　甘草（炙二分）　</p>
<p>上為細末。用水一盞半。煎至一盞。服之。</p>
<p>補肺散（九十八）</p>
<p>阿膠（蛤粉炒成珠）　糯米（各一錢）　馬兜鈴（七分）　甘草（炙各五分）　杏仁（去皮尖七個）　大力子（二分五釐）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。</p>
<p>蟬花無比散（九十九）</p>
<p>蟬蛻（一分）　茯苓（去皮）　甘章（炙）　防風（去蘆各二分）　川芎　羌活　當歸（酒洗）　石決明（鹽水煮研為末各一分半）　赤芍藥（酒炒）　白蒺藜（炒各五分）　蒼朮（米泔水浸六分）　蛇蛻（炒五釐）</p>
<p>上為細末。食後用米泔湯或茶清調服之。</p>
<p>消毒散（一百）</p>
<p>黃芩　黃柏（各一兩）　大黃（五錢）</p>
<p>上為細末。每用生蜜水調藥如糊。攤在消花子上。隨目赤左右。貼於太陽穴上。如干用溫水頻潤。</p>
<p>益胃散（一百一）</p>
<p>白豆蔻　薑黃　乾生薑　澤瀉（各三分）　砂仁（炒）　甘草（炙）　人參　厚朴（薑汁製）　陳皮（去白）　黃耆（各七分）　益智仁（六分）</p>
<p>上為細末。用水煎服。</p>
<p>瀉白散（一百二）</p>
<p>桑白皮（蜜水炒）　地骨皮（各一錢）　甘草（炙五分）　粳米（百粒）</p>
<p>上為細末。用水一盞半。煎至一盞。食後服。易老方加黃芩。</p>
<p>益黃散（一百三）</p>
<p>青皮（去穰）　訶子肉　甘草（各一錢二分半）　陳皮（去白二錢）　丁香（四分如治小兒各減一倍）　</p>
<p>上為末。用水一盞半。煎至一盞服之。（愚每於本方加參朮各一錢效）</p>
<p>黃耆鱉甲散（一百四）</p>
<p>黃耆（蜜炒）　鱉甲（去肋酥炙）　天門冬（制各五分）　桑白皮（蜜水炒）　半夏（湯泡）　黃芩（酒炒）　甘草（炙）　知母（酒炒）　赤芍藥（酒炒）　紫菀（酒洗各二分半）　秦艽（去蘆）　白茯苓（去皮）　生地黃　柴胡　地骨皮（各三分半）　肉桂（去皮）　人參　桔梗（各一錢五釐）　</p>
<p>上為粗末。用水一盞半。煎至一盞。食後溫服。</p>
<p>防風通聖散（一百五）</p>
<p>防風（去蘆）　川芎　當歸（酒洗）　芍藥（酒炒）　大黃　芒硝　連翹　麻黃（去節）　薄荷（各四分五釐）　石膏（煆）　桔梗（米泔水浸）　黃芩　甘草（炙各九分）　白朮　山梔（炒）　荊芥穗（各二分五釐）　滑石（一錢八分）　生薑（一錢）</p>
<p>上細切。用水一盞半。煎至一盞。去渣溫服。一方去芒硝加牛膝人參半夏各四分五釐。</p>
<p>獨活散（一百六）</p>
<p>獨活　羌活　川芎　防風　細辛　荊芥　薄荷　生地黃（各四分）</p>
<p>上細切。用水一盞半。煎至一盞。灌漱咽之。</p>
<p>白芷散（一百七）</p>
<p>麻黃（去節）　草豆蔻（各一錢半）　黃耆　升麻（各一錢）　吳茱萸（湯泡）　白芷（各四分）　川歸（酒洗）　熟地黃（酒洗五分）　藁本（三分）　桂枝（二分五釐）　羌活（八分）</p>
<p>上為細末。先用溫水漱口。淨後擦之。</p>
<p>五苓散（一百八）</p>
<p>澤瀉（一兩五錢）　豬苓　赤茯苓　白朮（各一兩）　肉桂（去皮五錢）</p>
<p>上為細末。每服二錢。用白湯。或米飲。食前調服。服畢。多飲熱湯。有汗即愈。</p>
<p>涼膈散（一百九）</p>
<p>大黃　朴硝　生甘草（各五分）　連翹（一錢）　梔子仁（炒）　黃芩（酒炒）　薄荷（各二分五釐）　淡竹葉（五片）</p>
<p>上細切。用水一盞。煎至八分。去渣。入蜜一匙。和勻服之。如退六經熱。及傷寒餘熱不解。胸煩等證。減芒硝大黃。加桔梗五分。同為舟楫之劑。浮而上之。治至高之分也。一方加漢防己五分</p>
<p>木香散（一百十）</p>
<p>木香　檳榔（各一錢）</p>
<p>上為細末。用桔梗煎湯調服之。</p>
<p>復元通氣散（百十一）</p>
<p>陳皮（去白）　青皮（去穰各四兩）　穿山甲（煆二兩）　甘草（二兩五錢炙生各半）　栝蔞根（二兩）　金銀花　連翹（各一兩）</p>
<p>上為細末。每服二錢。熱酒調服之。</p>
<p>川苦楝散（百十二）</p>
<p>木香（另為末）　茴香（用鹽一匙炒黃色去鹽）　川楝子（各一兩用巴豆十粒去殼同炒黃色去巴豆）　</p>
<p>上為極細末。每服二錢。用溫酒一盞。調勻空心服。</p>
<p>丁香散（百十三）</p>
<p>丁香　柿葉（各一錢）　甘草（炙）　良薑（各五分）</p>
<p>上為細末。每服二錢。不拘時用熱湯調服。</p>
<p>川芎散（百十四）</p>
<p>山茱萸（去核一兩）　山藥　甘菊花　人參　白茯神　川芎（各五錢）</p>
<p>上為細末。每服二錢。不拘時。用酒調服。日進三服。</p>

<h3>丸類（丹附）</h3>
<p>青娥丸（百十五）</p>
<p>杜仲（薑汁炒一斤）　破故紙（炒一斤）　生薑（炒十兩）</p>
<p>上為細末。用胡桃肉一百二十個。湯浸去皮。搗為膏。煉蜜些需。杵和為九。如梧桐子大。每服五十丸。空心用姜鹽湯任下。</p>
<p>無比山藥丸（百十六）</p>
<p>山藥（炒三兩）　赤石脂　茯苓（去皮）　熟地黃（酒洗）　山茱萸（去核）　巴戟（去心）　牛膝（酒洗去蘆）　澤瀉（各一兩）　肉蓯蓉（酒浸四兩）　五味子（去核六兩）　杜仲（薑汁炒）　菟絲子（酒浸各三兩）</p>
<p>上為細末。煉蜜為丸。如梧桐子大。每服四五十丸。空心酒下。</p>
<p>補益腎肝丸（百十七）</p>
<p>柴胡（去蘆）　羌活　生地黃（酒洗）　苦參　防己（去皮）　附子（炮去皮臍）　肉桂（去皮各一兩）　歸身（酒洗三兩）</p>
<p>上為細末。滾水為丸。如梧桐子大。每服四十丸。食前溫水服。</p>
<p>地黃丸（百十八）</p>
<p>山藥（炒四兩）　山茱萸（去核四兩）　澤瀉（去毛）　牡丹皮　白茯苓（各三兩）　熟地黃（八兩用懷慶）</p>
<p>上為細末。煉蜜為丸。如梧桐子大。每服五十丸。白滾湯送下。</p>
<p>八味丸（百十九）</p>
<p>熟地黃（酒洗八兩）　澤瀉（去毛）　牡丹皮　白茯苓（各三兩）　山茱萸（去核）　山藥（各四兩）　附子（炮一兩）　桂心（一兩）</p>
<p>上為細末。煉蜜為丸。如梧桐子大。每服五十丸。溫酒下。或鹽湯下。婦人淡醋湯下。</p>
<p>巴戟丸（百二十）</p>
<p>五味子　巴戟（去心）　人參　肉蓯蓉（酒洗去甲）　菟絲子（酒浸）　熟地（酒洗）　覆盆子　白朮　益智（去殼炒）　骨碎補（去毛）　小茴香（各一兩炒）　白龍骨（二錢五分）　牡蠣（炒二錢）</p>
<p>上為末。蜜丸。梧桐子大。服五十丸。空心鹽湯送下。</p>
<p>八物定志丸（百二十一）</p>
<p>人參（一兩五錢）　石菖蒲　遠志（去心）　茯神（去心）　茯苓（去皮各一兩）　麥門冬（去心）　白朮（各五錢）　牛黃（二錢另研）　硃砂（一錢另研）</p>
<p>上為細末。煉蜜為丸。如梧桐子大。每服三十丸米飲湯送下。</p>
<p>理中丸（百二十二）　</p>
<p>人參　白朮　乾薑（炒）　甘草（炙各等分）</p>
<p>上為細末。煉蜜丸。每一兩。分作五丸。每服一丸。白滾湯送下。一方乾薑恐大熱。以生薑制干代之</p>
<p>理中丸。加半夏（百二十三）</p>
<p>本方加製半夏各等分。</p>
<p>硃砂安神丸（百二十四）</p>
<p>黃連（一錢五分）　硃砂（一錢）　酒生地　酒歸身　甘草（炙各五分）</p>
<p>上為極細末。湯浸蒸餅為丸。如黍米大。每服十五丸。食後津唾嚥下。（一方無地黃歸身。用甘草。）</p>
<p>硃砂滾痰丸（百二十五）</p>
<p>硃砂　白礬（生用）　赤石脂　硝石（各等分）</p>
<p>上為細末。研蒜膏丸。如綠豆大。每三十丸。食後荊芥湯送下。</p>
<p>助氣丸（百二十六）</p>
<p>三稜（炮）　莪朮（炮各三兩二錢）　青皮（去穰）　白朮（各一兩五錢）　木香　枳殼（麥麩炒）　檳榔（各一兩）　陳皮（去白一兩五錢）</p>
<p>上為細末。糊丸。每服五十丸。滾白水送下。</p>
<p>茱萸內消丸（百二十七）</p>
<p>山茱萸（去核）　吳茱萸（湯泡）　陳皮（去白）　青皮（去穰）　馬蘭花（醋炙）　山藥（炒）　茴香（炒各二兩）　川楝子（酒煮去核）　肉桂（去皮不見火）　木香（不見火各一兩）</p>
<p>上為細末。酒糊丸。如梧桐子大。每服五十丸。空心酒鹽湯下。</p>
<p>沉香鹿茸丸（百二十八）</p>
<p>沉香（一兩）　附子（炮四兩）　鹿茸（酥炙三兩）　熟地黃（酒洗六兩）　巴戟（去心一兩）　菟絲子（酒浸五兩）　麝香（另研一錢五分）</p>
<p>上為末。煉蜜丸。如梧桐子大。每服四五十丸。空心酒鹽湯下。</p>
<p>附子理中丸（百二十九）</p>
<p>人參　白朮　乾薑（炒）　甘草（炙）　附子（炮各等分）</p>
<p>上為末。煉蜜丸。每一兩作十丸。每服一丸。用水一盞。煎至七分。空心稍熱服。</p>
<p>小菟絲子丸（百三十）</p>
<p>菟絲子（酒洗五兩）　石蓮肉（去殼二兩）　白茯苓（去皮一兩）　山藥（炒二兩七錢五分）　</p>
<p>上將山藥除七錢五分為末。打稀糊。其餘共為細末。以山藥糊為丸。如梧桐子大。每服五十丸。空心溫酒鹽湯任服下。</p>
<p>青州白丸子（百三十一）</p>
<p>南星（生用）　白附子（各二兩）　川烏（去皮臍五錢）　半夏（好白者湯泡七兩）　</p>
<p>上為細末。以生絹袋盛。於井花水內擺出。未出者更以手揉令出。以渣更研。再用絹袋擺盡為度。於瓷盆中日曬夜露。每旦換新水。攪而復澄。春五夏三秋七冬十日。去水曬乾如玉片。碎研以糯米粉煎粥清為丸。如綠豆大。每服二三十丸。生薑湯送下。不拘時服。如癱瘓風濕。用酒送下。小兒驚風。薄荷湯下三五丸。（一方加天麻全蠍各制等分為細末。用生薑自然汁煮麵粉為丸。梧桐子大。法同前。）</p>
<p>麝香大戟丸（百三十二）</p>
<p>川楝子（酒煮去核）　訶子（去核）　茴香（炮各六兩）　葫蘆巴（四兩）　大戟（制）　附子（炮各五錢）　麝香（一錢另研）　木香　檳榔（各一兩）</p>
<p>上除川楝子一味。其餘共為細末。將川楝子以好酒二升。蔥白七根。長四寸煮。去核取肉。和前藥末杵和為丸。梧桐子大。每十丸。空心薑湯送下。</p>
<p>感應丸（百三十三）</p>
<p>杏仁（湯泡去皮尖肥者二百四十枚）　百草霜（用鄉村人家鍋底上者佳另研細二兩）　巴豆（七十粒去皮心膜油研細如粉）　乾薑（炮一兩）　肉豆蔻（二十個煨）　木香（二兩五錢）　丁香（一兩五錢）</p>
<p>上除巴豆百草霜杏仁三味外。餘四味為細末。同研勻。用蠟匱先將蠟六兩熔化作汁。以重綿濾滓。更以好酒一升。於銀石器內煮蠟熔。滾數沸。傾出候酒冷。其蠟自浮於上。取蠟稱用。凡春夏修合。清油一兩。秋冬用清油一兩半。於冷銚內熬令香熟。次下酒煮蠟四兩。同化作汁。就鍋內乘熱拌和前項藥末成劑。分作小錠子。以油單紙裹衣旋丸。服餌。每服三十丸。空心生薑湯下。</p>
<p>香連丸（百三十四）</p>
<p>黃連（二十兩用吳茱萸十兩二味各以酒拌濕同炒去茱萸）　木香（四兩八錢不見火）</p>
<p>一方加石蓮肉半斤。去殼。治噤口痢神效。</p>
<p>上為末。用醋煮麵糊丸。梧桐子大。每服三五十丸。清米飲下。</p>
<p>勝金丸（百三十五）</p>
<p>常山（十兩）　檳榔（十五個用雞心者）</p>
<p>上為細末。用雞卵清丸梧桐子大。每服三十丸。於發時前一日。臨臥用冷酒送下便睡。不可吃熱物茶湯之類。至四更盡再用冷酒送下二十丸。忌一切熱物。至日午方可食溫物。至晚不拘。</p>
<p>控涎丸（百三十六）</p>
<p>甘遂（去心）　大戟（去皮）　白芥子（主上氣發汗胸脅有冷痰）</p>
<p>上件各等分為細末。糊丸。如梧桐子大。每服五十丸。淡薑湯下。食後臨臥服。量病人虛實加減丸數。一方名妙應丸。治驚痰。加硃砂為衣。痛甚者加全蠍。酒痰加雄黃。全蠍驚氣痰成塊者。加穿山甲。鱉甲。玄胡索。蓬莪朮。臂痛加木鱉子霜。桂心。熱痰加盆硝。寒痛加丁香。胡椒。肉桂。</p>
<p>三黃丸（百三十七）</p>
<p>黃連（去須）　黃芩（炒）　大黃（各等分炮）　</p>
<p>上為細末。煉蜜丸。如梧桐子。每服三十丸。滾白水送下。</p>
<p>草豆蔻丸（百三十八）</p>
<p>草豆蔻（麵裹煨）　澤瀉（小便多者減半）　半夏（泡各一兩）　吳茱萸（湯泡焙乾）　橘紅（去白）　人參　白殭蠶　黃耆　益智仁（各八錢）　生甘草　炙甘草　當歸身（酒洗）　青皮（去穰各六錢）　桃仁（去皮尖七十粒）　麥糵面（炒一兩半）　神麯（炒微黃）　柴胡（脅不痛減半）　薑黃（各四錢）</p>
<p>上為細末。湯浸蒸餅。丸如梧桐子大。每服三十丸。食遠白滾湯送下。</p>
<p>丁香楝實丸（百三十九）</p>
<p>當歸（酒洗）　附子（炮）　川楝子（去核）　茴香（炒各一兩）</p>
<p>上細切。用好酒三升同煮。酒盡為度。取出焙乾為細末。每稱藥一兩。再入後項藥。</p>
<p>丁香　木香（各五錢）　全蠍（制十三個）　玄胡索（五錢）</p>
<p>上為細末。同前藥末拌勻。酒糊丸。如梧桐子大。每服三十丸。或至百丸。溫酒送下。</p>
<p>木香蹋氣丸（百四十）</p>
<p>木香　陳皮（去白）　青皮（去穰）　草豆蔻（炮）　蘿蔔子（炒）　胡椒（各三錢）　蠍尾（去毒二錢五分）</p>
<p>上為細末。糊丸如梧桐子大。每服三十丸。食後米飲湯送下。</p>
<p>中滿分消丸（百四十一）</p>
<p>黃芩（去朽細切酒拌炒二次六錢）　黃連　枳實（麥麩炒）　半夏（湯泡七次去皮臍五錢）　厚朴（薑製五錢）　薑黃　人參　白朮（各二錢五分）　甘草（炙）　豬苓（去黑皮各一錢）　乾生薑　白茯苓（去皮）　砂仁（各二錢）　知母（去毛酒炒）　澤瀉　陳皮（去白各二錢）　</p>
<p>上為末。蒸餅作糊。丸如梧桐子大。每服百丸焙熱。白滾湯或淡薑湯送下。</p>
<p>檳榔丸（百四十二）</p>
<p>檳榔　木香（各二錢五分）　枳實（麥麩炒）　醜頭末　陳皮（去白各五錢）　</p>
<p>上為細末。醋糊丸。如梧桐子大。每服二十丸。生薑湯送下。</p>
<p>厚朴丸（百四十三）</p>
<p>當歸（酒洗）　丁皮（各五錢）　厚朴（薑汁製一兩）　細辛（二錢五分）　人參（一錢五分）　甘草（炙五釐）　</p>
<p>上為細末。煉蜜為丸。如彈子大。每服一丸。用水一盞。煎至六分。和滓熱服。枳朮丸（百四十四）</p>
<p>白朮（二兩）　枳實（麥麩炒一兩）</p>
<p>上為細末。用沸湯泡。青荷葉乾者亦可。頃間去藥用湯浸。晚粳米杵粉。以原湯煮糊為丸。如梧桐子大。每服五十丸。多至七八十丸。白滾湯送下。</p>
<p>金花丸（百四十五）</p>
<p>黃連　黃芩　黃柏（去皮）　山梔仁（炒各一兩）</p>
<p>上為細末。滴水丸如梧桐子大。每服五十丸。熱滾水送下。</p>
<p>牛膝丸（百四十六）</p>
<p>牛膝（去蘆酒洗）　萆薢　杜仲（薑汁炒絲斷）　肉蓯蓉（酒浸去甲）　菟絲子（酒浸）　防風　葫蘆巴（炒）　破故紙（酒浸炒）　白蒺藜（各等分一兩）　官桂（五錢）</p>
<p>上為細末。酒煮豬腰子。丸如梧桐子大。每服五十丸。溫酒送下。腰痛甚者。服之尤捷。</p>
<p>左金丸（百四十七）</p>
<p>黃連（六兩）　吳茱萸（一兩湯泡浸半時許焙乾用）</p>
<p>上為細末。粥湯為丸。如梧桐子大。每服五十丸。用白朮陳皮煎湯送下。滾白水亦可。</p>
<p>地芝丸（百四十八）</p>
<p>生地黃（酒洗四兩）　天門冬（去心四兩）　枳殼（麥麩炒二兩）　甘菊（二兩）</p>
<p>上為細末。煉蜜丸如梧桐子大。每服百丸。食後茶清送下。肥氣丸（百四十九）</p>
<p>當歸（頭酒洗）　蒼朮（各一兩五錢）　青皮（炒一兩）　蛇含石（醋煆淬七錢五分）　三稜　莪朮　鐵孕粉（各三兩與三稜蓬朮同入醋煮一沸時久）</p>
<p>上為細末。醋煮米糊為丸。如綠豆大。每服四十丸。用當歸浸酒下。食遠溫服之。</p>
<p>痞氣丸（百五十）</p>
<p>赤石脂（醋淬火煆）　川椒（炒出汗）　乾薑（炮各二兩）　桂心　附子（炮各五錢）　大烏頭（炮去皮臍二錢五分）</p>
<p>上為細末。煉蜜為丸。如梧桐子大。以硃砂為衣。每服五十丸。食用清米湯送下。</p>
<p>補陰丸（百五十一）</p>
<p>黃柏（半斤鹽酒拌炒褐色）　知母（去毛酒製炒）　熟地黃（酒洗各三兩）　龜板（酥炙四兩）　白芍藥（煨）　陳皮（去白）　牛膝（酒浸去蘆各二兩）　虎脛骨（酥炙一兩）　鎖陽（酥炙）　當歸（酒洗各一兩五錢）</p>
<p>上為細末。酒煮羯羊肉為丸。如梧桐子大。每服五六十丸。空心鹽湯送下。冬月加乾薑半兩。</p>
<p>滋腎丸（百五十二）</p>
<p>黃柏（酒炒陰乾二兩）　知母（酒浸二兩）　桂（去粗皮一錢）</p>
<p>上為細末。熟水丸如梧桐子大。每服五十丸。空心百沸湯下。</p>
<p>瀉青丸（百五十三）</p>
<p>當歸（酒洗）　龍膽草　川芎　山梔　大黃　羌活　防風（各等分）</p>
<p>上為細末。煉蜜丸。如梧桐子大。每三十丸。熟滾水送下。</p>
<p>奔豚丸（百五十四）</p>
<p>厚朴（薑汁製七分）　黃連（五錢）　白茯苓（去皮）　澤瀉（去毛）　菖蒲（各二錢）　川烏（炮）　丁香（各五分）　苦楝（酒煮去核三錢）　玄胡索（一錢五分）　全蠍　附子　獨活（各一錢）　肉桂（一分）　巴豆霜（去油用五分）</p>
<p>上件除巴豆霜茯苓。各另研為末。旋入外為細末和勻。煉蜜丸如梧桐子大。淡鹽湯下。初服二丸。一日加一丸。二日加二丸。漸漸加至大便微溏。再服二丸起加服之。積消而止。</p>
<p>黃連黃柏知母丸（百五十五）</p>
<p>黃連　黃柏　知母（酒製各等分）</p>
<p>上為末。水丸。如梧桐子大。每服七八十丸。至百丸。空心百沸湯送下。以飲食厭之。</p>
<p>二丹丸（百五十六）　（治健忘養神。定志和血。安神。外華腠理。）</p>
<p>熟地黃（酒洗）　天門冬（去心）　丹參（各一兩五錢）　茯神（去皮心）　麥門冬（一兩去心）　甘草（炙一兩）　遠志（去心）　人參（五錢）　丹砂（另研為衣）　菖蒲（各五錢）　</p>
<p>上為細末。煉蜜為丸。如梧桐子大。每服五十丸。或加至百丸。空心愈風湯送下。</p>
<p>平補鎮心丹（百五十七）</p>
<p>白茯苓（去皮）　五味子　熟地黃（酒洗）　天門冬（去心）　麥門冬（去心）　肉桂（各一兩二錢五分）　遠志（去心）　茯神（去皮心）　山藥（薑汁炒各兩半）　酸棗仁（去殼二錢五分）　車前子　人參　硃砂（另研各五錢）　龍齒（制一兩五錢）</p>
<p>上為末。煉蜜為丸。如梧桐子大。硃砂為衣。每服三十丸。空心用米飲湯。或溫酒任下。</p>
<p>還少丹（百五十八）</p>
<p>川牛膝（去蘆酒浸）　山藥（炒各一兩五錢）　杜仲（薑汁炒斷絲）　巴戟（去心）　山茱萸（去核）　肉蓯蓉（酒浸去甲）　五味子　白茯苓（去皮）　小茴香（炒）　遠志（去心同甘草煮）　柏子仁（各一兩）　石菖蒲　枸杞子（去核各五錢）　熟地黃（酒洗二兩）</p>
<p>上為細末。煉蜜同紅棗肉為丸。如梧桐子大。每服七十丸。用溫酒或鹽湯送下。日進三服。</p>
<p>黑錫丹（百五十九）</p>
<p>黑錫（熔化去滓）　硫黃（各二兩）　金鈴子（即川楝子）　沉香　木香　附子（炮）　葫蘆巴　茴香　破故紙　陽起石（研水飛）　肉豆蔻（炮）　桂（各半兩自金鈴子以下另為末）</p>
<p>上將黑錫用新鐵銚先熔化。以硫黃末一錢和炒黑錫結成砂子。再用慢火熔化。將所餘藥一兩九錢。硫黃黑錫同熔化攪冷勻。傾在地坑內。出火毒。過一夜。取出研令極細末。又將前項為末。和勻一處。再研一日。成黑光為度。酒糊為丸。如梧桐子大。陰乾入布袋內擦光。每服五十七十丸。空心姜鹽湯任下。或棗湯下。婦人醋艾湯送下。一方有巴戟。</p>
<p>金鎖鎮元丹（百六十）</p>
<p>五倍子　白茯苓（各八兩）　巴戟（去心）　肉蓯蓉（酒浸去甲）　葫蘆巴（炒各一斤）　補骨脂（酒炒十兩）　硃砂（三兩另研）　龍骨（二兩）</p>
<p>上為末。酒糊為丸。如梧桐子大。每服二十丸。空心溫酒淡鹽湯任送下。</p>
<p>離珠丹（百六十一）</p>
<p>杜仲（薑汁炒絲斷）　破故紙（制各三兩）　萆薢（二兩）　訶子（去核五枚）　龍骨（煆）　巴戟（去心各一兩）　胡桃肉（百二十個）　砂仁（五錢）　硃砂（一錢五分另研）</p>
<p>上為細末。酒糊為丸。如梧桐子。硃砂為衣。每服二十丸。空心鹽湯溫酒任送下。</p>
<p>天真丹（百六十二）</p>
<p>沉香　巴戟（酒浸去心）　茴香（鹽炒去鹽）　萆薢（酒浸炒）　葫蘆巴（炒）　破故紙　杜仲（薑汁炒）　黑醜（鹽炒去鹽）　琥珀（各一兩）　桂（五錢）</p>
<p>上為末。用原浸藥酒煮糊為丸。如梧桐子大。每服五六丸。至七八丸。空心溫酒送下。</p>
<p>三才封髓丹（百六十三）</p>
<p>天門冬（去心）　熟地黃（酒浸）　人參（各五錢）　黃柏（酒浸炒三兩）　砂仁（一兩五錢）　甘草（炙七錢五分）</p>
<p>上為末。水煮糊丸。如梧桐子大。每服五十丸。用制肉蓯蓉半兩。切作片子。以酒一大盞。浸一宿。次日煎四沸。去滓送下。</p>
<p>四白丹（百六十四）　（清肺氣養魄。中風者多昏冒。氣不清利。此藥主之。）</p>
<p>白芷（一兩）　白檀（一錢五分）　白茯苓（去皮）　白朮　縮砂仁　人參　防風（去蘆）　川芎　香附子（炒）　甘草（炙各五錢）　羌活　獨活　藿香（各一錢五分）　知母（去毛）　細辛（去葉各二錢）　甜竹葉（二兩）　薄荷（三錢五分）　麝香（一分另研）　牛黃（另研）　龍腦（另研各五分）　</p>
<p>上為細末。煉蜜為丸。每一兩作十丸。臨臥嚼一丸。分五十次嚼。以愈風湯送下。</p>
<p>煮棗方（百六十五）</p>
<p>甘遂　大戟　芫花（各等分）</p>
<p>上為末。煮棗肉為丸。如梧桐子大。清晨熱湯送下三十丸。以利為度。次早再服。虛人不可多服。</p>

<h1>卷下</h1>

<h2>中風（一）</h2>
<p>中風者。專主正氣。氣虛而痰氣乘之所致也。分氣血而治之。經云。且如舟行於水。人遇於風。舟漏則水入。體湧則風傷。按治法。治痰先治氣。氣順則痰利。治風先治血。血行風自滅。先養血而後去風。必用順氣排風等劑。如左手脈來無力。屬血虛。治以血藥倍多。右手脈來無力。屬氣虛。治以氣藥倍多。依方隨病制宜。無如膠柱鼓瑟而誤察病。反嗔制方之不精也。</p>
<p>秘傳加減省風湯</p>
<p>陳皮　半夏　茯苓　甘草　羌活　防風　黃芩　白芷　白朮　紅花（有死血者加之）</p>
<p>上細切作一服。用水二盞。生薑三片。煎至一盞。去渣。再用木香磨薑汁竹瀝入藥內攪勻服。血虛者。加當歸。生地黃。熟地黃。去紅花。氣虛者。加人參。黃耆。去白芷。痰盛者。加栝蔞仁。枳實。大便燥閉。脈實者。加大黃。咬牙閉目者。用皂莢末。蘆筒吹入鼻內。或裝於紙。捻沖。有嚏者可治。否則不治。痰盛者。重用槌法內吐痰甚良。痰大出即蘇。量老幼元氣虛實治之。凡中風口開手撒。眼合遺尿。吐沫直視。喉如鼾睡。肉脫筋痛。髮直搖頭上竄。面赤如妝。汗綴如珠。皆為中風不治之證也。中風灸法風府（二）人中（一）頰車（二）合谷（二）各灸七壯</p>

<h2>中寒（二）</h2>
<p>中寒者。屬冬時中於寒。手足厥冷。或腹痛嘔吐。甚則暈倒昏迷不省人事。脈沉遲無力。治宜辛溫之劑。大法風中則身溫。寒中則身冷者是也。</p>
<p>秘傳加減理中湯（中寒輕者用此方）</p>
<p>人參　白朮　乾薑　甘草　乾葛　肉桂　陳皮　半夏　茯苓　細辛</p>
<p>上細切。作一服。用水二盞。姜三片。煎至一盞。去渣溫服。中寒重者。六脈全無。或腹痛瀉痢不止。加附子。如身甚惡寒者。加麻黃。煨生薑。水煎。臨服時。再加薑汁半盞服。其患者皮膚外。仍用生薑搗碎炒熱。款款熨之良。</p>

<h2>中暑（三）</h2>
<p>中暑者。即夏時所受三伏火也。在天為火。在地為暑。在人臟為心。凡暑氣先中於心。脈虛身熱。自汗背惡寒。毛聳齒燥。避暑深堂大廈。得此證者。名中暑是也。行人沖走長途。或田野力農卒倒者。名中熱是也。夫中暑者。陰證內傷之為病也。中熱者。陽證外感之為病也。經云治暑當降火。宜此飲隨證加減。</p>
<p>秘傳加減香薷飲</p>
<p>香薷　白扁豆　黃連　甘草　麥門冬　五味子　知母　陳皮　茯苓　厚朴</p>
<p>上細切。用水二盞。加薑棗燈芯。煎至一盞。去渣不拘時冷服。身熱者加柴胡。嘔者加半夏姜汗。渴者加天花粉。元氣虛者加人參黃耆。小便短赤或澀者。加山梔仁澤瀉。自汗或水瀉者。加炒白朮升麻。頭痛者加石膏川芎。</p>
<p>清暑益氣湯（治長夏一切等證。）</p>
<p>白虎湯（治暑熱發渴。並見卷上湯類。）</p>
<p>益元散（治中暑身熱煩渴小便不利等證。即六一散。）</p>
<p>五苓散（治濕熱發熱黃證。並見卷上散類。）</p>
<p>若加茵陳。治濕熱發熱黃證最捷。若暑濕二邪交病。加平胃散。名胃苓湯。</p>

<h2>中濕（四）</h2>
<p>中濕者。須分內外而治也。內濕者。乃飲食生冷所傷也。外濕者。皆山嵐露雨。水土之氣所中也。其人脈俱沉細。經云。治濕不利小便。非其治也。</p>
<p>秘傳加減滲濕湯</p>
<p>蒼朮　厚朴　陳皮　茯苓　半夏　黃連　燈芯</p>
<p>上細切。作一服。用水二盞。姜三片。棗一枚。煎一盞。去渣納鹽二字服。內濕者。食下必嘔吐。腹中脹滿。小便短赤。加山楂枳實黃連炒蘿蔔子。</p>
<p>外濕者。身體必腫痛。寒熱往來。小便短赤。加羌活木通黃芩。小便不利者。加豬苓澤瀉。發黃者。專主濕熱所成。如盦曲相似。蓋濕熱則易為黃矣。利小便為上策。加茵陳滑石木通豬苓澤瀉山梔黃柏。</p>

<h2>感冒（五）</h2>
<p>感風者。脈多浮數。其證身熱面光。有汗惡風。鼻塞聲重。頭疼涕唾稠黏。感寒者。脈多浮緊。其證身熱面慘。無汗惡寒。腰背拘急。頭項強痛。感冒之初。治此病者。須當診按分別之。</p>
<p>引方參蘇飲（治感風無汗。鼻塞聲重。頭疼。見卷止飲類。）</p>
<p>若冬月外感。惡寒無汗。咳嗽。鼻塞聲重者。加麻黃杏仁金沸草表汗散之。若春夏秋三季咳嗽有痰者。去人參木香。加桑白皮杏仁。若頭痛兼咳嗽者。加川芎細辛。若氣促喘嗽不止者。加知母貝母。若肺寒咳嗽者。加五味子乾薑。若痰熱者加片芩。若胸滿痰多者。加栝蔞仁。如痰唾如膠者。加金沸草。若嘔逆者。加藿香砂仁。若心下痞悶。或胸中煩熱。或嘈雜噁心。或停酒不散者。倍乾葛陳皮加黃連枳實。若脾泄者。加蓮肉白扁豆。若似瘧者。加草果川芎。若鼻衄者加四物湯。</p>
<p>藿香正氣散（治時令不正瘟疫大行感冒等證。）</p>
<p>大腹皮（制）　紫蘇　藿香　白芷　茯苓（各六分）　厚朴（制）　白朮　陳皮　桔梗　半夏（各四分）　甘草（炙二分）</p>
<p>上細切。用水二盞。姜三片。棗一枚。煎服。</p>
<p>羌活沖和湯（以代桂枝麻黃青龍各半等湯。此太陽經之神藥也。治春夏秋非時感冒。暴寒頭痛。發熱惡寒。脊強無汗。脈浮緊。此是太陽膀胱經受邪。是表證。宜發散。不與冬時正傷寒同治法。此湯非獨治三時暴寒。春可治溫。夏可治熱。秋可治濕。治雜證亦有神也。秘之。勿與庸俗知此奇妙耳。）</p>
<p>羌活　蒼朮（各一錢半）　防風　黃芩　川芎　白芷　甘草（各一錢）　生地黃（二錢）　細辛（五分不可多）</p>
<p>上細切。用水二盞。姜三片。棗二枚。煎至一盞。槌法加蔥白搗汁五匙。入藥再煎一二沸。若發汗宜熱服。止汗宜溫服。若胸中飽悶。加枳殼桔梗。去生地黃。若夏月加石膏知母。名神術湯。若服此湯不作汗。加蘇葉。若喘而惡寒身熱。加杏仁生地黃。若汗後不解。宜要服汗下兼行。加大黃釜底抽薪之法。若春夏秋感冒非時傷寒。亦有頭痛惡寒。身熱。脈浮緩自汗。宜實表。去蒼朮加白朮。汗不止加黃耆。即加減沖和湯。再不止。以小柴胡湯加桂枝芍藥一錢如神。</p>
<p>以上二證。如法治而未愈。或合吐。或合下。更於傷寒論中求之合證。若虞機之省括於度。發無不中矣。</p>
<p>凡傷寒傳經之證。初得太陽經病。惡寒發熱。頭項強。腰脊痛。無汗。急用羌活沖和湯表之而愈。或諸痛悉除。亦不惡寒。但發熱不解。或微汗濈濈然出。此為挾虛證。宜用補中益氣湯為主治。有汗加桂枝芍藥。汗未透。脈尚浮緊。加羌活蒼朮防風葛根。倍升麻柴胡。滿悶者去黃耆。人參。仍頭痛未除。加川芎白芷荊芥薄荷細辛葛根若渴加五味子麥門冬天花粉。三四日間。不宜前藥。則以小柴胡湯。驗證加減。如寒熱脅痛。少陽外證悉具。只以本方服之。若兼腹滿自利。已見太陰證而少腸證尤未除者。本方中加五苓散。名柴苓湯。熱甚者去桂倍黃芩。渴甚者本方去半夏加五味子天花粉。五六日不大便。潮熱引飲。本方中去人參甘草。加芍藥枳殼厚朴大黃。甚者加芒硝。或用河間三一承氣湯。七八日過經不解。熱不退。或黃連解毒湯。涼膈散。選而用之。或仍以小柴胡湯看證調治而愈。或愈後因勞役復熱者。仍用補中益氣湯。多服數帖自安。雖因食復病。切不可輕用大黃芒硝之類下之。蓋病後氣血大虛。若復下之必死。慎之慎之。</p>
<p>上證治法內方。悉見前集。再不重立。此載大略未備。治此證者。須於仲景傷寒論中。熟覽詳究用藥。庶無誤矣。</p>

<h2>內傷（六）</h2>
<p>內傷者。皆由飲食不節。起居不時。勞役過傷。或觸犯賊風。惡寒發熱。宜察表裡虛實。內傷外感之候。亦有外感挾內傷。有內傷挾外感。此撮要言。更遍覽東垣論中。庶得詳悉大法。宜以扶植胃氣為本。斟酌用藥。毋違東垣之指也。</p>
<p>引方補中益氣湯（見卷上湯類。備錄加減法。）若咽乾。本方加乾葛。若心刺痛。乃血澀不足。倍當歸。若精神短少。倍人參加五味子。若頭痛。加蔓荊子。痛甚加川芎。頂腦痛。加藁本細辛。若痰多。加半夏貝母生薑。若咳嗽。春加佛耳草款冬花。夏加五味子麥門冬。秋冬加連節麻黃。久嗽肺中伏火去人參。若惡食。食不下。乃胸中有寒。或氣澀滯。倍陳皮加青皮木香。寒月更加益智草豆蔻。夏月加芩連。秋月更加砂仁檳榔。若心下痞悶。加芍藥黃連。若腹脹。加枳實木香砂仁厚朴。寒月加生薑肉桂。若腹痛。加芍藥甘草。有寒加桂心。夏加黃芩倍甘草芍藥。冬加益智草豆蔻半夏。若脅痛或急縮。倍柴胡甘草。若臍下痛。加熟地黃。不已。乃是寒也。加肉桂。若大便閉澀。加當歸梢大黃。若腳軟乏力或痛。加黃柏。不已更加防己。</p>
<p>若氣浮心亂。以硃砂安神丸鎮之。</p>
<p>上方加減法。是飲食勞倦。喜怒不節。如病熱中。則可用之。若未傳寒中。則不可用。此蓋甘酸適口以益其病耳。如黃耆人參甘草芍藥五味子之類是也。（見脾胃論。）</p>
<p>硃砂安神丸</p>
<p>調中益氣湯</p>
<p>草豆蔻丸（治宿食不消胃口痛。）</p>
<p>枳朮丸（治痞滿消食強胃等證。並見卷上湯類丸類。）</p>
<p>若元氣虛弱。飲食不消。心下痞悶。本方加橘皮一兩。名橘皮枳朮丸。</p>
<p>若治飲食太過。致心腹滿悶不快。本方加炒神麯一兩。炒麥糵曲一兩。名曲糵枳朮丸。若破滯氣。消飲食。開胃進食。本方加木香一兩。名木香枳朮丸。若治因冷食內傷。本方加製半夏一兩。名半夏枳朮丸。</p>
<p>若治傷肉食濕面。辛辣味厚之物。填塞悶亂不快。本方加酒炒黃連酒蒸大黃。炒神麯。淨橘紅。各二兩。黃芩四兩。名三黃枳朮丸。</p>
<p>保和丸（治一切飲食所傷。胸腹飽悶不安。或腹中有食積癖塊。多服日漸消散。若脾胃虛者。恐不可服。）</p>
<p>山楂肉（五兩）　神麯（炒）　半夏（炮去皮各三兩）　茯苓　陳皮（去白）　蘿菔子（炒）　連翹（各一兩）</p>
<p>上為細末。別用生神麯五兩。入生薑汁一小盞。水調打糊為丸。如梧桐子大。每三五十丸。清米飲湯送下。若健脾胃。消食積。加麥糵面一兩。</p>
<p>白朮二兩。名大安丸。一云脾虛者服之。虛虛之禍。疾如反掌。或以四君子等物作湯。使送下。蓋山楂一味。大能克化食物。若胃中無食。脾虛不運。不思食者。服之則克伐脾胃之氣。故云然也。</p>
<p>加味二陳湯（導痰補脾。消食行氣。）</p>
<p>陳皮　茯苓　神麯（炒各七分）　山楂肉（一錢五分）　半夏（泡去皮）　香附子（各一錢）　川芎　蒼朮　白朮（各八分）　麥芽面（炒）　砂仁（炒各五分）　甘草（炙三分）</p>
<p>上除神麯麥芽面細研另包。余細切作一服。生薑三片。棗一枚。水二盞。煎一盞。調神麯麥芽面入內攪服。</p>
<p>木香導滯丸（治傷濕熱之物。不得施化而作痞滿。悶亂不安宜用。）</p>
<p>大黃（一兩）　枳實（制）　神麯（炒各五錢）　白茯苓　黃芩　黃連（去毛）　白朮（各三錢）　澤瀉　木香　檳榔（各二錢）</p>
<p>上為細末。湯浸。蒸餅為丸。如梧桐子大。每服七八十丸。溫滾水食遠送下。量強弱加減丸數。以利為度。</p>
<p>加減潤腸丸（治傷食心腹痛。能潤血燥熱。通大便。）</p>
<p>大黃（倍加）　黃芩　麻黃　郁李仁　杏仁（去皮）　厚朴　枳殼　陳皮（去白）　當歸梢　蘿菔子（各等分）</p>
<p>上為末。煉蜜丸如梧桐子大。每服百丸。食前滾白水送下。</p>
<p>備急大黃丸（治心腹諸卒暴痛。食積胸滿。下咽氣便速行。）</p>
<p>大黃　巴豆（去皮油膜）　乾薑（各等分）</p>
<p>上為細末。煉蜜和搗為丸。如小豆大。每服二丸。白湯送下。以利為度。</p>
<p>人參養胃湯（治內傷飲食。心腹脹痛。吐瀉瘧疾初起。瘧後調理脾胃。）</p>
<p>蒼朮　厚朴　陳皮（去白）　甘草（炙）　人參　白茯苓　半夏（去皮）　草果　藿香　加砂仁　香附子</p>
<p>上細切。用水二盞。生薑三片。烏梅一個。煎至一盞。去滓溫服。若痎瘧寒多者。加炮附子。</p>
<p>參苓白朮散（治脾胃虛弱。飲食不進。或嘔吐瀉痢。或大病後補助脾胃。此藥極妙。）</p>
<p>八參　白茯苓　白朮　乾山藥　白扁豆（去殼薑汁浸炒各一兩五錢）　甘草（炙）　薏苡仁（炒）　桔梗（米泔水浸）　蓮肉（去心）　砂仁（各一兩）</p>
<p>若治噤口痢。用石蓮肉加石菖蒲一兩。有氣更加木香五錢。</p>
<p>上為細末。每服二錢。棗湯送下。噤口痢。用粳米湯。休息痢。用砂糖湯調送下。</p>

<h2>郁證（七）</h2>
<p>郁證者。氣鬱而濕滯。濕滯而成熱。熱鬱而成痰。痰鬱而成癖。血鬱而成症。食鬱而成痞滿。丹溪曰。氣血沖和。百病不生。一有怫鬱。諸病生焉。</p>
<p>引方六郁湯（解諸郁）</p>
<p>陳皮（去白一錢）　香附子（二錢）　半夏（泡去皮）　山梔仁（炒）　赤茯苓（各七分）　蒼朮　撫芎　砂仁（炒研細）　甘草（炙各五分）</p>
<p>上細切。作一服。用水二盞。生薑三片。煎至一盞。去滓溫服。若氣鬱。倍香附砂仁。加烏藥木香檳榔蘇梗乾薑。若濕鬱。倍蒼朮加白朮。若熱鬱。倍山梔加黃連。若痰鬱。加南星枳殼豬牙皂莢。若血鬱。加桃仁紅花牡丹皮。若食鬱。加山楂神麯麥糵面。</p>
<p>越曲丸（解諸郁）</p>
<p>神麯（炒）　香附（童便浸）　蒼朮　川芎　山梔仁（炒各等分）　</p>
<p>上為細末。水丸如綠豆大。每服五七十丸。食遠溫滾水送下。</p>

<h2>痰飲（八）</h2>
<p>痰飲者。為患百端。夫善治痰。順氣為先。必兼實脾燥濕。王隱君有論。丹溪有方。治者於此求之。庶得詳悉。不失醫理之旨矣。</p>
<p>引方二陳湯（見卷上湯類。）</p>
<p>導痰湯（治風濕咳嗽等證。）</p>
<p>半夏（湯泡去皮二錢）　南星（煨）　陳皮（去白）　枳殼（麥麩炒）　茯苓（去皮）　甘草（炙各一錢）　生薑（五片）</p>
<p>上細切。用水一盞半。煎至一盞。去滓溫服。若久嗽。肺燥熱。去半夏。加五味子九粒。杏仁五分。</p>
<p>加味二陳湯（治痰理脾胃。）</p>
<p>陳皮（鹽水浸八分）　半夏（薑汁炒一錢五分）　白茯苓（去皮）　白朮（各一錢三分）　香附（鹽水拌炒七分）　連翹　黃芩（炒）　枳實（麥麩炒）　前胡　甘草（各五分炙）　栝蔞仁　桔梗　麥糵（炒各一錢）</p>
<p>上細切。用水二盞。姜三片煎。臨服入薑汁三匙。竹瀝一杯服。</p>
<p>加減清膈化痰丸</p>
<p>陳皮（去白）　貝母（去心）　半夏曲　天南星（湯泡薑汁浸炒）　白茯苓　天花粉（各一兩）　片芩（去蘆酒炒）　香附子（童便浸醋炒）　枳實（麥麩炒）　蒼朮（米泔浸去皮炒）　海石（另研各八錢）　桔梗（六錢）</p>
<p>上為細末。燒竹瀝。加生薑汁為丸。如綠豆大。每服九十丸。食遠及臨臥。滾白水送下。</p>
<p>加味化痰丸（治痰滿胸膈。咽喉不利者。）</p>
<p>橘紅（去白鹽水洗）　半夏曲（炒各二兩）　桔梗（米泔水浸）　海蛤粉（另研）　貝母（去心）　栝蔞仁（另研如泥）　香附（鹽水炒各一兩）　片黃芩（炒）　枳殼（麥麩炒）　連翹（各五錢）　訶子（去核）　桔白礬（另研各二錢五分）</p>
<p>上為細末。煉蜜入真生薑汁。調和為丸。如黍稷米大。每服四五十丸。淡生薑湯送下。不可多服。恐傷上焦元氣。</p>
<p>清氣化痰丸（治胸膈停痰。消飲食。理脾胃。順氣寬胸解鬱。）</p>
<p>陳皮　青皮　蘇子　香附子（各二兩）　神麯　麥芽　山楂　茯苓　蘿菔子　杏仁（各一兩）　南星　半夏（各四兩。以皂角二兩。白礬二兩。生薑四兩。切片同水煮。取南星半夏焙乾。）</p>
<p>上為末。竹瀝薑汁打糊。丸如梧桐子大。每服七十丸。薑湯下。</p>

<h2>咳嗽（九）</h2>
<p>咳嗽者。須分春夏秋冬。並陰虛火動勞嗽風痰治之。春是春升之氣。夏是夏火炎上。最重。秋是濕熱傷肺。冬是風寒外感。痰嗽者。嗽動便有痰出是也。勞嗽者。盜汗面赤是也。火嗽者。乍進乍退是也。風寒嗽者。鼻塞聲重是也。</p>
<p>秘傳加味二陳湯（方見卷上湯類。）</p>
<p>春嗽。二陳湯加五味子。白芍藥。杏仁。柴胡。黃芩。生薑。煎服。</p>
<p>夏嗽。二陳湯加黃芩。五味子。黃柏。知母。</p>
<p>秋嗽。二陳湯加蒼朮。白朮。五味子。黃芩。杏仁。</p>
<p>冬嗽。二陳湯加桂枝。蘇葉。細辛。杏仁。麻黃。</p>
<p>痰嗽。二陳湯加桔梗。前胡。貝母。紫菀。白芍藥。</p>
<p>勞嗽。二陳湯合四物湯。加杏仁。紫菀。五味子。貝母。款冬花。（若久嗽去款冬花。加罌粟殼。是治其本也。）</p>
<p>火嗽。用石膏杏仁湯。石膏。杏仁。桔梗。桑白皮。芍藥。真青黛。貝母。栝蔞仁。梔子。陳皮。積殼。甘草。</p>
<p>肺脹嗽。用桔梗香薷湯。桔梗。香薷。陳皮。枳殼。黃芩。貝母。桑根白皮。地骨皮。青皮。柴胡。澤瀉。甘草梢。天門冬。燈芯。</p>
<p>肺實嗽喘。（兩寸脈洪而有力者。）用葶藶桑白皮湯。葶藶子。桑白皮。紫菀茸。款冬花。石膏。杏仁。栝蔞仁。黃芩。陳皮。枳殼。天花粉。桔梗頭。白茯苓。甘草梢。</p>
<p>肺虛喘嗽。（兩寸脈微而無力者。）用五味子湯。五味子。人參。桔梗。</p>
<p>上半夜嗽者屬陰虛。二陳湯合四物湯。加黃柏。知母。五味子。</p>
<p>五更嗽者。屬陽虛食積。二陳湯加枳實。神麯。山楂。凡嗽得出者用半夏。嗽不出者去半夏。用貝母。若干嗽者。為最難治。</p>

<h2>瘧證（十）</h2>
<p>瘧疾者。起於內傷外感。無痰不成瘧。脈自弦數遲是也。治法當看所挾客邪何如。若有風散風。有寒祛寒。有暑消暑。有濕除濕。有痰治痰。有積除積。客邪既去寒熱既准。然後可截寒來不久則腎虛。熱來不久則胃虛。若不截止。必成勞矣。經云。先補正氣。後退邪氣。理之必然。</p>
<p>秘傳人參鱉甲飲</p>
<p>人參　鱉甲　蒼朮　白朮　半夏　厚朴　川芎　當歸　檳榔　青皮　甘草（炙）　生薑</p>
<p>上細切。若日間發者屬陽。用酒水各一盞。黑豆一撮。桃枝頭七個。烏梅一個。同煎至七分。露一宿。未發之先。去渣空心服。若夜間發者屬陰。</p>
<p>加升麻桔梗。若寒多者。加桂枝。酒多水少。若熱多者。加柴胡茯苓。</p>
<p>水多酒少。若元氣不足者。加升麻。若渴甚者。加天花粉知母。若久不瘥者。加常山草果。</p>
<p>秘傳平瘧飲（治瘧不問新久神效。）</p>
<p>檳榔　枳殼　陳皮　甘草（炙）　常山　桔梗　地骨皮　五加皮　赤芍藥　白茯苓（一方無茯苓有草果）</p>
<p>上細切。各等分。用瓷碗盛之。酒浸露一宿。臨發日。去渣空心熱服。渣仍</p>
<p>用酒一盞半。煎八分服。若寒多。倍加檳榔枳殼。若熱多。倍加陳皮甘草。</p>
<p>加味小柴胡湯</p>
<p>日間發者屬陽。本方合四君子湯。加川芎。葛根。蒼朮。陳皮。青皮。用水煎服。</p>
<p>夜間發者屬陰。本方合四物湯。加青皮。用水煎服。</p>
<p>人參參胃湯（治瘧後調理最妙。）</p>
<p>平胃散。加人參。茯苓。半夏。草果。藿香。生薑。烏梅。</p>
<p>上細切。用水煎服。如痎瘧寒多者。加炮附子。</p>

<h2>泄瀉（十一）</h2>
<p>泄瀉者。多因脾胃虛弱。為飲食所傷。及風寒暑濕之氣所襲而成。此病治法。須分氣虛食積並寒濕火。不可一概妄治。經云。虛者補之。寒者溫之。濕者利之。火者降之。食積消之。此為大法。</p>
<p>秘傳加減平胃散</p>
<p>蒼朮（米泔水浸去皮）　白朮　白茯苓　甘草（炙）　陳皮（去白）　砂仁　豬苓　澤瀉</p>
<p>上細切。用水二盞。加薑棗燈芯。煎至八分。去滓食遠服。若瀉如清水。脈來無力者屬寒。加炮乾薑。肉桂。甚不止。加製附子。若瀉如痢。黃赤稠黏。或乍瀉口渴。脈來無力者。屬火加黃連。黃芩。炒乾姜少許。若瀉而腹痛。右關脈來有力者。屬食積。加草果。枳實。山楂。若瀉腹痛。或嘔吐者。加木香磨薑汁服。若瀉。小便短赤。脈沉者。屬濕。加滑石。燈芯。</p>
<p>若瀉。腹如雷鳴者。加煨生薑五大片。若久不止者。屬脾泄。脈來無力。</p>
<p>加人參。黃耆。若甚不止者。加升麻。炒白朮。蒼朮。</p>
<p>溫六丸（治泄瀉並痢。）</p>
<p>六一散一料。加乾薑五錢。一方去乾薑加紅曲五錢。名清六丸。治證見上。</p>
<p>上為末。炊餅為丸。如梧桐子大。每服五七十丸。米飲湯送下。</p>
<p>秘傳灸法（治吐瀉垂死者。）</p>
<p>灸天樞氣海三穴立已（天樞在挾臍二寸。氣海在臍下一寸五分）</p>

<h2>痢（十二）</h2>
<p>痢者多是濕熱。亦有食積者。初不可便用止澀之劑。宜早據虛實。通因通用為先。以斷下為後。祛外邪。分陰陽。清積滯。淡以滲泄。苦以堅之。又中間有權變。痢久不可下。當察證調之。此乃概論。痢方紛雜。治者慎按焉。</p>
<p>引方感應丸（治痢初起祛逐之。此通因通用之法。見卷上丸類。）</p>
<p>秘傳萬病遇仙丹（治一切痢疾。並積聚癥瘕。男子女人小兒一切腹病。惟孕婦不宜服之。）</p>
<p>黑醜（一斤取頭末五兩半生半炒用）　莪朮（生用）　茵陳（生用）　檳榔（生用）　三稜（醋浸煮）　豬牙皂角（醋浸去皮核。另為末。各五錢。）</p>
<p>上為細末。將皂角末用水打麵糊為丸。如梧桐子大。男婦每服三錢。小兒每服一錢五分。五更初用冷茶送下。痢五六次。見穢積乃除根。忌油膩濕面生冷之物。功效不可盡述。</p>
<p>大承氣湯（見卷上湯類。初起用之。此仲景治痢之法。）</p>
<p>芍藥湯（行血則便膿自愈。和氣則後重自除。此藥是也。見卷上湯類。）</p>
<p>香連丸（治下痢膿血。赤白相雜。裡急後重。見卷上丸類。）</p>
<p>六一散（治痢之聖藥。功不能述。見卷上散類。）</p>
<p>參苓白朮散（治噤口痢。一切痢。見內傷類。）</p>
<p>保和丸（治食積痢。濕熱痢。看所感作湯送下。見內傷類。）</p>
<p>秘傳香連丸（治大人小兒一切痢疾。）</p>
<p>黃連（二兩。以一兩同吳茱萸炒。以一兩同砂仁炒。凡同炒者不用。）　木香（一錢）　肉豆蔻（面炮）　訶子（面炮去核各二錢）</p>
<p>上為細末。醋糊丸。如梧桐子大。每服二十丸。空心服。若紅痢。甘草湯送下。若白痢。乾薑湯送下。若紅白相雜。清米湯送下。</p>
<p>秘傳和中飲（治痢不分赤白新久。服之無不效者。若發熱噤口不食者。慎勿服。）</p>
<p>白朮　陳皮（去白）　白茯苓　白芍藥（各一錢）　草果（去皮七分）　甘草（炙三分）　陳倉米（二錢）　砂糖（二錢）　烏梅（一個）　罌粟殼（醋炙一錢五分）　</p>
<p>上細切。用水二盞。姜三片。棗一枚。煎至一盞。去滓溫服。</p>
<p>三黃熟艾湯（治熱積臟腑。下痢赤色。及治傷寒四五日而大小熱痢。服諸藥多不止。宜服之。小兒亦宜。）</p>
<p>黃連　黃芩　黃柏（各七分五釐）　熟艾（一錢）　</p>
<p>上細切。用水一盞。烏梅二個。用水煎服。</p>
<p>秘傳團魚羹</p>
<p>團魚（大者一個）</p>
<p>上一味。用水煮去腸甲。加生薑七片。砂糖一小塊。不用鹽醬。少入米粉。</p>
<p>作羹吃一二碗立愈。</p>
<p>胃苓湯（見卷上湯類。）</p>

<h2>嘔吐噁心（十三）</h2>
<p>嘔吐噁心者。宜分氣虛。血虛、痰火、傷食。不可妄治。經云食頓出者名曰吐。食時欲嘔不嘔。欲吐不吐。名曰噁心。食後停寒在膈者。名曰傷食。若右手脈來無力者屬氣虛。有力屬痰火。若左手脈來無力屬血虛。</p>
<p>秘傳加味二陳湯</p>
<p>陳皮　半夏　茯苓　白朮　甘草</p>
<p>上細切。用水二盞。姜三片。棗二枚。煎一盞。去滓再入薑汁服。若氣虛者。加人參黃耆。若血虛者。加當歸。若痰火者。加薑汁。炒黃連。黃芩。山梔。若胃口有痰火者。加薑汁。炒黃連。炒乾姜。若挾食停寒者。加砂仁。枳實。山梔薑汁。若噁心者。加黃連。炒乾姜。生薑汁。若脾胃弱者。加砂仁。藿香。仲景云。嘔多雖有陽明證。慎勿下。思邈云。嘔家多服生薑。</p>

<h2>吞酸（十四）</h2>
<p>吞酸者。飲食入胃不化。濕熱所蒸故也。法宜溫藥散之。若久吞酸不已。宜以寒涼藥調治之。</p>
<p>秘傳加味二陳湯</p>
<p>陳皮　半夏　茯苓　甘草　蒼朮　枳實　厚朴　黃連　黃芩　山梔</p>
<p>上細切。用水二盞。生薑三片。煎一盞服。</p>
<p>秘傳正胃丸</p>
<p>吳茱萸　黃連（各一兩）</p>
<p>上以黃連細切。同吳茱萸。以井花水浸七日。去黃連。將吳茱萸焙乾。每日清晨服四十九粒。米飲湯送下。</p>

<h2>嘈雜噯氣（十五）</h2>
<p>嘈雜者。似飢不飢。似痛不痛。主心血虛少。痰火所撓。而有懊憹不自寧之況者是也。其證或兼噯氣。或兼痞滿。或兼噁心。漸至胃脘作痛。痰火之為患也。治法消其痰。降其火。健脾行濕。是治其本也。</p>
<p>秘傳加味四物湯（治嘈雜。主補血。）</p>
<p>當歸　川芎　熟地黃　白芍藥　人參　白茯苓　黃連　山梔仁　半夏　甘草（炙）</p>
<p>上細切。用水二盞。生薑三片。棗一枚煎服。若嘈雜心痛。加茯神。生地黃。</p>
<p>秘傳加味二陳湯（治噯氣。主消痰。）</p>
<p>陳皮　半夏　茯苓　甘草　黃連　黃芩　山梔　桔梗（各以生薑汁炒）</p>
<p>上細切。用水二盞。生薑三片。棗一枚煎服。</p>

<h2>梅核氣（十六）</h2>
<p>梅核氣者。咯之不出。咽之不下。乃厲痰也。此積熱過甚使然。</p>
<p>秘傳加味二陳湯</p>
<p>陳皮　半夏　茯苓　甘草　黃芩　枳殼　蘇子　桔梗　厚朴　肉桂（少許）</p>
<p>上細切。用水二盞。姜三片。棗一枚煎。臨服薑汁磨木香服之。</p>

<h2>水腫鼓脹（十七）</h2>
<p>水腫者。皆脾土有虧。不能防制腎水。以致泛溢於皮表也。其證先眼胞上下微腫。皮薄而光。手按成窟。舉手即起滿。小便短赤者是也。治法須先順氣行水。然後實其脾土。滋養肺腎。以制木火二邪。更卻鹽味。斷妄想。以防助邪而保母氣。丹溪有論最詳。治者推而求之。則達其蹊徑矣。</p>
<p>秘傳助脾滲濕湯（治水腫鼓脹。）</p>
<p>蒼朮　白朮　人參　枳殼　枳實　黃連　山梔　厚朴　大腹皮　蘿菔子（炒）　豬苓　澤瀉　</p>
<p>上細切。用水二盞。生薑三片。燈芯一握煎。再用生薑汁磨木香同服。若大便燥結者。加大黃微利之。若小便不利者。加滑石。若皮厚氣短。飽悶腹腫者。為鼓。若見臍凸。腹露青筋。手掌足背俱平者。不治。</p>
<p>丹溪治腫脹大法。宜補中行濕利小便。以人參白朮為君。蒼朮陳皮茯苓為臣。黃芩麥門冬為使。以制肝木。少加厚朴以清腹脹。氣不運加木香木通。氣下陷加升麻柴胡提之。血虛加補血藥。痰盛加利痰藥。隨證加減。用之無不效者。</p>

<h2>虛損（十八）</h2>
<p>虛損者。內外感損不同。甚者色欲所致。審知諸損。固非專方一劑可以兼治。今略據證設方。治加謹察用之。更當詳於難經機要五臟治法。庶幾毋錯。</p>
<p>引方十全大補湯（治氣血俱虛而挾寒者。以下五方。見卷上湯類。）</p>
<p>四君子湯（治氣虛。）</p>
<p>四物湯（治血虛。）</p>
<p>八物湯（治氣血兩虛。）</p>
<p>補中益氣湯（治飲食失節。勞役所傷。暴傷元氣。惡寒發熱。證似傷寒者。）</p>
<p>加味虎潛丸</p>
<p>人參　黃耆　白芍藥（酒炒）　黃柏（鹽酒炒）　當歸（酒洗）　山藥（炒各一兩）　鎖陽（酥炙）　枸杞子　虎脛骨（酥炙）　龜板（酥炙）　破故紙（炒）　菟絲子（鹽酒浸三宿焙乾）　杜仲（薑汁炒斷絲）　五味子（各七錢半）　牛膝（去蘆酒洗二兩）　熟地黃（酒浸四兩）</p>
<p>上為細末。煉蜜和豬脊髓為丸。如梧桐子大。每服五六十丸。空心用溫酒或姜鹽湯送下。一法取紫河車（即初胎產孩胞衣）　一具。長流水洗淨。去筋膜蒸熟。同前藥末搗和成劑為丸。</p>
<p>滋陰大補丸</p>
<p>川牛膝（去蘆）　山藥（各兩半）　杜仲（薑汁炒絲斷）　巴戟（去心）　山茱萸（去核）　肉蓯蓉（酒浸去甲）　五味子（去核）　白茯苓（去皮）　小茴香（炒）　柏子仁　遠智（去心甘草同煮各一兩）　石菖蒲　枸杞子（各五錢）　熟地黃（酒浸二兩用懷慶）</p>
<p>上為細末。紅棗肉和煉蜜為丸。如梧桐子大。每服用七十丸。空心淡鹽湯。或溫酒送下。與上虎潛丸。相間服之佳。所謂補陰和湯。生血益精。潤肌膚。強筋骨。性味清而不寒。溫而不熱。非達造化之精微者。未足以議於斯也。</p>
<p>秘傳固本牛膽丸（固本烏鬚髮。功效不能盡述。傳者得於京師文選司。購費珍價。宜秘藏勿輕授。）</p>
<p>人參（去蘆）　天門冬（去心）　麥門冬（去心）　生地黃（酒洗）　熟地黃（酒洗）　當歸（酒洗）　蓮花蕊　何首烏（赤白相半）　槐角（三月上已採者佳）</p>
<p>上各等分。勿犯鐵器。為細末。用臘月黑犍牛膽一個。將前藥末納入膽內。懸於風涼陰處四十九日取出。每服二錢。空心白酒調下。若畏苦。就以牛膽汁為丸。如梧桐子大。每服五十丸。空心白酒送下。切忌房事蘿菔辛辣之物。若欲多制。依前法廣取牛膽修合待用。恐春夏制之不及也。</p>
<p>秘傳一醉不老丹（養血消痰。烏須黑髮。男女皆可服之。）</p>
<p>蓮花蕊　懷慶生熟地黃　槐角子　五加皮（各三兩）　沒石子（六個三陰三陽）</p>
<p>上將前藥用木石杵舂搗碎。以生絹袋盛之。同無灰好酒十斤。入不津埕內。春冬浸一月。秋二十日。夏十日。緊封埕口。浸滿日。取藥滓曬乾。搗為細末。又用大麥面三兩炒熟。和前藥末煉蜜為餅子。每餅重一錢。又取薄荷為末。同前藥餅入瓷罐內。一層末。一層餅。每日飯後取十數餅。放在口內。待其自化嚥下。藥酒恁意飲之。以醉為度。須連日服盡。久則恐味變也。酒藥服盡。而鬚髮白者黑矣。若不黑。再合二三料服之。若餅難噙。為丸以酒吞之亦可。（近見祝公敘云。但飲前藥酒。亦自見效。渣滓不用可也。）</p>
<p>一云。生天門冬。不拘多寡。用滾水泡過。去皮心。搗爛絞汁。以砂鍋盛之。</p>
<p>用文武炭火煮。勿大沸。以十斤為率。熬至三斤。卻入蜜四兩。熬成膏。滴水中不散。取出以瓷罐盛之。埋地中七日。去火毒。每早晚用一匙。白湯調下。若動大便。以酒調服。能去積聚風痰。補肺療嗽咳失血。潤五臟。除三蟲伏屍瘟疫。輕身益氣。令人不飢。延年不老。抱朴子云。杜紫薇服天門冬。御八十妾。有子一百四十人。日行三百里。</p>
<p>班龍丸（治真陰虛慎。及老人虛人。常服延年益壽。）</p>
<p>鹿角膠（炒成珠）　鹿角霜　菟絲子（酒浸研細）　柏子仁　熟地黃（各半斤）　白茯苓　補骨脂（各四兩）　</p>
<p>上為細末。酒煮米糊為丸。或以鹿角膠入好酒溶化為丸。如梧桐子大。每服五十丸。空心姜鹽湯下。昔蜀中有一老人。貨此藥於市。自云壽三百八十歲矣。每歌曰。尾閭不禁滄海竭。九轉金丹都謾說。惟有班龍頂上珠。能補玉堂關下血。當時有學其道者。傳得此方。彼老人化為白鶴飛去。不知其終。</p>
<p>秘傳玉液還丹</p>
<p>枸杞子　五味子　覆盆子　菟絲子（酒浸）　巨勝子（炒去皮）　生地黃（酒洗）　熟地黃（酒洗）　天門冬（去心）　麥門冬（去心）　人參　鍾乳粉　鹿茸（酥炙）　甘菊花（酒洗）　肉蓯蓉　山藥（炒各等分）　沉香（另研為衣）</p>
<p>上為細末。候採降雪丹（即室女初行天癸）為丸。如梧桐子大。沉香為衣。每服五十丸。空心三意酒下。若無降雪丹。煉蜜為丸亦可。</p>
<p>秘傳三意酒</p>
<p>枸杞子　生地黃（各半斤）　火麻子（半升蒸）</p>
<p>上細切。用無灰好酒一大壇。以生絹盛藥入不津壇內。春秋浸十日。夏浸七日。冬浸半月。</p>
<p>大補陰丸（降陰火補腎水最妙。）</p>
<p>黃柏（鹽酒炒褐色）　知母（去毛炒各四兩）　熟地黃（酒洗）　龜板（酥炙各六兩）</p>
<p>上為細末。煉蜜和豬脊髓為丸。如梧桐子大。每服用五十丸。空心姜鹽湯任下。</p>
<p>六味地黃丸（治腎經虛損。久新憔悴。盜汗發熱。五臟齊損。瘦弱。虛煩骨蒸。痿弱下血咯血等證。見丸類。）</p>
<p>人參膏（補虛羸元氣最捷。）</p>
<p>人參（不拘多寡）</p>
<p>上一味。去蘆細切。量水於銀石器內慢火煎如稠飴。瓷器盛貯。每服一二匙。空心白湯調服。虛損者。於卷上腎部證治圖內方。按證參考。斯不重立。</p>

<h2>勞怯（十九）</h2>
<p>勞怯者。多由氣體虛弱。勞傷心腎。則陰虛而生內熱所致。主在痰血水火不能既濟故也。亦有外感大淫之氣。失於祛散。以致乘虛入里。久不與治。遂成勞瘵。又有傳疰而得者。其脈多弦虛細數。治療之法。當究其源所受。補陰降火為要。</p>
<p>秘傳加減八珍湯</p>
<p>人參　白朮　茯苓　甘草　當歸　生地黃　白芍藥　酒黃柏　酒知母　橘紅　桔梗</p>
<p>上細切。用水二盞。煎一盞。去滓服。若咳嗽者。去人參。加沙參。五味子。麥門冬。若久嗽者。去人參。加杏仁。罌粟殼。若喘者。去人參。加桑白皮。栝蔞仁。若胸中滿悶者。加制枳實。若有痰者。加貝母。半夏曲。若痰中帶血者。加紫菀。黃芩。山梔。若吐血咳血者。加山梔。阿膠。胡黃連。若遺精者。加牡蠣粉。若盜汗者。加黃耆。半夏曲。浮小麥。若日晡及半夜熱者。加地骨皮。若骨蒸勞熱者加秦艽。若寒熱往來者加柴胡。若心下驚悸。去茯苓。加茯神。遠志。若聲嘶及咽痛生瘡者。加青黛。犀角。桔梗。若渴甚者。去芍藥。加天花粉。若元氣不足。大便溏者。加升麻。炒白朮。若作丸劑。加酥炙龜板。若遺精。加樗根白皮。為細末。煉蜜為丸。如梧桐子大。每服五十丸。空心鹽湯溫酒任下。</p>
<p>秘傳秋石丹（治勞怯併火證極效。）</p>
<p>用童便一大缸。以新水一半。攪和候澄清。闢去清者留濁腳。又入新水同攪。候澄去清者。再入搗碎雪梨二十個。又入甘松半斤。熬水一小桶同攪。以白綿布一方。濾去渣滓。候澄清。闢去清者。留濁腳曬乾。</p>
<p>為細末。羅淨。每服一小匙。燒酒送下。用瓷罐盛貯封固。勿令泄氣。勞怯者。內經有曰。陰虛生內熱。究斯一言。便知治法之大意也。忱每見得此證者。多因咳嗽唾痰。咯血吐血身熱。脈弦虛細數。頰赤唇紅。貌黃體瘦。是皆嗜欲過淫。勞怯之所由也。嗚呼。人之有生。色欲不免夫何耽樂忘返。昏於怯心。不思真元之虧耗。以至於甚哉。所感病有輕重之殊。死在姑延歲月。真病既出。雖費千金求療復生者幾希矣。仙翁有詩云。可惜可惜真可惜。世間有寶人不識。真精噴與粉骷髏。卻去街頭買秋石。斯言至矣。信之念之。易曰。君子以懲忿窒欲。此之謂歟。或曰。汝何不詳具治法。而諄諄切於示戒。予曰。經云不治已病治未病之意也。予承其旨。因附言於方左以自警。並告諸同志云。</p>

<h2>頭痛（二十）</h2>
<p>頭痛者。非止一端。大概多由風寒所襲。故經曰風從上受之。然亦有熱。有氣虛。有血虛。有胸膈停痰。厥氣壅逆而痛者。須先調治痰厥。又有腎虛氣厥而巔頂痛者。謂之腎虛頭痛。或發時左右頸後筋緊掣痛。應於巔頂。甚不可忍。治法用艾灸百會囟會風池等穴。效應尤速。或用燈芯草尋刺腦後。動跳脈。按法隨用。醫者更宜究東垣六經頭痛論。治理了熱。</p>
<p>引方加味調中益氣湯（治氣血兩虛頭痛。其效如神。）</p>
<p>陳皮　酒黃柏　蔓荊子（各三分）　升麻　柴胡（各四分）　人參　甘草（炙）　蒼朮　川芎（各六分）　黃耆（一錢）　細辛（二分）　當歸（五分）</p>
<p>上細切。用水二盞煎服。一方有木香二分。無黃柏。</p>
<p>秘傳加減川芎茶調散（治頭風熱痛。不可忍者。）</p>
<p>片黃芩（二兩酒拌炒。再拌再炒。如此三次。不可令焦。）　小川芎（一兩）　白芷（五錢）　芽茶（三錢）　荊芥（四錢）　薄荷葉（二錢五分）</p>
<p>上為細末。每服二錢。茶清或滾白湯調送下。</p>
<p>徹清膏（治頭痛風熱。耳聾。見卷上飲類。）</p>

<h2>心痛（二十一）</h2>
<p>（即胃脘痛）</p>
<p>心痛者。雖有九種。溯其由。則皆憂鬱內傷。邪氣外感。結聚痰飲。停於脾胃。溢於包絡所致。其有寒氣鬱於胃口者。有熱傷死血者。有食積者。有痰飲作痛者。須各宜辨之。又有真心痛者。則手足皆青。旦發夕死。夕發旦死。不可治也。</p>
<p>秘傳加減調中湯</p>
<p>蒼朮　厚朴　陳皮　甘草　枳實　桔梗　白茯苓　草豆蔻（建寧者佳）</p>
<p>上細切。用水二盞。姜三片。煎一盞。去滓再入木香磨薑汁服。若寒痛者。脈必無力。加乾薑。肉桂。若熱痛者。脈必有力。加生薑汁炒黃連。黃芩。止梔。若食積痛者。加炒砂仁。草果。山梔。若痰飲作痛者。加半夏曲。栝蔞仁。若日輕夜重者屬死血。加當歸尾。桃仁。紅花。玄胡索。</p>
<p>秘傳加味枳朮丸（治清痰。食積。酒積。茶積。肉積。在胃脘當心而痛。及痞滿噁心嘈雜嘔吐等證。）</p>
<p>白朮（三兩）　枳實（麥麩炒）　蒼朮（米泔水浸二宿）　豬苓（去皮）　麥糵面（炒）　神麯（炒）　半夏（湯泡透各一兩）　澤瀉（去毛）　赤茯苓（去皮）　川芎　黃連（陳壁土炒去土）　白螺螄殼（煆各七分）　草豆蔻　砂仁（炒）　黃芩（陳壁土炒去土）　青皮（去白）　蘿菔子（炒）　乾生薑（各五錢）　陳皮（去白）　香附子（童便浸）　栝蔞仁　厚朴（薑汁製炒）　檳榔（各三錢）　木香　甘草（各二錢）　</p>
<p>若久病挾虛者。加人參。白扁豆。石蓮肉。各五錢。若吞酸者。加吳茱萸湯泡。寒月五錢。熱月二錢五分。若時常口吐清水。加炒滑石一兩。牡蠣粉五錢。</p>
<p>上為細末。用青荷葉泡湯浸。晚粳米搗粉作糊為丸。如梧桐子大。每服用七十丸。多至一百。清米飲湯送下。</p>
<p>秘傳靈脂遏痛湯（治婦人血刺痛）</p>
<p>當歸（酒洗）　赤芍藥　五靈脂（醋炒）　香附子（醋炒）　木香　艾葉（醋炒）　陳皮（去白）　半夏（香油炒）　枳殼　厚朴　蘇梗　木通</p>
<p>上細切。用水二盞。生薑三片。煎至一盞。去滓服。心痛者。於內傷方求之。治同。斯不重立。</p>

<h2>腹痛（二十二）</h2>
<p>腹痛者。須分寒熱。食積濕痰。死血。診按病由調治。若綿綿痛者屬寒。若忽痛忽止者屬熱。若便後痛少減者屬食積。若小便不利而痛者屬濕痰。若日輕夜重。作痛不移動者。屬死血。</p>
<p>秘傳加減調中湯</p>
<p>蒼朮　厚朴　陳皮　甘草　半夏　白茯苓　木香　砂仁　枳殼（各等分）</p>
<p>上細切。用水二盞。生薑三片煎。再入木香磨薑汁調服。若寒痛者。加乾薑。肉桂。甚不已加製附子。若熱痛者。加生薑汁炒黃連。黃芩。去木香。若食積痛者。去枳殼。加枳實。草果。大黃下之。若痛甚不已者。加柴胡大黃微利之。此痛隨利減之法。若濕痰痛者。倍加蒼朮。半夏。砂仁。若死血痛者。去蒼朮。半夏。砂仁。加當歸。桃仁。紅花。重者再加大黃。</p>
<p>若小腹痛者加青皮。凡諸腹痛。勿用參耆朮。蓋補其氣。氣旺不通而痛愈甚。凡諸腹痛甚者。脈必沉伏。凡諸腹痛面上忽見紅斑點者多死。</p>
<p>腹痛者。如以上法治而未愈。更於內傷方求之。治同。或合消。或合下。</p>

<h2>腰痛（二十三）</h2>
<p>腰痛者。男子多因腎虛。女人多因瘀血。蓋由腎經虛損。而外為四氣所襲。內為七情鬱結而成。又有墜墮閃肭。氣血凝滯而痛者。其脈多沉弦。治法云虛者補之。風者敗之。寒者溫之。挫閃者行之。瘀血者逐之。濕痰流注者消導之。宜各類推而治之。不可執一論也。</p>
<p>引方獨活寄生湯（治因腎虛。坐臥冷濕當風所得。）</p>
<p>獨活（一錢）　桑寄生　杜仲（炒絲斷）　細辛　牛膝　秦艽　茯苓　白芍藥　桂心　川芎　防風　甘草（炙）　人參　熟地黃　當歸（酒洗各五分）</p>
<p>上細切。用水二盞。煎至一盞。去滓。空心溫服。</p>
<p>青娥丸（治腎虛腰痛。常服壯筋補虛。方見卷上丸類。）</p>
<p>牛膝丸（治腰胯痛。方見卷上丸類。）</p>
<p>摩腰丹（治寒熱腰痛。並老人虛人腰痛。）</p>
<p>附子尖　烏頭尖　南星（各二錢五分）　硃砂　乾薑（各一錢）　雄黃　樟腦　丁香（各一錢五分）　麝香（當門邊取五粒）　或加吳茱萸桂皮</p>
<p>上為細末。煉蜜為丸。如龍眼大。每用一丸。生薑汁化開。如厚粥樣。烘熱置掌中。摩腰上。令盡黏著肉。烘綿衣縛定。腰熱如火。間三日用一丸妙。腰痛者。若因房勞辛苦而痛者。用四物湯加黃柏。知母。五味子。杜仲之類。吞補腎丸。或大補陰丸。若因風寒濕流注經絡而作痛者。用二陳湯加麻黃。蒼朮。川芎。白芷。防風。羌活。獨活之類。若因銼閃跌撲。致死血流於本經而作痛者。用四物湯加桃仁。紅花。蘇木之類。脈實人壯盛者。用大承氣湯加桂下之。若因醉飽入房太甚。而醉食之積。乘虛流入於本經。致腰痛難以俯仰。用四物湯合二陳湯。加麥芽。神麯。杜仲。黃柏。官桂。砂仁。葛花。桔梗之類。</p>
<p>灸法取腎腧二穴灸之尤捷（腎腧穴在脊中對臍各開寸半是穴）</p>

<h2>氣證（二十四）</h2>
<p>氣證者。起於七情觸發怒氣。傷於肝經。凡氣有餘即成火。雖氣無補法。實者固不宜補。虛者或少補之。不為常例。</p>
<p>秘傳木香化氣湯（氣實者用之。）</p>
<p>蒼朮　厚朴　枳殼　陳皮　青皮　大腹皮　木香　砂仁　黃芩　紫蘇子　香附子</p>
<p>上細切。用水二盞。姜三片。煎一盞。去滓服。若脅痛者。加柴胡。青皮。若小腹痛者加青皮。</p>
<p>秘傳補中參朮湯（氣虛者用之。）</p>
<p>人參　白朮　甘草　當歸　白茯苓　蒼朮　厚朴　陳皮　枳殼（少許）</p>
<p>上細切。用水二盞。姜三片。棗二枚。煎一盞。去滓服。若婦人加香附木香磨水調服。</p>

<h2>疝氣（二十五）</h2>
<p>疝氣者。內經曰肝脈大急沉。皆為疝。又曰三陽急為瘕。三陰急為疝。難經曰任脈之為病。其內苦結。男子為七疝。夫所謂七疝者。寒水筋血氣狐㿗七者是也。醫者宜分別七證而治之。</p>
<p>秘傳馬藺花丸（治七疝㿗氣。及婦人陰㿗墜下。小兒偏墜等證。無有不效者。）</p>
<p>馬藺花（醋炒）　川楝子　橘核　海藻　海帶　昆布（三味俱鹽酒洗）　桃仁（去皮尖各一兩）　厚朴（薑汁製）　木通　枳實（麥麩炒）　玄胡索　肉桂　木香　檳榔（各五錢）　脈沉細。手足逆泠者。加川烏頭一個。（炮五錢）</p>
<p>上為細末。酒糊為丸。如梧桐子大。每服五七十丸。或酒或姜鹽湯。任意送下。</p>
<p>凡治七疝。須先灸大敦穴。（一名大順。在足大拇指離指甲如韭葉大。灸三壯。乃足厥陰井也）</p>

<h2>痛風（二十六）</h2>
<p>痛風者。肥人多因風濕。瘦人多因血虛。大率痰熱所作。今列數方於左。當察受病之原。選而用之。</p>
<p>秘傳飛步丸（治諸風濕癱瘓痛風等證。服此藥須忌熱物。）</p>
<p>蒼朮（八兩）　草烏（不去皮尖四兩）　川芎　白芷（各二兩）　蔥白（連根）　生薑（各四兩）</p>
<p>上細切。作一處入。罐內封固。罐口倒覆陰土地上。在春停五日。夏三日。秋七日。冬十日。取出前劑曬乾為細末。醋糊為丸。如梧桐子大。每服十五丸。空心茶酒任下。宜避風。孕婦勿服。</p>
<p>秘傳烏藥順氣散（此方得於河南王府購費重價。）</p>
<p>烏藥　川芎　熟地黃（酒洗）　防風　枳殼（去穰麥麩炒）　桔梗　白芷　姜蠶（湯洗淨薑汁炒）　羌活　當歸（酒洗）　白芍藥　木瓜　檳榔　南木香　秦艽（各一兩）　川獨活　甘草（各五錢）</p>
<p>上細切。以生絹袋盛藥。同無灰好酒二十五斤。入不津壇內。春冬浸一月。秋二十日。夏十日。緊封壇口。浸滿日。取酒將吞捉虎丹隨量飲之。如飲過一半。再添酒連絹袋煮熱飲之。須忌食豬肉。若妊娠婦不宜服捉虎丹。</p>
<p>秘傳捉虎丹（治風寒暑濕腳氣。無問遠年近日。一切走注痛風。及中風左癱右瘓。筋脈拘急。麻痹不仁。手足不能屈伸。日夜作痛。叫呼不已。）</p>
<p>麝香（二錢五分）　京墨（燒煙盡一錢五分）　乳香　沒藥（各七錢五分）　草烏（去皮臍）　五靈脂　地龍（去泥淨）　木鱉子（去殼油）　白膠香（各一兩五錢）　當歸（酒洗七錢五分）</p>
<p>上各為細末。再羅過。和勻用糯米糊為丸。如芡實大。臨發時空心用前藥酒送下一丸。或三丸。趕到腳面上。赤腫不散。再服一丸。趕至腳心。出黑汗乃除根。凡服察病患上下飢飽服。俱用前藥酒送下。自然汗出定痛為驗。若中風不省人事。牙關緊閉。偏枯等證。研二丸。酒調下。一省為驗。</p>
<p>秘傳加味二妙丸（治兩足濕痹疼痛。或如火燎。從足跗熱起。漸至腰胯。故麻痹痿軟。皆是濕為病。）</p>
<p>蒼朮（米泔水浸四兩）　黃柏（酒浸炒二兩）　川牛膝（去蘆）　當歸尾（酒洗）　川萆薢　漢防己　龜板（酥炙各一兩）　虎骨（酥炙一兩）　</p>
<p>上為細末。酒煮麵糊為丸。梧桐子大。每服百丸。空心薑湯下。</p>
<p>秘傳愈瘋丹（治一切風疾。偏正頭風。半身不遂。常服調理。並治諸惡瘡毒。赤白痢疾。痛風等證。）</p>
<p>防風（去蘆）　連翹　麻黃（去節）　黃連（酒妙）　黃柏（酒炒各五錢）　川芎　川歸（酒洗）　赤芍藥（酒浸）　薄荷葉　石膏　桔梗　何首烏　熟地黃（酒洗）　羌活　細辛（此味辛宜減半）　甘菊花　天麻（各一兩）　黃芩（一兩五錢）　白朮　荊芥穗（各二錢五分）　山梔仁（七錢五分）　滑石（五兩另研）　甘草（炙二兩）　殭蠶（炒五錢）</p>
<p>熱甚加大黃朴硝各一兩。</p>
<p>上為細末。煉蜜為丸。如彈子大。以硃砂金箔為衣。每服一丸。細嚼。用茶清或酒送下。</p>
<p>秘傳風藤造酒方</p>
<p>真風藤　金銀花（各七錢）　當歸（酒洗）　芍藥（男用白芍女用赤芍）　防風　白芷　何首烏　羌活　獨活</p>
<p>上為細末。用糯米一斗。蒸熟。將前藥末並曲拌勻。如常釀酒法酒。或入瓶內煮熟。泥固瓶口。頓七日取用。每日分早午晚飲一鍾。隨量多寡為則。察病患飢飽服。</p>
<p>當歸拈痛湯（見卷上湯類。）</p>
<p>阿魏萬靈膏（見瘡瘍類。）</p>

<h2>目病（二十七）</h2>
<p>目病者。雖有七十二證之殊。然皆不過風熱憂鬱之所為。四氣七情之所致也。治宜清熱養血為當。</p>
<p>秘傳當歸地黃湯</p>
<p>當歸　生地黃　川芎　赤芍藥　甘菊花　龍膽草　防風　黃連　知母　柴胡　陳皮　甘草　</p>
<p>上細切。用水二盞。芽茶一撮。燈芯三莖。煎一盞。去滓食後服。</p>
<p>秘傳明目補下丸（此方得於京師。購費珍價。）</p>
<p>人參（三錢五分）　川楝子（酒煮去核）　遠志（去心各一兩半）　川巴戟（去心）　菟絲子（酒浸）　麥門冬（各一兩）　白朮　白茯苓（去皮）　赤芍藥（酒浸）　青鹽　破故紙（炒）　小茴香　葫蘆巴　肉蓯蓉（酒洗）　黃耆　甘草（炙）　枸杞子　砂仁（炒）　黃柏（鹽酒炒）　山藥（炒）　知母（去毛皮鹽酒炒）　熟地黃（酒洗懷慶）　五味子　蓮肉（去心各五錢）　車前子（二錢五分）</p>
<p>上為細末。酒煮糯米糊為丸。如梧桐子大。每服八九十丸。空心用鹽湯送下。</p>
<p>秘傳開明銀海丹（治一切風熱上壅。兩目赤腫澀痛。風弦爛眼。及內外翳障等證。）</p>
<p>白爐甘石（一兩。以炭火煆三炷香候。先以黃連半兩。煎濃汁。濾去滓。淬七次。細研。）　辰砂（一錢）　硼砂（二錢）　輕粉（五分）　片腦（三分多則五分）　麝香（一分）　若赤眼腫痛。加乳香沒藥各五分。若內外翳障。加珍珠五分。鴨嘴膽礬。熊膽各二分。若爛弦風眼。加銅青飛丹各五分。或以諸藥總合為一。治諸般眼疾。</p>
<p>上各研為極細末。一處和勻。再研一二日無聲。銀瓶盛貯。蜜蠟封口。勿令泄氣。點眼極妙。因調西江月以誦揚之。體具全恁。銀海百年。惟喜光明。苟因失慎致盲昏。或是風疼翳釘。傳得真方秘訣。豈同售藥虛名。略將簪杪點眸睛。立效渾如響應。</p>
<p>秘傳點眼光明丹</p>
<p>黃連（半斤煎汁濾淨）　爐甘石（一斤。用紫罐盛。煆三炷香時。入黃連汁內。七浸七暴。隨時聽用。）</p>
<p>爐甘石（制過一兩）　麝香　鵬砂（各一分）　片腦（二分）　枯白礬（五釐）　若風眼加五倍子火煆存性用一分。</p>
<p>上研為極細末。用骨簪杪沾水蘸藥。點眼內閉目。</p>

<h2>咽喉（二十八）</h2>
<p>咽喉者。雖有喉痹。喉癰。喉風。單蛾。雙蛾。重舌。木舌之不同。然皆風熱所生也。亦皆相火之所沖逆耳。經曰一水不勝二火。火者痰之本。痰者火之標。火性急速。故病發暴悍。而喉熱證作矣。間有腑寒喉縮伏如物梗。痛癢多涎者。亦有七情鬱結。咽中有物如梅核。吞吐不得者。須各究其源治之。</p>
<p>秘傳清咽散（治咽痛並口舌生瘡。）</p>
<p>荊芥　薄荷　防風　桔梗　山梔　連翹　玄參　大力子　片芩　生甘草　若熱甚。加殭蠶。犀角。</p>
<p>上細切。用水二盞。煎一盞。去滓服。</p>
<p>涼膈散（治咽痛退六經熱極妙。方見卷上散類。）</p>
<p>秘傳梨汁飲（治喉痹及喉中熱痛。口舌生瘡等證。極妙。）</p>
<p>用好消梨杵汁。頻頻飲之。若患者能自嚼嚥下亦可。多食妙。大解熱毒。惟金瘡產歸。及諸脫血證勿食。其餘一應癰疽發背等證。多食極妙。</p>
<p>秘傳洞關散（治喉癰等證。）</p>
<p>珍珠（五分）　牛黃　片腦　麝香（各三分）　硃砂（一錢）</p>
<p>上研為細末。用少許吹入喉中立已。</p>
<p>四七湯加桔梗枳實（治七情所致。咽痛者。方見卷上湯類。）</p>
<p>秘傳加味二陳湯（治七情鬱結咽中。如梅核吞吐不得者。方見梅核氣類。）　凡治諸骨鯁喉。宜研萱草根。順流水吞下。若魚骨鯁喉者。宜食橄欖即下。或用其核為末。順流水下。若獸骨鯁喉者。磨象牙水嚥下。</p>
<p>秘傳蒲黃散（治舌腫大塞口。不通飲食者。）</p>
<p>用蒲黃一味真者羅淨。頻刷舌上其腫自退。若能咽藥。即以黃連一味煎濃汁。細細呷之。以瀉心經之火則愈。</p>

<h2>齒病（二十九）</h2>
<p>齒病者。腎之標。繫於手足陽明。乃胃與大腸之脈貫絡也。有腎元虛者。治宜滋陰補腎。有胃中有火者。治宜安胃瀉火。有風痰上攻者。治宜祛風導痰。有蟲蝕者。治宜擦牙誅蟲。故其疼不一。治者須究其源以療之。</p>
<p>秘傳寧口散（治牙疼牙疳。口舌生瘡。咽喉腫痛等證。）</p>
<p>青黛（二錢）　硼砂（一錢）　孩兒茶　薄荷葉（各五分）　片腦（二分）</p>
<p>上為細末。以筆尖醮藥點患處咽疼用蘆管吹入。一方加蒲黃朴硝生甘草各等分。片腦少許。治口內諸病。</p>
<p>秘傳愈剛散（治風蟲牙疼）</p>
<p>白芷　光烏　威靈仙　真川椒（等分）</p>
<p>上為細末。擦疼處立已。須先用防風。荊芥。芫花。蒼耳子。白蒺藜。真川椒。小麥各等分。水二盞煎。去滓含漱疼處。再擦尤捷。</p>
<p>秘傳加味涼膈散（治胃有實熱齒疼者。方見卷上散類。）</p>
<p>本方用大黃酒蒸為君。加知母石膏升麻為佐。水煎徐服。</p>
<p>秘傳神應散（治牙疳神效。）</p>
<p>蝦蟆（一隻小者背綠眼光者是用）　明礬（二錢）　小紅棗（二枚去核）　</p>
<p>上共搗成膏作一丸。火煆存性。為細末。筆尖蘸藥點患處。</p>
<p>秘傳烏須萬應散（擦牙自堅。須自黑。其他亦自得也。）</p>
<p>用沒石子（四錢）　破故紙　細辛　熟地黃（酒洗各一兩半）　青鹽　地骨皮（二兩）</p>
<p>上為末。每用一錢。空心擦牙嚥下。</p>

<h2>血證（三十）</h2>
<p>血證者。脈多芤而微細者可治。芤而滑大者難治。其證大概有二。有血熱鬱血溢。有氣鬱血溢。然見血。又有上中下三部之分。衄唾嘔吐為上部。皆火載血上錯經妄行。血結胸中為中部。膀胱蓄血及溺血為下部。其間不出風熱壅遏。憂思鬱結而然。是以從肺而上溢於鼻者曰衄血。從胃而上溢於口者曰嘔血。夫所謂咯。血唾血者。出於腎也。咳血嗽血者。出於肺也。又有痰帶血絲出者。或從腎或從肺來也。其血出於小便者曰溺血。曰血淋。出於大便者曰腸風痔血。治法當求其本。</p>
<p>秘傳加減八味湯（治衄唾嘔吐血。）</p>
<p>當歸　生地黃　赤芍藥　阿膠珠　牡丹皮　黃連　黃芩　山梔　人參　甘草　犀角　京墨　</p>
<p>上細切。用水二盞。茆根一握搗爛。棗二枚煎。去滓磨京墨犀角調服。若痰中帶血者加知母。若血疙瘩者。加紅花桃仁炒乾姜。若凡人暴吐紫血一二碗。無事。吐出為佳。與前藥治之。若後見脈大身熱。必難治矣。</p>
<p>秘傳加減芩連四物湯（治大小便血。）</p>
<p>黃芩　黃連　當歸　生地黃　白芍藥　山梔　陳皮　白朮　人參　甘草</p>
<p>上細切。用水二盞。生薑三片。棗一枚。煎一盞。去滓溫服。若溺血者。加黃柏。知母。滑石。若下血及腸風臟毒者。加黃柏。子芩。槐角。阿膠。防風。荊芥。</p>
<p>秘傳發灰丸（治溺血。）</p>
<p>頭髮（不拘多少。燒灰存性。用壯年無病者佳。）</p>
<p>上為細末。別用新採側柏葉搗汁。調糯米粉打糊為丸。如梧桐子大。每服五十丸。空心白滾湯下。或煎四物湯送下。</p>
<p>秘傳竹葉灰丸（治下血。）</p>
<p>䈽竹葉（不拘多少燒灰存性）</p>
<p>上為細末。用米糊為丸。如梧桐子大。每服七八十丸。空心清米飲湯送下。一方以鵝卵殼為末。米飲湯下一匙。一方以乾柿餅燒存性為末。用清米飲湯調下二三錢立已。灸法治下血無度。灸脊中對臍一穴。永不再發。</p>
<p>秘傳治腸風下血丸</p>
<p>乾柿餅（燒灰存性）　酒瓶箬（包酒過二三年者。燒灰存性）　烏梅肉（燒灰存性各二兩淨）　百藥煎（一兩如無以五倍子炙焦黃色代之）　槐花（炒焦黑）　枳殼（麥麩炒黃色）　檳榔（各半兩）</p>
<p>上為細末。醋糊為丸。如梧桐子大。每服七八十丸。醋湯下。</p>

<h2>汗證（三十一）</h2>
<p>汗證者。有二本之殊。其自汗者。無時而濈濈然出。動則為甚。屬陽虛。胃氣之所司也。治宜補陽調衛為當。其盜汗者。寐中而通身如浴。覺來方知。屬陰虛。榮血之所主也。治宜補陰降火為要。醫者宜詳辨而推治之。</p>
<p>秘傳加味四君子湯（治自汗者）</p>
<p>人參　白朮　茯苓　甘草　川歸　生地黃　黃柏　黃連　黃耆　桂枝（少許）　大棗（一枚）</p>
<p>上細切。用浮小麥一撮。水二盞。煎一盞。去滓服。</p>
<p>秘傳加味四物湯（治盜汗。）</p>
<p>當歸　川芎　熟地黃　生地黃　白芍藥　人參　白朮　黃耆　黃柏　知母</p>
<p>上細切。用浮小麥一撮。棗一枚。水二盞。煎一盞。去滓服。</p>

<h2>心跳驚悸（三十二）</h2>
<p>心跳者屬血少。如魚無水也。治宜補血心驚者。心下悸動有水飲。如人將捉捕也。</p>
<p>秘傳加味四物湯（治心跳）</p>
<p>當歸　川芎　熟地黃　遠志　白芍藥　人參　甘草　茯神　山梔</p>
<p>上細切。用水二盞。煎一盞去滓服。</p>
<p>秘傳加味四物湯（治心驚。）</p>
<p>當歸　川芎　熟地黃　白芍藥　白朮　人參　甘草　豬苓　澤瀉　</p>
<p>上細切。用水二盞。煎一盞。去滓服。</p>
<p>秘傳金箔鎮心丸（治憂愁思慮傷心。令人惕然心跳動驚悸不安等證。）</p>
<p>川歸身（酒洗）　生地黃（酒洗）　遠志（去心）　茯神（各五錢）　石菖蒲（九節者用）　黃連（各二錢五分）　牛黃（一錢另研）　辰砂（二錢另研）　金箔（十五片）</p>
<p>上以前六味研細。入牛黃辰砂二味末子。豬心血丸。如黍米大。金箔為衣。每服五十丸。煎豬心湯送下。</p>

<h2>消渴（三十三）</h2>
<p>消渴者。多因快欲恣情。服食丹石。耽酗醇酒。甘嗜炙爆。遂使相火燔熾。真水耗竭而成。是故患者心脈多浮。腎脈多弱。治法當以瀉火。潤燥。清心滋腎為先。須分上中下三焦為治。若熱在上焦。舌赤唇紅。煩躁引飲。若熱蓄中焦。消穀易飢。引飲倍常。大便硬。小便數。若熱伏下焦。陰強失精。精竭引水。小便如膏是也。</p>
<p>秘傳黃連地黃湯</p>
<p>黃連　生地黃　天花粉　五味子　川歸　人參　乾葛　白茯苓　麥門冬　甘草</p>
<p>上細切。加生薑一片。棗二枚。竹葉十片。用水二盞。煎去滓溫服。若上焦渴者。加桔梗。山梔。若中焦渴者加黃芩。若頭眩渴不止者加石膏。若下焦渴者。加黃柏。知母。若作丸劑。加薄荷煉蜜為丸。如彈子大噙化嚥下。</p>

<h2>便濁遺精（三十四）</h2>
<p>便濁遺精者。皆由思慮過傷。色欲不節。心腎虛勞。水火不交之所致。治法。當以清心腎為先。補陰降火為要。其因夢與鬼交而泄。謂之夢遺。若不因夢交。或隨溲溺而出。謂之精滑。</p>
<p>秘傳補陰湯（治便濁遺精並女人白帶。）</p>
<p>黃柏　知母　當歸　熟地黃　人參　白朮　白芍藥　山梔仁　黃耆　蓮肉　陳皮　白茯苓</p>
<p>上細切。用水二盞。生薑一片。棗二枚。煎一盞。去滓服。若作丸劑。加樗根白皮為細末。煉蜜為丸。如梧桐子大。每服五七十丸。空心淡鹽湯送下。</p>

<h2>淋閉（三十五）</h2>
<p>淋者其名有五。本屬於熱。經云清陽出上竅。濁陰出下竅。故清陽不升。則濁陰不降。而成淋閉之患矣。先儒以滴水器上下竅譬之甚當。蓋淋者欲通不通。不通忽通者。是宜除其熱。泄其閉塞。清肅肺金。以滋膀胱腎水之下元。此治淋之正法也。</p>
<p>秘傳通塞散（治小便淋閉。莖中作痛。）</p>
<p>石葦（去毛）　滑石　瞿麥　萹蓄　冬葵子　木通　王不留行　地膚草（各等分）</p>
<p>上研為細末。每服三錢。滾白湯調送下。</p>
<p>清心蓮子飲（治上盛下虛。煩渴。小便赤澀成淋。）</p>
<p>黃耆　石蓮肉　白茯苓　人參　黃芩　甘草（炙）　地骨皮　麥門冬　車前子</p>
<p>上細切。用水二盞。煎一盞。去滓服。若發熱。加柴胡。薄荷。</p>
<p>導赤散（治小便淋閉赤澀。）</p>
<p>六一散（治小便淋閉赤澀不通。）</p>
<p>五淋散（治小便熱痛如沃湯。並見卷上散類。）</p>
<p>秘傳木通湯（治孕婦轉胞並男子小便不通。）</p>
<p>冬葵子（半兩）　山梔仁（半兩炒研）　木通（三錢）　滑石（半兩研）</p>
<p>上細切作一服。用水一盞半。煎八分溫服。外以冬葵子。滑石。梔子為末。田螺肉和搗成膏。或用生蔥汁。調貼臍中立通。</p>
<p>秘傳治血淋方</p>
<p>側柏葉　藕節　車前草（各等分）</p>
<p>上以三味同搗。取自然汁調六一散三錢服之。</p>
<p>秘傳發灰丸（治溺血。方見血證類。）</p>

<h2>秘結（三十六）</h2>
<p>秘結者。或因房勞過度。飲食失節。恣飲酒漿。過食辛熱。其間種種不同。固難一類而推。慎勿以巴豆牽牛等峻劑攻下。雖暫通快。必致再結愈甚。治者須知西北人以開結為主。東南人以潤燥為要。姑撮其略。以俟詳究。</p>
<p>加減潤腸丸</p>
<p>木香導滯丸</p>
<p>備急大黃丸（見內傷類。）</p>
<p>蜜導法</p>
<p>用蜜一合。微火煉。不住手攪。勿令焦。滴水成珠為度。下皂角末。再攪。捻作銳子。如小指大。約入穀道即通。</p>
<p>吹油法</p>
<p>用香油令侍婢口含。以小竹筒一個。套入肛門。以油吹入肛內。須臾即通。（一方以牙皂莢為末。投炭火上。置桶中。令患者坐熏入肛內即通。）</p>

<h2>黃疽（三十七）</h2>
<p>黃疽者。皆因濕熱鬱積於脾胃之中。其症有五。丹溪云不必分五。同是濕熱。濕在上宜發汗。濕在下宜利小便。或二法並用。使上下分清其濕。學者詳之。</p>
<p>引方茵陳四苓散（治諸疸。）</p>
<p>茵陳　茯苓　澤瀉　豬苓　白朮（各等分）</p>
<p>上細切。用水二盞。燈芯一團。煎一盞。去滓不拘時服。</p>
<p>秘傳褪金丸（治黃腫絕妙之劑。須煎胃苓湯送下。）</p>
<p>蒼朮（米泔水浸）　白朮（各二兩半）　甘草（炙半兩）　厚朴（薑汁炒一兩）　陳皮（去白）　神麯（炒黃色）　麥糵曲（炒各兩半）　針砂（醋炒紅色）　香附（童便浸各六兩）　</p>
<p>若有塊加三稜醋煮。莪朮醋煮各兩半。</p>
<p>上為細末。用麵糊為丸。如梧桐子大。每服五六十丸。生薑鹽湯送下。忌魚腥濕面生冷水果等物。</p>
<p>秘傳茵陳散（治黃疸通用。）</p>
<p>大田螺（一個連殼）　山梔子（七個研）　菲菜根（七個）　茵陳（真者一大撮）</p>
<p>上共搗爛。以滾白酒大盞投之。攪勻。去滓頓服。其黃立退。</p>
<p>秘傳灸法取至陽穴灸之妙。（至陽穴在脊中第七椎節下。）</p>

<h2>痔漏（三十八）</h2>
<p>痔漏者。皆腸胃蘊熱而成。丹溪云專以涼血為主。其理治本固當。常見人服涼血內劑。未獲全效。切不宜用腐肉藥取痔。多致殞命。今得試驗一法。具列於後。</p>
<p>秘傳隔礬灸法（治痔漏神效。此方購費珍價。）</p>
<p>皂礬（一斤。用新瓦一片。兩頭用泥作一壩。再用香油刷。瓦上焙乾。再著皂礬放在瓦上。微火煆枯。去砂研末。）　穿山甲（一錢入紫罐內。煆存性。取出研末。）　小鱉子（如前法去殼。火煆二錢五分。淨研末。）　乳香　沒藥（各一錢五分。研末臨灸時加入）</p>
<p>上件共和勻一處。以冷水調。量瘡大小。作餅子貼瘡上。用艾炷灸三四壯。灸畢。就用熏洗藥。先熏後洗。每日六度。三五日如前法灸妙。以瘥為節。</p>
<p>秘傳熏洗方（煎法灸畢。以此方熏洗。此方購費珍價。）</p>
<p>皂礬（製法如前為末約手規二把）　知母（四兩焙乾為末取一兩淨）　貝母（四兩為末取一兩淨）　蔥（七莖）</p>
<p>上件先將蔥用水煎三四沸。傾入瓶內。再入前藥。令患者坐於瓶口熏之。待水溫。傾一半。洗瘡處。留一半。俟再灸復熱熏洗。以瘥為度。</p>
<p>秘傳滌風散（治痔漏及一切瘋證。此方購費珍價。）</p>
<p>川烏　草烏（併火炮去皮尖）　蒼朮（米泔浸各四兩）　人參　白茯苓（各二錢）　兩頭尖（二錢）　殭蠶（七錢用紙隔炒）　甘草（炙三兩）　白花蛇（酒浸三日棄酒火炙去皮骨用）　石斛（酒浸各一兩）　川芎　白芷　細辛　當歸（酒洗）　防風　麻黃　荊芥　全蠍（新瓦上焙乾）　何首烏（米泔水浸忌鐵）　天麻　藁本（各五錢）</p>
<p>上為細末。每服三分或五分。臨臥酒調服下。輒服同前。若不用酒者。茶清調服。忌多飲酒。並一切熱物。</p>
<p>秘傳熏洗方（治痔漏神效。）</p>
<p>黃連　黃柏　蒼朮　荊芥　枳殼　防風　苦參　玄明粉（各等分）</p>
<p>上細切。加過冬藤一握。水四五碗煎。至桶中。先熏後洗。</p>

<h2>瘡瘍（三十九）</h2>
<p>瘡瘍者。有在表在裡之不同。在表者其脈浮洪焮腫。在外治法。當先內托。使邪毒外散。如千金托裡散。敗毒散之類是也。在裡者其脈沉實。發熱煩躁。當先內疏。如栝蔞散。連翹散。內疏黃連湯之類是也。若外無焮惡之氣。內已臟腑宣通。此為內外之中。當和其榮衛。如十宣散。復煎散之類是也。</p>
<p>秘傳一捷法。治發背。癰疽。疔腫。瘰癧。便毒等瘡。初起十日內。焮赤腫痛宜發散。先服羌活保生湯。外用圍藥解和散。次服一味妙濟飲。或榮衛返魂湯。如虛弱人。宜復煎散。當自消退。如日久將膿者。服妙劑飲不消。服真人活命湯入散毒散和服之。追膿從大便出。如膿已成將潰者。用三稜針刺破。入拔毒藥線。次日膿滿放出。再換內入。膿盡洗去圍藥。用千捶膏貼護風拔毒收口。如臟已潰。日久臭腐。未肯收斂者。用除舊布新之法。俗人用刀割去腐肉傷人。只用拔毒丹末藥津調敷瘡口。外用烏金紙黏封。自然腐化矣。須先用川椒湯或濃茶洗淨。然後敷藥。外用圍藥塗之。再洗如前圍敷。待膿盡腐去。方用生肌散外摻。內服十全大補湯。</p>
<p>秘傳羌活保生湯</p>
<p>羌活　獨活　防風　荊芥　連翹　黃連　白芷　柴胡　木通　陳皮　桔梗　甘草</p>
<p>上細切。用水酒各一盞。煎至一盞。去滓。察病上下服。</p>
<p>秘傳真人活命湯</p>
<p>當歸尾（二錢）　穿山甲（炒）　金銀花　皂角刺　陳皮（各二錢五分）　防風　貝母　白芷（各一錢五分）　乳香（五分另研）　沒藥（一錢另研）　甘草（五分）　</p>
<p>上細切。用水酒各一盞。煎去滓。入乳香沒藥和服。得微汗良。</p>
<p>秘傳敗毒散</p>
<p>穿山甲（火煆存性或炒一兩）　白芷（五錢一半生一半炒）　川大黃（五錢一半生一半煨）　</p>
<p>一方有敗龜板酒炙一兩</p>
<p>上為細末。每服三錢。酒下。重者煎真人活命湯調下。覺腹中作疼。則膿毒從大便出矣。</p>
<p>秘傳妙濟飲（治便毒小瘡癤。只服此一味。將滓罨瘡上。其腫即消立效。）</p>
<p>一枝箭（水洗去土用。出貴州。考本草不載。）</p>
<p>上用生白酒煎服。得微汗為佳。</p>
<p>秘傳圍藥解和散（如腫毒初起。圍敷即消。）</p>
<p>芙蓉葉　野菊根　蒲黃　黃連　黃芩　黃柏　連翹　白芨　白蘞　白芷　乳香　沒藥　雄黃　孩兒茶　甘草　蛇含石（煆醋淬）　赤石脂　大黃</p>
<p>上為細末。用雞子清調敷其瘡四圍腫處。如干以雞子清常潤。如腫毒重大。加萆撥。水槿葉。</p>
<p>秘傳拔毒丹</p>
<p>白礬（三錢）　雄黃　硼砂　辰砂（各三分）　雌黃　血竭　硇砂（各五分）　牛黃　乳香　沒藥（各二分）　砒霜（一分煉）　斑蝥（三個去翅足）　巴豆（三粒去油）</p>
<p>上件除白礬各為細末。先將白礬用鐵銚熔化後。將前藥末摻礬上。候煙盡取起。置土地上出火毒。再研極細末。入麝香五釐。蟾酥一分。輕粉五分。再共研和勻。用竹筒收貯。每用旋取少許。以糯米飯搗成藥線。如粗布針大。焙乾。如膿已成者無眼用三稜針刺破。將藥線徐徐納入。深至痛止。外用烏金紙剪如錢大。津黏毒上。封住。其膿自化。如已潰爛。臭腐眼大者。只以末藥津調。敷瘡內外。亦用烏金紙黏封。每用此法。須用圍藥護衛好肉。</p>
<p>秘傳千捶膏</p>
<p>萆薢子（去殼一兩）　松香（嫩者五錢）　乳香（一錢）</p>
<p>上用鐵捶。於石上搗千下成膏。敷毒上。外用紙蓋之。如小癤毒。只消此貼初起即散。有膿即出不疼。</p>
<p>秘傳生肌散</p>
<p>孩兒茶　赤石脂　黃連　黃柏　松香</p>
<p>上研為細末。先將瘡口洗淨。乾摻瘡上。</p>
<p>秘傳返魂湯（此藥順氣調血。扶植胃本。）</p>
<p>何首烏（勿犯鐵）　川歸　木通　赤芍藥（炒）　白芷（不見火）　茴香（炒）　烏藥（炒）　甘草　枳殼（麥麩炒如噁心薑汁炒）</p>
<p>上細切。各等分。每服四錢。用水酒各一盞煎。去滓服。如血氣盛者減當歸。如毒在上。及老人虛弱人。減木通。如流注加獨活。如生痰有二證。胃寒生痰加半夏。熱鬱成風痰加桔梗。如有瀉者不用此方。宜用蠟礬丸用米飲湯下三十丸。瀉止再用此方。</p>
<p>神仙蠟礬丸（治一切癰毒腸癰內托之劑神妙。）</p>
<p>黃蠟（七錢）　白礬（一兩研細）</p>
<p>上將黃蠟熔化。和礬為丸。如梧桐子大。每服二十丸。漸加至三十丸。食遠用滾白湯送下。</p>
<p>千金托裡散（治背疽並諸惡瘡。如三日以內未針灸及利大便者。則可消矣。）</p>
<p>姜活（一錢五分）　防風身（酒洗）　防風梢（各五分）　藁本（一錢五分）　川歸身（酒洗三錢）　川歸梢（五分）　連翹　酒黃芩（各三錢）　生黃芩　人參　炙甘草（各一錢半）　生甘草（五分）　陳皮　蘇木　五味子　酒黃柏　酒防己（各五分）　桔梗　山梔　酒生地　酒黃連（各一錢）　酒大黃（三錢）　木豬苓（一錢五分）　麥門冬（二錢）　</p>
<p>上細切。分作二服。每服用水三大盞。浸半日。煎至一盞。稍熱。服後。一服如前。並滓再煎服。忌冷水。此方如覺有病。即便忙服。無不效者。若瘡勢已發。三四日或成膿者。則不消矣。</p>
<p>托裡攻（治一切惡瘡。發背。疔瘡。便毒。始發脈洪數弦實。腫甚將作膿者。三服消盡。）</p>
<p>大黃　牡蠣　天花粉　皂角刺　朴硝（便不秘者減去）　連翹（各六分）　金銀花　當歸（各二錢）　赤芍藥　黃芩（各四分）</p>
<p>上細切。作一服。水酒各一盞。煎至一盞四分服。</p>
<p>內托復煎散（托裡健胃。）</p>
<p>地骨皮　黃芩　茯苓　芍藥　黃耆　人參　白朮　桂心　甘草　防己　當歸（各半兩）　防風（一兩）　蒼朮（半斤）</p>
<p>上細切。先以蒼朮用水五升。煎至三升。去朮入前十二味再煎。至三四盞。取清汁作三四次。終日飲之。又煎蒼朮滓如前法。入諸藥滓。再煎服。</p>
<p>托裡十補散（治瘡腫托裡。未成者速散。已成者速潰。其脈緩澀。或弦緊細者。身倦惡寒者。宜用之。）</p>
<p>人參　當歸　黃耆（各二錢）　厚朴　川芎　桔梗　防風　桂心　白芷　甘草（各一錢）</p>
<p>上細切。作一服。用水二盞。煎至一盞。去滓食遠服。</p>
<p>秘傳平毒散（治癰腫初起。）</p>
<p>取新掘天門冬三五兩。洗淨。入砂盆內搗細。以好酒投之。去滓頓服。</p>
<p>未效再投。一二服必愈。</p>
<p>防風通聖散（治瘡瘍通用。見卷上散類。）</p>
<p>十全大補湯（治瘡瘍已潰。氣血兩虛者。）</p>
<p>敗毒散（並見卷上）</p>
<p>秘傳阿魏萬靈膏（治發背瘰癧疔腫。一切惡瘡癱瘓痛風腳氣等證。）</p>
<p>防風　荊芥　白芷　當歸　黃連　黃柏　連翹　蛇蛻　蜂房　白蘞　蒼耳草　接骨草　羌活　山梔　大楓子　金銀花　甘草　細辛　紫河車　何首烏　黑醜　桔梗　牡丹皮　車前子　苦參　白芨　萆麻子　大黃（各二兩）　穿山甲（四十片）　江子肉（八錢）　望見消（二錢）　木鱉子（四十個）　蝦蟆（只）　柴胡　全蠍　半夏　升麻　南星　玄參　天花粉　川烏　牛膝　黃耆　兩頭尖　獨活　斑蝥　地榆　五靈脂　槐角　蒼朮　藁本　赤茯苓　桃仁　三稜　莪朮　小茴香　青木香　嫩松節（各一兩）　威靈仙　天麻　藕節　薄荷　貝母　丹參　生地黃　烏藥（各一兩半）　血餘（三錢後入）　八角風　葉下紅（各四兩）　槐枝（六兩）　柳枝（六兩）　黃丹（八兩水飛過炒紫色）</p>
<p>上細切。用水八碗。浸一日。煎稍干。下真麻油十六斤。同煎至穿山甲等藥如炭黑濾去滓。入血餘煎無形影。滴水中不散。再入黃丹。徐徐順攪。煎至滴水成珠。再入後項藥。</p>
<p>蜈蚣（二條）　烏蛇肉（四兩）　川烏　草烏　附子　白附子（各一兩）　五加皮　紫荊皮（各二兩）　</p>
<p>上共研為細末。入膏藥內。頻頻順攪勻。退火入後項藥。</p>
<p>沉香　雄黃（各一兩）　南木香　血竭　輕粉　赤石脂　龍骨（各二兩）　乳香　沒藥（各四兩）　麝香（五錢）　阿魏（一兩用水另溶化再入膏藥內）</p>
<p>上為細末。入膏藥內。順攪勻。出火毒。瓷器收貯。每用油紙攤貼。須留頂以出其毒。</p>

<h3>疔腫方法</h3>
<p>灸法。以大蒜搗爛成膏。塗腫四圍。留露腫頂。以艾炷灸之。以爆為度。如不爆。稍難愈。宜多灸百餘壯。無不愈者。</p>
<p>秘傳妙方（治食災牛馬肉成疔腫欲死者。）</p>
<p>以桕油木藥搗爛。絞取真汁一二碗。頓服。得大瀉毒氣乃愈。如冬月無葉。取嫩根研水服之一二次。以利為度。</p>

<h3>楊梅瘡方法</h3>
<p>楊梅瘡。或名綿花瘡。蓋因瘡之形相似耳。先年惟南廣有此。近年以來。處處頗多。世俗多用厲風藥治之。甚得理也。每見庸醫求取速效。輒以輕粉丹麝等藥大劑投之。然其所感有淺深。資稟有壯怯。其壯受毒氣之淺者。幸得平愈。其怯弱之人。因而變生壞證。又有不知禁戒者。變成癘瘋。亦有用輕粉太多。兼以麝香透入骨節。遂成瘋塊。經年痛痹。膿爛可畏。然非輕粉不能取效。但不可多。量人虛實用之。</p>
<p>秘傳加味醉仙散</p>
<p>葫麻子　牛蒡子　蔓荊子　枸杞子（四味各炒紫色）　白蒺藜　苦參　栝蔞根　防風　當歸　川芎　芍藥　羌活　何首烏　白芷　姜蠶（炒）　荊芥　連翹　黃芩　山梔　皂角刺　玄參　甘草　芙蓉葉　威靈仙（各一兩）</p>
<p>上研為細末。用米糊為丸。如梧桐子大。每服七十丸。茶清送下。如有實熱瘡盛者。加輕粉二錢。如作煎劑亦可。如過服輕粉。或瘋痹疙瘩者。用山黃牛一味煎湯頻服。</p>
<p>秘傳遺糧湯（治楊梅瘡風漏筋骨疼痛。）</p>
<p>山黃牛（三兩二錢）　五加皮　白蘚皮　防風　木瓜　荊芥穗　白芷　當歸（酒洗各一錢五分）　白芍藥（炒）　生地黃（酒洗）　地骨皮　川牛膝　黃連　甘草　槐花（炒）　川芎　威靈仙　尋風藤　白茯苓（各一錢）　杜仲（二錢薑汁炒斷絲）　皂角子（三粒搗碎）　白醜（三粒搗碎）</p>
<p>上細切。作一服。用水一鍾半。酒半鍾。煎至一鍾。察病患上下飢飽服。渣滓再煎服。一日一劑。服至三五劑。其瘡愈腫。勿懼畏。以托出毒氣故也。</p>
<p>若輕者服十劑而瘥。重者服二十劑全愈。每劑服過。渣滓日乾煎水。常時浴洗患處切忌房事生冷茶清煎炒母雞鵝羊豬首蹄肉魚蝦動風之物。無不效者。</p>
<p>秘傳除厲散（治楊梅瘡敷藥。）</p>
<p>陳老鱉甲（火煆一錢）　輕粉（二錢）　杏仁（三十個去皮尖）　</p>
<p>上為細末。用豬膽調敷神效。（一方用輕粉一錢。膽礬八分為細末。撾破敷之。其效如神。）</p>
<p>秘傳滌風散（此楊梅瘡風漏。一切風症。此方購費珍價。見痔漏類。）</p>
<p>秘傳熏洗方</p>
<p>用防風。荊芥。川芎。白芷。連翹。蒼朮。黃芩。艾葉。何首烏。皂角刺。白蘚皮。地榆。威靈仙。金銀花。蒼耳草。</p>
<p>上細切各等分。用水五升煎。乘熱。先熏後洗。</p>
<p>秘傳灸法。治楊梅瘡初起那一個的。灸三五壯後。不再發。</p>

<h3>疳瘡方法</h3>
<p>秘傳平穢散（治下疳瘡。又名妒精瘡。宜禁房事。臨臥含水一口。免與陽則不痛。）</p>
<p>瓦壠子（火煆）　五倍子（炒）　孩兒茶（各一錢）　片腦（二分）</p>
<p>上為細末。先以防風。荊芥。烏藥。地榆。苦參各等分。用水五升煎。入小瓶內。將玉莖納入熏洗。後傳藥瘡上立瘥。</p>

<h3>癬瘡方法</h3>
<p>秘傳息搔散（治蟲癬。）</p>
<p>生白礬（一兩）　硫黃（五錢）　檳榔（一個）</p>
<p>上為細末。取羊蹄根搗真汁。和生蜜少許。調如粥厚。先以穿山甲。抓破患處傳之。如瘡過一暈立效。</p>
<p>秘傳寧癢散（治風蟲頑癬。）</p>
<p>川槿皮（一兩）　紅娘子　青娘子（各七個）　斑蝥（三個去翅）　貝母（五錢）　檳榔（二個）</p>
<p>上細切。用水浸。露三日夜擂碎。先以穿山甲撾破。用鵝翎搽之立已。</p>

<h3>疥瘡方法</h3>
<p>秘傳靖膚散</p>
<p>大楓子（四十九枚）　枯白礬　真川椒　蛇床子　水銀（各三錢）　樟腦（五錢）</p>
<p>上各為細末。入水銀。共再研勻。用桕油調敷。一方用蕎麥麵一兩。炒黃硫黃一錢。另研細。用桕油燭調敷。皆有奇效。</p>
<p>秘傳一擦光（治疥瘡。及婦人陰蝕瘡。漆瘡天火丹諸惡瘡毒神效。）</p>
<p>蛇床子　苦參　蕪荑（各一兩）　雄黃　大楓子（去殼）　川椒（各半兩）　硫黃　輕粉　樟腦（各二錢）　枯礬（一兩二錢）</p>
<p>上各為細末用生豬油調勻敷之。</p>
<p>秘傳愈疥散（治疥瘡並小兒癩頭。）</p>
<p>牛皮岸（即熏牛皮煙岸也如無以香爐岸代）　蛇床子　硫黃　黃柏　黃丹（各一兩）　雄黃　大楓子（去殼）　川椒（各半兩）　枯礬（二兩）　輕粉（二錢）</p>
<p>上各為細末。以生豬油調勻敷之。</p>

<h3>㾾瘡方法</h3>
<p>秘傳碧雲膏（治㾾瘡神效。）</p>
<p>真麻袖（四兩）　黃蠟（三兩半）　銅青（三錢）　輕粉（三分）　古銅錢（三文）　鮮桃柳枝（各七枝）　</p>
<p>上於五月五日製。先以香油煎三五沸。入蠟並錢煎。至浡落。入銅青以桃柳枝不住手攪煎。至滴水成珠。入輕粉再煎一沸。以紙濾去滓。用瓷碗盛貯。待凍掃淨土地。覆地上一宿。出火毒。每用量瘡大小。捻作薄餅。攤置氈上。貼患處外。以絹帛系定。過三日。打開轉貼氈一面。再貼三日。換藥後貼如前。</p>

<h3>湯火瘡方法</h3>
<p>神效當歸膏（治湯火傷。此方斂瘡者。生肌肉拔熱毒。止疼痛。）</p>
<p>當歸（細切）　黃蠟（各一兩）　麻油（四兩）</p>
<p>上先將當歸。入油煎焦黑去滓。次入蠟。急攪放冷。以瓷碗盛。出火毒。用時以故帛紙攤貼。一方用白蠟。凡初傷。必用鹽罨護壞肉。後敷藥則易愈。</p>
<p>秘傳愈燋群方（治湯火瘡）</p>
<p>用黃蜀葵花浸油內。以油敷患處。或曬乾研末。油調敷之。一方用萆麻子肉研爛。入蛤粉等分。如干再入香油少許調敷。一方用定粉研細。入豬脂調敷。一方用綠豆粉輕粉少許。槐樹皮去粗皮焙。干為細末。香油調敷。濕則乾摻。一方用蕎麥麵炒黃。以井花水調敷。</p>

<h3>腮毒方法</h3>
<p>秘傳地黃膏（治嘴腮腫毒。或瘡癤。或好食煎爆之物生腫毒。皆宜服之。）</p>
<p>生地黃（二斤）　麥門冬（半斤）　敗龜板（半斤酥炙另研為末）　</p>
<p>上為細切。用水一斗。煎至五升。濾去渣滓。再煎如稠飴。下龜板末順攪煎。滴水中不散為度以瓷罐盛貯。埋地下三日。出火毒取出。不時白湯調服。酒調亦可。</p>

<h3>金瘡方法</h3>
<p>秘傳桃花散（治刀刃傷破。及竹木刺皮出血用之。則止血生肌。）</p>
<p>川歸　赤石脂　血竭　乳香　沒藥　滑石　爐甘石（煆）　或加何首烏</p>
<p>上各等分為細末。摻傷處。初傷者加龍骨少許。久者加樟腦少許。</p>
<p>正鐵箍散（兼治諸般惡瘡。）</p>
<p>貝母（五兩去心）　白芷（二兩）　龍骨（二錢）　蒼耳草（燒存性醋拌二兩）　</p>
<p>上為細末。用水調。或香油調敷。濕則乾摻。一方治跌撲一時無藥。急取褥中扳枝花貼患處尤妙。</p>

<h3>乳癰方法</h3>
<p>秘傳速效方（治女人內外吹奶。）</p>
<p>鴨兒花根（葉稍長而圓有刺者是取根一握去皮骨）　蔥白（連根葉三莖）　</p>
<p>上為細切。入川椒九粒共搗。好生酒或醇酒一盞。煎至八分。去滓溫服。宜少臥出微汗立瘥。渣滓加鹽少許敷患處亦妙。若腫已成不消。用疔腫灸法。灸三五壯。再服前劑尤捷。</p>
<p>秘傳羌活保生湯</p>
<p>秘傳阿魏萬靈膏（並見瘡癢類。）</p>

<h2>婦人不孕（四十）</h2>
<p>婦人不孕者。多因經水失期。或多寡不勻。若氣虛宜補氣。血虛宜補血。若肥盛不受胎者。宜行濕燥痰。使經水勻行。依期男子交會。不相愆候。鮮有不孕者矣。</p>
<p>秘傳種子方</p>
<p>訣云。俟女人天癸淨後。男女各寢。男子日服四物湯一帖。以補血之不足。女人日服四君子湯一帖。以補氣之不足。服至三十日。三十帖止。再俟天癸淨乃同寢。感時偏任左體力。施精亦要偏注其左。蓋子宮有二穴。左穴受之成男。右穴受之成女故也。既受精後。令女人側左體。曲左足而臥。良久不拘。直隸無錫縣。一談姓老人無子。晚得此方。一歲生三子。今皆總角矣。極驗極驗。受此方者。冀當遍傳以廣斯道也。又訣云。三十時中兩日半。二十八九君須算。落紅滿地是佳期。金水過時空霍亂。霍亂之後枉費工。樹頭樹底覓殘紅。但解開花能結子。何愁丹桂不成叢。此蓋婦人月經方絕。金水才生。此時子宮正開。乃受精結胎之候。妙合太和之時。過此佳期。則子宮閉而不受胎矣。然男女之分。各有要妙存焉。如月候方經一日三日五日交會者成男。二日四日六日交會者成女。過此則不孕矣。又云陰血先至。陽精後沖。縱氣來乘。血開裹精。陰外陽內。則成坎卦之象而為男若陽精先入。陰血後參。橫氣來助。精開裹血。陰內陽外。則成離卦之象而為女。若胎成三月之內。男女未分之時。亦有轉女為男之術。其法以鐵斧一柄。置於孕婦床蓆之下。勿令人見知。更佩雄黃一二兩於孕婦身左。或佩萱花亦可。以上三法皆驗。不可輕忽。傳日不孝有三。無後為大。古詩云。無官一身輕。有子萬事足。誠哉是言也。無嗣者宜深思之無怠。</p>
<p>調經散（治經水不調。或前或後。或多或少。或逾月不至。或一月兩來。皆可服。）</p>
<p>當歸（酒洗一錢五分）　麥門冬（二錢）　吳茱萸（擇去閉口者泡七次焙乾）　肉桂（各五分）　人參　半夏（泡七次）　白芍藥　牡丹皮　川芎（各一錢）　阿膠珠　甘草（炙各七分五釐）</p>
<p>上細切。用水二盞。姜三片。煎至一盞。去滓空心稍熱服。</p>
<p>調經散（治月經過期不行宜服。）</p>
<p>當歸（一錢五分）　川芎　桂心　甘草（各五分）　熟地黃　白芍藥　香附子　莪朮　蘇木（各一錢）　木通（八分）　紅花（三分）　桃仁（二十個去皮尖研細）</p>
<p>上細切。用水一盞半。煎至一盞。去滓空心溫服。</p>
<p>調經散（治月經先期而來宜服。）</p>
<p>當歸身（一錢五分）　生地黃　條芩　香附子（各一錢）　白芍藥　黃連（薑汁炒各八分）　川芎　阿膠珠　艾葉　甘草　黃柏　知母（各五分）　</p>
<p>上細切。用水二盞。煎一盞。去滓空心溫服。</p>
<p>香附調經丸（治月經不調。血氣刺痛。腹脅膨脹。頭眩噁心。崩漏帶下。並皆治之。）</p>
<p>香附子（杵去皮毛。不拘多少。米醋浸一日夜。用砂鍋煮令香熟。水洗焙乾。）</p>
<p>上為細末。醋糊為丸。梧桐子大。每服五十丸。淡醋湯下。</p>
<p>六味地黃丸（治婦人陰血不足。無子者服之。能致胎孕。方見卷上丸類。）</p>
<p>婦人諸證瑣瑣。不及備錄。醫者宜參究先儒之論。按理先儒之方則詳矣。</p>

<h2>胎前（四十一）</h2>
<p>胎前者。宜養血安胎。不可用熱劑。蓋血得熱則行。得冷則凝。夫胎涼則安。胎熱則墮。理之必然。四物湯為當。</p>
<p>四物湯</p>
<p>當歸　川芎　白芍藥　熟地黃</p>
<p>上細切。用水二盞煎服。若妊娠下血不止。本方加艾葉三十片。阿膠珠一錢。每服四錢。加烏梅肉少許煎。進三四服即止。或以本方加阿膠珠。白朮。條芩。砂仁。香附。糯米。如惡阻。從痰而治。本方去地黃。加陳皮。半夏曲。砂仁。神麯。麥芽。藿香。白朮。陳倉米。有熱加生薑汁炒芩連梔子。如子煩。脈虛大無力。或怔忡身戰。及時有微熱。本方加人參。白朮。黃芩。甘草。酸棗仁。遠志。麥門冬。地骨皮。如七八個月。面目及四肢浮腫。</p>
<p>本方加茯苓。澤瀉。白朮。條芩。炒梔子。厚朴。麥門冬。甘草梢。或以本方加紫蘇。桔梗。黃芩。大腹皮。枳實。滑石。如忽然口噤吐沫。不省人事。言語錯亂。本方合二陳湯。加麥門冬。竹茄。遠志。石菖蒲。如感冒風寒。頭痛發熱身痛。本方合小柴胡湯。加細辛。白芷。防風。羌活。</p>

<h3>胎漏方法</h3>
<p>固胎散（治胎漏下血。）</p>
<p>條芩（五錢）　白朮（一兩）　砂仁（炒）　阿膠珠（三錢）　</p>
<p>上為細末。每服二錢。煎艾湯調下。</p>
<p>安胎飲（治孕成之後。覺胎氣不安。或腹痛。或腰疼。或飲食不美。宜服。或至五六個月。常服數帖甚好。）</p>
<p>用白朮。川歸。白芍藥。熱地黃各一錢。人參。川芎。陳皮。條芩。各五錢。紫蘇。砂仁。甘草。各三分。生薑水煎服。</p>

<h3>腹痛方法</h3>
<p>獨聖散（治胎前心腹諸痛。胎動不安。安胎止痛。行氣故也。若非八九個月。不宜多服。）</p>
<p>用砂仁（不拘多少去皮略炒）　為細末。每服一匕。熱酒或艾湯米飲湯鹽湯皆可調服。如覺胎中熱。即安矣。大抵妊婦不可缺此。</p>

<h3>達生方法</h3>
<p>引方達生散（治孕至八九個月。服十數帖甚好。則易產腹疼痛。）</p>
<p>大腹皮（原本三錢。恐太多。今用一錢。用酒洗曬乾。再用烏豆汁洗淨。方可用。恐鴆毒害人。）</p>
<p>人參　陳皮　紫蘇（連梗葉各五分）　白芍藥　白朮　當歸（各一錢）　甘草（炙二錢）　黃楊腦（七個食少胎痛勿用）</p>
<p>上細切用水二盞。蔥五葉。煎一盞。去滓服。春加川芎防風。夏加芩連五味子。秋加澤瀉。冬加砂仁。或通加枳殼砂仁。胎動不安。加金銀三五錢。野苧麻根一錢。氣上逼心。加紫蘇地黃。性急加柴胡。多怒再加黃芩佐之。食少加砂仁神麯。渴加麥門冬黃芩。能食倍加黃楊腦。（此物能瘦胎不長。）有痰加半夏曲黃芩。氣虛倍加參朮。氣實倍陳皮加香附子。血虛倍當歸加地黃。形實倍紫蘇。有熱加黃芩。有食積加山楂。腹痛加木香。</p>
<p>養胎散（臨月用之。能養胎元。）</p>
<p>當歸　川芎　黃芩　陳皮　白朮　香附（各一錢）　白芷（五分）　甘草（二分）</p>
<p>上細切。用水二盞。煎去滓。調六一散一錢服。若虛加人參七分。</p>

<h3>催生方法</h3>
<p>益母丸（治婦人胎前產後。及經中諸般奇病。並赤白帶。惡露時下不止。無所不療。乃婦人之仙藥也）</p>
<p>益母草（一名茺蔚子。紫花方便。是五月採。陰乾用八兩。手摺去根。勿犯鐵器。）　川當歸（七錢）　赤芍藥（六錢）　南木香（五錢）</p>
<p>上為細末。煉蜜為丸。如彈子大。每服一丸。用童便好酒各半盞。化開服。</p>
<p>若急用時。取益母草生者。連根搗爛去滓。再用童便好酒和勻服。</p>
<p>若臨產時服一丸。安魂定魄。破血止痛。養血脈。調經絡。諸病不生。若胎前因跌撲觸動胎氣。漏胎下血等證。併產後諸疾。悉見濟陰方加減。作湯化下。</p>
<p>芎歸湯（治胎前因事跌撲。子死腹中。惡露妄下。疼痛不已。口噤欲絕。一切等證。臨產催生。胞衣不下。）</p>
<p>當歸（酒洗一兩）　川芎（七錢）　陳皮（去白五錢惟催生用胎前只用芎歸勿用陳皮）</p>
<p>上細切。用水二大盞。煎至一盞。入酒半盞。再煎頓時去滓服。</p>

<h2>產後（四十二）</h2>
<p>產後者。須大補氣血為主。或有雜證。不可用寒涼之劑。</p>
<p>秘傳歸參湯</p>
<p>當歸　人參　川芎　白朮　生地黃　陳皮　白茯苓　甘草（炙）</p>
<p>上細切。用水二盞。姜三片。棗一枚。煎去滓溫服。若腹脹痛。發寒熱者。是惡露未盡。去人參加桃仁。紅花。乾薑。肉桂。五靈脂。（半生半炒。）甚不已者。加熟附子一片。此謂陽有餘而陰不足。故生內熱。更加炒黑乾薑引入肝分。理去舊血。致生新血也。</p>

<h3>產後雜證方法</h3>
<p>新產不可用芍藥。以其酸寒能伐發生之氣。（十日內忌之）　故以黃耆四物湯為補虛之要藥。以黃耆易芍藥是也。若氣虛者。本方加參。術。茯苓。甘草。發熱者加乾薑。若自汗多者。少用川芎。勿用茯苓。倍加蜜炙黃耆。若口渴加五味子。麥門冬。若腹痛者非芍藥不可。雖新產以酒重炒用。去酸寒之毒。何害之有。若惡露不盡作痛。四物湯煎去滓。調香附五靈脂末服。甚者加桃仁泥四五分。新產子宮未斂作痛。名兒枕痛。又名瘕母塊痛。用醋炒芍藥。粟殼。甘草水煎。入少米醋。或以三物為末。醋湯調服。酸以收之之義也。若產後有惡血不去。發寒熱。成癥瘕者。四物湯加三稜。莪朮。乳香。沒藥。香附。五靈脂。乾漆。桃仁。紅花之類。若產後腹痛不息。宜四物加烏藥。香附。桂心。高良薑。陳皮。童便和醋煎服甚效。若產後月餘。經水淋瀝不止。四物湯加白芷。升麻。煎調血餘灰服。若產後陰痛。四物加藁本。防風。若產後通身浮腫。四物加乳香。沒藥。桂心。木通。大腹皮。良薑。血竭。檳榔。海金沙。若產後子腸不收。八物湯加升麻。防風。須以酒炒黃耆為君。若產後中風。口眼歪邪。八物加附子。荊芥。少加防風。羌活。若產後血暈。用鹿角一段燒存性。也火毒為末。酒調灌下即醒。或用韭葉細切。盛於有嘴瓶中。以滾醋沃之。急封瓶口。以瓶嘴納產婦鼻中即蘇。或用秤錘磚石燒紅。投醋中熏之。</p>

<h3>小產方法</h3>
<p>補氣血湯（治小產下血不止。）</p>
<p>人參　黃耆　當歸　白朮　白芍藥　艾葉　甘草（炙）　阿膠（炒）　川芎　青皮　香附　砂仁</p>
<p>上細切。用水二盞。煎一盞。去滓服。</p>
<p>補血定痛湯（治小產心腹疼痛。）</p>
<p>當歸　川芎　熟地黃　白芍藥（各錢）　玄胡索（七分）　桃仁（去皮尖研細）　紅花（各三分）　香附子　青皮（炒黑）　澤蘭　牡丹皮（各五分）</p>
<p>上細切。用水一盞半。入童便酒各半盞。煎至一盞溫服。</p>

<h2>小兒（四十三）</h2>
<p>小兒者。參考其證。大半胎毒而小半傷食。外感風寒者什居一二。故其氣體嫩弱。易寒易熱。用藥不可太驟。大概以四君子湯加減調治之。其有變蒸驚搐疳蟲瘡疹等證。與大人異者。其餘諸病。則准大人治。略具一二。以見治法焉。</p>

<h3>變蒸方法</h3>
<p>惺惺散。四君子湯。加栝蔞根。川芎。桔梗。細辛少許。薄荷煎服。</p>

<h3>急慢驚風方法</h3>
<p>小兒驚啼。手足瘛瘲。睡臥不寧。宜四君子湯加全蠍去頭足。炒鉤藤。炮白附。姜水煎服。急驚宜四君子湯加白附。全蠍。金箔。為末。薄荷湯調服下。慢驚宜四君子湯。加生黑附。蜈蚣末。蠍梢。共一字。薑湯調下。</p>
<p>抱龍丸（治小兒諸驚。四時感冒。邪熱煩躁。痰嗽氣急。欲出痘疹。發搐等證。藥性溫平。常服驅風化痰。鎮心神。）</p>
<p>琥珀　人參　天竺黃　白檀香　白茯苓（各七錢半）　甘草（炙兩半）　枳實（麥麩炒）　枳殼（麥麩炒各半兩）　辰砂（水飛二兩半）　山藥（炒八兩）　金箔（五十片後研）　牛膽南星（炒半兩）</p>
<p>上各為細末。一處和勻。新汲水丸如芡實大。陰乾。每服一丸。用薄荷湯。或蔥白湯。痰嗽淡姜化下。</p>
<p>南星膏（治小兒精神不定。恍惚不寧。恐畏多哭。常服祛風退熱。消痰鎮心。除百病。）</p>
<p>牛膽南星（臘月以南星為末填入黃牛膽中陰乾風處百日取用宜親手修制者佳稱五錢炒用）　人參　白朮　山藥（炒）　白茯苓（去皮）　白茯神（去心）　羌活　甘草（炙）　白殭蠶　全蠍（去毒以薄荷汁浸炙各三錢）　辰砂（二錢水飛另研）　麝香（一分）</p>
<p>上各為細末。一處和勻。煉蜜丸如芡實大。金箔為衣。每服一丸。食後用薄荷湯調化服下。</p>
<p>秘傳瀉肝湯（治小兒肝經火旺有餘。目睛動搖。痰氣上升。或壯熱驚搐。面色紅。脈有力。脾胃無傷。宜用。）</p>
<p>川芎　白芍藥（炒）　半夏（湯泡）　白茯苓（各八分）　當歸（酒洗）　柴胡　橘紅　枳殼（炒）　天麻（各六分）　黃連（酒炒）　甘草（生各四分）　薄荷（三分）　</p>
<p>上細切。用水一盞。生薑三片煎服。</p>
<p>秘傳補脾湯（治小兒脾經不足。土敗木來侮。目睛微動搖。微驚搐。或潮熱往來。脾胃有傷。飲食少進。或泄漏嘔吐。面色黃。脈無力。宜補脾胃。）</p>
<p>白朮（一錢三分）　黃耆（蜜炙）　當歸（酒洗）　川芎　人參　陳皮　肉豆蔻（煨）　神麯（炒）　乾葛（各五分）　白芍藥（一錢酒炒）　白茯苓　半夏（各七分）　黃連（炒）　甘草（炙各四分）　</p>
<p>上細切。用水一盞半。生薑三片煎服。</p>
<p>秘傳安神湯（治小兒心血虛而火動。睡中驚動不安。或受驚嚇而作主。清心安神降痰。）</p>
<p>人參　半夏（泡）　酸棗仁　白茯神（各一錢）　當歸（酒洗）　陳皮（去白）　赤芍藥（炒各七分）　五味子（五粒）　甘草（炙三分）</p>
<p>上細切。用水一盞。煎去滓。納生薑汁竹瀝研細。用牛黃末半分服。若溫暖月。及覺心經熱多。加生地黃。山梔仁各五分。麥門冬七分。淡竹葉。</p>
<p>若方飲食因驚。而食即停住不化。須先消飲食。然後治驚。驚藥內仍須用白朮麥芽以理胃也。驚則氣散。宜收補真氣。驚則痰聚。便宜化痰。</p>
<p>秘傳鎮驚丸（治驚退後。調理安心神。養氣血。和平預防之劑。）</p>
<p>天竺黃（另研）　人參　茯神　南星（薑製各半兩）　酸棗仁（炒）　麥門冬（去心）　歸身（酒洗）　生地黃（酒洗）　赤芍藥（煨各三錢）　薄荷　木通（去皮）　黃連（薑汁炒）　山梔仁（炒）　辰砂（另研水飛）　牛黃（另研）　龍骨（火煨各二錢）　青黛（另研一錢）　</p>
<p>上為細末。蜜糊為丸。如綠豆大。每服三十丸。淡薑湯送下。</p>

<h3>疳證方法</h3>
<p>秘傳檳榔丸（治小兒疳病積氣成塊。腹大有蟲等證。）</p>
<p>檳榔（一兩）　三稜（煨去毛醋炒）　莪朮（醋炒）　青皮（去穰麥麩炒）　陳皮（去白）　雷丸（去殼）　乾漆（炒無煙）　使君子肉　山楂肉　麥糵面（炒）　神麯（炒黃各半兩）　蕪荑（水洗淨二錢五分）　鶴蝨（略炒）　木香（不見火）　胡黃連　甘草（炙各三錢）　良薑（二錢陳壁土炒）　砂仁（一錢）</p>
<p>上為細末。醋糊丸。如綠豆大。每服三五十丸。空心淡薑湯下。</p>
<p>秘傳治疳湯（治小兒大便色泔白。小便昏濁。或澄之如米泔。此泔病也。）</p>
<p>山楂肉　白芍藥（炒）　白茯苓　黃連（薑汁炒）　白朮　澤瀉（各一錢）　青皮（四分）　生甘草（三分）</p>
<p>上細切。用水一盞。生薑棗煎服。</p>
<p>秘傳蘆薈丸（治小兒疳積腹大。此小兒之要藥也。）</p>
<p>胡黃連　蘆薈　黃連（炒）　使君子（去殼各五錢）　神麯（炒一兩）　阿魏　青黛（另研各二錢）　麝香（另研少許）</p>
<p>上為細末。稀糊丸。如黍米大。每服三十丸。白朮湯或米飲下。</p>

<h3>吐瀉方法（准大人治。）</h3>
<p>加減參苓白朮散（治小兒吐瀉。）</p>
<p>人參　砂仁　蓮肉（去心各半兩）　白茯苓（去皮八錢）　土白朮（一兩）　甘草（炙七錢）　肉果（炮四錢）　訶子（炮去皮）　乾薑（炒各二錢）　</p>
<p>上研為細末。每服三分。清米飲湯調服下。</p>
<p>藿香正氣散（治小兒吐瀉。見大人感冒類。）</p>
<p>香砂養胃湯（治小兒傷食吐瀉。見大人內傷類。）</p>
<p>理中湯（治小兒霍亂吐瀉。見卷上丸類。）</p>

<h3>痢疾方法（准大人治）</h3>
<p>秘傳香連丸（治小兒赤白痢。以下三方並見大人痢類。）</p>
<p>參苓白朮散（治小兒脾胃虛弱。噤口痢疾。）</p>
<p>三黃熟艾湯（治小兒熱積臟腑。下痢赤白。及傷寒四五日大下熱痢。及麻疹後下痢。）</p>

<h3>食積方法（准大人治）</h3>
<p>消食丸（又名消乳丸。治小兒腹脹腹痛。消積滯。化乳食。大人內傷亦宜。）</p>
<p>砂仁（炒）　橘紅（炒）　三稜（炒）　莪朮（炒）　神麯（妙）　麥糵（炒）　甘草（炒各半兩）　香附（炒一兩）　</p>
<p>上為細末。湯浸蒸餅為丸。如麻子大。每服二三十丸。食遠白湯送下。量兒大小加減。（愚嘗加土白朮紅曲各五錢為細末。每服三分。米飲調服效。）</p>
<p>秘傳保和丸（治小兒脾胃虛弱。飲食不能克化。日久羸瘦。）</p>
<p>山楂（四兩）　陳皮（去白）　白茯苓（去皮）　半夏曲（各五錢）　蘿蔔子（二錢五分）　白朮　使君子（去殼）　神麯（炒）　麥糵（炒各一兩）　木香（二兩二錢四分）　砂仁（四兩四錢）　黃連（四兩零五分）　</p>
<p>上研細末。水發為丸。如蘿蔔子大。每服一錢。米飲湯送下。</p>
<p>香砂養胃湯（治小兒傷食。脾胃不和。腹痛等證。見內傷類。）</p>
<p>秘傳解肌理中湯（治小兒食積鬱熱。發於肌表。潮熱往來。主理中而清陽明之熱。）</p>
<p>白朮　山楂肉　白芍藥（炒各一錢）　黃連（炒）　枳實（麥麩炒）　川芎　香附子（炒）　升麻（各七分）　乾葛（一錢二分）　生甘草　炙甘草（各三分）</p>
<p>上細切。用水一盞半。生薑三片煎。去滓服。若積去後。潮熱未除。減山楂。枳實。香附。川芎。加人參。黃耆。陳皮。石膏各五分。薄荷二分。白朮三分。有痰加半夏六分。</p>

<h3>腹痛方法（准大人治）</h3>
<p>理脾消食散（治小兒腹痛。多是飲食所傷。此方主之。）</p>
<p>白朮（一錢五分）　陳皮　青皮（各七分）　山楂肉　神麯（炒）　麥芽（炒）　砂仁（炒各一錢）　甘草（炙五分）</p>
<p>上為細末。每服一錢七分。清米飲湯調服。痛甚者磨木香入服。若有寒。加藿香吳茱萸各五分。有熱加酒炒黃芩七分。</p>

<h3>蟲動方法</h3>
<p>使君子丸（治小兒臟腑虛滑。及疳瘦下痢。腹脅脹滿。不思乳食。若常服安蟲補胃。消疳肥肌。）</p>
<p>使君子（去殼一兩。麵裹煨熟。去面。細切焙乾。）　厚朴（去粗皮薑汁炙）　訶子（半生半煨去核用）　青黛（如兼驚帶熱渴。即入之。如臟腑不調不用。）　甘草（炙各半兩）　陳皮（去白二錢五分）　</p>
<p>上研為細末。煉蜜和丸。如芡實大每服一丸。米飲湯化下。或乳汁化下。不拘時服。</p>
<p>靈礬散（治小兒蟲咬心痛欲絕者。）</p>
<p>五靈脂（酒研飛去沙淨為末二錢）　枯白礬（五分）　</p>
<p>上共為末。每服二錢。水一盞。煎至五分。不拘時服。吐蟲出愈。</p>

<h3>感冒方法</h3>
<p>秘傳百解散（治小兒感冒風寒。身熱咳嗽。欲出癮疹。並痘後欲出麻疹。俱宜服之。）</p>
<p>人參（七錢）　甘草（炙三錢五分）　白朮　白茯苓（各六錢）　黃耆（炒）　陳皮（去白）　糯米（炒各五錢）　升麻（炒二錢）　川芎　白芷（各三錢）　天麻（二錢五分）　姜蠶（炒一錢五分）　南星（薑製五分）</p>
<p>上為細末。每服三分。傷風用生薑湯。或蔥湯。欲出麻疹。用生薑湯。熱甚用薄荷湯調服下。</p>
<p>加味二陳湯（治小兒感冒發熱。鼻流清涕。或咳嗽痰吐。沉重者宜服之。）</p>
<p>陳皮（去白）　半夏（湯泡）　桔梗（米泔水浸）　川芎（各五分）　白朮（一錢）　黃芩（酒炒）　薄荷（各三分）　防風　甘草（炙各四分）　白茯苓（去皮）　桑白皮（蜜炙各七分）　</p>
<p>上細切。用水一盞半。生薑三片。煎至八分。去滓服。</p>
<p>惺惺散。用四君子湯加天花粉。川芎。桔梗。細辛。（少許）薄荷。煎服。</p>
<p>參蘇飲（治同前證。見大人感冒類。）</p>
<p>藿香正氣散（治小兒身熱咳嗽。吐瀉等證。疑似出痘疹。見大人感冒類。）</p>

<h3>痰證方法</h3>
<p>加味白丸子（治小兒風痰壅盛。）</p>
<p>南星（半兩細切以白礬湯泡日乾或生薑汁製）　白附子（二兩薑製）　半夏（湯泡半兩生薑汁製）　</p>
<p>上為細末。麵糊丸。如芡實大。每服一丸。姜蜜薄荷湯任化服。</p>

<h3>重舌木舌方法</h3>
<p>小兒重舌木舌。乃舌下生舌也。切不可以刀剪傷之。後致言語混沌。為沒齒之疾。</p>
<p>秘傳寧口散（治小兒重舌馬牙。口舌生瘡。咽喉不利。方見大人齒病類。）</p>
<p>一方用蒲黃竹瀝調勻。敷舌下神效。甚者以三稜針於舌。</p>
