<header data-type="book">
<h1>脈訣闡微</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳士鐸</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h2>鬼真君脈訣序</h2>
<p>《脈訣》自王叔和傳後，世鮮其人，誰知叔和止註《脈經》，誤傳有《脈訣》也。叔和既無《脈訣》，何傳《訣》而不傳《經》，以《脈經》之多不及《脈訣》之約也。然《脈經》始於高陽生，非叔和原文也。鐸遇雲中逸老於燕市，傳法之備而不傳《脈經》者，以《素問》、《靈樞》二書言脈之多也。雖然，於多之中而求其約，安在必求脈於《靈》、《素》哉。鬼真君名臾樞，雲中逸老弟子也。貌甚奇，面長尺有一寸，髮短而鬈，深目鼻高，耳垂下且大，非凡近士也。且岐天師備傳方法，何不傳脈於鐸。因授是書，皆切脈法也。夫真君為天師之徒，天師傳道之備，胡真君傳脈之約乎？蓋病分臟腑，若脈則傳臟而不及腑，寧脈與病異哉？不知病必兼臟，而脈不可兼臟也。《靈》、《素》二書有時合而言之，何今傳《脈訣》獨與病殊乎？以臟病而腑亦病，腑病而臟亦病，故治臟而腑在其中，切臟而腑亦在其內，又何必合言之。所以單言臟而不及腑也。真君之傳，雖出於天師，亦真君之獨見也。傳止五篇，其言約矣。然皆言臟之文，治臟不可通之治腑哉。</p>
<p>山陰陳士鐸敬之甫別號遠公題於文筆峰之小瑯琊</p>
<p>洞垣全書脈訣闡微</p>
<p>山陰陳士鋒敬之甫別號遠公述</p>
<h2>鬼臾樞真君傳</h2>
<h3>第一篇</h3>
<p>鬼真君曰：脈理甚微，原非一言可盡；人病多變，又豈一脈能包。論其陰陽，別其生死，察其臟腑，觀其症候，既上中下之宜分，必寸關尺之自定。左寸心，左關肝，火木寧無至性；右寸肺，右關脾，土金本有深情。惟兩尺為腎，水火實難分配；中間是命，左右還可同觀。三焦別上中下以相診，餘經合寸關尺而共視。蓋部位烏容倒置，辨貴分明；而表裏何必細分，不宜拘執。雖按指以三部為法，數息便悟斷經。顧看脈以五臟為主，知臟即通治腑。察四令之節氣，春夏異於秋冬；審一日之晷時，寅卯殊於申酉。大約逢剋則凶，逢生可救，我生則緩，我剋難醫，因五行而推斷，舉一隅而可知。弦似乎緊，牆似乎微，浮與芤相反，沉與伏寧殊，洪同實狀，弱帶濡形，辨之既清，病將安遁。故急則為痛，弦則為風，緊則為邪，緩則為虛，微則為冷，數則為熱，滑則痰多，濇則鬱塞，洪為火旺，大為血乾，沉為陰寒，遲為困乏，小者氣衰，細者血涸，浮者氣升，伏者脈結，芤多失血，實多壅氣，弱是陰虧，濡是濕犯，長是正氣之和，短是邪氣之剋，代為正氣之衰，革為正氣之脫，結為邪氣之搏，促為正氣之耗，動有變動之機，靜有安寧之喜，毛主火之將旺，石乃水之極沉，耎是力薄，堅是邪深，鉤為氣血之和，躁為氣血之燥，搏擊指而有太過之虞，散去指而無可留之狀。脈嫌其絕，脈貴其平。既知各脈之異同，可斷諸症之常變。然而診脈必須得時，要在日之平旦，按指原無異法，貴取氣之甚清，自然虛實易明，盛衰易辨矣。</p>
<p>陳士鐸曰：脈理之不明也久矣，以致看病不真，用藥寡效，是脈之精微不可不講也。然而精微出於淺近，過求乎窈杳，反致失之。此鬼真君脈訣之妙，妙在淺近，使人人易知而深入也。</p>
<p>又曰：脈有陰陽之不同，王叔和分七表八裏，似乎切脈之分明。不知無一脈無陰陽，非浮為陽而沉為陰，遲為陰而數為陽也。陰中有陽，陽中有陰，於中消息，全在臨症時察之，心可意會，非筆墨能繪畫耳。</p>
<p>又曰：十二經各有脈，分十二經看之，自然玄妙入神。然一而過求其精，反失共約。蓋五臟之脈，能統攝七腑，腑病治臟，臟安而腑自安，故脈訣止消言臟而不必言腑也。</p>
<p>又曰：切脈以呼吸為準，一呼脈二動，一吸脈二動，為是平人無病之脈，有餘不及皆病也。世人切脈，多以三指齊按於寸關尺，以候各脈，焉得備觀其陰陽虛實邪正之分哉。必須先以一指觀其左寸，後及左關，又及左尺，然後又及右寸，又及右關，又及右尺，逐部分別，再以三指準之，則何異何同，始了然於胸中。見浮言其風，見沉言其積，見遲言其痛，見數言其熱，自能陰陽莫逃，邪正有別，虛實不淆矣。</p>
<p>又曰：春夏秋冬長夏各有定脈，《內經》已詳言之矣。春主弦也，夏主鉤也，鉤即微洪之意，秋主毛也，冬主石也，長夏主耎弱也，太過不及，均是病徵。尤不可見者，剋我之脈也，如春宜弦而見毛，夏宜鉤而見石，及至秋冬，未有不病者。餘可類推矣。</p>
<p>又曰：脈隨血而行，而血隨時而運。病脈行至剋我之脈，則病必重，行至生我之脈，則病必輕。蓋金脈逢金時必旺，木脈逢金時必衰，故木病值寅卯則木當其令，連申酉則木失其時。觀寅卯申酉之旺衰，即知金木之病情症候矣。即一木而可通之火土水金，即寅卯申酉而可通之子午巳亥辰戌丑未也矣。</p>
<p>又曰：臟腑之病，雖各不同，要不外五行之生剋，逢生則病易愈也，逢剋則病難痊也，我生則洩我之氣，我剋則勞我之神。臟腑為戰爭之地，胸腹為角鬥之場，敵則掃除，而斬殺甚多，傷損必過矣。調停於生剋之間，和解於敗亡之內，仍於金木水火土而善用之也。</p>
<p>又曰：脈有相似而實不相同者，尤宜分辨。蓋脈似相同，而病實各異，一經錯認，死生反掌，可不慎歟。</p>
<p>又曰：脈之秘訣，大約三十八字盡之，而每字實有秘要，非一言可盡也。既非一言可盡，而鬼真君何以每一字皆用一言以詔示天下，豈脈訣貴少而不貴多乎。不知訣不必太多，而論訣正不必太少也。</p>
<p>又曰：急則為痛，言見急脈即為痛病也。急似乎數而未至於數也，急似乎緊而未至於緊也，有不可緩之狀，乃氣與火相鬥，邪與正相戰也。</p>
<p>又曰：弦則為風，弦乃春天之正脈，春天見弦脈，正風木之得令，非病也。苟見於夏秋冬季，則弦為風矣。</p>
<p>又曰：緊則為邪，邪者，亦風之類，但風邪感之甚驟，則脈必現緊耳。</p>
<p>又曰：緩則為虛，虛者重按之不能鼓指也，鼓指亦非太勁之謂，言其不能微微鼓指耳，最宜活看。</p>
<p>又曰：微則為冷，冷者，寒也。不論何部見微脈者，多是寒症。</p>
<p>又曰：數則為熱，熱乃火病，火性炎上，其性最速，故數脈作熱論也。但數有不同，有陰數陽數之異，有初數久數之分，然而熱則一也。</p>
<p>又曰：滑則痰多，天下至滑者無過於水，痰亦水也。水多則痰生，痰多則滑見宜也。然而水病不一，滑脈不常，何故單以痰多屬之滑也。不知水未結痰其體靜，水既結痰其體動也，動極則滑極，脈見滑矣，非痰多而何。</p>
<p>又曰：濇則鬱塞，濇脈乃往來之不甚舒暢也。此陰陽不和，氣血不達，外感於風寒，內阻於憂鬱，抑塞而不通，鬱而未發之狀。六部見此象，俱能成病，而尤於肝經不宜，一見濇脈，即以解鬱通塞之藥急治之，則隨手見功也。</p>
<p>又曰：洪為火旺，洪者來大而去數也。洪與大有分，按指若大，久之而不見其大，止見其數，重按之不見其數，而仍見其大者為洪也。夏見此脈為宜，否則皆火旺之極也。</p>
<p>又曰：大為血乾，大者重按而仍洪也。火之有餘，乃血之不足，血不能制火，乃見大脈，在夏天則猶非大忌。然見大脈即宜補血滋陰，以水伏火之為得耳。</p>
<p>又曰：沉為陰寒，沉者至深之象，深則未有不陰，陰則未有不寒者也。入石洞而陰寒逼人者，正以其深沉耳。</p>
<p>又曰：遲為困乏，遲者言俟之而不能進也。行百里者半九十，非遲之之謂乎。是其力乏神困，欲進而不能，非可進而不肯進也。</p>
<p>又曰：小者氣衰，小脈言脈之小而不能大也，氣不充之故耳。</p>
<p>又曰：細脈言脈之細而不能粗也。江河細流，正水縮也。人身之血少，自然脈細矣。</p>
<p>又曰：浮脈指按即得，氣舉而升之也。</p>
<p>又曰：伏脈指按始終不可得，或隱隱約約，或有或無者，是邪氣搏結正氣而不能出也。用藥出之者生，然出之驟亦非佳兆。</p>
<p>又曰：芤脈中空如無也，血失則內無血養，安得不中空乎。</p>
<p>又曰：實脈不獨按指有力，且有不可止抑之狀，非正氣之有餘，乃邪氣之有餘也。邪氣有餘，自然壅阻正氣矣。</p>
<p>又曰：弱脈不能強旺之狀，陰虛而不敢與陽氣相爭也。</p>
<p>又曰：濡脈言其濡滯也，濕則霑濡非歟。</p>
<p>又曰：長脈之現，正氣之和也。有胃氣則脈自修長，有從容和緩之象。</p>
<p>又曰：短脈者，欲長而不能，欲速而不達。因邪氣剋犯正氣，正負而邪勝也。</p>
<p>又曰：代脈之現，正氣之衰，不得不止，以息其氣也。有痰氣之結，壅隔不散，亦現代脈者。然正氣不衰，痰安能作祟，使脈中止而不還乎。</p>
<p>又曰：革脈來渾渾而濁亂，至擊指者是，蓋正氣之欲脫也。</p>
<p>又曰：結脈其來則緩，而時又現止，是力不能不止也。明是正氣甚衰，不敢與邪氣相鬥，邪氣搏結於一身耳。</p>
<p>又曰：促脈，急遽之狀，氣耗而勢難寬舒也。</p>
<p>又曰：動脈有不能安靜之勢，動極生變也。</p>
<p>又曰：靜脈與動相反，不動則不變，自享寧靜之福矣。</p>
<p>又曰：毛脈言如羽毛之拂體，乃有餘之象，火將浮而又息之狀，夏秋之間之正脈也。在夏則生氣之旺也，在秋則旺氣之衰也，在他時則熱氣之盛也，宜於活看。</p>
<p>又曰：石脈乃沉脈之至藏之極也，冬時正脈，餘時見之為寒冷矣。</p>
<p>又曰：耎脈不能剛健之狀，明是力之不勝耳。</p>
<p>又曰：堅脈至硬之狀，邪氣深入，牢不可破也。</p>
<p>又曰：鉤脈洪而不大之象，如鉤之有留也。乃胃脈和平，火不盛而司其令，夏日見之尤為平脈也。</p>
<p>又曰：躁脈似動而非動，似數而非數，似促而非促，似急而非急也，若有乾枯煩擾之狀。</p>
<p>又曰：搏脈者，擊指之謂也。各脈皆能擊指，俱屬太過。</p>
<p>又曰：散脈者，即解索之兆，乃欲留而不能留，欲存而不能存也。</p>
<p>又曰：絕脈者，言脈之將斷而未斷，可續而不續也。死亡之時，必現此脈。</p>
<p>又曰：平脈者，言各脈之得其平也。如浮不甚浮，沉不甚沉，遲不甚遲，數不甚數耳。人現平脈，多是胃氣之全也。胃氣無傷，又寧有疾病哉。此脈之所以貴得平耳。</p>
<p>又曰：鬼真君脈訣止得三十八字，然而人之疾病已盡括於其內。要在辨其異中之同與同中之異。則因常可以通變，遇變可以用常，隨時、隨地、隨症、隨人，無不可起死以回生矣。又何必拘拘於日之平旦，乘人之清氣診脈治病哉。</p>
<p>又曰：五臟七腑各有脈，俱在寸關尺觀之。《內經》分三部之內外、前後、上下，以細察其部位，何其詳也。而鬼真君獨重五臟，將七腑略而不言，止將三焦命門以示世，又皆不專屬之於腎，何其略也。不知臟可以包腑，而腑不可以包臟，論腑太詳，必至反遺夫臟矣。不若專言五臟，治臟而治腑在其中矣。三焦乃腑之一，何獨舉而言之？因世錯認三焦在於腎中，故特指明也。命門為十二經之主，世人不知，而以右尺觀之，恐失命主之義，故鬼真君辨明之也。</p>
<p>又曰：或疑王叔和《脈訣》因遺落心包，遂至傳疑千載。今鬼真君之訣，將七腑全然不講，不更滋甚乎。然而切脈止可切五臟也。七腑部位《內經》雖分，似乎有一定之理，而究難別臟腑之異，不若單切五臟，論其五行之生剋，病情反無可遁也。此鬼真君不言七腑，真是至捷之法，亦是至玄之機，幸勿作王叔和遺落心包一例而並譏之也。</p>
<p>又曰：脈貴知微，然而得其微又甚難也。暗中摸索而欲使臟腑之疾病瞭然手指之間，易乎不易乎。雖然，切脈必須問症，症是腑病，即以臟之脈合之，臟之脈不病，便是腑病也，治腑而病可愈矣。症是臟病，亦以臟之脈合之，臟之脈病，是非腑病也，治臟而病亦愈矣。苟知此法，又何微之不可得哉。</p>
<p>又曰：凡人之脈，多不相同，不可以此人之脈概論諸彼人也。看一人之脈，當取其左右兩手之各脈，一一而消息之，辨其何部獨異，乃斷何經之病，庶幾得之。</p>
<p>又曰：看脈須看有神無神，實是秘訣。而有神無神何以別之？無論浮沉、遲數、濇滑、大小之各脈，按指之下若有條理，先後秩然不亂者，此有神之至也。若按指而充然有力者，有神之次也。其餘按指而微微鼓動者，亦謂有神。倘按之而散亂者，或有或無者，或來有力而去無力者，或輕按有而重按絕無者，或時而績時而斷者，或欲續而不能，或欲接而不得，或沉細之中倏有依俙之狀，或洪大之內忽有飄渺之形，皆是無神之脈。脈至無神，即為可畏，當用大補之劑急救之。倘因循等待，必變為死脈，而後救之晚矣。</p>
<p>又曰：人有天生細微之脈，不可動曰虛弱，當統六部同觀之。倘一脈獨旺，一脈獨急，餘脈皆現細微，此非虛弱之脈也。旺乃火盛，而急乃邪侵也，以此消息，斷然不差。</p>
<p>又曰：切脈貴先調息，吾息調而後可以察病人之息。蓋病人之息，呼吸不到，未有能調者也。倘醫者之息不平，又何以知病人之息哉。故學醫者，平日學導引之法，則呼吸之間，無太過不及，自然下指之時息數分明，可以察病人之脈也。</p>
<p>又曰：看脈必須看症，蓋症所以印證夫脈也。夫人之脈不同，有天生陰脈而不現之於皮毛之內，又將何處看脈？故必觀其症候之若何，而症候正難辨也。或者其起居之靜躁，靜為陰而躁為陽也。看其飲食之寒熱，喜寒為熱而喜熱為寒也。問其大小便之燥濕短長，燥短為實而濕長為虛也。辨其口舌之黃白峭滑，黃峭為邪盛，而白滑為正衰也。是觀症所以濟切脈之窮，而切脈所以輔觀症之妙耳。</p>
<h3>第二篇</h3>
<p>鬼真君曰：人身之病，變遷原非一致；人身之脈，紛紜必有殊形。故六部之中，每顯各異之狀；一經之內，常呈兼見之端。浮而弦浮而數，多無定象；沉而細沉而遲，不少同觀。必須統論其精微，始可獨斷其真偽。</p>
<p>故浮而兼滑也，必是風痰之盛；浮而兼大也，決為氣血之邪；浮而兼遲也，虛風之害；浮而兼濡也，濕氣之侵；浮而兼細也，血隨氣而上升；浮而兼洪也，火得氣而更旺；浮而兼芤，定為血泛之虞；浮而兼緊，決至邪重之苦；浮而兼急，必疼痛於上焦；浮而兼弱，必委靡於下部；浮而兼長，氣雖升而不傷其正；浮而兼短，氣欲結而難散其邪；浮而兼結，邪搏於經絡之間；浮而兼革，正脫於臟腑之內；浮而兼代，邪居於胸膈之處；浮而兼促，正傷於營衛之中；浮而兼動，氣有變遷；浮而兼靜，氣將寧息；浮而兼毛，氣得火而上騰於頭目；浮而兼躁，火因氣而上炎於咽喉；浮而兼鉤，氣升之和；浮而兼搏，氣浮之極；浮而兼耎，氣虛之甚；浮而兼散，氣不可收；浮而兼平，氣乃無病。</p>
<p>沉而兼遲也，寒虛之至；沉而兼濇也，鬱滯之深；沉而兼滑也，寒痰之不舒：沉而兼小也，冷氣之難發；沉而兼實也，氣得寒而不揚；沉而兼微也，精因冷而欲脫；沉而兼細也，血逢陰凝之象；沉而兼緊也，邪乘寒冷之徵；沉而兼急，小腹有寒邪之痛；沉而兼濡，兩足多水脹之侵；沉而兼長，氣陷而正尚未傷；沉而兼短，精冷而邪將不渙；沉而兼結，邪搏於至陰；沉而兼革，正脫於髓海；沉而兼代，命門將絕而可危；沉而兼促，元陽欲脫而可畏；沉而兼靜，陽寒能守；沉而兼石，陰固不遷；沉而兼耎，腹冷有痛楚之苦；沉而兼散，精寒有涸絕之危。</p>
<p>更有濡遲兼見，無非濕犯乎虛；濡滑同來，尤是痰成乎水；濡中兼大，濕因血耗以相侵；濡中兼小，水趁氣衰以相犯；濡而兼弦，風水之患深；濡而兼芤，痰血之症急；濡而兼長，水濕易散；濡而兼革，水濕難消；濡而兼動，水有泛濫之盛；濡而兼靜，濕多浸潤之微；濡而兼耎，水邪乘虛而相生；濡而兼散，正氣隨濕而欲脫。</p>
<p>遲而兼濇，鬱中以成弱；遲而兼滑，濕內以招虛；遲而兼大，氣血皆居乾燥；遲而兼小，精神必至伶仃；遲而兼微，虛寒之氣；遲而兼細，匱乏之身；遲而兼弦，內傷之風；遲而兼芤，內傷之血；遲而兼長，病不足畏；遲而兼短，症實可愁；遲而兼代，必至損傷脾胃；遲而兼革，定然渙散精華；遲而兼石，氣寒將侵於骨；遲而兼耎，血衰少養乎心；遲而兼散，寒極而氣飛；遲而兼靜，陰微而精固。</p>
<p>數而兼滑，亢炎之痰；數而兼大，沸騰之火；數而兼實，氣壅於熱；數而兼弦，火助乎風；數而兼洪，熱有燎原之盛；數而兼緊，邪有烽火之傳；數而兼芤，吐血何狂；數而兼代，喪軀必速；數而兼革，走陽可許；數而兼促，消正堪憂；數而兼動，恐有發狂之變；數而兼毛，定多消渴之成；數而兼搏，火刑金而喉舌無津；數而兼躁，火燒心而脾胃生焰。</p>
<p>濇中兼小，氣血虧而鬱志莫伸；濇中兼實，氣血壅而思想難遂；濇中兼微，氣寒而滯；濇中兼細，血少而愁；濇中兼洪，鬱怒不解；濇中兼急，鬱痛安禁；濇中兼結，邪搏於兩脇之間；濇中兼促，正虧於半表之際；濇中兼革，氣欲脫於腎肝；濇中兼代，氣將絕於脾胃；濇中兼石，寒鬱不宣；濇中兼堅，風鬱難出；濇中兼搏，鬱甚莫解；濇中兼靜，鬱極安移。</p>
<p>滑而兼大，痰借血以為災；滑而兼小，痰借氣而作祟；滑而兼實，氣塞于痰中；滑而兼微，痰冷於胸次；滑而兼細，痰旺而血枯；滑而兼弦，水盛而風急；滑而兼洪，濕熱成黨；滑而兼芤，痰血為疴；滑而兼緊，邪得濕以助威；滑而兼急，邪乘濕而增痛；滑而兼濡，濕盛恐邪氣之添脹；滑而兼革，水多防正氣之難收；滑而兼動，水畜致腸腹之鳴；滑而兼毛，火沸召痰涎之吐；滑而兼耎，濕痰積而不消；滑而兼堅，濕邪留而不散；滑而兼搏，痰有傾盆之嘔；滑而兼散，水如走石之崩。</p>
<p>餘脈俱可類推，各經正當細晰。總以脾胃之氣為要，更以平緩之脈為先。倘下指之時，均有寧靜之致，庶幾藥餌之用，可許康健之祥矣。</p>
<p>陳士鐸曰：凡人之病，變遷不常，而脈亦因病殊形，必非一狀，大約一經之中必兼二脈以相見也。合二脈以論症，而症始出焉。合二脈以用藥，而藥始當焉。但二脈兼見甚多，不止浮沉遲數濇滑濡也。然苟知兼見之大旨，則以七脈為綱，以餘脈為紀，又何病之不可推測哉。</p>
<p>又曰：脈有同中之異，亦有異中之同。同是浮脈，而何以有各脈之異；同是沉脈，而何以有各脈之殊。蓋脈無一定之形，必兼兩脈而並見也。兩脈既然並見，合兩脈以治一病，自易見功。然而兩脈之現，必察其同異。知其同中之異，竟治其異而不必顧其同；知其異中之同，竟治其同而不必顧其異。從此消息，醫道烏得不神哉。</p>
<p>又曰：千態萬狀者，病也。千變萬化者，脈也。鬼真君以三十八字盡脈之理，毋乃太簡乎。故又取兼見之脈以示世，似乎克盡其變矣。然而兼見之脈，止取浮沉遲數濇滑濡之七脈，而其餘三十一脈不言兼見，或疑其訣之不全，而立法之末善也。不知脈之大綱，而浮沉遲數濇滑之六字耳。舉其大綱，而餘可類推，又何必瑣細之盡告哉。吾意於浮沉遲數濇滑之外，引濡脈之兼見者，方可無事重宣耳。鬼真君惟恐人之拘執而不通也，故略舉一濡脈以訓世耳。</p>
<p>又曰：兼見之脈，須先看七脈為主，既得七脈，而後辨其兼見之形，則同中之異與異中之同，無難細得也。以七脈為綱，以兼見為緯，實切脈之權輿也。</p>
<p>又曰：切脈實難，而辨其異同不尤難乎，然而無難也。知浮沉遲數濇滑濡之七脈，而其餘三十一脈兼而察之，則其病可意會也。況鬼真君又明告之乎。細讀此訣，亦何患脈之難知，而病之難識哉。</p>
<p>又曰：人疑兼見之脈不止鬼真君所示，寥寥數語，恕不足以包萬病也。殊不知脈訣言愈多，而脈愈晦。鬼真君之訣，妙在於少也。以少勝多，非便世人之習誦也，實其脈訣神奇，足以包舉萬病耳。</p>
<p>又曰：脈理細微，須辨其同中之異，異中之同。同中之異者：如同是浮脈，何以有大小虛實之異也；如同是沉脈，何以有遲數濇滑之異也。異中之同者：如寸關尺各現大小虛實之異，而浮脈則同也；上中下各現遲數濇滑之異，而沉脈則同也。知其同中之異，則竟治其異。知其異中之同，則不必治其同。於此消息，何患脈理之不精哉。</p>
<h3>第三篇</h3>
<p>鬼真君曰：五臟之病，必以寸關尺為憑；七腑之症，亦以寸關尺為據。然不分晰其精微，又何能盡知其玄妙。</p>
<p>試觀其寸口也：左寸見浮，風熱上越而頭疼；右寸見浮，咽喉中燥而鼻塞。左寸見芤，胸難藏血而嘔吐；右寸見芤，胃多瘀血而痛疼。左寸見滑，熱痰入心而舌強；右寸見滑，熱痰侵肺而皮折。左寸見實，火焚心而面赤；右寸見實，火生胃而唾乾。左寸見弦，風入體必多頭痛；右寸見弦，風入腸定有筋攣。左寸見緊，邪盛而心痛；右寸見緊，氣嗽而肺傷。左寸見洪，心胸起熱悶之燒；右寸見洪，頭腦生炎蒸之楚。左寸見微，心寒而虛弱何辭；右寸見微，氣冷而崩陷難免。左寸見沉，心君失相火之助；右寸見沉，肺金召寒氣之侵。左寸見濇，心脈火鬱而未舒；右寸見濇，肺金金鬱而莫達。左寸見遲，膻中虛乏而難以衛心；右寸見遲，上焦損傷而難以生氣。左寸見伏，氣匿於脇間；右寸見伏，氣積於脘內。左寸見濡，膀胱水畜而不消；右寸見濡，皮毛汗泄而未止。左寸見弱，無血以養心；右寸見弱，乏氣以生胃。左寸見大，心經血燥而怔忡；右寸見大，肺經血乾而閉結。左寸見小，驚悸時生；右寸見小，怯弱日甚。左寸見虛，心中恍惚；右寸見虛，胃內衰微。左寸見細，運行乏力；右寸見細，言語無神。左寸見微，包絡有寒邪之入；右寸見微，胸脘有陰氣之招。左寸見急，心疼不免；右寸見急，喉痛安辭。左寸見短，三焦之氣自怯；右寸見短，再宿之食難消。左寸見代，心痛勿訝；右寸見代，痰塞何妨。左寸見結，邪搏於心包；右寸見結，邪蟠於胃脘。左寸見促，積聚有煩悶之苦；右寸見促，留滯興痞滿之憂。左寸見革，心氣散漫而不收；右寸見革，肺氣飛越而不返。左寸見動，歡娛妊子之祥；右寸見動，飲食傷氣之兆。左寸見毛，心火動而將刑肺金；右寸見毛，肺火起而將剋肝木。左寸見鉤，心氣安而夢魂適；右寸見鉤，肺氣肅而膀胱通。左寸見堅，邪犯心而呼號；右寸見堅，邪侵肺而咳嗽。左寸見躁，無血養神；右寸見躁，無精定魄。左寸見搏，火太過而焚心；右寸見搏，火太過而爍肺。左寸見石，陰寒直搗於膻中；右寸見石，冷氣逼居於脘內。左寸見散，心有無可奈何之象；右寸見散，肺有但出無入之悲。</p>
<p>試觀其關中也：左關見浮，肝犯風而眼赤；右關見浮，胃入風而渴生。左關見芤，必肝傷而失血；右關見芤，必腸毒而便膿。左關見滑，頭目腫痛堪嗟；右關見滑，脾胃熱焚甚苦。左關見實，痎癖可徵；右關見實，心腹多痛。左關見弦，肝旺生風；右關見弦，脾崩不食。左關見緊，筋脈急拘；右關見緊，嘈雜嘔吐。左關見洪，眼目生花；右關見洪，心腹結痛。左關見沉，必陰寒之癖積；右關見沉，定冷氣之難安。左關見濇，風邪寒閉因氣鬱而有餘；右關見濇，飲食傷殘實血虛之不足。左關見遲，兩脇多寒；右關見遲，中焦微冷。左關見伏，關格收藏；右關見伏，霍亂吐瀉。左關見濡，癉症將成；右關見濡，水臌可畏。左關見弱，筋痿宜防；右關見弱，氣短須補。左關見數，肝火盛而目紅；右關見數，胃火旺而口渴。左關見大，怒氣傷肝；右關見大，狂陽傷胃。左關見小，肝膽氣衰；右關見小，脾胃血少。左關見虛，必益其血；右關見虛，須補其津。左關見微，溫其下元之憊；右關見微，煖其氣海之寒。左關見細，慮腳膝之痠；右關見細，恐肚腹之瀉。左關見急，肝痛而不能眠；右關見急，脾傷而自難臥。左關見代，肝絕而痛則無妨；右關見代，肝絕而安則無救。左關見結，胸滿而痰結於中；右關見結，脾傷而滯氣於下。左關見促，肝無腎水之滋；右關見促，脾無腎火之養。左關見革，氣脫於木旺之時；右關見革，氣脫於土崩之候。左關見動，兩脇有氣痛之愁；右關見動，中焦有火焚之懼。左關見毛，肝木旺而生風；右關見毛，胃土盛而動火。左關見耎，無病之人；右關見耎，加粲之客。左關見鉤，肝血之足；右關見鉤，脾氣之安。左關見靜，優遊享無事之福；右關見靜，舒暢享強食之愉。左關見石，筋得寒而拘攣；右關見石，胃因冷而泄瀉。左關見堅，邪必留戀於經絡；右關見堅，邪必會聚於臟腑。左關見躁，必苦血乾而多怒；右關見躁，必苦液涸而善嘔。左關見搏，防太盛之中風；右關見搏，慮過旺之狂病。左關見散，筋弛而不能收；右關見散，肢解而不可舉。</p>
<p>試觀其尺下也：浮見尺左，水虧而雙耳齊聾；浮見尺右，火旺而大腸自秘。芤見尺左，小遺多膿血之災；芤見尺右，大便下赤紅之歎。滑見尺左，水入腰而作楚；滑見尺右，痰流足以成痺。實見尺左，膀胱水閉而不通；實見尺右，溺瀝火澀而難出。弦見尺左，腰腹重滯生疼；弦見尺右，腎臟風邪作耗。緊見尺左，耳似蟬鳴；緊見尺右，臍同蟲咬。洪見尺左，水熬乾而消渴；洪見尺右，火炎上而夢遺。微見尺左，盜汗淋漓；微見尺右，腸鳴泄瀉。沉見尺左，精冷如冰；沉見尺右，腰寒若水。濇見尺左，陰寒疝結；濇見尺右，逆冷腸崩。遲見尺左，下焦寒冷；遲見尺右，小腹陰凝。伏見尺左，陽氣不升；伏見尺右，陰氣更閉。濡見尺左，寒濕侵骨；濡見尺右，冷痿中腰。弱見尺左，雙足骨痠；弱見尺右，兩腿氣乏。大見尺左，腎涸於遺精；大見尺右，命殘於作用。小見尺左，水耗無多；小見尺右，火衰不旺。虛見尺左，心腎不交；虛見尺右，水火皆乏。微見尺左，冷入關元；微見尺右，寒通腹裏。細見尺左，髓冷脛枯；細見尺右，命寒精洩。數見尺左，水少而火沸為痰；數見尺右，火炎而水隨作喘。急見尺左，痛入陰丸；急見尺右，疼添小腹。短見尺左，自無延齡之福；短見尺右，定含怯戰之羞。代見尺左，精敗欲絕；代見尺右，火熄將亡。結見尺左，邪襲水而不散；結見尺右，邪乘火而不離。促見尺左，髓耗而足難行步；促見尺右，火衰而氣不通心。革見尺左，玉關不閉；革見尺右，河車俱焚。動見尺左，定然魂夢多遺；動見尺右，定然陽強不倒。毛見尺左，精耗而龍火將興；毛見尺右，焰騰而命門自熱。耎見尺左，腎弱相宜；耎見尺右，火衰當助。鉤見尺左，陰平之士；鉤見尺右，陽秘之徒。靜見尺左，閉關可信；靜見尺右，守真無疑。石見尺左，精無傾失之慨；石見尺右，陽有退藏之慶。堅見尺左，邪入於骨髓；堅見尺右，邪居於腰膝。躁見尺左，腎難上交於心；躁見尺右，陽且高越於膈。搏見尺左，膀胱越熱閉之淋；搏見尺右，咽喉長瘡蛾之腫。散見尺左，腎水欲絕於須臾；散見尺右，元陽將逃於頃刻。</p>
<p>此皆六部之專主，亦即各脈之旁通。然而各脈之中，緩急為要；六部之內，長脈為宗。脈長而命根深，脈緩而胃氣在，故上中下必取其緩，而寸關尺必尚其長也。</p>
<p>陳士鐸曰：脈有兼見以觀其變，必有獨現以顯其常，常變之道，不可不分觀之也。鬼真君先言其變，示變之宜知也，再言其常，示常之宜諳也。知常而後達變，又寧至有治常之失哉。</p>
<p>又曰：脈不分觀部位，則病情不可得而知，此寸關尺必須分觀其脈也。</p>
<p>又曰：脈有寸關尺無脈，而脈見於列缺之間者，世人以為反關脈也，此乃經脈虛而絡脈盛也。經脈虛，故不現於寸關尺之三部；絡脈盛，故現於列缺之間。蓋直行為經而旁出為絡。列缺正絡脈之穴也，在兩手交叉食指盡處，兩筋骨罅中，屬肺經之絡別走陽明之絡也。此中原有動脈，宜細動而不宜大動。今寸關尺三部無脈，而此處之脈大動，亦現三部之象，是陽勝於陰也。《千金翼》謂：陽脈逆反大於寸口三絡，正謂反關脈也，亦當分觀其動，以別疾病耳。</p>
<p>又曰：寸關尺分上中下也。心肺居上而以寸觀之，象天也；肝脾居中而以關觀之，象人也；腎居下而以尺觀之，象地也。醫道必合天地人以論醫，則醫無剩義；脈訣亦必合天地人以示法，則法無遁情。非好作廣大之語也，實有不如此，則其法為不備耳。</p>
<p>又曰：寸關尺分上中下切之是矣，然其中有上而兼中者，有中而兼下者，有中而兼上下者，又不可不知之也。如寸脈浮而連於關，關脈數而連於尺，如關脈大而連於寸尺者是也。此又當合寸關尺而同觀，又不可專主於寸而不及關，專主於關而不及寸尺，又在臨症切脈而變通之也。</p>
<p>又曰：脈宜分觀，以別虛實。然又有合寸關尺以分虛實者，大約左之寸關尺齊旺者，乃外感居多。右之寸關尺齊旺者，乃內傷居多。非單左寸旺為外感，右寸旺為內傷也。</p>
<p>又曰：寸關尺分觀之後，又宜合觀。不分觀不知其細，不合觀不得其和。故分觀之時，當以一指切其脈，合觀之時，又當以三指切其脈也。</p>
<p>又曰：看寸關尺三部之脈，先切關脈，而後看寸脈，由寸脈而後看尺脈，左右相同。</p>
<p>又曰：今人看脈，男先看左，女先看右。男女之脈，何常有異，正不必如此拘拘也。</p>
<p>又曰：凡人脈貴有胃氣。胃氣者，平氣也。毋論寸關尺，下指之時覺有平和之象，即是有胃氣也，非獨右關平和始有胃氣耳。</p>
<p>又曰：脾與胃為表裏，胃病則脾必病，脾病則胃亦病，病安有胃氣哉。故脾脈與胃脈同觀，所以脾胃之脈，皆在右關切之耳。</p>
<p>又曰：胃旺而脈愈微，胃衰而脈愈盛，故右關太旺，反是胃氣之虛也。然而右關之旺，又由於左關之旺也。左關旺而右關不能衰，此木來剋土之象，又不可不知之也。</p>
<p>又曰：三部之脈，前人以尺脈為根，似乎切脈重在尺也。不知本實先撥，固然枝葉難榮。然而過於摧殘，如狂風大雨拔木折枝，根亦隨竭。此脈所以必統三部而分觀之也。</p>
<p>又曰：寸關尺各有內外之分，尺外尺裏，關外關裏，寸外寸裏，皆從左右以分內外，而非上下以分內外也。余註《內經》已詳哉言之矣。而鬼真君不言及此者，蓋舉其要而示人耳。</p>
<p>又曰：脈分三部，上寸也，中關也，下尺也。寸之內又分左右，左寸候心，而包絡膻中統其內，右寸候肺，而胸脘咽喉統其內。關之內又分左右，左關候肝，而膽脇膈則統其內，右關候脾，而胃則統其內。尺之內又分左右，左尺候腎之水，而小腸膀胱小腹股膝統其內，右尺候腎之火，而大腸腰口脛｛足行－｝統其內。三焦有上焦、中焦、下焦之異，上焦屬於寸，中焦屬於關，下焦屬於尺，不可於右腎候之也。命門為十二經之主，不屬於右腎，而不得不候之於右腎也。部位既明，切脈自無疑。</p>
<p>又曰：兒真君所分之部位，一皆準於《內經》，與王叔和所定，大相懸殊，世人見之，未有不驚異者也。然而鬼真君正恐人驚異，單言五臟而不言七腑。鐸慮部位不明，又將何以診脈。故於前條細列以間世，第推鬼真君之意，但知五臟之脈，正不必又及七腑之脈也。鐸重言之，似乎饒舌矣。</p>
<p>又曰：五臟各有表裏，心則與小腸為表裏也，肝則與膽為表裏也，肺則與大腸為表裏也，脾則與胃為表裏也，腎則與膀胱為表裏也。表病則裏病，原相關切，故治裏正所以治表也。何必分表是表，而不屬之於臟，裏是裏，而不屬之於腑哉。</p>
<h3>第四篇</h3>
<p>鬼真君曰：診脈宜分生死，決日當定時辰。傷寒熱病，洪大生而沉細死；產後熱病，緩滑吉而弦急凶。頭痛之疴，生於浮滑而死於短濇；腹脹之症，死于虛小而生於大浮。下痢活於微小，浮洪反有難療之嘆；癲狂全於實大，沉細轉興莫救之憂。消渴數大有生機，虛小愁其陰盡；霍亂浮洪無死法，微遲慮彼陽亡。中風最喜遲浮，急實者何能起死；中惡偏宜緊細，浮大者不易回生。心疼沉細，非比浮大之難醫；水氣大浮，不似沉細之莫療。吐血鼻衄，沉弱沉細者生，實大浮大俱為亡兆；中毒腸辟，洪大滑大者吉，微細滑細各是危徵。喘急宜浮滑，短濇云亡；咳嗽尚浮濡，沉伏決斃。久瀉反宜微細，浮洪者多致歸陰；新產切忌大弦，緩滑者寧憂辭世。嘔吐虛細者吉，實大則艱於奏功；癆瘵浮滑者佳，細數則難以取效。盜汗惟嫌緊數，虛小無愁；失血止慮浮洪，細弱可喜。內實者吉在浮洪，沉細有變遷之禍；內虛者吉在沉細，浮大無存活之祥。痹症尤嫌浮大，細濇長延；厥病更忌緊弦，洪數即解。癥瘕見細徽而可喜，弦滑者危；眩冒見浮滑而相宜，沉濇者重。黃疸不宜急數，遲滑易於分消；白淋偏貴濡遲，濇弱艱於止遏。便閉生於微細，洪大有陰盡之傷；發汗生於虛小，弦洪有陽亡之失。腹痛沉伏，多入泉臺；脇痛芤大，定趨死路。脫症結代，難留人世；喘症促革，易走冥途。關格濇伏，常登鬼籙；癰疽滑大，轉慶生緣。結胸現沉緊，半寄於死亡；臟結現浮滑，速痊於淹滯。直中陰經，喪淪代結；忽成熱病，全活浮洪。發斑洪大，未是死徵；噎隔數細，實非生氣。偏枯之症，弦滑何愁；歪斜之疴，數大可治。噤口之痢，結濇不易療；中暑之症，沉伏不須驚。循衣摸床，細小尤堪救援；遺尿撒手，促革必至喪捐。筋青囊縮，微短殞歿；舌黑髮直，數大焦枯。臍突唇裂，結代應歿；口張足腫，短促何延。呃逆不止，短散就木；懊憹無休，微弱加餐。血暈散促，頃刻歸陰；腸結搏堅，旦夕歌露。</p>
<p>更有帶鉤之象，心死可定於九日；彈石之狀，腎死必絕於七朝；弓弦之張，肝死定亡於十八；釜沸之亂，脾死可決於四三；浮水之景，肺死應喪於十二也。尚有秘法，可以罄傳於萬年，如見前形，不必問現於何臟，見蝦遊而斷八日之必死，見雀啄而決七日之必亡，見吹毛而言四日之必危，見奪索而許一日之必逝，見屋漏而定五日之必損。其餘死亡，可據推斷。</p>
<p>陳士鐸曰：死亡之脈，不盡於此，然而得此，正易決存亡也。</p>
<p>又曰：《素問》、《靈樞》載死亡之脈甚備，二書參觀，更無差錯。</p>
<p>又曰：死亡之脈，全在看脈之有神無神。有神者，有胃氣也。無神者，無胃氣也。故有胃氣，雖現死脈而可生，無胃氣，即現生脈而必死，又在臨症而消息之也。</p>
<p>又曰：脈現死亡，不可輕斷死期，往往有用藥得宜，雖不能起死為生，然延留數日，亦其常也。訣中篇末有決日之法，愚以為終非定論，但斷其必死，而不必先定其日期，當與高明共商之。</p>
<p>又曰：死亡之脈現之於驟者易救，以臟腑初絕，尚有根可接也。倘時日已久，雖有人參又何以生之於無何有之鄉哉，有無可如何者矣。</p>
<p>又曰：脈有細微欲絕者，多是死亡之脈。然脈有伏而不出，狀似細微欲絕，其實絕而未絕也，一出脈而細微之象如失，此等之脈最難辨別，又當合症而參觀之，未可全恃夫切脈也。</p>
<p>又曰：脈有生死之各別，如魚遊、雀啄之類，彈石、解索、屋漏、水流、吹毛之狀，自是死脈無疑，見此等之脈，即可決其必亡。苟無此等之現，似乎不宜遽言其死。不知脈貴有神，倘浮沉、遲數之間，濇滑、大小之際，初按若有，再按若無，或散，或亂，或來，或去，全無神氣，雖非旦夕之云亡，必至歲月之難久，何常非死脈哉。倘代結之脈，按之有神，不過痰涎之壅塞，寒痛之遏抑，暫時之病，未常非生也。故決人生死，全要看脈之有神無神為貴耳。</p>
<h3>第五篇　婦人小兒脈訣</h3>
<p>鬼真君曰：陰陽原無二道，男女何有殊形。五臟相同，不必兩分彼此；三部亦一，寧須各論參差。惟受娠成胎，獨殊男子；故辨妊論孕，更別婦人。尺中脈滑，女經不調，且有帶淋之病；關中脈濇，天癸已斷，寧非鬱塞之疴。左寸滑而左尺大，懷子之兆；左尺數而左關微，有兒之徵。左寸帶縱，兩男之祥；右寸帶縱，雙女之喜。左關左尺脈皆大，心脈流利必三男；右關右尺脈皆大，心脈流利必三女。然三部有一部之滯，未宜遽許為胎；各脈無一脈之順，何敢輕言是孕。子死母存，尺浮而寸沉；母亡子活，尺濇而寸伏。蓋子係於腎，尺浮則子無生氣；母係於肺，寸沉則母有生機。子係於尺，尺濇而子之氣不散；母係於寸，寸伏而母之根已離。沉細之脈，胎欲離經；浮滑之脈，胞將即產。腹疼腰痛，定然即降；漿來胞破，未可言生。身重體寒面又青，脈無可畏；心煩血燥舌兼黑，脈斷堪憂。子母難留，唇口沫出；娘兒全活，面鼻顏黃。新產脈緩，自存胃氣；新產脈滑，未損脾陰。實大既形，定非佳信；弦急兼現，豈是庥祥。沉小實為順侯，濇促半作逆觀。脈微何是害，尚可回陽；脈洪反宜愁，最嫌逆冷。婦人之脈若此，小兒之診若何？三部不妨俱數，秖慮沉遲；六經各喜均長，翻嫌細小。惟弦緊不可驟揚，恐來風邪之祟；更虛濡不宜長見，虞多水氣之殃。急脈形於指下，嘔吐而腹痛難痊；大脈浮於關前，瀉痢而心驚不救。見此已可通彼，如偏何難悟全哉。　陳士鐸曰：男女之病，彼此相同，原無反背，故有病可據脈而同斷也。惟胎產前後，少異於男子，故鬼真君又傳此篇，而於論孕娠獨詳也。至於小兒，原不必切脈，以氣血未全，各脈不十分全準。鬼真君之論小兒，亦約略之辭。然而小兒純陽，所生之病，多是飲食之傷，驚疳吐瀉之症。得此數言，以括其全，所謂要言不煩也。</p>
<p>又曰：婦人之脈少異於男子者，左尺多旺耳。男子左尺旺，實非佳兆。女子左尺旺，此陰血有餘，轉是佳祥，蓋易於受胎也。</p>
<p>又曰：婦人之病最難治者，以其性情多鬱耳。鬱則氣血即不流通，經輒閉塞，而左關隨現濇脈矣。故看婦人之脈，貴切肝脈，辨其濇與不濇是第一秘法，雖各經皆有濇脈，而左關不濇，其鬱未甚也。</p>
<p>又曰：小兒之脈，弦緊、弦急俱是外邪，除此之外，皆內傷也。治內傷之法，以補脾健胃為先，即治外邪，亦當顧正，雖脈純現弦緊、弦急，未可單袪外邪也。</p>
