<header data-type="book">
<h1>醫宗金鑑·正骨心法要旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-998046">香港中文大學圖書館掃描本</a>），卷七十一至卷七十四；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷八十七至卷九十（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>外治法</h2>

<h3>手法總論</h3>
<p>夫手法者，謂以兩手安置所傷之筋骨，使仍復於舊也。但傷有重輕，而手法各有所宜。其痊可之遲速，及遺留殘疾與否，皆關乎手法之所施得宜，或失其宜，或未盡其法也。蓋一身之骨體，既非一致，而十二經筋之羅列序屬，又各不同，故必素知其體相，識其部位，一旦臨證，機觸於外，巧生於內，手隨心轉，法從手出。或拽之離而復合，或推之就而復位，或正其斜，或完其闕，則骨之截斷，碎斷、斜斷，筋之弛、縱、卷、攣、翻、轉、離、合，雖在肉裡，以手捫之，自悉其情，法之所施，使患者不知其苦，方稱為手法也，況所傷之處，多有關於性命者，如七竅上通腦髓，膈近心君，四末受傷，痛苦入心者，即或其人元氣素壯，敗血易於流散，可以剋期而愈，手法亦不可亂施；若元氣素弱，一旦被傷，勢已難支，設手法再誤，則萬難挽回矣。此所以尤當審慎者也。蓋正骨者，須心明手巧，既知其病情，復善用夫手法，然後治自多效。誠以手本血肉之體，其宛轉運用之妙，可以一己之卷舒，高下疾徐，輕重開合，能達病者之血氣凝滯，皮肉腫痛，筋骨攣折，與情志之苦欲也。較之以器具從事於拘制者，相去甚遠矣。是則手法者，誠正骨之首務哉。</p>

<h3>手法釋義</h3>
<p><u>摸法</u>　摸者，用手細細摸其所傷之處，或骨斷、骨碎、骨歪、骨整、骨軟、骨硬、筋強、筋柔、筋歪、筋正、筋斷、筋走、筋粗、筋翻、筋寒、筋熱，以及表裡虛實，並所患之新舊也。先摸其或為跌僕，或為錯閃，或為打撞，然後依法治之。</p>
<p><u>接法</u>　接者，謂使已斷之骨，合攏一處，復歸於舊也。凡骨之跌傷錯落，或斷而兩分，或折而陷下，或碎而散亂，或岐而旁突，相其形勢，徐徐接之，使斷者復續，陷者復起，碎者復完，突者復平。或用手法，或用器具，或手法、器具分先後而兼用之，是在醫者之通達也。</p>
<p><u>端法</u>　端者，兩手或一手擒定應端之處，酌其重輕，或從下往上端，或從外向內托，或直端、斜端也。蓋骨離其位，必以手法端之，則不待曠日遲久，而骨縫即合，仍須不偏不倚，庶愈後無長短不齊之患。</p>
<p><u>提法</u>　提者，謂陷下之骨，提出如舊也。其法非一，有用兩手提者，有用繩帛系高處提者，有提後用器具輔之不致仍陷者，必量所傷之輕重淺深，然後施治。倘重者輕提，則病莫能愈；輕者重提，則舊患雖去，而又增新患矣。</p>
<p><u>按摩法</u>　按者，謂以手往下抑之也。摩者，謂徐徐揉摩之也。此法蓋為皮膚筋肉受傷，但腫硬麻木，而骨未斷折者設也。或因跌僕閃失，以致骨縫開錯，氣血鬱滯，為腫為痛，宜用按摩法，按其經絡，以通鬱閉之氣，摩其壅聚，以散瘀結之腫，其患可愈。</p>
<p><u>推拿法</u>　推者，謂以手推之，使還舊處也。拿者，或兩手一手捏定患處，酌其宜輕宜重，緩緩焉以復其位也。若腫痛已除，傷痕已愈，其中或有筋急而轉搖不甚便利，或有筋縱而運動不甚自如，又或有骨節間微有錯落不合縫者，是傷雖平，而氣血之流行未暢，不宜接、整、端、提等法，惟宜推拿，以通經絡氣血也。蓋人身之經穴，有大經細絡之分，一推一拿，視其虛實酌而用之，則有宣通補瀉之法，所以患者無不愈也。</p>
<p>以上諸條，乃八法之大略如此。至於臨證之權衡，一時之巧妙，神而明之，存乎其人矣。</p>

<h3>器具總論</h3>
<p>跌僕損傷，雖用手法調治，恐未盡得其宜，以致有治如未治之苦，則未可云醫理之周詳也。因身體上下、正側之象，制器以正之，用輔手法之所不逮，以冀分者復合，欹者復正，高者就其平，陷者升其位，則危證可轉於安，重傷可就於輕。再施以藥餌之功，更示以調養之善，則正骨之道全矣。</p>
<p><u>裹簾</u>（器一無圖）裹簾，以白布為之。因患處不宜他器，只宜布纏，始為得法，故名裹簾。其長短闊狹，量病勢用之。</p>
<p><u>振挺</u>（器二無圖）振挺，即木棒也，長尺半，圓如錢大，或麵杖亦可。蓋受傷之處，氣血凝結，疼痛腫硬，用此挺微微振擊其上下四旁，使氣血流通，得以四散，則疼痛漸減，腫硬漸消也。</p>
<p>用法釋義：凡頭被傷，而骨未碎筋未斷，雖瘀聚腫痛者，皆為可治。先以手法端提頸、項、筋骨，再用布纏頭二三層令緊，再以振挺輕輕拍擊足心，令五臟之氣上下宣通，瘀血開散，則不奔心，亦不嘔呃，而心神安矣。若已纏頭拍擊足心，竟不覺疼，昏不知人，痰響如曳鋸，身體僵硬，口溢涎沫，乃氣血垂絕也，不治。</p>
<p><u>披肩器</u>（三無圖）　披肩者，用熟牛皮一塊，長五寸，寬三寸，兩頭各開二孔，夾於傷處，以棉繩穿之，緊緊縛定，較之木板稍覺柔活。</p>
<p>用法釋義：凡兩肩撲墜閃傷，其骨或斷碎，或旁突，或斜努，或骨縫開錯筋翻。法當令病人仰臥凳上，安合骨縫，揉按筋結，先以棉花貼身墊好，復以披肩夾住肩之前後，縛緊，再用白布在外纏裹畢，更用扶手板，長二尺余，寬三四寸，兩頭穿繩懸空掛起，令病人俯伏於上，不使其肩骨下垂。過七日後，開視之，如俱痊，可撤板不用；如尚未愈，則仍用之。若不依此治法，後必遺殘患蘆節。</p>
<p><u>攀索</u>（器四）攀索者，以繩掛於高處，用兩手攀之也。</p>
<p><u>疊磚器</u>（五）　疊磚者，以磚六塊，分左右各疊置三塊，兩足踏於其上也。</p>
<figure>
<img data-orig-src="urn:270:04597.jpg" alt="攀索疊磚用法圖">
</figure>
<p>用法釋義：凡胸、腹、腑、脅，跌、打、蹦、撞、墊、努，以致胸陷而不直者，先令病人以兩手攀繩，足踏磚上，將後腰拿住，各抽去磚一個，令病人直身挺胸；少頃，又各去磚一個，仍令直身挺胸。如此者三，其足著地，使氣舒瘀散，則陷者能起，曲者可直也。再將其胸以竹簾圍裹，用寬帶八條緊緊縛之，勿令窒礙，但宜仰睡，不可俯臥側眠，腰下以枕墊之，勿令左右移動。</p>
<p><u>通木</u>（器六）用杉木寬三寸，厚二寸，其長自腰起上過肩一寸許，外面平整，向脊背之內面刻凹形，務與脊骨膂肉吻合，約以五分（分去聲）度之，第一分自左側面斜鑽二孔右側面斜鑽二孔；越第二分至第三分、四分、五分，俱自左右側面各斜鑽一孔，用寬帶一條，自第一分上左孔穿入，上越右肩，下胸前，斜向左腑下繞背後，穿於第一分右次孔內；再用一帶自第一分上右孔穿入，上越左肩，下胸前，斜向右腋下繞背後，穿入第一分左次孔內，兩帶頭俱折轉緊扎木上；第三分、四分亦以帶穿之，自軟肋橫繞腹前，復向後穿入原孔內，緊扎木上；第五分以帶穿入孔內，平繞前腹，復向後緊扎木上，切勿遊移活動，始於患處有益。凡用此木，先以綿絮軟帛貼身墊之，免致疼痛。</p>
<p>用法釋義：凡脊背跌打損傷，膂骨開裂高起者，其人必傴僂難仰。法當令病者俯臥，再著一人以兩足踏其兩肩，醫者相彼開裂高起之處，宜輕宜重，或端或拿，或按或揉，令其縫合，然後用木依前法逼之。</p>
<figure>
<img data-orig-src="urn:270:04598.jpg" alt="通木圖">
</figure>
<figure>
<img data-orig-src="urn:270:04599.jpg" alt="通木背面用法圖">
</figure>
<figure>
<img data-orig-src="urn:270:04600.jpg" alt="通木正面用法圖">
</figure>
<p><u>腰柱器</u>（七）　腰柱者，以杉木四根，制如扁擔形，寬一寸，厚五分，長短以患處為度，俱自側面鑽孔，以繩聯貫之。</p>
<p>用法釋義：凡腰間閃挫岔氣者，以常法治之。若腰節骨被傷錯筍，膂肉破裂，筋斜傴僂者，用醋調定痛散，敷於腰柱上，視患處將柱排列於脊骨兩旁，務令端正；再用蘄艾，做薄褥覆於柱上，以御風寒，用寬長布帶，繞向腹前，緊緊紮裹，內服藥餌，調治自愈。</p>
<figure>
<img data-orig-src="urn:270:04601.jpg" alt="腰柱圖">
</figure>
<figure>
<img data-orig-src="urn:270:04602.jpg" alt="腰柱用法圖">
</figure>
<p><u>竹簾</u>（器八）竹簾者，即夏月涼簾也，量患處之大小長短裁取之。</p>
<p>用法釋義：凡肢體有斷處，先用手法安置訖，然後用布纏之，復以竹簾圍於布外，緊扎之，使骨縫無參差走作之患，乃通用之物也。</p>
<p><u>杉籬</u>（器九）杉籬者，復逼之器也。量患處之長短闊狹、曲直凸凹之形，以杉木為之。酌其根數，記清次序，不得紊亂，然後於每根兩頭各鑽一孔，以繩聯貫之。有似於籬，故名焉。但排列稀疏，不似竹簾之密耳。</p>
<p>用法釋義：凡用以圍裹於竹簾之外，將所穿之繩結住，再於籬上加繩以纏之，取其堅勁挺直，使骨縫無離綻脫走之患也。蓋骨節轉動之處，以骨節甚長之所，易於搖動，若僅用竹簾，恐挺勁之力不足，故必加此以環抱之，則骨縫吻合堅牢矣。</p>
<figure>
<img data-orig-src="urn:270:04603.jpg" alt="杉籬竹簾">
</figure>
<figure>
<img data-orig-src="urn:270:04604.jpg" alt="竹簾杉籬用法圖">
</figure>
<p><u>抱膝</u>（器十）抱膝者，有四足之竹圈也。以竹片作圈，較膝蓋稍大些須，再用竹片四根，以麻線緊縛圈上，作四足之形，將白布條通纏於竹圈及四足之上。用於膝蓋，雖拘制不致痛苦矣。</p>
<p>用法釋義：膝蓋骨覆於楗、䯒二骨之端，本活動物也。若有所傷，非骨體破碎，即離位而突出於左右，雖用手塵推入原位，但步履行止，必牽動於彼，故用抱膝之器以固之，庶免復離原位，而遺跛足之患也。其法將抱膝四足，插於膝蓋兩旁，以竹圈轄住膝蓋，令其穩妥，不得移動，再用白布寬帶緊緊縛之。</p>
<figure>
<img data-orig-src="urn:270:04605.jpg" alt="抱膝圖">
</figure>
<figure>
<img data-orig-src="urn:270:04606.jpg" alt="抱膝用法圖">
</figure>

<h2>經義</h2>

<h3>擊僕損傷應刺諸穴經義</h3>
<p>《素問·繆刺論》曰：人有所墮墜，惡血留內，腹中滿脹，不得前後，先飲利藥。此上傷厥陰之脈，下傷少陰之絡，刺足內踝之下，然谷之前血脈出血，刺足跗上動脈。不已，刺三毛各一痏，見血立已。左刺右，右刺左。</p>
<p>【注】此言惡血為病，有繆刺之法也。人因墮墜，致惡血留內，腹中滿脹，前後不通，當先用利藥。如上傷厥陰肝經之脈，下傷少陰腎經之絡，當刺內踝之下，然谷之前，有血脈令出血者，蓋以此屬少陰之別絡，而交通乎厥陰也，兼刺足跗上動脈，即衝陽穴，乃胃經之原也。如病不已，更刺三毛上大敦穴左右各一痏，見血立已。繆刺者，左刺右大敦，右刺左大敦也。但足跗動脈，上關衝脈，少陰陽明三經，只宜淺刺，不可出血不已也。</p>
<figure>
<img data-orig-src="urn:270:04607.jpg" alt="應刺穴圖">
</figure>
<p>《靈樞經·寒熱病篇》曰：身有所傷，血出多，及中風寒，若有所墮墜，四支懈惰不收，名曰體惰，取其小腹臍下三結交。三結交者，陽明太陰也，臍下三寸關元也。</p>
<p>【注】此言身有所傷，血出多者，及中風寒者，破傷風之屬也。或因墮墜，不必血出，而四支懈惰不收者，皆名體惰也。關元任脈穴名，又足陽明、太陰之脈皆結於此，故為三結交也。</p>
<figure>
<img data-orig-src="urn:270:04608.jpg" alt="應刺穴圖">
</figure>
<p>《靈樞經·厥病論》曰：頭痛不可取於腧者，有所擊墮，惡血在內，傷痛未已，可側刺不可遠取之也。</p>
<p>【注】經言惡血在內，頭痛不可取其腧者，蓋頭痛取腧，以泄其氣，則頭痛可愈也。若有所擊墮，惡血在內，而取腧以泄其氣，則是血病治氣矣，故勿取其腧焉。若所擊僕之䐃肉傷痛不已，雖用刺法，亦只於所傷附近之側刺之，以出在內之惡血而已。若仍按經遠取諸腧，以療頭痛，則不可也。</p>

<h3>惡血已留復因怒傷肝經義</h3>
<p>《靈樞經·邪氣臟腑病形篇》曰：有所墮墜，惡血在內，有所大怒，氣上而不下，積於脅下，則傷肝。</p>
<p>【注】人因墮墜，血已留內，若復因大怒傷肝，其氣上而不下，則留內之血，兩相凝滯，積於脅下，而肝傷矣。法當先導怒氣，勿積於肝，則肝可以無傷，然後飲以利藥，以破惡血，則脅下無留血矣。</p>

<h3>擊僕傷後入房傷脾經義</h3>
<p>《靈樞經·邪氣臟腑病形篇》曰：有所擊僕，若醉入房，汗出當風，則傷脾。</p>
<p>【注】有所擊僕，乃傷其外體也。如醉後入房，或汗出不知避忌當風，則邪客於肌膚，傷其內體矣，是皆傷脾之因也。</p>

<h3>擊僕損傷脈色經義</h3>
<p>《素問·脈要精微論》曰：肝脈搏堅而長，色不青，當病墜若搏，因血在脅下，令人喘逆。</p>
<p>【注】此言肝脈有剛柔，而病亦以異也。肝脈搏擊於手，而且堅且長，其色又不青，當病或墜或搏，因血積於脅下，令人喘逆不止也。正以厥陰之脈，布脅肋循喉嚨之後；其支別者，復從肝貫膈上注肺，今血在脅下，則血之積氣上熏於肺，故令人喘逆也。</p>
<p>《金匱要略》曰：寸口脈浮，微而澀，然當亡血。若汗出，設不汗出者，其身有瘡，被刀斧所傷，亡血故也。</p>
<p>【注】經言：奪血者無汗，奪汗者無血。蓋二者皆當脈浮微而澀，今診之如此，是有枯竭之象，而無汗出之證，非亡血而何？故知有金傷或擊僕而亡血之證也。</p>
<p>又論曰：肝脈搏堅而色不變，必有擊墮之事。因肉無破，則惡血必留脅下，兼致嘔逆，依經針刺然谷足跗，或三毛等穴出血，或飲利藥使惡血開行，當自愈也。若脈浮微而澀，當知亡血過多，依經於三結交關元穴灸之，或飲大補氣血之劑而調之，則病已矣。</p>

<h2>《靈樞經》骨度尺寸</h2>
<p><u>頭部</u></p>
<p>項發以下至背，骨長二寸半。（自後髮際以至大椎項骨三節處也）</p>
<p>【按】頭部折法：以前髮際至後髮際，折為一尺二寸。如髮際不明，則取眉心，直上後至大杼骨，折作一尺八寸，此為直寸。橫寸法：以眼內角至外角，此為一寸，頭部橫直寸法並依此。</p>
<p><u>胸腹部</u></p>
<p>結喉以下至缺盆中，長四寸。（此以巨骨上陷中而言，即天突穴處）缺盆以下𩩲骭之中，長九寸。</p>
<p>胸圍四尺五寸。</p>
<p>兩乳之間，廣九寸半。（當折八寸為當）</p>
<p>𩩲骭中下至天樞，長八寸。（天樞足陽明穴名，在臍旁，此指平臍而言）</p>
<p>天樞以下至橫骨，長六寸半，橫骨橫長六寸半。（毛際下骨曰橫骨）</p>
<p>【按】此古數，以今用上下穴法參較，多有未合，宜從後胸腹折法為當。</p>
<p>兩髀之間，廣六寸半。（此當兩股之中，橫骨兩頭之處，俗名髀縫）</p>
<p>【按】胸腹折法：直寸以中行為之，自缺盆中天突穴起，至岐骨際上中庭穴止，折作八寸四分，自𩩲骭上岐骨際下至臍心，折作八寸，臍心下至毛際曲骨穴，折作五寸，橫寸以兩乳相去，折作八寸。胸腹橫直寸法並依此。</p>
<p><u>背部</u></p>
<p>膂骨以下至尾骶二十一節，長三尺。（膂骨脊骨也，脊骨外小而內巨，人之所以能負任者，以是骨之巨也。脊骨二十四節，今云二十一凶者，除項骨三節不在內。）</p>
<p>腰圍四尺二寸。</p>
<p>【按】背部折法：自大椎至尾骶，通折三尺，上七節各長一寸四分一釐，共九寸八分七釐；中七節各一寸六分一釐，共一尺一寸二分七釐；第十四節與臍平，下七節各一寸二分六釐，共八寸八分二釐，共二尺九寸九分六釐，不足四釐者，有零未盡也，直寸依此，橫寸用中指同身寸法。</p>
<p>脊骨內闊一寸，凡云第二行挾脊一寸半，三行挾脊三寸者，皆除脊一寸外，淨以寸半三寸論，故在二行當為二寸，在三行當為三寸半也。</p>
<p><u>側部</u></p>
<p>自柱骨下行腋中不見者，長四寸。（柱骨，頸項根骨也。）</p>
<p>腋以下至季脅，長一尺二寸。（季脅，小肋也。）</p>
<p>季脅以下至髀樞，長六寸。（大腿曰股，股上曰髀楗，骨之下，大腿之上，兩骨合縫之所，曰髀樞，當足少陽環跳穴處也。）</p>
<p>髀樞下至膝中，長一尺九寸。</p>
<p>橫骨上廉下至內輔之上廉，長一尺八寸。（骨際曰廉，膝旁之骨，突出者曰輔骨，內曰內輔，外曰外輔。）</p>
<p>內輔之上廉以下至下廉，長三寸半。（上廉、下廉可摸而得。）</p>
<p>內輔下廉下至廉，長三寸半。（上廉、下廉可摸而得。）</p>
<p>內輔下廉下至內踝，長一尺二寸。</p>
<p>內踝以下至地，長三寸。</p>
<p><u>四肢部</u></p>
<p>肩至肘，長一尺七寸。</p>
<p>肘至腕，長一尺二寸半。（臂之中節曰肘）</p>
<p>腕至中指本節，長四寸。（臂掌之交曰腕。）</p>
<p>本節至末，長四寸半。（指之後節曰本節。）</p>
<p>膝以下至外踝，長一尺六寸。</p>
<p>膝膕以下至跗屬，長一尺二寸。（膕，腿灣也。跗，足面也。膝在前，膕在後。跗屬者，凡兩踝前後脛掌所交之處，皆為跗之屬也。）</p>
<p>跗屬以下至地，長三寸。</p>
<p>外踝以下至地，長一寸。</p>
<p>足長一尺二寸，廣四寸半。</p>
<p>【按】骨度乃《靈樞經·骨度篇》之文，論骨之長短，皆古數也。然骨之大者則太過，小者則不及，此亦言其則耳。其周身手足折量之法，用前中指同身寸法為是。同身寸量法，詳刺灸書中。</p>
<figure>
<img data-orig-src="urn:270:04609.jpg" alt="人身正面全圖">
</figure>
<figure>
<img data-orig-src="urn:270:04610.jpg" alt="人身背面全圖">
</figure>
<figure>
<img data-orig-src="urn:270:04611.jpg" alt="骨度正面全圖">
</figure>
<figure>
<img data-orig-src="urn:270:04612.jpg" alt="骨度背面全圖">
</figure>
<figure>
<img data-orig-src="urn:270:04613.jpg" alt="骨度側面全圖">
</figure>
<figure>
<img data-orig-src="urn:270:04614.jpg" alt="骨度正面尺寸圖">
</figure>
<figure>
<img data-orig-src="urn:270:04615.jpg" alt="骨度背面尺寸圖">
</figure>

<h3>補遺</h3>
<p>十不治證：</p>
<p>顛仆損傷入於肺者，縱未即死，二七難過；左脅下傷透至內者；腸傷斷者；小腹下傷內者；證候繁多者；傷破陰子者；老人左股壓碎者；血出盡者；肩內耳後傷透於內者；脈不實重者。</p>
<p>以上皆不必用藥。</p>

<h1>卷二</h1>

<h2>頭面部</h2>

<h3>巔頂骨</h3>
<figure>
<img data-orig-src="urn:270:04616.jpg" alt="巔頂圖">
</figure>
<p>巔者，頭頂也。其骨男子三叉縫，女子十字縫，一名天靈蓋，位居至高，內函腦髓如蓋，以統全體者也。或蹦撞損傷，如卒然而死，身體強硬，鼻口有出入聲氣，目閉面如土色，心口溫熱跳動者，此證可治。切不可撅拿並扶起盤坐，蓋恐驚亂之氣上衝，或從傷處或從七竅走泄，必傷性命也。惟宜屈膝側臥，先將高醋調混元膏，敷於頂上，以定痛消腫，活血拔毒；再將草紙卷點著，令煙氣熏其口鼻。再燃煤淬入醋內，使熱氣熏蒸口鼻，如無煤之處，燒鐵淬之亦可。以引五臟血脈，使之通和。待其口中呻吟有聲，即以童便調八釐散溫服，可以氣轉陽回，外用手法推按心胸兩肋腋下腹上，並輕托內腕攢筋，頻頻揉摩，即掌後高骨，寸關尺診脈處也。</p>
<p>夫衝撞損傷，則筋脈強硬，頻頻揉摩，則心血來復，命脈流通，即可回生。常服正骨紫金丹，復外用散瘀和傷湯，洗去前敷之混元膏，再換敷混元膏。服丸藥後，或大便色黑乾燥，此乃腸胃存有瘀血，或有耳聾者，俱服加減蘇子桃仁湯，以逐瘀血，健脾胃養精神，兼用導氣通瘀錠塞於耳中。飲食宜素粥湯飲，忌氣怒、油膩、麵食。臥處宜淨室，勿令人喧亂。若傷重已死者，用白布纏頭，以木棍輕輕拍擊足心，再提發令其直正，安定頸骨，舒其筋絡，外敷混元膏，內服紫金丹。若墜車馬損傷巔縫者，其邪墜而下，多在左，而少在右，因右手利便而然也，其治法同蹦撞諸傷。如頂骨塌陷，驚動腦髓，七竅出血，身挺僵厥，昏悶全無知覺者，不治。</p>
<p><u>混元膏</u>　治打僕損傷，骨碎筋翻，瘀血凝聚，消青紫腫痛等證。</p>
<p>羚羊血（五錢）　沒藥（五錢）　漏蘆（三錢）　紅花（三錢）　大黃（二錢）　麝香（三錢）　升麻（三錢）　白及（五錢）　生梔子（二錢）　甘草（二錢）　明雄黃（五錢）　白蘞（三錢）</p>
<p>共為細末，用高醋熬成膏，敷於頂上。</p>
<p><u>八釐散</u>　治跌打損傷，接骨散瘀。</p>
<p>蘇木面（一錢）　半兩錢（一錢）　自然銅（醋淬七次，三錢）　乳香（三錢）　沒藥（三錢）　血竭（三錢）　麝香（一分）　丁香（五分）　番木鱉（油炸去毛，一錢）</p>
<p>共為細末，黃酒溫服，童便調亦可。</p>
<p><u>正骨紫金丹</u>　治跌打僕墜閃錯損傷，並一切疼痛，瘀血凝聚。</p>
<p>丁香　木香　瓜兒血竭　兒茶　熟大黃　紅花（各一兩）　當歸頭　蓮肉　白茯苓　白芍（各二兩）　丹皮（五錢）　甘草（三錢）</p>
<p>共為細末，煉蜜為丸，每服三錢，童便調下，黃酒亦可。</p>
<p><u>散瘀和傷湯</u>　治一世蹦撞損傷，瘀血積聚。</p>
<p>番木鱉（油炸去毛）　紅花　生半夏（各五錢）　骨碎補　甘草（各三錢）　蔥須（一兩）</p>
<p>水五碗煎滾，入醋二兩，再煎十數滾，熏洗患處，一日十數次。</p>
<p><u>加減蘇子桃仁湯</u>　治瘀血內聚，心經瘀熱，大腸不燥者。</p>
<p>蘇子（三錢）　蘇木（末，一錢）　紅花（一錢）　桃仁（炒）　麥冬　橘紅（各三錢）　赤芍　竹茹　當歸（酒洗，各二錢）　</p>
<p>水三盅，煎一盅，渣二盅，煎八分，溫服。</p>
<p><u>導氣通瘀錠</u>　專治耳聾奇方。</p>
<p>用不去油巴豆一個，斑蝥三個，麝香少許，以蔥涎蜂蜜和捻如麥粒形，絲棉裹置耳中，響聲如雷，勿得驚懼。待二十一日，耳中有膿水流出，方可去錠，奇妙無比。</p>

<h3>囟骨</h3>
<p>囟骨者，嬰兒頂骨未合，軟而跳動之處，名曰囟門。或跌打損傷，骨縫雖綻，尚未震傷腦髓，筋未振轉。其形頭項浮光，面虛眼腫，鼻大唇翻舌硬，睡困昏沉，肉雖腫而未皮破出血者，宜扶起正坐，即以蔥汁合定痛散，敷於傷處；再以毛頭紙蘸醋貼藥上，燒鐵熨斗烙紙上，以傷處覺熱疼，口中有聲為度。去藥貼萬靈膏，三日一換。待疼止思食，始揭去膏，以和傷湯洗之，則風除腫散，血活氣理矣。肉破出血者，即用馬屁勃灰先止其血；次用榆樹皮灸熨法，內服人參紫金丹，以健脾胃提元氣，止渴生津，增長精神，強壯身體，令筋血和通為要。忌發物火灑，戴抽口穿帶布帽，以避風寒，不可出房。若肉破血流不止，骨陷筋翻，必損腦髓，身軟屈手筋強，氣息無聲，則危篤難醫。若破痕觸冒寒風者，不治。</p>
<p>馬屁勃俗名狗頭灰，產口外者佳。</p>
<p><u>定痛散</u>　治一切打僕風傷，定痛消腫，舒筋和絡。</p>
<p>當歸　川芎　白芍　官桂（各一錢）　三柰（三錢）　麝香（三分）　紅花（五錢）　紫丁香根（五錢）　升麻（一錢）　防風（一錢）</p>
<p>共為細末，老蔥搗汁合敷患處，再用熨法。</p>
<p><u>灸熨法</u>　此法專以灸熨肉破血出諸傷。蓋因血液津漬潮潤，以樹皮隔之，方灸熨也。先以榆樹皮安患處，再以老蔥搗爛，並蘄艾止痛散和勻，置樹皮上，連灸五次畢，以軟絹包裹。戴抽口布帽，繫緊帶子，謹避風冷。</p>
<p><u>萬靈膏</u>　治跌打損傷，消瘀散毒，舒筋活血，止痛接骨如神，兼去麻木風痰，寒濕疼痛等證。</p>
<p>鸛筋草　透骨草　紫丁香根　當歸（酒洗）　自然銅（醋淬七次）　瓜兒血竭　沒藥（各一兩）　川芎（八錢）　赤芍（二兩）　半兩錢（醋淬，一枚）　紅花（一兩）　川牛膝　五加皮　石菖蒲　茅山蒼朮（各五錢）　木香　秦艽　蛇床子　肉桂　川附子（制）　半夏（制）　石斛　萆薢　鹿茸（各三錢）　虎脛骨（一對）　麝香（二錢）</p>
<p>上除血竭、沒藥、麝香三味，各研細末另包外，共二十三味。先將香油十斤微火煨浸三日，然後將群藥入油內，熬黑為度，去滓加黃丹五斤再熬，將至滴水成珠離火，俟少時藥溫，將血竭、沒藥、麝香下入，攪勻取起，出火氣。</p>
<p><u>人參紫金丹</u>　此丹提補元氣，健壯脾胃，止渴生津，增長精神，和通筋血。被跌僕閃撞而氣虛者，最宜服之。</p>
<p>人參（三錢）　丁香（一兩）　五加皮（二兩）　甘草（八錢）　茯苓（二錢）　當歸（酒洗，一兩）　血竭（一兩）　骨碎補（一兩）　五味子（一兩）　沒藥（去油，二兩）</p>
<p>共為細末，煉蜜為丸，每服三錢，早晚淡黃酒化服，童便化服亦可。</p>

<h3>山角骨</h3>
<p>山角骨，即頭頂兩旁稜骨也。凡有跌打損傷未破者，不拘左右宣紫腫硬，瘀血凝聚疼痛，或昏迷目閉，身軟而不能起，聲氣短少，語言不出，心中忙亂，睡臥喘促，飲食少進者，宜內服正骨紫金丹，外用灸熨如囟骨傷法。如肉破流血不止者，先用馬屁勃灰止血，後以榆樹皮蓋傷處，以艾合定痛散灸之。如傷重者，先服人參紫金丹，後如前法。如損傷太重成破傷風，不治。</p>
<p><u>正骨紫金丹</u>（見前巔頂傷）</p>
<p><u>人參紫金丹</u>（見前囟骨傷）</p>

<h3>凌雲骨</h3>
<p>凌雲骨，在前髮際下，即正中額骨。其兩眉上之骨，即俗名左天賢骨，右天貴骨，兩額角也。跌打損傷皮破二目，及面浮虛腫，若內損瘀血，上嘔吐衄，氣虛昏沉，不省人事，身軟，面色干黃，遍身虛浮，躁煩焦渴，胸膈疼痛，脾胃不開，飲食少進，先服疏血丸，再以五加皮湯熏洗患處，敷烏龍膏，定痛消腫。</p>
<p><u>疏血丸</u>　此藥止血開胃。</p>
<p>百草霜（三錢）　好阿膠（蛤粉炒成珠）　藕節　側柏葉　茅根　當歸（酒洗，各一兩）</p>
<p>共為細末，煉蜜為丸，如梧桐子大，每服五錢，早晚老酒送下。</p>
<p><u>五加皮湯</u>　此湯舒筋和血，定痛消瘀。</p>
<p>當歸（酒洗）　沒藥　五加皮　皮硝　青皮　川椒　香附子（各三錢）　丁香（一錢）　麝香（一分）　老蔥（三根）　地骨皮（一錢）　丹皮（二錢）</p>
<p>水煎滾，熏洗患處。</p>
<p><u>烏龍膏</u>　此膏治跌打損傷，筋斷骨折，腫硬青紫。</p>
<p>百草霜（三錢）　白及（五錢）　白蘞（三錢）　百合（五錢）　百部（三錢）　乳香（五錢）　沒藥（五錢）　麝香（一分）　糯米（炒，一兩）　陳粉子（隔年者佳，炒，四兩）</p>
<p>共為細末，醋熬為膏。</p>

<h3>睛明骨</h3>
<p>睛明骨，即目窠四圍目眶骨也。其上曰眉稜骨，其下曰䪼骨，䪼骨下接上牙床。打僕損傷，血流滿面者，敷刀瘡藥；掀痛瘀血者，敷混元膏。如骨損者，內服八釐散，忌生冷發物。偶食豬頭肉者，必發，至一月後始愈。凡眼胞傷損而瞳神不碎者，可治。　</p>
<p><u>刀瘡藥</u>　治一切金刃所傷，敷之止血，收口、定痛、護風。</p>
<p>上白石膏（煅，一斤）　淨板松香（水提過，一斤）　珍珠（豆腐煮過，五錢）</p>
<p>上三味，共研細末，和為一處，瓷罐收貯備用。</p>
<p><u>混元膏</u>　<u>八釐散</u>（俱見巔頂傷。）</p>

<h3>兩顴骨</h3>
<p>兩顴骨者，面上兩旁之高起大骨也。打僕損傷，青腫堅硬疼痛，牙車緊急，嚼物艱難，鼻孔出血，兩唇掀翻，內服正骨紫金丹，外以海桐皮湯熏洗，口漱蓽茇散，坐臥避冷處。</p>
<p><u>海桐皮湯</u>　專洗一切跌打損傷，筋骨骨錯，疼痛不止。</p>
<p>海桐皮　鐵錢透骨草　明淨乳香　沒藥（各二錢）　當歸（酒洗，一錢五分）　川椒（三錢）　川芎（一錢）　紅花（一錢）　威靈仙　白芷　甘草　防風（各八分）</p>
<p>共為粗末，裝白布袋內，扎口煎湯，熏洗患處。</p>
<p><u>蓽茇散</u></p>
<p>蓽茇　良薑　細辛（各一錢）</p>
<p>水三盅，煎一盅漱口。</p>
<p><u>正骨紫金丹</u>（見兩山角傷）</p>

<h3>鼻梁骨</h3>
<p>鼻孔之界骨，名曰鼻梁骨；下至鼻之盡處，名曰準頭。凡鼻兩孔傷凹者可治，血出無妨。若鼻梁骨凹陷者，用當歸膏敷貼；若兩孔跌磕傷開孔竅，或金刃傷開孔竅，用封口藥敷傷處，外以消毒定痛散貼之退腫；若鼻被傷落者，用綴法。</p>
<p><u>封口藥</u>　治跌打損傷，皮開肉破，及金刃傷割喉斷耳，缺唇傷破肚皮，跌破陰囊皮等證，大效。</p>
<p>明淨乳香　沒藥　兒茶　當歸　杉皮炭（各一錢）　麝香（五釐）　片腦（一分）　豬𧰷聹葉（如無此葉，用葛葉毛藤子葉亦可，一錢）</p>
<p>上各另碾細末，稱合和勻，入麝碾細，次入片腦研勻，瓷罐收貯聽用。</p>
<p><u>消毒定痛散</u>　治跌僕損傷，腫硬疼痛。</p>
<p>無名異（炒）　木耳（炒）　川大黃（各五錢）</p>
<p>共為末，蜜水調塗。如內有瘀血，砭去敷之；若腐處，更用當歸膏敷之尤好。</p>
<p><u>神效當歸膏</u>　此膏斂口生肌，拔毒止痛，並諸瘡毒氣壅盛，腐化成膿。</p>
<p>當歸　黃蠟（各一兩）　麻油（四兩）</p>
<p>上將當歸入油煎令焦黑，去滓，次入黃蠟，急攪化放冷，以瓷器收貯，用時以舊絹布攤貼。一方用白蠟。</p>
<p><u>綴法</u>（耳傷落者同此）　用人發入陽城罐，以鹽泥固濟，煅過為末，乘急以所傷耳、鼻蘸藥，安綴故處，以軟吸縛定效。昔江懷禪師被驢咬落其鼻，一僧用此綴之如舊。</p>

<h3>中血堂</h3>
<p>中血堂，即鼻內頞下脆骨空虛處也。若被打僕損傷，血流不止，神氣昏迷者，宜塞鼻丹塞於鼻中，外復以新汲冷水，淋激頭頂。視其人如氣虛內服人參紫金丹；如血瘀服蘇子桃仁湯。服後如血仍不止，飲食不進，氣虛目閉面黃者，八日死。凡跌打損傷鼻梁骨者，無妨。</p>
<p><u>塞鼻丹</u>　此丹治跌打損傷，鼻中流血不止，神氣昏迷，牙齒損傷，虛浮腫痛者，及一切衄血之證，皆可用之。</p>
<p>硃砂　麝香　丁香　烏梅肉　川烏　草烏　當歸　三柰（各一錢）　乳香（三錢）　皂角（七分）</p>
<p>共為細末，用獨頭蒜泥為丸，以絲棉包裹，塞於鼻中。</p>
<p><u>人參紫金丹</u>（見囟骨傷）</p>
<p><u>蘇子桃仁湯</u>（見巔頂傷）</p>

<h3>唇口</h3>
<p>唇口者，司言食之竅也。如跌破擊打上唇而拔缺者，用絹片一小條，從腦後扎向前來縛合，先用桑白皮捻線縫定，次以封口藥塗敷，次敷截血膏蓋住封口藥，不令開落，仍忌言語。如整下唇傷而拔缺者，以絹片從下頦兜縛，治同前法。</p>
<p><u>截血膏</u>　治跌打砍磕諸證，能化血破瘀，退腫止痛。</p>
<p>天花粉（三兩）　片子薑黃　赤芍藥　白芷（各一兩）</p>
<p>上共為細末，茶調勻，敷瘡口四圍。</p>
<p>若頭面傷，其血不止者，急用此藥調塗頸上周圍。若手傷，則塗臂周圍。若傷足，則塗腿上。若傷各處，則塗瘡口周圍，使截住其血不來潮作。若瘡口肉硬不消者，此被風襲也。可加獨活，用熱酒調敷；如又不消，則風毒已深，肌肉結實，加紫荊皮末和敷，有必消之理。</p>
<p><u>封口藥</u>（見鼻柱骨傷）</p>

<h3>玉堂</h3>
<p>玉堂在口內上齶，一名上含，其竅即頏顙也。若被觸刺傷於左右者，惟腫痛而已；若觸傷正中之孔，則上通於頞，必傷鼻孔之卷肉（俗名鼻須），或再犯空竅（俗名玉堂），則血流不止，以致鼻目皆腫，滿面青紫，神倦頭暈，四肢無力，痛連腦髓；若傷及會厭與上橫骨，輕者易愈，重者即不能言：若痛連心膈，則昏迷沉重。急用膩粉冰片敷於紙上，貼肉破處，以止其血；內服正骨紫金丹，以散瘀定痛，理氣健脾，寧神定志；復用蟹黃血竭煎湯，日漱口二三十次，如氣不舒和，飲食少進，日以柿霜、玉露霜、牛奶皮、奶餅、奶酥油、並炒糜子面諸物，以涼潤將息之則愈。</p>

<h3>地閣骨</h3>
<p>地閣骨，即兩牙車相交之骨，又名頦，俗名下巴骨，上載齒牙。打僕損傷者，腮唇腫痛，牙車振動虛浮，飲食不進，目閉神昏，心熱神亂，氣弱體軟。用布兜裹繫縛頂上，內服大神效活絡丹消瘀散，止痛和血，理氣健脾；再噙化人參紫金丹，搽固齒散，口漱蓽茇散，以去牙根腫痛，外貼萬靈膏。忌風寒冷物，戒氣惱。</p>
<p><u>大神效活絡丹</u>　此丹宣暢氣血，通利經絡，並風濕諸痹，口眼喎斜，半身不遂，行步艱難，筋骨拘攣，手足疼痛等證。</p>
<p>白花蛇（酒浸，焙）　烏梢蛇（酒浸，焙）　麻黃（去節）　防風　炙草　官桂　草豆蔻　羌活　元參　天麻　藿香　何首烏　白芷　川連黃（各二兩）　黃耆　熟地黃　川大黃　遼細辛　赤芍藥　硃砂（水飛）　沒藥（去油）　乳香（去油）　直殭蠶（去黑嘴，炒）　天竺黃　敗龜板（酥炙）　丁香　虎脛骨（酥炙）　烏藥　青皮　黑附子　白蔻仁（炒）　骨碎補　白茯苓　於白朮（土炒）　當歸（酒洗）　沉香（各一兩）　全蠍（去毒）　葛根　威靈仙（酒浸，各二兩五錢）　瓜兒血竭　犀角（各七錢五分）　麝香（五錢）　地龍（去土，五錢）　淨松香（五錢）　兩頭尖　川芎（各二兩）　京牛黃（二錢五分）　片腦（二錢五分）</p>
<p>共為紅末，煉蜜為丸，金鉑為衣。每丸重一錢，以蠟皮封裹，溫酒送，隨病上下，食前後服。</p>
<p><u>人參紫金丹</u>（見山角骨傷）</p>
<p><u>固齒散</u>（見齒傷）</p>
<p><u>蓽茇散</u>（見兩顴傷）</p>
<p><u>萬靈膏</u>（見巔頂傷）</p>

<h3>齒</h3>
<p>齒者，口齦所生之骨也，俗名曰牙。有門牙、虎牙、槽牙、上下盡根牙之別。凡被跌打砍磕，落去牙齒者，只用補骨散敷之，並封口藥，內服破血藥，以止其痛。其藥只用水煎，不宜酒煎，此法頗收功效。如牙斷跌磕砍傷牙齒未動者，用芙蓉膏塗之；如齒動者，用蒺藜根燒存性為末，常揩搽之即牢，用固齒散時時揩之亦佳。</p>
<p><u>補肌散</u>　止血除痛，闢風續筋骨，生肌肉。</p>
<p>地黃苗　地菘　青蒿　蒼耳苗　赤芍藥（水煎取汁，各五兩）　生艾汁（三合）</p>
<p>上五月五日、七月七日午時修合，以前藥汁拌石灰陰乾，入黃丹三兩，更杵為細末。凡有傷折出血，用藥包封不可動，約十日可瘥，不腫不膿。</p>
<p><u>芙蓉膏</u>　治打僕傷損，腫痛紫黑色，久不退者。</p>
<p>紫荊皮　南星（各一兩）　芙蓉（二兩）　獨活　白芷　赤芍藥（各五錢）</p>
<p>上共為末，用生薑汁茶清調溫貼敷，傷損紫黑色久不退者，加肉桂五錢。</p>
<p><u>固齒散</u></p>
<p>骨碎補　牡鼠骨（煅灰）</p>
<p>共研細末，瓷罐收貯聽用。</p>
<p><u>封口藥</u>（見鼻柱骨傷）</p>
<figure>
<img data-orig-src="urn:270:04617.jpg" alt="正面圖">
</figure>

<h3>扶桑骨</h3>
<p>扶桑骨，即兩額骨旁，近太陽肉內凹處也。若跌僕損傷，或焮腫，或血出，或青紫堅硬，頭疼耳鳴，青痕滿面，憎寒惡冷，心中發熱，大便乾燥，宜內服正骨紫金丹，如破損者，外以灸熨法定痛，外破者烏龍膏敷之。</p>
<p><u>正骨紫金丹</u>　<u>灸熨法</u>（俱見巔頂骨傷）</p>
<p><u>烏龍膏</u>（方見凌雲骨傷）</p>

<h3>耳</h3>
<p>耳者，司聽之竅也。耳門之名曰蔽，耳輪之名曰郭。凡耳被砍跌打落，或上脫下黏，或下脫上黏，內用封口藥，外用消毒定痛散敷貼；及耳後看脫落所向，用鵝翎橫夾定，卻用竹夾子直上橫縛定，縛時要兩耳相對，輕輕縛住，或用綴法。</p>
<p><u>封口藥</u>　<u>消毒定痛散</u>（俱見鼻柱骨傷）</p>
<p><u>綴法</u>（見鼻柱骨傷）</p>

<h3>玉梁骨</h3>
<p>玉梁骨，即耳門骨。其處上即曲頰，下即頰車，兩骨之合鉗也，耳門內上通腦髓亦關靈明。若墊傷擊傷，而有礙於骨肉者，腫痛流血，服正骨紫金丹，八仙逍遙湯洗之；洗畢貼混元膏，坐臥避冷處。若傷重內連腦髓及傷靈明，必昏沉不省人事，不進飲食，若再平素氣血皆虛，必為不治之證。</p>
<p><u>八仙逍遙湯</u>　專洗跌僕損傷，腫硬疼痛，及一切冷振風濕，筋骨血肉肢體痠痛諸證。</p>
<p>防風　荊芥　川芎　甘草（各一錢）　當歸（酒洗）　黃柏（各二錢）　茅山蒼朮　牡丹皮　川椒（各三錢）　苦參（五錢）</p>
<p>共合一處，裝白布袋內，扎口，水熬滾，熏洗患處。</p>

<h3>兩釣骨</h3>
<p>兩釣骨名曲頰，即上頰之合鉗，曲如環形，以納下牙車骨尾之鉤者也。打僕損傷，耳腫腮硬，牙關緊急，嚼物不合。宜內服正骨紫金丹，外貼萬靈膏。坐臥避冷處。</p>
<p><u>正骨紫金丹</u>　<u>萬靈膏</u>（俱見巔頂傷）</p>

<h3>頰車骨</h3>
<p>頰車骨，即下牙床骨也，俗名牙釣，承載諸齒，能咀食物，有運動之象，故名頰車。其骨尾形如鉤，上控於曲頰之環。或打僕脫臼，或因風濕襲入鉤環脫臼，單脫者為錯，雙脫者為落。凡治單脫者，用手法摘下不脫者，以兩手捧下頦，稍外拽復向內托之，則雙皆入上環矣。再以布自地閣纏繞頭頂以固之，宜內服正骨紫金丹，外貼萬靈膏。待能飲食後，去布，只用布兜其下頦。繫於頂上，二三日可愈。若雙脫者，治法同前。若欠而致脫臼者，乃突滑也，無妨。脫臼者，俗名吊下巴。欠者，俗名打哈氣。</p>
<p><u>正骨紫金丹</u>　<u>萬靈膏</u>（方俱見巔頂傷）</p>
<figure>
<img data-orig-src="urn:270:04618.jpg" alt="側面圖">
</figure>

<h3>後山骨</h3>
<p>後山即頭後枕骨也。其骨形狀不同，或如品字，或如山字、或如川字，或圓尖，或月芽形，或偃月形，或雞子形，皆屬枕骨。凡有傷損，其人頭昏目眩，耳鳴有聲，項強嚥直，飲食難進，坐臥不安，四肢無力，內服正骨紫金丹，外敷烏龍膏，洗以海桐皮湯，以散瘀去麻木止痛。如誤從高處墜下，後山骨傷太重，筋翻氣促，痰響如拽鋸之聲，垂頭目閉，有喘聲者，此風熱所乘，至危之證，不能治也，遺尿者必亡。惟月芽形者，更易受傷。如被墜墮打傷，震動蓋頂骨縫，以致腦筋轉擰疼痛，昏迷不省人事，少時或明者，其人可治，急以涼水蘸發，啟開牙關，以酒調八釐散灌之，服後目開痛苦有聲，二目流淚，愈見可治之兆，服正骨紫金丹，炒米粥調養可愈。</p>
<p><u>正骨紫金丹</u>（見巔頂傷）</p>
<p><u>烏龍膏</u>（見凌雲骨傷）</p>
<p><u>海桐皮湯</u>（見兩顴骨傷）</p>
<p><u>八釐散</u>（見巔頂傷）</p>

<h3>壽臺骨</h3>
<p>壽臺骨，即完骨，在耳後接於耳之玉樓骨者也。若跌打損傷，其耳上下俱腫起，耳內之禁骨有傷，則見血膿水，耳外瘀聚凝結疼痛，筋結不能舒通，以致頭暈眼迷，兩太陽扶桑骨脹痛，頸項筋強，虛浮紅紫，精神短少，四肢無力，坐臥不安，飲食少進。以烏龍膏敷耳傷處，用絲棉裹導氣通瘀錠塞耳內；內服人參紫金丹，通瘀散腫；外用以八仙逍遙湯熏洗，消散虛浮腫痛。忌食熱物發物。如血流不止，三日不飲食，必動腦髓，不宜治之。</p>
<p><u>烏龍膏</u>（見凌雲骨傷）</p>
<p><u>導氣通瘀錠</u>（見巔頂骨傷）</p>
<p><u>人參紫金丹</u>（見山角骨傷）</p>
<p><u>八仙逍遙湯</u>（見玉梁骨傷）</p>

<h3>旋臺骨</h3>
<p>旋臺骨，又名玉柱骨，即頭後頸骨三節也，一名天柱骨。此骨被傷，共分四證：一曰從高墜下，致頸骨插入腔內，而左右尚活動者，用提項法治之；一曰打傷，頭低不起，用端法治之；一曰墜傷，左右歪斜，用整法治之；一曰僕傷，面仰頭不能垂，或筋長骨錯，或筋聚，或筋強骨隨頭低，用推、端、續、整四法治之。凡治者，臨證時問其或墜車馬踒傷，或高處墜下折傷，或打重跌倒，再問其或思飲食，或不思飲食，或四肢無傷，而精神不減，或精神短少，或能坐起行走，或昏睡不語，或疼痛不止，瘀聚凝結腫硬筋脹，皆宜內服正骨紫金丹，外敷萬靈膏，並洗海桐皮湯，灸熨定痛散。外按手法治之，手法詳首卷。</p>
<p><u>正骨紫金丹</u>　<u>萬靈膏</u>（俱見巔頂傷）</p>
<p><u>海桐皮湯</u>（見兩顴骨傷）</p>
<p><u>定痛散</u>（見兩山角骨傷）</p>
<figure>
<img data-orig-src="urn:270:04619.jpg" alt="背面圖">
</figure>

<h1>卷三</h1>

<h2>胸背部</h2>

<h3>鎖子骨</h3>
<p>鎖子骨，經名拄骨。橫臥於兩肩缺盆之外，其兩端外接肩解。擊打損傷，或騎馬乘車，因取物偏墜於地，斷傷此骨，用手法先按胸，再將肩端向內合之，揉摩斷骨令其復位，然後用帶掛臂於項，勿令搖動。內服人參紫金丹，外熨定痛散，再敷萬靈膏，其證可愈。</p>
<p><u>人參紫金</u>　<u>定痛散</u>（俱見山角骨傷）</p>
<p><u>萬靈膏</u>（見巔頂傷）</p>

<h3>胸骨（附：脅肋）</h3>
<figure>
<img data-orig-src="urn:270:04620.jpg" alt="胸骨圖">
</figure>
<p>胸肌即𩩲骭骨，乃胸脅眾骨之統名也。一名膺骨，一名臆骨，俗名胸膛。其兩側自腋而下，至肋骨之盡處，統名曰脅；脅下小肋骨名曰季脅，俗名軟肋；肋者，單條骨之謂也，統脅肋之總，又名曰胠。凡胸骨被物從前面撞打跌僕者重，從後面撞僕者輕。輕者先按證用手法治之，再內服正骨紫金丹，外用面麩和定痛散灸熨之，或以海桐皮湯洗之，貼萬靈膏即能獲效。若內血瘀聚腫痛，傴僂難仰者，早晨以清上瘀血湯、消下破血湯分上膈、下膈以治之，晚服疏血丸。有受傷日久，胸骨高起，肌肉削瘦，內有邪熱瘀血，痞氣膨悶，睛藍體倦，痰喘咳嗽者，宜加減紫金丹，以消熱化痰，理氣健脾，潤肌定喘。若傷重者，內干胸中，必通心、肺兩臟，其人氣亂昏迷，閉目，嘔吐血水，呃逆戰慄者，則危在旦夕，不可醫治矣。若兩側撅肋諸骨被傷者，則相其輕重以分別治之，凡胸脅諸傷輕者，如黎洞丸、三黃寶蠟丸等藥，皆所必需，宜酌用之。</p>
<p><u>清上瘀血湯</u>　治上膈被傷者。</p>
<p>羌活　獨活　連翹　桔梗　枳殼　赤芍　當歸（酒洗）　山梔子　黃芩　甘草　川芎　桃仁　紅花　蘇木　川大黃　生地黃</p>
<p>水煎，加老酒、童便和服。</p>
<p><u>消下破血湯</u>　治下膈被傷者。</p>
<p>柴胡　川芎　川大黃　赤芍藥　當歸　梔子　五靈脂　木通　枳實（炒）　紅花　赤牛膝　澤蘭葉　蘇木　生地黃　黃芩　桃仁</p>
<p>水煎，加老酒、童便和服。</p>
<p><u>加減紫金丹</u></p>
<p>白茯苓　蒼朮（米泔浸，炒，各二兩）　當歸　熟地黃　白芍藥（炒）　陳皮（各四兩）　肉蓯蓉（酒洗去鱗甲，一兩）　丁香（一錢）　紅花（五錢）　瓜兒血竭（三錢）　乳香（去油，三錢）　沒藥（去油，三錢）</p>
<p>共為細末，煉蜜為丸，彈子大，用黃酒送下。</p>
<p><u>黎洞丸</u>　治跌打損傷，瘀血奔心，昏暈不省，及一切無名腫毒，昏困欲死等證。</p>
<p>京牛黃　冰片　麝香（各二錢五分）　阿魏　雄黃（各一兩）　川大黃　兒茶　天竺黃　三七　瓜兒血竭　乳香（去油）　沒藥（去油，各二兩）　藤黃（隔湯煮十數次，去浮沫，用山羊血五錢拌曬。如無山羊血，以子羊血代之，二兩）</p>
<p>以上十三味，共為細末，將藤黃化開為丸，如芡實大。若干，稍加白蜜，外用蠟皮封固。內服用無灰酒送下，外敷用茶滷磨塗，忌一切生冷發物。</p>
<p><u>三黃寶蠟丸</u>　專治一切跌打損傷及破傷風，並傷力成癆，女人產後惡露不盡，致生怪證，瘀血奔心，痰迷心竅，危在旦夕。重者一錢，輕者三分，用無灰酒送下，立刻全生。如被鳥槍打傷，鉛子在內，危在頃刻，服一錢，吃酒數杯，睡一時，汗出即愈。如外敷，將香油熱化少許，雞翎掃患處。服藥後忌涼水、生冷、燒酒三日，如不忌此酒，則藥無功。</p>
<p>天竺黃（三兩）　雄黃（二兩）　劉寄奴　紅芽　大戟（去骨）　麒麟竭（各三兩）　歸尾（一兩五錢）　硃砂　兒茶（各一兩）　淨乳香（去油，三錢）　琥珀　輕粉　水銀（同輕粉研不見星）　麝香（各三錢）</p>
<p>以上各稱足分兩，各研為細末，如無真天竺黃，以真膽星三兩代之，再用好黃蠟二十四兩，煉淨，滾湯坐定，將藥投入，不住手攪勻，取出裝瓷罐內備用。</p>
<p><u>正骨紫金丹</u>　<u>萬靈膏</u>（俱見巔頂骨傷）</p>
<p><u>定痛散</u>（見山角骨傷）</p>
<p><u>疏血丸</u>（見凌雲骨傷）</p>

<h3>岐骨</h3>
<p>岐骨者，即兩鳧骨端相接之處，其下即鳩尾骨也。內近心君，最忌觸犯。或打僕，或馬撞，則血必壅瘀而多疼痛，輕者只在於膈上，重者必入心臟，致神昏目閉，不省人事，牙關緊閉，痰喘鼻煽，久而不醒，醒而神亂，此血瘀而堅凝不行者也，難以回生；如神不昏亂，僅瘀痛不止，胸滿氣促，默默不語，醒時猶能稍進飲食者，宜早晨服加減蘇子桃仁湯加枳殼，晚服疏血丸，外貼萬靈膏，再以炒熱定痛散熨之，庶可愈也。又凡周身骨之兩叉者，皆名岐骨，學者宜知之。</p>
<p><u>加減蘇子桃仁湯</u>（見巔頂骨傷）</p>
<p><u>疏血丸</u>（見凌雲骨傷）</p>
<p><u>萬靈膏</u>（見巔頂骨傷）</p>
<p><u>定痛散</u>（見山角骨傷）</p>

<h3>蔽心骨</h3>
<p>蔽心骨，即鳩尾骨也。其質系脆骨，在胸下岐骨之間。跌打撞振傷損，疼痛不止，兩脅氣串，滿腹疼痛，腰傴不起，兩手按胸者，宜內服八釐散，外用艾醋湯洗之，敷萬靈膏，渴飲淡黃酒。忌茶水、生冷、糠米粥。</p>
<p><u>八釐散、萬靈膏</u>（俱見巔頂骨傷）</p>

<h3>鳧骨</h3>
<p>鳧骨者，即胸下之邊肋也。上下二條，易被損傷，左右皆然。自此以上，有肘臂護之，難以著傷。在下近腹者，用手提之易治，蓋其肋近邊可以著手，則斷肋能復其位也，其人必低頭傴腰，痛苦呻吟，惟側臥不能仰臥，若立起五內皆痛，或頭迷神昏，飲食少進，宜內服正骨紫金丹，洗以八仙逍遙湯，貼萬靈膏及散瘀等藥可愈。若在上之第二肋，或有斷裂墊傷，塌陷不起，因位居膈上，難以入手，雖強為之，亦難完好，其所傷之血留於膈上，若不隨藥性開行，必結成包囊。其包輕者系黃水，硬者系血塊，則成痼疾矣。</p>
<p><u>正骨紫金丹</u>（見巔頂骨傷）</p>
<p><u>八仙逍遙湯</u>（見玉梁骨傷）</p>
<p><u>萬靈膏</u>（見巔頂骨傷）</p>

<h3>陰囊</h3>
<p>凡陰囊被人扯破者，用雞子黃油，並金毛狗脊毛，薄攤塗油於上，次敷封口藥；又用截血膏敷貼，或烏龍膏敷貼亦可。內服加減紫金丹，洗用紫蘇葉煎水洗之。</p>
<p>凡陰囊有青黑紫色腫者，用定痛膏加赤芍、草烏、良薑、肉桂各少許打和，用韭葉搗爛同貼。如無韭葉，用蔥葉亦可。仍服利小水之藥。</p>
<p><u>定痛膏</u>　治打僕傷損，動筋折骨，跌磕木石壓傷腫痛。</p>
<p>芙蓉葉（二兩）　紫荊皮　獨活　南星（生）　白芷（各五錢）</p>
<p>上共為末，加馬齒莧一兩，搗極爛，和末一處，用生蔥汁老酒和炒暖敷。</p>
<p><u>封口藥</u>（見鼻柱骨傷）</p>
<p><u>截血膏</u>（見唇口傷）</p>
<p><u>烏龍膏</u>（見凌雲骨傷）</p>
<p><u>加減紫金丹</u>（見胸骨傷）</p>

<h3>背骨</h3>
<figure>
<img data-orig-src="urn:270:04621.jpg" alt="背骨圖">
</figure>
<p>背者，自後身大椎骨以下，腰以上之通稱也。其骨一名脊骨，一名膂骨，俗呼脊梁骨。其形一條居中，共二十一節，下盡尻骨之端，上載兩肩，內系臟腑，其兩旁諸骨，附接橫疊，而彎合於前，則為胸脅也。先受風寒，後被跌打損傷者，瘀聚凝結，若脊筋隴起，骨縫必錯，則成傴僂之形。當先揉筋，令其和軟，再按其骨，徐徐合縫，背膂始直。內服正骨紫金丹，再敷定痛散，以燒紅鐵器烙之，覺熱去敷藥，再貼混元膏。</p>
<p><u>正骨紫金丹</u>　<u>混元膏</u>（俱見巔頂傷）</p>
<p><u>定痛散</u>（見山角骨傷）</p>

<h3>腰骨</h3>
<p>腰骨，即脊骨十四椎、十五椎、十六椎間骨也。若跌打損傷，瘀聚凝結，身必俯臥，若欲仰臥、側臥皆不能也，疼痛難忍，腰筋僵硬，宜手法：將兩旁脊筋向內歸附膂骨，治者立於高處將病人兩手高舉，則脊筋全舒，再令病人仰面昂胸，則膂骨正而患除矣。內服補筋丸，外貼萬靈膏，灸熨止痛散。</p>
<p><u>止痛散</u>　止痛消腫，活血通經，闢風驅寒。</p>
<p>防風　荊芥　當歸　蘄艾　牡丹皮　鶴蝨　升麻（各一錢）　苦參　鐵線透骨草　赤芍藥（各二錢）　川椒（三錢）　甘草（八分）</p>
<p>共用末，裝白布袋內，扎口煎滾熏洗。</p>
<p><u>補筋丸</u>（見髃骨傷）</p>
<p><u>萬靈膏</u>（見巔頂傷）</p>

<h3>尾骶骨</h3>
<p>尾骶骨，即尻骨也。其形上寬下窄，上承腰脊諸骨。兩旁各有四孔，名曰八髎。其末節名曰尾閭，一名骶端，一名橛骨，一名窮骨，俗名尾椿。若蹲墊壅腫，必連腰胯，內服正骨紫金丹，洗以海桐皮湯，貼萬靈膏。</p>
<p><u>正骨紫金丹</u>（見巔頂傷）</p>
<p><u>海桐皮湯</u>（見兩顴骨傷）</p>
<p><u>萬靈膏</u>（見巔頂骨傷）</p>
<p>（以上見背骨圖）</p>

<h2>四肢部</h2>

<h3>髃骨</h3>
<p>髃骨者，肩端之骨，即肩腫骨臼端之上稜骨也。其臼含納臑骨上端，其處名肩解，即肩䯋與臑骨合縫處也，俗名吞口，一名肩頭。其下附於脊背，成片如翅者，名肩胛，亦名肩髆，俗名鍁板子骨。以上若被跌傷，手必屈轉向後，骨縫裂開，不能抬舉，亦不能向前，惟扭於肋後而已，其氣血皆壅聚於肘，肘腫如椎，其腫不能過腕，兩手筋反脹，瘀血凝滯，如腫處痛如針刺不移者，其血必化而為膿，則腕掌皆涼，或麻木。若臑骨突出，宜將突出之骨向後推入合縫，再將臑筋向內撥轉，則臑肘臂腕皆得復其位矣。內服補筋丸，外貼萬靈膏，燙洗用海桐皮湯，或敷白膠香散，或金沸草汁塗之亦佳。</p>
<p><u>補筋丸</u>　此藥專治跌僕踒閃，筋翻筋攣，筋脹筋粗，筋聚骨錯，血脈壅滯，宜腫青紫疼痛等證。</p>
<p>五加皮　蛇床子　好沉香　丁香　川牛膝　白雲苓　白蓮蕊　肉蓯蓉　菟絲子　當歸（酒洗）　熟地黃　牡丹皮　宣木瓜（各一兩）　懷山藥（八錢）　人參　廣木香（各三錢）</p>
<p>共為細末，煉蜜為丸，彈子大，每丸重三錢，用好無灰酒送下。</p>
<p><u>加減補筋丸</u></p>
<p>當歸（一兩）　熟地黃　白芍藥（各二兩）　紅花</p>
<p>乳香　白雲苓　骨碎補（各一兩）　廣陳皮（二兩）　沒藥（三錢）　丁香（五錢）</p>
<p>共為細末，煉蜜為丸，彈子大，每丸重三錢，用好無灰酒送下。</p>
<p><u>白膠香散</u>　治皮破筋斷。</p>
<p>白膠香一味，為細末敷之。</p>
<p><u>又方：</u></p>
<p>金沸草根，搗汁塗筋封口，二七日便可相續止痛。一帖即愈，不用再塗。</p>
<p><u>萬靈膏</u>（見巔頂骨傷）</p>
<p><u>海桐皮湯</u>（見兩顴骨傷）</p>

<h3>臑骨</h3>
<p>臑骨，即肩下肘上之骨也。自肩下至手腕，一名肱，俗名胳膊，乃上身兩大支之通稱也，或墜車馬跌碎，或打斷，或斜裂，或截斷，或碎斷，打斷者有碎骨，跌斷者則無碎骨，壅腫疼痛，心神忙亂，遍體麻冷，皆用手法，循其上下前後之筋，令得調順，摩按其受傷骨縫，令得平正，再將小杉板周圍逼定，外用白布纏之，內服正骨紫金丹，外貼萬靈膏。如壅腫不消，外以散瘀和傷湯洗之。</p>
<p><u>正骨紫金丹</u>　<u>萬靈膏</u>　<u>散瘀和傷湯</u>（俱見巔頂骨傷）</p>

<h3>肘骨</h3>
<p>肘骨者，胳膊中節上、下支骨交接處也，俗名鵝鼻骨。若跌傷其肘尖向上突出，疼痛不止，汗出戰慄，用手法翻其臂骨，拖肘骨令其合縫。其斜彎之筋，以手推摩，令其平復，雖即時能垂能舉，仍當以養息為妙。若壅腫疼痛，宜內服正骨紫金丹，外貼萬靈膏</p>
<p><u>萬靈膏</u>　<u>正骨紫金丹</u>（俱見巔頂骨傷）</p>

<h3>臂骨</h3>
<p>臂骨者，自肘至腕有正輔二根，其在下而形體長大，連肘尖者為臂骨；其在上而形體短細者為輔骨，俗名纏骨。疊並相倚，俱下接於腕骨焉。凡臂骨受傷者，多因迎擊而斷也。或斷臂輔二骨，或惟斷一骨，瘀血凝結疼痛，以手法接對端正，貼萬靈膏，竹簾裹之，加以布條紮緊。三日後開簾視之，以手指按其患處，或仍有未平，再揉摩其瘀結之盤，令復其舊，換貼膏藥，仍以竹簾裹之，每日清晨服正骨紫金丹。</p>
<p><u>萬靈膏</u>　<u>正骨紫金丹</u>（俱見巔頂骨傷）</p>

<h3>腕骨</h3>
<p>腕骨，即掌骨乃五指之本節也，一名壅骨，俗名虎骨。其骨大小六枚，湊以成掌，非塊然一肌也。基上並接臂輔兩骨之端，其外側之骨名高骨，一名銳骨，亦名踝骨，俗名龍骨，以其能宛屈上下，故名曰腕。若墜車馬，手掌著地，只能傷腕；若手指著地，其指翻貼於臂上者，則腕縫必分開。傷腕者，壅腫疼痛，法以兩手揉摩其腕，內服正骨紫金丹，外貼萬靈膏；若手背向後翻貼於臂者，以兩手促其手背，輕輕回翻之，令復其位，仍按摩其筋，必令調順，內服人參紫金丹，外敷混元膏。</p>
<p><u>正骨紫金丹</u>　<u>萬靈膏</u>　<u>混元膏</u>（俱見巔頂骨傷）</p>
<p><u>人參紫金丹</u>（見山角骨傷）</p>

<h3>五指骨</h3>
<p>五指之骨，名錘骨，即各指本節之名也。若被打折，五指皆同，株連腫痛，因其筋皆相連也。手掌與背，其外體雖混一不分，而其骨在內，乃各指之本節相連而成者也。若手背與手心，皆堅硬壅腫熱痛，必正其骨節，則無後患。若不即時調治，其所壅之血，後必化而為膿。氣盛者，服瘡毒之劑，調治可愈；氣虛者，將來成漏矣。洗以散瘀和傷湯，貼萬靈膏。</p>
<p><u>散瘀和血湯</u>　<u>萬靈膏</u>（俱見巔頂骨傷）</p>
<figure>
<img data-orig-src="urn:270:04622.jpg" alt="四肢圖">
</figure>

<h3>竹節骨</h3>
<p>竹節骨，即各指次節之名也。跌打損傷，骨碎筋彎，指不能伸，以手捻其屈節，則指必舒直，洗以散瘀和傷湯，貼以萬靈膏。如指甲縫蓄積毒血，其甲必脫落，若再生指甲，其形多不如舊。若第三節有傷，治同次節，其指甲名爪甲。</p>
<p><u>散瘀和傷湯</u>　<u>萬靈膏</u>（俱見巔頂骨傷）</p>

<h3>胯骨</h3>
<p>胯骨，即髖骨也，又名髁骨。若素受風寒濕氣，再遇跌打損傷，瘀血凝結，腫硬筋翻，足不能直行，筋短者，腳尖著地，骨錯者，臀努斜行。宜手法推按胯骨復位，將所翻之筋向前歸之，其患乃除。宜服加味健步虎潛丸，熏洗海桐皮湯，灸熨定痛散。</p>
<p><u>加味健步虎潛丸</u>　專治跌打損傷，氣血虛衰，下部腰、胯、膝、腿疼痛，痠軟無力，步履艱難。服此藥至一百日，舒筋止痛，活血補氣，健旺精神。</p>
<p>龜膠（蛤粉炒成珠）　鹿角膠（蛤粉炒成珠）　虎脛骨（酥油炙）　何首烏（黑豆拌，蒸曬各九次）　川牛膝（酒洗曬乾）　杜仲（薑汁炒斷絲）　鎖陽　當歸（酒洗炒乾，各二兩）　威靈仙（酒洗）　黃柏（酒洗曬乾，小鹽少許酒炒）　人參（去蘆）　羌活　乾薑　白芍藥（微炒）　云白朮（土炒，各一兩）　熟地黃（三兩）　大川附子（童便鹽水各一碗，生薑二兩；切片同煮一整日，令極熟，水乾再添，鹽水煮畢取出，剝皮切薄片，又換淨水，入川黃連五錢，甘草五錢，同煮長香三炷，取出曬乾，如琥珀明亮色方用，一兩五錢）</p>
<p>共為細末，煉蜜為丸，如梧桐子大，每服三錢，空心淡鹽湯送下。冬日淡黃酒送下。</p>
<p><u>海桐皮湯</u>（見兩顴骨傷）</p>
<p><u>定痛散</u>（見山角骨傷）</p>

<h3>環跳</h3>
<p>環跳者，髖骨外向之凹，其形似臼，以納髀骨之上端如杵者也，名曰機，又名髀樞，即環跳穴處也。或因跌打損傷，或踒墊掛鐙，以致樞機錯努，青紫腫痛，不能步履，或行止欹側艱難。宜先服正骨紫金丹，洗以海桐皮湯，貼萬靈膏，常服健步虎潛丸。</p>
<p><u>正骨紫金丹</u>（見巔頂骨傷）</p>
<p><u>萬靈膏</u>（見巔頂骨傷）</p>
<p><u>海桐皮湯</u>（見兩顴骨傷）</p>
<p><u>虎潛丸</u>（見髖骨傷）</p>

<h3>大楗骨</h3>
<p>一名髀骨，上端如杵，入於髀樞之臼，下端如錘，接於䯒骨，統名曰股，乃下身兩大支之通稱也，俗名大腿骨。墜馬擰傷，骨碎筋腫，黑紫清涼，外起白泡，乃因骨碎氣泄，此證治之鮮效。如人年少氣血充足者，雖形證腫痛而不昏沉，無白泡者可治。法以兩手按摩碎骨，推拿復位，再以指頂按其傷處，無錯落之骨，用竹簾裹之，每日早服正骨紫金丹。俟三日後，開簾視之，若有不平處，再捻筋結令其舒平，貼萬靈膏，仍以竹簾裹之。</p>
<p><u>正骨紫金丹</u>（見巔頂骨傷）</p>
<p><u>萬靈膏</u>（見巔頂骨傷）</p>

<h3>膝蓋骨</h3>
<p>膝蓋骨即連骸，亦名臏骨。形圓而扁，覆於楗䯒上下兩骨之端，內面有筋聯屬。其筋上過大腿，至於兩脅，下過胻骨，至於足背。如有跌打損傷，膝蓋上移者，其筋即腫大，株連於膕內之筋，膕內之筋，上連腰胯，故每有腰屈疼痛之證，或下移胻骨則焮腫，或足腹冷硬，步履後拽斜行也。若膝蓋離位向外側者，則內筋腫大；向內側者，則筋直膕腫。宜詳視其骨如何斜錯，按法推拿，以復其位。內服補筋丸，以定痛散灸熨之，熏八仙逍遙湯則愈。</p>
<p><u>補筋丸</u>　（見髃骨傷）</p>
<p><u>定痛散</u>（見山角骨傷）</p>
<p><u>八仙逍遙湯</u>（見玉梁骨傷）</p>

<h3>胻骨</h3>
<p>胻骨，即膝下踝上之小腿骨，俗名臁脛骨者也。其骨二根，在前者名成骨，又名骭骨，其形粗；在後者名輔骨，其形細，又俗名勞堂骨。若被跌打損傷，其骨尖斜突外出，肉破血流不止，疼痛呻吟聲細，飲食少進，若其人更氣血素弱，必致危亡。宜用手法，按筋正骨令復其位，貼萬靈膏，以竹簾裹住，再以白布纏之，先服正骨紫金丹，繼服健步虎潛丸。</p>
<p><u>萬靈膏</u>　<u>正骨紫金丹</u>（俱見巔頂骨傷）</p>
<p><u>健步虎潛丸</u>（見髖骨傷）</p>

<h3>踝骨</h3>
<p>踝骨者，胻骨之下，足跗之上，兩旁突出之高骨也。在內者名內踝，俗名合骨；在外者為外踝，俗名核骨。或馳馬墜傷，或行走錯誤，則後跟骨向前，腳尖向後，筋翻肉腫，疼痛不止。先用手法撥筋正骨，令其復位，再用竹板夾定跟骨，縛於胻骨之上。三日後解縛視之，以枕支於足後，用手扶筋，再以手指點按其筋結之處，必令端平。內服正骨紫金丹，灸熨以定痛散，洗以海桐皮湯，常服健步虎潛丸。若稍愈後，遽行勞動，致胻骨之端，向里歪者，則內踝突出腫大；向外歪者，則外踝突出腫大，血脈瘀聚凝結，步履無力，足底欹斜，頗費調治。故必待氣血通暢全復，始可行動。</p>
<p><u>正骨紫金丹</u>（見巔頂骨傷）</p>
<p><u>定痛散</u>（見山角骨傷）</p>
<p><u>海桐皮</u>（見兩顴骨傷）</p>
<p><u>健步虎潛丸</u>（見髖骨傷）</p>

<h3>跗骨</h3>
<p>跗者足背也，一名足趺，俗稱腳面，其骨乃足趾本節之骨也。其受傷之因不一，或從隕墜，或被重物擊壓，或被車馬踹砑，若僅傷筋肉，尚屬易治；若骨體受傷，每多難治。先以手法輕輕搓摩，令其骨合筋舒，洗以海桐皮、八仙逍遙等湯，貼以萬靈膏，內服舒筋定痛之劑，及健步虎潛丸、補筋丸。</p>
<p><u>海桐皮湯</u>（見山角骨傷）</p>
<p><u>八仙逍遙湯</u>（見玉梁骨傷）</p>
<p><u>健步虎潛丸</u>（見髖骨傷）</p>
<p><u>補筋丸</u>（見髃骨傷）</p>

<h3>足五趾骨</h3>
<p>趾者，足之指也。名以趾者，所以別於手也，俗名足節。其節數與手之骨節同，大指本節後內側圓骨努突者，一名核骨，又名覈骨，俗呼為孤拐也。趾骨受傷，多與跗骨相同，惟奔走急迫，因而受傷者多，治法與跗骨同。</p>

<h3>跟骨</h3>
<p>跟骨者，足後跟骨也，上承胻輔二骨之末，有大筋附之，俗名腳攣筋，其筋從跟骨過踝骨，至腿肚裡，上至膕中，過臀抵腰脊至頂，自腦後向前至目眥，皆此筋之所達也。若落馬墜蹬等傷，以至跟骨擰轉向前，足趾向後，即或骨未碎破而縫隙分離，自足至腰脊諸筋，皆失其常度，拳攣疼痛，宜撥轉如舊，藥餌調治，皆同前法。</p>
<p>【按】正骨紫金丹、混元膏、散瘀和傷湯、海桐皮湯、萬靈膏諸藥，皆內庭常用經驗之方，故以上諸證，多引用之。其或跌打損傷證中，而又兼他病者，則不止此數藥也。故採前人舊載諸方，集於末卷，以示證治之法，有不可狹隘者焉。</p>
<figure>
<img data-orig-src="urn:270:04623.jpg" alt="四肢圖">
</figure>

<h1>卷四</h1>

<h2>內治雜證法</h2>

<h3>方法總論</h3>
<p>今之正骨科，即古跌打損傷之證也。專從血論，須先辨或有瘀血停積，或為亡血過多，然後施以內治之法，庶不有誤也。夫皮不破而內損者，多有瘀血；破肉傷䐃，每致亡血過多。二者治法不同。有瘀血者，宜攻利之；亡血者，宜補而行之。但出血不多，亦無瘀血者，以外治之法治之，更察其所傷上下輕重淺深之異，經絡氣血多少之殊，必先逐去瘀血，和榮止痛，然後調養氣血，自無不效。若夫損傷雜證論中不及備載者，俱分門析類詳列於後，學者宜盡心焉。</p>

<h3>傷損內證</h3>
<p>凡跌打損傷、墜墮之證，惡血留內，則不分何經，皆以肝為主。蓋肝主血也，故敗血凝滯，從其所屬必歸於肝，其痛多在脅肋小腹者，皆肝經之道路也。若壅腫痛甚或發熱自汗，皆宜斟酌虛實，然後用調血行經之藥。王好古云：登高墜下撞打等傷，心腹胸中停積瘀血不散者，則以上、中、下三焦分別部位，以施藥餌。瘀在上部者，宜犀角地黃湯；瘀在中部者，宜桃仁承氣湯；瘀在下部者，宜抵當湯之類。須於所用湯中加童便好酒，同煎服之。虛人不可下者，宜四物湯加穿山甲。若瘀血已去，則以復元通氣散加當歸調之。《內經》云：形傷作痛，氣傷作腫。又云：先腫而後痛者，形傷氣也；先痛而後腫者，氣傷形也。凡打僕閃錯，或惱怒氣滯血凝作痛，及元氣素弱，或因叫號血氣損傷，或過服克伐之劑，或外敷寒涼之藥，致氣血凝結者，俱宜用活血順氣之劑。後列諸方，以備選用。</p>
<p><u>犀角地黃湯</u></p>
<p>犀角　生地黃（酒浸，另搗）　丹皮　白芍（各等分）</p>
<p>水煎服。</p>
<p><u>桃仁承氣湯</u></p>
<p>大黃　芒硝　桃仁　桂枝　甘草</p>
<p>水煎服，以利為度。</p>
<p><u>抵當湯</u></p>
<p>水蛭　虻蟲（去翅、足，各三十枚）　大黃（酒浸，三兩）　桃仁（去皮、尖，三十枚）</p>
<p>水煎，去渣，取三升，溫服一升，不下再服。</p>
<p><u>復元活血湯</u></p>
<p>柴胡（五錢）　當歸　穿山甲（炮）　栝蔞根（各三錢）　甘草　紅花（各二錢）　桃仁（去皮、尖，五十個）　大黃（酒浸，一兩）</p>
<p>上將桃仁研爛，余藥銼，如麻豆大，每服一兩。水二盅，酒半盞，煎至七分，去渣，大溫，食前服，以利為度。</p>
<p><u>巴戟湯</u></p>
<p>巴戟（去心）　大黃（各半兩）　當歸　地黃　芍藥　川芎（各一兩）</p>
<p>上為末，水煎服，以利為度。</p>
<p><u>破血消痛湯</u></p>
<p>羌活　防風　官桂（各一錢）　蘇木（一錢半）　柴胡　連翹　當歸梢（各二錢）　麝香（另研，少許）　水蛭（炒去煙盡，另研，二錢）</p>
<p>上為粗末，共一服，酒二大盞，水一盞，水蛭、麝香另研如泥，余藥煎至一大盞，去火，稍熱，調二味服之，兩服立愈。</p>
<p><u>清心藥</u></p>
<p>牡丹皮　當歸　川芎　赤芍藥　生地黃　黃芩　黃連　連翹　梔子　桃仁　甘草（各等分）</p>
<p>上引用燈心草、薄荷煎，入童便和服。</p>
<p><u>止痛藥</u></p>
<p>當歸　牛膝　川芎　懷慶生地　赤芍藥　白芷　羌活　獨活　杜仲　續斷（各一兩）　肉桂　八角茴香　乳香　沒藥（各五錢）　南木香　丁皮　沉香　血竭（各二錢半）</p>
<p>上為末，老酒調用。</p>
<p><u>活血順氣何首烏散</u></p>
<p>何首烏（三錢）　當歸　赤芍藥　白芷　烏藥　枳殼　防風　甘草　川芎　陳皮　香附　紫蘇　羌活　獨活　肉桂（各一錢）</p>
<p>上薄荷、生地黃煎，入酒和服。疼痛甚者，加乳香、沒藥。</p>
<p><u>調經散</u></p>
<p>川芎　當歸　芍藥　黃耆（各一錢半）　青皮　烏藥　陳皮　熟地黃　乳香（各一錢）</p>
<p>上作一服，水二盅，煎至一盅，不拘時服。</p>
<p><u>牡丹皮散</u></p>
<p>牡丹皮　當歸　骨碎補　紅花（酒浸）　續斷　乳香　沒藥　桃仁　川芎　赤芍藥　生地黃（各等分）</p>
<p>上水酒煎服，卻用秫米飯熱罨縛，冷又蒸熱，換縛。</p>
<p><u>橘術四物湯</u></p>
<p>當歸　川芎　白芍藥　懷慶生地（各二錢）　陳皮　白朮　紅花（各一錢）　桃仁（十枚）</p>
<p>上生地黃煎服。骨節疼，加羌活、獨活。痛不止，加乳香、沒藥。</p>
<p><u>當歸補血湯</u></p>
<p>當歸　川芎　白芍藥　熟地黃　防風　連翹　羌活　獨活　乳香　沒藥　白芷　續斷　杜仲（各等分）</p>
<p>上生地黃煎，入童便和服，不可用酒。氣虛，加人參、白朮、黃耆。</p>
<p><u>復元通氣散</u></p>
<p>木香　茴香（炒）　青皮（去皮）　穿山甲（酥炙）　陳皮　白芷　甘草　漏蘆　貝母（各等分）</p>
<p>上為末，每服一二錢，溫酒調下。</p>

<h3>傷損出血</h3>
<p>傷損之證，或患處或諸竅出血者，此肝火熾盛，血熱錯經而妄行也，用加味逍遙散清熱養血。若中氣虛弱，血無所附而妄行，用加味四君子湯、補中益氣湯。或元氣內脫不能攝血，用獨參湯加炮姜以回陽；如不應，急加附子。如血蘊於內而嘔血者，用四物湯加柴胡、黃芩。凡傷損而犯勞碌，或怒氣肚腹脹悶，或過服寒毒等藥致傷陽絡者，則為吐血、衄血、便血、尿血；傷於陰絡者，則為血積、血塊、肌肉青黑，此皆臟腑虧損，經隧失職，急補脾、肺二臟自愈矣。</p>
<p><u>加味逍遙散</u></p>
<p>白朮　茯苓　當歸　白芍（各二錢）　柴胡（一錢）　薄荷（五分）　黑梔　丹皮（各一錢五分）</p>
<p>水煎服。</p>
<p><u>補中益氣湯</u></p>
<p>人參（二錢）　黃耆（炙，二錢）　白朮（炒，一錢五分）　當歸（一錢五分）　升麻（五分）　柴胡（五分）　陳皮（八分）　甘草（炙，三分）</p>
<p>引用薑、棗，水煎服。</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓（各二錢）　甘草（炙，一錢）</p>
<p>引用薑、棗，水煎服。</p>
<p><u>四物湯</u></p>
<p>當歸（三錢）　川芎　白芍藥（二錢）　熟地黃（三錢）</p>
<p>水煎服。</p>
<p><u>獨參湯</u></p>
<p>人參（一兩）</p>
<p>水煎服。</p>

<h3>瘀血泛注</h3>
<p>傷損瘀血泛注之證，乃跌僕血滯所致。蓋氣流而注，血注而凝，或注於四肢關節，或留於胸腹腰臀，或漫腫，或結塊，初起皆屬肝、脾鬱火。急用蔥熨法，內服小柴胡湯以清肝火，次用八珍湯以壯脾胃，或益氣養榮湯，久服自然收功。若日久潰破而氣血虛者，宜十全大補湯；若潰而寒邪凝滯不斂者，宜豆豉餅祛散之。此證若不補氣血，不慎起居，不戒七情，或用寒涼克伐，俱屬不治。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（二錢）　黃芩（一錢五分）　半夏（制）　人參（各一錢）　甘草（炙，五分）</p>
<p>引用姜二片，水煎服。</p>
<p><u>八珍湯</u></p>
<p>即四君子湯四物湯，相和為劑也。</p>
<p><u>益氣養榮湯</u></p>
<p>人參　黃耆（炒）　當歸　川芎　熟地黃　白芍（炒）　香附　貝母　茯苓　陳皮（各一錢）　白朮（二錢）　柴胡（六分）　甘草　桔梗（各五分）</p>
<p>引用姜，水煎服。口乾，加五味子、麥冬。往來寒熱，加青皮。</p>
<p><u>十全大補湯</u></p>
<p>即八珍湯加黃耆、肉桂各一錢。</p>
<p><u>豆豉餅</u></p>
<p>江西豆豉</p>
<p>上一味為末，唾津和作餅子，如錢大，厚二分，置患處，以艾壯於餅上灸之，干則再易。</p>
<p><u>蔥熨法</u>（方見囟骨傷）</p>

<h3>瘀血作痛</h3>
<p>傷損之證腫痛者，乃瘀血凝結作痛也。若脹而重墜，色或青黑，甚則發熱作渴汗出者，乃經絡壅滯，陰血受傷也。宜先刺去惡血以通壅塞，後用四物湯以調之。</p>
<p><u>四物湯</u>（方見傷損出血）</p>

<h3>血虛作痛</h3>
<p>傷損之證血虛作痛者，其證則發熱作渴，煩悶頭暈，日晡益甚，此陰虛內熱之證。宜八珍湯加丹皮、麥冬、五味子、肉桂、骨碎補治之。</p>
<p><u>八珍湯</u>（方見瘀血泛注）</p>

<h3>嘔吐黑血</h3>
<p>傷損嘔吐黑血者，始因打僕傷損，敗血流入胃脘，色黑如豆汁，從嘔吐而出也。形氣實者，用百合散；形氣虛者，加味芎藭湯。</p>
<p><u>百合散</u></p>
<p>川芎　赤芍藥　當歸　百合　生地　側柏葉　荊芥　犀角　丹皮　黃芩　黃連　梔子　鬱金　大黃（各一錢）</p>
<p>水煎，加童便和服。</p>
<p><u>加味芎藭湯</u></p>
<p>芎藭　當歸　白朮　百合（水浸一日）　荊芥（各一錢）</p>
<p>水一盅半，酒半盅，煎八分，不拘時服。</p>

<h3>發熱</h3>
<p>傷損之發熱者，若因出血過多，脈洪大而虛，重按之全無者，此血虛發熱也，用當歸補血湯；脈若沉微，按之軟弱者，此陰盛發熱也，宜用四君子湯加炮薑、附子；若發熱煩躁，肉瞤筋惕者，此亡血也，宜用聖愈湯；如發熱汗出不止者，此血脫也，宜用獨參湯。血脫之證，其脈實者難治，細小者易治。</p>
<p><u>當歸補血湯</u></p>
<p>黃耆（炙，一兩）　當歸（三錢）　</p>
<p>水煎服。</p>
<p><u>聖愈湯</u></p>
<p>人參　川芎　當歸　熟地黃　生地　黃耆（炙，各等分）</p>
<p>水煎服。</p>
<p><u>四君子湯</u>　<u>獨參湯</u>（俱見傷損出血）</p>

<h3>肌肉作痛</h3>
<p>傷損之證，肌肉作痛者，乃榮衛氣滯所致，宜用復元通氣散；筋骨間作痛者，肝腎之氣傷也，用六味地黃丸。</p>
<p><u>六味地黃丸</u></p>
<p>熟地黃（八兩）　山萸肉（去核，四兩）　懷山藥（四兩）　牡丹皮（三兩）　澤瀉（三兩）　茯苓（三兩）</p>
<p>共為末，煉蜜丸桐子大，空心，白湯服三錢。</p>
<p><u>復元通氣散</u>（方見傷損內證）</p>

<h3>骨傷作痛</h3>
<p>傷損之證，骨傷作痛者，乃傷之輕者也。若傷重，則或折、或碎，須用手法調治之，其法已詳列前篇。此乃磕蹦微傷，骨間作痛，肉色不變，宜外用蔥熨法，內服沒藥丸，日間服地黃丸自愈矣。</p>
<p><u>沒藥丸</u></p>
<p>沒藥（去油）　乳香（去油）　川芎　川椒（去閉口及目）　芍藥　當歸（各半兩）　自然銅（火煅淬七次，二錢半）</p>
<p>上為細末，用黃蠟二兩熔化，入藥末攪勻，丸彈子大，每服一丸，酒一盅化開，煎五分熱服。</p>
<p><u>蔥熨法</u>（方見囟骨傷）</p>
<p><u>地黃丸</u>（方見肌肉作痛）</p>

<h3>胸腹痛悶</h3>
<p>傷損之證，胸腹痛悶者，多因跳躍捶胸，閃挫舉重，勞役恚怒所致。其胸腹喜手摸者，肝火傷脾也，用四君子湯加柴胡、山梔；如畏手摸者，肝經血滯也，用四物湯加柴胡、山梔、桃仁、紅花；若胸脅悶痛，發熱晡熱，肝經血傷也，用加味逍遙散；若胸脅悶痛，飲食少思，肝脾氣傷也，用四君子湯加芎、歸、柴、梔、丹皮；若胸腹脹滿，飲食少思，肝脾氣滯也，用六君子湯加柴胡、芎、歸；若胸腹不利，食少無寐，脾氣鬱結也，用加味歸脾湯；若痰氣不利，脾肺氣滯也，用二陳湯加白朮、芎、歸、山梔、大麻、鉤藤鉤。如因過用風熱之藥，致肝血受傷，肝火益甚，或飲糖酒則腎水益虛，脾火益熾，若用大黃、芍藥內傷陰絡，反致下血。少壯者，必成痼疾；老弱者，多致不起。</p>
<p><u>加味歸脾湯</u></p>
<p>黑梔（一錢）　牡丹皮（一錢）　人參（一錢）　黃耆（炙，一錢五分）　白朮（炒，一錢五分）　茯神（二錢）　棗仁（炒，一錢五分）　當歸（一錢）　木香（五分）　遠志（去心，八分）　圓肉（二錢）　甘草（炙，五分）</p>
<p>引用薑、棗，水煎服。</p>
<p><u>二陳湯</u></p>
<p>陳皮（一錢五分）　半夏（制，二錢）　茯苓（二錢）　甘草（五分）</p>
<p>引用姜，水煎服。</p>
<p><u>六君子湯</u></p>
<p>即四君子湯加陳皮、半夏各一錢五分。</p>
<p>引用薑、棗，水煎服。</p>
<p><u>四君子湯</u>　<u>四物湯</u>　<u>加味逍遙湯</u>（俱見傷損出血）</p>

<h3>脅肋脹痛</h3>
<p>傷損脅肋脹痛之證，如大便通和，喘咳吐痰者，肝火侮肺也，用小柴胡湯加青皮、山梔清之；若胸腹脹痛，大便不通，喘咳吐血者，乃瘀血停滯也，用當歸導滯散通之。《內經》云：肝藏血，脾統血，蓋肝屬木，木勝侮土，其脾氣必虛。宜先清肝養血，則瘀血不致凝滯，次壯脾胃，則氣血充盛。若行克伐，則虛者益虛，滯者益滯，禍不旋踵矣。</p>
<p><u>當歸導滯散</u></p>
<p>川大黃（一兩）　當歸（二錢五分）　麝香（少許）</p>
<p>上三味，除麝香另研外，為極細末，後入麝香令勻，每服三錢，熱酒一杯調下。</p>
<p><u>又方</u></p>
<p>川大黃　當歸（各二兩）</p>
<p>上共為細末，每服三錢，不拘時，溫酒調服。</p>
<p><u>小柴胡湯</u>　（方見瘀血泛注）</p>

<h3>腹痛</h3>
<p>傷損腹痛之證，如大便不通，按之痛甚者，瘀血在內也，用加味承氣湯下之；既下而痛不止，按之仍痛，瘀血未盡也，用加味四物湯補而行之；若腹痛按之反不痛者，血氣傷也，用四物湯加參、耆、白朮，補而和之；若下而胸脅反痛，肝血傷也，用四君子湯加芎、歸補之；既下而發熱，陰血傷也，用四物湯加參朮補之；既下而惡寒，陽氣傷也，用十全大補湯補之；既下而惡寒發熱者，氣血傷也，用八珍湯補之；下而欲嘔者，胃氣傷也，用六君子湯加當歸補之；下而泄瀉者，脾腎傷也，用六君子湯加肉果、補骨脂補之；若下後手足俱冷，昏憒出汗，陽氣虛寒也，急用參附湯；若吐瀉而手足俱冷，指甲青者，脾腎虛寒之甚也，急用大劑參附湯；口噤、手撒、遺尿、痰盛、唇青體冷者，虛極之壞證也，急用大劑參附湯，多有得生者。</p>
<p><u>加味承氣湯</u></p>
<p>大黃　朴硝（各二錢）　枳實　厚朴　當歸　紅花（各一錢）　甘草（五分）</p>
<p>水酒各半，煎服。</p>
<p><u>參附湯</u></p>
<p>人參（或五錢或一兩）　製附子（或三錢或五錢）</p>
<p>引用姜，水煎服。</p>
<p><u>四君子湯</u>　<u>四物湯</u>（俱見傷損出血）</p>
<p><u>六君子湯</u>（方見胸腹痛悶）</p>
<p><u>八珍湯</u>　<u>十全大補湯</u>（俱見瘀血泛注）</p>

<h3>少腹引陰莖作痛</h3>
<p>傷損而少腹引陰莖作痛者，乃瘀血不行，兼肝經鬱火所致。宜用小柴胡湯加大黃、黃連、山梔服之。待痛勢已定，再用養血之劑，自無不愈矣。此病若誤認為寒證而投以熱藥，重則必危，輕則損目，治者宜慎之。</p>
<p>小柴胡湯（方見瘀血泛注）</p>

<h3>腰痛</h3>
<p>傷損腰痛、脊痛之證，或因墜墮，或因打僕，瘀血留於太陽經中所致，宜地龍散治之。</p>
<p><u>地龍散</u></p>
<p>地龍　官桂　蘇木（各九分）　麻黃（七分）　黃柏　當歸尾（各二錢五分）　桃仁（九個）　甘草（三錢五分）</p>
<p>上水煎，食前服。</p>

<h3>眩暈</h3>
<p>傷損之證，頭目眩暈，有因服克伐之劑太過，中氣受傷，以致眩暈者；有因亡血過多，以致眩暈者。如兼腹脹嘔吐，宜用六君子湯，兼發熱作渴不思飲食者，宜十全大補湯。</p>
<p><u>六君子湯</u>（方見胸腹痛悶）</p>
<p><u>十全大補湯</u>（方見瘀血泛注）</p>

<h3>煩躁</h3>
<p>傷損之證，煩躁而面赤口乾作渴，脈洪大按之如無者，宜用當歸補血湯；如煩躁自汗頭暈，宜用獨參湯；如煩躁不寐，宜用加味歸脾湯；如煩躁脅痛，宜用柴胡四物湯；如亡血過多煩躁者，宜用聖愈湯。</p>
<p><u>加味歸脾湯</u>（方見胸腹痛悶）</p>
<p><u>當歸補血湯</u>　<u>聖愈湯</u>（俱見發熱）</p>
<p><u>柴胡四物湯</u>　（即四物湯加柴胡、黃芩。方見傷損出血。）</p>
<p><u>獨參湯</u>（方見傷損出血）</p>

<h3>喘咳</h3>
<p>傷損之證而喘咳者，若因出血過多，面黑胸脹，胸膈痛而發喘者，乃氣虛血乘於肺也，急用二味參蘇飲，緩則難救。若咳血衄血而喘者，乃氣逆血蘊於肺也，只宜活血行氣，不可用下法，宜十味參蘇飲治之。</p>
<p><u>二味參蘇飲</u></p>
<p>人參（一兩）　蘇木（二兩）</p>
<p>水煎服。</p>
<p><u>十味參蘇飲</u></p>
<p>人參　紫蘇　半夏　茯苓　陳皮　桔梗　前胡　葛根　枳殼（各一錢）　甘草（五分）</p>
<p>引用姜二片，水煎服。</p>

<h3>昏憒</h3>
<p>傷損昏憒乃傷之至重，以致昏憒不知人事，宜急灌以獨參湯。雖內有瘀血，斷不可下，急用花蕊石散內化之；蓋恐下之，因瀉而亡陰也。若元氣虛甚者，尤不可下，亦用前散以化之。凡瘀血在內，大便不通，用大黃、朴硝；血凝而不下者，須用木香、肉桂二三錢，以熱酒調灌服之，血下乃生，怯弱之人，用硝、黃而必加木香、肉桂同煎者，乃假其熱以行其寒也。</p>
<p><u>花蕊石散</u></p>
<p>石硫黃（四兩）　花蕊石（二兩）</p>
<p>上二味合勻，用瓦罐一個，入藥在內，封口，外用紙筋鹽泥周圍固濟，候泥干，安四方磚上，書八卦五行字，用炭十斤籠疊周匝，自午時，從下著火漸漸上徹，直至經宿炭盡火冷，又放經宿，罐冷取出研細，用絹羅羅過，瓷盒收貯。每服三錢，以童便調服。</p>

<h3>作嘔</h3>
<p>傷損作嘔，若因痛甚，或因克伐而傷胃者，宜四君子湯加當歸、半夏、生薑；因忿怒而肝傷者，用小柴胡湯加山梔、茯苓；因痰火盛者，用二陳湯加姜炒黃連、山梔；因胃氣虛者，用補中益氣湯加生薑、半夏；因出血過多者，用六君子湯加當歸。</p>
<p><u>四君子湯</u>　<u>補中益氣湯</u>（俱見傷損出血）</p>
<p><u>小柴胡湯</u>　（方見瘀血泛注）</p>
<p><u>二陳湯</u>　<u>六君子湯</u>（俱見胸腹痛悶）</p>

<h3>作渴</h3>
<p>傷損作渴，若因亡血過多者，用四物湯加人參、白朮，如不應，用人參、黃耆以補氣，當歸、熟地以補血，或用八珍湯。若胃熱傷津液者，用竹葉黃耆湯；如胃虛津液不足，用補中益氣湯；如胃火熾盛，用竹葉石膏湯；若煩熱作渴、小便淋澀，乃腎經虛熱，非地黃丸不能救。</p>
<p><u>竹葉黃耆湯</u></p>
<p>淡竹葉（二錢）　人參　黃耆　生地黃　當歸　川芎　麥冬　芍藥　甘草　石膏（煅）　黃芩（炒）　半夏（各一錢）</p>
<p>水煎服。</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉（三把）　石膏（一斤）　人參（三兩）　甘草（炙，二兩）　麥冬（一升）　半夏（半升）　粳米（半升）</p>
<p>引用生薑，水煎服。</p>
<p><u>四物湯</u>　<u>補中益氣湯</u>（俱見傷損出血）</p>
<p><u>八珍湯</u>（方見瘀血泛注）</p>
<p><u>六味地黃丸</u>（方見肌肉作痛）</p>

<h3>秘結</h3>
<p>傷損之證，大便秘結，若因大腸血虛火熾者，用四物湯送潤腸丸，或以豬膽汁導之。若腎虛火燥者，用六味地黃丸；若腸胃氣虛，用補中益氣湯；若大便秘結，裡實氣壯，腹痛堅硬者，用玉燭散。</p>
<p><u>潤腸丸</u></p>
<p>大黃　當歸尾　羌活（各五錢）　桃仁　麻仁（各一兩）</p>
<p>上為末，煉蜜丸彈子大，空心，白湯送下。</p>
<p><u>豬膽汁導法</u></p>
<p>大豬膽一枚，瀉汁和法醋少許，以灌穀道內，如一時頃，當大便，出宿食惡物甚效。</p>
<p><u>玉燭散</u></p>
<p>生地黃　當歸　川芎　赤芍藥　大黃（酒浸）　芒硝</p>
<p>引用生薑，水煎服。</p>
<p><u>四物湯</u>　<u>補中益氣湯</u>（俱見傷損出血）</p>
<p><u>六味地黃丸</u>（方見肌肉作痛）</p>

<h3>挾表</h3>
<p>傷損之外挾表邪者，其脈必浮緊，證則發熱體痛。形氣實者，宜疏風敗毒散；形氣虛者，宜加味交加散，或羌活乳香湯以散之。</p>
<p><u>疏風敗毒散</u></p>
<p>當歸　川芎　白芍藥　熟地黃　羌活　獨活　桔梗　枳殼　柴胡　白茯苓　白芷　甘草　紫蘇　陳皮　香附</p>
<p>上生薑、生地黃煎，入酒和服。</p>
<p><u>加味交加散</u></p>
<p>當歸　川芎　白芍藥　生地黃　蒼朮　厚朴　陳皮　白茯苓　半夏　羌活　獨活　桔梗　枳殼　前胡　柴胡　乾薑　肉桂　甘草</p>
<p>上生薑煎服。有熱者，去乾薑、肉桂。</p>
<p><u>羌活乳香湯</u></p>
<p>羌活　獨活　川芎　當歸　赤芍藥　防風　荊芥　丹皮　續斷　紅花　桃仁　乳香</p>
<p>上生地黃煎服。有熱者，加柴胡、黃芩。</p>

<h3>補遺方</h3>
<p><u>補損續筋丸</u>　治跌打僕墜，骨碎筋斷肉破，疼痛不息。</p>
<p>當歸（酒洗，五錢）　川芎　白芍（炒）　熟地（各三錢）　廣木香　丹皮　乳香（去油淨）　沒藥（去油淨，各五錢）　骨碎補　自然銅　紅花　瓜兒血竭（各三錢）　硃砂（五錢）　丁香（一錢）　人參（一兩）　虎骨（酥油炙，二兩）　古銅錢（三文）</p>
<p>共為細末，煉蜜為丸，每服三錢，淡黃酒、童便化服。</p>
<p><u>補損接骨仙丹</u>　治證同前。</p>
<p>當歸（酒洗）　川芎　白芍（炒）　熟地　補骨脂　五靈脂　廣木香　地骨皮　防風（各五錢）　乳香（去油淨）　沒藥（去油淨）　瓜兒血竭（各一錢）</p>
<p>上銼一處，用夜合花樹根皮五錢，同入大酒壺內，加燒酒同煮，一炷香，取出溫服。</p>
<p><u>止血定痛生肌散</u>　治傷損等證，失血過多，或因克伐致血氣耗損，惡寒發熱煩躁。</p>
<p>乳香（去油淨）　沒藥（去油淨）　龍骨（各三錢）　血竭（二錢）　黃丹（飛過，五錢）　香白芷（二錢五分）　軟石膏（煅去火毒，一兩）　潮腦（少許）</p>
<p>共為細末，瓷器盛之，每以糝患處，止痛生肌。</p>
<p><u>敷跌打青腫方</u></p>
<p>生梔子同飛羅面搗塗之，以布纏裹，拔出青毒即消。</p>
<p><u>回陽玉龍膏</u>　專敷跌打損傷，氣虛寒冷。</p>
<p>草烏（炒，二錢）　南星（煨，一兩）　軍姜（煨，一兩）　白芷（一兩）　赤芍（炒，一兩）　肉桂（五錢）　</p>
<p>共為末，蔥湯調搽，熱酒亦可。</p>
<p><u>太乙膏</u>　治傷口不收，貼之生肌長肉。</p>
<p>香麻油　當歸　生地　生甘草</p>
<p>三味入油內炸枯，去渣，再以絲棉濾淨，再入淨鍋，熬至滴水不散，入炒飛黃丹八兩，又用慢火，熬至滴水成珠，取起少頃，入白蠟、黃蠟，各一兩，微火再熬，取起少定，入去油淨乳香、沒藥各五錢攪勻，收瓷器內，過三宿可貼。</p>
