<header data-type="book">
<h1>博濟方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王袞</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1047">公元1047年（宋·慶曆七年）</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·博濟方》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0019/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>提要</h1>
<p>博濟方五卷，宋王袞撰。袞，太原人。其仕履未詳，惟郎簡原序，稱其嘗為錢塘酒官而已。此書諸家書目皆著於錄，惟宋史藝文志，陳振孫書錄解題，俱作三卷，晁公武讀書志，作五卷。稍有不同，蓋三五字形相近，傳寫者有一訛也，公武又稱，袞於慶曆間，因官滑臺，暇日出家藏七十餘萬。擇其善者，為此書。名醫云：其方用之無不效，如草還丹、治大風、太乙丹、治鬼胎、尤奇驗。今案袞自序有云，曏侍家君之任滑臺，道次得疾，遇醫之庸者，妄投湯劑，疾竟不瘳。據此則官滑臺者，乃袞之父，而公武即以為袞，殊為失考。袞又言博採禁方，逾二十載，所得方論，凡七千余道，因於中擇其尤精要者，得五百餘首。而公武乃云：家藏七十餘方，則又傳寫之誤也。原書久無傳本，惟永樂大典內，載有其文。裒輯編次，共得三百五十餘方。視袞序所稱五百首者，尚存十之七，僅分立三十五類。依次排比，從讀書志之目，釐為五卷。其中方藥，多他書所未備，今雖不盡可施用，而當時實著有奇效，足為醫家觸類旁通之助。推頗好奇異，往往雜以方術家言，如論服杏仁，則云彭祖、夏姬、商山四皓，煉杏仁為丹，王子晉服四十年而騰空，丁令威服二十年而身飛。此類殊誕妄不足信，今故取服食諸法，編附卷末，以著其謬，俾讀者知所持擇焉。</p>

<h1>原序</h1>
<p>大鈞播物，融結而為萬類，其最靈最貴者惟人，人之所稟，賢不肖雖異，然莫不自重其性命，所不免者疾苦也。古之君子居位行道，曷嘗不以賙人之急，除民之瘼為心哉，人而無食乎，可賑而飽之也，人而無衣乎，可解而溫之也，至於一脈內潰，五管生釁，惛怓瞀亂，號呼楚毒，謦咳間有不可生之意。當是時，非妙診靈劑，可以起廢保命，則雖有金玉牣其室，骨肉環其前，割慈忍愛，痛心疾首，又何補救哉。予歷宦不啻數十載，或遘奇傑，或韜巾衍，所得方錄，較然神異者，用以濟人。至今未嘗少懈，居常患不能家至戶曉，使天下之人，皆獲其利。以是汲汲然有不足者，今春錢塘酒官王君惠然見過，出方書三編示予，且曰袞平素喜醫診，所摭精要方若干首，不敢自愛，欲刊摹以周四方，冀人人得遂其生，予樂聽所云，頓起夙昔之願，稱歎者久之。雅聞其人好奇博涉之士也，因自錄素所奇異方，有驗於人者。得三十餘通，請附於類例之內，以助成一家。噫救災恤患，陽秋之大誼也。博施濟眾，仁者之首善也。惟冀一圓一劑，有瘳有喜，使幅員之眾無札瘥，無疵癘。胥考終命，是所願也。予既嘉其惠心，贊厥美事，粗舉崖略，庸紀於末郎簡序。</p>

<h1>自序</h1>
<p>天地之間，運行而生成者，非五行乎，人稟五行之秀而生，故具之於形，稟之於氣也，其在天則四時六氣運乎外。一失其道，則為災為沴焉，其在人，則五味七情攻乎內，一失其理，則為疾為疹焉，時候乖，有德者和之，疾疹生，善醫者治之。蓋醫之興，其來浸久，軒後著之於書，周禮明列其職，皆所以重人命也。然人之疾狀多端，醫道又不可一塗取也。方書藥錄，其數實繁，故自姬漢而下，沿及於今，雖巨賢博識，編聯周施者甚眾，然不能盛行於世，何也，亦非採擇不精。治療無准，蓋明其術者，即深秘其隱要，昧於道者，乃不詳其證候，迨乎臨用，有誤十全。</p>
<p>袞曏侍家君之任滑臺，道次得疾，遇醫之庸者，不究其脈理，妄投湯劑，而疾竟不瘳，復又母氏多病，積有年所。袞遂因公暇，潛心醫術，博採禁方，逾二十載矣，所得方論，凡七千余道，皆傳之於家牒。得之於親舊，故非耳剽口授，率經效用。因於其中擇其尤精要者，理療可憑。方書必驗，得五百餘首，仍於逐篇之前，或言其疾狀，或紀其脈息，或序其形證，或論其得病之由，庶使昧於醫者，可審讀而修制之，工於醫者。可消息而變用之，噫，今之人有得一妙方，獲一奇術，乃緘而秘之。惕惕然惟恐人之知也。是欲獨善其身，而非仁人泛愛之心也，袞嘗念人之有疾苦，若己父母有之。汲汲然欲其痊也，故竭精研慮，編次成集，傳諸好事，斯亦博濟之一端也，故目之曰王氏博濟方，王袞序。</p>

<h1>卷一</h1>

<h2>傷寒</h2>

<h3>人參煮散</h3>
<p>治內傷寒冷、外傷寒氣、嘔吐煩熱、頭疼、身不疼、及氣虛傷寒。</p>
<p>人參（一兩）　白朮（三分）　陳橘皮（去白）　乾薑（炮）　杏仁（去皮尖）</p>
<p>甘草（炙）　枳殼（各半兩）　芍藥（三分）　蠻姜（一分，聖濟總錄作高良薑）</p>
<p>上九味同為末，每服二錢，生薑五片，棗二枚，水一盞，煎至七分，熱服，再以稀粥助之，汗出瘥。</p>

<h3>金沸草散</h3>
<p>治傷寒壯熱、風氣壅盛、頭目心胸不利，婦人血風朝發、丈夫風氣上攻，狀如中脘有痰，令人壯熱、頭疼、項筋緊急，時發寒熱，皆類傷風，有寒氣則出汗，如風盛則解利。</p>
<p>荊芥穗（四兩）　旋覆花（三兩）　前胡（三兩）　半夏（一兩，洗淨，薑汁略浸）　赤芍藥（一兩）　麻黃（去節，三兩）　甘草（一兩，炙。）</p>
<p>上七味，同為末，每服二錢，水一盞，入生薑棗同煎，至六分，熱服，如汗出，並三服，陳自明管見良方，但頭不疼，項不強，為異耳。</p>

<h3>石膏散</h3>
<p>治傷寒，頭疼不可忍者。</p>
<p>石膏（一兩）　麻黃（一兩，去根節）　何首烏（五錢）　乾葛（三分）</p>
<p>上為末，每服二錢，姜一片，水一盞同煎，至八分溫服。</p>

<h3>太一散</h3>
<p>治傷寒頭痛。</p>
<p>大附子（一兩，炮，去皮臍）　甘草（半兩，生　石葦半兩，去毛）　石膏（二兩）　滑石（二兩）</p>
<p>上五味，同為細末，每服二錢，蔥白薄荷茶調下。</p>

<h3>人參訶子散</h3>
<p>治傷寒氣不順，食嘔，胸膈不利，有時泄瀉。</p>
<p>人參　乾葛　厚朴（去皮）　地黃（各二分）　丁香（一分）　訶子（七枚）　豆蔻（一個，去皮。）</p>
<p>上七味，同為末，水一盞，末二錢，入生薑棗同煎，熱服。</p>

<h3>沉香散</h3>
<p>治傷寒嘔，結痞，心胸真氣虛弱，脈息沉細，正氣補元奪命。</p>
<p>沉香　舶上茴香　青橘皮（去皮）　蓽澄茄　胡椒　川楝子　陳橘皮（去白，各一兩。）</p>
<p>上七味，同生杵為末，如患者。但得心頭有氣，未斷亦服之，每服二錢，蔥白三莖，各長一寸，擘破，入酒，並童子小便。各半盞，煎至六分，放溫和滓服，患重者，不過三兩服，氣正脈生。</p>

<h3>柴胡散</h3>
<p>治傷寒日數過多，心中氣悶，或發疼痛，狂言不定，煩躁不得睡，大小便不通。</p>
<p>柴胡（一兩，去苗）　大黃（一兩）　朴硝（一兩）　甘草（半兩）　枳殼（一兩，去穰。）</p>
<p>上五味為末，每服三大錢，水三盞，煎至六分溫服，一日只二服，不可多服，候大小便通，即自然汗出，或當此候，吃下毒氣藥，通利，即不用服柴胡散，或狂言須服大有奇效。</p>

<h3>陷胸散</h3>
<p>治心胸悶結，喘不定，服之自汗出。</p>
<p>大黃（一兩半）　甘草（半兩）　枳殼（半兩，去穰）</p>
<p>上三味為末，每服三錢，水七分盞，煎二三沸，溫和滓服，汗出為度，六日內，多使此散，如無證不用。</p>

<h3>豆蔻散</h3>
<p>治兩感傷寒、結胸，壯熱惡寒，飲食不下，大小腸秘塞，陰毒昏沉，臍下水結，撮痛，四肢逆冷，心躁，不省人事，食癥結聚，心下逆滿，坐臥不省。</p>
<p>肉豆蔻（二枚）　麻黃（去根，一分）　木香（一分）　緙蛜𧌴（五個，糯米炒令黃，去米）　吳茱萸（一銖）　白朮（一分）　乾薑（二銖，炮　大黃八銖，濕紙裹，煨　訶黎勒二枚，炮）　茯苓（去皮，八銖）　甘草（一分，炙　附子八銖，炮，去皮）　青橘皮（二七片）　桂心（三銖）　檳榔（二枚）　當歸（一分）</p>
<p>上一十六味，同為細末，每服三錢，棗三枚，水一盞，煎至七分，食後熱服，蓋覆。若胸腹內痛，空心服必效，如稍溏利，無妨。</p>

<h3>金針丸</h3>
<p>治傷寒結胸氣逆，並手足冷，吐嘔不定。</p>
<p>陽起石　不灰木　阿魏（各半兩）　巴豆（二十五粒，去皮心，不去油）　杏仁（二十五枚，去皮尖）</p>
<p>上五味同為細末，用軟粟米飯為丸如彈子大。每服取一丸，穿一眼子，於燈上燒，煙絕為末，以生薑米飲調，服之，以利為效。</p>
<p>仙茅丸　治傷寒結胸，及惡候者，大效。</p>
<p>仙茅（一分）　貫眾（半兩）　黑附子（半兩，去皮）　蓽茇（一分）　乾薑（半兩）　甘草（少許）　巴豆（去皮心，半兩）</p>
<p>上七味，同為細末，麵糊為丸如梧桐子大，下結胸，生薑棗湯，下一丸，五七日患者，更打破一丸，同前湯下。如常傷寒，只用冷漿水下，如轉後，須用順氣微表藥服之，汗出瘥。</p>

<h3>人參散</h3>
<p>治傷寒，和氣溫中，安神魂（五日內服。）</p>
<p>人參　茯苓（去皮）　白朮（米泔浸一宿）　陳橘皮（各一兩）</p>
<p>上四味，杵為末，每服二錢，水一鍾，生薑二片，煎至六分，溫服之，每日三服。</p>

<h3>順氣散</h3>
<p>治傷寒脾胃氣不和，汗前汗後，嘔逆腹脹，虛氣攻刺，心脅疼痛，及治咳嗽。（見羅適傷寒救俗方。）</p>
<p>厚朴（去粗皮，薑汁浸炒黃）　茴香（炒）　陳皮（浸，去穰，焙）　蒼朮（米泔浸一宿，炒）　枳殼（湯浸去穰，麩炒黃）　川芎（炒）　桔梗　杏仁（去皮尖，炒）　白芷（炒）　甘草（炙）　麻黃（去節）</p>
<p>上各等分為末，杏仁別研，一處和勻，每服二錢，蔥白三寸，姜二片，棗一枚，同煎，至七分，熱服。此藥調理傷寒汗後氣虛，甚有奇效，凡病人若手足指節逆冷，嘔惡，有陰毒傷寒之證，急並三五服，自然回陽，順氣，汗出，如服了覺身熱，汗久未行，卻並服金沸散表之。年老傷寒，不問陰陽二毒，並先服順氣散，三兩服後，方服金沸散，表汗。少壯者若是陽毒，並先表汗，後用此藥調氣，若被風雨逼濕，並宜服之。</p>

<h3>返陰丹</h3>
<p>治傷寒厥逆。</p>
<p>太陰元精石（一兩）　硫黃（一兩）　硝石（一兩，各為末）　膩粉（半兩）</p>
<p>上四味，依次第布在干熨斗內，用紙蓋覆，慢火煨久，候藥上有黃芽生起，便止，傾乳缽內，閉氣，細研五七百下，用蒸餅為丸，如皂子大，若傷寒脈候微細，四肢冷逆者，及曾經轉瀉者，煎艾湯約一盞，先熱吃艾湯一半，細嚼一丸，以湯下之，須臾汗出便瘥，重者二丸必愈，神妙。</p>

<h3>正元散</h3>
<p>解傷寒聖濟總錄云：治傷寒陰證，脈候沉細。</p>
<p>麻黃（去節）　陳皮（去白炙）　大黃（生）　甘草（炙）　乾薑（炮）　茱萸　官桂（去粗皮）　芍藥（生）　附子（炮，去皮臍）　半夏（湯洗七遍）</p>
<p>上十味，唯麻黃多於眾藥一倍，余藥減用一半，同搗為末，每服一大錢，水一盞，入生薑三片，棗一枚，煎至七分，熱服，如出汗，須候汗乾，可去蓋覆。凡才覺傷寒，四肢頭目骨節疼痛，便服此藥，如人行五里許，再服，或連吃三服，立見汗出，便瘥。若患陰毒傷寒，更入退陰散半錢，同煎，或傷冷傷食，頭昏氣滿，及心腹諸疾，服之無有不見效者。</p>

<h3>退陰散</h3>
<p>川烏頭（炮）　乾薑（各半兩）</p>
<p>上二味，同為粗散，炒令轉色，放冷，再搗細末，每服一錢，水一盞，鹽一捻，煎半盞，去滓，溫服。此藥大治陰毒傷寒，手足逆冷，脈息沉細，頭痛腰重，連吃三服。若小小傷冷，每服一匙，入正元散，鹽一捻，若陰毒傷寒咳逆，煎一服，細細熱呷，立止。</p>

<h3>奪命丹</h3>
<p>治陰陽二毒衝心。</p>
<p>硃砂（二兩）　金箔（八十片）　膩粉（半兩）　黃蠟（三兩）　巴豆（八十個紙裹，出油。）</p>
<p>上五味，同為末，煉蠟和丸如雞豆大，每服以膩粉一錢，米飲一盞調下，如人行一里，藥性動，下惡物，如藥在其中，取出，掘一地坑，埋三伏時，取出，除卻上面黑物，以麝香裹養之，如更用時，擘為兩處，重為丸。一粒可療五七人，神聖之功，卒難序述。</p>

<h2>風證</h2>

<h3>燒肝散</h3>
<p>治三十六種風，二十四般冷，五勞七傷，一切痢疾，脾胃久虛，不思飲食，四肢無力，起止甚難，小便赤澀，累年口瘡，久醫不瘥，俱依此法服之，必愈。</p>
<p>茵陳　犀角　石斛　柴胡（去苗）　白朮　芍藥（各半兩）　乾薑　防風　紫參　白蕪荑　桔梗　人參　胡椒　吳茱萸　官桂（去皮，各一兩）</p>
<p>上一十五味，同為末，以羊肝一具，如無，即獖豬肝代之，分作三分，淨洗，去血脈脂膜，細切，用末五錢，蔥白一莖，細切，相和，以濕紙三五重裹之，後掘地坑，內以火燒令香熟，每日空心，生薑湯下，大段，冷勞不過三服見效。</p>

<h3>骨碎補丸</h3>
<p>治風虛攻疰，遍身筋骨疼痛，坐臥不能，飲食減少，行步無力，元氣耗損。</p>
<p>威靈仙　草烏頭（各半兩）　白附子　荊芥（各一兩）　自然銅（醋淬，半兩）　半夏（湯洗七遍，半兩）　蓯蓉（一兩，酒浸切）　沒藥（一分）　骨碎補（半兩，去毛）　牛膝（一兩）　地龍（一分，去土）　縮砂（半兩，去皮）</p>
<p>上一十二味，同搗為末，酒煮，糊為丸如梧桐子大，每服五七丸，臨臥空心，茶酒任下，服至十日，於皮膚間，覺微微行，是藥效，婦人以醋湯或當歸酒下。</p>

<h3>馬蘭花煎丸</h3>
<p>治元臟虛風壅熱，上攻下疰，腳氣等證。</p>
<p>馬蘭花（一兩）　大附子（一兩，泡去皮臍，切同馬蘭花，以水一升半煮，水乾，焙）　巴豆（春夏二十二粒，秋冬三十八粒，擘破和殼，同芫花，和醋一升半拌，煮醋乾，焙）　芫花（一兩）　白附子（一兩）　破故紙（一兩）　牽牛子（半兩）　檳榔（半兩）　陳皮（一兩，去瓤）　羌活（一兩）</p>
<p>上十味為末，醋麵糊為丸如桐子大，食前服，或臥時空心加減，自五丸加服，丈夫艾鹽湯下，婦人橘皮湯下。</p>

<h3>草還丹</h3>
<p>治風順氣，調利三焦，明耳目，益真元，肚筋骨，駐顏容，保生延壽。</p>
<p>仙茅　川羌活　防風（去頭）　金毛狗脊（去毛）　紫花白朮　茯苓（去皮，各一兩）　乾薑　九節石菖蒲　白醜（各一兩半）　葳靈仙（二錢）　何首烏　蒼朮（各一兩）</p>
<p>上十二味，各要新好者，洗擇淨焙乾，並生用，細杵為末，以白生砂蜜和為劑，再入臼，杵三千下，煉熟丸如桐子大。每服十五丸，至二十丸，冷水下，不嚼，婦人月候不通，紅花酒下，半月見效。</p>

<h3>牛膝煎丸</h3>
<p>大治下元氣虛，冷氣流注，腳膝無力，行步不能，狀似軟風，補益真陽。</p>
<p>川烏頭（五兩，逐日三度換水，浸令透軟，去皮臍，細切，用好酒三升，漸漸下熬成膏，更細研）　木瓜（三個，下面剜去，取瓤核，將好艾先熟，杵為末，入在木瓜內，填實，蒸熟，細研如泥止）　海桐（皮）　牛膝（去蘆）　羌活（去蘆）　巴戟　蓯蓉（各一兩半）　青鹽（細研）　青橘皮（去白）舶上茴香　金毛狗脊（去毛）　萆薢（各二兩）</p>
<p>上一十味，焙乾，杵羅為末，以前二味膏，攪和令勻，相度莫令硬，丸如桐子大，每日空心，溫酒或鹽湯下，三十丸，勿嚼。</p>

<h3>牛膝海桐皮煎丸</h3>
<p>治腎臟風，並腎俞氣，有時上攻耳目頭，而背膊，及流注手臂腰腳，筋絡頑麻，疼痛，或時無力，耳作蟬鳴，以至重聽，大壯筋骨，補元氣。</p>
<p>牛膝（半斤）　海桐皮（半斤，二味細銼，杵為末，用好酒五升，於銀石器內，熬成膏）　附子（二兩，炮，去皮臍）　赤箭（一兩）　川烏頭（二兩，炮去皮臍）　川苦練（二兩）　五加皮（一兩）　虎腦骨（四兩，塗酥，炙令黃色）　大黃（二兩半）　桃仁（二兩，去皮尖，以麩炒黃色）　赤芍藥（一兩）　肉桂（一兩，去皮）　當歸（一兩）　麻黃（一兩，去根節）　地龍（一兩，去土微炒）　川芎（二兩）　木香　獨活　沒藥（研）　乳香（研）　防風（去蘆）　骨碎補　麒麟竭　舶上茴香　沉香　乾蠍　天南星（生用，各一兩）　硇砂（半兩，研，飛過）　麝香（半兩，研）</p>
<p>上二十九味，修事淨，同為末，再研令勻細，後入前膏內，和勻，再杵三二千下，丸如梧桐子大，每日空心，溫酒或鹽湯下十丸，忌生冷油膩毒物等。</p>

<h3>天雄沉香煎丸</h3>
<p>治下元積冷、傷憊、陽事不能、筋骨無力，或成下墜，及小腸氣痛，並腎臟風毒攻疰，脾胃不和，腰腳沉重。</p>
<p>天雄（四兩，生用，銼碎）　防風（二兩，生用）　緊小黑豆（二兩，淨拭，生用）　漢椒（四兩）　草烏頭（四兩，生用）　附子（四兩，生用）　牛膝（二兩）　沉香　天麻（各二兩，生用，以上九味以無灰酒一斗於銀鍋內，慢火煨，不得令大沸，酒盡為度，焙令乾）　丁香　木香　羌活　乾薑（各一兩）　官桂（三兩，去皮）　肉蓯蓉（三兩，酒浸，去土，炙熟）　紫巴戟（二兩，去心）</p>
<p>上一十六味，同杵為末，煉蜜，丸如桐子大。每日空心，溫酒下二十丸，加至三十丸，此藥兼明耳目，雄氣海，駐顏色。</p>

<h3>金粉丸</h3>
<p>治風，冷氣流疰，腳膝疼痛，行步艱難，久患不瘥。</p>
<p>川烏頭（一兩，每個擘開作兩片）　牛膝（一兩，去苗，酒浸，細切之）　何首烏（一兩，擘破）</p>
<p>上三味，用大豆一斗，淘揀淨，先入一半，在甑內，次下此三味在內，更用余大豆蓋之，蒸可半日許，取出藥，於篩子內，陰乾為末。別入地黃、金粉一兩拌，和勻，以酒煮麵糊，為丸如梧桐子大。空心、木瓜酒下二十丸，至三十丸。</p>

<h3>紫金丹</h3>
<p>治腎臟風，上攻下疰，虛腫疼痛，補暖丹田，大進飲食，及療婦人血風，血氣流注，筋骨疼痛，或發寒熱，口苦舌乾，四肢煩倦，血海久虛，兼化痰涎。</p>
<p>黑附子（半兩，炮，去皮臍）　丁香（半兩）　硇砂（半兩）　縮砂（半兩，去皮）　當歸（半兩）　天南星（半兩，炮）　半夏（半兩）　肉豆蔻（五個）　自然銅（一兩，火煅，於醋內淬七遍）　木香（半兩）　防葵（半兩）　青葙子（半兩）　硃砂（半兩）　水銀（一分）</p>
<p>上一十四味，先將水銀硃砂硇砂三味，同細研，余即一處為細末，和勻，以醋麵糊，為丸如梧桐子大，薄荷茶下十丸，或薄荷酒下，亦可日二服。</p>

<h2>勞證</h2>
<p>夫勞者牢固也，勞傷也。經曰：五勞六極七傷，皆因營衛不調，血氣虛損或房、或酒、或大病愈後有失調理，因變證候，其狀極多，不能備舉，大抵春夏劇，秋冬瘥。</p>

<h3>鹿茸丸</h3>
<p>治虛勞傷憊，腰腳疼痛少力，精神不爽，飲食減退，駐顏益氣。</p>
<p>附子（一兩，炮，去皮臍）　鹿茸（二兩，去毛，塗酥，炙微黃）　桃仁（一兩，湯浸，去皮尖，雙仁，麩炒微黃）　酸棗仁（三分，微炒）　蓯蓉（一兩，酒浸一宿，去皮，炙乾）　巴戟（一兩，去心）　防風（二分，去蘆）　白茯苓（一兩，去皮）　白蒺藜（三分，去刺，微炒）　萆薢（三分，銼）　桂心（三分，去皮）　石斛（一兩，去根，銼）　補骨脂（一兩，微炒）　當歸（一兩）　羌活（三分）　牛膝（一兩，去苗）　木香（三分）</p>
<p>上一十七味，同為細末，煉蜜為丸，如梧桐子大，每日空心及晚食前，以溫酒下二十丸。</p>

<h3>鱉甲散</h3>
<p>治五心煩熱，飲食減少，狀似勞氣。</p>
<p>鱉甲（一兩半，醋炙）　常山（一兩，生）　大黃（一兩，炮）　甘草（三分，半生，半熟）　柴胡（一兩，去蘆焙）　石膏（一兩）</p>
<p>上六味，杵為末，每服二錢，水一盞，小麥一把，煎至七分，去滓，溫服，卻將二服滓，再煎作一服，神效。</p>

<h3>神效喝起散</h3>
<p>治丈夫女人背胛勞倦，肢節痠疼多困少力，飲食無味，面黃體瘦，或發寒熱。</p>
<p>鱉甲（洗淨，醋炙令黃）　柴胡（去苗）　秦艽　牡丹皮　附子（炮，去皮臍，各等分）</p>
<p>上五味，同為末，每服三錢，用獖豬石子一個，去筋膜，以蔥白一寸椒末一錢，同研如糊，入椀，與藥相和，用童子小便一小盞，煎三五沸，入藥末，攪勻，盞蓋子蓋之，放溫服。</p>
<p>人參半夏丸　治患勞氣，心胸煩悶，痰涎壅塞，不思飲食，頭目昏眩。</p>
<p>半夏（一兩，湯洗二七遍）　大腹皮（二枚）　人參（三分）　枇杷葉（三分，去毛炙）　鱉甲（三分，醋炙令黃）　柴胡（三分，去苗）　茯苓（一兩，去皮）　前胡（三分，去苗）　橘皮（三分，去白）　芍藥（半兩）</p>
<p>上一十味，同為散，每服三錢，水一盞半，生薑三片，同煎，至七分，溫服。</p>

<h3>羌活煮散</h3>
<p>治風勞攻疰四肢，背胛痠痛，上焦虛熱，心胸躁悶，面無顏色四肢昏沉，多困少力，元藏虛憊，腰腳沉重，日漸羸瘦，冷氣時攻腸脅，癘刺脹滿，酒後痰唾稠多，（聖濟總錄，作羌活湯，用棗二枚，蔥白二寸）</p>
<p>羌活（二兩）　荊芥（二兩，去梗）　附子（二兩，去皮臍）　秦艽（二兩，去蘆）　人參（一兩）　麻黃（二兩，去節）　茯苓（一兩，去皮）　牛膝（二兩，酒浸一宿）　白蒺藜（二兩，酒浸一宿，焙）　沉香（一兩）　鹿茸酥（炙）　萆薢（二兩，薑汁浸）　甘草（一兩）　當歸（一兩）　牡丹皮（一兩）　漢防己　官桂（各一兩，去皮）　半夏（一兩，薑汁浸一宿）</p>
<p>上一十八味，同搗為末，每服二錢，水一盞，棗一枚，蔥白一寸，煎至七分，溫服，空心午前臨臥各一服，忌動風物。</p>

<h3>沉香鱉甲煮散</h3>
<p>治脾腎風，勞氣攻疰背膊，四肢煩倦，百骨節痠疼，吃食減少，心胸不快，涕唾稠黏，多困少力，面色黑黃，肌膚瘦瘁。</p>
<p>沉香　木香　人參　黃耆　紫巴戟（去心）　牛膝（去苗）　秦艽（去蘆）　柴胡（去蘆）　茯苓　川當歸　荊芥（各半兩）　半夏（生薑汁浸二宿，炒令黃色，半兩）　羌活（三分）　肉豆蔻（四枚，去殼）　附子（一兩，炮，去皮臍）　桂心（一兩，不得近火，去皮）　鱉甲（一兩，醋炙令黃）　乾地黃（三分）　乾蠍（一分，生。）</p>
<p>上件洗擇，焙乾，杵羅為末，每服二錢，用水一大盞，蔥白二寸，姜三片，棗二枚，同煎七分，空心、夜臨、日午、食前、各一服，忌毒物。</p>

<h3>金花丸</h3>
<p>治急熱勞煩躁，羸，面目痿黃，頭痛目澀，多困少力。</p>
<p>黃芩　黃連（宣州者）　川大黃（各一兩）</p>
<p>上件為末，煉蜜為丸如梧桐子大。每日空心食後，溫水下十五丸二十丸。治鬼交多饒驚魘。</p>
<p>川楝子（十個，炮）　胡蘆巴（一分）　舶上茴香（一兩）　柴胡（半兩）　附子（一個，炮，去皮臍）　鱉甲（一個，醋炙令黃）　宣連（半兩）</p>
<p>上件同杵為末，煮麵糊為丸，如梧桐子大，每服五丸，茶酒任下。</p>

<h3>青蒿煎丸</h3>
<p>治骨蒸勞。</p>
<p>青蒿（一斤，切，淨洗去土）　甘草（一兩，炙黃色，為末）　杏仁（一兩，湯浸，去皮尖，另研）　柴胡（一兩，去蘆為末，銀州者）　鱉甲（一兩，去裙，醋浸，炙令黃赤色，為末）　蜜（二合）</p>
<p>上先用童子小便五升，煎青蒿，取一升，去蒿滓，入小淨鍋子內，再煎，如稀餳，入酥少許，及蜜，藥末等，熬成膏，可丸如梧桐子大。每日空心，溫酒下二十丸，漸加至三十丸，忌豬肉、面、毒物。</p>

<h3>橘皮煎丸</h3>
<p>治冷勞、瘦疾、目暗、手足攣急、形容枯瘁、食不消化、腹脹不能納食、食物無味、面黃力弱、積年腸風、痔疾、痃癖氣，一切勞病。女人血症氣塊、赤白帶下、子宮冷甚、宿水露血、治五種膈氣、冷膈、熱膈、氣膈、思憂膈、四肢無力、饒睡。此藥大能通利五藏，明目，出一切風冷。</p>
<p>陳橘皮（一斤，去白）　官桂（去皮）　乾薑（炮）　川當歸（炙，以上四味，另研，細）　荊三稜（炮）　附子（炮，去皮臍）　萆薢（以上三味另杵羅）　神麯（各六兩）　烏頭（炮，水煮三五沸）　木香（各一兩）　川椒（去子，炒出汗，一兩）　大麥蘖（四兩）　厚朴（去皮，薑汁炙，以上六味，另杵羅，留出半兩蘖末。）</p>
<p>上件，用無灰好酒四升先煎上四味，如人行十里，更下次三味，又如人行十里，次入下六味，又添酒兩碗，煎成膏，取出，以留出者麥蘖末相和勻，再搗一千下，為丸如梧桐子大。每日空心，以茶酒任下，二十丸，至三十丸，午時再服，忌生蔥、豆豉。此藥煎，若用銀石砂鍋，極妙。如無，即取好熟使鐺，淨刷，洗無油膩。先於鐺抹真酥，次下酒，及下藥，用慢火煎，不住以銀匙攪直候如膏，取出，於淨盤中勻攤，候硬軟得所，搗好，眾手為丸，曬乾。此藥如久服，即補氣、壯真元、駐顏色、進飲食。</p>

<h3>燒肝散</h3>
<p>治丈夫女人、五勞七傷、胸膈滿悶、飲食少味、腳膝無力、大腸虛滑、即或口內生瘡、牙齒宣露、及遍療婦人風血氣塊者。</p>
<p>肉豆蔻（三個，和皮）　官桂（三分，去皮）　香白芷（半兩）　當歸　人參　破故紙　茯苓　桔梗（各半兩。）</p>
<p>上八味為末，每服四錢，羊肝四兩，批作片子，摻藥在上令勻，以刀背微槌，以南粉塗濕紙裹，文武火燒令香熟為度，放冷，用米飲嚼下。</p>

<h3>沉香散</h3>
<p>治丈夫女人、五勞七傷、熱無力、小便黃赤、吃食無味、心多驚悸、骨節痠疼、心胸痞悶、兩脅疼痛、散滯氣。</p>
<p>沉香　檳榔　大附子（炮，去皮尖）　人參　茯苓（去皮）　當歸（去蘆）　官桂（去皮）　前胡　黃耆　枳殼（麩炒）　乾薑（炮，各半兩）　柴胡（去苗，一兩）　訶子（炮，去核）　甘草　五味子（各一兩）　雀腦芎（半兩）　半夏（二兩，用漿水煮三十沸，細切小片子，焙乾用之）　草豆蔻（三分，炮，去皮。）</p>
<p>上件為末，每服二大錢，水一盞，生薑二片，棗子二枚同煎，至七分，溫服，日可三服。</p>

<h3>柴胡膏</h3>
<p>治五勞七傷、肢體煩倦、日漸消瘦、行步稍難、飲食不進。</p>
<p>柴胡（半兩）　赤芍（一兩一分）　白蒺藜根（一兩一分）　川附子（炮）　青皮　吳茱萸　陳皮（各半兩）　青木香（一分）　烏雞（一隻，淨去骨皮毛腸肚，唯擇肉。）</p>
<p>上八味為末，入烏雞肉內，再杵成膏，於瓷器內收貯，每食前，用鹽酒一盞，膏一匙頭，調服，常令患人有酒容，只服兩日，便見效驗。</p>

<h3>大柴胡鱉甲散</h3>
<p>柴胡　秦艽　常山　貝母　山梔子　甘草　烏梅　豉心　鱉甲（醋拌炙）　黃芩（各一兩）　生薑（半兩）　大黃（半兩）　桃枝　柳枝　蔥白　薤白（各一握）　糯米（半合。）</p>
<p>上一十七味，杵為末，分作八貼，用水一升，酒一盞，同煎，至八分，作三服，早、午、晚，日三服，兩貼滓並煎作一服，此方累醫較人大段瘦者，即吃藥大效。</p>

<h3>炙肝散</h3>
<p>治男子五勞七傷、手足痠疼、四肢煩倦、多患口瘡、咽喉不利、心胸痞滿、不思飲食、久積瀉痢、腳膝浮腫、日漸消瘦。</p>
<p>柳桂　吳白芷　羌活（溫水洗，浸過）　獨活　芍藥（各一兩）　訶子皮（七個，好者）　白朮（半兩）　蠻姜（半兩）</p>
<p>上杵為末，每服用獖豬肝一具，淨除筋膜，切如柳葉狀，換水七遍，控干，用藥末十錢，鹽一分，同拌令勻，作丸，串子，以慢火炙熟，空心任意服之，以生薑粥下之。</p>

<h3>延壽散</h3>
<p>治男子女人少童等，傳屍諸勞，嗽、寒、熱、百般變候，並宜出卻蒸汗勞蟲，永去根本。</p>
<p>牡丹皮　附子（炮，去皮臍）　柴胡（去苗）　秦艽　鱉甲（酒浸，炙令赤色，各半兩。）</p>
<p>上五味，同為細末，入人中白半兩，同研，以瓷器盛之，每服，用豬石子一枚，蔥白椒末，同一處，細銼如膏，入藥末三錢匙，拌和，以童便一盞，水半盞同煎令沸溫服，其患人帖體著皂紗衫一領，服後，衣物蓋覆，令惡汗出，黏膩盡出，仍脫皂衫、揩拭、身干、避風將息。每七、一度、服後、汗輕即住，皂衣遂以皂角湯泡洗，安息香烘乾，末後用了，即棄於十字路中，或長流水內，永瘥。</p>

<h3>養正膏</h3>
<p>治傳屍出汗，取闢蟲邪。</p>
<p>鱉甲（一兩，醋浸，炙令黃，淨去根，杵碎）　天靈蓋（用七匙頭大一片，淨洗，酥塗，炙令黃色）　桃柳桑枝（各七莖，長各七寸許）　桃仁（四十九個，去皮尖）　安息香（一分）　青蒿　淡豉（三七粒）　蔥白（二莖。）</p>
<p>上八味，隔夜以水一升，浸至五更，煎取半升，再以童便半升同煎，取四合，又用檳榔一個為末，麝香一錢，將所煎藥去滓，調下，至日高二丈時，放溫，頓服，以衣蓋汗出，審看十指，汗出如藕絲，五色，臭穢，汗出後，仍瀉下蟲狀惡物盡，甚者，旬日再服，永效。</p>

<h3>延齡膏</h3>
<p>治一切勞。</p>
<p>蝦蟆　鶴骨　丁香　棗葉　鰻鱺　木香　豬牙皂角（各等分）　麝香（另研細，少許。）</p>
<p>上為末，用羊腸大者盛之，縛定兩頭，於飯甑上，蒸熟為度，取出，候冷，以竹刀子割開，同腸研細，再入麝香，同研令勻，為丸如梧桐子大。每日到辰巳間，用茅香熟水吞下一百丸，更看病人強弱，漸漸服之，須得一度吃盡一百丸，後以衣被蓋之，出汗，病甚者略露面，其蟲逡巡後汗出，屍蟲如麥麩大，余者皆，微壯，出盡汗後，病人其身體輕快。十去三四也，候汗乾後，即一時換卻原著衣服，並臥物等，初服藥，見當時隨藥便盡吐出，並不住，即難療。或一百丸存六七十丸，猶可醫，別以新藥補數，如藥全住，疾無不退，服藥後忌一切動勞等物。此藥，病甚者吃及兩服，至三服，即永除根本，一服後，別用吃無觸忌，治勞煮散三五服為妙，初出汗，頻換手帕揩之，約兩炊飯久，腸勞隨瀉下，一度，別用盆一個盛之，其蟲皆微壯，浮在上面動，服藥後如不吐，甚妙也。一生永忌觸犯藥，苦參、人參、空青、麥門冬、烏頭、切忌服之。</p>

<h3>鬼哭飲子</h3>
<p>治一切勞。</p>
<p>阿魏（一分，使童便磨一處）　東引桃枝（小者一大握，槌碎）　甘草　青蒿（一大握，如用其子，只用一兩半）　檳榔（一兩，為末）　蔥白（二寸，連根。）</p>
<p>上用童便二升，浸桃枝、甘草、青蒿、蔥白、四味。一宿，來日五更初，煎取六合，去滓，然後入阿魏，更煎兩沸，分為二服，每服臨吃時，入檳榔末半兩，同服，如覺心頭惡，必吐，吐後更進第二服，如是服前一服後，心頭安穩，即須進二服，必然通轉當下，必見惡物，服時仍不得令人與患者面對，恐惡蟲飛入人口鼻內。</p>
<p>此藥如是女人患，須是男子面向北與煎，如男子患，卻須女人向北與煎，仍忌貓狗見，患者春吃二服，秋吃三服，每年五服，勞蟲並盡，即去病根。</p>

<h2>血證</h2>

<h3>順中散</h3>
<p>治肺臟壅熱毒，則胸膈壅滯，血與氣皆逆行，上於肺，肺壅不利，故令人吐血不止，朝夕不住，發寒熱，氣喘促，紅物至多，頻頻嘔吐，漸至勞劣。</p>
<p>檳榔好者一枚　大黃半兩　甘遂半兩　木香半兩　茴香半兩　白牽牛子半兩　青皮半兩，湯浸，去白，焙。</p>
<p>上件同杵為細末，每服一錢，用木香煎湯下，或木香酒下，亦得，如作常服，茶酒任下一字。如曾中藥毒，嘔逆，黑血至多，不能飲食，服此順中散，亦能解毒止血。</p>

<h3>治暴吐血不止方</h3>
<p>用人參一味為末，每服一大錢，以雞子青投新水半盞，調下。</p>

<h3>雌黃丸</h3>
<p>治吐血衄血。</p>
<p>雌黃一兩，用小瓷合子內盛，上用不灰木末一錢，雲母末一錢，蚯蚓糞一錢，水飛黃丹一錢，滴水和勻，作餅子，蓋頭，石脂鎖口灰半碗，蓋合子上，用三斤炭燒，如不聞藥香，未得住火，如聞香即住火，為度，放冷取出，淨去上面樻子藥滓，令淨，研細末入下二味。</p>
<p>馬兜鈴子（去皮）　甘草（此二味，候雌黃燒下，秤約及錢許，餘隻各用四錢半。）</p>
<p>上件同研為末，煉蜜為丸如皂子大，以綿裹一丸，含化。</p>

<h3>漢防己散</h3>
<p>治咯血。</p>
<p>漢防己　萬州黃柏（各一兩一。）</p>
<p>上件同細搗為末，每服一錢，水一盞，小麥二十粒，同煎，七分，食後溫服。盜汗</p>

<h3>煎麥散</h3>
<p>治營衛不調，夜多盜汗，四肢煩疼，飲食進退，肌瘦面黃。</p>
<p>大鱉甲（二兩，醋煮三五十沸後，淨去裙襴，另用好醋，煮令香）　銀州柴胡（二兩，去苗）　大川烏頭（一兩，炮製，去皮臍）　元參（三兩）　乾漆（一兩，炒）　乾葛（一兩）　秦艽（二兩去土）　人參（一兩）　茯苓（一兩）</p>
<p>上件為末每服二錢，先用小麥三七粒，煎湯一盞去麥，同煎至七分，溫服，食後或臨臥時服之，如久患後，亦宜服此以退其勞倦，調順經絡。</p>

<h3>如智散</h3>
<p>治五心虛煩，夜多盜汗，面色黃瘁，四肢少力，多困饒睡，飲食不進。</p>
<p>萎蕤　川芎　青皮（去白）　肉桂（去皮）　木鱉子　當歸（去須）　羌活　秦艽　柴胡（去苗）　烏梅黃耆（以上各一兩）　甘草（如五心發熱，即減半兩，不用一兩。）</p>
<p>上同杵為末，每服一錢，水一盞，入青蒿頭子七枚同煎，至七分，去滓溫服。若冬月無青蒿，以薑棗代煎之。</p>

<h3>地骨皮散</h3>
<p>治骨蒸壯熱，肌肉減瘦，多困少力，夜多盜汗。</p>
<p>地骨皮（水洗）　秦艽水（洗淨）　柴胡（去蘆）　枳殼（去白，麵炒）　知母（生用）　當歸（去須）　鱉甲（去裙襴，醋炙黃色。）</p>
<p>上各等分為末，每服二錢，水一碗，桃柳枝頭各七個，生薑三片，烏梅一個，同煎，至七分，去滓，溫服，每日空心臨臥各一服。</p>

<h1>卷二</h1>

<h2>上焦證</h2>

<h3>人參荊芥散</h3>
<p>治上焦壅滯，頭目昏眩，涕唾稠黏，心胸煩滿。</p>
<p>人參　柴胡（去苗）　羌活　荊芥　旋覆花　甘菊　桑白皮（各等分。）</p>
<p>上七味，同杵為丸，每服二錢，水一盞，煎七分，食後臨臥溫服。</p>

<h3>利膈散</h3>
<p>治上焦風壅，多患咽喉，胸膈不利。</p>
<p>荊芥穗子（青乾淨好者）　鼠黏子（各一兩）　甘草（三分，炮過）　白醜（二兩，炒令香熟。）</p>
<p>上為末，每服一錢，入鹽點，兼治風牙痛，以三末入川椒一粒，鹽二錢，煎熱，熱含，冷吐出。</p>

<h3>白蒺藜散</h3>
<p>治上焦虛熱，頭目昏疼，或眼赤腫，心胸煩悶。</p>
<p>地骨皮（去土）　白蒺藜（去皮）　旋覆花　山茵陳　白菊花（以上各半兩）　鼠黏子　石膏（各一兩。）</p>
<p>上七味，並生，同杵為末，每服一錢，食後茶清調下，日進三服。</p>

<h3>金花散</h3>
<p>治心腹壅熱，重蒸上焦，致口氣生瘡，連年不瘥。</p>
<p>黃連（半兩，炒令稍焦，赤色，如年少，即加一分許）　人參（半兩）　枳殼（半兩，麩炒，微黃）　甘草（半兩，炙微赤）　半夏（半兩，以薑汁拍破，浸一宿，漉出焙乾。）</p>
<p>上五味為末，每服一錢，生薑三片，煎六分，食後臨臥溫服。</p>
<p>白龍丹　治上焦風壅，化痰涎，利胸膈逐風秘。</p>
<p>雷丸（末二錢）　甘遂（末三錢）　牽牛（一兩，杵取末六錢，不用再羅者）　龍腦（少杵）　粉霜（四錢）　輕粉（四錢，入白麵少許，三味同研令勻細，滴水和作餅子，於慢火內，煨令熱，放冷，再研令細。）</p>
<p>上同為細末，研令勻，入青州棗，煮熟，取肉和為丸，如綠豆大，每服五七丸，溫漿水下。如一切風癇驚搐涎滯，並以漿下七丸，及至十丸。如小兒痰熱，及渴不止，頭疼，但頻少與服，自然消除。大人風氣壅盛，上焦不利，最宜服此，更在臨時酌其加減。</p>

<h3>香芎散</h3>
<p>治上焦風壅，中脘有痰，頭目昏暗，心煩口乾，利膈，化痰涎。</p>
<p>旋覆花（一兩）　細辛（一兩，去葉）　川芎（二兩）　甘草（半兩，炙）　獨活　羌活（各半兩）　皂角（二挺，燒存性。）</p>
<p>上七味，同杵為細末，每服一錢，水一盞，煎至六分，食後臨臥熱服。</p>

<h3>犀角散</h3>
<p>治上焦壅熱，咽膈腫痛，不利。</p>
<p>鼠黏子（一兩，銚子內，以文武火，隔紙炒令香，為度）　甘草（一分）　荊芥（半兩。）</p>
<p>上三味同為細末，每服一錢，水五分一盞，煎令沸，去滓，溫服，大利胸膈。</p>

<h2>中焦證</h2>

<h3>沉香散</h3>
<p>治脾元氣不和，中焦痞悶，氣滯噎寒，進食和氣。</p>
<p>沉香　木香　青橘（去白）　郁李仁（湯浸去皮，另研）　陳橘（去白）　人參（各用一兩）　豆蔻　檳榔　肉桂（去皮）　甘草（炙）　乾薑（炮製，各半兩。）</p>
<p>上十一味，同為末，每服一錢，水一盞，煎至七分，溫服，不以時候。</p>

<h3>四倍散</h3>
<p>治脾元氣不和，大補虛損。</p>
<p>訶子（一兩，煨）　人參（二兩）　白茯苓（四兩，去皮）　白朮（半斤。）</p>
<p>上四味，同為細末，每服二錢，水一盞，入生薑棗子，同煎至六分，去滓，溫服，空心食前服。如早晨常服，有大功效。</p>

<h3>白豆蔻散</h3>
<p>補中益氣，調順脾元，心胸滿悶，不思飲食，上熱下冷。</p>
<p>白豆蔻仁（半兩）　肉豆蔻（三個）　白朮（一兩）　厚朴（薑汁炙，半兩）　甘草（三分，炙）　肉桂（半兩）　青皮（半兩）</p>
<p>上七味同為末，每服二錢，水一盞，生薑二片，粟米少許，棗二枚，同煎至七分，去滓，熱服，大妙。</p>

<h3>木香通真散</h3>
<p>治中脘氣不和，心胸滿悶，氣刺脅肋，飲食無味，和氣。</p>
<p>木香（半兩）　人參（一兩）　官桂（一兩半，去皮）　川芎（一兩）　陳皮（二兩，去皮）　茯苓（一兩）　青皮（一兩，去白）　神麯（一兩）　厚朴（一兩半，用生薑汁，塗炙令黃）　茴香（一兩，用舶上者）　檳榔（半兩，女人吃即入也）　桃仁（一兩，麩炒，去皮尖。）</p>
<p>上十二味，除桃仁另研外，余並搗羅為末，入桃仁，拌和令勻，每服一錢，水一盞，鹽少許，同煎七分，溫服。不拘時候，大能和順脾元氣。</p>

<h3>賺氣散</h3>
<p>治氣調中，和脾胃。御藥院云：治心胸痞悶，腹脅虛脹，飲食減少，氣不宣通。</p>
<p>荊三稜（五兩）　白朮（三兩）　蓬莪朮（五兩，煨熟，杵末）　枳殼（去白，一兩，麩炒）　木香（半兩）</p>
<p>上五味同為末，每服二錢，生薑三片，水一盞煎六分，溫服，如和脾胃，即更入棗同煎。若解傷寒，並三兩服汗出立瘥。</p>

<h2>下焦證</h2>

<h3>燒石子茴香散</h3>
<p>治下焦虛冷，臍腹撮疼，心胸痞脹，和元氣，進飲食。</p>
<p>舶上茴香　川附子（炮，去皮臍）　官桂（去皮）　木香　紫白戟（去心）　胡椒　陳皮（去白）　川椒（去目）　乾薑（炮，各半兩）　荊三稜（一兩，煨）</p>
<p>上一十味，同為細末，每服用獖豬石子一對，洗去筋膜，切作薄片，以末二錢，入蔥絲少許，鹽半錢，濕紙裹，煨熟，餌訖，以酒或粥飯壓之，須臾臍下暖，甚妙。</p>

<h3>牛膝煎丸</h3>
<p>治男子下元虛冷傷憊，筋骨衰弱，遍身癮疹，及風氣上攻下疰，疼痛不可忍者。</p>
<p>牛膝（五兩，去苗，切作細段，用好酒浸三日，取出細研，如麵糊，用酒於銅銀瓷器內，慢火熬，成膏，為度）　附子（炮，去皮臍）　川芎　虎骨（酥炙黃色，各三兩）　破故紙　葫蘆巴　蓯蓉（酒浸三日，細切，焙，各四兩）　巴戟（去心，生用）　仙靈脾（去莖幹，生用各一兩。）</p>
<p>上八味，各修事淨，一處杵為細末，用牛膝膏和，合入臼，杵令軟硬得所，丸如小彈子，如是難丸，更入少多熟蜜同丸，每日早晨及夜臥，溫酒化下一丸，嚼下亦得志意服一月，永無風氣攻疰及癮疹，自然肢體安暢。</p>

<h3>補骨脂丸</h3>
<p>治脾腎久冷，積氣成塊，或發疼痛，補暖。</p>
<p>大木瓜（一個，去皮瓤入硇砂一兩，去砂石，蒸令熟，研爛極）　補骨脂（炒）　薯蕷　官桂（去皮）　青皮　木香　懷香子　檳榔（以上各一兩）　荊三稜（半兩，醋浸一宿，炒令黃）　肉豆蔻（半兩。）</p>
<p>上九味為末，用木瓜為丸，如梧桐子大。每日空心鹽湯下二十丸，溫酒亦可。</p>

<h3>硇砂丸</h3>
<p>治男子元臟虛憊積冷（聖濟總錄名骨煎丸，治腎臟虛冷不思飲食，倦怠，無巴戟，有白朮）　羊脛骨（一條，去淨肉，用硇砂二兩，醋二升同煎，旋煎旋蘸，骨炙焦黃，以醋盡為度，焙乾）　木香　白檳榔　官桂（去皮）　人參　牛膝　茯苓　郁李仁　附子炮　巴戟（去心）　薯蕷　丁香　沉香　蓯蓉（以上各一兩）　石斛（半兩）　阿魏（半兩，用面三兩，先將醋化，溲作餅子，炙黃。）</p>
<p>上十六味，並杵羅為末，用酒煮麵糊為丸，如梧桐子大。每日空心，鹽酒或鹽湯，下二十丸。</p>

<h2>三焦總治</h2>

<h3>麻仁丸</h3>
<p>治三焦不和，臟腑虛冷，胸膈疰悶，大便秘澀。</p>
<p>麻仁（四兩，先以溫水浴，懸在井中五日，令生芽，日曬，退皮取仁）　大黃（四兩，二兩蒸熟，二兩生用）　白檳榔（一兩，半煨，半生）　山茱萸（一兩半）　薯蕷（一兩半）　官桂（去皮，一兩半）　車前子　枳殼麩（炒）　防風（各一兩半）　羌活（一兩半）　木香（二兩）　菟絲子（一兩半，酒浸一宿後，炒黃）　郁李仁（四兩）</p>
<p>上十三味，同為細末，煉蜜為丸，如梧桐子大。每服十五丸，至二十丸，臨臥溫水下。</p>

<h3>三焦散</h3>
<p>治三焦不和，營衛不調，肢體煩倦，頭目昏疼，飲食無味，多困少力，寒熱痰壅，頭旋。</p>
<p>前胡　柴胡（各去苗）　桔梗　羌活　獨活　人參　枳殼（麩炒）　鱉甲（去裙襴醋浸，炙黃，各一兩）　旋覆花（兩半）　甘草（半兩炙）　石膏（一分，如頭疼，旋入。）</p>
<p>上十一味為細末，每服一錢半，至二錢，水一盞，煎至七分，溫服。解傷寒發汗，入麻黃一兩，去節，同杵為末。如上焦多壅熱，入地骨皮一兩半。</p>

<h3>麥門冬散</h3>
<p>治三焦不利，心肺多壅，痰涎並積，口舌乾燥，咽嗌腫疼，肌體黃瘁，氣血不調。</p>
<p>麥門冬（去心，半兩）　桔梗　半夏（各一分）　貝母　升麻（各半兩）　蔓荊子（一分）　甘草（半兩）　前胡　防風　款冬花　桑白皮（各半兩）　杏仁（一分）　白朮（一分）　五味子（一分，用新者）　赤芍藥（半兩）　菊花（一分）</p>
<p>上十六味，各洗擇令淨，焙，杵，羅為末，食後夜臥，各進一服，每服二錢，水七分盞，生薑一片，同煎，至三分，去滓，溫服，大益心肺。</p>

<h3>牛黃甘露丸</h3>
<p>治三焦渴疾，飲水無度，舌上皴裂，肌肉黃瘦，精神減退，小便多，腹脅脹。</p>
<p>硃砂（一兩，成塊者）　牛黃（一分）　鐵粉（半兩）　犀角（半兩，銼）　丁香（半兩）　胡桐淚（半兩）　葳蕤（半兩）　麝香（一分）　銀箔（五十片）　地龍（半兩）　檳榔　牡蠣　苦參　石膏　錫蘭紙　甘草（炙）　白楄豆（各半兩，慢火炒）　鉛白霜（半兩）　麥門冬（半兩，去心）　知母（半兩）　宣連（一兩）　金箔（一百五十片）　生栝蔞根（一兩，杵研細。）</p>
<p>上二十三味，除栝蔞根，另杵同為細末，煉蜜和，臨和時即入金箔，及生栝蔞根，一處和勻，為丸如豌豆大。空心，金箔三片，銀箔三片，碎研，米飲下十丸，漸加至二十丸，飯後臨臥各一服，日近輕者，當日止，重者三日止，十日後，只空心一服，夜後一服，用金銀箔各一片，一月日外只用溫漿水下五十丸其藥合二月至九月，即用生栝蔞根，九月後只用煉蜜和為丸亦得，忌鹹酸炙爆魚酒等。</p>

<h3>利膈丸</h3>
<p>治三焦不順，胸膈壅塞，頭昏目眩，涕唾痰涎，精神不爽。</p>
<p>牽牛子（四兩，一半生，一半熟）　不蛀皂角（塗酥，炙令香熟用，二兩。）</p>
<p>上二味為末，以生薑自然汁煮糊，為丸如梧桐子大。每服二十丸，荊芥薑湯下。</p>

<h3>神妙沉香丸</h3>
<p>消化滯氣，調順三焦，空胸膈，理脾元，大能化酒食毒。</p>
<p>丁香（一分）　沉香（一分）　乳香（一錢半）　阿魏（少許）　肉桂（半兩，去粗皮）　舶上茴香（半兩，炒）　檳榔（二枚，冬加二枚）　肉豆蔻（二枚，夏加二枚）　蓽茇（半兩）　巴豆（十五個，去皮心，不出油，另研。）</p>
<p>上為細末，研入巴豆阿魏令勻，煮白米飯，為丸如綠豆大。每服五丸，生薑湯下。如胸膈氣不和，及元臟冷氣上攻，迷悶，加至十丸，溫酒下。常服，茶湯任下，要微動，以意加服之。</p>

<h3>橘香散</h3>
<p>調順三焦，平和胃氣，順氣。</p>
<p>白朮（四兩，米泔浸一宿，洗淨）　陳皮（二兩，去白）　茯苓（二兩，去皮）　甘草（二兩，炙）　附子（一兩，炮）　乾薑（半兩，炮。）</p>
<p>上為末，每服二錢，水一中盞，姜二片，棗一枚，同煎至七分，溫服，如覺傷寒，入荊芥煎服。</p>

<h2>五臟證治</h2>

<h3>茯神丸</h3>
<p>治心肺壅熱，口苦舌乾，涕唾稠黏，胸膈煩悶，不思飲食，肢體倦怠，或發煩熱，狀似骨蒸。</p>
<p>茯神（二兩，去皮木）　柴胡（一兩半，去苗）　黃耆（一兩半）　生乾地黃（二兩）　桔梗　鱉甲（二兩，醋炙黃色）　人參　白前（各一兩）　枳殼（一兩半，炙去白）　赤芍藥（一兩半）</p>
<p>上十味，杵為細末，煉蜜為丸如梧桐子大。每食後，生薑湯下十丸，臨時更加減服。</p>

<h3>金花散</h3>
<p>治心肺積熱，咽喉不利，口舌生瘡，心胸煩悶，痰涎並多。</p>
<p>綠豆粉（四兩）　雄黃（三分）　甘草（末七錢）　朴硝（五錢）　甜硝（五錢）　白豆蔻（半兩）　生腦子（半錢）　麝香（半錢）</p>
<p>上八味，杵為末，旋滴生蜜少許，研令勻，入瓷器內收貯，每服半錢，用薄荷水調下，小兒驚亦宜服之。</p>

<h3>潤肺散</h3>
<p>治肺氣壅滯，咳嗽不已。</p>
<p>甜葶藶（一兩，銚子內，紙襯，慢火內炒熱）　肉桂（一兩）　馬兜鈴（大者二枚，微炒用。）</p>
<p>上三味，杵為細末，每服一錢，水一盞，煎至七分，放溫，食後時時呷一口，可自早至午服盡，或臨臥溫水調，一字或半字，亦可。</p>

<h3>黃耆散</h3>
<p>治肺臟壅塞，咳嗽，涕唾稠黏，咽喉不利。</p>
<p>黃耆（去蘆，蒸出擘破，於槐砧上碎銼一兩）　山梔子（一兩，如雀腦者，去皮，以甘草水浸一宿，焙用）　茯苓赤者（以水中澄去浮者，炒用，一兩）　秦艽（一兩，須是於腳下左交裂者為秦，以布拭卻毛）　柴胡（一兩，去蘆以布拭去土淨，銼勿犯鐵器）　地骨皮（半兩）　川升麻（半兩）　甘草（半兩，炙）　黃芩（一兩）　人參（一兩。）</p>
<p>上十味，同杵為末，以瓷器內盛貯，每服三錢，水一盞同煎，至六分，去滓，溫服，食後服之。</p>

<h3>蛤蚧散</h3>
<p>治患肺痿，咳嗽，即肺壅嗽。</p>
<p>蛤蚧（一對，新好者，用湯洗十遍，慢火內炙令香，研細末）　人參　茯苓　知母　貝母（去心，煨過，湯洗）　桑白皮（以上各二兩）　甘草（五兩，炙）　大杏仁（六兩，湯洗，去皮尖，爛煮令香，取出研。）</p>
<p>上八味同為細末，入杏仁，拌勻，卻粗羅，再篩研細為妙。每服半錢，入生薑二片，酥少許，水八分，沸熱服，如以湯點，頻服亦妙。</p>

<h3>鵝梨煎丸</h3>
<p>治脾肺風攻，皮膚成瘡癬㿋癢，大化痰涎，解壅熱。</p>
<p>鵝梨（十個，大者，去皮核）　薄荷（一斤）　皂莢（十挺，肥大不蛀者，以上三味，於酸漿水中，揉取自然汁，濾去滓）　杏仁（四兩，去皮尖，爛研，將杏仁膏，並前自然汁，同於銀石器內，慢火熬成膏後，另入藥末）　防風（去蘆）　白蒺藜（微炒，去刺）　天麻（炙令通黃色，各二兩）　威靈仙（一兩，去泥）　甘草（炙，一兩）</p>
<p>上六味，杵羅為細末，入前膏內溲和為丸，如梧桐子大。每服食後，用溫漿水下十五丸至二十丸，臨臥時再服。</p>

<h3>救生丹</h3>
<p>治遠年日近肺氣喘急，坐臥不能。總錄，用作鉛丹。</p>
<p>雞內金（三七枚，雞肫內黃皮是也，旋取去，卻穀食，淨洗陰乾，每夜露七宿）　甜葶藶（半兩，洗焙）　黑牽牛子（半兩，用瓦上爆，令下焦）　砒信（一分，另研細，每夜露七宿，至晚收於床下）　半夏（一分，洗淨，焙浸一宿，換水七遍，生用）　黃丹（半兩，亦如砒信制。）</p>
<p>上六味為細末，煮青州棗大者，十二枚，去皮核，搗和為丸，如干，即入淡醋少許，丸如綠豆大，以硃砂為衣，食後臨臥，溫蔥茶下七丸，甚者十丸，不過三五服立效，須忌大冷大熱，毒食等。</p>

<h3>杏仁丸</h3>
<p>治肺氣喘急者，由肺乘於風邪，則肺脹，脹則肺不利，經絡澀，氣道不宣，則上氣逆喘或息鳴。</p>
<p>馬兜鈴　杏仁（去皮尖）　蟬蛻（各半兩，為末）　砒霜（一分）</p>
<p>上為細末，煮棗二十枚，去皮核，和藥末為丸，如梧桐子大。空心薄荷湯下二丸，妙。</p>

<h3>紫蘇膏</h3>
<p>治肺痿勞嗽喘促，涕唾稠黏，咽膈不利。</p>
<p>生地黃（三兩）　生薑（二兩，與地黃相和研，布絞取汁）　生天門冬（半斤）　生麥冬（一斤）　杏仁（三兩，生研入）　紫蘇子（二兩，炒研）　生牛蒡（四兩）　生元參（一斤）</p>
<p>上八味，洗令淨，銼碎同研，令如泥，蘇子杏仁投於地黃汁內，更以細物濾，絞汁去滓，於銀石器內盛，用煉蜜五兩半，真酥二兩，安於炊飯甑上，蒸一飯久，於淨器內收，不以時候，抄一小匙，咽之，如久服大益心肺，滑潤肌膚，補助營衛，忌生冷豬肉。</p>

<h3>秦艽散</h3>
<p>治肺痿勞，咳嗽不止，時覺寒熱，涕唾稠濁。</p>
<p>秦艽（炙）　柴胡（去蘆）　貝母（炮）　桔梗　麻黃（各一兩）　陳皮（一兩，去白）　甘草（三分，炙）　訶子（一兩半，煨，去核用肉，秤。）</p>
<p>上八味同為末，每服二錢，空心晚食前用小便一盞，烏梅一個，同煎三五沸，溫服。</p>

<h3>華蓋散</h3>
<p>治肺感寒氣，有痰咳嗽，久療不瘥。</p>
<p>紫蘇子（炒）　麻黃（去根節）　杏仁（去皮尖）　陳皮（去白）　甘草（半兩，炙）　桑白皮　赤茯苓（去皮，各一兩。）</p>
<p>上七味，同為末，每服二錢，水一盞，煎至六分，食後溫服。</p>

<h3>豆蔻湯</h3>
<p>治脾胃虛弱，不思飲食，吐嘔滿悶，胸膈不利，心腹痛。</p>
<p>草豆蔻肉（八兩）　生薑（和皮，切作片子，用一片）　甘草（四兩，銼碎。）</p>
<p>上三味，勻和入銀器內，用水過藥三指許，慢火熬令水盡，取出，焙乾，杵為末，每服一錢，點之，夏月煎之，作冷湯服亦妙。</p>

<h3>十味人參散</h3>
<p>調理營衛，進飲食，解利經絡，去久滯風邪。</p>
<p>人參　厚朴（薑汁炙）　官桂（去皮）　甘草（炙）　杏仁（去皮尖）　白朮　乾薑（炮）　茯苓（去皮）　麻黃（去節，倍加）　陳皮（去白。）</p>
<p>上各等分為末，每服二錢，水一盞，入姜煎七分熱服，如才覺吹著不安，連二三服汗出立愈。</p>

<h3>平胃散</h3>
<p>治脾胃氣不和，不思飲食。</p>
<p>厚朴（去粗皮，薑汁塗，炙，令香淨，二兩半）　甘草（炙，一兩半）　蒼朮（米泔水浸二日刮去皮，四兩）　陳皮（去白，二兩半）　人參（一兩）　茯苓（一兩）</p>
<p>上六味為末，每服一錢，水一盞，入生薑棗子同煎七分，去滓溫服，空心服之，或杵細末，蜜為丸如梧桐子大。每服十丸，鹽湯嚼下，空心服，治氣利膈，進食平胃，丸也，如做湯，入鹽點服，亦曰白朮湯，此藥本無人參茯苓二味，好事君子加之。</p>

<h3>丁沉丸</h3>
<p>治脾胃一切氣不和，吐逆不思飲食，霍亂不止，心腹刺痛，膨悶，胸膈噎塞，久積虛氣，傷酒痰逆，婦人血氣，及月候不調，理中。</p>
<p>丁香　沉香　木香　檳榔　白豆蔻　雲南根（各半兩）　肉豆蔻（去皮）　甘草（炙）　青皮（去白，各半兩）　人參　茯苓（各二兩）　白朮（四兩）　官桂（一分）　丁香皮（半兩）　訶子（一兩，去核）　麝香（一錢，研）　元參（一兩半）　柳桂（一分）　乾薑（一分，炮）　金釵石斛（一兩）</p>
<p>上二十味，同為細末，續入麝香，和勻，煉蜜為丸，如酸棗大。每服半丸或一丸，爛嚼，炒生薑橘皮鹽湯下，溫酒亦可。婦人炒生薑橘皮，醋湯下。</p>

<h3>草豆蔻散</h3>
<p>治脾胃氣不和，霍亂不止，酒食所傷，兼患脾泄，能和一切冷氣。</p>
<p>厚朴（二兩，去皮，用生薑三兩，取汁浸炙，汁盡為度）　草豆蔻（和皮，一兩）　乾薑（一兩，炮）　白朮（一兩，炮，黃色）　訶子（一兩，炮，去瓤，細切，炒，二兩。）</p>
<p>上為末，每服二錢。霍亂，冷米飲下，或酒調下。脾痛不可忍者，炒生薑酒下三錢。余即如湯煎服。</p>

<h3>椒樸丸</h3>
<p>治脾胃虛乏，伏積冷氣，吃食不消，多困羸瘦，面黃口淡，不思飲食。</p>
<p>梓州厚朴（去皮，用十兩以薑汁炙令香，細銼）　漢椒（揀淨，十兩）　鹽花（十兩）　黑附子（二兩，炮，去皮臍，銼碎。）</p>
<p>上以水十碗，於銀石器內，以文武火熬，候水盡為度，焙乾，同研為末，煉蜜並糯米粉，同為糊和丸如梧桐子大。每服二十丸至三十丸，空心溫酒下。如大腸滑泄，生薑米飲下。</p>

<h3>藿香丸</h3>
<p>治胃氣，消食，定霍亂，止嘔逆，進飲食，化冷痰。</p>
<p>藿香（一兩）　厚朴（一兩，去粗皮，薑汁炙令香熟）　甘草（三分，炙）　官桂（半兩，去粗皮）　青皮（三分，湯去瓤，細切，麵炒）　乾薑（一兩，炮）　枇杷葉（一分，炙，去毛。）</p>
<p>上七味，同為末，每服二錢，水一盞，姜二片，棗一枚，同煎七分，服。</p>

<h3>丁香散</h3>
<p>暖脾助胃，止心腹痛，進食，定嘔逆，治瀉痢。</p>
<p>肉豆蔻（去皮）　人參（各半兩）　白茯苓（去皮）　蒼朮（三分）　青木香（半兩）　吳茱萸　丁香（各一分）　厚朴（去皮，薑汁炙令香，半兩）　荊三稜（炮，半兩）　乾薑（炮銼，半兩）　芍藥（半兩，炙）　甘草（一分。）</p>
<p>上十二味，同杵細末，每日空心食前，米飲調下二錢。</p>

<h3>蓽澄茄散</h3>
<p>治脾元虛冷，氣不和，心胸不快，肚腹膨脹，氣刺氣痛，元氣㽲疼，不思飲食，酒色過度，面黃口淡。</p>
<p>蓽澄茄（半兩，炒）　荊三稜（三兩，炮，趁熱杵）　陳皮（二兩，去白）　香附子（三兩，炒）　甘草（二兩，炮）　丁香（二兩）　舶上茴香（二兩）　厚朴（一兩，去皮，薑汁炙令黃色）　蠻姜（一兩，一分）　官桂（二兩，去皮）　桔梗（一兩）　白鹽（十二兩，揀擇淨炒，研細，後入）　阿魏皂子（大一塊，麵裹煨，面黃為度，去面，另研細，旋入諸藥。）</p>
<p>上十三味，同為末，細研和令勻，每服一錢，入生薑二片，水八分盞，煎五七沸，熱吃，如作湯，入姜一錢點之，大療中酒，兼其味甚佳。</p>

<h3>香蘇散</h3>
<p>治肝亢風盛，刑于脾胃，致多飧泄，調順中脘，平和胃氣。</p>
<p>紫蘇葉（一分，揀擇淨，焙乾）　肉豆蔻（一分，去殼）　天雄（一分，銼碎，以鹽一分，同炒令黃色，住）　青皮（去白，一分）　蠻姜（半分，炮）　白朮（半兩，細銼，微炒黃色）　縮砂仁（一分）　川芎　甘草（各一分，炙。）</p>
<p>上九味為細末，每服二錢，水一盞，生薑三片同煎五分，溫服，日進三服。</p>

<h3>柴胡散</h3>
<p>治營衛不順，體熱黃瘦，筋骨疼痛，多困少力，飲食進退。</p>
<p>柴胡（二兩）　鱉甲（二兩）　甘草　知母（各一兩）　秦艽（一兩半）</p>
<p>上五味杵為末，每服二錢，水八分盞，棗二枚，煎六分，熱服。</p>

<h3>烏頭丸</h3>
<p>補暖水藏，壯筋骨，縮小便，大治風。</p>
<p>川烏頭（一斤，用東流河水浸二七日，每日三度換水，日滿，取出黑皮，並臍尖，切作柳葉片，入牽牛子一合，同炒，候香熟，去牽牛子不用）　舶上茴香（二兩，另杵為末）　青咸（五兩，另研）　陳皮（去白，二兩）　牛膝（五兩，細切，以好酒浸一七日，爛研）　川椒（五兩，揀去子。）</p>
<p>上六味，依法修制，用牛膝膏拌和勻，入臼，再杵千下，丸如梧桐子大。每日空心，鹽湯溫酒任下十丸，至二十丸。（牛膝雖酒浸後，爛研，與諸末拌和，恐難得細，或只將牛膝浸，日足後，焙乾為末，卻將浸牛膝酒，煮糊和末為丸，亦可，若更服利膈湯散，最相宜也。）</p>

<h2>諸氣</h2>
<p>夫人之生，稟於營衛，人之本皆繫於氣，氣若和平，邪正不能幹犯，氣若盛衰，百病由是生焉，故怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收聚，熱則腠理開，而氣泄，憂則氣亂，勞則氣耗，思則氣結。經曰：九氣七氣，及言諸氣者，皆不出於此也，診其脈，寸口伏，胸中逆氣，是諸氣上衝胸中，故面跗腫，喘息，如脈浮大，不治，上氣脈躁而喘者，屬肺；肺脹欲作風水，發汗即愈，其脈若虛，寧得伏匿者生，牢強者死，喘息低不得者，其脈滑，手足溫即生。如脈澀，及手足冷死，數者亦死，謂其形損故也。至於五積六聚，癥瘕癖塊，皆由陰陽不和，臟腑虛弱，受於風邪，搏於臟腑之氣所為也。腑者六腑也，臟者五臟也，臟為陰，腑為陽，陽浮而動，陰沉而靜。是以五臟積症發不離其部。上下有所窮，已聚，瘕者六腑所成，痛無常處，上下無所留止，蓋由臟腑受邪，初未能為疾，留滯不散，乃成癥瘕也。</p>

<h3>丁沉香丸</h3>
<p>治一切氣不和，心腹疰悶，氣脹胸膈，噎塞不利，及積冷氣，或時攻衝脾胃氣逆，不思飲食，霍亂不止，臟腑滑泄，酒食所傷，醋心不消，冷痰並多，大效。</p>
<p>甘草（炒）　官桂（去皮）　沉香　丁香　木香　檳榔　訶子（炮，去核，各半兩）　人參（一兩半）　白朮（四兩，銼碎，炒黃）　白豆蔻（去皮，半兩）　肉豆蔻（半兩，去皮）　青皮（去瓤，半兩。）</p>
<p>上十二味，同為細末，煉蜜為丸如小彈子大。每服一丸，生薑湯嚼下。</p>

<h3>阿魏丸</h3>
<p>治男婦一切氣攻刺疼痛，呼吸不得，大腸滑泄。</p>
<p>阿魏（一兩半）　當歸（兩半，細切，醋炒）　官桂（半兩）　陳皮（半兩，去白，細切醋炒）　白芨（三分）　吳白芷（半兩）　蓬朮（一兩）　延胡索（半兩，銼碎，醋炒）　木香（三分）　吳茱萸（半兩，醋炒）　川芎（半兩，醋炒）　附子（半兩，炮去皮臍）　乾薑（一兩，炮）　肉豆蔻　硃砂（各三分，研細末。）</p>
<p>右除阿魏硃砂外，同杵為細末，以頭醋半升，浸阿魏，經宿，用生絹袋取汁，煮麵糊為丸如梧桐子大。以硃砂為衣，每服五丸，溫酒下，橘皮湯亦可，婦人醋湯下。</p>

<h3>小丁沉丸</h3>
<p>治一切氣疾，開胃口，消酒食毒。</p>
<p>甘草（一兩，炙）　縮砂（一兩，去皮）　白芷（一兩，炒黃）　阿魏（一兩，用醋半斤，煎為膏，入諸末在內）　麝香（少許）　木香（半兩）　丁香（半兩）　陳皮（四兩，去白）　益智（一兩）　舶上茴香（半兩，炒）　生薑（一斤，細切，入青咸四兩，拌勻，入合和，經一宿焙乾）　沉香（一兩。）</p>
<p>上一十二味，杵為末，醋煮麵糊為丸如雞頭，用硃砂為衣，空心，及吃酒，或鹽薑湯，嚼下一二丸，大化酒食毒，和氣。</p>

<h3>塌氣散</h3>
<p>治虛氣攻衝，心胸滿悶，元氣冷疼，及一切氣不調順。</p>
<p>舶上茴香（炒）　枳殼（去白，麩炒）　茯苓　人參（各一兩）　陳皮（去白，二兩）　青皮（去白，二兩）　甘草（半兩，炙）　蒼朮（半兩）　丁香（一分）　乾薑（半兩，炮）　高良（一分。）</p>
<p>上十一味同杵為末，每服一錢，水一盞，入生薑棗同煎，至七分，熱服，入鹽如茶點服亦可。</p>

<h3>撞氣丸</h3>
<p>治一切氣。</p>
<p>木香（半兩）　荊三稜（一兩，炮）　青皮（一兩，去白）　胡椒（一兩）　官桂（一兩，去皮）　乾薑（半兩，炮）　木瓜（末一兩）　茴香（一兩，炒）　甘草（一兩，炒）　檳榔（一兩，炮）　阿魏（一錢，用白麵和，煨熟。）</p>
<p>上十一味，搗羅為末，用蒸餅，先水浸過，後和為丸，如彈子大，硃砂為衣，每服一丸，鹽湯嚼下。</p>

<h3>乳香丸</h3>
<p>散滯氣，消酒食，利胸膈，化痰，和順元氣，止冷氣攻刺。</p>
<p>乳香　沉香　沒藥　木香　硃砂（細研）　枳殼　烏頭（炮）　蓬莪朮　檳榔（各一兩）　芫花（醋炒令赤）　狼毒（醋熬）　乾漆（炒，各半兩）　阿魏（一分）　青皮（三分）</p>
<p>上一十四味，同杵為末，以硇砂一兩半，用水飛過，去砂石，以川楝子肉四兩為末，同以好醋熬成膏，入在前末，和勻，為丸如豌豆大。每服十丸十五丸，溫酒，或薑湯鹽湯任下，亦可。</p>

<h3>桂枝丸</h3>
<p>治氣，利胸膈，進飲食，充肌膚，療心疼腹痛，若宿酒後服妙。</p>
<p>檳榔（三個，大者）　牽牛（三兩，以一半麩內炒，一半生用）　官桂（三兩，去皮）　青皮（二兩，去白）　陳皮（二兩，去白）　乾薑（二兩，炮。）</p>
<p>上六味，同為細末，煮醋，麵糊為丸如綠豆大。每服十五丸，茶酒任下，如婦人心腹疼，即醋湯下。男子用茴香湯下。</p>

<h3>勝金丸</h3>
<p>治一切氣不和及女人血氣腫，化積滯，消酒食。</p>
<p>芫花　大戟　甘遂　牽牛　荊三稜　乾漆　青皮　陳皮（去白）　巴豆（各半兩）　硇砂　膽礬（各一分。）</p>
<p>上除硇砂膽礬外，余並用生薑半斤，搗碎，入好醋一升，浸一宿，取出，姜不用控干，焙令乾為末，醋化硇砂，並膽礬。煮麵糊，攪和為丸，如豌豆大，消酒食，及常服茶酒任下，三五丸。婦人心氣痛，醋湯下。水氣及一切氣腫，並痢疾，生薑酒下。一切氣不和，生薑湯下。</p>

<h3>五積散</h3>
<p>治一切氣。</p>
<p>蒼朮（二十兩）　桔梗（十兩）　陳皮（六兩，去白）　吳白芷（三兩）　厚朴（二兩，去皮）　枳殼（四兩，麩炒）　官桂（去皮，春夏用三兩，秋冬用四兩）　芍藥（一兩）　白茯苓（一兩，去皮）　當歸（二兩）　人參（二兩）　川芎（一兩半）　甘草（三兩）　半夏）一兩，洗七遍）　乾薑（春夏用一兩半，秋冬用二兩）　麻黃（去節根，春夏用二兩，秋冬用三兩）</p>
<p>上各洗擇淨，焙乾，除官桂枳殼另杵外，諸藥同為粗末，分作六分，於大鐵鍋內，以文武火炒令微赤黃熟為度，不可令焦，須是勻，取出以淨紙襯，安板床下，候冷，勿令塵土侵，卻入前枳殼官桂末，和勻，密器內收貯；若陰氣傷寒，手足逆冷，或睡裹虛驚，及虛汗不止，脈氣沉細，面青，或手足冷，心多嘔逆，宜入順元散一錢，同煎，熱服；或婦人產前胎不安，及傷腹痛，只依常法，以末二錢，水一盞，煎至七分服；如生產痛陣疏，及艱難，經兩三日不生，胎死腹中，或產母頓無力，產戶干，即入順元散同煎，以水七分，酒煎數十沸，相次吃兩服，其產母便省有力，其血氣內和，便自有痛陣，胎死者不至三服，其順元散多少，量產母虛實用之，神效；或是傷寒，遍身煩熱頭痛，每服更入蔥白一莖，豉七粒同煎服之，連吃三服，出汗，陽毒不宜；或脾胃不和，內傷冷食，渾身疼痛，頭昏無力，或痰逆，或胸膈不利，氣壅，或多噎塞，飲食不下，及元氣攻刺，兩脅疼痛，及女人血海久冷，月候不勻，走疰腹痛，及不行者，並如常法，前服順元散。</p>

<h3>順元散</h3>
<p>川烏頭（二兩，炮去皮臍）　附子（一兩，炮去皮臍）　天南星（一兩，炮）</p>
<p>上三味，同為細末，每服入前散子用之。</p>
<p>豆蔻散　和一切氣，及疏轉後，用之亦可。</p>
<p>肉豆蔻（三個）　官桂（一分，去皮）　川芎（一分）　香附子（二十一個，炮過）　零陵香（一分）　陳皮（去白，一兩）　甘草（三分，炮）</p>
<p>上七味，同為散，每服一錢水一盞，薑棗同煎六分，不拘時，男婦老少並宜服之。</p>

<h3>治項氣方</h3>
<p>豬靨（二七個，於瓦上爆干）　甘草（一兩）　桑白皮（一兩）　石榴（根皮一兩，醋炒）　刺椿（根頭皮一兩）　黃柏（少許）　膩粉（一十五文）</p>
<p>上七味同為散，每服二錢以陳米飲調下，空心臥服，忌生冷油膩動風物。</p>

<h3>磁石丸</h3>
<p>治諸氣腫，大有妙效，次用補藥。</p>
<p>羌活　陳皮　木香　澤瀉　赤茯苓（去皮　附子炮，去皮臍）　檳榔　白朮　訶子（炮，去皮用）　肉蓯蓉　椒紅　上好磁石（吸鐵多者，燒赤，入醋中，淬十次，細研，水飛過，至極細為妙）　烏頭（炮）　桑白皮（另研羅為末，不用筋滓）　鱉甲（醋炙令黃）　官桂（去皮）　黃耆（另研，取細末）</p>
<p>上一十七味，各半兩為末，用羊石子，或獖豬石子，去筋膜，生，細研和末，再杵一二千下，如硬，更入酒，糊丸如梧桐子大。焙乾，空心日午，溫酒下二十丸至三十丸。切忌房室，並咸藏諸毒物，須至百日外。</p>

<h3>分氣丸</h3>
<p>消滯氣，利胸膈，止心疼，化酒食毒，治腹脅脹滿。</p>
<p>荊三稜（醋浸一宿，切作片子，焙乾用）　牽牛（微炒）　大戟（各三兩，細銼，炒令紫色）　芫花（二兩，醋炒）　甘遂（二兩，槌碎，炒令黃色住）　官桂（去皮，一兩。）</p>
<p>上同杵為細末，以醋煮糊，為丸如綠豆大，每服十丸，煎陳皮湯下，不嚼破，如大段，腹脹膨滿，氣滯，如要行動，漸加丸數，並吃三兩服，以微利為度。</p>

<h3>搜症丸</h3>
<p>治結氣。</p>
<p>硇砂　川烏頭　官桂　乾漆（各半兩）</p>
<p>右搗為細末，用青州棗煨熟，取肉為丸如綠豆大。每棗肉一個，用巴豆五枚，一處同杵，一二千，每服五丸，木瓜酒下。</p>

<h3>七聖散</h3>
<p>治氣。</p>
<p>厚朴（四兩，去皮後銼細，用薑汁浸一宿，炒令紫黑色）　生薑（二兩，洗淨，細切作片子，日曬乾，另炒令紫黑色）　甘草（二兩，細銼，炒令紫黑色）　陳皮（去白，六兩，炒令勻）　曬豆蔻（二兩，炮後銼細，炒令勻。）</p>
<p>上各炒了，更同炒令勻，同為細末，常服二錢，入鹽少許點吃，忽患脾氣等疾，每服三錢，姜二片，棗二枚。</p>
<p>水一盞同煎，至六分，溫服。婦人冷血氣，亦宜服，忽氣瀉及氣痛等疾，並宜服食。凡疏轉後，並宜以此補治之。</p>

<h3>補陰丹</h3>
<p>治男子本臟氣，婦人血氣，一切氣疾，及產後一切血臟病患，宜服之。</p>
<p>硃砂（去石）　硇砂（去石）　延胡索　木香　半夏（湯浸七遍）　芫花（醋浸，炒黃色）　斑貓（去翅足，酒浸後，炒令焦黑止，各半兩）　川苦楝子（醋浸，炒黃）　荊三稜　海蛤　蓬莪朮　大附子（炮，去皮臍）　舶上茴香　青皮（各一兩）　肉豆蔻（三枚）　檳榔（三枚）</p>
<p>上一十六味，搗羅為細末，酒煮麵糊為丸如梧桐子大，每服五七丸，女用醋湯，男用溫酒或鹽湯下，空心臨臥各一服。此藥大健脾元能療小腸氣，膀胱氣刺疼痛，婦人產後，惡物不盡，變作血瘕者，並宜服之。</p>

<h3>蔥白散</h3>
<p>治一切冷氣不和，及本臟膀胱氣攻衝疼痛，大治婦人產前產後，腹痛，胎不安，或血刺者，兼能治血臟宿冷，百骨節倦疼，肌瘦，怯弱，傷勞帶癖，服久盡除，但婦人一切疾病，最宜服之。</p>
<p>川芎　當歸　枳殼（去白，麩炒）　厚朴（去白，薑汁炙）　官桂（去皮）　乾薑（炮）　芍藥　木香　青橘皮（去白）　神麯（炒）　麥蘖（炒）　人參　蓬莪朮（醋浸一宿，焙）　舶上茴香（炒）　荊三稜（炮）　苦楝子　茯苓（去皮，各一兩）　乾地黃（一兩　大黃半兩，二味酌用）　訶子（半兩，去核）</p>
<p>上二十味，同杵為末，每有患者三平錢，常服之，只須用二錢，用大蔥白二寸分中擘破用清水一盞，同煎至七分，然後入鹽半錢，和滓熱服，至方內訶子大黃二味，或有用者，或有不用者，蓋相度病狀可入即入，不可入即不必入。蓋此二味多不全用，若須入大黃，即服時不須更入鹽也。</p>

<h3>丁香煮散</h3>
<p>治一切冷氣攻衝，心胸不利，不思飲食，腹脅刺痛，口舌無味。</p>
<p>丁香（一兩三分）　蓬莪朮（二兩）　蓽澄茄（一兩半）　枳殼（一兩三分，炒令黃色）　藿香（一兩半）　沉香（一兩）　麝香（半兩）　芍藥（半兩）　當歸（三分）　訶子（二兩，去核）　前胡（一兩）　人參（一兩）　京芎（一兩）　木香（三分）　檳榔（七個）　豆蔻（去皮，七個。）</p>
<p>上一十六味，同搗為末，每服一錢，水一盞，煎至五分熱服，大治吐逆，及酒後嘔吐不止，胸膈悶，不思飲食。</p>

<h3>沉丁煎丸（又名蓽澄茄丸）</h3>
<p>治心腹冷氣不和，絞刺疼痛，大效。</p>
<p>蓽澄茄（新者）　沉香　木香　丁香　檳榔　肉豆蔻（去皮）　官桂（去皮）　當歸（淨洗去土，切細，焙乾）　川苦楝子　高良（姜）　茴香（炒）　蓬莪朮（各一兩）</p>
<p>上一十二味，杵羅為末，用附子二兩炮，烏頭二兩炮，另杵為末，用米醋五升，浸硇砂一兩，經一宿，澄去砂石，以此醋煮附子烏頭為糊溲和前藥末為劑，杵三五百下，為丸，如彈子大。每服一丸，細嚼，丈夫炒生薑鹽湯下，婦人炒生薑醋湯下。有孕不可服，但腹諸疾，服之必瘥。</p>

<h3>大阿魏丸</h3>
<p>治男子女人一切冷氣，霍亂吐瀉，元氣將脫，四肢厥冷，本臟氣上攻築，心疼，悶絕，不知人事，及治傷冷傷寒，或氣虛夾陰氣傷寒，並見，先此用，正真氣。</p>
<p>阿魏（一兩半，以醋化入白麵三兩匙，同和為餅子，炙令黃）　石菖蒲（一兩半，並以泔浸一宿炒）　厚朴（三分，去粗皮，以生薑汁塗炙，淨，秤）　硫黃（一兩半，研如粉）　檳榔　白朮（各一兩，炒）　訶子（一兩，炮，去核）　桃仁（三分，麩炒，去皮尖，另研細）　青木香（一兩）　乾薑（半兩，生）　附子（一兩半，炮）　當歸（三分）</p>
<p>上一十二味，除硫黃桃仁外，同細杵為末，次入硫黃桃仁同研令勻，以稀麵糊為丸如梧桐子大。每服十丸，溫酒鹽湯任下，女人醋湯下，並用空心服，如常服即大壯元氣，飲食駐顏。</p>

<h3>理中丸</h3>
<p>治一切冷氣攻刺疼痛，心腹脹滿，胃冷吐逆，臍腹撮疼。</p>
<p>阿魏（一分，用白麵兩匙，醋和作餅子，炙令黃熟）　荊三稜（煨）　蓬莪朮（煨）　甘草（炙）　青橘皮（去白）　陳皮（去瓤）　乾薑（炮）　官桂（去皮）　乾木瓜　白朮（各一兩）</p>
<p>上一十味杵羅為末，用麵糊為丸如櫻桃大。以好硃砂為衣，每服一丸，嚼破，煎生薑木瓜、鹽湯下。如婦人血臟氣攻刺，即用炒當歸生薑湯，嚼下一丸，一切氣痛，但服此藥，必效。</p>

<h3>順氣散</h3>
<p>調順冷氣，解利傷寒。</p>
<p>吳茱萸（洗淨，春夏用一分，秋冬用半兩）　麻黃（一兩，去節）　人參（半兩）　甘草（一兩，炙）　訶子（半兩，煨，去核，秤）　厚朴（一兩，去皮，薑汁炙）　陳皮（一兩，去白）　乾薑（半兩，炮）　大黃（三分　官桂一兩，去皮。）</p>
<p>上一十味同為末，每服一平錢，水一中盞，姜二片，棗一個，同煎六分通口服。如外傷風邪，即先服此藥三服，次吃發汗丸散，必效。</p>

<h3>蓽澄茄丸</h3>
<p>治丈夫元陽虛，冷氣上衝，心胸滿悶，腸脅雷鳴，或多攻刺，嘔逆膨脹。</p>
<p>沉香　丁香　木香　舶上茴香（各半兩）　烏藥（一兩）　白芷（一兩一分）　胡蘆根（三分）　蓽澄茄（一分）</p>
<p>上八味，同為末，煉蜜為丸如彈子大。每服一丸，姜鹽湯嚼下。</p>

<h3>硇砂木香丸</h3>
<p>治丈夫婦人一切冷氣攻刺疼痛，或成積聚，隱見不常，發則癘刺。</p>
<p>巴豆（一兩，去皮，以紙出油盡為度，另研）　硇砂（半兩，另研細，後入巴豆，入諸藥）　附子（一枚，炮，去皮臍）　官桂（去皮）　茱萸（炒）　舶上茴香　荊三稜（炒）　乾薑（炮）　木香　丁香（各等分）</p>
<p>上一十味，同為末，用乾柿一枚，洗過輕蒸令軟，和末，丸如綠豆大。取食利胸膈氣，淡茶下十丸，女人血氣及諸般氣，艾酒下，丈夫臟腑氣，蔥酒下，化痰津液下，酌其虛實，加減丸數。</p>

<h3>七香丸</h3>
<p>消化酒食毒，破心胸冷氣，攻刺疼痛。</p>
<p>丁香（二分）　官桂（一分）　青皮（半兩）　巴豆（二十粒，去皮膜，以紙出油用）　縮砂（半兩，去皮）　木香（一分）　檳榔（三枚）</p>
<p>上七味為末，醋糊為丸如綠豆大。每服十丸十五丸，薑湯茶酒任下。</p>

<h3>勝金丸</h3>
<p>治冷熱氣不和，不思飲食，或腹痛癘刺。</p>
<p>小梔子　川烏頭（各等分）</p>
<p>上同生杵為細末，酒糊為丸如梧桐子大。每服十五丸，炒生薑湯下，如小腸氣痛，炒茴香蔥酒下二十丸。</p>

<h3>沉香蓽澄茄散</h3>
<p>治一切冷氣不和，及膀胱小腸氣疾，常服即大妙，能補護，四十歲以上者宜服之。</p>
<p>蓽澄茄　沉香　胡蘆巴（微炒）　舶上茴香（微炒）　破故紙（微炒）　官桂（去皮）　川苦楝子（炮，槌破，去核用肉）　木香　紫巴戟（穿心者，以上各一兩）　桃仁（麵炒，去皮尖用，二兩）　川烏頭（半兩，炮，去皮臍）　黑附子（炮製，去皮臍用，四兩。）</p>
<p>上一十二味，同杵為細末，每服二錢，水一大盞，入鹽同煎至八分，溫服，又小腸一切氣痛，服之有效，如空心，入鹽點半錢，熱服。</p>

<h2>諸積</h2>

<h3>救生丹</h3>
<p>消酒食，化滯氣，空利胸膈。</p>
<p>丁香（一分）　肉桂（一分去皮）　大甘草（七錢，炒存性）　面姜（半兩，燒存性）　木香（一分）　巴豆（十五個，去殼，油煎令黑色為度。）</p>
<p>上六味，杵為細末，以酒煮麵糊為丸如綠豆大，茶酒送下三二丸。</p>

<h3>硇砂丸</h3>
<p>消久積食，治心腹腸滿，胸膈不利，痰實胃噎。</p>
<p>硇砂（好者，秤二錢研）　狼毒（銼碎，醋拌微炒乾用，一兩）　巴豆（十五枚，去皮膜，以醋一升，煮令紫色）　鱉甲（醋炙黃香，一兩）　芫花（醋浸一宿，炒黃色，一兩）　乾漆（一兩）　硫黃（一分，細研。）</p>
<p>上杵為細末，同和勻一處煮麵糊為丸豌豆大。每服三丸，食後臨臥，溫生薑湯下。</p>

<h3>萬金丸</h3>
<p>消化積滯，調三焦，空利胸膈，定氣，刺疼痛，腹脅脹疼，冷氣攻疰，婦人血氣，小兒夜啼，胃冷痰涎，並宜服此。</p>
<p>舶上硫黃（一分）　巴豆（去皮，秤半兩二味同以生絹袋子盛，於漿水內，用文武火煮，一伏時放冷，另研，極細）　柴胡（半兩，去蘆）　附子（一兩，炮）　乾薑（半兩）　陳橘皮（去白，一分）　桔梗（一分）　青黛（半兩）　當歸（一分）</p>
<p>上九味，同為細末，以面為丸如小豆大，每服二丸至三丸，溫水下。婦人血氣，醋湯下；小兒夜啼，常服一丸，溫水下；水瀉生熟水下；血淋，地榆湯下；白痢，乾薑湯下；痰涎並多，生薑湯下；一切氣疾，煎生薑橘皮湯下，並不以時候服。</p>

<h3>三稜丸</h3>
<p>治積年五臟氣塊積滯。</p>
<p>荊三稜　石三稜（二味，釅醋浸一宿，取出切杵為末，醋熬成膏）　青皮（去白）　硇砂（以溫水飛過，熬成霜）　厚朴（去皮，薑汁塗炙）　雞爪三稜（炮）　巴豆（出油，去皮膜，以上各半兩）　檳榔（二個，生用一個，炮用一個）　肉豆蔻（一個去殼）　乾漆（一分，炒）　木香（一分）</p>
<p>上一十一味為末，入於膏子內，和搗一千下，丸如綠豆大，每服五丸。如氣痛，茴香湯下；臍下氣塊，神麯湯下；心膈氣，禹餘糧湯下；左脅塊，柴胡湯下；右脅，木香湯下；血氣塊，當歸酒下；血氣痛，赤芍藥湯下五七丸。</p>

<h3>氣針丸</h3>
<p>治久積風壅，疏利滯氣，空胸膈，止刺疼。</p>
<p>牽牛（二兩，一半生，一半炒）　木香　青皮（去白）　川大黃（微炮）　檳榔（一兩）</p>
<p>上五味為末，煉蜜為丸如梧桐子大。每服十五丸至二十丸，以溫水下。</p>

<h3>三稜丸</h3>
<p>治積聚氣塊，及和脾胃，或心腹滿悶噎塞者。</p>
<p>荊三稜（三兩，擘破，以好醋三升，用文武火煮，令盡為度，勿於鐵器中）　枳殼（去瓤，麩微炒，一兩）　木香（一兩）　青皮（一兩）　檳榔（一兩）　官桂（去皮，一兩）　甘草（二兩，炮。）</p>
<p>上七味同杵為末，每服一大錢，水一盞，煎至七分，去滓，溫服，如患在膈上，即食後服之。</p>

<h2>膈噎</h2>

<h3>通關散</h3>
<p>治五膈氣，噎塞妨悶，遍身虛腫，涕唾稠濁，不下飲食。</p>
<p>麥蘖（三錢）　馬兜鈴（三錢）　訶子（一枚）　莞花（三錢，漿水浸，微炒）　硃砂（一錢）　白丁香（三錢）　黃丹（一錢）　硼砂（二錢，飛去砂石）　白礬　鉛白霜（各一錢）</p>
<p>上一十味，同研，令至細勻，每服一錢半，入膩粉兩文，雞蛋一個，去黃，只取清，調末，卻入雞蛋殼內，用濕紙裹，慢火煨熟，放冷，爛嚼，臘茶湯下，臨臥服之，來日，逐下黑惡物，永瘥。如小可噎閉，依法服一錢，必效。</p>

<h3>半夏散</h3>
<p>治五膈氣噎，心胸不利，涕唾稠黏，飲食進退。</p>
<p>半夏（半兩，薑汁浸一宿，焙乾）　厚朴（半兩，去皮，薑汁炙）　枇杷葉（炙去毛，半兩）　肉豆（蔻一個，去殼）　母丁香（二十五枚）　青丁香（一塊棗大）</p>
<p>上六味為細末，每服一錢，水八分盞，煎六分，和滓熱服，酒後服，尤妙也。</p>

<h3>檳榔散</h3>
<p>治胸膈注悶，噎塞不快，不思飲食，大治脾胃一切病，並腎膈氣，醒酒化氣。</p>
<p>檳榔　木香　人參　甘草（炙）　荊三稜（擘破，煨）　乾薑（炮）　官桂（去皮）　青皮（去白）　厚朴（去皮，用薑湯炙令香黃色）　神麯（炒）　白朮米（泔浸一宿，焙乾，以上等分）</p>
<p>上十一味，杵為末，每服點半錢，入鹽少許。如患脾胃病，並腎膈氣，每服一錢，入鹽湯服，甚妙。</p>

<h3>蓽茇散</h3>
<p>治噎疾。</p>
<p>虎頭王字骨酥炙，額骨是也　蓽茇微焙　人參　羚角屑以上各等分</p>
<p>上四味為末，每服二錢，溫水調下臨臥，食後服。</p>

<h1>卷三</h1>

<h2>目疾</h2>
<p>目者五臟六腑之精華，宗脈之所聚，肝臟外候也，臟腑虛實，風邪痰熱所乘，風傳於肝，上衝於目，故為病多矣。若血氣充實，則瞻視分明，若營衛虛損，則目多昏暗，風冷則淚出勞熱則赤澀，如久不愈往往變為大病，其臟主血，足厥陰是其經也。</p>

<h3>防風散</h3>
<p>治風毒眼，暴赤眼。</p>
<p>菊花　防風　甘草　威靈仙　黃連　牛蒡子（各三分）</p>
<p>上杵為末，每服一錢，風眼，蔥湯下，赤目，新汲水調下，日可二服。</p>

<h3>撥雲散</h3>
<p>治風毒，眼目昏暗，翳膜遮障。</p>
<p>菊花　防風　白蒺藜（炒令黃）　羌活　柴胡（去蘆）　甘草（炙，各等分）</p>
<p>上六味同為末，每服一錢半，水一盞，煎至六分，食後臨臥溫服之。</p>

<h3>大明散</h3>
<p>治一切風毒氣眼，翳膜昏暗，眼睛澀疼，熱淚時多。</p>
<p>蟬蛻　白蒺藜　川羌活　荊芥穗　黃耆　烏蛇皮（各等分，蛇皮蟬蛻二味，入罐子內，蓋好口洗般過）</p>
<p>上六味同為末，研令勻，每服一錢，酒調下，日三服，神效。</p>

<h3>芎羌散</h3>
<p>治男女血風毒眼，昏澀赤爛，丈夫腎臟風毒氣，眼癢腫疼，退翳膜，洗睛輪。</p>
<p>荊芥穗（炒）　牛蒡子（炒）　木賊　蒼朮（生用，各等分）</p>
<p>上用為末，每服二錢，煎荊芥湯點臘茶調下，日可三服，空心日午臨臥各一服。</p>
<p>大效洗輪散　治風毒攻疰，眼目赤疼，大退翳膜，去瘀肉，洗風砂鐵屑磁末，因入目澀痛。</p>
<p>仙靈脾（葉去梗）　秦皮　黃連　槐花（各等分）　生犀角（鎊少許）</p>
<p>上五味同杵，研為細末，每服半錢，以新水調，澄清洗之，砂鐵等，不三兩上，自然退在水中。如風毒眼，即時每半錢，水一盞，煎至七分，放熱洗之，每服可經三次。</p>

<h3>青金丹</h3>
<p>治丈夫女人一切風毒上攻，眼目赤腫昏澀，時發癢疼，或綠眶赤爛，冷淚頻多，及氣毒上攻，外障翳膜，赤筋瘀肉，並能理療，小可暴赤眼腫痛，點之立瘥。</p>
<p>真銅青　蕤仁（以水浸去皮尖，與銅青一處，浸二宿，去水，爛研）　生龍腦（細研，半錢）　生犀（淨水磨，紙上飛過，秤用）　真珠母（以水磨，控干，取下秤，四味，各一兩）　海螵蛸（水飛過，干秤，半錢）　白丁香（以水研飛過，去滓，控干秤，半錢。）</p>
<p>上七味各研磨後，將銅青與蕤仁同殺，研如糊，次入白丁香研，次入下三味，後又殺研令勻細，用細香墨，濃研汁，於淨器中，相度，和熱為度，丸如綠豆大。每丸用兒孩子乳汁化點之，余者且以紙蓋，如點時干，再入乳汁化之，未用者，常以生腦子，養在磁器中存貯。</p>

<h3>羌活散</h3>
<p>治男子婦人小兒遠年日近毒氣上攻眼目，昏暗赤澀，瘀肉生瘡，翳膜遮障不明，及久患偏邪頭疼眼目漸小細及有夾腦風痛，多視黑花，但有此狀，服藥五日見效。</p>
<p>羌活　川芎　天麻　旋覆花　青皮　天南星（炮）　藁本（以上各一兩）　牽牛子（六兩，杵取二兩末，余者不用，微焙乾）</p>
<p>上八味，一處為末，後入牽牛末，和勻，取生薑自然汁煮，麵糊為丸，如梧桐子大。每日食後，溫酒鹽湯米飲任下二十丸，日進三服，不翳內外障及暴赤眼。</p>

<h3>蟬蛻散</h3>
<p>治眼目赤疼澀腫，兼生翳膜瘡等。</p>
<p>蟬蛻　地骨皮　宣連　菊花　白朮　蒼朮　牡丹皮　草龍膽（以上各一兩）　甜瓜子（半升）</p>
<p>上九味，同杵為末，每服一錢半，瓜子荊芥同煎湯調下，每日食後臨臥各一服。大治時疾後餘毒上攻眼目，甚效，忌熱面牙豆醋醬等。</p>

<h3>仙術散</h3>
<p>治眼目翳膜遮障，昏暗，退翳。</p>
<p>蒼朮（一兩，米泔浸，淘一兩宿）　木賊（一兩）　蟬蛻（一分，淨泥秤）　穀精草（一分）　甘草（一兩，炙）　黃芩（半兩）　蛇退（皮一錢，湯洗焙乾，滴油，杵）</p>
<p>上七味同為細末，每服一錢，空心臨臥時，冷水調下。</p>

<h3>磁石丸</h3>
<p>治內外障翳，不問年遠近，及中一切疾。</p>
<p>磁石（三兩，須燒令透赤，旋投淡醋內淬之。十遍後，搗篩過，入乳缽內，用水少許，研細泥，更入水，再研，傾於別器，要隨水飛過後，於灰上，安紙箱子三五個，便將所飛過汁，都研動，勻入紙箱子內，著盆合，卻一宿，取出後紙箱內曬乾，或焙乾，與眾藥相和）　牛膝（一兩，去苗頭一寸，用醬水浸一宿時，以無灰酒煮五伏，以來，卻曬乾用之）　官桂（一兩，削去薄皮，用之）　茯苓（一兩半，去皮用）　巴戟（一兩，去心用無灰酒，煮五七沸以來，卻曬，或焙乾）　乾薑（一兩，炮製，去皮）　遠志（一兩，去心取上粗皮用）　地骨（皮一兩，去赤皮俠白者）附子（一兩，炮去皮臍）　蓯蓉（三兩，水洗三兩遍，用無灰酒浸，兩日後，更入燒酒，同煎三五沸來，濕切碎拌，和諸藥時入，同杵，熟為丸子）　黃耆（一兩去苗，一寸生用）　覆盆子（一兩，去莖葉，擇取子粒用）　防風（一兩，去苗頭一半寸，用）　柏子仁（一兩，另研，用紙裹，壓去，出油）　生地黃（乾者二兩，水洗三五遍，細切曬乾）　鹿茸（二兩，取上軟者秤用之，用無灰酒煮十餘沸以來，去大皮，焙乾用之）</p>
<p>右藥為末，煉蜜為丸如梧桐子大。一應丈夫女人所患者，不計年月遠近，或障翳侵塞，或皮膜侵遍，空心，茶酒鹽湯任下二十丸至三十丸，雖不睹三光，服之必效，忌動風炙爆物。</p>

<h3>羚羊角飲子</h3>
<p>治斑瘡後，翳膜忽生，及風毒暴赤等眼。</p>
<p>羚羊角（用一對以索子扎縛定一處鎊，共取細末二兩，再研如粉）　車前子　決明子　防風川升麻　綿黃耆　川大黃　黃芩　芒硝（各二兩）</p>
<p>上九味，同研為末，每服二錢，水二盞，煎至一盞半，凡欲服藥時，先將藥末，以水浸一宿，次日以此水並藥同煎熟，卻入瓷瓶子內，用油單紙封系，垂在井中一宿，至次日取出，微暖動，臨臥時，徐徐呷，不得就枕頭睡，至明見效。如要急取功，即空心日午時各吃一服。</p>

<h3>秘金散</h3>
<p>治自幼久患疳氣上攻眼目，羞明生翳，久療不瘥，大人有翳膜遮障，但睛不損。</p>
<p>粗黃連　沙參　元精石　決明子（各一兩）</p>
<p>上為末，每服半錢，用羊子肝一具，竹刀子切作縫子，摻末於內，以線系入瓶子內，用米泔煮熟，淡吃，每個作三服。</p>

<h3>決明散</h3>
<p>治青盲眼，夫五臟六腑之精氣，皆上注於目若臟虛，有風邪痰飲乘之，有熱則赤痛，無熱則內生障，蓋臟腑血氣不營盛於目。故外狀不異，而只不見物，或加有痰熱，則生翳如蠅翅狀，覆在睛上。此方乃至人傳授大效。</p>
<p>石決明　草決明　青葙子　井泉石　蛇蛻　細辛　甘草（以上，各等分）</p>
<p>上七味，修事皆不得犯鐵器，仍須用木臼中，杵細，杵羅，然後用獖豬肝一具，去膽膜，淨洗，瀝乾後，用竹刀子，隨肝豎切，作縫子。將上件藥末，平秤一兩，逐縫子摻入藥末，畢後將麻線子細意扎縛了，卻入生絹袋內牢縛定，用上鍋子，或瓦石鍋，亦得入，淘米濃米，泔煮之，更入青竹葉一握，枸杞根一握，黑豆三合同煮，肝熟為度，取出候冷，仍先飽吃，食後，方用竹刀子逐片切吃，旋呷元汁，送下。吃盡後，更吃豆無妨，久患者不過三兩具，見效。切記合藥時，須潔淨敬信，不得犯鐵器服，未有不驗也。</p>

<h3>洗頭明眼方</h3>
<p>鳳眼草（即椿樹上固翅也，燒灰淋水洗頭，依日洗之經一年，明如童子眼，及加椿皮灰，尤佳。）</p>
<p>上用正月七日　二月八日　三月四日　四月五日　五月二日　六月四日　七月七日　八月三日　九月二十日　十月二十三日　十一月二十九日　十二月十四日。</p>

<h3>決明散</h3>
<p>治眼一切疾。</p>
<p>石決明　草決明　丹丞明（又名丹丞石）　青葙子　白芷　甘草　黃柏　黃連　穀精草　龍骨　蔓菁草　枳實　牡礪　枸杞子　蛇皮雄者（五分，雌者五分，在草木屋上者雄者，在土地並謂之雌者，以上各用一兩）　羌活　白蒺藜　蟬蛻　白附子　黃耆（各半兩）　魚子活（水中生下者，半兩，其子滑，硫黃水溫溫洗過）　虎睛（一個，切作七片子，每一度，杵羅入一片子，用文武火炙，干入，候杵羅時，一七遍了盡，篩羅為度）</p>
<p>上藥每服七分，五更時披衣，以陳茶清調下，日午臨臥准前服之。眥小弩肉，細腫疼痛不可忍者，三五日見效。大段赤白翳膜遮睛，久不可見光明者，服一七日，減三五分，見物。至第二七日，取下眼中翳膜，如赤白濃膠，半月至三七日，其眼好安如不患時，復舊。若根枯死者不療，活者通醫。訣曰如何知活死，如有煩惱，傷酒色，遇風雨，眼中疼痛者，即是活眼也。若或有此，無淚不疼痛者，名為無根也，更不用。此藥忌毒魚面，禁豬肉酒色等。</p>

<h3>辰砂膏</h3>
<p>治一切眼疾。</p>
<p>白龍腦　烏魚骨（研極細，飛過用）　川硝　真麝香　牛黃　牙硝　並鹽　石膽（各少許，）惟石膽（多於眾藥）　硃砂明（瑩者，少許）　膩粉（一大兩）</p>
<p>上等均為細末，入白砂蜜，和令得所，以銅箸點之為妙。</p>

<h3>通神膏</h3>
<p>治眼生翳膜，赤脈，胬肉，澀，癢痛有淚。</p>
<p>白砂蜜（四兩）　青鹽（一字）　麝香（一字）　乳香　硇砂（半字）　當歸（半錢）　黃連（一錢）　白礬（半字，飛過）</p>
<p>上八味，於乳缽內輕研破，於青竹筒內，煮半日，用綿濾去滓，瓷瓶內收貯，每點藥時，瞑目少時，以溫湯洗，翳膜等並退。</p>

<h3>紫金膏</h3>
<p>治外障，退翳膜，療風毒上攻，眼疼赤腫，或臉眥癢爛，時多熱淚，昏澀大效。</p>
<p>槐嫩枝芽三十條（於中春採，窨干，收之，如若無收者，以嫩枝子亦可）　龍腦（少許）　谷丹（先細研過，炒，二大錢）　宣連（堅實者七枚子，各長可二寸半）　烏魚骨（飛過，炒，二錢）　白砂蜜（四兩）　輕粉（炒，三錢）　乳香（明淨者，秤一錢許）</p>
<p>上先將槐枝，並黃連，用雪水，或井花水亦得，一碗半，入銀石器內，慢火熬，及半盞許，去滓，次乳香研碎先入，又熬之。候如一茶許，卻先將蜜熬去滓，放冷，卻入前熬者膏子，及眾末，攪勻，再熬候金漆狀乃成，入不犯水瓷器內，收之，每用少許點，大妙。</p>

<h3>明眼金波膏</h3>
<p>去瘀肉，洗翳膜。</p>
<p>宣連（四兩）　蕤仁（半兩）　杏仁（四十九粒）　金州柏（三兩，以上二味槌碎，以水二碗，浸一宿，於器內熬，取半碗，濾過）</p>
<p>上先將杏仁去尖，雙仁，以蕤仁，於口內退皮，同杏仁，研如粉，入前藥汁內同熬，及一大盞，更濾過，入好蜜，及藥九分，入麝香一錢，白礬一字，飛過硇砂一字，空青三錢，如無，只以生青代之，略槌碎，龍腦二錢以絹袋子盛在藥內，又熬，及一半許，於冷水內，滴，直候藥在水上不散，即成，用小瓶子一個，封閉令密，於飯甑上蒸三度，逐度，於井內拔過，及冷，為妙，瓷銀器內收貯，點之如常法，治療功能，卒不可述。</p>

<h3>甘石膏</h3>
<p>點眼昏花，視物不明，（烏馬兒監司經驗方。）</p>
<p>爐甘石（研）　代赭石谷（醋淬七次，研）　黃丹（各四兩，水飛）　白沙蜜（半斤）</p>
<p>上將二石，研為極細末，次與黃丹和合，用銅鍋將蜜煉去白沫，更添水五六碗，熬沸，下煎藥，以文武火熬，用一碗，用銅器攪，試將藥滴水中，沉下為度，方可住火，熬成用夾紙四重，濾過，用淨瓷器盛貯，密封，不要透下塵土，恐點時癮眼，如眼昏花，不時點之有驗。</p>

<h3>食膏</h3>
<p>治眼目昏花。</p>
<p>井鹽（五錢，無，以青鹽代之）　訶子（一個，去核）　黃連（去須，五錢）　烏賊魚骨（二錢半，去甲）　黃丹（三兩，水飛）</p>
<p>上為細末，用好蜜一十兩，熬去白沫濾淨，入前藥末，於銀銅器內，用文武火慢熬，用槐柳條攪成膏，紫色為度，用淨瓷器盛貯於地內，埋一伏時，去其火毒，取出，每用豆大一塊，溫水化開，洗眼。</p>

<h2>耳病</h2>

<h3>燒腎散</h3>
<p>治腎虛上攻耳內生瘡，虛鳴及聾者。</p>
<p>磁石（一兩，燒赤，醋淬十遍，細研，水飛過）　附子（一兩，炮製，去皮臍）　巴戟（一兩　川椒一兩，去目，及開口者，微炒去汗）</p>
<p>上四味，搗羅為末，每服用獖豬石子一個，去筋膜，細切，蔥白薤白各一分，細切，入藥末一錢，鹽一字，攪和令勻，以十重濕紙裹，於煻灰內燒熟，空心，細嚼，酒解，粥下，十日內見效。</p>

<h3>如聖散</h3>
<p>治水入耳內，膿出，疼痛，日夜不止。</p>
<p>箭竿內蛀（末如有蟲子，一處同研，令細，用三錢）　麝香（一錢）　膩粉（一錢）</p>
<p>上三味，一處同研細，每用先以綿杖子搌淨，然後可三剜耳子深送，以棉塞定，如覺放扎，即是惡物也。要出去棉，側耳，令汗流出，依前，腫痛甚者三服瘥。</p>

<h3>小膏子</h3>
<p>治凍耳，兼療濕癬。</p>
<p>丹參（一兩）　黃蠟（半兩）　豉（一合）　蔥白（五莖）　清油（三兩）</p>
<p>上先將油煎三兩沸，次入參豉，煎令焦，即濾出，然後入蠟，勻攪，入瓷合子內盛，每患即塗之，三兩上，即瘥。</p>

<h3>治油蜒入耳</h3>
<p>川烏頭（三個）　木鱉子（七個）　白礬（五文）　豬牙皂（角一挺）　夜明砂（一文）　白丁香（一撮）　小兒（衣帶一個，如無，耳內血三兩點亦可）　烏雞糞（三兩）　黃丹（三文）</p>
<p>上九味，一處細搗為末，每服一字，釅醋調，灌入耳內，少時蟲盡出。</p>

<h2>齒鬚髮</h2>
<p>齒牙者，骨之所終，髓之所養，手陽明支脈入於齒，若髓氣不足，陽明脈虛，則不能營於齒牙，為風冷所傷，故多疼痛，既不營盛，因結為蟲，食於齒牙，則有孔，蟲居其間，又相傳受，余齒牽連疼痛，陽明既虛，則生壅熱，熱則血氣妄行，故令牙齒宣露。</p>

<h3>香臍散</h3>
<p>治牙齒動搖，解骨槽毒氣，卻令堅牢。</p>
<p>香臍（十個，無香者，皮子是，細切）　牛膝（一斤，去蘆，細切）　木葎（四兩）　郁李仁（二兩）　秋熟出子黃茄子（二個，細切）</p>
<p>上五味，入鐵臼內，搗成相著，握作糰子，後入罐子內，上用瓦子蓋口，留一小竅，用鹽泥固濟，燒罐子通紅，候煙白色，即住，去火，以新土罨一伏時，取出，入麝香一錢，再同研細，每日早晨，揩痛處牙齒，候須臾溫水漱口，臨臥，更貼少許，咽津亦無妨，和劑局方名麝臍散，無麝香，有升麻，細辛，用法並同。</p>

<h3>渫牙散</h3>
<p>治齒牙浮動，宣露疼痛。</p>
<p>荊芥（去梗）　細辛　莽草　升麻（各一兩）　木葎（半兩）</p>
<p>上同杵為末，每服五錢，水二盞，入槐枝十數莖，鹽二錢，同煎令濃，熱含，冷吐。</p>

<h3>麝香散</h3>
<p>治大人小兒齒齦損爛，及走馬疳。</p>
<p>麝香（一分，研）　豬牙皂（角三挺，燒存性用）　膩粉（十兩）　密陀僧（一兩）　白礬（二兩）　苦楝根白皮（一兩）　綠礬（一兩半，同白礬杵碎，入銚子內，枯了用）　水銀（十兩）　黃柏（一兩）</p>
<p>上杵為末，用無灰酒三升，熬成膏，患者先淨漱口，塗之，久患者，取藥一匙，砒霜粉霜末各一錢，拌，和勻使，妙。</p>

<h3>黑散子</h3>
<p>治牙疳及宣露。</p>
<p>藁本　升麻　皂角（不蛀者，燒灰存性，各半兩）　石膏（一兩半）</p>
<p>上四味，杵羅為末，臨臥時，以手指蘸，揩擦齒上，微漱，存藥氣，此散大能牢牙去疳。</p>

<h3>黑金散</h3>
<p>烏髭鬢，兼治牙齒一切疾。</p>
<p>麻籸（二斤，細杵，不用羅）　地黃（三斤，揀擇勻停好者，然後曬乾）　皂角（六挺，不蛀肥好者，每挺截作三段）　青鹽（三兩，杵碎，不用羅）　東引桃枝　柳枝　桑枝（各十五截，如大指大，各長一握）　牆頭豆（生者）　馬齒（及盛時，採一斤，採時不得令婦人雞犬見，採到，即於淨室陰乾，拘數收用）</p>
<p>上藥用一斗三升瓦罐子新好者，將前件藥物，逐味分作三處，逐一味一重重下於罐子內，藥絕。用一新瓦片，可罐子口蓋覆，仍於蓋子中心開一竅子，出煙罐子周迴，以好黃土紙，筋泥固濟，候乾，於淨房內，用炭火四向，慢慢燒之，須是用火得所，煙盡，撥卻火，塞眼子，卻黃土焙，一兩宿，候冷，取出藥，其色如鴉羽。於瓷器內研細，切勿犯鐵，更入升麻白芷各一兩，細研羅，入於末內，令勻，以瓷器內，收密封閉，逐漸取出一匙頭許，亦以小瓷器內收，每日，不以旦暮或食後，揩齒，表裡精細耐煩揩之。悉令周迴，即合口須臾，若不倦，久長用之，髭鬢自然黑潤異常，牙齒堅白無脫落，口氣香潔，合時切忌見婦人雞犬。</p>

<h3>揩齒七聖散</h3>
<p>牢牙益齒。</p>
<p>白麵（四兩）　皂角（二挺，不去皮子，銼碎）　訶子（一兩）　鹽（一兩）</p>
<p>上件一處，以麵裹用槐枝子燒，煙盡為度，後次入升麻細辛各一兩，同杵為末，每日早揩，須臾，漱口。</p>

<h3>揩牙烏髭地黃散</h3>
<p>歌曰：野客自仙鄉。來呈變發方，南方採菵草，丙地取生薑，筒漆豬牙皂，烏麻及地黃，菟絲都七味。固濟入瓷缸，火煅須連日，黃烏終夜長。藥成將揩齒，功效實難量，不惟髭發黑，兼亦壽延長。</p>
<p>菵草　生薑（切片，焙乾）　筒子漆　烏麻子（如無，胡麻子代之）　地黃　豬牙皂角　菟絲子</p>
<p>上各四兩，入瓶內，以黃泥固臍，火煅一日後，入地一尺二寸深窖，卻三伏時取出，合子盛，露三夜，不得著日氣，羅為末，如齒藥用之。</p>

<h3>烏髭鬢揩齒法</h3>
<p>生乾地黃（十二分好者細切）　升麻（一兩，碎）　訶子（二枚，研末）　白鹽花（半分）　麻籸（末，四合，取一遍打者）　粟饙飯（一大合）　硃砂（一兩，細研，臨燒時以沙牛糞調之，免飛上）</p>
<p>上件，都拌令勻，於一淨沙瓶中盛，密封頭，通身遍泥，陰乾，七八日，待泥干，入爐中，坐之，瓶四畔，以炭火周迴燒，其炭續續添，盡七斤即住。其藥以為黑灰，收之，並細為末，每日夜用之揩齒。一如後法，揩齒法，欲使藥時，用生薑一塊，如杏仁大，爛嚼，須臾即吐，卻滓，以左手指揩三五遍，就濕指，點藥末，更揩十數遍，含汁不得吐，以兩手取津，塗髭發。待辛辣定，即細細嚥之。此藥即兼治腳風、腸風、下氣、駐顏益齒，若能勤用，一生不白髭發，一百日卻黑，赤者五十日黑，用藥二十日即便見效也，若能空心三遍用，更飯後用之，見效即速矣。</p>

<h2>眩暈</h2>
<p>頭風眩暈者，由血氣虛，為風邪所乘也，諸陽經脈上走於頭面，因運動勞役，陽氣發泄，腠理開疏，而受風邪，頭風之上頭面多汗，惡風，甚則頭疼心煩悶，或因新浴發，中外風，亦為此病，久不瘥，眩暈，由風邪流入於腦，腦轉而目系急，目系急，故成眩暈也。其脈寸口洪大而長。是也，服大效香砂丸，必愈。</p>

<h3>大效香砂丸</h3>
<p>巴豆（生，出油，去皮）　生朱　乳香　細辛　當歸（去苗）　丁香（少許）　官桂（少許，去皮）　龍腦（五十文）　麝香（五十文）　檳榔（少許）</p>
<p>上各等分為末，以水浸蒸餅和為丸，如桐子大。發日，用好茶下一丸，須是當門齒，與冷茶嚼下，十年只用一粒，額上汗出，即瘥。</p>

<h3>獨活丸</h3>
<p>治風毒氣上攻，頭目疼痛，昏眩不快，利膈化痰。</p>
<p>獨活　川芎　甘菊（各一兩）　乾蠍（一分，炒）　防風（一兩）　半夏湯（洗去滑，作餅子，炙二兩）</p>
<p>上五味同為末，以半夏末用生薑，自然汁一大盞，煮如膏，和為丸如豌豆大。每服七丸至十丸，荊芥薄荷湯下。</p>

<h3>伊祁丸</h3>
<p>治肝腎虛、風上攻、頭旋、項筋急、眼有黑花、耳內虛鳴。</p>
<p>伊祁（半兩，點醋微炒）　穿心巴戟（糯米炒，候赤黃色，米不用）　黑附子（炮，去皮臍）　羌活　沙苑白蒺藜慢火（微炒，各一兩）</p>
<p>上五味同為末，煉蜜為丸如梧桐子大。空心鹽酒，下十五丸至二十丸，食後臨臥米飲下。</p>

<h3>芎術湯</h3>
<p>治冒雨中濕，眩暈，嘔逆，頭重不食。</p>
<p>川芎　半夏湯（泡七次）　白朮（各一兩）　甘草（炙，半兩）</p>
<p>上㕮咀，每服四錢，水一盞半，姜五片，煎至八分去滓，溫服不拘時候。</p>

<h2>嗽喘</h2>

<h3>華蓋散</h3>
<p>治咳嗽，解表，滋潤皮膚，調理，自然汗出。</p>
<p>麻黃（三兩，不去節）　甘草（一兩）　杏仁（二兩，湯浸去皮尖）</p>
<p>上三味，先以前二味為粗末，後入杏仁，研細，同拌令勻，每服三錢，水一盞，煎至七分，去滓服，日三服，即愈。</p>

<h3>紫蘇飲</h3>
<p>治咳嗽，墜痰涎，潤肺。</p>
<p>紫蘇　貝母　款冬花　漢防己（各一分）</p>
<p>上四味，研為細末，每服一錢，水一茶碗，煎七分，溫服。</p>

<h3>款肺散</h3>
<p>治寒壅相交，咳嗽不止，胸膈悶亂，痰涎並多。</p>
<p>麻黃（二兩，去根節，炒）　貝母　桑白皮（各一兩銼，炒）　柴胡　杏仁（一兩，去皮尖，炒）　糯米（一兩）　款冬花（一兩去塵，炒）</p>
<p>上七味，新好者，杵為末，每服一大錢，水一盞，煎七分，不拘時，溫服。</p>

<h3>阿膠散</h3>
<p>治久患咳嗽及勞嗽。</p>
<p>阿膠（二兩，炒過，如無，以黃明膠四兩代，亦可炒過用）　人參（半兩）　杏仁（二十個，去皮尖）　黃蜀（葵花一分）　甘草（半分）　款冬花（一分）</p>
<p>上六味，同杵為末，每服二錢，早晨用糯米粥一盂子，入末，熱吃，晚食前再服，如只用糯米濃飲調下亦可。</p>

<h3>黑靈丸</h3>
<p>治咳嗽不已，日久年深，皆效。</p>
<p>羌活　獨活（各一分）　巴豆（三十粒，不去皮，半夏三十個，同入瓶子內，鹽、泥固濟，炭火三斤煅，取出，入前二味）</p>
<p>上同杵為末，煉蜜為丸如桐子大。每服一丸，以後味藥煎湯下。</p>
<p>馬兜鈴（半兩）　官桂（一分）　甜葶藶（半兩，微炒）</p>
<p>上三味，同杵為末，每服一錢，水一盞，煎至八分，下丸子，其餘飲子，時時呷，令藥香常在咽喉中。</p>

<h3>華蓋散</h3>
<p>治上喘咳嗽，兼治膈熱。</p>
<p>桑白皮　神麯（炒）　桔梗（各一兩）　人參（三分）　百合（三分）　甘草（炙）　杏仁（去皮尖，各半兩）</p>
<p>上七味同為末，每服一錢，水一盞，煎至六分，食後溫服。</p>

<h2>痰飲</h2>

<h3>辰砂丸</h3>
<p>治上膈風壅有痰，結實如梅核，及稠濁者。</p>
<p>辰砂（半兩，要真）　天南星（半兩）　白礬（半兩）　半夏（三兩，薑汁搗作餅，炙令黃）</p>
<p>上四味，杵為末，用生薑自然汁合和，為丸如綠豆大，每服十丸，以薑湯下，食後服。</p>

<h3>壞涎丸</h3>
<p>治痰涎壅盛，服藥未退，頭重心煩，飲食不下。</p>
<p>硇砂（二分）　寒水石（半兩，猛火燒透紅，好酒內淬五七遍取出）　密陀僧（一大分）　定粉（一大分）　龍腦（一分）　水銀（一大分，將定粉放盞內，與水銀同研，漸漸滴令似乳住用）　半夏（半兩，熱酒蕩一度，薑汁浸一宿）</p>
<p>上七味為末，用生薑自然汁煮麵，糊為丸如綠豆大，研好硃砂度過，每服一丸至二丸，生薑龍腦水下，勿嚼。</p>

<h3>人參半夏丸</h3>
<p>墜痰化涎。</p>
<p>半夏（一兩）　生薑（四兩，取汁，先以湯洗半夏七遍，浸三日後，於日內煎乾，切作片子，焙乾用）　北礬（一兩，研）　人參（一兩）　赤茯苓（去皮）　天南星（半兩，生用）</p>
<p>上六味，同杵為細末，篩羅，以蒸餅水浸過，卻用紙裹煨熱，為丸如綠豆大。每日空心夜臥，用淡生薑湯下十五丸，開胃，生薑棗湯下。風涎，皂角一寸，姜三片，蘿蔔三片，同煎湯下。</p>

<h3>旋覆花散</h3>
<p>清頭目，利胸膈，化痰涎，解上焦風壅，咽喉熱疼，唾如膠黏。</p>
<p>菊花　旋覆花　桑白皮（各三分）　地骨（皮一兩）　石膏（一兩一分）　甘草（半兩）　蒺藜（一兩，去刺）</p>
<p>上七味杵為末，每服一錢，水一盞，煎七分，食後溫服，此藥兼治頭風有效。</p>

<h3>中金丸</h3>
<p>治金化痰，辟邪養正，益津液，潤肌膚，大進飲食，延年補氣。</p>
<p>用蒼朮不計多少，以長流水浸七日，逐日一度換，仍以竹刀旋削去粗皮，切作片，別用無灰酒浸一宿，浸可以於朮上仄二指許，候滲酒盡，焙乾為末，煉蜜和丸，如桐子大。每服早晨，茶酒任下三二十丸，忌桃李雀鴿。</p>

<h3>丁香丸</h3>
<p>治胃冷有痰。</p>
<p>半夏（二兩，以水浸一七日，每日早晨換水，足取出令自干）　白礬（半兩）　丁香（一分）</p>
<p>上三味，同為末，用薑汁合和，為丸如小豆大，每服五丸至七丸，鹽湯下，膈上有痰涎。只用三服，墜下，立效。</p>

<h3>半夏煮散</h3>
<p>治胃冷有痰，嘔逆，不思飲食，及中酒後，大宜服此。</p>
<p>半夏（十六分，湯洗十度）　木通（十六分）　前胡（六分，去頭）　旋覆花（五分，去萼秤）　陳皮（六分，浸去白）　檳榔（六分，生杵，煎湯藥成膏後，斟酌入）　官桂（五分，去粗皮　枳殼五分，麵炒）　茯苓（六分）　白朮（六分）</p>
<p>上一十味，銼羅為散，每服三錢，生薑三片，水一大盞，同煎八分，去滓，空心服，余滓再煎，日午服。</p>

<h3>玉液散</h3>
<p>治胃虛有痰。</p>
<p>半夏（一兩）　生薑（二兩，去皮，細切）　陳粟（米一合，揀令淨，約重二兩）</p>
<p>上三味，一處爛搗研，曬，焙乾，羅為末。每服一大錢，水一盞，煎至六分，去滓溫服。</p>

<h2>霍亂</h2>

<h3>人參藿香散</h3>
<p>治霍亂、定嘔逆、止心腹刺痛、大進飲食、化痰益氣。</p>
<p>藿香（去土，二兩）　青皮　人參　茯苓　乾薑　枇杷葉（布拭去毛，炙令黃色，各一兩）　半夏（三兩，以生薑六兩，一處杵，作餅子，焙乾）　草豆蔻（六個，去皮）　丁香（半兩）　甘草（三分，炙）　厚朴（去皮，二兩）</p>
<p>上十一味，同杵為末，每服一錢，水一盞，入薑棗，同煎七分，熱服。</p>

<h2>翻胃</h2>

<h3>小木香散</h3>
<p>治翻胃病，全不下食，開胃和氣。胡氏經效方，作定胃散。</p>
<p>胡椒（二十一粒）　木香（一小塊）　糯米（一撮）</p>
<p>上三味，同炒，至米熟為度，杵末，分二服，每服水一盞，煎至六分，溫服。</p>

<h3>定胃散</h3>
<p>治翻胃吐逆。仁齊作溫胃散，治久冷翻胃。</p>
<p>附子（一個，去皮臍，生切，作四塊。）</p>
<p>上用生薑半斤，以水一碗，同煮附子，汁盡為度，取附子焙乾為末，每服一錢，冷米飲下，空心服。許叔微本事方。名附子散，治翻胃。</p>

<h3>順氣散</h3>
<p>治平胃氣，調進飲食。</p>
<p>甘草（四兩，炙令黃）　白茯苓（四兩）　白朮（八兩）　附子（二兩，炮，去皮臍）　陳皮（二兩半，去白）　乾薑（一兩，炮）</p>
<p>上為末，每服一大錢，水一盞，入荊芥少許，煎至七分，熱服。</p>

<h2>症癖</h2>

<h3>小三稜煎</h3>
<p>治食症氣塊，及小腸氣、本臟氣、腎俞氣、膀胱氣、五膈氣、風痰、胃口冷、脾積氣、食傷、冷氣抱心、心腹脹滿、吐逆酸水、五種虛疾、脾寒水氣。</p>
<p>荊三稜　蓬莪朮（各四兩，洗淨）　芫花（一兩，去枝葉）</p>
<p>上三味，同入一瓷瓶內，用米醋五升，浸滿藥，封卻瓶口，以炭火煨，覺微干，即取出荊三稜，蓬莪朮，便杵碎芫花，另以余醋炒微焦後，同二味猛焙乾，搗羅為末，用米醋煮麵糊為丸如梧桐子大。每服三丸至五丸，用生薑鹽湯吞下，婦人醋湯下。</p>

<h3>通靈丸</h3>
<p>治久患癖塊，或因氣不和，即發疼痛，胸多痞塞，消化痰瘕，大效。</p>
<p>荊三稜　酸石榴大者（二枚）　杏仁　苦葶藶　甘遂　大戟　大黃　巴豆　芫花　五靈脂（各一兩）　鹽豉　烏梅（各二兩）</p>
<p>上一十二味，銼細，用水一斗二升，入藥，於鍋內同熬，候水盡，就鍋內炒令黃焦色止，取出，杵羅為末，更入木香青橘末各一兩，拌勻，醋煮麵糊為丸，如小豆大。每服薑湯下三五丸。心胸痞悶疼，橘皮湯下，吃酒食，飽悶，生薑湯或茶湯溫水下，亦可。</p>

<h3>三聖丸</h3>
<p>治日久積年，血氣症癖瘕聚，諸藥療理不瘥，至效。</p>
<p>舶上硫黃（一兩）　水銀（一兩）　硇砂（去砂石，秤一分用）</p>
<p>上三味，乳盆內滾研如粉，卻以生鐵銚內，用文武火熬熔成汁，以鐵火箸攪令勻。一茶久，放冷，刀剷下，以紙裹，入地坑內，埋一宿，取出，再研令勻細，卻以赤芍藥一分，當歸一分，荊三稜一分，莪朮一分，紅花一分，並生用，細銼，如法，酒一升，煎及一半，漉出於砂盆內，研，生布捩汁再熬，放冷，入飛羅，面煮糊丸如綠豆大。若因產後傷於飲食，結伏腹脅，少許下七丸或至十丸。若取磨癖塊，空心溫酒下三丸至五丸。所有藥滓捩了，焙乾為末，另入乾地黃半兩，真蒲黃一分，芫花一分，醋炒焦黃色，同研為末，以三聖丸所剩麵糊為丸，如綠豆大，治婦人血臟冷氣攻衝，心胸疼悶，及一切血海疾，可常服，溫酒下十丸。</p>

<h3>木香硇砂煎丸</h3>
<p>消癥瘕積聚，血結刺疼。</p>
<p>木香　大黃（炮）　荊三稜（生用）　巴豆（去皮膜，不出油用，細研）　官桂（去皮）　青皮（去白）　筒子漆（炒）　蓬朮（炮）　附子（炮，去皮臍）　乾薑（炮，各一分）　香墨（一指節大，細研）　硇砂（半兩，以好醋一盞浸一宿，去砂石）</p>
<p>上將大黃末，荊三稜末，巴豆等三味，同於銀石器內，以好醋一升，煎一兩沸，次入硇砂，同熬成膏，次入諸藥末，和勻，再入臼，杵千百下，為丸如綠豆大，每服五丸。傷冷食冷酒冷水，結聚腹內，氣塊疼痛，用乾薑湯或橘皮湯下之。夾食傷寒，白湯下亦可。黏食不消，成氣塊，即用煮麵湯下。食牛羊魚鱉肉，成氣塊不散，用所傷汁下。宿酒不消，血氣不調，當歸酒下。妊娠不服，要轉，淡茶下。加至七丸，小兒三丸，常服一兩丸。</p>

<h2>水氣</h2>

<h3>檳榔散</h3>
<p>治水疾，及諸般氣腫，大效。</p>
<p>白檳榔（勿用大腹子，不得見猛火，煨令微黃，用半兩）　芫花（醋拌令乾）　澤瀉　甜葶藶（隔紙，於銚子內，炒令紫色）　郁李仁（湯浸，去皮，微炒）　漢防己（各一兩）　陳皮（去白炒，半兩）　瞿麥（只取花，用半兩）　藁本（一分）　滑石（三分）　大戟（三分，銼碎微炒）</p>
<p>上件細杵為末，每服一錢，用桑白皮濃煎湯，空心調下，當時取碧綠水，後如爛羊脂，即瘥，如未盡，隔日再服，看腫消如故，更不用服，如治水疾，忌鹽一百日。</p>

<h3>逐氣散</h3>
<p>治水疾。</p>
<p>樟柳根不拘多少，去皮，薄切，陰乾，日曬亦可，為末</p>
<p>上用黃顙魚（三頭，大蒜三個，綠豆一合，以水一大碗同煮，以豆爛為度，先將豆任意吃後，卻以汁調藥末二錢，其水即化為氣消也。）</p>

<h2>腳氣</h2>

<h3>訶子散</h3>
<p>治腳氣疼痛，發腫，熱悶，或上攻，或即吐逆，令人不覺，大抵地方多卑濕處多，厥狀多般，有此疾。</p>
<p>訶子　大腹皮（煨熱，和皮用）　木香　漢防己　沉香　紫蘇莖子　乾木瓜　羌活　芍藥　杉木節（各半兩）</p>
<p>上十味銼為細末，分作十服，每服用水八合，煎至二合，去滓，通口服，每二服滓，並煎一服，兼大治風氣上衝。</p>

<h3>烏藥散</h3>
<p>治乾溼腳氣。</p>
<p>烏藥（一兩）　蒔蘿（一分，二味炒令黃色）</p>
<p>上同為末，溫酒下二錢，若是乾腳氣，用苦楝子一個，柏漿水一升，煎至五合，調下，立瘥。</p>

<h2>小便證</h2>

<h3>犀灰散</h3>
<p>治小便澀，筒管內痛。聖濟總錄作蠶灰散。</p>
<p>用蠶蛻紙，不拘多少，燒灰細研，入麝香少許，和勻，每服二錢，米飲調下。</p>

<h3>薑黃散</h3>
<p>治血臟久冷，腹疼痛，小便濃白泔。</p>
<p>薑黃（二兩）　大附子（一兩，炮）　赤芍藥（半兩）　芫花（一分，醋浸過，炒令黃色）　丹皮（一分）　紅藍子（半兩）　郁李仁（一分，去皮）　荊三稜（半兩）　沒藥（一分）　木香（一分）　柳桂（半兩，去皮）</p>
<p>上一十一味，同為末，每服一大錢，如腹痛，用當歸沒藥，酒煎服，水七分，酒三分，同煎及七分，熱服。</p>

<h2>大便證</h2>

<h3>白豆蔻散</h3>
<p>治脾胃氣不和，止脾泄瀉痢。</p>
<p>白豆蔻（二兩用仁，一半生，一半熟）　枳殼（半斤，去瓤，以漿水煮軟，麩炒令香止）　肉桂（二兩，去皮　橘皮二兩，去瓤，炒，切細）　訶子（二兩，去核，半生，半熟）　當歸（二兩，洗）</p>
<p>上六味，杵為末，每服一錢，水一中盞，薑棗同煎至七分，稍溫服，如要丸，用好棗漿水煮，去皮核，細研，為丸如桐子大。以姜擘破，炒令黑色，入水，煎湯下十五丸。</p>

<h3>小草還丹</h3>
<p>補脾腎虛冷，止大腸滑泄。</p>
<p>根黃（半斤，銼，炒令黑黃色）　茱萸（三兩）　青皮（去白）　萆薢　乾薑　石榴皮（各二兩）　厚朴（一兩半，薑汁炙令黃香為度）</p>
<p>上七味為末，醋糊為丸如桐子大。每服空心米飲下三十丸，或嚼破，生薑米飲下。</p>

<h3>保安丹</h3>
<p>治脾元虛滑，及久患瀉，服藥未效，日夜不止，臍腹冷痛，及一切氣刺氣痛，聖濟總錄，作保安丸。</p>
<p>附子（炮）　當歸　陳皮（去白）　乾薑（炮，各一兩）　蜀椒（去子）　厚朴（去皮，以薑汁炙令香熟）　吳茱萸（各半兩）　舶上硫黃（一分，另研至細）</p>
<p>上八味，同為細末，入硫黃末，和勻，以米醋和作劑，分為兩團，另用白麵半斤，裹上件藥，令勻，如燒餅法。煨令面熟為度，面入臼內，杵三五百下，丸如梧桐子大。每患一切氣痛，及宿酒食不消，炒姜鹽湯下二十丸。如患瀉痢，米飲下。</p>

<h3>丁香散</h3>
<p>治脾泄瀉。</p>
<p>厚朴（半兩，去皮，用生薑汁塗，炙令香黃）　檳榔（一個，火煨過）　肉豆蔻（二個，去皮，麵裹煨）　丁香（二錢，焙乾）</p>
<p>上四味，同杵為末，每服二錢，用米飲煎三二沸，溫湯服，以少許清粥飲衝下。</p>

<h3>草豆蔻散</h3>
<p>治胃口冷，吃食無味，及脾泄瀉不止，兼大治酒後數圊如痢，心胸不快，不思飲食。</p>
<p>草豆蔻（半兩，每個麵裹煨，候面焦黃，去面用）　甘草（一兩，炙）　肉桂（去皮，一兩）　陳皮（去白，一兩）　蠻姜（一兩）</p>
<p>上五味，同為細末，每服一錢半，更入陳米末一錢，水一盞，棗二枚，同煎七分，溫服，其滓，再煎服之。</p>

<h3>橘皮煮散</h3>
<p>治脾元氣不和，泄痢不止，腹內雷鳴，氣脹膨滿，冷氣刺痛，及解傷寒。</p>
<p>橘皮（去白）　白朮（各二兩）　訶子　乾薑（炮）　官桂（去皮）　枳殼（去瓤，麩炒）　木香　人參　甘草（炙，以上各一兩）　草豆蔻（七枚，去皮）　厚朴（一兩半，薑汁塗，炙黃）　檳榔（五枚）　半夏（二分，湯洗二十度用）</p>
<p>上十三味，杵羅為末，每服二錢，生薑三片，棗子二枚，水一盞同煎七分，去滓，溫服。</p>

<h3>神聖香姜散</h3>
<p>治久患脾泄瀉。</p>
<p>宣連（一兩，勻銼如豆大）　生薑（四兩，勻銼如黑豆大）</p>
<p>上二味一處，以慢火炒令乾，姜脆，深赤色即止，去姜取出，只要黃連，研為細末，每服二錢，空心臘茶清下，甚者不過兩服，即瘥。</p>

<h3>大聖散</h3>
<p>治脾元臟，冷滑不止，腹痛絞刺，和陰氣，進食。</p>
<p>川烏頭（四兩，生用）　益智仁（三兩）　生乾薑（二兩）　青皮（二兩）　茴香（二兩）</p>
<p>上五味同杵為末，每服一大錢，水一盞，入鹽一捻，煎至五分溫服。如小腸氣攻刺，急煎一二服，熱吃。</p>

<h3>訶子散</h3>
<p>治脾胃虛冷，滑泄，不思飲食，和一切冷氣。</p>
<p>訶子（炮）　厚朴姜（汁塗，炙黃香）　甘草（炙）　白朮（炒）　草豆蔻（肉炮）　陳皮（去白，各等分）</p>
<p>上六味，同杵為末，每服一大錢，水一盞，入薑棗同煎，至七分，溫服。</p>

<h3>煨肝散</h3>
<p>治脾元虛冷，滑泄不止，口內生瘡，腹中冷，不思飲食，暖胃，消食，止瀉。</p>
<p>蒼朮（三兩）　縮砂（去皮）　柴胡（去蘆）　厚朴（薑汁炙，去皮）　桔梗（各一兩）　蕪荑（三分）　桂心（二分，去皮）　陳皮（去白）　遠志（去心）　北紫菀（各半兩）　胡椒（一分）</p>
<p>上十一味，同杵為末，以細絹篩為散，每服以獖豬肝四兩，切作片，每片用末一大錢，摻於肝上，入蔥白蒔蘿等，令有滋味，一重重布了，麩片裹之，煻灰火內煨令通熱，面焦黃色，即得，去面取肝，空心服之，其面可二分以來，或細切肝，以散拌和，如作角子，如常爆熱食之亦得，並以薄米飲下之，忌生冷毒物等。</p>

<h3>如聖散</h3>
<p>治腸風瀉血，日夜不止。</p>
<p>車螯（一合二個）　皂角刺（四十九個）　硇砂　硃砂　乳香（各一分，三味同研）</p>
<p>上四味，入車螯，合內以蚯蚓泥裹，用炭火六斤，煅，火盡為度，取出，研為細末，空心，溫酒調下一錢。</p>

<h3>紫金膏</h3>
<p>治腸風瀉血，兼療痔漏。</p>
<p>龍腦　麝香　滴乳香　雄黃　密陀僧（以上五味各一錢）　砒霜（半分）　硃砂　阿魏（一分）　安息香（一分）</p>
<p>上乳香，安息、阿魏，以熱水浸之通軟，用大碗，中以乳石研令細，其有龍腦，麝香、硃砂、密陀僧、雄黃都研為末，其砒霜入綠豆粉二兩同研，令細，更用巴豆三粒，去皮心膜，以水一大碗浸之，一日六度換水，取出後，用拾重紙出油，亦研細，與藥都一處，研勻，方入濕藥中，全和，攤在碗中，俟通手，便丸之如豆大，空心好溫茶下一丸。心痛水瀉，生薑湯下一丸。食症麵湯下。氣痛溫酒下一丸，大妙。</p>

<h3>烏金散</h3>
<p>治遠年近日，腸風，下血不止。</p>
<p>枳殼（不計多少，燒成黑灰存性，便以盞子合定為細末）　（羊脛炭不拘多少，為細末）</p>
<p>上二件，用枳殼末五錢，炭末三錢，和令勻，用米飲一中盞，調下，空心服，再服見效。十便良方，名黑龍散。</p>

<h3>敗毒散</h3>
<p>治脾毒下血，臟腑疼痛，頻往圊廝，後重弩咽。</p>
<p>槐花（炒）　白礬燒（及八分許，存性，二味等分，是生時秤）</p>
<p>上二味，同為末，每服一錢，烏梅一個，水一盞，煎六分，去滓溫服。</p>

<h3>芍藥散</h3>
<p>治非時下血，及血刺。</p>
<p>赤芍（一兩半）　官桂（去皮，三兩）　甘草（半兩，炮）</p>
<p>上藥同為末，每服一錢，水一盞，生薑半斤，餳少許，同煎至七分，溫服。</p>

<h3>烏犀丸</h3>
<p>治腸毒，下血不止。</p>
<p>用淡豆豉，大蒜，去皮苗，等分一處杵，令和勻，可丸即丸，如梧桐子大，每服鹽湯下三四十丸，久患血痢，亦宜服之。</p>

<h2>中毒</h2>

<h3>歸魂散</h3>
<p>解中藥毒，煩躁吐血，口內如針刺者。</p>
<p>北礬（一兩）　茶草（一兩）</p>
<p>上二味，同搗為細末，作一服，以新汲水調之，立解，此藥入口，其味甘甜，並不覺苦味者，是也，必並服兩服盡五更初一，服如人行三五里，再進一服當日見效，忌油膩毒物。</p>
<p>萬靈丹解一切藥毒，及蠱毒、金蠶等毒。</p>
<p>光明硃砂（一兩，令人淨潔面東，研一伏時）　大天南星（三兩，末，生用）　黃沙牛膽（一枚，取汁，如無新者，陰乾者用時，以溫水浸軟，溫水調用）</p>
<p>上以膽汁和溲，前二味，為丸，如皂子大，陰乾，如有中諸毒者，但頭肚未裂，皆可救療，服時先取汁腳，以新水洗之，澄取清者半盞，入鹽，磨化一丸，頓服，續以薄粥投之，以吐為度，其病永除。</p>

<h3>保靈丹</h3>
<p>解蠱毒，及一切藥毒（方缺）</p>

<h1>卷四</h1>

<h2>胎產</h2>
<p>大凡婦人懷孕，當入月即當豫備所須，及合用湯藥，仍知逐月吉凶方向，免臨時忽遽，以至不周，如產婦但腹痛而未腰疼者，即未產候也。凡生產有坐產臥產，各須平正其身，不得稍有傴曲，即令兒生失道，如未是其時，切不可上草太早，及強𠸯氣用力，衝擊於兒，以致生疾，切忌，產時旁人不得揮霍，恐驚動產母，只可令一老成，並親屬人，扶持令行，或不能行，即須立且直，候兒逼生方可得正產，或正臥，切忌上草太早，生病極多，子母才分，莫問兒女，速與童子小便一盞，及逐惡血藥一服，不得令便臥，且候移時，背靠軟物仰臥，立膝高搘，床頭厚鋪裀褥，遮障孔隙，免有賊風所傷，仍須三日內，常令產婦鼻內聞猛醋煙，以備血暈也，又不得教熟睡，頻喚省，緣氣血全虛，恐生昏亂。</p>
<p>凡在一七日內，唯頻服童便醇酒各半盞，煎令沸，放溫服，日五七劑，及食白淡粥，二七日，食淡膂肉，三七日，漸食滋味，一月內，菜實、生冷、恚怒、嗔愁，並皆不可，稍染微疴，即成大病，一百日內，氣血未和，勿恃平寧，便為無事，往往自恣，輒成大病。凡十二月，產帳及藏胎衣，但向月德月空上皆可，假令正月，即月德在丙，月空在壬，壬上坐產婦，丙上藏胎衣，如壬位不便，即於丙上安之，亦得，但於集聖歷日上檢看，備詳也！</p>

<h3>藿香散</h3>
<p>安胎和氣，利胸膈，治噎塞阻食。</p>
<p>藿香　人參　茯苓　白芷　威靈仙　甘草　桔梗</p>
<p>上七味各等分杵為末，每服二錢，水一盞，姜三片，同煎六分，溫服。</p>

<h3>阿膠散</h3>
<p>治妊傷寒，安胎出汗。</p>
<p>大獨頭（蒜一個，以秋瓜蔓裹了，外用黃泥固定，以炭火二斤，燒令通紅，放冷打開，取出，細研，如未有瓜蔓，但只以瓜根半兩代之）　羌活　獨活　蒼朮水（泔浸一宿，去粗皮，焙）　紫菀　白朮　人參　附子（炮，去皮臍）　阿膠（以上各一分）　甘草（半兩，炙）</p>
<p>上一十味，都搗為細末，每服一大錢，水一盞，入連須蔥白一寸，同煎至七分，溫服，如人行十里許，連二服，至三服，末後一服吃了，便以冷水漱口一二十遍，漱罷，以衣微蓋，汗出，大妙。</p>

<h3>催生滑胎散</h3>
<p>治疼痛。</p>
<p>槐子（炒）　麥蘖（炒）　貝母（炒）　滑石　當歸（炒，各等分）</p>
<p>上五味同為細末，每於未產月十日前，每日空心，用溫酒下二錢。</p>

<h3>滑胎散</h3>
<p>產前服。</p>
<p>牽牛子（一兩）　赤土（少許）</p>
<p>上二味，研令極細，母覺陣頻時，煎榆白皮湯，調下一錢。</p>
<p>又方</p>
<p>用臘月兔頭腦髓一個，攤於紙上均，剪作符子，於上面書生字一個，覺陣頻動時，於母釵子股上夾定，燈焰上燒灰，盞子盛了，煎丁香酒，調下。</p>
<p>治子死胎中方。</p>

<h3>黃明乳香（不限多少</h3>

<h3>備急丹</h3>
<p>治產後惡血衝心，或胎衣不下，腹中血塊等症。</p>
<p>用錦文新大黃（一兩，杵羅為末，用頭醋半斤，同熬成膏，丸如梧桐子。患者用溫醋湯七分盞，化五丸服之，須臾取下，亦治馬墜內損者。）</p>

<h3>香桂散</h3>
<p>治產後，臍下疼痛不止（產寶諸方，作當歸散。）</p>
<p>當歸　川芎（各一分）　官桂（去皮，半兩）</p>
<p>上三味同為細末，分作三服，每服酒一盞，煎三五沸，更入童便少許，同煎至七分，溫服，甚者不過再服必瘥。</p>

<h3>金黃散</h3>
<p>治產後惡血攻心，時發躁。</p>
<p>蒲黃（半兩）　延胡索（一兩）　桂心（一分）</p>
<p>上三味，杵為細末，每服一錢，用烏梅湯，放冷調下。</p>

<h3>金花湯</h3>
<p>治逐惡物，止腹疼。</p>
<p>桂心（去皮）　威靈仙　白芷　當歸　牡丹皮（各等分）</p>
<p>上五味，同杵為末，每服二錢，煎麵湯調下，大凡婦人產後，更須常體問產婦，如所出惡物多，即不須再三下之，過即血虛氣極，煩悶暈亂而生病焉，如覺比常少，及不行，切須急攻之，緣血隨氣行，上掩於心，故令煩悶，而心滿急，二者為異，切在審詳，蓋產婦體虛，切不得妄亂進與湯散，如別無狀候，但與調氣治血湯散，最妙。</p>

<h3>沒藥丸</h3>
<p>治產後心胸煩躁，惡悶不快。</p>
<p>沒藥　蠻姜　延胡索　乾漆　當歸　牛膝　牡丹皮　桂心　乾薑（各等分）</p>
<p>上九味，同為細末，醋煮麵糊，為丸如桐子大，煎麵湯，下十丸至十五丸不拘時服。</p>

<h3>延胡散</h3>
<p>治產後血渴不止。</p>
<p>延胡索　鬱金　乾葛　官桂（去皮）　青皮（去白）　枳殼（各等分）</p>
<p>上六味，並以好醋浸一宿，灸干，杵為細末，每服一錢，冷橘皮湯下，不過三服，瘥。</p>
<p>常山飲　治產後血海虛，乘熱發狂，悶亂作時。</p>
<p>常山　石膏　大黃（煨）　甘草（炮）　鱉甲（醋炙）　柴胡（去蘆）</p>
<p>上六味各等分為末，每服三錢，水二盞，煎至一盞，放冷服，兼治室女體熱，紅脈不行。</p>

<h3>蕓薹散</h3>
<p>治產後心腹諸疾。</p>
<p>蕓薹（以紙襯，炒）　當歸　官桂　赤芍藥（各等分）</p>
<p>上四味為末，每服二錢，暖酒下，趕下惡物。</p>

<h3>蓬莪朮散</h3>
<p>治產後血海氣虛，腹臟疼痛，心胸疰悶，每遇紅脈行，或多或少，及有塊積者。</p>
<p>蓬莪朮　當歸（炒）　大黃紙裹（煨，慢火煨，候紙黃色，住）　桃仁（去尖，麩炒黃色，各一兩）　桂心　芎藭　牡丹皮　延胡索（炒）　木香　赤芍藥（各半兩）</p>
<p>上一十味，搗為細末，每服一錢，溫酒調下，午前臨臥各一服。</p>

<h3>大聖通真丸</h3>
<p>馬鳴蛻（二兩灰秤）　人參（一兩）　甘草（二兩，炮）　防風（一兩一分）　當歸（二兩，炙）　芍藥（二兩）　桔梗（三兩）　石膏（二兩，研如粉）　白芷（一兩一分）　乾薑（一兩，炮）　附子（一兩，炮）　芎藭（一兩）　藁本（一兩）　澤蘭（二兩一分）　白蕪荑（一兩）　川椒（三兩，出汗，取紅）　柏子仁（一兩　石茱萸一兩一分，醋炒）　蟬蛻（二兩，炒）　蒼朮（一兩，炒）　白薇（一兩）　白朮（一兩）　厚朴（一兩一分，入生薑汁，塗炙令香熱）　木香　黃耆　牛膝（各一兩，本法原不用此三味，好事者加之，亦得）</p>
<p>上二十六味，搗羅為末，煉蜜為丸如彈子大，每日空心，茶酒任下。療八風，十二脾寒氣乳風，血瘀，又治胎不安，子在腹中死，兼療，萬無不效。如胎不安，服一丸便止。如娠時臨月，日服一丸，至產不知楚痛，消去寒熱。如產後復發惡露，中風兼傷寒，汗不出，以麻黃三分，去根節，杵末，酒煎下藥丸，汗出，如多，更進一丸，便止。腸堅積聚，朝暮進一丸。陰中痛，月經不定，不過三丸，即瘥。又絕產無子，朝暮服之，輒因有子。四肢脹滿，泄利嘔吐，不能飲食，赤白痢，如因產，惡物積於大腸，中風，口噤不語，挑開口，研酒化一丸，灌之，即愈。男子女人萬病，悉皆治之，言有所療，說不具盡，若阻道途有疾，輕重以意服，兼治傷寒。</p>

<h3>大聖散</h3>
<p>治婦人產前產後一切疾患大能安胎和氣，或子死腹中，㽲刺疼痛，產後血暈，血癖，血滯，血崩，勞血入四肢，應是血臟患者，並胎衣不下及傷寒嘔吐，遍身生瘡，經候不調，赤白帶下，乳生惡氣，咳嗽寒熱，氣撮四肢，室女紅脈不調，並宜服之。如或子臟虛冷，頻頻墮胎，及孕娠後，乖違將攝，因依成疾，並可服之，若能常服，和悅顏色，血海安寧，飲食進美，舉止康強，丈夫服之，亦療五勞七傷（蘇沈良方名澤蘭散。）</p>
<p>蘭（九分，使嫩者，不用根）　白朮（三分，米泔浸，切作片子，以麩炒，令黃色）　白芷（三分，濕紙裹，煨過）　人參（三分）　川椒（一兩，只取三分紅皮用）　厚朴（一兩，去皮，薑汁炙）　藁本（二分）　桔梗（一兩）　白蕪荑（七分，揀擇只用仁子）　阿膠（半兩，研炒令虛別杵）　細辛（一兩）　丹參（三分）　肉桂（五分，去皮，不見火）　生地干黃（一兩半）　吳茱萸（四分，洗炒）　黃耆（三分）　川烏頭（三分，炮，去皮臍）　卷柏（四分，不用根）　白茯苓（一兩）　甘草（七分，炙）　石膏（二兩，研細，水飛過）　五味子（三分）　柏子仁（一兩，生用）　防風（一兩）　當歸（七分）　芍藥（七分）　川芎（七分，微炒）　乾薑（三分，炮）　白薇（二分，去土）</p>
<p>上二十九味，並揀擇令淨，分兩為末，每日空心，以熱酒調下一錢，如婦人一切疾病但請服之，神妙。蘇沈良方云：予家婦人女子，羸弱多疾者，服此藥悉瘥，往往有子。</p>
<p>二十四味萬靈丸　治婦人產前產後諸疾，並三十六種冷血風氣等病。</p>
<p>人參（半兩）　茯苓（三分，去皮）　當歸　官桂（去皮）　吳白芷　細辛　木香　牛膝　左山寒水石　藁本　麻黃（去節）　甘草（炙）　蘭香菜如無菜（只用子亦得）　防風　桔梗　赤參　芎藭　黑附子（炮）　蟬蛻（以上各半兩，去土）　芍藥　牡丹皮（各三分）　馬鳴蛻（一兩炙）　沉香（一分）　石茱萸（一分）</p>
<p>上件，同為細末，煉蜜為丸如彈子大。每日空心，用酒化一丸。治八風，十二疝，乳中，風淋，血聚，並治胎不安。若死在腹中，不過三丸，生下死胎。生衣不出，一丸便出。產後，腹內絞痛，繞臍下如刀刺相似者，一丸便止。產前產後，赤白痢，並帶下，及嘔逆，心氣煩滿，服一丸，立瘥。如懷胎入產月，但一日一服，至生產時，不覺痛。產前傷寒中風，體如板者，用熱煎麻黃湯，下一丸，立止。經信不通，或頻並來，或白，吃食無味，瘦惡作熱，面赤唇焦，手足煩疼，遍身如黑點，生血斑，凡婦人一切疾病，但服此藥，必有功效。</p>

<h3>保生丸</h3>
<p>治產前產後，血氣風冷，及是婦人所患一切疾病，並皆理療神驗。</p>
<p>金釵石斛（二分，另杵）　秦艽　官桂（去皮）　乾地黃　貝母　防風　糯米　甘草（炙）　乾薑（炮）　細辛（以上各一分）　當歸　蜀椒（去目）　大麻仁　大豆卷（即黑豆皮）　黃芩（以上各二分）　石膏（明淨者）　麒麟竭　沒藥　龍腦（各一錢半）</p>
<p>上一十九味，並須州土新好者，大分細搗羅為末，煉蜜六兩，熱，須入水一分同煉，令水盡，和藥為丸，先杵五百下，後，丸如彈子大。勻可成七十二丸，用湯使治病，狀如後。產前產後，血氣頭旋身戰，可用薄荷湯下。月信不通，當歸酒下。赤白帶下，溫酒下，婦人臨產難產，胎衣不下，子死腹中，橫產倒死，死絕不語，但看頭熱氣在，取一丸，用芎棗湯，研灌口中，但入喉立蘇，神妙。產後惡血不盡，臍腹疼痛，嘔吐發熱，憎寒煩悶，月候不調，或多或少，皮膚虛腫，產血不止，虛勞，中風，口噤不語，半身不遂，產前產後，赤白痢，大便秘澀，血渴，血暈，狂語見鬼，頭痛，面色痿黃，漸成勞瘦，飲食無味。以上病狀，並無灰酒研下一丸，服之五七丸，臨產五臟不痛，男女易生，其神驗難述。催生，當歸酒下。產後中風血暈，生地黃汁同煎十沸，研藥一丸，灌之，立瘥。御風，但五日一度，爛嚼一丸，空心熱酒下，或浴下，嚼一丸，溫酒下。小兒天吊驚風，薄荷酒下，一丸分作三服。中風不語，身忽如板，用消梨，好瓤薄荷，同研，熱服一丸，用衣被蓋覆，但汗出，相次揭衣被，便當風坐臥，立瘥。其婦人身上一切諸疾，但只以溫酒及當歸薄荷同研一丸，立瘥。產寶諸方云：忌生冷油膩魚雞等物，湯酒入口，溫熱得所，但未產以前，與產後一臘，好依方合，一法。博濟方中，用麒麟竭、沒藥、龍腦、三味。近醫者云：血竭、沒藥、破血、產前不可服，若合，只依太醫局方，除此三味，合之分兩亦同，產前後亦可通服也，初產作小丸服之，一法。初產了五七日間，氣虛，蜜藥才下，散胸隔間，恐發虛熱，凡合一料，以糯糊丸半料，糯糊丸者，初產至兩臘可服，丸如桐子大，分三十六服。</p>

<h3>阿膠丸</h3>
<p>治產前產後神妙。</p>
<p>真阿膠（四斤，火炙令熱為炒）　蛇蛻皮（一條，燒灰）　熟艾（半兩，燒灰）　敗筆（一管，用頭燒灰　大麥花少許，炙乾，如無此花，以麥蘖上牙子代之亦可，為細末）</p>
<p>上五味一處，研令細，以軟粳米飯為丸，如雞豆大，如丸時黏手，以少許面為丸。婦人有身，十個月滿足者，有諸般疾病，用井花水磨下一丸。產後有病，用通靈散一字，醋湯磨下一丸。此藥大安胎臟，如築打著，及死胎在腹中，用醋湯下一丸。產前欬噎用千金散子一字，熱水調下一丸。產前產後，被血衝心，用黃散子半錢，醋湯調下一丸。產後遺瀝不止，用燒鹽半錢，無灰酒下一丸。難產者，三日至五日，服此立下，用通靈散子，醋湯下一丸。如婦產時，衣先下，未見兒，足踏衣生，用通靈散子一字，調下一丸。如兒先下衣未見，須臾，用醋湯下一丸。如刺前後心，用通靈散子一字，調下一丸，如漿破後，經三五日，不生用黃散子一錢，酒調下一丸。產前產後痢，醋湯下一丸。血氣，用艾枝煎湯下一丸，罌粟炒令黃為末，是千金散。真阿膠，炙令黃為末，是黃散子。蛇蛻衣燒灰為末，是通靈散子。</p>

<h3>琥珀散</h3>
<p>治產前產後血氣不和，及一切疾。</p>
<p>當歸（一兩，微炒）　川芎（一兩）　赤芍藥（二兩）　莪朮（一兩，煨）</p>
<p>上為末，每服二錢，空心溫酒下，如腰腹痛，加陳橘皮一兩，去白，乾薑半兩炮，同和勻，如不吃酒，以水一盞同煎至七分，溫服。</p>

<h2>經氣雜證</h2>

<h3>白薇丸</h3>
<p>治婦人無子，或月水斷續不勻，及上焦虛熱，下部冷憊，飲食減少，肢體黃瘁，凡有心腹一切疾病，和劑局方名小白薇丸，治婦人衝任虛損，子藏受寒，久無子息，及斷續不產，此因上熱下冷，百病滋生，或月水崩下，帶漏五色，腰腹疼重，面黃肌瘦，或因產乳不能將護，路廁太早，或久坐濕地，並冷風從下入，血藏既虛，風邪內乘，或月水當行，失於調攝，傷動胞絡，陰陽不和，上焦虛陽壅燥，下藏邪冷結伏，致使月孕不成，冷極傷敗，月水不勻，飲食減少，夜多盜汗，面生䵟𪒟，齒搖發落，腳膝疼重，舉動少力，並宜服之。</p>
<p>白薇　干熟地黃　川椒（去目，微炒去汗）　白龍骨（各一兩）　車前子　當歸（銼碎，炒）　芎藭蛇床子　細辛　乾薑（炮，各半兩）　藁本　白芷　覆盆子　官桂（去皮）　菖蒲　白茯苓　遠志（去心）　人參　桃仁（去皮尖，麩炒黃）　卷柏（各三分）　麥門冬（一兩半，去心，焙）</p>
<p>上二十一味，同杵為細末，煉蜜為丸如桐子大，每日空心及晚食前，溫酒下三十丸（局方云：常服，壯筋骨，益氣血，暖下藏，除風冷，令人有子）</p>

<h3>鱉甲丸</h3>
<p>治婦人月經不調，肌肉黃瘁，脅下積氣結硬，時發刺疼，漸成勞狀。</p>
<p>鱉甲（去裙襴，醋炙黃）　官桂（去皮）　荊三稜（醋淬，急炒）　川大黃（煨）　桃仁（麩炒，去皮尖）　丹皮　訶子皮　琥珀　牛膝　土瓜根（各等分）</p>
<p>上一十味同為細末，煉蜜為丸如桐子大，煎桃仁湯下十五丸，破血症氣塊，尤妙。</p>

<h3>桃仁煎</h3>
<p>治月水不調，阻滯不通。</p>
<p>桃仁（二兩，湯浸去皮尖，雙仁，麩炒微黃）　川大黃（二兩）　虻蟲（一兩，炒黑色，去翅足）　川朴硝（二兩）</p>
<p>上四味，同為細末，用醋五升，入銅銀鐺內，以慢火熬成膏，可丸，丸如桐子大，當日晚不吃晚食，五更初，以溫酒吞下一丸，不嚼破，至明日午際，取下如赤豆水，或似羊肝蝦蟆衣，其病下了，即一丸分作二服，未下再服，候鮮紅即住服，仍以調氣湯散補之。</p>

<h3>延胡索散</h3>
<p>治婦人血氣走作，疼痛不可忍者，及月水不調，面色萎黃，吃食減少，及生產後諸疾，並皆治之。</p>
<p>延胡索（生用）　荊三稜（生用）　蓬莪朮（酒浸少時）　當歸（酒洗，焙乾，各一兩）</p>
<p>上四味，同為細末，每服二錢，空心溫酒下，如血氣發甚者，及月水不勻，並用童便酒，紅花同煎調下，只三服，瘥矣。</p>

<h3>當歸煎丸</h3>
<p>治婦人久積血氣時發，發刺痛，肌瘦力乏，月候不調。</p>
<p>川當歸（去土，二兩）　檳榔　赤芍藥　牡丹皮　延胡索（各半兩）</p>
<p>上五味，先將當歸，用米醋一升二合，慢火熬成膏，入眾末，和為丸如桐子大。每服二十丸，溫酒下，空心日午服。</p>

<h3>澤蘭丸</h3>
<p>治婦人血海虛損，肌肉黃瘁，吃食進退，月水不勻，四肢倦悶。（聖濟總錄：治乍多乍少，或斷或續，或湛或濁。）</p>
<p>澤蘭（一兩）　附子（一兩，炮）　當歸　牛膝　牡丹皮　芍藥（各半兩）　人參　陳皮　厚朴（薑汁炒令香）　蛇床子（各一兩半）　黃耆　乳香　白朮　蓯蓉（酒浸，炙）　官桂（去皮，各三分）　川芎（半兩）　遠志（去心，半兩）</p>
<p>上一十九味，同為細末，煉蜜為丸如桐子大。空心溫酒下十五丸，米飲亦可。</p>

<h3>沉香鱉甲散</h3>
<p>治室女營衛不調，經候凝滯，或時頭目昏悶，上膈積涎，肢體不利，五心虛煩，飲食進退，多困少力。</p>
<p>木香（一兩）　沉香（三分）　鱉甲（九肋者一枚，淨去裙襴，醋炙令黃香用，一兩半）　常山（一兩）　當歸（一兩）　半夏（一兩，湯洗七遍，去滑止）　官桂（去粗皮，一兩）　柴胡（一兩，去蘆）　人參（一兩）　白茯苓（一兩）　檳榔（三分）　甘草（炙）　青皮（一兩）　陳皮（一兩）　生地黃（一兩）</p>
<p>上一十五味，同搗羅為末，每服二錢，水一盞，又入生薑三片，同煎至七分，去滓，溫服，空心日午臨臥各一服。御藥院方：內有麥門冬一兩，無官桂一味。</p>

<h3>乾柿煎丸</h3>
<p>治衝任久虛，下漏不時，連年未止，變生多病，夜有盜汗，咳嗽痰涎，頭頂多痛，百節痠疼，血海虛冷，面生䵟𪒟，臍腹刺疼，全不吃飲食，日漸瘦弱，懷妊不牢，或無娠孕，並宜服之。</p>
<p>好乾柿（十個，去蓋，細切）　沉香（一兩杵為末，用好酒三升，浸沉香柿子兩伏時，銀器中，文武火熬成膏，乳缽內研如糊，次入下諸藥）　禹餘糧石（四兩，紫色者不用，夾黃燒通赤，入頭醋內，淬十度，杵為末，研令細，入諸藥內）　白朮（一兩）　吳茱萸（一兩，湯浸一宿，去浮者，煨火焙）　川烏頭（一兩，酒浸一宿，炮製，去皮臍）　乾薑（半兩，炮）　地龍（二兩，槌碎去土，於新瓦上，慢火炒令黃色）　陳橘皮（去白，一兩）　</p>
<p>上七味，搗為末，入前藥膏，和令得所，入臼內，杵一二千下，取出，為丸如桐子大。每服十丸至十五丸，溫酒下，醋湯下亦可。如患多倦少力，全不思食，粥飲下。如欲妊娠，服不過兩月必有，空心食前服。</p>

<h3>人參荊芥煮散</h3>
<p>荊芥穗（四兩）　柴胡（去蘆）　秦艽（洗去泥）　肉豆蔻（去殼）　白芷　黃耆（各二兩）　當歸（洗一兩）　鱉甲（洗淨，醋炙黃）　官桂（去粗皮，各二兩）　蓬莪朮　芎藭　麥門冬（去心）　酸棗仁　海桐皮　芍藥　人參　茯苓　甘草（炙）　乾地黃　枳殼（麩炒，去瓤）　木香（各一兩）　沉香（半兩）　檳榔（半兩）</p>
<p>上二十三味，並杵羅為末，每服二錢，水一盞，生薑三片，烏梅二個，同煎至七分，溫服，一日二服。如覺臟腑熱，即空心服。小便多，即食後臥時服。如患有氣塊血塊，立得消，亦治丈夫風勞病，其功不可盡述。</p>

<h3>香甲散</h3>
<p>治婦人血風虛勞，四肢少力，肌肉黃瘁，多困減食，遍身痠疼，真邪相擊，心腹撮痛。</p>
<p>木香（三分）　鱉甲（去皮肉，醋炙令香，二兩）　牡丹皮　赤芍　陳皮（去白）　官桂（去皮）　人參　茯苓　秦艽　柴胡（去蘆）　白朮　當歸（炒）　熱乾地黃　黑附子（炮製，去皮臍，各一兩）　乾薑（三分，炮）　甘草（半兩，炙）</p>
<p>上一十六味，同為末，每服二錢，水一盞煎，入生薑三片，棗二枚，同煎至七分，去滓，稍熱服。如煩渴心躁，更入烏梅一兩，同杵為末。</p>

<h3>大香甲散</h3>
<p>治婦人血臟風虛冷氣，肌肉黃瘦，飲食進退，經候不勻，心腹多脹，漸變如勞，補血海，調氣。</p>
<p>沉香（半兩）　鱉甲（湯浸去裙襴，炙令黃香用，一兩）　柴胡（半兩）　人參（半兩）　桔梗（半兩）　茯苓　川芎　藿香（各半兩，葉）　羌活　木香（各半兩）　陳皮（去白）　牡丹皮　安息香（各半兩）　當歸（半兩）　厚朴（半兩，薑汁，炙令香）　荊三稜（半兩，炮）　官桂（去皮）　附子（炮，去皮臍）　牛膝（各半兩）　桃仁（湯浸去皮尖，半兩）　和皮大腹子（一分）</p>
<p>上二十一味，各洗淨擇，焙乾為末，分一半，每服二錢，水一盞，入生薑黑梅各少許，同煎至八分，溫服，餘一半更入。</p>
<p>乾漆（一分）　阿魏（半兩）　赤芍藥（一分）</p>
<p>上同為末，煉蜜為丸如梧桐子大。每服二十丸至三十丸，空心煎烏梅地黃湯下，與散子相間服。</p>

<h3>金花散</h3>
<p>治室女骨蒸熱勞。</p>
<p>藿香　零陵香（各一分）　蓮子心（二分）　延胡索　芍藥　香白芷　川芎　當歸　官桂（去皮，各一分）　晚蠶蛾（二分）</p>
<p>上一十味，同搗羅為散，每服，溫酒調下一錢，一日二服。</p>

<h3>枳殼飲子</h3>
<p>治婦人手足煩熱，夜臥多汗，肌肉黃瘁，經候不勻，四肢煩倦，心胸滿悶，狀似勞氣。</p>
<p>枳殼（二兩，去皮，麩炒）　半夏（一兩，湯洗七遍，以生薑汁浸三宿用，麩炒令黃）　紅芍藥（一兩）　柴胡（去蘆，一兩半）　黃芩（一兩半）</p>
<p>上五味，同為細末，每服二錢，水一盞，生薑一塊，擘破，棗二枚，同煎至八分，去滓，溫服，候五心煩熱，及身體壯熱，潮熱，退，方住服。</p>

<h3>當歸散</h3>
<p>治婦人血風攻疰，百骨節痠疼，皮虛腫，筋脈拘急，或生癮疹，寒熱不時，飲食無味。</p>
<p>延胡索　當歸　蒲黃（炒）　京芎　滑石（炒，先研細）　乾地黃　天麻　地榆（醋炒，焙乾）　肉桂（去皮）　澤蘭　蓬莪朮（炮）　赤芍藥</p>
<p>上一十一味皆等分，唯地榆減諸藥之半，各依法修制了，杵羅為細末，每服一錢半，溫酒調下，或薄荷茶清調下亦可。如手腳冷，卒患血氣奔心撮痛，炒生薑，酒調下二錢。</p>

<h3>牡丹皮散</h3>
<p>治婦人血氣攻疰，頭目疼痛，遍身煩疼，口苦舌乾，多困少力，或發寒熱，狀似傷寒。</p>
<p>牡丹皮　赤芍藥（各二兩）　川芎　羌活（各一兩半）　甘菊　防風（各二兩）　半夏一兩（半，湯浸洗七度，炒令黃）　甘草（一兩，炙）</p>
<p>上八味，同為細末，每服二錢，水一盞，姜二片，薄荷十葉，煎至七分，稍熱服。</p>

<h3>狼毒丸</h3>
<p>治婦人血氣攻疰，腰腳及背膊疼痛，四肢煩倦，麻痹，兼療丈夫元臟風攻遍身痛，筋脈拘急，腰腳無力。</p>
<p>天南星　狼毒　海桐皮　黑附子（炮，各等分，又一法，更加牛膝一味，焙用之，以酒浸一宿，亦妙。）</p>
<p>上四味各用童便浸，安著盞子四隻內，浸一宿，漉出，控干，杵為末，酒糊為丸，如梧桐子大，每日空心，以獖豬膽汁十餘滴，炒，蔥一根，簽酒下二十丸，只酒亦可，如有孕不可服之。</p>

<h3>牡丹皮散</h3>
<p>治婦人臟冷，氣不和，心胸煩悶，不思飲食，四肢無力，頭昏，身體痛。</p>
<p>牡丹皮　芍藥　白芷　乾薑（各一分）　當歸　延胡索　陳皮（去白）　官桂（去皮）　烏藥　苦枝紅花　川芎（各半兩）</p>
<p>上十二味，並生杵為末，每服一錢半，用生薑二片，酒水各半盞，同煎至七分，溫服。如初生產後，每日三服，一七日後，漸減服數，如服藥後，腹內些小疼痛，請不怪，如吃至滿月，永無病生。</p>

<h3>赤芍藥散</h3>
<p>治婦人氣血不和，心胸煩悶，不思飲食，四肢少力，頭目昏眩，身體疼痛。</p>
<p>牡丹皮　白茯苓　赤芍藥　吳白芷　甘草（各一兩）　柴胡（三兩，去蘆）</p>
<p>上六味為末，每服二錢，水一盞，入薑棗，同煎至七分，溫服，食後臨臥各一服。</p>

<h3>勝金丹</h3>
<p>治婦人血海虛冷，臍腹冷疼，肌肉黃瘦，飲食進退，時多困倦，四肢發煩，產前產後諸疾，但依法服食，大效。</p>
<p>大黃（三兩，用米醋浸兩宿，以竹刀子細切，於甑上蒸九度，研為糊）　地龍（去土，醋內炒，過半兩）　芫花（一分，醋炒令黃色，於銀器內炒，不得犯鐵器）　蓬莪朮（半兩，炮）　川芎（半兩）　當歸（半兩）　蒲黃　延胡索（半兩，於銀器內炒　杜牛膝半兩）　官桂（去皮）　赤芍藥（各半兩）　乾地黃（半兩，以醋微炒）　劉寄奴（一分，略炒）</p>
<p>上十二味並同為末，傾入大黃膏內，溲和為丸，如雞豆大，每日早晨臨臥，用溫酒化下一丸。如產後有疾，以炒生薑酒化下一丸，產後只用溫酒化下一丸，月數未多，即且莫服此藥。</p>

<h3>黑靈散</h3>
<p>治婦人遠年血氣甚者。</p>
<p>穿山甲（半個）　黑鯉魚皮（半個）　小兒發（半兩）　皂莢（不蛀者，三錢）</p>
<p>上四味，同入於磁瓶子內，用鹽泥固濟，先用文武火燒，次用大火煅之令赤熱，放冷，取出，研細，每服半錢，溫酒調下。</p>

<h3>順氣木香丸</h3>
<p>治婦人血氣攻刺，手足疼痛冷痹，心腹久積，掙淨刺，口吐冷涎，面目青黃色，發歇有時。</p>
<p>黃莞花（一兩）　巴豆（七個用醋半碗浸一宿，銚子內煮盡，醋炒紫色）　延胡索　秦艽　桑蛾（各半兩）　官桂（一分）　木香（一分）</p>
<p>上七味為末，醋煮，面為丸如綠豆大，每服十丸，熱酒下。</p>

<h3>沒藥散</h3>
<p>治婦人急血氣，疼痛不可忍者。</p>
<p>沒藥　紅花（揀淨）　延胡（索洗）　當歸（洗，各等分）</p>
<p>上四味為細末，每服二錢，以酒半盞童便半盞相和勻，赤燒稱錘，或小鈴子，淬過後，調下，常服，只用溫酒一錢亦可。</p>

<h3>伏龍散</h3>
<p>治婦人赤白帶下，久患不瘥，肌瘦黃瘁，多困乏力。</p>
<p>棕櫚（不拘多少，燒灰，才火著，急以盆蓋，陰令火住）　屋梁上塵（縣長者，如無，以灶頭上空虛者，抄於銚子內，炒令煙盡，於淨地上放冷，出火毒）　伏龍肝（於鍋直下去取赤土，炒令煙盡用）</p>
<p>上三味等分，研和勻，令入龍腦麝香各少許，每服二錢，溫酒調下，鹽醋湯亦可，患十年者，可半，即瘥。</p>

<h3>大琥珀丸</h3>
<p>治婦人百病。</p>
<p>木香（二兩，細切，微炒）　琥珀（二兩，生用）　北亭（一兩，以熱湯化為水，澄去砂石，取青者，白瓷器內，熬成粉）　京芎（二兩，炒）　官桂（一兩，去皮）　當歸（一兩，略炒）　白殭蠶（一兩，揀直者，去絲，取淨用，生自然汁，於白碗內，焙乾）　沒藥（一兩，生用）　薑黃（一兩，略炒）　蟬殼（一兩，去土爪面，洗淨用之）</p>
<p>上一十味，並依法修事，秤定分兩，一處為末，別以乳香一兩，用水磨盡，香在水內，入少白麵為糊，丸如綠豆大，以好生硃砂一兩半，麝香一錢，為衣，將硃砂麝香末，分為三度，上之，貴色勻也，治婦人室女百病，常服五丸，溫酒湯亦得，久病，十五丸至二十丸，日兩服。赤白帶下，煎荊芥酒下。經脈不通，虎杖京芎蜜同煎，酒下。心氣痛不可忍，生薑醋湯下，上喘咳嗽，訶子人參煎湯下。五勞，烏梅鱉甲蔥白煎，酒下。血邪發狂，磨刀水磨生犀下，用鉛白霜亦得。四肢瘙癢，遍體生瘡及五痔，何首烏煎酒下。血海積冷，腹中絞痛，食後氣脹，腰腳無力，炒姜酒下。血暈悶亂，童便酒各半盞，煎沸，放溫下。血山崩，白艾葉煎酒下。臨產作陣，血閉悶亂，胎息不順，子死腹中，生衣不下，及要催生，並用生雞子清一個，熱酒調下。小產產後，敗血奔心，口噤舌強，寒熱發渴，頭面浮腫，坐臥不得，百節痠疼，用生地黃生薑汁各少許，入童便半盞，同煎三五沸，去滓溫服下。產後中風，用川烏頭二個，炮製，去皮臍，白殭蠶少許，一處為末，酒煎半盞下。產後淋瀝不止，口苦盜汗，乾荷葉阿膠煎酒下。頭面及四肢腫痛，伸縮拘急，延胡索酒下。血症結塊，刺痛難忍，當歸煎酒下。赤白等痢，熱陳米飲下。有孕不得服之。</p>

<h3>二十六味牡丹煎丸</h3>
<p>治婦人血刺血痃上搶，血塊走注，心胸疼痛，血海虛冷，臍下膨脹，小腹滿悶，腿膝無力，血多血少，背膊悶倦，血皴裂，手足麻痹，身體振掉，腰脊傴僂月經不調，或清或濁，赤白帶下，血山崩漏，面色痿黃，身生癮疹，腹內虛鳴，面生䵟𪒟，手足熱疼，並筋攣骨疼，兩筋攀急，起坐托壁，腰背牽掣，舒捲不得。陳自明管見良方云：治婦人衝任本虛，小腹挾寒，或因產勞損子臟，風寒搏於血氣，結生瘕聚，塊硬發歇，背項強急，手足麻痹，或疼，滯澀悶血，小腹疼痛，寒熱盜汗，四體痠痛，羸乏少力，心多驚悸，不能飲食。</p>
<p>牡丹皮（一兩）　黑附子（一兩，包）　牛膝酒（浸一宿，一兩）　龍骨（二兩，細研，水飛過）　五味子（一兩，生）　官桂（去皮，一兩）　人參（一兩）　檳榔（二兩）　白朮（一兩）　白茯苓（一兩）　當歸（一兩）　續斷細（者一兩）　木香（一兩）　澤瀉（一兩）　延胡索（半兩）　羌活（二兩）　藁本（去土，用細梢，一兩）　干熟地黃（二兩）　赤芍藥（一兩）　乾薑（半兩）　山茱萸（半兩）　干薯蕷（一兩）　縮砂仁（半兩）　石斛（三兩）　萆薢（一兩末同炒熟）　白芷（一兩）</p>
<p>上二十六味，並各州土新好者，洗淨，令焙乾，杵為細末，煉蜜為丸如桐子大。如是血熱及夜多煩躁，不用附子，山茱萸，萆薢，乾薑，此四味，卻入柴胡，黃連，甘草，牽牛子四味，柴胡去苗，一兩，甘草一兩，余各半兩，為末，同和，每服十丸至二十丸，溫酒下，醋湯亦可，空心臨臥各一服，不嚼，並無所忌。</p>

<h2>驚癇</h2>

<h3>安神丸</h3>
<p>治小兒驚風搐搦，化涎鎮神。</p>
<p>使君子（兩枚以麵裹於慢火中煨，候面熟為度，去面，只用使君子）　水銀（一錢，結砂子）　香細墨（一錢）　蘆薈（一錢）　辰砂（一錢）　臘茶（一錢）　輕粉（二錢）　天竺黃（半錢）　青黛（半錢）　蠍梢（三七個）　乳香（一錢）　龍腦（一錢）　寒食麵（一錢半）　真熊膽（半錢）</p>
<p>上十四味，同研令勻細，滴水和為丸如綠豆大，每服一丸，薄荷蜜水化下，如小兒稍覺驚著，化半丸與吃，若能常服，永無驚疾。</p>

<h3>延壽散</h3>
<p>治小兒驚搐不定，或因驚風，已經取下，此病再作，氣粗喘促。</p>
<p>雞舌香大者（三枚）　硃砂（半錢）　五靈脂（一錢半）　黃耆（一錢半）</p>
<p>上四味，同研為細末，每服半錢，用研糯米泔調下，如孩子小，只服一字。</p>

<h3>神效龍腦膏</h3>
<p>治小兒驚風搐搦，痰塞在心，戴眼直視，或眼不開，口噤，四肢或冷或熱，大便或秘或泄。</p>
<p>生龍腦（一錢，用柳木槌子研，以熟腦代，亦得）　膩粉（一分）　水銀（半兩，用臘茶半錢，好酥一塊，如棗大以水銀一處揩磨調和殺研之）　天南星（二錢，先去皮臍，濕紙裹熟灰內煨，炮取去為末同研）　石腦油（冬天用半兩，夏天用一分，將前末同研，候油入和調，硬軟得所）</p>
<p>上四味為末，以石腦油和丸如綠豆大，一歲二歲三歲四歲一服一丸二丸，煎乳香湯下，不得化破，服後，三五頓食久，取下惡物痰涎，大有奇功。</p>
<p>桃紅（丸）　治小兒（慢驚，墜涎安蟲，其狀多因久患脾胃虛弱，風邪中入而作此疾。）綠礬（一兩半）　赤腳烏（半兩）</p>
<p>上二味同為細末，作稠麵糊為丸，如綠豆大，每服用溫米飲下三丸，次吃補虛丸。</p>

<h3>補虛丸</h3>
<p>新羅白附子一兩，湯洗，去皮　大半夏一兩</p>
<p>上二味，各用白湯浸三日，每日換水三度，取出，焙乾為末，以生薑自然汁著兩錢薑末煮，糊和為丸如綠豆大，每服三丸，溫粟米飲下。</p>

<h3>牛黃硃砂丸</h3>
<p>治小兒慢驚風，搐搦，及天瘹似癇者。</p>
<p>蠍梢（二七個）　牛黃（半錢）　麝香（半兩）　雄黃（少許）　硃砂（一錢）　黑附子尖（三個）　巴豆（一粒，好者，燈上燒令皮焦，剝去皮，用肉）</p>
<p>上七味，一處研，令勻，如粉，以蒜蒸餅和為丸，如蘿蔔子大，濃煎荊芥湯，下一丸，以衣被蓋，少時汗出，可愈。如天瘹搐搦，開口不得者，便用若柳草蒜入鹽同杵，塗藥一丸在兒後心上，以前蒸蒜下餅子蓋之，用手帛子系定後，更服一丸，化破入麝香少許，以煎湯下之，覺內蒜氣，渾身汗出立愈，用端午日合，忌雞犬婦人見。</p>

<h3>如聖青金丸</h3>
<p>治小兒體熱，忽發吐逆，夜驚啼，荏苒不解，或秘或泄，變成慢驚，或為疳疾等狀，定搐搦，療疳病，墜痰涎，鎮心神。</p>
<p>龍腦（一錢）　麝香（一分）　香墨（一錢半）　膩粉（一錢）　白麵（三錢）　使君子（兩個，以白麵裹，慢火煨令熟）　金箔　銀箔（各一十片，如無，少用）　青黛（二錢）</p>
<p>上九味同研令細，滴井水和丸如雞豆大，患慢驚，用薄荷水化下一丸，服訖，須臾便睡，睡立愈，後更服兩三服，如些須小驚者，及急驚，只服半丸以下，慢驚隨大便取下涎一合以來，神效。</p>

<h3>睡驚丸</h3>
<p>治小兒慢驚風，身體壯熱，手足微瘛。（見棲真子嬰童寶鑑。）</p>
<p>白龍腦　硃砂（各一錢，末）　香墨末　青黛末　蘆薈末（各一錢）　膩粉（一錢）　使君子（二個）</p>
<p>上件以寒食麵為糊，丸如桐子大，用薄荷水化一丸。</p>

<h3>厚朴散</h3>
<p>治小兒外傷風冷，解肌。</p>
<p>厚朴（去皮，以薑汁塗，炙令香）　蒼朮　陳皮（去白，各一兩）　乾薑（三分）　甘草（半兩）</p>
<p>上件同為細末，每服一錢，水一盞，入生薑二片，棗一枚，同煎至六分，熱服。</p>

<h3>鉛白霜丸</h3>
<p>治小兒驚風，傷寒，四五日未得汗，搖頭撲手，上竄，多啼叫，不睡，吃水無休。</p>
<p>鉛白霜（半兩）　山梔子（一兩）　甘草（炙，半兩）　馬牙硝　硃砂　人參　天竺黃（各半兩）</p>
<p>上七味為末，煉蜜為丸如桐子大，每服一丸，冷熱蜜湯化下。</p>

<h3>青黛丸</h3>
<p>治小兒驚食哽氣。</p>
<p>青黛（一分）　木香　豆蔻　檳榔（各一分）　麝香（一錢）　續隨子（一兩，去皮）　蝦蟆（三個，燒存性）</p>
<p>上七味同為細末，煉蜜為丸如綠豆大，每服五丸，薄荷湯下。</p>

<h3>紫霜散</h3>
<p>治小兒驚涎壅熱，睡中驚搐，驚叫，解心臟，安神魂。</p>
<p>硃砂（一兩半，好者）　鐵粉（半錢）　鉛霜（一錢）　天竺黃（一錢）　龍腦（半錢，以上五味，並同細研）　甘草（一錢，炙）　人參（一分）　使君子（一錢，麵裹，煨）</p>
<p>上後三味先研為末，細羅了，卻入前五味，同研令極細，和勻後，以銀器或新瓷器內貯之，服一字，蜜水調下，看小兒大小，加減用之。</p>

<h3>真珠丸</h3>
<p>治小兒驚熱有痰，及多溫肚，夜臥不穩，吃食過多。</p>
<p>天南星（研末，一錢）　巴豆（二十四枚，去心膜，以水浸一宿，研細，不出油用）</p>
<p>上二味先研巴豆，令熟，次下南星，以糯米粥和為丸，如綠豆大，隨兒年歲服之。瀉痢，用米飲下。取食，蔥湯下，如膈上有食，即吐出，如在中腕，即瀉下。驚悸，薄荷荊芥湯下。</p>

<h3>金化散</h3>
<p>治小兒驚熱，化痰利膈。</p>
<p>川大黃（濕紙裹，煨）　乾葛　甘草（炙）　川甜硝（另研細，各等分）</p>
<p>上同為細末，每服半錢，水一盞，煎至六分，食後溫服。</p>
<p>小朱砂丸　治小兒驚積，鎮心臟，化痰涎。</p>
<p>硃砂（一錢，研細）　巴豆（三十粒，去皮膜，出油盡）　半夏湯（洗七遍，研為末炒，二大錢）　杏仁（五枚，去皮尖）</p>
<p>上四味同研為細末，以麵糊和丸如綠豆大，二歲只服一丸，荊芥薄荷湯下，三歲加一丸五歲服三丸。如有驚伏在，即行盡仍舊藥出，如無驚，藥丸更不下，甚妙而復穩。</p>
<p>辰砂丸　治小兒壯熱，驚積在內，壅並痰涎，及奶癖取虛，中積轉驚。</p>
<p>辰砂（一兩）　定粉（半錢）　粉霜（一錢半）　膩粉（一錢）　麝香（少許）　白丁香（半字）</p>
<p>上六味，同研為細末，用粟米飯，和為丸如綠豆大，捻作餅子，慢火內微炮令紫色，用粟米飯飲化下一丸，微利為度。</p>

<h3>錢湯丸</h3>
<p>治小兒驚積壯熱。</p>
<p>豬牙皂角（灰一錢）　硃砂（一錢）　天南星（末半錢）　滑石（末一錢）　輕粉（一錢，好者）　巴豆（二十四粒，去皮尖）</p>
<p>上六味同研至細，以寒食麵為糊，和丸如綠豆大，每服一歲二歲二丸，三歲三丸，煎錢湯下，臨臥服。</p>

<h3>延壽丹</h3>
<p>治小兒驚癇，及大人卒中惡風，涎潮昏重，口眼歪斜。</p>
<p>辰錦砂　膩粉　鐵焰粉　白附子（各二兩）　蛇黃（用醋浸少時，以大火煅過）　大附子（炮，各九兩）　天南星（生，淨洗）　羌活　巴豆（槌碎，用新水浸，逐日換水，浸七日後，以紙裹，壓出油）　牛膝（酒浸，焙）　蠍梢（各三兩）　生金　生銀（各另研，一分）　麝香　真牛黃（各另研，一兩一分）</p>
<p>上一十五味同研，和為細末，以蜜和粟米飲溲和為丸。如雞豆大，每中惡風痑緩，及五般癇疾，薄荷酒磨下一丸。老人半丸，小兒驚癇，十歲以上，一丸分四服，四歲以下，一丸分五服，新生孩兒，一丸分七服，並用蜜水磨下。如中風者，髮直，面如桃花色，口眼俱閉，喉中作聲，汗出如油，及汗出不流，多要下泄或瀉血者並是惡候，更不用服，唯口噤眼開者，藥下，立差。如患纏喉風，壅塞，氣息不通將絕者，急化一丸，生薑薄荷酒下，必效。</p>
<p>雙丸子　治小兒癱瘓，一切風痰傷寒，小兒驚風等。</p>
<p>天麻輕（炙）　天南星（炮）　蠶蛾　生犀末　硃砂（另研）　羚羊角末　藿香葉　白檀香　蠍梢（須是鋒全者）　烏蛇（酒浸去皮骨，輕炙）　零陵香（一錢）　天雄尖　麝香（各半兩）　牛黃（一分）　雄黃（一錢）　狐肝（一具水煮，薄切，焙乾另杵）　烏鴉（一隻，去嘴爪腸肚，於瓦罐內，燒為灰，另研，羅入諸藥末內）</p>
<p>上一十七味，並揀擇淨，分兩秤足，依法修制，搗細，研令勻，煉蜜和，硬軟得所，卻於石上捶三百下，用垍器盛，每服二丸，薄荷湯下，大人白豆大，小兒綠豆大，卒患，並三服。癱瘓中風，用膩粉三大錢，水調，同藥化下。小兒驚風，金銀薄荷湯下。婦人血風，併產前產後中風，手足彎曲，當歸紅花酒下，傷寒，豆淋酒下三五丸。</p>

<h3>透冰丹</h3>
<p>治一切風毒上攻，心胸不利，口舌乾澀，風虛痰壅，不思飲食，及風毒下注，腰腳疼痛，脾虛體黃，腎敗骨弱，疏痰利膈，治癱瘓等一切風疾，小兒驚風。</p>
<p>川大黃　益智子（去皮）　茯苓　茯神（去皮木）　蔓荊子（去花葉）　威靈仙（去土）　天麻　仟靈脾（去梗）　吳白芷　山梔子（七稜，小者為上，去皮，各一兩）　麝香（一分，另研）　細墨（一分，另研，太醫局方，燒用醋淬研）　川烏頭（四兩，生用，去皮臍，太醫局方用河水浸半月，三日一換水，切作片，焙乾，鹽一兩，炒黃去鹽）</p>
<p>上並生為末，入麝香墨拌勻，蜜溲和，入臼內，杵一萬下，丸如桐子大。每服，薄荷汁溫酒下二丸。如卒中，研四丸，用皂角白礬溫水下，立效。癱瘓風，每日服三五丸，常服一丸，茶酒任下。小兒驚風，入膩粉少許，薄荷汁化半丸，灌之。瘰癧，蔥茶清下一丸，忌動風毒物。</p>

<h3>神寶丹</h3>
<p>治大人小兒一切風疾，但服此藥，無不應效。</p>
<p>自然銅（半斤）　金星礬石　禹餘糧石　石膏（以上各一兩）</p>
<p>上四味，用炭火煅通赤，傾在釅醋內淬，如此凡一七度，放干後，都搗羅為末，入在瓷盆內，以湯淘洗二十度，候浮盡，上面黑汁澄淨了，只收在底真實藥，於瓷器內慢火逼盡水脈後細研，乃用諸藥如後。</p>
<p>蔓荊子　威靈仙　茯苓　天竺黃　天仟藤　白殭蠶　鉛白霜　蛜蜥（去毒尖，炒）　白蒺藜　旋覆花　莽草　犀角銼　半夏（湯洗，去涎七度，麵炒令黃色）　藿香（以上各一分）　桑螵蛸　瓜蒂（各二七個）　赤小豆（四十九粒）　人參　檳榔（半生半熟，各半兩）　劍脊烏蛇（酒浸去皮骨，炙黃，用肉，一兩）　真虎骨（一兩，酒浸，炙黃）　白龍砂（以白犬，先系定，將粟米餧三日，取其第三日糞，淘取粟米，焙乾用之，一兩）</p>
<p>上件修制，搗羅，再用下項藥。</p>
<p>好朱（砂一兩，飛）　牛黃　龍腦（各一兩）　麝香　膩粉　乳香（各少許）</p>
<p>上六味，研如塵，用前藥攪和令勻，用槐膠水煮麵，糊和得所，入鐵臼搗熟，丸如彈子大。焙乾，每一粒，豆淋酒磨下，作十服，每五服後，浸皂角水磨下，服之，小兒患，量大小以意加減與服，用薄荷金銀湯磨下，神效不可具述。</p>

<h3>神效雄黃丸</h3>
<p>治小兒五般癇，牛癇即牛聲，馬癇即馬嘶，狗癇即狗吠，羊癇即羊鳴，雞癇即雞鳴，五癇病者，五臟相引，邪氣盈，起寒厥，反張，手顫，口吐涎沫，須臾如蘇，復作。此方與錢氏五色丸同，但博濟水銀用八分耳，五色丸。</p>
<p>硃砂（半兩）　水銀（一分，一作二兩）　真珠（一兩，研末）　鉛（三兩，同水銀熬）</p>
<p>右煉蜜為丸如麻子大，每服三四丸，煎金銀薄荷湯下。</p>

<h2>疳積</h2>

<h3>金瓜圓</h3>
<p>治小兒疳熱，身多壯熱，黃瘦，久服，肥孩兒，解肌。</p>
<p>黃連　黃柏　甘草（微炙）　青皮（去白，各等分）</p>
<p>上四味，同為細末，研，入麝香少許，和勻，以獖豬膽和，卻入膽內盛，用線子系定，於石器內，漿水煮五七沸，取出，風頭釣一宿，取出為丸如綠豆大，每服五七丸，米飲下，漸加至十丸。</p>

<h3>至聖青金丹</h3>
<p>治小兒一十五種風疾，五般疳氣，變蒸寒熱，便痢棗花糞，腳細肚脹，肚上青筋，頭髮稀疏，多吃泥土，撏眉毛，咬指甲，四肢羸瘦，疳蛔咬心，瀉痢頻並，饒驚多嗽，疳蝕口鼻，赤白瘡，疳眼雀目。此悉皆治療，入口大有神效。</p>
<p>青黛（上細好者，二分，研）　雄黃（二分，研）　龍腦（少許，研）　熊膽（一分，用溫水入化藥）　胡黃連（二分）　麝香（五分，研）　膽酥（一皂子大）　水銀（一皂子大）　鉛霜　白附子（二枚）　蘆薈（一分，研）　硃砂（一錢，研）　膩粉（一分）</p>
<p>上十三味，細研，杵羅為末後，再都入乳缽內，細研令勻，用獖豬膽一枚，取汁熬過，浸蒸餅少許，為丸如黃米大，曝乾，於瓷器內收密封，或要，旋取，每服二丸，各依湯使，如後。小兒患驚風天瘹，戴上眼睛，手足搐搦，狀候多端，但取藥一丸，用溫水化破，滴入鼻中，令嚏噴三五遍後，眼睛自然放下，搐搦亦定，更用薄荷湯化下二丸。久患五疳，四肢小，肚高，撏眉吃土，咬指甲，發稀疏，肚上青筋，粥飲下二丸。小兒變蒸寒熱，薄荷湯下二丸，化破服。小兒久患瀉痢，米飲下二丸。小兒久患疳蛔咬心苦楝子煎湯下二丸。小兒患鼻下赤爛，口齒疳蟲並口瘡等，用兒孩子奶汁，研二丸，塗在患處。小兒患疳眼雀目，用白羊子肝一枚，以竹刀子批開，內藥二丸，在羊肝子內，以麻縷子纏定，用淘米泔水內，煮令熟，空腹吃下，仍令乳母常忌毒魚大蒜雞鴨豬肉等。此藥，小兒常隔三兩日吃一服，永無病，不染橫夭之疾，凡有患但與服，必有功效。</p>

<h3>蚵蚾黃連丸</h3>
<p>治小兒疳食氣，頭面虛腫，腹內泄瀉，面色痿黃，頭髮作穗，心腹脹滿，肚上青筋。</p>
<p>疥蝦蟆（十枚，洗去腹肚，以酒浸，炙令黃香，即住火，用）　木香（一分）　胡黃連（半兩）　黃連（半兩）　沉香（一兩）　丁香（一分）　麝香（少許）　乾薑（一錢，燒存性，用）　木鱉（半兩，燒令煙盡，用）　巴豆（二十二粒，以水淘，洗去心膜，並油，並以紙裹，用重物，壓去油，再研如面，止）</p>
<p>上十味，細杵羅為末，以水浸蒸餅，為丸如蘿蔔子大，空心臨臥米飲下丸，三歲以上二丸至三丸，忌黏滑物。</p>
<p>方</p>
<p>治小兒走馬疳，蝕透損骨者，及小可攻蝕，用之必有效。</p>
<p>用大天南星一枚，當心，剜作坑子，安好雄黃一塊在內，用麥麵裹，火內燒，候雄黃熔作汁，以盞子合定，出火毒，一宿去面，研為細末，入好麝香少許，掃在瘡上。</p>

<h3>秋霜散</h3>
<p>治小兒走馬疳，蝕唇頰，齒牙浮動宣露，口臭，至妙。</p>
<p>信砒（一分）　粉霜（半錢）　膩粉（半錢）　麝香（少許）</p>
<p>上四味，同研令細如粉，每用時，以指頭拈一粟米許，揩在患處牙齦上，立效。</p>

<h3>麝香丸</h3>
<p>治小兒疳熱，化食壓驚。</p>
<p>麝香　青黛　雷丸　鶴蝨　管仲　黃連（各一兩）　扁豆（一十四個，油煎去皮）</p>
<p>上七味，除麝香青黛外，一處杵羅為細末，於乳缽內，再研和勻，用獖豬膽汁和蒸餅為丸，如綠豆大，每服五七丸，空心日午米飲下，看兒大小加減，如常服，尤妙。</p>

<h3>青黛散</h3>
<p>治小兒疳熱，殺蟲。</p>
<p>青黛（好者，細研，半兩）　宣連（一錢半，為末）　苦楝根（三兩，細切，炮干，為末）　雄黃（一分，另研）　硃砂（一分，好者，另研）　夜明砂（半兩，另研）　川大黃（半兩，細銼，蒸三度，焙乾為末，取用）　麝香（一錢，另研）　蕪荑（另研，半兩）</p>
<p>上九味為細末，每服，看兒大小服一錢半錢，如若用蜜水調下，日再服，米飲調下亦可，此宜常服。</p>

<h3>萬金散</h3>
<p>治小兒疳蚘咬心痛，面伏地臥，口吐清水痰涎。</p>
<p>白檳榔（半分）　苦楝根　石榴（根皮）　鶴蝨　藜蘆</p>
<p>上五味同為末，空心熱茶調下一錢，更臨時看見大小加減，藥，忌餳糖黏滑食，凡疳在內即脹澀肚脹，痢色無定，或如靛青，日漸瘦弱，此乃內疳之候。若鼻下赤爛，自揉鼻，頭上有瘡，瘡不著痂，漸漸繞耳生瘡，頭大項細，此腦疳之候。若唇被蝕，齒作五色，或峭黑，口下疳白瘡，上齶孔子，口中臭氣，唇齒稿爛，此乃口疳之候。若下部開張，痢下膿血，有時赤爛，痛不可忍，痢下又無度，臭不可聞，此是患疳之候。</p>

<h3>萬壽方</h3>
<p>治小兒疳氣羸瘦，腹大頸小，頭髮稀疏，臟腑不調，或瀉秘。</p>
<p>干蝸牛（半兩）　干蚯蚓（半兩）　蛇蛻皮（一分）　干蝦蟆（三個）　使君子（五個，炮）　沒食子（五個，炮）　麝香（一分）</p>
<p>右上四味入罐子內，封閉口，炭火燒通紅，同後三味研細，取為丸如綠豆大，每服五丸，米飲下，一日二服。</p>

<h3>胡連丸</h3>
<p>治小兒疳瀉痢等極妙。</p>
<p>胡黃連　丁香　密陀僧各半兩　肉豆蔻一個</p>
<p>上件同研細，入麝香一分，和勻，次入綠豆末少許，同水和為丸如麻子大，兒三歲以下一丸，三歲以上五丸。孩子腦疳，鼻癢及赤爛，黃連湯下。脾虛，羸瘦泄痢，四肢虛腫，青州棗湯下。肝疳，眼澀生瘡，甘草湯下。骨疳，冷地臥，愛食土，紫蘇茶湯調下。常服，米飲下。肺疳，上氣急喘，橘皮湯下。筋疳瀉血，鹽湯下。蟲疳，及瀉無定，生薑湯下。</p>

<h2>雜病</h2>

<h3>真珠散</h3>
<p>治小兒吐奶，及霍亂吐瀉不止。</p>
<p>石亭（脂炒，一錢七）　白滑（石炒，三錢七）</p>
<p>上二味同研千餘遍，看兒大小，生薑糯米泔調下一字，立瘥。</p>

<h3>乳香丸</h3>
<p>治小兒霍亂吐瀉不定。</p>
<p>半夏（半兩，湯洗七遍，生薑汁炒黃）　乳香　砂仁（各一錢，研）</p>
<p>上三味為末，麵糊為丸如綠豆大，每服五丸，米飲下，日三服。</p>
<p>方</p>
<p>治小兒未及周歲，吐瀉不止，此乳母，氣血動營，或熱奶傷胃，致有痰涎。</p>
<p>雄黃（好者，少許）　大黃　五靈脂（各等分）</p>
<p>上三味同研為細末，每服一字，磨刀水調下。</p>
<p>香樸散　治小兒脾痛，兼和氣止瀉，及腹肋刺痛，起止疼痛，不思飲食。</p>
<p>厚朴（一兩）　木香（一分）　麥蘖（一分，炒）　神麯（一分，炒）　青皮（去白，一分）　陳皮（去白，一分）</p>
<p>上六味，同為細末，每服半錢，溫水調下。</p>

<h3>煅金液丹</h3>
<p>治小兒三五歲患無辜，瀉痢，亦可服。</p>
<p>硫黃一名石葶脂，一名金液，取三五兩至十兩，並煅，得舶上黃為第一，余黃並使得，但無夾雜為上，碎碾入罐子內，可及八九分，無妨。</p>
<p>上件藥，取煅藥罐子一個，盛藥在內，下蓋子了，採狗蹄草一大握（本名石龍芮）　木鑑草一大握（稻田中生，一莖四花，如田字，亦名水田草，獨莖生）將二草入鐵臼內，爛搗，更入掬黃土同杵，勻如泥（若無上件二草，且只使益母草代之，亦可）便將裹藥罐子底下，並周匝可厚五六分，只至口縫不裹，然後置於平地上，四面簇炭五六斤，上面安熟火一斤以來，燒之，直候火燒，藥罐子九分來通赤，專看口縫處，有碧焰子起，便急手撥炭火，急將柴灰三斗，都蓋勿令氣焰出，直候冷，撥灰取出，刮去泥土（以上是煅一度該也，度度依此煅之）第二度，依前法，杵藥草裹固，煅之如前法，煅五度，若火候得所，煅出如熟雞子香，即是候也，若急要服，只煅兩度，亦可服之（煅度數多者為妙）煅度數足，便於淨地上埋爐子一宿（出火毒，凡逐度煅了，刮去下面砂石，尤妙）又取出爐子，於銚子著水，煮一二十沸，然後敲破爐子，取藥杵爛，更入乳缽內點，煎水研爛如泥，並無粗者，卻研令乾，每一兩藥，用蒸餅一兩以來，浸握出水了，入藥內和合，更於茶臼內杵令勻，如面，可丸如梧桐子大，日曬乾，孩子留末子研細，以米飲調，以盂子灌之，夜啼心驚，奶傷有痰涎者，並速研藥一分以來，令服之，日二服，自然便放逐，下積物，多多與服，並無忌，若三五歲，患無辜瀉痢，並服得。</p>

<h3>烏龍散</h3>
<p>治小兒秋後瀉痢，久患不瘥，大腸滑泄。</p>
<p>龍骨　黃丹　定粉　豬指甲子（各等分）</p>
<p>上四味，同入一瓷器罐子內，安藥，以物塞口，用火煅令通赤，放冷，取出，研為末，每服半錢，米飲調下。</p>

<h3>使君子丸</h3>
<p>治小兒臟腑虛滑，及疳瘦下痢腹脹，不思飲食。</p>
<p>使君子（一兩，麵裹煨，以面黃為度）　甘草（半兩，炙）　厚朴（半兩，去皮，薑汁炙令香）　陳皮（去白，一分）　青黛（半兩，如是夾驚及帶熱瀉，即入此一味，如只是臟腑不調，不用此一味）　訶子（半兩，半生半煨，去核用）</p>
<p>上件同為細末，煉蜜為丸如小雞豆大，三歲以上，每服一丸，米飲化下，兒年百日以上，三歲以下，每服半丸，乳汁或清米飲化下。</p>

<h3>胡黃連丸</h3>
<p>治小兒疳痢瀉痢等，極妙。</p>
<p>胡黃連（半兩）　肉豆蔻（一個）　檳榔（一枚）　訶子（二枚，以一枚煨，一枚生用）　丁香（半兩）　紅雪（一兩）　密陀僧（半兩）</p>
<p>上七味，同研細末，入麝香一分和勻，次入綠豆末少許，同水和為丸，如麻子大，兒三歲以下一丸，三歲以上五丸。孩子腦疳鼻癢，及爛，黃連湯下。脾胃羸瘦，泄痢，四肢虛腫，青州棗湯下。肝疳眼澀生瘡，甘草湯下。骨疳，冷地臥，愛食土，紫蘇茶調下，常服，米飲下。肺疳，上氣急喘，橘皮湯下。筋疳，瀉血鹽湯下。蟲疳及瀉無定，生薑湯下。</p>

<h3>如聖散</h3>
<p>治小兒多時瀉痢，眼生翳膜，並疳眼，退翳。</p>
<p>蛇蛻皮（二條，各長二尺，用紙燭燒炭，研）　穀精草（一兩，去根土）　黑附子（末，二錢，去臍子）　蟬殼（一分，去足）　石決明（一分）　定粉（四錢）</p>
<p>上件，前三味先搗羅為末，次入諸藥，研為散，每服一字半，羊子肝一具，切破，摻末，用麻皮線纏，米泔煮熟，先熏眼，後與吃如未能吃食，研汁灌之。</p>

<h3>木香丸</h3>
<p>治小兒，調中順氣補虛。</p>
<p>草豆蔻（五個，和皮）　人參　茯苓　防風　藿香　陳橘皮（去白，各一兩）</p>
<p>上六味，同為細末，每服一字減半錢姜鹽十米飲調下。</p>

<h3>葶藶丸</h3>
<p>治小兒奶食沖脾，傷風，咳嗽，墜涎。</p>
<p>甜葶藶（一兩，紙上炒過）　牽牛子（一兩，爁熟）　漢防己（一兩，爁熟）　大杏仁（一兩，去皮尖，炒熟，研）</p>
<p>上三味，先搗羅為末，入杏仁同研用，煮棗肉，再杵為劑，丸如綠豆大，每服三丸至五丸，淡生薑湯吞下，一日二服。</p>

<h3>燒青丸</h3>
<p>治小兒奶癖食癖，每至午後時作寒熱，微有咳嗽，脅肋癖硬。</p>
<p>輕粉（二錢）　元精石（一分）　粉霜（一錢）　硇砂（一錢）　白麵（三兩）</p>
<p>上五味同細研，滴水和為餅子，以文武火燒熟為度，再研，滴水和丸如黃米大，每服七丸，漿水下，三歲以下服五丸。</p>

<h3>肉湯丸</h3>
<p>治小兒瘕呷咳不止。</p>
<p>銅青　大黃　豬牙皂角（各為末，各炒一錢）</p>
<p>上三味同研令細，用油餅面和為丸如小豆大，每服五七丸，煎豬肉湯，忌酸鹹。</p>

<h3>龍腦膏</h3>
<p>治小兒風熱，咽喉腫疼，塞悶生瘡，搔頭躁悶，及蟲咬心痛。</p>
<p>龍腦（半錢）　白礬（一分，銚子內煉過，煎卻礬汁，泣干為度）　蟬殼（三十個，去足，研末，炒）　牛黃（研半字）　蛇蛻皮（一條，長二尺，鐵器上爆焦為度，除下黑者生者再爆，須緊按實著鐵器，焦後，研為末）　元明粉（一錢）</p>
<p>上六味，一處煉研，入砂糖，少許，和為劑，丸桐子大，冷水化一丸。</p>
<p>方</p>
<p>治小兒牙宣，常有鮮血不止，牙齦臭爛者。</p>
<p>雌黃（炒，一大錢）　麝（半錢，炒）</p>
<p>上件同研至細，先用紙條子，以生油塗之，然後摻末在上，少用末，翦作小片子尖，看大小用，插在爛動處，一服，瘥。</p>

<h3>丹砂丸</h3>
<p>消除積滯，化胃久伏積聚。</p>
<p>巴豆（一分，去皮，以米醋煮一二十沸，卻入新水內，洗七遍，淨，去膜並心，及乳缽內，一向，研如粉，出油）　豆蔻（四個，為末）　木香　硃砂（研細，各一分）</p>
<p>上同研，令細，以麵糊和為丸如菘菜子大，每服三五丸，小兒一丸，酒食所傷，鹽湯下，溫水亦可。小兒疳氣，肚脹，腹聚，米飲下。</p>

<h3>抵聖丸</h3>
<p>治下虛中積久，曾取轉不得者。</p>
<p>犀角（末，二錢）　蠍稍（三七個）　銀末　硃砂（各一兩）　巴豆（二十八枚，去皮膜）　芫花（二錢，同巴豆用好醋一盞，煮令醋盡，揀出巴豆，以冷水浸洗，控干，再炒令乾，搗末，取二分用）</p>
<p>上件同為細末，再研如面，將巴豆另研如糊和勻，以水煮麵糊為丸，如小綠豆大。如小兒因驚積聚黏滑，毒物在於脾胃，累曾取下，變成虛積，棗湯下。體熱困悶眼合不開，黃連、甘草、薄荷、桃仁湯、化膩粉，一字許，下。一歲以上，三歲以下二丸，小可只一丸，米飲下。大人吃食吐逆，心腹脹滿，夜有盜汗，日漸羸瘦，用薑棗湯下。婦人血氣，米醋湯下五七丸，更在臨時約其虛實，加減用之，張氏家傳方名紫金丹。</p>

<h3>香葛根</h3>
<p>治小兒上焦虛熱，吃水不止。</p>
<p>枇杷子（炒）　乾薑　胡黃連　甘草　黑參　麥門冬（各等分）</p>
<p>上六味同為細末，每服一錢，水一盞，生薑一片，煎至七分後，更入蜜少許，再煎至五分，放溫，食後服。</p>

<h3>犀角散</h3>
<p>治小兒骨熱，晚後多發熱，面赤，五心煩悶，四肢無力，飲食減少，夜多盜汗，面色痿黃。</p>
<p>犀角末　柴胡（去蘆）　枳殼面（炒）　麥門冬（去心）　茯苓（去皮）　芍藥　大黃　桑白皮　人參（以上，各一分）　黃耆　鱉甲（一個，醋炙令黃）</p>
<p>上十一味同為細末，每服半錢，用桃仁九個，漿水煮麥門冬一十九個，去心，其桃仁同研令細，入水一盞，與藥同煎，至六分，去滓溫服，早晚各一服，亦治大人盜汗。</p>

<h3>靈砂丹</h3>
<p>治眾疾，及小兒瘹風。</p>
<p>硃砂（半兩）　大附子（炮）　青皮　杏仁（去皮尖，各一兩）　巴豆（以水五升，慢火煮三十沸，春冬用一百個，秋夏用五十枚）</p>
<p>上先將巴豆，以水五升煮令油出，水盡為度，細研。與眾藥末和，以粳米飯和為丸如豌豆大。小兒瘹風，桃柳枝一握，煎下。小兒肚脹，石榴湯下。小兒及患人，相度虛實加減服。一方用面姜一兩，炮。</p>

<h3>金鏇散</h3>
<p>治大人小兒眾疾。</p>
<p>白附子（炮）　木香　肉豆蔻（去皮）　豬牙皂角（去皮，生）　桔梗　吳茱萸（麩炒）　肉桂（取心）　大黃生　川芎淨　知母　白茯苓　當歸　檳榔（二個，一個生，一個熟）　巴豆（去皮，日日換湯，浸二七日，又用麥麩水，煮一日，細研）　白蕪荑（取仁）　芍藥　白殭蠶（二分，直者）　黃連（取淨，二兩）</p>
<p>上十八味，同杵羅為細末，入巴豆，於乳缽內同研令勻，然後入瓷器中密封，候至一七日後，每用一字，湯使，如後，卒中風，羊髓酒下，頭旋，菊花酒下，血淋，大黃湯下，腰膝痛，醋湯下，吐血，竹茹湯下腸風背陰，繁柳草自然汁，入熱酒，又槲葉燒灰，調酒下，寸白蟲，先吃牛脯，後以蕪荑湯下，霍亂吐瀉，新汲水下，肺氣喘，杏仁湯下，小兒一切疾米飲下，小兒齁，蜜湯下，小兒誤吞錢，膩粉湯下，小兒天瘹風，以蟬殼燒灰，入小便調下。</p>

<h3>靈寶丸</h3>
<p>治小兒瘡疥，及三十六種風疾，服之必愈。</p>
<p>天麻洗　天南星　白附子　獨活　白殭蠶　川烏頭（炮）　羌活洗　乾蠍（合者，各一兩）　牛黃　龍腦（各一分，細研）　麝香（半兩，細研，旋入眾藥）</p>
<p>上十一味，各要上好藥，淨洗，日內曬乾，不用近火，杵為細末，煉蜜為丸如豌豆大，諸色風疾，薄荷溫酒下五丸，女人血風，更入少當歸末，溫酒下，如癱瘓風，下床不得，先用白礬半兩為末，蔥十莖，煎湯溫浴，後用薄荷汁溫酒下三十丸，衣被蓋出汗，別服補藥，如是男子婦人疥癬瘰癧，並須依前法洗浴，服三十丸，出汗，當日必瘥，小兒瘡疥，亦須如常浴，每一歲一丸，並須出汗，並瘥，忌食麵豬肉魚毒等物。</p>

<h3>治斑瘡方</h3>
<p>用臘月兔兒活血，以蒸餅相和，丸如粟米大，每服五丸，無根水送下，食乳者，乳汁送下。</p>

<h3>解毒必勝散</h3>
<p>治瘡疱將出，未能勻遍透肌。</p>
<p>用牛蒡子不限多少，炒令熟，杵為細末，每服一錢，入荊芥二穗，水一盞同煎至七分，放溫與服，如瘡疹已出，更與服，亦妙。</p>

<h1>卷五</h1>

<h2>瘡科</h2>
<p>癰疽者，五臟六腑不和所生也，五臟主裡，氣行經絡而沉，六腑主外，氣行經絡而浮，若喜怒不常，飲食不節，陰陽不調，冷熱相干，則臟腑氣虛，氣虛則腠理開疏，寒邪客於經脈之間，為寒所折，則營衛稽留於脈，營者血也，衛者氣也，血營得寒則澀而不行，衛氣從之，與寒邪相搏，故壅遏不通，氣者陽也，陽氣蘊積則生熱，寒熱不散，故積聚成癰疽也。癰之狀，毒氣浮淺，皮薄以澤，疽之證，皮厚似牛領之皮，毒氣深也，久則熱勝於寒，熱氣淳盛蓄積，故傷肉而敗肌，肉壞則化為膿血，癰患屬表，骨髓不枯，易為治療，疽患屬臟，傷骨爛筋，則難理。經曰一寸二寸為癰，三寸四寸為癰，五寸至一尺為疽，一尺至二尺三尺曰竟體疽，疽成圓竅，皆出諸氣，人有憤郁不遂志欲者，血氣畜積，亦多發此疾，凡痤癤者是六腑受邪，經絡壅滯而發，熱毒浮淺，不能為害，但出膿血時，令盡不爾則再攻為瘡，愈盛矣。</p>
<p>治一切癰腫未破，疼痛令內消。</p>
<p>用生地黃杵如泥，隨腫大小，攤於布上，糝木香末於中，又再攤地黃一重，貼於腫上，不過三五度。</p>

<h3>抵聖丸</h3>
<p>治骨疽瘡，及冷漏久不合者。</p>
<p>滴乳香　膩粉　白礬（燒存性，各等分）</p>
<p>上三味，同為細末，每遇患者，先用鹽醬水洗之，以津唾調之，貼瘡上，必效。</p>

<h3>殘霞膏</h3>
<p>治風毒流注惡瘡熱疼，生肌化毒。</p>
<p>烏蛇（四兩）　五倍子（一兩半）　蛇皮（半兩以上，生使，銼碎）　巴豆（二十個，去殼）　雄黃　牙硝（各一兩，研碎）　麝香續添（一錢）</p>
<p>上件，依法修事，於銚子內，入油二斤半煎，聞油香，入前藥熬，候藥並巴豆焦黑色，漉出諸藥不用，卻入黃蠟一兩半，慢火養成膏，以瓷器內盛，但有風毒瘡，以小紙攤貼，妙。</p>

<h3>羚羊角湯</h3>
<p>治丈夫婦人風毒攻衝頭面，生瘡虛腫等。</p>
<p>羚羊角　犀角　羌活　檳榔　人參（以上各一兩）　當歸（少許）</p>
<p>上件，銼碎，略焙，杵過，分作四貼，每貼用水一升，煎至四合，分作兩服，空心臨臥分服，其每貼兩服，滓更用水半升，煎至七分，又作一服，吃之，溫服立瘥。</p>

<h3>敗風膏</h3>
<p>治本臟風毒攻疰生瘡，及熱毒氣流注赤癢。</p>
<p>白芨（半兩）　白蘞（半兩）　白礬（一兩）　翦草（一兩半，淨洗細銼）　吳茱萸（一分）　水銀豌豆大　麝香（少許）</p>
<p>上七味為末，相和，先用油半盞以下，瓷碗內盛，以慢火熬令沸，更入蠟一分，同煎三五沸，卻安冷處，入前藥末，調和自然成膏，或是瘡，以鹽湯洗，後以貼在瘡上。</p>

<h3>四白散</h3>
<p>治腎臟風毒攻疰，四肢頭面生瘡，遍身瘙癢。</p>
<p>白花蛇（一兩半，酒浸一宿，炙令香，去皮骨秤）　新羅白附子　白殭蠶（微炒）　白蒺藜（微炒，去刺各一兩）</p>
<p>上四味同杵為末，早晚空心，溫酒下二錢。</p>

<h3>檳榔散</h3>
<p>治腎臟風，攻疰生瘡，兼療惡瘡。</p>
<p>甘草　黃連　密陀僧（各一分）　檳榔（一斤，泡）　木香</p>
<p>上五味同杵為末，先以溫鹽漿水洗過瘡，挹干，以唾調貼之，止痛生肌。</p>

<h3>烏犀膏</h3>
<p>治皂角及惡水入瘡口內，熱痛不止。</p>
<p>皂角子不計多少，燒灰存性，用一二分</p>
<p>上先研皂角子絕細，續入砂糖，和勻如膏，貼於瘡，立效。</p>

<h3>黑神散</h3>
<p>治腸風痔疾。</p>
<p>羌活（去蘆）　黃耆　蔓荊子　狗脊火燎（去毛）　枳殼（麩炒去瓤）　檳榔　𦸈𧁾（以盛盡藥為度，不以個數，𦸈𧁾去子，留瓤用）</p>
<p>上等分杵羅為末，入𦸈𧁾中，盛以砂盒，或瓦罐子內，鹽泥都封塗之，火煅通赤，候冷取出藥末，更別用藥，如後。</p>
<p>荊芥子　白蕪荑（二味，與前等分）　木香（減半）</p>
<p>上同前藥，杵羅為末，空心茶酒調下一錢，日三服，別無忌。</p>

<h3>治痔方</h3>
<p>黃柏　黃連　黃丹　膩粉　白礬</p>
<p>上為末，各用三錢，都一處和令勻，患者先煎蔥湯洗，後用藥末一錢塗之，久患不過三度，理之大有效，楊倓家藏方：無膩粉，名三黃散。</p>

<h3>乳香散</h3>
<p>治風毒痔瘡。</p>
<p>乳香　豬牙皂角　穿山甲（各二兩）　蛇蛻（一條，頭尾全者）　箬葉（四兩，去兩頭粗硬尖者）　黃牛角（尖一對，可長二寸以來）</p>
<p>上都入在砂罐子內，蓋口，用鹽泥固濟，曬乾，用十斤炭火煅，候碧焰子出，去火，放冷，取出細研，每服二錢，用胡桃肉一個，細研，以酒半盞入藥，同調，空心服，五服後見效。</p>

<h3>追毒膏</h3>
<p>治瘰癧，神效。</p>
<p>丁香（七個）　麝香（一錢）　莨菪（五十粒）　雄鼠糞（七粒，兩頭尖者，以麥麩兩匙同炒，候麩黑黃時，去麩用）　斑蝥（三個，去翅足，以糯米炒令黃，去米用）　槲皮（三斤，去粗皮了，槌碎細銼，以水二斗，煎取四升，濾過重熬，候成膏，然後入諸項藥）</p>
<p>上六味同杵為末，候槲皮煎溫和乃入諸藥，攪令勻，貯於瓷器內，每服空心，以溫酒一盞調下三匙以來，臨時更看人大小及肥瘦，加減斟酌用之，吃了，更以清溫酒下之，便仰臥，須臾即吐出，若病根年深者，如蝦蟆衣魚腸相似，近者若蜆肉，吐了，以溫水漱口，粟米淡粥補，如無粟米亦可，忌一切十毒物，月餘。</p>

<h3>血竭散</h3>
<p>治瘰癧已破，膿水不止者。</p>
<p>青州棗（二十個，燒為灰）　乾地黃（半兩，別杵為末）　血竭（炒，二錢半）</p>
<p>上三味，都細研如粉，以津唾調貼瘡上。</p>
<p>治瘰癧滿項不破，及腫疼痛方。</p>
<p>用不蛀皂子三百個，酒一升半，化硇砂一兩，同浸皂兒七日，以文武火熬成，候酒盡為度，每至臨臥，含化三粒，限半月必瘥。</p>

<h3>逐邪散</h3>
<p>瘰癧者，由風邪毒氣客於肌肉，隨虛而停，結為瘡，如李梅棗核大小，兩三相連皮肉間，時發寒熱，是也，久則潰膿，連屬而生，久不愈，則為瘰癧，不以年遠，服之必效。</p>
<p>皂子（不計多少，以絹袋盛，入廁中浸三七日，取淨，安地坎中，剜蓋出毒，一宿，焙乾，搗為末）　斑蝥（五十個，去頭翅，麩慢火炒令黃色，去卻麩後搗為末）</p>
<p>上用皂子末二錢匕，斑蝥末一錢匕，水銀粉二錢，生雞卵一個，取白，傾盞內，更入飯飲半盞，並藥一處打勻，四更初服，至五更取下毒物，或從小便中下出，如有些小澀痛，不妨，或患及五年，只三服，三年只二服，二年只一服，忌口，只用燒鹽，吃五七日，其方曾經親驗，甚有神效。</p>

<h3>生犀丸</h3>
<p>次日服，消毒，化結聚。</p>
<p>生犀（半分鎊）　生龍腦（半分）　真麝香（半分）　紅娘子（二十個）　斑蝥（二十一個，去頭翅，同紅娘子，著豆麵，炒焦黃為度）</p>
<p>上五味，併為末，用豆麵糊丸，如綠豆大，每日空心，日午夜臥，用臘茶放溫酒下一丸，服至十日，加至二丸，除淡飯燒鹽外，余並忌一月，日食切忌暈腥。</p>

<h3>木香散</h3>
<p>斂瘡口。</p>
<p>木香（一分）　檳榔（七個）　白芨（半兩，銼）　白蘞（半兩，銼）　雞內（金一兩，焙乾）　根子黃皮（一分）　肉桂（一分）　麝香（少許）　黃蜀葵花（一兩，焙乾）</p>
<p>上九味，一時焙乾為末，研細，看瘡口大小，逐漸滴水，調成膏，於熟絹上貼，每日一度換，總治一切瘡，止痛生肉，並皆用之妙。</p>

<h3>醉仙散</h3>
<p>治大風痰，遍身癮疹㿋癢。</p>
<p>胡麻子　牛蒡子　枸杞子　蔓荊子（四味藥，揀淨洗，各半兩，一處同炒，令煙出為度）　苦參（半兩）　栝蔞根　防風（去蘆，各半兩）　白蒺藜（半兩）</p>
<p>上八味，同杵為末，每十五錢藥末，入輕粉二錢，一處拌勻，每服一錢，生末調茶下，空心日午臨臥各一服，服藥後五七日間，先於齒牙縫內，出臭黃涎，渾身疼痛，次後，便利下膿血，此是病根，其疾永瘥。</p>
<p>治疥癬滿身，瘡不可療者。</p>

<h3>何首烏</h3>
<p>艾各等分，銼為末。</p>
<p>右相度瘡多少，用藥，並水煎令濃，盆內盛洗，甚解痛生肌。</p>

<h3>巴戟散</h3>
<p>治元臟虛冷，上攻，口瘡。</p>
<p>紫巴戟（穿心者一兩，以陳粟米同炒令黃色，佳）　香白芷（半兩，銼碎，微炒）　蠻姜（末炒，一錢，總錄作高良薑）</p>
<p>上三味，同為細末，每服二錢，用豬石子一對，去筋膜，每石子一個，入末一錢，用濕紙裹，煨熟，趁熱去紙，先以口承石子熱氣，口中有涎即吐出，候冷，即可細細嚼服之。</p>

<h3>紫金霜</h3>
<p>治大人小兒口瘡。</p>
<p>黃柏如兩指大二片，以蜜慢火炙紫色　訶子一枚，燒過，盞子蓋少時　麝香少許　膩粉少許</p>
<p>上件搗羅為末，每服二字許，糝於舌上，立瘥。</p>

<h3>如聖散</h3>
<p>治一切刀斧所傷，並久患惡瘡。</p>
<p>龍骨（半兩）　虎骨（半兩）　黃丹（五文，放熨斗內，以火燒令通赤）　硃砂（一錢）　膩粉（一錢）　麝香（二十文）　乳香（一塊，好者皂子大）</p>
<p>上件同研為細末，應是一切瘡，以黃連湯或鹽湯拭乾，糝在瘡上，不得以衣物黏著瘡口。</p>

<h3>八效虎骨散</h3>
<p>治血風遍疰疼痛，丈夫筋骨疼，及打撲損疼痛甚者。</p>
<p>虎骨酥（炙）　敗龜（炙）　當歸　官桂（去皮）　地龍（去皮）　牛膝（去苗）　漏蘆　威靈仙　自然銅（燒，醋炙，淬）　元胡索</p>
<p>上一十味，各等分，同杵羅為細末，每服一錢，用熱酒調下，每日一服。</p>

<h3>療瘡</h3>
<p>穿山甲　虎脛骨（各一兩，燒為灰）　雞舌香（一枚，生用）　麝香（少許）</p>
<p>上件，同研令至細，每半錢，看所患大小，以黃米粥攤在紙上，候溫和得所，然後糝末在藥上，封裹所傷處，疼痛立止，隔日換貼之。</p>

<h3>五傷接骨膏</h3>
<p>治一切傷折，及驢馬傷墮，並打撲閃肭著，疼痛不可忍者。</p>
<p>沒藥（一兩，好者，生用）　乳香（一分，好者，生用）　川椒（一兩，揀擇去子，生用）　芍藥（一兩，揀擇生用）　川芎（一兩，好者，生用）　川當歸（一兩，揀擇淨，洗過，細切，炒令乾）　自然銅（一兩半，用火燒令赤，候冷，杵研，令細，用水飛過，紙上襯，於灰上吸乾，取一兩）</p>
<p>上件都搗羅為末，入自然銅末，拌和令勻，用黃蠟三兩半，於銚子內熔為汁，次入藥末，不住手攪，令勻，丸如彈子大，每服一丸，用好酒一盞同煎，煎散藥丸為度，候通口呷訖，就痛處，臥些小，只可一服止，大段疼痛者，兩丸至三丸，永瘥。</p>

<h3>定痛膏</h3>
<p>治大段傷折疼痛。</p>
<p>白檳榔（二枚）　肉豆蔻（一枚）　官桂（半兩）　柳桂（一分）　當歸（一兩）　木鱉子（二十個）　香白芷（二錢）　天南星（一個）　白附子（一兩）　丁香（三兩）　黑附子（大者一個）　黃蠟（臨時不定）</p>
<p>上一十二味，都為末，一兩蠟，用藥末一兩，同於鐺內煎，直候紫色花上來，藥方熟，後用井泉水一盞，將鐺內藥，傾入水盆內，然後以手控干其藥，直須熱炙，更不得分毫結梗，捻為餅子，裹在傷處，其藥三日後，卻將藥重於火上炙團一處，依舊捻餅子，裹舊傷損處。</p>

<h3>返魂神白散</h3>
<p>治打撲損及傷中，大效。</p>
<p>花乳石五斤，槌碎，如皂子大　硫黃槌碎，如皂子大</p>
<p>上用瓷盒子一個，先入乳石一重次入硫黃一重，重重鋪盡，浮上，用鴨舌草獨掃，是也，赤石脂和塗盒子口縫，又用鹽泥固濟，勿令有小縫紋用新磚一口，四面書金木水火字，中央書土字，上安盒子，用炭火二斤煅之，耗及三分，漸漸去之，取去盒子，地坑內埋一宿，細研為末，但是刀傷損至死者，於傷處糝藥，其血化為黃水，更糝藥，其人便活，更不疼痛。如婦人產後血暈至死，但心頭暖，即以童小便調下一錢，取下惡血如豬肝片，終身不患血風等症，若鬲上有血，化為黃水吐出，及隨小便出，便瘥。若牛抵人，腸出不損者，急納入，以桑白皮縫合，於縫上糝藥立活，封裹不可有縫。如內痛，血入臟腑，熱煎童子小便，及入酒少許，調一錢服之。此藥真神仙所傳，如逢德行者，可以令博救，共獲陰功。</p>

<h3>黑龍散</h3>
<p>治傷折手腳，骨髓衝出，補碎續筋。</p>
<p>穿山甲（四兩）　虎頭骨（四兩）　洛粉（三兩，炒帶黃色為度）　麝香（一錢）　龍腦（一錢）　丁香（一兩，好者，新瓦焙，微見火氣）</p>
<p>上先用瓦罐子一個，投虎骨在罐子內，燒令煙起，次入穿山甲同燒，煙焰起為度，取出，放冷，同前藥杵羅令細，用小黃米一大合，水二盞，煎成稠粥，續入藥末一字，醋一小杓子，再煎，攪勻後，於損處，先著手帕子一條，攤上面覆裹，勿令透氣，再著紙裹三五重，井油單，都裹角，即一伏時一度換，依前法，忌冷水溫面，不得針灸，服自然銅沒藥治之，如無黃米，即以糯米代之。</p>

<h3>蓬莪散</h3>
<p>治傷撲疼痛。</p>
<p>蓬莪朮　白殭蠶（各一兩）　蘇木（一兩）　沒藥（半兩）</p>
<p>上四味，同杵羅為細末，每服二錢，以水一盞，煎至七分，溫服，日三五服。</p>

<h3>當歸散</h3>
<p>治驢馬傷墜，他物傷折，痛楚不可忍者。</p>
<p>川當歸（三分，熬令香）　芎（一兩，半熬令黃）　桂心（二分，去皮）　甘草（三分，炒令黃）　附子（一分，泡）　澤蘭（一分，炒令香）　蜀椒（一分）</p>
<p>上七味搗為散，每服酒調方寸匕，日三服，如傷折叫喚，痛聲不絕，服食，良久不間，不復痛，十日可筋骨相連，或小兒奔車所損，臂膝皮肉決，見骨木，叫喚聲不絕，服數日，便能行動，其效如神。</p>

<h2>丹藥</h2>

<h3>張果老先生服杏仁法</h3>
<p>夫人受命於天，放形於地，以日為魂，以月為魄，一生以後，更不合死，皆是飲食養育不致殞絕矣，藥在籬根之下，凡人未必盡知，冠冕之流，貴耳賤目，只重吳蜀之空名不知咫尺之可取以為用，可期必致。殊不知長生之秘，服之則可延年，世上單服一味藥，而得延年者，黃精，枸杞，藥中為妙品，猶有生頭痛病而難服，彭祖夏姬，商山四皓，煉杏仁為丹，以致仙宮，而王子晉丁令威等並不去世事，畜妻子，服生杏仁，服之久遠，仙來迎候，乘龍駕鶴，以致升騰者，只服杏仁矣。服之生五臟，補筋骨，添血髓，益精神，強記，目明視徹千里，消痰癖，變凡為仙。若王子晉服經四十年，不覺身飛騰空，丁令威服經二十年，不覺身飛，此二子者不服諸藥，惟服生杏仁，凡有此神驗，不須煉熟，氣生力全，若煉熟，則減其半。杏仁共有十名，一曰長生元二名千歲元，三名化白令少元，四名卻老元，五名通神萬歲元，六名定精元，七名蓋精元，八名超升元，九名換骨輕身元，十名煉杏仁金丹元，其人服之，一一經歷矣。</p>
<p>杏仁，性不冷亦不熱，無一切忌觸，亦不與諸藥相妨，惟忌不淘白粳米甜水粥，邂逅吃者，有少不安，須臾即可，或客行在路，只恐不及，如法，若逢不淘白粳米甜水粥，但放令冷，任食多少無妨害，惟忌此粥，外並不妨。</p>
<p>杏仁性溫平，有少苦味，久即甘美，服之三年，更不覺有苦氣，惟覺甘美，性不下氣，能去膈上熱，肚腰□，服者當自知之。</p>
<p>取生杏仁，去皮尖雙仁，服黃色者尤妙，於平旦時，空腹，未漱口時二七枚，口中退皮尖，熟嚼，令津液半口，可咽之，訖，如行一里。任吃諸食，如單覓延年者，任食肉及葷辛，如欲升騰者，即不得食一切肉及葷辛，任畜妻子，營養傭作也，肉者易敗壞之物。所以不益於身，葷辛品味，仙家忌之，能斷諸肉，即仙道易成，或服生杏仁一年，百病自除，二年，身輕，目明徹視千里，但得延命五十年，服經六年，骨內換盡，面若桃紅，延年七紀。服經七年，行及奔馬，換舊齒重生，服八年，玉女侍衛延得一百五十年，服經九年。時聞仙宮鐘磬，延命五百年，服經十年，命與日月齊。如食五辛及血食，則不得聞也。經服二十年，身騰空虛而無所歸，服經三十年，仙宮來迎，若斷妻子、血味、五辛營養者，服之二十年，眾仙來迎，白日昇天，如斷血味營養，只畜妻子者，四十年，一朝不覺自受眾仙來迎，余性好射獵，血肉為本，今登六十遊恆山頂上，得此方，便於山拾杏仁服之，經十年，自覺身輕目明，便踴躍無睡，服二十年，余已八十矣，本亦只營一百年，即擬自理，實不敢希望延年。忽有三十餘人，從恆山頂上來，余欲避之不得，便卓然立，只迎去半里，便即禮拜，不敢正視。有童子先來相引，忽然莫識何處，須臾間知是仙宮，非人凡世，余故留此方，遺後明者勿輕之，勿與凡流之輩徒傳必輕之以為口實也。</p>
<p>張先生服生杏仁慎忌損益法，契聖寺原師處得此法，原師於王屋山揚行真處得此本，每日旦朝空腹，取杏仁二七枚，去皮尖雙仁者，面向東南，未漱口前，熟嚼，令口中津液有半口，便即咽卻。如人行一里，當任意食之，恐減藥力，杏仁取效，服三七日，四七日，即覺泄氣過常時三倍，服三個月，腳熱如火，腹中搜病不覺自愈。服經八個月，肺臟調和，搜病永斷，有如嬰兒之視。至十六個月，臟腑更新，胸膈通泰，上氣永斷，癖病消散，服經二十四個月，肝臟鮮明，肝上有瘕，皮不覺自脫落，眼目精明，眼病永除，目能遠視，服經三十二個月，脾藏疏暢，胃脘開通，常自搖動，脾氣永消，腹胃通快，服經四十個月，腎臟端正，去黑皮，氣無壅滯，腰臍之間，結冷永盡，房屋少壯，服初滿二年百害不傷，服經三年，百神覆護，三年穀氣破散，臍中疼痛，忽然出生血一千片，忽驚怪，此是藥來即就，止此是上上應延年之效，如三年內大腸中血不下者，亦是次上上之喜，應延年之象，如滿四年無不下者，到五年內，其血更亦不來矣。如依前更來，是穀氣厚重，藥力未加，而藥腸未來，當須加杏仁至四十七枚，乃可破得谷腸，必被藥力衝破，亦同延年必仙之效耳，凡服杏仁，血下一日，不嫌飲食，二日平旦瀉血，瀉血之後，便聞飲食惡氣，耳聞眼見，即生嘔逆，如有能忍飢得七日者，是上仙如不能忍飢者。任食煮白粳米粥汁飲之，以時為之，是次仙，三日五日七日，並下血一升，皆聞食臭，八日平旦下血後，聞飲食美，任意食之，若食即須少，食之多，即令人滿悶，七日別一度下血一升，到八日以上，平旦血三升二升半，八日九日十日十一日並同，至十二日以上，即兩日三度下血，至十三日十四日十五日並同，至十六日別一度下血六升，或五升，十六十七十八十九日並同，至二十日以上，兩日三度下血，三升四升，至二十一二十二二十三日並同，至二十六日二十七日並同，至二十八日以上，兩日一度，下血四升或五升，至二十九日三十日並同，從此之後，從四日減一日，其血少於尋常三升二升，有似身輕。喻若上重檐，脫靴而行服之者當自知之矣。恰一百日，不覺血定，谷腸並被換遍，如世人只圖瘥病，不要長生者，血下之後，三日，即須取桑椹或桑上青椹，杵作散，一如煎茶，服一兩碗，其血即止。如無椹子末者，取藍汁及刺薊汁一碗，服即止其血，至時無度微肚疼，少時許，即是，可明也。</p>

<h3>吳真君服椒法</h3>
<p>夫椒性稟五行，情通六義，葉青應於甲乙，皮赤在於丙丁，花黃與戊己為容，膜白兆庚辛之色，子之呈質應乎坎方，熱不止蒸，暖及丹府，傍通血脈，中助真元，又能消酒食之毒，又能闢溫邪之氣，安和五臟，調暢三焦，陽草之中，功不可比。每金州川椒一斤，揀令淨者，去目及合口者，仍於鐺銚內，炒令透，於地上鋪紙兩重，以椒在上，用新盆內合定，周迴以黃土焙之，半日許，其毒成汗，取出曬乾，木臼輕杵，取紅皮四五兩，再入鐵臼，杵為末，以木蜜為丸如桐子大。候乾，以紗絹袋子盛，掛通風處，每日空心，茶酒任下，十丸至十五丸，半年加之二十丸，一年後加之二十五丸，並無所忌。又歌曰其椒應五行，其仁通六義，欲知先有功，夜間且不起，服之半年內，腳心汗如水，四時去煩勞，五臟無風氣，明目腰不疼，身輕心健記，別更有異能，三年精自秘，顏色如童子，精爽又少睡，但服此神效，一生瘧疾已，若能志心服，三尸自然棄，更有九般蟲，各各自迴避，倘逢此色人，第一書傳意，雖未遇神仙，初緣已得地。</p>

<h3>至人傳授神仙服餌雄黃丸</h3>
<p>夫雄黃千載變為黃金，服餌莫若真人，此法微妙，不傳凡世，今但錄此方，久服即身輕益氣，悅澤顏色，去三尸，闢百毒，遠疫癘，鎮心神，奇功最妙，卒莫紀陳，每擇雄黃如雞冠血色，不雜砂石者，不限多少，搗羅令細，以松脂和，杵為丸，如彈子大，每旦以酒研下一丸，服至十日，腹中三尸百蟲，自下面上，紫黑皆除，除及一月，百病自瘥，耳目聰明，久服即可至神仙，常須潔淨，不損藥力，尤佳。</p>
<p>煉松脂法，用桑柴灰淋汁，將松脂同於鍋內，或土石器中，煉成汁後，用稷皮濾過灰汁，內勁者，以水澤如雪白者用，如未精，依前法再煉之，每合前藥，以和勻為服。</p>

<h3>枸杞煎</h3>
<p>明目駐顏，行步康健，壯元氣，潤悅肌膚。</p>
<p>採枸杞子不計多少，先去蒂子，然後用清水洗淨，淘出，控干後，夾布袋子一個，入枸杞子在內，於淨砧上取自然汁，澄一宿，去其清水，入石器內，慢火煎成膏子，取出，入瓷器內收，每限半匙頭，以溫酒調下，久服神妙大有所益，如合時天色稍暖，其拃下汁更不用經宿，其膏煎下，三兩載，並不損壞，如永遠服多煎下亦無妨。</p>

<h3>服九節菖蒲法</h3>
<p>駐顏延年明耳目，去風氣，通關竅，安神益智。</p>
<p>九節菖蒲，不計多少，惟生於山澗石上東流水中者，採取為妙，若是少得時，只石上水中生者亦得，不可用陂澤中生者，於八月內，採取得，去根鬚，淨擇了，以淘米汁浸三日三夜，每日換米泔，取出，控干，以硬竹削為片子，如錢厚，以布袋盛，貯於長流水中，浸三伏時，更用井花水淨洗，擇。如蒸飯九度，每蒸後，曬一日，候數足，不得犯鐵器，於木石臼子內，細搗，羅為末，煉蜜為丸如梧桐子大，初服二十丸，漸加至三十丸四十丸五十丸，用鹽湯下，茶酒亦可，忌羊血，若有餘者，以紙袋盛貯，掛在風口，如服盡，更取末合，或酒煮，糊和丸亦得。</p>

<h3>煅金液丹訣</h3>
<p>硫黃（一名石亭脂，一名金液，取三五兩至十兩，並煅得舶上硫黃為第一，余黃並使得，但無夾雜為上，碎研入罐子內，可及八九分，無妨）</p>
<p>上件，取煅藥罐子一個，盛藥在內，下蓋子了，採狗蹄草一大握（木名五龍芮）大鑒草一大握（稻田中生，一莖四花，如田字，亦名水田草，獨莖生）將二草入鐵臼內，搗爛，更入一掬黃土，同杵勻如泥（若無二件草，且只將益母草代之，亦可）更將裹藥罐子，底下並周匝，可厚五六分，只至口縫不裹，然後置於平土上，四面簇炭五六斤，上面安熱火一斤來，燒之，直候火燒罐子九分來通赤，尋開口縫處有碧焰子起，便急手撥炭火，急將柴灰三斗都蓋，勿令氣焰出，直候冷，撥灰取出，刮去泥土（以上是煅一度訣也，度度依此煅之）第二度法，依前法，取藥草裹，因煅之如前法，煅五度，若火候得所，煅出如熟雞子香，即是候也，若要急服，只煅兩度亦可服（煅度數足者妙）煅煉數足，便於地上埋爐子，一宿，出火毒，凡逐度煅了，刮去下面砂石妙，又取出爐子，於銚子內，著水，煮一二十沸，然後敲破爐子，取藥杵爛，更入乳缽內，點煎水研爛如泥，並無粗者，卻研令乾，每二錢用蒸餅一兩以來，湯浸，握出水了，入藥內和合，更入茶臼內，杵勻如面，可丸梧桐子大，日曬乾，收服，法如後。</p>
<p>一每遇患者，才腹臟稍秘，及飲食減少，似有作寒作熱狀候，即服此，便即效也，瘥了，日只可一服。一無患，逐日早服二十丸至三十丸，諸疾永不生。一但遇有患，更不問疾之冷熱，但取藥服之，以效為度，自然見神功，別藥更不宜雜藥，亦不得著別藥，吐瀉。此藥自然補瀉，與常不同，不問丈夫婦人老小，有患，並服無忌。一孩子，留末子細研，以米飲調，以盂子灌之，夜啼，心驚，奶傷，有痰涎者，並速研藥一分以來，令服之，日二服，自然便效，逐下積物，多多與服，並無忌，若三五歲，患亦無。一瀉痢不止，以黃連貝母二味，煎湯下藥，恐嫌苦，杵藥羅入等分，蒸餅，丸如梧桐子大，米飲下。一若患腸風痔疾，入白前末等分，依前法丸服，米飲下。一切瘡頑瘡，以末敷之。一應久患風氣疾，肺疾，積冷病患，忽患傷寒瘧疾，胸膈不利，頭疼，肚熱，並宜依前法多服。一隻如傷寒，多被醫人誤下，轉藥，或發汗，不依前後，反卻陰陽，遂致患疾難起，今後如有患才覺中著傷寒，便多取藥服，令日吃一二百丸，逐下，若得瀉，勿為怪，直候瀉盡，病自然復平，屢曾如此醫人，其驗無比。一此藥可療眾病，更臨時看疾深淺，加減丸數服食，若皮膚之疾，可以針治藥恐難到。此藥至靈無比，只為世人多妄傳。云有毒畏忌不服，到有疾難療，枉有所傷，予親傳此法，以此方救療的有依憑，倘已病痊，不須多服。</p>

<h3>金鏃散</h3>
<p>療眾疾。</p>
<p>白附子（泡取心，半兩）　木香（半兩）　地龍（三分）　肉豆蔻（半兩，去皮）　乾蠍（三十個）　肉桂（取心，半兩）　黃連（取淨，二兩）　大黃（半兩，生）　桔梗（半兩）　吳茱萸（半兩，麩炒）　芍藥（半兩）　川芎（半兩，淨）　知母（半兩）　白殭蠶（三分，直者）　白蕪荑（取仁，半兩）　白茯苓（半兩）　當歸（半兩）　檳榔（兩個，一個生，一個熟）　豬牙皂角（半兩，生去皮）　人參（半兩）　巴豆（二兩，去皮，逐日換湯，浸二七日，又用麥麩水煮一日，細研末）</p>
<p>上二十味，同杵，羅為細末，次入巴豆，於乳缽內同研令勻，然後入瓷器中密封，於暖處，候至一七日後，每服一字，湯使如後。卒中風，羊髓酒，不頭旋，菊花酒下；血淋，大黃湯下；腰膝疼，醋湯下；子死胎，桂心水銀湯下，二服，取下；吐血，竹茹湯下；腸風背陰，繁柳草自然汁入熟酒，又槲葉燒灰調酒下；寸白蟲，先吃牛脯，後以蕪荑湯下；霍亂吐瀉，新汲水下；肺氣喘，杏仁湯下；小兒一切疾，米飲下；酒食，薑棗湯下；婦人血氣，暖酒下；冷血，艾湯下；眼痛，菊花湯下；疝氣，茴香湯下；五淋，木通湯下；瘧疾，蒜酒湯下；久冷，椒湯下；月脈不通，熱酒下；赤帶痢，豆湯下；白帶，艾湯下；食症，橘皮湯下；疰痛，桃仁湯下；產後，溫酒下，難產同；驚風，蠍梢湯入小便少許下；疳等，米飲下；赤白痢，乾薑甘草湯下；白痢，白朮湯下；赤痢，地榆湯下；中熱，麻黃湯下；鬼箭，桃符湯下；小兒齁，蜜湯下；漆瘡，椒湯下；虎風足筋骨痛，畫獅子燒灰，調湯下；精神恍惚，金銀湯下；婦人淋，葵菜湯下；赤眼，甘草湯下；腰膝疼痹，牛膝湯下；吃噎，橘皮湯下；肺氣，蛤蚧湯下；寒熱，柳枝湯下；小兒誤吞錢，膩粉湯下；水疾苦，葫蘆湯下；膈上食，淡竹葉湯下；熱毒風，山梔子湯下；腰宣，薑棗湯調半錢；誤吃水銀粉，泄不止，煎黑鉛湯下；婦人血勞黃瘦病，桂心湯服後，下黑血瘥、鮮血不瘥、五勞、豬膽湯服七日後，鼻中出鮮血瘥，黑血不可治。小兒天瘹風，以蟬殼燒灰，入小便，調下。</p>

<h3>神仙太一丹</h3>
<p>治諸病，皆醫藥所不及者。</p>
<p>硃砂（一兩，辰州者為上不用夾砂石者）　紫石英（一兩）　鐵引粉（一兩）　雄黃（一兩）　砒霜（半兩，用信州者）　銀箔（二十片）　金箔（二十片）　太陰元精（半兩）　麝香（一兩，別研）　端午日南行豬糞（燒灰後，秤，一兩）</p>
<p>上一十味，先將難研者研細後，於端午日侵早，更各細研了，卻一處同研，令極勻，候午時，用三五家粽子尖，其粽子須用端午日求取，面向南溲劑，為丸如雞豆大，凡遇大患時，每丸可療兩人，小可疾病，每丸可分為三服。</p>

<h3>舶上硫黃（一兩，研令碎）　水銀</h3>
<p>上先將未曾經使者銚子一個，坐於文武火上，令暖，入水銀在內，片時後，入硫黃，用柳木槌子，研令熔勻後，拈下銚子，放冷，取出，細研，卻入前藥同研令勻，和溲。此藥本謂之龍虎太一丹，蓋用此二味故也，時多隱之。此藥經久不壞，其功益盛，收時以金銀器，或垍器內盛貯，仍以硃砂同入，合收之，其湯使如後；凡草木蟲魚鳥獸菌蕈等毒，並用溫酒，和童子小便，磨下；一切藥毒鬼毒，如前下；金石毒，炒雞鴨糞，淋酒，磨下；瘟疫，用炒生薑湯下；狂走不識人者，生薑蜜水磨下；麻豆瘡，生薑蜜湯磨下；陰陽二毒傷寒，三日後，煨蔥酒磨下；五般瘴氣，犀角末調酒磨下；五般蠱毒，炒烏雞糞一合，並灶心土末三錢，同用酒煎十數沸，去滓，磨藥，五更初服，腳不得著地，於床上垂腳坐服之；鬼交狐魅，丈夫心神迷惑，婦人則情意狂亂，或懷鬼孕，用桃仁七個，去皮尖，細研酒調下；丈夫婦人鬼瘧並用豬膽酒下；飛屍遁屍，煎桃柳枝酒下；屍疰鬼疰，麝香酒下；藥箭毒，桑白皮酒下；中虎毒，沙蝨毒，磨犀角黃連酒下；鱉症龜背，磨犀角麝香酒下；蛇咬虎傷，炒烏雞糞淋酒下；驢涎馬汗馬血入肉，悶絕欲死者，水蛭末，調酒下；心躁氣壅，金銀煎酒下；心疼氣絕，炒生薑鹽酒下；大便不通，煨蔥白酒下；小便不通，煎通草湯下；腫毒入肚，磨犀角酒下；腳氣衝心，豆淋酒下；銅銀冶爐煙入腹，煨蔥白酒下；婦人血刺血暈，煎當歸酒下；丈夫婦人中急風，炒烏雞糞淋酒下（如是牙關噤，開口不得，用生半夏末，揩牙齦，並塗兩牙關，則口開便灌藥）心風，用活地龍一條，納於生蔥管內，同研，令爛，少酒投之，取清者，一盞下；頭風，煎枸杞酒磨下；喉閉壅塞，薄荷酒磨下，細細嚥之；一百二十般風痛，以鼠黏子酒下，要除根本，一丸分兩服，空心臨臥各一服；如有人卒暴死，牛馬糞清磨下，如未醒，再用童便和酒下；驚怖死者，麝香酒下；如魘魅欲死者，新汲水，調灶心土磨下，更以吹，鼻散納鼻中，不得叫喚，有燈即不得吹滅，如無燈即不得點上；中熱死，口鼻血流，用牛黃酒下，又以小便沃熱灰，擁心上，冷則易之；溺死者，放水出後，以新汲水和半夏末二丸，安鼻內，後以艾灰酒下；自縊死者，緩緩解下，不得割斷繩子，酒和雞冠血，並童子小便磨下，男子雌雞冠血，女子雄雞冠血下，仍用雞冠血，磨丹塗喉上，次以四人將小竹筒子，於兩耳鼻內齊吹，如活後，更服藥十日；凡一切惡疾至死者，但心頭暖，雖久可救，下藥扶起令藥行，即相次活矣，一右須皆空心面東服之，疾甚者，不過再服，若急疾有病，且以溫酒和童子小便磨下服之，然後依所患湯使服之，或病勢深重，須吐瀉者，則服一丸；如吐瀉過多，則以綠豆末一錢，水調服之立止，忌熱食白牛肉，一切臭穢物；如孕婦不可服之。</p>

<h3>青金丹</h3>
<p>治眾疾。</p>
<p>巴豆（二兩，先去心膜皮，用頭醋煮之，干，更用硫黃煮一伏時，取出，不用硫黃，杵二三百杵，研如膏）　木香　青橘皮（去瓤）　吳茱萸　附子（以上各半兩，並一半生，一半熟）</p>
<p>上件同為細末，入巴豆膏，煉蜜三兩，入青黛半兩，研細，和丸如綠豆大。每服三五丸至十丸，服餌如後；丈夫遠年氣疼，醋湯下；丈夫背氣痛，橘皮湯下；五般瘧疾，艾湯下；咳嗽，杏仁湯下；一切風冷，柳枝湯下；痢疾，烏梅湯下；大便不通，大麻子湯下；心痛，胡椒湯下；婦人血氣不通，當歸湯下；赤白痢，黃連湯下；赤眼，梔子湯下；血汙，蔥湯下；中毒，桔梗湯下；赤白帶，芍藥湯下；霍亂，木瓜湯下；水瀉不止，米飲下；宣轉，生薑湯下。</p>

<h3>靈砂丹</h3>
<p>治眾疾。</p>
<p>硃砂（半兩）　大附子（一兩，泡去皮臍）　青橘皮（去白，一兩）　面姜（一兩，泡）　杏仁（一兩，去皮尖）　巴豆（春冬用一百個，夏秋五十個，以水五升，慢火煮三十沸）</p>
<p>上先將以巴豆，水五升，煮令油出水盡為度，細研，與眾藥末和勻，以粳米飲和為丸，如豌豆大。其治療如右，常服，消酒食，以酒下，或溫湯下；氣痢，生薑湯下；痔漏，腸風胡荽湯下；大風痰，梔子湯下；心痛，熱酒下；疏利滯氣，津液下；瘧疾，醋湯下；肺病及一切勞疾，桃柳枝各一握，煎湯下；腰疼，膝痛，酒下；水瀉，新汲水下；小兒瘹風，桃柳枝一握，煎湯下；小便秘，燈心湯下；腰腳風，蔥湯下；霍亂，木瓜湯下；發汗，麻黃湯下；臂腰疼，生薑湯下；懷胎氣衝心酒下；一切風，防風湯下；陰毒傷寒，熱酒下；止瀉，黃連湯下；蛇蟲咬傷，冷水下；宿食不消，白湯下；頭痛不止，白湯下；痹氣膨脹，茶下；痃痹，丁香湯下；五勞七傷，楮實湯下；口瘡，棗湯下；腳氣上衝胸，熱湯下；心痛打損，酒下；傷食，各隨原色湯下；敗血不散，米飲下；難產，黃葉湯下；小便澀，大黃湯下；肺氣咳嗽，杏仁湯下；眼昏黑花，黑豆湯下；牙疼，茱萸湯下；小兒肚脹，石榴湯下；乍寒乍熱，桃心湯下；懷胎不安，芎藭湯下；口吐酸水，訶子湯下；產前瀉痢，艾湯下；小兒五疳，乳汁下；脅腹疼痛，芍藥湯下；大人服五丸，小兒及患人，相度虛實，加減丸數服之。</p>

<h2>修製藥法</h2>
<p>予今選集名方，以防疾苦，然博文之士，不在具陳，行路之間亦慮遺忘，今略書其修合節度，列之如右。</p>
<p>凡藥有酸鹼甘辛苦之五味，寒熱溫涼四氣，有毒、無毒、陰乾、曝乾，收採各順歲時，新陳別其真假，凡將修合，並須精細。</p>
<p>凡藥有分劑斤兩，輕重多少，不可妄有增減，若用得其宜，與病相會，入口必愈。</p>
<p>凡藥有宜丸者，宜服散者，宜水煮者，宜酒漬者，亦有不可入湯酒，不可犯火氣，並如本法，不可改易。</p>
<p>凡搗羅藥竟，恐有鐵屑，以好磁石攪㶸取之。</p>
<p>凡病在胸膈以上者，先食後服藥，病在心腹以下者，先服藥後食，在四肢血脈者，宜空心服，在骨髓者宜飽滿臨臥，並依本法，次第服之。</p>
<p>凡藥須要酒服者，以助其勢，飲服者直攻其疾，有冷有暖，有疏有數，並有本方，不可妄服。</p>
<p>凡藥須去苗去核，有燥有濕，將欲杵合，再秤取合足，分兩或差，應病必誤。</p>
<p>凡篩散藥竟，即須再羅，貴其勻細。</p>
<p>凡和合丸藥成團，必須再杵千百下，視其色和同，亦須易為丸撚。</p>
<p>凡云蜜劑，取藥末分兩算，乃蒸煉其蜜合和，滋潤，全勝火熬法用生蜜自如本方。</p>
<p>凡蒸藥，常用微火煎令小沸，用水多少，煎及分數，並依本方。</p>
<p>凡修合，本方自有修制，切在依稟，不可更變。</p>
<p>凡藥有三品，稟性不同，攻病既除，不必盡劑。</p>
<p>凡服藥有先有後，有早有晏，蓋相須而相使，或相反而相制，但從本方，不宜更易。</p>
