<header data-type="book">
<h1>外科集驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周文采</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1378">公元1378年（明·洪武戊午年）</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖23年刊本（<a href="https://www.digital.archives.go.jp/file/1079786">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫，一也，然有內外科之異者，蓋人之疾有內外故也。科既有內外，故古之專門者，各有方書，以傳後世。第今之專於內者，則精其內，而瘡科或有所遺者；專於外者，則精其外，而方脈或有未諳。二者俱，不能以無偏。夫惟仁者，愛人之心深長而周密，必欲兼之而後已。弘治丙辰歲，王殿下不以臣為矇昧，命臣於凡大方脈書內，精選其方之經驗者，區分類別，且論辨其下，名曰醫方選要，總一十卷以進。內瘡科亦一帙焉。今年春，睿意又以為選要之集，固足以為內疾之療，然人於日用間，莫不有飲食也，亦莫不有喜怒也。飲食不節，喜怒不常，則未免致傷榮衛，而瘡毒生焉。其生也，種類頗多，茲瘡科一帙，烏足以盡療乎。以故命臣重集外科方論，務在較量之也審，簡拔之也精，究其疾之源，詳其藥之用，以與《選要》配，庶不致有所偏廢。臣於是尤有以仰知殿下仁愛及人之盛心，所謂深長而周密矣。顧臣草茅，學不足以明理，醫不足以名世，凡庸膚淺，務乎此而遺乎彼者也，曷克以稱上意邪。雖然睿命不敢不遵，駑鈍不可不效，是以忘其固陋，集古名醫外科諸書，謹擇其藥與證對，而隨患用巧者，依選要條例，裒成二卷，名曰外科集驗方，上呈睿覽。夫疾之愈不愈，醫之良不良，系乎方之驗不驗也。臣之所集，雖妄以集驗名，然亦管窺蠡測，勉強以應命耳。若夫較量審而簡拔精，究其源而詳其用，則臣豈敢。</p>
<p><u>弘治戊午歲秋九月吉日。良醫副臣周文採稽首頓首謹序。</u></p>

<h1>卷上</h1>

<h2>瘡科總論</h2>
<p>夫癰疽瘡癤者，皆由氣血不和，喜怒不時，飲食不節，寒暑不調，使五臟六腑之氣怫鬱於內，以致陰陽乖錯，氣血凝滯而發也。亦有久服丹石燥熱之藥，熱毒結深而發為癰疽也。夫癰疽之疾，多生於膏粱富貴之人，以其平昔所食肥膩炙爆，安坐不勞，嗜欲無節，以致虛邪熱毒內攻，煎熬氣血而成也。癰者，壅也，大而高起，屬乎陽，六腑之氣所生也，其脈浮數。疽者，沮也，平而內發，屬乎陰，五臟之氣所生成也，其脈沉數。瘡者，其總名也。癤者，有頭小瘡也。經云：諸痛癢瘡皆屬心火。蓋心主血而行氣，若氣血凝滯，挾心火之熱而生癰疽之類也。然所感有淺深，故所發有輕重大小之不同也。六腑積熱騰出於外，肌肉之間，其發暴甚，皮腫光軟，侵袤廣大者，癰也。五臟風毒積熱攻注於肌骨，其發猛惡，初生一頭如㾦癗，白色焦枯，觸之而痛應心者，疽也。熱發於皮膚之間，是以浮腫，根小不過二三寸者，癤也。夫癰發於六腑，若燎原之火，外潰肌肉。疽生於五臟，沉澀難療，若掏室之燧，內消骨髓。癰則易療，惟難將息而遲瘥，疽則難療而易痊復。夫諸瘡之中，惟背疽疔瘡最為急證，其次莫如腦疽、腸癰、喉癰之類，亦其急者也。至若瘰癧、懸癰、痔漏、諸瘡之類，其證可緩而治也。又有疥癬、臁瘡、風疳之類，雖云俱屬瘡類，而其輕重緩急自有不同也。夫癰疽之疾，要須察其是實是虛，是冷是熱，或重或輕，對證用藥，無失先後次序。凡人年四十以上，頭頂鬢頤背膂腰脅，或筋骨之上，所視不見之處，稍有瘡癤，便不可輕易待之。若視之怠慢，以為常疾，每見從微至著，喪命者多矣。便宜速急治之，庶幾得救。譬之救火，初起則易救，至於燎原之勢，不可撲滅矣。其理亦由是也。凡瘡未破，毒攻臟腑，一毫熱藥斷不可用。若已破潰，臟腑既虧，飲食不進，一毫冷藥亦不可用。此是先後次第之要訣也。夫瘡有五善七惡，不可不辨：若動息自寧，飲食知味，一善也；便利調勻，二善也；膿潰腫消，色鮮不臭，三善也；神彩精明，語聲清朗，四善也；體氣和平，五善也。如煩躁時嗽，膚痛渴甚，泄利無度，小便如淋，一惡也；膿血大泄，焮痛尤甚，臭惡難近，二惡也；喘粗短氣，恍惚嗜臥，三惡也；未潰先黑，久陷面青，唇黯便汙者，四惡也；肩項不便，四肢沉重，五惡也；不能下食，服藥而嘔，食不知味，六惡也；聲嘶色敗唇鼻青黑，面目四肢浮腫，七惡也，更有氣噫痞塞，咳逆身冷，自汗無時，目瞪耳聾，恍惚驚悸，語言顛錯，皆是惡證也。五善見三則善，七惡見四必危。若五善並至則吉而安，七惡全見，必危而死矣。以上所論大綱，其諸證候治法，別論於後。</p>

<h2>五發癰疽論</h2>
<p>夫五發癰疽者，謂發背、發腦、髮鬢、發眉、發頤是也。人之一身血氣，周流而無間，稍有壅聚，莫不隨所至而發焉，又豈特五者哉。俗以癌痼瘭附於癰疽之列，以是為五發，豈知瘭與痼癌，不過癰疽之一物，古書僅有所謂瘭疽，則瘭亦同出而異名也。若癌與痼前所未聞，合是為五發其可乎。夫發背者，乃五臟風熱，六腑邪毒，灌於筋骨之間，發於經絡之內，營衛虛損，氣血衰殘所致也。其初發如粟米大，最不可輕忽，後必大發也。若初起紅腫高起者，後必不為害，故曰外形如粟，中可容谷；外貌如錢，里可著拳。如惡毒深，管寸長深滿，膿血膠黏，用藥可痊。若膿臭穢無絲，此血敗氣衰，陽絕陰盛，必難療理。治法初起或陰塌不起，便可用艾多灸，或隔蒜灸之。如痛灸至癢，如癢灸至痛，此最妙法也。若疽瘡已成，亦可用火針烙開瘡口，則易治也。夫瘡高起為癰則易治，平陷為疽則難治。癰疽形證已具前總論中，茲不復論。至如發腦、發眉、髮鬢、發須、發頤，雖地位不同，然皆由內臟伏陽結滯，邪毒上壅，隨其經絡地分而發也。其諸發癰起，皆宜宣散熱毒，要須看人元氣虛實而治之，庶不誤矣。若元氣實者，亦可用大黃之劑，泄去毒氣，或用漏蘆、五香、連翹之類皆可。若元氣虛弱，即用內托、十宣之類補之。亦有陰瘡寒塌不起，雖云用灸，然亦不可服寒涼之劑，亦宜以暖藥溫之。全在活法，不可執一也。其敷貼洗藥，具方於下，隨證用焉。</p>

<h3>五發癰疽通治方</h3>
<p><u>漏蘆湯　</u></p>
<p>治一切惡瘡毒腫，丹瘤瘰癧，疔腫魚臍，五發癰疽。初覺一二日，便如傷寒頭痛煩渴，拘急惡寒，肢體疼痛，四肢沉重，恍惚悶亂，坐臥不寧，皮膚壯熱，大便閉澀，小便赤黃。並皆服之。娠婦莫服。</p>
<p>漏蘆　白蘞　黃芩（去黑心）　麻黃（去節）　枳實（去穰，麩炒）　升麻　芍藥　甘草（炙）朴硝（以上各一兩）　大黃（二兩）</p>
<p>上除硝外，余㕮咀，與硝同和勻，每服三錢，氣實人五錢，水一盞半，文武火煎七沸去渣，空心熱服。</p>
<p><u>五香連翹湯　</u></p>
<p>治諸瘡腫，初覺一二日便厥逆，喉咽塞，發寒熱。</p>
<p>乳香　木通　大黃（各一錢半）　連翹　沉香　木香　獨活　桑寄生　丁香　射干　升麻麝香（另研，一錢）　甘草（炙，各一錢）</p>
<p>上作一服，水二盅，生薑三片，煎至一盅，不拘時服。</p>
<p><u>托裡護心散　</u></p>
<p>治諸疔腫發背，曾經汗下，毒氣攻心，迷悶嘔吐而痛，可服二三服。</p>
<p>乳香（明淨者，一兩）　真綠豆粉（四兩）</p>
<p>上研細和勻，每服三錢，不拘時甘草湯調服。</p>
<p><u>神仙黃礬丸　</u></p>
<p>此藥不問老幼，皆可服之，服至一兩以上，無不作效，最止疼痛，不動臟腑，活人不可勝數，委是神效。</p>
<p>白礬（一兩，要明亮好者，研）　黃蠟（半兩，要黃色好者，熔開，一方用七錢）</p>
<p>上和丸如梧桐子大，每服十丸，漸加至三十丸，熱水或溫酒送下。如未破則內消，已破即便合，如服金石發動致疾，更用白礬末一二匙頭，以溫酒調下，亦三五服見效。有人遍身生瘡，狀如蛇頭，服此亦效。諸方俱稱奇效，但一日之中服近百粒則方有力，此藥能防毒氣內攻，蓋能護膜也，切不可欺其淺近。余始終服半斤，瘡愈後服之尤佳。一方治蛇咬，只熔化白礬，乘熱滴傷處，痛即止，毒氣即趕出，立見效驗，要知白礬大能解毒也。</p>
<p><u>千金托裡散　</u></p>
<p>治一切瘡腫發背疔瘡。</p>
<p>黃耆（一兩半）　厚朴　防風　桔梗（各二兩）　連翹（二兩二錢）　木香　沒藥（各三錢）　乳香（二錢）　當歸（半兩）　川芎　白芷　芍藥　官桂　人參　甘草（各一兩）</p>
<p>上為細末，每服三錢，酒一大盞，煎三二沸和渣溫服。</p>
<p><u>十六味流氣飲　</u></p>
<p>治無名惡瘡癰疽等證。</p>
<p>川芎　當歸　芍藥　防風　人參　木香　黃耆　官桂　桔梗　白芷　檳榔　厚朴　烏藥紫蘇　枳殼　甘草（各一錢）</p>
<p>上作一服，水二盅，煎至一盅，食遠服。</p>
<p><u>內托羌活湯　</u></p>
<p>治尻臀生癰，堅硬腫痛大作。</p>
<p>羌活　黃柏（酒製，各三錢）　防風　當歸尾　藁本　連翹　蒼朮　陳皮　甘草（炙，各二錢）　肉桂（三分）　黃耆（二錢半）</p>
<p>上作一服，水一盅酒半盅，煎至八分，食前服。</p>
<p><u>清心內固金粉散　</u></p>
<p>（又名金花散）</p>
<p>辰砂（另研）　白茯苓（去皮）　人參（去蘆，各三分）　甘草（三分）　綠豆粉（四兩，研）雄黃（一分，研）　白豆蔻仁（半兩）　朴硝（半兩，另研）　腦子　麝香（並研，各一分）</p>
<p>上以參苓白豆蔻為末入研，藥令勻，每服一錢半，蜜湯調下，無時候。此藥專治惡瘡熱盛焮痛，作渴煩躁。此藥解毒。</p>
<p><u>麥飯石膏方　</u></p>
<p>治發背諸般癰疽神效。（一名鹿角膏）</p>
<p>白麥飯石（其石顏色黃白，類麥飯糰者是。如無，以多年磨面磨，近面處石代之，研令極細）　白蘞（研為細末）　鹿角（不用自脫者，須生取者為佳，截作二三寸長，炭火內煅令煙盡為度，研為極細末用。）</p>
<p>上將麥飯石用炭火煅紅，以好米醋淬之。如此煅煉十次，研為極細末，每用二兩，白蘞末二兩，鹿角灰末四兩，同入乳缽內研令極細無聲，方有效驗。若研得不細，塗得極痛。若細而嫩，大能止痛收口排膿。精粗之效驗不同者如此。和合時量藥末多寡，用經年好米醋，入銀石器內煎，令魚眼沸，卻旋旋入前三味藥末在內，用竹篦子不住手攪，熬一二時久，令稀稠得所，取出傾在瓷盆內候冷，以紙蓋固，勿令著塵埃。每用時，先用豬蹄湯洗去癰瘡上膿血至淨，以故帛挹干，以鵝翎拂藥膏塗敷四圍。凡有赤處盡塗之，但留中心一口如錢大以出膿血，使熱毒之氣隨出。如瘡未潰，能令內消；如已潰，則排膿如湍水，逐日見瘡口收斂。如患瘡久，肌肉腐爛，筋骨出露，用舊有片塗藥以貼瘡上，但內膜才穿，亦能取安。洗瘡勿以手觸動嫩肉，仍不可以口氣吹著瘡，更忌有腋氣之人及月經見行婦人或有孕人見，合藥亦忌此等。合此藥時須要麥飯石，好鹿角要生取帶腦骨者，燒灰時卻不使腦骨，但辨其生取與自退。爾若能精擇藥材，精處修制，勝用他藥收功多矣。仍可熬取好米醋一大碗，收瓷器內，候逐日用藥於瘡上，久則其藥干。常用鵝翎點醋拂濕其藥，勿令繃也。初使須一日一洗一換藥，十日後兩日一換。古方云，白麥飯石顏色黃白類麥飯，曾作磨者尤佳，愚謂麥飯石不可作磨，如古人云曾作磨者尤佳，則惑人矣。麥飯石其狀如飯糰，生粒點，若無此石，當以舊面磨近齒處石代，取其有麥性故也。屢試得效。此石鋪家有時無賣，今欲用之，但於溪中尋麻石中有白石粒如豆如米大者即是也。但其石大小不同，或如拳，或如鵝卵，或如碗，大略如握聚一團麥飯焉（古方有序字多不錄）。</p>
<p><u>排膿內補十宣散</u></p>
<p>（一名十奇散，一名內補散）</p>
<p>治癰疽瘡癤，未成者速散，已成者速潰。敗膿自出，無用手擠；惡肉自去，不用針刀。服藥後疼痛頓減，其效如神。</p>
<p>人參（去蘆）　當歸（酒洗，去蘆焙乾）　黃耆（去叉蘆，各二兩）　甘草（生用）　川芎（曬乾，不見火）　防風（去蘆叉）　厚朴（去粗皮，薑汁製）　苦桔梗（去蘆）　白芷（不見火）　薄桂（不見火，各一兩）</p>
<p>上如法修制，曬焙令燥，方稱人參、當歸、黃耆各二兩，余藥各一兩，為細末，每服三錢，用無灰酒調下，日夜各數服，以多為妙。服至瘡口合，更服為佳。所以補前損，杜後患也。不飲酒人，濃煎木香湯調下。然終不若酒力之勝。或飲酒不多，能勉強以木香湯兼酒調下亦可。</p>
<p><u>乳香黃耆散　</u></p>
<p>治一切惡瘡癰疽發背疔瘡，疼痛不可忍者，或未成者速散，已成者速潰。敗膿不假刀砭，其惡肉自下。及治打撲傷損，筋骨疼痛，並宜服之。</p>
<p>黃耆（去蘆）　當歸（酒洗）　川芎　麻黃（去根節）　罌粟殼（各一兩，蜜炒）　乳香（另研）沒藥（各五錢，另研）　陳皮（一兩）</p>
<p>上為細末，每服三錢，水一盞，煎至七分，去渣溫服。如瘡，在上食後，在下食前服之。</p>
<p><u>黃耆湯　</u></p>
<p>治一切瘡腫癰疽並宜服之。</p>
<p>黃耆（去蘆）　當歸（酒洗，各一兩）　大黃（去皮）　芍藥　陳皮　甘草（炙，各五錢）</p>
<p>上㕮咀，每服五錢，水一盞，生薑三片，煎至七分，不拘時溫服。</p>
<p><u>托裡內補散　</u></p>
<p>專治一切惡瘡，潰爛出膿之後宜服之。</p>
<p>人參　當歸（酒洗）　川芎　白芍藥　甘草　白芷　防風（去蘆叉）　黃耆（去蘆）　白朮　茯苓　官桂　金銀花</p>
<p>上各等分，為粗末，每服五錢，水二盅，煎至七分去渣，病在上食後服，在下食前服。</p>
<p><u>龍虎交加散　</u></p>
<p>治發背癰疽發腦髮鬢發髭，又治腦虛頭暈風濕之證。</p>
<p><u>製藥法　</u></p>
<p>南木香（銼碎，用紙墊鍋，焙乾研，羅為細末）　罌粟殼（去頂穰筋，銼碎焙乾為細末）　甘草（用濕紙裹煨焙乾為細末）　吳白芷（用麵裹煨去面焙乾為細末）　川芎（用濕紙裹煨焙乾為細末）</p>
<p>上件藥末俱另包收，看瘡加減用之。</p>
<p><u>加減法　</u></p>
<p>若瘡勢紅腫熱大，先服如神托裡散一帖，臥蓋取微汗。如紅暈大腫高，瘡頭有似碎米大白膿點者，可進交加散一帖，用木香四分，罌粟殼二錢二分，甘草六錢，白芷一錢四分，川芎一錢五分共為一帖，用水七分，生白酒三分，共一碗，用銀器煎八分服。如無銀器，新瓷器亦好，不用銅鐵舊器。於炭火邊先滾五七滾，用細絹水濕扭干，濾去渣，食後溫服。以干鹽菜壓之，渣敷瘡四周，用禳絹帕包之。如噁心嘔吐，即服護心散一帖止嘔，次服前藥。若胸腹膨滿，或大小便閉澀，可服當歸連翹散一帖，行五七次，用溫米粥湯補止。如瘡已成潰膿，不寒不熱，止是爛開疼痛，木香三分，甘草六錢，川芎一錢五分，白芷一錢四分，粟殼二錢，水五分酒五分，煎八分服。若紅暈白者好也，仍紅其瘡不退，若紫黑稍可，如紅暈不退，每日於晚進藥一帖，吃交加散四五帖。可服當歸連翹散一帖，要行加大黃，只有熱，膚不脹，不用大黃。如瘡患要將好，腐肉不脫，可用針刺破皮，令隨膿出，將水紅花根煎湯洗之，用生肌散撒上，每一日洗一次，依此法無不效。有蛆者難治，最忌酸辣醬面發氣並生冷之物。</p>
<p><u>護心散　</u></p>
<p>治證見前交加散方內。</p>
<p>甘草（炙，一錢）　綠豆粉（炒，二錢）　硃砂（一錢，水飛過）</p>
<p>上為細末，作一服白湯調下。</p>
<p><u>當歸連翹散　</u></p>
<p>治證同前。</p>
<p>當歸　連翹　梔子仁　芍藥　金銀花藤（各一兩）　黃芩（五錢）</p>
<p>上㕮咀，每服五錢，用水二盞，煎至七分，空心溫服。如要行加大黃二錢，待藥熟入大黃煎一二沸，去渣服之。</p>
<p><u>如神托裡散　</u></p>
<p>治發背等瘡初起，又治疔瘡並一切腫毒，及發散傷寒。</p>
<p>蒼耳根　兔耳草根（又名一枝箭）　金銀花藤（用花亦可）　五味子根（各等分）</p>
<p>上㕮咀，每服五錢，用生白酒二盞，煎至七分，去渣。臥蓋取微汗，渣再煎。</p>
<p><u>生肌散　</u></p>
<p>水紅花葉</p>
<p>上為細末，先用水紅花根銼碎，煎湯洗淨，卻用葉末撒瘡上，每一日洗一次撒一次。</p>
<p><u>玉紅生肌散　</u></p>
<p>治一切瘡爛不收口者，及刀斧所傷，出血不止，並宜用之。</p>
<p>龍骨（二錢）　寒水石（火煅，三錢）　黃丹（一錢）</p>
<p>上為細末，每用少許摻之。</p>
<p><u>托裡榮衛湯　</u></p>
<p>治癰疽疔腫及無名腫毒。</p>
<p>桂枝（七分）　人參　黃耆　紅花　蒼朮　柴胡　連翹　當歸身　羌活　黃芩　防風　甘草（炙，各一錢）</p>
<p>上作一服，水一盅，酒一盅，煎至一盅，食前服。</p>
<p><u>內疏黃連湯　</u></p>
<p>治瘡皮色腫硬，發熱而嘔，大便閉，脈洪實者。</p>
<p>黃連　當歸　芍藥　檳榔　木香　黃芩　梔子　薄荷　桔梗　甘草（各一錢）　連翹　大黃（各二錢）</p>
<p>上作一服，水二盅，生薑三片，煎至一盅，食遠服。</p>
<p><u>托裡散　</u></p>
<p>治一切惡瘡發背疔疽便毒始發，脈洪弦實數，腫甚欲作膿者。</p>
<p>大黃（三錢）　當歸（二錢）　栝蔞根　皂角刺　牡蠣　朴硝　連翹（各一錢半）　金銀花赤芍藥　黃芩（各一錢）</p>
<p>上作一服，水酒各一盅，煎至一盅，食遠服。</p>
<p><u>乳香止痛散　</u></p>
<p>治一切瘡腫疼痛不止。</p>
<p>乳香　沒藥（各一錢）　丁香（五分）　粟殼　白芷　陳皮　甘草（炙，各二錢）</p>
<p>上作一服，水二盅，煎至一盅，食遠服。</p>
<p><u>內補黃耆湯　</u></p>
<p>治諸瘡腫發背已破後虛弱無力，體倦懶言語，食無味，少睡脈澀，自汗口乾並宜服之。</p>
<p>黃耆　人參　茯苓　麥門冬　川芎　當歸　白芍藥　熟地黃　官桂　遠志　甘草（炙，各一錢）</p>
<p>上作一服，水二盅，生薑三片，紅棗一枚，煎一盅，食遠服。</p>
<p><u>加味當歸飲子　</u></p>
<p>治諸瘡瘍，諸痛癢瘡皆屬心火，火鬱則發之。</p>
<p>當歸　生地黃　升麻（各五錢）　防風（二錢半）　荊芥穗　何首烏（各二錢）　柴胡　白芍藥　川芎　羌活　黃耆（各三錢）　紅花　蘇木　甘草（各一錢）</p>
<p>上㕮咀，每服五錢，水二盞，生薑三片，煎至八分，食遠服。沐浴取微汗效速。使血氣通和，服應效。</p>
<p><u>托裡溫中湯　</u></p>
<p>治瘡為寒變而內陷者，膿出清解，皮膚涼，心下痞滿，腸鳴切痛，大便微溏，食則嘔，氣短促，吃逆不絕，不得安臥，時有昏憒。</p>
<p>丁香　沉香　茴香　益智仁　陳皮（各一錢）　木香（一錢半）　羌活　乾薑（炮，各三錢）甘草（炙，二錢）　黑附子（炮去皮臍，四錢）</p>
<p>《內經》曰：寒淫於內，治以辛熱，佐以苦溫。以附子乾薑大辛熱，溫中外發陽氣，自里之表以為君。羌活苦辛，溫透關節，炙甘草甘溫，補脾胃，行經絡，通血脈。胃寒則嘔吐呃逆，不下食，益智仁、丁香、沉香大辛熱以散寒為佐。瘡氣內攻，氣聚而為滿，木香、茴香、陳皮苦辛溫，治痞散滿為使也。</p>
<p>上㕮咀作一服，水三盞，生薑五片，煎至一盅，去渣，不拘時溫服。忌一切冷物。</p>
<p><u>生地黃散　</u></p>
<p>治發癰腫熱毒疼痛，心神煩悶。</p>
<p>生地黃（二兩）　川大黃（銼碎炒）　川升麻　地骨皮　當歸（銼微炒）　黃芩　木通　赤芍藥　黃耆　玄參　甘草（生各一兩）　赤茯苓（一兩半）</p>
<p>上為散，每服四錢，水一盅，入竹葉二七片，煎至六分，去渣，不拘時溫服。</p>
<p><u>沉香散　</u></p>
<p>治癰膿潰已絕，肌肉內虛，尚有餘熱。</p>
<p>沉香（銼）　柴胡（去苗）　黃耆　麥門冬（各一兩）　白朮（三分即七錢半）　熟地黃（二兩）黃芩　栝蔞根　甘草（生，銼各半兩）</p>
<p>上銼碎，每服四錢，水一中盞，入竹葉二七片，小麥五十粒，煎至六分，去渣，不拘時溫服。</p>
<p><u>豬蹄湯　</u></p>
<p>治一切癰疽腫毒，消毒氣，去惡肉，凡瘡有口，便須用此湯洗。</p>
<p>香白芷（不見火）　黃芩（去心）　赤芍藥　露蜂房（有蜂見者）　當歸（去蘆）　羌活　生甘草（各等分）</p>
<p>上為粗末，看疽大小用藥，如疽大加料用。先將獖豬前蹄二隻一斤，只用白水三升煮軟，將汁分作二次，澄去面上油花，盡下面渣肉，每次用藥一兩投於汁中，再用文武火煎十數沸去渣。以古帛蘸藥湯，溫溫徐薄揩瘡上，死肉惡血隨洗而下淨，洗訖，以帛挹干。仍避風，忌人口氣吹之，有狐臭人並月經見行婦人，貓犬並不許入病人房。洗瘡切勿以手觸著。洗疽之方所傳甚多，唯此方極效，其用露蜂房有理，蓋以毒驅毒也。</p>
<p><u>麥門冬湯　</u></p>
<p>治癰疽潰後膿水不絕。</p>
<p>麥門冬（去心）　黃耆（銼）　五味子（炒）　白茯苓（去黑皮）　人參（去蘆）　官桂（去粗皮）當歸（切焙）　遠志（去心）　芎藭（各一兩）　甘草（炙三分）</p>
<p>上㕮咀，每服五錢，水一盞半，入生薑半分掰碎，大棗二枚掰破，同煎至一盞，去渣，空心溫服。</p>
<p><u>四虎散　</u></p>
<p>治發疽腫硬，厚如牛皮，按之痛。</p>
<p>天南星　草烏頭　半夏（生用）　狼毒（各等分）</p>
<p>上為細末，醋蜜調敷，留頭出氣。</p>
<p><u>內托散　</u></p>
<p>治諸腫毒惡瘡，一服立愈。</p>
<p>大黃　牡蠣（各半兩）　栝蔞（二個，山梔子亦可）　甘草（三錢）</p>
<p>上銼碎，每服三錢，水一大碗，煎七分，去渣溫服。</p>
<p><u>鐵井欄　</u></p>
<p>治無名腫毒或背疽，治法，腫處圍定，名鐵井欄。</p>
<p>芙蓉葉（重陽前收）　蒼耳（端午前收，燒灰存性）</p>
<p>上為末，以蜜水調敷之。</p>
<p><u>化毒丹　</u></p>
<p>治百種惡瘡毒腫，初覺一二日，咳逆煩悶，或咽喉閉塞，發熱惡寒。</p>
<p>沒藥（同乳香另研）　乳香（以上各五錢）　草烏（醋浸泡製）　浮石（各一兩燒赤，醋淬七次研余醋另放）　巴豆（四十九個，生用，另研）</p>
<p>上五味為細末，用浮石、烏頭塗醋打麵糊為丸，如豌豆大。每服五七丸，食後冷酒送下。忌熱飲，取快利三二行，或吐出惡物為效。</p>
<p><u>五利大黃湯　</u></p>
<p>治人年四十以前，氣血盛多，若患瘡疽，大小便秘者。</p>
<p>大黃　黃芩（去腐）　升麻（以上各二兩）　芒硝　梔子（以上一兩二錢）</p>
<p>上㕮咀，每服五錢，水一盞半，煎五七沸，去渣，空心稍熱服。</p>
<p><u>竹葉黃耆湯　</u></p>
<p>治諸癰疽發背煩渴，及一切惡瘡發大渴者。</p>
<p>淡竹葉（一兩）　黃耆　當歸　川芎　甘草　黃芩（去心）　芍藥　人參　麥門冬（去心）　半夏（湯洗）　石膏（以上各三兩）　生地黃（八兩）</p>
<p>上為粗末，每服五錢，水一盞半，竹葉五片，生薑五片，煎至一盞，去渣溫服。</p>
<p><u>五香湯　</u></p>
<p>治諸瘡毒氣入腹，托裡。</p>
<p>丁香　木香　沉香　乳香（以上各一兩）　麝香（三錢，嘔者去麝香加藿香）　人參（渴加一兩）</p>
<p>上為細末，每服三錢，水一盞，煎至六分，去渣，空心稍熱服。《總錄》、《聖惠》、《千金》、《外臺》治諸瘡腫方中，皆載此方。大同小異，大抵專治毒氣入腹，煩悶氣不通者，其餘熱渴昏昧，口燥咽乾，大便硬小便澀者，未可與服。</p>
<p><u>止痛當歸湯　</u></p>
<p>治腦疽發背，穿潰疼痛。</p>
<p>當歸　黃耆　人參　官桂　芍藥　甘草（炙）　生地黃（以上各一兩）</p>
<p>上為粗末，每服五錢，水一盞半，煎至一盞，去渣溫服，日進三服。</p>
<p><u>金銀花散　</u></p>
<p>治發背惡瘡，托裡止痛排膿。</p>
<p>金銀花（四兩，無花用苗葉嫩莖代之）　甘草（一兩）</p>
<p>上為粗末，分為三服，酒水各一盞，同煎至一盞，去渣溫服無時。</p>
<p><u>追毒散　</u></p>
<p>治一切惡瘡膿水不快者。</p>
<p>五靈脂　川烏頭（炮）　白乾薑（炮，各一兩）　全蠍（五錢）</p>
<p>上為細末，用少許摻瘡口中，深者紙捻蘸藥拰入瘡口內，以膏貼之。或水浸蒸餅，令浸透搦去水，和藥令勻，捻作錠子，每月紝入瘡口中，亦名追毒錠子。</p>
<p><u>水澄膏　</u></p>
<p>治熱毒腫痛大效。</p>
<p>大黃　黃柏　鬱金　天南星　白芨　朴硝　黃蜀葵花（以上各一兩）</p>
<p>上為細末，每用新水一盞半，藥末二錢，攪調勻候澄底者，去浮水，以紙花上攤於腫焮處貼之，如急燥津唾潤之。此藥治熱毒赤腫神效，如皮膚白色者勿用之。</p>
<p><u>拔毒散　</u></p>
<p>治熱毒丹腫，遊走不定。</p>
<p>寒水石（生用）　石膏（生用，各四兩）　黃柏　甘草（以上各一兩）</p>
<p>上為細末，每用新水調掃之，或油調塗之，或紙花上攤貼亦妙，涼水潤之。</p>
<p><u>碧霞錠子　</u></p>
<p>治惡瘡透，不覺疼痛。</p>
<p>銅綠（一兩）　硇砂（二錢）　蟾酥（一錢）</p>
<p>上為細末，軟米飯一處擦勻，捻作錠子粳米樣，每用針刺之不覺痛者，但有血出，拰一錠子在內，以膏貼之，或作散以紙捻蘸拰之亦可。臨證看如何宜合用度。</p>
<p><u>寸金丹　</u></p>
<p>二名返魂丹，三名再生丸，四名追命丹，五名延壽丸，六名來蘇丸，七名知命丸，八名得道丸，非人勿示此方。若有人患瘡身未爛者，與三丸服之，嚥下便活。如口噤，但斡開牙關，研化三丸，灌下喉中立生。此方治發背腦疽，癰腫遍身，附骨腫痛先覺，時飲水，口中煩渴，發熱，四肢沉重，體壯熱。</p>
<p>麝香（一分）　南乳香　烏金石　輕粉　雄黃　狗寶　沒藥（以上各一錢）　蟾酥（二錢）　粉霜　黃蠟（以上各三錢）　硇砂（五錢）　鯉魚膽（乾用）　狗膽（以上各一個，乾用）　金頭蜈蚣（七條全者，酥炙黃色）　頭首男孩兒乳（一合）</p>
<p>上件為細末，除黃蠟、乳汁二味，熬成膏子，同和丸如綠豆大，小兒丸如芥子大。每服一丸，病重者加三丸。白丁香七個研爛，新汲水調送下。用衣服蓋之睡，勿令透風。汗出為度，大段疼痛。如無頭瘡腫，不過三服立效，服藥後吃白粥瓜齏就睡大妙。</p>
<p><u>定痛托裡散　</u></p>
<p>治一切瘡腫疼痛不可忍，如年少氣實，先用疏利，後服此藥</p>
<p>粟殼（去筋膜炒，二錢）　川芎　當歸　白芍藥　乳香　沒藥（以上各一錢半）　官桂（一錢）</p>
<p>上作一服，水二盅煎至一盅，食遠服。</p>
<p><u>榮衛返魂湯　</u></p>
<p>又名通順散，又名何首烏散。</p>
<p>何首烏（不犯鐵）　當歸　木通（去皮）　赤芍藥（炒）　白芷（不見火）　茴香（炒）　土烏藥（炒）　枳殼（麩炒）　甘草</p>
<p>上㕮咀，各等分，每服五錢，水一盞，酒一盞，煎至八分，隨病上下服之，若流注加獨活。</p>
<p><u>柞木飲子　</u></p>
<p>治發背癰疽，已成未成並宜服之。</p>
<p>干柞木葉（四兩）　乾荷葉心蒂　萱草根　甘草節　地榆（各一兩）</p>
<p>上為散，每服半兩，水二碗，煎至一碗，分作二服，早晚各進一服。再合渣煎，有膿者自干，成膿者自消，忌一切毒食之物。</p>
<p><u>復煎散　</u></p>
<p>治癰疽發背。</p>
<p>黃柏　黃芩　黃連　知母　生地黃（各一錢）　酒洗　防己　山梔　羌活　黃耆　麥門冬甘草（炙）　獨活　人參（各半錢）　當歸尾（二錢）　陳皮　防風梢　甘草梢（生）　蘇木　當歸身　五味子　豬苓　藁本　連翹　桔梗（各一錢半）</p>
<p>上㕮咀，每服四錢，水一盞，煎至七分，去渣，隨證上下食前後服。</p>
<p><u>內消散　</u></p>
<p>治癰疽發背諸瘡癤結硬，疼痛不止。</p>
<p>人參　當歸　黃耆　川升麻　沉香　黃芩　防己　防風　瞿麥　白蘞　甘草（各一兩）　赤小豆（十合，炒熟）</p>
<p>上為細末，每服二錢，不拘時溫酒調服。</p>
<p><u>瞿麥散　</u></p>
<p>治癰疽發背，排膿止痛，利小便。</p>
<p>桂心　赤芍藥　當歸　黃耆　芎藭　瞿麥　白蘞　麥門冬（各等分）　赤小豆（一合，酒浸，炒乾）</p>
<p>上㕮咀，每服四錢，酒煎溫服。如諸癰已潰未潰，瘡中膿血不絕，痛不可忍者，加細辛、白芷、白蘞、薏苡仁。</p>
<p><u>內托千金散　</u></p>
<p>專治癰疽發背，乳疽乳癰，諸惡瘡癤，未成者自散，已成者即潰。</p>
<p>人參　當歸　黃耆　白芍藥　川芎　防風　官桂　桔梗　白芷　甘草　栝蔞　金銀花（各等分）</p>
<p>痛甚者加當歸　乳香　沒藥　芍藥</p>
<p>上㕮咀，每服七八錢，水二盅，煎至七分，入好酒半盞，去渣溫服。日進二三服，服後瘡口有黑血出及有汗出者，此藥之功效也。</p>
<p><u>牛膠飲　</u></p>
<p>截癰疽惡瘡發險處服之，使毒氣不攻於內，不傳惡證。</p>
<p>牛皮膠（通明好者淨洗干，稱四兩為準）</p>
<p>上用酒一碗，入膠內重湯煮，令膠溶透攪勻傾出，更浸酒，隨意飲盡。若能飲者，以醉為度，不能飲者，亦用酒煎，卻浸以白湯，飲盡為佳，此法活人甚多。（浸音侵）</p>
<p><u>國老膏　</u></p>
<p>治一切癰疽諸發，預期服之，能消腫逐毒，使毒氣不內攻，功效不可具述。</p>
<p>大橫紋粉甘草（二斤）</p>
<p>上捶令碎，河水浸一宿，揉令漿汁濃，去盡筋渣，再用密絹濾過，銀石器內慢火熬成膏，以瓷罐收之。每服一二匙。無灰酒侵入或白湯亦可，不拘時服。曾服燥藥丹劑亦解之，或微利無妨。</p>
<p><u>遠志酒　</u></p>
<p>治一切癰疽、發背、癤毒惡候侵大，有死血陰毒在中則不痛，傳之則痛。有憂怒等氣積而內攻，則痛不可忍，傳之即不痛。或熱蘊在內，熱逼人，手不可近，傳之即清涼。或氣虛血冷，潰而不斂，傳之即斂。此本韓大夫宅用以救人，極驗。若七情內郁，不問虛實寒熱，治之必愈。</p>
<p>遠志（不以多少，浸洗去土，捶去心）</p>
<p>上為細末，酒一盞，調藥末三錢，遲頃，澄清飲之，以渣敷病處。</p>
<p><u>忍冬酒　</u></p>
<p>方治癰疽發背，初發時便當服此。不問疽發何處，發眉發頤，或頭或頂，或背或腰，或脅或婦人乳癰，或在手足，服之皆有奇效。如或於鄉落之間，僻陋之所，城市藥肆又遠，或居貧乏之中，無得藥材，但虔心服此，亦能取效。仍兼以麥飯石膏及神異膏塗敷，其效甚奇。</p>
<p>忍冬藤生取一把，以葉入沙盆內爛研，入瓶子酒少許，生瓶酒尤佳，調和稀稠得所塗敷四圍，中心大，留一口泄其毒氣，仍用。</p>
<p>忍冬藤（五兩用木捶微微捶損，不可碎。）　甘草節（一兩，銼碎）</p>
<p>上二味入沙瓶內，以水二碗，用文武火慢慢煎至一碗，入無灰好酒一大碗，再煎十數沸去渣，分為三次溫服，一日一夜連進吃盡。如病勢重，一日一夜要二劑，服至大小腸通利，則藥力到。沈內翰云，如無生者只用乾者，終不及生者力大而效速。</p>
<p>此藤凌冬不凋，故名忍冬草，其藤左繞附樹延蔓，或在園圃牆籬之上，藤方而紫，葉似薜荔而青，故又名左纏藤。二月開花，五出微香，蒂帶紅色，花初開則色白，經一二日則色黃，故又名之金銀花，又名鷺鷥藤，又名金釵股，又名老翁須，在處有之。而《本草》中不言善治癰疽發背，而近代名人用之療癰疽發背，往往奇效，其功尤勝於紅內消。</p>
<p><u>神仙截法　</u></p>
<p>治癰疽發背一切惡瘡等，預服此，毒氣不內攻，可保無虞。</p>
<p>真麻油（一斤，銀器內煎數十沸，傾出候冷。）</p>
<p>上用無灰酒二碗，浸油內約五大盞許，重湯溫稍熱，通口急服，一日盡之為妙。感疾數日者，亦宜急服之佳。</p>
<p>此法傳授之於吳安世云，吾家三世用之無不驗。又聞獵者云，凡誤中藥箭，急飲麻油則藥毒不行，後果於西山親見人被虎箭穿股者，號叫不忍聞，急以麻油灌之，良久遂定。又聞鄭學諭德甫云，渠尊人曾用之有驗，故備錄之。</p>
<p><u>內托黃耆丸　</u></p>
<p>治因用針砭傷其經絡，白膿赤汁，逗流不止。</p>
<p>生黃耆（去蘆，焙炒，八兩）　當歸（洗，焙，三兩）　肉桂（去粗皮，不見火）　木香　沉香　乳香（另研，各一兩，諸香並不見火）</p>
<p>上為細末，用綠豆粉四兩，生薑自然汁煮糊，丸如梧桐子大，無時候溫熱水吞下四五十丸。</p>
<p><u>梔子黃芩湯　</u></p>
<p>治發背癰潰後因飲食有傷，調攝不到，發熱不住，用以退熱。</p>
<p>漏蘆　連翹　山梔子仁　黃芩（去心）　防風　石葦（如無有取桑白皮代）　生甘草　生犀角屑　人參　苦參（各去蘆）　茯苓（去皮，各二錢半）　生黃耆（一兩，去叉蘆）</p>
<p>上為粗末，每服四大錢，水一盅，煎至六分，去渣溫服。</p>
<p><u>忍冬丸　</u></p>
<p>療渴疾既愈之後，須預防發癰疽，大宜服此。</p>
<p>忍冬草</p>
<p>上不拘多少，根莖花葉皆可用。上入瓶內以無灰好酒浸，以糠火煨一宿取出曬乾，入甘草少許，研為細末，以所浸酒打麵糊，丸如梧桐子大。每服五十丸至百丸，無時候酒飲任下此藥，不特治癰疽，大能止渴並治五痔諸癭等證。</p>
<p><u>神功散　</u></p>
<p>專治發背癰疽，一切疔毒，並瘰癧瘡已未成患者，效驗不可備述。</p>
<p>川烏（炮，去皮尖）　川黃柏（炙，去粗皮）</p>
<p>上二味為細末後各等分，用小兒或大人唾津調成膏，如唾少漱口水亦可。發背癰疽等瘡才起者，敷於患處留頭，候藥乾用淘米水時常潤濕，每日換藥敷一次。如瘡已成重患，將潰爛者，先將槐枝艾葉煎湯，頓溫，將瘡洗淨。用絹帛展去膿血，以香油潤患處。用綿紙仍照患處剪成園錢，留頭貼上。後用藥塗於紙，如干，依前用淘米水潤，日換一次，聽其自然流膿，不可手擠。如敷藥後病人瘡覺住疼減熱即愈。如生肌則腐肉自落，腐而不落者剪割亦可。最不宜用針，發背不宜貼膏藥。凡醫瘡，屏去別醫，止飲別藥方可治，忌氣怒、房事、勞復並孝服、體氣、飲酒之人，飲食忌酒並羊雞魚肉、瓜茄薑辣之物。若因氣怒反復發腫者，依前治之。如治對口並腦疽，不必洗去舊藥，逐次添藥，恐動瘡口惹風也。</p>
<p><u>援生膏　</u></p>
<p>治諸般惡瘡及瘰癧鼠瘡才起者，點破即愈。</p>
<p>血竭（一錢）　蟾酥（三錢）　麝香（五分）　雄黃（五錢）　輕粉（三錢）　乳香（一錢）　沒藥（一錢）</p>
<p>上用蕎麥秸灰或真炭灰一斗三升，淋灰湯八九碗，用慄柴或桑柴，文武火煎作三碗，取一碗收留，將二碗盛於好瓷器內候溫。將前七味藥研為極細末入灰湯內，用鐵瓢或桑柳枝右攪，又用好細石灰一升入藥灰湯攪勻，取出候冷過宿，盛於小白瓷罐內。凡遇諸惡瘡，點在當頭，一日二次，次日又一次，瘡頭食破約五分，血水出為妙。恐日久藥干，將前收留灰湯和勻。</p>
<p><u>追毒烏金散　</u></p>
<p>治瘡口惡肉，毒潰膿血。</p>
<p>巴豆（五錢）　寒食麵（一兩）　好細墨（一錠）</p>
<p>上為細末，用水和麵作餅子，將巴豆包定，休教透氣，文武火燒成深黑色為細末，量瘡貼之。用膽汁就和成錠子，新水磨用，掃五七次妙。</p>
<p><u>解毒丸　</u></p>
<p>治諸邪熱，癰疽腫毒瘡癤，筋脈拘攣，寢汗咬牙驚悸。一切熱毒，並宜治之。</p>
<p>大黃　牽牛　滑石（俱一兩）　黃連　梔子　黃芩（以上俱五錢）</p>
<p>上為細末，滴水為丸，如梧桐子大。每服三十丸，溫水送下，虛減服之。</p>
<p><u>烏龍骨　</u></p>
<p>（一名烏金散）</p>
<p>治一切腫毒癰疽收赤暈。</p>
<p>木鱉子（去殼）　半夏（各二兩）　小粉（四兩）　草烏（半兩）</p>
<p>上於鐵銚內，慢火炒令轉焦，為細末，出火毒，再研。以水調稀稠得所，敷瘡四圍，中留頂出毒氣，或用醋調亦得。</p>
<p><u>透膿散　</u></p>
<p>治諸癰瘡及貼骨癰不破者，不用針刀，一服，不移時自透，屢用有驗。</p>
<p>蛾口繭（用出了蛾兒繭子）</p>
<p>上將繭兒燒作灰，用酒調服即透。切不可用二三個繭兒燒服，若服一個只一個瘡口，若二三個則瘡口多，慎勿輕忽。</p>
<p><u>通門散　</u></p>
<p>治一切癰疽癤，無頭腫痛宣愈。</p>
<p>大黃（二兩）　牡蠣（五錢炒）　山梔子（三錢）　地龍（三錢，去土）　甘草（五錢炒）</p>
<p>上為細末，每服五錢，水一盞，煎至六分，去渣溫服，以利為度。</p>
<p><u>乳香拔毒散　</u></p>
<p>治一切瘡腫癰疽，消毒。</p>
<p>黃柏（二兩，去皮）　黃芩（二兩，去腐）　地骨皮（二兩）　乳香（二錢，另研）　沒藥（二錢）</p>
<p>上為細末，用井花涼水調作膏子，攤紙上貼腫處，效。</p>
<p><u>立效散　</u></p>
<p>治發背及諸癰癤及瘰癧有效，或婦人乳癰，與前方間服神效。</p>
<p>紫色皂角刺（半斤，不用枯者，細銼耐久炒赤）　生粉草（二兩）　乳香（另研半兩）　沒藥（另研，一兩）　栝蔞（五個，去皮取肉仁，搗碎炒黃，幹不炒）</p>
<p>上為細末，每服二錢，溫無灰好酒調下，無時候。</p>
<p><u>生肌散　</u></p>
<p>斂瘡口。</p>
<p>木香　檳榔　黃連（洗去須）</p>
<p>上等分，淨器中研，羅為細末，時以敷瘡。若瘡潰爛，敷了更以常用膏藥或云母膏貼之，聽膿水自出。若用此藥敷後，瘡口未斂，白芨末、輕粉各少許和勻敷，即得速效。</p>
<p><u>黃耆六乙湯　</u></p>
<p>常服此藥，終身可免癰疽之疾，仍大治渴疾，補虛損。</p>
<p>綿黃耆（去叉蘆淨者六兩，一半生焙細銼，一半用鹽水濕潤，乘飯上蒸三次焙乾銼細）粉草（一兩，一半生細銼，一半炙黃銼細。）</p>
<p>上為細末，每服二錢，早晨日午以白湯點當湯水服，若飲時初杯酒調服尤妙。一方用生黃耆六兩、甘草一兩，㕮咀，水煎常服亦可。古人以黃耆號羊肉者此也。</p>
<p><u>宣毒散　</u></p>
<p>初發或灸後用敷貼，消腫收赤暈圍聚。</p>
<p>露蜂房（三兩，炒焦）　南星　赤小豆（各一兩）　小米（一合）　生草烏（一分）　生白礬（半錢）</p>
<p>上為細末，用淡醋調塗四畔，干即再上。</p>
<p><u>灸法　</u></p>
<p>癰疽初發小點，一二日間急以大蒜頭橫切如錢，貼其中心，頓小艾柱灸之五壯。而上若形狀稍大，以黃稈紙蘸酒全貼，認先干處為筋腳，於先干處灸之，或兩處先干皆灸，但五七壯而止。又法：屈指從四圍尋按過，痛處是根，就此重按深入，自覺輕快，即此灸之。更於別處灸，若或大腫，即搗蒜為餅焙乾，蘸法醋灸熱，更換頻罨。或以熨斗火於蒜餅上熨之，更換熱餅頻熨，如覺患處走散，即以綿帛覆蓋，勿令氣泄，俟少間敷藥。凡癰疽展大如龜之形，且看頭向上下，先灸其前二腳，次灸其尾或紅筋。走緊而長，從盡處灸之，須留頭並後二腳勿灸。若盡灸之，不惟火氣壅聚，彼毒無所走散，又攻入里也。或辨認不明，以白芷（三分）、漢椒、桑白皮（各一分），連根蔥白（十片），上取新水煎湯，入酸醋半盞淋洗，少頃，其筋自現，可以辨驗頭尾。</p>
<p><u>拔毒散　</u></p>
<p>癰疽腫結通用，能散能潰。</p>
<p>南星（上等大白者，一兩）　草烏頭　白芷（各半兩）　木鱉子仁（一個，研）</p>
<p>上為細末，分兩次，法醋入蜜調敷，紗貼之。</p>
<p><u>蠲毒散　</u></p>
<p>治癰疽腫毒，未結則散，已結則潰，去風排膿。</p>
<p>大南星（一兩）　貝母（三分）　白芷　赤小豆　直殭蠶（焙，各半兩）　雄黃（二錢）</p>
<p>上為細末，初用醋調敷，後用蜜水調敷。</p>
<p><u>退毒散　</u></p>
<p>癰腫通用。</p>
<p>木鱉子（去油）　大南星　半夏（生）　赤小豆　白芷　草烏（連皮尖，等分）</p>
<p>上為細末，硬則法醋調敷，熱焮則蜜水調敷。</p>
<p><u>神功妙貼散　</u></p>
<p>塗敷癰疽暈內，使膿血化為水出，收暈斂毒。</p>
<p>大南星（圓白者）　蓖麻子仁（各四錢）　五倍子（淡紅者）　半夏（生）　白芷（梢片）　薑黃貝母　白芨（各三錢）　沒藥　乳香（各二錢）　花蕊石散（二貼）</p>
<p>上為細末，夾和井水入蜜調敷，瘡色黯晦薑汁調敷，從暈邊抹，收入里，留中間如錢大貼膏藥。若瘡開大，全用紗攤藥，以舊茶籠內白竹葉尾剪兩片如瘡勢，先貼藥上，然後貼瘡。久年蓬仰上竹葉亦得。竹葉出水藉藥以行之。凡敷藥須是細末則不痛。</p>
<p><u>萬病解毒丸　</u></p>
<p>治癰疽發背、魚臍毒瘡、藥毒、草毒、桃生毒、蛇毒、蟲毒、瘵蟲、諸惡病。</p>
<p>文蛤（即五倍子，兩半）　山慈菇（即金燈花根，一兩，洗焙）　紅牙大戟（七錢）　全蠍（五錢）　大山豆根　續隨子（取仁去油取霜，各半兩）　麝香（一錢）　硃砂　雄黃（各二錢）</p>
<p>上件先以前五味入木臼搗，羅為細末。次研後四味，夾和，糯米糊丸，分作三十五丸。端午七夕，重陽，臘日淨室修合。每服一丸，生薑蜜水磨下，井水浸研，敷患處。解毒收瘡，救病神妙。硃砂雄黃，乃瘍醫五毒攻瘍中物也。</p>
<p><u>加味八味丸　</u></p>
<p>降心火，生腎水，治諸渴疾癰疽，未發前、已瘥後，渴證通用。</p>
<p>好熟地黃（焙，二兩）　山藥（銼，微炒）　山茱萸（蒸取肉，焙，各一兩　辣桂去粗皮，半兩）　澤瀉（截作塊，酒蘸，瓷器盛甑內蒸五次，銼焙）　牡丹皮（焙）　白茯苓（各八錢）　五味子（慢火焙，另研，一兩半）</p>
<p>上為細末，煉蜜候冷和丸如梧桐子大，每服三十丸，空心鹽湯下。</p>
<p><u>特異萬靈散　</u></p>
<p>治癰疽發背腫毒等患神妙。</p>
<p>軟石膏（燒通紅，碗覆在泥地上一宿）　大白南星　赤小豆　草烏（連皮尖，各半兩）　乳香（另研二錢）</p>
<p>上為細末，蜜水調膏，從外抹收入，留最高處如錢勿敷。如已破，切忌藥入瘡口，恐痛。斂毒排膿不致潰爛，屢效。</p>
<p><u>神仙太乙膏　</u></p>
<p>治八發癰疽，及一切惡瘡軟癤，不問年月深淺，已未成膿，並宜治之。蛇虎傷，蜈螫，犬咬傷，燙火，刀斧所傷，皆可內服外貼。如發背，先以溫水洗瘡淨，軟帛拭乾，卻用緋帛攤膏藥貼瘡，即用冷水下。血氣不通，溫酒送下。赤白帶下，當歸酒下。咳嗽及喉閉，纏喉風，並用新綿裹膏藥，置口中含化。一切風赤眼，用膏捏作小餅貼太陽穴，後服，以山梔子湯送下。打撲傷損外貼，內服，橘皮湯下。腰膝痛者，患處貼，內服鹽湯送下。唾血者，桑白皮湯下。諸瘻，先以鹽湯洗淨。諸瘡，並量大小，以紙攤貼。每服一丸如櫻桃大，蛤粉為衣。其膏可收十年不壞，愈久愈烈。一方久遠瘰癧同上，瘻瘡鹽湯洗貼，酒下一丸。婦人血脈不通，甘草湯下。一切瘡癤並腫痛瘡及疥癩，別煉油少許，和膏塗之。</p>
<p>玄參　白芷　當歸　赤芍藥　肉桂（去粗皮）　大黃　生地黃（各一兩）</p>
<p>上銼碎，用麻油二斤浸，春五夏三秋七冬十日，火熬黑色，濾去渣，入黃丹一斤，青柳枝不住手攪，候滴水中成珠不黏手為度，傾入瓷器中，以磚蓋口，掘窖子埋陰樹下，以土覆三日出火毒。欲服，丸如雞頭子大。</p>
<p><u>消毒膏　</u></p>
<p>治五發惡瘡，消腫散毒。</p>
<p>黃耆　當歸　川芎　杏仁　白芷　白蘞　零陵香　槐白皮　柳枝（嫩者）　木鱉子仁　甘松（各半兩）　乳香　沒藥（各三錢）　麝香　硃紅　硃砂（各半錢）　黃丹（炒紫色）　黃蠟（各半斤）　芝麻油（一斤）　輕粉（一錢）</p>
<p>上將藥銼碎，油浸七日，木炭火上煎杏仁焦色，濾去渣，下黃蠟，候熔開出火，下黃丹急攪百十轉，下乳沒麝等六味，不住手攪至凝，瓷器內收貯，白光絹攤貼之。</p>
<p><u>神異膏　</u></p>
<p>治發背癰疽，諸般惡毒瘡癤，其效如神。治疽疾，先以麥飯石膏塗敷，俟其瘡根腳漸收，止於徑寸大，卻用神異膏貼之收口。此藥隨其人病深淺取效。合時不可與婦人、雞犬貓、厭穢物見之。</p>
<p>玄參（半兩）　綿黃耆（三分）　杏仁（去皮尖，切一兩）　全蛇蛻（鹽水洗，焙半兩）　男子亂髮（洗淨，焙乾，半兩）　露蜂房（淨銼一兩，用有蜂兒者為炒）　黃丹（飛羅細，五兩）</p>
<p>上用真麻油一斤，同發入銀銚中文武火熬，候發焦熔盡，以杏仁投入。候變黑色，用好綿濾去渣，再將所熬清油入銚內，然後入玄參黃耆，慢火熬一二時取出，銚子安冷爐上半時久。火力稍息，旋入露蜂房、蛇蛻二味，將柳枝急攪，卻移銚於火上不住手攪，慢火熬至紫黃色，用綿濾過。復入清油在銚內，乘冷投黃丹急攪片時。又移銚於火上，以文武慢火熬，不住手柳枝攪千餘轉，候藥油變黑色，滴於水中凝結成珠則是膏成就。若珠子稀，再熬少時，必候其得所，然後瓷器內收封待用。或恐偶然熬火太過，稍硬難於用，卻少將蠟熬麻油在內，以瓷器盛封蓋，於甑上蒸，乘熱攪調收用。膏藥熬成了，須連所盛瓷器置淨水中，出火毒一周夜，歇三日方可用。日換兩次，夜換一次。熬此膏藥極難於火候，須耐煩看火緊慢，火猛則藥中火發，不特失藥性，又傷人面目，救助不及，千萬謹戒。膏藥方甚多，不下數十，治疽之時神效無出於此方。千金不換，杖瘡尤妙。</p>
<p><u>萬金膏　</u></p>
<p>治癰疽發背，諸般瘡癤，從高墜墮，打撲傷損，腳膝生瘡，遠年臁瘡，五般痔瘻，一切惡瘡。又云專治發背，神妙不可具言。若初覺或做瘡，用牛皮膠熬令稀稠得所，如藥化攤在毛頭紙上，於初覺處，或有做瘡處貼。次用軟布帕子二條，於釅米醋內煮令熱，漉出互相於膠紙上，乘熱蒸熨。不可令布帕冷，布帕二條不可都齊漉出，常留一條在醋內煮，候蒸熨得一條冷卻，於醋內取熱布蒸，冷布卻入醋內煮，庶幾常得熱布替換熨蒸，即易見效。若瘡癢，乃是藥攻其病，須忍癢，不止蒸熨。直候膿出將盡，即濃煎貫眾湯候溫，洗去膠紙。次日依前更洗。若尚有膿，又如前法蒸熨，雖連數日蒸熨不妨，但要瘡中膿淨瘡干為度。然後用生肌紅玉散摻在瘡上，即以萬金膏貼。每日一上或兩上，每用再蒸熨並如前先鋪膠紙於瘡上熨了，亦如前用貫眾湯洗去膠紙。</p>
<p>龍骨　鱉甲　苦參　烏賊魚骨　黃柏　草烏　黃連　豬牙皂角　黃芩　白芨　白蘞　木鱉子　當歸　白芷　川芎　厚朴（去粗皮各一兩）　槐枝　柳枝（各四寸長二十一條）　沒藥（另研）　乳香（另研，各半兩）　黃丹（水飛淨炒過一斤八兩）　清麻油（四斤，入前藥煎紫赤色去渣，稱淨油三斤）</p>
<p>上除乳、沒、丹外，余藥入油內慢火煎，候白芷焦色，去渣，入黃丹一半，不住手攪令微黑色，更入黃丹仍攪，待滴入水中成珠不黏手為度，攪溫下乳沒末亦攪勻，瓷器盛。用時量瘡大小，攤紙貼之。治諸惡瘡，加自然銅、肉桂各一分。一方無當歸。</p>
<p><u>白龍膏　</u></p>
<p>治頭面五發惡瘡及燒湯凍破潰爛，止痛生肌，清血脈，消毒散腫，通氣脈如神至，可無瘢痕。</p>
<p>輕粉（五錢，另研）　白薇　白芷　白蘞　黃耆　商陸根　柳白皮　桑白皮（以上各一兩）乳香（二兩，另研）　定粉（另研）　黃蠟（以上各五兩）　杏子油（一斤，如無用芝麻油）</p>
<p>上七味銼，油內揉浸一日，於木炭火上煎令白芷黃色，濾去渣，於油中下黃蠟乳香，候溶開出火再濾，候微冷下輕粉、定粉，急攪至冷，瓷合內收貯。每用緋絹上攤用之。</p>
<p><u>磨風膏　</u></p>
<p>治頭面五發，瘡腫疥癬等疾，及燙火破傷麻風，止痛滅瘢痕。</p>
<p>白附子　白芍藥　白茯苓　零陵香　白芨　白蘞　白芷　白檀　藿香　升麻　細辛　黃耆　甘草　杏仁（去皮尖，以上各一兩）　腦子　栝蔞根（一兩）　大栝蔞（二兩，去皮）　黃蠟芝麻油（一斤）</p>
<p>上先藥十四味銼，油內浸百日，於臘日慢木炭火上銀石器內煎至白芷微黃色，離火入栝蔞二味箸內煮百沸，重綿濾去渣。再慢火上煉，油香，下削淨黃蠟，熔開為度，傾在瓷器內收貯。上摻腦子密封。旋用磨風塗之。</p>
<p><u>金絲萬應膏　</u></p>
<p>治顛撲傷損，手足肩背並寒濕腳氣，疼痛不可忍，小兒脾疳瀉痢，咳嗽不肯服藥者。</p>
<p>瀝青（二斤半）　威靈仙（二兩）　蓖麻子（一百枚去皮殼研）　黃蠟（二兩）　木鱉子（二十八枚，去殼切片研）　沒藥　乳香（各一兩，另研）　麻油（夏二兩，春秋三兩，冬四兩。）</p>
<p>上先將瀝青同威靈仙下鍋熬化，以槐柳枝攪，候焦黑色，重綿濾過。以瀝青入水盆候冷成塊，取出稱二斤淨，再下鍋熔開。下麻油、黃蠟、蓖麻、木鱉子泥，不住手槐柳枝攪勻。須慢火，滴入水中不黏手，扯拔如金絲狀方可。如硬，再旋加油少許。如軟加瀝青。試得如法卻下乳沒末。起鍋在炭火上，再用槐柳條攪數百次。又以粗布濾膏，在水盆內扯拔如金絲，頻換水，浸一日，卻用小銚盛頓。如落馬墜車，於被傷疼痛處，火上灸熱貼，透骨肉為驗。連換熱水數次浴之，則熱血聚處自消。小兒脾疳貼患處。瀉痢貼肚上，咳嗽貼背心上。</p>
<p><u>洗藥神硝散　</u></p>
<p>專治癰疽潰爛臭穢。</p>
<p>蛇床子（二兩，研破）　朴硝（一兩）</p>
<p>上二味和勻，每用三錢，水一碗，煎三五沸。通手洗瘡上，用後藥摻之。</p>
<p><u>聖效散　</u></p>
<p>收斂瘡口。</p>
<p>黃柏（一兩，去粗皮，細切，炒至赤黑色）　穿山甲（一兩，炒令黃色）　檳榔　木香（各半兩，炒令黃色）　雞膍胵（七枚，生用）</p>
<p>上為細末，每用少許，候大膿出盡，洗淨方可乾摻瘡上。</p>
<p><u>善應膏　</u></p>
<p>治諸般惡瘡腫毒，發背腦疽癧子牙腫，打撲接骨，閃肭刀斧傷，枚瘡，蛇蟲毒，狗馬咬，燙火，漆瘡，疥癬，貼之即愈。又治婦人吹乳，以藥丸和梧桐子大，新汲水下二十丸。肺癰、腸癰亦可為丸吞服，溫酒、米飲或北梗、甘草煎湯皆可。不可犯葷手及火焙。</p>
<p>上等黃丹（八兩，研細）　白膠香　明沒藥　滴乳香（並另研）　大當歸　川白芷　杏仁（去皮尖）　大黃　草烏　川烏　赤芍藥　檳榔　生乾地黃　土芎　瀝青（另研入）　亂髮（淨洗以上各一兩）</p>
<p>上除乳香沒藥外，將磁石銚盛香油一斤，浸藥一宿，慢火煎熬諸藥黑色。再入蔥白亂髮煎少時，用生絹帛濾去渣，留下一兩藥油。復將所濾油於慢火上熬，卻將黃丹入油內，用長柳條、槐條不住手攪。候有微煙起，提起藥銚，將柳條點滴在水面上，凝結成珠不散方成膏。如不成珠，再熬，直待成膏。提起藥銚攪無煙出，卻入乳香、沒藥、白膠末攪勻，傾出瓷器內，將原留下浸藥銚一併收拾器內，用新汲水一日一換，將藥器坐放水內三日，出火毒方可用之。如膏藥硬，約量加黃蠟、清油入膏內，攪勻得所。</p>

<h2>疔瘡論</h2>
<p>夫疔瘡者，皆由臟腑積受熱毒邪風，相搏於經絡之間，以致氣血凝滯，注於毛孔手足頭面，各隨五臟部分而發也。其形如粟米，或疼或癢，以致遍身麻木，頭眩寒熱，時生嘔逆，甚則四肢沉重，心悸眼花。蓋疔腫初發時，突起如釘蓋，故謂之疔。疔瘡含蓄毒氣，突出寸許，痛癢異常，一二日間害人甚速，是猶在癰疽之上也。《內經》以白疔發於右鼻，赤疔發於舌根，黃疔發於口唇，黑疔發於耳前，青疔發於目下，蓋取五色之應五臟，各有所屬部位而已。然或肩或腰或足，發無定處；如在手足頭面骨節間者最急，其餘猶可緩也。《千金方》論疔瘡有十三種：一曰麻子疔。其狀肉起頭如黍米，色稍黑，四邊微赤多癢。忌食麻子油，衣麻衣併入麻田中行。二曰石疔。其狀皮肉相連，色如黑豆，甚硬，刺之不入，肉微痛。忌瓦礫磚石之屬。三曰雄疔。其狀疱起，頭黑靨，四畔仰，疱漿起，有水出色黃，大如錢孔形高者。忌房室。四曰雌疔。其狀瘡稍黃，向里靨，亦似灸瘡，四面疱漿起，心凹色赤如錢孔者。忌房室。五曰火疔。其狀如燙火燒灼，瘡頭黑靨，四邊有煙漿，又如赤粟米者。忌火燒烙。六曰爛疔。其狀色稍黑有白斑，瘡中潰有膿水流出，瘡形大小如匙面者。忌沸熱食爛物。七曰三十六疔。其狀頭黑浮起，形如黑豆，四畔起赤色，今日生一，明日生二及至十。若滿三十六，藥所不能治，未滿三十六可治。忌嗔怒蓄積愁恨。八曰蛇眼疔。其狀瘡頭黑皮浮生，形如小豆，狀似蛇眼大體硬。忌惡眼人看並嫉妒人見，忌毒藥。九曰鹽膚疔。其狀大如匙面，四邊皆赤，有黑粟粒起。大忌食鹽。十曰水洗疔。其狀大如錢，形如錢孔，瘡頭白里黑靨，汁出中硬。忌飲漿水，水洗，渡河。十一曰刃鎌疔。其狀闊狹如薤葉大，長一寸，左側肉黑如燒烙。忌刺及刀鎌切割，鐵刃所傷可以藥治，不可亂攻。十二曰浮漚疔。其狀瘡體圓曲，少許不合長而狹如薤葉大，內黃外黑，黑處刺之不痛，黃處刺之痛。十三曰牛狗疔，其狀肉色疱起掐不破。以上疔瘡十三種，初起瘡心先癢後痛，先寒後熱。熱定則寒多，四肢沉重，心驚眼花，若大重者則嘔逆，嘔逆者難治。其麻子疔一種，始末惟癢，初錄忌者，不得觸犯，觸犯者發作難治療。其浮漚疔、牛狗疔兩種無所禁忌，縱不療亦不能殺人。其狀寒熱與諸疔不同，皆宜將護。依法治療其諸疔，或脊強瘡痛極甚不可忍者，是觸犯禁忌也。又有所謂紅絲疔，魚臍疔之類，其名甚多。其紅絲疔者，或生手足間，有紅絲一條，急宜用針刺斷，不然其絲入心，必難治矣。魚臍疔者其狀有似魚臍也。凡療疔瘡，皆宜刺瘡中心至痛處，又刺四邊十餘下，令血出，去惡血敷藥，藥力得入針孔中則佳。若不達里，藥力不到，又看口中頰邊，舌上有赤黑如珠子者是也。諸疔名目雖多，其治略同，初起宜以針刺出毒血，將蟾酥丸或回疔錠子之類從針孔拰入之，上用膏藥貼之，仍服飛龍奪命丹發汗，及五香連翹漏蘆湯之類並清心之劑。蓋諸瘡皆屬心火，心火清則毒氣消散而易愈矣。</p>
<p><u>追毒丹　</u></p>
<p>取黃去疔頭，追膿毒立效。</p>
<p>蟾酥（一錢，乾用酒化）　蜈蚣（酒浸，炙乾黃）　硇砂（一錢）　白丁香（一錢，無此味加巴豆）　巴豆（七粒，去殼，不去油）　雄黃（二錢）　輕粉（一錢）　硃砂（二錢，為衣）</p>
<p>上總為細末，面調水為丸，如丸不就，用酒打麵糊為丸如麥大，兩頭尖，入於針破口內，用水沉膏貼之，後用膏藥及生肌藥追出膿血毒物。又如有黑陷漏瘡者，四圍死敗肉不去不生肌者，不可治也。亦用此藥追毒去死肌敗肉，生新肉，愈矣。小者用一粒，大者加用之。病輕者不必用針，只以手指甲爬動於瘡頭頂上安此藥，水沉膏貼之。其瘡即時紅腫為度，去其敗肉為妙，用之神效立驗。</p>
<p><u>水沉膏　</u></p>
<p>將白芨末放在盞內，用水沉下去，用紙貼之。如用膏，不可用生肌藥。凡用拈點之藥，用此膏圍貼則不傷好肉。</p>
<p><u>追疔奪命湯　</u></p>
<p>秘方速效，能內消腫。</p>
<p>羌活　獨活　青皮（多用）　防風（多用）　黃連　赤芍藥　細辛　甘草　蟬蛻　殭蠶　腳連（即雞爪黃連，各等分）　加河車　澤蘭　金銀花　有膿加何首烏　白芷　要利加青木香　大黃　梔子　牽牛　在腳加木瓜（各等分）</p>
<p>上㕮咀，每服五錢，先將一服加澤蘭（少用葉）、金銀花各一兩，生薑十片，同藥擂爛，好酒旋之熱服。不吃酒者水煎為妙，然後用酒水各一盞半，生薑十片煎，至熱服，汗出為度。病退減後，再加大黃二錢，煎，至熱服，再以利一二次，去餘毒為妙。此方以藥味觀之，甚若不切，然效速於神驗，萬無一失，屢用屢效。如有別證再出，宜隨證加減，治之速效。若心煩嘔吐，加甘草節（一錢），豆粉（酸漿水下）；嘔逆噁心，加乳香、豆粉（甘草湯下）。</p>
<p><u>飛龍奪命丹　</u></p>
<p>專治疔瘡發背，腦疽乳癰疽，附骨疽，一切無頭腫毒惡瘡，服之便有頭，不痛者服之便痛，已成者服之立愈。此乃惡證藥中至寶，病危者服之立可矣，萬無一失。此乃家傳之秘方，一生受用，不敢輕泄，神速之驗，即愈立效。</p>
<p>蟾酥（二錢，乾者酒化）　血竭（一錢）　乳香（二錢）　沒藥（二錢）　雄黃（三錢）　輕粉（半錢）　膽礬（一錢）　麝香（半錢）　銅綠（二錢）　寒水石（一錢）　硃砂（二錢，為衣）　海羊（二十個。即蝸牛是也）　腦子（半錢，無亦可）　天龍（一條，酒炙黃，去頭足。即蜈蚣是）</p>
<p>上為細末，先將海羊連殼研為泥，和前藥為丸如綠豆大。如丸不就，入酒打麵糊丸。每服二丸，先用蔥白三寸，令病人嚼爛，吐於手心，男左女右，將藥丸裹在蔥白內，用無灰熱酒三四盞送下，於避風處以衣蓋覆之，約人行五里之久，再用熱酒數杯以助藥力，發熱、大汗出為度矣。</p>
<p>初覺二丸即消，如汗不出重者，再服二丸，汗出即效，三五日病重者再進二丸即愈。如疔瘡走黃，過心者難治之，汗出冷者亦死矣。如病人不能嚼蔥，擂碎裹藥丸在內，熱酒送下。瘡在上食後服，瘡在下食前服。服此藥後忌冷水、黃瓜、茄子、油、豬、雞、魚、肉、濕面，一切發風發瘡毒類之物不可食之，又忌婦人洗換、狐臭。百發百中，此藥活人甚多矣。</p>
<p><u>拔黃藥　</u></p>
<p>用蟾酥、飛羅面為丸，如梧桐子大，可將一丸放在面前舌下，即時黃出。</p>
<p><u>百二散　</u></p>
<p>（又名護心散）</p>
<p>治發疔瘡煩躁，手足不住發狂者，急宜服之。</p>
<p>甘草節　綠豆粉　硃砂（各等分）</p>
<p>上為細末，每服三錢，熟水調下。</p>
<p><u>蟾酥膏　</u></p>
<p>治疔瘡。</p>
<p>上取蟾酥，以白麵黃丹搜作劑，丸如麥顆狀。用指甲抓動瘡上插入，重者針破瘡頭，以一粒納之，仍以水沉膏貼之。</p>
<p><u>回瘡錠子　</u></p>
<p>治疔瘡大效。</p>
<p>草烏頭（一兩）　蟾酥（七粒）　巴豆（七個，去皮）　麝香（一字）</p>
<p>上為細末，麵糊和就，捻作錠子。如有惡瘡透疔，不痛無血者，用針深刺至痛處有血出，從此錠子拰之，上用膏藥貼之，疔瘡四畔拰之，其疔三二日自然拔出。此藥最宜緊用此證，大抵與傷寒頗類，其中亦有可針鎌砭射出血者，亦有久而敗爛出膿者，其間變異百端，不可不慎也。</p>
<p><u>內托連翹散　</u></p>
<p>疔瘡出時，皮色不變及不疼痛，按搖不動，身發寒熱，便是此瘡。有水疔，魚臍疔，紫燕疔，火疔諸般疔瘡，如瘡黃，於黃上用針刺，仍服內托散，自然消散。</p>
<p>連翹　白芷　生地黃　赤芍藥（各一兩）　大黃（去皮）　黃梔（去頂蒂）　薄荷葉（各七錢）朴硝（二兩）　黃芩（去心，半兩）　甘草（一兩半）</p>
<p>上為粗末，每服一兩，水一碗，燈心竹葉煎七分。其人喘，加人參少許，大病只三四服愈。如服了心煩嘔，用不二散止之。</p>
<p><u>不二散　</u></p>
<p>甘草（半兩）　綠豆粉（一兩）</p>
<p>上為末，分作二服，酸齏水下。</p>
<p><u>破棺丹　</u></p>
<p>治疔黃走胤不止。</p>
<p>當歸　赤芍藥　山梔子　牽牛（以上各二兩半）　連翹　牡蠣　金銀花　紫花地丁（各一兩半）　京三稜　甘草（各二兩）　加大黃（三兩半）</p>
<p>上為細末，煉蜜和丸如彈子大，每服一丸，食前用童子小便化開服。忌飲酒及生冷硬物。</p>
<p><u>返魂丹　</u></p>
<p>治十三種疔瘡。</p>
<p>硃砂　膽礬（各一兩半）　血竭　銅綠　蝸牛（生用，各一兩）　雄黃　白礬（枯，各二兩）沒藥　蟾酥（各半兩）　麝香（少許）　輕粉（一錢）</p>
<p>上將蝸牛、蟾酥研爛，余藥研為細末，同研和丸如雞頭實大，每服一丸。令病人先嚼蔥白三寸吐在手心內，將藥丸裹在蔥內，用熱酒一盞吞下。如重車行□里許，有膿出即瘥。如不能嚼，將蔥研爛裹藥服之，極有效驗。</p>
<p><u>立馬回疔丹　</u></p>
<p>治疔瘡走胤不止。</p>
<p>金腳信　蟾酥　血竭　硃砂　沒藥（以上各半錢）　輕粉　龍腦　麝香（以上各一字）</p>
<p>上為細末，用生草烏頭汁和，作錠如麥子大。用時將瘡頂刺破，將藥一錠放瘡口內，第二日瘡腫是效。</p>
<p><u>治疔走了黃，打滾將死者　</u></p>
<p>牡蠣　大黃　山梔子　金銀花　木通　連翹　牛蒡子　地骨皮　乳香　沒藥　皂角刺　栝蔞</p>
<p>上各等分銼碎，每服半兩。氣壯者加朴硝。用水一碗，酒半碗煎。一服定愈，救命仙方也。</p>
<p><u>芫花根膏　</u></p>
<p>治魚臍疔瘡，又治不瘥者。</p>
<p>芫花根（二兩）　黑豆（三合）　豬牙皂角（五挺）　白礬（三兩，煅，研細）</p>
<p>上用醋一斗，將前三味先浸三日，於釜中以火煎至二升，去渣。卻入鐺中煎至一升，入白礬末攪令勻，去火成膏。但是魚臍疔惡瘡，攤於帛上貼，日二易之。</p>
<p><u>回瘡蟾酥錠子　</u></p>
<p>治疔瘡毒氣攻心欲死。以針刺其瘡向心行處，但覺痛有血處下錠子。若屢刺至心側近，皆不痛無血者，急針百會穴。痛有血者下錠子。若無血，以親人熱血代之猶活三四。況瘡初發，無有不效。大抵疔瘡生於四肢及胸背頭項骨節間，唯胸背頭項最急，初生痛癢不常，中陷如釘，蓋撼之有根，壯熱噁心是也。</p>
<p>天南星　款冬花　巴豆仁　黃丹　白信（以上各一錢）　獨活（五分）　斑蝥（去頭足，十個）</p>
<p>上為極細末，用新蟾酥和藥如黍米大，捻作錠子。每遇疔瘡先以針刺其瘡，必不知痛，有血出者下錠子。如覺痛，不須再用。若更不知痛，再隨瘡所行處迎奪刺之，至有血知痛即止。其原瘡亦覺疼痛，以膏藥貼之，膿出自瘥。用錠子法度，以銀作細筒子一個，藥長三寸許，隨針下至瘡痛處，復以細銀絲子納藥於筒內，推至痛處。</p>
<p><u>麝香蟾酥丸　</u></p>
<p>治一切癰疽發背，疔瘡內毒，如未破用針刺破，捻藥在內，膏藥貼之，其瘡即潰。</p>
<p>蟾酥（五分）　人言（一錢）　雄黃（一錢）　巴豆（十個，去皮油）　輕粉（五分）　乳香（五分）　麝香（少許）　寒水石（三錢）</p>
<p>上為細末，滴水為丸作錠子如小麥粒大。量瘡大小用之，寒食麵糊為丸。</p>
<p><u>鐵粉散　</u></p>
<p>專治冷疔瘡經久不效，用此藥大妙。</p>
<p>多年生鐵（三錢，炒過）　松脂（一錢）　黃丹（五分）　輕粉（五分）　麝香（少許）</p>
<p>上為細末，用清油調塗瘡口立效。</p>
<p><u>鐵罐膏　</u></p>
<p>治一切惡瘡內毒，此藥止痛追死肉。</p>
<p>桑柴灰　蕎麥柴灰　石灰（各一碗）　炭灰（少許）</p>
<p>上用瓦罐一個，底旁鑽穴一個塞住。將前項灰填在內，用水注滿，厚紙封固一伏時。用蘆筒插在罐孔內淋之，盡其水，不用灰罐。將淋灰水於鍋內慢火熬，用鐵片續續攪，休教爆定鍋。稀稠滴在水內不散為度。用鐵罐子盛之封了口。或有諸般瘡及腸風痔瘻，量瘡用之妙。</p>
<p><u>五聖散　</u></p>
<p>治疔瘡。</p>
<p>皂角針（二兩）　栝蔞（一個）　大黃　金銀花　生薑　甘草（各一兩）</p>
<p>上㕮咀，用好酒二升，同煎至八分，去渣，不拘時溫服。</p>
<p><u>滴滴金　</u></p>
<p>治疔瘡。</p>
<p>硇砂　輕粉　人言　雄黃　硃砂（各一錢）　麝香（少許）</p>
<p>上為細末，每用些少，先以針刺開瘡頭貼藥，黃水出效。</p>
<p><u>走馬赴筵丹　</u></p>
<p>治疔瘡。</p>
<p>沒藥　乳香　硼砂　硇砂　雄黃　輕粉（以上各三錢）　片腦（一分）　麝香（少許）</p>
<p>上為細末，蟾酥汁和為丸，如黃米大。每服一丸，溫酒送下。</p>
<p><u>奪命返魂散　</u></p>
<p>治一切疔瘡，憎寒發熱，昏悶不語，腫遍皮膚，不思飲食並皆治之。</p>
<p>大黃　連翹　山梔子（各二錢，俱為末）　巴豆　杏仁（各二錢，麩皮與豆同炒黑色，研為極細末）　牽牛（頭末）　苦丁香（各一錢）　人言（五錢，用大蒜五個去心，填人言同燒過性，研為細末）</p>
<p>上為細末，研勻，每服半錢，病重者服一錢，用新汲井華水調下，一服見效。如病重無脈者，吃下藥一頓飯時，吐了藥便醫不得，吐不了藥即活。</p>
<p><u>四聖旋疔散　</u></p>
<p>治疔瘡生於四肢，其勢微者。先以好醋調藥塗上，以紙封之；次服內托裡之藥，其疔自旋出根。</p>
<p>巴豆仁（五分）　白殭蠶　輕粉　硇砂（以上各二錢半）</p>
<p>上為細末，醋調用之。</p>

<h2>瘰癧論</h2>
<p>夫瘰癧瘡者，有風毒、熱毒、氣毒之異，瘰癧、結核寒熱之殊。其證皆由忿怒氣逆，憂思過甚，風熱邪氣內搏於肝經。蓋怒傷肝，肝主筋，故令筋縮結蓄而腫也。其候多生於頸項胸腋之間，結聚成核，初如豆粒，後若梅李累累相連，大小無定。初覺憎寒壯熱，咽項強痛，腫結不消者，便當服散腫潰堅湯，或五香連翹藜蘆湯之類散之，或用牡蠣大黃湯疏利三二行，瘡上可用十香膏之類貼之，及諸淋洗敷貼等藥治之，庶得消散。若不散，可用內消丸之類消之，或隔蒜灸之，仍斷欲息氣，薄滋味調理之，不然恐日久變生寒熱咳嗽，而成癆瘵之疾，不可治矣。又有馬刀瘡，亦生於項腋之間，有類瘰癧，但初起其狀如馬刀，赤色如火燒烙極痛，此瘡甚猛，宜急治之，不然多成危殆也，臨證辨之。</p>
<p><u>是齋立應散　</u></p>
<p>治瘰癧神效，已破未破皆可服。</p>
<p>連翹　赤芍藥　川芎　當歸　甘草（炙）　滑石（研，各半兩）　黃芩　白牽牛（生取末）　川烏尖（七個）　土蜂房（蜜水洗，飯上蒸，日乾，各二錢半）　地膽（去頭翅足拌米炒，米黃為度，去米稱三錢）</p>
<p>上為細末，每服抄一大錢匕，濃煎木通湯調下，臨臥服。毒根從小便中出，澀痛不妨，毒根如粉片塊血爛肉是也。如未效再服，繼以薄荷丹解其風熱，且地膽性帶毒，濟以烏尖，或衝上麻悶，不能強制，嚼蔥白一寸，茶清下以解之。如小便澀，燈心湯調服五苓散，瘡處用好膏藥貼。若療癰疽，用此宣導惡毒，本方去黃芩不用。</p>
<p><u>柴胡連翹湯　</u></p>
<p>治男子婦人馬刀瘡。</p>
<p>柴胡　連翹　知母（酒製）　黃芩（炒，以上各半兩）　黃柏（酒製）　生地黃　甘草（炒，以上各二錢）　當歸尾（一錢半）　中桂（三分）　牛蒡子（二錢）　瞿麥穗（六錢）</p>
<p>上銼如麻豆大，每服三錢或五錢，水二大盞煎至一盞，去渣。食後稍熱，時時服之。</p>
<p><u>薄荷丹　</u></p>
<p>解瘰癧風熱之毒，自小便宣毒，後常須服。</p>
<p>杜薄荷　皂角（不蛀者去弦皮）　連翹　何首烏（米泔浸）　蔓荊子　京三稜（煨）　荊芥（各一兩）</p>
<p>上為末，好豉二兩半以米醋煮沸，灑豉淹令軟，研如糊，和丸桐子大。每三十丸，食後</p>
<p>熟水下，日一服，病雖愈常服之。</p>
<p><u>神秘散　</u></p>
<p>治瘰癧。</p>
<p>斑蝥（去頭足翅，麵炒，二十一個）　荊芥穗　直殭蠶（炒，去絲嘴）　黑牽牛（微炒，取末各二錢）</p>
<p>上細末，每服一錢，五更好酒調下，日中當取下惡物。如不下，次日五更再進一服。或更不下，第三日五更先吃秫米粥一盞，次服此藥，其毒決下。如小便痛澀，以蔥茶解之，或木通燈心煎湯利之。</p>
<p><u>雌雄散　</u></p>
<p>治瘰癧。</p>
<p>斑蝥（一雌一雄足翅全者，新瓦焙焦去頭翅足）　貫眾（二錢）　鶴蝨　甘草（各一錢）</p>
<p>上細末，作二服，飽飯後好茶濃點一盞調下。</p>
<p><u>連翹散堅湯　</u></p>
<p>治耳下至缺盆或至肩上生瘡，堅硬如石，動之無根，名曰馬刀，從手足少陽經中來也。或生兩脅，或已流膿，作瘡未破者並皆治之。</p>
<p>連翹　黃芩（生用）　芍藥　當歸尾（酒製）　京三稜（細銼）　廣朮（同三稜酒製，各半兩）　草龍膽（酒製，二兩）　黃芩（酒炒，二次）　黃連（酒炒，二次）　蒼朮（米泔浸。各二錢）　土瓜根（酒炒，一兩）　柴胡（一兩二錢）　甘草（炙，二錢）</p>
<p>上作一半為末，煉蜜和丸如綠豆大。每服一百丸或百五十丸。一半㕮咀，每服半兩，水一盞半浸半日，煎至八分，去渣臨睡熱服，頭下腳高去枕而臥，每口作十次咽，留一口送下丸藥，臥如常。</p>
<p><u>遇仙無比丸　</u></p>
<p>專治瘰癧。</p>
<p>白朮　檳榔　防風　黑牽牛（半生半炒）　密陀僧　郁李仁（湯泡去皮）　斑蝥（去翅足，用糯米同炒，去米不用）　甘草（以上各五錢）</p>
<p>上為細末，麵糰為丸，如梧桐子大。每服二十丸，早晚煎甘草檳榔湯送下。服至一月覺腹中微疼，於小便中取下癧子毒物，有如魚目狀。已破者自合，未破者自消。</p>
<p><u>蝙蝠散　</u></p>
<p>治瘰癧多年不瘥。</p>
<p>蝙蝠（一個）　貓頭（一個）</p>
<p>上同燒作灰，撒上黑豆煅，其灰骨化碎為細末。濕即乾摻，干則油調敷，內服五香連翹湯效。</p>
<p><u>白花蛇散　</u></p>
<p>治九漏瘰癧發於項腋之間，或痛或不痛。</p>
<p>白花蛇（酒浸，去皮骨，焙二兩）　生犀角（二錢）　牽牛（半炒半生，一兩）　青皮（五錢）</p>
<p>上為細末，每服一錢入膩粉半錢研勻，五更糯米飲調服。已時下惡物，乃瘰癧之根也。更候十日再服一服。忌發風熱毒物，已成瘡者一日可效。</p>
<p><u>四聖散　</u></p>
<p>治瘰癧，服白花蛇散轉利後，服此藥調之，永去根。</p>
<p>海藻（洗）　石決明（煅）　羌活　瞿麥穗（各等分）</p>
<p>上為細末，每服二錢，米湯調下，清水盡為度。</p>
<p><u>散腫潰堅湯　</u></p>
<p>治馬刀瘡結硬如石，或在耳下至缺盆中，或至肩上，或於脅下，皆手足少陽經中。及瘰癧遍於頦或至頰車，堅而不潰，在足陽明經中所出。或二瘡已破乃流膿水，並皆治之。臥時服藥，斟酌病人飲食多少，大便軟硬，以意料之則可。</p>
<p>知母（酒浸洗）　黃柏（酒炒）　栝蔞根（酒浸）　昆布　桔梗（以上各半兩）　廣朮（洗炒）　京三稜（酒洗炒）　連翹（以上各三錢）　升麻（六分）　黃連　白芍藥　葛根（以上各二錢）　當歸梢　柴胡　甘草（以上各半錢）　草龍膽（四錢，酒洗，炒）　黃芩梢（一錢半，一半酒洗一半生）</p>
<p>上㕮咀，每服六錢，水二盞，先洗多半日，煎至一盞，去渣熱服。於臥處伸足在高處，頭微低，每噙一口作十次咽，至服畢依常安臥，取藥在胸中停蓄也。另攢半料作細末，煉蜜為丸如綠豆大。每服一百丸或百五十丸。此藥湯留一口送下，更加海藻半兩炒。</p>
<p><u>瞿麥飲子　</u></p>
<p>治瘰癧馬刀並治。</p>
<p>瞿麥穗（半斤）　連翹（一斤）</p>
<p>上為粗末，水煎臨臥服此藥，經效多不能速驗，宜待歲月之久除也。</p>
<p><u>海藻丸　</u></p>
<p>治癧生於頭項上交接，名蛇盤癧，宜早治之。</p>
<p>海藻菜（蕎麥炒）　白殭蠶（微炒，去絲嘴）</p>
<p>上等分為細末，海藻菜旋炒研篩，湯泡白梅取肉，減半，用所泡湯為丸，如梧桐子大。每服六七十丸，食後臨臥米飲送下，其毒自大便內泄出，若與淡菜連服為妙。蓋淡菜生於海藻上，亦治此病。忌豆腐雞羊酒面。日五六服。</p>
<p><u>琥珀膏　</u></p>
<p>治頸項瘰癧初發如梅子，腫結硬強，漸若連珠，或穿穴膿潰，肌汁不絕，經久難瘥，漸成瘻疾，並皆治之。</p>
<p>琥珀（一兩）　木通　桂心　當歸　白芷　防風　松脂　硃砂（研）　木鱉（去殼，各半兩）麻油（二斤）　丁香　木香（各三分）</p>
<p>上件藥先用琥珀、丁香、桂心、硃砂、木香、五味搗羅為末。</p>
<p>其餘藥並細銼。以油浸一宿，於鐺中以慢火煎，候白芷焦黃漉出。次下松脂末，濾去渣，再澄清油，卻安鐺中慢火熬。下黃丹一斤，以柳木篦不住手攪令黑色，滴入水中成珠子不散，看硬軟得所，入琥珀等末攪令勻，於瓷器內盛之。每使時看大小，用火烲紙上勻攤貼上。</p>
<p><u>蜂房膏　</u></p>
<p>治熱毒氣毒結成瘰癧。</p>
<p>露蜂房（炙）　蛇蛻　玄參　蛇床子　黃耆（銼。各三分）　杏仁（二兩半）　亂髮（雞子許）鉛丹　蠟（各二兩）</p>
<p>上先將前五味銼細，綿裹，用酒少許浸一宿，勿令酒多。用油半斤，納杏仁亂髮，煎十五沸。待發消盡，即綿濾，更下鐺中，然後下丹蠟，又煎五七沸，即瀉出於瓷盆中盛取。貼瘡上一日一換。</p>
<p><u>檳榔散　</u></p>
<p>治氣毒瘰癧，心膈壅悶，不下飲食。</p>
<p>檳榔　前胡（去蘆）　赤茯苓　牛蒡子（炒，各一兩）　人參（去蘆）　枳殼（去穰，炒）　沉香　防風（去蘆，各半兩）　甘草（銼，炙，一分）</p>
<p>上銼碎，每服四錢，以水一盞入生薑半分，煎至六分去渣。空心及晚食前溫服。</p>
<p><u>射干連翹湯　</u></p>
<p>治瘰癧寒熱。</p>
<p>射干　連翹　玄參　赤芍藥　木香　升麻　前胡　山梔仁　當歸　甘草（炙，各一兩）　大黃（炒，二兩）</p>
<p>上㕮咀，每服三錢，水一盞，煎七分去渣，入芒硝少許，食後溫服，日再服。</p>
<p><u>栝蔞子散　</u></p>
<p>治瘰癧初腫，疼痛寒熱，四肢不寧。</p>
<p>栝蔞子　連翹　何首烏　皂莢子仁　牛蒡子（微炒）　大黃（微炒）　白螺殼　梔子仁　漏蘆　牽牛（微炒）　甘草（生，各一兩）</p>
<p>上為細末，每服二錢匕，食後溫酒調下。</p>
<p><u>荔枝膏　</u></p>
<p>治瘰癧。</p>
<p>荔枝肉（一兩）　輕粉　麝香　白豆蔻　川芎　砂仁　硃砂　龍骨　血竭　乳香（各一錢）全蠍（五個）</p>
<p>上將荔枝肉擂爛軟，米飲和為膏。看瘡大小攤貼，如有三五個者，只去點為頭者妙。</p>
<p><u>枳殼丸　</u></p>
<p>治瘡疽熱癰腫瘰癧。</p>
<p>枳殼（麩炒，去穰）　牽牛（炒，取頭末）　木香　青皮（以上各一兩）　甘草　大黃</p>
<p>上為細末，用皂角長一尺許者三錠，約三兩，炮焦捶碎，以好酒煮軟，挼取汁，熬膏稠黏，和前藥末為丸，如梧桐子大。每服三五十丸，食後蔥茶下，日進二服。</p>
<p><u>皂角煎丸　</u></p>
<p>治風毒瘰癧。</p>
<p>皂角（不蛀者三十錠，內十錠炮黑，十錠酥炙，十錠用水一盅煮軟揉汁用度）　何首烏　玄參　薄荷葉（以上各四兩）</p>
<p>上為細末，與前膏子同煉蜜為丸，如豌豆大。每服三四十丸，食後溫水送下。</p>
<p><u>內消丸　</u></p>
<p>治瘡腫初生及瘰癧結核，熱毒鬱滯，服之內消矣。大效。</p>
<p>青皮　陳皮（以上各二兩）　牽牛（八兩，取頭末二兩）　薄荷葉　皂角（以上各八兩，不蛀者，去粗皮捶碎，用冷水一斗煮令極軟，揉汁去渣用，熬成膏）</p>
<p>上將青皮、陳皮末並牽牛未和勻，用前膏子和丸，如豌豆大。每服三十丸，食後荊芥茶，清溫水皆可下。</p>
<p><u>柴胡通經湯　</u></p>
<p>治小兒項側有瘡，堅而不潰，名曰馬刀。</p>
<p>柴胡　當歸尾　生甘草　連翹　黃芩　牛蒡子　京三稜　桔梗（各一錢半）　黃連（一錢）紅花（少許）</p>
<p>上作一服，水二盅煎至一盅，食後服。亦治瘰癧，此是攻裡內消之劑。</p>
<p><u>消腫湯　</u></p>
<p>治馬刀瘡。</p>
<p>柴胡　黃芩（生用，各二錢）　黃連　牛蒡子（炒，各五分）　黃耆　栝蔞根（各一錢半）　連翹（三錢）　當歸尾　甘草（各一錢）　紅花（少許）</p>
<p>上㕮咀，每服半兩，水二大盞煎至一盞，去渣，食後稍熱服，忌酒濕面。</p>
<p><u>十香膏　</u></p>
<p>治五發惡瘡，結核瘰癧，疳瘻疽痔。</p>
<p>沉香　麝香（以上各一錢）　木香　丁香　乳香　甘香　白芷　安息香　藿香　零陵香（各五錢，為細末）　當歸　川芎　黃耆　木通　芍藥　細辛　升麻　白蘞　獨活　川椒　藁木　菖蒲　厚朴　木鱉子　官桂　商陸根（各二錢，銼碎）　桃仁　杏仁　柏子仁　松子仁（各五錢）　槐枝　桑枝　柳枝　松枝（各二兩，銼）　沒藥　輕粉　雄黃　硃砂　雲母石　生犀角　亂髮灰　白礬灰（各二兩，另研如粉）　真酥　豬脂　羊腎脂（各二兩）　黃丹（一斤）　清芝麻油（三斤）</p>
<p>上先於木炭火煉油香熟，下一十六味銼碎藥並四枝四仁，熬至紫黑色，出火濾去渣。入脂酥煎十餘沸，再以新棉濾過。油澄清，拭鐺令淨，再入火上煎。油沸下丹，用濕柳枝作篦子不住攪熬一日，滴在水中成珠不散則成也。離火入十味藥末攪勻，再上火入雲母等粉八味，輕煎令沸，出火。不住攪一食時，於瓷盒內密封收。每用，量瘡口大小，緋帛上攤貼之。腸胃癰疽，可作丸如梧桐子大，每服十丸，空心溫酒送下。</p>

<h1>卷下</h1>

<h2>腸癰痔瘻論</h2>
<p>大腸癰者，乃陰陽偏勝，喜怒無時，伏於臟腑之中，結在腸胃之內，血凝氣滯，迴旋失度，不能通行，聚結成癰，致生腫痛。孫真人云，卒得腸癰而不曉其病候，庸醫治之，錯則殺人。腸癰之為病，初起覺腹中微痛，小腹腫而強抑之則痛，小便澀似淋，時時汗出，復惡寒，其身皮甲錯，腹皮緊急如腫之狀，而按之濡，或發熱無汗，灑淅惡寒皆其候也。其脈洪數者為有膿也，可下。其脈遲緊者，未有膿，不可下也。甚者腹肚脹大，轉側聞有水聲，或繞臍生瘡，或膿從臍出，或大便下膿血，凡此皆為惡證。若夫胃脘癰者，何以別之。《內經》云：人病胃脘癰者，當論胃脈沉細，沉細者氣逆，逆者人迎反盛，則熱聚於胃口而不行，故胃脘為癰也。治法亦與腸癰頗同。初以疏利之藥導其滯，次用排膿消毒托裡之藥調之，此其大法也。若夫痔瘻之疾，與腸癰不同，其狀初起於肛門邊，或如鼠乳，或結小核，癢痛注悶，甚者身熱惡寒，此證皆由酒色過度，久嗜肥甘，醉飽入房，勞擾血脈，腸澼滲漏，沖注下部，發於肛邊，遂成痔疾。其名有五，一曰牝痔，二曰牡痔，三曰氣痔，四曰血痔，五曰酒痔。又曰腸風痔、脈痔、雌雄痔，皆五痔之別名也。日久不愈，遂成瘻瘡則難治矣。具方於後，審而用之。</p>
<p><u>大黃湯　</u></p>
<p>治腸癰小腹堅硬，腫大如掌而熱，按之則痛，其上色或赤或白，小便稠數，汗出憎寒，其脈遲緊者未成膿，如脈數則膿已成。</p>
<p>大黃（銼炒）　牡丹皮　硝石（研）　芥子　桃仁（湯泡，去皮尖，雙仁炒，各半兩）</p>
<p>上銼碎，每服五錢，水二盞煎至一盞，去渣空心溫服，以利下膿血為度。未利再服。</p>
<p><u>四聖散　</u></p>
<p>（一名神效栝蔞散）</p>
<p>治腸癰癰疽，生於腦、髭、背、腋、乳，便毒服之神效。</p>
<p>生黃栝蔞（一枚，去皮）　粉草（研末，四錢）　沒藥（研末，三錢）　乳香（研末，一錢）</p>
<p>上用好紅酒二大碗，慢火煎至一碗，分作兩服，兩日服盡。大便順導惡物妙，若干栝蔞則用兩枚一方。若病在上，食後服；若病在下食前服。毒已結成即膿化為水，毒未成即於小便中出。疾甚，再合服，以退為妙。</p>
<p><u>牡丹散　</u></p>
<p>治腸癰冷證，腹濡而痛，時時利膿。</p>
<p>牡丹皮　人參　天麻　白茯苓　黃耆　木香　當歸　川芎　官桂　桃仁（去皮尖，各三分）　白芷　薏苡仁　甘草（炙，各二分）</p>
<p>上為細末，每服三錢，用水一盅煎至七分，食前溫服。</p>
<p><u>梅仁湯　</u></p>
<p>治腸癰裡急隱痛，大便閉澀。</p>
<p>梅核仁（四十九個，去皮尖）　大黃（三兩）　牡丹皮（一兩三分）　冬瓜仁（四兩）　芒硝（二兩半）　犀角（鎊，一兩半）</p>
<p>上銼如麻豆大，每服五錢，水二盞煎至一盞，去渣溫服，以利下膿血三二行為度。</p>
<p><u>神仙蠟礬丸　</u></p>
<p>治腸癰內托神妙。此藥不問老幼皆可服之，無不作效。最止疼痛，不動臟腑。</p>
<p>黃蠟（半兩，要黃色者，一方用七錢）　白礬（一兩，要明者研細）</p>
<p>上熔化黃蠟，和礬為丸，如梧桐子大。每服二十丸，漸加至三十丸，食遠用溫白湯送下。</p>
<p><u>薏苡仁湯　</u></p>
<p>治腸癰腹中癘痛，煩躁不安，或脹滿不食，小便澀，婦人產後虛熱，多有此病，縱非癰，但疑似間便可服。</p>
<p>薏苡仁　栝蔞仁（各三錢）　牡丹皮　桃仁（各二錢）</p>
<p>上作一服，水二盅煎至一盅，不拘時服。</p>
<p><u>秦艽白朮丸　</u></p>
<p>治痔疾並瘻有膿血，大便燥硬作疼，痛不可忍。</p>
<p>秦艽（去蘆）　桃仁（去皮尖，另研）　皂角仁（燒存性，各一兩）　枳實（麩炒）　當歸尾（酒製）　澤瀉、白朮（以上各半兩）　地榆（三錢）</p>
<p>上為細末，與桃仁泥研勻，湯煮麵糊和丸如梧桐子大，令藥光滑，焙乾。每服一百丸，白湯空心送下。服待少時以美膳壓之。忌生冷硬物、冷水菜之類，並濕面酒及五辛辣熱大料物之類，犯之則藥無驗矣。數服而愈。</p>
<p><u>秦艽防風湯　</u></p>
<p>治痔瘻每日大便時發疼痛，如無疼痛非痔瘻也，此藥主之。</p>
<p>秦艽　防風　當歸　白朮（各一錢半）　黃柏　橘皮　柴胡　大黃（煨）　澤瀉（各一錢）　紅花　桃仁　升麻（各五分）　甘草（炙六分）</p>
<p>上作一服，水二盅煎至一盅，空心服。避風寒，忌房事及酒濕面辛熱之物。</p>
<p><u>地榆散　</u></p>
<p>治痔瘡腫痛。</p>
<p>地榆　黃耆　枳殼　檳榔　川芎　黃芩　槐花　赤芍藥　羌活（各一錢）　白蘞　蜂房（炒焦）　甘草（炙，各五分）</p>
<p>上作一服，水二盅煎至一盅，食前服。</p>
<p><u>槐角丸　</u></p>
<p>治諸痔及腸風下血脫肛。</p>
<p>槐角（去梗，一兩）　防風　地榆　枳殼（麩炒）　當歸　黃芩（各半兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大。每服五十丸，空心用米飲送下。</p>
<p><u>釣腸丸　</u></p>
<p>治久新諸痔，肛邊腫痛或時瘡癢有膿血。</p>
<p>栝蔞（二個，燒存性）　蝟皮（二個，燒存性）　白礬（煅）　綠礬（煅）　白附子（生用）　天南星　雞冠花（銼炒）　半夏（各五兩）　胡桃仁（十五個，煅存性）　枳殼（炒）　附子（炮，去皮臍）　訶子（去核，各二兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大。每服三五十丸，臨臥用溫酒送下。遠年不瘥者服十日效，久服除根。</p>
<p><u>皂角煎丸　</u></p>
<p>治內痔瘻，腸頭裡面生核，寒熱往來。</p>
<p>滿尺皂角（三挺，去弦核，醋炙）　白礬（煅）　刺蝟皮（炙黃）　薏苡仁　白芷（以上各一兩）　桃仁（去皮，炒）　甜葶藶（炒）　川芎　桔梗（以上各半兩）　豬後蹄垂甲（十枚，燒存性）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。每服五十丸，空心用桑白皮煎湯送下。</p>
<p><u>神效散　</u></p>
<p>治洗痔。凡富貴之人多因嗜欲酒色過度，喜怒不常，致生痔瘻。或如鼠乳連珠，或糞門腸頭腫，流膿漏血，其痛如割不可忍者。但是諸腫瘡痔瘻及腸風漏血，此藥治之。</p>
<p>苦參　川椒　苦葫蘆　芫荽子　槐花　枳殼　荊芥　金銀花　白芷　連翹　獨活　小茴香　麻黃　牡蠣（煅）　威靈仙　椿樹皮（各二兩）</p>
<p>上㕮咀，每用五錢，水六七碗，蔥白二莖煎五七沸，去渣以盆盛，藥水上坐，先蒸後洗，甚驗。加黃老茄子二個尤妙。</p>
<p><u>蝸牛膏　</u></p>
<p>敷痔瘡極效。</p>
<p>蝸牛（一枚）　片腦　麝香（各少許）</p>
<p>上同研爛，用瓷盒盛，次早取汁敷瘡上。</p>
<p><u>拔毒散　</u></p>
<p>敷痔腫毒處。</p>
<p>大黃　黃柏　白芨　石膏　黃芩　黃連　白蘞　梔子　朴硝（各等分）</p>
<p>上為末，用井華水調塗。</p>
<p><u>雞峰烏金散　</u></p>
<p>治痔瘻。</p>
<p>黃牛角心　豬牙皂角　刺蝟皮　穿山甲（以上，同炒焦黑）　皂莢刺　槐子　枳殼　貫眾阿膠（炒，各等分）</p>
<p>上為細末，每服一錢半，用胡桃肉研爛並酒調，食前服。大腸有熱，荊芥泡湯調下；漏血不止，當歸煎湯調下。</p>
<p><u>枳殼散　</u></p>
<p>熏洗痔瘻。</p>
<p>枳殼　貫眾（各二兩）　荊芥　大柏皮（各一兩）　黃連　蛇床子　地骨皮　無名異　乾薑（炮，各半兩）　蒼耳根　冬青葉　薤頭　柏枝（各一把）　黑豆（半升）</p>
<p>上㕮咀，每用一大合，用水三大碗，煎至二碗，先熏後洗，日三五次。</p>
<p><u>結陰丹　</u></p>
<p>治腸風臟毒，大便下血。</p>
<p>枳殼（去穰，麩炒）　威靈仙　何首烏　椿根白皮　陳皮（去白）　荊芥穗　黃耆（各等分）</p>
<p>上為細末，酒煮糊同蜜少許和丸，如梧桐子大。每服五十丸至七十丸，食前用米飲送下。一方不用蜜，以醋少許同陳米飲煎湯下。</p>
<p><u>豬臟丸　</u></p>
<p>治大人小兒大便下血日久，多食易飢，腹不痛，里不急。先用海螵蛸炙黃去皮，白者為末，以木賊煎湯調下服之，三日後效。</p>
<p>黃連（二兩，銼碎）　嫩豬臟（二尺，去肥）</p>
<p>上以黃連塞滿豬臟，系兩頭煮十分爛，研細添糕糊丸，如梧桐子大。每服三五十丸，米飲下。</p>

<h2>乳癰論</h2>
<p>夫乳癰者，內攻毒氣，外感風邪，灌於血脈之間，發在乳房之內，漸成腫硬，血凝氣滯或乳汁宿留，久而不散結成癰疽。丹溪云：乳房所屬陽明胃經，乳頭所屬厥陰肝經。乳子之母，或忿怒傷肝，或厚味積熱，以致氣血不流行，竅不得通，汁不得出則結，為腫為痛。陽明之經血熱則化為膿。又有兒口之氣吹而焮熱，次結成核，初起時須便忍痛揉散令軟，血脈通和，自然消散矣。失此不治則成癰膿。治法，初起則當發散流氣之藥；若已成膿，又當內托排膿，養血順氣。慎勿妄用針刀，引惹拙病，則難治矣。又有婦人積憂結成隱核，有如鱉棋子大，其硬如石，不痛不癢，或一年、二年、三五年，始發為瘡，破陷空洞，名曰乳癌。以其深凹有似巖穴也。多為難治。得此證者雖曰天命，若能清心遠慮，薄滋味，戒暴怒，仍服內托活血順氣之藥，庶幾有可生之理也。</p>
<p><u>內托升麻湯　</u></p>
<p>治婦人兩乳間出黑頭，瘡頂陷下作黑眼，並乳癰初起亦治。</p>
<p>升麻　葛根　連翹　當歸身　黃柏（各二錢）　黃耆（三錢）　肉桂（五分）　牛蒡子　甘草（炙各一錢）</p>
<p>上作一服，水一盅，酒半盅，煎至一盅，食後服。</p>
<p><u>連翹飲子　</u></p>
<p>治乳癰。</p>
<p>連翹　川芎　栝蔞仁　皂莢刺　橘葉　青皮　甘草節　桃仁（各二錢）</p>
<p>上作一服，用水二盅，煎至一盅，食遠服。</p>
<p><u>百齒霜丸　</u></p>
<p>治吹乳結核不散，腫痛者神效，亦治乳癌。</p>
<p>百齒霜（即梳齒上頭垢）</p>
<p>上為丸，如雞頭子大，以黃丹為衣。每服一丸或二丸，好酒送下，如不飲酒白湯送下。不可化開，亦不可令病人知，極有效驗。</p>
<p><u>十六味流氣飲　</u></p>
<p>（方見前）</p>
<p>治結乳寒熱腫痛，欲成癰疽，急服此藥散之。</p>
<p><u>葛稚川方　</u></p>
<p>治婦人乳癰。</p>
<p>人牙齒（燒存性）</p>
<p>上為極細末，以酥調塗貼癰上。</p>
<p><u>兵部手集方　</u></p>
<p>療瘧乳硬，欲結膿，服此即消。</p>
<p>鹿角</p>
<p>上將鹿角於粗石上磨取白汁塗之，干又塗，不得近手，並以人嗍卻黃水，一日許即散。或用鹿角，銼為極細末，酒調二三錢服亦效。</p>
<p><u>神效栝蔞散　</u></p>
<p>治婦人乳疽奶癆。</p>
<p>黃栝蔞（子多者一個，去皮焙為細末，如急，用只爛研）　川當歸（洗，去蘆，焙，切細，半兩）　生甘草（半兩）　通明沒藥（二錢半，另研）　滴乳香（一錢另研）</p>
<p>上用無灰酒三升，同於銀石器中慢火熬，取一升清汁，分為三次食後服。如有奶癆，便服此藥杜絕病根。如毒氣已成，能化膿為黃水；毒未成即內消，疾甚者再合服，以退為度。乳疽之方甚多，獨此一方神效無比，萬不失一。</p>
<p><u>究原五物湯　</u></p>
<p>癰疽發背乳癰通用。</p>
<p>栝蔞（研，一枚）　皂莢刺（半燒帶生）　沒藥（各半兩）　乳香　甘草（各二錢半）</p>
<p>上粗末，醇酒三升煎取二升，時時飲之，痛不可忍立止。</p>
<p><u>乳癰方　</u></p>
<p>乳癰初發。</p>
<p>貝母</p>
<p>上為末，每服二錢，溫酒調下。即以兩手覆按於桌上，垂乳良久自通。</p>
<p><u>敷乳方　</u></p>
<p>天南星　半夏（生）　皂莢刺（燒帶生，各二分）　白芷　草烏　直殭蠶（焙，各一分）</p>
<p>上細末，多用蔥白研取汁，入蜜調敷。若破，瘡口用膏藥貼。</p>
<p><u>復元通氣散　</u></p>
<p>治婦人髮乳癰疽及一切腫毒。</p>
<p>木香　茴香　青皮　穿山甲（酥炙）　陳皮　白芷　甘草　藜蘆　貝母（去心，薑製，各等分）</p>
<p>上為細末，每服三錢，好酒調下。</p>

<h2>肺癰論</h2>
<p>夫肺癰者，乃肺經感受風邪熱毒所致也。此病多因久嗜炙爆肥膩，或勞傷氣血，以致心火炎熾，熏克肺金，致令咳嗽。咳而不已，遂成肺痿。若寸口脈數，其人咳中反有濁唾涎沫者，亦為肺痿之疾。若口中辟辟燥，咳又胸中隱隱而痛，脈反滑數，此為肺癰，咳唾膿血。脈數而虛者，為肺痿；脈數而實者，為肺癰。夫肺者五臟之華蓋也，處於胸中，主於氣，候於皮毛。勞傷血氣，腠理虛而風邪乘之，內感於肺也，則汗出惡風，咳嗽短氣，鼻塞項強，胸脅脹滿，久久不瘥遂成前證，輕則為痿，甚則成癰。其候應乳上下隱隱而痛者肺癰也，若肉微起者肺癰也。初起皆可救，若日久唾膿臭敗者，不可治也。但診其脈，微緊而數者，未有膿也；若緊甚而數者，已有膿也。若膿如粳米粥及嘔膿不止，其脈浮大而面色赤者，皆難治；若膿自止，其脈短而澀，面色黃白者，皆可治。何以言之。蓋脈浮大面赤，此心火克肺金也，故難治。若脈短澀及面白者，此肺氣未損也，故可治。治當補肺瀉火，止嗽定喘為佳。若不得臥者，可用葶藶大棗瀉肺湯及桔梗薏苡黃耆湯之類調之。全在保肺，活法施治，庶可全生也。</p>
<p><u>升麻湯　</u></p>
<p>治肺癰疽，胸乳間皆痛，口吐膿血，氣作腥臭。</p>
<p>川升麻　苦梗　薏苡仁　地榆　黃芩（去心）　赤芍藥　牡丹皮（去心）　生甘草（各三分）</p>
<p>上為粗末，每服一兩，水一升半，煎至五合，去渣溫服，日三服。</p>
<p><u>桔梗湯　</u></p>
<p>治男子婦人咳而胸膈隱痛，兩腳腫滿，咽乾口燥，煩悶多渴，時出濁唾腥臭，名曰肺癰，小便赤黃，大便多澀。</p>
<p>桔梗　貝母　當歸（酒浸）　栝蔞仁　橘殼（麩炒）　薏苡仁（微炒）　桑白皮　甘草節　防己（去粗皮，各一兩）　百合（蒸）　黃耆（各一兩半）　北五味子　甜葶藶　地骨皮　知母　杏仁（各半兩）</p>
<p>上銼碎，每服四錢，水一盞半，生薑三片，煎七分，不拘時溫服。咳者加百藥煎，熱加黃芩，大便不利加煨大黃少許，小便澀甚加木通車前子煎，躁煩加白茅根煎，咳而疼甚加人參白芷煎。</p>
<p><u>葶藶散　</u></p>
<p>治肺癰咳嗽氣急，睡臥不安，心胸脹滿。</p>
<p>甜葶藶子（二兩半，隔紙炒赤色）　百合（炒）　白附子　北五味子（炒）　甘草節　羅參　款冬花　百藥煎（各一兩）　大硃砂（五錢，另研）　紫菀（去木，一兩）</p>
<p>上為末，每服二錢，燈心湯調下。</p>
<p><u>補肺散　</u></p>
<p>治肺癰已吐出膿血，以此潤護。</p>
<p>真鍾乳粉（一兩）　白滑石（二兩）</p>
<p>上為末，每服三錢，米飲調下。</p>
<p><u>理肺膏　</u></p>
<p>治肺癰正作，咳唾不利，胸膈迫塞。</p>
<p>訶子（去核）　百藥煎　五味子（微炒）　條參（去蘆）　款冬花蕊　杏仁　知母　貝母　甜葶藶子　紫菀　百合　甘草節（各五錢）</p>
<p>上為末，用白茅根淨洗稱三斤，研取自然汁，入瓷石器中熬成膏，更添入好蜜二兩再熬勻，候調和煎藥為丸，如梧桐子大，溫水吞下。</p>
<p><u>五香白朮散　</u></p>
<p>寬中和氣，滋益脾土生肺金，進美飲食。</p>
<p>沉香　木香　明乳香　丁香　藿香葉（各半兩）　白朮　羅參　白茯苓　薏苡仁　山藥　扁豆　桔梗　縮砂　白豆蔻　粉草　蓮肉（各一兩）</p>
<p>上為末，蘇鹽湯調，空心服，棗湯亦可。有汗，加浮麥煎湯下。</p>
<p><u>排膿散　</u></p>
<p>治肺癰吐膿後，宜服此排膿補肺。</p>
<p>嫩黃耆　川白芷　北五味子（炒）　人參（各等分）</p>
<p>上為細末，每服二錢，食後蜜湯調服。</p>
<p><u>四順湯　</u></p>
<p>治肺癰吐膿，五心煩熱，壅悶咳嗽。</p>
<p>貝母（去心）　紫菀（去苗土）　桔梗（炒，各一兩）　甘草（炙，銼，半兩）</p>
<p>上搗篩，每服三錢，水一盞，煎五七沸，去渣，不拘時稍冷服。如咳嗽甚，加去皮尖杏仁三枚同煎，小兒量減。</p>
<p><u>治肺癰方　</u></p>
<p>上用薏苡米為末，糯米飲調下，或入粥內煮吃亦可。一方用水煎服，當下膿血便愈。</p>

<h2>諸疳瘡論</h2>
<p>夫疳瘡有數種，有血疳、風疳、牙疳、下疳之類。血疳者，乃臟中虛怯，邪熱相侵，外乘分肉之間，發於肌膚之上。初如紫芥，破時血出，遍身行處成瘡，氣血損傷，破肉虛癢，久不愈或成疳瘻。風疳者，乃足陽明胃經或受風邪熱毒，客於然谷之間，注在承山之側。初生如疥癬，破時黃水浸淫成瘡，風濕相搏，毒氣聚攻，漸生遍體。或生小兒耳邊，黃水瘡亦謂之疳瘡。牙疳者，皆由幼年好食甘甜煎爆辛熱之物，以致陽明胃經蘊積邪熱，上牙齒之間，或在牙根之內發成腫痛，或成腐肉敗血來侵，潰爛牙槽，臭穢難近，以致牙齒脫落，日久不愈遂成大患。下疳者，乃男子玉莖生瘡，此病皆由所欲不遂，或交接不潔，以致邪毒浸漬，發成瘡毒，日久不愈或成便毒，或損爛陽物，甚不可輕，易多致不救。以上諸疳，治法不同，具方於下。</p>
<p><u>應效散　</u></p>
<p>治氣瘻疳蝕瘡，多年不效者。</p>
<p>地骨皮（不以多少，冬月自取，只要皮陰乾）</p>
<p>上杵為細末，每用紙捻蘸拰瘡口內，頻用，自然生肉。更用米飲調二錢，無時日進三服，又名托裡散。</p>
<p><u>博金散　</u></p>
<p>治下疳蝕，臭爛腫痛。</p>
<p>白礬（與密陀僧同為末，相和於沙鍋內，火上炮汗盡）　密陀僧（以上各五錢）　白堊（二錢）　黃丹　輕粉（以上各一錢）　乳香（五分）　麝香（一字）</p>
<p>上為細末，先須另用槐枝、蔥白、鹽、甘草熬湯淋溻洗一二時，挹干，摻上項藥。每用藥先須洗浴，然後摻藥，甚者三五次瘥。</p>
<p><u>烏金散　</u></p>
<p>治疳瘻惡瘡。</p>
<p>麝香　蟾酥（以上各一字）　粉霜　硇砂　輕粉（以上各一錢）　銅綠　砒霜　白乾薑　草烏頭　天南星　舶上硫黃（以上各五錢）</p>
<p>上為細末，紙捻拰之，或湯浸蒸餅和為錠子，拰瘡口內，上以膏貼之。</p>
<p><u>截疳散　</u></p>
<p>治年深疳瘻瘡，大效。</p>
<p>密陀僧　白蘞　白芨　黃丹（以上各一兩）　黃連（半兩）　輕粉（一錢）　腦子　麝香（以上各五分）</p>
<p>上前四味為細末，後四味另研極細和勻為散。每用或摻或拰瘡口中，以膏貼之。</p>
<p><u>麝香輕粉散　</u></p>
<p>治血疳瘡，陰蝕瘡，耳疳瘡，一切惡瘡皆治。</p>
<p>麝香　輕粉（各五分）　乳香　沒藥　白礬（飛過，各一兩）</p>
<p>上為細末，量瘡干貼。</p>
<p><u>七寶檳榔散　</u></p>
<p>治下元玉莖上或陰頭上有疳瘡，漸至蝕透，久不愈者。</p>
<p>檳榔　雄黃　輕粉　密陀僧　黃連　黃柏　朴硝（各等分）</p>
<p>上為細末和勻，先以蔥白漿水洗淨，軟帛挹干，如瘡濕乾摻，如干小油調塗。</p>
<p><u>玉粉散　</u></p>
<p>治下陰瘡疼不止。</p>
<p>滑石　密陀僧　寒水石（煨，各半兩）　膩粉　麝香（各少許）</p>
<p>上為細末，油調敷或干貼患處。</p>
<p><u>甘石散　</u></p>
<p>治下部疳瘡。</p>
<p>爐甘石　密陀僧（各一錢半）　輕粉（一分）　龍骨（五分）　麝香（少許）　橡斗子（燒灰存性，三錢。）</p>
<p>上為細末，先用荊芥、杜仲、川椒煎湯，放溫浴洗罷，然後用藥一捻干貼。</p>
<p><u>金銀花散　</u></p>
<p>治下疳瘡。</p>
<p>金銀花　荊芥　朴硝　蛇床子　甘松　白芷　檳榔（各一兩）</p>
<p>上㕮咀，每用五錢，水五碗，加蔥白二根，同煎數沸，盆盛水，先熏後洗卻上藥。</p>
<p><u>治下疳瘡　</u></p>
<p>孩兒茶</p>
<p>上研為細末，先洗淨，干則小油調敷，濕則乾摻之，神效。</p>
<p><u>如聖膏　</u></p>
<p>治風疳癬，或癢或痛，經年不可，一切惡瘡並宜治之。</p>
<p>清油（半斤）　巴豆（三錢，去皮）　當歸（五錢）　輕粉（一錢）　黃蠟（三兩）</p>
<p>上先將油慢火熬，次下巴豆、當歸，熬黑色，濾去不用，入輕粉黃蠟，量瘡搽之。</p>
<p><u>青金膏　</u></p>
<p>治走馬牙疳、蝕損腐爛者。</p>
<p>人言（一錢）　輕粉（半錢）　粉霜（半錢）　青黛（一錢）　麝香（少許）</p>
<p>上為細末，小油調，新筆寫在紙上蔭干，每用少許在疳蝕處，白紙封之。</p>
<p><u>鴉鵮散　</u></p>
<p>專治疳瘡。</p>
<p>老鴉頭（一個，燒灰）　輕粉（五分）　黃丹（五分）　枯礬（五分）　麝香（少許）</p>
<p>上為細末，先用溫水洗淨後搽藥，妙。</p>
<p><u>乳香蓽茇散　</u></p>
<p>專治牙痛骨槽風。</p>
<p>天麻　防風　細辛　紅豆（各一錢）　荊芥穗　乳香　沒藥　官桂（各半錢）　當歸　薄荷葉（各二錢）　川烏　盆硝（各一錢）　麝香（少許）　蓽茇（一錢）</p>
<p>上為細末，每用一字或半錢，口含水，鼻嗅之，任左右。</p>
<p><u>牢牙散　</u></p>
<p>治牙斷綻肉，牙疳腫疼，牙齒動搖欲落，牙黃口臭。</p>
<p>升麻（四錢）　羊脛骨灰　羌活（各一兩）　草龍膽（一兩半，酒製）</p>
<p>上為細末，每用少許貼牙斷疼處，噙良久，有涎吐去。</p>
<p><u>麝膽散　</u></p>
<p>治走馬牙疳危惡候。</p>
<p>麝香（少許）　膽礬（一錢）　銅綠（半兩）　白礬（生用，一分）</p>
<p>上為細末研勻，上擦牙蝕處。</p>
<p><u>三礬散　</u></p>
<p>治牙根急疳。</p>
<p>青礬　黃礬（各半兩）　白礬（枯，一分）　麝香（一錢）</p>
<p>上為細末研勻，每用些少敷於瘡上，有涎吐之。</p>
<p><u>青金散　</u></p>
<p>治走馬牙疳，蝕損唇舌，肉腐牙落臭爛，其效如神。</p>
<p>銅綠，砒（各等分，制）</p>
<p>上研細，每用些少敷於患處。</p>

<h2>附骨疽論</h2>
<p>夫附骨疽者，謂其毒氣深沉，附著於骨也。此證多由憂愁之時露臥，為寒冷之氣折之，使風熱之氣不能發散，以致伏結附骨成疽。其痛而不能轉，初按之應骨，皮肉微急，洪洪如肥狀者，是也。但痛無時，乍寒乍熱而無汗者，經久不消，極陰生陽，寒化為熱而潰也。又有緩疽石疽，與附骨疽亦相類矣。所異者，蓋緩疽石疽皆寒氣所作，深伏於骨髓之間，有腫與皮肉相似，若疼而堅硬如石，故謂之石疽。緩疽其熱緩慢，積日不潰，久乃赤紫黯色，皮肉俱爛，故名曰緩疽。此二者其治，初覺便宜補虛托裡溫熱之劑，以取消矣。若附骨疽，其治亦同，宜服漏蘆湯、五香連翹散疏下之，次用內消升麻湯、溻潰膏藥貼之，令其浮淺則能愈矣。</p>
<p><u>貫眾湯　</u></p>
<p>治附骨癰生股上伏肉間，淋渫方。</p>
<p>貫眾　地骨皮　穀精草　枇杷葉（刷去毛，炙）　荊芥（去梗）　蜀椒（去目合口者，各一兩）</p>
<p>上搗篩，以水三升煮取二升，和渣淋渫，蘸布帛拓之。</p>
<p><u>當歸散　</u></p>
<p>治附骨癰及一切惡瘡。</p>
<p>當歸（半兩）　甘草（一兩）　山梔子（十二枚）　木鱉子（一枚，去皮）</p>
<p>上為細末，每服三錢，冷酒調服。</p>
<p><u>內托柴胡黃耆湯　</u></p>
<p>治附骨癰。</p>
<p>黃耆（二錢）　柴胡（一錢）　羌活（五分）　連翹（一錢三分）　官桂（三分）　黃柏（二分）　生地黃（一分）　土瓜根（一錢，酒製）　當歸尾（七分半）</p>
<p>上㕮咀作一服，水三盞，酒一盞，同煎至一盞，去渣熱服。宿食消盡，服一服而食。昔賈德茂，男，年十歲，丁未四月十一日，於左腿近膝股內出附骨癰，不辨肉色，漫腫，皮澤木硬，瘡勢甚大。其左腳乃肝之脾土也，更在足厥陰肝經之分，少侵足太陰脾經之分。其脈左三部細而弦，按之緩而微有力。一方無黃柏。</p>
<p><u>內托黃耆酒煎湯　</u></p>
<p>治附骨癰。</p>
<p>黃耆　當歸尾（各二錢）　柴胡（一錢半）　升麻（七分）　連翹　肉桂　鼠黏子（炒，各一錢）　黃柏　甘草（炙，各五分）</p>
<p>上㕮咀，好糯米酒一盞半，水一大盞半，同煎至一大盞，去渣溫服，空心宿食消盡服之，待少時以早飯服之，使不令大熱上攻中上二焦也。丁未季春二十二日，蒲度主老年七十，因寒濕地氣，得附骨癰於左腿外側，足少陽膽經之分，微侵足陽明分，闊六七寸，長一尺，堅硬漫腫，不辨肉色，皮澤深，但行步作痛，以指按至骨大痛。與藥一服立止，再日堅硬腫消。</p>
<p><u>犀角湯　</u></p>
<p>治石癰熱毒氣盛，腫硬疼痛，口乾煩悶。</p>
<p>犀角（鎊）　木香（各七錢半）　連翹　梔子仁　射干　當歸（切焙）　升麻　赤芍藥　玄參　枳殼（麩炒）　甘草（生，各一兩）　大黃（炒，二兩）</p>
<p>上銼碎，每服三錢，水一盞，煎六分，去渣，不拘時溫服。</p>
<p><u>漏蘆湯　</u></p>
<p>治附骨疽。</p>
<p>漏蘆（去蘆）　升麻　連翹　麻黃（去根節，各一兩）　防己　木香　白蘞　沉香（各五錢）大黃（銼炒，一兩半）</p>
<p>上銼碎，每服五錢，水一盞半入竹葉七片，煎至七分，入芒硝一錢攪勻，去渣空心溫服，取利三二行，未利再服。</p>
<p><u>應痛丸　</u></p>
<p>治走注疼痛，疑是附骨疽者。</p>
<p>蒼朮（去皮）　當歸　黑牽牛　草烏頭（炮各一兩）</p>
<p>上為細末，醋糊為丸，如小豆大，每服三十丸，空心醋湯下。</p>
<p><u>赤朮丸　</u></p>
<p>治附骨疽，膿汁淋漓，久而不瘥，已破未破皆可用。</p>
<p>赤朮（一斤，泔浸去油用川椒蔥白煮令黑色，焙乾）　舶上茴香　破故紙（炒）　川楝子（銼炒）　茯苓　土茴香　川白芷　桃仁（去皮尖，炒，各一兩）</p>
<p>上為末，老人加黑附子，煉蜜丸梧桐子大，每服五十丸，溫酒或鹽湯吞下。</p>
<p><u>黑鯽膏　</u></p>
<p>治附骨疽，未破已破或膿出不盡者。</p>
<p>上用黑色鯽魚一個，去腸入白鹽令腹滿，用線縛定，用水一盞，銅石器中煮水盡乾焦為末。用豬油調敷，已破者乾摻，少痛勿怪。</p>

<h2>諸瘡論</h2>
<p>夫諸瘡者，謂諸般小瘡也。其名證不同，此皆心腎不交，飲食不節，腸胃停留宿滯，風毒與血氣相搏，凝滯於肌肉之間而發也。凡人體虛，感受風熱濕毒之氣，發為瘡瘍。癢痛焮腫，身熱多汗，是為惡瘡。若或生於手足間，相對如新茱萸，癢痛坼裂，搔破則黃水淋漓，有孔如瘑，久而生蟲，是為瘑瘡。或初生如飯粒，漸大而有根，頭破血流膿出，肉翻如花開之狀，是為翻花瘡。或初生甚小，先癢後痛，汁出浸淫，濕爛肌肉，延及遍身，名曰浸淫瘡。或生於兩耳鼻面，爛及下部諸竅，浸入筋絡，月中則瘡盛，月末則瘡衰，以其隨月而生，是為月蝕瘡。或毒氣攻於手足指，胬肉裹上指甲，疼痛出血。瘡中有蟲，是為甲蛆瘡。或指頭先腫，焮熱掣痛，然後於爪甲邊結膿，甚者爪甲俱脫，是為代指。有人稟性畏漆，見漆則中毒，面癢而腫，搔之成瘡，延及遍身，膿焮癢痛，是為漆瘡。盛暑之時腠理易開，風熱毒氣搏於皮膚，輕者狀如撒粟，重者熱汗浸漬，匝匝成瘡，是為痱瘡。或心神煩躁，遍身發瘡，赤爛如火，名曰熱瘡。或身觸風寒冷氣，以致血澀不行，其瘡頑滯不知痛癢，經久難療，名曰冷瘡。或身發瘡腫，非癰非疽，非癬非疥狀如惡瘡，或瘥或劇，名曰無名瘡。或頭生白團，斑剝如癬，上有白皮，久則成痂，遂致滿頭生瘡，中有孔有膿，細蟲入里，不痛微癢，少長不瘥，名曰禿瘡。若婦人玉門生瘡久不愈，因而浸淫，名曰陰蝕瘡。或冬月因寒，手足皸裂成瘡，名曰凍瘡。若刀斧所傷者，名曰金瘡。燙火所傷者，名曰火瘡也。以上諸瘡名目不同，其治之方各具於後，臨證之際宜詳審焉。</p>
<p><u>將軍鐵箍膏　</u></p>
<p>治諸惡毒瘡，紅腫突起，用藥箍瘡四圍，不令滋蔓走注毒氣。</p>
<p>南星　大黃　蒼耳根　鹽霜白梅（各一兩）　白芨　白蘞　防風　川烏（各半兩）　草烏　雄黃（各三錢）</p>
<p>上為細末，先以蒼耳根、霜梅搗爛，和余藥調成膏。如干，入醋調得所，於瘡四圍用藥作鐵箍塗上，只留瘡高突處。如藥干，以雞羽蘸水掃之，日換二三次，大妙。</p>
<p><u>葵花散　</u></p>
<p>治一切瘡。</p>
<p>葵花　鬱金　黃連　黃柏　梔子仁（各等分）</p>
<p>上為細末，冷水調成膏，貼瘡痛處，神效。</p>
<p><u>百合散　</u></p>
<p>治頤頦瘡，一名獨骨瘡。</p>
<p>百合　黃柏（各一兩）　白芨（一分）　蓖麻子（五十粒，研）</p>
<p>上為末，用朴硝水和，作餅貼之，日三五次。</p>
<p><u>胭脂散　</u></p>
<p>治翻花瘡。</p>
<p>胭脂　貝母　胡粉（各一分）　硼砂　沒藥（各半分）</p>
<p>上研細，先以溫漿水洗拭，後敷藥。</p>
<p><u>甘草塗敷方　</u></p>
<p>治翻花瘡。</p>
<p>甘草（半生半炒）　礬石灰　人中白　密陀僧（各半兩）</p>
<p>上為細末，以童子小便半盞，以無灰酒熬，用竹篦攪成膏，取塗瘡上，日五次。</p>
<p><u>香瓣瘡方　</u></p>
<p>治面上耳邊生浸淫瘡，有黃水出，久不愈。</p>
<p>羖羊須　荊芥　干棗（去核，各二錢）</p>
<p>上燒灰存性，研勻，入輕粉半錢，同研極細。每用少許，清油調搽，先以溫湯淨洗拭乾，塗藥二三次效。亦治大人小兒兩吻生瘡。</p>
<p><u>乳香膏　</u></p>
<p>治諸瘡痛，久不瘥。</p>
<p>乳香（一兩，另研）　食鹽　松脂　杏仁（去皮尖，研，各一兩半）　黃蠟（三兩）　生地黃（取汁，三合）　白羊腎臟脂（半斤）</p>
<p>上先熬脂令沸，下杏仁地黃汁蠟煎。候蠟溶盡，入香鹽松脂煎。以柳篦攪令勻，稀稠得所，瓷盒盛。敷瘡上，日三二度。</p>
<p><u>黃耆湯　</u></p>
<p>治諸瘡，退風熱。</p>
<p>黃耆（銼）　黃芩（去黑心）　麥門冬（去心，焙）　芍藥　甘草（炙銼，各一兩半）　生地黃（四兩）　半夏（薑製，半兩）　當歸（切焙）　大黃（銼，炒）　石膏（碎）　芎藭　人參（各一兩）</p>
<p>上銼如麻豆，每服五錢匕，用水一盞半，竹葉七片，煎至一盞，去渣，空心溫服，日晚再服。</p>
<p><u>附子散　</u></p>
<p>治冷瘡，日夜發歇疼痛。</p>
<p>附子（半兩，炮去皮臍）　川椒（去目）　雄黃（細研，各二錢半）　白礬（七錢半，枯）　膩粉（二錢，研）</p>
<p>上為細末研勻，每用清麻油調敷瘡上，日二換。</p>
<p><u>白蒺藜散　</u></p>
<p>治熱毒瘡瘙癢，心神壅躁。</p>
<p>白蒺藜（炒，去刺）　白蘚皮　防風（去蘆）　川大黃　赤芍藥　梔子仁　子芩　麥門冬（去心，焙）　玄參　桔梗（去蘆）　前胡（去蘆）　甘草（炙赤銼，各一兩）</p>
<p>上為細末，每服二錢，食後用薄荷湯調服。</p>
<p><u>密陀僧散　</u></p>
<p>治熱毒惡瘡臭爛，久不生肌。</p>
<p>密陀僧　雄黃　雌黃　定粉（各半兩）　輕粉（三錢）</p>
<p>上研為細末，先用柳枝一握，生甘草一兩捶碎，以漿二升，煎六七沸，去渣稍熱淋洗瘡</p>
<p>淨，拭乾敷之。</p>
<p><u>玉粉散　</u></p>
<p>治熱汗浸漬成瘡，腫癢焮痛。</p>
<p>定粉（一兩）　蛤粉（九兩半）　白石脂　白龍骨　石膏（各半兩）　滑石（八兩半）　寒水石（燒通赤，乾淨地上放冷出火毒一兩）　粟米粉（二兩）</p>
<p>上為細末研勻，每用些少，乾擦患處。</p>
<p><u>七寶散　</u></p>
<p>治熱汗浸漬成瘡，癢痛不止。</p>
<p>黃耆　當歸　防風　荊芥穗　地骨皮　木通（各二兩）　白礬（一兩）</p>
<p>上為粗末，每用藥一兩，水三大碗，煎五六沸，濾去渣。稍熱淋渫患處，拭乾避風少時。東垣老人云，此方城北獨柳店之客舍，有推江軸者，皮膚皴裂不任痛，兩手不能執轅，足不能履地而輒止宿，因制此藥與敷之，即效，明日遂行。自此屢用屢效。</p>
<p><u>赤石脂散　</u></p>
<p>治痱子磨破成瘡，用此止痛生肌。</p>
<p>赤石脂（細研）　黃柏（去粗皮，銼）　臘茶末（各半兩）　白麵（二兩）　龍腦（半錢，另研）</p>
<p>上為細末研勻，每用時綿搵撲之。</p>
<p><u>玉女英　</u></p>
<p>治痱瘡癢痛。</p>
<p>滑石（半兩，細研）　綠豆粉（四兩，微炒）</p>
<p><u>紫花地丁散　</u></p>
<p>紫花地丁　當歸　大黃　赤芍藥　金銀花　黃耆（各半兩）　甘草節（二錢）</p>
<p>上㕮咀，每服一兩，用水一盞，酒一盞，同煎至一大盞，去渣，隨病上下服。</p>
<p><u>萬寶代針膏　</u></p>
<p>治諸惡瘡，腫核赤暈，已成膿，不肯用針刺膿，此藥代之。但用小針點破瘡頭，卻貼上膏藥，膿即自潰。此秘妙良方。</p>
<p>硼砂　血竭　輕粉（各一錢半）　金頭蜈蚣（一條）　蟾酥（半錢）　雄黃（一錢）　片腦（少許）　麝香（一字）</p>
<p>上為細末，用蜜和為膏，看瘡有頭處用小針挑破，以藥些小在紙花上封貼，次早其膿自出。如腋下有耍核兒，名暗疔瘡，或有走核，可於腫處用針挑破，如前用之。忌雞羊魚酒面等物，吃白粥三日為妙。</p>
<p><u>神效方　</u></p>
<p>治一切惡瘡，醫所不識者。</p>
<p>水銀　黃柏　黃連　松脂（黃明者）　輕粉　甘草　土蜂巢（著壁上者，南方多有之，或云螉𧕪巢。各等分）</p>
<p>上將水銀放掌中，以唾津殺為泥，入瓷器中，以生麻油和研，生絹濾如稀餳，和藥末再研如稠餳。先溫水洗瘡，帛拭乾塗之。一切無名瘡，塗一次即瘥；有黃水者，塗之隨手便乾；癢不堪忍者，塗之立止；痛甚者，塗之立定；治疥尤佳，抓破敷藥。</p>
<p><u>拔毒散　</u></p>
<p>治諸惡瘡，消腫去毒。</p>
<p>天花粉　無名異　黃柏　黃芩　木鱉子　大黃　牡蠣（各等分）</p>
<p>上為細末，好醋調敷，貼立效。</p>
<p><u>治蛇頭瘡　</u></p>
<p>其形生時在手足上，瘡旁一塊開如蛇口之狀，痛而流血不止者，此藥治之。</p>
<p>雄黃　蜈蚣　全蠍（各一錢）</p>
<p>上為細末，看瘡濕劈開入藥，擦在瘡上，卻以小油抹，裁帛拴住。如干，小油調搽。</p>
<p><u>水銀膏　</u></p>
<p>治月蝕瘡，多在兩耳上及竅旁，隨月虛盈。</p>
<p>水銀（二錢半）　胡粉（研）　松脂　黃連（去須為末，各半兩）　豬脂（四兩）</p>
<p>上先熬豬脂令沸，下松脂諸藥末及水銀攪令勻，瓷盒盛。先以鹽湯洗淨瘡，塗敷，日三五度。</p>
<p><u>胡粉散　</u></p>
<p>治月蝕瘡。</p>
<p>胡粉（炒微黃）　白礬（煅）　黃丹（煅）　黃連（淨）　輕粉（各二錢）　胭脂（一錢）　麝香（少許）</p>
<p>上末先以溫漿水入鹽，洗拭後摻藥。如瘡干，麻油調敷。</p>
<p><u>綠礬散　</u></p>
<p>治甲疽瘡。</p>
<p>綠礬（半兩，燒）　蘆薈（一錢半）　麝香（一字）</p>
<p>上研如粉，以絹袋盛藥，納所患指於袋中，線扎定，瘥為度。</p>
<p><u>麝香散　</u></p>
<p>治妒精瘡。</p>
<p>青黛干　款冬花（等分）　麝香（少許）</p>
<p>上末先以地骨皮桑白皮煎湯溫洗，軟帛拭乾，次以津唾調藥敷。</p>
<p><u>漆瘡方　</u></p>
<p>生蟹取黃，量瘡大小遍敷之。</p>
<p><u>乳香蠟油膏　</u></p>
<p>治蝸瘡久不瘥。</p>
<p>杏仁（水浸，去皮尖，研）　乳香（各三錢）　硫黃　輕粉（各一錢半）　蠟（半兩）　麻油（一合）</p>
<p>上研極細，先熬油沸，入黃蠟熔盡。次入諸藥，煎攪成膏，冷地出火毒，瓷器盛。每用少許塗瘡上。</p>
<p><u>苦楝散　</u></p>
<p>治浸淫瘡。</p>
<p>苦楝根（曬乾，燒存性）</p>
<p>上為末。豬脂調敷，濕則乾摻。先用苦參、大腹皮煎湯洗。</p>
<p><u>烏梅醋法　</u></p>
<p>治代指，手指甲頭腫。</p>
<p>烏梅仁（捶去殼肉，只取仁）</p>
<p>上研細，米醋調稀，入指浸之自愈。</p>
<p><u>豆坯散　</u></p>
<p>治陰蝕瘡。</p>
<p>綠豆粉　蛤蟆灰（各二錢半）　胭脂（一錢二分）</p>
<p>上為細末乾摻。</p>
<p><u>陰瘡膏　</u></p>
<p>治男女陰瘡。</p>
<p>米粉（一酒杯許）　芍藥　黃芩　牡蠣　附子　白芷（各一兩）</p>
<p>上㕮咀，以不用水豬脂一斤，微火上煎三上三下，候白芷黃膏成，濾去渣，入米粉和，敷瘡上。</p>
<p><u>沐浴長春散　</u></p>
<p>治男子下元陰濕久冷，陰囊左右夜癢，抓之則喜，住之則痛，成瘡流水，為害甚苦，此藥見效。及治婦人下部陰濕，胎元久冷。</p>
<p>牡蠣　蛇床子　破故紙　紫梢花　官桂　乾荷葉（各等分）</p>
<p>上㕮咀，每用一兩半，水一小鍋，入蔥白數莖，煎至八分，去渣，先熏後洗，卻用後藥。</p>
<p><u>津調散　</u></p>
<p>治妒精瘡，膿汁淋漓臭爛。</p>
<p>黃連　款冬花（各等分）　麝香（少許，一方不用）</p>
<p>上為細末，先以地骨皮、蛇床子煎湯洗，軟帛拭乾，津調敷之。忌生湯洗。</p>
<p><u>清涼膏　</u></p>
<p>治湯潑火燒。此藥止痛解毒，潤肌生肉。</p>
<p>梔子仁　黃連（去須）　白芷（各一分）　生地黃（二兩）　蔥白（十莖，擘）　黃蠟（半兩）　清麻油（四兩）</p>
<p>上細銼，於油鐺中煎地黃焦黑色，綿濾去渣澄清。卻入鐺內入蠟慢火熬，候蠟消傾入瓷盒內。用時以雞羽搵少許塗瘡上，以瘥為度。</p>
<p><u>黃柏散　</u></p>
<p>治燙火傷。</p>
<p>黃柏　大黃　朴硝　雞子殼　寒水石（各等分）</p>
<p>上為細末，用水調塗，極效。</p>
<p><u>蛤粉散　</u></p>
<p>治燙火傷。</p>
<p>上以蛤蜊殼不拘多少，炙焦黃色，搗為細末。用生油調如膏，敷之。如水仍無痕。一方以蜜水調敷之，疼立止，不膿不痂。吳內翰居鄉中，鄰家釜翻，一小兒自頭至踵皆傷，急以敷之，啼立止，遂無恙。唯才傷隨手用即效，少緩即不及。當預先合以備用耳。</p>
<p><u>雞黃油　</u></p>
<p>治燙火傷。</p>
<p>上用雞子煮熟，去白用黃，於銀石鍋內炒乾，再炒直待都化作油，去火毒，毛翎掃下，入韶粉夜明沙為末。香油調敷，濕則乾摻之。</p>
<p><u>貝母膏　</u></p>
<p>治頭禿瘡。</p>
<p>貝母　半夏（生）　南星　五倍子　白芷　黃柏　苦參（各二錢半）　黃丹（煅，一錢半）　雄黃（一錢）</p>
<p>上為細末，先以蜂房、白芷、苦參、大腹皮、荊芥煎湯，熏洗拭乾。即用蜜水調敷，兩</p>
<p>三次後乾摻藥。</p>
<p><u>螵蛸散　</u></p>
<p>治頭上生瘡，俗曰黏瘡，絕妙方。</p>
<p>海螵蛸（二錢）　白膠香　輕粉（各半錢）</p>
<p>上為細末研勻，先用清油潤瘡後，摻藥，只一上可。</p>
<p><u>雉腦膏　</u></p>
<p>治諸凍瘡久不瘥，年年發歇，先癢後痛，然後腫破出黃水，及出血不止。</p>
<p>雄雉腦（一枚，搗爛）　黃蠟（各等分）　清油（減半）</p>
<p>上同於慢火上熬成膏，去渣瓷器盛。用每塗瘡上。</p>
<p><u>白礬散　</u></p>
<p>治男子婦人血風毒，氣攻手足，指生甲疽，瘡久不瘥者，胬肉裹指甲，疼痛出血不定，用此縮肉乾瘡。</p>
<p>白礬　膽礬（各半兩）　麝香　麒麟竭　硃紅（各二錢半）</p>
<p>上將白礬膽礬，於鐵器內以炭火煅過。入後三味，同研令細。每用少許，乾摻瘡上，以帛子纏定，日兩三度換之。</p>
<p><u>黃蠟膏　</u></p>
<p>治冬月手足拆裂。</p>
<p>上用清油半兩，盞內慢火煎沸，入黃蠟一塊同煎溶，入光粉、五倍子末少許，熬令稠紫色為度。先以熱湯洗，火上烘乾，即用藥敷，以紙貼之，其痛立止，入水亦不落。若合藥入粉多，則硬而成塊，旋以火炙動挑敷不妨。一方無五倍子。</p>
<p><u>蘆薈散　</u></p>
<p>治口舌生瘡。</p>
<p>蘆薈　青蒿（研）　蟾酥　羊蹄花（各半兩）　白礬（煅研）　麝香（研）　牛黃（研，各半分）干蝸牛（研，三枚）　瓜蒂（二十枚）　丁香　細辛（去苗）　丹砂（研，各二錢半）　馬牙硝（研，三分）　熊膽（研，一錢）</p>
<p>上為細末研勻，先以頭髮裹指於溫水內蘸揩之，軟帛挹卻膿水，取少許藥末摻瘡上。或輕可即去蟾酥、蘆薈，看病大小，以意加減用之。</p>
<p><u>玄參散　</u></p>
<p>治口舌生瘡，連齒斷爛痛。</p>
<p>玄參　升麻　獨活　麥門冬（去心）　黃芩　黃柏　大黃（炒）　梔子仁　前胡　犀角屑　甘草（炙，各三分）</p>
<p>上為細末，每服五錢，水一盞，煎五分，不拘時溫服。</p>
<p><u>硼砂丸　</u></p>
<p>治口臭口乾，口舌瘡。</p>
<p>硼砂（二兩）　片腦　麝香（各一錢）　馬牙硝（風化，四兩）　寒水石（煅，十兩）</p>
<p>上為細末，用甘草膏和丸，如麻子大，不拘時含一丸，咽津。</p>
<p><u>甘露飲　</u></p>
<p>治口舌生瘡，牙宣心熱。</p>
<p>枇杷葉（刷去毛）　石斛　黃芩　麥門冬（去心）　生地黃　甘草（炙，各等分）</p>
<p>上㕮咀，每服五錢，水二盞，煎八分去渣，不拘時溫服。</p>
<p><u>升麻飲　</u></p>
<p>治口內生瘡，齒斷肉爛。</p>
<p>升麻　玄參　黃連　羚羊角（鎊）　黃芩　葛根　大黃　麥門冬（去心）　羌活　防風　干菊花（各半兩）　人參　知母　甘草（炙，各一分）</p>
<p>上㕮咀，每服三錢，水一盞，煎至七分，去渣，食後溫服。一方無人參，有牛蒡子。</p>
<p><u>黃連散　</u></p>
<p>治口瘡，絕妙。</p>
<p>黃連　朴硝　白礬（各半兩）　薄荷（一兩）</p>
<p>上為粗末，用臘月黃牛膽，將藥入膽內，風頭掛兩月取下。如有口瘡，旋將藥研細入於口瘡上，去其熱涎即愈。</p>
<p><u>黃柏散　</u></p>
<p>治繭唇。</p>
<p>黃柏（一兩）　五倍子（二錢）　密陀僧　甘草（各少許）</p>
<p>上除黃柏外，余藥同為細末，水調勻敷於黃柏上，火炙三五次，將黃柏切成薄片，臨睡貼之，天明即愈。</p>
<p><u>絳雪丹　</u></p>
<p>治咽喉腫痛，咽物困難及口舌生瘡。</p>
<p>片腦（半字）　硼砂（二錢）　辰砂（三錢）　朴硝　寒水石（各二錢）</p>
<p>上為細末研勻，每用一字摻於舌上，津咽之。</p>
<p><u>治喉內生癰方　</u></p>
<p>五倍子　白殭蠶　甘草（各等分）</p>
<p>上為細末，用白梅肉和丸，含化，其癰自破。</p>

<h2>疥癬論</h2>
<p>夫疥癬者，皆由脾經濕熱及肺氣風毒，客於肌膚所故也。風毒之浮淺者為疥，風毒之深沉者為癬，盡癬則發於肺之風毒，而疥則兼乎脾之濕熱而成也。久而不愈，延及遍身，浸淫潰爛，或癢或痛，其狀不一，二者皆有細蟲而能傳染人也。疥有五種，一曰大疥，焮赤癢痛，作瘡有膿。二曰馬疥，隱起帶根，搔不知痛。三曰水疥，㾦癗含漿，摘破出水。四曰乾疥，癢而搔之，皮起干痂，五曰濕疥，薄皮小瘡，常常淫汁是也。癬之狀起於肌膚，癮疹或園或斜，或如莓苔走散，內藏汁而外有筐，其名亦有六焉。一曰乾癬，搔則出白屑，索然凋枯。二曰濕癬，搔則多汁，浸淫如蟲行。三曰風癬，搔則痹頑，不知痛癢。四曰牛癬，其狀如牛領之皮，厚而且堅。五曰狗癬，則時作微癢，白點相連。六曰刀癬，則輪廓全無，縱橫不定是也。治法，當以殺蟲滲濕消毒之藥敷之，內則服和脾清肺、除風散濕之劑，庶絕其根矣。又有面上風癬，初起㾦癗或漸成細瘡，時作痛癢，發於春月名吹花癬，女人多生之。此皆肺經蘊積風熱，陽氣上升發於面部，或在眉目之間，久而不愈恐成風疾。治法當清心火，散肺經之風熱，然後以消毒散熱之藥敷之，則自愈矣。</p>
<p><u>升麻和氣飲　</u></p>
<p>治瘡腫癤疥癢痛。</p>
<p>升麻　桔梗　蒼朮　乾葛　甘草　大黃（煨各一錢）　陳皮（二錢）　當歸　半夏　茯苓　白芷　乾薑　枳殼（各五分）　芍藥（一錢半）</p>
<p>上作一服，水二盅煎至一盅，食遠服。</p>
<p><u>當歸飲子　</u></p>
<p>治瘡疥風癬，濕毒燥癢。</p>
<p>當歸　川芎　白芍藥　生地黃　防風　白蒺藜　荊芥（各一錢半）　何首烏　黃耆　甘草（各一錢）</p>
<p>上作一服，水二盅煎至一盅，食遠服。或為末亦可。</p>
<p><u>羌活散　</u></p>
<p>治頑癬疥癩，風瘡成片，流黃水，久不瘥者。</p>
<p>羌活　獨活　明礬　白蘚皮　硫黃　狼毒（各一兩）　輕粉（二錢半）　白附子　黃丹　蛇床子（各半兩）</p>
<p>上為細末，油調成膏，搽之。</p>
<p><u>烏蛇丸　</u></p>
<p>治一切風癬，多年不瘥者。</p>
<p>烏蛇（酒浸，去骨）　白附子（炮）　附子（小便浸一宿）　天麻（各二兩）　全蠍（炒）　羌活乳香　殭蠶（炒，各一兩半）　苦參（十兩）　槐花（半斤）</p>
<p>上為細末，用生薑汁一斤，蜜一斤，二味同熬成膏，入藥和丸，如梧桐子大。每服三四十丸，空心用溫酒送下，夜晚荊芥湯送下。</p>
<p><u>除濕散　</u></p>
<p>大治一切風毒，疥癬癩癢，狀如風癩。</p>
<p>苦參　何首烏　荊芥穗　蔓荊子　薄荷（各一兩）　白芷　天麻　川芎　防風（並生用）　烏蛇（酒浸一宿，焙乾，各半兩）</p>
<p>上為細末，每服三錢，茶酒調下無時，日進三服，六日一浴，令汗出血氣宣通，一月膚澤如故。</p>
<p><u>苦參丸　</u></p>
<p>治遍身瘙癢，癬疥瘡瘍。</p>
<p>苦參（四兩）　玄參　黃連（去須）　大黃（銼碎，炒香）　獨活（去蘆）　枳殼（去穰，炒）　防風（去叉各二兩）　黃芩（去黑心）　梔子　菊花（各一兩）</p>
<p>上為細末，煉蜜為丸，搗千餘下，丸如梧桐子大。每服三十丸，食後漿水下，日進三服，茶酒任下亦得。</p>
<p><u>疥藥神效散　</u></p>
<p>治乾溼膿窠，諸種疥癬等證有效。</p>
<p>檳榔　蛇床子（各一兩）　全蠍（半兩）　倭硫黃（一兩半）</p>
<p>上化開硫黃，入荊芥末三錢，滾數沸候冷。加輕粉二錢，冷再研末，加三柰半兩妙。上為細末，先將小油滾過候冷，調上藥擦瘡上。仍以兩手搓藥，聞藥氣神效。</p>
<p><u>一笑散　</u></p>
<p>治渾身疥癩，瘙癢生惡瘡。</p>
<p>檳榔　藁本　硫黃　蛇床子　枯礬　五倍子　白膠香（各等分）</p>
<p>上為細末，濕者干敷，乾者香油調敷。如頭上瘡，便搽上，不用剃，甚者不過三五次，平復如故。</p>
<p><u>熏疥方　</u></p>
<p>明信　雄黃（各半錢）　椒末（一錢）</p>
<p>上研細，用紙以方尺熟艾攤平，摻勻捲成長錠，瓦兩口合紙卷子，火點慢慢煙燻被下，緊擁衾被，油塗眼耳口鼻，小兒只空衣蓋被臥亦效。宜淨室溫床，牢擁衾被，無令透煙，以熏至其人口鼻為妙。</p>
<p><u>胡粉散　</u></p>
<p>治一切癬瘡，瘙癢甚者。</p>
<p>鉛粉（另研）　雄黃（另研）　硫黃（另研，各一錢半）　大草烏（三錢，生用）　斑蝥（一錢）砒（五分）　蠍稍（三錢）　麝香（三分）</p>
<p>上為細末，先用羊蹄根蘸醋擦動，次用藥少許擦患處。</p>
<p><u>銀粉散　</u></p>
<p>治一切頑癬。</p>
<p>輕粉　黃丹　瀝青　白膠香（各等分）</p>
<p>上為細末，麻油調。拭淨或抓破，竹篦挑搽，二次便乾，數次剝去殼也。治牛皮癬如神。</p>
<p><u>八寶散　</u></p>
<p>治風癩松皮頑癬，久不瘥者，神效。予一鄉人患此疾，數年不愈，後忽有舊親傳此方，試用有效。</p>
<p>藿香　破故紙　檳榔　大腹皮　雄黃　輕粉　硫黃　白礬（枯，各一兩）</p>
<p>上為細末，小油調擦，日上三五次，癢則擦之。</p>
<p><u>治疥神效方　</u></p>
<p>狼毒　細辛　水銀（各一錢）　輕粉（半錢）</p>
<p>上為細末，油蠟和劑作兩丸，綿裹兩手，將於周身疥多處擦之。</p>
<p><u>五倍子散　</u></p>
<p>治癬久不瘥。</p>
<p>五倍子（一兩，火燒令煙盡）　黃柏（銼）　當歸（銼炒）　膩粉　漏蘆　白礬（煅，各一分）</p>
<p>上為細末，先用鹽漿洗拭，干敷之。</p>
<p><u>香疥藥　</u></p>
<p>治風癬瘡，黃水瘡，疥瘡，牛皮癬瘡。</p>
<p>輕粉（三錢）　大楓子（四十九個）　水銀（三錢）　樟腦（三錢）　川椒（四十九粒）　桕油燭（一對）　杏仁（少許）</p>
<p>上為細末，疥用絹包裹瘡上熨，黃水瘡摻上此藥，功效如神。</p>
<p><u>治濕癬方　</u></p>
<p>黃連　明礬（煅，各半兩）　胡粉　黃丹　水銀（各二錢）</p>
<p>上為細末，用豬脂油一兩夾研，令水銀星盡散，瓷盒收用。</p>
<p><u>一抹散　</u></p>
<p>治乾癬不瘥。</p>
<p>天南星　草烏頭（各一枚，生用）</p>
<p>上為細末，用羊蹄根搗絞取汁，調塗，不過三上瘥。</p>
<p><u>白附子散　</u></p>
<p>治面上熱瘡似癬，或生赤黑斑點。</p>
<p>白附子　密陀僧　茯苓　白芷　定粉（各等分）</p>
<p>上為末，先用蘿蔔煎湯洗面淨，後用羊乳調，至夜敷患處，次早洗去，效。</p>
<p><u>一掃散　</u></p>
<p>治一切瘡疥，但相對而生者便是，不問乾溼癢痛，日近年深，用之立效。</p>
<p>藜蘆皮（二兩）　真輕粉（十帖）　好蚌粉（一兩）　通明雄黃（五錢）　水粉（一兩）</p>
<p>上為末，用大鯽魚一個，入香油煎，候熟去魚，攤冷調藥搽瘡。未效，可加信石末少許，研杏仁十粒，近陰處勿用。</p>
<p><u>祛風白芷散　</u></p>
<p>治面上風癬瘡。</p>
<p>白芷（三錢）　茯苓（一錢五分）　黃丹（二錢）　黃連（二錢）　輕粉（一錢）　黃柏（二錢）</p>
<p>上為細末，用油調，搽癬瘡上。或加孩兒茶二錢，麝香二分亦可。</p>

<h2>癭瘤論</h2>
<p>夫癭瘤者，皆因氣血凝滯，結而成之。癭則憂恚所生，多著於肩項，皮寬不急，捶捶而垂是也。瘤則隨氣留住，初作梅李之狀，皮嫩而光，漸如杯卵是也。癭有五種，其肉色不變者，謂之肉癭；其筋脈現露者，謂之筋癭；赤脈交絡者，名血癭；若隨憂惱而消長者，名氣癭；若堅硬而不可移者，名石癭。瘤亦有六種，一曰骨瘤，二曰脂瘤，三曰肉瘤，四曰膿瘤，五曰血瘤，六曰石瘤。癭瘤二者雖無痛癢，最不可決破，恐膿血崩潰，滲漏無已，必致殺人。其間肉瘤不可攻療。若夫脂瘤氣癭之類，則當用海藻、昆布軟堅之藥治之，如東垣散腫潰堅湯，亦可多服，庶得消散矣。</p>
<p><u>海藻丸　</u></p>
<p>治癭瘤通用。</p>
<p>海藻（洗曬）　川芎　當歸　官桂　白芷　細辛　藿香　白蘞　昆布（洗曬）　明礬（煅各一兩）　松蘿（淨七錢半）　海蛤（煅，七錢半）</p>
<p>上為細末，煉蜜和丸，如彈子大。每服一丸，食後含嚥下。</p>
<p><u>守癭丸　</u></p>
<p>治癭瘤結硬。</p>
<p>通草（二兩）　杏仁（去皮尖，研）　牛蒡子（各一合）　昆布（洗）　射干　訶藜勒　海藻（洗，各四兩）</p>
<p>上為細末，煉蜜和丸，如彈子大。每服一丸，噙化，日三服。</p>
<p><u>木通散　</u></p>
<p>治項下卒生結囊欲成癭。</p>
<p>木通　松蘿　桂心　蛤蚧（酥炙）　白蘞　琥珀　海藻（洗）　昆布（洗，各一兩）</p>
<p>上為細末，每服二錢，不拘時溫酒調下。</p>
<p><u>五癭丸　</u></p>
<p>菖蒲（二兩）　海蛤　白蘞　續斷　海藻　松蘿　桂心　倒掛草　蜀椒　半夏（各一兩）　神麯（三兩）　羊靨（百枚）</p>
<p>上為細末，以牛羊豬髓為丸，如芡實大。每服一丸，食後及臨臥噙化服。</p>
<p><u>白頭翁丸　</u></p>
<p>治氣癭氣瘤。</p>
<p>白頭翁（半兩）　昆布（十分，洗）　通草　海藻（洗，各七分）　連翹　玄參（各八分）　桂心（三分）　白蘞（六分）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。每服五丸，用酒送下。忌蒜面生蔥豬魚。</p>
<p><u>南星膏　</u></p>
<p>治皮膚頭面上瘡瘤，大者如拳，小者如慄，或軟或硬，不癢不痛。</p>
<p>上用大南星一枚，細研稠黏，用醋五七滴為膏。如無生者，用乾者為末，醋為膏。先將小針刺患處，令氣透，卻以藥膏攤紙上，象癭大小貼之。</p>
<p><u>系瘤法　</u></p>
<p>兼去鼠奶痔，真奇藥也。</p>
<p>芫花根淨洗帶濕，不得犯鐵器，於木石器中搗取汁。用線一條浸半日或一宿，以線系瘤，經宿即落。如未落，再換線，不過兩次自落。後以龍骨訶子末敷，瘡口即合。系鼠奶痔依上法，屢用之效。如無根，只用花泡濃水浸線。</p>
<p><u>昆布散　</u></p>
<p>治癭氣結腫，胸膈不利宜服。</p>
<p>昆布（洗）　海藻（洗）　松蘿　半夏（湯泡）　細辛　海蛤（細研）　白蘞　甘草（炙，各一兩）　龍膽草　土瓜根　檳榔（各二兩）</p>
<p>上為細末，每服二錢，食後溫酒調下。</p>
<p><u>治小瘤方　</u></p>
<p>先用甘草煎膏，筆蘸妝瘤傍四圍，干而復妝，凡三次，後以</p>
<p>大戟　芫花　甘遂</p>
<p>上等分為細末，米醋調，別筆妝敷其中，不得近著甘草處。次日縮小，又以甘草膏妝小暈三次，中間仍用大戟芫花甘遂如前，自然焦縮。</p>
<p><u>散腫潰堅湯　</u></p>
<p>（方見前）</p>
<p>治癭瘤結核通用。</p>

<h2>臁瘡論</h2>
<p>夫臁瘡者，皆由腎臟虛寒，風邪毒氣外攻三里之旁，灌於陰交之側，風熱毒氣流注兩腳，生瘡腫爛，疼痛臭穢，步履艱難。此瘡生於臁骨為重，以其骨上肉少皮薄，故難愈。至有多年無巳，瘡口開闊，皮爛肉現，臭穢可畏。治法，當先取蟲，然後敷藥如隔紙膏、麝香輕粉散之類皆可，仍宜內服黃耆丸及神仙蠟礬丸之類。須翹足端坐，勿多行履，庶可痊愈矣。</p>
<p><u>隔紙膏　</u></p>
<p>治內外臁瘡。</p>
<p>當歸　白芷　黃連　五倍子　雄黃　沒藥　血竭　海螵蛸　白芨　白蘞　黃柏　厚朴（以上各半兩）　黃丹（六錢）　乳香（二錢半，研）　輕粉（一錢）</p>
<p>上為細末研勻，用清油調成膏。用油紙貼藥，敷瘡上，絹帛縛定，有膿水解開，刮去不潔，再貼藥，如此數次即愈。須先用燒鹽湯洗淨，片帛拭乾，待片時水氣干，然後貼藥。</p>
<p><u>治臁瘡久不愈　</u></p>
<p>龍骨（二錢半）　輕粉（少許）　檳榔（半兩）　乳香　沒藥（各一錢）　干豬糞（半兩，燒存性）</p>
<p>上為細末，先以燒鹽湯洗瘡，以軟絹帛拭乾，清油調敷，瘡濕則摻之。</p>
<p><u>治臁瘡下注　</u></p>
<p>白石脂　龍骨（各半兩）　白礬（一兩，枯）　五倍子（二兩，燒存性）　黃丹（三錢，飛）　雄黃（少許）</p>
<p>上為細末，先將蔥鹽湯洗瘡見赤肉，然後將前藥敷瘡上，用藥如法。厚者卻用帛子包縛著不要動，直候乾自脫去瘡皮。</p>
<p><u>治臁瘡方　</u></p>
<p>白芨　白蘞　黃柏　黃丹（另研，各等分）</p>
<p>上為極細末，入輕粉些少研勻。以煉蜜和成劑，捏作餅貼瘡上，深者填滿，以帛片包紮，一日一換。後來瘡漸干或有裂處，只須摻，以瘥為度。</p>
<p><u>翠玉膏　</u></p>
<p>治臁瘡。</p>
<p>瀝青（一兩）　銅綠（研）　黃蠟（各二錢）　乳香（研）　沒藥（研，各三錢）</p>
<p>上將銅綠以油調勻，將瀝蠟火上熔開，下綠攪勻，次入乳沒末，仍攪勻，傾在河水盆內拌勻，以油紙裹，口嚼。旋捏作餅子貼瘡，以緋絹包，直候瘡好，其藥自脫。</p>
<p><u>治臁瘡方　</u></p>
<p>冬青葉　臘豬膽　百草霜（二味，和勻）</p>
<p>上將冬青葉與本人嚼爛，先以蔥椒湯洗淨瘡口，以膽霜敷後卻敷嚼藥在上，三四次即可。</p>
<p><u>奇妙梔子散　</u></p>
<p>治遠年日久內外臁瘡。</p>
<p>山梔子（不拘多少，燒作灰，研為細末）　乳香（另研，各半錢）　輕粉（少許）</p>
<p>上研勻，以瓷器盛。每用時先以蔥白花椒煎湯洗淨瘡，稍歇再以溫漿水又洗一次，候惡水去盡，再將白朮煎百沸，候溫再洗。但瘡口無膿水血絲，清水各盡，又用粉帛片拭乾，然後敷藥。如干者香油調敷，濕者乾摻，但將瘡口實滿，軟絹帛護之。堅硬不作膿者，未可用；腫如軟有膿者；依前法再洗，後敷貼之，三二次即愈。乃一藥二洗之功也。</p>
<p><u>粉麝散　</u></p>
<p>治外臁瘡臭爛，數十年不愈者。</p>
<p>生龜一個（烏者打死去肉取殼，酸醋一碗炙醋盡為度，仍煅令白煙盡存性，用碗蓋地上出火毒）</p>
<p>上為末，入輕粉麝香拌勻，臨用先以蔥水洗，干方用藥。</p>
<p><u>秘傳隔紙膏　</u></p>
<p>治年月深久，臁瘡不愈者。</p>
<p>老松香　樟腦　黃丹（炒）　水龍骨（即舊船石灰）　輕粉</p>
<p>不愈加白芷　川芎　海螵蛸總為細末。熔化松香加少清油和之，以油紙隨瘡大小糊袋盛藥夾之。用水洗淨，其藥縛在瘡口上，二日至四日一換。若單用白芷川芎螵蛸三味，煎湯洗之立效。</p>

<h2>便毒論</h2>
<p>夫便毒者，生於小腹下，兩腿合縫之間，其毒初發，寒熱交作，腿間腫起疼痛是也。夫腎為作強之官，所藏者精與志也。男女大欲不能以直遂其志，故敗精搏血，留聚中途而結為便毒矣。夫人腳腿與小腹合逢之間，精氣所出之道路也。或觸景而動心，或夢寐而不泄，既不得偶合陰陽，又不能忘情息念，故精與血交滯而成腫結也。初起，慎不可用寒涼之藥，恐氣血愈結，不得宣散，反成大患。惟當發散寒氣，清利熱毒，使精血宣暢則自然愈矣。</p>
<p><u>退毒散　</u></p>
<p>治便毒腫結。</p>
<p>穿山甲（半兩，蘸法醋炙焦）　木豬苓（三錢，法醋微炙焦）</p>
<p>上為末，每服二錢，食前老酒調下。次以法醋煮肥皂研膏，敷之妙。</p>
<p><u>雙解散　</u></p>
<p>治便毒內蘊熱氣，外挾寒邪，精血交滯，腫結疼痛。</p>
<p>辣桂　川大黃　白芍藥　澤瀉　牽牛（炒取末）　桃仁（去皮炒，各四分）　甘草（半分）</p>
<p>上銼散，每服三錢，水一盞半、生薑五片煎，食前日二服。先小便快，熱從小便出，後大便利皆是稠毒。</p>
<p><u>復元通氣散　</u></p>
<p>便毒初發用此。</p>
<p>穿山甲（酒浸，炙焦，一兩）　天花粉（酒浸一宿，焙）　白芷　當歸　甘草　舶上茴香（炒）　白牽牛（炒）　延胡索（擦去皮）　南木香（各一兩）　青木香（半兩）</p>
<p>上為末，每服二錢，溫酒調食前服。不飲酒，南木香煎湯服。</p>
<p><u>敷藥方　</u></p>
<p>治便毒腫痛。</p>
<p>雄黃　乳香（各二兩）　黃柏（一兩）</p>
<p>上為細末，用新汲水調敷，腫處自消。</p>
<p><u>栝蔞散　</u></p>
<p>治便癰等惡瘡。</p>
<p>栝蔞（一個，去皮）　金銀花　牛蒡子（炒，各三錢）　生薑　甘草（各半兩）</p>
<p>上將藥不犯銅鐵器捶碎，用酒一大升煎數沸，空心溫服，微利為度。</p>
<p><u>三物湯　</u></p>
<p>治便癰。</p>
<p>牡蠣　大黃　山梔子（各等分）</p>
<p>上為末，酒水一大盞，煎七分，露一宿，空心溫服。</p>
<p><u>治外腎癰瘡　</u></p>
<p>抱雞卵殼　鷹爪黃連　輕粉（各等分）</p>
<p>上為細末，用煎過清油調塗。</p>
<p><u>連翹湯　</u></p>
<p>治便毒腫結。</p>
<p>連翹　獨活　川升麻　射干　木通　桑寄生　赤茯苓　甘草（炙，各錢半）　大黃（生用）木香　浮香　沉香（各半兩）</p>
<p>上銼細，每服三錢，慢火煎服。</p>
<p><u>四神散　</u></p>
<p>治便毒初發，起寒熱，欲成癰疽者，服此神效。</p>
<p>大黃　木鱉子　殭蠶　貝母（各二錢半）</p>
<p>上四味各㕮咀，用酒一盅，水一盅，煎至一盅。食前熱服，若得汗下為妙。</p>
