<header data-type="book">
<h1>褚氏遺書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>褚澄</dd></div>
<div><dt>朝代</dt><dd>南朝·齊</dd></div>
<div><dt>年份</dt><dd><data value="0479/0502">公元479年至公元502年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·褚氏遺書》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0011/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>黃巢造變，從亂群盜，發人塚墓，掘取金寶。遇大穴焉，方丈餘，中環石，十有八片，形制如槨，其蓋六石，題曰：「有齊褚澄所歸。」啟蓋棺，骨已蛇蟻，所穴環石內向，文字曉然。盜疑兵書，移置穴外，視之棄去。先人遇見，讀徹。囑鄰慎護。明年具舟載歸，欲送官以廣其傳，遭時兵革不息，先人亦不幸。遺命異物終當化去，神書理難久藏，其以褚石為吾棺槨之實隱，則骸骨全，褚石或興吾名，亦顯淵。募能者調墨，治刻百本散之。余遵遺戒。先人諱廣，字叔常。</p>
<p><u>清泰二年五月十九日古揚蕭淵序</u></p>

<h1>序</h1>
<p>靖康初，金人犯順，群盜乘間，在處有之。去揚城北三十五里陳源橋，有蕭家世居其間，蓋貧不能自振矣，守一塚甚勤，曰：「吾十二世祖葬父於此，吾家塚凡數百世，世惟守此耳。」盜疑其起家者，富而厚葬。日夕窺之二家，因語人曰：「吾十二世祖葬其父明經廣叔常，用石刻秘經為槨，從治遺命也，已而不忍其柩有將發之兆，遂敕子孫世守之耳。」窺者仍故二家，因會鄉人啟視之，漆棺如新刻，石十有九片。其一蓋蕭淵序也，乃移柩葬居側，而舉石於門外。有告蕭得埋寶者，遂納石於今。予持缽將為南獄之遊，過蕭門結葬緣，適見其事，謾錄諸策，以埃能者。</p>
<p><u>二年結制前五日，衛國釋義堪書。</u></p>

<h1>序</h1>
<p>齊褚澄彥通遺書一秩，才二千六百二十言，發揮人身中造化之秘，明白要約，殆無餘蘊。蓋沉酣於《內經》、《素問》、《靈樞》之旨者也，其司馬季主、扁鵲、倉公之流乎。彥通在當時，連姻宗室，貴富鮮儷，而能造詣如此，則超出塵表之姿，又可想見之也。方虛谷選詩，謂孫思邈《千金方》三十六卷。每卷藏一仟方，在人自求之耳。予觀此書，亦寓思邈之意淵乎微哉，敘其出處，顯晦甚詳，奚俟予之置啄邪，但若臨席啖臠，使人自不忍下咽，遂僭引數語於篇首，亦珍愛之癖云。</p>
<p><u>正德丙寅清明日舒城秦民悅邦約書。</u></p>

<h1>受形</h1>
<p>男女之合，二情交暢，陰血先至，陽精後沖，血開裹精，精人為骨，而男形成矣；陽精先人，陰血後參，精開裹血，血入居本，而女形成矣。陽氣聚面，故男子面重，溺死者必伏；陰氣聚背，故女子背重，溺死者必仰。走獸溺死者，伏仰皆然，陰陽均至，非男非女之身，精血散分駢胎、品胎之兆，父少母老，產女必羸；母壯父衰，生男必弱。古之良工，首察乎此，補羸女先養血壯脾；補弱男則壯脾節色；羸女宜及時而嫁，弱男宜待壯而婚，此疾外所務之本，不可不察也。</p>

<h1>本氣</h1>
<p>天地之氣，周於一年，人身之氣，周於一日。人身陽氣以子中自左足而上，循左股、左手指、左肩、左腦、橫過右腦、右肩、右臂手指、脅、足，則又子中矣；陰氣以午中自右手心通右臂、右肩、橫過左肩、左臂、左脅、左足外腎、右足、右脅，則又午中矣，陽氣所歷，充滿周流，陰氣上不過腦，下遺指趾，二氣之行，晝夜不息，中外必偏，一為痰積壅塞，則痰疾生焉，疾證醫候，統紀浩繁，詳其本源。痰積虛耳，或痰聚上，或積惡中，遏氣之流，艱於流轉，則上氣逆上，下氣鬱下，臟腑失常，形骸受害。暨乎！氣本衰弱，運轉艱遲，或有不周，血亦偏滯，風濕寒暑乘間襲之，所生痰疾，與痰積同。凡人之主，熱而汗，產而易，二便順利，則氣之通也。陽虛不能運陰氣，無陰氣以清其陽，則易獨治，而為熱；陰虛不能運陽氣，無陽氣以和其陰，則陰獨治，而為厥。脾以養氣。肺以通氣，腎以泄氣，心以役氣，凡臟有五，肝獨不與，在時為春，在常為仁，不養不通，不泄不役，而氣常生，心虛則氣入而為蕩，肺虛則氣入而為喘，肝虛則氣人而目昏，腎虛則氣人而腰疼，四虛氣人，脾獨不與，受食不化，氣將日微，安能有餘以入其虛，烏乎？茲謂氣之名理與。</p>

<h1>平脈</h1>
<p>脈分兩手，手分三部，隔寸尺者，命之曰關，去肘度尺曰尺，關前一寸為寸，左手之寸極上，右手之尺極下，男子陽順，自下生上，故極下之地，右手之尺為受，命之根本。如天地未分，元氣渾沌也。既受命矣，萬物從土而出，惟脾為先，故尺上之關為脾，脾土生金，故關上之寸為肺，肺金生水，故自右手之寸，越左手之尺為腎，腎水生木，故左手尺上之關為肝，肝木生火，故關上之寸為心。女子陰逆自上生下，故極上之地，左手之寸為受命之根本，既受命矣，萬物土上而出，惟脾為先，故左手寸下之關為脾，脾土生金，故關下之尺為肺，肺金生水，故左手之尺越右手之寸為腎，腎水生木，故右手寸下之關為肝，肝木生火，故關下之尺為心。男子右手尺脈常弱，初生微眇之氣也；女子尺脈常強，心大之位也，非男非女之身，感以婦人，則男脈應胗，動以男子則女脈順指，不察乎此，難與言醫。同化五穀，故胃為脾府，而脈從脾；同氣通泄，故大腸為肺府，而脈從肺；同主精血，故膀胱為腎府，而脈從腎；同感交合，故小腸為心府，而脈從心：同以脈為竅，故膽為肝府。而脈從肝澄生後世傳其言而已，爾初決其秘，發悟後人矣，非至神乎。體修長者脈疏，形侏儒者脈密，肥人如沉，而正沉者愈沉，瘦人如浮，而正浮者愈浮，未燭斯理，遏愈眾疾，表裡多名，呼吸定至，抑皆未也。世俗並傳，茲得略云爾。</p>

<h1>津潤</h1>
<p>天地定位，而水位乎中，天地通氣，而水氣蒸達，土潤膏滋，云興雨降，而百物生化。人肖天地，亦有水焉，在上為痰，伏皮為血，左下為精，從毛竅出為汗，從腹腸出為瀉，從瘡口出為水，痰盡死，精竟死，汗枯死，瀉極死。水從瘡口出不止，干即死，至於血充目則見明，充耳則聽聰，充四肢則舉動強，充肌膚則身色白，漬則黑，去則黃，外熱則赤，內熱則上蒸喉，或下蒸大腸，為小竅，喉有竅，則咳血，殺人，腸有竅則便血，殺人，便血猶可止，咳血不易醫，喉不停物，毫髮必咳，血滲入喉，愈滲愈咳，愈咳愈滲，飲溲溺則百不一死，服寒涼則百不一生，血雖陰類，運之者，其和陽乎。</p>

<h1>分體</h1>
<p>耳目鼻口陰尻竅也，臂股指趾肢也，雙乳臥腎關也，齒髮爪甲余也，枝脂旁趾附也，養耳力者常飽，養目力者常瞑，養臂指者常屈伸，養股趾者常步履。夏臟宜冷，冬臟宜溫，陰肢末雖夏宜溫，胸包心火雖冬難熱，熱腫而竅塞，血不行而肢廢，余有消長無疾，附有疾，痛無生死者疣瘤而已。</p>

<h1>精血</h1>
<p>餘食五味養髓骨肉血肌膚毛髮。男子為陽中必有陰，陽之中數八，故一八而陽精升，二八而陽精溢。女子為陰，陰中必有陽，陽之中數七，故一七而陰血升，二七而陰血溢。陽精陰血皆飲食五味之實秀也。方其升也，智慮開明，齒牙更始，發黃者黑，筋弱者強，即其溢也。凡充身肢體手足耳目之餘，雖針芥之瀝無有不下，凡子形肖父母者，以其精血嘗於父母之身無所不歷也。是以父一肢廢則子一肢不肖其父母，一目虧則一目不肖其母，然雌鳥牝獸無天癸而成胎者何也？鳥獸精血往來尾間也，精未通而御女以通其精，則五體有不滿之處，異日有難狀之疾，陰已痿而思色以降其精，則精不出，內敗小便道澀，而為淋精已耗而復竭之，則大小便道牽疼，愈疼則愈欲大小便，愈便則愈疼。女人天癸既至，逾十年無男子合則不調，未逾十年思男子合亦不調，不調則舊血不出，新血誤行，或漬而入骨，或變而之腫，或雖合而難子。合男子多則澀枯虛人，產乳眾則血枯殺人，觀其精血思過半矣。</p>

<h1>除疾</h1>
<p>除疾之道，極其候證，詢其嗜好，察致疾之由來，觀時人之所患，則窮其病之始終矣。窮其病矣，外病療內，上病救下，辨病藏之虛實，通病藏之母子，相其老壯，酌其淺深，以制其劑，而十全上功至焉。製劑獨味，為上二味次之，多品為下。酸通骨，甘解毒，苦去熱，咸導下，辛發滯當驗之，藥未驗切戒，亟投大勢，既去余勢。不宜再藥，修而肥者，飲劑豐羸而弱者受藥減。用藥如用兵，用醫如用將，善用兵者，徒有車之功；善用藥者，姜有桂之效，知其才智，以軍付之，用將之道也。知其方，伎以生付之用，醫之道也。世無難治之疾，有不善治之醫，藥無難代之品，有不善代之人，民中絕命，斷可識矣。</p>

<h1>審微</h1>
<p>疾有誤涼而得冷，證有似是而實非，差之毫釐，損其壽命，《浮慄經·二氣篇》曰：「諸瀉皆為熱，諸冷皆為節，熱則先涼藏，冷則先溫血。」《腹疾篇》曰：「干痛有時當為蟲，產余刺痛皆變腫。」《傷寒篇》曰：「傷風時疫濕暑宿痰，作瘧作疹，俱類傷寒，時人多瘧，宜防為瘧。時人多疹，宜防作疹。春瘟夏疫，內證先出中濕、中暑，誠以苓木投之。發散劑吐汗下俱至此證，號宿痰失導，必肢廢嗟乎。病有微而殺人勢有重而易治精微，區別天下之良工哉。</p>

<h1>辯書</h1>
<p>尹彥成問曰：「五運六氣是邪非邪？」曰：「大撓作甲子隸首，作數志歲月日時遠近耳，故以當年為甲子歲，冬至為甲子月，朔為甲子日，夜半為甲子時，使歲月日時積一十百千萬亦有條而不紊也。配以五行，位以五方，皆人所為也。歲月日時，甲子乙丑，次第而及天地五行，寒暑風雨，倉猝而變，人嬰所氣，疾作於身。氣難預期，故疾難預定；氣非人為，故疾難人測。推驗多舛，拯救易誤，俞扁弗議，淳華未稽，吾未見其是也。」曰：《素問》之書，成於黃岐，運氣之宗，起於《素問》。將古聖哲妄邪曰：「尼父刪經，三墳猶廢，扁鵲盧出，虛醫遂多，尚有黃岐之醫籍乎，後書之託，名於聖哲也」。曰：「然則諸書不足信邪。」曰：「由漢而上有說無方，由漢而下有方無說，說不乖理，方不違義，雖出後學，亦是良師。固知君子之言不求貧朽，然於武成之策，亦取二三。」曰：「居今之世，為古之工，亦有道乎。」曰：「師友良醫，因言而識變，觀省舊典，假筌以求魚博，涉知病多，診識胍屢用達藥，則何愧於古人。」</p>

<h1>問子</h1>
<p>建平王妃姬等皆麗而無子，擇良家未笄女人御又無子。問曰：「求男有道乎？」澄對之曰：「合男女必當其年，男雖十六而精通，必三十而娶；女雖十四而天癸至，必二十而嫁，皆欲陰陽氣完實而後交合，則交而孕，孕而育，育而為子，堅壯強壽。今未笄之女，天癸始至，已近男色，陰氣早泄，未完而傷，未實而動，是以交而不孕，孕而不育，育而子脆不壽。此王之所以無子也。然婦人有所產皆女者，有所產皆男者，大王誠能訪求多男婦人謀置宮府，有男之道也。」王曰：「善」。未再期生六男，夫老陽遇少陰，老陰遇少陽，亦有子之道也。</p>

<h1>跋</h1>
<p>上褚澄遺書一卷，初得蕭氏父子護其石而其書始全，繼得僧義堪筆之紙而其書始存，今得則繼先鋟之木而其書始傳，亦可謂多幸矣。澄字彥道，河南陽翟人，宋武帝之甥，尚書左僕射湛之之子，廬江公主之夫，齊太宰侍中錄尚書公淵之弟，仁宋自駙馬都尉，遍歷清顯，仕齊至侍中顧右軍將軍，永明元年卒（《南史》云永元元年卒，誤也。）東昏侯立其女為皇后，追贈金紫光祿大夫，實永元元年，去其卒時已七十年矣。遺書題其贈官，豈蕭廣得其槨石，考之史傳而附題於前乎？叨齊高帝愛子豫章王嶷，自江陵赴都得疾日臻，帝憂形於色，乃大赦天下，聞澄傳楊淳秘方，召澄治立愈，帝喜甚，擢澄左氏尚書以寵之，其守吳郡也。民有李道念，以公事至郡，澄遙見謂曰：「汝有奇疾。」道唸曰：「某得冷疾五年矣。」澄診其脈，曰：非冷也，由多食雞子所致，可煮蘇一斗服之，即吐物如升許，涎裹之動，抉涎出視，乃一雞雛，翅距已具而能走。澄曰：未也，盍服其餘藥從之，凡吐十三枚，疾乃瘳，其妙皆此類也。是書幽眇簡切，多前人所未發而豈徒哉。問子篇稱建平王，當是澄之妻之侄景素，其生子六，即延齡延年輩。</p>
<p><u>云嘉泰元年日南至甘泉寄士丁介跋。</u></p>

<h1>後序</h1>
<p>廬州衛武生鄭道出示南齊褚澄遺書幾十篇。云：得之先世。故書中考之丁介跋尾，當是宋嘉泰初劉繼先印本，字畫完好如新，金讀之既作而嘆曰：「予少時曾於《宋史·藝文志》見有是書目。又見《三元延壽》、《居家必用》、《養生纂要》諸書引用其說，往來京師，嘗偏閱書肆博坊蓄書之家，求其全本無所得，迄今三十餘年，始獲經目，噫！古書之罕見於世，奚獨此哉。史稱澄善醫術以勤，謹見知沒於永明元年，觀是書立論精詣，所謂邃於醫而慎於朮者非耶，褚氏子孫以其書入石殉葬，為不柄計其用心勤矣。意澄平時所自愛重，子孫遵其垂歿之言而慎藏之歟，雖其遺墓不幸為盜所發，遺書則幸因盜以傳也，自是蕭廣載其石，廣子淵復以納壙，釋義堪錄諸策，劉繼先又以入梓，更三數人之手始克流布當時，蓋自永明至嘉泰初，上下七百二十餘年，至於今又幾何年，所著之書，久埋而復見，已棄而獲存，幾絕而僅有，若有神物相之者。殆與汲塚之《周書》，昭陵之《義帖》，石室之《陰符》，經佛龕之古文，苑事相類。歐陽子云：人之賢者傳遂遠，是固然矣。要之古今載籍，或傳或否，皆不可必，人未必皆賢言，未必皆粹高文鉅冊，或散佚無聞片楮尺素，或珍襲可考，金石有不足恃，而或出於破塚敗壁之間，子孫有不可托而偶得於牧豎、偷兒之手，悶於前或彰於後，盛行於一時，或煙沒於萬世，莫不有數存焉耳。而物之聚散顯晦固有時哉，然而非聖之書不經之談，迂僻怪誕於事，無益且不可以為訓，使有識者見之，必以覆醬瓿制帷帳而投之水火也。今猶不免加災於木，增垢於石，重為楮墨之費者何限，況乎書坊所刻，大率類家集以徼時名，褒程文以逐時好，日以浸廣，求如蕭廣，冀之嗜古，良亦鮮矣，金於此尤所浩嘆。竊謂是書，形氣血脈之說，明切簡備，庶幾可為衛生之助，其平脈篇有曰：澄生當後世傳其言而已爾，初決其秘發悟後人，澄蓋以其所得筆之於書，與天下後世共之也，豈若俚俗，醫師規規然，因病處方，隨證著論，以覬倖於萬一者可及哉，嗚呼！疾固尼父所慎醫，亦事親者所當知，因是書得之難，而欲其傳之廣，且久必有同區區余意者矣眾，斯文之不泯也。</p>
<p><u>正德丙寅春日西充馬金謹序</u></p>

<h1>跋褚氏遺書後</h1>
<p>予賞觀歷代名醫圖，因有以知公之姓氏；選名醫雜著藥方，因有以知公之技能。今見所遺之書，則又有以知公之心術，默通造化妙用之理矣。《齊史》稱褚澄望色辨證投劑如神，與盧扁華佗比肩，豈欺我哉！若夫是書之作，收藏顯晦俱備於前後，序文載焉予不復贅。</p>
<p><u>嘉靖四年春日滑臺李暹德進謹跋</u></p>
