<header data-type="book">
<h1>濕熱病篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛雪</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
</dl>
</header>
<p><b class="方外框">一<ins>、</ins></b>濕熱證，始惡寒，後但熱不寒，汗出、胸痞、舌白，口渴不引飲。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>自注：此條乃濕熱證之提綱也。濕熱病屬陽明太陰者居多，中氣實則病在陽明，中氣虛則病在太陰。病在二經之表者，多兼少陽三焦，病在二經之裏者，每兼厥陰風木。以少陽厥陰，同司相火，陽明太陰，濕熱內鬱，鬱甚則少火皆成壯火，而表裏上下，充斥肆逆，故是證最易耳聾、乾嘔，發痙、發厥，而提綱中不言及者，因以上諸證，皆濕熱病兼見之變局，而非濕熱病必見之正局也。始惡寒者，陽為濕遏而惡寒，終非若寒傷於表之惡寒；後但熱不寒，則鬱而成熱，反惡熱矣。熱盛陽明則汗出，濕蔽清陽則胸痞，濕邪內盛舌白，濕熱交蒸則舌黃，熱則液不升而口渴，濕則飲內留而不引飲。然所云表者，乃太陰、陽明之表，而非太陽之表。太陰之表四肢也；陽明之表，肌肉也，胸中也，故胸痞為濕熱必有之證，四肢倦怠，肌肉煩疼，亦必並見。其所以不干太陽者，以太陽為寒水之腑，主一身之表，風寒必自表入，故屬太陽。濕熱之邪從表傷者，十之一二，由口鼻入者，十之八九。陽明為水穀之海，太陰為濕土之臟，故多陽明、太陰受病。膜原者，外通肌肉，內近胃腑，即三焦之門戶，實一身之半表半裏也，邪由上受，直趨中道，故病多歸膜原。要之濕熱之病，不獨與傷寒不同，且與溫病大異，溫病乃少陰太陽同病，濕熱乃陽明太陰同病也。而提綱中言不及脈者，以濕熱之證，脈無定體，或洪或緩，或伏或細，各隨證見，不拘一格，故難以一定之脈，拘定後人眼目也。</p>
<p>濕熱之證，陽明必兼太陰者，徒知臟腑相連，濕土同氣，而不知當與溫病之必兼少陰比例。少陰不藏，木火內燔，風邪外襲，表裏相應，故為溫病；太陰內傷，濕飲停聚，客邪再至，內外相引，故病濕熱。此皆先有內傷，再感客邪，非由腑及臟之謂。若濕熱之證，不挾內傷，中氣實者，其病必微，或有先因於濕，再因飢勞而病者，亦屬內傷挾濕，標本同病。然勞倦傷脾為不足，濕飲停聚為有餘，所以內傷外感孰多孰少，孰實孰虛，又在臨證時權衡矣。</p>
</span>
</div>
<p><b class="方外框">二<ins>、</ins></b>濕熱證，惡寒無汗，身重頭痛，濕在表分，宜藿香、香薷、羌活、蒼朮皮、薄荷、牛蒡子等味。頭不痛者，去羌活。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>自注：身重惡寒，濕遏衛陽之表證，頭痛必挾風邪，故加羌活，不獨勝濕，且以祛風。此條乃陰濕傷表之候。</p>
</span>
</div>
<p><b class="方外框">三<ins>、</ins></b>濕熱證，惡寒發熱，身重關節疼痛，濕在肌肉，不為汗解，宜滑石、大豆黃卷、茯苓皮、蒼朮皮、藿香葉、鮮荷葉、白通草、桔梗、等味，不惡寒者去蒼朮皮。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條外候與上條同，惟汗出獨異，更加關節疼痛，乃濕邪初犯陽明之表。而即清胃脘之熱者，不欲濕邪之鬱熱上蒸，而欲濕邪之淡滲下走耳。此乃陽濕傷表之候。</p>
</span>
</div>
<p><b class="方外框">四<ins>、</ins></b>濕熱證，三四日即口噤，四肢牽引拘急，甚則角弓反張，此濕熱侵入經絡脈隧中，宜鮮地龍、秦艽、威靈仙、滑石、蒼耳子、絲瓜藤、海風藤、酒炒黃連等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條乃濕邪挾風者。風為木之氣，風動則木張，乘入陽明之絡，則口噤，走竄太陰之經，則拘攣，故藥不獨勝濕，重用息風，一則風藥能勝濕，一則風藥能疏肝也，選用地龍諸藤者，欲其宣過脈絡耳。</p>
<p>或問：仲景治痙，原有桂枝加栝蔞根及葛根湯兩方，豈宜於古而不宜於今耶？今之痙者與厥相連，仲景不信及厥，豈《金匱》有遺文耶？予曰：非也。藥因病用，病源既異，治法自殊。傷寒之痙自外來，證屬太陽，治以散外邪為主；濕熱之痙自內出，波及太陽，治以息內風為主。蓋三焦與肝膽同司相火，中焦濕熱不解，則熱盛於裏而少火悉成壯火，火動則風生而筋攣脈急，風煽則火熾而識亂神迷。身中之氣隨風火上炎，而有升無降，常度盡失，由是而形若尸厥。正《內經》所謂：「血之與氣，併走於上，則為暴厥」者是也。外竄經脈則成痙，內侵膻中則為厥。痙瘚並見，正氣猶存一線，則氣復反而生，胃津不克支持，則厥不回而矣。所以痙之與厥，往往相連，傷寒之痙自外來者，安有是哉？</p>
<p>暑月痙證與霍亂同出一源，風自火生，火隨風轉，乘入陽明則嘔，賊及太陰則瀉，是名霍亂；竄入筋中者攣急，流入脈絡則反張，是名痙。但痙證多厥，霍亂少厥。蓋痙證風火閉鬱，鬱則邪勢愈甚，不免逼亂神明，故多厥；霍亂風火外泄，泄則邪勢外解，不至循經而走，故少厥。此痙與霍亂之分別也。然痙證邪滯三焦，三焦乃火化，風得火而愈煽，則逼入膻中而暴厥；霍亂邪走脾胃，脾胃乃濕化，邪由濕而停留，則淫及諸經而拘攣。火鬱則厥，火竄則攣。又痙與厥之遺禍也，痙之攣結乃濕熱生風，霍亂之轉筋乃風來勝濕。痙則由經及臟而厥，霍亂則由臟及經而攣，總由濕熱與風，淆亂清濁，升降失常之故。夫濕多熱少，則風入土中而霍亂，熱多濕少，則風乘三焦而痙厥，厥而不返者死，胃液乾枯，火邪盤踞也；轉筋入腹者死，胃液內涸，風邪獨勁也。然則胃中之津液，所關顧不鉅哉？厥證用辛開，泄胸中無形之邪也，乾霍亂用探吐，泄胃中有形之滯也。然泄邪而胃液不上升者，熱邪益熾；探吐而胃液不四布者，風邪更張，終成死候，不可不知。</p>
</span>
</div>
<p><b class="方外框">五<ins>、</ins></b>濕熱證，壯熱口渴，舌黃或焦紅，發痙神昏，譫語或笑，邪灼心包，營血已耗，宜犀角、羚羊角、連翹、生地、元參、鉤藤、銀花露、鮮菖蒲、至寶丹等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>上條言痙，此條言厥。溫暑之邪，本傷陽氣，及至熱極，逼入營陰，則津液耗而陰亦病。心包受灼，神識昏亂，用藥以清熱救陰，泄邪平肝為務。</p>
</span>
</div>
<p><b class="方外框">六<ins>、</ins></b>濕熱證，發痙，神昏笑妄，脈洪數有力，開泄不效者，濕熱蘊結胸膈，宜仿涼膈散，若大便數日不通者，熱邪閉結腸胃，宜仿承氣微下之例。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條乃陽明實熱，或上結或下結。清熱泄邪止能散絡中流走之熱，而不能除腸中蘊結之邪，故陽明之邪，仍假陽明為出路也。</p>
</span>
</div>
<p><b class="方外框">七<ins>、</ins></b>濕熱證，壯熱煩渴，舌焦紅或縮，斑疹，胸痞，自利，神昏痙厥，熱邪充斥表裏三焦，宜大劑犀角、羚羊角、生地、元參、銀花露、紫草、方諸水、金汁、鮮菖蒲等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條乃痙厥中之最重者，上為胸悶，下挾熱利，斑疹痙厥，陰陽告困。獨清陽明之熱，救陽明之液為急務者，恐胃液不存，其人自焚而死也。</p>
</span>
</div>
<p><b class="方外框">八<ins>、</ins></b>濕熱證，寒熱如瘧，濕熱阻遏膜原，宜柴胡、厚朴、檳榔、草果、藿香、蒼朮、半夏、乾菖蒲、六一散等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>瘧由暑熱內伏，秋涼外束而成。若夏月腠理大開，毛竅疏通，安得成瘧。而寒熱有定期，如瘧證發作者，以膜原為陽明之半表半裏，濕熱阻遏，則營衛氣爭，證雖如瘧，不得與瘧同治，故仿又可達原飲之例，蓋一由外涼束，一由內濕阻也。</p>
</span>
</div>
<p><b class="方外框">九<ins>、</ins></b>濕熱證，數日後，脘中微悶，知飢不食，濕邪蒙繞三焦，宜藿香葉、薄荷葉、鮮荷葉、枇杷葉、佩蘭葉、蘆尖、冬瓜仁等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此濕熱已解，餘邪蒙蔽清陽，胃氣不舒。宜用極輕清之品，以宣上焦陽氣，若投味重之劑，則與病情不相涉矣。此條須與第三十一條參看，彼初起之實邪，故宜涌泄，投此輕劑，不相合矣，又須與後條參看，治法有上中之分，臨證審之。</p>
</span>
</div>
<p><b class="方外框">十<ins>、</ins></b>濕熱證，初起，發熱汗出，胸痞，口渴，舌白，濕伏中焦，宜藿梗、蔻仁、杏仁、枳殼、桔梗、鬱金、蒼朮、厚朴、草果、半夏、乾菖蒲、佩蘭葉、六一散等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>濁邪上干則胸悶，胃液不升則口渴。病在中焦氣分，故多開中焦氣分之藥。此條多有挾食者，其舌根見黃色，宜加瓜蔞、查肉、萊菔子。</p>
</span>
</div>
<p><b class="方外框">十一<ins>、</ins></b>濕熱證，數日後自利，溺赤，口渴，濕流下焦，宜滑石、豬苓、澤瀉、萆薢、通草等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>下焦屬陰，太陰所司，陰道虛故自利，化源滯則溺赤，脾不轉津則口渴，總由太陰濕勝故也。濕滯下焦，故獨以分利為治，然兼證口渴胸痞，須佐入桔梗、杏仁、大豆黃卷、開泄中上，源清則流自潔，不可不知。以上三條，俱濕重於熱之候。</p>
<p>濕熱之邪不自表而入，故無表裏可分，而未嘗無三焦可辨，猶之河間治消渴亦分三焦者是也。夫熱為天之氣，濕為地之氣，熱得濕而愈熾，濕得熱而愈橫，濕熱兩分，其病輕而緩，濕熱兩合，其病重而速。濕多熱少，則蒙上流下，當三焦分治，濕熱俱多，則上閉下壅，而三焦俱困矣。猶之傷寒門二陽合病，三陽合病也。蓋太陰濕化，三焦火化，有濕無熱止能蒙蔽清陽，或阻於上，或阻於中，或阻於下，若濕熱一合則身中少火悉化為壯火，而三焦相火有不皆起而為虐者哉？所以上下充斥，內外煎熬，最為酷烈，兼之木火同氣，表裏分司，再引肝風，痙厥立至。胃中津液幾何，其能供此交徵乎？至其所以必屬陽明者，以陽明為水穀之海，鼻食氣，口食味，悉歸陽明。邪從口鼻而入，則陽明必由之路。其始也，邪入陽明，早已先傷其胃液，其繼也邪盛三焦，更欲取資於胃液，司命者可不為陽明顧慮哉？</p>
<p>或問：木火同氣，熱盛生風以致痙厥，理固然矣。然有濕熱之證，表裏極熱，不痙不厥者何也？余曰：風木為火熱引動者，原因木氣素旺，肝陰先虧，內外相引，兩陽相煽，因而動張。若肝腎素優，並無裏熱者，火熱安能招引肝風也！試觀產婦及小兒，一經壯熱，便成瘈瘲者，以失血之後，與純陽之體，陰氣未充，故肝風易動也。</p>
<p>或問曰：亦有陰氣素虧之人，病患濕熱，甚至斑疹外見，入暮譫語昏迷，而不痙不厥者，何也？答曰：病邪自盛於陽明之營分，故由上脘而薰胸中，則入暮譫妄。邪不在三焦氣分，則金不受囚，木有所畏，未敢起而用事，至於斑屬陽明，疹屬太陰，亦二經營分熱極，不與三焦相干，即不與風木相引也。此而痙厥，必胃中津液盡涸，耗及心營，則肝風亦起，而其人已早無生理矣。</p>
</span>
</div>
<p><b class="方外框">十二<ins>、</ins></b>濕熱證，舌遍體白，口渴，濕滯陽明，宜用辛開，如厚朴、草果、半夏、乾菖蒲等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此濕邪極盛之候，口渴乃液不上升，非有熱也。辛泄太過即可變而為熱，而此時濕邪尚未蘊熱，故重用辛開，使上焦得通，津液得下也。</p>
</span>
</div>
<p><b class="方外框">十三<ins>、</ins></b>濕熱證，舌根白，舌尖紅，濕漸化熱，餘濕猶滯，宜辛泄佐清熱，如蔻仁、半夏、乾菖蒲、大豆黃卷、連翹、綠豆衣、六一散等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此濕熱參半之證。而燥濕之中，即佐清熱者，亦所以存陽明之液也。上二條憑驗舌以投劑，為臨證時要訣，蓋舌為心之外候，濁邪上薰心肺，舌苔因而轉移。</p>
</span>
</div>
<p><b class="方外框">十四<ins>、</ins></b>濕熱證，初起，即胸悶不知人，瞀亂大叫痛，濕熱阻閉中上二焦，宜草果、檳榔、鮮菖蒲、芫荽、六一散各重用，或加皂角，地漿水煎。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條乃濕熱俱盛之候。而去濕藥多，清熱藥少者，以病邪初起即閉，不得不以辛通開閉為急務，不欲以寒涼凝滯氣機也。</p>
</span>
</div>
<p><b class="方外框">十五<ins>、</ins></b>濕熱證，四五日，口大渴，胸悶欲絕，乾嘔不止，脈細數，舌光如鏡，胃液受劫，膽火上衝，宜西瓜汁、金汁、鮮生地汁、甘蔗汁磨服鬱金、木香、香附、烏藥等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此營陰素虧，木火素旺者。木乘陽明，耗其津液，幸無飲邪，故一清陽明之熱，一散少陽之邪。不用煎者，取其氣全耳。</p>
</span>
</div>
<p><b class="方外框">十六<ins>、</ins></b>濕熱證，嘔吐清水，或痰多，濕熱內留，木火上逆，宜溫膽湯加栝蔞碧玉散等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此素有痰飲而陽明少陽同病，故一以滌飲，一以降逆。與上條嘔同而治異，正當合參。</p>
</span>
</div>
<p><b class="方外框">十七<ins>、</ins></b>濕熱證，嘔惡不止，晝夜不差，欲死者，肺胃不和，胃熱移肺，肺不受邪也，宜用川連三四分，蘇葉二三分，兩味煎湯，呷下即止。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>肺胃不和，最易致嘔，蓋胃熱移肺，肺不受邪，還歸於胃。必用川連以清濕熱，蘇葉以通肺胃，投之立愈者，以肺胃之氣非蘇葉不能通也，分數輕者，以輕劑恰治上焦之病耳。</p>
</span>
</div>
<p><b class="方外框">十八<ins>、</ins></b>濕熱證，欬嗽，晝夜不安，甚至喘不得眠者，暑邪入於肺絡，宜葶藶枇杷葉六一散等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>人但知暑傷肺氣則肺虛，而不知暑滯肺絡肺實。葶藶引滑石直瀉肺邪，則病自除。</p>
</span>
</div>
<p><b class="方外框">十九<ins>、</ins></b>濕熱證，十餘日，大勢已退，唯口渴汗出，骨節痛，餘邪留滯經絡，宜元米湯泡於朮，隔一宿，去朮煎飲。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>病後濕邪未盡，陰液先傷，故口渴身痛。此時救液則助濕，治濕則劫陰，宗仲景麻沸湯之法，取氣不取味，走陽不走陰，佐以元米湯養陰逐濕，兩擅其長。</p>
</span>
</div>
<p><b class="方外框">二十<ins>、</ins></b>濕熱證，數日後，汗出熱不除，或痙，忽頭痛不止者，營液大虧，厥陰風火上升，宜羚羊角、蔓荊子、鉤藤、元參、生地、女貞子等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>濕熱傷營，肝風上逆，血不榮筋而痙，上升巔頂則頭痛，熱氣已退，木氣獨張，故痙而不厥。投劑以息風為標，養陰為本。</p>
</span>
</div>
<p><b class="方外框">二十一<ins>、</ins></b>濕熱證，胸痞發熱，肌肉微疼，始終無汗者，腠理暑邪內閉，宜六一散一兩，薄荷葉三四分，泡湯調下即汗解。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>濕病發汗，昔賢有禁，此不微汗之，病必不除，蓋既有不可汗之大戒，有得汗始解之治法，臨證者當知所變通矣。</p>
</span>
</div>
<p><b class="方外框">二十二<ins>、</ins></b>濕熱證，按法治之，數日後，忽<span data-rev="疏"><small class="雙行夾注">一作或</small></span>吐下一時並至者，中氣虧損，升降悖逆，宜生穀芽、蓮心、扁豆、米仁、半夏、甘草、茯苓等味，甚者<span data-rev="疏"><small class="雙行夾注">一作則</small></span>用理中法。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>升降悖逆，法當和中，猶之霍亂之用六和湯也。若太陰憊甚，中氣不支，非理中不可。</p>
</span>
</div>
<p><b class="方外框">二十三<ins>、</ins></b>濕熱證，十餘日後，左關絃數，腹時痛，時圊血，肛門熱痛，血液內燥，熱邪傳入厥陰之證，宜仿白頭翁法。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>熱入厥陰而下利，即不圊血，亦當宗仲景治熱利法。若竟逼入營陰，安得不用白頭翁湯涼血而散邪乎？設熱入陽明而下利，即不圊血，又宜師仲景治下利譫語，用小承氣湯之法矣。</p>
</span>
</div>
<p><b class="方外框">二十四<ins>、</ins></b>濕熱證，十餘日後，尺脈數，下利或咽痛，口渴心煩，下泉不足，熱邪直犯少陰之證，宜仿豬膚湯涼潤法。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>同一下利，有厥、少之分，則藥有寒、涼之異。然少陰有便膿之候，不可不細審也。</p>
</span>
</div>
<p><b class="方外框">二十五<ins>、</ins></b>濕熱證，身冷脈細，汗泄胸痞，口渴，舌白，濕中少陰之陽，宜人參、白朮、附子、茯苓、益智等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條濕邪傷陽，理合扶陽逐濕。口渴為少陰證，烏得妄用寒涼耶。</p>
</span>
</div>
<p><b class="方外框">二十六<ins>、</ins></b>暑月病初起，但惡寒，面黃，口不渴，神倦，四肢懶，脈沉弱，腹痛下利，濕困太陰之陽，宜仿縮脾飲，甚則大順散、來復丹等法。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>暑月為陽氣外泄，陰氣內耗之時，故熱邪傷陰，陽明消爍，宜清宜涼。太陰告困，濕濁瀰漫，宜溫宜散。古法最詳，醫者鑑諸。</p>
</span>
</div>
<p><b class="方外框">二十七<ins>、</ins></b>濕熱證，按法治之，諸證皆退，惟目瞑則驚悸夢惕，餘邪內留，膽氣未舒，宜酒浸郁李仁、薑汁炒棗仁、豬膽皮等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>滑可去著，郁李仁性最滑脫，古人治驚後肝系滯而不下，始終目不瞑者，用之以治肝系而去滯。此證借用，良由濕熱之邪留於膽中，膽為清淨<span data-rev="疏"><small class="雙行夾注">一作虛</small></span>之府，藏而不瀉，是以病去而內留之邪不去，寐則陽氣行於陰，膽熱內擾，肝魂不安，用郁李仁以泄邪而以酒行之，酒氣獨歸膽也。棗仁之酸，入肝安神，而以薑汁製，安神而又兼散邪也。</p>
</span>
</div>
<p><b class="方外框">二十八<ins>、</ins></b>濕熱證，曾開泄下奪，惡候皆平，獨神思不清，倦語不思食，溺數，脣齒乾。胃氣不輸，肺氣不布，元神大虧，宜人參、麥冬、石斛、木瓜、生甘草、生穀芽、蓮子等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>開泄下奪，惡候皆平，正亦大傷。故見證多氣虛之象，理合清補元氣，若用膩滯陰藥，去生便遠。</p>
</span>
</div>
<p><b class="方外框">二十九<ins>、</ins></b>濕熱證，四五日，忽大汗出，手足冷，脈細如絲或絕，口渴，莖痛，而起坐自如，神清語亮。乃汗出過多，衛外之陽暫亡，濕熱之邪仍結，一時表裏不通，脈故伏，非真陽外脫也，宜五苓散去朮加滑石、酒炒川連、生地、耆皮等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此條脈證，全是亡陽之候，獨於舉動神氣得其真情，噫：此醫之所以貴識見也。</p>
</span>
</div>
<p><b class="方外框">三十<ins>、</ins></b>濕熱證，發痙神昏，獨足冷陰縮。下體外受客寒，仍宜從濕熱治，只用辛溫之品，煎湯熏洗。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>陰縮為厥陰之外候，合之足冷，全似虛寒，乃諦觀本證，無一屬虛，始知寒客下體，一時營氣不達，不但證非虛寒，併非上熱下寒之可擬也，仍從濕熱治之，又何疑耶？</p>
</span>
</div>
<p><b class="方外框">三十一<ins>、</ins></b>濕熱證，初起狀熱口渴，脘悶懊惱，眼欲閉，時譫語，濁邪蒙閉上焦，宜涌泄，用枳殼、桔梗、淡豆豉、生山梔，無汗者加葛根。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此與第九條宜參看，彼屬餘邪，法當輕散，此則濁邪蒙閉上焦，故懊惱脘悶。眼欲閉者，肺氣不舒也。時譫語者，邪鬱心包也。若投輕劑，病必不除。《經》曰：「高者越之」，用梔豉湯涌泄之劑，引胃脘之陽，而開心胸之表，邪從吐散。</p>
</span>
</div>
<p><b class="方外框">三十二<ins>、</ins></b>濕熱證，經水適來，壯熱口渴，譫語神昏，胸腹痛，或舌無苔，脈滑數，邪陷營分，宜大劑犀角、紫草、茜根、貫眾、連翹、鮮菖蒲、銀花露等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>熱入血室，不獨婦女，男子亦有之，不第涼血，并須解毒，然必重劑乃可奏功。</p>
</span>
</div>
<p><b class="方外框">三十三<ins>、</ins></b>濕熱證，上下失血或汗血，毒邪深入營分，走竄欲泄，宜大劑犀角、生地、赤芍、丹皮、連翹、紫草、茜根、銀花等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>熱逼而上下，失血汗血，勢即危而猶不即壞者，以毒從血出，生機在是，大進涼血解毒之劑，以救陰而泄邪，邪解而血自止矣。血止後，須進參耆善後乃得。汗血即張氏所謂肌衄也。《內經》謂「熱淫於內，治以鹹寒」，方中當增入鹹寒之味。</p>
</span>
</div>
<p><b class="方外框">三十四<ins>、</ins></b>濕熱證，七八日，口不渴，聲不出，與飲食亦不卻，默默不語，神識昏迷，進辛開涼泄，芳香逐穢，俱不效，此邪入厥陰，主客渾受，宜仿吳又可三甲散，醉地鱉蟲、醋炒鱉甲、土炒穿山甲、生殭蠶、柴胡、桃仁泥等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>暑濕先傷陽分，然病久不解，必返於陰。陰陽兩困，氣鈍血滯而暑濕不得外泄，遂深入厥陰，絡脈凝瘀，使一陽不能萌動，生氣有降無升，心主阻遏，靈氣不通，所以神不清而昏迷默默也。破滯通瘀，斯絡脈通而邪得解矣。</p>
</span>
</div>
<p><b class="方外框">三十五<ins>、</ins></b>濕熱證，口渴，苔黃起刺，脈絃緩，囊縮舌鞭，譫語昏不知人，兩手搐搦。津枯邪滯，宜鮮生地、蘆根、生首烏、鮮稻根等味。若脈有力，大便不通者，大黃亦可加入。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>胃津劫奪，熱邪內踞，非潤下以泄邪，則不能達，故仿承氣之例，以甘涼易苦寒，正恐胃氣受傷，胃津不復也。</p>
</span>
</div>
<p><b class="方外框">三十六<ins>、</ins></b>濕熱證，發痙撮空，神昏笑妄，舌苔乾黃起刺或轉黑色，大便不通者，熱邪閉結胃腑，宜用承氣湯下之。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>撮空一證，昔賢謂非大實即大虛，虛則神明渙散，將有脫絕之虞，實則神明被逼，故多撩亂之象。今舌苔黃刺乾澀，大便閉而不通，其為熱邪內結陽明，腑熱顯然矣。徒事清熱泄邪，止能散絡中流走之熱，不能除胃中蘊結之邪，假承氣以通地道，然舌不乾黃起刺，不可投也。</p>
<p>承氣用硝、黃，所以逐陽明之燥火實熱，原非濕熱內滯者所宜用，然胃中津液為熱所耗，甚至撮空撩亂，舌苔乾黃起刺，此時胃熱極盛，胃津告竭，濕熱轉成燥火，故用承氣以攻下，承氣者所以承接未亡之陰氣於一線也。濕溫病至此，亦危矣哉！</p>
</span>
</div>
<p><b class="方外框">三十七<ins>、</ins></b>濕熱證，壯熱口渴，自汗，身重、胸痞，脈洪大而長者，此太陰之濕與陽明之熱相合，宜白虎加蒼朮湯。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>熱渴自汗，陽明之熱也；胸痞身重，太陰之濕見矣；脈洪大而長，知濕熱滯於陽明之經，故用蒼朮白虎湯，以清熱散濕，然乃熱多濕少之候。</p>
<p>白虎湯，仲景用以清陽明無形之燥熱也，胃汁枯凅者，加人參以生津，名曰白虎加人參湯。身中素有痹氣者，加桂枝以通絡，名曰桂枝白虎湯，而其實在清胃熱也。是以後人治暑熱傷氣，身熱而渴者，亦用白虎加人參湯，熱渴汗泄，肢節煩疼者，亦用白虎加桂枝湯。胸痞身重兼見，則於白虎湯中加入蒼朮以理太陰之濕；寒熱往來兼集，則於白虎湯中加入柴胡以散半表半裏之邪。凡此皆熱盛陽明，他證兼見，故用白虎清熱，而復各隨證以加減。茍非熱渴汗泄，脈洪大者，白虎便不可投，辨證察脈，最宜詳審也。</p>
</span>
</div>
<p><b class="方外框">三十八<ins>、</ins></b>濕熱證，濕熱傷氣，四肢困倦，精神減少，身熱氣高，心煩溺黃，口渴自汗，脈虛者，用東垣清暑益氣湯主治。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>同一熱渴自汗而脈虛神倦，便是中氣受傷，而非陽明鬱熱。清暑益氣湯乃東垣所製，方中藥味頗多，學者當於臨證時斟酌去取可也。</p>
</span>
</div>
<p><b class="方外框">三十九<ins>、</ins></b>暑月熱傷元氣，氣短倦怠，口渴多汗，肺虛而咳者，宜人參、麥冬、五味子等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此即千金生脈散也，與第十八條同一肺病，而氣粗與氣短有分，則肺實與肺虛各異，實則瀉而虛則補，一定之理也。然生名生脈，則熱傷氣之脈虛欲絕可知矣。</p>
</span>
</div>
<p><b class="方外框">四十<ins>、</ins></b>暑月乘涼飲冷，陽氣為陰寒所逼，皮膚蒸熱，凜凜畏寒，頭痛頭重，自汗煩渴，或腹痛吐瀉者，宜香薷、厚朴、扁豆等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此由避暑而感受寒濕之邪，雖病於暑月而實非暑病。昔人不曰暑月傷寒濕，而曰陰暑，以致後人淆惑，貽誤匪輕，今特正之。其用香薷之辛溫，以散陰邪而發越陽氣；厚朴之苦溫，除濕邪而通行滯氣；扁豆甘淡，行水和中。倘無惡寒頭痛之外證，即無取香薷之辛香走竄矣；無腹痛吐利之裏證，亦無取厚朴、扁豆之疏滯和中矣。故熱渴甚者，加黃連以清暑，名四味香薷飲；減去扁豆名黃連香薷飲；濕盛於裏，腹膨泄瀉者，去黃連加茯苓甘草名五物香薷飲；若中虛氣怯，汗出多者，加人參、耆、白朮、橘皮、木瓜名十味香薷飲。然香薷之用，總為寒濕外襲而設，不可用以治不挾寒濕之暑熱也。</p>
</span>
</div>
<p><b class="方外框">四十一<ins>、</ins></b>濕熱內滯太陰，鬱久而為滯下，其證胸痞腹痛，下墜窘迫，膿血稠黏，裏結後重，脈軟數者，宜厚朴、黃芩、神麴、廣皮、木香、檳榔、柴胡、煨葛根、銀花炭、荊芥炭等味。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>古之所謂滯下，即今所云痢疾也。由濕熱之邪，內伏太陰，阻遏氣機以致太陰失健運，少陽失疏達。熱鬱濕蒸，傳導失其常度，蒸為敗濁膿血，下注肛門，故後重。氣壅不化，仍數至圊而不能便。傷氣則下白，傷血則下赤，氣血並傷，赤白兼下，濕熱盛極，痢成五色。故用厚朴除濕而行滯氣，檳榔下逆而破結氣，黃芩清庚金之熱，木香、神麴疏中氣之滯，葛根升下陷之胃氣，柴胡升土中之木氣，熱侵血分而便血，以銀花、荊芥入營清熱，若熱甚於裏當用黃連以清熱，大實而痛，宜增大黃以逐邪。昔張潔古製芍藥湯治以治血痢，方用歸、芍、芩、連、大黃、木香、檳榔、甘草、桂心等味，而以芍藥名湯者，蓋謂下血必調藏血之臟，故用之為君，不特欲其土中瀉木，抑亦賴以斂肝和陰也。然芍藥味酸性斂，終非濕熱內蘊者所宜服。倘遇痢久中虛，而宜用芍藥、甘草之化土者，恐難任芩、連、大黃之苦寒，木香檳榔之破氣。其下痢初作，濕熱正盛者，白芍酸斂滯邪，斷不可投。此雖昔人已試之成方，不敢引為後學之楷式也。</p>
</span>
</div>
<p><b class="方外框">四十二<ins>、</ins></b>痢久傷陽，脈虛滑脫者，真人養臟湯加甘草、當歸、白芍。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>脾陽虛者，當補而兼溫，然方中用木香，必其腹痛未止，故兼疏滯氣。用歸、芍，必其陰分虧殘，故兼和營陰。但痢雖脾疾，又必傳腎，以腎為胃關，司下焦而開竅於二陰也。況火為土母，欲溫土中之陽，必補命門之火，若虛寒甚而滑脫者，當加附子以補陽，不得雜入陰藥矣。</p>
</span>
</div>
<p><b class="方外框">四十三<ins>、</ins></b>痢久傷陰，虛坐努責者，宜用熟地炭、炒當歸，炒白芍，炙甘草，廣皮之屬。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>裏結欲便，坐久而仍不得便者，謂之虛坐努責。凡裏結屬火居多，火性傳送<span data-rev="疏"><small class="雙行夾注">一作逆</small></span>至速，鬱於於大腸，窘迫欲便，而便仍不舒。故痢疾門中，每用黃芩清火，甚者用大黃逐熱。若痢久血虛，血不足則生熱，亦急迫欲便，但坐久而不得便耳，此熱由血虛所生，故治以補血為主。裏結與後重不同，裏結者急迫欲便，後重者肛門重墜。裏結有虛實之分，實為火邪有餘，虛為陰營不足。後重有虛實之異，實為邪實下壅，虛由氣虛下陷。是以治裏結者，有清熱養陰之異；治後重者，有行氣升補之殊。虛實之辨，不可不明。</p>
</span>
</div>
<p><b class="方外框">四十四<ins>、</ins></b>暑濕內襲，腹痛吐利，胸痞脈緩者，濕濁內阻太陰，宜縮脾飲。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此暑濕濁邪，傷太陰之氣，以致土用不宣，太陰告困，故以芳香滌穢，辛燥化濕為制也。</p>
</span>
</div>
<p><b class="方外框">四十五<ins>、</ins></b>暑月飲冷過多，寒濕內留，水穀不分，上吐下瀉，肢冷脈伏者，宜大順散。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>暑月過於貪涼，寒濕外襲者，有香薷飲；寒濕內侵者，有大順散。夫吐瀉肢冷脈伏，是脾胃之陽，為寒濕所蒙，不得升越，故宜溫熱之劑調脾胃，利氣散寒。然廣皮、茯苓似不可少，此即仲景治陰邪內侵之霍亂，而用理中湯之旨乎。</p>
</span>
</div>
<p><b class="方外框">四十六<ins>、</ins></b>腹痛下利，胸痞煩燥口渴，脈數大，按之豁然空者，宜冷香飲子。</p>
<div class="縮進1字" data-rev="古版-元素">
<span data-rev="注">
<p>此不特濕邪傷脾，抑且寒邪傷腎。煩躁熱渴，極似陽邪為病，惟數大之脈，按之豁然而空，知其躁渴等證為虛陽外越，而非熱邪內擾，故以此方冷服，俾下咽之後，冷氣既消，熱性乃發，庶藥氣與病氣，無扞格之虞也。</p>
</span>
</div>
