<header data-type="book">
<h1>小兒推拿方脈活嬰秘旨全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔廷賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1604">公元1604年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2824">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>余曰：育養小兒，難事也。讀康誥《保民如保赤》，誠求可知矣。蓋因體骨未全，血氣未定，臟腑薄弱，湯藥難施。一有吐泄、驚風、痰喘、咳嗽諸症，誤投藥餌，為害不淺。唯推拿一法，相傳上帝命九天玄女按小兒五臟六腑經絡，貫串血道。因其寒熱溫涼，用夫推拿補泄。一有疾病，即可醫治，手到病除，效驗立見。詢保赤之良法也。但此專用醫者之精神力量，不若煎劑丸散，三指拈撮，便易從事，故習學者少而真傳罕覯矣。予得此良法秘書已久，歷試都驗，不忍私藏，意欲公世，因而手著，最為詳晰，分為上下二卷。養育之家，開卷瞭然，隨用之效。育嬰妙法，盡載斯編矣。</p>
<p><u>康熙辛未年重刊</u></p>
<p>繡谷龔雲林書於保仁堂</p>

<h1>小兒椎拿活嬰秘旨序</h1>
<p>余專心慈幼，幾二十餘年。每患藥餌為小兒之所苦，思得是術以佐理之。然博採群書，俱繁冗沓雜，茫不知所從事。今幸逢洪都舒時卿手授茲集。在龔雲林先生當日，已經三刻，其書大行。慨自我清定鼎，兵燹屢經之餘，是集概不見傳，書版久廢。余與舒時老暨張友開翁，因舊本次序紊淆，三面訂定，重刻行世，亦以志周先生之功虧不朽，而見舒氏之世傳為非虛云。</p>
<p><u>皇清康熙五十年辛卯秋鵝湖王大卿題</u></p>

<h1>小兒推拿方脈活嬰秘旨全書序</h1>
<p>夫醫業一十三科，貴妙通玄之秘，病情百千萬變，當原感受之因。然醫豈易言哉，且世之業醫者良多，而求窮醫之道，明醫之理，窮病之原，察病之變者幾希。此蓋以藝視醫，不以道視醫，蓋由未盡儒者道故也。若悟真子，幼稱英敏，志期向素，習於儒業，登作者壇。後遊金陵，客於繁陽，歸而徙儒就醫，考古證今，通玄入妙。更精於兒科推拿，尤獨步也。予也壯遊楚洛，南歷開閩，過踵陵之，不得聞悟真子名矣，因踵其門，扣其倚，聆其音，窺其赤，果深入岐黃之域，更精研秦越之書，且夕寓焉。每於風霜月夕之下，相與談《素問》，皆得師授而諳理奧，出手澤一編，乃推拿方脈之書，真兒科之切要者，予因閱是書而知悟真子之心，果悟真矣。推小兒之稟賦，察病受之淺深，知藥石之難投，審經絡之可據，拿經點穴，瀉實補虛，透徹詳明。奚啻夜光之璧，通函察隱不減，照乘之珠，因勸之付梓人，以廣其傳，逐授筆書於首云。</p>
<p><u>康熙甲午年孟春月重鐫</u></p>

<h1>卷一</h1>

<h2>總論</h2>
<p>嘗聞小兒方脈科，古人謂之啞科，最難調治，何也？蓋嬰童之流，難問症、察脈故耳。抑且臟腑脆嫩，孟浪之劑，峻寒、峻熱不敢輕試。且兒在襁褓，內無七情、六慾交戰，外無大風、大寒相侵，何嬰兒疾繁且甚歟？大抵，半胎毒、半傷食也，其外感風寒，什一而已。曰：臍風、胎驚、痘疹、斑瘡、驚癇、發搐、痰壅、赤瘤、白禿、解顱、鵝口、重舌、木舌諸症，豈非孕母不謹胎毒所致歟？且小兒在胎，母飢亦飢，母飽亦飽。辛辣適口，胎氣隨熱；情欲動中，胎息輟躁。或多食煎煿，恣味辛酸；嗜欲無節，喜怒不常，皆能令兒受患。母既胎前不節，胎後又不能調，惟備姑息，未足百啐，餌以酸鹹；未彀甫周，啖以肥甘，百病由此而生矣。曰：吐瀉、黃疸、五疳、腹脹、腹痛、水腫、瘧、痢、痰喘，豈非乳食過傷，調養失宜所致歟。此古者婦人妊子，寢不側，坐不邊，立不蹕；不食邪味，不聽淫聲，不視邪色，有旨哉，幼幼之法，必深得造化生生不息之意。此古人多壽考，兒少夭折也。有等稟性溫良之婦，有娠，不嗜欲、縱口，生兒少病，而痘疹亦稀。為兒醫者，臨症之際，宜察色、觀形，不宜鹵莽。如頰赤，知心熱；鼻紅。知脾熱；左腮青，知肝氣有餘；右腮白，知肺經不足；頦白，知腎虛。更參虎口三關之脈，小兒病情斯過半矣。</p>

<h2>蒸變論</h2>
<p>小兒初生，血氣未足，陰陽朱調，骨骼未全，故有蒸變之候。每三十二日一變，六十四日一變蒸。變則精神易，蒸則骨骼成。或發熱，或吐或汗，呻吟，不食，煩啼，鼻塞，咳嗽，痰涎。變候七日，蒸過十三。初變：腎水，志，身熱，耳骫冷。二變一蒸：膀胱，上唇腫如臥蠶。三變：心火，學笑，生驚悸。四變二蒸：小腸，渾身壯熱而硬。五變：肝木，夜多啼哭。六變三蒸：在膽，學坐，閉目，生驚搐。七變：肺金，學語，牙齒生。八變四蒸：大腸，學硑。噴嚏，泄瀉。九變：脾土，吐、瀉，識人，知喜怒。十變五蒸：屬胃，微汗、腹痛，呼父母。心包、三焦無形，故無蒸變。五蒸十變，天地生成之數全矣。八蒸者，後三大蒸，漸學移步，能應名。共五百零十二日，變則手足受血，足能行而手能持，亦有胎氣壯實，喑變而無諸症者，此骨節臟腑由變而全，而胎毒亦由變而散也。</p>

<h2>驚風論</h2>
<p>經云：諸風掉眩，統屬肝木。小兒純陽，真水未旺，心火已炎，故肺金受制，無以平木。故肝木有餘，而脾土常不足也。失於保養，塞暄不調，以致外邪侵襲；飢飽失節，以致中氣損傷，而急驚、慢驚之候作矣。故急驚屬肝，風木有餘之症；慢驚屬脾，中土不足之候。有餘，則清之、瀉之；不足，則溫之、補之。急驚之症，因聞霹靂之聲，或騾馬禽獸之唬，以致面青、口噤、聲嘶、發厥。過則容色如常，良久復作，身熱，面赤，引飲，口鼻氣熱，二便黃赤，惺惺不睡。蓋熱盛生痰，痰盛生風，因驚而發耳。慢驚之症，因飲食不節，損傷脾胃，吐瀉日久，中氣大虛，發搐無休，身冷，面黃，不渴，口鼻氣寒，二便清白，露睛，昏睡，目上視，手足瘛瘲，筋脈拘攣。蓋脾虛生風，風盛則筋急，即天吊風是也。錢氏謂：急驚無陰之症，心經實熱，陰不能配陽，為陽盛陰虛之候；慢驚是無陽之症，脾土虛甚，火不能勝水，為水甚火虛之候。故急驚者，十生一死；慢驚者，十死一生。當諳此理，不可混作一途。</p>

<h2>諸疳論</h2>
<p>經云：數食肥，令人內熱；數食甘，令人中滿。蓋其病因肥甘之所致，故名曰疳。夫襁褓中之乳子，與四五歲之孩提，乳哺未息，胃氣未全，而穀氣未充也。不能調助，惟務姑息，舐犢之愛，恣良肥甘，瓜果生冷，一切烹飪調和之味，朝餐暮飧，漸成積滯膠固，以致身熱體瘦，面色痿黃，肚大青筋，蟲疰瀉痢，諸疳作矣！</p>

<h2>吐瀉論</h2>
<p>經云：諸嘔吐酸，暴注下迫，皆屬於熱。又曰：濕盛則濡泄。夫小兒吐瀉，皆由乳食過度，冷熱不調，脾胃不和，傳化失常，停滯於內，外感寒熱，而吐瀉作矣。瀉黃、嘔逆為熱，瀉清、吐乳為寒。須認切當，可也。</p>

<h2>嬰童賦</h2>
<p>乾元好生，坤元長養。人稟陰陽，天地囊龠。父精、母血以成形，天清、地濁而升降。顧一月之胎，形如珠露；二月之胚，痕若桃花。三月、四月，而男女形象分明；五月、六月，而五臟六腑具足。七月，髮發生而關竅通；八月，動其手而遊其魂。九月，兒身三轉；十月，母妊當分。兒在胎而餐母血；母嗜欲最要提防。母寒、子寒，母熱、子熱。男女初生，調理須要得宜；腸胃未充，飯食不宜哺啜。六七日臍帶未乾，縱炎熱休頻浴水。或緣客氣相沖，遂染臍風惡候。盤腸，疝氣，撮口，噤風，皆因風火為殃，未滿十朝難治。若是初生，形如啞子，緣母飲冷，寒入肺經；晝夜啼哭徹曉，皆由熱盛心驚。癬疥多因胎熱，身黃名曰胎黃。馬牙疳、七星丹，針而復繳；木舌風、重舌風，刺而後敷。更有蒸變，骨骼乃成。三十二日一變，六十四日一蒸。八蒸、十變，志意漸生；長智、長骨，能應能行。是兒暗行蒸變，必緣稟賦完全。胎驚、內釣，夜啼聲多，屬臟寒；瀉青、瀉黃兼吐乳，須分寒熱。雖云驚症多般，大抵風、痰、食、熱。發為搐搦，咬牙，寒戰；變為循衣，眼竄，筋攣。治法：導食、豁痰作主，清心、瀉木為先。更有慢驚，起於脾虛，露睛、昏睡；身寒虛變，脾風速死，天釣驚抽，眼目痓癇，取下風痰。更有諸疳，多傷食積。心、肝、脾、肺、腎，五臟異症；丁奚、哺露症，急治尤難。痢乃物積、氣滯，瘧分邪客、水火。肚痛當分虛實，吐乳總曰胃寒。解顱、語遲、夜滯頤，蓋是原虛；口瘡、鵝口、癩頭瘡，原由胎毒。赤瘤、火眼，皆從火熱；囟高、囟陷，咎歸脾虛。如斯古怪，更為何因？豈非乳母不善調治，致兒百病叢生者乎。臨症三思、診視，庶幾起死、回生。</p>

<h2>面部險症歌</h2>
<p>額上紅多熱燥多，若逢青色急驚疴，形如昏暗多應死，青貫山根奈若何？</p>
<p>囟門腫起定為風，此候應知最是凶，忽陷成坑如盞足，不過七日命應終。</p>
<p>印堂青色搐驚多，紅主心驚白主和，或見微微青紫色，只因容忤症相過。</p>
<p>山根青現兩遭驚，紫色傷脾吐瀉因，紅色夜啼聲不歇，若逢白色死之形。</p>
<p>年壽黃為吐瀉基，若然㿠白是為虛，兩頤赤為啼哭熱，更兼黃色吐因之。</p>
<p>鼻準微黃紫庶幾，深黃死症黑應危，人中短縮緣吐利，黑形唇反定難醫。</p>
<p>鼻門黑燥渴難禁，面黑唇青命不存，肚大青筋俱惡候，更嫌身有直身紋。</p>
<p>唇上鮮紅潤者平，燥乾紅熱即黃生，白形失血青驚重，黑紋繞口死之徵。</p>
<p>承漿青色食時驚，黃多吐逆是真形，煩躁夜啼青主吉，金匱青生亦主驚。</p>
<p>青脈生於左太陽，須驚一度見推詳，赤是傷寒微燥熱，黑青知是乳多傷。</p>
<p>右邊青脈不須多，有則頻驚怎奈何？紅赤為風抽眼目，黑青三日見閻羅。</p>
<p>忽見眉間紫帶青，看來立便見風生，青紅碎雜風將起，久病眉紅是死形。</p>
<p>白睛青色有肝風，有積黃形不及瞳，若見黑精黃色現，傷寒發疽是其蹤。</p>
<p>兩頰風池二氣黃，躁啼吐逆色鮮紅，更如火煅還多燥，肺家客熱死非空。</p>
<p>兩頰黃為痰塞咽，青色肝風紅主熱，赤是傷寒黃主淋，二色精詳分兩頰。</p>
<p>左腮紅為痰氣盛，右腮紅是風寒症，面而黧黑危急形，面帶微紅驚且熱。</p>
<p>面白黃多吐利因，面青唇白急驚成，面白唇青方瘧疾，面多白色腹中疼。</p>
<p>面紅唇赤是傷寒，面目皆黃濕熱端，面黃弄舌心煩躁，面腫虛浮咳利干。</p>
<p>兩眉紅主夜啼多，眉皺頭疼痢疾呵，眼胞浮腫咳之久，不爾因疳瘧痢疴。</p>
<p>瞑目昏昏似睡兮，不轉睛而半露徵，縱開目內無光彩，此症由來號慢脾。</p>
<p>耳輪乾燥骨蒸容，耵聹耳內自流膿，耳輪冰冷知麻痘，耳後紅絲縷亦同。</p>
<p>鵝口口中皆白垢，脾熱必然多口臭，魚口鴉聲最不祥，舌唇黑色應難救。</p>
<p>口張出舌是驚風，重舌木舌熱干中，舌上生舌陽毒結，舌上生芒刺亦可。</p>
<p>舌上白滑亦難醫，舌上黑胎全不和，舌上黑色命將休，舌卷難言死可知。</p>
<p>咬牙寒戰痘瘡傳，牙根出因是牙鮮，牙根白色瀉痢急，齒嚼咬人不久延。</p>
<p>牙稿焦枯脾熱致，牙折腎經疳積是，牙床癢塌咬牙疳，牙關緊急驚風使。</p>
<p>口沫啼叫蟲痛乎，涎來清白胃寒虛，吐涎黃水非良候，壅塞風痰吐盡奇。</p>
<p>呵欠面黃脾土虛，面青呵欠是驚迷，面紅呵欠為風熱，呵欠久病陰陽離。</p>
<p>呵欠氣熱是傷寒，呵欠喘急傷風傳，多眠呵欠因疲倦，呵欠煩悶痘瘡傳。</p>

<h2>險症不治歌</h2>
<p>小兒症候要佔詳，閉目搖頭搐一場，鼻頭汗出兼吐痛，手抱胸前畢竟亡。</p>
<p>白膜侵入瞳人內，四肢不收候可傷，指上黃紋青驚變，魚口鴉聲不久長。</p>
<p>太陽青筋生入耳，定睛魚口亦非良，赤脈貫睛非吉兆，舌紋目下亦多殃。</p>
<p>莫教口鼻蛔蟲黑，鴉聲啼哭是難量，胸陷唇乾手足冷，掌冷頭低亦主亡，此時縱惜如珍寶，也須頃刻葬荒岡。</p>

<h2>面部捷徑歌（此色與三關看法同）</h2>
<p>舌紋交錯紫兼青，急急求醫免命傾，盛紫再加身體熱，定知啼哭見風生。</p>
<p>紫少紅多六畜驚，紫紅相併即疳成，紫點有形如米粒，傷風積食證堪評。</p>
<p>紫散風傳脾臟間，紫青口渴是風癇，紫隱深沉難療治，風痰祛散命須還。</p>
<p>紅赤連兮赤略輕，必然乳母不相應，兩手忽然無脈見，定知沖惡犯神靈。</p>
<p>黑輕可治死還生，紅赤傷寒痰積停，赤青脾受風邪症，青黑脾風作慢驚。</p>

<h2>小兒無患歌</h2>
<p>孩童常體貌，情態自殊然，鼻內干無涕，喉中絕沒涎。頭如青黛染，唇似點朱鮮，臉方花映竹，頰綻水浮蓮。喜引方才笑，非時手不掀，縱哭無多哭，雖眠未久眠。意同波浪靜，性若鏡中天，此候俱安吉，何愁疾病纏。</p>

<h2>夭症歌</h2>
<p>身軟陽痿頭四破，臍小臍高肉不就，髮稀色脆短聲啼，遍體青筋俱不壽，尻腫臏骨若不成，能踞能行皆立逝。</p>

<h2>面部五色歌</h2>
<p>面赤為風熱，面青驚可詳，心肝形見此，脈症辨陰陽，脾肺黃疳積，虛寒㿠白傷，若逢生黑氣，腎敗即須防。</p>

<h2>虎口三關察症歌</h2>
<p>欲知虎口何處是？男左女右第二指，先分風氣命三關，細察根源尋妙理。</p>
<p>初得病時見風關，稍進驚痰氣關裡，若到命關直透時，危急存亡須審視。</p>
<p>色紅易療紫則進，青極變黑終不治，紋青枝紫傷風症，紋紫枝紅傷寒病。</p>
<p>肺熱時結紅米粒，黑色透唇傷暑論，青紋瀉痢胃家寒，白色微微卻是疳。</p>
<p>枝赤涎潮胸否膈，黃紋隱隱困脾端，枝形恰似垂釣樣，風寒二症分其向。</p>
<p>向外傷風有汗形，向內傷寒無汗恙，關上枝青魚刺形，驚疳虛風三部分。</p>
<p>枝直懸針青黑色，水驚肺熱慢脾並，枝如水字三關有，咳嗽積滯風疳久。</p>
<p>枝如乙字青紅紋，總是驚風慢脾咎，一曲如環乳食傷，兩曲如鉤冷之端。</p>
<p>三曲長蟲傷硬物，雙鉤脈樣定傷寒，枝形或若似彎弓，如環如蟲又不同，亂紋十物如川字，食積疳成五臟風。</p>

<h2>虎口脈紋五言獨步歌</h2>
<p>虎口脈紋多，須知氣不和，色青驚積聚，下亂瀉如何？青黑慢驚發，入掌內吊多，三關若通度，此候必沉疴。青紅驚急症，黃黑水傷殘，紫色生驚搐，紅筋熱在肝。關中存五色，節節見紋斑，風關通九竅，色色是風紋。關中青與白，定是食傷生，氣關從氣論，因氣便成形。未過三關節，相逢可賀生，命關生死路，風氣兩相攻。過了三關節，良醫總是空，五指梢頭冷，驚來不可當。梢頭如火噴，原因食傷夾，若逢中指熱，必定是傷寒。中指獨自冷，麻痘症相傳，紅紋如線樣，傷風發搐驚。右手病在臟，食傷驚積生，紋見三叉祥，生痰夜作聲。有青並有黑，吐瀉搐非輕，赤多因隔食，青是水風傷。筋紋連大指，陰症候相當，懸針主瀉吐，生花定不祥。手足軟腹脹，吐乳乳之傷，魚口鴉聲現，犬咬並人傷。黑時因中惡，白疳黃脾傷，青色大小曲，人驚並四足。赤色大小曲，水火飛禽撲，黃紫大小曲，傷米麵魚肉。黑色大小曲，脾風來作搐，囟門八字天，三關驚透亡。黑目相沖惡，掌冷亦堪傷，手足麻冷死，歪斜恐難當。口意心拽並，氣吼此兒亡，鼻紅兼嘴黑，華胥入夢鄉。</p>

<h2>五臟主病歌</h2>
<p>心經熱盛定癡迷，天河推過到陽池，肝經有病人多痹，推動脾土病能除。脾經有病食不進，推動脾土病必應，肺受風寒咳嗽多，可把肺經久按摩。腎經有病小便寒，推動腎水即救得，大腸有病泄瀉多，大腸推抹待如何。小腸有病小便閉，橫門𦙀門推可記，命門有疾原氣虧，脾土太陽八卦為。三焦主病多寒熱，天河六腑神仙訣，膀胱有病作淋疴，腎水八卦運天河。膽經有病口作苦，只從妙法推脾土，胃經有病寒氣攻，脾土肺金能去風。</p>

<h2>掌上諸穴拿法歌</h2>
<p>三關出汗行經絡，發汗行氣是為先，大腸側推到虎口，止瀉止痢斷根源。脾土宜補直為清，飲食不進此為魁，泄痢羸瘦並水瀉，心胸痞氣塞能開。掐心經絡節與離，推離往乾中要輕，胃風咳嗽並吐逆，此經推效抵千金。腎水一紋是後谿，推上為補下為清，小便閉塞清之妙，腎經虛便補為奇。六腑專治臟腑熱，遍身潮熱大便結，人事昏沉總可推，去病猶如湯潑雪。總筋天河水除熱，口中熱氣並括舌，心經積熱火眼攻，推之即好真秘訣。四橫紋和上下氣，吼氣肚痛皆可止，五經能通臟腑熱，八卦開胸化痰逆。胸膈痞滿最為先，不是知音莫可傳，水火能除寒與熱，二便不通並水濕。人事昏沉痢疾攻，疾忙須救要口訣，天門虎口須當竭，𦙒肘生血順是妙。一指五指節與推，驚風被唬要須知，小天心能生腎水，腎水虛少須用意。𦙀門專治氣發攻，扇門發汗熱宜通，一窩風能治肚痛，陽池專一治頭疼。二人上馬清補腎，威靈卒死可回生，外勞宮治瀉用之，拿此又可止頭疼。精靈穴能醫吼氣，小腸諸氣快如風。</p>

<h2>掌面推法歌</h2>
<p>一掐心經二勞宮，推上三關汗即通，如若不來加二扇，黃蜂入洞助其功。側掐大腸推虎口，螺獅穴用助生功，內傷泄痢兼寒瘧，肚脹痰吼氣可攻。一掐脾經屈指補，艮震重揉肚脹宜，肌瘦面若帶黃色，飲食隨時而進之。腎經一掐二橫文，推上為清下補盈，上馬穴清同此看，雙龍擺尾助其功。肺經一掐二為離，離乾二穴重按之，中風咳嗽兼痰積，起死回生便晌時。一掐腎水下一節，便須二掐小橫文，退之六腑涼將至，肚膨閉塞一時寧。總筋一掐天河水，潮熱周身退似水，再加水底撈明月，終夜孩啼即住聲。運行八卦開胸膈，氣喘痰多即使輕，𦙀門重揉君記取，即時飲食進安寧。眼翻即播小天心，望上須當掐下平，望下即宜將上掐，左邊掐右右當明。運土入水身羸瘦，土衰水盛肚青筋，運水入土膨脹止，水衰土盛眼將睜。陰陽二穴分輕重，寒熱相攻瘧痢生，痰熱氣喘陰重解，無吼無熱用陽輕。運動五經驅臟腑，隨時急用四橫文。</p>

<h2>掌背穴治病歌</h2>
<p>掌背三節驅風水，靠山剿瘧少商同，內外間使兼三穴，一窩風止頭疼功，頭疼肚痛外勞宮，潮熱孩啼不出聲，單掐陽池頭痛止，威靈穴掐死還生。一掐精靈穴便蘇，口歪氣喘疾皆除，內間外使平吐瀉，外揉八卦遍身疏。</p>

<h2>二十四驚推法歌</h2>
<p>兔絲驚主口括舌，四肢冷軟心家熱，推上三關二十通，清腎天河五十歇。運卦分陰亦三十，二十水底撈明月，蔥水推之蛤粉擦，手足中心太陽穴。洗口米泔仍忌乳，頃刻其驚潛咸滅。</p>
<p>馬蹄驚主肢向上，四肢亂舞感風嚇，推上三關五十通，三次掐手五指節。補脾運卦四橫文，各加五十無差迭，走磨搖頭三十遭，天門入虎神仙訣。姜水推之生冷忌，上馬揉之汗不歇。</p>
<p>水瀉驚主肚中響，遍身軟弱嘴唇白，眼翻寒熱不調勻，推上三關加半百，補脾運卦五十遭，天門入虎三次訣，橫文四十𦙒揉十，大蒜細研重紙隔，敷臍大久小片時，風乳飲食皆忌得。</p>
<p>鯽魚驚主吐白沫，肢搖眼白因寒唬，十三關上好追求，肺經走磨五十歇。八卦四十橫紋二，四次掐手五指節，上馬三遭茶洗口，蛤粉塗頂驚自滅。</p>
<p>烏紗驚主唇肢黑，面有青筋肚作膨，食後感寒風裡唬，三關五十逞奇能。運卦補脾並補腎，半百還揉二扇門，分陰二十橫四十，二十黃龍入洞增。麝香推罷忌乳風，虛汗來多補土行。</p>
<p>烏鴉驚大聲即死，眼閉口開手足舞，此是痰多被唬驚，三關二十應無苦，推肺運卦分陰陽，補腎橫文五十主，按弦走磨只三次，天心一掐蔥姜補，細茶洗口取微汗，蛤粉塗頂忌乳風。</p>
<p>肚脹驚氣喘不寧，青筋裹肚眼翻睛，此子只緣傷乳食，二十三關即效靈。大腸陰陽並八卦，補脾補腎半百勻，天門虎口只三次，五十橫文最有情。二十水底撈明月，蔥姜推取汗頻頻，搗蔥用紙重包裹，敷向胸前忌乳風。</p>
<p>潮熱驚多生氣喘，口渴昏迷食感寒，推關六腑各六十，河水陰陽四十完。八卦橫文須半百，三次天門入虎看，薑蔥推汗泔洗口，茱萸燈草腳心安。</p>
<p>一哭一死驚夜啼，四肢掣跳起登時，有痰傷食仍傷熱，八卦三關二十施。分陰陽清天河水，六腑清涼半百奇，橫文四十推鹽水，薄荷煎湯口洗之。生冷乳時須禁忌，搽胸用蛤更敷臍。</p>
<p>縮沙驚至晚昏沉，人事不知口眼掣，痰症三關四十推，八卦三十腎二百，虎口陰陽五十勻，指節一百為真訣，揉臍一十麝香推，蛤搽手足風忌得，研茶作餅內間敷，洗口還須湯滾白。</p>
<p>臍風驚主口吐沫，四肢掣跳手拿拳，眼翻偏視哭不止，三關一十問根源，運卦清金並補腎，龍戲珠背五十圓，指節數番姜水抹，米泔須用洗丹田。</p>
<p>慢驚咬牙眼不開，四肢掣跳脾虛是，八卦三關五十通，天門指節數番治，補腎五十十走磨，天心揉之風乳忌。</p>
<p>急驚捏拳四肢掣，口歪驚主感風寒，一十三關五十腑，補腎推橫五十完，運卦走磨加二十，威靈掐穴汗漫漫，推時更用蔥姜水，洗口燈心忌乳寒。</p>
<p>彎弓驚主肢向後，肚仰上哭不出聲，痰積三關推二十，五十須當把肺清。入水走磨加數次，一十天門入虎真，麝香水推荷洗口，百草霜敷治噤聲。</p>
<p>眼睛向上天吊驚，哭聲大叫鼻流清，清肺推關並運卦，推橫補土又分陰。各加五十無差別，走磨二十掐天心，推用蔥姜尤忌乳，宗因水唬致驚深。</p>
<p>內吊咬牙苦寒戰，掐不知疼食後寒，推關清腎仍清肺，補土五十一般般。天門虎口加二十，摘果猿猴半百完，推用麝香甘草洗，忌風生冷乳兼寒。</p>
<p>胎驚落地或頭軟，口噤無聲啞子形，胎毒推關兼補腎，補土清金半百勤。橫文二十威靈掐，虎口天門數次靈，燈火頂頭燒一燋，湧泉一燋便安寧，蔥姜推後應須退，不退應知是死形。</p>
<p>月家驚撮口拿拳，眼紅不響抹三關，橫文陰陽皆二十，運卦清金半百玄。取土入水運數次，指節數次二人連，蔥姜推後燈芯洗，蛤粉敷兩太陽邊。</p>
<p>盤腸氣喘作膨脹，人形瘦弱肚筋青，臟寒運卦推關上，指節橫文補腎經，補脾五十天心掐，外勞揉之立便輕，艾餅敷臍蔥水抹，麝香搽向腳中心。</p>
<p>鎖心驚主鼻流血，四肢冷軟火相侵，推關補腎天河水，運卦天門五十真。清肺分陰各二十，米泔洗口麝香淋，蛤粉細研搽兩額，還敷手足兩中心。</p>
<p>鷹爪掐人眼向上，哭時寒戰眼時光，肺風被嚇仍傷食，二十三關分陰陽，清金補土橫文等，各推五十用生薑，走磨入土皆數次，取肝燈芯洗口湯。</p>
<p>撤手驚主手足掣，咬牙歪口被風嚇，心熱推關二十通，運卦資脾加半百，橫文指節及天門，各加數次為準則，走磨一十蔥姜推，取汗微微驚自歇，仍將蛤粉搽手心，洗口茱萸須記得。</p>
<p>袒手驚主手袒下，眼黃口黑麵紫青，舌動只因寒水唬，五十三關把肺清。補腎橫文入虎口，八卦天河半百經，入水數次姜推汗，麝香敷向湧泉真，洗口細茶忌風乳，卻能起死致安寧。</p>
<p>看地驚主眼看地，手掐拳時心熱真，八卦橫文皆五十，三關一十掐天心，虎口𦙀門皆數次，蔥姜洗口用燈芯。</p>

<h2>雜症推拿歌</h2>
<p>吐逆四肢冷肚響，吐乳須知胃有寒，三關水火各二十，清金清腎四橫文。八卦各皆加半百，數次天門虎口完，十揉𦙒肘椒蔥汁，茱萸蛤粉腳心安。</p>
<p>肚痛三關推一十，補脾二十掐窩風，運卦分陰並補腎，揉臍入虎口中心，各加五十掐指節，𦙒肘當揉二十工，艾敷小肚須臾止，虎口推完忌乳風。</p>
<p>火眼三關把肺清，五經入土撈明月，各加二十𦙒肘十，清河退腑水陽穴，五十橫文十戲珠，兩次天河五指節。</p>
<p>氣腫天門是本宗，橫文水腫次詳閱，虛腫肚膨用補脾，此是神仙真妙訣。</p>
<p>黃腫三關並走磨，補腎皆將二十加，補土橫文皆五十，精靈一掐服山楂，推時須用蔥姜水，殷勤臍上麝香搽。</p>
<p>走馬疳從關上推，赤鳳陰陽一十歸，清河運卦兼撈月，各加五十麝香推，燒過倍子同爐底，等分黃連作一堆。</p>
<p>頭痛一十向三關，清土分陰並運卦，橫文及腎天河水，太陽各安五十下，陽池一掐用蔥姜，取汗艾葉敷頂上。</p>
<p>痰瘧來時多戰盛，不知人事極昏沉，陰陽清腎並脾土，五十麝香水可尋，走磨橫文各二十，桃葉將來敷腳心。</p>
<p>食瘧原因人瘦弱，不思飲食後門開，一十三關兼走磨，補土橫文五十回，𦙒肘一十威靈掐，上馬天門數次歸。</p>
<p>邪瘧無時早晚間，不調飲食致脾寒，上馬三關歸一十，補脾補腎掐橫文，五十推之加𦙒肘，威靈三次勸君看，陰陽二關須詳審，走氣天門數次攢。</p>
<p>白痢推關兼補脾，各加五十掌揉臍，陰陽虎口仍揉肘，二十清腸取汗微，蔥姜少用揉龜尾，肚痛軍姜貼肚皮。</p>
<p>赤痢三關推一十，分陰退腑及天河，橫文五十皆相等，揉掌清腸龜尾摩，半百各加姜水抹，黃連甘草起沉疴。</p>
<p>痢兼赤白抹三關，陰陽八卦四橫文，龜尾大腸揉掌正，揉臍五十各相安，蔥姜推罷忌生冷，起死回生力不難。</p>
<p>痞痢推關補脾土，五節橫文二十連，退腑一百鹽揉否，螺獅艾葉及車前，細研敷向丹田上，白及將同牛肉煎。</p>
<p>熱瀉推腸退六腑，八卦橫文及掌心，揉臍五十同清腎，姜水推之立便輕。</p>
<p>冷瀉推關及大腸，運卦分陰補腎鄉，各加五十推姜水。走磨指節並臍旁，掌心數次同龜尾，此是先賢治瀉方。</p>
<p>傷寒潮熱抹三關，六腑陰陽八卦看，清腎天河加五十，數次天門入虎鑽，五指節當施五次，蔥姜推罷立時安。</p>
<p>吐法天河撈明月，數番六腑五指節，螺獅苜蓿貼丹田，大瀉大腸真妙訣。小便不通用蜜蔥，作餅敷囊淋自泄，若將搗爛貼丹田，此法能通大便結。</p>

<h2>驗症加減法</h2>
<p>小兒初生月，胸膈手頻翻，此病號領膈，父母惜兒難。</p>
<p>心中有痰，氣不轉，面黃，眼直視，不食，肚上青筋，用滾痰丸一行，隨用石膏燒末，蜜湯下。</p>
<p>小兒初生月，肢體瘦無涯，頭角毛稀少，原因鬼主胎。</p>
<p>小兒初生月，七吼血流鮮，指甲唇毛缺，胎中損莫收。</p>
<p>小兒初生月，兩眼爛其弦，此症胎中熱，驚風最是先。</p>
<p>此肝經有熱，眼目赤腫，鼻氣急，口吐涎痰，先服滾痰丸；後用寒水石方、四黃散治之，切不可點。</p>
<p>小兒初生月，啼哭作鴉聲，瀉下如藍色，胎中更積驚。</p>
<p>此心中有驚，拿十二經絡，服鎮驚丸，薄荷湯下。後用桃紅散，燈心湯下。</p>
<p>小兒初生月，吐浮熱中胎，不識常乳哺，原因是吐來。</p>
<p>此兒受寒，眼目青，四肢冷，先吐、後瀉，用通關散吹入鼻中；次用捉虎丹治上；瀉後，用平胃散治下。</p>
<p>小兒翻吐後，搐熱氣長吁，此病知醫療，其原號胃虛。</p>
<p>此體弱，元氣虛，不思飲食，肌肉不生，益黃散治之。</p>
<p>小兒驚吐後，食物不過喉，目定渾身腫，看看命不留。</p>
<p>小兒驚熱重，吐瀉後心煩，赤點連皮腫，醫人仔細看。</p>
<p>吐瀉後，熱泄，陽發在外，不能退熱，先拿經絡；後用薑湯磨滾痰丸。定搐用通關散吹入鼻中。</p>
<p>小兒初得病，體熱目皮張，父母憂驚死，醫人見識長。</p>
<p>拿左手、右足，用通關散吹之。</p>
<p>小兒驚積後，最要補腸中，此病虛中積，久病更加膿。</p>
<p>肚腹溏泄無常，有積，滾水下千金丸，後用平胃散補之。</p>
<p>小兒驚泄久，眼慢困沉沉，手足時加搐，良醫謂慢驚。</p>
<p>泄久脾虛，睡臥不醒，屬內寒矣，與急驚相似，不可用涼藥。用薑湯磨牛黃丸，後用益黃散治之。</p>
<p>小兒驚泄後，偃蹇若風癱，此氣為中療，醫人仔細看。</p>
<p>此症難識，先用通關散吹之，不開，不治；開則用降痰丸治下。</p>
<p><u>開關散</u>　細辛　麝香　皂角</p>
<p>兒小沉久病，慢慢患無時，欲死頻來去，經云號慢脾。</p>
<p>眼目望上，即同天吊驚風，先服滾痰丸，後用寒水石治之。</p>
<p>小兒驚風重，走注四肢癱，作熱時加搐，驚來淚不幹。</p>
<p>四肢無力，日夜啼哭，拿十二經絡，用燈芯湯送牛黃丸。</p>
<p>小兒腸冷後，時熱復加驚，咳嗽痰成壅，看看啼沒聲。</p>
<p>眼珠黃，心中痰結，聲氣閉塞，用黃荊子湯下滾痰丸。熱退，用伏龍肝煎湯，下山豆根、青礞石，即愈。</p>
<p>小兒初生月，噤口病非輕，吃乳頻吐沫，須令父母驚。</p>
<p>此名噤風：口噤，眉蹙，面紅，大聲。三日去臍，作臍風論。風在皮，無藥治之。</p>
<p>小兒初生月，腹緊哭聲長，此氣胎中受，經云號鎖陽。</p>
<p>此腹緊，作夜啼，用燈心膏湯治之。</p>
<p>小兒初生月，舌縮哭聲沉，愚者何能識，驚痰上鎖心。</p>
<p>此痰與積病相同，用滾痰丸治之。</p>
<p><u>十二手法主病賦</u></p>
<p>黃蜂入洞治冷痰、陰症第一；水底撈明月主化痰、潮熱無雙。鳳凰丹展翅同烏雙龍擺尾之功；老翁絞𦌛合猿猴摘果之用。打馬過天河止嘔、兼乎瀉痢；按弦走搓磨動氣、最化痰涎。赤鳳搖頭治木麻；烏龍擺尾開閉結。二龍戲珠利結止搐之猛將；猿猴摘果祛痰截瘧之先鋒。飛筋走氣專傳送之；天門入虎之能血也。</p>

<h2>十二手法訣</h2>
<p>黃蜂入洞法：大熱。一掐心經，二掐勞宮。先開三關；後做此法。將左、右二大指先分陰陽；二大指並向前，眾小指隨後，一撮、一上，發汗可用。</p>
<p>水底撈明月法：大涼。做此法，先掐總筋，清天河水，後以五指皆跪，中指向前，眾指隨後，如撈物之狀，以口吹之。</p>
<p>飛經走氣法：化痰，動氣。先運五經文；後做此法。用五指開張，一滾，一篤，做至關中，用手打拍乃行也。</p>
<p>按弦走搓磨法：先運八卦；後用二大指搓病人掌、三關各一搓；二指拿病人掌，輕輕慢慢如搖，化痰甚效。</p>
<p>二龍戲珠法：用二大指、二鹽指並向前，小指在兩旁，徐徐向前，一進、一退，小指兩旁掐穴，半表裡也。</p>
<p>赤鳳搖頭：此法，將一手拿小兒中指；一手五指，攢住小兒𦙒肘，將中指擺搖，補脾、和血也。中指屬心、色赤，故也。</p>
<p>烏龍擺尾法：用手拿小兒小指，五指攢住𦙒肘，將小指搖動，如擺尾之狀，能開閉結也。小指屬腎水、色黑，故也。</p>
<p>猿猴摘果法：左手大指、食指交動，慢動；右手大指、食指，快，上至關中，轉至總筋左邊，右上至關上。</p>
<p>鳳凰單展翅法：熱。用大指掐總筋；四指皆伸在下，大指又起，又翻四指，如一翅之狀。</p>
<p>打馬過天河：溫涼。以三指在上馬穴邊，從手背推到天河頭上。與撈明月相似。俗以指甲彈響過天河者，非也。</p>
<p>天門入虎口法：右手大指掐小兒虎口；中指掐住天門；食指掐住總筋，以五指攢住𦙒肘，輕輕搖動，效。</p>

<h2>寸口脈訣歌</h2>
<p>小兒有病須憑脈，一指三關定其息，浮洪風盛數多驚，虛冷沉遲定有積。小兒一歲至三歲，呼吸須將八至看，九至不安十至困，短長大小有形千。小兒脈緊是風癇，沉脈須知乳化難，腹痛緊弦沉實秘，沉而數者骨中寒。小兒脈大多因熱，沉細原因乳食結，弦長多隔肝風，緊數寒驚四肢掣。浮洪胃口似火燒，沉疴腹中痛不歇，虛滯有氣更兼風，肺孔多痢大腸血，臟腑三部脈來分，但以浮沉遲數則，風痰疾喜遲而浮，急大洪數兒不瘳。緊大邪氣風癇作，弦急寒邪風冷求，寒瘧脈弦而帶遲，熱瘧脈弦而帶數。下簡之脈喜細微，浮大見時難用藥，吐瀉順脈小而微，乳後輒吐脈亂宜。中暑霍亂喜浮大，最嫌沉細與沉遲，急驚之脈弦數急，慢驚之脈宜沉細。疳積診時洪大宜，沉細必然無藥治，水腫浮大得延生，細沉難以望安寧。吐衄腹痛沉細吉，浮數弦長藥不靈，緊數細快無他疾，沉緩不能消乳食，氣喘身熱宜滑淨，脈澀四肢寒者危。</p>

<h2>人門先知訣</h2>
<p>生死入門何處斷，指頭中用掐知音，此是小兒真妙訣，更於三部看何驚。</p>

<h2>虎口三關察脈圖</h2>
<p>紫熱紅傷寒，青驚白是疳，黑時為中惡，黃即困脾端。</p>
<p>三關青：鳥獸驚。浮因風受；沉因食受。</p>
<p>三關赤：水驚。浮因風受；沉因食受。</p>
<p>三關黑：是人驚。浮，熱在外；沉，熱在內。</p>
<figure>
<img data-orig-src="urn:270:10723.jpg" alt="圖一">
</figure>
<figure>
<img data-orig-src="urn:270:10724.jpg" alt="圖二">
</figure>
<figure>
<img data-orig-src="urn:270:10725.jpg" alt="圖三">
</figure>
<figure>
<img data-orig-src="urn:270:10726.jpg" alt="圖四">
</figure>
<figure>
<img data-orig-src="urn:270:10727.jpg" alt="圖五">
</figure>
<figure>
<img data-orig-src="urn:270:10728.jpg" alt="圖六">
</figure>
<figure>
<img data-orig-src="urn:270:10729.jpg" alt="圖七">
</figure>
<figure>
<img data-orig-src="urn:270:10730.jpg" alt="圖八">
</figure>
<figure>
<img data-orig-src="urn:270:10731.jpg" alt="圖九">
</figure>
<figure>
<img data-orig-src="urn:270:10732.jpg" alt="掌面諸穴圖">
</figure>
<figure>
<img data-orig-src="urn:270:10733.jpg" alt="圖十">
</figure>
<figure>
<img data-orig-src="urn:270:10734.jpg" alt="圖十一">
</figure>
<figure>
<img data-orig-src="urn:270:10735.jpg" alt="圖十二">
</figure>
<figure>
<img data-orig-src="urn:270:10736.jpg" alt="圖十三">
</figure>
<figure>
<img data-orig-src="urn:270:10737.jpg" alt="圖十四">
</figure>
<figure>
<img data-orig-src="urn:270:10738.jpg" alt="圖十五">
</figure>
<figure>
<img data-orig-src="urn:270:10739.jpg" alt="圖十六">
</figure>
<figure>
<img data-orig-src="urn:270:10740.jpg" alt="圖十七">
</figure>
<figure>
<img data-orig-src="urn:270:10741.jpg" alt="圖十八">
</figure>
<p>凡諸文，三關通度，俱皆惡候，然不越驚、熱、風、痰而已。</p>
<p>運水入土：能治脾土虛弱，小便赤澀。如脾土虛，瀉痢，即運土入水；如小便赤澀，即運水入土。</p>
<p>總筋，屬土，總五行，以應脾胃。主溫熱。外通𦙀門，周流一身；壅塞之症及諸驚，皆掐此。</p>
<p>赤筋：屬火，以應心、小腸，主霍亂、作寒，掐此。</p>
<p>青筋：陽木，以應肝、膽，主溫和，通兩目，赤澀、紅生、多淚，掐此。</p>
<p>白筋：濁陰，屬金，以應肺、大腸，通一身之竅。微涼，胸膈痞滿，頭昏，生痰；退熱掐此。</p>
<p>黑筋：重陰，屬水，應腎、膀胱，通兩耳。主冷氣、尪羸、昏沉，掐此。</p>

<h2>掌面諸穴圖</h2>
<p>掐心一節及勞宮，推三關，能出汗；後做黃蜂入洞（心在中指）。</p>
<p>內勞宮：屈中指盡處是穴，發汗用。</p>
<p>天河水：在總筋下三指。掐總筋，清天河水，水底撈明月，治心經有熱。</p>
<figure>
<img data-orig-src="urn:270:10742.jpg" alt="圖十九">
</figure>
<p>橫文掐至中指尖，主吐（橫文在掌盡處）。</p>
<p>無名屬肺。掐肺一節及離宮節，止咳嗽；離至乾中，要輕。</p>
<p>小指屬腎。掐腎一節，小橫文、大橫文、退六腑，治小便赤澀。運五經文，治五臟六腑氣不和。</p>
<p>運四橫：和上下不足之氣，氣急、氣喘、腹肚疼痛。</p>
<p>大指屬脾。掐脾一節，屈指，為補。小兒虛弱，乳食不進。</p>
<p>𦙀門：在大指節下五分，治氣促、氣攻。𦙀門推向橫文，主吐；橫文推向𦙀門，主瀉。</p>
<p>橫文兩旁，乃陰陽二穴。就橫文上，以兩大指中分，望兩旁抹，為分陰陽：肚脹、腹膨脹，泄瀉，二便不通，臟腑虛，並治。</p>
<p>運八卦：開胸膈之痰結。左轉止吐；右轉止瀉。</p>
<p>天心穴：乾入寸許，止天吊驚風，口眼歪斜，運之，效。</p>
<p>虎口對天門：推之，名天門入虎口。推後，二指拿定二穴，一指掐住總筋，以手揉𦙒肘，是也。</p>
<p>清天河，分陰陽，赤鳳搖頭，止夜啼。</p>
<p>掐中指一節及指背一節，止咳嗽。</p>

<h2>掌背穴圖</h2>
<p>掐五指背一節：專治驚嚇，醒人事，百病離身。</p>
<p>掐大指少商穴：治濕痰，瘧、痢。</p>
<p>靠山穴：在大指下掌根盡處腕中，能治瘧疾，痰壅。</p>
<p>威靈穴：在虎口下兩旁歧，有圓骨處。遇卒死症，搖掐即醒。有聲則生，無聲則死。</p>
<p>一扇門，二扇門：在中指兩旁夾界下半寸是穴。治熱不退，汗不來，掐此，即汗如雨，不宜太多。</p>
<figure>
<img data-orig-src="urn:270:10743.jpg" alt="掌背穴圖">
</figure>
<p>精靈穴：在四指、五指夾界下半寸，治痰壅、氣促、氣攻。</p>
<p>二人上馬：在小指下里側，對兌邊是穴。治小便赤澀，清補腎水。</p>
<p>外勞宮：在指下，正對掌心是穴。治糞白不變，五穀不消，肚腹泄瀉。</p>
<p>一窩風：在掌根盡處腕中。治肚痛極效。急慢驚風。又一窩風掐住中指尖，主瀉。</p>
<p>陽池穴：在掌根三寸是。治風痰，頭痛。</p>
<p>外運八卦：能令渾身酥通。</p>

<h2>腳上諸穴圖</h2>
<p>膝眼穴：小兒臉上驚來，急在此掐之。</p>
<p>前承山穴：小兒望後跌，將此穴久掐，久揉，有效。</p>
<p>解谿穴：又驚、又吐、又瀉，掐此即止。</p>
<p>鞋帶穴：小兒望後仰，掐此，效。</p>
<p>若小兒驚急掐人，眼光掣跳，寒戰，咬牙，將大指一節久揉，即止。掐左足，右手，又將手中指一節掐三下。</p>
<p>揉龜尾並揉臍，治水泄，烏紗膨脹，臍風、急慢等症。</p>
<p>後承山穴：小兒手足掣跳，驚風緊急，快將口咬之，耍久，令大哭，方止。</p>
<figure>
<img data-orig-src="urn:270:10744.jpg" alt="腳上諸穴圖">
</figure>
<p>僕參穴：治小兒吼喘，將此上推、下掐，自然甦醒。如小兒急死，將口咬之，則回生，名曰老虎吞食。</p>
<figure>
<img data-orig-src="urn:270:10745.jpg" alt="正面圖">
</figure>

<h2>五色不治歌</h2>
<p>青色如針兩目下，良醫也須怕。忽然腹痛面青時，何必更求醫。青色橫目及入耳，此症應知死。赤侵眉間死無疑，七日可為期。青色如針入口裡，報君三日已。黑色遮眉入繞目，命殂何太速！黑起眉間也不良，十日定知亡。人中黑色入口裡，必做黃泉鬼。眼目自閉睜睜開，死信也將來。水腫之病目輸黑，報道腎經絕。久咳唇白及繞頤，死日不多時。孩童吐血鼻塞白，命殂救不得。久病忽然面似妝，不久見閻王。目陷無光兼直視，禍從三朝至。更有瞳人不轉動，休將良藥用。口噤全然不進乳，此病必難許。瀉下之物如瘀血，此兒休望活。利久不食又咬人，終與鬼為鄰。瀉利不止熱又生，如何想命回。久吐不止止又吐，此病人鬼數。耳內生瘡黑斑出，醫人休用術。下糞黑色不止時，不必望生期。久嗽四肢皆厥冷，備起棺木等。小兒腹脹喘又粗，終須向死途。這般諸惡症，枉費用工夫。</p>
<p>小兒牙關緊閉，將夾車穴揉之，自開。</p>

<h2>正面部位歌</h2>
<p>中庭與天庭，司空及印堂，額角方廣處，有病定存亡。青黑驚風急，體和滑澤光，不可陷兼損，唇黑最難當。青甚須憂恐，昏暗亦堪傷，此是命門地，醫師要較量。</p>
<p>額上屬心，鼻準屬土，左腮屬肝，右腮屬肺，下頦屬腎。</p>
<p>天吊驚：眼向上不下。將兩耳珠望下一扯，一掐，即轉。</p>
<p>肝驚起髮際，肝積在食倉，肝冷麵青白，肝熱正眉端。</p>
<figure>
<img data-orig-src="urn:270:10746.jpg" alt="正身圖">
</figure>
<p>脾驚正髮際，脾積唇應黃，脾冷眉中嶽，脾熱太陽侵。</p>
<p>肺驚髮鬢赤，肺積髮際當，肺寒人中見，肺熱面腮旁。</p>
<figure>
<img data-orig-src="urn:270:10747.jpg" alt="背面圖">
</figure>
<figure>
<img data-orig-src="urn:270:10748.jpg" alt="撮口驚圖">
</figure>
<p>腎驚耳前穴，腎積眼包相，腎冷額上黑，腎熱赤食驚。</p>
<figure>
<img data-orig-src="urn:270:10749.jpg" alt="縮紗驚">
</figure>
<p>心驚在印堂，心熱額角荒，心冷太陽位，心熱面頰妝。</p>
<p>撮口驚：服乳即吐，人事昏沉，急須用燈火煅曲池各一燋，虎口各一燋，一窩、中脘各七燋。</p>
<p>縮紗驚：日輕、夜重，人事昏迷，四肢軟，如坐地。用桃皮、生薑、飛鹽、香油、宮粉和勻，推之。兩膝、委中、內關穴上，豬尾骨上，各用燈火斷之。</p>
<figure>
<img data-orig-src="urn:270:10750.jpg" alt="急驚風圖">
</figure>
<figure>
<img data-orig-src="urn:270:10751.jpg" alt="慢驚風圖">
</figure>
<p>雙眼翻白，青筋，氣吼、撮口、吐沫即死者，急驚風也。用燈火斷眉心一燋，鼻梁一燋，心演一燋，兩手總筋各一燋，兩足鞋帶穴各一燋。以生薑、香油、熱推之。</p>
<p>慢驚風：蓋因逐日被唬，雨濕所傷，驚恐所致。露睛，昏睡，咬牙，口歪，心間迷悶，多於吐瀉後得之。掐住眉心良久，太陽、心演推之；燈火斷眉心、心演、虎口、湧泉穴各一燋，香油調粉推之。</p>
<p>膨脹驚：寒熱不均，有傷脾胃，飲食太過，胃不克化，氣吼，肚膨，肚上青筋，兩眼翻白。用燈火斷心演內三燋，囟門三燋，肚臍四燋，兩膝二燋，鞋帶各一燋，總筋各一燋。</p>
<figure>
<img data-orig-src="urn:270:10752.jpg" alt="膨脹驚圖">
</figure>
<p>鯽魚驚：因寒受風，痰湧結，吼氣不絕，口吐白沫，四肢舞，眼白。用燈火斷虎口各一燋，囟門四燋，口角上下四燋，心演內一燋，臍下一燋。</p>
<p>夜啼驚：又名肚脹驚。肚上青筋，腹脹如鼓，哭聲大叫，一哭，一死，手足熱、跳。用生薑、潮粉、桃皮、飛鹽推；燈火斷眉心一燋，平心三燋，太陽各一燋，囟門四燋，喉下一燋。</p>
<figure>
<img data-orig-src="urn:270:10753.jpg" alt="鯽魚驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10754.jpg" alt="夜啼驚圖">
</figure>
<p>臍風驚：多在三朝、一七。內發五臟冷寒，肚腹作脹，兩口角起黃丹，口內、心演有白泡瘡，挑破出血，效。燈火斷囟門四燋，喉下一燋，心平三燋。</p>
<p>挽弓驚：因飲食或冷、或熱，傷脾胃，失調理。冷痰湧於肺經。四肢向後仰上，哭不出聲，兩眼密閉，如挽弓之狀。燈火斷青筋縫上七燋，喉下三燋，繞臍四燋，魚肚一燋。</p>
<p>胎驚：因孕母食葷毒之物，受勞郁之氣，落地或硬或軟，眼不開，如啞子形，是母腹中受胎毒也。斷背脊筋縫上七燋，頂上三燋，喉下三燋，繞臍四燋，湧泉各一燋。</p>
<figure>
<img data-orig-src="urn:270:10755.jpg" alt="臍風驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10756.jpg" alt="挽弓驚圖">
</figure>
<p>烏鴉驚：因食乳哺，被唬，或吃冷物，傷榮衛，大叫一聲、一死，眼閉，一掣一跳，聞響即唬，心經有熱，用老鴉蒜燒過，車前草擂水服。燈火斷囟門、口角各四燋，肩井、𦙒肘、手掌各一燋，心演、鼻梁、鞋帶一燋。一方：老鴉蒜燒為末，心窩擦之。</p>
<figure>
<img data-orig-src="urn:270:10757.jpg" alt="胎驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10758.jpg" alt="烏鴉驚圖">
</figure>
<p>烏縮驚：因食生冷太過，或迎風食乳，血經變成沙，行遍身，四肢黑，肚上青筋過臉，腹脹，唇黑，內有寒，主吐瀉。用燈火斷青筋縫上七燋，立效。</p>
<p>月家驚：因母當風睡臥，或月內受風，痰湧心口，落地，眼紅，撮口，捏拳，頭偏左右，哭不出聲，肚腹青筋，氣急。燈火斷胸前七燋，繞臍四燋，青筋縫上七燋，百勞穴二燋。</p>
<figure>
<img data-orig-src="urn:270:10759.jpg" alt="烏縮驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10760.jpg" alt="月家驚圖">
</figure>
<p>天吊驚：因母與之風處，乳食所傷，風痰經於胃口，頭後仰，腳後伸，手後稱，眼翻白向上。燈火囟門四燋，肩井二燋，總筋、鞋帶各一燋，喉下二燋，繞臍四燋。用鵝一隻，紮在傘下，扎住鵝嘴、取涎、飲之，效。</p>
<p>肚痛驚：因生冷過多，乳食所傷，臟腑大寒，身軟弱，口角白，眼翻，四肢冷，腹內痛，身發顫，用燈火斷肚臍四圍四燋。</p>
<figure>
<img data-orig-src="urn:270:10761.jpg" alt="天吊驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10762.jpg" alt="肚痛驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10763.jpg" alt="看地驚圖">
</figure>
<p>看地驚：因乳食受傷，夜眠受驚，飲食冷熱不調，兩眼看地，一驚便死，手捏拳，頭垂不起，口歪、咬牙，用燈火斷喉下三燋，囟門四燋，繞臍四燋。</p>
<p>潮熱驚：因失飢、傷飽、飲食不納，脾胃虛弱，遍身潮熱，腳向後亂舞，用燈火斷手上螺獅骨一燋，虎口一燋，繞臍四燋。</p>
<figure>
<img data-orig-src="urn:270:10764.jpg" alt="潮熱驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10765.jpg" alt="蛇絲驚圖">
</figure>
<p>蛇絲驚：因食無度，口拉舌，四肢冷，口噙母乳，一噴一口青煙，肚上青筋起，氣急。用燈火斷胸前六燋；小便頭上掐之。用蛇蛻四足纏之、便好。</p>
<p>馬蹄驚：因與葷毒之物食之，熱干脾胃，頭向上，四肢亂舞，如馬舉蹄。天心穴掐之，心經掐之，用燈火斷兩掌心並肩井各一燋，喉下三燋，臍下一燋。</p>
<figure>
<img data-orig-src="urn:270:10766.jpg" alt="馬蹄驚圖">
</figure>
<p>鷹爪驚：因乳食受驚，夜眠受唬，手抓人衣，仰上，哭聲大叫，身體寒戰，捏拳，手爪往下，口向上，肺經有熱。燈火斷頭頂、眉心、兩太陽、掌心、心演、湧泉、大敦穴各一燋，繞臍一轉。</p>
<figure>
<img data-orig-src="urn:270:10767.jpg" alt="鷹爪驚圖">
</figure>
<p>水瀉驚：因寒熱不調，肚中響而作痛，兩眼白，口唇白，身體軟弱，用燈火斷眉心一燋，心演一燋，總筋各一燋，一窩風各一燋，鞋帶穴各一燋，頰車穴各一針。</p>
<figure>
<img data-orig-src="urn:270:10768.jpg" alt="水瀉驚圖">
</figure>
<p>撒手驚：雙手袒下，一撒即死，咬牙，口歪，手足掣跳，用燈火斷總筋各一燋，一窩風各一燋。</p>
<figure>
<img data-orig-src="urn:270:10769.jpg" alt="撒手驚圖">
</figure>
<p>內吊驚：因食感寒，咬牙、寒戰，眼向內翻，人事昏沉，掐不知疼，用燈火斷囟門四燋，心演內一燋，兩手總筋各一燋。</p>
<p>迷魂驚：昏沉不知人事，咬牙、一死。先掐眉心、鼻梁下，後用燈火斷心演內一燋，鞋帶穴一燋，總筋各一燋。</p>
<figure>
<img data-orig-src="urn:270:10770.jpg" alt="內吊驚圖">
</figure>
<figure>
<img data-orig-src="urn:270:10771.jpg" alt="迷魂驚圖">
</figure>

<h2>補遺臍風論</h2>
<p>夫小兒驚症，而臍風最酷，誠為可畏。其候：鎖喉、撮口，俗云荷包風，十無一生。原因風濕所傷，或因尿在衣內，遂襲成風。又因三五日臍落之後，頻與之浴，水入臍內，變作盤腸痧氣作痛。近時論云：皆由臨盆之時，產母立高，小兒落地，胞尚未來，臍帶吊動肚皮脂膜，以致血脈沸騰，急脹如鼓，風痰潮作，更襲外風而撮口、鎖喉、噤風之症作矣。用細辛為末，或用烏梅蘸擦牙關，吐涎便愈。詳看肚臍四圍，有紫黑筋形，用小針挑出紫黑血，愈。用面作餅子，貼臍中央，艾火灸三四壯。又法：用燈火燒臍斷，妙。又法：看口內喉演有白泡瘡如豆大，挑破，出血，效。</p>

<h2>刺泡法</h2>
<p>小兒初生下即死，看兒口中前齶上有泡，名曰懸癰。以手指掐破，用帛拭淨，即活。若血入喉，即死。</p>

<h2>回氣法</h2>
<p>初生氣欲絕，不能啼者，必是難產，或冒寒所致。急以棉絮包裹，抱懷中，未可斷臍帶，且將包衣置炭火中燒，仍作大紙條，蘸清油、點著，於臍帶上往燎之。兒得火氣，由臍入腹；更以熱醋湯洗帶，須溲即回。啼叫如常，方可洗浴斷臍。</p>

<h2>通便法</h2>
<p>初生下，大、小便不通，腹脹欲絕者，急令其母以溫水漱口，吸咂兒胸、背、心並臍，兩手、兩足四心，共七處。凡三五次，以紅赤為度。須溲、即通。不然無生意。</p>

<h2>貼囟法</h2>
<p>治初生時，被風吹，鼻塞，服藥不退，用南星為末，生薑自然汁調成餅，貼囟上，自愈。</p>
<p>治初生下，遍身無皮，但是細肉，宜速用白早米粉干撲，候皮生，乃止。</p>
<p>治小兒初生，遍身如魚泡，或如水晶，碎則成水，用密陀僧，研極細末摻；仍服蘇合香丸。</p>
<p>治七日腎縮，乃初生受寒所致。硫黃、茱萸等分，為末，研大蒜，調塗其腹；仍以蛇床子微炒，火燒、煙燻。</p>

<h1>卷二</h1>

<h2>病機纂要</h2>
<p>嘗謂臟腑病因，數變莫測。暑濕風寒易辨；經絡虛實先明。心主驚而肝主風；脾主困而肺主喘。腎水為臟，專主於虛。肝實：則兩目直視，大叫、呵欠，項急、煩悶，瀉青丸須宜早啜；肝虛：則咬牙，多欠，氣熱外生，氣濕內生，地黃丸猶所堪裁。叫哭、發熱、飲水、搐，降君火，導赤、瀉心；困臥、悸動、體不安，補心脾，粉紅丸子。脾實：困睡、身熱，引飲水，瀉黃散可服；土虛：吐瀉、生風，異功散、益黃散堪嘗。肺實：悶亂、喘促，有飲水、不飲水之分，功成於瀉白；金虛：氣硬、唇白，有色澤、色不澤之別，效奏於阿膠。腎本虛而無實，目無光而畏明。額解顱而面㿠白，地黃丸而補腎虛。大都：筋脈統屬於肝；熱盛，則直視有準；風生，則連劄無疑。風熱相攻，反張而痓，百日內發，是曰胎驚。真驚三發則死；假驚何用求神。或起於風寒跌撲；或由於雞犬聲聞。驚分急慢；症別陰陽。急者活而慢者危；急宜涼而慢宜補。抱龍丸、鎮驚丸總在滾痰；保生丹、醒脾飲，尤尊至寶。咳嗽何因，風寒痰火。有聲無痰兮，肺被火炎；有痰無聲兮，脾遭濕撓。春作氣升夏火炎，秋從濕熱冬寒滯。痰臭結癰在肺，午後嗽作。陰虛久嗽，龜胸須知。莫如，百合丹、款花膏，專除久嗽；參蘇飲、豁痰湯，更治風寒。夏傷暑而秋作瘧，食生冷而結痰。涎氣、正氣交攻；陰分、陽分各別。一日一發在陽分，可行截法；間一日發在陰分，養正而痊。痢多滯下，有赤、有白。物積內而氣滯中；白乾氣而赤乾血。綠如菜色，良由風濕之因；黃而帶赤，蓋是熱積所致。瘀滲、兜澀莫試；通因通用為宜。嘔吐因過飽，沖寒、痰火併胃虛所致。煩渴、挾暑；肢冷、中寒。月里嬰兒吐乳，卻緣何故？哭聲未定，乳之，氣逆上行。大都：正胃、調脾；治法：降痰、下氣。霍亂吐瀉並轉筋入腹；日熱夜寒互激，邪正難分。轉筋者，風生肝木；大瀉者，脾受濕侵。吐乃火炎心上，陰陽二氣相承。暑濕、霍冷、為當寒兮，姜附可稱。小兒泄瀉，食積之因。水瀉皆緣，濕盛；完穀、蓋是脾虛。數至而便無糞，泄名大瘕泄。不泄而或多矢氣，濕滯痰凝。五苓散效如奔馬；導滯湯速若驅霆。疳之得名，過食肥甘。白膜遮睛，發穗、毛乾、生癬疥；青筋繞肚，吃泥、瀉痢、脫肛門。身寒、身熱；或吐、或喘。吃茶葉，蟲居心上；齧𪔿炭、蟲食肝經。腎則吃鹽、面地；膽則喜醋、貪酸。蟲若歸脾，好吃土而並生米；上行齧肺，喜咬布以及衣裳。長蟲、寸白及蛔蟲，此因宿食居脾胃。蕪荑、貫眾，殺蟲聖藥；肥兒、脫甲，疳積仙方。驚痰：乳食作塊而痛；驚癖：痰凝當心作痛。痰癖，多啼，心上下痛。壯熱疳癖，身痛兼羸。右脅塊如掌跡，腑癖、不動，不遷移，兩脅疼似杖形，食疼而來往衝心。除驚痰，滾痰為上；療積食，消導居先。驚積：夜啼，溺黃，糞青；風積：目青，露白，壯熱。乳積：面黃，乳罷哭而吐乳；疳積：身黃，肚脹，數為更衣。驚要鎮心；食須消導。熱症故有多般；要識陰陽虛實。壯熱、不言、面赤，心經獨受風邪。氣熱傷肺；濕熱傷脾。參詳外感、內傷；亦有似瘧、非瘧。身熱、惡熱、尤飲水，總屬內邪；身熱、惡寒、不飲水，皆為表症。身熱、頭疼、惡寒、無汗，是傷寒；頭疼、身熱、有汗、惡風，為風邪。陰虛：日輕、夜重，血上追尋；陽虛：日重、夜輕，氣中調理。陰虛陽盛：齧冰雪尚不知寒；陰盛陽虛：啜沸湯尤為不熱。風寒：表散；食積：下平。虛宜補而實可瀉；痰須豁而熱自清。汗本於心，內血外液。自汗，蓋屬陽虛；盜汗，卻緣陰竭。黃耆六一散，能令汗自滅。咽喉腫痛，潮起風痰。雙單乳鵝，痄腮，喉痹，急慢纏喉、鎖口，風痰火熱相煎。腹痛因寒，亦多火熱。手不可近為實；按之痛止為虛。無休、無歇為寒；時痛、時止為熱。絞腸沙，痛則口唇青黑；手足青冷，則危篤難醫。當胸卻是心疼；膈下積居胃脘。小腹寒疼，當臍食積。膀胱虛冷無約制，故令睡里遺尿；小腸心熱入膀胱，小便因而赤澀。溺閉、腹痛，名曰盤腸；小便溺血，古稱風閉。曰便濁，曰癃閉，疳火熱而客下焦；曰雞燈、曰砂疳，陰囊腫而溺沙石。欲解斯危，清心、導赤；水腫之原，土虧水泛。氣化失度，清於皮膚。先喘、先喘後脹，起於肺，先清金，而後利水。先脹，先脹後喘，起於脾，先利水，而後清金。當分陽腫、煩渴，溺赤。陰腫、不渴，溺白。各別。腰上腫，發汗可散；腰下腫，利水可痊。疹子之因，天行熱毒。泄瀉、煩嘔、昏悶、足冷、脈洪、咳嗽。輕則發為疹子；重則變作斑爛。錦文尚可，黑斑死形。赤瘤，丹毒朵朵、類若紅霞；身熱，腫痛昏昏、目閉頭低。頸上起、過胸則死；足上生，過腎難醫。雜症劇煩，略舉其要。庶後學知揭其提綱，而闢其遄謬。</p>

<h2>寒門總括歌</h2>
<p>百日胎寒與臟寒，中寒內釣疝同看，停傷食積留中脘，吐瀉頻啼哯乳干。小腹痛攻心與胃，虛膨滿悶兩眉攢，吐涎面白啼聲細，寒戰唇青手足拳。吐出不消純下白，四肢厥逆夜滋煎，如斯已上皆寒症，萬勿因循變病端。湯則理中加減用，或投七服七香丸，若能依此為施治，起死回生是不難。</p>
<p><u>小七香丸</u>　此乃總要之劑。能治小兒諸寒之病。其藥皆溫暖之劑，有益於脾胃者，故皆可服之。</p>
<p>香附　縮砂　益智　陳皮　蓬朮（俱用炒）　丁皮　甘松</p>
<p>為細末，薑汁糊丸，如黍米大。</p>
<p><u>理中湯</u>　治胃寒、嘔吐、心腹絞痛，一切寒症。</p>
<p>人參　白朮　乾薑（煨）　甘草（炙）</p>
<p>加薑、棗，水煎。</p>
<p>凡治寒：臟寒，手足拳曲，臉面青白，腸鳴，口冷，聲細，寒戰，或口噤、不乳，加木香、肉桂、芍藥（炒）。</p>
<p>凡中寒：腹痛、疝氣者，痛從小腹引至心、胃。口吐清水，面色青白，手足厥冷者，加吳茱萸、小茴香、川楝、青皮、枳殼。</p>
<p>凡寒吐瀉者，乳片不消，多吐、少出，瀉痢青白，小腹作痛者，加木香、半夏；吐甚者，加丁香。</p>
<p>凡脾胃受寒，飲食雖少，用即作飽，不易消化，加丁香、山楂。</p>
<p>凡寒：腹脹大，虛膨、青筋，內痛，喜食熱物，加大腹皮、檳榔、木香。</p>
<p>凡奔豚、疝氣，乃腎氣之積寒，自小腹下有物如筆管，升上即痛，加澤瀉、良薑、青皮、木香。</p>
<p>凡哯乳者，口角垂涎、乳食不消化，加枳殼、藿香。</p>
<p>凡寒疝，夜啼，更盡則復臥，哭多，睡少；天明則已。腰曲，額汗，眼中無淚，面色青白，漸入盤腸，加茱萸、茴香。</p>
<p>凡盤腸內吊者，身曲、軀僂、氣不舒暢，加縮砂、吳茱萸、沒藥、木香、蔥白同煎。</p>

<h2>熱門總括歌</h2>
<p>小兒生下胎受熱，目秘胞浮大便結，濕熱熏蒸遍體黃，小便淋漓或見血。滿口或疳或赤遊，發喘咽痛木舌，胎毒瘡瘍痛莫言，多啼不乳呻吟劇，諸症皆由壅熱為，大連翹飲不虛設，三黃化毒丹可兼，頓命慈母生歡悅。</p>
<p><u>三黃丸</u>　上焦、中焦蘊熱之症，並宜服之。</p>
<p>大黃　黃芩　黃連</p>
<p>為末，水丸。燈芯湯下。</p>
<p><u>五福化毒丹</u>　治小兒胎熱、蘊熱、胎毒、口瘡。</p>
<p>玄參　桔梗（各五錢）　人參　青黛（各一錢）　赤茯苓　馬牙硝（各二錢）　甘草（二錢）　麝香（三分）</p>
<p>已上八味，各為末，蜜丸，如芡實大。每服一丸，薄荷湯下。</p>
<p><u>大連翹飲</u>　治三焦積熱，大、小便不利，目赤、目腫，丹毒，口瘡，重舌，木舌，咽痛，瘡瘍，蘊熱等症，並皆服之。</p>
<p>連翹　瞿麥　滑石　牛蒡　車前　木通　山梔　當歸　防風　黃芩　荊芥　柴胡　赤芍　甘草　蟬退</p>
<p>水煎服。有加減法，如下：</p>
<p>胎熱者，加地黃。胎黃者，加茵陳。目赤，加黃連、羌活。小便澀者，加豬苓。大便秘者，加大黃、枳殼。大便血者，加地榆、槐角、枳殼。小便血者，加石蓮、麥門冬、生地。丹毒遍體，加黃連、犀角。胎毒、瘡瘍，加升麻、當歸梢。發頤，加羌活、白芷。咽痛，加桔梗、薄荷。重舌、木舌，加黃連、犀角、朴硝。弄舌、脾熱，加石膏。</p>

<h2>急驚歌</h2>
<p>熱甚生風作急驚，卒然目劄有痰鳴，面青臉赤頻牽引，實熱涼驚與利驚。金箔鎮心羌活散，稀涎更下滾痰輕，搐而不已頭多汗，生死還期自曉明。</p>

<h2>慢驚歌</h2>
<p>過服寒涼大病餘，或因吐瀉久成之，脾虛胃弱風邪入，眼慢騰騰搐四肢。面色白青身發冷，痰涎額汗露睛微，或兼下痢終難治，藥用溫脾與補脾。</p>

<h2>胎驚歌</h2>
<p>壯熱腮紅心不寧，四肢抽掣冷痰生，時時嘔吐身僵直，半歲不由胎受驚。又或項間生大塊，此名驚風積而成，消痰清熱先須理，定魄安魂用鎮驚。</p>

<h2>天吊驚歌</h2>
<p>天吊原由積熱生，涎潮心絡又多驚，雙眸翻上唇多燥，項強痰鳴手爪青。</p>

<h2>臍風撮口驚歌</h2>
<p>小兒臍風名不一，胎風鎖肚吊腸疾，更有卵疝共五般，皆由濕熱風相擊，口吐白沫手足冷，唇白紫黑氣促極，腹大青筋哭啼多，撮口不乳四肢直，藥用宣利使氣通，珍珠奪命皆當急。</p>

<h2>禁口驚歌</h2>
<p>禁風口噤不能啼，胎中熱毒入心脾，眼開舌間如粟粒，不能吮乳受羈迷。</p>

<h2>脾風驚歌</h2>
<p>脾風之候面額青，舌短頭低又露睛，睡里搖頭頻吐舌，嘔腥口噤咬牙齦。手足搐而兼冷厥，十中九死沒痊平，身冷身溫脈沉細，醒脾一服見安寧。</p>

<h2>發搐症歌</h2>
<p>發搐令人最可驚，左視無聲右有聲，女右無聲搐左有，陰陽故爾兩相承，五臟虛實觀前賦，退熱除痰自有精。</p>

<h2>盤腸驚歌</h2>
<p>盤腸氣痛腰背曲，乾啼額汗冷雙足，多因生下感風寒，降氣沉香為可服。</p>

<h2>內吊驚歌</h2>
<p>內吊腹痛多啼哭，唇青囊腫體傴僂，反張眼有紅筋起，寒結胎中更積驚。</p>
<p>凡治諸驚，先要行痰。一見牙關口噤，先將稀涎散用白湯調一二匙，灌服。如口噤不能下咽者，即從鼻管中灌入。牙關稍舒，即以鵝翎蘸薑汁，頻探喉，得吐風痰，隨進滾痰丸使其痰下降；然後用四磨湯行其氣。氣行，則痰亦行。稍得甦醒，以金箔鎮心丸、抱龍丸次第與服。如痰盛不得吐，用薑汁、竹瀝三四匙，灌之。又以搐鼻散，捻紙條，蘸藥取嚏。依法而行，如不嚏，或啼聲不出，口噤不食，額汗如珠，遺尿，噴藥者，決不可治也。</p>
<p><u>抱龍丸</u>　滾痰丸　（二方見前）</p>
<p><u>金箔鎮心丸</u>　此方藥性中和，能截風、定搐，化痰、鎮心、安神。急慢驚風，慢脾，胎驚，天吊，皆治之。</p>
<p>雄黃（五錢）　硃砂（三錢）　天竺黃（五錢）　膽星（一兩）　茯苓（五錢）　防風（三錢）　白附（三錢）　牛黃（一錢另研）　真麝香（一錢另研）　山藥（三錢）　蟬蛻（十四個）　全蠍（十四個去土）　片腦（三分）　金箔（五十片）　殭蠶（二十條，炒去絲）</p>
<p>為末，大米糊為丸，金箔為衣。</p>
<p><u>稀涎散</u>　痰壅咽喉，牙關緊閉，用此開之。</p>
<p>豬牙皂角　明礬　如要吐，加瓜蒂等分</p>
<p>為末，每服一匙，白湯灌下。</p>
<p><u>搐鼻散</u></p>
<p>半夏　細辛（各二錢）　荊芥（七分）　牙皂（三錢）　麝香（一分）</p>
<p>上為末，用紙條蘸藥取嚏，為效。</p>
<p><u>四磨湯</u>　能行氣、行痰。</p>
<p>檳榔　木香　枳殼　烏藥</p>
<p>上四味，不切，但用薑湯水磨服。</p>
<p><u>人參羌活散</u>　截風、定搐、豁痰、安神。</p>
<p>柴胡　獨活　天麻　前胡　人參　甘草　地骨皮　川芎　枳殼　茯神　羌活　桔梗　陳皮　防風　殭蠶　蟬蛻</p>
<p>加薑汁、竹瀝，煎。</p>
<p>凡痰盛，加南星。瀉者，加訶子、澤瀉。大便結，加皂角。昏迷不醒，加黃連。壯熱，加黃芩。嗽，加杏仁。天吊，加鉤藤。心跌，加當歸。目連眶瞤動，乃肝風盛也，加青皮、黃連。胸膈不寬，加枳實。</p>
<p><u>醒脾飲</u>　治慢驚、慢脾風。</p>
<p>人參　白朮　茯苓　厚朴　橘紅、甘草　半夏　藿香　天麻　木香　乾薑　蓮肉</p>
<p>薑、棗、陳米百粒，同煎。言語不出者，加石菖蒲；瀉者，加訶子；四肢厥冷，加附子；搐者，加全蠍、蟬蛻。</p>
<p><u>珍珠丸</u>　治驚風、撮口。一日一丸。至七日，用七丸。</p>
<p>南星（炮）　天麻　白附（二錢炒）　膩粉（五分）　巴霜（一匙）　蕪荑　滑石　全蠍（麵炒各二錢半）</p>
<p>上為末，糊丸，麻子大。薄荷湯送下。</p>
<p><u>奪命散</u></p>
<p>赤腳蜈蚣（一條，去頭、足，炙焦）　麝香（少許）</p>
<p>為末，豬乳調服。</p>
<p><u>保命丹</u>　治胎驚，內吊，肚腹緊硬，睡臥不安，多啼，一切風痰。</p>
<p>全蠍（十四個去毒）　防風（二錢）　殭蠶（去絲）　天麻（各二錢）　南星（泡）　白附子　麝香（五分）　金箔（十片）　蟬蛻　硃砂（各一錢）</p>
<p>熱症：加牛黃、腦子、硼砂。</p>
<p>上為末，米糊丸，每兩作四十丸。</p>
<p><u>乳香丸</u>　治驚風、內吊、腹痛、多啼。</p>
<p>乳香（五分）　沒藥　沉香（各一錢）　蠍梢（十四個）　雞心檳榔（一錢五分）</p>
<p>上為末，煉蜜丸，如梧桐子大。每服二丸，菖蒲、鉤藤湯調下。</p>
<p><u>當歸散</u>　治小兒夜啼者，臟寒而腹痛也。面青、手冷、不吮乳，是也。宜此方。</p>
<p>當歸（去節）　白芍藥　人參（各一錢半）　甘草（炙）　桔梗　橘皮（各一錢半，去白）</p>
<p>上為末，水煎半盞，時時少與服。又有熱痛，亦啼叫不止，夜發，面赤，唇焦，小便黃赤，與三黃丸，人參湯下。</p>
<p><u>沉香降氣湯</u>　滯氣，胸膈痞塞，心腹脹滿，喘促短氣，乾噦，煩滿，咳嗽，痰涎。</p>
<p>香附子（一兩半、炒、去毛）　沉香（一錢）　砂仁（三錢）　甘草（七錢半）</p>
<p>上為末，每服一錢，入鹽少許，沸湯點之。清懸霧露，空心服之。去邪惡氣，使無瘴疫。</p>
<p><u>至寶丹</u>　治諸癇、急驚，心熱、客忤，煩躁，風涎，搐搦。</p>
<p>生犀屑　生玳瑁屑　琥珀（研細水飛）　雄黃（研、水飛，各一兩）　金箔（五十片，半為衣）　銀箔（五十片）　片腦（研）　麝香（各一錢，研細）　牛黃（半兩，研）　安息香（一兩半，為末。以無灰酒濾去砂石，約取一兩，慢火熬成膏）</p>
<p>上，生犀屑、玳瑁，搗為細末，研入諸藥，令勻。將安息香膏湯煮過，和搜為劑。如干，即入熟蜜，磁器中旋化為丸，如梧桐子大。每服二丸，人參湯下。</p>
<p><u>急慢驚風不治歌</u></p>
<p>驚風睛定要推求，口噤聲焦脈數憂，眼合不開並竄瞪，面緋面黑手難收。口張吐沫氣粗大，髮直搖頭汗不流，齁䶎喉鳴鼻端冷，遺尿瀉血並皆休。</p>

<h2>驚癇症歌</h2>
<p>牛馬豬羊雞五癇，須識驚風食與痰，角弓反張目直視，目瞪吐沫閉牙關，五形五臟須分曉，牛黃丸可取風痰。</p>
<p><u>五色丸</u></p>
<p>硃砂（另研）　珍珠末（各五錢）　水銀（二錢半，一作三兩）　雄黃（一兩，一作三兩）　黑鉛（二兩，同水熬。按：用黑鉛二兩，水銀當作二兩者，為是，無疑矣）</p>
<p>上，煉蜜丸，如麻子大。每服三、四丸。煎金銀、薄荷湯下。</p>
<p><u>細辛大黃湯</u>　治風癇、內熱。</p>
<p>天麻　防風（各半兩）　細辛　大黃（焙）　川芎（各二錢半）　甘草（炙一錢半）</p>
<p>上銼散，每服一錢，入犀角少許、煎服。</p>
<p><u>牛黃丸</u>　治風癇迷悶，搐掣、涎潮。</p>
<p>牛膽南星　全蠍（六個）　蟬蛻（各二錢半）　防風　白附子　天麻　直殭蠶（炒各錢半）　麝香</p>
<p>上為末，以煮棗肉根、水銀五分，入藥，為丸，綠豆大。每服二丸。荊芥、生薑湯下。</p>
<p><u>七寶鎮心丸</u>　治驚癇、心熱。</p>
<p>遠志肉（薑汁焙）　雄黃　鐵粉　琥珀　硃砂（各一錢）　金銀箔（二十片）　麝香（少許）</p>
<p>上為末，棗肉丸，梧桐大。每服一丸，麥門冬煎湯下。</p>

<h2>傷寒門總括歌</h2>
<p>傷寒六脈皆浮緊，虎口三關紋紫紅，發熱惡寒腰脊強，頭疼吐逆悶煩攻。夾驚臥睡時驚掣，夾食餿酸噎氣充，無汗必須微解散，太陽莫使過經凶。</p>
<p>治法：用抱龍丸。春用：參蘇飲。二方俱見前。</p>
<p><u>十神湯</u>　治感傷寒</p>
<p>川芎　白芷　麻黃　陳皮　紫蘇　香附　升麻　乾葛　芍藥　甘草</p>
<p>加薑、棗，煎服。</p>
<p>有汗，去麻黃。熱盛，加黃芩。咳嗽，加半夏、杏仁。咽痛，加桔梗。發譫，加柴胡、黃芩。泄瀉，加訶子、木香。吐逆。加薑汁、半夏。頂痛，加羌活、藁本。裡熱甚，則大便燥結，加大黃。大便結，加枳實。便血，加桃仁。</p>

<h2>傷風門總括歌</h2>
<p>傷風貪睡面青黃，呵欠頻頻熱似湯，口吐氣來渾似火，鼻流清涕嗽生痰。法當解表消痰嗽，加減參蘇飲正當，便用抱龍兼錠子，霎時雲散日回光。</p>

<h2>咳嗽歌</h2>
<p>咳嗽皆因風入肺，重則喘急熱不退，肺傷於寒嗽多痰，傷於熱者聲壅滯。寒宜發散熱則清，實當瀉胃虛補肺，嗽而不已便成癇，痰盛不已驚風至，眼眶紫黑如傷損，嗽而有血難調治，疏風豁痰補瀉明，款花膏子妙通神。</p>
<p><u>辰砂抱龍丸</u>　此劑乃利驚、疏風、豁痰、清熱、中和之藥。為活幼之首方也。</p>
<p>治急、慢驚風，脾風，傷寒，傷風，咳嗽生痰，喘急，昏沉，發熱，鼻流清涕，或吐瀉，風暑，十種熱症。睡中悸掣，痧疹，斑瘡，胎風，胎驚，胎熱，百病皆治。</p>
<p>天竺黃（四錢，須要嫩白者佳）　牛膽星（三兩四錢五分為衣）　雄黃（秋冬三錢，余減半）　麝香（三分，痘疹中不用）　甘草（三錢）　天麻（五錢）　防風（三錢）　硃砂（四錢，一半）</p>
<p>痘疹時行，加天花粉四錢。</p>
<p>上為末，蜜丸，芡實大。雪水糊丸，尤佳。薑湯，或薄荷湯下。</p>
<p><u>保生錠子</u>　治急慢驚風，痰涎壅盛，搐搦。</p>
<p>膽星　白附子（泡）　辰砂（水飛各一錢）　麝香（二錢另研）　天麻（泡）　防風　全蠍（去尖）　羌活（各五錢）　蛇含石（煅四次，水飛，四兩）　金箔（十三片，為衣）</p>
<p>為末，大米糊，作成錠。每服半錠，薄荷湯下。</p>
<p><u>定喘紫金丹</u>　此方專治喘嗽氣急之症。藥有大毒，量情用之，可也。</p>
<p>淡豆豉（一兩）　人言（一錢）</p>
<p>將豆豉浸四、五日，已軟，研爛，和人言為丸，綠豆大。每歲一丸，臨臥，冷茶送下。</p>
<p><u>疏風化痰丸</u>　治小兒風痰咳嗽，驚熱及喘。</p>
<p>半夏（一兩泡）　南星（二兩薑製）　白附子（一兩）　明礬（五錢）</p>
<p>上為末，大米糊為丸，黍米、滑石或辰砂為衣。</p>
<p><u>礞石滾痰丸</u>　此方非獨治痰有功，利積尤妙。但脾虛者勿用。</p>
<p>青礞石　大黃（酒蒸兩半）　黃連（兩半）　沉香（五錢）</p>
<p>上為末，水丸，黍米大。每二、三十丸，白湯下。</p>
<p><u>加味參蘇飲</u>　治尋常外感，並痧疹前後，悉用。</p>
<p>人參　紫蘇　柴胡　陳皮　甘草　枳殼　前胡　白芷　半夏　桔梗　乾葛　茯苓　青皮</p>
<p>加薑、蔥，煎服。</p>
<p>本方用參，亦當量情。病者體虛、胃寒，則用；餘症去之。肺熱因不利者，加黃芩。初起，發熱，痘疹者，加升麻。痰盛者，加南星、竹瀝。壯熱者，加黃芩。風盛似欲發搐者，加防風、天麻。項背拘急，加獨活。頭痛，加川芎、細辛。鼻塞，加細辛、白芷。初嗽，加麻黃、杏仁。痰壅、熱盛，加桑皮、葶藶。久嗽，加杏仁、五味、貝母。肺虛，唇白而嗽，不能接氣者，加人參、阿膠、糯米。初時感冒、欲冷、取汗、發散者，加麻黃、蒼朮。春冬感冒風寒而甚者，倍加羌活。風寒已經發散，惟熱不愈者，另用小柴胡湯；去本方。</p>
<p><u>豁痰湯</u>　治感冒，或驚風痰盛者，用之。</p>
<p>南星　半夏　橘紅　紫蘇　黃芩　枳殼　前胡　桔梗　杏仁</p>
<p>加薑汁、竹瀝，煎服。</p>
<p>風痰吐涎，加防風。食積痰，面黃，少食，或多食即飢，皆胃熱而化為痰，吐出黃色而稠黏者，加神麯、麥芽、山楂。熱痰，是一向熱而不已，肺受其熱，則吐出成塊者，加山梔子，天花粉。結痰，加瓜蔞仁。濕痰，加白朮。寒痰，喘而嗽者，加麻黃、乾薑。</p>
<p><u>款花湯</u>　治痰嗽，久而不止者，如神。</p>
<p>款花　茯苓　杏仁　桑皮　五味　貝母　紫蘇　烏梅（各等分，蒸過，舂爛、取肉，研，和前藥末，加乾薑，共為末）</p>
<p>蜜丸，薑湯煎服。</p>
<p>天麻（五錢）　山藥（二兩）　款花（三兩）　阿膠（五錢）　粟殼（二兩，去蒂）　烏梅肉（三兩）　桑皮（六錢）　麻黃（五錢）　杏仁（二兩）</p>
<p>如前丸服。</p>

<h2>斑疹門總括歌</h2>
<p>疹如麻子斑如錦，水痘如珠赤痘紅，四症總因風與熱，各分調理莫相同。</p>
<p><u>加減四味升麻湯</u>　此升發之劑。但宜一二服，則當止。多用，則過表。</p>
<p>升麻　葛根　芍藥　甘草　防風　桔梗　紫蘇　蒼朮　陳皮　枳殼　柴胡　姜　棗引。</p>
<p>水痘、赤痘，即此一服，不用加減。見疹，熱不退，加玄參。嘔吐，加藿香。瀉甚者，去蒼朮、枳殼，加訶子、肉果。咳嗽有痰，加半夏、桑白皮、杏仁、五味子。瀉痢後，內虛，加茯苓、白朮。腹痛：加蒼朮。鼻衄，加茅花、生地；譫語，加黃芩。</p>

<h2>傷寒斑疹不治歌</h2>
<p>病人目陷口開張，身臭唇青命不長，更看人中反向上，爪甲青黑命將亡。口中冷氣出無歸，斑黑昏沉不透肌，髮直毛焦兼喘急，汗如珠子定難醫。</p>

<h2>吐瀉門總括歌</h2>
<p>小兒吐瀉何以分，傷食冷熱風所因，肚熱腳冷不飲食，日晡潮熱往來生。面黃腹痛餿酸吐，瀉而不化兼臭腥，急須消導香稜劑，七香丸子效通靈。冷吐乳片不消化，多吐少出瀉痢清，木香豆蔻還須服，五苓湯散服當經，夏月暑濕唇臉紅，吐少出多瀉發筒，心煩口渴小便赤，不須加減多神功。</p>
<p><u>七香丸</u>　治吐，消積、溫胃效。方見前。</p>
<p><u>香稜丸</u>　消積、溫脾。</p>
<p>川楝　茴香　蓬朮（各一兩，炒）　木香　三稜　青皮（各五錢）　丁香（一錢）　枳殼（一錢，麵炒）</p>
<p>上為末，醋糊丸，如綠豆大。每服一二十丸。</p>
<p><u>木香豆蔻丸</u>　治吐、瀉。</p>
<p>訶子（四兩煨）　乾薑（三兩煨）　木香（五錢）　豆蔻（五錢）</p>
<p>上為末，麵糊為丸如芡實大。夏月，減乾薑，加白果、黃連。冬月，依本方。</p>
<p><u>加減五苓散</u>　分理陰陽。</p>
<p>豬苓　澤瀉　白朮　茯苓　肉桂（少許）</p>
<p>薑、棗煎。</p>
<p>吐瀉並作，加藿香、白朮、蒼朮。寒吐、寒瀉，則乳片不消，下利清白，腹疼，加煨乾姜。腹痛，加煨芍藥。熱吐、熱瀉，則吐利黃水，瀉下如筒，加炒黃連、芩。久瀉，加訶子、肉果。久吐，加丁香。宿食不消，吐、瀉餿酸、腥臭，加楂子、神麯、麥芽、枳殼。傷食甚者，加檳榔、草果。小便不利，加滑石、木通。吐瀉久而成虛渴，加人參、麥門冬、天花粉。脾胃受濕，倍加白朮、半夏。飲食不進，加益智、大腹皮。虛脹，加萊菔子、大腹皮。胃口作痛，加草果、豆蔻、木香、山楂。胸膈飽悶，加枳實。飲食不消者，加枳實。生痰，去桂，加橘紅。小便自利，去豬苓。夏傷暑，加黃連、白扁豆。小腹痛，加鹽炒茱萸。胃氣不足，加人參、炒黃米、煨芍藥。</p>

<h2>吐瀉不治歌</h2>
<p>唇紅作瀉肛如石，神脫口張渾不食，汗流作喘腹常鳴，面色昏沉齒露黑。脈洪身熱吐蛔蟲，魚口鴉聲並氣急，吐利不止常脫肛，吃下藥物隨時出，有藥不投定歸冥，良醫一見須拋擲。</p>

<h2>瘧疾症歌</h2>
<p>小兒瘧疾多因食，邪正交攻寒熱逼，截之太早反不良，初乃清脾飲消釋，次進截瘧不二飲，神功一服如金石。</p>
<p><u>清脾飲</u>　消導宿滯，和順陰陽。</p>
<p>青皮　蒼朮　厚朴　陳皮　甘草　茯苓　半夏　柴胡　黃芩　草果　枳殼　紫蘇　川芎　香附</p>
<p>薑、棗煎服。</p>
<p><u>截瘧不二飲</u></p>
<p>檳榔　草果　知母　貝母　陳皮　枳殼　蒼朮　半夏　柴胡　常山　烏梅</p>
<p>上用水、酒各半，姜三片，煎半盞，露一宿，明日五更，溫服。</p>

<h2>瘧疾不治症歌</h2>
<p>荏苒經旬瘧不除，更加瀉利悶如癡，蒸蒸作熱渾身瘦，肚大青筋鼻似煤。飲食未嘗潔口腹，囟門填陷項常垂，生痰喘急時加嗽，縱有良工不可醫。</p>

<h2>痢門總括歌</h2>
<p>向因積久多成痢，濕熱肥甘滯所為，或赤或黃或下白，要分氣血屬何之。從前導氣湯先用，次後香連養臟施，噤口刮腸當介意，平調臟腑治須知。</p>
<p><u>導氣湯</u>　痢疾初起，先進此藥，去其宿垢，然後調和臟腑。</p>
<p>檳榔　枳殼　黃連　甘草　芍藥　厚朴　升麻　山楂　神麯</p>
<p>稟厚者，加大黃、芒硝。</p>
<p>上㕮咀，姜三片，水煎，溫服。</p>
<p><u>香連丸</u></p>
<p>宣黃連（二兩。用吳茱萸二兩同炒，去吳茱萸不用）　木香（三錢）</p>
<p>上為末，神麯糊丸，如綠豆大。每服三十丸。</p>
<p><u>養臟湯</u>　此藥平調臟腑，去積，和中。</p>
<p>白朮　厚朴　陳皮　茯苓　甘草　檳榔　枳殼　木香　黃連　川芎　芍藥　蓮肉　訶子</p>
<p>加薑、棗同煎。</p>
<p>赤痢，加地榆、當歸。白痢，加乾薑。赤白相兼，加當歸、乾薑。純血，加生地、當歸、地榆、黃芩。腹痛，加乳香、沒藥。久痢，加粟殼（蜜炙）。噤口，加石蓮、糯米。乾嘔，加藿香。發熱，加柴胡、知母。元氣下陷，加人參、柴胡。胸膈不寬，加砂仁。作渴，加麥門冬、五味子、天花粉。裡急後重，加枳殼、木香。小便不利，加滑石、豬苓、澤瀉。</p>

<h2>痢疾不治歌</h2>
<p>糞門如筒脈洪數，發熱不食兼作渴，瀉下渾如爛魚腸，豆汁屋水交相錯。汗出如油啼不休，肚腹疼痛陰囊縮，或如癰膿雞子臭，有藥莫投修棺槨。</p>

<h2>疳積門總括歌</h2>
<p>心肺肝脾腎五疳，形容羸瘦發毛干，四肢枯細尿如乳，肚大筋青飲食貪。心症口乾時燥熱，虛驚面赤更心煩，搖頭揉目睛生膜，髮直筋青熱在肝。咳嗽氣粗多喘急，肺家灑淅熱仍寒，遍身瘡疥形如鬼，足冷齦宣把腎參。腹滿氣粗頻泄利，脾虛偏愛土泥飧，潮熱骨蒸多盜汗，勞疳羸瘦面黃顏。脊疳脊骨如刀鋸，指背生瘡可驗看，腦熱囟高疳在腦，乾疳乾渴大便難。熱疳便澀身如火，泄利頻頻認作寒，齒癢多啼唇口紫，蛔蟲盤結胃腸間。丁奚項小並胸陷，肉削尻高臍又翻，哺露往來虛熱甚，頭開嘔吐胃中關。無辜腦項因生核，不破須知治療難，五疳消積肥兒劑，脫甲同投便見安。</p>
<p><u>五疳消積散</u></p>
<p>三稜　蓬朮（各一斤）　神麯　麥芽　青皮　山楂　川楝　黑醜　檳榔（各二兩）　陳皮（一斤）　萊菔子（四兩）</p>
<p>上為末，麵糊為丸，如綠豆大。每服二三十丸，米湯下。</p>
<p><u>肥兒丸</u></p>
<p>胡黃連　蘆薈　麥芽　蕪荑（各二錢）　使君子　宣黃連　木香　檳榔　肉果（煨，去油，各五錢）　神麯　白朮　茯苓（各一兩）　續加秦艽　地骨皮　龍膽草（各一兩）　胃弱者，加人參（五錢）</p>
<p>上為末，醋糊、神麯為丸，芡實大。每服二十丸。</p>
<p><u>脫甲散</u>　治骨蒸晡熱，五疳羸瘦，夾驚夾食，傷風傷暑傷積，大小便閉塞，傷寒發熱，口渴等症。</p>
<p>柴胡　當歸　龍膽　白茯苓　人參　甘草　川芎　麻黃　知母　加連須蔥白同煎</p>
<p>上十味，知母、當歸，順正陰陽；人參、甘草，和脾益胃；柴胡、川芎去寒邪；茯苓、膽草，止渴、生津；麻黃去節留根，功全表裡。驚癇之候，用之立見效。</p>

<h2>疳積不治歌</h2>
<p>疳極丁奚哺露時，腹膨臍突面黃羸，吐蟲瀉臭頭開解，鶴膝伶仃總莫醫。</p>

<h2>傷積總括歌</h2>
<p>積因停滯在胸中，乳食虛驚氣所鍾，腹痛面黃晡作熱，尪羸煩渴瀉流通。飲食不化酸腥吐，復以滋煎兩目紅，急用香稜消積劑，莫教日久致頭空。</p>
<p><u>香稜丸</u>　消積丸　（二方俱見前）</p>
<p><u>加減流氣飲</u>　治胸膈痞塞，氣不升降，喘急不安，積聚沉滯，發熱，不思飲食，噫氣、吞酸，或秘或利等症。</p>
<p>木香　枳實　蓬朮　陳皮　青皮　檳榔　三稜　蒼朮　草果　大腹皮</p>
<p>大便閉，加大黃。身熱，加柴胡。內熱，加黃連。胃中作痛，加炒益智仁、草豆蔻。腹脹、小便不利，加桑皮、茶葉。嘔吐，加藿香、半夏。傷冷積滯，加乾薑、肉桂、砂仁。</p>

<h2>脾胃門總括歌</h2>
<p>脾屬陰兮胃屬陽，一身牆壁作中央，土生萬物須和暢，一有虧兮雜病干。或吐或膨時泄瀉，或煩或渴不加飧，常吞助胃溫脾藥，生冷休貪便見安。</p>
<p><u>助胃膏</u>　專治脾胃不正，或吐或瀉，飲食少進，面黃唇白，虛煩作渴之症。</p>
<p>木香　乾薑　炙草（各三錢）　山藥　蓮肉（去心）　白朮　茯苓（各一兩）　肉果　訶子（各四錢）　神麯　麥芽（各五錢）　人參（二錢）　砂仁（二錢）　丁皮　白豆蔻（各一錢）</p>
<p>上為末，蜜丸，芡實大。</p>
<p><u>人參養胃湯</u></p>
<p>蒼朮　厚朴　陳皮　炙草　茯苓　半夏　芍藥　人參　白朮</p>
<p>加薑、黃米同煎。</p>
<p>嘔吐，加藿香、木香。瀉，加肉果、訶子。腹脹，加枳殼、大腹皮。不思飲食，加益智。</p>
<p><u>腫脹門總括歌</u></p>
<p>小兒腫脹脾家濕，臟腑氣虛即或極，或因停積於胃中，或因瘧痢虛而得。疳氣痞塊或血虛，飲食飢飽皆為積，醫人審察盛與衰，分氣補虛不可失。有積當與漸消之，固本正標方是的，陰囊無縫掌無紋，臍突如李面黧黑，唇焦口燥脈不來，有藥莫投徒用力。</p>
<p><u>分氣飲</u>　治四肢浮腫，氣喘短急。</p>
<p>桔梗　茯苓　陳皮　桑皮　枳殼　大腹皮　草果　半夏　蘇子　木通　木香</p>
<p>小便不利，加豬苓、澤瀉。腹瀉，加肉果。腹痛，加肉桂。胸膈不寬，加砂仁。</p>
<p>上，各加薑、棗、燈芯同煎。</p>
<p><u>補脾飲</u>　治脾虛受濕，浮腫，及吐瀉痢後，皆服之。</p>
<p>人參　白朮　茯苓　厚朴　陳皮　甘草　木瓜　青皮　木香　乾薑　砂仁　大腹皮</p>
<p>上㕮咀，加薑、棗、燈芯同煎。</p>

<h2>自汗盜汗大汗症歌</h2>
<p>小兒盜汗不須醫，額汗至胸亦陽虛，更有胸下當臍汗，此汗皆因脾胃虛。傷寒瘧疾皆將愈，汗分四症分明起，蒸蒸振汗不戰慄，若還戰慄汗兼耳。</p>
<p><u>止汗散</u>　治睡而自汗。</p>
<p>故蒲扇，火燒，存性，去火毒，研末。每服三錢，溫酒下。</p>
<p><u>黃耆六一散</u></p>
<p>黃耆（六錢）　甘草（一錢）</p>
<p>上為細末，滾水下。</p>

<h2>腹痛症歌</h2>
<p>腹痛多緣乳食積，邪氣正氣相交擊，挾寒挾熱亦其因，面赤壯熱知端的，面青肢冷是因寒，清熱溫涼積消息。</p>
<p><u>消積丸</u></p>
<p>丁香（九粒）　砂仁（十二個）　巴豆（去油淨）</p>
<p>上為細末，面丸，如黍米大。每服二三丸，溫水下。</p>
<p><u>四順飲</u>　治挾熱腹痛。</p>
<p>赤芍藥　當歸　甘草　大黃（各等分）</p>
<p>欲利小便，用赤芍藥。虛熱，加甘草。下利，減大黃。胃風邪，加去節麻黃。中風、體強、直眼上視，加獨活。</p>
<p>水煎，溫服。</p>
<p><u>七氣湯</u>　治氣道壅塞，攻衝作痛。</p>
<p>半夏（五兩，制）　人參　辣桂（各二兩）　甘草　陳皮　香附</p>
<p>加乾薑、生薑三片，棗三枚，水煎服。</p>

<h2>蛔蟲痛歌</h2>
<p>小兒腹痛是蟲攻，多食肥甘故長蟲，口涎吐沫兼清水，唇鼻人中黑氣衝。</p>
<p><u>集效丸</u>　治蟲痛。</p>
<p>木香　鶴蝨　檳榔　訶子（煨）　附子（去皮臍）　蕪荑　乾薑　大黃（兩半，炒）　烏梅（二錢半）</p>
<p>上為末，煉蜜為丸，陳皮、醋湯下。</p>
<p><u>一方</u>　用雞子炒白蠟，陳酒糊丸，服。</p>
<p><u>一方</u>　用楝根白皮，用二陳湯同煎服。</p>

<h2>夜啼客忤驚歌</h2>
<p>夜啼臟冷使之然，腹痛多啼作熬煎，心經煩熱小便赤，臉紅舌白熱之根。客忤卻緣神氣嫩，外邪異物忤其前，驚啼口吐青黃沫，瘛瘲如癡喘息牽。</p>
<p><u>火花膏</u>　治壯熱，夜啼，冷痛。</p>
<p>清油燈花七顆　塗乳上，令兒吮之。</p>
<p><u>碧霞散</u>　治壯熱、夜啼。</p>
<p>柏葉（半斤）　南星　殭蠶　全蠍　鬱金　雄黃（各一錢）</p>
<p>上為末，每服一錢，薄荷、蜜水調。</p>

<h2>蒸變症歌</h2>
<p>小兒臟腑未全成，長養之時作變蒸，變則氣升蒸則熱，八蒸十變便成人。</p>
<p><u>益氣散</u>　治變蒸、氣升。</p>
<p>木香　白朮　人參　茯苓　防風　川芎</p>
<p>上㕮咀，姜三片，艾二枚，水煎，溫服。</p>
<p><u>惺惺散</u>　見痘症方　治變蒸，發熱、咳嗽。</p>

<h2>解顱總括歌</h2>
<p>腎經主髓腦為海，頭縫開時腎氣虧，面多㿠色睛多白，長而少笑瘦而羸，須服地黃丸補腎，柏子三辛救此危。</p>
<p><u>地黃丸</u>　見後方內</p>
<p><u>柏子仁散</u>　治頭顱不合。</p>
<p>防風（二兩）　柏仁（一兩）</p>
<p>上為末，乳汁調塗。</p>
<p><u>三辛散</u>　治腦角大，囟不合。</p>
<p>細辛　桂心（各半兩）　乾薑（一錢）</p>
<p>上為末，乳汁調塗囟上，干時再塗，面赤，是效。</p>

<h2>囟陷症歌</h2>
<p>小兒囟陷因何致，熱渴引飲成瀉痢，積久因而氣血虛，髓不能充有若是。</p>
<p><u>狗頭骨散</u>　治囟陷。</p>
<p>黃狗頭骨，用火炙黃，為末，以雞子清調敷。</p>
<p><u>地黃丸</u>　方後見</p>

<h2>囟填症歌</h2>
<p>囟填之症囟門高，飢飽無常乳不調，或寒或熱乘脾胃，臟腑不和自汗澆，氣則上充填滿起，囟腫如堆短髮毛。</p>
<p><u>大連翹飲</u>　見前</p>
<p><u>柴胡散</u>　治囟腫及傷寒表症。</p>
<p>石膏　黃芩　甘草　赤芍　葛根（各二錢半）　麻黃（去節）　柴胡（半兩）</p>
<p>上㕮咀，每服二錢，入生薑少許，蔥三寸。</p>

<h2>赤遊風症歌</h2>
<p>赤瘤丹毒從何起，只因熱毒客腠理，氣血相摶發皮膚，緣母過食煎炒取，烘衣未冷與之穿，赤腫遊行至遍體。</p>
<p><u>白玉散</u>　見後方</p>
<p><u>防風散</u></p>
<p>防風（半兩）　朴硝　犀角　黃芩　黃耆　升麻（各二錢半）</p>
<p>上為末，竹葉湯下。</p>

<h2>語遲症歌</h2>
<p>小兒長大不能言，在母胎中驚怖然，邪氣乘心舌無力，故令遲語受熬煎。</p>
<p><u>菖蒲丸</u>　治心氣不足，舌本無力，遲語。</p>
<p>石菖蒲　丹參（各一錢）　赤石脂（三錢）　人參（去蘆，半兩）　天門冬（去心，二錢）</p>
<p>上為末，蜜丸，麻子大。滾水、食後服。或加黃連。</p>

<h2>滯頤症歌</h2>
<p>口為脾竅液津兮，涎流出口滯於頤，只為脾虛無約制，溫脾溫胃世間稀。</p>
<p><u>溫脾丹</u>　治滯頤</p>
<p>半夏曲　丁香（各一兩）　乾薑　白朮　青皮　陳皮（各半兩）　木香（一兩）</p>
<p>上為末，糊丸，如黍米大。每歲十丸，米湯下。</p>
<p><u>溫胃散</u>　治滯頤</p>
<p>半夏　人參（去蘆）　甘草　乾薑　肉豆蔻　白朮（各半兩）　丁香（一錢）</p>
<p>上為末，每服二錢，生薑煎水，食前服。</p>

<h2>癩頭瘡症歌</h2>
<p>小兒出生癩頭瘡，滿頭邋遏出濃漿，父母胎前恣情欲，致兒生下受災殃。</p>
<p><u>通聖散</u>　大黃酒炒，共為末，以酒拌，焙乾，每服一錢，水煎服。以白炭燒紅，淬入水中，乘熱洗之。</p>
<p><u>脫蛻散</u>　洗淨敷上。</p>
<p>胡荽子　伏龍肝　烏龍尾　黃連　白礬</p>
<p>上為末，以麻油調敷，濕則干滲。</p>
<p><u>一抹散</u></p>
<p>松皮（燒存性，二兩）　黃丹（水飛，一兩）　白礬（火枯，五錢）　大黃（三錢）　輕粉（四錢）　白膠香（水飛，傾石上，一兩）</p>
<p>上為末，香油搽。</p>
<p><u>一掃丹</u>　以水洗淨後，敷藥。</p>
<p>松香（四兩）　麻油（四兩）</p>
<p>上將青布捻成條，入松香於內，將麻油浸透，以器盛之，兩頭著火，滴油於器內，取搽效。</p>
<p>丹溪治一小兒，二歲，滿頭生瘡。一日，瘡忽自陷，遂患痰喘，知其為胎毒也。詢其母，孕時，多食辛熱之物，遂以人參、連翹、黃連、甘草、陳皮、川芎、芍藥、木通濃煎，入竹瀝。服之，數日而安。</p>

<h2>重舌、木舌、弄舌</h2>
<p>心竅出舌而主血，脾之經絡出於舌，二經有熱舌重生，弄舌單主脾家熱，木舌腫如豬舌同，心脾積熱無差迭。</p>
<p><u>蒲黃散</u>　治重舌。</p>
<p>竹瀝調蒲黃末，敷之。</p>
<p><u>黃柏丹</u>　黃柏，不拘多少，用竹瀝浸水，點之，效。</p>
<p><u>治木舌方</u></p>
<p>黃葵花（研細，一兩）　黃丹（五錢）</p>
<p>上二味，為細末，點七次，無有不效。</p>
<p><u>獨腦散</u>　治舌腫滿口。用梅花腦子點舌，即消。</p>
<p><u>瀉黃散</u>　方見後　治弄舌，水煎服。</p>

<h2>鵝口、口瘡、重齶歌</h2>
<p>白屑滿口如鵝口，熱盛心脾發口瘡，胎毒熏蒸之所致，上齶懸癰著承漿，此名重齶因脾熱，急宜刺破免生災。</p>
<p><u>瀉心湯</u>　方見前　用蜜水調服。</p>
<p>或用柏末敷，效。</p>
<p>或用白楊木，燒、瀝、敷之。</p>
<p><u>調黃散</u>　治白屑滿口。</p>
<p>枯礬（一錢）　牙硝（五錢）　硃砂（二錢）</p>
<p>上為細末，每服一字。取鵝口涎調塗舌上，先以手指纏亂髮拭垢淨，然後敷藥，效。</p>
<p><u>鵝口方</u>　用地雞擂水，塗之，效（即磚下扁蟲也）。或用飛丹摻之。</p>
<p><u>辰砂七保散</u>　治舌上生瘡，壯熱，傷風等症。</p>
<p>麻黃（去節）　白朮　當歸　大黃　赤芍　荊芥　前胡　生地　甘草（各等分）</p>
<p>上為末，用薄荷煎湯下。傷風發散，用生薑：驚，用辰砂。</p>
<p><u>牛黃散</u>　治重齶。</p>
<p>玄精石（一兩）　鉛霜（五錢）　龍腦　硃砂　牛黃（各二錢半）</p>
<p>上為末，用針刺破出血，莫令入喉，鹽水洗淨，敷藥。</p>

<h2>龜胸龜背歌</h2>
<p>肺經受熱致龜胸，胸上高如龜脊同，脹滿攻於胸膈上，母食辛溫熱乳沖，客風入脊成龜背，龜尿點脊有神功。</p>
<p><u>百合丹</u>　治龜胸。</p>
<p>大黃　天門冬　杏仁（去皮尖，另研）　桑白皮　葶藶（炒）　百合　木通（各等分）</p>
<p>上為末。</p>
<p><u>瀉白散</u>　見後</p>
<p><u>取龜尿法</u>　：以荷葉盛龜，用鏡照之，尿自出。</p>

<h2>行遲大法歌</h2>
<p>小兒五百日當行，蒸變才周骨始全，二三五歲尤難走，肝腎虛而骨不堅，腎不扶肝筋力弱，五茄虎骨走天邊。</p>
<p><u>五茄皮散</u></p>
<p>五茄皮散一加皮，二木瓜同牛膝宜，米飲更浸些小酒，食前調服治行遲。</p>
<p><u>虎骨丸</u></p>
<p>虎骨丸中虎骨湯，桂芩生地膝芎當，棗仁煉蜜丸吞下，子女行遲用此方。</p>

<h2>脫肛症歌</h2>
<p>肺氣虛時脫出肛，小兒此症不須慌，瀉痢久而氣下墜，澀腸文蛤好推詳。</p>
<p><u>脫肛方</u></p>
<p>用陳壁土、泡湯、熏、洗、效。</p>
<p>用五倍子，為細末，敷，而頻托入，效。</p>
<p>用鱉頭，澆，存性，香油調敷；或燒煙燻之。</p>
<p><u>澀腸散</u>　治久痢，大腸脫出。</p>
<p>赤石脂　訶子（去核）　龍骨（各等分）</p>
<p>上末，臘茶少許，和藥摻上，絹帛揉入。治痢，米湯調下。</p>

<h2>遺尿症歌</h2>
<p>小兒遺尿細推詳，腎膀虛弱致其殃，清冷氣虛無約制，故令不禁溺於床。</p>
<p><u>益智神苓散</u></p>
<p>益智（生）　白茯苓（去皮）　茯神（去皮，各等分）</p>
<p>上為末，空心、清米飲調下。</p>
<p><u>加味地黃丸</u></p>
<p>生地黃（酒洗一兩）　白茯苓（二兩）　山藥（一兩）　破故紙（研炒）　山茱萸肉（二兩）　牡丹（一兩）　澤瀉（一兩）　肉桂（五錢）　益智（研）　人參（各一兩）</p>
<p>上為末，煉蜜為丸，如芡實大。鹽湯送下。兼服肥兒丸，效。</p>
<p>小兒脫囊：陰囊腫大，墜下而不收也。亦有囊皮脫爛者。</p>
<p>木通　甘草　黃連　當歸　黃芩</p>
<p>上等分，水煎，食前服。囊爛者，以野紫蘇葉面青、背紅者是。為末，香油調敷。皮脫、睪丸露者，外以青荷葉包之，敷藥，自生皮。</p>
<p>小兒臍中汗出並痛，用枯凡干敷；或用柏末敷。</p>
<p>治泄瀉不止，硫黃、滑石，共為末，米飲調下。</p>
<p><u>一方</u>　治撮口，殭蠶，為細末，蜜調塗，妙。</p>
<p><u>奇方</u>　治泄瀉，胡椒為細末，薑汁調，敷臍妙。</p>

<h2>奏效方</h2>
<p><u>錢氏瀉青丸</u>　治目直大叫、項急、煩悶，肝實症也。</p>
<p>羌活　膽草　當歸　梔子　防風（去蘆）　川芎　大黃（紙包煨）</p>
<p>上為末，煉蜜為丸，雞子大。每一丸，竹葉煎湯調下。</p>
<p><u>地黃丸</u>　治咬牙，寒戰，肝虛症也。</p>
<p>山茱萸　牡丹皮　山藥　澤瀉　熟地黃（酒洗）　白茯苓（各四錢）</p>
<p>上為末，蜜丸，梧桐子大。空心服五七丸，溫水下。</p>
<p><u>瀉心湯</u>　治叫哭，發熱，飲水而搐，心實症也。</p>
<p>黃連（一兩去蘆）</p>
<p>上為末，每服一錢，溫水下。</p>
<p><u>導赤散</u>　治法同前</p>
<p>木通　甘草　生乾地黃（各等分）</p>
<p>上為末，每服二錢，淡竹葉湯下。</p>
<p><u>粉紅丸</u>　治困臥，悸動不安，心虛症也。</p>
<p>硃砂（一錢五分，研）　天竺黃（五錢）　龍腦（一錢，另研）　牛膽南星（四兩）　胭脂（一錢）</p>
<p>上為末，牛膽汁和丸，如彈子大，砂糖水溫服。</p>
<p><u>瀉黃散</u>　治困睡，身熱，弄舌，脾實症也。</p>
<p>山梔仁（二兩）　石膏（五錢）　甘草（六錢）　防風（七錢，去蘆）　藿香（七錢）</p>
<p>上為末，每服一錢，燈芯湯下。</p>
<p><u>異功散</u>　治吐瀉，生風，虛冷，不飲乳，脾虛症也。</p>
<p>人參　白朮　白茯苓　甘草　陳皮</p>
<p>上為末，每服一錢，薑、棗煎湯下。</p>
<p><u>瀉白散</u>　治悶亂，喘促，或飲水，肺實症也。</p>
<p>桑白皮（去皮，一兩，炒）　甘草（半兩，炒）　地骨皮（一兩，焙）</p>
<p>上為末，每服一錢，水一鍾，粳米一合，煎至七分，空心服。</p>
<p><u>阿膠散</u>　治嗽，喘，咆哮，昏沉，肺虛症也。</p>
<p>阿膠（一兩，麵粉炒）　甘草（三錢）　黍黏子（一錢，炒）　杏仁（七個，去皮尖）　糯米（一兩）　馬兜鈴（五錢）</p>
<p>上為粗末，每服二錢，白水煎服。</p>
<p><u>益黃散</u>　治脾虛，冷積，不能消食。</p>
<p>陳皮　青皮　訶子肉　甘草（各五錢）　丁香（二錢）</p>
<p>每服二錢，白水煎服。</p>
<p><u>六一散</u>　治傷暑濕。降痰、助脾。</p>
<p>滑石（六兩）　粉甘草（一兩）</p>
<p>止汗，加黃耆三錢；一方，加辰砂。</p>
<p>上為細末，滾水湯下。</p>
<p><u>清涼散</u>　治潮熱，效。</p>
<p>銀柴胡　胡黃連（等分）</p>
<p>上為末，燈芯湯下。丸亦可。</p>
<p><u>還魂丹</u>　治急慢驚風。吹鼻。</p>
<p>二寸蜈蚣一個蝦，四兩白芷與天麻，再加二字黃花子，死在陰靈要返家</p>
<p><u>青丸子</u>　化痰。</p>
<p>青黛（五錢）　南星（炒過，五錢）　巴霜（五分）</p>
<p><u>紅丸子</u>　下痰。</p>
<p>硃砂（一錢，水飛過）　半夏（薑製，五錢）　巴霜（五分）</p>
<p><u>白丸子</u>　吐痰。</p>
<p>白附子（五錢，生用）　寒水石（硝煅，半兩）　巴霜（五分）</p>
<p><u>黃丸子</u>　瀉痰。</p>
<p>大黃（煨過，五錢）　鬱金（五錢）　巴霜（五分）</p>
<p><u>化痰丹</u>　治食積，痰氣，瘧、痢。又名化鐵丹。</p>
<p>八梅十六豆，一豆三胡椒，青陳各半兩，醋打麵糊調。加上萊菔子，青木不相饒，小兒多食積，是鐵化能消。</p>
<p>上為末，糊丸，如綠豆大。隨宜用引。</p>
<p><u>千金丸</u>　治小兒蟲積，氣，肚痛。</p>
<p>棗肉（十個，去核）　巴霜（一錢）　沒藥（一錢）　木香（一錢）　乳香（一錢）</p>
<p>上共碾成丸，綠豆大。五七丸，滾白湯送下。</p>
<p><u>平胃丹</u>　治食不消，疳積，膨脹，鴨溏。</p>
<p>山楂肉（一錢）　神麯（一錢）　白朮（一錢）　青皮（二錢）　甘草（八分）　白茯苓（一錢）　厚朴（二錢）　三稜（一錢，酒炒）　莪朮（一錢，酒炒）　黃芩（一錢，酒洗）　香附（一錢，童便炒）　蒼朮（一錢，米泔浸）　陳皮（一錢，去白）</p>
<p>上為細末，糊丸，如彈子大。每服一丸，薑湯下。</p>
<p><u>降痰丸</u></p>
<p>防風（六錢，去蘆）　茯苓（五錢）　輕粉（一錢）　硃砂（錢半）　青黛（一錢）　蟬退（四十個，水洗）　獨活（三錢）　殭蠶（三十，炒）　全蠍（三十，水洗）　南星（一錢）　青礞石（五錢。火煨。用焰硝在內，封固、火煨）</p>
<p>上為細末，糊丸，如粟米大。一服三、五丸，滾湯下。</p>
<p><u>牛黃鎮驚丸</u>　治驚風、急驚諸症。</p>
<p>天麻（五錢）　白朮（二錢）　遠志（五錢）　白附（二錢）　柴胡（五錢）　麝香（一字）　全蠍（三十，水洗）　川芎（五錢）　代赭（一兩，醋煮）　礞石（火煅，五錢）　麻黃（五錢，去節）　天竺黃（四錢）　沉香（五分）　獨活（一錢）　硃砂（五分）　防風（五錢）　蟬退（五錢）　牛黃（三錢）　荊芥（五錢）　粉甘（五錢）　殭蠶（五錢）　犀角（一錢）　珍珠（三分，腐煮）　琥珀（三分）</p>
<p>上為末，糊丸，如梧桐子大，金箔為衣。隨症用引，每一丸。</p>
<p><u>弭風丸</u>　治急、慢驚風。</p>
<p>全蠍（十四，去毒）　殭蠶（二錢，去絲）　白附（二錢）　天麻（三錢）　巴豆（十四，去油）　硃砂（二錢）　防風（三錢）　牛黃（一錢）　金箔（二十為衣）　茯神　唇砂</p>
<p>上為末，米糊為丸，粟米大。一歲一丸，燈草湯下。</p>
<p><u>紫金錠</u></p>
<p>滑石（二兩，丹皮煮過）　膽星（二錢）　山藥（二錢）　蜈蚣（一條，去頭足）　殭蠶（五錢）　全蠍（二十）　白茯苓（一兩）</p>
<p>上為末，用麻黃四兩，甘草四兩，熬膏為丸，如芡實大。硃砂五錢，為衣，或用金箔。急驚，薄荷、燈心湯下；慢驚，薑湯下。</p>
<p><u>八仙湯</u>　家傳秘方。不拘小兒百疾，皆治。引經開後。</p>
<p>巴霜（一錢）　硃砂（五分）　鬱金（五分）　乳香（三字）　沒藥（三字）　沉香（五分）　木香（四分）　雄黃（六分）</p>
<p>上為末，滴水為丸，如粟米大。每服二三丸，隨宜引。</p>
<p>驚癇發搐，金子湯下。潮熱、變蒸，燈芯湯下。</p>
<p>傷風、傷寒，薑汁湯下。痰涎、齁䶎，薑汁、竹瀝湯下。食積、肚痛，山楂、麥芽湯下。瘧疾，燈芯、竹葉、麥芽湯下。痢疾、泄瀉，薑汁湯下。</p>
<p><u>散風醒脾丸</u>　家傳慢驚秘方。</p>
<p>蟬退（炒）　防風　全蠍（炒）　麝香　硃砂　天麻（炒）　白附（各五錢）　金箔（五十片）</p>
<p>上為末，飯為丸，如綠豆大，金箔為衣。服一二十丸。</p>
<p><u>一七散</u></p>
<p>一片硃砂一片雪，七個殭蠶七個蠍。</p>
<p>不論急驚與慢驚，調時須用人生血。</p>
<p><u>豆蔻丸</u></p>
<p>胡黃連（五錢）　神麯（五錢）　麥芽（五錢）　檳榔（三錢）　木香（二錢）　肉豆蔻（麵包煨）　使君子肉（各一錢）</p>
<p>上為末，醋糊、神麯為丸。每服二十丸，米湯送下。</p>
<p><u>肥兒丸</u></p>
<p>胡黃連（五錢）　神麯（五錢）　麥芽（五錢）　檳榔（三錢）　木香（一錢）　肉豆蔻（麵包煨）　使君子肉（各三錢）</p>
<p>上為末，神麯、陳米糊為丸。每服二十丸，米湯下。</p>
<p><u>加減肥兒丸</u></p>
<p>蟾酥（一個，酥炙）　白朮（土炒）　陳皮　檳榔　蕪荑（去殼）　胡黃連（酒炒）　雷丸　乾漆（火煅煙盡）　黃連（酒炒）　使君子肉　枳實（麩炒）　木香　厚朴（薑汁炒）　蘆薈（各三錢）</p>
<p>上為末，老米糊為丸，如綠豆大。滾湯下。加減看兒大小。</p>
<p><u>益脾散</u>　治泄瀉。</p>
<p>蒼白（術）　厚朴（薑汁炒）　人參　茯苓（各一兩）　甘草（三錢，炙）　白芍　陳皮（各一錢）　砂仁（二錢）　山藥（五錢）　老米（五合）　蓮子肉（去心，五錢）</p>
<p>上為細末，每服三五錢，滾水調下。</p>
<p><u>消積丸</u></p>
<p>木香（二錢）　山楂（二兩，去殼）　麥芽（二兩，炒）　川芎（一兩）　乾漆（一兩，火煅）　厚朴（一兩，薑汁炒）　黃連（一錢，薑汁炒）　枳殼（三錢，去蘘炒）</p>
<p>上為末，糊丸，如綠豆大。每服一二十丸，白湯下。</p>
<p><u>內消丸</u>　治四肢浮腫。</p>
<p>青皮（五錢）　巴豆（七錢，去油）　木香（一錢）　防己（錢半）　丁香（十四個）</p>
<p>上，以巴豆同青皮炒蒼色，去豆不用，入前藥，同為末，飯丸，如黍大。男用陳皮湯下，女用艾葉湯下。</p>
<p><u>連床散</u>　治癩頭瘡及遍身，陰囊作癢，抓出黃水，痛甚。</p>
<p>黃連（去蘆，五錢）　蛇床（去殼，二錢半）　五倍子（一錢二分）　輕粉（二錢五分）</p>
<p>上為末，先用荊芥、蔥白煎湯洗，拭乾，用清油調敷。</p>
<p><u>六神丹</u>　治潮熱，風痰。</p>
<p>天花粉　石膏　白附子　滑石（各三錢）　硃砂　青黛（各一錢）</p>
<p>上為末，薄荷、燈心、茶湯下。</p>
<p><u>清金散</u>　治鵝口疳、走馬疳、鎖口疳。</p>
<p>青黛（五分）　硼砂（五分）　黃柏　枯礬　雄黃（各五分）　飛丹　冰片（各一錢）　銅綠（三分）</p>
<p>上為細末，井水調，敷口中。</p>
<p><u>白玉散</u>　治赤遊丹毒。</p>
<p>寒水石（煅存性，水飛過，二兩。）　朴硝（二兩）　青黛（三錢）　甘草（三錢）　薑黃（一兩）　當歸（一兩）　柏末（二錢）</p>
<p>上為末，用芭蕉根汁，加蜜調，以鵝翎掃上，干即再敷。</p>
<p><u>如金散</u>　治疥癬。</p>
<p>寒水石（火煅、水飛）　無名異　銅青　飛丹　水銀　輕粉　大楓子　苦參　柏末　枯礬　雄黃（各等分）</p>
<p>上為末，蠟燭油調搽。從腹上搽起。</p>
<p><u>無價散</u>　治面上生瘡，疳瘡，耳疳。</p>
<p>煙岸　枯礬　柏末　飛丹（各等分）</p>
<p>上為末，用香油調搽。</p>
<p><u>導滯湯</u>　治瀉痢初起。</p>
<p>當歸　黃芩　大黃　檳榔　白朮　甘草　黃連　桂枝</p>
<p>白，加姜；赤，加甘草。胃弱，去大黃，加白朮土炒。</p>
<p>上㕮咀。姜三片，空心溫服。</p>
<p><u>一方</u>　治月蝕瘡。</p>
<p>薔薇根（四錢）　地榆皮（二錢）　輕粉（三分）</p>
<p>上為末，用鹽湯洗淨後，敷此藥。</p>
<p><u>一方</u>　治鍛鍊瘡。</p>
<p>煅銀罐子（一個）　輕粉（五分）</p>
<p>上為末，油調搽；濕則乾摻。</p>
<p><u>一方</u>　治走馬疳。</p>
<p>雞內金（燈燒存性）　黃柏　白礬　麝香</p>
<p>上為未，用米泔水攪，貼口中。</p>
<p><u>一方</u>　治湯火瘡。</p>
<p>用蛤蟆二十個，用木油或桐油，煎蟆取油搽，效。</p>
<p><u>一方</u>　治夜啼。</p>
<p>用黑牛，生為末，水調，敷臍下。</p>
<p><u>一方</u>　治口渴、潮熱。</p>
<p>馬前子（一個）　礞石（一塊，煅）　白水磨，服。</p>
<p><u>一方</u>　治潮熱。</p>
<p>寒水石（三錢）　硃砂（五分半）　滑石（一兩）　甘草（六分）</p>
<p>上為末，冷水調服。</p>
<p><u>一方</u>　治肚痛。</p>
<p>用萊菔子煎湯服；或炒為末，抹乳上，令幾吮飲之。</p>
<p><u>一方</u>　治舌上出血。</p>
<p>牙硝（一錢）　發余（一分），敷在舌上，效。</p>
