<header data-type="book">
<h1>壽親養老新書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>宋·<data>陳直</data>著，元·<data>鄒鉉</data>續增</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1307">公元1307年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·壽親養老新書》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0021/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
