<header data-type="book">
<h1>生生堂治驗</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>中神琴溪</data>撰，小野遜編</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>甚矣。醫之難明也。夫人命雖系乎天。以七寸之匕生死八尺之軀。診候倉卒之際。辨冷暖於疑似之間。索虛實於冥漠之中。豈易易乎。其診與方合。病與藥值。而後可始與言醫而已。吾友匡輔。三世其業。既承家訓。猶以為不足。慨然負笈千里之外。得中神氏於京師學焉。數歲而歸。歸則言論纚纚可得而聽也。於才診六徵之技。陰陽不測之術。一循師家之規則。標幟傳響以為己有。唯其有之。是以似之。且言余初所志者。欲遍問洛諸名家。搜其帳秘。而營營逐逐。徒費神力。竟無所得。是以輯錄師家經驗之言。夜間燈下。稍稍謄一二紙。積日之久。集而成冊子。其方則吾師神知所發。妙手所施。治驗之跡。瞭然可觀。獨意記寫綴敘滯澀脫略。恐不能宣其義。雖然文句之陋。青囊家素所不恥。況方脈之言以辭為勝哉。但如其事實毛舉纖微。苟可傳以為法者無遺漏也。於籲秘諸帳乎抑公諸世。與獨再三思之。懷其寶不如表章其言。令人免夭折之患。遂刻示諸同門不窺室家之好者。若能隨余所選。斯繹斯取。思通半矣。其書上下卷。主名論候。無不具備焉。若夫金石奇疾。刲炙異病。汗於陰。下於陽。參附於沉。石黃於浮。無足異者。至吐以下劑。溫以冷藥。斷然不疑。則不可得而測知者。余嘗見其所著醫談。非溫補主攻擊。以張一己之說。竟不免自固之誹。自言其青年客氣所令。然今此書所錄。非復彼偏倚可驚。詭劇可畏之比。取矩於周漢。參朮於宋元。旁撫西洋之所傳。博採眾方。折中古今。以立一家之才。可謂熟夫用之用。而不熟不用之用者非邪。噫秦漢邈矣。張機氏以還。誰謂無張機氏。西州逖矣。誰謂東方乏其人。余也武人。雖未嘗存心於刀圭之技。於琴溪氏竊嘆夫醫之不難明矣。鄉者匡輔親炙之日淺矣。若能再遊而潤色。鴻業則十全之效。蓋有所期。是所望乎匡輔也。</p>
<p><u>享和癸亥季冬　同藩　生駒厚撰</u></p>

<h1>卷上</h1>
<p>吾師琴溪先生。天稟之異。膽略過人。其揮攉刀圭。驅使藥石也。如良將使兵。龍韜豹略。奇正百出。機捷縱橫。所向無前。以小子所聞見其起痼救危。溫補攻擊。各適其宜。百不失一。蓋思慮之精。施術之工。可謂醫之神者。古云。英俊隱醫卜信矣。是以乞治者。日盛月熾。莫不感其恩而服其妙矣。小子往者在於左右。私錄其治驗響應者。藏諸筐中。積得數紙。因繕次條記。謀諸同門之士。以上木公於世云。唯小子之拙。文字陳言。爛說不足盡其妙。愧懼良多。觀者莫以此而輕視先生幸甚。</p>
<p>【發癍紫黑】京師油小路五條。北近江屋甚助之妻。總身發癍。大者如錢。小者如豆。色皆紫黑。日晡所必發痛癢。又牙齦常出血。先生診之。臍下拘痛徹腰。與桃核承氣湯。兼坐藥。前陰出濃血。數日乃痊。</p>
<p>【兩目生翳】岩神街木屋某。雙眼生翳日久。先生診之曰痧也。刺委中放血。日一次。三日乃痊。</p>
<p>【妊娠水腫】車屋街夷川北萬屋喜兵衛之妻。妊娠至五個月。患水腫。及分娩尚甚。一醫人治之。用許多利水之方劑無效。既而胸滿短氣。煩躁幾死。一坐倉遑不知所為焉。時向半夜。病者云。腹上津津似有水流狀。皆異之。即披衾視之。臍傍腠理自開。腫水流漓。自是腫減者過半。然尚大便溏泄。形狀殊危。醫以為表虛里奪。榮陽益氣。亦不可及。勇退而去。因迓先生。先生診之脈微而促。指甲暗黑。面色鮮白。四肢腫存半。按其腹無痛。唯臍下鼓然。如未制皮。中包絮者。問家人曰。小便利否。答曰。就蓐以來。未曾見其快通。即作麥門冬木通湯與之。小便快利。大便時通。仍與前方數十貼。腹皮竟軟。爾後發癇狂。呼妄詈。晝夜無常。先生往。將脈之。則張目舉拳。勢不可近。因換以甘麥大棗湯。服百數貼。而漸漸得復故。</p>
<p>麥門冬木通湯方　麥門冬（三錢）　木通（四錢）</p>
<p>上二味。以水三合。煮取一合溫服。</p>
<p>【黴毒】一男子年六十餘。患黴瘡。來請治於先生。先生診之曰。毒甚深矣。今不以輕粉硃砂輩治之。則後必悔。其人憚而辭。後半年餘。又來請。即診之。其毒殆結痼。先生為言曰。毒非發於耳目。則必發於口鼻四肢。不急除之。恐為廢人。又不背。比及三年。總身麻痹煩疼。不能轉側。目盲耳聾。其族來謝罪。且謂渠前不用先生教。故今果如此。死無日矣。不忍坐視其死。渠縱令不治。一蒙辱先生之治。死且無恨。萬一得開生路。何惠如之。懇請不已。先生謂之曰。今百倍於初所見。非一旦以其最峻者攻之。則病勢不可撓屈。乃與七寶丸八錢四分。朝六分。暮六分。服之七日。咽喉大腫。齒齦斷切。吐出紫黑血。及涎沫約二斗許。凡二十有七日。始得起。由是諸症稍退。但目未明。更與風流湯。期年復常。</p>
<p>【臀腿生癰】寺街綾小路南象牙屋八兵衛之女。年甫十餘。自膝至臀腿。其大幾類於中人。而無痛。色亦不變。身唯仰臥而不得反側。歲餘眾醫僉以為疳癖。不可療也。而辭。竟乞拯於先生。先生脈之細數而有力。按撫其腿膝間良久。顧謂門弟子曰。其狀殆難言。爾等按之。以能諳識諸掌。是此中大釀膿。不急除之。後必有大害。乃使召外科某具告由。某危疑有憚色。先生諭之曰。余有所見也。子解疑效驗乎。即使某以藥湯熨腿膝間。而與浮萍加廣東人參湯五六日。浮郄穴上果大泡起。又使某帖腐藥。遂潰膿水流出。二旬余。得為常人。</p>
<p>【產後塊痛】鳥丸二條北丹後屋某妻。年四十。產後其左脅下。有一塊。閒臥則無所患。動展輒疼痛不禁。四肢亦然。如此者二年。然身體常肥大。先生診之。心下滿。即與桃花湯取瀉。日三行或五行。月餘乃愈。塊亦自消。</p>
<p>【腹脹】四條堺街西近江屋總七之妻。患腹脹者一年餘。先生與之桃花湯下利。則其腹從軟。利止復脹滿如初。因作雞屎白散服之。小便快利。百餘日遂愈。</p>
<p>雞屎白散方　雞屎白（二合）　曲（一升）</p>
<p>上二味。細末。以白湯下之。日二錢。</p>
<p>【妊娠頭痛目翳】河東小野田屋重兵衛之妻。妊娠五月。患頭痛。六月左眼生浮翳。遂失明。右眼尋亦發赤色。醫治多方不效。先生與涼膈散。作吹鼻散兼用之。使以出鼻涕。眼翳隨去。數日全差。又一婦人年二十餘。妊娠七月。頭痛如割。而雙眼赤色。如湧血。左遂不得視。復以前方瘉之。</p>
<p>吹鼻散方　瓜蒂　皂莢各等分</p>
<p>上末搐之鼻內。</p>
<p>【黴瘡】一娼婦二十歲患黴。先生診之。脈沉澀。而非全無力。顏色青黃。肌肉消瘦。咳唾白沫。額有一瘡。其口流膿。滴滴然。陰門亦腐爛崩塌。臭氣掩鼻。自謂曰。賤妾始所請醫藥。皆如應而不應。羈遲數年。荏苒至此。病最奇。胸中鬱悶。飲食減少。今願委治於公。生死唯命。先生即與涼膈散。並以七寶丸三分服之。居二三日。口為之將腐爛。因以龍門丸三十許丸下之。如此者。十數次。口遂不爛。疾亦漸漸而愈。</p>
<p>【黴毒作痛】錦小路近江屋治兵衛妻。四體疼痛。痛處無定。或手或足。或在其左。或在其右。醫認為風毒治之無驗。脈沉結。舌上白苔。其臍旁有一塊。先生曰黴毒也。與龍門丸一錢。酒服之。即大瀉泄。幾昏倒矣。稍覺其痛減。更飲浮萍加大黃湯。十許日。復與前丸。如法服之。月餘全已。</p>
<p>【癲狂】夷川間街北井筒屋喜兵衛妻。發狂癇。發則欲把刀自殺。或欲投於井。終夜狂躁不寢。間則脫然謹厚女功無一怠。先生以瓜蒂散一錢五分。上湧三二升。服白虎加人參黃連湯。不再發。</p>
<p>【頭瘡】佛光寺街山形屋久右衛門之妻。患頭瘡。其瘡蔓衍。狀如覆釜。歲余不愈。先生與浮萍加大黃湯。時時以龍門丸一錢取瀉。不出十日復故。</p>
<p>【雙眼澀痛】佛光寺火宅僧妻雙眼澀痛不開。先生診之。小腹拘急。與桃核承氣湯。兼用吹鼻散。一日。大衄。眼疾全愈。</p>
<p>【麻木】柳馬場四條南丹波屋九兵衛。年三十。總身麻木。目不能視。口不能言。其人肥大。性好酒。先生診之。脈澀而不結。心下急喜嘔。即飲三聖散六分。不吐而暴瀉五六次。越三日又服。（分量同前）湧出可三升。由是目得見。口得言。兩手亦漸漸得動。後與桃花湯百餘貼全已。</p>
<p>【臟結】高倉錦小路北桔梗屋某僕二十歲。晡飯後可半時。率然腹痛入陰囊。陰囊挺脹。其疼如剜。身為之屈不能復伸。軫軫悶亂。叫喊振伏。遽迎先生診之。其脈弦。而三動一止。或五動一止。四肢微冷。而腹熱如燔。囊大如瓜。按之石硬。先生曰。此不可治。即張機所謂藏結入陰筋者死是也。如此疾余嘗見二三人。輒大黃芒消烏頭天雄。或䤵針以挫其急暴。然皆自如不起矣。為憫然。拱手苦思者良久焉。病者昏憒之中。愀然告曰。心下有物。如欲上衝咽者狀。先生聞之。乃釋然撫掌謂曰。汝可拯矣。以瓜蒂散一錢。湧寒痰一升余。次與紫圓三分。瀉五六行。及其夜半。熟睡達明。前日之病頓如忘。居三日自來謝。噫呼師遇若病作若奇術。實神之所通人有不可知者。</p>
<p>【痧毒】一男子。年二十。胸膈鬱塞。似痛不痛。時時嘔吐。每吐鮮血線線。從之先生診之。脈結而口吻黧黑。舌生白苔。曰此痧病也。便刺口吻。及手大指頭。及尺澤取紫黑血。病乃愈。</p>
<p>【浮腫】六角新街東柊屋重兵衛。通面浮腫。口為之被封。才得歃粥。數日。然猶無有他患。先生切之脈浮數。背強。惡風。無汗。頭痛如錐。與葛根湯十數貼不應。因以瓜蒂散五分。嘔其黏黃水六七合。明日復以葛根湯發汗如流。諸證霍然愈。唯腫氣十餘二三。轉葛根加烏頭湯。</p>
<p>【癲癇】一婦人。幼而患癲癇。長益劇。立輒暈厥。有少時而蘇者。日一二。如此三十有餘年。而眾醫雜療無效。其主人偶聞先生異術。乃來請治。往診之脈緊數。心下硬滿。乳下悸動。乃謂先生曰。心神惘惘。不須臾安寢食。數十年一日也。視其顏色。愁容可憐。先生慰之曰。可治矣。病婦實信之。乃服柴胡加龍骨牡蠣湯。精神頗旺。調瓜蒂散五分。使吐黏痰升余。臭氣衝鼻。減毒過半。或五日。或六日一發。凡期年全愈。其間行吐劑約之十六度。渠性忌雷。每聞雷聲隆隆。輒發前病。自用瓜蒂散以往。迅雷震動。舉家畏伏蔽耳。渠獨自若不畏。於是乎益懷先生恩。終身不忘云。</p>
<p>【瘀熱發黃】富小路五條北伏見屋重兵衛。年三十。心中懊惱。水藥入口輒吐。經日益劇。先生視之。眼中成黃。心下滿。按之痛。乳下扇動紊亂不定。先生為言曰。此瘀熱在裡也。蓋不曰身當發黃色。乃食鹽三五匕。以白湯仰吞之。大吐冷水。更與茵陳蒿湯。身果發黃色。圊黑糞。仍服前方十有五日復常。</p>
<p>【瘀血發瘡】一婦人。年三十。久患頭瘡。臭癑滴滴。流而不止。或發黏結不可梳。醫因以為黴毒。攻之不愈。痛癢無止。請之先生。其脈弦細小。腹急痛引腰腿。曰瘀血也。投桂枝茯苓丸。加大黃湯。兼以坐藥。不出月全瘥。後一夜腹痛二三陣。大下畜血云。</p>
<p>【翳膜遮睛】一婦人。年四十。頭痛項背強。兩眼翳膜遮障積年。以茶調散六分。乃快吐。後桃花湯取瀉。不日愈。</p>
<p>【便血】一男子。腰痛。每大便下血者合余。面色鮮明。立則昏眩。先生處桂枝茯苓白朮甘草加五靈脂湯頓愈。</p>
<p>【咳嗽遺溺】一婦人。行年三十餘。每咳嗽。輒小便涓滴汙下裳者。數回醫。或為下部虛。或為畜血。萬盤術要。百數日。先生切按之。其腹微滿。心下急。按之則痛。牽兩乳及咽。而至咳不禁。與之十棗湯。每夜五分。五六日差。</p>
<p>【痧毒發瘡】柳馬場綾小路南近江屋三郎兵衛父。年七旬余。人中發疔。疔頭紫黑。四邊泡興。唯覺癢而已。總身煩熱。口苦咽乾。其子來請曰。吾聞疔瘡之為毒也猛劇。少壯之人。尚且可懼。況家翁春秋高。氣力甚衰。唯恐其不堪。先生乃診之。脈遲。曰。郭志邃所謂脈證相反者痧也。翁之所患。亦痧而非疔也。今毒所釀。雖才在於寸步間。不速治之以砭石。則毒必陷攻其內。竟至以蔓衍。即殪不旋踵。窘迫如此。老少強弱何別焉。然則安危之機。在今日所任。唯砭石而已矣。他奇方毒藥。非所能及。譬之猶蛅蟴之生於園也。其始生才在一枝一葉。速折其枝。剪其葉。則其災一朝可除。不然則詵詵蕃息至舉園死之。三郎兵衛大悅。托治先生。乃以鈹針十字截之。入二步而深血迸食。頃氣宇爽然。翌亦刺血滴二合。三四日腫減。諸症盡退。又建仁寺街四條南道具屋仁兵衛。行年四十有二。兩眉間生一瘡。有奇癢。往來寒熱。其他食飲無所異。眾醫皆以為疔。先生脈之短澀。而參伍亂列。曰是痧也。可速割去毒血矣。因引前老人之病以證之。其人不可。明日復往喻之。猶有憚色。為言曰。然則先試延他醫診視之。一醫視之曰。形色不變。聲音如常。非危證也。乃帖膏藥於瘡上。於是愈不信先生。而其夜遽走人來叩門而請曰。果如先生之言。今病者通面渾然焮腫。呼吸塞迫。呻吟之聲達四鄰。眾醫皆辭去。唯仰先生辱臨耳。辭曰。毒既熾矣。余往亦莫奈之何。使人復至。不得已。注見之。脈絕四肢厥。鼻內腐爛膿血如湧。呼吸之氣甚臭。曰不可濟。竟不投藥而歸。訃尋至。</p>
<p>【黴毒喉痛】一男子。咽喉腫痛。一醫刮之出血而疾頓已。日後尋復發。其腫痛倍於前。飲食不下。死在旦夕。先生乃窺其咽中赤如燃。而舌白苔。曰向陰莖發一瘡。不待藥自愈。先生曰黴也。與章門丸一錢服之。經二日。其人自來謝曰。服已畢。而腹痛暴至。瀉下數十行以達曉。而腹中缺然。腰腳罷弱。力不能出廁。匍匐就寢。便食餅子數枚。咽喉不痛。始知其疾之愈矣。後與再造散以酒服之。數月不再發。</p>
<p>【黴毒發癰】釜坐椹木街北石野長石衛門之家保年三十餘。患黴毒日久矣。自肛門至陰囊其間。潰作巨孔。腐膿淋漓。食飲頗禁。形體悴羸。而煩熱盜汗等諸證。日篤。治理百端。功皆不就。偶聞先生。一代名醫也。急延視之。其脈數而暗帶力。曰可治矣。與風流湯。兼龍門丸。每日服三十丸。百餘日。毒盡除。唯以胸中彭滿。飲食猶未進。先生謂病夫曰。今疾既已矣。而獨所以食之不進者。無他。佳味珍羞常不撤枕邊。而飽厭其氣之所致也。請屏之絕食三日。以開胞內。病者慎守教。一日半飢不自堪。乃就食則覺菜羹當肉味云。</p>
<p>【黴毒】一男子。年二十有七。患黴毒。來視之。總身黧黑而處處墳起。皮膚之間。隱然含疹。耳蟬鳴不能聽。眼中赤。而隱澀不開。咳嗽吭吭。聲為之啞。其脈虛細。即與大劑浮萍加川芎湯。門人問曰。此湯是發越表毒之劑耳。而斯人耳目既失用。按其腹有沉結。豈非里毒倍於表者耶。而今先生攻毒於表之輕者。而遺其里者何也。曰。何其囂囂。我有所見。當解疑於效驗。居一二日。果來報曰。服藥後。才覺噁心嘔血塊之大如雞子者。後又泄瀉紫黑血。目始清涼。脈亦甚和。更用薰藥。月餘全差。</p>
<p>【搤死治法】一人走來叩門。謂先生曰。事急矣。請速來。倉皇不告其故而去。先生至則堂上堂下。男女狂躁。一婦人斃而在傍。先生怪問之。曰。今有一忘八少年屢來求貨財。不知饜。我今詈之。忘八狂怒奮起。將打我。拙荊驚遮之。當其前。渠搤其喉直斃。而忘八駭走。事甚急矣。先生速來。幸甚。先生即命傍人汲冷水盈盤。扶婦人枕之。灌水頸項。半時而後刺之。即蘇。更令安臥。而又以巾浸水敷其頸。覺溫乃換。使瘀血不凝結也。與桃核承氣。加五靈脂湯而去。明日復往視之。婦人大喜。且謝曰。妾幸蒙神救得不死。今咽喉尚無恙。唯胸肋體灣微覺疼耳。飲食如常。師復令灌巾冷水。匝脅肋如初。經三日愈。夫先生之於術也。對奇疾應變。故影響無窮。可謂不世出之才。余親炙之日。所見不為少矣。不遑悉筆。唯舉其二三而已。</p>
<p>【四肢疼痛】寺街透玄寺僧某。四肢疼痛緊急。不能屈伸。逾年。益甚。其脈澀滯。腹拘攣。尺澤委中邊有紫筋。刺之出血。服防風散痧湯乃已。</p>
<p>【頑癬】一男子。年五十。腰間發二三頑癬。嘗藥之者數次。差而復發。毒遂蔓延。周總身暖。輒發癢抓爬不止。來請治先生。乃診之。曰。外藥以拔之。內藥以發之。則已。夫二三頑癬。其毒猶不可除。徒以托諸外藥。恐陷攻骨髓。況今患至此乎。即浮萍加大黃湯。兼漆漆丸。每服五分。日一服。尋作敷藥用之。頑癬為之怒發。其密不容發。所爪膿血如泥。十餘日。盡結痂。因浸巾熱湯。以拭之。於是痂落。至翌年腰間復發餘毒。刺取黑血。數日竟愈。又雙目赤痛。不能開。即使病者袒視其背風府穴上。有癭如桃核大。色紫黑。病者曰。自五六日前發起。如此。曰此郁也。即刳之出膿血。雙眼痛遂止。</p>
<p>敷藥方　巴豆（去皮十錢）　萆麻子（去皮五錢）　乾薑（二錢）　大風子（三錢）</p>
<p>上四味末之。和輕粉一錢。漬酒作泥。</p>
<p>【腹痛】河東古門前松葉屋利助母腹卒然攻痛。迷悶無極。叫號幾死。眾醫伎既窮。而及於先生。其脈閉塞。按其腹硬。顧傍人謂曰。此必平生月事不順者邪。曰不。其行倍他人。曰然則無子邪。曰否。已生三子。於是先生憮然有阻色。時弟子在側。以為此眾醫所去。既不可治。然先生斷之血證。而不中。遂自疑惑。此宜速辭矣。有少焉曰可治矣。求生泥鰍數頭來。主人乃走人得之於肆而還。即以冷水生吞之。自覺其圉圉焉。下至腹而痛頓已。座中大驚。後不再發。</p>
<p>【浮腫】一男子。年五十餘。身體洪腫。短氣。小便不通。脈沉而有力。與桃花加芒消湯。瀉下如傾。其腫減過半。服之三十又余貼復故。</p>
<p>【手指痿弱】一男子。右手痿弱。而拇指最甚。為之不能從事者三年矣。醫者或以為風痰。若濕毒治之無驗。先生刺尺澤及拇指頭以取血數次。動作適意。唯拇指竟未復故。</p>
<p>【黴瘡輕粉發毒】一男子。患黴瘡。初多服輕粉。而無效。爾後唯氣上焰。頭大重。時時昏冒。而不能步。耳蟬鳴。舌強不能言。精神為之散亂。大便或秘或自利。先生脈之緊數。其腹拘急。曰此輕粉之所祟乎。夫輕粉之於徵可謂神藥。雖然。由是誤生命者。亦不可勝數。此無他。在其劑之過不及耳。即服黃連解毒湯。兼江秋散。以去粉毒。</p>
<p>【腫脹咳嗽】小沙彌年可十五。腹腫脹大。如甕。飲食輒格於胃脘而不消。咳嗽唾白沫得之一周。手足削瘦。脈反滑。與桃花加芒消湯三十貼。而諸症皆退。</p>
<p>【身腫短氣】不明街萬念寺北小原永藏年五十餘。身體洪腫者久矣。大小便固不利。一日短氣煩躁。倚坐不能臥。先生脈之。沉促。即投桃花加消石湯。二三日而腫大減。復率然呼吸短迫悶亂。脈將絕。與豉子丸三分。食頃。呼吸始穩。更服前方。而頗難奏其效。命數在天。卒至不可救焉矣。</p>
<p>【黴毒潰爛】一少年。得黴毒。骨節煩疼。屈伸不便。先生診視之曰。毒未結。今尚可攻之。其人未服。更就他醫治之。處三年而咽喉腐爛。鼻準崩頹。而缺骨如小豆大者。往往自口出。臭氣不可近。聲泄於鼻。於是來謝罪。且請治。脈力大衰。其口鼻四邊毒最猛烈。即七寶丸二錢一分。如法服之。口爛環唇反腫。膩痰綿綿流出。或紫血黏膠。口中則以指括去之。已而水穀不下。其間三十餘日。而始得啜粥。猶不至死者。蓋以藥氣之養其精歟。不可解也。於是更與驥騠丸十五粒。三日一次。或五日一次。二旬余。毒全除。先生問其人曰。所吐涎沫幾何也。曰約可八斗云。</p>
<p>【身發奇癢】一婦人。舉身發癢。搔掐不禁。不須更措爪。歲余肌膚為之甲錯。百醫不能治。先生與之浮萍加大黃湯。兼龍門丸一錢。酒服瀉數行。癢乃止。</p>
<p>【痧毒頭痛】一婦人。居常患頭痛。一日大發。先生視之。有紫黑理在其左手掌後引及尺澤。曰此痧也。刺之。血溯如絲。疾頓愈。</p>
<p>【兩足不伸】有一僧。兩足一屈不能復伸者多年矣。先生視之。紫筋數條。盤於腳里。刺之放血可三合。凡刺三四回。乃得伸。</p>
<p>【溲血】一老人。患溲血。血必先而溲。頻年不已。先生作五靈脂湯與之。乃愈。</p>
<p>五靈脂湯方　五靈脂（三錢）</p>
<p>上一味水三合煮取一合。</p>
<p>【心痛】一男子。年四十。患心痛徹背之六七椎。時時嘔吐酸水者。無慮十數年。而二三年來殊甚。先生脈之沉遲。心下堅。與道水湯。兼赫赫丸。每服五分。日一服。十有日奏效。</p>
<p>【血室有熱】醫人藤本氏之妻。始患瘟疫。餘邪不除者有日矣。神氣幽郁。動作乃懶。飲食不進。好在暗處。來見先生告之曰。余周閱金匱千金諸書方。苟其可當者無不行矣。然卒無寸功。願煩刀圭。幸賜臨之。先生診之。脈細而有力。少腹急結。曰邪已除矣。今所患。唯血室有殘熱也。醫治苟誤。恐變為骨蒸。夫骨蒸瘵熱者。余雖往往見之。然至其真者。蓋稀。多是問切不審。藥劑不中。竟誤之使然也。子其可忽哉。即與桂枝茯苓丸。加大黃湯。復來曰。諸證雖退。更罹疫痢。厄腹絞痛裡急後重。所下赤白糅然。先生復診之曰。鷓鴣菜湯之證也。與十又三貼。果下蛔蟲數條乃愈。</p>
<p>【吃逆】一男子。吃逆。經三四日而不休。水藥入口。輒益劇。先生以三稜針刺兩手少商放血。與冷水一盂乃愈。</p>
<p>【痧病瘛瘲】一婦人。年三十餘。從肩髃引右手食拇二指作瘛瘲。身為之顫掉。其痛處無定。起臥言語。輒應痛殊甚。眾醫不能治。先生診之。弦澀。腹猶穩。曰痧病也。即刺肩髃尺澤。合谷。少商。或角之。（角以吸瓢吸瘀血也）與葛根加大黃湯。百餘貼全愈。</p>
<p>【癇狂】松原寺街東小川屋萬助之婢。發狂癇。百治無功。先生即與瓜蒂散一錢。主人狐疑未肯服。竟為庸醫所欺。更服他醫。逾月不靜。故再請先生。又或阻之竟罷。病勢益劇烈。於是始知非他醫所能理也。主人自造門謝曰。噫吁患以至如此。君若不以前日罪。幸寵臨。何惠加之。復與前藥。適不吐而大瀉。翌復服一錢。大吐。其夜察吐定。以紫圓二錢。取瀉數十行。大有功。後再發而尚懼。竟不請。</p>
<p>【膝腫不伸】鳥丸押小路北岡田尾文作之母。六十餘。兩膝焮腫。不能屈伸。其狀類鶴膝。腫上青筋縱橫。因刺之。每三日一次。與浮萍湯。兼玄玄散。半歲漸復恆。</p>
<p>【遺毒發瘡】西洞院五條南近江屋某兒三歲。腿股間。發瘡五六頭皆潰。而膿水流出。及暑其臭氣最不可聞。雜治無效。愈益席爛。至五歲。而患殊甚。形體已憊。顏色青黃。腰腳委弱。不能步動。輒物髑其患處。則啼叫不已。聲音大嗄。師診之。脈微細。謂主人曰。此遺毒也。即與浮萍加大黃湯。兼赫赫丸。時主人嘗聞之一書生。赫赫丸則以生生乳為君藥。於是懼然有難色曰。今體虛已如此。若遽用之。藥毒甚於病。先生曰否。阿郎之有病。猶子之家食奸奴。今子豪賈也。夫賈者。以能得其利者為才。有才奴於此貨財所殖。必克走買賤賣貴。屢建奇功。此子之所愛也。然聞其有博弈。好飲酒。殺越人於貨。則猶用之乎。抑逐之乎。曰不用也。即逐之。雖其才可愛哉。知其惡發。則累及我身也。未如之何已。曰才奴為奸。猶且畏而謀之。矧兒之所養毒即奸也。奸豈可不逐。至其奸極。雖悔何及焉。耆婆扁倉。亦無所試方矣。古曰。癰瘡屬熱。世醫徒眩二三外證。妄投烏雞人參之類。姑息之。汝不省以熱當熱。噫。主人曰諾。慎受命。因與前方。而每日服芥子大者三十丸。數日膿不出。明年而漸得健步。</p>
<p>【咳嗽白沫】一婦人。年十八。形色瘦悴。咳嗽唾白沫。氣鬱郁食不進。所遇多忤其意。醫皆治之。以勞瘵。先生診之脈沉微。而如閉曰。嘗有他患乎。答曰。自幼鼻涕常流無歇。其歇後。久覺鼻內之燥。遂發病。因與之吹鼻散。清涕膿血交出。不日諸症盡退。</p>
<p>【脫肛】智音院。一沙彌。患脫肛。起居太苦。有事於伏見某寺充其役也。欲速收之。諸治無驗。乃來告其狀。且曰。期逼。來日不速收之。竟不能從事此役。子幸有奇術乎。先生曰。蓋有之。嘗聞某家有嬰兒。患脫肛不堪步行。欲收之。百法無驗。冬日使家僮負之出遊。僮無慧也。涉水轉躓。墮兒於水中。己懵然出水振衣拭面。而不顧兒。兒則泣於水中。路人見乃救之。叱僮令背之歸。家人大駭。且罵僮。省兒所患脫肛既收後不復發云。由是觀之。冷水豈脫肛之良藥乎。上人其試之。沙彌曰諾。乃盛水盤中。灌之者數四。果有效。來謝曰。幸奉教。而宿疴頓愈。伏見役得卒事云。</p>
<p>【奇疾】一老婆有奇疾。每見人面。皆有疣贅。更醫治之也。不可勝數。然無寸效。先生診之。脈弦急心下滿。服之三聖散八分。令吐後。與柴胡加龍骨牡蠣湯。自是不復發。時年七十許。</p>
<p>【喘急】棋山先生之室喘家也。一夜發甚急。遽招先生往診之。脈促心下石硬。喘急塞迫。咽中作引鋸聲。唯坐不能臥。他醫二三輩。先在坐焉。治方已窮。待先生。先生至曰。予有一奇方。往往用之頗奏奇功。請嘗試之。即作生蘿蔔汁注之咽中。未盡一盂。喘頓止大息曰。精神始爽。</p>
<p>【蹶僕損傷】寬政戊午秋。大佛寺災。其材鉅麗嶔詭。一朝忽為灰燼。於是都下觀者接踵。醒井街丹馬屋喜兵衛者。年已七十餘。亦往睹之。路有一大樹。蜂房系焉。兒輩戲以竿挑之。翁不知之。暫息其下。怒蜂群聚。欲爭螫。囂囂乎耳邊。翁駭欲走。傴僂盤旋轉蹶遂僕。腰腿撲膝䯊傷。足不能立。惋然唯吊天。路人扶之。徐得歸家。其夜渾身煩疼。腰痛殊劇烈。喊聲聞四鄰。遽請先生診之。脈遲身熱如燒。痰喘哮哮。舌黃苔。穀食不下。唯欲冷水。即與大承氣湯。欲兼飲麻甘湯。預諭其瞑眩。皆恐不敢。先生曰。然則此疾不可極。辭去。居三日。病勢彌篤。復來謝前過。乞再診。先生辭。於是親戚交懇請不止。因與前方。兼麻甘湯一貼。（重三錢）　不省人事者。亥至辰。翌日往診之。脈徐和。痛楚減半。其夜亦與前方暝眩如初。凡與大承氣湯者。三十貼。钁鑠不異舊。</p>
<p>【哮喘】某兒初生五十許日。一夜卒哮喘攻咽。直視厥冷。舉家大駭。招醫見之。醫脈之曰。此為寒所傷也。於是裹定諸乎爐旁。而所施桂麻炙火。而病勢益加焉。因請先生往診之。脈應矣。腹亦不異常曰。無毒也。裹定之厚。與藥劑。惟毒而已矣。遽去爐脫衣被。臥之涼處。俄頃熱退喘治。啼呼如常。</p>
<p>【鼾聲驚人】一婦人來見先生謂曰。妾二三年來。每寢鼾響孔噲大驚人。妾甚愧之。因切心中及臍上硬急。以三聖散上湧乃已。</p>
<p>【熱結膀胱】一男子。年三十餘。遇冤下獄。首不受櫛者久矣。會遇赦而出。體羸骨立。不勝衣帶。忉然閉戶。不接人者有日焉。遂傷寒戰寒。一伏時。四肢微冷。而如獨與鬼言者狀。先生診之。小腹急結。小便頻數。曰熱結膀胱也。與桃核承氣湯六貼。其夜大劓。而後又下血數合。而諸證罷。向所慷慨亦脫然如忘。</p>
<p>【下疳瘡毒】一男歲二十。患下疳瘡。其毒遂上攻左耳。聵聾。咽喉腐爛。喉外自發瘡。嗣後咽中腫痛。米粒不能下。久矣。唯待死耳。先生省之。且使門弟子診之謂曰。二三子以何等之方治之。皆曰七寶丸。若龍門丸。先生笑曰。不。爾等既泥於我規則焉。正以殺人而已。古諺曰。欲投鼠而忌器。斯人也。而有斯病。猶鼠之近器。豈可不追。然而糧道已絕。胃氣憊者久矣。二三子之言。雖當乎損其器。亦如之何。先與半夏苦酒湯。銜而飲之。明日使人來曰。咽痛如忘。腫亦隨消。居旬余其腹頗當毒矣。因與桃仁解毒湯。行熏法。後以龍門丸下之。一二月耳亦有聞。</p>
<p>【痘】石屋武兵衛之侄。年二十八。發熱。惡寒。頭強。項痛。脈浮緊。胸腹悸動。心下急結。面色焰焰。先生視之曰。痘也。即與浮萍湯。並服燕支丸。百餘粒。其夜峻瀉數行。至翌則痘亂點於總身。及至成漿。最稠密。凡卅許日落痂。其間無他變。</p>
<p>【腹癰】上立賣室街西小泉源五者。男年二十又一。一日更衣。忽腹痛施四肢急縮。不能屈伸。家人聞其悶呼就視之。昏絕四肢厥。即扶之臥室內。延醫針炙。徐徐而厥反脈應。腹復迸痛。悶呼。不可聞。肛門脫出。直下如腐爛魚腸者。膿血交之。心中懊惱。食飲不下咽。醫為禁口利。療之數日。時聞先生多奇術。遽走人迓先生。往診之。脈遲而實。按之闔腹盡痛。至臍下。則撓屈拗悶。曰不堪其痛。先生曰腹癰也。先漬食冷水食之病者鼓舌喜盡一盂。因與大黃牡丹湯五六日全愈。又其妹十七歲。特食果實不近五穀者月餘。皆以為妊娠。計之先生。先生診之。切其腹脅滿。心下悸。其餘百舉無異。恆曰非妊也。食鹽三匕以溫湯吞之。忽湧黏痰升余。其夜既就晡飯云。</p>
<p>【肢腫黃病】田近左衛門婢。年二十有五。面色青黃。四肢微腫。其乳下動悸。深掌為黃⿸疒半治之者有年矣。先生診之。臍下結硬。足之腇中痧筋如羅。刺放血。二日而一次。或五日一次。月餘全差。</p>
<p>【傷寒食復】花屋街松葉屋某。傷寒陽明病下之。諸證徐退。里和食進。一日倍一日。一日晡飯未終。忽然發噎逆飲食。百端而不能通。或作搏飯如彈丸。𨵦其間投之白湯以仰送之。輒嘓然而下者。十才一二。余皆失其機。則怒嘔居三日。穀氣殆乎絕矣。精憊氣耗。舌強面煤。鄭聲重語。技方千端。都下之醫。僉束手。會有人嘗睹記先生之術。來訪之。以為事已急倍行謀之先生行省之。一坐號泣既為修冥福之狀。診脈至巨里趺陽。暗如有應。且章門左邊有應其噎逆築動者。即行之燒針。未畢噎逆頓治。試按其心下氣息甚穩。欲眠。旁人見之。且駭且喜。蹠蹠不知所為焉。先生掣之曰。勿咻恐。復驚之。良久鼾聲如雷。發熱汗如流。脈亦尋復矣。因作糜粥放冷之。俟寤而啜之訖。復就睡。時已質明也。先生將辭。室人交乞藥不止曰。渠向起於病也。毒既殫矣。然隱曲不禁食飲亂節。是以有再患。今我何攻。日啜糜粥之最糜者。守數旬。則必表裡實。陰陽當自和。月餘果自來謝。</p>
<p>【黴毒發瘡】一男子。年三十餘。黴毒骨節煩疼。尾閭傍生瘡。膿汁滴滴然。與龍門丸。每服三十丸。每日一度。臨臥溫酒下之。數月全。</p>
<p>【交感小腹急痛】一婦人。年三十餘。每交感。小腹急痛。甚則陰門出血。而月事常無違。其餘腹脈亦無異常。醫藥萬方一莫效。先生曰。所謂下有病。上吐之。乃與瓜蒂散六分以吐黏痰升許訖。與大柴胡湯緩緩下之。後全差。</p>
<p>【失瘖】一男子。年三旬。不語歲余。凡百醫療及秘咒禱祀無不盡。先生診之。心下急。腹內如盤。試開口令發聲。輒其舌隨攣縮。與大陷胸加烏頭湯。兼以漆漆丸五六日。通身發紫癍。灼然如蝦魚之新發於鼎悶。癢不可耐。使人搔爬無釁隙焉。病者彌憤如突。然曰喝曰。伽由㠯（和言癢謂伽田㠯）與沉吟之聲交發。一坐大駭。令復言。輒如欲揬口出者狀。及至翌日。喉舌殊旋轉言足達意。癍亦經日愈。服前方百餘貼。為他醫所拒。竟辭藥。</p>
<p>【黴毒陰瘡】一娼婦。患黴毒解後。獨陰門腐爛。入其內者深二寸許。諸帖膏插藥輒溺洗濯之。遂不能就其效。先生之治巴豆輕粉。亦延月無寸效。因作坐藥。兼用之復故。</p>
<p>坐藥方　輕粉</p>
<p>上一味。作紅叚囊如食指大。長可二寸者。充藥其內寸余。而以線扎住之。深蓄之陰內。三日處以湯熨小腹。及腰以下而後換。</p>
<p>【恚怒卒倒】一婦歲五十餘。恚怒即少腹有物上衝心絕倒。牙關禁閉。半許時自省。月一發。或二發。先生診之。胸腹動悸。與柴胡加龍骨牡蠣湯數旬愈。</p>
<p>【傷寒】一男子。太陽與陽明合病。下利強汗之流漓不禁。七八日。而四肢微冷。目中反如澍朱。或有知識者。來訪之。則必瑣瑣口演己之譴狀。忽焉言天言神恍惚如不從其臆出者。醫以為心虛。與真武湯。其夜耳聾舌強。病勢彌逼矣。先生診之。沉遲舌苔黑。腹燥屎。與之大承氣湯。（貼重六錢）未畢一貼。痢反止。撮空妄言。煩熱如燒。復與前方三貼。（重同前）從亥至卯。不知因作生藕自然汁兼飲之。與前方。凡十餘貼。下燥糞及黏黑物。且發汗浸衣被。而前證徐穩就睡。居十餘日。諸證大退。唯心下煩滿。食不進。更與小柴胡湯。三十又餘日復故。</p>
<p>【消渴】草廬先生。年七旬。病消渴引飲無度。小便白濁。周殫百治。而瘁疲日加焉。舉家以為不愈。先生亦弟囑後事。會先生診之。脈浮滑舌燥裂。心下硬。曰可治矣。乃與白虎加人參湯。百餘貼全愈。歷歲而前病復發。家人強薦先生之治。曰予死期當在昔年汝輦之所識也。以琴溪子之靈。幸得至乎今。豈不賜之大者。今也疣積數竭不可求斯天也。非藥石之所知。何辱琴溪之為。居無幾。竟即世。時年七十有八。</p>
<p>【痧證厥逆】四條寺街東澤屋某妻。年二十又八。卒然大吐瀉。脈絕手足厥冷。主人遽激先生即往。先是一醫人即與四逆加人參湯。不應。見先生謂曰。予已投參附矣。然其厥不反。脈不出。危在瞬息。子尚有術乎。先生診之。胸腹煩熱。口吻紫黑。曰痧毒也。可治矣。即刺口吻及期門。徐徐厥反。脈出。投五苓散數貼。復舊。</p>
<p>【驚風吐乳】其氏兒生二歲。患驚風。其瘥後。猶吐乳。聯綿不止。眾醫為之伎窮。而及於先生診之。無熱而腹亦和。即作連翹湯服之。一服有奇效。</p>
<p>連翹湯方　連翹（三錢）</p>
<p>上一味。以水一合。煮取半合。溫服。</p>
<p>【黴毒腳攣】一男子。自小腹引兩腳攣縮。不能屈伸。醫以為腎虛。若腳氣治之。先生目之曰。汝黴毒也。病者大驚曰。然嘗有發便毒。其發也。未五日。而自治。先生曰。蓋其毒在腰腳之間也。診之果然。即刺委中取血。每日一回。時時以龍門丸下之乃已。</p>
<p>【痧毒】八幡人鍵屋喜兵衛者。以他事來見先生。先生望見其色。謂之曰。汝有痧毒。不日必發。暴疾發則可刀割膏肓邊以出血。不然必危矣。喜兵衛大駭。且抵掌謂曰。三年前。卒然氣上衝咽喉。項背攢痛。四肢微冷。舌上不下。冷汗濡身。時醫皆束手。及病勢殆急。竊以為陽火騰而壅鬱項背者。欲使人截肩際以醫之。有禁不敢為幸。睹一削子。在枕前引之。自刺見黑血滴而其疾乃愈。先生今一望而知之。何其神哉。可謂能視垣一方人矣。請謹奉教。厥明年有人自八幡來時。先生問喜兵衛。則曰。以去冬十二月死。蓋夜半疾發。乃將自截其肩際。為醫及家人所拒而卒瞑焉。</p>
<p>【酒毒】某氏每逢烈風。其通面頓紫赤。冬日最甚。皆以為癩風。先生視之。其體豐膄。而黑色。其人曰。余嘗嗜酒過度。先生曰。此酒毒也。梔子散。酒服數日痊。</p>
<p>【噎膈】伏見農人利兵衛年五十。患膈噎。諸治無寸效。先生診之。脈嗇。按之有力。其心下至臍上。堅如石。身憊顏色黧黑。先生叮嚀之曰。是非醫藥之所能濟。有一術於此。每旦食前食鹽二三匕。以新汲水送下。乃應嘔出黏膠者。其人固信先生。故守其法。如教累月不懈。數月而來謝曰。自初奉教。不數日食既得下。其身體壯實。</p>
<p>【癩病】醍醐上稙野人某輿病來視之。即癩也。口吻紫黑。肌膚甲錯。手足皸裂。其狀如鵝掌。兩足心有孔。廣半寸。深一寸。痛甚不能步。與大劑浮萍加大黃湯。且刺尺澤腇中諸穴出血。後扶杖而來。肌膚澤然。有潤色。期年自謂力作於南畝。</p>
<p>【狐惑】近江大津人某。來見先生。屏人竊言曰。小人有一女。年甫十六。既許嫁。然而有奇疾。其證非所嘗聞者也。蓋每夜及已首伺家人熟睡。竊起舞躍。其舞清妙閒雅。宛然似才妓最秀者。至寅尾而罷。遂寢以為常。余間窺之。夜夜輒異。其曲曲從變奇不可名狀。明朝動止食飲無以異常。亦不自知其故。為告之則愕然而怪。竟不信也。不知是鬼所憑乎。若狐貍所惑邪。他若聞之。恐害其婚。是以為之陰祝咒禱祀無不為也。然猶不效。聞先生之門多奇疾。幸來視。先生應曰。此證蓋有之。即所謂狐惑病者。行診之果然。與之甘草瀉心湯。不數日。而夜舞自止。遂嫁某氏。而有子。又聞大津一婦人有奇疾。初其婦人。不知貓在櫃中。誤蓋封之。二三日開之。貓飢甚瞋目。嚇且走。婦人大震。遂以作疾。號呼臥起。其狀一如貓。清水某者。師之友也。乃效先生方與甘草瀉心湯。以治之。又御幸街三條南俵屋治兵衛之妻。患下利數年。食不進。形體羸尫。肌膚甲錯。非人扶持之。莫能起臥。眾醫更治之。以參附訶罌類。先生診之曰。百合篇。所謂見於陰者。以陽法拯之者也。乃與大劑桂枝湯。覆以取汗。下利止。更與百合知母湯。以穀肉調理。漸漸復故。</p>

<h1>卷下</h1>
<p>【熱入血室】京師間街五條北近江屋利兵衛妻。傷寒經水適來。譫語若見鬼狀。且渴欲水。禁不與。病勢益甚。邀先生診之。脈浮滑。是熱入血室而兼白虎湯證者也。即與水不禁。而投小柴胡湯。曰張氏所謂其人如狂。血自下。血下者愈。雖病勢如此。猶自從經水而解。果五六日全痊。</p>
<p>【交腸】一婦人。年可三十。有奇疾。後竅閉塞不通。大便卻從前陰泄。如是旬許。而腰腹陳痛。大煩悶。燥屎始通。前陰所出亦自止。嗣後周而又發。蓋患之十餘年。醫藥百端。無不為矣。容貌日羸。神氣甚乏。師診之。其脈數而無力。始按其臍下。有黏屎即從前陰出。再按有一塊應手。師問曰。月事不行者幾年。曰十有餘年矣。先與大黃牡丹湯。緩緩下之。佐以龍門丸瀉之者。月一次。自是前後陰口得其所居。數旬自謂曰。妾有牡痔。方臨廁也。疾痛不可忍。師視之。肛傍有如指頭者。以藥線截而治之。仍服前方一周年許。塊亦自消。</p>
<p>【頭痛】御影堂側娼家某。妻患頭痛。有年。素愛貓。一日懷之倚門。有逸狗咆哮。鬥於門外。貓震悚將脫去。仍攇掣不遣。益駭躁。遂撥破婦人頭而逃。黑血淋漓。遽招先生。先生視之曰。積年頭痛當愈。汝素愛貓。施恩弘多。而貓報其德乎。果如其言。</p>
<p>【背痛肢攣】河原街平野屋清右衛門之妻。年六十餘。一朝無故。覺項背強痛。延及全身。四肢攣倦。不能轉側。及昏逆師。師診之。脈緊急。即舉其手指頭。皆扎住之。刺取黑血。即有效。又視一條青筋。結在喉傍。即刺之。血大迸。自是四肢得屈伸。因與葛根加大黃湯。二三日復故。</p>
<p>【癇狂】建仁寺街近江屋某。女年甫八歲。患狂癇。休作有時。發則心氣恍惚。妄言不已。諸治不驗。延及十四歲春。愈益猛劇。每夜發者。三四。醫皆束手。其父母甚憂之。謁師請治。師捉其女於浴室。灌之冷水者食頃。既而與麻黃湯覆取汗者二三次。遂不復發。</p>
<p>【胸痛】衣棚椹木街北美野屋太兵衛之妻。年五十。胸痛引小腹。僅能踡臥。而支之。而猶苦其叵支也。初一醫與藥。則嘔逆。遂至藥食不下。醫又以為脾虛與氣脾湯。及參附類。疾愈篇。師即與瓜蒂散五分。湧之。翌日與梔子豉。加茯苓湯。數旬全。</p>
<p>【麻木】五條高倉東松屋甚兵衛。年知命。卒倒不省人事。半身麻木。先生刺口吻及期門即蘇。而後與大柴胡湯。（有心下急腹滿等證）兼敷遂散。三年。復發竟死。遜按痊後。尚以瓜蒂散取吐。且炙火不怠。則必免再發乎噫。</p>
<p>【頭瘡】東洞院五條南某氏。兒八歲。久病頭瘡。其毒內攻。身浮腫。呼吸短促殆鄰死。師與龍門丸。取瀉三四行。後與浮萍湯。兼前丸。每服十丸。數日乃已。</p>
<p>【腫滿】九條堀川西淺田某。子年弱冠。身體滿腫。延及陰囊。其大如球。而莖幾沒其中。師診之曰。汝之腹內腫色似嘗有疥癬癮疹之患。曰然。昔者請一醫傅藥頓愈矣。曰此其內攻耳。乃與越婢加朮湯。兼龍門丸。每服三十丸。三日一次。數旬全瘉。</p>
<p>【蛔蟲】烏丸近江屋某女。十有五歲。四肢攣痛。不能步躡。已而頸項間。累累核起者數處。醫以為寒濕。若黴而治之。不驗。先生診之。曰蛔蟲也。即與鷓鴣菜湯三貼。果下蛔蟲十三頭。其長尺余。或三四寸。攣痛減半。復與五貼。以下八頭。而後其累累者。亦經日消去。</p>
<p>【產後齒齶腫痛】綾小路若挾屋總兵衛妻。產後神氣鬱居旬余。齒齶腫痛。立則眩冒。身振振。舌本強。師即以鬱金散。吐青黃水氣升。乃與桂枝茯苓丸。全痊。</p>
<p>【腳氣】大宮通大工新藏之男。年十四。兩足微腫。頗解惰。師診之曰。腳氣也。法當下緩劑。姑息恐有後患。即作大劑桃花湯與之。後三日來報曰。大瀉矣。腫氣雖由是消也。身體從憊甚。唯峻補治之何如。至蔓衍否。其毒未減三分之一。非拔其根柢。必復蔓衍至。不可以救矣。新藏性怯弱不肯用。師言時惟複比至流火。果復腫。又請師。師診之。脈急促乳下扇動。曰毒漫彌矣。不可救。辭然猶不為意。不逾十日。水氣衝心而殺之。</p>
<p>【反胃】間街五條比大阪屋德兵衛之妻。年二十有六。月事不常。朝食輒吐之暮。暮食輒吐之朝。每吐上氣煩熱。頭痛。眩暈。時醫或以為翻胃治之。曾無寸效。其面色焰焰。而脈沉實。心下至小腹拘攣。而所按盡痛。先生曰。有一方可以治矣。乃與黃連解毒湯三貼。前症頗差。後數日。卒然腹痛。瀉下如決。月事尋順也。三旬復舊。</p>
<p>【下利】一僧。來請曰。貧道有奇疾。每歲三月五日。必患大瀉者晝夜不知數。經三日而止。是以身體消削。天機盡絕。數日復故。今茲亦逼其期也。聞先生名手。故先期乞治。先生診之。六脈滑而數。按其心下悸。師顧門弟子謂曰。所謂時發熱。自汗出。而不已者。先其時發汗則愈。又云下利已差。至其年月日時復發者。以病不盡故也。當下之。斯人即是。與大劑桃花。加芒消湯四貼。曰先期五日當服之。僧曰諾。後數月來謝曰。果有驗。</p>
<p>【嬰兒口腫】一兒初生月餘口中腫痛。其色如紅。拗啼不能乳也。師以湧泉散帖之足心。且令服牛黃通隔散。二三日已。</p>
<p>【痘瘡】一兒甫三歲。痘瘡見點不能光壯。師作反鼻散。服之。即勃然發起。</p>
<p>反鼻散方　反鼻　稻苗連根</p>
<p>上二味各等分末之白湯送下。</p>
<p>【腳氣】一男。年二十。患腳氣。一醫以越婢湯與之。不日水氣衝心呼吸短促。號叫悶亂。醫視其幾至死。更與犀角旋覆花。三黃瀉心等湯。病勢益劇。病家走請治於先生。先生脈之已不應。而心下膨脹。腹肚反軟。而結燥屎其內。謂家人曰。誤治之所致。今已若此。死在旦夕。非草根木皮之所能治也。家人愕然。環泣要師丐曰生死命也。願賴先生之靈。幸一見起色。死奚悔。師曰無已。則有一法於此。請挫其勢。即以鈹針割其口吻。血不出。又割尺澤。亦血不出。又刺膏肓角之血才泄。又角之亦泄。可一二滴。病者大息曰。胸臆爽哉。師因制巴導用之。大便猶不通。更與大承氣湯。燥屎即及肛門。猶不肯出。乃使人指探去之。未得盡出。而死。</p>
<p>巴導法　巴豆（去殼）</p>
<p>上一味末丸。梧子大。以蜜煎導里。三四丸。</p>
<p>【產後嘔吐】一婦人。產後嘔吐。久不止。面色黃。大肉日脫。起臥無聊。醫或以為骨蒸勞熱治之不驗。師診之。心下悸。按之有水塊。如覆杯狀者。與小半夏加茯苓湯。兼赫赫丸。數旬乃已。</p>
<p>【吐血】堺街四條南大文字屋安兵衛者。性素嗜酒。因患吐血。每月二次。師數與三黃瀉心湯類不應。刺委中取血乃已。</p>
<p>【產後水飲嘔吐】一婦人。產後嘔吐不止。飲食無味。形貌日削。精神困倦。醫者皆以為產勞。師診之。正在心下痠痛不可按。曰水飲也。與小陷胸湯。佐以赫赫丸乃已。</p>
<p>【腫滿】一婦人。滿腫。醫為腳氣。專投利水劑。以虞變於衝心。不中疾益甚。師脈之。沉細。小腹急結。按之其痛徹前陰。與桃核承氣湯。其夜半大腹痛。泄瀉七八行。明日腫減過半。與前法數日收功。</p>
<p>【小兒郁病】一兒年十餘。神氣鬱郁。在阿母之目下不好從群兒嬉戲。師診之。脈微數。面色青黃。鳩尾一邊。膨起如覆掌。與涼膈散兼金玉丸。歲余復故。</p>
<p>【胸痛嘔吐】五條高倉東藥屋某。患胸痛嘔吐。七年變為膈噎。師診之。六脈細小。心下悸。而有水聲。瀝瀝然。與枳實薤白桂枝湯。赫赫丸。每服三十丸。三日所下利。皆黑色如漆。病勢頗退。後十數日。心中懊憹。吐出黑痰膠固者。前患方除。後經十餘年之久復發死。</p>
<p>【泡瘡】下河原平野屋治兵衛。年三十。得泡瘡。所點數處漫腫無頭。當膿而膿不成。自收而復發。其轉移曾莫或所定。而左臂下一瘡。最凸腫。生紫色。痛不可堪。且日夜肌熱。飲食無味。初醫進葛根加大黃防風通聖等湯。數日而膿未成。病者曰。瘡已如此。而膿未成。願以刀破之。醫弗聽。曰是瘡之所忌也。曰然則何不使施駃峻毒藥。自潰於其內。醫猶固禁之不使行其意。而病勢愈奇。沉吟之聲不絕。師往診之。曰膿已成矣。盍速割之。病者具告以前醫之言。師笑曰。世醫滷妄。率皆若斯。悲夫。即鈹針截其瘡頭入五分。而不見膿。又刺深七分。膿血即溢出可二合。楚痛頓止。服浮萍加大黃湯。兼龍門丸。每服二十丸。日一服。他所腫起。亦輒刺以取黑血。凡月餘乃全。</p>
<p>【畜血】間街五條北釜屋伊兵衛之妻。半產後。面色黧黑。上氣頭暈。先生診之。脈緊心下悸。臍下結鞕。曰此有畜血也。即與抵當湯。三日病婦覺腰以下甚解怠。更與桃核承氣湯。果大戰寒。有頃發熱。汗出讝語。四肢⿰糹契搦。前陰出血塊。其形如雞卵者。六日間。約二十餘。仍用前方二旬。宿疾如忘。</p>
<p>【反胃】竹屋街釜坐西丹後屋三即兵衛者。來見先生曰。吾患反胃。已半年。眾醫藥之弗愈。曰不可為也。殆不可治乎。今也所賴者。闔都唯先生而已。先生診之。脈沉實。按胸下有一塊而塞。曰。欲吐時。其塊必先大痛難支。曰水塊也。即與導水湯下利日五六行。月餘乃愈。</p>
<p>【寒熱】新街綾小路南百足屋半兵衛。男年十二。寒熱如瘧狀。日二三發。先生以桂枝麻黃各半湯治之。疾愈之後。項背強直。兩手顫動。無休顏色。隱帶悲愀。先生曰。此將發心疾。當速治。以瓜蒂散三分。快吐一升余乃愈。</p>
<p>【遺毒】師嘗詣某氏。見一小兒肥而笑靨輔可愛。問年生甫三歲。熟視之。私謂主人曰。可憐有遺毒。若無祟於五官。必厄於痘瘡。主人乃憫然有憂色。曰僕固賤愚。未識其恙。徒顧之。復之亦何異乎養屍。先生苟有醫方療之。幸甚。曰。非大發其毒。則除之不得。弟數日煩矣。主人素信師。哀懇請治。即與浮萍湯。二三日果大發疹。匝一身。其密無隙。啼號不絕，日夜無就一睡。既歷十日。猶未見其結靨之機。膿血交溢。舉家涕泣。以為必斃。乃招師請曰。毒發如此。疲亦孔矣。悶呼之聲。人不忍聞。願使其得暫睡眠。精氣亦舒調乎。曰。毒發如此。何足驚恐。乃以西瓜皮末二三匕。水攪之。塗搭全身。其翌悉干。舉家大喜。益神先生。既而夜半急走叩門。師起而問之。則曰變出意外。往視之。呼吸短促。喘迫抬肩。脈微促。於是乎始自知其西瓜皮之陷攻。先以瓜蒂湯。令上湧者二三次。諸症頓退。將就睡。眾皆奇之。翌日夜半。前症復發。遂歿。</p>
<p>【兒頭杵傷】一小兒遊戲於舂者側。誤杵其頭。忽絕倒而傷處突起不見血。先生刺其上取血。可一合。漸蘇腫減痛止。</p>
<p>【跌僕成癇】間街五條南松屋某兒十歲。方浴頓躓而僕。呼而不答。家人大驚。灑水其面。乃得蘇。自是厥後卒倒。每月二三回。色甚脫。先生與浮萍湯兼漆漆丸二分。覆取汗。夕以達旦。其兒大煩熱。身發紫癍。復浮萍加大黃湯數十貼全差。</p>
<p>【脹滿】東洞院高辻。西山形屋善四郎之母。年七十有餘。患脹滿。五年。其硬如石。指彈之。則有聲如鼓。師診之。沉緊。乃與桃花加芒消湯。下利二十日。滿稍減半。會為俗醫所間。廢藥五日。脹滿復如故。於是始信師。謹服不已。五六月許。腹皮漸作皺。</p>
<p>【笑病】下魚棚室街西綿屋彌三郎之妻。善笑。其所視聽。莫不畢入笑。笑必捧腹絕倒。甚則脅腹吊痛。為之不能息。常自為患。請師治之。即與瓜蒂散一錢。上湧二升余。不再發。</p>
<p>【腫脹】一婦人。產後浮腫腹滿。大小便不利。飲食不進。其夫醫人也。躬親療之不驗。可一年而疾愈進。短氣微喘。時與桃花加芒消湯無效。於是請救於師。師往診之。脈浮滑。按其腹水聲漉漉然。謂其主人曰。吾子之術當矣。然病猶不知。則又當更求方。夫當下而不下。即更吐之和之。不當即發之。又可所謂開南窗而北風自通。又張機所謂與大承氣湯不愈者。瓜蒂散主之類也。主人曰善。因與大青龍溫覆之。其夜大發熱。汗如流。翌又與如初。三四日小便通利。日數行。五六日間。腹滿如忘。與前方凡百餘貼復故。</p>
<p>【痧證暴發】堺街蟑藥師南近江屋清兵衛。使人請師。曰。有旅客卒然發疾。師往視之。其人年四十許。呼吸短促。咽中有細聲。四肢厥。目睛不轉。心精漂漂乎如懸旌之任風。始發時。奔走室內。妄叱狂喝。有制之者。輒齧之。勢不可向邇。及先生至。才能得制之。先生即以刀破其曲池。血不出。又刺膏肓入可寸。出血一二滴。又刺口吻。黑血湧出。於是大勢稍退。因切其脈。散亂不可名狀。曰暴痧也。與桃仁承氣湯三貼。（貼重六錢）有少頃焉來報安放。</p>
<p>【鼓脹】西洞院花屋街南里村甚右衛門來見師曰。拙荊患鼓脹者二年餘。更醫代治溫補殆盡。而疾愈篤。前日痰喘沖咽喉。倏忽瞑矣。舉家大驚。遽延眾醫皆曰不可為也。辭而去。余不堪永訣之情。親按其少腹。陽氣猶微。隱隱應掌。尚或如可活。請來視之。師曰。移時且不可治。況逾日者乎。固辭。復來曰。死者猶有餘陽。人情豈忍斂之乎。願君一診之。師往則脈無影響。視其腹上。青筋縱橫如網。謂曰。此瘀血之症。月水滯者必久矣。主人曰然。曰籲。醫治既誤不可復活。實可悲也。余唯試示其瘀血。即刺膏肓角吸之。見黑血三四滴。呼吸僅復。沉吟之聲若聞。因行臍炙。（臍炙法詳方函）　數十許。令人披被視之。惡血沾裀。膿血交下。一坐奇之。且請藥。不與而去。遂死。</p>
<p>【疳蟲】一婦人。負嬰兒來請治曰。此兒生甫三歲。飲食無度。不須臾絕於口。禁之則啼泣喃喃。以罵母。且大便泄瀉。往往下完穀。更醫數家。皆不驗所在疳藥幾盡。然唯徒身體羸尫如此。師診之。脈細微。而指下或失之腹亦固脫。曰。世所謂疳蟲。其證雖或危篤。許多神術奇方。死中猶得生路者。予往往睹之。然此兒比他之病疳蟲者。則其證徐輕。而其腹脈最凶。非湯藥之所能救也。余嘗有一術。一兒病疳蟲。其家甚貧窶。不能乞醫藥治。其父母相泣曰。此兒固可死寧從彼所欲。於是縱其飲食。令厭飽。厭飽極而飲食自減。不逾月而其疾自治。今此兒亦當然作稀粥。隨兒意而食之。則可。婦大喜。月餘果有效。</p>
<p>【腹痛】室街竹屋街北井筒屋某男。自壯年時患腹痛。發作有時。甚則其痛絞攻心下左右。突然上衝。咽喉。輒嘔逆不耐。使人捫其腹。或拳其背。可半時自收。荏苒已八年餘。其痛苦益甚。至按擪之。則非人手所能勝。乃制棍數個。兩手持長五寸許者。擪之痛處。非一二。或就壁倚柱支。以其長尺余者。號泣悶轉。如蚓在灰。唯祈遄死耳。為之頭髮斑白。面色深黑。當此時醫多束手。徒待其自收耳。乃延師視之。心下急腹虛滿。其狀如撫氣球。與赫赫丸。日三分。每至七日。則以大陷胸丸二錢下之。月餘全差。</p>
<p>【經來腹痛】新街二條南山下總左衛門之妻。年四十餘。每月事下。必先腹痛。與桂枝茯苓丸加大黃湯。繼又用坐藥數日。前陰出血塊數個。大者類雞卵。小者兔屎。月餘乃已。</p>
<p>【陽明熱厥】車屋街竹屋街南菱屋與兵衛年六十餘。冬月一日乾事紛冗。不暇食。及昏飢甚。然後吃飯。飯後將浴卒倒於湯中。家人駭遽扶起。灑水其面乃蘇。時四肢微冷。肌膚粟起。舌上燥裂。猶善飲熱湯。醫以為中寒。參附交投。病勢愈加劇。師診之。脈微欲絕。心下石硬。舌生黃苔。即試與冷水飲之。病者用盡一盂。因與大劑白虎湯四貼。翌日來報曰。大汗如雨。衣被濕透。寅尾峻瀉如傾。及至今朝渴已。諸症大退。服前方凡三十餘貼。復故。</p>
<p>【黴毒身痛】富小路松原南某氏妻。年二十有三。初其未嫁也。家道嚴肅。而女亦謹慎。既嫁後一歲。身體疼痛。痛處無定。召師診之。有黴毒之情。師異之。乃顧見其主人。額有瘡痕。大如錢。隨熟視之。面目及手足黴候備焉。因知所傳染。即與龍門丸三十丸。取瀉數行。而某氏未服師術。因謀之他醫。醫曰。嗟呼如此殆速其死耳。況琴溪氏丸散之峻烈。譬猶發火刨於腹內也。某氏大懼。而謝罷。托之其醫。醫緩補逾月屈伸不隨。病勢彌留。有某氏之好友信先生者。苦諭之。彼服其言。再趨師門。叩頭謝罪曰。曏者蒙先生之庇也。未幾為俗醫所間沮。遂令病毒滋漫。若此今甚悔之。幸得蒙再顧先生之惠也。懇請甚切也。因診之。腰下至左膝腫起。按之痛。曰此處既釀膿。便命塾生某行熨法。（法詳方函）且敷膏。凡五日膿全成。乃割放取其毒膿數日約三升余。仍與浮萍湯兼龍門丸。每服十三丸。數日裡毒悉盡。眉宇方舒。</p>
<p>【咳嗽臭痰膿血】有一男子。咳嗽吐臭痰。其中或交膿血。形色瘦白。音聲欲出不出。居二年。病勢愈進。百方不應。一日煩躁悶亂。痰喘沖咽喉。遂昏昧不省人事。眾醫環坐。技窮不知所為。乃迓師診。呼吸纖纖如斷。如不斷。即令灑冷水於其口。作蘿蔔汁強飲者一盂。雙眼忽開。呼吸徐續。於是浸巾冷水匝纏自頸至胸肋。窺其少有知。而問痛苦。則開口能答。一坐駭且喜。師曰。此猶不可治。蓋羈遲已久。病魔得志。精神遂乏。非藥石所及。猶是而施藥。醫家之所恥也。辭去。舉家悲泣乞治不置。乃投石膏黃連甘草湯。翌日未及晡時而歿。</p>
<p>【紫癍】間街楊梅南田邊備後者。年三十餘。兩腳以下。發紫癍。一醫炙於下廉上廉等穴。兩腳麻木。紫癍仍不退。懼而告之。乃言是瞑眩也。炙火益不止。遂不能立。更延師治之。與桃花湯三貼。峻瀉數行。翌復省之。則已。病愈出去。</p>
<p>【下血】堺街綾小路北玉屋重二郎。年三十。病下血。旬余。其人常嗜酒。身體殊肥豐。師脈之。頗有力。按其心下悸。乃服桃花湯一貼。瀉三五行而差。</p>
<p>【中暑】西洞院竹屋街北近江屋某兒八歲。中暑身灼熱煩渴。四肢懈惰。一醫與白虎湯。二旬餘日。猶不效。先生曰。某氏之治。非不當。然其所不治者。以劑之輕也。即倍前藥與之。（貼重十錢）須臾發汗如流。至明日善食。不日復故。</p>
<p>【便秘】一娼年二十。大便一滴不通者。三年。飲食動止。猶無異常為之。費巴豆大黃芒硝諸藥數斤。而皆不應。先生按其腹。雖甚硬。然無有如燥屎及塊物一應手者。即作調胃承氣加蔥白湯與之。便利遂不失節。</p>
<p>調胃承氣加蔥白湯方　於調胃承氣湯方內加蔥白大者十個</p>
<p>【發疹】東洞院五條南筱原屋仁右衛門之兒。年十三。每及冬。輒總身發疹。痛癢無度。待仲春和暖。自收。如此者凡八九年。調治頗殫。尚無寸效。師脈之。及按其腹石硬。見其右手食指中節而斷曰。此疾未發以前。蓋別有所患乎。主人曰然。自罹丙午回祿之厄。聊營稿蓋以蔽雨露。碙碓釜灶亦渾然積坐。右時年甫三歲。其碓墜誤撲兒之頭。大破之。又笮指斷之。即昏倒遽炙之。或灑水面。賴得蘇。而請外醫治。數旬而漸愈。越二年而生此疾云。曰然。豈其不乎。因與紅花散。以紫圓下之。二旬余。復故。</p>
<p>【惡阻】室街三條北丹後屋市即右衛門之妻。年十九。妊娠時時嘔吐。飲食不進。醫以為惡阻療之。及至三四月。飲食殆絕。形體羸尫。居常默默好居暗室。既而亦以為勞療。謀之先生。先生切其脈。按其腹。曰。是惡阻令然也。非療熱也。便一物瓜蒂散之證也。病婦以憚吐劑不肯服。師諭之曰。夫妊娠之於惡阻。經三旬若五六旬。則自愈而已。今室人所患不唯延過期。羸困甚極矣。若有外邪乘此。恐損壞胎。豈可不虞也。經有之。婦人重身。毒之何如。曰有故無殞。今室人慾憚一朝之苦。而失萬全之謀乎。病婦乃服之。如法居二日。復省之。舉家大喜且謝曰。初服散也。心中憒憒吐黃水。及黏痰。自未至卯約二升余。心精間爽。食始進。彌月分娩。母子無恙。</p>
<p>【漏產浮腫】一婦人妊娠八九月。血崩滔滔。須臾間滿床。神氣昏乏。四肢倦怠。胎竟為之墮。虛絕彌甚矣。且大便自利。小便不通。身因浮腫。醫皆縛手待斃。先生往診之。脈無力。唇色如脫。其他凶症無所不具矣。以指按其腫上凹而不張。即作麥門冬湯與之。數貼下利止。小便大利。居三日。腫消與前方者。二十餘日全差。</p>
<p>麥門冬湯方　麥門冬（五錢）</p>
<p>上一味。以水三合。煮取一合溫服。</p>
<p>【痧毒眩倒】一男子。年五十餘。無他病。然目眩率倒者。月一二。歷六年。愈重。每日數發。先生診之曰。痧也。刺口吻取黑血合許。乃已。</p>
<p>【蛔蟲腹痛】一婦人。大腹痛。遂絕。眾醫圍坐而議之。未能決。有木村道立者。膳所侯官醫道仙之子也。年尚少。受業於先生。時陪父在坐。卒爾言曰。吾能治之。道仙叱曰。默毋妄言。一坐或曰眾議未能決。苟有術。乃可悉已道立即以刀開牙關內。食鹽一二掬取湯入口中。有頃。下咽嘓然有聲者數四。嘔出大小蛔蟲若干。而後呼吸得復</p>
<p>【黴毒頭痛目翳】一少年。傳黴。慚父母聞之。且為世人所笑也。深秘之不言。因一友私買藥治之。居一年。其毒入骨節。頭痛身疼。猶托以為他病。已而兩眼生翳。左不視物。於是因其家奴始告諸父母。父母聞大駭且懼。速轎之來請治。先生診之曰。毒今已痼於上部矣。非薰之以輕粉水銀。恐失明。病者有憚色。先生諭之以無害。強與其藥。五日使人報曰。口中腐爛。涎沫流漓。發熱重語。總身含癍。先生往視之。謂曰。毋憂。此癍得盡發。而熱亦自止。與浮萍湯。越五日。又迓先生。先生往視之。其癍大發。熱益熾。加之以微喘。其脈浮洪。先生嘆曰。此雖病毒拔於外。而精氣不續於內。吾誤虛實而投藥。予罪不知所謝也。三日赴死。</p>
<p>【黴毒咳嗽潮熱】僧某。年三十餘。患咳嗽潮熱。聲音啞。肌膚無潤。有瘡痕數點在頸頭及手足。曰三年前發便毒時。未十日而自收。卒罹此患矣。先生脈之。沉而細數。曰毒積於裡深矣。今非輕粉硃砂輩以攻之。命不逾歲。僧素畏其猛劑。又有他醫禁之。不聽於先生。居月餘又招先生問之。又告如初。如此者三四。遂可之。即與七寶丸二十一錢。如法服之。口中反不腐爛。而吐出如黃水者日升許。十餘日。而瞑眩稍止。時天行疫癘。更感之即死。</p>
<p>【傳屍勞藥】先生家傳治傳屍勞藥名海帶丸。嘗從他醫得之云。有一男子。年二十。患骨蒸熱。諸治不效。因用其丸。曰。此丸能下蟲。當異廁。以視之。其人服之。經五日乃來謝曰。妙藥也。諸症皆退矣。始服此藥。腹大楚痛。大便暴瀉。實下二蟲。皆長六寸余。一類石距。一類鮧魚。眼口全備。自下此怪物。精神始爽云。然月餘復發而死。爾後先生數取奇效。然皆不期復發而死。於是先生語二三子曰。功反為過。成亦尋敗。乃如海帶丸。醫妄以為奇方。今余得之。適以誤人。雖有捷效。亦貽大害。非唯無益。又促其命期矣。豈可復用之哉。</p>
<p>【腹痛吐酸】伏見柳屋與兵衛。患腹痛。時時吐酸水者。十有一年。顏色為之青黃。先生與桃花湯。佐以反胃丸。每服三十丸。不出一月。乃已。</p>
<p>【耳輪作痛】小兒五歲。耳輪煩熱。大痛。色如紫棠。乃刺耳垂。出死血立愈。</p>
<p>【右身不仁】婦人。年五十。右身不仁。常懶飲食。月事不定。每行必倍常人。先生以三聖散一錢。吐冷痰黏者。三二升。自是食大進。因切其腹。胸滿。心下至少腹動悸如奔馬。與柴胡加龍骨牡蠣湯。數月全差。</p>
<p>【寒飲嘔吐】一男子來請治曰。每食必胸膈滿悶。而發嘔吐。其穀氣不吐盡則不罷。醫者皆認為翻胃。荏苒已二年。猶未見微效。先生曰。此胸上有寒飲也。乃與鬱金散三錢。如法服之。吐黏膠者一升許。日一次。凡五日而全差。</p>
<p>【頭痛眩暈】一男子。久患頭痛。立則暈倒。醫以為黴毒。與弓黃湯。及輕粉巴豆之類。攻之。數百日。先生診之。從心下至小腹拘攣。如繩約之。乃與小建中湯百餘貼。愈之。</p>
<p>【痞滿惡食】一男子。胸膈痞滿。惡食氣。動作甚懶。好坐臥暗處。百方不驗。半歲。先生診之。心下石硬。脈沉而數。即以瓜蒂散湧二升余。乃痊。</p>
<p>【眩暈】一男子。常病眩暈。百藥不中。請先生乃視膏肓邊痧筋如羅。刺去黑血二三合。而痊。</p>
<p>【鶴膝風】一男子。左膝大腫。屈而不伸。時時煩疼。積年所謂鶴膝風也。先生視之。痧筋紫紅。交為文。因刺放血。每日一度。與桂枝加附子湯。兼玄玄散。不逾月。全差。又某氏母亦有此疾。以前方治之。</p>
<p>【腰痛】一男子。腰痛不能動展者八年。先生與桃花加烏頭湯乃已。</p>
<p>【霍亂】一男子。霍亂吐瀉後。六脈絕。四肢乃厥。醫皆束手。師浸巾熱湯熨胸腹間。可半時。厥反脈亦復。居五日自來謝。</p>
<p>【耳聾腰曲】烏羽口人年可六十。輿疾來請治。兩耳聾。腰攣屈。為之箕踞者二年云。先生脈之。沉而有力。曰是黴毒所沉結。與桃仁解毒湯。以薰藥如法。七八日乃有起。一日遣門人足立文哉代診之。時病夫大發吃逆。萬方不收。文哉即按其章門邊。吃逆輒應。而築動。因角其上。忽然而愈。一坐皆驚。後三旬。其人徒行而來謝。兩耳亦能聽。</p>
<p>【背瘍】鹽屋喜兵衛者。年弱冠。背七椎傍發巨瘡。根盤七寸許。疾痛如割。寒熱往來。口渴。大便不利。精神厭厭無聊。來請治。其脈洪數。即與浮萍湯。酒下龍門丸一錢。四日來報曰。暴瀉十數回。由是神氣雖稍清豁。瘡更益痛。即遣門人關大岩代省之。還告曰。患上焮灼殆類癰。先生曰否。痧毒已不日膿當成矣。仍與前方。居五日。復省之。膿果成。割之寸許。剌入五分。膿血溢出。痛楚頓忘。因托之外醫。不出數日。而自來謝。諸症全退。唯患處余膿滴耳。</p>
<p>【腹痛】近江屋某妻。月事不順。小便數。大便常秘澀。一日腹大痛。其痛築湫不堪。急走人迓先生。至則昏倒氣絕。四肢微冷。按其腹磊磊如囊沙石狀。即作茴香煎熨其腹上。呼吸頓復。又熨之。大便大通。諸症漸漸退。至夜半復腹痛下畜血。及塊物。而後腹和。脈為之動。與桂枝茯苓丸數貼康復。</p>
<p>茴香煎方　茴香（十錢）　樟腦（五錢）</p>
<p>上二味。和燒酒三升。煮取二升。去滓。浸巾以熨患處。冷則換之。</p>
<p>【瘀熱發黃】醍醐村。有道士名戒善。其妻年可四十。總身發黃。以故醫者。妄名黃疸。先生案之。至其臍下。則言痛不堪。與桃仁承氣湯。十餘日。全已。</p>
<p>【背疽】山科農定右衛門。年四十餘。背右傍發疽。經八寸。猶無痛。其色紫黑。寒熱往來。口乾咽渴。其人素嗜酒。而甚憚醫藥。故唯以斗酒凌其疾苦。家人皆恐為之斃。要之欲令醫藥。雖百端餤之。然不肯服。曰寧與生乎。湯藥之苦不如死乎。𬖶蘗之甘。家人皆計窮而訴之先生。先生診之。脈弦實。按背疽淳熱如火。曰。余能從汝所好而治之。乃與龍門丸二三百丸。日令服五十餘丸。戒曰。必有下利。莫以有憚恐也。渠喜始服先生之言。後數旬來謝曰。初從服丸藥。氣宇方開。居十日。膿成則破出之。又服前丸。食飲日進。稼穡負載。愈於疇昔云。</p>
<p>【脫疽】近江伊吹人寓麩屋街萬屋久兵衛家。春秋未三十。初無所患。一日夙起。頓覺發熱。左足煩疼者可半時。已而其五指生紫赤。自此黑氣侵漫。幾及膝下。潑湯燃火。其疼不啻大駭。遽來迎先生。往診之。其左足五指頭。已皆如煮棗。且有臭氣。謂曰。脫疽也。若令此毒延散。則皮肉筋骨。悉皆腐爛而死。其變之速。乃在瞬息。由是隕命者。不知幾千人也。凶毒如此。不可余藥。古來唯有一方焉。涯於黑色處。而刀斬之耳。其他方劑以當此疾。譬猶螢火之燒。須彌又何益之有。客曰。吾有老親。在一旦忽爾亡於此疾。孰復有能耕稼以養其餘年者耶。不孝之罪莫大焉。苟得免死。何治可憚。批切之慘。不足恐也。即伸其左足。以請治。神色自若也。先生曰。果哉膽烈如此。則何法不可以施。余今有一法。於茲庶幾使爾無蹇跛之患。即以䤵針從膝上至跗縱橫亂刺。朱殷可掬。其人暈倒。則飲冷水乃蘇。復刺。自是三十餘日。針刺日一萬餘。仍與浮萍加大黃湯兼以龍門丸。初行䤵針也。猶除腂骨上。後有視將腐處則無所不刺也。而毒氣十減七八。約取血七升余。行之。凡三月始差。寓居日久。頗有歸歟之嘆。乃與前方數劑而去。明年來謝云。爾來負擔尚無恙。然足跗指頭。猶有黑色。復刺取血。可一合。毒象回春。</p>
<p>【脛不仁便常秘】一男子。口吻及足脛不仁。大便常秘。一年甚一年。他醫或引峻劑。當之不應。先生診之。其人偉軀稟頗豐。心中悸動如奔馬。曰可治矣。作瓜蒂加甘草散三錢。食鹽三匕。和白湯二合。分三服。戒言當大瀉勿怪。明日使人報曰。如教身體為之疲。腰腳委弱。莫能起。請速來視之。先生斷然曰。當矣。無傷。此瞑眩耳。經三四日。當治。其翌日復報曰。未治矣。請速來視之。曰三日當立。不往。又三日自來曰。果如命。診之諸症悉退。轉方桂枝加朮附子湯。</p>
<p>瓜蒂加甘草湯方　瓜蒂　甘草（各等分）</p>
<p>上二味。末之和食鹽三匕。</p>
<p>【腹痛腳攣】農清衛門母。行年六十有二。輿疾來曰。腹肚板痛。每日午至未。其痛苦尤甚。遂兩腳攣急。不能步者三年矣。雜療不驗。賴仰公神方而已。先生診之。六脈緊弦。心下動。便閱兩腿彎。則有紫絡為羅紋。刺之血溯。三四合。與導水湯。即日愈。歸路不待轎而去。與前方凡百餘貼。</p>
<p>【膝腫腳痛】大津米牙儀兵衛者。年三十。其兩膝下。內廉隆然。有腫引痛及全腳。見先生謂曰。商賈唯逐利。利之所在。東西南北。無不奔走。今疾如此。生產將廢。衣食無所供。苟可速治。雄療劇劑。所不難也。即刺其腫處。數十次。取紫血約可二升。乃愈。</p>
<p>【蟲蠱痢】膳所糀屋嘉兵衛者。師之弟也。其女年十有四。熱痢窘迫。腹肚築痛。日夜百餘行。水穀入口輒逆。憊羸日甚。藩醫皆為疫痢。所行百方。一無應焉。於是主人自來具告之。師倉皇趨訪之。面色未脫。脈微數。臍下磊乎如裹石而撫之曰。是無他。蛔已久矣哉。藩醫之妄舉也。即作海人草湯三貼。（貼重三錢）與之少頃。上圊下細蟲數百條。前症徐寢。師之歸京也。既明旦矣。使人尋到曰。嘔逆之譴特如忘。復與三貼。（貼重如前）翌復告曰。下三蛔。長各尺余。加餐倍於昔日。凡三旬余全瘥。</p>
<p>海人草湯方　海人草</p>
<p>上一味。水煎。</p>
<p>【胃中停水】山田村農吉右衛門。年三十一。每飲食輒格渟於胃管。而膈內冷如新畜水。偏身酸重。運轉為懶。常下利不已。由是不能從事耒耜者七年許。其所致醫治。或以為風痰。或以為脾虛。皆不驗。請先生其脈伏不應。便戒病者曰。汝灌水。每日一度。灌訖則必可溫覆而發汗。病者曰諾。後七日來曰。如命者五日。偏身大輕。仍與桃花加生薑湯百餘貼。自是食和。大便以節通。脈亦現然。</p>
<p>【血症】攝津大板植木屋治兵衛者。年三十。造先生請治曰。予始患瘧疾。爾來二年間。通身蒸蒸煩熱無已。又時覺兩脅下有一塊。衝於心切痛。不能禁。輒暈轉自投地。更醫數四。或以為風濕。或以為癇。嘗聞先生芳譽。故來累先生。願請一診。先生乃脈之。數而有力。按其小腹則痛。面色黯黑。而口吻為最甚。謂之曰。大便甚黑乎。曰然。小便其頻數乎。曰然。乃顧二三子曰。試處方焉。門人或以為癇。或以為奔豚。若瘧母。先生曰皆不然。夫以面色如煤。口吻如蛭。大便黑色。小便頻數。是其血症之諦也。若與桃仁承氣湯。必治矣。病客曰。前年嘗大下血三日。而宿疾全退。春來復如此。然則先生之言當矣。為黠醫所誤。羈遲久矣。今救予於嶮絕之間者。豈他哉。乃行前方。不日有奇效。</p>
<p>【黴毒耳聾喉爛】越前松山人某。年三十。患黴。兩耳聾塞。咽喉赤爛。而得一竅。其會淵左邊臭濃。不絕口。眾醫施療。既百有餘方。皆不驗。斷然自待死耳。會聞師鳴醫於京師。不遠千里自來請治曰。積年已誤治。致患至如此。則死固不愛。寧死一得蒙先生之治。泉下無悔。況開生路於萬一。何靈如之。先生診之。脈沉實。曰非巴豆輕粉無治。其人有憚色。故先生舍之塾中以視輕粉之嘗無害。以七寶丸。如法服之。及諸症稍消。復續七寶丸下之。或以四賢丹。洗其口內。凡月餘全差。</p>
<p>【奔豚】一男子。年三十。奔豚日發一次。或二次。甚則牙關禁急。不省人事。百治無功。先生診之。臍下悸。按之痛。服茯苓桂枝甘草大棗加大黃湯。兼反胃丸。二十丸。每日一次。旬余差。</p>
