<header data-type="book">
<h1>敖氏傷寒金鏡錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>杜本</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1341">公元1341年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.digital.archives.go.jp/item/585080">国立公文書館掃描本</a></dd></div>
</dl>
</header>

<h1>續刊傷寒金鏡錄原序</h1>
<p>傷寒一症。傳變不常。有本傳、越經傳、巡經傳、巡經得度傳、誤下傳、表裡傳、上行傳、頃刻之間。生死系焉。可以寄人死生者。惟醫焉耳矣。夫何脈理玄妙。七表八里九道。形似難辨。此庸醫所以接踵而殺人者多也。元、若敖氏抱獨見之明。著《金鏡錄》一書。只以舌證。不以脈辨。其法淺而易知。試而輒效。誠千載不偶之秘書也。惟黑舌之症。稍有未盡。如舌之黑而紫、黑而濕潤、黑而濡滑、黑而柔軟、皆寒症也。黑而腫、黑而焦、黑而乾澀、黑而捲縮、黑而堅硬、黑而芒刺、黑而拆裂、皆熱症也。學醫者推類以盡其余。則庶幾矣。予在南都。偶得此書。深珍重之。後會副憲篤齋湯公。出是編示之。極稱其善。已命工梓行會稽郡矣。予患天下之人。未盡知也。復梓之以廣其傳云。</p>
<p><u>賜同進士出身大理寺左寺正陳楠書</u></p>

<h1>原序</h1>
<p>傷寒一書。自漢張仲景先生究其精微。得其旨趣。乃萬世之龜鑑也。論中梓訛難明。晉叔和成其章序。成無己《明理論》。劉河間五運六氣。參同仲景鈐法。則病之所變。預可知也。陰陽傳變汗瘥圖局。曰汗、曰吐、曰下。死生吉凶棺墓圖局。曰死、曰生。隨治隨效。如響應聲。則萬舉萬全矣。元敖氏辨舌三十六法。傳變吉凶。深為妙也。舌乃心之苗。心君主之。官應南方赤色。甚者或燥、或澀、青、白、黑。是數者，熱氣淺深之謂。舌白者，肺金之色也。由寒水甚而制火。不能平金。則肺自甚。故色白也。舌青者，肝木之色也。由火甚而金不能平木。則肝木自甚。故色青也。色青為寒者訛矣。仲景法曰：「少陰病。下利清穀。」色青者，熱在裡也。大承氣湯下之。舌黃者，由火甚，則水必衰。所以一水不能制五火而脾土自旺。故色黃也。舌紅為熱。心火之色也。或赤者，熱深甚也。舌黑亦言為熱者。由火熱過極。則反兼水化。故色黑也。五色應五臟固如此。敖氏以舌白者邪在表。未傳於裡也。舌白苔滑者。痛引陰筋。名臟結也。舌之赤者。邪將入也。舌之紫者。邪毒之氣盛也。舌之紅點者。火之亢極也。舌之燥裂者。熱之深甚也。或有黑圈黑點者。水之萌發也。舌根黑者。水之將至也。舌心黑者。水之已至也。舌全黑者。水之體也。其死無疑矣。舌黃者。土之正色也。邪初入於胃。則本色微黃髮見。舌黃白者。胃熱而大腸寒也。舌之統黃者。則胃實而大腸燥也。調胃承氣湯下之。黃自去矣。舌灰黑者。厥陰肝木相承。速用大承氣湯下之。可保。但五死一生。大抵傷寒傳變不一。要須觀其形、察其色、辨其舌、審其症、切其脈、對症用藥。在於活法。如脈浮緊而澀者。日數雖多。邪在表也。汗之而愈。若脈沉實而滑。日數雖少。邪在內也。下之而痊。其有半表半裡。傳到少陽只一證。則小柴胡湯主之。無不效也。太陰腹滿自利。脈沉而細者。附子理中湯主之。太陰腹滿時痛便硬者。桂枝加大黃湯主之。少陰舌乾、口燥、津不到咽者。人參白虎湯主之。少陰發熱而惡寒。脈沉而遲者。麻黃附子細辛湯。助陽而汗之。厥陰舌卷囊縮。脈沉而弦者。為毒氣藏。脈沉而短者。用承氣湯下之。若厥冷、耳聾、囊縮、脈沉而弦者。少陰兩感、不治之症也。此則三陰有可汗、可下、可溫之理。敖君立法辨舌。自為專門體認之精。當時嘗著《點點金》及《金鏡錄》二書。皆秘之而不傳。余於正德戊辰歲。見一人能辨舌色。用藥輒效。因扣之，彼終不言。偶於南雍得《金鏡錄》。歸檢之。乃知斯人辨舌、用藥之妙。皆本是書。惟《點點金》一書。則於傷寒家多有不切。其與仲景鈐法奧旨同者。特《金鏡錄》爾。故余並刊於官舍。使前人之書。皆得以行於世。而四方學者。亦知所去取云。時</p>
<p><u>嘉靖己丑歲仲冬吉旦</u></p>
<p><u>南京太醫院院判長洲薛己識</u></p>
<p><u>青藩良醫所良醫馬崇儒校刊</u></p>

<h1>原序</h1>
<p>凡傷寒熱病傳經之邪。比雜病不同。必辨其脈、症、舌、表裡汗下之。庶不有誤。況脈者，血之腑。屬陰。當其得病之初，正氣相摶。若真氣未衰。脈必滑數而有力。病久熱甚氣衰。脈必微細而無力。方數而甚也。但可養陰退陽。此識脈之要也。或初病即惡寒發熱。後必有渴水燥熱之證。或逆厥而利。此熱證傳經之邪也。若始終皆熱證。惟熱而不惡寒。故傷寒為病。初則頭痛。必無發熱惡寒渴水之症。一病便有逆厥泄利。或但惡寒而無發熱。此寒症也。此識症之妙也。如舌本者。乃心之竅於舌。心屬火。主熱。象離明。人得病。初在表。則舌自紅而無白苔等色。表邪入於半表半里之間。其舌色變為白苔而滑見矣。切不可不明表症。故邪傳於裡未罷。則舌必見黃苔。乃邪已入於胃。急宜下之。苔黃自去而疾安矣。至此醫之不依次。誤用湯丸。失於遲下。其苔必黑。變症蜂起。此為難治。若見舌苔如漆黑之光者。十無一生。此心火自炎。與邪熱二火相攻。極熱則有兼化水象。故色從黑而應水化也。若乃臟腑皆受。邪毒日深。為症必作熱症。雖宜下之。乃去胸中之熱。否則其熱散入絡臟之中。鮮有不死者。譬如火之自炎。初則紅，過則薪為黑色炭矣。此亢則害。承乃制。今以前十二舌明著。猶恐未盡諸症。復作二十四圖。並方治列於左。則區區推源尋流。實可決生死之妙也。</p>
<p><u>至正元年一陽月上浣之日</u></p>

<h1>傷寒用藥說</h1>
<p>夫醫者何。猶防之將也。凡視人疾。在究其淺深之異而療之。且疾之襲人。若寇之侵境。方其至也。必瞰其勢之強弱。先以安撫，次以講和。戒嚴守禦。以防其逆也。如堅然不退。至再至三。恣強肆侮。意謀土地也。當此之際。奈何必選將練兵。剋期攻戰。寇滅乃已。若愴惶無措。則地土陷矣。豈非將者。不識韜略。不知合變。以致誤也。可勝嘆哉。夫今之醫。不閱方書。不察脈理。臨症茫然。當解而不解。當吐下而不吐下。畏首畏尾。顛倒錯亂。助病日深。殊不知醫乃司命。其可輕忽如此。大抵病之輕淺者。即為和解。深重者。即便攻擊。故曰用藥之時。膽欲大而心欲小。毋使君臣失職。佐使不當。反嫁疾焉。苟能如將之用兵。進退合宜。操存有法。何疾之不知也。余每察脈用藥。覺有疑滯。幸承先師之誨。故姑撮其要領。以告後人云。</p>
<p><u>至正改元一陽吉日</u></p>
<p><u>永和三仙至人蕭璜鳴書</u></p>

<h1>第一·白苔舌</h1>
<p>舌見白苔滑者。邪初入里也。丹田有熱。胸中有寒。乃少陽半表半裡之證也。宜用小柴胡湯、梔子豉湯治之。</p>
<figure>
<img data-orig-src="urn:270:07782.jpg" alt="白胎舌圖">
</figure>
<p>【介按】白色為寒。表症有之。里症有之。而虛症實症亦有之。凡風寒濕邪。初中皮腠。即為白苔。寒濕本系陰邪。白為涼象。故舌苔白色。如白滑而膩者。濕與痰也。白滑厚膩者。濕痰與寒也。惟薄白如無，則為虛寒。白如積粉。則濕熱或痰熱也。因肺主衛、主氣、又主皮毛。而太陽經亦主一身之表。凡受風寒。先入皮毛。內應於肺。其舌無苔而潤。或微白而薄。或浮白薄滑。外證必惡寒發熱。而口不渴。此是風寒初感也。治宜辛溫解表。如苔白而燥刺者。外證初在微寒。繼即發熱不已。此是溫邪在肺。治宜辛涼清解。如苔白而黏膩者。外證必發熱、頭重。身痛而口不渴。此是濕邪在於氣分也。治宜解肌去濕。如舌苔白燥、或白而邊紅。外證見發熱口渴。咳嗽喉痛。此是風溫入肺。治宜輕清涼解。如苔白中帶紅。外證頭痛身熱。口苦、眼赤、脅痛、耳鳴、脈象浮弦而數者。太陽之邪已入少陽也。治宜清解少陽。或白苔浮滑。帶膩、帶漲。刮之有淨、有不淨者。亦有尖白根黃者。是邪在少陽經之半表半裡也。至若此苔系是白滑而邊淡紅，邪在半表半裡膈膜之間。即《金匱要略》所謂「舌上如苔。丹田有熱。胸上有寒。渴欲得飲而不能飲。則口燥煩也」之候。故用小柴胡湯以達膈膜之邪。即梔子豉湯亦為清熱達邪之良劑也。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（四錢）　黃芩　甘草　人參（各二錢）　半夏（二錢）</p>
<p>上㕮咀，每服一兩。水一鍾半。姜三片。棗一枚。煎至一鍾，溫服。</p>
<p>【介按】程應旄曰。方以柴胡疏木。使半表之邪得從外宣。黃芩清火，使半里之邪得從內攻。半夏豁痰飲。降裡氣之逆。人參補久虛。助生髮之氣。甘草佐柴、芩、調和內外。薑棗佐參、夏、通達營衛。相須相濟。使邪無內向而外解也。</p>
<p><u>梔子豉湯</u>（從金匱要略新補）</p>
<p>梔子（十四枚）　香豉（四合綿裹）</p>
<p>上二味。以水四升。先煮梔子得二升半。納豉煮取一升半。去滓，分二服。</p>
<p>【介按】山梔味苦性寒。其子色赤象心。其花色白象肺。故為從肺入心。以治心中煩熱而導之下行。兼除上下之邪熱。豆形色黑象腎。蒸發為豉。其性輕浮。能引腎中水液上升，以降心中之熱。而除胃外之邪。夫心腎相濟。陰陽相和。則煩熱懊憹等證俱解。而為清熱退邪之良劑也。</p>

<h1>第二·將瘟舌</h1>
<p>舌見紅色。熱蓄於內也。不問何經。宜用透頂清神散治之。</p>
<figure>
<img data-orig-src="urn:270:07783.jpg" alt="將瘟舌圖">
</figure>
<p>【介按】舌色如淡紅、嫩紅、或白中帶紅。外證初起微寒。繼即發熱不已。口渴甚者。溫邪初起也。治宜辛涼清解。如純紅或鮮紅起刺者。膽經與營分邪熱熾盛也。治宜苦寒清解。如不解，是溫邪伏於少陰。而發於少陽之表。治以滋少陰之液。則少陽之熱自解。如舌絳神呆。語言顛倒。小便赤澀。點滴如稠者。此熱結膀胱也。急宜導赤清熱。如舌色鮮紅。神昏譫語。見於斑疹已透之後者。熱痰乘於胞絡也。治宜清熱消痰。若舌色鮮澤純紅。外證神昏、譫語、煩躁不寧者。溫邪入於胞絡也。輕則於清解藥中，加廣鬱金、鮮石菖蒲等味以開之。重則用牛黃丸至寶丹等、以芳香開竅，又據《舌鑑辨正》謂「將瘟舌。即純紅舌。非純而不雜。即瘀紅之色也。」臟腑熱極者、中時疫者、誤服溫補者，皆有之。宜三黃白虎加連翹。或大小承氣等酌用。此舌亦有表證者。則兩臉周身必發熱、頭暈、目眩、乍熱乍寒、脈浮數。邪熱在太陽也。宜薄荷、荊芥、葛根、生甘草、涼散表邪。不可遽用「寒涼攻下」。今此舌只用含有刺戟性之透頂清神散以吹鼻取嚏。因病在神識昏憒之際。乃是臨時救急之法也。</p>
<p><u>透頂清神散</u></p>
<p>豬牙皂角　細辛　白芷　當歸</p>
<p>上為細末。各等分。和勻。病人先噙水一口。以藥少許吹鼻內。吐出水。取嚏為度。如未嚏，仍用此藥吹入。凡瘟疫之家。不拘已未患者。皆宜用之。</p>
<p>【介按】此方取細辛、皂角。善能刺戟神經以開竅。配以白芷之芳香上達。當歸之通脈舒筋。仿通關散之意以吹鼻取嚏。凡遇神識昏憒。人事不知之症。臨時用之。即能開竅而蘇神也。</p>

<h1>第三·中焙舌</h1>
<p>舌見紅色。內有黑形如小舌者。乃邪熱結於裡也。君火熾盛。反兼水化。宜涼膈散、大柴胡湯下之也。</p>
<figure>
<img data-orig-src="urn:270:07784.jpg" alt="中焙舌圖">
</figure>
<p>【介按】邪熱傳裡。熱結燥實。治宜急下存津。故凡苔見黑色。病必不輕。無論寒熱虛實。皆有黑苔。惟以潤、燥、老、嫩為辨。今此舌中黑而邊純紅。系是邪熱入里。灼爍胃津。故用涼膈散。去其膈中無形之熱。再用大柴胡湯之表裡兼治也。</p>
<p><u>涼膈散</u></p>
<p>生甘草（二兩）　大黃（二兩）　連翹（四兩）　山梔子（一兩）　薄荷葉　黃芩　朴硝（各一兩）</p>
<p>每服一兩。水二盞。淡竹葉二十餘片。煎至一盞。去渣，入生蜜少許。不拘時熱服。以利為度。</p>
<p>【介按】此方即調胃承氣湯。加連翹、薄荷、山梔、黃芩、竹葉。為清膈熱之良劑。汪昂云。熱淫於內。治以鹹寒。佐以苦甘。故以連翹、黃芩、竹葉、薄荷散火於上。而以大黃、芒硝之猛利。蕩熱於中。使上升下行。而膈自清矣。</p>
<p><u>大柴胡湯</u></p>
<p>柴胡（四錢）　黃芩　芍藥（各一錢五分）　半夏　大黃（各二錢五分）　枳實（麩炒二錢）</p>
<p>上㕮咀。每服八錢。水一鍾半。姜三片、棗一枚。煎一鍾。溫服。</p>
<p>【介按】陳古愚曰。方用芍藥、黃芩、枳實、大黃者。以病勢內入。必取苦泄之品，以解在內之煩急也。又用柴胡、半夏、以啟一陰一陽之氣。生薑、大棗、以宣發中焦之氣。蓋病勢雖已內入。而病情仍欲外達。故制此湯。還藉少陽之樞而外出。非若承氣之承熱氣也。</p>

<h1>第四·生斑舌</h1>
<p>舌有紅色而有小黑點者。熱毒乘虛入胃。蓄熱則發斑。宜用玄參升麻葛根湯、化斑湯解之。</p>
<figure>
<img data-orig-src="urn:270:07785.jpg" alt="生斑舌圖">
</figure>
<p>【介按】舌苔純紅起刺者。外證必有煩躁不寧。耳聾顴紅。胸前發斑。甚則神昏譫語。治宜清少陽之熱。解營分之邪。或舌如芒刺。斑見紫色。目赤面紅。神呆不語。治宜犀角地黃湯。（犀角、生地、丹皮、芍藥。）去芍藥，加焦山梔、銀花、菖蒲等味。以解包絡之熱，至於斑色之輕重。前賢吳坤安分辨甚晰。其言曰。「凡斑疹赤者為胃熱。紫色為熱甚。紫黑為胃爛。赤斑五死五生。黑斑九死一生。鮮紅起發稀朗者。雖大不妨。如針頭稠密。紫黑成片者難治。藍斑黑斑者死。」又據《舌鑑辨正》。對於此舌之治法。大相懸殊。爰述其言曰。「全舌純紅而有小黑點者。臟腑皆熱也。傷寒邪傳陽明府。失治、以致邪火逼入三陰證。或疫毒直中三陰證。或實熱人誤服辛溫藥。燥傷三陰證均有之。不論老少何病何脈。見此舌，即宜十全苦寒救補湯。（生石膏八兩研粉　生知母六錢去毛　黃柏四錢　黃芩六錢　大黃　芒硝各三錢　生陳厚朴一錢　生枳實錢半　暹犀角尖四錢）倍加真犀角尖。連服必愈。舊說用元參、升麻葛根湯及化斑湯。誤人多矣。」但舌苔有紅中兼紫黑斑。或外證兼發斑者。心胃熱極也。宜用三黃湯。（黃連、黃芩、大黃。）合白虎湯。（石膏、知母、甘草、粳米。）加減治之。</p>
<p><u>玄參升麻葛根湯</u>　即玄參升麻湯加葛根。</p>
<p>【介按】升麻性主上升。為升發上行之專藥。如若治傷寒失表失清，及溫暑時邪，與胃熱相摶而發斑之症。須防肺氣上逆。轉致喘嗽之患。葛根雖能鼓舞胃氣。升津止渴而解肌熱。若治發斑亦不相宜。是以先賢朱震亨先生曾有「凡斑疹已見紅點。不可用升麻葛根湯。恐表虛反增斑爛也」之戒。至若元參。雖能滋液消斑。茲與升麻、葛根同用。恐是杯水車薪。無益於事。故《舌鑑辨正》有「誤人多矣」之譏評也。</p>
<p><u>化斑湯</u>　即白虎湯加人參。</p>
<p>【介按】趙以德云。「石膏能治三焦火熱。功多於清肺。退肺中之火。故用為君。知母亦就肺中瀉心火。滋水之源。人參生津。益所傷之氣為臣。粳米甘草補土以資金而為佐也。」據是以觀。則知是方以救肺為主。雖亦能清胃生津。惟治舌紅而有黑點。熱毒入胃而發斑之證。尚須參用承氣法為是。</p>

<h1>第五·紅星舌</h1>
<figure>
<img data-orig-src="urn:270:07786.jpg" alt="紅星舌圖">
</figure>
<p>舌見淡紅中有大紅星者。乃少陰君火。熱之盛也。所不盛者。假火勢以侮脾土。將欲發黃之後也。宜茵陳五苓散治之。</p>
<p>【介按】發黃有如橘黃而明者。陽明熱勝也。有如熏黃而晦者。太陰濕勝也。且以小便不利為濕熱發黃。小便自利為蓄血發黃。最宜辨明症候而施治焉。茲以濕熱瘀郁熏蒸成黃。故以五苓散宣化膀胱之氣而利小便。加茵陳以清滲濕熱。是屬濕熱發黃之治法。倘如失治之後。則鬱熱熾盛。灼耗脾液。而舌現紅星。成為熱毒傳裡之症。如《舌鑑辨正》所謂「全舌純紅而深紅星。乃臟腑血分皆熱也。中燥火者。中疫毒者，實熱人誤服溫補者皆有之。其病多大熱大渴。心胸脹滿。皮膚燥癢。日夜不能眠。大便秘、小便澀不等。（均屬裡症）宜十全苦寒救補湯急投」者是也。</p>
<p><u>五苓散</u></p>
<p>澤瀉（二兩五錢）　茯苓　豬苓　白朮（各一兩五錢）　官桂（五錢）　木通　滑石（各一兩）　甘草（炙，一兩）</p>
<p>上為末，每服五錢，入薑汁並蜜各少許，用白滾水調服。</p>
<p>【介按】《醫宗金鑑》云。「五苓散，非治水熱之專劑。乃治水熱小便不利之主方也。君澤瀉之鹹寒。咸走水府。寒勝熱邪。佐二苓之淡滲。通調水道。下輸膀胱。並瀉水熱也。用白朮之燥濕。健脾助土。為之堤防以制水也。用桂之辛溫。宣通陽氣。蒸化三焦以行水也。澤瀉得二苓下降。利水之功倍。小便利而水不蓄矣。白朮須桂上升。通陽之效捷、氣騰津化。渴自止也。」又云。「加茵陳，名茵陳五苓散。治濕熱發黃表裡不實。小便不利者。無不克也。」茲又加以滑石、甘草、木通者。因太陰濕鬱蒸熱為黃。既宣其氣化。並滲其濕熱。使黃從小便而解也。</p>

<h1>第六·黑尖舌</h1>
<figure>
<img data-orig-src="urn:270:07787.jpg" alt="黑尖舌圖">
</figure>
<p>舌見紅色。尖見青黑者。水虛火實。腎熱所致。宜用竹葉石膏湯治之。</p>
<p>【介按】傷寒傳熱入里。則舌苔變黑。有自舌中黑起延及尖根者。亦有自尖根黑起延至中心者。治宜急清陽明之熱。以救胃中之燥。故以竹葉石膏湯主之。倘如熱邪熾甚。則變芒刺干焦。急宜犀角地黃湯去芍，加花粉、麥冬、石斛等味。以養胃液而退邪熱。庶幾外可得汗而解。內可熱清而愈。然亦有仿用承氣之例。而急下以救液者。蓋因腎為胃關。開竅於二陰。故宜急清胃熱而存腎液為治也。</p>
<p><u>竹葉石膏湯</u>（從傷寒論新補）</p>
<p>竹葉（二把）　石膏（一斤）　半夏（半升洗）　麥門冬（一升）　人參（三兩）　甘草（三兩炙）　粳米（半升）</p>
<p>上水一斗。煮取六升。去滓。納粳米。煮米熟。湯成。去米。溫服一升。日三服。</p>
<p>【介按】此張仲景先生治傷寒解後。虛羸少氣。氣急欲吐之方也。張隱菴曰。「竹葉凌冬青翠。得冬令寒水之氣。半夏生當夏半。得一陰之氣。參草粳米。資養胃氣以生津液。麥冬通胃氣之絡。石膏紋肌色白。能通胃中之逆氣。達於肌腠。總令津液生而中氣足。虛熱解而吐自平矣。」茲治舌見紅色而尖見青黑者。是清胃熱而存津液也。</p>

<h1>第七·里圈舌</h1>
<p>舌見淡紅色，而中有一紅暈。沿皆純黑。乃餘毒遺於心胞絡之間。與邪火鬱結。二火亢極。故有是症。以承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07788.jpg" alt="里圈舌圖">
</figure>
<p>【介按】舌苔淡紅而起重暈者。乃是溫病熱毒傳內之證也。熱毒傳內一次。舌增紅暈一層。一暈尚輕。二暈為重。三暈必死。因其邪熱上乘胞絡。外證必有神昏譫語。煩躁不寧。或發斑疹等證。症極危險。故先治以調胃承氣湯。速清熱毒而存液也。</p>
<p><u>調胃承氣湯</u>（方見前）</p>
<p>炙甘草（三錢）　大黃（六錢）　硝（二錢）</p>
<p>上㕮咀，用水一鍾半。先煎甘草、大黃，將熟去渣。下芒硝。再煎三五沸，頓熱服。</p>
<p>【介按】內經云。「熱淫於內。治以鹹寒。火淫於內。治以苦寒。」故君以大黃之苦寒滌熱。臣以芒硝之鹹寒軟堅。更佐甘草之甘緩。俾留硝黃於胃中。清熱而解毒也。</p>

<h1>第八·人裂舌</h1>
<p>舌見紅色。更有裂紋如人字形。亦有此形者。（介按：此句指圖形而言。）乃君火燔灼。熱毒炎上。故發裂也。宜用涼膈散治之。</p>
<figure>
<img data-orig-src="urn:270:07789.jpg" alt="人裂舌圖">
</figure>
<p>【介按】年老之人。輒有舌中開裂。其苔則滑膩。或滑而微白。乃是津液乾枯之體。而患寒濕之象。治療適當。尚屬不妨。惟不論男婦老少。凡患暑溫燥熱之症。而見苔色焦黃。或兼灰黑燥刺。致有裂紋如人字。或如爻字。外證身熱口渴。甚則神昏、譫語。治宜亟與白虎湯合承氣湯。以急下而救液。今治以涼膈散者。是使熱降清升。上下通治之義也。前賢梁特岩云。「不論白、紅、黃、黑各舌，若中有裂紋。如川字、爻字、人字不等。或裂字直槽者。多由實熱人誤服溫補藥。熱火在臟腑相爭所致。大承氣雖能下毒。而未能涼沁腸胃。宜以白虎湯合與承氣。循環急服。不知者以為太重。實則力求周密之策也。」凡實熱內逼而見此舌。皆宜如此以治之。</p>
<p><u>涼膈散</u>（方見前）</p>

<h1>第九·蟲碎舌</h1>
<p>舌見紅色。更有紅點如蟲蝕之狀者。乃熱毒熾甚。火在上、水在下，不能相濟故也。宜用小承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07790.jpg" alt="蟲碎舌圖">
</figure>
<p>【介按】舌絳碎而有深紅之點者，是屬熱毒蘊久不宣。熏蒸上達之候。故宜小承氣湯以盪滌之。然亦可用白虎合犀角地黃湯加減而治之。藉清熱毒而滋津液。庶或有濟至於紅色蟲碎舌。是紅舌中更有紅點如蟲碎之狀者。熱毒熾盛也。宜用小承氣湯下之。如不退，再用大承氣湯攻之。惟邵仙根謂。「舌絳碎而有黃白腐點者。此濕熱邪毒蘊伏不宣。蒸腐氣血。化為瘀濁。得風木之氣化而成蟲也。」但《金匱要略》有「蝕於上部則聲嗄。甘草瀉心湯主之」之證。則邵氏之言。又為疳蝕之症矣。</p>
<p><u>小承氣湯</u>（從傷寒論新補）</p>
<p>大黃（四兩）　厚朴（二兩，炙去皮）　枳實（三枚大者炙）</p>
<p>上三味。以水四升。煮取一升二合。去滓，分溫二服。初服湯。當更衣。不爾者，盡飲之。若更衣者，勿服之。</p>
<p>【介按】唐容川曰。小承氣湯、重在小腸。故仲景提出「腹大滿」三字為眼目。蓋小腸正當大腹之內。小腸通身、接連油網。油是脾所司。膜網上連肝系。肝氣下行。則疏泄脾土而膏油滑利。肝屬木。故枳樸秉木氣者。能疏利脾土。使油膜之氣。下達小腸而出也。又用大黃歸於脾土者。瀉膏油與腸中之實熱。此小承氣、所以重在小腸也。其不用芒硝。以小腸不秉燥氣。不取硝之滑潤也。</p>

<h1>第十·厥陰舌</h1>
<figure>
<img data-orig-src="urn:270:07791.jpg" alt="厥陰舌圖">
</figure>
<p>舌見紅色。內有黑紋者。乃陰毒中於厥陰經。肝主筋。故舌見如絲之形也。用理中合四逆湯治之。</p>
<p>【介按】既云陰毒中於厥陰。其苔應當青滑。依據舊說。因肝屬風木之臟。主筋而色青故也。至於淡紫青筋舌。則淡紫帶青而濕潤。又絆青黑筋者。乃寒邪直中陰經也。必身涼而四肢厥冷。其脈沉緩或沉弦。可用四逆、理中、等湯以溫之。如小腹痛甚者，宜回陽急救湯。（附子、乾薑、肉桂、人參、白朮、茯苓、半夏、陳皮、甘草、五味子）治之。更須辨其舌之或干、或潤。若舌不濕潤而乾枯者。乃是實熱之證。宜用寒涼之劑以治之。即梁特岩所謂「余以為凡舌色純紅兼顯黑絲。必非寒證。當是熱氣結於足少陰。宜用寒涼藥」者之候也。</p>
<p><u>四逆湯</u></p>
<p>附子（一枚生作八片）　甘草（六錢二分半）　乾薑（半兩炮）</p>
<p>上㕮咀。每服五錢。水一鍾。煎六分。不拘時溫服。</p>
<p>【介按】方名四逆者。言其能治少陰中外皆寒。四肢之厥逆也。取姜附之辛熱。助陽以勝寒。因甘草得姜附。能鼓腎陽而溫中寒。有水中暖土之功。姜附得甘草，能通關節而走四肢。有逐陰回陽之力。俾陽氣外達。則四肢轉溫矣。</p>
<p><u>理中湯</u></p>
<p>人參　甘草（炙）　乾薑（炮）　白朮（炒）</p>
<p>服法如前。</p>
<p>【介按】此為溫補中氣之要方也。王晉三曰。人參、甘草。甘以和陰。白朮、乾薑。辛以和陽。辛甘相輔以處中。則陰陽自然和順矣。</p>

<h1>第十一·里黑舌</h1>
<p>舌見紅色。內有乾硬黑色。形如小長舌有刺者。此熱毒熾甚。堅結大腸。金受火制。不能平木故也。調胃承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07792.jpg" alt="里黑舌圖">
</figure>
<p>【介按】苔至黑色而有刺。舌上必然乾燥無津。臍腹必然硬滿耕痛。大便必然秘結。此是胃中津液將涸。熱結大腸。故用調胃承氣湯。以解邪熱而調胃液。但證既如是。不若用大承氣湯。奏效較速也。</p>
<p><u>調胃承氣湯</u>（方見前）</p>

<h1>第十二·死現舌</h1>
<p>舌見黑色。水剋火明矣。患此者。百無一治。右前舌。雖有色圖。恐其久而渝淡無辨。故注之。</p>
<figure>
<img data-orig-src="urn:270:07793.jpg" alt="死現舌圖">
</figure>
<p>【介按】苔見黑色。病必不輕。不論寒熱。虛實諸症。皆有此色。惟舌至全黑。病已入里。非臟腑極熱。即為臟腑極寒。若虛寒而舌黑。則必濕滑無苔。若真寒假熱而舌黑。則必全黑而不分經。如全黑無苔而底紋粗澀乾焦。刮之不淨。是為熱極之候。如全黑無苔而無罅點。乾燥少津而光亮。此為絳色之變態。是腎虛液涸之證。如全黑而有罅有點。是熱極之實證。惟苔黑腐爛。為心腎俱絕。舌黑捲縮為肝臟已絕。皆為不治之證。茲謂水剋火而百無一治者。即是臟腑極寒極虛之證也。</p>

<h1>第十三·黃苔舌</h1>
<p>舌見尖白根黃。其表證未罷。須宜解表。然後方可攻之。如大便秘者。用涼膈散加硝黃泡服。小便澀者。五苓散加木通合益元散加薑汁少許。以白滾湯不拘時調服。</p>
<figure>
<img data-orig-src="urn:270:07794.jpg" alt="黃苔舌圖">
</figure>
<p>【介按】凡表證如風熱暑燥。皆有黃舌。惟傷寒由表入里。傳至陽明之府。其舌必黃。由淺轉深。今見尖白根黃。此係太陽感寒。陽明內熱。或風熱之邪。客於陽明之表。均宜涼散為治。蓋以白苔主表。黃苔主裡。太陽主表。陽明主裡。故舌苔見尖白根黃。或見白中帶黃。如或微黃而薄者。其舌必黃燥。此是表邪初入於裡之候也。外證必見惡寒身熱，治宜辛涼解表。若根黃尖白而不甚干，短縮不能伸出者。有宿食也。宜下之。若惡寒已罷。而惟身熱便秘者。此是邪熱入胃。故宜涼膈散治之。硝黃用泡者。取其藥力之專也。至若小便短澀。舌見黃膩。乃是濕熱未淨之候。故用五苓散加木通合益元散加味。滲濕清熱以治之。</p>
<p><u>涼膈散</u>（方見前）</p>
<p><u>五苓散</u>（方見前）</p>
<p><u>益元散</u>（從名醫方論新補）</p>
<p>滑石（六兩水飛）　甘草（一兩）　辰砂（三錢）</p>
<p>上為細末。新汲水一碗。調服三錢。</p>
<p>【介按】此方即六一散加辰砂也。取其益氣而不助邪。逐邪而不傷正。故有益元之名。柯韻伯曰。心為五臟主。暑熱擾中。神明不安。必得硃砂以鎮之。則神氣可以遽復。涼水以滋之。則邪熱可以急除。此清心之陽。熱可通行也。</p>

<h1>第十四·黑心舌</h1>
<p>舌見弦白心黑。脈沉微者，難治。脈浮滑者，可汗。沉實者，可下。始病即發此者，乃危殆之甚也。調胃承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07795.jpg" alt="黑心舌圖">
</figure>
<p>【介按】此舌當作四節解之。其一。舌見沿白心黑。脈沉微者。有始病即見此舌。非由白黃變化舌轉瘦小者。為真臟中寒而寒水凌心。腎色外見。急用溫劑治之。稍緩則誤事。故曰難治。此即章虛谷所謂「凡黑苔，大有虛實寒熱之不同。其潤而不燥。或無苔如煙煤者。正是腎水來乘心火。其陽虛極」之候也。其二。脈浮滑者。可汗。即仲景《傷寒論》所謂「表有熱、里有寒，白虎湯主之」之候也。其三。脈沉實者。可下。其舌如中黑無苔而舌底乾燥有小點紋可見者。乃胃經實熱。治宜三黃白虎湯（黃連、黃芩、黃梔、石膏、知母、甘草、粳米。）亦有邪熱傳裡。以致舌為黑色。因其熱結燥實。津液焦灼。急宜攻下其熱滯以存津。故用調胃承氣湯以治之。即王孟英所謂「其舌心並無黑苔。而舌根有黑苔而燥者。宜下之」之類也。其四。始病即發此舌者。乃是寒邪直中三陰之證。其舌必潤、症勢險急。不及救治。故曰危殆之甚也。</p>
<p><u>調胃承氣湯</u>（方見前）</p>

<h1>第十五·尖白根黑舌</h1>
<p>舌尖白苔二分根黑一分者。必有身痛惡寒。如飲水不至甚者。五苓散。自汗渴者，白虎湯。下利者，解毒湯可。此亦危殆也。</p>
<figure>
<img data-orig-src="urn:270:07796.jpg" alt="尖白根黑舌圖">
</figure>
<p>【介按】白苔帶黑點。或帶黑紋而黏者。此屬太陰氣分之濕證。故有身痛惡寒。渴不多飲之候。治宜行濕和脾。故以五苓散主之。若自舌根黑起至尖。甚至刮之不脫。濕之不潤。此時邪已化熱燥耗胃液。故見自汗、口渴之證狀。而用白虎湯清胃熱以治之。若熱邪從陽明而轉至太陰。其熱愈深。其毒愈重。此時苔色轉見純黑而無芒刺矣。因其熱毒無處發泄。直奔大腸而暴下。形同下利。故宜速用解毒湯。以解腸胃之熱毒為最要。然症勢至此。亦危極矣。</p>
<p><u>五苓散</u>（方見前）</p>
<p><u>白虎湯</u></p>
<p>知母（一錢五分）　甘草（炙一錢）　石膏（四錢）　糯米（一撮）</p>
<p>上㕮咀。每服一兩。用水一鍾半。入糯米。先煎。下諸味。再煎去渣服之。加人參亦可。</p>
<p>【介按】張仲景《傷寒論》內之白虎湯。有粳米而無糯米。蓋糯米甘溫。能收自汗。不若粳米之甘平。色白入肺。除煩清熱以止渴也。柯韻伯曰。陽明邪從熱化。故不惡寒而惡熱。熱蒸外越。故熱汗自出。熱灼胃中。故渴欲飲水。邪盛而實。故脈滑。然猶在經。故兼浮也。蓋陽明屬胃。外主肌肉，雖有大熱而未成實。終非苦寒之味所能治也。石膏辛寒。辛能解肌熱。寒能勝胃火。寒性沉降。辛能走外。兩擅內外之能。故以為君。知母苦潤。苦以瀉火。潤以滋燥。故以為臣。用甘草、粳米調和於中宮。且能土中瀉火。作甘稼穡。寒劑得之緩其寒。苦藥得之平其苦。使沉降之性。皆得留連於味也。得二味為佐。庶大寒之品。無傷損脾胃之慮也。煮湯入胃。輸脾歸肺。水精四布。大煩、大渴可除矣。白虎為西方金神。取以名湯。秋金得令而炎暑自解矣。更加人參以補中益氣而生津。協和甘草、粳米之補承製石膏。知母之寒。瀉火而土不傷。乃操萬全之術者也。</p>
<p><u>解毒湯</u></p>
<p>黃連（一兩）　黃柏（五錢）　山梔子（二十枚）　黃芩（五錢）</p>
<p>上㕮咀。每服五錢。水一鍾半。煎至一鍾。去渣熱服。</p>
<p>【介按】汪昂曰。寒極曰陰毒。熱極曰陽毒。是方名曰黃連解毒。是君以黃連直解心經火毒。黃芩瀉肺經火毒。黃柏瀉腎經火毒。梔子通瀉三焦火毒。使諸火毒從膀胱而出也。</p>

<h1>第十六·白苔黑點舌</h1>
<p>舌見白苔中有小點亂生者。尚有表證。其病求之雖惡。宜涼膈散微表之。表退即當下之。下用調胃承氣湯。</p>
<figure>
<img data-orig-src="urn:270:07797.jpg" alt="白苔黑點舌圖">
</figure>
<p>【介按】舌苔白而中有燥刺者。此係溫邪在手太陰肺經。外證初必惡寒。繼即發熱不已。症勢雖似惡候。治宜辛涼清解。宜用涼膈散先清上中二焦之熱。若熱退而大便未下者。即當改投攻下之劑。如欲下之。宜與調胃承氣湯。</p>
<p><u>涼膈散</u>　<u>調胃承氣湯</u>（方見前）</p>

<h1>第十七·灰苔黑暈舌</h1>
<p>舌見如灰色。中間更有黑暈兩條。此熱乘腎與命門也。宜急下之。服解毒湯。下三五次。遲則難治。如初服，加大黃。酒浸泡。量大小用之。</p>
<figure>
<img data-orig-src="urn:270:07798.jpg" alt="灰苔黑暈舌圖">
</figure>
<p>【介按】舌至灰色。病概非輕。如苔燥少津。均是實熱里症。而無虛寒表症。如溫燥時疫。鬱積停胸。蓄血如狂。宿食未消之類是也。若傷寒已經汗解。而舌尖灰黑。此是宿食未消。或因食滯而餘熱復熾。治宜調胃承氣湯。若雜症而見此舌。宜用大承氣湯加黃連治之。今以舌見灰色而有黑暈兩條。是屬熱毒傳遍三陰。治法急宜泄熱攻下。如白虎合承氣湯。或十全苦寒救補湯（方見前）以急下之。大便下後。再用解毒湯以清解餘熱。惟熱毒傳裡已深。若嫌解毒湯太輕。故須急投三五次。服至灰暈退淨為止。初次服時。加酒浸大黃泡之。其分量。須別病人之年齡酌用之。惟舌見灰黑。是足三陰雜病。而以太少兩陰為較多。其始由白漸黃。由黃而轉灰黑者。為傳經症。或生刺點燥裂。不拘在根在尖。均宜急行攻下。又有淡灰色中而起深黑重暈者。為溫病熱毒。急宜涼膈、雙解等劑。以清熱解毒治之。然亦有屢經汗下而舌苔灰黑不退。其舌滋潤。或不潤不燥者。脈必虛微無力。此係汗下太過。傷其津液。治宜養津滋液為要。不得妄用硝黃矣。</p>
<p><u>解毒湯</u>（方見前）</p>

<h1>第十八·微黃舌</h1>
<p>舌見微黃色者。初病即得之。發譫語。此由失汗，表邪入里也。必用汗下兼行。以雙解散加解毒湯兩停主之。</p>
<figure>
<img data-orig-src="urn:270:07799.jpg" alt="微黃舌圖">
</figure>
<p>【介按】舌苔微黃而薄。是外邪初入陽明。猶帶表證。微兼惡寒。治宜辛涼解散。如黃而兼燥。外證不惡寒、反惡熱。是邪初入陽明之裡。或溫熱內發欲出陽明之表。治宜涼解裡熱。是以風熱溫暑之表證。及傷寒傳入陽明之府證。其苔必現微黃。如若失治。則黃色由薄而轉厚。甚則變為焦黃。外證大熱、大渴、譫語、便閉、或無汗、或自汗。此因熱邪由表入里。治宜汗下兼行。但須清解涼散。今因雙解散內有辛溫升散之品。故加解毒湯以佐之。凡治此等證候。用藥必須隨症斟酌。倘如舌苔黃燥。或生芒刺。而有臍腹脹滿硬痛之證者。治法又宜急下以存津。</p>
<p><u>雙解散加解毒湯</u></p>
<p>防風　川芎　當歸　芍藥　大黃　麻黃　連翹　芒硝（各半兩）　石膏　黃芩　桔梗（各一兩）　滑石（三兩）　甘草（二兩）　荊芥（半兩）　白朮　山梔（各半兩）</p>
<p>上㕮咀。每服一兩。水一鍾半。姜三片。煎八分服。不拘時。一云有桂枝二兩。</p>
<p>【介按】雙解散。即防風通聖散去硝黃是也。今此方有硝黃而無薄荷。名之曰雙解散加解毒湯者。諒系雙解表裡熱毒之意也。吳鶴皋曰。解表有防風、麻黃、薄荷、荊芥、川芎。解里有石膏、滑石、黃芩、梔子、連翹。復有當歸、芍藥以和血。桔梗、白朮、甘草以調氣。營衛皆和，表裡俱暢。故曰雙解。</p>

<h1>第十九·白苔邊黃舌</h1>
<p>舌中見白苔。外則微黃者。必作泄。宜服解毒湯。惡寒者。五苓散。</p>
<figure>
<img data-orig-src="urn:270:07800.jpg" alt="白苔邊黃舌圖">
</figure>
<p>【介按】白苔屬肺。黃苔屬胃。茲因熱熾於胃。邪尚在肺。日久不解。則肺胃之邪熱。移於大腸而作泄。故用解毒湯以清熱解毒。如若外證惡寒者。則為寒濕作瀉。其舌必潤。故用五苓散以滲其濕也。</p>
<p><u>解毒湯</u>　<u>五苓散</u>（方見前）</p>

<h1>第二十·微黃舌</h1>
<p>舌見微黃色者。表證未罷。宜用小柴胡湯。合天水散主之。可下者。大柴胡湯下之。表裡雙除。臨證審用之。</p>
<figure>
<img data-orig-src="urn:270:07801.jpg" alt="微黃舌圖">
</figure>
<p>【介按】黃苔薄滑者。是邪初入里。表症未罷。熱未傷津。猶可用柴葛芩翹。或梔豉翹薄之類。輕清泄熱。以透表邪而達肌表。若黃薄而膩者。則為濕熱膩滯之候。治宜於清熱之中兼用滲濕之品。故用小柴胡湯合天水散以治之。但邪尚在半表半裡之間。小柴胡內之人參，用時尚須斟酌。故曰臨證者審用之也。若舌苔黃膩而垢。或乾澀深黃厚膩者。此是表邪入里之候。故宜大柴胡湯以下之。</p>
<p><u>天水散</u></p>
<p>太原甘草（炙一兩）　桂府滑石（六兩）</p>
<p>上各另為末。每服五錢。入生薑汁並蜜各少許。用蔥白湯任意調服。如發表用豆豉、蔥頭煎湯調服。</p>
<p>【介按】柯韻伯曰。「滑石能上清水源。下通水道。從小便而泄。炙甘草稟草中衝和之性。調和內外。止渴生津。用以為佐。保元氣而瀉虛火。則五臟自和矣。」又據原文謂「如發表，用豆豉、蔥頭煎湯調服」者。因蔥白、豆豉即古方之蔥豉湯。為治新邪初感引動伏熱之要劑。是以張路玉謂「本方藥味雖輕。功效最著。凡虛人風熱伏氣發溫。及產後感冒。靡不隨手獲效」也。</p>
<p><u>大柴胡湯</u>　<u>小柴胡湯</u>（二方見前）</p>

<h1>第二十一·黃心舌</h1>
<p>舌有黃心色者。必初白苔而變黃色也。皆表而傳裡。熱已入胃。宜急下之。若下遲必變黑色為惡症。為惡亢害鬼賊。邪氣深也。不治。宜用調胃承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07802.jpg" alt="黃心舌圖">
</figure>
<p>【介按】傷寒由表入里。舌苔必然先白後黃。及至純黃無白。邪已離表入里。即仲景所云「胃家實」也。因舌中屬胃。凡腸中有燥矢。舌心必然黃燥、或黃厚焦老。中心裂紋起刺。腹中硬滿脹痛。急用調胃承氣湯下之。否則由黃轉黑而燥。大便秘結。猶可以承氣下之。如若失治。舌變枯黑燥裂。堅斂焦刺。乃是腎津胃液俱竭。形勢危險。是屬不治之症矣。倘如不忍坐視。惟以大劑滋液清熱之品。希冀萬一而已。原文所謂「宜用調胃承氣湯」之句。應在「宜急下之」之下。非在「不治」之下。古書文法。類多如是。不獨此條為然也。</p>
<p><u>調胃承氣湯</u>（見前方）</p>

<h1>第二十二·左邊白苔舌</h1>
<p>舌左有白苔而自汗出者。不可下。宜白虎湯加人參三錢服之。</p>
<figure>
<img data-orig-src="urn:270:07803.jpg" alt="左邊白苔舌圖">
</figure>
<p>【介按】舌左邊主胃。故白色在左。其苔必燥。而自汗出。則為胃熱熾盛。是以治法宗仲景《傷寒論》「服桂枝湯大汗出後。大煩渴不解。脈洪大者。白虎加人參湯主之」之例。蓋以汗出過多。恐傷陽明之液。故用白虎加人參。急救胃液而滋陽明之燥也。</p>
<p><u>白虎湯</u>（方見前）</p>

<h1>第二十三·右邊白滑舌</h1>
<p>舌右有白苔滑。病在肌肉。為邪在半里半表。必往來寒熱。宜小柴胡湯和解之。</p>
<figure>
<img data-orig-src="urn:270:07804.jpg" alt="右邊白滑舌圖">
</figure>
<p>【介按】凡風寒之入。由皮毛而腠理。為陽明少陽之界。作表症看。非邪已入陽明之裡。而復傳於少陽也。如外證身熱微寒。或往來寒熱。舌苔中白邊紅、或根白尖紅。脈象弦滑者。此邪在於肌肉腠理之間，陽明少陽之界。治宜解肌為主。以取肌表之汗。則寒熱自退。因少陽在太陽陽明之間。是以少陽之症。有兼太陽者。有兼陽明者。茲以陽明兼少陽為病。舌右白滑而往來寒熱。治法宗仲景《傷寒論》「陽明病。脅下硬滿。不大便而嘔。舌上白苔者。可與小柴胡湯。上焦得通。津液得下。胃氣因和。身濈然汗出而解也」之意。故用小柴胡湯治之。俾上焦之痰飲化而津液行。胃氣一和。濈然汗出。則寒熱自解矣。</p>

<h1>第二十四·左邊白滑舌</h1>
<p>舌左見白苔滑者。此臟結之證。邪併入臟。難治。</p>
<figure>
<img data-orig-src="urn:270:07805.jpg" alt="左邊白滑舌圖">
</figure>
<p>【介按】臟結之證。脅下素有痞。連在臍旁。痛引少腹而入陰筋。外證無往來寒熱。初時病從表入。因醫者下之太早。邪氣久伏不發而成。《傷寒論》云。「何謂臟結。答曰。如結胸狀。飲食如故。時時下利。寸脈浮。關脈小細沉緊。名曰臟結。舌上白苔滑者難治。」又曰。「臟結無陽證。不往來寒熱。其人反靜。舌上苔滑者。不可攻也。」又曰。「病脅下素有痞。連在臍旁。痛引少腹入陰筋者。此名臟結死。」但臟結可分為三種。如新陳之邪。互相交結而不解。痞連臍旁者。脾臟結也。痛引少腹者。腎臟結也。自脅入陰筋者。肝臟結也。若三陰之臟俱結。則其人必主死矣。今白滑之色。見於舌之左根。可知其痛在於臍之左旁。此時汗之無益。下之無效。故為難治之症也。</p>

<h1>第二十五·中黃邊白舌</h1>
<p>舌見四圍白而中黃者。必作煩渴嘔吐之症。兼有表者。五苓散、益元散兼服。須待黃盡。方可下也。</p>
<figure>
<img data-orig-src="urn:270:07806.jpg" alt="中黃邊白舌圖">
</figure>
<p>【介按】表邪未罷。將欲化熱。則舌見邊白中黃。其苔必然黏膩。因為水停胸中而津不升。則作煩渴，甚則渴欲飲水。水入即吐矣。治宜用五苓散以發汗。則膀胱之氣化而津液生。嘔渴自止。蓋以膀胱化水下出為小便。化氣外出於皮毛。皮毛又為肺所主。故兼用益元散清肺利濕以助之，原文所謂「須待黃盡」，是待舌苔純黃而言。倘如舌變純黃而厚燥者。方可用攻下之劑。惟在嘔吐之時。如能兼用瀉心湯法則奏效尤速也。</p>
<p><u>五苓散</u>　<u>益元散</u>（二方見前）</p>

<h1>第二十六·黃苔黑點舌</h1>
<p>舌見黃色而有黑點者。邪遍六腑。將入五臟也。服調胃承氣湯下之。次進和解散。十救四五也。</p>
<figure>
<img data-orig-src="urn:270:07807.jpg" alt="黃苔黑點舌圖">
</figure>
<p>【介按】黃苔主裡。如見黑點芒刺。必是老黃焦燥，外證必有口渴身熱。譫語便閉。此係胃中熱極。將由腑而入臟。急宜調胃承氣湯。以清熱邪而保胃液。得能黃苔稍退。熱勢已減。而後再進和解散也。惟和解散中之藥性。過於辛溫升散。在愚見不如用涼膈散為穩。</p>
<p><u>調胃承氣湯</u>（方見前）</p>
<p><u>和解散</u></p>
<p>陳皮（一錢）　厚朴（薑製一錢）　藁本　桔梗（各五分）　甘草（炙五分）　蒼朮（三錢）</p>
<p>上㕮咀。水一鍾半。姜三片。棗二枚。煎七分。去渣。不拘時服。</p>
<p>【介按】此方即平胃散加藁本、桔梗也。取蒼朮之苦甘。長於發汗而燥濕。厚朴苦溫。能散濕滿而平胃。因濕之不行。由於氣滯。故佐陳皮以理氣。甘先入脾。故使甘草以補脾。名曰平胃者。先賢謂「培卑監之土而使平」也。今加以藁本之辛溫上達。能祛風邪而行濕。桔梗苦辛上行。能載諸藥以上浮。由是觀之。則此方為祛風行濕理氣健脾之劑也。</p>

<h1>第二十七·根黃尖白舌</h1>
<p>舌見根黃尖白者。表少里多。宜天水散一服。涼膈散二服。合而服之。脈弦者。防風通聖散主之。</p>
<figure>
<img data-orig-src="urn:270:07808.jpg" alt="根黃尖白舌圖">
</figure>
<p>【介按】舌根屬下脘。舌尖屬上脘。此舌根黃尖白。病系外寒裡熱。即世俗所謂寒邪包火之症。或表邪入里。已成表少里多之候。外證必熱多寒少。故用涼膈散合天水散。以通水道而清膈熱。如若脈弦。此是邪尚在表。故用防風通聖散。以解風熱之邪也。亦有根黃尖白。不甚乾燥。短縮不能伸出自如者，痰挾宿食之證也。宜用下法以治之。</p>
<p><u>天水散</u>　<u>涼膈散</u>（二方見前）</p>
<p><u>防風通聖散</u>（從名醫方論新補）</p>
<p>防風　川芎　當歸　芍藥　大黃　薄荷　麻黃　連翹　芒硝（各半兩）　石膏　黃芩　桔梗（各一兩）　滑石（三兩）　甘草（三兩）　荊芥　白朮　梔子（各二錢半）　生薑（三片）</p>
<p>每服三錢。</p>
<p>【介按】吳琨曰。防風、麻黃，解表藥也。風熱之在皮膚者得之，由汗而泄。荊芥、薄荷。清上藥也。風熱之在巔頂者得之，由鼻而泄。大黃、芒硝。通利藥也。風熱之在腸胃者得之，由後而泄。滑石、梔子、水道藥也。風熱之在決瀆者得之。由溺而泄。風淫於膈。肺胃受邪。石膏、桔梗，清肺藥也。而連翹、黃芩又所以祛諸經之遊火。風之為患。肝木主之。川芎、歸芍。和肝血也。而甘草、白朮。所以和胃氣而健脾。劉守真氏長於治火。此方之旨，詳且悉哉。</p>

<h1>第二十八·純黃隔瓣舌</h1>
<p>舌見黃而澀。有隔瓣者。熱已入胃。邪毒深矣。心火煩渴。急宜大承氣湯下。若身發黃者。用茵陳蒿湯。下血。用抵當湯。水在脅內。十棗湯。結胸甚者。大陷胸湯。痞用大黃瀉心湯。</p>
<figure>
<img data-orig-src="urn:270:07809.jpg" alt="純黃隔瓣舌圖">
</figure>
<p>【介按】黃苔起瓣。系是臟腑實熱已極。或因溫暑熱邪。灼爍胃液。或因溫燥之藥。誤投劫津。致熱毒熏蒸而現此舌。外證必大熱、大渴。面赤、唇紅。甚則譫語、神昏。治宜大承氣湯。以急下而救液。至於發黃之證。有濕熱與蓄血之異。如陽明熱勝挾濕而發黃者。外證遍身無汗。但頭汗出而小便不利。渴欲飲水。此係熱不得越。鬱蒸為黃也。治宜茵陳蒿湯。苦寒通泄。使內瘀之熱下趨。則黃從大便而解。如發黃而小便清利。或大便反易。脈象沉細而結。此是蓄血之發黃也。治宜抵當湯。以消瘀而退黃。更有懸飲之病。脈象沉弦而細。因其水飲。凝結，懸於胸脅之間。以致咳引內痛。照此證狀。不得誤認為結胸。治宜十棗湯。直達病所。使水飲下趨而無結痛之患。又有結胸之症。因病初在太陽。醫者失表而誤下之。則邪熱入里與內蓄之水飲結於胸中。脈象沉緊。心下痛而按之石硬。此係熱實而致結胸。治宜大陷胸湯。使其軟堅破積而導去熱邪。夫病在於陽而反下之，熱入而為結胸，既已述其病狀與治法，然亦有病發於陰而反下之。因而作痞者。不可不知也。但痞與結胸。同為硬滿之症。當以痛與不痛而辨明之。如滿而硬痛。是謂結胸。滿而不痛。是謂痞滿。凡治傷寒。大下之後而復汗之。則正虛邪入。心下成痞。外證如有惡寒、身熱。先宜治以解表之劑。待其表解之後。再進大黃瀉心湯。以攻痞而滌熱。此言舌苔純黃起瓣。固宜大承氣湯之峻下。然須詳審病證。仔細診察。否則如發黃有濕熱與蓄血之別。又有懸飲與結胸之辨。倘若誤用承氣。更有結胸與痞滿之變也。</p>
<p><u>大承氣湯</u></p>
<p>厚朴（薑製三錢）　枳實（麩炒二錢）　大黃（二錢）　芒硝（二錢）</p>
<p>每服一兩。水一鍾半。先煎枳實。候熱，方入大黃。再煎數沸。入芒硝。煎三五沸。去渣熱服。</p>
<p>【介按】大承氣湯之功用。取其急下之義。如陽明證之譫語、潮熱。及二陽並病以致潮熱。或陽明下後。心中懊憹而煩。腹滿痛。本有宿食。又如少陰證之口燥、舌乾。或自利清水。色純青等證。皆因胃中熱極而燥矢為患，故用大黃之苦寒。滌腐穢而清熱毒。芒硝苦鹹而化燥矢。又有枳樸以消留滯之氣。夫大腸為傳導之官。變化出焉。然則大承氣者。所以通泄大腸。而承製胃中之熱氣者也。</p>
<p><u>茵陳湯</u></p>
<p>茵陳（五錢）　大黃（三錢）　山梔子（七枚）</p>
<p>上每服一兩。水一盞半。先煎茵陳半熟。次入二味。再煎去渣。通口熱服。</p>
<p>【介按】柯韻伯曰。茵陳稟北方之氣。經冬不凋。傲霜凌雪。遍受大寒之氣。故能除熱邪留結。率梔子以通水源。大黃以調胃實。令一身內外瘀熱。悉從小便而出。腹滿自減，腸中無傷。乃合引而竭之之法。此陽明利水之聖劑也。</p>
<p><u>抵當湯</u></p>
<p>水蛭（糯米炒七個）　虻蟲（炒去羽足七個）　大黃（三錢）</p>
<p>上作一服，水一盞半，煎一鍾，去渣，通口服。</p>
<p>【介按】張仲景先生之抵當湯。尚有桃仁一味。今無桃仁。諒系原書失載所致。至於方義。先哲柯韻伯已甚詳晰。爰述其言曰。蛭蟲之善飲血者，而利於水。虻蟲之善吮血者，而猛於陸。並取水陸之善取血者以攻之。同氣相求。更佐桃仁之苦甘。推陳致新。大黃之苦寒。盪滌邪熱。故名抵當也。若熱雖盛而未狂。少腹滿而未硬。宜小其製為丸以緩治之。</p>
<p><u>十棗湯</u></p>
<p>芫花（醋浸炒）　大戟　甘遂（煨各等分）</p>
<p>上每服二錢。弱人減半。以水一鍾半。大棗十枚。劈碎。煎取八分。去渣。通口服。</p>
<p>【介按】柯韻伯曰。甘遂、芫花、大戟。三味皆辛苦氣寒而稟性最毒。並舉而用之。氣味合。相濟相須。故可交相去邪之巢穴。決其瀆而大之。一舉而水患可平也。然水利所湊。其元氣已虛。而毒藥攻邪。必脾胃反弱。使無健脾、調胃之品為主宰。邪氣盡而大命亦隨之矣。故選十棗之大而肥者以君之。以培脾土之虛，一以制水氣之橫。一以解諸藥之毒。得一物而三善備。即不使邪氣之盛而不制。又不使元氣之虛而不支。此仲景立法之盡善也。昧者惑於甘能中滿之說而不敢用。豈知承製之理乎。</p>
<p><u>大陷胸湯</u></p>
<p>大黃（七錢）　芒硝（三錢）　甘遂末（四分）</p>
<p>上用水二鍾。先煎大黃至一鍾。去渣。下芒硝。煎三五沸。再用甘遂末。溫服取利。</p>
<p>【介按】大黃、芒硝。善滌腸胃之實熱。但病在胸中。而亦以此為君者。因熱淫於內。治以苦寒。藉以滌胸中之熱。又任甘遂之苦辛。直攻胸間之飲邪。則不專蕩胃中之邪穢矣。此係邪留胸間而及於胃。胸胃俱病。而致結胸之專劑也。</p>
<p><u>大黃瀉心湯</u></p>
<p>大黃（五錢）　黃連　黃芩（各二錢五分）</p>
<p>上作一服。水二鍾。煎一鍾。去渣。通口服。若有宿食痰飲者。加半夏曲二錢。</p>
<p>【介按】心下痞。按之濡而不硬。是內陷之邪。與無形之氣。摶聚不散而為熱痞。故用苦寒能降之品。以泄無形之熱。不用枳樸者。非蕩實熱之劑也。若兼宿食、痰飲為患者。再用半夏曲以開痞而蠲飲也。</p>

<h1>第二十九·微紅黑灰舌</h1>
<p>舌見四邊微紅。中央灰黑色者。此由失下而致。用大承氣湯下之。熱退可愈。必三四下方退。五次下之而不退者。不治。</p>
<figure>
<img data-orig-src="urn:270:07810.jpg" alt="微紅黑灰舌圖">
</figure>
<p>【介按】舌見灰色。病概不輕。均是里症。無表症。有實熱症、無虛寒症。又有邪熱傳裡。時疫流行。鬱結停胸。蓄血如狂之諸證。治法不外寒涼攻下。今此舌系是應下失下之症。而見黑灰乾燥之舌。急宜大承氣湯以下之。已無疑義。即《舌鑑辨正》所謂「熱傳三陰。則有灰黑乾薹。皆當攻下泄熱」者是也。但大承氣以苦寒勝熱之劑。倍厚朴以承氣機之變動。設或陽亢陰竭。已無氣之可承。則為脈澀。直視、喘滿而死矣。所以五次下之而舌色如故者。則為不治之症也。然亦有舌心灰黑而膩者。是屬胃熱蒸動脾濕之症矣。故凡診舌。不論何色。皆當辨明燥、濕、干、潤之殊也。</p>
<p><u>大承氣湯</u>（方見前）</p>

<h1>第三十·黃色黑點舌</h1>
<p>舌見黃而黑點亂生者。其症必渴譫語。脈滑者生。脈澀者死。循衣摸床者不治。若下之，見黑糞亦不治。下宜大承氣湯。</p>
<figure>
<img data-orig-src="urn:270:07811.jpg" alt="黃色黑點舌圖">
</figure>
<p>【介按】舌苔焦黃而起黑刺。症至大渴譫語。此是邪熱入里。灼耗津液。病勢最險。惟脈滑則邪正俱實。尚有生機。澀則津液劫盡。即俗語所謂「燈燼油干則必死」也。至於循衣摸床。乃是陽明之壞病。故曰不治。如在險象未露之先。欲行施治。則用大承氣湯下之。服藥之後。如見黑糞。此係熱毒深重。滲入大腸。胃氣全消。故為不治之症也。</p>
<p><u>大承氣湯</u>（方見前）</p>

<h1>第三十一·黃苔黑中舌</h1>
<p>舌見黃中黑至尖者。熱氣已深。兩感見之。十當九死。惡寒甚者。亦死。不惡寒而下利者。可治。宜用調胃承氣湯主之。</p>
<figure>
<img data-orig-src="urn:270:07812.jpg" alt="黃苔黑中舌圖">
</figure>
<p>【介按】兩感者。即陰陽俱傷、表裡同病也。如太陽與少陰同病。則頭痛與口乾、煩滿。陽明與太陰同病。則身熱、譫語與腹滿、不欲食。少陽與厥陰同病。則耳聾與囊縮而厥。三陰三陽俱受病則水漿不入。昏不知人。六日當死。是即內經所謂「其兩感於寒而病者。必不免於死」之症也。茲以傷寒之邪。郁久化熱。由三陽而轉入厥陰。故見舌苔邊黃而中黑至尖。此時熱爍肝液。內風已動。九竅將閉。本屬壞症。故曰十當九死。至若惡寒亦死者。即張仲景所謂「凡厥者。陰陽氣不相順接。便為厥。厥者。手足厥冷」是也。亦即「傷寒六七日脈微。手足厥冷、煩躁。灸厥陰，厥不還者死」之候也。不惡寒而下利者。是陽明合併厥陰之熱。漸耗腎液。致腸中燥矢迫水下流。而自利清水。故用調胃承氣湯。清胃熱而下燥矢。此即張仲景所謂「少陰病。自利清水。色純青。心下必痛。口乾燥者。急下之。宜大承氣湯」之症也。</p>
<p><u>調胃承氣湯</u>（方見前）</p>

<h1>第三十二·邊紅黑心舌</h1>
<p>舌見外淡紅心淡黑者。如惡風。表未罷。用雙解散加解毒湯相半。微汗之。汗罷即下。如結胸煩躁。目直視者。不治。非結胸者。可治。</p>
<figure>
<img data-orig-src="urn:270:07813.jpg" alt="邊紅黑心舌圖">
</figure>
<p>【介按】傷寒入里化熱。由陽明而入三陰。舌即邊紅而中淡黑。如外證惡風者。知其表未罷也。雖云惡風。實賅惡寒而言。蓋惡風未有不兼惡寒。惡寒未有不兼惡風者。宜用雙解散合解毒湯。內清外達而治之。及至汗出表解之後。審其舌苔乾燥。臍腹硬滿。大便秘結者。再以承氣湯下之。倘如表邪未罷之時。誤用攻下之劑。因誤下而熱邪內陷。則為結胸。或傷心腎之液。陰竭陽浮。以致煩躁。或傷肝液而目直視者。則為不治之症也。如若誤下而致腹滿時痛。未成結胸而無煩燥。目直視等險象者，尚可設法以救之。惟有中黑而枯。並無積苔。邊亦不絳。或略有微刺者。為津枯、血燥症。急宜養液生津。不得妄用攻下之劑也。</p>
<p><u>雙解散</u>　<u>解毒湯</u>（二方見前）</p>

<h1>第三十三·灰色尖黃舌</h1>
<p>舌見灰色尖黃。不惡風寒。脈浮者。可下之。若惡風惡寒者。用雙解散解毒湯主之。三四下之。見糞黑者。不治。</p>
<figure>
<img data-orig-src="urn:270:07814.jpg" alt="灰色尖黃舌圖">
</figure>
<p>【介按】不惡風寒者。太陽之邪侵及陽明之府也。舌尖黃而根灰色者。陽明熱極。灼及肝液也。其脈必浮弦而數。故可仿承氣之例以下之。此即張仲景所謂「病無表裡證。發熱七八日。雖脈浮數者。可下之」之候也。若惡風寒者。邪未盡入於裡。故可用雙解散以發太陽之表。復解陽明之裡。又以解毒湯清陽明之熱毒也。若見糞黑。則為熱毒深重。津液已耗。故曰不治也。</p>

<h1>第三十四·灰黑起紋舌</h1>
<p>舌見灰黑色而有黑紋者。用大承氣湯下之。脈浮。渴飲水者。用涼膈散解之。十可救其二三。</p>
<figure>
<img data-orig-src="urn:270:07815.jpg" alt="灰黑起紋舌圖">
</figure>
<p>【介按】舌苔灰黑。是溫病熱毒傳遍三陰。治法均宜急行攻下。如見黑紋。是夾雜陽明實熱為患。故用大承氣湯急下以救之。若脈浮而口渴者。邪熱雖在陽明而大便未硬。故用涼膈散以清膈熱為治也。惟灰黑與淡黑色頗相似。灰色則黑中帶紫。淡則黑中帶白之異。若熱邪直中三陰。其舌灰黑無苔。治宜急下救液。如寒邪直中三陰。其舌淡黑無苔。則治法宜溫經散寒。臨證之際。務須仔細辨別之。</p>
<p><u>大承氣湯</u>　<u>涼膈散</u>（二方見前）</p>

<h1>第三十五·根黑尖黃舌</h1>
<p>舌根微黑尖黃。脈滑者。可下之。脈浮者。當養陰退陽。若惡風寒者。微汗之。用雙解散。若下利。用解毒湯。十全七八也。</p>
<figure>
<img data-orig-src="urn:270:07816.jpg" alt="根黑尖黃舌圖">
</figure>
<p>【介按】傷寒傳裡化熱。則舌苔變黑。自舌中黑起延至根尖者。較多。自根尖黑起延至舌中者。較少。熱甚則芒刺干焦罅裂。其初必由白苔變黃。由黃變黑。甚至刮之不脫。濕之不潤者。熱極傷液也。治宜苦寒泄熱。急下救液。茲因舌根微黑尖黃而脈滑者。外證必有譫語、潮熱。腹滿、便硬等證。此係胃中熱盛。腎液漸耗。急用攻下之劑。以滌胃熱而存腎液。若脈浮者。邪雖化熱。只爍胃津。即當養陰液以退邪熱。如惡風寒。則知其邪尚在太陽陽明之間。故用雙解散。以解表裡之邪。若邪熱下陷入腸而作利。即內經所謂「暴注下迫。皆屬於熱」之候矣。故用解毒湯。以清腸胃之熱也。</p>
<p><u>雙解散</u>　<u>解毒湯</u>（二方見前）</p>

<h1>第三十六·根灰尖黃舌</h1>
<p>舌見根微黑。尖黃隱見。或有一紋者。脈實，用大承氣湯下之。脈浮渴飲水者。用涼膈散解之。十可救其二三。</p>
<figure>
<img data-orig-src="urn:270:07817.jpg" alt="根灰尖黃舌圖">
</figure>
<p>【介按】舌見根黑尖黃。或邊黃中心焦黑起刺。而脈實者。臍腹必脹滿硬痛。此係陽明實熱之症。故可用大承氣湯。苦寒以泄陽明之熱。急下以救津液之虛。若脈浮而口渴飲水者。邪未入腑。猶可用涼膈散以解熱也。</p>
<p><u>大承氣湯</u>　<u>涼膈散</u>（二方見前）</p>

<h1>結語</h1>
<p>以上三十六舌。乃傷寒驗舌之捷徑。臨症用心處之。百無一失。</p>
<p>【介按】以上驗舌之法。確係診斷傷寒之捷徑。茲以舌之部位言之。則舌尖屬上脘。舌心屬中脘。舌根屬下脘。全舌屬胃。中心亦屬胃。舌尖屬心。舌根屬腎。兩旁屬肝膽。四畔屬脾。至於形色而言。則白屬肺經。絳屬心經。黃屬胃經。鮮紅屬膽經。黑屬脾經。紫色屬腎經。焦紫起刺屬肝經。青滑亦屬肝經。然苔色雖有臟腑之分。亦須依據部位為主。如舌苔見於某部。即為某經之病者是也。原書察舌辨症之法。雖則言簡意賅。尚少紫、藍、黴醬色之諸舌。即黑苔之關於虛寒者。亦略而不詳。今特依據先賢學說。參以歷年臨證實驗。附述如下。</p>
<p><u>（一）紫色</u>　紫見全舌。是臟腑表裡實熱之證也。凡傷寒化熱。內熱熏蒸。誤服溫補。酒食濕滯者。皆有之。惟淡紫中夾帶別色。則虛寒症亦有之。如淡紫帶青。青紫無苔。多水滑潤而瘦小者。為傷寒直中肝腎之陰症。治宜溫散為主。又有紫色如熟豬肝上罩浮滑苔者。邪熱傳裡。表未淨也。治宜清解為主。若全紫光暗。並無附苔者。熱極似寒也。症勢極危。惟有用急下之法。間有轉危為安者。又有紫苔中心帶青。或灰黑者。熱傷血分也。治宜微下之。更有酒後中寒。及痰熱鬱久者。亦有舌苔紫色者。但須辨其舌之潤燥。病之原因。而分別治之。</p>
<p><u>（二）藍色</u>　藍色者。綠與青碧相合。猶染色之三藍也。如微藍而不滿舌。是邪熱鴟張。肝液被灼之候。治宜平肝熄風化毒為主。如全舌滑膩中見藍色者。為濕痰或痰飲化熱之候。治宜清化為主。如瘟疫及濕溫。熱鬱不解。而見藍苔者。治宜芳香清泄。若光藍無苔。不論何症何脈。皆屬氣血極虧所致。法在不治。若舌滑中而見藍色苔者。邪熱傳入厥陰。陰液受傷。法在不治。若孕婦舌見純藍者。胎死腹中也。宜急下之。若藍色而有苔者。是臟腑被熱傷氣分。以致經不行血。其症則顛狂怒罵。時哭時笑。大熱大渴。捶胸驚怪不等。治宜十全苦寒救補湯。（見前）倍生石膏、黃連急投之。</p>
<p><u>（三）黴醬色</u>　黴醬色者。是黃赤兼黑之狀。乃臟腑本熱而夾有宿食也。凡內熱久郁。實熱蒸胃。宿食困脾。傷寒傳陰。中暑煩躁。腹痛瀉利或秘結。大熱大渴等症皆有之。治宜十全苦寒救補湯連服之。如全舌黴色。中有黃苔。是實熱鬱積之症。宜大承氣湯連服之。如舌中黴色浮厚。刮之不淨。或刮後頃刻復生者。此宿食在中郁久化熱也。先用大承氣湯。次用三黃白虎湯。循環急服之。</p>
<p><u>（四）虛寒黑色舌</u>　凡虛寒而舌黑者。則必濕滑無苔。（口不苦。唇不燥而多津。）無朱點、無芒刺、無罅裂。刮之明淨。如水浸豬腰。有淡淡瀜瀜之形者。是臟腑極寒之症也。亦有舌色全黑而不分經。且必淡白之時。忽然轉黑。其初無變黃之一境。約略望之。似有焦黑芒刺干裂之狀。然刮之必淨。濕之必潤。環唇皆白而不紅焦，是寒結在臟也。外證亦周身大熱。煩躁而惡衣被。雖亦口渴喜飲。飲則不多。與實熱症相似。其實中宮寒極。外假熱而內真寒也。然必煩亂昏沉。六脈必遲弱無力。大便雖結常欲下而不下。治法均宜溫補為主。又有中黑無苔而舌底濕嫩。光滑無點紋者。乃胃經虛寒也。宜附子理中湯加肉桂、黃耆以治之。</p>

<h1>後序</h1>
<p>傷寒之病。傳變不一。瞬息之間。死生決焉。專門之醫。每病於此。予觀古虞廷尉陳君彥材所送金鏡一錄。元敖氏立辨三十六舌圖。法詳以證。症附以方。明白簡要。可以使人緣形以察脈。由粗而得精。中砭劑於膏肓。寄死生於呼吸。不苦其難。而卒應其變。雖病者地乏良醫。亦有所據。而易為力。其不盡然者天乎。誠哉。傷寒家之捷徑也。用梓之以廣其傳。夫良醫者猶良相也。相傳得。斯不誤天下蒼生司命者。其鑑之哉。其鑑之哉。</p>
<p><u>嘉靖己未夏日</u></p>
<p><u>西蜀篤齋湯紹恩謹識</u></p>
<p><u>北海堯崗馬崇儒校刊</u></p>
