<header data-type="book">
<h1>小兒推拿廣意</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>熊應雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1676">公元1676年</data></dd></div>
<div><dt>底本</dt><dd>清道光12年刊本（<a href="https://www.digital.archives.go.jp/file/1083952">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋古人往往以醫道喻用兵。謂兵以審虛實。而脈以察陰陽。其間因時制用。憑乎一心。武穆云。神而明之。存乎其人。洵不誣也。至於小兒。則又微乎其術者。既無聲色貨利之鬱於中。又無勞苦飢渴之積於外。而且口不能言。脈無從測。使非有獨得之秘。審色觀形。以流通其血氣。調和其動靜。則雖愛同珍寶。未有克自遂其長成者。則調治小兒一道。豈不最微且難哉。且天之生物。栽者培之。則在小兒。正萌芽生髮之時也。培之又安可不亟亟歟。康誥曰。如保赤子。是嬰兒之撫育。古人亦兢兢乎其慎之矣。餘留心於此。偶得一編。乃推拿之法。誠治小兒金丹。苦無高明討論。藏之有年。丙辰歲余仗策軍前。親民青邑。去浙東開府陳公之轅僅里許。陳公神於用兵。已聲播寰區。而又善於此術。余得旦夕請正。以竊慶焉。然醫以喻兵。此其徵也。陳公素性泛愛。每以保赤為懷。不為自私。付之剞劂。而名曰推拿廣意。是欲公之天下後世也。然聖人大道為心。必曰老者安之。朋友信之。少者懷之。則此舉非即少懷之良法也歟。誠可為拔嬰保赤之筮鑑云爾。</p>
<p><u>西蜀後學熊應雄運英謹識</u></p>

<h1>卷上</h1>

<h2>總論</h2>
<p>夫人之所藉以為生者。陰陽二氣也。陰陽順行。則消長自然。神清氣爽。陰陽逆行。則往來失序。百病生焉。而襁褓童稚。尤難調攝。蓋其飢飽寒熱。不能自知。全恃慈母為之鞠育。苟或乳食不節。調理失常。致成寒熱。顛倒昏沉。既已受病。而為父母者。不思所以得病之由。卻病之理。乃反疑鬼疑神。師巫祈禱。此義理之甚謬者矣。幸仙師深憫赤子之夭折。多緣調御之未良。醫治之無術。秘授是書。神功莫測。沉離浮坎。而使水火既濟。瀉實補虛。而使五行無克。誠育嬰之秘旨。保赤之弘功也。乃有迂視斯術。以為鮮當。譬如急慢驚風。牙關緊閉。雖有丹藥。無可如何。先視其病之所在。徐徐推醒。然後進藥。不致小兒受苦。則推拿一道。真能操造化奪天功矣。豈不神歟。然治當分六陰六陽。男左女右。外呼內應。三關取熱。六腑取涼。男子推上三關為熱為補。退下六腑為涼為瀉。女子推下三關為涼。推上六腑為熱。男順女逆。進退之方。須要熟審。凡沉迷霍亂。口眼歪斜。手足掣跳。驚風嘔吐。種種雜症。要而言之。止有四症。四症分為八候。八候變為二十四驚。陽掌十八穴。陰掌九穴。筋看三關。功效十二。驚有緩急生死之症。法有捏推拿做之功。先須尋筋推察。次用燈火按穴而行。審病針灸。對症投湯。無不隨手而應。毋偏己見。毋作聰明。因症次第。分別而施。此為不傳之秘訣也。留心救世者。曷慎勉旃。</p>

<h2>指南賦</h2>
<p>保嬰一術。號曰啞科。口不能言。脈無可視。惟形色以為憑。竭心思而施治。故業擅於專門。以補化工不及。欲知其病。必觀乎色。左頰青龍屬肝。右頰白虎屬肺。天庭高而離陽心火。地閣低而坎陰腎水。鼻在面中。脾應唇際。觀乎色之所見。知其病之所起。舌乃心之苗。目為肝之液。胃流注於兩頤。腎通竅於兩耳。爪則筋余。而脾為之運。發乃血餘。而腎為之主。脾司手足。腎運牙齒。苟本臟之或衰。即所屬之失憊。能觀乎外。可知其內。紅光見而熱痰壅盛。青色露而驚癇怔悸。如煤之黑兮。中惡傳逆。似橘之黃兮。脾傷吐痢。白乃疳勞。紫為熱熾。青遮口角難醫。黑掩太陽莫治。年壽赤光。多生膿血。山根青黑。頻見災危。朱雀貫於雙瞳。火入水鄉。青龍繞於四白。肝乘脾部。瀉痢而面赤者須防。咳嗽而色青者可畏。面青而唇口撮。疼痛方殷。面赤而目竄視。驚搐將至。火光焰焰外感風寒。金氣浮上。中藏積滯。乍白乍黃。疳熱連綿。又赤又青。風邪緊急。氣乏兮囟陷成坑。血衰兮頭毛作穗。脾冷則口角流涎。肝熱則目生眵淚。面目虛浮。定腹脹而氣喘。眉毛頻蹙。必腹痛而多啼。風氣二池如黃土。則為不宜。左右兩頰似青黛。即成客忤。風門黑主疝而青主驚。方廣昏暗凶而光滑吉。手如數物兮肝風將發。面若塗朱兮心火實炎。伸縮就冷。陽熱無疑。坐臥愛暖。陰寒可必。肚大腳細。脾欲困而成疳。目瞪口張。勢已危而必斃。察之若精。治必得理。鴉聲魚口。枉費神思。肉脫皮乾。神勞氣乏。蛔出兮脾胃將敗。唇冷兮臟肺先虧。然五體以頭為尊。一面惟神可恃。況乎聲有輕重之不同。啼有乾溼之頓異。病之初作。必先呵欠。火之將發。忽作驚啼。重舌木舌。熱積心脾。哽氣喘氣。火傷肝肺。齒齦宣露牙疳。丁奚哺露食積。心熱欲睡而不能。脾熱好睡而不歇。咳嗽失音者肺痿。病後失音者腎怯。腹痛而口流清水者蟲多。瀉痢而大便酸臭者食積。口頻撮而脾虛。舌長伸而心熱。煩熱在心。惡見燈光。疳熱在脾。愛吃泥土。雞胸兮肺火脹於胸膈。龜背兮腎風入於骨髓。鼻乾黑燥。金受水刑。肚大青筋。土遭木克。丹瘤瘡疥。皆胎毒之留連。五疳瀉痢。總食積之停滯。腹痛寒侵。口瘡熱熾。臍風忌於一臘。變蒸防於周年。驚自熱來。癇由痰至。驚本心生。風從肝使。急驚屬熱。宜乎清涼。慢驚屬虛。宜於補治。痘曰天瘡。疹曰麻子。痘屬五臟。疹屬六腑。疹宜清涼。痘宜溫補。先明陰陽。次識臟腑。補瀉得宜。治有何誤。貴臨機之通變。毋執一之成模。</p>

<h2>入門察色</h2>
<p>五行多在面。吉凶要觀形。赤紅多積熱。風生肝膽驚。面黃多食積。唇白是寒侵。青黑眉間出。黃粱夢裡人。五聲由肺出。肺絕哭無聲。氣短咽喉塞。喘多醫者驚。啞聲熱不退。腹痛冷相侵。聽罷知虛實。存知在耳鳴。小兒無脈診。吉凶虎口憑。</p>
<p>面部氣色。為十二經總現之處。而五位色青者。驚積不散。欲發風候。五位色紅者。傷寒痰積壅盛。驚悸不寧。五位色黃者。食積癥瘕。疳候痞癖。五位色白者。脈氣不實。滑泄吐痢。五位色黑者。臟腑欲絕。為疾危惡候。面青眼青。肝之病也。面赤唇紅。心之病也。面黃鼻黃。脾之病也。面頰白色。肺之病也。五臟各有所生。細探其色。即知表裡虛實。稟賦盈虧。其補瀉寒熱之法。誠大彰明較著也。</p>

<h2>五視法</h2>
<p>凡視小兒神氣脈色有五。一視兩目。二聽聲者。三視囟門。四視形貌。五視毛髮。但此五者。雖不能全。若得兩目精神。聲音響亮。十可保其六七耳。</p>
<p>一視兩目。夫兩目乃五臟精華所聚。一身精氣所萃。若睛珠黑光滿輪。精神明快。兒必長壽。雖然加病。亦易痊愈。若白珠多。黑珠昏朦。睛珠或黃或小。精神昏懶。此父母先天之氣薄弱。稟受既虧。兒多災患也。</p>
<p>二聽聲音。凡小兒聲音大而響亮。乃五臟六腑氣血充盈。兒必易長成人。如生來不曾大聲啼哭。此必有一臟陰竅之未通。神氣之未足。或聲如啾唧咿唔之狀。此兒不壽必矣。</p>
<p>三視囟門。蓋兒前囟門乃稟母血而充。後囟門乃受父精而實。若前後囟門充實。其兒必壽。如父之精氣不足。耽嗜酒色。令兒後囟空虛不實。如母之原稟不足。血弱病多。令兒前囟虛軟不堅。多生疾病。如父母氣血俱不足。其兒必夭。若此。則其父母亦不能保其天年耳。前囟即道家所謂泥丸宮。後囟即腦後頂門中。名曰百會。前後囟門俱不合。名曰解顱。</p>
<p>四視形貌。凡兒口大鼻端。眉清目秀。五嶽相朝。部位相等。此乃福壽之基。一生無疾。如口小鼻喎。眉心促皺。皮膚澀滯。雖無病而終夭。設或不夭。而終貧賤也。</p>
<p>五視毛髮。夫毛髮受母血而成。故名血餘也。母血充實。兒發則色黑而光潤。母血虛弱。或胎漏敗墮。或縱酒多淫。兒發必黃稿焦枯。或生疳痍之患。壽亦不長之兆也。</p>

<h2>面上諸穴歌</h2>
<p>心屬火兮居額上。肝主左頰肺右向。腎水在下頦所司。脾唇上下準頭相。</p>
<p>肝青心赤肺病白。腎黑脾黃不須惑。參之元氣實與虛。補瀉分明稱神術。</p>
<p>額上青紋因受驚。忽然灰白命逡巡。何如早早求靈藥。莫使根源漸漸深。</p>
<p>印堂青色受人驚。紅白皆緣水火侵。若要安然無疾病。鎮驚清熱即安寧。</p>
<p>年壽微黃為正色。若平更陷夭難禁。忽然痢疾黑危候。霍亂吐瀉黃色深。</p>
<figure>
<img data-orig-src="urn:270:03683.jpg" alt="正面諸穴圖">
</figure>
<figure>
<img data-orig-src="urn:270:03684.jpg" alt="背面穴圖">
</figure>
<p>鼻頭無病要微黃。黃甚長憂入死鄉。黑色必當煩躁死。靈丹何必救其殃。</p>
<p>兩眉青者斯為吉。霍亂才生黃有餘。煩躁夜啼紅色見。紫由風熱赤還殂。</p>
<p>兩眼根源本屬肝。黑瞳黃色是傷寒。珠黃痰積紅為熱。黑白分明仔細看。</p>
<p>太陽青色始方驚。赤主傷寒紅主淋。要識小兒疾病篤。青筋直向耳中生。</p>
<p>風氣二池黃吐逆。若黃青色定為風。驚啼煩躁紅為驗。兩手如蓮客熱攻。</p>
<p>兩頰赤色心肝熱。多哭多啼無休歇。明醫見此不須憂。一服清涼便怡悅。</p>
<p>兩顴微紅虛熱生。紅赤熱甚痰積停。色青脾受風邪症。青黑脾風藥不靈。</p>
<p>兩腮青色作蟲醫。黃色須知是滯頤。金匱之紋青若見。遭驚多次不須疑。</p>
<p>承漿黃色食時驚。赤主驚風所感形。吐逆色黃紅則痢。要須仔細與推尋。</p>

<h2>小兒無患歌</h2>
<p>孩兒常體貌。情態喜安然。鼻內無清涕。喉中絕沒涎。頭如青黛染。唇似點朱鮮。臉芳花映竹。頰綻水浮蓮。喜引方才笑。非時口不宣。縱哭無多哭。雖眠不久眠。意同波浪靜。情若鏡中天。此上多安吉。何愁疾病纏。</p>

<h2>調護歌</h2>
<p>養子須調護。看承莫縱馳。乳多終損胃。食壅即傷脾。衾厚非為益。衣單正所宜。無風頻見日。寒暑順天時。</p>

<h2>入門候歌</h2>
<p>五指梢頭冷。驚來不可當。若逢中指熱。必定是傷寒。中指獨是冷。麻痘症相傳。男左女右手。分明仔細詳。初起寅關淺。紋侵過卯深。生枝終不治。辰泣命難存。</p>

<h2>入門試法</h2>
<p>男左女右。看關文時。即掏中指節。舌出者死。吸而痛者生。如久不醒。掏中指。咬崑崙穴。</p>
<figure>
<img data-orig-src="urn:270:03685.jpg" alt="虎口三關圖">
</figure>
<p><u>虎口叉手處是也</u></p>
<p><u>三關第二指仄是也</u></p>
<p><u>風關第一節寅位</u></p>
<p><u>氣關第二節卯位</u></p>
<p><u>命關第三節辰位</u></p>

<h2>四十九脈圖解</h2>
<figure>
<img data-orig-src="urn:270:03686.jpg" alt="圖">
</figure>
<p><u>流珠形。主夾食膈熱。三焦不和。氣不順。飲食欲吐或瀉。腸鳴自利。煩躁啼哭。</u></p>
<figure>
<img data-orig-src="urn:270:03687.jpg" alt="圖">
</figure>
<p><u>環珠形。主氣不和。脾胃虛弱。飲食傷滯。心腹膨脹。煩悶作熱。</u></p>
<figure>
<img data-orig-src="urn:270:03688.jpg" alt="圖">
</figure>
<p><u>長珠形。主夾積食。肚腹疼痛。或發寒熱。脅肋膨脹。飲食不化。蟲動不安。</u></p>
<figure>
<img data-orig-src="urn:270:03689.jpg" alt="圖">
</figure>
<p><u>來蛇形。主中脘不和。積氣攻敕。飲食不下。疳氣欲傳。臟腑不寧。膨滿乾嘔。</u></p>
<figure>
<img data-orig-src="urn:270:03690.jpg" alt="圖">
</figure>
<p><u>去蛇形。主脾胃虛弱。食積吐瀉。煩躁氣粗。渴煩喘息。飲食不化。神困多睡。</u></p>
<figure>
<img data-orig-src="urn:270:03691.jpg" alt="圖">
</figure>
<p><u>弓反外形。主痰熱心神不寧。睡臥不穩。身體作熱。夾驚夾食。風癇等症。</u></p>
<figure>
<img data-orig-src="urn:270:03692.jpg" alt="圖">
</figure>
<p><u>弓反里形。主感受寒邪。頭目昏重。心神驚悸。沉默倦怠。四指梢冷。咳嗽多痰。小便赤色。</u></p>
<figure>
<img data-orig-src="urn:270:03693.jpg" alt="圖">
</figure>
<p><u>槍形。主邪熱痰盛。精神恍惚。睡不安穩。生風發搐。驚風傳受。</u></p>
<figure>
<img data-orig-src="urn:270:03694.jpg" alt="圖">
</figure>
<p><u>魚骨形。主驚風痰熱症候。速宜截風化痰。利驚退熱。若失於治。必變他症。</u></p>
<figure>
<img data-orig-src="urn:270:03695.jpg" alt="圖">
</figure>
<p><u>水字形。在風關主驚風入肺。咳嗽面赤。氣關主膈有虛涎。虛積停滯。命關主驚風。疳疾危篤。</u></p>
<figure>
<img data-orig-src="urn:270:03696.jpg" alt="圖">
</figure>
<p><u>針形。在風關青黑色主水驚。氣關赤色主疳積。命關有此五色者。及通度三關。主急慢驚風難治。</u></p>
<figure>
<img data-orig-src="urn:270:03697.jpg" alt="圖">
</figure>
<p><u>透關射指形。主驚風痰熱四症。皆聚胸膈而不散。其候雖重。症順則可治療。</u></p>
<figure>
<img data-orig-src="urn:270:03698.jpg" alt="圖">
</figure>
<p><u>透關射甲形。主驚風惡候。傳入經絡。則風熱發生。併入八候。虛痰壅塞。危急之症。最難療治。</u></p>
<figure>
<img data-orig-src="urn:270:03699.jpg" alt="圖">
</figure>
<p><u>脈如亂絲。主腹中冷瀉。唇色青白。手足似冰。虛生驚跳。</u></p>
<figure>
<img data-orig-src="urn:270:03700.jpg" alt="圖">
</figure>
<p><u>形如蛇尾。色紫紅。主驚食傷脾。又夾風寒。頭面胸腹。溫溫作熱。</u></p>
<figure>
<img data-orig-src="urn:270:03701.jpg" alt="圖">
</figure>
<p><u>此脈須知是風脈。</u></p>
<figure>
<img data-orig-src="urn:270:03702.jpg" alt="圖">
</figure>
<p><u>此脈方知是氣脈。</u></p>
<figure>
<img data-orig-src="urn:270:03703.jpg" alt="圖">
</figure>
<p><u>此形在風關主疳積病。</u></p>
<figure>
<img data-orig-src="urn:270:03704.jpg" alt="圖">
</figure>
<p><u>主驚風氣傷寒。</u></p>
<figure>
<img data-orig-src="urn:270:03705.jpg" alt="圖">
</figure>
<p><u>此形如環。見風關。主肝臟疳有積聚。氣關主疳入胃。吐逆不治。命關無藥可治。</u></p>
<figure>
<img data-orig-src="urn:270:03706.jpg" alt="圖">
</figure>
<p><u>此紋若在風氣二關易治。命關通度難治。</u></p>
<figure>
<img data-orig-src="urn:270:03707.jpg" alt="圖">
</figure>
<p><u>曲向里者是氣疳。</u></p>
<figure>
<img data-orig-src="urn:270:03708.jpg" alt="圖">
</figure>
<p><u>曲向外者是風疳。</u></p>
<figure>
<img data-orig-src="urn:270:03709.jpg" alt="圖">
</figure>
<p><u>腳斜向右。是傷寒身熱。不食無汗。</u></p>
<figure>
<img data-orig-src="urn:270:03710.jpg" alt="圖">
</figure>
<p><u>腳斜向左。是傷風身熱。不食有汗。</u></p>
<figure>
<img data-orig-src="urn:270:03711.jpg" alt="圖">
</figure>
<p><u>雙鉤脈者。即是傷寒。</u></p>
<figure>
<img data-orig-src="urn:270:03712.jpg" alt="圖">
</figure>
<p><u>三曲如長蟲者。是傷哽物。</u></p>
<figure>
<img data-orig-src="urn:270:03713.jpg" alt="圖">
</figure>
<p><u>此形如環有腳者。是傷食。</u></p>
<figure>
<img data-orig-src="urn:270:03714.jpg" alt="圖">
</figure>
<p><u>三槍形主疳積候。</u></p>
<figure>
<img data-orig-src="urn:270:03715.jpg" alt="圖">
</figure>
<p><u>脈形如鷗飛主驚風。</u></p>
<figure>
<img data-orig-src="urn:270:03716.jpg" alt="圖">
</figure>
<p><u>此形主中焦熱病。</u></p>
<figure>
<img data-orig-src="urn:270:03717.jpg" alt="圖">
</figure>
<p><u>如形兩曲交連者。主風候。</u></p>
<figure>
<img data-orig-src="urn:270:03718.jpg" alt="圖">
</figure>
<p><u>世人要識傷冷證。三突西兮三凸東。</u></p>
<figure>
<img data-orig-src="urn:270:03719.jpg" alt="圖">
</figure>
<p><u>此形主耳鼻冷瘡疳蟲。</u></p>
<figure>
<img data-orig-src="urn:270:03720.jpg" alt="圖">
</figure>
<p><u>兩脈皆曲主蛔蟲。</u></p>
<figure>
<img data-orig-src="urn:270:03721.jpg" alt="圖">
</figure>
<p><u>中央大。兩頭尖紅色者。主驚風發熱。若透三關。主無辜疳疾必死。</u></p>
<figure>
<img data-orig-src="urn:270:03722.jpg" alt="圖">
</figure>
<p><u>頭小尾大黃色者。主硬物傷胃。壯熱眼閉或驚吊。</u></p>
<figure>
<img data-orig-src="urn:270:03723.jpg" alt="圖">
</figure>
<p><u>紅色在節中間通直者。主驚風發搐。一頭紅一頭白者順。</u></p>
<figure>
<img data-orig-src="urn:270:03724.jpg" alt="圖">
</figure>
<p><u>紫色至關乃是疳。必死。</u></p>
<figure>
<img data-orig-src="urn:270:03725.jpg" alt="圖">
</figure>
<p><u>上紅下白。名為火光。火剋金也。周關及遇五行相剋者必死。</u></p>
<figure>
<img data-orig-src="urn:270:03726.jpg" alt="圖">
</figure>
<p><u>此形如曲蟲。在風關。三疳積聚。胞高肚大。氣關主大腸穢積。命關主心臟傳肝。難治。</u></p>
<figure>
<img data-orig-src="urn:270:03727.jpg" alt="圖">
</figure>
<p><u>凡脈不見。虎口如雲塵色者。是客忤鬼祟之脈。宜求神禳之。脈見大小不均。定主有凶。</u></p>
<figure>
<img data-orig-src="urn:270:03728.jpg" alt="圖">
</figure>
<p><u>三曲透命關。主驚風死。</u></p>
<figure>
<img data-orig-src="urn:270:03729.jpg" alt="圖">
</figure>
<p><u>此形在風關。主肝臟疳積。氣關主脾冷吐逆。不治。命關必死。</u></p>
<figure>
<img data-orig-src="urn:270:03730.jpg" alt="圖">
</figure>
<p><u>此形見關中或手上或面部。皆死候也。</u></p>
<figure>
<img data-orig-src="urn:270:03731.jpg" alt="圖">
</figure>
<p><u>此形如亂蟲。主疳食積。亦有必死之候。</u></p>
<figure>
<img data-orig-src="urn:270:03732.jpg" alt="圖">
</figure>
<p><u>此形見風關青色易治。是初驚候。黑色難治。在氣關青色。主疳勞身熱。命關青色。主虛風和傳脾。難治。</u></p>
<figure>
<img data-orig-src="urn:270:03733.jpg" alt="圖">
</figure>
<p><u>風關如乙字形。主肝臟驚風。易治。氣關如乙字形。主驚風。命關如乙字。青黑色難治。</u></p>
<figure>
<img data-orig-src="urn:270:03734.jpg" alt="圖">
</figure>
<p><u>主驚風。其狀或單或雙。逆來。</u></p>

<h2>詳解脈紋</h2>
<p>流珠只一點紅色。環珠其形差大。長珠其形圓長。以上非謂圈子。總皆紅脈貫氣之如此。來蛇即是長珠散長。一頭大一頭尖。去蛇亦如此。乃分其上下朝。故曰去來。角弓反張。向里為順。向外為逆。槍形直上。魚骨分開。水字即三脈並行。針形即過關一二粒米許。射甲命脈射外。透指命脈曲內。四十九位。悉有輕重。自微至著。輕重參詳。色有五者。黃紅紫青黑也。其病盛色能加變。黃盛即越黃紅之色。紅盛作紫。又成紅紫之色。紫盛作青。又有青紫之色。青盛作黑。又有青黑之色。至於純黑之色。不可得而治之也。</p>

<h2>辨色歌</h2>
<p>紫色紅傷寒。青驚白色疳。黑紋因中惡。黃色困脾端。</p>

<h2>五指冷熱歌</h2>
<p>入門須辨嬰兒性。男左女右分明認。五指若還冷似冰。此是驚風來得盛。五指心口熱似火。夾食傷寒風邪症。食中名指熱風寒。食中名冷吐瀉定。中指熱兮是傷寒。中指冷兮麻痘認。食指熱兮上身燒。食指冷兮上膈悶。中名熱兮夾驚風。中名冷兮傷食症。</p>

<h2>審候歌</h2>
<p>囟門八字病非常。驚透三關命不長。初關乍入驚微病。次節相侵亦可防。筋赤熱兮因食隔。筋青端被水風傷。筋黑卻因風水冷。紫筋兼被有陰陽。寒熱相均兼赤白。紅筋定是熱宜涼。重病不宜筋見白。筋白寒深可救忙。筋連大指陰寒症。筋若生花定不祥。筋帶懸針主吐瀉。筋紋關外命非常。四肢癱冷腹膨脹。吐瀉多因乳食傷。魚口鴉聲因氣急。犬吠人喝受驚狂。膀胱澇病真難認。天心一點徹膀胱。口噫心噦並氣吼。指冷昏沉命莫當。口中氣喘並氣急。眼翻手掣可推慌。鼻乾嘴黑筋見影。牙黃口白眼睛光。聲氣改時顏不改。手舞足蹈語顛狂。兩手亂抓如雞爪。目睛不動眼如羊。疳論上下須憑灸。大抵橫紋是痊方。天心穴上分高下。更須心細別陰陽。如此孩提筋不好。命去南柯大路旁。小兒若犯宜推早。如是推遲命必亡。病重須憑燈心斷。病輕手法亦宜良。神仙留下真方法。後學能遵名姓揚。</p>

<h2>脈法歌</h2>
<p>小兒六歲須憑脈。一指三關定數息。遲冷數熱古今傳。浮風沉積當先識。左手人迎主外邪。右手氣口主內疾。外邪風寒暑濕侵。內候乳食痰兼積。浮緊無汗是傷寒。浮緩傷風有汗液。浮而洪大風熱盛。沉而細滑乳食積。沉緊腹中痛不休。沉弦喉間作喘急。緊促之時疹痘生。緊數之際驚風疾。虛軟慢驚作瘛瘲。緊盛風癇發搐掣。軟而細者為疳蟲。牢而實者必便結。滑主痰壅食所傷。芤脈必主於失血。虛而有氣為之驚。弦急客忤君須識。大小不勻為惡候。三至為脫二至卒。五至為虛四至損。六至平和曰無疾。七至八至病猶輕。九至十至病勢極。十一二至死無疑。此訣萬中無一失。</p>
<p>凡小兒三歲以上。乃用一指按寸關尺三部。常以六七至為平脈。添則為熱。減則為寒。洪浮風盛。數則多驚。沉滯為虛。沉實為積。</p>

<h2>聞小兒聲音</h2>
<p>心主聲從肺出。肺絕啼哭無聲。多啼肝膽客風驚。氣緩神疲搐盛。音啞邪熱侮肺。聲清毒火無侵。鴉聲瘛瘲候非禎。相剋必歸泉冥。</p>
<p>直聲往來而無淚者是痛。連聲不絕而多淚者是驚。茲燕煩躁者難愈。疏促聲音者感寒。</p>

<h2>辨小兒五音</h2>
<p>五音以應五臟。金聲響。土聲濁。木聲長。水聲清。火聲燥。肝病聲悲。肺病聲促。心病聲雄。脾病聲慢。腎病聲沉。大腸病聲長。小腸病聲短。胃病聲速。脾病聲清。膀胱病聲微。聲輕者氣弱也。重濁者痛與風也。高聲者熱欲狂也。聲噎者氣不順也。喘者氣促也。聲急者驚也。聲塞者痰也。聲戰者寒也。聲濁沉靜者疳積也。噴嚏者傷風也。呵欠者神倦也。聲沉不響者。病勢危也。如生來不大啼哭。聲啾唧者夭也。既能識其聲音。又常辨其氣色。即知其病之根源矣。</p>
<p>為醫固難。及幼尤難。故醫者診視小兒之證。倘色脈精切。則死生可判。若因恐觸病家之諱。猶豫其說。不吐真情。稍有差池。必遭其怨。與其受怨於後。孰若告之於先。縱有危難。夫復何怨。昔扁鵲見桓侯曰。疾在腠理。不治將深。桓侯不信。復見曰。疾在骨髓。雖司命無如之何。後果弗起。學者於此觸類究心。斯有得於扁鵲之妙旨。</p>
<figure>
<img data-orig-src="urn:270:03735.jpg" alt="陽掌圖">
</figure>
<p><u>五指甲倫為十王穴</u></p>

<h2>陽掌十八穴療病訣</h2>
<p>脾土　補之省人事。清之進飲食。</p>
<p>肝木　推側虎口。止赤白痢水泄。退肝膽之火。</p>
<p>心火　推之退熱發汗。掏之通利小便。</p>
<p>肺金　推之止咳化痰。性主溫和。</p>
<p>腎水　推之退臟腑之熱。清小便之赤。如小便短。又宜補之。</p>
<p>運五經　運動五臟之氣。開咽喉。治肚響氣吼。泄瀉之症。</p>
<p>運八卦　開胸化痰除氣悶。吐乳食。有九重三輕之法。詳見區內。</p>
<p>四橫紋　掏之退臟腑之熱。止肚痛。退口眼歪斜。</p>
<p>小橫紋　掏之退熱除煩。治口唇破爛。</p>
<p>運水入土　身弱肚起青筋。為水盛土枯。推以潤之。</p>
<p>運土入水　丹田作脹眼睜。為土盛水枯。推以滋之。</p>
<p>內勞宮　屬火。揉之發汗。</p>
<p>小天心　揉之清腎水。</p>
<p>𦙀門　揉之除氣吼肚脹。</p>
<p>天門入虎口　推之和氣。生血生氣。</p>
<p>指上三關　推之通血氣發汗。</p>
<p>中指節　推內則熱。推外則瀉。</p>
<p>十王穴　掏之則能退熱。</p>
<figure>
<img data-orig-src="urn:270:03736.jpg" alt="陰掌圖">
</figure>

<h2>陰掌九穴療病訣</h2>
<p>五指節　掏之去風化痰。甦醒人事。通關膈閉塞。</p>
<p>一窩風　掏之止肚疼。發汗去風熱。</p>
<p>威寧　掏之能救急驚卒死。揉之即能甦醒。</p>
<p>三扇門　掏之屬火。發臟腑之熱。能出汗。</p>
<p>外勞宮　揉之和五臟潮熱。左清涼。右轉溫熱。</p>
<p>二人上馬　掏之蘇胃氣。起沉疴。左轉生涼。右轉生熱。</p>
<p>外八卦　性涼。除臟腑秘結。通血脈。</p>
<p>甘載　掏之能拯危症。能祛鬼祟。</p>
<p>精寧　掏之能治風哮。消痰食痞積。</p>

<h2>附臂上五穴療病訣</h2>
<p>大陵　掏之主吐。</p>
<p>陽池　掏之主瀉。</p>
<p>分陰陽　除寒熱泄瀉。</p>
<p>天河水　推之清心經煩熱。如吐宜多運。</p>
<p>三關　男左三關推發汗。退下六腑謂之涼。女右六腑推上涼。退下三關謂之熱。</p>
<figure>
<img data-orig-src="urn:270:03737.jpg" alt="足部圖">
</figure>

<h2>足部十三穴療病訣</h2>
<p>臍上　運之治肚脹氣響。如症重則周圍用燈火四燋。</p>
<p>龜尾　揉之止赤白痢泄瀉之症。</p>
<p>三里　揉之治麻木頑痹。○行澗穴同功。</p>
<p>委中　掏之治往前跌撲昏悶。</p>
<p>內庭　掏之治往後跌撲昏悶。</p>
<p>大沖　掏之治危急之症。舌吐者不治。</p>
<p>大敦　掏之爪。驚不止。將大指屈而掏之。</p>
<p>湧泉　揉之左轉止吐。右轉止瀉。</p>
<p>崑崙　灸之治急慢驚風危急等症。咬之叫則治。不叫不治。</p>
<p>前承山　掏之治驚來急速者。○子母穴同功。</p>
<p>後承山　揉之治氣吼發汗。</p>

<h2>推法</h2>
<p>一推坎宮。自眉心分過兩旁。二推攢竹。自眉心交互直上。三運太陽。往耳轉為瀉。往眼轉為補。四運耳背高骨。推後掏之。大指並掏。一聽會。二風門。三太陽。四在額。五以一指獨掏天心下。而後高骨耳珠人中承漿。俱不必太重。此面部常用不易者。舉諸般驚症傷寒瘧痢。俱不可少。如過久病瘦弱。多汗痢疾。推而不掏為是。由是推手必先從三關。悉從指尖上起也。而亦重虎口併合谷。而不知補脾胃培一身之根本。分陰陽分一身之寒熱。亦不可緩焉。運八卦。涼則多補。熱則多瀉。分陰陽。陽則宜重。陰則宜輕。若夫五臟六腑如咳嗽推肺。煩躁推心之類。豈可一概而混施哉。總在人心因病舉指。用舍變通耳。由是推腳宜運崑崙。以四指圍而掏之。倘熱急吼喘。即諸穴未推之先。在承山推下數遍為妙。其餘亦在人審症。不悉。</p>

<h2>拿法</h2>
<p>太陽二穴屬陽明。起手拿之定醒神。耳背穴原從腎管。驚風痰吐一齊行。肩井肺經能發汗。脫肛痔漏總能遵。及至奶旁尤屬胃。去風止吐力非輕。曲池脾經能定搐。有風有積也相應。肚痛太陰脾胃絡。肚疼泄瀉任拿停。下部四肢百蟲穴。調積手足止諸驚。肩上琵琶肝臟絡。本宮壯熱又清神。合谷穴原連虎口。通關開竅解昏沉。魚肚腳脛抽骨處。醒神止瀉少陽經。莫道膀胱無大助。兩般閉結要他清。十二三陰交穴盡。疏通血脈自均勻。記得急驚從上起。慢驚從下上而行。此是神仙真妙訣。須教配合要知音。天吊眼唇都向上。琵琶穴上配三陰。先走百蟲穴走馬。通關之後降痰行。角弓反張人驚怕。十二驚中急早針。肩井頰車施莫奪。荊湯調水服千金。此後男人從左刺。女人反此右邊針。生死入門何處斷。指頭中甲掏知音。此是小兒真妙訣。更於三部看何驚。</p>

<h2>又拿法</h2>
<figure>
<img data-orig-src="urn:270:03738.jpg" alt="正形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03739.jpg" alt="背形圖">
</figure>
<p>要他發汗如何說。只在三關用手訣。要掏心經與勞宮。熱汗立至何愁些。不然重掏二扇門。大如霖雨無休歇。右治彌盛並水瀉。重掏大腸經一節。側推虎口見工夫。再推陰陽分寒熱。若問男女咳嗽多。要知肺經多推說。離宮推起乾宮止。中間只許輕輕捏。一運八卦開胸膈。四推橫紋和氣血。五臟六腑氣來閉。運動五經開其塞。飲食不進人著嚇。推動脾土即吃得。飲食若減人瘦弱。該補脾土何須說。若還小便兼赤白。小橫紋與腎水節。往上而推為之涼。往下而推為之熱。小兒如著風水嚇。推動五經手指節。先運八卦後揉之。自然平息風關脈。大便閉塞久不通。皆因六腑多受熱。小橫紋上用手工。揉掏腎水下一節。口吐熱氣心經熱。只要天河水清切。總上掏到往下推。萬病之中都用得。若還遍身不退熱。外勞宮揉掏多些。不問大熱與大潮。只消水裡撈明月。天河虎口𦙒肘穴。重揉順氣又生血。黃蜂入洞寒陰症。冷痰冷咳都治得。陽池穴上止頭疼。一窩風治肚痛疾。威靈穴救卒暴死。精寧穴治咳噦逆。男女眼若睜上去。重揉大小天心穴。二人上馬補腎水。管教甦醒在頃刻。飲食不進並咳嗽。九轉三回有定穴。運動八卦分陰陽。離坎乾震有分別。腎水一紋是後谿。推上為補下為泄。小便閉塞清之妙。腎經虛便補為捷。六腑專治臟腑熱。遍身寒熱大便結。人事昏沉總可推。去病渾如湯沃雪。總筋天河水除熱。口中熱氣並弄舌。心經積熱眼赤紅。推之即好真口訣。四橫紋和上下氣。吼氣肚痛皆可止。五經能通臟腑熱。八卦開胸化痰逆。胸膈痞滿最為先。不是知音莫與訣。陰陽能除寒與熱。二便不通並水泄。人為昏沉痢疾攻。足見神功在頃刻。𦙀門專治氣促攻。小腸諸氣快如風。男左三關推發汗。退下六腑冷如鐵。女右六腑推上涼。退下三關謂之熱。仙師留下救孩童。後學之人休輕泄。</p>

<h2>看額脈</h2>
<p>額脈三指熱感寒。俱冷吐瀉臟不安。食指若熱胸中滿。無名熱者乳消難。上熱下冷食中指。火驚名中指詳看。</p>
<p>額前眉上髮際以下。無名指中指食指三指按之俱熱者。外感寒邪。鼻塞氣粗。</p>
<p>小兒初生至半歲。俱看額脈。周歲以上看虎口三關。男五女六歲。方以一指分取寸關尺脈。</p>

<h2>推拿手部次第</h2>
<p>一推虎口三關。二推五指尖。三捻五指尖。四運掌心八卦。五分陰陽。六看寒熱推三關六腑。七看寒熱用十大手法而行。八運𦙒肘。</p>

<h2>推拿面部次第</h2>
<p>一推坎宮。二推攢竹穴。三運太陽。四運耳背高骨。（廿四下畢掏三十下）五掏承漿一下。六掏兩頰車一下。七掏兩聽會一下。八掏兩太陽一下。九掏眉心一下。十掏人中一下。</p>
<p>再用兩手提兒兩耳三下。此乃推拿不易之訣也。</p>
<figure>
<img data-orig-src="urn:270:03740.jpg" alt="正面五色圖">
</figure>
<p><u>面青肝色</u></p>
<p><u>面赤心色</u></p>
<p><u>面黃脾色</u></p>
<p><u>面白肺色</u></p>
<p><u>面黑腎色</u></p>
<figure>
<img data-orig-src="urn:270:03741.jpg" alt="推坎宮圖">
</figure>
<p><u>推坎宮。醫用兩大指。自小兒眉心分過兩旁是也。</u></p>
<figure>
<img data-orig-src="urn:270:03742.jpg" alt="推攢竹圖">
</figure>
<p><u>推攢竹。醫用兩大指。自兒眉心交互往上直推是也。</u></p>
<figure>
<img data-orig-src="urn:270:03743.jpg" alt="運太陽圖">
</figure>
<p><u>醫用兩大指運兒太陽。往耳轉為瀉。眼轉為補是也。</u></p>
<figure>
<img data-orig-src="urn:270:03744.jpg" alt="運耳背骨圖">
</figure>
<p><u>醫用兩手中指無名指。揉兒耳後高骨二十四下畢。掏三十。</u></p>
<figure>
<img data-orig-src="urn:270:03745.jpg" alt="雙鳳展翅圖">
</figure>
<p><u>雙鳳展翅</u>　醫用兩手中食二指。捏兒兩耳往上三提畢。次捏承漿。又次捏頰車及聽會太陰太陽眉心人中完。</p>
<figure>
<img data-orig-src="urn:270:03746.jpg" alt="推虎口三關圖">
</figure>
<p><u>風氣命為虎口三關。即寅卯辰位是也。小兒有疾。必須推之。乃不易之法。</u></p>
<figure>
<img data-orig-src="urn:270:03747.jpg" alt="男推左手三關六腑圖">
</figure>
<figure>
<img data-orig-src="urn:270:03748.jpg" alt="女推右手三關六腑圖">
</figure>
<figure>
<img data-orig-src="urn:270:03749.jpg" alt="運八卦圖">
</figure>
<p><u>運八卦法</u></p>
<p>醫用左手拿兒左手四指。掌心朝上。右手四指略托住小兒手背。以大指自乾起至震。四卦略重。又輕運七次。此為定魄。自巽起推兌四卦略重。又輕轉運七次。此為安魂。自坤推至坎四卦略重。又輕轉運七次。能退熱。自艮推起至離四卦略重。又輕七次能發汗。若咳嗽者。自離宮推起至乾四卦略重。又輕運七次。再坎離二宮直七次。為水火既濟也。</p>
<figure>
<img data-orig-src="urn:270:03750.jpg" alt="分陰陽圖">
</figure>
<p><u>分陰陽法</u></p>
<p>此法治寒熱不均。作寒作熱。將兒手掌向上。醫用兩手托住。將兩大指往外陰陽二穴分之。陽穴宜重分。陰穴宜輕分。但凡推病。此法不可少也。</p>
<figure>
<img data-orig-src="urn:270:03751.jpg" alt="推五經圖">
</figure>
<p><u>推五經法</u></p>
<p>五經者。即五指尖也。心肝脾肺腎也。如二三節即為六腑。醫用左手四指托兒手背。大指掏兒掌心。右手食指曲兒指尖。下大指蓋兒指尖。逐指推運。往上直為推。往右順運為補。往左逆運為瀉。先須往上直推過。次看兒之寒熱虛實。心肝肺指。或瀉或補。大指脾胃只宜多補。如熱甚可略瀉。如腎經或補或瀉或宜清。如清腎水。在指節上往下直退是也。</p>
<figure>
<img data-orig-src="urn:270:03752.jpg" alt="黃蜂入洞圖">
</figure>
<p><u>黃蜂入洞法</u></p>
<p>以兒左手掌向上。醫用兩手中名小三指托住。將兩大指在三關六腑之中。左食指靠腑。右食指靠關。中指傍揉。自總經起循環轉動至曲池邊。橫空三指。自下而復上。三四轉為妙。</p>
<figure>
<img data-orig-src="urn:270:03753.jpg" alt="蒼龍擺尾圖">
</figure>
<p><u>蒼龍擺尾法</u></p>
<p>醫右手一把。拿小兒左食中名三指。掌向上。醫左手側嘗從總經起。搓摩天河及至𦙒肘略重些。自𦙒肘又搓摩至總經。如此一上一下三四次。醫又將左大食中三指擔𦙒肘。醫右手前拿搖動九次。此法能退熱開胸。</p>
<figure>
<img data-orig-src="urn:270:03754.jpg" alt="二龍戲珠圖">
</figure>
<p><u>二龍戲珠法</u></p>
<p>此法性溫。醫將右大食中三指。捏兒肝肺二指。左大食中三指。捏兒陰陽二穴。往上一捏一捏。捏至曲池五次。熱症陰捏重而陽捏輕。寒症陽重而陰輕。再捏陰陽。將肝肺二指搖擺。二九三九是也。</p>
<figure>
<img data-orig-src="urn:270:03755.jpg" alt="赤鳳搖頭圖">
</figure>
<p><u>赤鳳搖頭法</u></p>
<p>法曰。將兒左掌向上。醫左手以食中指輕輕捏兒𦙒肘。醫大中食指先捏兒心指。即中指。朝上向外順搖二十四下。次捏腸指。即食指。仍搖二十四下。再捏脾指。即大指。二十四。又捏肺指。即無名指。二十四。末後捏腎指。即小指。二十四。男左女右。手向右外。即男順女逆也。再此即是運𦙒肘。先做各法完。後做此法。能通關順氣。不拘寒熱。必用之法也。</p>
<figure>
<img data-orig-src="urn:270:03756.jpg" alt="猿猴摘果圖">
</figure>
<p><u>猿猴摘果法</u></p>
<p>此法性溫。能治痰氣。除寒退熱。醫用左食中指。捏兒陽穴大指捏陰穴。寒症。醫將右大指從陽穴往上揉至曲池。轉下揉至陰穴。名轉陽過陰。熱症。從陰穴揉上至曲池。轉下揉至陽穴。名轉陰過陽。俱揉九次。陽穴即三關。陰穴即六腑也。揉畢。再將右大指掏兒心肝脾三指。各掏一下。各搖二十四下。寒症往裡搖。熱症往外搖。</p>
<figure>
<img data-orig-src="urn:270:03757.jpg" alt="鳳凰展翅圖">
</figure>
<p><u>鳳凰展翅法</u></p>
<p>此法性溫治涼。醫用兩手托兒手掌向上。於總上些。又用兩手上四指在下兩邊爬開。二大指在上陰陽穴往兩邊爬開。兩大指在陰陽二穴。往兩邊向外搖二十四下。掏住捏緊一刻。醫左大食中三指側拿兒肘。手向下輕擺三四下。復用左手托兒𦙒肘上。右手托兒手背。大指掏住虎口。往上向外順搖二十四下。</p>
<figure>
<img data-orig-src="urn:270:03758.jpg" alt="飛經走氣圖">
</figure>
<p><u>飛經走氣法</u></p>
<p>此法性溫。醫用右手奉拿兒手四指不動。左手四指從腕曲池邊起。輪流跳至總上九次。復拿兒陰陽二穴。醫用右手向上。往外一伸一縮。傳逆其氣。徐徐過關是也。</p>
<figure>
<img data-orig-src="urn:270:03759.jpg" alt="按弦搓摩圖">
</figure>
<p><u>按弦搓摩法</u></p>
<p>醫用左手拿兒手拿向上。右手大食二指。自陽穴上輕輕按摩至曲池。又輕輕按摩至陰穴止。如此一上一下九次為止。陽症關輕腑重。陰症關重腑輕。再用兩手從曲池搓摩至關腑三四次。醫又將右大食中掏兒脾指。左大食中掏兒𦙒肘。往外搖二十四下。化痰是也。</p>
<figure>
<img data-orig-src="urn:270:03760.jpg" alt="水裡撈明月圖">
</figure>
<p><u>水裡撈明月法</u></p>
<p>法曰。以小兒掌向上。醫左手拿住右手。滴水一點於兒內勞宮。醫即用右手四指扇七下。再滴水於總經中。即是心經。又滴水天河。即關腑居中。醫口吹上四五口。將兒中指屈之。醫左大指掏住。醫右手捏卷將中指節。自總上按摩到曲池。橫空二指。如此四五次。在關踢涼行背上。在腑踢涼入心肌。此大涼之法。不可亂用。</p>
<figure>
<img data-orig-src="urn:270:03761.jpg" alt="打馬過天河圖">
</figure>
<p><u>打馬過天河法</u></p>
<p>此法性涼去熱。醫用左大指掏兒總筋。右大中指如彈琴。當河彈過曲池。彈九次。再將右大指掏兒肩井琵琶走馬三穴。掏下五次是也。</p>

<h2>臟腑歌</h2>
<p>心經有熱作癡迷。天河水過作洪池。心若有病補上膈。三關離火莫推遲。</p>
<p>退心經熱病。掏總筋。以天河水為主。推腎經。退六腑。推脾土。推肺經。運八卦。分陰陽。揉小天心。二人上馬。掏五指節。</p>
<p>肝經有病人閉目。推動脾土效最速。脾若熱時食不進。再加六腑病除速。</p>
<p>退肝之病。以脾土為主。運八卦坎重。推大腸。運五經。清天河水。飛經走氣。鳳凰單展翅。按弦走搓摩。脾經有病食不進。推動脾土效必應。心噦還應胃口涼。略推溫熱即相稱。</p>
<p>退脾土之病。以脾土為主。推三關。運八卦艮宮宜重。推肺經。分陰陽。推四橫紋。天門入虎口。揉𦙒肘。腎經有病小便澀。推動腎水即清澈。腎脈經傳小指尖。依方推掏無差忒。</p>
<p>退腎經之病。以腎經為主。推三關。退六腑。二人上馬。運八卦兌重。分陰陽。運水入土。打馬過天河。猿猴摘果。赤鳳搖頭。天門入虎口。揉𦙒肘。</p>
<p>胃經有病食不消。脾土大腸八卦調。妙訣神仙傳世上。千金手段不須饒。</p>
<p>退胃經之病。以脾土肺經為主。其法與脾經法同。加運八卦艮巽重。</p>
<p>大腸有病泄瀉多。可把大腸久按摩。調理陰陽皆順息。此身何處著沉疴。</p>
<p>退大腸之病。以大腸為主。運土入水。推脾土。運八卦艮乾重離輕。揉龜尾。臍。推肺經。推外間使。分陰陽。按弦搓摩。</p>
<p>小腸有病氣來攻。橫紋𦙀門推可通。用心記取精靈穴。管教卻病快如風。</p>
<p>退小腸之病。以橫紋𦙀門為主。揉精靈穴。推肺經。推脾土。</p>
<p>命門有病元氣虧。脾土大腸八卦推。再推命門何所止。推臨乾位免災危。</p>
<p>退命門之病。以脾土大腸八卦為主。推三關。分陰陽。推肺經。運土入水。天門入虎口。揉𦙒肘。飛經走氣。</p>
<p>三焦有病生寒熱。天河六腑神仙說。能知氣水解炎蒸。分別陰陽真妙訣。</p>
<p>退三焦之病。以天河六腑為主。揉小天心。推脾土。運八卦。運五經。掏五指節。按弦搓摩。天門入虎口。揉𦙒肘。</p>

<h1>卷中</h1>

<h2>胎毒</h2>
<p>初生小兒病症。許多名狀不同。馬牙鵝口與臍風。重舌木舌腫痛。啼哭夜間不已。丹瘍心火上攻。未曾滿月病多凶。好似風前燭弄。</p>
<p>夫胎毒者。乃自胎中受母熱血。故熱盛生痰。痰盛生風。風盛則口噤唇撮。胸腹脹滿。咽喉不利。乳食不進。初起則啼哭不已。病甚則啼哭無聲。蓋小兒血氣薄弱。不能制伏其毒。以致心火上炎。牙齦遍生白色。名曰馬牙。或上齶有白點。狀如粟米。名曰鵝口。或斷臍之後。風濕所傷。侵於心脾。以致不乳口撮。肚脹青筋。名曰臍風。致於胎毒上攻。舌下像有一舌。名曰重舌。舌腫如木。名曰木舌。又或胎熱臟寒。腹痛夜啼。客忤驚竄。或孕母過食辛熱。積熱於胎。遺熱於兒。血與熱相搏。而風邪乘之。遍身赤腫。名曰丹毒。其熱如火。痛癢難當。或發於頭面。或發於四肢胸背。俱宜急治。否則毒氣入腹。即難救矣。兒病初起。父母失於提防。或醫者誤投熱劑。往往莫救。殊為可憫。業斯術者。可不慎歟。</p>

<h2>臍風</h2>
<p>風邪早受入臍中。七日之間驗吉凶。若見腹疼臍濕爛。噤聲口撮是為風。</p>
<p>凡嬰孩始生一七之內。腹肚脹硬。臍畔四圍浮腫。口撮眉攢。牙關不開。名臍風證。乃因剪臍帶短。或結縛不緊。致水濕侵臍。客風乘虛而入。傳之於心。蘊蓄其邪。復傳脾絡。致舌強唇青。手足微搐。口噤不乳。啼聲似啞。喉中痰涎潮響。是其候也。</p>
<p>治法　推三關　肺經（各一百二十）　運八卦　脾土（各一百）　分陰陽</p>
<p>如口撮只用燈火。口角兩邊各一燋。左右虎口各一燋。兩小指四節各一燋。腦門四燋。如肚上青筋脹硬。臍周圍七燋。每筋上一燋。青筋開了處一燋。湧泉穴一燋。臍腫翻出。神脫氣冷者不治。</p>

<h2>重舌鵝口</h2>
<p>孩兒胎受諸邪熱。熱壅三焦作重舌。或成鵝口證堪憂。推掏還須針刺裂。</p>
<p>凡重舌生於舌下。挺露如舌。故曰重舌。然脾之絡脈系舌旁。肝之絡脈系舌本。心之絡脈系舌根。此三經或為濕熱風寒所中。則舌捲縮。或舒長。或腫滿。木舌者。舌腫硬而妨乳食。此為風熱盛也。蓋舌者心之苗。心熱則生瘡破裂。肝壅則血出如湧。脾閉則白胎如雲。熱則腫滿。風則強木。口合不開。四肢壯熱。氣喘語澀。即其候也。</p>
<p>治法　推三關　心經　脾經（各一百）　六腑　八卦　運水入土（五十）　分陰陽（二十四）　天河水</p>
<p>凡鵝口者。始生嬰孩。自一月內外。至半歲已上。忽口內白屑滿舌。則上齶戴礙。狀如鵝口。開而不合。語聲不出。乳食多艱。或生於牙齦上下。名曰馬牙。皆由熱毒上攻。名雖異治則一也。</p>
<p>治法　推三關　退六腑（各一百）　分陰陽　撈明月　打馬過天河</p>
<p>再用扁銀簪腳。將牙齦刮破出血。以軟絹拭淨。古墨塗之。</p>

<h2>夜啼</h2>
<p>夜啼四症驚為一。無淚見燈心熱煩。面容頰青臍下痛。睡中頓哭是神干。凡夜啼有四。有驚熱。有心熱。有寒疝。有誤觸神祇。而成夜啼。驚熱者。為衣衾太厚。過於溫暖。邪熱攻心。心與小腸為表裡。夜啼而遺溺者是也。心熱者。見燈愈啼是也。寒疝者。遇寒即啼是也。誤觸神祇者。面色紫黑。氣鬱如怒。若有恐懼。睡中驚跳是也。</p>
<p>治法　推三關（五十）　六腑（一百二十）　清心經（一百）　撈明月　分陰陽　掏膽經</p>
<p>如寒疝痛啼。宜運動四橫紋。揉臍並一窩風。</p>

<h2>驚風門</h2>
<p>胎驚潮熱與月家。臍風撮口對風拿。泄瀉嘔逆肚膨脹。盤腸乳食感風邪。馬啼鯽魚風寒唬。擔手原來是水邪。寒熱不均宿沙症。急慢內吊心脾邪。天吊彎弓肝腑病。蛇絲鷹爪及烏沙。烏鴉夜啼有他症。鎖心撒手火為邪。驚風症候須當識。妙手輕輕推散他。</p>
<p>夫小兒有熱。熱盛生驚。驚盛發搐。又盛則牙關緊急。而八候生焉。八候者。搐搦掣顫。反引竄視是也。搐者。兩手伸縮。搦者。十指開合。掣者。勢如相撲。顫者。頭偏不正。反者。身仰後向。引者。臂若開弓。竄者。目直似怒。視者。露睛不活。是謂八候也。其四症。即驚風痰熱是也。</p>
<p>胎驚。小兒初生下地。或軟或硬。目不開光。全不啼哭。人事不知。乃胎中受驚。名曰胎驚。</p>
<p>治法　三關（八十）　分陰陽（一百）　六腑（一百）　脾土（一百）　運五經（二十四）　飛經走氣　天門入虎口（二十）</p>

<h2>揉𦙒肘</h2>
<p>月家驚。小兒落地。眼紅口撮頭偏。左右手掏拳。哭聲不出。是胎中熱毒。或月內受風。痰湧心口。名曰月家驚。</p>
<p>治法　三關（二十四）　運八卦　四橫紋（五十）　雙龍擺尾　揉臍及龜尾（五十）　中指節　內勞宮　𦙀門掏之</p>
<p>青筋縫上燈火七燋。氣急臍上七燋。</p>
<p>潮熱驚。小兒身熱氣吼。口渴眼紅。四肢掣跳。傷食感寒而成。名曰潮熱驚。</p>
<p>治法　三關（一百）　肺經（一百）　分陰陽（一百）　推扇門（二十）　如出汗加六腑（一百）　清心經（一百二十）</p>

<h2>水裡撈明月</h2>
<p>臍風驚　治法見胎毒門臍風症。</p>
<p>嘔逆驚。肚響食嘔。四肢冷。人事昏。是胃經傷食受寒。名曰嘔逆驚。</p>
<p>治法　三關（一百）　肺經（一百）　脾土（一百）　分陰陽　運八卦　四橫紋（各五十）　飛經走氣　鳳凰單展翅</p>
<p>泄瀉驚。面青唇白。肚響作瀉。眼翻作渴。人事昏迷。四肢六腑有寒。乳食所傷。名曰泄瀉驚。</p>
<p>治法　推三關（一百）　分陰陽（一百）　大腸（一百二十）　脾土（二百）　二扇門（一十）　黃蜂入洞　揉臍及龜尾</p>

<h2>臍圍七燋</h2>
<p>膨脹驚。寒熱不均。氣喘眼白。飲食不進。青筋裹肚。肚腹脹瀉。名曰膨脹驚。皆因食後感寒。脾不能運。</p>
<p>治法　三關（二百）　肺經（五十）　脾土（二百）　運八卦　分陰陽（五十）　揉臍（一百）　精寧穴　按弦搓摩</p>
<p>鳳凰單展翅　用燈火肚上青筋四燋</p>
<p>盤腸驚。氣吼肚膨。飲食不進。人瘦體弱。肚起青筋。眼黃手軟。大小便不通。肚腹疼痛。名曰盤腸驚。此乃六腑有寒也。</p>
<p>治法　三關（一百）　脾土（一百）　大腸（二百）　運土入水（一百二十）　肺經（一百）　補腎水（一百）　揉臍及龜尾　臍周圍燈火七燋　再用艾絨炙熱一圍扎臍上</p>
<p>馬蹄驚。四肢亂舞頭向上。名曰馬蹄驚。此因受風熱被嚇之症也。</p>
<p>治法　三關（二百）　肺經（一百）　運八卦　脾土（一百）　天河水　大陽（十五）　飛經走氣　以燈火爆四肢肩膊喉下臍下各一燋。</p>
<p>鯽魚驚。口吐白沫。四肢擺動。嘴歪。常搭翻白眼。名曰鯽魚驚。此肺經有風。脾經有寒。</p>
<p>治法　三關（三百）　脾土（二百）　肺經（一百）　八卦　清天河　運水入土（五十）　五經（五十）　補腎水（二十）</p>
<p>掏五指節三次。按弦搓摩。口角上下燈火四燋。</p>
<p>擺手驚。兩眼向上。四肢反後。或兩手垂下。眼黃口黑。人事昏沉。此因水唬。掏之覺痛者治之。不痛不治。</p>
<p>治法　三關　肺經（各二百）　橫紋　天門　虎口　揉𦙒肘　運水入土　飛經走氣</p>
<p>宿沙驚。日輕夜重。到晚昏迷。口眼歪斜。四肢掣跳。口鼻氣冷。名曰宿沙驚。乃脾腎有寒之症也。</p>
<p>治法　三關　六腑（各一百）　四橫紋　運八卦　分陰陽　掏五指節　掏腎水　打馬過天河</p>
<p>急驚。口眼歪斜。四肢搐掣。痰壅心迷。人事不省。其狀如死。名曰急驚。乃肝經積熱。風火之症也。</p>
<p>治法　三關　六腑　腎水　天河　脾土（二百）　肺經　運五經　掏五指節　猿猴摘果　咬崑崙穴　推三陰穴（急驚從上往下）</p>
<p>慢驚。面青唇白。四肢厥冷。人事昏迷。手足搐掣。眼慢痰壅。名曰慢驚。由大病之餘。吐瀉之後。脾土虛敗。肝木無風而自動也。</p>
<p>治法　先掏老龍穴。有聲可治。無聲不可治。次用艾灸崑崙穴　推三關　肺經　腎水　八卦　脾土　掏五指節　運五經　運八卦　赤鳳搖頭　二龍戲珠　天門入虎口　用燈火手足心四燋　心上下三燋　推三陰穴（慢驚從下往上）</p>
<p>內吊驚。兩眼迷閉。哭聲不止。面青眼黃。手眼望內掣者。名曰內吊驚。乃肺經受寒症也。</p>
<p>治法　三關　肺經　睥土　腎水（各一百）　雙鳳展翅　按弦搓摩　再以竹瀝灌之。又以細茶飛鹽皂角各末五分。水一鍾。黃臘二分。鍋內溶化。入前末為餅。貼心窩即效。</p>
<p>天吊驚。眼向上。哭聲號。四肢掣。口眼歪斜。鼻流清水。或衄血。此乃肺驚受風。或食後感寒而成。名曰天吊驚。</p>
<p>治法　三關　脾土　陰陽（各一百）　天河　六腑　肺經　八卦　揉五指　重揉大小天心</p>
<p>又云。總筋青筋耳珠掏之。又將燈火臍上下提之。</p>
<p>彎弓驚。頭仰後。四肢向後。眼翻或閉。腹脹哭聲不止。此乃肺經受風積痰致也。名曰彎弓驚。</p>
<p>治法　三關　肺經　脾經　八卦　天河　重揉手腳彎內關中界　掏臍上下　青筋縫上喉下各三燋。又須重揉委中。書曰。手足後伸頭後仰。灸臍上下即安康。</p>
<p>蛇絲驚。口中拉舌。四肢冷而掣。哭聲不出。乃心經有熱。睡中食乳。口角入風。名曰蛇絲驚。</p>
<p>治法　三關　六腑　陰陽　八卦　天河　略推三關　多推腎水　如舌拉不止燈火胸前六燋</p>
<p>鷹爪驚。兩手爬人。捻拳咬牙。手往下。口往上。身寒戰。名曰鷹爪驚。此因被嚇傷乳。心有風熱也。</p>
<p>治法　三關　脾土　陰陽　八卦　又在大指左右手足三彎掏之。再用燈火爆手心太陽眉心腳心各一燋。</p>
<p>烏沙驚。四肢掣跳。口唇青黑。肚脹青筋。名曰烏沙驚。此乃臟腑受寒之症也。</p>
<p>治法　三關　肺經　八卦（宜多推運）　六腑　脾土（少推）　內勞宮　二扇門。再用燈火四心提之。肚上青筋縫上七燋。</p>
<p>烏鴉驚。手足掣跳。口眼俱閉。大叫一聲。形如死狀。名曰烏鴉驚。乃心有熱有痰。症類急驚是也。</p>
<p>治法　三關　肺經　六腑　天河水　撈明月　飛經走氣　脾土　若吐四心用燈火各一燋。</p>
<p>夜啼驚　治法見胎毒門。</p>
<p>鎖心驚。口吐沫。鼻流血。四肢軟。好吃冷物。眼白不哭。名曰鎖心驚。心肝經有熱。火盛痰壅之症也。</p>
<p>治法　三關　六腑　天河水　撈明月　分陰陽　運八卦　腎水　赤鳳搖頭</p>
<p>撒手驚。眼翻咬牙。手足一掣一死。名曰撒手驚。乃心經被風嚇。先寒後熱。有痰之症也。</p>
<p>治法　三關　六腑　肺經（各二百）　天河　脾土　八卦　赤鳳搖頭　將兩手相合。共掏橫紋。若不醒。大指頭上掏之。上下氣閉。人中掏之。鼻氣無出入吼氣。寒熱作渴。隨症治之。先承山推眉心。再用燈火手上手背各二燋。若咬牙將兩手捻耳珠。屈中指揉頰車穴。又運土入水。</p>
<p>驚風二十四症。惟以急慢二症為先。急驚屬陽。皆由心經受熱積驚。肝經生風發搐。風火交爭。血亂氣並。痰涎壅盛。百脈凝滯。關竅不通。內則不能升降。外則無所發泄。以致齧齒咬乳。頰赤唇紅。鼻額有汗。氣促痰喘。忽爾悶絕。目直上視。牙關緊急。口噤不開。手足搐掣。此熱甚而然。慢驚屬陰。皆由大病之餘。吐瀉之後。目慢神昏。手足偏動。口角流涎。身體微溫。眼目上視。兩手握拳而搐。如口鼻氣冷。囟門下陷。此虛極也。脈沉無力。睡則揚睛。此真陽衰耗。而陰邪獨盛。此虛寒之極也。急驚屬實熱。宜於清涼。慢驚屬虛寒。宜於溫補。對症施治。斯為的當。</p>
<figure>
<img data-orig-src="urn:270:03762.jpg" alt="驚風握拳之圖">
</figure>
<p><u>男向外順</u>　女向內順</p>
<p><u>逆則叉指</u>　並是惡症</p>

<h2>諸熱門</h2>
<p>諸熱元初各有因。對時發者是潮名。乍來乍止為虛症。乍作無寒屬骨蒸。</p>
<p>夫胎熱者。兒生三朝。旬月之間。目閉而赤。眼胞浮腫。常作呻吟。或啼叫不已。時復驚煩。遍體壯熱。小便黃色。此因在胎之時。母受時氣熱毒。或誤服溫劑。過食五辛。致令熱蘊於內。熏蒸胎氣。生下因有此症。名曰胎熱。若經久不治。則成鵝口。重舌木舌。赤紫丹瘤等症。又不可以大寒之劑攻之。熱退則寒起。傳作他症。切宜慎之。</p>
<p>治法　推三關　退六腑　三焦　分陰陽　天河　揉外勞　運八卦（自坤至坎宜多二次）　掏腎水　五總　十王穴　運𦙒肘　水裡撈明月　虎口曲池各用燈火一燋。</p>
<p>潮熱者。時熱時退。來日依時而發。如潮水之應不差。故曰潮熱。大抵氣血壅盛。五臟驚熱。熏發於外。或夾伏熱。或翬宿寒。伏熱者。大便黃而氣臭。宿寒者。大便白而酸臭是也。</p>
<p>治法　推三關　補心經　運八卦　分陰陽　瀉五經　掏十王　掏中指　六腑　撈明月　𦙒肘</p>
<p>驚熱者。或遇異物而觸目忤心。或金石之聲而駭聞悚懼。是以心既受驚。而氣則不順。身發微熱而夢寐虛驚。面光而汗。脈數煩躁。治當與急驚同法也。</p>
<p>治法　推三關　肺經　分陰陽　推扇門　清心經　天河　五經　掏總經　運𦙒肘　撈明月　飛經走氣</p>
<p>風熱者。身熱面青。口中亦熱。煩叫不時。宜疏風解熱。若熱甚而大便秘者。下之可也。</p>
<p>治法　推三關　瀉大腸　掏心經　瀉腎水　運八卦　掏總經　清天河　二龍戲珠　運𦙒肘</p>
<p>煩熱者。血氣兩盛。臟腑實熱。表裡俱熱。煩躁不安。皮膚壯熱是也。如手足心熱甚者。五心煩也。</p>
<p>治法　推三關　掏中指　瀉五經　掏十王　運八卦　揉外勞　分陰陽　退六腑　撈明月　打馬過天河　運𦙒肘</p>
<p>脾熱者。舌絡微縮。時時弄舌。因脾臟積熱。不可妄用涼劑。</p>
<p>治法　推三關　脾土　瀉心火　腎水　運八卦　分陰陽　掏總經　推上三關（二十四）　退下六腑（八十）　撈明月　運𦙒肘</p>
<p>虛熱者。因病後血氣未定。四體瘦弱。時多發熱。一日三五次者。此客熱乘虛而作。宜調氣補虛。其熱自退。</p>
<p>治法　推三關　補五經　捻五指　運八卦　撈明月　掏總經　推上三關（二十四）　退下六腑（八十）　分陰陽　飛經走氣　運𦙒肘</p>
<p>實熱者。頭昏頰赤　。口內熱。小便赤澀。大便秘結。肚腹結脹。此實熱之症也。宜下之。泄去臟腑之熱即安。</p>
<p>治法　推三關　瀉五經　推大腸　清腎水　運八卦　推膀胱　分陰陽　撈明月　退六腑　打馬過天河　飛經走氣　運𦙒肘</p>
<p>積熱者。眼胞浮腫。面黃足冷。發熱從頭至肚愈甚。或惡聞飲食之氣。嘔吐噁心。肚腹疼痛。</p>
<p>治法　三關　五經　脾土　大腸　心經　三焦　腎水　運八卦　掏總筋　分陰陽　撈明月　退六腑　飛經走氣　揉𦙒肘</p>
<p>疳熱者。皆因過餐飲食。積滯於中。郁過成熱。脾家一臟。有積不治。傳之別臟。而成五疳之疾。若脾家病去。則餘臟皆安矣。</p>
<p>治法　推三關　補脾土　推大小腸　三焦　運八卦　掏總筋　分陰陽　撈明月　推上三關（二十四）　退下六腑（八十）　飛經走氣　運𦙒肘</p>
<p>血熱者。每日辰巳時發。遇夜則涼。世人不知。多謂虛勞。或謂疳熱。殊不知此乃血熱症也。</p>
<p>治法　推三關　推上三關　退下六腑　分陰陽　運八卦　五經　掏十王　掏總筋　腎水　撈明月　揉𦙒肘　按弦搓摩　飛經走氣</p>
<p>骨蒸熱者。乃骨熱而蒸。有熱無寒。醒後盜汗方止。非皮膚之外燒也。皆因小兒食肉太早。或素喜炙煿麵食之類。或好食桃李楊梅瓜果之類。或至冬月衣綿太厚。致耗津液而成。或疳病之餘毒。傳作骨蒸。或腹內痞癖。有時作痛。</p>
<p>治法　三關　六腑　運五經　分陰陽　清天河　撈明月　腎水　掏總筋　大橫紋　打馬過天河</p>
<p>壯熱者。一向不止。皆因血氣壅實。五臟生熱。蒸熨於內。故身體壯熱。眠臥不安。精神恍惚。蒸發於外。則表裡俱熱。甚則發驚也。</p>
<p>治法　三關　六腑　肺經　分陰陽　推扇門　清心經　天河　五經　總經　運𦙒肘　撈明月　飛經走氣</p>
<p>溫壯熱。與壯熱相類。而有小異。但溫溫不甚盛。是溫壯也。由胃氣不和。氣滯壅塞。故蘊積體熱。名曰溫壯熱。大便黃臭。此腹內伏熱。糞白酸臭。則宿食停滯。宜微利之。</p>
<p>治法　三關　六腑　五經　大腸　腎水　運八卦　膀胱　分陰陽　撈明月　打馬過天河</p>
<p>變蒸熱者。陰陽水火。蒸於血氣。而使形體成就也。所以變者。變生五臟。蒸者蒸養六腑。小兒初生三十二日。為之一變。六十四日。為之一蒸。十變五蒸。計三百二十日。變蒸俱畢。兒乃成人也。嬰兒之有變蒸。譬如蠶之有眠。龍之脫骨。虎之轉爪。皆同類變生而長也。先看兒身熱如蒸。上氣虛驚。耳冷微汗。上唇有白泡如珠。或微腫如臥蠶者。是其症也。重者身熱所亂。腹痛啼叫。不能吃乳。即少與乳食。切不可妄投藥餌。及推拿火灸。若誤治之。必致殺人。故不立治法。特書以告之。</p>

<h2>傷寒門</h2>
<p>傷寒之病有多般。一概推詳便覺難。面目俱紅時噴嚏。氣粗身熱是傷寒。</p>
<p>傷寒一日。遍身發熱。頭疼腦痛。人事昏沉。胡言亂語。</p>
<p>治法　推三關　六腑　天河　撈明月　分陰陽　運八卦　五指尖　𦙒肘　無汗掏心經　內勞宮　肩井（有汗不用）</p>
<p>傷寒二日。結胸腹脹。阻食沉迷。內熱外寒。遍體骨節疼痛。</p>
<p>治法　推三關　六腑　心經　分陰陽　運八卦　開胸胸痛加肺經　飲食不進加脾土　曲池　陽池</p>
<p>傷寒三日。遍身骨節疼痛。大小便不通。肚腹作脹。</p>
<p>治法　推三關　肺經　和陰陽　運八卦　開胸　揉𦙒肘　天河入虎口　四橫紋　撈明月　赤鳳搖頭　揉太陽　揉五指節　攢竹　曲池　肩井</p>
<p>傷寒四日。腳疼腰痛。眼紅口渴。飲水不進。人事顛亂。</p>
<p>治法　推三關　六腑　曲池　虎口　二人上馬　掏五指節　撈明月　飛經走氣　打馬過天河</p>
<p>傷寒五日。傳遍經絡。或大便不通。小便自利。或噎氣霍亂。</p>
<p>治法　推三關　天河　脾土　八卦　腎水　勞宮　肺經　打馬過天河</p>
<p>傷寒六日。血氣虛弱。飲食不進。腰痛氣喘。心疼頭痛。</p>
<p>治法　推三關　肺經　橫紋　八卦　天河水　撈明月　赤鳳搖頭　按弦搓摩　飛經走氣　曲池　肩井　合谷　陰陽</p>
<p>傷寒七日。傳變六經。發散四肢。各傳經絡。或痢或瘧。加減推之。</p>
<p>治法　推三關　六腑　天河　肺經　橫紋　腎水　八卦　和陰陽　天門虎口　揉𦙒肘　曲池　肩井　太陽　推脾土　若癉瘧揉五指中節與節根。凡推瘧疾必以常用不易者推之。而後用此法即效。</p>

<h2>嘔吐門</h2>
<p>面青唇白胃曾驚。吐哯黃痰冷熱並。乳食不通乾嘔逆。調和脾胃立惺惺。</p>
<p>有物有聲名曰嘔。乾嘔則無物。有物無聲名曰吐。嘔者有痰。吐則無聲。嘔吐出物也。胃氣不和。足陽明經胃脈絡而兼之。氣下行則順。今逆上行作嘔吐。有胃寒胃熱之不同。傷食胃虛之各異。病既不一。治亦不同。諸吐不思食要節乳。凡吐不問冷熱。久吐不止。胃虛生風。恐成慢驚之候。最宜預防。如已成慢脾風症。常嘔腥臭者。胃氣將絕之兆也。</p>
<p>熱吐者。夏天小兒遊戲日中。伏熱在胃。或乳母感冒暑氣。乘熱乳兒。或過食辛熱之物。多成熱吐。其候面赤唇紅。五心煩熱。吐次少而出多。乳片消而色黃是也。</p>
<p>治法　推三關　脾胃　肺經　十王穴　掏右端正　運水入土　八卦　分陰陽　赤鳳搖頭　揉總經　六腑　揉𦙒肘</p>
<p>冷吐者。冬月感冒風寒。或乳母受寒。乘寒乳兒。冷氣入腹。或食生冷。或傷宿乳。胃虛不納。乳片不化。喜熱惡寒。四肢逆冷。脈息沉微。吐次多而出少者。是也。</p>
<p>治法　推三關　補脾胃　肺經　掏右端正　八卦　分陰陽　黃蜂入洞　赤鳳搖頭　三關（八十）　六腑（二十四）　𦙒肘</p>
<p>傷食吐者。夾食而出。吐必酸臭。惡食胃痛。身發潮熱是也。</p>
<p>治法　推三關　五指尖　掏右端正　推脾土　八卦　分陰陽　撈明月　打馬過天河　六腑　𦙒肘</p>
<p>虛吐者。胃氣虛弱。不能停留乳食而作吐也。</p>
<p>治法　推三關　補五經　多補脾胃　掏右端正　運土入水　八卦　分陰陽　赤鳳搖頭　三關（二十四）　六腑　補大腸　𦙒肘</p>

<h2>泄瀉門</h2>
<p>肝冷傳脾臭綠青。焦黃脾土熱之形。肺傷寒色膿黏白。赤熱因心腎熱成。</p>
<p>胃為水穀之海。其精英流布以養五臟。糟粕傳送以歸大腸。內由生冷乳食所傷。外因風寒暑濕所感。飢飽失時。脾不能消。冷熱相干。遂成瀉利。若脾胃合氣以消水穀。水穀既分。安有瀉也。蓋脾虛則吐。胃虛則瀉。脾胃俱虛。吐瀉並作。久瀉不止。元氣不固。必傳慢驚。宜大補之。</p>
<p>治法　推三關　心經　清腎水　補脾胃　掏左端正　側推大腸　外勞宮　陰陽　八卦　揉臍及龜尾　掏肚角兩旁　補湧泉　掏承山　寒症加黃蜂入洞　三關　六腑　𦙒肘　熱症加撈明月　打馬過天河　三關　六腑　𦙒肘</p>
<p>霍亂者。揮霍繚亂也。外有所感。內有所傷。陰陽乖隔。上吐下利。腸擾悶痛是也。</p>
<p>治法　三關　肺經　八卦　補脾土　大腸　四橫紋　陰陽　二人上馬　清蒼龍擺尾</p>
<p>又將獨蒜一個。搗碎。將燒紙隔七層敷臍。若起泡用雞蛋清塗之。即愈。</p>

<h2>腹痛門</h2>
<p>大凡腹痛初非一。不特癥瘕與痃癖。分條析類症多端。看取論中最詳悉。</p>
<p>蓋小兒腹痛。有寒有熱。有食積。癥瘕。偏墜。寒疝。及蛔蟲動痛。諸痛不同。其名亦異。故不可一概而論之。熱腹痛者。乃時痛時止是也。暑月最多。</p>
<p>治法　三關　六腑　推脾土　分陰重陽輕　黃蜂入洞　四橫紋</p>
<p>寒腹痛者。常痛而無增減也。</p>
<p>治法　三關　運五經　二扇門　一窩風　按弦搓摩　八卦　揉臍及龜尾</p>
<p>氣滯食積而痛者。卒痛便秘。心胸高起。手不可按是也。</p>
<p>治法　推三關　分陰陽　推脾土　揉臍及龜尾　掏威靈　若腹內膨脹推大腸</p>
<p>冷氣心痛者。手足厥逆。偏身冷汗。甚則手足甲青黑。脈沉細微是也。</p>
<p>治法　推三關　八卦　分陰重陽輕　補腎　二扇門　黃蜂入洞　鳩尾前後重揉要蔥姜推之發汗</p>

<h2>痢疾門</h2>
<p>小兒下痢細尋推。不獨成疳積所為。冷熱數般雖各異。寬腸調胃在明醫。</p>
<p>赤白之痢。世人莫不曰赤為陽為熱。白為陰為冷。或曰無積不成痢。若以冷熱之法互治。必難取效。不究其原。何由可療。且四時八風之中人。五運六氣之相勝。夏秋人多痢疾。內經曰。春傷於風。夏生飧泄。其可拘於無積不成痢之說。豈一歲之中。獨於夏秋。人皆有積乎。蓋風邪入胃。木能勝土。不為暴下。則成痢疾。赤白交雜。</p>
<p>此為陰陽不分。法當分正陰陽為主。</p>
<p>夾熱而痢者。則痢下紅色。此風能動血也。</p>
<p>治法　推三關　六腑　清心經　和陰陽　推大腸　脾土　八卦　腎水　揉臍及龜尾</p>
<p>夾冷而痢者。則下純白凍。或白上有粉紅色。或似豬肝瘀血。皆為陰症。蓋血得寒則凝故也。</p>
<p>治法　推三關　八卦　脾土　大腸　和陰陽　天門虎口　揉臍及龜尾</p>

<h2>瘧疾門</h2>
<p>夏傷於暑秋成瘧。間日連朝不少差。解表去邪須次第。再宜養胃固脾家。</p>
<p>夏傷於暑。秋必病瘧。謂腠理開而汗出遇風。或得於澡浴水氣含於皮膚。因衛氣不守。邪氣並居。其疾始作。伸欠寒慄。腰背俱痛。骨節煩疼。寒去則內外皆熱。頭疼而渴。乃陰陽二氣交爭。虛實更作而然。陰氣獨勝則陽虛。故先寒戰慄。陽氣獨勝則陰虛。故先熱。陰盛陽虛。則內外皆寒。陽盛陰虛。則內外俱熱。陰陽各衰。衛氣與病氣相離則病愈。陰陽相搏。衛氣與病氣再集則病復。各隨其衛氣之所在。與所中邪氣相合而然也。</p>
<p>瘧疾兼嘔吐肚疼者。</p>
<p>治法　推三關　脾土　分陰陽　揉臍　運八卦</p>
<p>痰瘧一日一發者。</p>
<p>治法　推三關　肺經　分陰陽　八卦　按弦搓摩</p>
<p>久瘧不退。而脾氣虛弱者。</p>
<p>治宜補脾土（二百）　分陰陽（一百）　運八卦（二百）</p>
<p>邪瘧至晚發者。</p>
<p>治宜推三關（五十）　脾土（一百）　分陰陽（三百）　八卦　六腑（二百）　天門入虎口</p>
<p>癉瘧。但熱無寒者。</p>
<p>治宜推三關　脾土　分陰陽　八卦　肺經　六腑　間使內關（各一截）　天門入虎口　𦙒肘</p>

<h2>疳疾門</h2>
<p>五疳五臟五般看。治法詳推事不難。若見面黃肌肉瘦。齒焦發豎即為疳。</p>
<p>大抵疳之為病。皆因過餐飲食。於脾家一臟。有積不治。傳之餘臟而成五疳之疾。若脾家病去。則餘臟皆安。苟失其治。日久必有傳變。而成無辜之疾。多致不救。可不慎哉。</p>
<p>治宜推三關　六腑　脾土　運八卦　大腸　五經　心經　清天河水　𦙀門　運水入土</p>

<h2>積症門</h2>
<p>頭疼身熱腹微脹。足冷神昏只愛眠。因食所傷脾氣弱。下宜遲緩表宜先。</p>
<p>夫兒所患積症。皆因乳哺不節。過餐生冷堅硬之物。脾胃不能克化。積滯中脘。外為風寒所襲。或因夜臥失蓋。致頭疼面黃身熱。眼胞微腫。肚腹膨脹。足冷肚熱。喜睡神昏。飲食不思。或嘔或噦。口噫酸氣。大便酸臭。此為陳積所傷。先宜發表。後宜攻積。</p>
<p>治宜推三關　六腑　多補脾土　掏四橫紋　補腎水　分陰陽　掏大腸　揉𦙀門　小橫紋　運八卦（退艮重）　三扇門　天門入虎口　發熱腹痛。加水裡撈明月　大便秘結。多推六腑　小橫紋　揉掏腎水　腹痛泄瀉。掏一窩風　揉臍及龜尾</p>

<h2>痞症門</h2>
<p>本因積久成頑結。男左女右居腹脅。俗云龜癆不須聽。化癖調脾自安貼。</p>
<p>夫痞與否同。不通一也。小兒乳哺不節。久停於脾。不能克化。結成痞癖。突於脅下。或左或右。俗云龜癆。其疾皆因積滯蘊作。致有寒熱肚腹疼痛。晝涼夜熱。氣實者先攻其痞。後投補益。氣虛者先與調固脾胃。神色稍正。飲食進多。再宜攻之。若面黃唇白。發豎肌瘦。乃為虛極不可輕下。但徐徐調理為上。</p>
<p>治宜推三關　脾土　大腸　肺經　四橫紋　𦙀門　精寧　二扇門　清腎水　運五經　小橫紋　運八卦　小天心　黃蜂入洞　赤鳳搖頭　久揉脾土</p>

<h2>癇症門</h2>
<p>驚傳三搐後成癇。嚼沫牙關目上翻。明辨陰陽參色脈。不拘輕重總風痰。</p>
<p>古人議癇最多。大抵胎內受驚。及聞大聲大驚而得。蓋小兒神氣尚弱。驚則神不守舍。舍空則痰涎歸之而昏亂。旋暈顛倒。口眼相引。目直上視。手足搐搦。背脊強直。或發時作牛馬豬羊雞犬之聲。便致僵仆。口吐涎沫。不省人事。凡得此症。大屬風痰鬱結。上迷心包。宜多投疏風化痰。順氣鎮驚之劑。更須臨症參詳。乃無失也。</p>
<p>治宜推三關　六腑　肺經　補脾土　天門入虎口　揉𦙒肘　掏𦙀門　精寧　窩風　運天心　掏五指節　分陰陽　運八卦　赤鳳搖頭　按弦搓摩　威靈穴　揉中指　掏總筋　灸崑崙</p>

<h2>咳嗽門</h2>
<p>咳嗽雖然分冷熱。連聲因肺感風寒。眼浮痰盛喉中響。戲水多因汗未乾。</p>
<p>夫咳嗽者。未有不因感冒而成也。經曰。肺之令人咳何也。岐伯曰。皮毛者肺之合也。皮毛先受邪氣。邪氣得從其合。則傷於肺。是令嗽也。乍暖脫衣。暴熱遇風。汗出未乾。遽爾戲水。致令傷風咳嗽。初得時面赤唇紅。氣粗發熱。此是傷風。痰壅作嗽。若嗽日久。津液枯耗。肺經虛矣。肺為諸臟華蓋。臥開而坐合。所以臥則氣促。坐則稍寬。乃因攻肺下痰之過。名曰虛嗽。又當補脾而益肺。藉土氣以生金。則自愈矣。</p>
<p>治宜推三關　六腑　肺經（往上一百二十）　二扇門　二人上馬　五總（六轉六掏）　多揉肺俞穴　掏五指節　合谷　運八卦　多揉大指根　掏精寧穴　湧泉　天門入虎口　𦙀門　痰壅氣喘。掏精靈穴　再掏𦙀門　痰結壅塞多運八卦　乾咳。退六腑　痰咳。退肺經　推脾　清腎　運八卦　氣喘掏飛經走氣　並四橫紋</p>

<h2>腫脹門</h2>
<p>古今議腫是脾虛。大抵多從濕熱為。十種根因各調治。詳分補瀉在臨機。</p>
<p>古方有十種論症。然脈浮為風虛。沉伏為水病。沉則脈絡虛。伏則小便難。即為正水。脾脈虛大。多作脾腫。因循不治。乃致水腫。蓋脾屬土。喜燥而惡濕。土敗不能制水。則停蓄不行。留滯皮膚。故作浮腫。初得病時。是眼胞早晨浮突。至午後稍消。然此症夏與秋冬治之頗易。惟春不然。蓋四時之水。無如春水泛溢。兼肝木旺而脾土受克。不能制水。所以難療。進退不常。須徐徐調理取效。大凡小兒浮腫。先用發散。然後行泄法。</p>
<p>治宜推三關（一百）　推脾土（一百）　黃蜂入洞（十下）　運五經（五十）　二扇門（二十）　掏威靈（二十）　天門入虎口（二十）　𦙒肘（二十）　以上瀉法　瀉後補法推脾土（一百）　分陰陽（一百）　補腎（一百）　運土入水（四十）　天門入虎口　𦙒肘（各二十）</p>
<p>春夏用水。秋冬用薑蔥真麻油推之。再用酒一盞。飛鹽少許。皂角一片為末。黃土一鍾。同炒。布包倒合掌心。掏大指節。即消。</p>

<h2>目疾門</h2>
<p>小兒兩目忽然紅。蓋因肝臟熱兼風。散風清火斯為妙。痘後須知宜別攻。</p>
<p>火眼之症。治宜補腎（五百）　推天河（五百）　六腑（五百）　分陰陽（三百）　運八卦（二百）　推脾土（一百）　水裡撈明月（一百）　合谷　曲池　肩井（各一截）</p>
<p>風眼之症。治宜推三關（三百）　揉腎（三百）　掏五指節（一百）　分陰陽（三百）　八卦（一百）　推天河（二百）　六腑（一百）　水裡撈明月（一百）　合谷　曲池　肩井（各一截）</p>

<h2>雜症門</h2>
<p>小兒頭瘡。治宜推三關（一百）　推肺（一百）　分陰陽（一百）　推脾（一百）　揉太陽（一百）　揉陽池（一百）</p>
<p>小兒口內生瘡。治宜退六腑（一百）　分陰陽（一百）　撈明月（二十）　清天河（一百）　清腎水（二十）　鳳凰單展翅（十下）</p>
<p>小兒偏墜。治宜推三關（五十）　推腎（四百）　揉𦙀門（二百）　分陰陽（二百）　八卦（二百）　天河（二百）　三陰交（一截）　承山穴（一百）</p>
<p>外用艾絨為囊。將腎子兜之。甚效。</p>
<p>小兒聤耳流膿。治宜推三關（一百）　六腑（一百）　推脾（十五）　將耳珠揉行前補後瀉法（二十）</p>
<p>小便黃赤。可清之。治宜清腎水（自腎指尖推往根下為清也）　掏小橫紋　二人上馬　運水入土　如大小便俱閉。只宜分陰陽為主。</p>
<p>小兒眉目不開。治宜掏陽池穴（宜久揉久掏）再推四橫紋。</p>
<p>小兒口渴咽乾者。氣虛火動也。清天河為主。</p>
<p>小兒四肢厥冷。治宜推三關。補脾土為主。</p>
<p>小兒口啞不能語言。乃痰迷心竅也。清肺經為主。</p>
<p>小兒手不能伸屈者。風也。宜威靈穴揉之。四肢軟者。血氣弱也。宜補脾土。掏四橫紋。手掏拳者。心經熱也。急掏撈明月。及運八卦。</p>
<p>小兒頭痛。揉臍及陽池外勞宮。頭向上者。宜補脾土。運八卦。為主。</p>
<p>一驚風不省人事。灸上星湧泉大指甲側。</p>
<p>一發熱目上視。宜瀉心經。掏中平穴。橫門中指。俟眼正起指。</p>
<p>一眼左視。掏右端正穴。右視。掏左端正穴。中指中節外邊是。</p>
<p>一吐血。兩大指甲後一韭葉。即母腮穴。許平掏。</p>
<p>一汗多是腎虛。多推補腎水。汗即止。</p>
<p>一日間病重者。宜抑陽。</p>
<p>一夜間病重者。宜抑陰。</p>
<p>一子後火盛者。是陽火。宜瀉之。午後火盛者。是陰火。宜補之。</p>
<p>一先熱後寒者。陰乾陽。宜先瀉後補。</p>
<p>一先寒後熱者。陽干陰。宜先補後瀉。</p>
<p>一推浮腫者。脾土宜補。陰陽宜分。腎水宜先補後瀉。用燈火太陽五心脊骨上各灸愈。</p>
<p>一揉五指節。化痰用之。</p>
<p>一推三焦。治心氣冷痛。</p>
<p>一推命門。止腰痛補下元。</p>
<p>一推橫紋。通上下之血氣。</p>
<p>一推𦙀門。止小腸之寒氣。</p>
<p>一揉小天心。治腎水枯短。</p>
<p>一截三關。祛腰背之風寒。</p>
<p>一截風池。止眼痛頭疼。</p>
<p>一截崑崙。救半身不遂。大小便澀。</p>
<p>一截曲池。通肺腑氣血。治麻痹半身不遂。</p>
<p>一泄。龜尾骨上一燋。大便多而穢者不可止。</p>
<p>一吐。心窩上下四燋。一口水多推脾土。</p>
<p>一腳軟鬼眼一燋。</p>
<p>一手軟倒蹭。後拐節彎上一燋。</p>
<p>一內熱外寒者。掏腎水即止。</p>
<p>一外熱內寒者。掏陽筋汗出為度。</p>
<p>一頭軟。心臍上下一燋。</p>
<p>一作寒。掏心經轉熱。</p>
<p>一作熱。掏腎經轉涼。</p>
<p>一口不開。多揉脾心口一燋。亦有心窩揉者。又有研硃砂一分。吹鼻。即開。</p>
<p>一上吐下瀉。多推胃與陰陽。燈火五心提之。肚上五火。背上五火效。</p>
<p>一無門有紋。如針入眼。五色皆主死。</p>
<p>一凡推法必似線行。毋得斜曲。恐動別經而招患也。</p>
<p>一治鼻乾。年壽推下兩寶瓶效。或曰多推肺經。以鼻乃肺竅故也。</p>
<p>一久揉脾土後心。以肚響應之。謂之內消。</p>
<p>一脊骨自下緩緩推上。雖大人可吐也。</p>
<p>一小兒望後跌。承山掏之。</p>
<p>一三里屬胃。久揉止肚疼。大人胃氣痛者通用。</p>
<p>一小兒望前撲者。委中掏之。亦能止大人腰背疼。</p>
<p>一便秘者。燒酒在腎俞推上龜尾。推膀胱推下承山。但腳裡邊在承山旁抽骨處。亦要推下。而推此順氣之法。無急脹之患。若泄瀉亦要逆推。使氣升而泄可止。</p>
<p>一兩手抄停。食指盡處為列缺。止頭疼。中指盡處為外關。止腰背痛。大人通用。</p>
<p>一掏靠山即合谷。少商。內關。剿瘧用之。</p>
<p>一掏精靈。治氣喘。口歪眼偏。哭不出聲口渴。</p>
<p>一掏總經。推天河。治口內生瘡吐熱。人事昏沉。</p>
<p>一掏大指母腮穴。止吐血。</p>
<p>一掏湧泉。治痰壅上。重則灸之。</p>
<p>一揉二大指頭頂。向外轉三十六。隨掏之。主醒脾消食。</p>
<p>一推畢掏勞宮。所以定氣。</p>
<p>一𦙀門推上橫門可吐。橫門推下及伋門可泄。二穴許對掏之。</p>
<p>一運水入土。治身弱肚起青筋。曰水盛土枯。</p>
<p>一運土入水。治外由作脹眼睜。曰土盛水枯。</p>
<p>一危症先劈面吹氣一口。若眼皮連動。睛活轉可救。若魚目。脾絕不治。</p>
<p>一生血順氣。天門入虎口。揉𦙒肘。</p>
<p>一推驚。不可拘推三回一之說。但推中回幾下便是。</p>
<p>一論穴有分寸者。以小兒中指屈中節度之為寸。折半為五分。非尺之謂。</p>
<p>一驚之義。驚之為言筋也。筋見是也。</p>
<p>一當時被嚇。補童子窌。以兩手提耳三四次效。</p>
<p>少兒壞症一十五候</p>
<p>眼生赤脈（水火困絕也）貫瞳人。囟門腫起又作坑。（心絕）指甲黑色（肝絕）鼻乾燥。（肺絕）鴉聲（肺絕）忽作肚青筋。（脾絕）虛舌出口（心絕）咬牙齒。（咬人腎絕）目多直視（五臟俱絕）不轉睛。魚口（肺絕）氣急（肺絕）啼不得。蛔蟲既出（脾胃俱絕）死形真。手足擲搖經過節。靈丹妙劑也無生。</p>

<h2>斷小兒面色惡症死候</h2>
<p>齒如黃熟豆。骨氣絕。一日死。面青目陷。肝氣絕。二日死。面白鼻入奇輪。肺氣絕。三日死。面黑耳黃呻吟。腎氣絕。四日死。面上死筋。心氣絕。五日死。口張唇青尾枯。脈絕。六日死。面目四肢腫。脾絕。九日死。大凡病兒足跌耳腫。大小便不禁。皆死候也。忽作鴉聲者。是大腸絕也。不治。魚口氣粗。出而不返者。是肺絕也。不治。肝藏血目乃肝之外應。爪甲青黑。血脈不蔭。及目無光彩。筋縮則兩手抱頭。是肝絕。不治。眼青屬腎。腎有兩筋。自背脊直至腦門。貫其二睛。腎絕。兩目向上。目不動者。不治。腎乃骨之主。腎絕則齒癢。咬牙咬人者。不治。鼻乃肺之外應。孔乾黑燥。是肺絕。不治。面色黑黔者。不治。唇乃脾之外應。唇縮而不蓋齒者。是脾絕。不治。胃主肌膚四肢。胃絕則毛髮豎。手足不能收管者。不治。四肢汗出如油。是榮衛俱絕。陰陽離。津液散於四肢。如黏膠者。不治。頭偃於後。天柱骨痿。心絕。頸骨不載。不治。或以為五軟。非也。心主血。舌乃心之外應。舌短則語言不明。心絕則血不流行。身不溫暖。及囟門凸起。或陷作坑。目多直視。是皆必死。不治。飲水不歇。是肺胃俱絕。其水直下大腸中去。必死。痢如死鵝鴨血者。是心絕。或臭穢如糟湯血水者。不治。</p>
<p>凡有頑涎出口鼻者。是風痰塞關竅。血脈不行。不納湯藥者。不治。心寒者。脈絕也。故令肺脹。不治。喉中拽鋸。口吐白沫。是風痰閉竅。面色青黑。五孔乾燥。不治。</p>
<p>以上諸症。是臟腑俱敗。榮衛相離。氣脈不生。皆不治之症。向有其症而救之。十或一二者也。</p>

<h1>卷下</h1>

<h2>附方</h2>

<h3>初生門</h3>
<p>開乳方</p>
<p>初生小兒對晝。先以甘草煎汁。進一二匙以下胎毒。然後進乳。</p>
<p>洗三方</p>
<p>用苦楝皮煎水洗之。可免瘡疥蟲蝨之患。</p>
<p>延生第一方</p>
<p>小兒臍帶落時。將瓦焙乾為末。每一分配飛過硃砂五釐。以生地黃宣黃連當歸身煎濃汁一二蜆殼。和前末抹兒口中。或乳頭上。一日服完。次日大便下汙濁之物。終身可無痘疹瘡毒之患。真延生第一妙方也。</p>

<h3>胎毒門</h3>
<p>紅褐散　初生小兒臍帶落後。風水侵臍。以致濕爛。</p>
<p>紅色絨褐不拘多少。燈上燒灰為細末。敷於臍上。外以太乙膏貼之。</p>
<p>龍骨散</p>
<p>龍骨不拘多少。入炭火內煅令通紅。取出冷定。研為細末。敷於臍上。外以膏藥貼之。</p>
<p>蠍梢散　治百日內撮口臍風及胎風。</p>
<p>蠍梢（四十九個）　殭蠶（四十九個）　片腦（少許）　麝香（少許）</p>
<p>先將薄荷葉包紮蠍蠶在內。炒薄荷葉干為度。共研細入腦麝再研勻。用紫雄雞肝煎湯調下。</p>
<p>按臍風撮口。若兩眉青色。臉赤腹脹者。不可治也。</p>
<p>大連翹飲　治胎中受熱。生下遍體赤色。大小便不利。及重舌木舌。鵝口瘡瘍等症。</p>
<p>柴胡　防風　荊芥　連翹　黃芩　山梔　木通　滑石　車前　瞿麥　蟬蛻　赤芍　甘草</p>
<p>五福化毒丹　治胎熱。目閉頰赤。鵝口瘡瘍。重舌木舌。喉痹垂癰。遊風丹毒。二便悶結。</p>
<p>玄參（三兩）　桔梗（三兩）　甘草（七錢）　牙硝（五錢）　青黛（一兩）　人參（七錢）　茯苓（一兩五錢）</p>
<p>末之煉蜜為丸。如芡實大。硃砂為衣。薄荷湯下。</p>
<p>瘡疹後餘毒上攻。口齒臭爛。生地黃汁化下。</p>
<p>小兒上齶有白點。如粟米狀。名曰鵝口。以青布醮苦茶刮去惡血。不至落下喉中。即以釜墨塗之。又以甘草黃連汁。和硃砂末生蜜飲之解毒。</p>
<p>水雄散　治小兒鵝口馬牙。重舌木舌。</p>
<p>雄黃（一錢）　硼砂（一錢）　甘草末（五分）　冰片（一分）</p>
<p>為末擦口內。</p>
<p>鉤藤湯　治初生小兒啼哭。而手足拳縮。身彎如蝦者。盤腸瘹也。</p>
<p>鉤藤鉤（一錢）　枳殼（五分）　延胡索（五分）　甘草（二分）</p>
<p>上用水半鍾。煎至二分。不拘時服。</p>

<h3>驚風門</h3>
<p>至聖寶命丹　治胎驚搐搦痰盛。及一切急慢驚風。</p>
<p>天南星（炮）　殭蠶（炒去絲嘴）　防風（各五錢）　全蠍（三十個去毒酒洗焙）　白附子（炮）　天麻（煨）　蟬蛻（各四錢）　雄黃（一錢）　麝香（少許）</p>
<p>上為末密丸一錢重。硃砂金箔為衣。薄荷燈心湯化下。</p>
<p>抱龍丸　治傷風瘟疫。身熱昏睡。氣粗風熱。痰實壅嗽。驚風潮搐。及蟲毒中暑。沐浴驚悸之後。並宜預服。</p>
<p>牛膽南星（四兩）　天竺黃（二兩）　硃砂　雄黃（各五錢）　麝香（另研一錢）</p>
<p>上研極細。加麝再研勻。以甘草膏和為丸。皂莢子大。薄荷湯下。</p>
<p>黃連安魂丸　外物驚者。元氣本不病。此方治之。</p>
<p>黃連（酒炒一錢五分）　硃砂（細研）　生地黃　當歸（各一錢）　甘草（炙五分）</p>
<p>上為細末。蒸餅為丸。如綠豆大。每服十丸津下。</p>
<p>參蘇飲　解驚風煩悶。痰熱作搐。咳嗽氣逆。脾胃不和。</p>
<p>人參　紫蘇　前胡　乾葛　半夏　赤茯苓（各七錢五分）　枳殼　橘紅　桔梗　甘草（各五錢）</p>
<p>上銼碎。每服二錢。水一鍾。煎七分。無時溫服。</p>
<p>木通散　小兒心肝有熱驚悸。用此藥瀉肝風。降心火。利驚熱。</p>
<p>羌活　山梔子（各二錢）　大黃（煨）　木通　赤茯苓　甘草（各一錢）</p>
<p>上銼碎。每服二錢。入紫蘇葉二片。水一鍾。煎五分。不拘時服。</p>
<p>加味導赤散　利小便。去心熱。定驚悸。止搐搦。</p>
<p>生地黃（上）　木通（上）　防風（中）　甘草（中）　山梔子（中）　薄荷葉（下）　麥冬（中）　入燈心竹葉同煎。</p>
<p>通關散　治小兒驚風搐搦。關竅不通。牙關緊急。</p>
<p>南星（炮）　殭蠶（炒各一錢）　麝香（一字）　牙皂角（二定略燒存性為末）　赤足蜈蚣（一條炙）</p>
<p>上為末。以手點薑汁。蘸藥少許擦牙。或用物引滴入藥兩三點。涎自出。口自開。</p>
<p>天麻防風丸　治驚風身熱。氣喘多睡。驚悸手足搐搦。</p>
<p>天麻　防風　人參（各一錢）　甘草　硃砂（水飛）　雄黃（各二錢五分）　蠍尾（炒）　殭蠶（炒各五錢）　牛黃　麝香（各一錢）</p>
<p>上為末。煉蜜丸。櫻桃大。硃砂為衣。每服一丸。薄荷湯下。</p>
<p>鎮肝丸　治急驚風。目直上視。抽搐昏亂。不省人事。是肝經風熱也。</p>
<p>天竺黃　生地黃　當歸　竹葉　草龍膽　小川芎　大黃（煨）　羌活　防風（各二錢五分）</p>
<p>上為細末。煉蜜丸。如芡實子大。每服二丸。砂糖水化下。</p>
<p>珍珠丸　治驚風痰熱壅盛。及吊腸鎖肚撮口絕效。</p>
<p>南星（炮）　天麻（煨）　白附子（炮各一錢）　膩粉（五分）　巴霜（一字）　蕪荑（炒去殼）　全蠍（麵炒）　滑石（水飛各一錢五分）</p>
<p>上為末。糊丸。粟米大。一歲五七丸。二歲十丸。大小加減。薄荷湯點茶清送下。</p>
<p>定志丸　治驚風已退。神志未定。以此調之。</p>
<p>琥珀　茯神　遠志肉（薑製焙）　人參　白附子（炮）　天麻　天門冬　甘草（炙）　棗仁（炒）</p>
<p>上為末。煉蜜丸。皂子大。硃砂為衣。每服一丸。燈心薄荷湯下。</p>
<p>保生錠　通治急慢驚風。痰涎壅塞。口眼歪斜。四肢搐搦。天瘹驚惕。並睡中驚跳。夜啼驚哭。及跌撲驚恐。並宜服之。</p>
<p>代赭石（醋煅七次）　蛇含石（醋煅七次各二兩）　殭蠶　膽南星　鉤藤鉤　白茯神（各一兩）　全蠍　天麻　枳實（各五錢）　白附子（炮）　薄荷葉（各四錢）　天竺黃（六錢）　硃砂（五錢）　雄黃（三錢）　冰片（一錢）　麝香（四分）</p>
<p>上為末。水煮糯米糊和成錠。每錠重五分。薄荷湯化服。慢驚棗湯化服。夜啼不安燈心湯下。</p>
<p>寧志丸　治心經血虛。驚悸恍惚。服之安神定志。</p>
<p>人參　白茯苓　茯神　柏子仁　琥珀　當歸　棗仁　遠志（各五錢）　乳香　硃砂　石菖蒲（各三錢）</p>
<p>上為末。蜜丸桐子大。每服二三十丸。食遠棗湯送下。</p>
<p>醒脾散　治吐瀉日久。轉成慢驚。神昏目慢。多困有痰。</p>
<p>人參　白朮　木香　白茯苓　白附子（炮）　天麻　全蠍（炙）　殭蠶（炒去絲各等分）</p>
<p>上為末。每服一錢。姜一片。棗一枚。去核。煎湯調下。</p>
<p>補脾益真湯　治胎氣素弱。而成陰癇。氣逆涎潮。眼目直視。四肢抽掣。或因變蒸客忤。及受驚誤服涼藥所作。</p>
<p>官桂　當歸　人參　黃耆　丁香　訶子　陳皮　厚朴（薑製）　甘草（炙）　草果　肉豆蔻（麵包煨）　茯苓　白朮　桂枝　半夏（湯泡）　附子（炮各五錢）　全蠍（炒）</p>
<p>上㕮咀。每服三錢。加全蠍一枚。水一盞半。姜一片。棗一枚。煎六分。稍熱服。服訖令揉心腹。以助藥力。候一時方與乳食。渴者。加人參茯苓甘草去附子丁香肉蔻。瀉者。加丁香訶子肉。嘔吐。加丁香半夏陳皮。腹痛。加厚朴良薑。咳嗽。加前胡五味子。去附子官桂草果肉蔻。足冷加附子丁香厚朴。惡風自汗。加黃耆桂枝。痰喘。加前胡枳實赤茯苓去附子丁香肉蔻草果。氣逆不下。加前胡枳實。去當歸附子肉蔻。腹脹。加厚朴丁香枳殼。</p>
<p>小兒誤服涼藥。或用帛蘸水繳口。因此傷動脾胃。或泄瀉。或腹脹。或腹中響。小兒囟顱高急。頭縫青筋。時便青糞。小兒肥壯。而糞如清涕。或如凍汁。小兒時時扎眼。糞便青白沫。時有乾硬。以上五證。忽然嘔吐者。必成陰癇。即慢驚是也。小兒頭雖熱。眼珠青白而足冷。或腹脹。或口破爛。或泄瀉。或嘔吐。或口渴。或目赤而足冷者。皆無根之火逆也。速服補脾益真湯。</p>
<p>朮附湯</p>
<p>白朮（四兩）　甘草（炙二兩）　附子（炮去皮臍一兩）</p>
<p>上為末。每服三錢。姜三片。棗一枚。水煎服。按附子溫中回陽。為慢驚之聖藥也。如元氣未脫。用之無有不效。</p>
<p>聚寶丹　治慢驚。</p>
<p>人參　茯苓　琥珀　天麻　殭蠶　全蠍（炙）　防風　膽星　白附子（生用）　烏蛇肉（酒浸焙各一錢）　硃砂（五分）　麝香（少許）</p>
<p>上為末煉蜜丸桐子大。每服二丸。菖蒲湯下。</p>
<p>生附四君子湯　治吐瀉。不思乳食。凡虛冷病。先與數服。以正胃氣。</p>
<p>人參　白朮　附子　木香　茯苓　橘紅　甘草（各等分）</p>
<p>右為末。每服五分。薑棗湯下。</p>
<p>醒脾丸　治小兒慢脾風。因吐利後。虛困昏睡。欲生風癇。</p>
<p>厚朴　白朮　天麻　全蠍　硫黃（入豆腐中煮三五沸）　防風　官桂　人參（各一錢）</p>
<p>上為細末。酒浸蒸餅和丸。如芡實大。每服一丸。溫米飲湯化下。</p>
<p>奪命散　大能控風涎。不問急慢驚風。痰盛壅塞。其響如潮。藥難下咽。命在須臾。先用此藥入喉。痰即墜下。功有萬全。奪天地之造也。</p>
<p>青礞石（一兩入罐子內同焰硝一兩炭火煅通紅須硝盡為度候冷如金色取用）</p>
<p>上為細末。急驚風。痰壅上。身熱如火。用生薄荷自然汁。入蜜調微溫服之。良久其藥自裹痰墜下。從大便出。如稠涕膠黏。乃藥之功也。次服退熱祛風截驚等藥。慢驚風亦以痰涎朝上。塞住咽喉。藥食俱不能入。醫者技窮勢迫以待其盡。但用此藥。以青州白丸子再研為末。煎如稀糊。熟蜜調下。其涎即墜入腹。次服朮附等藥。</p>
<p>青州白丸子　治小兒驚風。大人諸風。</p>
<p>半夏（生七兩）　南星（生三兩）　白附子（生二兩）　川烏（生五錢去皮臍）</p>
<p>上為末。以生絹袋盛。井花水擺出。如有渣滓更研。再入絹袋擺盡為度。於瓷盆中日曬夜露。至晚撇去舊水。別用井花水攪又曬。至來天早。再換新水攪。如此法春三夏五。秋七冬十日。去水曬乾如玉片。研細糯米煮粥清。丸如綠豆大。每服三五丸。薄荷湯下。癱風酒下。並不拘時。</p>
<p>琥珀抱龍丸　抱龍之義。抱者保也。龍者肝也。肝應東方青龍木。木生火。所謂生我者父母也。肝為母。心為子。母安則子安。心藏神。肝藏魂。神魂既定。驚從何生。故曰抱龍丸。理小兒諸驚。四時感冒風寒。瘟疫邪熱。致煩躁不寧。痰嗽氣急。及瘡疹欲出發搐。並宜可投。</p>
<p>真琥珀（一兩五錢）　天竺黃（一兩）　檀香（細銼）　人參（去蘆）　白茯苓（去皮各一兩五錢）　粉草（三兩去節）　枳殼（去穰麩炒）　枳實（去穰麩炒各一兩）　硃砂（五錢先以磁石引去鐵屑次用水乳缽內細研取浮者飛過淨器內澄清去上余水如法制以硃砂盡曬乾用）　山藥（十兩）　珍珠（五錢）　牛黃（一錢）　膽南星（一兩）　金箔（四百片）</p>
<p>上研極細末。煉蜜為丸。每丸五分重。其藥性溫平。不寒不燥。驅風化痰。鎮心解熱。安魂定驚。和脾健胃。添壯精神。薄荷湯下。傷風發熱。鼻塞咳嗽。蔥白湯下。痘疹見形驚跳。白湯下。因著驚發熱。睡臥不寧。燈心湯下。夏月發熱嘔吐。麥門冬湯下。因吃母發熱病乳。致身熱不寧。甘草湯下。脾胃不和。頭熱黃瘦懶食。砂仁湯下。痰涎壅盛。生薑湯下。並不拘時服。初生數日者。每丸作四次服。或三分之一。或半丸。數歲者。每服一丸。量兒大小加減可也。</p>

<h3>諸熱門</h3>
<p>生犀散　治心經虛熱。</p>
<p>生犀角（鎊取末二錢）　地骨皮　赤芍藥　柴胡　乾葛（各一兩）　甘草（炙五錢）</p>
<p>上為細末。每服二錢。水一盞。煎七分。溫服。</p>
<p>地骨皮散　治虛熱潮作。應時而發。如潮信之不失其期也。亦治傷寒吐熱及餘熱。</p>
<p>知母　甘草（炙）　半夏　銀柴胡　人參　地骨皮　赤茯苓（各等分）　如有驚熱。加蟬蛻天麻黃芩。若加秦艽。名秦艽飲子。</p>
<p>十味人參散　治潮熱身體倦怠。</p>
<p>柴胡　甘草　人參　茯苓　半夏　白朮　黃芩　當歸　白芍　葛根　加姜三片。水煎服。</p>
<p>大柴胡湯　解利風熱。痰嗽腹脹。及里症未解而潮熱。</p>
<p>柴胡（四兩）　黃芩　白芍（各一兩半）　大黃　半夏（制各七錢半）　枳實（七錢）　甘草（一兩小方故多用）</p>
<p>上銼劑。每服二錢。水一盞。姜二片。煎七分。溫服無時。</p>
<p>天竺黃散　治小兒驚風熱。</p>
<p>天竺黃　川鬱金　山梔子　殭蠶（炒去絲嘴）　蟬蛻（去土）　甘草（等分）</p>
<p>上為末。每歲五分。熟水薄荷湯皆可服。不拘時。</p>
<p>甘露散　治小兒驚熱。通利小腸。去驚涎。清心止煩。安神穩睡。</p>
<p>寒水石（研軟而微青中有細紋者是）　石膏（研各二兩）　甘草末（一兩）</p>
<p>上為末和勻。量兒大小。或一錢或五分。熱月冷服。寒月熱服。用薄荷湯。或燈心湯調服。被驚心熱不寧。睡臥不安。皆可服。小便不通快。麥門冬燈心湯調下。加硃砂名加砂甘露散。一方有赤茯苓一兩尤妙。</p>
<p>四順清涼散　治三焦積熱。遍身紅腫。口唇生瘡。驚痰潮熱。大便秘結。</p>
<p>當歸　赤芍藥　川大黃　炙甘草（各一錢五分）</p>
<p>上為末。每服一錢。薄荷湯下。如小便不通。燈心湯下。</p>
<p>梔子清肝散　治三焦及足少陽經風熱。耳內作癢。身熱生瘡。或胸間作痛。寒熱往來。</p>
<p>柴胡　黑梔　丹皮（各一錢）　茯苓　川芎　芍藥　當歸　牛蒡（炒各七錢）　甘草（三分）</p>
<p>上水煎服。</p>
<p>柴胡清肝散　治肝膽三焦。風熱怒火。或乍寒乍熱。或身熱頭髮瘡毒等症。</p>
<p>柴胡（一錢五分）　黃芩（炒）　人參　川芎（各一錢）　黑梔（一錢五分）　連翹　甘草（各五分）　桔梗（五分）</p>
<p>上水煎服。</p>
<p>滋腎丸　治腎熱。</p>
<p>黃柏（酒拌炒焦三錢）　知母（二錢）　肉桂（五分）</p>
<p>上為末。水法丸。桐子大。每服二十丸至三十丸。空心白湯送下。</p>
<p>牛黃涼膈丸　治風壅痰實。蘊積不散。頭痛面赤。心煩潮熱。痰涎壅塞。咽膈不利。睡臥不安。口渴唇焦。咽痛頰赤。口舌生瘡。</p>
<p>牛黃（一錢）　甘草（一兩）　寒水石　牙硝（枯）　石膏（二兩）　紫石英　片腦　麝香（各五分）　膽星（七錢五分）</p>
<p>上蜜為丸。重三分。薄荷人參湯。嚼下一丸。</p>
<p>三黃丸　治三焦積熱。眼目赤腫。頭項腫痛。口舌生瘡。心膈煩躁。大小便秘澀。五臟實熱。或下鮮血。瘡癤熱毒。</p>
<p>黃連　黃芩　大黃（煨各等分）</p>
<p>上為末。煉蜜丸。桐子大。每服一二十丸。白湯送下。</p>
<p>火府丹　治小兒壯熱。</p>
<p>生地黃　木通　甘草　黃芩</p>
<p>上水煎服。</p>
<p>金蓮飲子　治小兒壯熱潮熱。眼赤口瘡。心煩躁悶。咽乾多渴。</p>
<p>防風　甘草（炙）　連翹　柴胡　山梔子（各等分）</p>
<p>上為末。每服二錢。水煎服。</p>
<p>梔子仁湯　治陽毒吐熱。骨節疼痛。下後熱不退者。</p>
<p>梔子仁（酒炒）　赤芍　大青　知母（各一兩）　升麻　黃芩　石膏（各二兩）　柴胡（一兩五錢）　甘草（五錢）　杏仁（二兩去皮尖炒微黃）</p>
<p>上為粗末。每服三錢。生薑三片。水煎服。</p>
<p>五物人參湯　治肚熱咳嗽。心腹脹滿。</p>
<p>人參（去蘆）　甘草（各半兩）　麥門冬（去心）　生地黃（各一兩半）　茅根（半握）</p>
<p>上為粗末每服二三錢。水煎服。</p>
<p>柴苓湯　治小兒溫壯伏熱來去。</p>
<p>柴胡（三錢五分）　麥門冬　人參（去蘆）　赤茯苓　甘草（各二錢五分）　黃芩（五錢）</p>
<p>上銼散。每服二三錢。加小麥二十粒。竹葉三片。水煎服。</p>
<p>三黃犀角散　治溫壯心熱。神志不安。大腑秘結。</p>
<p>大黃（酒浸蒸）　黃芩　黃梔子　犀角屑　鉤藤鉤　甘草</p>
<p>各等分。為末。每服五分。熱湯調下。量兒加減。</p>
<p>地骨皮散　治小兒骨蒸。寒熱往來。心膈煩悸。及傷寒後餘熱未解。</p>
<p>柴胡（去蘆）　地骨皮（各二兩）　知母　甘草（炙）　龜甲（醋炙黃）　黃芩　人參（各二錢半）　赤茯苓（五錢）</p>
<p>上銼碎。一歲二錢。水六分。姜梅各一片。煎三分。不拘時服。</p>
<p>靈犀飲　治骨蒸潮熱。盜汗咳嗽。少食多渴。面黃肌瘦。肚急氣粗。虛熱餘熱通用。</p>
<p>犀角屑　胡黃連（各五錢）　白茯苓　人參　川芎　秦艽　甘草　地骨皮　羌活　柴胡　桔梗（各一兩）</p>
<p>上銼散。每服二三錢。烏梅竹葉各少許。水煎服。</p>
<p>絳雪丹　治小兒煩熱。</p>
<p>芒硝（一兩）　硃砂（一兩）</p>
<p>上為末。飯丸芡實大。三歲一丸。砂糖水化下。</p>
<p>竹葉石膏湯　治小兒虛羸少氣。氣逆欲吐。四體煩熱。</p>
<p>石膏（三兩）　半夏（制）　人參（各七錢五分）　麥門冬（去心一兩）　甘草（炙七錢五分）　竹葉（半把）</p>
<p>上銼碎。每服二錢。加粳米三四十粒。生薑一片。水煎服。</p>
<p>龍膽丸　治小兒食後多發熱。至夜則涼。此血熱症。疳熱亦治。</p>
<p>宣黃連（去毛）　赤芍（各五錢）　草龍膽（去苗）　青皮（去穰各一錢）　檳榔（一個大者）　麝香（少許）</p>
<p>上為末。豬膽汁入少麵糊為丸。蘿蔔子大。每二三十丸。米飲湯空心服。</p>
<p>六合湯　治小兒血熱。每日巳午時發熱。遇夜則涼。</p>
<p>當歸　大黃　川芎　熟地黃（等分）　水煎服。</p>
<p>四物二連湯　治血虛勞。五心煩熱。晝則明瞭。夜則發熱。脅肋剌痛。並一身盡熱。日晡肌熱。</p>
<p>當歸身　生地黃　白芍藥　大川芎　宣黃連　胡黃連　各等分。水煎服。</p>
<p>保和丸　治脾胃不和。飲食停滯。胸脹肚痛。噯氣吞酸。身熱肚痛。或吐或瀉。用此去滯消食。退熱寬中。</p>
<p>山楂肉（二兩）　神麯　麥芽　陳皮　半夏　茯苓　砂仁　香附（各一兩）　萊菔子　連翹（各五錢）　水法為丸。白滾湯下。</p>
<p>當歸補血湯　治肌熱躁熱。目赤面紅。煩渴晝夜不息。其脈洪大而虛。重按全無。此脈虛血虛也。若誤服白虎湯必死。宜此主之。</p>
<p>黃耆（二錢）　當歸（一錢）</p>
<p>上用水鍾半。煎五分服。</p>
<p>補中益氣湯　治中氣虛弱。體疲食少。或發熱煩渴等症。</p>
<p>人參　黃耆（各八分）　白朮（土炒）　甘草（炙）　陳皮（各五分）　升麻　柴胡（各二分）　當歸（三分）</p>
<p>上薑棗水煎服。</p>
<p>加味逍遙散　治肝脾血虛發熱等症。</p>
<p>當歸　甘草（炙）　白芍（酒炒）　茯苓（去皮）　白朮（炒）　柴胡（各一錢）　丹皮　山梔（炒各七錢）　去丹皮山梔即逍遙散。</p>
<p>上水煎服。</p>
<p>惺惺散　治變蒸發熱。咳嗽痰涎。鼻塞聲重。</p>
<p>人參　白朮　甘草　桔梗　白茯苓　天花粉　細辛根　白芍（各一錢）　薄荷（少許）</p>
<p>上用水姜煎服。</p>
<p>柴胡散　治變蒸骨熱。心煩啼叫不已。</p>
<p>人參（去蘆）　甘草（炙）　麥門冬（去心各二錢）　草龍膽（酒炒黑）　防風（各一錢）　柴胡（五分）</p>
<p>上銼碎。每服一錢。水煎服。</p>
<p>平和飲子　治變蒸於三日後。三日進一服。可免百病。百日內宜服。</p>
<p>人參（去蘆）　甘草（炙各五分）　白茯苓（去皮一錢）　升麻（煨三分）</p>
<p>上㕮咀。用水煎。不拘時候服。稟受弱者。加白朮一錢。肥大壯實者不用。</p>
<p>參杏膏　治小兒變蒸潮熱。</p>
<p>人參（去蘆）　杏仁（去皮尖）　川升麻（制各五分）　甘草（二錢）</p>
<p>上為末。百日巳前。每服一字。用麥門冬去心煎湯。食遠服。</p>

<h3>傷寒門</h3>
<p>沖和散　治四時感冒。初起遍身拘急。寒熱交作。無汗頭疼身痛。鼻塞咳嗽。</p>
<p>白芷　防風　陳皮　羌活　川芎　杏仁　半夏（制各一錢）　紫蘇葉（五錢）　甘草（七分）</p>
<p>上為粗末。每服二三錢。加蔥頭一個。生薑一片。煎服。</p>
<p>羌活散　治傷風傷寒。時氣頭疼發熱。身體煩痛。痰壅咳嗽。鼻塞失音聲重。及時行下痢赤白並治。</p>
<p>人參　羌活　赤茯苓　柴胡　前胡　獨活　桔梗　枳殼　川芎　甘草　蒼朮（各等分）</p>
<p>上銼劑。每服二錢。水一盞。姜二片。薄荷三片。煎七分服。</p>
<p>麻黃湯　發熱頭痛。惡寒無汗。</p>
<p>紫蘇（一錢）　乾葛　麻黃（各八分）　陳皮　升麻　川芎　白芷　赤芍藥　香附　甘草（各五分）　姜一片。蔥白一寸。水煎服。</p>
<p>桂枝湯　發熱頭痛。有汗惡風。</p>
<p>桂枝（七分）　赤芍（一錢）　甘草（五分）　姜一片。水煎服。</p>
<p>升麻湯　治汗出未透。熱留於胃。而皮膚髮斑者。及時行瘟疫。並痘疹疑似之間。皆宜服之。</p>
<p>升麻　葛根　白芍　甘草　上用水一鍾。姜一片。煎服。</p>
<p>小柴胡湯　治寒熱往來。口乾作嘔。</p>
<p>柴胡（一錢五分）　人參　半夏（六分）　甘草（五分）　黃芩（一錢）　姜三片。水煎服。</p>
<p>大柴胡湯　治傷寒邪熱固結。大便不通。用此利之。</p>
<p>柴胡　黃芩　枳實　赤芍　半夏　熟大黃各等分。水煎服。</p>
<p>柴芩湯　治寒熱往來。泄瀉嘔吐。</p>
<p>柴胡（一錢五分）　澤瀉（一錢）　人參（五分）　黃芩（一錢）　半夏（七分）　甘草（三分）　白朮　赤茯苓　豬苓（各八分）　有汗加桂皮五分。加姜二片。棗二枚。水煎服。</p>
<p>黃連解毒湯　治傷寒大熱不止。煩躁口渴。喘滿蓄熱等症。</p>
<p>黃連　黃芩　山梔仁　柴胡　連翹</p>
<p>上銼一劑。水煎服。</p>
<p>白虎湯　治傷寒身熱而渴。有汗不解。脈來洪數而實。里有熱乃可服。</p>
<p>知母　石膏　甘草　加粳米一撮。水煎待米熟去渣溫服。如口渴兼發赤斑。依本方加人參。名白虎化斑湯。</p>
<p>小陷胸湯　治小結胸。心下痞滿而軟。按之則痛。</p>
<p>黃連（三分）　半夏（五分）　栝蔞仁（三分）　枳實（二分）</p>
<p>上銼一劑。生薑皮一片。水煎服。</p>
<p>開胸散　治傷寒結胸。</p>
<p>柴胡　黃芩　半夏　枳實　桔梗　黃連　栝蔞仁　山梔仁　甘草</p>
<p>上銼一劑。生薑一片。水煎服。</p>
<p>解熱下痰湯　治傷寒結胸。有痰有實有氣滯。咳嗽失聲等症。</p>
<p>紫蘇子　白芥子　枳實　黃芩　黃連　黃柏　栝蔞仁　石膏　杏仁　烏梅　桔梗　生薑一片。水煎服。</p>
<p>傷寒潮熱。痰壅咳嗽。男婦大小皆可用。</p>
<p>鬱金（三錢）　石膏（煅一兩）</p>
<p>上為末。每服一二匙。清茶送下。</p>

<h3>嘔吐門</h3>
<p>和中清熱飲　治熱吐。</p>
<p>黃連（姜炒一錢）　半夏（薑製一錢）　茯苓（一錢五分）　陳皮　藿香　砂仁（各七分）　水煎。徐徐服之。</p>
<p>溫中止吐湯　治寒吐。</p>
<p>白豆蔻　茯苓（各一錢）　半夏（五分）　生薑（三片）　水煎。磨沉香四分。熱服。</p>
<p>香薷飲　治小兒感冒暑熱。乾嘔無物。</p>
<p>白扁豆（薑汁炒去皮二錢）　厚朴（薑汁炒四錢）　黃連（炒一錢五分）　香薷（八錢）</p>
<p>上銼散水煎。不拘時候服。</p>
<p>丁香丸　治嘔吐不止。</p>
<p>丁香　半夏（生去皮各等分）</p>
<p>上用生薑汁浸一宿。曬乾為末。以生薑汁煮糊為丸。如黍米大。用薑棗湯下。</p>
<p>六君子湯　治虛吐不止。脈沉細有寒。</p>
<p>人參　白茯苓　陳皮　甘草　半夏（各一錢）　白朮（一錢）</p>
<p>上銼二劑。生薑二片。紅棗一枚。同煎服。</p>
<p>定吐紫金核　治小兒胃寒。嘔吐不止。</p>
<p>沉香（一錢）　人參　白朮　藿香葉　半夏　木香　丁香（各二錢五分）</p>
<p>共為末。煮麵糊為丸。如芡實大。硃砂為衣。陰乾。用時以大棗一枚去核。納藥一丸於內。濕紙包煨熟。嚼化服。用米飲壓之。</p>
<p>麥門冬散　治熱吐不止。心神煩熱。</p>
<p>麥門冬　淡竹茹（各五錢）　甘草（炙）　人參　茅根　陳皮（各一錢）</p>
<p>上為粗末。每服二錢。水一鍾。姜少許。煎五分。稍熱頻服。</p>
<p>消食丸　治小兒乳哺不調。飲食過度。冷氣積於脾胃。宿食不消。致令嘔也。</p>
<p>縮砂仁　橘紅　三稜（煨）　莪朮（煨）　神麯（炒）　麥芽（炒各五錢）　香附子（炒一兩）</p>
<p>上為末。麵糊丸綠豆大。食後紫蘇湯下二十丸。</p>
<p>泄瀉門</p>
<p>清熱止瀉湯　治熱瀉。</p>
<p>白茯苓　滑石（各一錢）　白朮（六分）　澤瀉（七分）　川黃連（姜炒四分）　加生薑二片。煎服。</p>
<p>溫脾止瀉湯　治寒瀉。</p>
<p>白朮（土炒）　白茯苓（各一錢）　肉果（麵裹煨五分）　甘草（炙二分）　肉桂（三分）　加生薑二片。煎服。</p>
<p>安胃醒脾湯　治吐瀉兼作。脾胃俱受病。</p>
<p>白朮　白茯苓（各一錢）　滑石（水飛）　砂仁（炒各七分）　木香（五分）</p>
<p>薑棗煎服。停食加枳實山楂神麯麥芽。夾驚加膽星天麻。風加防風乾葛。暑加香薷扁豆。虛加人參。內有熱加黃連。口渴加烏梅肉。吐不止加藿香。瀉不止加升麻。</p>
<p>香橘餅　止積瀉傷冷。</p>
<p>木香　青皮　陳皮（各二錢五分）　厚朴（薑汁炒七錢）　神麯（炒）　麥芽（炒各五錢）　三稜（炮三錢）　香附　砂仁（各五錢）　甘草（一錢）</p>
<p>上為末。煉蜜丸。薑湯下。</p>
<p>五苓散　治小兒大便泄瀉。小便不通。</p>
<p>白朮　茯苓　豬苓　澤瀉　肉桂（減半）</p>
<p>上銼劑。水煎服。</p>
<p>香砂平胃散　治感冒時氣。瘴癘不和。傷食停滯。泄瀉如水。心腹脹滿。或時作痛。小便不利。身熱口渴。</p>
<p>蒼朮　厚朴（薑汁炒各二兩）　陳皮（二兩）　甘草（一兩五錢）　木香　砂仁（各一兩）</p>
<p>上為末。薑棗湯下。</p>
<p>藿香正氣散　治感冒寒暑。霍亂轉筋吐瀉。及傷寒頭痛。憎寒壯熱。</p>
<p>大腹皮（黑豆水洗淨）　白茯苓　紫蘇　藿香　蒼朮　半夏（各三兩）　白芷　厚朴　陳皮（各二兩）　桔梗　甘草（各一兩）</p>
<p>上為粗末。每服二錢。加薑棗。水煎溫服。</p>
<p>六和湯　治冒暑霍亂吐瀉。</p>
<p>香薷　白扁豆（薑汁炒去皮各一錢五分）　赤茯苓　藿香　川厚朴（薑汁炒）　木瓜　砂仁（去殼研各七分）　半夏（制）　杏仁（各八分）　人參（三分）　甘草（五分）　生薑為引。水煎服。</p>
<p>玉露丸　治夏月中暑熱瀉。</p>
<p>白石膏（煅通紅一斤）　白龍骨（煅紅一兩）　枯礬（一兩）　澤瀉（一兩）　甘草（五錢）</p>
<p>上為末。糯米糊為丸。每服一錢。燈心湯下。</p>
<p>益元散　治小兒伏熱泄瀉。小便短赤。煩躁啼哭。滿頭癤疿。赤遊丹毒等症。</p>
<p>滑石（水飛六兩）　甘草末（一兩）　硃砂（五錢）</p>
<p>上用燈心湯調服。三伏天水調服亦佳。如水瀉不止。每益元散二錢。加五倍子末七分。燈心湯下。如瀉而肚不痛。人事困倦。每益元散二錢。加白朮末山藥末各一錢。燈心湯下。中暑吐瀉。每益元散二錢。加藿香三分。丁香一分。淅米泔調下。</p>
<p>理中湯　治中寒吐痢。手足厥冷。</p>
<p>白朮　乾薑　人參　甘草（炙）　加附子。名附子理中湯。</p>
<p>上用水煎熟。加煨薑汁服之。</p>
<p>四神丸　治脾胃虛弱。瀉利腹痛。飲食不思。每至五更連瀉數次。</p>
<p>補骨脂（四兩鹽水炒）　肉豆蔻（麵裹煨去油）　五味子（各三兩）　吳茱萸（湯泡三次炒一兩）</p>
<p>上為末。用紅棗五六十枚。生薑六兩。用水煮熟。去姜用棗去皮核為丸。如桐子大。每服三五十丸。白湯送下。</p>
<p>人參理脾丸　治瀉痢日久。脾氣虛弱。食少倦怠。面色痿黃。四肢無力。元氣欲脫。</p>
<p>白朮（四兩）　人參　山藥（炒）　扁豆（薑汁炒）　白茯苓　苡仁（炒）　神麯（炒各二兩）　陳皮　砂仁　甘草（炙各一兩）　煉蜜為丸。薑棗湯下。</p>
<p>參苓白朮散　治小兒脾胃虛弱。元氣不足。嘔吐泄瀉。自汗盜汗。飲食少思。中滿痞噎。此藥中和不熱。久服養氣育神。醒脾悅也。</p>
<p>人參　白朮　茯苓　山藥　甘草（各二兩）　白扁豆（薑汁炒）　薏苡仁　蓮子　砂仁　桔梗（各一兩）</p>
<p>上為末。薑棗湯下。</p>
<p>久瀉不止。大法補虛消積。</p>
<p>鳳髓經云。脾中有積熱遲留。至使終年瀉不休。項軟見人多哽氣。更兼清水鼻中流。少間有似黃金色。若有垂腸更不收。形症又看胸膈上。胸前深赤汗如油。唇赤生瘡眼脈赤。若不調脾命即休。</p>
<p>七味千金散　治痢下日久不瘥。</p>
<p>宣黃連（八分）　龍骨（煨）　赤石脂（煅）　厚朴（薑汁炒）　烏梅肉（各二分）　阿膠（炒三分）　甘草（炙一分）</p>
<p>上為末。米湯下。</p>

<h3>腹痛門</h3>
<p>益黃散　治脾胃虛熱。腹痛下痢。</p>
<p>陳皮（一兩）　青皮　訶子肉　甘草（炙各五錢）　丁香（二錢）</p>
<p>上為細末。每服二錢。水一盞。煎六分。食前服。</p>
<p>調中丸　治脾胃虛寒。下痢而腹痛。</p>
<p>白朮（土炒）　人參　甘草（炒各五錢）　炮乾薑（四錢）</p>
<p>上為末。煉蜜丸。桐子大。每服一二十丸。食前溫水化下。</p>
<p>當歸散　凡小兒夜啼。面青手冷。不吐乳。是臟寒腹痛也。宜此方服之。</p>
<p>當歸（去蘆頭）　白芍（炒）　人參（各一錢）　甘草（炙三分）　桔梗　陳皮（各一錢）</p>
<p>上㕮咀煎五分。時時少服愈。</p>
<p>七氣散　治七情相干。陰陽不升降。氣道壅滯。攻衝作痛。</p>
<p>青皮　陳皮　桔梗　蓬朮　官桂　益智仁（各一兩）　甘草　半夏（制各七錢五分）　香附子（一兩五錢）</p>
<p>上為細末。每服一二錢。薑棗湯下。不拘時服。</p>
<p>三稜散　治積氣肚痛。</p>
<p>砂仁　甘草　益智仁　三稜　蓬朮　青皮（各等分）</p>
<p>上為末。白湯下。</p>
<p>使君子丸　治腹內諸蟲作痛。口吐清水。</p>
<p>使君肉（薄切焙）　檳榔　酸石榴皮（洗淨銼焙）　大黃（半生半熟各七錢五分）</p>
<p>上除檳榔銼曬不過火。餘三味再焙。同檳榔為末。沙糖水煮。麵糊為丸。麻仁大。每服三十丸。至五十丸。淡豬肉汁空心下。或雞汁亦好。</p>
<p>烏梅散　治腹痛。及初生嬰兒。臍下冷痛等疾。</p>
<p>烏梅（去核）　玄胡索　粉草（半生半炙各五錢）　乳香　沒藥　鉤藤（各三錢五分）</p>
<p>上㕮咀。每服二錢。水一盞煎八分。空心腹。</p>
<p>莪朮丸　治諸般停滯。疳積發熱。瀉痢酸餿。水穀不化。肚腹疼痛。</p>
<p>莪朮（炮銼）　三稜（炮銼）　淨香附（醋浸七日慢火煮乾再焙各四兩）　檳榔（一兩薄銼）　生牽牛末（一兩另研）　青木香（去蘆）　穀芽（淨洗焙乾）　青皮（去白各五錢）　蓽澄茄　丁香　南木香（另研各四兩）</p>
<p>上除檳榔丁香木香不過火。及牽牛末。餘七味銼焙。仍同檳榔木香丁香為末。臨入牽牛末和勻。水煮麵糊丸。綠豆大。每服三十丸至五十丸。無時。用淡薑湯或溫茶酒皆好。兒小者。丸粟米大。粒數下法如前。</p>
<p>和中散　和胃氣止吐瀉。定煩渴。治腹痛思食。</p>
<p>人參（去蘆）　白茯苓　白朮　甘草（銼炒）　乾葛（銼）　黃耆　白扁豆（炒）　藿香葉（各等分）</p>
<p>上為細末。每服三錢。水一盞。紅棗二個去核。姜二片。煎八分。食前溫服。</p>
<p>小兒未能語。啼哭不能辨者。當以手候其腹。如有實硬處。即是腹痛。外治之方。研生薑取汁。暖令溫。調面成糊。塗紙貼臍心立定。</p>

<h3>痢疾門</h3>
<p>大黃湯　紅痢初起。腹痛後重宜之。</p>
<p>大黃（三錢三歲以下者二錢弱者一錢）　赤芍（一錢）　當歸（一錢）　檳榔　黃連　枳殼（各七分）　水姜煎服。以利為度。</p>
<p>芩殼湯　白痢初起。腹痛後重。用此下之。</p>
<p>大黃（二錢）　黃芩　枳殼　蒼朮　陳皮（各八分）　厚朴　檳榔　木香　莪朮　水煎服。</p>
<p>加減黃芩芍藥湯　調血和氣。</p>
<p>白芍（二錢）　當歸　黃連　厚朴　黃芩（各一錢五分）　檳榔　枳殼（各七分）　木香（五分磨入）　血痢。加生地地榆。白痢。加青皮蒼朮。水煎服。</p>
<p>香連丸　治暑熱傷脾。停積成痢。赤白相雜。裡急後重。肚腹作痛。脹滿噁心等症。</p>
<p>川黃連（二十兩用吳萸十兩同拌炒揀去吳萸）　廣木香　川厚朴（薑汁炒）　廣陳皮　陳枳殼（麩炒）　山楂（去子）　白芍藥（酒炒各五兩）</p>
<p>上為末。醋糊水法為丸。</p>
<p>參連散　治下利日久。胃中虛熱。噤口不食。嘔穢噁心。此藥解毒清熱。開胃進食。</p>
<p>人參（一錢）　老蓮肉（去皮心二錢）　黃連（七分）　木香（五分）</p>
<p>上為末。陳米湯化下。</p>
<p>徐中垣先生家傳香連散。通治赤白痢疾。</p>
<p>當歸（酒洗）　蒼朮（米泔水浸炒）　杏仁（去皮尖）　紅花（酒洗）　大黃（酒蒸曬乾再蒸九次為度）　黃連（吳萸汁拌炒）　羌活（各一兩）　木香（五錢）</p>
<p>上為末。每服一錢。白滾湯調下。胃口不開。老蓮肉去心。煎湯調下。</p>
<p>便紅散　治飲食不節。雜進無度。致傷脾陰。大便下血之症。</p>
<p>紅曲　薏苡仁　各等分。炒為末。每用一錢。空心米湯下。</p>

<h3>瘧疾門</h3>
<p>驅瘧散　治瘧疾初起。寒熱往來。頭痛煩渴。胸膈脹滿等症。</p>
<p>知母　羌活　前胡　黃芩　蒼朮　陳皮　厚朴　茯苓　藿香（各一錢）　半夏　柴胡（各一錢）　甘草（三分）</p>
<p>上研為末。每服二錢。水鍾半。姜一片。煎服。</p>
<p>食瘧。腹膨食少。或時作痛。</p>
<p>麥芽　神麯　檳榔　草果　柴胡　蘇葉　蘇梗（各一錢）　加姜一片。水煎服。</p>
<p>痰瘧。咳嗽喘急。</p>
<p>川芎　柴胡　貝母　知母　橘紅　黃芩　蘇子（各一錢）　水煎服。</p>
<p>風瘧。頭痛骨節疼。或鼻塞氣粗。</p>
<p>羌活　防風　蘇葉　川芎　柴胡　白芷（等分）　甘草（減半）　水煎服。</p>
<p>驚瘧。寒熱發搐。</p>
<p>茯神　遠志（去心）　麥門冬（去心）　柴胡　半夏（薑製各一錢）　甘草（二分）　水煎服。</p>
<p>陰瘧。至晚即發。累月不已。</p>
<p>人參　芍藥　川芎　柴胡（各一錢）　甘草（炙）　紅花（各三分）　水煎服。</p>
<p>截瘧仙棗　治小兒瘧疾。三發過。以此棗截之。</p>
<p>大北棗二枚去核。每個內放蓖麻子仁三粒。臨發日五更嚥下。以白滾湯送之。</p>
<p>痎瘧久久不愈。脅下有塊。俗名瘧母。服鱉甲丸。</p>
<p>鱉甲（酒炙半片）　蓬朮（醋煮三兩）　青皮（醋煮三兩）　穿山甲（土炒二兩）</p>
<p>上為末。用醋煮當歸為膏。拌藥丸如黍米大。每服二錢。用川芎芍藥柴胡各一錢。人參五分。煎湯送下。</p>

<h3>疳疾門</h3>
<p>茯苓丸　治心疳驚疳。</p>
<p>茯神　琥珀　黃連　蘆薈　赤茯苓（各三錢）　遠志（薑製）　菖蒲（一錢）　麝香（少許）　蝦蟆（炙）　鉤藤皮（各二錢）</p>
<p>上為末。米糊丸。如麻子大。每服十丸。薄荷湯下。</p>
<p>蘆薈丸　治肝疳殺蟲。和胃止瀉。兼治脊疳。</p>
<p>蘆薈（研）　胡連　川連　蕪荑（去扇）　青皮　木香　鶴蝨（微炒）　雷丸（破開白者佳赤色者殺人不用等分）　麝香（少許）　砂仁（減半）</p>
<p>上為末。米糊丸。綠豆大。每服一二十丸。米飲湯下。</p>
<p>清肺飲　治肺疳熱䘌。穿鼻孔。汁臭。或生瘜肉。</p>
<p>紫蘇　前胡　黃芩　當歸　連翹　防風　赤茯苓　生地　天門冬（去心）　甘草（炙）　桔梗（各一兩）　桑皮（炒五錢）</p>
<p>上細銼。每服二錢。水煎食後服。</p>
<p>消疳肥兒丸　治小兒脾疳。面黃肚大。水穀不化。大便酸臭。小便米泔。好吃泥土。茶米瓦灰之類。</p>
<p>黃連　神麯　青皮（各一兩）　麥芽（五錢）　木香（二錢五分）　檳榔（五錢）　肉豆蔻（麵裹煨三錢）　使君子肉（五錢）　山楂肉（一兩）</p>
<p>上為末。煉蜜為丸。圓眼肉大。每服一丸。米湯化下。</p>
<p>消食餅　治小兒脾胃虛弱。時常傷食。面黃肌瘦。肚大腹脹。常服此餅。健脾消食。</p>
<p>山藥（炒）　白茯苓（去皮）　神麯（炒）　蓮子（去皮心）　麥芽（炒）　扁豆（炒去殼）</p>
<p>上各為末。每服四兩。和炒麵一斤。以砂糖和作餅食之。</p>
<p>豬肝散　治肝經積熱。眼生白膜。怕日羞明。搖頭咬甲。肚大青筋。發豎黃瘦。名曰肝疳。</p>
<p>石膏（煅一兩）　石決明（煅三錢）　海螵蛸（滾水泡一錢五分）　辰砂（水飛一錢）</p>
<p>共研細末。一二歲者。每次用藥五分。以公豬肝尖四兩。竹刀切開。入藥末於內扎之。將第二次淘米水煮。肝湯俱食極效。</p>
<p>九味地黃丸　治腎疳。</p>
<p>熟地（四兩）　赤茯苓　山茱萸肉　川楝子　當歸　川芎　丹皮　使君子肉　乾山藥（各二錢）</p>
<p>上為末。蜜丸桐子大。每服七八十丸空心溫酒下。</p>
<p>走馬牙疳方</p>
<p>五倍子（焙）　人中白　枯礬　緋丹（焙紫色）　輕粉（少許）　片腦（少許）</p>
<p>上共研勻。敷患處。</p>

<h3>痞積門</h3>
<p>和脾化積湯　治小兒一切諸積。後備加減法。</p>
<p>山楂　枳實　蓬朮　厚朴　白朮　甘草　陳皮　乳積。加砂仁香附。氣積。加木香蘇梗。驚積。加茯神遠志。虛積。加白朮茯苓。實積。加檳榔牽牛。表有熱。加柴胡黃芩。里有熱。加黃連木通。小便不利。加滑石澤瀉。大便不通。加大黃枳殼。寒月。加益智草豆蔻。</p>
<p>消積化聚丸　治五積六聚。痞癖攻痛。</p>
<p>三稜　白朮（炒）　茯苓　黃連　乾漆（炒去煅盡）　木香　益智（炒）　歸尾（酒洗）　麥芽（微炒各三兩）　紅花　砂仁（炒）　門冬　枳殼（炒）　穿山甲（燒灰）　青皮　柴胡　神麯（炒各二兩）　蓬朮（煅）　檳榔（炙）　桃仁　香附（薑汁拌炒）　鱉甲（醋炙各四兩）</p>
<p>上末。蜜丸重三錢。空心陳米湯下。</p>
<p>遇仙丹　治一切五積六聚。食積氣積。</p>
<p>白醜（取頭末四兩一半生一半熟）　檳榔　牙皂　莪朮　茵陳（各五錢）</p>
<p>上為末。醋糊為丸。每服五七分。白湯送下。</p>
<p>琥珀膏</p>
<p>大黃　朴硝　各一兩為末。以大蒜搗貼之。</p>
<p>五色保童丸　治小兒一切所傷。痰涎壅塞。胸膈不利。乳食不消。變生癖積。脅肋片硬。按之疼痛。及治一切急慢驚風。發搐痰涎壅塞。</p>
<p>青丸子　青黛（另研）　南星（薑汁各五錢）　巴霜（五分）</p>
<p>紅丸子　硃砂（水飛）　半夏（薑製各五錢）　巴霜（五分）</p>
<p>黃丸子　大黃（煨）　鬱金（各五錢）　巴霜（五分）</p>
<p>白丸子　白附子（生）　寒水石（煅各五錢）　巴霜（五分）</p>
<p>黑丸子　五靈脂（炒）　全蠍（炒各五錢）　巴霜（五分）</p>
<p>上前五色藥。各另研為細末。入巴霜五分。研勻面糊丸。粟米大。一歲服五丸。乳汁送下。量大小加減。或薑湯下。急驚風金銀薄荷湯。慢驚生薑全蠍湯。</p>
<p>化痞阿魏膏</p>
<p>羌活　獨活　赤芍　穿山甲　玄參　官桂　生地　大黃　白芷　天麻　兩頭尖（各五錢）　木鱉子（十枚去殼）　紅花（四錢）　亂髮（一團）　槐柳桃枝（各三錢）</p>
<p>上用香油二斤四兩。煎黑去渣。入發煎化。仍去渣。徐下黃丹十兩。煎軟硬得中。入芒硝阿魏蘇合香油乳香沒藥各五錢。麝香三錢。調勻即成膏矣。將帛絹攤。貼患處。內服丸藥黃丹。須用山東者效。凡貼膏藥。先用朴硝隨患處鋪半指厚。以紙覆上。用熱熨斗熨良久。如硝耗再加熨之二時許。方貼膏藥。</p>

<h3>癇症門</h3>
<p>五色丸　通治五癇。</p>
<p>硃砂（研五錢）　水銀（一分）　雄黃（熬一分）　鉛（三兩同水銀熬）　珍珠末（研一兩）</p>
<p>上為末。煉蜜丸。如麻子大。每服三四丸。金銀薄荷湯下。</p>
<p>散風丹　治小兒風癇。先用此藥。</p>
<p>牛膽南星（二錢）　羌活　獨活　防風　天麻　人參　川芎　荊芥穗　細辛（各一錢）</p>
<p>上為末。煉蜜為丸如梧子大。每服二丸。用薄荷紫蘇湯。不拘時送下。</p>
<p>獨活湯　治小兒風癇。解表通里。</p>
<p>獨活　麻黃（去節）　川芎（各一錢）　大黃　甘草（炒各五分）</p>
<p>上銼碎。每服二錢。用水一鍾。生薑二片。煎至四分。不拘時溫服。</p>
<p>牛黃丸　治小兒風癇迷悶。抽掣涎潮。</p>
<p>牛膽南星　全蠍（焙去毒）　蟬殼（各二錢五分）　防風　牛黃　白附子（生）　直殭蠶（炒去絲嘴）　天麻（各一錢五分）　麝香（五分）</p>
<p>上為末。以煮棗去皮核取肉。和水銀半錢。研極細。次入藥末。和丸如綠豆大。每服三四丸。用荊芥生薑煎湯送下。不拘時服。</p>
<p>七寶鎮心丸　治小兒驚癇心熱。</p>
<p>遠志（去心薑製炒）　雄黃　鐵粉　琥珀（各二錢）　硃砂（一錢）　金銀箔（四片）　麝香（少許）</p>
<p>上為細末。煮棗取肉為丸。如梧子大。每服三五丸。煎去心麥冬湯化下。不拘時服。</p>
<p>清心丸　治小兒躁悶。項背強直。腰背反張。時發時醒。大人中風。小兒驚風。</p>
<p>牛黃（一兩二錢研）　麝香（研）　龍腦（另研）　羚羊角（末各一兩）　當歸（去蘆）　防風（去蘆）　黃芩　麥門冬（去心）　白芍藥　白朮（各一兩半）　柴胡（去苗）　杏仁（去皮尖雙仁麩炒黃另研）　桔梗　白茯苓（去皮）　芎藭（各一兩二錢半）　阿膠（銼碎末蛤粉炒）　肉桂（去粗皮）　大豆卷（碎炒各一兩七錢半）　蒲黃（炒）　人參（去蘆）　神麯（炒各二兩半）　甘草（炒五錢）　雄黃（八錢飛另研）　白蘞　乾薑（各七錢半）　金箔（一千二百片留四百片為衣）　犀角末（二兩）　干山楂（十兩）　大棗（一百枚蒸熟去皮核爛研成膏入藥）</p>
<p>上除棗杏仁及牛黃麝香雄黃龍腦四味。另為細末。入前藥和勻。煉蜜與棗膏為丸。每兩作十丸。用金箔為衣。每服一丸。溫白湯化下。食後服。小兒驚癇即酌度多少。以竹葉煎湯。溫溫化下。</p>

<h3>咳嗽門</h3>
<p>蘇陳九寶飲　治小兒咳嗽聲重。自汗頭疼。</p>
<p>蘇葉　杏仁　半夏　桑白皮　陳皮　前胡（各一錢）　甘草　大腹皮　薄荷　桂枝（各七分）　渴加花粉。汗多。去紫蘇。薑蔥水煎服。</p>
<p>加味二陳湯　咳嗽有痰。氣急而喘。</p>
<p>陳皮（五分）　半夏　膽星　枳實　杏仁（各七分）　栝蔞仁（三分）　麻黃　甘草（各二分）　石膏（八分）　火盛。加芩連。有汗。去麻黃。水二鍾。姜一片。煎服。</p>
<p>利痰方</p>
<p>南星　玄明粉（各一兩）　鬱金　硼砂（各三錢）　白礬（五錢）</p>
<p>上為末。臘月黑牯牛膽拌套陰乾。量病輕重。淡薑湯下。</p>
<p>陳孟昭先生白杏湯　定喘止嗽。</p>
<p>款冬（七分）　杏仁（去皮尖五粒）　桑皮（蜜炙七分）　蘇子（炒七分）　陳皮（七分）　北五味（三分）　麻黃（五分）　甘草（三分）　白果肉（七枚搗碎）　加薑棗煎服。</p>
<p>瀉白散　治小兒肺實咳嗽。悶亂喘促。渴飲水漿。</p>
<p>桑白皮（蜜水炒一兩）　地骨皮（二兩）　甘草（五錢）</p>
<p>上為粗末。每服二錢。水一鍾。粳米一撮。同煎五分。食遠服。</p>
<p>阿膠丸　肺虛而咳嗽。嗽動汗出。大便不固。此方斂之。</p>
<p>阿膠（蛤粉炒）　百合（各一兩）　五味子　甘草（炙）　款冬花（蜜水炙）　烏梅肉（炙五錢）　粟殼（蜜炙三錢）</p>
<p>上為末。煉蜜丸芡實大。每服一丸。五更白湯下。</p>
<p>貝母散　治火嗽痰嗽。多日不愈。</p>
<p>貝母（去心一錢）　桑白皮（一錢）　五味子（十粒）　甘草（五分）　知母（二分）　款冬花（一錢五分）　杏仁（一錢去皮尖）</p>
<p>上銼一劑。姜一片。水煎服。</p>

<h3>腫脹門</h3>
<p>塌氣丸　治飲水過多。停積於脾。故四肢浮腫。宜服此以消之。</p>
<p>蘿蔔子　赤小豆　陳皮（各一錢）　木香（二分）　甘草（五分）　黑醜（一錢）</p>
<p>上為末。糊丸如綠豆大。三歲者服三十丸。米飲湯下。</p>
<p>推氣丸</p>
<p>陳皮　檳榔　枳實　黃芩　黑醜　蓬朮　青皮（各等分）</p>
<p>上為末。煉蜜丸如龍眼大。每服一丸。薑湯下。</p>
<p>補中行濕湯　治諸般虛腫。小水不利者。</p>
<p>陳皮　甘草　蒼朮　厚朴　白朮　人參　茯苓　豬苓　澤瀉　肉桂</p>
<p>水一鍾。姜三片。燈心十二根。煎五分。不拘時服。</p>
<p>勻氣散　治脾肺氣逆。喘嗽面浮。小便不利。</p>
<p>桑白皮　桔梗　赤茯苓　熟半夏　陳皮　甘草　木通　澤瀉　藿香</p>
<p>水一鍾。姜一片。燈心二十根。煎五分。不拘時服。</p>
<p>榮衛飲子　治小兒氣血俱虛。四肢頭面俱浮。以至喘急者服之。</p>
<p>川當歸　熟乾地黃　川芎　白芍　人參　白朮　茯苓　甘草　枳殼　黃耆　陳皮</p>
<p>水二鍾。煎五分。不拘時服。</p>

<h3>雜症門</h3>
<p>眼痛者火盛也。小兒患眼腫痛。不可妄投寒涼之藥。宜拔毒膏主之。</p>
<p>拔毒膏</p>
<p>用淮地黃一兩。新汲水浸透。搗爛貼腳心湧泉穴。布包佳效。</p>
<p>通天散　治小兒風火赤眼。痛癢腫脹。</p>
<p>牙硝（五錢）　雄黃（三錢水飛）</p>
<p>共為細末。每用少許吹鼻中。流出清水。雙目流淚即效。</p>
<p>丹瘤者流也。片片如脂。遊走而不定之謂也。始於胎毒。後因烘衣受熱而得。故從心腹而發於四肢者易治。從四肢而入心腹者難治。入心入腹入囊。作脹作瀉。舌乾神亂者。則不可救矣。</p>
<p>黃連法</p>
<p>牛肉切成薄片曬半乾。用黃連煎濃汁。將牛肉片投入黃連汁內。泡片時。以牛肉貼丹瘤上。干再換易。數次即效。</p>
<p>白玉散</p>
<p>寒水石　滑石　等分為末。雞子清調敷患處。</p>
<p>又方</p>
<p>綠豆粉（二錢）　伏龍肝（五錢）　水粉（五錢）　共為末。雞蛋清調敷。</p>
<p>消毒散</p>
<p>金銀花　當歸　赤芍　生地　牛蒡子　連翹　防風　天花粉　羌活　犀角屑</p>
<p>上用水一鍾。燈心二十根。煎五分。不拘時服。上身者加川芎桔梗。下身者加木通黃柏。</p>
<p>膿耳者。少陽風熱熾盛而上升也。小兒耳中出膿臭爛。或作疼痛。日久不愈。令兒耳聾。治宜疏熱散風。外以黃連散主之。</p>
<p>黃連散</p>
<p>枯白礬　龍骨（煅）　黃丹（水飛）　胭脂　海螵蛸（水泔浸）</p>
<p>上為細末。加麝香少許。再研。先以紙條捻干膿水。後以藥吹入。切要避風。</p>
<p>口舌生瘡者。心脾蓄熱也。舌本乎心。口屬乎脾。二經鬱熱。則口舌生瘡。各宜推類而治之。其脈左寸洪數。心經實熱。右關沉實。脾經實熱。治宜清涼之劑。脾虛中氣不足。口瘡服涼藥不愈者。內以理中湯。外以陰陽散主之。</p>
<p>冰硼散　治口舌生瘡破爛。重舌木舌。</p>
<p>硼砂（五錢）　辰砂（一錢）　冰片（一分）</p>
<p>共為末。搽口內。</p>
<p>大連翹飲　五福化毒丹（俱見胎熱門）　理中湯（見泄瀉門）</p>
<p>陰陽散</p>
<p>川黃連　乾薑　各等分。為末敷之。</p>
<p>加味甘桔湯　治小兒咽喉腫痛。風熱等毒。</p>
<p>桔梗（一錢）　防風　荊芥　薄荷葉　甘草　黃芩（各五分）</p>
<p>上銼劑。水煎食後服。</p>
<p>碧雪散　治心肺積熱。上攻咽喉。腫痛閉塞。水漿不下。</p>
<p>真青黛　硼砂　焰硝　蒲黃　甘草　各等分。吹入咽喉。吐去涎痰即效。</p>
<p>黃水瘡多生小兒頭面。或耳或眉目。或口鼻黃水流至即生。以蛤粉散敷之。效甚。</p>
<p>蛤粉散</p>
<p>蛤粉　煅石膏　黃柏末（各一錢）　輕粉（五分）</p>
<p>上為末。以麻油調搽二三次。即愈。</p>
<p>治小兒𤺪⿸疒貢頭癤。膿血不止。擠去一泡。復起一泡。</p>
<p>松香（四兩）　銅綠（八錢）　杏仁（七十五粒去皮尖）　木鱉子（五個去殼）　乳香（五錢）　沒藥（五錢）　血竭（一錢）　輕粉（一錢）　蓖麻子（去殼取仁一錢）　同搗千餘下。成膏貼之。</p>
<p>治小兒頭上白禿瘡</p>
<p>寒水石（煅過）　少加枯礬花椒松花蛤粉共為末。麻油調敷。即效。</p>
<p>治小兒脫肛</p>
<p>先以蔥湯薰。或以陳壁土薰洗。後用五倍子燒灰存性托上。</p>
<p>治小兒諸骨骾喉</p>
<p>燈心以竹筒填滿。燒灰用米湯化開調灌下。勿犯牙即效。又方以象牙末吹之妙。</p>
<p>治小兒遺尿</p>
<p>破故紙鹽水炒為末。每用一錢。滾湯調下。</p>
<p>治小兒痰核</p>
<p>五倍子煎化濾去渣。加入牛皮膠同熬成膏。敷上紙蓋之。</p>
<p>瘰癧方</p>
<p>肥皂子燒灰存性。為末。每服二錢。好酒調下。</p>
<p>又方</p>
<p>馬鞭草不拘多少。日日煎酒飲之。或煎湯隨意飲之。</p>
<p>治癬方</p>
<p>蘆薈　甘草　枯礬　飛丹</p>
<p>共為末。米醋調敷。</p>
<p>治小兒凍瘃方</p>
<p>白芷　肉桂　狗骨</p>
<p>共為末。燭油調敷。</p>
<p>治漆瘡方</p>
<p>用螃蟹一個。搗碎。搽敷神效。內服通聖散。</p>
<p>治蛇蟲蛟毒。才作服之。</p>
<p>青黛　雄黃　各等分研細。每服二錢。新汲水調下。</p>
<p>治蜘蛛咬成瘡</p>
<p>雄黃（一錢）　麝香（半分）</p>
<p>上為末。用藍靛汁和塗瘡上。如無靛汁。以青黛五分。入水內和塗之即效。</p>
<p>治燙火傷</p>
<p>用槐角子燒灰為末。香油調上。</p>
