<header data-type="book">
<h1>古書醫言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>吉益為則</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1814">公元1814年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00501/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>天有日月星辰。地有山川澤陵。日月星辰者天之文也。山川澤陵者地之象也。而其文與象俯仰瞻望。瞬目之間亦可能觀察焉。人見其日月星辰唯謂之大。見其山川澤陵唯謂之廣。而其廣與大。一朝一夕。尺寸之陰。豈可得窮極矣哉。夫古書之可尊。在乎其信信。古醫之可貴。在乎其治治。而苟書之不明。病之不治。惡在其尊貴之也。我先祖考東洞翁。生二千歲之下。學二千歲之上。道不古則不從。方不古則不取。鑽研多年。用以施之於今。始晤萬病一毒。無疾不治。乃考諸古而無繆。徵諸今而不疑。於是。規矩準繩立焉。紀綱法則舉焉。古疾醫之道。遂復明於今世。翁嘗嗟其疾醫之道熄而陰陽醫之言行。稽諸秦漢以上言醫事者。而評論辨闢之。題曰古書醫言。或恐人之視者。唯謂東洞一家言。不深研窮。而其崇尚之者猶寡。然吾東洞者。原盡疾醫之本要。是以其所取僅十一。而所舍殆十九。況乎百家亦皆非醫。唯倖存古醫真言之千百於十一爾。孰能分其珠玉與魚眼。故苟不聰明睿智之人。冀達其本要者。則不可與言疾醫之大道也。嗚呼。吾東洞既沒。先考南涯夙受其業。已有傷寒論精義之著。特以此書未公於世。亦未上梓。文化癸酉之春。梨棗日謀。無幾亦不幸見背。不肖順辱入續業。但日夕講究。干父祖之事。幸以父祖之靈。獲業速竣。尋又將就傷寒論精義。庶乎得不忝矣。順又竊謂。此書一出。人之知吾東洞與不者。在乎其信於此與不。且人視我之言。顧者不知復以為如何。文化十年冬十一月。平安　吉益順謹撰</p>

<h1>卷一</h1>
<p>易曰。九五旡妄之疾。勿藥有喜。</p>
<p>象曰。旡妄。藥不可試也。</p>
<p>為則曰。九五以中正。當尊位。下又以中正應之。可謂旡妄之至。其道無以加矣。疾者謂作之病也。以九五之無妄。如其有疾。勿以藥治。則有喜也。夫人之有疾。則以毒藥。攻去其病毒。以復其正。若無疾病而攻治之。則反害其正矣。故勿藥自愈也。旡妄之疾。雖自外表。旡妄之體。剛健貞順。固不受也。而旡妄之疾而動。則是為妄也。</p>
<p>書曰。若藥勿瞑眩。厥疾勿瘳。</p>
<p>為則曰。書言醫事。可信。莫古焉。而後世不由此語。蓋漢以降。疾醫之道熄焉。陰陽醫隆焉。夫陰陽者造化之事。而非人事也。故聖門天地陰陽者。恭敬而從之。慎無犯耳。以陰陽不論人事也。然漢以降。陰陽之說播而吾道湮矣。其論益似微。其事益難成也。悲哉。天下眾庶嬰系疾病。不能免脫其苦患也。是無它。以陰陽論疾病。以不知為知之弊也。乃如太倉公是也。蓋醫者掌疾病。疾病不治。豈謂醫乎。然太倉公論死生。而不能救疾病。偶有救者。論與治乖。非空言虛論而何。故於其傳評之。可以考矣。今此語易讀難行。為之則瞑眩。瞑眩人人皆異。千變萬怪不可名狀也。故藥中肯綮。毒不解。則藥終勿瞑眩也。毒解則藥忽瞑眩也。或有眩暝數十日。絕食羸瘦。將死而毒盡頓快者也。或有瞑眩數死數蘇。而毒盡漸治者也。是皆軀不自為之者。奚能得知焉。故曰。此語易讀難行也。醫衛習熟在茲。醫術習熟在茲。</p>
<p>詩經曰。匪我言耄。爾用憂謔。多將熇熇。不可救藥。</p>
<p>為則曰。多行熇熇。慘毒之惡。譬之死病無良醫。</p>
<p>禮記曰。醫不三世。不服其藥。</p>
<p>孔氏穎達曰。父子相承至三世。是慎物調齊矣。呂氏大臨曰。醫至三世。治人多矣。用物熟矣。功已試而無疑。然後服之。亦謹疾之道也。方氏愨曰。醫之為術。苟非祖父子孫傳業。則術無自而精。術之不精。可服其藥乎。為則曰。禮之所言。其常而已。雖非傳業。其人而自然克得。倘克治疾。未及三世。固所可用也。</p>
<p>凡執技以事上者。祝史射御醫卜及百工。凡執技以事上者。不貳事。不移官。</p>
<p>為則曰。禮運曰。臣與家僕雜居齊齒。非禮也。</p>
<p>孟春行秋令。則其民大疫。</p>
<p>季春行夏令。則民多疾疫。</p>
<p>孟夏月也。聚蓄百藥。</p>
<p>仲夏行秋令。民殃於疫。</p>
<p>孟秋行夏令。民多瘧疾。</p>
<p>季秋行夏令。民多鼽嚏。</p>
<p>民必疾疫。又隨以喪。命之曰暢月。</p>
<p>仲冬行春令。民多疥癘。</p>
<p>為則曰。凡月令之言病。於治療無益矣。雖聖經不能無疑。唯率以言之。乃可也。理以推之。乃不可也。又周禮及呂氏春秋等月令。皆效之。非疾醫之事。</p>
<p>惻怛之心。痛疾之意。悲哀志懣氣盛。</p>
<p>為則曰。是不因毒病。故不藥而治。以此醫之治毒可確知矣。</p>
<p>或曰。輔病婦人童子。不技不能病也。</p>
<p>為則曰。可考喪服四制義疏。</p>
<p>周禮曰。聚毒藥。以共醫事。</p>
<p>為則曰。注云。藥之物恆多毒。是不知而為說誤也。夫藥皆毒也。以毒解毒。故瞑眩。弗瞑眩厥疾弗瘳。雖五穀用以為藥則毒。故瞑眩也。鄭玄不為醫。因不知此義。而作說。其誤傳於千載。聖人之禁戒。可畏可慎。</p>
<p>歲終則稽其醫事。以制其食。十全為上。十失一次之。十失二次之。十失三次之。十失四為下。</p>
<p>為則曰。稽醫事之當否而非計死生之多少。誤有為計死生之多少者。豈得以死生稽人功哉。夫死生者天之主也。疾病者醫之主也。假令瘳於疾病雖十全矣。命盡則死。故古語曰。死病無良醫。是之謂也。</p>
<p>食醫。掌和王之六食六飲六膳百羞百醬八珍之齊。</p>
<p>凡食齊眡春時。羹齊眡夏時。醬齊眡秋時。飲齊眡冬時。</p>
<p>凡和春多酸。夏多苦。秋多辛。冬多咸。調以滑甘。</p>
<p>凡會膳食之宜。牛宜稌。羊宜黍。豕宜稷。</p>
<p>犬宜粱。雁宜麥。魚宜蓏。</p>
<p>凡君子之食。恆放焉。</p>
<p>為則曰。以食醫之法。不可論疾醫也。食者有養之意也。疾者有攻之意也。不可混矣。蓋本草混之。故建禁忌之法。誤也。大都養者從好惡。攻者不拘好惡也。</p>
<p>疾醫。掌養萬民之疾病。四時皆有癘疾。春時有痟（酸削也）首疾。夏時有癢疥疾。秋時有瘧寒疾。冬時有嗽上氣疾。</p>
<p>為則曰。是因四時氣令。而內毒動也。氣令者天事也。以人事不可治也。內毒者人事也。疾醫能治之。故見病發。言之乃可也。理以推之乃不可也。</p>
<p>以五味五穀五藥。養其病。</p>
<p>為則曰病無養之道。故注云。養猶治也。</p>
<p>又曰。病由氣勝負而生。是陰陽醫之說。而非疾醫之論。</p>
<p>以五氣五聲五色。眡其死生。</p>
<p>為則曰。知死生也。病者與醫者無益。由是思之。古人有疑於周禮也。宜哉。</p>
<p>兩之以九竅之變。參之以九藏之動。</p>
<p>為則曰。九竅九藏。四肢百體。是造化之所為也。以人事不可揆也。病者皆毒依於法。去其毒。則九竅九藏之變。皆治復初。由是觀之。古人所謂。是亦攙入乎。</p>
<p>凡民之有疾病者。分而治之。死終則各書其所以。而入於醫師。</p>
<p>瘍醫掌腫瘍潰瘍金瘍折瘍之祝藥劑殺之齊。</p>
<p>鄭司農曰。祝當為注讀。如注病之注。聲之誤也。注謂附著。劀謂刮去。</p>
<p>凡療瘍。以五毒攻之。</p>
<p>鄭司農曰。止病曰療。攻治也。五毒五藥之有毒者。今醫方五毒之藥。作之合黃堥置石膽丹砂雄黃礬石慈石其中。燒之三日三夜。其煙上著。以雞羽掃取。以注創。惡肉破。骨則盡出。</p>
<p>以五氣養之。以五藥療之。以五味節之。</p>
<p>鄭司農曰。五氣當作五穀。為則曰。五穀亦用於藥。則皆毒也。</p>
<p>凡藥。以酸養骨。以辛養筋。以咸養脈。以苦養氣。以甘養肉。以滑養竅。</p>
<p>為則曰。是亦攙入陰陽之論也。疾醫不取。</p>
<p>辨三酒之物。一曰事酒。二曰昔酒。三曰清酒。</p>
<p>鄭司農曰。事酒有事而飲也。昔酒無事而飲也。清酒祭祀之酒。玄謂。事酒酌有事者之酒。其酒則今之醳酒也。</p>
<p>昔酒今之酋久白酒。所謂舊醳者也。清酒今中山。冬釀接夏而成。為則曰。古方白酒清酒。以是可知矣。</p>
<p>論語曰。孟式伯問孝。子曰。父母唯其疾之憂。</p>
<p>古注曰。孝子不妄為非。唯疾病。然後使父母憂。</p>
<p>伯牛有疾。子問之。自牖執其手。曰。亡之。命矣夫。斯人也。而有斯疾也。子之所慎齊戰疾。</p>
<p>為則曰。疾之慎則在乎守節。</p>
<p>曾子有疾。召門弟子曰。啟予手。啟予足。詩云。戰戰兢兢。如臨深淵。如履薄冰。而今而後吾知免夫。小子。</p>
<p>曾子有疾。孟敬子問之。曾子言曰。鳥之將死。其鳴也哀。人之將死。其言也善。</p>
<p>為則曰。孝經云。身體髮膚。受之父母。不敢毀傷。孝之始也。免者免災也。夫君子言必信。行必忠。故免災。今之學者乃不然。慎旃。</p>
<p>敢問死。曰。未知生。焉知死。</p>
<p>為則曰。死生天命也。故聖人不論。況於常人乎。</p>
<p>子夏曰。商聞之矣。死生有命。富貴在天。</p>
<p>子曰。南人有言。曰人而無恆。不可以作巫醫。善夫。</p>
<p>物子曰。人而無恆。不可以作巫醫。鄭玄曰。主巫醫。不能治無恆之人。物子曰。鄭玄之解。古來相傳之說已。作巫醫者謂為其人卜筮且醫疾也。非謂以其人為巫醫之人也。</p>
<p>康子饋藥。拜而受之曰。丘未達不敢嘗。</p>
<p>為則曰。孔安國曰。未知其故。故不敢嘗。禮也。物子曰。古人解古文辭。可謂盡之矣。只其辭簡奧。讀者未易解已。故故實也。謂禮也。未知其故。故不敢嘗。是解孔子之言也。禮者言孔子所以言者禮也。醫師職曰。醫師掌醫之政令。聚毒藥以共醫事。是古之藥多毒藥。故鄭注曰。藥之物恆多毒。為則曰。蓋鄭玄徂徠皆非醫也。而不行。而言藥多毒。此誤也。本草曰有毒無毒。是食醫之事。而非疾醫之事也。以食醫混疾醫亦誤也。是疾醫之道所以絕焉。食醫者主養也。疾醫者主攻也。故古語攻病以毒藥。養精以穀肉果菜。雖穀肉果菜用為藥。則有攻之意。故藥皆毒也。譬如甘麥大棗湯。三味為食料則無毒。用藥方中肯綮則大瞑眩。或吐瀉。或發汗。而其毒解。疾乃瘳。是無它。毒毒乎毒也。吾黨小子行而言。勿舌言。雖彼博洽巨儒不行而言皆臆也。故學如鄭玄徂徠。尚致此過失矣。聖人戒之曰。有不知而作之者。我無是也。慎哉。又曰。如藥勿瞑眩。厥疾勿瘳。此非疾醫則不能解也。知藥皆毒亦然。物子曰。饋毒於人。而令死。古者謂之饋藥焉。是所以無饋藥之禮也。孔子時禮失俗變。貴人聞疾或饋之。時人亦必嘗之。依賜食之禮也。皆非禮也。此或一說。</p>
<p>家語曰。哀公問孔子曰。智者毒乎。仁者壽乎。孔子對曰。然。人有三死。而非其命也。己自取也。夫寢處不時。飲食不節。逸勞過度者。疾共殺之。居下位而上於其君。嗜欲無厭而求不止者。刑共殺之。以少犯眾。以弱侮強。忿怒不類。動不量力。兵共殺之。此三者非命也。人自取之。若夫智士仁人。將身有節。動靜以義。喜怒以時。無害其性。雖得壽焉。不亦宜乎。</p>
<p>孔子曰。良藥苦於口。利於病。</p>
<p>為則曰。藥皆毒也。毒毒於毒而疾乃瘳。奚藥之良之有焉。按史記漢書皆作毒藥。韓非子說苑並作良藥。憶者劉向校閤家語之時。因韓非作良藥乎。今從史漢。作毒藥為是。</p>
<p>曾子耘瓜。誤斬其根。曾皙怒。建大杖以擊其背。曾子仆地而不知人。久之。有頃乃蘇。</p>
<p>君子修道立德。不為窮困而改節。為之者人也。生死者命也。</p>
<p>魯哀公問於孔子曰。人之命與性何謂也。孔子對曰。分於道。謂之命。形於一。謂之性。化於陰陽象形而發謂之生。化窮數盡謂之死。</p>
<p>鄭子產有疾。謂子太叔曰。我死子必為政。唯有德者。能以寬服民。其次莫如猛。</p>
<p>春秋左氏傳曰。六日公至。毒而獻之。公祭之地墳。與犬犬斃。與小臣。小臣亦斃。</p>
<p>為則曰。地墳是不知為何毒太甚。</p>
<p>隕石於宋五。隕星也。六鷁退飛。過宋風也。云云。退而告人曰。君失問是陰陽之事。非吉凶所生也。吉凶由人。吾不敢逆君故也。</p>
<p>為則曰。陰陽者天事也。吉凶者人事也。積善餘慶而吉。積惡餘殃而凶。譬如人病。有毒於內。則因天令而毒動病。無毒於內。則天令雖烈不病也。陰陽之事。以人事不可計。奉順而守之耳。</p>
<p>邾子曰。苟利於民。孤之利也。天生民而樹之。君以利之也。民既利矣。孤必與焉。左右曰命可長也。君何弗為。邾子曰。命在養民。死之短長時也。民苟利矣。遷也。吉莫如之。遂遷於繹。五月邾文公卒。君子曰。知命。</p>
<p>齊侯戒師。期而有疾。醫曰不及秋。將死。</p>
<p>穆公有疾曰。蘭死。吾其死乎。吾所以生也。刈蘭而卒。</p>
<p>晉人獲素諜。殺諸絳市。六日而蘇。</p>
<p>晉胥克。有蟲疾。</p>
<p>諺曰。高下在心。川澤納汙。山藪藏疾。</p>
<p>郇瑕氏土薄水淺。其惡易覯。易覯則民愁。民愁則墊隘。於是乎有沉溺重膇之疾。不如新田土厚水深。居之不疾。</p>
<p>為則曰。是後世所謂腳氣之濫觴也。然腳氣無毒。人雖居卑濕之地。不疾。故特無腳氣之藥。但視毒之所在而治。則克治。學者察諸。</p>
<p>晉侯夢大厲。被髮及地。搏膺而踴曰。殺余孫不義。余得請於帝矣。壞大門及寢門而入。公懼入於室。又壞戶。公覺召桑田巫。巫言如夢。公曰何如。曰不食新矣。公疾病求醫於秦。秦伯使醫緩為之。未至。公夢。疾為二豎子。曰彼良醫也。懼傷我焉。逃之。其一曰。居肓之上膏之下。若我何。醫至曰。疾不可為也。在肓之上膏之下。攻之不可。達之不及。藥不至焉。不可為也。公曰。良醫也。厚為之禮而歸之。六月丙午。晉侯欲麥。使甸人獻麥。饋人為之。召桑田巫。示而殺之。將食。張如廁陷而卒。小臣有晨夢。負公以登。及日中。負晉侯出諸廁。遂以為殉。</p>
<p>為則曰。緩之言非疾醫之辭。注曰。傳言巫以明術見殺。小臣以言夢自禍。孔子曰。不語怪力亂神。豈亦其人之命耶。</p>
<p>晉範文子反自鄢陵。使其祝宗祈死曰。君驕侈而克敵。是天益其疾也。難將作矣。愛我者。唯祝我。使我速死無及於難。苑氏福也。六月戊辰士燮卒。</p>
<p>君子謂子重。於是役也。所獲不如所亡。楚人以是咎子重。子重病之。遂遇心疾而卒。</p>
<p>為則曰。非毒而病。皆不可藥也。</p>
<p>子駟使賊夜弒僖公。而以瘧疾赴於諸侯。</p>
<p>以待疆者而庇民焉。寇不為害。民不罷病。不亦可乎。</p>
<p>子駟曰。國病矣。子展曰。得罪於二大國。必亡。病不猶愈於亡乎。</p>
<p>為則曰疾病可治。死不可救。</p>
<p>叔豫曰。國多寵而王弱。國不可為也。遂以疾辭。方暑闕地下冰而床焉。重繭衣裘。鮮食而寢。楚子使醫視之。復曰。瘠則甚矣。而血氣未動。乃使子南為令尹。吾見申叔。夫子所謂生死而肉骨也。</p>
<p>其御曰。孟孫之惡子也。而哀如是。季孫若死。其若之何。臧曰。季孫之愛我。疾疢也。孟孫之惡我。藥石也。美疢不如惡石。夫石猶生我。疢之美。其毒滋多。孟孫死。吾亡無日矣。詩曰。誰能執熱。逝不以濯。禮之於政。如熱之有濯也。濯以救。何患之有。</p>
<p>為則曰。古昔有水漬之法。亦如此。太倉公傳可考矣。</p>
<p>然明謂子產曰。毀鄉校如何。子產曰。何為夫人朝夕退而遊焉。以議執政之善否。其所善者吾則行之。其所惡者吾則改之。是吾師也。若之何毀之。我聞忠善以損怨。不聞作威以防怨。豈不遽止。然猶防川。大決所犯。傷人必多。吾不克救也。不如小決使道。不如吾聞而藥之也。然明曰。蔑也。今而後知吾子之信可事也。小人實不才。若果行此。其鄭國實賴之。豈唯二三臣。仲尼聞是語也。曰。以是觀之。人謂子產不仁。吾不信也。</p>
<p>晉侯有疾。鄭伯使公孫僑如晉聘且問疾。叔向問焉。曰。寡君之疾病。卜人曰。實沈臺駘為祟。史莫之知。敢問。此何神也。子產曰。云云。由是觀之。則臺駘汾神也。抑此二者不及君身。山川之神則水旱癘疫之災。於是乎禜之。云云。若君身。則亦出入飲食哀樂之事也。山川星辰之神。又何為焉。僑聞之。君子有四時。朝以德政。晝以訪問。夕以修令。夜以安身。於是乎節宜其氣。勿使有所壅閉湫底。以露其體。茲心不爽而昏亂百度。今無乃壹之。則生疾矣。僑又聞之。內宦不及同姓。其生不殖。美先盡矣。則相生疾。君子是以惡之。云云。晉侯聞子產之言曰。博物君子也。重賄之。</p>
<p>為則曰。子產曰。若君身。則亦出入飲食哀樂之事也。嗚呼。君子言哉。慎疾醫之疾。在飲食嗜欲守節爾。後世謂風寒暑濕之疾。誤可以知矣。</p>
<p>又曰。子產曰。君子有四時。是養生修身之道。可不務乎。</p>
<p>晉侯求醫於秦。秦伯使醫和視之。曰。疾不可為也。是謂近女室。疾如蠱。非鬼非食。惑以喪志。良臣將死。天命不祐。云云。趙孟曰。良醫也。厚其禮而歸之。</p>
<p>為則曰。是國醫之論。而非疾醫之事也。後世醫書以此論言六氣之疾。誤也。蓋其所論近女室。疾如蠱。良臣將死。皆是非疾為之也。</p>
<p>衛侯使賂周歂治瘽曰。苟能納我。吾使爾為卿。周冶殺元咺及子適子儀。公入祀先君。周冶既服將命。周歂先入及門。遇疾而死。冶瘽辭卿。</p>
<p>為則曰。周歂死也。假令不死。冶瘽見其疾以為罰。而辭乃可矣。過而改則無災也。祭統曰。爵有德而祿有功。必賜爵祿於大廟。爾不敢專也。周冶為卿不義也。不義神明不受也。宜哉見罰。</p>
<p>晉侯飲酒云云。亦自飲也。曰味以行氣。氣以實志。志以定言。言以出令。臣實司味。二御失官。而君弗命。臣之罪也。公說徹酒。</p>
<p>為則曰。味以行氣。固然。但後世醫家欲以毒藥行氣。大誤矣。何則。非食味。氣不得養。故可謂味以行氣也。藥皆毒。疾亦毒也。以毒攻毒。氣或不行。為有毒而去其毒。則氣自行。故不可謂藥以行氣也。</p>
<p>許悼公瘧。五月戊辰飲。太子止之藥。卒。太子奔晉。書曰。弒其君。君子曰。盡心力以事君。舍藥物可也。</p>
<p>為則曰。凡非本職。勿好為焉。奚唯藥。</p>
<p>泠州鳩曰。王其以心疾死乎。</p>
<p>水潦方降。疾瘧方起。</p>
<p>齊高強曰。三折肱。知為良醫。</p>
<p>為則曰。醫之為功也。以一不可決。再三得功而後。方證始可以言已。</p>
<p>樹德莫如滋。去疾莫如盡。</p>
<p>是歲也。有云如眾。赤鳥夾日。以飛三日。楚子使問諸周大史。周大史曰。其當王身乎。若禜之。可移於令尹司馬。王曰。除腹心之疾。而置諸股肱。何益。不穀不有大過。天其天諸。有罪受罰。又焉移之。遂弗禜。昭王有疾。卜曰。河為祟。王弗祭。大夫請祭諸郊。王曰。三代命祀祭。不越望。江漢睢漳楚之望也。禍福之至。不是過也。不穀雖不德。河非所獲罪也。遂弗祭。孔子曰。楚昭王知大道矣。其不失國也。宜哉。夏書曰。惟彼陶唐。帥彼天常。有此冀方。</p>
<p>吳將代齊。越子率其眾以朝焉。王王及列士。皆有饋賂。吳人皆喜。唯子胥懼曰。是豢吳也夫。諫曰。越在我心腹之疾也。壤地同而有欲於我夫。其柔服求濟其欲也。不如早從事焉。得志於齊。猶獲石田也。無所用之。越不為沼。吳其泯矣。使醫除疾而曰必遺類焉者。未之有也。</p>
<p>且唯聖人。能無外患。又無內憂。距非聖人必偏而後可。偏而在外。猶可救也。疾自中起。是難。</p>
<p>君子失心。鮮不夭昏。</p>
<p>平公有疾。秦景公使醫和視之。云云。文子曰。醫及國家乎。對曰。上醫醫國。其次疾人。固醫官也。</p>
<p>為則曰。國醫與疾醫之分。於是可知。</p>
<p>吾聞。國家將敗。必用奸人而嗜其疾味。其子之謂乎。夫誰無疾眚。能者蚤除之。舊怨滅宗國之疾眚也。</p>
<p>管子曰。朝忘其事。夕失其功。邪氣入內。正色乃衰。</p>
<p>上恃龜。好用巫醫。則鬼神驟祟。故功之不立。名之不章。為之患者三。云云。</p>
<p>再會諸侯。令曰。養孤者食常疾。收孤寡。</p>
<p>為則曰。五霸之令如斯。民之蒙恩澤可以知矣。然至於孟子之時。諸侯放肆乃不然。故孟子曰。今之諸侯。五霸之罪人也。</p>
<p>故赦者犇馬之委轡。毋赦者痤睢（為則曰睢恐疽或癰字衍）之礦石也。</p>
<p>滋味動靜。生之養也。好惡喜怒哀樂。生之變也。聰明當物。生之德也。是故聖人齊滋味而時動靜。御正六氣之變也。</p>
<p>當生者生。當死者死。言有西有東。各死其鄉。置常立儀。能守貞乎。</p>
<p>欲愛吾身。先知吾情。君親六合。以考內身。以此知象。乃知行情。既知行情。乃知養生。</p>
<p>三月如咀。咀者何。曰五味。五味何。曰五臟。酸主脾。咸主肺。辛主腎。苦主肝。甘主心。五臟已具。而後生肉。脾生膈。肺生骨。腎生腦。肝生革。心生肉。五肉已具。而後發為九竅。脾發為鼻。肝發為目。腎發為耳。肺發為竅。五月而成。十月而生。生而目視耳聽心慮。目之所以視。非特山陵之見也。察於荒忽。耳之所聽。非特雷鼓聞也。察於淑湫。心之所慮。非特知於粗粗也。察於微眇。</p>
<p>為則曰。五臟六腑。四肢百骸之論。諸書各異。要之其旨皆以理推之。論說之辭也。蓋五臟六腑。四肢百骸九竅。皆造化之所為。而非人之所為也。醫家率以陰陽五行之理論之。療之無有寸效矣。疾醫不然。以造化不混於人事。萬病唯為一毒。去其毒。則目之不明也明。耳之不聞也聞。其為術可以知矣。不能為而論之。臆而無益。君子不為。</p>
<p>遇者兼和。然則天無疾風。草木發奮。鬱氣息。民不疾而榮華蕃。</p>
<p>死死生生。因天地之形。天地之形。聖人成之。</p>
<p>不思。不慮。不憂。不圖。利身體。便形軀。養壽命。垂拱而天下治。</p>
<p>思索生知。慢易生憂。暴傲生怨。憂鬱生疾。疾困乃死。思之而不捨。內因外薄。不蚤為圖。生將巽舍。</p>
<p>為則曰。憂鬱生疾。是甚不然。夫七情者氣也。雖憂鬱。逢喜有時忽消。雖逢喜。憂鬱或時不消。是因憂而有毒。聚而不去也。疾者毒也。無毒而不病。故治術唯去毒耳。學者思諸。</p>
<p>凡人之生也。天出其精。地出其形。合此以為人。和乃生。不和不生。察和之道。其精不見。其徵不醜。平正擅胸。論治在心。此以長壽。</p>
<p>桓公曰。善哉。牧民何先。管子對曰。有時先事。有時先政。有時先德。有時先怒。飄風暴雨不為人害。涸旱不為民患。百川道。年穀熱。糴貨賤。禽獸與人聚食。民食。民不疾病。</p>
<p>當春三月。荻室熯造鑽燧。易火抒（抒引而泄之也又渫水也）井易水。所以去茲毒也。</p>
<p>夏有大露。原煙噎下。百草人採。食之傷人。人多疾病而不止。云云。大寒。大暑。大風。大雨。其至不時者。此謂四刑。或遇以死。或遇以生。君子避之。是亦傷人。</p>
<p>為則曰。天令不傷人。以此足知。或遇以死。或遇以生。是無它。遇天令而內毒動而死者有之。天令而內毒去而生者有之。均是天令。生死不同。不可預知也。故君子避之。後世醫家計之論之。妄哉噫。</p>
<p>起居時。飲食節。寒暑適。則身利而壽命益。起居不時。飲食不節。寒暑不適。則形體累而壽命損。</p>
<p>修行慢易。則汙辱生矣。故曰。邪氣襲內。正色乃衰也。</p>
<p>人君唯母好全生。則群臣皆全其生。而生又養。生養何也。曰滋味也。聲色也。然後為養生。然則從欲妄行。男女無別。反於禽獸。然則禮義廉恥不立。人君無以自守也。故曰。全生之說勝。則廉恥不立。</p>
<p>民之能已民疾病者。置之黃金一斤。直食八石。</p>
<p>晏子春秋曰。景公疥且瘧。暮年不已。召會譴梁丘據晏子而問焉。曰。寡人之疾病矣云云。改月而君病悛。</p>
<p>為則曰。此文與左傳同。故不枚舉。</p>
<p>景公病水。臥十數日。夜夢與二日鬥。不勝。晏子朝。公曰。夕者夢與二日鬥。而寡人不勝。我其死乎。晏子對曰。請召占夢者。出於閨。使人以車迎占夢者。至。曰曷為見召。晏子曰。夜者公夢二日與公斗不勝。公曰。寡人死乎。故請君占夢。是何為也。占夢者曰。請反其書。晏子曰。毋反書。公所病者陰也。一陰不勝二陽。故病將已。以是對。占夢者入。云云。居三日。公病大愈。</p>
<p>景公病疽。在背。高子國子請公曰。職當撫瘍。高子進而撫瘍。公曰熱乎。曰熱。熱何如。曰如火。其色何如。曰如未熟李。大小如何。曰如豆。墮者何如。曰如屨辨。二子者出。晏子請見。公曰。寡人有病。不然勝衣冠。以出見夫子。其辱視寡人乎。晏子入。呼宰人。具盥。御者具巾。刷手溫之。發席傳薦。跪請撫瘍。公曰。其熱何如。曰如日。其色何如。曰如蒼玉。大小何如。曰如璧。其墮者何如。曰如珪。晏子出。公曰。吾不見君子。不知野人之拙也。</p>
<p>景公疥遂痁。云云。</p>
<p>為則曰。左傳之文。大同小異。故不枚舉。</p>

<h1>卷二</h1>
<p>荀子曰。西有木焉。名曰射干。莖長四寸。生於高山之上。而臨百仞之淵。木莖非能長也。所立者然也。（本草藥名有射干。一名烏翣。陶弘景曰。花白莖長。如射人之執竿。又引阮公詩云。射干臨層城。是生於高處也。據本草在草部中。又生南陽川穀。此云西方有木。末詳或曰。長四寸即是草。云木誤也。蓋生南陽亦生西方也。）</p>
<p>扁（讀為辨）善之度。以治氣養生。則後彭祖。以修身自名。則配堯禹。宜於通時。利以處窮。禮信是也。凡用血氣。走意知慮。由禮則治通。不由禮則勃亂提僈。食飲衣服。居處動靜。由禮則和節。不由禮則觸陷生疾。容貌態度。進退趨行。由禮則雅。不由禮則夷固辟違。庸眾而野。故人無禮則不生。事無禮則不成。國家無禮則不寧。詩曰。禮儀卒度。笑語卒獲。此之謂也。人之有半何哉。我欲屬之狂惑疾病也。則不可。聖王又誅之。</p>
<p>五疾上收而養之。材而事之。（五疾。瘖聾跛躄斷者侏儒。各當其材使之。謂若矇瞽修聲聾聵司火之屬。）官施而衣食之。兼覆無遺。才行反時者。死無赦。夫是之謂天德。王者之政也。</p>
<p>罔罟毒藥不入澤。不夭其生。不絕其長也。（毒藥。毒魚之藥。周禮雍氏禁澤之酖者。）彼得之。不足以藥傷補敗。</p>
<p>人主不能不有遊觀安燕之時。則不得不有疾病物故之變焉。如是國者事物之至也。如泉源。一物不應。亂之端也。</p>
<p>人莫貴乎生。莫樂乎安。所以養生樂安者。莫大乎禮義。人知貴生樂安。而棄禮義闢之。是猶欲壽而刎頸。愚莫大焉。</p>
<p>疾癢緩急之有相先者也。（癢與養同）</p>
<p>養備而動時。則天不能病。修道而不貳。則天不能禍。故水旱不能使之飢渴。寒暑不能使之疾。</p>
<p>為則曰。醫書謂。六氣傷於人。冒於人。而建之治方。其誤可以知矣。無毒之人不所傷焉。不所冒焉。蓋荀子天論一篇。熟讀玩味。而疾醫之道可闡明也。</p>
<p>人苟生之為見。若者必死。苟利之為見。若者必害。</p>
<p>為則曰。生死者非人之所主。故疾醫不言也。且荀子以此語。其有害於事實。可覺知也。</p>
<p>醉者越百步之溝。以為蹞步之澮也。俯而出城門。以為小之閨也。酒亂其神也。</p>
<p>傷於濕而擊鼓。鼓痹。則必有弊鼓喪豚之費矣。而未有俞疾之福也。</p>
<p>為則曰。傷於濕。疑非疾醫之語。</p>
<p>性傷。為之病。</p>
<p>疾養㿋熱。滑鈹輕重。以形體異。</p>
<p>為則曰。以形體異。則無毒人不病。亦可知也。</p>
<p>故向（讀為享獻也。謂受其獻也。）萬物之美。而盛憂。兼萬物之利。而盛害。如此者。其求物也。養生也。粥壽也。（也皆當為耶。問之辭。）故欲養其欲。而縱其情。欲養其性。而危其形。欲養其樂。而攻其心。欲養其名。而亂其行。如此者。雖封侯稱君。其與夫盜無以異乘軒戴絻。（與冕同）夫是之謂以己為物役矣。</p>
<p>八十者。一子不事。九十者。舉家不事。廢疾非人不養者。一人不事。</p>
<p>良醫之門多病人。檃括之側多枉木。</p>
<p>文子曰。老子曰。萬物之總。皆開一孔。萬事之根。皆出一門。故聖人一度循軌。不變其故。不易其常。放准循繩。曲因其常。夫喜怒者道之衰也。憂悲者德之失也。好憎者心之過也。嗜欲者生之累也。人大怒破陰。大喜墜陽。薄氣廢音。驚怖為狂。憂悲焦心。疾乃成積。人能除此五者。即含於神明。得其內者五藏寧。</p>
<p>為則曰。道家之論。而疾醫不取。</p>
<p>又曰。老子曰。人受天地變化而生。一月而膏。二月而血脈。三月而胚。四月而胎。五月而筋。六月而骨。七月而成形。八月而動。九月面躁。十月而生。</p>
<p>為則曰。此論說之辭。疾醫不取。</p>
<p>眾人皆知利。而不知病。聖人知病之為利利之為病。故再實之木。其根必傷。掘藏之家。其後必殃。夫大利者反為害。天之道也。關尹子曰。人之平日。目忽見非常之物者。皆精有所結而使之然。人之病日。目忽見非常之物者。皆心有所歉而使之然。</p>
<p>為則曰。精可謂結也。氣不可謂結也。何則。氣者無形。精者有形。無形不可結也。此語勝班固遠矣。</p>
<p>曰。心臆者猶忘飢。心忿者猶忘寒。心養者猶忘病。心激者猶忘痛。苟吸氣以養其和。孰能飢之。存神以滋其暖。孰能寒之。養五臟以五行。則無傷也。孰能病之。歸五臟於五行。則無知之。孰能痛之。</p>
<p>曰。人之一呼一吸。日行四十萬里化。可謂速矣。唯聖人不存不變。</p>
<p>為則曰。並皆論說之辭。</p>
<p>曰。爪之生。發之長。榮衛之行。無頃刻止。眾人皆見之於著。不能見之於微。聖人任化。所以不化。</p>
<p>曰。金玉難捐。土石易舍。學道之士。遇徵（徵當作微）言妙行。慎勿執之。是可為而不可執。若執之。則腹心之疾。無藥可療。</p>
<p>為則曰。榮衛二字。古書始見焉。榮衛者蓋氣血也。</p>
<p>曰。聖人太言金玉。小言桔梗芣苡。用之當。桔梗芣苡生之。不當。金玉斃之。</p>
<p>亢倉子曰。終生之者天地也。養成之者人也云云。草鬱則為腐。樹鬱則為蠹。人鬱則為病。國鬱則百惹並起。</p>
<p>為則曰。是亦道家之說。非疾醫之語。</p>
<p>子華子曰。醫者理也。理者意也。藥者瀹也。瀹者養也。腑臟之伏也。血氣之留也。空竅之塞也。關鬲之礙也。意其所未然也。意其所將然也。察於四然者而謹訓於理。夫是之謂醫。以其所有餘也。而養其所乏也。</p>
<p>為則曰。是陰陽醫之說。而非疾醫之論也。蓋子華子。晉人程本撰。有偽作之說。然劉向校定其書。則其所來尚矣。而此論今之醫家。許叔微以降。據此以為大害疾醫之道。故不必問真贗。唯以古語辨斥其誤。醫者理也。理者意也。是誤也。夫醫者掌治疾病。治疾病者方也。方者聚毒藥以為方。扁鵲曰。視毒之所在。病應見於大表。蓋醫者技也。何以意為。其誤已見於王充論衡。藥者瀹也。瀹者養也。是亦誤也。藥皆毒。有攻之意。無養之意。詳辨於答問書。因亦不贅。</p>
<p>長短頡牾。百疾俱作。時方疾癘。道有繈屓。盲禿狂傴萬恬以生。所以然者。氣之所感故也。</p>
<p>為則曰。夫氣者造化之司。而非人事也。故無益於治。是以疾醫不論。學者察諸。</p>
<p>劉子新論曰利害者得失之本也。得失者成敗之源也。云云。夫內熱者飲毒藥。非不害也。</p>
<p>疽痤用砭石。非不痛也。然而為之者。以小痛來而大痛減。則細害至。巨害除也。</p>
<p>鄧析子曰。患生於官成病始於少瘳。禍生於懈慢。孝衰於妻子。此四者慎終如始也。</p>
<p>鬼谷子曰。病者感衰氣。是不神也。</p>
<p>為則曰。是亦非疾醫之語。</p>
<p>戰國策曰。醫扁鵲見秦武王。王示之病。扁鵲請除。左右曰。君之病。在耳之前目之下。除之未必已也。將使耳不聰目不明。君以告扁鵲。鵲怒而投其石。（石砭石）曰。君與知之者謀之。而與不知者敗之。使此秦國之政也。則君一舉而亡國矣。</p>
<p>為則曰。今世亦然。治療誠難知。其知之人療之。而不知之人妄評之。是扁鵲所謂一舉亡之之謂乎。</p>
<p>以天下擊之。譬猶以千鈞之弩潰癰也。</p>
<p>良醫知病人之生死。</p>
<p>為則曰。知死生非疾醫之事。知之不知。醫者病者。皆共無益。學者思諸。</p>
<p>臣未嘗聞指大於臂。臂大於股。若有此。則病必甚矣。今求茈胡桔梗於沮澤。則累世不得一焉。及之睪黍梁父之陰。則郗車而載耳。</p>
<p>客有獻不死之藥於荊王者。謁者操以入。中射之士問曰。可食乎。曰可。因奪而食之。王怒使人殺中射之士。中射之士。使人說王曰。臣問謁者。曰可食。臣故食之。是臣無罪而罪在謁者也。且客獻不死之藥。臣食之而王殺臣。是死藥也。王殺無罪之臣。而明人之欺王。王乃不殺。</p>
<p>病鉤（所謂臂短也）身大臂短。不能及地。</p>
<p>謂韓相國曰。人之所以善扁鵲者。為有臃腫也。使善扁鵲而無臃腫也。則人莫之為之也。臣鄰家。有遠為吏者。其妻私人。其夫且歸。其私之者憂之。其妻曰。公勿憂也。吾已為藥酒。以待之矣。</p>
<p>韓非子曰。秦之有韓。若人之有心腹之病也。虛處則㤥然（㤥妨也。心腹虛也。而為妨。）若居濕地。著而不去。以極走則發矣。天有大命。人有大命。夫香美脆味。厚酒肥肉。甘口而疾形。曼理皓齒。說情而捐精。故去甚去泰。身乃無害。</p>
<p>與死人同病者。不可生也。與亡國同事者。不可存也。</p>
<p>為則曰。非疾醫之事。</p>
<p>醫善吮人之傷。含人之血。非骨肉之親也。利所加也。</p>
<p>人有禍則心畏恐。心畏恐則行端直。行端直則思慮熟。思慮熟則得事理。行端直則無禍害。</p>
<p>無禍害則盡天年。得事理則必成功。盡天年則全而壽。必成功則富與貴全。壽富之為福。而福本於有禍。故曰。禍兮福之所倚。以成其功也。</p>
<p>人處疾則貴醫。有禍則畏鬼。聖人在上。則民少欲。民少欲則血氣活。而舉動理。舉動理則少禍害。夫內無痤疽癉痔之害。而外無刑罪法誅之禍者。</p>
<p>憂則疾生。疾生而智慧衰。智慧衰則失度量。失度量則妄舉動。妄舉動則禍害至。禍害至而疾嬰內。疾嬰內則痛禍薄外。痛禍薄外。則苦痛雜於腸胃之間。苦痛雜於腸胃之間。則傷人也。</p>
<p>嗜欲無限。動靜不節。則痤疽之爪角害之。</p>
<p>良醫之治病也。攻之於腠理。此皆爭之於小者也。</p>
<p>為則曰。非疾醫之辭。腠理即表也。</p>
<p>勾踐入官於吳。身執干戈為吳王洗馬。故能殺夫差於姑蘇。文王見詈於王門。顏色不變。而武王擒紂於牧野。故曰守柔曰強。越王之霸也。不病官。武王之王也。不病詈。故曰。聖人之不病也。以其不病。是以無病也。</p>
<p>扁鵲診桓公云云。</p>
<p>為則曰。扁鵲診桓公。韓非子與史記頗有異同。各傳其所聞。是以不一也。故解書非其人則難為信可知矣。凡事不躬親為而得。則謹不可言。故曰。君子行言。小人舌言。不為而言之。是非聖門之學。而漢儒往往有此弊也。</p>
<p>諺云。巫咸雖善祝。不能自祓。秦醫雖善除。不能身彈。</p>
<p>聞古扁鵲之治病也。以刀刺骨。聖人之救危國也。以忠拂耳。刺骨故小痛在體。而長利在身。拂耳故小逆在心。而久福在國。故甚病之人。利在忍痛。猛毅之君。福以拂耳。忍痛故扁鵲盡巧。拂耳則子胥不失壽安之術也。病而不忍痛。則失扁鵲之巧。危而不拂耳。則失聖人之意。如此長利不遠垂。功名不久立。</p>
<p>夫良藥苦口。而智者勸而飲之。知其入而已疾也。忠言拂於耳。而明主聽之。知其可以致功也。</p>
<p>為則曰。史記。漢書。並良作毒。今從之。</p>
<p>能使彈疽者。必其忍痛者也。</p>
<p>夫痤疽之痛也。非刺骨髓則煩心不可支也。非如是不能使人以半寸砥石彈之。今人主之於治亦然。</p>
<p>今有法曰。斬首者。令為醫匠。則屋不成而病不已。夫匠者手巧也。而醫者齊藥也。而以斬首之巧為之。則不當其能。</p>
<p>夫彈痤者痛。飲藥者苦。為苦憊之不故。彈痤飲藥。則身不活。病不已矣。</p>
<p>慈母之於弱子也。愛不可為前。（不可先以愛養之也）而弱子有僻行。使之隨師。有惡病。使之事醫。不隨師則陷於刑。不事醫則疑於死。慈母雖愛。無益於振刑救死。則存子者非愛也。</p>
<p>是以明主以功論之內。而以利資之外。是故國治而敵亂。即亂亡之道。臣憎則起外若眩。臣愛則起內若藥。</p>
<p>民食果蓏蚌蛤。腥臊惡臭而傷害腸胃。民多疾病。有聖人作。鑽燧取火以化腥臊。而民說之。使王天下。號之曰燧人氏。</p>
<p>夫嬰兒不剔首則腹痛。（首病不治。則加痛也）不副痤則寢益。（謂癰也。副威而潰之。披副也。）剔首副痤必一人抱之。慈母治之。然猶啼呼不止。嬰兒子不知犯其所小苦致其所大利也。</p>
<p>呂氏春秋曰。肥肉厚酒。務以相強。命之曰爛腸之食。（老子曰。五味入口爽傷。故謂之爛腸之食也。）</p>
<p>為則曰。嘗治嗜酒人之病。諸證盡治。苦煩皆止。而猶未復。故正氣昏盲。如安睡。於是無術可施。無奈之何。果死則吐濁水數升矣。因悟敖飲過酒之人。若肥滿充盈。非肉而腫也。爾後療酒客。顯症治而後用紫圓。必吐黑水濁水。羸膌日甚而壯健日愈也。宜哉曰爛腸之食。</p>
<p>室大則多陰。臺高則多陽。多陰則蹷。多陽則痿。此陰陽不適之患也。是故先王不處大室。不為高臺。味不眾珍。衣不燀熱。燀熱則理塞。（腠理）理塞則氣不達。味眾珍則胃充。胃充則中大鞔。（鞔讀曰懣。不勝食氣。為懣病也。）中大鞔而氣不達。以此長生可得乎。</p>
<p>為則按蹷痿。高誘注為疾。非也。蹷蹶同跳蹶也。痿不能行也。室大則暗處多而蹶。臺高則痿弱而不能行。此正所禁陰陽不適之患也。</p>
<p>聖人深慮。天下莫貴於生。夫耳目鼻口生之役也。耳雖欲聲。目雖欲色。鼻雖欲芬香。口雖欲滋味。害於生則止。在四官者。不欲利於生者。則弗為。由此觀之。耳目鼻口不得擅行。必有所制。譬之若官職。不得擅為。必有所制。此貴生之術也。</p>
<p>天生人而使有貪有欲。欲有情。情有節。聖人修節以制欲。故不過行其情也。</p>
<p>百病怒起云云。</p>
<p>為則曰。是非疾醫之論也。夫怒者非病。情也。病者非情。毒也。故因怒而毒動則病。毒不動則雖怒不病。</p>
<p>天生陰陽。寒暑燥濕。四時之化。萬物之變。莫不為利。莫不為害。聖人察陰陽之宜。辨萬物之利。以便生。故精神安乎形。而年壽得長焉。長也者非短而續之也。畢其數也。</p>
<p>為則曰。順者利時。逆者害時。精神內守。情欲外節。則形性安。形性安。則壽命長。</p>
<p>畢數之務。在乎去害。何謂去害。大甘大酸大苦大辛大咸。五者克形。則生害矣。大喜大怒大憂大恐大哀。五者接神。則生害矣。大寒大熱大燥大風大濕大霖大霧。七者動情。則生害矣。故凡養生。莫若知本。知本則疾無由至矣。</p>
<p>為則曰。夫人生可入於形體內者。飲食也。而守節不過。則無病壯健也。失節大過。則病生羸弱也。而又其飲食不通利於二便。則糟粕留滯於內為穢物。命之曰郁毒。是即病也。故疾醫為萬物唯一毒。而去其毒。其毒以汗吐下而解去。則諸病疾苦盡治焉。扁鵲沒而後。未曾聞有為一毒治疾者。宜哉漢諺有病而不服藥當中醫之譏矣。</p>
<p>精氣之集也。必有入也。集於羽鳥。與為飛揚。集於走獸。與為流行。集於珠玉。與為精朗。集於樹木。與為茂長。集於聖人。與為夐明。（集皆成也。夐大也遠也。）精氣之來也。因輕而揚之。因走而行之。因美而良之。因長而養之。因智而明之。流水不腐。戶樞不螻。動也。形氣亦然。形不動則精不流。精不流則氣鬱。（為則曰。氣非可郁。精不流則。鬱而為毒。有毒則氣不行也。）郁處頭則為腫為風。處耳則為挶為聾。處目則為䁾為盲。處鼻則為鼽為窒。處腹則為張為府。（府跳動皆腹疾）處足則為痿為蹷。輕水所多禿與癭人。（癭咽疾）重水所多鼽（尰足也）與躄人。甘水所多好與美人。辛水所多疽與痤人。苦水所多尫與傴人。（尫突胸。仰向疾也。傴瘠疾也。）凡食無強厚味。無以烈味重酒。是以謂之疾首。（疾之首也）食能以時。身必無災。凡食之道無飢無飽。是之謂五藏之葆。（安也）口必甘味和精端容。將（養也）之以神氣。百節虞歡。咸進受氣。飲必小咽。端直無戾。今世上卜筮禱祠。故疾病愈來。譬之若射者射而不中。反修於招。（一作的）何益於中。夫以湯止沸。沸愈不止。去其火則止矣。故巫醫毒藥。逐除治之。故古之人賤之也。為其末也。</p>
<p>為則曰。夫疾者因情欲妄動。飲食過度。而毒生焉。聖人憂之。作禮以遠其害也。建男女之別。戒以色欲。建飲酒之禮。避以沉酗。建食餌之禮。節以飲食。從之則毒不生。病不至盡天數矣。蓋既毒生則病至。病至則以毒藥治之。其原率莫不由飲食情欲。故古之人賤之也。治病為其末也。吾於是益知萬病唯一毒。退見扁鵲傳。扁鵲亦然。於是治萬病無違戾矣。</p>
<p>問曰。常無病而有好食河豚魚者。常有病而好食河豚魚者。而終俱不毒。或時俱食。而多病之人者不毒。無病之人者毒而死如何。</p>
<p>答曰。生死者我不知。於是藥之瞑眩可知也。毒動則瞑眩。疾乃瘳。弗動則弗瞑眩。弗瞑眩則疾乃弗瘳。今食河豚魚。瞑眩吐瀉而死。或吐血而死。死同矣。故謂死生不可知也。蓋死病有其證。用大毒藥死。病者不瞑眩。瞑眩則疾乃瘳。以是大病用大毒。何為束手俟斃也哉。</p>
<p>四月聚蓄百藥。糜草死。</p>
<p>是救病而飲之以堇也。</p>
<p>文王寢疾五日。而地動。東南西北不出國郊。百吏皆請曰。臣聞地之動為人主也。今王寢疾五日。而地動。四面不出周郊。群臣皆恐曰。請移之。文王曰。不可。夫天之見妖也。以罰有罪也。我必有罪。故天以此罰我也。今故興事動眾。以增國城。是重吾罪也。不可。文王曰。昌也請改行重善以移之。其可以免乎。於是謹其禮秩皮革。以交諸侯。飾其辭令幣帛。以禮豪士。頒其爵列等級田疇。以償群臣。無幾何疾乃止。文王即位八年而地動。已動之後四十三年。凡文王立國五十一年而終。此文王之所以止殃翦妖也。</p>
<p>若用藥者然。得良藥則活人。（中於病毒為良）得惡藥則殺人。（不中於病毒為惡）義兵之為天下良藥也。亦大矣。</p>
<p>陽城胥渠處。廣門之官夜款門而謁曰。主君之臣胥渠有疾。醫教之曰。得白騾之肝。病則止。不得則死。謁者入通。董安於御於側。慍曰。譆胥渠也。期吾君騾。請即刑焉。簡子曰。夫殺人以活畜。不亦不仁乎。殺畜以活人。不亦仁乎。於是召庖人。殺白騾。取肝以與陽城胥渠。處無幾何。趙興兵而攻翟。廣門之官在七百人右七百人皆先登而獲甲者。人主其胡可以不好士。</p>
<p>人或曰。菟絲無根。菟絲非無根也。其根不屬也。茯苓是。慈石召鐵。或引之也。</p>
<p>為則曰。是之謂論說之辭。</p>
<p>仁人之得飴。以養疾侍老也。蹠與企足。（企足。莊蹻也。大盜人）得飴以開閉取楗也。發蓋藏。起大眾。地氣沮泄。是謂發天地之房。諸蟄則死。民多疾疫。又隨以喪。命之曰暢月。齊王疾痏。使人之宋迎文摯。文摯至。視王之疾。謂太子曰。王之疾必可已也。雖然王疾已則必殺摯也。太子曰。何故。文摯對曰。非怒王疾不可治。怒王則摯必死。太子頓首強請曰。苟已王之疾。臣與臣之母。以死爭之於王。王必倖臣與臣之母。願先生之勿患也。文摯曰。諾。請以死為王。與太子期。而將往不當者三。齊王固已怒矣。文摯至。不解屨登床。履王衣。問王之病。王怒而不與言。文摯因出辭。以重怒王。王叱而起。疾乃遂已。王大怒。不說。將生烹文摯。太子與王后急爭之。而不能得。果以鼎生烹文摯。爨之三日三夜。顏色不變。文摯曰。誠欲殺我。則胡不覆之以絕陰陽之氣。王使覆之。文摯乃死。夫忠於治世易。忠於濁世難。文摯非不知活王之疾而身獲死也。為太子行難以成其義也。</p>
<p>為則曰。是亦非疾醫之事。</p>
<p>樂正子春下堂而傷足。瘳而數月不出。猶有憂色。門人問之曰。夫子下堂而傷足。瘳而數月不出。猶有憂色。敢問其故。樂正子春曰。善乎而問之。吾聞之曾子。曾子聞之仲。尼父母全而生之。子全而歸之。不虧其身。不損其形。可謂孝矣。君子無行咫步而忘之。余忘孝道。是以憂。故曰。身者非其私有也。嚴親之遺躬也。民之本教曰孝。其行孝曰養。養可能也。敬為難。敬可能也。安為難。安可能也。卒為難。父母既沒。敬行其身。無遺父母惡名。可謂能終矣。譬之若良醫。病萬變。藥亦萬變。病變而藥不變。向之壽民。今為殤子矣。</p>
<p>為則曰。此語無實見而用。則為迷亂之端也。實見何也。自為而實得之。即是也。如陰陽之醫不然。以陰陽五行為定則矣。彼陰陽五行者天事也。不可為人事之法則矣。病者人事也。以天事不可測度也。然而陰陽之醫以此為法則。故病證同。而師弟所見必異也。如疾醫以毒之所在處方。證若變則方隨變。乃扁鵲所謂病應見於大表是也。故病證同。則師弟所見必同。倘異非法也。夫病者毒也。治之方無它。去其毒而已矣。欲識以此方去此毒。自為而後可知也。躬不親為。而徒以師傳欲為之。譬如長劍未嘗學人而期斷於鏌鋣。豈可得乎。知毒之所在。處方而不知應見於大表。但處方欲治病。譬如刻於舟求劍。亦何可得乎。蓋視毒之所在。隋發其毒之證而處方。仍毒之所在如故。而證異於毒之所在。則因其異而異其方。是故苟無實見。書不可解也。人孰謂之妄言。</p>
<p>曰。常之巫審於死生。能去苛病。猶尚可疑耶。管仲對曰。死生命也。苛病失也。君不任其命守其本。而恃常之巫。彼將以此無不為也。</p>
<p>為則曰。失養生修身之節。則毒生。是即病也。奚用巫哉。無益於病。反為妖惑。宜哉。管仲之言乎巫彭作醫。</p>
<p>凡人三百六十節九竅五臟六腑。肌膚欲其比也。血脈欲其通也。筋骨欲其固也。心志欲其和也。精氣欲其行也。若此則病無所居。而惡無因生矣。病之留。惡之生也。精氣鬱也。故水鬱則為汙。樹鬱則為蠧。草鬱則為蕢。國亦有郁。主德不通。足欲不達。此國之郁也。國郁處久。則百惡並起。而萬災叢至矣。</p>
<p>今有良醫於此。治十人而起九人。所以求之萬也。故賢者之致功名也。比乎良醫。而君人者。不知疾求。豈不過乎。越之於吳也。譬若心腹之疾也。雖無作其傷。深而在內也。夫齊之於吳也。疥癬之病也。不苦其已也。且其無傷也。知不知上矣。過者之患。不知而自以為知。物多類。然而不然。故亡國僇民無已。夫草有莘有藟。獨食之則殺人。合而食之則益壽。萬堇不殺。漆淖水合兩淖。則蹇。涇之則為乾金。柔錫柔合兩柔則為剛。燔之則為焯。或涇而干。成燔而淖。類固不必可推知也。小方太方之類也。小馬大馬之類也。小智非大智之類也。魯人有公孫悼者。告人曰。我能起死人。人問其故。對曰。我固能治偏枯。今吾倍所以為偏枯之藥。則可以起死人矣。物固有可以為小。不可以為大。可以為半。不可以為全者也</p>
<p>為則曰。余嘗繼父祖之業。既欲行之。無規矩準繩。以臆傳之。固不可為。於是乎廣尋醫之可以為規矩準繩者矣。而漢以降疾醫之道熄而不炳。陰陽之醫隆而不息。夫陰陽醫者以五行為規矩準繩。滔滔者天下皆是也。蓋陰陽五行者造化之事。而非人事也。何為以是為人之疾病之法則哉。嗚呼甚矣我之愚。世咸為之。我獨不能。唯忙忙然如望大洋。無奈之何。已而奮發曰。書不言乎。學於古訓有獲。於是乎涉獵漢以上之書。至呂氏春秋盡數郁達二篇。拍節仰天而嘆曰。嗟聖人之言。信而有徵。是治病之大本。良又萬病唯一毒之樞機也。既已獲治病之大本為一毒。則盍獲治之規則。嗟是天乎。聖人乎。抑亦求之之誠乎。夫誠者天之道也。誠之者人之道也。故誠之外無天。誠之外無聖人。誠學之之外無君子。夫誠者不思而得。不勉而中。故求而不止。則自然得乎其身。是誠也。誠者天之道也。敬天守天職者。人之道也。勉不息則有獲。有獲謂之有誠於身。誠者無賢愚一也。何憂我愚哉。唯誠學古訓。在乎獲之而已矣。</p>
<p>又曰。或問曰。郁從何起。答曰萬事節。則國家治。身體修。百殃不起。故飲食起居。萬端慎節。惟養生最節第一也。</p>
<p>史記三皇本紀曰。以赭鞭鞭草木。始嘗百草。始有醫藥。</p>
<p>為則曰。以赭鞭鞭草木。聖人之事無論。然不可以為訓。夫教者教常人之事也。常人不能為訓。非教也。因疑此世傳焉。且夫方也者。天下萬民之方。而非一人之所能制也。何則。用而有徵。然後為方。苟不試而為方。是臆耳。豈足為方哉。為則謹謂。蓋神農氏憂萬民之疾病之聖人也。故聚其方以備焉。孔子曰。周鑑於二代。鬱郁乎文哉。吾從周。方之雖聖人不成於一人之手。可以知矣。今傳於世神農本經疑偽作也。</p>
<p>始皇本紀曰。使韓終侯公石生求仙人不死之藥。所不去者。醫藥卜筮種樹之書。</p>
<p>為則曰。始皇求仙藥。雖百方終毫無有效。不足道耳。</p>
<p>高祖本紀曰。漢王傷胸乃捫足曰。虜中吾指。漢王病創。臥。張良強請漢王。起行勞軍。以安士卒。毋令楚乘勝於漢。漢王出行軍。病甚。因馳入成皋。</p>
<p>高祖擊布時。為流矢所中。行道病。病甚。呂后迎良醫。醫入見。高祖問醫。醫曰。病可治。於是高祖嫚罵之曰。吾以布衣持三尺劍取天下。此非天命乎。命乃在天。雖扁鵲何益。遂不使治病。</p>
<p>孝武本紀曰。天子病鼎湖。甚。巫醫無所不致。至不愈。游水髮根。乃言曰。上郡有巫。病而鬼下之。上召置。祠之甘泉。及病使人問神君。神君言曰。天子毋憂病。病少愈。強與我會甘泉。於是病愈。遂幸甘泉。病良已。大赦天下。置壽宮神君。</p>
<p>天地之道。寒暑不時則疾。</p>
<p>古者天地順而四時當。民有德而五穀昌。疾疚不作而無祅祥。此之謂大當。</p>
<p>趙世家曰。趙簡子疾。五日不知人。大夫皆懼。醫扁鵲視之出。董安於問。扁鵲曰。血脈治也。而何怪。云云。</p>
<p>為則曰。扁鵲之言可學焉。其它無論。語曰。不語怪力亂神。</p>
<p>留侯世家曰。毒藥苦口利於病。</p>
<p>為則曰。毒藥。家語又作良藥。疑後人之儳入。史漢皆作毒藥。可從。</p>
<p>商君列傳曰。語有之矣。貌言華也。至言實也。苦言藥也。甘言疾也。夫子果肯終日正言。鞅之藥也。</p>
<p>蘇秦列傳曰。臣聞。飢人所以飢而不食烏喙者。為其愈充腹而與餓死同患也。</p>

<h2>扁鵲傳評</h2>
<p>莊周有言曰。道為天下裂。豈唯聖人之道而已。疾醫摧而陰陽醫作。陰陽醫破而神仙醫興。自扁鵲沒數千載於茲。道之云廢。茅塞極矣。悲夫。疾醫則扁鵲。陰陽醫則淳于意。神仙醫則葛洪孫思邈。皆其選也。而淳于葛孫二家之為方也。無益於治療。有害於古訓。獨有扁鵲氏耳。今之人非質辨三家者之異同而明解之。披荊棘而脫陷澤之厄。欲以身置彼周行。豈可得乎哉。周行也者。大道也。謂疾醫之道也。扁鵲傳中。言之與事不可屬諸疾醫。而屬諸疾醫者有之。可附諸陰陽醫。而不附諸陰陽醫者有之。是班固所謂疏略牴牾者邪。太史公素不知扁鵲之為與淳于意相反。粗謂無大逕庭。方其撰傳。唯採舊記書序列之耳。未遑是正。至若乳長桑君之藥卜趙簡子之夢。即太史公豈不知之瞽說也。顧欲傳其信。故可信者存焉。疑者亦存焉。是其所以馳騁古今上下數千載之間。而該博浩大也。乃班之呫譁反唇。又庸傷乎。雖然。信信剖析真偽。而後傳可讀道可明也。學者思諸。自扁鵲者。至為名耳。為第一段。長桑君事妄誕固不足信矣。若曰飲彼懷中藥。因得以聖於醫。則今之人非遇神人。不可得而為扁鵲耶。孔子曰。道不遠人。人之為道而遠人。不可以為道。又曰。夫婦之愚可以與知焉。及其至也。雖聖人亦有所不知焉。夫婦之不肖。可以能行焉。及其至也。雖取人亦有所不能焉。即扁鵲聖於醫。亦學而至焉耳。何用戀戀願念神人為。自為醫至四萬畝。為第二段。趙簡子事亦黠譎。孟子所謂齊東野人之語。自其後至使起耳。為第三段。中庶子之言。即陰陽醫之言。宜哉扁鵲不取也。切脈望色。聽聲寫形。是素問所重。望問聞切之四術也。乃扁鵲則曰不俟四者。言病之所在。可見素問之說。不與扁鵲相吻合。並與聞病之陽。論得其陰。聞病之陰。論得其陽。及病應見於大表。皆疾醫之古訓。而扁鵲之所以聖於醫也。其說疾醫之道。至矣。盡矣。莫以尚焉。乃今之人不古訓是依。而欲直為扁鵲。多見其不知量也。何謂病之所為陰陽及見於大表。人告我以顯於外者。我乃診得伏於內者。人告我以伏於內者。我乃診得顯於外者。陰陽兩得之。隨證理劑。則其於已病。猶承蜩也。但論得語。疑非疾醫辭氣。診論相似。無乃有文字訛謬乎。屍蹷說。亦陰陽醫之言。並與治方皆不足信矣。至曰越人非能生死人也。此自當生者。越人能使之起耳。何其言之願款也。乃葛孫之徒真人自待。猥以長生可致。何其言之詐諼也。自扁鵲至侯遂死。為第四段。亦實齊東野人之語。自聖人至難治也。為第五段。蓋記者因事立論。以諷喻垂戒也。秦漢文每多此例。人之所病病疾多而醫之所病病道少。是必古語。何則。病狀之為變也。其麗弗億。莫有底止。苟非知所以為毒也一。則其於已病。猶拾瀋也。古之人或觀於醫乏承蜩之術。人抱拾瀋之憂。因發此嘆也。病有六不治。第四之不治說。亦必陰陽醫之言也。自扁鵲至扁鵲也。亦為一小段。按周官醫科有四。食醫也。疾醫也。瘍醫也。獸醫也。夫療帶下。療小兒。療耳目痹。是皆關疾醫手者。豈可區別。而後世立科名家。沾沾自矜。至相謂曰某疾吾長於療之。某疾彼長於療之。各得扁鵲一體。夫隨俗為變。自稱其科。淳于意猶所不屑也。而況扁鵲乎。道聽途說。實攘公羭。卑卑陋識。職此之由。不可不熟。凡五段。中間疏略。</p>

<h2>讀扁鵲之傳</h2>
<p>正義曰。秦越人與軒轅時扁鵲相類。乃號之曰扁鵲。又家於盧。因命之曰盧醫也。自扁鵲者至以診脈為名耳一段。記性名出處。世傳也。是長君之事。不足信矣。以言飲神人之禁方。而眼目瞭然。果然則不遇於神人則不成。遇神人則不學而可至。豈可尊信扁鵲哉。夫大道者無賢愚。學而可行。唯賢者特諭於大。愚者亦諭於小。故謂大道也。扁鵲可學。若不可學。則非所以稱古今名醫也。自為醫至田四萬畝二段。亦世傳也。自其後扁鵲至越人能使之起耳三段。中庶子所謂皆盡陰陽醫之論也。故扁鵲不取。自扁鵲仰天嘆曰。至尚溫也又一段。是越人之真言。末代醫家之龜鑑也。學之在茲。思之在茲。得之在茲。教之在茲。微此傳疾醫之道永捐拂地。是太史公之賜也。偉哉太史公之有功於醫。夫切脈望色聽聲寫形者。素問所謂望問聞切之四。知而不得之則不可為醫也。而扁鵲不俟之。言病之所在。則素難與扁鵲醫道之異可以見已。所謂病之所在者病毒也。聞病之陽。陽者顯也。聞病之陰。陰者隱也。聞病之顯證。搜索而知其陰毒也。（譬如聞下利讝語搜索而知有燥屎）聞病之隱證。搜索而知其陽毒也。（譬如聞煩悸之隱證而知動之所在）此語漢以降誤解。其故何也。疾醫道廢而陰陽醫舉焉。扁鵲者疾醫也。以疾醫之語。陰陽之醫解之。故多牽強。且無益於實事也。病應見於大表。是古今治法之規則也。非見於大表。則何以傳人。如陰陽醫則不見於大表。理以推其因。理者無有定軌。故見一病人。而師弟相反目。無規矩準繩也。扁鵲不然。以見於大表。定治方。故師弟無異。有規矩準繩也。自扁鵲曰若太子（虢太子說苑十八作趙太子。文亦少異可並考。）至二旬而復故也。又一段。世傳。疑非疾醫之語。且其方不傳。自故天下至能使之起耳。是又扁鵲之真言也。以是為古今之名醫可以見矣。自扁鵲過齊至桓侯遂死（裴駰云。謂是齊侯田和之子桓公午也。韓非子齊作蔡。）四段。世傳。疑非疾醫之事也。自使聖人預知微。至言脈者由扁鵲也。五段是疑太史公之言。因桓公之言太史公教戒於人也。人之所病病疾多。而醫之所病病道少。是太史公不知疾醫。故有此嘆邪。嗚呼。疾醫之湮滅亦已尚矣。夫疾醫者視萬物唯為一毒。故雖病千狀萬怪。其治之。見毒之所在而去其毒。則皆治。未嘗見不治者也。六不治之內。陰陽並藏氣不定。四不治也。是司馬遷所以不知疾醫也。以扁鵲為帶下醫。為耳目醫。為痹醫。為小兒醫。分科之誤。不足深尤也。</p>

<h2>扁鵲傳總論</h2>
<p>古今評史記漢書者。曰。傳之法以為漢書優史記。故史記廢而不行尚矣。以余觀之。史記何劣漢書乎。虛實並存。不妄用舍。唯世傳謹記。是傳之法也。班固者。察虛實加用舍。又從是非之。此非傳法也。蓋太史公謂。醫者主於脈。故始終以脈為文。雖然有一齟齬者。人之所諱。太史公豈不之知哉。知而書之。傳法也。偉哉。若微此傳。吾儕小人。千載之後。得知扁鵲乎。可貴可仰。其所以時有齟齬者。非醫也。古者醫有四。而太史公不之知。故扁鵲與倉公為一傳。且以淳于氏之言。為醫之正路。書於扁鵲之傳。以脈為始終貫接。其中間插入越人之為方也。不待切脈言病之所在之事。是非夫所謂文之齟齬乎。然不用取捨。唯事實謹記。傳之法也。假使太史公妄用取捨。則必去此語。則後世由何知扁鵲乎。偉哉太史公。行文之法奇而正慎之至也。固非諸子所企及也。</p>

<h1>卷三</h1>

<h2>太倉公傳</h2>
<p>此傳。總分四段。自太倉公。至喜醫方術。第一段。記淳于氏之出處也。自高後至多怨之者第二段。記受陽慶老人之法也。言黃帝扁鵲之脈書五色診病。此書今不傳。然為則考索其跡。淳于意之術。蓋陰陽醫而非疾醫。故其傳中往往失醫道。宜矣其所刑罪。自文帝四年至除肉刑法第三段。記淳于意坐法當刑少女緹縈敏達救刑也。自意家居至三十九歲也第四段。記治療傳書循業對問也。其論亦率非疾醫之論。又言有脈書上下經五色診奇咳術揆度陰陽外變藥論石神接陰陽禁書。亦不傳也。奇咳。正義云奇為奇經八脈也。奇經疾醫不取矣。奇咳有說種種。要亦皆陰陽之說。非疾醫之事。所謂不知而作說之類也。</p>
<p>以下醫案二十九條評。</p>
<p>齊侍御史成之條。</p>
<p>為則曰。淳于意以謂疽也。考病名其說臆而非疾醫之事。故不取也。扁鵲之法。視毒之所在。治之則病名不知不言而可也。成之病如太倉公之言。期而死。偶中耳。夫知死期病者與醫者無益。徒邀名利己。名利者諸道固可諱之。而學之。何不思之甚。五臟六腑十二經絡脈法之事。陰陽醫之事。疾醫不取。詳見於扁鵲傳。可考。</p>
<p>齊王中子之條。</p>
<p>為則曰。此病因之論。皆臆也。下氣湯方不傳。惜哉。言治功。則其方或可用矣。然以方命推知其為陰陽醫之方也。夫氣者天地造化之司。而非人之司也。何以毒藥得下氣哉。唯以毒藥去病毒。則無留滯。而氣自升降也。何以毒藥得升降於氣。其誤可知。</p>
<p>齊郎中令循之條。</p>
<p>為則曰。淳于意以謂湧疝也。中下熱而湧。故名湧疝。其治以中下熱為本與。以內為本與。此治難解。且用火齊湯。火齊湯者。劉河間曰。所謂黃連解毒湯也。劉氏由何言之。其出處不可知。故亡論。然言用之則必大便下利。因知其方中必有大黃之輩。然則淳于意所論與藥齊異矣。而藥乃有功焉。是淳于氏暗投冥行。而功建。乃不知不識暗合扁鵲之則也。學者思諸。</p>
<p>齊中御府長信之條。</p>
<p>為則曰。此病論。陰陽醫之論。而非疾醫之論也。夫疾醫不拘寒熱。苟欲從寒熱。則不能不建藥之寒熱。且視本草一味寒熱之論。人人異而不一定臆也。今用之。從曰寒與。從曰熱與。擇而不能取。又擇而不能捨。寧亦從我好惡。豈非臆而何。取其臆而為治法。奚治之有。於是親自正之。果無徵焉。所謂靜言庸違也。吾黨不用焉。</p>
<p>又曰。淳于氏以入水中為病因。是亦臆也。信冬日墮水中。而病與不病無它。因其毒之有無也。宜哉。扁鵲視毒之所在為治。</p>
<p>又曰。淳于氏因入水中言熱病言暑汗。而以火齊湯輩治之。以是雖陰陽醫。不拘於因。則其治可知。</p>
<p>齊王太后之條。</p>
<p>為則曰。淳于意曰。風癉客脬。又曰。病得之流汗出滫。又曰。風氣。是療流汗出滫乎。療風氣乎。蓋以火齊焉。如劉氏之說。則論與藥違矣。而有功矣。是非有淳于氏之功。而藥之有功也。凡以脈論疾。疾醫不為。見扁鵲之傳。足以知矣。</p>
<p>齊章武里曹山跗之條。</p>
<p>為則曰。此亦陰陽醫脈論。疾醫不取。然言形弊者不當關灸鑱石及飲毒藥者。是也。形弊者蓋言精虛。古語曰。攻病以毒藥。養病以谷內果菜。古昔雖陰陽醫。虛者不用毒藥針灸。亦可以見。</p>
<p>齊中尉潘滿如之條。</p>
<p>為則曰。此亦陰陽醫之論。於疾醫無益。其曰。卒然合合也。是脾氣也。此合者乃素問所謂五臟六腑之合也。而試之治療無效。學者詳諸。</p>
<p>陽虛侯之相趙章之條。</p>
<p>為則曰。太倉公曰。病得之酒。又曰。是內風氣也。是以酒為主為治乎。以風為主為治乎。此兩端不可辨。凡病論之無益。可以知矣。唯安穀者過期。是也。可見古人以穀肉養之。未曾以毒藥養之矣。又曰。皆為前分界法之句。不可解。</p>
<p>濟北王之條。</p>
<p>為則曰。此論亦陰陽醫之論。非疾醫扁鵲等之所論也。藥酒方後世不傳。瀺水。字書曰手足濕也。</p>
<p>齊北宮司空命婦出於（名也）之條。</p>
<p>為則曰。固亦非疾醫之論。其論病因。畢竟臆見。太倉公以火齊湯為治氣疝。與它例不合。</p>
<p>故濟北王阿母（索隱曰奶母也服虔曰乳毒也）之條。</p>
<p>為則曰。淳于意以謂。女子豎之病熱蹶也。刺法可試。病者與醫者無益。徒論病而無治方。皆贅言也。</p>
<p>齊中大夫之條。</p>
<p>為則曰。齲（杇也）齒後世有蟲齧之說。疾醫不拘。視毒之所在。去其毒。則齒固而不痛。乃後世血蟲之論誤也。不可從矣。苦參湯出於千金方之方乎。病因或曰風。或曰臥開口。或曰食而不嗽。將從何治之。太倉公之論。模稜乎。蓋臆也。</p>
<p>菑川王美人之條。</p>
<p>為則曰。淳于氏不言全證。唯言不乳。因用黃碭湯。是為後世所謂催生而用之。淳于氏實不知道。何則。藥皆毒而攻病之具也。妊娠天性而似人事非人事也。又似病非病也。毒藥不可用也明矣。大抵產前後以人事不可揣摩。唯任自然。則無難產之憂。本草中間論墮胎之藥。是食醫疾醫相混。誤矣。今妊娠十月中。有病而用大毒藥。病乃愈。未曾見有一人墮胎者。誠哉。古語曰。有故無損又無損。太倉公曰。脈躁躁者有餘病。即飲以消石一齊。夫以脈論病。疾醫不取。然今有堅塊。則用消石。消石乃有效。此美人乃然。言出血。則因塊用之明矣。雖淳于氏不知疾醫之道。不拘其產後。視其可用。乃用消石。亦非後世陰陽醫之所可企望。</p>
<p>齊丞相舍人奴之條。</p>
<p>為則曰。望色主病。且其論以五藏相生相剋之理。而言死期。反不言治法。病者與醫者無益。唯名利耳。奚學之有。</p>
<p>菑川王之條。</p>
<p>為則曰。凡此病論盡非疾醫之論。故不足評。唯此上衝之治法。以寒水拊其頭。是可為後世用瀑布濫觴也。</p>
<p>齊王黃姬兄黃長卿之條。</p>
<p>為則曰。此病與治法皆難信。言病得之好持重。縱令好持重大甚。無毒之人決不病。自重何關於要。是不臆則妄也。又言要以下者枯四分所。是毒也。無毒奚枯。又言柔湯。疾醫不言剛柔之齊。</p>
<p>濟北王侍者韓女之條。</p>
<p>為則曰。此論以天事混人事。誤也。月事者天事也。月月不違。故一曰月經。其月經或違者。以有毒也。去其毒。則如天性月事來何。今不知月事之故。安知有治法之藥哉。一曰內寒。一曰欲得男子而不可得。是臆也。而不論其治法。是謂之舌言。竄藥方不傳。</p>
<p>臨菑汜里女子薄吾之條。</p>
<p>為則曰。淳于氏以謂蟯瘕。（正義曰人腹中短蟲）夫腹大之因證用芫華。是疾醫之法。故有功矣。其他病因曰慼慼然。（戚縮少貌）又曰毛美奉發。（徐氏曰奉一作秦。秦謂螓首言發如螓螬事蓋近也。）又曰中藏無邪氣。及重病。以藏府論疾者。皆臆也。疾醫不論。為則又曰。重病不可解也。邪毒之外無病。無病則色澤。是必然矣。</p>
<p>齊淳于司馬之條。</p>
<p>為則曰。太倉公以謂。當病迴風。是非疾醫之論。雖後如其言不取。夫飽食而疾走。不病迴風者甚多矣。無它。病與不病者。由毒之有無也。陰陽醫不知此義。以臆論病。疾醫不然。視毒之所在。治其毒。故不言病之所因。</p>
<p>齊中郎破石之條。</p>
<p>為則曰。淳于氏以謂得之墮馬僵石上。即是墜墮之病也。以脈論之。不關墮馬。可知也。師言曰。病者安穀即過期。古人貴谷誠然。又曰陽處陰處可從病者之好矣。死之逆順。固不足論。</p>
<p>齊王侍醫遂之條。</p>
<p>為則曰。五石煉丹。疑是服食家之方也。中熱所謂中暑也。中寒所謂傷寒也。扁鵲之論。疑亦偽作。疾醫不論石之陰陽也。又曰邪氣闢矣。而宛氣愈深。為則云。邪之外。奚有宛。宜哉淳于意自謂。時時失之。以臆欲不失。豈可得乎。</p>
<p>齊王故為陽虛候時之條。</p>
<p>為則曰。此治暗合扁鵲所謂視病之所在。故有功矣。為則又曰。病得之內。是論與方異矣。故其所主不可知也。於是太倉公之論不可為教也明矣。</p>
<p>診安陽武都里成開方之條。</p>
<p>為則曰。淳于氏曰。瘖即死。瘖而未死也。是陰陽醫之論。假令剜屠腹內。而遂五藏六府不可見。理以推之。脈以為法。宜哉其違。</p>
<p>安陵阪里公乘項處之條。</p>
<p>為則曰。牡疝病名。非疾醫之名。其餘臆而不足論。</p>
<p>問臣意所診治病之條。</p>
<p>為則曰。夫度量規矩權衡繩墨皆器。而雖愚夫愚婦可知。若愚夫愚婦不可知。私而非公。公者天下之規矩。而私者不可以為公也。彼太倉公以陰陽脈理。配天地人。以別百病。此時變陰陽彷彿脈理以為規矩。故太倉公時時失之。況乎其生徒不可學也明矣。如扁鵲疾醫不然。不俟切脈。視毒之所在。隨證處方。雖生徒莫不然矣。</p>
<p>又曰。周禮疾醫有焉。陰陽醫無焉。古人不用亦可知矣。又曰。病名多相類。以脈別之。病名何益之有。</p>
<p>問臣意曰所期病之條。</p>
<p>為則曰。死生本不應期。依飲食喜怒。則論死生期無益。唯慎戒飲食喜怒。是病家養生最第一義也。</p>
<p>問臣意意方能知病死生之條。</p>
<p>為則曰。太倉公云。臣意家貧。欲為人治病。以是知太倉公失為醫之心也。夫醫者不拘貧富。視病人則如己病之。何拘乎貧富之間。</p>
<p>問臣意知文王之條。</p>
<p>為則曰。夫精不可藥治乃然。蓋本草不知此。藥皆毒。何養精之藥之有。蓄精喘。頭痛。目不明之證。吾未見焉。當慎診之勿過而可也。太倉公曰。氣者當調飲食。云云。此論後世醫家之龜鑑。然夫氣者無形。故非針藥所治。且本草養氣藥人參之類皆誤矣。</p>
<p>問臣意師慶之條。</p>
<p>為則曰。無病論故不評。</p>
<p>問臣意曰吏民之條。</p>
<p>為則曰。是亦陰陽醫之論。故不評。</p>
<p>問臣意診病之條。</p>
<p>為則曰。於是乎淳于意與扁鵲。醫道之異。益可知也。</p>
<p>太史公曰。</p>
<p>為則曰。太史公言。若倉公者可謂近之矣。過也。淳于意既失醫心。而用毒殺之。藥得其罪。奚近之有。扁鵲為李氏雖所殺。非其罪也。淳于意雖免刑。其罪也。悲哉。</p>
<p>淮南子曰。夫喜怒者道之邪也。憂悲者德之失也。好憎者心之過也。嗜欲者性之累也。人大怒破陰。大喜墜陽。薄氣發瘖。驚怖為狂。憂悲多恚病乃成。積好憎繁多。禍乃相隨。</p>
<p>為則曰。此病論非疾醫之義。</p>
<p>昔公牛哀轉病也。七日化為虎。（公牛氏韓人。轉病易病也。江淮之間公牛氏有易病。化為虎。若中國有狂疾者疾作有時也。其為虎者便還食人。食人者因作真虎。不食人者更復化為人。）其兄掩戶而入。覘之則虎。搏而殺之云云。是故形傷於寒暑燥濕之虐者。形宛而神壯。神傷乎喜怒思慮之患者。神盡而形有餘。</p>
<p>為則曰。是非疾醫之論也。如易病造化之事。以人事不可論也。孔子曰。不語怪力亂神。</p>
<p>凍者假兼衣於春。而暍者望冷風於秋。夫有病於內者。必有色於外矣。夫梣木色青翳。而蠃瘉蝸睆。此皆治目之藥也云云。形系而神泄。故不免於虛。</p>
<p>為則曰。梣木蝸牛治目之藥。可試。注虛為疾。不合古訓。誤也。</p>
<p>養生以經世。抱德以終年。可能體道矣。若然者血脈無鬱滯。五藏無蔚氣。</p>
<p>五月為小刑。薺麥亭歷枯。</p>
<p>山氣多男。澤氣多女。障氣多瘖。風氣多聾。林氣多癃。木氣多傴。岸下氣多腫。石氣多力。險阻氣多癭。暑氣多夭。寒氣多壽。穀氣多痹。丘氣多狂。衍（下而汙者為衍）氣多仁。陵氣多食。輕土多利。重土多遲。</p>
<p>為則曰。因多而言之。則可矣。以理而論之。則甚不可矣。若理以論之。則是謂之以造化混人事。必所以絕聖人之道也。吾黨小子。慎勿言焉。</p>
<p>立夏日聚畜百藥。</p>
<p>得失之度。深微窈冥。難以知論。不可以辭說也。何以知其然。今夫地黃主屬骨。而甘草主生肉之藥也。以其屬骨。責其生肉。以其生肉。論其屬骨。是猶王孫綽之欲倍偏枯之藥而以生殊死之人。亦可謂失論矣。譬若羿請不死之藥於西王母嫦娥竊以奔月。悵然有喪。無以續之。何則不知不死之藥所由生。</p>
<p>一月而膏。二月而昳。</p>
<p>為則曰。此論在於管子及文子。大同小異。各不一定。皆論說之辭也。論說之辭。不可用於事實。況於病乎。故疾醫不取。</p>
<p>真人之所遊。若吹呴呼吸吐。故內新。熊經鳥伸鳧浴蝯躩鴟視虎顧。是養形人也。</p>
<p>天下之物莫凶於雞毒。然而良醫橐而藏之。有所用也。</p>
<p>物莫所不用。天雄烏喙。藥之凶毒也。良醫以活人。</p>
<p>為則曰。後世以烏頭附子為別物。誤也。詳辨於藥徵。故今不贅。</p>
<p>聖王以治民。造父以治馬。醫駱以治病。同材而名自取焉。</p>
<p>嘗之而無味。視之而無形。不可傳於人。大戟去水。亭歷俞張。用之不節。乃反病。物多類之而非。</p>
<p>鉗且得道以處崑崙。扁鵲以治病。</p>
<p>老子曰。知而不知。尚矣。不知而知病也。</p>
<p>目中有疵。不害於視。不可灼也。喉中有病。無害於息。不可鑿也。</p>
<p>夫亂人者。芎藭之與藁本也。蛇床之與麋蕪也。此皆相似者。</p>
<p>夫戶牖者風氣之所從往來。而風氣者陰陽相桷者也。離者必病。</p>
<p>為則曰。是亦非疾醫之說。</p>
<p>以義為制者心也。割痤疽非不痛也。飲毒藥非不苦也。然而為之者便於身也。渴而飲水。非不快也。飢而大飧。非不贍也。然而弗為者。害於性也。此四者耳目鼻口不所取去。心為之制。各得其所。</p>
<p>良醫者常治無病之病。故無病。</p>
<p>為則曰。治無病之病。疾醫能治也。陰陽醫雖論之。臆而無徵焉。</p>
<p>人二氣則成病。</p>
<p>為則曰。二氣。注曰。邪氣干正氣。故成病。邪氣者毒也。無毒則一氣。故不病。</p>
<p>千年之松。下有茯苓。上有菟絲。</p>
<p>好方非醫也。</p>
<p>治疽不擇善惡醜肉。而並割之。云云。用智如此。豈足高乎。</p>
<p>寒不能生寒。熱不能生熱。不寒不熱。能生寒熱。</p>
<p>病者寢席。醫之用針石。巫之用糈藉。所救鈞也。貍頭愈鼠。雛頭（水中黃）已瘻。蚩散積血。劉木愈齲。此類之推者也。</p>
<p>為則曰。凡物試而後可決其能之是非也。若因蚩蟲吮血言散積血之類。則臆而無徵矣。本草此類甚多。故辨之。</p>
<p>為醫之不能自治其病。病而不就藥。則勃矣。</p>
<p>與死者同病。難為良醫。</p>
<p>為則曰。譬喻而非疾醫之辭。</p>
<p>人食礬石而死。蠶食之而不飢。魚食巴菽而死。鼠食之而肥。類不可必推。</p>
<p>蠬象之病。人之實也。人之病將有誰寶之者乎。</p>
<p>病熱而強之餐。救暍而飲之寒。救經而引其索。拯溺而授之石。欲救之反為惡云云。茯苓掘。菟絲死。</p>
<p>蝮蛇螫人。傅以和堇（野葛毒藥）則愈。</p>
<p>憂文疾者子。治之者醫。</p>
<p>是故人皆輕小害易微事。以多悔。患至而後憂之。是由病者已惓（惓劇也）而索良醫也。雖有扁鵲俞跗之巧。猶不能生也。夫禍之來也人自生。福之來也人自成之。禍與福同門。利與害為鄰。</p>
<p>病疽將死。謂其子曰云云。眾人皆知利利而病病也。唯聖人知病之為利。知利之為病也。夫病溫而強之食。病明而飲之寒。此眾人之為養也。而良醫之所以為病也。</p>
<p>冬日則寒涼。夏日則暑傷。</p>
<p>為則曰。是亦非疾醫之論也。夫寒暑不病於人。人因寒暑。毒動而病。無毒雖逢大寒大暑而不病。醫者思諸。夫積愛成福。積怨成禍。若癰疽之必潰也。所浼者多矣。</p>
<p>癰疽發於指。其痛遍於體。故蠹啄剖梁柱。蟁蚩走牛羊。此之謂也。人皆務於救患之備。而莫能知使患無生。</p>
<p>知天之所為。知人之所行。則有以任於世矣。知天而不知人。則無以與俗交。知人而不知天。則無以與道遊。單豹倍世離俗。巖居谷飲。不衣絲麻。不食五穀。行年七十。猶有童子之顏色。卒而遇飢虎。殺而食之。張毅好恭。過宮室廊廟必趨。見門閭聚眾必下。廝徒馬圉。皆與伉禮。然不終其壽。內熱而死。豹養其內。而虎食其外。毅修其外。而疾攻其內。故直意適情。則堅強賊之。以身役物。則陰陽食之。此皆載務而戲乎其調者也。得道之土。外化而內不化。外化所以入人也。內不化所以全身也。故內有一定之操。而外能詘伸贏縮。卷舒與物推移。故萬舉而不陷。所以貴聖人者。以其能龍變也。</p>
<p>古者民茹草飲水。採樹木之實。食蠃蠬之肉。時多疾病毒傷之害。於是神農乃始教民播種五穀。相土地宜。燥濕肥墝高下。嘗百草之滋味。水泉之甘苦。令民知所避就。當此之時。一日而遇七十毒。</p>
<p>為則曰、易曰。夫大人者與天地合其德。與日月合其明。蓋天地不可測。聖人亦難識。然故聖人之事。措而不論。論而可學。其唯法乎。孔子曰。非先王之法言。不敢道。非先王之德行。不敢行。夫先王安道理以論此事。理者無定準。故人人隔異矣。以其隔異之理。論其不測之聖人。其何有益。且不知分莫大焉。蓋學於古訓有獲。而我善知而言之。我善得而行之。則言行盡徵。所不知者日明一日。故孔子曰。由誨女知之乎。知之為知之。不知為不知。是知也。</p>
<p>以調陰陽之氣。以和四時之節。以闢疾病之菑。</p>
<p>神清志平。百節皆寧。養性之本也。肥肌膚。充腸腹。供嗜欲。養性之末也。</p>
<p>所以貴扁鵲者。非貴其隨病而調藥。貴其擪息脈血知病之所從生也。</p>
<p>為則曰。是不知疾醫之道而言之。學者思諸。</p>
<p>既瘖且聾。人道不通。故有瘖聾之病者。雖破家求醫不顧其費。豈獨形骸有瘖聾哉。心志亦有之。夫指之拘也。莫不事由也。心之塞也。莫知務通也。不明於類也。</p>
<p>儀狄為酒。禹飲而甘之。遂疏儀狄。而絕嗜酒。所以遏流湎之行也。</p>
<p>為則曰。聖人戒嗜酒之害如此。故飲酒之禮。不能守之。非聖人之徒也。且過飲者多有水病。死則多吐血。或吐濁水。宜哉曰爛腸之食。</p>
<p>列子曰。天積氣耳。</p>
<p>為則曰。大抵老子莊子列子之語。往往譬喻寓言。而非疾醫之語。蓋列子云。天積氣耳是也。夫君子行而言。不能行則不言。且人不可到天。不可到而論之。虛論也。氣本無形。無形則不可積。今曰積氣。非寓言而何。後世見積塊。妄謂積氣。是不可言而言之。不可言而言之。則事不成。故後世家曰積氣不治。奚有不治之病哉。是名之誤也。何則。氣者天之司也。以人事不可治矣。吾黨後世所謂積氣者。為積毒而治之。未曾見不治也。今依有積氣之字。正病名之誤矣。學者思諸。</p>
<p>斫撻無傷痛。指擿無痟癢。</p>
<p>為則曰。是亦非疾醫之論。</p>
<p>夫醉者之墜於車也。雖疾不死。骨節與人同。而犯害與人異。其神全也云云。今肪知子黨之誕我。我內藏猜慮。外矜觀聽。追幸昔日之不焦溺也。怛然內熱。惕然震悸矣。水火豈復可近哉。自此之後。範氏門徒。路遇乞兒馬醫。弗敢辱也。必下車而揖之。</p>
<p>為則曰。是並非疾醫之論。</p>
<p>百骸六藏。悸而不凝。</p>
<p>宋陽里華子中年病忘。朝取而夕忘。云云。非藥石之所攻。云云。而積年之疾。一朝都除。</p>
<p>秦人逄氏有子。少而惠。及壯而有迷罔之疾。</p>
<p>乃不知是我七孔四支之所覺。心腹六藏之所知。其自知而已矣。</p>
<p>龍叔謂文摯曰。子之術微矣。吾有疾。子能已乎。文摯曰唯命所聽云云。非吾淺術所能已也。</p>
<p>吳楚之國有大木焉。其名為櫞。碧樹而冬生。實丹而味酸。食其皮汁。已憤厥之疾。（氣疾也）齊州珍之。渡淮而北。化為枳焉。</p>
<p>為則曰。此注誤矣。氣非病也。疾者毒也。憤厥之病。聚毒於心胸。以櫞皮汁治之。古方胸痹用橘皮湯。可以徵矣。魯公扈趙齊嬰二人。有疾。同請扁鵲求治。扁鵲治之。既同愈。謂公扈齊嬰曰。汝曩之所疾。自外而干府藏者。固藥石之所已。今有偕生之疾與體偕長。今為汝攻之。何如。二人曰。願先聞其驗。扁鵲謂公扈曰。汝志強而氣弱。故足於謀而寡於斷。齊嬰志弱而氣強。故少於慮而傷於專。若換汝之心。則均於善矣。扁鵲遂飲二人毒酒。迷死三日。剖胸探心。易而置之。投以神藥。既悟如初。二人辭歸。於是公扈反齊嬰之室。而有其妻子。妻子弗識。齊嬰亦反公扈之室。有其妻子。妻子亦弗識。二室因相與訟。求辨於扁鵲。扁鵲辨其所由。訟乃已。</p>
<p>為則曰。此論疑亦列子之寓言。其曰自外而干府藏者。固藥石之所已者。誠是。故辯明焉。夫人者以人道。而不以天道。是聖人之道也。蓋治天下以一於眾心為歸要。然人心不同而同於一。是天命也。以人事不可為一也。故有易者。任以天命。委以鬼神。一於眾心。孔子雖聖人。不關天下之政。故其能無所施用。雖不施用於天下之政。亦不可舍。因作十翼傳之。夫天命自然之心。以人事不可換也明矣。疾醫亦然。夫風寒暑濕燥火之六氣者。天之正令也。五藏六府者。造化之所為也。以人事不可測也。醫之所為。因人事所生之毒。除其毒而已矣。苟去此毒。則百疾皆治焉。藥石之所已者。不在毒生之後。則無可治者。可以知耳。</p>
<p>季梁得疾。七日大漸。其子環而泣之。請醫。云云。</p>
<p>為則曰。是亦非疾醫之論。意者列子託名而言之。</p>
<p>身體偏枯。手足胼胝。</p>
<p>一朝處以柔毛綈幕。薦以梁肉。蘭橘。心痛體煩。內熱生病矣。</p>
<p>遂適田氏之廄。從馬醫。作役而假。郭中人戲之曰。從馬醫而食。不已辱乎。乞兒曰。天下之辱。莫過於乞。乞猶不辱。豈辱馬醫哉。</p>
<p>老子曰。知不知上。不知知病。夫唯病病。是以不病。聖人不病。以其病病。是以不病。</p>
<p>莊子曰。且吾嘗試問乎。女民濕寢。則腰疾偏死。鰍然乎哉。</p>
<p>夫子曰。治國去之。亂國就之。醫門多疾。願以聽聞。思其則庶幾其國有瘳乎。</p>
<p>與人有痔病者。不可以適河。云云。上有大役。則支離。以有常疾。不受功上。與病者粟則受三種與十束薪。</p>
<p>子輿有病。子祀往問之。曰偉哉。夫造物者。將以予為此拘拘也。曲僂發背。上有五管。頤隱於齊。肩高於項。勾贅指天。陰陽之氣。有沴。其心間而無事。跰𨇤而鑑於井曰。嗟乎。夫造物者。又將以予為此拘拘也。</p>
<p>彼以生為附贅縣疣。以死為決𤴯潰癰。</p>
<p>子輿曰。子桑殆病矣。裹飯而往食之。云云。</p>
<p>公反誒詒為病。數日不出。云云。當之則為病。</p>
<p>汝得全而形軀。具有九竅。無中道夭於聾盲跛蹇。而比於人數。亦幸矣。又何暇乎天之怨哉。</p>
<p>南榮趎曰。里人有病。里人問之。病者能言其病。然其病病者猶未病也。若趎之聞大道。譬猶飲藥以加病也云云。君將盈嗜欲長好惡。則性命之情病矣。君將黜嗜欲堇好惡。則耳目病矣。</p>
<p>夫神者好和而惡奸。夫奸病也。故勞之。唯君所病之。何也。</p>
<p>子適有瞀病。有長者。教予曰。若乘日之車。而遊於襄城野。今予病少痊。予又且復遊於六合之外。夫為天下亦若此而已。予又奚事焉。</p>
<p>古之真人。得之也生。失之也死。得之也死。失之也生。藥也。其實菫也。（川烏）桔梗也。雞癰也。（雞頭）豕零也。是時為帝者也。何可勝言。</p>
<p>發不擇所出。漂疽疥癰內熱溲膏。是也。</p>
<p>莫為盜。莫為殺人。榮辱立。然後睹所病。貨財聚。然後睹所爭。今立人之所病。聚人之所爭。窮困人之身使無休時。欲無至此得乎。</p>
<p>靜然可以補病。眥𡟬可以休老。</p>
<p>子州支父曰。以我為天子。猶之可。雖然我適有幽憂之病。方且治之。未暇治天下也。夫天下。至重也。而不以害其生。又況他物乎。唯無以天下為者。可以托天下也。</p>
<p>子貢曰。嘻先生何病。原憲應之曰。憲聞之。無財謂之貧。學而不能行。謂之病。今憲貧也。非病也。子貢逡巡。而有愧色。原憲笑曰。夫希世而行。比周而友。學以為人。教以為己。仁義之慝。輿馬之飾。憲不忍為也。</p>
<p>為則曰。韓子外傳等書。大同小異。今不枚舉。</p>
<p>丘所謂無病而自灸也。疾走料虎頭編虎鬚。幾不免虎口哉。</p>
<p>先生既來。曾不發藥乎。曰已矣。吾固告汝曰。人將保汝。果保汝矣。非汝能使人保汝。而汝不能使人無保汝也。而焉用之。感豫出異也。</p>
<p>秦王有病。召醫破癰潰痤者。得車一乘。舐痔者得車五乘。所治愈下。得車愈多。子豈治其痔邪。何得車之多也。子行矣。</p>
<p>為則曰。老子列子莊子諸書。雖間謂病。率盡譬喻。非疾醫之義。</p>
<p>鹽鐵論曰。然猶人之病。水益水而疾深。知其為秦開帝業。不知其為秦致亡道也云云。故扁鵲不能肉白骨。微箕不能存亡國也。</p>
<p>為則曰。死生存亡者天命也。故雖扁鵲俞跗微子箕子。不能救矣。蓋因病毒而死。及不仁不義而亡者。固非天命也。治之以法。及修身以道。而死亡者。天命也。</p>
<p>扁鵲撫息脈。而知疾所由生。陽氣盛則損之而調陰。寒氣盛則損之調陽。是以氣脈調和。而邪氣無所留矣。夫拙醫不知脈理之腠血氣之分。妄刺而無益於疾。傷肌膚而已矣。今欲損有餘補不足。富者愈富。貧者愈病矣。嚴法任刑。欲以禁暴止奸。而奸猶不止。意者非扁鵲之用針石。故眾人未得其職也。</p>
<p>為則曰。嘻漢儒既不知扁鵲之為疾醫。又以陰陽醫之說目扁鵲。宜哉。後世不知疾醫也。夫陰陽者天事也。非人事也。為何損之。為何益之。妄耶妄也。蓋人飲食起居。行正中節。則無病。而四支百骸無患。此時乃得天地神明和光同粗之化也。今如陰陽損益之說。其論似可聞。其事實不可見也。夫醫治疾病者也。病者毒也。以草根木皮解其毒。則疾病盡去而已矣。乃扁鵲之傳評辨之。故茲不贅。</p>
<p>扁鵲不能治不受針藥之疾。</p>
<p>為醫以拙矣。又多求謝。</p>
<p>疾有固者。不能明其法勢。</p>
<p>政小缺。法令可以坊。（古防字）而必待雅頌乃治之。是猶舍鄰之醫。而求俞跗而後治病。</p>
<p>所貴良醫者。貴其審消息而退邪氣也。其貴其下針石而鑽肌膚也。云云。若癰疽之相濘。色淫之相連。一節動而百枝搖。詩曰。舍彼有罪。既伏其辜。若此無罪。淪胥以鋪。痛傷無罪而累也。</p>
<p>扁鵲攻於腠理。絕邪氣。故癰疽不得成形。聖人從事於未然。故亂原無由生。是以砭石藏而不施。法令設而不用。斷已然鑿已發者。凡人也。治未形睹未萌者。君子也。</p>
<p>為則曰。聖人能知人之生質。疾醫能知病毒之所在。故治未形睹未萌者。其唯聖人與疾醫耳。素問雖論之。亦以陰陽之理。故無徵焉。</p>
<p>揚子法言曰。或問黃帝。終始曰托也。昔者姒氏治水土。而亟步多禹。扁鵲盧人也。而醫多盧。夫欲售偽者。必假真。禹乎盧乎終始乎。</p>
<p>潛夫論曰。嬰兒有常病。貴臣有常禍。父母有常失。人君有常過。嬰兒常病。傷於飽也。貴臣常禍。傷於寵也。哺乳多則生癇病。</p>
<p>為則曰。癇病之名。疾醫不道。為名之不可為治也。</p>
<p>凡療病者必知脈之虛實氣之所結。然後為之方。故疾可愈而壽可長也。</p>
<p>為則曰。是亦非疾醫之事。夫脈者知毒之有無也。非知病者也。</p>
<p>又曰。氣之所結。是漢儒以臆斷事。所以疾醫之道絕焉。氣本無形。豈得結哉。</p>
<p>申鑑曰。有養性乎。曰養性秉中和。守之以生已。云云。藥者療也。所以治疾也。無疾則勿藥可也。肉不勝食氣。況於藥乎。寒斯熱。熱則致滯陰。藥之用也。唯適其宜。則不為害。若已氣平也。則必有傷。唯針火亦如之。故養性者不多服也。唯在乎節之而已矣。</p>
<p>為則曰。是亦非疾醫之論。不知攻病與養生之道。詳辨於答問書。可考。又曰。後世所謂養生藥之誤。以此論可識得也。</p>
<p>夫膏肓近心而處阨。針之不達。藥之不中。攻之不可。二豎藏焉。是謂篤患。故治身治國者。唯是之畏。</p>
<p>或問厲志。曰。若殷高宗。能茸其德藥。瞑眩以瘳疾。</p>
<p>中論前集曰。然彼亦知有馬必待乘之。而後致遠。有醫必待行之。而後愈疾。</p>
<p>為則曰。是聖門之學流也。家語曰。君子者行言。小人者舌言。是之謂乎。</p>
<p>文子曰。嗜欲者生之累也。人大怒破陰。大喜附陽。薄氣廢音驚怖。為狂憂悲焦心疾。乃成積。能除此五者。即含於神明。</p>
<p>為則曰。非疾醫之論。斷不可取。</p>
<p>心卵經曰。上藥三品。神與氣精。恍恍惚惚。杳杳冥冥。存無守有。頃刻而成。迴風混合。百日功靈默朝。</p>
<p>參同契曰。若藥物非種。名類不同。分兩參差。失其綱紀。</p>
<p>藥與道乖殊。丹砂水精。得金乃並。金水合處。木火為侶。四者混混。列為龍虎。龍陽數奇。虎陰數偶。肝青為父。肺白為母。腎黑為子。離赤為女。脾黃為祖。云云。若以野葛一寸巴豆一兩。入喉輒僵。不得俯仰。當此之時。周文揲蓍。孔子占象。扁鵲操針。巫咸叩鼓。安能令蘇復起馳走。</p>
<p>胡粉投火中。色壞為鉛。冰雪得溫湯。解釋成太玄。金以砂為主。稟和於水銀。變化由其真。終始自相因。欲作服食闕。宜以同類者。云云。石膽雲母及礬磁硫黃燒豫章。泥汞相煉。治鼓下五石銅。以之為輔樞。雜性不同類。安肯合體居。千舉必萬敗。欲黠反成疑。僥倖訖不遇。至人獨知之。</p>
<p>為則曰。楊升庵曰。參同契為丹經之祖。云云。心卵經以下。皆是神仙服食之事。用於常人。則必有害矣。醫家猶然。慎勿混焉。</p>

<h1>卷四</h1>
<p>鶡冠子曰。龐暖曰。王獨不聞俞跗之為醫乎。已成必治。鬼神避之。楚王臨朝為隨兵。故若堯之任人也。不用親戚而必使。能其治病也。不任所愛必使。舊醫楚王。聞傳。暮𡫴（一蓋病也）在身必待俞跗。卓襄王曰善。龐暖曰。王其忘乎。昔伊尹醫殷。太公醫周武王。百里醫秦。申麃醫郢。原季醫晉。范蠡醫越。管仲醫齊。而五國霸。其善一也。然道不同數。卓襄王曰。願聞其數。暖曰。王獨不聞魏文王之問扁鵲邪。曰。子昆弟三人。其孰最善為醫。扁鵲曰。長兄最善。中兄次之。扁鵲最為下。魏文侯曰。可得聞邪。扁鵲曰。長兄於病視神。未有形而除之。故名不出於家。中兄治病其在毫毛。故名不出於閭。若扁鵲者鑱血脈。投毒藥。副肌膚間。而名出聞於諸侯。魏文侯曰善。使管子行醫。術以扁鵲之道。曰。桓公幾能成其霸乎。凡此者不病病。治之無名。使之無形。至功之成。其下謂之自然。故良醫化之。拙醫敗之。雖幸不死。創伸股維。卓襄王曰善。寡人雖不能無創。孰能加秋毫寡人之上哉。</p>
<p>為則曰。鶡冠子題辭曰。漢志。鶡冠子楚人。居深山。以鶡羽為冠。著書一篇。因以名之。唐韓退之有曰。鶡冠子十九篇。其辭雜黃老刑名。其博選篇。四稽五至之說當矣。學問篇。稱賤生於無所用。云云。柳子厚則謂。余讀賈誼鵩賦。嘉其詞。學者以為盡出鶡冠子。皆前儒之確論卓見。粗足以可觀矣。</p>
<p>劉向新序曰。扁鵲見齊桓侯。立有間。扁鵲曰。君有疾在腠理。不治將恐深。云云。</p>
<p>為則曰。與史記其文大同小異。</p>
<p>孔叢子曰。死病無良醫。</p>
<p>為則曰。是亦非疾醫之論。夫死者天命也。雖扁鵲無奈之何。醫者主疾病。疾病則儘可治。故雖死病。若治而其死安靜矣。是謂之疾無不治。世所謂傷寒疫癘。眾醫舉言必死。其命未盡也。不藥而生矣。其生也。拙工者八九十日而復故。上工者不及三十日而復故。是其徵也。</p>
<p>陸賈新語曰。故制事者因其則。服藥者因其良。書不必起仲尼之門。藥不出扁鵲之方。合之者善。可以為法。</p>
<p>為則曰。由是觀之。扁鵲之方傳於漢也明矣。由是又求之。傷寒論之方無古焉。然其書陰陽醫之選述作。而非疾醫選述作之也。故唯其方可取。而其論不可取。特於傷寒論。詳論其義焉。</p>
<p>昔扁鵲居宋。得罪於宋君。出亡之衛。衛人有病將死者。扁鵲至其家。欲為治之。病者之父謂扁鵲曰。吾子病甚篤。將為迎良醫治。非子所能治也。退而不用。乃使靈巫求福請命。對扁鵲而咒。病者卒死。靈巫不能治也。夫扁鵲天下之良醫。而不能與靈巫爭用者。知與不知也。</p>
<p>春秋繁露曰。今平地注水。去燥就濕均薪施火去濕。云云。</p>
<p>薺麥始生。由陽升也。其尤者葶藶死於盛夏。款冬花於嚴寒。云云。</p>
<p>敞曰。災沴之氣。其常存邪。曰。無也。時生耳。猶乎人四支五藏中也。有時及其病也。四支五藏皆病也。</p>
<p>為則曰。是正陰陽之論。疾醫不取。</p>
<p>說苑曰。銳金石。雜草藥。以攻疾。</p>
<p>會吉（丙吉）病甚。將使人加紳而封之。及其生也。太子太傅夏侯勝曰。此未死也。臣聞之。有陰德者。必饗其樂。以及其子孫。今此未獲其樂而病甚。非其死病也。後病果愈。封為博陽侯。終饗其樂。</p>
<p>吳起為魏將。攻中山。軍人有病疽者。吳子自吮其膿。其母泣之。旁人曰。將軍於而子如是。尚何為泣。對曰。吳子吮此子父之創。而殺之於注水之戰。戰不旅踵而死。今又吮之。安知是子何戰而死。是以哭之矣。</p>
<p>為則曰。此文與史記。大同小異。</p>
<p>寡人有腰脾之病。願諸大夫勿罪也。</p>
<p>今越腹心之疾。齊猶疥癬耳。</p>
<p>秦繆公嚐出而亡駿馬。自往求之。見人已殺其馬。方共食其肉。繆公謂曰。是吾駿馬也。諸人皆懼而起。繆公曰。吾聞食駿馬肉不飲酒者殺人。即以次飲之酒。殺馬者皆慚而去。居三年。晉攻秦繆公圍之。往時食馬肉者相謂曰。可以出死報食馬得酒之恩矣。遂潰圍。繆公卒得以解難勝晉。臘惠公以歸。此德出而福反也。</p>
<p>常樅有疾。老子往問焉。曰先生疾甚矣。無遺教可以語諸弟子者乎。云云。</p>
<p>官怠於官成。病加於少愈。云云。</p>
<p>晉平公問叔向曰。歲饑民疫。翟人攻我。我將若何。對曰。云云。</p>
<p>對曰。吾國且亡。曰。何以知也。應之曰。吾聞病之將死也。不可為良醫。國之將亡也。不可為計謀。</p>
<p>民有五死。聖人能去其三。不能除其二。飢渴死者可去也。凍寒死者可去也。罹災兵死者可去也。壽命死者不可去也。癰疽死者不可去也。</p>
<p>為則曰。癰疽死者不可去。是不知疾醫之道。夫人之論也。</p>
<p>孔子曰。惡是何也。語不言乎。三折肱而成良醫。夫陳蔡之間丘之幸也。二三子從丘者皆幸人也。</p>
<p>扁鵲過趙。趙王太子暴疾而死。云云。</p>
<p>為則曰。此記同事。而其文與史記小同大異。蓋皆世傳。而記者所取必亦異也。余因曰。夫書者非有德之人則不可解也。此兩者從史記乎。從說苑乎。苟無實見而取。皆臆耳。學者思諸。</p>
<p>古者有菑者謂之厲。君一時素服。使有司弔死問疾。憂以巫醫。匍匐以救之。湯粥以方之善者。必先乎鰥寡孤獨。及病不能相養。死無以葬埋。則葬埋之。有親喪者。不呼其門有齊衰大功。五月不服力役之徵。有小功之喪者。未葬不服力役之徵。</p>
<p>論衡曰。夫百草之類。皆有補益。遭醫人採掇。成為良藥。</p>
<p>為則曰。王充不知食醫與疾醫之道。此論誤矣。夫食養者隨好惡。故有補益之道。而無攻擊之理。藥用者不擇好惡。故有攻擊之道。而無補益之理也。奚曰藥有補益。</p>
<p>古貴良醫者。能知篤劇之病所從生起。而以針藥治而已之。如徒知病之名。而坐觀之。何以為奇。夫人有不善。則乃性命之疾也。無其教治。而欲令變更。豈不難哉。</p>
<p>為則曰。今之為醫。不免王充坐觀之。譏也。悲哉。</p>
<p>道家相誇曰。真人食氣。以氣而為食。云云。</p>
<p>夫服食藥物。輕身益氣。頗有其驗。若夫延年度世無其效。百藥愈病。病愈而氣復。氣復而身輕矣。</p>
<p>為則曰。此前後諸篇率皆服食家之事也。夫服食者。以氣而為食。非常之事。於人無有益。故不取矣。然葛洪陶弘景孫思邈之輩。妄尊信之混於醫。從此而後。正去而邪來。論高而術卑。醫道絕滅。二千有餘年於此。夫憂萬民之疾病之君子。舍邪求正。斯論止斯術盛吾黨之所願也。</p>
<p>病作而醫用。禍起而巫使。如自能案方和藥。入室救祟。則醫不售而巫不進矣。</p>
<p>子路使子羔為費宰。孔子曰。賊夫人之子。皆以未學不見大道也。醫無方術。曰。吾能治病。問之曰。何用治病。曰。用心意。病者必不信也。吏無經學。曰。吾能治民。問之曰。何用治民。曰。以材能。是醫無方術。以心意治病也。百姓安肯信向。而人君信用使之乎。手中無錢。之市。使貨主問曰。錢何在。對曰。無錢。貨主必不與也。夫胸中不學。猶手中無錢也。欲人君任使之。百姓信向之奈何也。</p>
<p>為則曰。後世許氏曰。醫者意也。是本出於子華子。而其論之非。已可見於此。</p>
<p>醫能治一病。謂之巧。能治百病。謂之良。是故良藥服百病之方。治百人之疾。大才懷百家之言。故能治百族之亂。扁鵲眾方。孰若巧之一伎。</p>
<p>孝子之於親。知病不祀神不和藥。又知病之必不可治。治之無益。然終不肯安坐得絕。猶卜筮求祟。召醫和藥者。惻痛殷勤冀有驗也。既死氣絕。不可如何。</p>
<p>夫堯之使禹治水。猶病水者之使醫也。然則堯之洪水。天地之水病也。禹之治水。洪水之良醫也。</p>
<p>呂后恚恨。後酖殺趙王。其後呂后出。見蒼犬噬其左腋。怪而卜之。趙王如意為祟。遂病腋傷。不愈而死。</p>
<p>凡天地之間有鬼。非人死精神為之也。皆人思念存想之所致也。致之何由。由於疾病。人病則憂懼。憂懼見鬼出。凡人不病則不畏懼。故得病寢衽。畏懼鬼至。畏懼則存想。存想則目虛見。</p>
<p>為則曰。孔子曰。不怪語力亂神。今涉獵此前後諸篇。往住此類間有病疾之事。無益於人。因不枚舉。</p>
<p>或問曰。天地之間。萬物之性。含血之蟲。有蝮蛇蜂蠣。咸懷毒螫。犯中人身。云云。</p>
<p>為則曰。考此論。毒者皆為太陽之毒。僻論也。太陽為毒。則太陰亦必為毒也。凡天地之間。變於常則咸為毒。何唯太陽哉。且論中曰。草木之中有巴豆野葛。食之湊懣頗多殺人。不知此物稟何氣於天。是誠然。王充實不自知。不知則何為此論。唯言太陽之毒。其誤可以知矣。</p>
<p>孝子之養親病也。未死之時。求卜迎醫。冀禍消藥有益也。既死之後。雖審如巫咸良如扁鵲。終不復生。何則知死氣絕。終無補益。治死無益。厚葬何差乎。倍死恐傷化。絕卜拒醫。獨不傷義乎。云云。</p>
<p>人之疾病希有不由風濕與飲食者。當風臥濕。握錢問祟。飽飯饜食。齊精解禍。而病不治。謂祟不得。命自絕。謂筮不審。俗人之知也。</p>
<p>為則曰。雖謂疾病。非疾醫之論。慎不可取焉。</p>
<p>夫聖賢之治世也有術。得其術則功成。失其術則事廢。譬猶醫之治病也。有方篤劇猶治。無方儳微不愈。夫方猶術。病猶亂。醫猶吏。藥猶教也。方施而藥行。術設而教從。教從而亂止。藥行而病愈。治病之醫。未必惠於不為醫者。然而治國之吏。未必賢於不能治國者。云云。良醫能治未當死之人命。如命窮壽盡。方用無驗矣。</p>
<p>前漢書平帝記曰。元始二年。民疾疫者。舍空邸第。為置醫藥。</p>
<p>禮樂志曰。桑間濮上。鄭衛宋趙之聲並出。內則致疾損壽。外則亂政傷民。</p>
<p>郊祀志曰。天子病鼎湖甚。巫醫無所不致。游水髮根言。上郡有巫。病而鬼下之。上召置。祠之甘泉。及病使人問於神君。神君言曰。天子無憂病。少愈強與我會甘泉。於是。上病愈。遂起幸甘泉。病良已。</p>
<p>不死之藥可得。</p>
<p>五行志曰。凡貌傷者病木氣。木氣病則金沴之。云云。</p>
<p>為則曰。已上陰陽五行相生相剋之理。或神仙之事。皆無益於病。故疾醫不採。學者思諸。</p>
<p>驕近亂。替（師古曰替廢惰也）近疾。</p>
<p>及人則多病口喉咳。故有口舌疴。</p>
<p>為則曰。評同於前。以下五行志言疾病。並皆陰陽五行之理。故疾醫不復取。</p>
<p>十八年秋。有蜮。劉向以為蜮生南越。越地多婦人。男女同川。淫女為主。亂氣所生。故聖人名之曰蜮。蜮猶惑也。在水旁能射人。射人有處。甚者至死。南方謂之短弧。</p>
<p>為則曰。劉向時。嚴將取齊之淫水。為避其禍。因蜮而為說辭。則或可也。生短弧。如此說則臆而不可矣。</p>
<p>藝文志曰。侍醫李柱國校方技。每一書已。向輒條其篇目。撮其指意。錄而奏之。會向卒。哀帝復使向子侍中奉車都尉歆卒父業。歆於是總群書。而奏其七略。云云。有方技略。</p>
<p>黃帝。內經十八卷。</p>
<p>為則曰。一說。今所傳內經。素問靈樞十八卷是也。為則嘗細閱其書。率陰陽醫之語。非疾醫之語也。然其中間有些一二古語在。謹拔粹之。而舉於篇末。</p>
<p>外經三十九卷。</p>
<p>扁鵲內經九卷。</p>
<p>為則曰。據此。扁鵲之書傳於漢也明矣。悲哉今不傳。是吾黨之憂也。以陸賈新語而考之。益知扁鵲之方傳於漢。於是遍索其方。仲景所傳傷寒論之外。蓋無所見焉。就其書論定扁鵲之遺法。而作類聚方。朝考夕試而又作方極。誠哉君子之言。信而有徵夫。</p>
<p>外經十二卷。</p>
<p>白氏內經三十八卷。</p>
<p>外經三十六卷。</p>
<p>旁篇二十五卷。</p>
<p>為則曰。上七部不傳。諸書亦未見所引用也。</p>
<p>醫經者原人血脈。云云。</p>
<p>為則曰。是皆非疾醫所論。於是。疾醫既絕於漢可以知矣。</p>
<p>五藏六府痹十二病方三十卷。（師古曰痹風濕之病）</p>
<p>五藏六府疝十六病方四十卷。（師古曰疝心腹氣病）</p>
<p>五藏六府癉十二病方四十卷（師古曰癉黃病）</p>
<p>風寒熱十六病方二十六卷。</p>
<p>泰始黃帝扁鵲俞跗方二十三卷。</p>
<p>五藏傷中十一病方三十一卷。</p>
<p>客疾五藏狂顛方十七卷。</p>
<p>金創瘲瘈方三十卷。</p>
<p>婦人嬰兒方十九卷。</p>
<p>湯液經法三十二卷。</p>
<p>神農黃帝食禁七卷。</p>
<p>為則曰。上十一家。今亦不傳。就其書目思之。疑非疾醫之書。悲哉。疾醫之絕之尚矣。</p>
<p>經方者本草石之寒溫。云云。</p>
<p>為則曰。此論。亦非疾醫之論。諺</p>
<p>曰。有病不治。常得中醫。</p>
<p>為則曰。余初見此諺。我業於醫。以為大恥。然數世之業。輕忽不可舍焉。於是思之思之。又重思之。嗟乎。漢既疾醫絕滅。特陰陽醫行。而有此諺邪。陰陽醫之於治無益。可以知矣。則此諺亦不為甚。於是。余大發憤。涉獵古書。始見萬病唯一毒之說。因朝夕鑽研。試功日新。遂精窮此術。乃覺得免此諺之譏也。吾黨小子。慎莫惑病名醫論。縱令誦解天下醫書。諳記病名。不能治病。則焉免此諺之譏。夫顏子曰。夫道之不修也。是吾醜也。夫道既已大修。而不用。是有國者之醜也。小子勉哉勉哉。不拘病名醫論。其唯知去其毒耳。病乎。疾乎。何憂靡不治。</p>
<p>方技者。皆生生之具。王官之一守也。太古有岐伯俞跗。中世有扁鵲秦和。蓋論病以及國。原診以知政。漢興有倉公。今其技晻昧。故能其書。以序方技為四種。</p>
<p>為則曰。由是觀之。班固著漢書時。既言倉公之技晻昧。況於扁鵲乎。</p>
<p>賈誼傳曰。天下之方病。大瘇。一脛之大幾如腰。一指之大幾如股。平居不可屈伸。一二指搐。身慮亡聊。失今不治。必為錮疾。後雖有扁鵲不能為已。病非徒瘇也。又苦𨂂盭云云。又類闢且病痱。夫闢者一面病。痱者一方痛云云。臣故曰。一方病矣。醫能治之而上不使。</p>
<p>為則曰。是譬喻之辭。非常病之論也。且本文註解。俱非疾醫之論。</p>
<p>晁錯傳曰。為置醫巫。以救疾病。</p>
<p>灌夫傳曰。夫身中大創十條。適萬金良藥。故得無死。創少瘳。云云。五年十月。悉論灌夫支屬。嬰良久乃聞有效。即陽病痱不食。欲死。或聞上無意殺嬰。復食治病。議定不死。云云。春蚡疾。一身盡痛。若有擊者。</p>
<p>為則曰。陽病痱。是固非病。</p>
<p>蘇建傳曰。引佩刀自刺。衛律驚自抱持武。馳召醫。鑿地為坎。置熅火覆武其上。蹈其背。以出血。武氣絕半日復。息惠等哭。輿歸營。單于壯其節。朝夕遣人候問武。而收系張勝。武益愈。</p>
<p>為則曰。本邦見古戰場記。此類甚多焉。後世醫家論脫血之證。其誤可以知矣。</p>
<p>司馬相如傳曰。芍藥之和。具而後御之。</p>
<p>為則曰。凡食醫與疾醫其所主異矣。食醫者主養精。疾醫者主攻病。本草無此別。故不取。如師古注家亦不以之知也。</p>
<p>厚朴。穹窮。菖蒲。江離。蘪蕪。</p>
<p>為則曰。皆藥名。而亡足論。唯文章耳。</p>
<p>相如口吃而善著書。常有消渴病。</p>
<p>為則曰。相如口吃與消渴。遂不治而卒。當時無疾醫。可以知矣。有之則相如奚不治而卒。宜哉。有有病不治之譏。</p>
<p>邪絕少陽而登太陰。</p>
<p>為則曰。是固非疾醫之辭也。漢儒不知古有疾醫。以此論疾妄也。</p>
<p>廝徵北僑而役羨門兮。屬岐伯使尚方。</p>
<p>公孫弘傳曰。臣聞之氣同則從。聲比則應。今人主和德於上。百姓和合於下。云云。故形和則無疾。無疾則不夭。君不幸罹霜露之疾。云云。</p>
<p>為則曰。是並非疾醫之辭。</p>
<p>今事少間。君其存精神。止念慮。輔助醫藥以自持。因賜告牛酒雜帛。居數月有瘳。視事。</p>
<p>杜欽傳曰。昭帝未寢疾。徵天下名醫延年。典領方藥。</p>
<p>霍光傳曰。私使乳醫淳于衍行毒藥殺許後。</p>
<p>為則曰。漢既絕疾醫焉。故有乳醫之目。</p>
<p>趙充國傳曰。竄於風寒之地。離霜露疾疫瘃墮之患。</p>
<p>京翼奉傳曰。臣聞人氣內逆。則感動。天地變見於星氣日蝕。</p>
<p>為則曰。以上皆非疾醫之辭。</p>
<p>韓延壽傳曰。延壽聞之。對掾吏涕泣。遣吏醫治視。</p>
<p>野王傳曰。後遷為東海太守。下濕病痹。</p>
<p>楚王囂傳曰。楚成帝河平中入朝。時被疾。天子閔之。下詔曰。蓋聞天地之性人為貴。人之行莫大於孝。楚王囂素行孝順仁慈。之國以來二十餘年。纖介之過。未嘗聞。朕甚嘉之。今乃遭命離於惡疾。夫子所痛日蔑之。命矣夫。斯人也而有斯疾也。朕甚閔焉。夫行純茂而不顯異。則有國者將何朂哉。書不言乎。用德章厥善。詩曰。焭焭在疚。云云。</p>
<p>王喜傳曰。朕居位以來。寢疾未瘳。反逆之謀。相連不絕。賊亂之臣。近侍帷幄。前東平王云與後謁咒詛。朕使侍醫伍宏等內侍。案脈幾危。社稷殆莫甚焉。</p>
<p>遊俠傳曰。樓護字君卿。齊人。父世醫也。護少隨父為醫。長安出入貴戚家。護誦醫經本草方術數十萬言。</p>
<p>為則曰。今有神農本經。考之疑偽作。故余以古人用藥之語。集錄曰藥徵。</p>
<p>鄧通傳曰。文帝嘗病癰。鄧通常為上嗽吮之。上不樂。從容問曰。天下誰最愛我者乎。通曰。宜莫若太子。太子入問疾。上使太子齰癰。太子嗽癰而色難之。已而聞通嘗為上齰。太子慚。繇是心恨通。</p>
<p>許皇后外戚傳曰。明年許皇后當娠病。女醫淳于衍者。霍氏所愛。嘗入宮侍皇后疾。衍夫嘗為掖庭戶衛。謂衍。可過辭霍夫人。行為我求安治監。衍如言報顯。顯因生心。闢左左。字謂衍。少夫幸報我以事。我亦欲報少夫可乎。衍曰。夫人所言。何等不可者。顯曰。將軍素愛小女成君。欲奇貴之。願以累少夫。衍曰。何謂邪。顯曰。婦人免乳大。故十死一生。今皇后當免身。可因投毒藥去也。成君即得為皇后矣。如蒙力事成。富貴與少夫共之。衍曰。藥雜治當先嘗。安可。顯曰。在少夫為之耳。將軍領天下。誰敢言者。緩急相護。但恐少夫無意耳。衍良久曰。願盡力。即搗附子。齎入長定宮。皇后免身後。衍取附子。併合大醫大丸以飲。皇后有頃。曰。我頭岑岑也。藥中得無有毒。對曰。無有。遂加煩懣崩。</p>
<p>為則曰。史記。有太倉公淳于意者。淳于衍豈其人耶。衍失醫道。為毒殺人。宜哉罹災。夫扁鵲雖遇李𫗘之害。非扁鵲之罪也。太倉公雖因孝子之贖而免殺戮。何免其罪哉。吾黨小子勿以善小而不為。惡小而為之。慎哉。機微之失。非醫。</p>
<p>馮昭儀傳曰。有一男嗣為王。時未滿歲。有眚病。太后自養視。數禱祠解。哀帝即位。遣中郎謁者張由將醫治中山小王。由素有狂易病。病發怒。云云。武帝時。醫修氏刺治武帝。得二千萬耳。今愈。</p>
<p>王莽傳曰。病悸寢。劇死。</p>
<p>莽。使太醫尚方與巧屠共刳剝之。量度五藏。以竹筵導其脈。知所終始。云可以治病。</p>
<p>為則曰。疾醫息而陰陽醫繁。陰陽醫繁而穿鑿彌甚。彌甚而治療愈惑。悲夫。知毒之所在。而不拘五藏。四脈之動靜。而知毒之多少。如斯耳。量度五藏經脈。知所終始。於治無益。</p>
<p>莽憂懣不能食。亶飲酒。啖腹魚。</p>
<p>敘傳曰。道病中風。</p>
<p>為則曰。中風之病名。非疾醫之辭。</p>
<p>和鵲發精於針石。</p>
<p>後漢書光武皇帝紀曰。高年鰥寡孤獨。及篤癃無家屬。貧不能自存者如律。</p>
<p>永念厥咎。內疚於心。</p>
<p>夏京師醴泉湧出。飲之者固疾皆愈。惟眇蹇者不瘳。</p>
<p>為則曰。漢疾醫絕焉。故不知治疾之道也。夫眇者有瞳子則明。蹇有骨肉則起。醴泉亦瞑眩而吐瀉。則其毒去。眇蹇皆治焉。固無不治之病也。</p>
<p>孝和皇帝紀曰。幼年煢煢在疚。</p>
<p>寤寐永嘆。用思孔疚。</p>
<p>朕寤寐恫矜憂釁。</p>
<p>詔流民。欲還歸本。而無糧食者過所實稟之。疾病加。至醫藥。其不欲還歸者勿強。</p>
<p>孝安皇帝紀曰。會稽大疫。遣光祿大夫將大醫。循行疾病。賜棺木。</p>
<p>孝桓皇帝紀曰。陰陽錯序。監寐寤嘆。疢如疾首。今京師𤺊舍。死者相枕。</p>
<p>疾病致醫藥。死亡厚埋藏。民有不能自振。及流移者。稟谷如科。州郡檢察務崇恩施。以康我民。</p>
<p>皇后紀曰。帝嘗寢病危甚。陰後密言。我得意不令鄧氏復有遺類。後聞乃對左右流涕言曰。我竭誠盡心。以事皇后。云云。上以報帝之恩。中以解宗族之禍。下不令陰氏有人豕之譏。即欲飲藥。宮人趙王者固禁之。因詐言。屬有使來。上疾已愈。後信以為然。乃止。明日帝果瘳。</p>
<p>頃以廢病沉滯。久不侍祠。自力止原陵。加咳逆。唾血遂至不解。存亡大分。無可奈何。</p>
<p>安思閻皇后紀曰。朕素有心下結氣。從間以來加以浮腫逆害。飲食寢以沉困。比使內外勞心請禱。私自忖度。日夜虛劣不能復。</p>
<p>為則曰。結氣口以可言。事以不可為。不可為而言。此非虛言而何。故疾醫不言結氣者。嗚呼。漢已不可解之語有焉。是聖門之實學絕。子游子夏之虛文存耳。傳焉足徵。學者思諸。</p>
<p>李通列傳曰。宜令通居職療疾。欲就諸侯不可聽。於是詔通。勉致醫藥。以時視事。其夏引拜為大司空。通布衣唱義。助成大業。重以寧平公主故特見親重。然性歉恭。常欲避權勢。素有消疾。自為宰相。謝病不視事。連年乞骸骨。帝每優寵之。令以公位歸弟養疾。通復固辭。</p>
<p>鄧禹列傳曰。訓遂撫養其中少年勇者數百人。以為義從。羌胡俗恥病死。每臨困輒以刀自刺。訓聞有困疾者。輒拘持縛束不與兵刃。使醫藥療之。愈者非一。小大莫不感悅。</p>
<p>馬援列傳曰。初援在交趾。常餌薏苡實。用能輕身省欲以勝瘴氣。南方薏苡實大。援欲以為種。軍還載之一事。時人以為南土珍怪。</p>
<p>為則曰。薏苡考古人試功之能。治水腫小便不利。而此注引神農本經。今觀其書。往往陰陽服食家之論。疑非神農之書。故從其書試功無徵焉。是知漢既有偽書。吾黨多不可取。</p>
<p>又曰。本邦弘法大師歸朝。始傳其種。故和名曰弘法麥。</p>
<p>卓茂列傳曰。后王莽秉權。休去官歸家。及莽篡位。遣使齎玄纁束帛。請為國師。遂嘔血託病杜門自絕。</p>
<p>伏湛列傳曰。晏見中暑病卒。</p>
<p>趙憙列傳曰。少有節操。從兄為人所殺。無子。憙年十五。常思報之。乃挾兵結客。後遂往復仇。而仇家皆疾病。無相距者。憙以因疾報殺。非仁者心。且釋之而去。顧謂仇曰。爾曹若健。遠相避也。仇皆臥自搏。後病愈。悉自縛詣憙。憙不與相見。後竟殺之。</p>
<p>韋彪列傳曰。未能自割。且眩務滯疾。不堪久待。</p>
<p>蘇竟列傳曰。良醫不能救無命。強梁不能與天爭。故天之所壞。人不得支。</p>
<p>曹裒列傳曰。時有疾疫。褒巡行病徒。為致醫藥。經理饘粥。多蒙濟活。</p>
<p>第五倫列傳曰。其自食牛肉。而不以篤祠者。發病且死。先為牛鳴。前後郡將莫敢禁。倫到官。移書屬縣。曉告百姓。其巫祝有依託鬼神詐怖愚民。皆案論之。有妄屠牛者。吏輒行罰。民初頗恐懼。或祝詛妄言。倫案之愈急。後遂斷絕。百姓以安。</p>
<p>吾兄子常病。一夜十往。退而安寢。吾子有疾。雖不省視。而竟夕不眠。若是者豈可謂無私乎。</p>
<p>鍾離意列傳曰。建武十四年。會稽大死者萬數。意獨身隱親經給醫藥。所步多蒙全濟。</p>
<p>宋均列傳曰。軍士多溫濕疾病。死者大半。</p>
<p>均嘗寢病。百姓耆老為禱請。旦夕問起居。其為民愛若此。</p>
<p>韓稜列傳曰。初為郡功曹。太守葛興中風病不能聽政。稜陰代興視事。出入二年。</p>
<p>為則曰。病名中風。疾醫不名。</p>
<p>班超列傳曰。超年最長。今且七十。衰老被病。云云。超素有胸脅疾。</p>
<p>楊終列傳曰。且南方暑濕障毒互生。愁困之民。足以感動天地。移變陰陽矣。</p>
<p>霍醑列傳曰。譬猶療飢於附子。止渴於酖毒。未入腸胃。已絕咽喉。豈可為哉。</p>
<p>為則曰。此注云。附子烏喙根同。而因年狀異也。後世為別物。其誤明矣。</p>
<p>黃憲列傳曰。父為牛醫。</p>
<p>楊彪列傳曰。彪見漢祚將終。遂稱腳攣不復行。積十年後。子修為曹操所殺。操見彪問曰。公何瘦之甚。對曰。愧無日殫先見之明。猶懷老牛舐犢之愛。操為之改容。</p>
<p>清河孝王傳曰。慶多被病。云云。後上言。外祖母王年老遭憂病。下土無醫藥。願乞詣洛陽療疾。</p>
<p>陳紀列傳曰。遭父憂。每哀至。輒嘔血絕氣。雖哀服已除。而積毀消瘠。殆將滅性。</p>
<p>李固列傳曰。詩曰。上帝闆闆。下民卒癉。刺周王變祖法度。故使下民將盡病也。</p>
<p>劉瑜列傳曰。勞散精神。生長六疾。</p>
<p>為則曰。此注引於左傳。左傳國醫之論也。以是不可論疾。</p>
<p>廷篤列傳曰。皇子有疾。下郡縣出珍藥。而大將軍梁冀遣客齎書詣京兆。並貨牛黃。篤發書。收客曰。大將軍椒房外家。而皇子有疾。必應陳進醫方。豈當使客千里求利乎。遂殺之。冀慚而不得言。</p>
<p>段熲列傳曰。是為癰疽。伏疾留滯脅下。如不誅。轉就滋大。</p>
<p>皇甫嵩列傳曰。符水咒說以療病。病者頗愈。百姓信向之。</p>
<p>董卓列傳曰。潰癰雖痛。勝於內食。</p>
<p>趙壹列傳曰。秦越人還。虢太子。云云。</p>
<p>為則曰。虢太子記事諸書各異。其世傳也明矣。而書無實見。不可解釋。縱難解釋。臆而其術難為。其術難為。則猶不解釋也。故聖人禁之。有不知而作之者。我不為也。吾黨小子不能為。則慎勿言。若欲能為之。則以其實事解釋而可也。</p>
<p>劉梁列傳曰。臧武仲曰。孟孫之惡我藥石也。季孫之愛我美疢也。疢毒滋厚。石猶生我。此惡而為美者也。</p>
<p>為則曰。美疢左傳作疾疢。為是。</p>
<p>戴就列傳曰。主者窮竭酷慘。無復余方。乃臥就覆船下。以馬通薰之。</p>
<p>趙苞列傳曰。食祿而避難。非忠也。殺母以全義。非孝也。如是有何面目立於天下。遂嘔血而死。</p>
<p>為則曰。趙苞至誠相貫。以嘔血而死。其命也夫。</p>
<p>段翳列傳曰。有一生來學積年。自謂略究法術。辭歸鄉里。翳為合膏藥。並以簡書卦於筒中。告生曰。有急發視之。生到葭萌與吏爭度津。吏撾破從者頭。生開筒得書。言。到葭萌與吏鬥。頭破者以此膏裹之。生用其害。創者即愈。生歎服。乃還卒業。</p>
<p>郭玉列傳曰。云云。</p>
<p>為則曰。通篇可讀。然非疾醫之所取。今世傳醫書。道家之書也。故醫不得無漢諺之譏。</p>
<p>華佗列傳曰。云云。</p>
<p>為則曰。是亦通篇可讀。然佗之術亦非疾醫之法也。悲哉。扁鵲沒後。名於醫者皆道家。醫而未嘗聞有疾醫之真傳。然方術傳中措而不舉。以其不可學也。此傳中麻沸散不傳。千古遺憾哉。咽喉塞者用萍虀。可試。人形體勞動及諸導引之法亦皆可用。其它莫所取矣。</p>
<p>陳文矩妻列傳曰。漢中陳文矩妻者。同郡李法之姊也。字穆姜。有二男。而前妻四子。文矩為安眾令。喪於官。四子以母非所生。憎毀日積。而穆姜慈愛溫仁。撫育益隆。衣食資供。皆兼倍所生。或謂母曰。四子不孝甚矣。何不別居以遠之。對曰。吾方以義相導。使其自遷善也。及前妻長子興遇疾困篤。母惻隱自然。親調藥膳。恩情篤密。興疾久乃瘳。於是呼三弟謂曰。繼母慈仁。出自天愛。吾兄弟不識恩養。禽獸其心。雖母道益隆。我曹過惡亦已深矣。遂將三弟詣南鄭獄。陳母之德。狀己之過。乞就刑辟。縣言之於郡。郡守表異其母。蠲除家徭。遣散四子。許以修革。自後訓導愈明。併為良士。</p>
<p>為則曰。夫穆姜養育繼子。其疾病困篤。其恩情篤密。世猶或可能焉。至其以義方導不孝子。盡其病根。改過遷善。遂為良士。非至誠殆不可能也。嗚呼。可謂古今之良醫。古語云。樹德莫如滋。去疾莫如盡。穆姜有焉。</p>
<p>南蠻西南夷列傳曰。南州水土溫暑。加有瘴氣。致死亡者。十必四五。</p>
<p>冉駹夷傳曰。土氣多寒。在盛夏冰猶不釋。云云。有靈羊可療毒。又有食藥鹿。鹿麑有胎者其腸中糞亦療毒。云云。特多雜藥。</p>
<p>湟中月氏胡傳曰。羌雖外患。實深內疾。若攻之不根。是養疾疴於心腹也。</p>
<p>于寘國傳曰。元嘉元年。長史趙評在於寘。病癰死。評子迎喪。道經拘彌。拘彌王成國。與于寘王建素有隙。乃語評子云。于寘王令胡醫持毒藥著創中。故致死耳。評子信之。</p>
<p>西夜國傳云地生白草有毒。國人煎以為藥。傅箭鏃。所中即死。</p>
<p>禮儀志曰。不豫。太醫令丞將醫入。就進所宜藥。嘗藥。監近臣。中常侍。小黃門。皆先嚐藥。云云。</p>
<p>百官志曰。太醫令一人。六百石。本注曰。掌諸醫藥丞方。丞各一人。本注曰。藥丞主藥。方丞主藥方。云云。</p>
<p>內經。</p>
<p>為則曰。內經之真偽。詳評於醫斷。故不贅。今但摘其古語。關係於醫事之要者。錄焉。</p>
<p>夫脈之小大滑澀浮沉。可以指別。</p>
<p>觀浮滑澀。</p>
<p>緩急小大滑澀。</p>
<p>為則曰。夫脈者考毒之動靜也耳。以脈論疾者陰陽醫。而疾醫不為也。故扁鵲曰。不待切脈。言病之所在。以脈不可論疾也明矣。夫內經立六脈。甚以易別。建之宜哉。雖愚夫愚婦可別規矩也。不可別則非規矩也。乃如難經及脈經之脈狀。雖上工別之至難矣。況生徒乎。不思亦甚。</p>
<p>齊毒藥攻其中。</p>
<p>風者百病之長也。</p>
<p>為則曰。是固非疾醫之語也。而醫之為恆言。而治療之害不淺鮮矣。故特評之。</p>
<p>毒藥攻邪。五穀為養。五果為助。五畜為益。五菜為充。氣味合而服之以補精益氣。</p>
<p>為則曰。不識得貫通於是。則不可為醫也。夫邪攻之。精養之。故攻者不避好惡。養者隨好惡也。不避好惡。則雖五穀皆毒也。隨好惡百藥亦皆養也。文王之曷歜。孔子之姜。曾晳之羊棗是也。而養者莫如守節。攻者不如盡毒。學者思諸。</p>
<p>邪之所湊。其氣必虛。</p>
<p>為則曰。是古語也。內經布演解之大誤矣。夫氣不特虛。特虛則死矣。今邪毒湊則氣不流通。故其毒之所湊。其氣必虛。如不仁是也。苟除其所湊之毒。則氣自流通焉。然以為不去其所湊之毒而補其氣。氣實則愈矣。奚有治也。甚哉。為醫之至於斯也。</p>
<p>邪氣盛則實。精奪則虛。</p>
<p>為則曰。是醫家以為論虛實之標的。然內經布演之以陰陽也。是非疾醫之論。故其評詳於醫斷。</p>
<p>百病生於氣也。</p>
<p>是國醫之論。而非疾醫之事。</p>
<p>鼓脹治之。以雞矢醴一劑。</p>
<p>岐伯曰。病名血枯。云云。以四烏鰂骨一藘茹二物。併合之丸。以雀卵。大如小豆。以五丸為後飯。飲以鮑魚汁。</p>
<p>為則曰。為後飯。疾醫不言。是陰陽醫之理耳。不可取矣。</p>
<p>帝曰有病。身熱解墮。汗出如浴。惡風少氣。云云。以澤瀉術各十分麋銜五分。合以三指撮。</p>
<p>黃帝問曰。婦人重身。毒之何如。岐伯曰。有故無殞。亦無殞也。</p>
<p>有毒無毒。所治為主。適大小為制。</p>
<p>為則曰。論有毒無毒。是食醫之事。以是論藥誤矣。藥者皆毒也。雖五穀用以為藥。則皆毒也。不可不知焉。</p>
<p>足中指支。脛轉筋。腳跳堅。伏兔轉筋。脾前腫。㿉疝。腹筋急。引缺盆及頰。卒口僻急者。目不合。熱則筋縱目不開。頰筋有寒。則急引頰移口。有熱則筋弛。縱緩不勝收。故僻。治之以馬膏。膏其急者。以白酒和圭。以塗其緩者。以桑鉤鉤之。即以生桑炭。置之坎中。高下以坐等。以膏熨急頰。且飲美酒。啖美炙肉。不飲酒者自強也。為之三拊而已。治在燔針劫刺。以知為數。以痛為輸。上工治未病。不治已病。</p>
<p>為則曰。陰陽醫者。以臆論之。故無徵焉。是謂之有論無實。</p>
<p>其病大癰膿治之。其中乃有生肉。大如赤小豆。銼䔖𧄍草根各一升。以水一斗六升。煮之竭。為取三升。則強飲。厚衣坐於釜上。令汗出至足已。</p>
<p>傷寒論。</p>
<p>為則曰。余於此書熟覽精讀。蓋有年矣。其序曰漢長沙守南陽張機著。而考其文。非漢之體格。且後漢書。有一藝名者。盡舉而錄。奚獨仲景之無傳也。歷史中。至於晉書。始曰後漢張仲景為醫。是可言矣。撰次傷寒論人者叔和也。王叔和者西晉大醫令也。若據叔和之言記之乎。它又無所見。或疑撰次之時託名乎。是未審也。又曰。書中論與處方有乖異者。以是攙入之多可知也。蓋見於陸賈新語。傳扁鵲之方於漢也明矣。因索其方。夜以繼日。汲汲乎求之而未得也。故標的於扁鵲之傳。而撰定此書。實驗於眾庶之病。而採摭其方。為萬病唯一毒。信而有徵。若不為一毒而治之。徒眩傷寒中風之病名。則無寸效矣。於是益信。命男猷之。正傷寒論之攙入不疑矣。蓋方雖良。非其人則功鮮。夫扁鵲何人也。古昔良醫也。良醫何為也。能治疾也。疾不能治。奚為良醫。故雖有良方。非其人則未嘗免馬服君之子之譏。勉哉。勉哉。勤之在獲乎已耳。</p>
<p>傷寒論評。</p>
<p>為則曰。向讀於呂氏春秋。而雖有獲於病之大本為一毒。然未嘗獲其治法也。故孜孜汲汲。夜以繼日。久之始獲於傷寒論。不知手舞之足蹈之。是三代疾醫。治萬病一毒之法也。於是朝考夕試。視病之所在。以處其方。信而有徵。然此書西晉王叔和撰次。為漢張仲景著。而漢書無傳。且見其書所篇述。陰陽醫而非疾醫也。唯方古也。其篇中。曰傷寒。曰中風。曰瘀血。曰食傷。等用柴胡。是病名後世之所加。而治方古人之遺法也。今醫家之病名。唐孫思邈曰。四百四病。近世之書。病名加多千有餘。為則不佞頑愚。淺陋薄識。而十之一不得記臆。不記臆則不妨於為醫。以病名醫不可為也。於戲命哉。由天寵靈獲見此方。此方與呂氏春秋所言同為萬病一毒。其視毒之所在。以處其方。何病患不治哉。於是忘吾頑愚。執其方而類聚之。其疑者為口。（方圈）以便復古。夫空談虛論。徒害事實。醫唯治病。病不治。奚為醫者。故以獲治術為務。同志之士。幸行言勿舌言矣。</p>
