<header data-type="book">
<h1>瑞竹堂經驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沙圖穆蘇</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1326">公元1326年</data></dd></div>
<div><dt>底本</dt><dd>日復刻十五卷本（<a href="https://www.digital.archives.go.jp/file/3611477">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>原序</h1>
<p>曩予誦范文正公良相良醫之言，未嘗不斂衽嘉嘆，何則？良相輔弼元首，治天下，興利除害，選賢任能，使人樂其業，而吾仁之見諸事者，足以澤被四方。良醫導和人身，療百病，脫疴起痼，斡元氣而開壽域，使人安其生，而吾仁之蘊諸心者，亦足以波及萬姓，蓋出處之轍雖異，而吾仁之用則同。君子不可斯須而忘吾仁，則吾仁之在天下，亦不可勝用矣！謙齋先生沙公，志文正之所志，學文正之所學，輕車埋輪，繡文直指，所至摧奸貪之膽，拯生民之命，由柏垣而登薇府，一以是心，民以是厚，今為建昌守也，殆將小試龔黃事，為異日姚宋張本，良相之效，豈不著哉！然公猶以為未盡，乃退而考訂名醫方書，常經驗者，分門別類，為一十五卷，鋟梓郡庠，因目其書曰瑞竹堂經驗方，以惠斯世。噫！如公之仁，可謂至矣！予故序諸篇端，欲人人之誦此書者，不惟知公之心良於醫，又當知公之志良於相，二者皆自公仁心一點中出。</p>
<p><u>王都中序。</u></p>

<h1>又序</h1>
<p>人有恆言，看方三年，無病可治，治病三年，無藥可療，斯言何謂也？謂病之有方不難，而方之有驗為難也。旴江群侯歷仕風憲民社，愛人一念隨寓而見，有仁心，有仁聞，人之被其惠澤者，奚趐百千萬，而蒞官餘暇，猶注意於醫藥方書之事，每思究病之所由起，審藥之所宜用，或王公貴人之家，或隱逸高人之手，所授異方，率和劑、三因、易簡等書之所未載，遇有得必謹藏之，遇有疾必謹試之，屢試屢驗，積久彌富。守旴之日，進一二醫流相與訂正，題曰瑞竹堂經驗方。爰鋟諸木，以博其施，一皆愛人之仁所寓也。既仁之以善政，復仁之以善藥，孰有能如侯之仁者哉！噫世之醫方甚繁，用之輒效者益鮮，今之所輯悉已經驗，則非其他方書所可同也。侯名薩德彌實，瑞竹堂者，往時侯插竹為樊，竹再生根，遂生枝葉，人以為瑞，而侯以扁其堂云。</p>
<p><u>臨川吳澄幼清撰</u></p>

<h1>提要</h1>
<p>（臣）等謹案。瑞竹堂經驗方五卷，元沙圖穆蘇（原作薩理彌實今改正）撰。沙圖穆蘇元史無傳，其事蹟不可考，以吳澄王都中二序核之，則其字為謙齋，嘗以御史出為建昌太守，是書即其在郡時所撰集也。原書本十五卷，楊士奇等文淵閣書目，載有一部一冊，而晁瑮寶文堂書目內，亦列其名，則是明中葉以前，原帙尚存，其後遂鮮傳本。今據永樂大典所載，搜採編輯，計亡闕已十之五六，而所存者尚多，謹依方詮次，分立二十四門，釐為五卷，中間如調補一門，不輕用金石之藥，其處方最為醇正。又女科之八珍散，即四君子湯、四物湯之並方，其用尤廣，明薛己醫案，已詳著之，至瘡科所載返魂丹，與今世瘍醫所用梅花點舌丹、奪命丹相類，內托千金散以治癰毒，亦見殊功，是皆可資利濟之用。惟幼科之褐丸子，與蘇沈良方中所列褐丸，名目相類，治療亦同，特彼則攻補兼行，頗為周密，此乃過於峻利。蓋金元方劑，往往如斯，由北人氣稟壯實，與南人異治故也。此在於隨宜消息，不可以成法拘矣。</p>
<p><u>乾隆五十年二月恭校上。</u></p>

<h1>一、諸風門</h1>

<h2>勻氣散</h2>
<p>此方前代曾服有效風藥，服之十三日安。可治腰腿疼，半身不遂，手足不能屈伸，口眼喎斜，風氣、中風、中氣，便用風藥治之，十無一愈，當以氣藥治之，氣順則風散。近有人服之見效。</p>
<p>白朮（四兩，煨）　沉香（五錢，鎊）　天麻（一兩）　天台烏藥（三兩）　青皮（五錢，去穰）　白芷　甘草（各五錢）　人參（去蘆，五錢）</p>
<p>上為㕮咀，每服三錢，水一盞半，生薑三片，紫蘇五葉，木瓜三片，棗子一枚，煎至七分，去滓，空心溫服。</p>

<h2>麝香散</h2>
<p>治卒風啞中，忽然倒地，不省人事，左癱右瘓，口眼喎斜，諸藥未服者，服此藥。</p>
<p>真麝香（二錢或三錢，研細）　真香油（二，三兩）</p>
<p>上若遇此證，急將麝香研細，調入清油內攪勻，將患人口斡開灌下，其人自蘇，不惟只治中風，又全其後，語言不謇，手足不癱，服此藥後，方服順氣疏風之藥，為麝香通關，余藥可以能行至病所也。</p>

<h2>腦麝祛風丸</h2>
<p>治左癱右瘓，遊平章服此藥得愈，最有效驗。</p>
<p>白花蛇頭（一個帶項二寸，酒浸炙）　烏梢蛇尾（兩個，長七寸，酒浸炙）　川烏頭（三個，去黑皮）　附子底（四個，去黑皮）　天南星（炮）　半夏（薑製）　白附子　細辛（去葉）　防風（去蘆）　天麻　全蠍（去毒，炒）　白殭蠶（去嘴絲，炒）　草烏頭（炮。以上各半兩）　腦麝（各一分，研）</p>
<p>上為細末，薑汁糊為丸，如桐子大，硃砂為衣，每服五十丸，煎小續命湯送下，不拘時候服。</p>

<h2>聖靈丹</h2>
<p>治男子婦人，風濕相搏，氣痹，傳於手足，麻腫疼痛，久則偏枯，及腳氣不能行履，大治癱瘓風濕，手足復舊。</p>
<p>過兩川烏（生，去皮臍，切片）　草烏（去皮尖，切片，鹽炒香熟去鹽。以上各半兩）　麻黃（去根節，微炒，去汗）　生地黃（洗，去苗銼碎，酒浸一宿，焙）　五靈脂（揀去砂石，微炒，不得過火）　虎脛骨（醋浸，火炙酥黃色）　自然銅（醋淬七次。以上各一兩，研）　廣木香（二錢半）　乳香（另研）　沒藥（炙。各錢半。另研）　干酸木瓜（生者，八兩）　甜瓜子（炒黃色，一兩）　沉香（五錢，鎊）　敗龜底（卜卦者，醋炙黃酥，七錢半）</p>
<p>上為細末，煉白砂蜜，冷定和搜成劑，每一兩重分為一十二丸，每服二丸，隔夜生薑自然汁用瓷盞浸至天明，空心化開，溫酒調服，再飲半盞熱酒送下，日進二服，唇吻微麻無妨。</p>

<h2>七烏丸</h2>
<p>治癱瘓、風濕、寒痹腳疾證。（張君寶服驗）</p>
<p>草烏（去皮臍，生用，切作大塊）　何首烏（作大片，忌鐵器）　烏藥（細切）　川烏（以上各二兩）　烏梅（五十個，捶碎）　黑豆（半斤，揀洗淨）　豬牙皂角（二兩，去皮弦，切作半寸）上用無灰酒二升，米醋二升，同上項藥一處，裝於瓷瓶內，浸二宿，用文武火煮，約存一升，藥汁取出，焙乾為細末，仍用藥汁打糊為丸，如梧桐子大，或藥汁少，益以酒醋，空心鹽湯下五七十丸，腳氣木瓜湯下，乾物壓之，與活絡丹相間服。</p>

<h2>活絡丹</h2>
<p>治男子婦人癱瘓，筋攣骨痛，腰膝疼痛，口眼喎斜，語言謇澀，目晦、耳聾、頭風等證。近用治心氣痛疝尤驗。（張君寶服驗。）</p>
<p>萆薢（二兩）　金毛狗脊（四兩，切作片，去毛）　川烏（五錢，去皮臍，切小塊）　蒼朮（五錢，去皮，切作片，炒）　杜仲（五錢，細切，薑汁浸炒，去絲）　破故紙（揀，炒）　仙靈脾（切）　吳茱萸（炒）　續斷（各五錢。切）　小茴香（炒）　獨活（各一兩。切）　豬牙皂角（去皮弦，三兩，切作一寸）　薏苡仁（三兩）</p>
<p>上通作一處，用好酒三升，於瓷瓶內浸一宿，次日以文武火煮至約酒汁一升，控出，焙乾，為細末，用煮藥酒打麵糊為丸，如梧桐子大，每服五、七十丸，空心溫酒或鹽湯送下，與七烏丸相間服。孕婦不可服此二藥。</p>

<h2>甜瓜子丸</h2>
<p>治風濕相搏，腰腳疼痛，服之大效。</p>
<p>甜瓜子（三兩，淨，炒黃色）　乾木瓜（一兩半，去皮穰）　威靈仙（一兩）　川烏頭（半兩，炮，去皮臍）</p>
<p>上為細末，酒煮麵糊為丸，如梧桐子大，每服三十丸，溫酒送下，避風處少息，汗出為度，服藥後當日忌食熱物及相反藥材，與半夏、栝蔞、貝母、白芨之類。如病在上食後服，如病在下食前服。</p>

<h2>愈風丹</h2>
<p>治諸般風證，偏正頭風。</p>
<p>通聖散　四物湯　黃連解毒湯（各一兩，加後藥：）　羌活　細辛　甘菊　天麻　何首烏　薄荷　獨活（以上各一兩）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，細嚼，不拘時候，茶酒任下。</p>

<h2>飛步丸</h2>
<p>治陰陽風濕腳氣，手臂舉動不起，無問遠近，並皆治之。</p>
<p>紫金皮（二斤，取頭末八兩，揀時嚼如腦子味透頂者方佳，又名滑藤根）　五加皮（二兩五錢，焙乾）　肥川烏（二兩五錢、去皮，生用）　蒼朮（二兩五錢，米泔水浸一宿，焙乾）　木鱉子仁（四兩，竹刀切片，用三年米醋浸三宿，其油已去，焙乾）</p>
<p>上五味為細末，醋糊為丸，如似兩魚眼睛大，每三十至五十丸，空心用鹽木瓜少許，細嚼和藥，無灰酒送下，忌動風物。</p>

<h2>復春丸</h2>
<p>治腰腳風濕、勞損，手足麻痹，筋骨疼痛不能屈伸，活血注顏補虛。</p>
<p>萆薢（四兩）　破故紙（炒）　杜仲（炒去絲）　葫蘆巴（炒）　木通（各二兩）　骨碎補（去毛）　虎骨（酥炙）　乳香（研）　檳榔　沒藥　木香（各一兩半）　甜瓜子（三兩，炒）　牛膝（去蘆，酒浸焙乾）　巴戟（各二兩。去心）　胡桃仁（一百個，去皮，另研極細）</p>
<p>上件一十五味為細末，與胡桃一處，再研極細，酒糊為丸，如梧桐子大，每服四五十丸，食前，溫酒送下。</p>

<h2>黑弩箭丸</h2>
<p>治風濕證。</p>
<p>兩頭尖　五靈脂（各一兩）　沒藥（另研）　當歸　乳香（以上各三錢。研）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服一十丸至五十丸，臨臥溫酒送下，忌油膩濕面，孕婦勿服。</p>

<h2>紫萍一粒丹</h2>
<p>治一切風疾，累經效驗。</p>
<p>天生靈草無根干，不在山間不在岸，</p>
<p>始因飛絮逐東風，泛梗青青飄水面，</p>
<p>神仙一味起沉疴，採時須是七月半，</p>
<p>選甚癱風與大風，鐵幞頭上也出汗。</p>
<p>上採紫背浮萍草，攤於竹篩內，下著水，曬乾為細末，煉蜜為丸如彈子大，每服一丸，用豆淋酒化下，及治腳氣打撲傷損，渾身麻痹。</p>

<h2>騗馬丹</h2>
<p>治男子婦人中風，口眼喎斜，痰涎壅盛，語言謇澀，手足不仁，筋脈拘攣，肢體不舉，或寒濕相搏，肌肉頑麻，傳入經絡，筋骨疼痛，腰腳浮腫，難以屈伸，或寒濕腳氣，或打撲損傷，筋骨體骱蹉跌，皮膚瘙癢，風毒瘡瘍，並宜服之。（成提舉經驗方）</p>
<p>真川烏（二兩，炮）　川芎（七錢）　真蘇木　地龍（各半兩。去土）　草烏頭（炮）　續斷（酒浸）白芷　牛膝（去蘆，酒浸）　肉蓯蓉（酒浸）　滴乳（燈芯碾）　明松香（研）　木鱉子（去殼，不去油）　虎脛骨（酒浸，炙）　骨碎補（酒浸）　自然銅（醋淬七次，水飛）　敗龜板（各一兩。新瓦煅紅，用好醋製淨令黃色）　全蠍（三錢，去毒，炒）</p>
<p>上件碾為細末，用煮酒打陳米粉為丸，如桐子大，每服五十丸，食後，溫酒送下。</p>

<h2>草靈寶丹</h2>
<p>治一切風疾，及風濕走注疼痛，口眼喎斜，手足頑麻，大有神效。藥味俱要揀淨，然後秤分兩，須要精，最不可草率。</p>
<p>川芎　枸杞子　當歸（去蘆，淨）　細辛（去苗葉土，淨）　白芍藥　荊芥（去根淨）　五加皮（去骨淨）　白蘚皮（去骨淨）　菊花（去根梗淨）　枳殼（去穰淨）　薄荷（去根梗）　威靈仙（去土淨）　木香（四兩）　粉甘草（炒，淨）　川附子（炮裂，去皮臍淨）　草烏頭（炮裂，去皮臍淨）　沒藥（研）　香附子（炒，去毛淨）　金毛狗脊（炒，去毛淨）　人參（去蘆淨）　地骨皮（去骨土淨）　防風（去蘆淨）　羌活（去蘆淨）　香白芷　柴胡（去苗土淨）　升麻（去蘆淨）　麻黃（去根節淨）　烏藥（以上各四兩）　天麻（四兩，酒浸，去苗）　川楝子（去核，取肉，四兩，炒）　何首烏（四兩，酒浸）　白朮（去蘆淨，四兩，煨）　石斛（去根淨，四兩，炒）　自然銅（四兩，煅，醋淬七次，研，水飛）　車前子（四兩，酒浸）　白牽牛（四兩，炒取末）　地龍（去土淨，四兩，炒）　麝香（一兩，一半為衣，研）　乳香（研）　硃砂（二兩，為衣，研）　川烏頭（炮裂，去皮臍淨，四兩）　槐角子（四兩，炒）　大黃（四兩，炒）　烏鴉（二隻，臘月者，泥固濟，炭火煅紅，取出用）　烏梢蛇（一條，酒浸取肉，四兩，炙）　風梢蛇（一條，酒浸取肉，四兩，炙）　白花蛇（二條，酒浸取肉，四兩，炙　藥末成，然後定蜜分兩）</p>
<p>上件為細末，煉蜜為丸，如大龍眼大，每服一丸，空心，臨臥細嚼，用無灰酒送下，芽茶清亦可，臘月最可修合。</p>

<h2>換骨丹</h2>
<p>治卒中風，口眼喎斜，左癱右瘓，不能言，用此藥與搐藥不臥散，汗出其人必愈，有效。</p>
<p>麻黃（五斤，去苗根，不用節）　槐角子　桑白皮（去赤皮）　仙術　香白芷　川芎　威靈仙　人參　防風　何首烏　蔓荊子（各二兩）　苦參　木香　五味子（各一兩）　麝腦（各少許，研）</p>
<p>麻黃用水二十升，以槐枝攪成膏子，留一升取出，和諸藥為丸，如彈子大，每服一丸，用生薑七片，帶須蔥頭七莖，水一碗煎至半碗，先將丸子研細，用蔥薑湯熱調服，便於暖處厚衣被蓋之，勿令透風，通身汗出是效也。</p>

<h2>搐藥不臥散</h2>
<p>藿香　石藋花（黃者）　人參　藜蘆（去苗葉，取根）　芍藥　穀精草　苦丁香　石膏（研）　川芎　甘草</p>
<p>上十一味停分，為細末，每用三字，口噙水，左右鼻內搐之，作涕為效，與前方換骨丹一對藥。</p>

<h2>如神散</h2>
<p>治風濕手臂痛，左癱右瘓，風氣等證。</p>
<p>真皂角（去皮弦，八兩）　海亦兒（半兩，即合孩兒香茶者是）　北棗（四兩）</p>
<p>先將皂角熬成清汁，濾去滓，將棗兒並海亦兒用桑柴文武火熬干，取出棗兒，瓷器內收頓，如熬至七分，取汁一盞，逐旋添，熬干為度，每服二三個，細嚼嚥下，後飲酒一盞，三四個之上，不得多吃。</p>

<h2>木瓜虎骨丸</h2>
<p>治風寒濕客於營衛合而成痹，使肢節疼痛，麻痹不仁，手臂無力，項背拘急，腳膝筋攣不能屈伸，宜常服。</p>
<p>木瓜肉　麒麟竭（另研）　沒藥（另研）　自然銅（煅，醋淬七次，研）　木香　虎脛骨（酒炙黃）楓香脂（研）　敗龜板（醋炙黃）　骨碎補（去毛）　甜瓜子　官桂（去粗皮）　當歸身（銼，焙。各一兩）　乳香（另研，半兩）　地龍（去土，秤）　安息香（湯酒煮入藥。各二兩）</p>
<p>上件一十五味，除另研外，為細末，拌勻酒糊為丸，如梧桐子大，每服二十丸，溫酒送下，煎木瓜湯送下亦可，漸加至五十丸，食前、臨臥各進一服，忌食冷物濕面諸血等物。</p>

<h2>麝香虎骨散</h2>
<p>治男子因氣虛血弱，風毒邪氣，乘虛攻注皮膚骨髓之間，與氣相搏，往來交擊，痛無常處，遊走不定，或日輕夜重，筋脈拘急，不能伸屈皆治之。（杭州楊清之教授傳。）</p>
<p>虎脛骨（酥炙，半兩）　敗龜板（半兩，炙）　麒麟竭（研）　赤芍藥　沒藥（研）　自然銅（醋炙，研）　白附子（炮）　蒼耳子（炒）　當歸　骨碎補（去毛）　防風　肉桂（去粗皮）　白芷（各一兩）　牛膝（去苗，酒浸）　五加皮　川羌活　檳榔　川天麻（各二錢半）</p>
<p>上件一十八味，如修制干，入麝香在內為末，每服一錢，用熱水少許調服，空心服之，比服此藥之先，煎生料五積散三服，次日服此藥。</p>

<h2>乳香應痛散</h2>
<p>治手足麻痹，筋骨疼痛，補虛注顏。</p>
<p>蒼朮（半斤或四兩，制）　川烏（炮）　草烏（各一兩半。焙）　地龍（去土，半兩）　五靈脂（一兩半，去砂石，研）　芍藥　葫蘆巴　破故紙（炒）　自然銅（火煅淬）　川椒（炒出汗）　茴香（炒）　兩頭尖　甜瓜子（炒）　白殭蠶（炒）　白附子　當歸　牛膝（各半兩。酒浸）　乳香　沒藥　細辛（各三錢。去葉）　血竭（二錢半，研）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服五、七丸至十丸，空心溫酒送下，乾物壓之，鹽湯亦可。</p>

<h2>薏苡仁湯</h2>
<p>治手足流注疼痛，麻痹不仁，難以屈伸。</p>
<p>薏苡仁（去皮，一兩）　當歸（去蘆，一兩）　芍藥　麻黃（去節）　桂（去粗皮。各一兩）　甘草（去皮，一兩，微炒）　蒼朮（去粗皮，四兩　米泔浸一宿，炒）</p>
<p>上為㕮咀，每服五錢，水二盞，生薑五、七片，煎至七分，去滓，食前溫服，若病人汗出者，減麻黃，病人內熱者，減桂，看虛實加減服之。</p>

<h2>遇仙如意丸</h2>
<p>治諸風疾病，及患惡瘡，婦人月事不見，產後胸中惡物，盡皆治之，大有效驗。</p>
<p>白茯苓（去皮）　陳皮（去白）　青皮（去穰。各一錢）　丁香　木香　人參（各二錢）　白朮（煨）白豆蔻仁　縮砂仁　官桂（去皮）　荊三稜（炮）　石菖蒲（炒，去毛）　遠志（去心）　廣朮（炮。各三錢）　乾山藥（半兩）　甘草（去皮，少許）　香附子（五兩）　牽牛頭末（將八兩研，用頭末一兩六錢）</p>
<p>上為細末，好醋糊為丸，如梧桐子大，每服一百二十丸，看老幼虛實加減丸數，臨臥溫水送下。凡食不可太飽，可食粥五、七日，忌生冷、硬物、酒、肉、魚、面。若風疾病，加地骨皮一兩，若氣蠱、水蠱，每服三百丸，一服立消，大效。此藥微利三、五行，欲要止臟腑，吃涼水一口便住，利後服甘露散一服即補。</p>

<h2>甘露散</h2>
<p>服如意之後，便服此藥即補，能分陰陽，大有效驗。</p>
<p>白滑石（六兩，燒）　澤瀉　甘草（各一兩。去皮）　人參　茯苓　白朮　木豬苓（各半兩。去黑皮）</p>
<p>上為細末，每服三錢，白湯調服。要分陰陽，蜜和丸，如彈子大，每用白湯化開，加稀麵糊調服之。</p>

<h2>加味三生丸</h2>
<p>治風痰氣壅。</p>
<p>南星　半夏　天麻　白附子　人參（以上各一兩）</p>
<p>上皆生用，碾羅為極細末，生薑自然汁打糊為丸，如梧桐子大，每服三五十丸，食後、臨臥薑湯送下。</p>

<h2>澡洗藥</h2>
<p>治一切風疾，燥癢，淋洗。</p>
<p>乾荷葉（二斤）　藁本　零陵香　茅香　藿香　威靈仙（去土。以上各一斤）　甘松　香白芷（各半斤）</p>
<p>上為㕮咀，每用二兩，生絹袋盛，用水二桶，熬數十沸，放稍熱，於無風房內淋浴，避風，勿令風吹，光膩皮膚，去瘙癢。</p>

<h2>徐神翁神效地仙丹</h2>
<p>治筋骨疼痛，打撲損傷，仙術湯送下，除寒濕，進飲食。</p>
<p>川烏（一兩，去尖）　草烏（五個，去尖）　荊芥（去枝，半兩）　蒼朮（一兩，米泔浸一宿，炒）　自然銅（一字，研）　白芷　地龍　沒藥（各半兩。研）　乳香（半錢，研）　萵苣種　黃瓜種　梢瓜種　木鱉子（各一兩）　半兩錢（二文）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服一十丸，食後，溫酒送下。</p>

<h2>白花蛇造酒方</h2>
<p>治大風。</p>
<p>每白花蛇一條，蒸米一斗，缸底先用酒麴，次將蛇用絹袋盛之，頓於面上，後蒸飯和勻，頓於蛇上，用紙封缸口，候三七日，開缸取酒，將蛇去皮骨為末，每服酒一盞，溫服蛇末少許，仍將酒腳並糟做餅食之尤佳。</p>

<h2>仙酒方</h2>
<p>治諸風疾。前監察御史兼西京留守竇文炳染風疾，手足拘攣，半身不遂，累蒙恩醫不愈，訪求醫到奉仙縣，有縣尉李能有此方極有神效，名曰仙酒方，依方浸酒一斗，未服藥時，令人扶策，不能自動，飲酒二升能舒手，飲酒三升能伸腰，四、五升痊愈，此方不敢私隱。</p>
<p>牛膝（洗淨，細切）　秦艽（去裂紋）　桔梗（去蘆）　防風（去蘆）　羌活（去蘆，細切）　晚蠶砂（洗淨，炒。以上各二兩）　枸杞子（二升）　牛蒡子（半斤）　牛蒡根（二斤，去粗皮，細切）　火麻子（一斤，洗淨）　蒼朮（二升，洗淨，去粗皮，瓷器內蒸熟用）</p>
<p>上件為末，糯米酒二斗，於大瓷器內浸藥封口，第七日開封，勿令面近瓶口，恐藥氣出犯人眼目，每服一盞，空心服，日進三服，溫服之，忌濕面、魚三個月。奉敕送御藥院附靈寶上方，更加天麻半斤，洗淨，枳殼二兩，揀淨，當歸三兩，地黃二兩，同前藥浸酒。</p>

<h2>避風丹</h2>
<p>前大軍庫張提領，患白癜風，服之愈。</p>
<p>蒼朮（米泔浸一宿，焙）　何首烏　荊芥穗　苦參（以上各等分）</p>
<p>上件為細末，好肥皂角三斤，去皮弦，於瓷器內熬為膏，和為丸，如梧桐子大，每服三五十丸，空心酒茶任下，忌一切動風之物。</p>

<h2>真方白丸子</h2>
<p>治風，可常服，永無風疾隔壅之患，呂九山總管家用秘方。</p>
<p>大半夏（湯泡七次）　白附子（洗淨，略炮）　天南星（洗淨，略炮）　天麻　川烏頭（去皮尖，略炮）　全蠍（去毒，炒）　木香　枳殼（各一兩。去穰，炒）</p>
<p>上為細末，生薑自然汁打糊為丸，如梧桐子大，每服一二十丸，食後臨臥，茶清熟水送下，癱瘓風，溫酒送下，日進三服，小兒驚風，薄荷煎湯送下二丸。</p>

<h2>如神救苦散</h2>
<p>治左癱右瘓，風濕痹，走注疼痛，無問男子婦人，遠年近日，並皆治之。</p>
<p>御米殼（一兩，去頂，蜜炒）　陳皮（五錢，去白）　虎骨（酥炙）　乳香（研）　沒藥（研）　甘草（各二錢半）</p>
<p>上為細末，除乳香、沒藥另研外，每服三錢，水一盞半，煎至八分，連滓熱服，病在上食後，病在下食前，如煎藥一順攪之，修合精製，勿差分兩，忌豬、馬、驢、魚、兔等肉。</p>

<h2>龍虎丹</h2>
<p>治男子婦人，心神恍惚，陽明經大盛，時復驚懼失位，口發狂言，不避親疏，一切風病等證。</p>
<p>龍骨（研）　虎骨（酥炙）　人參　箭頭硃砂（研）　遠志（甘草水煮，去骨）　酸棗仁（炒去殼。以上各一兩）　大天南星（三、四枚，泔水浸洗，去皮滑涎，控干，竹刀剜成罐，裝硃砂末，以南星末蓋之）　豬心（一個，取新殺獖豬，帶血熱心，內置南星在內，以燈草裹豬心，外用麥門冬草洗淨不拘多少，包之甑上，九蒸九曝，取出南星於金銀器內盛之，取日精月華之氣曝露十晝夜，搗羅為末，後加余藥同和勻。）</p>
<p>上為細末，用無灰酒打麵糊，冷定，和搜成劑，丸如梧桐子大，每服五七十丸，空心溫酒送下，小兒丸如黃米大，每服三五十丸，煎人參湯送下，病甚者不過二十服，即愈，除根不發。</p>

<h2>治紫癜風</h2>
<p>用舶上硫黃，不以多少，用米醋化開，將茄蒂蘸硫黃醋，磨擦癜風處。</p>

<h2>治諸般癜風</h2>
<p>用豬牙皂角，不以多少，用炭上燒成灰，每服一錢，空心好酒調服。</p>

<h2>透骨膏</h2>
<p>治一切風濕走注疼痛。</p>
<p>生熟地黃　馬鞭草（各半斤）　吳茱萸　白麵（各三斤）　骨碎補　敗姜屑（各四兩。乾生薑是也）　鱉甲（三斤，炙）　蒲黃（二兩）</p>
<p>上為細末，用米醋調似膏子，於火上溫熱，攤於痛處，用紙裹著，候藥冷再炒，如此七次，於避風處用。</p>

<h2>接骨丹</h2>
<p>逐濕氣，定疼痛腫疾，並皆治之。</p>
<p>骨碎補（去毛，一斤）　敗姜　生地黃（去土洗淨。各一斤）　蒲黃（半斤）　白麵（二斤）</p>
<p>上為細末，一處拌勻，用隔年好米醋熬滾熱調藥，放溫於痛處，如藥冷，再用熱醋調敷，如此七次，用綿包之，大有神效，此一料，分作七處，七日用之。</p>

<h2>四聖紫金丹</h2>
<p>治男子婦人，左癱右瘓，口眼喎斜，中風疾病，依方修合，志心服餌，大病不過三服，初得一服效驗。</p>
<p>槐實子（文武火麩炒黃色）　豬牙皂角（酥炒黃色，去子）　荊芥穗（揀淨，生用）　甘菊花（炒。以上各等分）</p>
<p>上為細末，煉蜜為丸，如彈子大，病重者每服一丸，細嚼茶清送下，病輕者臨時加減，微汗出為驗。如汗後體熱難忍，噙甘草解之。</p>

<h2>祛風導氣化痰丸</h2>
<p>治男子婦人，咳嗽氣積，嘔吐痰涎，頭目昏暈，半身不遂，中風偏痱，口眼喎斜，他藥不療者。</p>
<p>烏疊泥（即孩兒茶）　天南星（各三兩）　半夏（七兩）　天麻（一兩酒浸，焙）　白附子（二兩，生焙）　川烏（半兩，炮，去皮臍）　全蠍（一兩，不去毒，用薄荷葉炙）</p>
<p>上各取淨末，除南星、半夏生取末，以絹袋盛，安瓷器中，新水浸，日曬夜露三晝夜，每早換水，三日取出，曬乾為細末，各依分兩秤，相和重羅，用真蘇合油三兩，如無，蘇合香丸膏子亦可，如不敷，入糯米粉打薄糊為丸，如梧桐子大，每服五七十丸，食後臨臥薑湯下，日進二服，藥只陰乾，不要曬乾及焙。</p>

<h2>治風濕腳氣</h2>
<p>好川烏（一兩，生用）　無名異（二兩，研）　石亭脂（一兩，生用，研）　上件為細末，用蔥白搗爛，紐自然汁為丸，如梧桐子大，每服只一錢重，空心生蔥、淡茶吞下，一日止一服。敷藥：草烏　白芷　防風　獨活　羌活</p>
<p>上等分為細末，用生地龍數條研爛，酸米醋調敷。</p>

<h1>二、心氣痛門</h1>

<h2>治急心疼方</h2>
<p>斑蝥（七個，頭翅全）　胡椒（四十九粒）</p>
<p>上將二味同炒令斑蝥焦碎，吹去斑蝥不用，淨吹鬍椒無斑蝥末，將胡椒碾為細末，只作一服，熱酒調服，不拘時候。</p>

<h2>沒藥玄胡散</h2>
<p>治男子婦人，急心氣腹痛。</p>
<p>玄胡索　海帶（各五錢）　沒藥（四錢）　良薑（三錢）</p>
<p>上為細末，每服三錢，溫酒調服，不拘時候。</p>

<h2>治急心氣疼</h2>
<p>海上方急救男子婦人心疼，禁了牙關欲死者，可急救之。</p>
<p>隔年老蔥白</p>
<p>上將老蔥白三五根，去皮須葉，擂為膏，將病人口斡開，用銀銅匙將蔥膏送入咽喉中，用香油四兩灌送膏，油不可少用，但得蔥膏下喉中其人即蘇，少時將腹中所停蟲病等物化為黃水，微利為佳，除根永不再發，累曾救得人效。</p>

<h2>應痛丸</h2>
<p>治急心氣痛不可忍者。</p>
<p>好茶末（四兩）　揀乳香（二兩）</p>
<p>上為細末，用臘月兔血和丸如雞頭大，每服一丸，溫醋送下，不拘時候。</p>

<h2>蠶砂散</h2>
<p>治男子婦人心氣痛不可忍者。</p>
<p>晚蠶砂（不拘多少）</p>
<p>上為細末，用滾沸湯泡過，濾淨，取清水服之立止。</p>

<h1>三、小腸疝氣門</h1>

<h2>香蠍散</h2>
<p>治小腸疝氣，陰囊腫痛。</p>
<p>乳香（一錢）　蠍梢（二錢）　川烏頭（去皮，生用，三錢）</p>
<p>上為細末，每服一錢，水一盞，煎至七分，入鹽少許，空心連滓熱服，立見效。</p>

<h2>奪命丹</h2>
<p>治遠年日近小腸疝氣，偏墜搐痛，臍下脹痛，以致悶亂及外腎腫硬，日漸滋長，陰間濕癢，抓之成瘡，並皆治之。</p>
<p>吳茱萸（一斤，去枝梗淨，四兩酒浸，四兩醋浸，四兩湯浸，四兩童子小便浸，各一宿，焙乾）　澤瀉（一兩，去灰土）</p>
<p>上為細末，酒糊為丸如梧桐子大，每服五十丸，空心，鹽酒或鹽湯下。</p>

<h2>玉蟾裩</h2>
<p><u>附煮裩藥</u></p>
<p>三歲嬰孩性不調，休教二子放疏嬌，</p>
<p>一張衲被幪頭了，自有神仙路一條。</p>
<p>煮裩藥：山茱萸　吳茱萸　蛇床子　牡蠣　川椒　蔥白（帶須）</p>
<p>上各等分為㕮咀，每用三錢，熬水熏洗。</p>

<h2>川楝茴香散</h2>
<p>治小腸疝氣疼痛。</p>
<p>木香　茴香（鹽炒香，不用鹽）　川楝子（切片，鹽炒，同鹽用）</p>
<p>上各等分，為細末，每服三錢，熱酒一盞，空心調服。</p>

<h2>神效丸</h2>
<p>治疝氣奔豚嬰兒秘訣：</p>
<p>疝氣因何得，邪風在腎經，流傳並血聚，如此漸成形，冷氣積在臟，因茲小腹疼，本經無補法，疏利藥通靈。</p>
<p>芫花（半兩，醋浸，炒）　木香　檳榔　三稜（各半兩。炒）　茯苓　青皮　全蠍　附子（炮）　硇砂　桂（各二錢半）</p>
<p>上將硇砂，用水浸瓷盞內，沉去泥土留湯，瓶頭頓成膏子，糠醋打糊為丸，如綠豆子，每服三十丸，空心，溫酒送下。</p>

<h2>喝起丸</h2>
<p>治小腸氣及腰痛。</p>
<p>萆薢　杜仲（酥炒，去絲）　葫蘆巴（生芝麻炒）　破故紙（炒）　小茴香（以上各一兩。鹽水浸一宿）　胡桃仁（一兩，湯去皮）</p>
<p>上將胡桃為末，同前五味藥末為丸，如梧桐子大，每服三五十丸，空心，鹽酒送下，或鹽湯亦可。</p>

<h2>飛黃丹</h2>
<p>治小腸疝氣疼痛。（彭文恕外郎傳得效海上方）</p>
<p>用帶毛雀兒去腸肚，將金絲礬細研，裝於雀兒肚內滿縫合，用桑柴火緩緩煨燒成灰，研為細末，空心，用無灰酒調下，恐噁心，入鹽少許，年遠者，每服二枚，近則一枚，累有效驗。</p>

<h2>木香楝子散</h2>
<p>治小腸疝氣，膀胱偏墜，久患，藥不效者，服此藥其效如神。（燕同知秘傳）</p>
<p>川楝子（二十個為末，未碾前先同巴豆二十粒同楝子炒黃赤色，去巴豆不用）　萆薢（半兩）　石菖蒲（一兩，炒）　青木香（一兩，炒）　荔枝核（二十個，炒）</p>
<p>上為細末，每服二錢重，入麝香少許，空心，炒茴香鹽酒調下。</p>

<h2>通氣散</h2>
<p>治小腸疝氣，腰腹牽引疼痛及感風寒，或因勞動腰痛。並治婦人吹奶，心氣脾痛，瘡癤已潰未潰，悉治有功。</p>
<p>穿山甲（銼碎，用蛤粉炒脹，去粉，二兩重）　白牽牛（一兩，炒）　玄胡索（去皮，一兩）　陳皮（去白淨，一兩，炒）　木香（一兩半，不見火）　舶上硫黃（二兩，炒）　厚朴（去皮，一兩）甘草（一兩，炒）　黑牽牛（半兩，炒）</p>
<p>上為細末，每服二錢，空心，溫酒調下，病在上者食後。</p>

<h2>木賊散</h2>
<p>治小腸疝氣。</p>
<p>木賊（不拘多少，去節，先將鍋子燒熱，取離火炒）</p>
<p>上碾為細末，空心，熱酒調下。</p>

<h2>四聖散</h2>
<p>治小腸膀胱疝氣疼不可忍者。</p>
<p>川楝子（炒黃）　胡椒　茴香（炒）　全蠍（炒。以上各半兩）</p>
<p>上為細末，每服二錢，空心，熱酒調下。</p>

<h2>香砂丸</h2>
<p><u>烈平章服得效。</u></p>
<p>茴香（鹽炒香，去鹽不用）　新蠶砂（曬乾）</p>
<p>上等分為細末，煉蜜為丸，如彈子大，空心，細嚼，溫酒送下，甚者，日進二服。</p>

<h2>安息香丸</h2>
<p>治陰氣下墜，腫脹，卵核偏大，堅硬如石，痛不能忍者。</p>
<p>玄胡索（微炒，去殼）　海藻（洗）　昆布（洗）　青皮（去白）　茴香（炒）　川楝子（去核）　馬藺花（以上各一兩，炒）　木香（半兩，不見火）　大戟（酒浸三宿，切片，焙乾，秤二錢半）</p>
<p>上為細末，另將硇砂，真阿魏、真安息香三味各二錢半，用酒一盞、醋一盞，將硇砂、阿魏、安息香淘去沙石，用酒醋各一盞，熬成膏子，再入麝香一錢，沒藥二錢半，俱各另研細，入前藥一同和丸，如綠豆大，每服一十丸至十五丸，空心，用綿子灰調酒送下。</p>

<h2>治疝氣</h2>
<p><u>驗過如神。</u></p>
<p>川楝子（一兩）　八角茴香（一兩）　舶上茴香（五錢，其狀如葵花子真也，味如茴香）　吳茱萸（一兩）　赤白芍藥（各五錢）　川芎　枳實（麩炒）　川歸（各一兩）　人參　木香（各二錢）　粉草（三錢，炙）</p>
<p>上水二鍾，生薑三片，蔥六莖，煎至八分，溫服，每服一兩，仍以草烘熱包裹子袋頻易，第二服加枳殼，如氣虛加黃耆、破故紙，第三服加蓬朮，第四服加蒼朮為君，少用蓬朮。</p>

<h1>四、積滯門</h1>

<h2>松煙餅子</h2>
<p>治積氣塊，消食快氣。</p>
<p>細墨（五分，燒研）　陳皮（五錢，去白）　牽牛（五錢，別碾，取頭末五錢）　神麯（炒）　三稜（火煨）　密陀僧（研）　五靈脂（研）　硇砂（研）　牡蠣（火煨煅）　麥糵（炒。各五錢）　大黃（一兩）　北棗（一十四個，燒存性）　斑蝥（一兩，去翅足，糯米同炒）　芫花（醋浸一宿，炒）　乾漆（炒去煙）　白丁香（研）　大戟（去蘆）　青礞石（研）　蓬莪朮（各一錢，煨）　巴豆（一兩，去皮，濕紙裹燒黃色為度）</p>
<p>上為細末，水打麵糊為丸，如皂角子大，捻為餅子，記以所傷，煎湯送下，或麵湯亦可。小兒三餅，大人看虛實稟氣加四、五餅，不嚼吞服。其積塊漸漸近下，再進一服，又覺近下，或積塊疪血痢塞，大人、小兒久痢，或休息痢，並男子、婦人年深不伏水土，及暑月變成惡痢，米物不消，五痞塊逆，鬲胃吐食，心胸悶閉，酒疸食黃，勞嗽上喘，嘔逆涎沫，心閉驚恐，口苦噁心，小便淋澀，大便不通，傷寒餘毒，婦人胎前產後，敗血困生結成積塊，飲食平常，遍身疼痛，腰強腿硬，手足眩厥，九種心疼，十般積熱，九般水氣，霍亂吐瀉，久病瘦弱，但有此症，並皆治之。</p>

<h2>木香順氣丸</h2>
<p>消食快氣，美進飲食，予亦曾服。（史才用提舉傳此方。）</p>
<p>當歸（去蘆）　木香　獨活（去蘆）　牛膝（酒浸、三日，去蘆）　防風（各一兩。去蘆）　大黃（五兩，半熟半生）　檳榔（一兩五錢）　麻仁（三兩，別研）　車前子　郁李仁（各二兩五錢。湯浸去皮）　枳殼（煨，去穰）　菟絲子（酒浸三日）　乾山藥（各二兩）　山茱萸（二兩、去核，用一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服三五十丸，食後溫湯送下。</p>

<h2>沉香降氣丸</h2>
<p>治胸膈痞滿，升降水火，調順陰陽，和中益氣，推陳致新，進美飲食。</p>
<p>沉香（鎊）　木香　蓽澄茄　枳殼（去穰）　縮砂仁　白豆蔻仁　青皮（去白）　陳皮（去白）　廣朮（炮）　枳實（麩炒）　黃連（去須）　半夏（薑製）　蘿蔔子（另研。以上各半兩）　白茯苓（去皮，一兩）　香附子（二兩，炒，去皮毛）　白朮（一兩，煨）　烏藥（一兩半）</p>
<p>上為細末，生薑自然汁浸，蒸餅為丸，如梧桐子大，每服五七十丸，臨睡煎橘皮湯送下，薑湯亦可，日進一服，忌生冷，調飲食，節陰陽。</p>

<h2>金露丸</h2>
<p>治腹內積聚症塊久患大如杯，及黃瘦，宿水，朝暮咳嗽年深，治下冷氣，時時腹痛，如蟲咬，胸心及兩脅徹背疼痛不息，氣繞臍下肚疼，又治十種水氣，反胃吐食，嘔逆氣噎，五痔走疰風，有似蟲行，手足煩熱，夜臥不安，睡語無度。治小兒驚疳，婦人五邪，夢與鬼交，沉重不思飲食，昏迷不省人事，欲死，懼多，或歌或哭，月水不調，身體羸瘦，但服此藥萬無一失，無病不治，其效不能盡述。</p>
<p>草烏頭（泡，二兩）　黃連（二兩）　桂心（不見火）　乾薑　桔梗　茯苓（去皮）　柴胡（去苗）　蜀椒（去目，炒出汗）　吳茱萸（湯泡七次）　厚朴（薑製）　人參（去蘆）　菖蒲（米泔浸一宿）　防風　紫菀（去芮）　鱉甲（醋炙）　芎藭（洗，焙）　枳殼（麩炒，去穰）　貝母（去心）　甘遂（泡）　乾地黃（洗，焙）　甘草（炙，以上各一兩）　巴豆（去心膜、用醋煮三十沸，焙乾，一兩，不去油）</p>
<p>上為細末，麵糊為丸，如梧桐子大，每服三丸、五丸、七丸，止胸中痰患，米湯送下；心疼酸石榴皮煎湯送下；口瘡蜜湯送下；傷寒麻黃蔥湯送下；頭疼石膏煎湯送下，蔥茶亦可；脾胃氣橘皮湯送下；腳氣水氣杏仁煎湯送下；水瀉氣瀉草龍膽煎湯送下；赤痢甘草湯送下；白痢乾薑湯下；赤白甘草乾薑湯下；胸膈困悶通草煎湯送下；婦人氣血痛當歸酒或當歸湯送下；風氣小腸疝氣下墜附子煎湯送下；傷冷腹痛酒食所傷、酒疸黃疸、結氣痞塞、鶴膝風並鹽湯送下；常服米飲白湯茶酒皆可送下。此藥前人用之效者。馬遂臨老渾身楚痛，不思飲食，每夜五丸，服至七日，血塊如雞肝二百餘片，水一升，以此見效。三原主簿陳勝妻病一十五年，羸瘦腹痛不可忍，服至旬日取下青蟲六七十條如箸頭及藥水四、五升，似此，效不一也。進此方時，後代鄭授之此方於杜相府，子弟用之無不治效。如小兒服，一丸分作四丸，量兒大小下。臨合藥時，將巴豆必要親自數三十沸，便須取出焙乾，煎過恐藥無力。服藥百無所忌，只定看驗病症，不定用湯，有瘥其效驗不速也。</p>

<h2>丁香爛飯丸</h2>
<p>治中脘胃痛，消食快氣。</p>
<p>丁香　京三稜（炮）　木香　廣朮（各一錢。炮）　縮砂仁　益智仁　丁皮　甘松（去土，各三錢）　（甘草二錢，炙）　香附子（五錢，炒去毛）</p>
<p>上為細末，蒸餅，水浸去皮為丸如梧桐子大，每服三、五十丸，白湯送下，細嚼亦可，不拘時候。</p>

<h2>香稜丸</h2>
<p>消食快氣，寬中利膈，化痰。（小大哥副使常服）。</p>
<p>京三稜　廣朮　青皮　陳皮（各銼碎，醋煮，焙乾）　蘿蔔子（炒，別研）　縮砂仁　白豆蔻仁沉香　木香　半夏曲（各一兩。炒）　神麯（炒）　麥糵（炒，另研。以上各一兩）　阿魏（半兩。另研）　香附子（炒去毛）　烏藥　枳殼（麩炒，去穰）　蓽澄茄　檳榔　溫姜（各半兩）上件為細末，以神麯、麥糵末打糊，研入阿魏，搜和為丸，如梧桐子大，每服七、八十丸，薑湯下，不拘時候。</p>

<h2>七香丸</h2>
<p>治酒食過傷，停飲。消積、寬胸膈、快脾。</p>
<p>丁香　乳香（研）　木香　麝香（研）　安息香（研）　沉香（鎊）　藿香（各二錢半）　青橘皮（去穰）　陳皮（去白）　檳榔（麵裹煨）　訶子皮　京三稜（麵煨）　蓬莪朮（煨）　肉豆蔻（麵煨。各一兩）　桂（二兩半，去皮）　豬牙皂角（一兩，去皮弦）　巴豆（七錢，去殼不去油，別研入）　細墨（半兩）</p>
<p>上用陳米四兩與皂角、墨、巴豆一處炒令焦黃，用重紙裹，候冷，同前藥研為細末，白麵糊為丸，如黃米殼大，每服五、七丸至十丸，食後薑湯送下，如欲推利，服一十五丸，利三、二行，勿多服丸數。</p>

<h2>香棗丸</h2>
<p>治蠱氣病，蠱有十種。</p>
<p>苦丁香</p>
<p>上為細末，用熟棗肉為丸，如梧桐子大，每服三十九丸，煎棗湯送下，空心，服之立效，三服必愈。</p>

<h2>木香三稜散</h2>
<p>治腹中有蟲，面色萎黃，一切積滯。</p>
<p>黑三稜（半生半炒，多用）　大腹子（多用檳榔）　雷丸　錫灰（醋炒）　三稜（煨）　蓬朮（煨）　木香　大黃（以上各一兩）</p>
<p>上為細末，每服三錢，空心，用蜜水調下，或沙糖水亦可，須先將燒肉一片，口中嚼之，休嚥下，吐出口中肉汁後服藥。</p>

<h2>萬靈丸</h2>
<p>取蟲宣積。（浙東傳得效。）</p>
<p>黑牽牛（一斤，取頭末一十兩，生用）　大腹子（一斤，扁者，取七兩末，生用，如尖者是檳榔）　京三稜（五兩，炮）　廣木香（五兩，麵裹煨乾為度）　雷丸（五兩，炮）　蓬莪朮（煨，三兩）</p>
<p>上為細末和勻，用好紫色皂角半斤，去皮弦，切碎，用水兩大碗，浸一宿，冬月兩宿，撈去粗滓，銅瓷器內熬數沸，白沫出為度，放冷和藥，必須揉杵，搗丸，梧桐子大，每服四錢重，五更用沙糖水送下，溫冷不妨，至天明去利四、五行者，看取下是何蟲積，以溫白粥補之。忌生、冷、腥、硬之物，大有神效。孕婦勿服。</p>

<h2>消痞丸</h2>
<p>治痢後肚腹滿悶。</p>
<p>蒼朮（四兩，淨，米泔浸，焙乾，炒）　陳皮（一兩，去白）　青皮（一兩，淨，去穰）　木香（二錢）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服二十丸，空心，溫酒下，小兒三、五、七丸，米飲湯送下。</p>

<h2>木香枳殼丸</h2>
<p>寬胸膈，進飲食，消食快氣。</p>
<p>木香　檳榔　陳皮（去白）　黃連（去須）　廣朮（煨）　當歸（去蘆）　枳殼（去穰，麩炒）　青皮（以上各半兩）　黃柏　香附子（麩炒去毛，各一兩半）　牽牛（頭末，二兩）</p>
<p>上為細末，滴水為丸，如梧桐子大，每服五、七、十丸，食後薑湯送下。若有瘡毒，急服百丸至二百丸，看人虛實加減服，但利五、七行，立消腫毒。</p>

<h2>木香檳榔丸</h2>
<p>木香　檳榔　黃連（去須）　當歸　枳殼（去穰，火煨）　青皮（去穰）　陳皮（各一兩。去白）　大黃（四兩，紙裹，酒浸濕）　黃芩（二兩，去黑心）　黃柏（三兩，去粗皮）　牽牛（四兩，取頭末二兩）　香附子（炒去毛，二兩）　廣朮（火煨、去穰，一兩）</p>
<p>上為細末，滴水為丸，如梧桐子大，每服五、七十丸，食後薑湯送下。</p>

<h2>勝紅丸</h2>
<p>治心腹痞滿，消食快氣，美進飲食。</p>
<p>三稜（醋炙）　廣朮（醋炙）　青皮（去穰，炒）　陳皮（去白）　乾薑（火炮）　良薑　枳實（去穰，炒）　白朮（煨）　蘿蔔子（炒，別研。各一兩）　香附子（二兩，炒去毛）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服五、七十丸，薑湯或木香同煎，陳皮湯送下，不拘時候。</p>

<h2>導水丸</h2>
<p>黃芩（二兩，去粗皮）　大黃（二兩，去粗皮，酒浸二三時，紙裹火煨）　滑石（四兩，碾細，飛去灰石）　牽牛（四兩。其治法正用一斤，炒香，取頭末四兩）</p>
<p>上為細末，滴水為丸，如梧桐子大，每服五、七十丸，臨臥溫水送下。如加黃連、薄荷葉、以芎各二錢半，即神芎丸是也。詳證加後藥：</p>
<p>甘遂（一兩，久雨則加，除濕熱腰痛，泄水濕腫）　白芥子（一兩，除遍身走注疼痛）　朴硝（退熱散腫，止痛，久旱則加）　郁李仁（散滯結，通關節，行腸胃，通滯）　樟柳根（去腰腿沉重。以上各一兩）</p>

<h2>木香枳殼丸</h2>
<p>治中焦氣澀，胸膈痞滿，飲食遲化，四肢困倦，嘔吐噁心。常服升降滯氣，消化宿食，去痰，進飲食。</p>
<p>木香　枳殼（去穰，炒）　檳榔　半夏（湯泡七次）　青皮（去穰）　陳皮（去白）　白茯苓（去皮。以上各一兩）　白朮（煨，一兩半）　京三稜（煨）　廣朮（煨，各三兩二錢）　黑牽牛（微炒，取末三兩）　加人參　神麯（微炒）　大麥糵（微炒）　枳實（炒，各半兩）　乾薑（炮、七錢）</p>
<p>上各依等分同為細末，水糊為丸，如梧桐子大，每服五十丸，食後，溫薑湯送下。</p>

<h1>五、痰飲門</h1>

<h2>化痰丸</h2>
<p>快脾順氣，化痰消食。</p>
<p>半夏（洗）　南星（去皮膜）　白礬　皂角（切碎）　生薑</p>
<p>上件各一斤重，用水同煮至南星無白點為度，揀去皂角不用，生薑切作片，同半夏、南星曬乾，無日色，火焙，再加：</p>
<p>青皮（去穰）　陳皮（去白）　紫蘇子（炒）　蘿蔔子（炒，別研）　杏仁（去皮尖，炒，另研）　乾葛　神麯（炒）　麥糵（炒）　糖球子　香附子（去毛）</p>
<p>上件以上半斤淨，與前藥合和一處，研為細末，生薑自然汁浸，蒸餅，打糊為丸，如梧桐子大，每服五、七十丸，臨睡、食後茶酒送下。</p>

<h2>神仙墜痰丸</h2>
<p>治痰壅，胸痞氣湊，此藥下痰。（史府判驗。）</p>
<p>黑牽牛（一斤，取頭末四兩）　皂角（無蟲蛀者，去皮弦，酥炙黃色，去子淨一兩六錢）　生白礬（一兩二錢）</p>
<p>上為細末，清水為丸，如梧桐子大，每服三、五十丸，漸加至百丸，空心溫酒送下，看病輕重，五日、十日一服，病輕者半月一服，久服永無癱瘓之疾。</p>

<h2>寬中祛痰丸</h2>
<p>治男子婦人飲食過多，色欲太過，食喜酸鹹，作成痰飲於胸膈，滿則嘔逆噁心；流則臂膊大痛；升則頭目昏眩；降則腰腳重痛；沉則左癱右瘓；輕則猛然倒地。此藥寬中理氣，祛痰搜風。</p>
<p>半夏（四兩，湯泡七次，曬乾，研為末，用生薑自然汁捏作餅子陰乾）　荊芥穗（一兩）　白礬（枯，一兩）　麻黃（四兩，去節淨用）　槐角子（一兩，麩炒）　陳皮（湯洗去白，一兩）　硃砂（一兩，研細，水飛過，半入藥，一半為衣）</p>
<p>上為細末，生薑自然汁打糊為丸，如梧桐子大，每服三十丸，空心臨臥，用皂角子仁炒黃，同生姜煎湯送下。忌食豬羊血、豬肉、桑鵝、蘑菇、黃瓜、茄子等物。</p>

<h2>二陳湯</h2>
<p>治痰飲為患，或嘔吐噁心，或頭眩心悸，或中脘不快，或發寒熱，或因食生冷。</p>
<p>半夏（湯泡七次）　橘紅（去白，各五兩）　甘草（一兩半，炒）　白茯苓（去黑皮，三兩）</p>
<p>上為㕮咀，每服四錢，水一盞半，生薑七片，烏梅一個，煎至六分，去滓，熱服，每服加竹茹如卵許大一塊同煎，食前服。</p>

<h2>滌痰丸</h2>
<p>治男子婦人，遠年日久，積聚痰涎，或飲酒食後，吐唾日久，面黃肌瘦，皮肉枯澀，眼無神光。又治偏正頭風，如一月服三、五服，至老無風癱之疾。（鎮江太平宣差傳。）</p>
<p>好皂角（不要蟲蛀損者，一十兩，水浸一宿，去皮弦，火炙黃色，取淨末二兩五錢）　豬牙皂角（一兩依皂角製法）　枳殼（二兩五錢，一兩半火炒，一兩生用）　黑牽牛（二兩，末）</p>
<p>上件用朴硝五錢，井花水泡開，不用滓末，澄清，硝水為丸，如梧桐子大，每服五十丸，臨臥，用井花水送下，量人虛實加減丸數服之。</p>

<h2>控涎丹</h2>
<p>治胸膈背項腰胯手腳隱痛，筋骨牽引釣疼，坐臥不能，走注不定。俗醫不曉，便用風藥及針灸無效。又疑是風毒結聚，以藥敷貼，亦非也。此乃痰涎積在胸膈，或令人頭痛不可舉，或神志昏鈍多睡，或飲食無味，痰唾稠黏，多流睡涎，手腳沉重，痹氣不通，以為癱瘓，亦非也。但有此疾，服此藥不數服即安。（建德察罕方戶傳。）</p>
<p>甘遂（去心）　紫大戟（去皮）　白芥子（真者，各等分）</p>
<p>上為細末，煮粥為丸，如梧桐子大，曬乾，食後、臨臥，每服五、七丸至十丸，淡薑湯送下，如痰猛氣實，加丸數不妨。</p>

<h2>半夏湯</h2>
<p>順陰陽，消痞滿，消酒化痰。</p>
<p>半夏（薑製）　橘紅（去白）　桔梗（炒，去蘆，各一兩）　枳實（炒，半兩，去穰）</p>
<p>上為㕮咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，半飢半飽熱服。</p>

<h2>敵痰丸</h2>
<p>治痰盛，寬胸膈，快氣。（完顏府判傳。）</p>
<p>黑牽牛（三兩）　皂角（二兩，去皮弦，火中微燒）　白礬（枯，一兩）　半夏曲（炒，一兩）　陳皮（去白，一兩）</p>
<p>上為細末，煮蘿蔔為丸，如梧桐子大，每服四、五十丸，臨臥淡薑湯送下。</p>

<h2>化痰丸</h2>
<p>治頑痰不化。</p>
<p>石青（一兩，水飛）　石碌（半兩，水飛）</p>
<p>上為末，曲糊為丸，如綠豆大，每服一十丸，溫湯下，有痰即吐，去一、二碗不損人。</p>

<h2>生胃丸</h2>
<p>治脾胃不足，痰多嘔逆，不思飲食。此藥以南星、粟米、黃土為主，蓋謂南星醒脾去痰，粟養胃，黃土取其以土養土，性味溫平，美進飲食，化痰之要劑，真良方也。</p>
<p>大天南星（四兩，用真黃土半斤，將生薑滓和黃土成劑，包裹南星，慢火煨香透，去土不用，將南星切碎焙乾）　丁香　木香　厚朴（去皮，薑製炒）　神麯（炒）　麥糵（炒）　橘紅　白豆蔻仁　縮砂仁　青皮（去白。各一兩）　半夏曲（二兩）　人參（半兩）　沉香（鎊，半兩）　粟米（一升，生薑二斤和皮擂碎取自然汁浸粟米，蒸焙）　甘草（半兩，炙）</p>
<p>上為細末，法丸如綠豆大，每服七十丸，不拘時，薑湯送下。</p>

<h2>來蘇膏</h2>
<p>治遠年日近，風癇心恙，風狂中風，涎沫潮閉，牙關不開，破傷風搐，並皆治之。</p>
<p>皂角（一斤，用好肥者，無蟲蛀，去皮弦。）</p>
<p>上將皂角去皮弦切碎，用酸漿水一大碗，春秋三四日，冬浸七日，夏浸一、二日，揉取淨漿水浸透皂角，汁入銀器或沙鍋，以文武慢火熬，用新柳條槐枝，攪熬似膏藥，取出，攤於夾紙上陰乾收頓。如遇病人，取手掌大一片，用溫漿水化在盞內，用竹筒兒盛藥水，將病人扶坐定，頭微抬起，將藥吹入左右鼻孔內，良久扶起，涎出為驗。欲要涎止，將溫鹽湯令病人服一二口便止。忌雞、魚、生硬、濕面等物。</p>

<h2>神聖餅子</h2>
<p>治痰及一切頭風。</p>
<p>豬牙皂角（炮，存性，淨末一錢）　玄胡索（一錢，淨末）　青黛（研，半錢）</p>
<p>上為細末，滴水為丸，如梧桐子大，捏作餅子，曬乾，每用一餅，新水化開，男左女右，仰面用蘆筒鼻內灌之，口咬銅鐵一十五文，其涎便出，頭風更不再發。</p>

<h1>六、喘嗽門</h1>

<h2>人參胡桃湯</h2>
<p>治胸滿喘急，不能睡臥，老人宜服。</p>
<p>人參　胡桃（五個，取肉，與參等分）</p>
<p>上件作一服，用水一盞，生薑五片，煎至七分，去滓，臨臥溫服。</p>

<h2>杏仁煎</h2>
<p>治老人久患肺喘，咳嗽不已，睡臥不得，服之立定。</p>
<p>杏仁（去皮尖）　胡桃肉</p>
<p>上各等分，研為膏，入煉蜜少許，和搜得宜，丸如大彈子大，每服一、二丸，食後臨臥，細嚼薑湯送下。</p>

<h2>祛痰丸</h2>
<p>治風痰喘嗽。</p>
<p>人參　木香　天麻　白朮（煨）　茯苓　青皮（去穰）　陳皮（去白，以上各一兩）　槐角子　半夏（各七分半）　豬牙皂角（去皮弦，酥炙，五錢）</p>
<p>上為細末，生薑自然汁打糊為丸，如梧桐子大，每服五、七十丸，食後臨臥，溫酒送下，薑湯亦可。</p>

<h2>殭蠶湯</h2>
<p>治喘嗽，喉中如鋸，不能睡臥。</p>
<p>好末茶（一兩）　白殭蠶（一兩）</p>
<p>上為細末，放碗內，用盞蓋定，傾沸湯一小盞，臨臥，再添湯點服。</p>

<h1>七、羨補門</h1>

<h2>沉麝香茸丸</h2>
<p>治五勞百損，諸虛精怯，元氣不固。</p>
<p>沉香（二錢）　麝香（一錢）　南木香　乳香（各三錢）　八角茴香（四錢）　小茴香（四錢，炒）　鹿茸（酥炙）　蓮肉（炒，各半兩）　晚蠶砂　蓯蓉　菟絲子　牛膝　川楝子（用酒浸。各半兩）　地龍（去土淨，半兩）　陳皮（半兩，去白）　仙靈脾（三錢，酥炙）</p>
<p>上一十六味，依分兩制和為細末，酒糊入麝香為丸，如梧桐子大，每朝不見紅日，面東，用溫酒送下三十丸，忌食豬羊肉、豆粉之物。</p>

<h2>蒼朮丸</h2>
<p>治腰腿疼痛，明目暖水臟並小腸疝氣，大有補益。</p>
<p>蒼朮（一斤，用泔浸去皮，切作片，用生蔥白一斤切碎，加鹽二兩同炒蒼朮黃色為度，去蔥不用）　川椒（微炒）　白茯苓（去皮）　小茴香（微炒，各四兩）</p>
<p>上件為細末，酒糊為丸，如梧桐子大，每服五、七十丸，空心，溫酒送下。</p>

<h2>十寶丸</h2>
<p>專補益肝、脾、腎三經，其功不可具述。</p>
<p>破故紙（酒浸一宿，焙乾）　附子（炮去皮臍秤）　蒼朮（銼，泔浸一宿，焙乾）　當歸（去蘆，焙，各一兩）　石棗（半兩，去核）　枸杞子（焙，半兩）　菟絲子（酒浸，焙乾）　蓯蓉（酒浸，焙乾）　白茯苓（去皮。各半兩）　地黃（去蘆，揀肥壯者，酒浸，蒸焙乾，如此九次，透黑為度，仔細制，全在此一味，焙乾二兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服三、五十丸，空心，用溫酒或鹽湯送下，乾物壓之。</p>

<h2>琥珀丸</h2>
<p>治虛損，降心火，益腎水，興陽道。</p>
<p>琥珀（明者）　沉香　木香　丁香（淨）　小茴香（鹽炒）　白茯苓（去皮）　陳皮（去白）　八角茴香　熟地黃　甘草（炒。各五錢）　木通（去皮）　沒藥　枳殼（炒。各三錢）　當歸（三兩，炒）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，酒送下，日進二服。</p>

<h2>滋補丸</h2>
<p>治下元虛弱。</p>
<p>白芍藥（二兩）　人參（一兩）　白茯苓（去皮）　阿膠（銼碎，麵炒）　當歸　地黃（生熟皆可）　半夏（生用）　鹿茸（鹽炙）　黃耆（鹽炙）　五味子（以上各一兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，溫酒送下，宜常服。</p>

<h2>補益丸</h2>
<p>補益腎水明目，及腰膝痛。</p>
<p>小茴香（一兩，鹽炒）　木香（一兩）　川楝子（春秋二兩，夏一兩，冬三兩，取肉酒浸）　知母（春秋二兩，夏一兩，冬三兩，酒浸）　枳殼（去穰，一兩，麩炒）　白茯苓　甘草（炙）　地龍（炒）　鹿茸（酒炙）　穿山甲（各一兩。酥炙）　狗莖（五枚，酥炙）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，溫酒送下，乾物壓之，午食前再進一服。</p>

<h2>萬安丸</h2>
<p>治下元極虛，更進飲食。</p>
<p>肉蓯蓉（四兩，酒浸）　干薯蕷　五味子（各二兩半）　杜仲（三兩，炒）　牛膝（酒浸）　菟絲子（酒浸）　澤瀉　白茯苓　熟乾地黃　當歸　山茱萸（去核，以上各二錢）　巴戟（三兩，去心）赤茯苓（去皮）</p>
<p>上為細末，用蓯蓉末半斤，酒煮膏和為丸，空心，溫酒送下。忌醋陳自死之物。</p>

<h2>十補丸</h2>
<p>治陰損久虛下冷，夜頻起，暖丹田。</p>
<p>肉蓯蓉（酒浸）　菟絲子（酒浸）　牛膝（酒浸）　乾山藥　熟地黃　川烏頭　澤瀉　人參　當歸官桂（不見火）</p>
<p>上件各等分，為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，溫酒送下。</p>

<h2>四倍丸</h2>
<p>治腰膝疼痛，美進飲食。</p>
<p>杜仲（四兩，瓦器炒黃色，去絲）　破故紙（四兩，瓦器內炒黃色）　甘草（四兩）　胡桃仁（四兩，去皮油）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服五、七十丸，空心，用甘草末調湯送下。</p>

<h2>萬安丸</h2>
<p>川楝子（半斤，微炒出汗）　知母（半斤，微炒出汗）　甘草（四兩，微炒）　茴香（四兩，炒）　蓮子心　木香（各一兩）　晚蠶砂（一兩，微炒）</p>
<p>上件，除甘草茴香八味先搗為末，存留四兩熬膏子外，將余上四兩與其餘藥一處為末，用膏子為丸，如梧桐子大，每服七、八十丸，空心，溫酒送下。</p>

<h2>騙馬丹</h2>
<p>治寒濕腳氣，四肢疼痛，補五臟，壯筋骨，補精髓，注顏，黑髮鬢，行步健，大宜常服。</p>
<p>葫蘆巴（鹽炒黃色）　破故紙（鹽炒香）　金剛骨（酒浸一宿，曬，鹽炒）　骨碎補（去毛，鹽炒）甜瓜子（鹽炒黃色）　胡桃仁（另研細，以上各一兩）　乳香（另研）　沒藥（另研）　自然銅（火煅，醋蘸七次。以上各半兩）</p>
<p>上除另研外，為細末，醋糊為丸，如梧桐子大，每服三十丸，溫酒送下。病在上食後，病在下食前，日進三服。</p>

<h2>四神丸</h2>
<p>治腎經虛損，眼目昏花，補虛益損，及兩眼雲翳遮睛。</p>
<p>甘州杞子（一斤，揀去白、醭、青、焦者，分作四份，一份四兩川椒一兩炒；一份四兩用小茴香一兩炒；一份四兩用鹽炒；一份四兩用芝麻一合炒，比及炒時，先用好酒一盞將枸杞子潤過，不然，恐炒過藥性也）</p>
<p>上件炒過，將川椒等四味篩去不用，止用枸杞子，加熟地黃、白朮、白茯苓各一兩，同枸杞子為細末，煉蜜為丸，如梧桐子大，每服五、七十丸，空心，溫酒送下。加甘菊花一兩炒。</p>

<h2>柴胡梅連散</h2>
<p>治骨蒸勞，久而不痊，三服除根，其效如神。及五勞七傷、虛弱，並皆治之。</p>
<p>胡黃連　柴胡　前胡　烏梅（以上各三錢）</p>
<p>上為㕮咀，每服三錢，童子小便一盞、豬膽一枚、豬脊髓一條、韭根白半錢，同煎至七分，去滓，溫服，不拘時候。</p>

<h2>金鎖正元丹</h2>
<p>治男子五勞七傷，沉寒痼冷，四肢厥逆，陰盛身寒，臍腹久痛，臟腑軟弱，困倦少力，飲食遲化。澀精補氣，久服強健注顏。</p>
<p>白殭蠶（炒）　破故紙（炒）　白龍骨　山茱萸（湯浸，去核）　桑螵蛸（炒）　黑附子（炮）　肉蓯蓉（酒浸）　牛膝（酒浸）　菟絲子（酒浸。以上各半兩）　韭子（二兩，炒）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服二三十丸，空心，溫酒送下，日進三服，常服有益，婦人亦可服。</p>

<h2>人參固本丸</h2>
<p><u>一名二黃丸。</u></p>
<p>夫人心主血，血生氣，氣生精，精盛則髭發不白，顏貌不衰，延年益壽。其夭闕者，多由服性熱之藥，不能滋生精血也。而藥之滋補者，無出生熟二地黃與天麥二門冬，人徒知服二地黃而不知服二門冬為引也。蓋生地黃能生精血，天門冬引入所生之地；熟地黃能補精血，用麥門冬引入所補之地，四味互相該載，本草又以人參為通心氣之主，五味並歸於心，而藥之滋補誠無過也。</p>
<p>熟地黃（洗）　地黃（洗，再蒸）　天門冬（去皮）　麥門冬（去心，各一兩）　人參（半兩）</p>
<p>上五味為細末，煉蜜為丸，如梧桐子大，每服五十丸，空心，溫酒鹽湯送下。十日明目，二十日不渴，自此可致長生也。</p>

<h2>茯苓丹</h2>
<p>延年益壽，黑髭發，大有補益。</p>
<p>白茯苓（去粗皮，為細末，淘碎，陰乾、四兩）　頭面（十三兩）　人參末（三錢）　青鹽（少許）</p>
<p>上用滾水和成劑如大道，以文武火燒熟，驗數分作十日服食，一月服三料，夏加干蓮子肉一兩，余月加乾山藥一兩。</p>

<h2>四炒丸</h2>
<p>治脾胃虛弱，脾土不能化痰，成窠鬥，停於胸臆，飲食既少復遲，當以實脾土則痰下氣順。</p>
<p>肉豆蔻（一兩，用鹽酒浸，破故紙同炒乾燥，不用破故紙）　山藥（一兩酒浸，與五味子同炒乾燥，不用五味子）　厚朴（二兩，去粗皮，青鹽一兩同炒青鹽不見煙為度，不用鹽）　大半夏（一兩，每個切作兩塊，豬苓亦作片，水浸，炒燥，不用豬苓）</p>
<p>上為細末，酒糊為丸，如梧桐子大，辰砂一分，沉香一分，作二次上為衣，陰乾，每服五七十丸，空心，鹽酒或米飲湯，或鹽湯送下。</p>

<h2>四製蒼朮丸</h2>
<p>燥脾土，固真養胃。</p>
<p>蒼朮（一斤，分作四份制。一份四兩用破故紙小茴香同炒；一份四兩用川楝子同炒；一份四兩用川椒同炒；一份四兩用青鹽同炒）</p>
<p>上件同炒畢，余藥不用，只用蒼朮為末，酒糊為丸，如梧桐子大，每服五十丸，空心，米飲湯送下。</p>

<h2>駐春丹</h2>
<p>縮小便，美顏色。</p>
<p>好白茯苓（四兩，水飛，去皮及沙，細研為末）　白麵（一斤，另傾）　人參（一兩，不犯銅鐵，捶碎）　川椒（一合，以木研碎去目）　青鹽（一匙頭）</p>
<p>上三味為粗末，水二大碗，煎至一碗，與茯苓白麵和勻如臂大，文武火燒熟，三日服一料，一月服十料，半年之後當減三料，每月只服七料。又半年再減三料，每月只服四料，若兩日一次見小便，方是效也，如此更不要常服。</p>

<h2>七仙丹</h2>
<p><u>又名枳殼丸。</u></p>
<p>治虛損，小便頻數，健陽。</p>
<p>木香（半兩）　枳殼（一兩，麩炒，去穰）　白茯苓（去皮）　川楝子（酥炒）　知母（去毛）　小茴香（鹽炒）　甘草（去皮，以上各一兩）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，溫酒送下，乾物壓之。</p>

<h2>鐵甕先生交感丹</h2>
<p>世人中年，精耗神衰，常言百事心灰。蓋緣心血少而火不能下降，腎氣憊而水不能上升，至心中隔絕，榮衛不和，所苦者，上則心多驚怖，中則寒痞，飲食減少，下則虛冷遺泄，甚至陰痿不興，臟氣滑泄。愚醫徒知峻補下田，非惟不能生水滋心，而建偽失真，立見衰悴，夭折之由，當自此始，悲夫！所處此方，廣濟迷流，然不可忽此藥品，志心服之半年，漸屏去一切暖藥，不可恃此而馳嗜欲，然後力習秘固泝流之術，其神效不可殫述，質之天地，切勿亂傳。居易之祖俞通奉遺訓，予年五十一歲，遇鐵甕申先生授此秘術，酷志行侍服一年大補，平日所服暖藥一切屏盡，而飲食嗜好不減壯歲，乃此藥力之功大矣！今年八十五，享天然之壽，瞑目無憾，猶此藥耳。傳之的普示群生，同登壽域，藥後有湯及白牙藥，可同用。</p>
<p>茯神（四兩）　香附子（一斤，碎去毛，用新米泔浸一宿，炒黃色）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，用後湯藥送下。</p>

<h2>降氣湯</h2>
<p>茯神（二兩）　香附子（半斤，炒，浸如前法）　甘草（一兩半，炙黃色）</p>
<p>上為細末，每服二錢，湯點送交感丹。</p>

<h2>刷牙藥</h2>
<p>香附子（五兩）</p>
<p>上用生薑三兩，研和滓汁浸香附子三宿，炒黑存性為末，加青鹽二錢，拌勻，每日刷牙。</p>

<h2>蒼朮散</h2>
<p>治風濕，常服壯筋骨健步。</p>
<p>蒼朮（一斤，用粟米泔浸過，用竹刀刮去筋皮，半斤童子小便浸，半斤無灰好酒浸）</p>
<p>上件春五日，夏三日，秋七日，冬十日，取出蒼朮，於淨地上撅一坑，以炭火煅紅去炭，將浸蒼朮酒、小便，傾於坑內，卻放蒼朮於坑內，用瓦器蓋覆，用泥固封，經一宿，取出蒼朮，為細末，每服二錢，空心，鹽湯或酒調服，常服除濕、壯筋骨、明目。</p>

<h2>心腎丸</h2>
<p>治水火不既濟，恍惚多忘，心忪盜汗，夜夢驚恐，小便白濁，精滑夢泄，腰膝緩弱，四肢痠痛。補氣血，生津液，安神定志，此方解宣慰患脫證，自泄不止，醫不能治，服心腎丸、博金散、金鎖丹此三方得效，復以壯年精不自泄，三藥互換間服。</p>
<p>鹿茸（一兩，酒塗炙）　附子（一兩，炮，去皮臍）　牛膝（二兩，去苗，酒浸）　菟絲子（三兩，酒浸）　熟地黃（二兩，再蒸）　當歸（一兩，去蘆，酒浸）　遠志（一兩，去心，甘草水煮）　蓯蓉（二兩，酒浸）　五味子　山藥（炒）　龍骨（略煅）　人參（去蘆）　白茯苓（去皮）　黃耆（炙。以上各一兩）</p>
<p>上為細末，用浸藥酒打糊為丸，如梧桐子大，每服五、七十丸，空心，棗湯送下。</p>

<h2>博金散</h2>
<p>治脫證自泄。</p>
<p>人參（一兩，去蘆）　白茯苓（二兩，去皮）　絡石（二兩）　龍骨（一兩，略煅）</p>
<p>上為細末，每服三錢，空心，米飲湯調服，臨臥再一服。</p>

<h2>金鎖丹</h2>
<p>治男子婦人滑精鬼交遺泄。</p>
<p>茯神（三錢）　遠志（二錢，去心）　五色龍骨（三錢，煅紅）　牡蠣（四錢，左顧者，炒赤色）　堅白茯苓（二錢）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服三、四十丸，空心，鹽湯或酒送下。</p>

<h2>鎖精丸</h2>
<p>治滑泄不禁。</p>
<p>川獨活　川續斷　穀精草　石蓮肉（去殼）　生雞頭（去殼）　蓮心　干菱米　川楝子（酥炒）　金櫻子　緊龍骨（五色）　白茯苓　木豬苓　小茴香　藕節</p>
<p>上件各等分，為細末，雞清為丸，如梧桐子大，每服四、五十丸，空心，鹽湯送下，乾物壓之。</p>

<h2>二聖散</h2>
<p>治失精漏泄久虛。</p>
<p>蓮子心（一撮）　辰砂（一分）</p>
<p>上為細末，每服二錢，空心，白湯送下。</p>

<h2>鐵刷湯</h2>
<p>治男子婦人，一切陰寒失精色敗，腰膝疼痛，陰汗不止，腸風下血，痔漏有頭者即散，有漏平痊，兼治婦人赤白帶下，產後血暈氣等疾，用酸漿水一大碗，藥末五錢，鹽少許，同煎三、五十沸，傾在盆內熏之，漸通手洗浴如火熱，婦人每日熏浴之，使精穢血如黑汗下，用藥人自知。</p>
<p>紫稍花（成塊，帶蒂者佳）　揀肉桂　大丁香　蛇床子　吳茱萸（各一兩）　山茱萸（去核）　天仙子　蘿蔔子　川椒　細辛　地豆（大者，白眉者佳）　狗脊　芎藭　甘松（各半兩）　天雄（一個）　白檀　槐角子　白芷　沉香　蕓薹子　葶藶子　香附子　芫花　巴戟（去心）　肉蓯蓉　木香（各二錢）</p>
<p>上件為粗末，每煎熏洗。</p>

<h2>代灸膏</h2>
<p>治老人衰弱，元氣虛冷，臟腑虛滑，腰腳冷痛沉重，飲食減少，手足逆冷，不能忍者，用此灸方，功效不能盡述。</p>
<p>大附子（一個，炮）　吳茱萸　桂皮　木香　蛇床子（各半兩）　馬藺花（一兩，焙）</p>
<p>上為細末，每用藥半匙，白麵半匙，生薑汁半盞，同煎成膏，攤於紙上，臨臥貼臍，以油紙覆其上，綿衣系之，自夜至明乃去，每夜如此貼之，其腰腹如灸百壯，除寒積腰疼，貼腰眼。</p>

<h2>補精膏</h2>
<p>常服壯元陽，益精氣，助胃潤肺。</p>
<p>牛髓（四兩，揀去粗）　胡桃（四兩，去皮殼）　杏仁（四兩，去皮尖）　山藥（半斤）</p>
<p>上將杏仁、胡桃、山藥三味搗為膏，蜜一斤，煉去白沫，與牛髓同和勻入瓷罐內，湯煮一日，空心服一匙。</p>

<h2>妙應丸</h2>
<p>治赤白濁通用。</p>
<p>真龍骨　辰砂　厚牡蠣（以腐草鞋重包，插定火煅，並研細）　石菖蒲（各二錢半）　川楝子（蒸去皮，取肉焙，半兩）　白茯苓　益智仁　石蓮肉　縮砂仁（各三錢半）　桑螵蛸　（瓦上焙）　菟絲子（酒浸一宿，焙秤，各半兩）</p>
<p>上以山藥碎炒末為糊丸，如桐子大，每服五十丸，日間煎人參、酸棗下，臨臥粳米飲湯送下。</p>

<h2>法制杏子</h2>
<p>杏仁（一斤，楝板杏真者用）　蒼朮（一斤）　白沙蜜（二斤）　蒼朮（一兩，去粗皮，泔浸一宿，麩炒）　半夏（一兩，薑汁浸一宿）　木香　當歸　人參（各一兩）</p>
<p>上件將杏仁用熱水洗淨，頓於罐內，將生蒼朮一斤為粗末，用水熬一、二百沸，將汁浸杏仁，封其口，夏一日一宿，春秋三日三宿，冬五日五宿，去其蒼朮汁，於鍋內炒乾，調入蜜半斤，再炒，少時取出，將木香、當歸、人參、半夏、蒼朮俱為細末，拌於杏仁上冷定，用瓷罐盛頓上，用生蜜半斤燒上，每日空心細嚼三、五十個，麵湯送下。若氣不順，加木香末一兩；血不和，加當歸末一兩；若喘息，加人參末一兩；若虛弱，加蒼朮末一兩；痰盛，加半夏末一兩；若婦人血氣不和，加當歸服。</p>

<h2>復春丹</h2>
<p>治腰腿疼痛。</p>
<p>杜仲（酥炒斷絲）　破故紙（酒浸一宿，用芝麻炒黃色）　萆薢（酥炙黃）　巴戟（去心，各一兩）沉香（五錢）　胡桃（五、七個，去皮）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服五、七十丸，空心，每服藥時，先嚼胡桃一枚，同藥一處，溫酒送下，乾物壓之。</p>

<h2>聚寶丹</h2>
<p>治五勞七傷，諸虛不足，溫中正氣，祛風活血，逐寒除濕，填精益髓，強陰壯陽，聰耳明目，開心益智，暖胃化食，消痰寬中，殺九蟲，通九竅，補五臟，秘精氣，止夢遺，除咳嗽，養肌膚，治腰膝疼痛，輕身。</p>
<p>白茯苓（去皮）　山茱萸（去核）　五味子　乾山藥　石蓮肉　雞頭肉　金櫻子　巴戟（去心）　破故紙（炒）　杜仲（去粗皮，炒斷絲）　牛膝（酒浸）　熟地黃（酒浸焙）　石菖蒲　遠志（去心）枸杞子（酒浸，焙）　龍骨　楮實　茴香（炒）　仙茅　肉蓯蓉（酒浸濕，焙乾秤）　沉香（以上各一兩）</p>
<p>上為細末，棗肉為丸，如梧桐子大，每服五十丸，以硃砂為衣，空心，溫酒或鹽湯送下，如有氣滯不順，用木香調氣散入鹽少許，調湯送下。</p>

<h2>坎離丸</h2>
<p>治心脾腎三經不足。</p>
<p>蒼朮（八兩，銼如豆大，泔浸三日，或焙或曬乾，分作四處，一份用真烏頭一兩去皮臍切作片子，又用川楝子淨肉一兩同蒼朮一起炒焦黃色為度；一份用川椒去目一兩，又用陳皮一兩，破故紙一兩酒浸一宿炒令乾，次下蒼朮、川椒一處炒黃；一份用茴香淨一兩、青鹽一兩半，食鹽炒半兩，先下蒼朮炒熟次下茴香等一處炒黃色；一份用醇釀酒醋各一碗煮蒼朮令自干就炒燥入後藥）　麥門冬（去心，三錢，焙乾）　天門冬（去心，三錢，焙）　茯神（去粗皮木，三分，炒）　遠志（去心，三分，焙）　沉香（一兩）　鹿茸（燎去毛，酥炙）　葫蘆巴（酒浸，炒）　川巴戟（去心，酒浸，炒。各五錢）　當歸（酒浸，淨，焙，半兩）　人參（去蘆）　枸杞子　雀腦川芎　陳皮（去穰，各半兩）</p>
<p>上為細末，好酒煮神麯末二兩，打糊為丸，如梧桐子大，每服四、五十丸，空心，如補心，棗湯下，補腎，溫酒鹽湯送下。</p>

<h2>金鎖丹</h2>
<p>此藥延年益壽，不老添精和血，注顏身輕壯骨，益元氣，效不可盡述。</p>
<p>遠志（去皮心，炒）　蛇床子（酒浸，微炒）　鹿茸（炒黃。各一錢半）　晚蠶蛾（二錢）　紫梢花續斷（各一錢）　海馬（二對，炒黃色）　黑牽牛（取頭末三錢）　穿山甲（五片，炙黃）　木香　麝香　乳香（各二錢半）　川茴香</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，溫酒送下，七日可便見效。</p>

<h2>地仙丹</h2>
<p>治男子五勞七傷，腎氣虛憊，精神耗減，行步艱辛，飲食無味，眼昏耳焦，面色黧黑，皮膚枯燥，女人血海虛冷，月經不調，臟寒少子，下部穠惡。又治腸風痔漏下血，諸風諸氣，及虛弱易感寒暑。</p>
<p>牛膝（酒浸）　蓯蓉（酒浸）　附子（炮裂，去皮臍）　川椒（去目。以上各四兩）　地龍（去土，三兩）　木鱉子（去殼，三兩）　覆盆子　白附子　菟絲子（酒浸）　赤小豆　天南星　骨碎補（去毛秤）　川羌活　何首烏　狗脊（去毛）　萆薢　防風（去蘆叉枝）　烏藥（以上各二兩）　白朮　甘草　白茯苓　川烏（炮製，去皮臍，各一兩）　人參　綿黃耆（各一兩半）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服三四十丸，空心，溫酒送下。此方陶隱君編入道藏太清經後，大有效驗。</p>

<h2>封臍艾</h2>
<p>治腰膝痛，臍腹冷痛，老人、弱人、婦人、小兒泄瀉，又宜用之，每日熨烙為效。</p>
<p>海艾　蛇床子（各一兩）　木鱉子（二對，生用，帶殼用）</p>
<p>上為細末，與艾葉三味相和勻，作一紙圈，於內可以容熨斗，將藥可用綿包裹定，安在紙圈內，放在臍上，用熨斗熨之。</p>

<h2>白丸子</h2>
<p>治元氣虛寒，精滑不禁，大便泄瀉，手足冷。</p>
<p>陽起石（火煅，細研）　鍾乳粉（各一兩）</p>
<p>上為細末，酒煮附子末糊為丸，如梧桐子大，每服五十丸，空心，米飲湯送下。</p>

<h2>黑丸子</h2>
<p>治精血耗竭，面色黧黑，耳聾目昏，口乾多渴，腰痛腳弱，小便白濁，上燥下寒，不受峻補者，宜服此藥。</p>
<p>鹿茸（酒蒸）　大當歸（酒浸，各一兩）</p>
<p>上為細末，煮烏梅膏子為丸，如梧桐子大，每服五十丸，空心，米飲湯送下。</p>

<h2>神應丸</h2>
<p>治男子婦人五勞七傷</p>
<p>大黃（六兩，去皮淨）　黃連（四兩，淨）　血竭（三兩）　犀角末（二兩）　仙人蓋（一個，醋炙黃色）　九肋鱉甲　牛黃（三錢）　靈礬（二兩）</p>
<p>上為細末，用好醋一斗，砂鍋內同藥用文武火熬無醋，焙乾，再為極細末，酒糊為丸，硃砂為衣，如彈子大，每服一丸。服藥須要除日破日面東。男子，用酒將藥化開，空心溫服；婦人服，用頭紅花好酒一盞半，煎至七分，去紅花滓，將藥化開，面東空心服之。服藥後十日，忌生冷、酒、肉、面等物。</p>

<h2>搜風順氣丸</h2>
<p>治三十六種風，七十二氣，去上熱下冷，腰腳疼痛，四肢無力，多睡少食，漸漸羸瘦，顏色不完黃赤，惡瘡下疰，口苦無味，憎寒毛聳，積年症癖氣塊。丈夫陽事斷絕，女久無子嗣。久患寒瘧吐逆瀉痢，變成勞疾；百節痠疼，初生小兒及百歲老人皆可服，補精駐顏，疏風順氣。</p>
<p>車前子（二兩半）　白檳榔　火麻子仁（微炒赤色，退殼，另研入藥）　郁李仁（湯泡去皮，另研）　菟絲子（酒浸焙乾，研作餅曬乾入藥）　牛膝（酒浸二宿）　乾山藥（以上各三兩）　枳殼（去穰，麩炒）　防風　獨活（各一兩）　錦紋大黃（五錢，半生半熟）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服二十丸，酒茶米飲湯送下，百無所忌，早晨，臨睡各一服。服經一月消食，二月去腸內宿滯，三月無倦少睡，四月精神強盛，五月耳目聰明，六月腰腳輕健，一年百病皆除，老者返少，孕婦勿服，如服藥覺臟腑微動，以羊肚、肺羹補之。久患腸風便血，用藥治之除根，如顫語謇澀及癱瘓，授以此方，隨至平復。若酒後老小能餌一服，宿酲消盡，百病不生，無病不治。此方系辛仲和總管的，本方鎮江路五條橋大藥鋪徐可庵見，今修合出賣。</p>

<h2>五加皮丸</h2>
<p>治男子婦人腳氣，骨節皮膚腫濕疼痛，進飲食，行有力，不忘事。</p>
<p>五加皮（四兩，酒浸，春秋三日，夏二日，冬四日）　遠志（去心用皮，四兩，春秋三日，夏二日，冬四日，用酒浸，浸透易為剝皮）</p>
<p>上曝乾為末，春秋冬止用浸藥酒為糊，夏別酒為糊，丸如梧桐子大，每服四、五十丸，空心，溫酒送下。</p>

<h2>橘皮煎丸</h2>
<p>理脾腎久虛，積冷麵黃，嘔吐痰水，飲食減少，心腹疼痛，脅肋脹滿，繞臍弦急，大腸虛滑，小便頻數，肌膚瘦瘁，腳膝軟弱，肢體怠墮，上氣咳嗽，痃癖積聚，久瘧久痢，腸風痔漏，婦人血海虛冷，赤白帶下，久無子息，並皆治之。</p>
<p>陳皮（去白，取十五兩淨末，熬膏）　金釵石斛　穿心巴戟（去心）　牛膝（酒浸）　蓯蓉（酒浸炙）　茄子鹿茸（火燎去毛，劈開，酒浸炙）　菟絲子（酒浸焙乾，搗）　陽起石（酒浸焙乾，研如粉）　杜仲（炙，去絲）　厚朴（去皮，薑汁浸炙）　附子（泡，去皮臍）　乾薑（炮裂）　肉桂（去皮）　京三稜（煨熟，切片）　吳茱萸（水浸，去浮者，焙乾）　當歸（去蘆）　萆薢（以上各三兩）　甘草（一兩，炙）</p>
<p>上一十八味為細末，先用五升於銀石器內，將橘皮末於酒內熬如餳，然後入諸藥末，一處合和搜停，更入桕內搗五百杵，丸如梧桐子大，每服五十丸，空心，溫酒送下，或鹽湯亦可。</p>

<h2>建中丸</h2>
<p>治脾胃氣弱，冒犯風冷，腹痛腸鳴泄瀉。經云：食畢而中謂之洞泄。手足冷，面色青白，下部虛寒，中滿氣短。常服寬中，建脾養胃，育真固氣。</p>
<p>大附子（炮，去皮臍）　大川烏（炮，去皮臍）　桂心　胡椒　蓽茇　乾薑　良薑（炒）　吳茱萸（去枝，湯泡）</p>
<p>上件各等分，為細末，醋糊為丸，如梧桐子大，每服五、七十丸，空心食前，米飲湯送下。</p>

<h2>玉關丸</h2>
<p>治諸虛不足，膀胱腎經痼敗，陰陽不交，致多生病，水欲升而沃心，火欲降而溫腎，如此則坎離既濟，陰陽協和，火不炎而神自清，水不滲而精自固，久服補益，永無膏淋白濁遺精之患，功效難以盡述。</p>
<p>辰砂（半兩）　鹿茸（一兩）　柏子仁（炒，另研）　川巴戟（去心。各七錢半）　黃耆（七錢，蜜炙）　沉香　蓯蓉（酒浸）　茯神（去木）　牛膝（去蘆）　石斛（去根秤，酒浸）　五味子　菟絲子（水洗，酒浸蒸）　杜仲（去粗皮，酒浸炒，以上各七錢半）　遠志（去心，一兩，）　川附子（二隻，去皮臍，各切下頂，剜空心，中安辰砂在內，將切下頂子蓋定，以線扎）　木瓜（大者一個，去皮穰，切開頂子，裝硃砂、附子一隻在內，以木瓜切下頂子蓋定，用線扎之，爛蒸訖，取出附子，切片焙乾為末，辰砂細研，木瓜研為膏子）</p>
<p>上為細末，用木瓜膏杵和，入少酒糊為丸，如梧桐子大，每服七十丸，空心，米飲湯或溫酒鹽湯送下。</p>

<h2>益衛丹</h2>
<p>治心脈結而散，肺脈浮而軟，餘脈如經，原其所自，思慮傷心，憂慮傷肺，蓋心乃諸血之源，肺為諸氣之候，心虛則血少，脈弱則氣虛，遂致目澀、口苦，唇燥舌咸，甚則齒為之痛，鼻為之不利，怔忡白濁，腠理不密，易為感風寒，今以補氣湯補氣以養肺，益榮丹滋血以助心，榮衛日充，心肺戢治，諸疾自愈。</p>
<p>當歸（二兩，去蘆，酒浸焙）　紫石英（火煅，醋淬七次，研細，一兩）　柏子仁（炒，另研）　酸棗仁（去殼）　小草　木香（不見火）　茯神（去木）　桑寄生　卷柏葉（酒炙）　熟地黃（洗淨，酒蒸，焙乾）　龍齒（各一兩，另研）辰砂（半兩，另研）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，辰砂為衣，每服七十丸，食前，用麥門冬湯下。</p>

<h2>補氣湯</h2>
<p>黃耆（三兩，去蘆，蜜水炙）　人參　甘草（炙。各半兩）　麥門冬（一兩，湯浸，去心）　苦桔梗（去蘆，炒，一兩）</p>
<p>上為㕮咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>

<h2>補養丸</h2>
<p>補養元氣，滋益氣血，暖水臟及下元。</p>
<p>菟絲子（洗淨，搗為末，四兩）　破故紙（炒香）　益智仁（各一兩）　杜仲（一兩，去皮，用生薑自然汁拌勻，炒斷絲）　山藥（一兩，銼碎，炒黃）　茴香（一兩半，炒香）　蒼朮（二兩、米泔浸，切片，麩炒）</p>
<p>上各為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，溫鹽酒鹽湯送下。</p>

<h2>杜仲丸</h2>
<p>補心腎，益氣血，暖元臟，縮小便，壯力。</p>
<p>蓮肉（去心，四兩）　龍骨（七錢半，新瓦上煅，另研細）　益智仁　破故紙（炒香）　茴香（各二兩，微炒）　牛膝（去苗，一兩酒浸洗）　白茯神（去皮木，一兩）　杜仲（去皮，銼碎，酒拌，炒斷絲，一兩）　菟絲子（四兩）　桃仁（湯泡，去皮尖淨，炒，一兩）</p>
<p>上為細末，用山藥四兩炙為末，打糊為丸，如梧桐子大，每服五十丸，棗湯送下，空心食前。如欲暖水臟，減去蓮肉、龍骨、白茯神，加好醅酒兼糟四兩，連須蔥白四兩，蒼朮四兩，米泔水浸洗一夕，切片，連蔥糟搗淹一宿成餅，曬乾，炒令熱，入前藥同研。</p>

<h2>草還丹</h2>
<p>夫草還丹者，不用金石，不加燥熱，不傷五臟，只以草藥為用，全在制度之妙，得水火既濟之術，奪丹砂燒煉之功，大壯脾胃，能進飲食。且脾屬中央之土，乃五臟之主，一失調養，則五臟俱虛，百病由此而生。此藥益精髓，補腎經，固元陽，輕腰腳，安五臟，通九竅，令人耳目聰明。有一老人，年七十以上，常服此藥，悅顏容，烏髭發，固牙齒，能夜書細字，延年益壽，乃仙家之良劑，平補大有效驗。</p>
<p>蒼朮（四兩，一兩酒浸，一兩醋浸，一兩米泔浸，一兩鹽水浸，各一宿）　葫蘆巴（一兩，酒浸一宿）　破故紙（一兩，酒浸一宿）　覆盆子（二錢，揀淨）　茴香（一錢，新肥者）　川楝子（一兩）　木香（半兩，堅實者）　山藥（堅白者）　穿山甲（酥炙黃）　地龍（去土淨）　茯苓（堅圓者）　枸杞子　牛膝（各三錢，酒浸一宿）</p>
<p>上件曬乾為細末，無灰酒糊為丸，如梧桐子大，每服三、五十丸，溫酒送下，或鹽湯亦可，乾物壓之。空心服畢，須行百步，使藥力行，日進二服。此方得之刑部令史王國寶，渠隸事時，有一僧子窩藏強盜，部擬死，渠人出之，後僧子以此方謝，囑之惟西平章有此方，不可亂傳，當珍藏之。後渠人佐西平章，於方冊內得此方，藥味、分兩、制度相同，乃平章常服藥。</p>

<h2>加減太乙金鎖丹</h2>
<p>專治秘精，益髓大有功效。</p>
<p>蓮花芯（四兩，未開者，陰乾秤）　五色龍骨（五兩，細研）　覆盆子（五兩）　鼓子花（三兩，五月五日採）　雞頭（一百顆，生，取肉，作餅子，曬乾）</p>
<p>上為細末，取金櫻子二百枚，去毛、子，木桕內搗爛，水七升，煎取濃汁一升，去滓和藥，再入桕內，杵一千杵，丸如梧桐子大，每服三十丸，空心，鹽酒送下，服百日永不泄，如要通，即以冷水調車前子末半合服之，如欲秘，再服之，忌葵菜。</p>

<h2>灸勞病方</h2>
<p>從下數至第三根短肋稍尖上，灸二七壯炷，男左女右，又於項後數下至第三脊溝點穴，灸，隨病人年紀，十歲即灸十炷。王千戶家傳甚效。</p>

<h2>雞清丸</h2>
<p>治男子婦人精滑，下元虛冷，及疝氣證，婦人經脈不調，大人小兒皆可服。</p>
<p>川獨活　穀精草續斷　茵陳</p>
<p>上為細末，雞清為丸，如梧桐子大，每服五十丸，空心，溫酒送下，乾物壓之。</p>

<h2>葫蘆巴丸</h2>
<p>治虛損不可醫之疾，極能關鎖精氣，升降陰陽，功效如神。</p>
<p>附子（炮，一兩，去皮）　川烏（炮，去黑皮）　沉香　酸棗仁（湯泡，去皮）　當歸（去蘆）　川芎　柏子仁（去殼）　葫蘆巴　巴戟（去心）　破故紙（微炒）　龍骨　牡蠣（煅）　天雄（炮）　赤石脂（以上各一兩，煅）　鹿茸（二兩，酥炙）　茴香（二兩）　澤瀉（半兩）　生硫黃（明者，七錢半，生用）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，鹽湯米飲送下，日進二服。</p>

<h2>陳橘皮丸</h2>
<p>治虛勞堅癖，腹脹羸瘦，食久不消，面色萎黃，四肢少力。</p>
<p>陳橘皮（湯浸，去白，炒）　木香　厚朴（去粗皮，薑汁浸）　硫黃（細研）　大黃（銼，炒）　檳榔（生銼，以上各一兩）</p>
<p>上六味搗羅為末，煉蜜為丸，如梧桐子大，每服二十丸，溫酒或米飲送下。</p>

<h2>八寶丹</h2>
<p>壯益元陽，行氣生血。</p>
<p>廣木香　母丁香　紅花（各二兩）　牡蠣（五錢）　地龍（去土，五錢）　燈草（二錢，糨曬乾，研）　干胭脂（二兩半）　穿山甲（十五片，炮）</p>
<p>上為末，甘草三兩碾末，熬成膏子，丸如彈子大，每服一丸，細嚼，空心酒下，以乾物壓之，用水丸桐子大，每服五十丸，溫酒送下亦可。</p>

<h2>還少丹</h2>
<p>昔日越王曾遇異人得此方，極能固齒牙，壯筋骨，生腎水。凡年未及八十者，服之鬚髮返黑，齒落更生，年少服之，至老不衰，得遇此者，宿有仙緣，當珍重之，不可輕泄。</p>
<p>用蒲公英一斤，一名耩耨草，又名蒲公罌，生平澤中，三四月甚有之，秋後亦有放花者，連根帶葉取一斤洗淨，勿令見天日，晾乾，入斗子解鹽一兩、香附子五錢，二味為細末，入蒲公草內淹一宿，分為二十團，用皮紙三四層裹紮定，用六一泥即蚯蚓糞，如法固濟，入灶內焙乾，乃以武火煅通紅為度，冷定取出，去泥為末，早晚擦牙漱之，吐咽任便，久久方效。</p>

<h1>八、瀉痢門</h1>

<h2>木香湯</h2>
<p>治赤白痢久不瘥。</p>
<p>黃連　木香　乾薑（各一分）　乳香（半兩）</p>
<p>上四味為細末，每服二錢，空心，用米飲湯調服，大有效驗。</p>

<h2>香連丸</h2>
<p>治赤白痢。</p>
<p>木香（一兩，一半生用，一半糯米炒，米黃為度，去米不用）　黃連（一兩，一半生用，一半用茱萸炒黃色，不用茱萸）</p>
<p>上為細末，米粉或粟米飯為丸，如梧桐子大，每服三十丸，空心，米飲湯送下。</p>

<h2>神效雞清丸</h2>
<p>治一切瀉痢。</p>
<p>木香（二兩）　黃連（二兩半）　肉豆蔻（十個，大者）</p>
<p>上三味，先為細末，取雞子清搜藥作餅子，於慢火上炙令黃色變紅者，稍干，再為末，麵糊為丸，如梧桐子大，每服五十丸，空心，米飲湯下。</p>

<h2>固腸丸</h2>
<p>治瀉痢及泄瀉。（史橘齋家傳。）</p>
<p>肉豆蔻（麵裹，煨）　龍骨（煅研，水飛）　阿膠（蛤粉炒）　赤石脂（煅七次，醋淬，研）　附子（炮）乾薑（炮製）　木香（濕紙裹，煨）　人參（去蘆。以上各一兩）　沉香（半兩，鎊，不見火）　白朮（二兩，炒）　訶子（去核，二兩）</p>
<p>上為細末，粳米糊為丸，如梧桐子大，每服七、八十丸，空心，米飲湯送下，服藥後覺熱，去附子加茱萸一兩，黃連一兩。</p>

<h2>椒紅固腸丸</h2>
<p>治脾胃積冷，腸鳴，大便滑泄，腹痛。</p>
<p>神麯（六兩，銼作小塊，炒香熟）　白朮（一兩，銼，炒乾）　川薑（去皮，炮干，三兩）　川椒（去目，炒去汗，取紅淨，一兩半）　厚朴（去粗皮，薑製，一兩）　肉豆蔻（三兩，麵裹煨）</p>
<p>上為細末，別用蒜不拘多少，濕紙裹煨香熟，剝淨研如泥，熟湯化開，濾去滓，少入面打糊，搜藥為丸，如梧桐子大，每服七、八十丸，空心，米飲湯送下，日進二服。</p>

<h2>紅豆丸</h2>
<p>治臟腑泄瀉，名為飧泄。</p>
<p>麥糵（炒）　半夏（湯泡七次）　砂仁　神麯（炒。各一兩半）　硇砂（醋化）　甘草　青皮（去穰）　陳皮（去白）　鬱金　紅豆　藿香　棠球　蓬朮（各一兩。煨）　良薑　蓽茇（各二兩）　丁香（半兩，不見火）</p>
<p>上為細末，水煮麵糊為丸，如梧桐子大，每服一百丸，米飲或隨物空心送下，病甚者日進三服。</p>

<h2>白朮調中丸</h2>
<p>治脾胃不和，心下堅痞，兩脅脹滿，臍腹疼痛，噫宿腐氣，霍亂吐瀉，米穀不消，久痢赤白，膿血相雜，多日羸瘦，不思飲食。</p>
<p>神麯（四兩，炒）　白朮（半兩）　人參（去蘆）　白茯苓（去皮）　豬苓（去黑皮）　澤瀉（各三錢）木香（二錢）　官桂（一錢半，去粗皮）　乾薑（炮）　甘草（去皮，炙，各一兩）</p>
<p>上為細末，麵糊為丸，如梧桐子大，每服五、七十丸，空心，淡薑湯送下。</p>

<h2>神應丸</h2>
<p>治水瀉、食瀉、積瀉、赤白痢，休息痢，無問遠年日近，並皆治之。</p>
<p>黃連（二兩，一半生用，一半熟用炒）　吳茱萸（淨，二兩）　罌粟殼（二兩，去筋末十分，炒黑黃色）　木香（二兩，俱要用心，秤足）</p>
<p>上為細末，用陳倉米粉同好米醋打糊為丸，如梧桐子大，每服五、七十丸，空心，米飲湯送下。</p>

<h2>乳豆丸</h2>
<p>治臟腑泄瀉不調。（詹教授傳。）</p>
<p>乳香（二兩，另研）　肉豆蔻（麵裹煨熟，取豆蔻，切碎為末）</p>
<p>上為細末，相和，用陳米粉糊為丸，如梧桐子大，每服五、七十丸，空心，米飲湯送下。</p>

<h2>二神丸</h2>
<p>治脾腎泄瀉不止。（程裕卿推官傳。）</p>
<p>破故紙（半斤，炒）　肉豆蔻（四兩，生）</p>
<p>上為細末，用肥棗取肉研膏，和藥杵，丸如梧桐子大，每服五、七十丸，空心，用米飲湯送下。二神丸論加木香二兩，名木香三神丸。孫真人云：補腎不若補脾。許學士云：補脾不若補腎，蓋腎氣怯弱，則真陽衰劣，不能蒸脾胃，脾胃多寒，令人胸膈痞塞，不進飲食，遲於運化，或腹脅虛脹，或嘔吐痰涎，或腸鳴泄瀉。譬如鼎釜之中，有諸米穀，無火力，雖終日不熟，其何能化？用破故紙則補腎，用肉豆蔻則補脾。愚見之二藥，雖兼補脾腎，但無斡旋，往往常加木香以順其氣，使之斡旋，空虛倉廩，倉廩空虛則受物。屢用見效，加至百丸，空心，米飲湯入鹽少許送下。</p>

<h2>五味子散</h2>
<p>專治白瀉不止。</p>
<p>五味子（二兩）　吳茱萸（五錢，細粒綠色者佳）</p>
<p>上二味同炒香熟，碾為細末，每服三錢，陳粟米飲湯，空心，臨臥調服，日進二服，至三日臟腑微痢，至七日痊愈。</p>

<h1>九、頭面口眼耳鼻門</h1>

<h2>盞落湯</h2>
<p>治偏正頭疼頭風。</p>
<p>麻黃（去根節，七錢半）　人參（去蘆，五錢）　陳皮（去白，七錢）　甘草（去皮，八錢）　御米殼（去隔穰頂蒂，三錢，蜜炒黃）</p>
<p>上為㕮咀，每服五錢，生薑七片，煎至七分，去滓溫服，食遠服下。</p>

<h2>真珠散</h2>
<p>治偏正頭痛頭風。</p>
<p>盆硝（七錢半，研）　白滑石（一兩，研）　乳香（一錢半，研）　片腦（少許研）</p>
<p>上另研為極細末，再同研極細，每用一字，口噙水，鼻內搐之。</p>

<h2>都梁丸</h2>
<p>治偏正頭風及一切頭疼。</p>
<p>香白芷（二兩，曬乾）</p>
<p>上為細末，煉蜜為丸，如龍眼大，每服二三丸，食後細嚼，煎芽茶清送下。</p>

<h2>飛虎散</h2>
<p>專治偏正頭風。（鄭參政傳有效方。）</p>
<p>白附子　香白芷　荊芥穗　石膏（煅，研）　薄荷葉　天麻　川芎　防風（以上各半兩）　兩頭尖（一兩，黑心者不用，明白者佳）　蒼朮（一兩，泔浸）</p>
<p>上為極細末，每服一錢，臨臥，溫茶清調服，服後忌食熱物。</p>

<h2>神效散</h2>
<p>治偏正頭疼。</p>
<p>川芎（二錢）　牡丹皮（二錢半，去骨）　滑石（二錢，研）　御米殼（三錢，蜜炒黃色）</p>
<p>上為㕮咀，每服五錢，生薑一兩，水一盞半，煎至七分，去滓，臨臥溫服。</p>

<h2>白附丹</h2>
<p>治男子婦人面生黑斑點。</p>
<p>白附子（二兩）　白芨　白蘞　白茯苓　密陀僧（研）　白石脂（研）　定粉（研。各等分）</p>
<p>上為細末，先用洗面藥洗淨，臨睡用人乳汁，如無，用牛乳或雞子清調，如合就用乳將藥末丸，如龍眼大，窨干，逐旋用溫漿水磨開敷之。</p>

<h2>洗面藥方</h2>
<p>零陵香　檀香（鎊）　丁香　茅香　藿香　白朮　白芨　白蘞　川芎　沙參　防風　藁本　三奈子　天花粉　木賊　甘松　楮桃兒　黑牽牛　白殭蠶（炒去絲）　香白芷（以上各一兩）　綠豆（五升，沸湯泡一宿，曬乾）　肥皂角（五十定，去皮弦）</p>
<p>上為細末，每日洗面用之。治面上遊風，諸般熱毒，風刺光澤精神。</p>

<h2>治繭唇方</h2>
<p>黃柏（一兩）　五倍子（二錢）　密陀僧（少許）　甘草（少許）</p>
<p>上除黃柏外，為細末，水調勻，敷於黃柏上，火炙三、五次，炙盡藥末為度，將黃柏切成薄片，臨睡貼之，天明即愈。</p>

<h2>雙美丸</h2>
<p>治眼目昏花</p>
<p>甘菊花（一斤）　紅椒（去目，六兩）</p>
<p>上研為細末，用新地黃汁為丸，如梧桐子大，每服五十丸，臨臥，茶清送下。</p>

<h2>甘石膏</h2>
<p>點眼昏花，視物不明。（烏馬兒監司經驗方。）</p>
<p>爐甘石（研）　代赭石（煅，醋淬七次，研）　黃丹（水飛。各四兩）　白沙蜜（半斤）</p>
<p>上將二石碾為極細末，次與黃丹和合，用銅鍋將蜜煉去白沫，更添水五、六碗，熬沸下煎藥，以文武火熬用一碗，用銅器攪，試將藥滴水中，沉下為度，方可住火，熬成，用夾紙四重濾過，用淨瓷器盛貯密封，不要透下塵土，恐點時癮眼，如眼昏花，不時點之有驗。</p>

<h2>大良膏</h2>
<p>治眼目昏花。</p>
<p>井鹽（五錢，無青鹽代之，）　訶子（一對，去核）　黃連（去須，五錢）　烏賊魚骨（二錢半，去甲）　黃丹（三兩，水飛）</p>
<p>上為細末，用好蜜十兩，熬去白沫，濾淨，入前藥末於銀銅器內，用文武火慢熬，用槐柳條攪成膏，紫色為度，用淨瓷器盛貯，於地內埋一伏時，去其火毒，取出，每用豆大一塊，溫水化開，洗眼。</p>

<h2>乳香當歸散</h2>
<p>治內障眼，傷風傷寒，攀睛瘀肉，多年眼中倒睫拳毛。</p>
<p>鳳凰臺　當歸　薄荷葉　荊芥穗　藁本　穀精草　石膏（煅）　沒藥（研）　白葛根　菟絲子（淘去沙，酒蒸）　蔓荊子　自然銅（火煅，醋淬七次，研）　苦丁香　漢防己　川芎　赤小豆　乳香（研）　百節菖蒲（去毛，炒）　香白芷　火龍爪　鬱金（以上各一錢）　雄黃（研）　定風子　細辛（各一錢半）</p>
<p>上為極細末，每日三次，早晨、午時、臨臥，鼻內搐之。</p>

<h2>海青膏</h2>
<p>點眼一切昏翳內障眼疾。</p>
<p>黃丹（四兩，水飛）　訶子（八個，去核，為細末）　烏魚骨（三錢，白者）　青鹽（一兩，另研）　白沙蜜（淨者，一斤）</p>
<p>上件將蜜滾去白沫，先下黃丹，用槐條四十九根，少時下余藥，不住用手一一順攪，直攪蜜紫色，滴水中不散為度。後用黃連二兩為末，用水三大碗，傾於熬藥鍋內熬數沸，將鍋並槐條洗淨，上藥別用瓷器內收之，澄清，專洗風赤冷淚等眼。先熬出膏子藥，點雲翳白膜等疾。昔人曾以此藥專以救人。</p>

<h2>重明膏</h2>
<p>治眼內雲翳，無問遠年不退者，及諸般眼疾昏花，輦真人提點眼內生白翳十二三年治不效，得此方點退翳，即日安痊復故，只內障不治。</p>
<p>白沙蜜（半斤）　黃丹（二兩，水飛過）　訶子（四個，沉水者用，去核）　柳枝（東南向者，四十九條）</p>
<p>上將蜜煉淨，用絹濾過，盛於瓷器內，將訶子黃丹入蜜內，於風爐上熬，用手一順攪之，文武火不許太過，熬成金絲膏，用手拈不黏手為度。又用東南上槐條，手摺寸長，一白碗，用水三大碗，熬至一碗，將前膏子用槐條水解稀稠得所，用淨瓷器收貯，密蓋，對於地上，頓放三日，令去火毒，再用絹濾過方用，熬藥時雞犬婦人皆避之。</p>

<h2>視星膏</h2>
<p>治內外障赤毒氣赤目，一切翳膜。（一名捲簾膏。）</p>
<p>白沙蜜（一斤，揀去蠟滓可秤十四兩）　密陀僧（一兩、金色者，研極細、水淘可得六七錢）　新柳條子（四兩，去皮心，半乾半炒）</p>
<p>上用臘雪水五升，與蜜溶調入藥，與柳條子同貯於瓷瓶中，以柳木塞瓶口，油絹封，雜於黑豆鍋內熬，從朝至暮，仍用柴棒隔瓶傾側。用文武火，另添水一鍋，豆水滾下，旋於另鍋中取水添之，熬成，用重綿濾淨，收入瓶中，用井水浸三兩日，埋在雪中，更妙，頻點為止。</p>

<h2>大全寶光散</h2>
<p>治遠年日近風眩爛眼，除昏退翳，止淚截赤定疼。</p>
<p>黃連（半斤，去須）　當歸（二兩二錢）　蕤仁（一兩六錢，去皮油）　生白礬（二兩二錢）　甘草（二兩二錢）　杏仁（二兩四錢，去皮尖）　草龍膽（四兩八錢）　乾薑（二兩四錢）　赤芍藥（三兩三錢）</p>
<p>上用骨刀子銼細，秫米大，不搗，每用二錢，水一大盞，煎數沸，去滓，熱洗。</p>

<h2>治遠年風眼</h2>
<p>杏仁（二十一個，去尖，分作三分）　粉草（二寸，分作三分）</p>
<p>漱口淨，將杏仁一分，甘草一分，同嚼爛如泥，吐於瓷盞內，三分俱如此嚼爛，用銅綠二錢，研為極細末，與前藥和勻，用新井水一盞，將水漱口，吐於藥內，如法攪勻，以帛濾過，澄清，於眼大角點之立效。勿令塵坐於藥內。</p>

<h2>治近年之眼</h2>
<p>銅綠（研）　寒水石（研）</p>
<p>上各等分，碾為細末，用五七沸滾水浸在藥內，攪勻澄清，將水面上藥膜掠去，將清藥水於眼大角點之，勿令塵坐於藥內，立效。</p>

<h2>秘傳羊肝丸</h2>
<p>治男子婦人肝經不足，風毒上攻，眼目昏暗，淚出羞明，怕日癮澀難開，或癢或痛。又治遠年日近內障、外障眼疾，板睛瘀肉不能治，用此藥治之，最宜常服。</p>
<p>白羊子肝（一個洗淨，去膜）　黃連（去須，搗羅為末）</p>
<p>上將羊肝先入沙盆內杵爛，逐旋入黃連末，拌擂，乾溼得所，丸如梧桐子大，每服四十丸，食後，以溫水送下，連作五劑，但是諸般眼疾，及障翳青盲者，並皆治之。忌食豬肉、蒜、生萵苣、冷水等物。</p>

<h2>夜光丸</h2>
<p>治腎虛血弱，風毒上攻，眼目視物昏花不明，久而漸變內障。常服降心火，益腎水，明目除昏。夜可讀細字。</p>
<p>天門冬（去心，焙）　麥門冬（去心，焙）　生地黃（懷州道地）　熟地黃（懷州道地）　新羅參（去蘆）　白茯苓（去黑皮）　乾山藥（以上各一兩）　枸杞子（揀淨）　牛膝（酒浸，別搗）　金釵石斛（酒浸，焙乾，另搗）　草決明（炒）　杏仁（去皮尖，炒）　甘菊（揀淨）　菟絲子（酒浸，焙乾，另搗）　羚羊角（鎊，各七錢半）　肉蓯蓉（酒浸，焙乾，另搗）　五味子（炒）　防風（去蘆）　甘草（炙赤色，銼）　沙苑蒺藜（炒）　黃連（去須）　枳殼（去瓤，麩炒）　川芎　生烏犀（鎊）　青葙子（各半兩）</p>
<p>上件二十五味，除另搗外，同為極細末，煉蜜為丸，如梧桐子大，每服三、五十丸，空心，溫酒送下，鹽湯亦可。</p>

<h2>治赤眼頭風等證</h2>
<p><u>此方名為神聖。</u></p>
<p>乳香　沒藥　川芎　石膏　雄黃（二錢，同半兩盆硝共用）</p>
<p>上件將為細末，專治赤眼冷淚，頭風耳聾，耳癢鼻塞聲重，一搐牙疼便住。</p>

<h2>洗頭明眼方</h2>
<p>鳳眼草，即椿樹上固固翅也，燒灰淋水洗頭，依日期洗。經一年，眼如童子眼明，及加椿皮灰尤佳。</p>
<p>上用正月七日　二月八日　三月四日　四月五日　五月二日　六月四日　七月七日　八月三日　九月二十日　十月二十三日　十一月二十九日　十二月十四日</p>

<h2>千金神麯丸</h2>
<p>主明目，百歲可讀細字。</p>
<p>神麯（四十兩，炒）　辰砂（十兩，另研）　磁石（二十兩，火煅醋淬七次）</p>
<p>上為細末，用神麯打糊為丸，如梧桐子大，每服二十丸，米飲湯送下。常服益目。眾謂丹砂畏磁石，猶火畏水也，今卻合用之，硃砂乃火而入心經，磁石乃水而入腎經，心腎各得其養，則目自然明矣，神麯倍於二品者，無他，目疾多因脾胃有痰飲，潰浸於肝，久則昏眩，用以健脾胃，消痰飲，則取功效。</p>

<h2>青黛散</h2>
<p>治眼倒睫極效。</p>
<p>蝟刺　棗樹上黃直棘針　香白芷　青黛（研）</p>
<p>上各等分，為細末，左眼倒睫，口噙水，左鼻內搐之，右眼倒睫，右鼻搐之。</p>

<h2>截惡眼立效方</h2>
<p>好明礬（如黑豆大一塊）　山梔子（一個，剝去皮）</p>
<p>上將二味咬碎，用無糨絹帛包定，用井花水半小盞浸之，候水浸透，水黃，洗眼三二十次，一宿，次早無事立效。</p>

<h2>黃連膏</h2>
<p>治一切眼疾。（刀提領傳得效方。）</p>
<p>黃連（十兩，去須）　蕤仁（三錢，去殼，研）　杏仁（七十個，湯泡，去皮尖）　木賊（七錢，去節）　草龍膽（二兩，去土）</p>
<p>上將藥各擇洗淨，用水一斗浸之，春秋三日，夏二日，冬五日，入鍋內熬至半升，濾出，再用水七升，熬至小半升，濾出，再用水五升，熬至不到半升，取出，用重絹濾過，熬至半升，傾於碗內，重湯煮為膏子，盛於瓷器內，每用米粒大，於盞內用水一滴濃化開，以釵頭點之三五遍，口內覺苦立效。</p>

<h2>靈光還睛膏</h2>
<p>治一切眼疾。</p>
<p>川黃連（一兩，銼如大豆許，用童子小便浸一宿，濾去滓，曬乾，為末）　黃丹（三兩，水飛淨）　當歸（二錢，淨末）　烏魚骨（末）　白丁香（末）　硇砂（另研）　輕粉（各一錢。另研）　麝香（另研）　乳香（另研。各半錢）　爐甘石（六兩，炭火在鐵片上燒紅透，於黃連汁內蘸之，依前燒七次，研為末）</p>
<p>上一十味俱為細末，用白沙蜜一十兩，銀器內或砂鍋內亦可，先熬五、七沸，以淨紙搭去面上臘，取淨，除黃丹外，下余藥，用濕柳乾子攪勻，次下黃丹，再攪勻，於慢火內徐徐攪至紫色，不黏手為度，急丸如皂角子大，以紙裹之，每用一丸，新汲水於小盞內化開，時時洗之，其效不可盡述。</p>

<h2>撥雲膏</h2>
<p>治男子婦人諸般眼患，不問年遠日近。</p>
<p>黃丹（四兩，細研，水飛）　爐甘石（四兩，用童子小便煅淬五七次，研細，黃連水洗五、七次）　青鹽　硇砂　乳香　雄黃　川芎末　黃連末　枯白礬　輕粉　甘草末　密陀僧　麝香　龍腦　當歸末　白丁香（以上各半錢，研）　硼砂　硃砂（研，各三錢）　沒藥　海螵蛸（研去甲。各三錢）</p>
<p>上件修合各如法，研細，用白沙蜜一十五兩，慢火熬，初沸下黃丹，二沸下爐甘石，三沸下諸藥末，不黏手為度，用瓷盞內熱水泡開，熱點眼，不拘時候。</p>

<h2>畫粉散</h2>
<p>治鼻衄血出不止，一、二服除根。</p>
<p>白土（即畫匠所用畫粉）</p>
<p>上極細研，每服五錢，新井花水調服立止。</p>

<h2>檳榔散</h2>
<p>治鼻頭赤。</p>
<p>雞心檳榔　舶上硫黃（各等分）　片腦（少許）</p>
<p>上為細末，用糨絹帛包裹，時時於鼻上搽磨，鼻聞其臭效，又加蓖麻子肉為末，酥油調，臨睡少搽於鼻上，終夜得聞。</p>

<h2>又方</h2>
<p>枇杷葉（一兩，去毛，陰乾，新者佳）　梔子（半兩）</p>
<p>上為細末，每服二、三錢，溫酒調下，早晨服，先去左邊。臨臥服，去右邊，效如神。</p>

<h2>姜蠍散</h2>
<p>治耳聾神效。</p>
<p>全蠍（四十九個，去蠆）</p>
<p>上將蠍泡濕，用糯米半升於大瓦上鋪平，將蠍鋪於米上，焙令米黃為度，去米不用，又切生薑四十九片，每片放蠍，再焙姜焦為度，去姜不用，將蠍研為極細末，三、五日前，每日先服黑錫丹三五服，臨服藥時，令夜飯半飽，服時看其人酒量，勿令大醉，酒調服畢，令其人睡，切勿令人叫醒，令熟睡卻令人輕喚，如不聽得，濃煎蔥白湯一碗，令服，耳即鳴。</p>

<h2>蚰蜒入耳方</h2>
<p>蝸牛</p>
<p>上將蝸牛全捶碎，置於耳邊即出。</p>

<h2>治耳聾方</h2>
<p>用蒼朮一塊，長七分，將一頭削尖，一頭截平，將尖頭插於耳內，於平頭上安箸頭大艾炷灸之，聾輕者，灸七炷，重者，灸一十四炷，再覺耳內有熱氣者效。</p>

<h1>十、發齒門</h1>

<h2>丁砂散</h2>
<p>掠髭發。</p>
<p>大訶子（一個）　母丁香（一十五個）　百藥煎（一錢）　針砂（少許，醋炒七次）　高茶末</p>
<p>上為極細末，用水一大碗，熬數沸，不去滓，收於淨瓷器內，每夜臨臥，溫漿洗淨髭發，用藥水掠之，次早用溫漿水淨洗，百日其髭發自黑。藥用更浸一新釘尤妙，婦人亦可用。</p>

<h2>妙應散</h2>
<p>牢牙、疏風、理氣、黑髭發。</p>
<p>白茯苓　遼參　細辛（去葉）　香附子（炒，去毛）　白蒺藜（炒，去角）　川芎　縮砂（以上各五錢）　龍骨（研）　石膏（煅）　百葉煎　白芷（以上各七錢）　麝香（少許，研）</p>
<p>上為細末，臨臥，早晨溫水刷之。</p>

<h2>三青膏</h2>
<p>烏髭發。</p>
<p>生胡桃皮　生石榴皮　生柿子皮</p>
<p>上先將生酸石榴剜去內穰子，揀丁香好者，裝滿通秤分兩，然後卻將胡桃皮、柿子皮與所裝石榴、丁香停分曬乾，同為細末，用生牛奶和勻，盛於錫盒內或瓷器內，密封之，埋於馬糞內，一十日取出，將白腺一條扯緊，點些膏子於腺中，待藥力行至兩頭皆黑徹者，是藥中也，如不黑，再於馬糞內埋數日。</p>

<h2>刷牙藥</h2>
<p>南嶽批降此方。</p>
<p>豬牙皂角及生薑，西國升麻熟地黃，木律旱蓮槐角子，細辛荷蒂用相當，青鹽等分同燒煅，研煞將來用最良，明目牢牙須鬢黑，誰知世上有仙方。</p>

<h2>菊花散</h2>
<p>治頭髮脫落洗髮。</p>
<p>甘菊花（二兩）　蔓荊子（一兩）　干柏葉（一兩）　川芎（一兩）　桑白皮（一兩，淨）　白芷（一兩）　細辛（去苗，一兩）　旱蓮草（一兩，根梗花葉並用）</p>
<p>上件為㕮咀。每次用藥二兩，漿水五大碗，煎至三碗，去滓，洗頭。</p>

<h2>滋榮散</h2>
<p>長養髮，發落最宜。</p>
<p>生薑皮（焙乾，一兩）　人參（一兩）</p>
<p>上為細末，每用生薑一塊，切斷蘸藥末於發落處擦之，二日一次用。</p>

<h2>沉香散</h2>
<p>治刷牙，堅固牙齒，榮養髭發。</p>
<p>沉香（二錢半，鎊）　白檀（一錢半，鎊）　苦楝子（破四片炒，半兩）　母丁香（一錢半）　細辛（去苗，半兩）　酸石榴皮（二錢半）　當歸（半兩）　訶子皮（二錢半）　香附子（半兩，炒去毛）青鹽（二錢半，研）　荷葉灰（一錢）　青黛（二錢半，研）　乳香（一錢，研）　龍腦（半錢，研）　麝香（半錢，研）</p>
<p>上為細末，每用半錢，如常刷牙，溫水刷漱了，早晚二次用。</p>

<h2>追風散</h2>
<p>治諸般牙疼。</p>
<p>貫眾　鶴蝨　荊芥穗（以上各等分）</p>
<p>上為㕮咀。每用二錢，加川椒五十粒，用水一碗，煎至七分，去滓，熱漱吐去藥立效。</p>

<h2>訶子散</h2>
<p>烏髭發。</p>
<p>訶子（兩個，去核）　沒食子　百藥煎（三兩）　金絲礬（一兩半，研）　針砂（三兩，用好醋一碗，瓷器浸三日，炒七次）</p>
<p>上將蕎麵入針砂打糊，先夜，將針砂糊抹在頭上，用荷葉包到天明，用溫漿水洗淨，次夜，卻將前藥末四味調入針砂糊內，用生薑一塊捶碎，再加些少輕粉，一處調勻，抹在頭上，用荷葉包到天明，用溫漿水加數點清油在內洗淨，其發黑且光。</p>

<h2>五神還童丹</h2>
<p>堪嗟髭發白如霜，要黑原來有異方，不用擦牙並染髮，都來五味配陰陽，赤石脂與川椒炒，辰砂一味最為良，茯神能養心中血，乳香分兩要相當，棗肉為丸桐子大，空心酒溫十五雙，十服之後君休摘，管教華髮黑加光，兼能明目並延壽，老翁變作少年郎。</p>
<p>赤石脂　川椒　辰砂　茯神　乳香（以上各一兩）</p>
<p>此方乃仙家傳授，無問老少皆可服。</p>

<h2>刷牙藥</h2>
<p>香附子（去毛，炒熟，一兩）　大黃（火煨）</p>
<p>上用橡子二十個，內一十八個裝滿青鹽，於沙器內蓽擺定。用碗蓋之，燒存性，與生橡子二個並香附子、大黃同為細末，每日刷牙、掠髭鬢。</p>

<h2>神仙長春散</h2>
<p>治牙齒動搖疼痛，牢牙黑髭發，至老不白，深有神效。（太平宣差傳。）</p>
<p>皂角（一斤，去皮弦，蟲蛀不用）　食鹽（四兩，二味同燒煉）　香附子（淨四兩，炒去毛）　青鹽（四兩，研）　牛蒡子（四兩，炒）　蓮花蕊（一兩）　藿香（一兩）　旱蓮草（一兩）　麝香（一分，研）　腦子（一分，研）</p>
<p>上將皂角銼碎，用小瓦盆二個，上盆底鑽小孔三個，下盆裝一重皂角，一重食鹽，四兩都裝下盆內，相合泥固，炭火煅煉，煙青為度，取出，同前藥碾細，入麝香腦子同為細末，每日早晨臨臥刷牙甚妙。</p>

<h2>風牙疼</h2>
<p>細辛（去葉）　草烏頭（各等分）</p>
<p>上為細末，先以冷水漱淨，用手指點藥擦牙，須臾立愈。</p>

<h2>蟲牙疼</h2>
<p>天仙子不以多少，燒煙，用竹筒抵牙，引煙燻之，其蟲即死，永不再發。</p>

<h2>掠髭鬢方</h2>
<p>白檀末（一錢）　香白芷（一錢）　白芨（一錢）　三奈子（三錢，麵包燒熟為度）　滑石（研）　零陵香（二錢）　青黛（一錢，研）　百藥煎（一錢，另研）　甘松（一錢，去土）</p>
<p>上為細末，用漿水一大盞，藥末一錢，用瓷器內收盛，如法蓋覆，勿令灰塵坐落，早晨梳洗畢掠之，不過十數日有驗。用盡再添漿水藥末。</p>

<h2>蒺藜散</h2>
<p>治打動牙齒。</p>
<p>蒺藜根</p>
<p>上燒灰貼，動牙即牢。</p>

<h2>乾洗頭藥方</h2>
<p>香白芷　零陵香　甘松　滑石（研）</p>
<p>上各等分為細末，摻於發內梳篦。</p>

<h2>治牙齒動搖</h2>
<p><u>出總錄方。</u></p>
<p>黑錫（半斤，大鍋內溶成汁，於入桑條灰，柳木捶研合成沙）</p>
<p>上一味，以熟絹羅為末，每日早晨如常擦牙後，用溫水漱在盂內，以水洗眼，能明目黑髭發。</p>

<h1>十一、咽喉門</h1>

<h2>羅青散</h2>
<p>治咽喉單雙乳蛾。</p>
<p>蒲黃（五錢）　羅青（三錢，研）　盆硝（三錢，研）　甘草（二錢，研）</p>
<p>上為細末，每服一錢，冷蜜水調，細細嚥之。吞不下，雞翎蘸藥喉內掃之立效。</p>

<h2>粉香散</h2>
<p>吹乳蛾即開。</p>
<p>白礬（三錢）　巴豆（二粒，去皮）　輕粉（少許）　麝香（少許，研）</p>
<p>上於鐵器上飛白礬至沸，入巴豆在上，礬枯，去巴豆不用，為細末，三味和合吹喉。</p>

<h2>治喉風單雙乳蛾</h2>
<p>牆上土蜂窠（一個，碾極細）</p>
<p>上先用楮葉，將病人舌用葉擦破，微令血出，將蜂窠土用醋調，用鵝毛蘸藥，於喉中捻之，令痰涎出為效。後用扁竹根擂碎，調冷水與病者，只服三口，利三行即愈，就用冷水漱口，立愈。</p>

<h2>治急喉風</h2>
<p>燈草（用手一大握，除去兩頭）</p>
<p>上將燈草用新瓦一個盛之，又用新瓦一個盒之，以火焚燒成灰，再將鹽一大匙頭，就於瓦上炒存性，二物和合，用葦筒一個，用藥一捻，吹於喉中，涎出為效，吹三、二次立愈。</p>

<h2>啞瘴咽喉乳蛾方</h2>
<p>雄黃（五錢，研）　鬱金（五錢）　白礬（二錢半，生用，研）　膽礬（半錢，研）</p>
<p>上為極細末，以竹筒吹入喉中，立能言語。</p>

<h2>一捻金散</h2>
<p>治乳蛾及風熱上攻，咽喉腫痛。</p>
<p>真殭蠶（去絲嘴三條，薑汁浸濕，炙黃色）　防風（鼠尾者，去叉，二錢）　明礬（三錢，研）上為極細末，用竹筒吹於喉內立愈。</p>

<h1>十二、雜治門</h1>

<h2>治針入肉不出</h2>
<p>臘姑腦子捶爛塗上即出。</p>
<p>上用硫黃研細，調貼，以紙花貼定，覺癢時其針即出。</p>

<h2>又方</h2>
<p>針入肉不得出者，用雙杏仁搗爛，以車脂調勻，貼在針瘡上，其針自出。</p>

<h2>魚骨鯁在喉中</h2>
<p>用軟餳一塊令食之即下，極妙。</p>

<h2>治竹木刺扎入深不得出</h2>
<p>烏羊糞</p>
<p>上將烏羊糞爛搗，用水和奄於傷口厚敷之，曾有一莊僕腳心中刺不得出，痛苦欲死，以此藥黃昏敷上，痛尤甚，至四更，其刺出，遂安。</p>

<h2>淋澀諸般沙石者</h2>
<p>琥珀（二錢，明者，細）</p>
<p>上為細末，空心，用蔥白濃煎湯下調服，無問諸般淋證，一二服立效。</p>

<h2>分清飲</h2>
<p>通心氣，補漏精，治小便餘瀝並赤白濁。</p>
<p>益智仁　川萆薢　石菖蒲（鹽炒）　天台烏藥</p>
<p>上等分，銼為散，入鹽少許，煎。空心服。</p>

<h2>絳宮湯</h2>
<p>治三焦氣滯，腹脅生痛，因服熱藥，引入下焦，膀胱受熱，小便淋澀，臍下脹痛。</p>
<p>露蜂房　血餘（各三兩）　白茅根（五錢）</p>
<p>上為細末，入生麝香少許，每服二錢，食前溫酒下，淋止，不須服。甚者不過三、五服有效。</p>

<h2>通治還少丹</h2>
<p>治心腎俱虛，漏精白濁。</p>
<p>山藥（炮）　牛膝（去苗，焙）　山茱萸（水洗，去核）　白茯苓　舶上茴香（炒。各一兩半）　菟絲子（酒浸，焙，研）　續斷（去蘆。各一兩）</p>
<p>上為末，煉蜜丸，如梧桐子大，每服三十丸，鹽湯下。</p>

<h2>雄靈散</h2>
<p>治毒蛇所傷，昏悶欲死者。</p>
<p>五靈脂（一兩，真者，酒洗去砂石，乾用）　雄黃（半兩，明好者，研）</p>
<p>上為細末，每服二錢，酒調灌之，就以藥末調塗傷瘡口，良久，再服一服，神驗。</p>

<h2>雄黃散</h2>
<p>治毒蛇所傷。</p>
<p>雄黃（無問多少）</p>
<p>上為細末，用萵苣菜自然汁捏為餅，好酒調化服，就用藥塗傷處。</p>

<h2>雄辛散</h2>
<p>治惡蛇及瘋犬所傷。</p>
<p>細辛蓽茇及雄黃，好酒研來入麝香，不問惡蛇並惡犬，管教一服便安康。</p>
<p>上各等分，為細末，每服二錢，好酒調下。</p>

<h2>瘋狗咬</h2>
<p>用核桃殼半個，將野人干（即人之大糞也）填滿，以榆皮蓋定，掩於傷處，用艾於桃核上灸二七十四炷即愈，永不發作。</p>

<h2>敷藥</h2>
<p>破傷風欲死者，用蜈蚣碾為細末，擦牙，吐去涎沫立蘇。</p>

<h2>玉真散</h2>
<p>治破傷風及金刃傷、打撲傷損，昔張叔潛知府宰清流日，以此二方授直廳醫者，救欲死者數人。凡居官者不可無此二方，極效。</p>
<p>天南星　防風</p>
<p>上等分為細末，破傷風以藥敷貼瘡口，然後用藥一錢，溫酒調下，如牙關緊，角弓反張，用藥二錢，童子小便調下。或因鬥毆相打，內有傷損，以藥一錢，溫酒調下，打傷至死，但心頭微溫，以童子小便調二錢，灌下，連進三服。天南星為防風所制，服之不麻。續再有一方亦妙。（追出黃水盡為效，一日一次換。）</p>

<h2>又方</h2>
<p>亦張叔潛知府得之朝醫李子厚。</p>
<p>黃臘一塊，用熱酒化開服，立效，與前治破傷風玉真散一對連用。</p>

<h2>解毒散</h2>
<p>治毒蛇、射工、沙蝨等傷著人，眼黑口噤，手足直強，毒氣入腹。</p>
<p>白礬（研）　甘草（各等分）</p>
<p>上為細末，每服二錢，冷水調下。</p>

<h2>丁香散</h2>
<p>治反胃吐食，水不能停。</p>
<p>黑錫（一錢半，又名黑鉛）　水銀（一錢半。二件一處於慢火上結沙子為細末）　丁香（三錢）桂（一錢）　舶上硫黃（五錢）</p>
<p>上為細末，用小黃米湯調，每服三錢，再用生薑自然汁三錢，調一處，空心服之。</p>

<h2>千轉丹</h2>
<p>治反胃吐食等病。</p>
<p>牛涎（半斤）　好蜜（半斤）　木鱉子（三十個，去皮油）</p>
<p>上為細末，牛涎、蜜一處於銀器內，用慢火熬，用槐條七枝攪之，煨乾為度，每和白粥兩匙，日進三服。</p>

<h2>急救仙方</h2>
<p>專治反胃，反胃之病，十有九死，非藥不效，良因輒強以食，先飲以羹湯，是速其吐，今得其說，不強以食，絕其羹湯，先投來復丹暑藥，知其非伏暑證，遂投養正靈砂之類，飢則以飯炒香，干啖之。不與一點湯水，三日後竟不復吐，飲食如初，再治方用。</p>

<h2>又方</h2>
<p>好甘蔗搗汁七升，生薑汁一升，打和分作三服。</p>

<h2>又方</h2>
<p>紅棗子一個，去核，裹全斑蝥一個，用文武火煨畢，去蝥用棗，空心服之，白湯送下。</p>

<h2>九仙餅</h2>
<p>治反胃。</p>
<p>人參　南木香（不見火）　南星（薑汁洗七次。各二錢）　甘草（一錢）　半夏（薑汁洗七次，五錢）　枳殼（去瓢，麩炒）　白礬（明淨者，火枯）　豆豉（煅過，各八錢重）　厚朴（薑汁浸，炒乾，五錢重）上等分，各製為細末，候夜間晴時露過，以人參厚朴煎湯，糊作餅子，太平錢大，慢火焙乾，每服一餅，用姜一大塊，切作兩片，夾餅子藥，用紙裹浸濕，慢火煨熟，連姜及餅子嚼碎，以真料平胃散調湯吞下，切忌諸般冷物、生物，仍令病者寬心開懷，服藥調理，方見效。</p>

<h1>十三、瘡腫門</h1>

<h2>內托千金散</h2>
<p>治腦背癰疽，乳便等惡瘡。（鄭善明御史救人驗。）</p>
<p>人參　當歸　黃耆　芍藥　川芎　防風　甘草　栝蔞　白芷　官桂　桔梗（以上各三錢）　金銀花（三錢）</p>
<p>上為㕮咀，每服須秤藥七八錢重，水二大盞，煎至七分，入酒半盞，去滓，溫服。如痛甚者，倍加當歸、芍藥，或加乳香二錢，日進三服。兩服之後，瘡口內有黑血出者，或遍身汗出，皆藥之功效也。如病勢猛惡，須秤藥一兩，水一大碗煎服。未成膿者自散，已成者不用針砭自透。此藥累經功效，不可不傳，普救眾苦。</p>

<h2>搜膿散</h2>
<p>瘡內有膿，不能自出，如是透深者，用紙拈蘸藥於瘡口內。</p>
<p>白芍藥（三錢）　川芎（一兩）　香白芷（一兩）　輕粉（三錢）</p>
<p>上為細末，瘡平者，摻藥在上。</p>

<h2>生肌散</h2>
<p>治瘡口不合。</p>
<p>沒藥（一錢）　黃丹（一錢，水飛過用）　赤蘞（一錢）　枯白礬（一錢）　白膠（二錢）　黃柏（一錢）　乳香（一錢）　麝香（二錢半）</p>
<p>上為細末，先煎蔥白鹽湯洗淨，搵干，敷藥末於瘡口上。</p>

<h2>白芷散</h2>
<p>治身上諸般惡瘡，及小兒耳、項、頭疼。</p>
<p>斑蝥（五個）蟬殼（五個）輕粉（一錢）檳榔（三個）　香白芷（二錢）　蛇床子（二錢）　硫黃（二錢）樟腦（二錢）</p>
<p>上為細末，羅過，卻入輕粉，再研極細，用香油調藥搽敷，立效。</p>

<h2>桃花散</h2>
<p>治諸瘡不合，生肌散</p>
<p>赤蘞（炒）　白蘞（炒）　黃柏（炒，以上各三錢）　輕粉（一錢）</p>
<p>上為細末，用蔥白漿水淨洗上藥。</p>

<h2>拔毒散</h2>
<p>敷貼諸般惡瘡。</p>
<p>大黃　東牆上土</p>
<p>上為極細末，用無根井花水調搽，如干再搽，經宿即愈。</p>

<h2>破棺丹</h2>
<p>治消疔黃走胤不止。（史相方。）</p>
<p>赤芍藥（二兩）　當歸（二兩）　山梔子（二兩半）　甘草　牽牛（頭末一兩半）　大黃（三兩半）　牡蠣（炮，一兩半）　金銀花（一兩半）　京三稜（一兩，切片，焙乾）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，食前，用童子小便化開服之，病重者服一丸半。忌酒、生硬物。</p>

<h2>防風當歸散</h2>
<p>治諸般瘡癤等毒熱瘡。</p>
<p>防風（半兩）　甘草節（半兩）　赤芍藥（半兩）　綿黃耆（半兩）　當歸（半兩）　白芷（半兩）　左纏藤　皂角刺　肉桂（陰證用半兩，陽證用一錢）　大黃（陽證用半兩，陰證用一錢）</p>
<p>上為㕮咀，水四碗，砂瓶內煎至二碗，入好酒一碗，再煎至二碗，放溫，作數起服。內皂角刺，左纏藤加眾藥五倍。</p>

<h2>返魂丹</h2>
<p>治十三種疔瘡。</p>
<p>硃砂　膽礬（各一兩半）　血竭　銅綠　蝸牛（各一兩。生用）　雄黃　白礬（枯。各二兩）　輕粉　沒藥　蟾酥（各半兩）　麝香（少許）</p>
<p>上將七味為末，和搗蝸牛、蟾酥極爛，和藥時旋入藥為丸，如雞頭大，每服一丸，令病人先嚼蔥白三寸，吐在手心內，將藥丸裹在蔥白內，用熱酒一盞吞下，如重車行五里許，有汗出即瘥。如不能嚼蔥，研爛，裹藥下，曾有一僧，貨此藥，極有效。予自合救人，累獲效驗，真妙方也。</p>

<h2>青露散</h2>
<p>治背疽一切惡瘡，圍藥不胤開</p>
<p>白芨　白蘞　白薇　白芷　白蘚皮　朴硝　青黛　黃柏　大黃　天花粉　青露散（即芙蓉葉）老龍皮（即老松樹皮）</p>
<p>上件各等分，為細末，用生薑自然汁調，圍敷，如干時，再用薑汁潤。</p>

<h2>吸筒</h2>
<p>以慈竹為之，削去青。</p>
<p>五倍子（多用）　白礬（少用些子）</p>
<p>上二味和筒煮了收起，用時再於沸湯煮令熱，以筋箕筒乘熱安於患處。</p>

<h2>保生錠子</h2>
<p>治疔瘡。</p>
<p>金腳信（二錢）　好雄黃（二錢）　硇砂（三錢）　輕粉（半釐）　麝香（一錢）　巴豆（四十九個，用文武火炮熱，去皮殼）</p>
<p>上為細末，用黃臘一兩溶開，和藥成錠子，水浸少時，取出，用藥時旋捏餅子如錢眼大，將疔瘡用羊骨針撥開，安藥在瘡口內，以膏藥貼之，無膏藥，麵糊貼。</p>

<h2>金砂散</h2>
<p>治疔瘡。</p>
<p>硇砂（好者）　雄黃（好者）</p>
<p>上等分研細，將生蜜就，於角盒子內收貯，遇患先用銀篦兒挑破瘡口，擠出惡血，然後用藥一豆大，安入瘡口內，用紙花貼即效。毒氣入腹多，嘔吐欲死者，即服後內托香粉散。</p>

<h2>內托香粉散</h2>
<p>滴乳（半兩，另研）　真綠豆粉（一兩）</p>
<p>上為細末，煎生甘草湯調三錢，時時飲之，常令灌潤胸膈。</p>

<h2>栝蔞散</h2>
<p>治便癰等惡瘡。</p>
<p>栝蔞（一個，去皮）　生薑（半兩）　甘草（半兩）　金銀花（三錢）　牛蒡子（三錢，微炒）</p>
<p>上將藥不犯銅鐵器捶碎，用酒一大升，煎數沸，空心溫服，微利為度。</p>

<h2>二烏散</h2>
<p>治發背蜂窩、疔瘡便毒等證。</p>
<p>川烏頭（一個）　草烏頭（一個）</p>
<p>上將新瓦一個，汲新水一桶，將川烏頭、草烏頭，並瓦俱浸於水桶內。如無新瓦，於房上取淨瓦亦可，候透瓦，將川烏、草烏於瓦澀面，磨藥成膏，就磨藥手挑藥貼於瘡口周圍，如未有瘡口，一漫塗藥如三、四重紙厚，上用紙條透孔貼蓋，如藥干，用雞翎蘸水掃楴，如此不過三。</p>

<h2>摻藥</h2>
<p>治諸瘡口膿水不幹。</p>
<p>白龍骨（二分）　寒水石（三分）　虢丹（飛，一分）</p>
<p>上為細末，干貼瘡。一料以六分為率。</p>

<h2>砂草油</h2>
<p>治人食毒物，及患一切惡瘡。</p>
<p>硼砂（四兩）　甘草（四兩）</p>
<p>上二味，用真香油一斤，於瓷瓶內浸藥，遇患，急令患人服油一小盞立效，浸久尤佳。</p>

<h2>一浴散</h2>
<p>治疥瘡熱毒，清油調搽。</p>
<p>硫黃　雄黃　漢椒　玄精石　枯白礬（各等分）　輕粉（少許）</p>
<p>上欲治疥，時早起空心，飽食乾物，勿食飲湯，煎大防風通聖散一貼，入白砂蜜二兩，送神芎丸五、七十丸，入浴室內，令汗出便休，下湯浴，將疥抓破，用前藥搽之，入浴湯內洗，就浴堂內如此搽洗三次，方才出浴，再不須搽藥。</p>

<h2>臁瘡黃蠟膏</h2>
<p>槐條　椿皮　桃條　楝條　柳條　荊芥</p>
<p>上件熬湯，無時蕩洗，用無糨絹帛搵干，用生黃蠟於紙上，量瘡大小攤膏藥一十個，將十層都拴於瘡上，三日一次洗瘡，除去著瘡蠟紙膏藥一個不用，不候一月，無問年深日近，必然痊可。累曾依方醫治，得效驗。</p>

<h2>治惡瘡膏海上方</h2>
<p>燕窩內外泥糞，俱研極細，羅過，用油調搽。</p>

<h2>妙功散</h2>
<p>治疥瘡。</p>
<p>黃柏　蛇床子　白礬（各等分）</p>
<p>上為細末，用後藥煎油調搽。</p>
<p>清油（二兩）　黃柏　花椒　巴豆（數粒）　蔥（三莖）　厚朴　枳殼（各少許）</p>
<p>上件同清油一處，熬數沸，濾去，將妙功散於熱油內，更加桕燭一、二枝，於冷調搽。</p>

<h2>黃連獨活散</h2>
<p>治背疽，一切惡瘡，初發腫甚者，服三四服即消散。</p>
<p>羌活（一錢半）　獨活（半錢）　防風（半錢）　藁本（一錢半）　君黃芩（一錢半）　黃連（五分）　知母（一錢，酒浸洗）　當歸身（三錢）　生地黃（二錢，酒浸）　防風梢（半錢，酒浸）　連翹（三錢）　黃耆（一錢半）　人參（半錢）　甘草身（一錢，一半用根足，炙）　陳皮（五分）　蘇木（五分）　當歸梢（五分）　桔梗（一錢）　澤瀉（七分）　甘草梢（五分）　黃柏（一錢半）　漢防己（五分）</p>
<p>上為㕮咀，只作一服，水一碗，煎至五分，入好酒半盞，臨臥服，便將滓煎服之，前後節續服即瘥。</p>

<h2>十全內托散</h2>
<p>托裡，成膿服之。</p>
<p>人參（二兩）　當歸（二兩）　黃耆（二兩）　官桂（二兩）　甘草（一兩）　製厚朴（一兩）　桔梗（一兩）　川芎（一兩）　白芷（一兩）　防風（一兩）</p>
<p>上為㕮咀，每服三、五錢，水二盞，生薑五片，煎至八分，去滓通口服。</p>

<h2>螵蛸散</h2>
<p>治頭上瘡，俗曰黏瘡，絕妙方。</p>
<p>海螵蛸（二錢）　白膠香（二錢）　輕粉（五分）</p>
<p>上將海螵蛸、白膠香同研細羅過，卻入輕粉，再於乳缽內煞研極細，敷貼瘡時，先用清油將瘡潤了，然後將藥末干糝瘡上，只一上，甚者二上。</p>

<h2>治臁瘡方</h2>
<p>好粉用香油調在碗里，上用艾燒煙燻黃色，要勻抹在瘡上，有效。</p>

<h2>治疔瘡海上方</h2>
<p>蟬殼（七個，煨為末）</p>
<p>上為極細末，用蜜調搽瘡口。</p>

<h2>剪草散</h2>
<p>專治頑癬久不好者。</p>
<p>梗樹皮（八兩，杭州殼）　剪草（四兩）　白芨（四兩）　巴豆（十四個，連殼碾）</p>
<p>上為細末，新汲水調如糊，厚厚敷於癬上，干去之，再敷立效，不須抓破。</p>

<h2>治下疳立效散</h2>
<p>燈心灰入輕粉、麝香少許，干貼。</p>

<h2>立馬回疔丹</h2>
<p>治疔瘡走胤不止。</p>
<p>金腳信（五分）　蟾酥（五分）　血竭（五分）　硃砂（五分）　輕粉　龍腦　麝香（三味各一字）　沒藥</p>
<p>上為細末，生草烏頭汁為丸如麥子大，用時將瘡頂刺破，將藥一粒放瘡口內，第二日瘡腫為效。</p>

<h2>黃耆飲子</h2>
<p>治一切惡瘡。</p>
<p>金銀花（一兩）　當歸（一兩）　連翹（半兩）　黃耆（半兩）　生甘草（三錢）　大黃（三錢）　栝蔞（一個）　生薑（三錢）</p>
<p>上件㕮咀，用水一大碗，藥一兩，浸一宿，慢火熬至稠作聲，入好酒一升，再煎三二沸，去滓頓服。</p>

<h2>善應膏</h2>
<p>治惡瘡，癰疽腫癤，發背瘰癧，寒濕氣冷刺痛，皮膚頑麻，手腫，打撲腰骨，閃肭血氣，毒氣、鐵器所傷，杖瘡，小兒頭瘡，蜂、蠍、豬、狗、蛇、蟲所傷，湯火漆瘡，下注臁瘡，婦人吹奶，丸桐子大，新水送下二十丸。產前、產後腹刺痛，溫酒送三十丸，此藥並不得犯葷手，火上熔開，用好紙攤成膏藥貼之立效。</p>
<p>黃丹（五斤，水飛）　乳香（二兩）　沒藥（二兩）　木鱉子（一兩）　白芷（一兩）　白芨（一兩）　白蘞（一兩）　當歸（一兩）　官桂（一兩）　杏仁（一兩）　血竭（一兩）　清油（五斤）　柳枝（一斤，三寸長截斷）　槐條</p>
<p>上件除乳香、沒藥、血竭、黃丹外，其餘藥油內浸三日，炭火上成鍋內熬令黃色，濾去藥滓不用，次下黃丹，以新柳條子小錢粗，長五、六寸，勻攪令黃丹褐色，掇下鍋子在地，只管用柳條勻捔，候藥煙盡，下乳香、沒藥、血竭在鍋，再捔候冷，傾在瓷器內收頓。修合宜春三月，七月。</p>

<h2>治瘡腫濕瘡方</h2>
<p>黃連（生用）　輕粉（生用）　海螵蛸（生用）　韶粉（煅）　蛤粉（生用）　橄欖核（燒灰）　黃柏皮（以上各等分）</p>
<p>上為極細末，干貼立效。</p>

<h2>治男子下疳瘡方</h2>
<p>白礬（煅過）　輕粉　麝香　蠐螬（就活壓去尿，焙乾）</p>
<p>上為細末，貼瘡，日上三兩次，先以口含漿水洗淨，搵乾用藥。</p>

<h2>治腎腧惡瘡方</h2>
<p>雞內金（瓦上焙乾）　川百藥煎（各等分）　輕粉（一錢）　胡黃連</p>
<p>上為細末，燒厚朴油調搽之。</p>

<h2>治金瘡方</h2>
<p>黃柏（四兩，好者，去粗皮）　黃連（三兩，去須淨，銼）　黃葵花（三兩，焙乾）　降真香末（一兩）　檳榔（二兩，雞心者佳）　白芍藥（少許。以上六味同研為細末）　木鱉子（半兩）　烏賊骨（三兩，二味同研為末，旋入）　真龍骨（一兩，乳缽旋另研入）　密陀僧（一兩，研細）　真血竭（一兩）　麝香（二錢，旋入）　輕粉（一錢）　韶粉（一兩）　滴乳（二錢，另研，同於乳缽內再細研，旋入黃丹）　黃丹（三兩，水飛過，研）</p>
<p>上為一處合和令勻，用好紙包裹令密，勿令透氣，候三日方可用，須十分研細為佳。凡遇金刃所傷，血不止者，作急用藥干貼，血痛立止，或所傷日久，用蔥鹽湯洗去惡物拭乾，用唾津調藥貼，用紙封蓋瘡口，留一竅出膿水，又被傷血流太多，恐傷斷脈絡、血筒，急揩去血，用藥干貼之，立止。</p>

<h2>治血聚皮不破</h2>
<p>蘿蔔葉研細，罨傷處，以帛縛之。</p>

<h2>萬應膏</h2>
<p>治一切惡瘡及刀斧所傷，蛇咬，狗咬，蟲傷，牙痛，心痛，眼痛，腹痛，腳氣，骨節疼痛，大人小兒脾癖，悉皆貼之；心痛，丸如梧桐子大，溫醋湯送下三十丸，肚痛，溫酒送三十丸。</p>
<p>當歸　芍藥　白蘞　白芨　白芷　木鱉子　杏仁　輕粉　乳香　黃耆（以上各一兩）　巴豆（六錢，去皮）　雄黃（研，一兩）　白礬（少許）　沒藥（一兩，研）　黃丹（二斤）　血餘（三兩）　好油（二斤）　蓖麻子（二百餘個）</p>
<p>上件先將乳香、沒藥、黃丹、雄黃、白礬、另研極細外，將余藥銼碎，同槐柳條各二兩，銼碎，蓖麻子二百五十個，去皮研碎，先入油內浸一、二日，於鐵鍋內熬，用槐、柳條各二根，二尺長，不住手攪，微黑色，滴水中不散，撈去粗滓，再用綿濾淨，再入鍋內熬滾，先下黃丹，次下血餘，次下白礬、雄黃，又下乳香、沒藥，不住手攪至煙盡，微熱下輕粉攪勻，傾於水盆內，浸一宿，出盡火毒，於瓷器內盛之，其功效不能盡述。</p>

<h2>治發背諸惡瘡疼不可忍</h2>
<p>用糞缸內底上青泥，取出陰乾，為細末，用新水調敷，其痛立止。</p>

<h2>治疔瘡</h2>
<p>危篤者，二服即愈，輕者一服即效。</p>
<p>土蜂房（一小窠，全）　蛇蛻（一條，全）</p>
<p>上作一處，器皿中盛，用黃泥封固，火煅存性，研為細末，每服一錢重，空心，好酒調服，少頃腹中大痛，痛止，其瘡已化為黃水，仍服五聖散。</p>

<h2>五聖散</h2>
<p>大黃（一兩）　生薑（一兩）　栝蔞（一個）　皂角針（二兩）　甘草（一兩）</p>
<p>上為㕮咀，用好酒二升，同煎至八分，去滓服，不拘時候，溫服。</p>

<h2>臁瘡藥方</h2>
<p><u>監司傳此方見效。</u></p>
<p>輕粉（一錢）　黃連末（二錢）</p>
<p>上用豬膽一個，針刺七孔，滴下膽汁，盞內調成稠糊，用竹攤滿瘡口捻白紙數層蓋藥，以無糨青絹緊緊絟住、過十日再換藥，如法緊絟。</p>

<h2>經驗加麒麟乳香膏</h2>
<p>治諸瘡腫硬疼痛，及膿潰，肌肉腐爛，兼治腐肉不退。</p>
<p>南乳香（一兩）　沒藥（半兩）　松脂（五兩）　天台烏藥　木鱉子（三錢，用仁去皮，二錢）　當歸　赤芍藥（以上各三錢）　小油（二兩）　加血竭（三錢）</p>
<p>上為九味，除乳香、沒藥、松脂、血竭等四味外，用前項小油浸烏藥等四味，計五日，慢火同煎數十沸，濾去滓，澄清一宿，入南乳香等，用柳木篦子，不住手攪成膏。</p>

<h2>替針丸</h2>
<p>專治一切瘰癧惡瘡。（五哥參政傳。）</p>
<p>龍腦（三分）　麝香（五分）　輕粉（一錢）　粉霜（一錢）　雄黃（一錢，硃色者）　白丁香（二錢，真白）　硇砂（五分）　金腳信（二錢）　巴豆（十個，去心膜）</p>
<p>上件為細末，大麥面為丸，如小麥粒大。如用時觀瘡大小加減用，如瘡破者兩丸；如瘡小不破者一丸，用砭針破血出盡，任藥後用黃臘封於針口；如瘡腫者不妨，不過三日自消，此方不可亂傳。</p>

<h2>遇仙無比丸</h2>
<p>專治瘰癧。（五哥參政傳。）</p>
<p>白朮（生）　檳榔（生）　甘草（生）　牽牛（一半生，一半熟炒）　郁李仁（湯浸，去皮）　密陀僧斑蝥（糯米炒，去皮足翅，不用米）　防風（以上各等分）</p>
<p>上為末，麵糊為丸，如梧桐子大，早晚煎甘草、檳榔湯送下，每服二十丸，至月後，覺腹中微痛，於小便中取下病子毒物，有如魚目狀，已破者自合，未破者自消。</p>

<h2>透膿散</h2>
<p>治諸癰瘡及貼骨癰不破者，不用針刀，一服，不移時自透，累有效驗。</p>
<p>蛾口繭（用出了蛾兒的繭兒）</p>
<p>上將繭兒一個，燒灰，用酒調服即透，切不可二個、三個繭兒燒服。若服一個，只一個瘡口，若服二個、三個，即二個、三個瘡口，切勿輕忽。</p>

<h2>治瘰癧瘡</h2>
<p>用乾薑不以多少，研為細末，用生薑自然汁打麵糊和作劑子，國丹為衣，每日一次，隨瘡大小入藥在內，追出膿盡生肉為度，以瘡口合則已，如瘡口不斂，用大黃末以蔥白汁調搽即愈，乃日服十全內托散二服，如瘡腫不破者，用野菊花根搗爛煎酒服之，仍將煎過菊花根為末，敷貼瘡上自消，或不消，瘡口亦自破，依前用藥劑子追膿、生肉、斂口，神效。</p>

<h2>十全內托散</h2>
<p>人參（去蘆）　當歸（去蘆，酒洗浸）　黃耆（去蘆）　川芎　防風（去蘆）　香白芷　肉桂（不見火）　粉草　桔梗（去蘆）　厚朴（薑製）</p>
<p>上件各等分，為㕮咀，每服四錢，用無灰酒二盞，煎至一盞，食後溫服，並滓再煎，每服，飯後一服，及滓再服，臨臥一服，仍煎滓服。</p>

<h2>神效回生膏</h2>
<p>治癰疽癤毒，遠近臁瘡，打撲跌折傷損，暗毒發背，刀斧所傷，箭頭在肉，蛇蠍所傷，並皆治之，其效如神，年深愈效。（張提學救人累效。）槐、柳、桃、榆、桑、枸杞</p>
<p>上將前六味樹條嫩者，每件各二十條，每條長二寸，通計一百二十條，剝取嫩皮，用清油三升，文武火於大砂鍋內煎，令嫩皮津液盡為度，將油濾過。</p>
<p>白芷　白芨　白蘞　當歸　大黃黃柏　赤芍藥　杏仁　蓖麻子（以上各一兩半重）</p>
<p>上將前藥九味銼碎，再於前油內浸透，又用慢火煎焦，去藥滓，再用油濾過。</p>
<p>黃丹（十二兩）</p>
<p>上用黃丹十二兩重，分作三次，下於油內熬令黑色，將箸觜蘸藥油滴水內，不散為度。</p>
<p>血竭　雄黃　乳香　沒藥（以上各五錢）　輕粉（三錢）</p>
<p>上為極細末，放油微溫，下前藥於油內，以瓦罐盛之，蓋口，埋土內三日，去火毒，任意攤貼患處，二日外自覺病退，其效如神。</p>

<h2>膏藥方</h2>
<p><u>汴梁寶符梵院。</u></p>
<p>川當歸（去蘆）　川芎　芍藥　黃耆　香白芷　黃芩　黃連　黃柏皮　桑白皮　白芨　白蘞　蓬朮　南木香　皂角（去子）　升麻　栝蔞根　木鱉子（去殼）　檳榔　杏仁　藿香　沒藥（各半兩）　巴豆（一錢）　穿山甲（二兩）　肉桂（五分）　白膠　黃臘（各一兩）</p>
<p>上以上二十四件，銼為粗末和勻，以好澄清油半斤，連黃臘、白膠於鐵鐺內煎溶，卻下前藥於內，煎令焦黑，濾去滓，再以熟藥油入淨鐺內，卻用：黃丹（四兩）　乳香末（五錢）　麝香（五分，研細）</p>
<p>上用前藥，逐時挑在油內，不住手以箭干大楊柳枝攪，火上煉至黑色，時復滴些在冷水盞內，若成珠子不黏手即傾出，瓷器內盛之，任意攤用，此方得之方士，凡有疾病用之無不愈者，除灸瘡有瘢痕外，其餘惡瘡貼之，並無瘢跡，修煉之時，須於淨室，忌婦人、僧尼、雞犬、貓、畜，大有神效。</p>

<h2>膏注</h2>
<p>當歸　附子　川芎　防風　白蘞　升麻（去蘆）　細辛　側柏　萆薢（各銼）　甘草　桑白皮　白芨　垂柳枝（一握）　桃仁　黃耆　白芷　殭蠶（以上各一兩。銼）　杏仁（一分）</p>
<p>上件十八味，並細銼研，以清芝麻油二斤，於新瓷器內浸藥一宿，後納鐺中，用文武火煉，候稀稠得所，以綿子濾去藥滓，後入藥：</p>
<p>雄黃（半兩，細研）　硃砂（一分，細研）　麝香（半兩，細研）　硫黃（一分，細研）　黃丹（五兩，研）上下前藥入油內，再煎，須臾便息，然後入：</p>
<p>黃蠟（四兩）凝藥後稍過，傾入瓷器內盛之，勿令塵汙，其藥滓，可再用，候清油浸一宿，再煎候稠，入諸藥少許為膏用之，小可瘡癤，只此可療。上具病狀於後：</p>
<p>發背用好酒調兩匙，日進兩服，外貼三日一換；瘰癧漏瘡見骨者貼之；疽瘡、風腫、痹癬，腸癬，發鬚髮牙，馬墜磕破，一切無名之瘡，並皆貼之；折傷筋骨，好酒調五分服之；箭入骨，貼之自出；蛇蟲毒物咬並貼；側產橫生，好酒調半兩服之；難產，好酒調服立見喜氣；婦人血氣衝心不可忍者，用生薑自然汁加小便同煎，再下一錢，同調服之；但諸惡瘡，不問十年五年不痊者，以鹽湯貼之；喉閉含化咽津液下；胎死腹中，溫酒調一分服之，收效如神。</p>

<h2>秘傳隔紙膏</h2>
<p>治臁瘡年月深久不愈者。</p>
<p>老松香　樟腦　谷丹（炒）　水龍骨（即舊船石灰）　輕粉（不愈加）　白芷　川芎　螵蛸</p>
<p>上總為細末，熔化松香，少加清油和之，以油紙隨瘡大小，糊袋盛藥夾之，用水洗瘡，縛在瘡口上，二日定，四日一換。若單用白芷、川芎、螵蛸三味煎水洗之亦效。</p>

<h2>又方</h2>
<p>無名異細研，清油調搽，濕則干敷其上。</p>

<h1>十四、婦人門</h1>

<h2>八珍散</h2>
<p>治月水不調，臍腹㽲痛，全不思食，臟腑怯弱，泄瀉，小腹堅痛，時作寒熱，此藥調暢榮衛，滋養氣血，能補虛損。</p>
<p>當歸（去蘆）　川芎　熟地黃　白芍藥　人參（去蘆）　甘草（炙）　茯苓（去皮）　白朮（以上各一兩）</p>
<p>上為㕮咀，每服三錢，水一盞半，生薑五片，棗一枚，煎至七分，去滓，不拘時候，通口服。</p>

<h2>沉香散</h2>
<p>治婦人一切血氣刺痛不可忍者，及男子冷氣痛，並皆治之。</p>
<p>沉香　木香　當歸　白茯苓　白芍藥（以上各一錢）</p>
<p>上為㕮咀，每服一錢，水三盞，於銀石器內，不用銅鐵器，文武火煎數沸，入全陳皮一個，又煎十數沸，入好醋一盞，又煎十數沸，入乳香、沒藥如皂角子大一塊，同煎至一盞，去滓，通口服，不拘時候。</p>

<h2>白芷散</h2>
<p>治婦人難產，能救子母性命。</p>
<p>百草霜（一兩）　香白芷（半兩）</p>
<p>上為細末，每服一錢，水一盞，煎至七分，加童子小便，稍熱服。</p>

<h2>斗門散</h2>
<p>治婦人經脈逆行，血風攻腦，頭目旋悶，欲死，忽然倒地不省人事。</p>

<h2>喝起草</h2>
<p>上取其嫩心，不以多少，陰乾為細末，用常酒調服一大盞，不拘時候，其功最大，服之多者，連通頂門。</p>

<h2>治婦人吹奶</h2>
<p>鼠糞（五十粒）　麝香（一字）</p>
<p>上為細末，食後，用熱酒一盞調服，立愈。</p>

<h2>蒲黃散</h2>
<p>治婦人血山崩，累驗秘方。</p>
<p>破故紙（炒黃）　蒲黃（炒）　千年石灰（炒黃）</p>
<p>上各等分，為細末，每服三錢，空心，用熱酒調服，立止。</p>

<h2>又方</h2>
<p>治婦人血山崩不止。</p>
<p>婦人油頭髮（半兩，燒灰）　千針草灰（半兩）</p>
<p>上為細末，每服三錢，淋，火煅秤槌，酒調服。</p>

<h2>血竭散</h2>
<p>治婦人臍下血積疼痛。</p>
<p>血竭　乳香　沒藥（並另研）　水蛭（鹽炒煙盡）　白芍藥　當歸　麝香（以上各一兩）　虎骨（火炙油盡黃，一錢六分）</p>
<p>上為極細末，每服三錢，空心，溫酒調服。</p>

<h2>四制醋附丸</h2>
<p>治婦人女人經候不調。</p>
<p>香附子（一斤，帶毛，分作四份，一份好酒浸七日，一份米醋浸七日，一份小便浸七日，一份鹽水浸七日，各焙乾。）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，空心食前，溫酒送下。肥人只依本方服並無加減；瘦人加澤蘭葉、赤茯苓各二兩重。</p>

<h2>養氣丹</h2>
<p><u>在和劑局方。</u></p>
<p>治婦人年未及四十歲，天癸斷行，每服五丸，空心溫酒送下。</p>

<h2>芩心丸</h2>
<p>治婦人四十九歲以後，天癸當住，每月卻行或過多不止。</p>
<p>黃芩心（枝條者二兩重，用米醋浸七日，炙乾，又浸又炙，如此七次。）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，空心，溫酒送下，日進二服。</p>

<h2>四七湯</h2>
<p>治婦人女子小便不順，甚者陰戶疼痛。</p>
<p>半夏（一兩，湯泡七次）　厚朴（薑製）　赤茯苓（各半兩）　紫蘇葉（三錢）　甘草（二錢）　香附子（五錢）</p>
<p>上為㕮咀，分作四服，每服水二盞，生薑五片，煎至七分，去滓，加琥珀末一錢，調服。</p>

<h2>治產後血痢</h2>
<p>生薑不拘多少，切作小棋子片，以面拌和，捏成毯子，慢火炒令焦黃，研為細末，米飲湯調三錢，空心服。</p>

<h2>產後血塊腹痛</h2>
<p>京芎（炒）　川當歸（炒）　乾地黃（洗）　芍藥（以上各半兩）　蒲黃（一分，銚內隔紙炒赤）</p>
<p>上同為細末，每服三錢，空心，溫酒調服。</p>

<h2>產後敗血不止</h2>
<p>乾地黃石器內搗為末，每服二錢，食前，熱酒調下，連進二服。</p>

<h2>硇砂散</h2>
<p>治胎死腹中不下。</p>
<p>硇砂（細研）　當歸（各一兩）</p>
<p>上二味，當歸極細另研，硇砂為細末，只分作二次服，溫酒調下，無時服，如重車行五里，不下，再一服。</p>

<h1>十五、小兒門</h1>

<h2>褐子丸</h2>
<p>治小兒陰陽不和，臟腑怯弱，乳食不消，心腹脹滿，嘔逆氣急，或腸鳴泄瀉頻並，腹中冷痛，食症乳癖，痃氣痞結，積聚腸胃，或秘或痢，頭面浮腫，不思乳食，及療五種疳氣，八種痢疾，肌肉消瘦，氣粗腹大，神色昏憒，情意不樂，常服散冷熱氣，調和臟腑，去疳積，止瀉痢，進飲食，生肌肉，悅顏色，功效非常，不能盡述。（出活幼口議方。）</p>
<p>蘿蔔子（二兩，微炒）　陳皮（去白，一兩）　青皮（去白，一兩）　黑牽牛（一兩半，一半生用一半熟）　京三稜（一兩，炒）　蓬莪朮（一兩，炮）　胡椒（半兩）　木香（一分，不見火）</p>
<p>上為細末，水煮麵糊為丸，如梧桐子大，每服二三十丸，空心，用蘿蔔子煎湯，或薑湯送下，看兒大小加減服之。</p>

<h2>長生丸</h2>
<p>治小兒清上實下，補脾治痰。（出陳文仲方。）</p>
<p>木香（半兩）　檳榔（三兩，不見火）　枳殼（一兩，去穰，麵裹煨）　丁香（三錢）　半夏（三錢，薑湯泡七次）　全蠍（二十個，去毒尖）　肉豆蔻（三錢）　縮砂（三錢）</p>
<p>上件除肉豆蔻外，七味同為細末，次入豆蔻，再研極細末，用飲和為丸，如粟米大，小兒每服三、五十丸，空心，乳汁飲湯送下，服訖，候半時方進乳食，日進三服。吐乳者胃冷，宜服此藥；大便酸臭是傷食，乳食不消是脾虛，宜服此藥。</p>

<h2>一捻金散</h2>
<p>治走馬牙疳，不能治者。</p>
<p>黃丹（飛）　白礬（飛）　青鹽（飛）　草錦（燒灰）　麝香（少許）</p>
<p>上各等分，為極細末，先用溫鹽漿水洗淨，無糨帛搵干貼藥。</p>

<h2>如聖散</h2>
<p>治小兒口瘡，不能吃乳者。</p>
<p>江子（一粒或二粒）</p>
<p>上研爛，不去油，入硃砂或黃丹、赤土少許，剃開小兒囟門，貼在囟上，如四邊起粟米泡，便用溫水洗去藥，恐成瘡，便用菖蒲水洗便安，其效如神。</p>

<h2>十金散</h2>
<p>治小兒脾及積，其效速。</p>
<p>錦紋大黃（不以多少，為細末，用米醋熬成膏子，先用新磚瓦末羅於新磚瓦上，將大黃傾於瓦上，用伏內日曬夜露，干為末）　舶上硫黃　官粉（以上各等分）</p>
<p>上三味為極細末，每服米飲湯調下，一歲小兒服五分；二三歲服一錢；十歲以下服二錢；十六、七歲服五錢，一服即效。如不愈，隔二十日再一服，更不須再服。切忌生冷、濕曲、馬、驢、豬、魚、雞、兔等肉，切要忌口，如不能忌口，枉服此藥。予曾親手救人，但能忌口者，醫好數人。</p>

<h2>治小兒煉胤瘡方</h2>
<p>黑驢糞曬乾燒灰，清油調搽立效。</p>
<p>治小兒出瘡疹，眼內有云翳方：</p>
<p>輕粉　黃丹（各等分）</p>
<p>上為竹筒吹在耳內，左眼有翳吹右耳，右眼有翳吹左耳，翳即退。</p>

<h2>治小兒丹瘤</h2>
<p>綿羊腦子（生用）　朴硝</p>
<p>上二味，調勻，貼於瘤上，立效。</p>

<h2>神效萬金丹</h2>
<p>治小兒慢驚風、急驚風，十無一失。</p>
<p>硃砂　真輕粉</p>
<p>上二味，不以多少，用青蒿內蟲兒取出，於淨瓷盞內，將硃砂、輕粉以蟲汁就成丸，如黃米大，量兒大小加減服之。半歲、一歲小兒服一丸；二歲服二丸；三歲服三丸，乳汁送下。取蟲時法，止於七月初五日取蒿蟲，則靈驗。</p>

<h2>萬金丹</h2>
<p>治小兒急慢驚風，亦曾得效，無如前方效速。</p>
<p>硃砂（五錢，別研）　麝香（二錢半，別研）　真珠（錢半）　白殭蠶（十個，炒）　琥珀（一錢，明者）　全蠍（十個，去尾，火炙）　腦子（另研）　犀角（鎊）　干胭脂（以上三味不以多少）　天南星（一錢）　鉤藤（五錢）　巴豆（五粒，去皮油）</p>
<p>上為細末，用薄荷湯打糊為丸，如麻子大，一歲小兒服一十八丸，看兒大小加減丸數服之，急驚煎薄荷湯送下，慢驚煎地龍湯送下。</p>

<h2>磨積丸</h2>
<p>專治小兒疳積、泄瀉等疾。</p>
<p>京三稜　蓬莪朮　陳皮（去白）　青皮（去白）　神麯（炒）　麥芽子（炒）　川鬱金　胡黃連　香附子（炒去毛，與三稜莪朮陳皮青皮五件一處，用好米醋煮一晝夜焙乾）　雷丸（白者）　使君子肉（切焙）　蘆薈（以上各等分）</p>
<p>上為細末，米醋糊為丸，如豌豆大，每服三十丸，糯米湯送下，茶湯亦可，虛弱加木香；虛極加附子；疳極加癲蚵蚾肉。</p>

<h2>灸小兒脾神法</h2>
<p>未灸之前，先於土田地上畫個十字，於十字中心先灸一炷<img class="字" src="_files/001.png" alt="￼">，云不灸天神，不灸地神，只灸脾神，灸畢，然後灸病兒，男左手，女右手，用竹片四五寸長，令小兒搦定舉頭，將竹片於中指背下節頭為準，比至中節盡處，將竹虛折過，再比回一般齊折，折作如此<img class="字" src="_files/001.png" alt="￼">樣，點腰眼下左右隱然有二坑窩處，將<img class="字" src="_files/001.png" alt="￼">此樣竹二尖頂一窩穴，中尖落處即腰眼也。如此比定<img class="字" src="_files/002.png" alt="￼">，以上尖為腰眼穴，其艾炷驗小兒歲大小病勢輕重加減，小者如筯頭大，大者如小指尖，多者灸四七，少者灸三七，灸畢，男於左腳⿰月⿱宀死上<img class="字" src="_files/003.png" alt="￼">（按<img class="字" src="_files/003.png" alt="￼">恐凹之誤）中窩穴內拔出火氣，小兒三歲以下灸三炷，五歲之上灸七炷，灸畢，將竹杖<img class="字" src="_files/001.png" alt="￼">如上者通長<img class="字" src="_files/004.png" alt="￼">舒直，於病兒心坎上邊立直竹片，下邊盡處為穴，心坎作如此樣心<img class="字" src="_files/005.png" alt="￼">，穴亦看小兒大小及病勢輕重，輕則灸三炷，重則灸二七。病發者中病也，如不發，可用發瘡物令小兒食之即發，既發之後，卻令忌口十數日，瘡愈則有效驗，只在十日半月之間，進飲食，退黃色，變容顏，取萬全之效。吾家之孫，賴此法以活，餘人愈者亦有之，如欲灸時，若得知穴法人點定，尤佳。</p>

<h2>治小兒大人熱丹瘡成片</h2>
<p>可取絲茅草葉，將丹瘡刮破，即愈。</p>

<h2>治走馬牙疳</h2>
<p><u>汴梁大紅鞋李提領方。</u></p>
<p>小遺盆內白屑取下，用瓷罐內盛貯，用泥固濟，炭火煅紅取出，將白屑細研入麝香少許，貼於患處。</p>

<h2>大黃膏</h2>
<p>治小兒大人痹癖。</p>
<p>大黃　朴硝（各等分）</p>
<p>上為細末，同蒜泥和成膏，用絹帛攤成膏藥，貼於病處，其脾病自軟消。</p>

<h2>白丁香丸</h2>
<p>治大人小兒癖積。</p>
<p>白丁香（雀兒糞也）　黑丁香（二錢）　木香（二錢）　密陀僧（三錢）　硫黃（二錢）　訶子皮　輕粉（半錢）</p>
<p>上為細末，每服一錢，用奶汁調服，女兒用男兒奶汁，男兒用女兒奶汁調服，食前，半飢半飽服，日進三服，用棗兒壓藥，大人用米飲湯空心調服。</p>

<h2>葛根麥門冬散</h2>
<p>治小兒熱毒斑疹，頭痛壯熱，心神煩悶。</p>
<p>葛根　麥門冬（去心。各三錢）　人參（去蘆，二錢）　石膏（半兩）　川升麻　甘草　茯苓（各二錢）　赤芍藥（一錢）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓溫服，不計時候，量大小增減服。</p>

<h2>生地黃散</h2>
<p>治小兒斑駁疹，身熱口乾，咳嗽心煩。</p>
<p>生地黃（半兩）　麥門冬（去心，七錢）　杏子　款冬花　陳皮（各三錢）　甘草（二錢半，炙）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不計時候，量大小加減服。</p>

<h2>惺惺散</h2>
<p>治小兒風熱瘡疹，時氣頭痛壯熱，目澀多睡，咳嗽喘。</p>
<p>桔梗　真細辛（去葉）　人參（去蘆）　甘草（炙）　白茯苓（去皮）　真川芎　白朮（各一兩）</p>
<p>上為粗散，每服三錢，水一大盞，薄荷五葉，生薑三片，同煎至六分，濾去滓，溫服，不拘時候，量大小加減服。</p>

<h2>四味升麻葛根湯</h2>
<p>白芍藥　川升麻（一兩）　甘草　葛根（一兩半）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不計時候。</p>

<h2>木香散</h2>
<p>瘡疹方治瘡疹，瀉利水穀，或瀉白色，宜煎此藥，並下七味肉豆蔻丸治之。非虛寒者不可用，此急救之劑也。</p>
<p>木香　大腹皮（銼細）　人參（去蘆）　桂心　赤茯苓（去皮）　青皮（去穰）　前胡（去蘆）　訶黎勒（去核）　半夏（薑製）　丁香　甘草（炙。各三錢）</p>
<p>上為粗散，每服三錢，水一大盞，生薑三片，同煎至六分，去滓，空心溫服，量大小以意加減。</p>

<h2>異功散</h2>
<p>木香（三錢半）　官桂（二錢，去粗皮）　當歸（三錢半）　人參（去蘆，二錢半）　茯苓（去皮，二錢）　陳皮　厚朴（薑製，二錢半）　白朮（二錢）　半夏（薑製，一錢半）　丁香　肉豆蔻（二錢半）　附子（炮，去皮，一錢半）</p>
<p>上為粗散，每服三錢，水一大盞半，生薑五片，肥棗三枚，煎至六分，去滓，空心溫服。三歲兒作三度服，五歲兒作二度服，一周、二歲兒作三、五度與服。病有大小，以意加減。此藥家傳五世，累經效驗。</p>

<h2>肉豆蔻丸</h2>
<p>木香　縮砂仁（三錢）　白龍骨（半兩）　訶子肉（半兩）　赤石脂（七錢半）　枯白礬（七錢半）　肉豆蔻（半兩）</p>
<p>上為細末，稠麵糊為丸，如黍米大。一周歲兒每服三、五十丸，三歲兒服百丸，溫米飲下。瀉甚者，異功散吞下，瀉止住服，不止多服。</p>

<h2>人參麥門冬散</h2>
<p>瘡疹方治瘡疹身熱煩渴。</p>
<p>麥門冬（一兩，去心）　人參（去蘆）　甘草（炙）　陳皮　白朮　厚朴（薑製。各半兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，濾去滓，溫服，不計時候，量大小加減與服。</p>

<h2>消毒散</h2>
<p>牛蒡子（四兩，炒熱）　荊芥穗　甘草（炙。各一兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至八分，去滓，溫服，不拘時候。</p>

<h2>柴胡麥門冬散</h2>
<p>瘡疹方治瘡疹壯熱，經日不除。</p>
<p>柴胡（二錢半）　龍膽草（一錢一字）　麥門冬（去心，三錢）　甘草（炙）　人參（去蘆）　黑參（各一錢半）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不計時候，量大小加減。（瘡疹方熱退住服。）</p>

<h2>射干鼠黏子湯</h2>
<p>瘡疹方治瘡疹壯熱，大便堅實，或口舌生瘡，咽喉腫痛。</p>
<p>鼠黏子（四兩，炒香）　甘草（炙）　升麻　射干（各一兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服。</p>

<h2>桔梗甘草防風湯</h2>
<p>瘡疹方治瘡疹，風熱咳嗽，咽膈不利。</p>
<p>桔梗　甘草（炙）　防風（各等分）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不拘時候，量大小加減服。</p>

<h2>人參清膈散</h2>
<p>瘡疹方治瘡疹，涕唾稠黏，身熱鼻乾，大便如常，小便黃赤。</p>
<p>人參　柴胡　當歸　芍藥　知母　桑白皮　白朮　黃耆　紫菀　地骨皮　茯苓　甘草　桔梗（各一兩）　黃芩（半兩）　石膏　滑石（各一兩半）</p>
<p>上為粗末，每服三錢，水一大盞，生薑三片，同煎至六分，去滓，溫服，不拘時候，量大小加減服。</p>

<h2>前胡枳殼湯</h2>
<p>瘡疹方治瘡疹，痰實壯熱，胸中煩悶，大便壯實，臥則喘急，用之屢效。</p>
<p>前胡（一兩）　枳殼　赤茯苓　大黃　甘草（炙。以上各半兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不拘時候，量大小加減。如身溫、脈微並瀉者不可服。</p>

<h2>雄黃散</h2>
<p>治小兒因痘瘡，牙斷生疳蝕瘡。</p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>上二味同研極細，量瘡大小干糝其上。</p>

<h2>麥湯散</h2>
<p>治水痘。</p>
<p>地骨皮（半分，炒）　麻黃（一分，去節）　甘草（炙，半分）　人參（一分）　滑石（半分）　大黃（一分，濕紙煨熟）　知母　羌活（各一分）　甜葶藶（一分，用隔紙炒）</p>
<p>上為末，每服半錢，水一小盞，入小麥七粒，同煎至十數沸服。</p>

<h2>四聖散</h2>
<p>治痘疹出不快，倒靨，或小便赤色，餘熱不除。</p>
<p>紫草　木通　甘草（炒）　黃耆　枳殼（去穰）</p>
<p>上等分，㕮咀，每服一錢，水半盞，煎至三分，濾去滓，溫服，不計時候。</p>
<p>上小兒瘡疹無正方論，雖有王譚錢氏之書，止見其方，未見其源。療之者，往往以藥宣利解散，因而耗傷真氣，遂至不救者多矣，深可痛憫。文中今將祖父秘傳方論集為一卷，公以刊行，蓋守此方三十餘年，全活甚眾，百不失一，合廣其傳，使患者無枉夭之禍，醫者有活人之功，此僕之夙心也。</p>
