<header data-type="book">
<h1>西方子明堂灸經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1368">公元1368年（元·至正末年）</data></dd></div>
<div><dt>底本</dt><dd>明山西平陽府刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=f18ce18480714b0ebd2c3f0ed3242319fDcyMTQ20&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·明堂灸經》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0018/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>正人頭面圖</h2>
<figure>
<img data-orig-src="urn:270:05515.jpg" alt="正人頭面圖">
</figure>

<h2>正人頭面三十六穴</h2>

<h3>頭部中行四穴</h3>

<h4>上星</h4>
<p>在顱上直鼻中央，入髮際一寸，陷容豆。日灸三壯至百五壯止。多灸拔氣，令人眼暗。主頭風、頭腫，皮腫、面虛，鼻塞、頭痛，面赤腫，目眩，痰瘧振寒，熱汗不出，目睛痛，不能遠視。</p>

<h4>囟會</h4>
<p>在上星後一寸，陷者中。日灸二七壯，七日停。初灸之即痛，五十壯不痛。主療鼻塞不聞香臭，頭風、痛，白屑起，多睡，驚癇、戴目上，不識人，目眩，面腫。</p>

<h4>前頂</h4>
<p>在囟會後一寸半，骨陷中。（灸五壯）。主頭風、熱痛，頭腫，風癇，小兒驚癇，面赤腫，鼻多清涕，項痛，目眩。</p>

<h4>百會</h4>
<p>在前頂後一寸半，頂中心。灸百五壯即停，三五日訖，繞四畔以三稜針刺，令出血，以井華水淋之，令氣宣通。頻灸拔氣上，令眼暗。主脫肛，風癇，青風，心風，角弓反張，羊鳴、多笑，言語不擇，發時即死、吐沫，心中熱悶，頭風多睡，心煩驚悸，無心力，忘前失後，吃食無味，頭重，飲酒面赤，鼻塞，目泣出，耳鳴、聾。</p>

<h3>頭第二行三穴</h3>

<h4>五處二穴</h4>
<p>在頭上，去上星旁一寸。灸五壯止。主目不明，頭風目眩，脊強反折，瘛瘲，癲疾，頭痛。</p>

<h4>承光二穴</h4>
<p>在五處後一寸；《明堂》云二寸。不灸。</p>

<h4>通天二穴</h4>
<p>在承光後一寸半。灸三壯。主項痛、重，暫起僕僵，喘息不利，口喎僻，多涕、鼽衄有瘡。</p>

<h3>頭第三行三穴</h3>

<h4>臨泣二穴</h4>
<p>在目上眥，直入髮際五分，陷中。灸五壯。主風不識人，風眩，鼻塞，腋下腫，喜齧頰，胸痹心痛，不得反側，瘧日西發，脅下痛，胸痹，目翳多淚。</p>

<h4>目窗二穴</h4>
<p>在臨泣後一寸。灸五壯。主諸陽之熱。厥頭痛，寒熱，汗出不惡寒，目眩瞑，唇吻強，上齒齲痛，目外眥赤，䀮䀮遠視不明。</p>

<h4>正營二穴</h4>
<p>在目窗後一寸。灸五壯。主諸陽之熱。</p>

<h3>正面部中行七穴</h3>

<h4>神庭</h4>
<p>在髮際，直鼻上。督脈上一夫髮際。灸二七壯至百壯。主腫氣，風癇，癲風不識人，羊鳴，角弓反張，披髮而上歌下哭，多學人言語，驚悸不得安寢，頭痛，喘喝，目不可視，目泣出，鼻清涕出。</p>

<h4>素髎</h4>
<p>在鼻柱端，不宜灸。</p>

<h4>水溝</h4>
<p>在鼻柱下人中。灸三壯。主消渴、飲水無多少，水氣遍身腫，失笑無時節，癲癇，語不識尊卑，乍喜乍哭，牙關不開，面腫唇動，葉葉肺風，狀如蟲行，寒熱頭痛，喘喝，目不可視，鼻不聞香臭，口喎僻不能開，水漿不禁，喑不能言，寒熱，卒中惡，風水面腫。</p>

<h4>兌端</h4>
<p>在唇上端。灸三壯。主唇吻強，上齒齲痛。主癲疾吐沫，小便黃，舌乾、消渴，衄血不止。</p>

<h4>齦交</h4>
<p>在唇內，齒上齦縫。灸三壯。主鼻窒，喘息不利，鼻喎僻，多涕，鼽衄有瘡，鼻息肉，鼻、頭、額、頞中痛，鼻中蝕瘡，口不能禁水漿，喎僻，口噤不開，項如拔、不可左右顧，面赤，頰中痛，心煩痛，頸項急，小兒面瘡久不除。</p>

<h4>承漿</h4>
<p>在頤前，下唇之下，宛宛中。灸四十九壯，停四五日。灸多則恐傷，陽明脈斷，令風不差。此灸炷止一分半大。主療偏風口喎，面腫消渴，面風口不開，口中生瘡，目眩瞑，小便黃或不禁，消渴嗜飲及暴啞不能言。</p>

<h4>廉泉</h4>
<p>在頷下，結喉上，舌本間。灸三壯。主舌下腫難言，舌瘲涎多，咳嗽、少氣喘息，嘔沫，口噤，舌根急縮，下食難。</p>

<h3>面部第二行六穴</h3>

<h4>曲差二穴</h4>
<p>俠神庭旁一寸半，在髮際。灸七壯。主心中煩滿，汗不出，頭項痛，身熱，目視不明。</p>

<h4>攢竹二穴</h4>
<p>在肩頭陷中。不灸。</p>

<h4>精明二穴</h4>
<p>在目內眥外頭畔，陷者宛宛中。不灸。</p>

<h4>巨髎二穴</h4>
<p>俠鼻旁八分，直瞳子。蹺脈。灸七壯。主療風寒，鼻準上腫，癰痛，動搖視占，瘛瘲，口涎，目淚出，多赤，痛癢，生白翳，覆瞳子。</p>

<h4>迎香二穴</h4>
<p>在禾髎上一寸，鼻孔旁五分。不灸。</p>

<h4>禾髎二穴</h4>
<p>直鼻孔下，俠水溝旁五分。主鼻窒，口噼，鼻多清涕，出不可止，鼽衄有瘡，口噤不開。</p>

<h3>面部第三行五穴</h3>

<h4>陽白二穴</h4>
<p>在眉上一寸，直瞳子。主目瞳子痛癢，遠視䀮䀮，昏夜無所見，目系急，目上插，頭目痛，目眵，背腠寒慄。</p>

<h4>承泣二穴</h4>
<p>在目下七分，直瞳子。不灸。</p>

<h4>四白二穴</h4>
<p>在目下一寸。灸七壯。主頭痛目眩，目眴淚出，多䁾，內眥赤、痛癢，生白膚翳，目瞤動不息。</p>

<h4>地倉二穴</h4>
<p>俠口旁四分外，如近下，有脈微動者是。日灸二七壯，重者七七壯。艾炷如二分，若大，令人口轉喎。如欲治，灸承漿七七壯。忌房事、毒食。主偏風口喎，失音不言，不得飲水漿，食漏落，眼瞤動。</p>

<h4>大迎二穴</h4>
<p>在曲頷前一寸二分骨陷中，動脈。灸三壯。主口噤不開，引鼻中，口緩不放，不能言，口失欠，下牙齒痛，惡寒，寒熱頭痛，瘰癧，口喎，數欠氣，風痙口噤，牙疼，頰頷腫，惡寒，風壅面浮腫，目不閉，唇瞤動。</p>

<h3>面部第四行三穴</h3>

<h4>本神二穴</h4>
<p>在曲差旁一寸半，髮際；一云：直耳上，入髮際四分。主痛癲疾，嘔吐涎沫，小兒驚癇。</p>

<h4>絲竹空二穴</h4>
<p>在眉後，陷中。不灸。</p>

<h4>瞳子髎二穴</h4>
<p>在目外去眥五分（原注：又名太陽，又名前關）。《銅人》云：可灸二壯。西方子曰：不可灸。</p>

<h3>面部第五行五穴</h3>

<h4>頭維二穴</h4>
<p>在額角髮際，本神旁一寸半。不灸。</p>

<h4>顴髎二穴</h4>
<p>在面鼽骨下，下廉陷中。主目赤黃，口喎僻不能言，及口僻痛，惡風寒，不可以嚼，齒痛惡寒，面赤，眼瞤動不止，䪼腫。</p>

<h4>上關二穴</h4>
<p>在耳前上廉起骨，開口取（原注：又名客主人）。灸三壯。主青盲無所見，耳痛鳴聾，口喎僻不能言，唇吻強，瘛瘲，口沫出，目眩，牙車不開，口噤。</p>

<h4>下關二穴</h4>
<p>在客主人下，耳前動脈下空下廉。合口有空，張口則閉。灸三壯。主耳痛鳴聾，下牙齒痛，齒齲痛，耳有膿汁，口喎。</p>

<h4>頰車二穴</h4>
<p>在耳下曲頰端，陷者中。灸三壯。主口癖痛，惡風寒，不可以嚼，失喑，牙車疼，頷頰腫，頸強不得回顧。</p>

<h2>正人胸膺圖</h2>
<figure>
<img data-orig-src="urn:270:05516.jpg" alt="正人胸膺圖">
</figure>

<h3>胸部中央直下七穴</h3>

<h4>天突</h4>
<p>在頸結喉下五寸，宛宛中。陰維、任脈之會。主咳嗽上氣，噎胸中氣，喉內狀如水雞聲，肺癰吐膿血，氣壅不通，喉中熱瘡不得下食，俠舌縫脈青，暴怖氣哽，喉痹咽乾急，咳逆喘暴，及胸背痛，及漏頸痛。</p>

<h4>璇璣</h4>
<p>在天突下一寸，陷者中。仰頭取之。任脈氣之所發。灸五壯。主胸皮滿痛，喉痹咽腫，水漿不下。</p>

<h4>華蓋</h4>
<p>在璇璣下一寸，陷中。仰而取之。任脈氣之所發。灸五壯。主胸脅支滿，痛引胸中，咳逆上氣，喘不能言。</p>

<h4>紫宮</h4>
<p>在華蓋下一寸六分，陷中。仰而取之。任脈氣之所發。灸五壯。主胸脅支滿，胸膺骨疼，飲食不下，嘔逆上氣，煩心。</p>

<h4>玉堂</h4>
<p>在紫宮下一寸六分，陷中（原注：又名玉英）。任脈氣之所發。灸五壯。主胸滿不得喘息，膺痛骨疼，嘔逆上氣，煩心。主吐寒痰。</p>

<h4>膻中</h4>
<p>在玉堂下一寸六分陷中（原注：又名元兒）。橫直兩乳間。任脈氣之所發。灸七壯至七七壯止。主肺癰，咳嗽上氣，唾膿，不得下食，胸中氣滿如塞。</p>

<h4>中庭</h4>
<p>在膻中下一寸六分，陷中。任脈氣之所發。灸五壯。主胸脅支滿，食飲不下，嘔逆吐食還出。</p>

<h3>胸部第二行六穴</h3>

<h4>腧府二穴</h4>
<p>在巨骨下，去璇璣旁各二寸，陷中。仰而取之。灸五壯。主咳逆上氣，嘔吐，胸滿不得食。</p>

<h4>或中二穴</h4>
<p>在腧府下一寸六分，陷中。仰臥取之。灸五壯。主胸脅支滿，咳逆、喘不能食飲，上氣，涎出多唾，呼吸喘悸，坐不安席。</p>

<h4>神藏二穴</h4>
<p>在或中下一寸六分，陷中。仰而取之。灸五壯。主胸脅支滿，咳嗽不得息，嘔吐，胸滿不得食。</p>

<h4>靈墟二穴</h4>
<p>在神藏下一寸六分，陷中，仰而取之。灸五壯。主胸脅支滿，引胸不得息，嘔吐，胸滿不得食。</p>

<h4>神封二穴</h4>
<p>在靈墟下一寸六分。灸五壯。主胸滿不得息，咳逆，乳癰，灑淅惡寒。</p>

<h4>步郎二穴</h4>
<p>在神封下一寸六分。仰而取之。灸五壯。主胸脅支滿，鼻不通呼吸，少氣喘息，不得舉臂。</p>

<h3>胸部第三行六穴</h3>

<h4>氣戶二穴</h4>
<p>在巨骨下，俠腧府兩旁各二寸，陷中。仰而取之，灸五壯。主胸脅柱滿，喘逆上氣，呼吸肩息，不知食味。</p>

<h4>庫房二穴</h4>
<p>在氣戶下一寸六分。仰而取之。灸五壯。主胸脅支滿，咳逆上氣，呼吸不至息；及肺寒咳喘，唾膿血。</p>

<h4>屋翳二穴</h4>
<p>在庫房下一寸六分，陷中。仰而取之。灸五壯。主身腫皮痛不可近衣，淫濼，瘛瘲，不仁。主咳逆上氣，呼吸多唾濁沫、膿血。</p>

<h4>膺窗二穴</h4>
<p>在屋翳下一寸六分，陷中。灸五壯。主胸脅癰腫，及腸鳴泄注；及乳癰，寒熱短氣，臥睡不安。</p>

<h4>乳中二穴</h4>
<p>禁不灸。</p>

<h4>乳根二穴</h4>
<p>在乳下一寸六分，陷中。仰而取之。灸五壯。主胸中滿痛，及膺腫乳癰，淒索寒熱，痛不可按抑。</p>

<h3>胸部第四行六穴</h3>

<h4>雲門二穴</h4>
<p>在巨骨下，俠氣戶兩旁各二寸，陷中。灸五壯。主嘔逆上氣，胸脅徹背痛。主喉痹，胸中煩滿，咳喘不得息，不得舉臂，胸脅短氣，氣上衝心。</p>

<h4>中府二穴</h4>
<p>在雲門下一寸六分，乳上三肋間，動脈應手陷中。灸五壯。又名膺中腧。主喉痹，胸滿塞，寒熱，胸中滿痛，面腹腫；及膈寒食不下，嘔吐還出；及肺系急，咳輒胸痛。主上氣，咳唾濁涕，肩背痛，風汗出，腹脹，食飲不下，憡憡，膽熱。</p>

<h4>周滎二穴</h4>
<p>在中府下一寸六分，陷中。仰而取之。灸五壯。主胸脅支滿，不得俯仰，咳唾膿，咳逆上氣，呼吸多唾澤沫膿血，飲食不下。</p>

<h4>胸鄉二穴</h4>
<p>在周滎下一寸六分，陷中。仰而取之。灸五壯。主胸脅支滿，引胸背痛，臥不得轉側。</p>

<h4>天溪二穴</h4>
<p>在胸鄉下一寸六分，陷中。仰而取之。灸五壯。主乳腫癰潰。主胸中滿痛，咳逆上氣，喉中作聲。主乳腫賁膺。</p>

<h4>食竇二穴</h4>
<p>在天溪下一寸六分。舉臂取之。灸五壯。主胸脅支滿，膈間雷鳴滀陸，常有小聲。</p>

<h2>正人腹肚之圖</h2>
<figure>
<img data-orig-src="urn:270:05517.jpg" alt="正人腹肚之圖">
</figure>

<h3>腹中第一行十五穴</h3>

<h4>鳩尾</h4>
<p>在臆前蔽骨下五分。禁不灸。</p>

<h4>巨闕</h4>
<p>在鳩尾下一寸。日灸七壯至七七壯。主心中煩悶，熱病，胸中痰飲，息賁唾血，風癲浪言，或作鳥鳴聲，不能食，無心力；凡心痛有數種，冷痛，蛔蟲心痛；蠱毒，霍亂，不識人，及腹中滿、暴痛，汗出，及手清、臂不舉。</p>

<h4>上管</h4>
<p>在巨闕下一寸，去鳩骨三寸。日灸二七壯至一百壯止。不差，更倍之。主心中熱煩，賁豚氣，脹滿不能食，霍亂，心痛不可眠臥，嘔利，心風驚悸，心中悶，發噦，伏梁氣狀如覆杯，及風癇熱痛，宜可瀉之。主身熱、汗不出。主三蟲多涎。</p>

<h4>中管</h4>
<p>在上管下一寸（原注：又名太倉、上紀）。胃之募。日灸二七壯，至四百壯止。主心䘌不能食，反胃，霍亂，心痛，熱溫痎瘧，天行傷寒；因讀書得奔豚氣，心下伏梁如覆杯，冷氣，腹中熱；喜渴涎出，是蛔，以手聚而按之堅將。及腹脹不通，疰，大便堅，憂思損傷，氣積聚腹中甚痛，作膿腫往來上下，及脅下堅痛。及鼻間焦臭，頭熱，鼻鼽衄。及主寒中、傷飽，食飲不化。及目黃、振寒。及沖疝，冒死不知人。治背與心相控而痛，飲水過多，喘脹。</p>

<h4>建里</h4>
<p>在中管下一寸二分。不通灸。</p>

<h4>下管</h4>
<p>在建里下一寸。日灸二七壯至二百壯止。主腹胃不調，腹內痛不能食，腸堅腹痛，胃脹癖塊，脈厥厥動，日漸瘦羸，六腑氣寒，穀食不轉。</p>

<h4>水分</h4>
<p>在下管下一寸，臍上一寸。若是水病，灸之大良。日灸七壯至四百壯。主腹腫不能食，腸堅腹痛，胃脹不調，堅硬。主水腫。主痛繞臍中衝胸不得息。</p>

<h4>石門</h4>
<p>在臍下二寸。女子不灸（原注：又名利機、精露、丹田、命門、端田）。灸二七壯至一百壯。主腹痛堅硬，婦人因產惡露不止，遂成結塊；崩中、斷緒，灸亦良。大便難，並大便閉塞，氣結，心堅滿。及小腹堅痛引陰中，不得小便，並小腹中拘急。及腹中滿，暴痛汗出，並水脹、水氣行皮中，小腹皮敦敦然，小便黃，氣滿不欲食，谷入不化。及嘔吐，並賁豚上氣，小腹疝氣遊行五臟，疝繞臍沖胸不得息，疝積。及二丸騫。</p>

<h4>臍中</h4>
<p>（原注：又名神闕）。主泄利不止，小兒奶利不絕。灸百壯，小兒五壯至七壯。主腹大繞臍痛，水腫鼓脹，腸中鳴狀如水聲，久冷傷憊。</p>

<h4>陰交</h4>
<p>在臍下一寸。日灸三七壯至七百壯止（原注：又名橫戶）。主臍下熱，小便赤，氣痛狀如刀攪，作塊狀如覆杯，婦人斷緒，月事不調，帶下崩中，因產後惡露不止，繞臍冷痛，五臟遊氣。主臍下㽲痛，寒疝。</p>

<h4>氣海</h4>
<p>在臍下一寸半（原注：又名脖映）。（灸五壯）。主臟氣虛憊，一切氣疾。主少腹疝氣遊行五臟，腹中切痛，及驚不得臥。主冷氣衝心，女婦惡露不止，繞臍痛，氣結成塊狀如覆杯，小便赤澀。</p>

<h4>關元</h4>
<p>在臍下三寸。灸三十壯，十日灸三百壯止（原注：又名次關、下紀）。主臍下㽲痛，小便赤淋不覺遺瀝，小便處痛，狀如散火，尿如血色；臍下積血，狀如覆杯，婦人帶下，因產惡露不止，斷緒，產道及脅下脹。及小腹熱而偏痛，寒氣入腹。及石淋，臍下三十六疾，不得小便。及傷中尿血，胞轉氣淋。又主小便數，及泄痢不止，小便滿，石水。及賁豚氣入小腹，暴疝痛，身熱頭痛，進退往來。</p>

<h4>中極</h4>
<p>在臍下四寸（原注：又名玉泉、氣源）。日灸　三七壯，至三百壯止。主淋，小便赤，尿道痛，臍下結塊如覆杯，婦人因產得惡露不止，遂成疝瘕；或因月事不調，血結成塊，拘攣腹疝，月水不下，乳余疾，絕子，陰癢，子門不端，小腹苦寒，賁豚搶心，飢不能食，腹脹，經閉不通，小便不利，及失精。及主恍惚屍厥，煩痛。及主小腹積聚，堅之如石，及飢不能食。</p>

<h4>曲骨</h4>
<p>在橫骨之上，中極下一寸，毛際陷中（原注：又名屈骨）。（灸三壯）。主小腹脹，血癃，小便難。主㿗疝，小腹痛，婦人赤白帶下。</p>

<h4>會陰</h4>
<p>在大便前、小便後，兩陰間（原注：又名屏翳）。（灸三壯）。主陰頭寒。主痔，與陰相通者死；陰中諸病，前後相引痛，不得大小便，女子經不通，男子陰端寒，衝心佷佷。</p>

<h3>腹第二行十一穴</h3>

<h4>幽門二穴</h4>
<p>在巨闕旁半寸陷中。《黃帝明堂》云：在巨門各一寸半。灸五壯。主善吐，飲食不下，兼唾多，吐涎，乾噦，嘔沫，及泄有膿血。主胸中引痛，煩悶健忘，少腹脹，脹滿，女子心痛，逆氣。</p>

<h4>通谷二穴</h4>
<p>在幽門下一寸。灸五壯。主頭痛寒熱，汗出不惡寒。主項如拔，不可左右顧，目䀮䀮不明，風寒。及鼻鼽、清涕出。及結積留飲，癖囊，胸滿飲。主喜嘔，及心中憒憒，數欠，癲，心下悸，咽中澹澹恐。主失欠，口喎，食飲善嘔，暴啞不能言。</p>

<h4>陰都二穴</h4>
<p>在通谷下一寸（原注：又名食宮）。灸三壯。主多唾、嘔沫，大便難。及婦人無子，臟有惡血，腹厥痛、絞刺不可忍。及身熱，瘧病。主心滿、氣逆、腸鳴。</p>

<h4>石關二穴</h4>
<p>在陰都下二寸（原注：又名石闕）。灸五壯。主多嘔。主脊強口不開。主大便閉塞，氣結，心堅滿。主脊痙反折。主婦人子臟有惡血，內逆滿痛。</p>

<h4>商曲二穴</h4>
<p>在石關下二寸。灸五壯。主腹中積聚，時切痛，不嗜食。</p>

<h4>肓腧二穴</h4>
<p>在商曲下一寸，直臍旁。灸五壯。主大便乾，腹中切痛。及大腹寒疝，小腹有熱。</p>

<h4>中注二穴</h4>
<p>在肓腧下五分。灸五壯。《銅人經》云：在肓腧下一寸。主小腹熱。大便堅燥不利。</p>

<h4>四滿二穴</h4>
<p>在中注下一寸。（灸五壯）。主婦人臟中或胞中有惡血，內逆滿痛，疝（原注：又名髓府）。主大腹石水，腹中切痛。主奔豚上下。及臍下疝積。</p>

<h4>氣穴、大赫、橫骨（佚）</h4>

<h3>腹第三行十二穴</h3>

<h4>不容、承滿、梁門、關門、太乙、滑肉（門）（佚）</h4>

<h4>天樞二穴</h4>
<p>去肓腧一寸半。直臍旁二寸（原注：又名長溪、長谷、循際、谷門）。灸百壯。主久積冷氣，繞臍切痛，時上衝心，女子漏下赤白。及腹大堅，食大化，面色蒼蒼。主冬月重感於寒則泄，當臍痛，腸胃間遊氣切痛。主腹脹腸鳴，氣上衝胸，腹中盡痛。主面浮腫，唾血，吐血。主瘧振寒，熱盛狂言語，嘔吐、霍亂泄利，食不化。</p>

<h4>外陵二穴</h4>
<p>在天樞下半寸。灸五壯。主腹中盡痛，心如懸，下引臍腹痛。</p>

<h4>大巨二穴</h4>
<p>在臍下一寸，兩旁各二寸，長溪下二寸。灸五壯。主小腹滿，小便難，陰下縱。主喜驚。及癲疝，偏枯，煩渴，四肢不舉。</p>

<h4>水道二穴</h4>
<p>在大巨下三寸。灸五壯。主三焦結熱，大小便不利。主肩背痛，小腹滿，引陰中痛，腰背強急，膀胱寒。</p>

<h4>歸來二穴</h4>
<p>在水道下二寸。灸五壯。主賁豚。卵上入，引莖痛，婦人血臟積冷。</p>

<h4>氣衝二穴</h4>
<p>在歸來下一寸。鼠鼷上一寸（原注：《素問·刺熱論》注云在腹臍下，橫骨兩端鼠鼷上一寸動脈應手）。灸五壯。又名氣街。主㿗陰腫痛，陰痿，莖中痛，兩丸騫痛，不可仰臥。及大氣石水。及腹中滿，熱淋閉，不得尿。主腹中大熱不安，腹有逆氣，正攻心，暴腹脹滿，癃，淫濼，臍下堅，㿉疝，婦人月水不通，無子，或暴閉塞，腹脹滿，癃，淫濼，乳難，子上搶心，若胞不出，眾氣盡亂，絞痛不得反息。</p>

<h3>腹第四行七穴</h3>

<h4>期門二穴</h4>
<p>在第二肋端，不容旁一寸半，上直兩乳。灸五壯。主目青而嘔。主胸中熱。主脅下脹，心痛，氣短。喜障酸。主腹大堅，不得息，脹痹滿，少腹尤大。及小腹滿，小便難，陰下縱。主飲食不下，賁豚上下，傷食腹滿。及霍亂泄注，大喘不得安臥。及婦人產余疾。</p>

<h4>日月二穴</h4>
<p>在期門下五分。灸五壯。主少腹熱，欲走，太息，喜怒不樂，多唾，言語不正，四肢不收。</p>

<h4>腹哀二穴</h4>
<p>在日月下一寸半。不灸。</p>

<h4>大橫二穴</h4>
<p>在腹哀下二寸。直臍旁。《甲乙經》云三寸五分。灸五壯。主腹熱欲走，太息，四肢不可動，多汗，洞利，大風逆氣，多寒，善愁。</p>

<h4>腹結二穴</h4>
<p>在大橫下一寸三分。又名臨窟。灸五壯。主繞臍痛，搶心，腹寒泄利，咳逆。</p>

<h4>府舍二穴</h4>
<p>在腹結下三寸。灸五壯。主疝痛，髀中急痛，循脅上下搶心，腹滿積聚，厥氣霍亂。</p>

<h4>衝門二穴</h4>
<p>上去大橫五寸。在府舍下橫骨兩端約中。灸五壯。主寒氣滿腹積痛疼，淫濼，陰疝，難乳，子上衝心，不得息。</p>

<h1>卷二</h1>

<h2>正人手太陰肺經圖</h2>
<figure>
<img data-orig-src="urn:270:05518.jpg" alt="正人手太陰肺經圖">
</figure>

<h3>手太陰肺經十穴</h3>

<h4>少商二穴</h4>
<p>在手大指端內側，去爪甲如韭葉。炙三壯（原注：《銅人》不灸）。主痎瘧。主喉中鳴。主嘔吐。主手不仁，振慄鼓頷。主咳逆喘。主脅下脹。主耳前痛。主煩心，善噦，心下滿，汗出而寒。</p>

<h4>魚際二穴</h4>
<p>在手大指本節後內側散脈中。灸三壯。主胃逆霍亂。主唾血，嘔血。主痹走胸背，不得息，喉中焦乾，舌黃，肘攣，柱滿。主痙，上氣，失喑，不能言。主狂言。主熱病，振慄鼓頷，腹滿，陰痿，色不變，頭痛汗不出，灑淅惡風寒，目眩，腹痛，不下食，咳引尻痛。</p>

<h4>太泉二穴</h4>
<p>在手掌後陷者中。又名太淵。灸三壯。主胸痹逆氣，寒厥，善噦，嘔飲水，咳嗽煩怨不得臥，肺膨脹，臂內廉痛，目生白翳，眼眥赤筋，缺盆中引痛，掌中熱，數欠，喘不得息，噫氣上逆，心痛唾血，振寒咽乾，狂言。</p>

<h4>經渠二穴</h4>
<p>在寸口陷者中。不灸。</p>

<h4>列缺二穴</h4>
<p>在腕上一寸半。灸三壯。主偏風，半身不舉，口喎，肘臂痛，腕勞，及痎瘧。主汗出四肢腫，小便熱痛。主手臂身熱。主肩背寒慄，少氣不足以息，寒厥，交兩手而瞀。凡實則肩背汗出，四肢暴腫，虛則肩寒慄，氣不足以息。四肢厥，喜笑，身濕搖時時寒。主熱癇，驚而有所見。主熱病煩心、心悶，先手臂痛，身熱瘛瘲，唇口聚，鼻張，目下汗出如珠，寒熱，掌中熱。主瘧寒熱。及喉痹，咳嗽不止。又瘧甚熱，口噤不開。</p>

<h4>孔最二穴</h4>
<p>在腕上七寸。灸五壯。主熱病汗不出，肘臂厥痛，伸難，手不及頭，不握。</p>

<h4>尺澤二穴</h4>
<p>在肘中約上動脈。灸三壯。甄權云不宜灸。小兒慢驚灸一壯。主舌乾脅痛。主短氣，心煩。主腹脹喘，振慄。主嘔泄下上出，兩脅下痛。主癲病不可向　，手臂不得上頭，喉痹，咳逆上氣，呼吸多唾澤沫膿血。主掣痛，手不可伸。主肘痛時寒，肩背寒痙，肩甲內廉痛，氣膈喜嘔，鼓頷不得汗，煩心，身痛，四肢暴腫。</p>

<h4>俠白二穴</h4>
<p>在天府下，去肘五寸，動脈。灸五壯。主咳、乾嘔，煩滿。主心痛，氣短。</p>

<h4>天府二穴</h4>
<p>在腋下三寸。灸五壯。主身脹，逆息不得臥，風汗身腫，喘息多唾。主上氣，喘不得息。主喘逆上氣，呼吸肩息，不知食味，卒中惡風邪氣，飛屍惡注，鬼語遁屍，瘧病，瘤癭氣，咽腫，泣出，喜忘，目眩，遠視䀮䀮。</p>

<h4>臑會二穴</h4>
<p>在臂前廉去肩頭三寸。（灸五壯）。主癭瘤氣，咽腫。主寒熱病，瘰癧，癲疾，腠氣，肘節痹，臂酸重，腋急痛，肘難屈伸，臂痛不能舉。</p>

<h2>正人手厥陰心主經圖</h2>
<figure>
<img data-orig-src="urn:270:05519.jpg" alt="正人手厥陰心主經圖">
</figure>

<h3>手厥陰心主經八穴</h3>

<h4>中衝二穴</h4>
<p>在手中指端去爪甲如韭葉陷者中。（灸一壯）。主肘中痛。主舌本痛。主熱病煩心，心悶而汗不出，掌中心熱，心痛身熱如火，浸淫，煩滿，頭痛如破。主神氣不足，失忘。</p>

<h4>勞宮二穴</h4>
<p>在掌中央動脈。灸三壯。主喉嗌痛。主大便血不止，尿血及赤。主渴，食不下。主嘔吐。主風熱，善怒，心中悲喜思慕，歔欷喜笑不止，手痹。主熱病三日巳往不得汗，怵惕，胸脅不可反側，咳，溺赤，小便血，衄不止，嘔吐血，氣逆，噫不止，嗌中痛，食不下，善渴，口中爛，掌中熱，欲嘔。主黃疸、目黃。主熱、痔。</p>

<h4>大陵二穴</h4>
<p>在掌後兩骨間。灸二壯。主喉痹、嗌乾。主心痛。主目赤，小便如血，咳逆寒熱發。主手掣手攣，及肘攣、腋腫。主風熱善怒，心中悲喜思慕，歔欷喜笑不止。主心下澹澹喜驚。主熱病煩心，心悶而汗不出，掌中熱，頭痛，身熱如火，浸淫，煩滿，舌本痛。主瘧，乍寒乍熱。主咳喘。主嘔血。主胸中痛。主痂疥。</p>

<h4>內關二穴</h4>
<p>在掌後去腕二寸。手心主絡。（灸五壯）。主面赤熱。主目䀮䀮，昏夜無所見。主目赤，支滿，中風肘攣。實心暴痛，虛則心煩惕惕。</p>

<h4>間使二穴</h4>
<p>在掌後三寸，兩筋間。灸七壯。主心胸痹，背相引。主心懸如飢。主嗌中如扼。主肘內廉痛。主熱病煩心，喜噦，胸中澹澹喜動而熱，惡風寒，嘔吐，怵惕，寒中少氣，掌中熱，多驚，喑不得語，腋腫肘攣，卒心痛。</p>

<h4>郄門二穴</h4>
<p>在掌後去腕五寸。灸五壯。主心痛。主衄血嘔血。主驚恐畏人，神氣不足。</p>

<h4>曲澤二穴</h4>
<p>在肘內廉下陷者中，屈肘得之。灸三壯。主心痛。主逆氣嘔涎或血。主掣痛，手不可伸。主心下澹澹喜驚。主傷寒溫病身熱，心口乾，肘瘈善搖、頭顏清。</p>

<h4>天泉二穴</h4>
<p>在腋下二寸。舉腋取之。灸三壯。主咳逆。主心痛，胸脅支滿，膺、背、胛間、臂內廉痛。</p>

<h2>正人手少陰心經圖</h2>
<figure>
<img data-orig-src="urn:270:05520.jpg" alt="正人手少陰心經圖">
</figure>

<h3>手少陰心經八穴</h3>

<h4>少衝二穴</h4>
<p>在手小指內廉之端，去爪甲如韭葉。灸三壯。又名經始。主胸痛，口熱，咽酸，乍寒乍熱。主咽酸。主太息，煩滿，痰冷，少氣，悲驚。主熱病煩心，心悶而汗不出，掌中熱。主上氣，卒心痛，悲恐畏人，善驚，手拳不得伸，引肘腋痛。主身熱如火，浸淫，煩滿，舌本痛。主驚癇吐舌，沫出。</p>

<h4>少府二穴</h4>
<p>在手小指大節後，陷者中，直勞官（原注：大節又作本節）。灸十壯。主嗌中有氣，如息肉狀。主小便不利，癃。主數噫，恐悸，氣不足。主陰痛，實時挺長、寒熱，陰暴痛，遺尿；偏虛則暴癢，氣逆。及主煩滿少氣，悲恐畏人，掌中熱，肘腋攣急，胸中痛，手卷不能伸。</p>

<h4>神門二穴</h4>
<p>在掌後兌骨端，陷者中。灸七壯。主笑若狂。主手掣攣急。主遺溺。主喉痹心痛，數噫，恐怖，少氣不足。主瘧，心煩甚，欲得飲冷，惡寒則欲處溫中，咽乾不嗜食，手臂寒，喘逆身熱，狂，悲哭，大小人五癇。</p>

<h4>陰郄二穴</h4>
<p>在腕後動脈中，去腕半寸。灸七壯。主氣驚心痛。主失喑不能言，灑淅振寒，厥逆，霍亂，胸中滿，衄血、驚恐。</p>

<h4>通里二穴</h4>
<p>在腕後一寸。灸三壯。主頭眩痛，目眩，面赤面熱，心悸，肘腕酸重。及暴啞不能言，少氣，熱病煩心，心中懊憹，數欠頻伸，心下悸，悲恐。主遺溺。主熱病先不樂數日。主臂臑痛，實則支腫，虛則不能言。</p>

<h4>靈道二穴</h4>
<p>在掌後一寸半。灸三壯。主心痛，悲恐，相引瘛瘲。主肘攣，柱滿。主暴喑不能言語。</p>

<h4>少海二穴</h4>
<p>在肘內廉節後陷中。灸三壯。主頭痛，汗出，寒熱，不惡寒。主肩臂不舉，不能帶衣，項強急痛，不可以顧。主齲齒。主氣逆，呼吸噫噦嘔，羊癲疾，羊癇吐舌，羊鳴，疾頸。主手臂攣。主瘧，振寒，項痛引肘腋，痛引少腹中，四肢不舉。主目眩發狂，目黃，脅痛。</p>

<h4>極泉二穴</h4>
<p>在腋下筋間，動脈入胸。灸七壯。主心痛，乾嘔，四肢不收，咽乾煩渴，臂肘厥寒，脅下滿。</p>

<h1>卷三</h1>

<h2>正人足太陰脾經圖</h2>
<figure>
<img data-orig-src="urn:270:05521.jpg" alt="正人足太陰脾經圖">
</figure>

<h3>足太陰脾經十一穴</h3>

<h4>隱白二穴</h4>
<p>在足大指端內側，去爪甲如韭葉。灸三壯。主腹滿，喜嘔吐。主腹中寒冷、氣脹，喘不得安臥。主飲渴。主脛中寒熱，足寒不能溫。主卒屍厥不知人，脈動如故，胸中痛，食不下，暴泄衄血。</p>

<h4>大都二穴</h4>
<p>在足大指內本節後陷中。灸三壯。主目眩，暴泄，心痛，腹脹，熱病汗出，足清厥逆，霍亂，目上插，手足逆冷，腹滿喜嘔，煩熱悶亂，吐逆。</p>

<h4>太白二穴</h4>
<p>在足大指內側核骨下陷中。灸三壯。主頭痛，寒熱，汗出不惡寒，胸脅脹衄痛，身熱煩滿，腹脹，食不化，氣脹腸鳴，嘔吐，泄有膿血，腰痛不可俯仰，熱病頭重，項痛煩悶，身熱，熱爭，大便難，氣逆霍亂，腹痛。</p>

<h4>公孫二穴</h4>
<p>在足大指本節後一寸。灸三壯。主頭面腫，腫脹，食不化，鼓脹，腹內氣大滿，寒瘧，不嗜食，心煩狂言。</p>

<h4>商丘二穴</h4>
<p>在足內踝下微前，陷中。灸三壯。主心下有寒，脾疼，脾熱，脾虛，令人病寒，不樂，好太息，心悲氣逆，腹脹滿不得息，喜嘔，心煩滿，骨痹，癲疾，癇病，寒瘧，腹中痛，痎瘧。主痔血泄後重，痔骨蝕，絕子，喜魘夢，陰股內痛，氣癰狐疝走上下，引小腹痛，不可俯仰，小腹堅痛，下引陰中。</p>

<h4>三陰交二穴</h4>
<p>在內踝上三寸。灸三壯，主膝內廉痛，小便不利，身重，足痿不能行，痃癖，腹寒，氣逆，脾病四肢不舉，腹脹腸鳴，溏泄，食不化，女子漏下不止。</p>

<h4>漏谷二穴</h4>
<p>在內踝上六寸，骨下陷中。灸三壯。主腸鳴，強欠，心悲氣逆，腹䐜滿急，小便不利，失精，久濕痹不能行，足熱痛，腿冷不能久立，麻痹不仁，痃癖，冷氣，心腹脹滿，食飲不為肌膚。</p>

<h4>地機二穴</h4>
<p>在膝下五寸。又名脾舍。伸足取之。灸三壯。主溏瘕，腹中痛，氣脹水腫，腹堅不嗜食，小便不利，藏痹腰痛，不可俯仰，足痹痛，屈伸難，㿗疝，精不足，女子血瘕，按之如湯沃，股膝皆痛。</p>

<h4>陰陵泉二穴</h4>
<p>在膝下內側，輔骨下，陷者中。伸足取之。灸三壯。主心下滿，寒中，小便不利，腹中脹，不嗜食，脅下滿，腹中盛，水脹，喘逆不得臥，足痹痛，霍亂，失禁遺尿，胸中熱，暴泄，脹滿不得息，氣淋，寒熱不節，腎病不可俯仰，氣癃尿黃，婦人疝瘕，按之如以湯沃股膝，飧泄陰痛，小腹堅急重，下濕，不嗜食，腰痛。</p>

<h4>血海二穴</h4>
<p>在膝臏上內廉白肉際，二寸中（原注：又作三寸）。灸五壯。主漏下，若血閉不通，逆氣腹脹，月水不調。</p>

<h4>箕門二穴</h4>
<p>在魚腹上筋間動脈應手，陰市內（灸三壯）。主陰跳，遺溺，小便難。主淋，鼠鼷腫痛。</p>

<h2>正人足陽明胃經圖</h2>
<figure>
<img data-orig-src="urn:270:05522.jpg" alt="正人足陽明胃經圖">
</figure>

<h3>足陽明胃經十五穴</h3>

<h4>厲兌二穴</h4>
<p>在足大指次指之端，去爪甲如韭葉。灸一壯。主鼻不利，涕黃，齲齒，喉痹，哽咽，寒熱，脛寒，不得臥，好驚，寒瘧，不嗜食，惡寒，心痛脹滿，不得息，熱病汗不出，吐舌戾頸，喜驚，屍厥，口噤氣絕，狀如中惡，面腫惡風，鼻不利。</p>

<h4>內庭二穴</h4>
<p>在足大指次指外間，陷者中。灸三壯。主四肢厥逆，僻噤，齒齲痛，腹脹滿不得息，不嗜食，喜頻伸，數欠，惡聞人音，振寒，咽中痛，口喎。</p>

<h4>陷谷二穴</h4>
<p>在足大指次指外間，本節後，去內庭二寸。灸三壯。主胸脅支滿，腹大滿，喜噫，腸鳴而痛，面目癰腫，浮腫水病，熱病汗不出，振寒瘧疾。</p>

<h4>衝陽二穴</h4>
<p>在足跗上五寸骨間，去陷谷三寸（原注：一云二寸）。灸三壯。主面浮腫，足痿，失履不收。主熱病汗不出。振寒而戰欠，先寒洗淅，甚久而熱，熱去汗出。主瘧從足起，腹大不嗜食，偏風、口眼喎，登高而歌，棄衣而走，齒齲痛。</p>

<h4>解谿二穴</h4>
<p>在衝陽後一寸半。灸三壯。主口齒痛，膝股腫，胻酸，轉筋，霍亂，頭風，面目赤，癲疾，瘛瘲，驚，濕痹，腹大下腫，厥氣上柱，風水面浮腫，顏黑，刺瘧，口痛齧舌，目眩頭痛，癲疾煩悲。</p>

<h4>豐隆二穴</h4>
<p>在外踝上八寸。灸三壯。主頭痛。寒熱，汗出不惡寒，大小便澀難。主胸痛如刺，腹若刀切痛，四肢腫，身濕，不能食；狂妄行，登高而歌，棄衣而走；厥逆，足卒青，痛如刺；煩心狂見鬼，好笑；卒面、四肢腫，喉痹不能言，面浮腫。</p>

<h4>下廉二穴</h4>
<p>在上廉下三寸。又名巨虛。灸三壯。主小腹痛，飧泄，次指間痛，唇乾，涎出不覺，狂言非常，寒濕下注，小便難、黃，不得汗出，毛髮焦，脫肉，少氣，胃中熱，不嗜食，泄膿血，胸、脅，少腹痛，暴驚狂，女子乳癰，喉痹，胻痛，足跗不收。</p>

<h4>條口二穴</h4>
<p>在下廉上一寸。（灸三壯。）主脛寒不得臥，足下熱，不能久立，膝胻酸，寒痛，足緩，履不收，濕痹。</p>

<h4>巨虛上廉二穴</h4>
<p>在三里下三寸。舉足取之。灸三壯。主臟氣不足，偏風，腲腿，手足不仁，小便難、黃，風水，膝腫，食泄，腹脅支滿，走俠臍，腹痛，食不化，喘息不能行。</p>

<h4>三里二穴</h4>
<p>在膝下三寸，胻骨外。灸三壯。主喉痹不能言，脅中暴逆，腹脹滿不得息，咳嗽多唾。主肘痛時寒，腰痛不可以顧，足痿，失履不收，足下熱，不能久立。主瘧，少氣，腸鳴，腹痛，胸腹中瘀血，水腫，腹脹，陰氣不足，小腹堅；熱病汗不出，喜嘔，口苦壯熱，身反折，口噤鼓頷；腰痛不可以顧，視而有所見，喜悲，上下求之，口僻，乳腫，目不明，胃氣不足，惡聞食臭，久泄利，食不化，脅下注滿，膝痿；寒熱中，消穀善飢，腹熱身煩，狂言，乳癰，狂歌妄笑，恐怒大罵；霍亂，遺尿，失氣，陽厥，悽悽惡寒，頭眩，小便不利，食氣、水氣蠱毒痃癖，四肢腫滿，五勞羸瘦，七傷虛乏。凡此等疾，皆灸之，多至五百壯，少至二、三百壯。</p>

<h4>犢鼻二穴</h4>
<p>在膝臏下，骭上俠解大筋中。主膝中痛不仁，難跪起；膝臏癰，潰者不可治，不潰者可療。</p>

<h4>梁丘二穴</h4>
<p>在膝上二寸兩筋間（原注：或云三寸）。灸三壯。主筋攣，膝不得屈伸，不可以行。主大驚，乳痛，寒痹。</p>

<h4>陰市二穴</h4>
<p>在膝上三寸，伏兔下，陷者宛宛中。舉足取之。不可灸（原注：又名陰鼎）。主腹中滿，痿厥少氣，腰痛不可以顧。主膝上伏兔中寒，寒疝，小腹痛，力痿氣少，腰如冰水。</p>

<h4>伏兔二穴</h4>
<p>在膝上六寸。不灸。</p>

<h4>髀關二穴</h4>
<p>在膝上伏兔後交分中（灸三壯）。主黃疸，膝寒不仁，痿痹，不得屈伸，厥股內筋絡急。</p>

<h1>卷四</h1>

<h2>伏人頭圖</h2>
<figure>
<img data-orig-src="urn:270:05523.jpg" alt="伏人頭圖">
</figure>

<h3>伏人頭上第一行五穴</h3>

<h4>後頂</h4>
<p>在百會後一寸半，枕骨上（原注：又名交沖）。灸五壯，主風眩，目視䀮䀮，額顱上痛，項惡風寒，諸陽之熱逆，癲疾，嘔。</p>

<h4>強間</h4>
<p>在頂後一寸半（原注：又名大羽）。灸七壯。主頭如針刺，不可以動，項如拔，癲疾，嘔，癇發瘛瘲，狂走，不得臥，心煩，吐涎沫，發無時。</p>

<h4>腦戶</h4>
<p>在枕骨上，強間後一寸（原注：又名仰風、會顱）。不灸。</p>

<h4>風府</h4>
<p>在項後入髮際一寸，大筋內，宛宛中。不灸。</p>

<h4>啞門</h4>
<p>在項後髮際，宛宛中。不灸。</p>

<h3>伏人頭上第二行三穴</h3>

<h4>絡卻二穴</h4>
<p>在通天後一寸半（原注：又名腦蓋）。（灸三壯）。主癲疾，嘔，狂走，瘛瘲，恍惚不樂，目盲內障無所見，腹脹滿不得息。主暫起僵仆，頭旋耳鳴。</p>

<h4>玉枕二穴</h4>
<p>在絡卻後一寸半，俠腦戶旁一寸三分，起肉，枕骨上，入髮際三寸。灸三壯。主目內目系急痛，失枕，頭重項痛，風眩，目痛不能視，頭寒多汗，耳聾，鼻塞，頭半寒痛，項如拔，不可左右顧，目上插，卒起僵仆，惡見風寒，汗不出，淒厥惡寒，腦風不可忍。</p>

<h4>天柱二穴</h4>
<p>俠項後髮際，大筋外廉，陷中。日灸七壯，至百五十壯止。主頭痛，目不明，目如銳，目淚出，鼻不知香臭，風眩，卒暴癇眩，狂言不休，目上反，項如拔，項疼急，煩滿汗不出，足不仁，身肩背痛欲折，頭旋腦痛。</p>

<h3>伏人頭上第三行三穴</h3>

<h4>承靈二穴</h4>
<p>在正營後一寸半。（灸五壯）。主鼻衄，窒，喘息不通，腦風，頭痛，惡風寒。</p>

<h4>腦空二穴</h4>
<p>在承靈後一寸半，俠玉枕旁，枕骨下陷中（原注：又名顳顬）。灸三壯。主鼻管疽發為厲鼻，勞癲疾大瘦，頭痛，頭目瞑，癲疾。及寒熱引項強急，鼻衄不止，耳風鳴聾，腦風，頭痛不可忍，心悸目眩，癲疾，羸疾體熱，項強不得回顧。魏武患頭風，發即心悶亂、目眩，華佗灸而立愈。</p>

<h4>風池二穴</h4>
<p>在顳顬後，髮際，陷中。與風府正相當即是，側相去各二寸為定穴。灸七壯至一百五壯。主肺風面赤，目視䀮䀮，項痛強不得回顧，面腫皮軟，腦疼，欠氣多，鼻衄、窒，喘息不通，咽喉僂引項攣不收，寒熱，癲僕，煩滿汗不出，痎瘧發，灑淅惡寒，熱溫病汗不出，目眩，頭痛，淚出，欠氣多，目內眥赤痛，氣發耳塞，口僻，項脊傴僂。</p>

<h3>伏人耳後六穴</h3>

<h4>顱息二穴</h4>
<p>在耳後青脈間。灸七壯。主身熱頭重，脅痛，風聾，耳痛、塞，耳痛鳴聾，胸脅相引，不得俯仰。及發癇風，瘛瘲，嘔吐。及治目昏眩，失精，瞻視不明。</p>

<h4>瘈脈二穴</h4>
<p>在耳本雞足青絡脈（原注：又名體脈）。灸三壯。亦云不灸。</p>

<h4>完骨二穴</h4>
<p>在耳後入髮際四分。灸七壯。主喉痹，頸項腫，不可俯仰，頰腫引耳後，頭面氣胕腫，足痿，失履不收，風頭。耳後痛，煩心。及足不收，口喎僻，頭項搖，瘈痛，牙車急，癲疾強僕，狂瘧，項強急痛，牙齒齲痛，小便黃赤。</p>

<h4>竅陰二穴</h4>
<p>在完骨上、枕骨下，動搖有空。灸七壯。主頭痛如錐刀刺，不可以動。主頷痛引耳，嘈嘈耳鳴無所聞，舌本出血。及主舌寒口乾，心煩，臂外肘節痹，不及頭，鼻管疽發為癘，鼻衄，頭痛。及四肢轉筋，癰疽，頭痛惡風，引頭目。</p>

<h4>浮白二穴</h4>
<p>在耳後入髮際一寸。灸七壯。主癭氣，肩背不能伸屈，氣痹，咳逆痰沫，牙齒疼痛，手瘲，足緩不收，中滿不得喘息，耳中嘈嘈無所聞，頸項癰腫。</p>

<h4>翳風二穴</h4>
<p>在耳後陷中，接之引耳中。灸七壯。主耳痛、鳴、聾。主口噤不開，引鼻中，口失欠，下牙齒痛，口眼喎斜，失欠脫頷，口噤不能言，頰腫，牙車急痛。</p>

<h2>伏人背脊圖</h2>
<figure>
<img data-orig-src="urn:270:05524.jpg" alt="伏人背脊圖">
</figure>

<h3>脊中第一行十三穴</h3>

<h4>大椎</h4>
<p>在第一椎上陷中，宛宛中。灸一壯，至四十九壯止。主五旁七傷，溫瘧，痎瘧，痙背膊拘急，項強不得回顧。主傷寒熱盛，煩嘔。主風勞食氣。</p>

<h4>陶道</h4>
<p>在大椎節下間，俯而取之。灸五壯。主頭重目眩，灑淅寒熱，脊強難以顧，汗不出，頭痛，項如拔，不可左右顧，目不明，如脫。</p>

<h4>身柱</h4>
<p>在第三椎下。灸五壯。主癲疾，瘛瘲，怒欲殺人，身熱狂走，譫言見鬼，恍惚不樂，胸熱口乾，煩渴喘息，頭痛，吐而不出。</p>

<h4>神道</h4>
<p>在第五椎節下間，俯而取之。灸三壯。主腰脊急強，寒瘧恍惚，悲愁健忘，驚悸。主寒熱頭痛，進退往來，熱喘目痛，視物無明。</p>

<h4>靈臺</h4>
<p>在第六椎節下間，俯而取之（灸三壯）。主熱病脾熱，溫瘧汗不出（原注：出《素問》）。</p>

<h4>至陽</h4>
<p>在第七椎節下間，俯而取之。灸三壯。主寒熱解爛，淫濼，脛酸，四肢重痛，少氣難言。</p>

<h4>筋縮</h4>
<p>在第九椎下間。俯而取之。灸三壯。主驚癇狂走，癲疾，脊急強，目轉上插。</p>

<h4>脊腧</h4>
<p>在第十一椎（原注：又名神宗、脊中）。不灸。</p>

<h4>懸樞</h4>
<p>在第十三椎節下間。灸三壯。主腰脊不得屈伸，強，腹中上下積氣，水穀不化，下痢。</p>

<h4>命門</h4>
<p>在第十四椎下，俯而取之。灸三壯（原注：又名屬累）。主頭痛如破，身熱如火，汗不出，瘛瘲，裡急，腰腹相引痛。</p>

<h4>陽關</h4>
<p>在第十六椎節下間，伏而取之。灸三壯。主脛痹不仁。</p>

<h4>腰腧</h4>
<p>在二十一椎節下陷中（原注：又名背解、髓孔、腰柱、腰戶）。挺身腹地舒身，兩手相重支額，縱四體，然後乃取之。灸七壯。四十九壯止。忌房事。主腰髖疼，腰脊強不得迴轉，溫瘧，痎瘧。</p>

<h4>長強</h4>
<p>在脊骶端，為窮骨下宛宛中（原注：又名氣之陰郄、龜尾）。其穴趺地取之乃得。日灸三十壯至二百壯。慎房事。此痔根本，忌冷。主心痛氣短，腸風下血，五痔疳蝕，小兒脫肛瀉血，秋深不較，驚癇，瘛瘲，多吐□，驚恐失精，瞻視不明，眵䁾，頭重，洞泄，腰脊急僵，脊痛寒痙反折。主癲疾。</p>

<h3>脊中第二行二十五穴</h3>

<h4>大杼二穴</h4>
<p>在項後第一椎下兩旁各一寸半陷中。不灸（原注：又名本神）。</p>

<h4>風門二穴</h4>
<p>在第二椎下兩旁各一寸半。灸五壯。主傷寒項強，目瞑，鼻塞，風勞，嘔逆上氣，胸痛背痛，氣短不安，風眩頭痛，鼻清涕出，時時嚏不已，鼻衄、窒、喘息不通，咳逆。</p>

<h4>肺腧二穴</h4>
<p>在第三椎下兩旁各一寸半（灸三壯）。主癲癇，癭氣，吐逆上氣，汗不出，支滿，脊強寒熱，不食，內痛皮癢，傳屍骨蒸，肺嗽，喘咳少氣，百病胸中痛，胸中氣滿，背僂如龜。</p>

<h4>厥陰腧二穴</h4>
<p>在第四椎下兩旁各一寸半。灸五壯（原注：出《山脁經》）。主理逆氣嘔逆，心痛留結，胸悶。</p>

<h4>心腧二穴</h4>
<p>在第五椎下兩旁各一寸半（原注：《銅人》不灸）。</p>

<h4>督腧二穴</h4>
<p>在第六椎下兩旁相去一寸半（原注：又名高蓋）。許灸。主寒熱，腹中痛、雷鳴，氣逆心痛。</p>

<h4>鬲（膈）腧二穴</h4>
<p>在第七椎下兩旁相去各一寸半（灸三壯）。主胸脅相引，不得傾側，肩背塞，痙，心痛，痰飲吐逆，汗出寒熱，骨痛，虛脹支滿，痰瘧痃癖，氣塊，膈上痛，喉痹，身常濕，不食，切痛，喉痹哽噎，咽腫不得消，食飲不下。主吐食。</p>

<h4>肝腧二穴</h4>
<p>在第九椎下兩旁相去各一寸半。灸三壯。主口乾，中風，支滿，短氣，不食，食不消，吐血，目不明，閉塞，腰痛肩疼，寒疝。主熱病差後食五辛多，患眼暗如雀目，鼻中酸，兩脅急痛，唾血嘔血，筋急，手相引筋，寒熱，痙。</p>

<h4>膽腧二穴</h4>
<p>在第十椎下兩旁各相去一寸半（灸三壯）。理心脹滿，吐逆短氣，痰悶，食難下不消，舌乾，食飲不下，目黃，胸脅不能轉側，頭痛振寒，汗不出，腋下腫。</p>

<h4>脾腧二穴</h4>
<p>在第十一椎下兩旁各去一寸半。灸三壯。主腰、身黃，脹滿，腹肚泄利，身重，四肢不收，黃疸，邪氣，痃癖積聚，腹痛，寒熱，腹中氣脹，引脊痛，食飲多而身羸瘦，腰脊強急，熱痙，引骨痛，黃疸，善欠，不下食，脅下滿，欲吐，身重不欲動，泄痢不食，食不生肌膚，痰瘧寒熱。</p>

<h4>胃腧二穴</h4>
<p>在第十二椎下兩旁各去一寸半。灸三壯。主煩滿吐食，腹脹不能食，腹滿而鳴，胃中寒脹，食多嘔吐，筋攣急，食不下，胸脅滿，羸瘦，腸鳴腹痛，脊痛。</p>

<h4>三焦腧二穴</h4>
<p>在十三椎下兩旁各一寸半。灸三壯。主水穀不消，腹脹，腰痛，吐逆，目眩頭痛，食不下，腸鳴臚脹，腹中痛，欲泄注。主腹積聚如石，肩背拘急，腰脊強。</p>

<h4>腎腧二穴</h4>
<p>在十四椎下兩旁各一寸半，與臍對是。灸三壯。主虛勞耳聾，腎虛水臟脹，攣急，腰痛，小便濁，陰中疼，血精出，五勞七傷，冷嘔，腳膝拘急，好獨臥，身腫如水，小腹痛。主嘔吐，寒中，洞泄不化，小便難、赤、濁，骨寒熱，兩脅引痛目䀮䀮不明，惡風寒，面赤熱，心痛如懸。</p>

<h4>氣海腧二穴</h4>
<p>在第十五椎下兩旁各一寸半。主腰痛，痔病。</p>

<h4>大腸腧二穴</h4>
<p>在第十六椎下兩旁各一寸半。灸三壯。主腰痛，腸鳴脹滿，繞臍中痛，大小便不利，或泄利食不化，脊骨強。主大小便不利，腸鳴，腹䐜腫，暴泄，食不下，喜飲。</p>

<h4>關元腧二穴</h4>
<p>在第十七椎下兩旁相去一寸半。主風勞腰痛，泄痢，虛脹，小便難，婦人瘕聚諸疾。</p>

<h4>小腸腧二穴</h4>
<p>在第十八椎下兩旁各一寸半。灸三壯。主大便膿血出，五痔疼痛，婦人帶下，大小便難，淋癃，小便黃赤，泄痢膿血，五色重下，腫痛，腰脊疝痛，腰脊急強。</p>

<h4>膀胱腧二穴</h4>
<p>在第十九椎下兩旁各一寸半。灸三壯。主風旁腰痛，泄利，腸痛，大小便難，尿赤，陰生瘡，少氣，足脛冷，拘急不得屆伸，女人瘕聚，煩滿汗不出，小便赤黃，腰脊急強，堅結積聚，足清不仁。主熱痙引骨痛。</p>

<h4>中膂腧二穴</h4>
<p>在第二十椎下兩旁各一寸半。灸三壯。（原注：又名脊內腧）。主赤白痢，虛渴汗出，腰不得俯仰，腹脹脅痛腰疝，寒熱，痙反折。</p>

<h4>白環腧二穴</h4>
<p>在第二十一椎下兩旁各一寸半。不宜灸。</p>

<h4>上窌二穴</h4>
<p>在第一孔，腰髁下一寸，俠脊兩旁。灸三壯。主嘔逆，寒熱腰痛，婦人絕子，瘧寒熱，陰挺出，不禁白瀝，痙反折，小便大便利。主鼻衄。</p>

<h4>次窌二穴</h4>
<p>在俠脊第二空陷中。灸三壯。主腰下至足不仁。主腰足痛，惡寒，婦人赤白瀝下，心下積脹。腰痛不可俯仰，足清不仁，大小便利，疝氣下墜。</p>

<h4>中窌二穴</h4>
<p>在第三空，俠脊陷中。灸三壯。主婦人赤淫下白，氣癃，月事少，大便難，大小便利，腹脹飧泄，丈夫五勞、七傷、六極，腰痛。</p>

<h4>下窌二穴</h4>
<p>在第四空，俠脊陷中。灸三壯。主腰痛，婦人下蒼汁不禁，赤瀝，陰中癢痛，引小腹控䏚，不可以俯仰，大小便利，腹鳴臚脹，欲泄注。</p>

<h4>會陰二穴</h4>
<p>在陰尾骨兩旁（原注：又名利機）。（灸三壯）。主腹中有寒，泄注，腸癖便血久痔，陽氣虛乏，陰汗濕。</p>

<h3>脊中第三行十四穴</h3>

<h4>附分二穴</h4>
<p>在第二椎下附項內廉兩旁各三寸。灸五壯。正坐取之。主背痛引頷，引頭，肩背拘急，風冷客於腠，頸項強痛，不得回顧，風勞，臂肘不仁。</p>

<h4>魄戶二穴</h4>
<p>在第三椎下兩旁各三寸宛宛中，正坐取之。灸七壯。主咳逆上氣，肺寒熱，呼吸不得臥，嘔沫，喘，氣相追逐，背胛悶無力，勞損委黃。五屍走疰，項強不得回顧。</p>

<h4>膏肓腧二穴</h4>
<p>其取穴法有孫思邈、王惟一、石用之、葉善、潘琪、僧仲之，或用鉤股，或抱栲栳，或坐或臥，或立或起，或坐而仰手曲肘，或坐而伸臂，或揣椎骨定高下，或量臍心，或量命門，或坐點坐灸，各有所長，終而終未明大法。以予平昔用此數，十取十，百取百，一一無差者。各各取之，按其穴須得病人中指麻木，則灸無不取效。其要法，在第四椎下、第五椎上，各去脊三寸宛宛中，此穴無所不治。主羸瘦虛損，夢中失精，上氣咳逆，狂惑。此二穴各一處灸六百壯，多至一千壯。當覺下氣礱礱然如流水狀，當有所下出，若無停痰宿疾，則無所下。灸訖後，令人陽氣康強。</p>

<h4>神堂二穴</h4>
<p>在第五椎下兩旁各三寸陷中，正坐取之。灸五壯。主肩痛，胸腹滿，灑淅。及脊強急，寒熱。</p>

<h4>噫嘻二穴</h4>
<p>在肩膊內廉，第六椎兩旁三寸，其穴抱肘取之。灸二七壯至一百止。主溫瘧、寒瘧、病瘧，肩背痛，悶，氣滿腹脹，氣痃，肩背寒，痙，肩甲內廉痛，腋拘攣，暴脈急，脅痛，熱病汗不出，目眩鼻衄，喘逆不得俯仰，風瘧，小兒食晦頭痛。及五心熱，瘧久不愈，胸中氣咽，勞損虛乏，不得睡，咳逆上氣。</p>

<h4>鬲關二穴</h4>
<p>在第七椎下兩旁各三寸陷者中。灸五壯。主背痛惡寒，脊強，俯仰難，食不下，嘔噦多涎唾。</p>

<h4>魂門二穴</h4>
<p>在第九椎下兩旁各三寸陷者中。灸三壯。主食飲不下，腹中雷鳴，大便不節，赤黃，嘔吐不住，多涎。</p>

<h4>陽綱二穴</h4>
<p>在第十椎兩旁各三寸，正坐取之。灸三壯。主食不下，腹中雷鳴，大小便不節，黃水，小便黃，腸鳴泄注，消渴，身熱面黃，怠墮，目黃，不嗜食。</p>

<h4>意舍二穴</h4>
<p>在第十一椎兩旁各三寸，正坐取之。灸三壯，五十壯至一百壯止。主腹滿虛脹，大便泄滑，消渴，面黃，嗜飲，目赤。</p>

<h4>胃倉二穴</h4>
<p>在第十二椎下各三寸。灸三壯。主腹內虛脹，水食不消，惡寒，不能俯仰，水腫、臚脹，食飲不下。</p>

<h4>肓門二穴</h4>
<p>在第十三椎下兩旁各三寸，與鳩尾相直。灸三十壯。主心下大堅，婦人乳余疾。</p>

<h4>志室二穴</h4>
<p>在第十四椎下兩旁各三寸，正坐取之。灸三壯。主腰脊痛急，食不消，腹中堅急，陰痛下腫，並療之脊強，兩脊急痛，失精，小便淋瀝。</p>

<h4>胞肓二次</h4>
<p>在第十九椎下兩旁各三寸陷者中，伏而取之。灸三壯。主腰脊痛急，食不消，腹內堅急，陰痛下腫。並療之惡氣，腰背卒痛。</p>

<h4>秩邊二穴</h4>
<p>在第二十一椎下兩旁各三寸，伏而取之。灸三壯。主腰痛不能俯仰，小便赤黃，尻重不能舉，五痔發腫。</p>

<h1>卷五</h1>

<h2>伏人手少陽三焦經圖</h2>
<figure>
<img data-orig-src="urn:270:05525.jpg" alt="伏人手少陽三焦經圖">
</figure>

<h3>手少陽三焦經十七穴</h3>

<h4>關衝二穴</h4>
<p>在手小指之端，去爪甲角如韭葉。灸三壯。主風眩頭痛，喉痹舌卷，口乾心煩，臂外廉痛，手不及頭（原注：右取左，左取右）。主肘疼不能自帶衣。主背肩酸重，面黑，渴，風，熱病，煩心，心悶而汗不出，掌中熱，心痛，身熱如火，浸淫，煩滿，舌本痛，寒熱淒索，氣上不得臥，霍亂，肩中熱，頭不可以顧，胸中氣噎，目生白翳。</p>

<h4>腋門二穴</h4>
<p>在小指次指間陷者中。灸三壯。主呼吸短氣，咽如息肉狀，目澀目眩，暴變耳聾，手臂痛不能上下，喜驚妄言，面赤，熱病先不樂，頭痛面熱，無汗，風寒熱，耳痛、聾、鳴，牙齒痛，咽外腫，寒厥，痎瘧。</p>

<h4>中渚二穴</h4>
<p>在小指次指本節後間陷中。灸三壯。主頭重，頷顱熱痛，面赤，目䀮䀮不明，惡風寒，嗌痛，寒熱耳痛，聾嘈嘈。主咽腫，肘臂痛，手五指不得屈伸，熱病汗不出，目生翳膜，久瘧。</p>

<h4>陽池二穴</h4>
<p>在手表腕上陷者中。灸三壯（原注：又名別陽）。主熱病汗不出，寒熱，瘧；或因折傷手腕，捉物不得，肩背痛，不得舉。</p>

<h4>外關二穴</h4>
<p>在腕後二寸陷中。主肘腕酸重，屈伸難，手十指盡痛，不得握。兼主耳淳淳渾渾而無所聞，臂痿不仁，臂不及頭。</p>

<h4>支溝二穴</h4>
<p>在腕後三寸，兩骨間陷中。灸三壯。主心痛如椎刺，甚者手足寒至節，不息者死。主咳，面赤面熱，肘節痹，臂酸腋腫，熱病汗不出，馬刀腫痿。主漏。主痂疥，女人脊急，目赤，嗌痛，暴喑，霍亂，四肢不舉，嘔吐，噤口不開，暴啞不能言。及腋脅痛。</p>

<h4>會宗二穴</h4>
<p>在腕後三寸空中。灸三壯。主耳渾渾淳淳、聾無所聞，肌膚痛，風癇。</p>

<h4>三陽絡二穴</h4>
<p>在臂上大交脈，支溝上一寸。灸七壯。主嗜臥，四肢不欲動搖，耳卒聾，齒齲，暴啞不能言。</p>

<h4>四瀆二穴</h4>
<p>在肘前五寸外廉陷中。主呼吸短氣，咽中如息肉狀，耳暴聾，及牙痛。</p>

<h4>天井二穴</h4>
<p>在肘後外，大骨後一寸，兩筋間陷者中。屈肘得之。灸三壯。甄權云：曲肘後一寸，叉手按膝頭取之。主大風默默，不知所痛，悲傷不樂，悲愁恍惚，瘧，食時發，心痛，驚瘈。主癲病，羊癇，吐舌羊鳴、戾頸，肩痛，痿痹不仁，肩下不可屈伸，肩肉麻木，咳嗽上氣，唾膿，不嗜食，風痹。</p>

<h4>清冷泉二穴</h4>
<p>在肘上三寸，伸肘取之（原注：又名清冷淵、青靈）。灸三壯。主臑縱，肩不舉，不能帶衣，頭痛振寒，目黃脅痛。</p>

<h4>消濼二穴</h4>
<p>在肩下臂外，開腋斜肘分下行。灸三壯。主寒熱痛痹，頭痛，項如拔，不可左右顧，頸有大氣。</p>

<h4>天宗二穴</h4>
<p>在秉風后，大骨下陷中。主肩重臂痛，肘後廉痛，頰頷痛。</p>

<h4>臑腧二穴</h4>
<p>俠肩髎後大骨下胛上廉陷下。灸三壯。主寒熱肩腫，引胛中痛，臂酸無力。</p>

<h4>肩外腧二穴</h4>
<p>在肩胛上廉，去脊三寸陷者中。灸三壯。主肩甲痛而寒至肘，寒熱引項急強，左右不顧。</p>

<h4>肩中腧二穴</h4>
<p>在肩甲內廉，去脊二寸陷者中。灸三壯。主小兒奶瀝，目不明，寒熱，目視不明，咳嗽上氣，唾血。</p>

<h4>曲垣二穴</h4>
<p>在肩中央曲胛陷者中，按之應手痛。灸十壯。主肩甲周痹。主氣注，肩膊拘急，疼悶。</p>

<h1>卷六</h1>

<h2>伏人手太陽小腸經圖</h2>
<figure>
<img data-orig-src="urn:270:05526.jpg" alt="伏人手太陽小腸經圖">
</figure>

<h3>手太陽小腸經九穴</h3>

<h4>少澤二穴</h4>
<p>在手小指端外側，去爪甲一分陷中。灸一壯。主口熱口乾，口中乾，咽中干，口中熱，唾如膠，瘧寒，汗不出。主振寒，小指不用，頭痛，喉痹，舌強，瘛瘲，咳嗽，嘔，項急不可顧，生膚翳覆瞳子。</p>

<h4>前谷二穴</h4>
<p>在小指外側本節前陷中。灸三壯。主目泣出，目急痛，耳鳴，咽偏腫，不可以咽，臂重痛，肘攣，熱病，汗不出，目翳，臂不舉，痎瘧熱，目上插，小便赤，咳嗽，衄血，頸項痛，鼻塞。</p>

<h4>後谿二穴</h4>
<p>在小指外側本節後陷中。灸一壯。主目淚出，眥爛有翳，耳聾、耳鳴，鼻衄、窒，喘息不通，肩臑痛，臂肘攣急，風，身寒，泣出，喘，驚，熱病不出汗，身熱惡寒，胸滿，頸項強，不得回顧，癲疾。</p>

<h4>腕骨二穴</h4>
<p>在手外側，腕前起骨下陷中。灸三壯。主頸項痛不可顧，目泣出、生翳，頷痛引耳，嘈嘈耳鳴無所聞，脅痛不得息，肘節痹，臂酸重，腋急，臂腕急，外側痛，目如脫，煩滿，驚，熱病汗不出，五指掣、不可屈伸，乍寒乍熱，瘧，狂言，臂肩疼，頭痛煩悶，驚風瘛瘲。</p>

<h4>陽谷二穴</h4>
<p>在手外側腕中兌骨之下陷中。灸三壯。主項強急痛，不可以顧，目痛赤，頷痛引耳，嘈嘈耳無所聞。主自齧唇，上牙齒痛，下牙齒痛，脅痛不得息，耐痛時寒，熱病振慄鼓頷，腹滿，陰痿，色不變，乍寒乍熱，瘧。主笑若狂，吐舌戾頸，妄言，痔痛，腋下腫，熱病汗不出，臂腕外側痛、不舉，妄言，左右顧，瘛瘲，目眩。</p>

<h4>養老二穴</h4>
<p>在手髁骨上一空，在腕後一寸陷者中。灸三壯。主手不得上下，肩痛欲折，目視不明。</p>

<h4>支正二穴</h4>
<p>在腕後五寸。灸三壯。主頸腫，項痛不可顧，頭痛目眩，風虛驚恐，狂言，熱病先腰脛酸，喜渴，數飲食，身熱，項痛而強，振寒寒熱。</p>

<h4>小海二穴</h4>
<p>在肘內大骨外，去肘端五分。灸五壯。主項強急痛，不可以顧，齲齒齦腫，四肢不舉，癇發瘛瘲，狂走，不得臥，心中煩，癲疾羊癇，吐舌，羊鳴、戾頸，瘧，背振寒。及風瘧，頭痛，寒熱，汗不出，惡寒，肘腋腫，少腹痛，風眩，瘍腫。</p>

<h4>肩貞二穴</h4>
<p>在肩曲胛下，兩骨解間，肩髃後陷者中（原注：《外臺》灸三壯）。主頷痛引耳，嘈嘈耳鳴無所聞，肩中熱，頭不可以顧，風痹，手臂不舉。</p>

<h2>伏人足太陽膀胱經圖</h2>
<figure>
<img data-orig-src="urn:270:05527.jpg" alt="伏人足太陽膀胱經圖">
</figure>

<h3>足太陽膀胱經十七穴</h3>

<h4>至陰二穴</h4>
<p>在足小趾外側，去爪甲角如韭葉。灸三壯。主鼻鼽，清涕出。西方子：主耳聾鳴，胸脅痛無常處，腰脅相引，急痛，小便不利，失精，風寒從足小趾起，脈痹上下，目生翳，頭風鼻塞，轉筋，塞瘧、汗不出，足下熱。</p>

<h4>通谷二穴</h4>
<p>在足小趾外側，本節前陷中。灸三壯。主頭重頭痛，寒熱汗出，不惡寒，項如拔，不可左右顧，目眩，目䀮䀮不明，惡風寒，胸脅支滿，心中憒憒，數欠，癲，心下悸，咽中澹澹恐。主結積留飲，癖囊胸滿飲，心痛，鼻鼽、清涕出，善驚引，鼽衄，項痛，胸滿，食不化。</p>

<h4>束骨二穴</h4>
<p>在足小趾外側，本節後陷中。灸三壯。主腸澼，泄，癲疾互引，善驚，羊鳴。主癲，大瘦，頭痛，狂易多言不休；瘧從腳胻起，髀樞中痛不可舉，腰痛如折，腨如結，寒熱，目眩，目風赤，內眥赤爛，耳聾，惡風寒，項不可回顧。</p>

<h4>京骨二穴</h4>
<p>在足外側大骨下赤白肉際陷中。灸三壯。主目中白翳，目反白，從內眥始，目眩。主頭熱，鼻衄，鼻不利，涕黃，鼻中衄血不止，淋濼，自齧唇，背惡寒痛，脊、頸項強，難以俯仰，腳攣，足寒，脊痙反折，狂僕；瘧、寒熱，善驚悸，不欲食，癲病狂走，痰髀樞痛。</p>

<h4>申脈二穴</h4>
<p>在外踝下陷中，容爪甲白肉際（灸三壯）。主目反上視若赤痛，從內眥始；腰痛不能舉，脛中寒熱，不能久立，坐若下舟車中，癲疾；腠氣，鼻衄血不止。</p>

<h4>金門二穴</h4>
<p>在足外踝下陷中（原注：又名關梁）。灸三壯。主癲疾，馬癇屍厥，暴死，轉筋，霍亂，腳胻酸，身戰不能久立；小兒發癇，張口搖頭，身反折。</p>

<h4>僕參二穴</h4>
<p>在足跟下陷中（原注：又名安邪），拱足取之。灸七壯。主足跟中、踝後痛，足痿，失履不收；癲疾，馬癇，吐舌鼓頷，狂言見鬼，恍惚，屍厥，煩痛，轉筋，霍亂；小兒馬癇，張口搖頭，身反折，馬鳴。</p>

<h4>崑崙二穴</h4>
<p>在足外踝後，跟骨上陷中，細脈動應手。灸十壯。主目眩不明，目如脫，目䀮䀮不明，惡風寒，目急痛，赤腫，頭熱，鼻鼽衄；腹痛滿，暴喘，腹脹滿不得息，不得大便，洞泄，體痛，霍亂；尻腰腫，腨跟腫，腳如結，踝如裂，不得履地；狂易，大風，癇瘈，口閉不得開；瘧多汗，瘧寒；小兒陰腫，頭眩痛，腳痿，轉筋屍厥，中惡吐逆，咳喘暴痛。</p>

<h4>承山二穴</h4>
<p>在腨腸下分肉間陷者中（原注：又名魚腹、腸山、肉柱）。灸五壯。主頭熱，鼻衄，大便難，腳攣，腳脛酸，腳急跟痛，腳筋急痛兢兢，足下熱，不能久立，寒熱，癲疾，腳腨痠痛，膝腰腨重，起坐難，小腹疝氣，遊行五臟，腹中切痛，轉筋霍亂，久痔腫痛。</p>

<h4>飛揚二穴</h4>
<p>在外踝上七寸（原注：又名厥陽）。灸三壯。主頸項痛，歷節風，足趾不得屈伸，汗出，腰痛如折，腨中痛；寒瘧，癲疾，吐舌，下部寒熱汗不出，體重；狂瘧，頭目眩痛，痙脊反折，痔篡傷痛，野雞痔，逆氣頭熱，鼻鼽衄；足痿失履不收。</p>

<h4>承筋二穴</h4>
<p>在脛後，從腳跟上七寸，中央陷中（原注：又名腨腸、直腸）。（灸三壯）主頭痛，寒熱汗不出，惡寒，支腫，大便難，腳攣腳痠，脛酸，腳急跟痛，腳筋急痛兢兢，足下熱，不能久立　，脛痹不仁，轉筋霍亂，瘛瘲，腳痿，腰痛如折，腳腨痠痛重，引小腹。及腰脊痛，惡寒，痔痛，指下腫，鼻鼽衄。</p>

<h4>合陽二穴</h4>
<p>在膝約中央下三寸。《銅人經》：二寸。灸五壯。主腰脊強痛引腹，膝股熱，胻酸重；㿗疝，女子崩中，腹上下痛，腸癖，陰偏暴敗痛。</p>

<h4>委中二穴</h4>
<p>在膕中央約文中動脈。凡風痹、腰腳重痛，於此刺血。久痼宿疹亦皆立己。（灸三壯。）主小腹熱而偏痛，陰跳，遺溺，小便難，尿赤、難，衄血劇不止，腰痛，俠脊至頭皆痛，筋急，身熱，痔痛，腋下腫，腳弱無力，腰尻重不能舉，曲踿中筋急，半身不遂，少腹堅腫，脊強反折，瘛瘲，癲疾，頭痛，熱病汗不出，足熱厥逆，滿，膝不得屈伸。</p>

<h4>委陽二穴</h4>
<p>乃三焦下輸也，足太陽之前，少陽之後，出於膕中外廉兩筋間，承扶下六寸。灸三壯。主陰跳之，小便難，小腹堅痛，引陰中，不得小便，淋瀝，腰痛不可俯仰，脊強反折，瘛瘲，癲疾，頭痛，筋急，腋下腫痛，胸滿膨脹，身熱，飛屍遁注，痿厥不仁。</p>

<h4>浮郄二穴</h4>
<p>在委陽上一寸，展足得之。灸三壯。主小腹熱，大便堅，太陽膀胱經熱，大腸結，股外髀樞之經筋急。</p>

<h4>殷門二穴</h4>
<p>在肉郄下六寸。（灸三壯。）主腰脊不可俯仰，舉重惡血注之，股外腫。</p>

<h4>扶承二穴</h4>
<p>在尻臀下，股陰下文中。又云：尻臀下橫文中（原注：又名肉郄、陰關、皮部）。（灸三壯。）主小便不利，失精，腰脊、尻、臀、股、陰寒痛，痔，腋下腫，尻下腫，大便直出，陰胞有寒，腰脊相引如解，尻脽腫，大便難。</p>

<h1>卷七</h1>

<h2>側人頭頸之圖</h2>
<figure>
<img data-orig-src="urn:270:05528.jpg" alt="側人頭頸之圖">
</figure>

<h3>側人頭頸二十穴</h3>

<h4>頷厭二穴</h4>
<p>在曲角顳顬上廉。灸三壯。主風眩，目無所見，偏頭痛，引目外眥急，耳鳴，好嚏，頸痛。</p>

<h4>懸顱二穴</h4>
<p>在曲角顳顬中。灸三壯。主熱病，偏頭痛，引目內眥，身熱煩滿，汗不出，齒痛，麵皮赤痛。</p>

<h4>懸釐二穴</h4>
<p>在曲角顳顬下廉。灸三壯。主麵皮赤痛，癲疾，互引善驚，羊鳴，熱病，偏頭痛，引目外眥赤痛，煩滿汗不出，熱病。</p>

<h4>天衝二穴</h4>
<p>在耳上如前三分，（原注：乃天衝）。灸三壯。主頭痛，癲疾、風痙、牙齦腫，善驚恐。</p>

<h4>率谷二穴</h4>
<p>在耳上入髮際一寸半。灸三壯。主煩滿嘔吐，醉傷酒，風熱發，兩目眩痛，膈胃寒痰，腦角強痛，不能飲食。</p>

<h4>曲鬢二穴</h4>
<p>在耳上髮際，曲隅陷中，鼓頷有空。灸七壯。主暴啞不能言，齒齲，頰頷腫，引牙車不得開，急痛，口噤。</p>

<h4>角孫二穴</h4>
<p>在耳郭中間上，開口有空。灸三壯。主頸腫項痛，不可顧，頸頷頰柱滿，牙齒不能嚼，齲痛腫，目生膚翳。</p>

<h4>和髎二穴</h4>
<p>在耳前兌發下橫動脈。灸三壯。主風頭重痛，牙車引急。耳中嘈嘈，頷頰腫。</p>

<h4>耳門二穴</h4>
<p>在耳前起肉，當耳缺。灸三壯。主耳痛鳴聾，耳有膿汁出，生瘡，𦖒耳，聤耳，鳴如蟬，齒齲痛。</p>

<h4>聽會二穴</h4>
<p>在耳前陷中，張口得之。上關下一寸，動脈應手。灸五壯。主耳聾嘈嘈，若蟬鳴，齒痛惡寒，癲疾嘔吐，骨酸，眩狂，瘛瘲口噤，喉鳴，牙車急痛，牙車脫臼。</p>

<h4>聽宮二穴</h4>
<p>在耳中珠子大如赤小豆。灸三壯。主耳嘈嘈若蟬鳴，骨痿，眩狂，瘛瘲口噤，喉鳴，耳聾如物填塞，心腹痛滿，臂痛，失聲。</p>

<h4>天容二穴</h4>
<p>在耳上曲頰後（原注：又名大容）。灸三壯。主頸項癰，不能言，頸腫項痛，不可顧，耳嘈嘈若蟬鳴，咳逆嘔沫。主氣喘息，齒禁，喉痹寒熱，咽如鯁。</p>

<h4>天牖二穴</h4>
<p>在頸筋缺盆上，天容後，天柱前，完骨下，髮際上一寸。不灸。</p>

<h4>缺盆二穴</h4>
<p>在肩上橫骨陷中（原注：又名天蓋）。灸三壯。主缺盆中痛，汗出喉痹，咳，寒熱瘰癧，缺盆中腫，外潰則生，胸中熱。及滿腹大，水氣，哽噫，胸熱，息賁，脅下氣上衝。</p>

<h4>扶突二穴</h4>
<p>在氣舍後一寸半。灸三壯。主舌本出，咳逆上氣，咽中鳴喘，多唾，喘飲，喉中如水雞鳴。</p>

<h4>天窗二穴</h4>
<p>在頸大筋前曲頰下，扶突後動脈應手陷中。灸三壯（原注：又名窗簧）。主耳鳴、聾無所聞，頰腫，喉中痛，暴喑不能言。主肩痛引項，不得回顧，耳痛及痛，漏頸痛。</p>

<h4>天鼎二穴</h4>
<p>在頸缺盆直扶突，曲頰下一寸，人迎後。灸三壯。主暴喑，氣哽，咽喉痹腫，不得息，飲食不下，喉中鳴。</p>

<h4>人迎二穴</h4>
<p>在頸大脈應手，俠結喉旁，以候五臟氣（原注：又名天五會）。灸之不幸傷人。</p>

<h4>水突二穴</h4>
<p>在頸大筋前，直人迎下，氣舍上（原注：又名水門）。灸三壯。主咳逆上氣，咽喉癰腫，呼吸短氣，喘息不得臥。</p>

<h4>氣舍二穴</h4>
<p>在頸直人迎，俠天突陷中。灸三壯。主咳逆上氣，瘤癭，喉痹、咽腫，頸項強，不得回顧，肩腫，哽咽，食不下。</p>

<h2>側脅之圖</h2>
<figure>
<img data-orig-src="urn:270:05529.jpg" alt="側脅之圖">
</figure>

<h3>側脅十穴</h3>

<h4>章門二穴</h4>
<p>在大橫外，直臍，季肋端，側臥，屈上足，伸下足，舉臂取之（原注：又名長平、脅髎）。灸百壯。主腸鳴，盈盈然，食不下，脅痛不得臥，煩熱口乾，不嗜食，胸脅支滿，喘息心痛，不得轉側，傷飽身黃，羸瘦賁豚，腹腫脊強，四肢懈惰，善恐少氣，厥逆，肩臂不舉，咳逆吐食，噦噫，食入還出，熱中，苦吞而聞食臭，寒中，洞泄不化，胸滿，嘔無所出，身潤，石水，身腫，諸漏。</p>

<h4>京門二穴</h4>
<p>在監骨腰中，季脅本，俠脊。（原注：又名氣俞、氣府）。（灸三壯。）主腰痛不得俯仰，寒熱䐜脹，引背不得息，水道不利，溺黃，小腹急痛腫，腸鳴洞泄，髀樞引痛，肩背寒痙，肩甲內廉痛，脊痙反折，體痛。</p>

<h4>帶脈二穴</h4>
<p>在季肋下一寸八分。灸五壯。主婦人小腹堅痛，月脈不調，帶下赤白，裡急，瘛瘲。</p>

<h4>五樞二穴</h4>
<p>在帶脈下三寸。一雲水道下一寸半。灸五壯。主男子寒疝，陰卵上入小腹痛，婦人赤白，裡急，瘛瘲。</p>

<h4>維道二穴</h4>
<p>在章門下五寸三分。灸三壯。主嘔逆不止，三焦不調，水腫，不嗜食，咳逆不止。</p>

<h4>居髎二穴</h4>
<p>在長平下八寸三分，監骨上陷中。灸三壯。主腰引小腹痛，肩引胸臂攣急，手臂不得舉而至肩。</p>

<h4>泉腋二穴</h4>
<p>在腋下三寸宛宛中。舉臂得之（原注：又名淵腋）。不灸。</p>

<h4>大包二穴</h4>
<p>在泉腋下三寸。脾之大絡，布胸脅中，出九肋間。灸三壯。主腹有大氣，氣不得息，胸脅中痛，內實則身盡痛，虛則百筋皆縱。</p>

<h4>輒筋二穴</h4>
<p>在腋下三寸，復前一寸，著脅。灸三壯。主胸中暴滿，不得臥，喘息。</p>

<h4>天池二穴</h4>
<p>在乳後一寸，腋下著脅（原注：又名天會）。灸三壯。主寒熱，胸膈煩滿，頭痛，四肢不舉，腋下腫，上氣，胸中有聲，喉中鳴。</p>

<h2>側人手陽明大腸經圖</h2>
<figure>
<img data-orig-src="urn:270:05530.jpg" alt="側人手陽明大腸經圖">
</figure>

<h3>手陽明大腸經二十穴</h3>

<h4>商陽二穴</h4>
<p>在手大指次指內側，去爪甲如韭葉（原注：又名絕陽）。主胸中氣滿，喘咳支腫，熱汗不出，耳鳴耳聾，寒熱痎瘧，口乾，頤頷腫、齒痛惡寒，肩背急相引，缺盆痛，目青盲，可灸三壯。左取右，右取左，如食頃立已。胸脅柱滿。</p>

<h4>二間二穴</h4>
<p>在手大指次指本節前內側陷中（原注：又名聞谷）。灸三柱。主喉痹頷腫，肩背痛，振寒，鼻鼽衄血，多驚口喎，目眥傷，寒熱。</p>

<h4>三間二穴</h4>
<p>在手大指次指本節之後內側陷中。灸三壯。又名少谷。主喉痹，咽中如鯁，齒齲痛，嗜臥、胸滿，腸鳴洞泄，寒疝，唇焦口乾，氣喘，目眥急痛，目上插，頭熱，鼻鼽衄血，吐舌，戾頸，喜驚，氣熱身熱，喘，瘧疾。</p>

<h4>合谷二穴</h4>
<p>在大指次指歧骨陷中。又名虎口。灸三壯。主寒熱瘧，鼻衄，熱病汗不出，目視不明，頭痛齒齲，喉痹，痿臂，面腫，唇吻不收，喑不能言，口噤不開。婦人妊娠不可刺，損胎氣。主風頭熱，鼻清涕出。</p>

<h4>陽谿二穴</h4>
<p>在腕中上側兩筋間陷中。又名中魁。灸三壯。主狂言喜笑見鬼，熱病煩心，目風赤爛，有翳，厥逆頭痛，胸滿不得息，寒熱瘧疾，喉痹耳鳴，齒痛，驚掣，肘臂不舉，痂疥，目痛耳痛鳴聾，咽如刺，吐舌戾頸，妄言。心悶而汗不出，掌中熱，心痛，身熱浸淫，煩滿，舌本痛。</p>

<h4>偏歷二穴</h4>
<p>在腕後三寸。灸三壯。主寒熱瘧，風汗不出，目視䀮䀮，癲疾多言，耳鳴，口喎，齒齲、喉痹，咽乾，鼻鼽衄血。</p>

<h4>溫留二穴</h4>
<p>在腕後，小士五寸，大士六寸（原注：又名溫溜、蛇頭，又名逆注、蛇頭）。灸三壯。主口喎，腸鳴腹痛，傷寒身熱，頭痛噦逆，肩不得舉，癲疾吐涎，狂言見鬼，喉痹，面虛腫。主狂僕。主瘧，面赤腫。</p>

<h4>下廉二穴</h4>
<p>在輔骨下，去上廉一寸，輔兌肉其分外斜。灸三壯。主頭風，臂時痛，溺黃，腸鳴相迫逐。</p>

<h4>上廉二穴</h4>
<p>在三里下一寸。灸五壯。主腦風頭痛，小便難，黃赤，腸鳴，氣走注痛。</p>

<h4>三里二穴</h4>
<p>在曲池下二寸。按之肉起，兌肉之端，灸三壯。主手臂不仁，肘攣不伸，齒痛，頰頷腫，瘰癧。</p>

<h4>曲池二穴</h4>
<p>在肘外輔骨，屈肘曲骨之中。以手拱胸取之。灸大良，灸三壯。主肘中痛時寒，偏風，半身不遂，刺風癮疹，喉痹不能言，胸中煩滿，筋緩，捉物不得，挽弓不開，屈伸難，風臂，肘細而無力；傷寒餘熱不盡，皮膚乾燥，頭痛；手不可舉重，腕急，肘節痹、痿重，腋急痛，腕外側痛脫如拔，肩重痛不舉，身濕搖時時寒，瘛瘲，癲疾，寒熱，渴。</p>

<h4>肘髎二穴</h4>
<p>在肘大骨外廉陷中。灸三壯。主肘節風痹，臂痛不可舉、屈伸、攣急。</p>

<h4>五里二穴</h4>
<p>在肘上三寸，行向里，大脈中央。可灸十壯。主風勞驚恐，吐血，肘臂痛，嗜臥，四肢不能動搖，寒熱，瘰癧，咳嗽，目視䀮䀮，痎瘧，心下脹滿而痛，上氣。</p>

<h4>臂臑二穴</h4>
<p>在肘上七寸䐃肉端。灸三壯。主寒熱，頸項拘急，瘰癧，肩背痛不得舉。</p>

<h4>肩髎二穴</h4>
<p>在肩端臑上，斜舉臂取之。灸三壯。主臂重不可舉，臂痛。</p>

<h4>秉風二穴</h4>
<p>俠天髎外，肩上髃後，舉臂有空。灸三壯。主肩痛不能舉。</p>

<h4>肩井二穴</h4>
<p>在肩上陷解中，缺盆上、大骨前一寸半，以三指按取之，當中指下陷中。又名膊井。灸三壯、七壯。主五勞七傷，頸項不得回顧，背膊悶，兩手不得向頭；或因撲傷腰髖疼，腳氣上攻，婦人墮胎後，手足厥逆，咳逆，寒熱淒索，氣不得臥。</p>

<h4>天髎二穴</h4>
<p>在肩缺盆中上毖骨之際陷者中。灸三壯。主肩肘痛引頸項急，寒熱，缺盆中痛，汗不出，胸中煩滿，臂痛不舉。</p>

<h4>肩髃二穴</h4>
<p>在肩端兩骨間陷者宛宛中，舉臂取之。可灸七壯至二七壯，以差為度。若灸偏風不遂，可七七壯。不宜多灸，恐臂細。若風病，筋骨無力，不差。當灸。不畏細。主療偏風不遂，熱風癮疹，手臂攣急，捉物不得，臂細無力。筋骨痠疼，肩中熱，頭不可以顧。</p>

<h4>巨骨二穴</h4>
<p>在肩端上行兩骨間，陷中。（灸五壯）。主背膊痛，胸中瘀血，肩臂不能屈伸而痛，臂不得舉，肩中痛，不能動搖。</p>

<h1>卷八</h1>

<h2>側人足少陽膽經圖</h2>
<figure>
<img data-orig-src="urn:270:05531.jpg" alt="側人足少陽膽經圖">
</figure>

<h3>足少陽膽經十五穴</h3>

<h4>竅陰二穴</h4>
<p>在足小趾次趾之端，去爪甲如韭葉。灸三壯。主脅痛，咳逆不得息，手足煩熱，汗不出，四肢轉筋，癰疽，頭痛，心煩，喉痹，舌強，口乾，肘不可舉，卒聾不聞人語。</p>

<h4>俠谿二穴</h4>
<p>在足小趾次趾二歧骨間本節前陷中。灸三壯。主胸脅支滿，寒熱汗不出，目外眥赤，目眩，頰頷腫，耳聾；胸中痛，不可轉側，痛無常處；目系急，目下腫，眥痛，逆寒泣出，目癢，頷痛，引耳嘈嘈無所聞；瘧，足痛，腋下腫，馬刀瘻，婦人小腹堅痛，月水不通，乳腫潰，胸中寒如風狀，頭眩，兩頰痛。</p>

<h4>地五會二穴</h4>
<p>在足小趾次趾本節間陷中，去俠谿一寸。不灸。</p>

<h4>臨泣二穴</h4>
<p>在足小趾次趾本節後間陷中，去俠谿一寸五分。灸三壯。主胸中滿，缺盆中、腋下腫，馬刀瘍瘻，善齧頰，天牖中腫，淫濼，胻酸，目眩，枕骨、頷厭、懸顱痛，灑淅振寒；婦人月事不利，季脅支滿，乳癰；心痛，周痹，痛無常處，氣喘不能行；痎瘧，瘧日西發；大風目痛，髀中痛，不得行，足外使痛，身痹，洗淅振寒；小兒驚癇，反視。</p>

<h4>丘墟二穴</h4>
<p>在足外踝下如前陷中，去臨泣三寸。灸三壯。主胸脅滿痛不得息，久瘧振寒，腋下痛，痿厥，坐不能起，髀樞中痛，目生翳膜，腿胻酸轉筋，卒疝、小腹堅，寒熱頸腫，瘧振寒，腕不收，目不明。</p>

<h4>跗陽二穴</h4>
<p>在外踝上三寸，太陽前，少陽後筋骨間（原注：灸三壯）。主痿厥風痹，頭重痛，腨外廉骨痛，四肢不舉，瘛瘲，風痹不仁，時有寒熱。</p>

<h4>懸鐘二穴</h4>
<p>在足外踝上三寸動脈中。灸五壯。（原注：又名絕骨）。主心腹脹滿，胃中熱，不嗜食，膝胻痛，筋攣，足不收履，坐不能起，五淋，濕痹，流腫，筋急，瘛瘲，脛痛，小兒腹滿，不能食飲，四肢不舉，風勞身重。</p>

<h4>陽輔二穴</h4>
<p>在足外踝上四寸，輔骨前，絕骨端，如前三分，去丘墟七寸。灸三壯。主腰溶溶如坐水中，膝下膚重，筋痛，諸節盡痛，痛無常處，腋下腫，瘻馬刀，喉痹，膝胻酸，風痹不仁，腰痛不可以顧，腰痛如錐居其中，腫痛不可以咳，咳則筋縮急，諸節痛，寒熱脅痛。</p>

<h4>光明二穴</h4>
<p>在足外踝上五寸。灸五壯。主身解寒，淫濼胻酸，不能久立，與陽輔治病同法；熱病汗不出，卒狂；虛則痿痹，坐不能起，實則足胻熱，膝痛，身體不仁，善齧頰，腹足清，寒熱，膝痛脛熱不能行，手足偏小。</p>

<h4>外丘二穴</h4>
<p>在足外踝上六寸。可灸三壯。主膚痛痿痹，胸脅脹滿，頸項痛，惡風寒，癲疾。</p>

<h4>陽交二穴</h4>
<p>在足外踝上七寸，斜屬足三陽肉分之間（原注：又名別陽）。主寒厥，驚狂，喉痹，胸滿，面腫，寒痹，膝胻不收，寒熱。</p>

<h4>陽陵泉二穴</h4>
<p>在膝下一寸外廉陷中。《銅人》云在外踝上七寸。又以蹲坐取之。日可灸七壯至七七壯。主膝伸不能屈，冷痹，腳下不仁，偏風，半身不遂，腳冷無血色，頭痛，寒熱，口苦，嗌中介介，頭面腫，胸脅柱滿，心中怵惕恐如人捕。</p>

<h4>陽關二穴</h4>
<p>在陽陵泉上三寸，犢鼻外陷中。不可灸。</p>

<h4>中瀆二穴</h4>
<p>在髀骨外，膝上五寸分肉間陷中。不可灸。</p>

<h4>環跳二穴</h4>
<p>在髀樞中，側臥，伸下足、屈上足取之。灸五十壯。主風濕痹，風疹，偏風，半身不遂，腰胯痛，不得轉側。治胸脅痛無常處，腰脅相引急痛，髀樞中痛不可舉，脛痛不可屈伸，脛痹不仁，髀不仁。</p>

<h2>側人足厥陰肝經圖</h2>
<figure>
<img data-orig-src="urn:270:05532.jpg" alt="側人足厥陰肝經圖">
</figure>

<h3>足厥陰肝經十一穴</h3>

<h4>大訓二穴</h4>
<p>在足大趾端，去爪甲如韭葉及三毛中。灸三壯。主卒疝，小便數，遺溺，陰頭中痛，心痛，汗出，陰跳上入腹，陰偏大，腹臍中痛，悒悒不樂，病左取右，右取左；腹脹滿，少腹痛，中熱，喜寐，屍厥，狀如死，婦人血崩不止，目不欲視，大息，五淋，不得尿，噦噫。</p>

<h4>行間二穴</h4>
<p>在足大趾間，動脈應手陷中。灸三壯。主溺難，白濁，寒疝，少腹腫；咳逆嘔血，腰痛不可俯仰，腹中脹，心痛，色蒼蒼如死狀，終日不得息，口喎，四肢逆冷，嗌乾、煩渴，瞑不欲視，目中淚出，大息，癲疾，短氣；癃閉，莖中痛，面色蒼蒼黑，短氣，嘔血，胸背痛，心痛數驚，心悲不樂；婦人月事不利，見赤白而有身反敗；陰寒振寒，溲白，尿難、痛。</p>

<h4>太衝二穴</h4>
<p>在足大趾本節後二寸，或一寸半陷中。灸三壯。主腰引少腹痛，小便不利，狀如淋，㿉疝，少腹腫，溏泄，遺溺，陰痛，面蒼色，胸脅支滿，足寒，大便難，嘔血，女子漏血不止，小兒卒疝，嘔逆發寒，嗌乾，肘腫，內踝前痛，淫濼胻酸，腋下腫，馬刀瘻，唇腫，善渴，喉中鳴，不得尿，陰上痛，溏泄，泄血，面陳黑。</p>

<h4>中封二穴</h4>
<p>在足內踝前一寸，仰足取之，陷中，伸足乃得之。灸三壯。主痎瘧，色蒼蒼，振寒，少腹腫，食怏怏繞臍痛，足逆冷，不嗜食，身體不仁，寒疝，引腰中痛，或身微熱，小腹痛，振寒，溲白，尿難、痛；嗌乾善渴，身黃，有微熱、少氣，身重濕；內踝前痛，膝腫，痿厥，身體不仁，㿗疝，癃，暴痛，痿厥，咽遍腫，不可以咽。</p>

<h4>蠡溝二穴</h4>
<p>在足內踝上五寸。灸三壯。主卒疝，少腹腫，時少腹暴痛，小便不利如癃閉，數噫，恐悸，少氣不足，腹中痛，悒悒不利，咽中悶，如有息肉狀，背拘急不可俯仰，女子赤白淫下，時多時少，暴腹痛刺。</p>

<h4>中都二穴</h4>
<p>在內踝上七寸胻骨中，與少陰相直（原注：又名中郄。）灸五壯。主腸澼，㿉疝，少腹痛，婦人崩中，因惡露不絕，足下熱，脛寒，不能久立，濕痹不能行。</p>

<h4>膝關二穴</h4>
<p>在犢鼻下二寸陷中。灸五壯。主風痹，膝內痛引臏，不可屈伸。喉咽中痛。</p>

<h4>曲泉二穴</h4>
<p>在膝輔骨下大筋上、小筋下陷中，屈膝乃得。灸三壯。又云正膝屈內外兩筋間宛宛中。又云：在膝曲橫文頭。主女子血瘕，按之如湯浸，股內、少腹腫，陰挺出，丈夫㿉疝，陰頭痛，小便難，腹脅支滿，癃閉，少氣，泄利，四肢不舉，實即身熱，目眩痛，汗不出，目䀮䀮，膝痛筋攣，不可屈伸，發狂，衄血、喘呼，少腹痛，引喉咽，頭風，勞、失精，身體極痛，泄水，下利膿血，陰腫，胻痛。</p>

<h4>陰包二穴</h4>
<p>在膝上四寸，股內廉兩筋間。灸三壯。主腰尻引少腹痛，遺溺不禁。</p>

<h4>五里二穴</h4>
<p>在氣衝下三寸，陰股中動脈。灸五壯。主腸中滿，熱閉，不得溺。主四肢不得動搖。</p>

<h4>陰廉二穴</h4>
<p>在羊矢下，去氣衝二寸動脈中。灸三壯。主婦人絕產若未經生產者，灸三壯即有子。</p>

<h2>側人足少陰腎經圖</h2>
<figure>
<img data-orig-src="urn:270:05533.jpg" alt="側人足少陰腎經圖">
</figure>

<h3>足少陰腎經十穴</h3>

<h4>湧泉二穴</h4>
<p>在足心陷中，屈足卷指宛宛中。又云：在腳心大拇指下大筋。灸三壯。主腰痛，大便難，心中結熱，風疹，風癇，心痛，不嗜食，婦人無子，短氣，咳嗽，身熱，喉痹，胸脅滿，目眩，男子如蠱，女子如妊娠，五趾端盡痛，足不得履地，風人腹中痛，喉痹哽噎，寒熱，咽中痛，不可食。</p>

<h4>然谷二穴</h4>
<p>在足內踝前，起骨下陷中。灸三壯。主咽內腫，心恐懼，如人將捕，涎出，喘呼少氣；足跗腫，不得履地，寒疝，小腹脹，上搶胸脅，咳唾血，喉痹；淋瀝，女子不孕，男子精溢，胻痠不能久立，一足寒，一足熱；舌縱，煩滿，消渴，初生兒臍風，口噤；痿厥，洞泄，胸中寒，脈代，時不至；溫瘧，汗出，陰上縮，嗌內腫，氣走咽喉而不能言，舌下腫難言，舌縱涎出，不嗜食。</p>

<h4>太谿二穴</h4>
<p>在足內踝後跟骨上動脈陷中。灸三壯。主久瘧咳逆心痛，如錐刺其心，手足寒至節，喘息者死；嘔吐，口中如膠，善噫，寒疝，熱病汗不出，默默嗜臥，弱黃，消癉，大便難，咽腫、唾血，痃癖，寒熱咳嗽，不嗜食，腹脅痛，瘦弱，手足逆冷，大疝，瘕積聚與陰相通。及足清不仁，熱病多汗，黃疸，多熱少寒，腹中腫脹。</p>

<h4>大鐘二穴</h4>
<p>在足跟後沖中。灸三壯。主實則小便淋閉，洒洒腰脊強痛，大便秘澀，嗜臥，口中熱；虛則嘔逆、多寒，欲閉戶而處，少氣不足，胸脹喘息，舌乾，咽中食噎不得下，善驚恐不樂，喉中鳴，咳嗽血；腹滿，便難，多寒少熱。</p>

<h4>水泉二穴</h4>
<p>在太谿下一寸，在內踝下。灸五壯。主月事不來，來即多，心下悶痛，目䀮䀮不能遠視，陰挺出，小便淋瀝，腹中痛。</p>

<h4>照海二穴</h4>
<p>在足內踝下。灸三壯。主嗌乾，四肢懈怠墮，善悲不樂，久瘧，卒疝，少腹痛，嘔吐，嗜臥，大風偏枯，半身不遂，女子淋瀝，陰挺出；陰暴起疝，少腹熱而偏痛，大風默默，不知所痛，視如不明。</p>

<h4>復溜二穴</h4>
<p>在足內踝上二寸陷中。灸五壯（原注：又名昌陽、伏白）。主腰脊內引痛，不得俯仰起坐；目䀮䀮視不明，口舌乾，涎自出；足痿不能履，胻痠不自溫；腹中雷鳴，腹脹如鼓，四肢腫，十水病，溺青、赤、黃、白、黑，青取井，赤取滎，黃取腧，白取經，黑取合；血痔，泄後重，五淋，小便如散火，骨寒熱，汗注不止；腳後廉急，不可前卻，足跗上痛，風逆，四肢廢。</p>

<h4>交信二穴</h4>
<p>在內踝上二寸，少陰前、太陰後廉之筋骨間。灸三壯。主氣淋，㿉疝，陰急，股引腨內廉骨痛，泄痢赤白，女子漏血不止。</p>

<h4>築賓二穴</h4>
<p>在內踝上腨分中。灸五壯。主小兒胎疝，痛不得乳，癲疾狂言。嘔吐沫，足腨痛，大疝，絕子。</p>

<h4>陰谷二穴</h4>
<p>在膝內輔骨後，大筋下，小筋上，按之應手，屈膝而取之。灸三壯。主膝痛如離，不能久立；痰涎下，煩逆，溺難。主舌下腫。及股內廉痛，婦人漏下，心腹脹滿，不得息，小便黃，男子如盅。女子如妊娠，寒熱，腹偏腫，脊內廉痛，陰痿。</p>
