<header data-type="book">
<h1>醫寄伏陰論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>田宗漢</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1888">公元1888年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>鄒序</h1>
<p>醫國醫人，異其事不異其理，變理陰陽，保合太和，措天下赤子於衽席之上。而痌瘝在抱者，醫國也。切脈望色，聽聲寫形，察肺肝，和心性，濟天時人事之窮，拯一時疾苦，俾民不夭札者，醫人也。古人所以等良醫於良相者此也。田君瀛嶠，與予至戚，生而穎異有奇氣，幼遵庭訓，所讀皆有用書，無不目十行下，旁通天星與輿奇門兵家醫家之學。少年提劍走四方，挾策謁當路，嚐出奇計，以功獲職，與圖要隘，無不在指顧間。田君者蓋志在醫國，而不原以術藝傳也。惜起蹶不常，卒不能大展其志。癸未歸里，寄於醫，數年來析微芒，決生死，罔不靈驗，應診之暇。並以其得心應手者，著成《醫寄溫熱審治》《伏陰論》二書，曩者習見之，或不覺其異。本年夏秋，陰疫盛行，時多不識其症，死亡相藉，遠近之叩請於其門者，則效如桴鼓，全活不可勝計。詢其秘則舉所著《伏陰論》見示，其書類分原病、變症、死候、禁令、瘥後、比類、舌鑑七則。知君之閱歷斯症者，屢矣，故能洞見本原，言之鑿鑿。斯書也，發前人所未發，誠壽世之慈航也。同時鄉先生張君殿春，胡君從周，毛君竹軒，鄒君云舫，胡君壽堂，周君云舫，均請公諸世。俾業醫者，知所觀摩，不致有誤生民。主人難之曰：醫固不易言，予之志在醫乎？予之醫足問世乎？況所編，僅偏端，不過聊寄吾意耳。管窺蠡測，敢云盡善。堅不許。適有客解曰：寄之義大矣，達則國事寄，窮則道義寄，君既以寄名篇，不欲虛所寄矣。況民生為國之本，是書出而民生有所寄，醫人豈異於醫國哉。猥以不顯於時，而等於蜉蝣之寄歟？二書縱不並出，《伏陰論》一書請先梓之，為醫學之寄。《溫熱審治》，姑聽其寄諸篋中，亦誠願以次而寄於世。矧田君齒壯志弗衰，所造益粹，古人有寄名凌煙功臣者，他日庶幾一遇耶。</p>
<p><u>光緒十四年戊子孟冬姻愚弟鄒沖恆蓮舫謹序</u></p>

<h1>黃序</h1>
<p>夫驂白蜺，馭翠螭，翔集紫虛，弭節蓬島，世謂仙靈，吾聞之矣。降離升坎，肄《素女》之經文，損角益商，窮軒皇之圖秘，金水韜跡，芝術駐顏，長生異術，卒未嘗覯焉。流形賦氣，強弱偶判徑庭，知誘，物交，修知遂分霄壤。縱令中崧產秀，鴻河誕英，眉壽，過百年，恆榦不逾七尺，寢興失節，則疵癘乘之。吐納違和，則沉疴中之。是以十全計上，職鱗次於王官，九折稱良，名彪炳於史策。然而楚莊遘疾，令尹請禱，趙簡嬰疢，閽吏詢巫。豈祈禳之技工，將刀圭之術左。蓋由經絡奧衍，脈候淵微，俞柎不作，岐伯遂往。溝針灸者，昧厥砭稜。論湯液者，茫然治案，抑或偏執臆見，服冰禦寒，膚受禁方，屑瓊辟穀，軍謠旁訊，患誤河魚，帝錄逖稽，診迷關蟄。況乎去古愈遠，浮偽彌滋，剽竊丹溪，附會青主，晨批金匱，何益採薪，宵談玉極，空勞求艾，醫道固若斯之難也。田君云槎，少負奇穎，似飲上池，壯遊通都，更耽《素問》，涉目創穫，懸解獨超。過靈蘭以浮觴，訪長桑而揮塵。凡夫喜怒哀懼愛惡七情，潛乖於寂感之初，風雨寒暑晦明六氣，交瞀於亭毒之際，無不瞻毫析證。辨色詳聲，索隱鉤深，研精入妙。若夫珍藥千品，寶丹百鍊，辛鹹殊味，溫涼異性。刑臣西上，藎篋未攜，世子南征，筠筐罕擷，綺李密贈，寄奴默識。囊括靈府，薈萃腕下。以故晉候妖豎，靡有遁形，周易伏蠱，直窮變態。效彰俄頃，功濟塵寰，華蓋成陰，高軒滋巷，韓康居市，襁褓爭歸，葛洪著書，雷電護守。返里多暇，撰《伏陰論》，題曰醫寄，授簡於予。予惟云槎博覽古今政化得失之跡，周知輿圖山川夷險之要，練達兵家戰勝攻取之極，洞悉郡國興利除弊之舉。顧乃輕祿薄貴，徜徉林壑，遺榮蠲勢，嘯歌槃澗。宅心澹定，消息陰陽，斂氣元虛，權衡金石，族黨脫於病厄，鄉鄰免於疾苦，衛生迓祉。宜書膠東五色之箋，養正延齡，足補淮南九師之訓。此則君以醫寄，而寄君所寄者，又閎且遠矣。</p>
<p><u>光緒十六年二月朔日愚弟黃良煇拜撰</u></p>

<h1>盧序</h1>
<p>天地，人身之所寄也。身體，四肢之所寄也。五官百骸，爪甲膚髮之所寄也。然則六經大道，其人之具體，而百家技流，其人之爪甲膚髮乎。古之隱淪皆有位天地育萬物，與時消息之具，而為飛為鳴為潛為蟄。操之人者，不可必也。至其負成人之體，以究成物之性，莫不俯仰上下，先後而一揆。瀛嶠田君，姿特瑰奇，幼誦經史百家之言，皆有所剖析。當咸同多事之秋，挾策遊當路，三起三蹶，自以身廢不用，而爪甲膚髮，或不為世棄也。爰隱於醫作醫寄，意者鈄寄其所寄歟，殊可惜也。</p>
<p><u>光緒十四年戊子季冬愚弟盧維雍肅卿謹序</u></p>

<h1>關序</h1>
<p>今年冬，（棠）病手足厥逆，不能自診，身熱無汗，但欲寐，自念此少陰病也。生平茹苦寒若飴，不敢決，醫者皆以為時溫。服藥五六日，下利慾吐不吐，心煩，病益劇。會周怡崧師，遣人問疾，命主川中張濟堂先生診視。先生至，切候久，詳訊所苦，索醫方觀之。驚曰：此少陰病也。見證似時溫，當於脈細微辨之。誤服寒涼，遲且不治，為處理中圓方，加生附子三錢作湯。家人疑藥峻，時（棠）已大悟，促煎服，一劑下斷，復加減消息之。蓋二十劑有奇而安。暇時憶及漢川田云槎司馬，嘗以所著《醫寄伏陰論》二冊見示，諈誘作序，因檢書與先生共讀之。先生曰：是書原本仲聖辨陰病霍亂，確體例善，立法採方術，因時變通，不戾於古，大有裨於世。惟未見全集，作單行本，則猶有未盡。未幾先生赴荊門之聘別去，會門人謝抬青來，為云槎索序。（棠）維序者，書之綱也。古者撰述家自為之。唐以後乃有為人作序者，亦必抉其義蘊，以著可傳之實，或有一二罅漏，亦必表而綴之。無取乎譽也。今是書之義蘊，濟堂先生言矣。惜所謂作單行本，有未盡者，未及與先生詳考，無已（棠）姑擬之。東南地下，歲常浸陰，病家濕重寒輕。若西北高亢，氣寒陰，病家寒重濕輕，則蘇砂二陳姜附等分。有進退，此單行本所宜綴也。《神應經》曰：百會穴在頂中陷中，容豆許，去前髮際五寸，後髮際七寸。馬元臺《注證發微》曰：發上百會五寸央。王宇泰《證治準繩》，引湯氏曰：百會一穴，前後髮際兩耳尖折中，乃是穴也。方書所載，但云頂上旋毛中，不審有雙頂者，又有旋毛不正者。又《銅人》三圖，《千金翼方》曰：太谿穴，在足內踝後五分，跟骨上動脈陷中，所謂寸分同身寸分也。上二穴載是書比類中，即所名伏陰病，亦有當及者。單行本採注加詳，則醫者知用也。濟堂先生嘗曰：仲景童便豬膽汁法，用輒不效。深思其理，蓋童便氣味鹹寒，膽汁氣味苦寒，古方劑重，汁便少故宜。今用姜附不過一二錢，而汁便幾於等分，是藥受制也。減之太少，則又無通格拒之力。先生易水激法，用冷水一大盂，待藥作湯成，即取一盅置盂內，隔水激之。數易水，趣令湯冷，頓服，使涼氣外彌，溫性內涵，應手得效。是又闡明仲景妙有變化，於書原病篇中，可參用，情且不違，而致大益者也。謹揣稱濟堂先生之意，冀增泰山之壤，至於書之可貴，則濟堂先生名醫，其言也信。</p>
<p><u>光緒十五年己丑冬十二月漢陽關棠叔。</u></p>

<h1>黃序</h1>
<p>庚寅夏五月，從孫義民，應禮部試，報罷南旋，歿於漢陽舟次。時予權漢川縣篆，同里徐詞卿孝廉，遣伻來告。予哭之慟，詢所患，則曰霍亂。因念是疾也，不足以死而竟死。竊悲門祚之薄，時不能去諸懷。明年田君瀛嶠，以所著《伏陰論》二卷見示，其言曰：先痢後嘔，厥逆轉筋之疾，與先嘔後痢，腹痛轉筋之霍亂有間。而世概目為霍亂，浪投苦寒，次則針砭，死亡者不可勝紀，又或辛烈過甚，亦成危候。又曰：春夏霪雨，陰霾太甚，此證卒發，皆陰邪伏藏，故立伏陰之名。其大旨推本《傷寒》《金匱》兩書，而一以補張仲景雜病論之遺，以視喻嘉言陰病論，有其過之。嗚呼，吾義民之疾先痢後嘔，厥逆轉筋，即所謂陰邪伏藏之證。醫者以霍亂治之，其藥之苦寒辛烈，雖不得知，而皆足以死義民。以是知義民之死於醫，非死於疾，而庸醫殺人，罪不容誅矣。田君漢川人，有志當世之務，所著疏浚騰池河說，甚有裨於縣之利病。雖格不能行，於心韙之。今又讀君是書，然則君固真能操醫世之術，而益念吾義民不幸，未遇君以夭其年，為尤可悲。因書以為序。</p>
<p><u>光緒十有七年春二月湘陰黃世崇序</u></p>

<h1>自序</h1>
<p>陰陽二氣，盛衰相倚，人在二氣交感中。陽淫熱疾，而陰淫寒疾。申豐云：冬無愆陽，夏無伏陰，春無悽風，秋無苦雨，此賴聖人調變贊化之功。否則氣偏為害，而方技家通其義者，卒罕觀焉。蓋自仲景昌明醫術，著《雜病傷寒》，並伏氣溫病，後賢藉為津梁。主厲氣則有吳又可之《瘟疫論》，主時氣則有葉天士之《溫熱論》。雖各抒所見，派別畛分，要皆繼往聖而開來哲。引伸觸類，為益無方，以是嘆前賢之嘉惠後學，信不少也。向使仲景雜病諸篇流傳至今，則凡諸暴病，當必有所發明，以示後人之準的。而惜乎其年湮代運，散佚無徵也。（漢）讀《傷寒論》，既恍然於溫熱一門，有伏氣即有時感，因疑陰病中類皆時感，何遽無伏氣，彷徨未決者久之。同治庚午秋，遊江南歸。至漢皋，見病家先痢後嘔，厥逆轉筋，比鄰死亡相隨續。醫者認作霍亂，投以苦寒芳香等藥，或加針砭，皆不一效，舉世目為絕候。（漢）心竊疑之，按霍亂初起，心腹絞痛，嘔吐而利，此則先痢後嘔，並無腹痛，其非霍亂已有明徵。因默揣本年春霖壞麥，夏日衣綿，決其為沉陰內伏，晚發為患，此症當作伏陰治。仲景《雜病論》，書雖不傳，而治陰病之理中、四逆、白通、吳茱等方，散見《傷寒》《金匱》例中者，尚堪尋繹，乃略仿其法，試之輒效，隨筆記錄。至光緒乙酉，閱十六年矣，復歷驗四次，遂編校成本，命曰《伏陰論》，匯諸醫寄帙中。戊子夏秋，此症始見廣閩，繼行江浙，並我湖湘，及吾邑鄉里。其以霍亂法治者，百無一驗。（漢）複製方送診，全活無算。搢紳鄉耆，集金勸梓，謂當出公諸世。（漢）自慚譾陋，不能追蹤前賢，然平生得力之處，亦有不敢自秘者，謹序厓略，勉從所請，並系以贊。</p>
<p>贊曰：凡陰之伏，胥由愆陽，濕淫寒診，中絡潛藏，金火交戰，疾勢乃張。苟達斯術，卻疴召祥。</p>
<p><u>光緒十四年歲次戊子十月立冬日漢川田宗漢撰於對古樓</u></p>

<h1>凡例</h1>
<p>治病必先正名，則立方有準，頭頭是道。如先痢後嘔厥逆轉筋之疾，原與先嘔後痢腹痛轉筋之霍亂病有間。而世概目為霍亂，浪投苦寒，次則針砭，死亡者不可勝紀。而矯其弊者，又或辛烈過甚，亦成危候。（漢）按每春夏霪雨之年，陰霾太過，夏秋之際，此症卒發。所行方道，如鬼傳役。再四推求，皆陰邪伏藏孫絡所致，故立伏陰之名，以示區別。</p>
<p>伏陰本陰病之屬，仲景著《傷寒論》十卷。治傳經陽病，著《雜病論》六卷，治暴發陰病。惜《雜病論》失傳，而陰病多置弗論。喻嘉言始倡陰病論，於《傷寒》《金匱》中摘取條例，闡發陰病之旨，仍於伏陰一症，未嘗道及，今故揭之。</p>
<p>《傷寒》《金匱》兩書，所存之理中、四逆、白通、吳茱等症，皆《雜病論》散亡之餘。而錯簡者也，茲既揭伏陰之病源病狀。應將《傷寒》《金匱》中之陰病，有與伏陰同派者，分別繹出。其霍亂載於《傷寒》例者，亦必繹出。俾得比類並觀。</p>
<p>是書首揭總說，次載症辨，再分為原病、變症、死候、禁令、瘥後、比類、舌鑑七則。原病者，未壞之病也。變症者，失治之候也。死候者，難於復理也。禁令者，不可違犯也。瘥後者，須明調理也。比類者，藉以引觸也。舌鑑者，察苔辨症也。</p>
<p>伏陰有觸發舊疾而並病者，其狀未能預定。尤須臨診審辨，不得墨守。</p>
<p>是書體例，仿仲景《傷寒論》文，取簡要便於誦記。一切議論，分注條下，俾一見了然。惟比類之陰病霍亂兩症，由《傷寒》《金匱》原文繹出，別以原文解二字。其註解皆取前賢精粹者而集之於註上，別集注二字，不加釋一意，以滋贅文。</p>
<p>是書所用方劑，於方下注明某法，俾知法而後知用。如遵經方，則於方下書經字。用傳方，則書傳字。有因病制宜，別立方法者，則書「擬」字，並於方後解明立方之意。其方如經前賢所解者，解上並寫集二字。自解者，寫「方解」二字。</p>
<p>方中所定分量，合照時宜。惟比類一則所載方劑，悉依古制。其用方有主之有宜有與有可與四層。深入醫門者，必知其意。</p>
<p>是書症目，略舉病狀，並附方法，以為展閱之便。</p>
<p>是書所揭脈症方法，皆（漢）入醫以來，研古究今，久經歷驗所得。但醫以活人為心，故不敢自秘。出問諸世，原非藉以買名，其或有管見未及之處，尚望諸方家，補其不逮，是所深幸。</p>
<p>是書編匯已久，對古樓課授生徒，向已標示名讀，今仍其舊刻之。雖於四部古本，例有未合，然便初學，亦當揆表。</p>

<h1>卷上</h1>

<h2>時行伏陰總說</h2>
<p>天地之道，一陰一陽，陽升則陰降，陽浮則陰沉，陽降則陰升，陽沉則陰浮。升降浮沉，陰陽之變化，生殺之證。蓋陽氣升於春，浮於夏，降於秋，沉於冬，是故春溫、夏熱、秋涼、冬寒，為四序之常候也。四序失則寒暑愆，非其時而有其氣，則為異氣，異氣未有不病人者。春夏陽氣開張之際，適值陰雨不止，雨淫濕盛，則陽氣自微，而寒氣自生，寒濕相搏，結成一困。陰霾之氣，致人受之，則上客於肺，中客於脾，下客於腎。即病則名寒濕。如不即病，其邪必伏孫絡，則為伏陰。直至夏秋，陰氣內盛，陽氣外泄，久伏孫絡之邪，從陰而化，發端於膜原。膜原在胸膺之內，夾脊之前，正經胃交關之所，為諸經之總會也。陰邪踞此壅遏氣機，清無所升，濁無所納，三焦表裡衛氣血，皆為所阻。於是胸中不樂，頭微眩，四末微麻，小便不通，下利清水，嗢嗢欲嘔。一經嘔吐，聲喑耳鳴，面塵肌消，目眶陷，目睛冒，渴欲熱湯，四肢逆冷，脈微或伏，轉筋疼痛，冷汗自出。有類霍亂，變則嘔止而噦，或噫或呃，或咳或懊憹，或心下痞塞，或心煩惡熱，而肢體若冰，甚則心中如焚，渴欲冷飲，搧扇不知風，飲冰不知冷，臥地不起。大要此症皆以小便通利則生，不通則死。其間有僅下利而不嘔吐者，陰邪就下為病也。有朝發暮死者，重感於邪也。又有觸發舊疾而並病者。有誤藥針而成危候者。有病退失調，而終歸冥路者。不可言狀，初治之法，當以溫中通陽，為第一義，大忌苦寒助邪，消克伐正。如神形已奪，切勿與芳香投針石，以氣血不可再奪耳。所謂無盛盛，無虛虛。而遺人夭殃，無致邪，無失正，絕人長命。若轉筋危急，則湯熨之法，最為穩捷。至於變症用藥，或宜補，或宜通，在臨診審量，其諸方劑，詳訂後條。</p>

<h2>伏陰霍亂辨</h2>
<p>伏陰一症，古書鮮見，而近代病此最多。因其嘔利轉筋有類霍亂，故世以霍亂稱之。夫霍亂之義，揮霍撩亂，皆緣寒溫不調，飲食不節，以致風寒暑濕之邪，與宿食冷滯相搏。清濁溷淆，亂於腸胃，而脾胃之氣困矣。為病則心腹絞痛，嘔利並作，內亂極而之外，則為轉筋疼痛。大抵霍亂嘔利，必有兼見之狀。如頭疼發熱，惡風惡寒者，為感風寒而病也。身熱煩渴，氣粗喘悶者，為感暑邪而病也。身重骨痛，渴飲熱湯者，為感濕邪而病也。是霍亂固有風寒暑濕之分，故治法有或清或溫之不同耳。若伏陰之病，蓋由春夏感受寒濕陰邪，不即為病，伏於肺脾腎三經孫絡，乘人陰氣內盛之時，遂從陰化而發也。其為病也，先利而後嘔，並無腹痛，較霍亂之卒然心腹絞痛，嘔吐而利者有間。霍亂之候，四時皆得有之。不僅發在夏秋，病則一井之中，僅見一二。伏陰之候，專在夏秋，病則遠近一律，如傳役霍亂，發暴而退速。伏陰發緩而退不易，霍亂脈大為可治，微細為不可治，伏陰脈微或伏，尚屬可治。惟陽氣將通，脈當微續，若暴復洪大者，反不可治。以此較之，源異而派殊，故其名不可不辨也。古人所謂治病，必先辨名，識得病名。而後可以究病因，察病狀。則立方用藥，自有把柄。雖千變萬化，卻有一定不移之法。予因近代寒濕伏邪，為患甚鉅。奈舉世皆以霍亂目之，而方法錯亂，遺人夭殃，可勝惜哉。茲特辨正病名，俾入門診視者，先取而明辨之，則病是者，不為藥石所誤，而同登壽域矣。</p>

<h2>原病</h2>
<p>伏陰之為病，先利而後嘔，脈微欲絕，甚則脈伏。</p>
<p>此揭時行伏陰之脈症也。凡後稱伏陰病者，皆準此。</p>
<p>伏陰病，本寒濕陰邪，伏藏肺脾腎三經孫絡而晚發也。蓋寒者水之氣，濕者水之標，水為天一之元，於卦為坎，而先天屬坤。故在天為寒，在地為水，含於土中為濕，濕動則為潮為霧，升騰於天，則為云，轉而下降則為雨，為露，為霜雪。得時則萬物得養，失時則萬物致害。如歲火不足，則水氣乘之。春當溫而不溫，夏當熱而不熱，以天之寒氣下降，地之濕氣上升耳。人感其氣，則肺脾腎三經受邪，何者天氣通於肺，地氣通於脾，水氣通於腎也。又肺脈起中脘，脾脈從胃別，上膈注心中，腎脈從肺出，絡心注胸中，皆經胃交關之所。故寒濕伏邪，發端於此，邪勢將發，則肺脾腎三經之陽氣奪矣。腎陽奪則水無所主，脾陽奪則水無所制，肺陽奪則肅化失職，膀胱不得宣泄，而水無所通。於是水液氾濫於腸胃，直決而下，故下利清水。水液下利，則陰氣上逆而為嘔。經云：陽病者上行極而下，陰病者下行極而上，故此病先利而後嘔。脈者血之府，寒盛則血凝，凝則脈不通，故脈微欲絕，甚則脈伏。</p>
<p>伏陰病，胸中不樂，頭微眩，四末微麻，小便不通，下利清水，嗢嗢欲嘔者，蘇砂平胃散主之。（二）</p>
<p>此承上條，以詳其治也。陰邪擁踞膜原，清陽為其阻遏，不得上達頭腦，旁通四末。故頭微眩，四末微麻，清陽不運，則胃家水穀之精，不得遊溢於脾，而上歸於肺，通調水道，下輸膀胱，故小便不通。小便不通，則氾濫，腸胃之水無所消納，故下利清水。然水有或白或黃或黑之別，白色者肺病甚，黃色者脾病甚，黑色及純清者，腎病甚，各就其偏勝而化也。嗢嗢欲嘔者，陰邪逼胃也。此際如非溫中通陽之方，不足以破陰邪擁踞之勢，故主以蘇砂平胃散。</p>
<p><u>蘇砂平胃散</u>　溫中通陽法　傳</p>
<p>茅山蒼朮（二錢）　厚朴（一錢，薑汁炒）　陳橘紅（一錢）　甘草（一錢）　紫蘇葉（一錢）　砂仁（一錢）</p>
<p>共為粗末，加生薑一錢，大棗三枚，水三杯煎，分三服，不愈再照前煎服。</p>
<p>嘔吐清水，加桂枝一錢。水漿不得受，加乾薑八分。轉筋疼痛加川牛膝二錢，艾絨一錢。</p>
<p>下利白水，倍紫蘇，加紅豆蔻一錢。下利黃水，倍蒼朮。下利黑水，或純清水，倍砂仁。</p>
<p>如服藥不受，再加童便一杯，衝入藥內，隨嘔隨服，不分劑次，總以不嘔為度。</p>
<p>方解　平胃散一方，原為滿悶嘔泄設。蓋以陰氣不積，胸中不得滿悶，寒不侵胃不嘔，濕不困脾不泄。故方中有蒼朮、厚朴、橘紅、生薑之辛溫，以消陰邪。甘草、大棗之甘平，以益脾胃，合為辛甘通陽之劑，使陽復則陰消。而滿悶自除，嘔泄自止。茲寒濕伏邪，發端於膜原，而為胸中不樂，頭微眩，四末微麻，小便不通，下利清水，嗢嗢欲嘔，較之滿悶嘔泄，雖異派而同源。故就原方，加紫蘇、砂仁，以通肺腎之陽，並助諸藥力，溫中行氣。俾肺脾腎三經之陽氣來復，而擁踞膜原之陰邪，可立消矣。</p>
<p>伏陰病，嘔吐清水，耳鳴聲喑，四肢逆冷者，宜蘇砂平胃散，加桂枝。水漿不得受者，再加乾薑。（三）</p>
<p>上條嗢嗢欲嘔者，陰邪逼胃也。胃家既為陰邪所逼，則嘔吐在所不免。耳者宗脈之所聚，嘔吐則胃中空，而宗脈虛，虛則下溜，脈有所竭，故耳鳴。喑音，聲不喨也。蓋音出於肺，而本於腎。陰氣客於會厭，則肺腎之氣發而不宣，故聲喑。四肢逆冷者，陽氣衰不能滲榮其經絡，故手足為之寒也。較上條四末微麻為甚，此際正氣雖奪，而邪勢方張。當以驅邪為務，則蘇砂平胃散宜之。加桂枝者，以其辛香內通臟腑，外通經絡，為善通血氣之上品耳。水漿不得受者，陰邪上逆而拒格也，故再加乾薑以散逆。</p>
<p>伏陰病，面塵肌消，目眶陷，目睛冒，渴飲熱湯，四肢逆冷者，附子理中湯主之。（四）</p>
<p>伏陰病，即首條所訂之脈症也。手足陽明，皆為多氣多血之府，主肌肉，其脈榮於面，大肆嘔利，則腸胃空乏。所以面塵肌消，肌消則目眶陷，五臟六腑之精氣，皆上注於目，而為之睛，嘔利太過，則精氣內奪。故目睛冒，冒者睛竭不能照物，上視而露白也。嘔利傷津，津傷則思水以潤之。陰盛奪陽，陽奪則思火以熨之。故渴飲熱湯，四肢逆冷，上條已言之矣。此症陰邪充斥，內外彌滿，而陽氣幾盡。如非離照當空，何以消陰霾而轉陽和，故以附子理中湯主之。</p>
<p><u>附子理中湯</u>　復陽消陰法　經</p>
<p>附子（二錢，炮）　人參（一錢）　白朮（一錢，生用）　乾薑（一錢）　甘草（一錢，炙）</p>
<p>水二杯，煎去滓，分二服，不愈再依前煎服。</p>
<p>轉筋，加艾絨二錢，川牛膝二錢。</p>
<p>嘔甚加半夏一錢，薑汁一匙沖服。</p>
<p>腹痛加木香一錢。</p>
<p>臍下動氣，去朮加肉桂六分。</p>
<p>心中悸，加茯苓二錢。</p>
<p>妊婦加當歸二錢，芎藭一錢。</p>
<p>濕盛易白朮為蒼朮二錢。</p>
<p>呃逆加丁香、柿蒂各一錢。</p>
<p>方解　人身一陽氣為主，人之有陽，猶天之有日。日光煦照，則萬物發生，陰氣蔽明，則萬物疵癘。寒濕皆陰慘之邪也，陰邪盛則陽氣衰，衰而不振，其氣乃竭，竭則真陰絕而死。是故生氣通天論云：陽氣者，若天與日，失其所，則折壽而不彰。仲聖有理中、四逆、真武、白通等方，皆為破陰救陽設。茲陰邪充斥，內外彌滿，而陽氣幾盡。不得不假附子理中之離照，消陰復陽，以大起生機。原方用人參、甘草補益中土，白朮健脾燥濕，乾薑溫胃散寒，洵治中脘虛寒之的劑也。而此症以之消陰復陽，重在加一附子耳。至於嘔甚加半夏、薑汁，轉筋加牛膝、艾絨，腹痛加木香，動氣去朮加肉桂，心中悸加茯苓，妊婦加芎歸，濕盛易白朮為蒼朮，呃逆加丁香柿蒂。皆隨症變法，不得拘拘其方。</p>
<p>伏陰病，轉筋疼痛者，附子理中湯主之。蘇砂平胃散亦主之。均宜加牛膝、艾絨，危急者以湯熨法。（五）</p>
<p>轉筋疼痛者，陰邪搏筋，筋脈因而斂急也。故以消陰復陽之附子理中湯，加牛膝艾絨溫筋和血，逐濕祛寒，則表裡並治矣。若初起即轉筋者，又當以驅邪為重。故以蘇砂平胃散，仍加牛膝艾絨。兩方均宜加之者，以牛膝苦酸，主寒濕痿痹，四肢拘攣。且似人筋，故能直達筋所，紓筋和血，艾絨溫暖，善祛寒濕，有溫中達表之功，能轉肅殺為陽和。則搏筋之邪，當隨汗解，不得有轉筋入腹之患。若疼痛危急，則以湯熨法，溫筋散邪，以助藥力，而收全功。</p>
<p><u>湯熨法</u>　擬</p>
<p>蓼梗並葉根一大束，水煎湯蒸轉筋痛處，得汗則愈。</p>
<p>蔥白一握，捶作餅，貼痛處。以艾絨如荔核大，於蔥餅上火燃灸之，得暖則愈。</p>
<p>小麥麩升許，酒調焙熱，布包線扎，熨揉痛處，冷則易之，以愈為度。</p>
<p>以上各法，屢用屢驗，必須內服通陽方劑，以逐其邪。否則毒復陷里，反成危候。</p>
<p>伏陰病，冷汗自出者，陽復則止。（六）</p>
<p>伏陰病，冷汗自出者，身冷汗出也。經云：陰勝則身寒汗出，身常清。仲聖云：極寒反汗出，身必冷如冰，是皆為陰汗而言也。人但知熱能致汗，不知寒亦致汗。寒者非外感之寒也，乃陰盛陽衰不能衛外，致表虛不固而汗，隨氣泄也。法當察氣虛之微甚。微虛者，略扶正氣，其汗自止，甚虛者，非甘薑桂附速救元陽不可。大抵此症自汗，不必專司，但權正病之輕重，隨勢用藥，使陽氣來復，而汗自收矣。診者勿以汗出為慮，浪投固澀，致人於死。</p>
<p>伏陰病，法當嘔，今反不嘔者，必腰痛或面赤腹痛，乾嘔咽痛，利止脈不出者，通脈四逆湯主之。（七）</p>
<p>伏陰病，本先利而後嘔。今下利清水，渴飲熱湯，手足逆冷，脈微欲絕，或伏而不見，轉筋疼痛等症悉具，而反不嘔吐者，腎部虛寒，伏邪就下為病也。腰為腎之部分，邪氣發端於此，故知其人腰必疼痛，又或面赤，或腹痛，或乾嘔，或咽痛，或利止脈不出者，皆少陰腎經虛寒之所致也。大要面赤者，陰盛於下，陽格於上也。腹痛者，陰陽不和也。乾嘔者，陰氣鼓胃也。咽痛者，少陰之邪，循經而上結於咽也。利止脈不出者，正氣內奪，血無所主，泣澀而不通也。當此陰邪充斥，生氣已離，亡在俄頃。如非大劑溫通，疾回元陽，不足以挽生機，故主以通脈四逆湯。</p>
<p><u>通脈四逆湯</u>　甘熱回陽法　經</p>
<p>乾薑（二錢）　附子（二錢）　甘草（一錢）</p>
<p>水二杯，煎去滓溫服。脈不出，再依前法煎服。</p>
<p>轉筋疼痛，加牛膝一錢，艾絨一錢。</p>
<p>面赤，加蔥白三莖冷服。</p>
<p>腹中痛，加芍藥一錢五分。</p>
<p>乾嘔加生薑一錢。</p>
<p>咽痛加桔梗一錢。</p>
<p>利止脈不出者，加人參一錢五分。</p>
<p>腰痛甚加杜仲一錢五分。</p>
<p>方解　通脈四逆湯，即四逆之變法也。經云：寒淫於內，治以甘熱，濕淫於內，治以苦熱，是方備之矣。武進費伯雄曰：陰慘之氣，深入於裡，真陽几几欲絕。非此純陽之品，不足以破陰氣而發陽光。又恐姜附之性，過於燥烈，反傷上焦，故倍用甘草以緩之。茲陰邪充斥，生氣已離，亡在俄頃，當大呼疾叫以回元陽，而挽生機。又非柔緩之甘草所能當其任，故倍乾薑。若轉筋加牛膝、艾絨，舒筋和血也。面赤加蔥白冷服，通格上之陽也。腹痛加芍藥，和在裡之陰也，乾嘔加生薑，降逆和胃也。咽痛加桔梗，散陰邪之上結咽中也。下利止脈不出，加人參補元氣以復脈也。腰痛甚加杜仲，益精強志，俾正復邪除也。加減隨宜，貴在審勢，不必刻舟求劍。</p>

<h2>變症</h2>
<p>伏陰病，嘔利止厥回而噦者，養胃湯主之。半夏橘皮湯亦主之。若厥不回而乾嘔者，可與橘皮湯。（一）</p>
<p>噦與乾嘔相似，皆有聲無物。但噦聲濁而長，嘔聲小而短。伏陰病嘔利止厥回而噦者，其因有三，一則胃氣虛槁，肝木乘而鼓之也。一則因津竭而恣飲水漿，水虛相搏也。一則痰飲乘虛壅塞胃口，反令胃氣上衝也。總緣嘔利太過耳。養胃湯所以養胃氣潤枯槁，則肝木無隙可乘，自爾胃安噦止。半夏橘皮湯，既有散水調虛之功，又有滌痰降逆之用。則水虛相搏，與痰飲壅塞胃口者，皆能已之。故兩症並治也。若厥不回而乾嘔者，皆膈間陰邪未盡，胃中陽氣不宣鬱而上逆也。橘皮湯通陽消陰，宣胃降逆，故可與，其他肺熱氣壅熱邪郁遏胸中，腸胃實滿，膀胱熱結，陽升風動，陰虛火炎，種種致噦者，各有專門，不在此例。</p>
<p><u>養胃湯</u>　養胃潤槁法　擬</p>
<p>人參（一錢）　沙參（二錢）　萎蕤（二錢）　石斛（二錢，先煎出汁）　甘草（一錢，炙）　半夏（八分）</p>
<p>加大棗三枚擘，開水五杯，煎至二杯去滓，分二次溫服。不已再依前法煎服，或加生薑八分亦可。</p>
<p>治胃虛津槁之嘔逆，加刀豆子一錢煅用。</p>
<p>新瘥不欲食喜飲者，加白芍二錢。</p>
<p><u>半夏橘皮湯</u>　溫胃散水滌痰降氣法　擬</p>
<p>半夏（二錢）　橘皮（一錢）　茯苓（一錢）　人參（一錢）　甘草（一錢，炙）　乾薑（一錢）</p>
<p>加大棗三枚擘，開水三杯，煎去滓頓服，不已再服，或加生薑八分，咳逆者亦可與服。</p>
<p>方解　嘔利是卻奪胃津，空乏胃氣，於是土虛木乘而為噦也。養胃湯用人參、沙參、萎蕤、石斛、甘草、大棗純甘填胃。其樞紐全在半夏之辛平降逆和胃，運布津液。則胃氣自復，胃津自還，而木平噦止矣。又半夏橘皮湯方中以人參、甘草、大棗補益胃氣，乾薑、茯苓溫胃散水，半夏、橘皮滌痰降氣。故水虛相搏，痰飲塞胃，皆能已之。兩方均有加用生薑之例，蓋亦散逆之意耳。</p>
<p><u>橘皮腸</u>　通陽消陰宣胃降逆法　經</p>
<p>橘皮（二錢）　生薑（四錢）</p>
<p>水三杯，煎去滓，分三服。</p>
<p>方解　凡藥之苦者必降逆，辛者必散郁，溫者必消陰邪。茲陰邪留於膈間，阻遏胃中陽氣，因而厥逆乾嘔，未可遽進補劑，壅塞氣機，則是方可與也。</p>
<p>伏陰病，嘔利止，心下痞硬，噫氣不除者，可與代赭旋覆湯。（二）</p>
<p>嘔利雖止，而胃氣已虛，則厥氣上逆連衡，痰飲壅塞，心下阻礙氣機。故心下痞硬，噫氣不除，噫者胸中不紓，氣鬱而出之不覺也。俗謂暖氣，代赭旋覆湯，補中宣氣，鎮逆滌痰，故可與。</p>
<p><u>代赭旋覆湯</u>　補中宣氣鎮逆滌痰法　經</p>
<p>代赫石（一錢）　旋覆花（二錢，絹包）　人參（二錢）　甘草（一錢，炙）　半夏（二錢）　生薑（一錢）　大棗（三枚，擘）</p>
<p>水三杯，煎二杯去滓，分二次溫服，不愈再煎服。</p>
<p>（方解）　嘔利後，中虛氣逆，雖心下痞硬，噫氣不除，不可攻伐，以犯虛虛。故用人參、甘草、大棗、生薑溫補中氣，代赭鎮逆，佐人參歸氣於下，旋覆宣氣，佐半夏滌痰於上，濁降則痞硬可消，清升則噫氣自除。此本傷寒發汗若吐若下解後，心下痞硬噫氣不除之方，而此症似可比類並觀，不妨借用。</p>
<p>伏陰病，嘔利後胃家虛寒而呃者，與附子理中湯，加丁香、柿蒂。胃家虛熱而呃者，與橘皮竹茹湯。胃虛痰滯者，與丁香柿蒂湯。胃虛津槁者，與養胃湯加刀豆子。（三）</p>
<p>呃者䭇也，氣逆也。俗稱打䭇，古謂之噦誤也。此症有虛有實，有火有痰，有水氣，有冷滯。大要治虛以補，治實以泄，治火以清，治痰以滌。水則分利，滯則消導，固不易之理也。所謂溫而補之，清而泄之，引而伸之，達而降之，推而逐之，開而豁之，無非治呃之法也。惟伏陰之呃，雖微有寒熱之分，而胃虛兩字定矣。如舌苔黑而滑者，胃家虛寒也。與附子理中湯，加丁香柿蒂溫補以止呃。舌無苔，唇淡紅而乾者，胃家虛熱也，與橘皮竹茹湯，清補以止呃。胸痞不飢，喉間洒洒有聲者，胃虛痰滯也，與丁香柿蒂湯，益胃豁痰以止呃。舌淡無苔，口乾思飲，得食呃稍止者，胃虛津槁也，與養胃湯加刀豆子，益氣生津以止呃也。</p>
<p><u>橘皮竹茹湯</u>　清補止呃法　經</p>
<p>橘皮（一錢五分）　竹茹（一錢五分）　人參（一錢）　甘草（一錢，炙）　大棗（三枚，擘）　生薑（八分）</p>
<p>水三杯，煎去滓，溫服，不已再煎服。</p>
<p>（方解）　伏陰之邪，何以反生熱呃？蓋因藥劑辛燥太過，消灼清津，致胃中津虛生熱而為呃也。故仍以橘皮竹茹湯，補虛生津，散逆清熱，則胃安而呃止矣。</p>
<p><u>丁香柿蒂湯</u>　溫中降逆法　傳</p>
<p>丁香（一錢）　柿蒂（一錢）　人參（一錢）　橘皮（一錢）　半夏（二錢）　茯苓（二錢）　甘草（八分，炙）　生薑（一錢）</p>
<p>水四杯，煎去滓，分二次溫服。</p>
<p>方解　伏陰嘔利後，胃虛痰滯而呃者。蓋陰邪雖退，而陽氣已虛，虛則水精不運，凝積而為痰也。痰滯則氣逆，呃之所由生也。方以橘半姜苓，佐丁香、柿蒂，溫中和胃，降氣滌痰。又以人參甘草，補益正氣。俾水精得以運行，則痰消氣順，而呃逆自止。古人治火呃亦用此者，從治之意也。</p>
<p>伏陰病嘔利後，頭汗出，微喘，呃聲連連者，急與參附湯調刀豆粉。（四）</p>
<p>陰慘之邪，深入於裡，既奪脾胃，以為嘔利，復逼腎氣而走散真陽，厥氣以之上逆。故頭汗微喘，呃聲連連，當此危亡之候。如非急與大劑參附湯，調服刀豆粉，峻補脾腎，收攝真陽，不足以挽性命於微芒。若用丁香柿蒂橘皮竹茹等方，以為穩當則誤矣。</p>
<p><u>參附湯</u>　峻補脾腎收攝真陽法　傳</p>
<p>人參（三錢）　製附子（三錢）　刀豆子（二錢，煅存性，研為末）</p>
<p>水三杯，煎參附至一杯去滓，調刀豆子末頓服。</p>
<p>方解　補先天無如附子，補後天無如人參，此脾腎兩補之方也。刀豆子溫中下氣，利腸胃，益腎陽。以之佐參附理脾和胃，納氣歸元，則頭汗自收，微喘自定，呃逆自止。用末者，蓋急治之意耳。</p>
<p>伏陰病咳逆者，與半夏橘皮湯。（五）</p>
<p>陰邪客於肺，留而不去，則清肅之令不得下行，氣逆而為咳也。治當開肺逐邪，溫中降逆，則半夏橘皮湯可與也。</p>
<p>伏陰病，心中懊憹，時欲嘔，咯痰得出，則氣鬱少寬者，宜二陳加香砂湯。（六）</p>
<p>脾陽困則泄，胃陽困則嘔，嘔泄並作，則脾胃兩傷。傷則升降不利，轉輸失職，於是水精不得運布，而凝積為痰，痰壅胸膈，則懊憹生焉。懊憹者，鬱郁不舒貌，比之煩悶尤甚。時欲嘔者，氣鬱欲伸之象，所以咯痰得出，則氣鬱少寬。治痰之法，在上者越之。而正氣已虛，難堪再事峻吐，故宜二陳湯加香豉砂仁，運脾和胃，理氣化痰，以代吐劑之用，令吐者自吐，而無虛虛之弊。此與傷寒表未解，誤下而成懊憹者不同。</p>
<p><u>二陳香砂湯</u>　運脾和胃理氣化痰法　傳</p>
<p>半夏（二錢，薑製）　陳皮（一錢）　茯苓（一錢）　甘草（五分）　淡豆豉（一錢，炒香）　砂仁（五分）</p>
<p>水三杯，加生薑五分，煎去滓頓服，令痰出乃安，不安再煎服。或藥後以指探咽取吐，俾痰隨吐而出，較之峻吐為穩。</p>
<p>方解　中不和則痰涎積，二陳為治痰之主藥也。茲伏陰病，嘔利後，心中懊憹，時欲嘔，咯痰得出，則氣鬱少寬，其為痰壅胸膈明矣。夫膈上痰患，非吐不除，而吐則正氣益虛，惟以理氣化痰之二陳湯代之。加豆豉、砂仁者，以豆豉本穀食所釀，炒香合砂仁。溫中行氣，和胃運脾。俾正氣從斯以安，邪氣從斯而除。藥後復以指探咽者，引伸而取吐也。</p>
<p>伏陰病，心下痞塞，按之滿悶者，疏中丸主之。（七）</p>
<p>痞塞滿悶，皆不通之象。所以不通者，脾胃之升降失職，濁陰之氣填塞胸腹耳。此症嘔利傷中，中陽虛則痰氣得以上逆，陽位而為痞塞。故按之滿悶，主以疏中丸者。所謂中焦如漚，疏而逐之也。</p>
<p><u>疏中丸</u>　升清降濁理氣化痞法　擬</p>
<p>製半夏（二兩）　人參（一兩）　白朮（五錢，生用）　升麻（一兩）　銀州柴胡（一兩）　豬苓（一兩）　化州橘紅（五錢）　澤瀉（一兩）</p>
<p>曬焦碾末，米湯疊丸，勿令見火，每以三錢，生薑煎湯吞下，日二服，夜一服，以愈為度，小便通利，其痞自消。</p>
<p>又嘔利後心下痞硬，按之則痛，用枳實理中陷胸泄心等方，及湯熨揉湯等法，不效者亦可與。</p>
<p>方解　痞，否也。塞滿亦否也。天地不交而為否。嘔利傷中，則脾之清氣不升，而下溜。胃之濁氣不降而上逆，逆則陰氣滿腹。痰飲聚於胸中，而痞塞滿悶之病成矣。方以人參、白朮益胃健脾，補中培土，使升、柴從九地之下，升清於上。豬、澤從九天之上，降濁於下。清升濁降，痞塞自開，而轉否為泰之功，在半夏、橘紅之善開肺降逆耳，半夏散中有斂，力能斂清散濁，故數治於橘紅也。</p>
<p>伏陰病，心下痞硬，按之則痛者，新制理中散主之。（八）</p>
<p>嘔利中虛，脾胃困鈍，新進飲食不能運化，與乘虛上逆之痰氣相搏，故心下痞硬，按之則痛。法宜溫中補土，行氣導痰，故以新制理中散主之。</p>
<p>若與專事消克通利方，則死不旋踵矣。</p>
<p><u>新制理中散</u>　溫中補土行氣導痰法　擬</p>
<p>人參（一兩）　白朮（一兩，生用）　茯苓（一兩）　枳實（一兩）　乾薑（三錢）　陳皮（三錢）　甘草（五錢）　砂仁（五錢）</p>
<p>共曬焦為細末，每以五錢，水一杯煎服，日二服，夜一服。</p>
<p>嘔利後誤食冷滯，或誤餌苦寒藥劑，而成痞硬疼痛者，亦宜服之。</p>
<p>方解　中虛挾寒，脾胃困憊，古人有理中湯丸以治之。若溫邪將發，冷滯適傷。或藥餌苦寒，阻遏升揚之勢，邪氣不得外泄而壅塞。心下又或傷寒誤下，結胸陷胸泄心等法不效者，悉以理中方加枳實、茯苓，名枳實理中丸，治之神效。蓋方中以人參益胃，白朮健脾，甘草和中補土，乾薑溫中散寒，又加茯苓導邪，枳實通壅。仍以理中名者，燮理中氣之義也。中氣旺則運化有權，不問寒凝氣滯虛逆結胸皆可立除。茲復加砂仁、陳皮，助諸前藥，溫中補土，行氣導痰，雖有堅積，亦當自化。</p>
<p>伏陰病，嘔利止，或未止，心中煩，喜熱飲，時去衣被，而肢體若冰，與附子理中湯加童便。其煩不退者，正陽丹主之。（九）</p>
<p>陰邪阻遏，陽氣鬱於胸中，故心中煩。煩者，心中悶亂，轉側不安也。又心煩則氣燥，燥則思水以潤之。而喜熱飲者，陽微喜暖也。時去衣被者，陽郁欲伸也。陽氣既為陰邪所困，不能榮於衛外，故肢體若冰。法宜溫中以振陽氣。而陰邪內外布滿，不用嚮導，則溫中之藥不得入。故以附子理中湯加童便。藥後煩仍不退者，元陽失守之徵也。夫元陽之氣，生於太極未判之時，藏於水中，而不離乎水，相君火以資運用，故喜溫而惡寒。腎為人之水藏，陰邪侵凌於下，則元陽失守而上，君主為之不寧。又非溫中振陽法所能安其君相也。設正陽丹者，使相火自歸其宅，君火以之獲安，則煩亂自解矣。</p>
<p><u>正陽丹</u>　闢陰正陽法　擬</p>
<p>龍齒（六錢，生用）　丹砂（一錢，明亮如箭鏃者真）</p>
<p>共研極細，每用一錢，開水沖服。（並治驚病安魂魄）</p>
<p>方解　龍稟天地純陽之氣以生，出乎震而藏乎坎，其性至動而能靜，故其骨齒收斂正氣，鎮攝元陽。丹砂得天地五行之精，以成其質，其色正赤，又為天地純陽之色，其體屬金，而其色屬火，有兌離之象，以卦體論，震為先天之離，兌為先天之坎。天地所用者水火，人生所用者精神，故斂精之龍齒，併入火藏以養神，清神之丹砂，併入水藏以補精。其能安魂魄者，隨神往來謂之魂，並精出入謂之魄，治精神即以安魂魄也。本經以此二物，列為上品，以其純陽能通神明也。凡通神明之藥，皆足以闢陰邪而正陽氣。茲陰邪逼動元陽，上乘火藏而為煩亂，得此闢陰正陽之品，俾元陽返本，心神得安，而煩亂可除。丹砂一錢，而龍齒六錢，以清神之藥宜輕，斂精之藥宜重，且合生成之數也。</p>
<p>伏陰病，心中煩渴，欲冷飲，身無熱。而喜風就涼，甚則扇扇不知風，飲冰不知冷，手足厥而面赤，宜人參四逆湯。（十）</p>
<p>此裡寒下虛，虛陽上泛之所致也。法當益氣破陰，以潛上泛之虛陽，則人參四逆湯宜之。伏陰初起，恆見此候。</p>
<p><u>人參四逆湯</u>　破陰潛陽法　經</p>
<p>即前通脈四逆湯，加人參二錢。</p>
<p>水煎冷服。</p>
<p>伏陰病，嘔利止，心中如焚，舌色赤，渴飲冷水，扇扇不知風，飲冰不知冷，臥地不起者，潛陽湯主之。（十一）</p>
<p>上條嘔利未止，本條嘔利已止，上條裡寒下虛，虛陽上泛所致也。本條泄利太過，真陰虛竭，不特水不濟火，心陽獨亢，且並元陽無所依附，而上乘於心，君相二火相濟為炎，始有此候，雖寒冰不能退此煩躁，故設潛陽湯。此較雜病陰躁有間，雜病與此同一煩躁臥地，惟煩渴不能飲水為辨。</p>
<p><u>潛陽湯</u>　滋陰潛陽法　擬</p>
<p>地干黃（二錢）　龜版（一錢，生）　附子（一錢，制）　龍齒（二錢，生）</p>
<p>水二杯，煎一杯，去滓頓服，藥後小便通利，其煩即退，不退再作服。</p>
<p>方解　方名潛陽者，蓋取潛藏元陽之義也。夫潛陽必先益陰，俾陰足則元陽得有附麗而潛矣。龍稟天地元陽之氣以生，故人之元陽上泛，謂之龍火備起。茲真陰下奪，水不濟火，心陽既獨亢於上，而元陽又失守於下，兩火交加，而煩躁生焉。地黃色黑歸腎，汁紅養血，血足則陰氣自和，陰氣和則心火有濟，而亢燥自平。龍與人身元陽合其德，藏於水中，而不離乎水。齒本於腎，能引元陽返本歸宅，第恐龍不安窟，覆成亢悔之勢，故用龜版以御之。井泉溫而龍退蟄，故用附子以溫下元，即古之所謂豢龍法也。</p>
<p>伏陰病，嘔利止，肢體疼痛，或手指不能握者，桂枝養榮湯主之。（十二）</p>
<p>疼近於肉，痛近於骨，總緣氣滯血凝者。蓋營血在於經絡，固藉衛氣以資流行。是血以氣為主宰，而氣亦以血為窟宅，相須而不相離也。茲傷寒營血則衛氣不得獨衛於身，始有此候，法宜和衛養血，故設桂枝養榮湯。</p>
<p><u>桂枝養榮湯</u>　和衛養血法　擬</p>
<p>桂枝（一錢）　白芍（一錢）　甘草（一錢，炙）　人參（二錢）　當歸（二錢）　生薑（一錢）　大棗（五枚，擘）</p>
<p>水二杯，煎一杯，去滓溫服，不愈再煎服，如前法。下條卒手足斂拘，得暖稍舒者，去芍藥加附子一錢五分。</p>
<p>方解　是方即桂枝湯加人參、當歸，以之和衛養血也。原方以桂枝統生薑、大棗，辛甘通陽，芍藥、甘草酸甘化陰，陰陽和則外邪去矣。茲加人參、當歸，佐桂枝通行內外，補營陰而益衛陽，則大氣周流，所謂氣血足而百骸理，諸虛疼痛，手指不握，未有不愈者也。</p>
<p>伏陰病，嘔利止，二三日後，卒手足斂拘，得暖稍舒者，與桂枝養榮湯，去芍藥加附子。（十三）</p>
<p>初病轉筋疼痛，及筋脈拘急者，陰邪搏筋也。此嘔利已止，二三日後，卒然手足斂拘，得暖稍舒者，乃營衛大傷，筋脈失養，加之寒邪外薄也。故與桂枝養榮湯，加附子和衛養血，溫經逐邪，則筋脈自舒。去芍藥者，避其酸斂也。知為寒邪外薄者，以得暖稍經舒故也。</p>
<p>伏陰病，嘔利止，脈出而代，心動悸，時煩熱渴，欲甘飲，或咸飲，口吐白沫，或筋惕者，可與炙甘草湯。（十四）</p>
<p>嘔利已止，脈伏已出，則知陰邪已退矣。而脈代心動悸，似傷寒炙甘草症也。大要嘔利轉筋，正氣已傷。治法因當以溫中通陽為自務，然辛烈大過，當氣液大傷之候，最易劫奪真陰。脈者血之府，原於腎而主於心，真陰竭則心血枯。故脈出而代，心動悸，時煩熱。氣血虧，則津液竭，竭則欲飲，胃津竭則飲而思甘，腎液竭則飲而思咸，乃不易之理也。口吐白沫者，肺氣虛而燥也。筋惕者。血液無以榮養筋脈也。夫以陰慘之邪，偏釀此枯燥之疾。蓋緣醫者過投辛烈耳。陰皆將盡之孤注，陽僅膏覆之殘焰，惟炙甘草湯可增其殼內絡外之脂液也，故可與。</p>
<p><u>炙甘草湯</u>　即復脈湯　滋陰和陽法　經</p>
<p>甘草（二錢，蜜炙）　人參（一錢）　火麻仁（一錢，炒）　阿膠（一錢，後烊化）　乾地黃（八錢）　亙麥冬（四錢）　桂枝（一錢）　生薑（一錢）　大棗（三枚，擘）</p>
<p>清酒一杯，水三杯，煎去滓。再內阿膠烊化頓服，日二服，夜一服。筋惕甚，以火麻仁易酸棗仁。</p>
<p>方解　本方亦名復脈湯，為滋陰之祖方也。其功固在地黃、麥冬、人參、甘草等一派甘寒純靜之品，而其妙全在薑、桂、白酒耳。蓋天地之機動則始化，靜則始成，使諸藥不得薑桂白酒，動盪其間，不能通行內外。補營陰而益衛陽，則津液無以復生，枯槁無以復潤，所謂陽以相陰，陰以含陽，陽生於陰，柔生於剛，剛柔相濟，則營衛和諧，營衛和則氣血化，氣血化則津液生，津液生則百虛理，脈之危絕，安有不復者乎。茲陰邪已退，而燥涸復起，若非本方滋陰和陽，不足以化生津液而潤枯槁。</p>
<p>伏陰病，諸症除，似寤似寐，呼之不應，脈微者為氣奪，宜獨參湯。（十五）</p>
<p>諸症除者，謂伏陰應有之嘔利、轉筋、肢冷、溺閟、聲喑、耳鳴等症，悉已除也。似寐似寐者，寐主動屬陽，寐主靜屬陰，陰出於陽則寤，陽入於陰則寐。嘔利太過，則元氣大傷，陰陽不相出入，故似寤非寤，似寐非寐。若呼之不應者，非耳閉不聞也，是氣奪不語也。氣奪則脈微，人參大補肺中元氣，肺氣旺則四藏之氣皆旺，陰陽得以和協，精血得以資生，神明得以有歸，而神識自清，機竅自靈，語言自利，寤寐不相混矣。勿作昏厥，浪用芳香開閉，益奪元氣而速其死也。</p>
<p><u>獨參湯</u>　傳</p>
<p>人參（重則二兩，輕則一兩，至輕六錢，必須量人量症以施之）</p>
<p>濃煎頓服，待元氣漸回，隨症增減。</p>
<p>集解　柯韻伯曰：一人而系一世之安危者，必重其權而專任之。一物而系一人之生死者，當大其服而獨用之。故先哲於氣幾息血將脫之症，獨用人參二兩，濃煎頓服，能挽回性命於瞬息之間，非他物所可代也。世之用者，恐或被住邪氣，姑少少以試之，或稍加消耗之味以監製之。其權不重，其力不專，人何賴以得生乎。如古方霹靂散、大補丸，皆用一物之長，而取效最捷，於獨參湯何疑耶。</p>
<p>妊婦伏陰病，立方須加芎歸。（十六）</p>
<p>妊婦伏陰病治法，原與常人無異，但須保護胎元，故按症立方，須佐芎藭、當歸以保之。</p>
<p>伏陰病，嘔利止，小便不利者為未愈。（十）</p>
<p>伏陰一症，當以陽和為愈，小便通利，是陽和之徵也。茲嘔利止而小便仍不通利者，則知陽氣未和，故云未愈。此是病症進退之關，診者最要細審機宜，以善其後。</p>
<p>伏陰病，諸症除，小便不通者，不可與五苓，可與腎氣湯。（十八）</p>
<p>膀胱者，州都之官，津液藏焉，氣化則能出矣。嘔利太過，津液已奪，且肺脾腎三經，先為陰邪所困，膀胱不得氣化可知，故諸症除，而小便不通。諸症者，即伏陰所有之症也。不可與五苓者，以津液大傷之後，難堪再事滲利，重竭其液，故禁之。腎氣湯功能扶陽化氣，故可與。</p>
<p><u>腎氣湯</u>　即腎氣丸料經　扶陽化氣法</p>
<p>乾地黃（八兩，酒焙）　薯蕷（四兩）　山茱萸（二兩）　澤瀉（三兩）　茯苓（三兩）　牡丹皮（二兩）　桂枝（一兩）　附子（一兩，炮）　車前子（二兩）　牛膝（二兩）</p>
<p>共為粗末，每用八錢，水一杯煎服，以小便通利為度，不通再煎服。</p>
<p>方解　方名腎氣者，蓋以腎具水火之用，化腎氣即以權水火也。地黃、薯蕷、丹皮、山茱萸，以養陰中之水。茯苓、澤瀉、車前、牛膝，以利陰中之滯。桂附益命火，以化陰中之真氣，真氣化則津生而肺利，土旺而脾和。於是水道通調，膀胱自利，小便自通矣。不作丸而作湯，以湯劑快捷於丸耳。</p>
<p>伏陰病欲解時，小便必通利。（十九）</p>
<p>小便通利，則表裡三焦之陽氣和矣。陽氣和則陰邪消，故為欲解。</p>

<h2>死候</h2>
<p>伏陰病，朝發暮死者，其症肢厥而躁，爪甲紫黑，神識不清也。</p>
<p>此陽絕陰結之死候也。其症蓋由內伏陰邪，外感寒氣，或汗出浴水，或臥露貪涼，或勞汗感風，或恣飲冷水之所致也。《靈樞》曰：三虛者，其死暴疾也。得三實者，邪不傷人也。乘年之衰，逢月之空，失時之和，因為賊風所傷，是謂三虛。《素問》曰：乘年之虛，則邪甚也。失時之和，亦邪甚也。遇月之空，亦邪甚也。重感於邪，則病危矣。此正重感於邪也。故朝發暮死。</p>
<p>伏陰病，數欠者，陽氣衰也。不治則陽絕而死。（二）</p>
<p>欠俗稱呵欠也。經云：人之欠者何氣使然？衛氣晝日行於陽，夜半行於陰，陰者臥，陽者主上，陰者主下。故陰氣積於下，陽氣未盡，陽引而上，陰引而下，陰陽相引，故數欠。陽氣盡，陰氣盛則目瞑，陰氣盡而陽氣盛，則寤，此平人陰陽相引之理也。若病伏陰之人，陰邪盛於下，陽氣衰於上，陽氣欲與陰爭。致引陰邪而上，陰上陽下，陽上陰下，彼此互爭，故以數欠。當急扶陽抑陰，以救危亡之陽，如醫者以為病人呵欠為欲愈，因循不治，勢必陰勝陽絕而死。</p>
<p>伏陰病，小便利如豚肝汁者死。（三）</p>
<p>小便不利，是陽氣不化，法當扶陽化氣。而醫者以滲利之劑，重竭其液，致陰血莫保，隨藥下脫。而溲如豚肝汁故死，他如濕溫等症，有溲如豚肝汁者，不在此例。</p>
<p>伏陰病，與溫通法，厥回脈微續者生，暴復洪大者死，身熱汗出如珠者速死。（四）</p>
<p>此皆藥餌辛烈太過，暗奪真陰，致虛陽無所依附，出而不返，救陰挽陽，藥之不及故死。</p>
<p>伏陰病，肢厥轉筋，與四逆理中等方，或湯熨艾灸等法，其病不減者死。（五）</p>
<p>內外溫通，其病不減者，陽氣絕也。陽絕則死。</p>
<p>伏陰病，先轉筋，續至舌卷囊縮者死。（六）</p>
<p>筋者聚於陰器，而脈絡於舌本，肝者筋之合也。故轉筋之疾屬於肝，肝藏虛則陰邪易入，入則筋脈斂束，亂則舌卷囊縮而死。</p>
<p>伏陰病，先轉筋後少腹疼痛，或喘滿者死。（七）</p>
<p>少腹疼痛肝病也，喘肺病也，滿脾病也，皆非死症。若由轉筋而致者，未有不死也。何者，轉筋入里，是陽傳於陰也。陽傳於陰者死。</p>
<p>伏陰病，惡寒甚，脈伏而躁者死。（八）</p>
<p>內外俱寒，有陰無陽也。</p>
<p>伏陰病，嘔利止，厥回小便利，為欲愈，而復厥下利者死。（九）</p>
<p>嘔利止厥回小便通利，為陰去陽還，故為欲愈。而復厥下利者，為陰復陽消。陰復陽消者，將還之陽氣未安，而陰寒之邪復侵，則陽不能保矣，故死。</p>
<p>伏陰病，嘔利已止，復欲下利而無利，時時眩冒者死。（十）</p>
<p>此氣質俱亡之候也。嘔利已止，其病當愈，而復欲下利者，陰氣下陷也。無利者，利盡而無物也。時時眩冒者，陽氣上脫也，故死。</p>
<p>伏陰病，面黑者死，目直視者死，唇痿不收者死，鼻孔黑而氣冷者死，齒黑而乾者死。（十一）</p>
<p>此五者，見一則死。面黑心氣絕也。目直視肝氣絕也。唇痿不收，脾氣絕也。鼻孔黑而氣冷，肺氣絕也。齒黑而干，腎氣絕也。總之面形陰慘，神氣兩奪者。皆死之徵也。</p>
<p>伏陰病厥逆，呼之不應，脈絕者死。（十二）</p>
<p>前變症篇，諸症除，似寤似寐，呼之不應，脈微者，是氣奪不語，大進獨參湯可愈。本條厥逆，呼之不應，脈絕者，陰邪盛，陽氣絕也，故死。</p>
<p>婦人伏陰病，或未愈，或新瘥，不可乳哺，哺則脫營。其症喘促脹滿，脈大而空，為難治。（十三）</p>
<p>營者，血之標。血氣為人身之陰陽，相抱而不相離也，平協則兩相依附。如陽欲上脫，陰下吸之。陰欲下脫，陽上吸之。故不能脫也。婦人伏陰病，或未愈，或新瘥，不可乳哺小兒者。未愈之時，陰陽各造其偏，新瘥之時，陰陽尚未平協。一經乳哺，則營離而氣孤，氣孤則放肆無歸，而散逆於胸中。故為喘促脹滿，脈大而空者，營脫之徵也。陰陽脫離，有死而已，故難治。</p>

<h1>卷下</h1>

<h2>禁令</h2>
<p>伏陰病，禁與清涼苦寒，與之必死。</p>
<p>經云：無致邪，無失正，絕人長命。喻嘉言曰：病人陽氣不足，陰氣有餘，則禁助陰泄陽。清涼苦寒，皆助陰泄陽之中，用於陰慘之病，是致邪失正也，故與之必死。</p>
<p>伏陰病，心下滿痛，不可消導，消導必死。（二）</p>
<p>既利且嘔，正氣已奪，難堪再事消克，即心下硬滿而痛，不過厥氣虛結耳。若與消導，是虛而益虛，故死。</p>
<p>伏陰病，轉筋疼痛，神形已奪者，不可砭針。（三）</p>
<p>伏陰為患，不僅奪陽，並亂營血，轉筋疼痛者。血亂筋虛，陰邪乘而搏之也。神形已奪者，氣血傷而面塵肌消也。初治則內服溫中通陽之劑，外用湯熨艾灸之法，取其助陽破陰耳。若砭針之法，泄氣破血，施於陽熱夾穢，內外脹滿之痧症，立見奇功，而施於氣血兩奪之伏陰，則大犯虛虛之弊，安有不死。</p>
<p>伏陰病，神形已奪，未奪，禁與芳香。（四）</p>
<p>伏陰本非脹閉之疾，芳香耗氣，投之有損。</p>
<p>伏陰病，氣奪不語者，與芳香即死。（五）</p>
<p>氣奪不語，較他症內閉不語天淵，氣奪者正氣敗也，當以大劑獨參湯救之。內閉者邪氣實也，當以芳香逐穢，先開其閉。若認此症為閉症，而投芳香，則几几欲息之氣絕矣。</p>
<p>伏陰病後，大便不通者，不可攻下。（六）</p>
<p>病後大便不通有二，一則津液內奪，腸胃枯槁也。一則泄利太過，糟粕未滿也。若投攻下，則將復之正氣，必隨藥而脫。</p>
<p>伏陰病，冷汗自出者，禁酸斂。（七）</p>
<p>此皆陰勝陽衰，不能衛外，致汗隨氣泄也。當以扶陽為是，酸斂止汗，則氣機閉塞，而陰邪益盛。</p>
<p>伏陰病，形肉已奪，小便不通者，不可與滲利。（八）</p>
<p>形肉已奪者，氣血俱敗也。氣血敗則津液竭，五苓等滲利之藥，純陽不化，不但不能通調水道，抑且重奪津液，故不可與。若與暑濕泄利，及傷寒水停少腹比類，則誤矣。</p>
<p>伏陰病，不可過投辛烈。（九）</p>
<p>伏陰之病，固以溫通為主治。惟期恰中病情，不可過當，若辛烈太過，暗耗真陰，陰邪雖退，而陰液已亡，陰亡則陽無所附，浮游變幻，不可復理。如此死者，醫殺之也，可不慎歟。</p>
<p>伏陰病轉筋，不可與木爪，與則邪留。（十）</p>
<p>伏陰以小便通利為愈，木瓜斂陰閉陽，阻澀小便，小便不利，陽氣不和，陽氣不和，則陰邪留而不去。</p>

<h2>瘥後</h2>
<p>伏陰病新瘥，不得瞑者，宜半夏湯。（一）</p>
<p>《靈樞經》云：厥氣客於五臟六腑，則衛氣獨衛於外，行於陽，不得入於陰。行於陽，則陽氣滿，陽氣滿，則陽蹻盛，不得入於陰，陰虛故目不瞑。治之奈何，飲以半夏湯，一劑陰陽已通，其臥立至，蓋瞑者目合而寐也，目不合則臥不安。厥氣者，陰邪上逆也。茲伏陰新瘥，陰邪已退矣。而胃氣未和，陽不得入於陰，獨行於外，故目不得瞑，宜遵經方用半夏湯。</p>
<p><u>半夏湯</u>　亦名半夏秫米湯經　引陽入陰法</p>
<p>半夏（三錢，制）　秫米（六錢，即糯粟米）</p>
<p>千里長流水，揚萬遍，取三杯，葦薪火煎飲一杯，稍益，以知為度，覆杯則瞑，汗出則已，須如法煎則效。</p>
<p>方解　陽氣下交干陰則寐，胃居中焦，為陰陽出入之道路也。胃不和則道路阻，陽氣不得入於陰，而獨行外，故不得瞑。半夏和胃通陰陽，秫米益陰，利大腸，用千里長流水，揚萬遍，葦薪火煎。蓋取急下通關之義。秫米臣半夏，而反倍於半夏者，以大腸為胃之下關，和胃重在利腸耳。陰陽通則營衛和，故覆杯則瞑，汗出則已。</p>
<p>伏陰病，新瘥不欲食，但喜甘飲者，可與養胃湯加芍藥。（二）</p>
<p>病時過服辛燥，暗劫胃陰，較之嘔利所傷者，尤為難復，故瘥後不欲食。不欲食者，胃虛不納穀也。喜甘飲者，土虛津竭也。養胃湯原為養胃潤槁設，此處加芍藥，變為酸甘化陰三劑，則胃陰易復，陰復則胃和，而穀食自進矣。若心下脹痛不欲食者，不在此例。</p>
<p>伏陰病新瘥腹滿者，與桔梗半夏湯。（三）</p>
<p>腹滿有虛有實，皆屬脾病，脾氣不和而為脹滿。經云：腹滿不減者為裡實，當下之。腹滿時減者為裡虛，當溫之。又陽邪內陷，而為脹滿者，則口燥咽乾，陰邪入里。而為脹滿者，則嘔利厥逆。伏陰新瘥而滿者，脾氣虛不能運布津液，凝注而為飲邪也。邪勝正虛，則陰陽不和，清濁相混，而腹滿見焉。法宜分理清濁，則腹滿自除，故與桔梗半夏湯。</p>
<p><u>桔梗半夏湯</u>　分理清濁法　傳</p>
<p>半夏（二錢，薑製）　陳橘紅（一錢）　茯苓（一錢）　甘草（五分）　桔梗（一錢）</p>
<p>水三杯，加生薑一錢，煎去滓溫服。</p>
<p>方解　凡痰飲之病，悉以二陳為主方，其功在潤脾和胃，理氣化痰耳。本方加桔梗，以桔梗能升能降，佐二陳調和陰陽，分理清濁，則脾虛不能運布津液，為飲為痰而滿者，庶可即除。</p>
<p>病後不欲食，食亦不化，胸腹滿悶者，與異功散。（四）</p>
<p>病後不欲食者，胃氣虛也。食不化者，脾氣虛也。胃虛則不納穀，脾虛則失健運。飲食不化，則氣機壅塞，故胸腹滿悶。法宜健脾養胃，用異功散，勿認實症而進消導。</p>
<p><u>異功散</u>　健脾養胃法　傳</p>
<p>人參（二錢）　白朮（二錢，薑汁炒）　茯苓（二錢）　甘草（一錢，炙）　陳皮（一錢）</p>
<p>共為粗末，加生薑六分，大棗五枚，水一杯煎服。</p>
<p>方解　四君子湯，中正和平，為健脾養胃之良方也。加陳皮名異功散，以主治氣虛而兼氣滯，取效最捷，則異功之名稱焉。</p>
<p>病後數日先食，後不欲食，心下微痛，按之痛劇者，宜胡米煎。（五）</p>
<p>病後飲食將開，食之過飽，使新復之脾胃，運化不及，而停滯難消，故為是候，異功散鞭長莫及，非所宜也。惟以胡米煎小和之，切勿與消克奪正。</p>
<p><u>胡米煎</u>　理中行滯法</p>
<p>陳米一勺，薑汁浸透，鍋內炒胡成炭，水一杯煎服。</p>
<p>方解　米稟天地衝和之氣以生，味甘性涼，理脾和胃，陳者尤佳，用薑汁浸透炒胡成炭，則行不傷正，為虛人消滯無上妙方。</p>
<p>病後聲顫無力，語不接續，或懶言，或語聲輕微，無氣以動者，均宜獨參湯。（六）</p>
<p>病時誤投消克，元氣大傷，故病退而見此等虛象。人參得天地精英之氣以生，其氣屬陽，而其體屬陰，與人之氣體合其德，故於人身無所不備。凡氣血大虛者，均宜服之。</p>
<p>病後飲食日增，數日不大便，甚有十數日不行，而腹無所苦者，勿服藥。如投通利，死不終朝。（七）</p>
<p>伏陰嘔利轉筋，大傷營液，腸胃為之乾枯，傳道因而鈍滯。故病後飲食日增，而數日不大便，甚有十數日不行者，猶水涸船停耳。腹中即無所苦，無病可知，飲食日增，則營液日化，遲不數日，營液充足，大便自行矣。故不必服藥，如作實症浪投通利，必致正氣隨藥而脫，死不終朝。</p>

<h2>《傷寒》陰病比類</h2>
<p>自利不渴者，屬太陰，以其藏有寒故也。當溫之，宜服四逆輩。（原文一）</p>
<p>（集註）程知曰：言太陰自利，為寒宜溫者也。少陰屬腎水，熱入而耗其水，故自利而渴。太陰屬脾土，寒入而從其濕，則不渴而利，故太陰自利當溫也。</p>
<p>程應旄曰：三陰同屬藏寒，少陰厥陰有渴證，太陰獨無渴證者。以其寒在中焦，總與龍雷之火無涉，少陰中有龍火底寒，甚則龍升，故自利而渴。厥陰中有雷火，故有消渴。太陽一照，雷雨收聲，故發熱則利止，見厥而複利也。魏荔彤曰：自利二字，乃未經誤下誤汗誤吐而成者，故知其臟本有寒也。</p>
<p><u>理中圓方</u>　經</p>
<p>人參　白朮　甘草（炙）　乾薑（各三兩）</p>
<p>上四味，搗篩蜜和為丸，如雞子黃許大，以沸湯數合和一丸，研碎溫服之。日三服，夜二服，腹中未熱，益至三四丸，然不及湯。湯法，以四物依兩數切，用水八升，煮取三升，去滓，溫服一升，日三服。</p>
<p><u>加減法</u></p>
<p>若臍上築者，腎氣動也。去朮加桂四兩。吐多者去朮，加生薑三兩。不多者，還用術，悸者加茯苓二兩。</p>
<p>渴欲得水者加朮，足前成四兩半。</p>
<p>腹中痛者，加人參，足前成四兩半。</p>
<p>寒者用乾薑，足前成四兩半。</p>
<p>腹滿者去朮，加附子一枚，服湯後如食頃，飲熱粥一升許，微自溫，勿發揭衣被。</p>
<p>集解　程應旄曰：陽之動始於溫，溫氣得而穀精運，穀氣升而中氣贍，故名曰理中。實以變理之功，予中焦之陽也。蓋謂陽虛，即中氣失守，膻中無發宣之用，六腑無灑陳之功，猶如釜薪失焰。故下利清穀，上失滋味，五臟凌奪，諸證所由來也。參朮炙草，所以守中州。乾薑辛以溫中，必假之以燃釜薪，而騰陽氣。是以谷入於陰，長氣於陽，上輸華蓋，下攝州都，五臟六腑，皆受氣矣。此理中之旨也。若水寒互勝，即當脾腎雙溫，加之以附子，則命門益而土母溫矣。白朮補脾，得人參則壅氣，故臍下動氣，吐多腹滿皆去朮也。加桂以伐腎邪，加生薑以止嘔也。加附子以消陰也，下多者濕勝也。還用術燥濕也，渴欲飲水津竭也，加朮使飲化津生也。心下悸停水也，加茯苓導水也。腹中痛倍人參，虛痛也。寒者加乾薑，寒甚也。</p>
<p>少陰病下利，白通湯主之。（原文二）</p>
<p>集註　《金鑑》曰：少陰病但欲寐，脈微細，已屬陽為陰困矣。更加以下利，恐陰降極陽下脫也。故君以蔥白，大通其陽而上升，佐以姜附，急勝其陰而緩降，則未脫之陽可復矣。</p>
<p>方有執曰：少陰病而加下利者，不獨在經，而亦在臟，寒甚而陰盛也。治之以乾薑附子者，勝其陰則寒自散也。用蔥白而曰白通者，通其陽則陰自消也。</p>
<p>程知曰：少陰病，謂有脈微細，欲寐證也。少陰下利，陰盛之極，恐致格陽。故用姜附以消陰，蔥白以升陽。通云者，一以溫之。而令陽氣得入，一以發之。而令陰氣易散也。</p>
<p>汪琥曰：腎虛無火，不能主水，故下利，用白通湯者，溫里以散寒也。</p>
<p><u>白通湯方</u>　經</p>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚，生去皮，破八片）</p>
<p>上三味，以水三升，煮取一升，去滓，分溫再服。</p>
<p>集解　汪琥曰：此方與四逆湯相類，獨去甘草。蓋驅寒欲其速，辛烈之性，取其驟髮直達下焦，故不欲甘以緩之也，而尤重在蔥白。少陰之陰，天之寒氣以為陰，兩陰合而偏於下利，則與陽氣隔絕不通，姜附之力雖能益陽，不能使真陽之氣必入於陰中。惟蔥白味辛，能通陽氣，令陰得陽而利，庶可愈矣。蓋大辛大熱之藥，不過藉以益人陽氣，非有以通之，令真陽和會，而何以有濟也耶。</p>
<p>少陰病下利脈微者，與白通湯。利不止，厥逆無脈，乾嘔煩者，白通加豬膽汁湯主之。服湯脈暴出者死，微續者生。（原文三）</p>
<p>集解　《金鑑》曰：此承上條詳申其脈，以明病進之義也。少陰病下利脈微者，與白通湯，下利當止，今利不止，而轉見厥逆無脈。更增乾嘔而煩者，此陰寒盛極，格陽欲脫之候也。若專以熱藥治寒，寒既甚必反格拒而不入。故於前方中加人尿豬膽之陰，以引陽藥入陰。經曰：逆者從之。此之謂也。無脈者言診之而欲絕也。服湯後更診其脈，若暴出如燭燼焰高故主死，若其脈徐徐微續而出，則是真陽見回，故可生也。故上條所以才見下利，即用白通以治於未形，誠善法也。</p>
<p><u>白通加豬膽汁湯方</u>　經</p>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚，生去皮，破八片）　人尿（五合）　豬膽汁（一合）</p>
<p>以上三味，以水三升，煮取一升去滓，內膽汁人尿，和令相得，分溫再服。若無膽亦可用。</p>
<p>集解　《金鑑》曰：是方即前白通湯加人尿豬膽汁也。加尿膽者，從其類也。下咽之後，冷體既消，熱性便發，情且不違，而致大益，則二氣之格拒可調，上下之陰陽可通矣。</p>
<p>少陰病欲吐不吐，心煩但欲寐，五六日，自利而渴者，屬少陰也。虛故引水自救，若小便色白者，以下焦虛，有寒不能制水，故令色白也。（原文四）</p>
<p>集註　成無己曰：欲吐不吐心煩者，表邪傳裡也。若腹滿痛則屬太陰，此但欲寐，則知屬少陰。五六日邪傳少陰之時，若自利不渴，寒在中焦，屬太陰也。此自利而渴，為寒在下焦，屬少陰也。腎虛水燥，故渴欲飲水自救，下焦虛寒，故小便色白，下利而渴，小便色白，非裡熱可知矣。</p>
<p>少陰病，飲食入口則吐，心中溫溫欲吐，復不能吐，始得之手足寒。脈弦遲者，此胸中實不可下也，當吐之。若隔上有寒飲乾嘔者，不可吐也。當溫之宜四逆湯。（原文五）</p>
<p>按：溫溫當是嗢嗢，嗢嗢者，乃吐飲之狀也。</p>
<p>集註　程知曰：此言少陰，飲吐為腎邪上逆，當溫不當吐也。欲吐不吐，陰邪上逆之證也。若始得病時，邪未深入，其手足但寒而不厥，脈但弦遲而不沉細，則為邪實。胸中寒尚在表，屬於陽分，當吐而不當下，吐者有物，嘔則無物，兩者須辨。若膈上有寒飲，但見乾嘔而不能吐出，則是陰寒上逆，當溫而不當吐也。曰急溫者，明不溫則見厥逆無脈諸變證也。</p>
<p>程應旄曰：寒在胸中，法不可下，而屬實邪，但從吐法，一吐而陽氣得通，吐法便是溫法。若膈上有寒飲乾嘔者，虛寒從下而上阻，留其飲於胸中，究非胸中之病也。直從四逆湯，急溫其下可矣。</p>
<p>少陰病脈微細沉，但欲臥，汗出不煩，自欲吐，至五六日自利，復煩躁不得臥寐者死。（原文六）</p>
<p>集解　《金鑑》曰：此發明上條互詳脈證失於急溫，致變之義也。脈微細沉但欲臥，少陰寒也。當無汗，今反汗出不煩，乃少陰亡陽也。且自欲吐，陰寒之邪上逆，正當急溫。失此不治，因循至五六日，加之自利復煩躁，不得臥寐者，此少陰腎中真陽擾亂外越欲絕之死證，此時即溫之亦無及矣。</p>
<p>少陰病二三日不已，至四五日腹痛，小便不利，四肢沉重疼痛，自下利者。此為有水氣，其人或咳或小便不利，或下利或嘔者，真武湯主之。（原文七）</p>
<p>集註　《金鑑》曰：論中心下有水氣，發熱有汗，煩渴引飲，小便不利者，屬太陽中風，五苓散證也。發熱無汗，乾嘔不渴，小便不利者，屬太陽傷寒，小青龍湯證也。今少陰病二三日不已，至四五日腹痛下利，陰寒深矣。設小便利，是純寒而無水，乃附子湯證也。今小便不利，或咳或嘔，此為陰寒兼有水氣之證，故水寒之氣外攻於表。則四肢沉重疼痛，內盛於裡，則腹痛自利也。水氣停於上焦胸肺，則咳喘而不能臥，停於中焦胃府，則嘔而或下利，停於下焦膀胱，則小便不利，而或少腹滿。種種諸證，總不外乎陰寒之水，而不用五苓者，以非表熱之飲也，不用小青龍以非表寒之飲也。故惟主以真武湯，溫寒以制水也。</p>
<p>喻昌曰：太陽篇中厥逆筋惕肉瞤而亡陽，用真武矣。茲少陰之水濕上逆，仍用真武以鎮攝之。可見太陽膀胱，與少陰腎，一臟一腑，同為寒水。府邪為陽邪，藉用麻桂為青龍，藏邪為陰邪，藉用附子為真武。</p>
<p><u>真武湯方</u>　經</p>
<p>茯苓（三兩）　芍藥（三兩）　生薑（三兩，切）　白朮（二兩）　附子（一枚，泡去皮，破八片）</p>
<p>上五味，以水八升，煮取三升，去滓，溫服七合，日三服。</p>
<p>若咳者，加五味子半升，細辛、乾薑各一兩。</p>
<p>若小便利者，去茯苓。</p>
<p>若下利者，去芍藥，加乾薑二兩。</p>
<p>若嘔者，去附子加生薑，足前成半斤。</p>
<p>集解　《金鑑》曰：小青龍湯，治表不解有水氣，中外皆寒實之病也。真武湯治表已解有水氣，中外皆寒實之病也。真武者，北方司水之神也。以之名湯者，賴以鎮水之義也。夫人一身制水者脾也。主水者腎也。腎為胃關，聚水而從其類者。倘腎中無陽，則脾之樞機雖運，而腎之關門不開，水雖欲行，孰為之主。故水無主制泛溢妄行，而有是證也。用附子之辛熱，壯腎之元陽，而水有所主矣。白朮之苦燥，建立中土，而水有所制矣。生薑之辛散，佐附子以補陽溫中，有散水之意。茯苓之淡滲，佐白朮以健土，制水之中，有利水之道焉。而尤妙在芍藥之酸斂，加於制水主水藥中，一以瀉水，使子盜母虛，得免妄行之患，一以斂陽，使歸根於陰，更無飛越之虞。孰謂寒陰之品無益於陽乎。而昧者不知承製之理，論中誤服青龍發汗亡陽，用此湯者，亦此義也。然下利減芍藥者，以其陽不外散也。加乾薑者，以其溫中勝寒也。水寒傷肺則咳，加細辛乾薑者，散水寒也。加五味子者，收肺氣也。小便利者，去茯苓，以其雖寒，而水不能停也。嘔者去附子倍生薑，以其病非下焦，水停於胃也。所以不須溫腎以行水，只當溫胃以散水，佐生薑者，功能止嘔也。</p>
<p>少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒。其人面色赤，或腹痛，或乾嘔，或咽痛，或利止脈不出者，通脈四逆湯主之。（原文八）</p>
<p>集註　《金鑑》曰：少陰腎也。腎象乎坎，一陽陷於二陰之中，二陰若盛，則一陽必衰，陰邪始得內侵，孤陽因之而外越也。下利清穀，手足厥冷，脈微欲絕，里陰盛極也。身反不惡寒，面色反赤，其外反熱，格陽於外也。故雖有腹痛乾嘔咽痛等症，亦當仿白通湯之法，加蔥於四逆湯中，以消其陰，而復其陽可也。</p>
<p>程應旄曰：熱因寒格，無論腹痛乾嘔咽痛，皆下利中格陽之證。即使利止而脈仍前欲絕不出，亦不得謂裡寒已退，輒妄治其外熱也。須循四逆湯例，消陰弱於下部，但加蔥白宣陽氣於下焦，使陽氣通而脈亦出，始為真愈。</p>
<p>少陰病吐利，手足不逆冷反發熱者，不死，脈不至者，灸少陰七壯。（原文九）</p>
<p>集解　《金鑑》曰：少陰吐利，法當逆冷，今不逆冷反發熱者，是陽未衰，故曰不死。若脈不至，雖有外熱恐是假熱，須防陽脫，宜急灸少陰，速通其陽，則脈可復也。</p>
<p>程知曰：前條通脈四逆湯，是裡寒外熱，手足逆冷而脈不至者也。此條用灸法，是裡寒外熱，手足不逆冷。而脈不至者也，少陰動脈在足內踝。</p>
<p>汪琥曰：經云：腎之原出於太谿，灸少陰，當灸太谿二穴，在內踝後跟骨動脈陷中。</p>
<p>少陰病吐利，手足逆冷，煩躁欲死者，吳茱萸湯主之。（原文十）</p>
<p>集註　程應旄曰：溫法原為陰寒而設，故真寒類多假熱。凡陰盛格陽，陰證似陽等，皆少陰蠱惑人耳目處，須從假處勘出真來，方不為之牽制。如吐利而見厥冷，是胃陽衰而腎陰併入也。誰不知為寒者，顧反見煩躁欲死之證以誑之。是皆陽被陰拒，而置身無地，故有此象。吳茱萸湯，挾木力以益火勢，則土得溫而水寒卻矣。</p>
<p><u>吳茱萸湯方</u>　經</p>
<p>吳茱萸（一升）　人參（三兩）　生薑（一兩）　大棗（十二枚）</p>
<p>上四味，以水七升，煮去二升，溫服七合，日三服。</p>
<p>集解　方有執曰：吐則傷陽，利則損陰，厥冷者，陰損而逆也。煩躁者，陽傷而亂也。茱萸辛溫散寒，暖胃而止嘔，人參甘溫益陽，固本而補中，大棗助胃益脾，生薑嘔家聖藥，故四物者，為溫中降逆之所須也。</p>
<p>少陰病，吐利躁煩四逆者死。（原文十一）</p>
<p>集註　張璐曰：此條與上條不殊，何彼可治，而此不可治耶。必是已用溫中不愈，轉加躁煩，故主死耳。</p>
<p>少陰病，惡寒身蜷而利，手足厥冷者不治。（原文十二）</p>
<p>集註　《金鑑》曰：此互詳上條手足逆冷不治之義也。惡寒身蜷而臥，雖系少陰證，而不至於死。若下利不止，手足逆冷不回，是有陰無陽，即不吐利躁煩，亦不可治也。</p>
<p>少陰病，四逆惡寒，而身蜷脈不至不煩而燥者死。（原文十三）</p>
<p>集註　《金鑑》曰：此總承上三條，以明不治之死證也，四逆謂四肢逆冷過肘膝而不回也。表陽虛故惡寒也。陰主屈，故蜷臥不伸也。脈不至則生氣已絕，若有煩無躁，是尚有可回之陽。今不煩而躁，則是有陰無陽，故曰死也。</p>
<p>少陰病下利，脈微澀嘔而汗出，必數更衣反少者，當溫其上灸之。（原文十四）</p>
<p>集註　程應旄曰：少陰病下利陽微可知，乃其脈微而且澀，則不但陽微而陰且竭矣。陽微故陰邪逆上而嘔，陰竭故汗出而勤。努責一法之中，既欲助陽，且欲護陰，則四逆附子輩俱難用矣。惟灸頂上百會穴以溫之，既可代姜附輩之助陽而行上，更可避姜附輩之辛竄而燥下，故下利可止。究於陰血無傷，可見病在少陰，不可以難用溫者，遂棄夫溫也。</p>
<p>少陰病，下利止而頭眩，時時自冒者死。（原文十五）</p>
<p>集註　方有執曰：頭眩俗謂昏暈也。諸陽在頭，下利止而頭眩者，陽無依附浮越於外，神氣散亂，故時時自冒也，死可知矣。</p>
<p>張璐曰：人身陰陽相為依附者也。陰亡於下，則諸陽之上聚於頭者，紛然而動，所以頭眩時時自冒，陽脫於上而主死也。可見陽回利止則生，陰盡利止則死矣。</p>
<p>汪琥曰：下利止則病當愈，今者反為死候，非陽回而利止，乃陽脫而利盡也。</p>
<p>少陰病六七日，息高者死。（原文十六）</p>
<p>集註　程知曰：腎為生氣之原，息高則真氣散走於胸中，不能復歸於氣海故主死也。</p>
<p>程應旄曰：夫肺主氣，而腎為生氣之源，蓋呼吸之門也，關係人之死生者最鉅。息高者，生氣已絕於下而不復納，故遊息僅呼於上，而無所吸也。死雖成於六七日之後，而機自兆於六七日之前。既值少陰受病，何不豫為固護，豫為堤防，致令真陽渙散而無可復返乎。凡條中首既諄諄禁汗，繼即急急重溫，無非見及此耳。</p>
<p>魏荔彤曰：七日之久，息高氣逆者，與時時自冒，同一上脫也。一眩冒而陽升不返，一息高而氣根已刈，同一理而分見其證者也。故仲景俱以死期之。</p>
<p>少陰病下利，若利自止惡寒而蜷臥，手足溫者可治。（原文十七）</p>
<p>集註　《金鑑》曰：少陰病惡寒厥冷下利不止者。陰寒盛也。今下利能自止，手足能自溫，雖惡寒蜷臥，乃陰退陽回之兆，故曰可治。</p>
<p>少陰病惡寒而蜷，時自煩欲去衣被者可治。（原文十八）</p>
<p>集註　《金鑑》曰：少陰病惡寒而蜷，陰寒證也。若時自煩欲去衣被者，此陽回陰退之徵，故曰可治。</p>

<h2>《金匱》陰病比類</h2>
<p>嘔而脈弱，小便複利，身有微熱，見厥者難治，四逆湯主之。（原文一）</p>
<p>集註　《金鑑》曰：嘔而心煩，心中懊憹，內熱之嘔也。今嘔而脈弱，正氣虛也。小便複利，中寒盛也。身有微熱，而復見厥，曰難治者。此為寒盛格熱於外，非嘔而發熱者比。故以四逆湯，勝陰回陽也。</p>
<p>尤在涇曰：脈弱便利而厥，為內虛，且寒之候，則嘔非火邪，而是陰氣之上逆，熱非實邪，而是陽氣之外越矣。故以四逆湯，救陽驅陰為主。然陰方上衝，而陽且外走，其離決之勢，有未可即為順接者，故曰難治，或曰嘔與身熱為邪實，厥利脈弱為正虛，虛實互見，故曰難治。四逆湯，舍其標而治其本也，亦通。</p>
<p>高世棟曰：嘔者水去寒猶在上，小便當少。今複利者，寒亦在下也。脈弱者，氣衰於內。身微熱者，格陽於外嘔證如是，則上下寒而內外虛。若見手足逆冷而厥者，則表裡陰陽之氣，不相順接，故為難治，四逆湯主之。</p>
<p>生附子壯火回陽以治厥，乾薑溫脾暖胃以治嘔，甘草安中，調上下以治內外也。</p>
<p>病人胸中，似喘不喘，似嘔不嘔，似噦不噦，徹心中憒憒無奈者，生薑半夏湯主之。（原文二）</p>
<p>集註　尤在涇曰：寒邪搏飲，結於胸中而不得出，則氣之呼吸往來，出入升降者。阻矣，似喘不喘，似嘔不嘔，似噦不噦，皆寒飲與氣相搏，互擊之證也。且飲水邪也，心陽藏也。以水邪而逼處心藏，欲卻不能，欲受不可，則徹心中憒憒然無奈也。生薑半夏湯，即小半夏湯而生薑用汁，則降逆之力少，而散結之力多，乃正治飲氣相搏欲出不出者之良法也。</p>
<p>沈明宗曰：似喘不喘，似嘔不嘔，似噦不噦，誠不是喘，不是嘔，不是噦也。徹者通也。竟是通心中憒憒然無奈，即泛泛噁心之義也。</p>
<p><u>生薑半夏湯方</u>　經</p>
<p>半夏（半升）　生薑汁（一升）</p>
<p>上二味，以水三升，煮半夏取二升，內生薑汁煮取一升半，小冷分四服，日三夜一服，止停後服，不止再煎，服如前法。</p>
<p>集解　李彣曰：生薑、半夏辛溫之氣，足以散水飲而舒陽氣，然待小冷服者，恐寒飲固結於中，拒熱藥而不納，反致嘔逆。今熱藥冷飲，下嗌之後，冷體既消，熱性便發，情且不違，而致大益，此《內經》之旨也。此方與前半夏乾薑湯略同，但前溫中氣，故用乾薑，此散停飲，故用生薑。前因嘔吐上逆，頓服之則藥力猛峻，足以止逆降氣，嘔吐立除。此心中無奈，寒飲內結，難以猝消，故分四服，使胸中邪氣徐徐散也。</p>
<p>下利手足厥冷無脈者灸之不溫，若脈不還，反微喘者死，少陰負趺陽者為順也。（原文三）</p>
<p>集註　尤在涇曰：下利厥冷無脈，陰亡而陽亦絕矣。灸之所以引既絕之陽乃厥不回，脈不還，而反微喘。殘陽上奔，大氣下脫故死。下利為土負水勝之病。少陰負趺陽者，水負而土勝也。故曰順。</p>
<p>《金鑑》曰：下利手足厥冷脈絕無者，有陰無陽之脈證也。雖用理中四逆輩，恐其緩不及事。急灸臍下，以通其陽，若脈還手足溫者生，脈不還手足不溫，反微喘，陽氣上脫也，故死。</p>
<p>下利脈沉而遲，其人面少赤，身有微熱，下利清穀者，必鬱冒汗出而解，病人必微厥，所以然者，其面戴陽下虛故也。（原文四）</p>
<p>集註　喻嘉言曰：下利脈沉遲，面少赤，身微熱者。陰盛而格陽，在上在外也。若其人陽尚有根，其格出者，終必復返。陽返而陰未肯降，必鬱冒，少頃然後陽勝而陰出為汗，陰出為汗，陰邪乃解，自不下利矣。陽入陰出，儼有龍戰於野，其血玄黃之象，病人能無微厥乎。</p>
<p>下利後脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。（原文五）</p>
<p>集註　喻嘉言曰：脈絕不惟無其陽，亦無其陰，陽氣破散，豈得陰氣不消亡乎。晬時還，乃脈之伏者復出耳。脈豈有一息之不續也乎。仲景用灸法，止所以通陽氣，而觀其脈之絕與伏耳，故其方即名通脈四逆湯，服後利止。而脈仍不出，是藥已大應，其非脈絕可知，又加人參以補其亡血，斯脈自出矣。成法具在，宜究心焉。</p>
<p>轉筋之為病，其人臂腳直，脈上下行，微弦，轉筋入腹者，雞屎白散主之。（原文六）</p>
<p>集註　尤在涇曰：肝主筋，上應風氣，肝病生風，則為轉筋。其人臂腳直，脈上下行，微弦。經云：諸暴強直，皆屬於風也。轉筋入腹者，脾土虛而肝木乘之也，雞為木音，其屎反利脾氣，故取治是病，且以類相求，則尤易入也。</p>
<p>《金鑑》曰：臂同背，古通用，臂腳直，謂足背強直，不能屈伸，是轉筋之證也。脈上下行，謂超超長直，微弦不和，是轉筋之脈也。中寒之人，外寒盛，則手中拘急轉筋，痛不能忍，甚者入腹，則牽連少腹拘急而痛也。主之雞屎白散，以治風寒痹氣之在筋也。</p>
<p><u>雞屎白散</u>　經</p>
<p>雞屎白</p>
<p>上一味為散，取方寸匕，以水六合和溫服。</p>
<p>救小兒卒死，而吐利不知，是何病方。（原文七）</p>
<p>狗屎一丸，絞汁灌之。無濕者，水煮乾者取汁。</p>
<p>集解　《金鑑》曰：凡屎皆發陽氣，用狗屎，亦取發陽氣也。</p>

<h2>傷寒霍亂比類</h2>
<p>問曰：治有霍亂者何？答曰：嘔吐而利，此名霍亂。（原文一）</p>
<p>集註　成無己曰：三焦者，水穀之道路，邪在上焦則吐而不利，在下焦則利而不吐，在中焦必既吐且利。以飲食不節，寒熱不調，清濁相干，陰陽乖隔而成霍亂。輕者只曰吐瀉，重者揮霍撩亂，故曰霍亂。</p>
<p>問曰：病發熱頭痛，身疼惡寒吐利者。此屬何病？答曰：此名霍亂，自吐下又利止，復更發熱也。（原文二）</p>
<p>集註　方有執曰：發熱頭痛身疼惡寒，外感吐利內傷也。上以病名求病證，此以病證實病名，反復詳明之意。</p>
<p>霍亂，頭痛發熱身疼痛，熱多欲飲水者，五苓散主之。寒多不用水者，理中丸主之。（原文三）</p>
<p>集註　方有執曰：霍亂熱多欲飲水者，陽邪盛也。寒多不用水者，陰邪盛也。五苓散者，水行則熱瀉，是以兩解之謂也，理治也。料理之謂，中里也。里陰之謂，參朮之甘溫里也。甘草甘平和中也，乾薑辛熱散寒也。</p>
<p>沈明宗曰：此言霍亂，須分寒熱而治也。頭痛發熱身疼痛者，風寒傷於表也。外風而挾內熱飲食，以致吐利，必欲飲水，當以五苓散，兩解表裡，使邪從汗出，里邪則從小便而去。不欲飲水者，寒多無熱，胃陽氣虛，當以理中丸溫中散寒為主，此以表裡寒熱辨證治病也。</p>
<p>吐利止，而身痛不休者，當消息和解其外，宜桂枝湯小和之。（原文四）</p>
<p>集註　方有執曰：吐利止里和也。身痛表退而新虛也。消息猶有斟酌也。桂枝湯固衛以和表也。小和言少少與服，不過度之意也。</p>
<p>張錫銘曰：本經凡言小和微和者，謂微邪而毋用大攻也。</p>
<p>既吐且利，小便複利，而大汗出，下利清穀內寒外熱，脈微欲絕者，四逆湯主之。（原文五）</p>
<p>集註　成無己曰：吐利亡津液，則小便當少，小便複利，而大汗出，津液不禁，陽氣大虛也。脈微為亡陽，若無外熱，但內寒下利清穀，為純陰證，此以外熱為陽未絕猶可與四逆湯救之。</p>
<p>吳人駒曰：既吐且利，而大汗出，則泄路盡開，而小便又複利。云複利者，反不欲其利，而為收藏之地也。下利清穀，內寒外熱，且脈微欲絕，一線之微陽挽回，誠為不易，四逆之施，詎可緩乎。</p>
<p>吐利汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之。（原文六）</p>
<p>集註　程知曰：吐利而復汗出，陽氣幾於走失矣。發熱惡寒，為陽未盡亡，四肢拘急，手足厥冷，不得不用四逆，以助陽退陰也。又按少陰證云，惡寒身蜷而利，手足厥冷者不治。又云：下利惡寒而蜷臥，手足溫者可治。此之吐利汗出，四肢拘急，手足厥冷，而用四逆治之者，以有發熱一證也。發熱為陽未盡亡，猶是病人生機。故經又云：吐利手足不逆冷，反發熱者不死。</p>
<p>吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者，通脈四逆加豬膽汁湯主之。（原文七）</p>
<p>集註　《金鑑》曰：霍亂吐下已止，汗出而厥，四肢拘急，脈微欲絕者，乃中寒盛極，阻膈陽氣不達於四肢也。宜通脈四逆湯加豬膽汁，從陰以通陽也。吐利發汗，脈平小煩者，以新虛不勝穀氣故也。（原文八）</p>
<p>集註　鄭重光曰：吐利發汗，脈平陰退陽回，乃有此象。猶以新虛不勝穀氣，而致小煩。蓋霍亂吐利晬時，不可便與飲食，以胃氣逆反，倉廩未固，不可便置米穀耳。</p>
<p>張錫銘曰：霍亂一病，夏秋最多，是風寒暑濕之邪中人，皆能病霍亂，非止一寒邪也。若吐利過甚，損傷中焦之氣，以致陰陽間隔，手足厥冷，脈微欲絕。不多飲水者，無分寒暑，皆宜四逆理中治之。蓋邪盛而正實者，當瀉其邪。邪盛而正衰者，宜扶其正。況夏月之時，陽氣浮於外，陰氣伏於內，復以冷風寒其形，冷冰寒其胃，內外皆寒，風暑之邪，未有不乘虛入於陰經者。所以夏月，只有陰證，而無傷寒，今人患暑證死，而手足指甲皆青者陰證也。古人以大順散治暑，良有以也。</p>

<h2>舌鑑</h2>
<figure>
<img data-orig-src="urn:270:07545.jpg" alt="圖一">
</figure>
<figure>
<img data-orig-src="urn:270:07546.jpg" alt="圖二">
</figure>
<figure>
<img data-orig-src="urn:270:07547.jpg" alt="圖三">
</figure>
<figure>
<img data-orig-src="urn:270:07548.jpg" alt="圖四">
</figure>
<figure>
<img data-orig-src="urn:270:07549.jpg" alt="圖五">
</figure>
<figure>
<img data-orig-src="urn:270:07550.jpg" alt="圖六">
</figure>
<figure>
<img data-orig-src="urn:270:07551.jpg" alt="圖七">
</figure>
<p>伏陰發端膜原，多見此舌，宜用溫通。</p>
<p>以上二十五式，專為伏陰病繪。然兼症則變，難於拘定。茲略舉其概，俾臨診有權，不致生死相混。</p>

<h1>跋</h1>
<p>田君瀛嶠，字云槎，（余）畏友也。（余）不敏，不克承先人志操尺寸柄，以變理民物為兩間，彌陰陽之憾，妄思於裡黨中聊為補救，又苦家無積儲，志多未逮。因憶范文正公云：欲為良相，當為良醫。用究心醫理，閱十餘稔矣，然未敢出而應世也。田君負不羈才，具經世略，足跡跡遍天下，卒不得志於時，歸寄於醫。蓋其幼而聰慧，於書無所不讀，醫雖小道，曾三折肱焉。今年夏秋，疫癘大行，傳染殆遍，時醫皆掣肘，死者相枕藉，友人勸（余）以術壽世，因得晤田君，聆其緒論。凡診一病，皆洞悉本原，以故（余）立一方，必質于田君。心心相印，全活無算，至是德（余）者。益頌田君之神，因而日與過從，藉資砥礪，得讀其所著《醫寄伏陰論》一書，方祖仲景，法師靈蘭。其用藥也，約而精，其立方也，奇而正。發前人所未發，補前人所未逮，明白簡易，盡善盡美，洵救世之金丹也。用跋卷末，以志欽佩。</p>
<p><u>光緒十四年戊子孟冬月如小弟植三周宗槐謹跋</u></p>
