<header data-type="book">
<h1>醫宗金鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-995843">香港中文大學圖書館掃描本</a>）；《新增全圗足本醫宗金鑑》，上海啟新書局發行本（國立臺灣大學圖書館掃描本：<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003258">1</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003259">2</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003260">3</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003261">4</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003262">5</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003263">6</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003264">7</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-9910003257">8</a>）；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
