<header data-type="book">
<h1>外科選要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>唐黌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1776">公元1776年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>余素不知醫，每於鄉僻處，敬遵《御纂醫宗金鑑》施治，其《外科心法》，更為響應，已錄要付梓。第恐初學未易入門，故於乾隆丙申秋，復將陳毓仁《外科正宗》，祁廣生《外科大成》，王宇泰《瘍醫準繩》，輯其簡要易明者，匯為成帙。計二卷，名曰《外科選要》。庶初學得近階梯，更研究《金鑑》心法，可以升堂入室。不但具活人之心，而亦得養生之半矣，因並付梓，附於《外科心法》之後。</p>
<p><u>崑山芹洲氏唐黌謹識</u></p>

<h1>卷上</h1>

<h2>癰疽原委論</h2>
<p>癰疽發背為何生，好好身軀出此形。</p>
<p>凡人處世而無疾病者，水升火降，精秘血盈也。養生篇曰：毋搖爾精，毋勞爾形，皈心靜默，可以長生。此皆遠世俗，忘名利，無貪嗔，卻疾病，惟修身保命之志士所能。今人豈能及哉？蓋謂靜則生水，動則生火，水能生萬物，火能克萬物，故百病由火而生；火既生，七情六慾，皆隨應而入之；既入之後，百病發焉。發於內者，為風勞蠱膈，痰喘內傷；發於外者，成癰疽發背，對口疔瘡。此皆言其大略也。故成癰者壅也，為陽屬六腑，毒騰於外，其發暴而所患浮淺。故易腫易膿，易腐易斂，誠為不傷筋骨，易治之症也。疽者沮也。為陰屬五臟，毒攻於內，其發緩而所患深沉，故為傷筋蝕骨，難治之症也。凡年壯氣血勝毒則順，年老毒勝氣血則險。</p>
<p>內被七情干臟腑，憂愁思慮總關心。</p>
<p>七情者，喜傷心，怒傷肝，憂傷肺，思傷脾，悲傷於魂魄，恐傷腎，驚傷膽。六慾者，耳聽聲音，眼觀物色，鼻聞香氣，舌貪滋味，心帷大地，意幄萬方。</p>
<p>外有六淫傷氣血，風寒暑濕火相臨。</p>
<p>六淫者，風、寒、暑、濕、燥、火、是也，皆從外而入之。體實之人，遇而不中者有；體弱之人，感而隨發者多；又有感之不發，邪氣客於臟腑經絡關節之內，積襲日久，或待內傷，或因外感，邪氣觸而發之。既發之後，當參寒熱溫涼，邪正勝負而治之。</p>
<p>膏粱厚味多無忌，勞傷房欲致虧陰。</p>
<p>膏粱者，醇酒肥鮮，炙煿之物也。惟取快意於一時，不覺陰消於平日。況生是疾者，不起於藜藿，盡屬於膏粱。誰識膏粱味短，不及藜藿味長。</p>
<p>故將五臟多乖變，自然六腑不調勻。</p>
<p>五臟屬五行，金木水火土是也。相順相生，相反相剋，所謂相生者昌，相剋者亡。五臟不和，則六腑不通，九竅疲癃，留結為癰，蓋癰疽必出於臟腑乖變，關竅不得宣通而發也。治當寒邪而痛者，以溫熱散之；濕腫強痛者，滲而導之；燥搐攣痛者，滋而潤之。泄而痛者溫之，塞而痛者通之，虛而痛者補之，實而痛者瀉之，陰陽不和者調變之，經絡秘澀者沖和之，膿脹而痛者開之，惡肉侵蝕者去之，勞而痛者逸之，損而痛者續之，此等皆為活法，惟在用者詳之。</p>
<p>發於心上多危險，五臟相干事可明。</p>
<p>五臟者，心肝脾肺，四臟皆繫於背。惟腎經一臟，獨居於下，其精華津液，元氣元神，盡行灌溉，榮注於上。故四臟之火，皆賴一臟之水以濟之，所謂五臟根本，皆繫於腎，即此意也。凡發癰疽者，未有不先傷五臟而後發之，且背乃太陽膀胱督脈所主，太陽者，六經之首領也；督脈者，十二經絡之統脈也。況心乃君主之位，豈容毒相犯之。凡發於此者，危險難治之症。</p>
<p>心之以下多成順，六腑之因亦許評。</p>
<p>凡瘡生於心之以下者，除腎俞一穴外，皆為緩。六腑者，足陽明胃經，手太陽小腸經，足太陽膀胱經，手厥陰心包絡經，手少陽三焦經，足少陽膽經，此六經屬腑，其形在下，其氣主表，其病為癰，故發於六經者為輕。</p>
<p>脾家積毒生肩脊。</p>
<p>飲食膏粱積毒所致，高腫鮮明，根腳不過兩肩者為順。先宜解毒護心為主，次宜內托清心為要，間用蠟礬丸、護心散，防毒攻心。如腫平堅硬，漸大漸開，攻注兩肩胸項，腫而不痛者危。</p>
<p>心經火毒對心臨。</p>
<p>對心發者，乃心火妄動，熱極而發之也。況心為主宰，周身蘊熱，流會於此，其結為患，最易傷人，刑截督經，害非輕淺，況背脊多坑，固難起發，瘡形落陷，腫不高尖，治當大降心火，急疏蘊熱，頂用針通，隨行拔法，使毒氣內外疏通，庶不內攻，方為成守。保至十五日後，內無變症，得膿為解。如變症漸生，堅硬漸大，不作膿者，死在二十二朝先後。但此症貴在早治，十中可保其三四也。</p>
<p>兩肩左右雙生髮，肺肝積受不虛名。</p>
<p>左搭屬肝，右搭屬肺，俱生於左右肩骨移動之處，為可治。有此症者，先用萬靈丹發汗，疏通內外，次以清肝解鬱湯，柴胡清肝湯，氣用四君子湯，血用四物湯，潰後八珍湯，參而調治，誠為妥當。但此症原起於痰凝氣滯火鬱，氣血不調而生，正謂郁者開之，滯者行之，如誤用瘡科解毒泄氣，誤補誤攻之藥，必致多危。</p>
<p>蓮子蜂窠防毒陷。</p>
<p>蜂窠蓮子二發，多生於背，與心相近，與脊中平。輕者形長高腫，或偏半背；重者形斜平塌。兩脅俱傷，孔似蜂窠，突如蓮子，瘡形雖畏，常能多險多生。老弱不堪，反取常安常穩。大規只怕不純陽，治法何妨瘡勢惡。護心護膜丸丹，須要調停，執藥執方，活法在乎醫意。機參總論，法決存亡。</p>
<p>腰間腎俞發難生。</p>
<p>腎俞發者，生於兩腰陷肉之間，或正中亦發。凡生於此者，最為險候，蓋內腎為性命之本，藏精藏氣藏神，又謂受命先天，育女育男育壽，此等皆出於腎臟也。是疾房勞過度，氣竭精傷，其臟必虛，諸火諸邪，乘虛而入，既入之後，渾結為瘡，如本臟稍有真陰制火，瘡形自可紅活高腫為膿。治以人參養榮湯，加山萸、五味子、黃柏、知母、及加減八味丸，以救其源也。若瘡形紫黑乾枯堅硬，不作膿者，為真陰內敗，再無可生之理。</p>
<p>督脈經虛從項發，俗名對口故相稱。</p>
<p>對口有偏正之不同：發於正者，屬督脈所主；發於偏者，乃太陽膀胱所司。二者皆起於濕熱上攻，凝結而成也。督脈發瘡易治，因督脈起於下，而貫脊行於上，故毒氣得之，反能衝突高腫。膀胱者發瘡雖偏，而每為難治，蓋膀胱之脈，起於巔頂，貫項兩傍，順下而行，乃與瘡毒交會下流，故瘡多平塌。又太陽膀胱主司寒水，其質多冷多沉，故瘡於此多難起發，形色多難紅活，堅硬難潰，又易流注兩肩胸項作腫。十五日外無膿者，必然變黑歸陰，故多不治。治以黃連消毒飲主之，余皆降火化痰，解毒清心，托裡為要也。</p>
<p>何期耳後多生髮，夭疽銳毒本非輕。</p>
<p>發生於耳後一寸三分，致命之處，誠為險惡之候。左為夭疽屬肝木，右為銳毒屬肺金。二者皆起於積想在心，謀慮不決，致火旺而又郁，鬱而又旺，以成此疾也。故形多堅硬，頭多隱伏，未潰先黑，未膿先腐，臭穢易生，元氣易敗。凡生此瘡，毒氣多致不得外發，發後必內攻而死。但此症初生，起於隱微，令人多不知覺，及其知覺，毒已入內矣。如紅活高腫，易膿易腐者，俱無妨。</p>
<p>又有脫疽生手足，丹房補術孽根因。</p>
<p>脫疽初生如粟，色似棗形，漸開漸大。筋骨伶仃，烏烏黑黑，痛割傷心，殘殘敗敗，汙氣吞人，延至踝骨，性命將傾。此非天命，自喪其身。古人有法，截割可生。今人誰肯割截為名？治法雖有，詳在後文。</p>
<p>漫腫難治焮腫易，總論中間法可憑。</p>
<p>漫腫者，肉腫瘡不腫是也。焮腫者，瘡腫肉不腫是也。瘡之初起，理當升發。潰膿之後，不可內消，宜用托藥。如不應者，乃毒勝氣血，死在旬日。或已發出而不腐潰，根腳堅硬，或軟而散大者，急投托藥，大補脾胃，不應，死在二旬。若已潰而色不變紅活，亦不生肌收斂，瘡口暈大，腫痛不減，胃氣不回，急須峻補。不應者，乃脾崩，死在月餘。</p>
<p>諸瘡另自分門說，豈許輕於紊此呈。</p>

<h2>癰疽治法總論</h2>
<p>癰疽發背怎生醫，不論陰陽先灸之，不痛灸至痛，疼灸不痛時。</p>
<p>凡看癰疽腦項等發大瘡，先要從容立定主意，以見標日期為始，到今幾日，看瘡形與日期可否相對，相應則多吉，不應則多險。次看受病之源，發於何臟腑，出於何部位。但身體有上下，部位有險否，形色辨順逆，精神論有無。再看年紀老壯，氣血盛衰，發陰發陽，毒深毒淺。以陽為易治者多生，以陰為難治者多死。方診脈之虛實，可知順險，以決其終。凡瘡未潰前，脈要太過一二至，已潰後，又宜不及二三分，此為脈病相應，首尾自無變症。如其相反，恐防不測，但看法全在目力精巧，與心相應，一一參明，表裡透徹，然後方定治法。凡瘡七日以前，形勢未成，無氣未弱，不論陰陽表裡，寒熱虛實，俱先當灸。輕者使毒氣隨火而散，重者拔引郁毒，通徹內外。火引毒氣混合為陽，方能發腫作痛，然後可汗可攻，或消或托，兼求標本忝治，必以脈合藥以藥合病，如此治之，自然無錯矣！故藥難執方，全在活法，大抵關節首尾，俱不可損傷元氣脾胃為要。</p>
<p>內服蟾酥丸一服，外將神火照三枚。</p>
<p>凡瘡初起，七日之前，或已灸之後，未服他藥，宜用蟾酥丸一服，得汗解為妙。或萬靈丹發汗亦可，所謂毒氣隨汗而散，最為捷徑。如二藥服後，發汗不出，此乃表裡閉密之故，毒亦不輕，當神妙拔根方施治。神燈照法，亦不可用之太早。如瘡四五日之間，形未聚，毒未出，若早用之，恐留郁在內，毒反難出。須用在八九日之後，瘡勢已定，毒氣已聚，未成膿腐之時。用此照之，已成者自高，未成者自消，不潰者自潰，不脫者自脫，亦且解毒活血消腫散瘀之良法也。</p>
<p>用膏貼頂上，敷藥四邊圍。</p>
<p>凡瘡最忌風寒所襲。初起之時，或已灸之後，俱當用太乙膏蓋貼頂上，功效在於拔毒，提頂提膿，防禦風寒不入。如焮痛高腫，陽瘡七日之後，瘡頭自有黃色，稠膿相黏膏上，余腫紅色光亮鮮明，每日宜用蔥湯洗淨，換膏貼之。其正膿定在十一日前後出也，此為易治易安之症。如七日之後，瘡不大腫高，四邊又不焮痛，瘡頭亦無膿意相黏，此為陰陽相等之症。宜用化腐紫霞膏，塗瘡頂上，外以膏藥蓋之。換至十日外，瘡頂漸腐，余腫漸高，似有膿意之象，其正膿只在十五日之後可出也，此為以險成順之症。至於二十日以後無膿者，乃純陰之症，縱治亦無效矣。又如瘡之四圍根腳余腫，其功又在敷藥，收束根本，庶不開大。初起時宜用金黃散敷於四邊，拔毒消腫止痛。既潰後，當用鐵桶膏箍之，庶瘡根漸收漸緊。但諸瘡原因，氣血凝滯而成，切不可純用涼藥，冰凝肌肉，多致難腐難斂，必當溫暖，散滯行瘀，拔毒活血藥用之，方為妥當也。</p>
<p>氣盛兮頂自高而突起，血盛兮根腳束而無疑。</p>
<p>氣血者，人之所原稟。老者尚或有餘，少者亦有不足。人之命脈，全賴於此。況百病生焉，失此豈能無變，獨瘡科尤關係不淺。但腫瘍時，若無正氣衝托，則瘡頂不能高腫，亦不能焮痛潰膿，則無真陰相滋，瘡根不能收束，色亦不能紅活收斂。凡瘡頂高根活，不論老少，氣血有餘，俱可無妨。又宜交會明白，交會者，瘡根與好肉交界之處，高低自然分別；明白者，瘡形與好形，各無混雜。以此觀之，瞭然明白矣。</p>
<p>高腫起者，忌用攻利之藥，以傷元氣。平塌漫者，宜投補托之劑，以益其虛。</p>
<p>凡瘡初發高起者，內臟原無深毒，毒發於表，便得托裡，以速其膿，忌內消攻伐，以傷脾氣，膿反難成，多致不能潰斂。又瘡初起不高不赤，平塌漫者，元氣本虛，急宜托裡溫中健脾，催托毒氣外發。庶無變症矣。</p>
<p>內熱甚者，量加消毒清劑。便秘燥者，必須通利相宜。使臟腑得宣通，俾氣血自流利。</p>
<p>腫瘍時內熱口乾，脈實煩躁，便秘喜冷者，此為邪毒在裡，急與寒涼攻利，宜內疏黃連湯，四順清涼飲，內消沃雪湯，俱可選用。又兼有表症，防風通聖散，去麻黃，或雙解散，加桔梗，天花粉，又或小便不利者，兼入天水散，五苓散，俱可合用。務使二便通利，以杜其源。又有元氣素虛者，恐不勝前藥，以托裡消毒散，加蜜炒大黃，或兼豬膽導法，必得通利為度。首尾俱要閉而不結，通而不泄，得臟腑和平，表裡透徹，方可托裡排膿。內補之藥，又如潰瘍時，雖有口乾便閉，臟腑不和不利等症，此因潰後膿水出多，內亡津液，氣血虛耗，不能榮潤臟腑所致。其人必脈細而數，口和而干，飲食減少，好飲熱湯，此乃虛陽之火為病，非前有餘可比。只宜養氣血，滋津液，和臟腑。如此治之，則二便自和，亦無變症。常有誤行攻利，多致不救者矣。</p>
<p>十日之間瘡尚堅，必用披針，當頭點破。</p>
<p>凡瘡十日以後，自當腐潰為膿，如不作膿腐，仍尚堅硬者，此屬陰陽相半之症，瘡根必多深固，若不將針當頭點入寸許，開竅發泄，使毒氣無從而出，必致內攻也。倘內有膿，又便易出，此為開戶逐賊之意也。亦有十日外，瘡雖不腐潰，形尚紅活，焮熱腫痛，此雖膿遲，後必有出，此又不必針之。蓋緣元氣不能充足，或失用補托之藥，又誤用寒涼，或蓋覆未暖，多致膿遲。有此症者，宜用補中健脾，大補托藥，以得膿為效。又以十五日至二十一日為期，過此外者，縱有稀膿，但元氣被毒相拒，日久必致耗散，誠難歸結也。</p>
<p>半月之後膿亦少，須將藥筒，對頂拔提，有膿血之交黏，必腐肉之易脫。</p>
<p>如瘡半月後仍不腐潰，不作膿者，毒必內陷，急用披針品字樣，當原頂寸許，點開三孔，隨瘡之深淺，一寸二寸皆可入之，入針不痛，再深入不妨，隨將藥筒預先煮熱，對孔竅合之良久，候溫取下。如拔出之物，血要紅而微紫，膿要黃而帶鮮，此為血氣營運活瘡，其人必多活。又謂膿血交黏，用藥可全，色鮮紅活，腐肉易脫。如拔出瘀血紫黑，色敗氣穢，稀水無膿者，此為氣血內敗死瘡，所謂氣敗血衰，神仙歡哉。此等之瘡難矣，其人必在月終亡。</p>
<p>且如斯時，內有膿而不得外發者，以針鉤向正面鉤起頑肉，用刀剪，當原頂剪開寸余，使膿管得通流，庶瘡頭無閉塞。</p>
<p>已用藥筒拔膿之後，外既有孔，內竅亦通。瘡期又當大膿發泄之後，如膿尚少，亦非自然得出，故瘡頭必有瘀腐塗塞，內肉亦有頑膜阻隔，多致膿管不通，自難出也。須用針鉤起瘡頂頑肉，以披針利剪，隨便取去寸余頑硬之肉，取之微痛血出，俱自不妨，隨用兩手輕重得宜，從瘡根焮處，漸漸捺至中間，剪出膿管處，內有聚膿，自然湧出，以黃色稠厚為吉，其膿日漸多者為輕，反此為慮。此功務使塗塞者開之，令膿毒外發也。</p>
<p>頻將湯洗，切忌風吹。</p>
<p>凡瘡未潰前，或已用照藥後，俱要煎蔥艾湯每日淋洗瘡上一次，甚者早晚二次，使氣血疏通，易於潰散。又已潰時，及藥筒提拔之後，尤宜避風，先去舊藥，用方盤瘡下靠身放定，隨用豬蹄湯以軟絹淋湯瘡上，併入孔內，輕手捺淨內膿。庶敗腐宿膿隨湯而出，以淨為度，再以軟帛疊成七八重，勿令太乾，帶湯覆於瘡上，兩手輕盈旋按片時，帛溫再換，如此洗按四五次，使氣血得疏通，患者自然爽快，毒氣得解，腐肉易脫，疼痛得減，此手法之要，大瘡不可缺也。候腐脫已見紅肉時，洗後隨用紅玉膏挑於手心捺化，搽新舊肉上，外用膏蓋，四邊根腳已消，不必箍藥，每日如此，不數日，膿盡腐脫，新肉頓生。再加內補，調理得宜，輕瘡只在月餘，大瘡不過七十日，必完口而愈。</p>
<p>關節在於斯時，變生出於此候。</p>
<p>關節者，陽瘡以十四日為關，陰瘡以二十一日為節，此時務要出膿勢定，不可過釀。但膿出方自腐脫；腐脫方自肌生，肌生方自收斂，收斂方自瘡平。如斯時不得膿者，後必有變，為一關順，後必多順，一關逆，後必多逆。</p>
<p>治當大補，得全收斂之功，切忌寒涼，致取變生之局。</p>
<p>凡瘡潰後，五臟虧損，氣血大虛，外形雖似有餘，而內臟不足，法當純補，乃至多生。已潰時發熱惡寒，膿多自汗作痛者，十全大補湯。虛熱少睡，飲食不甘者，黃耆人參湯。皮寒虛熱，咳嗽有痰者，托裡清中湯。四肢倦怠，肌肉消瘦，面黃短氣者，人參養榮湯。膿多心煩，少食發躁不睡者，聖愈湯。脾虧氣弱，身涼脈細，大便溏泄者，托裡溫中湯。飲食不甘，噁心嘔吐者，香砂六君子湯。脾虛下陷，食少虛熱間作者，補中益氣湯。腎虛作渴，不能相制心火者，加減八味丸。仿此選用，蓋托裡則氣血盛而脾胃旺，使膿穢自排，毒氣自解，死肉自去，新肉自生，飲食自進，瘡口自斂。若不務補托，而誤用寒涼，謂之真氣虛而益虛，邪氣實而益實，多致瘡毒內陷，膿多臭穢，甚則脈洪大渴，面紅氣短，此真氣虛而死矣。</p>
<p>蓋瘡全賴脾土，調理必要端詳。</p>
<p>脾為倉廩之官，胃為水穀之海。胃主司納，脾主消導。一表一里一納一消，運行不息，生化無窮。五臟六腑，藉以生養，又謂得土者昌，失土者亡。蓋脾胃盛者，則多食而易飢，其人多肥，氣血亦壯；脾胃弱者，則少食而難化，其人多瘦，氣血亦衰。所以命賴以安，病賴以安，況外科尤關緊要。善養脾胃者，節飲食，調寒暑，戒喜怒，省勞役。如不然，則精神氣血由此而日虧，臟腑脈絡由此而日損，肌肉形體由此而日削，所謂調理一失，百病生焉，故脾胃不可不詳也。</p>
<p>冬要溫床暖室，夏宜淨幾明窗。</p>
<p>人之氣血，喜暖而惡寒，又謂遇寒則結，遇熱則散。況瘡乃肌肉破綻之病，若不防禦，風寒最為易襲。凡看瘡時，冬要圍爐暖室，逼盡余寒。夏宜淨幾明窗，庶外風不入，然後方可揭膏洗貼。</p>
<p>飲食何須戒口，冷硬膩物休飧。</p>
<p>人之病中，腫痛時自然痛傷胃氣，諸味不喜。直待潰後，膿毒一出，胃氣便回，方欲思食。彼時但所喜者，便可與之，接補脾胃。如所思之物不與，此為逆其胃氣，反致不能食也。切要不可太過，惟恐生冷傷脾難化，硬物肥膩滑腸，故禁之。</p>
<p>癰疽雖屬外科，用藥即同內傷。</p>
<p>古之以外科推為雜病之先，蓋此傷人迅速，關係不淺，故特設於前也。且如癰疽腦項疔毒大瘡，形勢雖出於外，而受病之源，實因於內也。及其所治，豈可舍於內而治外乎？所以外不起者，內加托藥；表熱甚者，內必清解。血虛宜用四物湯，氣虛宜用四君子湯，脈虛足冷溫中，脈實身熱涼膈。以此推之，內外自無互異。</p>
<p>病要論久新，要法在於寬治猛治。</p>
<p>病有新久，勢有緩急。如受病之初，元氣未弱，治當隨症迎刃而解。若懼行霸道猛劑，定不能決效於危急時也。用藥中病，如表症盛者，用萬靈丹，大加表散。里症急者，以內疏黃連湯，急與通行。又如受病日久，邪正相拒，其元氣示有不衰弱者，縱有餘症雜症壤症，俱當先固其本，而後調之和之散之，使病氣漸退，元氣漸醒，飲食漸進，根本漸實，則余患再無不愈之理。</p>
<p>藥必求標本，功莫別於先醫後醫，若一概之攻補，恐兩途之誤用。</p>
<p>物理皆有標本。而病之標本，尤莫切焉。身體之標本，五臟為本，六腑為標。五臟主裡主血，六腑屬表屬氣。疾病標本，以初病為本，以傳病為標；又以元氣為本，病氣為標。此所以寒熱表裡緩急之病，應汗下補瀉和解之方。凡治病者，必先治其本，後治其標。若先治其標，後治其本，使邪氣滋甚，其病益增。又謂緩則治其本，急則治其標，假如先得瘡疾，而後得泄瀉嘔吐食少等症，宜捨本從標之法治之，候瀉止嘔定食進，方再治瘡，余皆仿此。</p>
<p>又說陽變為陰，內外被寒涼克伐。</p>
<p>瘡本發於陽者，為癰為熱為實為疼，此症易治。患者不覺，以為小恙，不早求治。反又外受風寒，內傷生冷，或再被醫者失於補托，而又以涼藥敷圍，以圖內消，合病家之意，多致氣血冰凝，脾胃傷敗，使瘡毒變在十一日未出膿之前，形勢與好肉相平，不疼不熱，軟慢相兼，瘡孔止流清稀肥水，更兼身體不熱，脈亦細微，飲食厭飧，精神昏短。有此症者，變入真陰，雖強投溫中健脾之劑，不應者，百無一生。如瘡變在十五日之後，已出膿時，毒氣已將外發，如有調攝失宜，誤食冷物，忽變為陰者，急投托里溫中湯，十二味異功散，輕者十全大補湯，俱倍加參耆桂附以救之。須得瘡熱作痛，膿出身溫，脈起食進者為吉。但瘡原本於陽其人故得多生者有矣。</p>
<p>豈期陰變為陽，首尾得辛熱扶衰，病分真似，理究陰陽。</p>
<p>瘡本發於陰者，為疽為冷，為硬為虛，此症難治。患者知覺欲生，而故將辛香酒煎大方熱藥以助之，醫者又欲患處高腫，焮熱作膿，敷以熱藥，圖其起發，故瘡得藥性大熱，轉陰為陽。其瘡雖得微腫微熱微痛微膿，但瘡形終不似真陽紅活，不得真厚黃膿，如此者不久復歸陰矣。但瘡原本於陰，其人多死。凡值此症，若患者方寸不雜，托信於醫，而醫者又得機關透徹，治法得宜，內外融和，每每中節，其中亦有可生者，十中一二矣。</p>
<p>既有針工之異說，豈無線藥之品詳。</p>
<p>凡瘡毒既成，當托其膿；膿既成，當用針通，此舉世自然之良規也。必當驗其生，熟淺深上下而針之。假如腫高而軟者，發於肌肉，膿熟用針，只針四五分；腫下而堅者，發於節脈，膿熟用針，只在六七分；腫平肉色不變者，毒氣附於骨也，膿熟用針，必須深入寸許，方得見膿。又輕按熱甚便痛者，有膿且淺且稠。重按微熱方痛者，有膿且深且稀。按之陷而不起者，膿未成。按之軟而復起者，膿已成。按之都硬不痛者，非膿即瘀血也，或濕水也。所謂有膿即當針，膿孔宜順下。若膿生而用針，氣血反泄，膿反難成。若膿熟而不針，腐潰益深，瘡口難斂。若膿深而針淺，內膿不出，外血反泄。膿淺而針深，內膿雖出，良肉受傷。元氣虛者，必先補而後針，症隨膿退。又有氣癭腫而綿軟不痛者，血癭腫而內疊成塊者，頑毒結之日久，皮腐肉紫，根硬四邊紅絲纏繞者，以及結核之症，漸大漸痛漸腐者，以上四症，俱不可輕用針刀掘破。若妄用之，定然出血不止者立危。但用針之法，妙在膿隨針出，而寂然無所知覺也。至於癭瘤瘰癧諸痔諸漏，疔毒堅硬頑瘡，此等症者，若非線藥之功，亦不能刻期取效。夫線藥乃有五六種，難以概說，與其各病相應者，亦隨症而善用之。</p>
<p>湯散丸丹，要在發而必中，神聖工巧，誠為學者機關。</p>
<p>醫善用方，如將善用兵。善於水者，涉海潛波，渡津破浪；善於陸者，穿山越嶺，附葛攀藤；奇偶者鼓舞飛揚，蹊徑者浮沉鑽鑿，弱者可守，強者當敵，此為將用兵之大法。凡為醫者，理皆仿此，其要在知人之強弱，識病之內外，究病之淺深，察時之順逆，然後可汗可攻，或吐或下，或宜和解，或宜補益，又知某湯善汗，某散善攻，某丸善和，某丹善補，因其病而用其方，如矢發機，投之必中，中之必勝，勝之則病無不愈之理，此為用方之大法也。又如望聞問切，神聖智巧，亦可兼之。所謂望其形而通其神，聞其聲而明其聖，問其由而得其工，切其脈而續其巧。此四者，誠為初學之繩墨也。</p>
<p>至於千萬百症，難將說盡短長。</p>
<p>方不在多，心契則靈。症不在難，意會則明。方不心契，症不意會，如疏淡之交，寡遊之地。性情形勢不切，何以便托用哉！故藥不應病，病不應藥，即此據也。</p>
<p>治在活法，貴在審詳。</p>
<p>動靜世務不同，勞逸機關亦異。昔之受病，從外而來，今之受病，從內而發。又古者多實，設方宜散宜宣，今者多虛，治法宜滋宜補。若醫者不識古知今，一概施與，必多致其夭亡者也。用之必得其當，醫斯可以稱良。</p>

<h2>治病則例歌</h2>
<p>外科之瘡有治例，說與君家須切記。病端百出別根因，方法一囊豈同類。熱與寒，通與秘，其中消息知端的。通多不足秘多餘，熱實寒虛分症治。陽似陰，陰似陽，其中妙理要推詳，不分表裡一例治，輕變重而重變亡。醫者貴乎多應變，不可偏執用其方。且如表症惡寒，宜用荊防敗毒散。里症發熱，可將內疏黃連湯。瘡勢已成，托裡消毒散，誠為正法。內膿將潰，十全大補湯，最得相當。人參養榮湯，治潰後虛熱發作。木香流氣飲，散結腫寒濕為殃。飲食不甘，定用香砂開胃。精神怯少，須將參朮回陽。陰虛陽虛，須八珍最為要領。盜汗自汗，得獨參一味可強。潰後多疼，乳香定痛散，功奇莫緩。脾虛下陷，補中益氣湯，功效尤良。曰燥譫言，瀉實火須黃連解毒湯。心煩衄血，理虛陽必犀角地黃湯。古法治癰疽，稱述仙方活命飲。今時醫發背，還期神授衛生湯。蟾酥丸、在外科稱為獨品，護心散、解內毒號曰無雙。詎知蠟礬丸護膜護心，可羨淡中有味。還贊玉紅膏生肌生肉，堪誇壞里呈祥。身涼自汗，腹痛腸鳴嘔逆，豈逃異功散。睡臥不寧，虛陽發躁膿多，定用聖愈湯。生脈散、接虛羸，（音雷）脈來微細。歸脾湯、除驚悸，睡得安康。竹葉石膏湯，治虛煩身熱者，何須疑慮。麥冬清肺飲，除膈熱有痰者，無待商量。金鯉湯，治肺癰吐膿氣急。元龜丹，攻結毒臭腐頑瘡。風熱生瘡通聖散，瘡瘍狂躁破棺丹。小柴胡湯、除客邪往來潮熱，大防風湯、攻腿膝寒濕為殃。咽腫咽疼，定用清咽利膈散。斑紅斑紫，豈逃化斑解毒湯。八味丸解口乾妙藥，二神丸治脾泄奇方。香連丸為臟腑瀉痢通用，甘露飲治口齒腐爛相當。六和湯和脾止吐瀉，雙解散解表裡內傷。逍遙散善治女人諸病，保元湯常扶赤子多傷。皮膚毛髮乾焦，蘆薈丸效應甚捷。咽喉口齒腫痛，冰硼散功實非常。滋腎丸治下元腎虛不固，涼膈散解上焦膈熱多煩。九龍丹消魚口，吞之滅跡。二蚊散行濕腫，服下安康。呂祖一枝梅，止痢定驚。稱為仙藥。真君妙貼飲，消疼止痛，號曰神方。痔漏癭瘤疔毒，古誇三品錠。癰疽流注諸風，今羨萬靈丹。柴胡清肝湯，治鬢疽肝膽有效。黃連消毒飲，醫對口督脈尤良。小兒口內生疳，必用人中白散。大人咽喉腫痛，須將金鎖匙湯。下疳新久珍珠散，小便淋澀木通湯。玉真散破傷風有效，復元湯療跌撲稱強。提肩散治胳膊強直作痛，拈痛湯除痛腿風濕相傷。小便生疳，龍膽瀉肝服可羨。大頭腫痛，普濟消毒飲何妨。便毒懸癰，內消散吞何足慮。臀癰腿病，耆柴湯下自無殃。又有女子陰瘡，能腫能疼能至癢。在人活法，或消或補或蟲妨。蓋夫男子之囊癰，瀉肝經之濕熱。小兒赤遊丹，解毒兼砭血。凡治楊梅瘡，戒熏為至切。舌下發痰包，利剪方能泄。出如雞蛋清，消痰是真訣。結毒與頑瘡，紫金膏可設。風瘡徹骨癢，雄黃散效絕。疔瘡先刺血，內毒宜汁汗泄。禁灸不禁針，怕綿（綿者毒陷也）不怕鐵（鐵者入針堅硬有聲）。又有失榮腫，堅硬如岩凸。強陰失道症，形狀要分別。婦人之乳岩，此中一例決。未破肉嶒稜，已潰流臭血。如此幾般症，古今無治說。瘡有數百種，難以都陳白。惟在一點心，何須三寸舌。學者若精靈，萬事皆通徹。此為粗糙歌，可譏亦可閱。</p>

<h2>癰疽灸法並禁灸瘡穴</h2>
<p>凡瘡初起，除項之以上，余皆用艾火。隨瘡勢大小，灸艾壯之多少，用蒜切成薄片，安於瘡頂上，著艾炷點火三壯，一換蒜片。初灸覺痛，以不痛似癢為止；初灸不痛，以知痛癢為住。如初灸全然不覺痛癢，宜去蒜，當明灸之。又陰瘡日數多者，艾炷不及其事，以蒜搗爛鋪於瘡上，艾亦鋪蒜上，點火灸之，必知痛甚為效。此為火氣方得入里，知痛處方是好肉。蓋艾火拔引郁毒，透通瘡竅，使內毒有路而外發，誠為瘡科第一法也。貴在乎早灸為佳，又有禁灸數症。頭乃諸陽之首，純陽無陰之處。凡生瘡腫，俱是亢陽熱極所致，如再加艾火，使毒氣熾甚，隨後反加大腫，最能引動內痰，發之必死。面生疔毒亦然。又有腎俞一穴，在於兩腰脊傍，系內腎命根所繫之處，此穴發瘡，多因房勞素虧，腎水枯竭而成。若再加艾灸，以爍其源，必致內外乾涸，多成黑陷，昏悶而死。又有患者元氣素虛，發瘡多不高腫，其人體必倦怠，精神必短而昏，脈必浮散空虛，數而不鼓，此內無真氣抵當火氣。如灸之，其人必致昏憒而死。常謂艾火不虧人，此言誤之多矣，醫者亦宜詳察之。</p>

<h2>論病生死法</h2>
<p>初生如粟，里可容谷；外面如麻，裡面如瓜；外面如錢，里可容拳，起勢大，終無害。未老先白頭，無膿軟陷休，瘡從疙瘩起，有膿方腫潰，氣昂昂，不治自安康。根高頂又高，八十壽還饒，焮腫易腐爛，任大終無恙。瘡高熱焮疼，雖苦必然生。瘡軟無神氣，癰補方為益。肉腫瘡不腫，畢竟生疑恐，膿穢不進食，泄瀉黃泉客。瘡色豬肝紫，無膿必定死。綿潰不腐爛，內怕葡萄嵌。仰臥不知疼，陰症命難生。腐盡有敗氣，笑里終生戾。散根瘡平塌，神仙無治法。久病目露神，必定命難存。面忽似塗脂，十日後分離。敗中有紅肉，雖重生門路。新肉如板片，不食終須變。手足皮枯槁，血敗身難保。唇白眼無神，腹脹瀉將傾。醃氣不滃氣，雖重多生意。眼眶黑氣濃，癰疽怕此逢。房中香馥馥，是病終為福。瘡熱身微熱，輕病何須說。生死此中求，片言一可決。</p>

<h2>察形色順逆</h2>
<p>凡看人之病，兼視其形色，後與脈病相參，誠識於始，以決其終，百無一失矣。何以知之？陰病見陽色，腮顴紅顯，陽病見陰色，指甲呈青，此二者俱死。又身熱脈細唇吻反青，目珠直視者死。面如塗脂，色若土黃，油膩黑氣塗抹者死。唇舌乾焦，鼻生煙煤，眼神透露者死。形容憔悴，精神昏短，身形縮小者死。喘粗氣短，鼻焮睛露，語言譫妄者死。循衣摸床，遺尿失禁，撮空者死。頭低項軟，眼視無神，吸吸短氣者死。皮破無血，肉綻爛斑，麻木不知痛癢者死。齒黃色如煮豆，唇白皮理無紋，耳黑枯焦不聽，人中縮而坦平，口張氣出無回閉，鼻煽相隨呼吸行，汗出如珠不散，痰若膠而堅凝，口血紅如肺色，指甲彎而帶青，神昏神浮，神亂神離，緇衣生滿面，黑氣慘天庭，逢之都沒命。法在此中評。</p>

<h2>病有三因受病主治不同論</h2>
<p>三因者，內因、外因、不內外因。此說從於先古，其詞意尚有發而未盡者。內因起於七情蘊結於內，又兼厚味膏粱，熏蒸臟腑，房欲勞傷，虧損元氣，乃五臟受之，其病由此而發者多，在富貴肥胖者十有八九。其見症形多堅硬，根蒂深固，二便不調，飲食少進，外軟內堅，平陷無膿，表實裡虛，毒多難出，此即內傷之症也，故曰內因。外因者，皆起於六淫體虛之人，夏秋露臥。當風取涼，坐眠濕地，以致風寒濕氣襲於經絡，又有房事後得之，其寒毒乘虛深入骨髓，與氣血相凝者尤重，或外感風邪，發散未盡，遂成腫痛。此肌肉血脈筋骨受之，其病由此外來者，發之多在不善調攝。跌撲勞碌人十有八九，症多寒熱交作，筋骨疼痛，步履艱辛，濕痰流毒，以及諸風癱瘓，口眼歪斜，半身不遂，風濕風溫，天行時毒等症，此即疾病之外感也，故曰外因。又有不內外因，內無七情干內，外無六淫傷外，何由來也，其病得於飢飽勞役，喜怒不常，飲食者冷熱不調，動作者勤勞不惜，以致臟腑不和，榮衛不順，脾胃受傷，經絡凝滯，故為疾者，外無六經形症，內無便溺阻隔，其病多生於肌膚之間，似瘰癧痰注氣痞癭瘤之屬，治法不必發表攻裡，只當養氣血，調經脈，健脾和中，行痰開鬱治之，法為最善。</p>

<h2>調理須知</h2>
<p>凡人無病時，不善調理，致生百病。況既病之後，不加調攝，而病豈能得愈乎？其調治有法，初起病時，先看病者元氣虛實，次看瘡之陰陽險否，然後用藥調治，當攻即攻，可補便補，不可因循耽誤，以致變症不測也。且患者又當安定心神，相忘諸念，毋使倉皇，乃保神氣，不得變亂也。再順天時，假如夏熱，坐臥不可當風，忌置水於榻前床下。冬寒常要溫和，非柴火不可開瘡看視。倘有寒侵，致生多變。又未潰之先，毒氣內作，有口乾渴症者，涼物類當少少與之，以滋蘊熱。至膿潰之後，後冷硬物，一概禁之。不然，傷脾損胃，膿必難成。致瘡軟陷，又難收斂。飲食須當香燥甘甜，粥飯隨其喜惡，毋食過飽，宜少宜熱宜濃，方無停滯，又得易化故也。如大瘡潰後，氣血兩虛，脾胃並弱，必制八仙糕，早晚隨食數餅，接補真元，培助根本，再熬參朮膏。如患者脾胃俱虛，飲食減少，胸膈不寬，飲食無味者，用白朮膏三匙，人參膏二匙，清米湯空心化服，喜飲者酒化亦可。若精神短少，昏沉多睡，自汗勞倦，懶於動作者，用人參膏三匙，白朮膏二匙，亦酒化服。如肌膚粗澀，面蒼不澤，或大便血出虛秘，以及皮乾發槁者，同地黃膏各二匙和服，或飲陽春酒更妙。其功強健精神，頓生氣血，開胃助脾，潤肌榮骨，此二藥其功非小，大瘡不可缺之，實非草藥之比。病者當信用之，乃無更變。視者又多反覆不常，故有易愈難愈之態，實在乎得此失此之規也。</p>

<h2>雜忌須知</h2>
<p>凡病雖在於用藥調理，而又要關於雜禁之法。先要灑掃房屋潔淨，冬必溫幃，夏宜涼帳，庶防蒼蠅蜈蚣之屬侵之。一切尼僧孝服，經行婦女，及遠客生人，開瘡時俱當忌見。牛犬腥膻醃臘熏藏之物，俱能作渴生干。瓜果梨柿菱棗生冷等類，又能損胃傷胃。雞鵝羊肉鴿子蚌蛤河豚蝦蟹海腥之屬，並能動風發癢。油膩煎炒烹炙鹹酸厚味等件，最能助火生痰，赤豆蕎麵，動氣發病。惱怒急暴，多生痞滿。飲食太過，必致脾殃。瘡愈之後，勞役太早，乃為羸（音雷）症。入房太早，後必損壽。不避風寒，復生流毒。不減口味，後必瘡癢無度。大瘡須忌半年，小瘡當禁百日，誠為知命君子也。</p>

<h2>瘡瘍看法</h2>
<p>初起頂高，根活色赤，發熱焮腫疼痛，日漸高腫者順。已成焮痛，皮薄光亮，飲食如常，二便調和，身溫者順。已潰膿稠，色鮮不臭，腐肉自脫，焮腫易消，身輕者順。潰後膿厚稠黃，新肉易生，瘡口易斂，飲食漸進者順。初起頂平根散，色暗微腫，不熱不疼，身體倦怠者逆。已成腫堅，色紫，不作膿，不腐潰，惟口乾多煩躁者逆。已潰皮爛，內堅不腐，腫仍不消，痛仍不減，心煩者逆。潰後膿水清稀，腐肉雖脫，新肉不生，色敗臭穢者死。</p>

<h2>腫瘍治法</h2>
<p>起初知痛或不痛，起發或不發，毋論陰陽表裡，日數遠近，但未見膿者，俱宜灸之。既灸不知痛癢，明灸之。焮腫發熱，疼痛有時，脈來浮數，無便秘者，宜藥托之。身體拘急，脈緊惡寒，飲熱就暖者，邪在表也，宜汗之。腫硬痛深，口乾便秘，身熱脈實者，邪在裡也，宜下之。焮痛勢甚，煩躁飲冷，舌乾口燥者，火在上也，宜清之。腫痛堅硬，背如負石，噁心乾嘔，邪毒在內，解毒拔之。腫痛日深，內膿不出，瘀肉塗塞瘡口者，急宜開割之。軟慢不作膿，及不腐潰者，陽氣虛也，壯脾胃，助陽氣。身涼自汗，手足並冷，六脈虛細，便泄陽脫也，急溫之。</p>

<h2>潰瘍治法</h2>
<p>膿熟不潰，瘡不焮熱，食少便溏者，脾虛也，補托溫中。膿清或多，瘡口散大，不生肌者，裡虛欲變症，峻補之。腐肉雖脫，新肉生遲，如凍色者，肉冷肌寒，大溫氣血。潰後食少，心煩不睡，發熱作渴，脾弱陰虛，補中益氣。身涼脈細，倦怠懶言，食不知味者，脾弱也，醒脾助胃。風寒襲於瘡口，皮白綻而不收斂者，外照而內溫補，潰後面黃肌瘦，膿水清稀，瘡色淡白者，當香燥助脾。脈大無力，細澀微沉，自汗身涼者，氣血俱虛，峻補之。出血或膿多，五心煩熱，燥甚不眠者，亡陽也，急補之。瘡口已合，經犯房勞，或值急暴，復崩潰者，仍助氣血。</p>

<h2>癰疽諸症瘡名十律</h2>
<p>背之左右謂疽癰，手膀肩臂亦相同。肺疽居右癰居左，蜂癰左右近喉嚨。耳後右為銳毒看，夭疽左耳後相逢。左右兩肩名搭手，井疽止發在心中。流注牽藤六七成，發於心上止臍平。脅疽生在脅肢下，陰疽大體近箕門。穿踝疽穿姑拐下，腳氣原來腳底生。左為便毒右魚口，鶴膝風從膝眼成。肩下臑癰腋下疽，喉嚨上下氣癰醫。當脈兌疽君可記，三寸相離穿骨基。紅絲疔從手上起，蛾子喉風口內隨。腎疽當腎生左右，三里穴發附陰疽。離臍四寸為嚇癰，再高三寸號幽癰。腸癰還從臍突起，胸疽乳子心肺中。合谷一疔名虎口，蛇頭魚腹指頭逢。腦後一疽名玉枕，莫作如常一樣同。肩疽樂疽居右手，石榴離肘上三分。左元陰右襠疽發，咬骨陰包穴上生。洲疽腎上腿附骨，佛頂疽生腦頂門。人世毒瘡當切記，敢教患者即安生。顴骨為疔唇上疽，鬢邊所發亦疽醫。眉中風眉傍侵腦，黑疔耳內不為奇。鼻內生疔當速療，透腦原來發際基。眉毛瘭疽能大毒，頰疔魚眼近腮齊。馬刀瘰癧氣癭瘡，一氣生來在頸項。火毒龍泉唇上下，對口原來發下藏。牙根唇上癰莫異，牙下生之疔一行。頂牙縫突為疔治，休作人間容易瘡。心肝脾肺腎癰疽，當看胸中穴道醫。更有黃頭並白泡，發無定處速如飛。左為坐馬右下馬，尾骨頭尖顴口疑。此物殺人能致命，火急攻醫切莫遲。婦人之乳有數種，高腫為癰堅硬疽。還有乳岩真惡症，腫如頑石破如墟。鈕釦之風生頸項，褐帶風瘡腳下需。又有濕臁瘡等疾，總生下腿上安居。嬰兒走馬爛牙疳，黑腐沿開臭不堪。赤遊丹毒渾身到，鵝口瘡苔滿口漫。風瘡奶癬多搔癢，血灌膿窠痛欠安。還有心脾諸熱症，口疳重舌一般看。</p>

<h2>煉元明粉法</h2>
<p>冬至後，用潔淨朴硝十斤，用水一斗五升，白蘿蔔五斤打碎，同硝入鍋內煮化。候湯滾足，撈去蘿蔔，將竹絲箕以綿紙二層，攤鋪箕內，架在新缸上，以硝湯徐入箕內，候折再添，以湯濾盡為度。將缸搭在天井，露三日，其硝結在缸邊，傾去余水，瀝乾為止。將硝取下，再用砂鍋頓炭爐上，將硝一碗，化開煎滾，以銅匙鏟攪，將成凝結時，鏟入小罐內，上空寸許，再下硝煉，如此已畢。每一罐下用三釘品字樣釘入土地，上留寸半在外，將罐浮頓釘頭上，用瓦片蓋口，周圍用段磚砌百眼爐圍繞，離罐寸半許，將著炭火入爐內，四圍底火頂火，一概相護，候罐硝紅為度。次日取出硝來，預用大綿紙攤在潔淨陰土地上，將硝碾細，用絹篩在紙上一錢厚，再不許多，將門扇俱已關閉，不許與人見之，三日後其硝自然復活，色白如粉，輕虛成片。將缽盛收紙蓋之，上再用亂紙蓋之，上再用亂紙寸許，以收潮氣，庶不凝結。此品最能降火化痰，清利臟腑，怪症服之可蠲，狂燥用之即愈。搜除百病，安斂心神。況此服之，不傷元氣，惟久病瀉痢者不宜。大人每服三四錢，小兒五分至一錢皆可。俱用白滾湯，或蔥湯空心化服。候行二三次，隨飲稀粥，自然爽健精神，調和臟腑，津液頓生，百病如失。又煅過硝石六兩，加硃砂三錢，青黛一錢，冰片一錢五分，共碾細末，照前篩紙上，再用紙蓋一層，四邊以戒尺壓緊，勿令走氣。候三日外取起密收，又名陽春紫雪，最治失心忘志，顛癇健忘，小兒急驚，大人異症。每服五分至一錢，俱用淡竹葉燈心湯化服，屢有奇效，不可盡述。元明粉乃神仙保命服食，每一斤，加生熟甘草末一兩，蔥湯化服二三錢，令人悅澤容顏，輕身耐老矣。</p>

<h2>取蟾酥法</h2>
<p>服蟾不拘大小，其酥俱有。用闊銅鑷，蟾眉稜高肉上微緊，拔出酥來，凝聚鑷里，多則指下，陰乾聽用。其取過之蟾，避風二日，仍送青草園中，自然不傷其生。如取之便見風下水，俱成破傷風，顛狽而死。</p>

<h2>製附子法</h2>
<p>大附子一兩外方用，隨數幾枚，以童便浸淹三寸，每日換便，浸至夏三冬五，再換童便，煮盡二香為度。去皮臍，線穿陰乾，或日中曬硬亦可，收藏聽用。</p>

<h2>制炒諸藥</h2>
<p>人參（潤色明亮堅實主輕泡不堪）　天門冬（泡去心）　麥冬（去心）　生地（酒浸）　熟地（酒蒸）　白朮（米泔浸炒）　蒼朮（米泔浸炒）　黃耆（蜜水拌炒）　甘草（生用補托消毒炙熟）　酸棗仁（炒研）　遠志（泡去心微炒）　五味子（炒研）　肉蓯蓉（去鱗酒洗）　牛膝（酒洗）　破故紙（炒）　當歸（酒洗）　白芍（微炒黃色）　白蒺藜（去刺）　元參（去根）　香附（童便浸炒）　柴胡（去蘆）　黃芩（酒炒）　黃連（解毒生用止嘔薑汁拌炒）　龍膽草（酒炒）　知母（鹽水拌炒）　栝蔞仁（去殼油）　貝母（去心）　陳皮（去里）　桔梗（微炒）　防風（去蘆）　乾薑（炒黑）　附子（童便浸炒煮）　半夏（薑汁煮）　川烏（炮去皮）　草烏（泡去皮尖）　巴戟（泡去心微焙）　南星（煨有為末入牛膽內）　威靈仙（去根）　仙茅（米泔浸蒸去皮）　三稜（泡）　澤瀉（蒸）　大黃（實人生用虛人灸）　海藻（酒洗）　昆布（酒洗切絲）　牡丹皮（去梗）　王不留行（炒碾）　牛蒡子（炒碾）　連翹（去梗碾）　金銀花（支梗葉）　牽牛（生用炒用）　地骨皮（去梗）　肉桂（去粗皮）　茯苓（去匏粗皮）　枸杞（去蒂）　山梔（碾炒焦）　琥珀（布包捶碎燈心煨研如面細）　黃柏（鹽水拌炒）　山茱萸（去核）　杜仲（鹽水拌炒斷絲）　桑皮（蜜水拌炒）　辛夷（去蒂）　乳香（去油為末）　沒藥（去油為末）　枳殼（麩炒）　厚朴（薑汁製炒）　巴豆（去油為霜）　皂角（去皮弦子煨）　五倍子（去蛀末炒）　蓮肉（泡去皮心）　山楂（去核）　桃仁（泡去皮尖）　杏仁（泡去皮尖微炒）　芒硝（煮提淨）　石膏（煅碾末）　雄黃（透黃紅明亮）　硫黃（去腳）　硇砂（淨明潔白）　硼砂（白色透明）　砒（白色明亮者有生煨兩用）　自然銅（醋煅七次）　黃丹（水飛炒紫）　龍骨（生用煅用）　牛黃（輕虛色黃）　麝香（去皮毛）　犀角（鎊末）　羚羊角（鎊末）　龍齒（煅存性）　蜂蜜（煉去白沫）　蟬蛻（去土）　斑蝥（米炒去翅足）　殭蠶（去絲微炒）　全蠍（酒洗去毒）　蜈蚣（炙去頭足）　蚯蚓（翻去腹土）　田螺（去殼曬乾）　牡蠣（煅研）　石決明（煅）　人中白（煅研）　珍珠（豆腐內煮數滾布包捶碎同燈心碾末）　紅鉛（法注末卷）</p>
<p>藥品應制炒泡炙者錄之，不泡炙者未錄。</p>
<p>凡藥必導雷公泡炙，入藥乃效。如未制生藥入煎，不為治病，反為無益。譬如人食餚饌，不用烹庖生食者，豈不害人，當熟思之。</p>

<h2>仙方活命飲古今不同論</h2>
<p>古人樸實，七情干涉者少，而從風寒暑濕，外感凝滯者多，故設仙方活命飲，攻散所滯之腫。服此得效者，十常八九，乃患者五臟不虛耳。今人穿鑿太過，七情煩攪之甚。而內臟無有不傷，每見此症，曾服過此藥，其瘡必不起發，脾胃再無不損。若瘡不起，脾胃傷敗，患者豈有得生，至此自於天命。今之治法，不論首尾標本，必先固脾，次行托藥，謂本立而道生，病無不活。予見如此，幸同道者察焉。</p>

<h2>醫家五戒</h2>
<p>一戒：凡病家大小貧富人等請視者，便可往之。勿得遲延厭棄，欲往而不往，不為平易。藥金毋論輕重有無，當盡力一例施治，自然生意日增，毋傷方寸。</p>
<p>二戒：凡視婦女，及孀婦尼僧人等，必候侍者在旁，然後入房診視。倘旁無伴，不可自看，設有不便之患。更宜真誠窺視，雖對內人，亦不可談，此因閨閫故也。</p>
<p>三戒：不得出脫病家珠珀珍貴等物，送家合藥，以虛存假換。如果該用，令彼自制入之，倘服不效，自無疑謗。亦不得稱讚彼家物色之好，凡此等非君子也。</p>
<p>四戒：凡為醫者，不可行藥登山，攜酒遊玩，又不可片時離去。凡有抱病至者，必當親視，用意發藥，又要依經寫出藥帖，不可杜撰藥方，受人駁問。</p>
<p>五戒：凡娼妓及私夥家請看，亦當正己，視如良家子女，不可任意兒戲，以取不正。視畢便回，貧家者藥金可璧，看病回，只可與藥，不可再去，以圖邪淫之報。</p>

<h2>醫家十要</h2>
<p>一要：先知儒理，然後方知醫業。或內或外，勤讀先古明醫確論之書，須旦夕手不釋卷，一一參明，融化機變。印之在心，慧之於目，凡臨症時，自無差謬矣。</p>
<p>二要：選買藥品，必遵雷公炮炙。藥有依方修合者，又有因病隨時加減者，湯散宜近備，丸丹須預製，膏藥愈久愈靈，線藥越陳越異。藥不吝珍，終久必濟。</p>
<p>三要：凡鄉井同道之士，不可輕侮傲慢，交接切要謙和謹慎。年尊者恭敬之，有學者師視之，驕傲者遜讓之，不及者薦拔之，如此自無謗怨，信和為貴也。</p>
<p>四要：治家與治病同，人之不惜元氣，斫喪太過，百病生焉。輕則支離身體，重則喪命。治家若不固根本而奢華，費用太過，流蕩日生，輕則無積，重則貧窘。</p>
<p>五要：人之受命於天，不可負天之命。凡欲進取，當知彼心願否，體認天道順逆，順取人緣相慶，逆取子孫不吉。為人何不輕利遠害，以防報之業也。</p>
<p>六要：凡里中親友人情，除婚喪疾病慶賀外，其餘家務，至於饋送來往之禮，不可求奇好勝。飯食只可一魚一菜，一則省費，二則惜祿，謂廣求不如儉用。</p>
<p>七要：貧窘之家，及遊食僧道，衙門差役人等，凡求看病，不可要他藥錢，只當奉藥。再遇貧難者，當量力微贈，方為仁術。不然，有藥而無火食者，其命難保。</p>
<p>八要：凡有所蓄，隨其大小便當，置買產業，以為根本。不可收買玩器，及不緊物件，浪費錢財。又不可做入銀會酒會，有妨生意。必當一例禁之，自絕謗怨。</p>
<p>九要：凡應用各樣物具，俱要精備齊整，不得臨時缺少。又古今前賢書籍，及近時名公新刊醫理詞說，必購備參閱，以進學問，此誠為醫之本務也。</p>
<p>十要：凡奉官衙所請，必當速去，毋得怠緩。要誠意恭敬，告明病源，開具方藥。病愈之後，不得圖求匾禮，亦不得言說民情，致生罪戾。閒不近公，自當守法。</p>
<p>以上五戒十要，乃保身保家，守成之法。故直言而不文，當置於座右，朝夕一覽。若有賢能子孫，倘遵而行之，則可以成家立業。若不聽信，必有飢寒不足之憂。凡人何不預聽，直待臨時追悔，進退兩難，將何及矣。</p>

<h1>卷下</h1>

<h2>經絡</h2>
<p>人身之有經絡，猶地理之有界分。治病不知經絡，猶捕盜不知界分，其能無誅伐無過之咎乎？岐黃問答，以經絡為主，惟經絡一明，然後知症，見何經用何經之藥以治之，瞭然無謬。如古之善射御者，自有得心應手之妙焉。</p>
<p>陀云：癰疽之作，其行也有處，其主也有歸。如心之發於喉舌，肺之發於皮膚，脾之發於肌肉，肝之發於筋肋，腎之發於骨髓是也。陰毒發於下，陽毒發於上，腑之發於外，臟之發於內。發於下者得之緩，發於上者得之速，感於腑者易治，感於臟者難療。故內曰壞，外曰潰，上曰從，下曰逆。近骨者多冷，久而不愈，化血生蟲，蟲則多癢少疼，或先癢後疼。近膚者多熱，久而不愈，傳氣成漏，漏則多疼少癢，或不疼不癢。發於虛處者多險，發於節而相應者不治。（應為內外通潰也。）</p>

<h2>十二經補瀉藥品</h2>
<p>手少陰心經</p>
<p>補　當歸　生地黃　茯神　遠志　酸棗仁　麥門冬　柏子仁　山藥　蓮肉　圓眼肉　人參　紅藍花</p>
<p>瀉　黃連　枳實　木香　貝母　天竺黃　鬱金　赤茯苓　元胡索</p>
<p>溫　石菖蒲　藿香　沉香　木香　桂枝　麻黃</p>
<p>涼　連翹　丹參　石蓮子　梔子　犀角　牛黃　硃砂　石膏</p>
<p>引經　獨活　細辛　燈心　圓眼</p>
<p>手厥陰心包絡經</p>
<p>補　人參　黃耆　肉桂　沉香　菟絲子　破故紙</p>
<p>瀉　大黃　朴硝　梔子　烏藥</p>
<p>溫　大附子　肉桂　乾薑　沉香　川芎　白豆蔻　柏子仁　烏藥</p>
<p>涼　黃連　梔子　丹皮　柴胡　薄荷　滑石</p>
<p>引經　柴胡（桂佐之）　川芎　青皮</p>
<p>手太陽小腸經</p>
<p>補　石斛　牡蠣　甘草梢</p>
<p>瀉　木通　赤茯苓　車前子　紫蘇　羌活　藁本　檳榔　大黃　瞿麥</p>
<p>溫　巴戟天　茴香　烏藥　砂仁　益智仁</p>
<p>涼　滑石　木通　梔子　茅根　車前子　豬苓　澤瀉　芒硝</p>
<p>引經　羌活　藁本　黃柏</p>
<p>足厥陰肝經</p>
<p>補　當歸　熟地黃　酸棗仁　阿膠　木瓜　沙參　薏苡仁　枸杞子　菟絲子　山茱萸　白朮　蓮肉　甘草　蒺藜</p>
<p>瀉　白芍藥　赤芍藥　柴胡　青皮　枳實　青黛　羌活　木賊　甘菊　蒲黃　桃仁　蔓荊子　常山　五靈脂　益毒草　前胡</p>
<p>溫　木香　肉桂　香附子</p>
<p>涼　黃連　黃柏　胡黃連　龍膽草　草決明　牛黃　羚羊角　車前子　甘菊花　地榆</p>
<p>引經　川芎（行上）　青皮（行下）　柴胡　烏梅</p>
<p>足少陽膽經</p>
<p>補　當歸　酸棗仁　山茱萸　五味子</p>
<p>瀉　柴胡　青皮　黃連　白芍藥　川芎　貝母　栝蔞　鉤藤　天竺黃</p>
<p>溫　乾薑　肉桂　陳皮　半夏</p>
<p>涼　黃連　黃芩　柴胡　竹茹　甘草</p>
<p>引經　川芎（行上）　青皮（行下）　柴胡</p>
<p>足太陰脾經</p>
<p>補　人參　白朮　茯苓　甘草　白芍藥　山藥　蓮肉　白扁豆　木瓜　蒺藜　當歸　黃耆　薏苡仁　芡實　陳皮　大棗　眼圓肉</p>
<p>瀉　枳實　大腹皮　山楂　麥芽　神麯　半夏　南星　檳榔　三稜　萊菔子　升麻　防風　石膏　豬苓　元胡索　桑寄生</p>
<p>溫　砂仁　白豆蔻　藿香　破故紙　黑乾薑　官桂　大附子　蘇葉　肉果　木瓜　蒼朮　吳茱萸　丁香</p>
<p>涼　黃連　元明粉　竹瀝　連翹　大黃</p>
<p>引經　白芍　麻黃　大棗　蓮肉</p>
<p>足陽明胃經</p>
<p>補　人參　白朮　黃耆　石斛　山藥　蓮子　芡實　薏苡仁　糯米　白糖</p>
<p>瀉　枳實　厚朴　大腹皮　前胡　三稜　莪朮　檳榔　大黃　石膏　礞石</p>
<p>溫　肉桂　肉果　大附子　砂仁　藿香　半夏　蒼朮　白豆蔻　川芎　香附　乾薑</p>
<p>涼　葛根　知母　石蓮子　梔子　滑石　竹茹　胡黃連</p>
<p>引經　葛根　升麻　白芷</p>
<p>手太陰肺經</p>
<p>補　人參　沙參　黃耆　麥冬　阿膠　五味子　紫菀　百部　知母　款冬花　木瓜　山藥　茯苓　蒺藜</p>
<p>瀉　防風　蘇梗　羌活　前胡　生薑　桑白皮　蘇子　橘紅　石膏　杏仁　貝母　栝蔞　南星　枳殼　薄荷　白芥子　白芍　元胡索　葶藶　鼠黏子　萊菔子　香薷　荊芥</p>
<p>溫　乾薑　生薑　半夏　白豆蔻　縮砂　木香　藿香　桂枝　香附　麻黃</p>
<p>涼　枯芩　竹葉　竹瀝　童便　羚羊角　馬兜鈴　山梔　天門冬　元參　桔梗　藕節　枇杷葉　元明粉　地骨皮</p>
<p>引經　白芷　升麻　蔥白　生薑</p>
<p>手陽明大腸經</p>
<p>補　蓮肉　糯米　白砂糖　薏苡仁　粟殼　木香　肉豆蔻　龍骨　牡蠣</p>
<p>瀉　大黃　芒硝　枳實　桃仁　檳榔　蔥白　麻仁</p>
<p>溫　人參　乾薑　半夏　肉桂　吳茱萸</p>
<p>涼　黃芩　槐花　大黃　地榆　胡黃連　連翹　石膏　秦艽</p>
<p>引經　葛根　升麻　白芷</p>
<p>足少陰腎經</p>
<p>補　杜仲　菟絲子　蒺藜　破故紙　山茱萸　山藥　石斛　巴戟天　人參　白朮　當歸　熟地　枸杞　五味　牛膝　龜板　淫羊藿　何首烏　鱉甲　鹿茸　鹿角　龍骨　牡蠣　續斷　肉蓯蓉　韭子　覆盆子</p>
<p>瀉　澤瀉　豬苓　知母　元胡索　甘草　茯苓　木通</p>
<p>溫　大附子　桂心　破故紙　黑乾薑　縮砂　仙茅　沉香</p>
<p>涼　黃柏　知母　丹皮　天門冬　地骨皮　山梔　元參　竹瀝</p>
<p>引經　獨活　肉桂　牛膝　鹽　酒</p>
<p>足太陽膀胱經</p>
<p>補　龍骨　續斷　益智仁　橘核</p>
<p>瀉　豬苓　澤瀉　滑石　車前子　木通　瞿麥　茯苓</p>
<p>溫　茴香　烏藥　沉香　山茱萸　桂枝　麻黃　縮砂</p>
<p>涼　膽草　石蓮子　防風　羌活　蔓荊子　茵陳　葶藶　大黃　黃柏　石膏</p>
<p>引經　藁本　羌活　黃柏</p>
<p>手少陽三焦經</p>
<p>補　人參　黃耆　白朮　藿香</p>
<p>瀉　柴胡　枳殼　枳實　青皮　山慈菇</p>
<p>溫　大附子　厚朴　乾薑　沉香</p>
<p>涼　連翹　滑石　膽草　地骨皮</p>
<p>引經　柴胡　川芎　青皮</p>

<h2>散品</h2>
<p>凡藥之性輕虛者，諸臟腑皆能發散，是以不屬經絡也。</p>
<p>羌活　獨活　升麻　防風　荊芥　細辛　藁本　麻黃　秦艽　防己　牛蒡子　香薷　夏枯草　山豆根　五靈脂　射干　青蒿　蔥白頭　漏蘆　蟬蛻</p>

<h2>走品</h2>
<p>凡藥之體重濁者，諸臟腑皆能走瀉，是以不屬經絡也。</p>
<p>川烏　草烏　三稜　莪朮　威靈仙　穿山甲　葶藶　海藻　昆布　五加皮　撫芎　常山　青黛　巴豆　益母草　桑寄生</p>

<h2>標使治宜</h2>
<p>如腫瘍初起，審症處分，必以一藥為標使。如神授衛生散，用金銀花、當歸、蒼朮。復煎散，用蒼朮。十全大補湯，用夏枯草。蠟礬丸，用菊花湯。通聖散用漏蘆之類。每用一兩煎湯，復煎群藥，其應如響，此飛霞子之秘廖也。丹溪云：阿膠飲，牛膠丸，屬金屬土，實大腸，壯胃止瀉，黃蠟丸入大腸有補，國老膏化毒行經，遠志酒，金銀花酒，皆有補性，歸血歸心，善用者以之配入，腫瘍之散結，潰瘍之補虛，亦奏捷效，宜觸類而長之可也。又如諸毒生於巔頂者，諸藥俱宜酒浸、酒炒、酒煎、酒服，為使為因，所為在上者，因而越之也。</p>

<h3>汗</h3>
<p>書云：汗之則瘡已，為外有六經之形症，內無便溺之阻隔，飲食如故，兩便自調，知不在裡也。左脈洪緩，關脈帶弦，外感客邪也，故宜汗之，使榮衛通，邪氣去矣。如冬月寒致腠理，必用辛溫之劑以托之，如托裡溫中湯，紺珠丹之類。又云：助表不以取汗為功，為蟾酥硃砂雄黃等解毒之類，乃取汗之峻劑也。又云：瘡家雖身疼痛，不可發汗，汗之則痙，為無表症也。即有表症，然亦不可大汗，大汗則表虛不膿，後必難治。汗出不利小便，汗止則陽氣復，小便自利也。</p>

<h3>下</h3>
<p>腫瘍時見五實者，為邪氣在裡，宜寒涼藥攻利之。如內疏黃連湯之類，次以托裡排膿之藥補之，潰瘍時雖有口乾便閉等症，由內亡津液所致，必脈細而數，口和而干，食少喜熱，乃虛火也。惟補氣血，養津液，健脾胃，則二便自和，庶無變症，如小便閉，雖腫瘍時不必豬苓澤瀉以導水。惟用參耆歸芍及托裡消毒散消息之自效。瘡瘍面赤，火鬱也，發之。見風脈風症者，散之。大便燥急者，潤之。鬱冒者，為昏迷也，俱宜汗之。以上之症，慎不可下，是以瘡瘍惟在閉而不結，通而不瀉為規。</p>

<h3>渴</h3>
<p>瘡瘍作渴，不問腫潰。但脈數發熱而渴，用竹葉黃耆湯。脈不數，不發熱，或脈數無力而渴，或口乾，用補中益氣湯。若脈數便秘，用清涼飲。尺脈洪大，按之無力而渴，用加減八味丸。若治口燥舌黃，飲水不歇，此丸尤妙。（大法）</p>
<p>瘡瘍作渴，若焮痛發熱，便利調和者，上焦熱也，用竹葉石膏湯。腫痛發熱，大便秘澀者，內臟熱也，用四順清涼飲。焮腫痛甚者，熱毒蘊結也，用仙方活命飲。漫腫微痛者，氣血虛壅也，用補中益氣湯。若因胃火消爍，而津液短少者，用竹葉黃耆湯。若因胃氣虛，而不能生津液者，用補中益氣湯。若因胃氣傷，而內亡津液者，用七味白朮散。若因腎水乾枯作渴，或口舌乾燥者，用加減八味丸。或先口乾作渴，小便頻數，而後患疽，或疽愈後，作渴飲水，或舌黃乾硬，小便數而疽生者，尤惡候也，苟能逆知其因，預服加減八味丸，補中益氣湯，以滋化源，可免後患。（薛氏）</p>
<p>癰疽發渴，乃氣血兩虛，用參耆以補氣，歸芍以養血，或忍冬丸，黃耆六一湯（丹溪）。瘡作渴甚急，與神仙追毒丸。取下惡毒，清膻湯，千金漏蘆湯，五香連翹湯，六味車螯散，萬金散，皆可選用。利後仍渴，卻用生津補氣藥，津液生，氣血完，渴自止（伍氏）。大渴而與利藥，非明示脈證，何以知其當下！後言利後仍渴，卻用補藥，又不明示脈證，恐是但有大渴，必下。下後尚渴，方與補藥，古人治未病如此，用藥可乎？況渴屬上焦，當腫瘍時，猶或可用。若潰後渴，多因氣血之虛，何待利後方議其虛也？（丹溪）</p>
<p>口乾與口渴不同，不宜用丹溪鎮墜，用之其禍如反掌。用桑枝煎，五味湯，以救陰水（《精要》）。丹溪曰：此妙方也。而不言食味起火，怒氣生火，房勞激火，吾恐渴亦未易除也。</p>
<p>病疽愈後發渴，多致不救，惟加減八味丸最妙。蓋癰疽多因虛而得，疽安而渴者，服此丸則渴止。安而未渴者，服此丸永不發渴。或未疽而先渴者，服此不惟渴止，疽亦不作。（李氏）</p>
<p>前證屬腎水枯涸，虛火上炎，口乾作渴，飲水無度，或舌黃作裂，小便頻數，或痰氣上壅，煩躁不寧，或二三年先作渴飲水，或口舌生瘡，兩足發熱，痰氣上壅，或瘡愈三四年，而口乾作渴，小便頻數，急用前藥，多有復生者，能逆知其因？預服前丸，可免此患。若兼手足厥冷，真陽虛也，宜服八味丸。大凡瘡後審其腎水不足，用加減八味丸。中氣虛弱，用補中益氣湯。氣血虛弱，用十全大補湯。陽氣虛寒，加薑桂。如不應，用八味丸。（薛氏）</p>
<p><u>托裡消毒散加減法</u></p>
<p>飲冷作渴，熱毒也，加赤小豆知母。如不應，暫用竹葉黃耆湯。善食作渴，胃火也，加石膏山梔天花粉。如不應，暫用竹葉石膏湯。食少體倦作渴，胃氣虛也，去連翹金銀花，加人參白朮。如不應，暫用補中益氣湯。膿多作渴，氣血虛也，去三味，加熟地五味子。如不應，暫用十全大補湯，加五味子麥門冬。口乾舌燥，腎氣虛也，去三味，加熟地山茱萸山藥。如不應，兼六味丸。又不應，佐以補中益氣湯。自汗內熱口乾，胃氣虛也，去三味，加參耆歸術。如不應，暫用六君子湯。盜汗內熱口乾，陰血虛也，去三味，加熟地麥冬五味子。如不應，暫用當歸六黃湯。</p>
<p><u>竹葉黃耆湯</u>　治癰疽大渴，發熱或瀉，或小便如淋。薛氏曰：渴乃七惡中之一也。此方治之，其功甚捷。亦有左手脈浮大而熱，或渴者，宜發散表邪。右手脈沉實而熱，或渴者，宜疏去內邪。若潰後作渴，或小便如淋，或脈大無力者，屬氣血虛也，宜大補氣血。亦有潰後熱不止，或作渴，遂以為敗證不治。若素有胃火，或胃經熱毒未盡，胃脈尚數者，仍宜服前湯，服而脈反大，熱渴愈作，斯為敗證，蓋因真氣虛而邪氣實也。今之潰瘍，畏石膏黃芩二藥性冷，多不肯服。若胃脈未靜，非此藥莫能治也。若因循日久，煎熬氣血，膿血愈多，氣血愈虛，反成敗證矣，治者當舍證從脈可也。大抵瘡瘍之證，七惡內見一二惡者，甚為可畏。虛中見惡證者不治，實證無惡候者自愈。</p>
<p><u>托裡黃耆湯</u></p>
<p>薛氏曰：愚用此方，治氣虛作渴甚效。若氣血俱虛，或膿血大泄作渴，或兼發熱者，宜托裡養榮湯。</p>
<p><u>托裡養榮湯</u></p>
<p><u>黃耆六一湯</u>　常服終身可免癰疽，實治渴補虛之要劑也。</p>
<p><u>七味白朮散</u>　治胃氣虛，或因克伐，或吐瀉，口乾作渴，飲食少思。</p>
<p><u>竹葉石膏湯</u>　治癰疽胃火盛腫痛作渴。</p>
<p><u>元參散</u>　治癰疽成膿水，不能下食，心煩口乾，煩渴飲水，四肢羸瘦。</p>
<p><u>葛根散</u>　治癰腫熱盛，口乾煩渴，或時乾嘔。</p>
<p><u>乾葛飲</u>　治發背作渴。</p>
<p><u>忍冬丸</u>　治渴疾既愈，預防發疽。先將忍冬草入瓶內，後入無灰酒，微火煨一宿，取出曬乾，少加甘草，俱為末。又以所浸余酒糊丸，如梧桐子大，每服六七十丸，溫酒下，又治五痔諸癭。</p>
<p><u>桑枝方</u>　大治口渴，取嫩桑枝細切一升妙，以水三升，煎一升，日服五七劑，更多尤妙。抱朴子云：療風痹乾燥，臂痛腳氣，四肢拘攣，上氣眩暈，久服補肺消食，利小便，輕身聰明，令人光澤，其功不能盡述。</p>
<p>薛氏曰：桑枝補血氣，生津液，輕身明目，補肺腎之良劑也。</p>
<p><u>五味子湯</u>　治腎水枯涸，口燥舌乾。</p>
<p>薛氏曰：此方乃六一湯生脈散之複方，滋化源之良劑。若腎水既涸，虛火上炎而口燥作渴者，須佐以加減八味丸。</p>
<p><u>加減八味地黃丸</u></p>
<p>李氏曰：一貴人病疽，未安而渴作，日飲水數升，予用前方，諸醫大笑云：此藥若能止渴，我輩不復業醫矣！仍用木瓜、烏梅、百藥煎等，渴愈甚不得已用此丸，三日渴止，久服氣血益壯，飲食加倍。</p>

<h3>嘔</h3>
<p>《精要》云，嘔逆有二證。一證為初發不曾服內托，散，伏熱在心。一證為氣虛脾氣不正，其伏熱在心者。與內托散三兩帖，氣虛者宜嘉禾散，有寒熱宜正氣散，兼與山藥丸以補腎。丹溪曰：諸逆衝上嘔噦，皆屬於火。內托散性涼，故有降火之理。若嘉禾散，補力已少，徒溫暖以助火耳。山藥丸補腎以壯下焦之陰，粗為近理。然治嘔須分先後，腫瘍時當作毒氣上攻治之，潰瘍後當作陰虛治之。若年老因疽潰後，嘔逆不食者，宜參朮膏峻補取效，佐使藥隨時隨證加減。恐用山藥丸，緩急未易得力。河間謂瘡瘍嘔者，濕氣侵胃也，藥中宜倍加白朮。</p>
<p>瘡瘍作嘔，不可泥於毒氣內攻，而概用敗毒等藥。如熱甚焮痛，邪氣實也，仙方活命飲解之。作膿焮痛，胃氣虛也，托裡消毒散補之。膿熟脹痛，氣血虛也，先用托裡散，後用針以泄之。焮痛便秘，熱蘊於內也，內疏黃連湯導之。若因寒藥傷胃而嘔者，托裡健中湯，胃寒少食而嘔者，托裡益中湯。中虛寒淫而嘔者，托裡溫中湯。肝木乘脾土而嘔者，托裡抑青湯。胃脘停痰而嘔者，托裡消中湯。脾虛自病而嘔者，托裡益黃湯。鬱結傷脾而嘔者，托裡越鞠湯。若不詳究其源，而妄用攻毒之藥，則腫者不能潰，潰者不能斂矣（薛氏）。丹溪雖云：腫瘍當作毒氣攻心治之，潰瘍當作陰虛治之，亦大概之言耳。今之熱毒內攻而嘔者寡，脾胃虛寒而嘔者多，豈可膠柱而鼓瑟哉？又曰：欲嘔作嘔，或外搽內服寒涼，或痛甚，或感寒邪穢氣而嘔，皆胃氣虛也，托裡消毒散，去三味，加藿香，倍參朮。（三味：連翹、白芷、銀花）熱盛脈數（《精要》）與漏蘆湯，單煮大黃湯等。若不甚熱，脈緩弱，只投五香連翹。多熱盛脈數，去死已近，豈湯。丹溪曰：熱盛脈數，若腫瘍時，臟腑秘而體實者，猶可與也。若潰瘍膿血出，可下乎？緩弱之脈，古人皆以為邪毒已散，五香之飛走升散，其可用乎？（以上《準繩》。）</p>
<p>瘡瘍作嘔，不問已潰未潰，惟以脈實而數，喜飲冷者，為毒氣內攻，下之。脈弱而喜溫者，為陽氣不足，補之。（《大成》）</p>

<h3>痛</h3>
<p>夫瘡瘍之證候不同，寒熱虛實，皆能為痛。止痛之法，殊非一端。世人皆謂乳沒可以止痛，殊不知因病制宜，自有活法。故因熱而痛者，以寒涼之劑折其熱，則痛自止也。因寒而痛者，以溫熱之藥熨其寒，則痛自除也。因風而痛者，除其風。因濕而痛者，除其濕。燥而痛者潤之，塞而痛者通之，虛而痛者補之，實而痛者瀉之，膿鬱而閉者開之，惡肉浸潰者引之，陰陽不和者調之，經絡滯澀者利之，憂愁者遠志酒飲之，虛塞而痛者乳香沒藥止之。大抵癰疽不可不痛，不可大痛，若大痛悶亂者危。</p>
<p>薛新甫云：瘡瘍之作，由六淫七情所傷，其痛也，因氣血凝滯所致。假如熱毒在內，便秘而作痛者，內疏黃連湯導之。熱毒熾盛，焮腫而作痛者黃連解毒散治之，不應，仙方活命飲解之。瘀血凝滯而作痛者，乳香定痛散和之。作膿而痛者，托裡消毒散排之。膿脹而痛者針之，膿潰而痛者補之，若因氣虛而痛，四君加歸耆。血虛而痛，四物加參耆。腎虛而痛，六味地黃丸。口乾作渴，小便頻數者，加減八味丸。此皆止痛之法也。</p>

<h2>托裡消毒散加減法</h2>
<p>若高腫焮痛，熱毒也，加黃連。漫腫微痛，氣虛也，去金銀花、連翹，加參、術。腫赤作痛，血凝滯也，加乳香、沒藥，如不應，暫用仙方活命飲。膿出反痛，氣血虛也，去金銀花、連翹、白芷，加參、耆、歸、地。漫腫不痛，或肉死不潰，脾氣虛也，去三味，加人參、白朮；如不應，加薑、桂；更不應，急加附子。（《準繩》　三味金銀花、連翹、白芷）</p>
<p>寒熱虛實，皆能為痛。止痛之法，殊非一端，隨症施之，其痛自止。不必拘拘於乳沒也。又瘡瘍不可不痛，不痛為胃氣虛極也，不治。不可大痛，兼煩悶者不治。再麻癢者更為惡候。（《大成》）</p>

<h3>出血</h3>
<p>瘡瘍出血，因五臟之氣虧損，虛火而錯經妄行也。當求其經，審其因而治之。若肝熱而血妄行者，四物炒山梔丹皮苓朮。肝虛而不能藏血者，六味地黃丸。心虛而不能主血者，四物炒連丹皮苓朮。脾虛熱而不能統血者，四君炒梔丹皮。若脾經鬱結，用歸脾湯加五味子。脾肺氣虛，用補中益氣加五味子。氣血俱虛，用十全大補湯。陰火動，用六味丸加五味子。大凡失血過多，見煩熱發渴等證，勿論其脈，急用獨參湯以補氣。經云：血生於氣。苟非參耆歸術甘溫等劑，以生心肝之血，決不能愈。若發熱脈大者不治，凡患血症，皆當以犀角地黃湯為主。（芹洲氏云：失血症有瘀者，寒涼慎用。）</p>

<h2>僵肉</h2>
<p>治背瘡肉長疾，皮不及裹，見風即成僵。以寒水石燒研，為細末敷瘡上，再用銅綠細末上之，肉即不作僵矣。（梅）</p>

<h2>瘡攣急牽陰入腹</h2>
<p>古方療惡瘡癰腫，或連陰髀間疼痛急攣，牽入小腹不可忍，一宿則殺人。用茴香苗葉，搗取汁一升服之，日三四，用其滓以貼腫上，冬月根亦可用。此外國方，永嘉以來用之，起死神效。（《圖經》）</p>

<h3>寒熱</h3>
<p>身熱而欲衣者，熱在皮毛，寒在骨髓，溫之。身不熱而欲去衣者，寒在皮毛，熱在骨髓，清之。</p>

<h3>飲食</h3>
<p>腫時不食，為痛傷胃氣，潰後痛止，自能食也。垣云：瘡瘍食肉，反補胃氣，乃自棄也。此禁之膏粱丹石之變，非藜藿及虛弱者之通論也。若脾胃弱者，即有所禁忌，亦當少與之，不與則逆其胃氣，反不思食。禁忌之要，在生冷傷脾，硬物難化，肥膩滑腸，惟宜斟酌與之可也。又服藥後，忌飲冷水，犯之效遲，膿必再作。</p>

<h3>藥忌</h3>
<p>用藥之法，如執權衡。若大勢已退，仍用悍霸之藥，為誅伐無過，失《內經》之旨矣。如敗毒散，有表症者宜之，多則損氣。流氣飲，氣結胸滿者宜之，多則敗血。內補十宣散，在冬月可助內托之功，能移深居淺，然燥榮瀉衛之藥太多，在夏月及虛之甚者勿用。五香散腫瘍時用之，似有暢達之理，潰瘍時用之，則犯重虛之戒。護心散能解丹石之毒，若不因此，及老年病深症憊者禁用。蟾酥等丸，皆有砒硇之輩，乃取汗之峻劑也。治初起寒熱拘急，疼痛脈沉細者，為毒氣內陷者宜用。若身熱脈洪，及已潰者，禁與。玉樞丹為下毒之藥，無取膿之功。而體虛者已成者，勿用。垣云：一經受病，止責其一經，不可干擾余經，如流氣飲通行十二經，則諸經皆為所損矣，禁之。</p>

<h3>辨舌</h3>
<p>舌紅濕潤如常者吉，青黃赤白黑胎者重，乾燥碎裂疼痛者死。</p>

<h3>內陷</h3>
<p>始則高腫，至十數日內外，忽平塌者，此內攻之候也，急宜托裡。</p>

<h2>生肌</h2>
<p>肌肉者，脾胃之所主。收斂遲速，由氣血之盛衰。惟補脾胃，此內治也。瘀腐不盡，不可以生肌，如驟用生肌，反增潰爛。務令毒盡，則肌自生。加生肌藥，此外治也。如肌生如榴子紅豔，或有白膜為善。若肌白而平，且無紋理，或膿清氣穢，為毒連五臟，氣血枯竭也，危。</p>

<h3>驗膜</h3>
<p>潰瘍驗膜，用軟薄綿紙封瘡口，令患者用意呼吸之，紙不動者，未透膜也，忌用嚏法，恐鼓破膜不救。</p>

<h3>陽症變陰</h3>
<p>陽症變而為陰者，草醫涼藥之過也。於十一日之前未有膿時，投溫中健脾之藥，如不應，為純陰不治。至十五日之後，已出膿時，投托里溫中湯，及十二味異功散。輕者十全大補湯，倍加參耆桂附以救之，須得瘡熱作痛膿出，食進身溫脈起為吉，所為原本於陽者，故生。</p>

<h3>陰症變陽</h3>
<p>陰症變而為陽者，大方熱藥之驟也。雖得微腫微紅，微痛微膿，終不似真陽紅活，亦不得稠厚黃膿，其瘡不久復歸陰矣，所為原本於陰者，故死。</p>

<h2>潰瘍外治附</h2>

<h3>腫瘍針口治法</h3>
<p>腫瘍初潰，或已開針，恐針口易合，隨用綿紙的捻蘸元珠膏插之，或用黃蠟化開。入香油少許，作捻如釘，須裹線一條為心，將蠟捻插入針口內，留線頭在外，以膏蓋之，次日換插如前。</p>

<h3>瘡口去腐肉法</h3>
<p>瘡口腐肉不出者，用線紙做捻，取捻毛頭於腐上絞之，絞住瘀肉，徐徐拔出，如未淨，再取之。次塗元珠膏，如腐已淨，塗絳珠膏，四圍腫處，貼紺珠膏。瘀膿壅腫不出，搗大蒜調松香末敷之。</p>

<h3>瘡潰口中有黑疔治法</h3>
<p>瘡已潰爛，中有黑疔，突兀如箸頭，堅痛不可忍者，用紫絳真香銼豆大，炒焦黑為末，摻疔上。其四圍潰處，用蘭雪散摻之，黑膏蓋之。三二次，則疔盡去，次換生肌藥。</p>

<h3>頑肉不去治法</h3>
<p>頑腐不去，壯實者，用生南星末，加冰片摻之。膏蓋過宿，去腐如井，隨換生肌等藥。虛弱者，用人參末摻之，過宿洗之。三二次，腐肉自脫，且易收斂。</p>

<h3>瘡口努肉治法</h3>
<p>瘡口努出如蛇頭者有四，著風、著水、著怒、著手擠，皆能致之。風邪乘襲者，補中益氣湯，加防風天麻。風寒凝滯者，十宣散，加羌活天麻。肝火血燥生風者，加味逍遙散，加羌活天麻。如小兒其母肝火生風者，加味小柴胡湯，次用加味逍遙散，加漏蘆天麻，更外兼熨法，或用烏梅煅存性，加輕粉少許摻之，即收。有翻花如石榴者，用銀針於珠上刺去黑血，三五次即收平復。</p>

<h3>瘡不生肌治法</h3>
<p>頑瘡、疔瘡、臁瘡、杖瘡。久不生肌者，瘡有膜也。用玉簪花根於石臼內杵爛敷之，紮緊。三日一換，五七次而愈。</p>

<h3>瘡不收口</h3>
<p>瘡不收口，因於虛者，須大補之。外用人參珍珠等分為末，摻之即痂。凡生肌藥必用人參湯浸過曬乾，再用人乳浸過，其功始捷。</p>

<h3>瘡口皮嫩</h3>
<p>瘡雖收口而皮嫩，外惡風寒者，用小米煮飯，乘熱盛碗內，以絹帛罩之，敷於患處蒸之，三五次愈。</p>

<h3>瘡潰誤入毒水</h3>
<p>瘡潰時，誤入毒水，或誤入刺至骨。腫痛者，用皂角子七個，大幹蝦蟆一個，胡椒十五粒，入鍋內瓦蓋，文火煅，煙盡取出為末，先用溫水洗淨，拭乾摻之，膏蓋良久，毒水盡出，有刺者自見。一用黃丹蛤粉等分，炒變色摻之。誤入一切毒水，及皂角水驢馬尿糞，以致疼痛者，用糯米粉砂糖各三兩，生甘草一分，為膏貼之，毒水自出。</p>

<h3>馬汗入瘡</h3>
<p>馬汗入瘡腫痛者，用馬鞭子，取手執處，燒灰存性為末，和諸膏塗之，或豬脂和塗，或用冬瓜皮陰乾為末敷之。</p>
<p>張景岳云：凡癰毒焮腫，赤痛甚者，雖內治之法已具，然煎劑功緩，而急痛難當者，必須外用敷藥，既欲止其痛，又欲散其毒，則無如降癰散之神妙也。</p>
<p><u>降癰散</u>（景岳新方）　治癰疽諸毒，消腫止痛散毒，未成者即消，已成者斂毒速潰可愈。</p>
<p>若陽毒熾盛而疼痛，勢凶者宜先用此方，其解毒散毒之功，神效最速。若堅頑深固者，宜用後方。</p>
<p>薄荷（辛者佳用葉）　野菊花（連根葉各一握）　土貝母（半握）　茅根（一握）</p>
<p>上乾者可為末，鮮者可搗爛，同貝母研勻，外將茅根煎濃湯，去渣用，調前末，乘熱敷患處，仍留前剩湯頓暖，不時潤於藥上，但不可用冷湯，冷則不散不行，反能為痛約敷半日，即宜換之，真妙方也。後方，凡疽毒堅頑深固，及結核痰滯，宜用此方。</p>
<p>薄荷（倍用）　半南星　土貝母　朴硝（各等分）　石灰（風化者亦倍用，或倍倍用之。）</p>
<p>上同為末，用鹽醋調杵稠黏，敷患處，經宿干即易之，不必留頭。若膿成者，留頭亦可。或炒熱攤絹上，隔絹貼之亦可。或用麻油調，或用熱茅根湯調亦可。若欲止痛速效，加麝香或冰片少許，更妙。</p>
<p>芹洲氏云：古方治疔瘡，俱用野菊花，余每治類疔毒瘡，單用野菊花，內服外敷甚效。陰寒症忌之。益母膏，活血散瘀效。</p>

<h2>用針勿忌尻神</h2>
<p>立齋曰：針灸之法，有太乙人神周身血忌。逐年尻神，逐日人神。而其穴有禁針禁灸之論。犯者其病難瘳，理固然也。但瘡瘍氣血已傷，肌肉已壞，急宜迎而奪之，順而取之，非乎人針灸之比，何忌之有？《外科精義》云：瘡瘍之症，毒氣無從而解，膿瘀無從而泄，反攻於內，內既消敗，欲望其生，豈可得乎？危惡之證，發於致命之處，禍在反掌，腹癰囊癰，二便不通，胸腹脹悶，唇疔喉痹，咽喉腫塞，其禍尤速，患者審之。薛氏治鄰人手指患疔，麻癢寒熱噁心，左半體皆麻，脈數，用奪命丹，不應，又用解毒之劑，麻癢始去，乃作腫痛。欲針而值尻神，病家不從，愈腫，強針之，諸證頓退，又用解毒之劑而愈。</p>

<h2>油紙法</h2>
<p>一用天麻子仁數粒，鉛粉錢許，研爛入桐油碗許，打勻，棉花蘸刷令遍，與不油紙相間，鋪之壓之，須頻揭換不黏。一以生桐油熟豬油平兌，如法油紙。</p>

<h1>補遺方</h1>
<p><u>竹葉黃耆湯</u>（見《心法腫潰門》）</p>
<p><u>托裡黃耆湯</u></p>
<p>黃耆（六錢炒）　甘草（炙）　栝蔞根（各一錢）</p>
<p>水二盅，煎八分，頻服之，加人參一錢尤妙。</p>
<p><u>托裡養榮湯</u></p>
<p>人參　黃耆（炙）　當歸（酒拌）　芍藥（炒）　熟地黃　麥門冬（去心）　川芎　白朮（各一錢）　五味子（研）　炙甘草（各五分）</p>
<p>水二盅，姜三片，棗二枚，煎八分，食遠服。</p>
<p><u>黃耆六一湯</u></p>
<p>綿黃耆（六兩用淡鹽水潤飯上蒸焙乾）　甘草（一兩一半生一半炙）</p>
<p>每銼一兩，水二盅，煎八分，食遠服。或為細末，每服二錢。早晨日午，白湯調服，或加人參尤妙。</p>
<p><u>七味白朮散</u></p>
<p>白朮　茯苓（去皮）　人參（各七錢）　甘草（一兩五錢炙）　木香（二錢五分）　藿香葉　葛根（半兩）</p>
<p>上為細末，每服三五錢，白湯調下。</p>
<p><u>竹葉石膏湯</u></p>
<p>淡竹葉　石膏　桔梗　木通　薄荷　甘草（炙）</p>
<p>上姜水煎服。</p>
<p><u>元參散</u></p>
<p>元參　黃連（去須）　土瓜根　麥門冬（去心）　赤芍藥　白蘚皮（各一兩）　升麻（七錢五分）　火麻仁　川朴硝　川大黃（各一兩銼炒）</p>
<p>上銼，每服三錢，水一盞，入生地黃一錢細切，同煎，至六分，不拘時服。</p>
<p><u>葛根散</u></p>
<p>葛根　黃耆　升麻　麥門冬　栝蔞根　赤芍藥　梔子仁　生地黃（各一兩）　黃芩（七錢半）　甘草（半兩生）</p>
<p>上銼，每服四錢，水一盅盞，煎六分，去滓，無時溫服。</p>
<p><u>乾葛飲</u></p>
<p>黃芩　朴硝（各一兩二錢半）　乾葛（一兩）</p>
<p>上銼散，每服三錢，用枇杷葉，去背上白毛，淨洗，同煎，不拘時服。</p>
<p><u>五味子湯</u></p>
<p>黃耆（三錢蜜炙）　人參（二兩）　五味子　麥門冬（各一兩去心）　粉甘草（五錢炙）</p>
<p>每服五錢，水煎，日夜服五七劑。</p>
<p><u>加減八味地黃丸</u></p>
<p>熟地黃（八兩蒸）　乾山藥　山茱萸肉　五味子（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩酒浸蒸焙）　肉桂（二兩）</p>
<p>上各另為末，入地黃和勻，加煉蜜丸，如梧桐子大，每服七八十丸，空心食前白湯下。</p>
<p><u>橘半胃苓湯</u></p>
<p>橘紅　半夏（各一錢薑製）　蒼朮（米泔浸炒）　白朮（炒）　厚朴（薑製）　甘草（炙）　茯苓　人參　澤瀉　茅根（各二錢）　薑汁（數匙）</p>
<p>水二盅，煎一盅，入薑汁，一二沸，作十餘次飲之。</p>
<p><u>加減托裡消毒散</u></p>
<p>胃氣虛者，去白芷連翹金銀花，加參朮藿香。</p>
<p><u>托裡健中湯</u></p>
<p>人參　白朮　茯苓（各二錢）　半夏　炮姜（各一錢）　炙甘草（五分）　黃耆（一錢五分）　肉桂（三分）</p>
<p>上薑棗，水煎服。</p>
<p><u>托裡益中湯</u></p>
<p>人參　白朮　陳皮　半夏　茯苓　炮姜（各一錢）　木香　炙甘草（各五分）</p>
<p>上薑棗，水煎服。</p>
<p><u>托裡抑青湯</u></p>
<p>人參　白朮　茯苓　半夏（各一錢）　芍藥　柴胡　甘草（各五分）　陳皮（一錢）</p>
<p>上薑棗，水煎服。</p>
<p><u>托裡清中湯</u></p>
<p>人參　白朮　陳皮　茯苓（各一錢）　半夏（八分）　桔梗（七分）　甘草（五分）</p>
<p>上薑棗，水煎服。</p>
<p><u>托裡益黃湯</u></p>
<p>人參　白朮　陳皮　茯苓　半夏（各一錢）　丁香　甘草（炙）　炮姜（各五分）</p>
<p>薑棗，水煎服。</p>
<p><u>托裡越鞠湯</u></p>
<p>人參　白朮（各二錢）　陳皮　半夏（各一錢）　山梔　川芎　香附米　蒼朮（各七分）　炙甘草（五分）</p>
<p>上薑棗，水煎服。</p>
<p><u>人參理中湯</u></p>
<p>白朮　人參　乾薑　甘草（各等分炙）</p>
<p>上薑棗，水煎服。</p>
<p><u>加味解毒湯</u></p>
<p>黃耆（炒鹽水拌）　黃連（炒）　黃芩（炒）　黃柏（炒）　連翹　當歸（各七分酒拌）　甘草（炙）　白芍藥　梔子仁（各一錢炒）</p>
<p>作一劑，水二盅，煎七分服之，藥下痛即止。</p>
<p><u>內補黃耆湯</u>（見《心法腫潰門》）</p>
<p><u>當歸和血散</u></p>
<p>當歸（二錢）　乳香（半錢）　沒藥（一錢半）　白芍藥（三錢）</p>
<p>上為細末，每服一錢，水一盞，煎七分，和滓溫服。</p>
<p><u>回瘡金銀花散</u></p>
<p>金銀花（連枝葉俱用銼研二兩）　黃耆（四兩）　甘草（一兩）</p>
<p>上㕮咀，用酒一升，同入壺瓶內，閉口，重湯煮三兩時辰，取出去滓，頓服之。又一方，無黃耆。</p>
<p><u>郭氏定痛托裡散</u></p>
<p>慄殼（二兩去蒂炒）　當歸　白芍藥　川芎（各五錢）　乳香　沒藥　桂（各三錢）</p>
<p>上㕮咀，每服五錢，水煎。</p>
<p><u>乳香止痛散</u></p>
<p>慄殼（六兩制）　白芷（三兩）　陳皮　甘草（炙各兩半）　乳香　沒藥（各一兩）　丁香（五錢）</p>
<p>上㕮咀，每服三錢，水一盞半煎。</p>
<p><u>乳香黃耆散</u>（見《心法腫潰門》）</p>
<p><u>人參內托散</u></p>
<p>人參　黃耆　當歸　川芎　厚朴　防風　桔梗　白芷　官桂　紫草　木香　甘草</p>
<p>上入糯米一撮，水煎服。</p>
<p><u>乳香丸</u></p>
<p>乳香（另研）　沒藥（另研）　羌活　五靈脂（各三錢）　當歸　真綠豆粉　交趾桂（各兩半）　獨活（三錢）　川芎　川白芷　白膠香（各兩半）</p>
<p>上為細末，煉蜜丸，如彈子大，每服一丸，細嚼，薄荷湯送下。手足損痛，不能起者，加草烏，用木瓜鹽湯送下。</p>
<p><u>乳香定痛散</u></p>
<p>乳香　沒藥（各五錢）　寒水石　滑石（各一兩）　冰片（一錢）</p>
<p>上為細末，擦患處，痛即止。</p>
<p><u>豆豉餅</u>（見《心法首卷》）</p>
<p><u>乳香膏</u></p>
<p>乳香（一兩，另研）　食鹽　松脂　杏仁（去皮尖研，各一兩半）　生地（取汁，三合）　白羊腎𦚠脂（半斤）　黃蠟（三兩）</p>
<p>上先熬脂令沸，下杏仁地黃汁蠟煎，候蠟熔盡，入香鹽松枝煎，以柳箄攪令勻，稀稠得所，瓷盒盛。</p>
<p><u>又乳香膏</u></p>
<p>木鱉子（去殼細銼）　當歸（各一兩）　柳枝（二八寸，寸同以清油四兩煎令黑色次用後藥）　乳香　沒藥（各兩半）　白膠香（明淨者四兩同研細入油煎化用棉子濾之）</p>
<p>上煉藥鐵銚，令極淨，再傾前藥油蠟在內，候溫入黃丹一兩半，以兩柳枝攪極得所，再上火煎，不住手攪。候油沸起，住攪，注在水中，成珠不散為度。秋冬欲軟，春夏欲堅，傾在水中出火毒，搜成劑收之。</p>
<p><u>東垣聖愈湯</u></p>
<p>熟地　生地（各三錢）　歸身（錢半）　川芎（二錢）　黃耆（五分）　人參（三分）</p>
<p>上㕮咀，都作一服，水一盞半，煎至一盞，去滓稍熱服，無時。</p>
<p><u>濟生犀角地黃丸</u></p>
<p>犀角（鎊末）　生地　赤芍　牡丹皮（各錢半）　升麻　黃芩（各一錢炒）</p>
<p>上水煎熟，入犀角末服。</p>
<p><u>獨參湯</u>（見《心法腫潰門》）</p>
<p><u>托裡消毒散加減法</u></p>
<p>膿多帶赤，血虛也，去金銀花、連翹、白芷，加歸、地、參、術。如不應，用八珍湯，加牡丹皮。</p>
<p><u>內消沃雪湯</u></p>
<p>治發背，並五臟內癰，尻臀諸腫，大小腸癰，肛門臟毒。初起但未出膿，堅硬疼痛，不可忍者並服。</p>
<p>青皮　穿山甲　貝母　陳皮　連翹　白芍　乳香　沒藥　黃耆　甘草節　白芷　射干　天花粉　金銀花　皂角刺（各八分）　木香（四分）　當歸　大黃（各二錢）</p>
<p>水酒各一碗，煎八分，量病上下，食前後服之。</p>
<p><u>二蛟散</u></p>
<p>治生冷惱怒傷脾，致胸膈不寬，小水不利，面目四肢浮腫。諸藥不效，用三年老黃米炒焦黃色為末，提淨芒硝三兩，鍋內熔化，炒乾為末，每料一平杯和勻，再碾極細。大人壯實者，每服三錢。小兒十歲上下者，一錢二分。俱赤砂糖三茶匙，和白滾水半茶盅，空心調服。至午大便一次，至晚便一次，其疾先從眼胞消起。日久元氣虛者，與加味胃苓湯，間服。至重者不過五服愈。</p>
<p><u>解毒木通湯</u></p>
<p>治男婦房術，熱藥所傷，致玉莖陰戶癢痛，小水澀痛，白濁滑精，至夜陽物興舉，不得眠者服之。</p>
<p>木通　黃連　龍膽草　瞿麥　滑石　山梔　黃柏　知母（各一錢）　蘆薈　甘草（各五分）</p>
<p>水二盅，燈心二根，煎八分，食前服。</p>
<p><u>天漿散</u></p>
<p>治腦疽積毒日深，堅腫木痛，口燥舌乾，噁心煩渴，六脈沉實有力，大便閉結不通者，並宜服之。</p>
<p>石決明（生研）　殭蠶　穿山甲（土炒）　防風　連翹　羌活　乳香　金銀花　黃連　歸尾（各一錢）　大黃（三錢）　天花粉（新鮮未曬者，四兩，石臼內搗爛，投水一碗攪勻，絞去渣用。）</p>
<p>上花粉淨汁一碗半，同藥煎至八分，入酒一杯，空心熱服。行過三次，方用飲食。忌食煎炒發物。</p>
<p><u>黃耆湯</u></p>
<p>治濕熱，腿內近膝股患癰，或附骨癰，初起腫痛，此太陽厥陰之分也。脈細而弦，按之洪緩有力。</p>
<p>黃耆（鹽水拌炒）　當歸　柴胡　木瓜　連翹（各一錢）　羌活　肉桂　生地黃　黃柏（各五分）</p>
<p>水酒各一盅，煎一半，空心熱服。</p>
<p><u>獨參湯</u></p>
<p>治潰瘍膿水出多，血氣虛極，或惡寒，或自汗，冷汗，手足指甲青冷，或身涼脈細，並宜。</p>
<p>人參（二兩切片）</p>
<p>作二劑，水二盅，棗十枚，煎一盅，徐徐服之。若煎至稠厚，即為膏矣。作三次，用好溫酒化服亦可。</p>
<p><u>神應異功散</u></p>
<p>治潰瘍陰盛陽虛，發熱作渴，手足並冷，脈虛無力，大便自利。至飲沸湯而不知其熱者，必服之。</p>
<p>木香　官桂　當歸　人參　茯苓　陳皮　白朮（各一錢）　半夏　丁香　肉豆蔻　附子　厚朴（各五分）</p>
<p>水二盅，姜五片，棗三枚，煎八分，不拘時服。此方癰疽陰症，凡雜症陽氣脫陷，與寒氣逼陽於外者，發熱煩燥，口乾作渴，投以薑桂附子之類，津液頓生，煩熱頓退，其應如響，人但不習而察之。</p>
<p><u>參朮膏</u></p>
<p>治癰疽發背等症。大膿後氣血大虛，急宜用此。</p>
<p>上好人參（半斤，切片用水五大碗，銀鍋內慢火熬至三碗，將渣再煎汁一碗，共用蜜絹濾清、復熬稠厚、瓷碗內收貯聽用）　云片白朮（六兩）　懷慶熟地（六兩俱熬同上法）</p>
<p>以上三膏，各熬完畢，各用瓷碗盛之，頓入水中，待冷取起，蓋勿泄氣。如患者精神短少，懶於言動，短氣自汗者，以人參膏三匙，白朮膏二匙，地黃膏二匙，俱用無灰好酒一杯，頓熱化服。如脾氣虛弱，飲食減少，或飲食不化者，用白朮膏三匙，人參膏二匙，地黃膏一匙，好熱酒化服。如患者腰膝痠軟，腿腳無力，皮膚手足粗澀枯槁者，用地黃膏三匙，人參白朮膏各三匙，化服。如氣血脾胃相等，無偏勝負者，三膏每各二匙，熱酒化服。此膏用於清晨，並臨睡時，各進一次，自然強健，精神頓生，氣血新肉易生，瘡口易合。若瘡危險，勢大膿多者，可保終無變症。夏天炎熱，恐膏易變，分作二次熬用亦好。愈後能服，鬚髮變黑，返老還童。</p>
<p><u>清咽利膈湯</u></p>
<p>治積熱，咽喉腫痛，痰涎壅盛，及乳蛾喉痹，喉癰重舌，或胸膈不利，煩躁飲冷，大便秘結等症。</p>
<p>連翹　黃芩　甘草　桔梗　荊芥　防風　黨參（各一錢）　大黃　朴硝（各二錢）</p>
<p>水二盅，煎八分，食遠服。</p>
<p><u>人參五味湯</u></p>
<p>治氣血勞傷咳膿，或咯血，寒熱往來，羸瘦困乏，一切虛損之症，並效。</p>
<p>人參　五味子　前胡　陳皮　白朮　桔梗　當歸　茯苓　熟地　甘草（各一錢）　黃耆　地骨皮　桑白皮　枳殼　柴胡（各五分）</p>
<p>水二盅，姜三片，煎八分，食後服。</p>
<p><u>人中白散</u></p>
<p>治小兒口疳走馬疳，及牙齦腐爛黑臭者，極效。</p>
<p>人中白（溺壺者佳煅紅二兩）　孩兒茶（一兩）　黃柏　薄荷　青黛（各末六錢）　冰片（五分）</p>
<p>共研極細，先用溫湯漱淨，吹藥疳上，日用六七次。藥涎從外流為吉，內收涎毒入里為凶。</p>
<p><u>珍珠散</u></p>
<p>治下疳皮損腐爛，痛極難忍，及諸瘡新肉已滿，不能生皮。又湯潑火燒，皮損肉爛，疼痛不止者。</p>
<p>青缸花（五分，如無用頭刀，靛花輕虛色翠者代之，終不及缸花為妙）　珍珠（一錢，不拘大小，以新白為上，入豆腐內煮數滾，研為極細）　真輕粉（一兩）</p>
<p>上三味，共研千轉，細如飛面，方入罐收貯。凡下疳初起，皮損搽之即愈。腐爛疼痛者，甘草湯洗淨，豬脊髓調搽。如諸瘡不生皮者，用此乾摻，即可生皮。又婦人陰蝕瘡，或新嫁內傷痛甚者，亦用此搽極效。湯潑火燒痛甚者，用紅膏調搽之。</p>
<p><u>普濟消毒飲</u></p>
<p>治疫癘憎寒壯熱，頭面腫盛，目不能開，上喘咽喉不利，口乾舌燥。俗云大頭瘟病，諸藥不效，元泰和二年，東垣制以濟人，活甚眾，時人皆曰天方。</p>
<p>黃芩（酒炒）　黃連（酒炒各五錢）　人參（三錢）　橘紅　元參　生甘草　桔梗　柴胡（各二錢）　薄荷葉　連翹　牛蒡子　馬屁勃（各一錢）　白殭蠶（炒）　升麻（各七分）</p>
<p>上為細末，半用湯調。時時服之。半用蜜丸，噙化服盡良愈。或加防風　川芎　當歸　薄荷　細辛</p>
<p>水二盅，煎一盅，食遠稍熱服。如大便硬，加酒蒸大黃一二錢以利之。或熱腫甚者，以針砭刺出血。</p>
<p><u>六和湯</u></p>
<p>治夏秋暑濕傷脾，或飲冷乘風，多食瓜果，以致客寒犯胃，食留不化，遂成痞膈，霍亂嘔吐，及廣南夏月瘴疾，寒熱等證。</p>
<p>半夏　人參　炙甘草　砂仁　杏仁（各一錢）　赤茯苓　扁豆　藿香　木瓜（各二錢）</p>
<p>上㕮咀，每服五錢，水二盅，生薑三片，棗二枚，煎溫服。一方有白朮、香薷、厚朴、各一錢，名六和半夏湯。</p>
<p><u>嘉禾散</u>（一名）穀神散</p>
<p>治脾胃不和，胸膈痞悶，氣逆生痰，不進飲食，五膈五噎。</p>
<p>白茯苓　砂仁　薏仁（炒）　枇杷葉（去毛薑炙）　桑白皮（炒）　沉香（磨汁）　五味子　白豆蔻　炙甘草　丁香　人參　白朮（各五分）　木香（磨汁）　青皮　陳皮　杜仲（薑汁炒）　穀芽（炒）　藿香　大腹皮（洗）　石斛（酒炒）　半夏（曲炒）　神麯（炒）　隨風子　檳榔（各三分）</p>
<p>上水二盅，姜三片，棗二枚，煎八分，食遠服，五噎入柿幹一個，膈氣吐逆，入韭白三寸，棗五枚同煎。</p>
<p><u>遠志酒</u>　能托散諸毒。治女人乳癰尤效。</p>
<p>遠志　不拘多少，用米泔浸洗，槌去心。</p>
<p>上為末，每服三錢，用好酒一盅調，少頃澄清飲之，以滓敷患處。</p>
<p><u>替針丸</u></p>
<p>治膿成不潰者。</p>
<p>白丁香　硇砂（另研）　真沒藥　乳香（各一匙）</p>
<p>糯米（即江米）四十粒，先以礦灰拳大一塊，置瓷碗內，量入井水，待熱氣將息，以米排入灰中良久，候米如水晶狀，取去用之。如米未就，再用灰制，上各另為末，然後和勻收貯。用時以飯丸麥粒大，每用一粒，水濕黏瘡頭上，其膿自出。凡瘡瘍血氣壯實，膿成不潰者，宜用此藥以泄其毒，則肌肉易生，瘡口易斂。若氣血虧損者，須用甘溫之劑，以培根本。否則不惟不潰，且難收斂。若附骨疽及緊要之地，當及時針砭為善。</p>
<p><u>漏蘆湯</u></p>
<p>治腦疽癰疽，毒盛實者。</p>
<p>漏蘆　黃耆　甘草　連翹　沉香（各五錢）　大黃（一兩微炒）</p>
<p>上每服四五錢，薑棗水煎服。</p>
<p><u>破棺丹</u></p>
<p>治瘡瘍熱極汗多，大渴便秘，譫語發狂。</p>
<p>大黃（三兩半，半生半熟）　芒硝　甘草（各二兩）</p>
<p>上為末，煉蜜丸，彈子大，每服一丸。童便酒化下，白湯亦可。</p>
<p><u>萬金散</u>　一名內托散</p>
<p>治癰疽已潰未潰者，有消毒破血之功。</p>
<p>栝蔞（一個杵碎）　沒藥（一錢研）　大甘草節（二錢）</p>
<p>上酒二碗，煎去一碗，後入沒藥服。</p>
<p><u>牛膠散</u></p>
<p>治癰疽，使毒不內攻，不傳惡證，有益無損。</p>
<p>牛皮膠（廣中明者四兩）</p>
<p>上用酒一碗，重湯煮化，加酒服至醉，不能飲者加白湯。</p>
<p><u>會膿散</u></p>
<p>治惡毒便毒初起妙方。</p>
<p>白芷　殭蠶（炒）　穿山甲（煨各二錢）　大黃（四錢）　乳香　沒藥（各一錢）</p>
<p>上為末，以當歸四錢，用酒水各二盅，煎一盅，去渣。量人強弱，或全用，或一半，調服之。此藥若嫌太多，則㕮咀為飲，大黃生加煎服之尤妙。</p>
<p><u>生脈散</u></p>
<p>治瘡瘍胃氣虧損，陰火上衝，口乾喘促。或肢體倦怠，肌肉消瘦，面色痿黃，汲汲短氣，汗出不止，食少作渴。或膿水出多，氣血俱虛，煩躁不安，睡臥不寧。或濕熱大行，火土合病，脾胃虛弱，身重氣短。或金為火制，絕寒水生化之源，肢體痿軟，腳欹眼黑等症。</p>
<p>人參（五錢）　五味子　麥冬（各二錢）</p>
<p>水煎服。</p>
<p><u>香連丸</u></p>
<p>治熱瀉痢疾，赤白膿血，濕熱侵脾，裡急後重。</p>
<p>黃連（淨十兩）</p>
<p>切如豆粒，用淨吳茱萸五兩，二味用熱水拌和，入瓷罐內，置熱湯中，頓一日，炒至黃連紫色為度，去茱萸不用。</p>
<p>木香</p>
<p>每制淨黃連一兩，木香二錢半。</p>
<p>上為末，醋糊丸，桐子大，每服七十丸，食前空心米飲下。</p>
<p><u>滋腎丸</u></p>
<p>降腎火。桂與火邪同體，此寒熱用法也。凡不渴者，病在下焦，宜用之。《良方》云：或腎虛足熱，小便不利，肚腹腫脹，皮膚脹裂，眼睛突出，此神劑也。</p>
<p>黃柏（二兩酒拌陰乾）　知母（同上）　肉桂（二錢）</p>
<p>上為細末，熟水為丸，百沸湯空心送下二百丸。</p>
<p><u>小柴胡湯</u></p>
<p>治邪在肝膽，半表半裡之間，寒熱往來喜嘔；或日晡發熱，脅痛耳聾，鬱怒痎瘧等證。按古方較重，今方減用。</p>
<p>柴胡（二三錢）　半夏　人參　黃芩（各一二錢）　生薑　甘草（五七分）　大棗（五七枚）</p>
<p>水煎溫服。若胸中煩而不嘔，去半夏人參，加栝蔞實。若渴者去半夏，加人參栝蔞根。若腹中痛者，去黃芩，加芍藥。若脅下痞硬，去大棗，加牡蠣。若心下悸，小便不利者，去黃芩，加茯苓。若不渴，外有微熱者，去人參，加肉桂，溫敷取微汗愈。若咳者去人參、大棗、生薑，加五味子、乾薑。</p>
<p><u>加味逍遙散</u></p>
<p>治瘡瘍肝脾血虛，內熱發熱；或遍身搔癢寒熱；或肢體作痛，頭目昏重；或怔忡頰赤，口燥咽乾；或發熱盜汗，食少不寐；或口舌耳內作痛；或胸乳腹脹，小便不利。</p>
<p>當歸　芍藥　白朮　茯神　丹皮　柴胡（各等分）　甘草　梔子（各七分）</p>
<p>姜水煎服。</p>
<p><u>三品錠子</u></p>
<p>上品　去十八種痔。</p>
<p>白明礬（二兩）　白砒（一兩五錢）　乳香　沒藥（各三錢半）　牛黃（三錢）</p>
<p>中品　去五漏，及翻花瘤氣核。</p>
<p>白明礬（二兩）　白砒（一兩三錢）　乳香　沒藥（各三錢半）　牛黃（二錢）</p>
<p>下品　治瘰癧氣核，疔瘡發背，腦疽諸惡證。</p>
<p>白明礬（二兩）　白砒（一兩半）　乳香　沒藥（各二錢半）　牛黃（三分）</p>
<p>上將砒末入紫泥罐內，次用礬末蓋之，以炭火煅令煙盡取出，並各藥俱研極細末，用糯米糊和為挺子，狀如線香，陰乾。瘡內三四次，年深者五六次，其根自腐，如瘡露在外，更用蜜水調搽，幹上亦可。</p>
<p>嘗有一老媼，用此治瘰癧，索重價始肯治。其方法乃是中品錠子絍瘡內，以膏藥貼之，其根自腐，未盡再用，去盡更搽生肌藥，數日即愈。人多異之。凡見其治氣血不虛者果驗。惟氣血虛者，雖潰去亦不能愈，蓋此與必效散相為表裡，皆攻毒去邪之藥也。</p>
<p><u>如神千金方</u></p>
<p>治痔無有不效。</p>
<p>好信石（黃明者，三錢，打如豆粒）　明白礬（一兩為末）　好黃丹（飛炒五錢）　蠍梢（七個，洗淨，瓦上焙乾為末）　草烏（光實者，去皮，生研，五錢）</p>
<p>上用紫泥罐，先將炭火煅紅，放冷拭淨，先下明礬燒令沸，次下信入礬內拌勻，文武火煅，候沸再攪勻，次看罐通紅煙起為度，將罐掇下，待冷取研為末，方入黃丹草烏蠍梢三味，再同研極細，以瓷罐收貯。如欲敷藥，先煎甘草湯或蔥椒湯洗淨患處，然後用生麻油調前藥，以鵝毛掃藥痔上。每日敷藥三次，必去黃水如膠汁，則痔頭漸消，其年遠者，不出十日可取盡。日近者俱化為黃水，連根去淨，更搽生肌之藥。凡五痔皆可去之，此乃臨安曹五方為高宗取痔，封曹官至察使。</p>
<p><u>透骨丹</u></p>
<p>此潰膿藥，外科不可缺。</p>
<p>蟾酥　硼砂　輕粉　巴豆（各五錢）　蝸牛（二個）　麝香（一分）</p>
<p>上先將巴豆研如泥，次入蝸牛麝香再研，後入各藥研極細，以小瓷瓶收藏。每用少許，以乳汁化開，先用針輕輕撥破毒頭，挑藥米粒許，納於瘡口，外用清涼膏貼之。</p>
<p><u>金銀花酒</u></p>
<p>治一切癰疽發背，疔瘡喉痹等症</p>
<p>金銀花藤葉搗爛，取汁半盅，和熱酒半盅溫服，甚者不過三五服，可保無虞。</p>
<p><u>烏金膏</u></p>
<p>治發背中央肉死，塗之即腐，未死塗之即生。若初起腫痛，用點數處，則解毒頓消。若瘀肉腐黑，塗之即潰。若惡瘡頑瘡，元氣無虧，久不收斂者，內有毒根，以紙捻蘸絍其內。有等發背，因元氣虛弱，或因克伐，元氣虧損，毒氣散漫，中黯外赤，不腐不潰，須服大補之劑。中塗三四寸許，至五六日間，赤黯之界，自有裂紋如刀劃之狀，中央漸潰腐脫，內用純陽之藥以接元氣，庶能收斂。若妄用刀針去肉出血，則陽隨陰散，元氣愈傷，或塗涼藥，則毒氣不解，氣血愈虛，非徒無益，適以害之矣。其方用巴豆肉炒黑，研為膏，點腫處。或塗瘀肉上，則自化。或加乳香少許亦可。如塗瘡肉，或加香油少許亦可，調稀可用。若餘毒不斂者，以此絍之，不致成痛。</p>
<p><u>車螯散</u></p>
<p>治癰疽初發腫痛，或少年熱盛，發背等症。急宜宣毒，利下熱退為度。大人小兒，四季皆可服之。</p>
<p>紫背車螯（一隻，鹽泥固濟，火煅通紅，地上出火毒用）　輕粉　甘草（各二錢）　大黃（五錢）　黃芩　漏蘆（去須）　瓜根（各半兩）</p>
<p>上為末，每服二錢，薄荷湯下，速利，酒亦可。</p>
<p><u>蠟礬丸</u></p>
<p>服過一兩以上，無不取效。最止疼痛，不傷臟腑，活人不可勝數。</p>
<p>白礬（一兩）　黃蠟（半兩）　白蜜（二錢）</p>
<p>上和丸，如桐子大，每服十九丸，加至五十丸，溫酒送下，如未破即消，已破即合。一日服百粒，則有效能，防毒氣內攻，尤能護膜。始終須服半斤，瘡愈後服之尤佳。治蛇咬，溶化白礬，乘熱滴傷處，痛即止。一方用明礬飛過研細，以雞子二個取清，調礬末稀稠如糊，用無灰陳好酒放開服之，膿未成者即消，已成者從大小便出，神效，其功大勝黃礬丸。</p>
<p><u>五香連翹湯</u></p>
<p>治諸瘡腫。初覺一二日，便厥逆，咽喉塞，發寒熱。</p>
<p>沉香　木香　麝香　丁香（各一兩）　乳香（二兩）　連翹　射干　升麻　獨活　桑寄生　甘草（炙，各一兩）　大黃（一兩半）　木通（二兩）</p>
<p>上㕮咀，每服五錢，水盅半，煎七分，溫服取利。按丹溪曰：《精要》第一論云：不問癰疽瘡癤，虛熱冷熱，先與內托散，五香連翹湯，沉麝湯等諸方。不冷不熱，不問老幼少壯，陰陽虛實冷熱，多服為妙。夫癰疽瘡癤，臟腑陰陽，有淺深虛實冷熱，用藥有補瀉溫涼。老幼少壯，其稟受厚薄，形志苦樂，隨年而增損。奈何欲以不冷不熱，四五方而通治之。又以多服為妙，此不能無疑也？學者當審經絡，察病機而處治。豈可仗此為通治之法乎？</p>
<p><u>隔皮取膿法</u></p>
<p>治諸般腫毒。</p>
<p>驢蹄（細切一兩炒）　蕎麥麵（一兩）　白鹽（半兩）　草烏（四錢去皮）</p>
<p>上為末，水調作餅子，慢火炙黃，出火毒，研，米醋調成膏。用白紙攤貼患處，毒自毛竅而出，其腫自退。</p>
<p><u>滴滴金</u>　治疔瘡。</p>
<p>硇砂　輕粉　人言　雄黃　硃砂　麝香（少許）</p>
<p>上為細末，每用些少，先以針刺開瘡頭貼藥，黃水出效。</p>
<p><u>扳黃藥</u></p>
<p>治疔瘡走黃。</p>
<p>用蟾酥飛羅面為丸，梧桐子大，可將一丸放在面前舌下，即時黃出。</p>
<p><u>追膿錠子</u>（海藏）　膿內潰不出，此藥追之。</p>
<p>雄黃（二錢）　巴豆肉（一錢半）　輕粉（一字）</p>
<p>共為細末，飯和成錠。</p>
<p><u>治疔破棺丹</u></p>
<p>疔瘡走黃不止。</p>
<p>當歸　赤芍藥　山梔子　牽牛（各二兩半）　連翹　牡蠣　金銀花　紫花地丁　京三稜　甘草（各二兩）　便秘加大黃（三兩）</p>
<p>上為細末，煉蜜和丸，如彈子大，每服一丸。食前用童便化開服，忌飲酒及生冷硬物。</p>
<p><u>治暑天疿瘡方</u></p>
<p>朴硝開水泡洗，三二次愈。</p>
<p><u>小兒走馬牙疳</u></p>
<p>桑樹白汁，擦之自愈，永不再發。</p>
