<header data-type="book">
<h1>傷寒審證表</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>包誠</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1870">公元1870年</data></dd></div>
<div><dt>底本</dt><dd>清同治十年湖北崇文書局刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀003371）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>有熊氏作而醫學肇興含生育物疵癘不作周秦而降和華倉扁之雄各傳其術以奏神奇漢張機氏審經脈和藥石集經方之大成舉世尊為醫中至聖懿哉傷寒論一書亙萬古莫能忒矣顧以年代貿遷章次陵雜潛心搜討多所難通唐孫真人後迄無解者</p>
<p>國朝醫學昌明得昌邑黃元御氏以天挺才智著傷寒懸解以闡之於經絡臟腑陰陽順逆綜貫條理剖析靡遺亦既燦若日星矣然而原文覙列箋註閎富非攻醫力學之士仍苦猝難辨晰涇邑包司馬誠良於醫以需次鄂中來謁叩以黃氏學言之甚悉並質其所為傷寒審證表均依黃氏編第者一冊請付剞披閱一過證狀畢呈如掌如貌不失銖寸厥功鉅哉豈惟克章黃氏絕業其有裨於民生日用之需至切也（瀚章）忝膺畺寄冀蘇蒸黎之凋瘵而躋之仁壽舉凡所為鞏邦本利元元者致治之術與良醫治疾將無同因序是表輒惓惓於懷而未能忘也</p>
<p><u>同治九年歲在庚午冬十有二月朔督楚使者合肥李瀚章序</u></p>

<h1>序</h1>
<p>傷寒論一書晉時已無善本王叔和搜輯成之唐孫思邈著千金方尚未得見傷寒論晚乃見之故千金方中傷寒門方論缺略後乃作千金翼方補之宋林億等所校仍王叔和編次之舊成無己作注亦未能將本文編正篇次既亂注故未明嗣後注家雖多襲訛承錯異說紛起無可執中迨我</p>
<p>聖朝醫學昌明山左昌邑黃氏坤載應運而生苦心孤詣作傷寒懸解一書於原文一百十三方分別六經剖析貫串一一釐正註明本病經病腑病臟病壞病及傳腑傳臟入陽入陰綱舉目張各歸各門於是傷寒一書條理井然文義昭著是黃氏有功於仲景實非淺鮮即謂仲景原書復出無不可也予少遊山左隨張宛鄰先生學醫先生令校讎黃氏諸書而於傷寒一書尤為致力惟其文奧義精最難記誦因作傷寒審症表一卷鉤元提要時時溫習以備遺忘同志者見而好之謂可為傷寒之一助慫恿付梓閱者匡其不逮而惠教之幸甚繕成聊記數語以敘緣起云</p>
<p><u>同治九年七月望日涇縣包誠書於鄂省寓中</u></p>

<h1>太陽</h1>
<p>本病中風　發熱惡寒者發於陽也發於陽者七日愈身大寒反不欲近衣寒在皮膚熱在骨髓也太陽病發熱汗出惡風脈緩名中風太陽病頭疼發熱汗出惡風（桂枝證）太陽病中風陽浮陰弱陽浮者熱自發陰弱者汗自出惡風惡寒發熱鼻鳴乾嘔（桂枝證）太陽病發熱汗出此營弱衛強故汗出欲救邪風者桂枝湯主之（桂枝證）臟無他病時發熱汗出不愈者衛氣不和也先於其時發汗則愈（桂枝證）病常自汗出者此營氣和營氣和者外不諧以營行脈中衛行脈外復發其汗營衛和則愈（桂枝證）太陽病服桂枝湯煩不解先刺風池風府卻與桂枝湯則愈（桂枝證）太陽病外證未解脈浮弱當以汗解（桂枝證）太陽病外證未解不可下欲解外者桂枝湯主之（桂枝證）脈浮大但言便硬設利之為大逆硬為實汗出而解（桂枝證）太陽病未解脈陰陽俱停必先振慄汗出而解但陽脈微汗出解但陰脈微下之解若欲下之宜調胃承氣湯（桂枝證）酒客病不可與桂枝湯得湯則嘔（忌桂枝證）服桂枝湯吐者其後必吐膿血（忌桂枝證）桂枝本為解肌若其人脈浮緊發熱汗不出者不可與也（忌桂枝證）</p>
<p>本病傷寒　無熱惡寒者發於陰也發於陰者六日愈身大熱反欲得近衣熱在皮膚寒在骨髓也太陽病或已發熱或未發熱必惡寒體疼嘔逆脈陰陽俱緊名傷寒　太陽病頭痛發熱身疼腰痛骨節疼痛惡寒無汗而喘（麻黃證）脈浮者病在表可發汗脈浮而數可發汗（麻黃證）傷寒發汗宜解半日許復煩脈浮數可更發汗宜桂枝湯（麻黃證）傷寒不大便六七日頭痛有熱者與承氣湯其小便清者不在裡仍在表也須發汗（此麻黃證）若頭痛者必衄宜桂枝湯（麻黃證）太陽病脈浮緊發熱身無汗自衄者愈（麻黃證）傷寒脈浮緊不發汗因致衄者麻黃湯主之（麻黃證）太陽病脈浮緊無汗發熱身疼痛八九日不解麻黃湯主之服藥已微除發煩目瞑劇者必衄衄乃解陽氣重故也（麻黃症）</p>
<p>兼病　太陽之為病脈浮頭項強痛而惡寒　太陽病得之八九日如瘧發熱惡寒熱多寒少不嘔清便自可一日二三度發脈浮緩者為欲愈也脈微而惡寒者陰陽俱虛不可更發汗下吐也面色反有熱色者未解也以不得小汗出身必癢（桂麻各半證）形作傷寒脈不弦緊而弱弱必渴被火必譫語弱者發熱脈浮解之汗出愈（桂枝越婢證）太陽病發熱惡寒熱多寒少脈微弱者此無陽也不可更汗（桂枝越婢證）服桂枝湯大汗出脈洪大者與桂枝如前法若形如瘧日再發者汗出必解（桂二麻一證）凡病若發汗若吐若下若亡血若亡津液陰陽自和者自愈（傳經）太陽頭痛至七日以上自愈者以行其經盡也若欲再作經者針足陽明使經不傳則愈（傳經）風家表解而不了了者十二日愈（傳經）傷寒二三日陽明少陽證不見者為不傳也（傳經）傷寒一日太陽受之脈若靜者為不傳頗欲吐若煩躁脈急數者為欲傳也（傳經）</p>
<p>陽盛入腑　太陽中風脈浮緊發熱惡寒身疼痛不汗出而煩躁（大青龍證入陽明去路）傷寒脈浮緩身不疼但重乍有輕時無少陰證者（大青龍證將入陽明）傷寒脈滑而厥者里有熱也（白虎證入陽明去路）傷寒脈浮滑此里有熱表有寒也（白虎證入陽明）傷寒脈浮發熱無汗表不解者不可與白虎湯渴欲飲水無表證者白虎加人參主之（白虎證）傷寒無大熱口燥渴心煩背微惡寒者白虎加人參主之（白虎證）太陽病不解熱結膀胱其人如狂血自下下者愈外不解未可攻外解已但小腹急結者乃可攻之（桃核承氣證入陽明去路）太陽病六七日表證猶存脈微而沉反不結胸其人發狂以熱在下焦少腹當硬滿小便自利者下血乃愈以太陽隨經瘀熱在裡故也抵當湯主之（抵當證）太陽病身黃脈沉結少腹硬小便不利為無血也小便自利其人如狂血證諦也（抵當證）傷寒有熱少腹滿應小便不利今反利者為有血當下之不可余藥宜抵當丸（抵當證）</p>
<p>陰盛入臟　脈浮緊者法當身疼痛假令尺中遲不可發汗（忌麻黃證入少陰去路）中風脈微弱汗出惡風服大青龍湯厥逆筋惕肉瞤此為逆也以真武湯救之（大青龍證入少陰去路）傷寒表不解心下有水氣乾嘔發熱而咳或渴或利或噫或小便不利少腹滿或喘者（小青龍證入太陰少陰去路）太陽病小便利者以飲水多必心下悸小便少者必苦裡急也（小青龍證）傷寒心下有水氣咳而微喘發熱不渴小青龍主之服湯已渴者寒去欲解也（小青龍證）中風發熱六七日不解而煩有表裡證渴欲飲水水入則吐名曰水逆（五苓證入太陰去路）傷寒汗出而渴者五苓散主之不渴者茯苓甘草湯主之（五苓證）病在陽反以冷水噀灌熱被卻不去益煩肉上粟起欲飲水反不渴者服文蛤散若不瘥與五苓散寒實結胸無熱症者與三物小陷胸湯白散亦可（五苓證）</p>
<p>壞病　太陽病三日已發汗若吐下若溫針仍不解此為壞病桂枝不中與也知犯何逆隨證治之　本發汗而復下之本先下之而復發汗此為逆太陽病發汗不解而復下之脈浮者不愈當解外（桂枝證入陽明）大下後復發汗小便不利者亡津液也勿治之得小便利自愈（發汗亡津證）發汗後不可更行桂枝若汗出而喘無大熱者麻杏甘石湯主之（麻杏甘石證）發汗後飲水多者必喘以水灌之亦喘（汗後作喘證）下後不可更行桂枝若汗出而喘無大熱者麻杏甘石湯主之（麻杏甘石證）服桂枝湯大汗出後大煩渴不解脈洪大者（人參白虎證）傷寒吐下後七八日不解熱結在裡表裡俱熱時時惡風大渴舌上乾燥而煩欲飲水數升者（人參白虎證）太陽病先下之不愈復發汗表裡俱虛因致冒冒家汗出自愈表和故也得里未和然後下之（表裡俱虛證）發汗後惡寒者虛也不惡寒反惡熱者實也當和胃氣（調胃承氣證）太陽病中風火劫發汗兩陽熏灼其身發黃陽盛則欲衄陰虛則小便難陰陽虛則身體枯燥但頭汗出劑頸而還腹滿微喘口乾咽爛或不大便久則譫語甚者至噦手足躁擾捻衣摸床小便利者可治（陰陽俱虛證）太陽病二日反躁反熨其背而大汗出火熱入胃胃中水竭躁煩必發譫語十餘日振慄自下利者為欲解也故其汗從腰以下不得汗欲小便不得反嘔欲失溲足下惡風大便硬小便當數而反不數及大便已頭卓然痛足心必熱穀氣下流也（火熱入胃證）太陽病以火熏不得汗必躁到經不解必清血名為火邪（火邪圊血證）脈浮宜汗解用火灸之邪無從出因火而盛腰以下重痹名火逆（火逆助邪症）脈浮熱甚反灸之此為實實以虛治因火而動咽噪吐血（火逆吐血症）微數之脈慎不可灸因火為邪則為煩逆追虛逐實血散脈中火氣內攻焦骨傷筋血難復也（火邪內攻證）太陽病發汗後大汗出胃中乾躁煩不得眠欲飲水者少少與之令胃氣和則愈（將成白虎）若脈浮小便不利熱微消渴者五苓散主之（五苓證入太陰）發汗已脈浮數煩渴者（五苓證）傷寒脈浮自汗小便數心煩微惡寒腳攣急反與桂枝湯得之便厥咽乾躁煩吐逆者作甘草乾薑湯與之若厥愈足溫者更作芍藥甘草湯與之若胃氣不和譫語者少與調胃承氣湯若重發汗加燒針者四逆湯主之（甘草乾姜症）證象陽旦按法治之而增劇厥逆咽中干兩脛拘急而譫語師言夜半手足當溫兩腳當伸何以知此曰寸口脈浮而大浮則為風大則為虛風則生微熱虛則兩脛攣病證象桂枝因加附子參其間增桂令汗出附子溫經亡陽故也厥逆咽中干煩躁陽明內結譫語煩亂更與甘草乾薑湯夜半陽氣還兩足當溫脛尚微拘急重與芍藥甘草湯爾乃脛伸以承氣微溏則止其譫語故知病可愈（甘草乾姜證）發汗後水藥不得入口為逆更發汗必吐下不止（汗後吐逆證）病人脈數為熱當消穀引食反吐者以發汗脈乃數數為客熱不能消穀胃中虛冷故吐也（汗後吐逆證）太陽病當惡寒反不惡寒不欲近衣此為吐之內煩也（吐後生煩證）太陽病當惡寒發熱今自汗不惡寒發熱關上脈細數者吐之過也一二日吐之飢不能食三四日吐之不喜粥欲食冷朝食暮吐為小逆（吐後作吐證）傷寒下之續下利清穀不止身疼痛者急救里後身疼痛清便調者急救表救里宜四逆湯救表宜桂枝湯（身疼下利證）發汗後身疼痛脈沉遲者（新加湯證）太陽病桂枝證反下之利遂不止脈促者表未解也喘而汗出者葛根連芩湯主之（葛根連芩證）太陽病下之後脈促胸滿者桂枝去芍藥主之若微惡寒者去芍藥方加附子主之（桂枝去芍藥證）太陽病下之微喘者表未解故也（桂枝厚朴杏子證）喘家作桂枝湯加厚朴杏子仁（桂枝厚朴杏子證）服桂枝湯或下之仍頭項強痛發熱無汗心下滿微痛小便不利者（桂枝去桂加茯苓白朮證）發汗後腹脹滿者（厚朴姜夏參甘證）傷寒下後心煩腹滿臥起不安者（梔子厚朴證）傷寒醫以丸藥大下之身熱不去微煩者（梔子甘姜證）發汗若下之而煩熱胸中窒者（梔子香豉證）發汗吐下後虛煩不得眠劇者必反復顛倒懊憹梔子豉湯主之若少氣者梔子甘草豉湯主之若嘔者梔子生薑豉湯主之（梔子香豉症）凡用梔子湯病人舊微溏者不可與（忌梔子證）太陽病發汗遂漏不止其人惡風小便難四肢微急難以屈伸（入少陰桂枝附子證）發汗病不解反惡寒者虛故也（芍藥甘草附子證）下之後復發汗必振寒脈微細（內外俱虛證）傷寒若吐下後心下逆滿氣上衝胸起則頭眩脈沉緊發汗則動經身為振振搖者（苓桂術甘證）太陽病發汗汗出不解仍發熱心下悸頭眩身瞤動振振欲擗地者（真武證）發汗多叉手自冒心心下悸欲得按者（桂枝甘草證）未持脈病人叉手自冒心令咳不咳此必耳聾以重發汗虛故（陽虛耳聾證）脈浮數當汗愈若下之身重心悸者不可發汗若自汗出而解以尺中脈微此裡虛須表裡實津液和便汗出愈（身重心悸證）發汗後臍下悸者欲作奔豚（桂苓甘棗證）燒針令汗針處被寒核起而赤必發奔豚氣從少腹上衝心灸其核上各一壯與桂枝加桂湯（桂枝加桂證）太陽病下之後氣上衝者（桂枝加桂證）傷寒脈浮以火劫之亡陽必驚狂起臥不安（桂枝去芍藥加蜀漆龍骨牡蠣症）太陽傷寒加溫針必驚也（溫針亡陽症）火逆下之因燒針煩躁者（桂枝甘草龍骨牡蠣症）發汗若下之病仍不解煩躁者（茯苓四逆症）下之復發汗晝日煩躁不得眠夜安靜不嘔不渴無表症脈微沉無大熱者（乾薑附子症）汗家重發汗必恍惚心亂小便已陰疼與禹餘糧丸（禹餘糧症）病人有寒復發汗胃中冷必吐蛔（入厥陰胃冷吐蛔症）病發於陽而反下之熱入因作結胸病發於陰而反下之因作痞　太陽病脈浮而動數頭痛發熱微盜汗出反惡寒者表未解也反下之動數變遲膈內拒痛胃空虛客氣動膈短氣煩躁懊憹陽氣內陷心下因硬則為結胸大陷胸主之若不結胸但頭汗出劑頸而還小便不利者身必發黃（大陷胸湯證）傷寒六七日結胸熱實脈沉緊心下痛按之石硬者（大陷胸湯症）太陽病重發汗而復下之不大便五六日舌上燥而渴日晡小有潮熱從心下至少腹硬滿而痛不可近者（大陷胸湯症）結胸者項強如柔痙狀下之則和（大陷胸丸症）小結胸正在心下按之則痛脈浮滑者（小陷胸湯症）太陽病下之其脈促不結胸者此欲解也脈浮者必結胸脈緊者必咽痛脈弦者必兩脅拘急脈細數者頭痛未止脈沉緊者必欲嘔脈沉滑者協熱利脈浮滑者必下血（結胸脈法）太陽病二三日不得臥但欲起心下必結脈微弱者此本有寒分也反下之若利止必作結胸未止者四日復下之此作協熱利也（結胸變症）太陽病外未解而數下之遂協熱而利利不止心下痞硬表裡不解者（痞症人參桂枝症）傷寒大下復發汗心下痞惡寒者表未解也當先解表方可攻痞解表宜桂枝湯攻痞宜大黃黃連瀉心湯（大黃黃連瀉心症）脈浮緊復下之緊反入里則作痞按之濡但氣痞耳痞濡其脈關上浮者大黃黃連瀉心湯主之痞而復惡寒汗出者附子瀉心湯主之（附子瀉心症）太陽中風下利嘔逆表解者乃可攻之汗出發作有時頭痛心下痞硬滿引脅下痛乾嘔短氣汗出不惡寒此表解里未和也（十棗湯症）傷寒汗解後胃中不和心下痞硬幹噫食臭脅下有水氣腹中雷鳴下利者（生薑瀉心症）傷寒中風反下之下利日數十行腹中雷鳴心下痞硬而滿乾嘔心煩不安醫謂痞不盡復下之痞益甚此非結熱以胃中虛客氣上逆故硬也（甘草瀉心症）傷寒服湯藥利不止心下痞硬服瀉心湯已復以他藥下之利不止以理中與之利益甚理中者理中焦此利在下焦赤石脂禹餘糧湯主之複利不止當利其小便（石脂禹糧症）本以下之故心下痞與瀉心湯痞不解渴而口煩躁小便不利（五苓症）傷寒發汗吐下解後心下痞硬噫氣不除者（旋覆花代赭石症）病如桂枝症頭不痛項不強寸微浮胸中痞硬氣衝咽喉不得息此胸有寒也當吐之宜瓜蒂散諸亡血家不可與（瓜蒂散症）傷寒吐下後發汗虛煩脈甚微八九日心下痞硬脅下痛氣衝咽喉眩冒經脈動惕者久而成痿（經脈動惕症）太陽病醫發汗遂發熱惡寒復下之心下痞表裡俱虛陰陽氣並竭無陽則陰獨復加燒針因胸煩面色青黃膚瞤者難治令色微黃手足溫者易愈（表裡俱虛症）太陽病欲解時巳至未上</p>
<p>不治病　結胸證脈浮大者下之則死（結胸忌下證）結胸證悉具煩躁者死（結胸煩躁證）如結胸狀飲食如故時時下利寸脈浮關脈細小沉緊名曰臟結舌上白苔滑者難治（臟結證）病脅下素有痞連在臍旁痛引少腹入陰筋者此名臟結死（臟結證）臟結無陽證不往來寒熱其人反靜舌上苔滑者不可攻也（臟結證）</p>
<p>方藥</p>
<p><u>桂枝湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑</p>
<p><u>麻黃湯</u></p>
<p>麻黃　桂枝　甘草　杏仁</p>
<p><u>桂枝麻黃各半湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑　麻黃　杏仁</p>
<p><u>桂枝二越婢一湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑　麻黃　石膏</p>
<p><u>桂枝二麻黃一湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑　麻黃　杏仁</p>
<p><u>大青龍湯</u></p>
<p>麻黃　桂枝　甘草　大棗　生薑　杏仁　石膏</p>
<p><u>小青龍湯</u></p>
<p>麻黃　桂枝　芍藥　甘草　半夏　五味子　細辛　乾薑</p>
<p><u>白虎湯</u></p>
<p>石膏　知母　甘草　粳米</p>
<p><u>白虎加人參湯</u></p>
<p>石膏　知母　甘草　粳米　人參</p>
<p><u>五苓散</u></p>
<p>茯苓　豬苓　澤瀉　白朮　桂枝</p>
<p><u>茯苓甘草湯</u></p>
<p>茯苓　桂枝　生薑　甘草</p>
<p><u>文蛤散</u></p>
<p><u>白散</u></p>
<p>桔梗　貝母　巴豆</p>
<p><u>桃核承氣湯</u></p>
<p>桃仁　桂枝　甘草　大黃　芒硝</p>
<p><u>抵當湯</u></p>
<p>大黃　水蛭　虻蟲　桃仁</p>
<p><u>抵當丸</u></p>
<p>湯三之一為丸</p>
<p><u>麻黃杏仁甘草石膏湯</u>　甘草乾薑湯　芍藥甘草湯　新加湯</p>
<p>桂枝　甘草　大棗　芍藥　生薑　人參　於桂枝湯內加芍藥　生薑（各一兩）　人參（三兩）</p>
<p><u>葛根黃連黃芩湯</u></p>
<p>葛根　黃連　黃芩　甘草</p>
<p><u>桂枝去芍藥湯</u></p>
<p>桂枝　甘草　生薑　大棗</p>
<p><u>桂枝去芍藥加附子湯</u></p>
<p>桂枝　甘草　大棗　生薑　附子</p>
<p><u>桂枝加厚朴杏子湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑　厚朴　杏仁</p>
<p><u>桂枝去桂加茯苓白朮湯</u></p>
<p>芍藥　甘草　大棗　生薑　茯苓　白朮</p>
<p><u>厚朴生薑甘草半夏人參湯</u>　梔子厚朴湯</p>
<p>梔子　厚朴　枳實</p>
<p><u>梔子乾薑湯</u>　梔子豉湯　梔子甘草豉湯　梔子生薑豉湯　桂枝加附子湯</p>
<p>桂枝　芍藥　甘草　大棗　附子　生薑</p>
<p><u>芍藥甘草附子湯</u>　茯苓白朮桂枝甘草湯　桂枝甘草湯　茯苓桂枝甘草大棗湯　桂枝加桂湯</p>
<p>桂枝　芍藥　甘草　大棗　生薑於桂枝湯內加桂枝（二兩）</p>
<p><u>桂枝去芍藥加蜀漆龍骨牡蠣湯</u></p>
<p>桂枝　甘草　大棗　生薑　蜀漆　龍骨　牡蠣</p>
<p><u>桂枝甘草龍骨牡蠣湯</u>　茯苓四逆湯</p>
<p>茯苓　人參　甘草　乾薑　附子</p>
<p><u>乾薑附子湯</u>　大陷胸湯</p>
<p>大黃　芒硝　甘遂</p>
<p><u>大陷胸丸</u></p>
<p>大黃　芒硝　葶藶　杏仁　白蜜為丸</p>
<p><u>小陷胸湯</u></p>
<p>黃連　半夏　栝蔞實</p>
<p><u>桂枝人參湯</u></p>
<p>桂枝　人參　白朮　甘草　乾薑</p>
<p><u>大黃黃連湯</u>　附子瀉心湯</p>
<p>附子　大黃　黃連　黃芩</p>
<p><u>十棗湯</u></p>
<p>大棗　芫花　甘遂　大戟</p>
<p><u>生薑瀉心湯</u></p>
<p>生薑　半夏　黃芩　黃連　炙草　人參　乾薑　大棗</p>
<p><u>甘草瀉心湯</u></p>
<p>甘草　大棗　乾薑　半夏　黃芩　黃連</p>
<p><u>赤石脂禹餘糧湯</u>　旋覆花代赭石湯</p>
<p>旋覆花　代赭石　生薑　半夏　甘草　人參　大棗</p>
<p><u>瓜蒂散</u></p>
<p>瓜蒂　赤小豆</p>

<h1>陽明</h1>
<p>腑病連經　病人煩熱汗出則解又如瘧狀日晡發熱者屬陽明脈實宜下之浮虛宜發汗下之與大承氣湯發汗宜桂枝湯陽明病脈遲汗出多微惡寒者表未解也可發汗（桂枝症）陽明病脈浮無汗而喘者發汗則愈（麻黃症）太陽與陽明合病喘而胸滿者不可下（麻黃症）太陽病項背強𠘧𠘧反汗出惡風（桂枝葛根症）太陽病項背強𠘧𠘧無汗惡風（葛根症）太陽與陽明合病者必自下利（葛根症）太陽與陽明合病不下利但嘔（葛根半夏症）</p>
<p>腑病　陽明之為病胃家實也傷寒三日陽明脈大身熱汗自出不惡寒反惡熱（陽明外症）病有得之一日不發熱而惡寒何也曰雖得之一日惡寒將自罷即自汗出而惡熱也（陽明外症）惡寒何故自罷曰陽明居中土無所復傳始雖惡寒二日自止也（陽明外症）傷寒發熱無汗嘔不能食反汗出濈濈然（陽明外症）傷寒脈浮緩手足自溫者是為系在太陰身當發黃若小便自利不發黃至七八日大便硬者轉系陽明其人濈濈然微汗出也（陽明外症）太陽陽明者脾約正陽陽明者胃家實少陽陽明者發汗利小便已胃中燥煩熱大便難（陽明來路）太陽病若發汗若下若利小便此亡津液胃中乾燥轉屬陽明不更衣內實大便難（陽明來路）太陽病初得時發其汗汗出不徹因轉屬陽明（陽明來路）二陽並病太陽初得時發其汗汗出不徹因轉屬陽明續自微汗出不惡寒若太陽證不罷不可下下之為逆可小發汗面色緣緣正赤者陽郁在表當解之熏之若發汗不徹陽郁不得越其人煩躁不知痛處乍在腹中乍在四肢按之不可得短氣但坐以汗出不徹故也更發汗則愈何以知汗不徹脈澀故也（陽明來路）太陽病三日發汗不解蒸蒸發熱者屬胃也（調胃承氣症）二陽並病太陽證罷但發潮熱手足漐漐汗出大便難而譫語下之則愈（大承氣症）陽明病脈遲雖汗出不惡寒者身必重短氣腹滿而喘有潮熱者此外欲解可攻裡也手足濈然汗出者此大便已硬大承氣主之若汗多微發熱惡寒者外未解也其熱不潮未可與承氣湯若腹大滿不通者可與小承氣湯微和胃氣（小承氣症）陽明病若吐若下若發汗微煩小便數大便因硬（小承氣症）陽明病不吐不下心煩（調胃承氣症）陽明病本汗出重發汗病瘥尚微煩不了了者大便必硬以亡津液胃乾燥故硬當問其小便若本小便日三四行今日再行故知大便不久出今為小便數少以津液當還胃中也（亡津便硬症）陽明病自汗出若發汗小便自利者此津液內竭雖硬不可攻之當須自欲大便宜蜜煎導通之土瓜根大豬膽汁皆可為導（蜜煎導症）趺陽脈浮而澀浮則胃氣強澀則小便數浮澀相搏大便難其脾為約（麻仁大症）得病二三日脈弱無太陽柴胡症煩躁心下硬至四五日雖能食與小承氣湯少少和之令小安至六日與承氣湯一升若不大便六七日小便少者雖不能食初硬後必溏未成硬攻之必溏須小便利屎定硬乃可攻宜大承氣湯（大承氣症）陽明病潮熱大便微硬可與大承氣湯不硬不可與之若不大便六七日恐有燥屎欲知之少與承氣湯腹中轉失氣者可攻不轉失氣初硬後必溏攻之必脹滿不能食也欲飲水者與水則噦其後熱者必大便硬而少以小承氣和之（小承氣症）陽明病譫語發潮熱脈滑而疾小承氣主之因與承氣湯一升腹中轉失氣更服一升若不轉失氣勿更與之明日不大便脈反微澀者裡虛也為難治不可更與承氣湯也（小承氣症）傷寒吐下後不解不大便五六日至十餘日潮熱不惡寒獨語如見鬼劇者發則不識人循衣摸床惕而不止微喘直視脈弦者生微者但發譫語大承氣主之若一服利止後服（大承氣症）傷寒四五日脈沉而喘滿沉為在裡而反發汗津液越出大便難表虛里實久則譫語（亡津譫語症）汗出譫語以有燥屎在胃此為風也過經乃可下之下之若早語言必亂表虛里實故也（大承氣症）傷寒十三日不解過經譫語者以有熱也當下之若小便利者大便當硬而反下利胃脈調和知醫以丸藥下之非其治也若自下利者脈當微厥今反和者此內實也調胃承氣湯主之（調胃承氣症）陽明病下之懊憹而煩胃中有燥屎者可攻腹微滿初硬後必溏不可攻（大承氣症）陽明病譫語有潮熱反不能食胃中必有燥屎五六枚宜大承氣若能食者但硬耳（大承氣症）小便不利大便乍難乍易時有微熱喘冒不得臥者有燥屎也（大承氣症）不大便五六日繞臍痛煩躁發作有時者此有燥屎（大承氣症）大下後六七日不大便煩不解腹滿痛者此有燥屎本有宿食也（大承氣症）陽明少陽合病必下利脈不負者順也負者失也互相剋賊為負也脈滑而數者有宿食也當下之（大承氣症）三陽合病脈浮大上關上但欲眠睡目合則汗（三陽合病症）脈陽微汗出少者為自和也汗出多為太過陽脈實因發汗多出亦太過為陽絕於里亡津液大便因硬（汗多亡津症）脈浮而芤浮為陽芤為陰浮芤相搏胃氣生熱其陽則絕（胃熱陽絕症）發汗不解腹滿痛者急下之（大承氣症）陽明病發熱汗多者急下之（大承氣症）傷寒六七日目中不了睛不和無表裡症大便難身微熱此為實也急下之（大承氣症）陽明病喜忘者必有蓄血屎雖硬大便反易色必黑宜下之（抵當症）病人無表裡症發熱七八日雖脈浮數者可下之已下脈數不解合熱則消穀善飢至七八日不大便有瘀血也宜抵當湯脈不解利不止必協熱而便膿（抵當症）陽明病下血譫語此為熱入血室但頭汗出者刺期門隨其熱而泄之（熱入血室症）陽明病欲解時從申至戌上</p>
<p>虛證　陽明病若能食名中風不能食名中寒　陽明病若中寒不能食小便不利手足汗出此欲作固瘕大便初硬後溏以胃中冷水穀不別故也（中寒瘕泄症）脈浮而遲表熱裡寒下利清穀者四逆主之若胃中虛冷不能食者飲水則噦（四逆症）陽明病不能食攻其熱必噦胃中虛冷故也（胃中虛冷症）傷寒大吐下之極虛復極汗出者以外氣拂鬱復與水發其汗因得噦胃中寒冷故也（胃中寒冷症）傷寒噦而腹滿視其前後知何部不利利之愈（噦而腹滿症）陽明病反無汗身如蟲行皮中此久虛故（身癢無汗症）陽明病反無汗而小便利二三日咳嘔手足厥者必苦頭痛若不咳不嘔手足不厥者頭不痛（咳嘔厥逆症）陽明病但頭眩不惡寒故能食而咳其人必咽痛若不咳者咽不痛（咳逆咽痛症）食谷欲嘔者屬陽明吳茱萸湯主之得湯反劇屬上焦（吳茱萸症）傷寒嘔多雖有陽明症不可攻（嘔多忌攻症）太陽病寸緩關浮尺弱發熱汗出復惡寒不嘔但心下痞者醫下之也如不下者不惡寒而渴者此轉屬陽明小便數者大便必硬不更衣十日無所苦也渴欲飲水少與之但以法救之渴者宜五苓散（五苓散症）陽明病心下硬滿不可攻攻之利止者愈（心下硬滿症）陽明中風口苦咽乾腹滿微喘發熱惡寒脈浮緊若下之則腹滿小便難也（寒熱脈緊症）陽明病脈浮緊咽燥口苦腹滿而喘發熱汗出不惡寒反惡熱身重若發汗則躁心憒憒反譫語若加燒針必怵惕煩躁不得眠若下之則胃中空虛客氣動膈心中懊憹舌上苔者梔子豉湯主之若渴欲飲水口乾舌燥白虎加人參湯主之若脈浮發熱渴欲飲水小便不利豬苓湯主之（梔子白虎豬苓症）發汗多重發汗亡陽譫語脈自和者不死（汗多亡陽症）實則譫語虛則鄭聲（譫語鄭聲症）陽明病下之外有熱手足溫不結胸懊憹飢不能食但頭汗出（梔子豉症）三陽合病腹滿身重難以轉側口不仁面垢譫語遺尿發汗則譫語下之則額上生汗手足逆冷（入太陰）若自汗者白虎湯主之（白虎症）陽明病汗多而渴者不可與豬苓湯以汗多胃中燥豬苓複利小便故也（汗多胃燥症）陽明病口燥但欲漱水不欲咽此必衄（口燥欲衄症）脈浮發熱口乾鼻燥能食者則衄（鼻燥欲衄症）陽明病脈浮緊必潮熱發作有時但浮必盜汗（脈浮盜汗症）陽明病初欲食小便反不利大便調骨節疼如有熱狀奄然發狂汗出濈然解者此水不勝穀氣與汗共並脈緊則愈（汗解緊愈症）陽明病面合赤色不可攻必發熱色黃小便不利也（發熱色黃症）陽明病無汗小便不利而懊憹者必發黃（無汗發黃症）陽明病被火額微汗小便不利必發黃（微汗發黃症）陽明病發熱汗出此為熱越不發黃但頭汗出劑頸而還小便不利渴飲水漿者此瘀熱在裡必發黃茵陳蒿湯主之（茵陳蒿症）陽明病脈遲食飽則微煩頭眩必小便難此欲作谷疸雖下之腹滿如故脈遲故也（脈遲發黃症）陽明中風脈弦浮大短氣腹滿脅下及心痛久按之氣不通鼻乾不得汗嗜臥一身及面目悉黃小便難有潮熱時時噦耳前後腫刺之小瘥外不解過十日脈續浮者與小柴胡脈但浮無餘症者與麻黃湯（柴胡麻黃症）陽明病潮熱大便溏小便自可胸脅滿不去者（小柴胡症）陽明病脅下硬滿不大便而嘔舌上白苔者可與小柴胡湯上焦通津液下胃氣和濈然汗出解（小柴胡症）</p>
<p>不治病　傷寒吐下後不解不大便五六日至十餘日日晡潮熱不惡寒獨語如見鬼劇者發則不識人循衣摸床惕而不安微喘直視脈澀者死　陽明病心下硬滿攻之利逆不止者死（硬滿症）發汗多重發汗亡陽譫語脈短者死（汗多亡陽症）直視譫語喘滿者死下利者亦死（譫語喘滿症）陽明中風脈弦浮大短氣腹滿脅下及心痛久按之氣不通鼻乾不得汗嗜臥一身及面目悉黃小便難有潮熱時時噦耳前後腫刺之小瘥外不解若不尿腹滿加噦者不治（柴胡麻黃症）</p>
<p>方藥</p>
<p><u>桂枝加葛根湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑　葛根</p>
<p><u>葛根湯</u></p>
<p>葛根　麻黃　桂枝　芍藥　甘草　生薑　大棗</p>
<p><u>葛根加半夏湯</u></p>
<p>葛根　麻黃　桂枝　芍藥　甘草　生薑　大棗　半夏</p>
<p><u>調胃承氣湯</u></p>
<p>大黃　甘草　芒硝</p>
<p><u>大承氣湯</u></p>
<p>大黃　芒硝　枳實</p>
<p><u>小承氣湯</u></p>
<p>大黃　厚朴　枳實</p>
<p><u>蜜煎導方</u></p>
<p>煎凝作挺納穀道</p>
<p><u>豬膽汁方</u></p>
<p>和醋灌穀道</p>
<p><u>麻仁丸</u></p>
<p>麻子　芍藥　杏仁　大黃　厚朴　枳實　煉蜜丸</p>
<p><u>吳茱萸湯</u></p>
<p>吳茱萸　生薑　人參　大棗</p>
<p><u>豬苓湯</u></p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠</p>

<h1>少陽</h1>
<p>經病　傷寒三日少陽脈小者欲已也（傳經）傷寒三日三陽為盡三陰當受邪其人反能食不嘔此為三陰不受邪也（傳經）</p>
<p>本病　少陽之為病口苦咽乾目眩傷寒五六日中風寒熱往來胸脅苦滿嘿嘿不欲飲食心煩喜嘔或心中煩而不嘔或渴或腹中痛或脅下痞硬或心下悸小便不利或不渴身微熱或咳（小柴胡症）血弱氣盡腠理開邪氣因入與正氣相搏結於脅下正邪分爭往來寒熱休作有時默默不欲食臟腑相連其痛必下邪高痛下故使嘔也（小柴胡症）傷寒中風有柴胡症但見一症便是不必悉具（小柴胡症）傷寒四五日身熱惡寒頭項強脅下滿手足溫而渴（小柴胡症）嘔而發熱者（小柴胡症）傷寒六七日發熱微惡寒肢節煩疼微嘔心下支結外證未去者（柴胡桂枝症）太陽病十日已去脈浮細而嗜臥外已解也設胸滿腹痛與小柴胡湯脈但浮者與麻黃湯（小柴胡症）傷寒陽脈澀陰脈弦法當腹中急痛者先用小建中湯不瘥與小柴胡湯（小柴胡症）嘔家不可與建中湯以甜故（小柴胡症）婦人中風發熱惡寒經水適來得之七八日熱除而脈遲身涼胸脅下滿如結胸狀譫語者此為熱入血室當刺期門隨其熱而泄之（熱入血室症）婦人中風七八日續得寒熱發作有時經水適斷者此為熱入血室其血必結故使如瘧狀發作有時小柴胡湯主之（熱入血室症）婦人傷寒發熱經水適來晝日明瞭暮則譫語如見鬼狀者此為熱入血室無犯胃氣及上二焦則愈（熱入血室症）</p>
<p>入陽明病　服柴胡湯已渴者屬陽明也以法治之（屬陽明症）太陽少陽合病自下利者與黃芩湯若嘔者黃芩加半夏生薑湯（黃芩半夏症入陽明去路）傷寒發熱汗出不解心中痞硬嘔吐而下利者（大柴胡症入陽明去路）傷寒五六日頭汗出微惡寒手足冷心下滿口不欲食大便硬脈細者此為陽微結必有表復有里也脈沉亦在裡也汗出為陽微假令純陰結不得復有外症悉入在裡此為半在表半在裡也脈雖沉緊不得為少陰病所以然者陰不得有汗今頭汗出知非少陰可與小柴胡湯設不了了者得屎而解（大柴胡症入陽明去路）太陽病過經十餘日心中溫溫欲吐胸中痛大便反溏腹微滿鬱郁微煩先此時自極吐下者與調胃承氣湯若不爾者不可與但欲嘔胸中痛微溏者此非柴胡症以嘔故知極吐下也（調胃承氣症入陽明去路）</p>
<p>入三陰病　傷寒六七日無大熱其人躁煩者此為陽去入陰也（傳經入三陰去路）</p>
<p>壞病　本太陽病轉入少陽脅下硬滿乾嘔不能食往來寒熱尚未吐下脈沉緊者與小柴胡湯若已吐下發汗溫針譫語柴胡症罷此為壞病　傷寒脈弦細頭痛發熱者屬少陽少陽不可發汗發汗則譫語此屬胃胃和則愈胃不和則煩而悸（譫語煩悸症入陽明去路）傷寒二三日心煩而悸者（小建中症）傷寒脈結代心動悸者（炙甘草症）少陽中風兩耳無所聞目赤胸中滿而煩者不可吐下吐下則悸而驚（煩滿驚悸症）傷寒八九日下之胸滿煩驚小便不利譫語一身盡重不可轉側者（柴胡龍骨牡蠣症）柴胡湯症下之若柴胡症不罷者復與柴胡湯必蒸蒸而振發熱汗出而解（小柴胡症）太陽病過經十餘日反二三下之後四五日柴胡症仍在者先與小柴胡湯嘔不止心下急鬱郁微煩為未解也大柴胡湯下之則愈（大柴胡症）傷寒十三日不解胸脅滿而嘔日晡潮熱已而微利此本柴胡證下之而不利今反利者知醫以丸藥下之非其治也潮熱者實也先宜小柴胡解外後以柴胡加芒硝主之（大柴胡症）傷寒五六日已發汗而復下之胸脅滿微結小便不利渴而不嘔但頭汗出往來寒熱心煩此未解也（柴胡桂枝幹姜症入太陰）得病六七日脈遲浮弱惡風寒手足溫醫二三下之不能食脅下滿痛面目身黃頭項強小便難者與柴胡湯後必下重本渴而飲水嘔者柴胡湯不中與也食谷者噦（誤下身黃症）太陽少陽並病頭項強痛或眩冒時如結胸心下痞硬當刺大椎第一間肺俞肝俞不可發汗發汗則譫語脈弦五六日譫語不止當刺期門（結胸初症）太陽少陽並病心下硬頸項強而眩者當刺大椎肺俞肝俞慎勿下之（結胸初症）傷寒十餘日熱結在裡復往來寒熱者與大柴胡湯但結胸無大熱者此謂水結在胸脅也但頭微汗出者大陷胸湯主之（結胸症）傷寒五六日嘔而發熱柴胡症具以他藥下之柴胡證仍在復與柴胡湯雖已下不為逆必蒸蒸而振發熱汗出而解若心下滿而硬痛此為結胸大陷胸主之但滿而不痛者此為痞柴胡湯不中與也宜半夏瀉心湯（結胸痞症）太陽少陽並病反下之成結胸心下硬下利不止水漿不下其人心煩（結胸症）少陽病欲解時從寅至辰上</p>
<p>方藥</p>
<p><u>小柴胡湯</u></p>
<p>柴胡　黃芩　半夏　人參　甘草　生薑　大棗</p>
<p><u>柴胡桂枝湯</u></p>
<p>柴胡　黃芩　人參　半夏　大棗　生薑　桂枝　芍藥</p>
<p><u>小建中湯</u></p>
<p>桂枝　芍藥　甘草　大棗　生薑　膠飴</p>
<p><u>黃芩湯</u></p>
<p>黃芩　芍藥　甘草　大棗</p>
<p><u>黃芩加半夏生薑湯</u></p>
<p>黃芩　芍藥　甘草　大棗　半夏　生薑</p>
<p><u>大柴胡湯</u></p>
<p>柴胡　黃芩　芍藥　半夏　生薑　大棗　枳實　大黃</p>
<p><u>炙甘草湯</u></p>
<p>甘草　人參　大棗　生地黃　阿膠　麥冬　麻仁　桂枝　生薑</p>
<p><u>柴胡加龍骨牡蠣湯</u></p>
<p>柴胡　半夏　人參　大棗　生薑　桂枝　茯苓　大黃　鉛丹　龍骨　牡蠣</p>
<p><u>柴胡加芒硝湯</u></p>
<p>柴胡　黃芩　半夏　生薑　人參　甘草　大棗　芒硝</p>
<p><u>柴胡桂枝幹薑湯</u></p>
<p>柴胡　黃芩　甘草　乾薑　桂枝　牡蠣　栝蔞根</p>
<p><u>半夏瀉心湯</u></p>
<p>半夏　人參　大棗　乾薑　甘草　黃芩　黃連</p>

<h1>太陰</h1>
<p>臟病連經　太陰病脈浮者可發汗宜桂枝湯（太陰經病桂枝症）下利腹脹滿身體疼痛者先溫其里乃攻其表溫里宜四逆湯攻表宜桂枝湯（四逆桂枝症）本太陽病醫反下之因而腹滿時痛者屬太陰也（桂枝芍藥症）大實痛者桂枝加大黃主之（桂枝大黃症）</p>
<p>臟病　太陰之為病腹滿而吐食不下自利益甚時腹自痛若下之必胸下結硬發熱頭痛脈反沉不瘥身體疼痛當溫其里宜四逆湯（四逆症）下利清穀不可攻表汗出必脹滿（下利清穀症）自利不渴者屬太陰其臟有寒故也當溫之（四逆症）傷寒胸中有熱胃中有邪氣腹中痛欲嘔吐者（黃連湯症）太陰為病脈弱續自便利設當行大黃芍藥者宜減之以胃氣弱易動故也（芍藥大黃症）傷寒脈浮而緩手足自溫者系在太陰太陰身當發黃若小便自利者不能發黃至七八日雖暴煩下利日十餘行必自止以脾家實腐穢當去也（暴煩下利症）傷寒七八日身黃如橘子色小便不利腹微滿（茵陳蒿症）傷寒瘀熱在裡身必發黃（麻黃連翹赤小豆症）傷寒身黃髮熱者（梔子柏皮症）傷寒發汗已身目為黃以寒濕在裡不解故也不可下當於寒濕中求之（寒濕發黃症）太陰中風四肢煩疼陽微陰澀而長者為欲愈（中風欲愈）太陰病欲解時從亥至醜上</p>
<p>方藥</p>
<p><u>四逆湯</u></p>
<p>甘草　乾薑　附子</p>
<p><u>黃連湯</u></p>
<p>黃連　半夏　人參　甘草　大棗　乾薑　桂枝</p>
<p><u>桂枝芍藥湯</u></p>
<p>桂枝　甘草　大棗　生薑　芍藥　於桂枝湯內加芍藥三兩</p>
<p><u>桂枝加大黃湯</u></p>
<p>桂枝　甘草　大棗　生薑　芍藥　大黃</p>
<p><u>茵陳蒿湯</u></p>
<p>茵陳蒿　梔子　大黃</p>
<p><u>麻黃連翹赤小豆湯</u></p>
<p>麻黃　杏仁　生薑　生梓白皮　連翹　甘草　大棗　赤小豆</p>
<p><u>梔子柏皮湯</u></p>
<p>梔子　甘草　黃柏皮</p>

<h1>少陰</h1>
<p>臟病連經　少陰病始得之反發熱脈沉者（麻附細辛症）少陰病得之二三日麻黃附子甘草湯微發汗以二三日無里症故也（麻附甘草症）</p>
<p>臟病　少陰之為病脈微細但欲寐也　少陰病脈細沉數病為在裡不可發汗（臟病忌汗症）少陰病脈沉者急溫之（四逆症）少陰病身體疼手足寒骨節痛脈沉者（附子湯症）少陰病得之一二日口中和其背惡寒者當灸之附子湯主之（附子症）少陰病咳而下利譫語者被火氣劫故也小便必難以強責少陰汗也（咳利譫語症）少陰病脈微不可發汗亡陽故也陽已虛尺脈微弱者復不可下之（發汗亡陽症）脈陰陽俱緊反汗出者亡陽也此屬少陰法當咽痛而復吐利（咽痛吐利症）少陰病二三日咽痛者可與甘草湯不瘥與桔梗湯（甘草桔梗症）少陰病咽中痛半夏散及湯主之（半夏散症）少陰病咽中痛傷生瘡不能語言聲不出者（苦酒湯症）少陰病下利咽痛胸滿心煩（豬膚湯症）少陰病飲食入口即吐心中溫溫欲吐復不能吐始得之手足寒脈弦遲者此胸中實不可下也當吐之若膈上有寒飲乾嘔者不可吐也急溫之宜四逆湯（四逆症）少陰病欲吐不吐心煩但欲寐五六日自利而渴屬少陰也虛故引水自救若小便色白者少陰病形悉具小便白者以下焦虛有寒不能制水故也（下利煩渴症）少陰病吐利手足厥冷煩躁欲死（吳茱萸症）少陰病二三日至四五日腹疼小便不利四肢沉重疼痛自下利者此為有水氣其人或咳或小便利或不利或嘔者真武湯主之（真武症）少陰病下利脈微澀嘔而汗出必數更衣反少者當溫其上灸之（嘔利汗出症）少陰病下利六七日咳而嘔渴心煩不得眠（豬苓症）少陰病四逆或咳或悸或小便不利或腹中痛或泄利小重（四逆散症）少陰病下利清穀裡寒外熱手足厥逆脈微欲絕身反不惡寒其人面色赤或腹痛乾嘔咽痛或利止脈不出者通脈四逆湯主之其脈出即愈（通脈四逆症）少陰病下利（白通湯症）少陰病下利脈微者與白通湯利不止厥逆無脈乾嘔煩者白通加豬膽汁湯主之微續者生（白通豬膽汁症）少陰病二三日至四五日腹痛小便不利下利不止便膿血（桃花湯症）少陰病下利便膿血可刺（下利膿血症）少陰病八九日一身手足盡熱者以熱在膀胱必便血（身熱便血症）少陰病吐利手足不厥冷反發熱者不死脈不至者灸少陰七壯（陽回不死症）少陰病下利便膿血（桃花湯症）少陰病惡寒而蜷時自煩欲去衣被者可治（陽回症）少陰病下利若利自止惡寒而蜷臥手足溫者可治（陽回症）少陰病脈緊至七八日自下利脈暴微手足反溫脈緊反去者為欲解也雖煩下利必自愈（陽回症）少陰負趺陽者為順也（土盛水負症）少陰病得之二三日以上心煩不得臥（土勝水負黃連阿膠症）少陰病得之二三日口燥咽乾者急下之；宜大承氣湯（土勝水負大承氣症）少陰病自利清水色純青心下必痛口乾燥者急下之宜大承氣湯（土勝水負大承氣症）少陰病六七日腹脹不大便者急下之宜大承氣湯（土勝水負大承氣症）少陰中風脈陽微陰浮為欲愈（中風欲症）少陰病欲解時從子至寅上</p>
<p>不治病　少陰病但厥無汗而強發之必動其血未知從何道出或從口鼻或從目出是名下厥上竭為難治（發汗動血症）少陰病下利脈微與白通湯利不止厥逆無脈乾嘔煩者服白通加豬膽汁湯脈暴出者死微續者生　少陰病脈微沉細但欲臥汗出不煩自欲吐至五六日自利復煩躁不得臥寐者死（亡陽死症）少陰病吐利煩躁四逆者死　少陰病四逆惡寒而身蜷脈不至不煩而躁者死少陰病惡寒身蜷而利手足逆冷者不治　少陰病下利止而頭眩時時自冒者死　少陰病六七日息高者死</p>
<p>方藥</p>
<p><u>麻黃附子細辛湯</u>　麻黃附子甘草湯　附子湯</p>
<p>附子　茯苓　人參　白朮　芍藥</p>
<p><u>甘草湯</u>　桔梗湯</p>
<p>桔梗　甘草</p>
<p><u>半夏散</u></p>
<p>半夏　桂枝　甘草　不能服散以散煎</p>
<p><u>苦酒湯</u></p>
<p>半夏　雞子（去黃內苦酒半夏）</p>
<p><u>豬膚湯</u></p>
<p>豬皮加白蜜鉛粉熬</p>
<p><u>真武湯</u></p>
<p>茯苓　白朮　生薑　附子　芍藥</p>
<p><u>四逆散</u></p>
<p>甘草　枳實　柴胡　芍藥</p>
<p><u>通脈四逆湯</u></p>
<p>甘草　乾薑　附子　加蔥白</p>
<p><u>白通湯</u></p>
<p>蔥白　乾薑　附子</p>
<p><u>白通加豬膽汁湯</u></p>
<p>蔥白　乾薑　附子　煮去滓　內豬膽汁人尿</p>
<p><u>桃花湯</u></p>
<p>粳米　乾薑　赤石脂</p>
<p><u>黃連阿膠湯</u></p>
<p>黃連　黃芩　芍藥　阿膠　雞子黃</p>

<h1>厥陰</h1>
<p>臟病連經　傷寒六七日大下後寸脈沉而遲手足厥逆下部脈不至咽喉不利吐膿血泄利不止者為難治麻黃升麻湯主之（麻黃升麻症）</p>
<p>臟病　厥陰之為病消渴氣上衝心心中熱疼飢而不欲食食則吐蛔下之利不止　傷寒脈微而厥至七八日膚冷其人躁無暫安時此為臟厥非蛔厥也蛔厥者當吐蛔令病者靜而復時煩此為臟寒蛔上入膈故煩須臾復止得食而嘔又煩者蛔聞食臭出其人當自吐蛔蛔厥者烏梅丸主之（烏梅丸症）陰陽不相順接便為厥厥者手足逆冷也諸四逆厥者不可下虛家亦然（手足厥逆症）傷寒一二日至四五日而厥者必發熱前熱後必厥厥深熱亦深厥微熱亦微厥應下之而反發汗必口傷爛赤（厥熱勝復症）傷寒厥五日熱亦五日設六日當復厥不厥者自愈厥終不過五日以熱五日故知自愈（厥熱勝負症）傷寒厥四日熱反三日厥復五日病必進寒多熱少陽氣退也（厥多熱少症）傷寒熱四日厥反三日復熱四日厥少熱多病當愈四日至七日熱不除當便膿血（厥少熱多症）傷寒熱少厥微指頭寒嘿嘿不欲食煩躁數日小便利色白者此熱除也欲得食其病為愈若厥而嘔胸脅煩滿者其後必便血（熱勝便血症）傷寒始發熱六日厥反九日而利厥利者當不能食今反能食者恐為除中食以索餅不發熱者知胃氣尚在必愈恐暴熱來出而復去也後三日脈之熱續在者期之旦日夜半愈所以然者熱與厥相應故愈後三日脈之而脈數其熱不罷者此熱氣有餘必發癰膿（熱勝癰膿症）傷寒先厥後熱而利者必自止見厥複利（厥勝下利症）傷寒先厥後熱下利必自止反汗出咽中痛者其喉為痹（熱勝喉痹症）發熱無汗利必自止若不止必便膿血便膿血其喉不痹（熱便膿症）傷寒脈促手足厥逆者可灸之（脈促發厥症）手足厥寒脈細欲絕者當歸四逆湯主之若內有久寒者當歸四逆加吳茱萸湯主之（當歸四逆症）病人手足厥冷脈乍緊者邪結在胸中心下滿而煩飢不能食者病在胸中當吐之（瓜蒂散症）病人手足厥冷言我不結胸少腹滿按之痛者此冷結在膀胱關元也（少腹滿痛症）傷寒厥而心下悸者宜先治水當與茯苓甘草湯卻治其厥不爾水漬入胃必利（水漬作利症）傷寒四五日腹中痛若轉氣下趨少腹此欲自利也（腹痛欲利症）下利脈大者虛也以強下故也設脈浮革因而腹鳴者屬當歸四逆湯（當歸四逆症）大汗若大下利而厥冷者（四逆症）大汗出熱不去內拘急四肢疼又下利厥逆而惡寒者（四逆症）下利清穀裡寒外熱汗出而厥者（通脈四逆症）傷寒本自寒下復吐下之寒格更逆吐下食入口則吐（乾薑連芩人參症）乾嘔吐涎沫頭痛者（吳茱萸症）嘔家有癰膿者不可治嘔膿儘自愈（癰膿作嘔症）嘔而脈弱小便複利身微熱見厥者難治四逆湯主之（四逆症）下利脈沉弦者下重也脈大者為未止脈微弱數者為欲自止雖發熱不死（陽回不死症）下利脈沉遲面少赤身微熱下利清穀者必鬱冒汗出而解病人必微厥所以然者其面戴陽下虛故也（陽回症）下利脈數有微熱汗出令自愈設復緊為未解（陽回症）下利脈數而渴令自愈不瘥必圊膿血以有熱也（陽回圊膿症）下利寸脈反浮數尺中自澀必圊膿血（陽回圊膿症）下利有微熱而渴脈弱者令自愈（陽回自愈症）下利慾飲水以有熱也白頭翁湯主之（陽回有熱症）厥陰病欲飲水者少少與之愈（陽回飲水症）熱利下重者白頭翁湯主之（陽回熱利症）下利譫語者有燥屎也宜小承氣湯（陽回譫語症）下利後更煩按之心下濡者為虛煩宜梔子豉湯（陽回生煩症）厥陰中風脈微浮為欲愈不浮為未愈（厥陰欲愈）厥陰病欲解時從醜至卯上</p>
<p>不治病　傷寒脈遲六七日反與黃芩湯徹其熱腹中應冷當不能食今反能食此名除中必死（徹熱除中症）傷寒五六日不結胸腹濡脈虛復厥者不可下此為亡血下之死（脈虛厥逆症）發熱而厥七日下利者為難治（熱厥下利症）傷寒發熱下利至甚厥不止者死（陽絕死者）傷寒六七日不利便發熱而利其人汗出不止者死有陰無陽也　傷寒發熱下利厥逆躁不得臥者死傷寒六七日脈微手足厥冷煩躁灸厥陰厥不還者死下利手足厥冷無脈者灸之不溫若脈不還反微喘者死　下利後脈絕手足厥冷晬時脈還手足溫者生不還者死　傷寒下利日十餘行脈反實者死</p>
<p>方藥</p>
<p><u>烏梅丸</u></p>
<p>烏梅　細辛　乾薑　人參　桂枝　當歸　蜀椒　附子　黃連　黃柏</p>
<p><u>當歸四逆湯</u></p>
<p>當歸　芍藥　桂枝　細辛　通草　甘草　大棗</p>
<p><u>當歸四逆加吳茱萸生薑湯</u></p>
<p>當歸　芍藥　桂枝　細辛　通草　甘草　大棗　吳茱萸　生薑</p>
<p><u>乾薑黃連黃芩人參湯</u>　麻黃升麻湯</p>
<p>麻黃　升麻　當歸　知母　黃芩　葳蕤　石膏　乾薑　芍藥　白朮　天冬　桂枝　茯苓　甘草</p>
<p><u>白頭翁湯</u></p>
<p>白頭翁　黃連　黃柏　秦皮</p>

<h1>汗下宜忌</h1>
<p>可汗　脈浮大者應發汗醫反下之此為大逆</p>
<p>可吐　病人手足厥冷脈乍結以客氣在胸中心下滿而煩欲食不能食者病在胸中當吐之　病胸上諸實胸中鬱郁而痛不能食欲使人按之而反有涎唾下利日十餘行其脈反遲寸口脈微澀吐之利即止宿食在上脘當吐之</p>
<p>可下　下利三部脈皆平按之心下硬者急下之宜大承氣湯　脈雙弦而遲者必心下硬脈大而緊者陽中有陰也可下之宜大承氣湯寸口脈浮而大按之反澀尺中亦微而澀知有宿食當下之宜大承氣湯下利不欲食者以有宿食故也當下之宜大承氣湯下利脈反滑當有所去下之乃愈宜大承氣湯　下利脈遲而滑者內實也利未欲止當下之宜大承氣湯　傷寒後脈沉沉者內實也下解之宜大柴胡湯　病人腹中滿痛者此為實也當下之宜大承氣湯　下利瘥後至其年月復發者以病不盡也當下之宜大承氣湯</p>
<p>不可汗　脈濡而弱弱反在關濡反在巔微反在上澀反在下微則陽氣不足澀則無血陽氣反微中風汗出而反躁煩澀則無血厥而且寒陽微發汗躁不得眠　脈濡而弱弱反在關濡反在巔弦反在上微反在下弦為陽運微為陰寒上實下虛意欲得溫微弦為虛不可發汗發汗則寒慄不能自還　脈濡而緊濡則衛氣微緊則營中寒陽微衛中風發熱而惡寒營緊胃中冷微嘔心內煩醫謂有大熱解肌而發汗亡陽虛煩躁心下苦痞堅表裡俱虛竭雜起而頭眩客熱在皮膚悵怏不得眠不知胃氣冷緊寒在關元技巧無所施汲水灌其身客熱因時罷慄慄而戰寒重被而覆之汗出而冒巔體惕而又振小便為微難寒氣因水發清穀不容間嘔變反腸出顛倒不能安手足為微逆身冷而內煩遲欲從後救安可復追還　諸脈得數動微弱者發汗則大便難腹中乾胃燥而煩　厥脈緊發汗則聲亂咽嘶舌萎動氣在左發汗則頭眩汗不止筋惕肉瞤　動氣在右發汗即衄而渴心苦煩飲即吐水動氣在上發汗則氣上衝正在心端　動氣在下發汗則無汗心中大煩骨節苦疼目暈惡寒食則反吐　咽中閉塞發汗則吐血氣欲絕手足逆冷欲得蜷臥不能自溫衄家不可發汗汗出必額上陷脈緊急直視不能眴不得眠　亡血家發汗則寒慄而振　淋家發汗則便血　瘡家雖身疼痛不可汗汗出則痙　咽喉乾燥不可汗　咳而小便利若失小便者不可汗汗則四肢厥冷　咳者則劇數吐涎沫咽中必干小便不利心中飢煩雜時而發其形似瘧有寒無熱虛而寒慄咳而發汗蜷而苦滿腹中復堅諸逆發汗病微者難瘥劇者言亂目眩者死</p>
<p>不可下　脈濡而弱弱反在關濡反在巔微反在上澀反在下微則陽氣不足澀則無血陽氣反微中風汗出而反躁煩澀則無血厥而且寒陽微不可下下之則心下痞硬　脈濡而弱弱反在關濡反在巔弦反在上微反在下弦為陽運微為陰寒上實下虛意欲得溫微弦為虛虛者不可下也　脈濡而弱弱反在關濡反在巔浮反在上數反在下浮為陽虛數為無血浮為虛數為熱浮為虛自汗出而惡寒數為痛振寒而慄微弱在關胸下為急喘汗而不得呼吸呼吸之中痛在於脅振寒相迫形如瘧狀醫反下之故令脈數發熱狂走見鬼心下為痞小便淋漓小腹甚硬小便則尿血也　脈浮而大浮為氣實大為血虛血虛為無陰孤陽獨下陰部者小便當赤而難胞中當虛今反小便利而大汗法應衛家當微今反更實津液四射榮竭血盡干煩而不得眠血薄肉消而成暴液醫復以毒藥攻其胃此為重虛客陽去有期必下如汙泥而死　微則為咳咳則吐涎下之則咳止而利因不休利不休則胸中如蟲齧粥入則出小便不利兩脅拘急喘息為難頸背相引臂則不仁極寒反汗出身冷若冰眼睛不慧語言不休而穀食多入此謂除中口雖欲言舌不得前　脈數者久數不止止則邪結正氣未復邪氣卻結於臟故正氣浮之與皮毛相得脈數者不可下下之必煩利（不止）動氣在右下之則津液內竭咽燥鼻乾頭眩心悸也　動氣在左下之則腹內拘急食不下動氣更劇雖有身熱臥則欲蜷　動氣在上下之則掌握煩熱身上浮冷熱汗自泄欲得水自灌動氣在下下之則腹脹滿雜起頭眩食則下清穀心下痞　咽中閉塞者下之則上輕下重水漿不下臥則欲蜷身急痛下利日數十行　諸外實者下之則發微熱亡脈厥者當臍握熱諸虛者下之則大渴求水者易愈惡水者劇　病陽多者熱下之則硬　無陽陰強大便硬者下之必清穀腹滿　發汗多亡陽譫語者不可下與桂枝柴胡湯和其營衛以通津液後自愈</p>
<p>不可汗下　傷寒發熱口中勃勃氣出頭痛目黃衄不可制貪水者必嘔惡水者厥若下之咽中生瘡假令手足溫者必下重便膿血頭痛目黃者若下之則兩目閉貪水者脈必厥其聲嚶咽喉塞若發汗則戰慄陰陽俱虛惡水者若下之則里冷不嗜食大便完穀出若發汗則口中傷舌上白苔躁煩脈實數不大便六七日後必便血若發汗則小便自利也　傷寒脈陰陽俱緊惡寒發熱則脈欲厥厥者脈初來大漸漸小更來漸漸大是其候也如此者惡寒甚者翕翕汗出喉中痛熱多者目赤脈多睛不慧醫復發之咽中則傷若復下之兩目閉寒多者必清穀熱多者便膿血若熏之則身發黃若熨之則咽燥若小便利者可救之小便難者為危殆　傷寒發熱頭痛形象中風常微汗出自嘔者下之益煩心中懊憹如飢發汗則致痙身強難以屈伸熏之則發黃不得小便久則發咳吐　傷寒發熱頭痛微汗出發汗則不識人熏之則喘不得小便心腹滿下之則短氣小便難頭痛背強加溫針則衄</p>

<h1>傷寒類證</h1>
<p>溫病　太陽病發熱而渴不惡寒者為溫病若發汗已身灼熱者名曰風溫風溫為病脈陰陽俱浮自汗出身重多眠睡鼻息必齁語言難出若被下者小便不利直視失溲若被火者微發黃色劇則如驚癇時瘛瘲若火熏之一逆尚引日再逆促命期</p>
<p>痙病　太陽病發熱汗出不惡寒者名曰柔痙　太陽病發熱無汗反惡寒者名曰剛痙　太陽病發汗太多因致痙　病身熱足寒頸項強急惡寒時頭熱面赤目脈赤獨頭搖卒口噤背反張者痙病也太陽病發熱脈沉而細者名曰痙</p>
<p>濕病並方藥　太陽病關節疼痛而煩脈沉而細者此名濕痹濕痹之候其人小便不利大便反快但當利其小便　濕家之為病一身盡疼發熱身色如熏黃　濕家其人但頭汗出背強欲得被覆向火若下之早則噦胸滿小便不利舌上如脂者以丹田有熱胸中有寒渴欲得水而不能飲則口燥煩也濕家下之額上汗出微喘小便利者死若下利不止者亦死　濕家病身上疼痛發熱面黃而喘頭痛鼻塞而煩其脈大自能飲食腹中和無病病在頭中寒實故鼻塞納藥鼻中則愈　風濕相搏一身盡疼痛法當汗出而解值天陰雨不止汗之病不愈者何也曰發其汗汗大出者但風氣去濕氣在故不愈也若治風濕者發其汗但微微似欲汗出者風濕俱去也　病者一身盡疼發熱日晡時劇者此曰風濕此病傷於汗出當風或久傷取冷所致也　傷寒八九日風濕相搏身體煩痛不能自轉側不嘔不渴脈浮虛而澀者桂枝附子湯主之若大便硬小便自利者去桂枝加白朮湯主之　風濕相搏骨節煩疼掣痛不得屈伸近之則痛劇汗出短氣小便不利惡風不欲去衣或身微腫者甘草附子湯主之</p>
<p><u>桂枝附子湯</u></p>
<p>桂枝　甘草　大棗　生薑　附子</p>
<p><u>去桂枝加白朮湯</u></p>
<p>甘草　大棗　生薑　附子　白朮</p>
<p><u>甘草附子湯</u></p>
<p>甘草　附子　白朮　桂枝</p>
<p>暍病　太陽中暍者發熱惡寒身重而疼痛其脈弦細芤遲小便已洒洒然毛聳手足逆冷小有勞身即熱口開前板齒燥若發汗則惡寒甚加溫針則發熱甚數下之則淋甚　太陽中熱者暍是也其人汗出惡寒身熱而渴也　太陽中暍身熱疼重而脈微弱此夏月傷冷水水行皮中所致</p>
<p>霍亂並方藥　嘔吐而利是名霍亂病發熱頭痛身疼惡寒吐利此名霍亂自吐下利止復更發熱也　傷寒其脈微澀者本是霍亂今是傷寒卻四五日至陰經上轉入陰必利本嘔下利者不可治也欲似大便而反失氣仍不利者此屬陽明也便必硬十三日愈以經盡故也下利後當便硬硬則能食者愈今反不能食到後經中頗能食復過一經能食過之一日當愈不愈者不屬陽明也　霍亂頭疼發熱身疼痛熱多欲飲水者五苓散主之寒多不用水者理中湯主之　吐利汗出發熱惡寒四肢拘急手足厥冷者四逆湯主之　既吐且利小便複利而大汗出下利清穀內寒外熱脈微欲絕者四逆湯主之吐已下斷汗出而厥四肢拘急不解脈微欲絕通脈四逆加豬膽汁湯主之　惡寒脈微而復和利止亡血也四逆加人參湯主之　吐利止而身痛不休者當消息和解其外宜桂枝湯小和之吐利發汗脈平小煩者以新虛不勝穀氣故也</p>
<p><u>理中丸</u></p>
<p>人參　白朮　甘草　乾薑</p>
<p><u>通脈四逆加豬膽汁湯</u></p>
<p>甘草　乾薑　附子</p>
<p>於通脈四逆方內加豬膽汁半合無豬膽以羊膽代</p>
<p><u>四逆加人參湯</u></p>
<p>甘草　乾薑　附子　人參</p>
<p>瘥後勞復陰陽易並方藥　大病瘥後喜唾久不了了者胃上有寒當以丸藥溫之宜理中丸傷寒解後虛羸少氣氣逆欲吐者竹葉石膏湯主之大病瘥後從腰以下有水氣者牡蠣澤瀉散主之　傷寒瘥已後更發熱小柴胡湯主之脈浮者以汗解脈沉實者以下解之　大病瘥後勞復枳實梔子湯主之若有宿食加大黃病人脈已解而日暮微煩以病新瘥人強與谷脾胃氣尚弱故令微煩捐谷則愈（以上瘥後勞復）</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉　石膏　麥冬　人參　甘草　粳米　半夏</p>
<p><u>牡蠣澤瀉散</u></p>
<p>牡蠣　澤瀉　葶藶　商陸根　海藻　蜀漆　栝蔞根</p>
<p><u>枳實梔子豉湯</u></p>
<p>枳實　梔子　香豉</p>
<p>傷寒陰陽易之為病其人身體重少氣少腹裡急或引陰中筋攣熱上衝胸頭重不欲舉眼中生花膝脛拘急者燒裩散主之（陰陽易）</p>
<p><u>燒裩散</u></p>
<p>裩襠（近陰處剪燒灰和服）</p>
