<header data-type="book">
<h1>素問入式運氣論奧</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉溫舒</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1099">公元1099年</data></dd></div>
<div><dt>底本</dt><dd>《正統道藏·素問入式運氣論奧》，涵芬樓版（<a href="https://www.kanripo.org/ed/KR5d0044/HFL/">漢リポ掃描及文字化本</a>）；《欽定四庫全書·子部五·醫家類·素問入式運氣論奧》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0024/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
