<header data-type="book">
<h1>顱顖經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="960">公元960年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·顱顖經》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0016/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>原序</h1>
<p>夫顱囟者，謂天地陰陽化感顱囟，故受名也。嘗覽《黃帝內傳》，王母金文，始演四序二儀陰陽之術，三才一元之道，採御靈機，黃帝得之昇天，秘藏金匱，名曰《內經》，百姓莫可見之，後穆王賢士師巫，於崆峒山得而釋之。敘天地大德，陰陽化功，父母交和，中成胎質。爰自精凝血室，兒感陽興，血入精宮，女隨陰住，故以清氣降而陽谷生，濁氣升而陰井盛也。甚者二儀互換，五氣相參，目睹元機，非賢莫達。謂真陰錯雜，使精血聚而成殃，陽發異端，感榮衛合而有疾，遂使嬰兒才養，驚候多生，庸愚不測始末，亂施攻療，便致枉損嬰兒。籲哉，籲哉，遂究古言，尋察端由，敘成疾目，曰《顱囟經》焉。真憑辨證，乃定死生，後學之流，審依濟疾。天和太清，降乘赤海，真一元氣乘之，則母情先搖，盪漾熾然，是陽盛發陰，當妊男也。六脈諸經，皆舉其陽證，所謂妊衰不勝臟氣，則觸忤而便傷；妊勝而氣劣，則母疾三五月而發，皆隨五臟。心臟干，而口苦舌乾；肺臟竭，而多涕發寒；肝臟邪，而嗜酸多睡；脾臟發，而嘔逆惡食；腎臟困，而軟弱無力。臟妊氣平則和而無苦，胎若劣而強得臟養，至生亦乃多疾。二儀純陰之證，升雜真一者，謂陰發陽，則父精薄，妊當成女也。六脈諸經皆發陰證，若血盛氣衰，則肥而劣氣，若氣盛血衰，則瘦而壯氣，餘臟妊之氣，皆同男說。孩子處母腹之內時，受化和之正氣，分陰陽之紀綱，天地降靈，十月而化，萬物以生成，隨其時變，大理清純，化成祥瑞之基，全真道一，故生成焉。一月為胚，精血凝也，二月為胎，形兆分也，三月陽神為三魂，動以生也，四月陰靈為七魄，靜鎮形也，五月五行分臟，安神也，六月六律定腑，滋靈也，七月精開竅通，光明也，八月元神俱降，真靈也，九月宮室羅布，以生人也，十月氣足，萬物成也。太乙元真在頭曰泥丸，總眾神也，得諸百靈，以御邪氣，陶甄萬物，以靜為源，是知慎子調護，即以守恬和，可以保長生耳。故小兒瘦疴，蓋他人之過也。</p>

<h1>卷上</h1>

<h2>脈法</h2>
<p>凡孩子三歲以下，呼為純陽，元氣未散，若有脈候，即須於一寸取之，不得同大人分寸。其脈候未來，呼之脈來三至，吸之脈來三至，呼吸定息一至，此為無患矣。所言定息，呼氣未出，吸氣未入，定息之中又至，此是和平也。若以大人脈五至取之，即差矣。如此七至以上，即為有氣，或脈浮如弓之張弦，此為有風，並可依後方合藥治之。或七至以下，此為冷候，亦宜依後方合藥療之。或診候取平，或忽而不見，沉浮不定，伏益根平者，此為神鬼之病，且合求祟，續宜使藥或桃柳枝湯浴，煎飲子為使，一兩顆桃心。</p>
<p>孩子脈呼吸十五至以上，三至以下，皆死矣。</p>

<h2>病證</h2>
<p>初生小兒，鵝口撮噤，並是出胎，客風著顱臍致有此，可以小艾灸三壯及烙之愈。</p>
<p>初生小兒，至夜啼者，是有瘀血腹痛，夜乘陰而痛則啼。</p>
<p>初生小兒，一月內乳利如膠，是母寒氣傷胃所致也。</p>
<p>初生小兒，一月內乳利如血，是母胸有滯熱所作也。</p>
<p>初生小兒，一月內兩眼赤者，是在胎之時，母吃炙煿熱面，壅滯氣入胎中，熏兒腦所致也。</p>
<p>小兒溫熱，皆因從氣熱而搏胃氣使然，下之氣平即愈。氣虛則生驚而變癇。</p>
<p>小兒驚癇，一從虛邪客氣相搏而生其候，當用補養安和即愈。加以性冷及太過即死。</p>
<p>小兒噦逆吐，皆胃氣虛，逆氣客於臟氣而作，當和胃養氣。如至下冷極，即小兒霍亂吐逆，皆胃氣與陰陽氣上下交爭而作，當用安和補藥，調養即愈。</p>
<p>小兒客忤、無辜，皆因客入所觸，及暴露星月，小兒嫩弱，所以此候多惡。</p>
<p>小兒一　眼青揉癢是肝疳。二　齒焦是骨疳。三　肉色鼻中干是肺疳。四　皮乾肉裂是筋疳。五　發焦黃是血疳。六　舌上生瘡是心疳。七　愛吃泥土是脾疳。孩子肌骨肥實，皮膚白，無故煩渴，此自小奶猛衝損肺，但依後方內用甘草人參合飲子。若氣急甚，胸脹起，鼻連眼下瞼青色，呻吟之聲者，此必死之兆，不得與藥。</p>
<p>孩子痢如疳靛者，難效。痢如鵝鴨血者，脾已爛損，不宜與藥。</p>
<p>孩子凡有諸色疾苦，但瞼下垂牽，必定死矣。</p>
<p>孩子瘧皆難效，或發無時，即口噤咬牙作聲，此必死矣。呼為歷瘠疳瘧，亦名為鎖腸疳。</p>
<p>孩子無故搖頭，此為腦頂風。</p>
<p>孩子渴吃乳食，夜啼作聲，此即是腹肚痛。</p>
<p>孩子吃乳皆出，此是脾冷。</p>
<p>孩子無故肚大項細，四肢消瘦，筋脈骨節弛緩，是小來少乳，嚼食與吃，早成骨熱疳勞，先宜與保童丸吃，續與柴胡鱉甲飲子。（保童丸方見一切疳門中，柴胡飲子方見行遲門中。）</p>
<p>孩子頭面胸膊肌厚，臂脛細瘦，行走遲者，是小時抱損。</p>
<p>孩子鼻流清涕，或鼻下赤癢，此是腦中鼻中疳極，宜用後方，青黛散吹鼻，兼敷下赤爛處。（方見疳疾吹鼻門中。）</p>
<p>已前並診候孩子疾狀，孩子氣脈未調，臟腑脆薄，腠理開疏，看脈以時，依方用藥。</p>
<p>孩子或夏中熱時，因乳母沐浴多使冷水，奶得冷氣，血脈皆伏，見孩子氣未定便與奶，使孩子胃毒，及赤白兩般惡痢，此乃是奶母之過。凡浴後可令定息良久，候氣定揉與之，即全無患。</p>
<p>師巫燒錢，乳母須預祝之，勿令著水噴兒，皆令驚熱入心，轉成患害，切宜慎之。</p>
<p>凡孩子自生，但任陰陽推移。即每六十日一度變蒸，此骨節長來四肢發熱，或不下食乳，遇如此之時，上唇有珠之如粟粒大，此呼為變蒸珠子，以後方退熱飲子療之，不宜別與方藥。《幼幼新書》注云：《顱囟經》以六十日為一變，巢氏《病源》以三十二日為一變，說有不同，故兼存之。</p>

<h2>驚癇癲證治</h2>
<p><u>牛黃丸</u></p>
<p>治小兒胎驚及癇，或心熱。</p>
<p>牛黃　龍腦　馬牙硝　鐵焰粉（各一分）</p>
<p>上為細末，煉蜜丸如梧桐子大。每日乳食前，熱水調破一丸灌下，令母忌口。</p>
<p><u>又牛黃丸</u></p>
<p>治孩子驚熱入心，疑成癇疾，面色不定，啼哭不出，潮熱無度，不吃乳食，大睜眼翻露白，手足逆冷，呼喚不應。</p>
<p>牛黃研　大黃　獨活（各一分）　升麻　琥珀（炙，別研）　綠豆粉　大麻仁（別研，各半兩）</p>
<p>上為細末，蜜丸如梧桐子大。空心熱水下一丸，頓服之，食後再服一丸，至十歲加金銀箔各五片，忌煿炙毒物。</p>
<p><u>虎睛丸</u></p>
<p>治小兒風癇驚啼，不吃乳。</p>
<p>虎睛（一支）　犀角　子芩（各等分）　梔子仁　大黃（各十分）</p>
<p>上五味為細末，煉蜜丸如梧桐子大。驚啼不吃奶，乳汁下七丸，風癇米飲下五丸至七丸。小兒減丸數，取利為度，忌毒物。若有虛熱加知母六分。</p>
<p><u>又虎睛丸</u></p>
<p>治小兒子二十四種驚癇，壯熱，抽掣腳手，嘔吐，夜啼，眼腫。</p>
<p>虎睛（一支，《聖惠》用一對）　梔子仁　茯苓（各二分）　牛黃（少許，《聖惠》用半兩）　人參（一分，《聖惠》用一兩）　鉤藤　大黃（各四分）　犀角（末一分，《聖惠》用二兩）　黃芩（一分，《聖惠》用一兩）　蛇蛻（七寸，燒灰，《聖惠》用一分）</p>
<p>上為末，蜜丸如黍米大，空心熱水下，隨年丸。輕者一服，重者三服，奶汁下亦得，聖惠熱水下，奶母忌一切生冷、油膩、毒物。</p>
<p><u>廣利方</u></p>
<p>治孩子驚癇，不知，迷悶嚼舌，仰目。</p>
<p>牛黃（一大豆）</p>
<p>上為細末，研和蜜水服之。</p>
<p><u>二十二味虎睛丸</u></p>
<p>治孩子從一歲至大，癲發無時，口出白沫，小便淋瀝不利。</p>
<p>虎睛（一支，生眼佳，曝乾，酒浸令黃色）　蚱蟬（四枚，去翅足，炙）　珍珠　蜂房（各三錢）　麻黃　鉤藤（各三分）　鐵精　防葵　大黃　子芩　龍齒　銀屑　梔子仁　羌活（各四分）　柴胡　升麻　白鮮皮　雷丸（燒令赤）　人參（各三分）　細辛（一分半）　蛇皮（五寸，炙）　石膏（五分）</p>
<p>上為末，蜜丸如赤豆大。四五歲五丸，日再服，大兒十丸，濃煎米飲下，忌生冷油膩。</p>

<h2>疳痢證治</h2>
<p><u>保童丸</u></p>
<p>治小兒孩子諸色疳候，或腹內虛脹，驚癇頭髮立，常咬手指。脊疳，疳勞，臂脛細弱，行立不得，及鼻下常赤，清涕涎流不止，舌上生瘡。腦疳，口疳，腹上筋脈青。</p>
<p>虎睛（半支）　硃砂　麝香（各一錢）　龍腦　牛黃　巴豆　芎藭　桔梗　枳殼　檀香蕉　茯神　人參當歸　羌活　代赭　鶴蝨　白朮（各半兩）</p>
<p>上為細末，下香、砂、巴豆令勻，煉蜜丸如梧桐子大。一歲至五歲每日一丸，十歲每日三丸，並空心米飲下。但稍知，孩子病甚，即加藥與之。孩子未效，奶母忌生冷、油膩、炙煿、毒魚、大蒜、米醋。</p>
<p><u>又方</u></p>
<p>治孩子疳痢，諸色疳，並一十五病狀：一腹大，二皮膚黑黃，三骨節粗，四眼赤，五口赤，六鼻中生瘡，七頭髮黃，八咬指甲，九愛吃土，十愛吃甜物，十一身熱，十二頭大，十三臍凸，十四項細，十五面無光，並宜常服保童丸方。</p>
<p>硃砂（半分）　牛黃　麝香　蟾酥（各少許）　阿魏（二分）</p>
<p>上先將硃砂於淨器中，研如粉，入諸藥一時，以蒸餅為丸，忌羊血、生冷等。</p>
<p><u>又方</u></p>
<p>治孩子疳氣，或腹肚脹上筋脈，頭大項細，吃物不知足，夜中即起，腹內長鳴。</p>
<p>大黃（一兩）　陳橘皮（二兩，酸醋二合，浸兩日，曬乾）　蜣螂（二十個，去翅足子，熱燒醋，安之以杯，蓋地上去火毒，候冷取出，炒過）</p>
<p>上為末，蜜丸如梧桐子大。每日空心熱水下十丸，忌如常。</p>
<p><u>紫雪丸方</u></p>
<p>治小兒五疳，兼腹肚虛脹，疳氣煩悶，或時燥渴。</p>
<p>大黃　黃連　代赭（各二分）　硃砂　麝香（各少許）　杏仁（去皮尖，別研）　肉豆蔻　巴豆（去皮，以冷水浸，別研，各一兩）</p>
<p>上為細末，蜜丸如赤豆大。每服空心米飲下一丸，五歲十歲只可服五丸，臨時加減，忌生冷、油膩、炙煿。</p>
<p><u>硃砂丸</u></p>
<p>治孩子疳痢，辨蟲顏色，定吉凶。</p>
<p>硃砂（半石蓮大）　阿魏（如硃砂大）　蝙蝠血（三兩滴）　蟾酥（少許）</p>
<p>上為細末，和少許口脂調，先以桃柳枝煎湯浴兒，後看小兒大小，以綠豆大填兒臍中，後用紙片臍中貼之，用青衣蓋兒，看蟲出來，黃色者輕，青黑色重。</p>
<p><u>青黛散</u></p>
<p>治孩子鼻流清涕，或鼻下赤癢。</p>
<p>青黛（一錢）　蘆薈　地龍（各半錢）　硃砂（一字匕）　瓜蒂（半錢）　細辛（一錢）　宣連（半錢）</p>
<p>上為細末，和合吹鼻中，入麝香少許。</p>
<p><u>保童丸</u></p>
<p>硃砂　麝香　新蟾酥（各等分）</p>
<p>上研合成劑，合子內盛，丸如麻子大。又於一合子內浸一丸，以箸頭點入鼻中，亦名問命丸。但孩子病甚，即與吹之，或得七噴，可以治之；五噴即甚；三噴必死矣。此不可深著水浸，臨時入水亦不畏。</p>
<p><u>蓋腦散</u></p>
<p>治孩子腦疳鼻癢，毛髮作穗，面色赤。</p>
<p>地榆（炙）　蛤蟆（燒，各一分）　蝸牛殼（二十一個）　青黛　石蜜（各二分）　麝香（二大豆許）</p>
<p>上為末，吹鼻當有黃水出，忌甜物。</p>
<p><u>胡黃連丸</u></p>
<p>治孩子熱疳。</p>
<p>胡黃連　蟾酥（各等分）</p>
<p>上為末，蜜丸如綠豆大。五歲熱水下二丸。</p>
<p><u>調中丸</u></p>
<p>治孩子諸疳，或熱攻衝心，肺氣急，晝夜有汗，日漸羸瘦，不吃乳食。</p>
<p>柴胡　茯苓　人參　木香　桂心　大黃（濕紙裹煨）　枳殼（麩炒，去皮瓤）　甘草（炙）　鱉甲（醋炙，各等分）</p>
<p>上為末，蜜丸如梧桐子大，每歲兩丸，至五歲三丸，熱水下，忌如常。</p>
<p><u>地黃煎方</u></p>
<p>治孩子疳勞，肺氣熱咳嗽，四肢漸瘦，心肺干。</p>
<p>生地黃汁（五兩）　蟾酥　生薑汁　蜜（各一兩）　鹿角膠（半兩）</p>
<p>上先將地黃汁安鍋內，慢火煎，手不住攪，約五六沸下酥，又五六沸下蜜，次下膠，又下薑汁，慢火煎，候如稀餳，即住火。每食後兩度，共與一匙頭，忌毒物。</p>
<p><u>又方</u></p>
<p>治孩子疳蝕口齒，齒齦宣露，臭穢不可近。</p>
<p>葶藶（炒）　胡桐律（等分）</p>
<p>上為末，以臘月豬脂調。微煎作膏。取柳木箸子綿裹，微微搵藥時烙。</p>
<p><u>又方</u></p>
<p>治孩子疳蝕唇鼻及諸瘡。</p>
<p>硫黃　乾漆　文蛤</p>
<p>上等分燒灰，稍煙盡，研為末，入麝香少許，以帛拭瘡膿後，用藥乾摻之立效。</p>
<p><u>又方</u></p>
<p>治孩子初患諸色痢及微有疳氣。</p>
<p>上用枳實，不限多少，炒令黑，拗破，看內外相似，為散，空心米飲下半錢，以歲加減服之，忌如常。</p>
<p><u>又方</u></p>
<p>治孩子赤白痢。</p>
<p>阿膠　赤石脂　枳殼（麩炒）　龍骨　訶子（炮半熱，去核，各半兩）　白朮（一分）</p>
<p>上為末，一歲二歲空心米飲下半錢。</p>
<p><u>又方</u></p>
<p>治孩子冷毒疳痢，白膿疳靛，日加瘦弱，不吃食，腹痛。</p>
<p>青木香（一分）　黃連（半兩）</p>
<p>上為末，蜜丸如梧桐子大。一歲以上空心熱水下一丸，三歲五歲服二丸。藥性熱者，不宜多服，忌生冷。</p>
<p><u>溫脾散</u></p>
<p>治孩子水瀉利並脾冷，食乳不消，吃奶頻吐。</p>
<p>附子　乾薑　甘草（炮，銼。各半兩）　白朮（一兩）</p>
<p>上為末，空心米飲下半錢，忌鮮魚毒物。</p>

<h1>卷下</h1>

<h2>火丹證治</h2>
<p>黃帝問岐伯曰：後生少稚，多被惡疾，丹毒二品，若何分之。岐伯曰：陽解百年，一十以上為毒，一十以下為丹，丹、毒一也。隨其大小，分別以治之，有毒至依方，萬無一差。喻人間男女皆遭丹毒，至依此枉死者復何限哉。良由信邪師之語，仍被恐之，愚昧之人勿與下手，請依方用之，今出此圖形狀。如後。</p>
<p>伊火丹從兩脅起。</p>
<p>神灶丹。從肚起。</p>
<p>尿灶丹。從踝起。</p>
<p>胡吹灶丹。從陰囊上起。</p>
<p>天火丹。從腹背遍身起。</p>
<p>天雷丹。從頭頂起。</p>
<p>煉火丹。從背甲起（方闕）。</p>
<p>胡漏灶丹。從臍中起。</p>
<p>廢灶丹。從曲臂起。</p>
<p>神氣丹。從頭項上起。</p>
<p>土灶丹。從陰踝起。</p>
<p>朱黃丹。赤豆色遍身上起。</p>
<p>螢火丹。從耳起。</p>
<p>野灶丹。從背脊起。</p>
<p>鬼火丹。從面上起。</p>
<p>伊火丹從兩脅起。</p>
<p>上用豬糞燒灰，並鐵糟中泥拌調塗之，日三。</p>
<p>神灶丹從肚起。</p>
<p>上用土蜂窠、杏仁、膩粉，生油調塗立瘥。</p>
<p>尿灶丹從肚起。</p>
<p>上用屋四角頭茅草燒灰，使雞子白調塗之。</p>
<p>胡吹灶丹從陰囊上起。</p>
<p>上用水茄窠下泥和苦酒塗之。</p>
<p>天火丹從腹背遍身起。</p>
<p>上用樺皮白末和生油調塗之。亦用赤石脂調塗。</p>
<p>天雷丹從頭頂起。</p>
<p>上用陰乾蔥末拌赤石脂塗。又用灶下土雞子白調塗。</p>
<p>胡漏灶丹從臍中起。</p>
<p>上用屋漏水調灶中土塗之。</p>
<p>廢灶丹從曲臂起。</p>
<p>上用屋四角茅草燒灰，雞子白調塗之。</p>
<p>神氣丹從頭背上起。</p>
<p>上用牯牛骨燒灰，羊脂塗之。</p>
<p>土灶丹從陰踝起。</p>
<p>上用屋四角茅草、灶橫麻及雞子白調塗之。</p>
<p>朱黃丹赤豆色遍身上起。</p>
<p>上用慎火草搗汁和酒調塗之。</p>
<p>螢火丹從耳起。</p>
<p>上用慎火草搗汁塗之。聖惠以醋調塗</p>
<p>野灶丹從背脊起。</p>
<p>上用柔香茸、蒴⿱艹豨、赤小豆末塗之立瘥。</p>
<p>鬼火丹從面上起。</p>
<p>上用灶下土、雞子白調塗之立瘥。</p>

<h2>雜證</h2>
<p><u>平和飲子</u></p>
<p>小兒初生，可日與之。</p>
<p>人參　茯苓　甘草（炙）　升麻（各一分）</p>
<p>上以水一白盞，煎至一合，半月以來時時與之，乳母忌油膩。滿月及百晬以來加之臨時，冷加白朮，熱加（缺），各半錢。</p>
<p><u>又方</u></p>
<p>治孩子臍中不幹。</p>
<p>白礬（一錢，煅過）　龍骨（一分）</p>
<p>上為細末，入麝香少許，每次使拭臍乾摻之，用帕裹避風。</p>
<p><u>青木香散</u></p>
<p>治孩子陰囊或如疝腫脹。</p>
<p>狐陰（一支，炙）　蒺藜（炒）　地膚皮　昆布　枳殼（炒）　槐子（炒，各一分）</p>
<p>上為末，一歲二歲，空心服，米飲下一錢。</p>
<p><u>又方</u></p>
<p>治孩子蛔蟲咬心痛，面伏地臥，口吐清水痰涎。</p>
<p>檳榔　苦楝根　鶴蝨（炒。各半兩）</p>
<p>上為末，空心熱茶下一錢，以意加減，忌黏食。</p>
<p><u>杏仁丸</u></p>
<p>治孩子或渴，此是蛔蟲傷。</p>
<p>杏仁（去皮）　膩粉（各一分）</p>
<p>上為末，每用唾丸。空心米飲茶任下二丸。</p>
<p><u>又方</u></p>
<p>治孩子赤遊腫或如丹，煩渴，渾身赤瘤，壯熱。</p>
<p>綠豆粉　鉛白霜</p>
<p>上細研，蕓薹汁調塗之。</p>
<p><u>又方</u></p>
<p>取鉛霜法：將鉛來於石上，打令薄，掘地作坑同鉛片大，以杵搗坑實，滿坑著醋，以鉛蓋定，經一宿去取，霜如珠子大，和藥使之。如煩渴以後，服解熱飲子。</p>
<p><u>又方</u></p>
<p>麥門冬　小蘆根　竹葉　乾葛（搗末）　漏蘆　犀角屑</p>
<p>上水四合，藥半兩，煎一合，無問食前後，徐徐與之。</p>
<p><u>硝石散</u></p>
<p>治孩子身上無故腫，但覺肉色赤熱。</p>
<p>硝石　大黃　綠豆（各等分）</p>
<p>上為末，每用時隨腫大小，取莙薘根研汁調塗腫上。如有惡物，即看有點子，以膏貼之，四面以散子熁之。若無莙薘根，即用雞子白或車前根葉亦得。</p>
<p><u>又方</u></p>
<p>治孩子胎中受風，長後或滿身疿癢如疥瘡，或如飢飽癢瘡。</p>
<p>蔥白　硝　臭黃　硫黃（各等分）</p>
<p>上用油半兩，燒令熱，下少許蠟，先剝蔥白三莖細切，待油熱即潑蔥上細研，續下硫黃、臭黃、硝，更研之，旋塗。</p>
<p><u>茴香散</u></p>
<p>治孩子赤眼並胎熱，及疳障多淚。</p>
<p>茴香　冬青膽（陰乾）　生甘草（各等分）</p>
<p>上為細末，每洗眼時取藥一分、水一盞，煎十沸後，溫洗之，或孩兒長大，即藥並水。</p>
<p><u>引子方</u></p>
<p>孩子用藥洗眼後，可更服之。</p>
<p>知母　黃芩　青葙子　地膚子　秦皮　車前子　山梔子　獨活（各等分）</p>
<p>上藥以水五合，煎二合，去滓溫服，忌食如常。</p>
<p><u>又方</u></p>
<p>治孩子聤耳。</p>
<p>白礬（半兩，燒過）　龍骨　鉛丹（燒。各一分）　麝香（少許）</p>
<p>上為末，以綿裹竹枝子探膿水。以一小豆大藥敷之。別以綿裹塞填之，勿令見風。</p>
<p><u>又方</u></p>
<p>治小兒聤耳。</p>
<p>石硫黃（制）</p>
<p>上為細末，以糝耳中，日一夜一。</p>
<p><u>又方</u></p>
<p>治孩子小便不通。</p>
<p>茯苓　通草　冬瓜子　車前子（各等分）</p>
<p>上以水四合，藥半兩，煎一合半作兩服，忌油膩。</p>
<p><u>側柏散</u></p>
<p>治孩子風熱。</p>
<p>側柏　鬱金　天麻（酒浸一宿）　乾蠍　天南星　地黃（去土）　子芩　大黃（各半兩）</p>
<p>上為末，治風及驚，溫酒下。退熱，每夜熱水下半錢。</p>
<p><u>柴胡飲子</u></p>
<p>治小兒行遲，小兒自小傷抱，腳纖細無力，行止不得。或骨熱疳癆，肌肉消瘦。</p>
<p>柴胡　鱉甲（米醋塗炙）　知母　桔梗　枳殼（麩炒，去瓤）　玄參　升麻</p>
<p>上藥等分並細銼，每日煎時，三歲以下，取藥半兩，水五合，煎二合去滓，分兩服，空心食前、後各一服。忌毒物。飲後用澡浴方。</p>
<p><u>澡浴方</u></p>
<p>苦參　茯苓皮　蒼朮　桑白皮　白礬（各半兩）　蔥白（少許）</p>
<p>上藥剉細，每浴時取一兩，沸水二升，浸藥後通溫，與兒浴之。避風於溫處妙。</p>
<p><u>又方</u></p>
<p>治小兒數歲不能行。</p>
<p>取葬家未開戶，盜其飯食來以哺之，不過三日便起行，勿令人知。</p>
<p>《顱囟經》二卷，不著撰人姓名，考歷代史志，自唐《藝文志》已上，皆不載其名，至宋《藝文志》始有師巫《顱囟經》二卷。近世別無傳本，惟《永樂大典》內載有此書，並載無名氏序文一篇，稱王母金文黃帝得之昇天，秘藏金匱，名曰內經，百姓莫可見之，後穆王賢士師巫，於崆峒山得而釋之云云。宋志所題師巫與序文相合，殆即是本。又宋史《方技傳》云：「錢乙始以《顱囟經》著名，至京師視長公主女疾，授翰林醫學。」按《郡齋讀書志》有《錢氏小兒方》八卷，稱乙最工療嬰孺病。蓋乙著名幼科，其原實出於《顱囟經》矣。此經疑唐末人所作，其曰師巫，蓋本於《黃帝內傳》。而《內經》第七卷，王冰注亦有師氏藏之一語，故託名師巫，以神其說耳。其曰《顱囟經》者，按《說文》顱，頊顱，首骨，從頁盧聲。囟，頭會腦蓋也，象形。𦞤或從肉宰，<img class="字" src="_files/001.svg" alt="囟">古文囟字，《唐韻》囟，先進切，今作囟者，俗體字也。又《說文》云，兒，孺子也。從兒，象小兒頭囟未合。此蓋以兒之初生顱囟未合，證治不同，故取以名其書歟。首論脈候至數，次論受病之由，與療救之術，皆深中肯綮。又論火丹證治，分別十五名目，皆發前人之所未言。其雜證所列，亦多秘方，要必別有所傳耳。但沉薶已久，今幸四庫全書館，從《永樂大典》所載，裒輯成書，依《宋志》舊目，析為二卷。鱣多方托友，亟錄以歸，藏諸書閣，倘得好事者付梓，以廣其傳，則誠求保赤，其利甚溥，不獨為是書幸也。</p>
<p><u>乾隆五十三年三月海寧陳鱣識</u></p>
