<header data-type="book">
<h1>葉天氏醫案</h1>
</header>

<h1>陸序</h1>
<p>三家醫案者，葉天士布衣、薛生白徵君、繆宜亭進士之所作也。青囊一肩，紫書三卷，壺公術妙，獺女神奇。甘居帶下之名，自獲《肘後》之秘。變金液於六一，改銀丸於三七。丹砂玉札，待用無遺，牛溲馬勃，收藏不棄。盛以竹節，量以刀圭。赤箭劚於雲根，紅鹽拂於灶上，明珠恥其價，金鏡慚其形。杏林之樹，以董奉而益珍；橘井之泉，非蘇耽其誰鑿。遊刃恢乎，奏刀騞然，無枝經肯綮之憂，得批卻導窾之要。今雖扁盧已杳，和、緩雲遊。郭玉之針靡傳，淳意之經失授。而問秘書於金匱，鼠跡猶存；抄禁方於龍宮，蠹蝕未盡。倘不搜之石室，鐫以玉版，則桃膠莫問，金漿遂漓。安能喚三折之肱，起一抔之土，續已斷之琴絃，補久亡之笙、詩乎？此鶯湖吳子音先生所以有合刻之選也。</p>
<p>先生以民胞為懷，婆心救世。赤餅胸納，青芝手採，五行精理，六氣辨淫。心源接俞跗之傳，意學探允宗之妙。歲活人以萬計，日捫心無一疵。固已，嚴州道上爭頌桐君，成都市中惟尋韓伯矣。乃當夫春雨初過，藥苗微香，花拂簾垂，茗熟爐沸。茶煙裊於帳後，硯云起於池中。簟滑甌甘，窗疏幾淨。爰翻玉軸，檢牙籤，考陰陽之和，按升沉之度。攻必腠理，位必君臣。總思邈之《千金》，資葛洪之萬卷，莫不明析蟲翼，細察蚊睫。著解顱理腦之效，顯滌胃湔腸之能。洵可以壽諸棗梨，觀其草木焉。</p>
<p>今夫秘術不宣者，庸醫之窄量也；著書行世者，良醫之苦心也。設或篋藏內典，枕貯《靈樞》，竊巫彭之制而號為己能，抱岐伯之書而矜為獨得，則春風已歇，蘭草孤芳，抱朴虛傳，簡文空勸，竟沒飛仙之跡，難言妙道之公。乃先生則玉字親編，金針暗度，潛消沴佉廣被太和，其心可不謂美哉？其得於是乎溥矣！</p>
<p>長春少有痼疾，長習微疴，藥性粗諳，方書漸熟。命含毫而撰序，遂濡筆而成章。嗟拙陋之無文，恐揄揚之未善。神君活我，醫者原存割股之心；賢士知余，狂夫難療看花之癖。</p>
<p><u>道光辛卯九月既望愚侄烏程陸長春瓣香氏謹撰</u></p>

<h1>姚序</h1>
<p>余奉命視學江左，按臨蘇屬，蘇屬人文淵藪。校士之暇，留心博訪。震澤吳生金壽，以所纂《三家醫案》請序於余。三家者，葉天士、薛生白、繆宜亭三先生也。三先生皆吳中往哲，素聞其治病之神，如磁引針，如鼓應桴。今閱其方案，靈機活潑，議論精醇，誠非學有根源，不克臻此超詣。然非吳生拾遺補缺，匯萃成編，財當日斟今酌古，殊途同歸之理，何由觀其會通？余故心折三先生，而並以此多吳生也。</p>
<p>吳生博學好古，工詩，善六法，兼通醫理，為吳郡張容庭入室弟子。容庭者，繼三家而起者也。生於醫，固無俟於余言，而余竊有一言為生進者。蓋醫之道，下流為藝，上通於儒。軒歧以來，《內經》尚矣，而後賢輩出，代有成書。要其旨，虛實以質異，情性以因感，風氣以變生。所謂窮陰陽升降之微，悉運會轉移之故，五行盡其變，五土異其宜，實足與天地權生息之機，為國家培太平之本，醫之學不亦大哉！</p>
<p>余望吳生，能近守師承，遠宗前哲，功深養到，實至名歸。有以傳三先生之書，必有以傳三先生之學，則此集其蒿矢焉耳。故於請序也書以勖之。並囑其持示容庭，其不以使者之言為河漢否？</p>
<p><u>道光紀元歲次辛巳十月既望賜進士及弟</u></p>
<p>誥授光祿大夫南書房行走戶部左侍郎</p>
<p>提督江蘇全省學政加三級歸安姚文田撰</p>

<h1>附刊書札</h1>
<p>自親雅範，若飲醇醪。別來時憶清芬，不啻東野雲龍之感。緬懷足下，遠溯靈蘭，近搜雜著，特開生民之壽域，實為濟世之慈航。弟於斯道，交情頗廣，未嘗有究心如足下者，欽佩之至。茲於夢琴仁弟處，接奉朵雲，極承綺注，垂愛殷拳，深銘五內，並荷惠及瑤章。過獎太甚，益覺汗顏。鄙人自愧才疏，碌碌奔走三十年來，愁長鬢絲，皮寬腰帶。身如蕉而破碎，肘生柳以支離。燕影萍蹤，依然故我，不免為時光所笑人也。拙著《瘟疫》一書，成於倉猝，筆墨荒蕪，豈堪行世？因承不棄，故敢布鼓於雷門。倘足下必欲付之梓人，務求深加斧政，去其瑕疵。集中尚有紕繆及字畫未真處，另呈裁正。承錄校刻姓氏，得叨附驥，不勝欣幸。夢琴亦囑謝謝。</p>
<p><u>平湖陸增秋山</u></p>
<p>執別逾歲，箋繪曠鬲，離逖之感，驅役魂夢，朗月照膽，清風吹懷，欽向靡涘，伏維足下，業隆伯休，劬學著書。蓄之有素，救弊補編，一歸於正方。今耳塞豆者，何　語此，每與秋山兄言而嘆息。足下尋墜緒之茫茫，獨旁搜而遠紹，作中流之砥柱，回既倒之狂瀾。是以觸處生春，頌聲遍地，所謂無一夫不被澤者也。</p>
<p>昨承托致秋山，尺素領悉。靈蘭秘冊，盡付剞劂。活人壽世，流澤何窮？恕輩指南有針，實堪領教。惟蒙以校刻之中，叨廁賤名，漸軟實甚。拳拳盛心，何以克當，感謝奚似。倘刷印後，乞早賜讀是幸。景星慶雲，先睹為快。</p>
<p><u>同里陳希恕夢琴</u></p>
<p>銘奉吾師命校訂《三家醫案》一書，師於是書，幾經歲月，隨在蒐羅，輯往哲之良方，備臨時之寶鑑，案取揣摩，方留繩墨，斟今不致泥古，酌古即可通今。於以公諸同好，不吝青囊，授之吾徒，遙傳丹灶。此濟世之盛心，指迷之寶筏。師近日又取徐靈胎所批《臨證指南》，重為刪訂。因華氏所刻，門類雖分，精粗交雜。爰復掃除繁蕪，務歸的當。庶使妙義顯呈，金針暗度。繼往開來，未始非吾師茲選啟其端也。今於醫案告成，附識數語，以續請剞劂云。</p>
<p><u>道光壬辰夏四月門人凌銘志於暖翠樓。</u></p>

<h1>葉天士醫案</h1>
<p>粵東地卑多濕，陽氣多泄。宦遊十載，恰已五旬，中年二氣不及壯盛堅固。眩暈汗出，乃陽不潛藏，變化內風，擾動虛靈所致。《內經》臟象謂：腎為根本，左右有二。蓋一陰一陽，互相交紐，水中有火，為生生化育。惟藏蓄不露，斯永年無病。而肝為腎子，母氣既衰，水不生木。肝屬風臟，內風乘龍雷相火，迅速飛騰，陡升莫制，每慮僕中之累。是皆內因之症。自述熱起脊背，直至巔頂。清之補之無效，未究臟陰內乏，陽氣獨升之旨。古人以腎臟內寓真陽，非溫不納；肝臟內寄相火，非清不寧。用藥之法，填實精氣以固其下，佐鹹味以達之，兼氣重以鎮之，介類以潛之，酸味以收之，復入滋陰以涼肝，引之導之，浮陽內風，勿令鼓動。</p>
<p>熟地　北五味子　萸肉　磁石　青鹽　瑣陽　龜板　茯神　湘蓮　天門冬</p>
<p>豬脊筋搗爛，和密丸，熱酒送。</p>
<p>經漏百日，淋帶不止，是沖、任、督、帶、奇經諸脈不能固攝，病在下焦。脈左關沉微而緩，右部浮。陽升於上，陰虧於下。然先以血凝成塊，決非血熱妄行。況食減味少，胃氣孱憊，補中益氣，僅升脾營，焉得藥到病所？滋陰堵塞沉膩，與胃衰少谷相背。考古崩漏不止，先用《局方》震靈丹，直達沖、任以固之。繼用人參湯、震靈丹續其生氣，得效再為進商。</p>
<p>震靈丹。</p>
<p>診脈百至，數促而芤。勞損數年，不復寒熱。大汗泄越，將及半載。臥枕嗽甚，起坐少緩。穀食大減，大便不實。由下焦損傷，衝脈之氣震動，諸脈皆逆。醫投清熱理肺，降氣消痰，益令胃氣戕害。昔越人有下損過脾不治之訓。此寒熱汗出，二氣不交所致，秋半之氣不應天氣，肅降乖離，已見一班。生陽不發，入冬可慮。急固散越之陽，望其寒熱汗出，稍緩再商。</p>
<p>救逆湯去白朮，加人參。</p>
<p>稚年純陽體質，熱症最多。病偏右胸高，呼氣不利，肺氣不能清肅。熱鬱內蒸，逆傳膻中，致天君震動，狀若癇症。夫肺主衛，心主營，二氣循環於肺胃脈中。苟營衛失和，越日觸遇，乃發。翁仲仁謂扶肚抬胸，為肺熱壅塞。然不及周歲，未受穀食涵養，藏府柔薄，一切苦寒沉降及膩滯陰藥，俱在禁例。且肺位最高，逆行心胞絡間，仍從上治，抱持勿臥，令上氣下行為順，可使營衛兩和。</p>
<p>薄荷　桑葉　米仁　茯苓　鬱金　淡竹葉　鮮石菖蒲</p>
<p>再診。</p>
<p>西瓜翠衣　鮮枇杷葉　通草　茯苓　生米仁　淡竹葉</p>
<p>三診。宿熱未平，秋金燥令亦從天降，致使上氣不能全順。症見咳嗽燥逆。議清氣分之熱。</p>
<p>大沙參　麥冬　花粉　生甘草　桑葉　燈心</p>
<p>四診。視面部清竅未能爽適，顯然肺熱未能全解。議進甘寒。仿喻嘉言清燥意。</p>
<p>桑葉　麥冬　梨肉　川貝母　銀花　生甘草</p>
<p>五診。伏暑上壅，得宣通而降，頭項胸次已平。但乳食不能，少運、便溏、日有數次。思肺降之熱，必移於府。考古幼稚泄瀉，每以「四苓」為主方，不越分利和中之意。</p>
<p>四苓加廣皮、木瓜、生穀芽。</p>
<p>據述產育頻多，產後兩年，經水至今未來。此為病根，已屬下元陰虧。長夏初患泄瀉，必天雨地濕，潮霧穢濁，氣由口鼻吸受。原非發散消攻可去，只因體質甚薄，致穢濁蔓延，充布三焦。上則咳痰、不飢，下則二便澀少。非表有風寒，故無寒熱見症。然氣分壅塞，津化濁痰，入夜渴飲，胃汁消乏，求助於水，是本虛標實之病。夫肺位最高，與大腸相表裡，清肅不行，小便不利矣。</p>
<p>蘆根　米仁　通草　茯苓　桑葉　西瓜翠衣</p>
<p>衝入白蔻末。</p>
<p>再診。前議虛不受補，皆因夏令伏邪著於氣分。夫肺主一身之氣，既因氣阻，清肅不行，諸經不能流暢，三焦悉被其蒙。前言攻邪不效，蓋客邪由吸而受，與風寒感冒不同。乃氤氳虛空，聚則為殃耳。故取淡滲、無味、氣薄之品，僅通其上，勿動中下，俾虛無傷，伏氣可去；稍佐辛香，非燥也，仿闢穢之義。</p>
<p>經霜桑葉　鮮枇杷葉　茯苓　蔻仁　米仁　蘆根</p>
<p>脈小右弦，呼吸不利，喉中有聲。入夜神迷昏倦，少腹微脹，二便不爽。自言筋骨如針刺，身重難以轉側。右環跳筋縱，不能伸屈。此皆暴寒入內，周行上下，陽氣痹塞。且頻年交冬痰嗽，天暖自安。老年腎真衰乏少藏納之司。水液化痰上泛、寒中少陰，則太陽膀胱之氣，無以上承而流通宣化，開合失度，樞機悉阻。濁氣升，痰飲逆，最忌喘急神昏。若用發散墜降，恐致傷陽劫陰。議進仲景小青龍法，乃太陽表中之裡。通營衛，不耗其陽；開痰飲，不泄其氣，仍有收肺逆，通膀胱之義。</p>
<p>小青龍湯。</p>
<p>驚自外觸，恐自內起。《內經》論驚必傷肝、恐則傷腎。丹溪謂上升之氣多從肝出，謂厥陽暴升莫制，則氣塞於上。陰不上承，即天地不能交泰而為否塞。至於夢擾筋縮，乃精氣不能護神，神無所依。用藥當鎮其怯，益其虛，漸引道以致二氣之交合，是為醫之能事。</p>
<p>妙香散。</p>
<p>尾閭尻骨先痛，繼以溲溺淋閉，兼有血瘀。夫督脈部位，隸於太陽脈絡。氣墜頻溺、點滴不爽，分利清熱愈痛。古賢每以柔劑溫藥，升任督之氣。按經旨以治病，諒無誤矣。</p>
<p>鹿茸　當歸頭　淡蓯蓉　巴戟天　枸杞　沙蒺藜</p>
<p>脘下脹及少腹，疏肝平胃，不應；腎氣，加辛香，又不應。食物仍進，二便仍利。病既非停著有形之滯，自屬陽微氣結。議與通陽潤劑。</p>
<p>阿魏　麝香</p>
<p>丸服。</p>
<p>新產不滿百日，天暑，汗出，氣泄；加以澡浴湯蒸，更助開發。陽浮上升，陰弱莫制，遂喉癢咳逆，牽連左脅，及氣街背部皆痛。蓋產後肝血未充，腎液未足，奇經諸脈悉皆怯弱，陰虧陽熾，血不能榮養筋脈。法當味厚質靜，流護至陰之臟，兼溫奇經。仿仲景阿膠雞子黃湯。</p>
<p>阿膠　生地　雞子黃　白芍　穭豆皮　石決明</p>
<p>再診。考足厥陰肝經，過胃貫膈，上循喉嚨。因肝陰少藏，陽氣有升無降。每交暮夜，咳甚如噦。戍亥乃肝陰旺時。肝陽擾胃則陽明脈衰，四肢倦怠，面色青晦。陽化內風，掀越鼓動，為肌浮偏腫。心無液養，似嘈非嘈，似痛非痛。熱釀涎沫，吐出復聚。余不以咳嗽為治，急於流護至陰，靜制風陽內鼓，夜分更以胃藥助之。</p>
<p>午服：</p>
<p>雞子黃　白芍　枸杞子　阿膠　甘菊　炙草</p>
<p>暮服：</p>
<p>人參　南棗　秋石</p>
<p>據述久有胃痛，當年因痛吐蛔，服資生丸，消補相投；用八味丸，溫潤不合。憑脈論症，向時隨發隨愈。今病發一月，痛止，不納，口味酸濁。假寐未久，忽躁熱，頭汗淋漓，口不渴飲。凡肝痛，必犯胃府，且攻滌寒熱等藥，必先入胃以分布。藥不對病，更傷胃氣。胃司九竅，清濁既亂於中，焉有下行為順之理？上下不宣，狀如關格，但關格乃陰枯陽結，聖賢尤以為難。今是胃傷困乏，清陽不司旋運，斯為異岐。不必以寒之不應而投熱，但主傷在無形，必圖清氣宣通，則為善治程法。金匱大半夏湯。</p>
<p>大半夏湯。</p>
<p>診脈左數微弦，寸、尺、關虛數。閱五年前，病原左脅映背脹痛，不能臥席。曾吐瘀血、凝塊、紫色。顯然肝鬱成熱，熱迫氣逆血瘀，雖經調理全愈，而體質中肝陰不充，肝陽易動。凡人身之氣，左升主肝，右降主肺。今升多降少，陰不和陽。胃中津液，乏上供涵肺之用。此燥癢咳嗆，吐出水沫，合乎經旨：肝病吐涎沫矣。肝木必犯胃上，納穀最少而肢軟少力，非嗽藥可以愈病。此皆肝陽逆乘，實系肝陰不足。仲景云：見肝之病，先理脾胃。俾土厚不為木克，原有生金功能。據述凡食雞子，病必加劇，則知呆滯凝澀之藥，皆與病體未合。</p>
<p>北沙參　生扁豆　麥冬　玉竹　桑葉　生甘草　蔗漿</p>
<p>病已十餘日，身尚躁熱，舌苔黏膩，神呆目定，脈剛而數，煩躁囈語。此暑濕久伏，與時氣之穢邪凝合，釀成膠膩之痰，閉塞清明之府，神情迷昧，胃家濁液，蒸遏不宣。藥食甘味，必蛔厥上冒。然《內經》有：濕位之下，燥氣乘之，是以從之，濕轉為燥。若無濕痰之潮氣上蒸，舌苔早已燥刺矣。今先滋液，以潔烈焰之燔。</p>
<p>鮮生地　麥冬　烏梅　蔗漿　銀花露　羚羊角　蚌水</p>
<p>再診。面垢，色白，渴飲，氣短如喘，自利。是穢濁氣入口鼻，與水穀之氣互相混擾。濕氣阻窒，氤氳內蒸，三焦皆受。胸背肢節有晦暗斑紋。穢與氣血膠固心絡，為邪薰灼。神昏囈語。手經蔓延。疫邪不與傷寒同例，法當芳香辟邪，參以解毒，必得不為濕穢蒙閉，可免痙厥之害。</p>
<p>石菖蒲汁　白蔻仁　犀尖　小青皮　連翹心　金銀花　六一散　金汁　至寶丹</p>
<p>三診。邪陷複利，傷及厥陰。症見氣上撞心，飢不能食，乾嘔腹痛，全是肝病見端。肝為至陰之藏，相火內寄。仲聖治法，不用純剛之劑，以肝為剛臟也。今正交土旺之時，木火為仇。五日內未為穩當，宜慎之。</p>
<p>人參　淡吳萸　當歸　白芍　秦皮　炒烏梅</p>
<p>脈沉而微，沉為裡寒，微為無陽。舌白似粉，瀉起口渴。身體臥著，其痛甚厲。交夏陰氣在內，其病日加。寅辰少陽升動，少緩。少腹至陰部位，濁陰凝聚，是為疝瘕。若讀書明理之醫，凡陰邪盤踞，必以陽藥通之，歸、地列於四物湯，護持血液。雖佐熱劑，反與陰邪樹幟。當以純剛藥，直走濁陰凝結之處。調攝非片言可盡也。</p>
<p>川附子　黑川烏　吳茱萸　乾薑　豬膽汁</p>
<p>再診。陰寒盤踞少腹，非純陽剛劑直入堅冰之地，陰凝不解。此如亞夫之師從天而降也。醫易腎氣湯，陰多陽少，立見病加，反至不食，藥不對症。仿通脈四逆湯法。</p>
<p>附子　乾薑　豬膽汁</p>
<p>五旬有四，陽氣日薄。陽明脈絡空乏，不能束筋骨以流利機關。肩痛、肢麻，頭目如蒙，行動痿弱無力。此下虛上實，絡熱內風沸起，當入夏陽升為甚。滲濕利痰，必不應病。議清營熱，以泄內風。</p>
<p>犀角　鮮生地　元參　連翹　桑葉　丹皮　天麻　鉤藤</p>
<p>下體痿躄，先有遺泄濕瘍。頻進滲利，陰陽更傷。雖有參、耆、術養脾益氣，未能救下。即如長冷陽微，飯後吐食，乃胃陽頓衰，應乎衛外失職。但下焦之病，都屬精血受傷。兩投溫通柔劑，以腎惡燥，久病宜通任督，通攝兼施，亦與古賢四斤、健步諸法互參。至於胃藥，必須另用。夫胃府主乎氣，氣得下行為順。東恆有升陽益胃之條，似乎相悖，然芩、連非苦降之氣乎？凡吐後一二日，停止下焦血分藥，即用扶陽理胃，二日俾中下兩固。經旨謂陽明之脈，束筋骨以流利機關，本病即有合矣。</p>
<p>鹿茸　歸身　柏子霜　茯苓　蓯蓉　巴戟補　骨脂　川石斛　牛膝　枸杞子</p>
<p>吐後間服大半夏湯加乾薑、薑汁。</p>
<p>再診。長夏濕熱，經脈流行氣鈍，兼以下元絡脈已虛，痿弱不耐步趨，常似酸楚，大便或結或溏，都屬肝腎為病。然益下必佐宣通脈絡，乃正治之法。恐夏季後濕熱還擾，預為防理。</p>
<p>鹿角霜　生茅朮　茯苓　蓯蓉　歸身　熟地　桑椹子　巴戟　遠志　茴香　酒蒸金毛狗脊</p>
<p>水熬膏。</p>
<p>三診。痿躄在下，肝腎居多。但素飲必有濕熱，熱瘀濕滯，氣血不行，筋縮，肌肉不仁，體質重著不移，無非濕邪之深沉也。若論陽虛，不該大發瘡痍。但病久不可速攻，莫計效遲，方可愈也。</p>
<p>細生地　歸身　黃柏　萆薢　蓯蓉　川斛　牛膝　蒺藜</p>
<p>四診。寢食如常，脈沉而緩，獨兩腿內外肉脫麻木。年逾五旬，陽脈漸衰，蹻維不用事，非三氣雜感也。溫通以佐脈絡之流暢，仿古聖四金剛之屬。</p>
<p>蓯蓉　牛膝　茯苓　萆薢　木瓜　枸杞子　蒺藜</p>
<p>金毛狗脊膏丸。</p>
<p>經云：煩勞則張，精絕，闢積於夏，令人煎厥。夫勞動陽氣弛張，則精氣不充，留戀其陽，雖有若無，故曰絕，積之既久，逢夏季陽氣開泄，五志火動，內風以生。若煎厥，治法以清心益腎，使肝膽相火不致暴起，內風靜熄，不為暈厥，然必薄味靜養為穩。</p>
<p>細生地　連翹　知母　元參　生白芍　竹葉</p>
<p>腎厥由腰脊而升，發時手足厥冷，口吐涎沫，喉如刀刺。蓋足少陰經脈上循喉嚨，挾舌本，陰濁自下犯上，必循經而至。仿許學士椒附湯，通陽以泄濁陰為主。</p>
<p>炮附子　淡乾薑　胡蘆巴　川椒　半夏　茯苓</p>
<p>薑汁泛丸。</p>
<p>臍上心下熱熾，喉嚨間陳腐氣，遂神昏撲厥，經時汗出而醒，口湧血沫，乃膻中熱壅，以致心竅受蒙。若非芳香清透，不能宣通絡中瘀痹。</p>
<p>犀角　茯神　天竺黃　麝香　丹參　菖蒲　鬱金　冰片</p>
<p>各生研末，赤豆皮煎湯，泛丸，竹葉湯送。</p>
<p>暑由上受，先入肺絡。日期漸多，氣分熱邪逆傳入營，遂逼入心胞絡中，神迷欲躁，舌音短縮，手定牽引。乃暑熱流陷，勢將發痙。熱閉在裡，肢體反不發熱，熱邪內閉，外脫豈非至危至急？考古人方法，清絡熱必兼芳香開里竅，以清神識。若重藥攻邪，直走腸胃，與胞絡無干涉也。</p>
<p>犀角　鮮生地　元參　銀花　石菖蒲</p>
<p>化至寶丹。</p>
<p>向來久咳傷肺，更值雨潮感邪，但熱不寒，是為癉瘧。仲聖云：消爍肌肉，當以飲食消息之，在乎救胃以涵肺。醫知是理否？</p>
<p>竹葉　麥冬　連翹　甘草　梨皮　青蔗汁</p>
<p>瘧得汗不解，近來竟夜汗出，且胸痞、不飢、形瘦、脈大、便秘。顯然陰虛體質，瘧邪爍液，致清陽痞結脘中。議以柔劑存陰卻邪。</p>
<p>竹捲心　辰砂益元散　生地　麥冬　知母</p>
<p>脾經瘧邪，必由四末擾中。仲景論太陰經幾條，深戒攻下，謂脾為孤臟，體陰而用陽，喜暖而惡寒。不飢、痞脹、噯氣，陽傷則運動無權，滯濁瀰漫矣。昔賢制方，陽傷取藥之氣，陰傷取藥之味。奈何不究病之陰陽，不分藥之氣味，便窒則攻下，痞悶則開泄？藥不對病，脾胃受傷，數年沉痼。如脾胃，論莫詳於東垣，苟能玩讀，焉有此等混治？</p>
<p>炒半夏　淡吳萸　生益智　蓽撥　乾薑　茯苓</p>
<p>苦辛過服，大瀉心陽，心虛熱收於裡。三瘧之來，心神迷惑，久延恐成痼症。考諸《金匱》，仲景每以蜀漆散為牝瘧治法。</p>
<p>雲母石　蜀漆　生龍骨</p>
<p>為末開水調服二錢。</p>
<p>下焦精虧，瘧邪遂入少陰，當其發作從背起，乃太陽與少陰表裡相應也。陰邪得汗不解，托邪固是，但氣易泄。薑、附純剛，又恐劫陰矣。</p>
<p>人參　鹿茸　桂枝　細辛　杞子炭　歸身炭　生薑</p>
<p>脈微而遲，色衰萎黃。凡陽氣不足，久利久瀉，窮必傷腎。今浮腫漸起目下，是水失火而敗，若非暖下，徒見泄瀉有紅，為脾胃濕熱，必至中滿敗壞。</p>
<p>熟地炭　淡附子　茯苓　車前子　生茅朮　乾薑</p>
<p>脈左弦右浮澀，始由脘痛貫脅，繼則腹大高凸，納食減少，二便艱澀不爽。此乃有年操持，縈慮太甚，肝木怫鬱，脾土自困，清濁混淆，脹勢乃成。蓋臟真日漓，府陽不運。考古治脹名家，以通陽為務。若滋陰柔藥微加桂、附，凝陰沍濁，豈是良法？議用局方禹餘糧丸，暖其水臟，攻其穢濁，俟其小效；兼進通陽剛補，是為虛症內傷脹滿治法。至於攻瀉劫奪，都為有形而設，與氣傷之病不同也。</p>
<p>禹餘糧丸。</p>
<p>脈緩弱，脘中痛脹，嘔湧清涎，是脾胃陽微，得之積勞。午後病甚，陽不用事也。大凡脾陽宣通則運，溫補極是；而守中及膩滯，皆非通府，勿佐用之。</p>
<p>人參　半夏　淡乾薑　生益智　茯苓　生薑汁</p>
<p>大便不通，間服半硫丸五分。</p>
<p>痔血久下，肌肉萎黃，乃血脫氣餒，漸加喘促浮腫，再延腹脹，二便不通。此症臟陰有寒，府陽有熱。詳於《金匱》谷疸篇中，極難調治。</p>
<p>人參　白朮　茯苓　智仁　菟絲　木瓜　廣皮</p>
<p>經營不遂，情懷怫鬱，少火化為壯火，風木挾陽上巔，眩暈不寐。是陽不入陰，非陰虛症也。如果純虛，豈有由春及秋仍能納食驅馳？今忽然中脘噎阻，由藥傷胃口，致胃陽上逆使然。溫膽湯加減之。</p>
<p>陳皮　茯苓　丹皮　梔皮　半夏　枳實　桑葉　竹茹</p>
<p>濕溫長夏最多，濕熱鬱蒸之氣由口鼻而入。上焦先病，漸布中下。河間所謂三焦病也，治與風寒食積迥異。仲景云：濕家不可發汗，汗之則痙。濕本陰邪，其中人也，則傷陽；汗則陽易泄越而邪留不解，濕蒸熱鬱，發現為黃，薰蒸氣墜之間，正是罨曲之比。斯時病全在氣分，連翹赤小豆湯可以奏效。今經一月，邪彌三焦，自耳前後，左腫及右，癰瘍大發。夫癰者壅也。不惟氣滯，血亦阻塞，蒸而為膿。穀食不思，陡然肉消殆盡，胃氣索然矣。商之治法，補則助壅，清則垂脫。前輩成法，一無可遵。因思濕熱穢濁結於頭，而清竅議輕可去實之法，選芳香氣味，使胃無所苦，或者壅遏得宣。少進漿粥，便是進步。經云：從上病者治其上，《靈樞》云：上焦如霧，非輕揚芳香之氣，何以開之。</p>
<p>青菊葉　荷葉邊　金銀花　綠豆皮　馬兜鈴　連翹　射干</p>
<p>煎好露一宿，臨服加金汁一小杯。</p>
<p>身腴體質，適值過勞，陽氣受傷，嘔吐食物，身熱而無頭痛，已非外感風寒；間日煩躁渴飲，唇焦舌黑。是內伏熱氣，由募原以流布三焦，亦如瘧邪之分爭營衛者然。然積勞既久，伏邪客病，脈來小緩，按之不鼓，可為徵驗。且兩便頗通，略能納穀，焉能停聚積滯？仲景以單熱無寒之症，不出方藥，但以飲食消息之。後賢參擬甘寒滋養胃陰，其熱自解。</p>
<p>竹葉　花粉　麥冬　連翹　生地　杏仁　蔗漿</p>
<p>寅卯少陽內動，絡中血溢，寒熱嘔逆，驟然泄瀉，不能臥。蓋陽木必犯陰土，膽汁無藏，少寐多寐，土臟被克，食減無味。宜補上疏木。</p>
<p>人參　山藥　炙草　白朮　扁豆　丹皮</p>
<p>虛損泄瀉，用異功理中，乃補脾胃以煦其陽氣方法，無如失血遺精，金水久虧，陰乏上承，咽喉失音，而瀉仍不已。長夏吸受暑濕之氣，與身中浮越之氣互為鬱蒸，遂起疳蝕。氣阻則妨納食，是勞損為本而雜以暑濕，純補決不應病。與輕淡氣薄之劑，先清上焦，後議補益。</p>
<p>蘆根　馬兜鈴　通草　米仁　滑石　西瓜翠衣</p>
<p>瘦人陰虛，熱邪易入於陰，病後遺精，皆陰弱不固攝也。泄瀉在夏秋間，是暑濕內浸，其間有瓜果生冷，不能速行，是中寒下利，什中僅一。況此病因，遺泄患瘧，病人自認為虛。醫者迎合，以致邪無出路，輾轉內攻加劇。夫患房勞而患客邪，不過比平常較勝，未必是陰病。近代名賢，訛傳陰症傷人比比。總之遺泄陰虧與利後陰傷，均非剛劑所宜，當擬柔劑扶精氣。</p>
<p>人參　山藥　川斛　芡實　茯苓　生地炭</p>
<p>七年沉痼，心惕熱迷，咬牙嚼舌，陰火失守，陽乃鴟張。前方理厥陰、陽明，以和陽主治；繼方以鹹味純陰，填水源以生木。病究竟未能卻。自述每每遺泄，其病隨發。春夏兩時發病甚頻，況五更寅卯，少陽氣振，陽冒病來，更兼操持不已。《內經》膽藏汁三合，腎藏液三合。精遺則腎液少，操勞則膽汁虧，欲望春陽不動，安可得耶？</p>
<p>熟地　肉蓯蓉　五味子　龍骨　茯苓　左牡蠣　石菖蒲　遠志　川斛　山萸肉</p>
<p>脈弦數右大，舌絳色面微浮，咳嘔上逆，心中熱，腹中氣撐，臥側著右，暮夜內外皆熱。自五月起，病百日不曉飢飽。病因憂愁嗔怒而起，諸氣交逆，少火化為壯火，煩熱不熄。五液皆涸，內風煽動，亦屬陽化，見症肝病，十之八九。秋金主候，木尚不和。日潮加劇，病屬郁勞，難以久延。議鹹苦清養厥陰之陰以和陽。</p>
<p>阿膠　川連　生地　糯米　白芍　雞子黃</p>
<p>再診。脈百至、右弦數、左細微，寒熱無汗，喝飲嘔逆；病中咯血，經水反多，邪熱入陰，迫血妄行。平日奇經多病，已屬內虛。故邪乘虛陷，竟屬厥陰之熱熾，以犯陽明；故為嘔為悶，目胞紫暗羞明，咽中窒塞，頭痛。由厥陰熱邪通胃貫膈，上及面目諸竅。先寒後熱，飢不能食，消渴，氣上衝心嘔噦，仲景皆例厥陰篇中。此伏邪在至陰之中，必熬至枯涸而後已。表之則傷陽，攻之則劫陰。惟鹹味直走陰分，參入苦寒以清伏熱。清邪之中，仍護陰氣，俾邪退一分，便存得一分之陰，望其少蘇。</p>
<p>阿膠　雞子黃　生地　白芍　黃連　黃柏</p>
<p>右脈平和，左寸關絃動甚銳，面色帶赤，體質清癯，得木火之形。稟多動之性，加以操持煩慮，五志之陽無有不熾；宜乎寤多寐少，內風不熄，眩暈自生。經云：陽氣下入陰中，陰蹻滿乃得寐。謀慮不決，則火動傷陰，肝陽獨行，乏陰和協而魂不藏，則寐不安。總以益陰、和陽為主治，議加味補心丹兼和肝陽。</p>
<p>人參　生地　元參　桔梗　川連　茯神　天冬　丹參　棗仁　遠志　羚羊角　琥珀　麥冬　白芍　杏仁　石菖蒲</p>
<p>煉蜜丸。</p>
<p>五日前脹滿已在脘間，兼中下寒冷不暖。議參、附、川烏，驅陰寒之凝結，非補虛方也。十九日陰雨天冷，正陽氣不生之象。況日久胃氣已疲，腥濁入胃即吐，確是陽微見症。王先生主通陽極妙。若得陽氣通調，何患水濕不去？</p>
<p>人參　熟川附子　大茴香　生淡乾薑　茯苓　川楝子　川椒</p>
<p>和入童便杯許。</p>
<p>脈弦數，腹膨便泄，目自淚出。經來身體掣痛，今秋冬兩月不至。據說兩年患病，醫藥不效。緣情懷抑鬱，熱自內起，厥陰風木化火，陽明侵削日迫，氣血內蒸，血海無貯，漸漸延及乾血勞症。凡調經諸法，須論在氣在血。今久鬱熱勝，經阻有年，正氣已虧；補藥固宜，而氣血偏滯，非徒補可以治病。議厥陰、陽明同治，酸苦泄熱為先，和補胃氣為佐。</p>
<p>吳茱萸　川連　胡連　川楝子　烏梅　人參　白芍　延胡索　雲苓　香附　南棗</p>
<p>益母草膏同烏梅肉搗丸。</p>
<p>痰飲乃濁陰所化，阻遏陽氣，不入於陰，陰蹻空，夜不熟寐。《靈樞經》用半夏秫米湯，謂通陽交陰，飲邪不聚。「天王補心丹」一派寒涼陰藥，與濁陰樹幟。中年必以護陽為要，即《金匱》所言必以溫藥和之也。</p>
<p>半夏　秫米　茯苓</p>
<p>少年面色青黃，脈小無神，自幼頻有嘔吐之症，明是飲食寒暄不調，以致中氣不足。咳嗽非外感，不宜疏泄。小建中湯主之。</p>
<p>小建中湯。</p>
<p>氣鬱單脹，中空無物，臥則氣塞，濁飲上衝，漸有不得安臥之象。問其起病之由，多是惱怒動肝，為肝木鬱傷脾土。脾失健運，氣阻成脹。延及百日，正氣愈虛，濁更堅凝，逆走攻肺，上咳氣逆欲喘。脘中蘊熱，咳出膿血。病根固在脾，今已傳及肺部。丹溪曰：養金制木，脾無賊邪之害；滋陰制火，肺得清化之權。目下至要，務在順氣，胸中開爽，寢食不廢，便可從容論治。不然，春分節近，更屬難調矣。宜先用通上焦法。</p>
<p>紫菀　杏仁　蔞皮　鬱金　厚朴　大腹皮　桑皮　茯苓皮　黑山梔</p>
<p>兩劑後，早服腎氣丸，晚服四君子湯。</p>
<p>陰氣先傷，陽氣獨發，但熱無寒，是為疸瘧。舌乾渴飲，咳嗽，暑邪尚在肺胃。如飢不嗜食，乃熱邪不殺穀也。先用玉女煎存陰，消暑以和肺胃。</p>
<p>玉女煎。</p>
<p>再診。原方去牛膝，加竹捲心。</p>
<p>任脈、督脈分行乎身之前後。自覺熱蒸，不夢自遺，皆奇經虛也。辛溫藥頗效。六味加五味子不應，方藥僅僅達下，未能約束奇經。議用聚精固攝之法。</p>
<p>桑螵蛸　龜板　芡實　沙蒺藜　線魚膠　胡連　龍骨　金櫻子　覆盆子</p>
<p>產後陰虛陽實，熱易拂鬱。近日客邪，乃冬應寒而溫。凡羌活辛溫、柴胡擾動肝血，皆屬禁忌。謂陽明未復，再動衝陽耳。惡露變成腥水，亦是熱犯肝陰之極，液不養筋，內風必動，致面腫身痛，消渴嘔逆，自利，暮熱汗多，全是肝胃受病。諸厥皆隸厥陰，嘔不能食，厥陰之氣衝犯陽明所致。產後厥冒，厥而下利，恐其陰涸難愈。今神氣欲昏，正是衝陽上犯。治以鎮逆，佐以酸苦，泄熱調經。</p>
<p>牡蠣　烏梅　黃芩　茯苓皮　川連　鬱金　秦皮　炒山楂</p>
<p>經以腎司二便，若腎無藏液，下竅氣不運化，腸中即不能通水液之燥，水火吸消為多。議知、柏苦寒滋其水源，龜甲性潛以通其陰，人中白咸重以入下，蓯蓉鹹溫以通便，少佐肉桂化肝風以制木，是為穩當方法。</p>
<p>黃柏　知母　龜甲　肉蓯蓉　人中白　肉桂</p>
<p>蜜丸。</p>
<p>望色萎黃，少膏澤，按脈弦促而芤，納穀不旺，病已數年。每春夏陽升氣泄，偶加煩冗，情志不適，血必溢出上竅，中氣非少壯陰火相同。夫心主血，脾統血，肝藏血。臟陰內虛，陽動乃溢，常服歸脾湯，去耆、朮、木香，加白芍，以和肝脾之陰。所謂王道養正，善藥不計驟功。</p>
<p>人參　茯神　炙草　歸身　白芍　棗仁　遠志　桂圓肉</p>
<p>背痛，得按摩愈痛，吐涎沫，短氣，腹滿小腹堅，小便不通，大便自利，下身麻木，不得移動，不食不寐，煩則汗出。病機多端無縷。治成法，思冷濁竊踞，陽微不行，為痞塞之象，二氣既乖，豈可忽略。引仲景少陰例，急進通陽為要，議用白通加人尿、豬膽汁湯。</p>
<p>去須蔥白　生淡乾薑　生炮附子</p>
<p>上藥用水一盞，煎至四分濾清，加人尿一小杯，豬膽汁一枚，頻頻調和，勿令其沉於藥底。</p>
<p>再診。濁陰蔽塞，舍通陽再無別法，服白通加人尿、豬膽汁湯，脈不微續，仍三五參差，尚非穩保。議用四逆通脈方。</p>
<p>人參　淡乾薑　人尿　炮附子　豬膽汁</p>
<p>三診。症象稍減，但少腹濁陰尚踞，胃氣不蘇，猶慮反復。</p>
<p>人參　生淡乾薑　炮附子　茯苓　澤瀉</p>
<p>四診。誤用攻表傷陽，致陰邪濁氣結閉於下，少腹堅痛，二便阻澀，濁上干逆則嘔。非溫熱佐以鹹苦寒，何以直達下焦？</p>
<p>炮附子　淡乾薑　人尿　豬膽汁　蔥白頭</p>
<p>凡瘧久邪結，必成瘧母，其邪深客於陰絡，道路深遠，肌膚無汗，能食不運，便溺通調，病不在府，從腹下升逆，貫及兩脅腰中，推及八脈中病。理固有之，然立方無據。捉摸憶讀仲景，轉旋下焦痹阻例以通陽。</p>
<p>苓薑朮桂湯。</p>
<p>精未充而先泄，異日必有難狀之疾，此南齊褚尚書之言。夫精氣所以護神，既受損傷，神形衰怯，數年不得充旺。議雙補脾腎，略用通絡，舍此竟無別法。</p>
<p>黑地黃丸。痛發時用阿魏丸。</p>
<p>宿癥脘脹，似乎氣滯，從小產後失調病起，三年不愈。病傷日虛，不思納穀，經候如常，及立夏、小滿，經候不來。食下即吐，湯飲下咽，脘中脹痹，腹滿臍突。大便旬余始解。始而畏寒，令漸怕熱。嘔吐先出有形之物，繼以痰涎白沫，味必酸濁。參諸經旨，全是厥陰肝經受病，陽化內風，乘犯陽明胃土，胃不主乎順趨達腸，遂成反胃之症。治宜理肝木以安胃土，但氣逆沸騰，陽藥不能，下膈勢必隨湧。議分治方法於下。</p>
<p>左金丸鹽水煮，蒸餅和丸。</p>
<p>左金平肝，苦辛氣味，尤慮下行未速，加鹽味令其下行。宗《內經》、本草，鹹苦之味入陰，厥陽濁氣退避，胃乏中流砥柱，勢必風陽再逆。議坐鎮中宮，木火庶不乘土。服左金丸，逾二時繼用針頭代赭石，化州橘紅，飯和丸，煎大半夏湯，加薑汁送下。</p>
<p>再診。昔人云：吐中有散，謂多嘔多吐，諸氣升騰而散。《內經》以陽明經脈主束筋骨，以利機關。今為厥陰風木久侵，中虛困窮，清空潰散，致濁蒙蟠聚，不徒胸腹脹滿，腰痹肌膜亦令浮腫。左金瀉肝止嘔吐，謂肝家鬱勃上衝，大苦寒降其逆，大辛熱泄其氣。丹溪制方之義，以相火內寄於肝膽，上升之氣皆從肝出，氣有餘便是火。此非有餘，因數日不食，陽明胃土傷疲已極，中無砥柱，木橫濁攻。歷考治脹諸賢，河間分消三焦，戴人必攻六府，此皆有餘治法。今乃虛症，若呆鈍補陽，適助其脹。議通陽明，兼泄厥陰法。</p>
<p>人參　川楝子　延胡索　麻仁　茯苓　茺蔚子</p>
<p>時刻精遺，少腹脹滿，皆腎不收納，咽喉微干，火升及面，由陰不上承，虛陽浮越。上年用純陰靜藥即瀉，下損及中。今當固下。</p>
<p>熟地　山藥　茯苓　北五味　人參　芡實　湘蓮</p>
<p>人乳粉同河車、金櫻二膏為丸。</p>
<p>眼胞上下，脾腎之脈循行。倦於開合，太陰脾脈已鈍，甘補　用為宜。</p>
<p>蒸於術　枸杞子　桂圓肉　歸身　黃耆　炙草</p>
<p>脈弦右大，弦則為飲，大則胃陽已虛。緣操持縈思，積勞傷陽，致不飢不食，勉納食物不運。嗔怒，兼以夜臥不安，多寤少寐，恍惚，中心懊憹。忽爾腹鳴氣震，四肢筋骱痿弱無力。起病時晨必寒痙，足跗微冷。按是脈症有年，陽虛為本，而痰飲氣逆，因虛而聚。夫虛則生寒，實則生熱。寢食不安，將及半載，已交四之氣中。長夏濕土乘侮脾胃，慮及肌腫腹脹，故周身束筋利機。陽明胃脈，是積閱醫藥，氣血淆混，寒熱互投，不以陰陽偏著，調理宜乎不應。議通補理胃陽為主，疏肝為輔。氣宣陽蘇，何慮痰濁之矇昧。以茯苓飲法減術，合薛氏星附六君子意。</p>
<p>人參　茯苓　香附　蘇核　白附　半夏　薑汁　陳皮</p>
<p>舌白，不大渴，寒戰復熱，神躁欲昏，心胸飽悶更甚。虐系客邪，先由四末以及中宮。咳痰嘔逆，是邪干肺胃。體虛邪聚，閉塞不通，故神昏煩悶。鬱蒸汗泄，得以漸解。營衛之邪未清，寒熱蔓延無已，此和、補未必中窾，按經設法為宜。</p>
<p>白蔻仁　黃芩　半夏　竹葉　薏苡仁　薑汁</p>
<p>治目疾，無非辛散寒苦，遂致精滑淋濁。夫陽虛則生外寒，陰虛則生內熱。精氣皆虧，神志孤獨，夢魂紛擾，驚惕恐懼而無以自主。法當固攝腎關，養心寧神，鎮怯理虛，漸次夜視反聽，十分調護，方可治療。</p>
<p>桑螵蛸散。</p>
<p>舌色白晦，脈得右大，來去不整，左部小促。耳聾身熱不寐，語言謇澀。非是少陽傷寒，良由小產，陰氣不復，陽氣上冒。恐有牽搐暴厥之憂，無以輕淺視之。</p>
<p>生地　阿膠　丹皮　麥冬　白芍　蔗漿</p>
<p>再診。前方去白芍，加元參、羚羊角。</p>
<p>遺由精竅，淋由溺竅，異出同門，最宜分別。久遺不愈，是精關不攝為虛。但點滴痛癢，少腹堅滿，此屬淋閉，乃氣墜不通，未可便認為虛。況夏秋足指先腐，下焦蘊有濕熱，氣不流行，膀胱撐滿，遂致堅滿耳。五苓散主治。</p>
<p>五苓散。</p>
<p>秋暑失血，初春再發，脈右大，能納食。《金匱》云：男子脈大為勞，極虛亦為勞。要知脈大為勞，是煩勞氣傷；脈虛為勞，是情欲致損；安靜一年可愈。</p>
<p>黃耆　北沙參　南棗　白芨　炙草　薏苡仁</p>
<p>咳嗽從肺治者，以外邪必由皮毛而入，內合乎肺。然六氣皆令火化，散之未解，清之潤之即愈。若內因之嗽，由別經干連及肺，當明其因，徒治肺無益。夫腎為先天，坎中真陽內藏，而主封蟄。奇經得司其間，衝陽由前直起，且少陰脈循喉嚨，挾舌本，陰乏上承，陽獨自灼，故陰上陽下則壽，反則死。八味丸陰中之陽，似乎有理。然肉消形瘦，桂、附仍屬剛燥。宜溫養柔劑，取乎血肉有形之品。議用斑龍，峻補玉堂關下，但鹿角入督升頂，有過升之弊，加以青鹽，引入下元，斯為合法。</p>
<p>鹿角膠　鹿角霜　熟地　菟餅　白茯苓　青鹽　補骨脂　柏子仁</p>
<p>住居臨海，風瘴癘氣，侵入腦髓骨骱，氣血不和，壅遏內蒸，頭面清陽痹阻，久則邪正混處其間。草木不能見效，當以蟲蟻疏通逐邪。</p>
<p>蜣螂　蜂房　川芎　威靈仙</p>
<p>火酒飛面為丸。</p>
<p>由夏季目黃神倦，漸至中焦脹滿，延至霜降，上吐瘀血，下便汙濁。按脈弱細不調，視色神采不振，兼以呼吸帶喘。素有寒疾氣逆，其宿飲之蓄已非一日。當夏三月，脾胃主令，天氣熱，地氣升，人身氣泄，加以飢飽勞疫，而遂減食脹滿，是皆病於中，綿延上下矣。夫六府以通為用，不但府不用事其間，經脈絡中，氣血皆令不行，氣壅血瘀，脹勢愈加。古人以脹病專以宣通為法而有陰陽之殊，後之攻劫宣通，如神佑、舟車、禹功等方。值此久病淹淹，何敢輕試。議以專通三焦之陽氣，驅其錮蔽之濁陰，溫補兼進。若不陽氣漸蘇，難以擬投。引用仲景白通湯。</p>
<p>去須蔥白（四枚）　乾薑（切片，鹽水泡三十餘次，去辣味，三錢）　豬膽汁（十匙）　淡附子（去皮臍，再用包火煨，一錢）</p>
<p>再診。脈神如昨，胸滿脹更急，不思納食，鼻尖冷甚，熱汗出，自吐瘀，便垢至今，神衰吸短。古人謂上下交徵，當理其中，但陽微濁僭，格拒不通，理中守劑，不能理煩治劇。此護陽通陽，仍參苦寒，俾濁陰泄得一分，其陽復得一分。安穀之理在焉，不及縷述。</p>
<p>前方去蔥白，加人參三錢。</p>
<p>前用生津養陰，已得咳停熱退，可以漸入佳境不虞。發熱較甚，三晝夜不減，口渴不飢，蓋體弱肌疏。邪易侵襲，郁遏不宣，蒸燎如焚，質系金虛火旺。今遇炎威酷烈，相火內煽，暑熱外侵，交相爍液，必致煎熬枯涸。欲進苦寒，奈虛火不堪直折，且慮徒傷胃氣。議用海藏神術法，上解三陽，下安太陰。</p>
<p>白朮　梨汁　防風　麥冬　甘草</p>
<p>酒客淋濁，必系濕熱之邪著於氣分，故五苓、八正俱用通利。病數年不愈，必由情欲致傷，敗精血阻於內竅。溺與精異路同門，莖中因精腐阻居多。必通敗精，一定之理。</p>
<p>杜牛膝一兩五錢，搗汁，衝入麝香三分。</p>
<p>痰飲留伏而發，最詳《金匱玉函》。仲景必分內外，以內飲治腎，外飲治脾。更出總括一論，謂飲邪必和以溫藥。數年寒暄，感觸致病，今屢發熱甚於昔。男子中年以後，下元漸衰也。</p>
<p>都氣丸加坎氣、胡桃。</p>
<p>經來漸遲，色淡而少，當期必暮夜腹痛䐜脹，腰髀痠楚，經絡牽掣少舒。脈數右小左大。此乃奇經衝任二脈為他經之氣所束，以致氣機日鈍，血少貯蓄。若加暴怒，須防經漏沸溢。用藥須擇入奇經者為宜，血海固陽明隸屬奇經肝腎為多。議兩和氣血、宣通奇脈方。</p>
<p>當歸　茺蔚子　生香附　小茴香　焦麥芽　大黑豆皮</p>
<p>調入西琥珀末一錢。</p>
<p>面腫氣喘，咳嗆不止，音漸啞。酒客久蓄之濕熱，必上薰及肺，為腫為喘，聲音閉塞。按《內經》濕淫於內，治以淡滲，佐以苦溫。</p>
<p>蘆根　薏苡仁　滑石　赤苓　杏仁　厚朴</p>
<p>寒入厥陰之脈，結為氣疝，痛則脹升，氣消絕無蹤跡。老年下元已虧，不可破氣攻疝，尿管痛，或阻溺。溫養下元，佐以通竅。</p>
<p>鹿茸　麝香　韭菜子　蛇床子　茴香　歸身　青鹽　覆盆子</p>
<p>肝腎精血交虧，陽氣不肯潛伏，陽升面赤戴陽，陽墜，精關不固。時令冬失潛藏，陽升陽動病加。靜處山林，勿預家務。迎夏至一陰來復，必有好音，倘若銜藥，心境操持，與身病無益。</p>
<p>水制熟地　鎖陽　元武板　線魚膠　遠志炭</p>
<p>宿瘕在脅下，亦與肥氣相類，自述因嗔怒。蓋肝之積也，久鬱氣血不通，肝臟內寄相火。時當夏令，泛潮苦雨，脾胃受濕，自必困倦。肝木橫克脾土，脹勢日滿。所受濕邪，漫無出路，蒸於腸胃，黏膿積滯。利不肯爽，中焦不和，寤不得逸。症屬難治，且議分消。</p>
<p>白朮　厚朴　茯苓　豬苓　茵陳　通草</p>
<p>胎孕而患瘧，古人先保胎，佐以治病。茲胗、齒燥、舌白，嘔悶自利。乃夏令伏邪，至深秋而發，非柴、枳之屬可止。嘔吐黑水，腹痛，胎氣不動，邪陷入里，蒸迫臟腑，是大危之象。</p>
<p>黃芩　黃連　黃柏　秦皮　川貝母</p>
<p>再診。寒少熱多，即先後厥之謂熱甚。胎攻衝心痛，蓋胎在沖，瘧邪從四末漸歸胃，衝脈屬陽明胃脈管轄。上嘔青黑涎沫，胎受邪迫，上攻衝心，總是邪熱無由發泄，內陷不已，勢必墜胎。且協熱自利，外邪從里而出，有不死不休之戒。方書保胎，必固陰益氣。今熱熾壅塞，人參、膠、地反為熱邪樹幟。前以純苦氣寒，急取固上焦，陽明胃、厥陰肝兩治。今則用酸苦辛，泄兩經之熱邪，外以井泥護胎。</p>
<p>川連　草決明　烏梅肉　石蓮肉　黃芩　白芍　炒川椒</p>
<p>三診。苦辛酸清泄陽明厥陰邪熱，兼外護胎法，病減十之二。視苔色芒刺，舌心干板，而心中痛不已。此皆熱邪內迫，陽津陰液告窮。兩日前慮其陷伏閉寒，今又怕其昏痙，最難調治。夫護胎存陰，清邪去邪，俱不可少。</p>
<p>阿膠　鮮生地　川連　雞子黃　知母</p>
<p>雨淋沖陽受傷，熱水洗浴，迫其冷濕深入與水穀之氣互蒸而肌肉發黃，陳無擇雲谷疸。能食不飢，舌有黃苔，一年之久，寒濕釀成濕熱。凡濕在太陰脾，熱在陽明胃，不分經絡治不可。</p>
<p>生穀芽　半夏　廣皮白　柴胡　黃芩　川連　人參　枳實</p>
<p>經云：謀慮在肝，決斷在膽。操持思慮，五志陽氣有升無降。肝脈循環，繞乎陰器。氣逆拂亂，不司疏泄之權。似疝如淋病象，其實內系肝臟。但治淋治疝，不越子和辛香流氣，即從丹溪分消泄熱。今形脈已衰，當以虛論。肝病三法，曰辛曰酸曰甘緩。經云食酸令人癃，小便不爽，大忌酸味。</p>
<p>當歸　茴香　穿山甲　枸杞子　沙蒺藜</p>
<p>凡當臍動氣，臍腹結瘕，肌肉濡動，眩暈羞明。昔賢都主下焦精血之損，二氣不得攝納，則變亂火風，如混蒙之象。泄氣溫燥攻病，是虛其虛也，溫養有情之屬為宜。</p>
<p>紫河車　肉蓯蓉　當歸　青鹽　茯苓　胡桃　黃柏　小茴香　柏子仁　紫石英</p>
<p>暑風入肺為癉瘧，《金匱》為陽氣獨發。嘉言云：體中陰液素虛，所伏熱氣日久，混入血分，陰虛陽冒，上焦清氣皆蒙，胃陽失和，不納易痞，究竟伏邪未去。凡苦辛疏泄，皆屬禁例。夫上實下虛，有客邪留著，鎮降不應，仿徐子才輕可去實之例，分別氣血，以宣之，以逐之。</p>
<p>犀角　連翹　元參　通草　竹葉　荷葉</p>
<p>十年前小產血崩，損傷未復。家政操持，形神俱不能清靜。上年交秋，帶下淋濁。不特肝腎脂液告竭，奇經與諸絡亦無血存留。氣衝犯胃，脘膈刺痛，脅肋高突。更兼下焦寒冷，腰圍如帶拘束。兩足麻木，踐地痿軟。二便窒塞不爽。五液枯涸，至陽不交陰。見痛用沉香，大謬。凡血液枯槁，大忌香燥。姑以血肉參入人參，若春和溫煦，草木藉以滋生。</p>
<p>人參　甘枸杞　歸身　肉蓯蓉　小茴香　沙蒺藜　黑芝麻　羊內腎</p>
<p>診脈尺垂，據述沖氣上衝，肝脈必搏大無偏。視面色赤亮，肌肉瘦削。乃腎精肝血內耗，陰不和陽，致衝任不主把持，固攝壯水。正謂助陰抑陽。然久損不復，當與味厚質靜或血肉有情，填實精髓。考古海藏、可久輩，咸遵是制。內損精血，務宜靜養，使其加餐壯胃，所謂精生於穀也。且肝腎久傷，累及八脈，陰傷漸干及陽，豈一法網羅者。</p>
<p>閨中室女，忽然神志時惑，遂月事不來，正《內經》謂二陽之病發心脾也。蓋氣逆血菀，經緯紊亂，日加郁痹，焉得聰明清曠？情懷致病，草木藥餌都屬無情，所以不易奏功。議以上清心竅以通神，下調奇脈以通經。</p>
<p>琥珀末（五錢）　丹參（一兩）</p>
<p>鮮石菖蒲搗汁法丸，辰砂為衣。</p>
<p>回生丹為小丸，早服一錢，另以大黑豆一兩炒赤，置竹籃蓋內，以無灰酒淋熱豆，取酒服藥。</p>
<p>天癸從未至，肉瘦色悴，咳嗆著枕更甚。暮夜內外皆熱，天明汗出勢減。痰或黏或稀，咽中總不爽利。此先天最薄，真陰不旺。弗勤針指，務要安閒怡悅，俾經來熱除，不然俗云乾血勞。</p>
<p>復脈湯去薑、桂。</p>
<p>男子結疝，在《內經》則曰沖、任為病。子和統論疏肝。今疝未愈，臍右復高突硬起，乃由疝漸至瘕聚腸覃之屬。夫腸覃者，寒氣客於大腸，與胃氣相摶。大腸與肺表裡傳送，肺氣寒則氣凝不行，清氣散而濁氣結為瘕，遷延日久，如懷胎妊，按之堅，推之移，氣病而血不病也。</p>
<p>穿山甲　椒目　桂枝　川楝子　小茴香　茯苓　麝香　白芥子</p>
<p>冒暑遠行，熱氣由口鼻吸入，先犯上中，分走營衛，故為寒熱。瘧疾當淡泊飲食滋味，清疏胃氣。投劑或以涼解芳香，或以甘寒生津，皆可治療。奈何發散不效、復肆行滋補、致肺氣壅閉、胃中凝滯、自上及下一身氣機不通、變成腫脹？矯其非而欲與攻逐，無如病久形消，又慮正氣垂寂。不得已用保和丸緩疏中焦，漸漸升降得宜，六府轉達。府氣先通，經脈之氣無有不通者矣。</p>
<p>保和丸。</p>
<p>女科肝病，為多產後必及八脈。即如少腹瘕聚，沖氣攻心，必嘔吐逆上，則喉間閉塞。經水半年不來，越日常有寒熱。凡下焦多屬血病，癥屬氣聚，瘕為血痹，病在衝脈。陰維陽維，混混施治，焉得為奇經？</p>
<p>延胡索　川楝子　蓬朮　桃仁　生鱉甲　地鱉蟲　麝香　楂炭</p>
<p>脈緩，按之濡弱。谷少不食，厚味運化最遲，飲食不適，即如痛瀉。膚腠麻木，骨軟筋痛。凡遇暴風驟冷，體中更覺不安。上年肛紅，入夏方愈。種種脈症，是氣弱陽微，脾胃少於運化，濕鬱生痰，致氣機不能靈動。法當健陽佐運，即治痰驅濕之本。</p>
<p>人參　於術　茯苓　半夏　陳皮　益智仁　木瓜　天麻　生薑　大棗</p>
<p>女子四十九，天癸當止，謂陽明脈衰，衝脈力怯，不能招集諸絡之血聚於血海，按月行經，此向老皆然。今秋熱致傷，客邪不重，已見帶淋，肌麻血阻，內傷之勢已露。況所患，甚於腰腹，是必臟陰內損，及於八脈。有形之血既去，無形之氣掀旋。諸竅百骸，攻迫肆虐，即身中之陽氣獨行不得，真陰眷戀耳。熟地、五味滋收，固不甚謬，然不入奇經。法當介用潛陽，鹹味下引，酸味內收，或佐微苦微潤。蓋肝惡剛喜涼，腎惡燥喜暖，古人之制然矣。</p>
<p>鹽水炒阿膠　茯苓　山萸肉炭　鹽水炒鱉甲　知母　女貞子　鹽水炒旱蓮草　天冬　鹽水炒黃柏</p>
<p>幼稚驚癇，古人有陽癇之分。據述自幼至今，不論寒暑，寐必汗泄。乃臟真不固，陽不內依，致內風灼筋，牽強冒竅神迷，且時時神餒恐懼。治在肝腎，用包舉大氣，內安肝腎。</p>
<p>熟地　石菖蒲　龍骨　五味子　遠志　茯苓　鎖陽　黃柏　萸肉</p>
<p>紫河車膏丸。</p>
<p>驚則動肝，肝氣上逆；憂則傷肺，肺氣失降。升降失司，中焦不運，氣聚成形，風擾鳴泄。仲景論上升吐蛔，下墜狐惑，都從胃虛起見。風木相侮，陽土日困，食減便溏有諸，由涼憂偏逆致病。因病失治延虛，最難奏效。用藥不過生化剋制之理，培其受侮，平其沖擾；補陽明以宣府，泄厥陰以平逆，如是而已。至於拔病根，在乎居恆頤養，當醫藥外求之。</p>
<p>人參　乾薑　川椒　川楝子　茯苓　桂枝　白芍　烏梅</p>
<p>產育頗多，衝任先傷，其咳嗽失血，嘔吐涎沫，都是下元不攝，沖氣上逆所致。況晨刻必瀉，乃屬肝腎虛滑，為瘕瀉鶩溏。此病原系蓐勞，根本已怯。倘經水阻隔，無法可商。急急招納下元散失之真，固之攝之尤慮弗及。若見血見嗽，用滋陰沉降，非內熱肺咳，奚益於病？徒使遷延胃敗，遂至廢食，豈不危哉。</p>
<p>鹽水炒補骨脂　石殼蓮肉　熟地炭　炒黃山藥　覆盆子　五味子　芡實</p>
<p>再診。前方服二劑瀉止，今去補骨脂、覆盆子，加青花龍骨。</p>
<p>三診。自前方固攝之後五、六日，精神頗覺向安。但寒在四肢背部，熱在心前腹中，即《內經》陽虛外寒，陰虛心熱之旨。然產後氣虛，必自陰分傷及陽位。張景岳云：氣因精而虛者，當補精以化氣。況產後八脈空虛，填補方中必佐以收拾奇經之散亡也。</p>
<p>熟地炭　龍骨　湘蓮　紫石英　五味子　人參　芡實　茯神</p>
<p>丸方：</p>
<p>砂仁拌炒熟地　芡實　桑螵蛸　五味子　紫河車　茯苓　人參　遠志　沙苑蒺藜</p>
<p>山藥漿丸。</p>
<p>診脈右弦左濡，久痔注血，致納食不易運化。此脾營先傷，胃陽繼困，府氣不能宣暢，大便不爽，溫補不能通調。府氣疏滯，更損脾胃生陽。東垣每以治土必先達木，不宜過投燥劑。仿古治中湯法，佐以疏肝解鬱。</p>
<p>人參　青皮　陳皮　木瓜　黑槐米　益智仁　楂肉　茯苓　黑地榆</p>
<p>水泛丸。</p>
<p>診脈百至，左小澀結，右部弦大。緣高年中焦清陽已微，濁陰漸阻，致脘中窒塞日盛，物不能納。下焦陰液枯槁，腸中氣痹，溺少便澀。虞花溪云：噎膈反胃，陰枯陽結為多。衰老之象，最難調理，誠情志偏勝，無形之傷也。若夫痰氣瘀血積聚，亦有是病，有形有象即易為力矣；惟無形致傷，以有形之藥餌施治，鮮有奏效。當以陰陽二氣推求，在上為陽，在下為陰，通則流通，守則呆鈍，古人成法，宜遵其言。居恆頤養，不在藥餌中矣。議宣通之味，以冀小效。</p>
<p>大半夏湯加枳實、薑汁、川連。</p>
<p>脈右弦左濡，秋涼宿飲，上泛咳嗆，入夜著枕欲寐，氣衝胃脘，心悸震動，必欲起坐。仲景「論脈篇」，弦為飲，背寒為飲，當治飲，不當治咳。飲屬陰邪，乘暮夜竊發。《金匱》法中，每以通陽滌飲，與世俗僅以肺藥疏降迥異，用小青龍減麻、辛法。</p>
<p>桂枝　五味子　乾薑　茯苓　白芍　炙草　半夏</p>
<p>丸方：八味去附，加沉香。</p>
<p>頻因小產，奇脈不固，經來甚多，經過帶下。早晨大便溏滑，納穀日少。時覺心悸震動。始養血滋膩，即脘悶不思納穀。此皆自下焦損傷，漸及中焦，致脾胃不能轉運。近日擬用王荊公妙香散，宣通補中，仍兼顧下。雖似相投，然於調和經帶，其力未專。再議兩法分治，中宮宣通，下焦固攝。</p>
<p>鹿角霜　淡骨脂　青鹽　炒黑小茴香　紫石英　禹餘糧　當歸　茯苓</p>
<p>用雄羊腎蒸熟搗丸，人參湯下。</p>
<p>男子血淋成塊，尿出痛。醫治一年妄效。夫淋屬肝經，鬱火濕熱皆有是病。思少壯情欲勉強，必致敗精凝竅，精腐變瘀，理固有諸。用虎杖散法，服五、六日，痛減血少。晨溺尚有血絲，此隨竅中有未盡之敗濁。宜通不宜澀。</p>
<p>人中白　琥珀　沉香　白牽牛　川柏　韭菜汁丸。</p>
<p>產育致虛，病情多歧，不能縷分。思產後八脈皆空，損傷非在一臟一腑，所以諸恙並起。稍涉情志不適，藥餌便少功效，沉痼宿恙驟難奏功。閱病原，再診脈，知內因虛損，小效病復，實由於此。姑擬邇日再急，在腹脹洞泄，脅腹㽲痛，冀得少緩一二，為進商之步。</p>
<p>人參　鹿茸　茯苓　舶茴香　紫石英　補骨脂</p>
<p>另用禹餘糧、赤石脂等分，糯米煮糊為丸，煎前方送二十丸。</p>
<p>腳氣，古稱南地多因濕熱，醫用苦辛宣通，開氣滲濕。久進病未祛除，而血液反耗，心熱氣衝，目黃嘔涎，煩躁頭痛，昏厥，四肢筋縱掣痙，大便艱澀。顯然肝血衰涸，內風掀起。此風乃陽氣之化，非外來八風同例而治。分經辨治。病在肝臟，擾動胃絡，由氣分濕熱延中，血中枯燥。靜攝小安，焦煩必甚。蓋內傷情懷，草木難解，斯為沉痼。</p>
<p>石決明　穭豆皮　天冬　生地　茺蔚子　阿膠</p>
<p>丸方：</p>
<p>生地　白芍　天冬　桂圓肉　丹參　杞子　阿膠　麥冬　知母　茺蔚子　穭豆皮</p>
<p>烏骨雞煮爛杵丸。</p>
<p>暑屬陰邪，一種濕溫穢濁之氣，膠結於三焦。故苔灰邊白，氣喘脘結，周身痛難轉側，小溲窒澀而痛，老年精氣已衰，恐有內閉外脫之變。</p>
<p>鮮石菖蒲　厚朴　茯苓皮　橘紅　白蔻仁　杏仁</p>
<p>另服蘇合香丸。</p>
<p>病久反復，精氣損傷，遂成虛怯。據說臍下閃閃升觸，逆乾咳嗽，兼痰多咽痹。明明元海無根，衝脈氣震，無以把握，陰精內枯，陽乏眷戀。非靜處山林，屏絕世擾，望其生生復聚。問醫便投草木湯液，恐難久持。</p>
<p>鮮紫河車膠　秋石拌人參　云茯神　鹽水炒紫衣胡桃肉</p>
<p>經云：脾氣散精，上輸於肺，地氣上升也；肺主治節，通調水道，下輸膀胱，天氣下降也。憤郁戕肝，肝氣拂逆；憂思傷肺，肺氣失降。左右二藏即乖，上下不交而否象成，中宮亦不和暢，至晨夕嘈雜。食少無味，下脘如納粗物，病久胃汁枯，四肢無力，顯然脾病。右脅少腹作痛，升降有聲，寅卯病進，午後病退，是清陽之氣閉結。若仍勤勞家政，深秋關格是慮。</p>
<p>香附　延胡索　黑山梔　歸身　柏子霜　桂圓肉</p>
<p>諸動屬陽，煩勞則損氣；肝司藏血，怫鬱則血菀於上；午後則氣並於血，升降混淆為厥。脈來浮數，退而細澀，面黃唇白。熱勢稍輕，神昏如故。胸膈隱痛，必非停滯，諒有瘀聚所致。目𥉂、舌縮，為腎水竭絕之徵，瘛瘲不止乃肝虛風動之象，病名暴厥。趙養葵所謂薄厥、煎厥之類。開心竅不應，勉以蒲黃散去瘀舒郁，續進滋養天一之水，以冀風寧火熄。</p>
<p>蒲黃散。</p>
<p>情志鬱勃，氣逆多升，絡血上冒。連次小產，沖、任已怯。心嘈震悸，目珠痛，頭脹。肝膽厥陽動極。必須懷抱寬舒，可望病痊，否則成痼疾矣。用復脈湯去薑、桂、參，加淮小麥、天冬，石決明。經來後期兩旬，牙宣吐血，防其倒經。議養肝陰，兼通衝脈。</p>
<p>生地　天冬　枸杞子　牛膝　茯苓　白芍　阿膠　桂圓肉　丹參　茯神</p>
<p>烏骨雞煮爛為丸。</p>
<p>煩勞氣泄，陽升巔頂，瞳神必脹，容色奪，目眶變。呼吸似乎下陷，若熱氣升。舌本必麻，即痰氣阻咽。天暖風和必逸，乃血氣因勞致虛，有藉乎天氣之煦涵。《內經》云：勞者溫之，取味甘氣平以補其陰陽血氣。然痰氣宿恙，勿以膩濁為準。</p>
<p>人參　白朮　當歸　枸杞子　茯苓　甘草　白芍　天麻　嫩鉤勾　菊花炭</p>
<p>桂圓汁丸，午後服三錢。另早服虎潛丸四錢。</p>
<p>質瘦脈弱，交夏天暖，真氣發泄，心熱口喝，頭痛脅疼，食下如噎，右耳氣閉少聰，語言過多，齒戛寒噤，或巔脹面浮。皆津液因熱而傷，致令浮陽動搏。議用甘涼生津和陽法。</p>
<p>北沙參　天冬　麥冬　麻仁　杏仁　桑葉　蜜水炒橘紅</p>
<p>川石斛煮汁泛丸。</p>
<p>筋脹膚疼，發作有年。左脅有形不痛，為瘕。肝氣久郁，血虛生熱生風，不受辛熱之藥，以肝木內寄相火，只宜和血熄風，柔筋緩痛。</p>
<p>生首烏　歸鬚　胡麻　丹皮　黑山梔　桑葉　嫩鉤藤</p>
<p>丸方：</p>
<p>桑寄生　阿膠　鉤藤　丹皮　大生地　當歸　天冬　白芍　黑芝麻　柏子仁</p>
<p>煉蜜丸。</p>
<p>情懷悒鬱，肝氣不舒。患乳生癰膿潰，血液大耗，氣蒸上逆咳嗽，左脅內痛，不能轉側。蓋肝絡少血內養，左右升降不利，清潤治嗽無益。</p>
<p>炒桃仁　當歸　茯神　丹皮　阿膠　柏子仁</p>
<p>時令溫邪內迫，經水不應期至，淋淋不斷。二便不通。唇舌俱白，不喜冷飲。神呆恍惚，言語支離。診脈細小欲絕。當芒種、夏至，陽極泄越，陰未來復，神魂不攝，是謂亡陽昏譫，最屬危脫之象。擬用仲景救逆法以扼其危。</p>
<p>人參　龍骨　製附子　炙草　桂枝　牡蠣　蜀漆　南棗肉</p>
<p>經停兩月，恰值嗔怒，陽氣升降失和，血隨氣行，沖、任脈絡不固，遂為崩漏。且血凝成大塊，非血熱宜涼。從來血脫，必須益氣。但沖、任、奇經在下焦，又非東垣歸、耆、升、柴升舉諸法所宜。須固攝奇經之藥，乃能按經循絡耳。</p>
<p>人參　茯苓　烏賊骨　鮑魚　茜草</p>
<p>震靈丹沖服。</p>
<p>再診。昨擬震靈丹通攝，鹹苦入陰，加人參見效。但頭痛身熱，是血大去，陰氣不主內守，陽孤失偶泛越。景岳云：陽因陰而離散，宜從陰以收散亡之陽。兩儀煎加龜甲、秋石主之，諒中病機。</p>
<p>人參　熟地　茯神　龜板　紫石英　桑螵蛸　當歸</p>
<p>酒客中虛聚濕，口鼻吸受穢濁不正之氣。初病頭脹胸痞身痛。微汗不解，穢濕在募原內蒸，非傷寒之邪從表入里；及中道斜行，鼻受穢濕，皆蘊結於氣分。治以芳香，邪氣得開。奈不分氣血、從熱消導、清熱攻下、邪混血分成斑冒入膻中、神昏譫妄、內閉臟腑，外象肢冷大汗，勢已危篤，仍以病根源穢邪逼迫心胞絡論，神氣少清，冀其回生？</p>
<p>至寶丹四分，金汁一杯，石菖蒲汁一匙，研細和勻，燉溫服。</p>
