<header data-type="book">
<h1>北山醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>北山友松子</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1745">公元1745年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00306/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>一卷首所載一十餘案。最多所發明。乃治病求於本之切要者也。故冠於初卷。以為子弟之楷式。</p>
<p>一每案臨病撮藥之際。匆匆手錄。敢不飾文辭。今皆依舊案中首尾。有同方者。有換方至三五次者。可以見其前後緩急之法。</p>
<p>一案中某人州里姓字。或錄或否。望問之間。不遑詳錄也。</p>
<p>一每劑所用藥品。生半夏湯洗七次也。生橘皮去白不炒。生黃耆生附子生川烏頭生南星之類。皆不煨熟也。川芎酒炒。麻黃不去根節者。欲緩其性也。瓜蔞帶殼粗銼炒過。蓋取速入於肺也。</p>
<p>一藥劑分量。皆用國秤也。卷尾所載獨立老人用藥方。亦同於此。古方分銖稍異者。乃錄於每藥下。使以知各有所取用焉。</p>
<p>一卷末所附獨立老人用藥方。乃吾翁所受於老人者也。脈論精當。可以為醫則矣。故附之。獨立者。閩人也。從某禪師東來。寓於長崎。通素靈及本草。善醫術。</p>

<h1>卷上</h1>
<p>【氣鬱食滯】一武官江馬氏直番江都。忽聞在鄉老母病篤。焦慮太甚。夜不成眠。飲食減少。面色慘然。官暇不打話只打瞌睡。乞診於予。診之。左沉滑右沉緊時一止。予問曰。曾調理乎。答曰。已服友菊拙齋二醫商榷之歸脾湯將百帖矣。服之不驗。更請太醫見教。太醫亦勸我多服前藥。只令加半夏陳皮二種耳。予曰。此正是嚴用和治思慮過制變生諸症之妙劑。後薛立齋加遠志當歸以充腎氣。與心血也。且胃氣不和。加半夏陳皮之良法也。然以脈論之。良因遙憶令堂病篤。心脾鬱結不暢。官事猶冗。不免強飡而應役。早晚不自覺加飡。以故胃有食滯。氣不暢達。而不能化也。法曰。傷食惡食。是以惡食而食減少矣。且下經曰。胃不和則臥不安。右脈沉緊。亦是食滯於胃也。法當先以香砂平胃散倍加母姜煎成。日飲數次。以至不惡食氣乃停服。晬時然後須以歸脾六君子輩補益庶可也。渠中心病快然從之。遂用前法。不月告瘳。或稟上某侯。侯召愚問曰。下藥相同。治病有此大異何也。愚對曰。歧伯曰。治病先其藏府。誅其小過後調其氣。盛者寫之。虛者補之。必先明知其形志之苦樂。定乃取之。侯曰善。</p>
<p>【好酒失眠】鮑肆一價年壯好酒。一日感冒。得藥而解。後不得臥。醫用溫膽湯及酸棗仁湯出入。三十多夜。不能瞑目。家人㥬惶。求治於予。診之。弦滑。予雲鬚以內經半夏湯調其陰陽可也。價曰願聞其方。予曰伯高。曰其湯方以流水千里以外者八升。揚之萬遍。取其清五升。煮之。炊以葦薪火。沸置秫米一升。治半夏五合。徐炊令竭為一升半。去其滓。飲汁一小杯。日三。稍益以知為度。故其病新發者。覆杯則臥。汗出則已矣。久者三飲而已也。渠請藥遂命徒依法而與之。果然。一飲而知。三飲而已矣。妙哉聖方。有此立驗也。後治數人。亦見大效。但不先以火煮沸其水。而後置藥於沸湯之中。及不多揚其水。只以生水煎成。則無斯大驗矣。籲。常見市井老婆嗜飲煎茶者。亦知擇其水沸其湯。況臨病時。其可鹵莽乎。其藥分數。學醫者所必準則也。茲不及下注腳。</p>
<p>【卒中險症】隱士彥阪一竿夏四月。陪大阪布政司某侯於天王寺僧坊午齋。齋罷。回到稅官平九郎第中。乃覺心腹不佳。吐出痰涎及所飡齋蔬。忽爾手足戰嚲。昏不知人。命醫工谷村昌安治藥越重召青木老醫辭不下藥。夜將二更。請予至第診之。十二經脈並絕。四末稍厥。唯臍間動氣應手而已。稅官請治。予曰。此險症也。雖有治法。不知應否。稅官云。子固辭而不藥。再敲他門移時也。醫及至。病人必絕矣。且自午後用藥。至今重病變危。危而至險。唯待盡之命乎。予是其言。乃曰。汝家藏有人參一根。重五七錢者麼。稅官曰。吾從來未蓄珍藥。由醫士不我教也。於是催簥回家。擇人參重六錢許者。命徒玄三子截去蘆梢。只存五錢強。乃撮三生飲計重一錢五分一貼。親付使者。面囑云。這人參一根。要全切片。加炮姜五分。與藥一併用河水二鍾煎一鍾。緩緩灌之。口中藥盡。再報消息可也。使應諾跑云。翌朝使至再請云。病人服藥將盡。天明回生矣。予赴而診之。十二經脈都應手沉弱。其衝陽太谿應指如蛛絲矣。稅官曰。夜來子後灌藥三五口。就有生意。醜後四末稍溫。寅後脈應手而能應諾也。再勞下藥。予回寓復撮前藥及人參一根以付於使。第三日復請診視。視之則六脈機神動盪。唯足脈尚微焉。病者自能言謝靈藥蘇命之德。稅官復請藥。予曰。治下名醫陪侍者多。今元陽既復。宜命侍醫。調理為便矣。稅官曰。然則何如。予曰。愚意只將東垣調中益氣湯加附子可也。言訖而歸。日後差手下高原氏來謝活命之德。次高原氏低聲云。前者先生所附人參。一醫恐多雲。減去一半用之。試一半有效。則再用其餘可也。予愀然曰。翌日之人參亦減乎。曰然也。今見先生。聞醫減藥不怒而反皺眉者何也。予日可惜。許一竿子之命。被庸醫暗殺也。怪得十二經脈全復之際。足脈比手脈微甚。吾故教你主人於益氣湯中加附子者是也。期三年之內。必卒死矣。曰何以然。予曰明醫葛可久善武藝。一日見獏猺。桑弓挽之而彀。歸而下血。亟命其子。煎大黃四兩飲之。其子恐多。減其半服之。不下問故。其子以實對。可久曰。少耳。今則未也。來年當死也。再服二兩愈明年果卒。由是言之。用瀉藥消瘀。不及其病且死。何況於補藥接命乎。諺云。有是病服是藥。藥不瞑眩。厥疾弗瘳是也。庸醫原來弗達這等大義。外假小心而惑人。內裝暗毒以妒能。掩其不善。自著其善。欺人欺己。其咎當自執矣。前診脈時。足脈微甚者。想庸醫只用人參上半截。而不全用之過歟。前者吾用全參一根者。欲達表裡上下。追復元陽。補接正氣之設也。方有生附雄壯下行。安得見此脈候乎。但事既敗矣。既往不可咎。子可記取吾言。時至便見也。高原唯然而去。高原者。小徒道因子乃父也。故言及焉。後聞一竿次年四月卒死於尼崎客舍矣。吁嗟。此非庸醫暗殺乎。</p>
<p>【氣中卒倒】河州佃戶宗。是年七十三。因赴佛會於大阪婿家信宿。早飯後。忽爾卒倒。不省人事。牙關緊急。身冷。脈沉滑。急請予診。便以蘇合香丸。薑汁調灌之。稍醒而能飲藥。時見一婦手捧煎成湯藥將使飲之。予問婿曰何物也。曰乃某醫使服三生飲也。予急止之云。此乃七情氣逆。且因食滯而然。不可妄用急劑以伐無過矣。病者於今人事醒矣。藥能啜矣。藥病投機。可立待其痊矣。為其生平居鄉。不以酒為漿。不以妄為常。守己樂業。安分養性。故年雖七十。比市井放肆之徒。猶未艾也。何必浪投急劑乎。婿曰。是何病耶。予曰憑脈與症。乃似中氣。而實食滯也。夫中氣症。大略與中風。亦自難辨矣。法曰。風中身溫。氣中身冷。風中多痰涎。氣中無痰涎。風中多有汗。氣中則無汗。風中脈浮。氣中脈沉。又曰以氣藥治風則或可。以風藥治氣則不可也。今夫不論氣中食中。一藥雙治也。將藿香正氣散。去白芷。加香附。每一貼重五分。生薑一分。水一鍾半。煎八分。作數次服之。何如。婿曰。唯命是從。予撮與服至五貼。諸症平復。改用錢氏異功散收功。　撮藥時。一僧醫常德寺者。見其藥之小貼。問曰。世醫有議先生之藥一貼大則五錢。小則二錢。與今醫之藥。大小懸隔矣。今此老人。重病小劑。只得五分許者。莫非致疑病候而然乎。予曰。窘哉問也。凡人少壯老其氣有弱壯衰三等。故岐伯曰。少火之氣壯。壯火之氣衰。蓋少火生氣。壯火散氣。況於衰火乎。故治法亦當分三等。其少壯老之人。皆當別處也。示從容論亦曰。夫年長則求之於府。年少則求之於經。年壯則求之於藏云云。此亦分少壯長三等求治之治也。子既是醫。何不知乎此。而與世醫唯疑議乎藥哉。常德曰。某甲今日知成醫之道矣。予曰何也。對曰。熟讀內經。暗記本草而已。予曰賢者易言。良馬易御。子之謂也。</p>
<p>【痰喘癍疹】北濱宇和島氏。年甫十三。患吼喘。聲聞閫外。且發癍疹。搔之加癢。使婢數輩。隔生絹按之摩之。其母舅志源翁請予診之云。外甥生未滿月。發小瘡如疿如痤。一啞科云。是胎毒也。服以擺藥。敷以末藥。其毒起伏不已。至於孩笑才痊八九。又變痰喘。而請阪陽兒醫殆盡。又訪京師出名孺師。莫不求治。治之一旦似痊。過時又作。凡出京者七。赴堺者三。近鄉草醫。遍請診視。或針或灸。自孩至於舞象並不脫體矣。未審日後能成人乎。予細視之。精神雖固。身體矮小。年至十三。恍如髫齡。診之浮弦而促。予曰。經曰夫五藏之有疾也。譬猶刺也。猶汙也。猶結也。猶閉也。刺雖久。猶可拔也。汙雖久。猶可雪也。結雖久。猶可解也。閉雖久。猶可決也。或言久疾之未可治者。未得其術也。由此論之。令甥未在死症。設得明眼醫師下手。安有弗痊之理乎。翁低首以手加額曰。欲煩先生留神調治。痼疾愈日。報恩有地也。予笑曰。報恩且置。只圖試藥耳。因與大全千金丹三分。磨水食遠服一次。喘減十之二。臨臥再進一服。又減十之五。次日又進。又減十之七。臨臥復進。其夜吼喘定而熟睡不覺至日出矣。翁與父母大喜曰。小兒得病爾來。未有如昨夜之安眠也。請求煎藥杜後。予曰。癍疹未痊。須臾服之。以至疹退則停藥。晬日然後以湯藥蕩之。未為晚矣。翁曰。一藥能治二疾。甚奇事也。予曰。證變二三。良由外科敷藥逼毒入於肌里膜外。溜於胸膈。變成痰涎。因天之陰晦。時之寒暄。食之增損。是皆能令發喘。又發疹也。其標似異。其本一也。所以一藥之兼治二疾也。後遂與閻氏和中散去黃耆加陳皮。每貼一錢許加薑棗各三分。煎成日服一貼。至五百餘日。脈和而不促。乃止藥。或問小兒用藥。將及一年有半。無乃過多乎。予曰。三部九候論曰。先去後調。無問其病。以平為期。由斯言之。更服百日。未為多也。此兒蓋因屢服退疹驅痰止喘雜霸之藥多年。故體亦不能長。費調理也。如此焉停藥。後身長體胖。日愈一日。一年間。裁縫衣著者三。以至施加首服之時焉。</p>
<p>【瘧疾傷胃斷食】一大夫加納氏。王牛秋杪於江府患虐。某府侍醫酒井三伯與岡本友菊商治。或清或攻。或用獨參出入。五十日余。寒熱似退。四體羸尪。不能起於眠褥。大小便時令侍士數輩舁出於圊室。又慮風濕再襲。用紙屏圍之。勞神也多矣。且惡食氣。不食完穀。口舌煩燥。而又吐涎。只飲湯水者十日余矣。其親友中川氏素知醫事。乃問於三伯曰。加納氏沉疾將兩月矣。日重一日。且又斷食。未知安否。其脈色何如。三伯曰。外候乃眾士目擊。其疾沉篤不在言也。論其脈弱甚。蓋脾胃絕症也。中川氏錯愕日。胃氣絕難再生也。易他醫如何。伯曰。一任加納氏之意矣。於是與在府親戚諸士商議。別請他醫。眾士一齊原請予下手。中川氏曰。此舉是也。吾欲再舉一醫為之副何如。眾親士曰。敢問其舉。中川氏曰。吾所舉者。只園順庵也。順庵常以師長待北山氏。而北山氏亦以友弟視順庵也。今大夫病危。非日夜診視。臨時處置。則失機宜。若再一變。則無起日矣。且二人之見。或勝一人之識。未可料也。使順庵把匕副之。北山氏直言正之。乃一舉兩得之謀也。眾從其言。乃稟某侯臨危換醫之事。侯然之。遂命召二人同診。臨夜至邸診之。左微弱。右弦弱。予曰。今夜只用參湯補接。待來晨再診。而後相議藥方可也。眾從之。於是翌早天光時候。再到而診視。時順庵侍某侯夫人直邸。路遙來晏。適予有某邸之行。日㽷回寓。順庵乃待予回於寓。曰向診大夫之脈。與昨無異。乃因日夜闕服。朝來大夫請藥甚急。親士議曰。暫撮一貼先煎。待先生回時領教未遲。以故從眾撮一貼。而付之也。予曰是何藥劑歟。曰六君子湯加麥門白豆蔻耳。予良久大笑曰。吾由子能解內經。能辨本草。將謂良材矣。臨病必也能幹。元來只如此耶。曰請大教。曰吾為子述子之臆度可乎。曰諾。曰脾胃怯弱。不能起居。主用四君。吐涎似痰。主用二陳。口舌乾燥。潤以麥門。惡聞貪氣。醒以豆蔻。且夫六君豆蔻。薛己以後。名醫藉此補益脾胃。醫案多多。故效顰也。順庵曰。實如先生之說。未審有何不是。曰子於端午見俗繪紙旗上的橋辨度乎。順庵罔措。予笑曰。牛若子右手揚刀。左手舉扇。腳穿木履。且踏欄杆。未審都能成功乎。順庵頗解其事。曰。每聞先生戲論。使小子通身流汗也。其過且置。望先生垂教而改之。予曰。錢氏白朮散何如。曰。中有木香未審可乎。曰。此正是張易水教李東垣調中益氣方中橘皮之下有云。如腹中氣不轉運。加木香一分者是也。大夫於今惡食氣。唯飲湯者。由腹中氣不運也。藉藿香之芬芳。與木香乾旋同功。則思食而不惡也。曰若氣轉而思食。則不用木香而加陳皮何如。予嘉之曰。舉一反三者。子之謂也。然方中人參鬚倍用之才當矣。所以然者。曾聞前醫調治。或用柴平。或小柴胡。或截瘧飲。或養胃湯。各有人參在乎方中矣。且又別煎獨參湯。而間服矣。然則不倍黃參。恐保中氣之力弱矣。順庵然其言。即撮白朮散加倍人參。其木香只用一分許懷之。至病家而易自攝之前藥云。服三貼。粥飲進。五貼後。頗知穀味。至第三夜有少煩熱。次晨又請予議藥。順庵曰。夜來之煩。莫非木香之咎乎。予曰。脈無變易。非藥之為也。但多日不食。恐一時喜食。食氣浹洽而致然乎。東垣所謂若喜食。一二日不可過食。恐損胃氣。而生熱也。須薄味之食。或美食助其藥力。益升浮之氣。而滋其胃氣也。然論雖如是。退煩之物。不可不備也。子將加酒芩乎。抑加黑梔乎。順庵擬議。予解頤曰。子平日強記本草。何不應此期會乎。順庵默然。予曰。久病未復。脾氣未充。苦寒之物。絕不可餌。唯一味竹葉甘寒可充。五七葉清其胃氣可也。順庵大悅。手搭席曰。利名共得者。謂斯事也。如前法出入。謂養五十餘日。諸見症平復。六脈和順。而右關弦脈尚在。予曰須加芍藥可也。順庵曰。當歸芍藥。曾用數回矣。予曰。何不用酒以砂鍋炒香。曰。何也。曰用酒炒香而用土器。則理脾而伐肝。能退土中之木也。曰唯然。他日加納氏令椿一遊翁特差使致謝云。嗣子此番沉痼。遙聞先生用意居多。所以百死之中。而得一生。所謂絕後更蘇者也。此恩此德。難以補報者。由先生賜嗣子於老夫。而為送老之樂也云。</p>
<p>【飧泄】癸丑春仲小徒元貞報曰。有一野夫。年三十歲許。自天明至門。自訴親父為患泄瀉。五十餘日。先發寒熱。不食。日夜泄五七度。因請醫士調治二十日許。熱雖退。而進些粒食。則完穀不化。泄出原物。日將十次。或帶血絲。或如泔漿。因求一醫。又加腹痛。四體消瘦。不能起坐。又請一老醫診視。醫曰痢疾也。泄瀉變痢。在法難治。固辭而云。舉鄉期之必死。茲因母氏痛哭云。嘗聞紀州伯父僧某極言門下起死回生之盛德多多。以故母氏流涕云。你為人子。豈無請醫救親之念乎。某云苟有可為。捨身何惜。母云。你忘卻伯師常舉當時明醫乎。某聞之。魂不附體。放下諸事。連夜飛跑。既至潭府。又無申訴之緣。坐以待旦。直至門開而已。且自因由乞憐於小子輩耳。予聞之。出廳呼入相見。見其手足齷齪。粗衣襤褸。著麻褲。舍短刀。膝行俯首而進。徐徐訴自如此如此。予聞之日。就你之言。病乃重耳。吾當撥暇便去。渠大喜。隨簥先導。直至島飼新家村也。父母聞之。含涕歡喜。親眷莫不踴躍焉。茶罷為之診視。一如其子之說。然其泄雖久。精明未壞。脈之浮弦而小。脈要精微論曰。病成而變者。風成為寒熱。又曰。久風為飧泄。蓋風從木化。久風不已。則脾土受傷而下利清穀。病名飧泄也。陰陽應象大論亦曰春傷於風。夏生飧泄。亦此類也。且其鄉。四至水田。一帶大河。常流不斷。其卑濕不待言也。因撮人參敗毒散二錢五分一貼。內人參焙用五分。加陳粳米五分。生薑五分。水二鍾。煎八分。作三次溫服。云良久間其內人哭至吾前云。丈夫不幸將絕。而靈藥亦難救濟也。予曰。何故乃爾。內人云。即今藥成病夫如教服之。一口輒大吐逆。顏變足冷。唯待斃耳。予憶藥病投機。安有急變之理。畢竟煎法有弊。乃問曰。水潔淨乎。曰淨也。曰持藥罐來看。其子攜至座前。予啜藥一口。藥極淡而有臭氣。揭而視之。乃用舊小袋煎之也。袋小藥多。築而裝之。又不先沸其湯。就生水急煎。故其惡臭也。如此耳。予打開藥囊。取出一新絹袋而與之。令將前藥裝於親囊之中。用葦薪煮之。命子伺候藥成。令病人再服數口。病人服之曰。我胸開矣。更服之。曰我心快矣。其妻子新族大服予之定慮。乃嘆曰。非神醫。豈能知吾輩之誤事乎。予回時再撮五貼而與之。曰三日後再通好消息也。三日後。其子來報喜曰。愚父蒙臺下神藥。病痊十之八矣。予詳問始末。而後改用東垣清暑益氣湯。每貼二錢五分。仍用人參五分。或去麥門當歸。或加粳米粟米。出入增損。六十餘貼告瘳焉。至今時饋嘗新物色不絕。謂報德也。斯民也。身居野外。義勝士子者多矣。</p>
<p>【泄瀉】河州佐藤善性年七旬。舁病來寓求治於予。醫士善龍相隨。詳言得藥始末云。三年前。中元后。傷於冷麵。吐瀉交作。用香砂六君輩。吐止而瀉未止。法眼山田元真以胃苓湯而瀉止。厥後凡食冷食。或多食輒瀉。元真以為脾胃虛弱。以補中益氣湯。加砂仁木香之類。凡五閱月。或止或瀉。改用參苓白朮散。以棗湯調下。瀉未止而惡食。故停藥月餘。去秋請青木玄知老醫。用六君木香升麻柴胡服至八十貼許。晝間之瀉雖止。夜來依舊瀉二三次。腹脅作聲漉漉。溏泄如冷水焉。乃去升柴。加乾薑。調理半年。頗不惡食。腸鳴雖已。夜泄自若。今春再請法眼元真主藥。真曰。老人久病。不宜強責效驗。須多服補養中氣之藥。自有平安之時。又為之灸肺脾腎三俞各五十壯。待灸瘡愈再報。前日壯數愈了。復報謂此二俞不可斷灸瘡也。所以然者。三臟虛甚。非特參朮補藥所能作效。而除其病根矣。善性然之。孟春始灸。孟夏報之。孟秋又報其瀉仍作。甚則夜三晝一。緩則夜行二次。自始至今。經三年所。其泄每夜無間斷。故心甚疲睏。面色青慘。年且七十。未知老病可能生乎。予診視其精明未陷。氣息自若。言雖輕微。語有收攝。脈之左手關尺弦微。右手三部沉中帶弦。予問之曰。素有疝氣乎。否乎。曰無。又問耐夏不耐冬乎。曰然。予微笑曰。吾藥能生。不死病也。於是撮正傳附余當歸厚朴湯二貼。以與之。限今旦服至明旦盡二貼。再來診視焉。次早復來求診。其脈大抵相似於昨。其面有喜色焉。曰。每夜行圊二三。昨服貴劑。昨夜只通一度。且不覺冷。而只溏耳。自得病以來。餌藥不缺人參矣。即今蒙賜之藥。甚辣不可於口也。予厲聲曰。善性汝能酒乎。曰否。予曰。汝既不飲。則沙糖與𥻓何如。善性自知失言。唯唯而已。予曰。醫者診病撮藥。與老吏據案結款相似。故臨機會難容一針之私。豈可因口之好惡而失治病之機。乃喪百年之命乎。性曰三年之疾。一旦將痊。喜而不勝。其所以錯言者在乎是也。望先生亮之。予遂與前劑二貼。照昨夜服之。次日脈色柔順。因連與十五貼。泄瀉止。面色潤。飲食甘。起居便矣。後教善龍調劑黃耆建中湯。百十貼。而得全愈。原方用良薑五兩。官桂三兩。當歸厚朴各二兩。上銼每三錢水煎食前服。　余應奎云。治肝經受寒而色青。慘厥而泄利者用之。經曰。腎司閉藏。肝司疏泄。肝腎氣虛為病泄瀉何也。蓋腎者。所處在下。大小二便之門戶。而肝者。又為門戶約束之具。肝腎氣壯。則能閉能束。故不泄瀉。肝腎氣虛。則閉束失職。故泄瀉也。又肝者。脾之賊。肝經正虛邪。盛未能制土。亦作泄瀉。此當歸厚朴湯所以實肝而止瀉也。</p>
<p>再按前方乃治心腹絞痛如刺。兩脅支滿煩悶。不可忍之高良薑湯也。四味中只當歸用三兩。余藥數相同也。出千全心藏方中矣。予得余先生之教。凡有腹內久冷腸鳴泄痢。服補脾胃諸藥不應。脈之沉弦緩小。症屬肝經虛寒者。投之必見其效。因查本草諸說。唯張元素有入足太陰陽明經之言。無入足厥陰之說矣。大明氏有主治轉筋瀉痢之言者。蓋兼入肝脾腎之謂乎。待明者辨之。</p>
<p>【瘧後肝經虛寒】在江戶治一酒戶婦人。年三十許。原娼家從良者。娶三年後生一女孩。形容端正。親族愛重焉。然其女多病。父甚愛惜之。每啼號便責其婦不知撫育。或少病亦責其婦不知母道。故令兒有所苦焉。其婦吞盡辱罵。嚐盡辛辣。少無怨恨人天之心。且事姑竭誠致敬。世希有也。聞前年秋。患瘧三十多日。服清脾養胃諸藥而瘳。今春末腹脅支滿。手按之。則自期門有聲漉漉。鳴至章門。京門。以至五樞上下。或以謂瘧母所為。針之弗應。藥之弗效。乞予治焉。診之左右沉弦而左似微。乃作肝經虛寒。因與當歸厚朴湯。加酒芍藥生甘草每貼一錢五分許。煎成冷服。服之三貼知。六貼平。用藥在夏六月。故使冷服也。至真要大論曰。必服其所主。而先其所因者是也。設在寒涼之月。全用原方可也。標一奇方效驗。分三症者欲教子弟求本治病云。</p>
<p>【痔疾下血】布施氏。年六十餘。素患痔疾。庚申秋月。燥令大行。大便結硬。數至圊而不能便。日久下迫廣腸。僻裂努出。其痔如榴花然。外科敷藥。雖收復發。後用針灸塗抹油膏。因大便時。清血隨滴。而痔依舊翻出。肛邊生瘡。癢而復痛。一醫內服外敷。亦不見效。一日登圊。忽下清血不止。事急請予診視。予至則倒於寢矣。診之兩手俱絕。不及問候來歷。令急煎人參五錢許。煎成緩緩灌入口中。少頃。其脈應指如蛛絲然。再三灌之。乃省人事。而能認得人矣。又撮補中益氣湯。如脾胃論之方之數復陞當歸。如黃耆之目人參同之。再加酒芍藥。充當歸之數。九味共作一貼。水二鍾。煎一鍾。作三次溫服。仍間服獨參湯。次早診之。脈洪而軟弱。予告其妻子僕從曰。久痔失血。脈當小緩。今反之者。難復其本歟。別請良醫可也。妻子苦求曰。家翁識先生久矣。一旦聞辭藥之言。勢必再絕。望先生憐之。予不得已再與前法調理三日。病者言行如常。只苦下疾臨圊翻出。血絲點滴不絕。且素好清潔。每圊後以溫水淨洗。而水為之色變。使婢拭乾。一任外科敷貼焉。不知外科妄貪速效。以砒礬硝烏枯痔雜藥搽擦月餘。臨圊雖寬。肛門腐壞。肌肉難生。每敷藥之時。其氣臭如屁者。從魄門衝出。恍如燃薪吹火之勢焉。予聞之。謂其妻孥曰。令家翁日飡之穀肉果菜有數。魄門沖泄之氣無限。魄門即肛門也。大腸與肺為表裡。肺藏魄而主氣。肛門失守。則氣陷而神去。故曰魄門矣。此雖出外科之妄。或由天命之盡耶。未可知也。吾欲使翁預知何如。妻子聞之失色。含悲而已。他日因收官債而有喜色時。予論及石崇豪富。範丹窮苦。甘羅早貴。呂望晚榮。顏子短命。老彭高壽。六人總歸天乎命乎人乎。渠笑云儒不云乎。死生有命。富貴在天。予帶笑曰。翁若天命有盡何如。翁笑曰全身葬在某寺足矣。其嘗與寺僧有約矣。良久曰。但官債未白。使某過冬收拾官債。付與兒傮。則世事亦足矣。豈貪老耄之限乎。予於是褒。其有超人之見。微笑而別。時十月望也。後易外科付貼稠黏膏藥欲保下吹之氣之泄少矣。於是每日撮人參養榮湯三錢半。外增新羅參一錢為一貼。其或見他症。如傷食。如感冒。如勞心。如勞動。則易藥處治。別煎人參膏以參末調和為丸。每服一錢許。日三。前後計用人參九斤許。及過殘臘。朔風匝地。嚴寒逼人。一如常時。飲啖自若。應酬禮宜。不知怠倦。其收放結算。有家人管理焉。新正啟賀停藥三日。自覺起居不便。四體無力。口失滋味。目不欲開。言不欲發。心神懶惰。乃云先生嘗云人參開胃消食。久服延年。諒不虛也。我停服人參三日。便成死態也如此。惜乎不早知此神草。臨死服之。亦能延我百日之殘喘耳。予聞之曰。為神農氏左袒者。其在翁乎。病者歡喜。依前服之。數日後。其神氣又復常耳。延至仲春之望。忽爾小便不通。自覺便道內無急脹之苦。外無點滴之水。唯溜入廣腸隨大便而出焉。此乃外科毒藥急攻。蓄毒於內。蝕於溺道而致然也。後又腐壞及臀。以至不救焉。前是冬初。與翁談及生死有分之事。翁願過冬收債為足焉。故藉大力神草。而補難補下脫之氣。假搖光紫氣。而延莫延有限之時者。實緣不期然而然之奇物也。詳記之。以遺子弟作榜樣云。</p>
<p>【怒氣鬱結浮腫】今橋定休年過古稀。精神不邁。收放官債為業。蓄積甚厚。近年來放多收少。忤情逆意。鬱滯有日。使抑鬱之氣留滯不散。停於胸膈。不能流暢。致腹脅虛脹。大腸虛閟。小便澀少。面目四肢浮腫。請後藤益庵調治三月餘日。其症弗瘳。更加口舌乾苦。飲食減少。或薦予為治。脈之左右沉中帶弦。予謂怒氣結聚。不得發越。升降失常。遂用古方八味逍遙散。白朮易蒼朮。倍柴胡茯苓。加越桃鞠芎香附醋製每貼二錢。燈芯生薑各二分。流水煎服。五貼許。小水通利。浮腫全退。口舌知味矣。於是改投薛氏歸脾湯。仍加越桃鞠芎香附。服五十貼後。脈得動盪。然而弦形尚在。因加酒炒白芍。又使服五十貼。脈症俱和。再去所加三品。及白芍。乃用原方五十貼而停藥。時壬申秋月也。　癸酉初秋。因追薦亡侄於法華寺。請僧頓寫佛經。於老心有所感慨。適僧請小食。強飡數口。自覺心胸不快。急舁歸家。忽吐所飡之食。及痰涎黃水。口不能言。眼不識人。昏倒於席焉。幸手下有人。知用人參急煎三錢許灌之。及予診視。口眼定動。頗能認得親疏耳。於是再煎人參五錢。炮姜一錢六分。強使緩啜之。又撮香砂六君子湯相間服之。次日六脈俱應。只沉弱矣。再煎參姜如昨。六君子湯少加木香以進。第三日亦照於前調養。厥後或單用歸脾湯。或二方合和。直至窮臘停藥。前後用人參四斤云。</p>
<p>【縱飲冷酒吐血】伊丹性有年四十許。性嗜冷飲醇酒。聞一月前。吐出紫血。倭量三升許。其為人也。勇健而不求醫。而乃云我平生所飲冷酒。何翅三升而已哉。若不吐去瘀血。日後生變未可料也。吐去酒瘀。正好多飲。恬不掛懷。任意飲啜不已。一朝又多飲而酒器在手未放。忽又吐出鮮血盈盆。若量之。亦不下壹升矣。命僕將酒來洗我胸膈。言猶未了。又吐鮮血數口。眼黑頭旋。忽爾昏倒。時僕從急請青木玄知老醫父子齊到其家。議藥。其僕有頗學醫藥名目者云。家主素嫌芳藥之氣。不待到口。嗅鼻亦嘔。望名手察之。老醫遂調五味異功散去人參而與之。煎成服之。元氣彌弱。手足不能舉動。有一世家與渠近鄰。又與之雅好。時適予過門。就拉予同往看病。予診其脈甚微。聞其呼吸不紊。乃大聲曰。性有性有。子平素喜飲冷酒不悟。有今日之事乎。渠脈脈不言。予於是用茅花一錢五分。揀參一錢五分。以河水二鍾。煎一鍾。徐徐服之。即日服一貼。次日又服二貼。進些稀粥。第三日脈色稍和。又教服二貼。與淡粥鯗魚。如此補養十日許而安。本當多養數日。填補血氣。因渠素惡藥氣故已之。而擇谷果肉萊。充其倉廩而已。良由年壯氣行而自愈也。或問失血過多。奈何不令多服補氣養血之劑。而只服人參不及三兩。即便止藥。無乃阿順人情乎。曰。經曰。臨病人問所便。渠既不便服藥。豈宜強之乎。予所以擇其谷果肉菜者。正為此也。藏氣法時論有曰。五穀為養者。養生氣也。五果為助者。助其養也。五畜為益者。益精血也。五菜為充者。實藏府也。經所謂氣味合而服之。以補精益氣。此五者各有所利。此聖言可師也。又聞之先師云。藥之治病。因毒為能。毒也者。以氣味之有偏也。蓋氣味之正者。穀食之屬是也。所以養人之正氣。氣味之偏者。藥餌之屬是也。所以治人之疾病也。五常政大論曰。大毒治病。十去其六。常毒治病。十去其七。小毒治病。十去其八。無毒治病。十去其九。穀肉果菜。食養盡之。無使過之。傷其正也。不盡行復如法云云。由是言之。用治之法。在醫者眼力定奪。或有未盡。再行前法。以漸平之。寧從乎小心之謂也。</p>
<p>【瘡瘍】泉州藤井法橋道安老母七十三歲。庚戌仲春。發瘍在京門帶脈之分。大五寸許。法橋昆仲四位。俱顯醫名於時也。昆仲相議。先用呂洞賓仙傳化毒湯。次用托裡消毒散。再用精要十宣散。一外科為之敷貼。潰後膿汁清稀。瘡口乾燥不赤而黯。咽膈不利。咳嗽黏痰。其仲子北村救齋與予鄰居於阪陽。請求赴泉。為母診視。脈之虛弦。予謂諸昆仲曰。令壽堂年過古稀。發瘍至今。潰膿多日。血氣必虧。須進獨參湯。大補元氣。間用十全散。或增溫中托裡之物。或投消痰化毒品。緩緩圖之。且元陽未至敗絕。飲食不減常日。治不失法。回生可期矣。脈之虛弦。老者之常例。潰瘍之當然也。但發於少陽多氣。少血之地。似為可慮於收合之際。然而瘡口雖闊。根盤似淺。可以動搖。得補托之內服藥。灸之外施。或可移於太陽背部。未可料也。法橋昆仲眼眼相覷。唯唯低首而已。予曰。外科書。所謂瘡瘍灸法。有回生之功。若未潰則拔引郁毒。已潰則補接陽氣。祛散其邪。瘡口易合。其功甚大。東垣亦云。毒氣沉伏者。或年高氣弱。若服克伐之劑。氣血愈虛。膿因不潰。必假火力以成全功也。遂教以附子為末。唾津和作餅。厚三分。安瘡上。以艾炷灸之。使微熱不可令痛。干則易之。如困則止。日灸三度。夜以太乙膏每一兩加石菖蒲末硫黃末各一錢。牛油五錢。木蠟三錢。一處溶和作油膏。攤在舊綿布。貼於瘡上。次日又灸三度。次夜又貼油膏。第三日赤處漸見。至七日夜黯處全消。赤肉漸生矣。於是改用東垣通氣防風湯一貼。每二錢許。一日與二貼。仍進人參湯一貼。至三日後。令搗萬捶綠雲膏攤貼太陽經旨門志室之分。以至瘍之小半以吮引之。又制象皮膏敷貼大橫腹結及章門。以至瘍之大半。以追推之。其上總以加味太乙膏封之。待二日後。剝而視之。其瘍將移於太陽經分之勢成矣。再如前法敷貼七日。內服補中益氣湯。加芍藥桂。增胡柴陳皮至十五貼。乃少陽之瘍移於太陽之分矣。猗歟藥中肯綮。有如是之奇妙哉。其法雖似怪誕。其實遠邇共知。故錄之以俟好事君子為榜樣矣。醫中微妙。書不盡言。言不盡意焉。後用生肌膏藥貼之。至三月餘。瘍平而收口矣。壽至八旬余而終矣。</p>
<p>【背俞發瘍】住吉社僧北之坊年六十餘。瘍發於背之上下二處。上乃風門。肺俞。厥陰俞。魄戶。膏肓之際。下乃胞肓。居窌之次。大四寸余。攝泉二州名醫。邀之殆遍。補以參耆。則妨礙飲食。托以十宣。則瘡口作痛。艾灸桑烙。其病越篤。因請予求治。脈之左沉弦有神。右沉滑流利。聞其為人。性直確。少言笑。常患氣滯。或腹脅痞滿。或大便秘難等候云。記得陳鶴溪云。凡癰疽不問虛實寒熱。皆由氣鬱而成。經云。氣宿於經絡。與血俱澀而不行。壅結為癰疽。不言熱之所作而後成。癰者。乃因七情有所鬱而成也。治之以遠志酒。獨勝散云云。聞其性格。察其脈色。遂投和劑三和散。全用原方分目。每貼二錢。加香附五分。水一盞煎六分。去滓溫服。不拘時候焉。或問前醫累用參耆補托。亦未見功。師用此藥。當得甚事。予曰。正由是也。此僧乃如陳鶴溪所言之候。而醫不先用行氣解鬱。乃用補托太早。所以壅結於上下二處。雖用艾灼。瘡色不活。用補便作痛耳。和劑謂此方。主治五藏不調。三焦不和。心腹痞悶。脅肋䐜脹。諸氣壅滯。肢節煩痛。背痛脅痛。有妨飲食。手足微腫。腸胃燥澀。大便秘難等症。故試數貼。觀其可不矣。服五貼二便通順。次服五貼。飲食有味。再服五貼。瘡色紅活。而不疼痛。再服五貼。痞滿漸寬。更服五貼。胸脅大通暢矣。僧喜曰。自服先生靈藥。不特今患得痊。乃覺舊疾亦脫體耳。因渠年老。恐香燥過劑。消耗陰血。改用參歸耆朮等物。便覺舉動不安。復用三和散。加當歸加川芎之數連服二十餘貼。稠膿滾出。而瘍口自平滿焉。記得丹溪先生云。獨勝散。治氣鬱血滯。而諸瘍愈後常服半年尤妙。此皆施於體實氣鬱之人。予見吳兄厚味氣鬱。而形實性重。年近六十。患背疽。醫與他藥。皆不行。唯香附末飲之甚快。始終只此一味。腫潰恃此而安。然此等體實。而又病實乃瘥。千百而一見者也。今此老僧與吳氏元氣大同。孰不謂其膿既泄。氣血乃虛。只宜純補哉。</p>
<p>【背瘍癰毒】阪陽糶米小倉店年六旬許。患背癰。其瘍初發時。先於七椎之傍。重著而癢。使婢爬之。其癢不已。因取艾灸之而不覺痛。因求外科處治。外科艾灸貼敷。初如豆大。三兩日如掌大。五七日小盆大。至十餘日乃發腫。上自三椎。下至一二椎。其闊六七寸許。其腫不高。亦不光澤。法眼元真疑是疽。初用化毒。次內托復兼用獨參湯五七錢許。病者胸腹䐜脹。妨礙飲食。且手背足趺微腫。其子恐生變症。冀請予診。脈之輕緩重緊。予投和劑熟料五積散去麻黃加人參。每服三錢。生薑大棗各三分。羌活黃柏各二分。水一盞半。煎一盞去滓溫服。或問其所以。予曰。東垣先生曰。生氣通天論云。營氣不從。逆於肉裡。乃生癰腫。陽陽應象論云。地之濕氣。感則害人皮肉筋脈。是言濕氣外傷。則營氣不行。營衛者。皆營氣之所經營也。營氣者。胃氣也。運氣也。營氣為本。本逆不行。為濕氣所壞。而為瘡瘍也。此邪不在表。亦不在裡。唯在其經中道病也。已上內經所說。俱言因營氣逆而作也。遍看瘡瘍論中。只言熱化為膿者也。蓋有言濕氣生瘡。寒化為熱。而為膿者。此瘡瘍之源也。宜於所見部分。用引經藥。併兼見證中分陰證陽證。先行營氣。是其本也。標本不得。則邪氣不伏。言一而知百者。可以為上工矣。由是言之。腫發不高。亦不光澤。雖多服參耆補托。其脈仍緩或緊者。乃濕氣所壞。而為瘡瘍。寒化為熱。而為膿者也。經所謂治病必求其本。吾故用之。欲成其事也。或唯然。於是使服三十餘貼。其瘍將愈時。加黃耆倍人參。又三十餘貼收功。</p>
<p>【腰脊生瘍】門人元貞子。壯年遷居新宅。日應世事。夜讀醫經。勤勞日久。腰脊間發出一瘍。大如碗許。腫不高起。色不光赤。托外科付貼。自用調理多時。膿水將盡。不能生肌收口。請教於予。予問用藥始末。貞曰。依方書之例。先用解散。次用托裡。自知血氣未甚虛耗。所以未服純補人參湯耳。於今多日。不生新肌。且瘀肉未盡。外科雖累易去瘀生新之藥。而不能成功。為之奈何。予診之沉緩。遂教用熟料五積散加人參少充獨活皂角針為引用。服未及五十貼。其瘍痊安。此與米價之瘍相若也。但因年之壯老。費工有多少之殊耳。</p>

<h1>卷中</h1>

<h2>治某侯病之案</h2>
<p>從孟冬二十六日。診候或似弦似滑。或寧靜四動半有奇。或流利五動。</p>
<p>十五日。辰後請候腎間動氣。某侯許候之。及候臍腹有動氣。自水分衝上不容築築然。不息升浮而動。腎間動氣亦浮。侯自覺上脘浮脹。阻礙飲食。予惶然曰。是何邪之所幹耶。眾醫教我曰。侯素有動氣。動定浮沉。乃過日不藥自息耳。予曰元有不忌。既若是。務宜保養。遂書養神保精調氣節食老老及服食慎忌等篇。及七情生克調理之法。（與加藤氏）</p>
<p>晚脈六部俱四動半和。而帶弦如條條然。動氣或動沖。或升沉如阻飲食。食物不爽快者數日矣。侯覺不容上下。皮厚而氣不暢矣。</p>
<p>十八日亥時。侯忽覺鳩尾下兩旁疼痛。更一條牽強如帶者。橫於中脘及胸脅下。或有塊如桃許。衝於脅下而痛。（加藤氏曰此乃少時乳癖自來有此塊耳）不喜重手而按。仍命加藤氏輕手按摩。少頃腹裡雷鳴。塊者下。強者寬。而痛漸止耳。然動氣築築然不收。侯自覺體倦身弱。而察聽輕濁矣。</p>
<p>脈兩手微弦。兩尺微弦而滑。（久拙）上養胃丸。三十不應。</p>
<p>十九日卯初脈弦而似長。貴症同前。命眾醫進藥。或擬上香砂平胃。及不換金正氣等劑。予正色曰。吾居客位。豈敢妄主藥方。冀諸位察其症候。省其平常。用其對症之藥可也。雖然。有淺見在。若動氣衝不收。則白朮一味。斷不可輕用。待其動氣收。然後隨症而用之。則無妨礙於動氣也。（年高且氣易閉而腎氣之動惡燥故）醫議已定。遂上正氣散。予曰。嚴寒傷冷。不拘於何方藥中。加以薑桂何如。（蓋有所思而發不特謂之必先歲氣勿代天和之誡）眾不允。紛紛議之。乃加木香乾姜。予亦不言。（二味雖溫治病霄壤）上一貼。（一錢加姜一分半）進小半服。鳩尾下衝動。再進小半服。又加疼痛。侯曰。是藥何如此之不快耶。醫議欲再進養胃丸。予拒之曰不可。是丸多主攻擊消導。前上三十不應。今又再進。此後再進。且侯年高氣弱。又無食滯。恐不勝其藥力矣。侯然之。命眾停服再議。自卯後足膝冷。察聽濁。</p>
<p>午後侯命進藥眾議不一。予懷一紙以待明授曰。數日來變症累出。以愚度之。宜先治其本。而後治其標。本者腎間動氣也。標者寒濕痰飲也。言動氣者何。蓋本乎腎間之氣動耳。症屬少火。象似震巽。人之軀不可無此火。亦不可恆衝動也。（似有似無曰正氣鼓手衝動曰邪氣）臍名神闕。一身之樞。居腹中央。若左右上下衝動不息。醫不急治。則變症百出。再失其治。不至於危者幾希矣。吾人為司命者。可不慎歟。</p>
<p>午末醫議擬上治中湯。（人參白朮乾薑陳皮青皮甘草）予曰。是藥近於治者也。宜去白朮。（前言重出乎此耳治症論在節庵六書入門醫鑑書）蓋腎間動氣衝鼓不息。要急治。不然。則成奔豚矣。（謂動氣築築然不息衝動如豕之奔耳）加肉桂一種。引火歸宗。則動氣自收。足膝溫暖矣。亥時初進加減治中湯。（一錢姜一分半）一貼三分之二。動氣收過半。足膝回暖。脈浮細數六動有奇矣。醫疑其脈數。予曰。溫藥中病。動氣將收。寒氣將散。脈當如是。然胃欠穀氣。脈色不潤耳。勸侯強粥數百顆。至子時末脈和五動矣。</p>
<p>丑時末。侯起身小解。覺惡寒半時許。索藥而飲成服。（加藤氏對候曰惡寒若退微熱至矣願勿以為慮矣）</p>
<p>寅時末。微熱至。脈又浮細數。醫又疑。各各主意不定。又以前言寬解及乎諸子。</p>
<p>二十日。辰時前藥進二貼。動氣收。足膝溫。脈和五動而帶弦滑。侯又索藥。眾曰。藥力勝病。恐生別症。勸停藥強食。侯以為然。</p>
<p>午末大便稀泄。（酉末又稀泄五盞許）</p>
<p>申時末。脈六動許。尺似弦帶滑。面瘦倦睡。肌體弱。侯自覺胸脅下似有物相礙腹牽強。醫議欲進藥選人參養胃湯。（人參草果茯苓蒼朮半夏厚朴藿香陳皮甘草）予固拒之。考其方曰。草果辛溫。厚朴苦溫。不宜濟乎脈數肌熱困倦之候。蒼朮甘燥。藿香芬燥。未卜用於面瘦體燥牽強之症。半夏之辛燥。茯苓之淡滲。得其助則能理脾氣而不偏。失其助則反燥胃液以成伐。參陳甘草。雖能調中州。若佐使不得其正。反增其病。勢使然也。吾不言乎此。牽強而痛。動氣再衝。還有何手段之治術耶。唯患其後患。不得已而呈其萬一矣。醫拱手曰。然則奈何。予曰。中侯之病者。溫補脾胃。調養氣血不滯不偏之品也。雖然。今日藥力偏勝恐生變症之際。宜暫進行氣香蘇散。（去麻黃減甘草）一貼五分。生薑二分。從容服之。待藥行氣周。風寒及夾飲牽強些寬。再以溫平之劑調理如何。醫然其說。至夜戌初進小半服。氣惕胸寬。而痛不減。微喜按摩。至亥時氣行吐留飲一盞許。亥末泄二次。</p>
<p>子時初命疹。（加藤氏診脈五動六部和利貼肉而有力一齋摩腹謂中氣想弱腹間弱無礙手者）</p>
<p>醫又議換方。予曰。前方劑之輕者也。（陶氏曰輕可以去實者邪氣也邪不去正何由養）醫不決。予曰。若如是。只以治中散二分貼飲下之可也。眾議畢上治中散二次是夜。（瀉暫止而熟睡尿赤）半夜後。又議進六君子湯加乾薑木香生薑。（一分半）予曰。六君乾薑用之固當。木香之加有何臆說耶。醫頷之。遂議定進六君乾薑。（一貼一錢加姜三分）寅末上大半服。（作二次服）</p>
<p>二十一日。卯末脈五動有奇。似滑而潤。侯覺胸滿。候之腹間。少有動氣。眾強藥言後自寬矣。</p>
<p>午前泄一次。午後吐留飲五盞余。申時又泄一次。（似飲者三五盞）侯問如此吐泄。屬甚病因。去冬之患。亦猶是耶。（仙齋有傷濕之語）晚上前方。至夜熟睡。（是日食飲少進）亥時脈和。</p>
<p>二十二日。辰初診脈五動有奇。而和帶滑神氣和。（巳時尿少清）</p>
<p>戌時脈五動余。而和帶滑。有動氣。在中下二脘。是日食飲少進。言語聲清。侯言上脘如有物礙耳。然按之。肌肉間。並無著手者。想留飲之餘耶。（是日夜醫言上前方二貼）</p>
<p>亥時後。口燥咽乾。痰黏聲濁。子後泄下而上脘時加痛。</p>
<p>二十三日。卯時脈左和利而滑。有弦勢。右三部和利之中。有動盪之形。侯言覺胸膈不快然矣。</p>
<p>予謂二十一夜。六君乾薑倍母姜作三分。以進者。一以利參氣。一以散寒飲之設也。又且本因動氣未收。經曰腎惡燥以辛潤之。開腠理致津液通其氣也。（觀乎此古聖之格言焉可不從而自慕耶）不測醫不倍母姜。竊添木香。妄自是。及乎察脈審候。疑其藥之添病而吐露矣。（藥之技至如此）因再勸諭曰。前木香之加。且置勿言。六君之中。去白朮加（乾薑等分母姜三分）者。藥之應病。大有意存焉。白朮性燥而閉。閉則氣不通。氣不通。則痰飲聚而聲濁也。燥則胃失液。胃失液則口燥咽乾也。脈既利。宜以此方調之。無失治其中也。然滑形之脈。示痰飲之將聚也。當是時也。不可強用治術。宜理正氣。補中州為主。間服以參朮膏。每二分許。子午二時。津下。或謂既去白朮之燥閉。又用參朮膏。亦有理耶。予曰然。去之者湯劑也。用之者膏劑也。湯劑性猛而閉氣。膏劑性緩而潤土。古聖用藥之得力者。在於斯也。（上藥後一錢貼）</p>
<p>晚脈左右五動有奇帶滑。（亥後更衣泄止矣）</p>
<p>二十四日。辰時初。脈左右六部平靜。而流利。大有復元之機。腎間動脈亦靜。然而更有邪之餘動。侯言夜來順睡。五體調和。胸脅爽快矣。察聽亦清。（日進前藥一貼及參朮膏三分）</p>
<p>晚脈五動靜帶滑形。心脈躁。想思慮所役耶。或痰將聚耶。（或疝氣耶）侯曰。適間小用心耳。（是夜進前方乃參朮膏）</p>
<p>二十五日。辰時脈左右寧靜五動少躁。有上下去來之勢。衝陽太谿脈俱和。動氣依前未全收。言清色潤矣。侯曰。夜間好睡耳。</p>
<p>午前命進藥。予懷一紙。再待明授。醫議欲加減前方乃出愚按曰。連日進二陳參姜。痰氣稍不滯矣。尊年容平失調。冬發飧泄。幸今少止。然則養陰之法。不可忽也。經曰。陰者藏精。陽者衛外。陰不勝其陽。則脈流薄疾。陽不勝其陰。則五藏氣爭。是故調養之法。不可偏勝者。有明訓在。考諸二陳善治痰。過則燥血。參姜善調氣。多則虧陰。況脈過息尊容瘦燥乎。宜加養血之品於方中。一以潤脈息。一以復瘦燥。一以養其陰。則免患來春之痿厥。抑又不失其中矣。脈息潤。則陰陽和。瘦燥復。則內外調。養其陰則氣血從。不失其中。則氣立如故矣。未知眾位以為何如。醫然之。遂加當歸於前方。（進一貼一錢加姜）</p>
<p>晚酉時末。六部靜而帶滑形小躁。比昨大靜。比今晨少有躁。侯曰。午後用筆紙而使然耶。（上藥二次參朮膏三分）</p>
<p>二十六日。卯時末左五動流利。關帶弦滑。右和。關有弦形。左腹有氣。自五樞上循天樞左旁直至期門而動。小水自昨不清。食飲如前。雖進不爽矣。愚按左關弦滑。肝邪使然也。腹左氣動。木氣獨專也。小水不清淨。腑不潔也。右關脈弦。且食飲不爽。乃木氣干乎土而胃氣未周也。原有疝症。乘其勢衰。左之右之。變其症也。雖然尊年積病不可猛攻。待其勢退。肝氣復正。脾不受克。自然飲食爽快矣。古曰窮寇勿追是也。（是午停參朮膏）</p>
<p>申時脈五動和。然而六部中尚在弦勢。且停湯藥。以飲食調理中氣。</p>
<p>二十七日。辰時脈左關帶弦滑形。餘部和。（是夜熟睡）侯問曰。據眾醫診候脈既自昨和順。何其飲食不爽耶。曰言尊診和者。就其症因而謂也。肝部弦滑。乃知餘邪未盡也。雖然有說焉。難經曰。少陽之至。乍大乍小。乍短乍長。難經曰。少陽之氣。王於冬至。後六十日。陽氣尚微。陰氣未退。故長數為陽。疏短為陰。而進退未定也。（察病指南曰獨左手關脈如此則謂之少陽膽脈）脈既見少陽生髮之機。內養其精氣。外調其飲食。則可以指日復元耳。（午上參朮膏一分半生薑五分煎湯下）</p>
<p>夜酉時脈六部和五動。左關少有弦形。</p>
<p>二十八日。辰時脈六部機蕩有弦形。左關弦滑。右尺有力。侯曰。清晨漱口誤吞熟水。因欲和其水。就食稀粥而使然耶。</p>
<p>午後六部寧靜五動。（小水清大便固）</p>
<p>酉初六部流利。左關些弦。少有動氣在上脘左旁。予曰。一連停服三日。飲食如前不爽。怠倦不已。又且好睡。可勿藥乎。醫曰。累年病後如是。過乎數日後漸得痊而進膳耳。曰是何言哉。君年氣弱。年不及年。月不似月。束手而待痊。無乃欠主張乎。藥有常服久服進食養補之品。倘專患不食。亦以隨症施治。何況高年病後。闕其調理之法耶。</p>
<p>加藤氏曰。昨晡進膳少許。至更深不消。滯於胃口而脹。命一齋按摩少頃。侯曰。胃口寬矣。可菊診脈數。至丑時寒熱作。少頃寢汗。遂進稀飲少許。而睡矣。予曰昨若進藥補養。不至於此也。</p>
<p>二十九日。診得脈五動浮。左似和而滑。右似和而微滑。醫僉曰。脈和。予曰不及六部。少機神而上下去來之勢微矣。按腹左右寬闊。唯中脘有滯氣。似礙指而響碌碌。甫元曰。朝來按腹欠上下之氣脈耳。予曰。指哉乎。泉庵曰。痰之聚氣之滯也。痰聚則滑。氣滯則欠神矣。予頷之。醫議進藥。予曰。就前方治中湯。（人參乾薑陳皮青皮甘草茯苓母姜三分）醫曰去白朮加茯苓何謂也。予考其方曰。</p>
<p>參苓甘草四君之純良。古人以之調氣弱。陳皮國老二味之甘平。局方以之消痰聚。青皮之用何。一以平左氣之專。一以安脾下食。乾薑之佐焉。一以退虛熱與寒。一以調養天和。析而論之。數日食阻。賴以二皮。乃丹溪良法。半夜寒熱。用以二姜。亦本草明訓。脈欠機神。參甘以補之。腹有礙滯。青陳以平之。茯苓之加。寧其神志。導其丙丁。消其聚飲。清其水也。白朮之去。解在前篇。（上藥一貼一錢三分之二）</p>
<p>二十九日。晚脈五動和利似滑。腹間動氣微。腎間動氣浮。左腹沖者緩。侯曰。晡後覺鳩尾下寬暢。不日能進食耳。（是午後養庵診候附耳良久）</p>
<p>十二月朔旦。脈六部機神蕩動。按之似滑。舉之和緩五動許矣。可菊曰。五更巨闕下微痛。瞬間寧定耳。按腹間動氣少許。在中脘建里間。（一齋子曰子果不諳常法調理也侯意若是予何敢進曰豈然哉予走筆以答既有降邪手焉無復正才五湖煙景好容我問陶來）</p>
<p>愚謂自違和前五六日。邪勢甚剛。變症數出。幸藥力行正氣立復。後五六日。或藥或停。唯待進膳而後已。今也附諸常侍醫員依常日調理。則不失其常法耳。譬之帥之克徵。凶盜伏首。唯其約法安民矣。克徵者帥之事也。安民者吏之役也。出帥入吏。吾豈敢能。非未學也。乃不諳其常套也。今盜已伏。唯民是安。吏盡其法。民若反為盜。乃吏之失也。非帥之過也。知言者鑑諸。</p>
<p>晚脈左五動。右五動半。按之有力。舉之似澀。（疑何事耶問諸左右不言）按之腹間建里有塊。碌碌而響。期門不容水分。俱有動氣。獨中脘建里最甚。（未時泄而少）</p>
<p>二日。辰時脈五動余。按之肌肉。而得似靜。僉曰脈和。予謂少氣。</p>
<p>未時更衣。多於常倍。色赤黃不成塊二次。（一常一倍）</p>
<p>晚脈五動似靜。僉曰和比之數日脈候。今晚大好。獨加藤氏為最。予出謂人曰。脈數減動。莫因便後腸胃無物而然歟。明理論曰。病之虛實也。出者為虛。入者為實。自達和十餘日。進膳甚少。胃乏水穀精氣耳。前泄四次。昨行一次。晡又大通質粕。唯恐倉廩受盛傳導數官失職。而不能留水穀矣。經曰。胃滿則腸虛。腸滿則胃虛。更虛更滿。故氣得上下。五臟安定。血脈和利。精神乃居。</p>
<p>晚診似和。由欠穀氣。使血脈虛而然耶。加藤氏曰。動氣靜矣。予曰。精氣少。中氣將憊耳。</p>
<p>子夜後胸腹痛。時半許。</p>
<p>三日。脈五動余。細滑。動氣自丹田起臍旁。中脘不容俱動。左期門尤盛。足趺陽脈浮弱。太谿微。（足趺少浮）</p>
<p>侯曰。口乾咽燥甚矣。良久曰。無一點食氣矣。（加藤氏傳言自今日服養庵藥）</p>
<p>晚脈五動零。細滑。僉曰。幸脈如常矣。侯曰。脈既和。膳焉不爽。僉曰。天寒雪凍。因之不順也。予曰。言脈寬者稍與病相稱也。脈似沉和乃少膳。及更衣之多。因之如是耳。自朔晚大同小異。動數未減矣。</p>
<p>侯曰如是。（二十三日進參朮膏大補中土者唯慮其虛弱而有此趺浮耳）</p>
<p>四日。辰時脈五動。似和靜。少上下去來機神。僉曰。大好動氣不息。</p>
<p>晚脈五動似辰脈。僉曰和。予出謂眾議論不一。動氣如晨。侯曰。食物則脹。未知何理。予曰非小人之所知。（養庵獨主藥方無所考也）侯曰然。</p>
<p>五日。午後脈五動。衝陽太谿脈有力。（對元伯論症與田井氏看腳及肢瘦等）</p>
<p>六日。午脈左右五動。機神流利。自朔晚脈失調未診如今之機神矣。衝陽太谿有力。動氣在中脘建里宗氣脈應手弱。予謂藥必去其攻劑歟。且某次君回鄉因茲使然耶。</p>
<p>晚脈五動無力。氣口澀。次君細問症候。予曰。雖曰自十八日未逾兩旬。聞初冬中浣外感以後。將及五旬日矣。尊年氣弱。藥草更治。中氣必也勞倦。膳微多日不及半斤。自初三日。足趺虛浮。肢體困倦。先朔日後不聞神方。唯診其脈。脈色甚變。症候參差。不知其所自矣。按難經曰。虛為不欲食。評林曰。但食與不食。系乎虛與不虛耳。夫脾者。為胃行其津液。磨胃中之谷。主五味也。脾既虛。則轉輸失職。而飲食不磨。食不磨。則胃必因而病。故有必腹痞滿。臍腹作痛。或惡食。或飧泄。口不知味。四肢倦怠。發熱憎寒。可見脾傷胃亦傷也。此古人之格言。今侯之違和。與夫前言。初則小異。今則大同。過於斯者。足趺虛腫。動氣不息。乳房乾燥。體瘦聲低之數症矣。其可以反其治。以用其消食止痛燥土之劑哉。此數端君莫嫌過於懼耶。程氏有云。聖人臨事而懼。儒曰一則以懼。況愚而自是不遠慮乎。次君曰。足趺之腫。或曰濕。曰氣。未知孰是。曰高年纏病。飲食不爽。乃脾土之氣虛。不能藏太陰之濕。夫飲食入胃。無非濕土之化。脾弱不能剋制。則變邪氾濫妄行。故先注足趺四末而浮腫矣。口不大渴。二便皆順。明非外邪所襲。乃土中真氣不實。而假邪使然也。易曰。至哉坤元。萬物資生。此古聖補養中氣。以土為萬物之母者也。若土一虧。則五藏百骸。皆無以受氣。日增羸弱。而趺腫。乃脾氣不能運行矣。曰。既若是。當用何法。曰新病久疴。治法不同。先聖明訓。載於方冊。焉用贅為。</p>
<p>七日。卯時脈左右四動半有奇。</p>
<p>晚脈左四動半有奇。似滑。右四動有奇。似澀。予曰。動氣上乎左。穀食礙乎胃。及問候不差。</p>
<p>八日。晨脈四動沉靜。動氣在中脘下而靜。</p>
<p>晚脈四動半似滑。動氣在中脘而靜。</p>
<p>九日。晨脈五動。左躁右似滑。侯曰。夜來心動矣。足脈靜。右趺腫退些。午四動半弱。晚同。</p>
<p>十日。巳末脈五動弱。趺腫進太谿脈微。侯曰。此二日食物如嚼砂。胃口不快矣。想邪氣似退。唯脾胃不和耳。醫診如何。予曰誠哉明哉。</p>
<p>晚脈四動半有奇。弱似澀。侯曰。服參苓白朮散可乎。予曰可。侯曰。異功散加升麻柴胡苡仁可乎。予曰不知其可不可也。侯曰。參朮膏聻。予曰不可闕也。</p>
<p>十一日。脈五動弱。中有上下之神。動氣降於臍之上下四圍。足衝陽太谿無力。宗氣應手。氣衝和。趺腫退三之二。按前一日。侯曰。吾病不似常例。口不渴。頭不眩。心不怔。二便無礙。唯覺四肢無力。食物不味。乃病在脾胃也。眾宜細察云云。昨夕又曰。吾服參苓白朮散也。朝又曰。此症服歸脾湯之候也。（眾醫枉措予大嘆服）少頃。加藤氏傳命曰。異功散。雖能補土。胃口覺燥。加陳米何如。眾感服。予走筆書曰。（幾句病因出自然始知高傑拔群仙延齡豈假俗人力方信壺中別有天）</p>
<p>晚脈左右五動。氣口似有生髮之機。人迎以下。似有疾在。</p>
<p>十二日。辰脈四動余。不流利。按之渾渾然。侯脈從來天晴則清。天陰則渾。予嘗試之。果驗。不知所以然而然也。</p>
<p>午天霽。脈色清。五動弱。</p>
<p>未時。更衣濕硬相雜。多於常之倍。（出二次一常一倍小水清）</p>
<p>申前聞服白朮散。（全用甘草其味甚甜）少頃。腹左右少陽厥陰之分微痛。不喜重按。命一齋輕摩良久。侯曰。此痛屬何因。醫僉曰。乃疝氣耳。是夜三更惡寒戰慄。半時余。又發熱出汗。時半許。尊侯甚疲。侯曰。食飲不知其味也.</p>
<p>十三日。早脈五動半有奇。浮弱。兩尺極無根。</p>
<p>午後溏泄色青。至晚數次。半夜一次。尊侯大疲。四末虛熱。摸之腹間。如爛絮無力。命一齋按摩。大慮中氣虛弱。小腹皮竭。恐成遺失耳。</p>
<p>晚脈五動半有奇。浮弱數而散無根。尊侯大疲。眾醫不及言候而退。欲進方藥。並無一草之上試。唯皺其眉。糊其口耳。</p>
<p>夜深。次君及家宰並諸武衛數十員。迫予撮藥上進。予何醫哉。敢嘗關係大任耶。固辭而退。前是午諸武衛請次君上廳召眾醫相議調治。或俯首。或默口。一無啟齒者。又召針醫元伯者。伯曰。今日動氣止耳。腹雖軟弱。是藥力將應而然耶。予曰。爾言動氣者。蓋陶節庵所論之動氣歟。謂其人本有痞積。被庸醫誤試攻擊之劑。以致痞塊衝動奔走。築築然不息。如豚之奔。得其治則安。失其治則危之說也。方侯之動氣。不似前論新症。乃二十年舊疴。升浮降沉不時。況此番未有止治之法。何動氣一止如是耶。莫正氣內虧。氣血不能守衛。而邪氣亦無力以動。因此外候假似寧靜乎。伯曰。未可知也。予因言於諸醫曰。侯之違和。雖曰唯脈是診。由乎數變其候。或弦數浮滑。或微澀遲弱。或失上下機神。或無去來動盪。因藥攻補。因食多寡。隨早隨晚。並無一定之候者。想病勢之使然。及其精微。匪吾傮所明察。必也待其聖於醫。神於脈者出。而後決矣。閣是勿言。且論外候數端。與眾共議焉。侯之尊庚八旬。一也。動止常弱。動輒感傷。二也。容平肅燥。大失調理。三也。食飲減少。四也。日漸羸瘦。四肢骨立。五也。動氣不息。因時系動。六也。腳趺虛腫。七也。痞疝牽痛。痛則疲倦。八也。數成溏泄。九也。痰飲時。作十也。天寒氣冷。時令不順。十一也。山野感傷。日經五旬。未有確治。變成數症。綿纏不脫。十二也。不得明醫。病由何痊。十三也。此數者。乃眾人目擊。不特醫者。雖樵牧亦知之為重病矣。其營衛氣血經脈臟腑之虛實。及乎氣運往復。土地異宜。標本得失。亢承害制。閣之勿論。待明眼而辨焉。眾位侍醫。年深必有妙劑。局套願出國手。而為焉。若再失正治。日甚一日。日疲一日。將顛困之際。安可柱投試劑。而束手坐視乎。眾罔答而散。（養庵日待吾診而進劑耳後聞上四君柴芍而溏再上四君木姜不止）及更深。侯命診焉。脈左六動余。而浮。機神不調。右浮弱散。侯曰。吾病篤也。爾何袖手耶。不妨為吾調治焉。予不敢答。唯鞠躬而退。次君強撮藥上試者數。予不能數辭。同幸庵子泉庵子議曰。據侯數症。原失其調理。變症各出。而成其利害耳。不可以小方單劑所能為也。宜急上人參湯。間上湯藥。或上丸丹。察其變而正。看其虛而補。務要活潑。或陰或陽。或正或邪。待其機而應之。則可。若言常套局守。則不可也。二子同其說焉。</p>
<p>人參湯　人參（一錢）　晚粳米（一錢）　上貼水煎</p>
<p>考其方曰。人參復真元於無何有之鄉。陳米養坤元於利牝犛馬之貞。形氣不足者。溫養以氣味。故用人參之甘補溫潤以調之。治其物者。求其屬。故用粳米之甘平純補以養之。有生者曰形。曰氣。曰脾胃。此不可須臾忽也。數症兩聚。原乎真氣弱也。三旬少膳。乃爾胃氣憊也。二味之用治病。必求其本。（當斯時也變症姑舍專以此為本者焉）豈曰不宜。</p>
<p>湯藥方　炙人參　熟地黃　生黃耆　乾山藥　土白朮　茯苓　姜杜仲　補骨脂　廣陳皮　五味子　煨乾姜　酒當歸　肉桂　澤瀉　炙甘草　右劑（一錢）　晚粳（三分）　炮生薑（一分）</p>
<p>曰尊庚八旬。不宜攻奪。故用前品之純良。以固其精氣神之三真。容平失調。故用方中八味丸。以潤金水。乃清其源。則派分也。動輒感傷。故用方中當歸補血湯。一以調其營。一以充其衛。營調則無內傷。衛充則無外感也。食飲減少。故用方中異功散。補其坤土。土一健。則食飲進也。羸瘦骨立。故用歸術湯。以補氣血。則內實而外充。肌肉自復矣。動氣衝動。故用方中肉桂。理中湯以和之。待其真火歸宗。則動氣自收也。腳趺虛腫。故用方中術蕷以成堤。澤苓以決瀆。參耆以升提。則中國以治平。何末症之有也。疝氣牽痛。故用方中暖腎丸以濕之。苓朮桂甘以和之。何疝痛之不除哉。數成溏泄。故用方中二神丸以斂其下關。痰飲時作。故用方中仲景澤瀉湯。局方橘紅湯。一滲一行。痰自消矣。天氣寒冷。故用方中薑桂湯。謂其勿伐天和也。數症綿纏。故用多品合方以緩治。待其臨機以變通。應用無窮。活其套也。不得明醫。故不專偏。不猛奪。暫養陰陽以適中也。其有見垣一方者。予豈敢是前論焉。願正諸。（上人參湯前方各上）一貼。</p>
<p>十四日。脈五動有奇弱。（是日卯午酉三時泄下其色青）</p>
<p>午脈五動零弱。（方同前各上一貼）脈不似昨之浮散。至是而斂。且將靜耳。</p>
<p>晚脈五動弱。趺腫退十之八。動氣浮動矣。</p>
<p>前方（去乾薑）　加良薑（一分）</p>
<p>按侯脈常帶弦形。自月初失其常候。脈神混矣。且侯素有疝症。及患肝氣。待醫以疏肝抑木為主治。昨之溏泄。面候慘寒。其脈浮弱。其色甚青。其發寒熱。其痛弦急。共屬肝部之症。故用方中當歸補肝血。肉桂行肝氣。良薑以溫肝。乾薑以理肝。則疏泄止矣。</p>
<p>十五日。脈四動半有奇。似弦形。（左關應之）一齋按摩曰。胃之上口。痰將聚矣。（加藤氏曰製半夏如何予頷之）</p>
<p>前方　加半夏　良薑</p>
<p>晚脈四動有奇。左右似弦而緩。</p>
<p>前方　加半夏　良薑</p>
<p>十六日。辰脈左似滑。形欠流利。又有神在。（午里見保庵診）</p>
<p>前方　去半夏　良薑　澤瀉　粳米（可菊曰當體東垣以風藥何如予曰然）　升麻　加防風　桔梗（各少許）　砂仁（三釐許肉桂換薄桂）</p>
<p>按脈似滑而不利。欠升降不至五動。一齋按摩巨闕間似碌碌之聲。侯自覺有物礙於胃口。如阻飲食。此無他焉。食飽入胃。化其精微。上輸於肺。脾氣虛弱。不能薰蒸。以致精微滯於胃口。似痰非痰。似脹非脹。久則變飲變濁。變溏變腫。或礙於胃口作痛。或阻闌門而響動。可見每經二候。先礙次痛。而後溏則肌如削矣。治以辛溫升之劑。辛以分其清濁。溫以調其津液。升以提其精微。則胃口寬而碌碌息。礙痛止而飲食進。溏泄和而肌肉澤矣。或曰。前品半良澤粳。既有應機之功。去之如何。予曰不。曰藥之成而退。為其品多。反成混雜。姑暫置之。仍加防升梗。借其輕揚升浮舟楫。以就固真之能也。少加砂仁。引其苄梫歸宿丹田。調其樞也。</p>
<p>十七日。脈四動有奇。有上下之勢。無澀弱之形者。藥應之耶。病將復耶。（是午前小水清而多內帶濁者以謂清者升乎上濁者降乎下耶）</p>
<p>午末前泄未固。下一次。覺胸寬痞散。尊體暢利。予曰寬之者。升提之應。泄之者。補肝之小。當如是也。</p>
<p>晚脈四動有奇。大抵同辰診。</p>
<p>前方　加良薑　粳米　暫去輕升之品</p>
<p>是夜泄止熟睡半夜許。翌旦尊容轉悅。察聽清亮。容顏開耳。</p>
<p>十八日。脈四動有奇。大抵同前。（上人參粳米湯）</p>
<p>是午里見保翁診。曰。和論症次教我以方焉。曰外臺茯苓生薑湯服之可也。予從之。</p>
<p>前方　人參　陳皮　茯苓　生薑　白朮　當歸　砂仁　肉桂　良薑　甘草（加枳實名茯苓生薑湯外臺方）</p>
<p>去杜仲　五味　骨脂　熟苄　山藥　澤瀉　黃耆　粳米</p>
<p>或問用前方得驗良多。固賴杜苄脂耆蕷粳五味之力。何故去而不用。唯劑氣藥之十種歟。予曰然。吾聞之耳。用藥如用兵。方其陳勢也。譬之全方多品。猶若八陣大軍。左擊右擊。奇正相應。則不失其隊矣。侯之違和數症往復。前者全軍以平之。及乎今也。陰陽雖未全周。趺腫退。動氣止。肌體澤。脈色正。察聽清。唯其食艱進。痞難暢。胸不寬。泄未止耳。暫憩補陰之劑者。若兵之柔也。特遣調陽之品者。如兵之剛也。故用兵者。察其所當擊。或強兵突之。或輕騎劫之。所謂攻其不備者也。用藥者。明其虛與實。或甘溫補之。厚味養之。所謂臨機活潑者也。十種之用人參。為主帥以樹中營之幟。白朮為戶部以充倉廩之富。良薑肉桂當歸補將軍血氣。以固其疏泄。陳皮茯苓縮砂輔中軍以防痞脹。炮干二姜為先鋒。開其道路。則胸膈寬而水飲不滯。甘草者誰。當用武之際。可無國老以輔政。相緩其勢乎。待明日剛者柔。逆者順。合總軍以簪貂有何不可。</p>
<p>晚脈四動半。上下去來有機。</p>
<p>十九日。辰脈四動半有奇。大抵相若。（上前方固真飲人參湯一錢）</p>
<p>是午又泄一次。比昨少而濃。</p>
<p>晚診同上。（前方固真飲人參湯八分）</p>
<p>二十日。辰脈四動半有奇。大抵相若。右氣口似躁。而滿指下。</p>
<p>午鳩尾下疼痛。按之張弦。脈五動半有奇而躁。</p>
<p>侯曰。前疾又發。肢體弱不禁其痛耳。予曰。標則相同。本因實不同也。以藥解之必也止矣。侯索藥遂上加味香蘇散。</p>
<p>酒香附　廣橘紅　紫蘇梗　藿香梗　縮砂仁　姜厚朴　橄欖肉　淡蘆根</p>
<p>上一貼八分。生薑二分。武火煎成而進焉。侯服五口。痛減半。服半貼。痛漸止。全貼疼痛如失。</p>
<p>按侯常嗜鯽。因數症往復。終不敢進。此三日病勢似弱。藥力似應。脈色不雜。然膳不進為患。因此特上鯽羹以為進膳之設。不意鯽羹滯於胃口而發痛。故用橄欖蘆根以解其毒。香砂藿梗以通其氣。（通則不痛）橘樸以消其物。（消則不滯）蘇梗之用。下其氣也。（氣下則暢）又曰。香蘇之設。一以治其疝。一以通其數貼之藥力。一以消其內蓄之腥氣耳。（上上一貼停服）</p>
<p>晚診六動躁。痛雖漸止。體倦食減。予又上丸藥五十丸。（作三次而進）或曰。是丸性溫。不宜上於脈躁體倦之際。未知有見識焉。予曰。侯之違和。每與常異。自一月以來。痛則寒熱發。疝氣強。溏泄頻。以致危急者。有前轍矣。故用是丸。一以固其溏。一以調其疝。雖有寒熱。由乎疝溏而發也明矣。又曰。溫能除大熱。溫能調大寒。用之有何不可。體倦食少。乃正氣虛耳。待明日寧靜。暫留煎成固真飲以進之。未為晚矣。</p>
<p>丸藥方　良薑　乾薑　故紙（各十錢）　杜仲（五錢）　五味　肉桂（各三錢）　姜樸　酒歸　吳萸　小茴　肉蔻（各一錢）　白朮（二錢）</p>
<p>上生薑（五錢）煎湯調石蓮粉為丸。</p>
<p>考其方曰。良薑乾薑。乃局方二姜丸。用以治其寒痛冷泄也。故紙五味。乃濟生二神丸。用以治其腎虛痛瀉也。杜仲故紙乃青蛾丸。用以補暖下焦之虛。而且泄也。肉蔻五味乃石山肉蔻丸。用以止住脾腎之泄而虛寒也。桂樸歸良。乃丹溪治疏泄之要。茴茱蔻味。乃東垣治經年之溏。合六方以治其三冬寒疝痛泄。敢曰的當。調二品以緩其眾味燥熱。尤謂出格。唯明者辨焉。愚者雖不悟焉。足恥焉。或曰。寒熱臨發進之何如。予曰。症似各逞本。出一端弦進丸數。真寒假熱。勢自伏而疝定泄止耳。（遂上半夜痛大止似有寒熱之作然不多耳自翌日再不溏泄天明時進膳少許）</p>
<p>或曰。是丸唯可以治其泄及寒疝乎。予曰。豈然哉。以樹皮草根。而調小天地焉。局於一隅。而能應百病者哉。丸藥之用。折而贅。茲當歸扶虛而補心。肉桂溫潤而利肝。杜仲壯骨而暖腎。五味生津而涕肺。良薑養氣而健脾。小茴通氣以除疝。利乎小腸。乾薑逐冷溫氣和其膽。吳萸除疝溫膀胱。厚朴止瀉溫大腸。蓮肉和中而養胃。至於三焦命門。有生之火也。雖在四時。固不宜撲。故以蔻紙生薑以充之。豈謂朔風嚴寒之用哉。白朮蓮肉。調中氣也。當歸肉桂。養營血也。故五藏六府得其正。則百邪不能逞其凶。氣血陰陽得其正。則營衛不致有敗失。寒邪冷氣不害其少火。則元元自固矣。又曰。痰或作滯。以二姜推之。下關虛冷。以四神溫之。食飲作痞。以良蔻消之。疝氣作痛。以茴萸退之。唯其邪火實。真元虛損。則有他方在。雖曰。肌熱發渴。（若不引水）症屬假火。亦宜用之。陶氏曰。溫能治大熱。此之謂耶。</p>
<p>夜子後脈五動余。侯曰倦耳。</p>
<p>二十一日。卯時脈五動。尚有昨夜之餘氣。侯索藥。遂上昨午煎成固真飲。或曰。今朝焉不合藥。予曰。昨曰之藥可也。曰過氣耶。曰不妨勉進之。令諸侍官。及諸醫知吾用方有理。不為偶中也。侍醫士遂溫之上。侯覺暢快。體倦自和。</p>
<p>午脈五動勢似和。保翁曰。歸脾料不可忽也。予曰然。晚脈大抵相若。（上人參湯固真飲）夜醜後更衣。濕而不多。</p>
<p>二十二日。辰脈四動半有奇。</p>
<p>上前方</p>
<p>晚脈大抵相若。當日腹和。然舌燥胸滿。足趺余腫。</p>
<p>是夜。四更大便通而堅。自五旬日。未有此便也。</p>
<p>二十三日。脈四動有奇。大抵相若。醫按胸腹良久。予出曰。今日侯當腹痛矣。及午。侯覺噁心欲吐。醫僉曰。何前症之累發耶。予曰不。乃早間按摩良久。寒氣所襲耳。進二姜丸二粒。薑湯下。須臾即已。</p>
<p>晚診同。按數日之藥。中下二焦雖固。尚餘舌燥胸滿尿赤趺腫不食數症。</p>
<p>議欲換方。或曰。連日藥病相投。何其數易耶。予曰。古曰藥無定性。中病則已。今也下部雖固。心脾未周。故余舌乾（脾之竅心之苗）胸滿（心不能周脾不能運）趺腫（中氣下陷）尿赤數症耳。經曰二陽之病。發心脾。男子失精。隱曲不利。正此謂也。其不食者。亦由是也。</p>
<p>歸脾湯（全料）　加陳皮　五加　升麻　羌活　縮砂　木瓜</p>
<p>歸脾之有。調其心脾也。陳昇之加補益中氣也。木瓜五加。行其腿趺之氣也。羌活之用。行大陽之氣。以消背脊之腫也。縮砂之用。啟其脾也。</p>
<p>二十四日辰脈大同。（上加味歸脾湯人參湯減半）侯曰。舌潤耳。</p>
<p>晚診同。上前方。（是夜小便多而長亦清次早脊腰腿腫退趺腫減）</p>
<p>二十五日辰脈四動半有奇寧。前方。（加味歸脾湯人參湯三分）</p>
<p>晚診同。一齋曰。太陽經腫已退。肌似潤矣。唯肋下有痞。固此虛里不應。及季肋甚弱。（伯翁亦教我上歸脾香砂之類）</p>
<p>歸脾料　加陳皮　五加　升麻　木香　川芎　肉桂　酒芍</p>
<p>晚診同。侯覺舌潤氣爽。及察聽清。趺腫減。（是夜小便清長而多）</p>
<p>二十六日脈左尺弦滑而流利。右尺弦而和。可菊曰。右脈好。予曰。立春在邇。宜乎左部之弦得。今日始診其生髮耳。侯曰。五更進粥數口。滯於胃口。服丸蘊含可乎。予曰。似滯而非滯也。侯曰。脹是痞耶。予曰。脈色和流。非其痞也。乃正氣聚於氣海耳。何用湯丸為。侯曰。試焉。一齋曰。虛里應肋痞降矣。唯帶脈為患也。是日舌潤言清。胸快肚寬。進膳常之倍。</p>
<p>明脈四動半寧。</p>
<p>二十七日。脈大抵與昨晨同。</p>
<p>前方　去桂加酒蘗。減遠志。倍當歸。</p>
<p>午里見保庵有尊恙無及遠慮之語。</p>
<p>晚診五動寧。</p>
<p>歸脾湯料　倍當歸　加五加　升麻　酒柏　芍藥　川芎　生薑</p>
<p>是夜小便清而長。安然熟睡。</p>
<p>二十八日立春。是早脈四動半有奇。有上下之神。無澀弱之形。兩尺有神而蕩。觀察和悅。聽之不清。趺腫愈退。衝陽太谿脈和。唯其陰陽氣血未周。瘦弱未復耳。</p>
<p>按雲林龔氏曰。大凡大病後谷消水去精散衛亡。多致便利枯渴。治宜補中益氣為要。蓋脾為中州。澆灌四傍。與胃行其津液者也。況大腸主津。小腸主液。亦皆稟氣於胃。胃氣一充。津液自行矣。燥甚者別當以辛潤之。（故用肉桂）以苦泄之。（故佐酒柏）及做治周侍御患元氣虛弱。心神虛損。飲食不思。六脈虛微。倍用參耆加遠志棗仁酒芍地黃麥門。連進數劑得效。公案故方中。全用前品。一以體歸脾之料。治心苗之燥。一以潤腸胃。順大便之結也。肉桂獨活之使引眾品。調其下元。酒蘗地黃之用。以救將絕之腎水也。又獨活五加。行氣於下部。退其虛腫。兼同地參補腎元也。</p>
<p>補益料　加肉桂　遠志　棗仁　茯神　地黃　門冬　酒芍　獨活　五加　酒蘗</p>
<p>上一錢二分。姜二分。煎熟而進。</p>
<p>其有川芎、故紙、杜仲、山藥、山茱、五味、良薑、羌活、木瓜、防風、木香、砂仁、牛膝、茴香、楝子、桔梗等品。俱湊進退加減。應病之效。恐藥味渾雜。反成其偏。姑舍焉。唯摘其要。以充其劑耳。知醫者不妨為侯拈出。</p>
<p>晚脈四動半。有上下去來之神。跗腫將平。飲食順。言亮聲響。</p>
<p>前方　去酒蘗。加香砂。</p>
<p>二十九日。辰脈四動半有奇。流利尺滑。</p>
<p>前方　去門冬地黃黃柏。加木瓜杏仁香附。</p>
<p>或曰。藥病相應。又胡出入。曰。數劑潤品。固足潤其腸胃津液矣。當行大便之際。不宜驟用門冬地黃。以其滑腸也。加以木瓜杏仁。利其氣。通其脾也。東垣云。杏仁治氣秘。佐以陳皮。正此謂也。</p>
<p>午上獨參湯。</p>
<p>晚診同。前方。</p>
<p>是夜醜前大解。不硬不濕者適中。</p>
<p>三十日。卯時脈四動半有奇。清和流利。</p>
<p>補益料　加肉桂　遠志　棗仁　茯神　川芎　酒芍　木瓜　五加</p>
<p>午診四動半有奇。流利。機神動矣。（是午永怡子診曰脈數良久再診曰動數減半唯五動耳又曰多日不食脾胃脈虛弱也里見保庵診曰脈和唯心脈未蕩）</p>
<p>或曰。按侯尊年久病。血氣陰陽未復。營衛宗之氣未周。食飲未甘口。肌瘦未充。體脈當浮弱而澀。或兼虛似數。何機神蕩動。去來和利之見診也。丹溪曰。瘦人脈浮。戴氏曰。久病脈弱。是其候也。又曰。氣虛。脈如病蠶食葉。血虛脈如雨沾沙。中帶虛數二者。乃澀脈也。侯診無上諸脈。何與病相反耶。曰。子知之脈。不察之治。言醫者。先明脈病之虛實。而後用藥之不忒。則重病就輕。輕病就愈。將復未復之際。脈先蕩利耳。自前至今。經兩旬日。凡用人參湯三十餘貼。日夜不間斷者。正慮其高年嚴冬。久病脈澀。氣弱數端矣。譬之世人脈病相失。良醫束手之際。單用參湯而覆命者間有矣。（標明厥旨全在薛立齋虞恆德龔子才所編書）況進參湯。及峻補藥劑多日。今日得機神蕩利不言而可知矣。吾將停藥兩日。溫之以食者。正由脈之動盪耳。經曰。人形病。脈不病。曰生。難經推明之曰。人形病。脈不病。非有不病者也。仲景叮嚀究之曰。人病脈不病。名曰內虛。以無穀氣。神雖困。無苦。是言形體憔悴。精神昏憒。食不忺美。而脈得四時之從也。擴之病後調理。理猶明當。辛丑年正月元旦。精神爽快。食物忺美。聲亮色潤。脈四動半有奇。上下去來之勢利。</p>
<p>是日停服。</p>

<h2>卷下</h2>
<p>【風勞】奉診某君脈數次。或浮而滑。或弦而數。或滑而數。兩關前猶甚。聞自秋仲外感鼻塞。或用敗毒。正氣等劑。發表。延至冬初。晡熱痰紅。或用滋陰降火。及至臘末。猶患惡寒晡熱。頭痛額痛。鼻乾齦腫。痰嗽聲重。或用補中益氣。數症還復。百藥齟齬。非藥草之不靈。計症候之不明也。茲承某君命。不敢隱諱。略窺線道。以陳始末。夫風天之陽氣。百病之長也。營衛失調。皮膚不密。陽邪外襲。傷人尤速。一失其治。傳入腠理。再失其治。傳入骨髓。不能泄越者。內作骨蒸而成風勞矣。論其變。或令人寒熱。或嗽吐血。遺精盜汗肌瘦等症作矣。豈曰盡屬陰虛而用滋降。再曰。中氣虛弱。而用補益。枉投藥劑。坐觀其效。如眾盲摸象者哉。故藥分三陰三陽以施。症隨各經各脈以斷。縱得外邪之傷。乘其邪淺。藥不數服而得愈矣。原某君數症。雖經幾月。幸年壯氣旺。陽邪不為傳變。唯滯於一經也。謂一經者。足陽明也。自迎香交入鼻。歷承泣起頭維。循鼻外入上齒。及走下關頰車數穴云。所患數症。不外斯經。申酉晡時。足少陰表裡所主。土一受邪。侮其所勝之水。則晡熱作矣。經曰。應於申末發者。謂之潮熱。邪在胃也。脈浮滑弦數。陽也表也。乘其脈勢。先以表散陽明之邪。候其脈和。後以調理陽明之土。則無實實虛虛之患矣。所用藥方考略陳如下。</p>
<p>升麻　葛根　白芍藥（各五分）　當歸（二分）　白芷（二分）　甘草（二分）</p>
<p>芷葛升麻。辛甘輕清之品也。辛甘法乎陽。可以發陽明之表。輕可以治陽明之實。清可以理陽明之滯。以白芍斂其清發之氣。以甘草可以緩其陽明之土。經曰。邪之所湊。其氣必虛。佐以當歸之甘溫。和芍藥之酸寒。調其營。又和炙甘之溫平。和其衛。營衛調而外邪伏。陰陽和而寒熱除。是以加味之升麻葛根湯。由乎陽明之症而所設也。</p>
<p>前方上五貼諸症如失。唯鼻塞耳。脈左右關尚弦。再加二味於前方。慮一味之和滯不專。姑置之。</p>
<p>加芎辛（各三分）　去歸</p>
<p>上六貼。鼻氣通暢。頭面爽快。六脈平和。飲食自若。然因歲末年始。出入甚繁。初四日。覺皮膚惡風。今猶平快矣。承某君命。再一制方云。</p>
<p>前上升葛數劑。諸症速痊。昨似有風寒之狀。然脈既平和。不可過服表劑。亦不可峻補。將前劑宜合友賢之補益。湯料想適中也。特考藥品。再驗萬一。</p>
<p>人參　黃耆　白朮　陳皮　當歸　柴胡　升麻　川芎　白芷　白芍　葛根（各二錢）　炙甘（一錢）</p>
<p>參耆朮陳。甘溫而補右。芎歸柴芍。味厚而調左。升葛白芷。引從藥以行表。國老之甜。和眾藥以緩勢。一補而惡寒退。一發而惡風散。一升而上部症和。一斂而中州氣平。或曰醫王湯病後固宜分兩。得不眾東垣氏之古制而用等分。無乃逾古賢之法乎。曰。吾聞之矣。用藥如用兵。方其陣圖也。苟執其方。而不考其藥。如將之師。師唯執其陣其圖。以遺其兵勢也。臨機不能應變。而不致倒戈棄甲者鮮矣。是以君臣佐使異用。寒熱虛實異劑。輕重異宜。亢承異制。故曰神而明之。存乎其人也。東垣立方。以參耆為君。以脾胃為言。予之變方。以升葛為引。以固表為用矣。古人有言曰。世或操禁方為口實。剽竊陳言。甚託言師心倍古昔而自用。誖之誖者也。與其自用。無寧有方。與其執方。無寧窮理。誠萬世方家之指南也。曰子之合和補益升葛二方。分兩果有理乎。曰。既陳之上矣。能升其清。則濁自降。清濁復位。營衛斯調。</p>
<p>【吐瀉】紀州五旬男經霜路十餘日。因病後患不服水土。吐痰瀉利。覺四肢怠倦。脈左關弦數右弱。</p>
<p>〔初用方〕　生半夏　生陳皮　白茯苓　白朮　人參　厚朴　藿香　青皮　白芥子　萊菔子　甘草　</p>
<p>〔次方用〕　固真飲子　〔終用方〕　三子養心湯</p>
<p>【肛癰】中年男常患小腹弦縮。飲食不甘。過則屎結尿數。覺口中粗淡。本年八月肛門腫痛。膿汁不斷。脈弦弱數。</p>
<p>人參　白朮　當歸尾　陳皮　柴胡　沒藥　桃仁　槐花　白芷　甘草節　川芎　益智　地榆　黃耆</p>
<p>【內痔】壯男患內痔。直腸腫痛。膿汁不幹。</p>
<p>當歸　桃仁　枳殼　苦參　白芷　地榆　紅花　甘草節　兼用苦參丸每服十丸</p>
<p>【淋濁】　紀州大井氏。壯年患濁。莖痛發疳。愈後清汁不幹夢遺。令服忍冬草一斤余。脈數而弦。兼患淋濁。陰囊左邊腫核。</p>
<p>〔初用方〕　當歸尾　川芎　黃柏　甘草梢（各三分）　忍冬（五錢）　肉桂　橘核　牛膝（各二分）　〔次用方〕　黃芩　黃柏　肉桂　龍骨　車前子　當歸　熟地黃　山梔子　黃耆梢　甘草梢　牡蠣　柴胡　辰砂　〔次用方〕　白朮　肉桂　茯苓　澤瀉　豬苓　木香　川楝子　蘇木　木通　檳榔子　橘核　川芎　生薑　鹽　茴香　蓮肉　〔次用方〕　補中益氣湯對五苓散加　橘核　酒黃柏　吳茱萸　生薑　鹽　車前子　茴香　〔次用方〕　黃耆　蓮肉　人參（各二錢半）　黃芩　麥門冬　地骨皮　車前子（各一錢半）　附子　肉桂　檳榔子　熟地黃　山茱萸　山藥　澤瀉　牡丹皮　青皮　橘核　〔次用方〕　八味地黃丸料加橘核　延胡索　茴香　川楝子　〔終用方〕　同方　加石菖　甘草　烏藥　益智　鹽　龍骨</p>
<p>【目疾變證】壯歲男前年患眼。上盛下虛。飲食不成肌肉。脈舉之似緩。按之全無。</p>
<p>〔初用方〕　固真飲子　〔終用方〕　升麻葛根湯　加薄荷　白芷　決明子　獨活　細辛　黃柏（酒炒）　當歸　夏枯草　甘菊花</p>
<p>【瘧後變證】水野氏。前二年患瘧。後噯氣。嘈雜。腋汗。腰痛。足弱。遇寒則便結。疝動則溺黃。臍腹痛。睡則身麻。夜不能寐。雙眼矇眛。肌肉瞤動。右脅築塊。脈弦而少數。</p>
<p>〔初用方〕　破郁丹料　〔終用方〕　固真飲子　加青皮　香附子</p>
<p>【瘧後瘛瘲】遠藤氏四旬。十年前。患瘧三載。後右手戰。左右有時不便。四肢冷或足熱。項太陽筋強。兩脅筋強。或築。左胸鳩尾及臍邊動氣。一或用氣。則目眩身搖。遇食則瀉上氣。頭痛。遇冬腰冷。久坐則兄痹。不知脫履。時患濁麻。</p>
<p>〔初用方〕　人參養胃湯　加黃柏（酒炒）　青皮　鱉甲　〔次用方〕　沉香天麻湯加青皮檳榔子　茯苓　黃柏　車前子　〔次用方〕　半夏白朮天麻湯　加青皮　羌活　〔次用方〕　人參敗毒散　去人參加木瓜　薏苡仁　黃芩黃柏　〔次用方〕　前劑去木瓜　黃柏　薏苡仁　加黃連　芍藥　〔次用方〕　羌活　獨活（各一錢）　藁本　防風　甘草　川芎（各五分）　蔓荊子（三分）　附子（五分）　〔終用方〕　羌活　威靈仙　黃芩　甘草　酒香附　桔梗　當歸　皂角刺　防風</p>
<p>【頭痛眩暈】一壯男四年前。正月停食已前頭苦痛如釘。眩暈至今。腹內不和。心下攻築。或瀉利。或耳鳴。</p>
<p>半夏白朮天麻湯　加青皮　〔又用〕　交感湯　加甘草</p>
<p>【胸痛失眠】十八歲男子身體衰弱。時吐痰。早晚和靜。子午勞倦。胸痛上氣。不寐。小腹無力。脈細數弱而不調。</p>
<p>補脾瀉肝湯對定志丸料　加陳皮　香附子　酸棗仁</p>
<p>【喉右結核】白樫氏內人。壯年右喉結軟核。臨夜咽乾口渴。或身體痛無定所。噯出氣。則胸寬。不噯則緊。脈上部滑數。下部五動弱。</p>
<p>〔初用方〕　破郁丹料　或藿香正氣散　〔次用方〕　加味四七湯　加酒黃連　〔終用方〕四物湯　去熟地黃　加生地黃　香附子　薄荷　桔梗　酒黃柏　知母　甘草</p>
<p>【左脅動氣】澀谷氏。左脅動氣上升。目眩。頭或覺痠痛。背脊強。手足甚冷。停食則易飢。多食則倒飽。</p>
<p>〔初用方〕　半夏白朮天麻湯　加香附子　青皮　〔次用方〕　升麻葛根湯對平胃散　加羌活　川芎　白芷　細辛　藿香　天麻　石菖　生薑　〔次用方〕　沉香天麻湯　加青皮　〔終用方〕　升麻葛根湯　加羌活　細辛　川芎　天麻</p>
<p>【耳鳴身痛】四旬男。患下疳。愈後耳鳴身痛。一醫用藥。鳴定嘔逆。脈浮細弱。</p>
<p>〔初用方〕　附子理中湯　〔次用方〕　六君子湯　加天麻　〔終用方〕　前劑　加乾薑　黃柏</p>
<p>【發斑】寺本氏。肌體壯熱。發斑有汗。不食。面赤。眩暈。足弱。</p>
<p>玄參升麻湯　倍白芍藥</p>
<p>【痰嗽】伊達氏。五十歲。多年患痰嗽。日則少靜。至夜半後。痰甚嗽多。或耳鳴目昏。腹脅沖弦氣動。多食則嗽愈甚。大便秘。小便如常或澀。</p>
<p>三子養親湯　加栝蔞實　海浮石（醋製）</p>
<p>【耳鳴腳弱】石原氏。壯年四月間。遍身發小瘡。如麻如斑。服藥愈後。傷風吐痰。左手足不便於動。左脅如有物沖氣動。耳左鳴不聞。有時腳膝弱。或左腕腫。脈左右上部浮弱數。下部弱而數。</p>
<p>當歸　川芎　芍藥（各二錢）　威靈仙　忍冬（各三錢）　羌活　黃柏　石菖　紅花（各二錢五分）　蟬退（一錢）　防風　枳殼（各七分）　甘草（五分）　生地黃（一錢）　桂枝（三分）　柴胡　升麻（各八分）</p>
<p>【頭痛耳聾】岡村氏。壯歲患頭痛。不食吞酸上氣。或胸痛四肢冷。耳右聾左鳴。目昏足膝麻痹。或舌強嚥干。眩暈吐痰。健忘遺精。或小便溷濁。脈上部弱數。下部似滑。</p>
<p>〔初用方〕　益氣聰明湯對六君子湯　加天麻　天南星　石菖　獨活　〔終用方〕　通明利氣湯</p>
<p>【潮熱發斑】二旬男。肌腹日晡發熱。頭面無汗。四肢覺冷。惡聞食氣吐逆。遍身將發斑狀。頭痛脈沉數。或弦數。</p>
<p>〔初用方〕　太無神朮散對升麻葛根湯　加玄參　〔終用方〕　不換金正氣散對升麻葛根湯　加石菖　枳實　人參　生薑</p>
<p>右數貼前症愈。發黃。眼色如金。口渴。</p>
<p>茵陳五苓散　加葛花</p>
<p>【疝瘕惡候】高田氏。患氣鬱。腹圍作聚。少食。白濁。脈左右俱澀。五動一止。或三動一止。醫為惡候。予曰。是。然醫書言疝之變症。惡候百出。</p>
<p>〔初用方〕　行氣香蘇散　加青皮　山楂子　木香　或去三味　加茴香　青木香　三稜　莪朮　木通　〔次用方〕　三和散　覺臍上下氣動。脈三十動一止。二十五動一止。〔終用方〕　人參　乾薑　肉桂（各一錢）　甘草　黃柏　知母（各五分）</p>
<p>【胸脅動氣】一壯男。患左腹攻築。行步無力。胸脅氣動。飲食減少。</p>
<p>〔初用方〕　行氣香蘇散　加青皮　山楂　木香　天麻　半夏　〔終用方〕　八物二陳湯</p>
<p>【腹冷跗腫】青木氏肥壯。常苦小腹冷。足弱或跗腫。</p>
<p>蒼朮（五錢）　黃柏（三錢）　甘草（五分）　牛膝（八分）　生薑（八分）</p>
<p>【腹痛肚脹】一男子。因食魚生腹痛。左甚作瀉。脈實。常患腹脹。面赤上氣。</p>
<p>厚朴　山楂子　青皮　木香　藿香　縮砂　甘草　芍藥　烏梅　檳榔皮　半夏　陳皮　香附子　青黛共十四味</p>
<p>【疝瘕】五旬男。平素用心太過。仕官朝夕無暇。常犯疝症。小腹冰冷。及腰脊。或覺腹內如轉索。或肚腹如絮柔痰支心下。腳腿痠弱。脈沉細無力。或細動似弦。</p>
<p>十全大補湯　去肉桂　白朮　加附子　羌活　防風　製半夏　乾薑　陳皮　杜仲　牛膝</p>
<p>【狐疝痔漏】一男常患狐疝。或濕或隱。下血數年。在四季八專之令。右脅結塊如碗。不動不痛。覺腰背冷。頭鳴。目眩。小過於食。則吐飲一口。多年病痔瘻脫肛數症。</p>
<p>〔初用方〕　二陳湯　加蒼朮　川芎　香附子　羌活　青皮　〔次用方〕　芍藥　當歸尾　地榆　桃仁　枳實　厚朴　青皮　〔次用方〕　清氣化痰湯　〔次用方〕　藁本　白芷　羌活　天麻　威靈仙　細辛　蔓荊子　生地黃　當歸　便香附　山梔子　陳皮　〔次用方〕　香砂平胃散　〔終用方〕　活血化痰湯　加地榆　黃連</p>
<p>【傷食痞氣】一男常患肚弱傷於食。右脅痞氣。臍下亦然。或似傷風。肩背緊。或秋末痰支咽喉。或聞鳥羽聲。則胸心怔忡不時。口舌或咸。有時便燥。脈滑數。右關無力。</p>
<p>〔初用方〕　二陳湯　加青皮　蒼朮　茴香　香附子　川芎　〔次用方〕　行氣香蘇散　〔終用方〕　柴物湯對二陳湯　加知母　黃柏　延胡索</p>
<p>【心腹脅痛】高柳氏患心腹胸脅痛楚。面白唇紅。</p>
<p>〔初用方〕　蒲黃　五靈脂（各一錢）　木通　赤芍藥（各五分）　黃連（一錢二分）　附子（二分）　〔次用方〕　椒梅湯對七味清脾湯　加紫蘇　白茯苓　〔次用方〕　當歸　茯苓　陳皮（各一錢）　白芍藥　酒黃連　山梔子　酒香附（各八分）　青皮　川芎　半夏　厚朴　柴胡（各七分）　吳茱萸　甘草（各四分）　〔次用方〕　推氣散　加厚朴　沉香　木香　〔次用方〕　黃連　吳茱萸　木香　沉香　延胡索　香附子　桂心　薑黃　砂仁　〔終用方〕　當歸　茯苓　青皮　陳皮（各一錢）　白芍藥　黃連　山梔子　香附子（各八分）　川芎（各六分）　半夏　厚朴　柴胡（各七分）　甘草　吳茱萸（各四分）</p>
<p>【積氣眩暈】河島氏患腹肚積氣不食。體瘦。發作則眼暈背強。手足冷。或夢遺惡食。</p>
<p>〔初用方〕　半夏白朮天麻湯　加青皮　香附子　〔終用方〕　分心氣飲</p>
<p>【鼻痔】淺井氏。平常少飲。左鼻孔生痔。體溫則通。遇寒則塞。</p>
<p>〔初用方〕　補中益氣湯　加白芷　細辛　辛荑　木通　川芎　石菖　〔終用方〕　辛荑　木通　防風　細辛　藁本　升麻　白芷　葛根（各三錢）　黃芩　甘草　薄荷　石菖（各一錢五分）</p>
<p>【潮熱盜汗】安西氏內人二十歲。因產後喪孩。至六月後。發熱晡時。或盜汗。不食。醫治後。體瘦弱。面赤。或盜汗。不食。脈七動無力。左右項生癧。六七顆。經水或居。</p>
<p>〔初用方〕　黃芩　柴胡　桃仁　玄參　犀角　赤芍藥　牡丹皮　生地黃　〔次用方〕　活血化痰湯　加地骨皮　牡丹皮　紅花　桃仁　延胡索　香附子　白朮　酒黃柏　〔次用方〕　柴胡　連翹　黃芩尾　甘草　三稜　牛蒡子　蘇梗　黃連　紅花　栝蔞根　知母　貝母　白芷　葛根　生薑　〔次用方〕　桃仁　赤茯苓　柴胡　三稜　白朮　貝母　酒芩　山梔子　桔梗　當歸尾　縮砂　甘草　陳皮　栝蔞根　紅花　皂角刺　生地黃　〔次用方〕　山梔子　柴胡　葛根　川芎　黃連　芍藥　地骨皮　當歸　白朮　茯苓　紅花　桃仁　牛膝　甘草　〔次用方〕　栝蔞枳實湯　去當歸　加桃仁　紅花　牛膝　赤芍藥　當歸尾　〔終用方〕　加味逍遙散對四物湯　加貝母　栝蔞根　紅花　桃仁　牛膝</p>
<p>【腫瀉絕證】一奴。勞役後病瀉。面部四末虛腫。色青黃。痰喘不眠。不進飲食。言語呢喃。脈左寸不應。餘部浮弱。或弱數五動半。余醫治將及半載。病日篤。並無寸驗。予曰弱則衛氣敗。弱數營將奪。不救。其主再三求請曰。服子之藥一貼。雖瞑目在九泉之下。亦無怨矣。予不得已用藥。七日浮腫退。痰喘止。粥飲進。呢喃定。外症悉平。唯脈不復。予曰無奈矣。其主再求曰。服子之藥。得其神驗。更乞一治。予曰獨參湯大貼。延三日之命也。後果然。</p>
<p>〔初用方〕　當歸厚朴湯對六君子湯　加木瓜　阿膠　煨生薑　〔次用方〕當歸　厚朴　前胡　甘草（各五分）　肉桂　陳皮（各七分半）　蘇子　半夏（各一錢）　人參（二錢）　〔次用方〕　六君子湯對錢仲陽白朮散　兼用獨參湯　〔次用方〕　駐車丸每二十粒粥飲下　〔終用方〕　消氣散</p>
<p>【咳嗽】五旬男。患咳嗽。或飲食。或睡臥。身暖愈嗽。脈滑。</p>
<p>三子養親湯對二陳湯　去半更　加生半夏</p>
<p>山楂子　香附子　神麯　栝蔞仁</p>
<p>【稜骨痛】岸本氏患稜骨痛。五六年。或咽乾。齦腫。頭痛。面目腫。右脈滑。</p>
<p>升麻　白芷　蒼朮　薄荷　黃芩　甘草　防風　半夏　羌活　天南星</p>
<p>【麻痹不遂】紀州落合氏。前年患疸。愈後右脅築塊。左足麻痹而弱。左半身覺不便。常耳鳴。或夢泄。脈五動。</p>
<p>三妙散　加當歸　川芎　青皮　獨活　甘草</p>
<p>【咳嗽夜劇】六旬男。自去冬。初覺傷風吐痰。咳嗽至夜尤甚。頭汗如流。脈弦澀。</p>
<p>三拗湯對二母散　加製半夏　阿膠　五味子　款冬花　桑白皮</p>
<p>【痰嗽痹弱】西村氏患痰嗽。腳腿痹弱。腰腹沉重。及秋似傷風狀。脈或滑數。或弦數。</p>
<p>除濕清熱卻痰丸對三妙散</p>
<p>【四肢痛痹】七澤氏老母患四肢不便。動則痛楚。背肩強急。手腕結核。前服六味地黃丸料不愈。</p>
<p>〔初用方〕　當歸　赤芍藥　黃耆　羌活　鬱金　防風　獨活　川芎　甘草　桂枝　陳皮　半夏　茯苓　〔次用方〕　羌活　獨活（各一錢）　藁本　防風　川芎　防己　當歸　芍藥　熟地黃　蒼朮（各五分）　甘草　蔓荊子（各三分）　〔終用方〕　人參養榮湯　加羌活</p>
<p>【魚口結塊】戶田氏患魚口。愈而結塊。手足時發紅點。脈實。</p>
<p>防風通聖散　去芒硝　石青　加黃柏　木通　牛膝　紅花　再去四味　倍防風　加大力子　蟬退</p>
<p>【內障失明】木材氏患內障。左失明。右少光。頭重耳鳴。前與補中益氣湯。及益氣聰明湯。六味丸等劑。右眼復光。今春為官役自紀至武。路途勞神。覺鼻塞。眼暗。上氣。等症。脈左浮弦。右弱弦。</p>
<p>〔初用方〕　蔓荊子　羌活　決明子　當歸　川芎　芍藥　黃耆　熟地黃　甘草　防風　陳皮　蒼朮　升麻（炒）　柴胡（炒）　沙參　共十五味　〔次用方〕　前劑　加青皮　人參　〔終用方〕　人參　黃耆　白朮　當歸（各二錢）　五味子（二十粒）　黃柏　山茱萸　牡丹皮　澤瀉　茯苓（各二錢）　熟地黃（四錢）　甘草（五分）</p>
<p>【頭痛目眩】字藤氏性急。左脅衝動攻築。或頭痛目眩。或吐痰鼻塞。夜不安眠。自正月初旬。遍身似傷風。然後吐痰。盜汗。頭痛。目眩。晡熱。數症往復。脈滑而無力帶弦。</p>
<p>〔初用方〕　天南星　甘草　柴胡　白芷　牙皂　黃連　枳實　栝蔞仁　川芎　赤芍藥　蘇子　香附子（便制）　貝母　天麻　白芍藥　前胡　桂心　黃耆　茯苓　人參　細辛　當歸　麥門冬　陳皮　甘草（各一兩）　生半夏（七錢半）　〔終用方〕　當歸六黃湯</p>
<p>【瀉痢】八旬男。患休息痢二年。及本年正月。傷食泄利愈重。至月初醫灸數處。亦作溏瀉。或嘔吐頭痛腹滿。脈弦細。</p>
<p>〔初用方〕　藿香正氣散　加酒黃連　兼用駐車丸　〔次用方〕　茯苓　白朮　人參　陳皮（各三分）　乾薑　甘草（各一分）　白芍藥　澤瀉（各二分半）　升麻（八釐）　〔終用方〕　白朮　陳皮　茯苓（各三分）　人參（一分）　縮砂　酒香附（各二分）　甘草（五釐）　半夏（一分五釐）　當歸（五分）　杏仁（二分）</p>
<p>【結氣衝動】木村氏。習射數年。胸腹結氣衝動。或肩背痛。或頭痛上氣。或不食等症。</p>
<p>〔初用方〕　二陳湯對三子養親湯　加天麻　酒香附　〔終用方〕　香附子（四錢）　白茯苓（一錢）　天麻　青皮（各八分）　甘草（四分）　木香（一錢）　當歸（一錢）</p>
<p>【羸弱】布施氏。肥胖。病後覺體弱。</p>
<p>二陳湯對平胃散　加桑白皮　白殭蠶　白芷</p>
<p>【咳血】一男。患咳血。寢汗脈數。</p>
<p>陳皮　白茯苓　甘草　桑白皮　當歸　天門冬　麥門冬　黃芩　山梔子　芍藥　生地黃　紫菀　阿膠</p>
<p>【腳氣】壯男患痳濁。愈後髮腳氣。腫痛。</p>
<p>人參敗毒散　去人參　加木瓜　牛膝　蒼朮</p>
<p>【內痔】四旬余男。患內痔。結糞疼痛不已。夜甚。脈左弦尺弦實。右浮弦五動余。</p>
<p>當歸尾　赤芍藥　川芎　荊芥　地榆　枳殼　槐花　酒黃連　生地黃　防風　乳香　沒藥　桃仁　甘草節</p>
<p>【疳瘡】一男患疳瘡。逾年不愈。狀如燭殘。臉腫遺膿。脈弱散而似滑。或弱數。</p>
<p>〔初用方〕　黃耆尾　人參（各三錢）　甘草節（五分）　當歸　白芷　皂角刺（各二錢）　〔次用方〕　黃耆（六錢）　當歸（二錢）　川芎　柴胡　生地黃　芍藥　甘草節（各二分）　白芷（二錢）　〔終用方〕　人參敗毒散去人參　加金銀花　防風　薏苡仁　連翹　黃柏　皂角刺　木瓜　木通</p>
<p>【下疳瘡毒】林氏患瘡毒下疳。愈後肢體弱。兩腿緊痛。缺盆肩井左右發數十塊。或潰或愈。脈動而弱。</p>
<p>〔初用方〕　十六味流氣飲　加木瓜　〔次用方〕　疏經活血湯　〔次用方〕　四物湯　加黃柏　木瓜　檳榔子　蒼朮　〔次用方〕　同方　加黃耆　防風　杜仲　羌活　人參　牛膝　甘草　附子　黃柏　檳榔子　沒藥　〔終用方〕　當歸拈痛湯　加附子　細辛　乾薑　防風　茯苓　山茱萸</p>
<p>【手戰舌強】四旬男。常患右手風戰。本月初日晨唇緩舌強。不能言語。至巳時漸復。至今二十餘日。每早如前。昨今二日口無食味。脈左弦數。右弦數弱。</p>
<p>〔初用方〕　烏藥　陳皮（各二錢）　川芎　白芷　枳殼　桔梗（各一錢）　荊芥　白殭蠶　乾薑（各五錢）　甘草（三分）　或加黃連（酒炒）　羌活　或加防風　〔次用方〕　瓜蔞枳實湯　加石菖　半夏　人參　白芷　〔次用方〕　藿香正氣散　加人參　石菖　葛花　〔次用方〕　八味順氣散　〔次用方〕　定志丸料　加木香　當歸　酸棗仁　〔終用方〕　治心虛手振藥劑（十五味）</p>
<p>【痘瘡】十七歲女子。初九日發熱。初十日見痘。是夜經水適行。十一日酉時痘發遍身。滿面根窩不潤。咽喉乾渴。肌體尚熱。脈浮滑數。用當歸芍藥川芎葛根牛蒡子連翹木香生地黃等劑。四物補其血。則紅點能潤。又理經水。葛根解其肌。則脈自能和。兼行陽明。牛蒡連翹化痘毒。以治十二經之火。香可以去穢。故用木香而淨其經水之汙。輕可以治實。故佐葛根而治其肌表之壅。又木香能行血藥之滯。芍藥善斂輕發之氣。</p>
<p>【痰核】豐州青木氏女。患痰盛發熱。項生一物。如橘大。焮腫疼痛。咽乾口渴。一醫與清涼散。合二陳湯。治十餘日並無寸效。不食三日矣。請於診。左寸關弦數。右大數。予曰此方宜矣。但二陳湯未可也。原用清涼散加山豆根栝蔞仁枯黃芩三貼。而痰退熱止。仍以清涼散為末。醋調敷痛處。明日其腫即退。舉家神之。</p>
<p>【脫肛】一富商。年六十餘。頭項腫痛。不能搖動。一醫用人參敗毒散數十貼。熱退腫如故。又用內托之藥不效。請予診之。脈虛緩。左尺澀。及伸手乞診。轉身之際。皺其兩眉。眼看身下。予曰。平素莫犯脫肛麼。患者曰。已多年矣。予乃知前用敗毒散之非。撮補中益氣湯加茯苓酒芍藥倍人參黃耆三貼而膿出。七貼而收功。外貼拔膿滋血膏藥。</p>
<p>【項下腫核】大阪一婦人。年三十餘。項下腫痛結一核。紅如柿子。一醫用人參敗毒散。數日不效。請予治之。仍用前方加海帶昆布山豆根黃芩黃連瓜蔞仁五貼。而腫消熱退。外用海帶以下六味粗末。連錢草汁。和醋調貼。</p>
<p>【肝鬱血瘀】一官家婦人。常患兩脅有物衝上亶中。則口中乾燥。頭痛目眩面熱足冷大便常澀少。諸醫治十一年矣。或止或發。不能去根。少有思慮則發。又不飲食。命予診之。兩手弦數六動余矣。予曰此肝氣有餘以致矣。一醫曰。某常診多年矣。此生成脈矣。予曰豈有是哉。人長脈遲。年老脈緩。是其常也。此必前醫補之過也。以小柴胡湯去人參加川芎地骨皮檳榔子枳殼青皮七貼。而胸寬上部病減半。仍用香附四制合大黃四製為丸。服二百餘丸。用煎湯送下。大便頓解。目眩如忘。通身發斑瘙癢。脈五動矣。予曰。脈動如此。必有十全。雖想前醫用調經補血熱藥峻補多年矣。行年五旬余。經水不斷。已前發熱。今發斑者。乃血燥而然。有物衝上者。乃瘀血也。用四物湯合小柴胡湯。加牛膝紅花桃仁便香附黃柏作大貼。頓飲四貼。下瘀塊如碗者數次。連下紫黑臭膿經水。十餘日後。診脈只四動半矣。予知症痊。用川芎當歸酒香附黃柏數十貼收功。</p>
<p>【健忘怔忡】一侍女年三十餘矣。常患健忘。如怔忡。夢中作驚。大便秘結。血塊衝上。頭暈目眩。不思飲食。五年餘矣。醫用歸脾逍遙八珍等湯。及清心丸。安神散等藥不效。求治於予。余制一方。牽牛大黃檳榔子枳殼桃仁紅花牛膝滑石為丸。每旦服三十丸。抑陰湯下。數日眩暈止。大便寬。覺胸中涼快矣。予曰未也。必須大下血塊。又用四物湯服前丸藥數百丸。下瘀塊黑膿者七日。後用沉香木香烏藥香附子藿香紫蘇山梔子陳皮茯苓白朮甘草五貼。再加當歸川芎芍藥黃芩十餘貼。諸症如忘。後用加味逍遙散。調理出入。月餘全效。</p>
<p>【血塊衝動】井上氏女。年十八。患血塊衝動。面青口乾。發脫。經不調。眾醫不效。請予治。用香附烏藥蔓荊子白芷沉香菊花川芎黃芩桔梗黃連為散。以小柴胡湯去人參加青皮煎湯送下。日二服。數日後。病症減半。發不脫矣。再用四制香附加桃仁紅花莪朮三稜枳殼檳榔為丸。以四物湯送下。諸症如失。仍用小柴胡湯加減全效。</p>
<p>【腳氣危候】阪陽一賈。常慣使氣。一事忤意。則終日不食。一日事不如意。忽患兩腳冷痹。氣上衝胸。食輒吐而失味。足冷麵熱。諸治數日。其勢彌急。求予診之。弦數。予曰。此腳氣也。不急治則危矣。屬撮蘇子降氣湯加木瓜。又令灸風市三里絕骨各七八十壯。灸未畢。湯已成。便使服之。且灸且服。至三四時許。病勢稍減。服五十餘貼而平。</p>
<p>【卒中痰厥】一男五旬肥白。常用心機。一日會客。忽暈倒不省人事。痰壅喉鳴。鼻鼾脈浮滑。會有客醫先灌蘇合香丸不應。欲作傷食治。予診畢曰。氣虛而得痰厥症也。宜醫林三生飲。加人參。一醫曰。何以然。曰虞天氏曰。肥人中風。或口喎肢麻。不分左右。皆作痰治。又曰。肥人多濕。宜用烏附是也。脈浮而滑。且喉鳴鼻鼾故耳。遂與</p>
<p>南木香（一錢半）　南星（生六錢）　川烏　附子（各生三錢）　人參（五分）</p>
<p>上作七貼加焙姜煎服。而得回陽。後用六君子湯加天麻而痊。肥白之人。知其素有痰症。而卒用心。正氣奪而忽暈倒。痰壅喉鳴。故多用南星以驅其頑痰。鼻鼾氣奪。故加人參以復其根本。佐用木香以理其氣。川烏附子性猛而躁。故用於元陽暴絕之時。追回發陽而成其功也。方名三生。生用其藥。而存其勇烈之性耳。或曰得子之法。病愈十之八。中風之因。有五不治。鼻鼾居其數也。子何神焉。令病者而脫其死耶。曰是言也。誠知醫之用焉。病證有疑似。元氣有強弱。子言鼻鼾一症。謂肺絕也。猶有說。師曰。肥人中風者。以其氣盛於外。而歉於內也。肺為氣出入之道。肥者氣必急。故令鼻鼾。乃痰涎壅盛。所以氣急有假似之不同也。宜熟思之。</p>
<p>【痰嗽失血】一童患痰嗽。吐血發熱。不食。胸痞乾嘔。用白朮人參黃耆乾薑伏龍肝名白朮散。服十貼。症減大半。服五十貼而瘳。若拘於熱症之常而用寒涼。乃為泉下鬼耳。醫而未至於變法之權。則烏足語此。</p>

<h1>附錄</h1>

<h2>大明獨立老人用藥方</h2>
<p>老人治一老父。形瘦患疸。某曰。是血燥發黃症也。譬如秋燥之令一行。萬樹萎黃。其用藥之始末錄之也。</p>
<p>八月八日　脈左寸沉數。關尺沉帶細澀。右手三部沉而數。寸猶數大。老人云。熱鬱於中不上散。胃中火滯而然。脈見乎上。是以上部多見色黃。</p>
<p>地骨皮　知母　連翹　枳殼（各三分）　黃芩（四分）　山梔子（二分）　薄荷葉（半分）</p>
<p>上三劑分二貼。作四次。日夜服。</p>
<p>九日　脈同前（但左寸些浮而和）　本方　去薄荷　加當歸　防風　秦艽（各三分）</p>
<p>十日　脈左尺沉弱而安。右手機神動盪。不似昨朝脈之沉澀矣。尺微弦。</p>
<p>瓜蔞根（八分）　知母　連翹　枳殼　地骨皮　黃芩（各六分）　黃柏　白芍藥（各四分）　防風　甘草（各二分）</p>
<p>上分二貼。作四次。日夜服。</p>
<p>前八日云寸脈數大。熱鬱於中不上散。胃中火滯云云。因用薄荷防風之品。十日夜。鬱火升動。肌膚有熱。日夜不退。火炎則水乾。故陰熱將發也。燥萬物者。莫甚乎火。故羸瘦不生肌肉。火甚則速於傳化。故善谷不宜嗜食熱燥。此劑苦寒甘涼方也。苦能瀉火。火去而陰自生。陰生則肌肉自長。寒能勝熱。熱退而燥自潤。燥潤而黃自退也。</p>
<p>十一日　脈氣漸浮。熱鬱自得升動。但脈氣浮。不無熱動。此正治耳。</p>
<p>玄參　白芍藥　連翹　知母　瓜蔞根　地骨皮（各三分）　黃芩（四分）　黃柏（二分）　甘草（一分）　上劑分二貼溫服。</p>
<p>十二日　脈（失錄）熱申時發至亥時。</p>
<p>黃連　白芍藥　玄參　黃芩　知母　枳殼　瓜蔞根（各三分）　黃柏　牡丹皮　地骨皮（各二分）　甘草（一分）</p>
<p>十三日　脈（失錄）六日夜。大便燥結。因加桔梗。謂其氣少升。則大便通矣。</p>
<p>前方　加桔梗梢（二分）</p>
<p>十四日　脈（失錄）　前方　因數日便結。制通大便方。</p>
<p>萊菔子（七分）　枳殼（四分）　知母（五分）　桔梗（二分）</p>
<p>上煎湯生搗瓜蔞根（五錢）取自然汁。投入湯藥中。再加蜂蜜一匕拌溶。重湯溫服。至夜半後。寅初刻。大下燥尿。糞後下些黃汁如豆淋者。其後自止。次晨胸膈涼快。腸胃寬快。濁滯不下。則清氣不升。陰陽之道也。小人不退。則正士難進。家國之道也。故燥熱日久。里積燥糞。燥糞不去。則脾胃愈積。故假此而推之。治病之道也。</p>
<p>十五日　脈六部些數而和。但兩尺沉澀。右寸弱。</p>
<p>白芍藥　黃芩　知母（各二分）　石斛（五分）　牡丹皮　生地黃（薑汁炒各三分）　枸杞子（五分）　陳皮（三分）　甘草（一分）</p>
<p>上劑分二貼。作四次溫服。是日晡熱又來。飲食少進。氣色怡惓。經曰。一水不勝五火。故此劑以瀉五臟之火也。燥熱之藥。久服致脈數雖和。沉而無力。此幾而無水。故瀉火以存水矣。用陳皮甘草以養胃氣。石斛等物。清肺源矣。</p>
<p>同晚　脈（失錄）　陰時作熱。由邪所至。便通漸能止也。但得脈神旺長。不為澀滯乃佳。是在調其氣而和之云云。</p>
<p>廣陳皮（五分）　石斛（七分）　桔梗（一分半）　白芍藥（三分制）　香附子（五分酒製）　白茯苓（五分）　甘草（一分半）　縮砂仁（四分為細末）</p>
<p>上劑水煎熟。投砂仁末。作二次服。</p>
<p>十六日晨　脈六部和帶少弱之意。</p>
<p>前方　減茯苓三分。用二分。加黃耆二分。</p>
<p>十七日晨　脈左和。右寸關澀。恐是胃口閉郁。</p>
<p>前方　去茯苓　加枳殼（二分）　連翹（三分）</p>
<p>同晚　脈（失錄）申時熱發。胸膈煩熱。咳嗽。</p>
<p>立師曰。前方加香附子砂仁者。止下之用也。下止可去矣。今朝速欲去之。恐未盡矣。今晚脈沉而致嗽。宜去香砂耳。</p>
<p>前方　去香附　砂仁　加黃芩　知母　地骨皮（各三分）</p>
<p>十八日晨　脈右寸關浮大帶澀。</p>
<p>黃芩（四分）　枳殼　白芍藥　防風　柴胡（各三分）　黃柏（二分　腎無實不可泄今在尺脈沉火不息故暫用矣）　甘草（一分）　知母　貝母（各五分為末）　調前湯送下。</p>
<p>同晚　脈左三部和。右寸浮數。或曰。浮脈應秋。肺金獨旺。恐伐和平之氣歟。曰然。用枳柴發動右陽。二母以潤肺金。是所以也。然藥力未行矣。須用二貼而知之。明早脈得和。喘少熱微。氣色和怡。</p>
<p>十九日晨　脈六部和而斂。昨脈右寸關浮數減大半而斂。</p>
<p>前方　去柏芍柴　加桔梗（二分）　椒目（五分）</p>
<p>或問症得之燥熱。用芍藥酸寒收斂。是法也。今去何為。曰芍藥雖治土之熱。實治左關藥也。右關土位脈弦。乃泄土中之木。今脈和故去之。</p>
<p>二十日早　脈左三部如無力。右上部始得平和。嗽止夜熱退。小便些淡。</p>
<p>黃芩　椒目　天門冬（各三分）　知母（四分）　貝母　沙參（各五分）　當歸　枳殼　白芍藥　連翹（各二分）　甘草（一分）</p>
<p>同晚　或問燥症發熱是常。而反惡寒何也。曰六脈無寒熱之至。此因燥見陰血之虛矣。</p>
<p>前方</p>
<p>二十一日晨　脈六部和而弱。</p>
<p>沙參　貝母（各五分）　當歸　連翹　柴胡　黃芩　知母（各三分）　黃柏　防風　白芍藥（各二分）　甘草（一分）</p>
<p>同晚　晡時熱。至夜不退。</p>
<p>同方　去防風</p>
<p>二十二日晨　脈左寸發動。關尺沉。右寸關沉澀。其中如有物應指。尺沉數。或問累日下藥。熱不即退。症得之金燥火鬱。倍用潤劑何如。曰。雖然今晨之脈。右手俱沉應指。如有物。想是燥屎也。宜推下之。</p>
<p>前方　去柴歸翹　加檳榔子　枳實（各五分）　山楂（三分）</p>
<p>上煎午未時服一貼。申時下燥屎一顆。如羊糞而堅者。復下腸垢些些。</p>
<p>二十二日夜　熱退。戌時再進一貼。至夜半又下燥屎二顆。如前者。丑時微熱似不覺。</p>
<p>二十三日晨　脈右關浮澀。顏色輕和。</p>
<p>前方　加黃連（二分半）</p>
<p>二十三日晚　脈兩寸實數。微熱而嗽。曰寸熱而發於夜。宜降陰耳。</p>
<p>生地黃　山梔子　枳殼（各三分）　黃芩（四分）　牡丹皮　白芍藥（各二分）　甘草（一分）上煎服。</p>
<p>二十四日晨　脈左三部沉而緩。寸些大。右寸關大。</p>
<p>前方　加黃柏（二分）　倍生苄　黃芩（各一分）</p>
<p>上煎服。小便些清而多。熱不大退。微微而熱。</p>
<p>二十四日晚　脈左三部沉中些數帶弦。右寸關大。而衝上。其中應指如有物。或議用推而下之。曰。左脈不浮泛。所以熱不易退。高年病久。不宜重加寒降。重之。則生氣不達。愈見其熱。宜和之以少甘溫之味。則生氣生達。而脈浮泛。若胃有遺屎未盡。後再推下之。未為遲也。</p>
<p>生地　黃芩（各四分）　牡丹皮（二分）　當歸（三分）　白芍藥（二分）　枳殼　檳榔子　神麯（各五分）　黃連（一分）　甘草（二分）</p>
<p>二十五日晨　脈左三部俱平。右上部些數。下部平然。大抵共見緩弱。故用補劑。</p>
<p>當歸（二分）　生地　牡丹皮　沙參　神麯　廣陳皮　黃芩（各三分）　甘草　炒黑乾薑（各一分）</p>
<p>二十五日晚　脈左三部數沉中有生動之機。右寸關數有泛發之氣。尺澀。（北政之年太陰司天右尺不應連日不論右尺是不應故也）</p>
<p>前方　去歸姜陳　加玄參　地骨皮（各三分）</p>
<p>二十六日　脈左上部數有浮泛之氣。下部起動似數。右寸平。關平而長。尺似澀。</p>
<p>羌活　地骨皮　知母　玄參　黃芩　神麯　葛根　犀角（各三分為末）　黃柏（二分）　甘草（一分）　牡丹皮（二分）</p>
<p>上劑煎熟。入犀角末一沸。溫服。</p>
<p>同晚　脈左上部和。尺弦數。右寸關和。尺些數。</p>
<p>立師曰。左尺弦數。而起腎熱見矣。右部寸關今日熱退。而尺猶屬腎經氣分。兩尺熱見。法當治以辛苦涼。辛以散。涼以潤。苦以降。是曰全治耳。</p>
<p>黃柏　知母（各四分）　地骨皮　澤瀉　玄參（各三分）　栝蔞根（七分）　山梔子（二分）　甘草（一分）</p>
<p>二十七日晨　脈左三部平少數。尺有生髮之氣。右寸緩。關長。尺澀。帶緩。</p>
<p>前方　加枳殼（二分）</p>
<p>同晚　脈左寸平。關數些大。尺平。有根起浮之形。右寸平。關長而大。尺平。大約六部雖平。有數脈之形。</p>
<p>立師曰。今晚兩關脈大。</p>
<p>前方　去枳殼　加山楂（二分）</p>
<p>二十八日晨　脈同。但右關些長。</p>
<p>前方</p>
<p>同晚　脈左上部些數。尺沉闊。右寸關大。尺闊大低。六部些數之形。</p>
<p>栝蔞根（七分）　生知母　地骨皮　山楂子（務五分）　生黃柏　天門冬　山梔子（各三分）　燈心（二十條）</p>
<p>二十九日晨　脈左寸關些數。尺數而沉細。右寸些數而些大。關數而大。尺平。大抵六部些數。隱隱有上升之氣。</p>
<p>前方　倍門冬（六分）　減山楂（三分）　加神麯（三分）</p>
<p>同晚　脈左寸關些數而和。尺有斂起上行之意。右寸平些數。關大尺平。</p>
<p>前方　去燈心　減栝蔞根二分。作五分。</p>
<p>三十日晨　脈左三部平和有圓活之意。右寸和。關尺數中有動動之意。</p>
<p>前方　加生茅根汁（二匕）　上煎半熟。投入茅根汁服。</p>
<p>同晚　脈左三部平不泛起於上。而中體大。右上部數中衝動少和。</p>
<p>枸杞子（七分）　人參（一分半）　知母　地骨皮　天門冬　山楂（各五分）　沙參（三分）　甘草（一分）</p>
<p>九月朔日晨　脈左上部平和。尺中有發動圓活之意。右寸關些數而大。尺中少動。</p>
<p>前方　倍枸杞三分。作一錢。</p>
<p>同晚　脈左上部數。尺有圓活利動之機。右上部些數。關數而些大。尺微。</p>
<p>前方　加生酸棗仁（三分）</p>
<p>二日晨　脈左三部微。右關微數。寸尺微。大抵六部微有些些數意。曰脈微氣微。所以氣急。由不能上下之意。兩尺之微。有以見之補下。則寸關之數自息。</p>
<p>枸杞子（一錢）　沙參　地骨皮　天門冬　黃耆（各三分）　五味子（三粒）　人參（二分）　山楂（五分）　甘草（一分）</p>
<p>同晚　脈左三部些數中有圓活升降之意。右寸圓活。開數而虛大。尺平。</p>
<p>前方</p>
<p>三日晨　脈左三部和平之意。但少力。右三部圓活。關些些數。</p>
<p>前方　倍門冬二分。</p>
<p>同晚　脈左三部圓活有生氣。尺脈自診二十餘日。未嘗得如此之機神也。右關些數。寸尺似沉澀而微。</p>
<p>前方　倍人參五釐。加連翹。尖檳榔。各二分。</p>
<p>四日晨　脈左三部和緩。尺些弱。右寸沉而緩。關些大數。尺沉而弱。</p>
<p>前方　去檳榔　倍黃耆二分。作五分。</p>
<p>同晚　脈左上部和。右關大些數。兩尺活動而和。</p>
<p>前方　去連翹　加神麯（五分）　桔梗（一分）　枳實　檳榔子（各三分）</p>
<p>胃口閉塞。有噯氣而胸前少熱。然小便些淡。曰飲食入胃。上口承之。胃氣不運。積而成滯。滯久化火而不下。此清氣怫鬱於下。濁氣填塞胸中。法當推而下之。上下之用。必在一提挈之功。則清而自上。濁而自下。滯氣自消矣。又曰。食而作酸。俱在胃上口。酸久積。上則化火矣。所以吞酸初發為寒。寒者物也。久則化熱。熱久則積成之非散莫能去之。推者下散。提者上散。一提一推。和氣乃見。</p>
<p>五日晨　脈左三部融和。尺有生氣。右寸和。關尺旺。六部有圓活之機。</p>
<p>構杞子（一錢）　天門冬　山楂子（各五分）　黃耆（四分）　人參　地骨皮（各三分）　北五味（三粒）　沙參（三分）　甘草（一分）</p>
<p>同晚　脈和如早脈。但右關長。尺寸和。</p>
<p>同方</p>
<p>六日晨　脈左三部如綿裹石。隱隱有生活衝動之氣。右寸關些大而和。</p>
<p>尺沉弱。或診六脈弱而不旺。補以斂氣。而益其神。則旺自得矣。</p>
<p>枸杞子（八分）　人參　沙參　地骨皮　黃耆　杜仲（各三分）　五味子（二粒）　山楂子　神麯（各五分）　甘草（一分）</p>
<p>按早脈如綿裹石而生活動。右關既旺。何故□□日晡熱至。</p>
<p>同晚　脈左上部衝動流利。下部旺動。右三部活動。六部動且大而數。</p>
<p>前方　減參耆各半　加枳殼　黃芩　穀芽（各三分）</p>
<p>七日晨　脈左上部旺而有力。尺有活動之機。右寸雖和少定神。關大些數。尺有生活。</p>
<p>厚朴　白芍藥　神麯　地骨皮（各三分）　枳殼　山楂（各五分）　黃芩（四分）　甘草（半分）</p>
<p>同晚　脈左關些大而數。寸尺和而緩　右關大數。寸尺和弱。</p>
<p>前方　去枳殼　加人參　穀芽（各二分）　知母　天門冬（各三分）</p>
<p>按前用耆參十餘貼。各三錢余。至初六晚。脈神大旺。故停一伏時。脈神又弱。再加之以助脈神矣。</p>
<p>八日晨　脈左三部和。右寸和。關數。尺沉。</p>
<p>厚朴　栝蔞根　白芍藥　神麯　地骨皮　知母　天門冬（各三分）　黃芩（四分）　山楂（五分）　穀芽（二分）　甘草（半分）</p>
<p>同晚　脈左關些數。寸尺些數。而和。右關滑數而短。寸尺數中和。</p>
<p>前方　去蔞根穀芽　加青皮（三分）　胡黃連（二分）</p>
<p>九日晨　脈左三部緩小而和。右寸小而和。關些數。更有升動之氣。尺和。</p>
<p>前方　減厚朴青皮各一分。</p>
<p>同晚　脈左關數。寸尺些數而和。右三部平。但關少數而弱。俱得活動之體。曰左三部沉中見數體。而不見弦。現而平沉。則熱在內。所以不伶利也。按先治其數。後補其弱。謂實者先瀉之。虛者後補之。是此歟。</p>
<p>生地黃　龍膽草　枯黃芩　玄參（各三分）　柴胡　白芍藥（各二分）　黃連（一分）　山楂（五分）　甘草（半分）</p>
<p>上水煎臨服調犀角（末二分）　牛黃（末二釐）　作三次溫服。</p>
<p>十日晨　脈左三部和中有活動之氣。兼弱。右關些數。而往來明白。寸尺和而少數。</p>
<p>前方　去柴胡　龍膽草　牛黃</p>
<p>上補瀉兼行也。</p>
<p>同晚　脈力少而弱。宜大補陰血。以燥自潤矣。左三部些數中似弱而少力。右三部平和而些數。</p>
<p>當歸身（三分）　熟地黃（五分）　五味子（五粒）　枸杞子（七分）　溲人參（三分）　乾山藥（五分）　山茱萸（二分）</p>
<p>十一日晨　脈六部沉而無力曰緩。曰老人脈緩。是病之常。但未能亟起矣。</p>
<p>前方　加地骨皮（三分）　金毛狗脊（五分）</p>
<p>後日脈左寸關和有圓活之意。尺弱右寸平。關些數無力。尺弱。</p>
<p>前方　去地骨皮　全毛狗脊　倍加溲人參。二百餘貼。諸症全愈。</p>
