<header data-type="book">
<h1>蘇沈良方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>蘇軾</data>、<data>沈括</data></dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1075">公元1075年</data></dd></div>
<div><dt>底本</dt><dd>日本文化2年刊本（<a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00003925">京都大學掃描本</a>）；《欽定四庫全書·子部五·醫家類·蘇沈良方》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0020/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>原序</h1>
<p>予嘗論治病有五難，辨疾、治疾、飲藥、處方、別藥，此五也，今之視疾者，惟候氣口六脈而已；古之人視疾，必察其聲音，顏色，舉動，膚理，性情，嗜好，問其所為，考其所行，已得其大半，而又遍診人迎氣口，十二動脈。疾發於五臟，則五色為之應，五聲為之變，五味為之偏，十二脈為之動，求之如此其詳，然而猶懼失之，此辨疾之難一也。今之治疾者，以一二藥書，其服餌之節，授之而已；古以治疾者，先知陰陽運歷之變故，山林川澤之竅發。而又視其人老少肥瘠，貴賤居養，性術好惡，憂喜勞逸，順其所宜，違其所不宜，或藥或火，或刺或砭，或湯或液，矯易其故常，捭摩其性理，搗而索之，投幾順變，間不容髮。而又調其衣服，理其飲食，異其居處，因其情變，或治以天，或治以人，五運六氣，冬寒夏暑，晹雨電雹，鬼靈魘蠱，甘苦寒溫之節，後先勝負之用，此天理也，盛衰強弱，五臟異稟，循其所同，察其所偏，不以此形彼，亦不以一人例眾人，此人事也。言不能傳之於書，亦不能喻之於口，其精過於承蜩，其察甚於刻棘，目不捨色，耳不捨聲，手不釋脈，猶懼其差也，授藥遂去，而希其十全，不亦難哉！此治疾之難二也。古之飲藥者，煮煉有節，飲啜有宜。藥有可以久煮，有不可以久煮者，有宜熾火，有宜溫火者，此煮煉之節也。宜溫宜寒，或緩或速，或乘飲食喜怒，而飲食喜怒為用者，有違飲食喜怒，而飲食喜怒為敵者，此飲啜之宜也。而水泉有美惡，操藥之人有勤惰，如此而責藥之不效者，非藥之罪也，此服藥之難三也。藥之單用為易知，藥之復用為難知。世之處方者，以一藥為不足，又以眾藥益之，殊不知藥之有相使者，相反者，有相合而性易者。方書雖有使佐畏惡之性，而古人所未言人情所不測者，庸可盡哉？如酒於人，有飲之逾石而不亂者，有濡吻則顛眩者；漆之於人，有終日搏漉而無害者，有觸之則瘡爛者，焉知藥之於人，無如此之異者？此稟賦之異也。南人食豬魚以生，北人食豬魚以病，此風氣之異也。水銀得硫黃而赤如丹，得礬石而白如雪。人之欲酸者，無過於醋矣，以醋為未足，又益之以橙，二酸相濟，宜其甚酸而反甘。巴豆善利也，以巴豆之利為未足，而又益之以大黃，則其利反折。蟹與柿，嘗食之而無害也，二物相遇，不旋踵而嘔，此色為易見，味為易知，而嘔利為大變，故人人知之。至於相合而知他藏致他疾者，庸可易知耶？如乳石之忌參朮，觸者多死。至於五石散，則皆用參朮，此古人處方之妙，而世或未喻也，此處方之難四也。醫誠藝也，方誠善也，用之中節也，而藥或非良，奈何哉？橘過江而為枳，麥得濕而為蛾，雞逾嶺而黑，鸜鵒逾嶺而白，月虧而蚌蛤消，露下而蚊喙坼，此形器之易知者也，性豈獨不然乎？予觀越人藝茶畦稻，一溝一隴之異，遠不能數步，則色味頓殊，況藥之所生，秦越燕楚之相遠，而又有山澤膏瘠燥濕之異稟，豈能物物盡其所宜。又《素問》說陽明在天，則花實戕氣，少陽在泉，則金石失理，如此之論，採掇者固未嘗晰也。抑又取之有早晚，藏之有焙㫰，風雨燥濕，動有槁暴，今之處藥。或有惡火者，必日之而後咀。然安知採藏之家，不常烘煜哉，又不能必，此辨藥之難五也。此五者，大概而已。其微至於言不能宣，其詳至於書不能載，豈庸庸之人，而可以易言醫哉？予治方最久，有方之良者，輒為疏之，世之為方者，稱其治效，嘗喜過實，《千金肘後》之類，猶多溢言。使人不敢覆信，予所謂《良方》者，必目睹其驗，始著於篇，聞不預也。然人之疾，如向所謂五難者，方豈能必良哉！一賭其驗，即謂之良，殆不異乎刻舟以求遺劍者？予所以詳著其狀於方尾，疾有相似者，庶幾偶值云爾，篇無次序，隨得隨注，隨以與人，極道貴速，故不暇待完也。《沈括序》</p>

<h1>蘇沈內翰良方序一</h1>
<p>沈公內翰，字存中，博古通今，古君子也，留心醫書，非所好也，實有補於後世爾，公凡所至之處，莫不詢究，或醫師，或里巷，或小人，以至士大夫之家。山林隱者，無不求訪，及一藥一術，皆至誠懇切而得之。終不以權勢財貨逼而得之。可見其愛物好生之理也。公集而目之曰《良方》。如古之良醫者，若孫真人，未嘗不以慈悲方便救護為念也。近世有人或得一方，小小有效，則其莫得之，此亦為衣食故也。若夫腰金佩玉，出權貴之門，又安敢望其面目乎？余得此方十有餘年，恨篋無金帛，而能成就一板，使流傳天下後世，療夫久疾𤴺疴纏綿之苦者也，豈自言微功有所利也，然此方經驗有據，始敢鏤行。</p>
<p><u>永嘉金門羽客林靈素序</u></p>

<h1>蘇沈內翰良方序</h1>

<h1>卷第一</h1>

<h2>脈說</h2>
<p>脈之難，古今之所病也。至虛有盛候，大實有羸狀。差之毫釐疑似之間，便有死生禍福之異，此古今所病也。病不可不謁醫，而醫之明脈者，天下蓋一二數。騏驥不時有，天下未嘗徒行；和扁不世出，病者終不徒死，亦因其長而護其短爾。士大夫多秘所患，以求診，以驗醫之能否。使索病於冥漠之中，辨虛實冷熱於疑似之間。醫不幸而失，終不肯自謂失也。則巧飾掩非以全其名，至於不救。則曰是固難治也。間有謹願者，雖或因主人之言，亦復參以所見。兩存而雜治，以故藥不效，此世之通患，而莫之悟也。吾平生求醫，蓋於平時，默驗其工拙，至於有疾而求療，必先盡告以所患，而後求診，使醫瞭然知患之所在也。然後求之診，虛實冷熱先定於中，則脈之疑不能惑也。故雖中醫治吾病常愈，吾求疾愈而已，豈以困醫為事哉！</p>

<h2>蒼耳說</h2>
<p>藥至賤而為世要用，未有如蒼耳者。他藥雖賤，或地有不產。惟此藥不為間南北夷夏，山澤斥鹵，泥土沙石，但有地則產。其花葉根實皆可食。食之如菜，亦治病無毒。生熟丸散無適不可，多食愈善。久乃使人骨髓滿，肌理如玉，長生藥也。雜療風痹癱瘓，癃瘧瘡癢，不可勝言，尤治癭金瘡，一名鼠黏子，一名羊負菜，詩謂之卷耳，疏謂之枲耳，俗謂之道人頭，海南無藥，惟此藥生舍下，多於茨棘，遷客之幸也。己卯二月望日書。</p>

<h2>記菊</h2>
<p>菊，黃中之色，香味和正，花葉根實皆長生藥也。北方隨秋之早晚。大略至菊，有微霜乃開，獨嶺南不然，至冬至乃盛發。嶺南地暖，百卉造作無時，而菊獨開後，考其理，菊性介，然不與百卉盛衰，須霜降乃發。而嶺海常以冬至微霜故也。其天姿高潔如此，宜其通仙靈也，吾在南海，藝菊九畹，以十一月望，與客泛菊作重九。書此為記。</p>

<h2>記海漆</h2>
<p>吾謫海南，以五月出陸藤州。自藤至儋，野花夾道。如芍藥而小，紅鮮可愛，樸嫰叢生，土人云：倒黏子花也。至儋則已結子，如馬乳。爛紫可食，味甘美。中有細核，並嚼之，瑟瑟有聲，亦頗苦澀。兒童食之或大便難通，葉皆白，如石葦之狀，野人夏秋痢下，食其葉輒已，取膠以代柿漆，即愈於柿也，余久苦小便白濁，近又大腑滑，百藥不瘥。取倒黏子嫩葉，酒蒸焙燥為末，酒糊丸。吞百餘，二腑皆平復。然後知奇藥也。因名之曰海漆。而私記之，以貽好事君子。明年子熟，當取子。研濾曬煮為膏以劑之，不復用糊矣。戊寅十一月一日記。</p>

<h2>記益智花</h2>
<p>海南產益智花，實皆長穗，而分為三節。其實熟否。以候歲之豐歉。其下節以候早禾，其上中亦如之。大吉則實，凶歲皆不實。罕有三節並熟者，其為藥也，治止水，而無益於智，智豈求於藥者乎？其得名也，豈以知歲也耶？今日見儋耳圃儒黎子云言候之審矣，聊復記之，以俟好事者。《補註本草》。</p>

<h2>記食芋</h2>
<p>岷山之下，凶年以蹲鴟為糧。不復疫癘，知此物之宜人也。《本草》謂芋土芝，云益氣充飢。惠州富此物，人食者不免瘴。吳遠遊曰，此非芋之罪也。芋當去皮，濕紙包煨之，火過熟，乃熱啖之，則松而膩，能益氣充飢。今惠州人，皆和皮水煮，冷啖，堅頑少味，其瘴固宜。丙子除夜前二日，夜飢甚，遠遊煨芋兩枚見啖。美甚，乃為書此帖。</p>

<h2>記王屋山異草</h2>
<p>王屋山有異草，制百毒。能於鬼手奪命，故山中人謂此草墓頭回蹇葆光托吳遠遊寄來。吾聞兵無刃，蟲無毒，皆不可任，若阿羅漢永斷三毒，此藥遂無所施耶。</p>

<h2>記元修菜</h2>
<p>蜀中有菜，如豌豆而小，食之甚善，耕而覆之，能肥瘠地。性甚熱，食之使人呀呷，若以少酒曬而蒸之，則甚益人，而不為害。眉山巢谷元修，始以其子來黃州。江淮間如識之，此菜名巢菜，黃州人謂之元修菜。</p>

<h2>記蒼朮</h2>
<p>黃州山中，蒼朮至多。就野入買之，一斤數錢耳。此長生藥也。人以其易得，不復貴重，至以熏蚊子。此亦可以太息。舒州白朮，莖葉亦皆相似，特花紫耳，然至難得，三百一兩。其效止於和胃氣，去遊風，非神仙上藥也。</p>

<h2>記流水止水</h2>
<p>孫思邈《千金方》，人參湯須用流水，用止水即不驗。人多疑流水止水無別。予嘗見丞相荊公喜放生，每日就市買活魚，縱之江中，莫不洋然。惟鰍䱉入江水輒死，乃知鰍䱉但可居止水。則流水與止水果不同，不可不信。又鯽魚生流水中則背鱗白，生止水中則背鱗黑，而味惡，此亦一驗也。</p>

<h2>論臟腑</h2>
<p>古方言，雲母粗服，則著人肝肺不可去。如枇杷狗脊，毛皆不可食，食射入肝肺。世俗似此之論甚多，皆謬說也。又言人有水喉、食喉、氣喉，亦謬也，世傳歐希範真五臟圖，亦畫三喉，蓋當時驗之不審。水與食同嚼而吞，豈能口中遂分二喉哉？人但有咽有喉二者而已。咽則納飲食，喉則通氣。咽則咽入胃脘，次入胃中，又次入廣腸，下入大小腸。喉則下通五臟，為出入息。五臟之含氣呼吸，正如冶家鼓鞴。人之飲食藥餌，但自咽入腸胃，何嘗至五臟。凡人肌骨五臟腸胃雖各別，其入腹之物，英精之氣，皆能洞達，但滓穢即入二腸。故人飲食及服藥，既入腹，為真氣所蒸。英精之氣味，以至金石之精者，如細研硫黃硃砂乳石之類，俱能飛走。融結者皆隨真氣洞達肌骨，猶如天地之氣，貫穿金石土木，曾無留礙，其餘頑石草木，則但氣味洞達爾。及其勢盡，則滓穢傳於大腸，潤濕滲入小腸，皆敗物不能變化，惟當退泄耳。凡所謂某物入肝，某物入腎之類，但氣味到彼爾，其質豈能到彼哉？此醫不可不知也。</p>

<h2>論君臣</h2>
<p>舊說有：藥用一君二臣三佐五使之說。其意以謂藥雖眾，主病者專在一物，其他則節給相為用。大略相統制，如此為宜，不必盡然也。所謂君者。主此一方，固無定物也。藥性論，乃以眾藥之和厚者定為君。其次為臣為佐，有毒者多為使，此謬論也。設若欲攻堅積，則巴豆輩，豈得不為君也？</p>

<h2>論湯散丸</h2>
<p>湯散丸各有所宜。古方用湯最多，用丸散者殊少。煮散古方無用者，惟近世人為之。大體欲達五臟四肢者莫如湯，欲留膈胃中者莫如散。久而後散者莫如丸，又無毒者宜湯，小毒者宜散，大毒者宜用丸。又欲速用湯，稍緩用散，甚緩者用丸，此大概也。近世用湯者全少，應湯者全用煮散。大率湯劑氣勢完壯，力與丸散倍蓰。煮散，多者一啜，不過三五錢極矣。比功效力，豈敵湯勢，然既力大不宜有失，消息用之，要在良工，難可以定論拘也。</p>

<h2>論採藥</h2>
<p>古方採草藥，多用二八月，此殊未當。二月草已芽，八月苗未枯。採掇者易辨識耳，在藥則未為良時。大率用根者，若有宿根，須取無莖葉時採，則津澤皆歸其根。欲驗之，但取蘆菔地黃輩，觀無苗時採，則實而沉；有苗時採，則虛而浮。其無宿根者，即候苗成而未有花時採，則根生定，而又未衰，如今紫草。未花時採，則根色鮮澤；花過而採，則根色黯惡，此其效也。用葉者，取葉初長足時取；（用芽者亦從本說）用花者，取花初敷時採；用實者，取成實時採，皆不可限以時月。緣氣有早晚，天時有愆伏。如平地三月花者，深山中須四月花。白樂天遊大林寺詩云：人間四月芳菲盡，山寺桃花始正開。蓋常理也。此地勢高下之不同也。如筀竹筍，有二月生者，有三四月生者，有五月方生者，謂之晚筀。稻有七月熟者，有八九月熟者。有十月熟者，謂之晚稻。一物同一畦之間，自有早晚，此物性之不同也。嶺嶠微草，凌冬不凋，並汾喬木，望秋先殞。諸越則桃李夏實，朔漠則桃李夏榮，此地氣之不同也。同畝之稼，則糞溉者先芽。一丘之禾，則後種者晚實。此人力之不同也，豈可一切拘以定月哉？</p>

<h2>論橘柚</h2>
<p>《本草注》。橘皮味苦，柚皮味甘，此誤也。柚皮極苦，不可向口。皮甘者乃柑耳。</p>

<h2>論鹿茸麋茸</h2>
<p>按月令，冬至麋角解，夏至鹿角解，陰陽相反如此。今人用麋鹿茸作一種，殆疏也。又有刺麋鹿血以代茸，云茸亦血耳，此大誤也。竊詳古人之意。凡含血之物，肉差易長，其次角難長，最後骨難長，故人自胚胎至成人，二十年骨髓方堅，惟鹿茸自生至堅，無兩月之久。大者乃重二十餘斤，其堅如石。計一夜須生數兩，凡骨之頓成。生長神奇，無甚於此。雖草木之易生者，亦無能及之，此骨之至強者，所以能補骨血，堅陽道，強精髓也，豈可與血為比哉？麋茸利補陽，鹿茸利補陰。凡用茸無須太嫩，世謂之茄子茸，但真甚難得，而其實少功，堅者又太老。唯長數寸破之，肌如朽木，茸端如瑪瑙紅玉最善。又北方沙漠中，有麋麖駝塵。強大而色蒼，尻黃而無斑，亦鹿之類。角大有文，堅瑩如玉，其茸亦可用。</p>

<h2>論雞舌香</h2>
<p>予集《靈苑方》，論雞舌香，以為丁香母，蓋出《陳氏拾遺》。今細考之，尚為未然。按《齊民要術》，雞舌香以其似丁子，故一名丁子香，即今丁香是也。日華子云，雞舌香治口氣，所以三省故事，郎官含雞舌香，欲其奏事對答，氣芬芳，此正謂丁香治口氣，至今方書為然。又《古方》五香連翹湯，用雞舌香，《千金》五香連翹湯，無雞舌香，卻有丁香，此最為明驗，《新補本草》，又出丁香一條，蓋不曾深考也。今世所謂雞舌香者，乳香中得之。大如山茱萸，剖開中如柿核，略無氣味，以此治疾，殊極乖謬。</p>

<h2>論金罌子</h2>
<p>金罌子止遺泄，取其溫且澀也。世之用金罌者，待其紅熟時，取汁熬膏用之，大誤也。紅則味甘，熬膏則全斷澀味，都失本性。今當取半黃時採干，搗末用之。</p>

<h2>論地骨皮</h2>
<p>枸杞，陝西極邊生者高丈餘，大可作柱。葉長數寸無刺，根皮如厚朴，甘美異於他處者。《千金翼》云。甘州者為真，葉厚大者是。大體出河西諸郡，其次江地。閒圩埂上者，實圓如櫻桃，全少核，曝乾如餅，極膏潤有味。</p>

<h2>論淡竹</h2>
<p>淡竹對苦竹為文。除苦竹外，悉謂之淡竹，不應別有一品謂之淡竹。後人不曉，於本草別疏淡竹為一物。今南人食筍，有苦筍，有淡筍兩色。淡筍淡竹也。</p>

<h2>論細辛</h2>
<p>東南方所用皆杜衡也，又謂之馬蹄香。色黃白，拳局而脆，干則圓，非細辛也。細辛出華山，極細而直，深紫色，味極辛，嚼之習習如生椒。其辛更甚於椒，故《本草》云。細辛水漬令直，是以杜衡偽之也。襄漢間，又有一種細辛。極細而直，色黃白，乃是鬼督郵，非細辛也。</p>

<h2>論甘草</h2>
<p>《本草注》引《爾雅》云，蘦大苦，注甘草也。蔓延生葉似荷，莖青赤，此乃黃藥也。其味極苦，故謂之大苦，非甘草也。甘草枝葉悉如槐，高五六尺。但葉端微尖而糙澀，似有白毛。實作角，生如相思角。四五角作一本生，熟則角折。子如小扁豆，極堅，齒齧不破。</p>

<h2>論胡麻</h2>
<p>胡麻，直是今油麻，更無他說。予已於《靈苑方》論之。其角有六稜者，有八稜者。中國謂之麻。今謂之大麻是也。有實為苴麻，無實為枲麻，又曰牡麻，張騫始自大宛得麻之種，亦謂之麻。故以胡麻別之，不謂漢麻為大麻也。</p>

<h2>論赤箭</h2>
<p>赤箭，即今天麻也。後人既誤出天麻條，遂指赤箭別為一物。既無此物，乃取天麻苗為之。滋為不然，《本草》明稱。採根陰乾，安得以苗為根。草藥上品。除五芝之外，赤箭為第一。此神仙補理養生上藥，世人惑於天麻之說，遂止用之治風，良可惜哉！或以謂其莖如箭。既言赤箭，疑當用莖，此猶不然。至如鳶尾牛膝之類，皆謂莖葉有所似。用則用根爾，何足疑哉？</p>

<h2>論地菘</h2>
<p>地菘，即天名精也。世人既不識天名精，又妄認地菘為火蘞。《本草》又出鶴蝨一條，都成紛亂。今按地菘即天名精也。其葉似松，又似蔓荊，（名精即蔓荊也）故有二名。鶴蝨即其實也。世間有單服火蘞法，乃是服地菘爾，不當服火蘞。火蘞本草名𦻎蘞，即是豬膏莓。後人不識，亦云復出之爾。</p>

<h2>論南燭草木</h2>
<p>南燭草木記，傳《本草》所說多端。今少有識者為其作青精飯，色黑，乃誤用烏臼為之，全非也，此木類也。又似草類，故謂之南燭草木。今人謂之南天燭者是也。南人多種於庭檻之間。莖如蒴藋。有節高三四尺，廬山有盈丈者。葉微似楝而小，至秋則實赤如丹，南方至多。</p>

<h2>論太陰元精</h2>
<p>太陰元精，生解州鹽澤大滷中，溝渠土內得之。大者如杏葉，小者如魚鱗，悉皆六角，端正似刻，正如龜甲。其裙袖，小墮其前則下剡，其後則上剡，正如穿山甲。相掩之處，全是龜甲，更無異也。色綠而瑩徹，叩之則直理而析，瑩明如鑑。析處亦六角，如柳葉，火燒過則悉解。析薄如柳葉，片片相離，白如雪，平潔可愛，此乃稟積陰之氣凝結，故皆六角，今天下所用元精，乃絳州山中所出絳石爾，非元精也。楚州鹽城縣，古鹽倉下土中，又有一物，六稜如馬牙硝，清瑩如水晶，潤澤可愛，彼方亦名太陰元精，然喜暴潤如鹽滷之類，惟解州出者為正。</p>

<h2>論稷米</h2>
<p>稷，乃今之穄也。齊晉之人，謂稷皆曰祭，是其土音，無他義也。《本草注》云，又名糜子。糜子乃黍屬。詩云：維秬維秠。維糜維芑，秬秠糜芑皆黍屬。以色為別，丹黍謂之糜，糜音門。今河西人用糜字，（音縻）。</p>

<h2>論苦躭</h2>
<p>苦躭，即本草酸漿也。《新集本草》，又重出苦躭一條：河西番界中，酸漿有盈丈者。</p>

<h2>論蘇合香</h2>
<p>今之蘇合香，如堅木赤色。又有蘇合油，如𥻿膠，今多用之為蘇合香。按《劉夢得傳信方》，用蘇合香多薄葉，子如金色，按之則少，放之則起，良久不定，如蟲動，氣烈者佳也。如此則全非今所用者，更當精考之。</p>

<h2>論薰陸香</h2>
<p>薰陸，即乳香也，本名薰陸。以其滴下如乳頭者，謂之乳頭香。熔塌在地上者，謂之塌香。如蠟茶之有滴乳白乳之品，豈可各是一物。</p>

<h2>論山豆根</h2>
<p>山豆根極苦。《本草》言味甘者，大誤也。</p>

<h2>論青蒿</h2>
<p>蒿之類至多，如青蒿一類。自有兩種，有黃色者，有青色者，《本草》謂之青蒿，亦恐有別也。陝西綏銀之間，有青蒿叢，或間有一兩株，迥然青色，土人謂之香蒿。莖葉與常蒿悉同，但常蒿色綠。而此蒿色青翠，一如松檜之色。至深秋，余蒿並黃，此蒿尤青，氣頗芬芳。恐古人所用，以此為勝。</p>

<h2>論文蛤海蛤魁蛤</h2>
<p>按文蛤即吳人所食花蛤也。魁蛤即車螯也。海蛤今不識，其生時，但海岸泥沙中得之。大者如棋子，細者如油麻粒，或黃或赤相雜，蓋非一類。乃諸蛤之房，為海水礲礪光瑩，都非舊質。蛤之屬其類至多，房之堅久瑩潔者皆可用。不必指一物，故通謂之海蛤耳。</p>

<h2>論漏蘆</h2>
<p>今方家所用漏蘆，乃飛廉也。飛廉一名漏蘆，苗似苦芙，根似牛蒡，綿頭者是也，採時用根。今閩中所用漏蘆，莖如油麻，高六七寸。秋深枯黑如漆，時用苗。《本草》自有一條，正謂之漏蘆。</p>

<h2>論赭魁</h2>
<p>《本草》所謂赭魁，皆未詳審。今赭魁南中極多，膚黑肌赤，似何首烏。切破，其中赤白理如檳榔，有赤汁如赭。南人以染皮製靴，閩嶺人謂之餘糧。《本草禹餘糧注》中所引，乃此物也。</p>

<h2>論龍芮</h2>
<p>石龍芮，今有兩種。水生者葉光而末圓，地生者其葉毛而末銳。入藥用水生者，陸生者亦謂之天灸。取少葉揉臂上，一夜作大泡如火燒，是也。</p>

<h2>論麻子</h2>
<p>麻子，海東來者最大如蓮實。出柘蘿島，其次上郡北地所出。大如大豆，亦善，其餘皆下材。用時去殼，其法取麻子帛包，沸湯中浸，候湯冷，乃取懸井中，勿令著水。明日日中曝乾，就新瓦上，輕挼，其殼悉解，簸揚取肉，粒粒皆完。</p>

<h2>灸二十二種骨蒸法</h2>
<p>崔丞相灸勞法，《外臺秘要》、《崔相家傳方》及《王寶臣經驗方》，悉編載，然皆差誤。毗陵郡有石刻最詳。余取諸本參校，成此一書，比古方極為委曲。依此治人，未嘗不驗，往一灸而愈。予在宜城，久病虛羸，用此而愈。</p>

<h2>唐中書侍郎崔知悌序</h2>
<p>夫含靈受氣，稟之於五行。攝生乖理，降之以六疾。若《歧黃廣記》，《蔚有舊經》。攻灸兼行，顯著斯術。骨蒸病者，亦名傳屍，亦謂殜殗，亦稱復連，亦曰無辜。丈夫以癖氣為根，婦人以血氣為本。無問長少，多染此病。嬰孺之流，傳注更苦。其為狀也，發乾而聳，或聚或分，或腹中有塊，或腦後兩邊有小結，多者乃至五六。或夜臥盜汗，夢與鬼交。雖目視分明，而四肢無力，且上氣食少，漸就沉羸。縱延日時，終於𣩄盡。余昔忝洛州司馬，嘗三十日灸活一十三人，前後瘥者數逾二百。至於貍骨獺肝，徒聞曩說，金牙銅鼻，罕見其能，未若此方。扶危拯急，非止單攻骨蒸。又別療氣療風，或瘴或勞，或邪或癖，或患狀既廣。灸活者不可具述，略陳梗概。又恐傳受訛謬，以誤將來。今故具圖形狀，庶令覽者易悉，使所在流布。頗用家藏，未暇外請名醫，傍求上藥，還魂返魄，何難之有？遇斯疾可不務乎。</p>

<h2>取穴法</h2>
<p>先定穴，令患人平身立正，取一細繩擸之，勿令展縮，順腳底貼肉堅踏之。男左女右，其繩前頭與大拇指端齊，後頭令當腳根中心，向後引繩，循腳肚貼肉直上，至曲䐐中大橫紋截斷。又令患人解發分兩邊，令見頭縫，自囟門平分至腦後，乃平身正坐，取向所截繩一頭，令與鼻端齊，引繩向上，正循頭縫，至腦後貼肉垂下。循脊骨，引繩向下至繩盡處。當脊骨，以墨點記之。（墨點不是灸處）又取一繩子，令患人合口，將繩子按於口上，兩頭至吻，卻拘起繩子中心，至鼻柱根下止。如此便齊兩吻截斷，將此繩展令直，於前來脊骨上墨點處。橫量取平，勿令高下，繩子先中折，當中以墨記之，卻展開繩子橫量，以繩子上墨點，正壓脊骨上墨點為正。兩頭取中，勿令高下，於繩子兩頭，以白圈記，白圈是灸穴也。</p>
<p>以上是第一次點二穴。</p>
<p>次二穴，令其人平身正坐，稍縮臂膊。取一繩繞項，向前雙垂，與鳩尾齊。鳩尾是心岐骨，人有無心岐骨者。至從胸前兩岐頭下量取一寸，即是鳩尾也。即雙截斷，卻背翻繩頭向項後，以繩子中停取心正，令當喉嚨結骨上。其繩兩頭夾項雙垂，循脊骨以墨點記之。（墨點不是灸處）又取一繩子，令其人合口。橫量齊兩吻截斷，還於脊骨上墨點橫量如法。繩子兩頭，以白圈記之，白圈是灸穴處。</p>
<p>以上是第二次點穴。通前共四穴。同時灸，日別各七壯。至第二穴，壯累灸至一百，或一百五十壯為妙。候灸瘡欲瘥，又依後法灸二穴。</p>
<p>又次二穴，以第二次量口吻繩子。於第二次雙繩頭盡處，墨點上。當脊骨，直上下豎點，令繩中停，中心在墨點上。於上下繩盡頭，以白圈兩穴，白圈是灸穴處。</p>
<p>以上是第三次點兩穴，謂之四花穴。灸兩穴各百壯，三次共六穴。各取離日量度，度訖，即下火。唯須三月三日艾最佳。病瘥百日內，忌飲食房室，安心靜處將息。若一月後覺未瘥，復初穴上再灸。凡骨蒸，候所起。辯驗有二十二種，並依上項灸之。</p>
<p>一胞蒸（小便赤黃）　二玉房蒸（男遺尿失精，女月漏不調）　三腦蒸（頭眩熱悶）　四髓蒸（覺髓沸熱）　五骨蒸（齒黑）　六筋蒸（甲焦）　七血蒸（發焦）　八脈蒸（急緩不調）　九肝蒸（或時眼前昏暗）　十心蒸（舌焦或瘡或時胸滿）　十一脾蒸（唇焦坼或口瘡）　十二肺蒸（口乾生瘡）　十三腎蒸（耳乾焦）　十四膀胱蒸（右耳焦）　十五膽蒸（眼目失光）　十六胃蒸（舌下痛）　十七小腸蒸（下瀝不禁）　十八大腸蒸（右鼻孔痛）　十九二焦蒸（乍寒乍熱）　二十肉蒸（別人覺熱自覺冷寒）　二十一皮蒸（皮生粟起）　二十二氣蒸（遍身壯熱不自安息）</p>

<h2>用尺寸取穴法</h2>
<p>凡孔穴尺寸，皆隨人身形大小，須男左女右。量手指中一節，兩橫紋中心，為一寸中。</p>

<h2>艾炷大小法</h2>
<p>凡艾炷，須令腳跟足三分。若不足三分，恐覆孔穴。不備穴中經脈，火氣不行，即不能抽邪氣引正氣。雖小兒，必以中指取穴為準。</p>

<h2>取艾法</h2>
<p>端午日，日未出，於艾中以意求其似人者。輒拮之以灸，殊有效。幼時見一書云爾，忘其為何書也。艾未有真似人者，於明暗間。苟以意命之而已，萬法皆妄。無一真者，此何疑耶？</p>

<h2>用火法</h2>
<p>黃帝曰：松柏柿桑棗榆柳竹等依火用灸，必害肌血，慎不可用。凡取火者，宜敲石取火。或水晶鏡子於日得者，太陽火為妙。天陰，則以槐木取火亦良，灸後宜服治勞地黃丸。</p>

<h2>具方</h2>
<p>生地黃汁　青蒿汁　薄荷汁　童便　好酒（以上各二升煎成膏入）　柴胡（去頭）　鱉甲（醋炙）　秦艽（各一兩）　硃砂　麝香（各半兩研）</p>
<p>上五味為末，入前膏和為丸，如桐子大。每服十五丸至二十丸，溫酒下，切忌生冷毒物。</p>

<h1>卷第二</h1>

<h2>論風病</h2>
<p>王遊元龍言：《錢子飛治大風方》極驗。嘗以施人。一日夢人自云，天使以此病人。君違天怒，若施不已，君當得此病。藥不能救，子飛懼，遂不施。僕以為天之所病不可療耶，則藥不應服有效。藥有效者，則是天不能病。當是病之祟，畏是藥而假天以禁人爾。晉侯之病為二豎子。飛赤丸亦先見於夢，蓋有或使之者。子飛不察，為鬼所脅。若予則不然，苟病者得愈。願代其苦，家有此方，能下腹中穢惡。在黃州試之，病良已，後當常以施人。</p>

<h2>治風氣四神丹</h2>
<p>熟乾地黃　元參　當歸　羌活（各等分）</p>
<p>上搗為末，蜜和丸，梧桐子大，空心酒服，丸數隨宜。《列仙傳》有山圖者，入山採藥折足，仙人教服此四物而愈。因久服，遂度世。頃余以問名醫康師孟。師孟大異之云，醫家用此多矣。然未有專用此四物如此方者，師孟遂名之曰四神丹。洛下公卿士庶爭餌之，百病皆愈。藥性中和，可常服。大略補虛益血，治風氣，亦可名草還丹。己卯十一月，東坡居士儋耳書。</p>

<h2>四味天麻煎方</h2>
<p>世傳四味五兩天麻煎方。蓋古方，本以四時加減，但傳藥料耳。春肝旺多風，故倍天麻；夏伏陰，故倍烏頭；秋多利下，故倍地榆；冬伏陽，故倍元參。當去皮生用，治之方，搗烏頭無復毒。此常服不獨去病。乃保真延年，與仲景八味丸並驅矣。</p>

<h2>木香散</h2>
<p>治偏風癱瘓，腳氣等疾。</p>
<p>羌活（一兩）　麻黃（去節水煮少時去沫二兩）　防風（三分）　木香　檳榔　附子（炮去皮）　白朮　川烏頭（炮去皮）　草豆蔻（和皮用）　陳橘皮　牛膝（酒浸一宿）　杏仁（生去皮尖）　當歸（酒浸一宿）　人參　茯苓　甘草（炙）　川芎　官桂（不得見火各半兩）</p>
<p>上十八味，銼如麻豆，每服一兩，水一碗，姜七片。煎至一盞，去滓，得七分溫服。大腸不通，加大黃末，每服一錢。以老少加減。如久不通，加至三五錢不害。心腹脹，加葶藶並滑石末，每服各一錢，滑石湯送下。如上膈壅滯痰嗽氣急，加半夏升麻天門冬知母末，各二錢同煎。其藥滓兩合為一服，用水一碗半。煎至一盞，服此藥。福唐陳氏者，鬻以自給，郡人極神之。人未有得其方者，一日為其親戚攘得與予。予作官處，即合以施人。如法煮服，以衣覆取汙，不過三五服輒瘥。所至，人來求藥者無窮，其驗如神。</p>

<h2>左經丸</h2>
<p>治筋骨諸疾。手足不隨不能行步運動。</p>
<p>草烏（肉白者生去皮臍）　木鱉子（去殼別研）　白膠香　五靈脂（各三兩半）　當歸（一兩）　斑蝥（一百個去翅足少醋煮熟）</p>
<p>上為末，用黑豆去皮，生杵粉一斤，醋煮糊為丸，如雞實大。每服一丸，酒磨下。筋骨疾，但不曾針灸傷筋絡者，四五丸必效。予鄰里胡生者，一女子腕軟不能行立已數年，生因遊淨因佛寺，與僧言。有一僧云能治，出囊中丸十枚，以四枚與生曰：服此可瘥。生如其言與服，女子遂能立。生再求藥於院，僧曰非有愛也，欲留以自備。必欲之，須合一料。生與錢一千，辭不受。止留百錢，後數日得藥，並餘錢悉歸之。同院僧佐其理藥，乃剽得此方。予至嘉興，有一里巷兒，年十餘歲，兩足不能行。以一丸分三服服之，盡四五丸遂能行。自此大為人所知，其效甚著。此藥能通營衛，導經絡，專治心腎肝三經。服後小便少淋瀝，乃其驗也。</p>

<h2>燒肝散</h2>
<p>治三十六種風。二十四般冷，五勞七傷，一切痢疾，脾胃久虛，不思飲食，四肢無力，起止甚難，小便赤澀，累年口瘡，久醫不瘥，但依此法服之必愈。</p>
<p>茵陳　犀角　石斛　柴胡　芍藥　白朮（以上各半兩）　乾薑　防風　桔梗　紫參　人參　胡椒　官桂（去皮）　白蕪荑　吳茱萸（以上各一兩）</p>
<p>上共十五味同為末，以羊肝一具。如無，即獖豬肝代之，分作三分，淨去血脈脂膜，細切，用末五錢，蔥白一莖，細切相和。以濕紙三五重裹之，掘地坑，內以火，燒令香熟，早晨生薑湯嚼下，大叚冷勞，不過三服見效。廬州刁參軍，病泄痢日久，黑瘦如墨，萬法不瘥。服此一二服，下墨汁遂安。</p>

<h2>蛜𧌴丸</h2>
<p>治鶴膝風，及腰膝風縮。</p>
<p>蛜𧌴（頭尾全者）　桃仁（生）　白附子　阿魏　桂心　白芷　安息香（用胡桃穰研各一兩）　沒藥（三分，以前八物用童便五升，無灰酒二升，銀器內熬令厚）　乳香（三分）　當歸　北漏蘆　牛膝　芍藥　地骨皮（去土）　威靈仙　羌活（各一兩）</p>
<p>上為丸，如彈丸大，空心暖酒化下一丸。胡楚望博士，病風疰，手足指節皆如桃李痛不可忍，服悉愈。</p>

<h2>烏荊丸</h2>
<p>治風。</p>
<p>川烏（一兩炮去皮）　荊芥穗（一兩）</p>
<p>上醋糊丸，如桐子大，每服二十丸，酒或熟水下。有疾食空時，日三四服，無疾早晨一服。少府郭監丞，少病風，搴搐，頤頷寬嚲不收，手承頷然後能食，服此六七服即瘥，遂長服之。已五十餘年，年七十餘，強健，鬚髮無白者，此藥療腸風下血尤妙。累有人得效，予所目見，下血人服此而瘥者，一歲之內已數人。</p>

<h2>天麻煎丸</h2>
<p>治風氣不順，骨痛，或生赤點隱疹。日久不治，則加冷痹。筋骨緩弱，沉香天麻煎丸。（出《博濟》）</p>
<p>五靈脂　附子　白朮　赤小豆（各一兩）　天麻（半兩）　乾蠍（炒）　羌活　防風（各一兩）</p>
<p>上先以沉香二兩，酒一升，煎為膏。無犯鐵器，入藥搗千下，為丸梧桐子大，空腹，荊芥湯或荊芥酒下二十丸，過五日加至三十丸。秋夏宜荊芥湯，春冬宜荊芥酒。春末夏初喜生赤根白頭瘡，服之瘥。</p>

<h2>服威靈仙法</h2>
<p>服威靈仙有二法。（別有一帖云：以甚威靈仙雜牛膝服之，視氣虛實，加減牛膝，牛膝以酒浸焙乾。二物皆為末丸散，皆可丸以酒煮麵糊）</p>
<p>其一淨洗陰乾，搗羅為末。雜酒浸牛膝末，或蜜丸，或為散。酒調。牛膝之多少，視已氣之虛實而增減之。此眉山一親，患腳氣至重，依此服半年，遂永除。其一法，取藥粗細得中，寸截之。七寸作一帖，每歲作三百六十帖，置床頭，五更初，面東細嚼一帖，候津液滿口嚥下。此牢山一僧，年百餘歲，上下山如飛，云得此藥方。二法皆以得真為要。真者有五驗：一味極苦；二色深黑；三折之脆而不韌；四折之微塵，如胡黃連狀；五斷處有黑白暈，謂之鴝鵒眼。無此五驗，則藁本根之細者耳。又須忌茶。（別有一帖云但忌茶常服此藥，以皂角槐芽為茶，取極嫩者湯中略煮一沸。但取出布裹，壓干入焙，以軟熟火焙乾，取飲茶無異）</p>
<p>以槐芽皂角至嫩者，依造草茶作。或取《外臺秘要》，代茶飲子方，常合服乃可。</p>

<h2>煮肝散</h2>
<p>治肝痿腳弱，及傷寒，手足干小不隨。</p>
<p>紫菀　桔梗　蒼朮　芍藥（各等分）</p>
<p>上末，每服四錢，羊肝半具，大竹刀切，勿犯水，勿令血散，入鹽醋蔥姜酒同煮熟。空腹食前，日三服。谷熟尉宋鈞，傷寒，病瘥後，雙足但有骨，不能立，服此見其肉生。一兩月間，乃復如舊。</p>

<h2>烏頭煎丸</h2>
<p>治風毒，氣攻眼，久成內外瘴，痛楚，胬肉赤脈等，病十年者皆可療。</p>
<p>黑豆（二兩小者）　川烏頭（一兩去皮）　青橘皮（半兩去白，同烏頭黑豆為末，以水一升，三合浸一宿，緩火煎成膏子）　甘菊花（一兩）　牛膝　枸杞　川芎　荊芥穗　羌活　地龍（去土）　白蒺藜（去角）　當歸　干薄荷（各半兩）</p>
<p>上將前青皮為丸，如桐子大。每服二十丸，空心茶酒任下，蜜湯亦得。先君因失少女，感傷哭泣忽目瞑不見物，治之逾月復明，因盛怒呵一罪人。目復瞑，逾年得此。服不盡一劑，目復如故。</p>
<p>羌活　防風（酒浸一宿）　黃耆　木賊　附子（炮）　蟬殼　甘草　蛇蛻（一條青竹炙）　荊芥穗　甘菊花　白蒺藜（去角）　旋覆花　石決明（泥裹燒通赤另研）</p>
<p>上等分，除附子蛇蛻決明，皆銼碎。新瓦上烙令燥，為散，每二錢，第二米泔煎熟調下。空心日午夜臥各一服。予少感目疾，逾年人有以此方見遺，未暇為之。有中表兄許復常，苦目昏，後已都瘥。問其所以瘥之由，云服此藥，遂合服。未盡一劑而瘥，自是與人，莫不驗。</p>

<h2>通關散</h2>
<p>治諸中風傷寒。</p>
<p>旌德烏頭（四兩破皮旌德有蘆頭肌白者）　藁本　防風　當歸　白芷　天南星　川芎　乾薑　雄黃（細研）　桂（以上各半兩並生勿近火）</p>
<p>上為末，煨蔥酒下一字，或半錢。癱瘓加牛黃麝香，小兒減半，薄荷酒下。此散予目見醫數人，今聊記其一二。曾在江南，見市門有臥者。問之，乃客販，因病偏風。醫之，遂至病困，為邸家所委。時伯氏為邑，使人舁到令舍，調藥飲之。又與十服，數日伯氏出。市有一人，扶倚床而呼曰：昔日臥者，今能扶榻而行矣。藥盡，願少繼之。伯氏又與十服，服訖能起。又一吏病瘡，而攣，逾歲月臥矣。伯氏與散二錢匕，為八服。吏謬以為一服，服已，僵眩嘔吐，幾困將殆。數日瘡攣悉，除大瘥。中風攣弛，治之須先去痰，去已，乃用續命湯輩汗之，未乃用此為宜。蓋風病多挾熱，若未發散，便投烏頭輩。或不相當也，更消息治之，必驗。</p>

<h2>辰砂散</h2>
<p>治風邪諸癇，狂言妄走，精神恍惚，思慮迷亂，乍歌乍哭，飲食失常，疾發仆地，吐沫戴目，魂魄不守，醫禁無驗。</p>
<p>辰砂（一兩須光明有牆壁者）　酸棗仁（微炒）　乳香（光瑩者各半兩）</p>
<p>上量所患人飲酒幾何。先令恣飲沉醉，但勿令至吐。靜室中服藥訖，便安置床枕令睡。以前藥都為一服，溫酒一盞調之。頓服令盡，如素飲酒少人。但隨量取醉，病淺入一兩日，深者三五日，睡不覺。令家人潛伺之，覺即神魂定矣。慎不可驚觸使覺，及他物驚動。一為驚寤，更不可治。上樞正肅吳公，少時病心，服一劑，三日方寤，遂瘥。</p>

<h2>治諸風上攻頭痛方</h2>
<p>地龍穀精草為末，同乳香。火餅上燃，以紙筒籠煙。鼻聞之即瘥。</p>

<h2>側子散</h2>
<p>治筋脈抽掣，疼痛不止。</p>
<p>側子（炮裂去皮臍）　赤箭　漏蘆　芎藭　酸棗仁（微炒）　海桐皮（各一兩）　桂心　五加皮　仙靈脾　牛膝　木香（各三五錢）　枳殼（麩皮炒去瓠半兩）</p>
<p>上為末，每服一錢，溫酒調下。不計時候，服此藥，尤治目赤痛。屢用每驗，蓋攻治肝風。凡目赤皆主於風。予於《四生散論》之甚詳，此方主療，亦四生散之類也。</p>

<h2>四生散</h2>
<p>治腎臟風　治眼　治癬</p>
<p>白附子（下注腳生瘡用黑附子）　腎形沙苑蒺藜　羌活　黃耆</p>
<p>上等分，皆生為末，每服二錢，鹽酒調下，空腹。豬腎中煨服尤善。予為河北察訪使時，病赤目四十餘日。黑睛旁黯赤成瘡，晝夜痛楚，百療不瘥。郎官邱革相見，問予病目如此，曾耳中癢否。若耳中癢，即是腎家風。有四生散療腎風，每作二三服即瘥。閭里號為聖散子，予傳其方，合服之。午時一服，臨臥一服，目反大痛。至二鼓時，乃能眠。及覺，目赤稍散。不復痛矣，更進三四服，遂平安如常。是時孫和甫學士，帥鎮陽，聞予說大喜曰：吾知所以自治目矣，向久病目。嘗見呂吉甫參政云，頃目病，久不瘥，因服透水丹乃瘥。如其言，修合透水丹一劑。試服了二三十服，目遂愈。乃知透水丹亦療腎風耳，此可記爾。</p>
<p>恫目人更當記一事。予在河北病目時，曾治浴具。洛州守閭君綬見訪云：目赤不可浴，將軀體中熱並集頭目，目必甚。又轉運判官李長卿亦云然。予不信，卒浴。浴畢，目赤遂大作，行數程到鉅鹿。陳彥升學士，以病目廢於家，問其目病之因。云頃年病目赤，飲酒歸過。同舍林億邀同太學浴。彥升舊知赤目不可浴。堅拒之不得。僶俯一浴，浴已幾失明。後治之十餘年竟不瘥，此亦以為戒也。又予之門人徐某，構病癬，久不瘥，服四生散，數日都除。</p>

<h1>卷第三</h1>

<h2>論聖散子</h2>
<p>昔予覽《千金方》，三建散云，於病無所不治，而孫思邈特為著論。以謂此方用藥，節度不近人情，至於救急，其驗特異，乃知神物用靈。不拘常制，至理開惑，智不能知。今予得聖散子，殆此類也。自古論傷寒為急，表裡虛實，日數證候。應汗應下之類，差之毫釐。輒至不救，而用聖散子者。一切不問陰陽二感，或男子女人相易，狀至危篤，速飲數劑。而汗出氣通，飲食漸進，神宇完復，更不用諸藥。連服取瘥，其餘輕者。心額微汗，正爾無恙。藥性小熱，而陽毒發狂之類。入口便覺清涼，此藥殆不以常理而詰也。若時疾流行，不問老少良賤，平旦輒煮一釜，各飲一盞，則時氣不入。平居無事，空腹一服，則飲食快美，百疾不生，真濟世衛家之寶也。其方不知所從出，而故人巢君谷，世寶之，以治此疾，百不失一，既得之。謫居黃州，連歲大疫，所全活者不可勝數。巢甚秘之，此方指松江水為誓盟，不得傳人。予竊隘之，以傳蘄水龐君安時。龐以醫聞於世，又善著書，故以授之，且使巢君名與此方同不朽也。</p>

<h2>聖散子啟</h2>
<p>聖散子主疾，功效非一。去年春，杭州民病，得此藥，全活不可勝數。所用皆中下品藥。略計每千錢即得千服，所濟已及千人。由此積之，其利甚薄。凡人慾施惠，而力能自辦者。猶有所止，若合眾力，則人有善利，其行可久。今募信士，就楞嚴院修制。自立春後起，施至來年春夏之交。有入名者，徑以施送本院。昔薄拘羅尊者，以訶黎勒施一病比邱，故獲報身。常無眾疾，施無多寡。隨力助緣，疾病必相扶持。功德豈有限量，仁者惻隱，當崇善因。（吳郡陸廣秀才施此方並藥，得之於智藏主禪月大師寶擇乃鄉僧也，其陸廣見在京施方並蕊，在麥麰巷住出此方）</p>

<h2>聖散子方</h2>
<p>草豆蔻（去皮面裹炮十個）　木豬苓（去皮）　石菖蒲　高良薑　獨活（去蘆頭）　附子（炮製去皮臍）　麻黃（去根）　厚朴（去皮薑汁炙）　藁本（去穰土炒）　芍藥　枳殼（去穰麩炒）　柴胡　澤瀉　白朮　細辛　防風（去蘆頭）　藿香　半夏（薑汁製各半兩）　甘草（一兩炙）　茯苓（半兩）</p>
<p>上銼碎如麻豆大，每服五錢匕，水一鍾半，煮取八分，去滓熱服。余滓兩服合為一服，重煎，空心服。</p>

<h2>解傷寒小柴胡湯</h2>
<p>柴胡（二兩）　黃芩　人參　甘草（炙）　生薑（各三分）　半夏（湯洗一兩半）　大棗（十二枚破）</p>
<p>上銼如麻豆大，以水三升，煮取一升半，去滓，再煎取九合，溫服三合，日三服，此古法也。今可作粗散，每服三錢，棗三枚，姜五片，水一盞半。煎至八分，溫服，氣實疾勢盛者，加至四五錢不妨，並去滓。此《張仲景方》。予以今秤量，改其分劑。孫兆更名黃龍湯，近歲此藥大行。患傷寒，不問陰陽表裡，皆令服之。此甚誤也。此藥，《傷寒論》雖主數十證，大要其間有五證最的當，服之必愈。一者身熱，心中逆或嘔吐者可服，傷寒此證最多，正當服小柴胡湯。若因渴飲水而嘔者不可服，身體不溫熱者不可服。仍當識此；二者寒者，寒熱往來者可服；三者發潮熱可服；四者心煩脅下滿，或渴或不渴，皆可服；五者傷寒已瘥後，更發熱者可服。此五證。但有一證，更勿疑便可服，服之必瘥。若有三兩證以上，更的當也。其餘證候，須仔細詳方論及脈候，相當方可用，不可一概輕用。世人但知小柴胡治傷寒，不問何證便服之。不徒無效，兼有所害，緣此藥差寒故也。唯此五證，的不蹉跌，決效無疑。此傷寒中最要藥也。家家有本，但恐用之不審詳。今備論於此，使人瞭然易曉。本方更有加減法，雖不在此五證內，用之亦屬效。今亦載於此，若胸中煩而不嘔，去半夏，加人參合前成一兩，栝蔞根一兩；若腹中痛者，去黃芩，加芍藥三分，此一證最有驗，常時腹痛亦療；若脅下痞硬，去大棗，加牡蠣一兩；若心下悸，小便不利，去黃芩，加茯苓一兩；若不渴，外有微熱者，去人參，加桂三分，溫覆微汗愈；若咳，去人參大棗生薑，加五味子半兩，乾薑半兩。元祐二年時行，無少長皆咳，服此皆愈。常時止壅痰實，只依本方，食後臥時服甚妙。赤白痢尤效，痢藥中無如此妙。蓋痢多因伏暑，此藥極解暑毒。凡傷暑之人，審是暑暍。不問是何候狀，連進數服即解。</p>

<h2>麻黃丸</h2>
<p>（兼治破傷風及一切風）</p>
<p>治傷寒。解表止頭痛。</p>
<p>麻黃（六兩去節，沸湯炮，去黃水，焙乾）　烏頭（水浸三日，頻換水，去皮日乾炮去臍）　天南星（別搗）　甘草（一兩炙）　麝香（一分）　半夏（湯洗七遍）　石膏（泥裹火燒通赤研以上各四兩）　白芷（三兩）　龍腦（半兩隻用樟木龍腦但要發散，不用南番龍腦）</p>
<p>上為末。水煮天南星為丸，如小彈子大。每服一丸，蔥茶或酒嚼下。薄荷茶亦得，連二三服。此本予家白龍丸，已編入《靈苑》。後又加麻黃作六兩。寒水石石膏為衣，治傷寒至佳，小小傷風服之立瘥。解表藥中，此尤神速。</p>

<h2>治暑暍</h2>
<p>逡巡悶絕不救者。</p>
<p>道上熱土　大蒜</p>
<p>上略等多少，爛研，冷水和，去滓飲之，即瘥。此方，在徐州沛縣城門上。板書搗之，不知何人所施也。</p>

<h2>治暑傷肌膚</h2>
<p>多瘡爛，或因搔成瘡者。林才中嘗暑中臥病，肌膚多瘡爛汁出。</p>
<p>有一乳姥曰，此易瘥。取干壁土揉細末，敷之，隨手即瘥。</p>

<h2>治瘴木香丸</h2>
<p>雞心檳榔　陳橘皮（去白各二兩）　青木香　人參　厚朴　官桂（去無味者）　大附子　羌活　京三稜　獨活　乾薑（炮）　甘草（炙）　芎藭　川大黃（切微炒）　芍藥（各五錢）　牽牛子（一斤淘去浮者，揩拭乾，熱搗取末四兩餘，滓不用）　肉豆蔻（六枚去殼止瀉方用）</p>
<p>上十五味為末，瓷器盛之，密封。臨服，用牽牛末（二兩）藥末一兩，同研令勻，蜜丸，如桐子大。心腹脹滿，一切風勞冷氣，臍下刺痛，口吐清水白沫，醋心。痃癖氣塊，男子腎臟風毒。攻刺四體，及陽毒腳氣。目昏頭痛，心間嘔逆，及兩脅堅滿不消。臥時橘皮湯下三十丸。以利為度，此後每夜二十丸。女人血痢，下血，刺痛，積年血塊。胃口逆，手足心煩熱，不思飲食。薑湯下三十丸。取利，每夜更服二十丸。小兒五歲以上，疳氣腹脹氣喘，空心溫湯下五七丸。小者減丸數服。凡胸腹飽悶不消，脾泄不止。臨臥溫酒下取利。食毒，癰疽發背，山嵐瘴氣，才覺頭痛，背膊拘緊，便宜服之。快利為度，嘗服可以不染瘴疾。凡瘴疾，皆因脾胃實熱所致。常以涼藥解膈上壅熱，並以此藥通利彌善。此丸本治嵐瘴，及溫瘧大效。李校理敦裕常為傳，刻石於大庾嶺，蒙效者不可勝數。子伯氏任閩中，常擁兵捕山寇。過漳浦，軍人皆感瘧。用此治之，應時患愈。予在江南，時值歲發瘧。以此藥濟人，其效如神，皆以得快利為度。又記，凡久瘧服藥訖，乃灸氣海百壯。又灸中脘三十壯，尤善。</p>

<h2>枳殼湯</h2>
<p>治傷寒痞氣，胸滿欲死。</p>
<p>桔梗　枳殼（炙去穰各一兩）</p>
<p>上銼如米豆大，用水一升半，煎減半。去滓，分二服。傷寒下早，則氣上膨胸。世俗即謂之結胸，多更用巴豆粉、霜膩粉下之。下之十有八七死，此蓋瀉其下焦。下焦虛，則氣愈上攻胸膈，多致不救。凡胸脹病，只可瀉膈。若按之堅硬而痛，此是結胸。胸有水，須用大黃甘遂輩下之，䧟胸丸之類是也。若按之不甚硬，亦不痛，此名痞氣。上虛氣熱鼓脹，只可用黃芩黃連大黃之類化之。嘗有人患胸脹已危困，作結胸痞氣皆不瘥。文大夫以此湯飲之，下黃水一升許，遂瘥。予得此法，用之如神。若是痞氣，莫不應手而瘥。凡傷寒胸脹，勿問結胸痞氣，但先投此藥。若不瘥，然後別下藥。緣此湯但行氣下膈耳，無他損。又《西晉崔行功方》，傷寒或下或不下，心中結滿，胸脅痞塞，氣急厥逆欲絕，心胸高起，手足不得近，二三日輒死。用瀉心大小䧟胸湯皆不瘥，此當是下後虛逆氣已不理。而毒復上攻，氣毒相搏，結於胸中，氣毒相激，故致此病。療之當用加減理中丸，先理其氣。次療諸疾，加減方。</p>
<p>人參　白朮　甘草（炙各二兩）　乾薑（炮一兩半）　枳實（十六片麩炒或炙）　茯苓（二兩）</p>
<p>上為末，蜜丸，如彈大。一丸不效再服。予時用此，神速。下喉氣即接續，復與之。不過五六彈丸，胸中豁然矣。用藥之速，未嘗見此。渴者更加栝蔞二兩，下痢者加牡蠣二兩。予以告領軍韓康伯，右衛毛仲祖，光祿王道預，臺郎顧君苗，著作殷仲堪。並悉用之，咸嘆其應速。於時枳實乃為貴，緣此病由毒攻於內，多類少陰。泄利之後，理應痞結，雖已泄利，毒尚未除。毒與氣爭，凝結於胸。時或不利，而毒已入胃。胃中不通，毒必上衝。或氣先不理，或上焦痰實，共相沖結，覆成此患。大抵毒之與氣，相干不宣，關津壅遏，途徑不通，故瀉心療滿而不療氣，雖復服之，其瘥莫由，療毒理結，莫過理中丸，解毒通氣，痞自消釋，然乾薑性熱，故減其分。茯苓通津，栝蔞除渴。牡蠣止痢，謹審其宜，無不得矣。家人黃珍者，得病如上。其弟扶就叔尚書乞藥。余曰，可與理中丸，坐中數客皆疑不可，予自決與，於箱中取一彈丸與之，竺法大調余曰，此人不活，君微有緣矣。與時合暝許比至，三籌扶又來，便叩頭自搏，四座愕然，謂其更劇，叔問何如，扶答：向藥一服便覺大佳，更復乞耳，予謂竺，向答曰上人不憂作緣，但恐夜更來乞，失人眠耳，果爾如何。余復與數彈丸，明日便愈，遂至今用之。護軍司法劉元寶妾病，亦如此。叔復與之一服，如雞子一丸便瘥。叔知故文武，遂多蒙救濟，傷寒難療，故詳記焉。此行功自敘也。余以此丸，與枳殼湯兼服，理無不驗，理中丸所用枳實。只是枳殼，古人只謂之枳實，後人方別出枳殼一條。</p>

<h2>梔子湯</h2>
<p>治胸痹切痛，</p>
<p>梔子（二兩）　附子（炮一兩）</p>
<p>上每服三錢，水一大盞，薤白三寸，同煎至五分，溫服，泗州有人病歲余，百方不愈，服此二服頓愈。</p>

<h2>五積方</h2>
<p>（余家舊方《博濟》亦載小有不同）</p>
<p>蒼朮（二十兩）　桔梗（十兩）　陳皮（六兩）　白芷（三兩）　甘草（三兩）　當歸（二兩）　川芎（一兩半）　芍藥　白茯苓　半夏（湯匕洗各一兩）　麻黃（春夏二兩，秋冬三兩）　乾薑（春夏一兩半，秋冬二兩）　肉桂（春夏三兩，秋冬四兩）　厚朴（二兩薑汁炙）　枳殼（麩炒去瓤四兩，以後三味，別搗和）</p>
<p>上前十二味為粗末，分作六服。大鍋內緩火炒令微赤，香熟。即不可過焦。取出，以淨紙藉板床上，晾令冷。入後三物和之和氣。每服三錢，加薑棗，煎至六分，去滓服。傷寒手足逆冷，虛汗不止，脈沉細，面青嘔逆，加順元散一錢，同煎熱服。產婦陳疏難產，經三兩日不生，胎死腹中，或產母氣乏委頓，產道乾澀，加順元散。水七分，酒三分，煎進兩服，氣血內和即產。胎死者不日當下，其順元散多量產母虛實。傷寒發熱脅內寒者，加蔥三寸，豉七粒同煎。相繼兩三服，當以汗解。</p>

<h2>順元散</h2>
<p>烏頭（二兩）　附子（炮）　天南星（各一兩炮）　木香（半兩）</p>
<p>上予叔祖錢氏，時得此方。賣干民家，故吳中至今謂之沈氏五積散。大抵此散能溫裡外，但內外感寒，脈遲細沉伏，手足冷，毛髮怐慄。傷寒里證之類，大啜三兩杯。當手足溫，或汗乃愈。今世名醫，多用此散治氣，極效。和一切氣，通血絡，無出此藥。人病脾瘧，用紫金丸逐下，乃服此散，數服多愈。</p>

<h2>紫金丹</h2>
<p>硫黃針沙並三錢，鐵粉五錢，膩粉十五錢。四味炒為末，粟米飯丸，如彈子大。乳香湯下一丸，氣實服一丸半至二丸。</p>

<h2>七棗散</h2>
<p>治脾寒瘧疾。</p>
<p>川烏頭大者一個，炮良久。移一處再炮，凡七處炮滿，去皮臍，為細末，都作一服。用大棗七個，生薑十片，蔥白七寸，水一碗，同煎至一盞。疾發前，先食棗，次溫服，只一服瘥。元祐二年，兩浙瘧疾盛作。常州李使君，舉家病瘧甚久。萬端醫禁不效，常時至效。萬服亦不止，過客傳此方。一家服之，皆一服瘥。又《長興賈耘老傳》一方，與此方同。只烏頭不炮，卻用沸湯泡。以物蓋之，候溫更泡。滿十四遍，去皮，切焙乾，依上法作一服。耘老云，施此藥三十年，治千餘人，皆一服瘥。</p>

<h2>蔥熨法</h2>
<p>治氣虛陽脫。體冷無脈，氣息欲絕，不省人。及傷寒陰厥，百藥不效者。</p>
<p>蔥以索纏，如盞許大。切去根及葉，惟存白。長二寸許，如大餅餤。先以火脅一面令通熱，又勿令灼人。乃以熱處搭病人臍，連臍下，其上以熨斗滿貯火熨之。令蔥餅中熱氣，郁入肌肉中。須預作三四餅，一餅壞不可熨，又易一餅。良久，病人當漸醒，手足溫，有汗即瘥。更服四逆湯輩，溫其體，萬萬無憂，予伯兄忽病傷寒，暝寂不知人八日，四體堅冷如石，藥不可復入，用此遂瘥。集賢校理胡完夫，用此方拯人之危，不可勝數。</p>

<h2>金液丹</h2>
<p>（《出博濟方》）</p>
<p>硫黃十兩，精瑩者。研碎入罐子，及八分為度，無大滿，石龍芮兩握，又云狗蹄草（一握），水鑑草兩握。稻田中生，一莖四花，如田字，亦名水田草，獨莖生，以黃土一掬，同搗為泥。只用益母草井泥搗亦得。</p>
<p>上固濟藥罐子，約厚半寸。置平地，以瓦片覆罐口。四面炭五斤擁定，以熟火一斤，自上燃之。候罐子九分赤，已縫有碧焰，急退火，以潤灰三斗。覆至冷，剖罐取藥。削去沉底滓濁，准前再煅。通五煅為足，藥如熟雞卵氣。（急用可三煅止）取並罐，埋潤地一夜。又以水煮半日，取藥。柳木槌研細，滴水候揚之無滓，更研令乾。每藥一兩，用蒸餅一兩，湯釋化，同搗丸之，暴乾。金液丹舊方，主病甚多，大體治氣羸。凡久疾虛困，久吐利不瘥，老人臟秘，傷寒脈微陰厥之類，皆氣羸所致，服此多瘥。大人數十丸至百丸，小兒以意裁度多少，皆粥飲下。羸甚者化灌之，小兒久吐利垂困，藥乳皆不入。委頓待盡者，並與數十丸。往往自死得生，少與即無益。予親見小兒吐利極，已氣絕，棄之在地。知其不救，試謾與服之，復活者數人。</p>

<h1>卷第四</h1>

<h2>服茯苓說</h2>
<p>茯苓自是仙家上藥，但其中有赤筋脈。若不能去，服久不利人眼，或使人眼小。當削去皮，切為方寸塊，銀石器中清水煮。以酥軟解散為度，入細布袋中。以冷水揉擺，如作葛粉狀，澄取粉。而筋脈留布袋中，棄去不用。其粉以蜜和如濕香狀，蒸過食之尤佳。胡麻但取純黑脂麻，九蒸九暴，入水爛研，濾取白汁，銀石器中，熬如作杏酪，湯更入。去皮核爛研棗，內與茯苓粉一處，搜和食之，尤有奇效。</p>

<h2>服茯苓賦</h2>
<p>（並引）</p>
<p>予少而多病，夏則脾不勝食，秋則肺不勝寒。治肺則病脾，治脾則病肺。平居服藥，殆不復能愈。年三十有二，官於宛邱。或憐而受之以道士服氣法，行之期年，疾良愈。蓋自是始有意養生之說，晚讀《抱朴子書》。言服氣與草木之藥，皆不能致長生。古神仙真人皆服金丹，以為草木之性。埋之則腐，煮之則爛。燒之則焦，不能自生，而況能生人乎？予既汩沒世俗，意金丹不可得也。則試求之草本之類，寒暑不能稜，歲月不能敗，惟松柏為然。古書言松脂流入地下為茯苓，茯苓千歲，舉則為琥珀。雖非金玉，而能自完也，亦久矣。於是求之名山，屑而治之，去其脈絡，而取其精華。庶幾可以固形養氣，延年而卻老者，因為之賦以道之。</p>
<p>春而榮，夏而茂。憔悴乎風霜之前，摧折乎冰雪之後。閱寒暑以同化，委糞壤而兼朽。茲固百草之微細，與眾木之凡陋。雖或效骨骼於刀幾，儘性命於杵臼。解急難於俄頃，破奇邪於邂逅，然皆受命淺狹。與時變遷，朝菌無日，蟪蛄無年。苟自救之不暇，矧他人之足延。乃欲擷根莖之微末，假臭味以登仙。是猶托疲牛於千里，駕鳴鳩以登天。則亦辛勤於澗谷之底，槁死於峰崖之巔，顧桑榆之竊嘆。意神仙之不然者矣。若夫南澗之松，拔地千尺，皮厚犀兕，根堅鐵石，鬚髮不改，蒼然獨立，流膏脂於黃泉，乘陰陽而固結，像鳥獸之蹲伏，類龜蛇之閉蟄，外黝黑似鱗皴，中結白而純密。上霍莽之不犯，下螻蟻之莫賊，經歷千歲，化為琥珀，受雨露以彌堅，與日月而終畢，故能安魂魄而定心志。卻五味與穀粒，追赤松於上古。以百歲為一息，顏如處子，綠髮方目，神止氣定，浮游自得。然後乘天地之正，御六氣之辨，以遊夫無窮，又何求而何食？</p>

<h2>木香散</h2>
<p>治臟腑冷極及久冷傷憊，口瘡下泄，穀米不化，飲食無味，肌肉瘦悴，心多嗔恚，婦人產後虛冷下泄，一切水瀉冷痢。</p>

<h2>木香散</h2>
<p>木香　破故紙　高良薑　砂仁　厚朴（薑汁炙各三分）　赤芍藥　陳橘紅　肉桂　白朮（各半兩）　胡椒　吳茱萸（湯洗去黑水各一分）　肉豆蔻（四枚）　檳榔（一個）</p>
<p>上為散。每服三錢，不經水豬肝四兩許，去筋膜，批為薄片，重重摻藥。置一鼎中，入漿水一碗，醋一茶腳許，蓋覆。煮肝熟，入鹽一錢，蔥白三莖細切，生薑彈子許捶碎，同煮水欲盡。空心，為一服冷食之。初服微瀉不妨，此是逐下冷氣。少時自止，經年冷利滑瀉。只是一服，渴即飲粥湯下。忌生冷油膩物。如不能食冷物，即添少漿水暖服。《張簡夫職方》，嘗久瀉。忽有人召食，以疾辭不往。主人曰：「吾有良藥，一服可瘥」。煮藥而召之。簡至，先服藥，便就席，熟醉而歸，竟不復瀉。簡夫得此方，與人服，莫不神應。嘉興謝醫得此方，惡其煩。只用漿水煮豬肝為丸，如梧桐子大。每服五十丸，粥飲下，其效亦同。若暴瀉利，只是一服。唯熱痢熱瀉不治。予家極寶此藥，可大驚異，非余藥可比。</p>

<h2>硇砂煎丸</h2>
<p>治一切積滯，化氣消食。補益真氣。產後逐敗血，補虛損至善。</p>
<p>硇砂（一兩揀通明無石者，別研令如粉）　舶上茴香（一兩略炒）　當歸（一兩無灰酒浸一宿，去蘆了，薄切片子焙）　金鈴子（三兩洗過切破，四兩無灰酒浸一宿，候軟以刀子削下瓤，去皮核不用）　肉蓯蓉（一兩無灰酒浸一宿，薄切作片子干）　穿心巴戟（一兩無灰酒浸一宿，去心用）　天雄（一兩無灰酒煮，五七百沸候軟刮去皮）　檳榔（一兩）　木香　沉香　黑附子（各一兩）　阿魏（半兩米醋磨成膏入諸藥）</p>
<p>上細末。以無灰酒，煮白麵糊丸。如梧桐子大，每服三十丸。空心，日午溫酒下。此方家家有。予家婦嘗病蓐中下痢，日久甚困篤，百方不瘥。士人李潛善醫曰：「蓐中下痢，與他痢不同。常痢可用苦澀藥止之，蓐中痢生於血不足。投澀藥則血愈不行，痢當更甚。為予作硇砂法」。云此藥果能治產後痢。先以桂小丸下之，次投硇砂丸。日九十丸，痢頓減半，次日遂愈。硇砂丸，產後雖無疾，亦宜服之，能養血去積滯。桂丸方，今附於後。</p>
<p>硇砂（研）　肉桂　甘遂　丁香　木香　芫花（醋炒焦）　巴豆（去心皮不去油）</p>
<p>上各等分搗。治麵糊為丸，小綠豆大。每服二丸三丸，溫水下，加減更量虛實。潛名醫也，云此丸取積最勝，不以久近皆能化。</p>

<h2>黑神丸</h2>
<p>漆（六兩半生半用，重湯煮一半日令香）　神麯（四兩）　茴香（四兩）　木香　椒紅　丁香（各半兩）　檳榔（除椒外五物皆半生半炒四個）</p>
<p>上丸如彈丸大。取茴香末十二兩，鋪蓋陰地，陰乾。候外干，並茴香收器中，極干乃去茴香。腎余育腸，膀胱痃癖，七疝下墜。五膈血崩，產後諸血，漏下赤白，並丸分四服，死胎一丸，皆無灰酒下。難產，炒葵子四十九枚，搗碎酒煎下一丸。諸疾不過三服。元氣十服，膈氣症癖五服，血瘕三丸當瘥。予族子婦，病腹中有大塊如痞。每發，痛不可堪。時子婦已貴京下，善醫者悉嘗服其藥，莫愈。陳應之曰：此血瘕也。投黑神丸盡三丸，痞氣消盡，終身不復作。</p>

<h2>神保丸</h2>
<p>（出《靈苑》）</p>
<p>木香（一分）　胡椒（一分）　巴豆（十枚去皮心研）　乾蠍（一枚）</p>
<p>上湯釋蒸餅。丸麻子大，硃砂為衣。每服三丸，心膈痛柿蒂湯下，或燈心同柿蒂湯下；腹痛柿蒂煨薑湯下；血痛炒姜醋小便下；小便不通，燈心湯下；血痢臟毒楮葉湯下。肺氣甚者，白礬蚌粉各三分，黃丹一分，同研為散。煎桑白皮糯米飲，調下三丸，若小喘，止用桑皮糯米飲下；腎氣脅下痛，茴香酒下；大便不通，蜜湯調檳榔末一錢同下；氣噎，木香湯下；宿食不消，茶酒漿飲任下。予三十年前客金陵，醫人王琪傳此方。琪云：諸氣，惟膀胱氣脅下痛最難治，獨此丸輒能去之。熙寧中，予病項筋痛。諸醫皆以為風，治之數月不瘥，乃流入背膂，久之右注脅，攣痛甚苦，憶琪語，方向已編入《靈苑》，取讀之，有此一驗，乃合服之，一投而瘥，後再發，又一投而瘥。</p>

<h2>小建中湯</h2>
<p>治腹中切痛。</p>
<p>桂（削）　生薑（切各三分）　甘草（炙半兩）　大棗（十二枚擘）　白芍（一兩半）　膠飴（二兩以上並細切）</p>
<p>上以水二升，煮取九合，去滓，內飴更上火微煮，令飴化。溫服三合，日三服。嘗有人患心腹病不可忍，累用良醫治之皆不效。灸十餘處亦不差，士人陳承善醫，投一藥遂定。問之，乃小建中湯也。此藥偏治腹中虛寒，補血，尤主腹痛，常人見其藥性溫平，未必信之。古人補虛只用此體面藥，不須附子硫黃。承用此藥，治腹痛如神。然腹痛按之便痛，重按卻不甚痛。此止是氣痛，重按愈痛而堅者，當自有積也。氣痛不可下，下之愈痛，此虛寒證也，此藥尤相當。按《外臺》，虛勞腹中痛，夢失精，四肢痠痛，手足煩熱，咽乾口燥，婦人少腹痛，宜服《仲景傷寒論》。陽脈澀，陰脈弦，法當腹中急痛，先與此不瘥，小柴胡湯主之。此二藥皆主腹痛，予已於小柴胡湯敘之。若作散，即每服五錢匕，生薑五片，棗三個大者，飴一慄大。若疾勢甚，須作湯劑，散服恐力不勝病。元豐中，丞相王郇公，病小腹痛不止。宣差太醫，攻治備至皆不效。凡藥之至熱，如附子硫黃五夜乂丸之類，用之亦不瘥。駙馬張都尉，令取婦人油頭髮燒為灰，細研篩過，溫酒服二錢，即時痛止，（女用男發）</p>

<h2>進食散</h2>
<p>青皮　陳皮（去穰各一分）　草豆蔻（三個）　甘草（一分炙）　訶子（去核煨五個）　高良薑（薄切炒一分）　川烏頭（一個炮去皮臍）　肉桂（一分去外皮）</p>
<p>上每服一錢，水一中盞，生薑二片，煎至七分，食空時服，此《盧州李潛方》。治脾胃虛冷，不思食。及久病入脾虛，全不食者，只一二服，便頓能食。潛名醫也，予目見在真州。治賈使君女子，已五十餘日，病脾多嘔，都不進食，醫絕無驗，潛投此藥一服，遂食蒸餅半枚，明日百味皆思。潛云此藥進食極神速。予疑此藥太熱，潛云不然。用之三十年無不效者。</p>

<h2>壓氣散</h2>
<p>止逆定喘，治疏取多後，氣乏控上膈者。</p>
<p>木香　人參　白茯苓　藿香　枳殼　陳橘皮　甘草（炙以上各等分）　附子（炮半）</p>
<p>上服一大錢，煎紫蘇木瓜生薑湯，再入銀盞，重湯煎五七沸，通口服。</p>

<h2>訶子丸</h2>
<p>消食化氣。</p>
<p>訶子皮（二兩洗炮）　木香　白豆蔻　檳榔　桂　人參　乾薑　茯苓（以上各二兩）　牽牛子（一兩略炒）　甘草（粗大者炙一兩）</p>
<p>上酒煮麵糊為丸，梧桐子大，每服十五丸至二十丸。如有氣疾發動，吃食過多，築心滿悶。爛嚼，茶酒任下。陸子履學士，知蔡州平興縣，值石普南遷，子履與治行甚勤，普極德之。未幾普召還，過平興見子履。敘南行之惠曰，他物不足以為報。有一藥方奉傳，乃此方也。云普啖物極多，常致憤悶成疾，服此輒愈。予問子履求得之，家中常合。食飽脹滿及氣膨胸膈，只一服，如人手按下，極有驗也。</p>

<h2>椒樸丸</h2>
<p>治脾胃虛冷。歲久不思飲食，或發虛腫，或日漸羸瘦，四肢衰倦，吐利無節。應脾虛候狀，皆可服食。</p>
<p>漢椒（去目）　厚朴（去粗皮銼）　茴香　青鹽（淘去沙土取浮）</p>
<p>上各二兩，以水二升，煮令乾，焙燥，搗為末，麵糊丸，梧桐子大，每服三四十丸。空心，米飲下及鹽湯下。病深者日三服。予中表許君，病脾逾年，通身黃腫，不能起，全不嗜食。其甥為本道轉運使，日遣良醫治之，都不效。有傅主簿傳此方，服十許日漸安。自爾常服，肌膚充碩，嗜飲美食，兼人面色紅潤。年六十餘，日行數十里，強力如少年。椒樸丸，《博濟》及諸集中多載。有加附子者，有加姜輩，皆不快捷。此方得其精要，與病相當如神，慎勿增他藥。藥之中病處，人多不識。看不上面，自有奇功。多因增益他藥，卻致不驗，此難可以意測也。</p>
<p>湖州處士劉某，其叔父病喘。手足皆腫，殆不能起。劉君夢有人謂之，曰：「君叔父病脾，橫病瀉四肢，非他也。子有隱德，吾能愈子叔父之疾。手疏方以授之，曰無礙丸。且誠曰：慎勿服他藥。」劉君得方，以餌其叔父。三餌而疾間，君先迎醫於錢塘，後數日醫至曰，此肺逆，當治肺。藥入口，疾復作。君論曰：「神人預嘗誡我。」急謝醫，後投無礙丸遂瘥。</p>

<h2>無礙丸</h2>
<p>大腹（炙二兩）　蓬莪朮　三稜（皆濕紙裹煨熟一兩）　木香（麵裹煨熟五錢）　檳榔（生一分）</p>
<p>上為末，炒麥糵搗粉為糊，丸如梧桐子大。服二三十丸，生薑湯下。</p>
<p>治脾胃虛弱，並婦人脾血久冷，桂香散。</p>
<p>高良薑（銼炒香熟）　草豆蔻（去殼炒）　甘草　白朮　砂仁　厚朴（去粗皮銼，以上各一兩）　青橘皮（去穰炒黃）　訶子肉（各半兩）　肉桂（一分）　生薑（一兩切）　棗肉（一兩切，二味同厚朴一處用水一碗，煎，令乾，同杵為團焙乾用）</p>
<p>上同為末，每服二錢，入鹽少許，沸湯點。空心服，此藥偏療腹痛。天台呂使君，自來有腹痛。遇疾發，即悶絕，連日不瘥，有一道士點此散飲之，一服遂定。自後每發，即飲數服，痛如失去。予得之，累與人服，莫不神驗。治冷瀉尤妙，腹痛最難得藥。此方只是溫脾耳，特工止痛，理不可知。</p>

<h2>健脾散</h2>
<p>治胃虛泄瀉，老人臟泄尤效。</p>
<p>烏頭（炮三分）　厚朴（姜炙）　甘草（炙）　乾薑（炮各一分）</p>
<p>上服一錢，水三合，生薑二片，煎至二合。熱服，並二服止。家嘗貯此藥，治脾泄極驗。</p>

<h2>香姜散</h2>
<p>治久患脾泄瀉，（出《博濟方》）</p>
<p>生薑（四兩）　黃連（一兩）</p>
<p>上銼碎如豆大，一處慢火炒。令姜乾脆深赤色，去姜取黃連為細末，服一錢。空腹，臘茶清下，不過二服瘥。</p>

<h2>引氣丹</h2>
<p>治一切滯氣。</p>
<p>硃砂（碾）　安息香（研）　麝香（研各一分）　白芥子（三百六十粒炒）　大戟末（一錢匕）　沒藥（一錢研入）　牛黃（五分研入）　牽牛末（一錢匕）　五靈脂（一錢研入）　乳香（一錢研入）　班蝥（二十七個去頭翅足研入）　巴豆（二十七粒去皮，研出油，不出油助使快）</p>
<p>上件都研令勻，用紅米飯為丸，如麻子大。臨時湯使下之。</p>
<p>太醫院潘璟，帶囊中常貯此藥。倉卒疾，多用之。</p>

<h2>沉麝丸</h2>
<p>治一切氣痛不可忍（端午日午時合）　沒藥　辰砂　血蠍（各一兩）　木香（半兩）　麝香（一錢）　沉香（一兩）</p>
<p>上各生用銀瓷器，熬生甘草膏為丸，皂角子大。姜鹽湯送下，血氣，醋湯嚼下。松滋令萬君，擬寶此藥。婦人血痛不可忍者，只一丸，萬君神秘之。每有人病，止肯與半丸，往往亦瘥。</p>
<p>治諸氣，礞石丸。</p>
<p>硇砂（一兩米醋三升化）　巴豆霜（二兩半以上先煮）　青礞石（半兩研）　三稜（醋浸一宿，煨一兩，以上次煮）　大黃（一兩半，分三分煨炒，又次煎）　木香　檳榔　肉豆蔻　豬牙皂角（去皮炒一云炙）　肉桂　乾薑（炮）　丁香　蓬莪朮（各一兩）　芫花（醋浸一宿炒微有煙）　青橘皮　白豆蔻　墨（燒八分過，各半兩）　胡椒（一分）　粉霜（研一分）　面（二兩，酒半斤化，又次煎）</p>
<p>上硇砂醋合巴豆，煮兩食久。投礞石三稜，又投酒面，又投大黃，相去皆半食。久乃入眾藥熬，丸如綠豆大。每服三五丸，酒飲雜下。凡症積飲食所傷，氣凝穀食不化，皆能愈。</p>
<p>消食化氣止瀉，腹中諸冷。</p>

<h2>疾褐丸</h2>
<p>烏頭（炮去皮）　桂　香附子（微炒）　乾薑（炮）　陳橘皮（微炒）</p>
<p>上先用川巴豆取肉，麻油內，慢火煎。自旦及午，候巴豆如皂子色，即止。淨拭，冷水中浸兩日。日再換水，又拭乾，研如油極細。須研一日方可用。以鐵匙刮出，薄攤新瓦上，如一重紙厚。候一復時，以鐵匙刮下，再研極細。每巴豆霜一兩，即諸藥各五兩為細末，與巴豆同研千萬匝。再用絹羅過，更研令勻，陳米一升半，為細末，水調成膏，直候微酸臭，即煮為硬糊。細研令無塊硬處，乃與眾藥一處為丸，如綠豆大。每服五七丸，隨湯使下，此只是食藥，然食藥方至多，無如此方者，能和脾胃，消氣進食，止瀉去積。凡食物壅隘，服之即消。應腹中不平脾胃諸疾，服之莫不康泰。蘇州有人賣一硃砂丸，食藥，無所不治，其效如神。如此致鉅富，服其藥者，遍天下人無有得其真方者。後有親人竊得，乃與此一同。但加硃砂為衣耳，人家宜常合，長少皆可服，的的可賴。</p>

<h2>神聖香茸散</h2>
<p>（出《吳兢五臟論》）治胃氣霍亂吐瀉，轉筋腹痛。</p>
<p>香薷穗（經霜者一兩半）　新厚朴（取二兩心）　川黃連（二兩）　白扁豆（一兩焙）</p>
<p>上先用薑汁四兩，一處杵黃連厚朴二味，令細，炒成黑色，入香薷扁豆二味，都為末。每服五錢，水一盞，酒一盞，共煎至一盞，入瓷瓶內，蠟紙封，沉入井底，候極冷，一併服二服，瀕死者亦生。京師賣此藥，一服百錢。治胃氣小腹切痛。</p>

<h2>治腹中氣塊</h2>
<p>大黃　蓽茇（等分皆生）</p>
<p>上蜜丸，桐子大，麝香水下二三十丸。空心，日三服。貴州守李承議，得嵐瘴。夫婦兒女數人，相繼而死。有二子歸嶺北，皆病腹中有塊如瓜，瘦苦欲死。陳應之，與此方。服及三十服，氣塊皆消。應之云：此寒熱相雜所致，當以寒熱二物攻之。</p>

<h2>暴下方</h2>
<p>歐陽文忠公常得暴下，國醫不能愈，夫人云：「市人有此藥，三文一貼甚效」。公曰：「吾輩臟腑，與市人不同，不可服。」夫人使以國醫藥雜進之，一服而愈。公召賣者厚遺之。求其方，久之乃肯傳。但用車前子一味為末，米飲下二錢匕。云此藥：利水道而不動氣，水道利則清濁分，谷臟自止矣。</p>

<h2>治瀉痢方</h2>
<p>肉豆蔻刳作甕子，入通明乳香少許，復以末塞之，不盡即用面和少許，裹豆蔻煨熟，焦黃為度，三物皆研末，仍以茶末對烹之。</p>

<h2>茶方</h2>
<p>憲宗賜馬總治，瀉痢腹痛方。</p>
<p>以生薑和皮，切碎如粟米。用一大盞，並草茶，相對煎服。元祐二年，文忠公得此疾，百藥不效，予傳此方而愈。</p>

<h1>卷第五</h1>

<h2>與翟東玉求地黃</h2>
<p>馬火也，故將火而夢馬。火就燥，燥而不已則窮，故膏油所以為無窮也。藥之膏油者莫如地黃，啖老馬，復為駒。樂天詩云：與君啖老馬，可使照地光。今人不復能知此法。吾晚學道，血氣衰耗，如老馬矣。欲多食生地黃，而不可常致。忽見人言，循州興寧令歐陽叔向，於縣圃中多種此藥，意欲作書千之而未敢。君與叔向故人，可為致此意否。此藥以二八月採者良，如許，以此時寄惠為幸，欲烹以為煎也。</p>

<h2>蘇合香丸</h2>
<p>治肺痿客忤，鬼氣傳屍，伏連</p>
<p>殗殜等疾，卒得心痛，霍亂吐痢，時氣。諸瘧瘀血，月閉痃癖，丁腫驚癇，邪氣狐媚，瘴癘萬疾。</p>
<p>蘇合香　白朮　硃砂　沉香　訶子肉　丁香　木香　香附子　白檀香　烏犀屑　乳香　蓽茇　安息香（各一兩）　麝香　龍腦（各半兩）</p>
<p>上為末，煉蜜丸，如雞頭實大。每服一丸，溫酒嚼下，人參湯亦得。此方人家皆有，恐未知其神驗耳。本出《廣濟方》，謂之白朮丸，後人編入《外臺》。《千金方》云：真宗朝，嚐出蘇合香酒賜近臣，又賜蘇合香丸，自此方盛行於世。此藥大能安氣血，卻外邪。凡疾自內作，不曉其名者，服此往往得效。唯治氣疰氣厥，氣逆不和，吐利，榮衛阻塞，尤有神功。予所親見者，嘗有淮南監司官謝執方，因嘔血甚久，遂奄奄而絕，羸敗已久，手足都冷，鼻息皆絕，計無所出。唯研蘇合香丸灌之，盡半兩遂蘇。又予所乘船，有一船工之子病傷寒，日久而死。但心窩尚暖，不忍不與藥，棄已不救。試與蘇合香丸，灌之四丸乃醒，遂瘥。予友人為兩浙提點刑獄，嘗病大瀉。目視天地皆轉，神思不理，諸藥不效。服藥至兩丸許，頓覺輕爽，腹瀉亦止。予目睹救人於將絕者，不可勝記。人家不可無此藥以備急難，瘟疫時，尤宜服之，闢疫尤驗。倉卒求人參不得，只白湯亦佳，勿用酒。古方雖云用酒下，酒多不效，切宜記之。東陽劉使君，少時嘗病瘵，日漸羸削。至於骨立，肌熱盜汗，勞狀皆具，人有勸服此藥，凡服八九兩，所苦都瘥。一方有牛黃半兩，古方本無，乃後人加之。</p>

<h2>諸勞明月丹</h2>
<p>兔屎（四十九枚）　硇砂（如兔屎相類大者四十九枚）</p>
<p>上用生蜜丸，以生甘草半兩，碎浸一夜，取汁，五更初下七丸，勿令病人知。勞藥下後頻看，若有蟲，急打殺，以桑火油煎使焦，棄惡水中。三日不下，更服。須月三日以後。望前服之，忌見喪服色衣婦人貓犬之類。後服治勞補氣藥，取瘥，威愍孫元規，藏此方，數能活人。江陰萬融病勞，四體如焚，垂困。一夜夢神腹擁一月，大如盤，明爛不可正視，逼人心骨皆寒，已而悸寤，俄有人扣關，乃威愍使人遺之藥，服之遂瘥。問其名，則明月丹也。始悟向之所夢，大抵此藥最治熱勞，又云傷寒煩躁骨熱皆治療。</p>

<h2>火角法</h2>
<p>治久嗽，冷痰咳嗽，及多年勞嗽，服藥無效者。</p>
<p>雄黃（通明不夾石者一兩）　雌黃（不夾石者半兩，二味同研極細末）　蠟（二兩）</p>
<p>上先熔蠟令汁，下藥末，攪勻候凝，刮下，用紙三五叚，每叚，闊五寸長一尺。蠟熔藥，塗其一面令厚，以竹箭捲成筒子，令有藥在裡。干令相著，乃拔去箭。臨臥，熨斗內盛火，燃筒子一頭，令有煙。乃就筒子長引氣，吸取煙，陳米飲送下。及吸，每三吸為一節。當大咳，咯出冷涎，即以衣覆臥，良久汗出。若病三五年者，二三節即瘥。十年以上，嗽甚，咳聲不絕，胸中常有冷痰。服藥寒溫補瀉保無效者，日一為之，不過五七日良愈。先君戶部，病痰嗽，胸中常如冰雪。三年而伯父繼感嗽，又六年羸瘵殆困，百方治之皆莫愈。用此二三為之，皆瘥。</p>
<p>治積年肺氣，九寶散。</p>
<p>大腹並皮　肉桂　甘草（炙）　乾紫蘇　杏仁（去皮尖）　桑根白皮（各一兩）　麻黃（去根）　陳皮（炒）　干薄荷（各三兩）</p>
<p>上搗為粗末，每服十錢匕，用水一大盞，童便半盞。烏梅二個，姜錢五片，同煎至一中盞，濾去滓，食後臨臥服。兩浙張大夫，病喘二十年。每至秋冬輒劇，不可坐臥，百方不瘥。後得《臨平僧法本方》，服之遂瘥。法本凡病喘三十年，服此藥半年，乃絕根本，永不復發。凡服此藥，須久乃效。</p>

<h2>何首烏散</h2>
<p>治腳氣流疰，頭目昏重，肢節痛，手足冷，重熱拘攣，浮腫麻痹，目生黑花，（出《靈苑》）</p>
<p>何首烏（水浸一日切，厚半寸，黑豆水拌勻，令濕何首烏重重相間，蒸豆爛，去豆陰乾）</p>
<p>仙靈脾葉　牛膝（以上各酒浸一宿）　烏頭（水浸七日，入鹽二兩半炒黃色各半斤）</p>
<p>上每服二錢，酒下或粥飲調下，日三服，空心食前，久患者半月效。先君同官王綽禮部，有女子病足，攣痛二歲，得此半月愈。予老姨，亦病手足骨髓中，痛不能堪，久治不瘥，亦得此愈。</p>
<p>治消渴方。</p>
<p>眉山有楊穎臣者，長七尺，健飲啖，倜儻人也。忽得消渴疾，日飲水數斗，食倍常，而數溺消渴藥服之逾年，疾日甚。自度必死，治棺衾，囑其子於人。蜀有良醫張元隱之子，不記其名，為診脈。笑曰：「君幾誤死矣！」取麝香當門子，以酒濡之，作十許丸。取枳枸子為湯飲之，遂愈。問其故，張生言，消渴消中，皆脾衰而腎憊。土不能勝水，腎液不上溯，乃成此疾。今診穎臣脾脈極熱，而腎不衰。當由果實酒過度，虛熱在脾，故飲食兼人而多飲水。水多，不得不多溺也，非消渴也。麝香能敗酒，瓜果近輒不植，而枳枸子亦能勝酒。屋外有此木，屋中釀酒不熟，以其木為屋，其下亦不可釀酒，故以此二物為藥，以去酒果之毒也。宋玉云枳枸束巢，枳音俱，里切，枸音矩，以其實如鳥乳，故能束巢。今俗訛謂之雞矩子，亦謂之癩漢指頭，蓋取其似也。嚼之如乳，小兒喜食之。</p>

<h2>《經效》阿膠丸</h2>
<p>治嗽，並嗽血唾血。</p>
<p>阿膠（銼碎微炒）　卷柏（去塵土）　乾山藥　生乾地黃　（熟者不用）　雞蘇　大薊（獨根者最佳日影干）　五味子（以上各一兩淨）　柏子仁（別研）　茯苓　人參　百部　遠志（去心）　麥門冬　防風（以上各半兩淨）</p>
<p>上十四味，並擇好藥材。依方修制，搗羅為末，煉蜜丸如彈子大。不拘時候，濃煎小麥，並麥門冬湯下半丸。加至一丸，若覺氣虛，空心不用服。</p>

<h2>灸咳逆法</h2>
<p>予族中有病霍亂吐痢，垂困。忽發咳逆，半日之間，遂至危殆。有一客云，有灸咳逆法。凡傷寒，及久疾得咳逆，皆為惡候，投藥皆不效者，灸之必愈。予遂令灸之，火至肌，咳逆已定，元豐間，予為鄜延經略使。有幕官張平序，病傷寒，已困。一日官屬會飲，通判延州陳平裕忽言。張平序已屬纊，求往見之。予問何遽至此，云咳逆甚，氣已不屬，予忽記灸法，試令灸之，未食𭎸，中裕復來。喜笑曰，一灸遂瘥。其法乳下一指許，正與乳相直，骨間陷中，婦人即屈乳頭度之。乳頭齊處是穴。艾炷如小豆許，灸三壯。男灸左，女灸右，只一處，火到肌即瘥，若不瘥則多不救矣。</p>

<h2>羌活散</h2>
<p>（出《靈苑》）止咳逆。　羌活　附子（炮）　茴香（微炒各半兩）　木香　乾薑（炮各棗許）</p>
<p>上每服二錢，水一盞，鹽一捻，煎一二十沸。帶熱服，一服止。</p>

<h2>治肺喘</h2>
<p>蒲頹葉，微似海棠葉，尤柔厚，背白似熟羊皮。經冬不凋，花正如丁香，蒂極細，如絲。倒懸之，風吹則搖搖然。冬末生花，至春乃敷。實一如山茱萸，味酸可啖。與麥齊熟，其木甚大。吳人名半舍，江南名棠，京師名曰紙錢棠球，襄漢名黃婆奶。</p>
<p>上一物為末，每服二錢，水煎，或溫水調下，發時服。有人患喘三十年者，服之皆愈。疾甚者，服後胸上生小癮疹癢者，其疾即瘥，一方用人參等分服。</p>

<h2>硃砂膏</h2>
<p>鎮志安神解熱，及損嗽血等疾。</p>
<p>硃砂（一兩別研細）　金末（一分用箔子研）　牛黃　麝香　生腦子　硼砂（各半兩）　生犀　玳瑁　真珠末（各一兩蚌末不可用）　琥珀（別研）　羚羊角（各半兩）　蘇合香（用油和藥亦可）　鐵液粉（各一分）　安息香（半兩酒蒸去沙石，別研入藥）　人參（一兩）　遠志（去心）　茯苓（各半兩）　甘草（一兩微炙，參以下四味同搗）</p>
<p>上都為細末，拌和，煉蜜，破蘇合油。劑諸藥為小錠子，更以金箔裹，瓷器內密封。每用一皂子大，食後含化，衛尉業丞得效。並阿膠丸相雜服，此治血安神，更勝至寶丹。</p>

<h2>蕊珠丹</h2>
<p>鎮心空膈，去八邪氣，及婦人血攻寒熱等疾，但驚憂成疾皆主之。</p>
<p>辰砂（一兩一分鳳尾草一握，水研汁煮砂一分，更水洗乾研）　桃仁（四十九枚生）　附子（一分半紙裹煨）　安息香（一分蜜，一分酒，少許煮煎成膏）　麝香（二錢）　阿魏（薄切微焙）　木香（各半兩）　牛黃（一分）</p>
<p>丸如豆大，五丸至十丸。婦人桃心醋湯下，丈夫桃心鹽湯下。簡侍郎之妻，因悲憂，病腹中有兩塊如拳。每相沖擊則悶絕，堅不可破。歲余服此藥，兩塊皆失所在。</p>

<h2>至寶丹</h2>
<p>出《靈苑》，本池州醫鄭感，慶曆中，為予處此方，以屢效，遂編入《靈苑》。</p>
<p>生烏犀　生玳瑁　琥珀　硃砂　雄黃（各一兩）　牛黃（一分）　龍腦（一分）　麝香（一分）安息香（一兩半酒浸重湯煮，令化濾去滓，約取一兩淨）　金箔（各五十片）</p>
<p>上丸如皂角子大，人參湯下一丸，小兒量減。舊說主疾甚多，大體專療心熱血凝，心膽虛弱，喜驚多涎，眠中驚魘，小兒驚熱，女子憂勞，血滯血厥，產後心虛怔忪尤效，血病生薑小便化下。</p>
<p>治血氣心腹痛，四神散</p>
<p>（出《靈苑》）</p>
<p>當歸　芍藥　川芎（各一兩）　乾薑（半兩炮）</p>
<p>上每服二錢，暖酒調下。予每作以療婦人氣痛，常以一服瘥。</p>

<h2>半夏湯</h2>
<p>治急下涎。</p>
<p>齊州半夏（七枚炮裂四破之）　皂角（去皮炙寸半）　甘草（一寸）　生薑（兩指大）</p>
<p>上同以水一碗，煮去半，頓服。沈興宗待制，常病痰喘，不能臥，人扶而坐數日矣。客有見之者曰：「我曾如此，得藥一服瘥」。以千緡酬之，謂之千緡湯。可試為之，興宗得湯一啜而愈。</p>

<h2>白雪丸</h2>
<p>治痰壅胸膈，嘈逆，及頭目昏眩困倦，頭目脹痛。</p>
<p>天南星（炮）　烏頭（炮去皮）　白附子（生）　半夏（洗各一兩）　滑石（研）　石膏　龍腦　麝香（研各一分）</p>
<p>上稀麵糊為丸，極稀為妙，如綠豆大。每服三十丸，姜臘茶或薄荷茶下。予每遇頭目昏困，精神懵冒。胸中痰逆，憒憒如中酒。則服此藥，良久間，如搴一重裘，豁然清爽，頓覺夷暢，食後服為佳。</p>

<h2>龍膽丸</h2>
<p>解暴熱，化痰涼膈，清頭目。</p>
<p>草龍膽　白礬（煅四兩）　天南星　半夏（各二兩半水浸，切作片，用漿水雪水各半，同煮三五沸，焙乾）</p>
<p>上為末，麵糊為丸，梧桐子大。每服三十丸，臘茶清下。食後臨臥服。麵糊須極稀，如濃漿可也。應痰壅膈熱，頭目昏重，服之頓清。嶺南瘴毒，才覺意思昏悶，速服便解。咽喉腫痛，口舌生瘡，凡上壅熱涎諸證，悉可服。小兒尤良。</p>

<h1>卷第六</h1>

<h2>問養生</h2>
<p>余問養生於吳子。得二言焉：曰和，曰安。何謂和？曰：子不見天地之為寒暑乎？寒暑之極，至為折膠流金而物不以為病。其變者微也，寒暑之變。晝與日俱逝，夜與月並馳。俯仰之間屢變，而人不知者。微之至，和之極也。使此二極者相尋而狎至，則人之死久矣。何謂安？曰：吾嘗自牢山，浮海達於淮，遇大風焉，舟中之人，如附於桔槔。而與之上下，如蹈車輪而行。反逆眩亂不可止，而吾飲食起居如他日，吾非有異術也。惟莫與之爭，而聽其所為。顧凡病我者舉非物也。食中有蛆，人之見者必嘔也。其不見而食者，未嘗嘔也。請察其所從生。論八珍者必咽言糞穢者必唾，二者未嘗與我接也。唾與咽何從生哉？果生於我乎？知其生於我也。則雖與之接而不變安之至也，安則物之感我者輕，和則我之應物者順。外輕內順，而生理備矣。吳子古之靜者也，其觀於物也審矣，是以私識其言，而時省觀焉！</p>

<h2>論修養寄子由</h2>
<p>任性逍遙，隨緣放曠。但盡凡心，別無勝解。以我觀之，凡心盡處，勝解卓然。但此勝解，不屬有無，不通言話，故祖師。教人到此便住，如眼翳盡。眼自有明醫師只有除翳藥，何曾有求明藥。明若可求，即還是翳固不可翳中求明，即不可言翳外無明。夫世之昧者，便將頹然無知，認作佛地。若此是佛，貓兒狗兒得飽熟睡，腹搖鼻息。與土木同，當恁麼時，可謂無一毫思念，豈謂貓兒狗兒已入佛地。故凡學者，當觀妄除愛，自粗及細，念念不忘，會作一日得無所除。弟所教我者是如此否？因見二偈警策。孔君不覺聳然，更以問之。書至此，牆外有悍婦與夫相毆罵。聲飛灰火，如豬嘶狗嗥。因念他一點圓明，正在豬嘶狗嗥裡面。譬若江河鑑物之性，長在飛砂走石之中，尋常靜中推求，常患不見，今日鬧里捉得些子如何。元豐六年。</p>

<h2>養生說</h2>
<p>已飢先食，未飽先止。散步逍遙，務令腹空。每腹空時，即便入定。不拘晝夜，坐臥自便。惟在攝身。使如木偶，常自念言。我今此身，若少動搖，如毛髮許，便墮地獄。如商君法，如孫武令。事在必行，有死無犯。又用佛語及老君語，視鼻端，自數出入息，綿綿若存，用之不勤，數至數百，此心寂然，此身兀然。與虛空等，不煩禁制。自然不動，數至數千，或不能數。則有一法，其名曰隨，與息俱出，復與俱入，隨之不已。一息自住，不出不入。或覺此息，從毛竅中八萬四千云蒸霧散。無始已來，諸病自除，諸障自滅。自然明悟，譬如盲人。忽然有眼，此時何用求人指路，是故老人言盡如此。</p>

<h2>續養生論</h2>
<p>鄭子產曰，火烈者人望而畏之，水弱者人狎而玩之。翼奉論六情十二律。其論水火也，曰北方之情好也。好行貪狠，南方之情惡也。惡行廉正，廉正故為君子，貪狠故為小人。予參二人之學，而為之說曰：火烈而水弱。烈生正，弱生邪。火為心，水為腎。故五臟之性，心正而腎邪。腎無不邪者，雖上智之腎亦邪。然上智常不淫者，心之官正，而腎聽命也。心無不正者，雖下愚之心亦正。然下愚常淫者，心不官，而腎為政也。知此，則知鉛汞龍虎之說矣。何謂鉛？凡氣之謂鉛，或趨或蹶，或呼或吸，或執或擊。凡動物者皆鉛。肺實出納之，肺為金，為白虎，故曰鉛，又曰虎。何為汞？凡水皆為汞，唾㖒膿血，精汗便利，凡濕者皆汞也，肝實宿藏之。肝為木，為青龍，故曰汞，又曰龍，古之真人論內丹曰：五行顛倒術，龍從火內出。五行不順行，虎向水中生。世未有知其說者也。方五行之順行也。則龍出於水，虎出於火，皆死之道也。心不官而腎為政，聲色外誘，淫邪內發，壬癸之英。下流為人，或為腐壞，是汞龍之出於水也。喜怒哀樂皆出於心者也，喜則攖挐隨之，怒則毆擊隨之。哀則擗踴隨之，樂則抃舞隨之。心動於內，而氣應於外，是鉛虎之出於火者也。汞龍之出於水，鉛虎之出於火。有能出於火，有能出於水。而復返者乎？故曰皆死之道也。真人教之以逆行，龍從火出，虎從水生也。其說若何？孔子曰：思無邪。凡有思皆邪也，而無思則土木也。孰能使有思而非邪，無思而非土木乎？蓋必有無思之思焉。夫無思之思，端正莊慄，如臨君師，未嘗一念放逸。然卒無所思，如龜毛兔角。非作故無，本性無故，是謂之戒。戒生定，定則出入息自住。出入息住，則心火不復炎。在易為離，離麗也，必有所麗。未嘗獨立，而汞其妃也。既不炎上，則從其妃矣。水火合，則壬癸之英。上流於腦，而溢於元英。若鼻液而不咸，非腎出故也，此汞龍之自火出者也。長生之藥，內丹之萌無過此者矣。陰陽之始交，天一為水。凡人之始造形皆水也，故五行一曰水。從暖氣而後生，故二曰火。生而後有骨，故三曰木。骨生而日堅，凡物之堅壯者，皆金氣也，故四曰金。骨堅而後生肉焉，土為肉，故五曰土。人之在母也。母呼亦呼，母吸亦吸。口鼻皆閉，而以臍達，故臍者生之根也。汞龍之出於火，流於腦，溢於元英，必歸於根。心火不炎上，必從其妃，是火常在根也。故壬癸之英，得火而日堅，達於四肢，浹於肌膚而日壯。究其極，則金剛之體也，此鉛虎之自水出者也，龍虎生而內丹成矣，故曰順行則為人。逆行則為道，道則末也，亦可為長生不死之術矣。</p>

<h2>書養生論後</h2>
<p>東坡居士，桑榆之末景。憂患之餘生，而後學道。雖為達者所笑，然猶賢乎已也。以《嵇叔夜養生論》，頗中予病，故手寫數本，其一以贈羅浮鄭師。</p>

<h2>養生偈</h2>
<p>閒邪存誠，煉氣養精。一存一明，一煉一清。清明乃極，丹元乃生。坎離乃交，梨棗乃成。中夜危坐，服此四藥。一藥一至，則極則處。幾費千息，閒之廓然，存之卓然，養之郁然，煉之赫然，守之以一。成之以久，功在一日。何遲之有？（易曰閒邪存其誠，詳味此字，知邪中有誠，無非邪者，閒亦邪也。至於無所閒，乃見其誠者幻滅，滅故非幻不滅）</p>

<h2>養生說</h2>
<p>吳子野云，芡實蓋溫平耳。本不能大益人，然俗謂水硫黃，何也？人之食芡也，必枚齧而細嚼之，未有多嘬而亟咽者也。舌頰唇齒，終日囁嚅。而芡無五味，腴而不膩，是以致玉池之水。故食芡者，能使人華液流通。轉相攝注，積其力，雖過乳石可也。以此知人，能澹食而徐飽者，當有大益。吾在黃岡中，見牧羊者，必驅之瘠土，云草短而有味，羊得細嚼，則肥而無疾。羊猶爾，況人乎？（食芡法）</p>
<p>養生之方，以胎息為本，此固不刊之語，更無可議。但以氣若不閉，任其出入，則渺綿滉漭，無卓然近效。待其兀然自住，恐終無此期。若閉而留之，不過三十五息。奔突而出，雖有微暖養下丹田，此一溉於湯，決非度世之術。近日深思，似有所得。蓋因看《孫真人養生門》中，調氣第五篇。反覆尋究，恐是如此。其略曰，和神氣之道，當得密室，閉戶安床暖席，枕高二寸半，正身僵臥，瞑目閉氣於胸膈間，以鴻毛著鼻，止而不動。經三百息，耳無所聞，目無所見，心無所思。則寒暑不能侵，蜂蠆不能毒。壽三百六十歲，此鄰於真人也。此一段要訣。弟且靜心細意，字字研究。看既云閉氣於胸膈，恐是不閉鼻中氣。只以意堅守此氣於胸膈中，令出入息，似動不動，氤氳縹緲。如香爐蓋上煙，湯瓶嘴中氣。自在出入，無呼吸之者則鴻毛可以不動。若心不起念，雖過三百息可也。仍須一切依此本訣，臥而為之。仍須直以鴻毛黏著鼻端，以意守氣於胸中，遇欲吸時不免微吸。及其呼時，雖不得呼，但任其氤氳縹緲，微微自出，盡氣乎則又微吸，如此出入元不斷，而鴻毛自不動，動亦極微，覺其微動，則又加意制勒之。以不動為度，雖云制勒，然終不閉。至數百息，出者少，不出者多，則內守充盛。血脈通流，上下相灌輸，而生理備矣。兄悟此元意，甚以為奇。恐是夜夜燒香，神啟其心，自悟自證，適值痔疾及熱甚，未能力行，亦時時小試，覺其理不謬。更候疾平天涼，稍稍置力。續見效，當報弟，不可謂出意杜撰而輕之也。（胎息法）</p>
<p>《抱朴子》云：古人藏丹砂井中，而飲者猶獲上壽。今但懸望大丹，丹既不可望。又學燒，而藥物火候，皆未必真。縱使燒成，又畏火毒而未能服。何不趁此？且服生丹砂意謂過百日者，力亦不慢。草藥是覆盆子，亦神仙所餌。百日熬煉，草石之氣，亦相乳入。每日五更，以井花水服三丸。服罷，以意送至下丹田。心火溫養久之，意謂必有絲毫留者。積三百餘服，恐必有刀圭留丹田，致一之道。初若眇昧，久乃有不可量者。況老夫別無見解，直欲以拙守而致神仙。此大可笑，亦可取也。（藏丹砂法）</p>
<p>吾雖了了見此理，而資躁褊。害之者眾，恐未便成。子由端靜淳淑，使少加意。當先我得道，爾必卻度我，故書此紙，為異日信。非虛語也，紹聖二年。</p>

<h2>上張安道養生訣</h2>
<p>某近年頗留意養生，讀書延問方士多矣。其法百數，擇其簡而易行者。間或行之，輟有其驗，今此閒放，益究其妙，乃知神仙長生。非虛語爾，其效初不甚覺。但積累百餘日，功用不可量。比之服藥，其效百倍。久欲獻之左右，其妙處，非言語文字所能形容，然亦可道其大略。若信而行之，必有大益，其訣具下。</p>
<p>每日以子時後（三更三四點至五更以來皆可）披衣坐（只床上擁被坐亦得），面東或南，盤足坐，扣齒三十六通，握固（以兩拇指掏第二指手紋，或以四指都握拇指，兩手拄腰腹間）閉息，（閉息敢是道家要妙，先須閉目靜慮，掃滅妄想，使心源湛然，諸念不起，自覺出入，息調勻微細，即閉口並鼻不令氣出也）內視五臟，肺白、肝青、脾黃、心赤、腎黑，（當便求五臟圖煙羅子之類常掛壁上，便中心熟議五臟六腑之形狀）次想心為炎火。光明洞徹，入下丹田中，（丹田在臍下）待腹滿氣極。則徐出氣，（不得令耳聞聲）候出息勻調。即以舌攪唇齒內外，漱煉津液。（若有鼻涕亦須潄煉不嫌其咸漱煉良久自然甘美此是真氣）未得嚥下。復作前法，閉息內觀，納心丹田，調息漱津。皆依前法，如此者三。津液滿口，即低頭嚥下。以氣送下丹田中，須用意精。猛令津與氣谷谷然有聲，徑入丹田。又依前法為之，凡九閉息，三咽津而止。然後以左手熟摩兩腳心，（此湧泉穴上徹頂門氣訣之妙）及臍下腰脊間，皆令熱徹。（徐徐摩之微汗出不妨不可喘）次以兩手，摩熨眼面耳項，皆令極熱。仍按捏鼻梁左右，五七下，梳頭百餘梳，散發臥，熱寢至明。上其法至《簡易》，惟在常久不廢，即有深功，且試行二十日，精神自已不同。覺臍下實熱，腰腳輕快，面目有光，久久不已。去仙不遠，當常習閉息，使漸能持，久以脈候之五至為一息。某近來閉得漸久，每一閉，百二十至而開，蓋已閉得二十餘息也。又不可強閉多時，使氣錯亂奔突而出，反為害也。慎之慎之，又須常節晚食。令腹中寬虛，氣得迴轉，晝日無事，亦時時閉目內觀。漱煉津液咽之。摩熨耳目，以助真氣。但清靜專一，即易見功矣。神仙至術，有不可學者三：一急躁，二陰險，三貪欲。公雅量清德，無此三疾，竊謂可學。故獻其區區，若篤信力行。他日相見，復陳其妙者。方書口訣，多奇詞隱語，卒不見下手門路。今《直指精要》，可謂至言不煩，長生之根本也。幸深加寶秘，勿使淺妄者窺見，以泄至道，為祝。</p>

<h2>神倦補益</h2>
<p>王倪丹砂，無所不主。尤補心，益心血，愈痰疾，壯筋骨，久服不死。王倪者，丞相遵十二代孫。文明九年，為滄州無棣令。有桑門善相人，知死期，無不驗，見倪曰：「公死明年正月乙卯。」倪以為妄，囚之。又使驗邑人之言死者，數輩皆信。倪乃出桑門，禮謝之，日為死計。忽有人，不言姓名。謂倪曰：「知公憂死，我有藥，可以不死。公能從我授乎？倪再拜稱幸，乃出煉丹砂法餌之。過明年正月，乃復召桑門視之。桑門駭曰：「公必遇神藥，面有異色，且不死。」開元元年，倪妻之弟，亦遇異人授以杏丹法。曰吾聞王倪能煉丹砂，願以此易之。以杏丹賜其子弁，而倪與授杏丹者。後皆仙去，刺史李休光表聞，賜其第為道觀。開元十二年，上東封泰山，拜弁左散騎常侍，隱遁不知所終，此舊傳也。</p>
<p>光明辰砂（二十八兩）甘草（二大兩）遠志（二大兩去心秤）檳榔（二大兩）訶黎勒皮（二大兩）紫桂肉（八大兩桂一半留蒸丹砂時拍碎用覆藉）上甘草等四味，銼碎，以二大斗釜。用細布囊，盛丹砂，懸於釜中，著水和藥，炭火煮之。第一日兼夜用陰火，水紋動；第二日兼夜用陽火，魚眼沸；第三日兼夜用木火，動花洣沸；第四日兼夜用火火，汩汩沸；第五日兼夜用土火，微微沸；第六日兼夜用金火，沸乍緩乍急；第七日兼夜用水火，緩調調沸。先期泥二釜，常暖水。用添煮藥，釜水涸即添暖水。常令不減二斗，七日滿。即出丹砂，於銀閤中蒸。其閤中先布桂肉一兩，拍碎，即勻布丹砂。又以余桂一兩覆之，即下合，置甑中。先布糯米厚三寸，乃置合。又以糯米擁蓋上，亦令上米厚三寸許。桑薪火蒸之，每五日換米換桂，其甑蔽，可用莞竹子為之。不爾，蒸久甑墮下釜中也。甑下側開一小孔子，常暖水，用小竹子注添釜中，勿令水減。第一五日用春火，如常炊飯兼夜；第二五日兼夜用夏火，猛於炊飯；第三五日兼夜用秋火，似炊飯，乍緩乍急；四五日兼夜用冬火，火緩於炊飯。依五行相生，用文武火助之。藥成，即出丹砂。以玉磓力士缽中研之，當不磣，如粉如面，可服之。以穀子煎丸，如梧桐子大。每日食上服一丸，每日三食服三丸。非頓服三丸，煉成丹砂二十兩為一大劑。二年服盡後，每十年即煉服三兩。仍取正月一日起，服三月使盡。既須每十年三兩，不可旋合。當宜頓煉，取一劑藏貯。隨時服之，其辰砂須是上等。</p>

<h2>穀子煎法</h2>
<p>取赤穀子熟時絞汁，煎如稠餳，可用和丹砂。如無穀子，穀皮亦得。凡服丹砂，忌一切魚肉塵宿生冷蒜，尤忌生血物，及見血穢。江陰葛侍郎，中年病足幾廢，久治不瘥，得此服遂愈。而輕健過於少時，年八十餘，飲啖視聽不衰，寶此方未嘗傳人。予治平中，感足疾，萬端求得之，然遊宦竟今，未曾得為之。又太醫孫用和，亦嘗得此方。仁宗時表獻之，其大概雖相似。然甚粗略，非真方也。</p>

<h2>書辟穀說</h2>
<p>洛下有洞穴，深不可測。有人墮其中不能出，飢甚。見龜蛇無數，每旦輒引首東望，吸初日光咽之。其人亦隨所向效之不已，遂不復飢，身輕力強，後卒還家。不食，不知其所終，此晉武帝時事，辟穀之法以百數，此為上妙。法止於此，能復玉泉。使鉛汞具體，去仙不遠矣。此法甚易知易行，天下莫不能知。知者莫能行，何則？虛一而靜者，世無有也。元符二年，儋耳米貴，吾乃有絕糧之憂。欲與過子共行此法，故書以授之。四月十九日記。</p>

<h2>陽丹訣</h2>
<p>冬至後齋居，常吸鼻液漱煉令甘，乃嚥下丹田。以三十瓷器皆有蓋，溺其中已，隨手蓋之。書識其上，自一至三十。置淨室，選謹樸者守之。滿三十日開視，其上當結細砂，如浮蟻狀，或黃或赤。密絹帕濾，取新汲水，淨淘澄無數，以穢氣盡為度，淨瓷瓶合貯之。夏至後，取細研棗肉，丸如梧桐子大。空心酒吞下，不限丸數，三五日後取盡。夏至後仍依前法採取，卻候冬至後服。此名陽丹陰煉。須清淨絕欲，若不絕欲，真砂不結。</p>

<h2>陰丹訣</h2>
<p>取首生男子之乳，父母皆無疾恙者，養其子，善飲食之。日取其乳一升，只半升以來亦可。又以硃砂銀作鼎與匙，如無硃砂銀，山澤銀亦得。慢火熬煉，不住手攪如淡金色，可丸即丸，如梧桐子大。空心酒吞下，亦不限丸數。此名陰丹陽煉。世人亦知服秋石，然皆非清淨所結。又此陽物也，須復經火，經火之餘，皆其糟粕，與燒鹽無異也。世人亦知服乳，陰物不經火煉，則冷滑而漏精氣也。此陽丹陰煉。陰丹陽煉。蓋道士靈智妙用，沉機捷法，非其人不可輕泄，慎之。</p>

<h2>秋石方</h2>
<p>凡世之煉秋石者，但得火煉一法而已。此藥須兼用陰陽二石，方為至法。今具二法於後。</p>
<p>凡火煉秋石，陽中之陰，故得火而凝，入水則釋然消散，歸於無體。蓋質去但有味在，此離中之虛也。水煉秋石，陰中之陽。故得水而凝，遇暴潤，千歲不變。味去而質留，此坎中之實。二物皆出於心腎二臟，而流於小腸。水火二臟，螣蛇元武正氣。外假天地之水火，凝而為體。服之還補太陽相火二臟，為養命之本。具方如後。</p>

<h2>陰煉法</h2>
<p>小便三五石，夏月雖腐敗亦堪用。置大盆中，以新水一半以上相和，旋轉攪數百匝，放令澄清。闢去清者留濁腳，又以新水同攪，水多為妙。又澄去清者，直候無臭氣，澄下秋石如粉。即止。暴乾。刮下，如膩粉光白，粲然可愛，都無氣臭味為度。再研以乳男子乳，和如膏，烈日中暴乾。如此九度，須揀好日色乃和，蓋假太陽真氣也。第九度即丸之，如梧桐子大，曝乾。每服三十丸，溫酒吞下。</p>

<h2>陽煉法</h2>
<p>小便不計多少，大約兩桶為一擔。先以清水，挼好皂角濃汁。以布絞去滓。每小便一擔桶，入皂角汁一盞，用竹篦急攪，令轉百千遭乃止。直候小便澄清，白濁者皆碇底，乃徐徐撇去清者不用。只取濁腳，並作一滿桶。又用竹篦子攪百餘匝，更候澄清。又撇去清者不用，十數擔，不過取得濃腳一二斗。其小便，須是先以布濾過，勿令有滓。取得濃汁，入淨鍋中煎乾，刮下搗碎。再入鍋，以清湯煮化。乃於筲箕內，丁淋下清汁，再入鍋熬干，又用湯煮化，再依前法丁淋。如熬干色未潔白，更准前丁淋，直候色如霜雪即止，乃入固濟砂盒內。歇口火煅成汁，傾出，如藥未成窩。更煅一兩度，候瑩白五色即止。細研入砂盒內固濟，頂火四兩，養七晝夜。（久養火尤善）再研，每服二錢，空心溫酒下，或用棗肉為丸，如梧桐子大每服三十丸，亦得，空心服。陽煉日午服，陰煉夜半服。廣南有一道人，惟與人煉秋石為業，謂之還元丹。先大夫曾得瘦疾，且嗽凡九年，萬方不效，服此而愈。郎侍郎簡師南海，其室病久。夜夢神人告之曰：「有沈殿中，攜一道人，能合丹，可愈汝疾，宜求服之」。空中擲下數十粒，曰此道人丹也。及旦臥席上，得藥十餘粒，正如夢中所見。及先大夫到番禺，郎首問此丹。先大夫乃出丹示之，與夢中所得不異，妻服之即愈。又予族子嘗病顛眩，腹鼓，久之漸加喘滿。凡三年垂困，亦服此而愈，皆只是火煉者。時予守宣城，亦大病逾年，族子急以書勸予服此丹，雲實再生人也。予方合煉，適有一道人，又傳陰煉法。二法相兼，其藥能動人骨髓，無所不至，極秘其術，久之方許傳。依法服之，又驗。此藥不但治疾，可以常服，有功無毒。予始得之甚艱，意在救濟人，理不當秘。火煉秋石，人皆能之。煎煉時須大作爐鼎，煎煉數日，臭達四鄰。此法極省力，只一小鍋便可煉，體如金石，永不暴潤，與常法功力不侔。久疾人只數服便效，予偶得之，極為神妙。</p>

<h2>金丹訣</h2>
<p>用物之精，取物之華。集我丹田，我丹所家，我丹伊何。鉛汞丹砂，客主相守，如巢養鴉。種以戊已，耕以亦蛇，養以丙丁，灌以河車。乃根乃株，乃蕊乃花，晝煉於火，赫然彤霞。夜浴於水，皓然素葩，金丹自成。日思無邪。</p>

<h2>龍虎鉛汞說</h2>
<p>人之所以生死，未有不自坎離者。坎離交則生，分則死，必然之道也。離為心，坎為腎。心之所然，未有不正。雖桀蹠亦然其所以為桀蹠者，以內輕而外重。故常行其所不然者爾，腎強而溢。則有欲念，雖堯顏亦然。其所以為堯顏者，以內重而外輕。故常行其所然者爾。由此觀之，心之性，法而正。腎之性，淫而邪，水火之德固如是也。子產曰：火烈人望而畏之，水弱人狎而玩之，達者未有不知此者也。龍者汞也，精也血也，出於腎而肝藏之，坎之物也，虎者鉛也。氣也，力也。出於心而肺主之，離之物也。心動，則氣隨之而作，腎溢則精血隨之而流。如火之有煙熖，未有復反於薪者也。世之不學道者，其龍常出於水。故龍飛而汞輕，其虎出於火。故虎走而鉛枯，此生人之常理也。順此者死，逆此者仙。故真人之言曰：順行則為人，逆行則為道。又曰：五行顛倒術，龍從火里出。五行不順行，虎向水中生。有隱者教予曰：人能正坐瞑目，調息，握固，心定，微息則徐閉之。（達磨胎息法亦須閉若此，佛經待其自止，恐卒不能到也）雖無所念，而卓然精明。毅然剛烈，如火之不可犯。息極則小通之，微則復閉之。（方其通時亦須一息一息掃之下丹田）為之惟數，以多為賢，以久為功。不過十日，則丹田溫而水上行。愈久愈溫，幾至如烹。上行水。翕然如雲蒸於泥丸，蓋離者麗也。著物而見，火之性也。吾目引於色，耳引於聲。口引於味，鼻引於香，火輒隨而麗之。今吾寂然無所引於外，火無所麗。則將安往，水者其所妃也。勢必從之，坎者陷也。物至則受，水之性也，而況其配乎？水火合，則火不炎而水自上。則所謂龍從火里出也。龍出於火，則龍不飛而汞不幹。旬日之外，腦滿而腰足輕。方閉息時常捲舌而上。以舐縣雍雖不能，而意到焉，久則能也。如是不已，則汞下入口。方調息時，則漱而烹之，須滿口而後咽。若未滿，且留口中，俟後次也，仍以空氣送至丹田。常以意養之，久則化而為鉛，此所謂虎向水中生也。此論奇而通，妙而簡，決為可信者。然吾有大患，平生髮此志願百十回矣，皆繆悠無成意，此道非捐軀以赴之，刳心以受之，盡命以守之，不能成也。吾今年已六十，名位破敗，兄弟隔絕，父子離散。身居蠻夷。北歸無日，區區世味，亦可知矣。若復繆悠於此。真不如人矣，故數日來，別發誓願，譬如古人避難窮山，或使絕域，齧草啖雪，彼何人哉？已令造一禪榻兩大案，明窗之下，即專欲治此，並已作干蒸餅百枚，自二月一日為首，盡絕人事。飢則食此餅，不飲湯水，不啖他物。細嚼以致津液，或飲少酒而已。午後略睡，一更臥，三更乃起，坐以達旦，有日採日，有月採月，余時非數息煉陰則行，今所謂龍虎訣耳。如此百日，或有所成，不讀書，不看經，且一時束起，以待異日，不遊山水，除見道人外，不接客，不會飲，皆無益也。深恐易流之性，不能終踐此言，故先作書以報。庶幾他日有慚於弟，而不敢變也。此事大難，不知其果然能不慚否。此書既以自堅，又欲以發弟也。養舌以舐縣雍，近得此法。初甚秘惜，云此禪家所得向上一路，千金不傳，人之所見如此雖可笑，然極有驗也。但行之數日間，舌下筋微急痛，當以漸馴致。若舌尖果及懸雍，則致華池之水莫捷於此也。又言此法名洪爐上一點雪，宜秘之。</p>

<h2>記丹砂</h2>
<p>爾朱道士，晚客於眉山，故蜀人多記其事。目言受記於師云，汝後遇白石浮，當飛仙去，爾朱雖以此語人，亦莫識所謂，後去眉山，乃客於涪州。愛其所產丹砂，雖瑣細，面皆矢鏃，狀瑩徹。不雜土石，故止煉丹。數年，竟於涪之白石縣仙去，乃知師所言不謬。吾聞長老道其事多，然不記其名字，可恨也。《本草》言丹砂出符陵谷，陶隱居云：符陵是涪州，今無復採者，吾聞熟涪者云，採藥者時復得之。但時方貴辰錦砂，故此不堪採耳，讀《本草》偶記之。</p>

<h2>記松丹砂</h2>
<p>祥符東封，有扈駕軍士，晝臥東嶽，真君觀古松下，見松根去地尺余，有補塞處，偶以所執兵攻刺之。塞者動，有物如流火，自塞下出，遙走入地中。軍士以語觀中人，有老道士拊膺曰：「吾藏丹砂於是，三十年矣。」方卜日取之，因掘地數丈不復見，道士悵恨成疾，竟死。其法，用硃砂精良者，鑿大松腹，以鬆氣煉之，自然成丹。吾老矣，不暇為此，當以山澤銀為鼎，有蓋，擇砂之良者二斤，以松根明節懸胎煮之，傍置沙瓶，煎水以補耗，滿百日取砂。玉磓研七日，投熟蜜中，通油瓷瓶盛，日以銀器取少許，醇酒攪湯飲之，當有益也。</p>

<h1>卷第七</h1>

<h2>治眼齒</h2>
<p>前日與歐陽叔弼、晁無咎、張文潛，同在戒壇。余病目昏，數以熱水洗之。文潛目，日忌點洗，目有病，當存之。齒有病，當勞之，不可同也。治目當如治民，治齒當如治軍，治民當如曹參之治齊，治軍當如商鞅之治秦，頗有理當追錄之。</p>

<h2>治內瘴眼</h2>
<p>《本草》云：熟地黃、麥門冬、車前子相得，治久患內瘴眼有效。屢試之，信然。其法細搗羅，蜜丸，如梧桐子大，每服，溫酒熟水任下，然三藥皆潤，難搗，旋焙旋搗，和合異常甘香，真奇藥也。</p>

<h2>還睛神明酒</h2>
<p>《沈存中撰》</p>
<p>黃連（五兩）　石決明　草決明　生薑　石膏　蕤仁　黃硝石　山茱萸　當歸　黃芩　沙參　車前子　淡竹葉　朴硝　甘草　芍藥　柏子仁　川烏頭　澤瀉　桂心　薺子　地膚子　桃仁（去皮尖雙仁者）　防風　辛夷　人參　川芎　白芷　細辛　瞿麥（以上各三兩）　龍腦（三錢）丁香（半兩）　珠子（生二十五顆）　秦皮（三兩）</p>
<p>上㕮咀，絹囊盛，用好酒五斗，甕中浸之。春秋十四日，夏七日，冬二十一日，食後服半合，勿使醉吐。稍稍增之，百日後，目明如舊。忌熱面鮓葵穢臭五辛，雞魚豬馬驢肉，生冷黏滑，人房恚怒，大憂愁，大勞，大寒熱，悉慎之。惟不療枯睛損破者，但白睛不枯損，服此藥更生瞳子，平復如故，出《五符》。漢司空倉元明，兩目盲，經十五年，兩瞳子俱損，翳如雲，赤白膚如乳頭，服此酒，未滿百日，兩目還得清淨，夜任針，勝如未患眼時十倍。晉大夫於公失明，經二十餘年，不辨明夜，兩目俱損，無瞳子，時年七十，服此酒百日，萬病除，兩目明，見物益明。表親有病目者，服此酒十餘日，翳皆消盡。</p>

<h2>治諸目疾</h2>
<p>上盛熱湯滿器，銅器尤佳，以手掬熨眼，眼緊閉勿開，亦勿以手揉眼，但掬湯沃，湯冷即已。若有疾一日可三四為之，無疾一日兩次，沃令眼明，此最治赤眼，及瞼眥癢。予自十八歲因夜書小字，病目楚痛，凡三十年，用此醫法，遂永瘥。樞密邵興宗，目昏，用此法，逾年後，遂能燈下觀細字，大率血得溫則榮，目全要血養。若衝風胃冷，歸即沃之，極有益於目。</p>

<h2>點眼熊膽膏</h2>
<p>古錢（二十一枚完用）　菊花（一兩）　黃連　鬱金　黃柏（各二兩以上，菊花揉碎，黃連，以下三物細銼，用水二升銀石器中，慢火熬至一升，新布濾去滓入後藥）　鉛丹　元青石　井泉石　龍骨　不灰木　蕪荑（去皮）　蕤仁（去殼）　代赭（各半兩）　滑石　烏鰂魚骨（去堅處各一兩以上細研成膏粉，入蜜六兩，並前藥汁和勻，銀器內重湯煮六時辰，再以新綿絞濾去相入後藥）　硼砂　麒麟竭　沒藥　青鹽　銅青（各半兩）　川牙硝（一兩）　乳香（一分）　麝香　龍腦　水銀粉（二錢）　熊膽（半個）　雄雀糞（七粒）　硇砂（一錢五分）</p>
<p>上並細研，羅過再研如面，入前膏內，再用重湯，煮如稀餳，如要為丸，即更熬，可丸即丸，如梧桐子大，每用一丸，水化，並以銅箸點兩眥，此本《舒州甘露山儼長老方》。治目疾殊聖，久患瘀肉瞼爛諸疾，點此無不瘥者，暴目赤風癢，只點三兩次即瘥。有人瘀肉滿眼，用此亦消盡。清明如未病時，熬藥須用銀器，皆用上品藥。洗濯揀擇極細，方有效。</p>

<h2>《靈苑》治眼，苘實散</h2>
<p>苘麻子，以柳木製磑子磨之，馬尾篩篩過，取黃肉，其烏殼棄不用，每十兩，可得四兩精肉。非柳木磑不能去殼，碾為末，取獖豬肝，薄切裛藥中，令相著乃緩火炙肝熟，為末。臨臥，陳米飲調下二錢，一法煎釅醋為丸，每服二十丸。一法，取苘實內囊，蒸一炊，曝乾為末，或散，或蜜丸，溫水下。予親家女子，兒童時病翳，一目中五翳，病十五年，治之莫愈，醫者皆以不可療之，試用炙肝散，十許日一翳消，逾月消盡，目如為兒時。</p>

<h2>貍鳩丸</h2>
<p>治內瘴，青盲，翳暈，及時暫昏暗，一切眼疾。</p>
<p>花鳩（一隻去毛腸嘴足炙熟）　羊肝（一具炒）　細辛　防風　肉桂　黃連　牡蠣　甘菊花　白蒺藜（各五兩）　白茯苓　瞿麥（各四兩）　羌活（三兩）　蔓荊子（二升蒸三炊）　蕤仁（半升）　決明（二合）</p>
<p>上煉蜜丸，如梧桐子大，每服二十至三十丸，空心，日午臨臥，茶酒下，半月見效。忌房事、五辛蒜、雞魚豬。楚醫陳中立，雙盲數年，服此視物依舊。</p>

<h2>偏頭痛方</h2>
<p>裕陵傳《王荊公偏頭痛方》云：是禁中秘方。用生蘿菔汁一蜆殼，仰臥注鼻中，左痛注右，右痛注左，或兩鼻皆注亦可。數十年患，皆一注而愈。荊公與僕言，已愈數人。</p>

<h2>頭痛硫黃丸</h2>
<p>硫黃（二兩細研）　硝石（一兩）</p>
<p>上水丸，指頭大，空心臘茶嚼下。予中表兄，病頭風二十餘年，每發，頭痛如破，數日不食，百方不能療。醫田滋見之曰：「老母病此數十年，得一藥遂效」。就求得之十丸，日服一丸，十餘日後，滋復來云：「頭痛平日食何物即發？」答云：「最苦飲酒食魚。」滋取魚酒令恣食，云服此藥十枚，豈復有頭痛。即如其言，食之竟不發，自此遂瘥。予與滋相識數歲，臨別以此方見遺。陳州懷醫有此藥，丸如梧桐子大，每服十五丸，暑暍懵冒者冰冷，水服下咽，即豁然清爽，傷冷，以沸艾湯下。</p>

<h2>治氣攻頭痛葫蘆巴散</h2>
<p>胡蘆巴（微炒）　三稜（銼醋浸一宿炒乾各一兩）乾薑（一分炮）</p>
<p>上為末，每服二錢，溫生薑湯，或酒調下。凡氣攻頭痛，一服即瘥。萬法不愈，頭痛如破者，服之即愈，尤利婦人。姻家有病瘧，瘥後頭痛，號呼十餘日，百方不效，用一服如失，小小頭痛更捷。</p>

<h2>治鼻衄方</h2>
<p>取河陽石炭心，如無，只用光明者，為末，新水下，立止。又治鼻，左衄用編塞右耳，右衄塞左耳，神應予，自曾用。</p>

<h2>治鼻衄，不可止欲絕者</h2>
<p>用茅花，無以根代，每服一大把，銼，水二碗，煎濃汁一碗，分二服。林次中御史在楚州，嘗訪一故人，久之不出，或問之云：子婦衄血垂盡，方救視，未延客，坐中一客云：適有藥。急令掇茅花一大把，煎濃汁一碗，帶囊中，取一小紅丸二粒，令茅花湯吞下，一服即瘥，問其方不言，後有人曰：此止是茅花之功耳。試復問之，其人大笑曰：誠如此。紅丸乃含香硃砂丸，恐不信茅花之功，以此為記耳。予在鄜延，一將官率病衄，甚困，以此療之即瘥也。又徐德佔教衄者，急灸項後髮際兩筋間，宛穴中三壯，立定。蓋血自此入腦注鼻中，常人以線勒頭後，尚可止衄，此灸決效無疑。</p>

<h2>治鼻衄，刺薊散</h2>
<p>大薊根（一兩）　相思子（半兩）</p>
<p>上每服一錢，水一盞，煎七分，去滓放冷服。王朝散女子，大衄一日，已惛不識人，舉家發哭，用藥皆無效，人有傳此方，一服乃止。</p>

<h2>治熱吐，槐花散</h2>
<p>皂角（去皮燒煙絕）　白礬（熬沸定）　槐花（炒黃黑色）　甘草（炙以上各等分）</p>
<p>上為末，每服二錢，白湯調下。嘉興李使君，曾病嘔，每食訖輒吐，如此兩月，服反胃藥愈甚。或謂有痰飲，投半夏旋服之，亦皆不驗。幕下樂判官授此方，服之即時瘥，又有一老青衣，病嘔，與服之，又瘥。大凡吐多是膈熱，熱且生痰，此藥能化胃膈熱涎，有殊效。</p>

<h2>治吐，紫粉丸</h2>
<p>針砂醋浸一宿，闢去醋，便帶醋炒，候炒至銚子紅色無煙乃止。候冷，細研，更用醋團火燒洞赤，取起候冷，再研極細，糊丸，如梧桐子大，每服四十丸，粥飲下。服訖，更啜一盞許粥，已不吐。如未定，再服。決定小兒小丸之，隨兒大小與此藥，極神異，吐有多端，良方中有數法，皆累驗者，可參用之。</p>

<h2>止吐，軟紅丸</h2>
<p>辰砂（五錢）　信砒（半錢強）　巴豆（七個取霜）　胭脂（一錢）</p>
<p>上熔蠟少許，入油一二滴，和藥為劑，以油單裹之，大人如綠豆，小兒如芥子，濃煎槐花甘草湯，放溫，下一丸，忌熱食。半時久，此藥療人吐，只一服，常與人一丸，偶兩人病，分與兩人服，兩人皆止。</p>

<h2>酒磨丸</h2>
<p>治吐逆，粥藥不下者。</p>
<p>五靈脂，狗膽汁和丸，如雞頭大，每服一丸，煎熱生薑酒磨化，再湯蒸令極熱。先煮溫粥半升，持在手，令病人乘藥熱頓飲，便以粥送下。</p>

<h2>治口瘡，綠雲膏</h2>
<p>黃柏（半兩）　螺子黛（二錢）</p>
<p>上同研如碧玉色，臨臥，置舌根下一字，咽津無妨，遲明瘥。凡口瘡不可失睡，一夜失睡，口瘡頓增。</p>

<h2>灸牙疼法</h2>
<p>隨左右所患，肩尖微近後骨縫中，小舉臂取之，當骨解陷中，灸五壯，予目睹灸數人皆愈，灸畢，項大痛，良久乃定，永不發。予親病齒，百方治之皆不驗，用此法灸遂瘥。</p>

<h2>服松脂法</h2>
<p>（烏髭）</p>
<p>脂以真定者為良，細布袋盛，清水百沸湯煮，浮水面者，以新竹罩籬掠取，投新水中；久煮不出者，皆棄不用。入生白茯苓末，不制，但削去皮，搗羅細末爾，拌勻，每日早取三錢匕，著口中，用少熟水攪嗽，仍以指如常法，熟揩齒畢，更以熟水咽之，仍以嗽吐如常法，能牢牙駐顏烏髭也。（《贈米元章》）</p>

<h1>卷第八</h1>

<h2>治水氣腫滿法</h2>
<p>（《張微之屢驗》）</p>
<p>生商陸（切作豆大）　赤小豆（等分）　鯽魚（三尾去腸存鱗）</p>
<p>上二物，實魚腹內，取線縛，水三升，緩煮，赤豆爛，取去魚，只取二物，空腹食之，以魚汁送下，不汗則利，即瘥。甚者，過二日再為之，不過三劑，微之家乳姥，病水飲，一劑愈。</p>

<h2>《博濟》治水氣，逐氣散</h2>
<p>白商陸根（去粗皮薄切陰乾或曬乾）</p>
<p>上為末，黃顙魚三尾，大蒜三瓣，綠豆一合，水一升，同煮以豆爛為度，先食豆，飲汁送下，又以汁下藥末二錢，水化為氣內消。省郎王申病水氣，四體悉滿，不能坐臥，夜倚壁而立，服一劑頓愈。</p>

<h2>治小腸氣，二姜散</h2>
<p>高良薑　乾薑（等分炮八分留二分）</p>
<p>上一大錢，用續隨子，去皮細研，紙裹出油。取白霜，入一字，將熱酒一盞，入豬膽汁十數滴，同調一服瘥。</p>

<h2>川楝散</h2>
<p>治小腸氣，下元閉塞不通。</p>
<p>川楝子（一兩和皮四片）　巴豆（一兩並殼捶令碎）</p>
<p>上同和勻，入銚內，炒令紫色，取出，去巴豆，只取川楝子，淨刷為末，每服一錢，先炒茴香，秤一錢令香，用酒一盞沖，更煎三五沸，去滓，調川楝子末，連進二服，得下泄即瘥，此方，同治遠年內外臁瘡方，於建安軍人吳美得之。</p>

<h2>治小腸氣倉卒散方</h2>
<p>山梔子（四十九枚燒半過）　附子（一枚炮）</p>
<p>上每服二錢，酒一小盞，煎至七分，入鹽一捻，溫服，脾腎氣攣急，極痛不可屈伸，腹中冷，重如石，痛不可忍，白汗如瀉。手足冰冷，久不瘥，臥欲死者，服此藥一劑，忽如失去，甚者兩服瘥，予自得效。亦屢以治人，皆驗。</p>

<h2>治小腸氣，斷弓弦散</h2>
<p>五靈脂　蒲黃（等分）</p>
<p>上二錢，先用釅醋一合，熬藥成膏，以水一小盞，煎至七分，熱呷，此又名失笑散，療婦人血氣尤驗。曾有婦人，病心腹痛欲死，十餘日百藥不驗，服此頓愈。</p>

<h2>治痢，芍藥散</h2>
<p>茱萸（炒半兩）　黃連（炒）　赤芍藥（各一兩）</p>
<p>上三味，水煎服。</p>

<h2>治痢，四神散</h2>
<p>乾薑　黃連　當歸　黃柏（皆炒等分）</p>
<p>上為末，烏梅一個，煎湯調下二大錢，水瀉等分，赤痢加黃蘗，白痢加姜，後重腸痛加黃連，腹中痛加當歸，並空心食前服。予家常作此藥，夏月最獲用。大凡泄痢宜食酸苦，忌甘鹹，蓋酸收苦堅，甘緩咸濡不可不知也。</p>

<h2>陳應之療痢血方</h2>
<p>丞相曾魯公痢血百餘日，國醫無能療者，應之取鹽水梅，除核研一枚。合蠟茶加醋，湯沃服之，一啜而瘥。又丞相莊肅梁公，亦痢血，應之曰：此授水穀當用三物散，亦數服而愈。三物散用胡黃連，烏梅肉，灶下土，等分為末，臘茶清調下，食前，空腹。溫服。</p>

<h2>樗根散</h2>
<p>水瀉，裡急後重，數走圊。</p>
<p>樗根皮（一兩）　枳殼（半兩）　甘草（一分炙）</p>
<p>上粥飲下二錢，食前一服止。</p>

<h2>《藥歌》（並引）</h2>
<p>眉山蘇子瞻撰</p>
<p>嵇中散作《幽憤詩》，知不死矣。而卒章乃曰，采薇山阿，散發岩岫，永嘯長吟。頤神養壽者，悼此志之不遂也。司馬景王既殺中散，而悔，使悔於未殺之前，中散得免於死者。吾知其掃跡屏影於人間，如脫兔之投林也。采薇散發，豈所難哉？《孫真人著大風惡疾論》，神仙傳有數人，皆因惡疾而得仙道，何者？割棄塵累，懷穎陽之風，所以因禍而取福也。吾始得罪遷嶺表，不自意逾年無後命，知不死矣。然舊苦痔疾，至是大作。呻呼幾百日，地無醫藥，有亦不效。道士教吾去滋味，絕葷血，以清淨勝之。痔有蟲，館於吾後，滋味葷血，既以自養，亦以養蟲，自今日以往，旦暮食淡面四兩，猶復念食，則以胡麻茯苓抄足之。飲食之外，不啖一面物，主人枯槁，則客自棄去。尚恐習性易流，故取中散真人之言，對症為藥。使人誦之曰，東坡居士，汝忘逾年之憂，百日之苦乎！使汝不幸有中散之禍，伯牛之疾，雖願采薇散發，豈可得哉？今食麥麻茯苓多矣！居士則以歌答之云。百事治兮，味無味之味；五味備兮，茯苓麻麥；有時而匱兮，有即食無即已者。與我無既兮，嗚呼，館客終不以是為愧兮。</p>

<h2>治腸痔下血如注水不瘥者</h2>
<p>上件，唯用市河中水，每遇更衣罷，便冷沃之。久沃為佳，久患者皆瘥。予始得於信州侯使君曰，沃之兩次即瘥，予用之亦再沃而瘥，並與數人用皆然。神奇可驚，不類他藥，無河水，井水亦可。</p>

<h2>治小便不通</h2>
<p>琥珀研成粉，每服二錢，煎萱草根濃汁調下，空心服。予友人，曾小腸秘甚成淋，每旋，只一二滴，痛楚至甚，用惡藥逐之皆不通。王郇公與此藥，一服遂通。人有病痔腸腫，因不能尿，候如淋疾，他藥不能通，惟此法可治。</p>

<h2>治小便數方（並治渴）</h2>
<p>上取純糯米糍一手大，臨臥炙令軟熟，啖之，以溫酒送下，不飲酒入，溫湯下，多啖彌佳，行坐良久，待心間空，便睡，一夜十餘行者，當夜便止。予嘗以為戲術，與人賭物，用之如有神聖，或言假火氣溫水送，不然也。大都糯稻主縮水，凡人夜飲酒者，是夜輒不尿，此糯米之力也。</p>
<p>又記一事，予故人劉正夫，罷官閩州次建溪，常叩一大家求舍。閉門不納，既而使人謝云：屬其父有病甚，不能延客。劉問其狀，曰病渴殆死矣。劉許為其營藥，俄而其子弟群至，求治其父。劉即燒藥與之，明目來謝云，飲藥一杯，是夜啜水減七八分，此劉君目擊者。其方用糯稻稈，斬去穗及根，取其中心，淨器中燒作灰，每用一合許，湯一碗，沃浸良久，澄去滓。嘗其味如薄灰汁，乘渴頓飲之，此亦糯稻縮水之一驗也，故因附此。</p>

<h2>治夢中遺泄，茯苓散</h2>
<p>堅白茯苓為末，每服五錢，溫水調下，空心食前臨臥服，一日四五服。方書言夢泄，皆云腎虛，但補腎澀精，然亦未嘗有驗。予論之，此疾有三證：一者至虛，腎不能攝精，心不能攝念。或夢而泄，或不夢而泄。此候皆重，須大服補藥。然人病此者甚少，其餘皆只是心虛，或心熱。因心有所感，故夢而泄，此候瘥輕，人之患者多是此候，但服茯苓散自瘥，予累以拯人，皆良驗。又有少年氣盛，或鰥夫道人，強制情欲，因念而泄，此為無病。《醫及攝生家》言，夢寐甚於房勞，此殆不然。予嘗驗之，人之病，天行未復，而犯房勞者多死，至於夢寐，則未嘗致困，此決然可知，但夢寐自有輕重耳。</p>

<h2>療寸白蟲</h2>
<p>錫沙（作銀泥者即以黃丹代油和梧桐子大）　蕪荑　檳榔（二物等分為散）</p>
<p>上煎石榴根濃汁半升，下散三錢，丸五枚，中夜服，旦日下。予少時病白蟲，始則逾粳米，數歲之後，遂長寸余。古說蟲長盈尺，人即死，以藥攻之，下蟲數合，或如帶長丈餘，蟠蜒如豬臟，熠熠而動，其末寸斷，輒為一蟲。蟲去，病少，以後數月復如初，如是者數四。後得此方服之，蟲悉化為水，自此永斷。</p>

<h1>卷第九</h1>

<h2>治癰瘡瘍久不合</h2>
<p>僕嘗讀《本草》，露蜂房、蛇蛻反，亂髮，各燒灰，每味取一錢匕，酒調服，治瘡久不合神驗，僕屢試之。燒灰略存性，治癰疽，忍冬嫩苗一握，葉尖圓莖生，莖葉皆有毛，生田野籬落，處處有之，兩葉對生。春夏新葉梢尖，而色嫩綠柔薄，秋冬即堅厚，色深而圓，得霜則葉卷而色紫，經冬不凋。四月開花，極芬，香聞數步，初開色白，數日則變黃。每黃白相間，故一名金銀花。花開曳蕊數莖如絲，故一名老翁須，一名金釵股。冬間葉圓厚，似薜荔枝，一名大薜荔，可移根庭檻間，以備急。花氣可愛，似茉莉、瑞香、甘草。（生用半兩）</p>
<p>上忍冬爛研，同甘草，入酒一斤半，沙瓶中，塞口煮兩食頃，溫服。予在江西，有醫僧鑑清，善治發背疽，得其方，用老翁須，予頗神秘之。後十年過金陵，聞醫王琪亦善治瘍，其方用水楊藤，求得觀之，乃老翁須也。又數年，友人王子淵曰，言得神方，嘗活數人，方用大薜荔。又過歷陽，杜醫者治瘍，常以二萬錢活一人，用千金藤。過宣州寧國尉王子駁，傳一方，用金銀花。海州士人劉純臣，傳一方，用金釵股，此數君皆自神其術。求其草視之，蓋一物也。予以《本草》考之，乃忍冬也。古人但為補藥，未嘗治疽。其用甘草煮飲之法，制方皆同。若倉卒求不獲，只用干葉為散，每服三方寸匕，甘草方寸匕，酒煮服之亦可，然不及生者。</p>

<h2>小還丹</h2>
<p>治背疽癰癤，一切膿腫。</p>
<p>膩粉　水銀　硫黃（各一分同研）　大巴豆肉（十四個）</p>
<p>上將巴豆單覆排銚底，以三物按上巴豆令平，以甕器盞蓋之，四面濕紙，勿令氣泄，炭火四面緩緩燒，時於冷水中蘸銚底。少時又燒頻蘸為善，其盞上底內，滴水一點如大豆，干則再滴，以三滴乾為度。候冷，研陳米飲，丸作二十三丸，每服一丸，熟水吞下，疏下惡物，以白粥補之。予族父藏此方，未易與人，吳中人往往知此藥，莫能得真方。一丸活一人，曾無死者，才取下，即時不痛，其瘡亦干。</p>

<h2>治發疽，柞葉湯</h2>
<p>柞木葉（干四兩）　乾荷葉（四兩）　萱草根（干二兩）　甘草節（一兩）　地榆（一兩）</p>
<p>上細銼，每服半兩，水二碗，煎去半分，二服，早晚各服二服，滓並煎作一服，有膿血者自安，膿血在內者，自大腸下，未成者自消，忌一切毒物，有瘡者貼後藥。</p>
<p>通明牛皮膠（一兩水半升熬令化）　黃丹（一兩入膠中煮三五沸）</p>
<p>上放溫冷，以雞羽敷瘡口，有瘡即斂，未成瘡者，塗腫處即內消。元豐中，丞相荊公疽發背，醫攻之，皆不效，漸覺昏懵，都不省人事，勢已危甚。上元知縣朝奉郎梁彥意有此藥，自言其效如神，秘其方。但得藥，荊公服之，痢下惡物一升許，遂瘥。乃以方獻丞相，予從丞相得之。此藥，常人服之，並不疏轉，但逐膿血耳。</p>

<h2>治腫毒癰疽</h2>
<p>療腫毒癰疽，未潰令消，已潰令速愈。草烏頭屑，水調，雞羽埽腫上，有瘡者先以膏藥貼定，無令藥著瘡，人有病瘡甚者，塗之。坐中便見皮皺，稍稍而消。初塗病人覺冷如水，瘡乃不痛。</p>

<h2>登州孫醫白膏，尤善消腫</h2>
<p>柳白皮（半兩揩洗陰乾）　白臘（四錢）　黃丹（二錢）　胡粉（二兩）　油（生四兩熟三兩八錢）　商陸根（三分）</p>
<p>上先熟油，入皮根，候變色，去滓，入藥攪良久，下此藥，尤善消腫，及墜擊所傷。登州孫醫，每以三百錢售一靨。</p>

<h2>雲母膏（出《博濟方》）</h2>
<p>雲母（光明者薄揭先煮）　硝石（研）　甘草（各四兩）　槐枝　柏葉（近道者不堪）　柳枝　桑白皮（各二兩）　陳橘皮（一兩）　桔梗　防風　桂心　蒼朮　菖蒲　黃芩　高良薑　柴胡　厚朴　人參　芍藥　胡椒子　龍膽草　白芷　白芨　白蘞　黃耆　芎藭　茯苓　夜合花　附子（炮各半兩以上㕮咀次煎）　鹽花　松脂　當歸　木香　麒麟竭　沒藥　麝香　乳香（以上各半兩為末）　黃丹（十四兩羅）　水銀（二兩）　大麻油（六斤）</p>
<p>上先煉油令香，下雲母良久，投附子以上，候藥焦黃，住火令冷，以綿濾去滓。始下末，皆須緩火，常以柳木篦攪勿停手，濾畢再入鐺中，進火。下鹽花至黃丹，急攪，須臾色變。稍益火煎之，膏色凝黑，少取滴水上，凝結不黏手，即下火。先炙一瓷器令熱，傾藥在內，候如人體溫，以絹袋子盛水銀，手彈在膏上如針頭大，以蠟紙封合，勿令風乾，可三二十年不損。發背先以敗蒲二斤，水三升，煮三五沸，如人體溫，將洗瘡帛拭乾，貼藥。又以藥一兩，分三服，用溫酒下，未成膿者即瘥，更不作瘡，瘰癧骨疽毒穿至骨者，用藥一兩，分三服，溫酒下，甚者即下惡物，兼外貼。腸癰以藥半兩，分五服，甘草湯下。未成膿者當時消，已有膿者隨藥下膿，膿出後，每日酒下五丸梧桐子大，膿止即住服。風眼貼兩太陽，腎癰並傷折，痛不可忍者，酒下半兩，老少更以意加減，五日一服取盡，外貼包裹，當時止痛，箭頭在肉者外貼，每日食少爛綠豆，箭頭自出。虎豹所傷，先以甘草湯洗，後貼，每日一換，不過三貼。蛇狗傷，生油下十丸梧桐子大，仍外貼，難產三日不生者，溫酒下一分便下，血暈欲死，以薑汁和小便半升，溫酒下十丸梧桐子大，死者復生，胎死在腹，以榆白湯下半兩便生，小腸氣，茴香湯下一分，每日一服。血氣，當歸酒下一分，每日一服。中毒，溫酒洗汗襪汁，每日一服，吐瀉出惡物為度。一切癰疽瘡癤蟲虺所傷，並外貼，忌羊肉。</p>

<h2>小朱散</h2>
<p>治癮疹久不瘥，每發，先心腹痛，痰噦麻痹，筋脈不仁。</p>
<p>成塊赤土（有砂石者不可用）　當歸（各等分）</p>
<p>上冷酒調下二錢，日三服，兼用塗藥。</p>
<p>護火草（大葉者又名景天）　生薑（和皮不洗等分研）　鹽（量多少）</p>
<p>上塗摩癢處，如遍身癮疹，塗發甚處，余處自消。</p>

<h2>治發瘡疹不透，畜伏危困者</h2>
<p>以人牙齒三五枚，炙令黃，為末，乳香湯調下，目見人屢用之，皆一服瘥，予目兩見人用有驗，皆得方如上法。又一方，燒過溫酒下亦可，服訖片時，瘡便透。</p>

<h2>治瘰癧，柴胡湯</h2>
<p>柴胡　荊芥穗　秦艽　知母　當歸　官桂　藿香　甘松　敗龜（醋炙）　川烏頭（炮）　地骨皮　白膠香　芍藥（以上各半兩）　京芎（一兩）　苧根（濕秤二兩切碎）</p>
<p>上件藥，並淨洗曬乾，搗為粗末，每服二錢，水一盞，入姜三片，大棗一個，同煎七分，去滓服，早午食後夜睡各一服，三服滓並煎作一服吃，忌一切魚面等毒，仍忌房事，不善忌口及諸事者，服此藥無驗。</p>

<h2>又用貼瘡藥</h2>
<p>石行根不以多少，為細末，蜜調如膏，用貼瘡口，三兩日一看後易之。此二方，得於華亭陶中夫宰君。中夫先得柴胡一方，用之如神。偶於裡巷醫處，得貼藥二方，皆相須。冥若神契，中夫在華亭。半年之間，治二十餘人皆愈，此予寓秀州目見者。</p>

<h2>治瘰癧</h2>
<p>上鯽魚長三寸者，去腸，以和皮巴豆填滿腹，麻皮纏以一束稈草，燒煙盡，研，粳米粥丸綠豆大，粟飲下一丸，未利，加一丸，以利為度。每日以此為準，常令小利，盡劑乃安，甚者破者效尤速，忌豬肉動風物。</p>

<h2>療風毒瘰癧</h2>
<p>皂角（三十枚塗酥炙去皮方煮去滓）　何首烏（四兩蒸）　干薄荷（四兩）　精羊肉（半斤）　元參（四兩）</p>
<p>上以皂角水煮肉令爛，細研，和藥為丸，梧桐子大，每服二十丸，空心溫酒下，薄荷湯亦得，伯父吏部病瘰癧，百療不瘥。得此乃愈，梁氏老嫗。頷下有瘡，如垂囊，服此藥，囊日消。至於都平，閩僧嘉履病瘰癧，服之半月皆愈，此皆予目擊。</p>

<h2>治惡瘡，地骨皮散</h2>
<p>地骨皮一物，先刮取浮皮，別收之。次取浮皮下膩白粉，為細散，其白粉下堅赤皮，細銼，與浮皮處為粗未，粗末細散各貯之。每用粗皮一合許，煎濃汁，乘熱洗瘡，直候藥湯冷，以軟帛裛干，乃用細散敷之。每日洗貼一次，以瘥為期。梓州路轉運判官張君，曾當胸下銳骨端，隱隱微痛，後月餘漸有小瘰子，如豆粒，久之愈大如粟，遂潰膿成瘡，至痛楚不可臥。每夜倚物而坐至曉，如此三年不瘥。國醫仇鼎沈遇明輩，治之都不驗，後赴梓州，行次華陰，道中有舊相識。華山道士武元亨來迎，就客亭中見之。元亨首問胸瘡如何，張答以未瘥。元亨曰：嘗得一藥，效驗無比，久欲寄去，不值便人。聞當道華陰，特來此奉候已數日，今日方欲還山，而公適至，殆此疾當瘥矣。遂手授此方。張如法用之。始用藥洗，極覺暢適異常，淋至夜深，方用散敷。瘡遂不痛，是夜得睡至曉。自此每夜一次洗貼，瘡不復痛矣，然尚未斂。間或一夜不洗貼，便復發痛，自此用之更不闕，凡四個月。瘡雖尚在，而起居飲食如常。一日瘡忽痛，通夕不寐，淋之亦痛不止。使人視之，瘡中生一肉顆如榴子，痛已漸定。數日間，瘡口肉已合，自此遂瘥。太學博士馬君希孟之弟，亦常患瘡於胸腹間，久不瘥，瘡透腹見膜，醫皆閣手，得此散用之即瘥。楊州士人李君在太學中，手掌心生一瘡，日久掌穿透，唯有筋骨，請假歸廣陵，值張梓州得此藥遂瘥。用之惟須久，暫用之未瘥。慎不可住，但勤施之。日久無不瘥者，要在勤至不怠，乃見奇驗。小疔瘡腫疼痛，只以枸杞根生銼，煎濃汁熱淋，亦效。</p>

<h2>治癩方</h2>
<p>苦胡麻（半升別搗）　天麻（二兩）　乳香（三分）</p>
<p>上荊芥臘茶下三錢，忌鹽酒房事動風物，一百二十日，服半月後，兩腰眼灸十四壯，此丞相《長安公家方》。已手醫人無數，又嘗與方揚州天長東氏，賣此藥遂著於淮南。若頭面四體風瘡腫癢多汁者，六七八服即瘥，予親試之。</p>

<h2>治年久，裡外臁瘡不瘥者</h2>
<p>檳榔（半兩）　干豬糞（燒存性半兩）　龍骨（一分）　水銀粉（少許）</p>
<p>上三味，為細末，入水銀粉研勻，先以鹽湯洗瘡，熟絹裛干，以生油調藥如膏，貼瘡，三日一易，三五易定瘥。忌無鱗魚，鮓熱面。凡脛內外瘡，世謂之裡。外臁瘡最難愈，此方並前小腸氣方。本建安軍人吳美，犯偽印坐死，司理眾軍王炳之，憐其曉事，常加存恤，其人臨刑，泣唸曰：生平有二方，治疾如神，常賣以自給，可惜死而不傳，遂獻炳之。屢用有驗，予就炳之求，值其遠官，數年方得之。</p>

<h2>治下疰腳瘡，火府丹</h2>
<p>甘遂（肥實連珠者一兩薄切疏布囊盛）　芎藭（一分銼如豆大）</p>
<p>上以紙籠大者香爐，令至密不漏煙，頂留一竅，懸甘遂囊於竅間。其下燒芎藭一塊，令煙入，遂欲過。再更燃一塊，芎藭盡，取甘遂為末。三十歲以上氣盛者，滿三錢，虛者平二錢半。羯羊腎一對，批開，勻分藥末在內，淨麻皮纏定，炭火炙熟，勿令焦。臨臥爛嚼，溫酒下，隨人酒量，能飲一斗者，可飲五升也，以高物支起雙腳，一服即瘥。</p>

<h2>療久瘡</h2>
<p>上用豬筒骨中髓，以膩粉和為劑，復內骨中，泥裹火煨。香熟出，先以溫鹽水浴瘡，乃敷之。臨安《陳令傳極效》。</p>

<h2>治瘡疥甚者。</h2>
<p>川烏（一兩每個四破之）　大豆（一兩半）</p>
<p>上同入砂瓶內煮極爛，每服一片，豆少許，空腹酒下。予兄之子病瘡遍體，拘攣，立不可臥。臥不可起，服此即瘥。</p>

<h2>治陰瘡，癢痛出水，久不瘥</h2>
<p>（出《靈苑》）</p>
<p>臘茶　五倍子（等分）　膩粉（少許）</p>
<p>上先以漿水蔥椒煎湯洗，後敷之，未瘥，再為之。</p>
<p>又方</p>
<p>銅錢（一百枚）　烏梅（七個）　鹽（二錢）</p>
<p>上水一碗半，煎一碗，熱洗，二方相須用之，無不即驗。</p>

<h2>治癬方</h2>
<p>久患用之即瘥。</p>
<p>決明子（不以多少）</p>
<p>上為末，加少水銀粉，同為散。先以物擦破癬上，以散敷之。</p>

<h2>系瘤法</h2>
<p>上取稻上花蜘蛛十餘個，置桃李枝上，候垂絲下，取東邊者捻為線，系定瘤子，七日候換，瘤子自落，沈興宗待制家老姥，病瘤如掌拳，用此法系之，至三換，瘤子遂干，一夜忽失所在，天明前枕邊得之，如一干慄。</p>

<h2>治甲疽</h2>
<p>弩肉裹甲，膿血疼痛不瘥，（出《靈苑》）</p>
<p>膽礬（燒）</p>
<p>上先剔去肉中甲，敷藥瘡上，縱有弩肉，一敷即乾落。</p>

<h2>續骨丸（出《靈苑》）</h2>
<p>臘月豬脂（五兩）　蠟（半斤以上洗煎）　鉛丹（羅）　自然銅　密陀僧（各四兩研細）　白礬（十二兩）　麒麟竭　沒藥　乳香　硃砂（各一兩細研）</p>
<p>上新鼎中先熔脂，次下蠟，出鼎於冷處，下密陀僧鉛丹自然銅，暖火再煎，滴入水中不散。出鼎於冷處，下諸藥，用柳篦攪勻，瀉入瓷瓶內。不停住手攪至凝，圓如彈丸，且用筍皮之類襯之，極冷，收貯。凡傷折用一丸，入少油火上化開，塗傷痛處，以油單獲之。其甚者，以燈心裹木夾之，更取一丸，分作小圓，熱蔥酒下，痛即止。如藥力盡，再覺痛，更一服，痛止即已。骨折者兩上便安，牙疼甚者貼之即止，此方小說所載。有人遇異人得之，予家每合以拯人，無不應驗。</p>

<h2>治傷折內外損，神授散</h2>
<p>川當歸（半兩洗淨別杵）　鉛粉（半兩洛粉最上）　硼砂（二錢）</p>
<p>上同研勻細，每服二錢，濃煎蘇枋汁調下。若損在腰以上，即先吃淡面半碗，然後服藥。若在腰以下，即先服藥，後方吃麵。仍不住呷蘇枋汁，更以糯米為粥，入藥末三錢拌和，攤在紙上或絹上，封裹損處。如骨碎，則更須用竹木夾定，外以紙或衣物包之。有長安石使君，一日謁尹，至闤闠中，忽有人呼其姓名，石顧之稠人中不及識。明日過市，復聞其呼，顧其人近在馬後，問何以見呼。其人曰：「我無求於人，以爾有難，特來救耳，昨日何以不應。」石辭謝之，欲下馬與語，其人止之曰：「市中非下馬之所，」褫衣領中出一書，授之曰：「有難即用之。」稠人中遂引去，石歸視之，乃此方也。石到京師，趨朝，立馬右掖門外，為他馬所踢，折足墮地，又為馬踏，手臂折，舁至家，屢氣絕，急合此藥服，且裹，半夜痛遂止，後手足皆完復。石有子為朝官知名，關中人往往聞此事，熙寧中，府界教保甲時。四方館使劉君提舉，每有墮馬或擊刺所傷，皆與藥，用之即瘥，好事者欲其方，賂主方者竊得，只有兩物，而無當歸，湯使悉同後，予見兩浙提點刑獄使者云，親得其方於石君，恐保甲主方者，隱其一味耳。</p>

<h2>治骨鯁，或竹木簽刺喉中不下（出《靈苑》）</h2>
<p>上臘月取鯇魚膽，懸北檐下令乾，有鯁即取一皂角子許，以酒一合，煎化溫啜。若得逆便吐，骨即隨出；若未吐，更飲，以吐為度。雖鯁在腹中，日久疼痛，黃瘦甚者，服之皆出。若卒求鯇魚不得，蠡魚鱖魚鯽魚皆可，然不及鯇魚膽。臘月收者最佳，有邏卒食雞，鯁在腹中，常楚痛，但食粥，每食即如錐刺，如是半年。支離幾死，杖而後能起，與此一服，大吐，覺有一物自口出，視之乃雞骨，首銳如刺，其尾為飲食所磨，瑩滑如珠。</p>

<h2>治諸鯁</h2>
<p>以木炭皮為細末，研令極細，如無炭皮，堅炭亦可，粥飲調下二錢，日四五服，以鯁下為度，此法人家皆有。予在漢東，乃目睹其神。有劉晦士人，鄰家一兒誤吞一錢，以此飲之，下一物如大烏梅，剖之，乃炭末裹一錢也。池州徐使君極寶此方。數數用之，未有不效者。近歲累有人言，得此方之效，不復悉載。</p>

<h1>卷第十</h1>

<h2>澤蘭散</h2>
<p>治婦人產乳百疾。</p>
<p>治婦人產乳百疾，安胎調氣，產後血暈，衄血血積，虛勞無子，有子即墮，難產，子死腹中，胎衣不下，婦人血注，遍身生瘡，經候不調，赤白帶下，乳生惡核，咳嗽寒熱，氣攻四肢，處女任脈不調等，常服益血，美飲食，使人安健有子。</p>
<p>澤蘭散　澤蘭（嫩葉九分）　石膏（八分研）　當歸　赤芍藥　川芎（微炒）　甘草（炙）　白蕪荑（各七分）　生乾地黃（六分）　肉桂（五分）　厚朴（姜炙）　桔梗　吳茱萸（炒）　卷柏並根　防風　白茯苓　柏子仁　細辛（各四分）　人參　白朮（米泔浸一宿切麩炒黃色）　白芷（炒）　藁本　椒紅　乾薑（炒）　烏頭（炮）　黃耆　五味子（各三分）　白薇　丹參　阿膠（炒乾各二分）上為細末，空心，熱酒調下二錢。予家婦人女子，羸弱多疾者，服此藥悉瘥，往往有子。</p>

<h2>朱賁琥珀散</h2>
<p>治婦人血風勞。</p>
<p>琥珀　沒藥　木香　當歸　芍藥　白芷　羌活　乾地黃　延胡索　川芎（各半兩）　土苽根　牡丹皮　白朮　桂（各一兩）</p>
<p>上件為末，每服二錢，水一盞，煎至七分，益酒三分，復煎少時，並滓熱服，重疾，數服則知效。</p>

<h2>麥煎散</h2>
<p>治少男室女骨蒸，婦人血風攻疰，四肢心胸煩壅。</p>
<p>鱉甲（醋炙）　大黃（濕紙裹煨熟）　常山　柴胡　赤茯苓　當歸（酒浸一宿）　干生漆　白朮　石膏　乾生地黃（各一兩）　甘草（炙半兩）</p>
<p>上為末，每服二錢，小麥五十粒，水一盞，煎至六分，食後臥時溫服。有虛汗，加麻黃根一兩，此《黃州吳判官方》。療骨熱，黃瘦口臭；肌熱溢汗極效，麥煎散甚多，此方吳君寶之如希世之珍。其效可知。</p>

<h2>治婦人妊娠傷寒，白朮散</h2>
<p>白朮　黃芩（等分新瓦上同炒香）</p>
<p>上為散，每服三錢，水一中盞，生薑三片，大棗一個，擘破。同煎至七分，溫服。但覺頭痛發熱，便可二三服即瘥，唯四肢厥冷陰證者，未可服。此方本常州一土人賣此藥。醫皆論斤售去，行醫用之如神，無人得其方。予自得此，治疾無有不效者，仍安胎益母子。</p>

<h2>肉桂散</h2>
<p>（出《靈苑》）</p>
<p>治產後眾疾，血氣崩運，腫滿發狂，瀉痢寒熱等，唯吐而瀉者難瘥。黑豆（二兩炒熟去皮）　肉桂　當歸（酒浸）　芍藥　乾薑（炮）　乾地黃　甘草　蒲黃（紙包炒共為末各一兩）</p>
<p>上溫酒調下二錢，日三服，疾甚者三服，無疾二服，七日止。</p>

<h2>大黃散</h2>
<p>（出《靈苑》）</p>
<p>治產後血暈，及傷折內損，婦人血症血瘕。</p>
<p>羊脛炭（燒赤酒淬十過五兩）　大黃（小便浸七日，日一易，以濕紙裹煨切焙）　巴豆肉（漿水煮黃色焙各三兩半）　古銅錢（用半兩錢燒赤米，醋淬為粉，新水飛過去粗取細者二兩）</p>
<p>上和研一日，每服半錢，當歸一分，小便煎濃，稍溫調下，產後血暈百病，且當逐血者，至甚乃服。口噤者挖開灌下，候識人。更一服。累經生產，有血積症癖塊，及敗血風勞寒熱諸疾，當下如爛豬肝片，永無他疾。墜擊內損，當歸酒下一字。醫潘步墜下折脅，當折處陷入肌中，痛不可忍，服此藥如神。以手自內拓之，筋骨遂平。</p>
<p>治小兒諸方。</p>

<h2>黑神丸</h2>
<p>治小兒急驚慢驚風。</p>
<p>膩粉（一錢半）　黑土　白麵　蘆薈（炙一錢）　麝香　龍腦　牛黃　青黛　使君子（去殼麵裹煨熟各五分）</p>
<p>上面糊丸，梧桐子大，每服半丸，薄荷湯研下，要利，即服一丸。楚州《小兒醫王鑑》。賣此藥致厚產，鑑神之，未嘗傳人。予得之，乃常人家睡驚丸。小不同耳，治驚風極效，前後用之，垂死兒一服即瘥。</p>

<h2>治褓中小兒臍風，撮口法。</h2>
<p>上視小兒上下斷，及當口中心處，若有白色如紅豆大，此病發之候也，急以指爪正當中掏之。自外達內令斷，微血出亦不妨。又與白處兩盡頭，亦依此掏令內外斷，只掏令氣脈斷，不必破肉。指爪勿令大銛，恐傷兒甚。予為河北察訪使日，到趙郡，有老人來獻此法。云篤老惜此法將不傳，願以濟人，詢之趙人云，此翁平生手救千餘兒矣，此翁治兒應手皆效。</p>

<h2>青金丹</h2>
<p>治小兒諸風諸疳諸痢。（出《博濟方》）</p>
<p>青黛（三分研）雄黃（研）　胡黃連（各二分）　硃砂（研）　膩粉　熊膽（溫水化）　白附子　蘆薈（研各一分）　麝香（半分研）　蟾酥　水銀（各皂子大）　鉛霜　龍腦（各一字）</p>
<p>上同入乳缽內，再研令勻，用獖豬膽一枚，取汁，熬過，浸蒸餅少許為丸，黃米大，曝乾，一歲可服二丸，量兒大小增之。驚風諸癇，先以一丸溫水化，滴鼻中令嚏，戴目者當自下，瘛瘲亦定，更用薄荷湯下，諸疳粥飲下，變蒸寒熱薄荷湯化下。諸瀉痢米飲下，疳蛔咬心苦楝子煎湯下。鼻下赤爛，口齒疳蟲口瘡等，乳汁研塗，病疳眼，雀目，白羊子肝子一枚，竹批開，內藥肝中。以麻縷纏，米泔煮令熟，空腹服，乳母當忌毒魚大蒜，雞鴨豬肉，此丸療小兒諸疳至良。予目見小兒病疳瘠盡，但粗有氣，服此或下蟲數合，無不即瘥。而肥壯無疾，幾能再生小兒也。</p>

<h2>桔梗散</h2>
<p>治小兒風熱，及傷寒時氣，瘡疹發熱等。</p>
<p>桔梗　細辛　人參　白朮　栝蔞根　甘草　白茯苓　川芎（各等分）</p>
<p>上為末，服二錢，水一盞，姜一片，薄荷二葉同煎。二歲以下兒，作四五服，五歲以上分二服。予家嘗作此藥，凡小兒發熱，不問傷寒風熱，先與此散數服，往往輒愈，兼服小黑膏尤善。</p>

<h2>小黑膏藥</h2>
<p>治小兒傷寒風癇。</p>
<p>天南星（一枚大者燒通赤，入小瓶內濕紙密口，令火滅，取刮之中心，存白處如皂角子大為度，須燒數枚，擇其中度可用者）　烏頭（一枚）　薄荷（一握）　元參（五錢各為末）</p>
<p>上為末，蜜和蔥白湯下豆許，頻服，筋緩急加乳香同蔥白煎湯下。潤州傅醫，專賣此藥，《累千金》。予家小兒傷風發熱，與二三丸令小睡，及寤，則已涼矣。</p>

<h2>治痘瘡無瘢。</h2>
<p>豆瘡欲無瘢，頻揭去痂，勿令隱肌，乃不成瘢。縱揭傷有微血，但以面膏塗，無苦也，瘡家不可食雞鴨卵，即時盲，瞳子如卵色，其應如神，不可不戒也。</p>

<h2>治瘡疹，欲發及已發而陷伏者</h2>
<p>皆宜速治。不速，毒入臟，必致困，宜服此。</p>
<p>豬血（臘月取瓶盛，掛風處令乾）</p>
<p>上取半棗大，加龍腦大豆許，溫酒調下，潘醫加綠豆、英粉、半棗塊同研，病微有即消，甚則瘡發愈。予家小女子病傷寒，但腹痛甚，晝夜號呼，手足厥冷，漸加昏困，形症極惡，時例發瘡子。予疑甚，為醫以藥伏之，先不畜此藥，急就屠家買少生血，時盛暑血至已敗惡，無可奈何，多以龍腦香和灌之，一服遂得少睡。須臾一身皆瘡點乃安，不爾，幾至不救。</p>

<h2>辰砂丸</h2>
<p>治小兒驚熱　</p>
<p>多涎痰、瘧、久痢、吐乳、午後發熱，驚癇等疾。</p>
<p>辰砂　粉霜　膩粉（各一分）　生龍腦（一錢）</p>
<p>上軟糯米飯為丸，綠豆大，一歲一丸，甘草湯下，大人七丸。</p>

<h2>治小兒豌豆瘡入目痛楚，恐傷目。</h2>
<p>浮萍（陰乾）</p>
<p>上每服一二錢，隨兒大小，以羊子肝半個，入盞子內，以杖子刺碎爛，投水半合，絞取肝汁，調下，食後服，不甚者一服瘥，已傷目者十服瘥。邢杜醫用此藥，前後效者甚多。</p>

<h2>麝香散</h2>
<p>治小兒走馬疳，牙齦腐爛，惡血口臭，牙齒脫落。</p>
<p>黃連（末三錢）　銅綠　麝香（各一錢）　水銀（一錢煮棗肉一枚同研）</p>
<p>右漱口淨，以藥敷瘡上，蘭香葉覆之。內蝕為坎者，一敷，即生肉。</p>
<p>治小兒走馬疳，唇齒瘡爛，逡巡狼狽，用此即瘥。</p>
<p>砒霜　粉霜（二味先研極細）　石灰（羅過研）</p>
<p>上等分相合，左右轉研，多千下，當極細如面，每以雞翎摭少許掃瘡上。其瘡即干，慎勿多用，恐入腹中有大毒，慎之。海州東海縣民家賣此藥，每一病，只一掃，如米許大，無不瘥者。</p>

<h2>牛黃煎</h2>
<p>治小兒諸疳，諸痢，食傷氣脹，體羸頭大，頭髮作穗，壯熱不食多困，齒爛鼻瘡，丁奚潮熱等疾。</p>
<p>大蚵蚾（一枚去皮骨腹胃，炙為末，以無灰酒一盞獖豬膽一枚同熬成膏）　訶子（炮）　使君子　胡黃連　蟬殼（不洗）　墨石子　蘆薈　蕪荑　熊膽　硃砂　夜明砂　雄黃（各一分研）　木香　肉豆蔻（春夏各半分秋冬各一分）　牛黃（二錢）　麝香（一錢）　龍腦（五分）</p>
<p>上為丸，如麻子大，飲下五七丸，驚疳，金銀薄荷湯下；肝疳腹脹，桃仁茴香湯下；疳蟲，東引石榴苦楝根湯下。五歲以上十丸，此藥尤治疳痢，協熱而痢者不可服。</p>

<h2>田季散</h2>
<p>治久患翻胃，及小兒驚吐，《諸吐並醫》。</p>
<p>好硫黃（半兩細研）　水銀（一分與硫黃再研無星）</p>
<p>上同研如黑煤色，每服三錢，生薑四兩取汁，酒一盞同薑汁煎，熟調藥，空心服，衣被蓋覆，當自足指間汗出，迤邐遍身，汗出即瘥。常有人病反胃，食輒吐出，午後即發，經三年不瘥。國醫如孫兆輩，皆治療百端無驗，消羸殆盡，枯黑骨立。有守庫卒季吉者見之，曰此易治也，一服藥可瘥，始都不信之。一日試令合藥，與少錢市藥，僕次日持藥至，止一服，如法服之，汗出皆如膠，腥穢不可近，當日更不復吐，遂瘥。楚人田醫，善治小兒諸吐，亦用此藥，量兒長少，服一錢至一字，冷水調下，吐立定。此散極浮，難調，須先滴少水，以至緩緩研殺，稍稍增湯，使令調和。若頓入湯酒，盡浮泛不可服。又予舊官屬陳宣德之妻，病翻胃，亦彌年，得一烏頭散服之，一服瘥。又楚人孫生，有一茱萸丸，亦療翻胃，其人自有傳，今皆附於此。予校此三方，惟田季有陰陽，理自勝捷，烏頭茱萸二方，皆性熱，用者，更量其臟寒溫投之。</p>

<h2>烏頭散</h2>
<p>烏頭（三兩炮去皮）　川楝子（一兩半）　檳榔　木香（各一兩）</p>
<p>上為末，每服二錢，水一盞，煎至七分，鹽一捻，溫服。</p>

<h2>茱萸丸</h2>
<p>《孫生傳》曰：年深膈氣翻胃。飲食之物至晚皆吐出悉皆生存不化，鬲上常有痰涎，時時嘔血，胸中多酸水，吐清水，無時夜，吐輒至晚，日漸羸瘦，腹中痛楚，時復冷滑，或即閉結，候狀不可盡述。自患此疾六年，日可吐及五七度，百方無驗，因遇此法，服及兩月，諸疾悉瘥。嘗願流傳救人，其方如下。</p>
<p>茱萸（三分瓦上出油）　胡椒　人參　當歸（各五錢）　甘草（半兩，一半生，一半紙裹五七重醋浸，令透火內慢煨乾，又浸如此七遍）　半夏（一兩，用姜四兩，研汁入砂罐子內，用薑汁井水煮，候破看存二分白心取半夏研為膏子）　白礬（半兩炒乾存性一分）</p>
<p>上為末，半夏膏丸，如稍梗，添薑汁，丸如梧桐子大，每服七丸，桑柳條各入最上等銀器內，煎湯吞下，日三服，忌諸毒物。惟可食油豬胰脾軟飯，此孫生自敘如此。</p>

<h2>吳婆散</h2>
<p>治小兒疳瀉不止，日夜遍數不記，漸漸羸瘦，眾藥不效者。</p>
<p>黃柏（蜜炙）　黃連（微炒）　桃根白皮（各一分）　木香　厚朴（薑汁炙）　丁香　檳榔（各一錢）蕪荑（去皮一分）　沒石子（一錢半）　楝根白皮（半分）</p>
<p>上為末，每服一字，三歲以上半錢，五六歲一錢，用紫蘇木瓜米飲調下，乳食前，一日三服。予家小兒，曾有患瀉百餘日，瘦但有皮骨，百方不瘥。有監兵鍾離君見之，曰：何不服吳婆散，立可瘥也。予因問吳婆散何藥，曰古方也。人家多有之，乃問求方。合與兩三服便效。又一孫男亦疳瀉，勢甚危困，兩服遂定。若病深者，服一兩日間決瘥。此藥若是疳瀉，無不驗者。藥性小溫，暴熱瀉者，或不相當。</p>

<h2>寒水石散</h2>
<p>治小兒之病，多因驚則心氣不行，鬱而生涎逆為大疾，宜服常行小腸，去心熱，兒自少驚，亦不成疾。</p>
<p>寒水石　滑石（水研如泔，揚去粗者存細者，瀝乾更研，無聲乃止，各三兩）　甘草（粉一兩生）</p>
<p>上量兒大小，熱月冷水下，寒月溫水下，凡被驚，及心熱不可安臥，皆與一服，加龍腦更良。</p>

<h2>小朱砂丸（出《博濟方》）</h2>
<p>治小兒驚積，鎮心化涎</p>
<p>硃砂（一分）　巴豆（三十粒去皮膜出盡油）　半夏（湯洗七遍為末炒二錢）　杏仁（五枚炮去皮尖）</p>
<p>上面糊丸，如綠豆大，二歲一丸，荊芥薄荷湯下，三歲二丸，五歲三丸。如驚伏在內，即行盡，仍舊藥出；如無驚，藥更不下。</p>

<h2>妙香丸</h2>
<p>治小兒虛中積，潮熱寒熱，心腹脹滿，痛疼者。</p>
<p>辰砂（一兩）　牛黃　生龍腦　麝香（各一分）　金箔（十四片）　粉霜（一錢）　膩粉（一錢）　蠟（二兩）　巴豆（一百二十個肥大者）</p>
<p>上丸如彈子圓，量虛實加減，龍腦漿水下，夜半後服，臟虛即以龍腦米飲下，每服三丸，如小豆大，藥勢緩，即按令扁，疾堅者加至十丸，皆以針刺作數孔，以行藥力，小兒取積丸如綠豆，治小兒吐逆尤效，此藥最下胸中煩，及虛積。</p>

<h2>治小兒臍久不幹，赤腫出膿及清水</h2>
<p>出《聖惠方》。</p>
<p>當歸（焙乾為末研細）</p>
<p>上著臍中，頻用自瘥，予家小兒常病臍濕，五十餘日，貼他藥皆不瘥，《聖惠方》有十餘方。</p>
<p>從上試之，至此方一敷而干，後因尿入瘡皮。復病，又一貼愈。</p>

<h2>治小兒熱嗽</h2>
<p>馬牙硝　白礬（各半斤）　黃丹（一分）</p>
<p>上同研入合子固濟，火燒令紅，覆潤地一夜，再研。加龍腦半錢，甘草湯下一字，或半錢。</p>

<h2>治小兒疳肥瘡多生頭上</h2>
<p>淫浸久不瘥，及耳瘡等悉主之。</p>
<p>石錄　白芷（等分）</p>
<p>上以生甘草洗瘡，敷藥一日愈。</p>
<p>雜記傳小說中有數方，既著於書，必有良驗。今錄於此，《北夢瑣言》，記火燒瘡方法。孫光顯家人作煎餅，一婢抱孩子擁爐，不覺落火爐之上，遂以醋泥敷之。至曉不痛亦無瘢痕，是知俗說亦不厭多聞。</p>
<p>《朝野僉載》。記毒蛇傷。用艾炷當齧處灸，引去毒氣即瘥。其餘惡蟲所螫，馬汗入瘡，用之亦效。</p>
<p>又記，筋斷須續者，取旋覆根絞取汁，以筋相對，取汁塗而封之，即相續如故。蜀兒如逃走，多刻筋，以此續之，百不失一。</p>
<p>《廣五行記》。治噎疾，永徽中。絳州有僧病噎數年，臨死遺命，令破喉視之，得一物似魚，而有兩頭，遍體悉是魚鱗，致缽中，跳躍不止。以諸味置缽中，悉化為水。時寺中方刈藍作靛，試取少靛置缽中。此蟲繞缽畏避，須臾蟲化為水，世人以靛治噎疾。</p>
<p>《國史補》。言有白岑者，療發背，其驗十全。後為淮南十將，節度使高適，脅取其方，然不甚效。岑至九江，為虎所食，驛吏於囊中得其真方，太原王升之，寫以傳布。後魯國孔南得岑方，為王傳，《號靈方》，至今具於後。呂君子西華，洛陽人，孤貧無家，著作郎韋顒與其先有舊，以其子妻之，應秀才，五舉不第，與同志張元伯入王屋山，時莫知之者。俄而華疽發背，膿血被身，筋骨俱見，告元伯曰：「吾將死矣！扶至於水傍，俟天命而已。」元伯無可奈何，因從其言，露臥數宿。忽有一胡僧，振錫而至，視其瘡曰：「膜尚完，可治也。」乃出閤中藥，塗於軟帛上，貼四五日生肌，八九日肉乃平，飲膳如故。僧云：「吾將它適，慮再發，此疾無藥療。」因示其方，令秘之，西華頓首曰：「微吾師，遺骸邱畝矣。雖力未能報，願少伸區區。何遽言別乎？」僧曰：「始以君病而來，今愈吾去矣，安用報為？」乃去，數步之間不復見。西華歸以事白韋，韋因請其方，西華不與，韋知其終不可得。乃白於考功裴輝卿員外，請以名第啖而取之，裴如其言。西華對曰：「愚修文以求名，不沽方以求進。」竟下第而返。後河南尹聞之，謂韋曰：「有一計取之」。韋曰何計。曰陷於法禁，免其罪而購之。逾月果罹其罪，獄成引決，親喻之，令出其所秘方，可以免雪。西華守死無求免之色，尹無奈何，乃釋之。西華知失考功之旨，又見薄於外舅，雖精苦日甚，而文趣轉疏，如是經五稔，見黜於春官，乃罷去薄遊。梁宋間，姨弟李潛，尉商邱，淹延半歲，以酒肉過量，疽復發，既薦，復以前方療之，懼人知之，憂疑阻喪，久不能決。潛知其意，乃喻之曰：「聞有《神授名方》，今病亟矣！奈何懼潛見方之故，忽死而不治，豈保生承繼之意也。西華不得已，口授之，潛欲審其事，皆三反覆之，及藥成，潛親敷之。尋疾平，乃遊荊蠻，不知所之。潛於是手疏五十本，遍遺親戚。以矯西華之僻。前潤州金壇縣尉得其方。每貯其藥物，嘗遊西蜀，活將死者五六人。每欲傳其事貽於後，以家故行役，未諧此意。貞元十年冬十月，偶於秋浦，與霍願同詣周南宅，夜話既久，言及方書，遂授之於周南，令志之。方曰此發背者，自內而出外者也，熱毒中膈，氣血凝澀，蒸背上虛處，先三五日隱脈妨悶，積漸成腫，始出皮膚，結聚成膿也，其方如後。</p>
<p>白麥飯石（顏色黃白，類麥飯者尤佳，炭火燒出，醋中浸十遍止）　白蘞末（與石等分）　鹿角（二三寸截之，不用自脫者，元帶腦骨者，即非自脫，炭火燒煙盡為度，杵為末，依前二味）</p>
<p>上並搗細末，取多年米醋，於銚中煎，令魚眼沸，即下前件藥末，調如稀餳，以篦子塗，敷腫上，只當瘡頭留一指面地，勿令合，以出熱氣，如未膿，當內消。若已作頭，當撮小。若日久瘡甚，肌肉損爛，筋骨出露，即布上塗藥貼之瘡上，干，即再換。但以鬲中不穴，無不瘥。瘡切忌手觸，宜慎之。《劉夢得傳信方》亦出，不如此之備。</p>
<p>《北齊書》。楊遵彥患發背腫，馬嗣明以煉石塗之，便瘥。其方取粗黃石如鵝卵大，猛火令赤，內釅醋中。因有屑落醋中，頻燒石盡，取屑，暴搗，和醋塗於腫上，與《白岑方》相類也。</p>
<p>《獨異志》。唐貞觀中，張寶藏為金吾衛士，嘗因下直，歸櫟陽，路逢少年畋獵，割鮮野食，倚樹嘆曰：「張寶藏身年七十，未嘗得一食酒肉如此者，可悲哉！」旁有僧指曰：「六十日內，官登三品，何足難也。」言訖不見，寶藏異之。即時還京師，時太宗苦於氣痢，眾醫不效，即下詔問殿廷左右，有能治此疾者，當重賞之。寶藏曾困其疾，即具疏乳煎蓽茇方，上服之立瘥。宣下宰臣，與五品官。魏徵難之，逾月不進擬。上疾復發，問左右曰：「吾前服乳煎蓽撥有功，覆命進一啜，又平？」因思曰：「嘗令與進方，人五品官，不見除授，何也？」徵懼曰：「奉詔之後，未知文武二吏」。上怒曰：「治得宰相，不妨已授三品官，我天子也，豈不及汝耶」。乃厲聲曰：「與三品文官，授鴻臚寺卿」。時正六十日矣，其方每服，用牛乳半斤，蓽茇三錢匕，同煎減半，空心頓服。</p>
<p>《馬提刑》。記醫先祖忠肅公，天聖中，以工部尚書知濠州，家有媼病漏，蓋十餘年。一日老兵掃庭下，且言前數日過市，有醫自遠來，道瘡漏可治，特頃刻之力耳。媼曰：「吾更醫多矣，不信也」。其黨有以白忠肅公者，即為召醫視之，曰可治無疑。須活鱔一，竹針五七枚。醫乃擲鱔於地，鱔因屈盤，就盤以竹針貫之，覆瘡良久，取視，有白蟲數十如針著鱔。醫即令置杯中，蠕動如線。復覆之，又得十餘枚，如是五六。醫者曰：「蟲固未盡，然其餘皆小蟲」。竟請以常用藥敷之，時家所有，檳榔黃連為散敷之，醫未始用藥，明日可以干艾作湯。投白礬末二三錢，洗瘡然後敷藥，蓋老人血氣冷，必假艾力以佐陽，而艾性亦能殺蟲也。如是者再，即生肌，不一月當愈，既而如其言。醫曰：「瘡一月不治則有蟲，蟲能蠕動，氣血亦隨之，故瘡漏不可遽合則結痛，實蟲所為。」又曰，「人每有疾，經月不痊，則必憊，虛勞婦人則補脾血，小兒則防驚疳，二病則並治瘴癘，醫無名於世，而治疾有效，亦良醫也」。又其言有理，故並錄之。</p>

<h2>子瞻雜記</h2>
<p>男子之生也覆，女子之生也仰，其死於水也亦然，男內陽而外陰，女子反之，故《易》曰：坤至柔而動也剛。《書》曰：沈潛剛克，古之達者蓋知此也，秦醫和曰：天有六氣，淫為六疾，陽淫熱疾，陰淫寒疾，風淫末疾，雨淫腹疾，晦淫惑疾，明淫心疾。夫女陽物而晦時，故淫則為內熱蠱惑之疾。女為蠱惑，世知之者眾，其為陽物而內熱，雖良醫未之言也。五勞七傷皆熱，肝而蒸晦者，不為蠱則中風，皆熱之所生也。醫和之語，吾嘗表而出之，讀《左氏春秋》書此。</p>
<p>枲耳，並根苗葉實皆濯出沙土，懸陰乾，淨掃地上燒為灰，湯淋取濃汁，泥連二灶煉之，灰汁耗，即旋取旁釜中已滾灰汁益之。經一日夜不絕火，乃漸得霜，干瓷瓶盛之，每服，早晚臨睡，酒調一錢匕，補暖去風駐顏，不可備言，尤治皮膚風。令人膚草滑淨，每洗面及浴，取少許如澡豆用，尤佳，無所忌。昌圖之父從諫，宜州文學，家居於邕，服此十餘年，今七八十，紅潤輕健，蓋專得此藥力也。</p>
<p>杜甫詩有除《𦼓草》一篇；今蜀中謂之毛琰。毛芒可畏，觸之如蜂蠆。然治風疼，擇最先者，以此草點之，一身皆失去，葉背紫者入藥。</p>
<p>僕有一相識，能治馬背驄。有富家翁買馬，值百餘千，以有此病故，以四十千得之。已而置酒飲人，求為治之，酒未三行，而驄以正，舉座大笑。其方用烹豬湯一味，暖令熱浴之，其馬隨手即正。不復回，良久乃以少冷水洗之，此物能令馬尾軟細。及治焦禿，頻以洗之，不月餘，效極神，良秘之秘之。</p>
<p>馬肺損，鼻中出膿，醫所不療。云肺藥率用涼冷，須食上飲之，而肺痛，畏草所制，不敢食草。若不食而飲涼藥，是速其死也，故不醫。有老卒教予以蘆菔根煮糯米作粥，入少許阿膠啖之，馬乃敢食。食已，用常肺藥，入訶黎勒皮飲之。涼藥為訶子所澀於肺上，必愈，用其言信然。</p>
