<header data-type="book">
<h1>松心醫案筆記</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>繆遵義</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1797">公元1797年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫之為道，不外規矩神明，規矩出自古人，而神明則本諸心得。心得之學，醫案其端倪也。周、秦、漢、唐諸書，已如六經之典要，規矩盡知矣，自宋、元以來，名家治驗方案，尤為醫林所尚，藉以扶翼先典，啟發後學，其有裨於天下生命，實非淺鮮。近世如《古今醫案》、《名醫類案》、《葉氏指南》、《吳輯三家醫案》、《吳門治驗錄》，以及潛齋王氏所著，江陰柳氏所選，多神明於規矩之中，而出奇制勝者。嘉禾醫士董君受芝，潛心醫學，與餘論學相契，近以所藏《松心筆記》抄本見示，謂得之吳門書友，如獲龍宮秘方，按法施治，輒見奇效。余讀之終篇，見其議論透闢如喻嘉言，靈機活潑如葉天士，議病議藥，別出心裁，亦可謂神明於規矩之至矣。雖吉光片羽，寥寥僅存，而實醫林之寶筏，度世之金針也。案中有吾家仲醇云云，則著者為繆姓無疑焉。君夙喜蒐羅名醫方案，志在刊布，嘗謂方案留存，不啻昔賢之耳提面命，是不可以湮沒不傳。余深韙其言，慫恿付梓，君乃重為編訂，囑余為之弁言。所藏尚有別種方案，議將繼續印行，則此書之傳，其流播仁術之嚆矢乎。</p>
<p><u>癸丑冬日，慈溪張龢芬書於海上寓廬。</u></p>

<h1>卷上</h1>

<h2>半術丸等方治驗案</h2>
<p>半夏（製法：礬湯浸七日，逐日換水，用自然薑汁拌三次，愈陳愈妙）六兩　真茅朮（製法：米泔水浸一晝夜，刮去皮毛，切片曬乾，不見火生用）　用大棗煮膏和丸。</p>
<p>術麻加半夏丸</p>
<p>真茅朮（六兩，製法照前）　製半夏（四兩）　巨勝子（三兩，略炒）　用大棗煮膏和丸。</p>
<p>又許學士神術丸見《本草綱目》。</p>
<p>六君加耆朮丸</p>
<p>人參（五錢至一兩）　茅朮（八錢，生用）　半夏（一兩）　黃耆（兩半，炙）　茯苓（二兩）　甘草（七錢）　陳皮（八錢）　於朮（一兩六錢、土炒）　用龍眼肉六兩，棗肉八兩，煮膏糊丸。</p>
<p>吾母苦支飲，發時聲如拽鋸，喘息不得臥，飲食俱廢，遍求良醫調治，皆不效。余博覽方書，深思其故，恍然有得，明賢王節齋謂痰之本在腎，痰之標在脾肺，自是不易之論，而余則謂痰之本固在腎，而以脾肺相較，則脾又為標中之本。蓋痰即水也，積而為飲，中必有澼囊，不盈科不行，其故在於脾虛，亦由於胃弱不能制水所致。經曰：腎者胃之關，關門不利，故聚水而從其類，此至言也，法當補火消陰翳，則莫若八味丸，此調理之法也。至論病發必由於肺，治法最難，蓋肺主皮毛，衛氣既弱，風寒從皮毛而入。漸見咳嗽，咳嗽必有痰，咯出則氣順，否則氣逆。當其時，若用葶藶等湯，則以虛作實而傷上焦之氣；若用六君等湯，則反客為主，而錮當去之邪。所以諸醫或用小青龍湯，或用葶藶大棗湯而全不效者，比比皆是。則莫若於欲發未發之時，一見咳嗽即用半、術以消之。如效，則不必復進他藥，不效則進術麻加半丸、神術丸；無不應手立愈，較之專治肺者，似高出一等矣。故特記之，以為治飲者法。諸方皆用生茅朮，蓋術性燥，能助胃氣上行，下安太陰，專治水飲之澼囊，又能發汗，此即小青龍用桂枝之義。</p>
<p>仲景八味丸</p>
<p>術麻加耆丸　此即術麻加半丸用炙耆十兩，大棗八兩，煎膏糊丸。</p>
<p>此方之作，余專為病飲者而設也。今人參之貴十倍於昔，貧人慾服六君子難矣，余用此方代之，其中卻有至理。蒼朮發汗去濕，黃耆止汗固衛，補中有發，發中有補，互相為用，而所以升陽、益胃、救肺者在是矣。是亦可為治飲之一助，故並載之。</p>
<p>吾母病發時，多在春夏之交，其故，醫皆不曉，並不深究其所以然，豈非粗心。余謂春時木旺剋土，上及於肺者，母病則子亦病之意。盛夏溽暑，濕熱之氣上行，脾不能為胃行其津液，故不輸於肺者皆變為痰。</p>

<h2>磁朱七味都氣丸方治驗案</h2>
<p>熟地（八兩，酒拌蒸曬，加砂仁八錢）　懷山藥（四兩，炒）　山萸肉（四兩，炒）　丹皮（三兩）　澤瀉（三兩，鹽炒）　茯苓（三兩）　北五味（三兩，鹽水炒）　桂心（八錢，魚膠四兩，蛤粉炒成珠）　靈磁石（一兩，煅醋淬九次）　硃砂一兩，水飛為衣，煉蜜丸。</p>
<p>餘數年來忽得怔忡病，耳中時聞風雨聲，夜間更甚，後竟一無所聞，此勞心太過所致也。病在上者，當取之下，遂制此方服，未及半料而耳已聰，心亦寧矣，名之曰：磁朱七味都氣丸。</p>

<h2>菟絲煎方治驗案</h2>
<p>菟絲子（三錢，酒炒）　補骨脂（二錢，酒炒）　小茴香（六分，炒研）　桑螵蛸（錢半，炙黃）　覆盆子（錢半，酒炒）　生益智子（一錢，研）　當歸（錢半，酒炒）　四肢少力加杜仲二三錢。</p>
<p>一婦，夜間遺溺已十餘年矣，後復患脾泄，日三四行，左半身麻木，四肢無力，余謂此肝脾虧損之症，以菟絲煎加杜仲，三劑而瘳。</p>

<h2>六味加柴黃甘草飲方治驗案</h2>
<p>熟地（二錢）　山萸肉（八分，炒）　茯苓（一錢）　山藥（一錢，炒）　澤瀉（八分）　柴胡梢（四分）　生黃耆（錢半）　甘草梢（五分）</p>
<p>一女，年十二歲，日晡發熱，多盜汗，達旦則止，日漸黃瘦，飲食減少，四肢無力。醫以為童癆，辭不治。脈之寸關弦緊，余曰：此風寒客於肌膚，故蒸蒸發熱，既久津液漸虧，當從內傷治而散其表邪。若用地骨皮、花粉、知母等藥，是猶抱薪救火，何益於事？遂先以藿葉、生黃耆、懷山藥、生穀芽、砂仁、穀神曲與之，盜汗漸止，復以六味加柴耆甘草飲與之，二劑而瘳。</p>

<h2>六味合生脈黃耆飲方治驗案</h2>
<p>人參　麥冬　五味　茯苓　山藥　黃耆　熟地　山萸肉　澤瀉　丹皮</p>
<p>一室女，於午後虛火上炎，而面不赤，自汗如雨，手足厥逆，日四五發，脈之右寸浮而不斂，左脈澀；此陽虛陰虧之症，法當大補，與以六味合生脈黃耆飲，六劑而愈。</p>

<h2>六味智荷飲方治驗案</h2>
<p>熟地（四錢）　山萸肉（一錢）　山藥（二錢）　丹皮（錢半）　益智仁（一錢，生用）　茯苓（錢半）　澤瀉（一錢）　荷葉（一錢）</p>
<p>一婦，傍晚即發熱，止在腹以下，手心亦熱，腹以上則與平人無異，脈右關微緊，左細而澀。此本營分數虧，兼之少陽之氣又下陷於肝腎，郁者當達，非升不可，用薛氏法而少變也，製為六味智荷飲加薑棗煎，四劑而瘥。</p>

<h2>千金散方治驗案</h2>
<p>人參（一錢）　茯苓（八分）　陳皮（六分）　於朮（一錢，土炒）　炙草（六分）　丁香（六分，不見火）　木香（八分）　乾薑（一錢）　製半夏（八分）　製附子（二錢）　為末，小兒未周歲者每服三分，一歲以上每服六分至八分為度，連用二三服，立愈。</p>
<p>侄夢麟，甫五歲，染時疾，發痧毒，面上生赤瘡，瘡俱爛，服清火解毒藥不下數十劑，方盈卷矣，而疾猶未已。一日忽目上視，脈之左弦數，右弦而豁然空，現慢脾風證，法當用參附，即命合千金散。千金散者，玉峰朱又渠所贈方也，方乃古法加減，可以備急。藥未成而面色已轉青，痰涎如潮湧，危在傾刻，延醫診視，俱謝不治，而藥猶擬羚羊角等味，謂其痧後餘毒未盡，故見症如此。余兄意其必不起也，預為置後事而悉聽余治之。命以千金散灌下，痰愈甚，已而稍蘇；又命灌之，勢稍定。五更後忽發煩躁，聲響而直目左右視，舌弄而不能收，揚手擲足，一如陽證，明日更劇，此虛陽外越，非重用溫補則脫矣。與以六君子加姜附湯，傍晚腹瀉，即以前法加重參、附，佐以丹皮、竹瀝與之。明日唇燥烈，小便赤厚而濁如黃土色，舉家怪之。余曰：無足異也，此心移熱於小腸耳。命以茯苓、竹葉煎湯代茶，而仍用前方稍減附子與之，明日神氣稍靜，方見虛象，而昨宵竟不得寐；魂不歸肝，當為斂之，於前方中加當歸、棗仁、丹皮、竹瀝，一劑而得睡，再劑而蘇。</p>

<h2>涼膈加石膏等方治驗案</h2>
<p>一女，年九歲，於七月中發熱不止，後則牙關緊，目上視，諸醫或以為暑風，或以為驚風，愈治愈劇。余按其脈，實而有力；欲驗其舌，舌縮不能出，撬其齒視之，上半截不可見，下半截舌心黃厚而邊獨紅，挾口環唇皆見青色。夫牙關、頰車為手足陽明交會之地，今症如此，熱邪已聚胃，不下不生，庸醫猶妄引經論以暑風、驚風治，此真刻舟求劍，焉得不殺人。余遂以涼膈散去芒硝，加石膏，用生大黃同搗，加水研漿沖服。夜未半即大下，明日牙關寬，復以白虎合天水散汗之，遂熱退身涼。明日視之，尚未能言，舌黃未淨，再以小承氣加青黛、石菖蒲、石膏，去其未淨之邪；而其父母則謂其女已大虛，恐不可再下，遂不服。復延他醫診視，見余方咋舌，但言好大膽。服其藥，腹中覺痛，後竟不可忍，旦夕叫號，渠告急於余。余惡其昧也，不往。後復託人來言，彼固自知其昧也，已大悔也。余笑曰：彼畏其虛，少用一帖硝、黃，誰知卻是增病，若必欲余往，仍不變前日方也。渠許諾，遂與以小承氣一劑而腹痛如失。</p>

<h2>抱桐年丈金液代刀散方論</h2>
<p>石膏（二兩）　寒水石（半兩）　蓬砂（半兩）　元明粉（兩半，上石臼同杏仁杵粉）　大黃（二兩，切片醋炒）　杏仁（一兩二錢，去皮尖，同上藥杵和，則入藥不油）　薄荷淨葉（八錢）　殭蠶（一兩二錢，去嘴足，洗淨，去絲，焙乾，酒漿拌炒）　射干（一兩）　牛蒡子（一兩二錢，炒研）</p>
<p>同磨篩極細，貯磁瓶。每服二錢，用真金汁，清如梅雨水者，一茶杯，調入。徐徐咽之，輕者一二服，重者三四服，必愈。</p>
<p>抱桐年丈，精於岐黃，其治時疫也，無不應手立愈，直如庖丁之解牛。余曾寄一札，討論醫理。復書云：今之時氣，即昔之傷寒，求如仲景書所稱，已不復有。僕癸丑年治一千七百餘症，而合於仲景之傷寒者，不過二人。學醫如先生，真可謂善於識變者矣。先生之立是方也，為今之毒痧、下痢者而設。其自題云：天行疫毒，又兼喉痹，毒甚症急，故死不旋踵，承氣不能肅膈上之邪，涼膈不能救燎原之勢，須用金液代刀散。</p>

<h2>記烏鹿正陽丹方</h2>
<p>何首烏（六兩）　黑豆（拌蒸曬）　懷山藥（四兩，炒）　為末</p>
<p>用真鹿膠糊丸。瘧後體虛，或腹中作瀉，或往來寒熱，皆由陽氣之弱，須用此丸治之。</p>

<h2>記霞天聚聖丹方</h2>
<p>昔韓飛霞造麴有十法，內中有香附、蒼朮、撫芎，等分敖膏，和半夏末作曲，名開鬱曲。有用黃牛肉煎汁熬膏，和半夏末為曲，名霞天曲。一治郁痰，一治沉疴錮痰。余參用其意以之治飲，大有殊功。</p>

<h2>檳蘇順氣飲方論</h2>
<p>檳榔（錢半）　蘇葉（二錢）　藿香（一錢）　草果（六分，切研）　厚朴（一錢，薑汁炒）　陳皮（一錢）　酒藥（三錢，陳者佳，炒）　生益智（七分，生研）</p>
<p>加法：咽乾口乾，加黃芩、花粉各一錢。膈上痞悶，加枳殼一錢。腹中脹滿，用益智殼六七分易益智仁。咽痛紅腫，加殭蠶三錢、去嘴足、洗淨絲、炒研，牛蒡子二、三錢，連翹一錢，去益智；輕者加桔梗一錢，生甘草五分，不必用殭蠶。嘔逆加半夏。咳嗽加杏仁。轉筋加宣木瓜一錢。小便短赤，加山梔一錢、炒黑，知母半錢。中氣鬱結，三焦不通，加木香七分，或生香附七、八分。如有頭痛等症，照吳氏三陽加法。</p>
<p>時邪初起，頭痛發熱，畏寒畏風，或嘔逆腹痛，其舌苔必白，此為熱因寒束，最忌寒涼之劑。若一用涼藥，則迫之使入內而傳胃矣，而隨經之邪，何由輸泄。余立此辛溫雙解法，隨症加減，表裡分消，以之施治，百不失一，不敢自私，願同公好。</p>

<h2>赤檉甘露飲方論</h2>
<p>赤檉木（四錢）　蔗漿一杯。將赤檉木煎一杯，與蔗漿對衝。</p>
<p>痧疹之發由於肺，非溫不能外達，陽和布令，草木繁茂，義可見矣。檉柳鹹溫，蔗漿甘寒，一以潤肺燥，一以透肺邪，一二服後立見起發，永無內陷之患，真神物也。按：赤檉木一名檉柳，即今之西河柳。吾家仲醇極言其妙，其言曰：凡疹類發不出，喘咳，煩悶，躁亂，用西河柳葉風乾為細末，水調四錢立定。此神秘方也；砂糖調服，兼可治疹後痢。時醫以其溫而去之，殊謬。乙丑春間，余家子侄輩俱發疹，其不能透發者，余即用此方治之，不及半日，已紅活矣。愈信古人之不欺我也。</p>

<h2>六味加柴甘等方治驗案</h2>
<p>馮靜生久瘧後，只寒不熱，腹中作瀉，不思食，耳聾，咽腫，脈沉細。一醫以薄荷、牛蒡、山豆根等藥與之。余謂之曰：此少陽之邪未盡，虛火上炎所致，非服薑、附不可，否則必斃矣。渠不信，服其藥而彌甚。余曰：子咽痛紅腫，喜寒畏熱，固無足怪，請先為子治耳聾如何？渠許諾，因與六味加柴胡梢、甘草梢二劑，而耳已聰，咽痛稍可，後與以八味加麥冬，補中益氣去甘草，加智、附、神麯二劑，而飲食倍進，腹瀉亦止。後十餘日，復往來寒熱，盜汗如雨，胸膈痞悶，作瀉並不能食。脈之，則以食復而又感於寒，始用桂枝湯加柴、耆、智、皮、芩、曲，而寒熱悉退，繼以補中益氣合桂枝湯，去草加附、曲，而痞悶頓開。忽復咽痛紅腫，此郁陽暴伸，陰虧所致，命以六味加甘、桔、連翹，多服數劑，聞五日內瘳矣。此症在前宜用辛溫，在後宜用滋潤，苟一錯誤，禍如反掌，醫之所以難也，可不慎歟。</p>

<h2>桂枝湯加味治驗案</h2>
<p>江生仁源，館於吳氏。其徒瘧愈後復發，間日往來寒熱，七日不更衣，仁源同其乃翁來邀余。余詢其病勢，則曰：醫言此證極虛，汗下即恐脫矣，惟當專事補耳。愈後當酬吾三十金，否則不能醫也。昨已服人參一劑，而勢轉劇，奈何？余曰：此非疫瘧即常瘧，藥且不必服，俟明日診後方定。翁急欲同往，余曰：無恐，此固緩症耳。明日診視，舌苔微白，面色帶青，脈之右關稍弦緊，此少陽兼太陽症而偶傷於食，法當和解。書桂枝湯去甘草，加參、茯、歸、皮、益智、穀芽、薑、棗煎，並命服藥後飲熱稀粥，溫覆以取微汗。翁見方即大駭曰：昨服人參一錢，寒熱不止，汗且出，兩醫來皆言汗非所宜，當倍用人參以斂汗，遂加至二錢，今參止寫五分，反用桂枝以解表，恐有虛虛之禍。余曰：吾豈不知人參為截瘧之聖藥，彼特未審其所因耳。今病之發也，由於風傷衛，瘧邪之未盡者，遂來併合；桂枝者，太陽之專藥，用以解肌，而假芍藥以為監製，並佐以辛溫之品，使之通營衛，調其陰陽，而少陽之邪不煩治而自解。此正如假途滅虢，因利乘便，可無亡矢遺鏃之費，而又何汗之足慮乎。如余方服之，一劑瘥。</p>

<h2>甘麥大棗湯加味治驗案</h2>
<p>生草　二茯　大棗　連翹　小麥　萱花</p>
<p>王綸音忽得怪症，笑時即淚出，必大慟而後快，諸醫不識。餘脈之，左寸實。問其口苦乎？應曰：然。以生草、連翹殼、二茯、大棗與之，一劑而心中豁然開爽，病去八九，明日復診，加小麥、萱花，命其多服數劑。人訝其愈之甚速，有問於余者，余曰：此手厥陰心包絡之疾也。經云：心主舌，其在天為熱，在地為火，在聲為笑，在變動為憂。又云：膻中者，臣使之官，喜樂出焉。夫少陰、厥陰，體用雖分，而其象則皆應喜出，悲愁既久，所司亦失其職，火性上炎，變且百出，故其哭者，積憂之所發也。經亦云：肺在聲為哭，在志為憂，憂傷肺，喜勝憂。今無喜之可勝，而憂之象適應肺，宜其號泣而不能自禁也。且夫笑者，心之本體；哭者，心之變象；淚者，肝之見端。彼以憂易喜，是猶將牿亡之性也。而清夜平旦之時，萌糵猶存，故先有笑，以呈其未亡之性，而即繼之以哭，猶之乎牿之反復，其天真隨現隨隱，不能自持。此猶幸病之方發，其根未深。迨相尋既久，其先哭而後號咷者，將止見號咷而並無所謂笑者矣。至於淚隨笑出，是心、肝二部之火所致，蓋心憂則肝氣必郁，以類相感，金從火化，故肺葉遂舉而上溢為淚。且心與肝，實子母也，子病則母亦病，相因之理，勢所必至。昔仲景治婦人臟躁症、用甘麥大棗湯，余師其意，一劑而愈，亦其常耳，而又何異乎。</p>

<h2>伏龍肝飲等治驗案</h2>
<p>灶心土（二兩、研細）　砂糖（一兩、炒枯）　炮姜（二錢）。</p>
<p>乙丑十一日，李八患赤痢腹痛，後純下血水，或帶紫，日夜十餘行，畏寒，手足厥逆，脈之，右關沉細而無力。余謂之曰：汝症極險，所喜者從未服藥，若使庸醫治，鮮有不用芩、連矣，汝何得生乎？即為疏一方：以紅曲、煨木香、炮薑、陳皮、茯苓、澤瀉、穀芽與之，痢較前略減，而腹以下有氣往來，並見其形，因用戊己湯（川連、茱萸、白芍）加紅曲、骨脂、茴香、茯苓、穀芽治之，而痢竟止。乃即以前方加肉果，令其調理，自謂可無費經營矣，而渠一劑後果安適不可言，大便已易紅為黃，至二劑則痢仍來，復詣余診。余思前方已為辛溫之劑，而終不止者，腸胃大傷之故；遂用伏龍肝為君溫土臟，佐以炮姜，加炒枯砂糖去其瘀積之未行者，命濃煎代茶，日四五服，明日竟止，命再服。更為制理中加減煎方，自是遂不相復聞，後知其霍然久矣。經云：必先歲氣，毋伐天和。今時屆仲冬，火土退位，況太陰司天，寒水在泉，苟泥於熱之一說，竟用寒涼以伐胃氣，則禍不旋踵，醫之難也如此。</p>

<h2>六味加骨碎補川斛方治驗案</h2>
<p>蠡市金姓，業農者也，患齒衄，四肢無力，飲食日減，業幾廢。詣余診，按其脈，右三部俱洪，知其陽明經氣獨盛，於是用大劑六味加骨碎補、麥冬、川斛與之，三劑竟止。令常服除根，即將前方改作丸方。</p>

<h2>華亭王甥暑症治驗案</h2>
<p>丙寅五月，王甥忽發熱無汗，余以為暑風也，用香薷飲之類治之不效。延郡中幼科診視，群謂舍此別無良法，如余治之，亦不效。後忽面見青色，腹中微瀉，以手自弄其舌，醫又謂將轉慢驚，余審視其舌赤而有芒刺，與之水，一飲立盡。命取西瓜汁與之，皆以其腹瀉故，似有難色。余曰：無害也，今歲少陽司天，五月為三之氣，正少陽相火之位，且歲火太過，炎暑流行，火症十居八九，舌赤煩躁，大渴引飲，其顯而可見者也。至論其微，主運屬寒水，火兼水化，熱因寒束，現象似虛，據症則實，醫家最易錯認。色之見青者，厥陰風木在泉之應也；腹之微瀉者，肺移熱於大腸，火迫下注也；今欲於流金爍石之時，變而為清涼世界，必遵《內經》熱淫於內，治以鹹寒之法，因仿河間意，白虎湯合涼膈散去硝黃，以殺其勢，再用犀角地黃去白芍合導赤加竹葉，竹茹以休息之，復用白虎加芩、連、竹葉而熱渴逐減，調理四日而愈。</p>

<h2>補中益氣變方論</h2>
<p>小變法：人參　陳皮　煨葛根　炙草　於朮　黃耆　當歸身　荷葉</p>
<p>大變法：人參　黃耆　炙草　山藥　砂仁殼　荷葉　阿膠　鮮稻葉，或以穀精草代之</p>
<p>經云：邪害空竅，陽氣者閉塞，地氣者冒明，雲霧不精，則上應白露不降，交通不表萬物，命故不施。東垣先生洞見此旨，立補中益氣湯，用升柴以提出陰中之陽，清升而濁自降，其源出於潔古老人，而神明變化，更覺青出於藍，此真培脾胃之聖方。凡清陽之下陷者，俱可藉是以提出也。立齋宗李氏之學，用治內傷，隨手輒應，其加味尤為精妙，可謂心心相印矣。蓋嘗論之，提法有未可一概者：真陰未虧，龍潛海底，因法施治，其效立收；至若根柢不固，虛火燔灼，一用升提，飛揚跋扈，遂不可制，所害非淺。余因宗東垣之意，參用潔古法，製為大變、小變方以補其闕略，師古而不泥古，庶不為東垣之罪人矣。</p>

<h2>記程亦曾乃郎不治案</h2>
<p>程亦曾乃郎，初患疳症，右目失明，以致脾胃虛弱，後忽染時疫，晝夜發熱，經十四日不解，大便不通者七日。延余診，余曰：正虛邪實，非下不生，下則恐脫，即不脫，胃氣亦難復初，疳發於肝，失其滋養，木已槁矣，法庚日死。亦曾促余定方，余姑為背水陣，以求出死入生。因用人參四分、鹽水炒，金汁小半杯，羚羊角一錢五分，滑石二錢，生草四分，瓜蔞霜錢半，玄精石一錢，肆中不備，以寒水石代之，加竹瀝、竹葉使服之，即大下，得燥屎五、六枚，並有膠黏如漆者，胃氣終不復，熱終不解。乃知平日本善啖，凡所嗜食皆難化之物，乃翁弗禁也。以故脾胃大傷，兼之畏醫如虎，視藥如鴆，服一劑後，竟不肯再服，後漸不食，如期而殞。丙寅四月初九甲戌日診，十五日庚辰日故。（此胃絡脈絕也。）</p>

<h2>宋廷良母夫人頭風治驗案</h2>
<p>宋母患肝厥，延余診。余始用煎劑治之，後定調理方，用六味全料，參用韓氏異類有情丸、加龍齒、牡蠣、龜板、阿膠、虎頭骨，併為書案曰：頭痛頸脈動，肝陽上冒至巔為厥，賊邪傳子，舌生芒刺，脈之左寸關沉弦而橫，水虧營弱，龍雷併發，非可以苦寒直折，宜以滋為伏，壯陰和陽。客有不達制方之意問於余者，余曰：六味丸乙癸同治之法也，然草根樹皮，豈若異類有情之品其相入為尤速，夫天下之至變者，莫如龍，吾用龍齒先入肝以安其魂，從其類也，阿膠其佐也；牡蠣、龜板，一則頑鈍無知，一則資性靈異，其質皆厚重，使就其窟穴而招之，導龍入海，即漸化其飛揚跋扈之性，虎為西方之獸，可以平木，用頭骨者，取其象也。制即為生，引即為伏，龍蟄而不見，利其普哉。《經》曰：亢則害，承乃制，明乎此義，可以論方矣。</p>

<h2>記餘二便濁症治驗案</h2>
<p>餘二，以賣魚為業，忽患便濁，精溺俱赤，鮮血淋漓，腰痛不止，誤用生地、木通、瞿麥之類治之，病益劇。詣余診，問其溺時痛乎，曰：否。余曰：痛者為實，不痛者為虛，房欲傷腎，坎離不媾，精乃不藏，若作淋治，危矣。因書菟絲子、石蓮肉、茯苓、遠志、益智子、沙蒺藜、杜仲與之，病稍減。復用六味全料加車前、牛膝、菟絲子、石蓮肉、蒺藜、龍骨、杜仲、遠志。數劑遂愈。此症溲溺當利，通因通用；精房宜固，塞因塞用；一通一塞，有精意焉，非細心審察，難治之也。</p>

<h2>記沈佐周室肝火沖膈症治驗案</h2>
<p>沈佐周室，胸膈痞悶，心中時痛，夜不得寐，且神思不慧，飲食寒暖，幾不自知，又不能食，食則䐜脹，群醫投以補心安神之劑，皆不效。余按其脈，右寸忽起忽伏，即知其切脈時，氣之升降有順有逆，為肝葉抵胃所致，詢之果然；左寸澀而鬱，澀為血少，血不榮肝，則火上炎沖膈，天君亦為之震盪；郁為氣結，氣結則不宣暢，木下行剋土，脾輪亦因之不運。治先宜安頓膈下，而膈上諸病可不治而愈，此導河自積石法也。因用白芍、炙草、茯神、神麯、香附、沉香和其肝脾，調其逆氣。數劑而瘥。</p>

<h2>記瑤琴婢目赤治驗案</h2>
<p>昔張子和論治目疾之法，凡暴赤腫者，有出血最急之語，故用針刺神庭、上星、囟會、前頂、百會五穴。考之於經，五穴俱督脈所至，神庭直鼻入髮際五分，督、足太陽、陽明三脈之會，禁針，針則發狂、喪明，而子和獨用針法以建奇功，術亦神矣。其次則用吐下二法，亦無不效。千載而下，讀子和書者，固無其人，即讀之豈能深信不惑，而能見之行事乎。余於針法，未曾深究，曾治一婢，卻以下而見其愈之神速者，益信子和之不欺我也。婢瑤琴目赤腫痛，余治之，許以十日愈，始用導赤散加天冬、山梔、黃連、丹皮、連翹、燈心為引，一劑痛止。繼用涼膈加黃連、竹葉、甘菊，大下六七行，目開赤退，兩劑而病如失，未及四日而愈。</p>

<h2>記李八妻奇疾治驗案</h2>
<p>李八妻得奇症，口乾，腹中自左至右皆痛，大、小便亦然，俯而不能仰，月事淋漓不斷。余初投以逍遙散，口乾稍可，他症如故，因為之靜思竟日，恍悟其病得之奇經，不可徒責足厥陰也。因書烏賊骨、赤石脂、艾茸、鹿角霜四味，與一服愈。後忽聞食香，則腹中有物自下至上若索食狀，即痛不可忍；此臟寒，蛔入膈所致，命每日服川椒三十粒，痛遂止。</p>

<h2>記金志成風痱驗案　附：李嫗案</h2>
<p>尊證已食如飢，耳中作金鼓聲，即煩重苦暈，日數十發，脈右尺弱，兩關皆弦，絡脈空虛，賊風數至，陽邪乘陽，重門洞開，將成風痱矣。治不出峻補命門四字，而按症施治，卻有次第，不可紊亂。夫厥陰風木與少陽相火同居，火發必風生，風生必挾木勢以侮脾土，理宜食減，而反已食如飢者，虛風入胃，適為胃陽增其火矣，此去病成為消中不遠。昔嘉言曾有胃風湯一法，卻未可遽施。膽藏肝短葉間，其脈上抵頭角，下耳後，其支者，從耳後入耳中，出走耳前，至目銳眥後。肝脈循喉嚨之後，上入顙，連目系，上出額，與督脈會於巔。二經本相連，故見症如此，是《經》所謂諸風掉弦，皆屬於肝，而耳中虛鳴，又不可專責之腎也。然乙癸同治，必補腎以滋肝，則八味丸加沉香，在所必服；而斬關直入，攝納虛陽，無如用真武湯加沉香、川石斛，降龍伏虎，在此一舉，君其勉之。如余言服數劑遂愈。</p>
<p>附丸方</p>
<p>薑汁、竹瀝製半夏、用霞天膏四份糊丸。晨服。</p>
<p>八味丸全料，加沉香一兩，虎頭骨三兩，杜仲四兩、鹿角膠、霜各四兩，霞天膏代蜜糊丸。晚服。</p>
<p>李嫗患頭目眩暈，閉目不敢開，開時即天旋地轉，如是兩晝夜。余與真武湯二劑已。</p>

<h2>四五培元粉方論</h2>
<p>百合十六兩，煮熟搗爛，同諸末拌和再磨末。芡實（六兩，炒）　焦飯滯（六兩，炒）　山藥（八兩，炒）　蓮肉（八兩，去心，炒）　薏米（八兩，炒）　穀芽（三兩，炒）　麥芽（三兩，炒）　神麯（三兩，炒）　砂仁（三兩，去衣炒）　粳米（三十二兩，炒）　糯米（十六兩，炒）　共淨末七斤。</p>
<p>加法：於朮三兩，土炒，扁豆五兩、炒，糯米二十四兩，芡實八兩、炒，薏米六兩、炒，淨末八斤。（按：糯米、薏米兩味分兩不合，必系誤錄，似當刪去。禾芬注。）</p>
<p>《易》曰：大哉乾元，萬物資始，至哉坤元，萬物資生。人身小天地，其藏象悉皆應之，故肺主氣，其象如天，天道下濟而光明，其在經曰：肺朝百脈，輸精於皮毛。脾為孤藏，灌溉四旁，其象應地，地道卑而上行，其在經曰：脾氣散精，上歸於肺，通調水道，下輸膀胱。若使土不生金，則肺氣先絕，其見於外者，毛髮憔悴，形容枯槁，咳嗽氣促不能言，諸病叢生，變症蜂起，其禍可勝言哉。余深憫之，因構思一方，培補後天，以滋化源，名之曰四五培元粉。取地四生金，天五生土之義。其中藥品之多少，分兩之輕重，頗費斟酌，自謂得資生丸之遺意。方中用百合為君，山藥為臣，是子母相生法；以蓮肉、薏米、芡實、粳米，糯米為佐，飯滯、穀芽、神麯、砂仁為使，是補消兼行法。不溫不燥，養胃生肺，升降之道通，地天之泰合，衛生之法，無逾於此。其或有未盡善者，更願後人裁之。</p>

<h1>卷下</h1>

<h2>魚菟固精丸方論</h2>
<p>線魚膠（八兩，蛤粉炒）　沙蒺藜（四兩，人乳拌，蒸，曬乾，磨末，勿見火）　菟絲子（五兩，酒煮，曬乾，勿見火）　龍骨（四兩，煅）　茯苓（三兩，生曬）　遠志（二兩）　甘草（水泡，炒）　丹皮（三兩，生曬）　石蓮（三兩，連殼去心，炒）</p>
<p>蓋夫上古之人，其知道者，法於陰陽，和於術數，飲食起居，各有常節，形與神俱，藏身甚固。至於後世，狥欲滅性，不思其反，腎氣未盛，鼓其精房，精先溢瀉，真陰既虧，百病叢起，白濁夢遺，腎關不固。間有異者，坎離不媾，火炎上，水趨下，陰精不奉，其人多夭。揆度奇恆，惟交陰斯濟乎陽，相火既戡，真陰漸復，精神內守，病安從來。余立此方，專療虛損。其有濕熱諸症者，不在治例。</p>

<h2>四製半夏丸方論</h2>
<p>每半夏一斤，初次礬水浸（逐日換水，用礬末十四兩）七日，後一日用沸湯泡漉，曬乾磨末。次用老生薑四斤搗自然汁拌，曬乾；次用蘇子二兩、炒研，生白芥子二兩、炒研，桂枝、橘紅各一兩、煎濃汁，拌曬乾，次用竹瀝拌，曬乾，聽用；於朮一斤、米泔水浸、蒸、曬，土炒，黃耆四兩，蜜炙，同煎膏以補脾陽。霞天膏：黃牛肉十斤煎膏，以補脾陰。用二膏和半夏末為丸。</p>
<p>痰飲伏於肺胃之間，每遇天氣寒暖不時，挾風挾寒，乘外因而起，其中必有澼囊，非崇土不能填窠臼，非辛溫不能散肺邪，治在太陰、陽明。余造四製半夏丸以去沉痼之痰，方中立法，頗為嚴密，久服必見其功。此方脾氣燥結者尤宜，若脾泄者，當用神術等丸。肥人服此更妙。</p>

<h2>益胃丸方論</h2>
<p>建蓮肉（十二兩，去心）　雄豬肚（一具，煮）　馬料豆（六兩）　生白茯苓（六兩，人乳拌）　霞天膏（六兩）　用蜜炙黃耆（一斤）　紅棗（六兩）　石斛（八兩）　煎膏，同霞天膏拌藥末搗和丸。</p>
<p>血症胃脈鼓指，右脅痛，此肝葉抵胃，勢必妨於食，急宜乘其胃氣未散，常服人乳、牛乳，以滋肝陰；並服此丸以使脾精四布，膠痰漸化，所全實多。其胃口素弱者，固未可一概治，宜加減焉。</p>

<h2>加減坎炁丹方論</h2>
<p>第一方：坎炁二十四條　枸杞四兩，黑芝麻同炒人乳粉（二兩四錢）　人參（二兩四錢）　杜仲八兩為末，煉蜜為丸。</p>
<p>胃氣素弱者，切忌用沉陰之品，重傷陽明生氣。方中枸杞、杜仲俱為陰中之陽，庶補虛而不礙胃。</p>
<p>第二方：坎炁、枸杞、人參、人乳粉、同一方，阿膠（二兩四錢）　鹿茸（一具，酥炙，研）　熟地（八兩，搗）　煉蜜丸。</p>
<p>明薛立齋推廣錢氏之意用六味丸治陰虛症，應手立效。而丹溪之補陰丸遂廢。至趙養葵、高鼓峰輩，神明其意，大暢元機，凡加減出入，愈奇愈妙，可師可法；但執此以治外感，不無太偏之弊，此亦篤信之過也。余嘗用其意以治陰虛，全活頗多，間有非六味丸之可治者，以加減坎炁丹治之，方中阿膠、熟地、鹿茸、枸杞，峻補真陰，又以坎炁、人乳、人參補先天正氣，氣正則血充，血充則肌膚潤澤，筋骨強固，而生機勃然矣。</p>

<h2>白霞丹方論</h2>
<p>熟地　蓮肉（各八兩）　血餘　人參（各四兩）　萸肉　山藥　霞天膏　白鳳膏（各四兩）　即用二膏糊丸。</p>
<p>療瘵最難，以補脾則傷腎，補腎則傷脾也。余合兩者兼治之，可以立起沉疴。至制方之意，不過從六味移步換形耳。</p>

<h2>補天丸方論</h2>
<p>熟地　補骨脂（各六兩）　天冬　胡桃肉（各四兩）　鹿角霜　龜板（各三兩）　共研粉；另用黃耆、黃精各十二兩。煎膏糊丸。</p>
<p>坎卦陽陷陰中，水中有火之象，水騰而上升，則為精為液，火之蒸動，而關門利也。水聚而上泛，則為痰、為飲，火無以熏灼而關門阻也。其注於下，則為白濁夢遺；移於膀胱，則為淋閉消渴；壅於內，則為水腫脹滿。病因雖不同，而無火者居其大半，則補火為最急。然左右兩尺，水火平分，真陽真陰，互為根柢，法當兩建，以培本原，此補天丸之所以作也。方中熟地、天冬，金水相生，輔以龜板而衝任理；補骨脂、胡桃肉木火同氣，佐以鹿角而督脈通；用二黃大建脾胃之陽，以補金之母；不用術者，恐傷腎也。余隨方立法，妙合陰陽，虛弱者如能久服，填精益髓，卻病延年，捷於影響。</p>

<h2>烏骨雞丸方論</h2>
<p>烏骨雞一隻，男雄女雌，縊殺，干撏去毛，不落水，同煮諸藥爛，焙乾磨末。忌銅鐵器。骨，炙存性，入藥末內。雞汁聽用。熟地八兩、砂仁末拌炒，山藥、炒，萸肉、炒，芡實、炒，建蓮、去心，枇杷葉、去毛，桑葉、九蒸九曬、各四兩，白花百合六兩，澤瀉，丹皮，阿膠、炒，茯苓、人乳拌蒸，各三兩。煉蜜為丸。</p>
<p>癆瘵咳嗽吐痰，胃弱脾泄者，當急服此以治之。</p>

<h2>記江景賢九令愛久病治驗案</h2>
<p>江女因失竊被驚，旋染時疫，醫用發散、寒涼之劑，痞悶氣逆，自汗，嗌乾轉甚。景賢延余診，時乙丑八月初旬也。詢其臥床自四月始矣，按脈左寸搏指，右關微實，此因少陰之火不降，故上焦之氣壅；陽明之路塞，故太陰之化滯。以驚得之，還以驚治。初方用葳蕤、石蓮肉、烏梅、陳皮、龍齒、茯神、穀芽、神麯與之，氣稍順，諸症仍不減；乃用附子理中加減出入，繼服八味湯，共三十餘劑。當其時口中乾燥，幾無點津，不更衣者十餘日，服桂附後始津迴腸潤，因為定八味丸加麥冬，辰砂為衣，調理之後，飲食漸加，但臥而不能坐，坐即胸中甚悶；余靜思其故，病在膻中，乃授以小丸二，細嚼之徐徐嚥下，留戀於胸膈間，以察其動靜。服十餘日，胸前連兩脅下甚痛，手不可近，脈之左寸結，余喜曰：得之矣。因書歸身、赤芍、桂枝、桃仁四味與之，服二劑，下瘀血頗多，痛遂止，悶稍緩，然猶未盡除也。忽於丙寅六月中，又染時疫，舌苔黃黑，發熱不止，病益劇，復延余診。當是時，舉家虎率以聽，而凡余用藥制方，如大將之旗鼓，進退從之，勢不得不一力擔當，以掃除賊寇。但吳俗扭於故習，視硝黃如砒毒，禁藥者已數十年；今已經年臥床，奄奄一息之弱質，豈足以當此，使餘力持是說，即素傾心相信者，聞之必驚且駭；依違不斷，遷延日久，血與邪相搏，胃津告竭，惟有束手待斃，重云見晛無望矣。余既持脈，見右手關實，尺長，因與其兄信源密議，戒勿泄。三下，舌黑漸退，下後必休養，以鼓動其胃氣，故一日休養，一日疏導，最後用生地汁、阿膠、瓜蔞實、芒硝等藥以微利之，藥不得下行，遂上湧連嘔十餘次，吐出膠痰無算，舉家驚惶，余謂驚則痰積包絡，非吐不能出，此亦去悶之一助也，可無恐。吐後果能食粥，兩日後又不能食，熱亦不止，此宿垢未清也。以虛體不可再下，晨用六味去萸、加葳蕤以養其陰，晚服資生丸以和其胃，半月後始能食粥。後命以六味，八味丸兼料服，午後仍服資生，飲食遂日進，痞悶漸開。余邇來臨證，惟此為勁敵，其決策用余方以底於成者，則其兄信源之力也。信源，邑庠生，館於城外，往來奔走，不避寒暑，真孝友士也。</p>
<p>附：第一煎方　經水適來脈微結</p>
<p>檳榔　益智　木香　歸身　大麻仁　大黃　炙草　花粉　桃仁　生薑</p>
<p>第二方</p>
<p>於朮　半夏　大黃　阿膠　陳皮　木香　歸身　麻仁</p>
<p>第三方</p>
<p>益智　花粉　歸身　芒硝　木香　知母　阿膠　大黃　生薑（加水與大黃同打）</p>
<p>按：上三方即案中所謂三下之方也。受芝注。</p>
<p>附：小丸方併案</p>
<p>病之發由驚而起，驚則包絡氣急，包絡主中焦，為榮血生化之源，法當開膻中之急，兼通上下二焦。</p>
<p>天竺黃（六錢）　猺桂心（三錢）　酒炒丹參（七錢）　鬱金（六錢）　益智（生研、六錢）　吳萸（五錢）　醋炒歸身（七錢）　鹽水砂仁（六錢）　茯苓（七錢）　酒赤芍（七錢）　制香附（六錢）　酒炒白薇（五錢）　木通（五錢）　人參（六錢）　菖蒲（蒸去毛、六錢）　炙龍齒（六錢）　酒炒川芎（四錢）　豬膽汁炒川連（四錢）　與桂、萸二味同研。以上為末。用荷葉五錢，煎水化阿膠二兩，糊丸。每重一錢半。</p>
<p>丁卯二月，復延余診，按其脈遲而少胃氣，忽斷忽續。余訝其何以至是，詢之，則曰：一日只飲米湯兩杯，已三月矣。余謂信源曰：此非參不可。信源貧士也，勇於為義，為其妹久病弗痊，又瀕危，引為己任。余因命朝服理中湯加桂。夜服四神丸，四劑而能食粥，繼用十全大補湯二十餘劑而痊。</p>

<h2>論顧寶善脅痛發黃之症</h2>
<p>顧寶善常患脅痛，痛則連少腹，後身熱發黃則漸愈。脈之右關尺滑弦，此脾邪傳子也；而其所以發黃病之故，則甚微妙。因論之曰：君之腎臟本寒，龍雷不安其位，故肝挾腎邪，往往乘釁而欲動，適寒邪偶中太陽寒水之經，內外合邪，水遂聚而上泛，惟肝為腎子，盜其母氣，直衝兩脅，土本足以制水，乃土衰木克，又被水氣所乘，釀醞薰蒸，遂至發黃，是發黃固陽明濕熱之徵，實即太陽之出路，所以得此為愈期也。今試與子觀天地之化，天地之化，不過陰陽二氣而已，發育在春夏，保合在秋冬，此是老生常談，人所共曉之論，合之於人身，則昧之者多。欲求治病，其可得乎？驚蟄後陽氣畢宣，水泉寒，龍雷出，以龍雷屬陽，惡陰寒之氣，乘陽之動而俱升也。霜降後，陽氣退藏，水泉溫，龍雷伏，以龍雷惡陰，隨溫和之氣而俱藏也。故春夏不見陰，非無陰，陰在地中。秋冬不見陽，非無陽，陽在地中。兩氣循環，相為起伏，往來屈伸，以成一歲。試使當藏伏之時，鬱蒸異常，必有疾雷暴雨，此即上衝兩脅之徵也。地氣上蒸，雲霧四塞而礎潤，此即發黃之一徵也。讀坎卦一陽在二陰之中，陽陷而險，水中有火，宜順導不宜直折，此中有元機也。子，腎臟無火，故土衰而水寡於畏，為今之計，先治太陽，後溫補肝腎，斯二火自戢，病根永除矣。</p>
<p>附方：五苓散加陳皮。丸方：六味加肉桂、沉香。</p>

<h2>記張嫗瘧疾腸風奇疾治驗案</h2>
<p>張嫗病瘧，發熱口乾，胸中甚熱，按其心下至腹中則頻蹙，且便血不止，肛門甚痛，脈之右滯而緩，左關微弦。此怒動肝火，陰絡內傷，兼之中焦挾食所致。因書柴胡、淡芩、炒楂肉、木香、陳皮、炒黑柿餅、生白蜜與之。薄暮服藥，至夜半諸病悉退，明日起於床，食粥如平人。越三日，其家復走告曰：近復變一症，面左半忽浮腫，左脅連上痛，心中震盪，即覺頭重眩暈。予往診，肝部按之搏指，知其必因暴怒，肝火上衝，詢之果然。與以逍遙散去朮，加薄荷、勾勾、生穀芽、沉香，亦一劑愈。</p>

<h2>論治天行喉痹方</h2>
<p>《經》曰：一陰一陽結，謂之喉痹。一陰，肝與心主也。一陽，膽與三焦也。其脈並終於喉，火性急速，直犯清道，閉而不通，死不旋踵。近來鄉村天行痧毒，互相傳染，束手待斃，不知凡幾，予深痛焉。因深思治法，大旨總在膈上著意，或以祛邪，或以涼肺，或以救敗，攻補並施，溫涼並用，法不膠一，中病而止。姑書治法數條，以備採擇。昔明·樓全善治喉痹，有用薑汁一法，其意蓋謂：寒閉為外，熱鬱為內也。予因悟辛開苦泄是大綱，凡為寒邪所郁，發毒痧喉痹者，即用此法從治，隨手立愈。方意即從東垣普濟消毒飲、吳又可達原飲化出，因名之曰：達原普濟飲。</p>
<p>厚朴　草果　連翹　薄荷　馬勃　生草　檳榔　射干　殭蠶　大力子　滑石　竹葉</p>
<p>中無停滯者，去檳榔、厚朴，加杏仁。便閉加酒製大黃。</p>
<p>毒痧咽痛嘔逆，加減橘皮竹茹湯主之。橘皮　竹茹　藿葉　殭蠶　牛蒡　連翹　薄荷　射干　馬勃</p>
<p>嘔逆甚者，加半夏、知母，去竹茹。</p>
<p>咽痛口燥，舌邊赤中黃，便秘，加減涼膈散微利之。</p>
<p>連翹　梔子　人中黃　淡芩　竹葉　川連　殭蠶　大黃，酒炒　薄荷　白蜜</p>
<p>方中加石膏，使經腑並瀉。</p>
<p>喉以納氣，喉氣通於天。咽以納食，嚥氣通於地。咽喉俱閉，天地之氣並塞，非斬關奪門不可。一用吐法，獨聖散：瓜蒂末主之；一用開法，控涎丹：甘遂、白芥子、大戟主之。</p>
<p>熱渴大汗，脈洪數有力，加味白虎湯主之。</p>
<p>石膏　粳米　竹葉　知母　川連　杏仁　姜皮</p>
<p>陰虛加生地，嘔逆神昏加竹葉、石菖蒲。</p>
<p>腎陰素虧，水不勝火，舌苔純黑，色如鏡面者，六味全料加人中白、川連主之。虛甚加元參、龜板、麥冬；或用六味變法治之，六味加細辛、川連，神昏加石菖蒲。</p>
<p>燥渴，真陰不足，大便秘，犀角地黃湯加大黃微利之。犀角、生地、酒製，丹皮，木通，酒軍。小便秘，導赤散加川連、赤苓。《經》曰：諸痛癢瘡，皆屬於心，心與小腸相表裡，故用導赤以瀉丙火，是即釜底抽薪法。</p>
<p>痧毒隱伏，咽喉腫痛，面色青，煩躁，急與搜邪透毒湯。</p>
<p>犀角（一錢）　石膏（三錢，炒研）　牛蒡（三錢）　炙鱉甲（一錢）　酒洗殭蠶（一錢，去嘴黑絲）　炙山甲（一錢）　連翹（錢半）　荊芥（二錢）　酒洗歸身（一錢）　桃仁（一錢，連皮打）　沙豬糞（六錢，重者加一兩，研）　蟬蛻（十二個）　用胡荽二兩、蘇葉一兩、葛根三錢、紅花二錢，煎湯頻洗。便秘加酒軍二錢。</p>
<p>毒痧，營邪也，隨出隨伏，是名內陷，其症最危。苟非多方攻托，豈能出死入生，予因制搜邪透毒湯，可補前人所不備。方中犀角、石膏，清胃救肺；歸身、桃仁，活血破瘀；二甲、豬糞搜邪透毒；更以荊芥、牛蒡、殭蠶、連翹、蟬蛻，引營分之邪達之於表，陷者可立起矣。背城一戰，轉敗為功，其在斯乎。</p>
<p>發熱咽痛，口乾唇燥，舌心黃、邊赤，大便秘結，緣其人素陰虛，今復有所感，熱則傷營，津液內涸，宜表裡雙解，並和其陰。通幽清燥養營湯主之。</p>
<p>犀角（一錢）　鮮生地汁（一兩）　炒牛蒡（三錢）　馬勃（一錢）　連翹（一錢半）　製大黃（一錢）　酒洗殭蠶（三錢）　花粉（三錢）　黑梔（一錢）　麻仁（四錢）　薄荷（一錢）　甘草（四分）。</p>
<p>兩足無力，不可下；去生地、制軍，加知母二錢，芝麻五錢，杏仁三錢，菠薐一兩，如無用青菜代之。</p>
<p>硼砂通聖散治喉痹急症</p>
<p>山茨菇（二兩）　硼砂（二兩）　山豆根（一兩半）　大戟（一兩五錢）　五倍子（二兩）　青黛（錢半）　白芥子（一兩二錢）　冰片（二錢）　麝香（二錢）　雄黃（三錢）　殭蠶（酒洗，一兩二錢）　人中白（一兩二錢）　共研成細末。將藥吹入咽喉徐徐嚥下。</p>
<p>清膈飲</p>
<p>人中黃二錢，硼砂四分，龍腦香三釐，萊菔汁調和，徐嚥下。</p>
<p>咽痛自利，金液代刀散和以金汁徐服，自止。方見前。</p>

<h2>記江景賢足疾治驗案</h2>
<p>江景賢足疾，十趾甚痛，余曰：此因於寒濕，病在足太陽，冬月斂藏，不宜大汗，試以湯洗之。因授以大青龍全方。洗二次愈。</p>

<h2>記方姓等驗案七則</h2>
<p>湖州書客方姓，目赤如鳩，夢泄不禁，夜不敢寐，足冷如冰，脈之左關沉細而緊。葉天士曾以異類有情丸治之不效，後用桂附亦不效。余知其病在厥陰，用魚膠八兩，菟絲子五兩，茯苓三兩，石蓮四兩，沙苑子四兩，益智二兩，歸身三兩、醋炒，枸杞四兩、用青鹽、小茴香、酒醋各制一次，鹿角膠三兩糊丸。服後病勢即減。</p>
<p>黃掌書夢泄，小便數，左寸關微搏，此二火不能降，當服六味全料去澤瀉，加魚膠六兩，龍骨四兩，沙苑子四兩，遠志、益智各三兩，石蓮六兩，菟絲子四兩。未及半料而愈。</p>
<p>姜義源胃脘痛，脾泄，夢遺，右脈弦緊，法當溫中固腎，書丸方與之。於朮、土炒二兩，製附子一兩二錢，乾薑五錢，神麯半兩，薑汁熟地四兩，加益智四錢，龍骨、茯苓各二兩，枸杞小茴拌炒，菟絲子酒炒，沙苑子、石蓮各三兩。蜜丸，服後諸症悉愈。</p>
<p>吳生夢泄不禁，腰膝痠疼，余以王荊公妙香散合茯菟丸兩方加減與之。沙苑子、菟絲子、杜仲各三錢，茯苓、神、龍骨各二錢，石蓮四錢，遠志八分，益智七分，調入辰砂一字，服二劑後竟止。如不服則病又來，語余曰：此真仙方也。予命其多服以除根。</p>
<p>沈生患奇疾，胸中常悶，飲食少進，已數月矣。詣余診，脈則右關弦滑而緊。余曰：此胸中陽氣不舒，陰邪微結，即仲聖所云胸痹也，法當通陽。授以瓜蔞薤白白酒湯加半夏。五劑瘳。</p>
<p>宋天芬夫人素患癖，後忽有氣從少腹上衝至心下，或從少腹之右起，痛不可忍，稍有驚恐即上升，一日數發。余診其脈：心小而膽伏，氣逆裡急，衝脈為病，其為沖疝無疑；但所異者，稍有所聞即攻觸作痛，心脈又如此，若徒治足經，不從手經著意，總難洞中要害，焉能除卻病根。因構一方，統二厥陰而兼治之。棗仁、茯神、茯苓、白芍、炙草、小茴、橘核。二劑愈。</p>
<p>馮大文素善咳，且病噎已半年矣，一日因塚孫暴亡，郁甚、病益劇，水漿下咽即吐，且艱澀異常，腹中微痛，大便秘結，如是者數日，延余診。脈之，少和潤之致。予曰：腸胃津液乾枯，遂致傳道下秘，濁氣上升，嘔逆亦勢所必至。為今之計，非大養營血不可。為定煎方治之。</p>
<p>人乳　藕汁（各一杯）　白蜜（二錢）　薑汁（五匙）　沉香（磨汁四茶匙）　黑芝麻（四錢）　柏子霜（三錢）　杷葉（一錢）　三味煎，服後嘔逆即止，能食粥矣。</p>
<p>又方：柏子仁霜　穀芽（各三錢）　芝麻（五錢）　杷葉（一錢）　藕汁　人乳　蔗漿（各一杯）　沉香汁（四匙）　薑汁（五匙）　白蜜（三錢）　朝服牛乳，晚服杏仁、黑芝麻酪；後大便通。</p>
<p>又方：制首烏（一錢半）　柏子霜　粳米　白蜜（各三錢）　紫菀（二錢）　杷葉（一錢半）　黑芝麻（五錢）　藕汁（一杯）　薑汁（五匙）　沉香汁（四匙）　蔗漿一杯。</p>
<p>又方：即前方加歸身二錢，去蔗漿、紫菀。</p>
<p>又方：生地　柏仁霜（各二錢）　歸身　紫菀　制首烏（各二錢）　精羊肉（一兩半）　生薑（一錢）　黑芝麻（五錢）　水研漿、濾去渣衝入。</p>
<p>又方：前方去紫菀、芝麻，加肉蓯蓉二錢。</p>
<p>又方：加鎖陽三錢。</p>

<h2>贊化丹種子方論</h2>
<p>此方有補有瀉，有通有塞，古方若六味、都氣、葆真、還少、萃仙、八聖、青娥、聚精、五子衍宗、千金種子，悉包羅在內，運思十餘日而成，延年種子，其在斯乎。</p>
<p>熟地（八兩，酒拌制）　茯苓（四兩，烘）　蓯蓉（三兩，與羊腎同煮）　骨脂（三兩，酒炒）　山萸肉（四兩，烘）　川斷（四兩，酒炒）　丹皮（三兩，酒曬）　小茴（兩半，青鹽拌炒）　沙苑子（三兩，人乳拌蒸一次）　枸杞（四兩，酒拌焙）　覆盆子（三兩，曬）　五味（三兩，烘）　巴戟（三兩，酒拌焙）　菟絲子（四兩）　益智（二兩，鹽水炒）　川楝子（三兩，煮曬）　懷藥（四兩，炒）　遠志（四兩，甘草湯浸一宿焙）　線膠（六兩，龍骨粉炒）　杜仲（四兩，曬）　芡實（四兩，生）　沉香（兩半，勿經火）　蓮鬚（四兩，曬）　鹿腎（五具，酥炙）　澤瀉（三兩，炒）　羊腎（內外各三副，酒煮）　上藥用鹿膠一斤，用羊腎打糊丸如桐子大，每服三四錢，好酒送下。</p>

<h2>雜記李姓等治驗方案</h2>
<p>李右　金沉木浮，水降火升，天地之五行以順為正；而人身之五行以逆為順，故金浮木沉，水升火降，方合常度。今反是，焉得不病。少陰之神機在水火，而其交合處在土治，此病當於此中求之。《易》曰：五位相得，而各有合。知其合處，治法可以微參而得之。</p>
<p>於朮　石決明　茯苓　沉香汁　麥冬　川連　牛角䚡　桔梗　白花百合　杜仲</p>
<p>又　奇脈不司統攝，脾虛泄瀉，氣逆不得臥。議從中治，兼理奇經。</p>
<p>淮山藥（一兩，切塊，制於術一錢，煎湯拌炒）　紫石英　杜仲　百合　沙苑子　湘蓮</p>
<p>又　心肝之火上炎，故口中碎，火上則水下，帶濁之所以愈甚也。</p>
<p>於朮　石決明　沉香　杜仲　菟餅　椿根皮　川連　牛角䚡　百合　元參　沙苑</p>
<p>又　微發熱，晝夜泄瀉十餘行，雖曰霍亂，想其乘虛下陷也。宜進少陰篇四逆散，從少陽之樞轉出，似為近理。</p>
<p>柴胡　白芍　枳實　白朮　川樸　炙草　薤白頭，另煎衝入。</p>
<p>又　身熱下痢，乾嘔而渴，胸中痞悶，診脈不浮不沉而數，此風溫症而邪有乘虛陷入之象，深為可慮。議從陽明升舉，擬仲聖葛根湯之例，不必襲其方，此許學士法也。</p>
<p>豆卷　桔梗　厚朴　葛根　穀芽　橘白　茯苓　花粉　於朮</p>
<p>又　脈象虛數，風陽頻動，不食而眩暈，肝犯脾及胃，中無砥柱矣。議用四君子湯加入鎮攝之品，以防其厥逆。</p>
<p>四君子湯加決明　牡蠣　藕</p>
<p>端士先生，十八九歲嘔血，寫煎方，囑其服二十劑，丸方服兩料。後按服六味丸五年，至今三十五歲不發。按：人之一身，水欲其升，火欲其降，有泰象也。乃自縱欲而不知節，腎關不固，白濁夢泄，諸症悉生，火炎上，水趨下，陰精不固，遂成不交之否。精也、血也、水也，名為三而實則一；故精傷而且咯血矣。精既傷，氣亦隨之，所謂精者陰也，氣者陽也，畏寒即傷氣之證。治法宜填、宜固、宜攝，後當更補其陰中之陽，斯可收全效。</p>
<p>熟地　黑殼建蓮　芡實　料豆皮　蓮鬚　大淡菜藕</p>
<p>又　病因染疫失調，遂咯血，此必因去邪之故，奪汗傷營致此。今年復發，且多盜汗；此非衛外陽虛，由陰火內逼而使之出，宜養陰以固之。若投固表之劑，如黃耆之類，恐氣升而里愈虛矣。</p>
<p>熟地　淮麥　穭豆皮　茯神　白芍　藕　牡蠣</p>
<p>又　嘔血不止，於填陰中用堵截法。</p>
<p>熟地　三七　阿膠　穭豆皮　花蕊石　大淡菜　沙參　扁豆　沖童便一小杯。</p>
<p>丸方</p>
<p>龜板（炙）　線膠（蛤粉炒）　湘蓮　芡實粉　蓮鬚　豬脊髓　金櫻子（去心焙，各四兩）　淡菜（八兩，焙）　石決明（煅）　牡蠣　茯神（各三兩）　五味（炒，二兩）　遠志炭　飛辰砂（各一兩）　用懷山藥四兩，炒黃煮漿，和入豬脊髓搗丸。</p>
<p>端士先生四弟媳，懷妊七月，胎氣上衝動躍，竟日呼號，腹痛如割。松心老人適他出，延他醫診治，服安胎藥，胎不動，而腹痛更甚。醫者以為胎死腹中，欲下之，而加入人參。適老人歸，延視，才到即問可曾下血，病家答曰：未下，先生曰：痛在氣分，未到血分。遂定一方，服一劑全愈。越三日分娩，母子安好。</p>
<p>案：胎元不安，以暑濕之邪擾中為患。語云：通則不痛，必有所阻矣。氣分不宣，理應有之，胎氣上衝亦因乎此，議和中安胎法。</p>
<p>蘇梗（三分，花露磨沖）　炒半曲（錢半）　陳皮（一錢）　佛手皮（錢半）　炒麥仁（三錢）　荷花露（半杯）　加青苧三錢，紋銀一錠。</p>
<p>又　衝陽挾肝邪上逆，血遂溢。議進大補陰煎。</p>
<p>熟地（一兩）　川柏（一錢、鹽水炒）　龜板（六錢、炙）　知母（錢半、鹽水炒）　蛤殼（一兩）　牡蠣（一兩六錢）　藕汁（一酒杯，沖）</p>
<p>李某　脈滑多痰，痰即濕邪之出路，宣通濕鬱，即不成痹。</p>
<p>生白朮　陳皮　萆薢　木瓜　半夏　茯苓　米仁</p>
<p>又　中虛有濕，以健脾祛濕為主。</p>
<p>生於術　白麻骨　續斷　杜仲　茯苓　木瓜　米仁　茯神</p>
<p>又　三氣襲入，多成痹症；此屬行痹，以風勝而往來無定也。酒濕易成熱，辛溫難進，主以淡滲，兼用通絡法。</p>
<p>茯神　萆薢　山藥藤　海桐皮　木瓜　桑枝　絡石藤</p>
<p>又方：豆卷　萆薢　防己　秦艽　木瓜　薑黃　苡仁　黃松節　茯苓　桑枝</p>

<h2>附：調經種子保胎神效方</h2>
<p>細地　料豆衣　杜仲　川石斛（各三錢）　青蒿子　沙苑子　生麥芽　炒丹皮　炒黑橘核　四制香附（各錢半）　白薇　杞子炭　淡芩（各一錢）　牛角䚡、燒赤存性（二錢）　炒黑小茴香（五分）</p>
<p>上藥於行經前二日服起，連服三劑，下月照服，經調有□□□□□□□□倍搗生地為丸，每服三錢，並能保胎。（中間缺文八字，以意念會之，有字下必系孕字云云。）</p>
