<header data-type="book">
<h1>太醫局諸科程文格</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>何大任</data>序</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·太醫局諸科程文格》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0039/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
