<header data-type="book">
<h1>素問病機氣宜保命集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>醫籍考認定為河間<data>劉完素</data>著；或謂係金·易州<data>張元素</data>著</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM024</dd></div>
</dl>
</header>
<h2>素問病機氣宜保命集敘</h2>
<p>夫醫道者，以濟世為良，以愈疾為善，蓋濟世者憑乎術，愈疾者俠乎法，故法之與術悉出內經之玄機。此經固不可力而求，知而得也，況軒岐問答，理非造次，奧藏金丹寶典，深隱生化玄文為修行之經路，作達道之天梯，得其理者用如神聖，失其理者似隔水山，其法玄妙，其功深遠，固非小智所能窺測也。若不訪求師範，而生穿鑿者，徒勞皓首耳。余二十有五，志在內經，日夜不輟，殆至六旬，得遇天人授飲美酒，若橡斗許面赤，若醉一醒之後，目至心靈大有開悟，衍其功療，左右逢源，百發百中。今見世醫多賴祖名，倚約舊方，恥問不學，特無更新之法，縱聞善說反怒為非，嗚呼患者，遇此之徒，十誤八九，豈念人命死而不復者哉。仁者鑒之，可不痛與，以此觀之，是未知陰陽變化之道，況木極似金，金極似火，火極似水，水極似土，土極似木，故經曰：亢則害，承仍制，謂已亢極反似勝己之化。俗流未知，故認似作是，以為陰陽失其本意，經所謂誅罰無過，命曰大惑。醫徒執迷反肆傍識，縱用獲效，終無了然之悟，其道難與語哉。僕見如斯，首述玄機，刊行於世者，已有宣明等三書，革庸病之鄙陋，正俗論之舛訛，宣揚古聖之法則，普救後人之命。令將餘三十年間，信如心手親用若神，遠取諸物，近取諸身，此物立象直明真理，治法方論，裁成三卷三十二論，目之曰：素問病機氣宜保命集。此集非崖略之說，蓋得軒岐要妙之旨，故用之可以濟人命，捨之無以活人，生得乎心髓秘之筴笥，不敢輕以示人，非絕仁人之心，蓋聖人之法，不遇當人，未易授爾，後之明者，當自傳焉，時大定丙午閏七月中元日，河間劉完素守真述。</p>
<h2>卷上</h2>
<h3>原道論第一</h3>
<p>經曰：觀天之道，執天之行盡矣。蓋天一而地二，北辦而南交，入精神之運以行矣。擬之於象則水火也，畫之於卦則坎離也。兩者相須彌蒲六合，物物得之，況於人乎。蓋精神生於道者也，是以上古真人把掘萬象，仰觀日月，呼吸元氣，運氣流精，脫骨換形，執天機而行六氣，分地紀而運五行，食乳飲血，省約儉肓，日夜流光，獨立守神，肌肉若一，故能壽敝天地，無有終時，此其道生之要也。夫道者，能卻老而全形，身安而無疾，夫水火用法象也，坎離言交變也，萬億之書，故以水為命，以火為性，土為人，人為主性命者也。是以主性命者在乎人，去性命者亦在乎人，養性命者亦在乎人，何則修短壽夭皆自人為，故經曰：精神內守，病安從來。又曰：務快其心，逆於生樂，所以然者，性命在乎人，故人受天地之氣，以化生性命也。是知形者生之舍也，氣者生之元也，神者生之制也，形以氣充，氣耗形病，神依氣位，氣納神存，修真之士，法於陰陽，和於術數，持滿御神，專氣抱一，以神為車，以氣為馬，神氣相合，可以長生，故曰：精有主，氣有元，呼吸元氣，合於自然，此之謂也。智者明乎此理，吹噓呼吸，吐故納新，熊怪鳥伸，導引按蹻，所以調其氣也，平氣定息，掘固凝想，神宮內視，五臟照徹，所以守其氣也。法則天地順理，陰陽交搆，坎離濟用，水火所以交其氣也，神水華池，含虛鼓嗽，通行榮衛，入於元官，溉五臟也。服氣於朝，閑想於暮，陽不欲迭，陰不欲覆，鍊陰陽也，以致起居適早晏，出處協時令，忍怒以全陰，抑喜以全陽。泥丸欲多櫛，天鼓欲常鳴。形欲常鑑，津欲常嚥，體欲常運，食欲常少。眼者身之鑑也，常居欲頻修。耳者體之牖也，城廓欲頻治。面者神之庭也，神不欲覆。髮者腦之華也，腦不欲減。體者精之元也，精不欲竭。明者身之寶也，明不欲耗。補瀉六腑，淗鍊五精，可以固形，可以全生，此皆修真之要也。故修真之要者，水火欲其相濟，土金欲其相養，是以全生之術，形氣貴乎安，安則有倫而不亂，精神貴乎保，保則有要而不耗，故保而養之，初不離於形氣精神，及其至也，可以通神明之出，皆在於心獨不觀。心為君主之官，得之所養，則血脈之氣王而不衰，生之本無得而搖也，神之變無得而測也。腎為作強之官，得所養則骨髓之氣榮而不枯，蟄封藏之本無得而傾也，精之處無得而奪也。夫一身之間，心居而守正，腎下而立，始精神之居，此宮不可大，勞亦不可竭，故精太勞則竭，其屬在腎，可以專嗇之也。神太用則勞，其藏在心，靜以養之，唯精專然後可以內守，故昧者不知於此，欲拂自然之理，謬為求補之術，是以偽勝真，以人助天，其可得乎。</p>
<h3>原脈論第二</h3>
<p>大道之渾淪莫知其源，然至道無言，無以明其理，大象無形，非立象無以測其奧。道象之妙非言不明，嘗試原之脈者何也，非氣血動而不息，榮行脈中，衛行脈外。經曰：脈者血之府也。自素問而下迄於今，經所不載，無傳記而莫聞其名焉，然而玄機奧妙聖意幽微，雖英俊明哲之士，非輕易可得而悟也。夫脈者，果何物乎，脈者有三名：一曰命之本，二曰氣之神，三曰形之道。經所謂天和者是也，至於折一支，瞽二目，亦不為害。生而脈不可須臾失，失則絕命害生矣。經曰：春弦（一曰長），夏洪（一曰鉤），秋毛（一曰濇），冬石（一曰沉），此言正脈同天真造化之元氣也。巡於春夏秋冬木火水金之位，生長收藏參和相應，故稟二儀而生，不離於氣，故於脈有生死之驗。經曰：脈者血之府也，如世之京都州縣有公府廨署也，國因置者，所以禁小人為非道也，公府不立，則善者無以伸其枉惡者，無以罰其罪邪，正混同賢愚雜處而亂之根也。經曰：五運陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本，始神明之府也。既陰陽為神明之府，脈為血之府而明可見焉。血之無脈，不得循其經絡，部分週流於身，滂派奔迫，或散或聚，氣之無脈不能行其筋骨臟腑上下，或暴或蹶，故經曰：出入廢則神機化滅，升降息則氣立孤危，故氣化則物生，氣變則物易，氣盛則物壯，氣弱則物衰，氣絕則物死，氣正則物和，氣亂則物病，皆隨氣之盛衰而為變化也。脈字者從肉，從永，從瓜，從血，四肢百骸得此真元之氣血肉筋骨爪髮，榮茂可以倚憑而能生長也。長久永固，道故從肉，從永者是也，從瓜從血者，巡之如水分流，而布遍週身，無有不通也，釋名曰脈，脈慕也，如幔幕之遮覆幕絡一體之形，導太一真元之氣也。元氣者，在氣非寒，非熱，非暖，非涼。在脈者非弦，非洪，非濇，非沉，不為氣而泮沉，不為血而流停，乃沖和自然之氣也。故春溫夏熱秋涼冬寒，所以然者，為元氣動而不息，巡於四方木火水金之位，溫涼寒暑之化，生生相續，新新不停，日月更出，四序迭遷，脈不為息，故人有身形之後，五臟既生，身中元氣即生焉。故春弦夏洪秋毛冬石，此四時之氣也，而脈者乃在其中矣。道經曰：視之不見，聽之不聞，搏之不得，迎之不見其首，隨之不見其後，此如脈之謂也。又云：埏填以為器，當其無有器之用，故有之以為利，無之以為用。又曰：吾不知名字之曰道，強為之名曰大，斯立脈之名之本意也。故道者，萬物之奧脈者，百骸之靈奧。靈之妙，其道乃同元氣者，無器不有，無所不至，血因此而行，氣因此而生，故榮行脈中，衛行脈外，瞻之在前，忽然在後，而不匱者，皆由於脈也。分而言之曰氣曰血曰脈，統而言之惟脈運行血氣而已。故經曰：血氣者，人之神，不可不謹養也。陰陽別論曰：所謂陽者，胃脘之陽也，此陽者言脈也，胃者土也，脈乃天真造化之氣也，若土無氣則何以生長收藏，若氣無土何以養化萬物，是無生滅也。以平人之氣常稟於胃。正理論曰：穀入於胃，脈道乃行，陰陽交會，胃和脈行，人稟天地之候，故春胃微弦曰平，得弦而無胃曰死，夏胃微鉤曰平，但鉤而無胃曰死，長夏微耎曰平，但弱而無胃曰死，秋胃微毛曰平，但毛而無胃曰死，冬胃微石曰平，但石而無胃曰死。陰者，真藏也，見則為敗，敗則必死，五藏為陰，肝脈至中而無，外急如循刀刃責責然，如按琴弦。心脈至堅而慱，如循薏以仁累累然。肺脈至大而虛，如毛羽中人皮膚。腎脈至慱而絕，如以指彈石辟辟然。脾脈弱而乍數乍疏。夫如此脈者，皆為藏脈獨見而無胃脈，五藏皆至懸絕而死，故經曰：別於陽者，知病忌時，別於陰者，知生死之期，故人性候躁急懁促，遲緩耎弱，長短大小，皮堅肉厚，各隨其狀。而脈應之常以一息四至為準者，言呼出心與肺，吸入腎與肝，五者胃兼主四旁，在呼吸之聞也。數則為熱，遲則為寒，如天之春秋二分，陰陽兩停，晝夜各得五十度，自此添一遭則熱，減一遭則寒。脈之妙道，從此可知矣。或如散葉，或如燃薪，或如丸泥，或如絲縷，或如湧泉，或如吐頹，或如偃刃，或如轉索，或如遊魚。假使千變萬化，若失常者乃真元之氣離絕，五臟六腑不相管轄，如喪家之狗，元氣散失而命絕矣。經曰：積陽為天，積陰為地，陽化氣，陰成形。此言一氣判而清濁分也，元氣者，天地之本，天和者，血氣之根。華陀云：脈者，謂血氣之先也。孔子曰：天不言而四時行焉，百物生焉，而脈亦如之。又經曰：自古通天者，生之本，皆通乎天氣也，通天者，謂通元氣天真也，然形體者假天地之氣而生，故奉生之氣通計於天，稟受陰陽而為根本，天地合氣命之曰人，天氣不絕，真靈內屬，動靜變化，悉與天通。易云：乾坤成列而易立乎其中矣。故天地之體得易而後生，天地之化得易而後成，故陽用事則春生夏長，陰用事則秋收冬藏，寒往則暑來，暑往則寒來，始而終之，終而復始，天地之化也，而易也默然於其間，而使其四序各因時而成功，至於寒不凌暑，暑不奪寒，無愆陽伏陰之變，而不至於大肅大溫，故萬物各得其沖和之氣，然後不為過而皆中節也。道經曰：萬物負陰而抱陽，沖氣以為和，百姓日用而不知，斯脈之道也，故脈不得獨浮沉，獨大小，獨盛衰，獨陰陽，須可沉中有浮，浮中有沉，大中有小，小中有大，盛中有衰，衰中有盛，陰中有陽，陽中有陰，克塞一身之中，盈溢百骸之內，無經絡不有，無氣血不至，養筋骨毛髮堅壯膩澤，非心非腎非肝非脾，五臟之盛，真氣固密不為邪傷。若憂愁思慮，饑飽勞逸，風雨寒暑，大驚卒恐，真氣耗亂，氣血分離，為病之本。噫夫萬物之中，五常皆備，審脈之道而何獨無五常邪。夫仁固衛一身充盈，五臟四肢百骸皆得榮養，無沖和之氣，獨真藏脈見則死矣。生則不見，死則獨見，好生惡死，此仁之謂也。分布軀體和調氣血，貴之在頭目耳鼻，賤之在蹠臀陰篡。不得上而有，不得下而無，無所不施，無所不至，此義之謂也。長人脈長，短人脈短，肥人脈沉，瘦人脈浮，大人脈壯，小人脈弱，若長人短，短人長，肥人浮，瘦人沉，大人弱，小人壯，夫如此者，皆不中理而為病。此禮之謂也，見在寸則上病，見在關則中病，見在尺則下病。五臟有疾，各有部分，而脈出見不為潜藏伏匿，一一得察有餘不足，而愈其病，此智之謂也。春弦夏洪秋毛冬石，太陽之至其脈沉，太陰之至其脈大而長，少陰之至其脈浮，陽明之至其脈濇而短，少陽之至其脈姁，厥陰之至其脈弦，四序不失其期，六氣為常準者，此信之謂也。非探願索隱鉤深致遠，學貫天人，旁通物理者，未能達於此矣。</p>
<h3>攝生論第三</h3>
<p>論曰：內經謂法於陰陽，和於術數，飲食有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年，度百歲乃去。今時之人不然也，以酒為漿，以妄為常，醉以入房，以欲竭其精以耗散冥真，不知持滿，不時御神，務快其心，逆於生，樂起居無節，故半百而衰也。且飲食起居乃人生日用之法，縱恣不能知節，而欲傳精神、服天氣者不亦難乎。又經曰：飲食自倍，腸胃乃傷，起居如驚，神氣乃浮，是以聖人春木旺以膏香助胃，夏火旺以膏腥助肺金，用事膳膏臊以助肝水，用事膳膏膻以助心，所謂因其不勝而助之也。故食飲之常保其生之要者，五穀五果五畜五菜也。脾胃待此而食廩備，三焦待此而道路通，榮衛待此以清以濁，筋骨待此以柔以正。故經云：蓋五味相濟，斯無五宮之傷，所以養其形也，雖五味為之養形，若味過於酸，肝氣以津，脾氣乃絕。味過於鹹，大骨氣勞短𦠄必氣抑，味過於甘，心氣喘滿，色黑腎氣不衝，味過於苦，脾氣不濡，胃氣乃厚，味過於辛，筋脈沮弛，精神乃央。所謂失五味之常，而損其形也。王注曰：味有倫緣，臟有偏絕，此之謂也。飲食者養其形，起居者調其神，是以聖人春三月，夜臥早起，被髮緩形，見於發陳之時，且曰以使志生。夏三月夜臥早起，無厭於日，見於蕃秀之時，且曰使志無怒，使氣得泄。秋三月早臥早起，與雞俱興，見於容平之時，收歛神氣，且曰使志安寧，以應秋氣。冬三月早臥晚起，去寒就溫，見於閉藏之時，且曰使志若茯若匿，有私意，若已有得此，順生長收藏之道，春夏養陽，秋冬養陰，順四時起居，法所以調其神也。經所謂逆於春氣則少陽不生，肝氣內變。逆於夏氣則太陽不長，心氣內涸。逆於秋氣則太陰不收，肺氣焦滿。逆於冬氣則少陰不藏，腎氣獨沉。此失四時之氣，所以傷其神也，智者順四時，不逆陰陽之道，而不失五味損益之理，故形與神俱久矣，乃盡其天年而去。與夫務快其心，逆於生樂者，何足與語此道哉。故聖人行之，賢者佩之，豈虛語哉。</p>
<h3>陰陽論第四</h3>
<p>論曰：天地者，陰陽之本也，陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本，始神明之府也。故陰陽不測謂之神，神用無方謂之聖。倘不如此，謂天自運乎，地自處乎，豈足以語造化之全功哉。大哉乾元萬物資始至哉，坤元萬物資生，所以天為陽，地為陰，水為陰，火為陽，陰陽者男女之血氣，水火者陰陽之徵兆，惟水火既濟，血氣變革，然後剛柔有體而形質立焉。經所謂天覆地載萬物悉備，莫貴乎人，人稟天地之氣生，四時之法成，故人生於地，懸命於天，人生有形，不離陰陽。蓋人居天之下，地之上，氣交之中，不明陰陽而望延年未之有也。何則蒼天之氣不得無常也，氣之不襲是謂非常，非則變矣。王注曰：且蒼天布氣，尚不越於五行，人在氣中豈不應於天道。左傳曰：違天不祥。繫辭云：一陰一陽之謂道。老子曰：萬物負陰而抱陽，故偏陰陽謂之疾。夫言一身之中外為陽，內為陰，氣為陽，血為陰，背為陽，腹為陰，腑為陽，臟為陰，肝心脾肺腎五臟皆為陰，胃大腸小腸膀胱三焦六腑皆為陽。蓋陽中有陰，陰中有陽，豈偏枯而為道哉。經所謂治心病者必求其本，是明陰陽之大體，水火之高下，盛衰之補瀉，遠近之大小，陰陽之變通。夫如是惟達道人可知也。</p>
<h3>察色論第五</h3>
<p>論曰：聲合五音，色合五行，聲色符合，然後定立臟腑之榮枯。若滋榮者，其氣生如翠羽、雞冠、蟹腹、豕膏、烏羽是也，枯夭者其氣敗如草茲、衃血、枳實、柘骨、如炱是也。至如青赤見於春，赤黃見於夏，黃白見於長夏，白黑見於秋，黑青見於冬，是謂五臟之生者，以五行之相繼也，得肝脈色見青白，心脈色見赤黑，脾脈色見黃青，肺脈色見白赤，腎脈色見黑黃，是謂真臟之見者，以五行之相克也。若乃肺風而眉白，心風而口赤，肝風而目青，脾風而鼻黃，腎風而肌黑。以風善行數變故爾。肝熱而左頰赤，肺熱而右頰赤，心熱而顏赤，脾熱而鼻赤，腎熱而頤赤，以諸熱皆屬火故爾。以至青黑為痛，黃白為熱，青白為寒，以九氣不同故爾。鼻青為腹水，黑為水氣，白為無血，黃為胸寒，赤為有風，鮮明為留飲，而五色取決於此故爾。然審病者，又皆以真脾之為本，蓋真脾之黃，是謂天之氣，五色又明，病雖久而面黃必生者，以其真氣外榮也。此數者雖皆成法，然自非心清見曉於冥冥，不能至於此，故五色微診可以目察尤難。難經曰：望而知之謂之神，為見五色於外，故決死生也。</p>
<h3>傷寒論第六</h3>
<p>論曰夫熱病者皆傷寒之類也，或愈或死，止於六七日間。若兩感於寒者，必不免於死。經所謂人所傷於寒者，則為病熱，熱雖甚不死。蓋傷寒者，非雜病所比，非仲景孰能明於此，故張僊公深得玄機之理趣，達六經之標本，知汗下之淺深，若投湯劑正與不正，禍福影響，何暇數日哉？然仲景分三百九十法，一百一十二方，其證有六，其治有四。經云一日巨陽受之，其脈尺寸俱浮，二日陽明受之，其脈尺寸俱長，三日少陽受之，其脈尺寸俱弦。四日太陰受之，其脈尺寸俱沉。五日少陰受之，其脈尺寸俱微緩。六日厥陰受之，其脈尺寸俱沉嗇。其太陽病者，標本不同，標熱本寒，從標則太陽發熱，從本則膀胱惡寒，若頭項痛腰脊強，太陽經病也，故宜發汗。其陽明病者，雖從中氣標陽本實，從標則肌熱，從本則譫語，若身熱頭疼鼻乾不得臥，陽明經病故宜解肌。太陽傳陽明非表裏之傳，若譫語從本為實，故宜下便。王注曰：以陽感熱，其少陽病者標陽本火，從標則發熱，從本則惡寒，前有陽明，後有太陰，若胃脇痛而耳聾，往來寒熱，少陽經病，故宜和解。其太陰病者標陰本溼，從標則身目黃，從本則腹滿而嗌乾，太陽經病故宜泄滿下溼，從其本，治其標。少陰病者標陰本熱，從標則爪甲青而身冷，從本則脈沉實而發渴。若口燥舌乾而渴，少陽經病故宜溫標下本。其厥陰病者故厥陰之中氣宜溫也。若煩滿囊縮厥陰經病故為熱，宜苦辛下之，故經曰：所為知標知本萬舉萬當，不知標本是為妄行，又曰：各通其臟，乃懼汗泄，非宜之謂也。故明斯六經之標本，乃知治傷寒之規矩，此所謂證有六也。且如發汗桂枝、麻黃之輩，在皮者汗而發之，葛根、升麻之輩，因而輕而揚之法也。承氣：陷胸之輩，下者因而竭之法也。瀉心、十棗之輩，中滿泄之法也。瓜蒂、梔豉者，高者因而越之法也。故明此四治之輕重，可為了傷寒之繩墨，此之謂其治有四也。若明六經四法，豈四法豈有發黃生斑，畜血之壞證，結胸痞氣之藥，過難經所謂未滿三日可汗而已，其滿三日可泄而已，故仲景曰：太陽病脈浮緊無汗，身疼痛八九日不解，表證仍在。當發其汗，宜麻黃湯主之，少陰病得三二日，口燥咽乾者，急宜大承氣下之。孰敢執於三四日汗泄之定法也，是以聖人書不盡言，言不盡意，說其大概，此之謂也。經所謂發表不遠熱，攻裏不遠寒，余自製解通聖辛涼之劑，不遵仲景法桂枝、麻黃發表之藥，非余自衒，理在其中矣。故此一時，彼一時，柰五運六氣有所更，世態居民有所變，天以常火，人以常動，動則屬陽，靜則屬陰，內外皆擾，故不可峻用辛溫大熱之劑。縱獲一效，其禍數作，豈曉辛涼之劑以蔥白、鹽豉，大能開發鬱結，不惟中病令汗而愈，免致辛熱之藥攻表不中，其病轉甚，發驚狂衄血斑出皆屬熱藥所致。故善用藥者須知寒涼之味，況兼應三才造化通寒之理也。故經所謂不知年之所加，氣之盛衰，虛實之所起，不可以為功矣。大抵雜病者，氣之常也。隨方而異，其治不仝，卒病者，氣之異，其治則同，其愈則異。昔黃帝與四方之問岐伯，舉四治之能，故傷寒之法備矣哉。大矣哉。若視深淵，如迎浮雲，莫知其際，是以知發表攻裏之藥性，察標本虛實之併傳，量老少壯弱之所宜，勞逸緩急之稟性，切脈明陰陽之分部，詳證之邪氣之淺深，故可宜會通之法矣。內經曰：謹熟陰陽，無與眾謀，此之謂也。</p>
<h3>病機論第七</h3>
<p>論曰：察病機之要理，施品味之性用，然後明病之本焉。故治病不求其本，無以去深藏之大患，故掉眩收引膹鬱腫脹，諸痛癢瘡瘍皆根於內。夫百病之生也，皆生於風寒暑濕燥火，以知化之變也。經言：盛者瀉之，虛者補之，余錫以方士，而方士用之，尚未能十全。余欲令要道必行，桴鼓相應，猶拔刺雪污，工巧神聖可得備聞。靈樞經曰：刺深而猶可拔，污深而猶可雪。莊子曰：雪猶洗也。岐伯曰：審察病機無失氣，宜此之謂也。黃帝曰：願聞病機何如，岐伯對曰：</p>
<p>諸風掉眩皆屬於肝，少慮無怒，風勝則動肝者，罷極之本，魂之居也。其華在爪，其充在筋，以生血氣，其味酸，其色蒼，為將軍之官，謀慮出焉，此為陰中之少陽，通於春氣，其脈弦。王注曰：肝有二布葉，一小葉如木甲拆之狀，故經所謂其用為動，乃木之為動，火太過之政亦為動，蓋火木之主，暴速所以掉眩也，掉搖也，眩昏亂也，旋運皆生風故也。是以風火皆屬陽，陽主動。其為病也，胃脘當心痛，上支兩脇隔咽不通，食飲不下，甚則耳鳴眩轉目不識人，善暴僵仆，裏急軟戾，脇痛嘔泄，甚則掉眩巔疾，兩脇下痛引少腹，令人善怒也。虛則目視䀮䀮而無所見耳，無所聞，善恐如人將捕之。凡病肝木風疾者，以熱為本，以風為標，故火本不燔，遇風冽乃焰，肝本不甚熱，因金衰而主肺金不勝，心火木來佞於金，故諸病作矣，其為治也燥勝風。王注曰風自木生，燥為金化，風餘則制之以燥，肝勝治以清涼，清涼之氣金之氣也。木氣之下金氣承之，又曰風淫於內，治以辛涼，肝欲散急食辛以散之，故木主生榮而主春，其性溫故風火則反涼而毀折，是兼金化制其木也。故風病過極而反中外燥澀，是反兼金化也，故非為金制其本，是甚則如此。中風偏枯者由心火暴勝而水衰不能制，則火實剋金，金不能平木則肝水勝，而兼於火熱則卒暴僵仆。凡治消癉仆擊，偏枯痿厥，氣滿發肥，貴膏梁之疾也，故此藏氣平則數和，太過則發生，不及則委和。諸痛癢瘡瘍皆屬於心，靜則神明熱勝則腫，心者生之本，神之變也，其華在面其充在血，脈為陽中之太陽，通於夏氣其脈鉤，其味苦其色赤，為君主之官，神明出焉。此陽中之陽也。王注曰心形如未敷蓮花，中有七空以導引天真之氣，神明之宇也。經所謂其用為燥，火性燥動其明於外，熱甚火赫爍石，流金火之極變也，燔焫山川，旋反屋宇火之災眚也。故火非同水，水智而火愚，其性暴速，其為病也當胸中熱嗌乾，右胠滿皮膚痛，寒熱咳喘唾血，血泄鼽衄嚏嘔溺色變，甚則瘡癢胕腫肩背臑，缺盆中痛瘍疼身熱驚惑，惡寒戰慄譫妄，衄衊語咲，瘡瘍血流，狂妄目赤，胸中痛脇下痛，背膺肩甲間痛兩臂痛，虛則胸腹大，脇下與腰背相引而痛，其為治法以寒勝熱。王注曰小熱之氣，涼以和之，大熱之氣寒以取之，甚熱之氣汗以發之，發之不盡逆制之，制之不盡求其屬以衰之。又曰用水之主以制陽光。經曰氣有多少，病有盛衰，治有緩急，方有大小，此之謂也。是以熱淫於內治以鹹寒，佐以甘苦，以酸收之，以苦發之。心欲耎急食鹹以耎之，君火之下陰精承之，火氣之下水氣承之，是故火主暴虐，故燥萬物者莫熯乎火，夏月火熱極甚則天氣薰味，而萬物反潤以水出，液林木津流及體熱，極而反汗液出，是火極而反兼水化。俗以難辯認，以是作非，不治已極，反攻王氣是不明標本，但隨兼化之虛象，妄為其治，反助其病而害於生命多矣。故此藏平則升明，大過則赫曦，不及則伏明。王注曰百端之起，皆自心生。諸濕腫滿皆屬脾土，味和氣化，濕勝則濡泄。脾者倉廩之官，本營之居也，名曰化糟粕轉味而出入者也。其華在唇，其充在肌，其味甘，其色黃，故為倉廩之官。又名諫議之官，五味出焉，此至陰之類，通於土氣為陰中至陰，脾也其脈緩。王注曰脾形象馬蹄內包胃脘，象土也，其用為化兼四氣，聚散復形群品，以主溉灌，肝心腎不主於時，寄旺四季。經所謂善不可見，惡不可見也。其變驟注，其災霖潰，其為病也胕腫骨痛，陰脾按之不得，腰脊頭頸痛，時眩大便難，陰氣不用，飲不欲食，咳唾則有血，積飲否膈，中滿霍亂吐下，為善肌肉痿足不收，行脇嗔嘔吐泄注下。王注曰脾熱則生，虛則腹滿腸鳴飧泄食不化者，有胃之寒者，有胃之熱者，色白澄徹清冷皆屬寒，色黃水赤渾濁皆屬於熱。故仲景曰邪熱不殺穀火性疾速，此之謂也。其為治也，風勝溼，溼自土生，風為水化，土餘制之，以風脾盛治之以燥，故溼傷肉，溼勝則濡泄，甚則水閉胕腫。王注曰溼為水，水盛則腫，水下形肉已消，又曰：溼氣為淫，皆為腫滿。但除其溼，腫滿自衰。若溼氣在上，以苦吐之。溼氣在下，以苦瀉之，以淡滲之。治溼之法不利小便非其治也。故溼淫所勝，平以苦熱，佐以酸辛，以苦燥之，以淡泄之。苦溼上甚而熱，治以苦溼佐以甘辛，以汗為故而止溼淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之。脾苦溼急食苦以燥之。又曰土氣之下，木氣承之。本草曰燥可去溼，桑白皮赤小豆之屬。王注曰半身已上，溼氣有餘，火氣復鬱，所以明其熱能生溼。經云風寒在下，燥熱在上，溼氣在中，火遊行其間，是以熱之用矣。故土主溼霒雲雨而宏靜，雨熱極甚則飄驟散落，是反兼風水制其土也。若脾甚土自燥去其溼，以寒除熱。脾土氣衰以甘緩之，所以燥泄積飲，痞膈腫滿，溼熱乾涸消渴慎不可以溫藥補之。故積溫成熱性之溫，乃勝氣之藥也。故此藏喜新而惡陳，常令滋澤無使乾涸，土平則備化，太過則敦阜，不及則卑監。</p>
<p>諸氣膹鬱病痿皆屬於肺金（常清氣利）燥勝則乾。肺者氣之本，魄之處也，其華在毛，其充在皮，其味辛，其色白，而為相傳之官，法節出焉，為陽中之太陰，通於秋氣，其脈毛。王注曰肺之形象有二布葉，一小葉中有二十四空行列，以布分諸藏清濁之氣，經所謂其用為固，其變肅殺，其眚蒼落，其為病也，骨節內變，左胠脇痛，寒清於中，感而瘧，太涼革喉咳腹中鳴注瀉鶩溏，咳逆心脇滿引小腹，善暴痛不可反側，嗌乾面塵色惡，腰痛丈夫㿗疝婦人少腹痛，浮虛鼽尻陰股髀腨胻是病皴揭。實則喘厥逆氣，肩背痛汗出，尻陰股膝髀。虛則少氣不能振息，耳聾嗌乾。其為治也，熱勝燥，燥自金生，熱為火化，金餘則制之，以火肺勝則治之以苦。又曰金氣之下，火氣承之，燥淫於內治以苦溫，佐以苦辛，以苦下之，若肺氣上逆，急食苦以泄之。王注曰制燥之勝，必以苦溫，故受乾病生焉。是以金主於秋而屬陰，其氣涼，涼極天氣清明而萬物反燥，故燥若火是金極而反兼火化也。故病血液衰也，燥金之化，極甚則煩熱氣鬱，痿弱而手足無力不能收持也。凡有聲之痛應金之氣，故此藏乎氣則審平，大過則堅成，不及則不從革。</p>
<p>諸寒收引皆屬於腎水（耗能養動），寒勝則浮，腎者主蟄，封藏之本精之處也。其華在髮，其充在骨，其味鹹，其色黑，為作強之官，伎巧出焉，為陰中之少陰，通於各氣，其脈石。王注曰腎藏有二，形如豇豆，相並而曲附於膂筋，外有脂裹，裏白表黑，主藏精故僊。經曰心為君火，腎為相火，是言在腎屬火而不屬水也。經所謂膻中者，臣使之官喜樂出焉。故膻中者在乳之間，下合於腎水，是火居水位得升則喜樂出焉。雖君相二火之氣，論其五行造化之理同為熱也，故左腎屬水，男子以藏精女子以繫胞，右腎屬火，遊行三焦，興衰之道由於此故。七節之傍，中有小心，是言命間相火也。經所謂其變凝冽，其眚冰雹，其為病也，寒客心痛，腰腿痛，大關節不利，屈伸不便。若厥逆痞堅腹滿寢汗，實則腹脛腫喘身重，汗出憎風，虛則胸中痛大小腹痛，清厥意不樂。王注曰大小腹大小腸也。此所謂左腎水發痛也。若夫右腎命門相火之為病，少氣瘡瘍疥癬癰腫，脇滿胸背首面四肢浮腫，腹脹嘔逆瘛瘲骨痛節有動，注下溫瘧腹中暴痛，血溢流注精液，目赤心熱，甚則瞀昧暴痛，瞀悶懊憹嚏嘔瘡瘍，驚燥喉痹耳鳴，嘔涌暴注瞤瘛暴死，瘤氣結核丹熛皆相火熱之勝也。其為治也寒勝熱，燥勝寒，若熱淫於內治以鹹寒，火淫所勝平以鹹冷，故相火之下，水氣承之。如寒淫於內治以甘寒，佐以甘辛。寒淫所勝平以辛熱。又曰腎苦燥急食辛以潤之，腎欲堅急食苦以堅之。故水本寒，寒急則水冰如地，而能載物。水發而雹雪，是水寒亢極反似剋水之土化，謂兼化也。所謂寒病極者反腎滿也，左腎不足濟之以水，右腎不足濟之以火。故此藏水平則靜順，不及則涸流，大過則流衍。</p>
<p>諸厥固泄皆屬於下，厥謂氣逆，固謂固氣，則肝腎失守，失守則不能禁固，出入無度，燥溼不恒，故氣下則愈也。經所謂厥氣上行，滿脈去形。</p>
<p>諸喘嘔逆皆屬於上，肺者藏之長也，為心之華蓋，故肺熱葉焦，發痿躄是氣鬱不利，病喘息而嘔也，嘔謂嘔酸水，火氣炎上之象也，胃鬲熱甚則為嘔也。若衰火之炎痿躄則愈，利肺之氣喘息自調也，道路開通吐嘔則除。凡病嘔涌溢食皆屬火也。王注曰內格嘔逆，食不得入是有火也。經所謂三陽有餘，則為痿。易王注曰，易有變常用自痿弱無力也，故此者熱之明矣。</p>
<p>諸熱瞀瘛皆屬於火，熱氣勝則濁亂昏昧也。瞀示乃昏也。經所謂病筋脈相引而急。名曰瘛者。故俗為之搐是也。熱勝風搏併於經絡，故風主動而不寍寧，風火相乘是以熱瞀瘛而生矣。治法袪風滌熱之劑，折其火勢，熱瘛可立愈。若妄加灼火，或飲以發表之藥，則死不旋踵。</p>
<p>諸禁豉慄如喪神守皆屬於火，禁慄禁惑如喪神守，悸動怔忪皆熱之內作，故治當以制火，制其神守血榮而愈也。</p>
<p>諸痙項強皆屬於濕。寒溼同性，水火同居，故足太陽膀胱經屬水而位下，所以溼可傷也，其脈起目內背上額交於巔上，其支別從巔入絡於腦，還出下項，故主項強。太陽表中風加之以溼客於經中，內挾寒溼則筋脈抽急，故痙項強而不柔和也，此太陽寒溼，當詳有汗無汗，治以流溼袪風，緩發表而愈也。</p>
<p>諸逆衝上皆屬於火，衝攻也氣炎上，故作嘔涌溢食不下也。</p>
<p>諸脹腹大皆屬於熱，肺王於氣貴乎通暢，若熱甚則鬱於內，故肺脹而腹大，是以火主長而高茂，形現彰顯升明舒榮皆腫之象也。熱去而見白利也。</p>
<p>諸燥狂越皆屬於火，火實則四肢實而能登高也。故四肢者諸陽之本經，所謂陰不勝陽則脈流薄，疾病乃狂是以陽盛，則使人妄語罵詈，不避親踈神明之亂也。故上善若水，下愚若火，此之謂也。治之以補陰瀉陽，奪其食則病已。</p>
<p>諸暴強直皆屬於風。暴虐而害也，強勁有力而不木柔也，乃厥陰風木勢甚而成。王注曰陽鬱於內而陰行於外。千金曰強直為風，治以瀉火補金，木能自平也。</p>
<p>諸病有聲，豉之如豉皆屬於熱，腹脹大而豉之有聲如豉者，熱氣甚則然也。經所謂熱勝則腫，此之類也。是以熱氣內鬱，不散而聚，所以叩之如豉也。諸腹脹大而豉之皆為裏證。何以明之，仲景曰少陰病腹脹，不大便者急下之，宜大承氣湯。所謂土堅勝水則乾，急與大承氣湯下之，以壯腎水，故知無寒其熱明矣。諸病胕腫疼酸驚駭皆屬於火，胕腫熱勝內則陽氣滯故也。疼酸由火實，制金不能平木則木王而為酸，酸者肝之味也。故經所謂二陽一陰，發病主驚駭。王注曰肝主驚，然肝主之原其本也，自心火甚則善驚，所以驚則心動而不寍也。故火衰水平治之本也。</p>
<p>諸轉反戾水液渾濁皆屬於熱，熱氣燥爍於筋，故筋轉而痛應風屬於肝也，甚則吐不止。暍熱之氣加之以泄，溼勝也。若三氣雜乃為霍亂，故仲景日嘔吐而利，名為霍亂，故有乾霍亂，有濕霍亂，得其吐利邪氣得出名溼霍亂也。十存八九若不得吐利，揮霍撩亂邪無出名，曰乾霍亂。十無一生者皆以冒暑中熱，飲食不節，寒熱氣不調，清濁相干，陰陽乖隔則為此病。若妄言寒者大悞誤矣。故熱則小便渾而不清，寒則潔而不濁。故井水煎沸則自然渾濁也。</p>
<p>諸病水液澄徹清冷皆屬於寒，水液為病寒也。故水清淨其氣寒冷，水穀不化而吐利，其色白而腥穢。傳化失常食已不饑，雖有邪熱不殺穀而不饑者，無倦而常好動，其便色黃而酸。王注曰寒者上下所出，及吐出溺出也。又法曰小寒之氣，溫以和之。</p>
<p>諸嘔吐酸暴注下迫皆屬於熱。流而不腐，動而不蠹，故吐嘔酸者胃膈熱。甚則鬱滯於氣物不化而為酸也。酸者肝木之味，或言吐酸為寒者誤也。暴注者注泄也，乃腸胃熱而傳化失常，經所謂清氣在下則生飧泄，下迫者後重裏急，窘迫急痛也。火性急速而能造物故也。俗云虛坐努責而痛也。</p>
<p>諸澀枯涸乾勁皴揭皆屬於燥澀。枯者水液氣衰少，血不榮於皮肉，氣不通利，故皮膚皴揭而澀也。及甚，麻痹不仁，涸乾者水少火多。繫辭云燥萬物者莫熯乎火，故火極熱甚水液乾而不潤於身，皮膚乃啟裂，手足有如斧傷而深三二分者，冬月甚而夏月衰。故法曰寒能收歛，收歛則燥澀皴揭，熱能縱緩則滋榮潤澤澤，皆屬燥金之化也。王注曰物之生滑利，物之死枯澀，其為澀也。宜開通道路養陰退陽，涼藥調之榮血通流，麻木不仁，澀涸乾勁皴揭，皆得其所，慎無服烏附之藥。經所謂金木水火土運行之數，寒暑燥濕火風臨御之化則失道可見。民病可謂凡受諸病者，皆歸於五行六氣，勝復盛衰之道矣。王注曰人生有形不能無患，既有其患亦常有逃生，化出陰陽者也，故曰謹守病機各司其屬，有者求之無者求之，盛者責之虛者責之，必先五勝踈其血氣，令得調達而致和平，此之謂也。</p>
<h3>氣宜論第八</h3>
<p>論曰治病必明六化，分治五味五色所主，五臟所宜，五行之運行，數六氣之臨御化，然後明陰陽三才之數，故數之可數者，人中之陰陽也。然所合之數可得見也。夫陰陽者數之可十，推之可萬，故天地陰陽者不以數推，以象之謂也。經曰丹天之氣，經於牛女戊分。黅天之氣，經於心尾己分。蒼天之氣經於危室柳鬼。素天之氣，經於亢氏昴畢。玄天之氣，經於張翼婁胃。所謂戊己分者，奎壁角軫則天地之門戶也，是以將前三數與天象俱明，始終之六氣所司之高下，在泉淺深之勝復，左右之間，同與不同，三紀太過不及之理。故可分天地之化，產民病之氣宜矣。經所謂太陽司天之政，故歲宜苦以燥之溫之。陽明司天之政，故宜以辛苦汗之清之散之，又宜以鹹。少陽司天之政，故歲宜以鹹，宜辛宜酸滲之，泄之潰之發之，觀氣寒溫以調其氣。太陰司天之政，故宜苦燥之溫之，甚者發之泄之，不發不泄則溫氣外溢，肉潰皮折而水血交流。少陰司天之政，故歲宜鹹以耎之，而調其上甚則以苦發之，以酸收之而安其下，甚則以苦泄之。厥陰司天之政，故歲宜以辛調之，以鹹潤之，人必折其鬱氣，先資其化源，是以迎而奪之，王氣之法也。故云六氣有餘，用熱遠熱，用溫遠溫，用寒遠寒，用涼遠涼，食宜同法此其道也。故王注曰夏寒甚則可以熱犯熱，寒不甚則不可以犯也。若有表證若有裏證，故法云發表不遠熱，攻裏不遠寒，不發不攻而犯寒犯熱，使寒熱內賊其病益甚，故無者生之，有者甚之，所以不遠熱則熱至，不遠寒則寒至，其寒至則堅痞腹痛，急下利之病生矣，熱至則身熱吐下霍亂，癰疽瘡瘍瞀昧昏鬱，注下瞤瘛腫脹吐嘔，鼽血衄血，頭痛骨節變，肉痛血溢血泄，淋閉之病生矣。王注曰食已不肌，吐利腥穢亦寒之疾也，暴瘖冒味目不識人，躁擾狂越譫語，罵詈驚癇亦熱之病也。故經所謂無失天信，無逆氣宜，無翼其勝，無贊其復是謂至也。倘不知斯寒熱內賊，失氣之宜，因不知四時五行，因加相勝。釋邪攻正絕人長命，術不通，經為粗工之戒，是以六氣上司九宮，中司九元，下司九宣，三數俱明，各分主客勝復，淫治剋伐，主病歲物，氣味之厚薄。故經所謂氣味有厚薄，性用有燥靜，治保有多少，力化有淺深。故少陽在泉，寒毒不生。太陽在泉，熱毒不生，故其氣專其味正。少陰在泉，寒毒不生。太陰在泉，燥毒不生，此所謂天化地產，故天地氣合氣，合六節分而萬物化生矣。經所謂謹候氣宜無失病機，病機者寒暑燥溼風，金木水火土，萬病悉自此而生矣。故謹察病機之本，得治之要者乃能愈疾，亦常有不明六氣五行之所宜，氣味之厚薄，所用人身為病之所由而能必獲其效者尠矣哉。</p>
<h3>本草論第九</h3>
<p>論曰流變在乎病，主治在乎物，制用在乎人，三者並明則可以語七方十劑，宣通補瀉輕重澀滑燥濕是十劑也。大小緩急奇偶復是七方也。是以制方之體，欲成七方十劑之用者，必本於氣味生成而成方焉。其寒熱溫涼四氣者，生乎天，酸苦辛鹹甘淡六味者，成乎地。氣味生成而陰陽造化之機存焉。是以一物之中，氣味兼有一藥之內理性不無，故有形者為之味，無形者謂之氣。若有形以無形之治，喘急昏昧乃生。無形以有形之治，開腸洞泄乃起。經所謂陰味出下竅，陽氣出上竅。王注曰味有質故下流便瀉之竅，氣無形故上出呼吸之門，故陽為氣，陰為味，味歸形，形歸氣，氣歸精，精歸化，精食氣，形食味。王注曰氣化則精生，味化則形長，是以有生之大形精為本，故地產養形，形不足者補之以氣，天產養精，精不足者補之以味，形精交養，充實無虧，雖有奇疾弗能為害。故溫之以氣者，是溫之以肺，補之以味者，是補之以腎，是以人為萬物之靈，備萬物之養，飲和食德以化津液，以淫筋脈，以行榮衛，故經所謂陰之所生，本在五味，氣味合而服之，以補精益氣，所以為全生之術，故五穀五畜五菜五菓，甘苦酸辛鹹此為補養之要也。何則穀入於口而聚於胃，胃為水穀之海，喜穀而惡藥，藥之邪所入，不若穀氣之先達，故治病之法，必以穀氣為先，是以聖人論真邪之氣者，謂汗生於穀，不歸於藥石。辯死生之候者，謂安穀則生。過期不惟數於五臟，凡明胃氣為本，以此知五味能養形也。雖藥攻邪如國之用兵，蓋出於不得已也，是以聖人發表不遠熱，攻裏不遠寒，辛甘發散為陽，酸苦涌泄為陰，故辛散，酸收，甘緩，苦堅，鹹耎，隨五臟之病證，施藥性之品味，然後分奇偶大小緩急之制也。故奇偶者七方四制之法，四制者大小緩急也。所謂氣有多少，病有盛衰，治有緩急，方有大小。故大小者，君一，臣二，奇之制也。君二，臣四，偶之制也。君二，臣三，奇之制也。君二，臣六，偶之制也。又曰奇方云君一臣二，君二臣三。偶方云君二臣四，君二臣六。所以七方者，四制之法，奇偶四制，何以明之，假令小承氣，調胃承氣，為奇之小方也。大承氣，抵當湯，為奇之大方也。所謂因其攻下而為之用者，如此桂枝麻黃為偶之小方，葛根青龍為偶之大方。所為因其發而用之者，如此經所謂近者奇之，遠者偶之。身之表者，為遠身之裏者，為近汗者，不以奇下者，不以偶，不以者不用也。故補上治上，制以緩。補下治下，制以急。急則氣味厚，緩則氣味薄，故味厚者為陰薄，是陰之陽為味不純粹者。故味所厚則泄之以下，味所薄則通氣者也。王注曰味厚則泄，薄則通氣，氣厚者為陽，薄者為陽之陰，故附子乾薑，味甘溫大熱，為純陽之藥，為氣厚者也。丁香木香，味辛溫平薄，為陽之陰氣不純粹者也，故氣所厚則發熱，氣所薄則發泄。經曰薄則發泄，厚則發熱。王注曰陰氣潤下，故味薄則發泄，陽氣炎上故氣厚則發熱，味薄為陰少故通泄，氣薄為陽少故汗出。是以論氣味之薄厚，合奇偶之大小，故腎肝位遠數多則其氣緩不能速達於下，必大劑而數少取其迅急，可以走下也。心肺位近數少則其氣急，不能發散於上，必小劑而數多取其氣易散，可以補上也。王注曰肺服九，心服七，脾服五，肝服三，腎服一，乃五臟生成之常數也。若奇之不去，則偶之是謂重方也，偶之不去則反佐，以取之是謂寒熱溫涼，反從其病也。王注曰是以聖人反其佐，以同其氣，令聲應合復令寒熱參合，使其終異而始同，燥潤而敗堅，剛強必折，柔脆自消爾。故逆者正治，從者反治，從少從多觀其可也。假令仲景曰少陰病下利而脈微者，與白通湯利不止，厥逆無脈者，乾嘔煩者，白通加豬膽，人尿。注曰若調寒熱之逆冷，熱必行則熱物冷服，下泄之後冷體自消，熱性便發，由是病氣隨愈，嘔穢皆除，情且不違而致太益，此加人尿豬膽汁鹹苦寒物於白通湯，熱劑中要其氣相從，可去格拒寒也。經所謂熱因寒用，寒因熱用，塞因塞用，通因通用，必伏其所主而先其所因，其始則同，其終則異，可使破積，可使潰堅，可使氣和，可使必已，此之謂也。若病所遠而中道氣味乏者，食而過之，無越其制度。王注曰假令病在腎，而心之氣味飼而冷，是仍急過之，不飼以氣味，腎藥凌心，心腹益衰，與上下遠近例同，是以聖人治上不犯下，治下不犯上，和中上下俱無犯故經所謂誅罰無過，命曰大惑，此之謂也。有中外不相，及其治其主病皆論標本，不令妄攻也。故從所來者為本，其所受者為標，是以內者內調，外者外治，內者調之，不言其治，外者治之，不言其調。經所謂上淫於下所勝乎之，外淫於內所勝治之，此之謂也。若從內之外，盛於外，先調其內而後治其外，從外之內而盛於內者，先治其外而後調其內。王注曰皆謂先除其根底，後削其枝條也，是故病發有餘，本而標之，後治其本。故仲景曰傷寒醫下之，續得下利清穀，身疼痛者，急當救裏，身疼痛清便自調，急當救表。救裏四逆湯，救表宜桂枝湯，故裏不足必先救之，清便自調知裏氣已調，然後急與桂枝湯以救表，是謂病發，本而標之，先治其本，後治其標，此以寒為本也。故知標本者萬舉萬全，不知標本是謂妄行，此之謂也。雖本草曰上藥一百二十種為君應天，中藥一百二十種為臣應人，下藥一百二十種為使應地，治合病者特謂此三品之說未也，經所謂有毒無毒所治為主，適其小大為制也。故主病者為之君，佐君者為之臣，應臣者為之使，非上中下三品之謂也。王注曰但能破積愈疾，解急脫死，則為良方，非必要以先毒為是，後毒乃非，有毒為是，無毒為非，必量病輕重大小之常也。帝曰三品何謂也。岐伯曰所以明善惡之殊貫也，是以聖人有毒無毒，服自有約，故病有新久，方有大小，有毒無毒，宜合常制矣。大毒治病十去其六，常毒治病十去其七，小毒治病十去其八，無毒治病十去其九，穀肉果菜食養盡之，無使過之傷其正也，不盡行復如法。王注曰法謂前四約也，餘病不盡，然再行之毒之小大如約而止，必無大過矣。是以上古聖人謂重身之毒有故無隕，衰其大半而止，故藥之性味本以藥治疾，誠能處以中庸，以疾適當且如半而止之，亦何疑於攻治哉，此之謂也。故非調氣而得者，治之柰何。有毒無毒何先何後，願聞其道。王注曰夫病生類其有四焉，一者殆因氣動而內有所成，為積聚癓瘕瘤氣癭，起結核癲癇之類是也。二者殆因氣動而外有所成者，謂癰腫瘡瘍痂疥，疽痔掉瘛浮腫目赤，熛胗胕腫痛痒之類是也。三者不因氣動而病生於內，留飲澼食饑飽勞損，宿食霍亂悲恐喜怒，想慕憂結之類是也。四者不因氣動而病生於外，為瘴氣賊魅蠱毒蜚尸，鬼擊衝薄墮墜，風寒暑濕，斫射刺割捶⿰扌十之類是也。如此四類者，有獨治內而可愈，大小承氣，陷胸，抵當湯，三花神祐藏用之類是也。有兼治內而愈者，大小柴胡，通聖，洗心，涼鬲，黃連解毒之類是也。有獨治外而愈者，善應膏，拔毒散，點眼生肌之類是也。有兼治外而愈，撥雲散，苦參散，千金內托散之類是也。有先治內，後治外而愈者，熛胗丹毒瘡瘍，疹麩豆之類，悉因三焦相火熱甚於內，必先踈啟其中，涼苦寒之劑盪滌臟腑，或以砭射敷掃塗抹於外者是也。有先治其外，後治其內而愈者，傷寒刺割破傷，皆因風寒之邪從外之內，先以發散其外，發之不已量其淺深，峻泄之有齊，毒而攻擊者暴病，大小便不利，胎死堅積滿脹之類是也。有復無毒而調引者，痰滯氣痞胃虛脾弱，氣不往來，以通經利其氣之藥之類是也。方法所施或勝，或復寒者熱之，熱者寒之，溫者清之，散者收之，抑者折之，燥者潤之，急者緩之，剛者耎之，衰者補之，強者瀉之，堅者削之，留者攻之，客者除之，勞者溫之溫養也，結者散之，燥者濡之，損者溫之補也，逸者行之，勞者動之，驚者平之，平常也，常見常聞。上之吐之，下之泄之，磨之灸之，浴之薄之，劫之燔之，針劫其下，開之發之，適可為故，各安其氣，必清必淨，則病氣衰去，歸其所宗，此治之大體也。是以聖人法無定體，體變布施藥不執方，合宜而用，故論言治寒以熱，治熱以寒，而方士不能廢繩墨而更其道也。有病熱者寒之而熱，有病寒者熱之而寒，二者皆在新病復起，柰何治諸寒而熱者，取之以陰熱之寒者，取之以陽，所謂求其屬也。王注曰謂治之而病不衰退，反因熱寒而隨生寒熱，病之新也。謂其益火之原以消陰翳，用水之主以制陽光，故曰求其屬也。夫取心者不必齊以熱，取腎者不必齊以寒，取但益心之陽，寒亦通行。若強腎之陰，熱之猶可。此論五味所歸五臟，寒熱溫涼之主也。嗚呼聖人之道久塞，而後之人獨不能之也。王注曰言少可以貫多，舉淺可以料深，何法之明也。如此故非聖人之道，孰能至於是耶，是以治病之本，須明氣味之厚薄，七方十劑之法也。方有七，劑有十，故方不七，不足以盡方之變，劑不十不足以盡劑之用。方不對病，非方也，劑不蠲疾，非劑也。今列而論之七方者，大小緩急奇偶復，大方之說有二，一則病有兼證而邪不專，不可以一二味治之，宜君一臣三佐九之類是也。二則治腎肝在下而遠者，宜分兩多而頓復服之是也。</p>
<p>小方之說有二：一則病無兼證邪氣專一，可以君一臣二，小方之治也。二則治心肺在上而迫者，宜分兩微而頻頻少服之，亦為小方之治也。</p>
<p>緩方之說有五：有甘以緩之為緩方者，為糖蜜甘草之類，取其戀鬲也。有丸以緩之為緩方者，蓋丸之比湯散藥力宜行遲故也。有品味群眾之緩方者，蓋藥味眾多各不能騁其性也。有無毒治病之緩方者，蓋藥性無毒則攻自緩也。有氣味薄而緩方者，藥氣味薄則常補於上，比至其下藥力既已衰，為補上治上之法也。</p>
<p>急方之說有四：有急病急攻之，急方者如腹心暴痛，前後閉塞之類是也。有急風蕩滌之急方者，謂中風不省口噤是也，取湯劑蕩滌，取其易散而施攻速者是也。有藥有毒之急方者，如上涌下泄，奪其病之大勢者是也。有氣味厚之急方者，藥之氣味厚者直趣於下，而力不衰也，謂補下治下之法也。</p>
<p>奇方之說有二：有古之單行之奇方者，為獨一物是也。有病近而宜用奇方者，為君一臣二，君二臣三，數合於陽也，故宜下不宜汗也。</p>
<p>偶方之說有二：有兩味相配而為偶方者，蓋兩方相合者是也，有病遠而宜用偶方者，君二臣四，君四臣六，數合於陰也，故宜汗不宜下也。</p>
<p>複方之說有二：有二三方相合之為複方者，如桂枝二越婢一湯之類是也。有分兩勻同之複方者，如胃風湯各等分之類是也。又曰重複之複，二三方相合而用也，反復之復謂奇之不去，則偶之是也。</p>
<p>十劑者宣通補瀉輕重澀滑燥溼</p>
<p>宣者：宣鬱而不散為壅，必宣劑以散之，如痞滿不通之類是也。本草曰宣可去壅，必宣劑以散之，如薑橘之屬攻其裏，則宣者上也，泄者下也，湧劑則瓜蒂梔豉之類是也，發汗通表亦同。</p>
<p>通：留而不行為滯，必通劑以行之，如水病痰癖之類也。本草曰通可去滯，通草防己之屬，攻其內則通者行也，甘遂滑石茯苓芫花，大戟牽牛木通之類是也。</p>
<p>補：不足為弱必補劑以扶之，如氣形羸弱之類是也。本草曰補可去弱，人參羊肉之屬，攻其裏則補養也。經所謂而微，終日乃復言者，此奪氣也，故形不足溫之以氣，精不足補之以味，是以膏梁理疾藥石蠲疾，五穀五畜能補善養也。</p>
<p>瀉：有餘為閉，必泄劑以逐之，如腹脹脾約之類是也。本草曰泄可去閉，即葶藶大黃之屬。經所謂濁氣在上則生䐜脹，故氣不施化而鬱閉不通，所以葶藶大黃味苦大寒，專能洩熱去濕下氣。仲景曰跌陽脈浮而澀，浮則胃強，澀則小便數，浮澀相搏大便難，其脾為約束津液不得四布，苦寒之劑通寒潤燥，而能泄胃強也。</p>
<p>輕：實則氣壅，欲其揚也。如汗不發而腠密，邪勝而中蘊，必輕劑以揚之。本草曰輕可去實，麻黃葛根之屬。經所謂邪在皮者，汗而發之，其實者散而泄之。王注曰陽實則發散。</p>
<p>重：怯則氣浮，欲其鎮也。如喪神守而驚悸氣上，厥以顛疾，必重劑以鎮之。本草曰重可去怯，即磁石鐵粉之屬。經所謂厥成為癲疾，故驚乃平之，所以鎮涎也。故使其物體之重則涎而用之也。</p>
<p>澀：滑則氣脫，欲其收歛也。如開腸洞泄便溺遺矢必澀劑以收之。本草曰澀可去脫，則牡蠣龍骨之屬。如寧神寧聖之類是也。</p>
<p>滑：澀則氣著，欲其利也。如便難內閉，必滑劑以利之。本草曰滑可去著，即冬葵榆皮之屬，滑能養竅故潤利也。</p>
<p>燥：溼氣淫勝腫滿，脾溼必燥劑以除之。本草曰燥可去溼，即桑白皮赤小豆之屬，所以溼甚於上，以苦吐之，淡以泄之是也。</p>
<p>溼：津耗為枯，五臟痿弱榮衛涸流必溼劑以潤之。本草曰溼可去枯，即紫石英之屬，故痿弱者用之。王注曰心熱甚則火獨亢。火炎上，腎之脈常不行，令火盛而上炎用事，故腎脈亦隨火炎，爍而逆上行也。陰氣厥逆，火復內焰，陰上隔陽，下不守位，心氣通脈，故主脈痿，是故腕樞紐如折去而不相提挈，脛筋縱緩而不能任用故也，可下數百行而愈。</p>
<p>故此十劑七方者，乃太古先師設繩墨而取曲直。何叔世方士出規矩以為方員。王注曰嗚呼人之死者，但曰命，不謂方士愚昧而殺之邪，是以物各有性，以謂物之性有盡也。制而用之將使之無盡，物之用有窮也，變而通之將使之無窮。夫惟性無盡，用無窮，故施於品劑，以佐使斯人，其功用亦不可一而足也，於是有因其性而為用者，有因其所勝為制者，有氣同則相求者，有氣相剋則相制者，有氣有餘而補不足者，有氣相感則以意使者，有質同而性異者，有名異而實同者，故蛇之性上竄而引藥，蟬之性脫而退翳，蝱飲血而用以治血，鼠善穿而用以治漏。所謂因其性而為用者，如此弩牙速產以機發而不括也，杵糠下噎以杵築下也。謂因其用為使者，如此萍不沉水，可以勝酒。獨活不⿰扌㸒風可以治其風。所謂因其所勝而為之用制也，如此麻木穀而治風，豆水穀而治水，所謂氣相同則相求者。如此牛土畜乳可以止渴疾，豕水畜心可以鎮恍惚，所謂因其氣相剋則相制也。如此熊肉振羸，兔肝明視。所謂因其氣有餘補不足也。如此鯉之治水，鶩之利水，所謂因其氣相感則以意使者。如此蜜本成於蜂，蜜溫而蜂寒，油本生於蔴，蔴溫而油寒，茲同質而異性也。蘼蕪生於芎藭，蓬蔂生於覆盆，茲名異而實同者也，所以如此之類不可勝舉，故天地賦形不離陰陽，形色自然皆有法象，毛羽之類生於陽而屬於陰，鱗介之類生於陰而屬於陽。空青法水，色青而主肝。丹法火色，赤而主心。雲母法金色白，而主肺。磁石法水，色黑而主腎。黃石脂法土，色黃而主脾。故觸類而長之，莫不有自然之理也。欲為醫者，上知天文下知地理，中知人事，三者俱明，然後可以愈人之疾病，不然則如無目夜遊，無足登涉，動致顛殞而欲愈疾者未之有也。故治病者必明天地之理，道陰陽更勝之先後，人之壽夭，生化之期，乃可以知人之形氣矣。王注曰不明天地之理，又昧陰陽之候，則以壽為夭，以夭以為壽，雖盡上聖救生之道心，明經脈藥石之妙，猶未免世中之誣斥也，明乎醫者幸詳究焉。</p>
<p>素問病機氣宜保命集卷上終。</p>
<h2>卷中</h2>
<h3>中風論第一</h3>
<p>論曰經云風者百病之始，善行而數變。行者動也，風本生於熱，以熱為本，以風為標，凡言風者熱也。叔和云熱則生風，冷生氣，是以熱則風動，宜以靜勝其躁，是養血也。治須少汗亦宜少下，多汗則虛其衛，多下則損其榮，汗下各得其宜，然後宜治。在經雖有汗下之戒，而有中臟中腑之說，中腑者宜汗之，中臟者宜下之。此雖合汗下亦不可過也。仲景曰汗多則亡陽，下多則亡陰，亡陽則損其氣，亡陰則損其形。經曰血氣者人之神，不可不謹養也。初謂表裏不和須汗下之，表裏已和是宜治之在經也。其中腑者面如五色，有表證脈浮而惡寒，拘急不仁或中身之後，或中身之前，或中身之側，皆曰中腑也，其治多易。中臟者唇吻不收，舌不轉而失音，鼻不聞香臭，耳聾而眼瞀，大小便秘結，皆曰中臟也，其治多難。經曰六腑不和，流經為癰，五臟不和，九竅不通，若外無留結，內無不通，必知在經也。初證既定宜以大藥養之，當順時令而調陰陽，安臟腑而和榮衛，察病機審氣宜，而少有愈者。若風中腑者，先以加減續命湯，隨證發其表，若忽中臟者則大便多秘澀，宜以三化湯通其滯，表裏證已定，別無他變，故以大藥和治之。大抵中腑者，多著四肢。中臟者多滯九竅。雖中腑者多兼中臟之證，至於舌強失音，久服大藥能自愈也。有中風溼者夏月多有之，其證身重如山不能轉側，宜服除溼去熱之藥，治之不可用鍼，可用灸。今具六經續命湯，通治八風五痹痿厥等疾，以一歲為總，以六經為別，春夏加石膏知母黃芩，秋冬加桂附。又於六經別藥隨證細分加減，自古名醫不能越此。</p>
<p>凡覺中風必先審六經之候，慎勿用大熱藥烏附之類，故陽劑剛勝積火燎原為消狂，瘡狂腫之屬則天癸竭而榮衛涸，是以中風有此誡。故經所謂邪風之至疾如風雨。易曰撓萬物者，莫疾乎風。若感之淺者留於肌膚，感之深者達骨髓。蓋禍患之機藏於細微，非常人之豫見，及其至也，雖智者不能善具後，是以聖人之教下，皆謂之虛邪賊風，避之有時，故中風者俱有先兆之證。凡人如覺大拇指及次指麻木不仁，或手足不用或肌肉蠕動者，三年內必有大風之類。經曰肌肉蠕動名曰微風，宜先服八風散，愈風湯，天麻丸各一料為效。故手大指次指，手太陰陽明經，風多著此經也。先服袪風滌熱之劑，辛涼之藥治內外之邪，是以聖人治未病，不治已病。又曰善治者治皮毛，是止於萌芽也。故初成獲愈，固久者伐形，是治病之先也。</p>
<p>中風之人如小便不利，不可以藥利之，既得自汗則津液外亡，小便自少，若利之使榮衛枯竭，無以制火煩熱愈甚，當候熱退汗止小便自行也。兼此證乃陽明大忌，利小便須當識此。中風之人能食者，凡中風病多能食，蓋甲已化土，脾盛故能食，由是多食則脾氣愈盛，土剋制腎水，水虧則病增劇也。病宜廣服藥不欲服多，食病能自愈。中風多食風木也，盛則剋脾，脾受敵求助於食。經曰實則夢與，虛則夢取是也。當瀉肝木治風安脾，脾安則食少是其效也。</p>
<p>中風之人不宜用龍麝犀珠，譬之提鈴巡於街使，盜者伏而不出，益使風邪入於骨髓，如油入麵莫能出也，此之類焉。若痰潮不省，昏憒不知，事宜用藥下其痰涎，故風者乃百病之長。</p>
<p>小續命湯</p>
<p>麻黃（去節），人參，黃芩，芍藥，防己，桂枝，川芎，甘草（各一兩），防風（一兩半），附子（半兩），杏仁（一兩）</p>
<p>右除附子杏仁外，搗為麤末，後入二味令勻，每服五七錢，水一盞半，生薑五片，煎至一盞，去滓稍熱服，食前。</p>
<p>凡中風下審六經之加減，雖治之不能去其邪也。內經云開則浙然寒，閉則熱而悶，知暴中風邪宜先以加續命湯，隨證治之。</p>
<p>中風無汗惡寒，麻黃續命主之。</p>
<p>麻黃，防風，杏仁</p>
<p>依本方添加一倍，宜鍼太陽，至陰出血，崑崙舉蹻。</p>
<p>中風有汗惡風，桂枝續命主之。</p>
<p>桂枝，芍藥，杏仁</p>
<p>依本方添加一倍，宜鍼風腑。已上二證皆太陽經中，右為末，不拘時，茶湯調下。</p>
<p>甘露飲</p>
<p>咽痛。</p>
<p>枇杷葉（去毛），熟地，山茵陳，天門冬，枳穀，石斛，生地，甘草，黃芩，麥門冬</p>
<p>水煎服。</p>
<p>薄荷煎</p>
<p>咽痛。</p>
<p>薄荷（一斤取頭末四兩），砂仁，川芎，甘草（各五錢取頭末三錢），腦子（五分另研）</p>
<p>右為末，煉蜜丸如芡實大，臨臥，任意嚥嚼。</p>
<p>又方無腦子有桔梗。</p>
<p>驅瘧飲</p>
<p>瘧。</p>
<p>前胡，柴胡，黃耆，厚朴，半夏，桔梗，甘草，桂心，乾薑</p>
<p>加薑棗水煎服。</p>
<p>四獸飲</p>
<p>瘧。</p>
<p>人參，白朮，茯苓，甘草，陳皮，半夏，草果仁</p>
<p>烏梅薑棗水煎服。</p>
<p>分清飲</p>
<p>小便多。</p>
<p>益智仁，川萆薢，石菖蒲，烏藥（等分）</p>
<p>入鹽少許，水煎服。</p>
<p>清心蓮子飲濁淋。</p>
<p>黃芩，麥冬，地骨皮，車前子，甘草，石蓮肉，茯苓，黃耆，人參。</p>
<p>水煎沉，冷服，發熱加柴胡薄荷。</p>
<p>黃耆飲</p>
<p>三消。</p>
<p>即黃耆六一湯。</p>
<p>參朮飲（增入）</p>
<p>治妊娠轉胞。</p>
<p>四物湯加人參，白朮，半夏，陳皮，甘草。</p>
<p>生薑煎空心服。</p>
<p>四順清涼飲</p>
<p>大便秘。</p>
<p>大黃，當歸，赤芍，甘草。</p>
<p>阜高也，敦厚也，既厚而又高，則令除去，此真所謂膏梁之疾，非肝腎經虛何以明之。經所謂三陽三陰，發病為偏枯痿易，四肢不舉。王注曰三陰不足以發偏枯，三陽有餘則為痿易，易為變易，常用而痿弱無力也。其治則瀉，令氣弱陽衰土平而愈，或三化湯調胃承氣湯選而用之。若脾虛則不用也，經所謂土不及則卑陷，卑下也，陷坑也。故脾病四肢不能稟水穀氣，日以衰脈道不利，筋骨肌肉皆無氣以生，故不用焉。其治可補十全散，加減四物，去邪留正。</p>
<p>愈風湯</p>
<p>中風證內邪已盡，當服此藥以行導諸經，久服大風悉去，縱有微邪，只從此藥加減治之。然治病之法不可失其通塞，或一氣之微汗，或一旬之通利。如此為常治之法也，久則清濁自分，榮衛自和。如初覺風動服此不致倒扑。</p>
<p>羌活，甘草，防風，蔓荊子，川芎，細辛，枳穀，人參，麻黃，甘菊，薄荷，枸杞子，當歸，知母，地骨皮，黃耆，獨活，杜仲，吳白芷，秦艽，柴胡，半夏，前胡，厚朴，熟地黃，防己（各二兩），茯苓，黃芩（各五兩），石膏（四兩），芍藥（三兩），生地黃，蒼朮（各四兩），桂枝（一兩，已上三十味，通七十三兩）</p>
<p>右剉，每服一兩，水二盞煎至一盞，去渣溫服。如遇天陰加生薑煎，空心一服，臨臥。再煎藥柤服，俱要食遠服，空心，一服噀下二丹元為之重劑，臨臥。一服噀下四白丹為之輕劑，動以安神，靜以清肺。假令一氣之微汗，用愈風湯三兩，麻黃一兩，均作四服，一服生薑五片，空心服以粥投之，得微汗則佳。如一旬之通利，用愈風三兩，大黃一兩，亦均作四服，如前煎，臨臥服，得利則妙。常服之藥不可失四時之轉，如望春大寒之後，加半夏二兩通四兩，柴胡二兩通四兩，人參二兩通四兩，謂迎而奪少陽之氣也。初夏之月半加石膏二兩通六兩，黃芩二兩通五兩，知母二兩通四兩，謂迎而奪陽明之氣也。季夏六月加防己二兩通四兩，白朮二兩茯苓三兩，謂勝脾土之濕也。初秋大暑後，加厚朴二兩通四兩，藿香二兩桂一兩通二兩，謂迎而奪太陰之氣也。霜降之後望冬，加附子一兩桂一兩通二兩，當歸二兩通四兩，謂勝少陰之氣也。得春減冬，四時類此。雖立法於四時之加減，又宜臨病之際，審病之虛實熱寒，土地之宜，邪氣之多少，此藥具七情六慾四氣，無使五臟偏勝及不動於榮衛，如風秘服之永不燥結，如久瀉服之則能自調。初覺風氣便能服此藥，及新方中天麻丸各一料，相為表裏，治未病之勝藥也。及已病者更宜常服，無問男子婦人，及小兒驚癇搐急慢驚風等症服之神效。如解利四時傷風，隨四時加減法。又療脾腎虛筋弱，語言難，精神昏憒，及治內弱風溼，內弱者乃風溼火先，體重者乃風溼土餘，內弱之為病或一臂肢體偏枯，或肥而半身不隨，或恐而健忘，喜以多思，故思忘之道皆情不足也。是以心亂則百病生於心，靜則萬病悉去，故此能安心養神，調陰陽無偏勝及不動榮衛。</p>
<p>四白丹</p>
<p>能治消肺氣養魄，謂中風者多昏冒，氣不清利也。</p>
<p>白朮（半兩），白芷（一兩），白茯苓（半兩），白檀（一兩半），人參（半兩），知母（三錢），縮砂仁（半兩），羌活（二錢半），薄荷（三錢半），獨活（二錢半），防風，川芎（各五錢），細辛（二錢），甘草（五錢），甜竹葉，香附子（各五錢炒），龍腦（半錢另研），麝香（一字另研），牛黃（半錢），藿香（一錢半）。</p>
<p>右件二十味計八兩六錢一字為細末，煉蜜為丸，每兩作十丸，臨臥嚼一丸，分五七次嚼之，上清肺氣，下強骨髓。</p>
<p>二丹丸</p>
<p>治健忘養神定志和血，內安心神，外華腠理。</p>
<p>丹參（一兩半），丹砂（二錢為衣），遠志（去心半兩），茯神（一兩），人參（五錢），菖蒲（五錢），熟地黃（一兩半），天門冬（一兩半去心），麥門冬（一兩去心），甘草（一兩）</p>
<p>右為細末，煉蜜為丸如桐子大，每服五十丸至一百丸，空心食前，常服安神定志，一藥清肺，一藥安神，故清中清者歸肺以助天真，清中濁者堅強骨髓，血中清榮養於神，血中之濁榮華腠理。如素有痰，久病中風津液涌溢在胸中，氣所不利用獨聖散吐之，後用利氣瀉火之劑，本方在後。</p>
<p>瀉青丸</p>
<p>治中風自汗，昏冒發熱，不惡寒不能安臥，此是風熱煩燥。</p>
<p>當歸，龍膽，川芎，梔子，羌活，大黃，防風（各等分）</p>
<p>右為細末煉蜜為丸如彈子大，每服一丸竹葉湯化下。</p>
<p>天麻丸</p>
<p>係新方中。</p>
<p>天麻（三兩酒浸三日，曝乾秤），牛膝（六兩同上浸），當歸（十兩），杜仲（七兩炒去絲），玄參（六兩），羌活（十兩），萆薢（六兩別碾為細末秤），生地黃（十六兩），附子（一兩）</p>
<p>右為細末，煉蜜為丸如桐子大，常服五七十丸，病大服百丸，空心食前，溫酒或白湯下，平明服藥至日高，饑則止。服藥，大忌壅塞失於通利，故服藥半月稍覺壅微，以七宣丸輕疏之，使藥再為用也。牛膝萆薢杜仲治筋骨相著，天麻羌活利風之勝藥，當歸地黃養血能和榮衛，玄參主用附子佐之行經也。</p>
<p>獨聖散</p>
<p>治諸風隔疾，諸癇痰涎津液湧溢，雜病亦然。</p>
<p>瓜蒂（一兩）</p>
<p>右剉如麻豆大，炒令黃色為細末，每服量虛實久新，或三錢藥末，茶一錢，酸虀汁一盞調下，若用吐法，天氣晴明陰晦無用，如病卒暴者不拘於此法，吐時辰已午前。故內經曰平旦至日中天之陽，陽中之陽也。論四時之氣，仲景曰大法春宜吐，是天氣在上，人氣亦在上，一日之氣卯辰寅侯也，故宜早不宜夜也。先令病人隔夜不食，服藥不吐，再用熱虀水投之，如吐風癇病者，加金蝎半錢微炒，如有蟲者加狗油五七點，雄黃末一錢，甚者加芫花末半錢，立吐其蟲出，如溼腫滿者加赤小豆末一錢，故此不可常用，大要辨其虛實，實則瓜蒂散，虛則梔子豉湯，滿加厚朴不可一概用之，吐罷可服降火利氣安神定志之劑，治風癇病不能愈者，從厚朴丸宜春秋加添外，又於每一料中加</p>
<p>人參，菖蒲，茯神（去朮各一兩半）</p>
<p>右依腫朴丸春秋加添法，和劑服餌厚朴丸方在吐論中。</p>
<p>防風通聖散</p>
<p>防風，川芎，當歸，芍藥，大黃，芒硝，連翹，薄荷，麻黃（不去節各半兩），石膏，桔梗，黃芩（各一兩），白朮，山梔子，荊芥穗（各二錢半），滑石（三兩），甘草</p>
<p>右為麤末，每服一兩生薑同煎，溫服日再服，勞汗當風汗出為皶鬱，乃痤勞汗出於玄府脂液所凝，去芒硝倍加芍藥當歸，發散玄府之風，當調其榮衛。俗云風刺或生癮疹或赤或白，倍加麻黃鹽豉蔥白。出其汗麻黃去節亦去芒硝，鹹走血而內凝，故不能發汗，罷依前方中加四物湯，黃連解毒三藥合而飲之，日二服。故內經曰以苦發之，謂熱在肌表連內，小便淋閉去麻黃加滑石連翹煎藥湯，調木香末二錢。麻黃主表不主於裏故去之，腰脇痛走注疼痛者加硝石當歸甘草，一服各二錢，調車前子末海金砂各一錢。內經曰腰者腎之府。破傷風者如在表，則辛以散之。在裏則苦以下之，兼散之。汗下後通利血氣，袪逐風邪，每一兩內加荊芥穗大黃各二錢，調全蝎末一錢，羌活末一錢。諸風潮搐，小兒急慢驚風，大便秘結，邪熱暴甚，腸胃乾燥，寢汗咬牙，上竄睡語，筋轉驚悸，肌肉蠕動，每一兩加大黃二錢梔子二錢，調茯苓二錢。如肌肉蠕動調羌活末一錢。經曰肌肉蠕動命曰微風。風傷於肺，咳嗽喘急。每一兩加半夏桔梗紫花各二錢。如打撲傷損肢節疼痛，腹中惡血不下，每一兩加當歸大黃各三錢半，調沒藥乳香末各二錢。解利四時傷寒內外所傷，每一兩內加益元散一兩，蔥白十莖，鹽豉一合，生薑半兩，水一碗用，煎至五七沸，或煎一小碗，溫冷服一半，以筋投之即吐，罷後服一半稍熱服，汗出立解。如飲酒中風身熱頭痛如破者，加黃連鬚二錢，蔥白十莖，依法立愈，慎勿用桂枝麻黃解之。頭旋腦熱鼻塞濁涕時下，每一兩加薄荷黃連各二錢半。內經曰膽移熱於腦則辛頞鼻淵，鼻淵者濁涕下不已也。王注曰膽移熱於腦，膽夜下登則為濁涕下不已如水泉，故曰鼻淵也。此為足太陽脈與陽明脈俱盛也，如氣逆者調木香末一錢。</p>
<h3>厲風論第二</h3>
<p>內經曰癘風者有榮氣，熱附其氣不清，故使鼻柱壞而色敗，皮膚瘍潰故先風寒客於脈而不去，名曰癘風，又曰脈風，成於厲，俗云癩病也。故治法云：大風骨節重，鬚眉墮，名曰大風，刺肌肉病故汗出百日。王注曰泄衛氣之怫熱，刺骨髓汗出百日。泄榮氣之怫熱凡三百日，鬚眉生而止鍼，怫熱屏退陰氣內復，故多汗出鬚眉生也。先樺皮散從少至多服五七日後，灸承漿穴七壯，灸瘡輕再灸，瘡愈再灸，後服二聖散。泄熱袪血之風邪，戒房室三年，鍼灸藥止，述類象形，此治肺風之法也，然非止肺臟有之，俗云鼻屬肺而病發於肺，端而言之不然如此者，既鼻準腫赤脹但為瘡之類，乃謂血隨氣化，既氣不施化則血聚矣。血既聚使肉腐爛而生蟲也，謂厥陰主生五蟲。厥陰為風木故木生五蟲，蓋三焦相火熱甚而制金，金衰故木來剋侮。經曰侮勝也，宜瀉火熱利氣之劑，蟲自不生也。法云流水不腐，戶樞不蠹，此之謂也。故此疾血熱明矣，當以藥緩疏泄之，煎局方內升麻湯下錢氏內瀉青丸。余合隨經言之，故病風者陽氣先受上也。</p>
<p>樺皮散</p>
<p>治肺臟風毒，遍身瘡疥及癮疹，搔之成瘡。又治面風刺及婦人粉刺。</p>
<p>樺皮（四兩燒灰），荊芥穗（二兩），甘草（半兩炙），杏仁（二兩去皮尖，用水一碗於銀器內熬去水一半，放令乾），枳穀（四兩去瓠，用炭火燒於溼紙上，令冷）</p>
<p>右件除杏仁外，餘藥為末，將杏仁別研細，次用諸藥令均磁盒放之。每服三錢，食後，溫酒調。</p>
<p>二聖散</p>
<p>治大風癘疾。</p>
<p>大黃（半兩），皂角刺（三錢燒灰）</p>
<p>右將皂角刺一二斤，燒研細，煎大黃半兩湯調下二錢，早服樺皮散，中煎升麻湯下瀉青丸，晚服二聖散。此數等之藥皆為緩疏泄血之風熱也。</p>
<p>七聖丸（局方中），七宣丸（局方中）</p>
<p>皆治風壅邪熱，潤利大腸，中風風癇癘風，大便秘澀皆可服之。此方局方中治法曰雖呵子味苦澀，而能止臟腑。此利藥中用呵子，令大黃枳實緩，緩而推陳泄去邪氣，若年老風秘澀者乃津液內亡也，故不可用峻劑攻之。內經年四十而陰氣自半也，起居衰矣。年五十體重耳目不聰明矣，年六十陰痿氣大衰，九竅不利，下虛上實，涕泣出矣。故曰知之則強，不知則老，舉世皆言年老之人無熱俱虛，豈不明年四十而陰氣自半，故陰虛陽盛明矣。是以陰虛其下，陽甚於上，故上實下虛此理明矣。</p>
<h3>破傷風論第三</h3>
<p>論曰夫風病者，百病之始也。清淨則腠理閉拒，雖有大風苛毒而弗能為害也。故破傷風者通於表裏，分別陰陽，同傷寒證治。閭閻往往有不知者，只知有發表者，不知有攻裏者和解者，此汗下和三法也，亦同傷寒證，有在表者，有在裏者，有半在表者半在裏者。在裏宜下，在表宜發汗，在表裏之間宜和解。然汗下亦不可過其法也，故破傷風者從外至內，甚於內者則病也。因此卒暴傷損，風襲之間傳播經絡，至使寒熱更作，身體反強，口噤不開，甚者邪氣入臟，則分汗下之治。諸瘡不差，榮衛虛肌肉不生，瘡眼不合者，風邪亦能外入於瘡，為破傷風之侯，故諸瘡不差。吁，世皆言著灸為上，是為熱瘡而不知火熱客毒逐經，諸變不可勝數，微則發熱，甚則生風而搐，或角弓反張口噤目斜，皆因瘡鬱結於榮衛不得宣通而生，亦有破傷不灸而病此者。瘡著白痂，瘡口閉塞，氣難通泄，故陽熱易為鬱結，而熱甚則生風也。故表脈浮而無力者，太陽也。脈長而有力者陽明也。脈浮而弦小者少陽也。太陽宜汗，陽明宜下，少陽宜和。若明此三法而治不中病者，未之有也。</p>
<p>羌活防風湯</p>
<p>治破傷風邪初傳在表。</p>
<p>羌活，防風，川芎，藁本，當歸，芍藥，甘草（各一兩），地榆，華細辛（各二兩）</p>
<p>右㕮咀，每服五七錢，水一盞半，同煎至七分去滓，熱服，不拘時侯，量緊漫加減用之，熱則加大黃二兩，大便秘則加大黃一兩，緩緩令過。</p>
<p>白朮防風湯</p>
<p>若服前藥之過，有自汗者宜服此藥。</p>
<p>白朮（一兩），防風（二兩），黃耆（一兩）</p>
<p>右㕮咀，每服五七錢，水一盞半煎至一盞，去滓，溫服，不拘時候。</p>
<p>臟腑和而有自汗，可用此藥。</p>
<p>破傷風臟腑秘小便赤，自汗不止者，因用熱藥汗出不休，故知無寒也，宜速下之，先用芎黃湯三二服後，用大芎黃湯下之。</p>
<p>芎黃湯</p>
<p>川芎（一兩），黃芩（六錢），甘草（二錢）</p>
<p>右㕮咀，每服五七錢，水一盞半同煎至七分，去柤，溫服，不拘時候，三服即止，再用下藥。</p>
<p>大芎黃湯</p>
<p>川芎（一兩），羌活，黃芩，大黃（各一兩）</p>
<p>右㕮咀，依前煎服，宜利為度。</p>
<p>發表雄黃散</p>
<p>雄黃（一錢），防風（二錢），草烏（一錢）</p>
<p>右為細末，每服一字，溫酒調下，裏和至愈可服，裏不和不可服。</p>
<p>蜈蚣散</p>
<p>蜈蚣（一對），鰾（五錢），左盤龍（五錢，炒煙盡為度，野鴿糞是也）</p>
<p>右件為細末，每服一錢，清酒調下，治法依前用，裏和至愈可服，有裏證不可服，次當下之，用前蜈蚣散四錢燒飯為丸，如綠豆大，每服一丸漸加六七丸，清酒調蜈蚣散少許，送下宣利為度。內外風去可常服羌活湯緩緩而治，不拘時候服之。</p>
<p>羌活湯</p>
<p>羌活湯者治半在表半在裏也。</p>
<p>羌活，菊花，麻黃，川芎，防風，石膏，前胡，黃芩，細辛，甘草，枳穀，白茯苓，蔓荊子（各一兩），薄荷（半兩），吳白芷（半兩）</p>
<p>右㕮咀，每服五錢，水一盞半，入生薑五片同煎至一盞，去滓，稍熱服，不拘時候，日進二服。</p>
<p>防風湯</p>
<p>治破傷風，同傷寒表證未解入裏，宜急服此藥。</p>
<p>防風，羌活，獨活，川芎（各等分）</p>
<p>右㕮咀，每服五錢，水一盞半煎至七分，去滓溫服，二三服後，宜調蜈蚣散大效。</p>
<p>蜈蚣散</p>
<p>蜈蚣（一對），鰾（三錢）</p>
<p>右為細末，用防風湯調下如前藥，解表不已覺轉入裏，當服左龍丸，微利看大便硬軟，加巴豆霜服之。</p>
<p>左龍丸</p>
<p>左盤龍，白僵蠶，鰾（各五錢炒），雄黃（一錢）</p>
<p>右為細末，燒餅為丸如桐子大，每服十五丸溫酒下，如裏證不己，當於左龍丸一處半內入巴豆霜半錢，燒餅為丸桐子大，每服一丸同左龍丸一處合服，每服藥中一丸，如此漸加服至利為度。若利後更服後藥，若搐痓不已亦服後藥羌活湯也。</p>
<p>羌活湯</p>
<p>羌活，獨活，防風，地榆（各一兩）</p>
<p>右㕮咀，每服五錢，水一盞半煎至一盞，去滓溫服，如有熱加黃芩，有涎加半夏，若病日久氣血漸虛，邪氣入胃，宜養血為度。</p>
<p>養血當歸地黃散</p>
<p>當歸，地黃，芍藥，川芎，藁本，防風，白芷（各一兩），細辛（五錢）</p>
<p>右㕮咀，依前煎服。</p>
<p>雄黃散</p>
<p>治表藥。</p>
<p>天南星（三錢），半夏，天麻（各五錢），雄黃（二錢半）</p>
<p>右為細末，每服一錢，溫酒調下，如有涎於此藥中，加大黃為下藥。</p>
<p>地榆防風散</p>
<p>治破傷中風，半在表半在裏。頭微汗身無汗，不可發汗，宜表裏治之。</p>
<p>地丁香，防風，馬齒莧，地榆（各等分）</p>
<p>右件為細末，每服三錢，溫米飲調下。</p>
<p>白朮湯</p>
<p>治破傷風大汗不止，筋攣搐搦。</p>
<p>白朮，葛根（各一兩），升麻，黃芩（各半兩），芍藥（二兩），甘草（二錢半）</p>
<p>右㕮咀，每服一兩，水一盞半，煎至一盞，去滓溫服，不拘時候。</p>
<p>江鰾丸</p>
<p>治破傷風驚而發搐，臟腑秘澀，知病在裏，可用江鰾丸下之。</p>
<p>江鰾（半兩剉炒），野鴿糞（半兩炒），雄黃（一錢），白僵蠶（半兩），蜈蚣（一對），天麻（一兩）</p>
<p>右件為細末，又將藥末作三分用，一分燒餅為丸，如桐子大，硃砂為衣。後將一分入巴豆霜一錢同和，亦以燒餅為丸如桐子大，不用硃砂為衣。每服硃砂為衣者二十丸，入巴豆霜者一丸，第二服二丸加至痢為度，再服硃砂為衣，藥病愈止。</p>
<p>沒藥散</p>
<p>治刀箭所傷，止血定痛。</p>
<p>定粉，風化灰（各一兩），枯白礬（三錢另研），乳香（半錢），沒藥（一字各研）</p>
<p>右件各研為細末，同和均，再研摻之。</p>
<h3>解利傷寒論第四</h3>
<p>論曰傷寒之法，先言表裏，及有緩急，三陽。表當急，裏當緩，三陰表當緩，裏當急。又曰脈浮當汗，脈沉當下，脈浮汗急而下緩三陽表也，脈沉下急而汗緩謂三陰裏也。麻黃湯謂之急，麻黃附子細辛湯謂之緩。內經云有漬形以為汗，為汗之緩，裏之表也。又曰在皮者汗而發之，為汗之急，表之表也。急汗者太陽，緩汗者少陰，是臟腑之輸應也。假令麻黃附子細辛湯是少陰證，始得發熱脈沉裏和無汗，故漬形以為汗。假令麻黃湯是太陽證，頭項痛腰脊強，脈浮無汗裏和是也，在皮者汗而發之也。經曰治主以緩，治客以急，此之謂也。</p>
<p>麻黃湯麻黃（去節五錢），桂枝（三錢），甘草（二錢炙），杏仁（去皮尖炒二十箇）</p>
<p>右㕮咀，都作一服水煎去滓，溫服。</p>
<p>假令得肝脈，其外證善潔面青善怒，其三部脈俱弦而浮，惡寒裏和謂清便自調也。麻黃湯內加羌活防風各三錢，謂肝主風是膽經受病，大便秘或泄下赤水無數，皆裏不和也。</p>
<p>假令得心脈，其外證面赤口乾善笑，其尺寸脈俱浮而洪，惡寒裏和謂清便自調也。麻黃湯內加黃芩石膏各三錢，謂主心熱是小腸受病也。</p>
<p>假令得脾脈，其外證面黃善噫善思善味，尺寸脈俱浮而緩，裏和惡寒，麻黃湯內加白朮防己各五錢，謂脾主溼是胃經受病也。</p>
<p>假令得肺脈，其外證面白善嚏悲愁不樂欲哭，其尺寸脈俱浮而澀，裏和惡寒。麻黃湯內加桂枝生薑各三錢，謂肺主燥是大腸受病也。</p>
<p>假令得腎脈，其外證面黑善恐，其尺寸脈俱浮，裏和惡寒，其麻黃湯內加附子生薑，謂腎主寒是膀胱受病也。</p>
<p>已上各五證皆表之表，謂在皮者，急汗而發之也，皆腑受病。表之裏者，下之當緩，謂隨臟表證外顯，尺寸脈俱浮而復有裏證，發熱飲水便利赤澀，或泄下赤水，按之內實或痛，麻黃湯去麻黃杏仁，與隨藏元加藥同煎，作五服，每下一證初一服，加大黃半錢，邪盡則止，未盡第二服加大黃一錢，邪未盡第三服加大黃一錢半，如邪未盡又加之，邪盡則止。此所謂先緩而後急，是表之裏證下之當緩也。</p>
<p>麻黃附子細辛湯</p>
<p>麻黃（半兩去根節），細辛（半兩去苗土），附子（一錢二分半，炮裂去皮臍）</p>
<p>右㕮咀，都作一服，水煎去滓，溫服。</p>
<p>假令得肝脈，其內證滿閉淋溲便難轉筋，其尺寸脈俱沉而弦，裏和惡寒，肝經受病。麻黃附子細辛湯，內加羌活防風各三錢。</p>
<p>假令得心脈，其內證煩心，心痛掌中熱而穢，其尺寸脈俱沉，裏和惡寒，心經受病。加黃芩石膏各三錢。</p>
<p>假令得脾脈，其內證腹脹滿，食不消怠惰嗜臥，其尺寸脈俱沉，裏和惡寒，脾經受病。加白朮防己各三錢。</p>
<p>假令得肺脈，其內證喘咳灑浙寒熱，其尺寸脈俱沉，裏和惡寒，肺經受病。加生薑桂枝各三錢。</p>
<p>假令得腎脈，其內證泄如下重足脛寒而逆，其尺寸脈俱沉，裏和惡寒，腎經受病。更加附子生薑各三錢。</p>
<p>已上五證裏之表也，宜漬形以為汗，皆臟受病也。裏者下之當急，謂隨臟內證已顯，尺寸脈俱沉，復有裏證者，謂大小便秘澀或泄下赤水，或瀉無數不能飲食，不惡風寒發熱引飲，其脈俱沉，或按之內實而痛，此謂裏實，宜速下之，麻黃附子細辛內去麻黃，與隨臟丸加藥內，分作三服，每下一證，初一服加大黃三錢，邪盡則止，如邪未盡再一服，加大黃二錢，此先急而後緩，謂裏之裏也，當速下之也。通解利傷寒，不問何經所受，皆能混然解之，謂不犯各經之受病，雖不解盡亦無壞證。</p>
<p>羌活湯</p>
<p>羌活（二兩），防風，川芎，黃芩（各一兩），細辛（三錢半），甘草，黑地黃（炒各一兩），白朮（三兩，如無用蒼朮加一兩）</p>
<p>右㕮咀，每服五七錢，水二盞煎至一盞，無時溫服。清如覺發熱引飲，加黃芩甘草各一兩，更隨證加頭痛惡風於白朮湯一兩，內加羌活散三錢，都作一服。</p>
<p>羌活散</p>
<p>羌活（一兩半），川芎（七錢），細辛根（二錢半）</p>
<p>如身熱依前加石膏湯四錢。</p>
<p>石膏湯</p>
<p>石膏（二兩），知母（半兩），白芷（七錢）</p>
<p>如腹中痛者加芍藥散。</p>
<p>芍藥散</p>
<p>芍藥（二兩），桂枝（五錢）</p>
<p>如往來寒熱而嘔，加柴胡散二錢半。</p>
<p>柴胡散</p>
<p>柴胡根（一兩），半夏（五錢洗）</p>
<p>加生薑煎，如心下痞加枳實一錢，如有裏證加大黃，初一服一錢，次二錢，又三錢，邪盡則止。</p>
<p>論曰有汗不得服麻黃，無汗不得服桂枝，然春夏汗孔疏，雖有汗不當用桂枝，宜用黃耆湯和解。秋冬汗孔閉，雖無汗不當用麻黃，宜用川芎湯和解。春夏有汗，脈乃微而弱，惡寒者乃太陽證，秋冬之脈也，亦宜黃耆湯，無汗亦宜川芎湯。秋冬有汗脈盛而浮，發熱身熱者，乃陽明證春夏之脈也，亦宜黃耆湯，無汗亦宜川芎湯。大抵有汗者皆可用黃耆湯，無汗者亦可用川芎湯。</p>
<p>黃耆湯</p>
<p>有汗則可止也。黃耆，白朮，防風（各等分）</p>
<p>右㕮咀，每服五七錢至十餘錢，或半兩一兩，水煎溫服。清汗多惡風甚者加桂枝。</p>
<p>川芎湯</p>
<p>無汗則可發也。</p>
<p>川芎，白朮，羌活（各等分）</p>
<p>右㕮咀，同黃耆湯煎法，稍熱惡寒，甚則及脈大浮，半加麻黃。法云五臟之脈寸關尺也。今止言尺寸陰陽也，如陽緩而陰急，表和而裏病。陰緩而陽急，裏和而表病也。</p>
<p>若傷寒食少發渴，只可和胃止渴，不可太涼藥止之，然恐涼藥止之損著胃氣，必不能食也。</p>
<p>和胃白朮湯</p>
<p>白朮，茯苓</p>
<p>起臥不能謂之溼，身重是也。小柴胡湯，黃芩芍藥湯，起臥不安眠睡不穩，謂之煩，梔豉湯，竹葉石膏湯，解利四時。</p>
<p>解利四時傷寒，混解六經，不犯禁忌。</p>
<p>大白朮湯</p>
<p>白朮（二兩），防風，羌活，川芎（各一兩），黃芩（五錢），細辛（三錢），白芷（一兩半），石膏（二兩），知母（七錢），甘草（五錢或一兩），枳實（五錢去穰）</p>
<p>右為麤末，每服半兩，服藥滓又作一服。春倍防風羌活，夏倍黃芩知母，季夏雨淫倍白朮白芷，秋加桂枝五錢，冬加桂枝八錢或一兩。立夏之後至立秋處暑之間傷寒者，身多微涼微有自汗，四肢沉重謂之溼溫，又謂之溼淫，宜蒼朮石膏湯。</p>
<p>蒼朮石膏湯</p>
<p>蒼朮（半兩），石膏（三錢），知母（一錢半），甘草（一錢）</p>
<p>右剉細同和均，都作一服，水二盞至一盞，溫服清，謂內有溼熱也，多不欲飲水。如身熱脈洪無汗多渴者，是熱在上焦，積於胸中，宜桔梗散治之。</p>
<p>桔梗散</p>
<p>薄荷，黃芩，山梔子，甘草（各一錢），連翹（二錢），桔梗（半兩）</p>
<p>右剉，每服五錢或七錢，秤半兩水煎加竹葉。如大便秘結加大黃半錢。</p>
<h3>熱論第五</h3>
<p>論曰：有表而熱者謂之表熱也，無表而熱者謂之裏熱也，有暴發而為熱者，乃久不宣通而致也。有服溫藥過劑而為熱者，有惡寒戰慄而熱者。蓋諸熱之屬者心火之象也。王注曰百端之起皆自心生，是以上善若水，下愚若火，治法曰少熱之氣涼以和之，大熱之氣寒以取之，甚熱之氣則汗發之，發之不盡則逆治之，制之不盡求其屬以衰之。故曰苦者以治五臟，屬陰而居於內，辛者以治六腑，六腑屬陽而在於外。故內者下之，外者發之，又宜養血益陰其熱自愈。此所謂不治而治也，故不治謂之常治，治之不治謂之暴治。經所謂諸寒而熱者取之陰，諸熱而寒者取之陽，此所謂求其屬也。王注曰益火之源以消陰翳，用水之主以制陽光，此之謂也。</p>
<p>病有暴熱者病在心肺，有積熱者病在腎肝。暴熱者宜局方中雄黃解毒丸，積熱者宜局方中玅香丸。暴熱上喘者病在心肺，謂之高喘，木香金鈴子散。上焦熱而煩者，牛黃散。臟腑秘者，大黃牽牛散。上焦熱無他證者，桔梗湯。有虛熱不能食而熱者，脾虛也，宜以厚朴白朮陳皮之類治之。有實熱能食而熱者，胃實也，宜以梔子黃芩湯，或三黃丸之類治之，蔚金柴胡之類亦是也。有病久憔悴發熱盜汗，謂五臟齊損此熱勞骨蒸病也，瘦弱虛煩腸澼下血皆蒸勞也，宜養血益陰，熱能自退，當歸生地黃或錢氏地黃丸是也。</p>
<p>木香金鈴子散</p>
<p>治暴熱心肺上喘不已。</p>
<p>大黃（半兩），金鈴子，木香（各三錢），輕粉（少許），朴硝（二錢）</p>
<p>右為細末，柳白皮湯調下三錢或四錢，食後服，以利為度，喘止即止。</p>
<p>牛黃散</p>
<p>治上焦熱而煩不能睡臥。</p>
<p>梔子，大黃，鬱金（各半兩），甘草（二錢半）</p>
<p>右為細末，每服五錢水煎溫服，食後，微利則已。</p>
<p>大黃牽牛散</p>
<p>治相火之氣遊走臟腑，大便秘結。</p>
<p>大黃（一兩），牽牛（頭末五錢）</p>
<p>右為細末，每服三錢，有厥冷用酒調三錢，無厥冷而手足煩熱者，蜜湯調下，食後微利為度，此謂不時而熱者，溼熱也。</p>
<p>地黃丸</p>
<p>治久新憔悴寢汗發熱，五臟齊損瘦虛弱煩，腸澼下血骨蒸痿弱，無力不能運動。</p>
<p>熟地黃（一兩），山茱萸，乾山藥（各四錢），牡丹皮，白茯苓，澤瀉（各三錢）</p>
<p>右為細末，煉蜜為丸如桐子大，每服五十丸空心溫酒送下。如煩渴皮膚索澤，食後煎服防風飲子，空心服地黃丸。</p>
<p>防風當歸飲子</p>
<p>柴胡，人參，黃芩，甘草（各一兩），大黃，當歸，芍藥（各半兩），滑石（三兩）</p>
<p>右為麤末，每服五錢水一盞半，生薑三片，同煎至七分，去滓溫服。如痰實欬嗽加半夏。如大便黃，米穀完出，驚懼溺血淋閉，欬血衄血，自汗頭痛，稍熱肺痿，後服金花丸。</p>
<p>小金花丸</p>
<p>黃連，黃柏，山梔子，黃芩（各一兩）</p>
<p>右為細末，滴水為丸如小豆大，每服一百丸溫水下，日二三服，或大便實加大黃，自利不用大黃。如中外有熱者作散剉，名解毒湯。或腹滿嘔吐欲作痢者，每服半兩解毒湯中，加半夏茯苓厚朴各三錢，生薑三片。如白膿不痢後重者，加大黃三錢。</p>
<p>涼膈散，加減附子湯。</p>
<p>連翹，山梔子，大黃，薄荷葉，黃芩（各半兩），甘草（一兩半），朴硝（二錢半）</p>
<p>右件為麤末，每服半兩，水一盞半煎至一盞，去滓，入蜜一匙微煎，溫服。</p>
<p>咽嗌不利腫痛並涎嗽者，加桔梗一兩荊芥穗半兩。咳而嘔者加半夏二錢半，生薑煎。</p>
<p>如鼻衄嘔血者，加當歸芍藥生地黃各半兩。一料內如淋閉者，加滑石四兩茯苓一兩。</p>
<p>或閉而不通臍下狀如覆椀痛悶不可忍者，乃腸胃乾涸，膻中氣不下，故經所謂膀胱者州都之官，津液藏焉氣化則能出矣。故膻中者臣使之官，名三焦相火，下合右腎為氣海也。王注曰膀胱津液之府，胞內居之，小腹處間毛，內臟胞器者得氣海之氣化則溲便，注下氣海之不及，則悶隱不通故不得便利也。先用沉香木香各三錢酒調下，或八正散甚則宜上湧之，令氣通達小便自通。經所謂病在下，上取之。王注曰熱攻於上不利於下，氣盛於上則溫辛散之，苦以利之可也。</p>
<p>當歸承氣湯</p>
<p>當歸，大黃（各一兩），甘草（半兩），芒硝（九錢）</p>
<p>右剉如麻豆大，每服二兩，水一大碗入生薑五片，棗十枚同煎至半碗，去滓熱服。若陽狂奔走罵詈不避親疏，此陽有餘陰不足。大黃芒硝去胃中實熱，當歸補血益陰，甘草緩中加生薑棗。胃屬土此引至於胃中也。經所謂微者逆之，甚者從之，此之謂也。以大利為度，微緩以瓜蒂散加防風藜蘆，吐其病自愈，後調洗心散，涼膈散，解毒湯藥調治之。</p>
<p>牛黃膏</p>
<p>治熱入血室，發狂不認人者。</p>
<p>牛黃（二錢半），硃砂，牡丹皮，鬱金（各三錢），腦子，甘草（各一錢）</p>
<p>右為細末煉蜜為丸如皂子大，新水化下。</p>
<p>治暴熱者局方中雄黃解毒丸。</p>
<p>治久熱者局方中玅香丸。治虛勞骨蒸煩熱下血者，錢氏地黃丸。</p>
<p>治虛熱不能食者，脾虛也，宜以厚朴白朮陳皮之類治之。</p>
<p>治實熱能食者胃實也，宜以梔子黃芩或三黃丸之類治之，鬱金柴胡亦可。</p>
<p>治表熱惡寒而渴，白虎湯也。</p>
<p>治膚如火燎而熱，以手取之不甚熱為肺熱也，目白晴赤，煩燥或引飲，獨黃芩一味主之，水煎。</p>
<p>兩脇下肌熱脈浮弦者，柴胡飲子主之。</p>
<p>兩脇肋熱或一身盡熱者，或日晡肌熱者，皆為血熱也，四順飲子主之。</p>
<p>夜發熱主行陰，乃血熱也，四順，桃仁承氣，選用當視其腹痛血刺痛，與有表入裏腹中轉失氣，燥結之異，晝則明了，夜則譫語。四順飲子證與桃仁承氣相似，不可不辯也。發熱雖無脇熱亦為柴胡證，晝則行陽二十五度氣也大抵柴胡，夜則行陰二十五度大抵四順飲子。</p>
<h3>內傷論第六</h3>
<p>論曰人之生也，由五穀之精，化五味之備，故能生形。經曰味歸形，若傷於味，亦能損形，今飲食反過其節，腸胃不能勝，氣不及化故傷焉。經曰壯火食氣，氣食少火，壯火散氣，少火生氣。痹論曰飲食自倍腸胃乃傷，或失四時之調養，故能為人之病也。經曰氣口緊而傷於食，心胸滿而口無味，與氣口同，氣口者乃脾之外候，故脾胃傷則氣口緊盛。夫傷者有多少有輕重，如氣口一盛脈得六至，則傷於厥陰，乃傷之輕也，檳榔丸主之。氣口二盛脈得七至，則傷於少陰，乃傷之重也，煮黃丸厚朴丸主之。氣口三盛脈得八至，則傷於太陰，䐜塞悶亂甚則心背大痛，兀兀欲吐得則已。俗呼食迷風是也。經曰上部有脈，下部無脈，其人當吐不吐則死，宜吐之以瓜蒂散，如不能則無治也。經曰高者因而越之，下者引而竭之是也。</p>
<p>檳榔丸</p>
<p>檳榔（一錢半），陳皮（去白一兩），木香（二錢半），牽牛（頭末半兩）</p>
<p>右為細末醋糊為丸如桐子大，每服十五丸至二十丸，米飲下生薑亦可。</p>
<p>煮黃丸</p>
<p>雄黃（一兩另研），巴豆（五錢生用，去皮研瀾入雄黃末）</p>
<p>右二味再研入白麵二兩，同再和研均，滴水為丸如桐子大。每服時先煎漿水令沸，下藥二十四丸煮三十沸，撈入冷漿水中沉冰冷，一時下二丸，一日二十四丸也，加至微利為度，用浸藥水送下，此藥治脇下  癖痛如神。</p>
<p>瓜蒂散</p>
<p>瓜蒂，赤小豆（各三錢）</p>
<p>右為細末，溫水調一錢，以吐為度，如傷之大重，備急丸，獨行丸皆急藥也。</p>
<p>金露丸</p>
<p>治天行時疾，內傷飲食，心下痞悶。</p>
<p>大黃（二兩），枳實（五錢麩炒），牽牛（頭末），桔梗（各二兩）</p>
<p>右為細末燒餅為丸如桐子大，每服三五十丸，食後溫水下，如常服十丸二十丸甚玅。</p>
<p>枳實丸</p>
<p>治氣不下降，食難消化，常服進食逐飲。</p>
<p>枳實（五錢麩炒），白朮（一兩）</p>
<p>右為細末燒餅為丸如桐子大，每服五十丸米飲下。</p>
<p>治飲食不化心腹膨悶，檳榔丸主之。</p>
<p>如甚則脇肋虛脹，煮黃丸主之。</p>
<p>治氣不下降，飲食難消，金露丸主之。</p>
<h3>諸瘧論第七</h3>
<p>經曰夏傷於暑，秋必病瘧。蓋傷之淺者近而暴發，傷之重者遠而痎，瘧者久瘧也，是知夏傷於暑，溼熱閉藏而不能發泄於外，邪氣內行至秋而發為瘧也。初不知何經受之，隨其動而取之，有中三陽者，有中三陰者，大抵經中邪氣，其證各殊，同傷寒論之也。故內經曰五臟皆有瘧，其治各別在太陽經者謂之風熱瘧，治多汗之，此三陽經受病，皆謂之暴瘧。發在夏至後處暑前，此乃傷之淺者，近而暴也，在陰經則不分三經，總謂之溼瘧，當從太陰經，則不分其病發在處暑後冬至前，此乃傷之重也。遠而為痎瘧者老也，故謂之久瘧氣居西方，宜毒藥療之。瘧之為疾，因內積暑熱之氣不能宣泄於外，而為瘧也，當盛夏之時，能食寒涼之物而助陰氣者，縱使有暑熱之氣微者自消矣。更時復以藥疏利臟腑，使邪氣自下。內經曰春食涼，夏食寒，秋食溫，冬食熱，是謂春夏養陽，秋冬養陰，人能於飲食起居之間順四時之氣而行之，邪氣何由得生也。</p>
<p>治瘧病處暑，前頭痛項強脈浮惡風有汗，桂枝羌活湯。</p>
<p>桂枝，羌活，防風，甘草（炙各半兩）</p>
<p>右為麤末每服半兩，水一盞半煎至一盞，溫服清，迎發而服之，如吐者加半夏麯等分。</p>
<p>治瘧病頭痛項強，脈浮惡風無汗者，麻黃羌活湯主之。</p>
<p>麻黃（去節），羌活，防風，甘草（炙各半兩）</p>
<p>同煎服，如吐者加半夏麯等分。</p>
<p>治法瘧如前病證而夜發者，麻黃桂枝湯主之。</p>
<p>麻黃（一兩去節），甘草（三錢炙），桃仁（三十箇去皮尖），黃芩（五錢），桂枝（三錢）</p>
<p>右五味同為細末依前服。桃仁味苦甘辛，肝者血之海，血聚則肝氣燥。經所謂肝苦急，急食甘以緩之，故桃仁散血緩肝，謂邪氣深遠而入血，故夜發乃陰經有邪，此湯發散血中風寒之劑。</p>
<p>治瘧病身熱目痛，熱多寒少，脈長，睡臥不安，先以大柴胡湯下之，微利為度，如下過外微邪未盡者，宜服白芷湯以盡其邪。</p>
<p>白芷（一兩），知母（一兩七錢），石膏（四兩）</p>
<p>右為麤末同前煎服。</p>
<p>治瘧無他證，膈日發，先寒後熱，寒少熱多，宜桂枝石膏湯主之。</p>
<p>桂枝（五錢），石膏，知母（各一兩半），黃芩（一兩）</p>
<p>右為麤末分作三服，每服水一盞同前煎服，間日者邪氣所舍深也。</p>
<p>治瘧寒熱大作，不論先後皆太陽陽明合病也，謂之大爭寒作則必戰動。經曰熱勝而動也，發熱則必汗泄。經曰汗出不愈，知為熱也。陽盛陰虛之證，當內實外虛，不治必傳入陰經也，當用桂枝芍藥湯主之。</p>
<p>桂枝（三錢），黃耆，知母，石膏，芍藥（各一兩）</p>
<p>右為麤末每服五七錢至半兩，水煎如前藥服之。</p>
<p>寒熱轉大者知太陽陽明少陽三陽合病也，宜桂枝黃芩和之。桂枝黃芩湯</p>
<p>柴胡（一兩二錢），黃芩（半），人參，甘草（各四錢半），半夏（四錢），石膏，知母（各五錢），桂枝（二錢）</p>
<p>右為麤末依前服之，服藥已。如外邪已罷內邪未已，再詮下藥從卯至午時發者，宜以大柴胡承氣湯主之。</p>
<p>前項下藥微利為度，以小柴胡湯徹其微邪之氣，立秋之後及處暑前發瘧漸瘦不能食者，謂之痎瘧，此邪深遠而中陰經為久瘧也。</p>
<p>治久瘧不能飲食，胸中鬱鬱如吐，欲吐不能吐者，宜吐則已，當以藜蘆散、雄黃散吐之。</p>
<p>藜蘆散</p>
<p>大藜蘆末半錢，溫虀水調下以吐為度。</p>
<p>雄黃散</p>
<p>雄黃，瓜蒂，赤小豆（各一錢）</p>
<p>右為細末每服半錢，溫虀水調下以吐為度。</p>
<p>治秋深久瘧，胃中無物，又無痰癖，腹高而食少，俗謂瘧氣入腹，宜蒼朮湯主之。</p>
<p>蒼朮（四兩），草烏頭（一錢），杏仁（三十箇）</p>
<p>右為麤末都作一服，水三升煎至一半，均作三服，一日服盡，迎發而服。</p>
<p>局方中七宣丸治瘧之聖藥也。</p>
<p>局方中神效飲子乃瘧疾之聖藥也，又名交結飲子。</p>
<p>從酉至子時發者，或至寅時，知邪氣在血也，宜桃仁承氣湯下之。</p>
<p>微利後宜調制之，在桂枝黃芩湯調下。</p>
<h3>吐論第八</h3>
<p>論曰吐有三氣積寒也，皆從三焦論之。上焦在胃口，上通於天氣，主納而不出。中焦在中脘，上通天氣下通地氣，主腐熟水穀。下焦在臍下，下通地氣，主出而不納。是故上焦吐者皆從於氣，氣者天之陽也，其脈浮而洪，其證食已暴吐渴欲飲水，大便燥結氣上衝而胸發痛，其治也當降氣和中。中焦吐者皆從於積，有陰有陽，食與氣相假為積而痛，其脈浮而匿其證，或先痛而後吐，或先吐而後痛，治法當以毒藥去其積，檳榔木香行其氣。下焦吐者皆從於寒，地道也，其脈沉而遲，其證朝食暮吐，暮食朝吐，小便清利大便秘而不通，治法當以毒藥通其閉塞，溫其寒氣，大便漸通，復以中焦藥和之，不令大便秘結而自愈也。</p>
<p>治上焦氣熱上衝，食已暴吐，脈浮而洪，宜先和中，桔梗湯主之。</p>
<p>桔梗（一兩），半夏麯（二兩），陳皮（一兩去白），枳實（一兩麩炒），白茯苓（一兩去皮），白朮（一兩半），厚朴（一兩薑製炒香）</p>
<p>右㕮咀，每服一兩，水一盞煎至七分，取清溫服，調木香散二錢，膈夜空服，食前服之。三服之後氣漸下，吐漸止，然後去木香散加芍藥二兩，黃耆一兩半，每料中扣算加上件分兩依前服之，病愈則已。如大便燥結，食不盡下，以大承氣湯去硝，微下之少利為度，再服前藥補之。如大便復結又依前再微下之。</p>
<p>木香散</p>
<p>木香，檳榔（各等分）</p>
<p>右為細末煎藥調服。</p>
<p>治暴吐者上焦氣熱所衝也。經曰諸嘔吐酸，暴注下迫皆屬於火，脈洪而浮，荊黃湯主之。</p>
<p>荊芥穗（一兩），人參（五錢），甘草（二錢半），大黃（三錢）</p>
<p>右為麤末都作一服，水二盞煎至一盞，去滓調檳榔散二錢，空心服。</p>
<p>檳榔散</p>
<p>檳榔（二錢），木香（一錢半），輕粉（少許）</p>
<p>右為細末用前藥調服，如為丸亦可用水浸蒸餅為丸，如小豆大，每服二十丸，食後服。</p>
<p>治上焦吐，頭發痛有汗脈弦，清鎮丸主之。</p>
<p>柴胡（二兩去苗），黃芩（七錢半），甘草（半兩），半夏（湯洗半兩），青黛（二錢半），人參（半兩）</p>
<p>右為細末，薑汁浸，蒸餅為丸如桐子大，每服五十丸生薑湯，食後服。</p>
<p>白朮湯</p>
<p>治胃中虛損及痰而吐之。</p>
<p>半夏麯（半兩），白朮（一錢），檳榔（二錢半），木香（一錢），甘草（一錢），茯苓（二錢）</p>
<p>右六味同為細末，每服二錢，煎生薑湯調下食前。吐而食，脈弦者肝盛於脾，而吐乃由脾胃之虛，宜治風安脾之藥。</p>
<p>金花丸</p>
<p>半夏（湯洗一兩），檳榔（二錢），雄黃（一錢半）</p>
<p>右為細末薑汁浸，蒸餅為丸如桐子大，小兒另丸，生薑湯下，從少至多，漸次服之，以吐止為度。羈絆於脾，故飲食自下。</p>
<p>紫沉丸</p>
<p>治中焦吐食，由食積為寒，氣相假故吐而痛，宜服之。</p>
<p>半夏麯（三錢），烏梅（二錢去核），杏仁（一錢去皮尖），代赭石（三錢），丁香（二錢），縮砂仁（三錢），沉香（一錢），檳榔（二錢），木香（一錢），陳皮（五錢），白豆蔻（半錢），白朮（一錢），巴豆霜（半錢另研）</p>
<p>右為細末，入巴豆霜令均，醋糊為丸如黍米大，每服五十丸，吐愈則止，小兒另丸，治小兒食積吐食亦大玅。</p>
<p>一法治番胃吐食，用橘皮一箇浸少時去白，裹生薑一塊，麵裹紙封燒，令熟去麵外生薑為三番並橘皮，煎湯下紫沉丸一百丸，一日二服得大便通至不吐則止，此主治寒積氣皆可。</p>
<p>治嘔吐腹中痛者是無積也，胃強而乾嘔，有聲無物，脾強而吐食，特實繫強是以腹中痛矣。</p>
<p>木香白朮散</p>
<p>木香（一錢），白朮（半兩），半夏麯（一兩），檳榔（二錢），茯苓（半兩），甘草（四錢）</p>
<p>右為細末濃煎芍藥生薑湯，調下一二錢，有積而痛，手按之愈痛，無積者按之不痛。</p>
<p>附子丸</p>
<p>治下焦吐食，朝食暮吐，暮食朝吐，大便不通。宜</p>
<p>附子（炮五錢），巴豆霜（一錢），砒</p>
<p>右同研極細，鎔黃蠟為丸如桐子大，每服一二丸，冷水送下，利則為度，後更服紫沉丸，常服不令再閉。</p>
<p>厚朴丸</p>
<p>主反胃吐逆，飲食噎塞，氣上衝心，腹中諸疾，加法在後，烏頭減半更玅。</p>
<p>厚朴，黃瀉（各二兩半），紫苑（去苗土），吳茱萸（湯洗七次），菖蒲，柴胡（去苗），桔梗，皂角（去皮弦子炙），茯苓（去皮），官桂（刮），乾薑（炮），人參（各二兩），川烏豆（炮裂去皮臍二兩半），蜀椒（二兩去目閉口者，微炒出汗）</p>
<p>右為細末入巴豆霜一兩和均，煉蜜和為丸劑，旋丸桐子大，每服三丸漸次加至以利為度，生薑湯，食後，臨臥服。</p>
<p>此藥治療與局方溫白丸同，及治處暑以後，秋冬間臟腑下利大效，春夏再加黃連二兩，秋冬再加厚朴二兩。</p>
<p>治風癇病不能愈者，從厚朴丸，依春秋加添外，又於每料中加人參菖蒲茯苓各一兩半。</p>
<p>右依前法和劑為服餌，治番胃又大便不通者，是腸勝胃也，服局方中厚朴丸一二百丸。如大便秘，用後藥</p>
<p>附子（半兩），巴豆（二枚），砒（一豆許）</p>
<p>右為極細末，生薑糊為丸如綠豆，大每服一丸白湯下。</p>
<h3>霍亂論第九</h3>
<p>論曰醫之用藥如將帥之用兵。本草曰良醫不能以無藥愈疾，猶良將無兵不足以勝敵也，故用藥如用兵。轉筋霍亂者治法同用兵之急不可緩也，故吐瀉不止者其本在於中焦，或因渴大飲或因飲而過量，或饑而飽甚，或溼內甚，故陰陽交而不和是為吐瀉。仲景曰邪在上焦則吐，邪在下焦則瀉，邪在中焦則既吐且瀉，此為急病也。然吐利為急，十死其一二。如揮霍撩亂而不得吐瀉，此名乾霍亂必死。法曰既有其入，必有所出，今有其入而不得其出者，否也塞也，故轉筋吐瀉者，其氣有三，一曰風，二曰火，三日溼。吐為暍熱也。王注曰炎熱薄爍，心之氣也。火能炎上故吐也，瀉為溼也。叔和曰溼多成五泄。內經曰溼勝則濡瀉，又曰風勝則動筋屬肝，而應於風木故腳轉筋燥急也。內經曰諸筋反戾，水液渾濁皆屬於熱。故仲景治法曰熱多欲飲水者，五苓散。寒多不飲水者，理中丸。凡覺此證或先五苓益元桂苓甘露飲，乃吐瀉之聖藥也。慎無與粟米粥湯，穀入於胃則必死。本草曰粟米味鹹微寒，無毒主養胃氣，去脾胃中熱，益氣。霍亂者脾胃極損不能傳化，加以粟米如人欲斃，更以利刀鋸其首，豈有能生者耶。如吐瀉多時欲住之後，宜微以粥飲漸漸養之，以遲為玅。</p>
<p>半夏湯</p>
<p>治霍亂轉筋吐瀉不止。</p>
<p>半夏麯，茯苓，白朮（各半兩），淡桂（二錢半），甘草（上同炙）</p>
<p>右為細末，渴者涼水調下，不渴者溫水調下，不拘時候服。</p>
<p>五苓散</p>
<p>白朮，茯苓，木豬苓（各一兩半），澤瀉（二兩半），桂枝（一兩）</p>
<p>右為細末，冷水調下，或水煎三沸冷服亦得。</p>
<p>理中丸</p>
<p>白朮，人參，乾薑，甘草（各等分）</p>
<p>右為細末煉蜜為丸如彈子大，每服一丸冷水化下。如吐瀉不止身出冷汗，無脈者可服。後瀉痢論中漿水散兼桂枝湯，白朮湯皆可服。後痢門中藥亦可選用。</p>
<p>凡霍亂不可飲熱白米粥，飲之死必不救，切須慎之。</p>
<h3>瀉論第十</h3>
<p>論曰臟腑瀉痢其證多種，大抵從風溼熱論。是知寒少而熱多，寒則不能久也，故曰暴瀉非陽，久瀉非陰。論曰春宜緩形，形動則肝木乃榮，反靜則是行秋令，金能制木，風氣內藏，夏至則火盛而金去，獨火木旺而脾土損矣。輕則飧泄身熱脈洪，穀不能化，重則下痢膿血稠黏皆屬於火。經曰溲而便膿血，知氣行而血止也，宜大黃湯下之，是為重劑，黃芩芍藥湯謂之輕劑。是實則瀉其子，木能自虛而脾土實矣。故經曰春傷於風，夏必飧泄，此逆四時之氣人，所自為也。有自太陰脾經受溼而為水泄，虛滑微滿身重不知穀味。假令春宜益黃散補之，夏宜瀉之。法云宜補宜和宜止，假令和則芍藥湯是也，止則呵子湯是也，久則防變而為膿血。脾經傳腎謂之賊邪，故難愈，若先痢而後滑謂之微邪，故易痊。此皆脾土受溼，天行為也。雖聖智不能逃口食味鼻食，氣從鼻而入留積於脾，而為水瀉，有厥陰經動下痢不止，其脈沉而遲，手足厥逆涕膿血，此為難治，宜麻黃湯小續命汗之。法曰謂有表邪縮於內，當散表邪而愈。有暴下無聲身冷自汗，小便清利大便不禁，氣難布息脈微嘔吐，急以重藥溫之，漿水散是也。故法云後重則宜下，腹痛則宜和，身重則除溼，脈弦則去風，血膿稠黏以重藥竭之，身冷自汗以毒藥溫之，風邪內縮宜汗之則愈，鶩溏為痢當溫之。又云在表者發之，在裏者下之，在上者湧之，在下者竭之，身表熱者內疏之，小便澀者分利之。又曰盛者和之，去者送之，過者止之。兵法云避其來銳，擊其墮歸，此之謂也。凡病泄而惡風寒是太陰傳少陰，木來剋土也，用除溼白朮茯苓，安脾芍藥桂黃連，破血也，火邪不能勝水也，太陰經不能傳少陰，而反火邪上乘肺經而痢，必白膿也。加黃連當歸之類，又裏急後重，脈大而洪實為裏熱而甚蔽，是有物結墜也。若脈浮大甚，不宜下，雖裏急後重而脈沉細弱者，謂寒邪在內而氣散也，可溫養而自愈，裏急後重閉者大腸經氣不宣通也，宜加檳榔木香宣通其氣，如痢或泄而嘔者，胃中氣不和也，上焦不和治以生薑橘皮。中焦不和治以芍藥當歸桂茯苓。下焦不和，寒治以輕熱，甚以重熱藥，大便虛秘澀久不愈，恐太陰傳少陰，多傳變為痢。太陰是為賊邪，先以枳實厚朴湯以防其變，若四肢懶倦小便少或不利大便，走沉困飲食減，宜調胃去溼，白朮芍藥茯苓三味水煎服，以白朮之甘能入胃而除脾胃之溼，芍藥之酸澀除胃中之溼熱，四肢困，茯苓之淡泄能通水道走溼，此三味泄痢須用此。如發熱惡寒腹不痛，加黃芩為主。如未見膿而惡寒乃太陰欲傳少陰，加黃連為主，桂枝佐之。如腹痛甚者加當歸倍芍藥。如見血加黃連為主，桂當歸佐之。如燥煩或先白膿後血，或發熱或惡寒，非黃芩不止，此上部血也。</p>
<p>如惡寒脈沉，或腰痛或血痢下痛，非黃連不能止，此中部血也。</p>
<p>如惡寒脈沉，先血後便，非地榆不能止，此下部血也。</p>
<p>如便膿血相雜而脈浮大，慎不可以大黃下之，下之必死謂氣下竭也，而陽無所收也。凡陰陽不和，惟可以分陰陽藥治之。又云暴泄非陽，久泄非陰，大便完穀下有寒有熱者，脈疾身多動音聲響亮暴注下迫，此陽也。寒者脈沉而細疾，身不動作，目睛不甚了了，飲食不下，鼻準氣息者，薑附湯主之。若身重四肢不舉，粟附湯主之。</p>
<p>黃芩芍藥湯</p>
<p>治泄痢腹痛或後重身熱，久而不愈，脈洪疾者及下痢膿血稠黏。</p>
<p>黃芩，芍藥（各一兩），甘草（五錢）</p>
<p>右為麤末，每服半兩，水一盞半煎至一盞，瀘清溫服，無時。如痛則加桂少許。</p>
<p>大黃湯</p>
<p>治泄痢久不愈，膿血稠黏裏急後重，日夜無度久不愈者。</p>
<p>大黃（一兩）</p>
<p>右細剉，好酒二大盞同浸半日許，同煎至一盞半，去大黃將酒分為二服，頓服之，痢止一服，如未止再服，以利為度。服芍藥湯以和之，痢止再服黃芩湯和之，以徹其毒也。</p>
<p>芍藥湯</p>
<p>下血調氣。經曰溲而便膿血，氣行而血止，行血則便自愈，調氣則後重除。</p>
<p>芍藥（一兩），當歸，黃連（各半兩），檳榔，木香，甘草（炙各二錢），大黃（三錢），黃芩（半兩），官桂（一錢半）</p>
<p>右㕮咀，每服半兩，水二盞煎至一盞，食後溫清服。如血痢則漸加大黃，如汗後藏毒加黃柏半兩依前服。</p>
<p>白朮黃耆湯</p>
<p>服前藥痢雖已除，猶宜此藥和之。</p>
<p>白朮（一兩），黃耆（七錢），甘草（三錢）</p>
<p>右㕮咀，均作三服，水一盞半煎至一盞，去滓溫清服之。</p>
<p>防風芍藥湯</p>
<p>治泄痢飧泄，身熱脈弦，腹痛而渴及頭痛微汗。</p>
<p>防風，芍藥，黃芩（各半兩）</p>
<p>右㕮咀，每服半兩或一兩，水二盞煎至一盞，瀘清溫服。</p>
<p>治太陰脾經受溼，水泄注下，體微重微滿，困弱無力不欲飲食，暴泄無數，水穀不化，先宜白朮芍藥湯和之，身重暴下，是大勢來亦宜和之。</p>
<p>白朮芍藥湯</p>
<p>白朮，芍藥（各一兩），甘草（五錢）</p>
<p>右剉每服一兩，水二盞煎至一盞，瀘清溫服。如痛甚者，宜</p>
<p>蒼朮芍藥湯</p>
<p>蒼朮（二兩），芍藥（一兩），黃芩（半兩）</p>
<p>右剉，每服一兩加淡味桂半錢，水一盞半煎至一盞，溫服清。如脈弦頭微痛者，宜</p>
<p>蒼朮防風湯</p>
<p>蒼朮，防風（各二兩），上使</p>
<p>右剉同前煎服。如下血者，宜</p>
<p>蒼朮地榆湯</p>
<p>蒼朮（二兩），地榆（一兩），下使</p>
<p>右剉同前煎服。</p>
<p>已上證如心下痞，每服加枳實一錢，如小便不利各加茯苓二錢，如腹痛漸已瀉下微少，宜訶子散止之。法云大勢已去而宜止之。</p>
<p>訶子散</p>
<p>訶子（一兩，半生半熟），木香（半兩），黃連，甘草（各三錢）</p>
<p>右為細末每服二錢，以白朮芍藥湯調下，如止之不已，宜歸而送之也。訶子散加厚朴一兩，竭其邪氣也。虛滑久不愈者，多傳變為痢疾，太陰傳少陰是為鬼邪，先以厚朴枳實湯防其傳變。</p>
<p>厚朴枳實湯</p>
<p>厚朴，枳實（各一兩），訶子（一兩半生半熟），木香（半兩），黃連（二錢），甘草（三錢炙），大黃（二錢）</p>
<p>右為末每服三五錢，水一盞半煎至一盞，去滓溫服。</p>
<p>漿水散</p>
<p>治暴泄如水，周身汗出，一身盡冷，脈微而弱，氣少而不能語，其甚者加吐，此謂急病治之，宜以此</p>
<p>半夏（二兩湯洗），附子（半兩炮），乾薑（五錢），良薑（二錢半），桂枝（五錢），甘草（五錢炙）</p>
<p>右為細末，每服三五錢，漿水二盞煎至一盞，和滓熱服，甚者三四服，微者三服。太陽經動下痢為鶩溏，大腸不能禁固，卒然而下成小泊光色其中，或有硬物欲起，而又下欲了而不了，小便多清此寒也，宜溫之。春夏桂枝湯，秋冬白朮湯。</p>
<p>桂枝湯</p>
<p>桂枝，白朮，芍藥（各半兩），甘草（二錢炙）</p>
<p>右剉每服半兩，水一盞煎至七分，去滓取清，宜溫服之。</p>
<p>白朮湯</p>
<p>白朮，芍藥（各三錢），乾薑（半兩炮），甘草（二錢炙）</p>
<p>右剉為麤末，如前服之，甚則去乾薑加附子三錢，辛能發也。治厥陰動為瀉痢者，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利或涕唾膿血，瀉痢不止者為難治，宜升麻湯，或小續命湯以發之。法曰謂表邪縮於內，故下痢不止，當散表邪於四肢，布於絡脈，外無其邪則臟腑自安矣。</p>
<p>諸瀉痢入胃名曰溢飲滑泄，渴能飲水，水下後瀉而又渴，此無藥，證當灸大椎。</p>
<p>諸瀉痢久不止或暴下者，皆太陰守病故不可離於芍藥，若不受溼不能下痢，故須用白朮。是以聖人立法，若四時下痢，於芍藥白朮內，春加防風，夏加黃芩，秋加厚朴，冬加桂附。然更詳外證寒熱處之，如裏急後重須加大黃，如身困倦須加白朮，如通身自汗逆冷氣息微加桂附以溫之。如或後重膿血稠黏，雖在盛冬於溼藥內亦加大黃。諸下痢之後小便利，而腹中虛痛不可忍者，此謂陰陽交錯不和之甚也，當服神效越桃散。</p>
<p>大梔子（三錢），高良薑（三錢）</p>
<p>右和均每服三錢，米飲或酒調下，其痛立效。</p>
<p>治大便後下血腹中不痛，謂之溼毒下血，宜用黃連湯。</p>
<p>黃連（去鬚），當歸（各半兩），甘草（二錢炙）</p>
<p>右㕮咀每服五錢，水一盞煎至七分，食後溫服。</p>
<p>治大便後下血腹中痛者，謂熱毒下血。當服芍藥黃連湯</p>
<p>芍藥，當歸，黃連（各半兩），大黃（一錢），桂（淡味半錢），甘草（二錢炙）</p>
<p>右㕮咀，每服半兩同煎服，如痛甚者調木香檳榔末一錢服之。</p>
<p>治久病腸風痛癢不仁，大便下血宜服地榆湯。</p>
<p>蒼朮（去皮四兩），地榆（二兩）</p>
<p>右㕮咀每服一兩，水一盞煎至七分，食前，多服除根。</p>
<p>治溼瀉茯苓湯</p>
<p>白朮（一兩），茯苓（去皮七錢半）</p>
<p>右㕮咀，水煎一兩，食前服。食入而瀉謂胃中有宿穀也，當加枳實五錢。酒入而瀉，溼熱瀉也，加黃芩五錢。治寒積痢，男子小兒婦人皆不問赤白，或清痢如水，不後重者寒也。經云澄徹清冷皆屬於寒，皆為虛寒中有積，宜附子巴豆之類下之，見利則愈，空心服。</p>
<p>治瀉痢久臟腑不止，虛滑穀不化，用蒼朮湯下桃花丸。</p>
<p>蒼朮（二兩），防風（一兩）</p>
<p>右剉為細末，用水一碗煎至一大盞，絞清汁下桃花丸八十丸立愈。如小便澀少，以五苓散下桃花丸，或赤白石脂丸。小便利則愈矣。</p>
<p>太陽為協熱痢，涼膈散主之。</p>
<p>陽明為痼瘕進退大承氣湯主之。珍珠囊中有少陽風氣自動，其脈弦，大柴胡湯主之。</p>
<p>太陰溼勝濡瀉不可利，而可溫，四逆湯主之。</p>
<p>少陰蟄封不動禁固可澀，赤石脂丸乾薑湯主之。</p>
<p>厥陰風泄以風治風，小續命湯消風散主之。</p>
<p>治下痢膿血裏急後重，日夜無度，導氣湯。</p>
<p>芍藥（一兩），當歸（五錢），大黃，黃芩（各二錢半），黃連，木香（各一錢），檳榔（一錢）</p>
<p>右為末每服三五錢，水一盞煎至七分，去滓溫服，如未止再服，不後重則止。</p>
<p>雜例</p>
<p>溲而便膿血者大腸泄也。脈五至之上，洪者，宜以七宣丸。如脈平者，立秋至春分宜香連丸，春分至立秋宜芍藥柏皮丸，四季通用宜加減平胃散，七宣丸之類，後宜服此藥去其餘邪，兼平胃氣。</p>
<p>芍藥柏皮丸</p>
<p>芍藥，黃柏（各等分）</p>
<p>右為細末，醋糊為丸如桐子大，每服五七十丸至二百丸，溫水下，食前服。</p>
<p>加減平胃散</p>
<p>白朮，厚朴，陳皮（各一兩），甘草（七錢），檳榔（三錢），木香（三錢），桃仁，黃連，人參，阿膠（各半兩），白茯苓（去皮半兩）</p>
<p>右為細末，同平胃散煎服。</p>
<p>血多加桃仁，泄加黃連。</p>
<p>小便澀加茯苓。</p>
<p>氣不下後重加檳榔木香。</p>
<p>腹痛加芍藥甘草，膿加阿膠。</p>
<p>溼加白朮，脈洪加大黃。</p>
<p>四時以胃氣為本，久下血痢則脾虛損，而血不流於四肢。入於胃中為血，宜滋養脾胃則愈。</p>
<p>夫五泄者之病，其治法各不同者，外證各異也。</p>
<p>胃泄者飲食不化多黃，承氣湯下。</p>
<p>脾泄者腹脹滿泄注，食即嘔吐逆，建中及理中湯。</p>
<p>大腸泄者食己窘迫，大便色白，腸鳴切痛，乾薑及附子湯。</p>
<p>小腸泄者溲便膿血少腹痛，承氣湯。</p>
<p>大瘕泄者裏急後重，數至圊而不能便，足少陰是也，莖中痛急利小便，此五泄之病也。胃小腸大瘕之證皆清涼飲子主之，其泄自止。後厥陰少陰二證，另有治法，厥陰證加甘草謂主莖中痛是肝也，內經曰肝苦急，急食甘以緩之。少陰經證多裏急後重，故加大黃，令急推過物去則輕矣。內經曰因其重而減之，又曰在下者引而竭之，又有太陰陽明二經，證當進退大承氣湯主之。太陰證不能食，當先補而後瀉之，乃進藥法也，先煎厚朴半兩，俱依本方加製水一盞半煎至一半服之，若三兩服後未已，謂有宿食不消又加枳實二錢，同煎服，三兩服泄又未已，如稍加食，尚有熱毒又加大黃三錢，推過泄止住，藥如泄未止，謂腸胃有久塵垢滑黏，加芒硝半合，宿垢去盡則愈矣。陽明證能食是也，當先瀉而後補，謂退藥法也，先用大承氣湯五錢，水一盞作前法煎，至七分，稍熱服，如泄未止去芒硝後，稍熱退減大黃一半，煎兩服，如熱氣雖已，其人必腹滿，又減去大黃枳實厚朴湯，又煎三兩服，如是腹脹滿退泄亦自愈，後服厚朴湯數服則已。</p>
<p>又寒熱水洩之例於後</p>
<p>洩者一也，總包五法，謂之六義，曰六解難經，有傷寒五泄。叔和云溼多成五泄，仲景解四經泄利，有不可汗，有不可下者，可吐可灸者，仲景隨經自言之。假令渴引飲者，是熱在膈上，水多入則下膈，入胃中胃經，本焦熱不勝其水，名曰水恣，故使米穀一時下，此證當灸大推二五壯立已，乃瀉督也，如用藥乃使車前子擂丸白朮茯苓之類可選用之，五苓散亦可。</p>
<p>又有寒泄者，大腹滿而泄，又有鶩溏者是寒泄也。鴨溏者大便如水，中者少結糞者是也，如此者當用天麻附子乾薑之類是也。</p>
<p>又法曰泄有虛實寒熱，虛則無力黏衣不便己泄出，謂不能禁固也，實則數至圊而不能便，俗云虛坐弩責故也，裏急後重皆依前法，進退大承氣湯主之。一說素問云春傷於風夏必飡泄。又云久風為飡泄者，乃水穀不化而完出爾，非水恣胃而成此證，非前水恣也。此一證不飲水而穀完出名曰飡泄。治法於後，先以宣風散導之出，錢氏方中四味者是也，後服蒼朮防風湯。</p>
<p>蒼朮防風湯</p>
<p>蒼朮（去皮），麻黃（去根節各四兩），防風（去蘆頭五錢）</p>
<p>右為粗末，每服一兩，生薑七片，水二盞煎至一盞，去滓溫服，止後服椒朮丸。</p>
<p>椒朮丸</p>
<p>蒼朮（二兩），小椒（一兩去目炒）</p>
<p>右為極細末，醋糊為丸如桐子大，每服二十丸或三十丸，食前溫水下。一法惡痢久不愈者，加桂。如小兒病，丸如黍米大。</p>
<p>地榆芍藥湯</p>
<p>治瀉痢膿血乃至脫肛。</p>
<p>蒼朮（一兩），地榆（二兩），卷柏，芍藥（各三兩）</p>
<p>右㕮咀，每服一兩水一大盞半煎至一半，溫服，病退藥。</p>
<p>五泄傷寒乃分三節</p>
<p>初說暴，次說中，後說久泄。</p>
<p>此說在難經二十二難是三節內，包十五法，初以暴藥中以的對證，藥後疾得中也，未治久泄法，仲景論厥陰經治法是也。</p>
<p>治久泄法先進縮煎小續命湯，是發其汗，使邪氣不能以外浸於內，然後治其痢。秋冬間下痢風吐論中加減厚朴丸大效。</p>
<p>凡臟腑之秘不可一例治療，有虛秘有實秘，胃實而秘者能飲食小便赤，當以麻仁湯，七宣丸之類主之。胃虛而秘者不能飲食，小便清利，厚朴湯主之。</p>
<p>厚朴（薑製），白朮（各五兩），半夏（二兩），枳實（一兩炒），陳皮（去白二兩），甘草（三兩炙）</p>
<p>右為麤末，每服三五錢，水一盞半，生薑五片，棗三枚，煎至一盞，去滓溫服，空心。實秘者物也，虛秘者氣也。</p>
<p>平胃丸</p>
<p>治病久虛弱厭厭不能食，而臟腑或秘或溏，此胃氣虛弱也，當服和中消痰去溼，及厚腸胃進飲食。</p>
<p>厚朴（一兩），白朮（一兩二錢），陳皮（八兩去白），木香（一錢），生半夏（湯洗一兩），檳榔（二錢半），枳實（五分），甘草（三錢炙）</p>
<p>右為細末，薑汁浸蒸餅丸如桐子大，每服一五十丸，生薑湯或溫水下。</p>
<h3>心痛論第十一</h3>
<p>論曰諸心痛者皆少陰厥氣上衝也，有熱厥心痛者，身熱足寒，痛甚則煩燥而吐，額自汗出，知為熱也，其脈洪大，當灸太谿及崑崙，謂表裏俱瀉之，是謂熱病汗不出引熱下行，表汗通身而出者愈也。灸畢服金鈴子散，痛止服枳朮丸去其餘邪也。有大實心中痛者，因食受時氣，卒然發痛，大便或秘，久而注悶，心胸高起，按之愈，痛不能飲食，急以煮黃丸利之。利後以藁本湯去其餘邪。有寒厥心痛者，手足逆而通身冷汗出，便利溺清或大便利而不渴者，氣微力弱，急以朮附湯溫寒厥暴痛，非久病也，朝發暮死，當急救之，是知久痛無寒，而暴痛非熱。</p>
<p>治熱厥心痛或發或止，久不愈者當用金鈴子散。</p>
<p>金鈴子，玄胡（各一兩）</p>
<p>右為細末，每服三錢，酒調下。</p>
<p>大實心痛煮黃丸</p>
<p>雄黃（一兩研），巴豆（五錢去皮生用研細入雄黃未）</p>
<p>右再研二味白麵二兩同和，再研均，滴水丸如桐子大，每服時先前漿水令沸，下藥二十四丸煮一二十沸，澇入冷漿水沉冷一時，服二丸，一日二十四丸，加至微利為度。用浸藥水送下，此治脇下痃癖痛如神。</p>
<p>治大實心痛，大便已利，宜藁本湯徹其毒也。</p>
<p>藁本（一兩半），蒼朮（一兩）</p>
<p>右為麤末，每服一兩，水二盞煎至一盞，溫服清。</p>
<p>治寒厥暴痛，脈微氣宜朮附湯。</p>
<p>附子（泡去臍去細切），白朮（各一兩），甘草（一兩炙）</p>
<p>右為麤末入附子令均，每服三錢，水一大盞半，入生薑五片，棗一枚劈破，同煎至一盞，去滓溫服，食前。此藥又治風溼相搏，身重疼煩不能轉側，不嘔不渴，大便堅硬小便自利，及風虛頭目眩重者，不知食味，暖肌補中助陽氣止自汗。</p>
<p>治男子婦人心經搐熱，如癇病狀，宜服妙香丸。</p>
<p>風癇者煎羌活為引，下妙香丸。血痛當歸湯引下，刺心痛諸穴於後。</p>
<p>真心痛手足青至節，痛甚旦發夕死，夕發旦死。</p>
<p>心痛腹脹，嗇然大便不利，取足太陰。</p>
<p>心痛引腰脊欲嘔，取刺足少陰。</p>
<p>心痛引小腹滿，上下無常處，便溺難，刺足厥陰。</p>
<p>心痛短氣刺手太陰。</p>
<p>心痛刺當九穴刺之立已，不己上下求之，得之則已。</p>
<p>按經三法</p>
<p>心痛與背相接，善恐如從後觸其心，傴僂者，腎心痛也，先刺經骨崑崙，不已刺合骨。</p>
<p>心痛腹脹滿，心尤痛者，胃心痛也，刺太都太白二穴。</p>
<p>心痛如錐刺，乃脾心痛也，刺然谷太谿。</p>
<p>心痛蒼然如死狀，終日不得休息乃肝心痛，取行間太衝。</p>
<p>心痛臥若徒居心痛間，動作益痛甚者，其色不變，此肺心痛也，刺魚際大淵，宣通氣行無所凝滯則病愈也。</p>
<p>大谿穴足少陰腎經，上也為腧，在足內踝後跟骨上脈動陷中，可灸三壯五七壯，此瀉熱厥心痛。</p>
<p>崑崙足太陽膀胱經水也，在足外踝後跟骨上陷中，可灸三壯或五七壯亦可，瀉熱厥心痛。</p>
<p>素問病機氣宜保命集卷中終。</p>
<h2>卷下</h2>
<h3>欬嗽論第二十一</h3>
<p>論曰：欬謂無痰而有聲，肺氣傷而不清也。嗽是無聲而有痰，脾溼動而為痰也。欬嗽謂有痰而有聲。蓋因傷於肺氣動於脾溼，欬而為嗽也。脾溼者秋傷於溼積於脾也，故內經曰秋傷於溼，冬必欬嗽。大抵素秋之氣宜清，今反動之，氣必上衝而為欬，甚則動於脾溼發而為痰焉。是知脾無留溼，雖傷肺氣而不為痰也。有痰寒少而熱多故欬嗽者，非專主於肺而為病。以肺主皮毛而司於外，故風寒先能傷之也。內經曰五臟六腑皆能令人欬，非獨肺也，各以其時主之而受病焉，非其時各傳而與之也。所病不等，寒暑燥溼風火六氣皆令人欬，唯溼病痰飲入胃留之而不行，止入於肺則為欬嗽。假令溼在於心經謂之熱痰，溼在脾經謂之風痰，溼在肺經謂之氣痰，溼在腎經謂之寒痰，所治不同宜隨證而治之。若欬而無痰者，以辛甘潤其肺，故欬嗽者治痰為先，治痰者下氣為上，是以南星半夏勝其痰而欬嗽自愈，枳殼陳皮利其氣而痰自下。痰而能食者大承氣湯微下之，少利為度。痰而不能食者厚朴湯治之。夏月嗽而發熱者謂之熱痰嗽，小柴胡四兩加石膏一兩，知母半兩用之。冬月嗽而發寒熱謂之寒嗽，小青龍加杏仁服之。然此為大例，更當隨證隨時加減之，量其虛實，此治法之大體也。</p>
<p>蜜煎生薑湯，蜜煎橘皮湯，燒生薑楜桃。</p>
<p>此者皆治無痰而嗽者。當以辛甘潤其肺故也，如但使青陳皮藥皆當去白。本草云：陳皮味辛理上氣，去痰氣滯塞。青皮味苦理下氣，二味俱用散三焦之氣也。故聖濟云：陳皮去痰，穰不除即生痰。麻黃發汗，節不去而止汗。</p>
<p>治風痰熱咳嗽，其脈弦面青四肢滿悶，便溺秘澀心多燥怒，水煮金花丸。</p>
<p>南星，半夏（各一兩生用），天麻（五錢），雄黃（二錢），白麵（三兩），寒水石（一兩燒存性）</p>
<p>右為細末滴水為丸，每服五七十丸至百丸，煎漿水沸下藥，煮令沸淨為度，漉出淡漿水浸。另用生薑湯下，或通聖加半夏，及局方中川芎丸，防風丸皆可用也。</p>
<p>小黃丸</p>
<p>治熱痰欬嗽，脈洪面赤煩熱心痛，唇口乾燥多喜笑，宜小黃丸。</p>
<p>南星（湯洗），半夏（洗各一兩），黃芩（一兩半）</p>
<p>右為細末，生薑汁浸蒸餅為丸，如桐子大，每服五十丸至七十丸，食後薑湯下，及小柴胡湯加半夏亦可。</p>
<p>白朮丸：</p>
<p>治痰濕欬嗽，脈緩面黃肢體沉重，嗜臥不收，腹脹而食不消化。</p>
<p>南星，半夏（俱湯洗各一兩），白朮（一兩半）</p>
<p>右為細末薄糊為丸桐子大，每服五七十丸，生薑湯下，及局方中防巳丸亦可用。</p>
<p>玉粉丸</p>
<p>治氣痰欬嗽，脈澀，面白上喘氣促，洒淅惡寒，愁悶不樂，宜服之。</p>
<p>南星，半夏（俱洗各一兩），官桂（去皮一兩）</p>
<p>右為細末薄糊為丸如桐子大，每服五七十丸，生薑湯下，食後。及局方中防巳丸亦可。玉粉丸加減在後，心下否者加枳實伍錢，身熱甚者加黃連五錢，體重者加茯苓一兩，氣上逆者加苦亭藶五錢，氣促者加人參桔梗各五錢，浮腫者加郁李仁杏仁各五錢，大便秘者加大黃五錢。</p>
<p>雙玉散</p>
<p>治痰熱而喘，痰湧如泉。</p>
<p>寒水石，石膏（各等分）</p>
<p>右為細末，煎人參湯調下三錢，食後服。</p>
<p>治痰千緡湯</p>
<p>半夏（生末一兩），大皂角（去皮子半兩剉）</p>
<p>右同於絹袋中盛之，用水三升，生薑七大片同煎至一半，以手操洗之，取清汁分作三服，食後併服二服效。</p>
<p>防風丸</p>
<p>治痰嗽胸中氣不清利者，枳朮丸亦妙。</p>
<p>防風（半兩），枳殼（半兩去穰麩炒），白朮（一兩）</p>
<p>右細末燒餅為丸，每服五七十丸，生薑湯下。</p>
<p>天麻丸</p>
<p>天麻（一兩），半夏，南星（各一兩），雄黃（少許）</p>
<p>右以白麵二兩滴水為丸如桐子大，每服五十丸至百丸，煎淡水令沸下藥煮十餘沸，漉出，食前生薑湯下。</p>
<p>利膈丸</p>
<p>主胸中不利，痰嗽喘促，利脾胃壅滯，調秘瀉藏推陳致新，消進飲食，治利膈氣之勝藥也。</p>
<p>木香（一錢半），檳榔（一錢半），人參（三錢），當歸（二錢），藿香（一錢半），大黃（酒浸焙一兩），厚朴（薑製三兩），枳實（一兩炒），甘草（三錢灸）</p>
<p>右為細末滴水和丸如桐子大，每服三五十丸，食後，諸飲皆下。</p>
<p>欵氣丸</p>
<p>治久嗽痰喘，肺氣浮腫。</p>
<p>青皮（去白），陳皮（去白），檳榔，木香，杏仁（去皮尖），郁李仁（去皮），茯苓，澤瀉，當歸，馬兜鈴，苦亭藶，茂（炮各三兩），人參，防己（各五錢），牽牛（取細末一兩）</p>
<p>右為細末，生薑汁麵糊為丸如梧子大，每服一二十丸加至五七十丸，生薑湯下，食後服。</p>
<p>玉粉丸</p>
<p>治痰結咽喉不利，語音不出。</p>
<p>半夏（洗五錢），草烏（一字炒），桂（一字多）</p>
<p>右同為末，生薑汁浸蒸餅為丸如雞頭大，每服一丸至夜含化，多歲不愈者亦效。</p>
<p>枳殼湯</p>
<p>治久痰胸膈不利者，多上焦發熱。</p>
<p>枳殼（麩炒去穰三兩），桔梗（三兩），黃芩（一兩半）</p>
<p>右同剉，每日早用二兩半，水三盞煎至二盞，勻作三服，午時一服，申時一服，臨臥時一服。二日七兩半，藥盡服生半夏湯。</p>
<p>生半夏湯</p>
<p>半夏（不以多少洗七遍，切作片子）</p>
<p>右每服秤三錢，水一盞半，入生薑五大片，同煎至一盞，和滓食後服，一日三二服，服三日畢再服枳朮丸，盡其痰為度，先消胸中氣，後去膈上痰，再服枳朮丸，謂首尾合盡消其氣，今痰不復作也。</p>
<p>清鎮丸</p>
<p>治熱嗽。</p>
<p>小柴胡湯內加人參一梧，青黛（半兩）</p>
<p>右為細末麵糊丸如桐子大，每服五十丸，生薑湯下。</p>
<p>半夏丸</p>
<p>治因傷風而痰作喘逆，兀兀欲吐，惡心欲倒也。吐加檳榔三錢。</p>
<p>半夏（一兩湯洗切），雄黃（研三錢）</p>
<p>右同為末，生薑汁浸蒸餅為丸桐子大，每服三十丸，生薑湯下，小兒丸如黍米大。</p>
<p>白朮散</p>
<p>治夏暑大熱，或醉飲冷，痰溼不止，膈不利。</p>
<p>白朮，茯苓，半夏（洗），黃芩（各等分）</p>
<p>右為麤末，每服五錢至七錢，水二盞，入生薑十片，煎至一盞去滓，調陳皮末一錢，神麯末一錢，食後服。</p>
<p>法曰大熱大飲，蓋酒味熱而引飲冷，冷與熱凝於胸中不散而成溼，故痰作矣。甚者宜吐之，吐後服五苓，甘露，勝溼去痰之劑。</p>
<p>白朮湯治痰潮上如湧泉不可治者。</p>
<p>白朮，白茯苓，半夏（等分）</p>
<p>右為末，每服半兩，病大者一兩，水二盞，生薑七片煎至一盞，取清調神麯末二錢，頓服之。病甚者下玉壺丸一百丸，大效永除根。</p>
<p>天門冬丸</p>
<p>治婦人喘手足煩熱，骨蒸寢汗，口乾引飲，面目浮腫。</p>
<p>天門冬（十兩去心），麥門冬（去心八兩），生地黃（三斤取汁為膏子）</p>
<p>右二味為末，膏子和丸如梧子大，每服五十丸煎逍遙散送，逍遙散中去甘草加人參，或服王氏博濟方中人參荊芥散亦可。如面腫不已，經曰面腫曰風，故宜汗，麻黃桂枝可發其汗，後服柴胡飲子去大黃。故論曰治藏者治其俞，治府者治其合，浮腫者治其經。治俞者治其土也，治合者亦治其土也，如兵家圍魏救趙之法也。</p>
<h3>虛損論第二十二</h3>
<p>論曰虛損之疾，寒熱因虛而感也。感寒則損陽，陽虛則陰盛，損自上而下，治之宜以辛甘淡，過於胃則不可治也。感熱則損陰，陰虛則陽盛故損自下而上，治之宜以苦酸鹹，過於脾則不可治也。自上而損者，一損損於肺，皮聚而毛落。二損損於心，血脈虛少不能榮於藏府，婦人月水不通。三損損於胃，飲食不為肌膚。自下而損者，一損於腎，骨痿不能起於床。二損損於肝，筋緩不能自收持。三損損於脾，飲食不能消剋。論曰心肺損而色蔽，腎肝損而形痿，榖不能化而脾損，感此病者皆損之，病也漸漬之深，皆虛勞之疾也。</p>
<p>四君子湯：</p>
<p>治肺損而皮聚毛落，益氣可也。</p>
<p>白朮，人參，黃耆，茯苓（各等分）</p>
<p>右為麤末，每服五六錢七錢，水一盞煎至七分，去滓，食遠溫服。</p>
<p>八物湯</p>
<p>治心肺虛損，皮聚而毛落，血脈虛損，婦人月水愆期，宜益氣和血。</p>
<p>白朮，人參，黃耆，茯苓，川芎，熟地黃，當歸，芍藥（各等分）</p>
<p>右麤末，每服五七錢，水一盞煎至七分，去滓食後溫服。</p>
<p>十全散</p>
<p>治心肺損及胃，飲食不為肌膚，宜益氣和血調飲食。</p>
<p>白朮，人參，黃耆，伏神，桂枝，熟地黃，當歸，川芎，芍藥，甘草（等分）</p>
<p>右為末，加生薑棗同煎，水一大盞，藥五錢煎至七分，食前，日三服。</p>
<p>金剛丸</p>
<p>治腎損，骨痿不能起於床，宜益精。</p>
<p>萆薢，杜仲（炒去絲），免絲子（酒浸），蓯蓉（酒浸等分）</p>
<p>右為細末，酒煮豬腰子為丸，每服五七十丸，空心酒下。</p>
<p>牛膝丸</p>
<p>治腎肝損，骨痿不能起於床，筋緩不能收持，宜益精緩中。</p>
<p>牛膝（酒浸），萆薢，杜仲（炒去絲），蓯蓉（酒浸），防風，免絲子（酒浸），白蒺藜（各等分），桂枝（減半）</p>
<p>右細末，酒煮豬腰子搗丸桐子大，空心酒下，五七十丸。</p>
<p>煨腎丸</p>
<p>治腎肝損及脾損，穀不化，宜益精緩中消穀。</p>
<p>牛膝（酒浸），萆薢，杜仲，蓯蓉，免絲子，防風，白蒺藜，胡蘆巴，破故紙（等分），桂（半錢）</p>
<p>右和劑服餌如金剛丸法，腰痛不起者甚效。</p>
<p>黑地黃丸加五味子名腎氣丸</p>
<p>治陽盛陰虛，脾腎不足，房室虛損，形瘦無力，面多青黃而無常色，宜此藥養血益腎。</p>
<p>蒼朮（一斤米泔浸），熟地黃（一斤），川薑（冬一兩，夏五錢，春七錢），五味子（半斤）</p>
<p>右為細末，棗肉為丸如梧子大，每服一百丸至二百丸，食前米飲下或酒。治血虛久痔甚效，經曰腎苦燥，急食辛以潤之，開腠理致津液通氣。五味子味酸故酸以收之，此雖陽盛不燥熱，乃是五藏虛損於內，故可益血收氣也。此藥類象神品藥也。</p>
<p>治陽虛陰盛，心肺不足，宜八味丸。若形體瘦弱無力多困，未知陰陽先損，夏月地黃丸，春秋宜腎氣丸，冬月宜八味丸。</p>
<h3>消渴論第二十三</h3>
<p>論曰消渴之疾三焦受病也，有上消中消腎消。上消者上焦受病，又謂之膈消病也。多飲水而少食，大便如常或小便清利，知其燥在上焦也，治宜流溼潤燥。中消者胃也，渴而飲，食多小便黃。經曰熱能消穀，知熱在中。法云宜下之，至不欲飲食則愈。腎消者病在下焦，初發為膏淋，下如膏油之狀，至病成而面色黧黑，形瘦而耳焦，小便濁而有脂。治法宜養血以肅清，分其清濁而自愈也。法曰燥上而渴，辛甘潤肺，故可用蜜煎生薑湯，大器頓之，時時呷之。法云心肺之病莫厭煩而少飲。內經云補上治宜以緩，又曰辛以潤之，開腠理致津液通則肺氣下流，故氣下火降而燥衰矣，其渴乃止。又經曰二陽結為消。王注曰二陽結於胃及大腸俱熱也，腸胃藏熱則善消水榖，可甘辛降火之劑，黃連末一斤，生地黃自然汁，白蓮花藕自然汁，牛乳汁各一斤敖成膏子劑，黃連末為丸如梧桐子大，每服三十丸少呷溫水送下，日進十服，渴病立止。</p>
<p>治上焦膈消而不欲多食，小便清利宜小柴胡湯，或加白虎湯，或錢氏方中地骨皮散，內加芍藥，黃耆，石膏，黃芩，桔梗之類是也。</p>
<p>人參石膏湯</p>
<p>治膈消，上焦煩渴不欲多食。</p>
<p>人參（半兩），石膏（一兩一錢），知母（七錢），甘草（四錢）</p>
<p>右為麤末每服五錢至七錢，水煎食後溫服。</p>
<p>順氣散</p>
<p>治消中，熱在胃而能食，小便赤黃，微利之為效，不可多利，服此藥漸漸利之，不欲多食則愈。</p>
<p>厚朴（薑製一兩），大黃（四兩），枳實（二錢炒）</p>
<p>右剉，每服五錢，水煎，食遠服。</p>
<p>茴香散</p>
<p>治腎消病，下焦初證小便如膏油。</p>
<p>茴香（炒），苦楝（炒）</p>
<p>右細末，酒調二錢，食前服。</p>
<p>八味丸</p>
<p>治腎消大病加減法。</p>
<p>本方內倍加山藥外，桂附從四時加減，假令方內桂附一兩，春各用三錢，夏一錢，秋用五錢，冬全用一兩。</p>
<p>珍珠粉丸</p>
<p>治白淫夢泄遺精及滑出而不收。</p>
<p>黃柏一斤（於新瓦上燒令通赤為度），真蛤粉一斤</p>
<p>右為細末滴水丸如桐子大，每服一百丸空心酒下。法曰盛陽乘陽故精泄也，黃柏降火，蛤粉鹹而補腎陰也。又治思想無窮所願不得之證。</p>
<p>竹籠散</p>
<p>治消渴。</p>
<p>五靈脂，黑豆（去皮臍）</p>
<p>右等為細末，每服三錢，冬瓜湯調下，無冬瓜苗葉皆可，日二三服效，渴定不可服熱藥，唯服八味丸去附子加五味子。</p>
<h3>腫脹論第二十四（小兒附）</h3>
<p>靈樞脹論云帝問岐伯脹形何如，岐伯曰夫心脹者，煩心氣短臥不安。肺脹者虛滿而喘欬。肝脹者脇下滿而痛引少腹。脾脹者善噦四肢煩悗，體重不能勝衣，臥不安。腎脹者引背央央然，腰髀痛。六腑脹胃脹者，腹滿胃脘痛，鼻聞焦臭妨於食，大便難。大腸脹者腸鳴痛而濯濯，冬日重於寒則飧泄食不化。小腸脹者小腹䐜滿引腰而痛。膀胱脹者少腹氣滿而氣癃。三焦脹者氣滿于皮膚中硜硜然而不堅。膽脹者脇下痛脹，口苦善太息。又水脹篇云帝問岐伯水脹何如，答曰水始起也，目窠上微腫如新臥起之狀，其頸脈動，欬，陰股間寒，足脛腫，腹乃大，其水已成矣。以手按其腹隨手而起，如裹水之狀此其候也。帝曰膚脹何如，岐伯曰膚者寒氣客於皮中皷空空然不堅，腹身大盡腫皮厚，按其腹窅而不起，腹色不變此其候也。鼓脹何如，答曰腹脹身皆大，大與膚脹等也，色蒼黃腹筋起，此其候也。腸覃何如，答曰寒氣客於腸外與衛相博氣不得榮，因有所繫，癖而內著惡氣乃起，瘜肉生其始大也，大如雞子稍以益大，至其成如懷子狀，久者離歲按之則堅，推之則移，月事不以時下，此其候也。石瘕何如，答曰石瘕生於胞中，寒氣客於子門閉塞，氣不通惡血當瀉不瀉，因以止，日以益大，狀如懷子，月事不時，皆生於女子，可導而下。帝曰膚脹鼓脹可剌邪。曰先瀉其脹之血絡，復調其經，刺去其血絡也。</p>
<p>經云平治權衡，去菀陳剉，開鬼門潔淨府。平治權衡者，察脈之浮沉也。去菀陳剉者，疏滌腸胃也。開鬼門潔淨府者，發汗利小便也。又鼓脹之病治以雞屎醴。名醫云其腫有短氣不得臥為心水，兩脇痛為肝水，大便鴨溏為肺水，四肢皆腫為脾水，腰痛足冷為腎水，口苦咽乾為膽水，乍虛乍實為大腸水，各隨其經絡分其內外，審其脈證而別之。又有風水皮水石水黃汗，歸各藏以論之。風合歸肝，皮合歸肺，黃汗歸脾，石合歸腎。風水脈浮必惡風，皮水脈亦浮按下沒指，石水脈沉腹滿不喘，黃汗脈沉遲發熱而多涎，久而不愈必致癰膿。水腫脈浮帶數即是虛寒潜止其間，久必沉伏，沉伏則陽虛，陰實為水必矣。要知水脈必沉是也，論曰脈出者死，與病不相應也。諸唇黑則傷肝，缺盆盈平則傷心，臍出則傷脾，足平則傷腎，背平則傷肺，此五者必不可療也。治法云腰以上宜發汗，腰以下利小便。錢氏論虛實腹脹，實則不因吐瀉，久病之後亦不因下利，脹而喘急悶亂更有痰有熱，及有宿食不化而脹者，宜服大黃丸，白餅子，紫霜丸下之。更詳認大小便如俱不通，先利小便後利大便，虛則久病吐瀉後，其脈微細。肺主目胞，脾虛腫手足冷，當先服塌氣丸，後服異功散，及和中丸，益黃散溫其氣。因於氣腫者橘皮煎丸。因於溼為腫，煎防己黃耆湯調五苓散。因於熱為腫者服八正散。</p>
<p>又一法燥熱於肺為腫者，乃絕水之源也，當清肺除燥，水自生矣。於豉梔湯中加黃芩。如熱在下焦，陰消使氣不得化者，當益陰則陽氣自化也，黃柏黃連是也。</p>
<p>五脈論五水灸法。</p>
<p>青水灸肝井，赤水灸心榮，黃水灸脾俞，白水灸肺經，黑水灸腎合。</p>
<p>婦人蠱脹無脈燒青丸，五皮散亦是。</p>
<p>論諸蠱脹者有二種，若從胃則旦食而不能夜食，旦則不脹夜則脹是也，若水腫證濡泄者是也。內經曰蠱脹之病，治以雞屎醴酒調服。水脹之病當開鬼門潔淨府也。</p>
<p>白茯苓湯名變水</p>
<p>白茯苓，澤瀉（各二兩），郁李仁（二錢）</p>
<p>右㕮咀作一服，水一碗煎至一半，常服，無時從少至多服，或煎得澄入生薑自然汁在內和麵，或做粥飯作常食，五七日後覺脹下再中以白朮散。</p>
<p>白朮，澤瀉（各半兩）</p>
<p>右為細末，每服三錢煎茯苓湯調下，或丸亦可服三十丸。</p>
<p>末治之藥服黃耆芍藥建中之類，以調養之，平復後忌房室豬魚鹽麵等物。</p>
<p>治水氣蠱脹潔淨府，楮實子丸</p>
<p>楮實子（一斗水二斗成膏子），白丁香（一兩半），茯苓（三兩去皮）</p>
<p>右三味為細末，用楮實膏為丸如桐子大，不計其數從少至多，服至小便清利及腹脹減為度，後服中治藥、末治藥、調養藥疏啟其中，忌甘苦酸，補其下，五補七宣。</p>
<p>取穴法</p>
<p>治腫治其經，治金火也，井榮俞經，陰經金也，金木水火，陽經火也。</p>
<p>治腫木香散</p>
<p>木香，大戟，白牽牛（各等分）</p>
<p>右為細末，每用三錢豬腰子一對批開，摻藥在內燒熟空心服之，如左則塌左，右則塌右，如水腫不能全去，於腹上塗甘遂末，在遶臍滿腹少飲甘草水，其腫便去也。</p>
<p>治水腫。</p>
<p>螻蛄去頭尾與葡萄心同研，露七日曝乾為細末，淡酒調下，暑月溼用尤佳。</p>
<p>又方</p>
<p>棗一斗鍋內入水，上有有四指用大戟并根苗蓋之，遍盆合之煮熟為度，去大戟不用旋，旋喫無時盡棗決愈神效。</p>
<h3>眼目論第二十五</h3>
<p>論曰眼之為病，在府則為表，當除風散熱。在藏則為裏，宜養血安神。暴發者為表而易治，久病者在裹而難愈。除風散熱者瀉青丸主之，養血安神者定志丸。婦人熟乾地黃丸是也，或有體肥氣盛風熱上行，目昏澀者槐子散主之，此由胸中氣濁上行也。重則為痰厥亦能損目，常使胸中氣清無此病也。又有因目疾服藥多而損氣者，久之眼漸昏弱，乍明乍暗不欲視物，此目少血之驗也，熟乾地黃丸，消風散，定志丸，相須而養之。或有視物不明見黑花者，此謂之腎氣弱也，宜補腎水駐景丸是也。或有暴失明者，謂眼居諸陽交之會也，而陰及閉之，此風邪內滿當有不測之疾也。翳膜者風熱重而有之，或斑入眼，此肝氣盛而發在表也，翳膜已生在表明矣，當發散而去之，反疏利則邪氣內搐為翳則深也。邪氣未定謂之熱翳而浮，邪氣已定謂之冰翳而沉，邪氣牢而深者謂之陷翳，當以焮發之物使其邪氣再動，翳膜乃浮，輔之退翳之藥則能自去也。病久者不能速效當以歲月除之。</p>
<p>治眼赤暴發腫，散熱飲子。</p>
<p>防風，羌活，黃芩，黃連（各一兩）</p>
<p>右剉，每服半兩，水二盞煎至一盞，食後溫服。如大便秘澀加大黃一兩，如痛甚者加當歸地黃，如煩燥不能眠睡，加梔子一兩。</p>
<p>川芎散</p>
<p>風熱上衝，頭目眩熱，腫及胸中不利。</p>
<p>川芎，槐子（各兩）</p>
<p>右細末三錢，如胸中氣滯不利，生薑湯調。目疾茶調。風熱上攻，㕮咀，一兩水煎食後服。</p>
<p>治眼久病昏澀，因發而久不愈，地黃湯。</p>
<p>防風，羌活，黃芩，黃連，地黃，當歸，人參，茯神（各等分）</p>
<p>右為麤末，每服五七錢，水一盞半煎至一盞，去滓溫服食後。</p>
<p>槐子散</p>
<p>槐子，黃芩，木賊，蒼朮（各等分）</p>
<p>右細末茶清調下，食後。</p>
<p>治眼生翳膜及㿀入眼，焮赤已過者瀉青丸主之，當半減大黃，如大便秘焮氣未定，依方服之。</p>
<p>治冰翳人不去者羚羊角散主之。</p>
<p>羚羊角，升麻，細辛（各等分），甘草（半之）</p>
<p>右為細末，一半為散，一半蜜為丸如桐子大，每服五七十丸以羚羊角散下之，食後臥，米泔水煎服。</p>
<p>治太陽經衛虛血實，腫人臉重頭中溼淫，膚脈晴痛，肝風盛，眼黑腎虛，桔梗丸。</p>
<p>桔梗（一斤），牽牛（頭末三兩）</p>
<p>右二味為末煉蜜為丸如桐子大，每服四五十丸，加至百丸食前溫水下，日二服。</p>
<p>金絲膏</p>
<p>點眼藥。</p>
<p>生薑（四兩取汁），白沙蜜（一斤煉去滓），豬膽汁（三錢），黃連（四兩槌，用水一斗浸煎取五升）</p>
<p>右先煎黃連水，後入薑汁，次入蜜同煎，去沬淨，次入下項藥末。</p>
<p>腦子（四錢），麝香（三錢），碙砂（四錢），鵬砂（三錢），輕粉（五錢），熊膽（四錢），青鹽（三錢）</p>
<p>右極細攪勻，熬令稀膏點用。</p>
<p>治眼暴赤發嗔，痛不可忍者，救苦丸。</p>
<p>黃連（一兩），當歸（二錢），甘草（一錢）</p>
<p>右同剉細，新水半碗浸一宿，以慢火熬約至一半，以綿濾去滓，以淨為妙。用火再熬作稠膏子為度，攤在枕上倒合以物蓋之，用熟艾一大彈子許，底下燃之用艾煄膏子，艾盡為度，再入下項藥。</p>
<p>硃砂（二錢飛），腦子（半錢），乳香，沒藥（各等分）</p>
<p>右同研極細入黃連膏內，搜和丸如米大，每用二丸點眼大角，仰面臥，藥化則起。</p>
<p>治眼發赤腫，毒氣侵晴脹痛，宣毒散。</p>
<p>盆硝，雄黃，乳香，沒藥（各等分）</p>
<p>右為極細末，以少許鼻內㗜之。</p>
<p>治眼風，毒發腫，鼻中欲曉嚏多大損而生瘡，宣風散。</p>
<p>川芎，甘菊（各二錢），乳香，沒藥（各一錢）</p>
<p>右和勻再研極細，少許鼻內㗜之。</p>
<p>目能遠視不能近視，局方中定志丸能近視不能遠視，萬壽地芝丸。</p>
<p>生薑（四兩焙），天門冬（四兩去心），枳殼（三兩去穰炒），甘菊（二兩）</p>
<p>右為細末煉蜜丸，如桐子大，茶清或溫酒下一百丸，食後，此樂能愈大風熱。</p>
<p>洗眼藥</p>
<p>訶子皮，木香，白朮，肉豆蔻，白芍藥，甘草</p>
<p>水煎溫服，寒加附子。</p>
<p>虛損門湯類</p>
<p>雙和湯</p>
<p>白芍（二錢），地黃，當歸，川芎，黃耆（各一錢），甘草（炙），肉桂（各五分）</p>
<p>加薑棗水煎服。</p>
<p>樂令建中湯</p>
<p>人參，黃耆，茯苓，當歸，白芍，甘草，陳皮，半夏，桂心，細辛，前胡，麥冬</p>
<p>加薑棗水煎服。</p>
<p>二十四味大建中湯</p>
<p>人參，茯苓，黃耆，陳皮，半夏，甘草，川芎，當歸，白芍，熟地黃，桔梗，柴胡，阿膠（蛤粉炒），柏子仁，秦艽，烏藥，草果，烏梅肉，鱉甲（醋炙），檳榔，五味子，地骨皮，木香，官桂</p>
<p>加薑棗水煎服。</p>
<p>黃耆建中湯</p>
<p>盜汗自汗。</p>
<p>黃耆（一錢），白芍（二錢），肉桂（八分），甘草（炙五分）</p>
<p>加薑棗水煎，去滓入飴糖，再煎令溶服。</p>
<p>大補黃耆湯（魏氏）</p>
<p>人參，茯苓，白朮，黃耆，甘草，川芎，當歸，熟地，防風，肉桂，山茱萸（取肉），五味子，肉蓯蓉</p>
<p>加薑棗水煎服。沉附湯（直指）： 虛炎短乏。</p>
<p>沉香，附子，辣桂，蓽澄茄，香附，甘草</p>
<p>加薑水煎服。</p>
<p>歸脾湯（濟生）： 驚悸。</p>
<p>人參，黃耆，白朮，茯神，甘草，酸棗仁（炒），木香，龍眼肉</p>
<p>加薑棗水煎服。</p>
<p>滑石六一湯</p>
<p>滑石（五兩），甘草（炙一兩）</p>
<p>每服五錢為末，白湯調服。</p>
<p>乾葛湯</p>
<p>乾葛（二錢），枳實（麩炒），梔子仁，豆豉（各一錢），甘草（五分）。</p>
<p>水煎服。</p>
<p>胃苓湯：疸。</p>
<p>即平胃散五苓散併用。</p>
<p>枳歸湯（闕）</p>
<p>菊花湯：眼。</p>
<p>白蒺藜（炒），羌活，木賊（去節），蟬退（去頭足），菊花（等分）</p>
<p>右為末每服二錢，食後茶清調服。</p>
<p>升麻煎（千金）</p>
<p>治膀胱熱不已，口舌生瘡咽腫。</p>
<p>升麻，玄參，薔薇根白皮，射干（各四兩），大青，黃柏（各三兩），蜜（七合）</p>
<p>七味㕮咀，以水七升煮一升五合，去滓下蜜煎兩沸，細咽。</p>
<p>瘡毒門湯類。</p>
<p>五香連翹湯</p>
<p>沉香，乳香，甘草，連翹，青木香，射干，升麻，桑寄生，獨活，木通，丁香，大黃，麝香</p>
<p>水煎空心熱服，以利下惡毒為度。</p>
<p>婦人門湯類。</p>
<p>玄胡索湯（濟生）：經事不調。</p>
<p>當歸，玄胡索，蒲黃，赤芍藥（各八分），乳香，官桂（各二分），沒藥，木香，甘草，薑黃（各五分）</p>
<p>加薑水煎服，吐逆加半夏橘紅各八分，有痰亦加。</p>
<p>溫經湯</p>
<p>阿膠（蛤粉炒），當歸，川芎，芍藥，甘草，防己，當歸（各一兩），防風（二兩）</p>
<p>右㕮咀，先煎蒼朮一斤，用水五升煎至三升，去朮滓入前藥十二味，再煎至三四盞，絞取清汁作三四服，終日服之，又煎蒼朮滓為湯，去滓，再依前煎服十二味滓，此除溼散鬱熱，使胃氣和平如或未已，再作半料服之，若大便秘及煩熱，少服黃連湯，如微利及煩熱已過，卻服復煎散半料。如此使榮衛俱行，邪氣不能內侵也。</p>
<h3>（？瘡瘍論第二十六）</h3>
<p>治諸瘡瘍藏府已行，如痛不可忍者，可服當歸黃耆湯，并加減在後。</p>
<p>當歸，黃耆，地黃，地骨皮，川芎，芍藥（各等分）</p>
<p>右㕮咀，每服一兩，水一碗煎至五分，去滓溫服。如發熱者加黃芩，煩熱不能臥者加梔子，如嘔是溼氣侵胃也，倍加白朮。</p>
<p>膏藥方</p>
<p>好芝麻油（半斤），當歸（半兩），杏仁（四十九箇去皮），桃柳枝（各四十九條長四指）</p>
<p>右用桃柳二大枝，新綿一葉包藥繫於一枝上，內油中外一枝攪於鐵器內煎成，入黃丹三兩，一處熬水中滴成不散，如珠子為度。</p>
<p>治金絲瘡，一云紅絲瘤，其狀如線或如繩，巨細不等，經所謂丹毒是也。但比熛毒不甚廣闊，人患此疾頭手有之，下行至心則死，下有之上行亦然。法當於痛頭截經而刺之以出血，後嚼萍草根塗之立愈。</p>
<p>治從高墜下，涎潮昏冒，此驚恐得也，苦杖散。</p>
<p>苦杖（不以多少）</p>
<p>右細末熱酒調下，如產後瘀血不散，或聚血皆治之。</p>
<p>治丁瘡奪命散</p>
<p>烏頭尖，附子底，蝎稍，雄黃（各一錢），蜈蚣（對），碙砂，粉霜，輕粉，麝香，乳香（各半錢），信（二錢半），腦子（少許）</p>
<p>右為細末，先破瘡出惡血畢，以草杖頭用紙帶入於內，以深為妙。</p>
<p>治瘡難消，不能作膿，痛不止，木香散。</p>
<p>地骨皮（一兩去土皮），木香（半兩），穿山甲（二錢半灸黃），麝香（一字）</p>
<p>右為細末，酒調下三錢，及小兒斑後生癰，米飲調下，效如神。</p>
<p>治丁瘡毒氣入腹，昏悶不食。</p>
<p>紫花地丁，蟬殼，管仲（各半兩），丁香，乳香（各一錢）</p>
<p>右細末，每服二錢，溫酒調下。</p>
<p>治惡瘡有死肉者及追膿。</p>
<p>白丁香，輕粉，粉霜，雄黃，麝香（各一錢），巴豆（三箇去油）</p>
<p>右同研細，新和作錠子用之。</p>
<p>治諸瘡大疼痛，不辨肉色漫腫光色，名曰附骨癰，如神三生散。</p>
<p>露蜂房，蛇退皮，頭髮（洗淨各等分）</p>
<p>三味燒灰存性，研細酒調三錢。</p>
<p>治膀胱移熱於小腸，上為口糜，好飲酒人多有此疾，當用導赤散，五苓散各半兩煎服。</p>
<p>治少陰口瘡，半夏散，若聲絕不出者是風寒遏絕陽氣不伸也。</p>
<p>半夏（一兩製），桂（一字），草烏頭（一字）</p>
<p>右同煎，一盞水分作二服，其效如神。</p>
<p>治太陰口瘡，甘礬散。</p>
<p>生甘草（一寸），白礬（一栗子大）</p>
<p>右噙化嚥津。</p>
<p>治赤口瘡，乳香散。</p>
<p>乳香，沒藥（各一錢），白礬（飛半錢），銅綠（少許）</p>
<p>右為細末摻用。</p>
<p>諸瘡瘍痛，色變紫黑者，回瘡，金銀花湯。</p>
<p>金銀花，黃耆（四兩），甘草（一兩）</p>
<p>右三味剉細，酒一升入瓶內閉口，重湯內煮三二時，取出去滓，放溫服之。</p>
<p>諸瘡腫已破未破，焮腫甚，當歸散主之。</p>
<p>當歸，黃耆，栝萋，木香，黃連（各等分）</p>
<p>右為粗末，煎一兩，如痛而大便秘加大黃三錢。</p>
<p>乳香散</p>
<p>治瘡口痛大者。</p>
<p>寒水石（燒一兩），滑石（一兩），乳香，沒藥（各五分），腦子（少許）</p>
<p>右各研細同和勻，少摻瘡口上。</p>
<p>雄黃散</p>
<p>治諸瘡有惡肉，不能去者。</p>
<p>雄黃（一錢研），巴豆（一箇去皮研）</p>
<p>右二味同研如泥，入乳香沒藥少許再研細，少上，惡肉自去也。</p>
<p>木香散</p>
<p>治瘡口久不歛。</p>
<p>木香，檳榔（各一錢），黃連（二錢）</p>
<p>右為細末摻上，如痛加當歸一錢，貼之自收歛。</p>
<p>又方</p>
<p>小椒（去目炒黑色一錢另研），定粉（一兩），風化灰（五錢），白礬（二錢半飛過），乳香，沒藥（各一錢）</p>
<p>右為細末，摻瘡口上。</p>
<p>鍼頭風</p>
<p>治瘡瘍焮腫木硬。</p>
<p>蟾酥，麝香（各一錢）</p>
<p>各同研極細，以兒乳汁調和泥，入合磁內盛乾，不妨每用以唾津調撥少許於腫處，更以膏藥傅之，毒氣自出，不能為瘡，雖有瘡亦輕。</p>
<p>治白口瘡，沒藥散。</p>
<p>沒藥，乳香，雄黃（各一錢），輕粉（半錢），巴豆霜（少許）</p>
<p>右細末乾摻。</p>
<h3>瘰癧論第二十七</h3>
<p>夫瘰癧者，經所謂結核是也，或在耳前後，連及頤頷，下連缺盆皆為瘰癧，或在胸及胸之側，下連兩脇皆為馬刀，手足少陽主之。此經多氣少血，故多堅而少軟，膿白而稀如泔水狀，治者求水清可也。如瘰癧生去別經，臨時於銅人內，隨其所屬經絡部分，對證之穴灸之，并依經內藥用之，獨形而小者為結核，續數連結者為瘰癧，形表如蛤者為馬刀。</p>
<p>治馬刀連翹湯</p>
<p>連翹（二斤），瞿麥（一斤），大黃（三兩），甘草（一兩）</p>
<p>右㕮咀，一兩，水兩碗煎至一盞半，早食後，已時服，在項兩邊是屬少陽經，服藥十餘日後可於臨泣穴灸二七壯，服藥不可住了，至六十日決有效。一方加大黃，不用甘草，更加貝母五兩，雄黃七分，檳榔半兩，同末熱水調下三五錢。</p>
<p>治瘰癧，文武膏（桑椹也）</p>
<p>文武實（二斗黑熟者）</p>
<p>右以布袋取汁，銀石器中熬成薄膏，白湯點一匙，日三服。</p>
<h3>痔疾論二十八</h3>
<p>論曰手陽明大腸名曰害蜚（蜚虫也）。六元正紀論陽明又曰司殺府（手陽明屬金），大腸名害蜚，謂金能害五虫，又曰司殺府謂金主殺，既有此二名，何以自生蟲。蓋謂三焦相火，盛而能制陽明金，故木來相每。內經曰侮謂勝已也，木主生五蟲。叔和云氣主生於脾藏，傍大腸疼痛陣難當，漸覺稍瀉三焦熟，莫謾多方立紀綱。此言飲酒多食熟物，脾生大熱而助三焦氣盛，火能生土也，當瀉三焦火，熱退使金得氣而反制木，木受制則五蟲不生，病自愈矣。</p>
<p>蒼朮澤瀉丸</p>
<p>蒼朮（四兩去皮），澤瀉（二兩），枳實（二兩），地榆（一兩），皂子（二兩，燒存性）</p>
<p>右為細末，燒飯為丸桐子大，每服三十丸，食前酒或米飲下。</p>
<p>又方</p>
<p>川烏（炮），古石灰（各等分）</p>
<p>依前丸服。</p>
<p>淋洗藥</p>
<p>天仙子，荊芥，小椒，蔓荊子（等分）</p>
<p>右以水煎洗。</p>
<p>黑地黃丸</p>
<p>治痔之聖藥也，在虛損門下有方。</p>
<h3>婦人胎產論第二十九</h3>
<p>論曰婦人童幼天癸未行之間，皆屬少陰。天癸既行皆從厥陰，論之天癸已絕，乃屬太陰經也。治胎產之病，從厥陰經者是祖生化之源也，厥陰與少陽相為表裏，故治法無犯胃氣乃上二焦，為三禁，不可汗，不可下，不可利小便。發汗者同傷寒下早之證，利大便則脈數而已，動於脾，利小便則內亡津液，胃中枯燥。製藥之法能不犯三禁則榮衛自和，榮衛和而寒熱止矣。外則和於榮衛，內則調於清便。先將此法為之初治，次後詳而論之見證，消息同壞證，傷寒為之緩治，或小便不利，或大便秘結，或積熟於腸胃之間，或以成瘻，或散血氣而為浮腫。蓋產理多門，故同傷寒壞證，如發渴而白虎，氣弱則黃耆，血刺痛而用以當歸，腹中痛而加之芍藥，已上例證不犯三禁，皆產後之久病也。凡產後暴病禁犯不可拘也，如產後熱入血室者，桃仁承氣抵當湯之類是也。胃堅燥者大承氣不可以泄藥言之。產後世人多用烏金四物，是不知四時之寒熱，不明血氣之虛與實，盲然一概用藥，如此而愈加增劇，是醫人誤之耳。大抵產病，天行從增損柴胡，雜證從加添四物，然春夏雖從柴胡，秋冬約同四物，藥性寒熱病證虛實，不可不察也。四物湯常病服餌，四時各有增損，今具增損於后。</p>
<p>春倍川芎（一曰春，二曰脈弦，三曰頭痛），夏倍芍藥（一曰夏，二曰脈洪，三曰泄），秋倍地黃（一曰秋，二曰脈濇，三曰血虛），冬倍當歸（一曰冬，二曰脈沉，三曰寒而不食），此常服，順四時之氣，而有對證不愈者，謂失其輔也。春防風四物（加防風倍川芎），夏黃芩四物（加黃芩倍芍藥），秋天門冬四物（加天門冬倍地黃），冬桂枝四物（加桂枝倍當歸），此四時常服，隨證用之也。如血虛而腹痛，微汗而惡風，四物加茂桂，謂之腹痛六合。如風虛眩運加秦艽羌活，謂之風六合。如氣虛弱，起則無力匡然而倒，加厚朴陳皮，謂之氣六合。如發熱而煩不能安臥者，加黃連梔子，謂之熱六合。如虛寒脈微，氣難布息不渴，清便自調，加乾薑附子，謂之寒六合。如中溼身沉重無力，身涼微汗，加白朮茯苓，謂之溼六合。此婦人常病，及產後病通用之藥也。治婦人虛勞局方中謂之首尾六合者，如入聖散下熟乾地黃丸，是治無熱虛勞專其養也，中道藥也。牡丹煎丸空心食前，人參荊芥散，臨臥食後，是治有熱虛勞藥也。</p>
<p>治婦人懷胎腹脹，枳殼湯。</p>
<p>枳殼（三兩炒），黃芩（一兩）</p>
<p>右為麤末，每服半兩，水一盞半煎一盞，去滓溫服。</p>
<p>治產前脹滿身體沉重，枳殼湯中加白朮一兩。</p>
<p>治產前寒熱，小柴胡湯中去半夏謂之黃龍湯。</p>
<p>治懷孕胎漏，二黃散。</p>
<p>生地黃，熟地黃（各等分）</p>
<p>右為細末加白朮枳殼湯調下一兩，日二服。</p>
<p>治有孕胎痛，地黃當歸湯。當歸（一兩），熟地黃（二兩）</p>
<p>右為麤末，作一服，水三升煎至升半，去滓頓服。</p>
<p>束胎丸</p>
<p>白朮，枳殼（去穰炒等分）</p>
<p>右為末燒飯為丸如桐子大，又月一日，食前，服三五十丸，溫熟水下，胎瘦易生也，服至產則已。</p>
<p>產間藥</p>
<p>治胎衣不下，或子死腹中，或血衝上昏悶，或血暴下及胞乾而不能產者，宜服半夏湯。</p>
<p>半夏麯（一兩半），桂（七錢半去皮），大黃（五錢），桃仁（三十箇去皮尖炒）</p>
<p>右為細末，先服四物湯三兩，服次半夏湯三錢，生薑三片，水一盞，煎去三分，食後，如未效，次服下胎丸。</p>
<p>下胎丸</p>
<p>半夏（生），白歛（各半兩）</p>
<p>右為細末滴水為丸如桐子大，食後用半夏湯下三二丸，續續加至五七丸，如有未效者，須廣大其藥，榆白皮散主之，又不效大聖散主之。有宿熱人宜服人參荊芥散。</p>
<p>產後藥</p>
<p>治產後經水適斷，感於異證，手足牽搐咬牙昏冒，宜增損柴胡湯。</p>
<p>柴胡（八錢），黃芩（四錢半），人參（三錢），半夏（三錢），石膏（四錢），知母（二錢），黃耆（五錢），甘草（四錢炙）</p>
<p>右為麤末，每服半兩，生薑五片，棗四箇，水一盞半煎至一盞，溫服清，無時。</p>
<p>前證已去，次服秦芄湯去其風邪。</p>
<p>秦芄（八錢），人參（三錢），防風（四錢半），芍藥（半兩），柴胡（八錢），黃芩（四錢半），半夏（三錢），甘草（四錢炙）</p>
<p>右為麤末，每服五七錢，水一盞煎至七分，溫服清，無時，二三日經水復行。前證退宜服荊芥散，小柴胡小料中加荊穗五錢，枳殼五錢麩炒去穰，同小柴胡湯煎服，三二日後宜正脾胃之氣，兼除風邪，宜服防風湯。</p>
<p>蒼朮（四兩），防風（三兩），當歸（一兩半），羌活（一兩半）</p>
<p>右為粗末，每服一二兩，水三盞煎至一盞半，取清，續續常服，無時。</p>
<p>凡胎前之藥無犯胎氣，產後變化並同，傷寒壞證盡從加減四物湯調治。</p>
<p>治產後腹大堅滿，喘不能臥，白聖散。</p>
<p>樟柳根（三兩），大戟（一兩半），甘遂（一兩炒）</p>
<p>右為極細末，每服二三錢熱湯調下，取大便宣利為度，此藥主水氣之勝藥也。</p>
<p>治產後風氣在表，面目四支浮腫，宜加減局方中七聖丸，每服二十丸白湯下，日加三四丸以利為度。如浮腫喘嗽加木香檳榔倍之，謂氣多浮則腫，如頭目昏冒，加羌活川芎謂多風也。如只浮腫依七聖丸本方服之。</p>
<p>治產後日久虛勞，雖日久而脈浮疾者，宜服三元湯。</p>
<p>柴胡（八錢），黃芩，人參，半夏（洗），甘草（炙各三錢），川芎，芍藥，熟地黃，當歸（各二錢半）</p>
<p>右為麤末，同小柴胡湯煎服。</p>
<p>治日久勞虛微有寒熱，脈沉而浮，宜柴胡四物湯。</p>
<p>川芎，熟地黃，當歸，芍藥（各一兩半），柴胡（八錢），人參，黃芩，甘草，半夏麯（各三錢）</p>
<p>右為麤末，同四物煎服。</p>
<p>如日久虛勞，鍼灸小藥俱不效者，宜服三分散。</p>
<p>白朮，茯苓，黃耆，川芎，芍藥，熟地黃，當歸（各一兩），柴胡（一兩六錢），黃芩（六錢），人參（一兩六錢），半夏（六錢），甘草（六錢）</p>
<p>右為麤末，每服一兩，水一盞煎至半盞，溫服清，日一服。</p>
<p>治產後虛勞不能食，宜十全散。</p>
<p>白朮，茯苓，黃耆（各二兩），人參，川芎，芍藥，熟地黃，當歸（各一兩），桂（一兩半），甘草（一兩半炙）</p>
<p>右剉如麻豆，每服半兩，水一盞半，入生薑五片，棗三枚，同煎至七分，空心食前，溫服清。</p>
<p>凡虛損病者，淺深治有次第，虛損論中詳論之。</p>
<p>治產後諸風，痿攣無力，血風湯。</p>
<p>秦艽，羌活，防風，白芷，川芎，芍藥，當歸，地黃，白朮，茯苓（各等分）</p>
<p>右為細末，一半煉蜜丸如桐子大，一半散，溫酒調下丸子五七十丸甚妙。</p>
<p>治產後諸積不可攻，當養陰去熱，其病自退，宜服芍藥湯。</p>
<p>芍藥（一斤），黃芩，茯苓（各六兩）</p>
<p>右三味為麤末，每服半兩，水煎日三服，去滓溫服。</p>
<p>治產後兒枕大痛，黑白散。</p>
<p>烏金石（燒紅醋七遍另為細末），寒水石（燒存性末）</p>
<p>右二味各等分，另頓放，臨服各抄末一錢半，粥飲湯下，痛止便不可服，未止再服大效。</p>
<p>治產後不煩而渴，桃花散。</p>
<p>新石灰（一兩），黃丹（半錢）</p>
<p>右細末，渴時冷漿水調一錢服。</p>
<p>治產後衝脹胸中有物狀，是噎氣不降，紫金丹。</p>
<p>代赭石，𥓌礰石（各等分）</p>
<p>右為細末醋糊為丸如桐子大，每服三五十丸，酒下，胸中痛加當歸湯下，久服治血癖。</p>
<p>又方</p>
<p>代赭石（一兩），桃仁（三錢炒去皮尖），大黃（五錢）</p>
<p>右為末，薄荷水為糊丸，如桐子大，每服三五十丸，溫水下，無時。</p>
<p>治臍腹痛不可忍，四物湯一兩加玄胡三錢半。</p>
<p>治血癖腹痛及血剌腰痛，四物湯細末二兩，加酒煮玄胡細末三兩，每服三錢酒調下。</p>
<p>治血運血結血聚於胸中，或偏於少腹或連於肋脇，四物湯四兩倍當歸川芎，加鬼箭紅花玄胡各一兩，同為末，如四物湯煎服取清，調沒藥散服之。</p>
<p>沒藥散</p>
<p>蝱蟲（一錢去足羽炒），水蛭（一錢炒），麝香（一錢），沒藥（三錢）</p>
<p>右為細末，煎前藥調服，血下痛止，只服前藥。</p>
<p>治產後頭痛，血虛痰癖寒厥，皆令頭痛加減四物湯。</p>
<p>羌活，川芎，防風，香附子（炒），白芷（各一兩），石膏（二兩半），細辛（二錢），當歸（五錢），熟地黃（一兩），甘草（五錢），蒼朮（一兩六錢去皮）</p>
<p>右為麤末，每服一兩，水煎服，無時。如有汗者是氣弱頭痛也，方中加芍藥三兩，桂一兩半，加生薑下。如痰癖頭疼加半夏三兩，茯苓一兩半，加生薑煎。如熱厥頭痛又加白芷三兩，石膏三兩，知母一兩半。寒厥頭痛加天麻三兩，附子一兩半，生薑煎。</p>
<p>治產後風虛血眩，精神昏昧，荊芥散。</p>
<p>荊芥穗（一兩三錢），桃仁（五錢去皮尖炒）</p>
<p>右為細末溫水調服三錢，微喘加杏仁去皮尖炒，甘草炒各三錢。</p>
<p>治產前證，胎不動如重物下墜，腹冷如冰，立效散。</p>
<p>川芎，當歸（各等分）</p>
<p>右為麤末，每服秤三錢，水二盞煎至一盞，去滓食前服。</p>
<p>治婦人胎漏，及因事下血，枳殼湯。</p>
<p>枳殼，黃芩（各半兩），白朮（一兩）</p>
<p>右為麤末每服五七錢，水一盞煎至七分，食前空心服。</p>
<p>治婦人筋骨痛及頭痛脈弦，增寒如瘧，宜服風六合湯。</p>
<p>四物湯四兩加羌活防風各一兩。</p>
<p>治婦人血氣上衝心，腹肋下悶，宜服治氣六合湯。</p>
<p>四物四兩加木香檳榔各半兩。</p>
<p>治婦人臍下冷，腹痛腰脊痛，宜服玄胡六合湯。</p>
<p>四物內加玄胡苦楝炒各一兩。</p>
<p>治婦人氣充經脈，月事頻併，臍下痛，宜芍藥六合湯。</p>
<p>四物內倍加芍藥。</p>
<p>治婦人經事欲行，臍腹絞痛宜服八物湯。</p>
<p>四物內加玄胡苦楝各一兩，檳榔木香各半兩。</p>
<p>治婦人經水過多，別無餘證，四物內加黃芩白朮各一兩。</p>
<p>治婦人經水澀少，四物內加葵花煎。</p>
<p>治婦人虛勞氣弱，喘嗽胸滿，宜氣六合湯。</p>
<p>四物內加厚朴一兩製，枳實半兩炒。</p>
<p>已上煎法並同四物服之，四物主治法。</p>
<p>熟地黃：補血。如臍下痛非熟地黃不能除，此通腎經之藥也。</p>
<p>川芎：治風瀉肝木。如血虛頭痛非芎不能除去，此通肝經之藥也。</p>
<p>芍藥：和血理脾治腹痛非芍藥不能除，此通脾經之藥也。</p>
<p>當歸：和血剌痛非當歸不能除，加血氣之壯，此通心經之藥也。</p>
<p>以上四味治法如前，一證於四物湯中各加二味用之，如少腹痛四物湯四兩加玄胡，苦楝各一兩。經水暴多四物四兩加黃芩一兩。如腹痛者只加黃連。如夏月用不去黃芩。經水如黑豆水，加黃連黃芩各一兩。如經水少而血色和者，四物四兩加熟地黃，當歸各一兩。如經水適來適斷，往來寒熱者，先服小柴胡以去其寒熱，後以四物湯調治之。如寒熱不退，勿服四物，是謂變證，表邪猶存不能效也。依前論中變證，隨證用藥調治之。</p>
<p>治婦人血積，增損四物湯。四物內加廣茂，京三稜，桂，乾漆，皆依法製各加一兩，如四物煎服。</p>
<p>治婦人產後血昏血崩，月事不調，遠年乾血氣，皆治之，名曰紅花散。</p>
<p>乾荷葉，牡丹皮，當歸，紅花，蒲黃（炒）</p>
<p>右各等分，為細末，每服半兩酒煎，和滓溫服。如衣不下，另末榆白皮煎湯調半兩立效。</p>
<p>治婦人惡物不下。</p>
<p>當歸（炒），芫花（炒）</p>
<p>右細末酒調三錢，又好墨醋碎末之，小便酒調下妙。</p>
<p>又治胎衣不下，蛇退皮炒焦，細末二錢酒調下。</p>
<p>諸見血無寒，衄血，下血，吐血，溺血，皆屬於熱，但血家證皆宜服此藥，生地黃散。</p>
<p>生地黃，熟地黃，枸杞子，地骨皮，天門冬，黃耆，芍藥，甘草，黃芩</p>
<p>右各等分同剉，每服一兩，水一盞半煎至一盞，去滓溫服，脈微身涼惡風，每一兩加桂半錢，吐血者多有此證。</p>
<p>治衄血不止，麥門冬飲子。</p>
<p>麥門冬，生地黃</p>
<p>右各等分剉，每服一兩煎服。又衄血，先硃砂蛤粉，次木香黃連。大便結，下之，大黃芒硝甘草生地黃。溏軟，梔子黃芩黃連可選用。</p>
<p>帶下論附。</p>
<p>論曰赤者，熱入小腸。白者熱入大腸，原其本也。皆溼熱結於脈，故津液湧溢是為赤白帶下。本不病緣五脈經虛，結熱屈滯於帶，故女子臍下㾓痛，而綿綿陰器中時下也。故經曰任脈為病，男子內結七疝，女子帶下瘕聚。王注曰任脈自胞上過帶脈，貫於臍上，故男子內結七疝，女子帶下，帶脈起於季脇章門，如束帶狀。令溼熱冤結不散，故為病也。經曰脾傳之腎病名曰瘕疝。小腹冤熱而痛出白，一名曰蠱，所以為帶下冤屈也，冤結也。屈滯而病熱不散，先以十棗湯下之，後服苦楝丸，大玄胡散調下之。熱去溼除病自愈也。如女子不月，先瀉心火，血自下也。內經曰二陽之病發心脾，有不得隱曲，故女子不月，其傳為風消。王注曰大腸胃發病也，心脾受之，心主血，心病則血不流，脾主味脾病則味不化，味不化則精不足，精血不足故其證不能已。虧則風邪勝而真氣愈消也。又經曰月事不來者，胞脈閉也。胞脈屬於心，即理中湯加丁香。</p>
<p>新法半夏湯（和劑）</p>
<p>砂仁，神麯，陳皮，草果仁（各一兩），半夏（湯泡去滑四兩），甘草（二兩半生干炒），白豆蔻仁，丁香（各五錢）</p>
<p>右為末每服二錢，先用生薑自然汁調成膏，入炒鹽湯，不拘時點服。</p>
<p>大半夏湯（三因）</p>
<p>半夏（湯泡二兩），人參（二兩）</p>
<p>右作四服，水三盞蜜二盞，攪勻入藥煎六分，不拘時服。又方加生薑七片。</p>
<p>二生湯（濟生）</p>
<p>附子（生去皮臍），半夏（生用各等分）</p>
<p>每服四錢，薑五片，水煎不拘時，溫服。入木香尤佳。</p>
<p>附子粳米湯</p>
<p>右用薑汁炮附子二錢，切作片煎湯煮粳米粥一盞，不拘時，食以效為度。</p>
<p>寒熱門湯類。</p>
<p>而終於胞中令氣上迫，肺氣不得上通，故月事不來。先服降心火之劑，後服局方中五補丸，後以衛生湯治脾養血氣也。</p>
<p> 苦楝丸</p>
<p>治婦人赤白帶下。</p>
<p>苦楝（碎酒浸），茴香（炒），當歸</p>
<p>右等分為細末，酒糊丸如桐子大，每服三五十丸空心酒下，腰腿痛疼四物四兩加羌活防風各一兩。</p>
<p> 衛生湯</p>
<p>當歸，白芍藥（各三兩），黃耆（三兩），甘草（一兩）</p>
<p>右為麤末，每服半兩，水二盞煎至一盞，去滓溫服，空心。如虛者加人參一兩。</p>
<h3>大頭論第三十</h3>
<p>夫大頭病者，是明陽邪熱太甚，資實少陽相火而為之也。多在少陽或在陽明，或傳太陽，視其腫勢在何部分，隨經取之。溼熱為腫，木盛為痛，此邪見於頭多在兩耳前後，先出皆主其病也。治之大不宜藥速，速則過其病，所謂上熱未除，中寒復生，必傷人命，此病是自外而之內者是血病，況頭部分受邪見於無邪跡之部，當先緩而後急。先緩者謂邪氣在上，著無形之分部，既著無形，無所不至，若用重劑速下過其病難已，雖用緩藥，若急服之或食前或頓服，皆失緩體則藥不能得除病，當徐徐浸漬無形之邪也。或藥性味形體擬象，皆要不離緩體是也，且後急者謂緩劑已瀉邪氣，入于中是到陰部染于有形質之所，若不速去則損陰也，此終治卻為客邪當急去之，是治客以急也。且治主當緩者，謂陽邪在上，陰邪在下，各本家病也。若急治之不能解紛而益亂也，此故治主當緩，治客以急者，謂陽分受陰邪，陰分受陽邪，此客氣急除去之也。假令少陽陽明為病，少陽為邪出于耳之前後也，陽明為邪者首大腫是也，先以黃芩黃連甘草湯通炒過剉，煎少少不住服，或劑畢再用大黃煨鼠粘子新瓦上炒香，煎藥成去滓，內芒硝俱各等分，亦時時呷之，無令飲食在前，得微利及邪氣已。只服前藥如不已，再同前次第服之，取大便利，邪氣即止。如陽明渴者加石膏，如少陽渴者加瓜蔞根，陽明行經升麻芍藥葛根甘草，太陽行經羌活防風之類。</p>
<p>雷頭風附</p>
<p>夫治雷頭者諸藥不效，為與證不相對也。夫雷頭者震卦主之，震仰盂故予製藥內加荷葉，謂象其震之形，其色又青乃述類象形也。當煎局方中升麻湯。</p>
<p>升麻湯（一兩），蒼朮（一兩），荷葉（一箇全者）</p>
<p>右為細末，每五錢水一盞煎七分，溫服，食後，或燒全荷葉一箇研細，調煎服亦妙。</p>
<p>耳論附</p>
<p>論曰耳者蓋非一也，以竅言之是水也，以聲言之金也，以經言之手足少陽俱會其中也，有從內不能聽者主也，有從外不能入者經也，有若蟬鳴者，有若鐘聲者，有若火熇熇狀者，各隨經見之其間，虛實不可不察也。假令耳聾者腎者，何謂治肺，肺主聲，鼻塞者肺也。何謂治心，心主臭，如推此法皆從受氣為始，腎受氣于己，心受氣于亥，肝受氣于甲，肺受氣于寅，脾正四季，此法皆長生之道也。</p>
<h3>小兒斑疹論第三十一</h3>
<p>論曰斑疹之病，其狀各異，瘡發焮腫于外，屬少陽三焦相火謂之斑。小紅靨行于皮膚之中不出者，屬少陰君火也，謂之疹。凡顯斑證者，若自吐瀉者，慎勿治則多吉，謂邪氣上下皆出也。大凡瘡疹首尾皆不可下，恐妄動而生變，此謂少陽通表宜和之也。當先安其裏以解毒，次微發之，安裏解毒者謂能安和五藏，防風湯是也，如大便不秘，次微發之，微發之藥錢氏方甚多，宜選用之。如大便過秘宜微利之，當歸丸，棗變百祥丸是也。初知是斑疹若便發之，令斑併出小兒難禁，是使別生他證也。首尾不可下者，首曰上焦，尾曰下焦，若已吐利不可下也，便宜安裏藥三五服。如能食大便秘者，內實宜微踈利之，若內虛而利者，宜安裏藥三五服，末後一服調微發之藥服之，大抵用安裏之藥多，發表之藥少，秘則微踈之，邪氣不併出，能作番次，使小兒易禁也。身溫者順，身涼者逆，則宜服防風湯以和之。</p>
<p>防風（一兩），地骨皮，黃耆，芍藥，枳殼，荊芥穗，牛旁子（已上各半兩）</p>
<p>右為細末，溫水調下，或為麤末煎服二三錢更妙。</p>
<p>治大便秘而內實能食，宜當歸丸。</p>
<p>當歸（五錢），黃連（二錢半），大黃（二錢），甘草（一錢炙）</p>
<p>先將當歸熬作膏子入藥三味為丸，漸次服十丸（妙）。</p>
<p>治斑疹大便秘結，棗變百焙丸。</p>
<p>大戟（去骨一兩），棗（三箇去核）</p>
<p>右二味用水一碗煎至水盡為度，去大戟不用，將棗焙乾，可和劑旋丸，從少至多以利為度。</p>
<p>五臟病各有所見證。</p>
<p>熱則從心，寒則從腎，嗽而氣上則從肺，風從肝，瀉從脾。假令瀉見嗽而氣上，脾肺病也。瀉白益黃散合而服之，又宜黃芩厚朴湯，白朮厚朴湯，謂脾苦溼，肺苦燥，氣則上逆也。其證先瀉又兼面色黃，腸鳴呦呦者是也，如見渴熱多者，當服厚朴湯。不渴熱少者，當服白朮厚朴湯。其他五臟若有兼證，皆如此類，然更詳後說，四時經移用藥。</p>
<p>假令春分前風寒也，宜用地黃羌活防風，或地黃丸及瀉青相間服之。春分後風熱者，宜用羌活防風黃芩或瀉青丸，用導赤散下之。立春之後熱也，用三黃丸導赤散。夏至後濕熱也，宜導赤瀉黃散合而服之，或黃芩甘草白朮茯苓之類，為勝濕之藥。立秋後宜用益黃散瀉白散，陳皮厚朴人參木香之類。秋分後用瀉白散。立冬之後地黃丸主之，謂腎不受瀉也。大凡小兒斑疹已發，有瘡有聲音者，乃形病氣不病也。無瘡無聲音者，乃氣病形不病也。有瘡而無聲音者是形氣俱病也。後一證當清利肺氣，八風湯或涼鬲散，大黃芒硝亦可，或如聖湯加大黃，或八味羌活湯加大黃。此時春時發斑謂之曰風斑，耳瘡疹者，內經云痛痒瘡瘍皆屬心。火斑子者是相君行命，三焦真陽氣之所作也。若氣入肺變膿胞，入肝為水胞，自病為斑。心乃君火，入于皮作癮疹為肺主皮毛，心不害肺金此乃君之德也。未瘡而發搐而外，或寒邪內發，心熱而發搐用茶粉下解毒丸，或犀角地黃湯主之。已發便稠密形勢如針頭者，當輕發其表涼其內，連翹升麻湯主之。若斑已發稠密，甚而微喘飲水，有熱證當以去風藥微下之，若出不快清便自調，知為在表不在裏，當微發之，升麻葛根湯主之。若有乾黑陷，身不大熱，大小便澀，則知熱在內，當煎大黃湯下宣風散。身表大熱者，表證未罷不可利大便，若斑疹已出，見小熱小便不利者，當利小便。已發後有餘毒不散，為復有身熱，癰瘡之類，當用解毒之藥。</p>
<figure>
<table class="標準框線">
<tr><td>真假</td><td>形</td><td>金木水火土</td></tr>
<tr><td>深淺</td><td>色</td><td>赤青黃白黑</td></tr>
<tr><td>急緩</td><td>性</td><td>寒熱溫涼平</td></tr>
<tr><td>厚薄</td><td>味</td><td>辛酸鹹苦甘</td></tr>
<tr><td>潤枯</td><td>休</td><td>虛實輕重中</td></tr>
</table>
</figure>
<p>輕枯虛薄緩淺假宜上，厚重實潤深真急宜下，其中平者宜中，餘形色性味皆隨藏府所宜，此處方用藥之大概耳。知者用心則思過半矣。</p>
<p>流注鍼法。</p>
<p>心痛脈沉腎經原穴，弦肝經原穴，澀肺經原穴，浮心經原穴，緩脾經原穴。</p>
<p>腰痛：身之前足陽明原穴（衝陽），身之後足太陽原穴（京骨），身之側足少陽穴（丘墟）。</p>
<p>針之最要。</p>
<p>兩脇痛針少陽經丘墟。心痛針少陰經太谿湧泉及足厥陰原穴。腰痛不可忍，針崑崙及剌委中出血。太陽喘滿痰實口中如膠，針太谿穴。噦嘔無度針手厥陰太陵穴。頭痛不可忍針足厥陰太陽經原穴。熱無度不可止剌陷骨穴出血。骨熱不可治，前板齒乾燥，當灸骨會大椎。小腸疝痛當剌足厥陰肝經太衝穴。血不止鼻衄大小便皆血血崩，當剌足太陰井隱白。喉閉刺少陽手足井，并刺少商及足太陰井。大煩熱晝夜不息，剌十指間出血，謂之八關大剌。日疾睛痛欲出，亦大剌八關。百節疼痛實無所知，三稜針剌絕骨出血。眼大眥痛，剌手太陽井穴少澤。小眥痛剌少陽井穴關衝。陰頭中痛不可忍者卒疝也。婦人陰中痛皆剌足厥陰井大敦穴。</p>
<p>治黃腫詩曰。</p>
<p>白酒煎飛麵，青礬百草霜，依方炮製作，消卻幾多黃。</p>
<p>綠礬（四兩），五倍子，百草霜（一兩），木香（二錢）</p>
<p>右為細末，用酒煎飛麵為丸如梧桐子大，每服五丸空心酒下二三服。</p>
<p>又方平胃散四兩青礬二兩，醋糊為丸米飲下。</p>
<p>又方平胃散烏沉湯四兩，青礬二兩，酒糊為丸。</p>
<p>又方好川當歸四兩，用浮子酒浸十日，青礬四兩，製煆赤色成朱子為細末，百草霜三兩同研細，用當歸酒同研細為丸如梧桐子大，每服五丸至七丸，服後一月黃去立效，此方祖傳七世。</p>
<p>治諸氣腫，茯苓散。</p>
<p>芫花（醋拌炒），澤瀉，郁李仁，甜亭力，漢防己，藁本，滑石，大戟（各二錢半），白檳榔，白茯苓，陳皮（去白），瞿麥（各半兩）</p>
<p>右為細末，每服一錢濃煎雙白皮湯空心調下，取下碧綠水如煙羊脂即效，如未盡隔日又服，腫消不服，忌食鹽一百日。</p>
<p>治癧瘡方，爛至胸前兩腋下有塊如茄子大，或牽至兩肩上，四五年不能痊者並皆治之，其驗如神。常州府武進縣朱守仁傳其項不能回頭數日，減可減可，始看瘡爛破胸，前者用荊芥根下段鎆碎煎沸，待溫洗瘡，良久看瘡爛破處紫黑，用鍼剌一一出血，再洗三四次洗，右真芝麻油將章腦，雄黃為細末，用油調雞翎掃瘡上以出水，下次日再洗，仍用前藥掃三日。又用韭菜，地上蚯蚓糞，五更早晨收作員  口大，用炭火上燒煆紅，取出淨碾為末，每一丸添乳香沒藥輕粉各半錢，少些穿二甲九片，煆紅色為末，令用芝麻油調敷患處，其妙如神。</p>
<p>千金漏蘆湯加心檳榔。</p>
<p>點眼神效紫金膏</p>
<p>輕粉，雄黃，銅青，川芎，龍腦，射香，黃連，青鹽，海螵蛸，當歸，磠砂，乳香，血蝎（淨五分），硃砂，朋砂（各三錢），沒藥（一錢），爐干石（二兩），童便製七次黃丹（二兩），白丁香（二分）</p>
<p>先將十九味乳製極細無聲。</p>
<p>白砂蜜一斤，先將黃連末熬，後下爐干石黃丹煎，日用槐枝攪不㨿手，煎如紫色用磁器盛用，油紙七片封口窖土內，去火七日方用神效。</p>
<p>素問病機氣宜保命集卷下終。</p>
