<header data-type="book">
<h1>醫事啟源</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>今樹亮</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015274">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>緒言</h1>
<p>醫事啟源一卷。日本今邨亮著。亮雅精漢醫。所著另有傷寒論私考八卷。金匱雕題三卷。溫疫論訂正二卷。醫彀二卷。腳氣鉤要二卷。醫案類編八卷。藥能考四卷。暴瀉方論一卷。醫事問答一卷。種痘問答一卷。杏林餘興及續杏林餘興各一冊。此書因西醫盛行之始。慮學漢醫者喜新厭故。捨己從人。乃撮取西醫治法。為漢醫所固有者。如解剖鴻劑等事凡二十篇。歷徵古書。博而能確。示漢醫無所不備。其用心深矣。卷首有若山拯敘題。文久二年壬戌（同治元年）春正月末。有亮子芳跋題。文久二年春二月。則此書當作於文久元年。考日本各種西學。多由和蘭人輸入。醫亦然。其享保（康熙五十五年即享保元年）已前。惟與我及和蘭互市。（享保前一年即正德五年有減清蘭互市舶數之文）日本史稱延享元年甲子。（乾隆九年）青木文藏始講蘭書。寶曆四年甲戌。（乾隆十九年）山脅東洋著臟志。明和二年乙酉。（乾隆三十年）多喜安元建醫學館。安永三年甲午。（乾隆三十九年）前野杉田譯蘭方醫書。而解體新書亦於是年刻成。天明三年癸卯。（乾隆四十八年）蘭學階梯成。是年大槻立澤述蘭文讀法。寬政三年辛亥。（乾隆五十六年）幕府政學制仍建醫學館。五年癸丑建和學所文化。八年辛未（嘉慶十六年）幕府設和蘭翻譯局。文政九年丙戌（道光六年）蘭醫多來江戶。嘉永二年己酉（道光二十九年）幕府禁蘭醫方。至安政五年戊午（咸豐八年）停禁。而其勢遂不可遏矣。文久元年建西洋醫學所。蓋即亮著此書之年。書中自云嘉永二年。蘭舶始齎牛痘苗來長崎云云。並可證日本之於西醫術。得自蘭人無疑。而亮之發憤著書。亦可知矣。顧自亮著書之日。迄今始五十餘年耳。聞日本官私醫者。已無一漢醫存矣。今我國之醫術亦猶五十年前日本之於和蘭也。讀此書者。能不有感於斯文。</p>

<h1>序</h1>
<p>蠶之吐絲。王雎之醃魚微物之智亦有過人者。洋夷之性。專一而纖巧。故其所謂窮理之說。及百般器械之制。奧妙精緻。殆奪化工。至醫治之術亦然。然而學洋醫者。不知其本之皆出於漢土。往往井蛙自誇。以為他所弗有也。不庶於遼豕之見乎。特漢人才粗大。能創之而不能精焉。為可憾耳。了庵今邨君邃於醫者也。於古今方書。無所不讀。邇者抄錄洋醫諸術出漢籍者若干條。論其梗概。以示其徒。名曰醫事啟源。蓋欲俾學者知其所本精之而又精。以箝洋醫之口。解時俗之惑也。其志可謂切矣。夫我邦之於漢土。壤地連接。風氣相通。政體習俗。以至飲食嗜好。皆小異而大同。則漢方之宜邦人。亦可推矣。況慣熟二千年之久者乎。雖然今之學漢方者。大率皆拘牽常格。不能有所發明。所謂依樣畫葫蘆。彼術之出於己者。且不省知。俾紅髮異類成豎子名。此則獨何歟。讀是書者。可以愕然而寤矣。</p>
<p><u>文久二年壬戌春正月岩邑若山拯序</u></p>

<h1>正文</h1>
<p>漢土醫術。精核詳密。超絕諸蕃。至於外治。則蕃亦不無可取。但其所用之方。漢既皆有。從來漢醫。或用焉。或否焉。從人人所見。而至其法制載籍。歷然悉可檢按。彼徒未曾睹漢籍。自誇開創。固無足咎。乃醫不學者。從而和之。遂使世人言蕃醫精細窮理新奇取功。非漢學所企及也。可笑甚矣。抑內景之說。出於素靈。導尿之術。創於千金。斑蝥起泡。螞蜞咂血等。晉唐方書屢稱其功。今舉數條。以授生徒。顧徵引率略。掛一漏百。庶博雅之士。觸類纂集。非固與彼抗。特示漢無不備耳。是書脫稿。會聞栲窗喜多村先生既有著辨之恨。予未及鑑知。不免遼豕之識焉。</p>

<h2>解剖</h2>
<p>靈樞經水篇曰。夫八尺之士。皮肉在此外可度量切循而得之。其死可解剖而視之。其藏之堅脆。府之大小。谷之多少。脈之長短。血之清濁。氣之多少。十二經之多血少氣。與少血多氣。與其皆多血氣。與其皆少血氣。皆有大數解剖之言。始見於此。漢書王莽傳。莽誅翟義之黨。使太醫尚方與巧屠共刳剝之。度量五藏。以竹筳導其脈。知所終始。云可以治病。文獻通考載五藏存真圖。趙與時賓退錄云。廣西戮歐希範及其黨。凡二日割五十有六腹。宜州推官靈簡皆詳視之。為圖以傳於世。晁公武郡齋讀書志。載存真圖一卷。崇寧間泗洲刑賊於市。郡守李夷行遣醫並畫工往視。決膜摘膏肓曲折。圖之盡得纖悉。今校以古書。無少異者。張杲醫說云。無為軍張濟善用針。得訣於異人。能親解人而視其經絡。則無不精。因歲飢疫人相食。凡視一百七十人。以行針無不立驗。赤水玄珠載何一陽說云。余先年精力時以醫從師徵南。歷剖賊腹。考驗藏府。心大長於豕心。而頂平不尖。大小腸與豕無異。惟小腸上多紅花紋。膀胱是真脬之室。余皆如難經所云。無所謂脂膜如手掌大者。漢土辨藏府經絡取之實驗如此。本邦平安山脅氏請官始有觀藏之舉。著藏志。嗣後三谷氏橘氏杉田氏解視。皆有圖說。宜就其本書見其詳。</p>
<p>按古昔有醫經之學。有經方之學。醫經論藏府經絡。人所以成形體。如素問靈樞是也。經方者辨吐下溫涼。主在施治。如傷寒金匱是也。主在施治者。隨證立論。故其如藏府。則曰心。曰胃。曰膀胱。曰血室耳。非故省略。言有所主也。然從事經方者。不精醫經。從事醫經者。多疏經方。自昔而然。要之醫經則論常。經方則說變。是所以歧而為二也。惟夫上古神聖。闡造化之秘。究人身之理。辨藏府經絡所在。審其官能機關。以為養生治病之標準。其玄妙至精。非所測焉。余往年解刑屍檢視內景。與古書所說如合符節。當時有所私記贅附於此。以為蒙學之一助。肺者位諸藏之上。充胸肋之中。上連喉嚨。下蓋心。分左右為二大葉。其色青。縹帶微紅。其官主呼吸。以管吹氣道。則兩肺皆怒張。鮮澤似蟬翼。九針篇曰。肺者五藏六府之蓋也。病能篇曰。肺者為心之蓋。心者在胸膛之上。兩乳之間。麗肺葉之中。其色鮮赤。形如菡萏之倒掛。上圓下尖。左右有二室。其一名經脈。自心之左而出。蓋送血之官。其一名絡脈。納血於心之右。蓋收血之官。一往一復。流動周身。機發干旋。莫有間斷。是為至貴之地。九針篇曰。心主脈。津液別論曰。五藏六府。心為之主。邪客篇曰。心者。五藏六府之大主也。精神之所舍也。其藏堅固。邪不能容。容之則心傷。心傷則神去。神去則死。心尾動而應乳下虛里是也。平人氣象論曰。在乳之下。其動應手。宗氣泄也。脾者其色紫赤。其形如牛舌。其質如肉。位左脅下。在胃背側。其官造膽汁。出津液。消磨飲食。化熟水穀。太陰陽明篇曰。脾與胃以膜相連。厥論曰。脾主為胃。行其津液。肝者其色赤褐。在腹右季脅之下。擁護絡脈。抱持膽囊。傍胃側。向心下。其形大。其氣臊臭。其質尤重。其官納血於心。又制膽汁。調經論曰。肝藏血。金匱真言論曰。肝其味酸。痿論曰。肝主身之筋膜。膽者其色青白。橢而如卵。在肝內。其官甚苦。汁化水穀。四時氣篇曰。膽液泄則口苦。天年篇曰。五十歲肝葉始薄。膽汁始減。胃者其色薄黃。在膈膜之下。肝脾之間。位腹之中央。其形圓而長於左方。其中空虛。如大囊。上連食道。下接小腸。其官容受水穀。主磨湯輸之小腸。腸胃篇曰。胃紆曲屈伸。平人絕谷篇曰。胃橫屈受水穀。五藏別論曰。胃者水穀之海。六府之大源也。腎者其色紫黯。有兩枚。位五藏之下。六府之後。其官主泌別水血。痿論謂之水藏。上古天真論曰。腎主水。其下有小腎。二曰命門。（案與素問所謂命門異）三十六難曰。命門者。男子以藏精。女子以系胞。膀胱其色黯黃。位少腹之下。在橫骨之上。直腸之前。其狀如倒壺蘆。上腹圓大。下頸窄小。其官瀦水。下連尿道。小腸其色淺黃。其形如管。膜包其外。以曲尺計之。長二丈許。比之大腸。其形差細。其質薄。名曰薄腸。其上口屈曲而連胃下口。自在右向左脅迂迴臍上。屈曲少腹。腸胃篇曰。小腸回運還反十六曲大腸。其形如竹根。長僅五尺許。比之小腸差大。其質堅厚。故曰厚腸。小腸盤踞於內。大腸環曲於外。其狀為大腸纏小腸。其官共主化精微。輸之膜外。泌糟粕。導之肛門。本輸篇曰。大腸屬上。小腸屬下。三焦者。內經詳其名狀。而難經言無形。後人疑之。紛紛不決。然難經問難疑義之書。有與素問往往不相合者。徐遁陳無擇張季明張介賓之徒。皆以為有形。近於是矣。今驗之實物。上焦者。蕃所謂奇縷管是也。中焦者。大機里爾是也。下焦者。奇縷科臼是也。其官轉化飲食。造釀氣血。非六府之數而何也。五藏別論曰。胃大腸小腸三焦膀胱此五者。名曰傳化之府。上焦連脾藏。在胃後。歷橫膜。緣脊𦛗。上行胸中。會左肩。下而入絡脈。營衛生會篇曰。上焦出於胃上口並咽以上。貫膈而布胸中。又曰中焦亦並胃中而出上焦之後。此所受氣者。泌糟粕。蒸津液。化其精微。上注於肺脈。化而為血。故曰營血之府。下焦者。別迴腸注於膀胱而滲入。故水穀常並居胃中。成糟粕而俱下於大腸而成下焦。其官主決凟。其名雖有三等。所以致其功績則一也。此其大較見於經文。而歷可徵者。素難古書也。且詞致簡遠。非深於醫者不易遽曉。苟能熟讀之。則足以觀醫經之一斑矣。夫精神之運。氣血之行。系天機之呼吸。而至其所以然。則所謂有真宰存焉.自然之大數。非人力可得而量知也。乃聖人且就其可知者立名數曰精神。曰魂魄。曰藏府。曰經絡。曰氣血。曰津液。諄諄說示。令人知處活物之理。其精密非後醫所能及也。今探死腸而求其理。猶剖死馬而驗騏驥。觀之無益。不觀亦無損。如藏府經絡。軒岐既已講明之。蕃醫嘗糟粕矜新創。不知其所以立教而索諸毫釐紛頤之中。此荀卿所云以指測河。以戈舂黍之類。多見不知其量焉。余嘗言醫經者。天地性命。藏府經絡之學。故語常者居多焉。經方者。陰陽虛實攻補溫涼之書。故論變者居多焉。此二者猶兩輪之不可偏廢矣。知常通變而醫之能事畢矣。</p>
<p>（評）著者明察內景。推闡真理。足為社友參考之資。其異同姑不具論。僅言三焦。著者於文久元年。（即前清咸豐十一年）已證明有形。返觀我國。今日尚有不盡然者。學識不齊。詬病之原。論中於精神之運。氣血之行。再三致意。所謂今探死腸。而求其理云云。描摹蕃醫。刻舟求劍之弊。令人一讀一擊節。</p>

<h2>澒劑</h2>
<p>制煉之法。創見於周禮天官。瘍醫鄭玄注云。五毒五藥之有毒者。今醫方有五毒之藥。作之合黃堥置石膽丹砂雄黃磁石其中。燒之三日三夜。其煙上著以雞羽掃取之。以注創惡肉。破骨則盡出。此即輕粉粉霜銀硃生生乳之祖。案外傅輕粉。其來久矣。內服之則以中藏經明月丹為始。本草圖經曰。飛煉水銀為輕粉。醫家下膈最為要藥。聖惠方直指方宣明論醫壘元戎醫學統旨並稱其效。李時珍曰。水銀乃至陰毒物。因火煅丹砂而出。加鹽礬煉而為輕粉。加硫黃升而為銀硃。輕飛靈變化純陰為燥烈。其性走而不守。善卻痰涎。消積滯。故水腫、風疾、濕熱、毒瘡、皆被劫從齒齦而出。邪郁為之暫開。而痰亦因以愈。若服以過劑。或不得法。則毒氣被竄入經絡。筋骨。莫之能出。痰涎既去。血液耗亡。筋骨失所養。營衛不從。變為筋攣骨痛。發為癰腫疳漏。或手足皸裂。蟲癬頑痹。經年累月。遂成廢痼。其害無窮。蕃土所制昇汞甘汞加羅蔑兒等。與輕粉生生乳同。今試之澒劑。於黴毒神效靈驗。非他藥所及。使膏肓廢疾。收功於數旬之間。可謂奇特矣。但用之須慎。不失其機矣。</p>
<p>附制輕粉法</p>
<p>水銀（一兩）　白礬（二兩）　食鹽（一兩）</p>
<p>上三味同研不見星。鋪於鐵器內。以小烏盆覆之。篩灶灰鹽水和封固盆口。用炭煉二炷香。取開。則粉上附於盆面。其白如雪。（今世煅法分量不與古法同蓋從簡便也。）續日本紀</p>
<p>元明天皇和同六年伊勢國始獻水銀粉。今藥鋪所鬻者。亦出於勢州射和制生生乳方法。已詳見於黴瘡秘錄。然煅法迂曲。後學不易遽曉。蓋陳氏奇其術耳。老友尾臺士起傳東洞翁秘法極為簡易。因錄之於下。</p>
<p>硝石（十六錢）　礬石（十二錢）　綠礬（十八錢）　食鹽（三錢）　青鹽（三錢五分　用戎鹽）　雲母（二錢五分　用漢產浸鹽水日乾為末）　礜石（三錢　火煅煙盡為度）　水銀（十二錢）</p>
<p>上八味各別為末。合入水銀煉用津唾搗數千杵。以不現星為度。安放瓦器中。（即今戶窯）向底附著乃蓋之銅線縛之。鹽泥固封。藏過五旬。倒器埋之地中。底出地寸許。加火其上。用炭率三斤。炭盡起器。待火氣消。發封乳滴著蓋里狀如束針。取出聽用。</p>
<p>（評）歷陳水銀各方於內服之弊。恰如吾人所欲言。上海毒門戕伐生命多矣。用者慎之。</p>

<h2>熨法</h2>
<p>溫散凝寒。通暢血氣。是熨法之所主。故古昔於灸代用拘急攣縮。痛痹不仁。凡系血氣之凝結者。一切用之。血氣形志篇曰。形苦志樂。病生於筋。治之以熨引。</p>
<p>（注云熨謂藥熨引謂導引）壽夭剛柔篇曰。寒脾之為病也。留而不去。時痛而皮不仁。以藥熨之。用醇酒二十升。蜀椒一升。乾薑一斤。桂心一斤。凡四種。皆㕮咀漬酒中。用棉絮一斤。細白布四丈。並內酒中。置酒馬矢熅中蓋封塗。勿使泄。又刺節真邪篇曰。治厥者必先熨。調和其經掌與腋肘與腳項與脊以調之。火氣已通。血脈乃行。扁鵲療虢太子屍厥。為五分之熨。見於史記本傳。中藏經曰。宜蒸熨而不蒸熨。則令人冷氣潛伏。漸成痹厥。不當蒸熨而蒸熨。則使陽氣偏行。陰氣內聚。千金及翼方外臺載熨症諸方。聖濟用蔥白熨臍下。又用黑豆熨前後心。或炒鹽醋灰。赤水玄珠為熨臍方。又有熨白虎歷節風方。蕃醫以蒟蒻熨心腹。即張景岳罨熨法。</p>
<p>（評）著者溫散凝寒。通暢氣血二句。足明熨法之宜。治病兼用。不無小裨。倘風火暑熱痹絡熨之或反加甚。</p>

<h2>灌水</h2>
<p>灌水之法。其來尚矣。倉公傳傷寒論皆及之。玉函經曰過經成壞病。針藥所不能制。與水灌枯槁。陽氣微散。身寒溫。衣覆汗出。表裡通利。其病即除。華佗療婦人寒熱注病。用冷水灌之。千金外臺治石發有冷水洗浴之法。南史載徐嗣伯用灌水治房伯玉之病。張戴人浴痘兒出於儒門事親。他如衄血不止。用新水隨左右洗足。及冷水噀面。冷水浸紙貼囟上。以熨斗熨之。金瘡血出不止。冷水浸之即止。共見於本草綱目中。</p>
<p>（評）灌水治病。其來已古。即今每見熱病。殆用井水雪水。灌入口中。旋得大汗而愈者。此中病理。其酷暑雷雨之應。熱者寒之是已。有寒痰積水挾氣蓄血者。妄用則殆。</p>

<h2>腳湯</h2>
<p>五常政大論曰。行水漬之。（注謂湯浸漬也）陰陽應象大論曰。其有邪者。漬形以為汗。玉機真藏論曰。脾風可浴。金匱附方有礬石湯浸腳。巢源曰。邪氣在表。洗浴發汗即愈。外臺引文仲捋腳方。水煮杉木浸捋腳去腫滿大驗。皇國亦有湯漬法。見於榮化物語。本草衍義曰。熱滾助陽氣。行經絡。患風冷氣痹之人。多以湯渫腳至膝上。厚覆使汗出周身。然亦別有藥。亦終假陽氣而行爾。四時暴泄利。四肢冷。臍腹疼。深坐湯中。浸至腹上。頻頻作之。又曰生陽諸藥。無速於此。朱慎人治風疾。掘坑令坐坑內。以熱湯淋之良久。以簞蓋之。汗出而愈。聖惠方有淋溻瘡上之法。博愛心鑑治痘瘡頂陷。有水楊湯。諸如是類。不暇僂指。姑抄一二。以資攻閱。</p>
<p>（評）腳氣用藥湯渫洗。屢見效驗。冰冷者可以得汗。古人妄禁水洗。不知用藥之效。助湯氣行經絡。痿者可使之起。</p>

<h2>酒劑</h2>
<p>醪醴見於素問。然上古所作。不能知其法。扁鵲傳曰。其在腸胃。酒醪之所及也。仲景氏之方八味丸。土瓜根散。赤丸天。雄散四方。各以酒服之。下瘀血湯。一方以酒煮之。麻黃醇酒湯。以美清酒五升煮之。（漢書師古注醇酒不澆謂厚酒也）芎歸膠艾湯。炙甘草湯。當歸四逆加吳茱萸生薑湯。鱉甲煎丸。清酒與水合煮之。（案周禮酒正辨。三酒之物。一曰事酒。二曰昔酒。三曰清酒。鄭注清酒今之冬釀夏成者也。蓋謂無灰清酒也。）其他大豬膽汁導法之法醋。（案法醋諸本草無所考成本無法字似可從）苦酒湯。黃蓍芍藥桂枝苦酒湯之苦酒。（陶宏景曰醋亦謂醘之以有苦味俗呼苦酒）及美酒醘。（魏氏曰美酒醘即人家家制社醋是也。）栝蔞薤白白酒湯。栝蔞薤白半夏湯之白酒。皆酒劑也。（案白酒始見於靈樞經脈篇。以白酒和桂且飲美酒。仲景所用白酒。未詳其制。千金方白酒作白酨漿。或作酨酒。外臺亦同。今從之。用酢者。蓋取之於豁胃利氣。其造法見於本草蒙筌。蓋仲景之方。出於諸家。故曰法醋。曰苦酒。曰白酒皆因古人所傳。異其稱謂耳。）又肘後千金外臺諸書。並載酒劑之方。皆取於宣通血脈。開發壅滯。蓋以酒性慓悍。能行藥勢也。凡急患長恙。血虛氣滯。久寒痼冷。偏枯不遂。拘攣痹厥之類。宜常服之。然因藥之隊伍功用各異。蕃有稱丁幾去爾者。浸藥於燒酒。臨時用之。蓋仿矉於紅藍花酒也。然丁幾羅宇多蒲布滿原屬劫劑不可輒用也。</p>
<p>案燒酒非古法。自元之時始。蓋系蒙古人之制。其味辛烈燥猛。過飲則傷胃爛腸。不可充藥料。（其造法用濃酒和糟入甑蒸令氣上。用器承取滴露。其清如水。味極峻烈。入口如燃。故曰火酒。後世以糯米大麥葡萄等造之。其造法甚簡。）漢土單稱酒為藥用者。專用糯米造之。最為上品。黍粟次之。用粳米者少。蓋漢土之粳。不及本邦之粳。我粳與彼糯等。故入藥者。宜用粳制。無灰者。蓋酒者熟谷之精液。故其氣慓悍滑利。太溫有毒。其功則行氣。和血解鬱、逐瘀、燠寒、消食、散風濕、除邪穢、利水道、滑大腸、解禽魚及百果之毒。導引諸藥。運輸全身。莫此為捷。然過飲則傷神損壽。亂氣動血。其功不傷害。乃如美淋酒忍冬酒保命酒泡盛火酒等殊醇濃者。並不宜藥用。</p>
<p>（評）著者引用周禮諸書。具徵博雅。篇末言其功不傷害。具有經驗。即今伏熱陰虛火炎者多。西藥酒劑。每見有變徵劫劑之誠允當。</p>

<h2>制鏈</h2>
<p>蕃醫鏈化藥材。取其精液。名曰制鏈術。其類有數品。蒸餾取藥露。及分析鹽性土質護謨華爾斯之類。其製法並見泰西永法。舍密開宗和蘭藥鏡。而其煎熬者浸酒者。淮南三十六水法抱朴子等醫。既發其端矣。磺水與蘇打合。則為膽礬。與鐵合則為青礬之說。亦本於道家修煉術。他本草所載薔薇露阿片蘆薈之類皆非洋人所創發明也。</p>
<p>（評）著者歸本於抱朴子各書。誠然。淮南子作豆腐。巴黎且機制焉。制鏈為吾國所固有。但宜求精耳。薄荷精太倉汪氏創。風行中外。莫謂秦無人也。</p>

<h2>蒙汗</h2>
<p>蒙汗字共見本草綱目泉水條七修類稿水滸傳等書。其義未審。山田圖南云。業汗隱語。以其害人。不直指其名也。說見敗鼓錄中。宜參閱。莨菪阿片曼陀羅花番水鼈雙鸞菊之類。皆令人麻醉。收斂血脈。奪其神機。故心神錯亂。瞳孔豁達。煩渴引飲。不知人事。若參服則死。宜斟酌作劑。凡割肉刮骨。不可欠此藥焉。後漢書華佗傳云。疾髮結於內。針藥所不能及者。令先以酒服麻沸散。既無所覺。因刳破腹背。抽割積聚。若在腸胃。則斷截湔洗。除去疾穢。既而縫合。傅以神膏。四五日創愈。齊東野語云。草烏末同一草食之即死。三日後亦活。桂海虞衡志云。曼陀羅花盜採花為末。置人飲食中。即當醉。梅元實藥性會元云。同陀螺花川烏草烏合末。即蒙汗藥。本草茉莉根以酒磨一寸服則昏迷。一日乃醒。二寸二日。三寸三日。紀曉嵐云。的女飲茉莉陽死。與私夫共逃。此茉莉亦可以醉人。張介石資蒙醫經云。蒙汗一名鐵布衫。少服止痛。多服則蒙汗。其方鬧陽花川烏瓦龍子自然銅乳沒熊膽硃砂麝香凡九味。上為絕細末。作一服。用熱酒調服。乘飲一醉。不片時。渾身麻痹。陳士鐸石室秘錄碎治法門云。先用忘形酒。使其人飲醉。忽忽不知人事。住人劈破。絕不知癢痛。取出蟲物。然後以神膏異藥縫其破處。後以膏藥貼敷一晝夜。即全好。徐以解生湯藥飲之。夢初覺。而前症頓失矣。資蒙醫經石室秘錄等所載。蓋皆華佗遺法。可以備參考焉。今日醫道之闢外科。不必用麻藥。遊刃於人身中。恢恢有餘。後生可畏。於是乎信。</p>
<p>附紀州華岡氏療乳岩結毒淋漏便毒附骨疽及跌損脫臼。制麻藥飲之。俟其醉。割肉刮骨。刳膜斷筋。凡系重患篤癃者。一切用之。余嘗親炙其門。屢得其驗術。因錄其方。曼陀羅花（八分）（陳舊者佳新者發嘔）草烏頭（二分）　白芷（二分）　當歸（二分）　川芎（二分）</p>
<p>上五味為粗末一淪空腹服之。須臾心氣昏暈。手足頑痹。或沉眠不覺。或悶亂髮狂。乘時施洽。既而飲之以濃茶。又與黃連解毒加石膏湯。二三時乃醒。如目眩咽乾。神氣不復者。用黑豆湯即解。倘其不醉者。更飲溫酒。或乘輦動搖必醉。其醉有迅速者。由天資有躁靜爾。</p>
<p>（評）外傷爾科。慎用之。可以利人。惟莨菪曼陀羅草烏均毒。藥業當標明勿輕售非醫。以免作孽者殺人。</p>

<h2>起泡</h2>
<p>外敷斑蝥。拔毒去痛。呼膿除腐。凡病之毒聚血結而為患。如痛風黴毒跌撲閃肭。一切瘀血凝滯者皆宜之。蓋疾之在藏府經絡者。服藥可以驅之。其在皮膚筋骨之間。或提而出之或攻而散之。其泡於是乎為功。外臺治療腫方。斑蝥二枚捻破。以針劃瘡上作米字封之。即根乃出。又治乾癬。積年生痂。搔之黃水出。每逢陰雨即癢。用斑蝥半兩微炒為末。密調的之。聖濟大風面上有紫㾦㿔未銷。用干斑蝥末。以生油調的。約半日㾦㿔脹起。以軟帛拭去藥。以棘針挑破。令水出。干。不得剝其瘡皮。不可以藥近口眼。永類鈐方治癬癢。用斑蝥七個。醋浸露一夜搽之。又謂之天灸。王執中資生經旱蓮草捶爛。男左女右置了口上以古文錢壓定書系住。良久起小泡。謂之天灸。其。瘧即止愈。並醫說雲石龍芮俗名貓跡草。葉毛而尖。取葉揉臂上成泡。謂之天灸。治久瘧不愈。本草綱目毛莨草條。李時珍云。山人截瘧。採莨葉挼貼寸口。一夜作泡如火燎。故呼為天灸自灸。其他尚有數方。漢醫則審內傷外感之別而施之蕃醫則概用之。雖有不過者寡矣。</p>
<p>附制斑蝥膏法</p>
<p>斑蝥（為末六兩）　黃臘（九兩）　豬脂（三兩）</p>
<p>先煮膽脂二味。令消化。離火。入斑蝥末。攪令凝結。或攤於布。或攤於紙。貼患所。蓋以堅膏。令不動。貼後一夜起泡。以針出水。其毒淺者。宜薄而日換。毒深者。宜厚而久貯。若病已愈。欲令生皮。換貼黃臘膏。</p>
<p>（評）著者所引各條。俱系舊的。西醫利於速效。鈴醫不顧痛苦。有相似者。篇末所云漢醫則審內傷外感之別而施之。蕃醫則概用不過者寡。不但起泡一術也。</p>

<h2>唧筒</h2>
<p>蕃醫所為灌腸術者。即仲景導屎之法也。凡不論何病。腸內閉塞。汙物不下者。宜導而出之。蜜導土瓜根豬膽汁皆能潤竅滋燥。從其便用之可也。肘後方治大便不通。採土瓜根搗汁。用筒吹入肛門內。北齊道與治疾方用豬膽汁。導以葦管。聖濟以生瓜根搗汁少許水解之。竹筒傾內下部。即通。十便良方療大便秘塞不通。用豬膽以筩灌三合許。令深入。即出矣。不盡須臾更灌。醫學正傳。小兒大便不通。含香油以小竹筒擠入肛門。以油吹入過半時許。下黑糞。袁枚云。回回病不飲藥。有老回回能醫者。熬藥一桶。令病者覆身臥。以竹筒插入穀道中。將藥水乘熱灌入。用大氣力吹之。少頃腹中汩汩有聲。拔出竹筒。一瀉而病愈矣。是則過於太快矣。</p>
<p>（評）中土漢法不一其穩妥有較機取為上者。每見機取有元氣隨之而亡者。說見醫譚。</p>

<h2>導尿</h2>
<p>導尿亦拯急之一策。千金方凡尿不在胞中。為胞屈僻。津液不通。以蔥葉尖頭內陰莖扎中。深三寸。微用口吹之。胞脹。津液大通。即愈。外臺引救急方。主小便不通。其方取印成鹽七顆。搗篩作末。用青蔥葉尖盛鹽末開便孔內葉小頭。於中吹之。令鹽末入孔即通。衛生寶鑑一妓轉脬。小便不通。腹脹如鼓。數月垂死。一醫用豬脬吹脹。以翎管安上。插入陰孔捻脬氣吹入。即太原而愈。測胞之法。蓋胚胎於此。蕃人效漢制其器耳。</p>
<p>（評）漢法何等穩便。蕃醫用銀絲通用管。有傷生殖器成損者。說見醫譚。</p>

<h2>塗藥</h2>
<p>塗藥昉見於靈樞。經筋篇曰。有熱則筋弛縱。緩不勝收。故僻治之。以馬膏耳其急者。以白酒和桂以塗其緩者。又癱疽篇曰。發於腋下赤堅者。名曰米疽。治之以砭石。欲細而長疏砭之塗以豕膏。六日已。仲景方中。有溫粉。有摩散。外臺載塗臍下通溲便之方。幼幼新書塗五心治少小客忤。聖惠方塗手心以緩筋急。閻孝忠方塗足心能引上病而下之。又治口瘡。又治赤眼。治鼻衄。唐宋以降。外傅藥方。亦復不鮮。或治的患所。或移彼引此。及夫吹喉點眼。塗囟貼臍。與熏蒸洗熨等。皆治標之法也。不可不知。蕃醫以為與內服同效專用之者非也。</p>
<p>（評）實可佐內服之不及。國醫優為之有特效者。</p>

<h2>芥子膏</h2>
<p>蕃醫好搗白芥子為泥。敷腨腸及腳心。施之中風、霍亂、發癇、暴瀉、痘瘡等。其法見於肘後方。治中風卒喑不能語。以苦酒煮芥子。傅頸一周。以衣包之。一日一夕乃瘥。又治喉痹。取芥子搗碎。以水及密和傅喉。下燥輒易。中藏經治小兒奶癖。白芥子不以多少。研成膏攤紙花子上。貼疼硬處。坐中效。此由外通內。藉於氣達者。其功用與敷熨吊溻種種雜療同。</p>
<p>（評）有寒氣阻窒脘腹痛。曾用白芥子末蔥葉搗敷之。痛處即可捷效</p>

<h2>嚏藥</h2>
<p>搐鼻取嚏。以發泄郁邪。開達壅塞。其法創見於靈樞。雜病篇云。噦以草刺鼻。嚏嚏而已。金匱頭中寒濕。內藥鼻中。千金翼及外臺刪繁方。搐鼻並同瓜蒂。聖惠治風頭痛。吹鼻散用瓜蒂麝香等五味。先含水滿口後。搐藥半字深入鼻中。又中風牙緊不能下藥。即鼻中灌之。又治眼睛如針刺疼痛。聖濟以治小兒天鈞。幼幼新書治小兒急慢驚風。易簡方卒中口噤。用細辛皂角各少許。或只用半夏為末。以蘆管入鼻中。俟噴嚏其人少蘇。蘭室秘藏以治內外障眼。張從正曰如引涎漉漉。口氣追淚。凡上行者。皆吐法也。翟玉華曰。其升之舉之提之皆吐之意也。</p>
<p>（評）著者所引諸方。中醫有用者。近人且有薄荷冰研射鼻竅治腦膜炎之方。後法勝前。在發明之。</p>

<h2>齅烔</h2>
<p>藥氣藉火氣從鼻孔中而直達肺腑。通經貫絡。透徹周身。卒病沉疴。從症用之。以助服藥之所不及。是薰煙之用也。但用之於上部。最為有效焉。千金療咳熏法。細熟艾。薄荷布紙上。廣四寸。後以硫黃末薄布艾上。務令調勻。以荻一枚。如紙長卷之作十枚。先以火燒纏下去荻。其煙從孔中出口。吸取煙咽之。取吐止。外臺引古今靈驗療咳飲煙法。鍾乳、白石英、人參、丹參、雄黃、烏羊、腎脂、淨紙、上八味。各搗篩為末。以水銀投藥里細研。使入諸藥。羊脂熬取置紙中。令均平使厚一分。散藥令周遍。剪紙一張。作三分。二法皆以口吸。其氣猶今吃煙草也。御藥院方龍香散。治偏正頭痛。用地龍乳香細末摻紙上作紙捻子燒令聞煙氣。澹寮方徐介翁熏頭風方。於上方加指甲。每用一捻。向香爐內慢火燒之。卻以紙捲筒如牛角狀尖小留一小孔。以鼻承之。熏時須噙溫水令滿口。此法通用之產經。治盤腸產用熏法外科正宗治結毒爛壞。用祁陽炭麵粉銀硃為熏法。本草綱目治中風、痰厥、氣厥、中惡、喉痹、一切急病。咽喉不通。牙開緊閉。用巴豆熏法。其法爛巴豆綿包壓取油。作捻點燈吹滅熏鼻中。或用熱煙刺入喉內。即時出涎。或惡血便蘇。</p>
<p>附清神香（家法）治瘡毒頭痛及咽喉破爛瘰癧眼疾服藥無效者。</p>
<p>辰砂（一錢）　沉香（三錢）　百草霜（三錢）</p>
<p>上三味和勻。分為七貼。剪紙幅一寸長八寸。寫藥末捻為七條子樹之香爐中。點火條頭捲紙作筒如筍狀以覆之。令煙不散。其尖上穿一小孔。患者含冷水。就孔嗅之。全七日而止。</p>
<p>聖煙筒（家方）此方不止療黴毒沉深。兼治中風偏枯。水腫鼓脹。嗝噎癲癇。</p>
<p>鉛丹（二錢）　水銀（二錢）　硃砂（一錢）　沉香（二錢）　白檀（一錢）　金箔（五片）</p>
<p>上六味先以鉛丹盛士盞火熔化。內水銀。拌令相得。傾注紙上。研候如泥。入硃砂沉香白檀金箔等末和調。齅法同上。</p>
<p>（評）硫黃暨鍾乳水銀治咳。令人風熱虛咳正多大忌。巴豆熏喉。不宜妄施。多用水銀等重黴毒亦有流弊。</p>

<h2>筩針</h2>
<p>靈樞四時氣篇曰。徒㽷先取環谷下三寸。（案環谷不知所指。馬蒔曰。各經無環谷穴。止足少陽膽經。有環跳穴。今曰三寸。意風市穴。此說恐非因名為說耳。蓋環谷膀胱部位。今時療鼓脹水腫刺針筩而取水。往往得驗。意與刺㿗疝同。）以鈹針針之。已刺而筩之。而內之。入而復之。以盡其㽷必堅。來緩則煩悗。來急則安靜。間日刺之。㽷盡乃止。又官針篇曰。病水腫不能通關節者。取以大針。肘後方皮膚水腹內未有者。服諸發汗藥。得汁便瘥。煞慎風寒為急。若腹大小之不去。便針臍下二寸。入數分。令水出。孔合須腹針乃止。則筩針之法。不昉於洋人矣。</p>
<p>附案療水腫鼓脹。用筩針刺之。出於不得已之策。可或一為之。屢之則大命從殞矣。干金云。凡水病忌腹上出水。出水者一月死。大忌之。聖濟引徒郁子云。華佗云。水病未遇良醫。第一不得針灸。言氣在膜外。已化為水。水出即引出腹中氣。水盡則死。醫說引醫余云。病水人水在膜外。切不可針。針透膜初時稍愈。再來即不可治。神效名方云。大忌腳膝上針刺出水。取一時之效。後必死矣。蓋此症固忌針刺。然百藥無效。至難奈何。施之所為穿腹法是也。但其僥倖萬一。安可措而不講耶。余嘗驗之。水腫有虛實之分。全身洪腫如水泡。如霜瓜。短氣喘鳴。氣息欲絕。以指壓之。其痕隨手而起者。屬實皮膚之腫也。其痕窅而不起者。屬虛肉間之腫也。實者就股間膕縫而取水。猶可望生矣。虛者則決不可取也。鼓脹亦然。有氣水之分。腹中汙液。瀦蓄若囊實物。內漸盈滿。外漸怒張。至殆如鼓。膨朜欲裂。以指彈之。或按之。其運轉響動者水也。若腫硬緊滿。青筋絡繹。皮光射人。按之無聲者氣也。水者可刺。至氣者不可刺也。要徵之胃氣。若能食者用權猶存。可刺矣。不能食者。用權已亡。雖水亦不可刺也。能辨此。差別而親試體驗。知經文之不我欺焉。故非甄腫之。虛實。水氣之差別。胃氣之存亡。決不可刺也。蕃醫不顧忌。一概施之。戕命不少。因表為後的。</p>
<p>（評）水腫外刺取水死者甚多。著者所謂屢之則大命從殞。蕃醫一概施之。戕命不少。立言洵有功哉。實事見醫譚。</p>

<h2>角法</h2>
<p>角法義未詳。或云角者味也。味形似針。吳仁杰說行露詩。誰謂雀無角。蓋古謂咮為角。以針刺人體猶雀之啄物也。</p>
<p>刺破患處。納絮火於竹筒或硝子急點著針口。則火氣能吸血候血止放筒去。此為角法。凡瘀血凝聚。焮腫疼痛。發見於皮表者。視其所在角之。則瘀血去而疾患除矣。用瓠𤬛亦同其義。角法始出於肘後方。外臺有角療骨蒸法。又引古今靈驗蠍螫人。以治療之之法。又療金瘡得風身體痓強口噤不能語。瓠𤬛燒麻燭熏之。證類本草引兵部手集方。治發背頭未成瘡。及諸熱腫痛。以青竹筒角之。蘇沈良方載治久嗽火角法。瑞竹堂經驗方吸筒濟急仙方竹筒吸毒。外科正宗煮拔筒方。並與角法同。</p>
<p>（評）以火入筒合於痛處。拔取寒濕之毒。中土老嫗能為之。但伏熱血費者。大非所宜。</p>

<h2>蜞針</h2>
<p>丹波雅忠所著醫略抄。引宋俠經心錄收蜞針法。案俠唐人則蜞針之方亦古矣。陳藏器曰。水蛭本功外患。赤白遊𤺋及癱腫毒取十餘枚令啖病處。取皮皺肉白無不瘥也。冬日無蛭蟲。地中掘取暖水養之。令動先洗人皮咸。以竹筒盛蛭綴之。須臾便咬血滿自脫。更用飢者。外科精要載洪丞相蜞針法。凡癱疽覺見稍大。便以井邊浮泥傅瘡頂上。看其瘡上有一點先干處。即是正頂。先以大筆管一筒。安於正頂上卻用大馬蜞一條安其中。頻以冷水灌之。馬蜞當吮其正穴膿血出毒散是效。如毒大蜞小。須三四條方見功。腹傍黃者力大。若吮著正穴。蜞必死矣。其瘡即愈。若血不止。以藕節上泥止之。白色花亦妙。皇國用蜞針見於藤定家明月記安貞元年條。又出於東鏡及廉中抄尺素往來等。此法與針角略同。而令患者不覺疼痛。更為便宜。然亦宜詳其病之因。與證之狀而用之矣。</p>
<p>附人身不論何處瘀血停聚。熱痛紅腫者。先淨洗腫上。有毛髮處剃去之。著水蛭數條。任其咬咂飽滿自然脫下。若不落以鹽少許摻之。即縮落。若血不止者。以指按住之即止。若其不陋者。擦膚令熱著之即吮。</p>
<p>（評）瘍科用蛭吸毒膿惡血。可省刀針之苦。洵善法之不可廢者。</p>

<h2>刺絡</h2>
<p>血之浮見於肌膚者為絡。潛行於內里者為經。纏繞九竅。綢繆百骸。環會周旋。靡所不至。猶地中有川瀆水由之行也。邪氣藏府部形篇曰。經絡之相貫如環無端。此之謂也。夫血流動灌溉。榮養人身。故一處鬱塞。則百體失養。其害不可勝殫。當此時非放發之。何以得通。針解篇曰。菀陳則除之。經脈篇曰。刺絡脈者必刺其結上。甚血者雖無結急取之。以寫其邪。而出其血。調經論篇曰。經（甲乙經作絡）有流血。血有餘則寫其盛經出其血。又曰視其血絡。刺其血。無令惡血得入於經。以成其病。刺禁篇曰。刺肘中內陷氣歸之為不屈伸。（次注云肘中謂肘屈折之中尺澤穴中也。）刺腰痛篇曰。制解脈在郄中。（次注云郄中則委中穴）結絡如黍米。刺之血刺以黑見赤血而已。壽天剛柔篇曰。久痹不去身者。視其血絡。盡出其血。禁服篇曰。寫其血絡。血盡不殆矣。扁鵲傳扁鵲治虢太子。使子陽厲針砥石。以取三陽五會。取者謂刺絡除去其瘀滯也。後世郭志邃痧脹玉衡劉松峰雜疫論共載療沙脹疙瘩瘟蝦蟆瘟之法。專用放刮。二子踵事加精。可以為法式焉。安永間平安有垣本針源者。善用大針出血治眾疾。事見於熙戴錄。要之自非讀素靈甲乙。明經絡俞穴。臨症施治。焉知瀉血丈妙哉。</p>
<p>附刺尺澤法</p>
<p>令病者就枕側臥。下左而取右。下右而取左。（側臥取之則無暈倒眩悸之患）先將綿布幅一寸。長二尺五寸許。緊扎肘後。令病者握物。弩力張絡。就絡脈怒張處。下針血輒迸出。豫備銅盤受之。盤中宜布白紙。以辨血色。有鮮絳者。有瘀濁者。紫黯者。更量血之多少。而處分之。若少則令病者極力握物。血便易出。若多則解縛啟握。血即止。乃摩擦痏痕。令之屈臂。須臾得安。凡血量重七十錢至百五十錢為率。須觀體之強弱與毒之淺深。而斟酌焉。頭痛、齒痛、目疾、頭瘡、耳鳴、肩背強急。凡繫上實者。殊有效。</p>
<p>刺委中法</p>
<p>先將布緊扎病者膝上。就枕側臥。令病者伸腳。踵柱或壁。待絡脈怒張而刺之。血即出。（概如刺尺澤法）腰痛腳腫產難不月臁瘡黴毒系下實者有效。</p>
<p>刺少商法（穴在手天指端內側）</p>
<p>將細線緊扎大指橫紋處刺之。治啖痹喉癰驚癇卒倒。</p>
<p>刺大敦法（穴在足大指端聚毛中）</p>
<p>刺法同上治頹疝睪丸痛腫。</p>
<p>刺額上法</p>
<p>令病者將縛布纏扎喉下。絡脈即張。輕輕刺之。治偏正頭痛赤眼疼痛。</p>
<p>刺鼻中法</p>
<p>以金創針就鼻中輕刺之。血即滴出。備器受之。治赤眼連額疼痛及鼻生瘡。</p>
<p>刺舌下法</p>
<p>舌下左右挾柱之絡是也。矯舌刺之。治咽喉腫庸。及木舌重舌。刺外腎法。</p>
<p>以系扎莖根。見筋絡怒張刺之。治瘡毒腫痛搔癢難堪者。凡針刺無定處。毒之所聚。刺之有效。刺百會治腦痛頭瘡。刺目眥眼瞼治赤眼焮腫。弩肉遮睛。爛瞼癢疼。刺齦肉治齒牙疼痛。齦腫齦風鑽齒疳。其他酒皶鼻痰頑癬臁瘡。可刺者猶多矣。宜候毒之所聚。而疏其所壅。有意外之功。</p>
<p>（評）諸法均為我國粹。唐素鳴鶴治高宗風眩。刺百會腦戶隨即出血愈。令人懼其冒險。僅治霍亂。取委中穴出血。瘀行病滅一法。余不敢用。淺矣。</p>

<h2>引痘</h2>
<p>張氏醫通載種痘之說云。始自江左達於燕齊。近則遍行南北。詳究其源。云自玄女降亂之方。醫宗金鑑有種痘一法。傳云自神授。其言奇異不可信。蓋其法取豆漿種之。峻易則由小兒之天資焉。我邦俗間有一種引痘之法。其法預備痘痂。有欲種者。未痘痂以竹管吹入於鼻中。此法不知創於何時。嘉永二年蘭舶始齋牛痘苗來於長崎。試之兒輩。果有驗。其法以針刺左右臂。納膿於針口。不令血出。針之多少。隨年齒異其數耳。其種轉輾相傳。送延蔓海內。</p>
<p>附案牛痘者。（初英國之醫佔全。觀牧童取牛乳者。不染天花。因悟牛痘解人痘之毒。始試之兒童。果免痘事。見於嘶當㖦及邱熹引痘書。）避痘之術。而非真痘也。猶餌紫河車而不出痘。（初年小兒十三本身剪下臍蒂燒灰。以乳汁調服。可免痘患。或入硃砂少許。共見保幼大全正字通等書。案人胞胎載於陳氏本草。朱震亨專言其功。然難悉信。但餌之於嬰兒全身發疹者。不罹痘患。是為奇而已。）服三豆神方而免痘厄。（稀痘神方赤豆黑豆綠豆甘草各一兩為細末。斬新竹筒去皮。兩頭留節。穿一孔。納藥末杉木黏塞其孔。黃臘封筒外。以小繩系之。候臘月投廁中。滿一月取出。洗淨風乾。每藥一兩。梅花片三錢和勻。兒大者用一錢。小者用五分。服後忌葷腥十二日。解出黑糞是其驗。如其詳說見於本朝食鑑。）蓋痘毒者。根之於胚胎。發之於時氣。故種之術。非易易可施也。余亦嘗試之。驗則有之。但其先天毒深者。必遺巨害。聶久吾論痘曰。胎毒潛伏於五藏。有觸則發。無觸則不發。故發有迅速。當其未發時。形氣俱泯。無可端倪。若未燧之火。何處尋覓。又何解釋預解痘毒諸方。無故而遂寇通。都不近理也。又曰其毒氣發自五藏。實動五藏真氣。全賴血氣送毒氣而出之外。運化之而成漿。收結之而成痂。而後藏府可安。若血氣送毒氣不出。則毒氣反攻藏府。如寇作于都城中主者。不能操謀奮武。逐之出外。致令操戈內攻。安得不危。故用藥如用兵。不可違此理也。此說頗精核。足以確痘瘡為胎毒矣。蓋男女之精和合成體。父之精屬氣。母之精屬血。父之精發於疹。母之精發於痘。感時一發。然後人身始安。譬如蟬蛇之脫皮。草木之解甲。新陳相代。勢所必然也。其少如古而多於今者。氣運所令。然其痘有峻易者。繫於胎毒有淺深。與時氣有酷薄。感觸有輕重。其均不免一感者。皆天也。今引痘家乃欲以人力勝天運。苟冀目前之安。不顧日後之患。殆不知天定勝人之理也。夫人無病而餌藥。必受其害。痘毒未動。強引之。輕者或可無害。至其重者則數顆種子。安得熱泄無餘。譬如流水。壅之於此。必決於彼。潰胃衝突變不可測。極其所底。畜毒之災。為驚風。為馬牌風。為哮喘。疳癖、蚘蟲、癲癇、勞療、痘厄、難免劇疾隨起。以余所睹實繁有徒。古人有言。逆天不詳。古聖人設醫藥以助造化所不及。苟肋以道。痘厄可救。至其不可救。命也。豈惟痘而已哉。或疑西肥五島有未染痘之地。村人或染。移之山中。嚴使村人邀之。是以其痘不蔓。據子之說。則西肥之人獨無胎毒乎。曰非也。病因風土而異。胎毒之發不止痘而已也。是以岐伯有異法。方宜論孫氏有方土之說。不啻高燥之地多瘧疾。卑濕之地多腳氣。疾病隨地。各異其證。徐洄溪輩既辨之矣。西肥之不染痘。亦風氣所令然。風氣一變。疾病亦從而變。痘之少於古而多於今。吾安知非西肥與他土類乎哉。</p>
<p>（評）箸者胎毒傑於五藏潛伏。有深淺及天定勝人之理。亦知言也。鼻苗亦有不出者。家君於二十歲方出天痘。而牛痘亦然。昧者推崇新法。僅種一次胎毒不清。喉恙惡疫一染。遂不可救者比比。</p>

<h1>跋一</h1>
<p>自洋學一闢。人皆喜新厭舊。往聖遺訓。棄如糞土。宮保曰。西洋人言天地之理最精。其實莫非三代以來古法所舊有。後之學者。喜其新而宗之。疑其奇而闢之。皆非也。如醫法為最然。惜乎未有好事者為之辯也。吾友今村祗卿乃起而辯之。書僅一卷。博而能確。辭無支葉。足以鉗鴂舌之口。而胠蒙者之惑矣。祗卿著書數部。此特一斑云。</p>
<p>慄園淺田惟常（按原書名左有疾醫惟常印章知淺田亦同時之書家也）</p>

<h1>跋二</h1>
<p>家君刀圭之暇。以著述為娛。脫稿者已若干種。頃者使芳校舊稿。因得此篇。退謂生徒曰。此書雖小品。足以醒世醫之夢夢。遂相共謀將梓之。家君曰。蕞爾漫錄。遺漏亦多。且漢蕃相抗。猶晉戎之角犄。適足以取嗤於高人民。夫軒岐之道這大。較之於諸蕃醫術。猶日月之與燭火。滄溟之與蹄涔。其大小邪正。不俟智者而後知矣。猶何梓之為。芳曰誠然矣。雖然今世之醫。不特不知我道之廣大精微。並不知蕃醫剿襲以為己有。而弔詭承訛。逞意鼓簧。公然弄人命於股掌之間。其害有不可勝言者。何置諸度外。此篇引援該博。一覽可以知我道無所不備矣。謂之後學之津筏。醫門之慈航。固非誣也。生徒之請盍許。家君哂而頷之。迨梓成。謹理前言以為跋。</p>
