<header data-type="book">
<h1>攝生要義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>河濱丈人</dd></div>
<div><dt>朝代</dt><dd>南宋</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>河濱丈人曰：養生之說，其來尚矣。神農嘗草，軒皇立論，秘啟造化，德濟含靈，天人之蘊，於是昭布矣。迨及後世，論述漸廣，高者蕩入仙筌，卑者專守方餌，不知調息攝性，緩形節欲，乃人理之隱訣，性命之樞機焉。余自壯年以來，頗講此術。緣動達形，緣虛達氣，下不著伎，上不泥仙，似於攝生之秘，超然有得。乃會綜群文，詮取要旨，以著論十篇，用發蒙學。嗟乎！修身體，道弘濟，蒸人治世之事業也。養氣完形，欲寡嗇精，保生之大節也。是故生之道有餘，而後治之道斯立。尼父慎疾，禮貴養生，求諸會通，豈復異旨？要在知音察之爾。</p>

<h1>存想篇</h1>
<p>夫心宰性真，百體攸宗，用以遣意，意往氣從，至微而神，至幽而通。古昔先達，默會神解，假託名義，接引後人，此存想之術所由始也。按《大洞經》有九宮之論，乃斯術之濫觴。其曰：兩眉間直上卻入三分，為守寸雙田。（謂對鼻直上下按眉際方一寸處，卻向後入骨際約三分以前為守寸之城。右有紫戶，左有青房，後二神居之，故曰守寸雙田）。卻入一寸為明堂宮。（左有明童真君，右有明女真君，中有明鏡神君，凡三神君居之）。卻入二寸為洞房宮。（頭中雖通名為洞房，此則洞房之正位也。左有元英君，右有元白君，中有黃老君，凡有三神居之。自此以後，凡云卻入一寸、二寸、三寸者，皆以兩眉直上處為本。卻入三分，便是雙田。卻入一寸，便是明堂。卻入二寸，便是洞房。非雙田後再卻一寸為明堂，明堂後再卻二寸為洞房也）。卻入三寸為丹田宮。（亦曰泥丸宮。左有上元赤子帝君，右有帝鄉，凡三神居之）。卻入四寸為流珠宮。（有流珠真君居之）。卻入五寸為玉帝宮。（有玉清神母居之）。明堂上一寸為天庭宮。（此又在明堂上一層言之。謂明堂之上約一寸處，為天庭宮也。有上清真女居之）。洞房上一寸為極真宮。（太極帝妃居之）。流珠上一寸為太皇宮。（有太上君後居之）。丹田上一寸為玄丹宮。（有中黃太乙真君居之）。凡一首之中，有此九宮。《黃庭經》所謂，明堂、金匱、玉房間，洞房、紫極、靈門戶是也。宮雖有九，惟守寸，左面有絳臺，右面有黃闕，九宮真人出入皆以此為路。其餘諸宮，皆有前戶、後戶以相通。惟泥丸一宮有下門，以通喉中，此為大關鍵也。修養之士，不論四時晝夜方向，欲修此者，先平坐閉氣，瞑目握固兩膝上，乃先存想守寸，見青房、紫戶二大神，並形如嬰兒初生之狀，衣如房戶之色，手執流金鈴，（搖動聞其聲）。身發赤光如雲霞之氣，流於守寸宮外。（自此以後，存想其神皆如此狀。凡宮中有二神居者，先左次右。有三神居者，先中次左次右）。守寸畢，次明堂，次洞房，次泥丸，次流珠，次玉帝，次上及天庭。四宮皆如之，九宮既畢，復想泥丸之神，並口吐赤氣灌入己口，吸咽燕之。以上灌丹田，行吐行灌，以熱為度，如此則九宮之事畢矣。其曰宮、曰神、曰衣、曰鈴之類，皆假設之義。蓋人之腦，乃精髓之海。丹田，乃氣之海。若血氣滯塞不通，必不能和合而生精氣，日惟枯竭而已。故常加存想，使氣薰蒸透徹如雲煙，在上變成雨露，即腠理通瑩化為精血，補腦益腎之功於是為大矣。若人偶感六氣，體中不快，便當就寢，偃臥閉氣，瞑目握固，存想明堂二神並亦偃臥。（若坐想三神皆向外長跪，此一節是單想明堂，或單想泥丸之想，術曷，法也）。各口吐赤氣從宮中流出，漸漸纏繞我身周匝。遂將所繞之氣吞而咽之，覺勃勃入口，下流胸腹入丹田。（此即存想下部之術）。須臾繞身，赤氣即便成火，火遂燒身，身與火共為一體，內外洞光，骨肉臟腑，如燃炭之狀。如此則身中之氣通透上下內外無餘矣。由是風寒暑濕以氣徹而散，積滯凝結以氣達而消，其疾自愈。若能晝夜常行三五過，久久自然百疾不生。凡此皆假設景象，以意引氣之術。使上通腦髓之門，下達血氣之海耳，非必真有此物也。學道者當自知之。</p>

<h1>調氣篇</h1>
<p>天地虛空中皆氣，人身虛空處皆氣。故呼出濁氣，身中之氣也。吸入清氣，天地之氣也。人在氣中，如魚游水中。魚腹中不得水出入即死，人腹中不得氣出入亦死，其理一也。善攝生者，必明於氣之故矣。欲修調氣之術者，常得密室閉戶，安床暖席，枕高二寸許，正身偃臥，瞑目握固，兩足間相去五寸，兩臂與體相去亦各五寸。先習閉氣，以鼻吸入，漸漸腹滿，乃閉之，久不可忍，乃從口細細吐出，不可一呼即盡。氣定復如前閉之始，而十息或二十息不可忍，漸熟漸多。但能閉至七八十息以上，則臟腑胸膈之間皆清氣之布濩矣。至於純熟，當其氣閉之時，鼻中惟有短息一寸余。所閉之氣，在中如火蒸潤肺宮，一縱則身如委蛻，神在身外，其快其美，有不可言之狀。蓋一氣流通，表裡上下，徹澤故也。其所閉之氣漸消，則恍然復舊。此道以多為賢，以久為功，但能於日夜間得此一兩度，久久耳目聰明，精神完固，體健身輕，百疾消滅矣。凡調氣之初，務要體安氣和，無與意爭。若不安和，且止俟和，乃為之久而弗倦，則善矣。閉氣如降龍伏虎，要須達其神。理胸膈，常宜虛空，不可飽滿。若氣有結滯，不得宣流，覺之便當用吐法以除之，如吹、噓、呵、嘻、呬、噫、呼之類是也。不然，泉源壅遏，必至逆流，瘡瘍中滿之患作矣。又蘇氏養生訣云：每夜自三更至五更以來，床上擁被盤足，面東或南，叩齒三十六通，握固瞑目，以兩手拄腰腹間，閉息，想心為炎火，光明洞徹，下入丹田，待腹滿氣極，即徐出氣，（不得令耳聞）。復以舌抵齒，取華池水滿口，低頭嚥下送入丹田，用意精猛，令津與氣谷谷然有聲，徑至丹田，畢。再依前為之，凡九閉息，三咽津而止。然後以兩手摩熱，摩兩腳心（即湧泉穴），及腰脊兩旁（即腎堂），皆冷熱徹，次以兩手摩熨眼面耳項，皆令極熱，仍按提鼻梁左右七下，梳頭百餘梳而臥，熟睡至明。（蘇氏一段兼按摩法。）</p>

<h1>按摩篇</h1>
<p>夫存想者，以意御氣之道，自內而達外者也。按摩者，開關利氣之道，自外而達內者也。故醫家行之以佐宣通而攝生者，貴之以泄壅滯。凡有行者，當在子後午前之時，平坐東向，以兩手大指按拭兩目過耳門，使兩掌交會於項後，如此三九遍次，存想目中各有紫青絳三色氣，如雲霞鬱郁浮出面前。再依前按拭三九遍，復存想面前雲氣，暉暉霍霍灌入瞳子，因咽華池之液二十口，乃開目以為常，坐起。皆可行之，不必拘時，一年許，耳目便聰明，久為之徹視數里，聽於絕響也。面上常欲得兩手摩拭之，使熱則氣常流行。作時先將兩掌摩熱，然後以掌摩拭面目，高下隨形，皆使極匝，如此三五過，卻度手於項後及兩鬢，更互摩發如櫛頭之狀，亦數十過。令人面有光澤，皺斑不生，發不白，脈不浮外，久行五年不輟，色如少女。所謂山川行氣，常盈不涸，而木石榮潤是也。耳欲得數按仰其左右，令人聰徹。鼻亦欲按其左右無數，令人氣平。又常以兩手按鼻及兩目之眥上下，按之無數，閉氣，為之氣通即止，吐而復始，亦三九遍。能恆為之，鼻聞百步，眼乃洞觀。《黃庭經》曰：天中之岳精謹修，靈宅既清玉帝遊，通利道路無終休。此之謂也。凡人小有不快，即須按摩按捺，令百節通利，泄其邪氣。凡人無問有事無事，須日要一度，令人自首至足，但系關節處，用手按捺各數十次，謂之大度關。先百會穴，次頭四周，次兩眉外，次目眥，次鼻準，次兩耳孔及耳後皆按之，次風池，次項左右皆揉之，次兩肩胛，次臂骨縫，次肘骨縫，次腕，次手，十指皆捻之，次脊背，或按之，或捶震之，次腰及腎堂皆搓之，次胸乳，次腹皆揉之無數，次髀骨捶之，次兩膝，次小腿，次足踝，次十趾，次足心皆兩手捻之。若常能行此，則風氣時去，不住腠理，是謂泄氣。又常向腎堂及兩足心，臨臥時令童子用手搓摩，各以熱透表裡為度。摩腎堂熱則腎氣透而易於生精，摩足心熱則湧泉穴透而血不下滯。</p>

<h1>導引篇</h1>
<p>莊子曰：吹呴呼吸，吐故納新，熊經鳥伸為壽而已矣。此導引之士，養形之人，彭祖壽考者之所好也。由是論之，導引之術，傳自上世，其來久矣。故曰：彭祖之所好，其法自修，養家、醫家所談，無慮數百首，今取其要約切當者十六條，參之諸論，大概備矣。凡行導引法，常以夜半及平旦將起之時為之。此時氣清腹虛，行之益人。先閉目握固，冥心端坐，叩齒三十六通，即以兩手抱項，左右宛轉二十四，（此可以去兩脅積聚風邪）。復以兩手相叉虛空托天，仰手按頂二十四，（此可以除胸膈間邪氣）。復以兩手心掩兩耳，卻以第二指壓第三指彈擊腦後二十四，（此可除風池邪氣）。復以兩手相捉按左膝左捩身，按右膝右捩身二十四，（此可以去肝家風邪）。復以兩手一向前，一向後，如挽五石弓狀二十四，（此可以去臂腋積邪）。復大坐展兩手，紐項左右反顧，肩膊隨轉二十四，（此可以去脾家積邪）。復兩手握固，並拄兩肋，擺撼兩肩二十四，（此可以去腰肋間風邪）。復以兩手交捶臂及膊，反捶背上連腰股各二十四，（此可以去四肢胸臆之邪）。復大坐斜身偏倚，兩手齊向上如排天狀二十四，（此可以去肺間積聚之邪）。復大坐伸腳，以兩手向前，低頭攀腳十二次，卻鉤所伸腳屈在膝上按摩之二十四，（此可以去心胞絡邪氣）。復以兩手據地，縮身曲脊，向上十三舉，（此可以去心肝中積邪）。復起立徐行，兩手握固，左足前踏，左手擺向前，右手擺向後；右足前踏，右手擺向前，左手擺向後二十四，（此可以去兩肩俞之邪）。復以手向背上相捉，低身徐徐宛轉二十四，（此可以去兩脅之邪）。復以足相紐而行，前進十數步，復高坐伸腿，將兩足紐向內，復紐向外各二十四，（以上二條可以去兩膝及兩足間風邪）。行此十六節訖，復端坐閉目，握固冥心，以舌柱上顎，攪取津液滿口，漱三十六次作谷谷聲咽之。復閉氣，想丹田火自下而上遍燒身體，內外蒸熱乃止。按老子導引四十二勢，婆羅門導引十二勢，赤松子導引法十八勢，鍾離導引法八勢，胡見素五臟導引法十二勢，在諸法中頗為妙解，然撮其切要，不過於此。學者能日行一二過，久久體健身輕，百邪皆除，走及奔馬不復疲乏矣。</p>

<h1>形景篇</h1>
<p>腑臟內景，各有區別，達以行術，養生之要，參稽古論，述此明徵。凡人咽喉，二竅同出一脘，異塗施化。喉在前主出納，咽在後主吞嚥。喉系堅空，連接肺本，為氣息之路，呼吸出入，下通心肝之竅，以激諸脈之行氣之巨海也。咽系柔空，下接胃本，為飲食之路，水食同下並歸胃中，乃水穀之海也。二道並行，各不相犯。蓋飲食必歷氣口而下，氣口有形謂之會厭。當飲食方咽，會厭即垂，厥口乃閉，故水穀下咽了不犯喉。言語呼吸則會厭開張，當食言語，則水穀乘氣送入喉脘，遂戕刺而咳矣。喉之下為肺，兩葉白瑩，謂為華蓋，以覆諸臟，虛如蜂窠，下無透竅，故吸之則滿，呼之則虛，一呼一吸，消息自然，無有窮已。乃清濁之交運，人身之橐籥也。肺之下為心，心有系絡上屬於肺，肺受清氣下乃灌注，外有胞絡，裹赤黃脂。其象尖長圓扁，其色黑青赤黃，其中竅數多寡各異，迥不相同。上通於舌，下無透竅，惟旁有系一脈下連於腎而注氣焉。心之下有膈膜，與脊脅周迴相著，遮蔽濁氣，使不得上薰心肺，所謂膻中也。膈膜之下有肝，肝有獨葉者，有二三葉者，其系亦上絡心肺，為血之海，上通於目，下亦無竅。肝短葉下有膽，膽有汁，藏而不瀉。此喉之一竅，施氣運化，薰蒸流行，以成脈絡者如此。咽至胃長一尺六寸，通謂之咽門。嚥下有膈膜，膈膜之下有胃，盛受飲食而腐熟之。其左有脾，與胃同膜而附其上，其色如馬肝赤紫，其形如刀鐮，聞聲則動，動則磨胃，食乃消化。胃之下，左有小腸，後肘脊膂，左環回周疊積。其注於迴腸者，外附臍上，共盤十六曲。右有大腸，即迴腸當臍左環回周疊積而下，亦盤十六曲。廣腸附脊以受迴腸，左環疊積下闢乃出滓穢之路。廣腸左側為膀胱，乃津液之府。五味入胃，其精液上升，化為血脈，以成骨髓。津液之餘，留入下部，得氣海之氣施化，小腸滲出，膀胱滲入而溲便注泄矣。凡胃中腐熟水穀，其精氣自胃之上口曰賁門，傳於肺，肺播於諸脈。其滓穢，自胃之下口曰幽門，傳於小腸，至小腸下口曰闌門，泌別其汁，清者滲出小腸而滲入膀胱，滓穢之濁則轉入大腸。膀胱赤白瑩淨，外無所入之竅，全假氣化施行，氣不能化則閟隔不通而為病矣。三焦有名無形，主持諸氣以象三才。故呼吸升降，水穀往來，皆待此通達。上焦出於胃上口，並咽，以上貫膈而布胸中，走腋循太陰之分而行，傳胃中谷味之精氣於肺，肺播於諸脈。中焦在胃中脘，不上不下，主腐熟水穀，泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此。故獨得行於經，遂命曰營氣。下焦如瀆，其氣起於胃下脘，別迴腸注於膀胱，主出而不納。此脾、胃、大、小腸、三焦，乃咽之一竅資生血氣，轉化糟粕而入出如此。腎有二精所舍也，生於脊膂十四椎下，兩旁各一寸五分，形似豇豆，相併而曲附於脊外，有黃脂包裹，里白外黑，各有帶二條，上條繫於心，下條過屏翳穴，後趨脊骨，下有大骨在脊骨之端，如半手許，中有兩穴，是腎帶經過處，上行夾脊至胸中，是為髓海。五臟之真，惟腎為根，上下有竅，穀味之液化而為精，人乃久生。腎虛精絕，其生乃滅。凡人腎虛，水不足也。補以燥藥，以火煉水，其精乃爍。攝生者，觀於腎之神理，則夭壽之消息亦思過半矣。</p>

<h1>飲食篇</h1>
<p>人知飲食所以養生，不知飲食失調亦所以害生。故能消息使適其宜，是謂賢喆悟於未病。凡人飲食，無論四時，常欲溫暖。夏月伏陰在內，暖食尤宜。不欲苦飽，飽則筋脈橫解，腸澼為痔。因而大飲則氣乃暴逆。養性之道，不欲食後便臥及終日穩坐，皆能凝結氣血，久即損壽。食後常以手摩腹數百遍，仰面呵氣數百口，趂趄緩行數百步，謂之消食。食後便臥，令人患肺氣、頭風、中痞之疾。蓋榮衛不通，氣血凝滯故爾。故食訖當行步躊躇，有所修，為乃佳。語曰：流水不腐，戶樞不蠹。以其動然也。食飽不得速步、走馬、登高、涉嶮，恐氣滿而激，致傷臟腑。不欲夜食，脾好音聲，聞聲即動而磨食，日入之後，萬響都絕，脾乃不磨，食之即不易消，不消即損胃，損胃則翻，翻即不受穀氣，不受即多吐，多吐則轉為翻胃之疾矣。食欲少而數，不欲頓而多，常欲令飽中飢，飢中飽為善爾。食熱物後不宜再食冷物，食冷物後不宜再食熱物，冷熱相激必患牙齒。瓜果不時，禽獸自死及生鮓，煎火之肉，與夫多膩難消，粉粥冷淘之物，皆能生痰、生瘡瘍、生癥癖，並不宜食。五味入口，不欲偏多，多則隨其臟腑各有所損。故咸多傷心，甘多傷腎，辛多傷肝，苦多傷肺，酸多傷脾。《內經》曰：多食鹹則脈凝澀而變色，多食苦則皮槁毛拔，多食辛則筋急而爪枯，多食酸則肉胝皺而唇揭，多食甘則骨肉痛而發落。偏之為害如此，故上者澹泊，其次中和，飲食之大節也。酒飲少則益人，過多即損人，氣暢而止可也。飲少則能引滯氣，導藥力，潤肌膚，益顏色，通榮衛，闢穢惡。過多而醉，則肝浮膽橫，諸脈衝激，由之敗腎毀筋，腐骨消胃，久之神散魄冥，不能飲食。獨與酒宜，去死無日矣。飽食之後，尤宜忌之，飲覺過多，吐之為妙。飲酒後不可飲冷水、冷茶，被酒引入腎中，停為冷毒，多時必腰膝沉重，膀胱冷痛，水腫消渴，攣臂之疾作矣。酒後不得風中坐臥，袒肉操扇，此時毛孔盡開，風邪易入，感之令人四肢不遂。不欲極飢而食，食不可過飽；不欲極渴而飲，飲不可過多。食過多則結積，飲過多則成痰癖。故曰：大渴不大飲，大飢不大食，恐血氣失常，卒然不救也。荒年餓莩飽食即死，是驗也。嗟乎！善養生者養內，不善養生者養外。養內者，安恬臟腑，調順血脈，使一身之氣流行沖和，百疴不作。養外者，恣口腹之慾，極滋味之美，窮飲食之樂，雖肌體充腴，容色悅澤，而酷烈之氣內蝕臟腑，形神虛矣。安能保合太和，以臻遐齡？莊子曰：人之可畏者，衽席飲食之間而不知為之戒，過也，其此之謂乎！</p>

<h1>居處篇</h1>
<p>《左傳》曰：土厚水深，居之不疾。《淮南子》曰：堅土人剛，弱土人肥，壚土人大，沙土人細，息土人美，耗土人醜。山氣多男，澤氣多女，水氣多喑，風氣多聾，林氣多癃，木氣多傴，濕氣多腫，石氣多力，陰氣多癭，暑氣多夭，寒氣多壽，穀氣多痹，立氣多狂，野氣多仁，陵氣多貪。輕土人利，重土人遲。清水音小，濁水音大，湍水人輕，遲水人重，中土多聖。黃帝問曰：天不足西北，左寒而右涼，地不滿東南，右熱而左溫，其故何也？岐伯曰：東南陽也，其精降於下。西北陰也，其精奉於上。是以地有高下，氣有溫涼，高者氣寒，下者氣熱。帝曰：其於壽夭何如？岐伯曰：陰精所奉，其人壽，陽精所降，其人夭。帝曰：一州之氣，生化壽夭不同，其故何也？岐伯曰：高下之理，地勢使然也。崇高則陰氣治之，汙下則陽氣治之，高者其氣壽，下者其氣夭。由是觀之，人之壽夭美惡，由於水土之氣。如此善養生者，擇地而居，此為至要。或曰：古者，巢居穴處而人多壽，何也？曰：古人淳樸，寡於嗜欲，此實壽本，況巢居則高迥而多寒，穴處則固密而無風濕之患，豈不得壽？今之居處當何如？曰：由水深土厚，陰精所奉之說觀之，居處高聳於生乃宜。曰生之所寓，人有定區，高山峻土，惡乎能齊？曰：有山阜則就山阜，臨平漫則起樓臺，庶乎日襲陰氣而不為陽泄矣。古謂仙人好樓居，得非以是乎哉？雖然坐臥之處，必須固密，若值細隙之風，其毒中人尤甚，久之或半身不遂，或角弓反張，或言語謇澀。蓋身既中風，鬼邪易入，眾病總集，遂致夭其天年爾。是故窪下之地不可處，慎其濕也。疏漏之地不可處，慎其風也。久閉之室不可處，慎其土氣之惡也。幽冥之壑不可處，慎其陰鬱之毒也。四者皆能病人，養生之士尤宜避之也。</p>

<h1>房中篇</h1>
<p>天地氤氳，萬物化醇，男女媾精，萬物化生，此造化之源，性命之根本也。故人之大欲，亦莫切於此。嗜而不知禁，則侵克年齡，蠶食精魄，闇然弗覺，而元神真氣去矣。豈不可哀？惟知道之士，禁其太甚，不至杜絕，雖美色在前，不過悅目、暢志而已。決不肯恣其情欲以伐性命。或問抱朴子曰：傷生者，豈非色欲之間乎？抱朴子曰：然長生之要，其在房中。上士知之，可以延年祛病。其次不以自伐，下愚縱欲損壽而已。是以古人於此，恆有節度。二十以前二日復，二十以後三日復，三十以後十日復，四十以後月復，五十以後三月復，六十以後七月復。又曰：六十閉戶，蓋時加撙節，保惜真元，以為一身之主命。不然，雖勤於吐納、導引、服餌之術，而根本不固，亦終無益。《內經》曰：能知七損八益，（七者女子之血，八者男子之精），則血氣、精氣二者可調，不知用此，則早衰之節也。故年四十而陰氣自半也，起居衰矣。年五十，體重，耳目不聰明矣。年六十，陰痿，氣大衰，九竅不利，下虛上實，涕泣俱出矣。故曰：知之則強，不知則老，智者有餘，（自性而先行故有餘），愚者不足，（察行而後學故不足）。有餘則耳目聰明，身體輕強，老者益壯，壯者益治。蓋謂男精女血，若能使之有餘，則形氣不衰而壽命可保矣。不然，竅漏無度，中干以死，非精離人，人自離精也，可不戒哉！養生之士，忌其人者有九：或年高大，或唇薄鼻大，或齒疏發黃，或痼疾，或情性不和，或莎苗強硬，或聲雄，或肉澀肢體不膏，或性悍妒忌，皆能損人。並不宜犯之忌，其時者十有一：醉酒，飽食，遠行疲乏，喜怒未定，女人月潮，沖冒寒暑，疾患未平，大小便訖，新沐浴後，犯畢出行，無情強為，皆能使人神氣昏潰，心力不足，四體虛羸，腎臟怯弱，六情不均，萬病乃作，特宜慎之。至於天地晦冥，日月薄食，疾風甚雨，雷電震怒，此陰陽大變，六氣失常之時犯之，不惟致疾，且褻汗神明。倘成子女，形必不周，雖生而不育矣。嗟乎！幃箔之情易綰而難斷，不可不以智慧決也。佛書曰：諸苦所因，貪欲為本，貪欲不滅，苦亦不滅，苦不滅則生滅矣。養生者，惡可不以智慧決哉！</p>

<h1>四時篇</h1>
<p>凡人呼吸出入，皆天地之氣。故風寒暑濕之暴，偶一中人，人不勝天，則留而為病。故隨時加攝，使陰陽中度，是謂先幾，防於未病。春月，陽氣閉藏於冬者，漸發於外，故宜發散，以暢陽氣。《內經》云：春三月，此謂發陳，天地俱生，萬物以榮，夜臥早起，廣步於庭，被髮緩形，以使志生，生而勿殺，予而勿奪，賞而勿罰，此春氣之應，養生之道也。逆之則傷肝，夏為寒變。故人當二月以來，摘取東引桃枝並葉各一握，水三升煎取二升，以來早朝空心服之，即吐卻心膈痰飲，宿熱即除不為害。春深稍宜和平將息，綿衣晚脫，不可令背寒，寒即傷肺，鼻塞咳嗽。但覺熱即去之，覺冷即加之，加減俱要早起之時，若於食後、日中，恐致感冒風寒。春不可衣薄，令人傷寒、霍亂、消渴、頭痛。春凍未泮，衣欲下厚而上薄。夏月，人身陽氣發外，伏陰在內，是人脫精神之時，特忌下利以泄陰氣。《內經》云：夏三月，此謂蕃秀，天地氣交，萬物華實，夜臥早起，無厭於日，使志無怒，使英華成秀，使氣得泄。若所愛在外，此夏氣之應，養長之道也。逆之則傷心。秋為痎瘧。故人常宜宴居靜坐，節減嗜欲，調和心志。此時，心主腎衰，精化為水，至秋乃凝，尤須保嗇，以固陰氣。常食熟物，使腹中溫暖，生瓜果茄，冰水冷淘，粉粥蜂蜜，尤不可食，食多秋時必患痢瘧。勿以冷水沐浴、洗手面、淋背，使人得虛熱眼暗，筋脈厥逆，霍亂轉筋，陰黃之疾。勿當風臥，勿眠中使人揮扇，汗體毛孔開展，風邪易入，犯之使人患風痹不仁，手足不遂，言語謇澀之疾。年壯雖不即為害，亦種病根。氣衰之人，如桴鼓應響矣。醉中尤宜忌之。秋月當使陽氣收斂，不宜吐及發汗，犯之令人臟腑消鑠。《內經》云：秋三月，此謂容平，天氣以急，地氣以明，早臥早起，與雞俱興，使志安寧，以緩秋形，收斂神氣，使秋氣平，無外其志，使肺氣清，此秋氣之應，養收之道也。逆之則傷肺，冬為饗泄。若知夏時多食冷物及生瓜果稍多，即宜以童子小便二升，並大腹檳榔五顆，細切煎取八合，下生薑汁一合，和臘雪三分，早為空心分為兩服，瀉三兩行。夏月所食冷物及膀胱宿水，悉為驅逐而出，即不為患。此藥是乘氣湯。雖老年之人，亦宜服之。瀉後兩三日，以薤白粥加羊腎，空心補之，勝服補藥。冬月天地閉，血氣藏，伏陽在內，心膈多熱，切忌發汗，以泄陽氣。《內經》云：冬三月，謂之閉藏，水冰地坼，無擾乎陽。早臥晚起，必待日光，使志若伏若匿，若有私意，若已有得，去寒就溫，無泄皮膚，使氣亟奪，此冬氣之應，養藏之道也。逆之則傷腎，春為痿厥。故人當時服浸酒之藥，以迎陽氣。雖然亦不可過暖，綿衣當晚著，使漸漸加厚，雖大寒，不得向火烘炙，甚損人目睛，且手足能引火氣入心，使人心臟燥熱，衣服亦不宜大炙極暖。冬月天寒，陽氣在內，已自鬱熱，若更加之炙衣重裘，近火醉酒，則陽氣太甚。若遇春寒，閉塞之久不即發散。至春夏之交，陰氣既入，不能攝運陽氣，必致有時行熱疾，甚者狂走妄語，切宜忌之。故寒熱適中，此為至要。凡冬不欲極溫，夏不欲極涼，不欲露臥星下，不欲眠中操扇。大寒、大熱、大風、大雨皆不欲冒之。秋冬溫足凍腦，其春夏腦足具凍。故曰：天有四時五行，以生寒暑燥濕風。人有五臟五氣，以生喜怒悲憂恐。故喜怒傷氣，寒暑傷形，暴怒傷陰，暴喜傷陽，喜怒不節，寒暑過度，生乃不固。此之謂也。</p>

<h1>雜忌篇</h1>
<p>夫養生者，臥起有四時之早晚，飲食有至和之常制，調利關節有導引之方，流行榮衛有吐納之術。忍喜怒以養陰陽之氣，節嗜欲以固真元之精，保形延壽可謂備矣。使禁忌之理，知有未周，雖云小節之常，亦為大道之累，故事有侵性，不可不慎者。古語云：一日之忌，暮無飽食。一月之忌，暮無大醉。一歲之忌，暮無遠行。終身之忌，暮常護氣。蓋謂暮，乃偃息之時。人若飽食，則腹中空虛之地少，而氣之居內以養形者寡，癖瘕壅滯之患作矣。故暮當忌飽食，謂之一日，蓋日日慎之也。酒毒酷悍，飲至大醉，則毒氣必壞真氣，況暮醉而臥，氣溢形止，腸胃由之腐爛，經絡以之橫解，一時不覺，久乃成疾。雖少壯之人，不可使一月之內有此一醉也，況中年以往之人乎！暮而遠行，不惟有外觸之虞，山川嵐霧，夜陰鬱發冒之，亦能損人真氣，故皆宜忌之。以上三者，不行則真氣常保無失，是終身能護其氣矣。又久視傷血，久臥傷氣，久立傷骨，久行傷筋，久坐傷肉，大抵人之形氣，時動時靜，其機運而不滯，久於動靜，未免有傷也。睡不厭踧，覺不厭舒，踧者，曲膝卷股，以左右肋側臥，修養家所謂獅子眠是也。如此則氣海深滿，丹田常暖，腎水易生，益人弘多。舒體而臥則氣直而寡畜，神散而不潛，故臥惟覺時可舒體耳。凡人覺大小便即行，勿忍之，忍小便則膝冷成痹，忍大便則成氣痔。小便勿努，努久令人兩膝冷痛。大便勿努，努久令人腰痛、目昏、氣逆急故也。並宜任其自然。凡人大勞則力乏絕，大飢則臟腑脈絡有竭，大飽則腠理氣溢，大渴則經脈蹶亂，大醉則精神散越，大熱則陰氣解脫，大寒則血脈凝結並能致疾。凡心有愛，不用深愛。凡心有憎，不用深憎。凡喜至而心不蕩，凡怒過而情不留，並能養神。益壽學道之功至此，乃至人對景忌情之妙，聖人養心定性之學，修養之術不足以盡之也。凡夜非調氣之時，常習閉口而睡為佳，口開即失真氣，且邪從口入，更牙齒為出入之氣所觸，後必病齒。凡睡而張口者，牙齒無不早落，可以驗之。濕衣及汗衣切不可久著，能傷人心肺之系及發瘡瘍。十步直牆下，勿得順臥，風峻利能令人發癲及體重。凡大汗及新浴出，勿赤體，勿即脫衣當風，風入腠理則成半身不遂。夜臥當耳處，勿令有孔隙，令人風吹耳聾，頭項亦如之。夜臥勿覆其頭得長壽，以常有天地之清氣入腹中也。古之善攝生者，居常少思慮，忍嗜欲，平喜怒，寡憂樂，澹好惡，世之美麗貴重物事舉，不足以入其心，由是志意舒暢，形體安和，血氣順利，度百歲而後去矣。寇氏曰：人之未聞道者，放逸其心，迷於生樂，以精神徇智巧，以憂畏徇得失，以勞苦徇禮節，以身世徇財利，四徇不置，心為之疾矣。極力勞形，燥暴氣逆，當風縱酒，食嗜辛鹹，肝為之病矣。飲食生冷，溫涼失度，久坐久臥，太飽大飢，脾為之病矣。呼叫過常，辯爭陪答，冒犯寒暄，恣食鹹苦，肺為之病矣。久坐濕地，強力入水，縱欲勞形，三田漏溢，腎為之病矣。五病既作，故未老而羸，未羸而病，病至則重，重則必死。嗚呼！是皆弗思妄行而自取之也。衛生之士，能慎此五者，可以終身無苦矣。經曰：不治已病治未病，其此之謂與。</p>

<h1>後序</h1>
<p>敘曰：世言方技略者，類以非經闢之固也。然經以止道，道以息邪，故有殊途同歸而大義不詭，於聖人則固弗可詘也已。今觀河濱丈人所纂《攝生要義》，其存想篇則務專精氣，洞與神參，要不可以邪汨之一耳。至云守寸及諸景象所見，皆假設之義，則與所謂蕩入仙筌者，又大不侔。其諸篇亦皆制外、養中、順生、節適之道，何償喪肝膽，遺耳目嗒？然忘其形而與世為罔，兩者倫也。噫！達生者，類出於是，其去夭昏札瘥而極蕃祉耆耋者，固其所已，又安知不為經之佐使也哉！河濱丈人為誰？大司馬浚川公也。公固志存天下，而思躋之仁壽之域以廣熙和之化者，則於是乎！端有賴也。敬序。上蔡，後學張惟恕書。</p>
