<header data-type="book">
<h1>繆松心醫案</h1>
</header>

<h1>喘</h1>
<p>潘　精氣不藏，喘息不寧，上下本自相關，勿睚而視之，更變生不測，慎之。</p>
<p>熟地　淡菜　巴杏　坎炁　麥冬　川貝</p>
<p>湯　因痰而喘，其病在肺。宜以利痰為主。</p>
<p>淡菜　蘇子　川貝　茯苓　蛤殼　杏仁　橘紅　瓦楞子　貓兒眼葉　大棗丸</p>
<p>曹　咳嗽氣喘，胸滿不得臥。（門人楊立方診）</p>
<p>枇杷葉　蘇梗汁　旋覆花　鯽魚膽　蟬衣　浮石　蛤殼　加紋銀一塊</p>
<p>松另給方：水邪未行，姑進豬苓湯。</p>
<p>黨參　豬苓　蛤殼　滑石　麥冬　茯苓　澤瀉　浮石</p>
<p>顏（63歲）　氣急咳嗆。</p>
<p>淡菜　巴杏　橘紅　麥冬　燕窩屑</p>
<p>轉方：原方加天花粉、燈心末。</p>
<p>孫（44歲）　氣易上逆，姑進白沙方。</p>
<p>生蛤殼　白浮石　蟬蛻　鯽魚膽　銀</p>
<p>蔣（58歲）　咳其則嘔，姑服白沙必效方。</p>
<p>生蛤殼（一兩）　白浮石（一錢）　鯽魚膽（一小匙）　蟬蛻（四分）　枇杷葉</p>
<p>轉方：嗆在藥上之毛，與藥無涉。</p>
<p>淡菜　川貝　巴杏　三味為末，梨膏和入，藕粉搗丸。</p>
<p>陳（38歲）　清晨痰咯不利。</p>
<p>黨參　焦術　炙草　橘紅　半夏　杏仁　浮石</p>
<p>轉方：痰隨氣易上逆。</p>
<p>生白朮　桂木　代赭石　半夏　牡蠣　澤瀉　杏仁　淡菜　浮石　茯苓</p>
<p>又：上之吐痰滑，則下之出也艱，使其出也易，則上之所吐頗不利，二者此難則彼易，制方極費心思。</p>
<p>蛤殼　浮石　蟬衣　蜂蜜　杏仁　雄豬肚</p>
<p>黃　病之起由乎氣血相搏，非不能食也。亦非火衰不運食也。病因乎氣，則易動而氣升，以順氣為主。氣與血不相離，則益陰制火又宜，先前方服貞元飲之得效以此也。仍宜以此立法。</p>
<p>熟地　淡菜　鬱金　橘紅　茯苓　當歸　炙草　沉香汁　半夏　蛤殼　加夜合花</p>

<h1>不寐</h1>
<p>閔　脈沉靜而不宣暢，故至夜宜靜而反動，《內經》謂：陽蹻盛，不得入於陰，故不寐。當體此意以行之，或中病機。</p>
<p>龍骨　琥珀　石菖蒲　遠志炭　半夏　棗仁　茯神　辰砂一塊，絳紗包，懸胎煮秫米先用甘瀾水煎。</p>
<p>某　兩眉之間，心之部也。心火動則眉間氣結，故不得寐。心為肝子，木火相應，耳鳴隨之，道相及也。宜滋陰之方。</p>
<p>首烏　生地　石決　川斛　棗仁　茯神　黃甘菊炭　丹皮炭</p>
<p>潘（63歲）　言之發也，根乎腎；不若聲之出也，由乎肺。《內經》之論協氣，其理甚明，當於此處微參之。</p>
<p>熟地（四錢）　懷山藥（炒，二錢）　茯苓（一錢五分）　麥冬（一錢五分）　益智（炒，三分）　萸肉（炒，二錢）　丹皮（炒，一錢五分）　澤瀉（一錢五分）　五味（一分）　蚪衣（三分）　鹽水拌細辛（三分）</p>
<p>復診：夜不能寐，心神尚未交。</p>
<p>六味丸　紫菀　蟬衣　服一劑後，去萸肉加棗仁。</p>

<h1>失血</h1>
<p>陳（29歲）　痰中見紅，咽中微干。</p>
<p>細生地　杜仲　生筋　龜版　麥冬　梨肉　種石斛　續斷　鹿筋　當歸　木瓜　蛤殼　金毛狗脊　枇杷葉　石楠葉</p>
<p>轉方：右關欠圓潤，故飲食尚少，無升騰氣象。</p>
<p>黃鱔　砂仁　穀芽　冬蟲夏草　神麯　陳皮　花生　檀香泥</p>
<p>又：細生地　杜仲　當歸　木瓜　茜草　藕粉　黃鱔　牛筋　續斷　仙鶴草</p>
<p>又：血止而咳未已。</p>
<p>生地　龜版　杜仲　當歸　黃鱔　梨肉　北沙參　麥冬　續斷　地骨皮　牛筋　巴杏　鴨血炙桑枝　枇杷葉</p>
<p>蔣　失血後雖不至數，而乾咳無痰，火升不得臥，脈象虛數，皆屬氣火不下潛，真陰失守之所致。姑服大補陰丸。</p>
<p>炒熟地　龜版　黃柏　知母　北沙參　麥冬</p>
<p>王　燥火為患。</p>
<p>生地　龜版　知母　黃柏　天冬　麥冬　牛膝</p>
<p>汪　吐血頗多，卻從陽明來，今即於補中帶截法為妙。</p>
<p>黃耆　炙草　白芍　洋參　藕節　黃精　犀角　南棗　白綿紙灰</p>
<p>轉方：仍用前法，加入補陰之品。</p>
<p>生地　黃耆　藕汁　白芍　側柏葉　犀角　東洋角　麥冬　白綿紙灰</p>
<p>又：仍以前方增損。</p>
<p>犀角　東洋角　藕汁　側柏葉　茅根　生地　橘紅　麥冬　白芍</p>
<p>黃（28歲）　失血後腰痛。</p>
<p>熟地　天冬　豬膚　桑皮　地骨皮　潼沙苑　龜版　麥冬　沙參　杜仲　續斷</p>
<p>轉方：原方去桑皮、地骨皮，加蓮鬚、鰁膠、花粉，藕粉和丸。</p>
<p>葉（40歲）　咳嗽身熱。（門人楊立方診）</p>
<p>枇杷葉　桑葉　川貝　杏仁　橘紅　赤苓　青蒿　天花粉</p>
<p>松批：治肺不用重劑，最合治風溫之旨。但寒熱之轉甚，俱在下午以後，慮其陽入陰分，益留戀而不解，故改用升提以防之。方中去青蒿、花粉、橘紅，加葛根、桔梗。</p>
<p>程（29歲）　失血後咳嗆，脈象虛數，慮其火炎擾肺。</p>
<p>生地　豬膚　麥冬　沙參　桑皮　地骨皮</p>
<p>復診：證已減矣，可以進補。</p>
<p>熟地　黃柏　豬膚　沙參　龜版　知母　人中白</p>
<p>又：火猶上炎未已。</p>
<p>熟地　天冬　豬膚　生長生果　龜版　麥冬　蛤蜊</p>
<p>又：喉乾咳嗆。</p>
<p>熟地　歸身　炙草　半曲　橘紅　茯苓　豬膚　麥冬</p>
<p>趙（太倉）　飲邪常發，偶帶血出。飲症多溫藥，此以陰虛論，辛溫忌進。</p>
<p>熟地　淡菜　浮石　麥冬　川貝　蛤蜊殼</p>
<p>丁　血隨氣上湧，其勢甚猛，滋鎮大劑，姑進以卻其銳。</p>
<p>熟地　龜版　黃柏　知母　牡蠣　棋子鉛</p>
<p>轉方：原方去熟地、棋子鉛，加北沙參、女貞子。</p>
<p>趙　血症常發，宜於益陰中用堵截法。</p>
<p>熟地　龜版　麥冬　沙參　側柏葉　牡蠣　藕節炭</p>
<p>沈　瘧後咳嗆未止，並見血。</p>
<p>阿膠　料豆皮　枇杷葉　桑皮　巴杏　沙參</p>
<p>轉方：色夭不澤，精氣頗虧，宜實下焦。</p>
<p>鰻鯉丸　加熟地、側柏、人中白、龜版膠、沙參、淡菜、鰁膠、蓮鬚、貓頭鷹、湘蓮粉、豬脊髓為丸。</p>
<p>沈（26歲，嘉興）　血猶未淨，清晨仍於痰中帶血。</p>
<p>生地　麥冬　料豆皮　側柏葉　藕節炭　石斛</p>
<p>施（21歲，瀏河）　勞傷失血。</p>
<p>生地　料豆皮　黃耆　黃明膠　藕節　參三七汁</p>
<p>葉（47歲）　咳尚未止，而夢泄頗甚，四月內頻發二次，恐其下屢泄而上亦不能攝也。須固攝以斷泄為急務。</p>
<p>桑白皮　地骨皮　鰁膠　蓮鬚　豬脊髓　山藥　芡實　金櫻子　鱉甲　青蒿　白綿紙灰</p>
<p>復診：原方加龜版。</p>
<p>徐（24歲，盪口）　血之至也必胸中痛，或喉中痛，熱亦微，總為陰虛所致。</p>
<p>龜脊甲　青蒿子　蛤蜊連肉　白花百合　鱉甲　豬膚　沙參　白綿紙灰</p>
<p>丸方：氣分不足，患處在右，右主氣，氣為陽，陽微則營氣亦為之不充，當從中州調理，使穀氣充滿，元陽得以復振，真陰得以奮復。</p>
<p>黃耆　坎炁　熟地　鹿角膠　黃精　杜仲　當歸　杞子　棗仁　羊腰子　炙草　潼苑　菟餅　五味　羊尾　龜版膠　紫衣核桃</p>
<p>葉　右關脈弦搏，肝木乘旺，氣擾胃脘，痛微見紅，所由來也。心中悸動，夜間多汗，陰虛陽浮，治宜滋填固攝。</p>
<p>生地　石決明　棗仁　沙參　藕節　阿膠　淮小麥　麥冬　茯苓　白綿紙灰</p>
<p>林（56歲）　失血後咳而喘。</p>
<p>熟地　淡菜　坎炁　沙參　麥冬　牛膝　胡桃肉</p>
<p>復診：原方加棋子鉛、豬膚。</p>
<p>張（18歲，湖州）　嗆多則血見，每在清晨，病在肺也，而下根於腎。</p>
<p>熟地　淡菜　沙參　川石斛　陳皮　川貝</p>
<p>轉方：淡菜　沙參　料豆皮　川貝　側柏　豬膚　麥冬　熟地　女貞子　陳皮　藕汁　龜版　煎膏為丸。</p>
<p>李（25歲）　咳嗆不止。</p>
<p>豬膚　玉竹　杏仁　桑白　紫菀　橘紅</p>
<p>丁（21歲）　診脈短而數。經云：長則氣治，短則氣病，數則煩心。據經而論，氣不足而營分熱，虛者益之，熱者清之，兩得其平，斯可以治病。</p>
<p>玉竹　麥冬　甘蔗汁　川貝　料豆皮　十大功勞</p>
<p>馬（30歲，海寧）　胃脘痛後大失血，色紫微帶黑色，吐後痛漸減，則向之所云痛者，瘀者為患也。徒補難效，於補中寓通為妥。</p>
<p>東洋參　於術　歸身　棗仁　遠志炭　韭汁制軍　黃耆　炙草　木香　茯神　桂元肉搗丸。</p>
<p>馬（36歲，海寧）　前患血證後，右耳生一小毒，潰而不斂，此處為少陽經所行，水不足火有餘，少陽為遊部，動而不靜，故久而不愈也。治當壯陰以制虛陽，徐收其效為宜。</p>
<p>生地　黃菊　淡菜　元參　川貝　夏枯草　丹皮　料豆皮　阿膠　青蒿汁　桑葉　銀花　野菊花葉汁　牡蠣　鱉甲　黑芝麻　藕汁　阿膠烊化加白花百合搗丸。</p>
<p>高（18歲）　不華於色，營分已虛，奈何迅掃一切，以重傷津液也。我為培其陰，以乞靈於天一生氣。</p>
<p>熟地　懷山藥　茯苓　淡菜　麥冬　白芍　丹皮　澤瀉　燕窩</p>
<p>吳（28歲）　多痰善噫。</p>
<p>淡菜　蘇子　巴杏　蛤殼　川貝　枇杷葉　藕汁</p>
<p>轉方：清晨咳嗽痰多。</p>
<p>淡菜　川貝　巴杏　燕窩　青鹽半夏　橘紅　蛤殼　枇杷葉</p>
<p>又：咳從吐紅來，不可專治肺，現患脾泄。</p>
<p>穀芽　橘紅　杏仁　神麯　苡米　茯苓　木瓜</p>
<p>又：痰多氣逆不順。</p>
<p>枇杷葉　海浮石　金柑皮　川貝母　巴杏仁　藕汁</p>
<p>又：頭中微脹，多痰。</p>
<p>石決　蔞霜　浮石　蛤殼　川斛　川貝　橘紅</p>
<p>又：原方加甘菊炭、桑葉、丹皮。</p>
<p>又：胸中微痛，或因肝氣之升，血亦因之。用清潤法。</p>
<p>細生地　側柏葉　橘子筋　料豆皮　藕汁　巴杏</p>
<p>又：益氣化痰。</p>
<p>淡菜　川貝　藕汁　柿霜　北沙參　燕窩</p>
<p>又：原方加桐城秋石。</p>
<p>又：丸方。</p>
<p>石決明　蔞霜　浮石　川貝　巴杏　甘菊　丹皮　淡菜　蛤粉　橘紅　桑葉　花粉　柿霜　燕窩　煮丸。</p>
<p>周　失血之後卻不咳嗽，上傳之患，此時無庸慮及。但脈象見數而右關微搏，恐火邪侵犯中州，又不可不急為之防也。議進滋養方。</p>
<p>熟地　茅根　鱉甲　龜甲　沙參　扁豆　料豆皮　十大功勞</p>
<p>高　氣血平補。</p>
<p>人參　石決明　杜仲　蓮鬚　藕　麥冬　石斛　湘蓮　懷山藥</p>
<p>趙（32歲）　遇雨著寒，又復吐血，咳嗽，因於寒也。</p>
<p>落花生　青鹽陳皮　青鹽半夏　大茴香　洋蟲　冬蟲夏草　大麥冬</p>
<p>沈（20歲）　咳嗽痰中見紅，日晡寒熱。</p>
<p>膏方：十大功勞葉（一斤）、紅棗（半斤），加豬膚（六兩），刮淨去油，煎之再撇油，徐入十大功勞、紅棗同煎膏。</p>
<p>顏（62歲）　感燥火而失血，宜潤肺以滋化源。</p>
<p>生地　阿膠　藕節　側柏　麥冬　北沙參　如交節氣，加白綿紙灰十張。</p>
<p>蒯（33歲）　鼻血不已，甚至於吐。少陰陽明俱有責焉。用大補陰法。</p>
<p>熟地　知母　犀角　女貞子　人中白　龜版　黃柏　黑山梔　藕節　藕粉煮漿和丸，淡鹽湯送下。</p>
<p>復診：心火上乘肺，故痛。</p>
<p>阿膠　雞子黃　淡芩　白芍　淮麥　川連</p>
<p>吳　痰中仍帶血出。</p>
<p>蛤殼　浮石　蟬殼　蔞霜　藕汁　川貝　柿餅炭　白綿　紙灰</p>

<h1>咳</h1>
<p>張（51歲）　咳嗆未緩。</p>
<p>黃耆　北沙參　川貝　巴杏　麥冬　扁豆　浮石　豬膚</p>
<p>姚（21歲）　素體陰虧，更兼暑熱侵肺，咳嗆痛癢，無處不病，治法不易。</p>
<p>桑白皮　鮮地骨皮　北沙參　淮山藥　蓮心　燕窩　豬膚</p>
<p>復診：原方加制黑芝麻（三錢），北五味（一錢），益智（二錢），同黑芝麻（一兩）炒好，須揀去五味、益智。</p>
<p>周（48歲）　口中津液乾枯，當於液中求之。</p>
<p>豬膚（一兩）　柿霜（一錢）　龜版膠（一錢）　燕窩（一錢）</p>
<p>沈（17歲）　飲食如常，而脈象少生動之氣，雖咳嗽未久，亦當為未雨綢繆之計。</p>
<p>枇杷葉　淡菜　料豆皮　巴杏　川貝　桑白皮　玉竹</p>
<p>轉丸方：脈神未旺者，以精氣未充故也。</p>
<p>淡菜　川貝　鰁膠　連須　龜膠　豆皮　黃鱔　懷山藥　湘蓮　茯苓　菟餅　玉竹　麥冬　落花生　為末，龜膠烊化，和入豬脊髓（四兩），拌入和丸。</p>
<p>陳（38歲）　清晨痰咯不利。</p>
<p>六君去茯苓，加浮石、杏仁、淡菜。</p>
<p>張　脈數而寸尤甚，口乾燥，便溏泄，手、足太陰皆病。先宜調和二臟。</p>
<p>豬膚　十大功勞　蓮肉　扁豆　麥冬　天冬　北沙參　懷山藥　芡實　糯稻根鬚</p>
<p>歐陽（28歲，揚州）　痰之起伏，根乎火之升降，治法即從此推詳。</p>
<p>淡菜（四錢，漂）　生蛤殼（五錢，打小塊）　茯苓（三錢，塊）　海浮石（一錢）　橘紅（一錢）　杞子炭（二錢）　韭根（三錢）　紫石英（五錢）　沉香汁（三分，磨汁）　元武頭（三錢，炙）</p>
<p>又：加豬尾骨（一兩）　秋石、青蒿根（三錢），煎湯去油淨。</p>

<h1>咽乾</h1>
<p>羊　咽中干痛，以意治之。</p>
<p>蛤殼（一兩）　花粉（一錢五分）　竹捲心（七葉）　三味煎湯去渣，取湯泡旗槍茶葉一撮，橄欖（三個）搗爛，蓮心（七個），如茶飲。</p>
<p>朱（17歲）　咽痛腹痛，是上下交徵，治法因不易。</p>
<p>川貝　人中白　煨栗子　生蘄艾　水飛青黛　柿霜　楂炭　茯苓</p>
<p>復診丸方：豬臍肉（四兩，洗）　蘄艾（三錢）　臍帶（一條，漂）　煨栗子（三兩）　小茴香（三錢，炒）　均煮爛，焙乾磨末，炒楂炭（二兩）　炒菟餅（一兩）　炒黑防風（二錢）　真藕粉和丸。</p>
<p>又丸方：天花粉（一兩）　柿餅炭（二兩）　蛤粉（五錢）　濂珠（三錢，研）　青黛（五錢，研）　人中白（七錢，漂淡）　仍用藕粉漿泛丸。</p>
<p>廉（37歲）　咳由陰傷，且吐涎沫頗多，咽中乾燥，勢所必然耳。</p>
<p>豬膚一兩，刮淨去油，入山藥一兩，煎湯聽用。燕窩一錢五分煎爛收膏，後入豬膚汁再收。人中白七錢，秋石三錢，用少許和入豬膚燕窩膏內，代鹽服。</p>

<h1>陰虧</h1>
<p>汪　證入三陰，有寒無熱，肌肉瞤動，仿救逆法。</p>
<p>桂枝　石決　茯神　南棗　炙草　小麥　姜</p>
<p>盛　真陰素虧，故所見之證，多在三陰。</p>
<p>熟地　淡菜　棗仁　辰砂拌麥冬　石決　川斛　茯神　北小麥</p>
<p>又丸方：料豆皮　淡菜　茯神　石決明　熟地　天冬　棗仁　龜版　阿膠烊化和丸，外用人中白、濂珠、青黛、燈心辰砂，加嘉定花粉，和蜜水泛為丸。</p>
<p>韓　下易矢氣，不納也。宜益腎而歸於肺。</p>
<p>丸方：熟地　菟餅　鹿角膠　杞炭　遠志　懷山藥　補骨脂　萸肉　杜仲　五味　棗仁　紫衣胡桃　麥粉漿丸。</p>
<p>顧　先天不足，恐成虛損。</p>
<p>丸方：熟地　鹿腦　虎脛骨　菟餅　萸肉　河車　鹿茸　杞子炭　杜仲　懷山藥　牛骨髓　羊骨髓　豬脊髓</p>
<p>張　肝腎之陰不足，滋填固攝是議。</p>
<p>熟地　杞子　牡蠣　棗仁　五味　菟絲　天冬　柏仁</p>
<p>又丸方：從煎方中加入霞天膠、麥冬、阿膠、山藥漿丸。</p>
<p>某　大小便不禁，主腎氣不攝納，填補下焦為急務。</p>
<p>熟地　鹿角霜　補骨脂　北五味　益智仁　坎炁　菟絲　杜仲　桑螵蛸</p>
<p>徐　攝腎氣入下焦。</p>
<p>坎炁　浮石　桑螵蛸　荷葉蒂　黃繭子　益智　蛤殼</p>
<p>復診：從中下同治。</p>
<p>熟地　海浮石　桑螵蛸　荷葉蒂　蠶蛾　坎炁　生蛤殼　霞天膠</p>
<p>範　元陽元陰久已弗充，滋補使之漸長。</p>
<p>炒熟地　杞子炭　羊脊髓　當歸　青鹽陳皮　麥冬　杜仲　蓯蓉　巴戟　鹿角霜</p>
<p>沈（太倉）　腰痛在夜子後，是由督陽不升，其治在腎。</p>
<p>熟地　鹿角膠　菟絲子　杜仲　核桃　鹿角霜　補骨脂　柏子仁　羊腰子</p>
<p>徐　脈小弱，陽浮易動，從督脈上升，心中震盪，驚惕不寧，治以填鎮固攝。</p>
<p>熟地　牡蠣　龍齒　棗仁　紫石英　淮麥　龜版　石決　飛金　柏仁　辰砂　茯神　鹽水炒黃柏</p>
<p>程　先天稟賦不足，右腰脅頗痛，左脊骨忽高起，大有損象，急宜治之。</p>
<p>熟地　杜仲　菟絲　川斛　河車　茯苓　羊左背脊骨</p>
<p>某　元氣弱不振，心動神移，宜大補氣血。</p>
<p>熟地　杞子　辰砂　茯苓　菟絲　龜版　柏子仁　人參　杜仲　棗仁　淮麥　沙苑　南棗　龍骨　牡蠣　紫石英　飛金箔</p>

<h1>中暑</h1>
<p>陸　暑熱侵肺，心中頗熱。</p>
<p>竹捲心　蘆根　連翹　花粉　藕汁　北沙參　加菩提珠根</p>
<p>轉方：下體午後熱，肝氣亦為之動。</p>
<p>鮮荷梗　新絳　藕汁　蘇梗汁　絲瓜絡　木通　路路通</p>
<p>又：用瀉白法。</p>
<p>桑皮　地骨皮　燕窩　川貝　白蜜　枇杷葉</p>

<h1>瘧</h1>
<p>袁　三瘧未止，用三甲煎。</p>
<p>首烏　龜背甲　於術　橘紅　茯苓　鱉甲　穿山甲　青皮　半夏</p>
<p>顧（46歲）　寒熱連綿，已及一載。（門人蔣星墀診）</p>
<p>冬朮　豆卷　茯苓　炙草　桂木　橘餅　姜　棗</p>
<p>松批：所用極中要害，但立方尚未能入虎穴而得虎子。故增數味以探之。</p>
<p>原方去炙草，加地龍、鹿角霜、穿山甲。</p>
<p>秦（27歲）　間日瘧至渴飲，是暑瘧。</p>
<p>荷葉邊　連翹　桔梗　白通草　竹捲心　蔞根　枳殼</p>
<p>朱　瘧久但熱不寒，此謂癉瘧。用檳鱉散治之。</p>
<p>檳榔汁　烏梅　生麥芽　鱉甲　橘核　茯苓塊</p>
<p>轉方：鱉甲　牡蠣　香櫞　青皮汁　當歸　首烏　麥芽</p>
<p>濕比於陰，瘧入於陰，其髮間日，其為氣深，其道遠。比於陰者，比產於水，不能引而上之，出於高表，焉能制此伏邪，發於機先者乎？故尊方雖極深研，未能洞中竅會者，此也。姑擬一方，以察病機之所向。</p>
<p>青蒿（一錢）　大豆卷（二錢）　茯苓（二錢）　地龍（一錢，炙）　釜下土（三錢）　鮮荷梗（三錢）　豬苓（一錢）　蟬衣（三分）　蠶蛾（一個）　蜜蜂（二個）　桑螵蛸殼（一錢）　此亦搜絡之法。</p>
<p>繆（22歲）　寒熱一日數發，因虛而致。</p>
<p>當歸　炙草　穀芽　苡米　大麥仁　黃鱔　砂仁　陳皮</p>
<p>李　脈小而數，但熱不寒，汗多渴飲，與竹葉石膏湯加桂枝。</p>
<p>竹葉　生石膏　麥冬　知母　半夏　炙草　桂枝</p>
<p>韓　病在少陽陽明。</p>
<p>大豆卷　麥芽　杏仁　川貝　神麯　枇杷葉　葛根　通草</p>
<p>周（73歲）　寒熱後，下身皆浮腫，便溏溲數。</p>
<p>生於術　豬苓　赤苓　桂枝　澤瀉　大腹絨</p>
<p>四大人（蘇織造）　瘧久不止，又復下痢，偶食即如廁，是邪既下陷，又復穀氣下流肝腎，非輕證也。宜大劑升陽固攝。</p>
<p>人參（五錢）　製附子（七分）　炙甘草（五分）　肉果（一錢，煨）　補骨脂（一錢，炒）　鹿茸（一錢五分）　炮薑炭（七分）　炒於術（三錢）　木香（一錢）　赤石脂（一兩）　煎湯代水。</p>
<p>復診：諸證已稍減，煎方去赤石脂、加釜蓋木一兩。生穀芽一兩，煎湯代水，一劑大減。</p>

<h1>痢</h1>
<p>徐　久痢不痊。</p>
<p>理中丸　白朮　炮姜　黨參　砂仁　炙草　木香　二神丸　原方和勻服。</p>
<p>朱　痢已二十日，晚服清靈丸，暑濕之邪亦已盪滌，宜扶脾胃正氣，勿使下陷為穩。</p>
<p>焦術　炒丹皮　厚朴　蘄艾葉　茯苓　炒芍　炙草　楂炭　煨木香</p>
<p>高（71歲）　痢經二載，裡急後重。（門人顧祖庚診）</p>
<p>白朮　廣皮　白芍　炙草　秦皮　荷葉　楂炭　紅曲</p>
<p>松另給方：黃鱔　紅曲。</p>
<p>尤（9歲）　未便腹痛，既便腹痛，則無往而非痛矣。推原其故，全在營氣之傷，當應脾陰中求之。</p>
<p>砂仁　白芍　扁豆　雞內金　大麥粉漿丸。楂炭　炙草　紅曲　黃鱔</p>
<p>蔣（19歲）　身熱泄瀉，肛門脹痛，濕歸下焦。</p>
<p>葛根　茯苓　神麯　蟬殼　桔梗　豆卷　苡米　荷梗</p>
<p>劉（17歲）　大便溏薄，小便黃赤而短，午後發，口渴咳嗽，伏暑為病。據述只有此子，聞之凜然。</p>
<p>大豆卷　荷梗　枳殼　菩提珠根　竹捲心　桔梗　通草</p>
<p>金　痢，痛甚下墜，色微白。</p>
<p>柴胡（四分）　生白朮（一錢五分）　白芍（一錢五分）　薤白（三錢，另煎衝入）　枳實（一錢，炒）　厚朴（一錢五分）　炙草（三分）</p>
<p>轉方：痢頻數，微見紅，裡急後重。</p>
<p>生白朮（一錢五分）　厚朴（一錢五分）　荷蒂（二個）　木香汁（三分，磨沖）　升麻（七分）　楂炭（三錢）　赤苓（三錢）　服二劑，痢大減。</p>
<p>今歲上半年，燥金司天，燥與熱同氣。下半年，少陰在泉，令火酷甚。雖濕少熱多，究屬土運，熱氣未能暢達。經曰：火鬱發之。不發恐其已陷而愈下愈深也。治此證，以寒熱濕中為主，時醫一見此證，以白頭翁湯為套方，不問屬何經絡，殊為背謬者哉。</p>
<p>桐縣　下痢，一晝夜一百餘次，不能食。</p>
<p>柴胡（四分）　羌活（三分）　川芎（四分）　枳殼（一錢）　加生穀芽（一兩）　前胡（三分）　獨活（三分）　桔梗（四分）　厚朴（一錢）</p>
<p>復診：柴胡（三分）　生白朮（一錢）　白芍（一錢）　黃芩（八分）　炒山楂（一錢）　枳實（一錢）　厚朴（一錢五分）　炙草（三分）　秦皮（一錢，炒）</p>
<p>又：煨葛根（一錢）　生白朮（一錢五分）　白芍（一錢）　木香（三分，磨）　蘄艾炭（五分）　升麻（五分）　厚朴（一錢）　炙草（三分）　楂炭（三錢）　荷蒂（二個）　釜蓋木（五錢）　茯苓（三錢）　生穀芽（五錢）</p>
<p>又：肛門熱，舌尖微紅。原方加炒黃芩（八分）。</p>
<p>又：舌紅甚，暑邪由內外達。用葛根黃連黃芩湯加味。照前方再加炒黃連三分，黃芩減一分，不用釜蓋木。</p>
<p>又：舌尖漸淡，舌微干，傷陰也。</p>
<p>白芍（一錢五分）　炙草（五分）　阿膠（一錢，蛤粉炒）　丹皮（一錢）　黃蠟（五錢）　荷蒂（二個）　加藕節炭（三錢）</p>
<p>又：熟地（三錢）　白芍（一錢五分，炒）　炙草（五分）　山藥（三錢）　阿膠（一錢五分，蛤粉炒）　黃蠟（三錢）　烏梅（一個）　穀芽（三錢）　荷蒂（三個，泡湯煎藥）</p>
<p>張（女）　余至時，門人周蘊石在坐，出所治張方，以下痢不止，手足厥逆，用附子理中，合茱萸、大棗、白芍，服後神氣略定，痢稍緩。余謂此方極中病機，可仍服之，俟明日再議。孰知服後病忽增重，下痢日夜不止，面赤戴陽，神昏譫語，諸惡畢集。余制此方與之，服後痢乃止，辰粥四盂，神氣寧靜，脈亦循經，大是奇事。</p>
<p>人參（五分）　桂枝木（六分）　炙草（四分）　青花龍骨（四錢）　附子（四分，泡）　制於術（一錢）　炮薑炭（六分）　左牡蠣（七分）　加大棗（二枚）　赤石脂（五錢）　糯米（三錢，絹包）　硃砂（一塊，五六錢重，紅絹包懸胎煮煎湯代水）</p>
<p>錄張女病原方案：下痢不止，面赤戴陽，神昏譫語，循衣摸床，撮空理線，左脈中部短促而急，恐其下痢亡陰，神魂飛越，岌岌乎有難返之勢矣。今議進救逆法，加參、附、術以收拾飛越之虛陽，以桃花湯固攝下焦。攔截去路，急存耗散之陰精，少厥同治。斷鰲正極，在此一戰，以冀挽回於萬一，此亦不得已之極思耳。</p>

<h1>風熱</h1>
<p>徐（12歲）　肺氣膹郁，即是致病之由。發時耳目俱作癢，又合之大便之堅燥，已曉然矣。</p>
<p>石決明　杷葉　桑葉　大蚌殼　豬肺連管入石膏煮。</p>
<p>朱（29歲）　牙齦血出，又鼻衄，抵暮熱而無汗。</p>
<p>麻黃　杏仁　石膏　生草　半夏　橘紅　桂枝</p>
<p>吳　寒熱已微，似病漸愈，但據證則指頭寒，脈微欲絕，神氣倦怠。仲聖所謂少陰病也。危機已兆，恐地水火風，猝來莫御，將若之何？姑擬一方。</p>
<p>淡附子（三錢）　蔥白（三寸）　乾薑（二分）　紫石英（八錢）　茯神（三錢）　淮麥（三錢）　熟地（四錢）　麥冬（二錢）　泡湯煎藥。俟湯泡轉黃，即用煎成藥汁再衝入熱童便大半酒杯，豬膽汁一小匙。</p>
<p>轉方：服藥後兩手已溫，脈微已現，陰分轉陽，屬吉兆。但胃腑未通，津液未復，邪熱劫陰，正賴調理，危然後安，談何容易。今姑擬益陰通腑方。</p>
<p>川鬱金（三分）　生香附汁（四分）　沉香汁（三分）　枳實汁（四分）　玫瑰花露磨熟地（四兩）　麥冬（二錢）　泡湯和入四磨汁內飲之。</p>
<p>顏（62歲）　寒去而熱未去，究竟溫邪猶存，滋藥與邪相比黏而難脫。姑緩之，使肺得清化之權，何如？</p>
<p>枇杷葉（三錢）　生蛤殼（五錢）　杏仁（一錢，去皮尖）　白浮石（一錢）　冬桑葉（一錢）　蟬蛻（四分）　川貝（一錢五分）　加紋銀一塊</p>
<p>鄭（洞庭）　內有鬱熱在絡，留鼻之左邊，交額中。觸外風則內風亦動，故在外凜凜惡風，而皮膚以內卻熱也。病機冗雜，治法不易。</p>
<p>生地（三錢）　炒黃柏（七分）　防風（七分）　淡芩（七分）　玉竹（一錢五分）　龜版（三錢，刮白）　鹽水炒知母（一錢）　黃耆（一錢五分）　桑葉（一錢）　淡菜（三錢，漂）　鮮地骨皮（二錢）　黃甘菊炭（一錢，去蒂）　炒丹皮（八分）　生左牡蠣（三錢）　夏枯草花（一錢五分）</p>
<p>張　鼻塞有涕，天氣晴和則愈。</p>
<p>紫菀　麥冬　蟬蛻　花粉　細辛　羊腦和丸</p>

<h1>木乘土</h1>
<p>孫（55歲）　食入脘脹嘔惡，大半夏湯加味。</p>
<p>半夏　黨參　白蜜　吳萸　薑汁　附子</p>
<p>徐（20歲）　胸悶，嘔吐噯氣。</p>
<p>棗仁　石決明　砂仁殼　益智仁　茯神　龍齒　生香附　紅豆蔻</p>
<p>宋（34歲）　痛在中脘，中脘乃陰陽交界，濁氣不降。（門人蔣星墀診）</p>
<p>冬朮　茯苓　炙草　陳皮　吳萸　丁香　楂肉　香附　砂仁</p>
<p>松批：此仲聖進退黃連之所作也。</p>
<p>夏　腹硬不痛，其痛在脘，食谷則痛。</p>
<p>黃鱔（炒鬆）　雞內金　楂炭　蒼耳子　香櫞　砂仁　紅曲　茯苓</p>
<p>王　肝脈滯而澀，是肝氣鬱，鬱則風不宣暢，焉能發鳴？當借金以開之。</p>
<p>蛤殼　蟬衣（上半截）　鯽魚膽　桔梗　枇杷葉　浮石</p>
<p>轉方：金不發聲，再為之鼓動其氣。</p>
<p>麥冬　蟬蛻　荷蒂　桔梗　坎炁　熟地</p>
<p>計　肝邪因飲挾氣上逆，必助金以制之。</p>
<p>蛤殼　鯽魚膽　浮石　蟬衣　紋銀　枇杷葉</p>
<p>復診：原方加牡蠣、蔞霜，去蛤殼。</p>
<p>又：再從肝胃治。</p>
<p>旋覆花　代赭石　半夏　茯苓　枇杷葉　蔞霜</p>
<p>又：川貝母　地骨皮　蔞霜　杏仁　桑白皮　茯苓　枇杷葉</p>
<p>又：熟地　茯苓　半夏　紫石英　當歸　炙草　橘紅　沉香汁</p>
<p>又：食噎不下，再思一法治之。</p>
<p>旋覆花（一錢）　雞谷袋（一個，泥塗煨）　白蜜（三錢）　代赭石（三錢）　蟾蜍喉管（一個，泥塗煨）　蜜蜂（三個）</p>
<p>趙　素有胃寒，今食不能下，用建中法。</p>
<p>桂枝　炙草　公丁香　當歸　南棗　煨姜　智仁　紅曲　橘餅皮</p>
<p>轉方：胸中未開。</p>
<p>半夏　冬蟲夏草　烏藥汁　落花生　橘紅　大茴香　沉香汁　鍋巴</p>
<p>嚴　天道左升而右降，人身一小天地，亦左升而右降。故肝之位在左，其氣常行於右。今營分大傷，絡脈不營，是以動作而皆痛。治先調營為主。</p>
<p>鮮荷梗　旋覆花　南花粉　新絳　絲瓜絡　藕　蓮子肉　茯苓</p>
<p>繆　食入未能運化。</p>
<p>焦術　菟餅　陳皮　香櫞　大棗　砂仁</p>
<p>楊　肝木犯胃。</p>
<p>神麯　枳實　砂仁　鉤鉤　陳皮　雞內金　木香　木瓜</p>
<p>沈（55歲）　氣阻食不下，則噎而嘔。從肝胃不調治。</p>
<p>旋覆花　半夏　陳香櫞　沉香汁　代赭石　茯苓　橘紅</p>
<p>轉方：加熟地、茅山蒼朮，米泔水浸刮淨皮，飯上蒸。</p>
<p>張　脅脹之甚，則嘔不納穀，胃受肝收戕，不更衣者七八日。肝邪不得泄，寒邪礙胃。辛燥不受，治法最難。</p>
<p>人參（五分）　柏子仁（二錢）　蘇梗汁（三分，人乳磨）　松子仁（二錢）　加紋銀　新絳（一錢五分）　楂肉（二錢）　橘子絡（七分）　橘紅（五分）</p>
<p>轉方：大便既行，腑氣已通，不食仍如故，而昨夜安眠達旦，脹滿漸平，較前為安適。</p>
<p>原方去松柏仁，加鮮稻頭（四錢）　荷葉梗（三四寸）</p>
<p>顧　午前食飯不噎，午後食粥反噎，是午前以陽動而得運，午後陰漸盛而得合象也。立方宜從此著想。</p>
<p>冬蟲夏草（一錢，炒香）　雞腸（一條）　白蜜（三錢）　牛酥（三錢）　沉香汁（三分，磨沖。石磨鐵心，燒紅投藥中）</p>
<p>蔣（41歲）　右腹仍痛且脹。</p>
<p>當歸　杞炭　吳萸　桂枝　小茴香　白芍　細辛　橘核　木通　韭根鬚</p>
<p>童（67歲）　進食不能安穀，是噎膈之象。據述嘔痰廢食，初不知膈深之如是也。古來成方，用之絕不見效，姑以意為之。</p>
<p>白蜜（三錢）　蜜蜂（二個，研）　桑蟲（二條，研）　戌腹糧（二錢，漂洗）　雞谷袋（一錢，研泥塗炙）</p>
<p>劉（38歲）　身腹俱痛，兼之嘔惡。</p>
<p>生益智（一錢）　新會（一錢）　厚朴（一錢）　藿香（五分）　半夏（一錢五分）　姜（一錢）</p>
<p>陶　食後即噫，意欲大便，中弱不升。</p>
<p>東洋參　豆蔻　淡蓯蓉　菟餅　砂仁　大麥粉漿丸</p>
<p>錢　溫中之劑，最合病情。</p>
<p>東洋參　炮姜　半夏　益智仁　於術　炙草　茯苓　白蜜</p>
<p>丸方：熟地　炙草　菟餅　於術　肉桂　鹿角膠　當歸　杞子　杜仲　蓯蓉　羊內腎　青鹽　為淨末，羊內腎同鹿角膠搗丸。</p>
<p>郝（32歲）　診脈小弱，時吐蛔。風入胃，七日而生蟲。脾胃得溫則伏，氣塞則上出而嘔。用藥以辛酸為主，苦味為輔。殺蟲之品，又次之。</p>
<p>於術　淡姜　烏梅　淡附子　金鈴子　甘草　蜀漆　白芍　當歸　加使君熟末調入。</p>
<p>左　肝腎之陽俱不足，故食後鮮運，議進雙補方。</p>
<p>丸方：制於術　黃牛肉粉　萸肉　肉果　補骨脂　車前子　菟餅　巴戟肉　懷山藥　砂仁　廣木香　五味子　廣皮　麥粉和丸。</p>

<h1>肝風</h1>
<p>楊　風陽鼓動，以靜鎮之。</p>
<p>丸方：熟地　石決明　木瓜　料豆皮　茯神　紫石英　阿膠　左牡蠣　甘菊　血餘　棗仁（炒）　麥冬　將阿膠烊化，和入藕粉，煮漿為丸。</p>
<p>程　風陽鼓動，右手足筋脈抽引。治宜養營熄風。</p>
<p>熟地黃　黃甘菊　牛筋　木瓜　歸身　桑枝　石決明　杞子炭　鹿筋　杜仲　首烏</p>
<p>某　筋脈抽掣，風陽鼓動。</p>
<p>熟地　牡蠣　杜仲　黃菊　遠志　鹿筋　鴨血桑枝　首烏　石決明　杞炭　丹皮　辰砂　茯神　半夏</p>
<p>申（50歲）　所謂麻木眩暈者，全是肝虛之症。即胸悶一節，亦屬正虛邪擾。刮痧從肺稍泄，與正無裨，恐其因開泄而驟致氣升厥，不可為其所惑。</p>
<p>石決明　鬱金　細生地　龍齒　淮麥　橘紅　川石斛　辰茯神　阿膠　川貝　黃菊　鉤鉤</p>
<p>蔣　氣似浮，故脈不得沉而降，氣亦隨之。</p>
<p>制首烏　鹿頭骨　黃甘菊　黃耆　白芍藥</p>
<p>炒防風　益智仁　炙草　石決明　沉香汁</p>
<p>王　兩足筋脈時攻痛。攻之甚，頭且暈。</p>
<p>炒熟地　阿膠　鴨血炙桑枝　黃甘菊　川石斛　石決明　鴨血炙豬蹄筋　杜仲　木瓜</p>
<p>復診：加生左牡蠣、龜版。</p>
<p>張　病發神昏，宜用鎮靜之方。</p>
<p>生地　石決　龍齒　川斛　沉香汁　牡蠣　淮麥　茯神　柏子仁</p>
<p>祝（崇明）　據述平素以筋脈牽引為舒暢，惟輕則適。肝之性曲直，喜條達也。過重則抽掣太甚，下之海底必微濕，濕少則稍安，多則周身不適，如有物為之遮蔽。又若摳進，必口中大氣為之一噓，方為之廓然，此風陽之鼓動，燥火升騰也。其在經曰神，在天為風，在地為木，在體為筋，在臟為肝，在變動為握。握，搐搦也。火盛水衰，風隨火動，所謂火空則發也。海底之濕，肝火之盛，子盜母氣也。昨小便失溺不禁，厥逆隨至，危機已著。今搐搦不已，苟非大劑滋培鎮攝，暴脫可虞。今據理立方，以審察病機之所向。</p>
<p>炒枯熟地（七錢）　生左牡蠣（一兩六錢）　麥冬（三錢）　川石斛（三錢）　沉香汁（三分）　加紋銀（二兩）　炒黑棗仁（三錢）　大條人參（一錢五分）　九孔石決明（一兩）　北五味（七分）　辰茯神（三錢）</p>
<p>復診：神氣漸安，即從前方損益。</p>
<p>原方加天冬（一錢五分）　阿膠（一錢，研調）　濂珠末（五分）</p>
<p>又：心中如雲霧遮蔽，全是氣火挾痰。</p>
<p>加風米飲湯。又用遠志、柏仁霜、水飛辰砂、豬心血丸，服一錢五分，煎藥送下。</p>
<p>福大人　左右兩關洪而有力，右關屬胃，胃火有餘，則上侵肺部，左關屬肝，肝火有餘，則上注心中。丹溪氣有餘便是火，則益陰清火，是治心火之大法。方用金匱麥冬湯加減。</p>
<p>熟地（三錢）　麥冬（二錢）　黑棗仁（二錢）　茯神（二錢）　黑殼建蓮（二錢五分）　南花粉（一錢五分）　炙草（三分）</p>
<p>倪（40歲）　風消之證。</p>
<p>竹捲心　淮麥　蘆根　炙草　南棗　牡蠣</p>
<p>程　肝虛，火易上升為患。</p>
<p>石決　石斛　茯神　鮮蓮子　麥冬　杜仲　北沙參　淮山藥　豬脊髓</p>
<p>復診：脈象帶數，咳甚則肺氣阻抑，便溏則胃陽不宣，土金俱病。宜以神農上品之藥治之。方與中宮有裨。</p>
<p>黃鱔　懷山藥　砂仁　燕窩　大麥仁　鍋巴　玉竹</p>
<p>丸方：炒黃鱔　懷山藥　建蓮肉　苡米仁　芡實　扁豆　茯苓　白芍　穀芽　砂仁　為淨末。燕窩三兩，煮爛和入，豬膚膏六兩和丸。每服四錢。</p>
<p>王（22歲）　胸痞心嘈。</p>
<p>淮麥　南棗　炙草　龍骨　沉香汁　茯神　棗仁</p>
<p>翁　瘰癧，是肝膽火上炎為患。</p>
<p>淡菜　元參　牡蠣　川貝　四味為末，夏枯草煎湯成膏為丸。</p>
<p>顧　風陽鼓動，脈顯其形。</p>
<p>丸方：熟地　龍骨　黃明膠　河車　茯神　鰁膠　首烏　辰砂　棗仁　牡蠣　石決　菟餅　杜仲　羊腰子　羊尾</p>
<p>周（34歲）　耳聽稍窒於用，以耳鳴為之蔽也。據證或因乎外邪，但以鳴而斷，在陽浮而動，不能不責之於陰虧。治以滋填為主。</p>
<p>熟地　石決明　黃甘菊　丹皮　磁石　牛膝</p>
<p>復診：眩暈內熱。</p>
<p>熟地　料豆皮　牡蠣　石決　菊花　鉤鉤　棗仁　辰砂　茯苓</p>
<p>王（35歲）　肝腎之氣升則不得臥，兩足無力，下焦宜填宜固。</p>
<p>熟地　棗仁　龍齒　柏仁　麥冬　牛筋　鰁膠　茯神</p>
<p>嚴　診脈肝火有餘，腎水不足以致，反並於陽明而益旺，右關之火，所由來也。治宜壯陰和陽。</p>
<p>熟地　天冬　鰁膠　山藥　霞天膠　橘紅　生地　麥冬　淡菜　蓮心　為淨末，用鱉一個煎膠，去渣代蜜和丸。</p>
<p>丁（女）　火易浮動，非上升即下降，疼痛不已，最難治療。</p>
<p>燕窩　淡菜　川貝　黃明膠　蝸牛　人中白　濂珠　土貝　刺蝟皮　龜版　天花粉煮漿和丸。</p>
<p>孫（51歲）　真陽易於上升，即從陽引之亦不能降，桂七味等劑，姑置之。</p>
<p>熟地　茯神　棗仁　澤瀉　萸肉　懷山藥　龍齒　牡蠣　丹皮　琥珀　藕粉和丸。</p>

<h1>瘕</h1>
<p>俞　瘕據其右，以誤服柴胡致動肝邪，衝突為患。以柔制剛，使漸即平和為穩。</p>
<p>淡菜　蛤殼　牡蠣　地慄　海蛇　楂炭</p>
<p>範（59歲）　腹中有瘕，經來攻痛，大便溏泄。</p>
<p>白朮　菟絲　大茴　小茴　葫蘆巴　韭根鬚</p>
<p>鄒（22歲）　風塊未消，右肋時痛。</p>
<p>旋覆花　新絳　杷葉　荊芥　青蔥　香附　當歸</p>
<p>邱（33歲）　臍旁結瘕連及少腹。（門人朱應階診）</p>
<p>熟地　歸身　炙草　杞子炭　紫石英　沉香汁　橘核　楂炭</p>
<p>松批：極類臟結，以此方借治，頗合機宜。</p>
<p>高　胸痞且脹，用小陷胸法。</p>
<p>栝蔞仁　枳實　半夏　川連　杏仁</p>
<p>孫　物有不可化者，有化則俱化者。歷治勿效，可化乎，不可化乎！當從其難化處參之。</p>
<p>蒼朮（一錢，米泔浸）　枸杞子（二錢）　紫石英（七錢）　沉香汁（三分）　熟地（三錢，三味同炒）　地慄（三個）　海䖳（五錢）</p>
<p>顧　嘔逆，有瘕上攻，肝病也。嘔時喜冷飲，口中乾，眩暈，因風挾火上行，肝火之變動處，此以前之所無。</p>
<p>當歸（一錢五分）　龍骨（三錢，打碎）　吳茱萸（三分，泡淡）　金鈴子肉（一錢五分，炒）　白芍（一錢五分，炒）　桂枝（七分）　細辛（三分）　小茴香（一錢，炒黑）　杞炭（三錢）　沉香（四分，磨沖）　烏藥（一錢）　肉桂（三分，去皮）　木通（一錢）</p>
<p>吳（35歲）　調和肝胃治。</p>
<p>白朮　香櫞皮　青皮　廣皮　地慄　雞內金　瓦楞子　半曲　砂仁　穀芽</p>

<h1>臌</h1>
<p>李　腎陽衰微，水聚成脹。真武湯主之，天真丹亦主之。</p>
<p>生於術　茯苓　淡附子　白芍　乾薑　晨服天真丹二錢。</p>
<p>嚴　腹中微膨。</p>
<p>生白朮　砂仁　厚朴　木香　神麯　木瓜　茯苓　苡米仁</p>
<p>楊　腹脹不減。</p>
<p>柴胡　枳實　白芍　炙草　薤白　煎送小溫中丸二錢</p>
<p>張（52歲）　督陽不升，肝絡不通，以致氣阻漸脹。治當以崇本為主。</p>
<p>濟生腎氣丸全料，加入毛鹿角二兩，炒小茴香一兩。</p>
<p>僧　單腹脹有瘕作痛，脈小無力。</p>
<p>禹餘糧丸每服一錢五分。</p>
<p>譚（51歲）　（門人顧祖瘐診）</p>
<p>旋覆花　阿膠　滑石　通草　冬瓜子　枇杷葉　豬苓　茯苓　杏仁　大腹皮</p>
<p>松批：加之力太重，氣並於下，上遂不足矣。宜從降中寓納，用宋時本草方。</p>
<p>蛤殼　豬苓　茯苓　澤瀉</p>
<p>朱（21歲，海門）　為脹為硬，全是虛氣所為。今姑用一方探之。</p>
<p>熟地　當歸　炙草　杞炭　砂仁　杜仲　菟絲餅　沉香汁</p>
<p>僧　氣虛皮膚易於暴腫。用養營法調之。</p>
<p>熟地　黃耆　黨參　白朮　炙草　陳皮　當歸　白芍</p>
<p>顧（51歲）　腹腫足冷，氣衝咳嗽。</p>
<p>濟生腎氣丸。</p>

<h1>濕</h1>
<p>徐天柱（德清榜眼）　真陽衰弱，不能運行周身，濕阻經絡，氣分凝滯。頭至腰背側及兩肩，皆陽氣流行之地，一有所阻，為痿弱，為痹痛，諸病百出矣。治斯證，固在溫補，而溫燥太過，又慮其化熱。濕熱甚則風生燥，濕氣之流弊不至此不止，宜以建中助陽補心為主帥，驅濕通絡為裨將，清熱熄風為遊騎，合而行之，步伐整齊，方可奏功矣。</p>
<p>生於術（四兩，曬）　首烏（四兩，蒸曬）　丹參（一兩，豬心血拌，炒黑）　蒼朮（二兩，米泔水浸，刮去皮毛，蒸）　柏仁霜（五錢）　黑芝麻（四兩，蒸）　當歸（二兩，炒）　益智仁（一兩，鹽水炒）　沉香（五錢，不經火）　毛鹿角（二兩，去毛酥炙）　棗仁（二兩，炒）　遠志（五錢）　龍骨（一兩，煅研）　菟絲子（二兩）　補骨脂（二兩，炮炒）　桑螵蛸（二兩，炙）　蛤蚧（一兩，去目足，酥炙）　白蒺藜（一兩，去刺炒）　杜仲（三兩）　潼沙苑（二兩，炒）　萆薢（一兩，曬）　五加皮（一兩五錢）　仙靈脾（一兩五錢，羊脂炙）　白麻骨（一兩）　石南葉（一兩五錢，炙）　黃甘菊（二兩，去蒂）　金毛狗脊（一兩五錢，去毛，炙）　桑葉（二兩，曬）　荷葉（二兩）　茯苓（二兩，曬）　蓮鬚（二兩，焙）　為淨末，羊肉外腎煮爛，加炒黑大小茴香（二兩），搗丸。</p>
<p>唐　寒濕為災，遊行痹病，郁久化風，三氣成痛，以宣通為主。</p>
<p>桑葉　萆薢　海桐皮　白麻骨　料豆皮　芝麻　木瓜　茯神木　川通草　苡米仁</p>
<p>楊　病因濕熱侵入陰分，用仲聖治溫邪入少陰法。宣通氣機。</p>
<p>阿膠　澤瀉　茯苓　豬苓　牡蠣　蛤殼</p>
<p>匡　寒熱起自舊年十一月，足脛浮腫，濕熱凝滯不化。</p>
<p>大豆卷　白朮　萆薢　桐皮　木瓜　茯神　獨活　地龍　菩提珠根</p>
<p>俞　飲邪盤踞，姑進紅豆丸。</p>
<p>紅豆蔻　母丁香　胡椒　砂仁　四味和丸，大棗一個去核，納入丸藥一粒，飯上蒸，細嚼。</p>
<p>方（42歲）　據述溲少足浮腫，則下焦濕聚不泄顯然。舌色微白轉絳，恐蘊蒸化熱。莫若從下焦宣泄，以察病機。</p>
<p>桂木　於術　大腹絨　豬苓　茯苓　澤瀉　白麻骨</p>
<p>復診：原方加茅鹿角、菟絲子。</p>
<p>田（25歲）　舌絳而光，又甚薄。小便黃赤，慮其陰之涸也。又生瘡，是濕邪之外達。</p>
<p>熟地　豆卷　當歸　炙草　鱉甲　鹿角霜</p>
<p>潘（38歲）　咳每遇寒熱而發，背部畏冷，口膩苔濁。（門人蔣星墀診）</p>
<p>桂枝　茯苓　細辛　生薑　冬朮　炙草　陳皮　大棗</p>
<p>松批：濕將化熱。</p>
<p>陶　病之初，傷於瓜果。脾胃之陽，為寒所郁，而治法以陰柔之品進，郁者愈郁，而不得宣暢，以為和平。以致食少而胃困，腹痛而痹窒，中焦之陽益憊矣。治宜以芳香辛通之品，破其所阻，使脾陽得運，胃氣升騰，病自愈矣。</p>
<p>於術　炙草　益智　煨姜　桂枝　南棗　加鍋巴</p>
<p>復診：辛甘二味與臟氣不合，甘味尤甚，姑去之。</p>
<p>於術　菟餅　砂仁　陳皮　鹿角霜　當歸</p>
<p>計　寒濕為災，上乘脾土。</p>
<p>於術　菟絲　大茴　補骨脂　附子　茯苓　鹿角霜　雄雞小腸</p>
<p>李（40歲）　腰痛便泄。（門人顧祖瘐診）</p>
<p>鹿角霜　益智　茯神　炙草　杜仲　於術　龍骨　遠志　細辛　菟絲</p>
<p>松批：用細辛通徹上下，方極靈活。</p>
<p>薛　濕化痰，將成大病。</p>
<p>熟地　陳香櫞　茯苓　黑芝麻　地龍　蒼朮　半夏　桑葉　澤瀉</p>
<p>謝　囊腫足浮，溲少脈沉。</p>
<p>洋參　於術　茯苓　炙草　陳皮　半夏　禹餘糧丸每日一錢五分。</p>
<p>陳　濕阻絡脈，為麻木，氣血不行，痿痹所作。與宣通法。</p>
<p>生於術（一錢）　當歸（一錢五分）　杞炭（三錢）　鹿筋（四錢）　杜仲（三錢）　東洋參（一錢）　黃耆（一錢五分）　仙靈（三錢）　附子（七分）　山甲（二分）　虎脛骨（三錢）　石楠葉（二錢）　白蒺藜（一錢五分）　桂枝（七分）　加鴨血（炙）　桑枝（五錢）　宣木瓜（一錢，煎湯代水）　煎去渣，研調麝香一釐。</p>
<p>徐（29歲）　咳嗽，舌根黃。（門人謝士安診）</p>
<p>枇杷葉　桑白皮　杏仁　桔梗　川貝　白通草</p>
<p>松批：雖云心腎不交，實則濕阻中焦故也。</p>
<p>陳（46歲）　兩足行動，未能輕便。</p>
<p>於術　當歸　鹿筋　仙靈脾　附子　杜仲　金毛狗脊　東洋參　杞子　牛筋　虎脛骨　萆薢　石楠葉　馬閘　肉蓯蓉　巴戟　鴨血炙桑枝</p>
<p>劉（35歲，洞庭）　據證右半身時麻木，診脈兩手俱弦滑，是濕邪之留著處，麻木之所由來也。但治濕不可過燥，燥則傷陰，非所以利濕也。仿黑地黃丸治法。</p>
<p>熟地　當歸　續斷　半夏　橘紅　鴨血炙絲瓜絡　蒼朮　黑芝麻　山藥藤　桑瀝</p>
<p>李　脈來弦滑，手足麻木。</p>
<p>萆薢　薏米　當歸　木瓜　赤苓　通草</p>
<p>劉（洞庭）　右脈之滑較甚於左，酒濕動之也。</p>
<p>熟地　蒼朮（二味同炒存性）　杞炭　紫石英　當歸　淡菜　川貝　白解藥　桑瀝　半夏　鴨血炙絲瓜絡</p>
<p>復診：陽氣易動多升，當用介類以潛陽。</p>
<p>熟地（三錢）　蒼朮（一錢，二味同炒黑存性）　龜版（三錢）　石決明（七錢）　生牡蠣（四錢）　大蚌殼（五錢）　杞子炭（三錢）　當歸（一錢五分）　川貝（五錢五分）　黑芝麻（三錢）　白蒺藜（一錢五分）　磁石（三錢）　鴨血炙絲　瓜絡（三錢）　桑瀝（半杯）</p>
<p>周（42歲）　兩手脈伏而不揚，氣機之滯也。宜助中宣達。</p>
<p>人參　炙草　當歸　升麻　於術　茯苓　橘紅　柴胡</p>
<p>復：前日偶傷於風，昨已愈矣。須從肝脾調治。</p>
<p>人參　茯神　遠志　歸身　砂仁　於術　棗仁　炙草　木香　桂元</p>
<p>王（海州）　真陽素虛，濕邪易干，食後停積，遂至不化。下焦水不通行，雖不至脹，腫滿有諸。治宜溫補宣通，痹著方。</p>
<p>生於術　生菟絲　茯苓　萆薢　杞子　肉桂　毛鹿角　淡附子　小茴　補骨脂　麻骨　木瓜　五加皮　獨活　細辛　薏米仁</p>
<p>復診：海濱多寒，熱之不熱，是無火也。</p>
<p>生於術（二錢）　生菟絲（三錢）　製半夏（一錢五分）　補骨脂（一錢，泡炒）　肉桂（三分，去皮）　毛鹿角（一錢五分，去毛）　淡附子（五分）　茯苓（二錢）　萆薢（一錢）　鹿筋（三錢，漂）　獨活（四分）　北細辛（一分）　虎脛骨（二錢，炙）　石楠葉（一錢）　巴戟（一錢五分）　木瓜（一錢）　五加皮（一錢五分）　蘄艾炭（一錢）　杞炭（二錢）</p>
<p>宋　痛在右肋，轉而之左。又從左擾中間，有時作水聲者，此必飲邪為患。姑立一法試之。</p>
<p>熟地（三錢）　蒼朮（一錢，蒸，二味米泔水浸，同炒存性）　淡菜（四錢）　川貝（一錢五分）</p>
<p>俞（46歲）　腸風發時都在秋分前後，此以天氣下降，陽隨之而下陷也。治以升陽為主。</p>
<p>黨參（二錢）　炒黑鹿角霜（二錢）　醋炒附子（七分）　炒黑川芎（五分）　黃耆（二錢）　炙甘草（五分）　炒黑防風根（六分）　大豆卷（二錢，炒）</p>
<p>又丸方：黨參（二兩，切片，焙）　炙草（五錢）　醋炒黑附子（七錢）　炒川芎（五錢）　黃耆（二兩，炙）　炒鹿角霜（二兩）　炒防風根（六錢）　大豆卷（二兩，炒）　為淨末，蒸餅和丸，每服四錢，開水送下。</p>
<p>王　峻補精血，即是筋骨強健之本。</p>
<p>藥酒方：熟地　杞子　牛膝　木瓜　虎脛骨　千年健　牛筋　當歸　蓯蓉　附子　五加皮　山藥藤　鹿筋　桂圓　杜仲　甘菊　冬桑葉　羊尾骨　續斷　木香　豨薟　檀香　沉香　白蔻仁　白蒺藜　用火酒三斤，浸七日，入蜜半斤，陳酒十七斤。</p>
<p>吳　於補中寓祛濕和血之法。</p>
<p>豬脊髓（一兩）　鮑魚（四錢，洗）　地龍（一條，炙）</p>

<h1>腸風</h1>
<p>陳（51歲）　腸風頭痛，手足時冷。（門人顧祖庚診）</p>
<p>生地　石決明　白芍　黃耆　阿膠　女貞　料豆皮　黃甘菊　炙草　西洋參　旱蓮　鴨血　藕粉煮漿和丸。</p>
<p>松批：加桑寄生一味，用黃耆煎湯炙，再用鴨血拌炙存性，則靈動矣。</p>
<p>顏　大便堅澀　營血不足。</p>
<p>桑葉　杏仁　白蜜　黑芝麻　牛酥　橘紅</p>
<p>徐（41歲）　腸風下血糞，肛門氣墜作痛。（門人吳紹葵診）</p>
<p>熟地　白芍　牡蠣　阿膠　炙草　烏梅　木瓜　荊芥炭</p>
<p>松另給方：補中益氣湯加蝸牛、鱉頭、白芍。</p>
<p>又給丸方：熟地　山藥　茯苓　鰁膏　大鱉頭（一個，殺之勿去血，煎爛）　白芍　丹皮　澤瀉　炒鴨血　夏枯草花（六兩）　煎膏，去渣，代蜜丸。</p>
<p>徐　毒發在大腿肛門之間，瘍科謂之臟毒。歷久勿痊。姑用輕補重託之法，以冀其收功，亦甚難事也。</p>
<p>紫花地丁（曬）　刺蝟皮　生地　當歸　穿山甲靨　忍冬花（焙）　黃明膠　料豆皮　黃耆　象皮　蝸牛　仙鶴草　黃明膠　烊化為丸。</p>

<h1>疝</h1>
<p>錢　診脈小弱　素有肝氣，疝證時發。宜從下焦治。</p>
<p>熟地　沙苑　菟餅　柏子仁　楂核　羊腰子　杜仲　杞子　小茴　橘核　金鈴子　淮山藥</p>
<p>方（海州）　莖中攣，交子後亦舉，真陽不充，治宜溫中下二焦。</p>
<p>熟地　補骨脂　於術　菟餅　砂仁　茴香　鹿角霜　巴戟肉</p>
<p>轉方：所謂攣在莖中者已緩，胸中尚不開爽。</p>
<p>炒熟地　補骨脂　胡蘆巴　巴戟肉　杞子炭　小茴香　菟絲餅　公丁香</p>
<p>沈（22歲）　疝症。少腹疼，腎子偏大，厥陰受寒。</p>
<p>白扁豆　大腹皮　荔枝核　茯苓　小茴香　橘核　木香　木瓜</p>

<h1>濁</h1>
<p>蔣　精氣不固。</p>
<p>熟地　蓮鬚　金櫻子肉　杜仲　湘蓮　鰁膠</p>
<p>又丸方：熟地　金櫻子　建蓮　蓮鬚　沙苑　鰁膏　芡實　菟絲　豬脊髓和丸。</p>
<p>李　咳未止，濁證亦未愈。</p>
<p>熟地　蓮鬚　白螺螄殼　枇杷葉　桑螵蛸　鰁膠　蛤殼麥冬　巴杏</p>
<p>吳　濁證發而瘀不利，澀應通用，進導赤法。</p>
<p>生地　白荷花露　生草梢　赤苓　料豆皮　竹心　蓮子心　小木通　白茯苓</p>
<p>復診：熟地　蓮鬚　赤白茯苓　菟絲子　鰁膠　草梢　小木通　黑殼建蓮</p>
<p>又：昨夜寒熱大而汗泄，邪已達矣。再為之固下以攝陰。鰁膠　菟絲　巴杏　蓮鬚　川貝　茯苓　木通</p>
<p>又：氣不攝精。</p>
<p>鹿角霜　鰁膠　蓮鬚　赤白茯苓　黃耆　菟絲　川貝　麥冬</p>
<p>又：仍用前方增損。</p>
<p>鹿角霜　鰁膠　菟絲子　北沙參　蓮鬚　黃耆　桑螵蛸　赤白茯苓　麥冬</p>
<p>又：原方加砂仁、半夏曲。</p>
<p>繆　精氣滑泄，小便時淋閉，精竅尿竅俱失常度。治宜通塞並用。</p>
<p>熟地　蓮鬚　茯苓　金櫻子　白荷花露　鰁膠　豬苓　澤瀉　生芡實</p>
<p>此方加入懷山藥、建蓮、鹿角霜、豬脊髓蒸熟搗丸。</p>
<p>又：煎方：東洋參　阿膠　豬苓　茯苓　柴胡　滑石　澤瀉　麥冬</p>
<p>朱　濁證未痊。</p>
<p>熟地　鴨肝　藕汁　麥冬　玉竹　淮山藥　料豆皮　湘蓮</p>
<p>許（25歲）　濁證起於正月，涓涓不絕，腎關開而精氣大耗，筋脈無以濡養矣。填補固攝，勢不容緩矣。現在咳嗽雖屬風邪，但診右寸大而不斂，非木火旺令所宜，不可視為小恙而忽諸。</p>
<p>熟地　金櫻子　白蓮鬚　菟絲子　白荷花露　鰁膠　芡實　潼沙苑　湘蓮</p>
<p>袁（26歲，無錫）　濁淋已二載有餘，面黑是腎虧之象，兼之內熱，亦理之所宜。固下一法，是所要圖。</p>
<p>熟地　鰁膠　金櫻子　蓮鬚　黃柏　龜版</p>
<p>復診：熟地　龜版　牛筋　金櫻子　龍骨　芡實　東洋參　黃柏　杜仲　鰁膠　牡蠣</p>
<p>倪（40歲）　濁症未解。</p>
<p>生地　牡蠣　川連　杞子　麥冬　五味　豬脊髓　桑螵蛸</p>
<p>轉方：加北沙參。</p>
<p>張　降精之後，繼之以血，通澀兩難，宜從精血兩調為穩。</p>
<p>鰁膠（三錢，炒）　烏賊（二錢，炙）　豬脊筋（一兩）　鹽水制益智（三分，勿研）　藕汁（半杯）</p>
<p>復診：濁之降也不自知，已非腎藏志之本體矣。當使之知，以證腎氣之上交。</p>
<p>炒鰁膠　海螵蛸　荷蒂　藕汁　豬脊髓　桑螵蛸　益智</p>
<p>又丸方：炒黑鰁膠（四兩，蛤粉炒）　海螵蛸（一兩五錢）　炒荷蒂（一兩）　茯苓（五錢）　炙桑螵蛸（一兩）　益智仁（三錢，炒）　遠志炭（五錢）　白蓮鬚（一兩，炒）　豬脊髓為丸</p>
<p>蔣　濕熱流注下焦，濁症屢發，通塞並用方。</p>
<p>生地　炒鰁膠　豬脊髓　鹽水炒黃柏　木通　螺螄殼　荷花露　蓮肉</p>
<p>吳　面色不華，營分不足。</p>
<p>丸方：熟地　杞子　河車　天冬　金櫻子　霞天膠　淡菜　菟餅　鰁膠　麥冬　白蓮鬚　沙苑　牡蠣　龍骨　鹿筋　牛筋　杜仲　芡實　為淨末，豬脊髓四兩，蒸搗丸。</p>
<p>周（37歲）　素嗜酒，濕熱下注，致濁症。</p>
<p>生地　木通　川斛　茯苓　豬苓　澤瀉　草梢　淡竹葉</p>
<p>某　脈小而急，月事先期，色紫黑，營熱證也。</p>
<p>熟地（六兩，水制炒，附烏雞丸）　丹皮（二兩，炒）　真阿膠（三兩，蛤粉炒）　當歸（三兩，去頭尾，炒）　細生地（四兩，炒）　人中白（一兩二錢）　料豆皮（四兩，焙）　白芍（三兩，炒）　杜仲（四兩，生曬）　湘蓮（四兩，去心焙）　白薇（一兩，焙）　女貞實（四兩，去粗皮蒸九次）　為淨末，用烏骨雄難一隻，縛殺之。干捋毛，去腸留肝。先用鱉甲八兩，青蒿子六兩，鮮地骨皮六兩，旱蓮草四兩，煎濃湯煮雞，加入童便二碗，牛乳二碗，醋一碗，俟雞爛，取起與藥末同搗，焙燥磨末，骨亦磨末。另炙拌入取原雞汁，加入白花益母草膏丸服。每服三四錢，開水送下。</p>
<p>彭　左關頗澀，是肝血不足之象。</p>
<p>熟地　豬脊髓　白蓮鬚　豬腰子　鰁膠　龍骨　潼沙苑　荷葉</p>

<h1>奇經</h1>
<p>趙　經阻不行，肚腹連腰頗痛，從奇脈治。</p>
<p>熟地　杞炭　沙苑　丹皮　香附　楂炭　當歸　杜仲　白薇　丹參　麥芽　桑椹　白花益母草煎膏丸。</p>
<p>某　氣不宣通為脹，厥陰為陰之盡，得中見之化，鬱而暴升，或縱或橫，變態百出，極難治也。姑擬數味，候鮑、周兩君同商。</p>
<p>鮮荷梗（中段透出水面，四錢）　川芎（五分，兩味雨水先煎）　香附（七分，磨沖）　生白芍（一錢五分）　金鈴子肉（一錢）　橘核（三錢，炒）　芍、鈴、橘三味，用井水煎，遲下。</p>
<p>轉方：下焦虛證已著，但有難名之疾。總因厥陰之症，為風為火，最善變也。方不可執，立方俱從左關之弦處參悟。其狀少腹兩邊脹痛，陰戶中掣抽疼，一劑愈。</p>
<p>金鈴子肉（一錢）　橘核（一錢五分，炒）　杜仲（二錢五分）　豬腰子（一隻，先煎去油）　川芎（五分）　香附（一錢五分）　杞子（三錢，藕汁浸搗，沖大半杯，俟藥煎好，合淨，與藥汁同煎一沸）　青蒿根汁（一錢，浸木瓜，搗爛，取汁小半杯衝入。）</p>
<p>又：肝病之痛未已，而適逢經至，色淡而少，斯知痛加甚之故，營氣虛也。當有以培之。燥熱非傷陰不可也。</p>
<p>服藥後痛緩，漸聚入臍下少腹矣。</p>
<p>熟地（四錢）　丹皮（一錢五分，炒）　茯苓（一錢，塊）　生白芍（二錢）　萸肉（二錢）　澤瀉（一錢五分）　懷山藥（二錢）　炒當歸（二錢，炒）　杞子（二錢，藕汁浸搗，炒）　橘餅酒（半酒杯，橘餅一兩，投入煎，沖）</p>
<p>又：昨日之方，原欲其散走絡，而痛之勢分。今則專走大絡，而氣且上衝，勢且為合矣。當迎其合處治之。但體既虛，絡無血以養。當用法以充之為妥。</p>
<p>熟地（八錢）　炙草（五分）　杞子汁（半杯，藕汁浸搗沖）　當歸（二錢，炒）　紫石英（一兩）　血餘炭（一錢二分，研細，加入杞子汁內）</p>
<p>又：昨日氣聚上衝，不惟衝脈之逆，而由兩肋而升，肝亦覺沖為患矣。所喜者其勢聚而不散，從其聚處擊之，而使之並，竟歸入臍中而刺痛不休矣。其故總因血虛而不能滋養肝沖，當臍即肝沖聚會之處也。精血空乏，宜撫不宜剿，使其日積月盛，府庫充盈，無乘虛竊發之患矣。臍中痛一劑愈。</p>
<p>熟地（一兩）　炙草（五分）　辰砂茯神（三錢）　杞子汁（藕汁浸，搗沖）　當歸（一錢，炒）　棗仁（三錢）　紫石英（一兩）　豬膚肉（一塊，用坎炁一條，木瓜八分煎湯，瓦上炙乾，先去油淨。）</p>
<p>吳　奇經河津空乏，以致厥陰經脈不司約束，發為陰挺。治宜養陰清熱，漸復其故。凡一切消克等味，宜戒勿進。</p>
<p>生地（四錢）　鹽水炒黃柏（一錢）　白薇（一錢）　刮白龜腹版（三錢）　鹽水炒知母（一錢）　丹皮炭（一錢五分）　淡菜（三錢，漂）　漂鮑魚（三錢）　鹽水煮石決（七錢）</p>
<p>轉方：從原方加入蝸牛（二個）　白螺絲殼（二錢）　夏枯草花（二錢）</p>
<p>丸方：生地（四兩，浸搗）　黃柏（一兩，鹽水炒黑）　生牡蠣（一兩）　淡菜（三兩，切片，焙）　龜腹版（二兩，刮白，生研）　知母（一兩，鹽水炒黑）　生蛤粉（一兩）　鮑魚（二兩，切片，焙）　土貝（一兩五錢，去心）　丹皮（一兩五錢，炒）　蝸牛（七錢，生研）　白螺螄殼（一兩五錢）　地慄（一兩五錢）　夏枯草花（一兩五錢，焙）　鱉頭（一兩，煅）　為淨末，藕粉煮漿丸，每服四錢。</p>
<p>方（25歲，平湖）　病在產後，既患陰挺，又復患痔。總屬氣血太虛所致。</p>
<p>熟地（四錢）　鹽水炒黃柏（一錢）　鱉頭（一個）　桑葉（三錢）　龜版（三錢，炙）　鹽水炒知母（一錢）　蝸牛（二個）　芝麻（一錢）　人乳（一酒杯，衝入）</p>
<p>俞（20歲，太倉）　咳嗽氣逆，周身浮腫，小便不利。（門人吳紹揆診）</p>
<p>桑葉　蘇子　紫菀　杏仁　茯苓　陳皮　桔梗　萊菔子</p>
<p>松批：浮腫而喘，無汗。此風水象也。</p>
<p>麻黃　桂枝　杏仁　甘草　白朮</p>
<p>服二劑而竟愈。</p>
<p>轉方：白朮　炙草　乾薑　半夏　五味子　桂枝　茯苓　杏仁　細辛</p>
<p>溫（平望）　產後氣血已虛，亟為補救，猶恐不及，乃以毒藥攻克，譬猶賊寇跳梁，劫掠一空，急圖恢復，談何容易。此時傷之最重者，尤在衝任，次及於肝。蓋衝任在人身為十二經之海，猶制府也。肝，猶郡縣也。議先從此著力，以觀其應否。大便堅澀不爽，一則腎司二便，一則大腸津枯，一則肺不能通調水道。強使之下，其可得乎。</p>
<p>生白芍（三錢）　人乳（一酒杯）　生左牡蠣（七錢）　海䖳（一兩）　炙草（八分）　阿膠（二錢，溶入）</p>
<p>轉方：泄瀉未已，瘕亦未消。</p>
<p>原方去海䖳，加淡菜（三錢）　楂肉（三錢）　懷山藥（一兩）</p>
<p>孫（諱樹本。四川新絳縣。奶奶丸方）　發之生，根乎血。其脫也，因乎風。癢起白屑，即風之動，發則火熾，火熾則血燥，故發脫也。治宜益陰，兼清肝火以熄風。</p>
<p>熟地（四兩，炒）　血餘膏（三兩）　料豆皮（二兩，焙）　牛酥（三兩）　制首烏（四兩，料豆蒸曬）　生地（二兩，炒）　阿膠（二兩）　丹皮（二兩，炒）　兔肝（一具，煮搗）　黃甘菊炭（三兩）　桑葉（二兩）　黑芝麻（四兩，熟）　石決明（三兩，鹽水煮）　天冬（二兩，焙）　烏飯子（二兩，焙）　女貞子（四兩）　炒鴨血（四兩）　湘蓮（二兩，去心焙）　杜仲（二兩，焙）　夏枯草花（二兩，焙，用旱蓮草汁拌曬）　加生牡蠣（二兩）　為淨末，烏飯子十斤，南棗四兩，煎膏，和入阿膠、牛酥為丸。</p>
<p><u>附：三餘紀效</u></p>

<h1>中風</h1>
<p>華　風陽上旋，眩暈鼻塞，口乾言謇，防其類中。</p>
<p>生地　石決　鉤藤　麥冬　遠志炭　穭豆皮　石斛　菊花　茯神　雪羹湯代水。</p>
<p>楊（44歲）　四肢麻痹，脈象軟弱。總由營虧，血不養筋，恐屬類中根萌，殊可慮也。至於脘中痛，則疏肝理胃為先。</p>
<p>蒺藜　木瓜　茯苓　鬱金汁　鱔血炒桑枝　香附　橘紅　歸身　薏仁</p>
<p>沈（61歲）　脾不攝涎，老年恐有類中之慮，與六君子加味，宜緩圖之。</p>
<p>六君子加上耆　五味　益智仁</p>
<p>諸（70歲）　麻木不仁，眩暈脈弦。風陽上旋，防其類中。</p>
<p>熟地　蒺藜　牛膝　橘紅　沉香汁　石決　天麻　茯神　柏仁　鴨血炒桑枝</p>
<p>陳（55歲）　眩暈，手足不仁。防其類中。</p>
<p>首烏　虎脛骨　歸身　茯苓　桑枝　石決　牛膝　杞子　杜仲</p>
<p>朱（55歲）　掉眩麻木，防其類中。</p>
<p>生地　石決　川斛　牛膝　天麻　首烏　白芍　鉤鉤　沉香</p>
<p>張　肝腎陰虧，風動上旋，左目失明，不得寐，汗易泄，下部乏力，防其類中。</p>
<p>炒生地　茯神　柏仁　石決　淮麥　制洋參　棗仁　麥冬　川斛　南棗</p>
<p>畢（55歲）　膽虛中正無權，疑懼交至，脈弦為減。風陽易動，防其類中。</p>
<p>熟地　石決　茯神　遠志　阿膠　雞子黃　棗仁　柏仁</p>
<p>陳（35歲）　風痹痛已經五載。類中門求之。</p>
<p>熟地　五加皮　木瓜　萆薢　山藥藤　當歸　虎骨　薑黃　牛膝　桑枝</p>
<p>張（84歲）　肢痿振掉，腰脊痠楚，痱風難治。</p>
<p>熟地　蓯蓉　牛膝　川斛　桑枝　杜仲　巴戟　虎骨　廣皮</p>
<p>郭　悸動健忘，汗易泄，手振少寐，症由煩勞過度，心血漸衰，類中可慮。宜防患於未萌。</p>
<p>黨參　黃耆　當歸　麥冬　紫石英　棗仁　茯神　柏仁　五味　淮麥　南棗　另服天王補心丹。</p>
<p>華（65歲）　體豐肝鬱，脾濕生痰阻絡，機竅不利，不飢少納，語言謇澀，此屬痱中之根。</p>
<p>霞天曲　茯神　生香附　黑山梔　竹茹　菖蒲　遠志　膽星　橘紅</p>
<p>又　脈左弦右滑、痰火生風，故左額脹痛。仍以和陽熄風，化痰去濕。</p>
<p>石決　天麻　半夏　茯苓　竹瀝　鉤鈞　黃菊　柏仁　益智　薑汁</p>
<p>湯（44歲）　痱風不易復原，小便餘瀝，固攝奚疑。</p>
<p>熟地　川斛　茯苓　遠志　巴戟　麥門冬　萸肉　蓯蓉　菟絲子　五味　杜仲　桑寄生</p>
<p>朱（60歲）　驟然咽痛，舌本強，苔黃，頭搖手振。由陰虧肝風挾痰，上凌清竅，中厥根萌。先以鹹苦和陰，再商治本。</p>
<p>羚羊角　元參　茯神　橘紅　鉤鉤　鮮生地　石決　川斛　竺黃　雪羹湯煎。</p>
<p>朱　壯盛年歲，舌本強，言謇眩暈。素多痰濁阻絡，太陰厥陰主治。</p>
<p>異功散加半夏　天麻　竹瀝　石決　遠志肉　薑汁</p>
<p>又：言謇舌強久矣。漸至腰楚足痠，左股無力，轉側不舒，脈形小弱，右微數。此肝脾腎三陰並虧，日萌痱中之機。當究其本為要。</p>
<p>人參　生地　遠志　杜仲　蓯蓉干　天冬　麥冬　菖蒲　巴戟　竹瀝　薑汁</p>
<p>楊（31歲）　痿躄四月有餘，脈濡小澀，語言不利，痱風之象。腹痛，大便或溏或結。姑從中治，宗《內經》獨取陽明之義。</p>
<p>上耆　茯苓　牛膝　陳皮　砂仁　桑枝　白朮　木瓜　虎骨　當歸　白芍</p>
<p>又：痿躄不減，脈仍微細。前議三陰虧損，痱中最難取效。</p>
<p>熟地　蓯蓉　當歸　木瓜　牛膝　砂仁　虎骨　巴戟　杞子　陳皮　桑枝</p>
<p>陳　痱風有年，秋分節，風陽復動，面色赤而目左顧，汗易泄，舌色絳，時形搐搦振掉。總屬水虧，木失滋涵，變端有不可測者。幸脾胃尚佳，冀其資生之藥餌草木，非所恃也。擬方商正。</p>
<p>人參　麥冬　五味　棗仁　燕窩粥　石決　川斛　茯神　柏仁　雪羹湯代水。</p>
<p>陳　陡然寒慓齘齒，逾時康復，此亦痱風變幻。考《金匱》云：心中虛，惡寒不足者。與此適符。仲景用侯氏黑散填塞空竅之法，然用古而不必泥於古也。當祖其意而通之。</p>
<p>人參　牡蠣　石決明　棗仁　五味　茯神　龍齒　紫石英　麥冬　礬澄流水煎。</p>
<p>鄒（54歲）　手足麻木，已經一載。丹溪云：麻屬虛，木是痰。類中可慮。</p>
<p>熟地　當歸　桂枝　杜仲　桑寄生　虎骨　杞子　牛膝　竹瀝　薑汁</p>
<p>李　水虧於下，陽浮於上，舌本強，言謇頭痛，厥陽化風挾痰，類中之象。脘痞不舒，兼理氣分。</p>
<p>熟地　遠志　石決　牛膝　膽星　天麻　蓯蓉　菖蒲　川斛　鉤鉤　竺黃　沉香</p>
<p>蔣（58歲）　偏枯在右，下部無力。須培血中之氣。</p>
<p>首烏　黑芝麻　歸身　川斛　牛筋　黃耆　石決明　牛膝　杜仲</p>
<p>馮（47歲）　跌僕傷損，尻髀股膝痛楚，舌黃泄瀉，由肝腎衰憊，足三陰同病也。痱風難治。</p>
<p>萆薢　木瓜　茯苓　砂仁　焦術　虎骨　澤瀉　鱔血炒桑枝</p>
<p>華（42歲）　偏枯在左，宗丹溪養血以通經絡之痹。</p>
<p>熟地　歸身　杞子　桂枝　廣皮　虎骨　牛膝　木瓜　桑枝　竹瀝　薑汁</p>
<p>朱（54歲）　咳血已止，足痿乏力，舌本漸硬。此痱中根萌，未能速功。</p>
<p>熟地　茯苓　寄生　麥冬　木瓜　虎骨　牛膝　川斛　扁豆　還少丹</p>
<p>何（95歲）　下虛上實，眩暈耳鳴，足軟乏力，皆類中根萌。近復肝絡失暢，鬱勃宜慎。</p>
<p>蓯蓉　石決　杞子　川金　柏仁　歸身　川斛　牛膝　鉤鉤　另服磁石六味丸四兩。</p>
<p>朱　據述寒慄則厥，厥後善哭，針於脘中乃蘇。此濁痰上凌心位，心邪有餘，故笑也。古人都以龍雷定論，即以石頑法治之。</p>
<p>附子（另煎沖）　龍骨　膽星　鬱金　川連　遠志　茯神（硃砂拌）　川貝</p>
<p>又：昨進降濁陰，通靈竅，奠定神明等法。心中仍惡寒不定。再仿仲景侯氏黑散。</p>
<p>桂枝　細辛　防風　龍骨　當歸　乾薑　遠志　甘菊　牡蠣　炙草</p>

<h1>肝風</h1>
<p>鄧（38歲）　昔賢云：口眼常動，故風生，風搖則血液衰耗，無以營筋，故筋脈拘急，有歪僻之象。</p>
<p>桂枝　丹皮　石決明　桑葉　當歸　川斛　甘菊　黑芝麻</p>
<p>華　耳鼻常靜，故風息；口眼常動，故風生。昔賢論之詳矣。驟然歪斜，動則生變也。考諸《易》象有足徵焉。風行地上曰觀，觀者，目之義也，上動而下靜。山下有雷曰頤，頤者，口之義也，下動而上靜。見端若此，治法可悟矣。</p>
<p>制首烏　九孔石決　川斛　天麻　甘菊　料豆皮　鉤鉤　桑葉</p>
<p>殷（47歲）　陰虛生內熱，肝氣化風變幻。</p>
<p>細生地　茯神　歸身　沉香汁　石決明　棗仁　白芍　鬱金</p>
<p>榮（56歲）　陰虧肝鬱，化風化火，耳鳴，舌乾起刺，不得寐，脅脹，見象一斑。脈弦、沉滯帶數。議體用兩顧。</p>
<p>細生地　白芍　茯神　金鈴子　石決明　上沉香　棗仁　鬱金　雪羹湯代水。</p>
<p>王　云士夫人素來經漏損陰，水不涵木，化火化風，頭痛偏左，瘕聚瘰癧，見象一斑。入秋燥氣加臨，咳痰氣臭，嬌臟日虛，薄暮音漸不揚，心中有空洞若谷，胃納不旺，大便燥結，皆液虧火燥所致。前議西昌法極是，吾意參以育陰和陽，化痰息風，不致肺痿為幸。</p>
<p>細生地　麥冬　橘紅　石決明　川貝　北沙參　阿膠　茯苓　蛤殼　雪羹湯代煎。</p>
<p>朱　脈弦不寐，心中嘈雜。總由肝陽亢逆，化風內動。議以靜藥和陽之治。</p>
<p>生地　柏仁　白芍　川斛　淮麥　牡蠣　茯神　鉤鉤　棗仁　南棗</p>
<p>朱　交春節肝火未平，膝腫麻木，總由水虧不能涵養。當以乙癸同治法。</p>
<p>生地　茯苓　黃菊　丹皮　川斛　虎骨　牛膝　杞子　石決　陳皮</p>
<p>錢　神魂失守，夢寐間心陽馳逐，時或眩暈汗泄，總由陰虧陽浮。議與潛陽攝神方。</p>
<p>牡蠣　石決　朱茯神　棗仁　柏子仁　川斛　丹參　龍齒　料豆皮</p>
<p>華　素患肝風，入春陽升體痛身熱，非外感也。議和陽熄風治之。</p>
<p>生地　石決明　鉤鉤　茯苓　木瓜　川斛　料豆皮　丹皮　棗仁　山藥藤</p>
<p>陳　陰虧於下，陽亢於上，古人總以靜藥和陽益陰。宗乙癸同源之治。</p>
<p>六味加石決　白芍　川斛　青鹽</p>
<p>周　陰虛火升咽燥，筋脈抽引，眩暈悸動，大便不爽，總由水虧木火少藏，遊行變幻莫制，非易治也。宜與滋養。</p>
<p>大生地　石決　知母　雞子清　苓塊　龜膠　川斛　麥冬　人中白</p>
<p>蔣　肝風鼓動，口眼歪斜。</p>
<p>上耆　麥冬　當歸　青蒿　新會　甘草　茯神　白芍　骨皮　功勞葉</p>
<p>趙　風陽鼓動，口眼歪斜。</p>
<p>石決明　蒺藜　川斛　歸身　羚羊角　鉤鉤　天麻　丹皮　白芍　另用黃耆（五錢）　桂枝（三錢）　陳酒煎濃汁，以故布揩拭定處（患側）。</p>
<p>遲　眩暈跌僕，心悸蠕動，筋脈抽掣，肝風振盪。與養陰熄風。</p>
<p>生地　茯神　棗仁　石決明　淮麥　阿膠　柏仁　川斛　鉤鉤　南棗</p>
<p>畢　肝風入絡作脹。</p>
<p>細生地　絲瓜絡　沉香汁　首烏　石決明　阿膠　木瓜　料豆皮　鉤鉤</p>
<p>又：脹在膚，大便不爽。與泄厥陰。</p>
<p>韭根鬚　金鈴子　楂炭　醋青皮　沉香　兩頭尖　延胡　麥芽　厚朴</p>
<p>華　肝氣鬱勃化風，眩暈嘈雜，䐜滿不寐。宜養肝之體，理肝之用。</p>
<p>細生地　石決明　茯神　鬱金　砂仁　料豆皮　川斛　白芍　香附</p>
<p>華　高年陰液向衰，素患痔痛，春夏之交，風陽上冒，陡發經脈抽脹，幾至暈厥。身熱面赤，汗出淋漓，逾時爽然若失。脈弦數，舌苔黃厚尖紫，初用養陰熄風，和絡平胃，時作時止，幾無措手矣。用羚羊角、夏枯草、絲瓜絡、鉤鉤濃煎雪羹湯沖服，總未全瘳。轉用方諸水衝入，日進幾碗，熱漸平而苔濁黃厚不退，食粽又劇。再與枳殼、建曲、麥芽、橘白、鬱金，和胃寬中，得大便，又得小安。脈漸和，苔色減，然仍寐不安，筋仍掣，黎明汗泄。用黑棗仁四錢、炒木瓜七分，沖雪羹湯，日進二三碗。如是調理計及匝月，諸恙始有愈機。</p>
<p>廉（63歲）　向衰年歲，肝氣挾濕，化風頭暈，耳失其聰，食後少運，脈濡而弱，際此濕土司令，當扶中為法，熄風佐之。</p>
<p>黨參　霞天曲　茯苓　黃菊　杞子　於術　炒白芍　陳皮　石決　砂仁</p>
<p>徐　發則悸動巔脹，意不樂而抑鬱不舒，明是厥陽化風，盤旋鼓盪。宜以靜藥和陽，兼調氣機以暢其鬱。</p>
<p>石決　茯神　柏仁　白蒺藜（雞子黃拌炒）　沉香汁　牡蠣　香附　生地　料豆皮</p>
<p>孫　操勞鬱勃，木乘土位為脹，脈形窒滯，大便不爽，皆是咎徵。</p>
<p>川樸　半夏　大腹皮　茯苓　沉香汁　枳實皮（麥炒）　陳皮　砂仁　神麯　雞內金　小溫中丸二兩。</p>
<p>又：脹勢稍松，仍以疏肝之郁，泄腑之滯。</p>
<p>生香附　川樸　青皮　海金砂　枳實　神麯　大腹皮　赤苓　雞內金　沉香　仍服小溫中丸。</p>
<p>又：連進疏肝泄腑，腹笥大寬。下墜，陰囊，足跗浮腫，惡寒。行動則氣逆咳嗽。再為暖下泄濁。</p>
<p>生於術　苓皮　杏仁　川樸　雞內金　淡附子　澤瀉　椒目　萆薢　另服大針砂丸，空心下。</p>
<p>楊　風陽擾絡，悸動氣逆頻厥，胸脅痛且脹，疏補兩難，熄風緩肝是議。</p>
<p>白蒺藜　柏仁　新絳　白芍　沉香汁　石決明　川金　牡蠣　淮麥　南棗</p>
<p>馬　噎氣不舒，肢麻高歌，化風欲厥。</p>
<p>陳膽星　沉香汁　鉤鉤　菖蒲　元參　石決明　蘇梗　鬱金　橘紅</p>
<p>廉　此濕土司令，當扶中為法，熄風佐之。</p>
<p>黨參　霞天曲　茯苓　黃菊　杞子　於術　炒白芍　陳皮　石決　砂仁</p>
<p>唐　頭風痛偏左，兼咳寒熱。與泄風和陽。</p>
<p>鉤鉤　羚羊角　夏枯草　蔓荊子　杏仁　石決　丹皮　菊花　桑葉</p>
<p>袁　營虧絡虛，氣滯痛經，瘕聚脘脅作脹，風動振掉，眩暈發厥，皆見端也。宜熄風和陽，調奇經。</p>
<p>阿膠　石決　當歸　四制香附　茯神　白芍　柏仁　烏賊骨</p>
<p>鄒　下虛上實，過在足少陰厥陰。</p>
<p>熟地　當歸　茯苓　龜版　決明　萸肉　杞子　川斛　磁石　菊花</p>

<h1>肝火</h1>
<p>糜　耳鳴頭眩，左為甚，發作有時，每值嗔怒則劇，肝火有諸。宗鹹苦治法。消息病機。</p>
<p>生牡蠣　夏枯草　羚羊角　細生地　元參　金石斛</p>
<p>王　曲直作酸，肝膽之咎徵。</p>
<p>左金湯。</p>
<p>周　頭風痛而耳聾，咽痛，肝陽升逆，化火遊行，症經五旬。法宜滋降。</p>
<p>生地　石決　丹皮　夏枯草　黃菊　羚羊角　川斛　赤芍　元參</p>

<h1>眩暈</h1>
<p>諸　眩暈鼻衄，腰楚膝痠。</p>
<p>六味丸加杜仲　牛膝　豬腰</p>
<p>尤　肝鬱不舒，化風作眩。</p>
<p>鉤鉤　金斛　石決　新會　茯苓　丹皮　赤芍　香附</p>
<p>過　陰虧陽越，鬱勃化風，眩暈耳鳴，繼以鼻淵。宜清滋熄風。</p>
<p>細生地　川鬱金汁　石決　黑梔　丹皮　夏枯草　香附　赤芍</p>
<p>趙　奇脈暗傷，陽浮作眩。</p>
<p>熟地　牡蠣　石決　白芍　陳皮　沙苑　杜仲　川斛　茯苓　砂仁</p>
<p>柏　陰精少奉，陽光易亢，眩暈口乾。治宜滋養。</p>
<p>三才湯加麥冬　川斛　石決明</p>
<p>胡　厥陽眩暈跌僕，下部漸腫，腰楚帶下，八脈暗損，風陽鼓動使然。</p>
<p>石決　鉤鉤　生白芍　茯苓　澤瀉　天麻　黃菊　鬱金　牡蠣</p>
<p>諸　眩暈，痰黏噁心。宜熄風安胃方。</p>
<p>天麻　橘紅　茯苓　竹茹　鉤鉤　半夏　白芍　藿梗</p>
<p>秦　肝鬱化風，眩暈善悲，不得寐。宗長沙臟躁法，熄風和陽主之。</p>
<p>甘麥大棗湯加　石決明　茯神　川斛　柏仁　鬱金　沉香汁</p>
<p>尤　風痰眩暈，甚則嘔逆。</p>
<p>溫膽湯去甘草，加酒芩　天麻　鉤鉤　石決</p>

<h1>癲癇</h1>
<p>沈　癲癇頻發，從厥少治。</p>
<p>羚羊　菖蒲　丹皮　鬱金汁　石決　遠志　連翹　桑葉</p>
<p>又：丹溪云：癇厥根於龍雷。潛陽介類為宜。</p>
<p>羚羊　牡蠣　連翹　元參　石菖蒲　石決　龜版　丹皮　遠志　鬱金汁</p>
<p>過　痰火上蒙，防其癇厥。</p>
<p>天王補心丹（四兩）　白金丸（二兩）　和勻開水下四錢。</p>
<p>曹　風陽驟起，時或瘲為厥。恐成癇疾。</p>
<p>羚羊　石決　膽星　茯神　石菖蒲　鉤鉤　鬱金　橘紅　丹參</p>
<p>朱　疑懼健忘，乏力膽虛，中正之官失職。仿天王補心丹。</p>
<p>生地　麥冬　棗仁　丹參　遠志　南棗　當歸　麥冬　柏仁　茯神　淮麥</p>
<p>華　風陽未熄，巔頂痛仍不休，脈弦為減，長沙之旨也。下虛上實，素嗜酒，舌苔滑膩，挾濕生痰，今厥暫止，發亦甚易。預防之道，須推介類靜藥和陽，佐以扶正利痰，冀其應桴。</p>
<p>人參　茯神　熟地　川斛　遠志　牡蠣　龜版　阿膠　生白芍　雪羹湯煎。</p>
<p>又：前議滋填潛降，治其本也。考之古訓，癲癇病發於陰，情志內傷，痰氣阻遏，機竅鬱勃陽升，此致病之由也。診脈弦大而遲，舌苔濁膩，胃少納穀，見象一斑。上午稍得清朗，下午善欠多寐，頭風未熄，復厥奈何？擬方備商。</p>
<p>六君子加石決　竺黃　遠志　鉤鉤（一兩，煎湯代水）　另服白金丸。</p>

<h1>痰火</h1>
<p>朱　痰火襲入心包，神明矇昧，或笑或哭，病起有年，不易調治。</p>
<p>膽星（研調）　朱茯神　棗仁（豬心血拌炒）　石決明　川連（水炒）　遠志肉　柏仁　九節菖蒲</p>
<p>馬　風痰矇昧，妄語欲厥。</p>
<p>竹瀝　膽星　半夏　石決明　丹參　薑汁　川連　鬱金　鉤鉤　九節菖蒲　另服竹瀝達痰丸（二兩）　白金丸（二兩），橘紅湯下。</p>
<p>朱　經云：邪有餘則笑不休。病經年餘，兼從痰火門求之。</p>
<p>丹參　膽星　鬱金　茯神　橘紅　元參　川連　山梔　遠志　竹茹　細葉菖蒲　天王補心丹（四兩），空心，開水下四錢。</p>
<p>某　嗔郁，痰蒙多言，或笑或哭，經停五月。宜化痰暢肝。</p>
<p>香附　丹參　鬱金　川連　當歸　澤蘭　膽星　菖蒲　遠志</p>
<p>錢　痰氣結於會厭。</p>
<p>蘇梗汁　桔梗　半夏　麥冬　橄欖汁　元參　橘紅　杏仁　雪羹湯代水。</p>
<p>畢　煩勞陽升挾痰，神蒙不寐，寐易驚惕。宜鎮肝攝神，交合坎離。</p>
<p>洋參　元參　朱茯神　川連　石決　生地　麥冬　遠志肉　膽星　棗仁（豬心血炒）　菖蒲　金箔</p>
<p>程　前議熄風化痰，暈厥頻發，發時微笑，瘲目赤，此心肝兩經之火，挾痰瀰漫，正氣漸虧，恐變端叵測，不可不預為之備。參以扶正，冀稍應桴。</p>
<p>人參　膽星　鬱金　石決　細葉菖蒲　茯神　竺黃　橘紅　鉤鉤　雪羹湯代水。</p>
<p>顧　經云：神有餘則笑。驚駭，痰襲心包，此致病之由也。延久消瘦，神呆少寐，水火失交。治從坎離。</p>
<p>洋參　茯神　膽星　麥冬　菖蒲　生地　遠志　竺黃　丹參　棗仁（豬心血拌炒）　天王補心丹　白金丸</p>
<p>又：症象稍減，然當壯盛年歲，春夏之脈濡細，形神消瘦，殊為可慮。仍前法參以扶正，體用兩調。</p>
<p>人參　朱茯神　遠志炭　膽星　天竺黃　生地　棗仁（豬心血炒）　丹參　鬱金</p>
<p>顧　補劑頗適，所兼脈象細弱，難期驟復也。</p>
<p>人參　茯神　丹參　石決明　遠志　生地　棗仁　龍齒　竺黃　淮小麥</p>
<p>周　前以滋養熄風，利痰宣竅見效。當補攝緩調，冀其康復。</p>
<p>黨參　黃耆　棗仁　歸身炭　淮麥　熟地　茯神　遠志　石決明　南棗</p>
<p>又：風痰因驚入絡，屢經狂亂。今當春升司令，水不涵木，眩暈脘悶。議養陰熄風。</p>
<p>生地　茯神　遠志　生洋參　橘紅　菖蒲　石決　川斛　鬱金　玫瑰露　鉤鉤　天王補心丹，白金丸，和勻另服。</p>
<p>劉　體豐中虛，濕勝生痰，肝膽鬱勃化火，挾痰交結，神蒙狂亂，或笑或哭，中厥之漸。未能速功。</p>
<p>洋參　茯苓　石決明　川連　膽星　遠志　棗仁（豬心血炒）　琥珀　丹參　雪羹湯代水煎。天王補心丹，白金丸，和勻服。</p>

<h1>汗</h1>
<p>周　自汗經久不愈，胃納減少。宗玉屏風加味。</p>
<p>玉屏風散加茯神　棗仁　牡蠣　砂仁　柏仁　麥冬　川斛</p>
<p>顧　勞倦乏力，晨起自汗。宗東垣法。</p>
<p>黃耆　黨參　茯苓　地骨皮　白朮　麥冬　甘草　柏仁　浮小麥</p>
<p>湯　內熱盜汗，口不渴。仿柏子仁丸。</p>
<p>柏仁　冬朮　茯神　骨皮　浮麥　麥冬　牡蠣　川斛　白芍</p>
<p>杜　汗稍斂，多夢紛紜。</p>
<p>炒生地　茯神　龍骨　柏仁　五味　生耆　棗仁　牡蠣　杜仲　紅棗</p>
<p>朱　煩勞則汗易泄，陽升少寐，無非心腎不交，填陰潛陽，一定章程。</p>
<p>炒枯熟地　茯神　棗仁　牡蠣　淮麥　龜血版　川斛　遠志　五味　南棗</p>
<p>孫　腎失封藏，陽加於陰，謂之汗。</p>
<p>六味丸加牡蠣　麥冬　白芍　杜仲　川斛　建蓮　以上六味丸去丹皮澤瀉。</p>

<h1>不寐</h1>
<p>華　魄氣盛，魂不歸，肝不得寐。</p>
<p>瀉白散加淮麥　紅棗</p>
<p>朱　脈軟弱，不寐目澀。責在營不足。</p>
<p>貞元飲加杞子　茯神　柏子仁　黃菊　遠志　棗仁</p>
<p>凌　陽不交陰，寤不成寐，嘈雜悸動。與育陰潛陽。</p>
<p>熟地　阿膠　遠志　棗仁　淮麥　茯神　紫石英　雞子黃　柏子仁　南棗</p>
<p>朱　不寐滑泄，心腎失交而不運，口甜不渴，脾虛挾濕之象。大便或溏或結，滋燥不宜偏勝。仿妙香法，兼以丸藥調之。</p>
<p>益智仁　茯神　山藥　遠志　湘蓮　龍骨　茯苓　菟絲　芡實　木香</p>
<p>又：將交夏至，一陰初萌，最宜交合心腎，固攝陰陽為要。而脾失乾健，滋膩緩投。仍佐丸劑調之。</p>
<p>人參　茯神　菟絲　龍骨　黃柏（鹽水炒）　益智　遠志　五味　牡蠣　木香</p>
<p>朱　肝腎下虛，神魂失守，悸動少寐，多夢紛紜，耳鳴嘈雜，氣或升逆，自肝而出也。症自春升至此，此水火失交，恐多變幻。</p>
<p>熟地　雞子清　遠志肉　沉香汁　牡蠣　龍齒　阿膠　茯神　紫石英</p>
<p>謝　口甜不寐，仿溫膽法。</p>
<p>半夏　橘紅　金石斛　藿梗　竹茹　黑山梔　蔞皮</p>

<h1>消渴</h1>
<p>胡（29歲）　善食而瘦，經文謂之食㑊，大便溏薄，熱在胸膈，汗多不解，議從胃熱脾寒著想。</p>
<p>連理湯。</p>
<p>張（28歲）　消渴一年，金水同治。</p>
<p>固本丸加五味　石斛　天精草</p>
<p>計（33歲）　腎氣不攝，易成下消。</p>
<p>生地　菟絲　桑螵蛸　天冬　杜仲　萸肉　五味　補骨脂　川斛　湘蓮</p>
<p>王　腎水先虧，心火內熾，渴飲溲多，有消渴之慮。</p>
<p>大生地　五味　茯神　天精草　天冬　麥冬　川斛　山藥</p>
<p>又：渴稍止，而大便艱澀，滋養無疑。</p>
<p>生地　五味　白蜜　川斛　知母　熟地　麥冬　天冬　茯神　天精草</p>
<p>陳（34歲）　消渴幾及半載，龍雷灼金，陰液日涸，最為重候。姑擬王太僕法，所謂壯水之主，以制陽光。</p>
<p>八仙長壽丸加知母　天精草</p>
<p>陳　今年火運，少陽司天，消渴一年，形神漸瘦，溲多膩濁。此陰精少奉，少虧陽亢，亢則害也。大便燥，脈澀。壯水之主，保本之道也。</p>
<p>知柏八味丸加麥冬　嘉定花粉</p>

<h1>肺痿</h1>
<p>馮　口乾咳嗆，脈虛數，恐延為肺痿。擬用清金寧肺。</p>
<p>麥冬　炙草　川貝　玉竹　北參　桔梗　雞子清　枇杷葉</p>
<p>朱　經曰：熱在上焦者，因咳為肺痿。已經一載，咳必咽乾而痛，是虛火灼金，故音漸嘶矣。大便溏薄，宜滋不礙脾。</p>
<p>北參　川貝　扁豆　秋石　甘草　麥冬　桔梗　山藥　雞子清</p>
<p>朱　咳吐涎沫，半載不愈。肺痿之漸。</p>
<p>半夏　茯苓　甜杏　浮石　竹茹　麥冬　甘草　橘紅　款冬</p>
<p>費　咳隨熱勢損益，甚於晝而差於夜。金氣薄則畏陽光，恐延肺痿。仿喻西昌清燥救肺湯。</p>
<p>枇杷葉　炙草　杏仁霜　茯苓　桑葉　麥冬　石膏（糖炒）　阿膠</p>
<p>蔡（21歲）　熱久傷陰，脈弦數，本宜滋養，但嗽甚則嘔，胃氣受戕，金失所養，漸延肺痿。議以培土生金法。</p>
<p>蜜半夏　炙草　北沙參　蛤殼　竹茹　麥冬　粳米　茯苓　橘紅　十大功勞</p>
<p>薛　久咳涎沫，胃少納，脈短，恐延肺痿。與益胃生金。</p>
<p>西洋參　扁豆　川貝　橘紅　竹茹　麥冬　茯苓　生蛤殼　薏仁</p>
<p>又：肺金久虛，暑邪易侵。</p>
<p>西黨參　茯苓　川貝　扁豆　枇杷葉　麥冬　北沙參　地骨皮　荷梗　生蛤殼</p>
<p>余（64歲）　咳痰消瘦，納少便溏，肺痿大症，與培土生金。</p>
<p>冬朮　薏仁　炙草　橘紅　砂仁　半夏　扁豆　白芍　蛤殼</p>
<p>闕（85歲）　平素鬱勃，向衰之年，厥陽司升，耳鳴咳嗆，上脘窒滯不舒。近則寤不成寐，診脈短澀虛數，陰液內虧，將交秋燥，預進清金益胃，迎其生生之氣來復。恐延肺痿。</p>
<p>洋參　茯神　半夏曲　蛤殼　麥冬　棗仁　石決　玫瑰花露</p>
<p>李（94歲）　久嗽，前曾咳臭，屢經見紅，漸至失音。此起自熱在上焦，恐延肺痿。</p>
<p>麥冬　桑皮　薏仁　桔梗　枇杷汁　北沙參　川貝　茯苓　地骨皮</p>
<p>金（13歲）　損其肺者，益其氣。</p>
<p>黨參　茯苓　甜杏　桑皮　薏仁　上耆　麥冬　橘紅　玉竹　蛤殼</p>
<p>岳（34歲）　經言：熱在上焦，脈虛數者為肺痿。汗易泄，時惡風，肺主皮毛故也。唇口腐碎少納，兼理陽明。</p>
<p>枇杷葉　玉竹　石膏（糖炒）　扁豆　茯苓　麥冬　川斛　地骨皮　白薇</p>
<p>王　咳嗆盜汗，經云：損其肺者，益其氣。</p>
<p>玉竹　麥冬　柏仁　川貝　黨參　地骨皮　茯苓　川斛</p>

<h1>虛損（附失血、衄血）</h1>
<p>陸（18歲）　勞倦寒熱，溫之以氣，《內經》法也。</p>
<p>黨參　桂枝　鱉甲　茯苓　生薑　首烏　炙草　丹皮　陳皮　大棗</p>
<p>又：前方有效。</p>
<p>桂枝　青蒿　鱉甲　茯苓　生薑　炙草　丹皮　當歸　陳皮　大棗</p>
<p>許（39歲）　勞倦乏力，經曰：形不足者，溫之以氣。</p>
<p>黨參　冬朮　當歸　桂枝　砂仁　黃耆　炙草　茯苓　香附</p>
<p>黃　向有漏瘍，去冬失血，陰精漸耗，無力眩暈，行動數步，便欲氣逆，虛象顯著。</p>
<p>黨參　麥冬　牛膝　川斛　熟地　五味　茯神　杜仲</p>
<p>吳　腎失封藏久矣。陰虛則陽光上亢，亢則害，承乃制，經義昭然。屢經失血，金水同治。</p>
<p>熟地　天冬　杜仲　川石斛　牡蠣　麥冬　湘蓮　茯神</p>
<p>王　下虛上實，乙癸同治。</p>
<p>熟地　石決　川斛　女貞子　萸肉　沙苑　茯神　旱蓮草</p>
<p>王　陰虛，滋養是矣。然純陰之品，未能克復出精之機。宜兼益胃為穩。</p>
<p>生地　麥冬　川貝　綿耆　黨參　扁豆　川斛　茯苓</p>
<p>倪　病久元神虧損，微有寒熱，時或火升，不可苦寒傷胃，試思正不旺而終不降耳。擬方：</p>
<p>於術　首烏　歸身　青蒿　大棗　茯神　黨參　陳皮　生薑</p>
<p>又：盜汗怯冷，寒熱未已，營衛交虛，此病後治法不同於初起感冒也。</p>
<p>於術　茯神　鱉甲　首烏　浮麥　黃耆　棗仁　牡蠣　廣皮</p>
<p>王　下部乏力，耳鳴便艱。經云：精不足者，補之以味。</p>
<p>熟地　沙苑　杜仲　茯神　龜版　魚膠　豬腰　川斛</p>
<p>朱　積勞傷陽，陰失其守，以致去年驟然失血。經曰：陽絡傷則血外溢也。然血既去，陰必傷，時值盛夏，陰不配陽，故身覺熱而不耐勞動，勢所必然。診脈頗有力，非有餘也，仲景謂之為減。胃納甚少，亦宜柔藥養之。又曰：胃為陽土，得陰自安。拙見備商。</p>
<p>生地　川斛　茯神　地骨皮　藕　麥冬　白芍　扁豆　料豆皮</p>
<p>高　勞倦乏力，面無華色。經曰：形不足者，溫之以氣。</p>
<p>歸耆建中湯加陳皮。</p>
<p>陳　營血不充，甘溫養之。</p>
<p>上耆　甘草　茯神　木香　冬朮　當歸　棗仁　大棗</p>
<p>周　氣口脈大，身微熱，惡寒不知味。治從勞倦門。</p>
<p>上耆　陳皮　升麻　茯苓　砂仁　冬朮　甘草　柴胡　當歸</p>
<p>朱　水虧火炎，水火未得既濟之功。脈弦數，舌絳，小便艱澀。姑參造化之理，黃河之水天上來，人身則金能生水，水生則肝有制，胃有資矣。丹溪隔一治法，同一義也。若以通利之劑，當無是理。</p>
<p>天冬　百合　秋石　麥冬　燕窩　竹葉</p>
<p>又：誅伐過多，胃氣太傷，不容穀食，大便溏泄，中宮乏砥柱之權。舌絳無苔，柔土少津液之布。脈來數大，非有餘也。仲聖脈法為減耳。擬《金匱》麥門冬湯益胃生津，望其安穀。</p>
<p>人參　麥冬　茯神　扁豆　炙草　粳米　橘紅　香稻葉　建蘭葉</p>
<p>徐（29歲）　大吐衄血併發，經旨陽絡傷則血外溢也。症勢至險。姑涼胃泄沖法。</p>
<p>犀角地黃湯加牛膝　茯苓　麥冬　澤瀉　茅根　童便</p>
<p>陳（27歲）　左半脅背引痛，頻吐紫血，終瘀之象。宜仲淳法。</p>
<p>山漆汁　茜草　牛膝　藕節　歸鬚　生地　鬱金　茯苓　料豆皮</p>
<p>馮（33歲）　失血損陰，本宜補養，但偶兼外邪，頭脹鼻塞。姑與龍腦雞蘇意。</p>
<p>生地　桑皮　川貝　薄荷　地骨皮　玉竹　杏仁　枇杷葉</p>
<p>錢（19歲）　先天賦弱不充，咽乾微熱，症已久延。仿錢仲陽法。</p>
<p>六味加麥冬　元參　另服六味丸。</p>
<p>宋（45歲）　脈弦數大，陰損陽浮，大便艱澀。法宜滋養。</p>
<p>生地　元參　芝麻　天冬　茯神　柏仁　桑葉　麥冬</p>
<p>杜　曾失血，脘中痛，絡瘀之象。宗仲淳法。</p>
<p>降香汁　楂炭　延胡　鬱金　紅曲　歸鬚</p>
<p>王（27歲）　屢曾失血損陰，髀肢痠楚麻軟，下元不足有諸法宜填補合虎潛法。</p>
<p>熟地　虎骨　茯苓　沙參　杜仲　牛膝　黃柏　杞子　麥冬　桑枝　藕</p>
<p>吳（49歲）　屢失血，氣逆而短，更有漏瘍宿疾，填補無疑。但胃納少，寒熱無期，治非易治。</p>
<p>熟地　紫石英　沉香汁　青蒿　藕節　麥冬　北沙參　茯苓　丹皮　糯稻根鬚</p>
<p>何（63歲）　右半腹蠕動，飢則劇。治從建中。</p>
<p>小建中湯加歸身　杞子　牡蠣　茯神　沉香</p>
<p>徐（32歲）　酒客寒熱，目黃溲赤，嘔吐紫血，脘痛。絡瘀之象。兼之濕熱。症屬兩歧。以意圖之。</p>
<p>川鬱金汁　黑梔　茵陳　半夏曲　澤瀉　紫降香　山楂　赤苓　橘紅　紅曲</p>
<p>馬（24歲）　自服皂莢子，辛開太甚，肺失其合，且久恙元虛。姑與益胃生金法。</p>
<p>麥冬　扁豆　干百合　骨皮　生蛤殼　玉竹　川貝　款冬花　桑枝</p>
<p>朱（11歲）　先天不足，耳失其聰。</p>
<p>生地　杞子　山藥　遠志　磁石　石決　茯苓　菖蒲</p>
<p>徐（46歲）　瀉沖治衄，是景岳法。然納穀減少，以和陽益胃。</p>
<p>生地　川斛　茯苓　阿膠　藕汁　白芍　牛膝　陳皮　扁豆</p>
<p>尤（38歲）　調補真陰，以充髓海。</p>
<p>熟地　杞子　鹿角霜　杜仲　山萸　當歸　鹿角膠　川斛</p>
<p>過（65歲）　茹素內熱，心陽獨熾。</p>
<p>細地　金斛　麥冬　料豆皮　竹心　山梔　茯神　生草</p>
<p>張（34歲）　微寒熱，頻作無時，陽維為病。</p>
<p>歸身　白芍　細地　甘草　白薇　丹皮　桂木　生薑　大棗</p>
<p>朱（36歲）　嗜酒傷肺，屢失血，咽痛、痰黏作渴，陰津不主上奉，恐延損門。</p>
<p>炒生地　知母　麥冬　人中白　枇杷葉　元參　貝母　霍斛　雞子清</p>
<p>吳（22歲）　久恙漸至形瘦肉削，咳嗆，損及中州，坤厚日餒。理屬難愈。</p>
<p>黨參　茯苓　扁豆　砂仁　桔梗　白芍　於術　甘草　山藥　薏仁　川貝　香稻葉</p>
<p>岳（56歲）　胃不思谷，損門最為可慮。</p>
<p>洋參　麥冬　沙參　扁豆　茯苓　川石斛　白芍　橘紅　香稻葉　藕</p>
<p>朱（56歲）　嘔見紫黑血，脘中痛，平素好飲熱酒。丹溪云瘀留胃口有諸。</p>
<p>旋覆花湯加歸身　川金　山楂　紅曲　桃仁</p>
<p>曹（25歲）　失血屢發，發則盈碗，此衝陽升逆過胃，胃為都會之地，故見端若此也。但氣上少納，胃食頗鈍，中乏坐鎮之權，恐交節反復甚易耳。</p>
<p>洋參　上耆　茯神　白扁豆　棋子青鉛　麥冬　熟地　川斛　地骨皮　十大功勞</p>
<p>陳　交大節，陰虛陽升，血症復發，每於戌亥為多。龍相少藏，血隨氣上也。診脈芤弦，填下攝納為主。</p>
<p>炒生地　阿膠　牛膝　川斛　茯苓　龜版　牡蠣　青鉛　扁豆　藕節</p>
<p>倪（16歲）　遠行勞倦，兩經失血，時或腰楚，內傷之象。</p>
<p>六味加牛膝　杜仲　豬腰子</p>
<p>朱（34歲）　損其肺者，益其氣。</p>
<p>黨參　茯苓　麥冬　川貝　上耆　橘紅　蛤殼　地骨皮　白元米湯煎。</p>
<p>杜（17歲）　盜汗乏力，補養固衛。</p>
<p>生耆　牡蠣　茯神　冬朮　浮麥　柏仁　地骨皮　棗仁　白芍</p>
<p>吳（28歲）　熱久，寢食如常，起自下肢，與壯水之主。</p>
<p>知柏八味煎服。</p>
<p>丁（28歲）　內傷不足，寒熱無期，盜汗頗多。</p>
<p>上耆　首烏　川斛　牡蠣　白芍　茯苓　棗仁　煨姜</p>
<p>胡（18歲）　陽絡傷則血外溢。</p>
<p>生地　川斛　茜草　茯苓　童便　牡蠣　白芍　藕節　扁豆</p>
<p>丁（27歲）　漏瘍暗耗久矣，封藏不固，正涉地氣司升之候，絡血沸騰，咳嗆不已，兼之滑泄，或為盜汗，脈芤細數，皆是咎徵。</p>
<p>炒生地　北參　牡蠣　茯神　藕節　龜版　麥冬　川斛　茜草</p>
<p>陸（27歲）　脈濡細，陰虛及陽，身熱消瘦，汗出已多，衛不固，慮其損怯。</p>
<p>上耆　茯神　生地　五味　淮麥　麥冬　棗仁　白芍　柏仁　南棗</p>
<p>吳（31歲）　鼻衄不止。宗仲景當從衝脈治。</p>
<p>大補陰丸加丹皮　血餘　川斛　牛膝　藕節</p>
<p>孫　大鼻衄，兼行濁道為吐。始於瀉沖法，兼以鎮逆。</p>
<p>大補陰丸加牛膝　牡蠣　紫石英　川斛　扁豆　側柏汁</p>
<p>趙（14歲）　童真衄血，賦卑不充。</p>
<p>炒生地　山藥　牛膝　丹皮　藕節　料豆皮　茯苓　麥冬　澤瀉　另服六味丸四兩。</p>
<p>黃　向有漏瘍，去冬失血，陰精漸耗，無力眩暈，行動數武，便欲氣逆，虛象顯著。</p>
<p>熟地　麥冬　茯神　川斛　黨參　蓯蓉　五味　牛膝　杜仲　砂仁</p>
<p>張　血行清道為衄，甚至精明穴。向曾牙宣，體質陰虧，陽光易亢，平補三陰。</p>
<p>六味加阿膠　牡蠣　陳皮　側柏葉</p>
<p>翁　恙久陰陽偏勝，正值經行，水愈虧而陽越亢，熱勢轉甚，腰楚怯弱，良有以也。年逾五旬，衝任不固，八脈交損，以致見象非一。脈形虛芤帶數。總以和陽育陰為要。</p>
<p>細生地　女貞　牡蠣　茯神　杜仲　金石斛　旱蓮　白芍　棗仁　藕</p>
<p>又：前方頗覺安適，然陰虛陽浮，未見克服，便為之損。本胃納少振，所謂精生於穀，亦有生長之機。俟一陰來復，如何。</p>
<p>三才湯加茯神　金斛　牡蠣　玫瑰露　棗仁　白芍　女貞　藕</p>
<p>顧　耳失其聰，平補三陰。</p>
<p>六味丸加川斛　磁石　細石菖蒲汁</p>
<p>顧　熱不止，起於湧泉，下午入夜則劇，經斷，脘痛時嘔，脈來虛數，勞損見端，草木難期速功。</p>
<p>香附　鬱金　熟地　金斛　茯苓　丹皮　陳皮　砂仁　十大功勞　益母膏</p>
<p>潘　足腫枯瘦，麻木不仁，脊駝肋突，經來復斷，先天精血不充，損症難愈。</p>
<p>熟地　桂枝　牛膝　當歸　杞子　豬脊髓　鱔血炒桑枝　虎骨</p>
<p>蔡（41歲）　《難經》云：陽維為病苦寒熱，此之謂也。平素奇經不固，兼之肝氣，治宜兩顧。</p>
<p>當歸　丹皮　白薇　沉香　香附　湘蓮　鹿角霜　白芍</p>
<p>張（32歲）　失血後，心痛徹背。與育陰和陽。</p>
<p>生地　參三七　茜草　川斛　鬱金　料豆皮　茯苓　麥冬</p>
<p>華　腰楚頗重，議以補腎。</p>
<p>熟地　杜仲　當歸　川斷　沙苑　川斛　茯苓　胡桃　另服青娥丸二兩。</p>
<p>張（52歲）　臟躁欲哭，咳嗆咽乾。宗仲聖法。</p>
<p>炙草　知母　紅棗　玉竹　川貝　茯神　麥冬　淮麥</p>
<p>顧（64歲）　右一側眠，氣虛之徵。</p>
<p>黨參　炙草　茯苓　蛤殼　麥冬　五味　橘紅　川貝</p>
<p>陳（29歲）　脈左搏大，陰虛陽浮，以致鼻衄走陽，上下耗損，勢非輕淺。</p>
<p>炒熟地　牡蠣　杜仲　茯苓　龜版膠　萸肉　川斛　蓮鬚　菟絲子</p>
<p>畢　失血損症，滋養是矣。胃少納穀，頻欲嘔吐，子病及母為難治。經傷咳嗆，骨蒸微熱盜汗，脈數，見象甚著。</p>
<p>黨參　半夏曲　茯苓　青蒿　左秦艽　麥冬　陳黃米　金斛　鱉甲　炒烏梅</p>
<p>劉（25歲）　虛體不耐勞，行動則氣易逆，時或夢遺火升，素患血症，理宜填納。下體濕瘍，議先平補。</p>
<p>六味丸加鹽水炒川柏　杜仲　黑殼蓮</p>

<h1>遺精</h1>
<p>謝　陰精易泄少藏，耳為之苦鳴。</p>
<p>熟地　萸肉　山藥　杜仲　天冬　杞子　牡蠣　沙苑　茯神　菟絲　鰁魚膠　桑螵蛸</p>
<p>吳　病後不復，精關不固。</p>
<p>熟地　龍骨　茯苓　五味　鰁魚膠　川斛　牡蠣　菟絲　沙苑　湘蓮</p>
<p>陳　夢遺連發，陽升又經失血，幸中州無故。壯水攝納，子母兼顧。</p>
<p>大補陰煎加牡蠣　北沙參　川斛　麥冬　青鉛　茯神</p>
<p>錢　封藏不固，滑泄頻頻，腎脈上循喉嚨，嗆咳失音，良有以也。</p>
<p>生地　川貝　上耆　麥冬　黨參　扁豆　茯神　川斛</p>
<p>程　血去陰傷，且兼夢遺，虛陽易動。宜介類潛之。</p>
<p>龜版　熟地　杜仲　川斛　金櫻子　牡蠣　山藥　湘蓮　芡實　豬脊髓</p>
<p>王　真陰太虧之體，涉四月陽升之時，病之不愈，固無足怪，然濁轉加而精關不固，最為變劇之端，頗屬棘手。姑擬人參固本丸為主，望其轉機為荷。</p>
<p>人參固本加五味　山藥　川斛　黑殼蓮子</p>
<p>過　便後帶積，左半腹痛，覺氣墜而欲大便，知其清陽不升，肝脾同病也明矣。且兼夢遺，胃不思納，亦由氣分太泄，所以精關不固，腎中陽衰，胃陽亦不振矣。議與脾腎同治，宗仲淳意。</p>
<p>於術　炒枯砂糖　穀芽　湘蓮　荷葉　生菟絲　白芍　茯苓　陳皮　砂仁</p>
<p>薛　症經四載，初因白濁，繼而夢遺，後復無夢而泄，關鎖迨廢，腎失封藏，殊可慮也。</p>
<p>熟地　龍骨　益智　杜仲　桑螵蛸　萸肉　牡蠣　川斛　芡實　金櫻子</p>
<p>華　淋濁夢遺，為腎失封藏，龍火易動。宜壯水潛陽固攝。</p>
<p>熟地　杜仲　茯苓　川斛　菟絲子　湘蓮　牡蠣</p>
<p>過　肝腎陰虧，封藏失職，脈象微弦，風陽易亢。治從乙癸同源之治。</p>
<p>生地　茯苓　女貞　黃菊　川斛　杜仲　杞子　湘蓮</p>
<p>朱　脾不能運，腎失封臧，相陽易動，大便燥澀，水固虧而滋膩難投，脾惡濕也。然理脾礙腎，用藥頗難，以意為主。</p>
<p>霞天膠　炒於術　茯神　杜仲　建蓮　醋香附　淮山藥　柏仁　川柏　砂仁　豬脊髓</p>
<p>又：前方頗安，脹得寬而餘瀝未已。肝主疏泄，腎失封藏，最難參合。立方頗為不易。</p>
<p>霞天膠　炒於術　杜仲　川斛　黃柏　煨木香　茯神　香附　牡蠣　湘蓮　豬脊髓</p>
<p>張　肝脾之氣不和，少腹攻觸作楚，又經夢泄，腎真不固，尤為吃緊處矣。大便稍干，胃氣略開，此為休徵。脈濡小，尺部微弦。協和肝脾，兼攝下焦。</p>
<p>人參　於術　茯神　木香　砂仁　益智　菟絲　湘蓮　白芍　玫瑰露</p>
<p>孫　症經數載，或差或劇，中年腎真不固，開合之機廢。宗丹溪法。</p>
<p>大補陰煎加川斛　茯苓　杜仲　秋石　車前</p>
<p>徐（53歲）　交節龍相少藏，又經夢泄。脈象濡弦。填陰攝固奚疑。</p>
<p>大補陰煎加茯苓　菟絲　杜仲　五味　牡蠣　湘蓮</p>
<p>王（21歲）　夢遺損陰，又曾失血，下虛上實，腰楚眩暈。乙癸同源主治。</p>
<p>炒熟地　石決明　川斛　女貞　萸肉　沙苑　茯神　旱蓮草</p>
<p>陸（30歲）　下虛則眩，腎失封藏。</p>
<p>六味加石決　杜仲　牡蠣　湘蓮</p>
<p>華　腎失封藏。</p>
<p>熟地　萸肉　杜仲　湘蓮　芡實　金櫻子　龍骨　牡蠣　川斛　砂仁　另服威喜丸。</p>
<p>陳（37歲）　大鼻衄不止，兼之滑泄。此腎失封藏，厥陽上冒，最為重要。</p>
<p>大生地　龜腹版　牡蠣　川斛　芡實　建蓮　白芍　茯苓　料豆皮　側柏葉</p>
<p>陳（20歲）　封藏不固，陰失其守，陽曠其衛，盜汗漸熱，曾經痰血，損怯漸著。</p>
<p>生地　黨參　茯神　川斛　玉竹　地骨皮　杜仲　十大功勞葉</p>
<p>華（19歲）　臍左動氣築築，盜汗夢遺，皆肝腎下虛使然。</p>
<p>熟地　牡蠣　沙苑　杜仲　川斛　湘蓮　紫石英　柏子仁　茯神　砂仁</p>
<p>曹（35歲）　夢遺久而滑泄腰楚，腎失封藏，理宜固攝。兼之肝胃積飲，發則口甜脘悶，佐以交感丹。</p>
<p>熟地　牡蠣　茯神　菟絲　香附　陳皮　杜仲　湘蓮砂仁</p>
<p>朱（34歲）　復因嗔怒動肝，相火寄旺，翕然妄動，精泄莫制。經旨乙癸同源，潛陽固攝。</p>
<p>大補陰煎加牡蠣　茯神　菟絲　砂仁　淮藥　五味　建蓮</p>
<p>徐（34歲）　症因驚恐而作，驚則傷心，恐則傷腎，心腎失交，故多夢悸動，精關淋瀝，脈虛弦澀。治宜攝固。</p>
<p>枯熟地　萸肉　山藥　茯苓　五味　菟絲　牡蠣　建蓮　杜仲　另服孔聖枕中丹。</p>
<p>陳（22歲）　固攝精關，複方之制。</p>
<p>丸方：生地　杜仲　牡蠣　淮藥　茯苓　菟絲　龍齒　萸肉　沙苑　五味子　桑螵蛸　豬脊髓　建蓮　龜版　魚膠</p>

<h1>淋濁</h1>
<p>陸（36歲）　淋濁妨溺，通補兼施。</p>
<p>大補陰合導赤散加茯苓　菟絲</p>
<p>王（37歲）　內熱腰楚，血淋。</p>
<p>六味加龜版　牡蠣　杜仲　側柏葉</p>
<p>葉（26歲）　濁後溲頻餘瀝，莖中痛，症延已久。議壯水攝固。</p>
<p>六味加杜仲　龜版　川斛　秋石</p>
<p>錢　去冬滯下，濕熱不清，逗留二腑，早間大便黏膩，小溲不爽，勢欲淋濁，由操勞失分。清濁分理，開中為先。</p>
<p>萆薢　生於術　陳皮　枳殼　海金砂　益智　茯苓　澤瀉　車前</p>
<p>徐　淋濁莖中痛，上為目疾，肝腎虛火上升。先以導赤法使其下降。</p>
<p>導赤散加丹皮　茯苓　川斛　青鹽　料豆皮</p>
<p>萬（17歲）　溲色白而痛。議以濕熱治例。</p>
<p>川楝子　茯苓　木通　丹皮　陳皮　川柏　萆薢　細生地　黑山梔</p>
<p>王（52歲）　濁結而精竅覺動，亦屬腎氣下泄。仍宜固攝方。其溲便不清，兼調溺竅，通補兼施為是。</p>
<p>熟地　龜版　沙苑　魚膠　蓮鬚　川斛　木通　草梢　青鹽</p>
<p>丁（15歲）　精未滿而濁下不止，經旨腎司收藏，又中氣不足之謂歟。始擬平補三陰，遵薛氏法。</p>
<p>六味加於術　建蓮　另服威喜丸四兩</p>
<p>徐（26歲）　經云：腎者主水，受五臟六腑之精而藏之。今則封藏失職，水漸虧而火漸亢，斯百病生矣。診脈頗弦，長沙脈法為之減也。甚至遺滑無度，將有淋濁之慮，最難圖治。拙見以壯水為主，俾得水火無偏勝之憂，斯陰平陽秘，始克有濟耳。靜養維持，尤宜加意於藥石之先。</p>
<p>熟地　龜版　萸肉　山藥　杜仲　石蓮　龍骨　牡蠣　川斛</p>
<p>金（27歲）　相陽內亢，溲赤莖中痛，已及年餘，議宗丹溪法。</p>
<p>大補陰合導赤加茯苓　秋石</p>
<p>魯（28歲）　白濁三月不止，而溲不痛。宜平補固攝。</p>
<p>六味加牡蠣　川斛　杜仲　白螺螄殼　威喜丸</p>
<p>楊　血淋延久，真陰大傷，溲數而餘瀝作痛。以瀉南補北，壯水制火。</p>
<p>大補陰丸加茯苓　甘草　秋石　澤瀉　料豆皮</p>
<p>岳（50歲）　淋濁作楚，通攝並濟。</p>
<p>鮮生地　木通　知母　川柏　杜仲　茯苓　草梢　菟絲　陳皮　秋石</p>
<p>華（46歲）　腰楚血淋，溲痛。通補兼施。</p>
<p>大補陰煎加木通　草梢　琥珀　杜仲　料豆皮</p>
<p>王（72歲）　勞倦傷腎，血淋未已，風陽上旋，頭暈，牽掣痛楚。宜乙癸同治。</p>
<p>生地炭　木通　草梢　女貞　黃菊　石決明　阿膠　川斛　白毛夏枯草　絲瓜絡　雪羹湯代水。</p>
<p>過（36歲）　勞力傷腎，濕氣下注為濁。</p>
<p>炒生地　知母　黃柏　草梢　杜仲　木通　竹葉　茯苓　萆薢</p>
<p>虞（50歲）　陰虛龍相少藏，淋濁淹延不止。</p>
<p>大補陰煎加萸肉　淮藥　茯苓　菟絲　湘蓮　秋石</p>
<p>謝（56歲）　淋為衝任內傷，痛在少腹，二便均不通爽，固澀未穩。</p>
<p>烏賊骨　丹參　阿膠　龜版　川柏（酒炒）　茜草　黃芩　杜仲　車前　秋石</p>
<p>又：淋久漸欲閉癃，氣下墜，朝輕暮重，得暖稍適者，陰中之陽不振。故徒恃滋填無益也。</p>
<p>補中益氣加東垣滋腎丸</p>
<p>又：前方益氣升陽，閉癃氣墜均減，少腹痠楚，究是衝任內傷。仍前法加減。</p>
<p>補中益氣加杞子（青鹽炒）　豬脊髓</p>
<p>薛　先曾血淋，繼則溲濁，腎陰固虧，脾元亦弱，故食後不運而瘡痍，此可徵也。正值濕土司令，入夜微熱盜汗，脈虛，最易延入損門。仿立齋先生治意。</p>
<p>六味去萸肉加於術　川斛　益智　萆薢　另服威喜丸。</p>
<p>胡（27歲）　水虧龍相少藏，敗精陰竅，固有諸矣。然屢投辛香走竅，關閘漸馳，溺仍不利，開合之機失職。法宜通攝兼施，斯為王道。</p>
<p>大補陰煎加木通　草梢　遠志　琥珀　秋石　料豆皮另服東垣滋腎丸。</p>
<p>徐（35歲）　脈弦為減，長沙之旨也。火升口乾，陰精少奉，總由淋瀝暗耗，故未能驟期速動。</p>
<p>三才湯加鰁膏　川斛　龜版　白螵螄殼　沙苑　杜仲　川柏　另服威喜丸。</p>
<p>鄒（29歲）　淋濁如膏，兩月不愈，溲後仍痛。此內傷勞倦，濕熱不清。</p>
<p>黨參　白朮　茯苓　萆薢　澤瀉　車前　麥冬　草梢　黃柏　秋石</p>
<p>周（23歲）　右髀股筋攣作痛，幾及三月，漸延白濁，溲便不利，此肝腎內傷，濕熱下注，脈形虛數，口乾怯弱，殊非輕淺。</p>
<p>萆薢　黃柏　木瓜　虎骨　木通　車前　知母　牛膝　陳皮　桑枝</p>
<p>徐（16歲）　溲赤混濁，恐延血淋。</p>
<p>導赤散加萆薢　丹皮　川柏（酒炒）　料豆皮</p>
<p>胡（64歲）　溲濁如疳，老年氣液下脫，膏淋重症。不可輕視。</p>
<p>六味丸加上耆　菟絲　川斛　威喜丸</p>
<p>奚（60歲）　滋養臟陰，通泄火腑。</p>
<p>大生地　龜版心　知母　川柏　秋石　茯苓　豬脊髓　車前子</p>
<p>曹（66歲）　高年血淋氣墜，大便常溏泄。仿補中益氣法。</p>
<p>上耆　冬朮　茯苓　炙草　醋升麻　醋柴胡　白芍　地榆　陳皮　藕</p>
<p>馬（27歲）　淋濁腫痛，濕火下流。</p>
<p>大生地　龍膽　車前　澤瀉　知母　川柏　茯苓　萆薢　草梢</p>
<p>金　素患淋濁，腎陰虧乏久矣。濕邪下注，海底結癰之象。舌苔滑膩，脈形弦數，見象一斑。經云：陰虛者，陽必湊之。至陰之地，龍相所居，瀉南補北，莫如丹溪探本之道也。</p>
<p>生地（砂仁炒）　敗龜版　黃柏　知母　赤苓　澤瀉　陳皮　丹皮　苡仁　血珀　海金砂</p>
<p>任（45歲）　淋濁如泔，月餘不止。《靈樞》云：中氣不足，溲便為之變也。</p>
<p>四君子加川斛　牡蠣　菟絲　益智　澤瀉　湘蓮</p>
<p>華（49歲）　血淋，結塊色紫，艱澀難忍。與李瀕湖治柳橋之症頗似，姑仿其意。原方用虎杖散，今人不識此草，以杜牛膝代之。</p>
<p>琥珀　歸尾　赤芍　瞿麥　韭根鬚　料豆　丹參　木通　車前　杜牛膝根（細打煎好，另入麝香少許）</p>
<p>計　白濁溲痛。</p>
<p>大補陰煎加木通　車前　生草梢　淡秋石</p>
<p>黃　白濁溲痛，先通火腑。</p>
<p>導赤散加知母　茯苓　川柏　秋石　車前</p>
<p>朱（32歲）　小便頻數不楚，法宜固攝。</p>
<p>熟地　萸肉　川柏　龜版　杜仲　淮藥　川斛　蛤殼　桑螵蛸</p>
<p>諸（53歲）　痛淋赤塊，先曾腹滿，氣血鬱痹。議以通腑。</p>
<p>導赤散加血琥　茯苓　料豆皮　車前</p>
<p>徐（23歲）　血淋腰楚，宜通火腑，補水臟。所謂瀉南補北也。</p>
<p>大補陰煎加草梢　茯苓　木通</p>
<p>錢　小便帶紅，兼清營分。</p>
<p>導赤散加萆薢　茯苓　於術　通草　丹皮　澤瀉　木香　砂仁</p>
<p>又：丸方：</p>
<p>六味丸加於術　洋參　木香　萆薢　車前　川柏　蜜丸。</p>
<p>華（26歲）　掌心為勞宮心之滎穴，煩熱已久，小溲不清。仿火府丹。</p>
<p>火府丹加麥冬　黑梔　茯神　蓮子</p>

<h1>痿</h1>
<p>馮（42歲）　痿躄軟麻，脘悶氣壅，大便不爽，脈象中陽不運。仿胸痹法，亦獨取陽明之義也。</p>
<p>瓜蔞仁　薤白頭　桂枝　枳殼　上沉香　牛膝　當歸　陳皮　桑枝</p>
<p>陸（55歲）　足惡寒，痠麻無力，大便燥結口乾。仿虎潛法。</p>
<p>熟地　虎骨　川柏（酒炒）　牛膝　鎖陽　當歸　戟肉　桂枝　淮藥</p>
<p>顧（45歲）　驚蟄節候，地氣司升，素體水不涵木，木能生火化風，神魂由是少安，筋骨為之不利，痛兼腰脊髀股者，其咎可知。自述得寐則適，經言，不臥則血歸於肝，水能生木之謂也。乙癸同源，交合坎離。</p>
<p>阿膠　生地　雞子黃　朱茯神　棗仁　遠志　川斛　川斷　沙苑　廣皮白　桑枝（鴨血拌）</p>
<p>陳　痿躄不堅，經言獨取陽明。而脾虛濕勝之體，瘡痍愈。以意為主。</p>
<p>四君子加虎骨　萆薢　桑枝　黃柏　苡米　木瓜</p>
<p>朱（61歲）　口苦舌黃黑，脈濡數，嗜酒中虛，濕勝化熱，漸延痿躄，非輕象也。</p>
<p>生洋參　金石斛　麥冬　花粉　茯苓　澤瀉　苡仁　陳皮　麋　草</p>
<p>又：前方頗適，仍宗經法。</p>
<p>生洋參　麥冬　澤瀉　萆薢　麋　草　茅根　酒淡芩　白朮</p>
<p>錢（41歲）　填補通痹，上部小效，仍寒熱而熱減不舒。考古法有治痿獨取陽明之論，以陽明主束筋骨而利機關也。兼以丸藥緩調。</p>
<p>茯苓　益智　上耆　巴戟　砂仁　川斛　木瓜　桂枝　萆薢　威喜丸　虎潛丸</p>

<h1>腸痹</h1>
<p>張　前議溫潤寬暢，仍未大便，似有欲便不得之勢。且云肢麻畏寒，明是陽氣衰弱，失司旋轉。其脅痛且喜溫暖則適，尤屬可徵。六腑為陽，以通為用，胃宜降和，自然之理也。症因頻經嘔吐，胃氣逆行，失血之後，幽門廣腸則燥，愈燥則愈結，最難取效者，緩以圖之。如濟川並五仁、通幽，皆王道治法。未敢險峻耳。</p>
<p>蓯蓉　當歸　牛膝炭　柏子仁　麻仁　松仁　枳殼　蘇子　新會白</p>
<p>三劑後大便下。</p>
<p>沈　納穀稍可，大便燥堅，液枯欲結之象。</p>
<p>白蜜　半夏　當歸　柏子仁　牛膝　枳殼　橘紅　蘇子　鬱金　竹瀝　薑汁</p>
<p>周（29歲）　勞動傷陰，肛門火燥，大便不爽。議與清滋。</p>
<p>大補陰丸加麥冬　槐米</p>
<p>周（51歲）　二便不爽，經云：九竅不和，腸胃之所生也。</p>
<p>麻仁　桑葉　杏仁　芝麻　蔞仁　木通　枳殼　車前　川樸</p>
<p>顧　脈仍革，右為甚。腸痹症也。</p>
<p>鮮生地　歸鬚　牛膝　麻仁　杏仁　沉香汁　川樸　柏子仁</p>
<p>裴　操持過度，心腎不交，飢不能食，大便艱澀，皆津液內虧，陽明失司。出納圖治非易。</p>
<p>蓯蓉干　制洋參　茯神　牛膝　棗仁　烏芝麻　柏仁　麥冬</p>
<p>又：六日不更衣，胃腑失司下行，脈象短澀，液虧之象。法宜溫潤。</p>
<p>蓯蓉　牛膝　火麻仁　郁李仁　烏芝麻　當歸　麥冬　柏子仁　茯神</p>
<p>仍服天王補心丹，參湯送下。</p>
<p>又：得大便不爽，形氣衰弱，尺脈尤虛，殊為可慮。擬方商正。</p>
<p>大蓯蓉　人參　茯神　牛膝　柏子仁　沉香汁　紫石英　麥冬　五味　坎炁　天王補心丹</p>
<p>又丸方：人參　生地　當歸　元參　天冬　丹參　棗仁　茯神　麥冬　遠志　柏子仁　蜜丸　硃砂為衣。淮麥、南棗湯下。</p>
<p>劉（47歲）　木乘胃土，䐜脹，大便不爽。恐延腸痹。</p>
<p>蔞皮　桑葉　烏芝麻　枳殼　腹皮　青皮　陳皮　白芍　半夏　沉香　烏藥汁</p>
<p>馮（39歲）　氣滯脘痞，大便不爽。腸痹例治。</p>
<p>香附　鬱金　枳殼　紫菀　沉香汁　神麯　瓜蔞　杏仁</p>
<p>胡　痢後腸痹，咳嗽不大便。</p>
<p>杏仁　枳殼　橘紅　腹皮　蔞皮　桔梗　麥芽　桑皮</p>
<p>朱（56歲）　二便艱澀，氣墜不爽，症已久延，經言腎開竅於二陰。治從此義。</p>
<p>大蓯蓉　枳殼　淡秋石　茯苓　陳皮　炒柏仁　當歸　車前子</p>
<p>朱（35歲）　木鬱水虧，氣墜澀痛，溲不利而大便燥。症延四載，不易圖治。</p>
<p>生地　丹皮　當歸　膽草　木通　柴胡　山梔　白芍　車前</p>
<p>錢　服潤燥寬暢，得大便而少腹之脹滿不減，痰多納少，脘痞脈短，色奪消瘦，與胃實腑病有間矣。仿濟川煎合腸痹例。</p>
<p>胖蓯蓉　牛膝　桑葉　柏仁　麥芽　當歸　枳殼　芝麻　杏仁</p>
<p>余　腎司二便，出納之權廢弛，大便燥堅，小溲不禁。高年治在命門。</p>
<p>炒熟地　當歸　五味　蓯蓉　杞子　補骨脂　柏仁　黑芝麻</p>

<h1>癃閉</h1>
<p>王（59歲）　膀胱不利為癃，已經一載，據述勞動則劇。總由天乙虧損，以致機關不利，腎司二便也。與東垣滋腎法。</p>
<p>知母　肉果　黃柏　菖蒲　韭根鬚</p>
<p>又：據述晨起稍通，得暖稍適，膀胱之氣不化。仍用東垣法。</p>
<p>知母　黃柏　肉桂</p>
<p>吳（56歲）　溲不利，莖中痛。</p>
<p>導赤散加知母　黃柏　車前　滑石　瞿麥</p>
<p>華　延症一月，脈象小數，非實火也。宗經旨瀉南補北。</p>
<p>大補陰合導赤散加茯苓　菖蒲　萆薢　秋石</p>
<p>張　經云：膀胱不利為癃，氣化則能出矣。少腹滿，溲色赤，濕熱蘊結奚疑。苔膩作渴，脈形小數，正氣漸虧，恐多變幻，不可輕視。</p>
<p>西珀　滑石　赤苓　澤瀉　車前　竹葉　豬苓　木通　生草　黑梔　通草煎湯代水。</p>
<p>周（41歲）　膀胱不利為癃。</p>
<p>瞿麥　木通　金鈴　生地　菖蒲汁　車前　金沙　茯苓　澤瀉　草梢</p>
<p>一劑稍通，所下溺色白膩。照原方加飛滑石，去生地。</p>
<p>俞（51歲）　濕體氣化不及州都，小便欲出未能，腹中漉漉，恐延膨滿，理勢非也。但兼牙宣，行動乏力，腎關出納廢弛。參東垣法。</p>
<p>東垣滋腎丸（二兩）</p>
<p>陳（50歲）　癃閉稍通，未能暢達，且有肝氣，最宜疏泄，苦辛是議。</p>
<p>金鈴子　木通　沉香汁　枳殼　車前　兩頭尖　吳萸　歸鬚　柏仁　麻仁　韭根鬚　另服滋腎丸</p>
<p>又：泄肝通腑，僅獲小效。《內經》云：膀胱不利為癃。素性嗜酒，聚濕生熱，且驟起屬熱，大便亦閉，今溲下赤澀微痛，此痛乃瘀濁欲泄奚疑。</p>
<p>木通　細生地　草梢　金鈴子　滑石　瞿麥　車前　川連（吳萸炒）</p>
<p>許（26歲）　驟然癃閉，二腑皆痹，起自腹痛支滿，肝失疏泄。苦辛是議。</p>
<p>吳萸　歸鬚　郁李仁　山梔　麻仁　木通　金鈴　枳殼　車前　六一散　韭根鬚　兩頭尖</p>
