<header data-type="book">
<h1>增訂葉評傷暑全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張鳳逵</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>裘序</h1>
<p>《素問》有熱病者，皆傷寒之類，及凡病傷寒者，先夏至日為病溫，後夏至日為病暑之言。後人妄解經旨，多以熱病即是傷寒，溫病暑病亦即傷寒之所伏，但因發時不同，而名各別也。惟《難經》曰：傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病。已明示傷寒為一般感證之總稱，故世俗有濕溫傷寒、暑濕傷寒、熱證傷寒等之名目。蓋此傷寒二字，無異一病字之代名詞，猶之曰濕溫病、暑濕病、熱證病是也。夫辨名不清，設治亦混，竟有以治傷寒之麻黃湯方，施於溫暑諸病者，草菅人命，言之痛心。考張氏仲景《傷寒論》，本亦溫暑並及之書，不過亦以傷寒名各感證耳。反之，且有疑張氏為傷寒專家，張氏書專治傷寒，凡溫暑證未可以張氏方治也。吳氏又可著《溫疫論》，以比擬《傷寒論》，葉氏天士著《溫熱論》，亦比擬《傷寒論》，至吳氏鞠通，於葉氏書脫胎而著《溫病條辨》，凡例第一條曰：一、是書仿仲景《傷寒論》，作法，其亦以《溫病條辨》為《傷寒論》對待之文章也。蓋不知《傷寒論》，原亦包括溫病，如太陽病，發熱而渴，不惡寒者，曰溫病等言，是吾謂諸氏實推廣《傷寒論》一部份之言，《溫疫論》焉，《溫熱論》焉，皆屬於《傷寒論》統系的病理學及治療法，非與《傷寒論》並行的病理學及治療法也。至《溫病條辨》，既非《傷寒論》並行的書，尤非《傷寒論》統系的書，實為《溫熱論》之註解書也。則於《傷寒論》有前條辨後條辨同，雖然病變無窮，病理至微，吾儕學者，認《傷寒論》為六氣感證之綱要，能於六氣各有專書，條分縷析，如諸氏之論溫熱一氣者，未始非後學之導師，先賢之功臣也。不佞於二十年來，讀書臨證，凡見夫患溫病者固多，患暑病者尤多，獨怪後學不知暑為六氣之一證，先賢亦無暑之專書以相示。吳氏鞠通且謂暑亦溫之類，是猶古之溫為寒之類，同一混稱，夫傷寒與病溫，果相徑庭，而病溫與病暑，豈無差池？顧暑以日者二字合之而成，明是夏月烈日之氣而為病，故《內經》曰：後夏至日為病暑，以病之在夏至後得者，多屬於暑。《傷寒論》特立中暍之篇，日本醫稱之曰日射病，古今新舊，無不以暑屬專病，當火傘高撐，酷日臨空之際，或天時以陣雨相霖，或人事以冷水相潑，則地面上驟起令人不耐觸鼻之氣，是氣焉，即暑氣也。較之日本醫以為日光所照射以成病者，為尤甚。蓋日光所照射而成之病為冒暑，衛生家猶可避之。地氣所蒸騰而受之病為中暑，衛生家不易避之。張氏潔古老人謂避暑納涼於深堂大廈，大扇風車得之者，屬靜而得之之陰暑證，足徵暑邪防避之難也。業醫者苟於一年間診治之證，按日記之，自必以暑症居多數，故專治感證之醫溫，夏秋之間，其門如市，一過其時，遂無問津者，此尤足徵六氣感證中最多者為暑病，是以暑溫、暑濕、暑毒、中暑、冒暑、伏暑等之病名，幾乎家喻戶曉。奈何論暑專書，惟張氏鳳逵《傷暑全書》已。且張氏原刻，在明天啟年，相距不過數百年，其書已湮沒不可覓。讀醫書者，於《傷寒論》後，但於有《溫熱論》一，若傷寒病外，只有溫熱病，口頭日日念暑溫、暑濕、暑毒、中暑、冒暑、伏暑等病名，心上習焉不深求論治暑溫、暑濕、暑毒、中毒、冒暑、伏暑之書。嗚呼！暑病之重，關人生既如彼，暑書之輕，於人世又如此，不佞常引為醫界一憾事也。今秋揚州葉君仲經，自南京郵寄尊甫子雨先生遺著若干種，間有《增訂傷暑全書》未刊稿二卷，不禁喜出望外，開卷讀之。則張氏原書，於暑之為證，固屬兼收幷蓄，已不愧為全書，經葉氏增訂，於暑之為證，尤見發凡糾正，更足稱為全書。葉氏原序有曰：《素問》六氣之理，惟張長沙能造其微，又曰《增訂傷暑全書》，冀始學者，有以見暑證之要焉。又曰張氏其《素問》之功臣乎！數語見先輩著書之本旨，無不以羽翼先賢，啟導後學為心，不佞所主張以《傷寒論》為六氣病之綱要，《溫熱論》為推廣《傷寒論》六氣中一氣之書，今是書亦可謂為推廣《傷寒論》六氣中一氣之書，張氏其亦為《傷寒論》之功臣乎。學者能本葉氏增訂之心，有以見暑證之要者，當必知是書與《溫熱論》諸書並重焉。今有刊行國醫百家之舉，爰亟亟以是稿付諸手民，俾廣流傳。吾知《溫熱論》出，而溫病與傷寒鑑別明，是書出而溫病與暑病鑑別亦明矣，從此醫者多一方法，病者少一夭扎。然則葉氏保存與增訂是書之功，微特羽翼先賢，啟導後學已哉。</p>
<p><u>民國六年冬月紹興吉生裘慶元謹序</u></p>

<h1>葉序</h1>
<p>醫家以《素問》有風寒暑濕燥火之病，合於天之六氣，其變化若不可測，然則《素問》蓋醫之聖經也，聖經之義猶天也。天可幾及乎，階而升也。故涉山必歷層磴，登屋必藉高梯，欲明《素問》之旨，必賴後人之解說，解說之書也，非徒省誦讀率爾操觚之可至發明奧頤者也。余常以《素問》六氣之理，惟張長沙能造其微，他如金元諸家，亦時有著述，而暑之專論，代鮮及之，學者無可矩式，豈《卒病論》闕佚而失之耶？抑以暑病蓋寡，而遺而弗取耶？次復怪今之醫士，畏難而樂易，避深而就淺，日習《溫病條辨》、《溫熱經緯》諸書，詢以《素問》，則茫然不知所對，此所謂逐末而捨本矣，蓋患無階徑之可由也。六氣者同源而異流，是以經言寒暑六入，寒火之要，長沙河間既述於前矣，庸得於暑而無其階乎？心恆歉然，欲有作而未逮也。去歲於書肆獲睹張鳳逵先生《傷暑全書》，亟購歸案頭，日加索玩，而嘆曰：張氏其《素問》之功臣乎，暑證之階，舍此奚復他求乎？然亦時有未盡，愚誠譾陋，敢取諸家精當之言，附益於後，猶懼學者之難躋也。又自伸鄙意以釋之，凡正其訛謬，補其脫略，仍厚為二卷，目之曰《增訂傷暑全書》。冀始學者，有以見暑證之要焉，俾由鄙意，可以識張氏之意，即張氏之意，可以明《素問》之旨，而六氣之書，殆無缺憾矣。庶留心醫道之士，有可以幾於岐黃未顯之微言，舊有林北海增刊，無所得失，似屬贅疣，盡刪之。</p>
<p><u>時著雍閹茂杪秋石林醫隱葉霖書於鶴寄軒中。</u></p>

<h1>原序</h1>
<p>夫醫九流一技也，而回夭札與安樂，躋壽域而補造物之不逮，厥功博已，顧五行在手，則夭可延，陰陽未分，則延者促已，審之在跬步，而適之則燕越，可畏哉。寒暑均天地之厲氣，傷寒傷暑二病，均厲氣之能生殺人者，《素問》因寒因暑之說，昭昭為萬世的。顧傷寒書創自張長沙，詳於朱南陽，而反覆精析於陶節庵，其全書若眉列然，學者類能據籍按方而施治，故往往取效。若傷暑一證，醫書止列小款中，世皆忽之，一遇是證，率目為傷寒，以發散等劑投之，間加衣被取汗，甚灸以致傷生者，累累不悟，可不悲歟！予諸生時，萬曆戊子夏患茲證，勢極氣索，瞀然自憒，庸醫以為脾胃內傷，或以為勞役中折，幾不自持，徽醫汪韞石適在旁，蹙然曰：心煩面垢，此暑證也。何多指，聞之皆駭其名，予於瞀中微解依之，服益元散二劑而蘇，仍調以加味香薷飲數劑而愈。遂著《傷寒傷暑辨》一篇。刊於暑月印布，兼施藥餌，其捷效若谷響，乃發願蒐羅群書，著為全帙以濟世。懼閱歷未久不中窾，期五十以後方就筆研，戊申自計部以目恙請告，杜門靜攝，得畢志於性命黃老諸家，昕夕矻矻，無逸晷暇，即焚香兀坐，間入圜內視，百日不他，及目愈後，至天啟壬戌，感仙師教，就筆研挾古諸名家，參考編集而成帙。拮挶十餘載，約二萬餘千言，分為上下兩卷，議論皆常語，不敢鉤深，以便醫家覽解，方多遵古無他奇，宜證則靈，菽粟豈珍錯，而食其時，百骸理宜也。要在於燕越歧路處著力耳，平高貢，除妒忌，澄心察理，審證投咀，醫之上計乎。寧獨醫人一心耳。虛與實相反，拗與圓相仇，古今成敗之大關也。秉國成者，與謀國計者，身系社稷安危，操萬姓命脈，虛心圓智，蓋可忽乎哉！予因醫而廣其說。</p>
<p><u>天啟三年歲次癸亥孟夏朔旦賜進士出身奉政大夫戶部陝西司郎中穎郡張鶴騰撰</u></p>

<h1>卷上</h1>

<h2>辨春夏秋冬溫暑涼寒四證病原</h2>
<p>生氣通天論曰：夫自古通天者生之本，本於陰陽，天地之間，六合之內，其氣九州九竅五臟十二節，皆通乎天氣。其生五，其氣三，數犯此者，則邪氣傷人，此壽命之本也。由此論之，人身元氣，與天相通，頤養有道，病何從生？然則病生有因，其發有原乎，從其原而治之則易療。陰陽應象大論曰：天有四時五行，以生長收藏，以生寒暑燥濕風。人有五臟，化五氣，以生喜怒悲憂恐。又曰：因於露風，乃生寒熱，是以春傷於風，邪氣留連，乃為洞泄。夏傷於暑，秋為痎瘧。秋傷於濕，上逆而咳，發為痰厥。冬傷於寒，春必病溫。四時之氣，更傷五臟，此四時四氣之病原也。黃帝明以春溫根於冬寒，其間氣候相近，症恙相同，猶可言者，原未兼及暑也。至漢張長沙仲景著傷寒書，遂演《內經》之說曰：其傷於四時之氣，皆能為病，以傷為毒者，以其最成殺厲之氣，中而即病者，名曰傷寒。不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。自此論出，而後之業岐黃術者皆宗之，果爾是專主一寒氣。三病分久近，皆寒為根，故後世醫家，有四時傷寒之說，甚至通以麻黃桂枝湯兼治溫熱症，誤人良多。陶節庵諸名家，亦剖三病若列眉，而根始於寒，不免沿而未能脫，又何怪乎碌碌者？愚謂道以一氣生天地，以二氣生五行，五氣各司其用，而水火為最要，水火能生物，亦能殺物，若仲景之說，是水專擅其權，而火為虛而無用矣，愚為冬之寒病，專屬寒威，此固然不易者，至春時陽氣漸舒，孔竅開張，服御單夾，乃天氣變幻，倏暖倏寒，又多盪風，人感寒直入臟腑，故為溫病，猶可名曰春寒；已與冬寒不相蒙矣。況夏至後，炎火時流，蒸郁爍人，得病似傷寒者，皆是暑火所感而成，與冬之寒氣，毫不相涉，而亦以為冬寒之積久所發者誤矣。即生氣通天論曰：是故陽因而上衛外者也。因於寒，欲如運樞，起居如驚，神氣乃浮。因於暑，汗煩則喘喝，靜則多言，體若燔炭，汗出而散，是寒暑分因，水火別證，明列斷案，萬世醫學之祖也。又何惑乎？然《內經》之溫根於寒者何故？案《山海經》桂，名招搖，葉長二尺，桑名帝女，大圍五十尺，桂竹葉大二尺余，高數丈，其草樹奇怪類若此。據經想太古時，洪水橫流，懷山襄陵，草木閉塞，天地矇昧，陰靄拂鬱，陽明未舒，以故寒氣盛行，元和令少，即當大夏，亦無爍金之患。後世文明漸開，五行分布，水火之氣，各司其權，若斯爭烈者，即今春值淫雨，余寒為厲，甚者如隆冬，挾纊不能去，試觀晉中暑證寥寥，絕無痎瘧，皆陰勝之左券也，何況古洪荒世乎，此《內經》溫根於寒所由發也。何仲景遂申演其說，並暑而一類乎？是蛇足也。且古人茹毛衣草，簡緣淡薄，無助火之具，後世炙煿之味適口，醲郁之酒充腹，嗜欲灼精，塵勞食氣，皆足以噓焰而煽熾，宜暑火之乘類而善入也。謂古之寒病多而暑病少，今之寒暑並重，而暑為尤劇則可，愚故特列論曰：傷寒者感於冬之嚴寒，溫病者感於春之輕寒，若暑病則專感於夏之炎熱，若冰炭霄泉之不相及，一水一火，各操其令。治法一熱劑，一涼劑，各中其竅，而概以為寒因，不幾於執一遺二哉！予俯仰躊躇，萬不得已，敢於翻千古之案，以開百世之覺，破迷而拔苦，遂自甘於僭竊云耳。</p>
<p>霖按：《素問·生氣通天論》言春傷於風，邪氣留連，乃為洞泄，夏傷於暑，秋為痎瘧，秋傷於濕，上逆而咳，發為痿厥，冬傷於寒，春必病溫，此四時伏氣之機，陰陽互根之理也。春傷於風者陽邪也。留連日久，乃下為洞泄之陰病。秋傷於濕之陰邪，乃為上逆而咳之陽病。夏傷於暑熱之陽邪，至秋髮為痎瘧之陰病。冬傷於寒之陰邪，至春必發為溫熱之陽病。是陰陽上下之相乘也。此六淫之邪傷人，由人身之陰陽不固，故金匱真言論曰：夫精者身之本也。故藏於精者，春不病溫。夏暑汗不出者，秋成風瘧，足徵人身之氣血，皆生於精。冬宜閉藏，則陰氣固密，若縱欲精耗則陰虛，陰虛則陽邪易犯，故多病溫。夏宜疏泄，逆之而汗不出，汗不出則暑邪內伏，遇秋風悽切，寒熱相戰，則為瘧病。陰陽啟閉，時氣宜然，舉冬夏言，其春秋伏氣，自可類推。而陰陽應象論，又重複言四時伏氣者，蓋六淫之邪，亦由七情不慎，五臟化五氣為內賊以傷之，此《內經》反復闡明伏邪之義也。</p>
<p>又按：《素問·熱論》曰：今夫熱病者，皆傷寒之類也。越人五十八難曰：傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病。其名各不同，是傷寒為古醫經之通稱可證。仲景太陽篇，首揭發熱汗出，惡風脈緩者，名中風。惡寒發熱，體痛嘔逆，脈陰陽俱緊者，名傷寒。發熱而渴，不惡寒者，為溫病。發汗已，身灼熱，脈陰陽俱浮者，為風溫。辨論寒溫形證，朗若列眉，治暍三法，尤有深義。奈書經兵火散佚，雖高平王叔和編次，僅存傷寒治法，而溫暑亡失益多，不得拉雜叔和序例中語，妄議仲景寒溫莫辨也。《內經》溫根於寒，謂嚴寒遏熱，乃習坎之義，亦不須遠引洪荒，曲為解說，溫病固非春日之輕寒，暑病亦非專感夏日之炎熱，欲明溫暑伏氣之義，當細參《內經》，庶不為群言所惑。</p>

<h2>天時</h2>
<p>真源曰：天地之間，親乎上者為陽，自下而上四萬二千里，乃曰陽位。親乎下者為陰，自上而下四萬二千里，乃曰陰位。既有形名，難逃度數，且一歲者，四時八節，二十四氣，七十二候，三百六十日，四千三百二十辰，十二辰為一日，五日為一候。三候為一氣，三氣為一節，二節為一時，四時為一歲，一歲以冬至節為始，是時也。地中陽生升，凡一氣十五日，上升七千里，三氣為一節，四十五日，陽升共二萬一千里，二節為一時，一時九十日，陽升共四萬二千里，正到天地之中，而陽合陰位，是時陰中陽半，其氣為溫，而時當春分之節也。過此陽升而入陽位，方曰得氣而升，亦如前四十五日立夏，立夏之後，四十五日夏至，夏至之節，陽升通前計八萬四千里，以到天。乃陽中有陽，其氣熱，積陽生陰，一陰生於二陽之中，自夏至之節為始，是時天中陰降，凡一氣十五日，下降七千里，三氣為一節，一節四十五日，陰降共二萬一千里，二節為一時，一時九十日，陰降共四萬二千里，正到天地之中，而陰交陽位，是時陽中陰半，其氣為涼，而時當秋分之節也。過此陰降而入陰位，方曰得氣而降，亦如前四十五日立冬，立冬之後，四十五日冬至，冬至之節，降極通前計八萬四千里，以到地，乃陰中有陰，其氣冷，積陰生陽，一陽生於二陰之中，自冬至之後，一陽升如前，運行不已，周而復始，即陽升陰降之八節，而知天地，即溫涼寒熱之四氣，而識陰陽，夫陰陽判分，若黑白然。故春夏秋冬四時，隨令各別，溫熱涼寒四時，隨節候變易，冬至已後至春分屬傷寒，自春分至夏至屬溫病，自夏至至白露屬傷暑，自白露至立冬屬涼病，自立冬以後至春俱屬傷寒，蓋春秋之氣嘗不足，冬夏之氣嘗有餘，即四月八月間亦有暑病，蓋八月間曉暮夜氣雖涼而午未之時，秋陽燥烈，日火灼人，反毒於伏，蓋伏時氣發汗出，陽氣在表，此時陽氣漸斂，真火內燃，而又以烈日熏之，故毒易中人，熱證更劇，當細察之，雖其外證相類，而受氣不同，治法迥異，稍有不中節，害人不淺。而概用以寒證劑，其害可勝言哉！治者先數時令，後審時氣，隨令加減斟酌之，未有不立取效者，故為天時說。</p>
<p>霖按：論四時陰陽升降，即十二闢卦六陰充足於十月亥，陰極則陽生，故十一月冬至，一陽生於下，為地雷復卦，二陽生為地澤臨，三陽生為地天泰，四陽生為雷天大壯，五陽生為澤天央，至四月六陽充足，則為乾卦。陽極陰生，故五月夏至一陰生於下，為天風姤卦，二陰生為天山遁，三陰生為天地否，四陰生為風地觀，五陰生為山地剝，至十月六陰純靜，則為坤卦。夫坤為萬物之母，坤靜而純陰，何能生物？必待乾與之交，得其陽而後始能生萬物也。然交必陽體充足，乾之六陽乃充足於四月之巳，次為午，乾至五月夏至，陽氣升極，則下交感，坤陰之氣上承，故一陰動於下，為天風姤也。再交於六月未，三交於七月申，所謂坤三索於乾也。乾陽潛藏於坤陰，至冬至一陽動於下，故為地雷復也。此陰陽消長之機，不可移易者也。然既明陰陽升降消長之理，闢叔和序例，寒毒藏於肌膚，春變為溫，夏變為暑是矣。然不得界劃時日，為溫熱涼寒，未免緣木求魚。夫治病之法，首當察其微甚，辨其陰陽，觸類旁通，則頭頭是道。冬至陽生，井泉溫，人身所伏者陽熱，被冬日嚴寒所折，藏於肌骨之間，或為外邪逗引，或為情欲所傷，感而觸發，伏氣至淺，感寒至重，則為傷寒。伏氣日久較重，至春感風熱而發者，則為春溫。伏氣至重，延至立夏後，夏至前，為情欲所傷而發者，則為熱病。然微甚之機，又不必泥執立夏前為溫，夏至前為熱，惟當以伏氣之輕重以分溫熱也。若夫夏至陰生，井泉寒，人身所伏者陰濕，伏氣微感天日之陽，熱重者陰邪易消，惟餘熱熾，自當以辛寒泄熱，伏氣重，所感之陽邪微，宜用苦溫以燥濕。設表裡兩重，又當消息香薷飲以加減矣。活法運乎一心，固不可囿於方圓之中，亦不可出於規矩以外，天時人事，其庶幾乎。</p>

<h2>地氣</h2>
<p>天地之形，其狀如卵，六合於中，其圓如球，日月出沒，運行於天之上，地之下，上下東西，周行如飛輪，春夏日行北陸，秋冬日行南陸，太陽所臨其氣燠，故四方風氣，各有偏勝。秦晉地氣寒，遂寒病多而暑病少。吳越滇黔及粵地氣暖，故寒病常而暑病獨劇。至八九月猶如伏時，彼中盲醫不知，率以治寒劑投之，以火助火，又且禁人飲水食瓜，至不可救。予萬曆丙午，典試粵四。棘闈中簾官廝役多病此，呻吟聲相聞，醫皆以為寒。予詰之曰：某日曾風雨，爾曾服絮否，皆如法用涼劑而痊。撫臺楊公異而索方，予冗中姑抽胸臆數款並方；楊公遂付之梓，題曰張司農活人說。今其板貯西粵藩司中，楊公仁者乎，急於濟人如此，地氣不同，治法亦異，猶越人見罽而駭毳，燕人見布而疑黂，氣局之識圉之耳，安可一概施藥哉？寒而但見其寒，限於今也。熱而不知其熱，拘於古也。予慮大迷不解，特變而表之。</p>
<p>霖按：地形如球，凡日光所臨之赤道其氣暖，故南北皆有冰海也。以中國言，西北高原，病多風寒，東南卑下，病多濕熱。豆疹一證，相傳為馬伏波徵南所染，流入中原，蓋南越為君火之方，得氣最先，北口外至今未有豆患，緣寒水凝結之鄉，君火之氣不及，《素問》異法方宜論，不可不究心研玩也。</p>

<h2>辨寒暑證各異</h2>
<p>傷寒傷暑二證，流毒天地，沿襲古今，人率習而不察，據其外證，頭痛身痛，發熱惡寒等證相同，皆混於象，而不審內景，不觀乎時，因一名之曰寒，而不知其岐多端，甚不可一律論者，寒之傷人也。一二日在膚宜汗，三四日在胸宜吐，五六日在臟宜下，確有定期可據者。若暑則變幻無常，入發難測，不可尋想，彼暴中之激烈，扁鵲不及攦指而投咀，久伏之深毒，長桑不能隔膚而見臟，最為難察而難救已，即尋常之感，亦難覺知，非若傷寒之有定期定證，可據可療者，不拘表裡，不以漸次，不論臟腑，冒暑蒸毒，從口鼻入者，直中心胞絡經，先煩悶，後身熱，行坐近日，熏爍皮膚肢體者，即時潮熱煩渴，入肝則眩暈頑麻，入脾則昏睡不覺，入肺則喘咳痿躄，入腎則消渴，非專心主而別臟無傳入也。中暑歸心，神昏卒倒，暑傷肉分，周身煩躁，或如針刺，或有赤腫，蓋天氣浮於地表，故人氣亦浮於肌表也。冒暑入腸胃，腹痛惡心，嘔瀉，伏暑即冒暑，久而藏伏三焦腸胃之間，熱傷氣而不傷形，旬日莫覺，變出寒熱不定，霍亂吐瀉，膨脹中滿，瘧痢煩渴，腹痛下血等。（自入肝至此，採《醫學入門》。）並主治法，皆以清內火為主，而解表兼之，寒之中人乘其虛，暑則虛實並中，而實更劇。蓋氣血強盛之人，內已有伏火，加之外火炎炎相合，故焦灼為甚，經虛處寒棲之，經實處暑棲之，寒凌其弱，而暑親其類也。又藜藿常被寒，惟膏粱獨能御，若暑則不問膏粱藜藿，而咸能勝之侮之，雖廣廈累冰，蕙質生粟，輕羅紈綺，冷冷玉樹，一犯其烈焰，詎能卻之乎？是以知暑氣之毒甚於寒，乃古人專以寒為殺厲之氣，而不及暑何也？試觀寒病至七八日方危，暑病則有危在二三日間者，甚至朝發暮殆，暮發朝殆，尤有頃刻忽作，拯求不及者。如暑風、乾霍亂之類，然則暑之殺厲之氣，視寒尤甚，彰明較著矣。寒病止一途，察脈審候，執古方以療之易為力。暑證多歧，中熱中暍，中內中外，甚者為厥，為風，為癲癇，即發則泄瀉、霍亂、乾霍亂，積久後發則瘧、痢、瘡瘍，種種病名，約有十餘科，皆暑為厲，則暑殺厲之氣，視寒不幾倍哉！除暴中暴發，久伏後發，不可度量，其餘受發，亦有漸次焉。蓋盛夏之時，熱毒鬱蒸，無論動得靜得，其初入人也，不識不知，外之流火，與內之陽氣驟遇而爭，陽氣不服，先昏憒倦疲，及火與氣合，氣不能勝，火力雖漸散，為外熱燒灼不已，氣耗而血枯，故燥渴、痞塞、腹痛諸惡證作焉。此其變化，或乍或久，人莫自覺，醫家亦不能辨，至病深而後施治，故難速愈。宜早辨而早治之，則易愈而取效速。</p>
<p>霖按：此篇辨暑證，精細入微，辨傷寒尤有未盡。然寒暑辨易，溫暑辨難，請詳溫暑之辨，以補司農未盡之義。《素問·熱論》曰：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑，暑當與汗出勿止。此節經義不明久矣，詮釋家多以冬傷於寒，伏寒化熱，發於夏至前為溫病，發於夏至後為暑病，暑即熱也。溫為熱之漸，熱為溫之甚解。殊不知傷寒為外感通稱，故上經有熱病類傷寒之文，越人作傷寒有五之辨，此言凡病傷寒而成溫者，謂溫病熱病之類乎作寒者，非謂先病傷寒，轉輾不愈，而成溫成熱也。且此一節也，亦專論伏氣而言，當作兩截看。凡病傷寒而成溫者，先夏至日為病溫為一截，蓋言凡病類乎傷寒之溫病，在夏至前發者，乃冬至後陽熱被嚴寒殺厲之氣折伏，至春夏間因感觸發，謂之病溫，後夏至日者為病暑，暑當與汗出勿止為一截，此即夏暑汗不出者，秋成風瘧之互詞，夏至陰生，人身所伏者陰氣，遇天日之陽熱，蒸地氣以上騰，人在氣交中，感之為暑病，熱濕相搏，熱蒸濕為汗，熱清則汗止，故曰當與汗出勿止也。夫溫暑之治，其清熱雖同，而一宜兼益陰，一宜兼滲濕，陰陽之機有間，安可概論？泥執暑為熱病，熱乃溫之甚者，非也。</p>

<h2>暑證</h2>
<p>立夏以後，暑熱盛行，時人有頭疼噁心，身熱惡寒，手足厥冷，肢節沉痛，不思飲食，或氣高而喘，或氣短而促，甚者用手捫之，如火燎皮膚，或腹腸絞疼，或口鼻流血，病候與傷寒相似。不知者誤認傷寒，用風熱發汗藥，或加衣出汗，則元氣益虛，終不知悟。蓋此證乃夏屬陰虛，元氣不足，濕熱蒸人，暴傷元氣，人初感之，即骨乏腿軟，精神倦怠，昏睡懶語，其形如醉夢間，或無汗或微汗不斷，或大汗不止，煩渴飲水，胸膈痞悶，小便黃而少，大便溏而頻，或嘔或瀉或結，或霍亂不止。此等證與傷寒大異，按時而施治，據證而急療，無不應手者。語曰勿伐天和，正因時之道也。亦有不頭痛身痛惡寒者，治法皆同，治法輕者以五苓散，以利小便，導火下瀉而暑自解，或香薷飲辛散以驅暑毒，木瓜制暑之要藥也。或藿香正氣散、十味香薷飲之類，重者人參敗毒散、桂苓甘露飲、竹葉石膏湯、白虎湯之類，弱者用生脈散、清暑益氣湯、補中益氣湯等。若不分內外，不論輕重強弱，一概以和解，百發百中，隨試隨應，則無如六和湯最良矣。方書名家，古今甚眾，其中多所發揮，明切精密者，惟朱丹溪為最詳且要。近世著作，王宇泰先生，有《證治準繩》、《證治類方》諸帙，獨得其解，批窾中竅，轉丸遊刃之技，力追古名流已，工醫者所當時披誦而潛玩者也，治方見後。</p>
<p>霖按：暑證論治，此篇要言不煩，可作《醫門棒喝》，然未若仲景治暍精簡也。第一節言暑證總綱論曰：太陽中暍，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已洒洒然毛聳，手足逆冷，小有勞，身即熱，口開前板齒燥，若發其汗，則惡寒甚，加溫針，則發熱甚，數下之，則淋甚。夫暑為天日之陽邪，由口鼻皮毛襲入者多，先見寒熱，其身重疼痛，脈弦細芤遲者，暑多兼濕，蓋弦細芤遲中，寓濡象挾濕故也。太陰主表，膀胱亦主表，熱邪傷氣，故小便已洒洒然毛聳也。手足冷者，陽氣內鬱而不能外達也。熱濕盛於內，氣淫於外，故氣出身熱，口開齒燥也。若發汗則更傷其表氣，溫針則益其燥熱，下之則熱邪內陷，此示人以暑病之脈證禁忌，而不出方也。第二節論曰：太陽中熱者，暍是也。汗出惡寒，身熱而渴，白虎加人參湯主之。此言熱甚者，宜清熱生陰也。第三節論曰：太陽中暍，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也。一物瓜蒂湯主之，此言濕甚熱微者，以瓜蒂去身面四肢水氣，水去暑無所依則自解。觀其三法鼎峙，由此類推，其熱濕微甚，治暑已無餘蘊，誰謂長沙知治寒而不知治暑哉！</p>

<h2>暑厥</h2>
<p>夏月有卒然暈倒，不省人事，手足逆冷者為暑厥，此陰風也。不可驟用寒涼藥，先以辛溫藥散解之，俟醒然後用辛涼以清火除根，誤用熱藥及艾灸，立死。童便和薑汁灌，亦易蘇。</p>
<p>霖按：暑厥乃熱邪閉塞諸竅，先以紫金錠涼水磨服一二錢，俟厥回或以竹葉石膏湯，或以黃連香薷飲。夾濕者，白虎加蒼朮湯。陰虧者，麥冬湯，或生脈散，消息加減治之。西瓜、蘆根、蘿蔔、甘蔗諸汁，清涼滋潤之品，皆可與服。此言暑厥。若寒厥誤認為熱，則禍不旋踵，然其寒熱之辨，不可不知。凡四肢逆冷，身冷麵青蜷臥，手足指甲青黯，腹痛不渴，小便清白，大便溏泄，脈微遲者，陽衰於下之寒厥也。若四肢厥逆，身熱面赤，唇燥口乾，舌苦目閉，或不閉，煩渴，小便短澀，大便燥，脈滑者，陰衰於下之熱厥也。然而寒厥亦有忽然煩躁不寧，欲坐臥泥水井中，此陰極發躁之戴陽證，不可作熱治。熱厥亦有肢冷脈伏，乃熱邪入里，氣血不得宣通，所謂火極似水也，不可作寒治。夫卒然不省人事，肢冷脈伏，何以辨其脈之滑數為熱，微遲為寒那？雖然，兩手六部脈乍不見，而尺中應有一兩部未伏，設兩手雖伏，十二經動脈中必有兩三部不伏，即在此未伏脈中，仔細尋其微遲滑數，以定寒熱，若果全身之脈皆伏，其人已氣悶而絕矣。夫暴厥之因實繁，此就寒熱而論，然不獨寒熱當辨，即溫暑同為熱深之厥，其治有間，而況寒熱乎？是不容不辨也。</p>

<h2>暑風</h2>
<p>忽然手足搐攣，厲聲呻吟，角弓反張，如中惡狀，為暑風。亦有先病熱後甚，漸成風者，譫語狂呼浪走，氣力百倍，此陽風也。治法以寒涼攻劫之，與陰風不同，皆宜解散化痰，不宜汗下，有日久而脾胃弱者，宜溫補。</p>
<p>霖按：暑風即痙也。痙甚則厥，近世雖嚴寒溫之防，而取重於安宮、至寶、清營、紫雪之類，全是溫病伏氣，治法與中暑之痙厥，究隔一間。經言先夏至為病溫，後夏至為病暑，蓋夏至陰生，太陰濕土用事，濕熱火三氣交蒸，合而為暑，異乎春夏木火司令，觸發伏氣之溫熱也。夫暑邪由口鼻吸入，直逼血絡，鼓動內風，風火盤旋，勢不可遏，此少陽相火，太陰濕土，厥陰風木，三氣合邪，奔竄無常，故為痙為厥也。蓋手少陽三焦相火，與手厥陰包絡相通，暑熱之邪內襲，招引相火，火動風生，則肝木失養，故筋攣脈急，風煽火識，則包絡受邪，故神識昏迷，身中之氣，隨風火上炎，而有升無降，常度盡失，由是而形若屍厥矣，正《內經》所謂血之與氣，並走於上，則為暴厥者是也。外竄經絡則成痙，內逼膻中則為厥，其治速宜熄風泄火，達絡疏肝，急折其勢，以平其暴，不令其煎熬胃液，甚則用釜下抽薪法，以白頭翁湯消息治之，直折其厥少之盛，待勢稍衰，再議清通包絡，漸進化痰養陰清濕之劑，此正治也。更有暑邪熱極，脈微而躁，肢冷膚冷，面赤氣短，大汗不止而舌潤，或手拘攣，瞀亂昏迷者，乃邪熱逼汗，為陽越之證，急宜參附加童便以回陽，俟蘇後再以清暑養陰，以善其後。否則亡陽不救，然苟非脈微足冷，汗出舌潤，則仍是熱證，誤用參附即死。若無真知灼見，不可輕試，要亦不可不知也。</p>

<h2>暑瘍</h2>
<p>凡癰疽毒瘡，發熱有時，晡甚旦止。若夏月間，有頭面外項赤腫，或咽喉腫痛，或腿足掀腫，長至數寸，不能動履，人皆疑為瘡，但其頭痛內燥，晝夜發熱不止，自與瘡證不同。但以敗毒散加石膏、黃連等藥，熱證一解，赤腫自消，全無膿血，此名暑瘍，毫釐而千里者也。</p>
<p>霖按：暑瘍一證，熱勝者紅腫堅痛，風勝者則癢，濕勝者多膿水。治宜清達泄熱，消風祛濕，當權其微甚以消息之。</p>

<h2>暑瘵</h2>
<p>盛暑之月，火能灼金，若不禁辛酒，脾火暴甚，有勞熱燥擾，而火動於心肺者，令人咳嗽氣喘，驟吐血衄血，頭目不清，胸膈煩暍不寧，即童稚老夫，間一病此，昧者以為勞瘵，不知火在血上，非真陰虧損而虛勞者等也。宜四物湯、黃連解毒、二陳湯三藥內，去川芎、白芍、黃柏，以貝母易半夏，加桔梗以抑之，薄荷以散之，麥冬、五味以斂之，自愈。或加童便、藕汁，或黃連香薷飲一二劑亦可。靜攝數日，忌酒煎炒自安，是名暑瘵，宜酌而善用焉，或用東垣參苓調中亦妙。</p>
<p>霖按：暑瘵乃陰氣不生，陽氣不潛，證見咳血吐血，日晡煩蒸，早間清爽，舌白口渴，頭脹身疼、皆暑熱之邪內襲，陰劫絡傷，雖有宿恙，亦當先清絡熱。宜沙參、甜杏仁、川貝、蔞皮、連翹、麥冬、竹葉、鮮生地等味，鮮荷葉汁一杯和服，尤有奇功。俟血止後，再議育陰。若先後失序，或誤用溫補，則絡中伏熱不得外達，必成不治之證。醫見舌苔白，多疑伏寒，未敢逕用清涼，因循貽誤者有之，不知舌苔白乃暑邪傷氣，肺主氣屬金，金色白故也。</p>

<h2>絞腸痧</h2>
<p>夏間有不頭痛發熱，但覺小腹疼痛，或心腹俱痛，鼓脹痞滿，不能屈伸者，人或疑為陰證，或執為食生冷過多，不知皆暑火流注臟腑不能解，故先小腹痛，後及遍心腹。法宜六和湯清解之，或五苓散加香薷、木瓜、紫蘇、半夏之類利散之自愈。若以為陰病生冷，而用熱藥熱物助之，不可救已。或用炒鹽和滾水服，探吐痰涎亦妙。亦有發熱身痛等證，內兼心腹痛，大概吐法為上，用藿香正氣散，或二陳湯加厚朴、炒梔佳。</p>
<p>霖按：痧脹為寒熱錯雜之病，其因甚繁，絞腸特其一證耳，《金匱》所謂陰毒陽毒者是也，其試痧之法：脈與證相反者痧也；嚼黃豆無豆腥氣，嚼帶毛生芋子而不麻口者痧也。辨痧之法：先吐瀉而心腹絞痛者，多由穢氣而發；先心腹絞痛而吐瀉者，多由暑氣而發；心胸昏悶，痰涎膠結者，多從伏熱而發；遍身腫脹疼痛，四肢不舉，舌強不言者，多因寒氣冰伏火毒而發。治痧之法：病在孫絡者表也，先宜在病者背心輕輕向下刮之；病在絡脈者里也，先宜於十手足指甲處舌下兩旁兩臂彎及委中等穴刺之，以泄其毒，然後審證制方。王養吾痧書，郭右陶玉衡言之最詳，豈六和、五苓、正氣、二陳、便能蕆事哉？仲景於《金匱》未便定方，只以一升麻鱉甲湯加減，示人途徑，其意深矣！然痧脹之治難定，而痧脹之原，不可不知。</p>
<p>又按：《內經》言營氣取營運於中之義，西醫謂食入於胃，至小腸皆有微絲管吸其精液，上至頸會管，過肺入心左房，化赤為血，此即清者為營也。其血從左房入總脈管，由脊之膂筋，循行經脈間，一日夜五十周，盡八百十丈之脈道，以應呼吸漏下者之營氣也。經言衛氣取衛護於外之義，西醫謂經脈中之血氣，由脈管之尾，出諸氣街，入微絲血管，（經謂孫絡者是也。）與陽明之悍氣（人之飲食，五味雜投，奚能無毒？西醫謂之炭氣者是也。）相合，散布通體皮腠之間，充膚熱肉，淡滲毫毛，此即濁者歸衛也。脈管之赤血，既入微絲血管，合陽明悍氣，則其色漸變漸紫，（西醫因其有毒，謂之炭氣。）散布遍體，漸並漸粗，入回血管（經謂絡脈者是也。）之尾，血入回血管，內而臟腑，外而經脈，並脈管交相逆順而行，外行經脈者，有陰陽之別，一支浮於肌腠之上，一支沉於分肉之間，即陽絡行於皮表，陰絡行於皮里，而皆與脈管偕行，經言營在脈中，衛在脈外者是也。回血管內外行遍入總回管，至心右房，遞入於肺，呼出悍氣，吸入生氣，其血復化為赤，入心左房，經言陰陽相貫，如環無端者，此之謂也。痧脹為寒暑錯雜之毒邪，由皮毛而入者，與陽明悍氣合，阻遏纏布周身孫絡中之血氣，由口鼻吸受者，阻遏絡脈中之血氣，暑毒郁遏悍氣，愈遏其毒愈烈，故一發燎原，苟不急治，則毒由回血管入心，入心則死矣。急治之法，藥餌功緩，故宜刮宜刺，急泄其毒邪，不令入心，徐圖解救，否則不明致痧之原，妄使湯藥，幾同操刃。</p>

<h2>時疫（見朱丹溪）</h2>
<p>春應暖反寒，夏應熱反涼，秋應涼反熱，冬應寒反溫，此非其時而有其氣，是以一歲之中，長幼之病，多相似者，為時行溫疫病也。治法用人參敗毒散、九味羌活湯、夏加滑石、石膏，冬加麻黃、桂枝，春秋止依原方，或藿香正氣散、五積散、防風通聖散亦可，甚者黃連解毒湯、竹葉石膏湯。</p>
<p>霖按：疫者猶徭役之謂，大則一郡一城，小則一村一鎮，比戶傳染，多見於大凶之後，蓋旱潦兵火之餘，烈日鬱蒸，屍骸之氣，與亢勝之氣混合，化為沴厲之毒，散漫於天地之間，沿門闔境，最易沾染，若不傳染，便非溫疫，乃四時常氣之溫熱證耳。越人所謂異乎寒熱之溫病，其脈行在諸經，不知何經之動也，各隨其經之所在而取之。緣古無瘟字，溫即瘟疫之謂也，夫溫疫為天地沴厲之氣，不可以常理測，即不可以常法治。方書溫瘟不分，治法多誤，良可慨矣。先哲治疫，有上焦如霧，升逐解毒，中焦如漚，疏逐解毒，下焦如瀆，決逐解毒之論，深得治疫要領。故吳又可《溫疫論》，治熱濕相搏之疫，首用達原飲，繼則三消承氣以決逐之。陳錫三二分晰義。楊慄山《寒溫條辨》中，亦以升降散升決並用為首方，若余師愚疫疹一得之清溫敗毒飲，乃專治熱淫所勝之溫疫，故一意清熱，而不兼驅濕也。更有爛喉丹沙，傳變甚速，亦不外乎疏達清散，清化下奪，救液諸法，陳耕道《疫沙草論》之最詳。近又出熱疫白喉一證，其治法載諸張紹修《白喉捷要》，此兩證亦互相傳染，皆溫疫之流亞也。龐安常《傷寒總病論》所載，青筋牽、赤脈㩌、黃肉隨、白氣貍、黑骨溫諸疫，是本於《素問》遺編之五行五疫也，近人約為六證所謂大頭瘟、蛤蟆瘟、瓜瓤瘟、疙瘩瘟、軟腳瘟、絞腸瘟是也。斯皆疫之兼於溫者，其病層出不窮，其方亦難備載，豈人參敗毒、九味羌活兩方加減，便可概治，非常理所能測之溫疫哉！</p>

<h2>寒疫</h2>
<p>一夏月亦有病涼者，偶遇暴風怒雨，不及加衣，或夜失覆，或路行冒犯，皆能為涼證，此非其時而有其氣，謂之寒疫。治法與暑症異，亦以九味羌活湯、敗毒散、以辛散和解為主，不可專用汗藥。此論乃李東垣先生髮自十書中，從來醫書罕及，然僅百之一耳，以一律百，以或然為固然，左矣。</p>
<p>霖按：寒疫多病於金水不斂之年，人氣應之，以其毛竅開而寒氣閉之也。疫乃天地不正淫泆厲氣，頗難驟逐，非風寒之邪，一汗可解。治法宜蘇桂杏草等溫散，更察其兼濕兼風，消息治之。東坡在黃州，以聖散子治疫甚效，亦寒疫挾濕之方也。後永嘉宣和間服此方殞命者，不知凡幾，蓋以寒疫之方，誤施於溫疫者也。</p>

<h2>脈理</h2>
<p>《脈訣舉要》曰：暑傷於氣，所以脈虛弦細芤遲，體狀無餘。</p>
<p>劉覆真曰：暑脈虛而微弱，按之無力，又脈來隱伏弦細芤遲，皆暑脈也。脈虛身熱，得之傷暑中暍，脈虛而微者是也。寒病傳經，故脈日變，溫熱不傳經，故脈不變。寒病浮洪有力者易治，芤細無力者難治，無脈者不治。若溫熱則不然，溫有一二部無脈者，暑熱有三四部無脈者，被火所逼勒而藏伏耳，非絕無也，於病無妨，攻之亦易。醫人一診，驚走不知，照經用辛寒藥，火散而脈起，脈起而病愈，徒駭何益乎？要在辨之詳耳，蓋溫熱病，有中一二經，始終止在此一二經，更不傳遞別經者，其一二經或洪數，則別經弱且伏，依經絡調之，則洪者平，伏者起，乃愈徵也。昔在萬曆丁未三月間，予寓京師，備員太倉庫差，忽一日吏部同鄉劉蒲亭馳報曰，病劇求救。予就其寓，吏部同僚諸公環守之，已備後事，譫語抹衣不寐者七八日已。御醫院吳思泉，名醫也，偕醫數人治之。予診脈止關脈洪大，其餘皆伏，乃書方竹葉石膏湯。諸公皆驚曰：吳等已煎附子理中湯，何冰炭如是？予詰之。曰：吳雲陽證陰脈，故用附子。予曰：兩關洪大，此陽脈也。其餘經為火所伏，非陰脈也。吳厲聲相爭，予亦動色自任，諸公從之。一劑，晡時即止譫語抹衣，就寐片時，予視其脈，已洪者平而伏者起。諸公相視曰：此真張仲景也。又用辛涼藥調理痊愈。脈症有相合者易知，有相左者難知，脈明而後可以辨證，證真而後可以施藥，要在虛心細察，不可執己見而以百藥嘗試，令命在反掌間也，慎之慎之！</p>
<p>霖按：溫暑之脈多有伏者，然總不全伏，若診一二部未伏之脈必洪數，雖不洪數，細按之定必有力，初病尤當於血氣中以辨寒熱。《素問·陰陽應象大論》曰：左右者，陰陽之道路也。水火者，陰陽之徵兆也。此論血氣陰陽之升降，以藏氣言，肝木左升，肺金右降，以脈體言，左屬血，右屬氣。凡診感證之脈，傷寒多盛於左部，寒傷形，傷其有形之營血也。溫暑多盛於右部，熱傷氣，傷其無形之衛氣也。此水火之徵兆，血氣之左右，不可不察。若濕甚熱微者，又不可泥此。</p>
<p>又按：夫血氣陰陽，錯宗互用，其理淵微，言之不盡。自東垣《辨感論》，強分左為人迎，右為氣口，以人迎脈大於氣口屬外感，氣口脈大於人迎屬內傷。然此所云外感者，指外感風寒而言。云內傷者，指內傷飲食而言。蓋寒傷形血，故脈盛左部，食傷胃府，故脈盛右關。後世醫家，誤會其意，竟謂凡病外感，皆當左盛，凡病內傷，皆當右盛，血氣不分，陰陽莫辨，雖有王安道論之於前，吳又可論之於後，奈積習難反，寒熱倒施，能不遺人夭扎。鮮矣！若夫傷寒傳入陽明，右關脈實大者，燥矢填於胃府，宜議下，溫暑陷入陰經，左關尺數大者，肝腎之伏熱，與外熱相搏，多不治。活法在人，不可拘執，左大風寒，右大溫暑也。然而初病風寒，浮緊必盛於左部，初病溫暑，洪數必盛於右部，此又不可不察也。</p>

<h2>五運六氣</h2>
<p>運氣症治者，所以參天地陰陽之理，明五行衰旺之機，考氣候之寒溫，察民病之凶吉，推加臨補瀉之法，施寒熱溫涼之劑。古人云：治時病不知運氣，如涉海問津，諴哉言也。今遵先賢圖訣，撮其要領，使人一覽而知其悉也矣。</p>

<h3>五運配十干之年</h3>
<p>甲己得合為土運。乙庚得合為金運。丁壬得合為木運。丙辛得合為水運。戊癸得合為火運。</p>

<h3>六氣為司天之歲</h3>
<p>子午少陰君火。丑未太陰濕上。寅申少陽相火。卯酉陽明燥金。辰戍太陽寒水。巳亥厥陰風木。</p>

<h3>南政北政</h3>
<p>甲己土運為南政，蓋土居中央，君尊南面，行餘四運，以臣事之，面北而受令，所以有別也。</p>

<h3>十二支年分運氣</h3>
<p>子午年少陰君火司天，歲氣熱化之候。</p>
<p>司天者，天之氣候也。</p>
<p>君火者，手少陰心經也。心者君主之官，神明出焉。君火乃主宰陽氣之本，余象生土，乃發生萬物之源。</p>
<p>陽明燥金在泉。</p>
<p>在泉者，地之氣候也。</p>
<p>初之氣，厥陰風木用事，子上父下，益辛瀉苦。自年前十二月大寒節起，至二月驚蟄終止。</p>
<p><u>天時</u>　寒風切冽，霜雪水冰，蟄蟲伏藏。</p>
<p><u>民病</u>　關節禁固，腰腿疼，中外瘡瘍。</p>
<p>二之氣，少陰君火用事，火盛金衰，補肺瀉心。自二月春分節起，至四月立夏終止。</p>
<p><u>天時</u>　風雨，時寒雨，生羽蟲。</p>
<p><u>民病</u>　淋氣鬱於上而熱，令人目赤。</p>
<p>三之氣，少陽相火用事，君相二火，瀉苦益辛。自四月小滿節起，至六月小暑終止。</p>
<p><u>天時</u>　大火行，熱氣生，羽蟲不鳴，燕百舌杜宇之類。</p>
<p><u>民病</u>　厥熱心痛，寒更作咳喘目赤。</p>
<p>四之氣，太陰濕土用事，子母相順，瀉肺補腎。自六月大暑節起，至八月白露終止。</p>
<p><u>天時</u>　大雨時行，寒熱互作。</p>
<p><u>民病</u>　黃瘟衄血，咽乾嘔吐痰飲。</p>
<p>五之氣，陽明燥金用事，心盛肺衰，火怕水復。自八月秋分節起，至十月立冬終止。</p>
<p><u>天時</u>　溫氣乃至，初冬尤暖，萬物向榮。</p>
<p><u>民病</u>　寒熱伏邪，於春為瘧。</p>
<p>六之氣，太陽寒水用事，火衰心病，瀉咸益苦。自十月小雪節起，至十二月小寒終止。</p>
<p><u>天時</u>　暴寒勁切，火邪恣毒，寒氣暴止。</p>
<p><u>民病</u>　生腫，咳嗽，甚則血溢，下連小腹而作寒中。</p>
<p>丑未年太陰濕土司天，歲氣濕化之候。</p>
<p>太陰濕土者，足太陰脾經也。脾屬中央戊己土，每季寄王一十八日，合為七十二日，以應一歲，六六三百六十日之成數也。</p>
<p>太陽寒水在泉。</p>
<p>初之氣，厥陰風木用事，主旺客衰，瀉酸補甘。自年前十二月大寒節起，至二月驚蟄終止。</p>
<p><u>天時</u>　大風發榮，雨生毛蟲。</p>
<p><u>民病</u>　血溢，經絡拘強，關節不利，身重筋痛。</p>
<p>二之氣，少陰君火用事，以下生上，瀉甘補咸。自二月春分節起，至四月立夏終止。</p>
<p><u>天時</u>　大火至，疫癘，君命宜行，濕蒸相搏，暴雨時降。</p>
<p><u>民病</u>　瘟疫盛行，遠近咸若。</p>
<p>三之氣，少陽相火用事，土旺剋水，補腎瀉脾。自四月小滿節起，至六月小暑終止。</p>
<p><u>天時</u>　雷雨電雹，地氣騰，濕氣。</p>
<p><u>民病</u>　身重跗腫，胸腹滿，感冒濕氣。</p>
<p>四之氣，太陰濕土用事，甘旺咸衰，補腎益膀胱。自六月大暑節起，至八月白露終止。</p>
<p><u>天時</u>　炎熱沸騰，地氣升，濕化不流。</p>
<p><u>民病</u>　腠理熱，血暴溢，寒瘧，心腹脹，浮腫。</p>
<p>五之氣，陽明燥金用事，土能生金，益肝瀉脾。自八月秋分節起，至十月立冬終止。</p>
<p><u>天時</u>　大涼，霧露降。</p>
<p><u>民病</u>　脾胃寒，瘧痢甚行。</p>
<p>六之氣，太陽寒水用事，以上克下，瀉脾補腎。自十月小雪節起，至十二月小寒終止。</p>
<p><u>天時</u>　大寒凝冽。</p>
<p><u>民病</u>　關節禁固，腰腿拘痛。</p>
<p>寅申年少陽相火司天，歲氣火化之候。</p>
<p>少陽相火者，三焦浮流之火，火邪則炎上，上克肺金，金受克，腎水失母，則上盛下虛，虛陽上攻，變生諸疾，至傷元氣。</p>
<p>厥陰風木在泉。</p>
<p>初之氣，厥陰風木用事，子父相逢，瀉苦益辛。自年前十二月大寒節起，至二月驚蟄終止。</p>
<p><u>天時</u>　熱氣傷人，時氣流行。</p>
<p><u>民病</u>　寒熱交作，咳逆頭痛，血氣不調，心腹不快。</p>
<p>二之氣，少陰君火用事，肺衰心盛，制苦益辛。自二月春分節起，至四月立夏終止。</p>
<p><u>天時</u>　暴風疾雨，溫濕相蒸。</p>
<p><u>民病</u>　上熱咳逆，胸膈不利，頭痛寒熱。</p>
<p>三之氣，少陽相火用事，夏旺火識，補益大腸。自四月小滿節起，至六月小暑終止。</p>
<p><u>天時</u>　炎暑亢旱，草萎河輸。</p>
<p><u>民病</u>　煩熱，赤目喉閉，失血熱渴風邪，人多暴死。</p>
<p>四之氣，太陰濕土用事，火能生土，瀉甘補咸。自六月大暑節起，至八月白露終止。</p>
<p><u>天時</u>　風雨時降，炎暑未去。</p>
<p><u>民病</u>　瘧痢交作，寒熱頭疼。</p>
<p>五之氣，陽明燥金用事，肺金受邪，瀉苦補辛。自八月秋分節起，至十月立冬終止。</p>
<p><u>天時</u>　寒熱風雨，草木黃落。</p>
<p><u>民病</u>　邪寒風熱，君子周密。</p>
<p>六之氣，太陽寒水用事，心火受克，瀉咸補苦。自十月小雪節起，至十二月小寒終止。</p>
<p><u>天時</u>　寒溫無時，地氣正寒，霜露乃降。</p>
<p><u>民病</u>　感冒寒邪，關節不利，心腹痛。</p>
<p>卯酉年陽明燥金司天，歲氣燥化之候。</p>
<p>陽明燥金者，肺與大腸之氣，象庚辛金也。</p>
<p>少陰君火在泉。</p>
<p>初之氣，厥陰風木用事，金木相剋，補酸瀉辛。自年前十二月大寒節起，至二月驚蟄終止。</p>
<p><u>天時</u>　陰始凝，風始肅，水乃冰，寒雨多，花開遲。</p>
<p><u>民病</u>　寒熱浮腫，失血嘔吐，小便赤淋。</p>
<p>二之氣，少陰君火用事，火盛金衰，瀉辛益酸。自二月春分節起，至四月立夏終止。</p>
<p><u>天時</u>　臣居君位，大熱早行。</p>
<p><u>民病</u>　疫癘流行，人多卒暴。</p>
<p>三之氣，少陽相火用事，主盛客衰，瀉心補肺。自四月小滿節起，至六月小暑終止。</p>
<p><u>天時</u>　燥熱交合，風雨暴至。</p>
<p><u>民病</u>　寒熱頭疼，心煩作渴。</p>
<p>四之氣，太陰濕土用事，以下生上，瀉辛益酸。自六月大暑節起，至八月白露終止。</p>
<p><u>天時</u>　早秋寒雨，有傷苗稼。</p>
<p><u>民病</u>　卒暴寒熱，風邪傷人，心疼浮腫，瘡瘍失血。</p>
<p>五之氣，陽明燥金用事，金盛木衰，瀉肺補肝。自八月秋分節起，至十月立冬終止。</p>
<p><u>天時</u>　冬行春令，草木生青，風雨生蟲。</p>
<p><u>民病</u>　寒熱作痢，氣血不和。</p>
<p>六之氣，太陽寒水用事，客來助主，益苦瀉咸。自十月小雪節起，至十二月小寒終止。</p>
<p><u>天時</u>　氣候反溫，蟄蟲出現。</p>
<p><u>民病</u>　疫癘溫毒，寒熱伏邪。</p>
<p>辰戌年太陽寒水司天，歲氣寒化之候。</p>
<p>太陽寒水者，足膀胱經也，與足少陰腎經合為表裡，屬北方壬癸水。</p>
<p>太陰濕土在泉。</p>
<p>初之氣，厥陰風木用事，脾胃受邪，瀉咸助甘。自年前十二月大寒節起，至二月驚蟄終止。</p>
<p><u>天時</u>　氣早暖，草早榮，溫風至。</p>
<p><u>民病</u>　瘟疫寒熱，頭痛嘔吐瘡瘍。</p>
<p>二之氣，少陰君火用事，心火受邪，瀉酸補甘。自二月春分節起，至四月立夏終止。</p>
<p><u>天時</u>　春寒多雨，寒濕無時。</p>
<p><u>民病</u>　氣鬱中病，浮腫寒熱。</p>
<p>三之氣，少陽相火用事，以上克下，瀉咸助苦。自四月小滿節起，至六月小暑終止。</p>
<p><u>天時</u>　暴熱乍涼，疾風暴雨。</p>
<p><u>民病</u>　寒熱吐痢，心煩悶亂，癰疽瘡瘍。</p>
<p>四之氣，太陰濕土用事，木旺土衰，瀉甘補酸。自六月大暑節起，至八月白露終止。</p>
<p><u>天時</u>　風濕交爭，雨生羽蟲，暴風疾雨。</p>
<p><u>民病</u>　大熱短氣，赤白痢瀉。</p>
<p>五之氣，陽明燥金用事，金生水旺，制咸益苦。自八月秋分節起，至十月立冬終止。</p>
<p><u>天時</u>　濕熱而行客主令。</p>
<p><u>民病</u>　氣虛客熱，血熱妄行，肺氣壅盛。</p>
<p>六之氣，太陽寒水用事，水盛水衰，瀉酸助苦。自十月小雪節起，至十二月小寒終止。</p>
<p><u>天時</u>　凝寒雨雪，地氣正，濕令行。</p>
<p><u>民病</u>　病乃悽慘，孕婦多災，脾受濕，肺旺肝衰。</p>
<p>巳亥年厥陰風木司天，歲氣風化之候。</p>
<p>厥陰風木者，足厥陰肝經也，肝屬東方甲乙木，春旺七十二日也。</p>
<p>少陽相火在泉。</p>
<p>初之氣，厥陰風木用事，脾胃受邪，瀉酸補甘。自年前十二月大寒節起，至二月驚蟄終止。</p>
<p><u>天時</u>　寒始肅，客行主令，殺氣方至。</p>
<p><u>民病</u>　寒居右脅氣滯，脾胃虛壅。</p>
<p>二之氣，少陰君火用事，火旺金衰，瀉心補肺。自二月春分節起，至四月立夏終止。</p>
<p><u>天時</u>　寒不去，霜雪冰，殺氣施，木草焦，寒雨至。</p>
<p><u>民病</u>　熱中，氣血不升降。</p>
<p>三之氣，少陽相火用事，肺經受邪，瀉苦益辛。自四月小滿節起，至六月小暑終止。</p>
<p><u>天時</u>　風熱大作，雨生羽蟲。</p>
<p><u>民病</u>　淚出，耳鳴掉眩。</p>
<p>四之氣，太陰濕土用事，木土相刑，瀉酸益甘。自六月大暑節起，至八月白露終止。</p>
<p><u>天時</u>　熱氣返用，山澤浮雲，暴雨溽濕。</p>
<p><u>民病</u>　心受邪，黃疸，面為浮腫。</p>
<p>五之氣，陽明燥金用事，以金刑木，瀉肺益肝。自八月秋分節起，至十月立冬終止。</p>
<p><u>天時</u>　燥濕更朦，沉陰乃布，風雨乃行。</p>
<p><u>民病</u>　寒氣及體，肺受風，脾受濕，發為瘧。</p>
<p>六之氣，太陽寒水用事，主助客勝，瀉酸補甘。自十月小雪節起，至十二月小寒終止。</p>
<p><u>天時</u>　畏火司令，陽乃化火，蟄蟲出現，流水不冰，地氣大發，草乃生。</p>
<p><u>民病</u>　瘟疫，心腎相制。</p>
<p>按：天上地下，而人居其中，一氣布分，三才並立。人與天地，呼吸相通，升降相符，故陰陽寒暑之氣，內外合一，若魚與水然，故運氣所感，即人之疾疴應之。善攝生者，能調和臟腑，使血氣順軌，天時不能侵，不則逐氣而化疫癘，扎瘥不可勝瘳。至於因證而思治，癘不能幹，人可以勝天，是在乎司命留意焉。</p>
<p>霖按：運氣之學，白首難窮，本不必過泥，然此篇言六氣而不言五運，且有主氣而無客氣，何以明勝復亢制之理？設逕執某年某氣應患何病，必用何藥。則誤人非淺，轉不若繆希雍之不言為善，茲將客氣主運客運錄於下，聊備詳查，不足知運氣之奧也。</p>

<h2>增訂客氣客運活法</h2>
<p>客氣者，乃地之陰陽，正化對化，加臨主氣，六位之客氣也。夫天干起運，地支起氣，如子午年少陰君火司天，陽明燥金在泉，氣由下而升上，即以在下之陽明起之，陽明燥金，金生水，客之初氣為太陽寒水。水生木，二氣為厥陰風木。木生火，三氣為少陰君火。火生土，四氣為太陰濕土。三陰極生一陽為震，即少陽相火，故少陽相火為客之五氣。太陰濕土，土生金，陽明燥金為客之六氣，余仿此推，故丑未年客之初氣，厥陰風木，二氣少陰君火，三氣太陰濕土，四氣少陽相火，五氣陽明燥金，六氣太陽寒水。寅申年客之初氣，少陰君火，二氣太陰濕土，三氣少陽相火，四氣陽明燥金，五氣太陽寒水，六氣厥陰風木也。卯西年客之初氣，太陰濕土，二氣少陽相火，三氣陽明燥金，四氣太陽寒水，五氣厥陰風木，六氣少陰君火。辰戍年客之初氣，少陽相火，二氣陽明燥金，三氣太陽寒水，四氣厥陰風木，五氣少陰君火，六氣太陰濕土。巳亥年客之初氣，陽明燥金，二氣太陽寒水，三氣厥陰風木，四氣少陰君火，五氣太陰濕土，六氣少陽相火也。主運者，每歲不移之主運也。以木為初運，在年前大寒後交木生火，以火為二運，在春分後交火生土，以土為三運，在芒種後交土生金，以金為四運，在處暑後交金生水，以水為五運，在立冬後交。每運各主七十三日五刻有奇，此歲歲之常也。客運者，十干合化之運也。甲己之年為土運，乙庚之年為金運，丙辛之年為水運，丁壬之年為木運，戊癸之年為火運。此每歲加臨之中運，每歲以中運起運。如甲己之年，土運統之，即土為初運，土生金，金為二運，金生水，水為三運，水生木，木為四運，木生火，火為五運。乙庚之年，初金運，二水運，三木運，四火運，五土運。丙辛之年，初水運，二木運，三火運，四土運，五金運。丁壬之年，初木運，二火運，三土運，四金運，五水運，戊癸之年，初火運，二土運，三金運，四水運，五木運。此歲歲變遷之客運也。但乙丁己辛癸屬陰乾，為五陰年，主不及之運、甲丙戊庚壬屬陽干，為五陽年，主太過之運，此陰不及陽太過之例也。</p>
<p>所載主氣客氣主運客運者，皆四時之常，不足候天地之變。沈存中曰：寒暑風雨水旱螟蝗，率皆有法，而人之眾疾，亦隨氣運盛衰，其術多不驗何歟？蓋膠於定法，而不知所用故也。假令厥陰用事，其氣多風，民病濕泄，豈普天之下皆多風？普天之民皆病濕泄耶？至於一邑之間，而暘雨有不同者，此氣運安在？欲無不謬，不可得也。大凡物理有常即有變，運氣所主者常也，異乎所主者皆變也。常則如本氣，變則無所不至，而各有所佔，故其候有從、逆、淫、郁、勝、復、太過、不及之變。其發皆不同，若厥陰用事多風，而草木榮茂，是之謂從。天氣明潔，燥而無風，此之謂逆。太虛埃昏，流水不冰，此之謂淫。大風折木，雲物濁擾，此之謂郁。山澤焦枯，草木凋落，此之謂勝。大暑燔燎，螟蝗為災，此之謂復。山崩地震，埃昏時作，此謂之太過。陰森無時，重云晝昏，此之謂不及。隨其所變，疾厲應之，皆視當時當處之候，雖數里之間，但氣候不同，而所應全異，豈可膠於一定？熙寧中京師久旱，祈禱備至，連日重陰，人謂必雨，一日驟晴，炎日赫然。予時因事入對，上問雨期，予對曰：雨候已見，期在明日。眾以謂頻日晦溽，尚且不雨，如此暘燥，豈復有望？次日果大雨。是時濕土用事，連日陰者，從氣已效，但為厥陰所勝，未能成雨，後日驟晴者，燥金入候，厥陰當折，則太陰得伸，明日運氣皆順，以是知其必雨，此亦當處所佔也。若他處候別，所佔亦異，其造微之妙，間不容髮，推此而求，自臻至理。夫沈氏為以主客皆常，而以當時當處所見者為客，深得軒岐活法。若邵弁占候補遺十五條，尤嫌緣刻，未能盡運氣之變也，故不錄，其太過、不及、淫、郁、從、逆、勝、復之應，仍當於《內經》中求之。</p>

<h1>卷中</h1>

<h2>古今名醫暑證匯論</h2>
<p><u>張機</u>　字仲景，東漢南陽人。舉孝廉，官至長沙太守，作《傷寒論》，醫方大備。扁鵲倉公，無以加焉，後世稱為醫聖。</p>
<p><u>孫思邈</u>　唐景兆華原人。幼稱聖童，隋文帝召不拜，太宗即位召見，拜諫議大夫，固辭。隱太白山，學道養氣，得度世之術，洞曉天文，精究醫業，著《千金方》三十卷。</p>
<p><u>朱肱</u>　號無求子，宋吳興人。深於傷寒，著《活人書》，道君朝詣闕投進，授奉議郎醫學博士，其中論暑一二款，見節庵內，不另載。</p>
<p><u>劉完素</u>　字守真，金河間人。少聰敏博學，忽遇異人，以酒飲之大醉，及寤，洞達醫術，撰《運氣要旨論》、《精要宣明論》、《素問玄機原病式》。然好用涼劑，以降心火益腎水為主，自號通玄處士。</p>
<p><u>張元素</u>　字潔古，金易州人。八歲試童子舉，二十七歲試經義進士，犯廟諱下第，乃學醫，洞徹其術，其學則李東垣深得之，其論不另載。</p>
<p><u>李杲</u>　字明之，號東垣，元之鎮人也。幼好學，博經史，尤樂醫藥，捐千金從張元素，盡傳其業，當時稱為醫聖，《東垣十書》，多其著述。</p>
<p><u>朱震亨</u>　字彥修，學者尊之曰丹溪先生，元末婺之義烏人也。自幼好學，日記千言。從許文懿公得朱子四傳之學。因母病，即慨然曰：士苟精一藝，以推及物之仁，雖不仕於時猶仕也。乃棄舉業，一於醫致力，褒然稱醫大成焉。</p>
<p><u>方廣</u>　字約之，號古庵，休寧人。讀儒之暇，留意醫經，為名醫，善用丹溪法。</p>
<p><u>王綸</u>　字汝言，號節齋，浙江慈溪人，官至廣東布政，因父病精醫，著《明醫雜著》，發丹溪所未發，世甚尊信之。</p>
<p><u>陶華</u>　字尚文，號節庵，餘杭名醫。幼讀儒書，旁通百氏，著《傷寒瑣言》，發仲景所未發，大行於世，正統間被徵，引疾歸，時論高之。</p>
<p><u>虞摶</u>　字天民，號恆德老人，正德花溪人。著《醫學正傳》、《醫學權輿》、《醫學集成》，岐黃之宗匠也。</p>
<p><u>李梴</u>　字文清，江右南豐人。生儒家，習詩禮之訓，惓惓有志於澤物，遂博古今方論，著《醫學入門》，雖時業乎，而精詳可追花溪。</p>
<p><u>王肯堂</u>　字宇泰，號損庵，金壇人。中萬曆己丑進士，授翰林檢討，制舉義鑿覈，傳誦海內，尤以歧黃顯，所著有《證治準繩》、《證治類方》諸書，大行於世，慧識燭照，精心縷析，力追古人焉。</p>
<p>按：自古以方術名世者，多不能遍列，姑即其切於治暑者，錄其論並方，因錄其姓氏，使後之業岐黃者，誦其書以考其世，奮然有仰止之思焉，安知不與古長桑、伯元諸公，兢駕而馳聲乎？</p>

<h3>張仲景·傷寒例第三論、濕暍第四論、辨太陽病脈第五論</h3>
<p>傷寒例第三論曰：脈盛身寒得之傷寒，脈虛身熱，得之傷暑。</p>
<p>霖按：此乃王叔和序例中語，不得拉雜謂是仲景之論，脈盛傷寒是矣，然必盛於左部，脈虛身熱傷暑是矣，虛大之脈，必盛於右部，且傷寒未有不發熱者此序例言其略例耳，不可泥也。</p>
<p>痓濕暍第四論曰：太陽中熱者暍是也。其人汗出惡寒，身熱而渴也。</p>
<p>又曰：太陽中暍者，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已洒洒然毛聳，手足逆冷，小有勞身即熱，口開前板齒燥，若發汗，則惡寒甚，加溫針，則發熱甚，數下之，則淋甚。</p>
<p>按：此證一味涼藥清內火，辛以散之，酸以收之，三者為妙。汗下俱不可，若加之溫針，則速其斃耳。</p>
<p>霖按：仲景治暍，三法鼎峙，前已釋明，注言此證一味涼藥清內火，辛以散之，酸以收之，三者為妙，恐未盡然。身重而疼痛，其脈弦細芤遲，濕勝也，豈寒涼酸收所能治哉！疏矣。</p>
<p>辨太陽病脈第五論曰：傷寒二三日，陽明少陽證不見者，為不傳也。</p>
<p>霖按：此節正仲景示人以傳經之活法也。天有寒暑燥濕風火之六氣，人之臟腑有三陽三陰之六氣，天之寒熱感於人，人即以己身之寒氣應之，所謂同氣相得也。《靈樞·本藏篇》云：三焦膀胱者，腠理毫毛其應，是太陽寒水主皮毛，為膚表之第一層，故風寒首傷太陽，然亦有不從太陽而竟至於陽明少陽，以及於三陰者，蓋三陽三陰所主之部位，何經虛，何經即受邪也。如病形篇云：中於面則下於陽明，中於項則下太陽，中於頰則下少陽，其中於膺背兩脅，亦中其經。又曰：中於陰者，常從胻臂始是也。至於《素問·熱論》，所謂傳經之法，一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰者，乃人身之六氣，以次相傳，此氣傳非病傳。但人身何經何氣之虛，其病邪亦即由此而入，所謂邪之所湊，其氣必虛也。仲景恐治傷寒者，泥於按日傳經，故曰傷寒二三日，陽明少陽證不見者，為不傳也。是二日陽明如傳，當見身熱目疼鼻乾不得臥，三日少陽，當見胸脅痛而耳聾，若不見陽明少陽經病證，則不傳也，三陰亦然，是傳經不可拘執按日，見何經病證，即以何經法治之，至若言足不言手者，省文也。須知陰陽有互根之義，寒邪首傷足太陽，熱邪必首傷手太陰，此互根之理，不可移易者也。後世言傷寒按日傳經，固屬大謬，而謂溫暑只在三焦，而不傳他經者，亦非果否。則一日太陽，二日陽明傳經之說，何以見諸熱論乎？夫傷寒有直中三陰者，溫熱伏氣有發於少陰出諸少陽者，暑邪中人，有入心入肝入脾之辨，是皆不可膠柱者也。</p>
<p>又曰：太陽病發熱而渴，不惡寒者為溫病。</p>
<p>按：溫病無專經，隨其所中，以脈辨之，亦有不中太陽，初不頭痛惡寒諸證，而庸醫認為痰火內傷，禍不旋踵矣。此證不傳經，止中一二經，慎之慎之。</p>
<p>霖按：溫病乃冬至陽生，人身所伏之陽熱，被嚴寒折伏，藏於肌骨之間，至春郁遏之陽熱，為外邪逗引，始得發泄。伏陽既出肌膚，遇春令之氣暄熱，兩熱相干，而成溫病，即《素問·生氣通天論》所謂冬傷於寒，春必病溫者是也。其外感之邪輕，故不惡寒，只發熱而渴，亦有微惡寒，旋即熱渴者，外邪較重也。若口黏苔膩，身痛便溏，有汗不解，脈濡數者，非中風，乃溫病挾濕也。溫邪內發，其脈多盛於右部，熱傷氣也。風熱之邪外受，先傷手太陰經，風寒之邪，則先傷足太陽經，蓋肺主表，膀胱亦主表也。治傷寒之麻黃湯，非瀉肺藥乎？言太陽病則手太陰亦包括於中，省文也。溫熱當察三焦論治，其傳經見何經證，以何經法治之，傷寒亦然，惟用藥寒熱之不同耳。或言溫熱不傳經，只重三焦，則熱論何以又有一日太陽，二日陽明傳經之文？此不待辨亦明矣。謂溫病無專經，此越人五十八難指疫證而言，不得拉雜冬日伏氣之溫熱病也。</p>
<p>又曰：若發汗已身灼熱者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲；若被火者，微發黃色，劇則如驚癇，時瘛瘲；若火熏之，一逆尚引日，再逆促命期。</p>
<p>按：此證皆春溫，以內有火熱，感以風寒，故一發劇也。眠睡語難，皆火內灼，非風溫外甚也。自汗風傷衛，不惡寒，外證輕也。止宜辛涼藥內解，微發表則愈。</p>
<p>霖按：風溫為內蘊伏熱，外感風邪，其惡風怯寒，為或有之證，而熱渴咳嗽，為必有之證也。發汗已身灼熱者，是誤以辛溫發表，風藥多燥，觸引伏氣，風火相煽，致有自汗、身重、多睡、鼻鼾、語難出諸候，斯皆誤汗劫液後之變證，非風溫初病固有之證也。若再誤下誤火，則直視失溲，驚惕瘛瘲，一逆尚引日，再逆促命期矣。此明初既誤表，繼又誤下誤火，釀成不可救藥，足徵風溫為燥熱之病，泄熱和陰，為斯證一定治法，縱或稍挾表邪，只宜蔥、豉、蒡、薄等味，辛涼輕劑，啟腎氣疏風熱是矣，豈可妄施麻桂哉！</p>

<h3>孫思邈·傷寒例論</h3>
<p>傷寒例論曰：易稱天地變化，各正性命，然則變化之跡無方，性命之功難測，故有炎涼寒燠，風雨晦冥，水旱妖災，蟲蝗怪異，四時八節，種種施化不同，七十二候，日月運行各別，終其晷，度得成年，是謂歲功畢矣。天地尚且如此，然在人安可無事？故人生天地之間，命有遭際，時有否泰，吉凶悔吝，苦樂安危，喜怒愛憎，存亡憂畏，關心之慮，日有千條，謀身之道，時生萬計，乃度一日，是故天無一歲不寒暑，人無一日不憂喜，故有天行溫疫病者，即天地變化之一氣也。斯蓋造化必然之理，不得無之，故聖人雖有補天之極之德，而不能廢之，雖不能廢之，而能以道御之。其次有賢人，善於攝生，能知撙節，與時推移，亦得保全。天地有斯瘴癘，還以天地所生之物以防備之，命曰知方，則病無所侵矣。然此病也，俗人謂之橫病，多不解治，皆曰日滿自差，以此致枉者，天下太半。凡始覺不佳，即須救療，迄至於病愈，湯食兢進，折其毒勢，自然而差，必不可令病氣自在，恣意攻人，拱手待命，斯為誤矣。</p>
<p>按：真人此論，從天人合基處發脈，義理源頭上起瀾，而議論蒼古，渾渾灝灝，真與南華並傳，雖論寒哉，而溫與暑之秘皆兼之矣。敬錄置之座右，以為玄宗之一助，醫道待其餘耳。</p>

<h3>劉河間·中暑論</h3>
<p>中暑之證，身熱頭痛，背寒面垢，自汗煩燥，大渴口乾，倦怠而身不痛，或時惡寒，或畏日氣，脈虛而弱。無問表裡，通宜白虎湯，並感冒發熱煩渴，五苓散、桂枝茯苓甘露飲、黃連香薷飲，或雙解散，或裡熱甚，腹滿而脈沉可下者，大承氣湯下之，或三一承氣湯尤妙。半表半裡者，小柴胡湯、涼膈散、天水散。</p>
<p>按：劉河間論暑證甚詳，獨明於諸家用藥，頭頭中款，可謂得其解者。但暑證不分表裡，一味清內，得寒涼而解，苦酸而收，不必用下，承氣湯走馬之糞也。卻之卻之。</p>

<h3>李東垣·暑傷胃氣論</h3>
<p>刺志論云：氣虛身熱，得之傷暑，熱傷氣故也。痿論云：有所遠行勞倦，逢大熱而渴，則陽氣內伐，則熱舍於腎，腎者水臟也。今水不能勝火，則骨枯而髓虛，足不任身，發為骨痿，故下經曰：骨痿者，生於大熱也。此濕熱成痿，令人骨乏無力，故治痿獨取陽明，時當長夏，濕熱大勝，蒸蒸而熾，人感之多，四肢困倦，精神短少，懶於動作，腦氣促，肢節沉痛，或氣高而喘，身熱而煩，心下膨痞，小便黃而少，大便溏而頻，或痢出黃糜，或如泔色，或渴或不渴，不思飲食，自汗體重，或汗少者，血先病而氣不病也。自時當長夏至此，已採入正款，不敢擺刖，故重出其脈中得洪緩，若濕氣相搏，必加以遲，病雖互換少差，其天暑濕令則一也。宜以清燥之劑治之，名曰清暑益氣湯主之。</p>
<p><u>清暑益氣湯</u></p>
<p>黃耆（汗少者減五分）　蒼朮（泔浸，去皮，各一錢五分）　升麻（一錢）　人參（去蘆）　白朮　橘皮　神麯（炒）　澤瀉（各五分）　甘草　黃柏（酒浸）　當歸身　麥門冬（去心）　青皮（去白）　葛根（各三分）　五味（九個）</p>
<p>《內經》云：陽氣者衛外而為固也，炅則氣泄，今暑邪干衛，故身熱自汗。以黃耆、人參、甘草、補中益氣為君，橘皮、當歸身、甘辛微溫，養胃氣，和血脈為臣，蒼朮、白朮、澤瀉、滲利除濕，升麻、葛根、苦甘平，善解肌熱，又以風勝濕也，濕勝則濕不消而作痞滿，故炒曲甘辛，青皮辛溫，消食快氣，腎惡燥，急食辛以潤之，以黃柏苦辛寒，借甘味瀉熱補水虛者，滋其化源，以五味子、麥門冬、酸甘微寒，救天暑之傷庚金為佐也。</p>
<p>上㕮咀作一服，水二盞，煎至一盞，去粗稍熱，食遠服。</p>
<p>按：東垣意見精密。立方中和，清暑益氣湯一劑近世多宗之。然氣血虛弱之人，用之最宜，如遇強壯者，不能取效，且助溫火，不可不斟酌也。</p>

<h3>朱丹溪·中暑論</h3>
<p>中暑論曰：暑乃夏月炎暑也，盛熱之氣著人也，有冒、有傷、有中，三者有輕重之分，虛實之辨，或腹痛水瀉者，胃與大腸受之，噁心者，胃口有痰飲也，此二者冒暑也。可用黃連香薷飲、清暑益氣湯，蓋黃連退暑熱，香薷消畜水。或身熱頭疼，躁亂不寧者，或身如針刺者，此為熱傷在肉分也。當以解毒湯、白虎湯加柴胡。如氣虛者，加人參，此為傷暑。或咳嗽發寒熱，盜汗出不止。脈數者，熱在肺經，用清肺湯，柴胡湯、天水散之類，急治則可，遲則不救，盛火乘金也，此為中暑。凡治病須要明白辨別，慎勿混同施治，春秋間亦或有之，切莫執一，隨病處方為妙。</p>
<p>按：暑病原有輕重，分傷冒中三款是已。但凡感暑而病者，皆從冒火而得，總謂之傷暑，其感火多而熱重者，乃為中暑。以內外諸雜證分屬五臟，猶為近理，至以五臟分屬冒傷中三者，則誤矣。其內外諸雜證，即有重輕，均從臟腑而發，若以分屬之三證，豈不泥且左矣。名家亦有此誤，又何以破後人之迷也？</p>

<h3>辨動得靜得</h3>
<p>丹溪曰：若暑之時，無病之人，或避暑熱，納涼於深堂大廈，涼臺冷館，大扇風車得之者，是靜而得之陰證也。其病必頭痛惡寒，身形拘急，肢節疼痛而心煩，肌膚大熱，無汗，此為陰寒所遏，使周身陽氣不得伸越。宜用辛溫之劑，以解表散寒，用厚朴、紫蘇、乾葛、藿香、羌活、蒼朮之類。若外既受寒，內復傷冰水生冷瓜果之類，前藥再加乾薑、縮砂、神麯之類，此皆非治暑也，治因暑而致之病也。</p>
<p>按：靜動而得，分中暑傷暑，此論出自張潔古，後皆因之。天盛暑之時，炎火若炙，無之非是，故古人聞避暑而未聞避寒，深堂廣廈，正以避暑，安得入而中之？且房室陰涼，正可護衛陽氣，又安得而遏傷之乎？即膏粱深處，必不能無冒暑，應接其傷暑者，亦於動中得之耳。老子曰：人能常清靜，天地盡皆歸。一靜即可祛暑，從何而中也？至於冰水瓜果等寒物，多食自傷脾胃，亦生雜證，謂瀉痢雜證，內有此物積聚則可，謂專以此致暑病則不可，若執口得寒物，身犯寒氣，同冬時寒病治之，則謬以千里矣！</p>
<p>霖按：潔古論暴以動靜分陰陽，甚屬不經，致啟後人訾議，然亦出諸不得已也。何以言之，夫暑字從日，云暑而不云火，其義可思，蓋天日之陽熱，蒸地氣以上騰，人在氣交中，感之者為病暑。《素問·五運行大論》，謂暑以蒸之，《禮記·月令》，謂土潤溽暑者是也。夏至陰生，人身所伏者陰氣，暑在六氣，屬之君火，在臟屬心，在卦屬離，且離火中虛，則暑為陽熱中含陰象可徵，是以仲景治暍，三法鼎峙，潔古猶恐世醫不明其義，故設陰暑陽暑之名以辨治。丹溪引伸潔古之意，故曰此非治暑也，治因暑天所致之病也。何等曉暢，初不料遺譏於後世也。夫潔古所謂動而得之為陽暑者，是言藜藿之人，或奔走長途，或戮力田間，暴中天日之熱為陽暑，乃動中之動也。所謂靜而得之為陰暑者，是言膏粱之人，廣廈風車，恣欲無度，致損真陽，陰濕內伏，寒熱外襲為陰暑，乃靜中之動也。若果清靜無為，真氣內守，百邪亦不能侵，豈獨一暑病哉！</p>

<h3>方古庵·附余暑論</h3>
<p>論曰：寒則傷形，熱則傷氣，何以言之？人與天地同一橐龠，夏月天之氣浮於地表，則人之氣浮於肌表，況被盛暑所傷，膚腠疏豁，氣液為汗發泄於外，是表裡之氣俱虛矣。不善攝生者，暑熱傷於外，生冷戕於中，若之何而能運化也？是以水穀停積而為濕熱，發為嘔吐，為泄瀉，甚則吐瀉俱作，而揮霍悶亂也。若不即病，濕熱怫鬱於內，他日為瘧為痢之所由矣。今大順散，非治暑熱之藥，乃治暑月飲涼過多為病之劑也歟。</p>
<p>按：此論精當，但大順散不可輕用。</p>

<h3>王節齋·附余暑論</h3>
<p>論曰：夏至日後病熱為暑，暑者相火行令也。夏月人感之，自口齒而入，傷心包絡之經，其脈虛，或浮大而散，或弦細芤遲，蓋熱傷氣，則氣消而脈虛弱，其為證汗煩則喘渴，靜則多言，身熱而煩，心痛大渴引飲，頭疼自汗，倦怠少氣，或下血發黃生斑，甚者火熱制金，不能平木，搐搦不省人事。治暑之法，清心利小便最好。暑傷氣，宜補真氣為要。又有惡寒或四肢逆冷，甚者迷悶不省，而為霍亂，吐利痰滯，嘔逆腹痛瀉痢，此則非暑傷人，乃因暑而自致之病也。以其因暑而得，故亦謂之暑病。然治法不同也。</p>
<p>按：節齋此論，氣脈證方俱備，種種精妙，暑月可錄一通於座右，古庵、節齋，以世代不宜列此，因原系丹溪附余，姑附之。</p>
<p>霖按：節齋此論，似是而非。夫天之六氣，風寒暑濕燥火，應地之五行，則木水火土金火，君火以明，相火以位，暑為君火，在卦為離，離中虛，乃明兩作之義，故曰暑中多挾濕也。暑先入心，應乎君火，包絡主手厥陰相火，其氣與心相通，其脈與心相連。心病每治包絡者，以心為君主之宮藏，義不受邪也，不得舍君火而言相火，是六氣尚不能明，豈可錄之座右哉！</p>

<h3>陶節庵·辨張仲景《傷寒論》</h3>
<p>辨張仲景《傷寒論》曰：傷寒者，乃冬時感寒即病之名。桂枝麻黃二湯，為當時之傷寒設，與過時之溫暑者，有何預焉？夫受病之原則同，亦可均謂之傷寒，所發之時既異，治之則不可混也。請略陳之。夫春溫夏熱，秋涼冬寒者，四時之正氣也，以成生長收藏之用，風亦因四時之氣而成溫涼寒熱也。若氣候嚴寒，風亦凜冽，天道和煦，風亦溫暖，冬時坎水用事，天令閉藏，水冰地凍，風於寒相因，而成殺厲之氣，人觸冒之，腠理鬱塞，乃有惡風惡寒之證，其餘時月，則無此證也。仲景固知傷寒乃冬時殺厲之氣所成，非比他病可緩，故其為言，特詳於此書，而略於雜病，倘能因名以求其實，則思過半矣。不幸此書傳世久遠，遺帙頗多。晉太醫令王叔和，得散亡之餘，詮次流傳，其功博矣。惜乎以己論混經，未免穿鑿附會。陳無已氏因之順文註釋，並無缺疑正誤之言，以致將冬時傷寒之方，通解溫暑，遺禍至今而未已也。溫暑必別有方，今皆失而無徵也。我朝宋景濂學士，嘗嘆《傷寒論》非全書，得其旨哉，蓋傷寒之初中人，必先入表，表者何？即足太陽寒水之經，此經行身之後，自頭貫脊，乃有頭疼脊強，惡寒之證，在他經則無此證矣。況此經乃一身之綱維，為諸陽之主氣，猶四通八達之衢，治之一差，其變有不可勝言者矣，故宜此二湯發散表中寒邪。經曰：辛甘發散為陽者是也。若以此湯通治春溫夏熱之病，則誤之甚矣。</p>
<p>按：麻黃桂枝湯，原為冬月傷寒正藥，溫暑二病，不可混施。節庵力破從來之迷，至於辯仲景書中多遺帙缺誤，歸罪於王叔和之詮次，陳無已之註釋，可謂發前人所未發，但仲景醫書，專明傷寒，故詳於寒病，略於溫暑，原不為溫暑設也。</p>

<h3>治傷寒用藥大略</h3>
<p>論曰：四時皆有傷寒，治之不可一概論也。冬時氣寒，腠理微密，非辛甘溫不可，故以桂枝等湯以治之。然風與寒常相因，寒傷榮，惡寒頭痛，脈浮緊而無汗，則用麻黃湯，開發腠理以散邪，得汗即愈。風則傷衛，頭痛惡風，脈浮緩而自汗，則用桂枝湯，克塞腠理以散邪，汗止即愈。經云：辛甘發散為陽者是也。若夫榮衛俱傷，又非此二湯所能治也。須大青龍湯，然此湯太峻，又非庸俗所可擬也，予亦有代之者。蓋冬時為正傷寒，天氣嚴凝，風寒猛烈，觸冒之者，必宜用辛溫散之。其非冬時，亦有惡寒頭疼之證，皆宜辛涼之劑，通表裡和之，則愈矣。若以冬時所用桂枝辛溫之藥通治之，則殺人多矣。曰辛涼者何？羌活沖和湯是也，兼能代大青龍為至穩，嗚呼！一方可代三方危險之藥。</p>
<p>按：辨寒溫暑藥甚明，沖和一湯，尤為溫涼二證穿楊之劑，百發百中者也。</p>

<h3>傷寒變溫熱病</h3>
<p>論曰：《活人書》發於溫病曰：陽熱未盛，為寒所制，豈有伏寒既已變而為溫？尚可言寒，能制其陽熱耶？又於熱病曰：陽熱已盛，寒不能制，亦不當復言其為寒也。蓋是春夏陽熱已變其伏寒，即非有寒能制其陽熱耳，外有寒邪，能折陽氣者，乃是時行寒疾，仲景所謂春分以後，秋分節前，天有暴寒，為時行寒疫是也。三月四月，其時陽氣尚弱，為寒所折，病熱則輕。五月六月，陽氣已盛，為寒所折，病熱則重。七月八月，陽氣已衰，為寒所折，病熱亦微。是知時行寒疾，與溫熱二病所論陽氣盛衰時月則同。至於論暴寒之寒，與伏寒已變之寒，自是相違，名不正則言不順矣。張仲景又云：其病與溫及暑病相似，但治有殊耳。要在辨其病源，寒熱溫三者之殊，則用藥之冷熱判然矣。</p>
<p>按：南陽發變字，大有慧心，至於伏寒之誤，南翁亦灼然知其然，而不敢明攻其非，恐起襲聞者議耳。乃亦為非時寒疾，以破其惑，始自東垣設寒疫一款，皆可羽翼《內經》，啟蒙萬世也。</p>

<h3>溫病辨</h3>
<p>《難經》曰：溫病之脈，行在諸經，不知何經之動，隨其經之所在而取之。</p>
<p>如太陽證頭疼惡寒，汗下後過經不愈，診得尺寸俱浮者，太陽病溫也。</p>
<p>過時而發，不在表也，已經汗下，亦不在表也。經曰：不惡寒而反渴者溫病也。明其熱自內達外，無表證明矣。</p>
<p>按：傷寒傳經，由腑入臟，由陽入陰。溫病不傳經，止中一二經，或乘某經火，或乘某經虛，被春時寒氣所中，自內發外，而作寒熱等證，或中腑則腑病，或中臟則臟病，不論日期，始終惟此一二經。《內經》言惟經所動，隨經而取，自是明明斷案，節庵分經良是，而以過太陽經不傳別經，定為溫病，此辨別寒溫之口訣，所當佩服者。</p>

<h3>辨惡寒</h3>
<p>論曰：惡寒否乎？曰傷寒自冬月風寒而成，外則有惡寒惡風之證，既名為溫，則無此證矣。曰：然則子之言何所據乎？曰：據乎經耳。經曰：太陽病，發熱不惡寒而渴者，溫病也。不惡寒則病非因外來，渴則明其自內達表。</p>
<p>按：冬月傷寒，由於外感而惡寒是矣。曰：溫證不惡寒非也。蓋溫證緣陽氣發暢，為春時風寒所迫，雖系內熱，亦由外感，故亦有惡寒等證，豈獨溫即暑病？亦有此證，蓋暑屬外火傷於臟腑，內外炎炎，故熱極戰慄而成惡寒，醫不知，遂為傷寒，不可不詳辨也。</p>

<h3>辨溫暑涼寒諸證</h3>
<p>論曰：傷暑與傷寒俱有熱，若誤作傷寒治之則不可。蓋寒傷形，熱傷氣，傷寒則外感寒而脈浮緊，傷暑則不惡寒而脈虛，此為異耳。經云：脈盛身寒，得之傷寒，脈虛身熱，得之傷暑，治宜小柴胡湯，渴加石膏、知母，或人參白虎湯。天久淫雨，濕令大行，蒼朮白虎湯。若元氣素弱，而傷之重者，清暑益氣湯治之。</p>
<p>夫傷寒二字，蓋冬時天氣嚴寒，以水冰地凍，而成殺厲之氣，人觸犯之，即時病者為傷寒，乃有惡寒頭疼發熱之證，故用麻黃、桂枝發散表中寒邪，自然熱退身涼，有何變證？如或頭疼惡寒，表證皆除，而反見譫語怕熱燥渴，大便閉者，以法下之，大便通而熱愈，有何怪證？其餘春夏秋三時，雖有惡寒身熱，頭疼亦微即為感冒，非時暴寒之輕，非比冬時氣正傷寒為重也。如冬感寒不即病，伏藏於肌膚，至春夏秋時，其伏寒各隨時氣改變為溫為熱者，因溫暑將發，又受暴寒，故春變為溫病，既變之後，不得復言其為寒矣，所以仲景有云：發熱不惡寒而渴者，其理可見，溫病也，暑病亦然，比之溫病，尤加熱不惡寒，則病非外來，渴則明其熱自內達表，無表證明矣。治溫暑大抵不宜發汗，過時而發，不在表也。其伏寒至夏，又感冒寒變為暑病，暑病者，即熱病也。取夏火當權而言暑字，緣其溫熱二證，從冬時伏寒所化，總曰傷寒。所發之時既異，治之不可混也，若言四時俱是正傷寒者非也。此三者，皆用辛涼之劑以解之，若將冬時正傷寒之藥通治之，定殺人矣。辛涼羌活沖和湯是也，兼能代大青龍湯治傷寒見風，傷風見寒為至穩，一方可代三方危險之藥，如垣夷其神乎哉！世俗皆所未知也。若表解其里證具者，亦以法下之無惑，又傷寒下後，過經不愈者，亦溫病也。已經汗下，亦不在表也，隨病制宜。凡有辛苦勞役之人，有患頭疼惡寒身熱，加之骨腿痠疼，微渴自汗，脈雖浮大而無力，此為勞力感寒，用補中益氣辛溫之劑為良。經云：溫能除大熱，正此謂也。若當和解者，即以小柴胡加減和之，下證見者，即以本方加大黃微利之，切勿過用猛烈，其害非細。若初病無身熱，無頭疼，便就怕寒厥冷，腹痛嘔吐泄瀉，脈來沉遲無力，此為直中寒證，宜溫之，而不宜汗下也。疫癘者，皆時行不正之氣，老幼傳染相同者是也。緣人不近穢氣，免傷真氣，若近穢氣，有傷正氣，故病相傳染，正如牆壁固，賊人不敢入，正氣盛，邪氣不敢侵，正氣既虛，邪得乘機而入。與前溫暑治又不同，表證見者，人參敗毒散；半表半裡證者，小柴胡；里證具者，大柴胡下之。無以脈診，以平為期，與其瘧痢等證，亦時疫也，照常法例治之。</p>
<p>按：此辨傷寒傷暑，最為吃緊，廣度慈航，一披卷而瞭然者，當熟讀精思，方得其解，斟酌用之，方得其妙。</p>

<h3>辨風溫</h3>
<p>論曰：風溫尺寸俱浮，素傷於風，因而傷熱，風與熱搏，即為風溫。其外證四肢不收，身熱自汗，頭疼喘息，發渴昏睡，或體重不仁，慎勿發汗，汗之則譫語煩躁，目無精彩，病在少陰厥陰二經，葳蕤湯、人參敗毒散、小柴胡湯選用。</p>
<p>按：溫病外證，四肢不收等惡證，乃溫病之極重者，輕則為溫，重則為風溫，乃病名也。朱南陽曾道及之，若謂素傷於風，因而傷熱，風與熱搏，即為風溫者，非確論也。謂不可發汗，乃調溫之訣。</p>
<p>霖按：陶氏極力辯論溫暑，而於陰陽伏氣，懵然不知，且將《難經》所載沴厲雜氣之溫病，（古無瘟字，溫即瘟也。）拉雜是瘟溫不分，無怪乎執柴葛、解肌、人參、敗毒數方，貽誤後學也。</p>

<h3>虞花溪·《醫學正傳》論暑</h3>
<p>《內經》曰：因於暑，汗煩則喘喝，靜則多言。潔古又曰：靜而得之為中暑，動而得之為中熱，中暑者陰證，中熱者陽證。仲景《傷寒論》中一證曰中暍，即暑也。脈虛而微弱，煩渴引飲，體熱自汗，此蓋得勞役體虛，而暑邪干衛之候，是宜東垣清暑益氣湯等補益之劑，治之而愈。一證曰熱病，即中熱也。脈洪而緊盛，頭疼身熱，口燥心煩，此蓋得之於冬感寒邪，鬱積至夏而發，而挾暑而成大熱之候，是宜黃連、白虎、解毒等湯清涼之劑，調之而愈。曰中暑者，陰症內傷之為病也。曰中熱者，恐亦外感之為病也。曰陰曰陽，豈不於斯而明辨之乎？學者宜再思之。</p>
<p>按：暑熱一氣也。感暑而病熱，原不可分為二氣，中與傷有輕重之別。丹溪有冒中傷三名，細思總為傷暑，其極重者則稱中耳，冒不必言也，已有專辨傷寒證，分有陰陽，暑證屬火，多發揚激烈之狀，總謂之陽，似無所為陰者，惟其感深，日久驟發，而沉昏不省人事，閉目息微，此類似陰，其實火極氣結，痰盛氣閉，臟腑不通，咽喉嗌塞使然，乃陽勝非陰也。陰證陽證，尚不可分，況以暑與熱分之，益不達矣。</p>
<p>霖按：此闢花溪以暑熱分陰陽是矣。而謂暑為火極之證，與熱不分，然則以六和湯為治暑主方，火熱之證，果宜厚朴、砂仁、藿香、半夏諸燥熱之品乎？自相矛盾，亦不思甚矣。總因不明陰陽互根之義，故開口便錯，近世王孟英泥執暑為火邪，而不兼濕，亦由不讀《內經》，剿襲一家之說，率爾操觚也。</p>

<h3>李文清·《醫學入門》論暑</h3>
<p>暑病身熱自汗，口渴面垢而已，餘證皆後傳變，或兼內傷，必先問其人素虛胃弱，或大病大勞後，縱暑中傷者，宜清暑益氣，素強盛壯實，無虛損病者，宜祛暑和中，自襲暑氣而言曰中暑，自被日逼而言曰中暍，然暑初入，自口鼻牙頰，達於心主胞絡，以火從火，故古法治暑，取冷水灌溉勿咽。</p>
<p>即暑暍證，但以手足搐搦為風，手足逆冷為厥，厥與傷寒熱厥義同，黃連香薷飲。暑風乃勞役內動五臟之火，與外火交熾，則金衰木旺生風，香薷飲加羌活六和湯，合消風散。素有痰飲，因暑觸動痰熱生風者，六和湯合星香散。</p>

<h3>救痰壅法</h3>
<p>暑毒痰火，窒塞胸中，量體虛實吐之，火鬱發之之義也。如痰喘氣急痞寒，入藥不得者，急煎六和湯，調麝二釐服。</p>

<h3>救絞腸痧法並乾霍亂</h3>
<p>絞腸痧腹痛不可忍，或連心痛，展轉在地，手足亦冷，乃腸絞縮在腹，須臾能死。用熱湯調鹽一兩，灌入即安，或再用陳艾、陳樟木、陳壁土各等分，水煎連進三四服。</p>

<h3>救途中熱倒法</h3>
<p>若道途卒倒，湯藥不便，恐氣脫難治，急扶陰涼處，不可臥濕冷地，掬道上熱土放臍上，撥開作竅，令人尿與其中，待求生薑或蒜嚼，以熱湯或童便送下，外用布蘸。</p>
<p>按：入門一書，雖系時出，中間亦頗詳細，故錄其數條以備覽，暑暍一氣也，若中暑中暍之分則強矣。</p>

<h3>王宇泰·《證治準繩》論暑</h3>
<p>論曰：此事難知，傷暑有二，動而傷暑，心火大盛，肺氣全虧，故身脈洪大，動而火勝者，熱傷氣也，辛苦人多得之，白虎加人參湯。靜而傷暑，火勝金位，肺氣出表，故惡寒脈沉疾，靜而濕勝者，身重也，安樂之人多受之，白虎加蒼朮湯。傷暑必自汗，背寒面垢，或口熱煩悶，或頭疼發熱，亦有身痛者，更有痛甚，身如骨碎者，神思倦怠殊甚，暑傷氣而不傷形故也。但身體不痛，與感風寒異，宜香薷飲、六和湯。嘔而渴者，浸冷香薷湯，或五苓散，兼吞消暑丸。嘔不止者，枇杷葉散去茅根，吞來復丹。嘔而痰，卻暑散，吞消暑丸，或小半夏茯苓湯，或消暑飲。又有不瀉而腹干痛者，六和湯煎熟，調蘇合香丸。暑先入心者，心屬南方離火，各從其類，小腸為心之府，利心經，暑毒使由小腸中出，五苓散利小便，治暑上劑也。暑月身癢如針刺，間有赤腫處，亦名暑風，末子六和湯，和消風散，酒調服。暑風而加以吐瀉交作者，六和湯、藿香正氣散，各半貼，加全蠍三個。有暑毒客於上焦，胸膈痞塞，湯藥至口即出，不能過關，或上氣喘急，六和湯浸冷，調入麝香少許。暑氣久而不解，遂成伏暑，內外俱熱，煩躁自汗，大渴喜冷，宜香薷飲，加黃連一錢，繼進白虎湯。若服藥不愈者，暑毒深入，結熱在裡，譫語煩湯，不欲近衣，大便秘結，小便赤澀，當用調胃承氣湯，或三黃石膏湯。</p>
<p>按：承氣湯必不可轉用。</p>

<h3>加減清暑益氣湯</h3>
<p>復立變證加減法於後。如心火乘脾，乃血受火邪，而不升發，陽氣伏於地中，地者人之脾也，必用當歸和血，少用黃柏以益真陰，如脾胃不足之證，須少用升麻，乃足陽明太陰引經之藥也。使行陽道，自脾胃中左遷，少陽行春令，生萬物之根蒂也。更加柴胡，使諸經右遷，生髮陰陽之氣，以滋春之和氣也。如脾虛緣心火亢盛，而乘其土也。其次肺氣受邪，為熱所傷，必須黃耆最多，甘草次之，人參又次之，三者皆甘溫之陽藥也，脾始虛，肺氣先絕，故用黃耆之甘溫，以益皮毛之氣，而閉腠理，不令自汗而損元氣也，上喘氣短懶言語，須用人參以補之，心火乘脾，須用炙甘草以瀉火熱，而補脾胃中元氣，甘草最少，恐滋滿也。若脾胃之急痛，並脾胃大虛，腹中急縮，腹皮急縮者，卻宜多用。經曰：急者緩之，若從權必加升麻以引之，恐左遷之邪堅盛，卒不肯退，反致項上及臀尻肉添而行陰道，故引之以行陽道，使清氣出地，右遷而上行，以和陰陽之氣也。若中滿者，去甘草，咳甚者，去人參，口乾嗌乾者，加甘葛，如脾胃既虛，不能升浮，為陰火傷其生髮之氣，榮血大虧，榮氣伏於地中，陰火熾盛，日漸煎熬，血氣虧少，且心包絡與心主血，血減則心無所養，致使心亂而煩，病名曰悗悗者，心惑而煩悶不安也。是由清氣不升，濁氣不降，清濁相干，亂於胸中，使周身血氣逆行而亂。經云：從下上者，引而去之，故當加辛溫甘溫之劑生陽，陽生而陰長也。故曰：甘溫何能生血？又非血藥也？曰：仲景之法。血虛以人參補之，陽旺則能生陰血也。更加當歸和血，又宜少加黃柏以救腎水，蓋甘寒瀉熱火，火減則心氣得平而安也。如煩亂猶不能止，少加黃連以去之。蓋將補腎水，使腎水旺而心火自降，扶持地中陽氣也。如氣浮心亂，則以硃砂安神丸鎮固之，得煩減，勿再服，以防瀉陽氣之反陷也。如心下痞，亦少加黃連，氣亂於胸，為清濁相干，故以陳皮理之，能助陽氣之升，而散滯氣，又助諸甘辛為用，故長夏濕土，客邪火旺，可從權加蒼朮、白朮、澤瀉，上下分消其濕熱之氣，濕氣大盛，主食不消化，故食減不知穀味，加炒曲以消之，便加五味子、麥門冬、人參，瀉火益肺氣，助秋損也。此三伏中長夏正旺之時藥也。</p>
<p>按：此《證治準繩》中論暑證者，至精緻密，立中含和王道之宗匠，不能具載，謹摘其要者，錄於下，至加減清暑益氣湯，尤東垣之知己。</p>

<h3>《名醫類案》《增補名醫類案》</h3>
<p>羅謙甫治蒙古百戶，因食酒肉飲潼乳，得霍亂吐瀉證，從朝至午，精神昏憒，已困急來告，羅視之，脈皆浮數，按之無力，所傷之物已出矣。即以新汲水半碗，調桂苓白朮散，徐服之，稍得安靜，又於牆陰掘地約二寸，貯以新水，在內攪動，待一時澄定，用清者一杯，再調服之，漸漸氣調，吐瀉遂止，至夜安臥，翌日微煩渴，遂煎錢氏白朮散，時時服良愈。或曰用地漿者何也？坤屬地，地屬陰，土平曰靜，煩感至陰之氣，又於牆陰貯新汲水，以收重陰之氣也。陰中之陰，能瀉陽中之陽，陽霍亂因暑熱內傷所得，故用地漿之意也。</p>
<p>提舉父年近八十，六月中暑毒，霍亂吐瀉，昏冒終日，不省人事，時夜參半。請羅視之，脈七八至，洪大有力，頭熱如火，足冷如冰，半身不遂，牙關緊急，蓋年高氣弱，當暑氣極盛，陽明得令之際，為陰得而動之中暑明矣，非甘辛大寒之劑，不能瀉其暑熱，墜浮溜之火，安神明也。遂以甘露散，甘辛大寒瀉熱補氣，加茯苓以分陰陽，約一兩，水調灌之，漸漸省事，諸證悉去，慎言語，節飲食三日，以參朮補中湯，以意增減，旋服理正氣愈，十日平復。</p>
<p>滑伯仁治一人病，自汗如雨，面赤身熱，口燥心煩，當盛暑帷幕周密，自以虛亡陽，服朮附數劑，脈虛而洪數，舌上苔黃。伯仁曰：前藥誤矣，熱病熱治，醫者死之。《素問》云：必先歲氣，毋伐天和，朮附豈可輕用？以犯時令。又云：脈虛身熱，得之傷暑，暑家本多汗，加剛劑脈洪數而汗甚，乃令撤幔開窗，少頃漸覺清爽，以黃連人參白虎湯，三進而汗止大半，諸證亦減，兼以既濟湯，渴用冰水調天水散，二日而愈。</p>
<p>孫兆治一人自汗，兩足冷至膝下，腹滿不省事。孫診六脈小弱而急，問其所服藥，取視，皆陰病藥也。孫曰：此非受病重，藥能重病耳。遂用五苓散、白虎湯十餘貼，病少蘇，再服全愈。或問治法，孫曰：病人傷暑也。始則陽微厥而脈小無力，醫謂陰病，遂誤藥，其病厥用五苓散，利小便則腹消，白虎湯解利邪熱則病愈。凡陰證脛冷則臂亦冷，汝今脛冷臂不冷，則下厥上行，是如陽之微厥也。此證乃先傷濕，後傷暑，為濕之證也。</p>
<p>丹溪治一人夏大發熱譫語，肢體莫舉，喜冷飲，脈洪大而數。以黃耆、茯苓濃煎如膏，用涼水調服，三四次後，昏臥如死，氣息如常，次日方醒而愈。</p>
<p>一人夏發大熱大汗，惡寒戰慄，不自禁持，且煩渴，此暑病也。脈虛微細弱而數，其人好賭，致功而虛，以人參、竹葉作湯，調辰砂四苓散，數劑而安。</p>
<p>項彥章治一人病甚，醫皆以為瘵，盡愕束手，項診之脈細數而且實，細數者暑也。暑傷氣宜虛，今不虛而反實，乃熱傷血，藥為之也，家問死期。曰：何得死？為作白虎湯，飲即瘥。</p>
<p>吳茭山治一婦人，冬月偶感，患洒洒惡寒，翕翕發熱，惡食乾嘔，大便欲去不去。諸醫皆以虛弱痰飲治之，以二陳補心等藥服不效。延及半月，吳診其脈，虛而無力，類乎傷暑，眾不然之，究問其病因，其婦曰：因天寒換著綿衣，取綿套一床蓋之，須臾煩渴，寒熱嘔吐，綿延至今耳。吳曰：誠哉傷暑也。蓋綿套曬之盛暑，夾熱收入笥中，必有暑氣，尚未開泄，今人體虛，得之易入，故病如是。其婦曰然，遂制黃連香薷飲，連進二服而愈。</p>
<p>逢年歲熱甚，凡道路城市，昏作而死者，此皆虛人勞人，或飢飽失節，或素有病，一為暑氣所中不得泄，即關竅皆窒，非暑氣使然，氣閉塞而死也。古方治暑無他，但用辛甘發散，疏導心氣，與水流行，則無害矣。崇寧乙酉，吳為書局，時一馬伕馳馬出局下，忽仆地絕，急以五苓大順散灌之，皆不驗。已逾時，同舍王相，使取大蒜一握，道上熱土雜研爛，以新水和之，濾去渣，決其齒灌之，少頃即蘇，至暮此僕為吳御馬而歸。乃知藥病相對，有如此者。此方本徐州沛縣門，忽有板書釘其上，或傳神仙救人者，沈存中王聖美皆著其說，而吳親驗之，出石林老人《避暑錄》。</p>
<p>汪希說治一壯男子，形色蒼黑，暑月客遊舟回，患嘔噦，顛倒不得眠，粒米不入六日矣，脈沉細虛豁，諸醫雜投藿香、柴、苓、等藥不效，危殆。汪曰：此中暑也。進人參白虎湯人參五錢，服下嘔噦即止，鼾睡五鼓，方醒索粥，連進二三服，乃減參稍輕，調理數劑而愈。</p>
<p>霖按：治暑之案甚多，此於千百中只有其一，附選數則，以補其不足。</p>
<p>許叔微治一人頭痛身熱，心煩燥渴，診其脈大而虛，授以白虎湯數服愈。仲景云：脈虛身熱，得之傷暑。又云：其脈弦細芤遲何也？《素問》曰：寒傷形，熱傷氣，蓋傷氣不傷形，則氣消而脈虛弱，所謂弦細芤遲者，皆虛脈也。仲景以弦為陰，朱龐亦云中暑脈微細，則虛可知。</p>
<p>霖按：白虎湯數服愈者，其脈大而虛也。若弦細芤遲，則中含濡象，暑傷氣而中挾濕故也。非白虎湯所宜，亦不可泥執補氣全作虛治也。凡醫案鬚髮明其脈證之所以然，方可為後學程法，惟許學士其庶幾乎。</p>
<p>萬密齋治縣丞李天泉，六月中暑腹痛，渠有婢妾，醫謂病寒，進理中湯一劑痛止，乃發熱，一身骨節盡痛，又進十神湯，發汗熱退身不痛矣。萬候之，李稱病愈，觀其面色帶赤，知病未解，請脈之，洪滑而數。（色脈相對。）經曰：大則病進。今汗後脈猶洪數，病方進也，而彼自稱愈，萬去。食頃而病作矣，滿腹急痛，狀如奔豚，上下左右，舉手按摩，亟延萬至曰：汝先診脈，不言而去，知我病也，幸急救我。萬曰無傷，乃進建中湯一服而痛定。次日有省祭官萬樸來問疾，樸善醫診之，且駭且顧，李亦疑懼，萬診之，謂樸曰：汝怪其脈之促止乎？蓋心下怔忡，故脈如是耳。李即應曰：我心下跳亂不寧，即命取藥方，用人參、麥冬、甘草、白芍、生地、五味、獖豬心，煮湯煎一服，心跳止，脈不促矣。蓋心惡熱，用熱治熱，向服理中、十神俱犯禁，故病復作也。</p>
<p>霖按：面赤脈洪數，色脈相參，自是暑病方進，以建中定痛然矣。但暑先入心，傷其營血，況以理中、十神用熱治熱者乎？萬以尚未清理暑熱，故見脈數歇止，則知其熱傷心營，虛而跳止也。西士言由肺入心之血，從心入脈管，以榮養臟腑經脈皮毛，血由心左房落脈管一次，則脈跳一次，西醫聽心血之聲，知脈有病變，而營衛循行之道，六氣標本之理，莫不由此悟入，總在細心體察耳。粗工視人命同草菅，烏足與言此。</p>
<p>江應宿治其岳母年六十餘，六月中旬，勞倦中暑，身熱如火，口渴飲冷，頭痛如破，脈虛豁二三至一止，投人參白虎湯三貼，渴止熱退，惟頭痛，用白蘿蔔汁吹入鼻中良愈。</p>
<p>孫子華赴試南都，六月初旬夢遺，畏寒驚懼，重裘厚被，取汗過多，身熱，六脈滑數無力。與清暑益氣湯，次日舌強，語言不清如癲，目瞪不識人。江曰：此為暑風，與人參白虎湯，加膽星、殭蠶、秦艽、天麻、竹瀝、薑汁漸愈，數日後，舌心黑如墨，與黃連解毒湯、涼膈散不退，與犀角地黃湯而愈。</p>
<p>一人瘦長而脆，暑月過勞，飢飲燒酒，遂身熱汗出，昏懵語亂。江視之，脈皆浮小而緩，按之虛豁，曰暑傷心，勞傷脾也。蓋心藏神，脾藏意，二臟俱傷，宜有是證，法宜清暑益脾，用八物湯，加麥冬、山梔、陳皮，十餘貼而愈。</p>
<p>霖按：江公三案，平正可法，其第二案解毒涼膈不應，易犀角地黃湯始愈。同一涼藥，有對與不對之別，讀者最宜深思。</p>
<p>張路玉治金魯公觸熱，勞形醉飽不謹，後受涼，遂發熱頭痛，脹滿喘逆，大汗如蒸，面赤戴陽，足冷陽縮，脈弦數無力，曰：此傷暑夾食而復夾陰也。與大順散一服不應，轉脹急不安，因與枳實、理中，加厚朴、大黃，是夜更衣二次，身涼足暖而痊。</p>
<p>霖按：此案於不謹後受涼，而見面赤陽縮，足冷汗多且喘，最易作陰證，其辨在發熱頭痛脹滿，與陰證不合，更察其不謹之前，有醉飽之病因，故大順散不應，即用枳實、理中加厚朴、大黃，得更衣而愈。若誤以白通、四逆，殆矣。此暑天變證，非暑證也，要亦不可不知。</p>
<p>汪石山治一人年三十八餘，形瘦弱，忽病上吐下瀉，水漿不入口七日，自分死矣。診脈八至而數，曰當夏而得是脈，暑邪深入也。吐瀉不納水穀，邪氣自盛也。遂以人參白虎湯進半杯，良久復進一杯，覺稍安，三服後減去石膏、知母，而人參漸次加至四五錢，黃柏、橘皮、麥冬等隨其所兼之病而佐使。一月後平復。</p>
<p>霖按：此暑熱霍亂之輕者，吐瀉至七八日而不死，亦由未服溫補燥熱之劑故耳。汪公制劑固當，而進退操縱有法，暑盛氣傷之治，此案可師。</p>
<p>一人病霍亂，欲吐不吐，欲瀉不瀉，心腹㽲痛，脈之沉伏如無，此乾霍亂也。急令鹽湯探吐宿食痰涎碗許遂瀉，與六和湯愈。</p>
<p>霖按：痛脈多伏，以鹽湯探吐，乃開其上竅，上竅開則下竅自通，而得吐瀉，即可治矣。</p>
<p>孫文垣治程氏子，先醉酒，後入房，次早四肢冷，胃腕痛極，脈僅四至，或以鬱火治，投以寒涼，痛更甚。三日前所食西瓜，吐出未化，乃翁以為陰證傷寒，欲用附子理中湯不決。逆孫視之，面色青慘，叫痛而聲不揚，坐臥煩亂，是霍亂兼蛔厥證也，先當止痛安蛔，後理霍亂，可免死也，遲則誤事矣。急用醋炒五靈脂三錢，蒼朮一錢五分，烏梅三個，川椒、炮薑、桂心各五分，水煎飲下，痛減大半，下午以大腹皮、藿香、半夏、橘皮、山楂、茯苓、五靈脂，兩貼全安。</p>
<p>霖按：此人以縱欲貪涼，恣食生冷致病，而又誤設寒涼之劑，故以溫胃安蛔，和中化滯而效，其霍亂亦不甚重。</p>
<p>張石頑云：一少年新婚，陡然腹痛麻瞀，或令飲火酒半杯，腹痛轉劇，旋增顱脹，身發紅點，與蘆根汁得吐痛解。復有鼻衄口燥，胸腹略見紅斑，啜童子小便稍安，又濃煎蔥豉湯，仍入童便，續續與之，得大吐汗出而痊。</p>
<p>霖按：此證即夏日之暑沙伏毒，得酒愈熾，先以蘆根汁清熱解毒，以殺其勢。繼進蔥豉湯，倍用童便解穢清營，仍從宣達分消而愈，治法穩當。</p>
<p>懷抱奇治一男子，恣飲梅水，吐瀉無度，手足厥逆，面色慘晦，聲音不出，而脈沉伏小水點滴不通，服藥入口即吐，醫告技窮，懷思梅味酸主收，故小便癃閉，而果得麝則敗，麝又香竄走竅，乃取麝半入臍中，半入鼻孔，病者即以手拂其鼻曰：此何物也？少頃小水大下二三行，忽如醉而醒，夢而覺，越日索粥漸安。</p>
<p>霖按：此亦暑厥，而無外因者，以敗果通竅，即能奏效，然其巧思，正不可及。</p>
<p>童栻廬治陳氏婦，盛夏病霍亂吐瀉，腹中㽲痛，四肢厥冷，冷汗溱溱，轉筋戴眼，煩躁大渴，喜冷飲，飲已即吐，六脈皆伏，雖曰霍亂，實臟厥也。經云：大氣入臟，腹痛下注，可以致死，不可以致生，速宜救陽為急，遲則腎陽絕矣。以四逆湯、薑、附各三錢，炙甘草、吳茱萸各一錢，木瓜四錢，煎成冷服，日夜連進三劑，四肢始和，危象皆退，口渴反喜沸湯，寒象始露。即於方中佐以生津存液之品，兩服而安。</p>
<p>霖按：肢冷脈伏，大渴喜冷飲，此霍亂屬乎熱者，但喜冷飲而飲已即吐，服熱藥後反喜沸湯，此真寒假熱證也。故宜四逆湯，然而小溲必清白，吐出瀉出，必無穢濁氣味，方是真寒的候，否則真假莫辨，殺人事矣。</p>
<p>倪姓患霍亂吐瀉，審知始不作渴，四肢不逆，脈不沉細。一醫用大順散兩帖，漸至於此，因見四逆，復加附子，脈證更劇。童曰：此病一誤再誤，命將殆矣。若果屬寒，投熱病已，今反四逆，脈轉沉細欲伏，乃釀成熱深厥深，與熱邪傳入厥陰者何異？即以竹葉石膏湯，人參易西洋參，加黃連、滑石，兩劑而安。同時有陸姓患此，醫用回陽之劑，日夜兼進，厥逆煩躁日增，病人慾得冷水，禁絕不與，甚至病者自起拾地上痰涎以解渴，遷延旬日而死。噫！即使真屬陰寒，陽回躁渴如是，熱藥之性，鬱而無主，以涼藥和之，病亦立起，不學無術，曷勝浩嘆？</p>
<p>霖按：此非真熱霍亂，然其證甚輕，醫者藥誤，致釀熱深厥深。竹葉石膏湯，人參易西洋參極是。即使寒證回陽後躁渴，亦當參以涼潤和之。此千古不刊之論也。</p>

<h1>卷下</h1>

<h2>治暑主方</h2>

<h3>六和湯</h3>
<p>治心脾不調，氣不升降，霍亂轉筋，嘔吐泄瀉，寒熱交作，痰喘咳嗽，胸膈痞滿，頭目昏痛，肢體浮腫，嗜臥倦怠，小便赤澀，並傷寒陰陽不分，冒暑伏熱煩悶，或成痢痢，中酒煩渴畏食，婦人胎中亦可服。</p>
<p>縮砂仁（研）　半夏（湯泡七次）　杏仁（去皮尖，各一兩）　人參（去蘆）　甘草（炙，各一兩）　赤茯苓（去皮）　藿香葉（去土）　白扁豆（薑汁略炒）　木瓜（各二兩）　香薷　厚朴（薑汁製，各四兩）</p>
<p>上㕮咀，每服一兩，水二盅，生薑三片，棗一枚，煎至一盅溫服。此清火調中和解之劑，治暑要藥也。</p>

<h3>香薷飲</h3>
<p>治伏暑引飲，口燥咽乾，或吐或瀉，並皆治之。一方加黃連四兩，用薑汁同炒令老黃色，名黃連香薷飲。如有搐搦，加羌活煎服。</p>
<p>香薷（去土，一斤）　白扁豆（微炒，半斤）　厚朴（去皮，薑汁炙熟，半斤）</p>
<p>上㕮咀，每服三錢，水一盅，入酒少許，煎七分，沉冷不拘時服，熱則作瀉，香薷須陳者佳。</p>

<h3>十味香薷飲</h3>
<p>消暑氣，和脾胃。</p>
<p>香薷（一兩）　人參（去蘆）　陳皮（去白）　白朮（土炒）　黃耆（去蘆）　白扁豆（炒，去殼）　甘草（炙）　乾木瓜　白茯苓（去皮）　夏樸（去皮，薑汁炒黑色，各五錢）</p>
<p>上為末，每服二錢，熱湯冷水任調下。</p>
<p>以上辛散驅暑之劑，蓋香薷氣厚能散暑，木瓜善勝暑，厚朴寬中，故為要藥。</p>

<h3>五苓散</h3>
<p>治中暑煩渴，身熱頭痛，霍亂吐瀉，小便赤少，如心神恍惚加辰砂，又名辰砂五苓散。</p>
<p>白朮（二錢）　白茯苓（去皮，二錢）　豬苓（去粗，一錢五分）　肉桂（一錢）　澤瀉（去毛，一錢五分）</p>
<p>上㕮咀，作一帖，水一盅半，煎八分溫服，或作散用亦可。</p>

<h3>桂苓甘露飲</h3>
<p>治伏暑引飲過度，肚腹膨脹霍亂。</p>
<p>白茯苓（去皮）　白朮（土炒）　豬苓（去皮）　滑石（研，各二兩）　寒水石（研）　甘草（炙）　澤瀉（各一兩）　肉桂（去皮，五錢）</p>
<p>上為末，拌勻，每服二錢，熱湯冷水任下，入蜜少許更妙。</p>

<h3>益元散</h3>
<p>治中暑身熱，小便不利，此藥性涼，除胃脘積熱，又淡滲濕，故利大便而散濕熱也。又名天水散、六一散，加硃砂良。</p>
<p>滑石（白膩者，去黃垢，水飛，六兩）　甘草（去皮，一兩）</p>
<p>上為末，每服二錢，新汲水調服。</p>
<p>以上清利消暑之劑，但孕婦禁用。</p>

<h3>藿香正氣散</h3>
<p>治人感四時不正之氣，頭痛憎寒作熱，上喘嗽咳。反胃嘔吐，噁心瀉泄霍亂，臟腑虛鳴，山嵐瘴氣。</p>
<p>大腹皮（黑豆水洗七次）　白茯苓（去皮，各一兩）　廣陳皮（去白，三兩）　半夏（湯泡洗七次，二兩）　白芷（一兩）　白朮（土炒）　厚朴（薑製，炒）　桔梗　甘草（炙）　紫蘇（各二兩）　藿香（三兩）</p>
<p>上㕮咀，每服一兩，水二盅，姜三片，紅棗一枚，煎一盅溫服。</p>

<h3>二香散</h3>
<p>治暑濕相搏，霍亂轉筋，煩渴悶亂。</p>
<p>藿香（二兩）　半夏（薑製）　廣陳皮　桔梗　白朮（土炒）　厚朴（薑汁炒）　白茯苓　紫蘇　白芷（各一兩）　甘草（二兩五錢）　黃連（去須，二兩）　香薷（一斤）　扁豆（炒，八兩）　大腹皮（黑豆水捶洗七次，一兩）</p>
<p>上㕮咀，每服一兩，水二盅，生薑三片，蔥白二根，煎一盅，食後溫服。</p>

<h3>九味羌活湯</h3>
<p>治發熱惡寒無汗，或自汗頭痛項強，或傷風見寒脈，傷寒見風脈，並宜服之。此藥不犯三陽禁忌，為四時發散之通劑也。溫證如神，暑亦可解。</p>
<p>羌活　防風　蒼朮（各一錢五分）　甘草　川芎　白芷　生地　黃芩　細辛（各一錢，細辛用五分亦或可）</p>
<p>上㕮咀，作一服，水二盅，生薑一片，煎至一盅溫服。</p>

<h3>人參敗毒散</h3>
<p>治傷寒頭痛，壯熱惡寒，及風痰咳嗽，鼻塞聲重。如心經蘊熱，口舌乾燥者，加黃芩，溫暑通用，皆臻神妙。</p>
<p>柴胡（去苗）　甘草（炙）　桔梗　人參（去蘆）　羌活（去苗）　川芎　白茯苓（去皮）　枳殼（去穰，麩炒）　前胡（去苗，洗）　獨活（去蘆，各等分）</p>
<p>上㕮咀，每服三錢，水一盅，姜三片，薄荷少許，同煎七分，去滓溫服。</p>
<p>以上正氣驅邪之劑，但暑不可汗，微發解之，敗毒散尤為調和之宗也。</p>

<h3>香樸飲</h3>
<p>治伏熱吐瀉，虛煩霍亂。</p>
<p>人參（去蘆，八分）　茯苓（一錢）　甘草（炙，三分）　紫蘇葉（七分）　木瓜（七分）　澤瀉（五分或七分）　香薷（一錢）　白扁豆（炒，七分）　法半夏（湯泡七次，五分）　廣陳皮（七分）　厚朴（七分）　烏梅肉（七分）</p>
<p>上㕮咀，水二盅，生薑三片，棗一枚，煎一盅，食前熱服。</p>
<p>一發一斂，一驅一補，巧力並中長技也，當與六和湯並善。</p>

<h3>枇杷葉散</h3>
<p>治中暑伏熱，煩渴引飲，嘔噦噁心，頭目昏眩。</p>
<p>枇杷葉（去毛，炙，二兩）　香薷（七錢五分）　白茅根　麥門冬（去心）　甘草（炙）　乾木瓜（各一兩）　廣陳皮（去白）　厚朴（去皮，薑汁炒）　丁香（各五錢）</p>
<p>上為末，每服二錢，水一盅，姜三片，煎服，如止渴燥，去丁香，加知母，冷水調下。</p>
<p>以上辛散之劑。</p>

<h3>縮脾飲</h3>
<p>消暑氣，除煩渴，止吐瀉霍亂。</p>
<p>縮砂仁（研，四兩）　乾葛（二兩）　白扁豆（炒香，去皮，二兩）　烏梅肉　草果（炒，去殼）　甘草（炙，各四兩）</p>
<p>上㕮咀，每服四錢，水二大碗，煎七分，以水沉冷服。</p>
<p>消導解利之劑。</p>

<h3>黃連解毒湯</h3>
<p>治實火燥亂，煩渴蓄熱內甚等證，此所謂實火宜瀉。</p>
<p>黃連（去毛）　黃芩　黃柏　梔子（各一錢）</p>
<p>上咀片，水煎服。</p>

<h3>人參白虎湯</h3>
<p>治伏暑發渴，嘔吐身熱，脈虛自汗。</p>
<p>人參（一錢五分）　知母（二錢）　石膏（五錢）　甘草（炙，一錢）</p>
<p>上㕮咀，入粳米一合，水二盅，煎一盅，不拘時熱服。如伏暑作，寒熱未解，宜和五苓散同煎服。伏熱後或冷水沐浴或吃冷物，冷氣在脾下不散，令日晡作寒慘壯熱，渾身灑淅，宜加桂煎服便解。</p>

<h3>白虎加蒼朮湯</h3>
<p>治中暑無汗，脈虛弱，腹滿身重，口燥面垢，譫語發黃。</p>
<p>石膏（二錢）　知母（去粗）　蒼朮（米泔水浸曬）　羌活（各一錢）　甘草（五分）</p>
<p>上作一劑，水二盅，糯米一撮，煎八分，不拘時服。</p>

<h3>竹葉石膏湯</h3>
<p>治伏暑內外發熱，煩躁大渴。</p>
<p>石膏（研，一兩六錢）　法半夏（二錢五分）　人參（二錢）　甘草（炙，二錢）　麥門冬（去心，五錢五分）　淡豆豉（二錢）　糯米（一合）</p>
<p>上㕮咀，每服五錢，水一盅，入青竹葉、生薑各五片，煎服。</p>

<h3>三黃石膏湯</h3>
<p>治陽毒發斑，身黃如塗朱，眼珠如火，狂叫欲走，六脈洪大，燥渴欲死，鼻乾面赤齒黃。</p>
<p>黃連　黃柏　黃芩（各一錢）　石膏（一兩五錢）　山梔（三十個）　香豉（二合）</p>
<p>上水二盅，姜三片，棗二枚，捶法入細茶一撮，煎之熱服。</p>

<h3>桂苓甘露飲合敗毒散</h3>
<p>消暑更捷。</p>
<p>以上諸方，皆大寒味，鎮墜消毒之劑，驅暑之將軍也。中用人參者，攝氣保中，防驟損耳，此等藥，必重病而後用，輕則惟前十方內酌用為妙。</p>

<h3>百合湯</h3>
<p>病已愈而觸犯者，用之最效。</p>
<p>柴胡（去蘆，一錢）　人參（去蘆，五分）　黃芩（一錢）　甘草（五分）　知母（去粗，八分）　百合（一錢二分）　陳皮（去白，一錢）　生地黃（七分）</p>
<p>渴加天花粉。胸中煩熱加山梔。有微頭疼加羌活、川芎。嘔吐入薑汁炒半夏。胸中飽悶加枳殼、桔梗。食復者加枳實、黃連。甚重大便實者加大黃。胸中虛煩加竹茹、竹葉。瘥後乾嘔，錯語失神，呻吟睡不安者，加黃連、犀角。咳喘者加杏仁。心中驚惕為血少，加當歸、茯神、遠志。虛汗加黃耆。脾虛加白朮。腹如雷鳴加煨生薑。勞復時熱不除，加葶藶、烏梅、生薑汁。</p>
<p>上㕮咀，水二盅，姜三片，捶法醋煮鱉甲，煎之溫服。</p>

<h2>丸散方類</h2>

<h3>加味胃苓丸</h3>
<p>蒼朮（五兩）　陳皮（三兩）　厚朴（二兩）　甘草（炙，二兩）　白朮（四兩）　雲茯苓（二兩）　肉桂（二兩）　豬苓（二兩）　澤瀉（去粗，二兩）　人參（去蘆，一兩）　黃連（去毛，姜炒，二兩）　白芍（炒，二兩）</p>
<p>上為末，蜜丸，清米湯下，每服五六十丸。</p>

<h3>黃龍丸</h3>
<p>治伏暑發熱，煩渴嘔吐噁心。</p>
<p>黃連（去毛，極淨者，二斤）</p>
<p>上以好醋五升，煮乾為末，麵糊丸梧子大，熱湯下，每服三十丸。</p>

<h3>消暑丸</h3>
<p>治伏暑引飲，脾胃不和。</p>
<p>半夏（一斤）　生甘草　雲茯苓（去皮，各半斤）</p>
<p>上為末，薑汁煮糊為丸，如梧桐子大，每服五十丸，熱湯下。此藥味平，備一斑耳。</p>

<h3>玉露散</h3>
<p>治暑渴。</p>
<p>寒水石　滑石（去黃垢土）　石膏（火煅）　栝蔞根（各二兩）　甘草（一兩）</p>
<p>上為細末，每服五錢，新水調下。</p>

<h3>卻暑散</h3>
<p>治冒暑伏熱，頭目眩暈，嘔吐泄痢，煩渴背寒面垢。</p>
<p>赤茯苓　生甘草（各四兩）　寒食麵　生薑（各一斤）</p>
<p>上為末，每服二錢，白湯調下。</p>

<h2>備用方類</h2>

<h3>大順散</h3>
<p>治冒暑伏熱，引飲過多，脾胃受濕，水穀不分，霍亂嘔吐，臟腑不調。</p>
<p>甘草（三斤）　乾薑　杏仁（去皮尖，炒）　肉桂（去皮，各六兩四錢）</p>
<p>上先將甘草用白砂蜜炒，及八分黃熟，次入乾薑同炒，卻入杏仁，候杏仁不作聲為度，用篩篩淨，後入肉桂，一處搗羅為末，每服三錢，水一盅，煎五七分溫服。如煩躁，井花水調下，不拘時候，以沸湯點服亦可。</p>
<p>此劫劑也，從治火攻，用暑厥等劇證則效，效後仍用辛涼劑調理，切不可常用。</p>

<h3>龍鬚散（一名甘草散）</h3>
<p>治中暑迷悶，不省人事，及泄瀉霍亂煩渴，一服即愈，能解暑毒。</p>
<p>白礬（生，一兩）　五倍子（生，三錢）　烏梅（捶去仁，二兩）　甘草（炙，一兩五錢，一方生用）　飛羅面（一兩，一方用清明日面，尤佳）</p>
<p>上為末，入飛羅面拌勻，每服二錢，新水調下。</p>
<p>一方加訶子肉，滴水為丸，如彈子大，細嚼水下。名龍涎丸，此豁痰劫劑，輕證不可用。</p>

<h3>加味桂苓甘露飲</h3>
<p>即桂苓甘露飲，外加人參、香薷、甘草煎服，治法同前。</p>

<h3>補中益氣湯</h3>
<p>治暑傷元氣，脈虛身弱者用之。</p>
<p>黃耆（炙一錢五分）　人參　甘草（炙，各五分）　當歸（七分）　白朮（土炒，八分）　柴胡（三分）　升麻（三分）　廣陳皮（留白，一錢）</p>
<p>渴加葛根五分，咳加麥門冬一錢、五味子十五粒。</p>
<p>一方有白芍藥五分，秋冬不用，黃柏三分，以滋腎水，瀉伏火，加紅龍三分，入心養血。</p>
<p>上作一服，水煎午前稍熱服。</p>
<p>溫補但助火，反昏沉，須加連膏方效。</p>

<h3>調中湯</h3>
<p>大黃（去皮，七錢）　葛根　黃芩　藁本　白朮　芍藥　桔梗　雲茯苓（去皮）　甘草（炙，各五錢）</p>
<p>上㕮咀，每服五錢，水盞半，煎八分，移時再服，得利即止。</p>
<p>此下藥也，須有生冷麵食積聚者，方可用。</p>
<p>霖按：治暑首以六和湯、香薷飲，此兩方乃暑月外感風寒，內傷生冷之劑，未可概治也。五苓散為傷寒中風有表裡證，渴欲飲水，所以用桂術蒸膀胱之津液上騰，宣陽氣，布水精，乃治濕之方。九味羌活湯、人參敗毒散，辛溫升散，暑濕忌汗，用者皆宜慎。其大順散，治暑月內傷飲冷證，非治暑也，移治暑厥燥火之病，恐貽人夭殃。即使脈伏肢冷，汗多舌潤，亦當以參附回陽，斷不可專恃薑桂燥烈之品。況熱厥亡陽，辨之不真，雖參附亦殺人事也，可不慎諸，增訂數方，附列於後。</p>

<h3>白虎加人參湯（見前）</h3>

<h2>增補諸方</h2>

<h3>一物瓜蒂湯（《金匱》）</h3>
<p>瓜蒂（二十個）</p>
<p>上銼以水一升，煮去五合，去滓頓服。</p>
<p>尤在涇曰：暑之中人也，陰虛而多火者，暑即寓於火之中，為汗出而煩渴。陽虛而多濕者，暑即伏於濕之內，為身熱而疼重。故暑病恆以濕為病而治濕，即所以治暑。瓜蒂苦寒，能吐能下，去身面四肢水氣，水去而暑無所依，將不治而自解矣。此治中暑兼濕者之法也。</p>

<h3>紫金錠（一名玉樞丹）</h3>
<p>治一切藥毒，菰子鼠莽惡菌，疫死牛馬河豚等毒，及時行瘟疫，山嵐瘴瘧，纏喉風痹，黃疸赤眼，瘡癤熱毒上攻，或自縊溺水，打撲傷損，癰疽發背，魚臍瘡腫，百蟲蛇犬所傷，男子婦人癲邪狂走，鬼胎鬼氣，並宜服之。</p>
<p>山慈姑（去皮，洗焙，二兩）　川文蛤（一名五倍子，捶破洗，刮內桴，二兩）　麝香（細研盡，三錢）　紅芽大戟（洗焙，一兩）　千金子（去殼，用紙包裹，換紙研數十次，去盡油，無油成霜，二兩。）</p>
<p>上各研細末和勻，以糯米粥為劑，每料分作四十粒，於端午、七夕、重陽合，如欲急用，辰日亦得，於木臼中杵數百下，不得令婦人、孝服人、不具手足人、及雞犬之類見之。</p>

<h3>竹葉石膏湯（見前）</h3>

<h3>黃連香薷飲</h3>
<p>即前香薷飲，加黃連。</p>

<h3>白虎加蒼朮湯（見前）</h3>

<h3>麥門冬湯（《金匱》）</h3>
<p>麥門冬（七升）　半夏（一升）　人參　甘草（各二兩）　粳米（三合）　大棗（十二枚）</p>
<p>上六味，以水一斗二升，煮去六升，溫服—升，日三，夜—服。</p>
<p>霖按：此方治胃中津液乾枯，虛火上炎之良法。海藏去半夏加竹葉，治房勞復氣欲絕者佳。</p>

<h3>生脈散</h3>
<p>治熱傷元氣，氣短倦怠，口乾出汗。</p>
<p>人參　麥門冬　五味子</p>
<p>上三味，用水煎服。</p>
<p>柯韻伯曰：肺為嬌臟，而朝百脈，主一身元氣者也。形寒飲冷則傷肺，故傷寒有脈結代，與脈微欲絕之危。暑熱刑金則傷肺，故傷熱有脈來虛散之足慮。然傷寒是從外來者為實邪，故雖脈不至而可復可通。傷熱是從所不勝來者為賊邪，非先從滋化其源，挽回於未絕之前，則一絕而不可復。此孫真人為之急培元氣，而以生脈名方也。麥門冬甘寒，清權衡治節之司，人參甘溫，補後天營衛之本，五味酸溫，收先天天癸之原，三氣通而三才立，水升火降，而合既濟之理矣。仲景治傷寒，有通脈復脈二法。少陰病裡寒外熱，下利清穀，脈微欲絕者，制通脈四逆湯，溫補以扶陽。厥陰病外寒內熱，心動悸，脈結代者，制復脈湯，涼補以滋陰。同是傷寒，同是脈病，而寒熱異治者，一挽坎陽之外亡，一清相火之內熾也。生脈散本復脈立法，外無寒故不用薑桂之辛散，熱傷無形之氣，未傷有形之血，故不用地黃、阿膠、麻仁、大棗，且不令其泥膈而滯脈道也。心主脈而苦緩，急食酸以收之，故去甘草而加五味矣。脈資始於腎，資生於胃，而會於肺，仲景二方，重任甘草者，全賴中焦穀氣以通之復之，非有待於生也，此欲得下焦天癸之元氣以生之，故不藉甘草之緩，必取資於五味之酸矣。</p>

<h3>白頭翁湯（《傷寒論》）</h3>
<p>白頭翁（二兩）　黃連　黃柏　秦皮（各三兩）</p>
<p>上四味，以水七升，煮取二升，去滓溫服一升，不愈更服一升。</p>
<p>霖按：此治厥陰熱利方也，何以移治暑厥？夫白頭翁臨風偏靜，長於驅風，用為君者，以風動則火生，風平則火熄，欲平走竅之火，必寧搖動之風也。秦皮、黃柏，瀉少陽相火，而手少陽與手厥陰表裡，故佐以黃連以瀉心包絡火熱，風平火熄，則痙止厥回矣，此釜下抽薪法也。</p>

<h3>升麻鱉甲湯（《金匱》）</h3>
<p>升麻　當歸　甘草（各二兩）　雄黃（半兩，研）　蜀椒（炒去汗，一兩）　鱉甲（手掌大一片，炙）</p>
<p>上六味，以水四升，煮取一升，頓服之，老小再服取汗。《肘後千金方》，陽毒用升麻湯無鱉甲，有桂；陰毒用甘草湯，無雄黃。</p>
<p>趙以德曰：按古方書，謂陽毒者，陽氣獨盛，陰氣暴衰，內外皆陽，故成陽毒。謂陰毒者，陰氣獨盛，陽氣暴衰，內外皆陰，故成陰毒。二者或傷寒初得，便為是證，或服藥後變而成之。陽毒盡治以寒涼，陰毒盡治以溫熱，藥劑如冰炭之異，何乃仲景用一方治之乎？雖曰陰毒去雄黃、蜀椒，則是反去其溫熱者矣。且注曰：《肘後千金方》陽毒用升麻湯無鱉甲有桂，陰毒用甘草湯無雄黃，豈非皆是熱毒之傷於陰陽二經絡耶？在陽經絡則面赤斑斑如錦文，吐膿血，在陰經絡則面青身如被杖，此皆陰陽水火動靜之本象如此，豈是寒熱之邪乎？嘗以升麻鱉甲之藥考之本草，謂升麻能解時氣毒厲諸毒，攻咽喉痛，與熱毒成膿，開壅閉，療發斑。當歸能破惡血，養新血，補五臟肌膚。甘草和中，利血脈，緩急止痛，調藥奏功。鱉甲去惡血。雄黃破骨節積聚，闢鬼邪惡氣，骨蒸熱極。蜀椒通血脈，調關節逐肌骨皮膚死肌，去留結破血，治天行時氣。諸藥所能者如此，即此觀之，仲景於陰陽二毒之證，總用一方，蓋可見矣。病形雖由陰陽發證，論邪則一屬熱毒與血病也。所以不分表裡，俱以升麻解熱毒為君，當歸和血為臣，余者佐之而已。但雄黃蜀椒，理陽氣藥也，故病在陰者去之，如《肘後千金》陽毒去鱉甲有桂枝者。鱉，水族，乃陰中之陽，不如桂枝能調陽絡之血，陰毒不去蜀椒者，蜀椒亦陰中之陽，非若雄黃陽中之陽，故留之以治陰也。方旨如此而已。</p>

<h3>達原飲（《溫疫論》）</h3>
<p>檳榔（二錢）　厚朴（一錢）　草果仁（五分）　知母（一錢）　芍藥（一錢）　黃芩（一錢）　甘草（五分）</p>
<p>上用水二盅，煎八分，午後溫服。</p>
<p>吳又可曰：檳榔能消能磨，除伏邪，為疏利之藥，又除嶺南瘴氣。厚朴破戾氣所結，草果辛烈氣雄，除伏邪蟠踞。三味協力直達其巢穴，使邪氣潰散，速離募原，是以名為達原飲也。熱傷津液，加知母以滋陰，熱傷營血，加芍藥以和血，黃芩清燥熱之餘，甘草為和中之用，以後四味，乃調和之品，如渴與水，非拔病之藥也。凡疫邪遊溢諸經當隨經引用，以助升泄。如脅痛耳聾，寒熱嘔而口苦，此邪熱溢於少陽經也，本方加柴胡一錢，如腰背項痛，此邪熱溢於太陽經也，本方加羌活一錢。如目痛眉稜骨痛，眼眶痛，鼻乾不眠，此邪熱溢於陽明經也，本方加葛根一錢。但證有遲速輕重不等，藥有多寡緩急之分，務在臨時斟酌，所定分兩，大略而已，不可執滯。</p>

<h3>三消飲（《溫疫論》）</h3>
<p>檳榔　草果　厚朴　芍藥　甘草　知母　黃芩　大黃　葛根　羌活　柴胡　生薑　大棗為引。</p>
<p>鄭素圃曰：按三陽加法，不必全用，各隨其所見之經而加用之。</p>

<h3>大承氣湯（《溫疫論》）</h3>
<p>大黃（五錢）　厚朴（一錢）　枳實（一錢）　芒硝（三錢）</p>
<p>水姜煎服。弱人減半，邪微者各復減半。</p>

<h3>小承氣湯（《溫疫論》）</h3>
<p>大黃（五錢）　厚朴（一錢）　枳實（一錢）</p>
<p>水姜煎服。</p>

<h3>調胃承氣湯（《溫疫論》）</h3>
<p>大黃（五錢）　芒硝（二錢五分）　甘草（一錢）</p>
<p>水姜煎服。</p>
<p>吳又可曰：三承氣湯，功用彷彿，熱邪傳裡。但上焦痞滿者，宜小承氣湯。中有堅結者，加芒硝軟堅而潤燥。病久失下，雖有結糞，然多黏膩，得芒硝則大黃有盪滌之能。設無痞滿，惟存宿結而有瘀熱者，調胃承氣湯宜之，三承氣功效，皆在大黃，余皆治標之品，不耐湯藥者，或嘔或噦，當為細末，蜜丸湯下。</p>
<p>如人方肉食，而病適來，以致停積在胃，用大小承氣連下，惟是臭水稀糞而已，於承氣湯中，但加人參一味服之，雖三四十日所停之完穀及完肉，於是方下，蓋承氣借人參之力，鼓舞胃氣，宿物始動也。</p>

<h3>升降散</h3>
<p>白殭蠶（酒炒，二錢）　全蟬蛻（去土，一錢）　廣薑黃（去皮，三分，不用片薑黃）　川大黃（生，四錢）</p>
<p>上為細末，合研勻，病輕者分四次服，每服重一錢八分二釐五毫，用冷黃酒一杯，蜂蜜五錢，調勻冷服，中病即止。病重者分三次服，每服重二錢四分三釐三毫，黃酒一半，蜜七錢五分，調勻冷服。最重者，分二次服，每服重三錢六分五釐，黃酒二杯，蜜一兩，調勻冷服。如一二帖未愈，可再服之，熱退即止。胎產亦不忌。煉蜜丸，名太極丸。性稍緩，服必空心，服後須忌半日不可吃茶水吃煙吃飲食，若不能忌，並不效，能遵禁忌，下咽即蘇，半日而愈。若飽食後服此亦不效，愈後最忌飽食，只宜吃稀粥四五分飽，永不再發。至於腥葷，更須著實牢忌，萬不可吃。凡患瘟疫，未曾服他藥，或一二日，或七八日，或至月餘未愈，但服此藥，即愈。若先用他藥不效，後用此藥，亦間有不驗者，服藥雜故也。</p>
<p>楊慄山曰：處方必有君臣佐使，而又兼引導，此良工之大法也。是方以殭蠶為君，蟬蛻為臣，薑黃為佐，大黃為使，米酒為引，連蜜為導，六法俱備，而方乃成。竊嘗考諸本草，而知殭蠶味辛苦氣薄，喜燥惡濕，得天地清化之氣，輕浮而升，陽中之陽，故能勝風除濕，清熱解鬱，從治膀胱相火，引輕清氣上潮於口，散熱濁結滯之痰也。其性屬火，兼土與木，老得金水之化，僵而不腐，溫病火炎土燥，焚木爍金，得秋分之金氣而自衰，故能闢一切怫鬱之邪氣，夫蠶必三眠三起，眠者病也，合薄皆病，而皆不食也，起者愈也，合薄皆愈，而皆能食也。用此而治閤家之瘟病，所謂因其氣相感，而以意使之者也，故為君。夫蟬氣寒無毒，味鹹且甘，為清虛之品，出糞土之中，處極高之上，自甘風露而已，吸風得清陽之真氣，所以能祛風而勝濕，飲露得太陰之精華，所以能滌熱而解毒也，蛻者退也，蓋欲使人退去其病，亦如蟬之脫然無恙也，亦所謂因其氣相感，而以意使之者也，故為臣。薑黃味辛苦溫無毒，蠻人生啖，喜其祛邪伐惡，行氣散郁，能入心脾二經，建功癖疫，故為佐。大黃味苦，大寒無毒，上下通行，蓋亢甚之陽，非此莫抑，苦能瀉火，苦能補虛，一舉而兩得之，人但知其建良將之大勳，而不知有良相之碩德也，故為使。米酒性大熱，味辛苦而甘，令飲冷酒，欲其行遲，傳化以漸，上行頭面，下達足膝，外周毛孔，內通臟腑經絡，驅逐邪氣，無處不到，如物在高巔，必奮飛沖舉以取之，物在遠方及深奧之處，更必迅奔探索以取之，且喜其和血養氣，伐邪辟惡，仍是華陀舊法，亦屠蘇之義也，故為引。蜂蜜甘平無毒，其性大涼，主治丹毒斑疹，腹內留熱，嘔吐便秘，欲清其熱，潤燥而自散瘟毒也，故為導。蓋蠶食而不飲，有大便無小便，蟬飲而不食，有小便無大便，以清虛而散火，君明臣良，治化出焉。薑黃辟邪而靖疫，大黃定亂以致治，佐使同心，功績建焉。酒引之使上行，蜜潤之使下導，引導協力，遠近通焉。補瀉兼行，無偏勝之弊，寒熱並用，得時中之宜，所謂天有覆物之功，人有代覆之能，其洵然哉，用治溫病。百發百中，屢試屢驗，萬無一失。</p>

<h3>清瘟敗毒飲</h3>
<p>生石膏（大劑，六兩至八兩，中劑，二兩至四兩，小劑，八錢至一兩二錢）　梔子　小生地（大劑，六錢至一兩，中劑，三錢至五錢，小劑，二錢至四錢五分）　桔梗　烏犀角（大劑，六錢至八錢，中劑，三錢至四錢，小劑，二錢至四錢）　黃芩　真川連（大劑，四錢至六錢，中劑，二錢至四錢，小劑，一錢至一錢半）　知母　赤芍　元參　連翹　甘草　丹皮　鮮竹葉</p>
<p>先煮石膏數十沸，後下諸藥，犀角磨汁和服。</p>
<p>余師愚曰：此十二經泄火之藥也。凡一切火熱，表裡俱感，狂躁煩心，口乾咽痛，大熱乾嘔，錯語不眠，吐血衄血，熱甚發斑，不論始終，以此為主方。蓋斑疹雖出於胃，亦諸經之火有以助之，重用石膏，直入胃經，使其敷布於十二經，退其淫熱，佐以黃連、犀角、黃芩，泄心肺火於上焦，丹皮及梔子、赤芍，泄肝經之火，連翹、元參，解散浮游之火，生地、知母，抑陽扶陰，泄其亢甚之火，而救欲絕之水，桔梗、竹葉，載藥上行，使以甘草和胃，此大寒解毒之劑。重用石膏，則甚者先平，而諸經之火，自無不安矣。證疫若初起，惡寒發熱，頭痛如劈，煩躁譫妄，身熱肢冷，舌刺唇焦，上嘔下泄，六脈沉細而數，即用大劑，沉而數者，即用中劑，浮大而數者，用小劑，如斑一出，即加大青葉，並少佐升麻四五分，引毒外透，此內化外解，濁降清升之法，治一得一，治十得十，以視升提發表而加劇者，何為俯取芻蕘之一得乎？</p>

<h3>聖散子方</h3>
<p>草豆蔻（麵裹，炮，十個）　木豬苓（去皮）　石菖蒲　高良薑　獨活（去蘆，頭）　附子（炮製，去皮臍）　麻黃　（去根）　藁本（去穰，土炒）　厚朴（去皮，薑汁炙）　芍藥　枳殼（去穰，麵炒）　柴胡　澤瀉　白朮　細辛　防風（去蘆，頭）　藿香　半夏（薑汁製，各半兩）　甘草（炙，一兩）　茯苓（半兩）</p>
<p>上銼碎，如麻豆大，每服五錢匕，水一盅半，煮取八分，去滓熱服，余滓兩服，合為一服，重煎空心服。</p>

<h2>附：霍亂瘧痢發斑</h2>
<p>暑證即發為熱病，吐瀉霍亂，積久後發為瘧、痢。霍亂、瘧、痢三證，醫書各有專科，治法亦詳，故不具載。姑以主方取效速者，附列於下。</p>

<h3>乾霍亂吐法</h3>
<p>暑氣入腹，噁心腹痛，上吐下瀉，瀉如水注，此暑火暴發，升降不利，清濁不分，所瀉者皆五臟之津液，宜速止之。用五苓散，或胃苓湯，利小便清火實臟，甚者桂苓甘露飲。此證間有夾食積者，醫家認為食傷，而用下誤矣。亦有謂其穢濁當去者，不知津液暴涸，元氣頓傷，當立止之為上。更有吐瀉無物者，為乾霍亂，令人立斃，急用炒鹽湯或二陳湯探吐之，通則易救。</p>
<p>丹溪亦用理中湯吐，恐熱，不敢載方。</p>
<p><u>二陳湯</u>　化痰利氣，乾霍亂多煎服之，探吐代瓜蒂散，瓜蒂性峻而損胃，此藥利痰而性平。</p>
<p>廣陳皮（去白，一錢五分）　半夏（薑汁炒，一錢）　雲茯苓（去皮，一錢二分）　甘草（三分）</p>
<p>上㕮咀，水煎服。</p>

<h3>痢疾方</h3>
<p><u>芍藥湯加減</u>　兼治赤白痢。</p>
<p>白芍藥（一錢）　黃連（一錢）　枳實（一錢）　白茯苓（一錢）　檳榔（七分）　當歸（八分）　黃芩（一錢）　川芎（五分）　大黃（二錢）　加滑石（二錢）</p>
<p>大黃，初痢二三日內用一帖，動後即去之，痢日久者不可用，水一盅半，煎至八分，和木香末三分溫服，日夜三服方效。</p>
<p><u>香連丸</u>　方伯王嵩淮傳自楚府。</p>
<p>木香（二兩）　黃連（茱萸炒，八兩）　廣陳皮（二兩）　槐角子（一兩五錢）　地榆（一兩）　枳殼（麩炒，二兩）　枳實（麩炒，一兩）　檳榔（二兩）　益元散（二兩）</p>
<p>醋糊為丸，每服一錢，紅痢、米湯下，白痢、薑湯滾白水送下，亦每日三服，或湯一丸二丸亦可。老弱數服後，即當溫補。</p>

<h3>瘧疾方</h3>
<p><u>清脾飲加減</u></p>
<p>青皮　厚朴　白茯苓　柴胡　半夏　黃芩（各一錢）　白朮（八分）　甘草　草果仁　砂仁（各五分）　滑石（二錢）</p>
<p>渴加麥門冬一錢，烏梅一個，水一盅半，煎至八分，和薑汁二匙溫服，瘧發過兩個時辰服一帖，到瘧臨來前一個時辰，再服一帖方效。二日一發者，先於空日早晚服二帖，至臨發日前一個時辰，又服一帖方效。</p>
<p>如服前藥後，尚未痊愈，即服後劑。</p>
<p><u>胃苓湯</u></p>
<p>厚朴（薑製，炒）　蒼朮（泔水浸，炒）　陳皮（一錢）　甘草（炙，五分）　澤瀉　雲茯苓　豬苓（各八分）　白朮（一錢）　官桂（三分）</p>
<p>上水二盅，煎至八分溫服。</p>
<p>霖按：乾霍亂欲吐不得，欲瀉不得，頃刻危亡，恐非二陳湯探吐可通，當以屋角結網之大蜘蛛一枚搗爛，水沖服，即可痛止便通。蓋暑濕伏郁之邪，賊及太陰濕土，非風木之相剋則不劇，邪穢深伏，上下為之不通，風邪肆虐，故心腹為之絞痛，蜘蛛善能定風，風平則土氣得伸，而上下皆通矣。通後再議進藥，若夫霍亂之治，雖載方書，可不具錄，然既云附列主方，若不辨其寒熱綱領，誠恐貽誤來茲。凡霍亂吐瀉，吐出澄澈而不酸濁，瀉出而不臭穢，口不渴，小溲利，此寒證。即《素問·至真要大論》，諸病水液，澄澈清冷，皆屬於寒者是也。若吐出酸濁，瀉出臭穢，溲渾口渴，此熱證，即諸轉反戾，水液渾濁，諸嘔吐酸，暴注下迫，皆屬於熱是也。轉筋者，感風木之變，土為木克也。夫霍亂吐瀉後，每多肢冷如冰，脈伏欲絕，口渴甚，以涼水與之即止。若驗其所吐酸臭，所下穢惡，小溲赤澀，此假寒真熱證也。口渴喜冷飲，卻不多，手足逆冷，面赤戴陽，煩熱發躁，揭去衣被，若察其瀉出不臭惡，吐出不酸穢者，陰盛格陽之假熱真寒證也。如煩渴躁擾，口乾恣飲，舌本不冷者，乃氣液告竭之候，宜兼救陰。如吐利止而身痛不休，宜兼達表，此寒熱之略也。然易之山風蠱卦，艮上巽下，蠱者蟲類也，風木之邪，剋制濕上，則蟲生，霍亂之重者，殺蟲又不可緩也。此義仲景以後，未有知者，近西士言之，司命者亦不可忽。</p>
<p>又按：痢瘧各有專書，原不須縷述，但清脾飲治少陽正瘧之方，胃苓湯治太陰寒濕之瘧，溫癉等瘧，若誤用，禍尚不測，況暑瘧乎？此書專言傷暑，而舍暑瘧不論，殊覺未備，夫微寒壯熱，心煩多汗，口渴引飲，脈或虛或濡，或洪或弦，或一日一發，或間日一發者，即所謂陰氣先傷，陽氣獨發之暑瘧也。當與《內經》、《金匱》癉瘧治法相仿，然有微甚之不同。若因外感觸發伏氣，宜清涼滌暑，如滑石、青蒿、生草、連翹、茯苓、竹茹、枳實。暑熱甚者，黃芩、黃連皆可加入。外邪甚者，可加豆豉、蔥、藿香、薄荷之屬。若暑熱內動者，宜甘寒生津，如鮮生地、麥冬、沙參、花粉、知母、石膏、鮮石斛、梨汁、蔗漿。夾濕者，可加入蘆根、通草、六一散。熱濕兩重，日晡煩痞昏譫，而陰氣未見大傷者，半夏瀉心，合小陷胸，去參棗，稍挾表邪，可佐以豉、薄、蘇、藿、蔥白等兩三味是矣。若夫十二經之瘧，風寒濕及痰食疫瘴諸瘧，仍當考之專書，茲不載。</p>

<h3>附方</h3>
<p><u>半夏瀉心湯</u></p>
<p>半夏（半升）　黃芩　乾薑　甘草（炙）　人參（各二兩）　黃連（一兩）　大棗（十二枚）</p>
<p>水一斗，煮取六升，去渣再煎，取三升，溫服—升，日三服。</p>
<p>方中行曰：半夏、乾薑，辛以散虛滿之痞。黃芩、黃連，苦以泄心膈之熱。人參、甘草，甘以益下後之虛。大棗甘溫，潤以滋脾胃之液。曰瀉心者，言滿在心膈，而不在胃也。</p>
<p><u>小陷胸湯</u></p>
<p>栝蔞實（大者一枚）　黃連（一兩）　半夏（半升）</p>
<p>水六升，先煮栝蔞，取三升，去滓內諸藥，煮取二升，去滓分溫二服。</p>
<p>鄒潤安曰：觀仲景之用栝蔞實，在此湯曰小結胸。正在心下，按之則痛，在栝蔞、薤白白酒湯，曰喘息咳唾，胸背痛短氣。而其脈一則曰浮滑，一則曰寸口沉遲，關上小緊數，是皆陰中有陽，且踞於陽位者也。夫胸背痛，較按之方痛則甚，痹則較結為輕。咳唾喘息，是其勢為上衝，而居於心下，按之才痛，似反靜而不動，此其機總緣氣與飲相阻，寒與熱相糾，熱甚於寒者，其束縛反急而為結，寒甚於熱者，其蔽塞自盛而為痹，是故結胸之病伏，胸痹之病散，伏者宜開，散者且行，故一則佐以連夏之逐飲泄熱，一則佐以薤酒之滑利通陽。栝蔞實之裹無形攢聚有形，使之滑潤而下則同，能使之下，似是治實之方，僅能使之下，不能使其必通，又非純乎治實之道矣，何以知不能使之必通？蓋有停飲，痛甚至不得臥，即當加半夏。若兼胸滿脅下逆搶心，則仍加枳、樸、桂枝，倘竟能通，又何必如是哉！是知栝蔞實之治，大旨在火與痰結於陽位，不純乎虛，亦不純乎實者，皆能裹之而下，此其擅長矣。</p>

<h3>發斑方</h3>
<p><u>消斑青黛飲</u>　治邪熱傳裡，裡實表虛，血熱不散，熱氣乘於皮膚而為斑也。</p>
<p>黃連（去毛，一錢）　甘草（五分）　石膏（煅，一錢五分）　知母（五分）　柴胡（去蘆，五分）　人參（去蘆，五分）　犀角（鎊，一錢）　青黛（一錢）　山梔（一錢）　生地（一錢）</p>
<p>大便實者，去人參，加大黃，多寡酌之。</p>
<p>上㕮咀，水二盅，姜一片，棗二枚，煎之捶法，臨服入苦酒一匙調服。</p>
<p>寒溫暑三病，有發斑證，而暑斑人多忽之，不知其形與寒溫同，或大如豆，或細如線痕，或如蚤點，甚亦有羊毛疔者，皆宜前藥清之。</p>

<h2>服藥總法</h2>
<p>傷寒傷暑，溫涼諸證，皆邪氣欺正氣也。用藥如對敵，藥入則邪漸退，藥力盡而邪復熾，必一服周時，即詳勢診脈，藥對則連進，日夜三五服，以邪退病安為止。此法惟漢張仲景傷寒。隋孫思邈《千金方》中載此。孫云夏月晝五夜三，冬月晝三夜五，必期病退而後止，如禦敵者，愈驅逐愈加精銳，期於蕩平而後班師，此萬全之勝算也。自宋以後不傳，故取效寡而活人之功疏，愚以此法屢治人，極有神效。</p>

<h2>附刻：喻嘉言《瘟疫論》序</h2>
<p>張鳳逵之著《傷暑全書》也，翻古人之成案，妙生心之化裁，可謂善於立言者矣。第疫證引說不明，關係醫學非小，雖以東垣之淵通，丹溪之博洽，亦隨俗相沿，未有確解，近喻嘉言先生，以通今博古之才，著開天闢地之論，掃叔和之穢，闡仲景之奧，不剿陳言，獨標新義，從來迷謬，渙然冰釋，至於治法，高出千古，直髮前人所未發，誰謂今人不及古人之精乎？故附刊之，而以治案名方，綴於其後，用告業醫之士焉。蓋天地以生為心，寒熱溫涼，四氣遞運，萬古不易，人生其間，感觸寒暑而病者，皆其起居無時，飲食不節，氣虛體弱，自行犯之，非寒暑之過也。然亦不過千百之一二耳！若以寒暑為殺厲之氣，觸之即病，則人無噍類久矣，豈天地生人自然之道哉！至非其時而有其氣，謂之不正之氣則可，謂之疫氣則非也。何也？不正之氣，人感之者，有病有不病，未可一概論也。若夫疫氣，則不論富貴貧賤，老幼男女，強弱虛實，沿門合境，傳染相同，人無得免者，此唯大兵大荒之後則有之，而饑饉之年尤甚，流離滿野，道殣相望，或趨鄉鎮，或集郡邑，或聚都城，安置失所，賑濟乏術，九重萬里，呼籲無門，三五為群，死無虛日，千百一塚，埋藏不深，掩蓋不厚，時至春和，地氣轉動，浮土塌陷，白骨暴露，血水汪洋，死氣屍氣，濁氣穢氣，隨地氣上升，混入蒼天清淨之氣，而天地生物之氣，變為殺物之氣，無形無影，無聲無臭，從口從鼻而入，直犯臟腑，正氣閉塞，邪氣充斥，頃刻云亡，莫可救藥。《說文》云：疫者民皆病也，厲鬼為災，斯為疫耳！《禮記·月令》云：孟春之月，先王掩骼埋胔，正以是月天氣下降，地氣上升，誠恐胔骼汙穢之氣，隨天地之氣升降，溷合為一，有害人物，故掩埋之。此預補造化，天無功也。蓋以人在氣交之中，如魚在水，一毫渣滓，混雜不得。設川澤潑灰，池溏入油，魚鮮有得生者。人受疫氣，何以異此！是以自古聖君賢相，參贊化育，燮理陰陽，消弭疫端於平日，捍患御災，煮粥施藥，救濟疫害於臨時，人無橫夭，世躋雍熙，文人解為澤及枯骨，失其旨矣。詎春月當澤及枯骨，而夏秋冬之枯骨，遂不當澤及哉！近有好事之輩，設立壇廠，每於小兒出痘之年，購求夭亡屍骸，雖經埋瘞，亦必刨集如山，架火焚燒，烈焰張熾，腥聞於天，神人掩鼻，毒氣熏蒸，惡味氤氤，流行傳染，以致嬰孩生出一等怪症，似痘非痘，似疹非疹，似癍非癍，一二日間，即涉危篤。雖有良醫，莫能措手，共相詫愕，咸謂天生災異，不知致此之由，頻年以來，冤枉赤子，何啻數萬？離城二三十里，即無此症，豈非明驗與！嗟嗟，異端妖術，惑世誣民，昧者反以為善，聚眾譁之，斂財助之，此倡彼和，奔走若狂，揆之先王掩骼埋胔之義，不大相乖舛耶？因序疫症而並及之，以望世之學醫者，加之意焉。</p>
<p><u>時康熙十四年七月朔漁陽林起龍北海識於補拙齋</u></p>

<h2>附刻：喻嘉言《瘟疫論》</h2>
<p>喻昌曰：聖世御宇，春無愆陽，夏無伏陰，秋無悽風，冬無苦雨，乃至民無夭札，物無疵癧，太和之氣，彌滿乾坤，安有所謂瘟疫哉？然周禮儺以逐疫，方相氏掌之，則瘟疫之由來，古有之矣。鄉人儺，孔子朝服而致其誠敬，蓋以裝演巨象為儺神，不過彷彿具形，聖人以正氣充塞其間，俾疫氣潛消，乃位育之實功耳！古人元旦汲清泉以飲芳香之藥，上已採蘭草以襲芳香之氣，重滌穢也。後漢張仲景著《傷寒論》，欲明冬寒春溫夏秋暑熱之正，自不能併入疫病，以混常法，至理已畢具於脈法中。叔和不為細繹，乃謂重感於寒，變為溫疫。又謂春時應暖而復大寒，夏時應大熱而反大涼，秋時應涼而反大熱，冬時應寒而反大溫，此非其時而有其氣，是以一歲之中，長幼之病，多相似者，此則時行之氣也。又謂冬溫之毒，與傷寒大異，冬溫復有先後，更相重沓，亦有重輕，治法不同。又謂從春分節以後，至秋分節前，天有暴寒者，皆為時行寒疫也。蓋春夏秋為寒疫，冬月為溫疫，所以又云三月四月，或有暴寒，其時陽氣尚弱，為寒所折，病熱猶輕。五月六月，陽氣已盛，為寒所折，病熱則重。七月八月，陽氣已衰，為寒所折，病熱亦微。後人奉此而廣其義，謂春感清邪在肝，夏感寒邪在心，秋感熱邪在肺，冬感溫邪在腎，塤篪遞奏，舉世若狂矣。嗟嗟！疫邪之來，果為寒折，陽氣乘其所勝，而直入精神魂魄之臟，人無噍類久矣。更有謂疫邪無形象聲臭，定時定方可言，是以一歲之中，長幼莫不知病此，至病傷寒者，百無一二。治法非疏里則表不透，非戰汗則病不解，愈摹愈遠，究竟所指之疫，仍為傷寒、傷溫、傷暑熱之正病，疏里則下早可知，戰汗則失表可知，只足自呈敗闕耳！夫四時不正之氣，感之者，因而致病，初不名疫也。因病致死，病氣屍氣混合不正之氣，斯為疫矣。以故雞瘟死雞，豬瘟死豬，牛馬瘟死牛馬，推之於人，何獨不然？所以饑饉兵凶之際，疫病盛行，大率春夏之交為甚，蓋溫暑熱濕之氣，交結互蒸，人在其中，無隙可避，病者當之，魄汗淋漓，一人病氣，足充一室，況於連床並塌，沿門合境，共釀之氣，益以出戶，屍蟲載道，腐墐燔柴掩席，委壑投崖，種種惡穢，上溷蒼天清淨之氣，下敗水土物產之氣，人受之者，親上親下，病從其類，有必然之勢。如世俗所稱大頭瘟者，頭面腮頤腫如瓜殼者是也。所稱蛤蟆瘟者，喉痹失音，頸筋脹大者是也。所稱瓜瓤瘟者，胸高脅起，嘔汁如血者是也。所稱疙瘩瘟者，遍身紅腫，發塊如瘤者是也。所稱絞腸瘟者，腹鳴干吐，水瀉不通者是也。所稱軟腳瘟者，便清泄白，足重難移者是也。小兒痘瘡尤多，以上疫症不明治法，咸委劫運，良可傷悼。大率瘟疫痘疹，古昔無傳，不得聖言折衷，是以墮落叔和坑塹，曾不若俗見摸索病狀，反可顧名思義也。昌幸微窺仲景一斑，其平脈篇中雲：寸口脈陰陽俱緊者，法當清邪中於上焦，濁邪中於下焦。清邪中上，名曰潔也；濁邪中下，名曰渾也；陰中於邪，必內慄也；表氣發虛，裡氣不守，故使邪中於陰也。陽中於邪，必發熱頭痛，項強頸攣，腰痛脛酸，所謂陽中霧露之氣，故曰清邪中上，濁邪中下，陰氣為慄，足膝逆冷，便溺妄出，表氣微虛，裡氣微急，三焦相溷，內外不通，上焦怫鬱，臟氣相熏，口爛舌斷也。中焦不治，胃氣上衝，脾氣不轉，胃中為濁，榮衛不通，血凝不流。若衛氣前通者，小便赤黃，與熱相搏，因熱作使，遊於經絡，出入臟腑，熱氣所過則為癰膿。若榮氣前通者，陽氣厥微，陰無所使，客氣入內，嚏而出之，聲嗢咽塞，寒厥相逐，為熱所擁，血凝自下，狀如豚肝，陰陽俱厥，脾氣孤弱，五液注下，下焦不闔，清便下重，令便數難，臍築湫痛，命將難全。凡二百六十九字，闡發奧理，全非傷寒中所有事，乃論血邪從入之門，變病之總，所謂赤文綠字，開天闢地之寶符，人自不識耳！篇中大意，謂人之鼻氣通於天，故陽中霧露之邪者，謂清邪從鼻息而上入於陽，入則發熱頭痛，項強頸攣，正與俗稱大頭瘟、蛤蟆瘟之說符也。人之口氣通於地，故陰中水土之邪者，為飲食濁味，從口舌而下入於陰，入則其人必先內慄，足膝逆冷，便溺妄出，清便下重，臍築湫痛，正與俗稱絞腸瘟、軟腳瘟之說符也。然從口從鼻所入之邪，必先注中焦，以次分布上下，故中焦受邪，因而不治。中焦不治，則胃中為濁，營衛不通，血凝不流，其釀變即現中焦，俗稱瓜瓤瘟、疙瘩瘟等症，則又陽毒癰膿，陰毒遍身清紫之類也。此三焦定位之邪也。若三焦邪混為一，內外不通，臟氣熏蒸，上焦怫鬱，則口爛舌斷。衛氣前通者，因熱作使，遊行經絡臟腑，則為癰膿。營氣前通者，因召客邪，嚏出聲嗢咽塞，熱擁不行，則下血如豚肝，然以營衛漸通，故非危候。若上焦之陽，下焦之陰，兩不相接，則脾氣於中難以獨運，斯五液下注，下焦不闔，而命難全矣。傷寒之邪，先行身之背，次行身之前，次行身之側，繇外廓而入。瘟疫之邪，則直行中道，流布三焦，上焦為清陽，故清邪從之上入；下焦為濁陰，故濁邪從之下入；中焦為陰陽交界，凡清濁之邪，必從此區分。甚者三焦相混，上行極而下，下行極而上，故聲嗢咽塞，口爛舌斷者，亦復下血如豚肝，非定中上不及下，中下不及上也。傷寒邪中外廓，故一表即散。疫邪行在中道，故表之不散。傷寒邪入胃府，則腹滿便堅，故可攻下。疫在三焦，散漫不收，下之復合，此與治傷寒表裡諸法，有何干涉？奈何千年憒憒，試折衷以聖言，從前迷謬，豈不渙然冰釋哉！治法未病前，預飲芳香正氣藥，則邪不能入，此為上也。邪既入，急以逐穢為第一義。上焦如霧，升而逐之，兼以解毒。中焦如漚，疏而逐之，兼以解毒。下焦如瀆，決而逐之，兼以解毒。營衛既通，乘勢追拔，勿使潛滋，詳訂諸方，載春溫方後，或問春夏秋蒸氣成疫，豈冬溫獨非疫乎？余曰：冬月過溫，腎氣不藏，感而成病，正與不藏精之春溫無異，計此時有春無冬，三氣即得交蒸成疫，然遇朔風驟起，則蒸氣化烏有矣。是以西北土高地燥，即春夏氣難上升，何況冬月之凝冱，東南土地卑濕，為霧露之區，蛇龍之窟，其溫熱之氣，得風以播之，尚有可耐。設旦暮無風，水中之魚，衣中之蝨且為飛揚，況於人乎？蒸氣中原雜諸穢，益以病氣屍氣，無分老少，觸之即同一病狀矣。此時朔風了不可得，故其氣轉積轉暴，雖有薰風，但能送熱，不能解涼，盛世所謂解慍阜財者，在兵荒反有注邪布穢之事矣。叔和以夏應大熱而反大寒為疫，詎知大寒正疫氣消彌之候乎？故疫邪熾盛，唯北方始能消受，詩惡譖人，思欲投畀有北，以熄其焰，析義精矣。</p>

<h2>疫證治案</h2>
<p>靖康二年春，京師大疫，有異人書一方於齋舍，凡因疫發腫者，服之無不效。其方黑豆二合，炒令香熟，甘草二寸炙黃，水二盞，煎減半，時時呷之。</p>
<p>泰和二年四月，民多疫癧，初覺憎寒，壯熱體重，次傳頭面腫盛，目不能開，上喘，咽喉不利，舌乾口燥，俗云大頭傷寒，諸藥雜治莫能愈，漸至危篤。東垣曰：身半以上，天之氣也。邪熱客於心肺之間，上攻頭面而為腫耳。須用下項藥，共為細末，半用湯調，時時服之，半用蜜丸，噙化服盡良愈，活者甚眾。時人皆曰仙方，謂天仙所制也。</p>

<h3>普濟消毒飲</h3>
<p>黃芩（半兩，酒炒）　黃連（五錢，酒炒）　人參（三錢）　陳皮（去白，二錢）　甘草（二錢）　連翹（一錢）　黑參（二錢）　殭蠶（七分，白者，炒）　升麻（七分）　柴胡（八分）　桔梗（五分）　板藍根（一錢）　馬勃（一錢）　鼠黏子（一錢，炒）</p>
<p>上為末，服如上法，或加防風、川芎、薄荷、歸身、細切五錢，水煎，時時稍熱服之。如大便燥結，加酒蒸大黃一二錢利之，腫勢甚者，砭針刺之。</p>
<p>羅謙甫治中書右丞姚公茂。六旬有七，宿有時毒，至元戊辰春，因酒再發，頭面耳腫而疼，耳前後腫尤甚，胸中煩悶，咽嗌不利，身半以下皆寒，足脛尤甚。由是以床相接作炕，身半以上臥於床，身半以下臥於炕，飲食減少，精神困倦而體弱。命羅治之，診得脈浮數，按之弦細，上熱下寒明矣。《內經》云：熱勝則腫。又曰：春氣者病在頭。《難經》云：蓄則腫熱，砭射之也。蓋取其易散故也。遂於腫上，約五十餘刺，其血紫黑，如露珠之狀，頃時腫痛消散。又於氣海中，大艾炷灸百壯，乃助下焦陽虛，退其陰寒，次三里二穴，各灸三七壯，治足胻冷，亦引導熱氣下行故也。遂處一方，名曰既濟解毒湯。</p>

<h3>既濟解毒湯</h3>
<p>黃芩（一錢，酒炒）　黃連（一錢，酒炒）　桔梗（一錢）　甘草（生，五分）　柴胡（五分）　升麻（七分）　連翹（一錢）　歸身（一錢，酒洗）　大黃（一錢，酒煨）</p>
<p>水二盞，煎一盞，徐徐溫服。</p>
<p>論曰：熱者寒之，然病有高下，治有遠近，無越其制度。以黃芩、黃連苦寒酒製炒，以為因用，以瀉其上熱以為君，桔梗、甘草辛甘溫上升，佐諸苦藥以治其熱。柴胡、升麻苦平，味之薄者，陰中之陽，散發上熱以為臣。連翹苦辛平，以散結消腫。當歸辛溫和血止痛，酒煨大黃苦寒，引苦性上行至巔，驅熱而下以為使。投劑之後，腫消痛減，大便利再服減大黃，慎言語，節飲食，不旬日良愈。</p>
<p>總帥相公，近年七旬，戊午秋南征，過揚州，俘虜萬餘口，內選美色室女近笄年者四，置於左右。予因曰：總帥領十萬眾，深入敵境，非細務也，況年高氣弱，凡事宜慎。且新虜之人，驚憂氣蓄於內，加以飲食不節，多致疾病，近之則邪氣相傳，其害為大。總帥笑而不答，其副帥時亦在坐，異日召予曰：我自十三歲從徵回鶻，此事飽經，汝之言深可信矣。至臘月中班師，值大雪三日，新掠人不耐凍餒，皆為頭疼咳嗽，腹痛自利，多致死亡者。逮春正月至汴，隨路多以禮物來賀。相公因痛飲數次遂病，脈得沉細而弦，三四動而一止，其證頭疼咳嗽，自利腹痛，與新虜人病無異，其脈短澀，其氣已衰，病已劇矣，三日而卒。邪氣害人，其禍如此。《內經》云：乘年之虛，遇月之空，失時之和，因而感邪，其氣至骨。又曰：避邪如避矢石。錢仲陽亦曰：糞履不可近襁褓嬰兒，多生天吊驚風，亦由正氣尚弱，不能勝邪故也。由是觀之，聖賢之言，信不誣矣。</p>
<p>成化二十一年，新野疫癧大作，死者無虛日，鄰人樊滋夫婦，臥床數日矣。余自學來，聞其家人，如殺羊聲，不暇去衣巾，急往視之。見數人，用綿被覆其婦，床下致火一盆，令出汗，其婦面赤聲啞幾絕。余叱曰：急放手，不然死矣。眾猶不從，乃強拽去被，其婦躍起，倚壁坐，口不能言。問曰：飲涼水否？頷之。與水一碗，一飲而盡，始能言，又索水，仍與之，飲畢，汗出如洗，明日愈。或問其故曰：彼發熱數日，且不飲食，腸中枯涸矣。以火蒸之，速死而已，何得有汗？今因熱極，投之以水，所謂水火既濟也，得無汗乎！觀以火然枯鼎雖赤，而氣不升，注之以水，則氣自來矣。遇此等證者，不可不知。</p>
<p>江篁南治給事中游讓溪，嘉靖壬子正月，忽感大頭風症，始自頸腫，時師以為外感，而誤表之。繼以為內傷，而誤補之。面發赤，太陽俱腫，頭頂如裂，身多汗，寐則譫語，綿延三日，喘咳勢急，其親汪子際，以竹茹橘皮湯，繼以川芎茶調散，合白虎湯，去人參服一劑而減，次日用前方，去寒峻藥，至晚漸定。目輪發水泡數個，余腫漸消，獨耳後及左頰，久而不散。又次日以當歸六黃湯為主，加散毒之藥，延及兩旬，頂巔有塊如雞子大，突起未平，及面頰余腫未消，有時頭疼，大便稀溏。時二月中旬，江至診得左脈浮小而駃，右脈大近快，有勃勃之勢，江按脈症，當從火治。以生黃耆八分，白朮、薏苡各一錢半，茯苓、片芩各八分，生甘草三分，煎加童便服，次日脈稍平，然兩頰尚赤，早間或覺頭痛，蓋餘火未全殺也。黃耆加作一錢二分，薏苡加作二錢，頂塊漸消，以後加生耆二錢，更飲綠豆湯、童溲，五劑而愈。</p>
<p>宿按：陽明邪熱，兼少陽相火為病，視其病勢在何部？隨經處治。當緩弗令重劑，過其病所，陽明為邪，首大腫，少陽為邪，出於耳前後，予每治此症，初用涼膈散，繼以消毒飲，無不立愈。</p>
<p>嘉靖己未，五六七月間，江南淮北，在處患時行瘟熱病，沿門闔境，傳染相似，用人參敗毒散，倍人參，去前胡、獨活，服皆盡效，全無過失。</p>
<p>萬曆十六年，南都大疫，死者甚眾。余寓雞鳴僧舍，主僧患疫，十餘日，更數醫，皆云禁飲食。雖米飲不容下咽，病者飢甚，哀苦索食。余曰：奪食則愈。雖有是說，此指內傷飲食者言耳！諺云：餓不死傷寒。乃邪熱不殺穀，雖不飲食，亦不致死。經云：安穀則生，況病挾內傷不足之症，禁食不與，是虛其虛，安得不死？雖與稀粥，但不使充量，進補中益氣湯而愈。若此類者甚眾，余未當禁飲食，而活者不少，每見都城諸公，但說風寒二字，不辨有無內傷虛實，一例禁絕飲食，有二十餘日，邪氣已盡，米飲尚不容入口，而餓死者有限，表而出之，以為習俗之戒。</p>
<p>萬曆戊子己丑年，時疫盛行，凡服人參敗毒散發表者，無不全活。江應宿治陳氏子，年十七歲，患疫，大渴大熱，頭痛如破，泄瀉頻數，六脈洪大，與三黃石膏湯，日進三服，石膏加至一兩，三日而愈。</p>
<p>何氏僕患天行時疫，目不識人，狂言妄語，投以地漿，童子小便浸白頭頸蚯蚓，搗細，新汲井花水，濾下清汁，任服一二碗，即知人，三日愈。</p>
<p>壺仙翁治文學張薇伯，病風熱不解，時瘟疫大行，他醫診其脈，兩手俱伏，曰：此陽證見陰，不治。欲用陽毒升麻湯升提之，翁曰：此風熱之極，火盛則伏，非陰脈也，升之則死矣，卒投連翹涼膈之劑，一服而解。</p>
<p>橘泉翁治一人，病頭面項喉俱腫大惡寒，醫疑有異瘡，翁曰：非也，此所謂時毒似傷寒者。丹溪曰：五日不治殺人。急和敗毒散，加連翹、牛蒡子、大黃下之，三日愈。</p>
<p>俗名發痧之症，江南舊無，今隨地有之，醫家不載。大凡才見寒慄，四體懈怠，頭痛身熱，狀似傷寒發瘧。其治或先用熱水，蘸搭臂膊，而以苧麻刮之，甚者，或以針刺手足出血，或以香油燈照視背有紅點處皆烙之。以上諸法，皆能使腠理開通，血脈舒暢而愈。有用艾灸，以得沙為良。或因灸膿血迸流移時而死者，誠可憐也。有雍承節印行方云，初得症以飲艾湯試吐，即是其症也。急以五月蠶退紙一片，碎煎安碗中，以碟蓋密，以湯泡半碗許，仍以紙封碟縫，勿令透氣，良久乘熱飲之，就臥以衣被蓋之，令汗出愈。</p>
<p>一婺婦身肥，常患發沙之症，每用苧麻刮之，即愈，輒愈輒發，不出二三日。醫用四物等治，反加鼻衄。江以香附、撫芎、黃芩、梔子等開鬱降火清熱之劑，與之數服而愈，不復發。（以上二條系類案。）</p>
<p>崇禎壬午癸未，時疫盛行，道𦒃相藉，各處醫者，發汗和中藥，內唯用人參者，多以活人。</p>

<h2>治疫名方</h2>

<h3>黃連解毒湯（見前）</h3>

<h3>黃連阿膠湯</h3>
<p>治下利膿血，煩躁不得臥。</p>
<p>黃連（二錢）　黃芩（一錢）　芍藥（一錢）　雞子黃（一枚）　阿膠（錢半）</p>
<p>水二盞，煎三物至一盞，去渣內膠，煎一二沸，再內雞子黃，和勻服，日三服。</p>

<h3>黃連湯</h3>
<p>治胸上有熱，胃中有邪氣，腹痛欲嘔吐者。</p>
<p>黃連（一錢）　甘草（一錢）　乾薑（一錢）　人參（五分）　桂枝（三分）　半夏（五分）　大棗（一枚）</p>

<h3>黃連瀉心湯</h3>
<p>黃連　生地黃　知母（各錢半）　甘草（生，五分）</p>
<p>水盞半，煎八分，溫服。</p>

<h3>黃連龍骨湯</h3>
<p>治腹痛咽痛，體熱煩苦。</p>
<p>黃連　黃芩　芍藥（各八分）　龍骨（五分，為末）</p>
<p>水盞半，煎八分服。</p>

<h3>黃連犀角湯</h3>
<p>治狐惑。</p>
<p>犀角（三錢，磨汁）　黃連（二錢）　烏梅（四個）　木香（三分，磨汁）</p>
<p>水盞半，煎八分，入犀角汁、木香汁，和勻服。</p>

<h3>黃連橘皮湯</h3>
<p>治疫毒發狂，下部生瘡。</p>
<p>黃連（一錢）　橘皮（七分）　杏仁（七分）　麻黃（六分）　葛根（六分）　厚朴（五分）　甘草（五分）</p>
<p>水盞半，煎八分服。</p>

<h3>黑膏</h3>
<p>治疫毒發斑嘔逆。</p>
<p>生地黃（二兩六錢）　好豉（二兩六錢）</p>
<p>豬膏十兩合煎，令三分減一，絞去滓，取濃汁如膏，入雄黃豆大，麝香少許，和勻分三服。</p>
<p>以上系喻嘉言《尚論·春溫篇》，解毒八方。</p>

<h3>人參敗毒散（見前）</h3>

<h3>藿香正氣散（見前）</h3>

<h3>九味羌活湯（見前）</h3>

<h3>消毒飲</h3>
<p>治疫毒頭皮腫痛。（及赤丹火丹）</p>
<p>牛蒡子（一錢，炒）　荊芥（一錢）　甘草（六分）　防風（六分）　麥門冬（五分）　升麻（五分）　犀角（一錢，磨汁）　桔梗（八分）　朴硝（錢半）</p>
<p>水二盞，煎八分，入犀角汁服。</p>

<h3>犀角消毒飲</h3>
<p>治毒氣發斑痛癢。</p>
<p>牛蒡子（二錢，炒）　防風（二錢）　荊芥（一錢）　甘草（八分）　犀角（磨汁）</p>
<p>每服三錢，水煎入犀角汁服。</p>

<h3>羌活升麻湯</h3>
<p>治時行疫病，清熱解毒。</p>
<p>羌活　升麻　葛根　芍藥　人參　黃芩（各一錢）　黃連　石膏（生）　甘草（生）　生地　知母（生，各七分）</p>
<p>水二盞，姜三片，棗一枚，煎八分溫服。</p>

<h3>漏蘆湯</h3>
<p>治臟腑積熱，發為腫毒，時疫疙瘩，頭面洪腫，咽嗌堵塞，水藥不下，一切羌惡疫癧。</p>
<p>漏蘆　升麻　大黃　黃芩（各一兩）　藍葉　黑參（各二兩）</p>
<p>上六味為粗末，每服二錢，水盞半，煎至六分，去渣溫服，腫毒甚，加芒硝二錢半。</p>

<h3>消毒丸</h3>
<p>治時疫疙瘩惡證。</p>
<p>大黃　牡蠣（燒）　殭蠶（炒，各一兩）</p>
<p>上為末，蜜丸彈子大，新汲水化下一丸無時。</p>

<h3>雄黃丸</h3>
<p>治疫不相染。</p>
<p>雄黃（一兩，研）　赤小豆（炒熟）　丹參　鬼箭羽（各二兩）</p>
<p>共為細末，煉蜜為丸，如梧子大，每日空心以溫水下五丸，雖同床共屋不相染。</p>

<h3>運氣五瘟丹</h3>
<p>黃芩　黃柏　黃連　山梔　香附　紫蘇　大黃　甘草梢</p>
<p>上八味生用，於冬至日為末，將大黃三倍，煎滾湯渣和藥丸，如雞子大，硃砂雄黃為衣，再貼金箔，一丸取泉水七碗，浸化可服七人。前藥乙庚年黃芩為君。丁壬年山梔為君。丙辛年黃柏為君。戊癸年黃連為君。甲己年甘草梢為君。為君者多一倍也，餘四味與香附紫蘇為臣者，減半也。</p>

<h3>大青丸</h3>
<p>治時行瘟疫發熱，上膈熱。</p>
<p>薄荷　梔子　黃芩　黃連（各三錢）　連翹（六錢）　甘草（三錢）　大黃　白龍粉（各八錢）</p>
<p>上為末，用青蒿自然汁為丸，綠豆大，雄黃為衣，每服五六十丸，白湯送下。</p>

<h3>三黃石膏湯（見前）</h3>

<h3>太無神朮散</h3>
<p>治四時瘟疫，頭痛項強，寒熱身痛，專主山嵐瘴氣。</p>
<p>蒼朮　厚朴　陳皮　甘草　石菖蒲　藿香（各一錢）</p>
<p>水盞半，姜三片，棗一枚，煎八分服。</p>

<h3>升麻葛根湯</h3>
<p>治疫症無汗，發熱口渴者。</p>
<p>升麻　葛根　芍藥　甘草（各等分）</p>
<p>上水煎服。</p>

<h3>人參白虎湯（見前）</h3>

<h3>二黃湯</h3>
<p>治大頭時疫。</p>
<p>黃芩（酒炒）　黃連（酒炒）　生甘草（各等分）</p>
<p>每服五錢，水盞半，煎八分，稍溫徐徐呷之。</p>

<h3>救急解毒丸</h3>
<p>治時行疫氣，咽喉腫痛，項筋粗大，舌強聲啞，鼻塞氣悶，水漿難進，危在須臾，非此不救。兼治頭面浮腫，疙瘩堅硬，浸淫濕瘡，耳內流膿，眼眩赤腫，口內糜爛等症。</p>
<p>甘草（二兩）　桔梗（二兩）　荊芥（一兩）　防風（一兩）　連翹（一兩）　酒芩（一兩）　酒連（一兩）　薄荷（一兩）　升麻（一兩）　酒大黃（一兩）　殭蠶（五錢）　蒲黃（五錢）　青黛（五錢）　盆消（五錢）　射干（五錢）</p>
<p>以上共為極細末，羅淨，以烏梅湯調柿霜和丸，如圓眼大，噙化，煎湯亦可。</p>

<h3>茵陳五苓散</h3>
<p>治疫癧黃疽。</p>
<p>茵陳（五錢）　五苓散（四錢）</p>
<p>和勻，每服四錢，食前米湯調服，或濃煎茵陳湯，調五苓散。</p>

<h3>參苓平胃散</h3>
<p>治腹脹黃腫，腸鳴泄白。</p>
<p>厚朴（薑汁炒）　陳皮（各五兩）　蒼朮（半斤，米泔水浸，炒）　茯苓　甘草（炙）　人參（各二兩）</p>
<p>共為細末，每服三錢，或五錢，薑棗湯調下。</p>

<h3>神授香蘇散</h3>
<p>治瘟疫，昔有城中大疫，一白髮老人，教富人合施，病者皆愈。疫鬼相顧曰：此老教三人矣，遂遁。</p>
<p>紫蘇　香附（醋製，各二兩）　陳皮（去白，一兩）　甘草（五錢）</p>
<p>共為細末，每服三錢，水盞半，煎八分溫服。</p>

<h3>制人中黃法</h3>
<p>冬月以竹筒一段，刮去青，兩頭留節，一頭打通一竅，以大甘草切碎，內竹筒中，以木塞孔周密，投糞缸中，浸二三月，到清明取出，曬乾收貯待用，大治疫毒。</p>
<p>一逢疫癧之時，用貫眾一二枚，旁浸日用水缸中，烹茶煮飯，一切俱用此水，疫不能染，活人甚驗。</p>
<p>凡遇天行時氣，恐其相染，須遲出早入，房中常燒蒼朮，以其避瘟驅邪。鼻孔塗雄黃，口中嚼大蒜最良。</p>
<p>老君神明散，東坡聖散子，此二方，皆一派辛熱燥裂有毒之藥，全無扶正驅邪逐穢解毒之品，不知醫書何以列之疫條，必系後人偽託，學者慎勿徇名妄用，害人非淺，虞天民辨之最詳，不可不考。</p>

<h1>跋</h1>
<p>李以理有言，我有所見，輒不能忘。我有所得，得不能公，此與無見無得何異？有所見欣然忘之，有所得廓然公之，乃昔人傳道之虛懷，不必身之所至，目之所營，使聞者心領神會，有以悟於語言象數之外。妙哉論至此乎！予雖不敏，心竊嚮往之，為之執鞭，所願樂焉，故有是刻。</p>
<p><u>康熙歲在乙卯秋月漁陽林起龍自跋</u></p>
