<header data-type="book">
<h1>傷寒摘錦</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>萬全</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1569">公元1569年</data></dd></div>
</dl>
</header>

<h1>卷之上</h1>

<h2>論六經脈證治法·太陽經脈證治法</h2>
<p>經曰：太陽之為病，脈浮，頭項強痛而惡寒。</p>
<p>《內經》曰：傷寒一日，巨陽受之。巨陽者，諸陽之所屬也，其脈連於風府，故為諸陽主氣也，故頭項痛，腰脊強。太陽者，足膀胱，壬寒水也。一日巨陽，其標熱，其本寒，此經行身之後，從頭下至足，乃有頭疼、脊強、惡風寒之證，專主表，是一身之綱維，為諸陽之主氣，四通八達，貫五臟六腑之俞，邪從此入，能循經傳，亦能越經傳，治之若逆，其變不可勝言矣。其脈浮，經曰：尺寸俱浮者，太陽受病也。</p>
<p>浮而緩者為中風。風性解緩也。</p>
<p>浮而緊者為傷寒。寒性勁急也。</p>
<p>其證有汗惡風者，風傷衛，為表虛，宜解表。《內經》曰：汗出而身熱者，風也。</p>
<p>無汗惡寒者，寒傷營，為表實，宜發表。</p>
<p>凡太陽病，發熱惡寒，頭項痛，腰脊強，尺寸脈俱浮者，此風寒中在經，乃標病也，宜汗之，此證治之常也。若惡寒而蜷，身體疼痛，脈反沉者，此寒中在膀胱腑，乃本病也，宜溫之，此證之變也。</p>
<p>經曰：太陽中風，陽浮而陰弱，陽浮者，熱自發，陰弱者，汗自出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔者，桂枝湯主之。其證常自汗出，小便不數，手足溫和，或手足指稍露之則微冷，覆之則溫，渾身熱，微煩而又憎寒，可用桂枝湯。若身無汗，或小便數，或手足逆冷，或不惡寒反惡熱者，勿與服。</p>
<p>經曰：太陽病，頭痛，發熱，身疼，腰痛，骨節疼痛，惡風，無汗而喘者，麻黃湯主之。其證發熱無汗，或喘，骨節煩疼，憎寒，手足指末微厥，掌心不厥，可用麻黃湯。若自汗出，反惡熱者，勿與服。</p>
<p>經曰：太陽病，項背強𠘧𠘧，反汗出惡風者，桂枝加葛根湯主之。</p>
<p>太陽病，項背強𠘧𠘧，無汗，惡風，葛根湯主之。汗出惡風者，中風表虛也，故桂枝湯，但加葛根一味治之。無汗惡風者，中風表實也，故以葛根湯發汗。</p>
<p>經曰：太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之。若脈微弱，汗出惡風者，不可服。服之則厥逆，筋惕肉瞤，此為逆也。此中風見寒脈也，識證之妙，在不汗出煩躁五字，若無煩躁，乃麻黃湯證也。</p>
<p>傷寒脈浮緩，身不疼，但重，乍有輕時，無少陰證者，大青龍湯發之。此傷寒見風脈也，識證之妙，在無少陰證四字。若有惡寒自利之裡證，乃少陰四逆湯治也。</p>
<p>太陽病始得之，只有此六證屬表可汗者也，為病在經。若發汗，若吐，若下後，若二三日以後病者，或傳經，或只在本經，或隨經入腑，或入腑，或汗吐下逆證，又當各隨其脈證而治之，不可與始得病者同論也。</p>
<p>經曰：病發熱頭痛，脈反沉，若不瘥，身體疼痛，當救其里，宜四逆湯。此邪中太陽，虛寒證也，為病在本，故宜溫之，不可發汗吐下也，下二證同。</p>
<p>又，傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急者，此亦邪中太陽虛寒證，所謂證象陽旦者也，宜芍藥甘草附子湯。若小便難者，此真陽旦證，亦太陽虛寒也，宜桂枝加附子湯。</p>
<p>凡可汗證，欲作湯藥，不可逾時。其發汗溫服湯藥，方雖言日三服，若病劇不解，當促其間，可半日中盡三服。如服藥後病證猶在，當復作本湯服之。若可汗不汗，或汗之不徹者，邪傳於裡，寒變為熱，或衄，或發黃，或膀胱蓄血，或大便硬，譫語，或小便不利，諸熱證生矣。</p>
<p>經曰：傷寒，脈浮緊，不發汗，因致衄者，麻黃湯主之。</p>
<p>傷寒，不大便六七日，頭痛有熱者，與承氣湯。其小便清者，知不在裡，乃在表也，當發汗。若頭痛者，必衄，宜桂枝湯。</p>
<p>太陽病，脈浮緊，無汗，發熱，身疼痛，八九日不解，表證仍在，此當發其汗。服藥已微汗，其人發煩目瞑，劇者必衄，衄乃解，所以然者，陽氣重故也。麻黃湯主之。此三太陽證，乃在本經不傳者也。上二證是當汗不汗，下一證是汗之不徹，故致衄也。蓋可汗不汗，則邪無從出，壅甚於經，迫血妄行。衄出於鼻，鼻為肺竅，手太陽之脈，其支別者，從頰上䪼抵鼻，會足太陽之脈於目內眥。熱久不解，連手太陽同病也。頭痛目瞑，皆太陽脈之經也。衄出解者，《針經》曰：奪血者無汗，奪汗者無血。汗即血也，衄則熱隨血散矣。桂枝、麻黃湯非治衄藥也。衄者不可發汗，宜犀角地黃湯。仲景贅桂枝、麻黃湯，於衄證之下者，乃未衄之先宜服，非用於衄之後也。</p>
<p>經曰：太陽病，發汗後，大汗出，胃中乾燥，不得眠，欲得飲水者，少少與飲之，令胃氣和則愈。若脈浮，小便不利，微熱消渴者，與五苓散主之。此亦太陽本經病不傳者也。言發汗後，大汗出，欲得飲水者，責以胃中乾燥也，少與之水以和胃氣。若發汗後，脈浮，小便不利，消渴者，責以汗出不徹，其邪隨經入腑而為尿澀之證也，故用五苓散利之。</p>
<p>經曰：太陽病不解，熱結膀胱，其人如狂，血自下，下者愈。其外不解者，尚未可攻，當先解外。外解已，但少腹急結者，乃可攻之，宜桃仁承氣湯方。此亦太陽本經病隨經入腑者也。此言病不解見失汗也，所以先解外而後攻之。</p>
<p>太陽病六七日，表證仍在，脈微而沉，反不結胸，其人發狂者，以熱在下焦，少腹當硬滿，小便自利者，下血乃愈。所以然者，以太陽隨經，瘀熱在裡故也。抵當湯主之。此言表證仍在者見失汗也。</p>
<p>太陽病身黃，脈沉結，少腹硬，小便不利者，為無血也。小便自利，其人如狂者，血證諦也，抵當湯主之。此亦太陽本經病隨經入腑者也。此條當分二證，皆失汗也。夫風寒在表，宜以汗散，失汗則陽氣下陷以入於裡，寒變為熱，結於膀胱。小便自利者，氣行而血病也，其經多血，必為蓄血。上下證同小便不利者，氣滯而津液不行也，津液不行復還於胃，胃者濕土，候在肌肉，濕熱相合，必發黃也，茵陳蒿湯主之。按此證如狂者輕，發狂者重，何以同如狂證而用藥反有峻緩耶？蓋桃仁承氣湯中焦藥也，乃蓄血在手太陽小腸，兼有表邪，里證尚微爾。抵當湯下焦藥也，乃蓄血在足太陽膀胱，表入里，里證獨急故耳。</p>
<p>傷寒有熱，少腹滿，應小便不利，今反利者，為有血也，當下之，不可余藥，宜抵當丸。此條表證既無，里證又緩，無身黃、屎黑、喜忘、發狂，是未至於甚也，病在下焦，非桃仁承氣湯所能治，未至於甚，不可遽用抵當湯，故以抵當丸。丸者，緩也。</p>
<p>此上五證，皆太陽隨經入腑，為里證也，可下之。五苓散亦太陽里證之下藥也。邪入於本用此，利而去之。</p>
<p>經曰：傷寒不大便六七日，頭痛有熱者，與承氣湯。</p>
<p>傷寒十三日不解，過經譫語，以有熱也，當以湯下之。此二證皆太陽本經病入胃者也，謂之太陽陽明是矣，用調胃承氣湯以和胃氣而愈。</p>
<p>凡與汗者，必脈證可汗而後汗之。若脈虛弱，其證咽乾、衄、淋、渴、小便數及素有熱疾或胃有寒者，雖見汗證，別作區處，不可與發汗，汗之為逆。</p>
<p>經曰：脈浮緊者，法當身疼痛，宜以汗解之。假令尺中遲者，不可發汗，何以知之？然以營氣不足，血少故也。此言脈之不可汗也。</p>
<p>咽喉乾燥者不可發汗，淋家不可發汗，發汗必便血，小便出血。衄家不可發汗，汗出則額上陷脈急緊，直視不能眴，不得眠。</p>
<p>傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝湯欲攻其表，此誤也。此皆言證之不可汗也。其渴不可汗者，以有裡熱也。</p>
<p>若酒客病不可與桂枝湯，得湯則嘔，以酒客不喜甘故也。</p>
<p>病人有寒，復發汗，胃中冷，必吐蛔。</p>
<p>此二者，言人素有熱疾、寒疾者之不可用也。</p>
<p>經曰：太陽病發汗太多，因致痓。經曰：血虛則筋急，汗多亡血不能養筋，故筋急，其背反張成痙也。</p>
<p>太陽病，發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，桂枝加附子湯主之。太陽氣不足，因發汗陽氣益虛而成此證也。</p>
<p>太陽病發汗，汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地者，真武湯主之。此汗多亡陽證也。</p>
<p>以上三證，皆汗之逆也。</p>
<p>《此事難知集》曰：太陽禁忌不可犯，小便不利不可使利之，利之是謂犯本，犯本則邪氣入里不能解，此犯之輕也。大便不易動，動之是謂動血，動血是謂犯禁，此犯之重也。表在不可下，下之為逆，此犯之尤重也。</p>
<p>經曰：大下之後復發汗，小便不利者，亡津液故也，勿治之，得小便利必自愈。不可利小便指汗後之證也，若桂枝湯證又不喜小便利矣。蓋汗後脈浮，小便不利而渴者，宜用五苓散利之，不利則邪熱入胃而發黃也。必脈微澀遲弱者，因汗下亡去津液，小便不利。非若以上虛寒、裡熱之證，五苓散忌藥也，強與利之是謂犯本，重亡津液而成蓄血之證矣，此所以禁利小便也。</p>
<p>經曰：傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便硬，脈細者，此為陽微結，必有表，復有里也。脈沉亦在裡也，汗出為陽微。假令純陰結，不得復有外證，悉入在裡，此為半在裡半在外也。脈雖沉緊，不得為少陰病，所以然者，陰不得有汗。今頭汗出，故知非少陰也，可與小柴胡湯。設不了了者，得屎而解。此太陽本經病漸入里者也。傷寒五六日，當入里之時也，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便硬，言其證也，脈細言其脈也，可與小柴胡湯。設不了了者，得屎而解，言其治也。中間卻有許多比論者，蓋因大便硬，恐人誤作純陽結，又脈細，恐人誤作純陰結與少陰證也。夫大便硬為純陽結，此為陽微結，以有表，復有里也。設使脈沉為在裡，有汗出證，只可為陽微結也。若純陽結，則無汗出之證矣。此所以斷其必為陽微結也。假令脈沉細，大便硬欲作純陰結而治，則不當復有外證，如汗出惡寒者，悉入在裡也。今有表，復有里，必斷其非純陰結也。少陰之脈沉而細，今脈沉緊不得為少陰病者，以陰不得汗，頭汗出，故知非少陰證，是陽微結之候也。先與小柴胡湯以除表裡之邪，邪則了了而和解矣。尚不了了者，乃與湯，取其微利也。大便不易動者，言可下之證也，以在太陽經，雖有下證，不可大下，恐下多則亡血也，故忌之。此謂與湯取其微利而不言方者，不過以小柴胡加芒硝湯，或以大柴胡湯利之也。</p>
<p>經曰：太陽病外證未解者，不可下也，下之為逆。此以下皆言下之逆證也。太陽病下之，其脈促不結胸者，此為欲解也。脈浮者必結胸也；脈緊者必咽痛；脈弦者必兩脅拘急；脈細數者，頭痛未止；脈沉緊者，必欲嘔；脈沉滑者，協熱利；脈浮滑者，必下血。下後諸證。</p>
<p>病發於陽而反下之，熱入因作結胸；病發於陰而反下之，因作痞。所以成結胸者，以下之太早故也。表為陽，里為陰，假如桂枝、麻黃湯證，邪在表宜汗，反下之，則里之正氣為下所損，而表之餘邪乘虛以入於裡，結於心下，為結胸。又如柴胡湯證，邪在半表半裡宜和解，反下之，里之微邪雖除，而表之餘邪乘虛又入，雖不成結胸亦成痞也。表邪若甚，則又為結胸也。</p>
<p>太陽病脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出，而反惡寒者，表未解也。醫反下之，動數變遲，膈內拒痛，胃中空虛，客氣動膈，短氣躁煩，心中懊憹，陽氣內陷，心下因硬，則為結胸，大陷胸湯主之。若不結胸，但頭汗出，余處無汗，齊頸而還，身必發黃也。</p>
<p>此條分二證，太陽病至表未解也，言當發汗醫反下之，治之逆也。動數變遲以下十句，言其病發於陽而下之，熱入因作結胸之候也。若不結胸以下，言其當汗不汗，熱不得越而發黃之候也。此亦太陽本經自病失於汗、下之逆證也。</p>
<p>太陽病重發汗而復下之，不大便五六日，舌上燥而渴，日晡時小有潮熱，從心下至少腹硬滿而痛不可近者，大陷胸湯主之。</p>
<p>上言病在表當發汗反下，熱入因作結胸。此言重發汗則表應解矣，復下之，必有可下之證，何以覆成結胸也？經曰：如服一劑，病證猶在，故當復作本湯治之，至有不肯汗出服三劑乃解。此言重發汗復下之，必因汗之不解，不與消息表邪有無，謂汗不能去其熱而反下之，表之熱邪乘虛入里，故亦成結胸也。從心下至少腹硬滿而痛不可近者，此大結胸之狀也。</p>
<p>小結胸病正在心下，按之則痛，脈浮滑者，小陷胸湯主之。</p>
<p>此承上文而言，邪之甚者入里，則成大結胸，邪之微者入里，則成小結胸，曰正在心下，按之則痛，而陷胸之大小分矣。</p>
<p>傷寒五六日，嘔而發熱者，柴胡證具，而以他藥下之，柴胡證仍在者，復與柴胡湯。此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而解。若心下滿而硬痛者，此為結胸也，大陷胸湯主之。但滿而不痛者，此為痞，柴胡不中與之，宜半夏瀉心湯。</p>
<p>此太陽之邪傳於少陽，法當和，而反下之，逆也。五六日邪傳裡之時也，嘔而發熱，邪在半表半裡，乃少陽柴胡證也，當和解之，醫反下之，設使下後柴胡證仍在者，復與柴胡湯和解之。下之不為逆者，有里證也。若下後柴胡證罷，心下滿而硬痛者，此太陽在表之邪多，所謂病發於陽而反下之，熱入因作結胸也。但滿而不痛者，此少陽半表半裡之邪，所謂病發於陰而反下之，因作痞也，當從結胸與痞論，故曰柴胡不中與之。觀心下滿而硬痛與滿而不痛，而結胸、痞氣別矣。</p>
<p>脈浮而緊，而復下之，緊反入里，則作痞，按之自濡，但氣痞耳。</p>
<p>心下痞，按之濡，其脈關上浮者，大黃黃連瀉心湯主之。</p>
<p>上言作痞之由，下言治痞之方。按心下滿而不痛者，此里之正氣已虛，邪氣作實，故於攻痞之藥內加入人參、大棗者，補正氣也。心下濡者正氣尚強，邪氣未實，但氣為邪所結，自覺不暢，異於常時耳，故用大黃攻去邪氣，不使留於心下以為正氣之賊也。觀半夏瀉心湯與大黃黃連瀉心湯，而痞之虛實別也。心下痞而復惡寒汗出者加附子，名附子瀉心湯。</p>
<p>結胸證，其脈浮大者，不可下，下之則死。結胸證，寸脈浮，關脈沉者，可下。</p>
<p>傷寒大下後，復發汗，心下痞，惡寒者，表未解也。不可攻痞，當先解表，表解乃可攻痞。解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。</p>
<p>此二條乃治痞與結胸之法也。凡結胸與痞無表證者，便可攻之。若結胸脈浮大者，表邪未盡也，下之則裡氣益虛，邪氣復結，不可解救，所以死也。不云解表用何方者，以桂枝、柴胡皆不中與，宜少待之，令表邪自解而後攻之也。若痞，則輕於結胸，且有惡寒之證，故先解表而後攻痞也。使先攻痞，則表邪復入，痞變而成結胸矣。</p>
<p>問曰：病有結胸，有臟結，其狀何如？答曰：按之痛，寸脈浮，關脈沉，名曰結胸也。何謂臟結？答曰：如結胸狀，飲食如故，時時下利，寸脈浮，關脈小細沉緊，名曰臟結，舌上白苔滑者，難治。</p>
<p>此二者皆下後邪氣乘虛入里之證也。邪氣入里與陽相結者為結胸，與陰相結者為臟結。結胸可治，臟結不可治，陽主生，陰主殺也。又結胸在心之分，乃壬傳丁，為夫傳妻，故易治。臟結在腎之分，乃壬傳癸，為兄傳妹，故難治。</p>
<p>臟結無陽證，不往來寒熱，其人反靜，舌上苔滑者，不可攻也。病脅下素有痞，連在臍旁，痛引少腹入陰筋者，此名臟結，死。</p>
<p>病在表而下之者，上則為結胸，下則臟結，是臟結者亦太陽誤下之逆證也。臟結舌上無白苔者，可以調胃承氣湯微和胃氣則愈；有白苔者，不可妄攻也。按結胸與痞皆下後逆證。經曰所以成結胸者，以下之太早故也。何以只言結胸耶？蓋少陽證亦有胸脅痞硬者，恐人不知，以結胸視之也。故曾經下而痞硬者，用結胸之法治之；未經下而痞硬者，用少陽證法治之。經只言結胸者，舉重以例輕也。</p>
<p>經曰：病人有寒，復發汗，胃中冷，必吐蛔。此太陽汗後傳厥陰也。</p>
<p>經曰：傷寒汗出，解之後，胃中不和，心下痞硬，乾噫食臭，脅下有水氣，腹中雷鳴，下利者，生薑瀉心湯主之。此言汗後胃虛，外傷陽氣之證也。</p>
<p>傷寒中風，醫反下之，其人下利日數十行，穀不化，腹中雷鳴，心下痞硬而滿，乾嘔，心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚。此非結熱，但以胃中虛，客氣上逆，故使硬也，甘草瀉心湯主之。此言下後胃虛，內損陰氣之證也。按此二證瀉心湯是半夏瀉心湯加減法也。</p>
<p>經曰：得病六七日，脈遲浮弱，惡風寒，手足溫，醫二三下之，不能食，而脅下滿痛，面目及身黃，頸項強，小便難者，與柴胡湯。後必下重，本渴而飲水嘔者，柴胡不中與也。食谷者噦。此言脈證不可下而下之逆證也。嘔噦者，少陽病也，可與小柴胡湯。此下後胃氣大弱，不納水穀，水入而嘔，谷入而噦，乃柴胡湯之戒也。</p>
<p>經曰：太陽病，桂枝湯證，醫反下之，利遂不止。脈促者，表未解也。喘而汗出者，葛根黃連黃芩湯主之。此太陽本經病宜汗而下之逆證也。</p>
<p>太陽病，二三日，不能臥，但欲起，心下必結，脈微弱者，此本有寒分也。反下之，若利止，必作結胸；未止者，四日復下之，此作協熱利也。此言太陽本經病，邪在表而下之，表邪乘虛入里。利止則作結胸，利不止則作協熱利也。</p>
<p>太陽病，外證未除，而數下之，遂協熱而利，利下不止，心下痞硬，表裡不解者，桂枝人參湯主之。此上三條皆言太陽本經病不宜下而下，作協熱利之證也。凡下後利不止而表邪甚者，葛根黃連黃芩湯；利不止而表解心下痞者，甘草瀉心湯；利不止，心下痞而表裡不解者，桂枝人參湯。</p>
<p>傷寒，醫下之，續得下利清穀不止，身疼痛者，急當救里；後身疼痛，清便自調者，急當救表。救里宜四逆湯，救表宜桂枝湯。此太陽誤下傳太陰證也。上三證協熱而利，以熱為本，此證協寒而利，以寒為本。挾寒利為傳太陰，挾熱者似傳少陰也。</p>
<p>經曰：太陽病，下之後，脈促胸滿者，桂枝去芍藥湯主之；若微惡寒者，去芍藥方中加附子湯主之。此太陽經誤下而似結胸之證也。按論中下後脈促者三證。其言脈促不胸滿者，欲解之候也；脈促胸滿者，不解之候也。既不解則為結胸，不得為結胸者，以結胸之脈浮也，故經曰脈浮者為結胸。脈促胸滿者，邪在裡也；脈促，喘而汗出者，邪在表也。此皆脈同而證異也。</p>
<p>經曰：太陽病，過經十餘日，醫反二三下之，後四五日，柴胡證仍在者，先與小柴胡湯；嘔不止，心下急，鬱郁微煩者，為未解也，與大柴胡湯下之則愈。此太陽越經傳少陽之證也，所謂雖已下之，不為逆，而復可下之也。</p>
<p>傷寒十三日不解，胸脅滿而嘔，日晡所發潮熱，已而微利，此本柴胡證，下之而不得利，今反利者，知醫以丸藥下之，非其治也。潮熱者，實也，先宜小柴胡湯以解外，後以柴胡加芒硝湯主之。此亦太陽越經傳少陽證，而醫誤以丸藥下之者也。</p>
<p>傷寒十三日不解，過經譫語者，以有熱也，當以湯下之。若小便利者，大便當硬，而反下利，脈調和者，知醫以丸藥下之，非其治也。若自下利者，脈當微厥，今反和者，此為內實也，調胃承氣湯主之。此太陽經入胃腑者也。此上三證皆下後不為逆，而復可下之者，以日久不在太陽也。</p>
<p>經曰：傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，梔子豆豉湯主之。此言太陽本經病下後虛煩之證也。若身熱去而心結痛，結胸也。以有身熱，故知虛煩。</p>
<p>傷寒下後，心煩，腹滿，臥起不安者，梔子厚朴湯主之。成氏注妙。</p>
<p>此以上皆言犯太陽禁忌之逆證也，其未及者，詳見下文。</p>
<p>經曰：太陽病三日，已發汗，若吐，若下，若溫針，仍不解者，此為壞病，桂枝不中與也。觀其脈證，知犯何逆，隨證治之。</p>
<p>太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度發。脈微緩者，為欲愈也；脈微而惡寒者，此陰陽俱虛，不可更發汗，更下，更吐也；面色反有熱色者，未欲解也。以其不能得小汗出，身必癢，宜桂枝麻黃各半湯。此節當分作四段看。太陽病五句，總言其證也，為本節下三段及後二節之綱領也。其人不嘔五句，承言若得此證此脈，為欲愈也。脈微三句，承言若得此脈此證不可妄治也。面色以下，承言若有此證宜用此治也。</p>
<p>若形如瘧，日再發者，汗出必解，宜桂枝二麻黃一湯。</p>
<p>太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，宜桂枝二越婢一湯。上節承上文之證而言，若得此證，宜用此治也。下節即前節脈微者之治法也。</p>
<p>經曰：太陽病，初服桂枝湯，反煩不解者，先刺風池、風府，卻與桂枝湯則愈。</p>
<p>服桂枝湯，大汗出，脈洪大者，與桂枝湯，如前法。</p>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。此太陽汗出不徹，循經復轉陽明也。白虎湯，陽明和解藥也。此三節，皆汗後消息治法也。不渴在表，大渴入里。</p>
<p>經曰：發汗已，脈浮數，煩渴者，五苓散主之。此太陽病，渴，表證未罷者也。</p>
<p>經曰：傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯；渴欲飲水，無表證者，白虎加人參湯主之。此太陽病，渴，表證已罷而里證有熱者也。</p>
<p>傷寒無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。</p>
<p>傷寒病若吐、若下後，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<p>上節言口燥渴，心煩；下節言大渴，舌上乾燥而煩，皆裡熱太甚證也。惡風曰時時，惡寒曰微，在背則表邪輕矣。所以用白虎湯，不得謂表不解也。大抵表未解而渴五苓散，表已罷而渴白虎湯，半表半裡而渴小柴胡去半夏加瓜蔞根湯。</p>
<p>經曰：發汗吐下後，虛煩不得眠，若劇者，必反復顛倒，心中懊憹，梔子豉湯主之。若少氣者，梔子甘草豉湯主之；若嘔者，梔子生薑豉湯主之。</p>
<p>傷寒，醫以丸藥下之，身熱不去，微煩者，梔子乾薑湯主之。此證卻與前大下之後身熱不去，心中結痛者異其法也。</p>
<p>凡用梔子湯，病人舊微溏者，不可與服之。此皆言太陽經汗、吐、下後，邪入胸中之證也。</p>
<p>經曰：太陽病，當惡寒發熱，今自汗出，不惡寒發熱，關上脈細數者，以醫吐之過也。一二日吐之者，腹中飢，口不能食；三四日吐之者，不喜糜粥，欲食冷食，朝食暮吐。以醫吐之所致也，此為小逆。此言太陽病以誤吐而傳陽明之證也。</p>
<p>太陽病吐之，但太陽病當惡寒，今反不惡寒，不欲近衣，此為吐之內煩也。此亦太陽表病以吐而邪入傳陽明者也。此二證以熱為主，皆吐之逆也。</p>
<p>病人脈數，數為熱，當消穀引食，而反吐者，此以發汗，令陽氣微，膈氣虛，脈乃數也。數為客熱，不能消穀，以胃中虛冷，故吐也。</p>
<p>經曰：病如桂枝證，頭不痛，項不強，寸脈微浮，胸中痞硬，氣上衝咽喉不得息者，此為胸有寒也，當吐之，宜瓜蒂散。此太陽里證吐藥也。凡汗吐下後之證為虛煩，用梔子豉湯吐之；若未經發汗吐下，又無表證者，此實邪也，用此吐之。瓜蒂散猛劑也，宜慎之。</p>
<p>經曰：中風發熱，六七日不解而煩，有表裡證，渴欲飲水，水入則吐者，名曰水逆，五苓散主之。</p>
<p>經云：發汗後，飲水多，必喘，以水灌之亦喘。皆太陽經之水逆證也。</p>
<p>經曰：微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，內攻有力，焦骨傷筋，血難復也。此下二節皆言火邪也。</p>
<p>脈浮熱甚，反灸之，此為表實，實以虛治，因火而動，必咽燥唾血。</p>
<p>太陽病，以火熏之，不得汗，其人必躁，到經不解，必清血，名為火邪。上節言火邪迫血上行也，下節言火邪迫血下行也，乃太陽經之火逆證也。此以上皆言壞病也。</p>

<h2>太陽經傳經欲解合併病脈證治法</h2>
<p>經曰：傷寒一日，太陽受之，脈若靜者，為不傳；頗欲吐，若躁煩，脈數急者，為傳也。此言太陽寒邪變熱，傳於陽明也。為循經傳。</p>
<p>傷寒二三日，陽明少陽證不見者，為不傳也。此只在太陽一經中也。</p>
<p>經曰：傷寒五六日，中風，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，或胸中煩而不嘔，或渴，或腹中痛，或脅下痞硬，或心下悸、小便不利，或不渴、身有微熱，或咳者，與小柴胡主之。此言太陽之邪傳入少陽者也，為越經傳。</p>
<p>傷寒中風，有柴胡證，但見一證便是，不必悉具。此教人臨病審證也。</p>
<p>凡柴胡病證而下之，若柴胡證不罷者，復與柴胡湯，必蒸蒸而振，發熱汗出而解。凡振而汗解者太陽也；不振而濈然汗出解者陽明也；不振無汗解者少陽也。</p>
<p>經曰：傷寒，腹滿譫語，寸口脈浮而緊，此肝乘脾也，名曰縱，刺期門。</p>
<p>傷寒發熱，嗇嗇惡寒，大渴欲飲水，其腹必滿，自汗出，小便利，其病欲解，此肝乘肺也，名曰橫，刺期門。此二證皆太陽之邪傳厥陰，名首尾傳。</p>
<p>經曰：凡病，若發汗，若吐，若下，若亡津液，陰陽自和者，必自愈。</p>
<p>欲自解者，必當先煩，乃有汗而解，何以知之？脈浮，故知汗出解也。經曰：脈浮而解者，濈然汗出也；脈數而解者，必能食也；脈微而解者，必大汗出也。此三節皆自解者也。</p>
<p>太陽病未解，脈陰陽俱停，必先振慄，汗出而解。但陽脈微者，先汗出而解；但陰脈微者，下之而解。若欲下之，宜調胃承氣湯主之。此言欲解之脈，必待汗下而後解者也。</p>
<p>經曰：太陽與陽明合病，必自下利，葛根湯主之。合病者，邪氣盛也。二經同病曰合病。</p>
<p>太陽與陽明合病，不下利，但嘔者，葛根加半夏湯主之。</p>
<p>太陽與陽明合病，喘而胸滿者，不可下，宜麻黃湯主之。此上三證，太陽陽明合病，皆不可下，以有太陽而陽明在經，故皆宜汗之，用葛根、麻黃湯。</p>
<p>太陽與少陽合病，自下利者，與黃芩湯。若嘔者，黃芩加半夏生薑湯主之。凡合病，必自下利，或嘔者，邪並於陽，陽方主外而不主裡，則裡氣虛，氣下而不上者，但下利而不嘔；氣上逆而不下者，但嘔而不利。此二經合病以有少陽，為在半表半裡，非汗所宜，故用黃芩湯和解。</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語遺尿。發汗則譫語，下之則額上生汗，手足逆冷。若自汗出者，白虎湯主之。腹滿身重，口不仁，譫語，陽明證也；面垢，少陽證也；遺尿太陽證也。三陽合病，表裡有邪，所以不可發汗、下之也。按三陽合病，數其證而實之。其二陽合病，不言脈證，只言某經與某經合病者，蓋太陽病頭項痛，腰脊強而脈浮；陽明病目疼而鼻乾，不得臥而脈大；少陽胸脅痛而耳聾，其脈弦。凡遇兩經病一時齊見，或嘔，或下利者，即合病也。其三經病，但見一證便是，不必悉具。仲景不言證，非略也，以論中包涵已盡，不必再述，況各經之證，所見不一，安可擬定而論哉？</p>
<p>經曰：二陽並病，太陽初得病時，發其汗，汗先出不徹，因轉屬陽明，續自微汗出，不惡寒。若太陽病證不罷者，不可下，下之為逆，如此可小發汗。設面色緣緣正赤者，陽氣怫鬱在表，當解之、熏之。若發汗不徹，不足言，陽氣怫鬱不得越，當汗不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣，但以汗出不徹故也。更發汗則愈。何以知汗不徹，以脈澀故知也。</p>
<p>太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之則愈，宜大承氣湯。並病論中甚明，乃前後相併而不解，病之傳者也，非若合病則一時同病而不傳矣。按三陽並病，其下之則主其方，其發汗則不主方。愚謂若小發汗，非葛根湯不可。</p>
<p>太陽與少陽並病，頭項強痛，或眩冒，時如結胸，心下痞硬者，當刺大椎第一間，肺俞、肝俞，慎不可發汗，發汗則譫語，脈弦。五六日，譫語不止，當刺期門。又曰慎勿下之，下之成結胸，心下硬，下利不止，水漿不入，其人心煩。此太陽越經傳少陽而相併也。</p>

<h2>太陽病水氣</h2>
<p>（附腹痛證治法）</p>
<p>經曰：傷寒表不解，心下有水氣，乾嘔，發熱而咳，或渴，或利，或噎，或小便不利，少腹滿，或喘者，小青龍湯主之。此太陽表證帶水者也。</p>
<p>太陽中風，下利嘔逆，表解者，乃可攻之。其人漐漐汗出，發作有時，頭痛，心下痞硬滿，引脅下痛，乾嘔，短氣，汗出，不惡寒者，此表解里未和也，十棗湯主之。此太陽里證帶水者也。</p>
<p>經曰：傷寒，陽脈澀，陰脈弦，腹中急痛者，先與小建中湯；不瘥者，與小柴胡湯主之。小建中者，腹痛，虛寒在裡也；小柴胡湯者，腹痛，邪氣自表入里，裡氣不和也。</p>
<p>傷寒二三日，心中悸而煩者，小建中湯主之。此不由汗下而悸煩者。悸，氣虛也；煩，血虛也。氣血內虛，故亦用建中湯治之。凡汗後諸證，經中自詳，不必摘入。</p>
<p>外熱入血室證，別見婦人傷寒脈證治法例。</p>

<h2>陽明經脈證治法</h2>
<p>經曰：尺寸俱長者，陽明受病也，當二三日發，以其脈挾鼻絡於目，故身熱目疼不得臥。此本《內經》之文小變之也。陽明者，足胃，戊土也，其標濕，其本燥。此經行身之前，從面下腹抵足，乃有目疼鼻乾，腹大滿實之證。凡陽明，專主裡，俱宜下，惟身熱微惡寒，為病在經，當汗之也。自太陽傳來者，名循經傳；有本經自受病者，能循經傳，亦能越經傳，不可不知也。陽明胃又為中州之主，無所不受，六經之邪皆能入之，但入，謂之入腑，入腑不復再傳矣。</p>
<p>其脈長而大，經曰：尺寸俱長者，陽明受病也；又曰：傷寒三日，陽明脈大。長大而浮者為經病，長大而沉者為腑病，其證目痛，鼻乾，惡寒，身熱者，病在經，宜解肌。</p>
<p>潮熱，自汗，譫語，發渴，便實不惡寒者，病在腑，宜下。</p>
<p>經曰：陽明病，若能食，名中風；不能食，名中寒。此言陽明本經自受風寒之證別也。</p>
<p>經曰：本太陽初得病時，發其汗，汗先出不徹，因轉屬陽明也。此即太陽篇中，服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯證也。若無渴證，微惡寒者，葛根湯主之。</p>
<p>傷寒發熱無汗，嘔不能食，而反汗出濈濈然者，是轉屬陽明也。此即太陽篇中頗欲吐者，為傳也。胃經受邪則喜吐，葛根加半夏湯主之。</p>
<p>傷寒轉系陽明者，其人濈濈汗出也。此上三條，皆言太陽循經傳於陽明也。</p>
<p>經問曰：病有太陽陽明，有正陽陽明，有少陽陽明，何謂也？答曰：太陽陽明者，脾約是也。太陽經與陽明經齊病者，曰合病。先太陽經病未解，陽明經病復同病者，曰並病。若太陽證罷，只陽明經病見者，曰傳經病。如太陽經病不傳陽明經，即入陽明胃腑者，此太陽陽明也。證治見下。</p>
<p>問曰：何緣得陽明病？答曰：太陽病發汗，若下，若利小便，此亡津液，胃中乾燥，因轉屬陽明。不更衣，內實，大便難者，此名陽明也。此太陽之邪，因汗、下、利小便，轉入胃腑，太陽陽明也。</p>
<p>太陽病三日，發汗不解，蒸蒸發熱者，屬胃也，調胃承氣湯主之。</p>
<p>太陽病，若吐，若下，若發汗，微煩，小便數，大便因硬者，用小承氣和之，愈。此二條皆太陽陽明證治也。</p>
<p>經曰：正陽陽明者，胃家實是也。邪自陽明經不傳少陽，自入於腑，乃本經自傳，謂之正陽陽明。正陽陽明者，病火，本風盛氣實，津液消爍，或始惡寒，汗出多，寒罷而反發熱，或始得病便發熱妄言也，證治見後。</p>
<p>少陽陽明者，發汗，利小便已，胃中燥、煩、實，大便難是也。少陽經病不可發汗，利小便，若誤，則邪入於胃。又，少陽經病不傳三陰即入胃腑者，皆曰少陽陽明也。證治見少陽中。</p>
<p>問曰：陽明病外證云何？答曰：身熱，汗自出，不惡寒，反惡熱也。</p>
<p>問曰：病有得之一日，不發熱而惡寒者，何也？答曰：雖得之一日，惡寒將自罷，即自汗出而惡熱也。此二條言陽明胃腑之表證也。</p>
<p>陽明之為病，胃家實也。此總結上三陽明之病，云太陽陽明，正陽陽明，少陽陽明者，胃家實是也。</p>
<p>問曰：惡寒何故自罷？答曰：陽明居中，土也，萬物所歸，無所復傳，始雖惡寒，二日自止，此為陽明病也。此言表邪入胃，不復再傳之故也。《內經》曰：五臟者，皆稟氣於胃。胃者，五臟之本也。成氏注云：胃為水穀之海，主養四旁。四旁有病，皆能傳入於胃，入胃則更不復傳。不但太陽、陽明、少陽有入胃之證，雖太陰、少陰、厥陰，亦有入胃腑者，不可不知也。</p>
<p>凡陽明病，身熱微惡寒，目眶痛，鼻乾，不得眠者，此風寒在經，乃表病也，宜汗之。</p>
<p>經曰：陽明病脈遲，汗出多，微惡寒者，表未解也，可發汗，宜桂枝湯。</p>
<p>陽明病脈浮，無汗而喘者，發汗則愈，宜麻黃湯。此二條皆陽明在經證也。</p>
<p>經曰：陽明病法多汗，反無汗，其身如蟲行皮中狀者，以胃久虛故也。太陽病身若癢者，責其不能得汗也，故用各半湯。此陽明病身癢如蟲行者，責其胃虛不能作汗也，宜小建中湯。</p>
<p>凡陽明病，潮熱，自汗出，譫語，發渴，去衣被，揚手擲足，斑黃，狂亂，不惡寒反怕熱，大便實者，此陽明腑病，謂之在裡，宜下之，三承氣湯選而用之。</p>
<p>陽明屬胃，其本燥，非通泄不可，必待表證已罷，用承氣湯以疏利之，則熱除燥潤而病瘳矣。若惡寒未除，則表邪尚在，不可下也，切須記此。且病三焦俱傷，則痞滿實堅燥俱全，宜大承氣湯。枳實苦寒以去痞；厚朴苦溫以除滿；芒硝鹹寒以潤燥軟堅；大黃苦寒以泄實去熱，病斯愈矣。邪在中焦則有燥實堅三證，故用調胃承氣湯。以甘草和中；芒硝潤燥；大黃瀉實。不用枳實，恐傷上焦虛無氤氳之元氣，調胃之名於此立也。上焦受傷則為痞實，用小承氣湯。枳實、厚朴除痞，大黃泄實，去芒硝，則不傷下焦血分之真陰，謂不伐其根也。假令調胃承氣湯下之，則瘥後元氣不復，以其氣藥犯之也；大承氣證用調胃承氣下之，則瘥後神凝不清，以其氣藥犯之也；小承氣證用芒硝下之，則利不止，變而成虛矣。</p>
<p>經曰：陽明病，脈遲，雖汗出，不惡寒者，其身必重，短氣腹滿而喘，有潮熱者，此外欲解，可攻裡也。手足濈然而汗出者，此大便已硬也，大承氣湯主之；若汗多，微發熱惡寒者，外未解也，其熱不潮，未可與承氣湯；若腹大滿不通者，可與小承氣湯微和胃氣，勿令大泄下。此陽明本經病入於腑，乃正陽陽明也。即前脈遲，汗出多，微惡寒，桂枝證也。</p>
<p>陽明病，潮熱，大便微硬者，可與大承氣湯；不硬者，不與之。若不大便六七日，恐有燥屎，欲知之法，少與小承氣湯，湯入腹中，轉矢氣者，此有燥屎，乃可攻之。若不轉矢氣者，此但初頭硬，後必溏，不可攻之，攻之必脹滿不能食也。欲飲水者，與水則噦。其後發熱者，必大便復硬而少也，以小承氣湯和之。不轉矢氣者，慎不可攻也。此一條乃傷寒里證用下藥之秘法也。</p>
<p>傷寒若吐若下後不解，不大便五六日，上至十餘日，日晡所發潮熱，不惡寒，獨語如見鬼狀。若劇者，發則不識人，循衣摸床，惕而不安，微喘直視，脈弦者生，澀者死。微者，但發熱譫語者，大承氣湯主之。若一服利止，不服。經曰：凡服藥不中病即止，不必盡劑，即此意也。</p>
<p>陽明病，其人多汗，以津液外出，胃中燥，大便必硬，硬則譫語，小承氣湯主之。若一服譫語止，更莫復服。此亦正陽陽明也。</p>
<p>陽明病，譫語，發潮熱，脈滑而疾者，小承氣湯主之。因與承氣湯一升，腸中轉矢氣者，更服一升；若不轉矢氣，勿更與之。明日不大便，脈反微澀者，裡虛也，為難治，不可更與承氣湯也。</p>
<p>汗出，譫語者，以有燥屎在胃中，此為實也，須下之。過經乃可下之，下之若早，語言必亂，以表虛里實故也。下之則愈，宜大承氣湯。經言：胃中有燥屎，屎貯於大腸，尿貯於膀胱，屎尿由小腸分別，各從其道而貯，何以燥屎反在胃中也？蓋水穀入胃，遊溢精氣，以營百脈及其變化，而糟粕津液則為屎尿，人皆有之，安能為病？惟傷寒之邪入里，寒化為熱，熏蒸臟腑，地道不通，變化不行，其水穀之在胃中者，不能糟粕、津液流行布散，凝聚乾澀，穀氣與邪氣相併，以致發熱、煩渴、滿實急痛、譫語狂亂，此當下，去之，使地道通，變化行，燥屎去而病愈也。但言胃，則小腸、大腸皆在其中矣。</p>
<p>得病二三日，脈弱，無太陽柴胡證，煩躁，心下硬，至四五日，雖能食，以小承氣湯少少與，微和之，令小安。五六日，與承氣湯一升。若不大便六七日，小便少者，雖不能食，但初頭硬，後必溏，未定成硬，攻之必溏，須小便利，屎定硬，乃可攻之，宜大承氣湯。</p>
<p>此上七條，見古人於下證一事詳審斟酌，不肯忽略之意，秘法要旨，非心領神會不可得也。</p>
<p>經曰：陽明病，不吐，不下，心煩者，可與調胃承氣湯。吐後心煩謂之內煩，下後心煩謂之虛煩。此心煩者，以胃中鬱熱凌迫火位，故爾心煩也。</p>
<p>陽明病，譫語，有潮熱，反不能食者，胃中必有燥屎五六枚也；若能食者，但硬耳。宜大承氣湯下之。此大承氣湯是治不能食，胃中有燥屎之證，非治能食但硬之證也。</p>
<p>病人不大便五六日，繞臍痛，煩躁，發作有時者，此有燥屎，故使不大便也。此因不大便，繞臍痛，煩躁發作，知有燥屎在大腸中，故使地道不通，不得大便也。方見下。</p>
<p>大下後，六七日不大便，煩不解，腹滿痛者，此有燥屎也。所以然者，本有宿食故也，宜大承氣湯。此二條皆言燥屎之證，故並宜大承氣湯主之。</p>
<p>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎也，宜大承氣湯。小便利則大便硬，今大便乍難乍易，則小便不利也，此燥屎在胃中，與上不同。</p>
<p>傷寒吐後，腹脹滿者，與調胃承氣湯。《內經》曰：諸脹腹大，皆屬於熱。</p>
<p>傷寒六七日，目中不了了，睛不和，無表裡證，大便難，身微熱者，此為實也。急下之，宜大承氣湯。不頭疼，目痛，惡寒，此無表證也。不腹痛，發渴，譫語，此無里證也。《針經》曰：熱病目不明，熱不已者，死；目中不明，證近危惡，故急用大承氣湯下。</p>
<p>陽明發熱汗多者，急下之，宜大承氣湯。陽明證雖法多汗，或濈濈然微汗出，或手足濈濈然汗出，此汗出太多，則熱迫津液將竭，正氣脫也，故用大承氣湯急下之。</p>
<p>發汗不解，腹滿痛者，急下之，宜大承氣湯。熱病不以汗解，腹滿而痛，傳之急也。</p>
<p>腹滿不減，減不足言，當下之，宜大承氣湯。《金匱要略》曰：腹滿時減，復如故。此為寒證，屬太陰，當與溫藥。經曰：大滿大實自可除，下之。腹滿不減，此為實病，屬陽明，當與下之。此上皆可下之證也。</p>
<p>經曰：陽明證，其人喜忘者，必有蓄血，所以然者，本有久瘀血，故令喜忘，屎雖硬，大便反易，其色必黑，宜抵當湯下之。太陽蓄血則如狂者，膀胱，腎之腑也。腎主志，志亂則狂。陽明蓄血則喜忘者，胃，脾之腑也。脾主意，意閉則忘。《針經》曰：腸胃實而心肺虛，虛則營衛留於下，久之，不以時上，故喜忘也。膀胱貯尿，蓄血則尿反快；腸胃貯屎，蓄血則屎反易。</p>
<p>病人無表裡證，發熱七八日，雖脈浮數者，可下之。假令已下，脈數不解，合熱則消穀善飢，至六七日不大便者，有瘀血，宜抵當湯。凡傷寒可下之證，皆自表入里，故下之。今不言陽明病，但言病人無表裡證，是外不惡寒，里無譫語，非風寒自表而里之證，乃脾胃內傷之病也。經曰：浮數之脈宜以汗解，不可下也。此非外感，浮則傷胃，數則傷脾，至七八日，發熱消爍津液，正陽盛陰虛之時，苟不攻之，其熱不已而變生焉。雖脈浮數，可下之，言不待脈候沉實而論也。此內傷之證，屬於脾胃，又為下證，故類編於陽明篇中，然必合下三條同看，乃見此脈證治法之詳備也。</p>
<p>若脈數不解，而下不止，必協熱而便膿血也。此承上文，乃陽明傳厥陰也。</p>
<p>趺陽脈遲而緩，胃氣如經也。趺陽脈浮而數，浮則傷胃，數則動脾，此非本病，醫特下之所為也。營衛內陷，其數先微，脈反但浮，其人必大便硬，氣噫而除。何以言之？本以數脈動脾，其數先微，故知脾氣不治，大便硬，氣噫而除。今脈反浮，其數改微，邪氣獨留，心中則飢，邪熱不殺穀，潮熱發渴，數脈當遲緩，脈因前後度數如法，病者則飢，數脈不時，則生惡瘡也。此「辨脈法篇」中全文，因與此篇脈證一例，故並附之，以便人之參考也。</p>
<p>陽明病下之，其外有熱，手足溫，不結胸，心中懊憹，飢不能食，但頭汗出者，梔子豉湯主之。此陽明病下後之證，與上文證治宜同，故並集之。按此四條，均是浮數之脈下後之證也。蓋浮為熱，客於氣，數為熱，客於血，下之邪熱去，而浮數之脈亦當解矣。若下後數去而脈但浮者，則營血間熱去而衛氣間熱在矣，為邪氣獨留，心中則飢，邪熱不殺穀，潮熱發渴之證。經曰：脈浮者必結胸也。若不結胸，心中懊憹，飢不能食者，主梔子豉湯吐之。若下後浮去而脈數不解者，則衛氣間熱去而營血間熱在矣，為熱氣合併，迫血下行，消穀善飢之證。血至下焦，如大便利者，必協熱而便膿血，血盡乃愈。如六七日不大便，則血不得行，蓄積於下，為瘀血，主抵當湯以下之。若下後浮數之脈俱不解，則邪氣不傳於裡，鬱於營衛之中，必生惡瘡也。</p>
<p>凡陽明病表邪未除，里證未具者，猶當和解之。</p>
<p>經曰：陽明病，發潮熱，大便溏，小便自可，胸脅滿不去者，小柴胡湯主之。以潮熱知在胃。凡大便溏者，應氣降而胸脅滿去也，以胸脅滿不去，知其屬少陽也。</p>
<p>陽明病，脅下硬滿，不大便而嘔，舌上白苔者，可與小柴胡湯。上焦得通，津液得下，胃氣因和，身濈然而汗出解也。</p>
<p>腹滿不大便，舌上苔黃者，為陽明邪熱自入於腑，可下；脅滿不大便而嘔，舌上苔白者，為陽明邪氣傳入少陽，宜和解之。</p>
<p>陽明中風，脈弦浮大而短氣，腹都滿，脅下及心痛，久按之氣不通，鼻乾，不得汗，嗜臥，一身及面目悉黃，小便難，有潮熱，時時噦，耳前後腫，刺之小瘥，外不解。病過十日，脈續浮者，與小柴胡湯。脈但浮，無餘證者，與麻黃湯。若不尿，腹滿加噦者，不治。此條當分作三治法。如脈但浮大，無諸里證者，此邪在於經，可與麻黃湯以汗之；如脈弦大，外證罷者，此邪在於里，可與大柴胡湯下之；病過十日，外不解，脈續浮者，此邪在半表半裡，可與小柴胡湯和解之；若不尿，腹滿加噦，此關格之病也。</p>
<p>太陽病，寸緩關浮尺弱，其人發熱汗出，復惡寒，不嘔，但心下痞者，此以醫下之也。如其不下者，病人不惡寒而渴者，此轉屬陽明也。小便數者大便必硬，不更衣十日無所苦也。渴欲飲水，少少與之，但以法救之。渴者，宜五苓散。此條言太陽之邪漸傳於裡之證治也。如嘔而心下痞者，此邪在半表半裡，乃小柴胡證。不嘔，但心下痞者，此以下後邪氣留於心中，乃梔子豉湯證。如未經下者，必漸入於胃而屬陽明也。不惡寒而渴，乃白虎加人參湯證。惡寒而渴，還屬太陽，故主五苓散。五苓散，太陽藥也。若陽明，則豬苓湯，然皆非小便數者所宜也。若吐，若下，若發汗後，小便數，大便硬者，當與小承氣湯和之，此不因吐下發汗後，小便數，大便硬，乃發熱汗出亡津液，胃中乾燥故也。若無滿實，不可下之。經曰：今為小便數少，以津液當還入胃中，故知不久必大便也。曰不更衣十日無所苦者，只問其小便日幾行也。</p>

<h2>陽明經傳經合病變證脈證治法</h2>
<p>經曰：病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也。脈實者宜下之；脈浮虛者，宜發汗。下之，與大承氣湯；發汗宜桂枝湯。此陽明本經病證也。脈浮虛者，邪在於經，故宜發汗；脈實者，邪入於腑，故宜下。</p>
<p>陽明病，欲食，小便反不利，大便自調，其人骨節疼，翕翕如有熱狀，奄然發狂，濈然汗出而解者，此胃不勝穀氣，與汗共並，脈緊則愈。此亦陽明本經病也。凡陽明蘊熱，為實者，須下之；熱氣散漫，不為實者，必待汗出而愈。</p>
<p>經曰：陽明病，脈浮而緊者，必潮熱，發作有時；但浮者，必盜汗出。浮為在經，緊為裡實。陽明病裡熱者自汗，表熱者盜汗。盜汗者，少陽病也。此陽明經之邪傳於少陽也，小柴胡湯。</p>
<p>經曰：脈浮而遲，表熱裡寒，下利清穀者，四逆湯主之。此陽明傳少陰也。</p>
<p>經曰：陽明病，下血譫語者，此為熱入血室。但頭汗出者，刺期門，隨其實而瀉之，濈然汗出則愈。此陽明傳厥陰也。此與上證皆因下後而致，名越經傳。</p>
<p>經曰：陽明少陽合病，必下利，其脈不負者，順也。負者，失也，互相剋賊，名為負也。脈滑而數者，有宿食也，當下之，宜大承氣湯。</p>
<p>陽明土，少陽木，二經合病，其脈長大而弦，為負，負者死；長大不弦者，為順，宜下之，以去少陽之邪。脈滑而數，為有宿食也。</p>
<p>經曰：傷寒，脈浮而緩，手足自溫者，是為系在太陰。太陰者，身當發黃，若小便自利者，不能發黃。至七八日大便硬者，為陽明病也。此太陰之邪入腑轉屬陽明也。若七八日下利者，則脾家腐穢盡去，不傳陽明。今大便硬，故知入胃腑也。</p>
<p>陽明病無汗，小便不利，心中懊憹者，身必發黃。此陽明自病也。</p>
<p>陽明病，發熱汗出，此為熱越，不能發黃也。但頭汗出，身無汗，齊頸而還，小便不利，渴飲水漿者，此為瘀熱在裡，身必發黃，茵陳蒿湯主之。周身汗出，熱得外越也；但頭汗，身無汗，則熱不得越矣。小便自利，熱不內蓄也；小便不利，渴飲水漿，則熱甚於里矣。胃屬土而色黃，胃為熱蒸則色見於外，必發黃也，故用茵陳蒿湯以逐熱退黃。</p>
<p>傷寒六七日，身黃如橘子色，小便不利，腹微滿者，茵陳蒿湯主之。</p>
<p>身黃如橘子色，熱甚於外也。小便不利，腹微滿，熱甚於外而津液不得下行也。火勝剋水故下之。</p>
<p>傷寒，身黃，發熱者，梔子柏皮湯主之。</p>
<p>瘀熱在裡，當須下去之；此熱在表，但宜解散之。黃者，土之色也。太陰與陽明俱屬土，其證外不得汗，里不得小便，脾胃之土為熱所蒸，故色見於外為黃也。</p>
<p>傷寒發汗已，身目為黃，所以然者，以寒濕在裡不解故也。以為不可下也，於寒濕中求之。《金匱要略》曰：黃家所起，從濕得之。汗出熱去則不能發黃。今汗後身目反黃者，風氣去，濕氣在也。若太陽證瘀血身黃者，則可下，此寒濕在裡，故不可下，當用茵陳五苓散治之。</p>
<p>傷寒瘀熱在裡，身必發黃，麻黃連翹赤小豆湯主之。濕熱相交，民多病癉。癉，黃也。傷寒為寒濕在表，發黃為瘀熱在裡，故用此湯除熱散濕。</p>
<p>經曰：陽明病，口燥，但欲漱水，不欲咽者，此必衄。此陽明本經表病也。</p>
<p>脈浮，發熱，口乾，鼻燥，能食者則衄。此二條均為熱甚於經，迫血為衄也。</p>
<p>經曰：陽明病，反無汗而小便利，二三日嘔而咳，手足厥者，必苦頭痛；若不咳不嘔，手足不厥者，頭不痛。此陽明本經傷寒，而寒氣內攻之證也。</p>
<p>經曰：陽明病，但頭眩，不惡寒，故能食而咳，其人必咽痛；若不咳者，咽不痛。此陽明本經中風，而風氣內攻之證也。</p>
<p>經曰：夫實則譫語，虛則鄭聲。鄭聲，重語也。此陽明本經入里，虛實之證也。</p>

<h2>陽明經禁忌不可犯</h2>
<p>經曰：陽明病，本自汗出，醫更重發汗，病已瘥，尚微煩不了了者，此大便必硬故也。以亡津液，胃中乾燥，故令大便硬，當問其小便日幾行，若本小便日三四行，今日再行，故知大便不久出。今為小便數少，以津液當還入胃中，故知不久必大便也。凡不大便，若有潮熱譫語，痞滿實痛者，可下之。無諸下證，只是津液不足，當須自便，所謂不更衣十日無苦也。</p>
<p>發汗多，若重發汗者，亡其陽。譫語，脈短者死：脈自和者不死。</p>
<p>傷寒四五日，脈沉而喘滿。沉為在裡，而反發其汗，津液越出，大便為難，表虛里實，久則譫語。此三條皆犯不可發汗之禁，而強與發汗之變證也。</p>
<p>脈陽微而汗出少者，為自和也。汗出多者，為太過。陽脈實，因發其汗，出多者，亦為太過。太過為陽絕於里，亡津液，大便因硬也。此二條正言所以不可發汗之由也。</p>
<p>經曰：陽明病，若中寒，不能食，小便不利，手足濈然汗出，此欲作痼瘕，必大便初硬後溏。所以然者，以胃中冷，水穀不別故也。</p>
<p>陽明病，不能食，攻其熱必嘔，所以然者，胃中虛冷故也。以其人本虛，故攻其熱必嘔。上證不可攻，攻之則利不止；此證不可攻，攻之則噦，以胃中虛冷故也。</p>
<p>陽明病，脈遲，食難用飽，飽則微煩頭眩，必小便難，此欲作谷疸。雖下之，腹滿如故。所以然者，脈遲故也。此熱未實，下之太早，不能除病也。</p>
<p>傷寒嘔多，雖有陽明證，不可攻之。嘔者，熱在上焦，未全入腑，故不可下。</p>
<p>食谷欲嘔者，屬陽明也。吳茱萸湯主之。得湯反劇者，屬上焦也。此陽明證似少陽者也。食谷欲嘔，客寒在胃也，故主吳茱萸；若嘔不止，反加甚者，屬少陽也，小柴胡湯主之。</p>
<p>陽明病，心下硬滿者，不可攻之。攻之利遂不止者死，利止者愈。此三條皆言陽明經病傳少陽之證也，為在半表半裡，未全入腑，故不可下。</p>
<p>陽明病，面合赤色，不可攻之。必發熱，色黃，小便不利也。二陽並病，論曰：設面色緣緣正赤者，陽氣怫鬱在表也。此面合赤色，乃熱在經，當用葛根湯微發之。攻之則經中之熱乘虛入胃也。</p>
<p>陽明病，下之，心中懊憹而煩，胃中有燥屎者，可攻。腹微滿，初頭硬，後必溏，不可攻之。若有燥屎者，宜大承氣湯。無燥屎者，梔子豉湯。</p>
<p>陽明病，自汗出，若發汗，小便自利者，此為津液內竭，雖硬不可攻之，當須自欲大便，宜蜜煎導而通之，若土瓜根及與大豬膽汁皆可為導。</p>
<p>趺陽脈浮而澀，浮則胃氣強，澀則小便數，浮澀相搏，大便則難，其脾為約，麻仁丸主之。此上十條，皆言不可下之禁也。</p>
<p>經曰：陽明病，汗出多而渴者，不可與豬苓湯。以汗多胃中燥，豬苓湯複利其小便故也。此條言不可利小便之禁也。汗出多而渴，白虎加人參湯。</p>
<p>經曰：陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮而緊，若下之，則腹滿小便難也。</p>
<p>發熱惡寒，病在表也；口苦咽乾，腹滿微喘，病在裡也，當和解之，不可下也。</p>
<p>陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒反惡熱，身重。此證與上相類，但上則無汗惡寒，此則有汗惡熱，當與和解之。</p>
<p>若發汗則燥，心憒憒，反譫語；若加燒針必怵惕煩躁不得眠；若下之，則胃中空虛，客氣動膈，心中懊憹，舌上苔者，梔子豉湯主之。此下後邪氣客於上焦，為虛煩，故吐之。</p>
<p>若渴欲飲水，口乾舌燥者，白虎加人參湯主之。此下後邪熱客於中焦，為燥渴，故潤之。</p>
<p>若脈浮，發熱，渴欲飲水，小便不利者，豬苓湯主之。此下後邪熱客於下焦，面三焦俱帶熱也，故利之。</p>

<h2>少陽經脈證治法</h2>
<p>經曰：少陽之病，口苦，咽乾，目眩也。</p>
<p>《內經》曰：三日，少陽受之。少陽主膽，其脈循脅絡於耳，故胸脅痛而耳聾。少陽者，足膽，甲風木也，此經行身之側，後有太陽，專主乎表；前有陽明，專主乎里。在於表裡之間，故曰不從標本，從乎中治也。太陽之本寒，陽明之本熱，少陽居其中，乃有寒熱往來之症。少陽之脈起於目銳眥，復從耳後入耳中，出走耳前，下胸，循脅裡，出氣街，乃有目眩、耳聾、胸脅痛之證。《內經》曰：有病口苦者，名曰癉。《甲乙經》曰：五臟取決於膽，咽為之使，所以有口苦、咽乾之證也。自陽明傳來者名循經傳；自太陽傳來者名越經傳；有本經自受病者，亦能傳經併入胃腑也，其脈弦。經曰：尺寸俱弦者，少陽受病也。</p>
<p>其證耳聾目眩，胸脅痛，寒熱，嘔而口苦，咽乾，為在半表半裡，宜和解之，惟小柴胡湯一湯，更無別方。</p>
<p>按：十二經絡，惟少陽膽經絡，縈纖盤屈，出入循行，其支別所踞，多於各經，何證治之獨少也？蓋經絡所踞，足太陽在後，表病多；足陽明在前，里病多。汗下分屬二經，該之盡矣。少陽在二經之間，既無表之可汗，又無里之可下，只有半表半裡之證，和解一法而已也。雖雲和解一法，實兼統乎太陽、陽明，未可少其法而輕議之也。</p>
<p>經曰：血弱氣盡，腠理開，邪氣因入，與正氣相搏，結於脅下，正邪分爭，往來寒熱，休作有時，默默不欲飲食，臟腑相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主之。此言少陽本經自受病也。少陽屬膽，無出入之道，不宜汗下，惟柴胡、半夏能利、能汗，消解血熱，黃芩佐之也。又膽為清淨之腑，其湯去滓再煎，取其清以入膽也。</p>
<p>經曰：本太陽病不解，轉入少陽者，脅下硬滿，乾噦不能食，往來寒熱，尚未吐下，脈沉緊者，與小柴胡湯。此言太陽在經之邪越經而傳少陽也。蓋未經吐下而脈沉緊，為傳裡雖深，未至入腑，猶宜和解；若曾經吐下脈沉緊者，此邪氣入腑，為裡實，宜大柴胡湯下之也。按大柴胡湯證，汗之則里已急，下之則表未解，故以小柴胡中，藥兼表裡而和解之。加芍藥以安太陰，使邪氣不納；以大黃去地道之不通；以枳實去胸脅之痞滿也。</p>

<h2>少陽傳經合病欲解脈證治法</h2>
<p>經曰：傷寒六七日，無大熱，其人躁煩者，此為陽去入陰故也。此言少陽傳經之邪復傳於三陰也。陽去入陰者，表為陽，里為陰，言表邪盡，傳於入里也。</p>
<p>經曰：傷寒三日，三陽為盡，三陰當受邪，其人反能食而不嘔，此為三陰不受邪也。此言少陽傳經之邪不傳三陰，只在陽經自病也。</p>
<p>經曰：服柴胡湯已，渴者，屬陽明也，以法治之。此言少陽本經之邪入胃腑也。</p>
<p>經曰：三陽合病，脈浮大，上關上，但欲眠睡，目合則汗。前三陽合病以證分，此三陽合病以脈分也。關脈以候少陽之氣，太陽之脈浮，陽明之脈大，脈浮大上關上，知三陽合病也。凡欲眠睡目合無汗者，此少陰證也。目合則汗者，此名盜汗，乃少陽證也，膽熱則睡。</p>
<p>經曰：傷寒三日，少陽脈小者，欲已也。此言傳經之邪，至少陽而微，為自己也。</p>

<h2>少陽禁忌不可犯</h2>
<p>經曰：少陽中風，兩耳無所聞，目赤，胸中滿而煩者，不可吐下，吐下則悸而驚。此少陽本經自中風之證也，宜小柴胡湯。不可吐下，吐下為犯禁。故以吐除煩，吐則傷氣，氣虛者悸。以下除滿，下則亡血，血虛者驚。治悸以小柴胡湯加茯苓、炙草，治驚以小柴胡湯加龍骨、牡蠣也。</p>
<p>經曰：傷寒，脈弦細，頭痛發熱者，屬少陽。少陽不可發汗，發汗則譫語，此屬胃，胃和則愈；胃不和則煩而悸。此少陽本經自傷寒之證也。不可發汗，汗之為犯禁。汗則譫語，此屬胃，乃少陽之邪入胃腑也，謂之少陽陽明，當與調胃承氣湯以和胃氣則愈。</p>
<p>經曰：若已吐下發汗溫針，譫語，柴胡湯證罷，此為壞病，知犯何逆，以法治之。凡小柴胡怔，吐下發汗後，柴胡證不罷者，則不為逆，柴胡證罷者，此為逆，乃壞病也。</p>

<h1>卷之下</h1>

<h2>太陰經脈證治法</h2>
<p>經曰：太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛。</p>
<p>《內經》曰：四日，太陰受之。太陰脈布胃中，絡於嗌，故腹滿而嗌乾，自利。太陰者，足脾，己濕土也。此經布腹中，貫胃上膈，絡咽連舌本，故有腹滿或痛，吐利，嗌乾之證；主營四末，又有四肢煩疼之證；脾屬土，其色黃，又有發黃之證。其經寒熱所分，不可混治。如本經自受病，為直中太陰之寒證；由三陽遞傳至太陰者，為傳邪之熱證。故自少陽傳者，為循經傳，自太陽傳者為誤下傳，若本經亦能循經傳又入腑也。</p>
<p>凡病自陽經發者，為外感風寒，邪從表入，則太陽先受之。病自陰經起者，為內傷生冷，飲食過多，則太陰先受之。</p>
<p>其脈沉而細，經曰：尺寸俱沉細者，太陰受病也。沉細而強疾者為實，為熱，當下。強疾，謂有力也。沉細而遲弱者，為虛，為寒，當溫。遲弱，謂無力也。此二者里證見脈也。若太陰本經自受風寒者，其脈浮遲弱。</p>
<p>其證腹滿咽乾，手足自溫，發黃者，屬熱。此傳經之邪熱也。</p>
<p>自利不渴，或嘔吐，腹常痛者，屬寒。此直中太陰之邪也。</p>
<p>若外感風寒者，四肢煩疼。</p>
<p>經曰：太陰病，脈浮者，可發汗，宜桂枝湯。此太陰本經自受風寒之邪也，其病在經，屬表，故宜汗之。不言證者，經中已言，四肢煩疼是也。桂枝，太陰經表藥也，中有芍藥、甘草，酸甘相合。甲己化土，故入脾也。</p>
<p>經曰：自利不渴者，屬太陰，以其臟有寒故也。當溫之，宜四逆輩。此太陰本經自受之寒邪也，其病在臟，屬裡，故宜溫之。凡自利而渴者屬少陰，為寒在下焦；自利不渴者屬太陰，為寒在中焦。不言脈者，當知沉遲而弱也。不言四逆湯，但言四逆輩，蓋太陰自利不渴者，師言用理中湯；甚者理中湯加附子。其言輩者，不過如此。夫四逆甘辛相合，乃大熱之劑，苟輕用之，恐有過度之失，所以漢守不為定投也，莫若以理中湯循次而用之更穩，如不得已，四逆方可用也。</p>
<p>經曰：本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝加芍藥主之。</p>
<p>此言太陽證誤下而傳太陰也。太陽原受病，脈緩有汗，當用桂枝湯。醫反下之，邪因乘虛傳於太陰。裡氣不和，表邪未罷，故腹滿時痛，四肢沉重，宜桂枝湯加芍藥以解表和里。</p>
<p>大實痛者，桂枝加大黃湯主之。經曰：大滿大實堅，有燥屎者，自可除下之。此承上證而言，非本有實證，以其誤下，脾復傳胃，故用桂枝湯加大黃以除下之也。</p>

<h2>太陰入腑欲解脈證</h2>
<p>經曰：太陰中風，四肢煩疼，陽微陰澀而長者，為欲愈。此言太陽本經自中風之表證也。表少里和脈長者，為陽漸生也。陰得陽則解，故為欲愈。</p>
<p>經曰：傷寒，脈浮而緩，手足自溫者，系在太陰。太陰當發身黃，若小便自利，不能發黃，至七八日，雖暴煩下利，日十餘行，必自止，以脾家實，腐穢當去故也。此言太陰傳經之邪不入胃腑自愈之證也。邪在三陽則手足熱，邪在三陰則手足寒，今手足自溫，則知屬太陰也。太陰病，小便不利者，身當發黃。發黃者，茵陳蒿湯主之。至七八日小便自利，大便必硬。大便硬者，為太陰入腑傳於陽明也，調胃承氣湯主之。今暴煩下利則知脾氣和，遂下泄不復再傳也。</p>

<h2>太陰禁忌不可犯</h2>
<p>經曰：太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛。若下之，必胸下結硬。此陽邪傳裡之證也。太陰之脈布胃中，邪氣壅而為腹滿。上不得降者，嘔吐而食不下；下不得升者，自利益甚。凡陰寒在裡而為腹痛者，則常痛不止。此陽邪於裡，但時時痛而不常也。此證未至於實，不可使下。下之，胸下結硬者，下之早也。經曰：病發於陰而反下之，因作痞，此之謂也。</p>
<p>太陰為病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱，易動故也。此言太陰傳經里病，腹滿痛者，設當用桂枝湯加芍藥、大黃，須當審其脈證，不可輕忽也。如脈沉細有力便實者，不可減少；脈弱便調，不減用之，則下利不止。此其宜禁也。</p>

<h2>少陰經脈證治法</h2>
<p>經曰：少陰之為病，脈微細，但欲寐也。</p>
<p>《內經》曰：五日，少陰受之。少陰脈貫腎絡於肺，系舌本，故口燥，舌乾而渴。</p>
<p>少陰者，足腎，癸水也，其本寒，位坎而屬寒水也。其標熱，配離而同君火也。此經水火統論，寒熱分治，須要明辨。今以本經自中者為寒證，陽經傳入者為熱證，庶幾可曉，自太陰者為循經傳，自太陽傳者為表傳裡。若本經受病，亦能傳經，又入腑也。經中首論並《內經》所言，皆傳經之證也，六經同。</p>
<p>其脈沉，經曰：尺寸俱沉者，少陰受病也。</p>
<p>脈沉疾有力者為熱，當下；脈沉遲無力者為寒，當溫。</p>
<p>經又言：脈微細者，以陽邪傳裡，深也，亦以遲疾分寒熱。</p>
<p>其證口燥，舌乾而渴者，大便實，胸腹硬痛，或下利清水者，俱是邪在裡也。</p>
<p>口中和，不渴者，無熱惡寒，厥冷蜷臥，吐利，臍腹絞痛者，俱是陰寒在裡也。凡三陰證，但喜厚衣便是惡寒。</p>
<p>凡傷寒一時初起，不入太陽，竟入少陰，無頭疼身熱，便惡寒蜷臥，四肢厥冷，或腹痛自利，小便清白，脈沉遲弱，微細無力，或伏不見，此陰寒直中少陰之真陰證也。在經者，宜溫發之，在臟者，宜溫補之。</p>
<p>經曰：少陰病，始得之，反發熱，脈沉者，麻黃附子細辛湯主之。此少陰本經自受風寒之證也，為邪在經，屬表，故宜汗之。麻黃附子細辛湯乃少陰經表藥也，少陰本無熱，故云「反」。</p>
<p>少陰病，得之二三日，麻黃附子甘草湯微發汗，以二三日無里證，故微發汗也。此承上證而言，若得之二三日，只發熱脈沉無他證者，病還在經，不可用前湯發汗，當改用此湯以散發汗也。</p>
<p>按上證發熱為邪在表而當汗，脈沉屬陰而當溫，故以附子溫經，麻黃散寒，而熱須汗解，故加細辛乃汗劑之重者也。下證既無裡寒之可溫，又無裡熱之可下，求其所用麻黃附子之意，則是脈亦沉，方可名曰少陰病。身亦發熱，方可行發表藥。又，得之二三日，邪氣尚淺，比上始得病亦稍輕，故不重言脈證，而但曰微發汗，所以去細辛加甘草，是汗劑又輕者。向使脈不沉，身不熱，又無他證？是為無病人也，又何治焉。</p>
<p>少陰病得之二三日以上，心中煩，不得臥，黃連阿膠湯主之。此承上第一證而言，若得之二三日以上，身熱已除，復心中煩不得臥者，乃邪入於裡，上合於心，寒極變熱，心惡熱而煩不得臥也。若入於腎，則喜寐矣，可見心腎同經，寒熱兼化。此足傳手也，故用黃連阿膠湯扶陰散熱。</p>
<p>少陰病得之二三日，口中和，其背惡寒者，當灸之，附子湯主之。此亦承上第一證而言。若得之二三日，身熱已除，復背惡寒者，此少陰在經之邪隨經而傳於太陽經。太陽證，背惡寒，口中燥者，為熱邪，故用白虎湯；此證口中和，里無熱也，故用附子湯以溫經散寒。可見臟腑相配，表裡相通。此里傳表也。</p>
<p>按此四證，乃陰寒直中少陰者，分為四證，而治亦不同，其間兼化相通之理，輕重緩急之宜，悉可知焉。</p>
<p>經曰：少陰病，身體痛，手足寒，骨節痛，脈沉者，附子湯主之。此陰寒直中少陰，真陰證也。若脈浮，則屬太陽麻黃湯證。今脈沉，知屬少陰也。蓋少陰與太陽為表裡，證同脈異也。</p>
<p>經曰：少陰病，脈沉者，急溫之，宜四逆湯。此陰寒直中少陰之脈也。少陰病，寒邪在經者則發之，在裡者則溫之，並未云急。此云急溫者，彼雖寒甚，而證已形，治之則有成法；此初頭脈沉，未有形證，不知邪氣所之將發何病，是以急溫之也，故用四逆湯。此以上皆少陰直中，陰寒而無吐利者之證治也。</p>
<p>經曰：少陰病，二三日至四五日，腹痛，小便不利，下利不止，便膿血者，桃花湯主之。此少陰自受寒邪而下利之證也，為病在裡，屬臟。凡陽病下利便膿血者，協熱也；少陰下利便膿血，裡寒也。裡寒何以有膿血也？蓋二三日至四五日，寒邪變熱，迫血下行，血流腐而為膿，下焦不闔，故大便注下也。桃花湯赤石脂以固脫；粳米以補正氣；乾薑以散腎之寒而闔下焦也。成注未明。</p>
<p>經曰：少陰病，吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。此少陰自受寒邪而傳厥陰之證也，為循經傳，乃母傳子也。吳茱萸湯厥陰肝經藥也，故知。</p>
<p>經曰：少陰病，下利，脈微者，與白通湯。利不止，厥逆無脈，乾嘔，煩者，白通加豬膽汁湯主之。服湯脈暴出者死；微續者生。此陰寒直中少陰本臟，為真陰證也。腎主水，為胃之關，開竅於二陰。寒氣中之，不能閉藏出納，故少陰證多吐利也。</p>
<p>按白通湯加豬膽汁人尿者，《內經》啟玄子注曰，若調寒熱之逆，冷熱兼行，則熱物冷服，下嗌之後，冷體既消，熱性便發，由是病氣隨愈，嘔噦皆除，情且不違而致大益。此加二物鹹苦寒於白通湯熱劑中，要其氣相從，可以去格拒之寒也。</p>
<p>少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或咽痛，或利止脈不出者，通脈四逆湯主之。此證大略與上證同，乃陰證似陽者也。此以上皆治裡寒吐利之證也。按白通湯姜附加蔥白，為脈沉細而微澀。姜附以治寒，蔥白之辛以潤之，為腎惡燥也。何以知其脈之微澀也？經曰：少陰病，下利，脈微澀，必數更衣。白通湯治下利不止故知。四逆湯姜附加甘草，為脈遲細而遲弦。姜附以治寒，甘草之甘以緩之，為肝苦急也。何以知脈之遲弦也？經曰：少陰病，飲食入口則吐，手足寒，脈遲弦者，宜四逆湯，故知也。</p>
<p>經曰：少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣。其人或咳，或小便利，或下利，或嘔者，真武湯主之。此少陰自病兼有水氣者也。水氣氾濫，故有或為之證。</p>
<p>按太陽表證有水氣者小青龍湯；少陰里證有水氣者真武湯。六經中惟腎、膀胱主水，故二經有水氣之證也。</p>
<p>凡先見陽病，傳經至少陰者，口燥咽乾而渴，腹脹不大便，或自利純清水，心下硬痛，脈沉細有力，此傳經之邪熱也，宜下之；若無口乾燥，腹脹滿，大便實之證，宜和解之；若吐利，脈沉細無力者，又當溫之也。</p>
<p>經曰：少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯。此少陰經自受邪即與手經相合，或太陽經病即與少陰同病，是名兩感，而獨盛於少陰。曰二三日，熱之急也；口燥咽乾，邪甚也。熱甚於里，煎熬真陰，腎精幹涸，故宜急下以救腎水也。</p>
<p>少陰病，自利清水，色純清，心下必痛，口乾燥者，急下之，宜大承氣湯。此少陰之邪傳厥陰也。《難經》曰：從前來者為實邪，自利色青，肝乘腎也。心下痛，燥屎也，宜急下。</p>
<p>少陰病，六七日，腹脹，不大便者，急下之，宜大承氣湯。此少陰入陽明胃腑也。胃，土也。腹脹不大便，地道不通，胃土壅塞也，急下之，以去土之墩阜，救水之枯涸也。此上皆下證。</p>
<p>經曰：少陰病，四逆，其人或咳，或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主之。此陽經所傳之證也。</p>
<p>凡邪在三陽則手足必熱，傳到太陰，則手足必溫，至少陰則邪熱漸深，故四肢逆而不溫也，及至厥陰則手足厥冷，又甚於四逆矣。四逆散，少陰和解藥也。</p>
<p>少陰病，下利六七日，咳而嘔渴，心煩不得眠者，豬苓湯主之。此陽邪所傳，挾熱而利也。是二證者，既無裡虛之可溫，又無裡實之可下，所以和解之也。</p>
<p>經曰：少陰病，欲吐不吐，心煩，但欲寐，五六日自利而渴，屬少陰也。虛故引水自救。若小便色白者，少陰病形悉具。小便白者，以下焦虛有寒，不能制水，故令色白也。此太陰循經傳少陰之證。凡自利不渴者屬太陰，理中湯證；自利而渴者屬少陰，豬苓湯證，此不確者，以小便別之，色黃為熱，色白為寒也。</p>
<p>少陰病，飲食入口則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲者，此胸中實，不可下也，當吐之；若膈上有寒飲，乾嘔者，不可吐也，急溫之，宜四逆湯。此亦表邪傳裡之證也。</p>
<p>凡吐而有物者，為傳裡之邪留於胸中，宜瓜蒂散；吐之乾嘔無物者，為膈上有寒飲，宜四逆湯溫之。上證以小便分寒熱，此證以嘔吐分虛實，通用四逆湯溫之。四逆湯乃少陰里證虛寒溫補之藥也。</p>

<h2>辨少陰咽痛脈證治法</h2>
<p>經曰：病人脈陰陽俱緊，反汗出者，亡陽也。此屬少陰，法當咽痛而復吐利。此少陰似太陽之證也。脈陰陽俱緊，乃太陽傷寒，法當無汗，麻黃湯證是也。今反汗出，知屬少陰傷寒也。少陰傷寒，法當咽痛而復吐利。蓋少陰之脈循喉嚨，寒氣客之，必發咽痛；腎司開闔，少陰治在下焦，寒邪內盛，則開闔不治，下焦不約，吐而又下利也，用四逆湯治之。此少陰自受寒邪之病，故溫之。</p>
<p>經曰：少陰病，下利，咽痛，胸滿，心煩者，豬膚湯主之。此傳經之熱邪也。</p>
<p>少陰病，咽中傷，生瘡，不能語言，聲不出者，苦酒湯主之。此傳經之熱傷於絡脈也。此二證皆陽經傳入少陰之客熱也，故解之。</p>
<p>經曰：少陰病，二三日，咽痛者，可與甘草湯；不瘥者，與桔梗湯。</p>
<p>少陰病，咽中痛，半夏散及湯主之。此二證皆傳經之邪也。</p>
<p>甘草湯主少陰客熱咽痛；桔梗湯主少陰寒熱相搏咽痛；半夏散主少陰客寒咽痛也。</p>

<h2>少陰傳經欲解可治不可治脈證</h2>
<p>經曰：少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血也。此少陰之邪復傳太陽也。膀胱，太陽也。少陰太陽為表裡傳，下血乃愈；血不下，小腹硬痛者，宜抵當湯主之。</p>
<p>經曰：少陰病，脈緊，至七八日，自下利，脈暴微，手足反溫，脈緊反去者，為欲解也，雖煩，下利必自愈也。此少陰傷寒欲解之候也。</p>
<p>凡下利煩躁者死，惟太陰暴煩下利為脾實，腐穢當去也。此少陰為正勝邪微，手足反溫，脈緊反去也。</p>
<p>少陰中風，脈陽微陰浮者，為欲愈。此少陰中風欲解之候也。</p>
<p>經曰：少陰病，下利，若利自止，惡寒而蜷臥，手足溫者，可治。</p>
<p>少陰病，惡寒而蜷，時自煩，欲去衣被者，可治。</p>
<p>少陰病，吐利，手足不逆冷，反發熱者，不死；脈不至者，灸少陰七壯。此三證可治者，一以利自止手足溫也；一以時自煩，欲去衣被也；一以手足不逆冷，反發熱也。</p>
<p>經曰：少陰病，惡寒身蜷而利，手足逆冷者，不治。以利而手足逆冷也。</p>
<p>少陰病，吐，利，躁煩，四逆者，死。此吐利躁煩而死者，以四逆也。</p>
<p>少陰病，下利止而頭眩，時時自冒者，死。陽病冒者，為欲汗解；陰病冒者，死。</p>
<p>少陰病，四逆，惡寒而身蜷，脈不至，不煩而躁者，死。以四逆無脈也。</p>
<p>少陰病，六七日，息高者，死。</p>
<p>此少陰邪入於裡，上接於心，與火俱化而克肺金，故息高死。</p>
<p>少陰病，脈微細沉，但欲臥，汗出不煩，自欲吐，至五六日自利，復煩躁不得臥寐者，死。此以脈微細沉，正氣久虛也。</p>

<h2>少陰禁忌不可犯</h2>
<p>經曰：少陰病，脈細沉數，病為在裡，不可發汗。宜用大承氣湯下之。</p>
<p>少陰病，脈微不可發汗，亡陽故也。陽已虛，尺脈弱澀者，復不可下之。脈微者為陽虛，不可發汗，汗之則亡陽；尺脈弱澀者為陰虛，不可下，下之則亡陰，宜四逆湯。</p>
<p>經曰：少陰病，咳而下利，譫語者，被火氣劫故也。小便必難，以強責少陰汗也。太陽中風，被火劫亦譫語，小便難，表裡同也。二經有此火逆，小便利者，可治。</p>
<p>少陰病，但厥，無汗而強發之，必動其血。未知從何道出，或從口鼻，或從目出，是名下厥上竭，為難治。此二證皆犯強發少陰汗之禁。</p>
<p>按六經證治，惟少陰傳變與太陽相同，如通脈四逆湯、四逆散、真武湯證俱有加減法，謂有或為之證，亦由太陽小青龍、小柴胡之類是也。蓋足少陰，腎也，足太陽，膀胱也，二經相為表裡，故其證亦相通，少人知斯妙也。</p>

<h2>厥陰經脈證治法</h2>
<p>經曰：厥陰之為病，消渴，氣上撞心，心中疼熱，飢而不欲食，食則吐蛔。</p>
<p>《內經》曰：六日，厥陰受之。厥陰脈循陰器而絡於肝，故煩滿而囊縮。</p>
<p>厥陰者，足肝，乙木，此經獨在六經之後。傷寒六七日，傳至厥陰，為傳經盡。凡經中與《內經》所序六經之證，皆傳經之邪，不可與本經自受病者例論也。蓋厥陰自受病者，乃直中陰經之真陰證也，其病為寒。傳經至厥陰者，其病為熱，間有寒者，吐利久與醫之誤也。所以厥陰經亦有寒熱兩端，當分治之。自少陰傳者，為實邪，母傳子也；自太陽傳者，為循經得度傳。三陰不至於頭，惟厥陰與腎脈上行至巔與太陽相接也。至厥陰復傳太陽為自愈，不愈為再經。</p>
<p>其脈微緩而沉，經曰：尺寸俱微緩者，厥陰受病也。脈沉實而疾者為熱，宜下；脈沉弱而遲者為寒，宜溫。</p>
<p>經又言：脈微緩者，以熱邪內甚兼風化也。緩者，風脈也，肝為風木。若脈沉緩，為病未已；若得浮緩之脈，浮則邪還於表，緩則脾胃氣和，不再受克，邪無所容。否極泰來，水升火降，必寒熱作而出汗解也。此言傳經盡後脈也。</p>
<p>其證煩滿囊縮，舌卷耳聾，消渴，手足乍冷乍溫者，為熱；惡寒，口吐涎沫，頭痛，小腹痛，自利不渴，手足冷，為寒。若發熱惡寒似瘧，不嘔，清便自調，為欲愈。此言傳經盡後證也。</p>
<p>凡初病，更無熱惡寒，四肢厥冷，頭痛面清，身如被杖，小腹絞痛，囊縮，口吐涎沫，或下利，小便清白，脈沉遲微弱，尋之似有，按之全無，此厥陰本經受寒之真陰證也。在經、在臟，俱用通脈四逆湯治之。</p>
<p>經曰：手足厥寒，脈細欲絕者，當歸四逆湯主之；若其人內有久寒者，宜當歸四逆加吳茱萸生薑湯主之。此厥陰自受寒之真陰證也，為病在經。凡六經中，俱稱某經病，某經傷寒，惟厥陰不稱經者，或居六經之後，脈證獨殊，故不稱歟。</p>
<p>乾嘔，吐涎沫，頭痛者，吳茱萸湯主之。此厥陰本經自病，表裡兼有之證也。</p>
<p>經曰：下利，腹脹滿，身體疼痛者，先溫其里，乃攻其表。溫里，四逆湯；攻表，桂枝湯。此陰經傷寒之證，表裡俱急者也。三陰同論。</p>
<p>經曰：傷寒脈微而厥，至七八日膚冷，其人躁無暫安時者，此為臟厥，非為蛔厥也。蛔厥者，其人當吐蛔，今病者靜而復時煩，此為臟寒，蛔上入膈，故煩，須臾復止，得食而嘔又煩者，蛔聞食臭出，其人當自吐蛔。蛔厥者，烏梅丸主之。又主久利。</p>
<p>此厥陰本經自傷寒也，為病在臟。若不吐，躁無暫安時者，此名臟厥。臟厥者，死，陽氣絕也，宜四逆輩冷服之；若吐蛔，時躁時靜，此名蛔厥，宜烏梅丸。</p>
<p>傷寒脈促，手足厥逆者，可灸之。此厥陰本經傷寒之脈也。</p>
<p>凡先病自陽經，續傳至厥陰者，消渴，煩滿，舌卷，耳聾，囊縮。脈微緩者，囊不縮；脈沉短者，囊縮。</p>
<p>腹痛後重，大便稠黏，小便赤澀，或大便閉，或自利譫語，脈沉實急數，此傳經之邪熱也，宜攻之。亦有大吐、下，發汗後，或吐利久而成虛寒之證，脈亦沉遲微弱，當與厥陰自受寒者同論，不可誤攻之也。</p>
<p>經曰：傷寒脈滑而厥者，里有熱也，白虎湯主之。此陽明經熱傳厥陰也。</p>
<p>病人手足厥冷，脈乍緊者，邪結在胸中。心中滿而煩，飢不能食者，病在胸中，當須吐之，宜瓜蒂散。此少陰病傳厥陰也，與少陰可吐證同。</p>
<p>熱利下重者，白頭翁湯主之。此陽邪入里，協熱而利也。</p>
<p>下利慾飲水者，以有熱故也，白頭翁湯主之。此與少陰自利而渴相似。凡自利不渴為臟寒，與四逆湯以溫臟；下利飲水為有熱，與白頭翁湯以涼中。</p>
<p>下利後更煩，按之心下濡者，為虛煩也，宜梔子豉湯。此太陽合病自利後之證也。凡病在陽經者，方可謂之邪氣乘虛客於胸中，若傳至陰經，不宜有是虛煩之證矣。但下利後不煩為欲解；若更煩而心下堅者，則為谷煩。此皆陰經利後之證。今以煩而心下濡，知為陽經利後之虛煩也。故吐之。</p>
<p>下利譫語者，有燥屎也，宜小承氣湯。此厥陰入胃腑也。下利者，水滲出也。厥陰之病，消渴，飲水多，其水自腸間滲漏而出，故利清水也，其證必煩滿而脈沉實。此以上皆傳經之熱邪也。</p>
<p>經曰：大汗出，熱不去，內拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。此言汗後亡陽傳厥陰也。</p>
<p>大汗，若大下利而厥冷者，四逆湯主之。此言汗下後陽虛陰勝傳厥陰也。</p>
<p>經曰：傷寒本自寒下，醫復吐下之，寒格更逆吐下。若食入口即吐，乾薑黃連黃芩人參湯主之。此證醫之咎也。</p>
<p>厥陰證異於六經者，以厥逆吐利也。所以別經則稱某經病，而厥陰不稱經者，以有厥逆吐利可識也。今以厥逆吐利分其寒熱脈證各為一類，庶有頭緒也。</p>
<p>經曰：凡厥者，陰陽氣不相順接，便為厥。厥者，手足逆冷是也。</p>
<p>此言厥之由也。凡病發於陽而後厥者，謂之陽厥。陽厥者，陽氣內陷，熱氣逆伏而手足為之冷也。病發於陰而後厥者，謂之陰厥。陰厥者，陽氣不足而陰氣勝也，其厥必上過於肘，下過於膝。《針經》曰：陰氣起於五指之裡，趨於膝下而聚於膝上。故陰氣勝則從五指至膝上寒，此之謂也。大抵厥逆為陰所主，寒者多矣。厥為陰之盛也，若更加之惡寒而蜷者，陰氣之極也，則難於制治。陰厥以四逆湯治；陽厥以四逆散。陽厥復有可下者，以脈沉實而證煩滿囊縮也。</p>
<p>經曰：傷寒，始熱六日，厥反九日而利。凡厥利者，當不能食；今反能食者，恐為除中。食以索餅，不發熱者，知胃氣尚在，必愈。恐暴熱來出而復去也。後三日脈之，其熱續在者，期之旦日夜半愈。所以然者，本發熱六日，厥反九日，復發熱三日，並前六日，亦為九日，與厥相應，故期之旦日夜半愈。後三日脈之，而脈數，其熱不罷者，此為熱氣有餘，必發癰膿也。此以下皆言陽厥之證也。此條恐為除中，食以索餅，恐熱復去，其熱續在，脈數熱盛，必發癰膿。凡三候也。</p>
<p>傷寒，一二日至四五日而厥者，必發熱，前熱者後必厥，厥深者熱亦深，厥微者熱亦微。厥應下之，而反發汗者，必口傷爛赤。此言厥應下之者，手足或有溫時，或手足掌心必暖，證必煩滿，脈必沉實，故下之，否則不可下也。</p>
<p>傷寒熱少厥微，指頭寒，默默不欲食，煩躁。數日，小便利，色白者，此熱除也。欲得食，其病為愈；若厥而嘔，胸脅煩滿者，其後必便血。厥而嘔，胸脅煩滿者，大柴胡湯證也。厥應下之，亦宜此湯。便血者，桃仁承氣湯。</p>
<p>傷寒，發熱四五日，厥反三日，復熱四日，厥少熱多，其病當愈；四日至七日，熱不除者，其後必便膿血。此四條皆陽厥也。凡陽厥，熱不除，在表者，必發癰膿；在裡者，必便膿血者，以肝主血而風木易動也，其脈皆數，便膿血，黃芩湯。</p>
<p>經曰：傷寒，先厥，後發熱而利者，必自止；見厥複利。此以下皆言陰厥也。</p>
<p>傷寒，先厥後發熱，下利必自止。而反汗出，咽中痛者，其喉為痹。發熱無汗，而利必自止；若不止，必便膿血。便膿血者，其喉不痹。陰氣勝則厥而利，陽氣復則發熱而利止。汗出而咽中痛者，熱氣上行也，桔梗湯；無汗而便膿血者，桃花湯。</p>
<p>傷寒病，厥五日，熱亦五日。設六日當復厥，不厥者自愈。厥終不過五日，以熱五日，故知自愈。厥為陰氣勝也，熱為陽氣復也。</p>
<p>傷寒厥四日，熱反三日，復厥五日，其病為進。寒多熱少，陽氣退，故進也。此證宜服四逆湯。此四條皆陰厥之證也。</p>
<p>經曰：嘔而脈弱，小便複利，身有微熱，見厥者難治，四逆湯主之。</p>
<p>此證即東垣所謂子能令母實，自東之比為逆行之證也，乃厥陰肝經本臟病也，屬寒。嘔而發熱，小柴胡湯主之。此少陽之邪傳厥陰也，屬熱。</p>
<p>嘔家有癰膿者，不可治嘔，膿儘自愈。此厥陰木邪上干胃土也，蓋胃與大腸皆屬陽明，陽邪傳於厥陰，厥陰肝經主血，血為熱迫，腐而為膿，入胃則嘔膿血，入大腸則下膿血，皆厥陰傳陽明也。</p>
<p>傷寒噦而腹滿，視其前後，知何部不利，利之則愈。此陽邪也。</p>
<p>傷寒，大吐，大下之，極虛，復極汗出者，以其人外氣怫鬱，復與之水，以發其汗，因得噦。所以然者，胃中寒冷故也。此以上皆言厥陰嘔噦脈證治法也。</p>
<p>經曰：下利，有微熱而渴，脈弱者，令自愈。下利陰寒之疾，脈大身熱者逆。</p>
<p>下利，脈沉弦者，下重也。脈大者，為未止；脈微弱數者，為欲自止，雖發熱不死。此發熱不為逆者，以脈微弱為邪氣微，而陽得復也。</p>
<p>下利脈數，有微熱汗出，令自愈；設復緊，為未解。數乃陽脈，緊乃陰脈。</p>
<p>下利，手足厥冷，無脈者，灸之。不溫，若脈不還，反微喘者，死。此通脈四逆湯證也。</p>
<p>下利，寸脈反浮數，尺中自澀者，必清膿血。此熱迫血下也。</p>
<p>下利，脈沉而遲，其人面少赤，身有微熱，下利清穀者，必鬱冒汗出而解，病人必微厥，所以然者，其面戴陽，下虛故也。</p>
<p>下利清穀，裡寒外熱，汗出而厥者，通脈四逆湯主之。上證同方。</p>
<p>下利，脈數而渴者，令自愈；設不瘥，必清膿血，以有熱故也。</p>
<p>下利後脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。</p>
<p>傷寒四五日，腹中痛，轉氣下趨少腹者，此欲自利也。</p>
<p>傷寒，厥而心下悸者，宜先治水，當服茯苓甘草湯，卻治其厥。不爾，水漬八胃，必作利也。此以上皆言厥陰下利脈證治法也。</p>

<h2>厥陰傳經欲解可治不可治脈證</h2>
<p>經曰：病者手足厥冷，言我不結胸，小腹滿，按之痛者，此冷結在膀胱關元也。此厥陰寒邪內傳太陽膀胱也。</p>
<p>傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，唾膿血，泄利不止者，為難治，麻黃升麻湯主之。此邪傳厥陰，以下後而傳於太陰之證也。《金匱要略》曰：肺痿之病從何得之？被快藥下利，重亡津液，故得之。</p>
<p>經曰：厥陰中風，脈微浮為欲愈；不浮為未愈。此陰病見陽脈者生也。</p>
<p>厥陰病，渴欲飲水者，少少與之，愈。</p>
<p>經曰：凡得病，反能飲水，此為欲愈之病。</p>
<p>經曰：發熱而厥，七日下利者，為難治。此難治者，以七日經盡，不汗出而解，反下利也。</p>
<p>經曰：傷寒六七日，脈微，手足厥冷，煩躁，灸厥陰，厥不還者，死。</p>
<p>傷寒發熱，下利，厥逆，躁不得臥者，死。</p>
<p>傷寒發熱，下利至甚，厥不止者，死。</p>
<p>傷寒六七日不利，便發熱而利，其人汗出不止者，死，有陰無陽故也。</p>
<p>傷寒，下利日十餘行，脈反實者，死。《難經》曰：脈不應病，病不應脈，是為死病。</p>

<h2>厥陰禁忌不可犯</h2>
<p>經曰：厥陰之為病，消渴，氣上撞心，心中疼熱，飢而不欲食，食則吐蛔，下之，利不止。邪自太陽傳至太陰，則腹滿而嗌乾，未成渴也；邪至少陰者，口燥舌乾而渴，未成消也；至厥陰，成消渴者，熱甚能消水也。飲水多而小便少者，謂之消渴。此證下後吐下不止者，烏梅丸主之。</p>
<p>經曰：諸四逆厥者，不可下之，虛家亦然。厥逆為陰邪所主，不可下，亦不可汗也。</p>
<p>傷寒五六日，不結胸，腹濡，脈虛復厥者，不可下，此為亡血，下之死。《金匱玉函》曰：虛者，十補勿一瀉之。虛者下之，真氣乃絕，此四逆湯證也。</p>
<p>下利清穀，不可攻表，汗出必脹滿。此四逆湯證也，先溫其里，後攻其表，治法也。</p>
<p>經曰：傷寒脈遲，六七日，而反與黃芩湯徹其熱，脈遲為寒，今與黃芩湯復除其熱，腹中應冷，當不能食，今反能食，此名除中，必死。中，胃氣也。邪氣太甚，除去胃氣，胃欲引食自救，故暴能食。四時皆以胃氣為本，胃氣已絕，故死。</p>

<h2>六經傳盡後論解</h2>
<p>經曰：其不兩感於寒，更不傳經，不加異氣者，至七日，太陽病衰，頭痛，少愈也；八日，陽明病衰，身熱少歇也；九日少陽病衰，耳聾，微聞也；十日太陰病衰，腹減如故，則思飲食；十一日少陰病衰，渴止，舌乾，已而退也；十二日厥陰病衰，囊縮，少腹微下，大氣皆去，病人精神爽慧也。此言大略也。傷寒有循經傳者，有越經傳者，有始終只在一經者，有始在陽經，即傳陰經者，有在經即入腑者，入腑不復再傳矣。信如經言，前六日以次而傳，後六日以次而衰，則前後合併，陰陽混雜，脈證難辨，而治法莫知適從也。況太陽病未罷復傳陽明者，謂之並病。陽經與陰經同病者，謂之兩感。但聞三陽並病，未聞並於三陰者。病兩感者，六日死，未聞延至十二日也。夫六經傳變，太陽傳陽明，太陽證罷也；陽明傳少陽，陽明證罷也；陽去入陰，少陽之證亦罷也。傳至太陰，只太陰一經病；傳至少陰，只少陰一經病；傳厥陰，只厥陰一經病。病至厥陰，其經已盡，邪之輕者，調理不乖者，六日之後，邪氣漸衰，正氣漸復，其病愈矣。若邪或甚，或醫之咎，病且不間，將為再經，或在於陽，或在於陰，安可必其如前六日以次再傳耶？經之所序，蓋云以是經得病，亦以是經病終也。數其日者，自當發之日計之，皆得六日也，管見如斯，識者擇之也。</p>
<p>按經中所序六經之證，專主乎足，未及手之六經，遂使有傷寒傳足不傳手之說。殊不知手之三陽接於足之三陽，足之三陰接於手之三陰，上下周流，脈絡通貫。風寒之中，未有不俱受病者。不明乎此，故謂只傳足經不傳手經也。且如太陽病發熱，小腸也；陽明病鼻乾，大腸也；少陽病耳聾，三焦也；太陰病嗌乾，肺也；少陰病舌乾、口燥，心也；厥陰病舌卷、煩渴，心包絡也。以類求之，斯如傷寒之邪，手經亦有之矣。</p>

<h2>六經汗下論解</h2>
<p>經曰：此三經皆受病未入於腑者，可汗而已。三經謂太陽、陽明、少陽也。</p>
<p>《內經》曰：其未滿三日，可汗而已。三陽受病，未入於腑，可汗而已。雖云可汗，自有輕重。太陽自有諸汗法，如陽明多用桂枝解之，少陽則無可汗之理，若欲解表，但用小柴胡加薑桂也。如太陽病，雖十日去，表證不罷者，猶為一日也。太陽有一二日入於腑者，即可下之，謂表證罷入里也，又不可拘以日數。陽明、少陽同法。</p>
<p>經曰：此三陰皆受病，已入於腑，可下而已。三陰，謂太陰、少陰、厥陰也。</p>
<p>《內經》曰：其滿三日，可泄而已。三陰受病已入於腑，可下而已。三陰亦有在經未入腑者，可汗之。如太陰腹痛，稍稍惡寒，既是表證未罷，宜桂枝先解表，然後下之。如又譫語，舌黑，發狂，尚喜厚衣，微惡寒者，即不可下，先當解表，已而下之；有欲作汗，目暝，發狂，身自冷者，又不可汗。汗則有汗之法，王氏曰：證應隨脈升沉而汗下之，不可拘以日數。</p>
<p>蓋六經者，俱有表裡二證。但有表證，即發汗；但有里證，即宜下；或表裡二證俱見，陽證便實者，先解其表，後攻其里。陰證下利者，先救其里，後攻其表。病在半表半裡者，和解之。《內經》曰：謹察陰陽所在而調之，以平為期，此之謂也。</p>

<h2>傷寒瘥後陰陽易勞食復諸證治法</h2>
<p>經曰：傷寒陰陽易之為病，其人身體重，少氣，少腹裡急，或引陰中拘攣，熱上衝胸，頭重不欲舉，眼中生花，膝脛拘急者，燒褌散主之。男子病新瘥，餘邪未盡，而婦人與之交，婦人因得病者，謂之陽易；婦人病新瘥，餘邪未盡，而男子與之交，男子因得病者，謂之陰易。曰易者，以陰陽相感，動其餘邪，毒氣相傳染者。如換易也，亦由其人正氣本虛，故能相易，不然，安得受其邪哉！然女犯男得病，鮮有死者；男犯女得病，治之稍緩則無及矣，與燒褌散以導陰氣，小便得利，陰頭微腫者愈。</p>
<p>凡男子大病新瘥，津液虛耗，精血枯竭，切不可為房事，若強合陰陽，內損真氣，外動邪熱而復病者，此女勞復，非易病也。其證亦與易病相似，急以根猳鼠矢湯調燒褌散救之，以黏汗為效，少緩必舌出而死。故曰：諸勞則可及，御女即死矣。</p>
<p>經曰：大病瘥後，勞復者，枳實梔子豉湯主之；若有宿食者，加大黃如博棋子大，五六枚。梔子豉湯吐劑也。熱聚於上，苦則吐之；熱散於表，苦則發之也。傷寒新瘥，氣血未平，餘熱未盡，早作動勞病者，名曰勞復。謂之勞者，非但強力搖體，持重遠行也，凡言語思慮勞神，梳浴洗頹勞力，勞則生熱而復病也。此勞復者，熱氣浮越，與枳實梔子豉湯以解之；若頭痛，四肢疼者，葛根蔥豉湯。其病熱少愈，而強食之，熱有所藏，因其穀氣留薄，兩陽相合而病者，名曰食復。《內經》曰：病熱少愈，食肉則復，多食則傷。言新瘥後腸胃尚弱，多食則難消化，而復病如初矣。此食復者，胃有宿積，加大黃以下之，舉其數者，戒多用也。</p>
<p>經曰：病人脈已解，而日暮微煩，以病新瘥，人強與谷，脾胃氣尚弱，不能消穀，故令微煩，損谷則愈。病微者，減損穀食；病甚者，尤當損谷。</p>
<p>凡瘥後不因勞、食復，而有不了了證者，責邪之未盡也。</p>
<p>經曰：傷寒瘥之後，更發熱者，小柴胡湯主之。脈浮者以汗解之；脈沉實者，以下解之。脈浮者，熱在表，小柴胡加桂枝湯；脈沉者，熱在裡，小柴胡加芒硝湯。</p>
<p>經曰：大病瘥後，從腰以下有水氣者，牡蠣澤瀉散主之。此因飲水太多，脾胃氣虛，不能制水，溢於下焦而為腫也。《金匱要略》云：腰以下腫，當利小便。</p>
<p>經曰：大病瘥後，喜唾，久不了了者，胃上有寒，當以丸藥溫之，宜理中丸。此汗後胃虛者也。大抵傷寒瘥後，有未盡之證者，皆脾胃氣弱，不能平復也。</p>
<p>經曰：傷寒解後，虛羸少氣，氣逆欲吐者，竹葉石膏湯主之。</p>
<p>又，傷寒瘥後，終不惺惺，常昏沉似失精神，言語錯謬，或無寒熱，有似鬼祟，或朝夕潮熱頰赤，或有寒熱如瘧狀，此乃發汗不盡，餘毒留在心包絡間所致也，宜知母麻黃湯。</p>

<h2>傷寒兩感證論解</h2>
<p>經曰：若兩感於寒者，一日太陽受之，即與少陰俱病，則頭痛口乾，煩滿而渴；二日陽明受之，即與太陰俱病，則腹滿，身熱，不欲食，譫語；三日少陽受之，即與厥陰俱病，則耳聾、囊縮而厥，水漿不入，不知人者，六日死。若三陰三陽、五臟六腑俱受病，則營衛不行，腑臟不通，則死矣。臟腑俱病，表裡俱傷，名為兩感。始得一日頭痛者，太陽也。口乾煩滿而渴者，少陰也。太陽，腑也，其邪自背俞而入；少陰，臟也，其邪自鼻息而入。《內經》曰：天之邪氣，感則害人，五臟鼻氣通於天，故寒邪無形之氣從鼻而入也。此太陽少陰兩感邪氣，則兩證俱見。至於傳經，亦陰陽兩經俱傳也。二日太陽傳於陽明，身熱譫語，陽明也。少陽傳於太陰，腹滿不欲食，太陰也。三日陽明傳於少陽，耳聾者，少陽也。太陰傳於厥陰，囊縮而厥，厥陰也。不言脈者，《素問》已說。大抵陰脈必沉，一日脈當沉而大，二日脈當沉而長，三日脈當沉而弦。仲景不立治法者，《內經》曰：其兩感於寒而病者，必不免於死，以表裡雙傳，妨於汗下，故不立法也。然所稟有虛實，所感有淺深，虛而感之深者，必死；實而感之淺者，猶或可治。《活人書》乃引下利，身疼痛，虛寒救里之例，欲施於煩渴，腹滿，譫語，囊縮熱實之證，以火濟火豈不悖亂耶！至易老乃立大羌活湯，以解初在太陽少陰之證，誠發前人之所未發也。今之醫者，初見是證，多忽之而莫辨，以頭痛煩滿而渴，視為常有之證，用藥輕緩，或誤投湯藥，致令死者多矣。凡傷寒初病不渴，至次日而渴者，傳經入里之邪也。中暍即渴者，以自汗也；下利即渴，嘔吐即渴者，亡津液也。非此兩感，無汗吐利而始病即渴也。經云：兩感治有先後，攻裡發表本自不同，謂太陽少陰先發汗而後下之，陽明太陰表裡雙攻，少陽厥陰先下之而後汗之，雖有此治，然無瘥理。病在太陽、少陰，迅速治療，如易老之法，尤或有生；病在陽明、太陰已難治療；至於少陽、厥陰，雖神醫亦莫能及之矣。</p>

<h2>傷寒成溫暑感異氣變他病脈證治法</h2>
<p>經曰：中而即病者，名曰傷寒。不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。《內經》曰：先夏至日為溫病，後夏至日為暑病。溫暑之病，本傷於寒而得之。治溫暑不可發汗，過時而發，不在表也。此下言溫暑證。</p>
<p>經曰：太陽病，發熱而渴，不惡寒者，為溫病。此以脈浮不屬陽明也，又發於春。</p>
<p>經曰：太陽中熱者，暍是也，其人汗出惡寒，身熱而渴。以脈虛又在夏。</p>
<p>經曰：若更感異氣，變為他病者，當依舊壞病證而治之。先本傷寒病，熱未解又感其時別異乖戾之氣，兩邪相合，變為他病。既非傳經之證，又非入腑之證，當與發汗吐下後壞病同論。觀其時令脈證，知犯何氣，隨證治之也。此蓋冬時即病之傷寒，當論異氣，若春夏則為溫暑，不可謂之傷寒矣。</p>
<p>經曰：若脈陰陽俱盛，重感於寒者，變為溫瘧。《難經》曰：傷寒之脈，陰陽俱盛而緊澀，前病熱未已，再感於寒，寒熱相搏，變為溫瘧，其證寒熱往來，責在少陽，小柴胡湯主之。此下皆言變病也。</p>
<p>經曰：陽脈浮滑，陰脈濡弱者，更遇於風，變為風溫。《難經》曰：中風之脈，陽浮而滑，陰濡而弱，前熱未已，又感於風，風來乘熱，變為風溫，其證四肢不收，頭疼身熱，常自汗出，責在足厥陰本，手少陰火，宜萎蕤湯發汗。復身灼熱，知母葛根湯；渴者，瓜蔞根湯；誤汗風溫，防己黃耆湯。</p>
<p>若發汗已，身灼熱者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲；若被火者，微發黃色，劇則如驚癇，時瘈瘲，若火熏之。一逆尚引日，再逆促命期。此太陽病汗後而變風溫之證也。</p>
<p>經曰：陽脈洪數，陰脈實大者，遇溫熱變為溫毒。溫毒為病，最重也。此前熱未已，又感溫熱，兩熱相合，變為溫毒，專責乎少陰心火，表裡俱熱，為病最重，宜玄參升麻湯。</p>
<p>經曰：陽脈濡弱，陰脈弦緊者，更遇溫氣，變為溫疫。以此各傷於寒，發為溫病，脈之變證，方治如說。此前熱未已，又感溫氣，溫熱相合，變為溫疫。</p>
<p>經曰：從立春節後，其中無暴大寒，又不水雪，而有人壯熱為病者，此屬春時陽氣發於冬時，伏寒變為溫病。此為溫病，羌活湯。</p>

<h2>傷寒冬溫伏氣時行疫病證論</h2>
<p>經曰：其冬有非節之暖者，名曰冬溫。冬溫之毒與傷寒大異。冬溫復有先後，更相重沓，亦有輕重，為治不同。此時行之病。</p>
<p>經曰：凡時行者，春時應暖而復大寒，夏時應大熱而反大涼，秋時應涼而反大熱，冬時應寒而反大溫，此非其時而有其氣，是以一歲之中，長幼之病多相似者，此則時行之氣也。四時氣候不正為病，謂之時行之氣，此天行時氣病也，與傷寒、溫暑、寒疫之證不同。</p>
<p>經曰：從春分以後至秋分節前，天有暴寒者，皆為時行寒疫也。三月、四月或有暴寒，其時陽氣尚弱，為寒所折，病發尚輕；五月、六月陽氣已盛，為寒所折，病熱則重；七月、八月陽氣已衰，為寒所折，病熱亦微。其病與溫及暑病相似，但治有殊耳。此言四時寒疫之由也。以上溫病，時行寒疫，不言脈證者，《難經》曰：各隨其經所在而取之是也。</p>
<p>經曰：伏氣之病，以意候之，冬月之內，欲有伏氣，假令舊有伏氣，當須脈之。若脈微弱者，常喉中痛似傷，非喉痹也。病人云：實咽中痛，雖爾，今復欲下利。此隨經所在而取之法也。冬時感寒，伏藏於經中，不即發者，謂之伏氣。伏氣欲發，當須脈之，審在何經。假如脈微弱者，知邪在少陰也，余仿此推之。</p>

<h2>痙濕暍脈證治法</h2>
<p>經曰：傷寒所致太陽痙、濕、暍三種，宜應別論，以為與傷寒相似，故此見之。痙病有二：剛痙為陽，與太陽傷寒相似；柔痙為陰，與太陽中風相似。其不同者，脈沉而細，獨頭面搖，卒口噤，背反張也。中濕與太陽傷寒相似，不同者，脈沉而細，頭汗面黃，能飲食也。中暍與太陽中風相似，不同者，脈微弱遲細，初病即渴也。三種脈亦相似而證不同：暍則自汗而渴，濕則不渴身疼；痙則身不疼也。</p>
<p>經曰：太陽病，發熱無汗，反惡寒者，名曰剛痙。此太陽中風重感於寒也。</p>
<p>太陽病，發熱汗出，不惡寒者，名曰柔痙。此太陽中風重感於濕也。太陽中風，重感寒濕，乃變為痙。無汗曰剛痙，葛根麻黃湯；有汗曰柔痙，桂枝加葛根湯。口噤咬牙者，大承氣湯。</p>
<p>太陽病，發熱，脈沉而細者，名曰痙。此言痙脈也。若脈浮大為中風、傷寒矣。</p>
<p>病身熱足寒，頸項強急，惡寒，時頭熱面赤，目脈赤，獨頭面搖，卒口噤，背反張者，痙也。此言痙證也。風寒濕邪客於太陽之經，則筋脈拘縮而成痙也。身熱足寒者，寒濕傷下也；頭熱面赤，目脈赤，風傷於上也。此以上皆言痙證也。</p>
<p>經曰：太陽病，關節疼痛而煩，脈沉而細者，濕痹之候，其人小便不利，大便反快，但當利其小便。此言濕痹之證也。痹者，痛也。《金匱要略》曰：霧傷皮腠，濕流關節。濕則關節疼，以五苓散利其小便。古云：治濕之病，不利小便，則非其治也。</p>
<p>濕家之為病，一身盡疼，發熱，身色如似熏黃。此濕邪在經，治在脾也。身黃如橘子色者，此陽明瘀熱也，梔子柏皮湯；身黃如似熏黃者，此太陰濕在經也，五苓散加茵陳湯。</p>
<p>濕家，其人但頭汗出，背強，欲得被複向火。若下之早，則噦，胸滿，小便不利，舌上如苔者，以丹田有熱，胸中有寒，渴欲得水而不能飲，則口燥煩也。此寒濕相搏之證也，宜發汗。</p>
<p>濕家下之，額上汗出，微喘，小便利者，死；若下利不止者，亦死。濕家發汗則愈。《金匱要略》曰：濕家身煩疼，可與麻黃加朮四兩，發其汗為宜；若妄下，則大逆。</p>
<p>濕家病身上疼痛發熱，面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，納藥鼻中則愈。</p>
<p>此有濕氣淺者也，成註明白，宜細末瓜蒂，含水，搐少許鼻中。</p>
<p>問曰：風濕相搏，一身盡疼痛，法當汗出而解，值天陰雨不止，醫云此可發汗。汗之病不愈者，何也？答曰：發其汗，汗大出者，但風氣去，濕氣在，是故不愈也。若治風濕相搏者，發其汗，但微微似欲汗出者，風濕俱去是也。此風濕相搏之治法也。</p>
<p>病者一身盡疼，發熱，日晡所劇者，此名風濕。此病於汗出當風，或久傷取冷所致也。此風濕相搏之證也。汗出當風而得之者，此先受濕而後感風；久傷取冷得之者，此先傷風而後中濕，可與麻黃杏仁薏苡仁甘草湯治之。</p>
<p>風濕相搏，骨節煩疼，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者，甘草附子湯主之。風則傷衛，濕流關節，風濕相搏，兩邪亂經，故為是證也。此與下證皆太陽篇中取附於此。</p>
<p>傷寒八九日，風濕相搏，身體疼煩，不能自轉側，不嘔，不渴，脈浮虛而澀者，桂枝附子湯主之；若其人大便硬，小便自利者，去桂枝加白朮湯主之。此風濕在經之證也。浮虛，風脈也，澀者，寒濕脈也。叔和曰：陽脈濡弱，陰脈弦緊，更遇溫氣變為濕溫。嘗傷於溫，因而中暑，濕熱相搏，發而為病。其證兩脛逆冷，胸腹滿，目痛，壯熱，妄言，自汗，名曰濕溫，治在太陰，不可發汗。汗出則不能言，耳聾，不知痛所在，身青而色變，名曰重暍，如此者，醫殺之也。濕溫之證，數進白虎，則脛自溫而瘥。此證與前風溫、溫瘧、溫毒四證，即叔和所謂同病異名，同脈異經者也。蓋風溫與中風脈同，溫瘧與傷寒脈同，濕溫與中濕脈同，溫毒與熱病脈同，唯證候異而用藥有殊耳，誤作傷寒發汗者，十無一生。此以上皆濕證也。</p>
<p>經曰：太陽中暍者，身熱疼腫，而脈微弱，此亦夏月傷冷水，水行皮中所致也。此本時所得之病，非冬傷於寒至夏變為暑之病也。乃夏時暑熱，以水灌洗而得之，一物瓜蒂散主之；若暑病，則用河間之法而治之。</p>
<p>太陽中暍者，發熱惡寒，身重而疼痛，其脈弦細芤遲。小便已，洒洒然毛聳，手足逆冷，小有勞身即熱，口開，前板齒燥。若發汗，則惡寒甚；加溫針則發熱甚；數下之，則淋甚。此證表裡俱受熱而病也，宜白虎湯。大抵暑熱之病不可發汗，汗之為大逆，下之其逆小也。此以上皆言暍證也。</p>

<h2>霍亂脈證治法</h2>
<p>問曰：病有霍亂者何？答曰：嘔吐而利，名曰霍亂。此釋霍亂之名也。三焦者，水穀之道路，邪在上焦則吐而不利，邪在下焦則利而不吐，邪在中焦則既吐且利，以飲食不節，寒熱不調，清濁相干，陰陽乖隔，遂成霍亂。輕者只曰吐利，重者揮霍撩亂，名曰霍亂。</p>
<p>問曰：病發熱頭痛，身疼惡寒，吐利者，此屬何病？答曰：此名霍亂。自吐又利，且復更發熱也。此言霍亂之證也。</p>
<p>經曰：霍亂，頭痛發熱，身疼痛，熱多欲飲水者，五苓散主之；寒多不用水者，理中丸主之。此霍亂兼風寒之證治也。中焦為陰陽相半之分，中焦不治，陰陽乖隔，必有偏之者。偏陽則多熱，渴欲飲水也；偏陰則多寒，不用水也，理中丸有加減法。</p>
<p>吐利者而身痛不休者，當消息和解其外，宜桂枝湯小和之。承上證言，分寒熱治後，吐利得止，身痛不休者，此里和表未解也，必汗出而解。</p>
<p>經曰：惡寒脈微而複利，利止，亡血也，四逆加人參湯主之。此以下證專屬於寒者也。利止，非愈，以津液內竭，無所利，故止也，故云亡血，以四逆湯溫經助陽，加人參生津液，益血。</p>
<p>吐利汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之。</p>
<p>既吐且利，小便複利，而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。此吐利危惡之候也。脈微為亡陽，內寒下利清穀，為純陰，若無外熱，難治。</p>
<p>吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者，通脈四逆加豬膽汁湯主之。此陽氣大虛，陰氣獨盛，亦危惡之證也。若純與陽藥，恐陰為格拒，或嘔，或躁，不得復入也，與通脈四逆湯加豬膽汁，膽苦入心而通脈，膽寒補肝而和陰，引置陽藥不為格拒，從治之法也。</p>
<p>經曰：傷寒，其脈微澀者，本是霍亂，今是傷寒，卻四五日，至陰經上，轉入陰必利，本嘔下利者，不可治也。欲似大便，而反失氣，仍不利者，屬陽明也，便必硬，十三日愈，所以然者，經盡故也。凡霍亂吐利止，傷寒之邪未已，還是傷寒。若五日陽去入陰之時再吐利者，謂之重虛，不可治也。其大便硬者，為屬陽明，經盡則愈者，以陰陽之氣和，大邪之氣去也。下利後，當便硬，硬則能食者愈。今反不能食，到後經中，頗能食，復過一經能食，過之一日當愈，不愈者，不屬陽明也。此承上文而言，經盡則愈者，以能食也。若能食病復不愈者，此暴熱使之能食，非陽明氣和也。</p>
<p>經曰：吐利發汗，脈平，小煩者，以新虛不勝穀氣故也。損谷則愈。</p>

<h2>傷寒將理法並諸死脈論</h2>
<p>經曰：凡傷寒之病，多從風寒得之。始，表中風寒，入里則不消矣。未有溫復而當不消散者，不在證治，擬欲攻之，猶當先解表，乃可下之。若表已解而內不消，非大滿猶生寒熱，則病不除。若表已解而內不消，大滿大實堅，有燥屎，自可除下之，雖四五日，不能為禍也。若不宜下而使攻之，內虛熱入，協熱遂利，煩躁諸變不可勝數，輕者困篤，重者必死矣。</p>
<p>經曰：陰盛陽虛，汗之則死，下之則愈；陽虛陰盛，汗之則愈，下之則死。桂枝下咽，陽盛則斃；承氣入胃，陰盛以亡。</p>
<p>經曰：凡發汗，溫服湯藥，其方雖言日三服，若病劇不解，當促其間，可半日中盡三服。若與病相阻，即便有所覺病重者，一日一夜，當晬時觀之。如服一劑，病證猶在，故當復作本湯服之，至有不肯汗出，服三劑乃解。若汗不出者，死病也。</p>
<p>經曰：凡服下藥，用湯勝丸，中病即止，不必盡劑也。</p>
<p>經曰：凡得時氣病，至五六日，而渴欲飲水，飲不能多，不當與也，何者？以腹中熱尚少，不能消之，便更與人作病也。至七八日大渴欲飲水者，猶當依證與之。與之常令不足，勿極意也，言能飲一斗，與五升。若飲而腹滿，小便不利，若喘，若噦，不可與之，忽然大汗出是為自愈也。</p>
<p>凡得病反能飲水，此為愈之病。其不曉病者，但聞病飲水自愈，小渴者，乃強與之，因成其禍，不可複數。</p>
<p>經曰：凡得病厥，脈動數，服湯藥，更遲，脈浮大減小，初躁後靜，此皆愈證也。</p>
<p>經曰：凡傷於寒，則為病熱，熱雖盛，不死；若兩感於寒而病者，必死。</p>
<p>經曰：脈陰陽俱盛，大汗出不解者，死。此名陰陽交也。脈陰陽俱虛，熱不止者，死。凡脈至乍疏乍數者死。此革脈也。脈至如轉索者，其日死。譫言妄語，身微熱，脈浮大，手足溫者生。逆冷，脈沉細者，不過一日死。</p>
<p>經曰：脈浮而洪，身汗如油，喘而不休，水漿不入，體形不仁，乍靜乍亂，此為命絕也。</p>
