<header data-type="book">
<h1>裴子言醫</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>裴一中</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1644">公元1644年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2968">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>毛序</h1>
<p>嘗讀《物理論》，醫者非仁愛不可托，非聰明理達不可任，非廉潔淳良不可信，然則操歧黃之術者，非徒識多少湯頭，認幾許藥味，務為名高以自炫也。裴子兆期六技四家，貫幽達微，九竅五臟豁然，參兩處剖不失分銖，匪第十日有瘳，著臨朝，探玄奧，庶幾九折為良。古所稱可托、可任、可信，兆期殆參同而隱括之，世之服其藥者，不可不讀其書，而能讀其書者，龍勝飲其藥，奚待飲上池之水，藉終歲之功，始稱名醫哉？雖然有名而良者，有無名而良者，醫原不在名也。昔扁鵲為魯公、扈梢、喬嬰治疾，一志強而氣弱，一志弱而氣強，剖身探心易置之而彌善，微乎！微乎！此非聰明理達、廉潔淳良，本諸仁相，何易語此，兆期將安所取法乎？武原東濱大海，海外三神山在焉，應多生奇人以壽世，他日功成十全，久視飛仙，變六一於金液，改三七於銀丸，兆期之書且與中經、內籍並觀矣。楚競陵毛一駿題</p>

<h1>趙序</h1>
<p>吾快讀裴子之書，而異之也，學不貫古今，識不通天人，才不近仙，心不近佛者，寧耕田織布取衣食耳，斷不可作醫以誤世。醫固神聖之業，非後世讀書未成，生計未就，擇術而居之具也，是必慧有夙因，念有專刁，窮致天人之理，精思竭慮於古今之書，而後可言醫。每見庸工治病，十失其五，良工治病，亦十失其一。由一以循累之，誤亦未忍言也。即能窮致天人之理，精思竭慮古今之書，而病伏於內，醫測於外，病以奇伏，醫以意測，幸而得，則竟得矣，或偶不得，則不為二豎所笑者無之，此扁鵲所以需上池之水，而思邈所以藉龍宮之方也。夫上池之水不易得，龍宮之方不再傳，則惟窮理讀書，以學識參造化之權而後可。若裴子者，斯其人矣！若裴子者，固數百年所未出之人也。古今之有學識者，當首推張戴人及劉河間，能與病血戰而不奉表稱臣於病，第未免過甚耳。其餘諸家立法非不善，實為鄉愿逋逃之藪。故謂醫有成心，不可也，謂醫有成理，尤不可也。無成理而有或效，醫信難言哉。裴子之言曰：以生死易視者易之，固數百年所未出之言也。獨謂裴子學貫今古，識通天人，才則仙而心則佛，信也非譽矣。誦其言，皆軒歧所欲言而深悔未及言，亦諸大家所欲言而格格不能言，豈帝憫枉札之禍，助其神智而授之使言歟，推此而失者可得，難者可易，而謂醫無成理，尤不可也。余以多病學醫，日為醫而醫日下，初似可遊刃，跡皆茫然，抑鬱焦思，徒廢寢食，行將耕田織布，棄醫而去，以求無誤於世，今秋得晤個亭先生，極口兆期裴子學識，且示以所著書，余嚮慕裴子名而不圖其貫通至此也。一再讀之，豁乎快有所獲，裴子教我矣，何時共晨夕而相諮晰，究竟此神聖之業哉？</p>
<p><u>歲在丁酉中秋日友弟趙善鳴聲伯父題</u></p>
<p>（友弟陳龍運階尺父書）</p>

<h1>自序</h1>
<p>或問醫易乎？裴子曰：以生死易視者易之，若余則未敢自信。昔先君子以醫鳴世，余見其治輒響應，亦嘗私易之而不知人之有生死，非不知人之有生死，不知醫藥之於人有生與死耳。先君子沒而余世其業，乃較讎歧黃靈素與諸大家遺書，凡七更年，數四過，始瞿然有覺，而知醫藥之於人有生又有死，自謂於斯有得，及臨證，則疑焉罔決者猶十七。治上矣，又攻其下；療彼矣，更顧其此。色既呈而脈難合，診或得而證不形；測以寒，寒未除而熱已起，擬以熱，熱未去而寒復生。欲祛寒，則懼熱不前；欲救熱，則思寒思止。大實似羸，補之慮其實實；至虛似盛，瀉之犯其虛虛。眩惑葸縮十有年，則又知醫藥之於人，死者多而生者少矣。以是夙夜彌勤，眠食盡損，研窮羲《易》博採空玄，舉天地間氣運物理，古今治亂興衰，吉凶進退，及傳記百家之書，有可與斯道推類而長者，參稽亦已逮半。更訪前哲如張子綱，神醫也，兒以承氣而誤已之子。張仲景醫聖也，猶有急下、急溫、半劑、少與，及微和胃氣之戒慎。丘子得許學士而生全，範云因武帝七錫之命而夭折，所爭僅汗遲與汗早，毫釐疑似輕重疾徐之間，死生易如反掌，誠非細故，究其極，則人之所以病，而病之所以治，又不在形骸、藥石、先聖賢陳跡上探求者，敢謂醫學無難哉？卒知醫藥之於人，幾有死而無生矣。囪此纖微倍凜，皮毛疥疹，視若膏肓，甘草、陳皮畏如鴆毒，雖或群起而爭，曰《易》吾勿信也。嗟嗟！余之漁獵醫林，以醞釀乎丹府，有年矣，不可謂草草也，夫何歷一境，轉深一境之難乎？今老矣，或云優矣，乃益茫若望洋，莫測其際，仍然未學時，不知醫藥之可以生死人也已。語云：無學者不可與言醫，有學者亦未可與言醫。厥有旨哉！雖然世固有不經研索，夕拮据而旦施行者矣，此聰敏過人，是天授非人力，謂之易也，亦宜。時崇禎十七年，歲在甲申春莫復庵居士裴一中兆期父序</p>

<h1>陳序</h1>
<p>今江浙之稱世醫者，必宗裴氏，而裴氏之克紹箕裘，卓絕當代者，惟健飛一人而已。健飛世居禾郡之武原邑，其尊公兆期先生，與余執手交，窮天人之秘，闡靈蘭之奧，數十年間，孜孜博濟躋斯世於仁壽之域，全活者以萬計。凡黃童白叟、綠緩青衿，無不交口而頌先生之德。今健飛業洪繼述，道尚淵源，四方仰冀一匕者，或金莖仙露然，是殆有神授，非可測識，誰謂上池之水，獨擅譽於當年，龍官之方，不再見於今日耶！舉世駭其靈奇，咸目裴子為天縱。余曰：從古無不學問之神仙，裴子天資敏悟、學力沉酣，凡三墳五典、五運六氣、金匱玉函之精，丹臺瓊冊之密，悉廣稽博覽、融洽淹通，雖隔垣之視不足云也，諸如六淫外侵，七情內作，表裡虛實之宜補瀉宣通之法，上下千古，確有定見，至於先天資始之源，後天生物之本，乙癸同源之理，變化疑似之微，鮮不洞燭，人但知其能拯九死之症，而不知其曾讀未見之書也。今之醫師，知以寒治熱，以熱治寒，以通治塞，以塞治通而已矣。而健飛獨明於塞因塞用，通因通用，寒因熱用，熱因寒用，用熱遠寒，用寒遠寒，各有妙諦，更深究夫窮源探本之論，謂見痰休治痰，見血休治血，無汗不發汗，有熱莫攻熱，喘生毋耗氣，精遺勿澀泄，種種人所難知，健飛澄心味道，頗得箇中之趣，是以疏方用劑，絕不類時師而其得心應手，斡旋造化，應若桴鼓，真猶龍之老氏，豈可憶度而管窺乎！辛亥之夏，余同善長孫法師禱雨，吳山，甘霖大霈，因訪健飛於育嬰堂，堂之主人乃余友陸宗黃也，誠心保赤，樂善不倦，向與兆期為比鄰至交，出其所鐫《言醫》四卷，言言玉髓，字字金篦，如唐之巫咸，周之長桑，秦之和緩，宋之文摯，鄭之扁鵲，漢之陽慶、倉公，更如長沙、河間、東垣、丹溪、立齋、肯堂諸大家，各有著述，無不表表，今誦兆期之篇，博綜反約，採珠璣於淵藪，徹性命之精微，挈領朝宗，臻於盡善，立德立言，上有功於千聖，為後學津梁，真金石不磨，裴子健飛上承父志，悟其神理，播其仁術，凡刀圭之入口者，靡不頃刻立起，寧止徒讀父書，實可見之經濟，宜乎其名不脛而馳，遠邇響慕，爭赴無虛日也，余於裴氏喬梓，為通家世講，素交最久，聞見最真，不敢浪作浮譽，故直泐數言，以棄其首。</p>
<p><u>通家眷弟陳子遵道升氏題</u></p>

<h1>凡則</h1>
<p>醫之道，難言矣。余何人斯，敢僭言也？唯是醫教衰，而醫日流於弊。古聖賢仁壽之傅幾歸淪沒，遂不自禁其婆心之熱，率蠡見而僭言之也，知我罪我，其在茲乎！</p>
<p>是帙，余之隨筆也。偶有得，隨筆而載之，雖不及別門序類，一一詳言，而其理則無一不貫，蓋醫者，意也。言不足以盡，觸此便可通彼耳，善讀書者，當不作殘編斷簡觀。</p>
<p>帙中一畫，小心，治虛，傷藥，傷飲，久病後，金匱丸，大補脾丸，不執本草主治諸篇，皆言古人所未言者，命門，二火，陰證，用權，補中湯，陰陽氣血，流濕潤燥，柏齋水火辨諸篇，皆言古人所已言而未得其旨者、勿藥、王霸、產後、胎前，執流守主，內傷元氣，脾胃統論，好古、節齋人參論諸篇，皆言古人言不克竟與邪說亂真，而未經補救者。余則但言常變時宜，平易近情道理，以挽習俗之非。</p>
<p>醫書，生死書也，最忌迂而不切，晦而不明，以滋學者之惑，此余所不得已而作此既明且切之言，以便學者觸眼即豁，不致低徊沉索也。雖然言非徒言，恐又不可因其觸眼即豁，而不低徊沉索也。</p>
<p>人身所賴唯脾胃，脾胃所賴唯元氣，元氣非脾胃不能運行，脾胃非元氣不能生化，此形上形下不得相離之至理，以故本帙中無一字一句不是照顧脾胃、元氣之言，是在閱者沉心理會始見，但其間微理而費，不克盡余所欲言，心竊未映。</p>
<p>近來言醫者，類重方藥而輕調攝，若余則重調攝而輕方藥。蓋方藥止優於祛病，而不優於養生。調攝則不止優於養生，而更優於祛病，在昔歧黃靈素，醫學祖也。千萬語言，只是教人節飲食，慎起居，少嗜欲，適寒溫，勿失養生之道而已，曷嘗有所謂方藥哉！深於醫者，以為然否？</p>
<p>帙中所載治案，有虛反攻，而實反補者；有寒治寒，而熱治熱者；有取彼得此，而取此得彼者；有病同藥異，而病異藥同者；有處變視之以常，而處常視之以變者。是皆因其病，用其法，非故設不經之奇幟，以炫己而欺人也。第邇來諱疾者恆眾，故只就病載病，不表姓名，古來明醫家鮮有不知太極之理者。知有太極，則知人有所以生而非形矣，形有所以死而非病矣，病有所以治而非藥石矣。余雖不敏，早歲時已參其旨，嗣後攻苦日深，漸臻悟境，便不為形下之學所拘，故此書雖不言言及太極，而太極之理無勿寓。噫！此固造化根也，眾妙門也，不止醫學所從出也。</p>
<p>是峽謬辱楚中毛槐眉，吳門金聖嘆，云間蔣斧山，四明張振仲，武林趙聲伯，禾郡朱子若，同邑鍾孺西、胡孝轅、陳則梁諸先生，各錫瑤序並其首，是無異蠅之附驥，不難不千里行矣，第皆獎借過實，大非涼德所堪，用是懷慚，不敢遽梓，僅自序其略焉耳。</p>

<h1>卷之一</h1>
<p>人之生，有所以生而非形也（所以生三字是此書一大宗旨）。耳、目、鼻、舌、手足與臟腑、經絡、骨肉皮毛，皆形也，非生也（從形說到生，從生說到所以生，絕無影響非坐破蒲團者不能。）。其各有所司，以供不窮之用者，亦生也，而非所以生。所以生者何？曰：命。命果何物？謂有物焉而無形，謂無形焉，而又非無物也。命之門安在？曰腎有二，生於脊骨十四椎下兩旁，後天之有形也，先天之無形，則寓乎兩腎之間，而為後天有形之用。後天有形者，兩腎也（人之兩腎其猶果殼，諸實之兩歧乎，歧端無中生出萌芽，即先天無形之妙。）先天無形者，水火也，水與火互藏其間，而為命之門也。曰水得火而涸，火得水而熄，勢不兩立，安能互藏？曰後天之水火有形，而先天者無形，有形者相剋，而無形者相生。試思太極未分，原只一氣，自一氣而分為水火，火即水所從出，水即火所由生，二者交合變化，雖二體而實為一體，雖二用而共為一用。故造化於此不息，鬼神於此不遺也。人身一太極也，當父母媾精，未有形象，先結河車，中間透起一莖，莖端一點，如蓮蕊初生，而水火二氣已交合變化於其中，而為生身立命之根矣，由此二點兩旁生出兩腎，形如豇豆，相併而交，函於水火之外，以象圖之不宛然一太極乎。次而生心、生肺、生脾肝與百骸九竅而形備，形既備則氣之溫者，即火也，溫而不至熱，火中有水也；氣之涼者，即水也，涼而不至冷，水中有火也。水中有火，其精不竭，火中有水，其明不熄。因是而耳之聰，目之明，鼻舌之臭味，手足之持行，水穀之蒸為血液，而充臟腑，榮經絡，灌溉乎骨肉皮毛，將生生於不窮。苟水自水，火自火，陰獨陽孤，而化源息矣，安望其能聰，能明，能臭味，能持行。而臟腑官骸不盡屬死灰稿木也哉？故曰人之生有所以生，而非形也。究言之，命亦名耳。天地之秘，聖人無從指（聖人所以罕言命也）其實，不得已而強名之耳。昔伏羲氏，仰觀俯察，近取遠求，不能多語，只信手一畫。一畫者，命之源也，亦即水火之源也。先乎天而無始，後乎天而無終者也。至謂左腎為腎，右腎為命門，又謂男子以右腎為命門，女子以左腎為命門，甚謂兩腎總號為命門，噫！命之門固在腎，夫腎豈即命邪？苟能於有形之中，求無形之意，則思過半矣。</p>
<p>自天地而人物，莫不從伏羲所演之一畫中流出。其一畫以前，果何景象？曰一畫前之景象，即吾心之景象也（識吾心景象者幾何人？），識吾心之景象則一面以前可反觀而默識矣。昔伏羲慧徹天根欲悉吾心之妙，無可擬其端倪，不得不借此以啟後人，謂其有景象不可也，謂其無景象亦不可也。是故聖賢遞相垂教，各因意立名而無實（無可名，不得不因意立名），如曰乾、曰元、曰天、曰命、曰善、曰仁、曰理與道、曰不二與空與無，及精一執中而一貫而明德，而性而誠，以至浩然之氣，玄牝之門，天地之始，無極而太極，皆虛名也，無一而非（千聖相傳不二法門）描寫一畫前之景象也，亦無一而非描寫吾心之景象也，且觀天地間時之行、物之生，其所以行，所以生者何？鳶之飛，魚之躍，其所以飛，所以躍者何？至於人之視聽言動，喜怒哀樂，其所以視，所以聽，所以言動，而喜怒哀樂者何？蓋有物焉，先乎無形、無生、無飛、無躍、無視聽、無言動、無喜怒哀樂，而為有行、有生、有飛、有躍、有視聽、有言動、有喜怒哀樂之主耳。知此，則時行非時行，物生非物生，鳶飛非鳶飛，魚躍非魚躍，而視聽言動、喜怒哀樂，亦非人之所能矣，又何疑乎一畫前之景象乎？是在善悟者神領之，言語形容不得也（形容盡矣，還說形容不得），須知伏羲自無畫而化有畫，自一畫而化千畫，究也，千畫還歸一畫，一畫還歸無畫也已。</p>
<p>《素問》謂七節之傍，中有小心，從之有福，逆之有咎，正與周子太極圖說無異。但周子統天地人物言，此則專指人身言耳。其曰七節者，脊骨之自下數上第七節也，傍有兩腎，而中間則有一小心，小心者，即太極圖中之白圈也，潛藏於兩腎而為一身之太極也。以其無可睹，無可聞，互微互隱，名之曰小，非真小也。從之有福，逆之有咎，即君子修之吉，而小人悖之凶也。釋者不察，而以上焦之包絡為小心，則失之遠矣。曰心在胸中，而子獨言在腎，顛倒拂常，則曷以解？曰：在胸中者，後天有形之心也，其感通不窮之用，雖從此出，而其以為感通不窮之用者，則寂然不動，而藏於兩腎之中也。夫寂然不動而藏於兩腎之中，先天無形之心也，無形者，必托於有形而後見，而有形者，又必賴無形而始靈。智者當悟無於有，不可因有而遂溺於有也。世之言心者，唯知有形而已矣，間有以為無形者，亦唯知起滅乎胸中而已矣，烏知夫兩腎中間，是其棲息之宮府也邪？曰心既無形，則無可在，而亦無不可在矣，安見其在下而不在上也？曰獨不見天地之心乎？冬至子之半，一陽復於至陰之下，其復於至陰之下者，即天地之心也。象之所謂雷，在地中也，與吾心寂然不動時，無以異也。至其云蒸雨施，以發交通之妙，則天地之心又恍乎其在上矣。象之所謂雷，在天上也，與吾心感而遂通時無以異也。以天地之心，證吾人之心，則吾人之心在下而不在上也明甚。此余所以揭太極之微，而直指其歸元之路，冀世之學者，皆識本來之所在而求之，庶性有所見，德有所明，道有所貫，而精神魂魄意，亦有所寧一而深潛，大則可以臻賢詣聖，小則可以卻病延年耳。豈故為怪誕不經之說，而惑世以欺人哉！惜終身繇之而不知者眾，與語之而不入也。</p>
<p>問：朱丹溪、何柏齋兩先生，君相二火論，孰是而孰非歟？曰：皆似是而非者也。火乃造化之元陽，一而已矣，曷君相之可分哉？其所以有君相之分者，即一火之體用而分之也，豈既有君火而又有所謂相火邪！夫君火者，即相火之本體也，潛藏於天地之間，雖具熱性而不發，實為造化之根蒂，猶王者，深居九重，無為而治，故君名焉（君相義透甚）。相火者，即君火之發用也，流行於天地之間，以布生生之化於不窮者也，正與宰相奉君行命同其義，故相名焉，非有二也。丹溪、柏齋兩先生之論則不然。丹溪曰：陽動而變，而生水火木金土，夫曰陽者，君火也，其動而變，即相火也。凡五行之物，皆所繇生也，先生所謂天非此火不能生物，人非此火不能有生者，正此義也。大哉言乎，永開聾聵，二火之旨，亦既詳且盡，何復以君火為人火，以相火為龍火、雷火邪？龍火雷火即相火流行之徵兆，乃生木之火也；人火，即人間烹飪之火，乃木生之火也，豈相火且生木，而君火反為木所生邪！相火既為生木之火，則不出於木明矣，而下文又有出於木之說，其謂之何？柏齋先生欲救其弊，以君相合一為辨，功其溥矣！惜乎以天氣、人氣明白顯現為熱之相火，反名君火，以藏而不發動之君火，反名相火，不已失乎！且曰在天，藏於木之中，在人藏於精血之中。在人藏於精血之中則似矣，在天藏於木之中，將安解乎？豈造化之元陽，僅藏於一木之中乎？是欲救其弊，而適以踵其弊矣！予逆推之，則知兩先生之誤，皆執《素問·五運六氣》之中有君相二火耳！不知君相二火雖列於五運六氣，而五運六氣之推遷，實爵二火宰制於太虛之中，乃能始風木，而終寒水也。譬猶乾卦之中列於眾卦之中，而眾卦未有不統乎乾元之陽而能帝乎震，齊乎巽，以致勞乎坎，而成言乎民者也。是則五運即火之五運，六氣即火之六氣，而兩先生不求其旨，唯知一風木，二君火，三相火之說，遂謂二火皆生於木，所以遺晦於今而未明耳（數十年晦蝕之旨自此炳如日星）。須知君火者，寂然不動之火也，未發也，誠也。相火者，感而遂通之火也，已發也，幾也。故曰君火即相火之本體，而相火即君火之發用，非有二也。至五行之火，是其所從出者也。烏得以君相名之，管見如斯，更望政於後之君子。</p>
<p>陽虛、氣虛、陰虛、血虛，自各有別，不思者以為氣屬陽，氣虛便是陽虛，血屬陰，血虛便是陰虛，噫！何謬哉！夫陰陽謂水火，潛藏於兩腎，而為人身之先天。血氣謂營衛，滋生於脾胃，而為人身之後天。故血虛者，營虛也，四物湯主之；氣虛者，衛虛也，四君子湯主之；陰虛者，水虛也，治宜補血藥中加知、柏等味，及補陰丸之類；陽虛者，火虛也，治宜補氣藥中，加桂、附等味，及理中湯之類。其有別也，蓋如此。或曰：以子言之，則古人謂氣屬陽，血屬陰之義何居？余曰：屬猶根也（以根字訓屬字妙），言氣根於陽，血根於陰也，血根於陰，則血不即陰，而出於陰，所謂陰中之陽是也；氣根於陽，則氣不即陽，而出於陽，所謂陽中之陰是也。是則血虛為陰中之陽虛，陰虛之微者也，陰虛為陰中之陰虛，血虛之甚者也。氣虛為陽中之陰虛，陽虛之微者也，陽虛為陽中之陽虛，氣虛之甚者也。故東垣先生於補中益氣湯有曰：氣虛之甚者加附子，以行參耆之功；虞天民曰：血脫補氣，血虛者，須參耆補之，若真陰虛極，而為勞瘵者，參、耆不可驟用，繇此觀之，得非有氣虛，又有陽虛，有血虛，又有陰虛之別乎！夫何謾不加察，而執四君子湯以語人曰：此補氣藥也，勿論氣虛、陽虛，混之而施。執四物湯以語人曰：此補血藥也，勿論血虛、陰虛雜焉以進，有不背聖經而戕民命者！恐未之前聞，試即二湯之旨言之，亦各有陰陽互濟之理在，如氣用四君子湯，而人參、白朮則是氣中之陽藥，茯苓、甘草則是氣中之陰藥矣。血用四物湯，而當歸、川芎則是血中之陽藥，地黃、芍藥則是血中之陰藥矣。以故血弱有寒，禁服地黃、芍藥；陰虛吐衄，禁服當歸、川芎。氣虛下陷，茯苓不可多用，氣虛火盛，人參不可頓加，氣虛嘔吐，不宜甘草，氣虛喘嗽，不宜白朮，一湯之中亦各有陰陽順逆之理，可謂氣虛便是陽虛，血虛便是陰虛，而謾然施療乎。</p>
<p>人之一身，無非病也，亦無非藥，泥、金、石、草、木、鳥、獸、蟲、魚為藥，偏矣，亦後矣。飢飽待時飲食，藥也；寒溫適所衣服，藥也；動靜有常起居，藥也：色不視邪則目明，聲不聽淫則耳聰，口無莠言，行無顛步，則口體正，均藥也。使有人焉，知填精而不知寡欲，知養氣而不知守默，知保神而不知絕慮，亦焉往而得藥？《素問》，醫之六經也。但言順四時，少嗜欲，節飲食，不為邪氣凌犯，初未嘗以藥言。其五志為病者，即以五志為藥。如曰：悲勝怒，病怒者，悽愴哀苦以感之；喜勝悲，病悲者，謔浪佚豫以娛之；恐勝喜，病喜者，迫遽危亡，以怖之；怒勝思，病思者，汙辱欺妄以激之；思勝恐，病恐者，沉疑搜剔以緩之。至如逸可治勞，靜可治躁，處陰以避暑，就燠以避寒，凡此之類，皆非熱非寒非酸非苦，無煩採製不費㕮咀，隨在而得之之聖藥，遠逾草根木皮萬萬也，則請為尊生者，揭未病之藥。</p>
<p>《素問》曰：不能治其虛，何問其餘，夫不曰補其虛，而曰治其虛，大有深義，治字、補字，難易大不相侔（從未有發治字之義者）。補其虛者，只有虛而別無邪氣夾虛中，譬猶弱國時也。治其虛者，不足之中，兼有餘之證，譬國勢強弱相半時也。此時而欲補之，則邪未衰，欲瀉之，則氣已敗，勢介兩難，必隨時取中於其間（隨時取中便難）或先攻後補，或先補後攻，或因攻為補，或借補為攻，雖攻而正不戕，雖補而邪不熾，方可謂之治其虛，謂之能治其虛耳。於此不能，其餘何可復問！旨哉，須知治之一字，有無限苦心，無窮妙用，在與虛則補之之一字，大有間，世都忽而不察，特註明之。</p>
<p>醫何以仁術稱？仁，即天之理，生之原，通物我於無間也，醫以活人為心，視人之病，猶已之病，凡有求治，當不啻救焚拯溺，風雨寒暑勿避，遠近晨夜勿拘，貴賤貧富，好惡親疏勿問（果如是心，便可與天地爭上下矣，竊恐能言而行不能），即其病不可治，亦須竭心力，以圖萬一之可生，是則此心便可徹天地，統萬物，大公無我而幾於聖矣，不如是，安得謂之醫而以仁術稱。</p>
<p>醫者嘗須愛養自家精力（愛己即所以愛人），精力不足則倦，倦生厭，厭生躁，厭躁相乘，則審脈，辨證處方，皆苟率而無誠意矣。思欲救死全生，庸可期乎！今之醫者，鮮克不以奔競為專務，徒勞苦而不自知，大戒也。</p>
<p>醫之看病，與文家之相題無二。病，題也，脈，題之旨也（取喻極切），藥，則詞章也，方法，局與勢也。善為治者，脈證既詳，當思所以治之之法，而隨因法以立方，藥不過如卑賤之職，唯吾方法驅使耳。不思者，竟以草木為拘，見頭痛便用川芎，見腳痛便加牛膝，救頭救腳茫乎其無統宗，雖藥品精良，亦何能中病之窾會哉，是猶文家不以題旨局勢為先，而僅修詞章之未，縱言言綿繡，字字琳琅，與本題將千里隔矣，何足貴？</p>
<p>胃為水穀之海，脾為生化之源，生化旺，則氣血清和，諸病屏息，生化衰，則氣血虧損，百病交侵，非細故也。唯東垣先生深得其旨，闡發脾胃元氣之妙，可謂呼聾震啟聵光矣。世之醫者，徒執病形，不推病本，脾胃之義，置而勿講，如脾虛氣短，似痰喘耳，泥為肺熱痰壅。瀉以石膏、蘇子。脾虛發熱，似外感耳，認作風寒外束，表以羌活、麻黃。脾虛下陷，變為後重裡急，猶謂滯積不行（時流通病），下以硝、黃、枳、樸。脾虛不運，變為水脹中滿，猶謂宿食未化，導以巴豆、牽牛。產後脾虛，飲食停滯，而嘔吐脹悶，誤擬敗血攻心，恣餌桃仁四物。勞瘵脾虛，飲食減少，而噁心溏瀉，尚執滋陰降火，偏需知柏、二冬，投之不愈，更恣投之，脾胃轉傷，而疾轉篤，技窮莫措，歸命於數。時弊如斯，易可勝計，無他，未明主氣之說故也。主氣實而攻之，則病易愈，主氣虛而攻之，則病反加，非藥不能治病也，主氣不行藥力也。況當世之人，氣稟寢薄，兼多沉湎於酒，耽縱於色，汲汲沽名，皇皇求利，又復傷於勞思者，更不少也，司命者，其可不亟講於斯？</p>
<p>補虛之最切要者在扶胃氣（扶胃氣乃補虛之要，前文已頗偏，裴子慮人不查，又復審言，婆心），胃氣強，則飲食進，飲食進，則氣血生。補何如之？所謂得谷者生，失谷者死，理甚易明耳。今之不善補虛者，概用當歸，地黃、人參、白朮、甘草、黃耆等類（太熱矣），以為補虛之法莫此若矣。不思此等品類，雖能補虛，要旨甜膩壅膈之性，胃之強者則幸矣，胃之弱者，其可當乎？不脹則瀉，不瀉則嘔吐，而不能食矣。有謂病不轉加於此，誰其信之！</p>
<p>病有以藥傷而變重者，甚有變證，莫識而卒致危亡者，不可不知，不可不慎（此恆理耳，病家不知，醫家亦不知，無怪夭枉者之多也）。昔一婦，患經閉，服血藥過多，血不行而飲食反減，又增寒熱嘔逆，醫猶為瘀血攻心，倍加峻削，病者忽發神昏、齒噤，口角流誕，狀類中風，診其脈，伏而微，心下按之滿急，且有聲，曰：此飲證也。詢之乃為藥所傷，非湧法不可，急取油鵝翎探之，一湧而出酸水四、五升，隨醒，先用燥濕寬中藥，次與補脾健胃，俟飲啖起居如故，始進通經丸，血乃行。一人病瘧兼旬，胸滿而畏食，胃氣不清故也（胃氣不清，漫用補中益氣湯，可笑。），醫不審，與以加減補中益氣湯，二服，瘧反大劇，易用鱉甲、何首烏等藥，作大劑以截之，更脹漚不勝，湯飲俱廢，或疑其誤服補藥，與陳皮、萊菔等湯，病益加（真可笑）。予診之，六脈濡弱，此濕氣滿胸膈也，以蒼朮為君，佐半夏、厚朴、澤瀉、豆仁等，少加薑汁、食鹽，徐徐與之，不食頃，嘰然欲吐，即探引得吐黃涎、惡水甚多（得力在此一吐，傷藥症狀，描寫無遺，學者須細心理會，方得有見），始平，虐亦漸止。又一小兒，甫三歲，得心腹痛疾，醫者處劑太重，煎汁又濃，更灌之乳。食後，反增嘔逆，發寒熱而兼喘，更數醫，咸罔效，漸變昏聵，不省人事，其家以為不可救，遂勿藥以俟之。自晨至昏，忽聞腹中淚淚聲，上下者數四，遺穢汁鬥許而蘇。凡此等病，患者甚多，不能悉舉。總之，人身以胃氣為本，胃氣傷，雖對病之藥，皆不能運化而起效（真救性命之言），反生他證。今之病家醫家，均不之察。凡有病，輒投以藥，不愈，更醫以藥，旋已旋藥，甚至病久脾虛，飲食不進，不思顧其生化之源，而猶亂投湯劑，致中氣受傷，變證百出，而死者不少矣，可不慎歟！</p>
<p>丹溪先生謂產後大補氣血為主，以產後血氣大虛，不可大消導，大發散，大寒涼，至犯虛虛之戒耳。又云：雖有雜病，以未治之，則不能無疑焉，何也？如血凝腹痛，食滯胸膨或噁心，或泄瀉，或外感風寒等類，產後或亦不免，此皆不足中有餘之候，遽可以大補為主，而末治之乎？以理揆之，則此二語，恐亦非出于丹溪先生之筆，傳寫日久，魚魯之訛，未可知也。余敢以如字易雖字，權字易末字，於義始圓，高明者以為何如？</p>
<p>藥無所謂王霸也，用藥亦無所謂王霸也。而有王道、霸道之喻，亦用之者之有王霸耳。用藥者，常變以審時，經權以濟事，當補即補，當攻即攻，當寒即寒，當熱即熱，曷王霸之有分哉。用之者善，甘草、參、耆，王也，附子、硝黃，亦王也，春生秋殺之，天道也，當即無藥非王也；用之不善，則附子、硝黃，霸也，甘草、參、耆亦未始非霸也，冬燠、夏寒之愆咎也，不當即無藥非霸也。是則王霸不在藥而在所用，亦不在於用，而在善用與不善用。今世之談醫者，咸以參、耆、甘草類能補益，稱為王道，硝黃、附子類能攻伐，稱為霸道，是泥於藥之有王霸矣，泥藥之有王霸，遂泥於用之亦有王霸矣。噫！果用藥有王道霸道之歧哉？此唯可與知者言也。</p>
<p>藥有偶中而病愈者，有誤中而病愈者，未可居功於不窺，當猛然省，翻然悔，惶悚無地，則學日長而識日高。昔如一木匠趙與一鐵匠杜，行此乞宿其家，有病人不納，杜紿曰：此趙君世醫家也，蒙上司見召，失路至此，必病者之當愈也。主人遂延入，診之。曰：一藥可愈，潛出，得牛糞一塊（牛屎有殺蟲之功偶中天也），作三十粒，下以溫水，胸中頓覺如蟲行，一湧而出小蜣螂狀者二、三升，病如脫，越宿，禮錢而去。嗚呼！此二人，小人也，欲苟一宵之寢，以穢物治人，蓋偶中耳。竊恐二人此去，必且謂醫學無難，而居然一世醫家（天下居之不疑者，豈止此二小人哉），幾不自識其初心矣。又有一病，身冷而脈沉伏者，醫認為陰，投以桂附等熱藥，一婢煎之，適傾廢，茫無以應，借黃連香薷飲一杯代之，不謂一飲而瘥，是何也？陽證似陰，非陰也，醫誤以為陰也。設藥不為婢誤，醫之誤不可言矣（大堪鼓掌）！設藥不為醫誤，婢之誤不可言矣，幸其相誤，而因誤以中病，乃得生耳。吾不知此醫亦居功不自疑否？如居功，恐又為此婢竊笑也。此二事，深可為近世醫家提醒，故謹志之。</p>
<p>人皆以黃耆、人參、白朮、甘草、當歸、陳皮、升麻、柴胡八味為補中益氣湯，噫！此固補中益氣湯也，特元氣下陷之補中益氣湯耳，蓋中者，脾胃也。氣，即脾胃之氣，元氣也。立方者，以參、耆、甘、術等藥，善補中州之元氣而用之也。因元氣之下陷，不得不佐升柴以舉之，非升柴之能補中氣，亦非中氣之必佐升柴而後補也（大醒天下執方之迷）。中氣既不必佐升柴而後補）則凡有以參、耆、甘、術相須而立方者，皆補中益氣湯也，不必定有升麻、柴胡也。如有因小兒慢驚與痘漿不足，用參、耆、甘草三味，名保元湯者；有脾氣久衰用人參、白朮、茯苓、甘草，為四君子湯者；脾虛有痰有濕，四君子加陳皮、半夏，名六君子湯者；飲食少進，更加藿香、砂仁，為香砂六君子湯者；有虛痰眩暈以參、耆、甘、術合天麻、半夏等藥，為半夏天麻湯者；又有合棗仁、遠志、龍眼、當歸，為歸脾湯者；有大病後調理元氣，用參朮膏、參朮湯與參苓白朮散者；有元氣暴脫。脈微欲絕，用人參一味，為獨參湯者；有暑傷元氣，用生脈散、清暑益氣等湯與氣虛挾寒而用人參理中湯、附子理中湯者；凡此之類，皆謂之補中益氣湯可也（藉微裴子終不解補中益氣湯之義矣），皆謂之元氣不下陷之補中益氣湯亦可也。但其間所夾之證與所兼之藥有不同，故命名亦各各不同耳。究其旨，何一不在中氣二字上著意哉。</p>
<p>或問喘，肺病也；腫，脾病也，金匱丸是腎藥（此金匱丸秘旨，從無發明），服之而兩證皆驗，其故何也？予曰：腫雖屬脾，而實因於水；喘雖屬肺，而實原於氣。經曰：腎者，胃之關，關門不利，則聚水而為腫。《直指》曰：腎為氣之本，腎虛不能為胃行其水液，則不能納氣歸原，而喘以作，是則喘與腫即謂之腎家病可也，金匱丸既是腎藥，其奏平腫息喘功，正所謂虎向水中生者此也。所謂地黃有補脾利水之功，無陰則陽無以化者，亦此也（天一生水，水之凝成處，便是土，土中之堅者便是金也，水生土，土生金，此先天五行之妙，非知者，曷足與言）。兩證之俱驗奚疑。總之，水、土、金為先天之一元，此獨深詣其微耳。</p>
<p>一宦者，年已近耄，因勞倦傷脾，脾虛病瘧。瘧愈，而脾胃之虛日益，旋病腫焉。此時飲食尚進，起居亦不甚衰，正宜補中益氣湯，隨證加減，以調脾胃元氣。後用金匱腎氣丸補腎而行水，使腫自消，始為至治，不謂日以澤瀉、豬苓、柴胡、葛根、厚朴、陳皮等藥，暮餌朝餐，恬不知返，兩月來真氣被賊無餘，腫脹彌劇，喘息不得眠者六晝夜。更一醫，猶以為肺病，而用蘇子、芥子、二母、二冬之類，卒致湯飲俱廢而死。王字泰曰：手足浮腫，未必成水也，服耗氣利水之藥而不已，則水病成矣。趙養葵曰：腎虛不能納氣歸元而作喘，徒從事於肺者，執流而忘源也，惜哉！</p>
<p>安胎之說，不可拘泥，有無病而胎不安者，有有病而胎不安者。無病胎不安者，杜仲、人參、地黃、續斷、熟文、阿膠、條芩、歸、術等類，豈曰無功。若有病，必當先去其病，病去而胎自安矣。若不去其病，而徒用安胎之藥，則邪氣留而不去，雖安亦不安矣。如痢疾腹痛，積滯壅凝，不先乘其胎氣未虛之時而盪滌之，痢何繇減？瘧疾寒熱，胃口必多壅滯，遽用補血安胎之法，瘧疾何自而衰。傷食作痛，飲食難下，不先消導開胸，飲食何繇得進？傷寒熱在裡，舌上生苔，大便不通，不用涼藥湯滌邪熱，何繇而已？故凡有如此等病，必令早去一日，胎便早安一日，不則日久胎虛，鮮不致墮。昔黃帝問於歧伯曰：婦人重身，毒之何如？歧伯曰：有故無殞。此之謂也。</p>
<p>一富室婦，崩暈交作，已三逾日不得愈，諸醫治法不外阿膠、地黃、當歸、白朮、山藥、人參及止痛止暈之藥，益劇。余診之，六脈小而堅，右關細滑有力，且多呃逆欲吐狀，心下按之，硬滿而痛，飲食不進，大便不通，此正與王節齋夫人崩暈證甚相類，受病在腸胃無疑（腸胃乃真氣運行之地，亦諸病藁聚之地，學者能時省焉，則醫之能事畢矣），法當先行腸胃中積滯，使真氣流行，脾得健運而統血，崩自止，暈自寧矣，遽用前藥，是以滯益滯，奚怪乎無功！遂屏諸藥，先用導滯丸一服，不動，再一服，大便始通，神少清而崩亦少止，改服開胃醒脾藥二劑，崩暈頓減，繼服大補脾丸，甫半月，飲啖起居如故。若泥血病而專用補血等藥，其與刻舟求劍、膠柱鼓瑟者，何以異？</p>
<p>一宦妾，年甫兼旬，不甚得所，抑鬱傷脾，飲食漸減，幾半歲，後乃月事不來，日哺潮熱。醫皆養血滋陰為治，寢至肌肉消爍，喘息不眠，噁心不能食，大便不通，脈來數且弦，右關特細。《素問》謂：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，為息賁者，即此類也。在法不治，乃辭。旬余，果卒。夫二陽，胃與大腸也，病傳化失常，飲食少進也，發心脾，始於心脾也。因不得遂，其隱曲之情，心脾鬱結而發也。心主血，脾統血，腸胃既病，則心脾無所資而血脈枯，故不月；血既枯則陰不勝陽而生熱，熱盛則生風，而肌肉消爍矣。故曰風消。肺屬金，主氣，金為熱迫，則氣上賁而喘息不寧矣，故曰息賁。初治時，即開導腸胃中積滯，使真氣流通，胸膈寬利，能飲能食，始用血分等藥，調月事不來，退日晡之潮熱，方為至治（前崩暈一證與此雖異，共受病於腸胃則同也，讀者參之。），乃不審二陽因抑鬱久而積滯不行，為受病之根，謾執月事不來，日哺潮熱是血少陰虛病，不消遙散，則四物湯，朝餐暮餌，而卒至於死，良可嘆也。女人患此甚多，余故詳著其徵，並釋經義云。</p>
<p>學不博不可以為醫，徒博亦不可以為醫。醫者，意也，聖賢之精蘊，形而上者之道也；布在方策者言也，形而下者之教也。學者欲求聖賢之意，不得不因言以求之，非廣博不可也。所謂教，非道不立，道非教不明也。不求其意，而徒事於言，則雖讀盡天下古今奇書，皆糟粕矣，何異饕餮百種珍差，填塞胸中而不化者乎。</p>
<p>病有一、二劑而愈，有數十劑或百劑而愈者，有淺深故也。感有淺深，則其所以治之者，非可概為欲速也，欲速則寒熱溫涼，行散補瀉，能無過當乎！如寒藥療熱者也，寒太速則熱未已而冷疾隨生，熱藥攻寒者也，熱太速，則寒未除而熱邪又起。表者汗，里者下，汗速則亡陽，下速則亡陰矣。虛者補，實者瀉，補速則邪熾，瀉速則正傷矣，功未秦而害已滋，不可不深為之意也。昔許學士治一人，發熱頭痛，脈浮數，麻黃湯證也，尺獨遲而弱，以仲景論尺遲者，營不足，未可遽汗，進以建中湯加歸、耆，越宿脈尚爾，其家欲速汗解，許只建中湯調營而已。五日尺方應，始投麻黃湯，二服汗出而解。設不顧虛實，不待時日，禍旋踵矣。《南史》載範云遇武帝九錫之命，忽傷寒，恐不得與慶事，召徐文伯診，懇曰：可速瘥否？徐曰：易。恐二年後不復起。曰：朝聞道，夕死猶可，況二年乎？徐即以火煆地，布桃柏葉，置云於上，頃刻汗出，樸以溫粉，明日愈，云甚喜。徐曰：不足喜。後二年，果如此言。凡病欲速愈，而不顧其為後患者，不必有佐命之暫榮（凡欲求速快於心者，其終必有傷。），而甘為夕死之續者也。</p>

<h1>卷之二</h1>
<p>何柏齋先生《水腫論》曰：造化生物，水火而已矣，不可使之偏勝，太旱物不生，火偏盛也；太澇物亦不生，水偏盛也。水火和平，則物生矣。人之飲食，運化於脾胃，實系水火二氣，非脾胃所能也。火盛則脾胃燥，水盛則脾胃濕，皆不能化物。水腫之病，蓋系水盛而火不能化也。火衰則不能化水，故水之入於脾胃，皆滲入血脈、皮肉而為腫，此自然之理也。導其水，水氣少減，復補其火，使二氣和平，則病去矣。余每讀此論，未嘗不嘆何先生之窮理也，而又未嘗不嘆何先生之不甚窮理也。何也？造化生物之水火與脾胃運化之水火，是人與物所自有也，非外來者也，旱澇之水火，與作腫作燥之水火，非人與物所自有也，是外來者也。外來者，可見之水火也，養人物者也。自有者，不可見之水火也，生人物者也。（揭出生、養二字，天機泄漏盡矣）。先生之所謂火腫之水，乃可見之水也，邪水也。所謂火衰之火，乃不可見之火也，真火也。真火邪水，絕非對體之物，先生以之對待而言，將認水腫之水為真水乎？邪水乎？將認火衰之火為邪火乎？真火乎？抑認作腫作燥之水火（邪正之誤，昭如日月之明），即脾胃運化之水火乎？非脾胃運化之水火乎？邪正罔明、客主無辨，先生不認賊為子，必認子為賊矣。嗚乎！先生胡為作此論也？以昔人治水，有補火之一說耳，不思補火之說，即虛則補母之說也，其意蓋曰，水腫之病，系脾虛不能運化，脾虛不能運化，系火衰不能生土，法當補真火於脾土之中，則土旺而水有所畏，不為腫矣。是知補火者，補火以生土也，（明補火之本旨）非補火以勝水也。先生乃謂火衰則不能化水，水氣少減，復補其火，使二氣和平則病去，豈理也哉？余敢以火衰則下添入脾虛兩字，「使二氣平和」五字直刪去，於義始圓爾（辨詞理之未安）。雖然治水亦不一法矣，有補脾而愈者，有瀉氣而愈者，有針刺而愈者，有祛風清熱毒而愈者，有「開鬼門、潔淨府，而愈者，有解瘡瘍、逐痰飲、消陳積與行瘀血而愈者，豈補火一說足盡法之變乎？既云補火，則熱藥矣，熱藥則附子、肉桂、乾薑矣，設遇乾咳吐血，聲啞咽疼，骨蒸盜汗，與夫鬱熱內實之人，而兼水腫之病，豈可遽執補火一說，而以熱藥投乎（計治例之難執）？又豈補脾、瀉氣、針刺、祛風、清熱諸法可悉置勿何乎？執其一，廢其百，吾知其誤人也多參。主宇泰謂：先生醫學未精，論水火，則從所未發。噫！柏齋先生，儒者也，雖不精醫，安足病？宇泰先生，儒而精醫者也，不克補偏救弊，而猶深取其說，誠可惜也夫，誠可惜也失！</p>
<p>四十年前之人，雖多服、久服當歸、地黃、門冬、知母等濕潤之藥，不見有傷脾之患。今時之人，則不必多服久服，而食減、胸膨、肌浮、腸滑之證，旋接踵焉。噫噫，是豈養血滋陰之法，僅可行於四千年之前，而不可行於四十年之後耶？非也。世風衰而真元薄也，雞豚牛羊之餘，食蔬者有幾？瓜梨橘藕之餘，食粟者有幾？醇漿乳酪之餘，食羹者有幾？其助，則姜杜椒蒔，其和則油鹽醯醬，常而煎炒燒炙，異而脯臘膾慘，醉酢蒸酥，與凡百巧為滋味，以佐長夜之豪觴。富貴之家，斯已濫矣，市井之輩，靡有止焉。且也，義命之理茫然，怨慕之心橫起，趨利趨名，視昔孰冷而孰熱。患得患失，視昔孰淡而孰濃。世故紛擾，晨昏競出，酬應之間，視昔孰勞而孰逸。至有素風為礪，恬退自分之人，則又世網彌天，人情叵測，而憂思驚怖之懷，更不知其孰多而孰少也。如是而欲求脾胃元氣之不薄於今日，則戛戛乎難之矣。而謂當歸、地黃、門冬、知母等濕潤之藥，可瓷投而勿顧乎？</p>
<p>或曰，養血滋陰之藥，世皆用之以補虛勞不足者也，子且謂有傷脾之患，而大補脾丸中，反多耗氣之藥，則何如？曰：此深有當乎脾胃元氣本然之妙而人不知也。夫脾胃元氣本然之妙，乾乾不息者也（其所以能乾乾不息者，果何物乎？），晝夜循環於臟腑、肢骸、官竅間，若天行之健而未始或停也。丹溪所謂脾具坤靜之德而有乾健之運是也（古稱脾胃為都市。都市者，四方商賈去來，則貨聚散之大市也。必旋來旋去，旋聚旋散，乃為天下生化之源。若來而不去，聚而不散，何生化之有？此方妙合此旨。然亦須得加減法，濕盛加蒼朮，便結加當歸，有寒去黃連，加益智、乾薑，庶無偏弊。）故此方雖用人參、白朮補氣為君，而又以滲濕消痰之茯苓、半夏為臣，更以開滯疏壅之枳實、山楂、陳皮、厚朴、木香、砂仁、黃連、神麯、穀芽為佐使，名為大補而實無有所謂大補之藥，唯使腸胃通調，胸膈和利，能飲能啖，不失其常。降濁升清，時靡有間，旋推以陳，旋致以新，助彼乾乾不息之妙而已矣，雖無所謂大補之藥，而大補之理實具焉。以故，每施脾胃氣衰之人，為脹、為腫、為痞、為痰、為久瘧、久痢與高年百損產後諸虛而不克加餐等病，屢獲奇徵。不然，則山楂、枳實、厚朴、陳皮等藥耗元氣者也，曷有補於人哉？</p>
<p>夫既曰為脹、為腫、為痞、為痰、為瘧、為痢、為高年百損與產後諸虛，是不一其病矣。不一其病，則亦當不一其治，子乃以一大補脾丸而通治之，抑又何也？曰：天下事從綱則簡而易得，從目則賾而難求。理之必然也。不善為治者，從病之目，從目則脹以脹治，腫以腫治，痞以痞治，痰以痰治，瘧痢以瘧痢治，高年與產後，亦以高年產後治。治不勝治，靡知統宗矣。善為治者，從病之綱，從綱則唯知有脾胃而已矣。知有脾胃，則條目有彼，綱領在我，而脹者、腫者、痞者、痰者、瘧者、痢者、高年百損與產後諸虛者，皆可勿問矣。何也？脾胃者，化水穀而生元氣者也。元氣主，則自能運行其滯，而脹者寬，痞者平矣。自能運行其濕，而痰者消，腫者退，痢亦可止矣。又自能運行其營衛，以充養乎形軀，則高年無百損，而產後無諸虛矣。《素問》曰：「知其要者，一言而終。不知其要，流散無窮。」不可不深察也。</p>
<p>先哲有言曰：脾胃氣衰諸病，未有若參苓白朮散之多驗。噫，信斯言也，則參苓白朮散亦可謂大補脾丸矣，何不以此治脾胃氣衰諸病，而必用有消導藥之大補脾丸哉？曰：參苓白朮散者，治無邪氣之脾胃之衰者也；大補脾丸者，治有邪氣在脾胃氣衰者也。（二語可醒，從來夢夢）有邪氣之脾氣衰者，不足而兼有餘也，故不得不寓攻於補，又不得不寓補於攻。寓補於攻，則補而不滯，雖補亦可藉以為攻（又申言大補脾丸妙用）。寓攻於補，則攻而不峻。雖攻又未嘗不因以為補也。二方雖同其旨，而實不同其用。若據執脾胃元氣不足，不顧所夾有餘之邪而唯事補，是益有餘而損不足，必致脹者愈脹，痞者愈痞，痢者愈痢，瘧者愈瘧，而脾胃之元氣亦益以傷敗，不能食且飲而死已。不但誤天下人盡視人參白朮為鴆毒，而不敢用，並誤學者將脾胃元氣之旨等之弁髦，而凡遇似有餘實不足之侯，亦寧俟其死而勿救矣，流弊易有極哉（救世深心，復何以加）！</p>
<p>一宦者，以積勞後，間發往來之熱，浸至形神枯槁，懶於動止，水穀日損，不知味累越月矣。諸醫皆作脾虛治，而用補中湯、歸脾湯、參苓散，及大補脾丸等藥，未嘗非也，而究皆罔效。余視之，六脈澀且濡，兩尺特甚，曰：此固脾虛病也，然不直脾虛病也，乃腎虛之脾虛病也（之字大可參），治當於兩腎中培化原之本，則脾始充而病斯已矣。若徒事於末，安效之臻？遂屏諸藥，以紫河車一具為君，熟地黃二兩為臣，杜仲、山茱萸、破故紙、山藥、芡實各一兩，茯苓、益智、縮砂、青鹽各八錢為佐使，制每如法，即以河車、地黃二味，酒煮搗丸如桐子，命名河車補脾丸，俾服之（能識河車補脾者幾人）。不逾月而形氣、飲啖俱如初，病旋已。或叩而問其故，曰：「無他，虛則補其母爾」。或乃顧余大聲曰：「子誤矣，脾屬土，火能生土，欲補其母，則當補心，於腎何與？」曰：心但屬火，非即火也。火乃人身之元陽，與坎水互藏於兩腎，脾土生化之原，悉根於此，乃真母也。此予所以不補心而補腎也。夫既補火，而不用桂、附、乾薑等熱藥者，獨何與？《素問》曰：「壯火食氣，少火生氣。」桂附乾薑，乃壯火食氣之品，虛寒甚者則可用。今此病未至虛寒之甚，故僅取河車、故紙、益智、茱萸等少火之品以補之爾。夫既補火而又兼補水之藥者，獨何與？噫，子但知火能生土，而不知水亦能生土。脾，坤土也，為離火所生；胃，艮土也，又為坎水所生，子如不信，請觀卦位。坤土何以居離火之次，而艮土又何以居坎水之次耶？是則人參、白朮乃補脾勝藥，獨置之勿用者又何與？曰：此方以腎氣虛而脾無所稟，急欲下達以固腎而救脾（讀至此始識裴子用方不苟），故不但用辛能潤腎之縮砂為嚮導，而又加咸能下降之青鹽為直入之兵，毫不敢雜他藏藥以分其勢。遽加參、術，則參、術乃脾家藥，勢必顧戀乎中州，不能無遲遲失前之弊，急欲入腎以培土而加餐，謂將能乎？或始為之唯唯。</p>
<p>久病後，不可恣投以藥。且無論藥之謬，即對病者亦不可不慎。何也？人之元氣以胃氣為本，胃氣又以穀氣為本，久病之人，與穀氣久疏，則所喜者食物，所惡者藥物，理之自然也。此際正當以食物投所好以養胃氣，胃氣旺，則元氣亦旺，不補之中有至補者在（噫斯理也，實至理也。哀哉！夢夢者天下皆是。），何用此怫意之物，妨礙胃氣耶。《素問》曰：「得谷者生，失谷者死」。未嘗曰得藥者生，失藥者死也。矧藥之攻疾，猶刑罰之除殘；食之養生，猶德教之治平也。疾已，而猶藥之，不幾於刑罰治平同類而用耶？今之醫者，不明此理，每遇病久乍痊，必謂氣血兩虛，還須大補，其藥不外當歸、地黃、枸杞、故紙、山藥、蓯蓉、參、耆、苓、術等類，不煎則丸，恣投無憚。有服之而飲食反減者，有服之而作瀉、作嘔與腫滿者（病後好補者鑑之），甚至膈脹不能食，而反生他證者，名為補人，而實害人。</p>
<p>病蓋有從口吻而死者矣，亦有絕其谷而視其死者焉。世都不察，幽潛沉冤者眾矣。念及此，深為酸鼻。夫飲食，養生物也，可節而不可縱，然亦不可使之絕，故節之則生，不節而縱且絕則死。縱而死，病者之責矣；絕而視其死，伊誰之責耶？如傷寒、傷風、傷食等有餘之病，或脹、或痛、或嘔、或吐，感之暴而脈躁疾有力，旦無虛怔之兼者，雖不與之食亦可也。此不可與而不與，是節之，非絕之也。及久病久虛，久不飲食之人，陡覺穀氣馨香，欲求啖而不敢遽啖，正胃氣將回之侯（委委曲曲，布出許多活人要訣，大是苦心。），法當徐投漿粥，或少與適口不助邪之物以充胃氣，胃氣充則元氣亦充，而病自無不愈。若概視飲食為毒藥而不與，是絕之，非節之也，則幾微之胃氣將安恃乎？</p>
<p>一士人，年近五十，因勞病暑，身熱煩躁，醫為傷寒，輒表之，遂汗多不止，氣短神疲，口大渴，脈細疾而無倫，按之甚弱。余曰：「寒傷形，為有餘（禍根在此一汗。）；暑傷氣，為不足，六脈虛疾，暑證明矣。急宜先保元氣，用人參二錢、麥冬三錢、五味子十粒，煎服，次日脈證俱減，再以前湯合四君子與之，二劑後，進粥碗許，繼而漸倍，亦可謂安穀者昌矣。甫越宿，汗復大出，手足冷至肘膝，脈微且數（禍根發矣），按之如無。曰：「虛極矣，汗多亡陽所致耳。」急煎參耆各五錢，桂、附、歸、術各二錢，日再進，脈證仍爾，奈何？余颯然悟曰：「藥之取效，必賴胃氣之運化。胃氣虛，雖對證之藥，咸歸罔效。計必得適口之味以充胃氣，參耆自然得力。」隨詢喜羊肉食否，病者疑異，不敢諾。曰：「肉者，胃之藥也，羊肉補氣，與參耆同功，參耆不能補，明是胃虛，以肉充之，胃氣自強，強則運化，參耆而湊效矣。」即取羊肉酒煮成糜與之食，食已，煎前藥投之，立驗，或曰：「子真好奇，大病後，水穀且不敢輕進，況於羊肉，不死幸矣。」曰：「古人業有人參羊肉湯，大培虛損，予乃效之，特分用耳。何奇之有？」（中庸之道）或默默。</p>
<p>陰證，俗論必歸房勞，又必歸傷寒，而不及雜病，且專責男子，而不及婦人、小兒，殊為可怪（開千古俗人之謎）。夫陰證，即虛寒證，亦即亡陽證也，男女老幼、雜病、傷寒，皆可犯，何見而必歸之房欲耶？如產婦亡血及崩漏過多；又如卒然大吐血不止，與霍亂吐瀉無度；有因汗、吐、下太過，及為寒涼藥所傷，或暑月恣意追涼，冬月忍飢勞倦，為寒所中。凡此之類，皆能令人元氣暴脫，忽變為手足厥冷，體疲無氣，脈微欲絕，與房欲脫陽之證狀，無纖毫異（凡可犯陰寒之證者，匯歸無遺，學者須沉心理會，方有得。），而治法總不外人參、附子、肉桂、乾薑，救之急則生，緩則死，同歸一轍矣。可岐而二之哉？通乎此，則陰證未嘗不犯於有欲之人，而無欲之人之證，亦未可遽謂必不犯此也。從未有發，敢爾僭及。</p>
<p>一人咽喉痛，不能飲食，時作時止者半歲，吹喉藥，消痰降火藥，草汁藥，咸罔效，予診得兩寸洪大而虛，尺部沉而無力，兩足喜暖畏寒，口喜冷飲，甫下咽旋越出，此腎火虛而亢上，下真寒上假熱也，斷不可用寒冷反治之藥，法當從其性而伏之，隨處六味丸料，加肉桂、附子、炒黑乾薑，水煎，入青鹽少許為嚮導，冷而與之，三劑旋愈。或問熱藥冷飲何以解，曰：「上焦是假熱，下焦是真寒，以真熱之藥冷與之，則下咽之初，暫得冷藥以自快，漸達下焦，熱性始發，從其窟宅而招之，同氣相求，火下降矣。即韓氏假對假，真對真之義也，亦即《素問》「寒因熱用」、「熱因寒用」之義也。嗚呼！甚有陰盛格陽，而為面紅、口渴、煩躁、喘咳、發狂之證，誤認有餘之熱，以寒涼之藥進而斃者，吾不知其幾矣。</p>
<p>六氣之理，如權衡然。既燥則不濕，既濕則不燥，易有所謂流濕潤燥，並行不悖耶？曰：流濕與潤燥非兩事，所重只在流濕一邊，蓋燥本乎濕，流濕便可潤燥，非既流其濕，又潤其燥也。如一人，瘧久不已，發時必燥渴恣飲，更嘔噦胸膨而面黃瘁，此濕盛為原之候也。醫不審，日以補中湯加知母、門冬、烏梅、花粉等類治之，益劇。余以蒼朮三兩，半夏、茯苓、澤瀉、厚朴、陳皮、砂仁、黃連各五錢，作丸俾服，每二錢，日再進，旬余而安。噫嘻！服潤劑而渴彌增，服燥藥而渴反止，其故何也？流濕以潤燥也。凡久瘧之人，必多黃涎惡水，聚天中宮，中宮濕甚，則生熱，熱甚則生燥，所以作渴而多飲。是燥本於熱，熱本於濕，流其濕，則熱不生，熱不生而燥自潤矣。遽用滋潤之藥以止渴，適所以助其濕，助其濕，有不愈助其燥乎，理甚易明，前賢不我欺耳。</p>
<p>藥品如熟附子、牛膽制南星、瓜蒂、人中白、牛黃、蘇合香，與急用應病丸散等，務必平時預蓄以應不時之需；苟為不蓄，而欲蘇死更生於旦夕之間，恐軒岐復起，亦不得展其奇矣。醫家之蓄藥，與國家之蓄人才，其重同爾。</p>
<p>煎製藥餌，務必得人得法，不則，雖與證對，無效矣。嘗見治藥之家，法曰酒漬者，水代之；法曰炮炙者，生用之，或烈火速干，而真液未出，或真液沸溢，而別入茶湯。又如藥材爛惡、銚器腥汙、水類不潔，與他物及土塵之雜者尤為不少。如是而欲勉強圖功，不亦難乎？雖然此僅害之細故耳，甚有仇奸之子、嫉妒之徒，潛布挑生之術，而為禍大不可言者，可不慎乎？可不謹乎？</p>
<p>醫者勿以其人之病輕淺而易視，易視則輕者必變而為重，甚至不可救者有矣。凡有治療，勿論病之大小，皆須盡心力，以期萬全，無使滋蔓難圖，而遺人以夭殃也。《傳》曰：「履霜堅冰至」，以言乎漸，是謹也。視以為難，難斯易，忽以為易，易斯難，能漸是謹者，雖有非常之臨，可坐而定已，不則勢雖微，易有極焉？</p>
<p>病到危急時，非峻重之藥不能救百中之一二，今之醫者，皆重惜名譽，姑以輕平之劑，冀其偶中，幸而不死，而曰：「是我之功」。不幸而死，則曰：「非我之罪」。恐真心救世者，不應如此也。真心救世者，必慨然以死生為己任，當寒即寒，當熱即熱，當補即補，當攻即攻，不可逡巡畏縮而用不寒不熱不補不攻，如諺所「不治病不損命之藥」，嗟嗟！即不治病，欲不損命，有是理乎？倘於此認不的確，不妨闕疑以待高明，慎勿嘗試以圖僥倖，庶不負仁者之初心。（君子不強其所不能。）</p>
<p>醫之道極難知，無學者不知，有學者未便知，無才者不知，有才者未便知，有才有學矣，不克隨時取中者亦不知，甚矣，知醫者之難也。今有一等人，謾說某某知醫，某某不知醫，噫！知醫固難，而知知醫者恐亦不得容易也。</p>
<p>醫有上工、中工、下工。上工者，良工；中工者，庸工；下工者，謬工。蓋謂庸工之不若良工、謬工之不若庸工也，以理言之，豈止不若良工哉，並不若謬工耳。謬工之殺人，殺人而見其跡者也，見其跡則人所易知而易遠，其為天下之害少。庸工之殺人，殺人而不見其跡者也，不見其跡，則人所易忽而易近，其為天下之害多，譬猶暴君為不善，其亡雖速，而天下之害不甚深。庸君未必能為大不善，而天下之元氣，陰受其賊而不知，其亡雖緩，而為害於天下，不既深乎？嗚呼！庸君誤天下，庸醫誤病人，一理也。</p>
<p>醫到病家未診視，不可先講病，必待望而聞，問而切，脈證詳明始可斷為是寒、是熱，是實、是虛，病在某經，當於某經用藥，某日當瘥，某日當危，庶藥與證對，而不蹈妄投之弊。近有急欲見長者，未見病人顏色，輒抵掌而談曰某藥可以治某病，此必某病也，當以某藥治之。噫！是猶未命題而先作文以待矣，鮮有不背聖經而誤人命者！</p>
<p>醫者胸中預擬一成見不得，雖病者不為自諱，詳告諄諄，亦未可遽執為真病情，真病本也。且待診視後，參較果否耳。至若侍奉者之傳言，延醫者之預達，尤不足憑。蓋學者胸懷空曠，了無執著，始得應變無方耳。先哲云：「凡讀書不可先看註解，且將本文反復詳味，待自家有心得，卻以註解參較，庶義理昭然，不為他說所蔽，若先被其說橫吾胸中，自家竟無心得矣」。吾於醫學亦云。</p>
<p>或問癆瘵痰嗽，治以二冬、二母、款花、紫苑之屬，十九不效者，何也？曰：癆瘵痰嗽，非肺病也，原於先天腎陰虧敗不能制火，火無所畏，亢而刑金，金極則鳴耳，此謂水泛為痰之嗽，非風痰、熱痰、痰飲、痰涎作嗽者比，法當峻補腎中真陰，及佐味鹹下降之藥，徐徐引之歸元始善（所謂病在上而治反在下也）。若泥肺病以冀近功，是從末而遺本矣。然則補陰下降之物，其孰為優？唯童便一味為上藥爾，童便味鹹性溫，溫可養元，咸則歸腎速，而能引火下實，人身中之氣血藥也。用治本元虧損之病，則同氣有情而易入，較效於偏性之草根木皮甚遠。褚氏謂：「服寒涼，百不一生；飲搜溺，百不一餐。」良以此也。雖然，苟非病者真心怕死，於微病之時便能節飲食、絕嗜欲、慎起居、息妄想，忘日忘年，內觀靜養，以佐藥餌之不迫，亦未見其能治也。</p>
<p>一人年三十餘，積勞而多欲，遂夜熱兼旬，無盜汗，六脈近數，飲食不減，此癆證之微而未深者也，正與養血滋陰治法甚相合。藥用生地黃三錢、鱉甲醋炙二錢、知母、當歸、柴胡、牡丹皮、山茱萸各一錢、黃芩六分，煎服，六劑而熱平，隨灸百勞一穴，膏肓二穴，以杜其根，更以河車丸與之調理，不百日，形氣、飲食、脈侯俱如初而愈（如胃氣不足者，先灸中脘、氣海二穴，以保先後天元氣，使飲食不減，真氣不衰，更易調理。）。葛可久曰：「癆證最為難治，當治於微病之時，莫治於已病之後。」今此病正當微發之時，故能取效於旦夕間耳。若忽於微而不早為之治，未有不浸至於咳、聲嘶、肌消、腸滑、食減、臥床、脈來細數，而挽之無從者矣。患此者，不可不防微而杜漸也。</p>
<p>一婦頭眩耳鳴、肉瞤筋惕，恍惚不得寐，乍作乍止，半載矣。後乃阻經四月，小腹如懷子。醫者疑其妊而安之。忽一日，下紫黑血少許，始識經閉，改用通經藥數劑，腹不減，反增噁心、嘔噦，粥飲下咽旋越出，咽喉焦痛，舌黑無津，眾醫不能解。余診得六脈弦細而滑，兩關尤甚，曰：「此頑痰閉滯、血海壅瘀，月事乃阻耳。」（有把握）何以徵之？其脈細而滑者，痰脈也；頭眩耳鳴恍惚者，痰證也；嘔吐不食者，痰客中焦也；舌黑無津、咽喉焦痛者，痰生熱而然也。《素問》謂：「治病必求其本。」今病本於痰，必以治痰為首務，遂投礞石滾痰丸八十丸，不動，再投七十丸，小腹微痛，次白又服如數，小腹痛不可忍，將夜半，下如豬肝四五塊，每幾盈尺，更下如破絮脂膜者無計，又累累若石榴子紅白攢綴邊絡而下者不啻二三斗，小腹頓平，痛亦如失。其最異吐痰碗許，俱如綠草汁色，口角流涎，忽變如琴絃之堅。因憶丹溪先生謂怪病是痰，十居八九。良然，良然，時胸次未平，飲食少進，用橘紅、茯苓各一錢、枳實、黃連、半夏曲各八分水煎，入薑汁二匙，竹瀝半酒杯，二劑後，以六君子湯加獺，更服加味潤下丸，調理逾百日乃愈，逾年生一子。</p>
<p>有病傷寒傳裡，熱結不通者，已屢經下而腹中按之則仍繞臍堅結，若仰瓦然，且其人伏枕不起又累旬，肌肉盡爍，湯飲幾廢，甚至氣怯不足以布息，當此之際，攻補不能施其巧，計將安出？曰：論常法，在所必攻，不攻則腸胃無繇清，水穀無繇進，元氣無繇復，而人易以生？若遽攻，則此立槁之形，垂絕之氣，能堪之乎？計必先行補法（亦有先攻後補者，是在臨機消息），而後察邪正之緩急輕重以攻之，攻後旋覆從補，補後旋覆從攻，而又旋覆從補，則庶幾耳。但補與攻皆當以漸，而毋驟。其始也，且以小劑生脈散加陳皮煎飲半小甌，飲後，移時無反復，復少與，繼則或可漸倍，並商攻法也（曰小劑，曰半小甌，曰少與，何等慎重，非深得仲景心者，曷克臻此。）。如腹中鬱熱未清，渴欲冷飲，遂當啖以橘藕瓜梨之屬，潤其喉吻。飲食久疏，胃必弱甚，又當間與焦米湯、大棗湯，或扁豆筍蔽萊菔暨飴糖等湯，隨所好以蘇胃氣。凡此，皆余平時所謂適口不助邪之物，佐藥餌以不及者也，皆補法也。補既得，方可議，攻則唯玄明粉一味為佳，生何首烏煎服亦佳，蜜導、膽導尤為良法。不應，須詳脈之虛實、氣盛衰、邪之深淺，以導滯丸或小承氣加當歸微下之，下後仍須照管元氣，毋徑前而勿顧其有虛虛也（唯恐傷人肚腸。）。倘其侯，果可授餐，亦勿得驟之以濃厚，先以焦米煎汁飲之，次煮熟梨、熟棗、熟萊菔等少與之，無忤，始可徐投漿粥與他物耳。須知此證，腹中攻不克盡，與旁流者恆多，唯期脈靜、身涼、口不渴（老到），便可圖進水穀，慎勿過攻，俟其水穀融液，腸胃充盈，不攻亦可自去。若必欲去盡而後與之食，不將速其死乎！雖然，此皆陽證之攻補法也，亦有元氣內損之病，治療失宜，損中復損，內雖熱結，外則手足未冷而鼻先寒，六脈沉遲，或虛疾無倫次，則又是陽證變陰之侯，急當以桂附參姜酌微甚而溫補之，又不可與瓜梨橘藕、承氣、玄明粉同日而語治者矣（陽證變陰者甚眾，庸醫不曉此理，每以誤人，良可嘆也。）。智者於此，不可不熟審而通其變。噫嘻！豈特傷寒為然哉？凡雜病日久，鮮有不犯此證者，余於治按中每詳言之矣。</p>
<p>一婦，年五十許，傷寒旬越不得汗，其家欲取其汗，肩戶塞牖，垂幕多衾以劫之，病者煩躁悶亂，譫妄欲狂（熱極矣。）。急延余治，甫入臥室，便熱穢熏蒸不可近，速令開窗啟幕，揭去所覆者大半，病者始揚手呻吟，有喜涼畏熱狀，徵其面則赤，舌則焦燥有胎，詢喜冷水飲否（此水攻法。），病者不能言，唯頷之。遂與新汲水一大碗，飲盡，不食頃，輒戰慄，須臾通身大汗而解。或問辛溫發散藥，服十餘劑，不能取汗涓滴，飲以水，汗反大出，其故何也？曰：是即水火既濟之義也，譬火燃金枯，以水沃之，氣液沸騰，必然之理，又何疑焉？眾皆聳然自失。</p>
<p>無病服藥之流弊久矣，而今為甚，此皆執前人服藥於未病與上工治未病之說而謬焉者也。不知服藥於未病者，即致治於未亂，保邦於未危也。善致治者，尊賢使能，振綱肅紀，則政修民和，苞桑萬世在茲矣。若無故興師，則內生反側，外兆邊塵，不反自貽伊戚哉。然則保國保身無二理，用藥用兵無二術。善衛生者，能於平時節飲食、慎起居、少嗜欲、寡縈慮，使五官安職，百體清和，將遊華胥而躋齊松矣。苟思患預防，審醫可也，問藥性可也，讀岐黃書可也。若以草木偏攻，則寒者戕賊脾元，熱者煎熬血脈，是猶小人陰柔巽順，似乎有德，而國家元氣，鮮不為之潛移者，古人謂壁中用柱，壁中添鼠，不可不深長思也。至若不治已病治未病，則又是有說，如肝邪旺，恐傳變於脾，當先瀉肝以平之；心邪旺，恐傳變於肺，當先瀉心以平之之類是也，是則治未病者，治病之未傳也，非治人之未病也。服藥於未病者，調攝於朱病也，非未病而先服藥也（無病服藥者，讀之能猛醒不？）。二說各有所指，皆非無病服藥之謂也。夫何貪生者，假為棲真玄牝之丹，縱欲者，泥為嬰兒奼女之術，岐黃浩戒，視若弁髦，伐性斧斤，恬如衽席，是以疴端呈現，種種乘張，蒂固根深，卒難期效，而猶咎刀圭無補，毋乃愚乎！</p>
<p>《本草》謂上品藥為君，主養命；中品為臣，藥養性；下品藥為佐使，主治病者。特言其性之剛柔耳，非《內經》君臣佐使之旨也。王節齋曰：「主治者為君，輔治者為臣，與君相反而相助者為佐，引諸藥達於病所者為使。如治寒以熱，則熱藥君也，凡溫熱之藥，皆輔君者也臣也。然恐熱之太過也，少加涼藥為監製，使不致有偏熱之虞者，佐也。至臟腑經絡受病之處，又須各加引導之藥而使之入，此則所謂使也。」若遵《本草》之悅，則發表之麻黃，攻裡之大黃，獨不可以君耶？且性與命亦豈藥力之所能及耶？</p>
<p>王節齋曰：「畏，畏其制我，不得自縱。惡，惡其異我，不能自如。此二者不深害。」蓋彼既畏我，我必惡之；我既惡彼，彼亦畏我；我雖惡彼，彼無忿心；彼雖畏我，我能制彼。如牛黃惡龍骨，而龍骨得牛黃變良。黃耆畏防風，而黃耆得防風其功愈大之類是也。至相反，則兩仇不共，共必為害。然大毒之病，又須大毒之藥以劫之，甘草、芫花，相反藥也，而蓮心飲以之治癆瘵。黎蘆、細辛，相反藥也，而二陳湯以之吐風痰。又四物湯加人參、五靈脂以消血塊。感應丸以巴豆、牽牛同劑，為攻堅破積之需。相反之中，亦有相成之妙，此古人達至理於規矩準繩之外，故用之反以為神，非好奇之私，而以人命為僥倖也。</p>
<p>一高年紳，患怔忡不得臥，且兼嘈雜、噁心、不知味三證，其脈數而滑，右關特甚，此濕痰凝礙中州使然，是胃病，非心病也。眾醫不識，咸謂心血不足，而用當歸、地黃、人參、五味、遠志、門冬、酸棗仁之類治之，反致目眩、頭旋，見粒輒嘔。余以半夏四錢為君，蒼朮、茯苓、砂仁、黃連、橘紅、澤瀉各八分為佐使，二劑而安。繼以此方加白朮、人參、竹瀝、薑汁作丸，與之服，浹旬全愈。或曰：「怔忡一證，獨無心血不足者乎？」曰：「心血不足之怔忡，絕不有嘈雜、噁心、不知味等證兼之者，今有之，信非其為心病矣。」「然則其不得臣者何病耶？」曰：「《素問》謂『胃不和則臥不安』，亦胃病也」。</p>
<p>驚悸、恍惚、恐怖及怔忡、不得臥諸證，同出而異名者也。不可疑其證之異而治亦與之俱異也。一商，年近五旬，諸證咸集，而於怔忡則尤甚，遠近名家，大半以為心血不足，余則有謂膽氣弱者，有謂心腎不交者，又有謂痰客胞絡，以致神舍不清者。其所用之藥，則皆不外當歸、地黃、人參、五味、黃連、麥冬、菖蒲，遠志、天麻、膽星、茯神、酸棗，以及琥珀、牛黃、丹砂、龍齒之屬，逡巡數年，日以增劇，甚至煩躁靡寧，不餐不寢者逾月。余診之，脈來數且洪，而右關益以滑，此胃中有火有痰之明驗也。先投小胃丹五十丸，胸中便有旋轉勢，而神情亦稍安，即以鐵鏽水一碗，煎半夏一錢、橘紅、茯苓、枳實、黃連、人參、白豆仁各一錢服之，遂得安枕通宵，並索食焉。繼制礞石滾痰丸，日服三十餘顆，未兼旬，而大便續去痰積無汁，頓使病者氣清神爽，百苦盡脫，快不可言。後以艾火灼其腹之中脘、巨闕，以絕生痰生火之源，更以大補脾丸倍加參木以保胃中元氣。證雖有異，而治未嘗有以異也。但此病由於七情抑鬱，心志不克舒伸而得，終非醫藥所能療，必也中懷坦若，不能既往之得失興廢戀其心，庶不更作。商亦頗是有見，家事悉付妻兒，新置一婢，遣之出嫁，日同二三知己飲酒豪遊，忘年忘日，逍遙於世外之天，三十年來不唯病不更作，抑身年雖壽而不衰。</p>
<p>昔一犯腰痛者，眾以為腎虛，而用杜仲、山萸、當歸、續斷、故紙、地黃之類，久而彌甚，乃就質於余，余細察之，則知其病在胃中耳，何也？其飲食減少，時發噁心嘔吐者，非胃中有濕有痰之候乎？且其痛，臥重而行輕，每臥欲起，則腰胯重墜，不能轉側，必將此身徐徐擺動，始克強起而行，迨行，則又漸覺舒和矣（認得透）。此蓋濕痰之乘氣靜而蹈於腰胯之間，故作痛，乘氣動而流散於腰胯之外乃得舒和耳。若果腎虛，則臥而逸，痛必當輕，行而勞，痛必當重，抑何是之反歟？（更透）初與小胃丹五十粒，連下宿水四五行，繼以二陳湯去甘草，加蒼朮、澤瀉、砂仁，三劑痛勢頓減，隨與蒼朮為君之大補脾丸，服未旬余，痛即如失。</p>
<p>余臨症施治，必用自家主意，不敢遽因病人之所告，與傍人之所傳為實據。蓋病自有真，非傍人所能知，並非病人可得言其詳也。余鄰人一少年，偶肆淫於妓者家，歸來自以為損也，乃饕餐厚味以補之，次日，即發熱、頭疼、畏寒不得汗。余視之，病者全不以自諱，實告於余，欲余作陰證治，不意診其脈浮數而不虛，且語言動止，皆壯厲而有力，並不見有所損之侯，是雖犯淫，實陽證也，酌與羌活沖和湯一劑。病者自負知醫，疑而勿服，更一醫，年已老而亦頗有名，可無誤矣，乃謾不加察，輒從病者之所告（古稱老醫，非老年，乃老到耳。），以參薑桂附等藥誤投之，曾未之夕，即躁擾狂越，遍體紅斑。九竅流血，而卒至於死。一農家子，年甚壯，又形偉而氣強，忽患身熱病，遣其兄延余治，余未往，先囑之曰：「我弟無他病，只連日醉飲，更大嚼羊肉麵食與新米飯耳，須得大消導藥乃可療，余竊謂：「知弟莫若兄。」且傷食又農家常習，言雖未確，或亦近之，及往視（有主意），則大不然，六脈洪數而虛極，頭不疼，腹不悶，言語輕微，而更懶於動止，此內傷元氣之虛熱，非有餘病也，連進補中益氣湯十餘劑，參耆加至四五錢，兼以肉食等味而調補之，月逾始愈。嗚呼！信兄言也，則為弟者必含在而歸泉矣。即此推之，而謂傍人之言可據乎？病者之言可據乎？</p>
<p>酒之為人利也，御霧、疏風、祛寒、敵暑、快氣、舒脾、聚歡、消悶。其為害也，腐腸、爛胃、潰髓、蒸筋、傷神、損壽、僨事、招尤。利則當歸功於酒，害則當歸過於人。世之蒙害於酒者，未有不歸過於酒。嗚呼！酒固未嘗害人，人自害於酒耳，胡勿思之甚也。民非水火不生活，何嘗有害於人？然亦不能無蹈水火而死者，遂歸過於水火可乎？</p>
<p>世皆以飲量過人者，稱為善飲酒。噫！善之一字，豈僅飲之過人者，遂足當其稱乎？非也。謂善得酒中之味而飲之不失其宜也，或值花朝或當月夕，或遇天寒，或為雨悶，或撫今追昔，或即景興懷，或肢體愆和，或神思冷淡，或與故人聚首，或與知己談心，或與韻士高人論詩、論文，論世外事，隨境之可，借酒娛情，於此而能多飲者，固謂之善飲酒，不能多飲者，亦謂之善飲酒，即涓滴不飲，而酒致酒情，不多讓於過人之量者，亦未嘗不謂之善飲酒也。若處以無節無厭，日日沉酣之輩，而稱之曰善飲酒，竊恐未當。酒後偶及，敢請政之善飲酒者。</p>
<p>張本斯《五湖漫聞》有云：余于都太僕坐中，見一張翁，年一百十三歲。普福寺，見王瀛洲，年一百三十歲。毛閒翁，一百三歲。楊南峰，八十九歲。沉石田，八十四歲。吳白樓，八十五歲。毛礪庵，八十二歲，俱精敏不衰，升降如儀。問其頤養，皆不飲酒。即如文衡山、施東岡、葉如岩，動靜皆與壯年不異，亦是俱不飲酒者（可見酒之不可沉湎）。</p>
<p>《推蓬寤語》云：人生類以眠臥為晏息，飲食為頤養，不知眠臥最不可嗜，飲食最不可多。飲食過多，則陽氣抑塞。嗜臥過多，則神氣暗消。將以養生，適以殘生。君子夙興夜寐，常使清明在躬。淡味少食，常使中懷舒泰。</p>
<p>《素問》有所謂「用寒遠寒」，「用熱遠熱」之說者，論無病之常也。所謂「不遠寒」、「不遠熱」之說者，論無病之變也。今之人，但知其常，不知其變。時當夏令，不論有病無病，概不敢用桂附乾薑，以犯司氣之熱；時當冬令，亦不論有病無病，概不敢用石膏芩連，以犯司氣之寒。竟不思天令雖熱，而受病在寒，即桂附乾薑，亦所勿忌。烏得因其天令之熱而遠之。天令雖寒，而受病在熱，即石膏芩連，亦所勿忌，烏得因其天令之寒而遠之，須知寒熱之藥，乃治寒熱之病在人身者耳，非治天之寒熱也（舍時從證，自然之理）。</p>
<p>滋陰養血之藥，予固未嘗廢也，世俗則謂我廢而不用，不既冤乎？唯是世之季也，虧敗脾元者十人而九，故不敢謾用濕潤之藥以眉既敗之脾元耳（東垣先生有知己矣。），豈概廢而不用哉？試舉一二最明白、最顯理者以例之，則世之謂我廢而不用者，自迎刃而解矣。如產後諸病，夫人而知其為陰血虛也，倘其人兼有胸腹不利，飲食少餐，或噁心，或嘔吐，或作瀉作脹，而為產後之脾胃病者，豈可據以血藥投之乎？虛癆諸證，亦夫人而知其為陰血虛也，倘其人兼有胸腹不利，飲食少餐，或噁心，或嘔吐，或作瀉作脹，而為虛癆之脾胃病者，豈可據以血藥投之乎？腸風下血，血藥亦所必需也，而或兼有脾胃諸證者，豈可便以血藥止之，而不思更有所以治之乎？崩漏下血，血藥亦所必需也，而或兼有脾胃諸證者，豈可便以血藥止之，而不思更有所以治之乎？世間類是者甚眾，故予不敢妄用血藥以誤人，非真廢而不用也（總之，脾虛不能攝血歸元，不可仍作血病治。）。</p>
<p>或問補中益氣湯，凡為虛證者服之無不驗，唯施於癆瘵骨蒸之人，病必增劇，果何謂哉？曰：此方乃東垣先生為內傷勞倦而生虛熱者設也，夫內傷勞倦而生虛熱者，陽氣虛也，參耆甘草，專補陽氣之虛，故用之無不驗也。佐以升麻、柴胡者，因其氣之下陷也，所謂治氣者主陽而升也。至若癆瘵骨蒸之人，是陰血虛也，陰血虛者，法當用地黃、當歸、玄參、知母、鱉甲、門冬、沙參、牡丹皮、銀柴胡，以及秋石、童便之類，補其陰而降下之也，所謂治血者，主陰而降也，處用溫補升提之藥，是助陽矣。助陽則耗陰血矣，病有不致增劇者幾希！（陰虛陽虛判然有別。）</p>
<p>昔南人有言曰，「人而無恆，不可以作巫醫」。朱子竟認巫醫為兩事，一注以交鬼神，一注以寄生死。岐而二之，恐為未當。夫醫之道，始於神農，闡於黃帝，著有《素問》、《內經》，以救民疾苦，所謂墳典之書，至尊至貴，莫之與並，豈可與巫覡之徒同日而語哉？但醫有不同，名稱亦是有別。精於醫者曰明醫；善於醫者曰良醫；壽君保相者曰國醫；粗工褊淺，學未精深者曰庸醫；但有時運造化者曰時醫；至若擊鼓舞趨祈禳疾病，不以醫藥為事者，則謂之巫醫耳，世之稱為端公太保，夜行卜士，北方稱為師婆，皆此也。正南人謂之巫醫也，蓋謂一切虛誕之輩，亦是不可無恆也。</p>
<p>《醫統》云：「世之行醫者，有一要訣，不必博群書，明道理，只須略讀《難經》、《脈訣》，抄些經驗成方，此外，唯整修醫具，周匝世情，奔走豪門，結歡僕隸，廣賂巫卜，遍囑姑婆，能如是，則到處彰名彰譽，謂有不行者，天下鮮矣。又須老著麵皮，不顧慚恥，口口異傳接命神丹，談及富家巨室，不親是親，不族是族，不相知是至相知，肆大其誇，駭他碌碌庸庸之輩，自然假可作真，耳可當目，偶而僥效，竟冒其功，設也誤傷，委命無怨矣，縱有識者，洞見肺肝，亦只任他笑議，錢財我自得之耳，何必孜孜為學，徒自勞苦哉。嗚呼！醫日流於弊也至此矣，無怪乎有道者之鄙賤矣，欲求得一真醫，亦已難矣。」（時流行狀，描寫無遺，不知裴子亦蹈此弊否？）</p>
<p>近有一等行醫者，偶得一方一藥，輒滿顏矜色，抵掌傲笑而言曰：「我藥能救人之命。」噫！命果何物，而可醫藥救之也哉？即古昔大聖，至神靈、至慈愛，亦不過能以藥治人之病，未聞有救人之命者。今且無論不能救人之命，即欲求其能治人之病者，亦不多見矣。予雖不敏，誦讀於斯者有年，博採於斯者有年，忘食廢寢，默契神參，以至歷危際險者，又有年，亦僅知探虛實、測淺深、權緩急，能治人之病還其不死而已。豈遂因以為功，而曰我藥能救人之命哉？從未之敢也。（謙德）</p>
<p>宋·張子綱，神醫也，居鄭州。刑部尚書慕容彥逢，為母夫人病，召子綱於鄭，至則死矣，時方暑月，將就木，子綱欲入視，彥逢不忍，意其欲求錢。乃曰：「道路之費，當悉奉償、實不煩視。」子綱曰：「傷寒法，有死一晝夜而復生者，何借一視。」彥逢不得已，延入，子綱揭帛注視，呼仵匠語之曰，「曾見夏月死者面色赤乎？」曰：「無。」「然則汗不出而厥爾（識力一至於此），不死也，幸無急斂」，趨出取藥，命急煮灌之，戒曰：「善守至夜半，大瀉則活矣。」子綱舍於外館，至夜半，忽聞病者腹中勃勃聲，遺穢物鬥許而蘇，舉家驚喜，遂叩呼子綱，子綱曰：「吾體倦，莫能起，然亦不必起，盼日方可進藥也。」遲明，徑命駕歸鄭，彥逢詣其室，但留平胃散一貼而已，其母服之，數日良愈。蓋子綱以彥逢有求錢之疑，故不告而去（老到一至於此）。後紹興王秬叔遇子綱，問之曰：「公之術，古所謂十全者□是歟？」曰：「未也，僅能七八爾。吾長子病，診脈，審證，察色，皆為熱（品概一至如此。），命煮承氣湯。將飲復疑，以至再四，勢必飲矣，一似有掣吾肘者，姑持杯以待，兒忽發顫悸，復綿衾至四五，始稍定，汗出如洗，明日愈。使吾藥入口，則死矣，安得謂之十全哉？」嗚呼！子綱往矣。予且未暇高其才，高其識，獨是品概絕倫，大可畏服，千秋而下，願為執鞭，因志之以自勵（虛心一至於此）。</p>
<p>膏粱之人，與藜藿之人，處境固是不同，而形質亦大有別。凡有治療，斷不可同病而拘，一例而藥也。如皆外感病也，而膏粱之人，不可太發散，皆停滯病也，而藜藿之人，不可太消導，皆有火有熱病也。而膏粱之人，不可太寒涼，一或過當，則元氣必致有傷，虛證立見，多死少生矣，正猶柔脆之物，不克勝任風霜故也。</p>
<p>世間有一種太陽之人，有一種太陰之人。太陽之人，雖當冬會，身不須綿，口常飲水，色欲無度，大便數日一行，芩連知柏，大黃芒硝，恬不知怪。太阻之人，雖在暑月不離復衣，食飲稍涼，便覺腹痛泄瀉，參朮薑桂，時不絕口，一有欲事，則呻吟不已。此兩等人，各稟陰陽之一偏者也，與之談醫，各執其性之一偏而目為全體，嘗試而謾為之，雖與之言，必不見信，其為誤也，可勝道哉！</p>
<p>趙養葵曰：「冬至一陽生，夏至一陰生，此二至最為緊要。至者，極也。陰極生陽，絕處逢生，自無而有。陽極生陰，從有而無，陽變陰化之不同也。若春分秋分，不過從其中平分之耳。然其尤重者，獨在冬至。《易》曰：「先生以至日閉關，」閉關二字，須看得廣，《月令》云：「是月齋戒掩身，以待陰陽之所定，則不止關市之門矣。」</p>
<p>又曰：「冬至一陽生，當漸溫暖，何為臘月大寒，冰雪反盛？夏至一陰生，當漸清涼，何為三伏溽暑，酷熱反熾？」曰：「此將來者進，成功者退，隱微之際，未易以明也。蓋陽復於下，逼陰於上，井水蒸而堅冰至也。陰盛於下，逼陽於上，井水寒而雷電合也。凡病面紅、口渴、煩躁、喘咳者，誰不知是火盛之極，抑亦自有腎中陰寒所逼而然者，豈可概用寒涼之藥害人生命乎？」</p>
<p>何柏齋先生曰：劉河間論三消之證，皆由濕寒之陰氣極衰，燥熱之陽氣太盛所致。《玉機微義》深取其說，且謂治此疾者，補腎水陰寒之虛，瀉心火陽熱之實，則病自己。復斥世論以暖藥補腎之誤，不知世論大是有理，特詞不足以發之耳。蓋腎主元陽，元陽之火盛，則能升腎藏之水，使津液上行（從未有發），以制心火而為既濟。元陽之火衰，則腎藏之水不升，水之入於腸胃者，皆從其降下之性而不升散，故心火無制，熾盛而作渴，此蓋水火未濟，而未可遽謂濕寒之陰氣極衰也，若謂補其腎水陰寒之虛，便可止渴，則水固陰寒之物也，渴者飲水不絕何以不能補其陰寒之虛而止其渴耶？其論之非明矣（透快驚人）。世論用暖藥補腎使腎水上升以制心火，不為無見，但消渴之證，必燥熱之陽氣有所鬱結而成，若不求而去之，輒用暖藥補腎，則藥病扞格，暖藥未得收補腎之功，而先用助邪之害，則消渴愈甚，又不可不慮也，法當用涼藥食後服之，以清其上，更用暖藥空心服之以培其下，權其輕重緩急而施治之，庶無偏弊耳。世傳有渴病，誤飲躁絲湯而止者，蓋緣絲湯所煮者，蠶繭也，蠶性極熱，煮而為湯，澄冷而飲之則熱性歸下而不扞格，故能升腎水以制心火而止其渴（格理精微），所謂熱因寒用者也，世人雖知有此治，而未能明其旨，茲故及之。</p>
<p>朱丹溪先生曰：西北之地多風寒，故患外感者居多。東南之地本卑濕，故患濕熱者恆眾。蓋北方高阜，天不足西北而多風，東南卑下，地不滿東南而多濕。方土之侯，各有不齊，所生之病，多隨土著，醫者必須因時處治，隨地判宜，治北人之病，宜以攻伐外邪為多；治南方之疾，宜以保養內氣為本。何也？西北氣厚，飲食倍常，居室儉素，元氣不戕，一有疾病，輒用疏利，其病如脫。若夫東南，體質柔脆，腠理不密，飲食色欲，與西北迥別，概用疏利，不幾於操刀殺人耶？雖然，西北固厚，安能人人皆實？南方雖薄，安得人人皆虛？必觀其人，因證而藥，斯無一偏之弊耳。</p>
<p>王節齋先生曰：或問今人有言東垣之法，宜用於北，丹溪之法，可行於南，如何？曰：東垣，北醫也，羅謙甫傳其法以聞於江浙。丹溪，南醫也，劉宗厚世其學以鳴於陝西。果如其言，則《本草》、《內經》，皆神農、黃帝、岐伯之說亦止宜施於北方耶。夫五方所生異病，及治之異宜，《內經》《異法方宜》、《五常政大論》，已詳言之矣，又如北方多寒，南方多熱，江閩多濕，嶺粵多瘴，謂其得此氣多，故亦多生此病，非謂北病無熱，南疾無寒也。至於治寒以熱，治熱以寒，則五方皆同，豈有南北之異耶？</p>
<p>又曰：或問人言東南氣熱，可服寒藥，西北氣寒，須服溫藥，然今東南之俗，胡椒薑桂人常食之，不見生病，而北京士大夫，畏食胡椒辛熱之物，何也？曰：東南雖熱，然地卑多濕，辛熱食藥，亦能劫濕。西北雖寒，然地高多燥，辛熱食藥，卻能助燥故耳。用藥者宜識此意。</p>

<h1>卷之三</h1>
<p>或問醫之療病，須善用權，權之義，安解乎？裴子曰：權者無心物也，宋子譬之秤錘，以其秤物平施，可輕亦可重也。用之者胸中不得預擬一成見，當在兩，秤錘不得不在兩，當在斤，秤錘不得不在斤，本非一定不移之物，而有一定不移之理，有一定不移之理，無一定不移之心，醫者必如是，而後能乘時制宜以濟人之危而無弊。如虛可補也，容有時乎不可補，而因攻以為補，實可攻也，容有時乎不可攻，而假補以為攻。病在此，而治未嘗必在此，病在彼，而治未嘗必在彼，病同，而治或不與之同，病異，而治或不與之異。硝黃之寒也，以之攻寒，桂附之熱也，以之攻熱，羌防發汗而還以斂汗，蒼半傷津，而即以生津。地黃之濕，亦有補脾利水之功，茯苓之通，亦有止溺塞精之益。至於改湯作丸，變丸為散，朝黃連，暮附子，與怒勝思，思勝恐，恐勝喜，喜勝悲之類，無非權也。用之者，不知有所謂權也，唯知時所不可，不執素所守之可以為可；時有所可，不執素所守之不可，以為不可耳。夫不執素所守之可為可，所不可為不可，而以時之所可為可，所不可為不可者，乘乎時之所宜也。時之所宜，即理之所宜也，理之所宜，雖欲不權不可得也。然則權豈易言哉？非有才有膽有識有學，而又虛其心者不能也。何也？蓋權之用在理，而理之明在心，故必使此心不致有纖微之蔽，庶乎理可徹而用可圓。心苟不虛，心且受蔽，理何明乎？縱有學焉，無識之學已，縱有識焉，無學之識已，縱有才焉膽焉，皆浮氣已，安遽能乘時制宜而無弊耶？由此言之，則不獨無才無膽無識無學者，不可以用權，即有才有膽有識有學者，亦未可以用權。必有才有膽有識有學而又虛其心者，始可以用權耳。噫！權豈易言哉？</p>
<p>夫方之能對病而取驗者，自有所以對病取驗之理，在不可專執本草中主治，而曰某藥定是治某病，某病定是用某藥而已也。如一婦，坐草已三逾日，胞水盡行不得下，寢變瞑眩無知，牙關緊閉，手足無氣以自動。當此之際，若論催生之藥，則當歸、川芎、人參、益母、冬葵子之類，其主治者矣。余獨不然，以半夏為君，蒼朮，澤瀉、茯苓為臣，人參、黃連、厚朴、橘紅、豆仁、薑汁為佐使，急煎俾飲，一飲而蘇，再飲而產。是豈蒼朮、半夏、黃連、諸藥能催生者乎！蓋自有所以催生之理，在本草未之及也。又一士人，大病久虛後，已大受餐，且服大補氣血之藥兼旬越，宜其起矣。不謂飲食頓減，遍體畏寒，自汗盜汗，晝夜無寧已。二三名家，企擬多汗亡陽，專以桂、附、參、耆為治，汗益多而寒益甚，卒加參香至兩許，仍爾也。余則以羌活、防風為君，蒼朮、半夏為臣、黃連、陳皮、砂仁、厚朴、茯苓、桂枝、浮麥為佐使，甫一劑而汗旋收，並不畏寒矣。隨制人參大補脾丸與之調理，不逾月而康。是豈羌活、防風、蒼朮、半夏、黃連諸藥能治大病日久之虛汗虛寒者乎！蓋自有所以斂汗止寒，又無損於大病久虛之理，在本草未之及也。或曰，敢問香燥藥之能催生斂汗止虛寒者，果何謂耶？曰：此從病之本，而略病之名也。論病之名，雖有難產多汗畏寒之不同，而其病之本，則皆痰涎壅閉胃口耳。胃口者，真氣運行之樞所也。彼難產者，真氣本滯，且經連日困頓，飢飽難調，穀食疏而湯飲雜，勢必釀作痰涎以閉胃口，則真氣益滯而不行，視其瞑眩無知若狀，可徵也。故不得不用蒼朮、半夏等藥，開豁痰涎，使真氣得行，而自產耳。若專事催生之藥，適足為胃口增邪，不生氣閉絕而子母盡傷不止矣。至夫大病久虛後之多汗畏寒者亦猶是。大病久虛後，胃雖強而氣尚弱，易於加餐，難於運化，且兼湯藥之補無虛日，則濕熱必鬱於中宮而為痰涎矣。故飲食頓減，而多汗多寒耳。或曰，痰病食減，亦誠有之，若汗與寒，則安所解？曰人身捍衛之氣出於胃，胃既為痰涎所閉，則捍衛之氣不能布皮毛，充腠理，而多汗多寒矣。先哲謂中脘有痰，令人多寒，脾濕不流，令人多汗。未知之乎？其多汗而反用羌、防者，以多汗而腠理開，風氣乘虛來客，必先去其風而汗始易收也。其畏寒而反用黃連者，以寒非虛寒，乃濕熱生痰所致之寒，濕熱清而寒自止也。有此病，用此藥，何嘗不遵本草中之主治哉。但不執其主治之名，而從主治之本耳。</p>
<p>昔王好古論人參，曰肺熱用之則傷肺。王節齋論人參，曰陰虛血證忌服，服之過多必不治。余深味之，皆千古不可移易之繩墨，何後之妄議其非者紛然也，是豈詞不足以發其理，而人莫之解歟？非也。唱和成風，耳熟心痼，遂不復有揭其理而正其訛者矣，謂非吾道之一大不幸哉！夫所謂肺熱者，即陰虛之肺熱也。所謂陰虛者，即肺熱之陰虛也。蓋肺熱謂陽獨盛，陰虛謂陰獨虛，陰獨虛，則陰不足以化陽而火熾，火熾則爍金，而咳血咯血乾嗽聲嘶諸肺熱之候所從出矣。此正有陽無陰之瘵病（有陽無陰四字，人可深思），治當曲盡養陰之法，以化陽而救熱，遽用人參助其陽氣，則肺愈熱而陰愈虛，喘嗽痰血，不愈甚乎。兩先生所以垂戒諄諄乃爾。後人不察，悉誤以《素問》無陽則陰無以生之旨，認作陰虛之病論，則曰造化之理，陰從乎陽，凡陰虛者，必皆用人參補陽而生陰。又執朱丹溪虛火可補參、耆之屬，暨張潔古人參補上焦元氣而瀉肺中火邪，以及李東垣人參補元陽生陰血而瀉陰火諸論，以為凡屬虛火、肺火、陰虛之火，無不可用人參以補之，遂懵然侈口而斥兩先生之非，嗚呼，何其不明之甚耶（近有《頤生微論》，亦效此口吻，妄議兩先生可笑）。《素問》，謂無陽則陰無以生，論陽虛之病耳，非所論於陰虛也。其所論於陰虛者，已自有無陰則陽無以化之句，與此彰彰並載於書，豈獨置之易講乎（數千年晦蝕之旨一旦重光）。一則曰其無陽也，治當補陽而生陰，一則因其無陰而有陽也，治當補陰以化陽耳。明乎此，則知其無陽者，可以補陽，而有陽者，不可以補陽矣。若以補陽氣不足之人參，謾加於肺熱陰虛之病，是有陽而又補其陽矣，奚可哉？若夫丹溪謂虛火可補，非謂其可補氣虛之虛火也，非謂人參可補陰虛之虛火也。氣屬陽，有餘便是火，不足而補火自退，有餘而補火愈熾矣。潔古謂人參補上焦元氣而瀉肺中火邪者，亦指其補上焦元氣不足而瀉肺中火邪也，非謂人參能補陰血不足而瀉肺中火邪也。至東垣謂人參補元陽生陰血而瀉陰火，亦因元陽之不足不能生陰以制火，故補之，非為元陽之有餘也。不究其理，而妄議其非，不大謬哉！或曰，然則四物湯之加知、柏、人參以治陰虛潮熱；瓊玉膏之用人參以治肺腎陰虛嗽血；靈苑方之用人參為末雞子清調服，以治上氣喘急咳血唾血；又大吐血後之不用血藥，以獨參湯專補陽氣而生陰血豈盡欺人者乎！曰：其喘嗽、潮熱、咳血吐血等證，固不可謂之陰虛，不謂之肺熱，其與兩先生之所謂陰虛謂肺熱者，則不同也。何也？兩先生之所謂陰虛謂肺熱者，謂陰獨虛，而陽獨盛者也。若四物加人參等方，則是治陰虛陽亦虛之候也，未至於陰獨虛而陽獨盛也。或曰：陰與陽，若權衡，一虛則必一盛，豈有陰既虛而陽亦虛之理乎。曰：陰虛陽必盛，勢固然也，但陰之虛，必自漸而虛，陽之盛亦必自漸而盛，陽自漸而盛，僅可謂之陽漸盛，未可謂之陽獨盛也，未可謂之陽獨盛，雖謂之陽亦虛亦可也。蓋此時亦尚有可受補陽藥之餘地在，故不得不用人參於補陰藥中，以佐獨陰之不長，不如是則陰無以生矣。然用參者，務須以陰虛陽盛之淺深為增損。如四物湯，治陰虛潮熱，既加人參，又加知、柏為監製。瓊玉膏治陰虛嗽血，以生地黃為君，而人參僅佐十五分之一，亦皆衡量而施，不敢多用以助陽之盛。節齋先生復有過多不治一語，良有苦心。若至陰虛漸深，陽盛亦漸深，則未有不至陰獨虛而陽獨盛者矣。至此，便是有陽無陰之瘵病，無論人參不敢多用，即最少如瓊玉膏之法，恐亦不無抱薪救火之虞矣。靈苑方者，乃治元氣大虛，脈來無力之咯血唾血者耳。獨參湯者，乃治卒然大吐血後，氣敗神疲，六脈幾絕，所謂陰竭而陽暴脫者耳，更非所以治陰虛治肺熱也。豈可遽執古方皆用人參，遂指兩先生為非哉？若遽指兩先生為非，而謾加人參以誤有陽無陰之證於非命，俗流必視人參為蛇蠍，並視無陽則陰無以生之旨為空言。而凡遇陰虛陽亦虛之候，盡畏人參而不敢前矣，其為禍於萬世蒼生，寧有既耶？</p>
<p>或問痢之初發，吐之無度，新產之昏暈，大吐血之不止，傷寒發熱不休，腹中痞堅如石，胸痹腫突如嵐，胃脘脹悶不能食，氣喘痰升不得眠，以至冷氣嗆心，狂言奔走，坐臥不寧，腹中按之硬痛，大便不通之數證。世皆執為有餘之證，而不敢用人參以補之者（蓋此數證，有餘者居多，人參之所以難用耳），子獨於此數證之間，屢用人參而屢獲驗，果何渭哉？曰：此皆似有餘而實不足之證，非真有餘也，不用人參以補之，則虛虛之禍，易可勝言。曰：何以知其似有餘而實不足也？曰：全憑乎脈，而兼徵形色之榮枯，呼吸之衰旺，與手、足、面鼻之寒溫，乃得之耳。曰：既憑乎脈，其所現之證似有餘；而所現之脈或不足，猶可憑其脈而斷其虛。若所現之證似有餘，而所現之脈亦似乎其有餘者，則將何所憑而斷其虛乎？曰：其所現之脈似乎有餘者，非洪大則數極耳。人見其脈之洪大，遂謂有餘，殊不知脈雖洪大，而以指按之，必隨指而軟散，不能與指相搏矣。《素問》所謂脈至而從，按之不鼓者此也。至於數極之脈，似為有熱，而不思有熱之數，數而有敘，無熱之數，數而無倫，無倫者言脈來之數極，而至數不克整齊耳。既得其脈，而又以形色、呼吸、手、足、面、鼻之虛實而推測之，則其似有餘，而實不足之證，自無可匿其情矣。此時縱有大實大滿大熱之候，豈可遽執堅者削之，留者攻之，升者降之，熱者寒之之法，而誤人於非命哉（垂教萬世無窮）。</p>
<p>世俗謂產後三日內不可用人參，測其意，恐瘀血之不行耳。噫，果瘀血之不行而謂不可用，誠是矣。設有行之不止，以至昏眩無知，六脈幾絕，手足盡冷，而為血脫陽亡之候，其亦可以不用乎？竊恐此際即立煮人參、薑、桂急救之，亦有不及濟者矣，安問三日與不三日也。今之病家醫家，未經參究，每遇產後，但知有瘀血不行之可慮，而不知有血脫陽亡之可危，恆坐視人之死而不救，可悼也夫。</p>
<p>一巨家室，五月而小產，產不逾時，而即血崩不止，六脈虛微，神情昏倦，此血欲脫而陽欲亡之候也。予甚惶怖，急以人參一兩，肉桂二三錢，不切而咀，即注爐頭沸水，急急煮飲，以追既耗之元陽。煮未半，而室已運（暈）去，更視之，則六脈幾絕，手足冷而通體涓涓汗矣。予惶怖益甚，忙取二大磁甌，不待參味煮全，旋以一注參汁少許，急持與飲，復以一又注少許，急持與飲，如此遞相持飲，飲盡，即脈起神蘇，手足溫而汗已收矣。既而胸中作滿，疑故於參，予謂此非參故，乃湯飲多而不能頓行故也。頃俟腹中有汨汨行下聲，自平耳，未幾果然。然其所以用參之不切而咀，而又以沸水急煮者，何也？恐稍緩不及濟事耳。其注參汁於大甌，而遞相少進者，又何也？恐參汁熱而驟難下口，轉致遲遲耳，非有他也。不如是，則徒有救人之心，而無救人之術，與不救者何以異？</p>
<p>甚哉，成見之誤人也。予昔治一女人，難產後，即發熱不止，汗甚多而語甚錯，六脈洪大而虛，且又坐臥靡寧，五六晝夜，曾不經一閤眼，此身不啻飄飄浮雲中，則明是一個氣血大虧，以致虛陽亢上的證候。夫何以參、朮、歸、耆、丹皮、童便及炒黑乾薑之類，屢進而屢不驗，且不止不驗，反增頭眩耳鳴，噁心嘈雜欲嘔不得嘔數證，則知其非氣血之大虧，乃痰涎之壅盛矣。遂更一方，半夏三錢，天麻二錢，鐵鏽水煎服。不二劑，而氣爽神清，身涼脈靜矣。繼以人參大補脾丸，日進二服，以培胃中元氣，數日後，漸覺飲啖加餐，月餘全愈。然則予之所以誤認為氣血之虧者，執產後之成見於胸中耳，須知學者不可不虛其心而廣其識也。</p>
<p>一士人於冬月患痢，晝夜幾百余度，裡急後重，噁心不能食，腹中按之硬痛，六脈細數無倫，手足面鼻俱青冷。雖當初痢，卻屬陽虛，大非木香、檳榔、黃連、大黃之所能治者。急煮人參一兩，桂、附、乾薑各一錢，不食頃，已再進，竟不見有溫補之驗。續與倍加桂、附者二劑，而後手足漸溫，噁心漸止，飲食亦漸進，特痢未之減耳。更以人參為君之大補脾丸，仍加桂、附，俾旦晚服之，以扶胃氣而加餐飲食，此治本之第一要圖也。半月來，約服人參八九兩，附子三枚，脈始洪長有力，口復燥渴而思飲冷，其始則陰，繼則為陽耳。仍以大黃、黃連、檳榔、芍藥之類，滌去腸中宿垢，後以加減參苓散作丸，與之保全元氣。</p>
<p>昔余母年七十時，先已熱病有年矣，復於除夕，陡然病痢，痢次之頻，不可以數計，加之神昏不語，雙眸倦開，身發熱而面赤，氣奔迫而脈洪大以虛。默想如此高年，如此久病，如此脈證，豈可遽以常痢常法療之也哉。且察其所痢之勢，甚頻而滑，又不見裡急後重，則明示以當補不當瀉之候。隨取人參、蓮肉各一兩，砂仁一錢，不間晨夕，濃煎灌之，至五日，果得痢減神清，身涼脈靜，並索食矣。自此，日用補中益氣湯，加桂、附少許，服至四十餘劑，始得飲啖神情俱如故。後幸終其天年，度八十歲有奇而去。</p>
<p>一士人，年三年餘，性偏窒滯而多房欲。忽於暑月，腸胃堅結不行，腹中按之硬痛，且氣弱神疲不能食，其脈則遲細而虛，曾已快藥下者數四。予謂此元氣大虛不能運行所致，絕非有餘證，更用前藥，請勿復敢見矣。遂違眾，以人參二錢，肉桂一錢，大棗五枚，不終朝而二劑，雖不覺有補助之功，然亦安妥而無忤。後以補中益氣湯，人參加至四五錢，連服五六劑，始克脈旺神昌，頻餐粥食，大便不攻自行。</p>
<p>一貴室婦，傷寒汗下後，脈洪大而熱不止，口不渴，腹不滿，身不畏寒熱，只氣乏神疲，昏迷似睡，叫呼不能以語應，眾醫咸聚，有謂傷寒兼中痰者；有謂是狐惑傷寒者；有謂腹中尚有燥屎，更須通利者；有謂餘熱未清，更須和解者。予曰：皆非也，乃元氣之大虛也。以人參五錢，當歸三錢炒黑，乾薑二錢，五味子三十粒，不間晨夕者七餘服，果得身涼脈靜，氣爽神清。</p>
<p>偶得往來潮熱之候，未可遽執為外感風寒，輒服發表之藥。蓋其間亦或有元氣內損而然者，一或少差則陰證立至，多死少生。當此之際，務期反心自忖，數日以前，數日以後，有無勞倦之傷，有無飢餒之失，有無房欲之非，反復加詳，庶不致為醫藥所誤（細心詳察）。</p>
<p>吾鹽一高年紳，止一子，年三十餘，素恃形氣強偉，全不以醫是慎，忽於癸未六月間，因母壽觴，宴客連日，以致應酬勞頓，遂發往來之熱，類乎外感，渠宿與一醫交善，即邀以治之。醫值他適，其徒代為之視，輒與羌活、紫蘇、防風等發散之藥一劑，服後汗大出而熱益不止，乃求治於余。余往視，則形氣雖不減於平時，而六脈已細數無倫矣。嗚呼！本屬內傷，又復大汗，為之奈何。即取人參、黃耆各五錢，附子、肉桂各二錢，當歸三錢，浮小麥一撮，急煎俾飲，以冀其幸。不謂處劑方成，而渠師適至，則亦認為外感，輒棄予藥，復以前湯表之，汗更大出不止，曾不移時，絕不見有纖毫脈矣，深夜而斃。須知膏梁子弟，外實內虛，不可拘其氣強形偉，遽恃之為大椿也。</p>
<p>昔予一故人，賦性沉滯、思慮偏多，年至四十有六，始生一子。又值留都亡之次年，抑鬱之懷，勢必倍於疇昔，則真氣內傷，非伊朝夕也明矣。（形未病而神先病，真內傷也）忽當暑月，復因時變奔馳，失調飢飽，隨病往來寒熱，一似瘧焉。時予遁跡山中，聞問都杳，不得與之候。延一醫，以為寒客，而以羌活、防風、柴胡、葛根等類汗之。更一醫，以為食滯，而又以枳殼、山楂、陳皮、厚朴等類瀉之，若飲食，則絕然不與，病日增而體日困。偶予入邑聞之，急趨候，而已身汗如淋，兩脈盡脫，莫之挽矣，每念及此，深為痛心。</p>
<p>一孝廉，往為諸生時，以遷居縈擾，旦暮為勞，且亦兼有少年事，內傷元氣，業已久之，而於秋盡冬來，忽發日哺之熱。渠頗自負知醫，恬不以意。予為診之，則六脈已虛疾無倫，殊為可駭。渠時見予畏難色，反笑而迂之曰，某瘧耳，安足慮。予曰：勢且隨劇，易以瘧云，即處一湯，以人參五錢，桂、附、歸、術各二錢。囑曰，急急煮飲，差可無虞。渠猶泄泄，未之遽信。曾不移時，輒汗流如洗，手足冷而目眩神疲，就枕不能布語矣。始信予言之不謬，急以前湯連服五六劑，人參加至一兩餘，勢乃定。於是自家而族而親友，金相頌曰，功莫大矣，感何如之。予曰，未也，三日內無變證，方為佳兆。眾疑而問其故，予曰：脈尚几几欲絕耳。越日，更往視，則脈狀仍然，而汗復以時至，予心憂甚，即止宿於渠家，不避晨夜，以猛圖事之必濟（真心救人如此較之重惜名譽者，不啻天淵）。旋用人參一兩，附子半枚，另用黃耆二兩，煎湯煮之，如此大劑，不須臾而二進，汗竟不止，三進亦不止，至四進猶復不止時，參已竭而漏鼓已三沉矣。家居郊垌，無參可市，為之奈何。不得已，復以煮過人參四兩，咀而味之，則亦尚有餘性，即合煮汁以濟權時之竭。卒至子後陽生之分，補力方到，而胃氣方回，得啖糜粥二甌，肉食數著，而汗始止，脈亦自此有敘，不至虛疾無倫矣（可見胃氣便是元氣）。遲明，急市人參以繼之。後全愈四逾年，得舉鄉試時有聞其捷音者，握予手而言曰，某貴矣，必憶當年用藥人也。予曰，今日可貴，昔日自然天相，於裴生乎奚有？聞者曰，某鄙人也，幾以陋俗者陋子矣。</p>
<p>長病與高年病，大要在保全胃氣。保全胃氣，在食不在藥，萬不可專攻於藥，致妨於食。倘其力所能食時所當食，寧可因食而廢藥，不可因藥而廢食（日月中天）。</p>
<p>人當病愈後，胃氣必虛，固不可恣情口吻，尤不可小心太過，絕口不沾肉味。或曰，本草謂豬肉助火生痰，發風動氣，於人有損無益，子何出此言也。予曰：人以血氣成軀，虛則當以血氣之味為補助，此固自然之至理。岐伯所以有肉為胃藥之稱，孟氏所以有非肉不飽之論也。朝與夕親，心以成性，雖有助火生痰發風動氣之害，亦與之俱化矣。予有一譬焉，譬之藥中之大黃，非所稱有損無益者乎。而或蟲生其間，則必不能離大黃以為命，設取而飼之人參、白朮之中，其蟲反不得所而死矣。此各隨其質之所由生，性之所由習，豈概論物味之損與益哉。又如汙泥糞壤，孰不以為穢惡之物唾而遠也，其間或生蟲焉，則亦必藉汙泥糞壤以為命矣。倘憐而愛之者，將畜之於清谿冽澗之中，其為蟲也，得更有逾時之命乎？由此推之，則豬肉之於人，未嘗有損而無益也。</p>
<p>澉川一故人子，傷寒旬日後，身熱不止，形氣衰疲，語言低怯，頗近危困。及脈之，則兩手皆平，一似無所病者（從脈不從證者此也）。隨詢之曰，腹中飢否，曰：飢甚，急取糜粥一碗與之食，便覺神情蘇若有生趣矣。頃之，復思雞子食，即以雞子二枚攪勻和水，熟而食之，更覺神情愉悅，語言多力矣。未幾，聞有肉絲與筍菜調羹，香美欲食，遣婢問余，余沉思良久，曰食亦不礙。隨與肉絲羹碗許，一啖而盡，半日間，神情頓為清徹，並不知其熱之於何而解矣。時渠尊老，自山中請卜而歸，張皇殊甚。未交揖，輒問予曰，此兒可得復生乎？予故戲之曰：不能，曰：是則奈何，不識尚可用藥否？曰：頃已三劑矣，一粥二雞子三肉絲羹。渠老不覺驚喜交集，撫予肩背而大聲曰：是何治法？曰，無他，病已去，胃已虛，所少者食物耳。何必姜三片，棗二枚，服不拘時，渣再煎也（趣極）。</p>
<p>傷寒初起時，則畏寒喜熱，數日後寒邪傳裡，變為熱邪，不畏寒反畏熱矣。此際慎勿扃門塞牖，垂幕多衾，以助其勢。倘更畏熱之甚，渴欲飲水，躁欲裸形，亦便當權時任性，勿得過為拘忌。不止傷寒為然，凡雜病有餘之熱，法亦同之。</p>
<p>傷寒熱極狂躁，渴欲飲冷，而以橘藕瓜梨之類，及新汲井水，涼而解之者，先賢之立法也。世人不曉，謂是予之臆說而不敢用，其為誤也，可勝言哉！《類編》所載程元章夫婦皆嗜鱉，一婢日主烹飪，不適口，即撻之。偶一日得一鱉，頗肥大，夫婦以足充其嗜，喜甚，執行操刀欲屠，忽不忍其伸縮，用釋縛而置之後園池中，夫婦以鱉失，怒而重撻。越二年，婢患熱病，昏聵幾死，遂移棄後園池亭以待盡。不謂天未曉，後宅有扣扉聲，眾疑為鬼，婢曰：是某耳，啟之，果然。眾驚問其故，對曰，夜將半，彷彿一黑物，將濕泥萍草，遍覆周身，頓覺肢體清涼，百苦盡脫，始知獨臥亭子上。夫婦異甚，迨暮，復使往效昨夕所為，而密伺之，見一大鱉，負水藻泥蘋，自池中出，夫婦不省所以，婢遂實以往事告，急涸其他，果得一鱉，已倍大子昔矣。尾後穿竅猶存，即遣使送至深淵，自此夫婦感悟，永不食鱉。嗚呼！一水族之微，而亦識熱者寒之之法，不亦深可慨哉！</p>
<p>傷寒本是陽證，若至日久不痊，須防陰證。蓋傷寒日久，元氣已虛，更或寒涼與汗下之藥太過，則元氣之虛益甚，陽證變陰，恆有之耳。其脈則洪數無根，或斷續不整，與細疾無倫次。手足則乍溫乍冷，或手足未冷，而鼻端先冷。此時縱有躁渴狂譫舌胎便結等熱證，不可更用涼藥矣。急當以桂、附、參、姜，酌微甚而溫補之。溫補之後，倘或復見陽證陽脈者，不妨仍用陽證之藥。</p>
<p>煮藥用水，天泉為上，山水次之，河水又次之。至於井水，則陽和微而陰濁勝，非病所堪。唯傷暑傷寒之熱極，宜新汲而飲之。彼城市中人，日用井水而不深害者，習之熟也。若有病，則又是不用井水為良。</p>
<p>張子和曰：余昔訪靈臺間太史，見銅壺之漏水焉。太史召司水者曰：此水已三環周，水滑則漏迅，漏迅則刻差，當易新水。余劃然悟曰，天下之水，用之滅火則同，濡稿則同，至於性從地變，質與物遷，未嘗罔焉。故蜀江濯錦則鮮，濟源烹楮則⿱吅奄，南陽之潭漸於菊，其人多壽，遼東之澗通於葠，其人多發，晉之山產礬石，泉可愈痘，戒之麓伏硫黃，湯可浴癘。又如冰水咽而霍亂息，流水飲而癃閉通，雪水洗目而赤退，鹹水濯肌而癆干。千流萬種，言不容盡。至於井之水一也，尚數名焉，及酌而傾曰倒流，出甃未放曰無根，無時初出曰新汲，將旦首出曰井華。一井之水，而功用不同，豈烹煮之間，將行藥勢，獨不擇夫水哉？用水者，其熟察之。</p>
<p>煮藥之法，取味者炎宜緩，取氣者炎宜速。若遇倉卒之病，則不論取氣取味，皆宜速，緩則病邪滋蔓，蔓難圖也。余每到病勢危篤之家，未診視，先令急煮水，診視竣，水即湯湯矣，取藥煮之，差可濟急。</p>
<p>世俗眼藥之弊有六：有食已而即藥者；有藥已而即恣飲茶湯者；有藥食雜進而恬不之忌者；有才服此醫之藥，而旋以彼醫之藥繼之者；有明受此醫之藥，而陰則服彼醫之藥，不肯明言以欺者；更有苦於服藥，所授湯丸，必潛傾廢，中外侍人，又為互隱而無可稽窮者。病或偶減，固無論已，設或偶增，咎將安責？</p>
<p>病中固宜節食，尤宜節飲。食傷人所易知，飲傷人都不覺，不唯茶湯漿酒以及冰泉瓜果之傷，謂之傷飲，即服藥過多亦謂之傷飲。其見證也，輕則腹滿腸鳴，為嘔，為吐。重則腹急如鼓，為喘，為呃。甚則緊閉牙關，涎流口角，昏憒不醒人事，狀類中風。患此證者，滔滔皆是，或未有識，不得不為來者言之。</p>
<p>世俗謂病瘧之人，忌茶忌藥，不則令人中滿。余深味之，亦甚有理，特詞未之達耳。所謂忌茶者，非忌茶也，忌茶湯也，謂病瘧之人，茶湯不可過飲也。忌藥者，非忌藥也，忌湯藥也，謂病瘧之人，湯藥不可恣投也。蓋病瘧之人，中宮多濕，若更過飲茶湯，恣投湯藥，則以濕助濕矣，鮮有不敗脾元而成中滿之候者，孰謂恆言無補於世哉！</p>
<p>脾胃者，養生家第一要具也，不可使之熟生物，熱冷物，軟硬物。雖然，竟是有食生而不見為生所積，食冷而不見為冷所凝，食硬而不見為硬所礙者，此皆逞脾胃強旺之熱於一時，實不足為養生訓也。</p>
<p>舉凡胸腹中有痰，有飲、有積、有痞，或脹、或痛、或酸、或糟、或吐、或瀉一二症，時止時作，經年不瘥者。急須猛意以圖全愈，毋俟他日別病相加，掣肘莫措。然其所治之法，則灼艾先而藥石次，蓋灼艾治，與藥石不同，藥石固能治病，久之必動腸胃，妨飲食而壞元氣，灼艾則不唯能治病，並不動腸胃妨飲食，以致壞元氣耳。嗟嗟！世之人，喜藥石而惡灼艾者多矣。而抑知灼艾之為功，遠逾草根木皮萬萬也（今人皆徒治其末，不治其本，所以十病九失）。</p>
<p>灼艾後，唯節飲食三字為首務，不可饕餮厚味，致傷胃氣。今之人，一經灼艾，便以食不勝人為憂。其始也，胃氣未傷，猶能勉力啖嚼，數日後，胃氣被傷，即脹滿而不能食，不瀉則吐，不吐，則瘧與痢所從出矣。更不思自貽伊戚，而猶咎施艾者之無功，良可笑也，良可悲也。</p>
<p>虛勞病，唯於初起時，急急早灸膏肓等穴為上策。外此，則絕房室，息妄想，戒惱怒，慎起居，節飲食，以助火攻之不逮。一或稍遲，脈旋增數，雖有良工，勿克為已。葛可久曰：癆證最為難治，當治於微病之初，莫治於已病之後。深有旨也。至夫藥餌，則貴專而少，不貴泛而多。萬不可謾聽名流，積月窮年，不撤潤肺滋陰之藥。潤肺滋陰之藥，擅名固美，釀禍極深，不可不知，不可不慎。</p>
<p>世欲謬以周身刺痛為鬼箭打，不知此病，乃是濕痰與氣交滯而成。滯於腰，則腰痛；滯於背，則背痛；滯於胸肋，則胸肋痛，豈有鬼箭之理哉？治當破氣而兼燥濕消痰之藥，痛無不止。今世俗有以針挑揩擦而痛亦能止之者，卻合此破氣行滯之一法，未可遽指為非也。唯是草漿油酒，與穢惡不堪之異味，害人不淺耳。胃之強者，間可倖生，胃之弱者，卒無一人免於死，痛哉。</p>
<p>凡胃氣不足之人，斷不可謾服草頭藥汁。草頭藥汁，最能傷胃，胃氣虛者，服之必死，縱或不死，胃氣終難完復。且更是有草類相似，收採不真，誤中殺人之毒於頃刻間而莫之救者矣。歷有明驗，言之慘人。</p>
<p>紹興有僧名希賜者，從客舟自番禺至，舟中有士人，攜一僕，病腳弱不能行，僧憫之曰，吾有一藥能治，效如影響，餌之而瘥者，不可勝計。僧進寒廟，飲頗醉，即入山採藥，遽投酒中，授病者服之，方入口，轍呻吟云，腸胃痛極，如刀割截，遲明死。士隨以咎僧，僧曰，安有此事，即取昨夕所餘藥，自投酒服之，不逾時亦死。蓋由山中多斷腸草，人食之即死。僧之所採，想為根蔓所纏結，因醉，不之擇，是以及於禍，信知草藥不可輕服也。</p>
<p>一人年已望六，熱病半載矣，飲食少進，體中倦怠，忽患黃疸證。有授以草頭藥汁，連服三日，疸未除而吐瀉交作矣，遂致絕粒，卒至不救，遵生者鑑之。</p>
<p>凡瀉病、痢病、蟲病、疳病、水病、酒病、疸病，於初愈時，斷不可驟服滋補之藥。蓋此數病，以濕熱為源，滋補之藥，乃助濕熱之尤者，驟而服之，鮮不致害。</p>
<p>昔當湖一孝廉，與予通家世講也。其為人，偏滯而多思，第無事而恆慼慼，偶於甲午秋初，忽病疸，後雖全愈，用飯未能照常，則脾尚虛而濕未清也。會值公車北上，有一醫，制以天王補心丹數斤為贐，奈一往舟中，餌無虛日，未中途漸覺胸膈有礙，飲食復以日退，全不察其藥之有為害也。仍日餌之無間，入春而疽病復作。迨歸，而形容枯稿，僅存皮骨，其腹龐然，按之若石，始則為疸，繼則為鼓也。皆脾虛坐濕之所從也。招予往治，真氣已衰敗無餘，無可著手處矣。越旬，湯飲俱絕而死，此亦誤投滋補之一驗也。</p>
<p>昔一好補者，於暑月暴瀉，服蒼朮、厚朴、澤瀉、豬苓、黃連、砂仁等藥二劑。業已愈，後唯節飲節食以全胃氣可耳，不必更事藥也。好補者以為既瀉之後，元氣必虛，輒用人參、白朮、甘草、黃耆、米仁、山藥之類，一服，頓爾胸中滿悶，大便窒澀不通，且三四日不能飲與食。乃就質於予，予曰，暴瀉初安，濕邪未盡，遽投大補之藥，是賚盜糧養寇兵矣。奚怪其為然也。即取蒼朮為君，佐以枳實、厚朴、澤瀉、陳皮、砂仁、半夏、木香、山楂之屬，作丸俾服而痊。語云：「病去勿得妄加攻補」，良有至理。</p>
<p>凡近產，不可祈問卜，聽彼巫覡之徒，乘機哄嚇，以吉為凶，當何禱神，當何求佛，致使孕者憂疑恐懼，夢想多成危境，真氣反因鬱結而不舒，臨產之際，不難產亦自難產矣。患此弊者，急用人參、白朮、當歸、川芎、砂仁、枳殼、蘇梗、大腹皮之類，日煎服之，以舒鬱氣，而扶真氣。</p>
<p>人但知臨產可危，而不知既產尤可危；人但知難產可危，而不知易產尤可危；人但知病產可危，而不知健產尤可危。是何也？臨產、難產、病產，在勢為逆，逆則人人皆懼，懼則心倍兢持，未或有失。既產、易產、健產，在勢為順，順則人人皆忽，忽則心恆懈弛，反致多虞。呂氏曰：懼者福之門，忽者禍之源。理固然也。</p>
<p>妊婦調攝之要，單在養氣，養氣即是養力，能養其力，則產固不難，亦更無他病。其養氣之法，勿過勞，勿過逸，勿過飢，勿過飽，更勿得為憂、為悲、為驚、為恐與怒。而後以參、朮、芎、歸、砂仁、枳殼之類補助之，則真氣自能充塞流行於身而不息，有何產之足慮而病之足虞也。若不知此養氣之法而過勞，則氣為之耗，過逸，則氣為之滯，過飢，則氣為之衰，過飽，則氣為之閉。更若憂焉，則氣結，悲焉，則氣消，驚焉，則氣亂，恐焉，則氣下，怒焉，則氣逆矣，又何產之不足慮，而病之不足虞也！</p>
<p>最險是橫生逆產，未產時，頭則向上，迨將產，勢必轉身覓路而生，頭乃向下。若兒身方轉，頭未向下，竟被產母用力一逼，兒將錯路無門，不橫生便逆產矣。其轉身時痛楚難忍，只宜寬心少待，待兒轉身既定，頭已向下，腰痛如刀割截，方可用力。至期須得諳事穩婆，與老成人侍奉，庶不誤事。（此法可傳授收生婆）</p>
<p>臨產勿得妄用催生藥。催生藥者，因產之難而設也，產若不難，催必反害。孕婦臨月，常有試月與弄胎兩候。其候，似乎即產，忽不逾時，而胎復安焉如故，更越旬余，或二旬，始得正產。倘不加察，妄意催之，禍旋踵矣。余於臨產，止用獨參湯，佛手散，益母膏，產固宜，不產亦無不宜也。</p>
<p>凡勞心與勞力之人，須時偷閒調息，以保既耗之元氣，蓋氣根於息，息調則氣調，氣調，則一身之中無不流通四達，而百脈安和，神情清泰，雖勞不甚苦人矣。調息之法，端默靜坐，謝境，澄心，口目俱閉，止於鼻中徐呼徐吸，任我自然。勿得作意思為著力太重，反使本來不息之真，窒而不利。</p>
<p>讀書家必習養生法，能習養生法，不唯於身利，更於心利。舉其要，莫先於少睡，少睡，則神靈，神靈，則氣爽，氣爽神靈，身心自然交利矣。然少睡之工有六；靜而勿躁，一也；疏遠房室，二也；常收此心於腔子中，三也；深夜勿寒勿餒，四也；行住坐臥，不忘調息想，五也；每日將哺，神氣昏濁輒偷閒一憩，六也。此六者，行之日久，不自知其惺惺少寐矣。善讀書者，幸勿以此為迂。</p>
<p>凡用補藥，必兼瀉邪，邪去則補藥得力。譬之滌衣，先除垢膩，而後粉飾可加耳。若專事補，而不知邪氣之當瀉，補必為害。</p>
<p>無病時之脈各有不同，或偏洪大而浮者；或偏細小而沉者；或偏有力而數者；或偏無力而遲者，此各本來所賦使然，非關病也。必於平時，預與善診者，審究詳明，熟識本來脈狀，庶有病之時，易為推測，而無認彼作此之誤。</p>
<p>瀉病無他治，寧飢毋飽，是其治也。諺云：肚瀉無藥醫，餓到日蹉西。言雖俚鄙，切中病情，不可不為之三複。然可戒而不可犯者有五：一酒，二晚餐，三湯飲，四生冷，五油膩腥膻。戒之而瀉不愈者，未之有也；犯之而瀉得愈者未之有也。</p>
<p>病之加於小愈者，因小愈而放其心也。天下事處逆者，恆多易，處順者，反多難。病當未愈而求愈時，欲不得逞，志不敢肆，凡語言動止，飢飽寒溫，以及情性喜怒之間，無不小心翼翼，自然逆可為順，不期愈而不愈者鮮矣。愈則此心不覺康強自慰（豈啻自慰，並侍奉者亦慰，便多不能保護處矣），保護漸疏，恣口吻也，爽寒溫也，多語言也，費營慮也，近房室也，順情性而煩惱也，廣應酬而不自知為勞且傷也，有謂病不反加於此者無之矣。因憶孟夫子生於憂患，死於安樂之說，信不可不書紳而銘座右也。</p>
<p>人咸謂神昏之病原於心，心清，神乃清。愚謂神昏之病原於胃，胃清，神乃清。或疑神藏於心，於胃何與。曰藏神者心，而攝神者氣，氣出於胃，胃氣不清，則不能攝神歸舍，而心神之昏昧也必矣。子如不信，不觀醉酒之人乎，醉酒之人，醉胃不醉心也，何以神昏而語言錯亂也。不觀飽食之人乎，飽食之人，飽胃不飽心也，何以神昏而頹然欲寐也。不觀痰涎壅塞之病乎，痰涎壅塞之病，病於胃，未嘗病於心，何以神昏而瞑眩無知若中狀也？不觀陽明內實之病乎，陽明內實之病，病於胃，未嘗病於心，何以神昏而躁妄狂譫如祟也？或乃為之撫然曰：命[中]之矣。</p>
<p>凡有以問疾來者，勿得與之相接。一人相接，勢必人人相接，多費語言，以耗神氣。心所契者，又因契而忘倦，心所憎者，又因憎而生嗔，甚或坐盈一室，竟起談風，縱不耐煩，又不敢直辭以去，嗟嗟，有病之人，能克幾何，而堪若此，恐不終朝，而病已增劇矣。然此猶為害之小者耳。更有一等搖唇鼓舌好事生非，病者一或輕聽，必致惱怒填胸，不知自愛，而其為害，又不可言，智者於此，休將性命做人情。</p>
<p>病中但可安分調攝，不可偏信師巫，殺害生命。不唯損貲造業，更使心志狐疑，溺情鬼窟，而切身珍愛之圖，反置勿問，愚孰甚焉。</p>
<p>病人臥榻，不可薄以茵褥，致使隱寒犯背，寢傷五臟之陽，變證增邪，莫此為甚。《仙經》曰：背以陽為主，而五臟之俞穴通焉，一被寒侵，則寒氣由愈入臟而臟寒，臟寒，則陰盛，陰盛，則陽衰，陽衰，則轉輸遲滯，傳送乖違，氣血亦為之損敗，輕病必重，重病必至於死矣，可不慎乎（世都忽而不察所以，夭折者多矣）。不特病時不可，即平時亦是不可。</p>
<p>有有病素不服藥者，不為無見，但須知得病從何而來，當從何去，便是藥耳，如飢則食，食即藥也；不飢則不食，不食即藥也；渴則飲，飲即藥也；不渴則不飲，不飲即藥也；惡風知傷風，避風便是藥；惡酒知傷酒，戒酒便是藥。逸可以治勞，靜可以治躁，處陰以卻暑，就燠以勝寒，衰於精者寡以欲，耗於氣者守以默，怯於神者絕以思，無非對病藥也，人唯不自知耳（無上至言，亦無上至藥）。</p>
<p>崩漏與腸風日久，鮮有不至脾胃愆和，飲食無味，而發腫發黃者。一見此證，便當從脾虛不能攝血歸元為治，萬不可仍執血分之病，而用血分之藥，此說業有詳論，似毋庸贅。但恐成心不化者，既欲補脾，而復拖泥帶水，又兼補血之藥於補脾之中，不得不贅耳。既補其脾，又補其血，在飲食未至減嘗者猶可，若飲食大減，又加噁心嘔吐，而胸滿不舒者，不將速其死乎？法當專用參苓白朮散，少加燥濕寬中之屬，以佐山藥、扁豆、蓮肉、米仁之滯。有熱加黃連，有寒加桂、附，飲食少進者，先服大補脾丸，元氣下陷者，兼用補中益氣，未有不謬者也。</p>
<p>飲食何以能養人也，由脾胃之運化，非飲食所能也。藥餌何以能治病也，亦由脾胃之運化，非藥餌所能也。然則脾胃何以能運化飲食與藥餌也，實由水火二氣，又非脾胃所能也。有司命之責者，其參之。（窮源之學）</p>
<p>人當臥病，務須常存退步心。心能退步，則方寸之間，可使天寬地曠，世情俗味，必不致過戀於心，縱有病焉，可計日而起矣。不則今日當歸、芍藥，明日甘草、人參，是以江河填漏卮，雖多無益也。先儒有言，予臥病時，常於胸前多書死字，每書數過，頓覺此心寂然不動，萬念俱灰，四大幾非我有，又何病之足慮哉？雖然，此惟可與達者言也。</p>
<p>一縉紳子，年三十餘，囊固饒裕，良田又幾二十頃，且已有子，亦可謂無不如意者矣。後忽心志改常，二六時中，無刻不恣嗟太息，愁怨不勝，如此者四五年，遂患驚悸怔忡恍惚不得寐等證。遠近醫家，延之迨遍，有安神者，有養血者，有補氣生精者，有消痰與降火者，備餌彌劇，卒至如迷如昧，如顛如狂，棰胸齧舌而死。究其病所從來，則為數年前訟費千餘金耳。嗚呼！如此富家，但知有身外之微，而不知有性命之大，縱可憐不足惜也。世間類是者頗眾，因志之以為後鑑。</p>
<p>羅先生曰：「收拾一片真正精神，揀擇一條直捷路徑，安頓一處寬舒地步，共好朋友涵泳優遊，忘年忘世，俾吾心體段與天地為徒，吾心意況共鳶魚活潑，其形雖止七尺，而其量實包太虛，其齒雖近壯衰，而其真不減童稚。」每讀一過，頓開無限心胸，勝服百劑清涼散也。</p>
<p>鄺子元，由翰林補外十餘年矣；不得賜還，嘗侘傺無聊，遂成心疾。每疾作，輒昏聵如夢，或發譫語，有時不作，無異平時。或曰，真空寺老僧，不用符藥，能治心疾。往叩之，老僧曰：相公貴恙，起於煩惱，生於妄想。夫妄想之來，其幾有三，或追憶數十年前榮辱恩仇，悲歡離合，及種種閒情，此是過去妄想也。或事到跟前，可以順應，若乃畏首畏尾，三番四復，猶豫不決，此是見在妄想也。或期日後富貴榮華，皆如所願，或期功成名遂告老歸田，或期子孫登榮以繼書香，與夫不可必成，不可必得之事，此是未來妄想也。三者妄想，忽然而生，忽然而滅，禪家謂之幻心。能昭見其妄，而斬斷念頭，禪家謂之覺心。曰不患念起，惟患覺遲，此心若同太虛，煩惱何處安腳。又曰：相公貴恙，亦原於水火不交。何以故？凡溺愛冶容而作色荒，禪家謂之外感之欲；夜深枕上、思得冶容，或成宵寐之變，禪家謂之內生之欲，二者之欲，綢繆染著，皆消耗元精，若能離之，則腎水滋生可以上交於心。至若思索文字，忘其寢食，禪家謂之理障。經綸職業，不告劬勩，禪家謂之事障。二者之障，雖非人慾，亦損性靈，若能遣之，則心火不致上炎，可以下交於腎。故曰塵不相緣，根無所偶，返流會一，六慾不引。又曰：苦海無邊，回頭是岸。子元如其言，乃獨處一室，掃空萬綠，靜坐月餘，心疾如失。</p>
<p>昔汪石山，治一婦年三十餘，形瘦而色蒼，忽患狂病，語言譫妄，披髮裸形，不知羞惡。眾皆以為心風，有欲吐以痰藥，有欲飲以糞清，不之決。汪診其脈，浮緩而濡，曰：此蓋由忍飢勞倦，致傷胃氣而然耳。經云：二陽之病發心脾，二陽者，胃與大腸也，忍飢過勞胃傷而火動矣。發心脾者，延及干心脾也，延及心脾，則心所藏之神，與脾所藏之意，皆擾亂無依而病狂矣。內傷發狂，陽明虛也，法當補之。遂用獨參湯，加竹瀝飲之，數日愈。</p>
<p>予自來歷境多艱，而此心則未嘗不樂，天生我為人，非樂何。身有常疾，不敢恣嗜欲，適足養生，非樂何。交有良朋，日聆格言莊語，頗知敢畏，非樂何。性偏疏懶，省卻營營苟苟，此身常覺自在，非樂何。雖無厚望在人，不見斥於有道，非樂何。不讀書，亦時得會心語，不坐禪，亦時得見自性，非樂何。世固有日處樂而不知樂，有日處樂而反不樂，有日處樂而不安其樂，必置身於不樂，吾不知其解矣。</p>
<p>偶於乙未春，百疾並乘，臥榻不起者累日，深悔平時少一節字。已而思之，節字該得廣，豈止關於疾哉。凡家居日用，以及交與應酬，語默動止之間，隨時隨處無一不因節而得，不因不節而失者也。然節者中也，正先儒所謂行乎其所不得不行，止乎其所不得不止也。設當止焉而勿止，非節矣。設當行焉而遽止，亦非節矣。唯深於中道者，乃於與言。（節字看得好。）</p>
<p>舉世診脈，都用簡篇為墊手之具，不思簡篇所載，悉聖賢經傳，昭垂萬古。至尊至貴，豈可輕為借用。甚且褻之於床第之間，汙之以穢惡之手，有人心者，安乎否也？習以成風，竟無覺音，惟予友錢商隱一人，深以是嚴，更欲以是嚴天下。因命予筆之，以廣其勸，是亦與敬惜字紙者同旨也，幸勿見迂為望。</p>

<h1>卷之四</h1>
<p>擇醫療病，不在臨時，而在平時。能幹平日知得深。信得確，則臨病相延，不患不濟事也。（居安思危，處常思變，保身之切要。）今夫世之擇醫者，在平日，則恬不經心，及有病，即手忙腳亂，妄聽妄從。有謂此良遂延此者；有謂彼良，更延彼者。甚至道途之人，絕不曉醫為何事，而或徇其舉薦之情，無一不可延之者。幸而愈，以為得人。不愈，則曰：疾既已劇，無可奈何，甘下泉而不悔矣（人情世態，大抵如斯）。愚者不怪，智者亦比比如之，可勝悼嘆！</p>
<p>醫家之誤人有六：有學無識，一也；有識無膽，二也；知常不知變，三也；意有他屬，四也；心煩冗沓時，五也；偶值精神疲倦，六也；為醫者，不可不深加自省也。至有一等重惜名譽，知有生機而袖手。更有一等中懷勢利，因貴賤貧富而岐心。甚有一等未經明理，強作知醫，而率意妄投湯劑，以致誤彼蒼生者，又不可與醫類同日而語也。</p>
<p>昔胡孝轅先生深痛醫道之衰，忽不自覺其失聲曰：善醫者吾不得而見之矣，得見善學者斯可矣。予曰：善學者吾不得而見之矣，得見善問者斯可矣。自此三十有年來，絕不見一善問者。（善問者必善學。）</p>
<p>徐東皋云：古醫十四科，而今亡之矣。《道藏》經中頗有是說，自宋、元以來，止有十三科。考醫政，其一為風科，次傷寒科，次大方脈科，次小方脈科，次婦人胎產科，次針灸科，次眼科，次咽候口齒科，次瘡瘍科，次正骨科，次金鏃科，次養生科，次祝由科，國朝亦唯取十三科而已，其脾胃一科，終莫之續。元之李東垣先生，著《脾胃論》，極其精詳，但不言十四科之缺，不知其得舊本而加已意，抑盡為創著而得上古之同然歟？是誠醫道之大幸也。</p>
<p>凡本病中，有兼胸腹不利，飲食少餐，與噁心嘈雜，嘔吐痞悶，作痛，作脹，作瀉一二症者，便是脾胃有病，當先調治脾胃，而後用本病之藥。亦有不必用本病之藥，而本病亦自能因脾胃之愈而與之俱愈者。即或本病之勢不容緩，不得不捨脾胃而先治之者，亦勿得終置脾胃於罔聞也。何也？脾胃者。元氣轉輸之關也，宜行不宜滯。一有滯，元氣即不克轉輸，藥石亦因以滯而不化，不能取驗矣。東垣所謂非藥之不能治病也，元氣之不行藥力也，此固人身中自然之至理，知之，則能令人生，不知，則未有不致人於死者。故本刻中不避重複之嫌，每曉曉不已。惜乎世都不明此理，每聞予言，輒掩耳而走，曰：此老生常談耳。及察其臨證所施之法，所裁之方，則又似絕不知老生常談者。見寒病唯知有治寒之藥而已矣。見熱病，唯知有治熱之藥而已矣。見血病氣病，唯知有治血治氣之藥而已矣。全不計及脾胃之有病不病也。即或有能計及者，亦不過述前人所謂脾胃為一身之主，而以白朮、參、苓、山藥、薏苡仁之類，加減於治寒治熱、治血治氣之藥中而已矣，更有他乎？噫嘻！此皆不知調治脾胃之法之不易易故耳。調治脾胃之法，有從主不從容者，有從客不從主者。有欲攻之而先補之者，有欲補之而先攻之者。有補多而瀉少者，有補少而瀉多者。有舍湯就丸而變丸為散者，有旦同夕異而旦異夕同者。又自有勿藥而愈，節飲而愈，灼艾而愈，專事適口之味而愈者。不可以成見拘、古方執、與語言盡也。何以謂之從主不從客？昔一人，腸胃堅結，大便不行，客邪其實矣。余見其形瘠而脈遲，知為中氣虛寒之侯，專此參、歸、薑、桂，連服五、六月，絕不行結而結自行。又一人，腸血與寒熱，醫都舍脾而施治。余診之，關獨沉而噁心不知味，則知其積飲傷脾，致生寒熱，並不能攝血歸經耳。與之逐飲扶脾，而諸證咸失。舉若此者，即從主不從客之調治脾胃法也。何以謂之從客不從主？昔一人，脾泄經年，補之澀之從無驗，脈來滑以洪，膈間飫欲嘔。此痰火客於中宮，於水谷混淆而作泄。治以桔、半、蒼、連燥濕清痰火諸藥而泄自止。又一人，卒倒無知，六脈幾絕，眾皆測以虛極。迨細審，則胃中大滿而且堅，此由食物之傷，氣閉不行所致。急投破氣攻堅之藥，頓覺脈復而神蘇。舉若此者，即從客不從主之調治脾胃法也。何以謂之欲攻而先補？如一人，痞滿壅塞不能食，在法似宜攻，謂六脈皆衰，形色瘁而不澤。先用補中益氣湯五、六劑，俟其脈旺神強，而後繼之消伐，始克無虞。又一人，滯下初成，勢難驟補，見其手足厥冷，脈數無倫，而為無陽之虛極。急煮參、姜，桂、附等藥疊進之。後覺脈有序而肢體溫，始行通利而獲瘳。如此之類，皆欲攻先補之調治脾胃法也。何以謂之欲補而先攻？如一婦，胎痢日久，似宜從補，不意腹中多滯而脈實，尚在可攻不可補之候，余即乘其可而攻之。攻後，痢即減，隨進人參大補脾丸，以培胎氣。又一婦，崩暈交發，百藥不瘥，其脈甚沉滑而腹中實且堅。此食滯於脾，脾虛氣弱，崩暈無從施效耳。施用滯丸導其滯，崩暈頓止。續與參苓散而痊。如此之類，皆欲補先攻之調治脾胃法也。所謂補多而瀉少者，邪已去而胃已清，胸膈無膩凝之患，飲啖漸可通耳。補少而瀉多者，邪雖去而胃未清，胸膈尚多壅礙，未便加餐耳。舍湯就丸者，胃虛有濕，不敢恣投湯藥，轉傷胃氣耳。變丸為散者，丸緩而散速使藥力易行，而胃易清耳。旦同夕異，旦異夕同者，因藏府殊途，虛實交併，一藥不能獨治耳。勿藥而愈者，服藥過多，胃氣為藥所傷，勿得更加攻補耳。節飲而愈者，飲聚胸中，不能思食耳。灼艾而愈者，病根深固，多藥必妨腸胃，必藉火攻而後驗可臻耳。專事適口之味而愈者，胃氣久虛，非味莫之起耳。語云口滋味而百節飽，亦養正邪自除之義耳。雖然，此但言其調治脾胃中之脾胃病有如此，而五臟之中更有脾胃病之說，又不可不察也。東垣曰：五臟生化之源在脾胃，虛則五臟之邪不一而集。如人右關脈緩而弱，脾之本脈也。食少肌虛，噁心嘔吐，嘈雜吞酸，作瀉作腫，脾胃之本病也。而或兼見弦急，弦長之脈，與肋滿筋攣，諸風掉眩，寒熱往來諸證者，乃肝之脾胃病也，而或兼見洪數、洪散之脈，與煩燥肌熱，口苦面紅，怔忡驚惱，盜汗自汗諸證者，乃心之脾胃病也。而或兼見浮短、浮澀之脈，與哮喘咳嗽，喉癢咽疼，皮膚皺裂諸證者，乃肺之脾胃病也。而或兼見沉微、沉細之脈，與足軟腰疼，骨蒸盜汗，遺溺遺精諸證者，乃腎之脾胃病也。又當各隨所兼脈證而調治之，不可泥定脾胃之病，只在脾胃之中，而不博考周詳，以知其遍。（旁證甚徹）如頭眩耳鳴之用半夏白朮天麻湯，脾弱經愆，往來寒熱之用逍遙散者，非即肝之脾胃病乎？思慮傷脾以致怔忡、驚悸之用歸脾湯，食少肌虛不得寐之用辰砂遠志丸者，非即心之脾胃病乎？唾咯痰涎，胸膈不利之用潤下丸，二陳湯，脾虛咳嗽之用保脾清肺丸者，非即肺之脾胃病乎？泄瀉之用四神丸，脾虛之用八味丸，水氣日久之用金匱腎氣丸者，非即腎之脾胃病乎？人自不察耳。唯不察，所以但知調治脾胃，而不知調治脾胃有如此之微，如此之費，如此之難耳。嗚呼！如此之微，如此之費，如此之難。有淺陋拘閡者，所克窺其藩籬哉？毋惑乎老生常談之不屑聞，掩耳而走也。吾因是而深有望焉。烏乎望？望天下同志之人，無一不惕然於生死之關而猛然於脾胃淵源之學（滿腔熱血。吾道其幸乎！蒼生其幸乎！）</p>
<p>莫謂產後之熱無實熱，而不知有寒涼也。莫謂實熱之熱終實熱，而不知有溫補也。有一婦，產僅五辰，得發熱之候，手揚足擲，譫妄欲狂，大渴思冷飲，而脈數且洪。余以產後氣血兩虧，縱多熱證，不可遽用寒藥，止取生地黃為君，當歸為臣，柴胡、玄參、牡丹皮為佐，炒黑乾薑為從治而兼引用，更加童子小便，以襄清熱之功，宜其當矣。不謂一飲猶是，再飲猶是，加人參一錢飲之，亦猶是。復細審，脈加旺而諸證悉有餘，確為實熱，改用人參白虎，及黃連解毒等湯五、六劑，並啖梨、桔、寒泉諸涼快之味而熱始解。若執產後之熱無實熱，其不失者幾希矣！一少年子，病傷寒，始則身熱頭疼，畏寒，脈浮數，醫從而汗之，表已罷而傳及里。不畏寒，反畏熱，躁喝狂譫，不得臥，六脈數而洪，實熱無疑矣。夫何以涼藥攻之，而熱益以劇，不只熱劇，而脈亦益以數，一息之間，幾近八至，且至熱之來，局蹐不整，一似趨不旋踵而時蹶者（謂之陰證似陽可，謂之陽證變陰亦可。），蓋由真氣之虛，不克管束脈道而然，此是不足之數，非真有餘熱也。即以人參三錢煎汁，入童便一杯飲之，脈勢漸退而熱亦少解。更以人參、麥冬、五味煎飲數劑而愈。若執傷寒傳裡之實熱為終實熱，其不失者幾希矣。噫！可不慎哉？</p>
<p>或問富家之養子，性柔脆而多疾，貧家之養子，每堅強而寡疴，伊何說也？裴子曰：貧家有暗合養子之道，與富家異耳。何謂貧家有暗合養子之道與富家異？蓋小兒受病有五：一曰暖，小兒質稟純陽，而火偏勝，保護無容過暖。（諺云：若要小兒要，受些飢與寒。此有至理在。）《禮》曰：童子不衣裘裳。此其義也。富家之子，一出母胎，即矇頭裹足，燠室藏之，加以覆衾垂幕。稍長，則未寒失寒，疊加絨纊。更日置之於火，煉其未足之陰，積熱請病，從此變生，而柔脆者多矣。貧家之子，則薄被單衣，隨地而擲，雖不無風冷交侵，動人憫念，而不知正得抑陽扶陰之至理，與富家異，其暗合養子之道一。二曰飽，人身腸胃，以清虛為和順，在小兒則尤要。小兒腸胃柔窄，受盛無多，且不自知飢飽，旋與旋啖。而富有之家，則又脂味充盈，易恣情而多淡，脾胃諸病，從此變生，（今之縱口腹致病者，不只小兒。）而柔脆者多矣。貧家之子，則無物可食，即食亦自有常，必不能使之厭飫，在口腹固為清簡，而不知正是腸胃清虛之至理。與富家異，其暗合養子之道二。三曰怒，小兒獨陽無陰。性易躁而多怒，惟抑怒可使全陰（病人多易起怒，而不知適所從益病也。其原皆由於自幼縱性。）。富家之子，種種任性，驕怒之習，越於性情。本無可怒，怒無已時，怒由肝木，木旺生風，風木乘脾，驚癇諸病從此變生，而柔脆者多矣。貧家之子，則素居窮蹇，不縱其性，自能貶損意氣，無怒敢發，處境似乎怫逆，而不知正得抑怒全陰之至理。與富家異，其暗合養子之道三。四曰遏號，諺云：兒號即兒歌。《老子》云：終日號而不啞。則知兒之號，出於不自如，不自識，莫或使然，猶天籟也，豈有遏之之理。況小兒陽氣偏隆，最多火病，藉此呼號以泄之，不為無益（號呼泄氣，即泄火。氣有餘便是火。）。而富家之父若母者，反生不忍。動以食慰，而遏其號。鬱滯諸病，從此變生，而柔脆者多矣。貧家之子，則聽其號呼而勿恤，見者聞之，以為心忍，而不知正得順適天和之至理，與富家異，其暗合養子之道四。五曰傷藥，藥乃攻邪物，非養生物也，多服久服，鮮有不致傷生者（草根樹皮，只以療病，原不足以養生，奈何有無病而喜服藥者。）。富家之子，則不論有病無病，日餌無虛，甚至旦暮更醫，亂投湯劑，而不知忌。有謂無傷，吾勿信也。且藥之傷人，甚於傷食。食傷，醫所易知，藥傷，醫多不識，病外諸病從此變生，又不止於柔脆矣。貧家則不暇求醫，無資取藥，縱兒多疾，安意守之。在旁人以為失護，而不知正得有病不服藥為中醫之至理（富家皆當書一通於座右，以為保赤之道。）。與富家異，其暗合養子之道五。噫！是豈富家不善養子乎？非也，境也，因境以成其不善養子也。是豈貧家善養子乎？非也，境也，因境以成其善養子也。</p>
<p>常見延醫之家，陳餚設禮，固不啻事神事鬼之誠且敬也，要皆出自不得已之苦心。醫者於此，自當設身處境，深用不安，適可則止，莫謂分所宜然，恣情長夜之飲，而絕不一回念。在暴病家，尤不及覺。若久病則中外主人，俱已晨夕焦勞，臥餐且廢，復何以堪。語云：一人向隅，滿堂為之不樂。有病之家，則不止一人向隅，滿堂亦幾向隅矣，一人豈能獨樂哉！有仁心者必不然也。更有一等嗜習而成僻者，嗜博奕，但知有博奕，而不知有病人。嗜呼盧，但知有呼盧，而不知有病人。更有一等趨競公門，奔馳世務之輩，則又心無二用，但知有趨競奔馳，而不知有病人。願同志者勿類是。</p>
<p>針灸諸病，從未有以時令拘也。而世俗則專泥於伏暑之月，不思病之感也，有淺有深；其治療也，有緩有急，豈可概至伏暑之月，而後針且灸耶？考諸《素問》、《靈樞》以及月令禁忌等書，並不見有伏暑始宜針灸之說，不知世俗何所據而云然？但一歲之中，最不可犯者，獨在冬至左右旬餘日（斯時尤宜瑾戒房事，夏至前後亦然，奈何反行針灸耶？），蓋此時正在剝極夏生陰盛陽微之候，君子於此，自宜深潛玩密，保護微陽而不便有所泄。《易》謂：「先王以至日閉關，商旅不行，後不省方。」《素問》謂：「蟄蟲周密，君子居室，去寒就溫，無泄皮膚。」皆此義也。當此之際，則又不可遽執四時俱宜針灸之說，賊及天和也。</p>
<p>何百齋曰：運氣之說，起於《素問》，本為四時之變而設，蓋以春為木。夏為火，秋為金，冬為水，夏秋之變為土，以此察天地之氣候，辯人物之病證，以為治療之主耳。《素問·六節臟象論》謂：五運相襲，而皆治之終期之日，周而復始。又謂春勝長夏，長夏勝冬，冬勝夏，夏勝秋，秋勝春，且以一期三百六十日，分為六氣，每氣主六十日，則其意可見矣。紀以天干，則曰五運。紀以地支，則曰六氣，其實一也，傳久致訛，至《天元紀大論》等篇，則遂以年歲之支幹，分管六氣，蓋已失先聖之旨矣。蓋年歲之干支，天下皆同，且通四時不變也。天氣之溫暑寒涼，民病之虛實衰旺，東西南北之殊方，春夏秋冬之異候，豈有皆同之理。此其妄誕，蓋不待深論而可知也（不可不知運氣，不可徒泥運氣。）。近世《傷寒鈐法》，悉以得病日之干支為主，其源亦出於此，決不可用，蓋五行之氣，各主一時。當時則為主氣，為司天。非其時而有其氣，則為客氣。與時正相反者，則謂在泉，為其氣伏於黃泉之下，而不見也。治療之法，用熱遠熱，用寒遠寒，所謂「必先歲氣，勿伐天和」者是也。春時木氣司天，則四方皆溫。夏時火氣司天，則四方皆熱，夏秋之交，土氣司天，則四方皆濕，秋則皆涼，冬則皆寒，民病往往固之。但當因其四時寒熱燥濕之氣，而治之可矣，何必拘其年歲之支幹哉？雖然，此又論其病之常也有如此，而至於病之變者，並不可拘於四時寒熱與燥濕之氣也。</p>
<p>一人患嘈雜噁心，吞酸吐嘔，而兼頭眩耳鳴，恍惚不寐。延余視之，診其脈則洪而滑，右關尤甚，曰此痰證也。腹中時作飢，飢即食，食即太甚，曰痰火作飢也，不可與之太甚。其家不信，以為多食可以病愈。夫食而致死者固多，則在醫；貪食而致死者不少，責在己。不知古人有言曰：痰病數十日不吃，亦不餓死，何也？蓋謂受痰之累，賴痰之養也。縱或覺餓多是痰火致嘈，必不得已，須略與食，萬勿多食，後不見反復，漸漸再進。今半日間，連與之數餐，餐便縱恣，安得不填塞胸中，夾痰飲，而發昏迷、眩暈之候乎？多食又未免食積作痰，至不可救，慎之，慎之。此後當宜痛改前轍，加慎調理，不數日，必漸而安。倘不改前轍，仍不慎謹，請勿復敢見矣。</p>
<p>夫虛勞證治，余已盡詳三卷中矣，更庸何贅？唯是世之行醫而不善醫者，但用養血滋陰之藥，不知變通，以夭人而勿恤，深切痛悼，不得不擄丹嘔血，再為來者言之。夫虛勞病，未嘗非陰血虛也，雖聖人復起，亦未嘗不謂陰血虛也，是則生熟地黃、當歸、知母、玄參、天、麥門冬諸藥，豈曰無功。舉世遵而行之，豈曰不可。但此等之藥，既寒涼，又濡潤，在脾胃未衰，水穀未減之時，用此治標則可。若至多服久服，未有不伐脾胃生化之源，而為水穀減餐者矣。（多服久服，漸至真水遏郁，不能生脾土，補腎不若補脾，予謂亦須加運行之藥。）《素問》曰：血乃水穀之精，生化於脾。又曰：脾為至陰，人之陰虛乃脾虛也。脾土一虛，則生化之源竭，何能運行水穀而成陰血乎？本欲養血，適以損血，本欲滋陰，適以損陰，是無異與陰柔巽順之輩相朝夕；似乎德我，而溺情既久，隱受其禍而不知矣。（女子小人，甚矣，不可近也。）然則治之將奈何？惟於初起時，急急早灸膏肓等穴，為上策耳。外此，則絕房室，息妄想，戒惱怒，節飲食起居，以助火攻之不及。一少怠焉，脈旋數矣，脈數則火有進而無退，載血而上行矣，鑠金而咳嗽矣，蒸骨消肌，汗泄不止，動作皆衰矣。縱有良工，曷克為也。語曰：勞證之脈，五至以外者不治。又云：當治於微病之初，莫治於已病之後，厥有旨哉。至夫藥也，一言可蔽，王太僕所謂壯火之主，似鎮陽光是也（陰虛有二，有陰中之水虛，宜用六味等丸。有陰中之大虛，宜用八味等丸。近且有用八味加參等料，煎膏服而愈者。）。陽光者，火也。水主者，陰也。陰不足則邪火熾，故必壯其主以鎮之。六味等丸，其要藥也。如人平日真陰素虧，兼以不善調攝，妄自作勞，致陰血受傷。陰虧則火旺，火載血上行，為衄為吐。脈實者，以生地黃為君，丹皮、桃仁、茅根，韭汁之類為佐。甚者，權以醋炒黑大黃，去舊而生新。此後急宜滋養陰血，培補真元，運旋脾胃，如六味丸、八味丸、及歸脾湯等藥，隨症用服，照前項調理法，庶病不滋蔓，而效可漸收也（珍攝為上，第一戒色，第二戒怒，第三戒言。）。若血大脫後，不加珍攝，必致陰日虧，陽日旺，遂成夜熱咳嗽，盜汗勞倦等症。病成而欲治之，則亦難矣。故勞症初起，如日晡發熱，飲食不減，當用生地黃為君、當歸、知母、鱉甲、玄參、銀柴胡、牡丹皮、地骨皮等藥為佐。有汗加麥冬、五味、棗仁、浮小麥。若兼噁心、無汗，暫加軟柴胡、葛根，以透肌而解熱。心火暴盛者，少加川黃連。尺脈強旺者，少加炒黃柏，以平其勢。勢平則已，不可過劑，此先哲業有詳論。惟謂苦寒之藥，竟非虛勞者所宜也。若咳嗽不止者，法當清金潤肺，紫苑、款冬、二冬、二母、枇杷葉之屬，固所必需，亦須以生地黃為君，以滋腎而生陰。蓋癆嗽之因，因於腎陰虧敗，不能制火。火無所畏，亢而刑金，金極則鳴耳。徒事於肺，是執流而忘源矣。如瓊玉膏、集靈膏、太平膏、天地膏、三才膏，俱可選用。前項諸藥，先後所治規則，雖不能有外乎此，但滋陰之藥，難期速效，必致多服，多服則傷脾減食，如前之所云，有必然者，故進滋養藥者，時時當以飲食進退為消息，毋得經年累月，恣投而勿顧也（邪火盛則真火衰，真火衰不能生土而食減）。但著飲食減少，咳嗽熾盛，急須加溫補脾胃，兼行氣清金等藥，有司命之責者，其可專執而不知變通哉？</p>
<p>曷言乎用藥之如用兵也？裴子曰：蓋衛國者兵，衛生者藥。藥不以法，而夭折因之，兵不以律，而敗亡隨之，慎所同耳。且以信、仁、義、智、勇，與夫決敵致勝之策，一比勘焉。則又不爽錙銖者何也？可戰則哉，不猶醫之可攻則攻乎？可守則守，不猶醫之不可漫汗下乎？可和則和，不猶醫之用和解乎？（宇宙大文章，不可多得，以醫目裴子失矣。）兵有設伏，醫有從治，均之伏其所惡，誘其所好也。兵有哨探，醫有消息，均之欲窺其虛實也。兵有間諜，醫有轉藥，均之欲離其動邪也。先補後攻。得非足食而後足兵之謂乎？先攻後補，得非大兵之後，瘡痍荊棘，即為撫綏之策乎？攻補交施，得非且戰且屯，且和之計乎？大積大聚，殺其大半而止，得非殲厥巨魁，脅從罔治之義乎？病去而勿妄加攻補，得非窮寇勿追，歸師勿揜之說首？不當補而補，齎盜糧養寇兵也。不當攻而攻，嘉兵者不祥也。或以正，或以奇，以授兵尾其後，或先鋒銳其始，與醫之正治、奇治、先後劑，輕重法何異焉。且無恆者，不可以作醫，兵之貴信也。無活人心者，不可以作醫，兵之貴仁也。醫不可以執方，兵之貴智也。醫不可以貪利，兵之貴義也。急攻之，急下之，急補之，兵之貴勇也。器械不精，以其卒予敵也，藥品可不精製乎？部伍不整，以其將予敵也，立方可不嚴整乎？君不擇將者敗，醫不可不擇也。閫外不專者敗，醫不可以不任也。忿兵者敗，驕兵者敗，印刓忍予者敗，醫獨可忿，可驕、可吝否也？病在此而治在彼，無過之地，妄加斬伐也。有是病而用是藥，王師所至，勿犯秋毫也（使裴子而登壇，必能料敵制勝，指揮如意，斷非徒讀父書者。）。執一不通，趙括之讀書也。一治有五，孫子之用兵也。有一、二味成一方者，武穆之以寡御眾也。有一、二十味成一方者，淮陰之多多益善也。有半劑、或一劑而愈者，武之西伐會朝清明也。有數十劑，或百劑而愈者，周之東征三年始得也。以至於占風象、度地勢，察人心，與醫之審地，宜先歲氣，望聞問切，均不可以岐視者，用藥與用兵同有如此。雖然，兵家之虛者，則示之以實，實者則示之以虛。與醫之虛者實之，實者虛之其理相似。而兵家之虛者，示之以虛，實者未之以實。尤為制勝之妙算（論至此始全）。而醫家之虛者虛之，實者實之，則敗不旋踵，何也？兵家之所謂虛者，兵食不足也，在我之無氣虛也。所謂實者，兵食足也，在我之無氣實也（此論發人未發），醫家之所謂虛者，元氣虛也，所謂實者，邪氣實也。邪氣者，譬之兵家之敵人，非在我者也，此其所以異也。用藥與用兵之不同又如此。今之不知醫者，固不知如用兵之說，知如用兵之說者，亦但曰醫之不可輕用耳，孰知醫之與兵有同異，一至於此也！故曰：善將兵者，而後可以語醫，識虛實者，而後可以語醫。</p>
<p>有客過余而問之曰：一大病久虛人，容顏黃瘁，飲食減餐，兩足浮腫，已半歲，氣虛下陷無疑矣。連進補中益氣湯，反致脅滿胸膨，嘔噦不能食，則奈何？余曰：據子所言，是誠氣虛下陷之病矣，補中益氣湯，亦誠對病之藥矣。服之而病反劇者，徒遵章句中，所謂不足者補，下陷者升耳。不思古人立教，言有盡而意無盡。雖言不足者補，而不足之中，未始不兼有餘，病於此而溫補焉，則不足者未補，而有餘者日必熾矣（喚醒多少）。雖言下陷者升，而清氣下陷者，未必絕無濁氣之在上，於此而漫升焉，則清氣未升，而濁氣已先橫矣。子之所用升補而反劇者，大率近是。客曰：何以知其不足中之有餘，清氣上之濁氣耶？曰：有證之見於外而知之耳。夫證之見於外者，如噁心，膨滿，痰嗽，喉疼，腹痛作瀉，與飲食有妨之類是也。此即所謂有餘之病，兼在上之濁氣也。外補之法，便須酌量而施之。（真是無隱不照，裴子胸中有秦鏡。）然此乃見證之顯者，至有證雖見而實隱，卻又難察也。本不噁心，而胸中則時懊惱。本不膨脹，而肋間隱然刺痛；本不痰嗽，喉疼，而喉忽似哽似噎；本不作痛作瀉，而大便不時至，欲解不解；本不有妨飲食，而亦自有厭飫而難安（履霜堅冰至，慎之不可不早也）。如此之病，亦即有餘之病，兼在上之濁氣也。升補之藥，須酌量而施也（酌量二字，須從症不從方）。非用心精而晰理密者不能也。故用補中益氣湯，必熟審之當而察之詳者，為得焉耳。</p>
<p>或問尹真人，謂人身祖竅真際，舉世鮮知者，果安在耶？曰：祖竅之真際，即老氏所謂玄牝之門也（玄之又玄，眾妙之門，天地萬物皆從此出。可一言而盡也）。《悟真篇》云：要得穀神長不死，須憑玄牝立根基。故紫陽修煉金丹，全在玄牝一竅。玄牝一竅，採取在此，交媾在此，烹煉在此，沐浴在此，溫養在此，結胎在此，即脫胎神化，亦無不在此。修真之士，誠能知此一竊，則金丹之道，無遺義矣。所謂得其一，萬事畢也。但從來聖聖相傳，悉有虛名，而無實據。如曰先天主人，萬象主宰，太極之蒂，混沌之根，至善之地，凝結之所，虛無之谷，造化之源，不二法門，甚深法界，歸根竅，覆命關，中黃宮，希夷府，總持門，極樂國，虛空藏，西南鄉，戊已門，真一處，黃婆舍，守一爐，淨土西方，中黃正位，這個神室，真土黃庭，種種虛名，總是言此一竅。此一竅者，非心非腎，非肺非肝，非脾非胃，非臍輪，非尾閭，非明堂泥丸，非關元氣海，非兩腎中間一穴，非臍下一寸三分，不可以方所執、形相求、聲臭逐，唯取生身受氣之初而已矣。生身受氣之初，即父母交感時，一點先天混沌無形之氣，挾精而入子宮者是也。是即吾儒之所謂無極而太極也。交感之後，而此氣為精血所包，則又太極而兩儀矣，由是而生臟腑，生官竅，四肢百骸，以至能知能覺，能運動，能屈伸，能喜怒哀樂，能仁義禮智，能神聖文武，都從受氣初之一點中出來者耳。玄牝之門，乃自有焉，故老氏曰：玄牝之門，是天地根。夫玄牝之門，而曰是天地根，則吾身天地之根，固吾身玄牝之門矣。然吾身玄牝之所從出者，又何根也？又必有先玄與牝以為根，而後能分玄與牝。夫分玄與牝者，太極也。先玄與牝者，無極也。無極者，吾身之中也。即堯舜允執之中，孔子時中之中，釋迦空中之中，老子守中之中也。不止吾人一身之內有此中，即一身之外，遍滿天地，亦皆吾身之中也。正所謂周流六虛之外而無不足，退藏一身之內而非有餘也（萬物皆備）。故曰一竅能納太虛，然則此一竅之真際，果安在耶？《道藏經》曰：天之極上處，距地之極下處，相去各八萬四千里，而天地之相接，適當四萬二千里之際。人身一小天地，心臍相去八寸四分，而人身天地之相接，適當四寸二分之際（劈破天荒，但恐竅不可守）。此際想不在乾之下，坤之上，震之西，兌之東，無在而實無不在，無不在而實無所在也。雖然竅非徒竅，有妙存焉，妙者何？昔人有言，竅是中而妙是一，若知竅而不知妙，猶知中而不知一。蓋一生乎中，有中定有一。一即執一之一，一貫之一，歸一之一，守一之一。執一者，以其中之一，而執之也。一貫者，以其中之一而貫之也，歸一者，以其中之一而歸之也。守一者，以其中之一而守之也。伏羲氏之河圖，而虛其中者，先天也，乃吾身祖竅之中也（此未發之中，所謂元神是也）。即孔子謂先天而天勿違；老子謂無名天地之始；釋氏謂茫乎無朕，一片太虛；道家謂一點靈光，露出端倪；神禹氏之洛書，而實其中者，後天也，吾身租竅之一也（此已發之和，所謂元氣是也）。即孔子謂後天而奉天時，老子謂有名萬物之母也。夫河圖中矣，中而未始不一。洛書一矣，一而未始不中。中不離乎一，一不離乎中，豈非無為之神機，精微之妙道與！故曰：多言數窮，不如守中。丹書萬卷，不如守一。修身至要，在乎守中抱一而已。守中者，守此祖竅之中也。抱一者，抱此祖竅之一也。蒙莊所謂南海之倏。北海之忽，口遇於混飩之鄉也。修身之士，不明此竅，則真息不住，而神化無基，大丹不結，須知此竅，是個性命根原，無形相，無方所，無聲臭，不可以有心守，不可以無心求。有心守之，則著相。無心求之，則落空。先師或曰：「空洞無涯是玄竅，知而不守是工夫。」斯得之矣。</p>
<p>語鶴李子云：不知《易》者不可與言醫，《易》中太極、無極，陰陽之理，即吾人性命之根也。</p>
