#search-wrapper > header, #search-panel > header, #search-results > header {
  font-weight: bold;
}

#search-wrapper .error {
  font-weight: bold;
  color: red;
}

#search-wrapper .button {
  cursor: pointer;
}

#search-panel label {
  margin: 0.125em;
  white-space: nowrap;
}

#search-panel optgroup {
  font-style: normal;
}

#search-panel details {
  border: 1px solid white;
}

#search-panel details > summary {
  padding: 0.125em;
  background-color: #DDDDEE;
}

#search-panel details > div {
  padding: 0.5em;
  background-color: #EEEEEE;
}

#search-panel-books {
  resize: both;
}

#search-results > header {
  border: 1px solid #EEEECC;
  padding: 0.25em;
  background-color: #FFFFDD;
}

#search-results > details {
  border: 1px solid white;
}

#search-results > details > summary {
  border: 1px solid #CCCCCC;
  padding: 0.25em;
  background-color: #DDDDDD;
}

#search-results > details > summary a {
  color: inherit;
}

#search-results > details > div {
  padding: 0.25em;
}

#search-results > details > div.snippets {
  color: #545454;
}

#search-results > details > div > pre.source {
  margin: 0;
  padding: 0;
  white-space: pre;
  overflow: auto;
}

@media print {
  #search-wrapper > header, #search-wrapper > #search-panel {
    display: none;
  }
}
