<header data-type="book">
<h1>銅人鍼灸經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·銅人鍼灸經》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0017/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
