<header data-type="book">
<h1>過庭錄存</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曹存心</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1859">公元1859年</data></dd></div>
</dl>
</header>

<h1>安徽程</h1>
<p>先生之病，素稟濕熱，又挾陰虛之病也。濕者何？地之氣也。熱者何？天之氣也。天地鬱蒸，濕熱生焉；天地交泰，絪蘊生焉。生生不息之機，妙合於其間。稟而受者，濕熱元氣，混合一家，出自先天，牢不可破，較之外感內傷之濕熱，屬在後天者，一掃而盡，豈可同日而語哉！設使薄滋味，遠房幃，不過生瘡動血，幼年所患等症而已。惟從事膏粱，更多嗜欲，外增濕熱，內耗陰精，則臟腑營衛，常有春夏之情，而無秋冬之氣，無怪乎其亥年之風火相煽，耳苦於鳴，豈非陽氣萬物，盛上而躍之一驗乎！當斯時也，靜以養之，則臍冷齒痛以下，見症之外，猶可相安於無事，何乃火上添油，喜功生事，陡然頭昏面赤，一派炎炎之勢，甚至火極似水，陽不成其為陽，勢不成其為勢，肝經之火，督脈之陽，亦從而犯上，失其本來面目矣。近聞引火歸元，以為甘溫能除大熱。嗟乎！未聞道也。甘溫能除大熱者，良以下極陰寒，真陽上越，引其火歸其源，則坎離交媾，太極自安，若天陰虛，濕熱蒸動而上者，投以清滋，尚難對待，斷不可以火濟火，犯一誤不可再誤之戒，然清已有法，滋亦頻投，飲食能增，身體能胖，外有餘矣，而色色不能久立久坐，即病機中萬物陰陽不定，未有主也之條，際此外盛中空，下虛上實，用藥實難，當見東垣之清燥湯，丹溪之虎潛丸，潤燥合宜，剛柔協濟，張氏每贊此兩方，始克有賴，何樂而不即用之耶，無如藥力之所以載行者，胃氣也，胃屬陽明，陽明中土，萬物所歸，濕熱竊踞，亦久已薰蒸，傳為吐血嗽痰，鼻塞噫氣，二便失調，正竅不和，都屬胃病，欲安內臟，必先清其外腑，又為一要著，至於秋末冬初病甚者，十月坤卦純陰，天已靜矣，而濕熱反為之動，腎欲藏矣，而濕熱為之露，致邪失正，能不令病之更進一層乎，附方謹覆。</p>
<p>青監（四兩）　甘草（八錢）　荸薺（一斤）　海蜇（二斤）　萆薢（一兩）　飴糖（八兩）　橘葉（五錢）　霞天麯（一兩五錢）　十大功勞葉（一斤）　刺蝟皮（一兩五錢）</p>
<p>右藥為末，竹瀝和水泛丸。每服三錢，清晨開水送下。服完後，合虎潛丸全料，同合常服。</p>

<h1>杭州汪</h1>
<p>承示病源，陽分比陰分更虧，顯有明徵，陰虧而用十全養陰等法，責重乎陰，寓以陽藥，本屬和平之劑，良以秋分在即，燥氣加臨，不敢責重乎陽，以燥就燥，反增燥病焉耳，然於膏方下云，後日可加附桂，斟酌用之一語，早已言之，非不見到也，蓋天地之氣，半月一更，人身之氣，亦半月一更，八月而至九月，氣已兩更，病勢不除，飲食反減，明明陰得膏滋而無病，陽得膏滋而更衰，一月之間，陰陽偏勝，一膏之內，功過相抵，可嘆補偏救弊，因時制宜，應接不暇也，所云廿七廿九兩日，霜降始寒，寒氣外侵，痰飲內動，動見青黃綠水，尚屬陽明胃府，至於黑色，已自胃底而來，腎虛水泛，脾虛積飲，已見一斑，然神氣困頓，面色青浮，脈見雙弦，以昭陽氣不充，痰飲內聚宜矣，而反忽燃牙齒浮疼，加以口苦酸泔，呃忒於胃，衝逆於脅，變出一番火氣者，肝火也，肝氣也，氣火之橫逆，不外腎虛無以涵木，木旺順乘脾土，此等氣不足，即是寒之根底，反見氣有餘，便是火之情狀，所謂本寒標熱是也，夫惟本寒標熱，豈非陽氣之虛，一較之陰氣，更進一層耶，此時論治，離照當空，始可陰霾四散，宗風虛則熾，痰寒則壅之訓，而出一星附散法，以肋脾陽，俾虛風寒痰，不相互結，非獨分解病情，而且土旺用事，更合機宜，如一立冬，又不可以純陽無陰之品，施於久病陰血本虧之體，冬月宜藏之令，即以此方分兩，三分之一，日進一服，參入前定膏方中，只須五錢，清晨傍晚，再服水泛金匱腎氣丸一錢五分，淡鹽湯送下，以占冬至陽生，勿藥而喜，至於黑錫丹，控涎丹，本來各式，因病處方，隨機應變，相時而動可也，須俟尊處高明權之。</p>

<h1>西匯胡</h1>
<p>天之熱氣下，地之濕氣上，人在氣交之中，無隙可避，虛而受者，即名曰暑，暑之為言，有濕有熱，不言而喻，夫暑先入心，暑必傷氣，氣分之濕，不為之先除，則所留之熱，必不能外出，所以暑濕熱三氣交蒸之先，務須消去其濕，正合古人消暑在消其濕之旨也，然濕邪一去，熱氣即從外達，又名暑熱，不名暑濕，一氣而有兩名，前後之用藥亦異，蓋以熱則傷陰，氣亦更弱，無怪乎鼻衄舊恙，上從清道而出，身體困倦，飲食漸減，脈轉弦數，陽分更熱，口內知乾，種種見其虛中有實之象焉，但暑邪一症，河間每論三焦，現在頭額蒙邪，熱偏於中上，惟衄去過多，虛在下焦陰液，如此細診，斷在少陰不足，陽明有餘，有何疑惑哉，擬景岳玉女煎法，俾得中下焦熱氣上薰於肺者，悉從闇化，而下焦之陰氣，亦不再傷，仍不出乎劉氏三焦治例，未識當否。</p>
<p>細生地。煨石膏。淮牛膝。麥冬。知母。</p>

<h1>藩署蕭</h1>
<p>人生四十，陰氣自半，從古至今，未嘗不若是也，惟尊軀之所獨異者，正在濕痰素多，陽事早痿耳，嘗閱醫書，夜臥臂在被外者，每易招寒而痛，露臂枕兒者，亦易受寒而痛，此間之痛，雖非二者可比，而其起痛之因，本於臥在竹榻，竹榻之性，寒涼者也，日日臥之，則寒涼之氣，未有不襲筋絡骨，較之前二條之偶傷筋絡者，更進一層矣，所以陽氣不宣，屈伸不利，痛無虛日，喜熱惡寒。仲景云：一臂不舉，此為痹。載在中風門中，雖非真中，而卻類中之機，豈容忽視，現在治法，首重補陽，兼養陰血，寓之以驅寒，加之以化痰，再取經絡通之，則一方制度，自不失君臣佐使焉。</p>
<p>製川附。黨參。片薑黃。炙草。大熟地。當歸。白芍。橘紅。風化硝。桂枝。西羌活。沉香。海桐皮。枳殼。野於朮。茯苓。綿黃耆。阿膠。製半夏。虎掌</p>
<p>右為末，取竹瀝一茶碗，薑汁一調羹，入淡蜜水泛丸。</p>

<h1>松江朱逢辰。次診。</h1>
<p>左升太過，右降不及，何絆之病？日：左屬肝，右屬肺，肺肝同病，自然升降失常。然肺為五藏華蓋，肝脈布於兩脅，此左升僅屬於肝，右降反屬於肺，何也？蓋肝體在旁，肺體在上，只就位置而言。若論其作用，內經又曰：肝居人左，肺居人右。右之不降，肺正失其清肅之用也；左之過升，肝反多所橫逆之用也。橫逆之邪，加於清肅之所，木寡於畏，反侮於金。無怪乎身半以左之氣旋之於右，既不能透徹於上，亦不能歸宿於下，有如邪正相爭，盤旋脅部，直至得下後，與氣則快然如衰者，木究不能上克於金，而仍下泄於上也。夫土曰稼穡，作甘者也；木曰曲直，作酸者也。口甘帶酸，痰唾亦然，何莫非土受木乘之過？木亦太剛矣哉，誰能柔之？惟有左金一方，以為克木之制，則木正其體，金得其用，何患升降之不得當耶？</p>
<p>左金丸</p>

<h1>復朱逢辰書</h1>
<p>接讀手書，荷蒙錦念，謝謝！所諭氣火益熾等證，即古語云：氣有餘，便是火。氣從左邊起者，左肝火也，左金丸主之，當歸龍薈丸亦主之。今既左金一丸，如水投石，自宜以當歸龍薈丸繼之於後，未嘗不可為法。惟我先生有為癰為血，不可不預防一語，云出自高明，定有灼見。弟始而駭然，繼且茫然，幾不知筆從何處著矣。我先生如饑如渴，以望一方，惟速為貴。而弟又刻無暇晷，夜以繼日，有者求之，無者求之，必得一左之右之，憮不宜之之要法，然後可以復書。非敢緩也，蓋有待也。端午日，下問者少，徒輩聚在一堂，講論百病皆生於氣，遂有九氣不同之說。氣本一也，因所觸而為九。夫怒與思，為九氣中之二焉。思則氣結，內經自為注腳云：思則心有所存，神有所歸，正氣留而不行，故氣結。先生有之。至於怒則氣上，甚則嘔血，怒則氣逆筋緩，發於外為癰疽，古人亦載於氣門，以昭邪鬱必變，久病入絡，非無意也，先生亦有焉，弟即從此領悟曰，怒有形於外者，亦有不形於外者，暴怒傳陰，不形於外者，鬱怒傷肝，惟其鬱也，木即不能鬯茂條達，反來橫逆，則氣鬱於中者，勢必火炎於上，金受火刑，有升無降，痰血熱辣，一病於肺，痞滿鬱塞，再病於脾，脾肺同病，則胃家之痰食，無力以消，膽經之木火，從而和之，將來血溢於上，癰腫於經絡，增出一番新病，誠不能不未雨而綢繆也，然為癰為血之枝葉，仍不外乎氣鬱為火之根底，治病必求其本，因思氣從左邊起者條內，有久患氣結，諸藥不效者，先服沉香化氣丸，以開其結之文，不獨將來之變病，可以預防，即現在之氣火升騰，亦為合劑，而況右脈弦強，即土鬱奪之之法耶，惟沉香化氣丸，重劑也，權宜用之而已，元虛久病之體，於病不能不用，而亦不可多用，清晨宜服八分，晚服逍遙六君輩，調之補之，以為實必顧虛之計，未知是否，請正。</p>
<p>朝服沉香化氣丸，晚服逍遙散合六君子湯。（去半夏、人參，加北沙參、川貝。）</p>

<h1>嘉善吳</h1>
<p>大小便易位而出，名曰交腸。陡然氣亂於中，原屬暴病，不料遲之又久，腸間穢物歸併膀胱，悉從小便而出，較之交腸症，似是而實非矣。良由瘀血內阻，大陽廢而不用，幽門闢為坦徑，闌門不司泌別，捨故趨新，捨寬趨隘，日痹一日，漫無愈期，竊恐元氣不支而敗。此時論治，必須故道復通，瘀血漸消，庶乎近理。旋覆花。新絳。青蔥管。歸鬚。柏子仁。首烏。薺菜花。另用舊烏紗帽一頂，炙灰，每服錢半，溫酒下。</p>

<h1>常熟李</h1>
<p>驚悸起因，傳為顫振，繼以寤寐不寧，左脈細軟，右關弦數，數則為火，弦則為痰，細軟又主乎虛，虛在肝腎，眾以痰火結於脾胃，所以能食少運，肢體軟弱，口燥身麻也。連日本既屬安適，無容更張，惟痰火內勝，不得不以十味溫膽法加減佐之，以為標本兼顧之計，俾得虛不再虛，實者不實，未知是否。</p>
<p>人參。大熟地。天冬。大生地。茯神。柏子仁。棗仁。石決明。橘紅。當歸身。川貝。鮮竹茹。龍齒</p>
<p>次診</p>
<p>顫振一症，乃陰氣爭勝，顫則陽氣不復。其勢之來，上衝則鼓領，四散則肢動。至於肉瞤筋惕，不過來勢之輕者，平補鎮心而已。惟肝不藏魂，寤寐失常，膽又內怯，驚悸時作，加以痰火串入其間，法須兼備，冀免厥塞。</p>
<p>人參。龍齒。歸身。遠志。茯神。麥冬。橘紅。生地。棗仁。川連三分拌炒。膽星。秫米。半夏。竹瀝拌。石決明。竹茹。鉤藤</p>
<p>三診</p>
<p>顫振不發於冬至，已責陽氣不復，此在冬至以前發者，尤為陽氣不復，不言而喻。至於陰氣爭勝，似未可解，而不知陰氣之所以爭勝者，皆為陽氣不充，未經來復之敵，若能來復，則陰氣何能爭勝？然陰之爭勝固已，而其所爭所勝之陰，究係何物邪氣？曰：肝屬陰，痰亦屬陰，痰屬於脾，脾經所生之痰，內因肝經之陰火下動，動則生風，痰亦隨之而逆，此顫振之所由來也。豈獨諸風掉眩，皆屬於肝而已哉！惟本有驚悸，此因顫振而更劇，無怪乎其寤多寐少也。</p>
<p>人參。冬朮。茯神。炙草。半夏。陳皮。大生地。麥冬。歸身。白芍。酸棗仁。遠志。秫米。竹茹。石決明。鉤藤。先服磁硃丸二錢，陳皮湯下。</p>

<h1>崑山陳</h1>
<p>胃脘當心而痛，繼以形寒發熱，如瘧而作，甚至呃忒頻頻，此係溫邪外感，穢濁內踞，加以濕痰食滯，交結中宮也。設使中宮之陽氣內旺，所受之邪，容易化達，茲乃元氣本虛，諸邪又傷於後，無力消除，病延多日，所以脈象空弦，神情困倦，非補不可時也。但舌苔白膩，乾欲熱飲，下體先痹，今更作麻，噦逆惡心，邪戀肺胃，而腎氣亦袞，用藥極難兼顧。然溫養中宮，佐以上下分治之品，俾得一舉而三善備為，以冀即日見長為幸。否則氣息易喘，恐增額汗，伊可畏也。</p>
<p>人參。於朮。製川附。炙草。半夏。川朴。旋覆花。木風。麥冬。茅根。淡乾薑。丁香。枇杷葉。藿香。代赭石。</p>
<p>進前劑，麻痹得和，四肢亦緩，且得吐出陳腐酸苦，其色若塵，此皆得溫而通也。然呃忒頻頻，氣息短促，呻吟不絕，噦逆嘔惡之象，扔不能除，神情困倦，左脈空細，右脈弦急，大便溏黑，喜飲熱湯，濕痰邪滯之外，又有瘀血在裏，邪從上出，不自下行，已為逆症，而況嘔吐之時，會經額汗，能不慮其虛液暗起而脫乎？噦逆嘔吐，無不由於氣之所載，氣若不平，諸症何從化解？將前方加減，先使氣平為要。</p>
<p>旋覆花。代赭石。半夏。半膝。西洋參。刀豆子。杏仁。檳榔角。沉香。台烏藥。大補陰丸。</p>
<p>呃忒曰輕，嘔惡日重，此即陳腐之邪，內阻氣機，為呃忒者，多從嘔出，所以一則見輕，一則見重也，然病根欲拔，而其所出之路，逆而不順，上而不下，頗失胃氣下行為順之理，卻為累事，昨夜額雖無汗，今朝脈尚弦急，呻吟未絕，所留陳腐之邪，尚在中宮，犯肺為咳，犯胃為嘔，直從中道而出，猶帶呃忒，必須去盡宿邪，庶幾有望。</p>
<p>風化硝。茯苓。製半夏。枳殼。刀豆子。蘇子。白芥子。茆根。枇杷葉。厚朴。西洋參。竹茹。</p>
<p>蕩滌宿邪之下，嘔惡大減，呃忒更緩，脈象稍和，呻吟漸除，大便疊通。夫乃胃有下行為順之兆乎？去疾莫如盡，尚須磨蕩下行，繼之於後，可卜其旋，元吉。</p>
<p>雲茯苓。枳殼。風化硝。半夏。白芥子。蘇子。大腹皮。苡仁。枇杷葉。厚朴。刀豆子。茆根。鮮竹茹。穀芽。</p>

<h1>虞德泰窒人新城西柵五十歲</h1>
<p>肝者，將軍之官，女子以此為先天，與男子不同，大病後，先天未經復元，肝血內虧，不能涵養肝木，肝性剛強，入營則吐血，入胃則脘痛，上升則頭量，肝經之病，可云甚矣，設使脾土內旺，尚可生金，金來制木，不足慮也，無如此際健運失常，濕從下走，五更溏泄，甚至濕鬱於中，腹中雷鳴，濕又鬱而為熱，其氣上行，耳內嘈嘈出膿出汁，今更失其聰矣，脾經之弱，自顧不暇，豈有生金制木之功哉，然肝為剛臟，順乘中土，木屬易事，橫逆肺經，亦不為難，侮金之木，偏遇肺失清肅，木寡於畏，咳嗽數月，時見鼻衄，左脈過弦，右寸上溢於魚際，甚至少腹有形之氣，從下而上，或攻於左脅，或逆於右脅，或塞於中，或作嘔惡，竟有驟變為厥，緩變為臘之形，豈容渺視，然肝屬乎陰，陰中有木，火存為，不左其金，無以為治，但面色萎黃，肢體無力，飲食不多，喜飲熱湯，中下之陽氣式微，不得不兼顧治之也，至於得後與氣，則快然如衰者，不外是病，亦不外是治耳。</p>
<p>九香蟲。冬朮。車前子。白芍。麥冬肉。桑皮友。牡蠣。陳皮。紫苑茸。骨皮厚。杜仲。歸身。左金丸。</p>

<h1>平望陸信夫</h1>
<p>先痛而後瘇者，形傷氣也，究其氣之所以形傷者，熱勝則腫，火甚則痛耳，此等見症，不足以泄其邪，又挾身中之白積，下走腸間，似屬尋路而出矣，然脾氣不升，反從下陷，四肢浮，陰囊瘇，小水不利，滿症作焉，實則瀉之未始不美，而不知所存之濕，歸入腹中，以昭諸腹脹大，皆屬於熱，幸得五苓以分其勢，然猶未也，午後發熱，鼻準色赤，雖曰脾經伏熱，而咽之時痛，喉之乾燥，舌之光紅，苔之剝落，又有熱傷陰氣之象，泄熱之中，兼以存陰，尚為可治，今乃望得形枯色滯，聞得氣短言微，問得不納便溏，脈之切得者，右關弦數而大，至數模糊，左部寸短，關尺細弦，按之俱屬無情，無一而非陰枯陽竭，土受木乘，勢欲悠悠忽忽而悅，偏補陰陽，皆有所礙，惟以培補元氣一法，以冀一息之氣，既可助陽，亦可生陰耳。</p>
<p>人參。麥冬。五味子。鮮藿斛。藕節。丹皮。伏龍肝。陳香櫞。茯神。牡蠣。奎白芍</p>
<p>覆診</p>
<p>瘇痮一症，大忌氣喘溏泄，上下交征，以使氣血陰陽立盡，而脫深可虞也。進前方，溏泄已止，氣喘已平，腎本肺標，自有相生之兆，病屬轉機。是以色之滯者能開，形之枯者得潤，本質之撥，固然因補而挽回，而枝葉之害，亦因清而見化。化則口舌之乾，咽喉之燥，咳嗽之作，無一不因而愈，所愈者過半矣，可稱佳事。無如大腹之滿，雖減不已，未食之前，不知釩餓，既食以後，反多飽痮。蓋以陽明中土，萬物所歸，而陽明胃府，更有食積痰滯交結於中，無怪乎短脈雖長，弦數未罷，且兼滑大，午後微熱，鼻色微紅，陽縮雖伸，囊瘇雖消，四肢之浮腫不能消，尚屬病根未拔之候。虛則補之，熱則清之，積之一字，惟有磨盪而已。方而三法備焉，未知其能弋獲否？</p>
<p>人參五味子白芍鮮藿斛麥冬左牡蠣藕汁陳香櫞丹皮伏龍肝茯神雞內金澤瀉陳海蜇荸薺二劑後去藕汁，四劑後去鮮斛。</p>
<p>另方。</p>
<p>陳香櫞、人中白等分，為末。每服錢半，取人參二分，砂仁一分，煎湯送下。</p>

<h1>溫中軍</h1>
<p>頭為空谷，氣本內清；耳為聽官，聲由外納。茲乃反是，望得舌苔黃濁，聞得氣息喘促，問得心神恍惚，脅部痮逆。診得左脈細長，右關弦數。弦則為濕，數則為熱。細為陰分之細，長為壽命之長。長命者，元陽必旺，陰分自虛，偏以濕蒸熱鬱，竊踞陽明。陽明之脈，盛於頭面，頭面諸經，暗被濕熱上薰，何怪乎昏昏不爽於頭裏，嘈嘈反起於耳中。心神之所及，肝脅之部，肺氣之息，凡在中上兩焦者，莫不深受其累焉。補陰以配其陽，化濕兼清其熱，在所必需。</p>
<p>大熱地（八兩）　竹茹（二兩）　江枳殼（一兩）　黨參（二兩）　當歸身（二兩）　炙草（一兩）　製半夏（二兩）　茯苓（二兩）　酸棗仁（二兩）　陳皮（一兩）　明天麻（一兩）　甘菊（一兩）　石決明（三兩）　於朮（一兩）　白芥子（七錢）　丹參（二兩）　女貞子（二兩）</p>
<p>右為細末，取白蜜十四兩，煉熟糊丸，如桐子大。每服五錢，清晨淡鹽湯送下。</p>
<p>又</p>
<p>古語去癢為美疾。夫疾以美名，似非近理，而不知一癢之下，濕熱交蒸者，無不發之於外，都從黃水而出，則軀殼之內，從此清且和矣，不亦快哉！然際此黃水成瘡之候，搔養難當，可無具以應之乎？附方。</p>
<p>煨石羔（十兩）　掃盆（四錢）　青黛（一兩）　共為細末，摻之。如水少者，用煎熟菜油塗。</p>
<p>又</p>
<p>驚著必恐，煩亦歸勞，勞則氣陷，恐則氣下。氣之正者，既從下陷，則胃家水穀之氣，亦未有不隨之而下陷，此作瀉之所由來也。扶助正氣，以使有升無降，捨大補脾腎而何？</p>
<p>大熟地（四兩）　肉桂（五錢）　淮山藥（二兩）　茯苓（一兩五錢）　山萸肉（一兩）　丹皮（一兩五錢）　製川附（五錢）　黃蓍（二兩）　西黨參（三兩）　升麻（三錢）　炙甘草（五錢）　於朮（一兩）　當歸尾（一兩）　陳皮（一兩）　建澤瀉（一兩五錢）　柴胡（三錢）　右藥和入清水，煮成膏滋，收得極厚，聽取。用補骨脂二兩，吳萸一兩，五味子一兩，肉莫二兩，為末，即取前膏糊丸，如桐子大。每服四錢，清晨淡鹽湯送下。</p>

<h1>覆元和何明府改定丸方</h1>
<p>從前所用十四味方，不外和心脾腎三陰藥也，三陰之中，責重乎陰，稍佐以陽，製方之意，悉因陽常有餘，陰常不足起見，是以熟地武板，滋納腎於下，於朮黨參，健運脾於中，茯神棗仁運志，柏仁培養心於內，尚恐三陰不能和協，而用歸身以統血，陳皮以調氣，更取豬之髓，人之乳，皆屬有情者，急補真陰，又得枸杞兔絲之二子，陰中求陽，陽生陰長，共填不足之陰，而陽之有餘者，亦不至有所偏害，近來飲食不多，體膚未免受餓，理治不少，筋骨未免受勞，將充膚澤皮以溫分肉之黃耆，養筋骨以添精髓之首烏，合而用之，未始非一要著，至於勞倦傷脾，脾虛不能為胃行其津液，容易生痰生飲，可以二陳為使，然則今之立法，意在貴陽而賤陰矣。呈電</p>
<p>肝者，將軍之官，謀慮出焉；膽者，中正之官，決斷出焉。二者失其所出之常，鬱結不解，以致右脅下痛。蓋肝脈布脅，膽附於肝，一臟一腑，表裏同病耳。然所病之痛，又因下積而除，顯係肝膽兩經，雖因本病，而實濕熱久傷，附和其間所致。後來濕補燥烈，既傷營血，又滯濁痰，氣分日窒，右降不及，無怪乎右脅之下，窒礙不通，舌上生苔，大便燥結，吐痰反少，面黃帶滯，脈象弦澀，增出一番清濁渾淆見症也。遽述下積之後，精神稍爽，似欲以通為補之象，未知是否？</p>
<p>旋覆花。青蔥。霞天麯。新絳。柏子仁。飴糖。當歸鬚。萆薢。刺蝟皮。橘紅。先服醫通沉香化氣丸五分，另水紅花子一合，炒熱，絹包熨。</p>
<p>又</p>
<p>脈之澀象稍和，弦則未改，積下之後，脅部稍能活動，想是痰血兩邪，尚有盤踞之意，而未解散也。</p>
<p>旋覆花。湯飴糟。霞天麯。歸鬚。刺蝟皮。橘紅。雞內金。萆薢。瓦楞子。</p>
<p>丸方</p>
<p>六君子湯。乾薑、陳粳米、取巴豆粒拌炒，仍去巴豆一合淘。黃連、九肋鱉甲、川朴、雞內金、當歸、水紅花子、飴糟、瓦楞子、牡蠣、竹瀝達痰丸。別研細白芍、薺菜花、神麯、漿糊丸。總按：本書雖有與前集曹仁伯醫案中雷同者數則，然於藥方或稍有出入，相見當時門弟子各有鈔錄，或是或非，特兩存之。</p>
