<header data-type="book">
<h1>黴癘新書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>片倉元周</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00884/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>疾疢之至惡。而最難理者。莫癘若焉。宜乎其有惡癘之稱。而夫子自牖執其手而嘆也。迨至近代。設之坊。構之院。置之園。不敢得與良民齒伍。雖是出於不忍之政。抑亦可哀哉。相州片倉深甫。蚤受業於家君。與余少長。鉥心刳精。殆二十年矣。以其涵養之久。決生於分寸。起死乎刀圭者。日月陸續矣。而最巧乎胎產之科。坐婆斷以不娩者。深甫至而拊摩一再。得乳於蹲循揮霍之間者。不暇僂指。而深甫不自多。居恆特憂癘之難療。適有一老醫。妙療此疾。蓋其為法。毒藥以下蛔蠍。燔針以去⿰血亏蔑。內外攻之。必至為完人而止。真絕世之神方也。深甫乃重齋懇請。漸得授之。洎西遊城攝勢紀之間。試諸其病。無不響應。因謂病之最難理者。莫癘若焉。葉之奏奇效。亦莫此方若焉。夫有至惡之疾。而有至當之方。與獨秘以濟人。不若廣傳之濟眾也。遂筆而聯編。槧而布世。昔者錢子飛。有治大風方。極驗。常以施人。一日夢。人自雲天使。己以此病人。君違天怒。若施不已。君當得此病。藥不能愈。子飛懼遂不施。內翰蘇公。志其事曰。若余書不然。苟病者得愈。願代受其苦。此可以為仁人之言也。今深甫可謂不懼子飛之所懼。能心蘇公之心善。繄此書盛行。與伯牛同患。而免斯疾之嘆者。必多有焉。如黴瘡諸方。悉出其日常。從歷試經驗。世之同技者。若能確信於心而用之。亦庶乎減掶中之記也。</p>
<p><u>天明七年歲在戊申夏五之初東都醫官丹波元簡撰</u></p>

<h1>黴癘新書序</h1>
<p>蓋夫上古聖人。所制之禮。乃后王之規則也。廢古之法。而新制之禮。君子弗由也。仲尼曰。信而好古。然古今異制。時世殊宜。故夏殷周。互損益之矣。其後以陽侯殺蓼候。而竊其夫人。於是乎大饗廢夫人之禮。然則先王之制。不宜則廢。末世之事。善則著之。未始有常也。故聖人制禮樂。而不制於禮樂矣。夫醫經經方。古昔賢聖。定之規矩。立之準繩。使末世之人。百病一見。而瞭然辨析。故醫之理疾疢。棄古之法。立方齊於今。學者弗取也。然至於軒岐不論。仲景不言。元方不敘之病。則又將何以稽考乎。若夫論因之詳。敘證之審。而其立方處劑。古昔之法。不宜於用。而後世之方。善於理。則釋古而行今。又何為拂焉。夫黴瘡之為病。靈素靡載。金匱農經病源等。陰蝕陰瘡雖稍近似焉。今之稱謂。肇起元初。而盛於後世。於是乎前輩。建之法論。載之理方。然而或過諸鑿。或失諸粗。其畏劇藥者。則惟平易是務。視硝黃膩粉。猶蛇蠍。排補劑者。惟攻伐是用。視參耆鹿角。猶鈍刀。互相倚頗矣。不亦過乎。是以予博集各家秘蘊。取以親歷試。殆且二十年。其形雖壯實。脈候涉虛。則純補不厭。其體雖勞羸。診候得實。則駃藥何懼。然後其功效。出人意表。因鳩撮此等之法方。乃成一袠。名曰黴癘新書。有廢古之法。而創立規則者。又有賴古之法。而增新意者。予豈敢不信古哉。法方未始有常也。夫聖人制法方。而不制於法方矣。新書之意。蓋有似焉。</p>
<p><u>天明七年丁未歲臘月鶴陵片倉元周書於靜儉堂</u></p>

<h1>黴癘新書序</h1>
<p>甚矣哉。癘風之難醫也。自岐黃論因。元方敘證。思邈立方。至宋元明名賢。其方愈出愈繁。未嘗見奏萬全效者矣。余家業醫者三世。每觀家君療此病。不過十瘳其一二而已。余自少小。究心於方術。博取而精研。深思而透悟。歷二十年之久。而渙然冰解。然後至治傷寒雜病。滯下小兒。自以為似有得焉。然而竊憂此病之最難治。是以更檢尋先哲之方法。傍需俗間流傳之妙方者。又數年。既得百有餘方。每得一方。即取自試之。或傳同志者。以試之。斷乎有功驗者幾希。徒束手待盡。竟歸之於命而已。然私心常悲之思之不輟。偶聞一醫生某。獲治之之奇方於羽之隱醫。彼比諸連城。不敢許傳人。於是余屢贈金帛。卒購得其方。其術甚神奇。使膏肓發疾。收效於數旬之間。蓋雖華扁之術。不過此也。余復取家君所經驗者。參伍相昭。殫精竭慮。盡辨輕重淺深。可治不可治。與假而真者。真而假者。以發其蘊奧矣。於是乎天下治此病之法。莫有出此書之右者。豈與薛氏機要之類。可同日而語哉。管子有言。思之思之。神將通之。諒非虛語也。天明丙年春。余家罹災。繼又得時病瀕於死。至稍知人事。自謂吾若為泉下人。則此法亦俱湮晦。於是探篋衍。取向者所輯錄。更加校讎。又並所聞見之治驗法方。及余所親療醫案若干。以附於後。不揣鄙陋。鏤梓傳遠。題曰黴癘新書。天下之業醫者。苟能反覆是書。得其術。則縱令治一患者。其功德豈為鮮矣哉。故不敢自秘。開示韞匵。以與世共之云。</p>
<p><u>天明六年歲次丙午。冬十有一月南至。相州鶴陵片倉元周題於靜儉堂</u></p>

<h1>總論二十四舉</h1>
<p>一舉曰。風論云。癘者。因榮衛熱胕。（吳云胕腐同）其氣不清故使鼻柱壞而色敗。皮膚瘍壞。脈要精微論云。脈風成為癘。以是觀之。則斯病之生也。多從風起。風氣搏肌肉。與熱氣並。則榮衛壅塞難通。血氣精髓乖離。遂令人身體遍癢。手足頑痹。身面腫痛。眉睫墮落。眼光閃閃。久而不治則至於鼻柱崩倒。蝕指穿骨。終不可復也。蓋此病多因風土所生。中國少有此證。惟煙瘴地面多有之。或觸糞坑穢氣。或露臥當風。或睡眠濕地。毒風襲血脈。遂釀作此病也。又有過食膏粱油膩。或房勞穢汙。以致火動血熱。或產後瘀血不盡者。俱加風寒冷濕。胃氣混濁。以生蛔蠍。積年之後終發此證者矣。又有幼年姿豐美麗。肌膚潔白。恰如冰雪者。動輒發此證者矣。此所謂宿業緣會之所為也歟。將自高曾祖。血氣相傳者歟。抑負功德祟歟。未可知也。然至治法之手段俱一也。又有黴瘡似癘者。有酒毒似癘者。宜詳而治之。</p>
<p>二舉曰。癘風之病。古人立名論證尤多。今唯舉其目。曰大風。曰大麻風。曰大風瘡。曰害大風。曰大皮風。曰順風。曰逆風。曰刺風。曰泄風。曰瞤風。曰頑風。曰癗風。曰木癘。曰火癘。曰金癘。曰土癘。曰水癘。曰面癘。曰蟋蟀癘。曰雨癘。曰麻癘。曰䖲癘。曰酒癘。曰烏癘。曰白癘。曰白牛疾。曰癩瘡。曰癩病。曰蟲癩。曰㽿癩。曰黑癩。近世俗多單用瘋字。惟是從風。從疒耳。命名多端如此。論證各異。或分上下以施治。或以蟲蝕五藏立方。豈愈繁愈失者非邪。此書之論治法方。不出辨輕重二證之外耳。</p>
<p>三舉曰。治病分寒熱辨虛實。萬世不易之程法。豈可忽諸。癩風之於病。亦不復無虛實寒熱之分也。若得此病。而屬虛寒者。斷為難治也。強欲治之者。譬諸割瘤。非徒勞而無益。反損其天年。故此書治法。悉為壯實者設耳。</p>
<p>四舉曰。凡眼中黃色者。合谷及魚腹肉脫者。或爪根無白暈者。或持物不知自墮者。或手足心破裂血出者。或眼目既蝕。或玉莖腐爛。或四肢攣拳。或身體黑斑者。或十指如雞距子者。或周身毫毛脫落者。或鼻柱崩塌者。或蝕指穿骨者。或常飲食色欲過多者。或屢浴溫泉者。或齡過四十者。或身體瘦瘠者。俱為難治也。</p>
<p>五舉曰。若多淫多食者與身體黑斑者。雖固屬不治證候。亦有輕證兼見之者。以其為難治候。概不可遐棄焉。其救療之法。宜灸脊骨第十一椎節下日三壯。服藥中。必不可少也。</p>
<p>六舉曰。凡不拘輕證重證。有見證脈候。頗似可理。而不可療者。所謂驕恣不論於理。輕身重財。自知惡疾。而不欲服藥餌。恣口味而不為遵師教。其若此者。雖和緩復出。不可奈之何也。不啻是。諸疾皆然。故扁鵲論六不治。郭玉說四難。</p>
<p>七舉曰。輕證者。宜用三稜針以取死血。刺之之法。當於死肉與平肉之際下針。不然則瘀血出少矣。又至其尤輕證者。取曲池與委中。宜間二三日若四五日刺之。不可日刺之也。如其重證者。非燒針。則難收功矣。夫燒針之名。肇出於張仲景傷寒論。即內經所謂燔針粹針之類。而主治風寒筋爭。攣引痹痛。或症塊結積。癰疽發背。癱瘓不仁等證。然後世此法不傳焉惜哉。今余之所用者。頗與之異。其數十有三。而鋒長七寸五分。（即用今之曲尺）尖如挺。其鋒員且銳。柄形六稜。長三寸。內一柄乃為平頭針。（圓見後）凡制針。宜以柔鐵。必不可用鋼鐵。其害不淺也。</p>
<p>八舉曰。欲用燒針。則須先視毒淺深多少。而後施之。看之之法。將患者房內。解帶令坐。窗戶盡閉令暗黑。點火於樟腦。可以視其周身。凡其毒隱皮膚中。不見者。燎燎乎猶觀火也。其色如水葒色者。其毒必淺。若其色紫黯者。其毒必深矣。且瘀血形狀不一。有方者。有圓者。有長者。有短者。有楕者。有如鱗甲者。有如胡蘆者。皆沿其死血所在處之大小。形狀之變態。取筆以盡記其匡郭訖。披窗戶而施燒針。其毒多在面部手足項背。而腹部有之者甚少。</p>
<p>九舉曰。凡刺燒針。先以五斤炭火。按排大火盆中。除平頭針之外。十二針。盡列於火上。緊火燒令通赤。然後周身墨圍中。不留一處。盡刺之。刺之之法。取一針刺一處。刺卒直反諸火上。又取次針刺之。如前法。十二針刺卒。則再取反火上之針。更刺之。不拘肉厚薄堅脆。經脈血氣多少。及禁針禁灸等輸穴。隨瘀血所在處。而盡刺之。針痏其間。各相去如蔥莖。凡所刺針孔。曾無有血流出者。又無有覺疼痛者也。燒針之法。須令一人向火扇之。手不可暫止。若炭火欲盡。則再加炭以扇之。針若不通赤。或遲寬而冷則反損人。且不能去病也。謹之謹之。</p>
<p>十舉曰。欲刺燒針。則須令患者側臥。先於手足中毒之最深處。試刺五六痏。必不可令患者見焉。何則。苦見炭火焰焰。燒針通赤加火。則患者不免驚懼。體戰齒鬥。猶犯法人褫衣受刃矣。故目下刺之。則針未至皮膚。顰眉蹙額。聳身不能刺也。不令其見之。則針入一寸有奇。猶且不覺痛癢。於是患者異之。自以為非此法。必不治。遂至自請多其針。凡刺燒針畢。則必身體發熱。面色正赤。口舌乾燥。或頭痛或渴。當此之時。宜與溫湯一二口。更燒平頭針通赤。以其頭。印百會穴。如此則患者抑鬱之氣。豁然散發矣。凡用平頭針手法。手須輕捷。稍遲則不任痛楚反害焉。</p>
<p>十一舉曰。刺燒針總三日。第二日於初一日所刺針痏間。盡刺之。第三日亦放之。始下針其毒最深處。針入一二寸。而患者曾無覺痛癢。至第二日。則針入七八分。稍稍覺痛。至第三日。則針入僅五六分。亦不任痛苦。蓋死血去而新血漸生也。將施燒針前。當拔患人頭髮試之。拔之則隨手而離肉正如拔無根草。必不知痛癢也。其刺燒針畢後。則欲拔之。髮根緊堅。而如尋常人。是瘀濁去而營血充也。</p>
<p>十二舉曰。輕證者。初起皮膚不仁。或淫淫癢。如蟲行。或十指頭常冷。或乍寒乍熱。或手足痠痛。或股脛時如被針錐刺。或身體遍癢。搔之生瘡。或手足一片常冰冷。或𤸷如錢大。或痛無常處。流移非一。或身起白屑。或手足小指頑痹。或身體手足發腫。或如按豆。或如酸棗。或出或沒。當此時。當以樟腦一塊如雞卵大。點火照看周身。以認其毒多少。仍以三稜針去瘀血。然後更服當歸湯二十日。繼吞竹精丸。四五十日。莫有不瘥者焉。</p>
<p>十三舉曰。重證者。身體磊塊。其色紫赤。如彈丸大。或如雞子大。若近火則為水泡。過二三日若四五日。則頂陷而黃水流出。或如蕩湯火傷之瘡。或眉睫墮落。眼光如電。或皮膚皴散如樹皮。手指欲拳。或面目無潤。其色灰白。或身面腫痛徹骨髓。或語聲嘶散。或耳鳴啾啾。或身體頑痹。不知痛癢針灸不覺痛楚。或身中發瘡一二。一處瘥則又發他處。展轉不已。或毛髮拔之不痛。於此時。急用當歸湯七八日。後更刺繞針三日。每夜臨臥向一更來。宜以白湯。服第一神效散。至第四日。服第二神效散。五日至七日。服第三神效散。服法俱仿第一神效散。</p>
<p>十四舉曰。凡刺燒針。服三種神效散之間。切不可食鮮鮭諸肉。生蔬酒醋。鹽滷豆油等物也。惟於朝饔時。淡味醬汁煮瓢畜。可輔食味矣。午飯夕飡。斷不可食鹹味。宜以淡漿粥將養之。</p>
<p>十五舉曰。凡服第一神效散。則其夜必腹中雷鳴疼痛。或嘔吐穢物。或大便。下穢水瘀物。或如稠痰之狀。或小便如丹粉和膠脂。達旦而止服第二神效散。則下諸蟲或衃血血瓣。紫黑褐色等物。至第三方。則下物亦不多。其色如雞蛋黃之狀。或軟或硬。亦徹旦止。矣。自服神效散之二三日針疻水出不止。必不可用敷貼藥。漸漸結靨。而自剝落。若遷延數日不止者。當以蕎麥粉摻之。</p>
<p>十六舉曰。凡七日內。服三種神效散已後。又以虎勢丸一劑。分為十五。日以一貼白湯吞下。日三夜二。而過八九日。若十餘日。則針瘡自結痂。赤斑亦尋滅。手指將拳者漸伸。飲食日進。形體亦當壯健。然後繼以龍石湯。</p>
<p>十七舉曰。凡治此證。須令患者。清淡口味。斷絕色欲。此乃一大緊要事也。若犯此戒。則不免再發也。假令其病瘥。對酬如常。可禁忌者尤多。宜食者僅僅乎無幾也。今舉其可啖者若干。以列於下。凡如粳米大麥小麥黑白大豆。赤豆綠豆。胡麻乾菜。薯蕷砂糖。萊蔔冬瓜。萵苣牛蒡根。蕪菁干芋梗。五加葉枸杞葉。雞腸菜蒲公英。獨活三葉龩。葛粉瓢畜等。及海參鰺魚。串鰒石首魚。梭魚棘鬣魚。𬵵魚鰈魚。火點鱵魚。蜆肉乾鰹之類。熟烹而常啖可矣。然如魚肉必不可日吃之。其他一切物。斷然不可食也。如禽獸諸肉。觸口亦為大患。戒之戒之。</p>
<p>十八舉曰。患此證者。必不可浴溫泉。蓋溫泉之為性。金鐵硫黃硃砂海鹽礜石礬石砒石雄黃等氣。蒸為暖流耳。如利關節通壅滯。撲損閃肭。疥癬等病。在表而不關裡者。固所宜也。若梅瘡結毒。痼疾沉疴。假令浴之發出濕毒。豈足除其根本哉。況如癩風。其毒深痼。病之至惡。無出於此矣。若一浴之者。其毒蔓延。終作不治證也。若其幸不浴者。其毒僅結二三四五處。燒針易施。治效易收也。故此證之於溫泉。殊在大禁。所可深畏也。</p>
<p>十九舉曰。有酒客患若癩證者。亦不可不察焉。夫酒之為性。其氣剽悍滑利。暴氣動血。其極竟釀成瘀血。或作面上赤斑紫暈。或生赤禿齇鼻酒刺。或周身發㾦癗。或成癬。或起皰。動輒延綿不瘥。遂至眉發脫落。庸工不察。認為癩風以治之。致不起者往往乎有焉。當照前所述諸證。及看法。以詳察之。治之之法。宜發散解肌清熱也。又有黴瘡壞證。殆似癩者。見證不甚異矣。治法宜專主化毒也。又有癩風其毒之輕。似黴瘡壞證者。亦宜詳審焉。如此證。切不可用稜針三稜針等也。惟宜與苦參丸。久服緩治。以收效。</p>
<p>二十舉曰。凡此證施治術。自立夏後。至白露前為限矣。何則。天地氣候陽盛。而人氣亦在表。故其毒殊易祛。不易得風寒也。若秋冬春初。風氣凜冽。陰冷盛。而人氣在裡。當此時施燒針。則針處被寒。動輒有生變證者。故殊禁之。若不得止。而欲施針。則宜置患者於燠室中。密塞風隙。常用火一盆。然竟不若時候溫暖之穩協也。</p>
<p>二十一舉曰。夫疾疢之於人身。何限焉。巢氏病源敘一千七百二十七候猶且不能盡其名數。雖則不能盡其名數未有若癩風最至惡者也。是故一罹此病。則夫人避忌之視以穢惡之。猶屠人乞者。非但避忌其人。睹其兄弟姊妹親屬。亦復然矣。故婚姻嫁娶。將立契約。則詰問之殊為嚴緊。假令即今無一人之患之者。若其祖先。嘗有患之者。則雖有宮室帷帳之麗。佳冶窈窕之美。不得納幣於蓬戶桑樞之庳。椎髻荊釵之魗。蓋諱其血脈傳染。不敢受之也。故好人擇好家。癘儔遴癘屬。本邦田野人民。正其瓜葛者。自古為然矣。然而如都下人士工商卻不拘之。其志皆在慕聘財之多少。與其家之富貴。噫如何哉。是雖非醫家所關。姑記為世之鑑戒。</p>
<p>二十二舉曰。本邦南都有癘村。其家數百戶。癘兒皆居之云。頃閱中華書籍所載。有幾與之同者。祝允明猥談云。南方過癩。小說多載之。近聞其症。乃有癩蟲。自男女精液中過去。故此脫而彼染。如男入女固易。若女染男者。亦自女精中出。隨入男莖中也。（周按。此說難信據。）若男欲除蟲者。以荷葉卷。置女陰中。既輸泄即抽出葉。精與蟲悉在其中。即棄之。精既不入女陰宮。女亦無害也。此治療妙術。故不厭猥褻。詳述之。今南中有癩人處。官置癩坊居之。不以貴賤。知體蘊癩者。家便聞官。隱者有罰焉。此說原見陸游老學庵筆記。又吳震芳嶺南雜記。及石天基食愈方載。大痲瘋嶺南頗多。因設痲瘋院。以別居之。他如卑濕之處。淫熱之人。亦間有之。又屈大均廣東新語。有瘋人園之名。今按。華人所錄。俱言嶺南煙瘴卑濕之地尤多焉。如本邦非但南方有之。四方州郡頗多矣。然而如西京東都繁華地。患之者甚少。惟罹黴瘡病者。自中古逮今。特為多。如山野人民。罕能患焉。近世黴瘡蔓延通國。而山野人。患癘疾者稍鮮云。是時運之使然歟。未可知也。余友吉資坦田公幹亦云。四十年來。黴瘡殊多。而癘疾漸罕。蓋聞之古老之話。</p>
<p>二十三舉曰。余嘗瀏覽諸書。載服松脂松木以治癩疾之事。以意度之。病者銕心。能斷禽獸魚鱉。省米穀糖面。屏絕嗜欲之情。割捨愛好之意。以如法服之。有所謂非止瘥病。乃因禍而取福也。此余雖未試。其藥太易得。所厭者。僅煉製之勞耳。寒鄉山野乏醫藥處者。多修合以施於人。功德最大。故一二攟摭。以舉於茲。葛洪抱朴子云。上黨趙瞿病癩歷年垂死。其家棄之。送置山穴中。瞿怨泣經月。有仙人。見而哀之。以一囊藥與之。瞿服百餘日。其瘡都愈。顏色豐悅。肌膚玉澤。仙人再過之。瞿謝活命之恩。乞求其方。仙人曰。此是松脂。止中便多此物。汝煉服之。可以長生不死。瞿乃歸家長服。身體轉輕。氣力百倍。登危涉險。終日不困。年百餘歲齒不墜。發不白。夜臥忽見屋間有光。大如鏡。久而一室盡明如晝。又見面上。有采女一人。戲於口鼻之間。後入抱犢山。成地仙。於是人聞瞿服此脂。皆競服之。車運驢負。積之盈室。不過一月。未覺大益。皆輒止焉。志之不堅如此。又巢元方病源論云。始起便急始之。斷米穀餚鮭。專食胡麻松木輩最善也。又孫真人千金方云。余以貞觀中將一病士入山教服松脂。欲至百日。鬚眉皆生。由此觀之。惟須求之於己。不可一仰醫藥者也。云云。又石天基食愈方。載治癘風一方。云。用明淨松香。不拘多少。去渣滓。取溪河淡水或雨水。用淨鍋。將松香煮化不住手攪。視水色如米泔。嘗味極苦。即傾冷水內。將松香乘熱扯拔。冷定堅硬。別換清水。再煮再拔。如前製法。不論幾十次。只以松香體質。鬆脆潔白。所煮之水。澄清不苦為度。陰乾研末。重羅極細。凡服此藥。每料二斤。日將白米作粥候溫。量投藥末和勻。任意食之。不可多嚼。飢則再食。日進數餐。不可更食乾飯。只以菜乾或筍乾少許過口。一切油鹽醬醋葷醒酒果。糖面雜物。概行禁忌。渴時不可吃茶。用白滾水候溫。投藥和勻飲之。每日約服數錢。以漸而進。不可大多。服藥旬日。或作嘔。或胸膈嘈逆。或大便內下諸毒物。此藥力盛行。必須強服。不可中止。遠年痼疾。盡料全愈。患病未深。只須半料。鬚眉再生。肌膚完好。筋骨展舒。平復如舊。飲食不忌。惟豬首鵝菌。及濕毒之物。終身忌食。此方藥雖不常。效應好神。又澠水燕談。有服長松之法。</p>
<p>二十四舉曰。明都穆譚纂云。陸某長洲農民也。嘗染風疾。鬚眉盡脫。累藥無效。自以為必死。遂辭其家。操小舟攜一孫。自隨往來江湖間。丐食為活。嘗晚泊酒家求灑。有白衣老人。惻然憫之曰。吾善治此病。即以針刺其兩股。血流如注。命以河水沃之。須臾血止。復探囊中以紅藥一丸如小指大與之。日服之至夜半。當出大汗。可急入水浴之。問其姓曰姓鍾。問其所居何地。曰黃村某。服其藥至夜半果然。時暑天如其言。入水浴之。浴畢呼其孫曰。吾疾去矣。吾疾去矣。驚喜不勝。明日操舟還。人亦大驚訝。某具言其故。往其地謝之。則絕無所謂。鍾先生者。始知為鍾離仙云。或言某嘗救一投水婦人亦陰德所致。此清金忠淳硯云甲編中所收。其事雖涉奇怪。姑錄以廣異聞。</p>
<figure>
<img data-orig-src="urn:270:08460.jpg" alt="燒針圖　三楞針圖　平頭針圖">
</figure>
<figure>
<img data-orig-src="urn:270:08461.jpg" alt="燒針按排圖">
</figure>

<h2>醫案</h2>
<p>相州青梅一民。年三十餘。左手小指麻木者期年所。後兩腳𤸷痹。時時如為針錐所刺。里中醫。久治無應效。遂來東都。請予診之。予曰。此癘風也。渠面色不悅。予曰。此當急治方可。不然則瘀血蔓延終為廢疾矣。汝狐疑不能決。我使汝知其為癘風。乃延患者於室中。令解帶裸體。點火於樟腦。以照其周身。則死血隱匿者。灼灼乎猶指蒼素也。即以三稜針。刺數處。患者曾不覺痛癢。於是始信予言。勉強求治。乃用當歸湯十五日。次與第一神效散下之三日。出種種惡物及蛔蟲五條。次與第三神效散。又三日。下黃糜汁十餘碗。次用竹精丸者二十日。外以三稜針。隔三日取瘀血。其症十愈九。尋以龍石湯。兼用香果散。三十日而全然隨愈。彼來予庭厚謝。告以歸鄉。且請藥百餘貼。將攜之還。乃課與之。復囑曰。自今後三年。當屏絕欲情。清淡飲食。遂歸鄉。其後藥盡。則遠致使以乞焉。凡於本病處。服藥者三百貼。又能守禁忌。五年後舉一子。每歲致土物。以謝活命之恩者。八年於今云。</p>
<p>山城西岡村。一富民從弟。年二十五。病癘疾五年。眉須半落。手足稍拳攣。且面上手足。發紫㾦癗數處。既而兩腳頑痹。不覺痛癢。平安醫數輩。醫之無一效。遂廢藥登某山。斷食褥於鬼神者七日。疲勞殊甚。族人扶載歸家。病熱依然不衰。荏苒甚矣。安永戊戌歲。余遊西京。西京違西岡十數里傳聞余療奇疾。乃以轎輿迓於客舍而求治。余已至則患者向余慟哭曰。我年未滿三旬。不幸罹於天刑之病。醫藥禱禳。俱無少效。幸以君之力。再得為完人。再造之恩。死不忘也。余就而視之。合谷肉已脫。爪根無白暈。眼光如電。然似所可喜者。以手指不甚屈爾。余曰。既見惡症二三。於法屬難治。然未嘗浴溫泉。且齡甚富。更能守禁忌。如法服藥。當得愈焉。古人有言。自非醫者神手。病者針心罕能免。汝能如此邪。渠拜手稽顙曰。敬從教而已。遂使患者居室中。遍塞窗戶。令黑暗。秉燭看其周身。則瘀血限界粲然分明。乃盡墨記之。以燒針刺之者三日。初刺針入一寸余。患者曾莫知痛癢。第二日。則針入七八分。頗覺痛。第三日針入未過三四分。其痛不可任。此乃以瘀血去。而新血生也。內用第一神效散三日。大便下利日七八行。次用第二神效散。則後灰色蟲十四條。長尺有奇。內二條有紫黯色尤大者。但作眼目處而無瞳子。乃並放盆中。以水灌之。搖擺片時而死。此自患者。食中無名三指俱舒而能屈伸。次與第三神效散。則下如魚腸者升余。面上手足。針處黃水出。腐肉欲已去。其瘀血伏匿。在於肌肉間者。又見數處。再刺燒針。內用虎勢丸十五日。針瘡膿汁出竭。而新肉日長。手指皆伸。更用龍石湯四十餘日。眉須漸生。而方護全安。</p>
<p>薩州書生某。年二十二。負笈遊於東都昌平弘文院。日夜諷誦。才敏超邁。頗賦詩屬文。居之三年。患下疳瘡。服藥病瘥後周年許。右手小指頑鈍。不知痛癢。手足生瘡。如梅實大。隨愈隨發。又面上發赤斑如錦紋。百藥雜投。略不見效。至右手指頗拳曲。請予診之。予曰。不遽治。則終至廢疾。乃語治術之法。則渠竊懼其燒針。口順心違。又請他醫服藥三閱月。病勢日甚一日。復來商治於予。予乃眎之。則以不治證候。既已盡具固辭。患者及同學者。屢來求治。予曰。假令施治術。亦惟僅不過免鼻柱崩倒。手足墮落耳。恐不可得為完人。遂刺燒針。與藥。調理三月後。針瘡皆愈。面色不異好人。惟惜右手指屈曲不舒。自是其後。渠常以左手把筆。慣習煉熟。久之。至能作字矣。然渠病愈後。不以片言。來謝於予之庭。且不行纖毫之束脩。特可謂不知禮者。宜哉。罹斯病患。而狐疑猶豫。以延引日月。至盧扁退走之際。才希望予術。是實非渠不幸。而天譴之使然也。</p>
<p>熊本藩。一士某。年四十餘。右頰近鬢生瘡。形如稍瓜。頭平闊不起。結痂如魚鱗。黃水常出。漸漸延及於滿面。自春至夏尤熾。爽氣來則乾燥。每旦白皮盈掬。正如雲母屑。如此者四年。醫用防風通聖散。化毒丸。其他解毒之丸散。及膏藥熨藥等無算。俱無少效。友人某邀余視之。余竊知為癩瘡。然以人多隱諱。不敢語患者。乃謂曰。是非黴瘡結毒之類。所謂無名頑瘡。根基沉深。非尋常湯液所能治焉。乃與當歸湯十餘日。更制苦參丸。日以五七錢。白湯送下。四十餘日而全愈。永獲享康寧之福。</p>
<p>匫董鋪。年三十八。性嗜酒。耽飲既多。又好啖生魚肉。積久漸肥。因釀成齇鼻。期年後。復面上發紅斑。漸如頑癬疥癩。遂至眉毛脫落。或以為惡疾。或以為結毒。更醫累百。毫未無效。病熱轉增。於是商治於余。余詳視其病態。決非結毒惡疾所為也。乃濕熱所致爾。經曰。火鬱則發之。乃用升陽散火湯。一月餘而方獲全瘥。</p>
<p>一典鋪兒年八歲。頸項生瘡三五枚。形如桃核大。隨生隨褪。年半後。蔓延舉體。既而皮膚剝落。眉發半脫。左手拘急。飲食稍減。更啞科十輩。皆俱用解毒劑。而病勢漠然。轉加增劇。訪治於余。余曰。是父母黴瘡毒氣所遺。而今之證候。正氣衰憊為殊急矣。譬如良民久為寇賊擾亂。宜先培其根本。以攝其虛陽。國富民寧。而從事於斯。乃二中湯（見醫方會解即理中湯令小建中湯方）倍人參。用之三十日。飲食漸進。元氣恢復。繼與清榮湯。兼用集良丸。每旦服五七丸。至四十餘日。而全然告瘳。古云。用藥如用兵者。其斯之謂歟。</p>
<p>一男子年三十五。患下疳瘡。三年後。兩腋下發瘡。靡爛疼痛。日夜流臭水。久而不愈。遂沿及身面。漸至無完膚。眉須盡脫落。且新增筋骨疼痛。易數醫不效。邀余商之。余曰。此黴瘡毒氣。在表裡之證。乃用柞皮湯。早晚吞飛龍丸。間三日與鐵槌丸。以下之。如此月餘其痛稍減。肉長瘡靨而愈。數月後眉須復生。</p>
<p>當歸湯</p>
<p>當歸　芎藭　芍藥　荊芥（各二錢）</p>
<p>上四味㕮咀。以水五合煮取二合。去滓。分溫三服。不拘時候。</p>
<p>竹精丸</p>
<p>大楓子（去殼炒百目）　雄黃　苦參（各一兩）　肥皂莢（四兩）　片腦（二兩）　硫黃（一兩）</p>
<p>上六味為細末。煉蜜丸彈子大。分作二十裹。以一裹空心。三服。宜二十日服盡。</p>
<p>第一神效散</p>
<p>大黃　白牽牛子　芎藭（各一錢）　巴豆（五枚）　赤石脂（二錢）</p>
<p>上五味為細末。分作三裹。以一裹臨臥向一更來白湯頓服。</p>
<p>第二神效散</p>
<p>大黃（一錢）　巴豆（三枚去殼不去油）　丁子（五分）</p>
<p>補還眉標（一枚不去翅足本邦所產黃赤斑文者佳）</p>
<p>上四味為細末。和勻。第四日臨臥白湯頓服。</p>
<p>第三神效散</p>
<p>蒲黃　芒硝（各四錢）　白牽牛子（三錢）　麝香（二分）</p>
<p>上四味為細末。和勻。分為三貼。服法如前二方。</p>
<p>虎勢丸</p>
<p>土茯苓（二十錢）　大楓子（去殼焙黑五十錢）　片腦（四錢）　鹿頭（燒存性六錢）　白花蛇（酒浸焙乾）　烏蛇（酒浸焙乾各八錢）　大黃（六錢）　雷丸油（八錢即大楓子油今從邦俗稱）</p>
<p>上七味為細末。用雷丸油與前藥末和勻為丸。（若稀稠不得所乃宜滴麻油必不可用米糊）如梧桐子大。以一劑分作一十五貼。以一貼日三夜二服。空心臨臥。</p>
<p>龍石湯</p>
<p>柴胡　地黃　黃芩　龍骨　人參　半夏（各一錢）　甘草　生薑（各五分）　大棗（七枚）</p>
<p>上八味㕮咀。以水八合煮取四合。去滓。分溫服。不拘時候。</p>
<p>香果散</p>
<p>露蜂房　芎藭　大黃（各一兩）　甘草（一錢）</p>
<p>上四味為細末。每服一錢。白飲送下。</p>
<p>苦參丸　治大麻風。毋論新久。穿破潰爛。老幼俱可服之。</p>
<p>苦參（一斤）　大楓子（肉六兩）　荊芥（十二兩）　防風（各六兩）　枸杞子　威靈仙　當歸　大胡麻　川芎　蒺藜　大皂角　川牛膝　牛蒡子　獨活　何首烏　白附子　全蠍（各五兩）　白芷（六兩）　風藤　羌活　連翹　蔓荊子　蒼朮　天麻子　杜仲　草烏頭（泡去皮尖）　甘草（各三兩）　人參（一兩）　砂仁（二兩）　白花蛇（二兩切片炙黃）</p>
<p>上藥共為細末。醋打老米糊為丸梧桐子大。每服三四十丸。溫酒食前後任下。避風忌口為妙。</p>
<p>一娼家主。年二十七。幼而學書於師家。忽左手小指。瘙癢不可忍。自以齒齧之。竟得齚而脫。家人大驚。急延瘍醫治之。醫乃欲續之不能。遂用傳藥。或灸傷處。然後獲血止而漸愈。其後右足小指生瘡。又兩足外廉頑痹。時如被針錐刺。又腕後生瘡數顆。或出或沒。久久不瘥。於是始知為癩瘡。更數醫不效。經歷累歲。形體漸羸瘦。左手指拳曲。爪根白暈滅。足心生瘡潰鑿。步履艱難。已過十八年。而請治於予。予以屬不治證。乃固辭。患者及其兄弟。勉強求治。予曰。我雖有神方。藥頗駿。恐不耐瞑眩反害焉。患者扼腕。而謂曰。聞先生有奇術尚矣。設使服藥至死。又何憾焉。況我罹此病患。屢費財貨於醫藥釋家積乎禱禳者無算。由是貲產蕩盡。身體日屬委頓。且不能與良人齒伍。則生亦猶死也。請先生以我。試難治證。亦可治耶否。遂不可辭。乃命門人森宗益。施燒針。乃與三種神效散。尋用虎勢丸六日。卒然肩背疼痛。咽中閉塞。完穀不下。數日而死。嗟乎。予已識其不治證。而壯其言。而悲其志。遂施藥反促命期。今噬臍耳。故詳書之。為後來施治者龜鑑云。</p>
<p>頃觀崎陽吉雄氏某療癘疾。其症蓋本書所論。輕證者也。其以三稜針。刺赤斑。用角以吸瘀血者。與余之治法無異。而惟至面上四末。其他一身溪谷。出沒凹凸。難用角之處。則必攫得水蛭數十條更傳少酒於赤斑之處。或刺針出微血。使其吮瘀血。是法蓋蠻人之所傳云。然是得效方。丹溪心法等所載蜞針法爾。余雖未試之。於理為尤當矣。今並其治方。拈於此。以備於參考。</p>
<p>震靈丸</p>
<p>大楓子（去殼）　天靈蓋（各一百錢）　大黃　黃蘗（各五十錢）　荊芥　爐甘石　瓠瓜　山櫻皮（燒存性各一十二錢）</p>
<p>上八味細末。糊丸彈丸大。每服十五丸。蝮蛇大黃湯送下。日三。凡服此丸十日而後。間服白瑩水一日。復服前方</p>
<p>白瑩水方</p>
<p>蔑慄孤立乙斯（五釐治結毒減半必不可多用）　石蜜（八錢）　井花水（一百六十錢）</p>
<p>上和勻。每服四錢。日二服。強人更加一錢。（是蠻人方）</p>

<h1>附錄</h1>

<h2>記浪華一處女事</h2>
<p>崎陽一商人。姓某者。每歲來浪華驛亭。留連數十日。更易諸貨。而後歸。頃歲復來寓其家。偶童女數人。來遊於此。一人年未笄。姿色殊眾。商覿之嘆云。嗚呼惜矣哉。之子過數年。則恐當發癘疾。主人愕然曰。君何以知之。曰。我視其色澤以知之。曰。然則君何法之治。而可免後患耶。曰。我有奇術。若能委信。則可以施焉。主人乃以商之言。語女父母。父母聞之。始則大驚。中則大怒。後則悲哀。遂議治於商。商乃先令求大內。鬥許瓷瓶。又煎成人參數兩。而後使女側臥。取鐵針一條。長尺有餘者。於兩腳湧泉穴刺之。針入尺許。女不堪痛苦。氣將絕。乃與前人參湯。以手自臀腿邊。推拊下。則黑血迸出如湧。因承之瓶。幾五六升。乃覆蓋密封。以瀝青固濟。更堀地理之訖云。至來年期月。則當發見之。予來亦將在其時。遂告別而歸。而女針痏亦尋痊。肌體悅澤。勝於向日。親戚莫不盡悅焉。及期商來視其女云。善哉病基既已脫矣。乃使人出客歲所埋瓶。發開睹之。則其血盈溢於瓶口。商云。此血在人身中。如是蔓延。不致身體壞敗者幾希。觀者大為異嘆云。商乃謂女父母云。我有一子。年已成長。未有伉儷。願以此女。獲配於彼。何幸過之。父母答云。幸以君之靈。得救一女於塗炭。則一日生命。皆是君之賜也。敢不諾哉。遂行納幣禮以送之云。片倉子云。奇矣哉。商之得斯術也。昔張仲景見侍中王仲宣。謂曰。君有病。四十當眉落。眉落半年而死。令服五石湯可免。仲宣嫌其言忤。受湯勿服。後果眉落。遂至死。今女父母。能恪信商言。女亦能耐忍痛楚。而從於治法。是以得免其大患。嗚呼可謂勝仲宣遠也。余亦竊疑。夫瘀血者。生血所化。凡人身中。若釀成一滴瘀血。則累月積年。漸滋蔓耳。今收之瓶中。綿歷期月。相倍蓰云者。於理為迂。然而事物之變。有不可窮者。姑記以正於明哲云爾。</p>

<h2>答友人書</h2>
<p>曏者以僕所編青囊瑣探。黴癘新書二書。備於電矚。且謂日。以新書既脫稿。將上梓以公於天下矣。茲辱手札。伏而讀之。謙乎其辭。相推之有甚也。屬乎其言。閔憐之有加也。而足下言。以新書所載。癘風論治。固古來未有聞之奇術。吾無間然矣。然此病多於田野與鄙賤。而至如都人士患之者甚鮮矣。又且此證夫人殊所避忌者。若此書一出。則四方之傳聞者。必來請治於足下。然則恐以足下。為治此等疾專門者。而上則王公不召。下則富豪不請耳。是豈著書。反名與利俱失者非邪。如瑣探所載。都下日常多有之病。而至辨別傷寒之生死。洞明婦人之產乳。救療小兒之撮口。及癲疾等。則殊究確說妙論。又且往往發古人所未言及。則盍刻之前。以後新書。其刻之前也。貴戚權豪。農工商賈。必相爭請招焉。然則將獲名與利。兩完於此。嗟乎僕固雖貧賤。以天祿幸裘褐疏食之資。足以給體腹。則亦豈敢自愛名與利。而貪婪之為哉。古有言。人得異書。私為帳中。秘不示人。非真好者。真好者。如好飲然。獨飲不適也。余續之云。業醫得奇方。獨為蘭室。秘不傳人者。非真醫者。真醫者。猶輔相之理天下然。非化及蠻夷。不為適也。子不聞乎。昔周公之輔相也。其急於見賢也。方一食。三吐其哺。方一沐。三握其發。其見賢如是急者何也。是蓋為使天下人民。各安其所。各樂其樂矣。夫醫雖小道。古先王建疾醫職。而司民災沴札差。是以稱為司命之任也。故雖生數千載之下。事此技者。豈不視民疾患。猶輔相之視理亂成敗哉。其舉賢良者。為安民也。著醫方者。為蠲疾苦也。今夫有難治之病。而有奏效之神藥。則設使希于都下與貴人。而多乎山野與鄙賤。何不博傳以濟眾耶。僕雖譾劣。頗見聖賢用心立志之分。曷為欲名與利。而束已成之書於高閣。候未全書之備。而先乎此。後乎彼耶。夫觀周公之三吐哺。三握髮。禹之過家門不入矻矻於濟天下。則醫之視疾疢。不亦孜孜於此乎。是僕之所以先新書後瑣探也。足下其亮鑑。不備。</p>

<h2>黴瘡論</h2>
<p>黴瘡之病。考華人所論。昉自嶺南卑濕地而蔓延四方。如本邦。亦起從肥前州。而播布通國云。蓋此病稀於古時。而盛於後世。故其治法。亦粗於前。而審於後。然而稱呼百出。濫名頗多。或隨形狀之近似者而名焉。或取始所起地而命焉。或因其所發之處而稱焉。或依字音假借會意。以擴其名呼矣。如其曰黴瘡。曰梅瘡。曰賣瘡。曰㾦子。曰楊梅瘡。曰楊黴瘡。曰楊梅毒瘡。曰楊梅風。曰楊梅疳。曰綿花瘡。曰砂仁瘡。曰茱萸瘡。曰果子瘡。曰天泡瘡。曰天疱瘡。曰濕陰瘡。曰妒精瘡。曰陰蝕瘡。曰廣瘡。曰廣東瘡。曰廣痘。曰廣豆。曰恥瘡。曰臊疳。曰濕毒。曰濕氣。曰陰疳。曰陰頭癰。曰陰頭瘡。曰蠟燭發。曰下疳。曰便毒。曰魚口。曰魚口瘡。曰橫痃。曰橫眼。曰𤵄痃。曰蛀梗。曰蛀疳瘡。曰蛀幹疳瘡。曰捲心蛀疳瘡。曰獨腳楊梅瘡。曰時瘡。曰血疝。曰血疳。曰外疝。曰結毒。曰氣毒。曰𤷍⿸疒當。曰下𤷍⿸疒當。曰路岐。曰魯氣。曰𤻼𤷍。曰露𤷍。曰⿰馬𡘆馬癰。曰騎馬癰。曰騙馬墜之類。不暇枚舉。殆誣惑後人之耳目也。以余觀之。唯黴瘡下疳便毒結毒之四名。以蔽之矣。而此病近世尤盛。而貴賤男女。罹之者。十居其半。是誠和華一轍。蓋承平二百年之久。人人樂安佚。內則膏粱膩味。常充口腹。遂生濕熱瘀血。外則沉匿柳巷花街。以動盪淫火。一釀成此病。遂傳之娼妓男娼。則娼妓男娼之傳諸人也。不知其幾千百。或傳之妻妾。或遺之孫甥。而其病之將發也。始則或起自誤擦破。若被陰毛纏傷。或自膿淋。或自痔疾。或久曠房室。思動色欲。敗精濁血。流滯莖內。或又疥瘡發周身。遂波及前陰。漸致淫浸。當此之時。若隱羞不示於人。或忽藥餌。而用速愈摻藥等。則遂成便毒下疳之證。或瘡發周身。形如楊梅。或如砂仁。若夫至其毒之尤深。則為筋骨疼痛。或頭痛如破。或潰蝕前陰。腐爛後竅。或穿咽喉。或鑿頭面。或墊崩鼻梁。若一誤治法。侵禁忌。則至使父母遺體。永為不具器。可不懼哉。若至其證之變態。則齒齦膿潰。幾類牙疳。或舌心痛。或破裂。或舌傍潰缺。常涎液漏脫。或耳內如鐘聲或如風雨聲或如鳥雀之啾啾。又如川流之湍湍。或胸腹肋脅。膕䯒臀腿。及前後二竅。常為痛。或為發瘻。作巖穴。或為瘰癧。為偏枯。為痿躄。或咳嗽吐痰。如肺癰之狀。或口鼻惡臭。穢氣撲人鼻。或鼻中出穢汁濃涕。如鼻淵腦漏。又出黃赤干涕。或頭面生磊塊數個。日夜疼痛。經久不破。或又發潰出膿汁。積年累月不收口。或眼內疼痛生紅縷。或目如注朱。或唇吻生紫黑贅瘤久而潰穿。黃汁出而不止。遂至缺蝕。或為腹痛。為水腫。為勞瘵。為囊癰。為痔漏。或手腳拳攣。不能伸舒。或眉發頹落。幾如癩疾。證狀百端。雖不可窮盡。其為結毒也一也。宜辨認病人之強弱。菀毒之淺深。及表裡上下。虛實寒熱以施治法矣。又有襯眠呢黴瘡腐爛之人。受自穢臭氣於口鼻。直浸透裡面。遂作之根基者。此證多不發梅瘡便毒。而卒然為咽喉腐爛。為潰鑿。或眼目見紅花。或羞明以漸昏蒙。或為筋骨疼痛。其始以無患疳瘡便毒等。必不可謂非黴瘡。譬諸傷寒。猶患直中少陰病。亦宜直隨結毒之治法施藥也。若夫耳聾目暗。或形體柴瘠。而手腳拳曲。或羸瘦骨立。而關節疼痛。或漸漸飲食廢。或大便下利者。及因受父母遺毒。有幼少發瘡瘍。或臍中常濕潤。時出穢臭膿涕。或患膿淋。痔疾者。若以尋常胎毒食癖治之。則積年之後。多成漏瘡。喜發於項腋及陰僻肛門之間。後來必變見喉穿鼻崩。或寒熱咳嗽等之諸證。多藥餌不驗。連綿涉年。而終致不起也。</p>

<h2>治法</h2>
<p>初起小便澀痛。或淋漓。或陰中瘙癢。或流敗精濁膿。或小便為二道。為亂散。或馬口麋爛。或龜頭後包裹之皮。腫如水泡者。並龍膽瀉肝湯。加土茯苓五錢。或加味解毒劑。若生於兩胯合縫間者。謂之便毒。其始鼠鼷核起。如瘡建而漸漸大。結腫焮痛。為寒熱者。紅花散瘀湯。清榮湯。或六味解毒湯。俱加鯪甲牛蒡子之類。若服之不起脹。色不變。尚堅硬不潰者。宜令患者。強屢步履。兼以家方面粉散。頻頻熨腫上。或又行後頃用元青法亦可。其既潰者。猶守用前方。倍鯪甲。或加黃耆二三錢。外宜以白璧蒼玉煦育三膏各等分。和勻攤軟棉上。以貼患處。（後疳瘡亦用此法）若身體發楊梅。及砂仁瘡等。加味消疳敗毒散。荊防排毒劑。消風敗毒散等。俱加土茯苓二三錢。而此證間。有兼見筋骨疼痛者。此是與結毒疼痛。自異發表則愈。若皮膚麋爛者柞皮湯。兼用家方熨藥。若連年積月不痊者。亦宜從結毒治法以施藥。凡黴瘡愈後。若瘢痕紅黑不滅者。用大黃白礬等分。同研擦患處。其痕即去。若龜頭生瘡。或馬口潰蝕。或龜頭後凹處。生瘡潰爛。或成窠臼者。謂之疳瘡。虛者大劑雙和湯。十全散。二中湯之類。俱加酒炒鹿角銀花土茯苓各二三錢。若陽氣大虛。血液枯涸者。去銀花土茯苓。倍參耆鹿角。更加蝮蛇一二錢。或取雄雞一隻不滿三年者。去毛腸切肉炙啖。日八九片。正氣旺焉而後兼擇用加減五寶散。集良丸。實者奇驗湯。加味解毒劑。搜風解毒湯。或龍膽瀉肝湯。兼用飛龍丸銕槌丸。若荏苒侵蝕。不可遏止者。以乳香湯董洗。甚者鍜石湯。大妙神驗。若筋骨疼痛。或鼻柱隱隱痛。或時出干𫈨瘡痂黃膿。或但鼻腫。而其色紫赤。或身體發㾦癗。或為發潰等證。必不可緩治。宜遽令斷鹽味以大劑奇良甘草湯。送下集良丸一二錢。或白瑩水。或搜風解毒湯加川芎大黃。若虛者用六度煎。下加減五寶散。若咽喉潰爛。或成窠臼。常出稠痰臭涎。或妨礙食飲者。後世名之喉癬。薔薇遺糧湯喉癬湯之類。兼用獨味牛黃研細者。每服送下。二三分。或結毒紫金丹。若頭痛如破。積久不差者。宜用醫方筆記頭風一方。兼以集良丸。或以三稜針。刺懸顱懸釐絲竹空瞳子髎等而出血。或用角法以吮瘀血。為良。或又隨證取風池風府。若頭面發疙瘩。時痛時止。歷載經月。不差者。亦以三稜針。刺其腫上。或以粗布裹手指浸醋。擦破腫上。乃以元青二三個。研末醋和勻。浸綿以傳之。經一宿。則必為水泡。泡潰水出而後愈。是尤神驗。若眼目疼痛。或生血絲或生翳膜者。防風通聖散。加土茯苓。或四物湯照黃連解毒湯主之。兼以家方明目膏。頻頻塗眼胞內。極妙。若夫結毒咳嗽。如肺癰之狀者。栝蔞湯。若手足不遂。筋骨疼痛或毒結於手腕臂肘。肩背腋下。膝膕臀腿。足趺等之處。而朝朝暮暮。痛楚殊甚。或形如痛風歷節之狀。或頭上顏額。生磊塊。來發潰者。或山根腫痛。或鼻梁陷墊。及積年發漏。其他結毒之證。二三並見。前頃諸藥不應者。宜用七寶散。虛甚者。宜以參耆鹿茸熟附子濃煮汁送下。實者加味化毒丹。白瑩水。白蛇丸及湯主之。凡用配輕粉諸方。病愈之後。若飲食不進。或步履無力。不了了者。宜用兩輪散。應效如桴鼓。若夫血液耗亡。肌膚不悅澤者。六味地黃丸。十補圓。七寶美髯丹等。久服可以培其根本也。</p>
<p>龍膽瀉肝湯（正宗）治肝經濕熱。玉莖患瘡。或便毒懸癰。小便赤澀。或久潰爛不愈。</p>
<p>龍膽　連翹　地黃　澤瀉（各一錢）　木通　車前子　歸尾　山梔　甘草　黃連　黃芩（各五分）　大黃（二錢便秘加）</p>
<p>水二鍾煎八分前（按止方本方去柴胡加芩連大黃梔子連翹甘草○又薛氏加減方本方去柴胡加黃芩梔子甘草）</p>
<p>加味解毒湯（家方）</p>
<p>土茯苓　薔薇根（各五錢）　金銀花　芎藭　木通　大黃（各二錢）　木瓜　五加皮　甘草（各一錢）</p>
<p>上九味以水一升。煮取五合。去滓溫服。不拘時候。</p>
<p>紅花散瘀湯（正宗）治入房忍精。強因不泄。以致瘀精濁血。凝結兩胯。或小腹之傍結成腫痛。小便澀滯者。</p>
<p>當歸　紅花　蘇木　姜蠶　連翹　貝母　乳香　皂角針　石決明　穿山甲（各一錢）　大黃（三錢）　牽牛子（二錢）</p>
<p>水酒各一碗。煎八分。空心服。行五六次。方吃稀粥補之。</p>
<p>清榮湯（家方）治楊黴疳瘡。</p>
<p>當歸　川芎　芍藥　地黃　何首烏　蒺藜子　黃蘗（各一錢）　土茯苓（五錢）</p>
<p>上八味以水七合。煮取三合。溫服。</p>
<p>六味解毒湯</p>
<p>忍冬　土茯苓　木通（上）　川芎　大黃（中）　甘草（下）</p>
<p>上以水五合。煮取二合半。分溫三服。</p>
<p>麵粉散（家方）治便毒不起脹及不發潰者。</p>
<p>麵粉　白芥子（研各八錢）</p>
<p>上二味絹袋盛。浸滾湯。頻頻熨患處。神效。</p>
<p>白璧膏（紅毛稱干膚刺）此膏非但治下疳便毒。又能傅一切潰瘍。解熱止痛。痔疾痛甚者。尤神驗。</p>
<p>白蠟　牛脂　野豬脂　家豬脂　椰子油（各二十錢）　粉錫（三十錢）　麻油（一合）</p>
<p>上先以麻油入潔淨鍋內。慢火熬至八分。下黃蠟。將柳木篦攪片時。更挑少許。滴入水中。試軟硬得中。乃住火。頃之用細舊絹濾淨。卻上火。看似瘩化之象。而入四種油脂。攪和。乃下鍋來猶攪。候溫冷交。以白堊徐徐投入膏內。不住手攪之。看漸漸膏凝。其色如白璧。而後納貯瓷器。聽用。一方去椰子油。加片腦十錢。</p>
<p>蒼玉膏（紅毛稱遏僕斯）治諸腫瘍能吮膿去毒乾溼潤。</p>
<p>黃蠟　牛脂　野豬脂　椰子油　銅綠（各二十錢）　麻油（一合）</p>
<p>上修煉之法。同前法。而以銅綠。最後下。</p>
<p>煦育膏（紅毛稱跋日慄）治癰疽發背。諸般惡瘡潰爛者。貼之則腐肉易脫。新肉即生。</p>
<p>瀝青（五十目細研宜用紅毛產）　黃蠟（二十錢）　牛脂（十錢）　麻油（五十錢即准一合二勺五撮）</p>
<p>上先煮麻油片時許。更下黃蠟牛脂令溶化。乃入瀝青末攪轉。離火用細舊絹。濾淨納瓷器。○上三種膏藥。並休達方。天明甲辰冬。予講產科術於靜儉堂。彼感予精密於產蓐之技。日夜研究數往還。語次偶洎瘡瘍之事。彼遂發其秘蘊傳之。其後予屢試有效驗。井云。此方吾家所秘。勿妄傳人。予隘之。今刊刻普傳。凡醫家。雖非外科專門者。常制可以施於人。以上三膏。並攤紙花中。外緣以萬應膏。貼之患處。乃不脫落。</p>
<p>萬應膏　治諸瘡。</p>
<p>鉛丹（九十六錢）　黃蠟（十六錢）　麻油（百六十目即准四合）</p>
<p>上先煮麻油。次下黃蠟。更入鉛丹。攪轉一晬時。鉛丹變黑色。軟硬得中為度。</p>
<p>加味消疳敗毒散</p>
<p>防風　獨活　連翹　荊芥　蒼朮（下）　知母　黃蘗　茯苓　木通（上）　澤瀉　車前子　牽牛子　大黃（中）</p>
<p>上十三味水煎溫服。</p>
<p>荊防排毒劑</p>
<p>荊芥　防風　茯苓　獨活（上）　桔梗　川芎（中）　甘草（下）　枳實　生薑（中）　柴胡（中）</p>
<p>上以水四合。煮取二合。分溫三服。</p>
<p>消風敗毒散</p>
<p>當歸　川芎　赤芍　地黃　升麻　乾葛　黃芩（各一錢）　黃連　黃蘗　連翹　防風（各八分）　銀花　甘草（各五分）　蟬蛻（二個）</p>
<p>上十四味水煎服。</p>
<p>柞皮湯</p>
<p>柞木皮（俗稱孤奴及訥葛窊）　土茯苓（各三錢）　銀花　荊芥　地黃　芍藥　防風（各二錢）　牛膝　木瓜　黃蘗（各一錢）</p>
<p>上十味㕮咀。以水五合。煮取二合半。去滓溫服。</p>
<p>先考苔翁先生秘方。治楊梅疳瘡糜爛薰洗方</p>
<p>食鹽（五勺）　荊芥　忍冬（各二兩）　敗荷葉（五葉）　青木葉（廿片華名未詳俗稱遏屋吉訥發）</p>
<p>上粗銼以水一升煮至八分。屢薰洗患處。</p>
<p>雙和湯　補血益氣。治虛勞少力。</p>
<p>芍藥（七兩半）　黃耆（密炙）　當歸　熟地　芎藭（各三分）　甘草（炙）　肉桂（各二兩二錢半）</p>
<p>上為細末每二錢。水一盞半姜三片。棗一枚。煎六分食前服。</p>
<p>十全散　治諸虛不足。久病虛損。面色痿黃。腳膝無力。</p>
<p>人參　白朮　茯苓　甘草（炙）　黃耆　當歸　芎藭　熟地　芍藥　肉桂（各等分）</p>
<p>上每二大錢。水一盞。姜三片。棗二個。煎七分濕服。此藥補虛損。大有神效。</p>
<p>二中湯（醫方會解）即理中湯小建中湯兩合方。</p>
<p>加減五寶散　治結毒筋骨疼痛。腐爛口鼻。諸藥不效者。</p>
<p>滴乳石（如乳頭下垂敲破易碎亮似蜻蜓翅者方真四錢）　琥珀　硃砂（各二錢）　龍腦（一錢）　珍珠（四錢○勢州所產為上品。水府產次之。然直殊貴非有力者。難得之。故今倍加分兩。而換用俗稱遏薩慄辰珠者。亦有效驗。）</p>
<p>上各研極細。共為一處。再研數轉。磁罐密收。病在上部者。用藥末一錢。加飛羅面五分。病在下部者。加八分。再研和勻。每用土茯苓五十錢水一升。煎至五合。濾清。作五次。分加五寶散。一日服盡。完十二日自愈。若不愈者。更作一劑。如鼻子腐爛者。土茯苓內。加辛荑三錢煎服。忌海腥煎妙。滷鹽房事等件。○此余家所秘加減法。應效如桴鼓。</p>
<p>集良丸　治結毒不問年深日近。筋骨疼痛。或頭痛如破。或鼻柱崩塌。陽物潰蝕等證。（平遺民方）</p>
<p>天靈蓋（八錢）　輕粉（二錢半）　牛膝（二錢）　孩兒茶（二錢五分一半為衣）　鷓胡菜　栝蔞根（各一錢四分）　天南星（二錢二分）　大黃（四錢）　鼴鼠（燒存性四分）</p>
<p>上九味為細末。打糊丸梧桐子大。每晨一錢。加昧解毒湯煮汁送下。○凡用此藥。先用解毒湯三日。次與此丸。尋於解毒方中。倍大黃。應效如神。</p>
<p>奇驗煎　治一切黴瘡神效。</p>
<p>熟地　杜仲（炒）　人參　黃芩　黃連（炒）　大黃（酒炒）　檳榔　黃耆（酒炒）　木香（各二分）　甘草（生三分）　土茯苓（十錢）</p>
<p>上十一味。以水五合。煮取二合半。再以滓入水三合。煮取一合半。和前煎汁。一日服盡。忌茶蔥萊蔔海腥。</p>
<p>搜風解毒湯　治黴瘡結毒。筋骨疼痛。不能步履。或壞肌傷骨。及下疳瘡。</p>
<p>土茯苓（十錢）　防風　木瓜　木通　薏苡　白蘚皮　金銀花（各五分）　皂子（四分）</p>
<p>上水煎空心日三服。</p>
<p>飛龍丸　治黴瘡下疳。玉莖腐爛。筋骨疼痛。諸藥不能治者。</p>
<p>牙茶（上好者三錢五分）　大黃（一錢八分）　輕粉（八分）</p>
<p>上二味極細末。先取粳米飯鴨蛋大。摻輕粉。攪和作摶飯。炙於炭火上。反復。候焦黃離火。更捏令相得。再炙。如此大都三四遍。乘熱研如餅。入余藥和勻。（若稀稠不得所。更加粳米飯。）丸麻子大。每肌二十五丸。晨旦臨臥。白湯送下。用之三日。次與</p>
<p>鐵槌丸</p>
<p>丁子　大黃　巴豆（霜各等分○李東壁云。稱研爛以紙包壓去油者。謂之巴豆霜。周按今人以燒存性者為霜。非也。蓋以百草霜誤爾。）</p>
<p>上三味細末。米糊丸麻子大。每服十二丸。間三日旦暮白湯送下。若病重者。漸加至二十丸。又宜間四五日用之。○以上二方。並先考苔翁先生所秘。</p>
<p>乳香湯　治下疳瘡。漸漸侵蝕。不可止遏者。</p>
<p>乳香（一錢）　沒藥（六分）　樟腦（二錢）　蘆薈（一錢）</p>
<p>上四味以燒酒二合。煮取一合半。頻頻湔患處。</p>
<p>鍜石湯　治用前方不效者。此方諸潰癰。用膏反侵蝕者。神驗。</p>
<p>石灰（三十錢以滾湯一升攪勻去滓不用）　焰硝（四錢）　膽礬（三分）</p>
<p>上二味投入石灰汁中。溫頻湔患處若為水泡者去膽礬。加礬石一錢。</p>
<p>奇良甘草湯</p>
<p>土茯苓（三十錢）　甘草（一錢）</p>
<p>上以水一升煮取五合再入水一升二合煮取三合半。前煎汁和勻。一日服盡。不可別用湯水茶酒。又切忌海腥炙煿滷鹽房事等件。</p>
<p>六度煎　治黴瘡筋骨疼痛。諸藥不效形體虛憊者。</p>
<p>當歸　芍藥　附子　黃耆　虎脛骨（各一錢）　土茯苓（八錢）</p>
<p>上六味以水一升煮取六合去滓。再以水六合煮取四合。又以水四合煮取二合去滓。以三煮汁合和。溫服不拘時候。</p>
<p>喉癬湯　治咽喉漸漸腐去。飲食用粉面之爛者。必仰口而咽。每咽泣數行下。</p>
<p>甘草　桔梗（各二錢）　山豆根　龍膽　射干（各一錢）　土茯苓（五錢）</p>
<p>上六味以水五合煮取二合分溫三服。每服送下牛黃二分。</p>
<p>薔薇遺糧湯　治結毒咽喉破鑿者。</p>
<p>土茯苓（七錢）　薔薇根（五錢）　桔梗（二錢）　五加皮（一錢）</p>
<p>上以水六合煮取三合溫服。不拘時候。</p>
<p>結毒紫金丹　治遠年近日。楊梅結毒筋骨疼痛。日久腐爛。臭敗不堪聞者。或咽喉唇鼻破壞。諸藥不效者妙。</p>
<p>龜板（放炭火上炙焦。用新安酒漿濃筆醮漿塗上反復炙塗三次。以焦黃為度二十錢。）　石決明（用九孔大者煆紅童便內漬之一次）　辰砂（明亮者。各末六錢）</p>
<p>共再碾極細。爛米飯為丸麻子大。每服一錢。量病上下。食前後。筋骨疼痛。酒下。腐爛者。土茯苓湯下。至重者。四十日而愈。此功力勝於五寶散。○元周嘗屢試此方。所患在咽喉者。殊覺有驗。</p>
<p>醫方筆記一方</p>
<p>土茯苓（四十錢）　忍冬（三錢）　防風　天麻　玄參　辛荑　芎藭（各六分）　黑大豆（四十九粒）　芽茶（一撮）</p>
<p>上以水五碗煎取三碗。分溫服。</p>
<p>防風通聖散（宣明論）</p>
<p>川芎　防風　當歸　白芍　連翹　薄荷　麻黃（各四分）　石膏　桔梗　黃芩（各八分）　白朮　梔子　荊芥（各五分）　滑石（二錢四分）　芒硝（四分）　大黃（四分）　甘草（一錢）</p>
<p>上生薑水煎溫服。</p>
<p>四物湯（局方）</p>
<p>當歸（酒炒）　芎藭　芍藥　地黃（各等分）</p>
<p>上每三錢水一盞半。煎八分熱服食前。</p>
<p>黃連解毒湯（肘後）</p>
<p>黃連（三兩）　黃芩　黃蘗（各二兩）　梔子（十四枚）</p>
<p>水六升煎取二升。分再服。</p>
<p>家方明目膏（見於青囊瑣探）</p>
<p>栝蔞湯　治結毒咳嗽似虛勞者。</p>
<p>栝蔞根　牡蠣　甘草（各一錢）　連翹　羌活（各二錢）　反鼻（八分）</p>
<p>上以水五合煮取二合半。分溫三服。</p>
<p>七寶散　黴瘡結毒。一切難名狀之病。或累月積年。潰爛不收口。或筋骨疼痛手足不遂。或周身發疙瘩。或咽喉糜爛。或穿孔。或山根腫痛。或鼻梁陷墊。及久年痔漏。其他頑瘡惡毒瘡皆治之。其效如神。不可悉述。</p>
<p>土茯苓（炒二十錢）　人參（炒四錢。用俗稱薩摩小人參者。）　鹿角（截段於土器中炭火燒。酒浸一日夜。再燒過四錢。）　黃雌雞（一隻去毛腸及肉。取翅骨燒存性以其肉切作四十二片。方服藥時。先吃一片。）</p>
<p>上為細末分作四十二貼。每服一貼。奇良甘草湯送下。日宜服六貼完七日。見自愈兆。若不瘥再作一劑。（若方春夏溫熱時。雞肉難收則去毛腸完燒存性用。亦可。）</p>
<p>加味化毒丹</p>
<p>牛黃（四分）　琥珀（五分）　血竭　製大黃　雄黃　硃砂　乳香　木香　白蘚皮　川山甲（各一錢五分）　蟬蛻（二錢）　生生乳（一錢）　沒藥（一錢七分）　貝母（三錢）　丁香　牙皂（各五分）　鬱金（一錢）　殭蠶（四錢）</p>
<p>上各製為末。用神麯末六錢。打稠糊。入藥搗勻丸梧桐子大。別研硃砂為衣。每早空心服十五丸。每晚空腹服十丸。砂糖湯送下。炒米湯亦可。病去藥減。如餘毒未盡藥不可徹。百日內。勿使大勞大怒。茶酒止可用十分之三。○凡服此丸。先用滾湯汨咽。清胸中濁氣。嗣服丸藥。藥後啖糕果之類厭丸藥。下胃。曰宜尊法。毋忽。</p>
<p>是牛黃化毒。乙字化毒。兩合之方。雖藥繁雜取效尤捷。余屢用屢驗者也。嘗按陳司成立牛黃化毒其佗十干諸丸之方。意是本必一方。蓋為奇其術。一二增損以廣之者而已。何必別六經見證可以配十方乎。</p>
<p>白蛇丸　治楊梅結毒痼疾廢病。</p>
<p>烏梅（一錢）　竹蠹蛀末（三錢無則以淡竹末代之）　牙茶（華產物一錢五分）　白蛇（酒浸少炙二錢）　溲疏皮（一錢五分烏貲及訥遏未葛窊。當長夏時採之。余月難得。）　輕粉（一錢紙包入摶飯內煨熟取出用）</p>
<p>上六味極細末。米糊丸綠豆大。每旦食前以一錢六分赤小豆煎汁送下。凡用之七日內須忌禽獸魚鱉滷鹽茶酒唯以白粥將養之。過五六日則當齒齦黑血自出。完七日而後宜以淡味噌汁。煮瓢畜蘿蔔冬瓜鰹脯鰈魚𬵵魚之類食啖之。嗣以後方。若口中糜爛者宜一味柞木皮煎煮以頻含漱口中。</p>
<p>白蛇湯</p>
<p>當歸　川芎　芍藥　甘草　大黃　白蛇（酒浸少炙）　黃芩　肉桂　桂枝　檳榔　山椒　丁子　茯苓　人參（用俗稱薩摩小人參者）　青木香（各等分）</p>
<p>上生薑二片。水煎服。（一方加葳靈仙萍蓬根乳香沒藥）用此湯七日後。又用後方。</p>
<p>加味四物湯</p>
<p>當歸　川芎　芍藥　地黃　甘草　葳靈仙　萆薢　椒目（各等分）</p>
<p>上生薑二片。水煎溫服。</p>
<p>祛毒煎　去輕粉毒。</p>
<p>車前子　牙茶（各上）　黃芩　梔子　連翹　木通（各中）　黃連　黃蘗（各下）</p>
<p>上八味水煎溫服。</p>
<p>凡用有輕粉諸藥。疾患盡愈之後。若飲食不進或步履無力。淹然不復舊者宜用後方。應效如神。</p>
<p>兩輪散</p>
<p>櫻木皮（華名未詳本邦稱葛跋薩孤刺訥葛窊）　蜀椒（各六錢）</p>
<p>上二味細末。每服一錢。白湯送下。日三服。</p>
<p>白瑩水（見理癘新書）</p>
<p>六味地黃丸（見小兒直訣）</p>
<p>嚴氏十補圓（見濟生方）</p>
<p>七寶美髯丹（見本草綱目何首烏附方）</p>
<p>以上諸方予嘗所親經驗有得師授者。有得友人者。又有深秘帳中而不妄傳人者。予得數方甚難。今不吝惜。刊刻普傳大方。雖然古人有言。病之變狀不可一概言之。所以醫方千卷猶未盡其理。故又增附諸家驗方於後。臨證之工宜擇焉。</p>
<p>地黃湯　治楊梅瘡。</p>
<p>地黃（上）　牙皂　木瓜　獨活　當歸　川芎　大黃（中）　黃芩　黃連　甘草　土茯苓（自十錢至十五錢）</p>
<p>上十一味以水八合煮取四合服（若渴者以水一升煮取七合服）</p>
<p>凡楊梅結毒。毒在上部。而著咽喉牙齦頭面者。宜用嗅藥法。若毒著下部。而手足筋骨疼痛或前後二竅疳蝕者加味芎黃散主之。</p>
<p>嗅藥法</p>
<p>硃砂（光明者一錢）　金箔（一片）　沉香（一錢）　百草霜</p>
<p>上以前三味極細末。次入百草霜和勻。其色濃紫色為度。分為七貼。再以一貼藥末。作三紙捻條子。令患者口裡含冷水（暖則更之）點火於紙捻。以嗅之。日宜用一二條子。完七日用盡。</p>
<p>加味芎黃散</p>
<p>川芎　大黃　黃蘗　良薑（不可陳久各一錢）　輕粉（二分）</p>
<p>上以前四味。極細末。分作七貼。臨用入輕粉和勻。日用一貼。以土茯苓（二十匁）煮汁送下。七日服盡。若病重者。用輕粉二錢。稍輕者用一錢。隨證不用亦得。</p>
<p>代五寶散　治結毒筋骨疼痛（田安亭方）</p>
<p>人參　輕粉（燒各五分）　巴豆（霜一錢）　龍腦（五釐）　辰砂（一錢）</p>
<p>上五味極細末。糊丸麻子大。每服五丸。土茯苓湯送下。日三服。</p>
<p>三玄湯　治𤻼𤷍其毒淺者。</p>
<p>防風　當歸　木瓜　檳榔　羌活　白蘚皮　大黃　黃連（各等分）　三玄（即野薔薇苗）　土茯苓（各倍用）　甘草（少）</p>
<p>上水以五碗。煮取三碗分溫服。</p>
<p>紫根牡蠣湯　治楊梅瘡毒。痼疾沉疴。無名頑瘡。及𥀬瘡嶮惡證。神驗。</p>
<p>當歸　芍藥　川芎　大黃　升麻　牡蠣　黃耆　紫草　甘草　忍冬</p>
<p>上以水五合。煮取二合半。去滓三服。虛者去大黃。實者去黃耆。</p>
<p>牛蒡子湯　治瘡毒攻咽喉腐爛疼痛。飲食不下遠年日近。並效。</p>
<p>惡實（二錢）　玄參　烏犀角　升麻　黃芩　木通　桔梗　甘草（各一錢）　土茯苓（四錢）</p>
<p>上九味以水七合。煮取三合。分溫服。</p>
<p>治黴瘡骨節疼痛神效方</p>
<p>大鼠（一具）　阿仙藥　紅花（各一錢）　黃丹（四錢）　糯米（一合）</p>
<p>上五味俱燒存性研細。每服一錢。白湯送下。日一。</p>
<p>又方</p>
<p>赤小豆　鼴鼠（燒存性各五錢）　大黃　輕粉　土茯苓（各三錢）</p>
<p>上五味為細末米糊丸。梧桐子大。每服二十粒。以六味解毒湯送下。</p>
<p>二葛四黃散　治結毒筋骨疼痛諸藥不能治者。如神。</p>
<p>大黃（三錢）　黃連　黃芩　當歸　芍藥　葛粉（各二錢）　葛根　黃蘗（各一錢半）　輕粉（煆）　甘草（各五分）</p>
<p>上細末。以土茯苓湯之類。日服三四錢○一方用二葛四黃歸芍各四錢。輕粉一錢。更加龍腦五分。特神效。（【煆輕粉法】用土器盛輕粉不以多少生紙封口傅糊於紙緣黏著於土器口外。使粉不飛。乃上火則設水一器浸指於水中彈濺蓋紙上候水痕燥覆紙緊張。而又彈濺焉。凡如此五十遍。離火安地上去火毒取出聽用用此煆煉之法則治效如神。又且口中曾不糜爛。可秘可秘。）</p>
<p>黴瘡神效方</p>
<p>鷓胡菜（四錢）　巴豆（二錢）　甘草（五分）</p>
<p>上細末稀糊。丸綠豆大。赤石脂為衣。分作七貼以溫酒日服一貼。若羸人宜十四日服盡。或以菝葜煎汁送下。亦得。（若用菝葜則宜用巴豆四錢）</p>
<p>又嗅藥方</p>
<p>麝香（一分）　沉香（四分）　龍腦（一分）　光明朱（四錢）　鉛丹（四錢）　百草霜（五分）　金箔　銀箔（各四片）</p>
<p>上八味為末每四分入紙捻條中。長作五六寸。令患者坐紙屋子中。口裡含水點火於紙捻以齅之。七日而止。病人必下利若吐。是其驗也。○若用此藥口中糜爛者宜平胃散加蜀椒皮大黃煎服。若不勝藥氣者以白梅黑豆煎服　凡用此藥者。唯宜食大麥甘蔗之類。忌其他一切物。</p>
<p>治楊黴結毒筋骨疼痛奇方</p>
<p>四物湯　黃連解毒湯（各四錢）　大黃　牡丹皮　牛膝（各一錢）　白丹（二錢七分）</p>
<p>上為細末。分為九貼。日服三貼。每服以後方煎汁送下。○（【作白丹法】以鉛丹一斤樟腦三十匁和勻以酒煉作餅子置瓦上上火一炊時。更點火於餅子煅之煙盡則又再煉煆之如前法凡如是三遍次不用樟腦唯灑煉。又更煅如前法。鉛丹變白色為度。）</p>
<p>各等倍奇湯</p>
<p>大黃　杜仲　當歸　牛膝　地黃　白芷　黃連　檳榔　芍藥　川芎　忍冬　甘草　木瓜　沉香　桑寄生（各等分）　土茯苓（倍用）</p>
<p>上十六味以水七合煮取三合半。去滓溫服。</p>
<p>如神湯　治一切瘡毒侵眼目生翳膜者。神效。</p>
<p>黃芩　黃連　木通　白芷　丁子　木香　升麻　茯苓　防風　連翹　大黃　枳殼　沉香　乳香　薰陸　地黃　土茯苓　白蘚皮（各等分）　甘草（少）</p>
<p>上水煎服。若膿出者加獨活。毛髮脫者加皂角子。牙齒痛者加木瓜薏苡仁。舌痛者加蟬脫人參白姜蠶。</p>
<p>梅肉丸　諸惡瘡毒疳瘡其他無名頑瘡。悉療之。</p>
<p>梅肉（燒存性一錢半○一方用一錢八分）　梔子（同上○一方用四分五釐）　巴豆（七分○一方用一分五釐）　輕粉（同上○一方用一錢五分）</p>
<p>上細末蜜和。搗千下。收磁罐。先服三分。三日後。又服五分。又三日後。服七分取下。惡物諸瘡乃愈。</p>
<p>蠲痹消毒散　治時瘡肢節拘攣。</p>
<p>薑黃　土茯苓　獨活（各五錢）　白朮　當歸（各一錢五分）　赤芍藥（一錢）　白芷（五分）</p>
<p>上水煎服。</p>
<p>解毒劑　治便毒下疳疥癬。</p>
<p>穿山甲　大黃　黃芩　反鼻（燒存性）　忍冬　甘草（各中）　土茯苓（大）</p>
<p>上八味水煎。溫服。有水氣小便不利者加茯苓。</p>
<p>反鼻散　治楊梅瘡。</p>
<p>獨活　連翹　大黃　土茯苓（各四錢）　反鼻（三錢）　川芎（三錢）</p>
<p>上細末酒服一錢匕</p>
<p>蟹（取生淡水中甲大三四寸者可用。生海潮中者不可用。）　反鼻（酒浸一宿各燒存性）　鹿角（男子乳浸日曝乾三遍燒存性各十五錢）　沉香（五錢）</p>
<p>上四味細末。每服五分。無灰溫酒送下。日三。</p>
<p>按此方本出於伯耆州。民間。舊名黑龍散。主治癰疽疔腫瘰癧乳癰下疳潰爛難愈。及痔漏脫疽等證。人人屢試有效驗。故世稱之云伯耆妙藥而不呼其方名。黑龍之名遂湮晦矣。今人只呼曰伯州散。蓋是其真方云。而諸家所傳。品味有增加者。今駢附於後。</p>
<p>又方　蝮蛇（燒存性）　蟹（燒存性）　鹿角（燒存性）　皂角子（燒存性）　大黃　蛇床子（俱忌火以上六味各二十錢）　沉香（四錢半燒半生）</p>
<p>上七味細末。每服一二錢。溫酒送下。○一方有銀花。</p>
<p>又方　蝮蛇（一錢去頭尾燒）　蟹（七分燒）　鹿茸（三分燒）　牙皂（三分燒）　沉香（三分）　甘草（二分）</p>
<p>上五味為末。以一劑分二服。溫酒送下。取微醉為度。禁生蔬茶酒酢面海腥冷水等件。</p>
<p>治黴瘡一方</p>
<p>大黃　犀角　黃連　黃芩　牽牛子（各二錢）　巴豆（一錢）</p>
<p>上六味為細末米糊丸彈丸大。每服三丸至五七丸。</p>
<p>疳瘡薰洗方</p>
<p>忍冬（上）　黃蘗（中）　礬石（小）　甘草（小）</p>
<p>上四味水煎。頻淋湔患處。</p>
<p>膩粉丸　治結毒骨節疼痛。</p>
<p>牛膝（焦黑色）　輕粉（各二錢）　土茯苓（一錢半）　丁子（五分）　將軍（八分）</p>
<p>上細末。糊丸麻子大。以一劑六日服盡。至七日宜服後方。（一名前七寶丸用土茯苓一錢每服四分。旦暮服之。三日後。服後方一錢云。）</p>
<p>三物巴豆丸（一名後七寶丸）</p>
<p>巴豆（七枚）　丁子（二分半）　大黃（四分○一作二錢）</p>
<p>上為細末糊丸麻子大。每服十丸。空心白湯送下。</p>
<p>治楊梅下疳結毒妙方（竹下某方）</p>
<p>朱（光明者）　輕粉　竹皮（各十五錢）　牙茶（五釐○一方用一錢）</p>
<p>上四味。煉蜜丸麻子大。每服五分。旦暮服。服十五日。後宜用後方。</p>
<p>石榴皮湯</p>
<p>石榴皮　香附子（各十錢）　甘草（二分）</p>
<p>上三味。以水一升煮取五合。去滓溫服。</p>
<p>六物解毒湯　治黴瘡骨節疼痛。</p>
<p>土茯苓（四錢）　金銀花（二錢）　川芎　薏苡（各一錢半）　木瓜（一錢）　大黃（一錢）</p>
<p>上六味水煎溫服。</p>
<p>化毒丸　治黴瘡結毒（佐井定策方）。</p>
<p>白麵（八錢）　大黃（四錢）　雄黃（二錢四分）　反鼻　蜈蚣　血竭（各一錢六分）　乳香　沒藥（各一錢）</p>
<p>上八味為末。煉蜜丸赤小豆大。日服三四錢。隨證加輕粉五分。</p>
<p>疳瘡敷藥方</p>
<p>虎皮　西洋參（各一錢俱燒存性本邦稱廣東人參物）　輕粉（少許）</p>
<p>上為極細末。敷患處。</p>
<p>治楊梅毒瘡方（醫學統旨）</p>
<p>輕粉（一錢）　雄黃　丹砂（各二錢）　槐花（炒）　龜版（炙各一兩）</p>
<p>上為末。糊丸梧子大。每服一錢。冷茶下日二服。七日愈。</p>
<p>治楊梅瘡。年久筋骨痛。（本草百病王治）</p>
<p>薔薇根　木瓜　五加皮　茯苓　當歸</p>
<p>上水酒各半煎。</p>
<p>百效飲　治楊梅下疳便毒。神驗。</p>
<p>土茯苓（百二十錢）　玄參　銀花　防風　荊芥　連翹　黃蘗　大黃　芒硝　蟬蛻　天花粉　龍膽　豬苓　澤瀉（各二十錢）　甘草（一錢二分）</p>
<p>上分作十二貼。每一貼。頭煎以水六盞煮取五盞。第二次煎以水五盞煮取三盞。第三次煎以水三盞煮取二盞。俱相和。一日服盡。完十二日。而後宜用後方。</p>
<p>蠲瘀煎</p>
<p>茯苓　芎藭　黃蘗　桔梗　忍冬　木通　山梔子　土茯苓　大黃（各等分）</p>
<p>上水煎溫服。</p>
<p>治楊梅瘡久不愈。或浸淫者。神效方。</p>
<p>銅綠　膽礬（各二錢）</p>
<p>上以蜂蜜一盞煎熬而後以苦薏花一撮。裹於木棉布。扎定。其頭團欒如擘殼酸漿實狀。乃以頭傅前藥。炙火上。乘熱熨於瘡上。</p>
<p>黃鼎元　治楊梅結毒。筋骨疼痛。</p>
<p>黃芩　黃柏　大黃　當歸　蝮蛇　乳香　沒藥　犀角　芍藥（各等分）</p>
<p>上細末。米糊如梧桐子大。辰砂為衣。每服二十丸。白湯送下。日二夜一。</p>
<p>改定化毒丹　治結毒。</p>
<p>牛黃（真者四分）　琥珀（五分）　血竭　雄黃　硃砂　虎脛骨　鯪甲（各一錢）　鍾乳（二錢）　犀角　烏蛇（各一錢半）　龍腦（三分）　麝香（二分）</p>
<p>上十二味。神麵糊丸梧子大。每服十五丸。砂糖湯送下。虛者人參湯送下。○本方加熟大黃（一錢）輕粉（五分）名加味化毒丹。（橘尚賢方）</p>
<p>元周按牛黃化毒丹。去乳香沒藥木香蟬蛻白蘚皮貝母生生乳。加腦麝鍾乳烏蛇犀角輕粉方。</p>
<p>再造散　治大風及黴毒。不擇新痼服之可也。</p>
<p>鬱金（五錢）　皂角刺（一錢）　大黃（十錢）　白醜　反鼻（各六錢）</p>
<p>上為末溫酒送下（醫官山東洋方）</p>
<p>元周按即三因方通天再造散加反鼻方。</p>
<p>百中飲　治下疳梅瘡。其他一切濕毒。積年不愈。或頭面腐潰。或鼻柱陷塌。已成廢痼者。神效。（津田玄仙方）</p>
<p>土茯苓（上好物一百七十錢）　杜仲（二錢八分）　甘草（一錢八分）　黃連（一錢四分）　檳榔　人參（本邦稱直根者）　牛膝　大黃（堅實者）　肉桂　黃芩　沉香（上好品）　川芎（各一錢）</p>
<p>上一劑分作七貼。七日用盡　煎法以水三合半煮取二合。再以水三合煮取二合。又以水四合煮取二合。俱合和空心溫服。</p>
<p>治廣瘡爛壞鼻梁。及淫蝕陽物（出於本草匯言）。</p>
<p>鐘乳石（無問厚薄。但明淨光澤者。即堪入藥。惟黃赤者不用。）　蛀竹屑（八錢）　乳香　沒藥（瓦上焙出油）　象牙（各五錢）　枯礬（三錢）</p>
<p>上為細末。用白蠟四錢。總和勻。每早晚各服二錢。土茯苓煎湯調下。（元周按此方平和之劑。虛人宜用。）</p>
<p>楊梅瘡無論新久。不廿劑收功。不獨永除後患。更且無礙生育。當歸（五錢）銀花防風荊芥（各三錢）何首烏肥皂子（九個）豬胰（一副）土茯苓（四兩）用水六碗。煎三碗。空心溫服。忌鹽醬醋茶雞魚鵝鴨蝦蛋鮮物。（出於原體廣類）</p>

<h1>黴癘新書跋</h1>
<p>道無古今。而謂有古今者非古也乎。相州倉君深甫者。豪傑之士也。達觀古今以立一家言。名曰黴癘新書。然本不厚則不能以耐久。源不深則不能以致遠。必也雖遠不泥。雖久不廢。言立術行。此之謂不朽矣。如倉君者近之耶。吾醫矣哉。今應肥州佐野先生之請。謂予所言者。以塞其責云也耳。</p>
<p><u>享和三年歲次癸亥桂月中澣書於崎陽客館</u></p>
<p><u>柏塘程霞生</u></p>
