<header data-type="book">
<h1>醫家心法</h1>
</header>

<h1>序</h1>
<p>浙中精於醫學者，有二高子：居錢塘者曰士宗先生，居四明者曰鼓峰先生。余志學時，慕士宗先生之名，欲受業其門，迫於貧，不果。每得其著述，不厭研究，以為私淑之益。洎後聞鼓峰先生，所言多奇論，治病多奇中，則又心竊願見之，而不獲一晤其人以為恨。乙巳春，越溪王謙中來，為余言鼓峰醫術，當代少有出其右者，且以其所著《醫家心法》示余。余深喜數十年景企之私，一旦得讀其書，不啻見其人，何快如之。及披閱終編，見其用心，似欲出前人意表，而修辭不免紕繆於軒岐、仲景。心竊異之，鼓峰之奇，乃如是歟！何所見與所聞之不同也？夫天下之理，莫不本於正，何有於奇？意主於奇，則索隱行怪，而惑世欺人之言出，未有不悖聖賢之道者。讀鼓峰之書，而想其平日之所言所行，時出於奇者，亦約略可見。較之士宗之持身整飭，應事周慎，而其著述，典而可則者，不相徑庭歟！不揣鄙陋，就其書中有不合於軒岐正義者，妄為糾正，爰以濟世之心切也。鼓峰而心存乎濟世者，諒不以予言為吹索也夫！</p>
<p><u>雍正三年歲次乙巳嘉平既望錢塘胡珏念菴氏識</u></p>

<h1>診法</h1>
<p>治病之要，在臨證時，先察其內外、臟腑、經絡、新久、虛實、痰食、血氣，才以脈合之。如證與脈合，或正治，或從治，可也；有證與脈不合者，則當審其輕重，辨其真假，或舍證從脈，或舍脈從證以治之。復有證與時不合者，或舍證從時，或舍時從證以治之。證、脈、時三者，須互相參考。</p>
<p>《內經》之法，大要在察色、按脈、審時、辨證，驗陰陽之多寡，識寒熱之真假，分別臟腑雌雄，端理經絡浮沉，神機之有出有入，氣化之或升或降，須皆參互詳察，體認既確，則神明可通矣。</p>
<p>何謂內？言七情也，喜、怒、憂、思、悲、恐、驚也。七情之病起於臟，七情過極，必生拂鬱，病從內起。拂鬱之脈，大抵多弦澀凝滯，其來也必不能緩，其去也必不肯遲，先有一種似數非數躁動之象，細體認之，是無焰之火也，是無韻之音也，是往來不圓滑也。此為郁脈，法當疏之發之。如火在下而以濕草蓋之，則悶而不舒，必至燒乾而自盡，故疏之發之，使火氣透，則反可以自存。何也？郁是氣抑，鬱則氣不透，不透則熱，熱則為火矣。古方疏發，以越鞠丸為主，嚴用和以逍遙散代之。如單得郁脈，上二方是也。如鬱而血為火逼，變成燥證，疏肝益腎湯，從水生木，左歸飲重加歸、芍：或不清，乃加丹皮、山梔、黃芩，以清肝、膽二經，所謂夫婦並治也。</p>
<p>拂鬱二字，烏能概得七情？惟五運可以言郁，若七情不專主郁。《內經》九氣論，言之詳矣。</p>
<p>何謂外？言六淫也，風、寒、暑、濕、燥、火是也。六淫之邪，或從皮毛而傳絡，從絡傳經，從經傳腑傳臟是也。亦有竟感於絡，竟感於經者。六淫所感，必生拂鬱，病從外入，故必皮毛先閉，外束其所感之邪，而蒸蒸發熱也，法當疏之發之是也。大抵脈浮，或洪，或大，或緊，而必數者也，是燎原之火也，是擊撞之聲也，是往來不肯沉靜而出於皮膚之外也，亦謂之郁脈，是外郁也。疏之發之不愈，則霜雪以壓之，古方麻黃、桂枝、白虎、承氣等劑是也。此真外感也，易之以羌活沖和者，亦真外感也，有內傷似外感者，此火不可發散也，散之則亡陽；不可霜雪以壓之，壓之則火滅。初起，以小柴胡湯加減調之可也，逍遙散加生地，合生脈飲加黃芩之類。以滋腎生肝、生金滋水可也；重則六味飲加歸、芍，合生脈可也。蓋非水無以救火也，非有根之水，無以救離根之火也。</p>
<p>六氣之在兩間，動潤蒸乾，舉大地以生化萬物。乃天之正氣也。若本是淫氣，則何能生長化收藏乎？惟是過則為害，害則為淫，亦緣人之六氣有愆感，而為病因，名之日六淫。今人遂以六氣稱六淫，何捨本而言末，認主以作賊，弗思甚矣！</p>
<p>六氣之感，惟風寒能郁皮毛腠理之間，若本及為標，即不可以言郁。且風則腠理發泄，又善行而數變，亦不得為郁．至若火與濕，乃五運之郁，非關六氣也。</p>
<p>內傷似外感，無庸散發，不可涼遏，所論甚正；至用小柴胡、逍遙，則其理又非．蓋內傷，非勞倦，即房室，非譏飽失宜，即憂思過度，當須溫補，或從溫化，所謂勞者溫之，損者溫之是也。若用此二方，鮮有不拔其根而壞其真者也。</p>
<p>何謂臟腑？有從腑遷臟者，有從臟遷腑者。如陽明傷食，則氣阻而脾不能運化，其病遷於脾。初起，法當先消食，食消則氣通而脾運矣，或久之，則脾病益深，必先救脾，何也？腑尚可病，臟不堪久病也。腑主氣，氣無形，無形治之以無形，易也；臟主血，血有形，有形者亦須假無形以治之，而後能有形，故難也。傳曰：無形之氣易補，有形之血難償，此之謂也。消食者，保和、枳朮等類是也。然不可過於消。經曰：大積大聚，皆可犯也，衰其半而已。如過於消則氣衰矣，消之不得其法，或不及，則食積而生熱，熱則脾病，當用參、術加五味異功散，六君子湯，或加枳、桔以開提健運，再佐以芩、連以消其積熱。此臟腑相救緩急之法也，各臟腑可類推之。</p>
<p>六腑主傳化物，以氣言則可；五臟主藏神志，以血言則不可。</p>
<p>臟主藏神，腑主傳物，故臟主無形，而腑主有形。有形者，氣化行而易愈，無形者，神志傷而難全全。故經云：臟不可傷，臟傷則失守而陰虛，故不易治也。若專言臟主血為有形，未免牽強其說。蓋入胃之水穀，傳之於肺而流溢，奉心之氣而化赤，由腎之衝脈而布散，外而充膚熱肉，內而蓄藏於肝；至於周身經隧之血，又總統於脾，所謂脾藏營而胃主血也。如此，則血之生始出入，皆五臟之氣化流行，而所主專在脾胃，不可以腑主氣而臟主血分屬也。分屬之論，初看似若出人意表，細疏其理則非。</p>
<p>積久生熱，間亦有之。脾病溫補，得其要矣。配以枳、桔，亦屬兩歧。必以為熱，而佐以芩、連，固矣哉！先生之為論也，甯不知始為熱中，末傳寒中乎？</p>
<p>何謂經絡？經者，如江河之經地，其筋脈生於肉中；絡者，如藤之絡石，其筋脈生於皮里肉外。經筋屬五臟，絡筋屬六腑。屬五臟者，以血藥補之，以行經藥通之，補之者，歸、芍、熟地是也；通之者，川芎、秦艽、沒藥、乳香是也。屬六腑者，以氣藥補之，以走絡藥通之。補之者，參、耆、白朮是也：通之者，羌活、柴胡、葛根是也。然又要看其病之深淺，而彼此相通，不可執一也。</p>
<p>《內經》以經屬陰而絡屬陽，未嘗以經屬臟而絡屬腑也。以三陰三陽論之，則經脈亦有陽；以陰絡傷、陽絡傷論之，則絡脈亦有陰。至謂絡脈如藤之絡石，則所言者乃外絡、孫絡，而遺卻內絡、大絡矣。論欲出奇，反悖於理。</p>
<p>何謂新久？有內傷之新，有外感之新，有內傷之久，有外感之久。內傷之新，補之當早；外感之新，散之戒重。如補之遲，遷延成弱矣；散之重，變成他證矣。內傷之久，補之當峻、當速；外感之久，散之不可峻、不可猛、不可速。何也？人之元氣有限，病久必傷元氣，若再攻之，元氣竭矣，真陰亡矣，經云：邪之所湊，其氣必虛。又曰：粗工洶洶，以為可攻。此之謂也。</p>
<p>內傷、外感，揆輕重而治得其宜，何論新久。設內傷久而胃氣大虛，不勝重劑，用峻用速反致其變；外感新而邪氣方熾，緩則如焚如溺，可不乘其元氣未漓而急攻盡剿乎，略有畏縮，必受其弊。又今之外感挾內傷者多，即輕散亦須斟酌。</p>
<p>何謂虛實？有陰虛，有陽虛，有先天之陰陽虛。何謂陰虛？血虛也。何謂陽虛？氣虛也。血虛者，補其血，四物湯之類是也。氣虛者，補其氣，補中益氣湯之類是也，先天之陰虛，六味、左歸之類是也。先天之陽虛，八味、還少、虎潛、右歸之類是也。有攻伐太過之陽虛，如用寒涼而致陽遏不升，當用參，耆、術以溫之，甚者薑、桂以助之，又甚者八味、右歸從其原以救之。有攻伐太過之陰虛，如用發散而致津液乾枯，當用歸、芍、熟地以滋之，枸杞、龜、鹿、阿膠黏膩之物以填之是也。</p>
<p>以陰陽為氣血是矣，以先天之陰陽，貼有形之氣血，則非是。蓋先天之陰陽，乃常先身生之精，與所稟賦之真，屬無形之太極者也，若以後天之氣血混同立論，則粗矣！</p>
<p>何謂食？膏粱煿炙，酒酪湩乳，能生火以傷胃之陰：傷陰者，救之四物以養血，佐之芩、連、梔、柏以清火。浮瓜沉李，冷水寒冰，能滅火而傷胃之陽；傷陽者，救之理中以養氣，佐之桂、附、豆蔻以生火。至於飢飽失時，中氣受傷，當補而兼運，六君子湯加枳實、桔梗之類，運而提之。</p>
<p>《內經》只言胃陽，而不言胃陰，蓋胃陽乃中土充和之氣，臟腑氣血，榮衛經絡，周身無一不取給焉，故不可傷也，今創言胃陰，殊屬臆見，究竟遵古說脾陰為理正。</p>
<p>何謂痰？有食積之痰，有中虛之痰，有水泛水沸所為之痰。食積之痰，消其積則痰自除，保和、太安、枳朮之類，虛者六君子之類。中虛之痰，或脾虛不運，或胃虛不容。脾虛不運則積，六君子加白豆蔻、神麯是也。胃虛不容則聚，六君子加砂仁、神麯是也，水泛為痰，土虛不能攝水也。其痰濃而白，補中益氣加半夏、木香、白豆蔻是也。水沸為痰，其痰白如沫，吐出時如蟹沫，水頃變為稠黏之水矣。此腎水不足，不能制火，火緊而沸也，六味丸主之。</p>
<p>陰虛水泛，中胃未傷而脈數者，可作腎虛火緊而用六味。若真火不足，土乏生原，脾溏胃弱者，乃脾敗而津不攝，非水沸也，重劑固補，可以救持，如用六味，必擯於危。</p>
<p>何謂血？凡六淫、七情之病，皆有因死血薄積於臟腑而成者。其證見於外，或似外感，或似內傷，醫者多以見證治之，鮮不謬矣，大凡死血在內，其脈必澀滯，其出於皮膚也必不滿，其入於筋骨也必不完，其形大都如線塗生漆，不能充潤之狀。醫者遇此病，多以痰食求之，而於死血，多不知察，故備言之。</p>
<p>此證察識頗難，治亦不易，攻補溫潤，只在毫釐之辨耳！慧心者於脈證形色上，互相參證，則亦難遁其情矣。</p>
<p>何謂證與脈合，與脈不合？有外感之脈證，有內傷之脈證。外感者，翕翕發熱，或蒸蒸發熱，其脈必洪大浮數，是證與脈合也。如發熱而脈不洪大浮數，是證與脈不合也。傳曰：陽證得陰脈者死。此句是論傷寒，若別證不可便以死論，此必是火遏也，或胃陰不能充拓也，或腎水不能化其榮血也，則舍證從脈可也。火遏者，逍遙散加薄荷、生地以發之，或加丹皮、山梔屈曲下行以通之；胃陰不能充拓者，四物湯重加熟地、枸杞、人參、麥冬、五味以滋之；腎水不能化營血者，六味、左歸以補之。如內傷而外不發熱，其脈當靜，反洪大浮躁而數，是證與脈不合也。傳曰：陰證得陽脈者生。此句亦是論傷寒，若別證又不可便許為生。此是陰亡也，或陽明有食與火也，或腎虛不能納氣也，或過服烏、附而下焦津液枯竭也。又有一種重按有力，卻不弦，從肌肉滲開，脈與肉無界限，此近於浮洪豁大也，總是陰之象也，陰亡也。如陰亡，分先後天以救其陰。有食與火者，健運兼清涼也：腎虛不能納氣者，六味、都氣是也，過服烏、附者，六味加知、柏是也：脈與肉無界限者，六味加歸、芍、杞子、棗仁，合生脈也。凡證皆有合有不合，舉此一端，可以引伸觸類矣。</p>
<p>傷寒之外，所謂別證者，即時行感冒，以及勞倦內傷諸證是也。發熱而得標陽，反得里陰之脈，是機神不能浮合於外也，陽氣不得內接於陰也，斯時到手即溫，無庸顧慮，以為火遏而用逍遙等劑，名雖發越，其實涼降，是下井而投之以石矣。吾怪世醫拋棄可憑之脈，專習無根之論，舍大道而不求，惟從俗以自逞，病家信其膚詞，稱其穩當，以為解鬱退熱，切中病情，朝斯夕斯，日復一日，而不知潛撥其本，暗損其真，以致變為無可挽回之證，皆由此等之說誤之也。</p>
<p>何謂證與時不合？譬之夏月，惡熱而躁，不當用辛熱矣。然卻是無根之火狂越於外，非人參、桂附八味無以反飛越之孤陽。傳曰：桂、附清蒸熱是也。此舍時從證之謂也。又如冬月，畏寒怕冷，必當用辛熱矣。然卻是火鬱於中，火鬱生風，衝突元氣，氣從火散，故凜凜畏寒，或辛甘以發之，或芩、連、承氣以通之，則火透而寒冷除矣。傳曰：硝、黃解戰寒是也。此亦舍時從證之謂也。夏月用涼藥，冬月用熱藥，互看。</p>
<p>桂、附消蒸，硝、黃解戰，無本杜撰之言，不知出於何典？此條所論，本是正理，贅此二語，反覺有畫蛇添足之病。</p>

<h1>二十五法方論</h1>
<p>五五二十五方之機軸。出於張景岳五陰煎、五柴胡飲。其用藥法象較穩，不似十方之私心擬議，不可為訓也。然細閱之，尚未能該括，亦未能的確不移。後起者，當為補正，始成完備。</p>
<p>足厥陰肝、足少陽膽木主病，變見五證用藥之法</p>
<figure>
<img data-orig-src="urn:270:10598.jpg" alt="圖一">
</figure>
<p>肝與膽自病為正邪，用逍遙散，瀉木中之木。</p>
<p>肝之心病為實邪，用七味飲，瀉木中之火。</p>
<p>肝之脾病為微邪，用小柴胡湯，瀉木中之土。</p>
<p>肝之肺病為賊邪，用左金丸，瀉木中之金。</p>
<p>肝之腎病為虛邪，用滋腎生肝散，瀉木中之水、</p>
<p>手少陰心、手太陽小腸火主病，</p>
<p>變見五證用藥之法</p>
<figure>
<img data-orig-src="urn:270:10599.jpg" alt="圖二">
</figure>
<p>心、小腸自病為正邪，用歸脾湯，瀉火中之火。</p>
<p>心之脾病為實邪，用遠志飲子，瀉火中之土。</p>
<p>心之肺病為微邪，用龍骨丸，瀉火中之金。</p>
<p>心之腎病為賊邪，用導赤散，瀉火中之水。</p>
<p>心之肝病為虛邪，用養榮湯，瀉火中之木。</p>
<p>心包絡、三焦附。</p>
<p>足太陰脾、足陽明胃土主病，</p>
<p>變見五證用藥之法</p>
<figure>
<img data-orig-src="urn:270:10600.jpg" alt="圖三">
</figure>
<p>脾與胃自病為正邪，用六君子湯，瀉土中之土。</p>
<p>脾之肺病為實邪，用四君子湯，瀉土中之金。</p>
<p>脾之腎病為微邪，用理中湯，瀉土中之水。</p>
<p>脾之肝病為賊邪，用建中湯，瀉土中之木。</p>
<p>脾之火病為虛邪，用香連丸，瀉土中之火。</p>
<p>手太陰肺、手陽明大腸金主病，</p>
<p>變見五證用藥之法</p>
<figure>
<img data-orig-src="urn:270:10601.jpg" alt="圖四">
</figure>
<p>肺、大腸自病為正邪，用瀉白散，瀉金中之金。</p>
<p>肺之腎病為實邪，用生脈散，瀉金中之水。</p>
<p>肺之肝病為微邪，用生金滋水飲，瀉金中之木。</p>
<p>肺之心病為賊邪，用黃耆湯，瀉金中之火。</p>
<p>肺之脾病為虛邪，用補中益氣湯，瀉金中之土。</p>
<p>足少陰腎、足太陽膀胱水主病，</p>
<p>變見五證用藥之法</p>
<figure>
<img data-orig-src="urn:270:10602.jpg" alt="圖五">
</figure>
<p>腎、膀胱自病為正邪，用六味飲，瀉水中之水。</p>
<p>腎之肝病為實邪，用疏肝益腎湯，瀉水中之木。</p>
<p>腎之心病為微邪，用八味丸，瀉水中之火。</p>
<p>腎之脾病為賊邪，用右歸飲，瀉水中之土。</p>
<p>腎之肺病為虛邪，用左歸飲，瀉水中之金。</p>
<p>命門附。</p>

<h2>木中之木　逍遙散</h2>
<p>治肝、膽二經鬱火，以致脅痛、頭眩，或胃脘當心而痛，或肩背絆痛，或時眼赤痛，連及太陽。無論六經傷寒，但見陽證，悉用此方，或婦人鬱怒傷肝，致血妄行，赤白淫閉、砂淋、崩濁等證，俱宜此方加減治之。《易》曰：風以散之。此方是也。</p>
<p>柴胡　白朮　茯苓（各一錢）　當歸　白朮（各錢半）　炙甘草（三分）　薑、棗引。</p>
<p>右方加丹皮、山桅各一錢，名加味逍遙散。去丹皮、山梔，加吳茱萸（黃連同炒），名左金逍遙散。加龍膽草三錢，亦名逍遙散。加生地或熟地三錢，名黑逍遙散。</p>
<p>木中之木，是本臟風動之邪也，其證來多夾雜。氣血陰陽，皆有是證。此方論尚膚淺不切，當另補正。</p>

<h2>木中之火　七味飲</h2>
<p>治肝經氣虛，筋無所養，變為寒證，以致筋骨疼痛。腳軟懶行，並傷寒服涼藥過多，木中無火，手足牽引，肝經血虛，以致火燥筋攣，變為結核瘰癧等證。經曰：辛以潤之。此方是也。</p>
<p>熟地　山藥　山萸肉　丹皮　茯苓　澤瀉　肉桂</p>
<p>木中之火，木中生養之氣。若在五邪為實，治有別法。非火實諸證，當舒達其木也；火虛諸證，亦恐非宜。</p>

<h2>木中之土　小柴胡湯</h2>
<p>治少陽膽經傷寒之證，凡耳聾、脅痛、口渴、目赤，及夏秋六經瘧疾，俱當用此方。</p>
<p>人參　黃芩　柴胡　半夏（各一錢）　炙甘草（三分）</p>
<p>右方加丹皮、山桅各一錢，名加味小柴胡湯。</p>
<p>木中之土，乃木虛其位，而土反侮之，亦名橫。欲於木中瀉土，別有證治。苟能散精而淫氣，其內助之功不小矣！</p>

<h2>木中之金　左金丸</h2>
<p>治肝經鬱火，酒濕發黃，胸脅痛不可忍，每食吞酸，如醋浸心，噯出於口，齒不可合。</p>
<p>吳茱萸（一兩）　黃連（六兩）</p>
<p>木中之金，是金來逆凌也，為賊邪，亦曰縱。所引方論俱不合。</p>

<h2>木中之水　滋腎生肝散</h2>
<p>治肝火鬱於胃中，以致倦怠嗜臥，飲食不思，口燥咽乾，及內虛小便自遺，頻數無度。凡傷寒後，熱已退而見口渴者用之。</p>
<p>熟地　山藥　山萸肉　丹皮　茯苓　澤瀉　以上分兩，照六味古方減用。柴胡　當歸　白朮（各一錢）　五味子（五分）　炙甘草（三分）</p>
<p>木中之水，是母來乘子也，為順，名虛邪。水寒上乘，當別有方證。</p>

<h2>火中之火　歸脾湯</h2>
<p>治心火衰微，不能生土，以致土困金敗，外見咳嗽吐痰，寒熱往來，盜汗，急以此方去木香，加白芍治之。凡見脾胃衰弱，飲食不思，大便泄瀉，總由君火不明所致，此補本法也。凡各種虛證，補中益氣湯所不能效者，投以此方。余嘗以此方加酒炒白芍、北五味子以斂心神，奏效更神也。</p>
<p>人參　白朮　茯神（各錢半）　黃耆（炙）　當歸（各二錢）　棗仁（炒一錢）　遠志蜜（炙錢半）　木香（磨五分）　甘草（炙三分）　龍眼　黑棗（各三枚）　生薑（三片）</p>
<p>右方加丹皮、山梔，名加味歸脾湯。</p>
<p>火中之火，爍石流金矣。涼颸一扇，大暑西流而作解。若威福過甚，寧不畏在下者，起而承之乎？</p>

<h2>火中之土　遠志飲子</h2>
<p>治風入大腸，傳為風痢，膿血並見，但裡急後重而腹不痛者，此方主之。</p>
<p>遠志（一錢）　白朮（錢半）　黃耆　當歸（各二錢）　防風（六分）　炙甘草（五分）　或加桔梗。</p>
<p>火中之土，乃母虛而子反乘之，逆道也。在五邪為實，實者瀉之，當別有方法。</p>

<h2>火中之金　龍骨丸</h2>
<p>治腎氣不足，不能上交心火者，此方最宜。</p>
<p>龍骨（煅）　蓯蓉（酒洗去鱗膜）　補骨脂（鹽水炒）　二蠶沙（各二兩二錢）　五味子（一兩）　右各為末，蜜丸梧子大，每服三十丸。</p>
<p>火中之金，是妻來乘夫，寡畏而司晨也。三綱紊而可無法以治之乎？</p>

<h2>火中之水　導赤散</h2>
<p>治心火亢盛，小腸鬱結，不能通利，此方主之。白濁、沙淋等證，合逍遙散。</p>
<p>生地　甘草梢　竹葉　一本作生地、木通、黃芩三味，與此方異。又黃芩下有「或用黃連，或用甘草」八字注。</p>
<p>火中之水，洪濤泛溢，天下憂其溺矣。寧不思敷土之禹功乎？</p>

<h2>火中之木　養榮湯</h2>
<p>凡屬大虛證，勿論其脈與證，但服此方，其病悉退。此十全大補湯對子也。十全大補，但分氣血，此則五臟皆補，無乎不到。虛寒極者，予嘗加附子以治之。三陰瘧（一本作陰虛）更妙，較古方小異。</p>
<p>人參　當歸（各三錢）　白朮　白芍　黃耆　茯苓（各二錢）　陳皮　遠志肉　棗仁（炒研）　肉桂（各錢半）　熟地（五錢）　五味子　炙甘草（各五分）　姜　棗</p>
<p>火中之木，為母來乘子，抱薪救火也，在五邪為虛，在病為風熱，在中見為兩火相煽，沿燒林木矣。當別有方法。</p>

<h2>土中之土　六君子湯</h2>
<p>治脾胃氣虛，飲食不運，致成痰癖，不時咳嗽，或胃氣虛寒，動成嘔惡。凡虛瘧及諸病後、痢後，俱當以此方調之。</p>
<p>人參　白朮　茯苓　炙甘草　陳皮　半夏</p>
<p>土中之土，是太過而敦阜也。物不可以終盛，皆行奪法以泄之。</p>

<h2>土中之金　四君子湯</h2>
<p>治脾胃氣虛，飲食不進，泄痢虛飽，此方最良。</p>
<p>人參　白朮　茯苓　炙甘草</p>
<p>土中之金，母力不能庇子，而子反侵損其母，非道也。津液暗受其耗，剝膚之憂難免。</p>

<h2>土中之水　理中湯</h2>
<p>治虛寒胃痛，嘔吐不止，泄瀉完穀不化。此太陰、陽明兩經藥也。</p>
<p>人參　炙甘草　乾薑（炮各二錢）　白朮（炒四錢）</p>
<p>右方加附子，名附子理中湯。治法同。</p>
<p>土中之水，權勢下移，橫逆之加，理所必有，苟奠定之法施之於早，而不俾下民昏墊，善矣！</p>

<h2>土中之木　建中湯</h2>
<p>治肝虛不能生火，以致火不能生土。用芍藥之酸，甘草之甘，此甲己化土也。再加肉桂，補肝之子，益土之母，以培其生化之原。凡脾胃不和，飲食不進，其外見證兩脅寒痛，泄痢，小腹痛，此方主之。</p>
<p>白芍（酒炒三錢）　甘草（炙一錢）　肉桂（八分）</p>
<p>右方加黃耆，名黃耆建中湯。</p>
<p>土中之木，是土虛而木來乘之，夫臨妻位，謂之縱。在五邪謂之賊；賊者害也。夫婦和諧，家道可成，若怒而相夷，室內其能安妥乎？</p>

<h2>土中之火　香連丸</h2>
<p>治脾胃兩經濕火，傳變大腸，泄痢無度，裡急後重。</p>
<p>黃連（一兩）　木香（四錢八分，不宜見火）。</p>
<p>土中之火，母臨子位，順象也。然過於炎蒸，未免熯其干矣。耗津竭液，將成頑土，設法以救之，其可緩乎？</p>

<h2>金中之金　瀉白散</h2>
<p>凡屬肺熱咳嗽，當用此加減之。</p>
<p>桑皮蜜炙　地骨皮（各一兩）　甘草（炙五分）　嗽多，加桔梗、百合。痰多，加貝母。口渴，加知母。有食，加枳實。</p>
<p>此金自病，名曰正邪，當另有證候，云有食加枳實，此語更夾雜。</p>

<h2>金中之水　生脈散</h2>
<p>治暑傷元氣，汗出過多，倦怠嗜臥，此方主之。如有虛熱口渴，不思飲食，輕則合四君，重則合補中益氣。</p>
<p>人參　麥門冬（各一錢）　五味子（七粒）　右方如無人參，以枸杞代之。</p>
<p>金中之水，是子來犯母，謂之逆，其證與方，不應如是，當另補正。</p>
<p>此方是金中生水也，不可云金中之水。又人參功力，亦非枸杞可代。</p>

<h2>金中之木　生金滋水飲</h2>
<p>凡傷寒熱退後，有易補之陰，有難動之陽，皆當以此養之。其見證，或汗後煩躁未除，口渴，微熱，大便艱澀，小便短赤，即是。又有一種少陽陽明證，手足腫痛，此是火燥生風，風淫末疾，不必俟其汗後，亦用此方。兼針手足要穴（一本改兼針手足要穴六字，作加柴、芩與之五字）。無不效者。</p>
<p>人參　麥冬（各錢半）　歸身（二錢）　白芍　生地（各三錢）　白朮（生用）　丹皮（各一錢）　甘草（三分）　姜引。一方有桑皮。</p>
<p>金中之木，是木臨於金位也。木臨金，名曰橫，當別有證候。</p>

<h2>金中之火　黃耆湯</h2>
<p>凡肺氣大虛，腠理不固，寒證至矣。或小腹隱痛，大便不實，小便頻數無度，終夜不寐，盜汗不止，命門虛衰，精滑夢遺，此方通治之。其自汗、盜汗，尤為緊要。</p>
<p>黃耆（炙）　當歸（各三錢）　棗仁（炒）　白朮（各二錢）　遠志蜜（炙一錢）　補骨脂（鹽水炒八分）　薑、棗引。</p>
<p>金中之火，是火來鑠金，名曰縱。此證之來，大是危惡！治之不及，恐有火炎昆岡，玉石俱焚之悔。</p>

<h2>金中之土　補中益氣湯</h2>
<p>凡六經內傷外感，及暑月勞倦發熱，或汗出不止，當用本方加白芍一錢。痢疾腹痛已除，瀉猶不止，是脾氣下陷也，加酒炒白芍三錢。瘧疾發久，形體尩羸，無論六經，皆當加半夏一錢。即有外感，不過加黃芩一錢。凡婦女胎前氣虛，以致胎動不安，小產崩漏，或產後血虛發熱，加酒炒白芍二錢。此方凡屬中宮虛損，病後失調，無不相宜。倪氏曰：七情內傷，脾胃先病，治宜補土。此方是也。</p>
<p>人參　白朮（土炒）　歸身（各一錢）　黃耆（半錢炙）　甘草（三分炙）　升麻　柴胡（各五分俱蜜拌炒）　古方有陳皮。</p>
<p>金中之土，乃母臨子位，為順。其病別有證治。夫尊親饒裕，卑幼得以資生，若咳者則劇，數吐誕沫，烏哺誠難矣！</p>

<h2>水中之水　六味飲</h2>
<p>治腎水不足，虛火上炎，銷鑠真陰，變為潮熱、咳嗽、消渴、虛勞等證。《易》曰：雨以潤之。此方是也。</p>
<p>熟地　山藥　山萸肉　丹皮　茯苓　澤瀉</p>
<p>水中之水，乃自受之正邪，水冰地坼，寒冱極矣。當重溫補，得生陽一動，春氣潛萌矣。</p>

<h2>水中之木　疏肝益腎湯</h2>
<p>凡胃院痛而大便燥結者，肝血虛也，此方主之。逍遙散所不能愈者，此方妙。</p>
<p>柴胡（一錢）　白芍（二錢）　熟地　山藥　山萸肉　丹皮　茯苓　澤瀉</p>
<p>水中之木，乃水中木來賊也。其惟腎風，或風水乎？子來乘母，為悖逆無道，當另立方治。</p>

<h2>水中之火　八味丸</h2>
<p>凡命門、三焦火衰，元氣虛憊，變為腹痛、泄瀉、脹滿、陽痿、精寒、不能生子、兩膝痠疼、腳軟無力、眼目昏花，悉以此方主之。《易》曰：日以暄之。此方是也。</p>
<p>附子　肉桂　熟地　山藥　山萸肉　丹皮　茯苓　澤瀉</p>
<p>水中之火，非自失其職，而君火橫乘，寡於畏也。即真陰不足，而龍火飛騰，逞其烈也。二者方法各異，俟補而正之。</p>

<h2>水中之土　右歸飲</h2>
<p>凡命門虛寒等證，八味丸治之不效者，宜服此方。見證已詳八味丸下。</p>
<p>熟地（六兩六錢）　山藥　山萸肉　菟絲（各二兩二錢）　補骨脂　桂心　附子　甘草炙（各一兩一錢）　北五味（八錢八分）　一本有枸杞、杜仲，而少菟絲子、補骨脂、北五味，與此少異。</p>
<p>水中之土，乃水虛其位，而土來制之，為賊邪也，當另立方證，倘得少陰見趺陽，則為戊癸合化，又為吉兆也。</p>

<h2>水中之金　左歸飲</h2>
<p>治腎水枯竭，虛火上蒸，脾胃陰土受虧，以致飲食不進，大便燥結，甚至三陽癃閉，將成噎膈。治之以早，無不愈也，余嘗以此方加歸、芍，治傷寒舌黑唇焦，大渴引飲，此必服攻伐寒涼之藥過多也，以此方救之。瘧疾而兼燥證，熱重寒輕者，此方更宜。</p>
<p>熟地　枸杞　山藥　山萸肉　茯苓　甘草</p>
<p>水中之金，是母下臨子宮，為順，名虛邪，寒水燥金為病，當須溫養，方俟補出．（五臟之病，有五五二十五變，本出《素問·玉機真臟論》，謂風寒入舍於肺，為肺痹；弗治，肺即傳而行之肝，為肝痹，弗治，肝傳之脾，為脾風，弗治，脾傳之腎，為疝瘕；弗治，腎傳之心，為瘈。此舉風之為病，而詳其順傳所勝之次如此。舉一氣而其餘五氣可例推矣。又《素問·氣厥論》中言五臟六腑寒熱相移之病，腎移寒於脾，為癰腫，少氣；脾移寒於肺，為癰腫，筋攣；肝移寒於心：為狂，隔中；心移寒於肺，為腫消；肺移寒於腎，為湧水；脾移熱於肝，為驚衄；肝移熱於心，則死；心移熱於肺，為隔消；肝移熱於腎，為柔痙；腎移熱於脾，為虛，腸澼，死不治。是又舉寒熱二氣為病，而言其順逆相移之變如此。舉二氣而風、暑、燥、濕之四氣可例推矣。至謂邪有虛、實、賊、微、正五者之分，本於秦越人《難經》之四十九難、五十難二章。假令心病，由中風得之為虛邪，傷暑得之為正邪，飲食勞倦得之為實邪，傷寒得之為微邪，中濕得之為賊邪。是舉一臟之病而其餘四臟之病可例推矣。夫六氣各能為臟腑之病，五五二十五變，語其常也。若盡其變，則出於二十有五之外，不可終窮。蓋以內感七情，外緣人事，新舊移易，正反誤治，情形錯雜，難以擬議。是以上古醫經探微窮奧，洞明造化元機，詳言病之所由生，與其所傳變，亦云備矣。而初不立方劑，詳詔後人，其意豈有隱哉！良以一定之式，不可以應無窮之變焉耳！鼓峰選取二十五方，以配五臟傳變，治法亦是彷彿《素問》、《難經》中大意，將以示後人用藥之徑路，非謂二十五方足以治五臟之變證，而無所不該也。但其所選之某方，用以治某臟之變證，核其五行生化之理，不盡相符。念庵議其方論不合，殊是。至欲另選古方易之，而終未得，可選以易者，則以求其可以分配，而確乎不可移易者之誠難也。余謂學者當識其分屬之大旨，至於審因察脈，隨其證而用之，分屬此臟變證之方，未嘗不可通為彼臟變證之治，若僅識其外之情形，而不究其內之機運，按式以定方，譬之刻舟以求劍，欲其得心應手而無所失也，又烏可得哉！</p>

<h1>傷寒</h1>
<p>（未得汗，宜陽脈，忌陰脈；已得汗，反是。）</p>
<p>傷寒初感，入於皮毛，玄府壅塞，氣不得舒，無所發泄，故臟腑之氣亦拂鬱而生熱也。其所為傳裡者，由肌肉傳入也。肌肉之中有所謂脈絡經絡者，皆內達臟腑。臟腑之氣血，由此而滲潤於肌肉，是即井、滎、俞、經、原、合之經脈也。故邪氣由皮毛而肌肉，由肌肉而經絡，而傳入臟腑，是為表傳裡也。又《素問》循經傳者，緣足三陽經從頭走足，以其相併而行，故傳亦易而循經次也。其有越經傳者，是井、滎、俞、經、原、合互用交錯之處，值一經虛者，邪乘之而遷也。</p>
<p>此是皮腠之氣血，與臟腑之氣血，交會於肘膝之間，井、滎、俞、經等循次而行，謂其有互相交錯之處，則非也。</p>
<p>《素問》所言者常也，越經者變也。至於由經絡而臟腑，如陽明病，目痛，惡寒，身熱，鼻乾，不得眠，此陽明胃經病也，傷寒書所謂陽明表證也。巳後潮熱，自汗，譫語，發渴，痞滿燥實，大便堅硬者。邪毒傳入胃中。胃必大熱，津液悉燥，胃陰枯而少潤澤之狀，此書中所謂正陽明腑病也。舉此而三陽可類推矣。所謂直入陰經者，乃心、肝、脾、肺、腎五臟之經，受肅殺嚴寒之氣，由肌肉間之經絡，直逼臟中，或心，或肝，或脾，或肺，或腎，冰冷如鐵，氣不能通，便成陰證也。此時急以熱藥依經通之，漸漸溫熱，使臟中熱氣得通於肌肉間之經絡也。舉此而三陰之證可類推矣。</p>
<p>傷寒一論，千古難詮，未許淺見者妄為饒舌，至欲弄巧出奇，於仲景門牆之外，另闢畦徑，則誤而又誤矣。脈絡經絡之說，本於《素問》，井、滎、原、合之詞，出於《靈樞》。詳玩本文，自有原委，若牽作傷寒話頭，以欺不學無術之人則可，自有學有識者觀之，則為東扯西拽之遊談而已。夫置標本氣化不論，舍太陽大綱不談，扭捏陽明在腑在經之分，妄言陰證臟冷如鐵之喻，寧不懼見笑大方之家耶！又謂邪毒入胃，試問毒從何處生來？謂直入陰經，試問陰向哪方直入？雜亂無稽之談，予未敢震眩高名，隨聲附和。按人之五臟，至有一臟冰冷如鐵，則此臟陽氣己亡，恐無再生之望，亦恐非草根樹皮之藥所能挽回。此語出自名震一時之高手，甚覺可駭！宜念庵先生起而駁之也。</p>
<p>傷寒本證，及傳變各證極多，看《準繩》自知之，此不能備述也。其治法不論四時六經，但見發熱三四日，俱當以逍遙散與之。不論四時六經一語，謬誤之極，後學不可因此致趨徑路。</p>
<p>發熱三四日，太陽證曾罷否與未罷否？又三日有少陽證否？四日有太陽證否？俱不審察，總以逍遙散一方投之，望其人人痊愈，我斷其必無此理。</p>
<p>如兼食者，合小柴胡湯。如經發表過多者，竟用逍遙散加熟地。</p>
<p>發表多者，外不傷其陽乎？內不損其榮乎？中不亡其津液乎？概置不問，而以逍遙散加熟地與之，更覺非理。</p>
<p>兼食者，面必擁熱通紅，氣粗，脈必牢實，神志昏沉，胸前按之必微痛，視其微甚，用逍遙散加熟地，自四五錢，可加至一二兩。</p>
<p>面擁熱而通紅，為拂鬱乎？為戴陽乎？不問其該解該溫，亦總以逍遙方重加熟地，治傷寒如此之易，無怪乎世醫於岐黃之正典，多忽而不講也。</p>
<p>傷寒發熱，必審四時六經，至於傳變，更有千頭萬緒，先賢一一辨晰明徹，方法井然，豈可以逍遙散、小柴胡湯混同施治，而欲以概古人許多成法乎？且逍遙散乃雜證熱鬱肝脾之劑，小柴胡湯乃太陽陷入中土之方，焉有不問其陰陽、表裡、虛實、久新，而統括以治者，能必其一一皆合乎？既有不合，能保其必不變為敗證，而陷人於死乎？予謂人苟未能詳辯傷寒許多傳變，只可緘口不言，言則必誤。若更著書立說，流傳世上，貽誤後生，殺人不少。戒之！慎之！</p>
<p>如發熱至九日十日外，舌必黑，脈必洪數無倫，竟用人參一兩，熟地一二兩，救之：甚者加煨姜三片。如經攻裡多者，輕者四君子湯加歸、芍，或補中益氣湯大劑與之；甚者急用人參一兩，附子三錢，煨姜三片，以發其汗，然後仍用四君子湯加歸、芍調理。</p>
<p>凡十一二月傷寒，或從畏寒而起者，此即感也，屬表證，前胡湯主之。二劑後不應，亦當以小柴胡湯，加桔、枳與之。如二劑後再不應，仍用逍遙散繼之，無不愈也。</p>

<h2>前胡湯</h2>
<p>前胡　柴胡　蘇葉　半夏　桔梗（各二錢）　陳皮（一錢）　白芷（八分）　甘草（三分）　薑、棗為引。有食，加枳實。</p>
<p>定此方以教後學、傳後世，是乃誤人耽擱時日也。夫邪在皮表，可擬麻黃，邪在肌腠，不妨陽旦。因病治病，不終劑而解矣，即有餘邪，再商別法，況初感邪未陷入，何必柴胡樞轉，設或根氣虛人，未有不撥其本源，而致虛陽浮越者，諺云：開口奶要吃得好，不然，誤到底也。</p>
<p>凡發熱，覺脅痛，耳聾，口乾，舌黑，此屬邪熱不清也，逍遙散加山梔、丹皮、生地、黃連，二三劑。如不應，即屬火燥，疏肝益腎湯，或歸脾湯加柴胡、芍藥。有熱甚而痛及頭目，手足自覺腫起，此火燥生風，風淫末疾也，滋腎清肝飲，加熟地一倍為主，禁用寒涼藥。</p>
<p>發熱，脅痛，耳聾，口乾，舌黑，固屬邪熱不清，內中亦有屬虛證者，不可不知。若脈見弦大，或空數，或微小而急疾，乃是大虛證，法當重劑溫補。若一例作邪熱治之，必至敗壞。</p>
<p>想其平日，以逍遙散、小柴胡湯用之得手，故教人亦不論虛實，總以此二方為先務。不知用此二方以治傷寒，雖似穩當，實倚殺機。世人不覺其誤，信手亂用，受其害者甚多。且發熱證中，屬虛者不少，非飢飽勞倦，即房室憂焦。若犯斯證，開手即當溫補；溫補未效，即用大溫大補。病者篤信，醫者有恆，自然陰陽和而榮衛調，沛然作解矣。若以逍遙散入梔、連等滋陰涼降之品，二三劑不效，遂致脫陷者有矣。知其將至脫陷，然後改用溫平，遷延時日，亦多變成敗證，至於不救。</p>
<p>凡大便硬者，除合仲景痞滿燥實堅證，方可用承氣湯。然世甚少太陽證，今治傷寒用前法，尚有痞滿燥實堅證乎？</p>
<p>余嘗疑鼓峰先生未曾細觀仲景之書，故所論多支離。痞滿燥實堅之說，乃陶節菴無根之談，今以為仲景之論，非其一證乎！</p>
<p>且勿論其是太陽，非真太陽，如遇粗工，發表、攻裡過當，以致真陰耗竭，燥結不出者，一味養氣補陰，宿物自下。須安慰病人，勿急於攻下，守至數日，自可奏效也。</p>
<p>或有一種不行便而能食者，推陳致新，倉庫盈溢，自能通利，不便無憂，有不便而不能食者，粗工必主便則邪去而膈清，才能思食。余獨曰：不然。必須先養胃，以助正去邪；如養未到，邪不即去，不食不妨也。</p>
<p>養氣助正，俟其自便，是最穩法。</p>
<p>凡傷寒復發，世皆作有餘證治，必曰因食而起。殊不知有餘不盡之毒，留滯陽明胃經也。蓋緣戰汗後，元氣虧損之甚，即以補陰得汗，力只及得七八分便住，表既得解，便能清爽。其不盡者，復歸陽明，加以一二日之飲食，與邪相蒸，復騰騰而作熱矣。曰：治之當何如？曰：舍補正無由也。當此之時，大汗一出，元氣驟虛，飲食入胃，生化遲緩，於是所留之邪，與新入之物，合而為熱，如依時師，再用攻邪，則元氣愈虛，熱邪愈熾，索然而死矣。惟以大劑六君子湯加當歸投之，縱有病愈增而熱愈甚者，乃是邪與食為元氣所攻發，將出之候也。守不過三日，復戰而汗解矣。若用芩、連退邪，枳、樸消食，必死無疑。或曰：汗至七八分，而餘邪何以復歸陽明？曰：胃主肌肉，而元氣薄故也。如元氣盛者，無此病也。如流泊肌肉筋骨，則為餘毒，治法亦先補正。</p>
<p>此段所論，俱是正理，後學確當遵守。其所以有一段入理之言，即間一段無巴鼻之論，不能無雜者，良由其說不從軒岐、仲景書參出，而於節庵、《準繩》中脫化，故雖高出時流，而不中理之談，時一雜見。</p>
<p>謂有餘不盡之毒，此「毒」字從王叔和《序例》中用來，蓋以為發論之奇，而不知用字之欠理，謂之「邪」可也，何毒之有？」胃主肌肉」四字，用在此處，未免落空，何不雲陽明居中，土為萬物之所歸乎？</p>
<p>凡直中三陰者，理中、真武、四逆等方，辨證用之。</p>
<p>仲景並無直中之名，乃是陶節菴撰出，貽誤後人，至今習成常語，牢不可改。</p>
<p>如夏日坐涼亭小閣、高堂大廈中，亦能中寒，宜附子理中。不可泥於盛夏，而禁用熱藥也。</p>
<p>戴陽者，兩顴淺紅，必遊移無定處，不盡面通紅：或煩躁發狂，欲飲水，坐臥泥水中，此陰盛格陽也。大劑八味飲，或參附湯，人參、熟地可用至二三兩，附子可用至三五錢。如認作白虎證而治之，立死。</p>
<p>中暑者，面部通紅紫脹，眼白必黃，更以口渴辨之。凡中暑口必渴，面赤氣粗，煩躁狂亂。審知陽明的確，方可用白虎湯。</p>
<p>此數條所論，俱是正語，後學所當深信不疑。</p>
<p>傷寒一法，惟太陽證用麻黃湯發表，一涉口渴，則非太陽證矣。緣太陽經絡行身之背，故有項強、頭痛，方是表證，余則與表無涉，麻黃髮表等藥，所當禁忌也。潔古之九味羌活湯與雙解散，俱可廢而不錄。今真傷寒絕無，雖發於嚴寒，亦當作內傷治，況不發於肅殺之令乎？予立五法以治內傷，而熱證無餘義也。原汗乃胃中津液也，故傷寒書中，最要緊關頭，在「存津液」三字，至熱鬱於內，則津液亡矣，何以能助其汗乎！</p>
<p>一驗其舌胎白如刺，此肺病也。生脈散加生地、白芍、當歸、黃耆、甘草、柴胡、黃芩，以生金滋水。</p>
<p>一舌胎黑滑，此腎氣凌心，用八味飲；黑燥，用六味飲，以救腎陰。</p>
<p>一舌黃胎，補中益氣湯加黃芩或黃連，以補土生金。如有食，去黃耆，加厚朴．白朮不可去，且發其汗，縱有食不顧也。</p>
<p>一舌覺轉動不活，防其卷也，逍遙散加黃芩、丹皮、生地，以滋水生肝。</p>
<p>一舌鮮紅，此心經病也。六味飲合生脈散，以滋水清火。</p>
<p>凡內傷、外感寒熱之分，皆從舌胎顏色為準。如黑而滑者，乃腎氣凌心，用八味飲；如枯黑不潤澤者，用六味飲，其人必兩顴遊紅，一劑戰而汗愈。如白而加黃，黃而加黑，此腎凌脾，須治中宮，如補中益氣之類。腎乃北方元武之色，故屬黑。且火位之下，水氣承之，水來救母，若此時泄火，火無從泄，助子以救母，則仇未有不復者也。亢則害，承乃制，其理昭然如是。灰色，指甲刮下無渣汁者，方是火證，乃芩、連之對證也。若腎氣凌心，而用芩、連，則舌上現出人字紋必死。黑而不滑，則腎水枯乾，當急救其陰也。凡烈焰近炙則燔手，漸高則漸冷，緣冷氣乃火逼所致，熱病之舌黑，即此理也。</p>
<p>太陽行身之表，是身之背也。三陰行身之裡，是身之前也。少陽則半表半裡，譬如該補中宮，而邪熱未除，補中益氣湯合小柴胡，以治其少陽，是半表半裡也。自論太陽證用麻黃髮表以下八條，胡彥庵評本不載。世所刊傳《已任篇》本有之，在詳看《準繩》自知。不能備述之下，治法不論四時六經之上，觀其所謂今真傷寒絕無，雖發於嚴寒，亦當作內傷治云云，知其所論諸條，治法與仲景不同者，蓋有由矣。彥庵據仲景所論者，一一糾繩，宜其觸處有礙也。此八條內，亦有可採，故補錄於後，所期後學細心研察，分別取之，洞徹於中，有得於通變化裁之用。技也，而進乎道矣！</p>

<h1>中風</h1>
<p>（脈宜浮遲，忌急數。）</p>
<p>真中風者，其病不過在經絡，經絡之氣為風所逐，則氣逆行，氣逆行，則臟腑之氣血不能外達，故多卒然仆倒，不省人事；感之輕者，半身不遂，口眼歪斜，及經而止也。類中風者，其風自內出，七情恣縱，六淫外侵，真陰不守，久之水衰火盛，風從火出，離其故宮，飛揚飄逐，卒然仆倒，故其人兩腎腰胯間及臍下，必冰冷如鐵。蓋別證必他臟先病，緩緩窮到腎經，惟中風竟是腎經與命門無形之水火自病，故一病竟絕也。當其發病之際，必有一股虛氣，從兩腎中間上夾脊，穿崑崙，過泥丸，直至命門。命門為三陰三陽結聚處，此股虛氣一衝，三陰三陽之氣亦突然而散，遂外不省人事，而在內臟腑之氣亦隨之而去矣。臟腑之氣既去，故手撒、眼合、遺尿、聲齁、口開等證，又相隨而來矣。此命門，即《素問》至陰之根，結於命門。乃兩腎之上下左右，各相去一寸，其中間便是。《內經》七節之旁，中有小心是也。丹家謂之元神。此股虛氣，是即所謂無形之火也。緣無形之水，虛不能守，遂化作冷氣，騰空而去。</p>
<p>真中風者，小續命湯。其人形體實，無類中風證，而卒然仆倒者，北方有之，江南少見。類中風者，乃大虛也，其證卒然仆倒，眼合，口角歪斜，手撒，遺尿。大抵見一種猶可治，數種俱見不治。尤當急以手按其少腹，冰冷如石者，急當灸氣海，兼用蒸臍法。脈必二三至，闊大虛軟如棉花，急煎人參一二兩，附子一兩，或有生者。俟其勢定，方用人參五錢，黃耆二兩，附子五錢，不數飲之，但覺臍下溫和，手足運動，口眼能動是矣。俟飲食如故，二便如常，大劑補中益氣湯加附子三錢，吞八味丸至兩許。大抵凡有頭目眩暈難開，開即見居室百物如倒轉，胸中漾漾，噁心欲吐，即類中風之漸也，治法同上，但不必灸，藥物足矣。</p>
<p>此論頗是正解，但好奇過甚，未免援引支離，夫兩間之理，惟在切近，使人易知易行足矣，不必探幽索隱以鳴高也。古所謂中風者，真中、類中、脫證三者而已。大江以南，無真中風，其所病者，大抵虛風類中耳！即有閉證兼見而屬實者，不妨略用通關開竅、疏氣行痰之劑，俾其大勢一定，然後審察其證而治之，其法大要和其陰陽，調其氣血，或有兼證，隨所現而治之，或溫，或清，或補，或散，以無失其宜為貴。若無閉證，總屬於虛，辨別其陰陽而重補之可也。通泄之藥概不可投，若不審而誤用牛黃、蘇合，後即治得其法，亦不免為痼疾之人。脫證，即《內經》所謂急虛證也，五臟敗絕，定無生理，若見一二證而不遺尿者，用先生所言諸法而速救之，亦有生者。</p>

<h1>瘧疾</h1>
<p>瘧之為病，非經非絡，非臟非腑，乃夏月汗出太多，肌表空疏，外感暑邪，乘虛而直入臟腑募原之間，待收、藏二令一行，玄府閉束，則所藏之邪，無以泄其怒而寒熱作矣。然其寒也，乃內熱將作，火沖其氣，故凜凜然而寒，非真寒也，故不得以熱藥治之也。然《素問》分六經瘧，豈膜原足以盡之歟？曰：非是之謂也。凡臟與臟，或腑與腑，或臟與腑，彼此相接之處，中間蓋有虛界之募原，而虛界中復有剛柔筋脈，其為某臟之筋，便為某臟之病。譬如胃與小腸相近，而邪入於胃與小腸之虛界，而彼筋脈屬胃，則為陽明經瘧矣。如肝與脾相近，而邪入於肝脾之虛界，而筋脈或屬脾，便為太陽經瘧矣。</p>
<p>開口從汗出太多說起，便與經旨相悖。不觀《內經》云：夏暑汗不出者，秋成風瘧乎？至其分疏募原界限聯絡，甚為得理。按《素問》謂夏暑汗不出者，秋成風瘧，見《金匱真言論》中。又謂痎瘧得之夏傷於暑，熱氣盛藏於皮膚之內，腸胃之外，令人汗空疏，腠理開，因得秋氣，汗出遇風雲云。又謂夏傷於大暑，其汗大出，腠理開發，因遇夏氣淒滄之水寒，藏於腠理皮膚之間，秋傷於風，則病成矣。此二條見《瘧論》。可見致瘧之由，政自不一。鼓峰所言，似本之《瘧論》。彥庵引《金匱真言》以駁之，各據一說，皆不能圓備。又《素問》謂先傷暑，而致汗以大出，腠理開發。鼓峰則謂汗出太多，肌表空疏，致外感暑邪，則其說又倒亂，與《素》論相反。立言者固應細自檢點。</p>
<p>究之臟腑雖病，皆因募原之氣遷移也。至於每日、間日、間二日者，瘧之衛氣，日行一周，歷五臟六腑十二經之界分，每一界分必有其舍，舍有隨經絡浮沉內薄之外邪，故與日行之衛氣，相集則病作，離則病休也。間日、間二日者，由其募原之遠近也。曰：古人言無痰不作瘧，信乎？痰之所為，非熱不生，今病人飲食入胃，而每日發熱，則脾不能守其靜化，一惟外邪所化之熱煎熬，並飲食而化為痰矣。其有先傷飲食而痰熱內作，復挾外感之暑邪，變而為瘧者有之矣。無痰不成瘧。凡瘧皆由脾虛，此二語乃透瘧病之根，醫家不可忽諸！</p>
<p>瘧疾之原，多由夏暑貪涼，失其養陽之道，至秋正氣欲收而不能入，邪氣欲出而不能達，是以邪正交爭而瘧作。其間有風勝、寒勝之不同，舍近、舍遠之各異。《內經》所論，無遺蘊矣。治之之法，不過和陰陽，調經絡，有邪去邪，無邪養正，或溫，或散，或補，或清，隨其證之重輕、人之虛實而治之，何拘拘於痰與食，而膠柱於此數法哉？</p>
<p>瘧初發時治法，不論六經內外，只用清中祛瘧飲，或清脾飲；三四發不應，以二妙丸與之，立除：若淹延歲月不愈者，一味六君子湯自愈。有發在酉時者，五發內，俱當用香紅飲，古人用升提法，轉出陽分，不過言道理當如是耳！時人執此法，愈提則陰愈虛矣。且凡屬夜病，若俱要見陽而愈，則亦不勝其升提矣。</p>
<p>間一日發，與每日發者，治法不甚相遠，惟三日發者最難治。余於歲月未久者，用參湯下二妙丸，服之半月一月，自愈。如年深月久，尩羸不堪者，大劑養榮湯，吞八味丸，仍於湯中加熟附子一錢，十劑必愈。瘧痞初起，三妙丸加鱉甲，久服自愈。凡有痰有食，誤服補藥，以致不瘥者，用二妙丸立愈。或再用小柴胡湯，加枳實、桔梗二三劑。</p>
<p>清中祛瘧飲</p>
<p>黃芩　山楂（各一錢）　柴胡　半夏　陳皮　青皮　枳實　厚朴　蒼朮　草果（各八分）　生薑一片為引。</p>
<p>清脾飲</p>
<p>黃芩　柴胡　半夏　青皮　厚朴　蒼朮　草果　白朮　茯苓　炙甘草　生薑</p>
<p>香紅飲</p>
<p>人參　炙甘草　當歸（各二錢）　香附　紅花（各半錢）　生薑　一本無甘草，用益母草二錢。</p>
<p>二妙丸</p>
<p>橘紅　半夏（薑製各四兩）　右為末，神麯和丸。每於未發前三個時辰許，吞一二丸，自然不發。加白朮，名三妙丸。</p>
<p>經云：夏傷於暑，秋必痎瘧。痎瘧者，陰瘧也。陰瘧而可用寒涼散泄乎？嘗閱李易安《金石錄》後序，言其夫趙明誠，因途中奔馳冒暑，至行在旅邸，病痁。予聞信驚怛，念渠性素急，病痁患熱，必服寒涼藥，疾可憂。遂解舟下，一日夜行三百里，比至，果大服柴胡、黃芩，瘧且痢，遂以不起。嗟夫！易安一女子耳，尚知柴、芩不可妄用。何世之所謂名醫，奉此為治瘧之神劑，日事殺人而不覺？良可嘆焉！</p>
<p>痢疾　諸痢疾脈，流連細小者生，浮數洪大者死。</p>
<p>痢之一證，古人咸以赤白分寒熱，殊不知傷氣分為白，傷血分為赤。丹溪謂先水瀉而後膿血，為脾傳腎；先膿血而後水瀉，為腎傳脾。此已發前人所未發。至損庵以為種種痢疾，總由濕熱入胃。此一句，便可悟病形矣，蓋痢疾腹痛，必是繞臍以下，當小腸之分野。飲食入胃，挾暑毒而歸於中脘，初食未成糟粕，後食以繼之，則初食挾毒而歸於下脘矣。夫中無毒邪，則氣血升降。得以循其正，所食之物，變糟粕而從下脘歸小腸。若毒與食在下脘，則升降不得循其正，糟粕欲行而不行，然畢竟要行，而不得行，則將臟腑脂膏逼迫而下，迨交入小腸之後，膿血由小腸刮下。小腸緣無毒，而糟粕得循其正，故小腸雖曲，而順下無礙，惟膿血則不得循其正而不肯下，故痛在繞臍而下，屬胃之下口及小腸也。小便不利者，小腸為邪毒所逼，不能分別，故短縮也。</p>
<p>六氣在天，暑則長養人者也，不可以毒字加之。祗緣見王叔和「寒毒」字用得奇，故是處用之。</p>
<p>臟腑脂膏，非膜絡，即募原也，乃保護臟腑，外通腠理者。逼迫而下，其人烏能存乎？此等奇論，不知出自何書？良由見理未明，故爾認主作賊，以長養之正氣而稱之曰「毒」。其源頭先錯，自然左支右吾，通篇說不清楚矣。夫痢疾之原，皆由夏日寒涼過度，飢飽失節，以致中土寒而經脈病，及秋陽氣收，而所積之寒氣無所容內，氣壯者隨經脈外出，樞轉而為瘧，內氣少弱，則隨經脈內陷從總閤，而為痢矣。色有赤白者，感厥陰之氣則赤，感太陰之氣則白，二氣夾雜，則赤白相間而為痢膿血矣。苟求其氣化，審其陰陽、虛實而治之，庶無差失！</p>
<p>有噤口痢，乃毒氣原盛，或破藥太過，損傷上中二脘宗氣，邪毒乘虛而上逆也。有不從暑毒而得者，或食浮瓜沉李，或臥高室大廈，皆由寒得，隨感隨發，病止在下脘，寒氣所乘，脾亦不運，故為痢。如逾二三日，寒化為熱，其病形亦與暑毒同也。</p>
<p>《內經》只有始為熱中，末傳寒中之說，若寒化為熱之言，乃傷寒初則病本氣而為寒，繼則病標陽而為熱，非所論於雜證也。或者張、劉而下諸先輩有此論，與軒經相悖，不敢隨聲附和。</p>
<p>凡痢疾初起，三日內皆可用白芍藥湯，立除，若初起但覺腹痛，水瀉無度，厚朴湯主之，一見紅白，毒勢凝結矣，但當解毒、和氣、養血，切莫破氣、行血，是為大法，調金湯主之。如服調金湯後，紅白減而漸見糞色，便當減芩、連分數，芩用一錢猶可，連須漸減；加人參矣，此宜相機以消息之。紅白盡除，用六君子湯加歸、芍調理。</p>
<p>如初起發熱，此熱病也，竟以調金湯加柴胡與之。初熱只用黃芩，熱甚方用黃連。此則必視其熱之淺深、色之紅白，而分別用之。</p>
<p>初起即發熱，非肌表有邪，即經絡不和，溫散而調榮衛，外邪一解，痢亦鬆去。若概以為熱病，而開手即用寒涼，多有陷入而變為難治者。</p>
<p>久痢能食，六君於湯加歸、芍。久痢發熱，不能食，肌肉減者，不治。</p>

<h2>白芍藥湯</h2>
<p>治熱痢便血後重。經曰：溲而便膿血，此氣行而血止也。行血則便膿自愈，調氣則後重自除。</p>
<p>白芍　當歸（各二錢）　大黃（生用）　黃芩　檳榔（各一錢）　黃連（八分）　肉桂（五分磨）　木香　甘草（各三分）</p>

<h2>厚朴湯</h2>
<p>厚朴　枳實　黃芩　檳榔　澤瀉（各一錢）　青皮（八分）　甘草（三分）</p>

<h2>調金湯</h2>
<p>黃芩　黃連　丹皮　檳榔　澤瀉　厚朴　神麯（各一錢）　當歸　芍藥　陳皮（各二錢）　生薑片為引。</p>

<h2>呂先生治痢澤瀉湯</h2>
<p>白芍（二錢）　當歸　黃芩　澤瀉　甘草　楂肉　丹皮（各一錢）　木香（四分）　滑石（二錢）　青皮　厚朴（各八分）</p>
<p>如紅積，加黃連八分或一錢至錢五分，如鮮血，加生地三錢。如初起毒盛便難，人壯實者，加酒製大黃二三錢。如身體發熱，加柴胡八分或一錢。</p>
<p>痢之為患，皆由夏暑失其長養之道，以致中土寒而經脈病，及秋天氣降，陽氣入，則所積之寒與經脈之病，相因而欲陷，再加飲食不節，勞力過度，而痢從茲作矣，今以此數方，為治痢之能事，其於壯實者，雖用硝黃承氣上承下滌，亦可應手而解，何憚此降泄之品？苟其人挾虛而本元虧弱，或恣縱寒涼而中胃虛冷，一概用此，未有不變為冰脫者也。二君所定之方，皆對待暑熱之劑，一例寒涼通泄，而無挽轉之法。夫不究其本，不審其因，不問其中土虛寒，不別其經脈內陷，而欲立法定方，以為後人楷模，後人信之，不問虛實，一往混施，以致夭札蒼生，作俑者烏得不受其責！</p>

<h1>鼓證</h1>
<p>鼓即腫滿也，不論五臟六腑，新久虛實，一味補中益氣湯盡之，但有鬱而成者，和中丸為妙，即腫初起亦可。舍是而別有方法，吾不信也。又有一種寒水侮土者，其腫必先頭面四肢起，然後及於腹中，惟此證可以補中益氣湯，吞金匱加減腎氣丸。然當治之於早，不然，水勢沖中，土崩岸敗，無濟於事矣。又有一種食鼓者，乃是飲食所傷，初起必先雀目起翳，醫家不識，只治眼目，不知乃是鼓之根也。此時急當用清劑以治之，經云開鬼門，潔淨府，去宛陳莝是也，然古方太峻，今定一保中丸，久服自愈。</p>

<h2>和中丸</h2>
<p>人參（三兩）　白朮（三兩）　陳皮　木瓜（去穰）　乾薑　甘草（各一兩）　右為末，蒸餅丸。食前，白湯下三五十丸。</p>

<h2>金匱加減腎氣丸</h2>
<p>治脾腎虛寒，腰重腳腫，濕飲留積，小便不利，或肚腹滿脹，四肢浮腫，氣喘痰甚，或已成水證，其效如神。</p>
<p>熟地（四兩，掐碎酒拌杵膏）　茯苓（三兩）　澤瀉　山藥　山萸肉　丹皮　肉桂（各一兩）　附子（五錢）　牛膝　車前（各一兩）　右為末，和熟地膏，煉蜜為丸，桐子大。每服七八十丸，空心米飲下。</p>

<h2>保中丸</h2>
<p>蘿蔔子（炒）　半夏（薑汁製）　厚朴（薑汁炒）　枳實（麩炒）　黃芩（酒炒）　山楂　廣陳皮　蒼朮（米泔浸炒）　蓬朮（各等分）　神麯和丸。一本有三稜，無山楂。</p>
<p>鼓是脹滿，通身腫為腫滿，不可混，當分別之。然鼓只單腹脹，初覺即投溫補，或可望全，不則萬無生理，總之腫脹屬實者易治，挾虛則難矣。至若足趺久腫，漸而上入腹者，亦屬敗證不治。補中益氣於趺腫時用則驗，若腫至腹，則無及矣。</p>

<h1>鬲證</h1>
<p>鬲之為病，一陽明盡之矣。丹溪謂噎鬲反胃之病，由得之六淫、七情，遂有火熱炎上之化，多升少降，津液不布，血液衰耗，胃脘乾枯。其槁在上，近咽之下，水飲可行，食物難入，入亦不多，名之曰噎；其槁在下，與胃相近，食雖可入，難盡入胃，入即吐出，名之曰鬲。總緣下脘與厥陰、少陰相逼，七情用事，肝膽先病，病則鬱而生熱，熱則其氣熏蒸於胃，久之胃中陰血亦干，而漸致糟粕不能受氣化之推移，積疊於胃底，於是胃中之氣上逆而為火，中脘為火所盤據，竟不思食矣。其津液不能下行，則小腸下之闌門亦致枯槁。小腸，手太陽也，閉則生火，愈干則愈熱，愈熱則愈干，亦不能司其泌別矣。然後膀胱無所稟受，而小便赤濁，大腸無所稟受，而便若羊矢，成不治之證矣。</p>
<p>鬲證以一陽明盡之，此種高談，不知本於何書？至謂熏蒸於胃之氣，又不知認其氣為何物？若謂熏蒸於胃之火，則此火乃三焦之火。三焦根於右腎，而為元氣之別使，所以腐熟水穀，而上為開發，下為泌別者也。豈有反使胃中血耗，而糟粕不能移動之理？《內經》謂少火生氣，壯火散氣。火之美惡須要辨得極分明。若於此不加分別，混雜言之，以致後學不明此理，習用寒涼，有加無已，至於生氣之火，而亦思盡力清解，致成敗證，往往有之。此皆立言不善者之過也。</p>
<p>總之，胃為多氣多血之海。人見其不思飲食，便為胃氣之虛，而用參、耆、白朮以補之，見其食即嘔吐，便為胃中之寒，而用薑、桂、茱萸以暖之。殊不知腸胃之為物，最是潤澤，試以羊、豕之肚觀之，必是滑膩稠黏，如液如脂，如膏如津，在人胃亦如之，所謂陰也。鬲證之人，其腸胃必枯槁乾燥，絕無滑膩稠黏等象，是胃陰亡也；陰亡，地氣絕也；地氣絕，則天氣從何處得生乎？故多死。</p>
<p>用溫補不合法，致與病機不相中，非溫補之過也。先生管中窺豹，祗見一斑，而竟以是立言傳世，致使後人禁用溫補，為利少而為害多矣。</p>
<p>鬲證與翻胃，何以辨之？鬲證飢欲得食，但噎塞迎逆於咽喉胸膈之間，在胃口之上，未曾入胃，即帶痰涎而出，若一入胃，無不消化、不復出矣，惟男子年高者有之，故曰少無噎鬲。翻胃者，飲食倍常，盡入於胃矣，但朝食暮吐，暮食朝吐，或一兩時而吐，或積至一日夜而吐，腹中脹悶不可忍，而復吐出原物，酸臭不化，此已入胃而反出，故曰翻胃，男女老少皆有之。世醫治鬲，或以胃虛而用溫補，或以開鬱而用香燥等劑，必至死而後已。殊不知關門枯槁，腎水不能上達，經云腎者胃之關，關門不利，升降息矣。關門，即氣交之中，天之樞也。故腎旺則胃陰充足，胃陰充足則思食，當用六味加歸、芍養之。或血燥，大腸枯乾，有黑糞積疊胃底，則當以熟地五錢，當歸、麻仁各三錢，白芍、桃仁各二錢，微微潤之。視其形體如常，氣血充足，即於前方內加大黃一二錢，以助血藥，大腸一潤利，而胃自開矣。一開之後，大劑六味、左歸等類，不數數飲之，方有濟也。脈必至數勻調，其形體則微大而弦。</p>
<p>胸中有此數方作主，故援《內經》以證其是耳！然此等溫平之劑，病微者可以奏效，劇者恐不能勝其任也。</p>
<p>有一種大便甚利而且溏，每食必吐，是名翻胃。王太僕曰：食久反出，是無火也，八味丸主之。此證全在大便上驗，如一干結，便非無火，一味滋潤如前法。</p>
<p>膈證一條，古今方論繁多，而治之得其效者甚少。余甚憫其罹是患而莫之能救也。每有一書出，於是證必留意參考，探微索隱數十年，未嘗見有妙論奇方，得以起痼扶危，而超然獨擅其藝者，出而應世，亦嘗治效十餘人，乃問諸心曲，終未敢自以為得其要領也。先生夙以奇論鳴世，而治疾又獨擅其奇，宜其於是證，必有創出之論，超人意表者，及觀其書，甚不合於軒岐、仲景之正論。其所列之方，究不越河間、丹溪之範圍，所謂趨小而遺大，得一而廢百，烏足為定法哉？夫《內經》止有三陽結謂之鬲，與一陽發病，其傳為鬲之論，而未嘗有陽明病鬲之詞。夫三陽者天為業，業而為天，則其至尊無對，而為最清純陽之氣可知。且天統萬物，陽氣流行，故三陽升於泉下而出於中土，上膈而外達於皮毛，復從皮毛內合肺，下膈而入於淵泉，往來升降，無一息之暫停，一如天體之周流，自上而下，自下而上，循行三百六十五度而無息也。結而為病，則升降之機幾於息矣，其病豈不重乎？至若一陽者，少陽也，出於水中而根於命門，乃生陽之本，真火之源也，天無此火，不能燥物，人無此火，不能生活，通元真於肌腠，將榮衛而並行，下約膀胱而泌別其津液，上蒸胃腑而腐熟其水穀，古人稱三焦為釜底之然，良有謂也，若夫甲膽，亦為一陽，秉春生之氣，而十一臟皆取決焉，則其於人身，亦非細也，乃發病而傳為鬲，又豈輕淺之證乎？苟不知三陽、一陽之氣化，而懵懵以治，鮮有不擯於危亡者。先生之論，乃以一陽明盡之，談何易耶！夫陽明者，二陽也，《靈》、《素》並無為鬲之論，先賢亦無病鬲之辭，而先生新創之，不過謂燥結枯槁，若二陽之氣化使然，而遂以一陽明概之，所謂泥其形似而昧其神化，執其一節而忘其大體者也，殊不知太陽氣化失調，則陽氣不克出入於膈中，而津液不能遊行於外內，三焦運行失職，則生陽乖升降之機，而水穀愆蒸腐之力，於是陽氣蓄積，上下阻絕，津液槁干，飲食難入，結而為噎為鬲矣。於斯時也，將以寒涼承其亢乎？抑以陰冷折其熱乎？將以膏膩潤其燥乎？抑以辛烈開其結乎？將以毒藥攻之乎？抑以正藥養之乎？其法彌多，其治彌拙。蓋此證雖不外於六淫、七情，或由外入，或自內召，然其氣化神機為病，終不容形像摹擬，自非心通《靈》、《素》，洞悉氣機，不遺毫髮者，所能治也，設已知生陽之不可逆，機神之不可違，而執持兩端，多方顧忌，傍論雜遝，畏首畏尾，稍用重劑，復行監製，此雖有識而無力，亦不能治也。或曰：然則病此者，究無法以治之乎？曰：非無法也。惟其心空太虛，目無全牛，勇如賁育，膽若姜維，線索在手，神應無方者，庶幾近之。至若信任不專，朝秦暮越，一齊眾楚，難於理折，宵小在傍，乘微伺隙，狎暱盈前，妖姬侍側；半匕未投，便生異說；逞厥性情，恣其饕餐；縱進良言，漫無關涉；才見小瘳，即思改轍，重財輕命，初恭後褻；求巫則欣，見醫則戚；我具熱腸，彼如冰鐵；攖斯篤證，猶然慢易。如此之人，治亦無益。更若真陽已敗，浮熱奔馳，謬誤既久，神氣已漓，縱遇和、扁，妙術難施。惟在未甚之先，早為覺察，看破身心，屏絕世事，一切經營，皆為棄置，篤信師言，確依指示。如此則醫得以擅其良，盡其技，洞晰陰陽，分別同異，一意扶陽，漸闢陰翳，朝斯夕斯，無間晨夜，任其火炎，聽其熱熾，莫惑旁言，毋生變志，倏爾云開，煥然光霽，一旦欣欣，都成和煦。如斯治疾，方稱進乎技矣。閱鼓峰所論列，未嘗本《靈》、《素》之正義，而只為模糊影響之詞，雖廣為譬喻，曲引萬端，總不外前人糟粕之餘，即有可以節取之處，亦得半失半。後人若奉之以為規矩準繩，恐存濟世仁心者，終無裨實用焉耳！</p>

<h1>吞酸</h1>
<p>凡是吞酸，盡屬肝木曲直作酸也。河間主熱，東垣主寒，畢竟東垣言其因，河間言其化也。蓋寒則陽氣不舒，氣不舒則鬱而為熱，熱則酸矣。然亦有不因寒而酸者，盡是木氣鬱甚，薰蒸濕土而成也，或吞酸，或吐酸也。又有飲食太過，胃脘填塞，脾氣不運而酸者，是拂鬱之極，濕熱蒸變，如酒缸太熱則酸也。然總是木氣所致，若非木氣，即寒，即熱，即飽，即拂鬱，亦不酸，以酸為木氣也。曰：胃與肝、膽，其分野若何，而能令種種作酸？曰：少陽與陽明經相併而行，肝並於胃，故胃熱，則少陽相火與厥陰之火，皆由外相引而薰蒸也。至於七情之郁，輕者本氣太盛，侵犯土位，重者真水枯涸，腎氣奔逆，載水上浮，荊棘橫施，濕土渾濁，不由於寒，不由於熱，而吞吐皆酸，此又河間、東垣因熱因寒之說所不及也。又有一種飲食入胃，即成酸味，此必傷寒久瘧，胃陰未復，水穀入胃，增其濕熱而成酸者，當必以澹泊滋味，養其真陰，才可復也。</p>
<p>吞酸、吐酸，固有寒、熱之異，必竟寒證多而熱證少，若專泥作熱治，恐失手者反居大半也。傷寒、久瘧之後，真火無餘，胃陽己竭，重溫峻補，而慎其飲食，何酸之有？</p>
<p>全篇廣引曲喻，大概證為濕熱之證，而不可不用寒涼耳！寧不知中土受傷，與生陽之氣不能蒸運者居多耶！重用溫補，使根氣充實，則木自調達，而酸水不作矣。若必欲治標而不顧其本，則中滿、腹脹、泄瀉、水腫、噎隔等證，且見不旋踵而至矣。</p>

<h1>眩暈</h1>
<p>眩暈之病，悉屬肝、脾二經風火。風、火屬陽，陽主動，故目眩轉而頭暈，譬之火焰得風，則旋轉不已也。緣手少陽之支，從耳後出走目銳眥，而交於足少陽；足少陽之支，從跗上入大指爪甲，出三毛而交於足厥陰。經云：五臟六腑之精氣，皆上注於目而為之精。裹擷筋骨氣血之精，與脈併為目系，上屬於腦，後出項中。故邪中於項，因逢其身之虛，其入深，則隨目系以入於腦，入於腦則腦轉，腦轉則引目系急，目系急則目眩而轉矣。所謂邪者，總風寒濕熱內外之諸邪也，然則何為而屬於肝膽？蓋五臟六腑之精氣上注於目，是必循筋脈而才能上注。肝主筋，肝有風火則筋病，而上注者壅而不行。所謂目系者，因風火而澡，燥則收引而急，急則目眩，此一說也。又膽經之脈，起於目銳眥童子髎穴，終足厥陰厥陰當是竅陰之訛，故膽經風火，亦致掉眩。故經云：諸風掉眩，悉屬於木也。又有太陽之氣，標在於顛，入絡於腦。又膀胱穴自睛明出至陰於足外。故寒水之氣太過，凌逼真火，亦眩僕也。又有心下有支飲，其人苦眩冒，是格心火不行，而上衝頭目也。又有風寒相薄，食谷即眩，是內受濕飲之郁，而不足之微陽，與所郁之熱並，而上衝於頭目為眩也。晴明穴，屬陽明。又陽明支者，入目內眥，故眩也。又有陰虛之人，常若眩冒，目中見火如星，此胸膈必有痰，故發暈時，眼不可開，開即所見之物非倒即斜，則土虛之發也。其眩暈不能起，必見噁心嘔吐而心煩熱。又有腎陰不足，三陽之焰震耀於當前；中土虛衰，下逆之光上薄於顛頂。此則似乎不關肝、膽兩經，不知其始也，各有所因，其終也，不能不由其所從歷之途，而見端於極也，則仍謂之悉屬於木可也。</p>
<p>所列諸證，皆繫有余標病，即《內經》所云狗蒙招尤，目冥耳聾，過在足少陽、厥陰。似屬風火為災，苟非不足而治得其法，或清或解，可不終劑而愈者也，假使腎虛而心火上炎，肝虧而虛風內動，脾虛而水飲內停，心虛而浮陽不斂，肺失其治節而宗氣不能上注於耳目，衝任失其守而血液不克上濡於空竅，俱能為眩暈之病，須當究其因而補之、溫之；若不應，則當大溫、大補以救之。然須以漸而投，亦不能才飲數劑，而即可望其見效也。若作有餘，而以辛散降泄之品治之，未有不日醫日甚，而為入臟不治之證者。</p>
<p>咳嗽　脈宜浮軟，忌堅急弦小。</p>
<p>咳嗽之證屬肺經，然有本經之咳嗽，有各贓腑遷移之咳嗽。本經之咳嗽，外感者皮毛受之，玄府閉矣；玄府閉，則肺氣不舒，其在中之二十四竅，所以列行分布諸臟之氣者，亦不能行，於是肺滿而逆，戛戛然咳嗽矣。此肺實也。肺虛者，由脾土不能生化，津液不能上布，則肺失所養而陰虛；陰虛則肺熱，肺熱則上焰火扇，其竅時為翕張，亦多嗽矣。此肺虛也。獨有心火刑金，與水中之火，直奔西極，而銷鑠煎熬，則肺便危矣。緣肺為華蓋，以覆諸臟，其二十四空竅，虛如蜂窩下垂，無透竅，吸之則滿，呼之則虛，最喜清涼，不耐煩熱；今心、肝、脾、腎四臟之火勢上炎，則隨所吸之氣而入於竅中，肺不受熱，則戛戛然而嗽，甚至肺瓣乾枯，形如經霜荷葉，委頓零落而不能振舉，水精亦不能四布，五經亦不能並行，而成肺敗之證。總緣肺之竅中，只受得臟腑中固有之元氣，以運用乎一身，受不得一分邪氣耳！</p>
<p>初起者，金沸草散主之。年壯力盛，即久亦可用。如每月一二發，弱證之漸也，六君子湯以補土生金，六味丸以滋水養金。此攻補二法也。如咸哮、醋哮，勝金丸極妙，時嗽，嗽則涕淚出，一味瀉白散加黃芩、桔梗。寒嗽無痰，或即有痰，必是稀涎，少食，一味瀉白散加桔梗、薑、棗，甚則六君子加薑、棗。風嗽必絆牽有痰，金沸草散。自時嗽嗽則涕淚出以下六十字，楊本所無。</p>

<h2>金沸草散</h2>
<p>金沸草（二錢）　麻黃（去根節炒）　前胡　荊芥穗　黃芩（各一錢）　甘草（五分）　生薑（三片）　大棗（二枚）</p>

<h2>勝金丸</h2>
<p>三稜醋（炒）　莪朮（醋炒）　高良薑　人參　陳皮　黃連（酒炒各三錢）　右神麯和丸，梧子大。每服七十丸，空心白滾湯下。</p>
<p>觀《內經》飲入於胃，遊溢上歸之論，則知津液之通調於臟腑而化氣者，皆肺之治節為之也。又觀谷入於胃，傳之於肺之說，則知臟腑內外之血氣，亦肺之流溢布散也。夫五臟六腑內外之津液血氣，雖由胃腑水穀之所化，靡不藉肺氣以傳布，故肺位獨處其高，以行營衛陰陽也。咳雖肺病，而五臟六腑皆能致之，善治之者，治其五臟六腑，或補，或溫，或通，或塞，隨其因而調之，自然咳止肺寧，而其法得矣。若沾沾唯肺是求，譬猶長安在西而向東指，不其惑乎？又皮毛者，肺之合也。六氣外客，皮毛先受，而肺即為之不舒，於是咳作。是推驅其客感，使皮腠宣通於外，則肺臟自清寧於內，不勞餘力而咳止矣。設起手即用寒涼，致玄府閉塞，肺氣冰伏，氣化不和於外，神機不轉於內，傳而為癆瘵難起之證。此非病氣之害，乃醫者所作之孽也。至若所言肺虛，由於脾土不能生化，肺金失其所養，則是地天不交也；地天不交，則諸臟腑皆無所取給。斯時惟有重投溫補，使資生之本充足，庶幾仍可交濟，豈可云陰虛火炎，而再以涼降治之，至於土崩水敗而後已耶？又云：心火刑金，與水中之火直奔西極。夫君火炎亢，一劑承製，暑退而生化依然。若水中之火，乃雷龍之火也，惟有求其屬而從治之，則應手而愈；若行對待而直折之，則火愈熾而銷鑠熬煎之患不免矣。又云五臟之火沸騰，以至肺瓣乾枯，如經霜荷葉委頓零落。夫焦槁至此，垂死必矣，奚止為肺敗之證乎？若云最喜清涼，此說恐非確論。蓋肺雖為清虛之府，然必藉胃中陽氣溫養；若中焦不能如漚之蒸運，則上焦焉能如霧之通調？觀《內經》形寒飲冷則傷肺，與肺惡寒之說，自可知矣。苟執膚見以為是，而恣意寒涼，則胃陽日見其消乏，生機必至於蕩然，馴致癆瘵而不可救藥，皆由執偏見逞臆說之醫誤之也！</p>
<p>如年高筋骨作痛，氣喘有痰，腰痛，用熟地、山藥、當歸、白芍、杜仲、枸杞、黃耆、棗仁、麥冬、五味、甘草。喘盛，去黃耆。如年高痰喘，氣不歸原者，生脈散加熟地、山藥、當歸、枸杞、牛膝、菟絲等治之，此一條胡本不錄，採楊本補入。</p>

<h1>怔忡</h1>
<p>怔忡，心血少也。其源起於腎水不足，不能上升，以致心火不能下降。大劑歸脾湯，去木香，加麥冬、五味、枸杞、白芍，吞都氣丸。如怔忡而實，挾包絡一種有餘之火，兼痰者，則加生地、黃連、川貝之類清之。</p>
<p>怔忡證，雖緣心血不足，然亦有胃絡不能上通者，有脾脈不能入心者，有宗氣虛而虛里穴動者，有水氣凌心者，有奔豚上乘者。治法略同，惟水氣與奔豚有別耳！</p>

<h1>血證</h1>
<p>吐血世皆知火證，便以寒涼濕潤之劑投之，土死金衰，木勢轉熾，疾反劇矣。除是瘀血抑蓄，折土而奔注，與傷寒變熱，迫竅而出者，余俱當以大劑參、耆回其氣，氣回則血循經絡矣。待稍定，即以重料六味、左歸等飲，於水中養木，亦須加人參，使氣自陰生也。瘀血而吐，必先胸痛，四物湯加桃仁、大黃、丹皮、香附以行之，後用六君子湯加當歸以調之。傷寒失血，必驟湧出，然傷寒大抵從鼻來者多，來而即住者，不藥可望愈，一來不止者不治。其餘俱屬七情、飢飽、勞力等因，必見噁心，一味固元湯主之。</p>
<p>傷寒動血，苟邪因血解，自可勿藥有喜。若所出不暢，則邪仍不解，發表何疑？設驟然大出，藥不能止，則危證也，須重劑參、耆、薑、附以救其脫，或可保全，其餘吐血證，亦如衄血法治之可也。</p>
<p>倪漱山曰：七情內傷，脾胃先病，固元之後，即繼以補中益氣、歸脾等飲，寒涼斷不可用，若治以童便、秋石等，工之粗而庸甚者也。</p>

<h2>固元湯</h2>
<p>人參　黃耆（各五錢）　當歸　白芍（酒洗炒各三錢）　甘草（二錢炙）　煨姜（一大片）　大棗（二枚）</p>
<p>吐血一證，其所因表裡不同，虛實各異，審察少差，為害匪小，所謂毫釐之差，千里之謬者也。若醫人於此，不辨因證，死守古法，專尚寒涼直折，未有不延久而成癆瘵不治之證者。先生痛掃其習，專固元本，誠發前人所未發，後學當奉之以為典型。然而補既可用，溫豈不宜？虛而挾寒，併火衰脈微及豁大無根者，不妨配入薑、附，如畏其僣亢，佐之以熟地可也。</p>

<h1>消證　脈宜數大，忌虛小。</h1>
<p>三消之病，一原於心火熾炎：火甚於上，為膈膜之消；甚於中，為腸胃之消；甚於下，為膏液之消；甚於外，為肌肉之消。上甚不已，則消及於肺；中甚不已，則消及於脾；下甚不已，則消及於肝腎；外甚不已，則消及於筋骨。四臟皆消甚，則其心始自焚而死矣。然其病之始也，皆由不節嗜欲，不慎喜怒，膏粱煿炙，酒酪湩乳，濕熱之氣浸淫燔灼，郁成燥熱，氣不宜平。故其傳變之形，為飲水多而小便多，曰消渴，胃中津液乾枯，不能上榮舌本也；為善飢，多食而渴，小便數而消瘦，曰消中，胃中熱極，所入水穀隨火而化也；為渴而飲水不絕，腿消瘦而小便有脂液，曰腎消，是燥熱並及於胃底大小腸，故脂液凝濁，清陽與濁陰不能分疏也。三消之中，上、中可治，下消最難治。然飲一未至溲二，猶可治；如飲一溲二，不可治矣。又三消久而小便不臭，反作甘氣，在溺桶中湧沸，其病為重；更有浮在溺面，如豬脂油，濺在桶邊，如柏燭淚，此精不禁而真元竭矣。何以甘氣為重？大抵水在天地與人身，皆有鹽有甘，甘為生氣，鹽為死氣，小便本鹽而反甘，是生氣泄也，是脾氣下陷入於腎也，土剋水，故死也。</p>
<p>甘為生氣，鹽為死氣。此二言蓋欲為奇創之論，卻於物理，全未參核。夫五液之在人身，皆腎所主，故汗與涕、淚及痰，其味皆咸；其誕、唾與乳，悉淡而甘，以脾開竅於口，而乳乃胃中初釀之汁，所謂玄酒味方淡，可取以譬也，若小便乃三焦約膀胱之津液而下注，味獨加鹽，如海納百川，而水味更鹽，其理一也。若以鹽為死氣，則身中之汗、涕、淚、痰，皆為死液乎？非通論也。小便常鹽，今變為甘，則水已敗，而土味下泄矣。此先後天真氣已絕，而為克賊之證，不死奚為？末後二語，乃是正論。</p>
<p>趙養葵曰：人之水火得其平，氣血得其養，何消之有？其間調養失宜，水火偏勝，津液枯槁，以致龍雷之火上炎，熱煎既久，腸胃同消，五臟乾槁，令人四肢消瘦，精神倦怠。故治之之法，無分上、中、下，先治腎為急，惟六味、八味及加減八味，隨證而服，降其心火，滋其腎水，則渴自止矣。內有桂、附之辛熱，壯其少火，灶底加薪，枯籠蒸溽，禾穗得雨，生意維新。</p>
<p>論消證，專以心火熾盛，延而為上中下內外五臟之消，蓋舉《內經》心移熱於肺，傳為鬲消之一端而發，是但知熱之為病，而不知其心移寒於肺為肺消。《靈樞》論心、肺、肝、脾、腎脈微小皆為消。又五變篇及本氣篇，言五臟脆者與五臟柔弱者，皆善病消癉，易傷於邪。則知消之一證，屬虛寒者亦不少也。奈後人悉言其熱，而置虛寒於不講，所以患是病而不愈者比比。人能即《靈》、《素》之理而研窮之，於陰陽、虛實之間，細為分剖，其實與熱者，可用古人治法，其虛與寒者，為補、為溫，覺之於早而用藥得當，烏在其不能愈耶！趙氏以六味、八味，專主水火津液之源，誠為探本之論，然亦在治之於早，而大劑以進，或全料，或半料，再入參兩許，審其陰陽而用之，庶可漸臻其效也。</p>

<h1>弱證</h1>
<p>陰虛、陽虛者，此虛為勞，即今所謂怯弱證也。雖有五臟之別，然皆起於心脾，脈必數而有浮大、細小之別。浮大而數，陰虛甚也；細小而數，陰中之陽絕矣。此等證，必見咳嗽，或吐血，或遺精，或女子不月，或諸般勞傷而起，要當治之於始。婦人產後，最易成此證，慎之慎之！</p>
<p>細小而數，陰中之陽絕矣。此語非大有見識、大明脈理者，不能道。誠與仲景少陰篇中，脈細沉數，乃腎氣虛少，而君火虛陷之意符合。今之患怯弱者，得是脈居多。奈時師悉以為陰虛，而用寒涼降潤之品，未曾濟得半點腎水，而君火已日衰日熄矣。或遇有見之醫，欲投溫補以挽救，而猶造蜚語以誣謗之。如此設心，其不肖為何如也！</p>
<p>治弱之法，只一歸脾湯去木香，加麥冬、五味、白芍，吞六味丸，此外別無治法。有一種鬱而起者，即以加味歸脾，外再加丹皮、山梔。曾經庸醫用寒涼者，不可復服。又有一種陽虛者，脈不數，但緩而大不收，奄奄無力，夜臥不安，夢中嘗見鬼神不吉，醒來胸中戰跳不寧。或下見遺精，口中無味，飲食不思，略食即飽，此皆命門虛損，心火衰息，以致脾土不運，生氣不旺，大劑養榮湯加附子，吞八味丸。</p>
<p>陽虛一段，所論極確，盧張復起，不易斯言矣。</p>

<h1>霍亂　脈宜浮洪，忌微遲。</h1>
<p>有濕霍亂，腹痛而上吐下瀉者是也，藿香散主之。有乾霍亂，俗名斑痧，又名攪腸痧，不吐不瀉，面色青冷，腹中絞痛，乃是陰陽錯亂，最惡之候，而最易治。急刺委中部分出血，用明礬末調飲探吐，或用陰陽鹽湯，或用菜油探吐，兼用碗刮背上，或用苧麻根皮，蘸清菜油，刮奪命穴、督脈後頂、天庭等處，後服砂仁細末數口，連噯數十聲，即愈。如遍身有斑點見者，即用油紙捻火粹之，以爆響為度，或用蕎麥湯飲之，俱妙。然其要在急刺委中出血，則不死。</p>
<p>藿香散</p>
<p>藿香　蒼朮　陳皮（各八分）　半夏　茯苓（各一錢）　甘草（三分）　一本有厚朴，無甘草。</p>
<p>乾霍亂救急諸法，皆可用。近時以鹽擦背脊亦佳；用來復丹，以陰陽湯磨服更妙。</p>

<h1>傷風</h1>
<p>傷風發熱者，蘇葉飲主之。</p>
<p>蘇葉飲</p>
<p>蘇葉　前胡（各一錢）　乾葛（錢半）　半夏　黃芩　薄荷（各八分）　甘草（三分）　如咳者，合瀉白散各錢半。</p>
<p>今人以傷風是輕淺證，多忽略之，不問其所因與所兼之證，亦不察其脈之是虛是實，隨手發散，動徹寒涼，故因傷風而變成癆瘵者，往往有之。</p>

<h1>胃脘痛　脈宜浮滑，忌短澀。</h1>
<p>胃脘痛，即俗所謂心痛也。心不可痛，痛則立死。以心在胃脘之前，故誤指胃痛為心痛也。胃脘痛，有食、痰、死血、氣寒、火中、氣虛之別，方書載列甚明，無甚深微，獨有一種肝膽之火，移入於胃而熱，又肝藏血，血少則肝葉脹硬，不肯下垂，將葉抵胃，胃受肝抵，得食則滿，愈與肝相逼，隱隱而痛者，久之變成燥證而為隔證矣。又有一種胃中作酸，不覺其為酸，每進飲食，不敢多用，多用則竟日悶痛，直待食過，方得稍舒。此痛是胃中一味酸熱也，若得噯一口氣，亦覺少舒。然最難得者噯也，若噯得重，此自下轉上，必有一口食氣，或水或挾物是酸者；其下最難得泄氣，並且便硬。此皆少陽、厥陰二臟之氣所為也，久之亦防其變痞隔、中滿等證。又有一種胃脘痛，是陰虛證將成，須認明白，二陽之病發心脾，此類可通。</p>
<p>食痛者，胸膈按之痛甚，勺水不入，兼大便閉，聞穀氣則欲吐，用二陳湯，或平胃散，加桔梗、枳實主之。痰痛者，亦不思食，口即欲食而不能食，大便不閉，二陳湯加枳殼、黃芩、海石主之，死血痛者，胸膈刺痛，而食可進，四物湯加大黃、桃仁、紅花主之。胃脘虛痛者，得食痛止，食多又痛，食過又痛，理中湯主之。此皆易明也。獨有一種肝血燥痛，人多不察，亦不思食，交陰分，外按之不熱，病人自言熱、口渴者是也，逍遙散加生地、丹皮、炒山梔，甚者六味丸加柴胡、歸、芍主之。又有蟲痛者，亦不食，然痛必時發時止，痛則牽引手臂或肩背上，俱如穿透不可當，必唇紅，面上有白點是也，痛時不欲食，痛才止即可食，實者化蟲丸主之，虛者六味丸加川黃連、胡黃連、蘆薈、青黛、川楝子，隨證加減治之。</p>

<h1>化蟲丸</h1>
<p>蕪荑　鶴蝨　雷丸　蘆薈　胡黃連　莪朮　京三稜　史君子（各三錢）　神麯糊為丸。</p>
<p>心胃之痛，《內經》有五臟厥氣之所客，三陰三陽經脈之所侵，以及五運之郁發，皆能致其病，究其源，總屬陰寒不足之證也。蓋心為陽中之太陽，胃陽乃一身之取給，厥氣客之，當急於溫散，而無使傷其氣化。又心為君主而主脈，胃為經脈資生之本，故凡經脈之相干，當急和調其陰陽血氣，而使之各循其度數，運氣之郁發，由於不及之年，政令遏而不伸，及得展布而未暢，不免疾患之生。惟有順其機而建其神，不可直折也。且人身之所當重者，不過氣化神機與經脈之流行而已，苟能分析其故，則於痰、食、血、氣等之九種，與他傍雜之證，可不勞辨別，到手自明矣，至於苦寒破泄之劑，非稟賦壯盛而證屬實熱者，慎勿輕試！</p>

<h1>癇證</h1>
<p>癇證種類雖多，然其原總屬於厥陰心包絡火病也。大概宜以清心散主之，但要久服則有效耳！</p>
<p>清心散</p>
<p>青黛　川黃連　生地黃　赤芍藥　殭蠶　木通　辰砂（飛淨研）　琥珀（另研各等分）</p>
<p>癇證陰多陽少，虛多實少，法當溫補而寧神鎮心，佐以消痰順氣，再加以灸法，漸可見效。此方乃治火盛痰實者，若以為癇證總括之品，恐非確論。</p>

<h1>婦人胎前</h1>
<p>凡受孕二三月內，必嘔吐噁心，此月水不通，陽明壅盛，故不安食。但此是始膏始凝始衃之時，驟然壅盛故耳！迨四五月，則血漸蔭胎，兒形體成，便具五行生剋循環之理，血有所歸而不壅盛矣。或曰：血壅盛，何獨於胃有病？曰：胃為多氣多血之海，五臟之母也，女子應有是生，應有是化，今不行而成孕，驟然不化，陽明氣血俱盛，遂有是上僣之勢，久之自平，不足慮也。然有微甚，微者飲食調理，甚者六君子湯加砂仁、生薑以和之。或曰：半夏損胎可信乎？曰：獨食半夏一味，雖非胎亦能損人，若與參、術同用，但著開胃健脾之功耳！曰：思食何為？曰：胃氣盛則思食，血壅則氣逆，氣逆則食入反出也。或女子性氣褊急者，於六君子湯中少佐黃芩以清火，消息用之，調治胎前嘔吐，無出此方，如原有胃脘痛，而此時夾發，加丹皮、山梔。如發熱，不必加退熱藥，只以此方調之。</p>
<p>胎前下血，名曰漏胎，氣不攝血也，多服補中益氣湯。其惱怒傷肝，肝木賊土，血不能藏，致成漏胎者，加味逍遙散加生地。</p>
<p>胎前不安，血不養胎也，四物湯去川芎，即用亦不過五分，加白朮、杜仲。有肝旺而動者，必痛無定處，歸、芍、生地、黃芩、白朮、甘草。如氣虛者，必怠惰嗜臥，脈必豁大而緩，補中益氣湯加酒炒白芍。</p>
<p>墮胎，即俗所謂小產也。總屬氣虛、血虛及縱欲、嗜酒而來。醫家動云：熱則流動，胎火逼迫。殊不知氣血調和，胎火何由而生？豈胎不屬母身，別有一種耶？寒涼雜投，利氣行血，卒致隕墮，豈非醫害之乎？既墮之後，猶不禁忌，至復有娠，前以是月墮，後復及期而來矣。不申補救，止作火治，以致三胎、四胎，逢期必墮，烏能有濟？余每於未墮之前，大料黃耆丸預補之；將墮之際，大料補中益氣湯加酒炒白芍，勿論其脈，勿論其證，勿論其時，一概峻補中宮母氣，萬無一失。即先賢有一經配一月，以補其經者，是亦昧於陰陽之理，不足信也。</p>
<p>此條誠不磨之論，專門產科，恐未能明悉此義。蓋由祖父相傳，祗此印板治法，未嘗留心古學，而講求夫通變化裁之活用，執定寒涼為安胎之要藥，婦女受其害者不少。重耳不重目者，當三復斯言！</p>
<p>子腫、子懸、子嗽、子瀉、小便不通，俱當用補中益氣湯。有因胎火盛而致此數種病者，用四物湯去川芎，加黃芩、白朮、茯苓、甘草以和之，獨子瀉挾火，宜四君子湯加黃芩、砂仁。</p>
<p>胎前傷寒、瘧、痢，悉以固胎為主。傷寒依平時傷寒治，自不損胎，但當倍用歸、芍耳！或當用參，須平時預先料理。獨前胡湯與半夏、白芷不可用，若小柴胡有人參者，即用半夏，亦不妨矣。瘧疾亦與平時不甚異，但清中驅瘧飲去蒼朮、山楂、枳實，余俱如法，大抵黃芩為胎前瘧中要藥，總當視病人之盛衰而消息之。</p>
<p>胎前諸方論，皆切近正理，儘可取法。惟傷寒、瘧疾治法，雖不異於平時，然小柴胡、清中驅瘧等劑，亦須因證審用。</p>

<h1>婦人產後</h1>
<p>臨盆之時，專賴氣血旺足，然後能生。此時惟有多用參、耆、歸、桂，甘溫重補，兒信一下，頻頻服之，自無橫生、逆產、胎衣不下之病矣。有不耐藥氣者，獨參湯妙。服法：於未產下時，用芎、歸、參、耆濃煎飲之，自然緊痛易產矣。兒下後，即用前藥加肉桂一錢煎服，自無血塊痛之病矣。</p>
<p>庸陋產科，每言產後不宜服參　恐將惡露補定。世人奉為至言，家喻戶習牢不可破，誠可為扼腕嘆息者也，更可怪者，竹林寺僧，以削髮披緇之輩，而從事婦女產科一門，已違如來大戒；一到病家，更有各樣醜態，入中人之室，則傍若無人，登貴人之堂，則趨奉盡禮，開口即掃前醫用補之誤，而投以巴霜丸子。不知產後大虛，積漸溫補，機候未能即到，不無身熱煩滿，倘再得數劑，自爾渙然以解。無如病家聾瞶，急於求愈，信任髠徒，重費抬來，惑彼狂言，甘心信服。患者日進補藥，未能見效，巴丸到腹，便覺腸中鳴動，即欲大便，便後，胸腹頓覺寬爽神清，竟認之為靈丹妙藥矣。由是而彼得以肆其鹵莽之說，目高氣楊，迅手撮數味消削之藥，大索其酬而去。咸以為得遇良醫，一匕見效，而不曉其真元受傷，病根仍在，不逾一日，而前證復作，且加泄瀉、神昏矣。再去奔請，彼髠狡猾，託言應請他出，或言本地請者極多，不得分身兩地，竟拒而不來。復請前醫，前醫亦束手難於下藥，往往致於不起。嗟嗟！杭城習俗，大抵以耳為目，好聽狡飾之言，不好聽真實之語。故以直道行實學之醫，未有不為時所棄，而彼髠者流，害人累累，猶奉若盧扁而終於不悟，又可為三嘆者也！</p>
<p>產後血暈，用醋炭熏鼻法，好老酒和童便服之，不可放倒。如氣血脫而暈者，必唇口、手足厥冷，無脈。此時生死，間不容髮，當急以大劑參附回其陽。如認作血暈，而以前法治之，則斃矣。</p>
<p>產後發熱，乃氣血大虧也。即有見識者，亦必曰：發散固不可，且以輕劑疏通之。此一句害人不淺。總之，脈必浮數，與外感無辨，一時不敢驟補也。殊不知產後發熱，我不管其是邪非邪，有脈無脈，一味八珍、十全峻補之。有邪自然汗解，無邪自然熱退矣。楊潛村曰：產後亦有食物太早，氣弱不能運而發熱者，必兼噁心、飽悶，治宜健運為主。又有乳結不通作熱者，治宜通乳。若外感發熱，必兼頭痛、拘急等證，脈必浮數有力，補中益氣加芎、蘇熱服，補以散之，切忌發汗。</p>
<p>按產後固然氣血多虛，然稟氣大旺者，全然不見虛狀，即或身體虛弱，而所犯者確是實證，斯皆不可一例而論也。張景岳全書云：嘗讀丹溪書，謂產後當大補氣血，即有雜證，以末治之。一切病多是血虛，皆不可發表。此其意謂血氣隨胎而去，必屬大虛，故無論諸證，皆當以大補為先，其他皆屬可緩。余於初年佩服其說，及執而用之，則每為所困，經歷數次，始悟其言雖有理，而未免言之過也。蓋產後氣血俱去，誠多虛證，然有虛者，有不虛者，有全實者，凡此三者，但當隨證隨人，辨其虛實，以常法治療，不得執有成心，概行大補，以致助邪。此辨之不可不真也。景岳現身說法，一片婆心，有益後人不淺。鼓峰所謂不管是邪非邪，有脈無脈，一味八珍、十全峻補之說，屬一偏之見也。學人苟能參觀而分別用之，悉因其人其證，而或清或補，各得其宜，庶幾可以兩全，而無偏失之患哉！</p>
<p>瘀血痛不發熱者，以生地酒洗三錢，當歸二錢，桃仁去皮尖錢半，白朮酒炒，牛膝酒洗微炒，青皮、丹皮各一錢，川芎八分，與服，二三劑自愈。愈後即以八珍湯調之。如瘀血痛而發熱者，四物湯加桃仁、紅花、丹皮足矣。然俟腹痛、口渴一退，亦以八珍湯與之，瘀血發熱，腹必痛，口必微渴。</p>
<p>余嘗治一潘姓婦，產後瘀痛，產科用行瘀化滯藥者，二十餘日，瘀全不下，其腹脹硬，晝夜發熱，飲食不入，唇焦舌裂，目睛赤而不和，脈結澀而似無根，呻吟叫苦，無有寧晷。諸醫束手，其父延余診視。余曰：觀其脈證，大勢已危矣。論瘀血蓄積，固當用逐，但產後氣血兩虧，陽機不化，雖用硝、黃，不能推動，惟有重劑溫補一法，尚可救全，其他則非余所知也。其父與夫，悉首肯求救。乃以人參三錢，附子、炮姜各二錢，肉桂錢半，黃耆、於朮各一兩，歸身五錢，炙甘草一錢，定方命服。服竟，其婦連聲號叫，一茶頃，小腹作響，下紫黑血塊，如碗大者三四，杯大者五六；又一茶頃，瘀血幾滿床蓆，而人昏厥矣，急以二煎灌之，漸漸甦醒，身汗如雨。更配一劑，夜分服之，次日遂安。</p>
<p>產後泄瀉，斷不可利水。如有此等證，一味補中益氣湯加白芍。如發熱而渴，乃陰竭也，六味丸，另煎六君子湯，或人參湯下之，</p>
<p>產後不大便，有至二十餘日者，不足為患。然產婦急於便，必多努力，往往成玉門不閉，子宮下墜之病。治之貴早，一味用八珍湯加桃仁、杏仁各二錢，多則二三劑，自下矣。</p>
<p>子宮下墜，乃勞力所傷也，補中益氣湯加白芍，倍用參、耆、白朮。如下墜而痛，大劑歸脾湯加白芍。如因惱怒下墜而痛，此驟動肝火所致，歸脾湯加丹皮、山梔，然當治之於早，如子宮乾枯，不能升矣。玉門不閉，治同。</p>
<p>產後感風，率多成痓者，氣血虛故也。剛痓由血虛，大劑四物湯，倍用歸、地，加鉤藤鉤、軟柴胡。柔痓由氣虛，補中益氣湯加鉤藤鉤、軟柴胡。如主去風燥血之劑，則筋攣而成痙矣。無汗為剛痓，有汗為柔痓。</p>
<p>剛柔二痓，作風燥治者，真是不明理庸醫。然用四物及補中益氣二方，又配軟柴胡，輕者可以取效，若劇者，非大溫補不可，遲亦不效。</p>
<p>產後咳嗽，弱證之漸也，六味飲加人參主之。如兼發熱，歸脾湯去木香，加白芍、麥冬、五味，吞六味丸。然當於初起時，即用此藥，或有可救者。如經發散，用過涼藥，不效。</p>
<p>產後咳嗽，此二方雖穩當，若稍兼虛寒，更當重劑溫補，若僅用此二方，不知變換，亦恐成弱。</p>

<h1>婦女帶下</h1>
<p>帶下是脾土虧損，不能攝水也。六君子湯加炮姜以實之，甚者補中益氣湯加白芍、半夏，久服自除。如脾土濕熱下流者，六君子湯加柴胡、黃芩、丹皮、白芍。如惱怒傷肝者，加味逍遙散加人參。虧損者，起於勞力，面色痿黃，不思飲食，脈必大而無力且遲，腰痠腳軟。濕熱者，起於飲食不節，或多嗜酒，帶色必兼黃濁而濃，脈必大而有力，兼見腰痠。惱怒者，以前諸證俱無，但見面色常帶紅，胸中常悶熱，脈必弦數而有力。</p>
<p>帶證皆由中土虧損，帶脈不能收引，以致十二經脈因而內陷也。重劑溫補，頻頻服去，一月少愈，百日可除。</p>

<h1>婦女淋證</h1>
<p>淋證，婦女俱屬肝經濕火，或小腸移熱，一味逍遙散加六味。若見發熱，便屬陰虛，疏肝益腎湯。</p>

<h1>小兒痘瘡</h1>
<p>發熱時，先看有痘情，然後用藥。何謂痘情？必先見耳冷、骪冷、腳冷，眼如含水，懶於言笑是也。斯時投以加味葛根湯，服至見點。</p>
<p>葛根　青皮　升麻　桔梗　前胡　山楂　木通　荊芥　撫芎　燈芯　甘草</p>
<p>三日後用紅花湯。</p>
<p>紅花　蟬退　升麻　桔梗　前胡　山楂　木通　荊芥　撫芎　燈芯　甘草</p>
<p>如服加味葛根湯後，而不見點，是毒盛也，其證必重。若熱甚，氣悶，譫語，腰無力，冬月即於葛根湯加麻黃一錢，夏月加石膏一錢，甚者加至二錢。如冬月熱甚，過四五日，重證已見，而舌灰白色者，亦須以石膏合麻黃用之。夏月，蘇葉、薄荷，俱可進退用之。若見點如糠粞齊布，熱甚口臭，此脾經痘也，死不治。</p>
<p>如見點三日，痘已齊而熱不退，此是毒盛，危候見矣。須以涼藥涼血，紅花湯去升麻、撫芎、山楂，加生地、丹皮與之。然此是乾紅候，百不一活。</p>
<p>六日已過，痘腳已齊，漿勢欲行矣。服桔梗湯。</p>
<p>桔梗　前胡　紅花　荊芥　蟬退　殭蠶　牛蒡子　燈芯　通草</p>
<p>又三日，發熱起頂，濃漿至矣。當和其毒。</p>
<p>丹皮　丹參　天花粉　連翹　荊芥　木通　殭蠶</p>
<p>其有變白色而發癢者，氣血虧也，五味異功散加白芍，以救其元氣，虛甚者，加人參、白朮五六錢，大劑用之，自然有效。或泥於庸醫發未盡而禁補，或反咎發表欠透，以致今日內陷者，此殺人之論，不可信也，信手大補，不一二劑，必然窠下漿來，生氣勃然矣。即有撏掐破者，亦自循皮爛臭而回生。</p>
<p>五味異功散</p>
<p>人參　白朮　茯苓　甘草　陳皮</p>
<p>有一種變黑者，乃毒盛變黑歸腎，火盛水反制之，從其化也，非真有毒能歸腎經也。要在放點時，必然部位不妙，或根窠腳地，有不如式，醫者須先決到某日變黑歸腎而死。</p>
<p>又有一種灰白色者，亦毒盛也，然不癢，須以當歸黃連湯與之。</p>
<p>當歸　黃連　生地黃　金銀花　天花粉　牛蒡子　荊芥　殭蠶　丹皮　燈草</p>
<p>自行起發，至頂已起矣。至第六日，當有回意，用保元湯。</p>
<p>人參　黃耆　甘草</p>
<p>至七八日，竟用加味異功散加白朮。</p>
<p>人參　黃耆　白芍　茯苓　陳皮　甘草　煨姜　大棗</p>
<p>如漿有不起，頂不充滿而發癢，窠殼脫落如梅花片，下發瀉者，虛甚也。五味異功散加黃耆、木香，甚者附子、肉桂、吳茱萸俱當用。</p>
<p>見點至回，十二日矣。斯時惟恐摧折之餘，虛寒必甚，醫者須謹慎將養之，切莫以為結痂在邇，不足慮也。一味加味異功散，直服至脫痂而色紅，方以飲食補之。</p>
<p>初起時，發熱一二日，便抽搐、驚叫、不省人事、眼直，或閃爍無定，或舞唇、弄舌、魚口、角弓等證，此是心經痘也。不必慌忙，但用加味葛根湯。當此之時，痘已隱隱在皮膚間矣，細看自然吉順。凡心經痘決稀，自起至收，只要順序調理，決無變證。肺經痘，見點熱久，或少見咳嗽，點數不多，不過百餘粒，吉多凶少，竟可不藥，不過發熱時，用幾劑表藥而已。肝經痘，吉凶相半，然要論歲氣，有歲氣合者，其痘必吉居八九，凶者或有一二。吉者發熱、見點、起漿、結痂，按日而來。其有傳變者，皆屬肝經。古云肝經多變是也。肝經痘不大不小，顆數調勻。脾經痘最惡，發熱時必如火烙，放點時必如芝麻，五六日定胃爛口臭；五六日內，芝麻點內，忽然發斑，九日必死矣。腎經痘，發熱時，昏沉壯熱，四五日尚不見點，忽然於腰下發斑，十二日必死矣。</p>
<p>初放點，必要在兩頰間鼻上，然後看太陽部位俱有，便是吉痘。歌曰：繞唇帶頰方為吉，額角眉心總是凶。有面部未見，而額下一片簇簇而來，凶痘也，不治。有面部未見，而胸脯簇簇一片，及背上簇簇一搭，先見者，俱不祥。面部一見，四肢必朗朗而來。總之順不嫌多，逆怕一點。即彌月小兒，緊密亦何妨，但要調護得法而已，樹小花多，此俗論也。</p>
<p>如兒小甚，不能服藥，不可強與，乳母服藥以過其氣可也。此論道理如是，若論小兒初生，不過一點精血凝聚耳！初無飲食之毒，寒暑風露之感，根於天者吉，勿藥可也。但得乳母謹慎，切戒油膩煿炙辛辣酒醋　等物，勿犯汙穢不潔之氣，足矣。時取茵陳燒之，懸酒噴胡荽於床間，以發其氣，兒自安穩也。如以數日內之嬰兒，亦如童子，按方投藥，痘雖吉而凶矣。以其臟腑脆薄，未得水穀之氣也。如根於天者凶，即藥亦何效哉！</p>
<p>痘初發時，要他瀉；瀉一通，則痘起發幾分。何也？毒傳腑也，是里傳表也。點一有，即禁瀉。如不止，而痘色漸漸白，面色晃晃而白，急以六君子湯加煨姜救之，不可泥於毒未盡而猶多畏忌也，如果毒甚而瀉，則嬰兒必捏扤不安，口渴唇紅，面色壅盛，氣粗。如點不齊，不可用寒涼，只發表足矣，如齊而猶瀉，雖黃連亦所必用，即於葛根湯加黃連七分可也。</p>
<p>肚痛一證，最惡候也。未見點而痛，葛根湯加麻黃亦可。有痛而身彎不能立者，腎敗矣，不治。見點肚痛，亦須發之，痘色不變者可治。起頂發漿時而痛是虛，五味異功散加白芍。</p>
<p>寒戰、咬牙，初起者，毒盛也。然咬牙者多，而寒戰者少，起漿之後，寒戰、咬牙者，悉屬虛，黃耆白朮散，甚者加煨薑、桂、附。</p>

<h1>小兒痧證</h1>
<p>痧證即疹子，又姓瘄子。《準繩》云：痧證初起，用升麻葛根湯合瀉白散，其間宜加桔梗、牛蒡子、荊芥，連翹、薄荷等，尤為至當。次日，標形顴鼻見點多者最吉，以其清陽喜上升也。第二日，葛根可去，惡其開肌腠而耗津液也。若熱甚勢重，前湯必合白虎，芩、粉之類，斷不可少。若服藥後而熱愈甚者，正毒達之故也，得大汗而毒自解矣。若略見標而不見形者，此為痧毒不透，後必防疳。宜從養陰治，甘露飲主之，必多服乃效，亦從汗解，乃屢驗者。</p>
<p>又有一等小兒乳疹，一口可解，不必循三日九朝之說。此以清火為主，兼解可也。緣小兒稟質尚弱，神氣有限，如遇粗工，不審虛實，發散過多，常致正氣虛脫，而不可救者多矣。</p>
<p>有痧毒痰喘甚者，雖用石膏、黃連，如水淋石，要知疹毒痰火壅結上焦之故。宜用栝蔞霜、枳殼、花粉、金沸草等，消痰清火。如夾氣虛者，加人參立應。如痰上壅盛者，可用牛黃珍珠散。</p>
<p>痧證腹痛者，乃毒鬱於陽明故也。宜服升麻、石膏、黃連之類。若毒鬱於太陽，以苦梗開之。</p>
<p>痧證多泄瀉，慎勿止澀，惟用升麻、葛根、黃連、甘草，則泄瀉自止。</p>
<p>痧家不忌瀉，瀉則陽明之邪熱得解，是亦表裡分消之義也。</p>
<p>痧後泄瀉及便膿血，皆由熱邪內陷故也。大忌止澀，惟宜升散，仍用升麻乾葛湯加黃連、扁豆。若便膿血，加滑石必愈。</p>
<p>痧證不宜依證施治，惟當治本。本者，手太陰、足陽明兩經之邪熱也。解其邪熱，則諸證自退矣。</p>
<p>升麻葛根湯</p>
<p>升麻　葛根　白芍　甘草</p>
<p>白虎湯</p>
<p>石膏　知母　甘草　粳米</p>
<p>甘露飲</p>
<p>熟地　生地　天門冬　麥門冬　石斛　黃芩　枇杷葉　甘草　積殼　茵陳</p>
<p>吃乳小兒，尚未出痘，有患疹者，名曰奶疹，不可與治正疹同法，今之兒醫，皆不諳此，往往誤人。辛巳六月，疹證盛行，沿門比戶，壞者累累。余家患此者，大小有七八人。次兒未周歲，發熱，咳嗽，兒醫亦作疹治，辛涼透發。凡三四日，皮腠間若有若無，遂認為皮里癮悶證也，危言相恐，更用大涼大發，且禁吃乳。余亦不經意，以事出門，抵暮方歸，見其啼聲不出，面青囟陷，四肢與鼻尖俱冷。忙捧至懷細視之，頭向余胸，似覓乳狀，視其脈極微，息止二三至。急呼與乳，盡其飽吮，面色稍和，肢體微溫，囟亦略起，但哭竟無聲，少頃大瀉如水，急投附子理中湯，始得安臥，次早熱退，而疹亦不見矣。連服溫補半月，啼聲始出。兒醫之子，所患略同，余以此告之，勉其速進參、附，渠惑於家學，不信余言，反以為荒唐之說。其兒竟以寒涼致死。嗟乎！不但誤人，兼且誤己，執迷不悟，始終一轍，甚為憫之！常謂為醫者，當虛心博覽，事事討一分曉，然後出而應世，致誤者庶幾少耳！</p>

<h1>小兒吐瀉</h1>
<p>小兒吐瀉，除是明知停食受寒，方可消導，如枳朮、二陳、平胃之類，其餘吐瀉，乃肝木乘土而來，急以七味白朮散安之，萬無失一。暑月尤宜補正，吐加半夏七分，薑汁製；瀉加白芍一錢，酒洗炒。</p>
<p>七味白朮散</p>
<p>人參　白朮　茯苓　甘草　木香（三分）　藿香（八分）　乾葛（八分）　煨姜引。</p>
<p>兒醫於小兒吐瀉，不審病因，總以驚風痰食為混詞，專以發散消克為治法，馴致成慢脾風者不少。能遵錢氏，專主七味白朮散，赤子之無辜而枉死者，可少免矣。</p>

<h1>小兒驚證</h1>
<p>驚證無論輕重，一味五味異功散，加軟柴胡、鉤藤鉤。即為外物所驚，亦是木氣虛而受，切勿投抱龍、鎮驚等丸。</p>
<p>前人皆云肝無補法，惟涼惟瀉。先生獨云木氣虛，而用異功散，勿用鎮墜之品，高出前一籌。</p>

<h1>小兒疳證</h1>
<p>疳病無論五疳虛實，一味五味異功散加黃連、木香，萬不失一。若頭大、肚大、筋青、四肢獨細，即黃連、木香亦不可用，一味參苓白朮散主之。如疳而有蟲，大便必似水而焦赤無渣滓者是也。甚至經年累月，並用五味異功散一料，加蝦蟆一枚，酒炙，川黃連五錢，薑汁拌炒。</p>
<p>參苓白朮散</p>
<p>人參　白朮（各五錢）　茯苓　薏米仁　扁豆　芡實　山藥　川黃連（各三錢）　桔梗　砂仁　甘草（炙各五錢）</p>
<p>小兒疳病，即大人之虛勞。所列方論，補中兼運，甚當。若虛寒者，亦須溫補。</p>

<h1>傷寒捷論</h1>

<h2>表證</h2>
<p>脈浮，發熱，惡寒，頭痛，項強，身痛，四肢拘急，面慘灑淅，喘與咳嗽，目舌和，口不渴，大小便如常，皆屬表證。必待表解，方可攻裡。若誤下之，必為痞，為結胸，為懊憹矣。</p>

<h2>肌肉</h2>
<p>脈尺寸俱長，目痛，鼻乾，唇焦，漱水不欲咽，俱邪在陽明肌肉經也，勿將臟腑混治。</p>

<h2>半表半裡</h2>
<p>脈不浮不沉，頭汗出，盜汗，耳聾，舌滑，脅痛，嘔吐，口苦，目眩，往來寒熱，默默不欲飲食，未經下過，胸中脹滿，皆半表半裡證也。此經有三禁，惟小柴胡加減和解，誤用他藥，則為壞病矣。</p>

<h2>傳經里證</h2>
<p>脈沉而有力，自汗，潮熱，惡熱，腹痛，下痢腸垢，下利清黃水，小腹滿而硬者，硬而痛者，大便秘結，小便多者，轉失氣，咽乾齒燥，目不明，不得眠，譫語狂斑，頭痛、發熱俱止，手足心並腋下有汗出，舌胎黃黑，及津液枯槁。已上不拘日數多少，皆傳裡證也。下之無疑，若誤汗之，則為狂，為斑爛矣。</p>

<h2>直中里證</h2>
<p>脈沉細無力，乾嘔，不渴，嘔吐清涎，背惡寒，倦臥多眠，囊縮，唇甲青，身痛如被杖，四肢拘急，不發熱，四肢厥冷過肘膝，不頭痛、發熱、惡寒、身痛，綿綿腹痛，下利清穀，小便清長色白，皆直中裡寒證也，溫之無疑。</p>

<h2>表裡俱見</h2>
<p>頭痛，發熱，表證，下利清穀，里證。腹痛，口渴甚，里證，脈浮，表證，大便閉，里證；倘微惡寒，表證未解。此皆表裡俱見證也。或先解表，或先救里，要在活法以治之。</p>
<p>此數條，是為後學開一辨證捷法。第不從仲景論中參出，而於節六菴書脫化，於形層氣化陰陽標本之旨，終不能無毫釐之差。</p>

<h1>跋</h1>
<p>鼓峰醫術，自是高手，四明人傳其起痼扶衰，懸決生死日時，多奇驗。及觀其自述醫案中，所載語溪呂氏婦產後驚悸，診脈而知其幼時有齒病，致大驚之事，詢之果然。人問何以知此？答曰：脈法當如是耳！不精於象數鈐法之學不能也。我儀其人必旁通象數之學，而參用其術，以決嫌疑，別可否治，令人震駭，其言若神明，要之不盡自醫經中來。所著《心法》一書，學人多遵用之，其中方論往往偏尊於一說。夫疾之表裡寒熱，判分兩途，祗說一邊，遺失一邊，緣是下筆不能周到耳！想其學識未必偏著如此，但人辨脈不明，審證不確，依樣畫葫蘆，而嘗試其法，恐不能不致失手之患。念菴奮筆糾繩，補偏救弊，為學人指示迷津，一準上古經論，謂為後輩之良導師也可，即謂為先輩之諍友也亦可。</p>
<p><u>乾隆丙戌正月辛未朔後九日庚辰錢江王琦</u></p>
