<header data-type="book">
<h1>重樓玉鑰續編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>方成培</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1838">公元1838年</data></dd></div>
</dl>
</header>

<h1>跋</h1>
<p>丁巳之秋九月，念六餘妾洪氏，忽然喉症，乍起白大若錢，寒熱交作，手足如冰，次早延醫，服牛蒡、甘桔而未解也，再服病益進，別延友人，紫正地黃湯。又延友人，羌活大黃湯。月至朔而命殂矣。或曰：此惡症也，古無治法。或曰：此真證也，百不一生。予悲之，天之酷人太甚也。詰朝樞扶叔祖慰我，予具以告。叔祖曰：燥也，死於命，非死於病也。子悲何補哉？夫醫者，理也，風勝濕，火就燥，燥虛火而非實火也。子喻五行者也，反生反克，知乎？無水不生非土不養，水燥則涸而木死，木燥則枯而火死，火燥則烈而土死，土燥則崩而金死，金燥則頑而水死，生機熄矣。其見症也，不亦宜乎？經曰：燥以潤之，不有潤也，不死，何待？時志之，不敢忘。越數日，小女未周歲而症作，即延治，七日而滿口之白腐頓消，成敗易勢，得失相反，始信斯症之不惡也，治有治法也，證無真假也，一生百生也。我叔祖之言不爽也。今壬戌仲冬，集稿成篋，授予讀之，竟其委，清其源，不覺言之娓娓，道之津津，此非一朝一夕之故，其所由來漸矣。其論確，其見真，其功深，其心苦。其論確，故要言不煩；其見真，故取效甚速；其功深，其心苦，則叔祖之篤信好學也。世之咄咄以為惡症者，不且共登衽席而享壽域乎哉！當時，同證三人，二俱不可，死者竟六七，日而偕亡，惟小女未周歲，而獨存，籲！不遇樞扶叔祖，命也。居今思昔，為之盡然，爰跋於後後深感一線之生云爾。</p>
<p><u>時嘉慶七年歲在壬戌孟冬月上浣雙橋蓮湖居士謹識</u></p>

<h1>白纏喉敘</h1>
<p>鄭子若溪，聰明好學士也，潛心於醫學有年矣。其於喉證尤究心焉，蓋喉科乃其家傳，然其書特言實症而虛症未之及也。至於白腐一證，近日更多，醫者罔察，自作聰明，不論色脈，每作實證治之，而夭枉者，不可勝數。若溪心竊傷之，自出手眼，因辯證著方，以闢其謬，而病是證者，咸登壽域。書成持以示予，予讀之，不覺躍然因謂之曰：善哉！子能為白腐證闢一坦道，而以虛燥立方，子之功德遠矣。蓋白者，肺色也，腐者腎臭也，原非病也，形而出之外則病矣，白加腐則肺燥矣，腐且白則腎枯矣。既燥且枯，子母俱敗不有以潤之，補之而猶曰紫正敗毒，則將持雌失雄，棄陰負陽，其不至於載胥及溺不止矣，吾子之論是也。藏之名山，曷若傳之後世？好生之，德與人同之不亦善乎！因書之以，弁其簡端。</p>
<p><u>七十有六老人莘田吳守先紹中氏拜撰</u></p>

<h1>自敘</h1>
<p>先高祖赤山公（瀚）七代祖也。性好堪輿，精研軒岐，淵源已久，是故知醫代不乏人，然未嘗輕言也。先大父認齊公當賈旴豐時，會閩人黃明生先生，異授喉科，治驗如神，活人甚多，心竊慕焉。因思利濟於人是科為最，計與商之，而先生不可，其時叔祖仰山公向認齊公曰：窺先生之秘，非禮莫能為也。於是具幣帛束金百兩，負笈於先生之門。先生曰：予非吝而不傳，實有因耳。昔授受時，曾立不傳之誓，違之則主乏嗣，既誡於前，何可背於後耶？仰山公曰：今懇先生之秘者，實存濟人之念耳，如能廣以濟人即先生自濟也，先生何樂而不為焉？請熟籌之。如是俯可出其書以授，乃囑曰：珍之。仰山公曰：唯唯。認齊公旋里，命父伯輩咸究心焉，凡患喉疾實症者依法療之，無不神效，而先生年近六旬，果無嗣而歿。仰山公攜遺像一幀而歸，供奉於書室中，由是數十年來，活人甚廣。後被僕人私竊其半，貪利而售之於外，遂至更相傳鈔。家有其本邇來業是科者，皆執此書為圭臬焉。瀚雖不敏，未冠時，性近醫及地理從績北曹素峰先生遊，至於醫學，過庭之訓，精醫諸友，聆益良多，於是遍歷楚豫江浙會稽蘇揚間，獲異人奇方往往輒效。又遇馬子，從龍於吳山之大乘古剎馬氏，曰：不遊名山大川，不登山陰禹穴，烏足以言地理？而醫亦然子知之乎？須襟懷淡蕩，領會山川靈秀於胸，次便覺悠然而不侷促，融通而無固執矣，信乎？方子岫云云：予於痘疹之機括每從漢印中悟出，斯言也，誠得此中三昧語耳。非好奇之謂也蓋痘者豆也，非毒也，當其未感發之時無形可據，夫何毒之有？既發動透於肌膚，雖形現於外，尚未成漿，猶未可執以為毒也。或成漿時，方可以毒論。然毒即氣血也，痘之起，長貫漿收靨落痂，全憑乎氣血陰陽。凡血充氣足，則陰陽調暢，能化毒載出營衛，故應期而痊。若血虛氣虧，陰陽偏勝，焉能斂毒達於肌肉？況習俗從事於寒涼，伐及無辜，而氣血復為所傷，毒隨氣血散漫，以致內陷，變為敗症，莫可挽救，是誰之責歟！皆因執毒之義為害也。是以流毒日深，牢不可破，寧服寒涼而斃，終無怨也至於喉科以及諸症，總不離乎氣血陰陽表裡虛實耳。余於壬子歲自漢歸來，抱終天之恨，無以為計與三弟朝夕研醫，互相討論以承家學，忽忽間倏一紀不覺光陰之迅也。因念年逾半百，精力漸衰，地理一道，跋涉維艱，而流水高山嘆鍾期之難遇，故將喉科歷年來辯明虛實寒熱之處，一一詳言之，俾後之習此者，知有所導，庶不致膠柱刻舟之誚，以補是科之所未及云爾。</p>
<p><u>時大清嘉慶九年歲在甲子孟夏月上浣雙橋樞扶氏鄭瀚書於十琴軒之西窗</u></p>

<h1>《續重樓玉鑰》自敘</h1>
<p>喉科之書，所見凡十有餘家，或詳或略，各有所長。至若治驗神速，莫如秘授，三十六症，自治療以來活人甚廣。然未嘗論證與脈要之總是死法，未為盡善也。余懼醫家各執秘授，不知通變，往往反因而誤事，故與環川方子岫云：博採古今之書，纂為續編，以補諸家之未備，其中指示色脈，辯別症因，以至用藥加減之法，至詳極慎，醫者誠能遵而用之，神而明之，庶不致膠柱刻舟之誚，其於仁術或未必無小補云。</p>
<p><u>雙橋樞扶氏若溪鄭瀚識</u></p>

<h1>序</h1>
<p>歙縣西園鄭氏，以喉牙科名，歷世相傳，實擅起死回生之能術，而通乎神者矣。顧甚居奇守秘聲價自高，殊不知其所以炫世驚人攫盛名賺金錢者，全藉《重樓玉鑰》一書而已也。書分正續兩編，正編早已盛行於世，習是科者罔不奉為圭皋，盡皆謂為完壁，足以應用而有餘，而弗料其更有玄妙之續編在也。觀樞扶氏之自序言，是書之珍秘得書之艱難，至有不再他傳之哲，固屬從前人務獨善，不知道德之陋習，蓋其靈驗可貴之價值，實有倍於尋常之喉牙諸書者焉。正編言為僕人竊出，展轉傳鈔致坊間，亦得刊售，續編之什襲珍藏，當更較格外慎重矣。余家所藏之冊，系用桃花紙鈔訂者，字跡惡劣而潦草，裝訂粗率而顛錯，一見可知為乘機偷暇之所成折開印寫之情形猶宛在也。原書經樞扶先生一再增輯，特於喉症白腐專論加詳，近今坊本陳修園醫書中及以外有數種專言此症者，殊皆不及此書之縝密妥當也。此冊首頁有道光元年辛己歲大呂月歙南昌溪吳季儒鈔十八字，計其年月，距嘉慶九年，樞扶先生自序時才十有七年，正鄭氏鼎盛期間，萬無沽售流行之理，必屬至親密友，偵知藏處，如如姬盜兵符遵王賺竹垞之故事，以智誘計，取而得之者無疑也。同治初年，兵燹方定，我邑蓮川周丈邦彥以數十青蛈得此於裨販擔頭庋置架間，一未寓目，以己習內科，此屬非其所學也。先君子萃庵公，見而喜之，假以歸涉閱一周，謂之曰：此鄭氏秘笈也。喉牙口舌得此，可以名家矣。周丈頓悟，急即索回。越數歲，家計益窘，又值其子將續絃乃以此冊作贈而告借銀幣，念番先君子，慨然允之，書遂為我家有矣。先君子豁達多能，望隆鄉邑，排紛解難，應給不暇，醫藥堪輿，雖皆素嗜，而迫於環境，不克精專，致此書亦從耽滯，歷廿餘年也，末一試用也。斯時先五兄石農挈眷居仁里岳家，從其外舅程金門先生兼習儒與醫學，光緒甲午菊秋，嫂氏徒嬰喉患，先即翁婿合治，繼延歙東舍頭專科程炳文，暨績城名醫葛巨川、章儀廷，仲貽諸先生診視，濟濟一堂，愈治愈劇，奄然一息，臥莫能興。石農乃函致家中筱濤大侄，備述病危，商量後事，尚欲秘弗與先祖母朱太宜人知，恐其年高鍾愛有素，致傷起居也。筱濤稟諸先居子倏爾憶及是書，急命檢出，專人星夜齎去，相距四十里以酉正發亥末至矣，方憂其經多延誤，不及挽救，復慮其治法少驗徒勞無功，舉室旁皇擾攘達旦。錯午使者回言，至即照書配藥，煎服頭劑，得效如神，晨間再進一劑，己刻已起坐索粥，病去大半，我動身時，諄諄乞告堂上勿再記念，某已霍然就廖矣。蓋其所採用只養陰清燥湯，神功丹二方而已。於是乃共寶此書翁婿於數日中，倩人各鈔二冊，以備轉借之有失也。嗣後患此者較多，而愈可速。里中有患者，亦輒就先君子求診皆隨治而療焉。戊戌仲春先君子捐館舍，石農回里行道汽後歷遊宣城受聘豫章，俱以善治喉名緣以此為師承也。餘步石農之後懸壺七載，喉牙疾患療愈百數，實亦得此書之資益者也。親友中習醫及好義者，皆就索鈔，無不如願以償之，然余拙不自藏，夙懷普濟，思鈔傳之有限，欲付梓而</p>

<h1>統理十二經脈皆上循咽喉</h1>
<p>咽主地氣，地氣通於嗌，足太陰脈布胃中，絡於嗌，故病則脘滿而嗌乾。邪客於足少陰之經，令人嗌痛，不可內食，無故善怒，氣上走賁。肝者，中之將也，取決於膽，咽為之使。一陰一陽，代絕，此陰氣至心，上下無常，出入不知，咽喉乾燥，病在脾土。手太陽之經循咽嗌。手少陽之脈循頸，結缺盆，令咽腫。（《素問》）足太陰之正，上結於咽，足少陰所生病，口熱舌乾，咽腫上氣，嗌乾及痛。陰陽之脈上通於心，循咽出於口。足少陽之正，上挾咽，出頤頷。（《靈樞》）挾咽，屬手少陰心，足太陰脾經之會。（《準繩》）吸主天氣，天氣通於肺，謂之肺系。頸側挾咽之動脈人迎人迎者，足陽明胃也陽明者，常動。（《素問》）手太陰之正，出缺盆循喉嚨，手少陰之正上走喉嚨出於面。手陽明之正，上循喉嚨出缺盈。（《靈樞》）喉嚨者脾胃之候也。（《千金》）喉嚨後屬厥陰心包經。人迎後屬手陽明大腸經。（《準繩》）十二經中，惟足太陽膀胱之脈上額，交巔，絡腦，下項循肩膊，挾脊，抵腰，結於缺盆，不循咽喉，然下項結缺盆，則亦不離咽喉左右矣。（岫云）咽喉者，水穀之道也。喉嚨者，氣之所以上下者也。厭者，聲音之戶也。懸雍者，聲音之關也。（《內經》）咽與喉、會厭與舌，此四者同在一門，而其用各異，喉以納氣，故喉氣通於天，咽以納食，故嚥氣通於地，會厭管乎其上以司開闔。掩其厭則食下，不掩其喉必錯。以舌抵上顎，則會厭能閉其喉，四者交相為用，缺一則飲食廢而死矣。（子和）咽在喉之前，所以咽物，喉在咽之後，所以候氣。謂咽在喉後者，楊上善之誤也。（《準繩》）</p>

<h1>總論喉痹大意</h1>
<p>一陰一陽結謂之喉痹王冰注曰：一陰肝與心包也。一陽膽與三焦也。四經者，有相火併絡於咽喉，氣熱內結，結甚則腫脹，脹甚則痹，痹甚則不通而痰塞以死矣。心咳之狀，咳則心痛，喉中介介如梗狀甚則咽腫喉痹。邪客於少陰之絡，令人喉痹，舌卷口乾心煩。</p>
<p>手陽明少陽厥逆，發喉痹嗌腫痓。（《內經》）</p>
<p>喉痹不能言，取足陽明能言，取手陽明（《靈樞》）十二經脈皆上循咽喉，盡得以病之然統其所屬，乃在君相二火而已。蓋肺主氣天也，脾主食地也，納氣者，從金化，納食者從土化金性燥，土性濕乃至於病也金化變動為燥燥則澀澀則閉塞而不仁土化變動為濕，濕則泥，泥則壅脹而不通故在喉曰痹，在咽曰腫，雖有纏喉、乳蛾、嗌塞、喉干種種之不同，其為火鬱上焦，致痰涎氣血，結聚於咽喉一也。治法當視火之微甚微則正治，甚則反治撩痰出血隨宜而施。（《準繩》）十二經言嗌乾嗌痛咽腫，頷腫舌本強，皆君火為之也惟喉痹急速，相火之所為也。君火猶人火也，相火猶龍火也，人火焚木，其勢緩；龍火焚木，其勢速。《內經》之言喉痹，則咽與舌亦在其間，以其病同是火，故不分也。治喉痹之火與救火同，不容少待。《內經》火鬱發之，發謂發汗，然咽喉豈能發汗？故出血者，乃發汗之一端也。（喻氏）</p>

<h1>論喉痹關乎運氣而有火濕寒之異</h1>
<p>《素問》曰：運氣，少陽所至為喉痹，耳鳴嘔湧。又曰：少陽司天之政三之氣炎暑至，民病喉痹，此乃屬火者也，宜仲景桔梗湯；或面赤斑者屬陽毒，宜陽毒諸方汗之。又曰：太陰之勝，火氣內郁，喉痹。又云：太陰在泉，濕淫所勝，病嗌腫，喉痹，此屬濕者也宜活人半夏桂枝甘草湯。又云：太陽在泉，寒淫所勝民病咽痛頷腫，此屬寒者也。輕者表散，重者理中，四逆酌用。或面青黑者屬陰毒，宜陰毒諸方汗之。按：運氣雖有火濕寒之不同，然濕則熱生乎中寒則火鬱於內，同歸於火，故治法大要以發之為主。如針刺刀砭藥，則赤麟散、金碧二丹，皆是大苦大寒辛熱之劑，間亦有時需用，斷不可輕易浪投，慎之。（岫云）</p>
<p>內因　因胸膈素有痰涎，或縱酒過度，或忿怒失常，或房事不節，火動其痰，湧塞於咽喉之間，以致內外腫痛水漿不入。（《醫鑑》）有屬運氣天行者，有因七情鬱結者，有寒客會厭者，有寒傷腎而帝中腫者。</p>
<p>外候　外候最多，已載前編，茲不復贅。（岫云）其毒聚於內，涎唾稠黏，但發寒熱者，塞喉風也。暴發暴死者，名走馬喉風。（子和）走馬喉風，卒然失音，不省人事，痰壅口噤閉塞而死，與諸卒中相似，必先有喉痛為辨耳。（李惺庵）</p>
<p>論喉與咽之異　喉痹者，謂喉中呼吸不通，言語不出，乃天氣閉塞也。咽痛謂咽嗌不能納唾，飲食不入，乃地氣閉塞也。（《類要》）</p>
<p>病喉痹者，必兼咽痛，咽嗌痛者，不必盡兼喉痹。（王宇泰）</p>
<p>論表與里之分　屬表者必兼惡寒，且寸脈弱小於關尺，此寒閉於外，熱鬱內，宜辛涼發散，切忌酸寒。屬裡者，身無熱而寸脈滑，石於關尺，乃積熱於內，壅滯生痰，宜苦寒折伏及湧吐之法。（李惺庵）亦有表證輕而無寒熱者宜細辨之。（岫云）惡寒而寸脈小，鄉里所患相同，此屬天行時氣，宜先表散。大忌酸寒吹點，苦寒下之。（景嵩崖）</p>
<p>辨虛與實之異　實火因過失煎炒炙煿醇酒，熱毒蘊積，胸膈不利，煩渴便閉。虛火因七情勞欲，氣虛虛火上炎，咽膈乾燥，二便如常。（《入門》）</p>
<p>辨陰陽之分　陽虛者，兩寸浮大，遇勞益甚，此肺脾氣怯，不能堤防下焦，須培補中宮。陰虛者，兩尺洪數，日晡轉甚，此肝腎陰虛，不能制御龍雷，必滋養癸水，脈法兩寸浮洪而溢者，喉痹也。兩尺細微無力者，虛炎也。若微甚而伏者，死。浮大而澀者，亦死。沉細者，不治。洪大有力者，易治。弦數有力為實火，左寸虛數尺微為虛火，宜滋養金水。兩脈若浮大，重取而澀者，此陰氣大虛，陽氣浮越也，宜補陰斂陽，人參一味濃煎湯飲之，用喉科法治之必死。</p>
<p>治法　喉症不一，不可概以實熱為治。大率熱則通之，寒則補之，不寒不熱，依經調之。湯劑盪滌，而外復有針刺等法，要皆急治時不可緩，非若臟腑積久之病，磨化調養之可比。（《聖濟錄》）</p>
<p>治實之法，輕者先宜發散，次用清涼。重者先湧導痰涎，針砭出血，再用煎劑。治虛之法，須遵《內經》從治之旨，徐徐與之。（《正傳》）凡喉症，過四五日為重，三日前可消，若非是急證。一二日不發寒熱，第三日始發寒熱。若頭痛則兼傷於寒，須疏風散寒。問二便如何？便利者，乃浮游之火上攻，宜消風祛熱，降氣解毒之劑。婦人喉痛，必先問其經水通閉，若經閉者，用通經藥愈矣。喉疼連胸，紅腫而痛，右寸浮洪而數甚，系肺癰，須用蜜調藥，加百草霜、桔梗為妥。凡喉中無形而紅腫者，宜多用燈心灰。喉碎者，先吹長肉藥，後用碧丹。痰不出，用金丹加制皂角少許，倘至穿爛，多用口疳藥加龍骨、珍珠。喉症，無痰不治，有痰聲如解鋸者危，用金丹吹之。初發寒戰，後即身涼，口不碎，無重舌，二便利，即非熱症，蓋虛寒亦能發痰，此痰不可去盡，乃身內精液與乳蛾⿰舌䪞舌之痰，吐盡而腫消者不同，當先用吹藥，喉一通即，服煎藥第一劑發散，和解第二劑，即溫補導火納氣。設三四日後再發寒戰，或見心肋痛等症者，難治。發時牙關緊，喉舌腫口碎腥臭，重舌，或舌胎黃而有刺，便閉者，此是熱症，赤麟散角藥紫地湯、金丹、碧丹、開風路針皆神效。若依法治之症不減，牙關反閉，唇不腫紋，如無病人者，不治。（《尊生書》）</p>
<p>論忌用寒涼針砭之證　專用芩連梔柏之類正治之，則上熱未除，中寒復起，毒氣乘虛入腹，變為敗症。（《正傳》）虛火上炎者，純用寒涼，必致上喘下瀉。亦最忌發汗，針砭出血，內傷虛損，咽痛失音者，誤針之，必不救。（《嵩崖》）寒傷腎而致帝中腫者，此證人皆不知，宜以八味丸加減。切禁用針帝中，號喉花，關乎性命其慎之。（岫云）</p>
<p>死症　胸前高起，上喘下泄，手足指甲青紫，七日以後，全不入食，口如魚口者，死。又急喉痹症，聲如鼾睡，此為肺絕，必死。用人參、竹瀝、薑汁或可救其萬一。（丹溪）舌腫滿口，色如胡桃、茄子、硃砂紙，不治。口渴氣喘，痰如桃膠，一頸皆腫，面帶紅紫，或青，或純白，無神，皆不治。喉風過一日夜，牙噤喉響如雷，燈火近口即滅，此氣已離根，有升無降，不治。喘急額汗者，不治。（景日胗）</p>
<p>用藥加減法　主以甘桔湯，加薄荷、荊芥、防風、黃芩、玄參、牛蒡子、竹茹等。咳嗽加貝母、陳皮。渴加花粉、麥冬。唾血加紫菀。嘔惡加半夏。胸滿加枳殼。便閉加大黃。痰甚加石膏。火甚加川黃連。卒閉暴死用解毒雄黃丸。此皆治實火之法也。凡屬虛者，當從權為主，古人有用肉桂、人參、附子、炮姜者，但理其下而上自安，此乃求本之治也。大抵血虛用四物湯，氣虛用補中益氣湯，肝火用逍遙散，腎虛用地黃湯，佐以治標之品。又有命門火衰，龍浮咽嗌痛者，唯八味丸最效。而寒涼之劑，則一毫不可浪用也。（《匯補》）咽痛必用荊芥，陰虛火炎必用玄參，氣虛加人參、竹瀝，血虛四物加竹瀝。（丹溪）凡喉症最忌半夏、生薑，最喜梨汁、柿子。（《嵩崖》）一切咽喉痛紫雪為要藥。（程云來）紫雪純寒，重症不可用，或合赤麟散用之始佳。（岫云）</p>

<h1>統論脾胃皆交於口而脾為之主</h1>
<p>中央黃色，入通於脾，開竅於口，藏精於脾，足陽明胃之脈，俠口，下交承漿。（《素問》）俠口屬衝任二脈。（《靈樞》）口屬脾胃，大腸脈交口，然畢竟脾經為主。蓋五味入口，藏於胃脾，乃運化精液以營養五臟，五臟之氣，皆統於脾。五臟偏盛，皆驗於口。胃經氣血少，則兩吻多紋書。（《嵩崖》）</p>
<p>內因　味入於口，藏精脾胃，運化精液，以養五臟。若五味過偏，則五臟之氣亦偏，而諸病生焉。（《大全》）凡人晨起及食後不漱口，每多口齒腐臭，及生瘡菌等患。</p>
<p>外候　肝熱則口酸，心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸，胃熱則口淡。（《正傳》）此臟氣偏勝為病也。亦有謀慮不決，肝移熱於膽而口苦者；有脾胃氣弱，木乘土位而口酸者；有膀胱移熱於小腸，膈腸不便，上為口糜而生瘡潰爛者。（《內經》）有熱積心胸之間，脾氣凝滯不能運化，濁氣熏蒸而口臭者，此臟氣移熱而為病也。（《匯補》）</p>
<p>論口瘡赤白之異及午前午後痛者微甚之分。口瘡雖由脾熱所使然，當分赤白二種。白者肺熱；赤者心熱；赤白相兼者，心肺俱熱，不獨脾家病也。（李惺庵）實熱者，色多赤；虛熱者色多白。午前痛甚者，實火也；午後痛甚者，虛火也。亦有陰虛火炎，發為口糜，滿咽如白飯者，未可概目為肺熱也。（岫云）</p>
<p>脈法　脈浮數為實火，浮大為虛火。（《匯補》）浮數有力按之不減為實，浮大而數按之弱澀為虛，須細辨之為要。</p>
<p>治法　五臟之氣皆統於脾，凡七情六慾，五味皆能致病，當因病而求之。（《繩墨》）若服涼劑不愈者，此中焦元氣不足，虛火炎上也，又宜溫補。（李惺庵）</p>
<p>用藥加減法　肺熱口辛，桔梗、山梔、炒芩、桑白皮、天冬、麥冬、沙參。膽熱口苦，柴胡、草龍膽、棗仁、茯神、生地、生甘草。心熱口苦，黃連、生地、麥冬、丹皮。肝熱口酸，逍遙散。脾虛木乘土位而口酸者，四君子加白芍、柴胡。脾熱口甘，白芍、天花粉、山梔、陳皮、蘭草。胃熱口淡，青黛、石斛、石膏、竹葉。胃火口臭，竹葉石膏湯。口燥二冬、五味、白芍、生甘草、人參。腎熱口咸，六味加玄參、知母。口糜實熱加味逍遙。虛熱補中益氣。（《嵩崖》）</p>
<p>膀胱移熱，口爛溺澀，導赤散。中上虛寒胃陽浮上者，理中湯。下焦火炎者，八味丸。（《匯補》）</p>

<h1>統論唇為脾胃肝之所主</h1>
<p>脾者，食廩之本，營之居也。其華在唇。（《素問》）上唇挾口，屬手陽明大腸。下唇挾口，屬足陽明胃。（《靈樞》）唇，肝脾胃三經所主驗，臟腑之寒熱最便，不可不知。肝脈、督脈、衝脈、任脈皆絡者也。（元珠）</p>
<p>內因　脾胃受邪，唇為之病。（《大全》）唇舌者，肌肉之本也。肌氣絕則脈不榮肌肉，故肌肉軟而舌萎，人中滿，唇反。唇反者肉先死也。脾病者唇黃，脾絕者，唇四面腫。（《靈樞》）</p>
<p>外候　唇之為病，風勝則動，寒勝則縮，燥勝則乾，熱勝則裂，氣鬱則生瘡，血少則無色，脾冷則紫，脾敗則黑，脾寒則青，脾虛則白，脾衰則黃，脾實則紅。（《繩墨》）心熱則上下唇皆赤。若上唇赤下唇白者，腎虛而心火不降也。（元珠）</p>
<p>肺主唇色白，白而澤者吉，白如枯骨者死。人唇白當補脾肺，若深紅色則當散肺家虛熱。（錢仲陽）</p>
<p>用藥加減法　脾燥唇乾，用生地、麥冬、山藥、歸芍、人參蜂蜜。脾熱唇裂，涼膈散。唇動消風散。唇青、唇縮或唇揭，理中湯。唇腫，薏苡仁湯。唇瘡既久，血虛火炎者，當滋補，勿任苦寒。（李惺庵）</p>

<h1>統論舌為心脾所主</h1>
<p>心在竅為舌。（《素問》）心脈系舌本，腎液出舌端，脾脈系舌旁，肝脈絡舌本，雖分有五臟，而心脾實主之，故二臟不和，變生諸症。（《玉策》）膀胱經結舌本，三焦經系舌本。（日胗）</p>
<p>內因　心和則舌能知五味，聲音嘹亮。（《內經》）心絕則舌不能收，及不能語。（喬垂）脾主舌強，腎主舌乾。（岫云）誤食毒味，及冬月向火取暖過度，俱使舌變生病患。</p>
<p>外候　中風痰則舌卷難言，傷七情則舌腫難食，三焦蘊熱則舌胎燥而咽乾，心脾熱熾則舌粗重而口苦。（《繩墨》）氣虛則麻、縱，陰火則點黑，濕痰則腫脹，鬱熱則衄血，心火則生瘡脾熱則乾澀，胃熱則木強，肝熱則卷且縮，肺熱則舌燥而咽門聲啞，腎熱則津竭而舌心乾焦。（《匯補》）</p>
<p>治法　舌症有十五種，用藥不禁寒涼，然必帶辛散乃效。（日胗）舌屬火，其性炎上，治舌當降火滋陰。（《繩墨》）凡治口舌輕症以鹽滾水為最便，且亦妥善，勿謂以其易而少效也。</p>
<p>用藥加減法　風痰用二陳加南星、竹瀝。郁痰加香附、青皮。三焦鬱熱，涼膈散。心脾鬱熱，三黃丸。思慮傷脾，血耗火動，歸脾湯。鬱怒傷肝，血虛火旺，逍遙散。腎虛陰火，滋腎丸。（李惺庵）</p>

<h1>論齒為腎胃大腸所屬</h1>
<p>齒者，骨之餘，髓之所養，故齒屬腎，上齦屬胃，下齦屬太陽。凡動搖豁脫，或大痛，或不痛，或出血，或不出血，如欲脫之狀，皆屬腎病。其雖疳，齦腫潰爛，臭穢而不動者，皆屬陽明，或兼諸經錯雜之邪。（《醫貫》）若陽明膏粱之變，濕熱上攻，則牙床不清而為腫為痛，或出血生蟲，而黑爛脫落。（玉綸）若腎虛作痛者，遇勞即發，午後更甚口渴面黑，倦怠遺精，此皆脾胃虛之證。（《醫貫》）</p>
<p>外候　精完則齒堅，腎衰則齒豁，虛熱則齒動，髓溢則齒長。（《入門》）腎虛牙痛其齒浮，血虛牙痛其齒癢，火熱牙痛其齒燥，蟲蝕牙痛其齒黑，風熱牙痛其齒腫，濕熱牙痛其齒木。（《繩墨》）又有風熱相搏，吸風即痛者；有寒氣犯腦，頭項連齒痛者；有痰氣、熱氣、毒氣注痛，咳嗽者；有血搏齒間，鑽刺掣痛者。（《正傳》）濕熱蘊積日久，則發為走馬牙疳。（《司命》）</p>
<p>齒痛有惡寒惡熱之不同。手陽明惡寒而喜熱飲，足陽明惡熱而喜冷飲，故齒痛有惡寒熱之不同。（《正傳》）惡寒飲者，外吸風寒所致，惡熱飲者，內生風熱使然。（《匯補》）</p>
<p>脈法　尺脈虛，大者腎虛洪數者陰火，關脈浮弦者風熱，洪滑者，痰火也。</p>
<p>治法　齒根宣露動搖者腎。元虛也治宜補腎惡寒熱而口臭者，陽明熱也，治宜清胃。（《醫衡》）齒蝕宜清腸胃以治其本，擦牙誅蟲以絕其標。（李惺庵）走馬牙疳急宜瀉胃清火，敷牙疳之藥。（日胗）牙疳亦有急宜大劑滋陰溫補者。（岫云）</p>
<p>用藥加減法　陽明病清胃散加乾葛、石膏、芩、連、花粉、山梔。如胃火盛倍石膏。大腸實加大黃。挾痰加貝母。挾風加防風。酒毒倍乾葛。蟲蝕加檳榔。齦癢加白芷。齦爛加龍膽草。若勞倦而胃虛齒浮用補中益氣湯。腎虛用地黃湯加玄參、補骨脂。陽虛豁落加續斷、枸杞、茴香。陰虛浮動加知、柏、生地、丹皮。（《匯補》）</p>

<h1>諸證補遺</h1>
<p>走馬喉痹，走馬喉痹勢如奔馬，喉間痹痛，腫連頰骨，壯熱煩悶，數數吐氣者是也。此肺脾不利，熱毒攻衝，發於咽喉所致。急開風路針吹赤麟散噙角藥服，紫地湯或解毒雄黃丸，緩則不及。凡喉科痹閉，急證一時，覓藥不及，急用土牛膝根搗汁滴入，亦可挽救於萬一。　</p>
<p>屍咽喉　道家服藥，務先去三蟲，以其為人害也。屍咽之病，亦本於此巢氏，謂腹中屍蟲，上蝕咽喉，能令生瘡，或癢或痛，如䘌候是也。善攝生者，倘未能除去，亦當服藥治之，勿使妄動則善矣，黃柏湯主之，或一捻金吹之。</p>
<p>纏喉風（再見）喉腫而大，連頂腫痛，喉內紅絲纏緊，勢如絞轉，且麻且癢，手指甲青，手心壯熱，痰氣盛湧如鋸，手足厥冷，或兩頤及項赤色，纏繞發寒熱者亦是。先兩日必胸膈閉滯，痰塞氣促，最為急症。內服喉痹飲，外用金碧二丹吹之。若加牛黃效更速捷。岫雲山人曰：此症開風路針吹赤麟散服紫地湯，更神效。此水涸火炎，肺金受克也，難治。忌辛熱收澀，用養金湯，生地、阿膠、杏仁、知母、丹參、麥冬、桑白皮、蜂蜜。</p>
<p>喉中醒臭　此屬肺胃熱毒，黃芩、射干煎服。岫雲山人曰：亦有屬肝腎虛者，急宜大劑養陰須細察左關兩尺弦數無力，或弦澀者皆是。《素問》所謂血枯，即此症也。庸醫不知，往往認為肺癰治，誤人多矣。不知肺癰必見雲門、中府相引而痛，右寸必弦數異常，久則咳唾膿血不止，喉中醒臭而已也。</p>
<p>咽嗌痛　咽嗌痛甚，不能納唾與食，此屬陰虛火炎。《內經》曰：形苦志苦，病生於咽嗌是也。喉痹飲倍加荊芥、玄參、地黃湯亦妙。岫雲山人曰：亦有屬風火內郁者，宜表散，忌滋陰藥，遠不及也。</p>
<p>連珠乳蛾　單雙蛾人多知之，又有連珠乳蛾，人所不知。其狀如白星上下相連故名，皆由酒色過度鬱結而成，最重之候，內服喉痹飲，外先用碧五金一，後用金二碧三。</p>
<p>喉菌　狀如浮萍，生喉旁，憂鬱氣滯使然。婦人多患之，輕則半月，重則月餘，宜守戒忌口，次要吹藥得法。初用碧五金一，後用碧三金二，噙清靈膏服喉痹飲，以愈為度。</p>
<p>喉癬　喉間生紅絲如哥窯紋，如秋海棠花，葉背面之狀，乾燥而癢，阻礙飲食，此虛火上炎，痰壅肺燥所致。要戒鹽、醬及助火之物。至喉啞則不可救。勞症每多生此，治用碧丹頻吹，清靈膏不時噙化，再服喉痹飲。岫雲山人曰：勞症生此，危在旦夕，為其金水之氣皆絕也，故非咽喉藥物之所能救治。</p>
<p>喉癰　肺脾熱壅，熏發上焦，攻於咽喉，結聚腫痛，不得消散熱氣熾盛，致團結成癰，妨害吐納。古方論以一寸為癤，二寸至五寸為癰。其候使人寒戰，咳吐稠濁。善用針者，審其可刺，宜速破之，施以點餌之劑。又有喉間紅腫而痛無別形狀者，乃過食炙煿火酒極熱物品而發，病在胃與大腸。其重者，寒熱頭疼四五日可愈，用金十碧一頻吹之，內服犀角地黃湯。</p>
<p>喉瘡奇疾　喉中生瘡，層層疊壘而不痛，日久有竅，出臭氣，廢飲食，宜用枸橘葉燒酒頻服。</p>
<p>咽中結塊如核危困欲死　此危證也。飲食不通，射干、牛舌葉汁、海藻俱能治此症，總不若百靈丸最佳。用百草霜研細，蜜丸，如芡實大，新汲水化下；甚者不過四五丸，效。</p>
<p>咽瘡鼻爛　咽喉內生瘡，鼻孔內亦爛，此症若作喉風治之，立死。宜用白霜梅一個、燒、存性，枯礬一錢，山甲珠一錢，共為細末。吹喉中，效。</p>
<p>喉瘡潰爛　喉瘡已破，瘡口疼痛，難進飲食，用豬腦髓蒸熟，以姜醋調和食之，自愈。</p>
<p>感寒喉閉不能咽　用大附子一枚，削去皮、臍，切作大片，以蜜塗炙，令黃納口中，噙咽其津，甘味盡，又炙一片而噙咽之。</p>
<p>鼻生紅線櫻珠　咽痛用諸藥不效，丹溪云：此非咽痛，乃是鼻中生一條紅線，如發懸一黑泡，大如櫻桃，垂掛到咽門而止，致口中飲食不能入，須用土牛膝根擇其直而獨條者，洗淨，搗取汁。入好醋三五匙和勻，滴入鼻孔內，自然絲斷珠破，吐出瘀血其病立安。</p>
<p>梅核氣　痰氣滯塞於咽喉之間，咯不出，咽不下，狀如梅核，此因濕熱內郁，痰氣凝結，治法宜開鬱順氣消痰，加味二陳主之。用韭汁一杯，薑汁、牛乳各半杯，和勻，細細溫服，即效。</p>
<p>喉中如有物妨悶　此肺胃壅滯風熱，客搏結於咽喉使然。憂愁思慮，氣逆痰結，亦皆能生此疾，射干湯主之。用逍遙二陳加減亦妙。</p>
<p>喉中如有炙臠食噎即塞　用杵頭糠二合，研極細，蜜丸，彈子大，每空心噙化一丸，愈為度。岫雲山人曰：上二症皆梅核氣之類也。經云：膽病喉中介介然，取陽明陵泉。心咳之狀，喉中介介如梗狀，取心之俞，亦此類也。心之俞即太陵穴口瘡。口瘡由心脾積熱，又有胃氣弱，穀氣少，上發為口瘡者，其服涼藥不效，乃肝脾之氣不足，虛火上泛而無制，宜用理中湯，收其浮游之火，外以上肉桂末吹之。若吐瀉後口中生瘡，亦是虛火，宜理中湯。忌寒涼。</p>
<p>口糜　《聖濟論》云：膀胱移熱於小腸，隔腸不便，上為口糜。夫小腸之脈絡心，循咽下膈，抵胃，陰陽和平，水穀入胃，小腸受之，通調水道，下輸膀胱，今熱氣厥逆膀胱反移熱於小腸，胃之水穀不得轉輸於下，則小腸塞隔而不便，上則令口生瘡而糜爛也。大抵心胃壅熱，則必熏蒸於上，不可概以敷藥，當求其本而治之。口舌狀如無皮，曰口瘡。口舌糜爛，曰口糜。當先用淨絲線蘸水輕攪痛者，可治。不痛者，難愈。無血出者，危。攪過用口疳藥吹之，服藥宜細辨虛實，西瓜絕妙。冬日以西瓜皮燒灰噙之，五苓導赤合用亦神效。岫雲山人曰：此症有歷用諸藥不效者，餘切其脈，雲浮大而數，重。按：無力，虛火上炎也。投以炙耆、熟地、歸芍、白朮等藥而愈。</p>
<p>燕口瘡　口角生瘡疼痛微腫，濕爛有汁，此脾胃有熱，上攻口唇，與津液相搏所致。以亂髮燒灰存性，米飲調服，即以此敷之。蒸飯，飯甑蓋上汽水洗，亦妙。</p>
<p>口菌　生牙齦肉上隆起，形如蕈，或如木耳，紫黑色，此火盛血熱氣滯所致。用口疳藥吹之，或用醋漱口，茄母蒂燒灰，鹽拌、醋調時，時擦之，以愈為度。</p>
<p>口中懸癰　生於上齶，發紫泡者是，宜用銀針挑破，吹口疳藥，或用碧丹亦妙。</p>
<p>鵝口　一名雪口。小兒初生，月內滿口滿舌生白屑者是也。宜先將絲綿攪去。</p>
<p>白屑以口疳藥頻吹之。白殭蠶，洗淨，炒黃色，為末，蜜和敷之，立效。</p>
<p>口臭　連翹為末，糊丸，食韭蒜之後，茶吞二三錢，口中濁氣，化為清氣此內府秘方。</p>
<p>口唇腫黑痛癢不可忍　先以瓷鋒砭去惡血，再用青綠古文錢磨豬油塗之，甚良。</p>
<p>繭唇　唇腫白皮皴裂如蠶繭狀，或唇下腫如黑棗，或本細末大，或如慄如瘤，皆七情動火傷血，或心火傳脾，或厚味積熱，須要審本症，察兼症，補脾氣，生脾血，則燥自潤，火自除，腫自消。補中益氣加梔、芍、丹皮最妙。逍遙歸脾亦可參用。若誤進清熱消毒之劑，或用藥線結去之，必變為翻花敗症。凡繭唇緊小，不若誤進清熱消毒之劑，或用藥線結去之，必變為翻花敗症。凡繭唇緊小，不能開合，難進飲食者，不治。</p>
<p>唇生核腫痛如彈　先針去惡血，次用牛膝燒灰，存性，新汲水調塗之，內服防風湯。</p>
<p>唇瘡　此氣鬱也。白荷花瓣貼之，甑上氣水洗之，俱效。白梅花瓣貼之，神驗。如開裂出血者，立止。傷寒狐惑症，上唇生瘡聲啞者，蟲食肛也。下唇生瘡咽乾者，蟲食臟也，皆因腹熱食少，腸胃空虛，三蟲求食之故。與上所謂唇瘡，又當別論。用川連、犀角、烏梅、木香、雄黃、桃仁等味，煎服。</p>
<p>唇緊燥裂生瘡　青皮燒灰存性，豬脂調塗。</p>
<p>喉痹舌卷　按《素問》曰：邪客手少陽之絡，令人喉痹舌卷，口乾心煩，臂外廉痛，手不及頭，刺手中指、次指、爪甲上去端如韭葉，各一壯又曰：手陽明之經，其病肢痛，轉筋，舌卷，治在燔針劫刺，以知為度，以痛為輸。其傷寒舌卷者，又當別論。子舌（再見）即重舌，痰也，熱也。桑皮、殭蠶發灰為末，以醋調敷，金丹吹之最妙。或蒲黃、黃柏末敷之，亦神。紫雪亦可針去惡血，亦捷。</p>
<p>木舌（再見）　即舌腫色如豬肝，不能轉動，或滿口脹塞，粥藥不入，是心脾壅熱，宜先於舌尖或舌兩旁，刺出紫血，次用筋卷絲綿蘸甘草水潤其唇舌，以蒲黃、乾薑、冰片為末，四面頻吹，杜其延蔓。若唇燥難吹，可取蜜潤之。蒲黃用生者。若出血，用炒，並多加冰片煎劑，用犀角、玄參、升麻、枳殼、生甘草、陳膽星。大便閉加大黃，小便閉加六一散。</p>
<p>木舌異症　舌下腫起，狀如白棗，有青紫筋，初起不痛不寒，熱漸漸腫大，系憂鬱所致。舌下紫筋，名舌系，通乎腎。若色白而腫，不治。初用金碧各半，後用金丹煎。</p>
<p>舌忽腫脹　心脾二經受風邪，則舌本強不能卷舒，久或熱氣加之則腫。筋脈脹急，勢連咽喉，礙於呼吸法，宜刺出惡血，以百草霜、好鹽各半兩，同研，表裡塗之；或用蒲黃末糝之；或取蚯蚓數條，以鹽水塗咽喉、舌上，皆立效如神。</p>
<p>翣舌　此症卒然舌大而硬，喉腫，呼吸不通，即時氣絕破棺而治，無不立驗。用皂、礬不拘多少，新瓦煅紅色，放地上，候冷，研細，用鐵鉗拗開喉關，以此藥擦其舌，立蘇。重舌、木舌亦皆治之。岫雲山人曰：木舌、舌腫、翣舌，此三種大同而小異。但木舌漸漸腫硬，然不至於塞滿口中。舌腫其勢固疾，猶可稍緩。惟翣舌，倏然脹大，頃刻殺人，其症最急。然其病源，皆心脾鬱熱所致，故其刺法用藥不甚相遠，並可通用。</p>
<p>舌上出血不止　又名舌衄，心火鬱也。用槐花摻之，烏賊骨、蒲黃末亦佳。若但心破而不出血，屬心火極盛，宜服犀角地黃湯加童便。</p>
<p>舌出不收　名陽強，宜補陽。以蒲黃末摻之；或用珍珠冰片等分，為末，敷之，或以萆麻子油捻紙燒煙燻之，皆立收。凡舌出數寸，須要分辨傷寒、產後、中毒、大驚四種傷寒。用冰片摻之，或紙卷巴豆一粒，納鼻中，自收。產後者，用丹砂敷舌，仍令作產子狀，以二女掖之而於壁，外突擲盆盎作聲驚之，舌立上矣。余者，用雄雞冠血浸之；或冬青濃汁浸之，即縮入。</p>
<p>舌縮不能言　此名陰強宜補陰。</p>
<p>舌黑有大孔流血，以青鹽、芩、柏、大黃各一錢，人參、甘草、桂心各五分，煎服。外燒熱鐵，烙孔上。</p>
<p>舌瘡久蝕成穴　屢用涼劑不效者，上盛下虛也，服黑錫丹，可漸愈，十全大補養榮湯，皆可酌用。</p>
<p>舌根癰　舌根生癰紅而且腫，用金碧各半吹之；煎劑，黃連、犀角、丹皮、生地黃、生甘草、赤芍、山梔、麥冬、連翹、木通。</p>
<p>連珠疳　舌下生水泡，初起一枚，漸至七八枚者是也。吹口疳藥以治之。</p>
<p>舌菌　生舌上隆起如菌，或如木耳，色紅紫，心火鬱熾也。治同口菌，煎劑用導赤散加減。</p>
<p>齧舌，齧唇齧頰　心脾之氣恆通於舌陽明之經直入齒縫，故邪入心脾，則舌自挺；邪入陽明，則口自噤；一挺一噤，故令嚼舌。治宜清其風火，則病自愈。按《靈樞》曰：齧舌者，厥逆走上脈氣，皆至也。少陰氣至為齧舌，少陽氣至則齧頰，陽明氣至則齧唇，視至病者補之。</p>
<p>懸雍垂長　咽中妨悶，用枯礬、鹽花等分，研細，以箸點之。</p>
<p>走馬牙疳　牙齦腐爛，或胎毒痘毒殺人最速，色如干醬，一日爛一分，二日爛一寸，走馬喻其速也。若鼻梁發紅點如珠者，不治。上唇龍門牙落者，必死。用口疳藥加牛黃吹之，聖功丹妙極。岫雲山人曰：走馬牙疳，人皆知為火毒，而不知痘疹。雜症過服寒涼，亦能致此，蓋寒涼傷胃，火土衰微，則邪火大肆而成牙疳矣。譬如太陽所不照之處，其物為濕熱所蒸，必腐爛生蟲，此理之顯然者也。茲時惟以大劑八珍、六君養營等湯裁酌與之，外則敷以人中白散，庶幾可活。而醫者不悟，益進苦寒之藥，致死者多矣，可不憫哉！此義古人所未發，自余發之聞者，多不信。時有程一士者，在座，憮然曰：吾子今春患痘，幼科肆用寒涼，且令粥茗菜羹皆煎石膏水烹之，竟變成牙疳而不起。以此觀之，君言豈不信而有徵乎！</p>
<p>齒痛連腦欲死　此腎經犯風寒也。不問冬夏，腎虛人常有之，緩則不救，急用羌活附子湯，羌活、附子、麻黃、蒼朮、炙黃耆、防風、甘草、升麻、殭蠶、白芷、黃柏。或用白芷散亦妙。白芷、麻黃、草豆蔻、炙黃耆、吳茱萸、熟地黃、當歸、升麻、藁本、桂枝、羌活。</p>
<p>牙槽風　齒痛不已，齦肉浮腫，紫黑色出血，久則腐爛，屬腎，虛兼胃火，用口疳藥加牛黃，倍珍珠、兒茶吹之。</p>
<p>牙漏　即牙槽風，延久不愈。齒縫出膿，甚則齒落。若上邊龍門牙落者，不治。宜外吹口疳藥，並內服滋陰降火之劑。</p>
<p>牙咬　生於牙盡咬中，牙關緊閉，初起勢甚，急夜尤甚，然不難愈，先用金碧二丹吹於牙齦，再用黃熟香削一釘漸漸擠進牙門，自然漸開，然後將金碧丹吹患處。</p>
<p>牙⿰舌䪞　此症屬胃火，形如豆大，或內外無定處。先用金丹，後用口疳藥煎劑，用六味多加石膏。</p>
<p>牙癰（再見）　又名牙𤷍風初起有小塊生齦肉上，或上下，或內外，其狀高硬，用口疳藥吹之。</p>
<p>穿牙疔穿牙毒　先二日，牙痛發寒熱，後痛更甚，齦上發一紫塊，齦肉皆紫黑者是也。已破曰穿牙毒，色紅可治，青色、黑色不治，用金丹加碧丹吹之，內服涼血清火解毒之劑。破者，口疳藥加牛黃，妙。</p>
<p>牙宣齦癢滿口牙出血，牙齦肉赤齒縫出血味酸，此實火上攻，宜清胃散加側柏葉。淡血常滲不已者，胃虛火動也，宜消風清火滋陰涼血之劑，外用珍珠散敷之。海螵蛸一錢，龍骨二錢，珍珠三釐，辰砂、象皮、乳香、沒藥、冰片各五分，研細，棉花團指大，水濕蘸藥，擦患處，以指抵實一二次，即愈。若齦癢者，血虛也。補血藥中加白芷。牙宣不止，以絲綿燒灰，存性，加冰硼少許，搽之，立效。滿口牙出血，枸杞為末，煎湯漱之，然後吞下，立止。</p>
<p>齒縫作脹　不能齧物，元氣虛也，補中益氣、十全大補酌用。</p>
<p>牙黃如金　糯稻糠燒灰，擦之即潔白如玉。</p>
<p>牙齦常出臭汗　此陽明風熱鬱積，用桃仁十五個，桂枝、芒硝、炙甘草各一錢，大黃兩錢，水煎服。</p>
<p>小兒馬牙　牙齦上有白色如脆骨者，是將發此毒，即打噴嚏，須日日以針挑之，頻吹口疳藥自瘳。</p>
<p>風火牙痛　用輕粉、大蒜各少許，研爛，男左女右，手按寸關上，青布扎定，立效。或起小泡無害。</p>
<p>齲齒　用五靈脂米許，咬痛處，少頃，溫水漱出，有蟲可見。雄黃、川椒、檳榔等分，加真蟾酥、麝香各少許，棗肉為丸，塞蛀孔中，蟲化為水，痛當立止（一方無檳榔亦甚神效）。</p>
<p>髓溢奇疾　日見牙齒漸長，艱於納食，此名髓溢，用白朮一味，煎湯，漱服。出《夏子益奇疾方》。</p>

<h1>附錄</h1>
<p>伏氣病　伏氣者，名腎傷寒，謂非時暴寒伏於少陰，寒氣抑鬱，內格陽氣，始初不病，旬日乃發，上行於咽門經會之處，寒熱相搏而成。咽痛脈息微弱，後必下利，當以辛熱藥攻其本病，順其陰陽，則水升火降而咽痛自已，用甘桔桂半湯主之。</p>
<p>少陰傷寒成咽痹　少陰傷寒，不傳太陽，寒鬱於外，陽格於內，致成咽痹，大略與伏氣病相似。宜辛溫甘苦，以制其標，咽嗌自通。</p>
<p>上二症皆類喉痹，誤用喉科寒涼之藥必致不救。</p>
<p>疫氣病　有司天運氣，過亢其年，鄉村染患相似者，此時氣乘虛蘊蓄上焦，發作寒熱，變為喉痛，諺名蝦蟆瘟，又曰鸕鷀瘟。此症甚惡，須用辛涼甘苦表裡雙解之品，切忌膽礬酸寒鬱遏陽氣，尤忌硝黃攻下，引邪入里，普濟消毒飲主之。岫雲山人曰：此症解毒，雄黃丸亦妙。</p>
<p>喉管傷寒　此症覺喉中作癢難過，切不可吃茶酒湯水，宜亟用薄荷二分，麝香一分，為末，吹入喉中。俟其氣通，約出涎水碗許，然後吃陳黃米湯半茶杯即愈。不知者竟先吃茶酒等物，便不可救。</p>
<p>傷寒發頤　凡傷寒汗出不徹，日久身熱不解，邪結耳後一寸二三分，或耳下俱腫痛而口渴，名曰發頤。此乃遺熱成毒，宜速與消散，緩則成膿，為害不淺。方用槐花二兩，微炒，使黃乘熱入酒兩鍾，煎十餘沸，去渣，熱服。未成者，二三服；已成者，一二服。胃弱者忌之。或用生忍冬藤四兩，生甘草節一兩，水二碗，煎減半，入酒一碗，煎十餘沸，飲之。渣敷患處。又方，柴胡、乾葛、花粉、炒芩、桔梗、大力子、連翹、石膏各一錢，甘草五分，升麻三分，水煎，不拘時服，累驗。</p>
<p>兩腮腫　細辛、草烏等分，為末入蚌粉，豬脂調敷，口噙白梅，置腮邊，良久腫退，出涎，患立消。</p>
<p>痄腮　生於牙齦耳庭之後，症屬肝腎陽明，用赤小豆末，以雞子清調，加蝸牛飛面研勻，敷患處，如神。凡下諸般腫痛，皆效。若痄腮初起，覺癢於毒頂，炙六七壯，並頰車、肩井，炙三壯，甚良。</p>
<p>脫頦　以酒飲大醉，睡中吹皂角末於鼻內，嚏透即自上。</p>
<p>鼻楔　生於兩鼻孔內，漸長，而下垂觸之痛甚難忍，以消法、點法，隨落隨生。間亦不治而落，未旬日，仍復生長，殊甚，苦楚。但用藕牙磨濃汁塗之，則蔫枯而落，後不復長，以微小無用之物，有此神效、奇功，其理洵不可議思。</p>
<p>天白蟻　頭響乃氣挾肝火，加味逍遙散最佳。若頭中如蟲蛀響者，名天白蟻，用茶子為末，吹鼻中效。又天白蟻初起必喉內生瘡，鼻孔內俱爛不識治者，每認為結，毒發為喉疳，延爛及鼻內部以致久而不愈。須急用白霜梅一個，煉存性，穿山甲五分，焙用，枯礬一錢，雄黃五分，共為細末，吹喉中，神效。此症危險，而此方簡易，驗如桴鼓，妙不可言。</p>
<p>誤吞針　用磁石研末，以黃蠟熔化如丸，和豆大吞之。針共丸藥從大便出。</p>
<p>又法取蝦蟆眼睛一隻，水吞下，則針穿眼上瀉出，甚是效驗。</p>
<p>誤吞銅錢金銀釵環之類　只以飴糖，多多服之，久則自出。又多齧胡桃肉，即消。</p>

<h2>選方</h2>
<p><u>升麻湯</u>　治喉中痛閉塞不通。</p>
<p>升麻（一兩）　木通（一兩）　杏仁（五錢）　芍藥（三分）　羚羊角（三分）　射干（三分）　絡石（三分）</p>
<p>上為末，每服三錢，竹葉七片，水煎溫服。</p>
<p><u>黃柏湯</u>　治屍咽喉閉塞生瘡，及乾嘔頭痛食不下。</p>
<p>黃柏（炙五錢）　木通（一兩）　升麻（一兩）　玄參（一兩）　麥冬（兩半）　竹茹（三分）　前胡（三分）　大青（三分）</p>
<p>上為末。每服三錢，水煎去渣，入芒硝一錢，攪勻服。如鼻中有瘡，以生地汁少許，滴入鼻中，日三五度，不計時候。如欲通利，加芒硝。不欲利者去之可也。</p>
<p><u>一捻金方</u>　治咽喉走馬喉痹，腦內生癰。</p>
<p>雄黃　藜蘆　牙皂（去皮子等分）。</p>
<p>上為細末。先噙水一口，用藥一米許，搐鼻中，即吐去涎，少時見效。</p>
<p><u>射干湯</u>　治喉中如有物妨悶，善太息，口苦。</p>
<p>射干　升麻　紫菀　百合（各五錢）　赤苓　桔梗（各三錢）　木通（一兩）</p>
<p>可為末。每服三錢，食後溫服。如欲通利，加朴硝一錢。</p>
<p><u>喉痹飲</u>　統治一切喉痹。</p>
<p>桔梗　殭蠶　玄參　貝母　牛蒡子　荊芥　薄荷　天花粉　甘草　前胡　忍冬　燈心</p>
<p><u>清靈膏</u>　專治喉癬。</p>
<p>薄荷（三錢）　川貝母（一錢）　甘草（六分）　玉丹（二錢）　元丹（一錢）　冰片（三分）　百草霜（六分）</p>
<p>上為末。蜜調噙化，隨津唾咽之。</p>
<p><u>防風湯</u>　治唇生核。</p>
<p>防風　黃芩　前胡　知母　乾地黃　玄參　升麻　大黃（炒）　桔梗　藁本　甘草（炙）　麥冬　梔子　獨活（各五錢）　菊花（一兩）</p>
<p>上為末。每服三錢，水煎，於食後溫服，日服三次。</p>
<p><u>金丹</u>（吹藥上等）　統治一切喉症，消痰利腫如神。</p>
<p>槍硝（一錢或八分）　生蒲黃（四分）　牙皂　分半　白殭蠶（一錢）　冰片（一分）</p>
<p>上為極細末。瓷瓶收固，勿令走氣。</p>
<p><u>碧丹</u>（次藥）</p>
<p>百草霜（匙半）　甘草灰（三匙）　冰片（五釐）　元丹（一釐）　玉丹（三分）　薄荷（去筋，多少合宜。）</p>
<p>上為細末。瓷瓶收固。春夏薄荷多，玉丹少，秋冬玉丹多薄荷少。欲出痰，加制牙皂少許。凡喉痹初起，金丹不宜多用，其性善走，功能達內，輕症則不能勝藥矣。碧丹消痰清熱，祛風解毒，開喉閉，出痰涎最效。不比金丹迅利。凡喉癰乳蛾等輕症，祗用碧丹，重症金碧合用。初起碧九金一，吹過五管後，碧七金三。症重方用金碧各半。痰涎上壅時，金六碧四。因病之重輕，定藥之多寡，無得疏忽，最宜斟酌。無痰莫浪用，此皆仙方禁劑也。</p>
<p><u>再又效方</u></p>
<p>碧丹（二分）　元丹（一釐）　薄荷（二分）　冰片（一分）　百草霜（五釐）　牙硝（三分）　甘草（一分）　硼砂（五釐）</p>
<p>共研細末，收貯勿泄氣。</p>
<p><u>制玉丹法</u>　明礬碎如豆大，入傾銀罐內，火煅不住手攪，無塊為度。次用好硝打碎，徐徐投下十分之二三，又用官硼砂打碎，亦投下十分之三，少頃再投入生礬，俟烊化復如前，投硝硼，如是漸增，直待鋪起罐口，高發如饅頭樣方止。然後駕生炭火煉至礬枯，用淨瓦一片，覆罐上，片時，取出將牛黃真者少許，水五六匙和之，即以匙杪滴丹上，將罐仍入火，烘乾取下，連罐並瓦覆在潔淨地上，用紙蓋好，再用瓦覆之，過七日，收取。選留輕鬆無豎紋者用之，佳。</p>
<p><u>制元丹法</u>　取肥白燈草，將水濕透，用竹筆套完固者，以水濕之，將濕紙塞緊一頭，納燈草於管中，以筋築實至滿，濕紙封塞，入火煅之。俟煙絕管紅取出，放濕磚上，碗覆，待冷剝去外面管灰，兩頭紙灰，取內中燈草灰黑色成團者。</p>
<p><u>雪梅丹</u></p>
<p>取大青梅，不拘多少，劈開，去核。將明礬入內，以竹籤釘住，武火煅梅燼，勿用。止用白礬，輕白如膩粉者，佳。用以出涎清痰甚捷。岫雲山人曰：雪梅丹，功並角藥，而和平過之且簡易便於修合洵秘方也。</p>
<p><u>牙痛仙方</u>（即聖功丹）</p>
<p>硼砂（五分）　蒲黃（一錢）　人中白（一錢）　黃柏（一錢）　青黛（一錢）　兒茶（一錢）　馬勃（一錢）　甘草節（八分）　冰片（五釐）　麝香（五釐）　殭蠶（五釐）</p>
<p>上十一味，窳細收貯。每用時，先以水漱口淨，然後吹藥數次，即愈矣。岫雲山人曰：此方之妙，可比人中白散，而其效過之，余故名之為聖功丹。</p>
<p><u>捷妙丹</u>　統治牙疳口瘡，口角流涎，爛喉癬，喉瘡等症。</p>
<p>兒茶（一錢）　黃柏（一錢）　五倍子（一錢二分）　薄荷（一錢五分）　青黛（八分）　貝母（一錢）　冰片（二分）</p>
<p>上為末，收回，每吹少許即愈。樞扶氏曰：此方乃自制，每用輒效，故錄傳之，以濟世人。</p>
<p><u>雄黃解毒丸</u>　治急喉痹已死者，猶可治。</p>
<p>雄黃　鬱金（各一兩）　巴豆（十四粒，淨）</p>
<p>共為末。醋煮麵糊為丸，綠豆大。每服七丸，清茶送下。吐去痰涎立效。如已死者，挖開口研灌之。此羅太無神方也。《證治匯補》加白殭蠶二錢　芒硝五錢尤妙。</p>
<p><u>孫押班神方</u></p>
<p>牙皂　明礬　川連</p>
<p>上各等分新瓦焙為末。每用五分，吸喉中，立愈。</p>
<p><u>又秘方</u></p>
<p>取明礬五錢，研末，置鐵刀頭上，將蜘蛛七個入礬內，刀下以炭火熔礬，以枯為度。共和為末，每用一字，吹喉中，吐出稠痰，立效。蜘蛛取大腹有蒼黃膿者，佳。</p>
<p><u>又捷徑驗方</u>　喉閉乳蛾皆治。</p>
<p>鮮土牛膝根一握，艾葉七片，搗和取汁，入人乳數匙，灌鼻孔中。須臾，必有痰涎從口鼻而出，神效無比。一方無艾葉。</p>
<p><u>口疳良藥方</u></p>
<p>兒茶（一分半）　薄荷（三分）　生甘草（半分）　真珠（五釐）　白芷（二釐半）　冰片（三釐）　黃柏（一釐）　龍骨（醋煅，二釐）</p>
<p>上為末。吹患處神效。初起熱甚，倍薄荷。腫痛，倍白芷。久病多加真珠、兒茶、龍骨，即長肉。痘疹後去龍骨、黃柏加牛黃。疳重加滴乳香、硃砂各少許。</p>
<p><u>碧雪散</u>　專治積熱，口舌生瘡，兼治喉癬。</p>
<p>寒水石　石膏　馬牙硝　芒硝　朴硝　硝石</p>
<p>上各等分，用甘草湯，入六味，火熬令熔。再入青黛，和勻，傾出，候冷即成霜矣。研細收固。每用少許噙化，喉痹則以竹管吹入。</p>
<p><u>黃袍散</u>　治一切口疳。</p>
<p>真黃柏（三錢）　川黃連（三錢）　蘇薄荷（一兩）　生甘草（三錢）　冰片（少許）</p>
<p><u>緣袍散</u>　治口疳腐爛。</p>
<p>上銅青（一錢）　白芷（一錢）　甘草（五分）</p>
<p>上為細末同黃袍散吹之。</p>
<p><u>菊霜</u>（一名元女丹）　專治風火牙痛。</p>
<p>防風　羌活　石膏　川芎　川黃連　荊芥　玄參　甘草　黃柏　槐角　連翹　黃芩　甘菊花　薄荷　白芷</p>
<p>上十五味，各二錢，共為粗末。另將甘草五錢，煎水入藥，拌勻。須要乾溼得中，放銅杓內，再用潮腦六錢，勻，灑藥上，淨碗蓋好，鹽泥固封，微火升三炷香，切忌武火，恐其焦灼。升足，取碗底白霜，瓷瓶收緊，勿使見風走氣。其升過藥仍可拌甘草水，加潮腦，依法再升一次。每用三五釐，擦痛處，以涎出為度。擦過三次，可保永不再發。</p>
<p><u>蟲牙升藥</u>　治蟲牙最效。</p>
<p>川椒末　樟腦（等分）</p>
<p>上放銅杓內，茶盞蓋密，稠麵糊口封固，安爐上，微火升之，覺樟腦氣透出即取起，置地上，候冷，揭開掃取盞底者，收固，勿走風泄氣。每用少許，塞痛處，立止。</p>
<p><u>貼牙妙方</u></p>
<p>黃柏（煎汁去渣）　龍骨（入黃柏汁內煮乾窳極細）　杭粉　山梔（各五錢）　麝香（五分）</p>
<p>先將黃蠟一兩，熔了入前藥，和勻，攤絹上，貼牙上一夜，取下。凡黑處即是毒也，甚效。</p>

<h1>咽喉虛實總辨</h1>
<p>書云：咽喉十八症，皆屬於火，此言其大略也。然火有虛實之分，證有寒熱之別，尤有內因、外因之殊，及看舌胎蒼老嬌嫩之辨，臨證審明，復切脈之虛實，有力，無力脈與症合，然後立方施治，未可概執為風熱實症也。今時之人，本質腎陰不足居多，而喉症屬實者少。或虛中兼實，實中兼虛，或下焦陰火發為咽痛口瘡者，亦復不少。然六氣之中，感發喉患，不獨風寒與火，而暑濕燥亦然。唯暑濕成咽痛者特稀，每感燥而發者多，蓋因腎水不足故也。若臨證不辨明，一見發熱，便施表散，凡屬風者，雖得其宜，或由寒者，則非辛溫不可。其屬火者，固宜清降，亦當辨其虛實與郁，唯實火宜清降，虛火則當壯水，鬱火則宜升發，至濕與燥，又豈可表散耶！在他症虛實或難辨，而喉症最最易明，可一望而虛實立判，蓋有形可據，有色可參，有舌胎可辨。且痰涎有清濁之分，必須臨證者，潛心參究，乃得其竅。至於機巧權變，雖存乎其人，亦要從方脈中理會得來，庶無貽誤耳。</p>

<h1>各證分辨</h1>
<p>一家傳喉科，雖有三十六證之名，而治法不外紫地湯一方，何也？緣三十六症，皆由風熱壅塞於上焦，觸感而發，驟起疼痛，形症各別，所屬則同，故以一方統治之。如果系風熱實症，依法療之，無不應手而愈。若屬虛症，及感燥而致者，必不見效。倘執呆方，定多貽誤也。</p>
<p>一實症起，初發熱惡寒，頭疼，喉內紅腫有形，而痛不能飲水，痰涎多稠，按脈浮數有力，舌色蒼老堅斂而黃，咽間閉塞，大小便或亦閉結，乃極重之症。可用風路針針少商、少衝、合谷及風池、囟會數處，其餘諸穴，不可妄針。原用針者，急瀉其內蘊之熱，即發汗之義，故不宜多針。其次用辛烏散，取吐痰涎，使蘊熱之邪從涎而出，吹回生丹以散其熱結之痹，服紫地湯宣通肺胃風熱之壅實。若大便閉者，加玄明粉降火祛熱，消痰涎，去臟腑宿滯，皆從大便而出。汗吐下三法合治，乃分三路以瀉之，蓋因咽喉為關要，失治則閉。又恐風熱毒邪內攻，緩則不及。凡實症必須依法而治之，如屬虛證，則斷乎不可。</p>
<p>一初起似瘧，怯寒發熱者，乃喉患之本象也，並非外感風寒，切勿妄用羌獨活、秦艽、蘇葉、桂枝等味，蓋喉患本發於臟腑，非太陽膀胱表症也。若謂開首必須表散，以為層次治法，此依稀影響之醫從事俗見，究無根柢之學，殊不知火被升散而愈熾熱，得辛溫更致陽盛則閉，必輕則致重，重則致危，莫可挽救。且《沈氏尊生集》亦言，喉症最忌發表。無論初起惡寒發熱與否，只須辛涼而散兼養陰以制之，不必祛熱而熱自除，喉患亦漸鬆減。乃閱歷已久，驗效且多，故敢語此。</p>
<p>一初發熱不惡寒，咽間微痛，或紅腫而色淡，或腫處皮色帶亮，或腫而色赤不潤，痰涎清薄且少，皆屬虛候，及下焦陰火，或由感燥而發，乃本於水虧，不能制火故也。經云：驟起非火，緩起非寒而實熱虛寒務須審，確有似實而非實者，必須證之以脈。惟浮數有力者，方為實症。若細數無力，或右部大於左，更屬虛症矣。而紫地湯、辛烏散，皆不可用，即回生丹，亦不宜吹。只用青雪丹治以辛涼而散，兼採養陰法，自更獲效矣。</p>
<p>一辛烏散。惟實症之必需其取痰涎最速，能提拔風熱外出，即《內經》高者因而越之之義，一兼虛候，切勿用之，反傷津液而症反加重，猶如傷寒治法，須存津液為要。辛烏散乃劫奪救急之法，果系實症，立刻取痰涎，開關利喉，故應效最快，惟虛證乃屬內因焉，可耗及津液，是以不宜用。且近來遇用辛烏散之症實少，百中不過二三，大與曩昔有異，豈可執諸呆方而不知權變乎！</p>
<p>一是症不得以痰涎多寡論虛實。有虛候而涎多者，亦有實症而涎多者，有實症涎少者，亦有虛候涎少者。但看涎之稠濁與清薄之別，凡臨症於吹藥時，可審其虛實。如果實症，其涎流出必稠濁而長，不斷其氣穢。若屬虛症，其涎吐出清薄而短。又有吹藥後而無涎者，此津液為火所灼。更有感燥氣而致喉患者，痰涎愈少，而治法尤須養陰為要。若執定風熱閉塞，妄用升散解毒，則大謬矣。</p>
<p>一喉患大小便閉結，最為重候，必須審明虛實，不可妄用攻下。有因表散過劑傷及津液，以致大便艱者；有風熱壅閉於上而不大便者；有值燥金之令，傷於燥而不便者；惟是實症可下。若初起或大便閉結，亦不宜即下，須過二三日，看病人形色與夫喉間松減，而大便仍未解，可用玄明粉下之，導熱毒下行，即釜底抽薪之法也。本科只用玄明粉而不用大黃者，因其性峻烈威猛，恐傷真氣，惟玄明粉味辛微甘，能降心火，祛胃熱，消痰涎，去胸膈臟腑宿滯，且消癰腫。若兼虛症者，即不宜用，必須潤下法，或於養陰中加火麻仁及芝麻之類。經云：陰血下潤則便通。又云：腎主二便，腎開竅於二陰，須知重用，大熟地而便自解。</p>
<p>一針刀更不可妄用其所用者，原因叉喉鎖喉閉塞而施乃救急之法，並非諸喉症必需之具。至於針法，又須平日將《針灸大成》考究及參玩銅人圖，熟悉穴道，領會補瀉之法，方可以言針。可笑近來治喉諸輩，動輒用針，不顧病人痛楚，其實可針之穴只少商、少衝、合谷、風池及囟會數處，其餘諸穴，切不可妄針。尤有火窩坑一穴與啞門相連，更不可妄針，一經失手誤針，必立變音啞，為終身之患。至於用刀之處，亦因不得已而施及焉，尤宜慎用為要。如雙單蛾、重舌、木舌、嗆食風可用刀，略破其皮，使出血以瀉其勢之腫盛者。若初起亦不宜輕用，其坐舌蓮花症卻少，間或有之，亦不必用。猶有喉瘤一症，屬七情抑鬱及肝腎不足者，每患此，乃內因之症，更不可用刀。倘誤犯之，致害不淺。</p>
<p>一牙齦腫疼及牙癰之類，皆不宜刀破。若妄用之，反致延爛，或成牙漏骨槽之虞。雖古人謂喉痹不刺血，喉風不倒痰，喉癰不放膿，乳蛾不針烙，皆非其治也。以及《內經》血實宜決之語，皆指症實而勢腫盛者而施之也，並非教人一遇喉患，不分虛實，即動手以刀切之，是誠何心哉！</p>
<p>一咽口症。近來患單者多而患雙者少，但單者重而雙者輕，且實症少而屬虛者多。是症初起，微腫於會厭之旁，一二日猶能吞飲，至三四日必腫滿不能飲水。凡患左者必腫至右，然後漸消，方能進飲。患右者必腫至左，形勢雖重，卻無大礙，七日必松減而愈，是以單咽口之重者，在此腫也。而雙咽口反輕者，因其腫分於左右而會厭之下有空縫可以入飲，不過三五日即愈。至於治法，總不宜用刀。屬實症者，照本科方療之。若兼虛者，必須養陰中加辛涼而散治之為妙，並以赤麟散和青雪丹吹之，自然獲效。若咽口腫至上齶，形勢極重者，可用刀於近上齶邊，略為點破，使其血出，以瀉其勢。但不可切深，倘深切之，其腫雖平而刀痕反爛開，須用珍珠散及萬一丹始能收斂。與其用刀非宜，不若勿用為妙，且愈後無刀痕之傷，而病時亦少痛苦，豈不快哉！乃有以恃刀為能事者，毋論症之虛實，一遇喉腫，或雙單蛾、咽口喉瘤、牙癰、齦腫、舌腫等症，即以刀用力切之，血流盈地，今日未平，次日又切之，執定《內經》血實宜決之旨，自信不移，孟浪施治，及至連切五六次而不愈，有因此而成牙漏者，有因刀痕延爛經年久不瘥者，甚有因刀誤而致殞命者矣。然用刀之治，未嘗不愈數人，但是少耳。每有為刀傷而病人畏懼不復來，另往他醫求診者，並非用刀之妙而愈也，何其不知悔悟如是耶！</p>
<p>一唇瘡、口糜、舌瘡，為最易治之症，近來竟遭此夭柱者不少，蓋因誤治而致也。凡舌瘡諸症，必須分辨寒熱虛實，未可專執為胃熱心火。若妄任清涼，或導赤散及瀉心等法，其初白瘡必反轉為紅，漸有延蔓之勢，醫者不察，猶謂清之未透，復進寒涼而遏之，遂至水極似火，舌紫唇赤或燥裂而瘡蔓滿舌，及延爛至咽喉如白腐，以致音啞，打嗆氣喘，變為敗症而不救，是誰之過歟？凡小兒口瘡，有脾虛不能統涎，以致口涎流多，及嘴角濕爛而患者，有脾陰不足，過食甜味而致者；有由病後發熱不退而生舌瘡者；有屬上焦實熱，中焦虛寒，下焦陰火而致者；有因麻痘後服清涼解毒藥過多，致生舌瘡者，雖曰口瘡一症，而所因不同，故當審辨明，豈可以舌屬心，遂指定心火，而執治乎！且有傷燥而發口瘡者，更須審辨明確，毋論發熱與否，切忌表散，寒涼之劑一經妄投，立變音啞而不救，尤須養陰清潤為主，其熱卻不療而退，燥氣就平瘡亦自除矣。</p>
<p>一舌底青筋上生瘡，如半粒白飯，此症惟小兒最多，或由瘧後而生者，有久病後內熱不退而致者，有因積滯泄瀉之後而患者，有病假熱誤服清涼而生此瘡者，統是症各因諸醫不識治者甚多，每為認作心熱誤治者，亦復不少。蓋因舌底筋紋即名舌本故也，雖曰屬心，其責在脾。經云：五臟皆繫於舌，不獨心也。舌瘡則每由脾虛而致焉。有發熱，與不發熱有早晨不熱而午後熱者，有頭維潮熱及手足心熱者，總不宜疏散及清熱之藥，尤忌寒涼攻下，但治法專主理脾，切勿認作為火，若妄用芩、連、連翹、木通、燈心、犀角、山梔之類，其白瘡反轉紅色，即延爛漸大，甚至舌尖與舌傍亦發瘡，連及下唇口角皆有矣。猶復認為火盛，益進寒涼，或另遇他醫，亦復如是，不至危殆不休，深可嘆也！其尤可恨者，既不審病源，不知治法，猶悍然誹謗理脾之非，何其冥頑之極，殘忍之深，一至於此耶！是皆未究醫道之原本不學無術耳。按：是症俗名對心瘡，以起初色白而論，即知屬虛無疑，顯然非實火也。雖經云：諸痛瘡癢皆屬於火，是概乎言之，非指舌瘡之謂也。平日不於薛氏《口齒類要》集中，詳究原理，及參考各家方論，徒從事於時俗之所，尚恃為專科，可以惑人賺利，籲！是乃仁術也，執是業者，安可偏執而不博約乎？</p>
<p>凡是瘡潮熱未退者，六君加歸芍麥門冬主之。若兼便泄者，七味白朮散主之。或病後脾虛者，四君加歸芍。寒熱往來者，補中益氣主之。若瘧後兼腹膨者，異功散加歸芍主之。或咳嗽無痰間有內熱者，金水六君煎主之。若中焦虛寒，手指尖冷，面色青白者，理中湯主之。凡下焦陰火，或因寒涼過甚，而唇舌反現紫赤色渴不喜飲，以及感燥氣而致者，必須養陰清潤，非重用熟地黃不效。方法見白腐論中。吹藥用口疳散，或聖功丹，若神功丹亦可。若屬上焦實熱，舌胎焦黃，口渴，宜導赤散加麥門冬、丹皮、貝母、黑山梔之類，吹藥則用青雪丹，或聖功丹。舌瘡雖曰小疾，亦須證之以脈。若症與脈合，治得其宜，則易愈，斷無症實而脈虛之理，蓋是疾脈虛者，症亦虛，脈實者，症亦實，乃最易明曉之處，非比傷寒雜症之難辨也。</p>
<p>一舌瘡最忌慄蒲刺殼煎洗，其性苦寒而味澀，未用此者，猶易治。倘誤用洗過其瘡，即反延蔓，一時難斂，誠不易療，尤忌以青苔煎洗。苔本陰濕而生性大寒涼兼有小毒，若誤用致害不淺。惟桑樹汁取以塗敷口瘡甚妙，其性味甘和，塗之不見辣痛，且並治口糜等症。</p>
<p>一舌疳及舌傍兩邊腫疼，或舌底生爛宕瘡，中間黃白周圍一線紅者，皆不易治。而諸醫亦不識，治無不認為心火，每用瀉心導赤，如不應，便投犀角、黃連、黃柏、知母之類，愈涼而愈遏，以致舌爛瀰漫，或高腫而不能消，經年累月，變為敗症者比比，良可悲夫。蓋是症由於七情憂鬱，肝木不舒，思慮煩悶而致者多。經云：肝脈系舌傍，五臟皆繫於舌，非專屬心也，故從肝治，乃得其旨。凡起初未服清涼者，猶易療。一經寒涼雜進，便難施治。若論診治之法，起初則以黑逍遙散加丹</p>

<h1>附錄</h1>
<p>虯村黃泰兄尊堂年五旬余，舌底右邊腫起如條，長寸許，色黃微痛，不便，飲食結喉。右旁亦腫，如痰核，軟中覺硬。初來診治，左關微弦，投以黑逍遙散，吹以青雪丹，外敷白芥子、香附、貝母等末，繼進以六味加歸芍已痊其七八。因懶服藥，迨及半月，兼氣惱，而腫較甚，舌底腫處亦大，倍艱於食，即依前法，毫不效驗，乃更他醫。用海藻、夏枯草、香附、川鬱金、白芍、當歸、牡蠣等味數劑，亦不見應，復來求治，而外腫更大，如覆杯硬，且拒按，舌腫稍拱起，因專用六味熟地加至六錢，囑服十劑，竟至七劑，內外全消而愈。前於方中加歸芍。即不效，六味之妙用，其義深矣。</p>
<p><u>又</u></p>
<p>上市程治堂封翁，素喜煙與燒酒同吃，歲己未年，屆七旬，舌底兩旁忽腫，初並不覺妨硬，漸醫漸腫硬，漸妨言語飲食，而諸醫猶皆執定心經蘊熱，由於火酒與煙，有用導赤瀉心者，有用黃連清心者，有用復脈飲加犀角者，有用生熟地、麥冬、玄參、連翹心、蓮子心、燈心者，亦有用紫雪點者，延治一年，未見稍效，乃遇善於用刀者，硬將兩邊腫處切破，血流盈地，延半月竟歿。</p>

<h1>喉部經絡</h1>
<p>咽喉　任脈至咽喉。督脈入喉。衝脈任脈會於咽喉。足陽明循喉嚨。手太陽循咽。足少陽循喉嚨。足厥陰循喉嚨之後，上入頏顙。手少陰支者上挾咽。足少陽之別上挾咽。足陽明上循咽。足太陰合於陽明，上行結於咽。手少陰之正上走喉嚨。手厥陰出循喉嚨。手太陽循喉嚨。足陽明挾咽之動脈。上焦並咽以上。</p>
<p>嗌　足太陰脈絡嗌。</p>
<p>會厭　厭小而薄則發氣疾其開闔利，厭大而厚則開闔難其氣出遲。足之少陰絡於橫骨。終於會厭。</p>

<h1>舌部經絡</h1>
<p>舌　舌者，心之官也，中央黃色，入通於脾，開竅於口，故病在舌本。足少陰之脈貫腎系舌本。心主舌在竅為舌。升明之紀其主舌。足太陰連舌本散舌下。足少陰挾舌本。足太陰貫舌中。足少陰直者系舌本，足少陰貫舌下。足少陰之標在眥腧與舌下兩脈。足之少陰上繫於舌。手少陰之別系舌本。手少陽之筋支者入系舌本。足太陰之筋支者別入結於舌本。上焦上至舌。厥陰者肝脈也肝者筋之合也筋者聚於陰器而脈絡於舌本。其濁氣出於胃走唇舌而為味。心氣通於舌心和則舌能知五味矣。</p>

<h1>齒牙經絡</h1>
<p>齒牙　手陽明入下齒中。足陽明下循鼻外入上齒中。手陽明之別遍齒手少陽之筋支者上曲牙。足陽明循牙車。足太陽有入頄遍齒者，名曰角孫，上齒齲取之。齒者骨之餘也。</p>

<h1>口部經絡</h1>
<p>口　中央黃色，入通於脾，開竅於口。脾主口在竅為口。備化之紀其主口，手陽明挾口。足陽明上挾口。足陽明出於口。脾氣通於口脾和則口能知五穀矣。衝脈絡唇口。</p>

<h1>唇部經絡</h1>
<p>唇　脾之合肉也，其榮唇也。脾、胃、大小腸、三焦、膀胱者，倉廩之本，其華在唇四白。督脈環唇。足陽明環唇。足厥陰環唇內。口唇者脾之官也。</p>
<p>唇舌者，肌肉之本也。</p>

<h1>項頸部經略</h1>
<p>項頸　督脈之別上項。督脈還出別下項。足太陽下項。足太陽循項。手太陽循項。手少陽上項。足厥陰循喉嚨之後，上入頏顙。足太陽從膂上出於項。足少陰系舌本，復出於項。足陽明之別上頭項。足少陰之筋挾膂上至頂。手太陽之筋，支者循頸，出太陽之前。手陽明筋直者，從肩駋上頸。中央之脈督脈也。衝脈上者出於頏顙。肌肉之精為約束，裹擷筋骨血氣之精，而與脈系後出於項中。</p>
<p>喻氏有言曰：不明十二經絡，動手便錯，況咽喉為關要之樞，故尤須明晰為要。茲於《類經》所集，咽喉、齒、唇、項、頸、口、舌諸經絡附錄於上，以備參考，庶臨證不致茫然而無所措也。</p>

<h1>喉症白腐例言</h1>
<p>一是論發前人之所未發，為喉科提綱挈領，專指屬虛傷燥立言，故證治在於肺腎，重以養陰清潤為主，緣因治驗良多，閱歷不爽，乃不揣固陋，互參而詳辨之，俾患是疾者，咸登壽域焉。</p>
<p>一凡病無不感於六氣而是症亦然，緣六氣之中，惟燥之治最難，況乎燥金之發於喉，白為尤難，故集中專論傷燥之虛而不及諸候之實。其餘五氣感發者，俱易於辨治，或表散辛溫，或寒涼清降，以及吐下等法，隨治自愈，安用嘵嘵致辯哉？</p>
<p>一唯曉六淫之氣為患，殊不知六淫之外猶有七情憂鬱，郁久而為熱，為內傷，值燥金之令而發者，或本質水虧，因嗜食辛辣炙煿之味以致者。然則此二者，宜表散乎，宜清降乎，宜辛溫吐下乎？抑又作為傷寒伏氣乎，乃不於證之屬虛、屬實、屬寒、屬熱、屬燥，詳察而確別之，徒執一症名為空談，何異風馬牛之不相涉也。為人司命者，貴於臨證識治，權變活潑為要，不在紛紛，徒以名目炫惑也。至於小兒，雖無七情憂鬱，然每由先天不足，金水失養者，亦易於傷燥也。</p>
<p>一傷寒伏氣，考之諸書及《醫學心悟》，名為腎傷寒，謂其非時暴寒伏於少陰，寒氣抑鬱，內格陽氣，始初不發，旬日乃發，上行於咽門經會之處，寒熱相搏而成，咽痛脈息微弱，後必下利，當以辛熱藥攻其本病，順其陰陽，則水升火降而咽痛自己。按：此即少陰喉痹症也，迴非喉白之屬可知。若謂伏氣，惟伏寒、伏暑、伏火、無容別辨，至於伏燥、伏風、伏濕，其義牽強矣。即如喻氏、陳氏大辟驚風二字命名之謬，其理可推，又何必穿鑿命名，附會其說乎？所謂名不正則言不順者，即此理也。</p>
<p>一羌活，乃足太陽膀胱經藥，直達肌表，於喉症非宜。且十二經中，惟足太陽膀胱之脈，上額交巔，絡腦，下項，循肩膊，挾脊，抵腰，結於缺盆。不循咽喉則喉患，非太陽膀胱之屬明且著。況喉白之屬虛燥，尤非羌活所宜投也。喻氏曰：不明十二經絡，動手便錯，乃有以羌活為能事者，不論虛實，一見發熱，動輒用之，只皆因平日不肯詳細參審而隨手寫慣耳。殊不知其利害，以致貽誤者多矣！</p>
<p>一是症每誤於不辨虛實，忘用表散寒涼者多。又因聽信旁言指引，專科高明，遂遭固執之方之害者，更多也。</p>
<p>一初起未服表散寒涼及升發攻下苦降藥者，易治。雖屬燥金，而肺腎未傷，只從本緩治當漸愈。</p>
<p>一有醫每遇症，無論虛實輕重，豫存自己地步，便云此症極險，萬難著手，以為交代在先，如是任意妄施，動手亂挑亂刮輕則致重，重則致危，莫可挽救，此乃不因病死多因治死耳。及至後患者，仍復如是療之，終不悔悟，以致一家數口，皆遭是阨者，不可勝數。因而清夜思之，無以塞責，乃聲言假白腐可療，其真白腐證，萬無一生，如此不學無術之輩，猶有為其所惑而深信不疑者，不亦謬乎！</p>
<p>一因畏熟地如砒石，及庸醫誹謗之非，竟將功虧一簣之際，復為寒涼攻下，而突變舌黑如墨，氣喘音啞，目直口張，以成敗症者比比。此本屬易治不死之症，乃遭庸醫而竟殺之，殊深痛恨耳！</p>
<p>一《醫門法律》，首列醫之罪過二十有五條，夏卓溪鐵鏡著有九，恨詎醫道之難明，不特罪過日多而為恨，亦益增廣也。為仁術者，當如是乎。</p>
<p>一臨證貴於望聞問切之際，審察周詳，機巧靈變，則一切自無貽誤。經云：望而知之者，上工也。凡小兒傷燥發為白腐者，面色必㿠白帶青，鼻聲粗塞，手尖必冷，右脈必數大於左，或兩脈俱數無力，其肺腎陰虛無疑。先一望而消息已得再證之以脈，而虛實立判，殊不難於施治也。何其忽略，而不審辨，概用清降瀉利法，執定刷板呆方，安得使人不夭枉耶？是故夏卓溪曰：醫有十三不可學也，一下愚之人，必無慧思不可學，一固執之人，必難融通不可學，縱使熟讀《靈》、《素》，博覽群書，徒於稠人中談論，覺無人可及，一經臨證，則舊態復萌，仍系故套呆方而已，不啻於大涅槃經舊醫客醫之說。夫舊醫之治病，不別風熱寒溫，悉令服乳藥，禁用客醫之厲藥。由是觀之，雖謁大自在而求之，豈可得耶！</p>
<p>一是證，或曰土凝霜滷是也。考之《素問》運氣篇五郁之發，論曰：金鬱之發，天潔地明，氣清氣切，大涼乃舉，草樹浮煙，燥氣以行，霿霧數起，殺氣來至，草木蒼乾金乃有聲，山澤焦枯，土凝霜滷，怫乃發也，其氣五。又曰：燥勝則乾。陽明所致為收，為霿霧。金燥受邪，肺病生焉。陽明燥化，施於厥陰。陽明所致，為煙埃、為霜、為勁切、為悽鳴。陽明所致為燥生，終為涼（注云）。金位之下，火氣乘之，故陽明生涼，終為燥也。又曰：火鬱之發，有土浮霜滷。</p>
<p>愚按：喉白形色如酒罈中傾酒時浮出白腐一般，此由熱鬱於內，從濕生焉。因壇中沸熱之氣閉悶不得泄，陰氣凝，則霿霧厚，即土浮霜滷之義。此熱鬱之屬，而非燥生也。夫燥為肺金之本象，值陽明之令，感發而燥益甚，是以土凝霜滷，由燥氣行，故山澤焦枯，土面凝白，滷結為霜。其發也，在氣之五以土凝霜滷較論近是，是亦緣本於燥也。然則論治當養陰清潤乎，不當養陰清潤乎？乃有明知為土凝霜滷，而臨證仍復，茫然用藥，尚習故套，是誠何心哉！若謂從俗易於近人併為行，道之法門，其如蒼生何籲？為人司命者，能無惻隱之心乎？</p>
<p>一肺實可瀉，肺虛則斷不可瀉。白腐發於燥者，實由肺虛而致之也，故桑白皮、馬兜鈴之類，毫不可犯，用之速其殆矣。皆因醫者，囿於所習，不肯於肺虛處考究，執定為蘊熱實症治之，以此每多致誤。虛實之辨，毫釐千里，焉可忽諸。</p>
<p>一小兒陰虛，非謂血分之陰虛，乃真陰腎水之不足也。真陰之不足，由於賦稟之故耳。況今之稟受十有九虛，而所因實亦緣氣化之薄，故燥症多本於水虧，且燥為肺金之本象，若金水相生，得浚其源，而安其流何燥之有？縱值燥令，亦無所傷，是燥之襲虛皆由真陰不足而致之也。試思論治當如之何？</p>

<h1>論白腐證</h1>
<p>喉間白腐一證，俗名白菌，即白纏喉是也。廿年以前，此症患者尚少，邇來染是疾者甚多，每為誤治而夭者，不知凡幾，深可憫也。凡大人患此症，猶易施治，惟小兒為尤難。蓋因其幼小體質薄弱，脾腎不足故也。是以小兒之白腐證，多於大人，必且傳染，若治之不善，易於次第夭傷，甚至一家數口皆遭是阨。按：此症由肺腎陰虛，因以感受天時，燥金之氣，即傷燥之候也。或云：傷寒伏氣者，非也。有云少陰慢喉者，亦非也。又云疫癘爛喉者，更非也。但初起有發熱與不發熱之別，有熱者重不熱者輕，即起初發熱，亦切不可發表，若認作外感發熱，用羌獨活、秦艽、荊芥之類，一經表散，而燥當更盛，其白腐愈蔓，其熱亦愈熾，鼻孔必轉塞不通，甚至音啞，打嗆氣喘等症俱作，而不可救矣。張會稽曰：火得升散而愈熾。沈金鰲曰：凡喉風諸症，總不宜發表，何況白腐之屬燥乎？是以發表與寒涼之品，毫不可犯，執認肺胃蘊熱，又兼風邪，必先表散以為層次治法，定然貽誤不淺。即如牛蒡子、射干、山豆根，本草雖載其能清利咽喉，解喉痛，桑白皮、黃芩瀉肺熱，桔梗開提肺竅，殭蠶解喉痹痛，以上諸品，皆系療咽喉要藥，惟白腐一症，最不相宜，倘妄用之，必變音啞打嗆氣喘而不救若執而不悟，復認為肺熱閉塞，再投麻黃、枇杷葉、石膏、犀角、羚羊角、馬兜鈴等味，即變胃爛發癍而斃矣。至於喉科所論，攔定風熱，攻上不下之語，及用紫正散以角藥探吐，又有因未大解，遂用生大黃、玄明粉以下之，更速其死，是皆未探其源也。</p>
<p>凡症有寒熱虛實之別，惟有白腐一症，雖有寒熱屬實者絕少，而屬虛者多。若初起見喉兩旁紅腫而後起白者屬實，中兼虛為易治，或誤用表散及吐下法，其症必淹纏日期，及至重用養陰而後得漸痊可。若屬虛證，值陽明燥金之令而汗吐下三法及雄黃解毒丸、紫金錠等劫奪之劑，一經妄投，誠難救矣。</p>
<p>凡初起喉間不紅腫即有白腐，或厚或薄，或有如稠糊及發熱者，乃最重之候。其源責在肺腎陰虛，其脈必浮數無力，手尖必冷，切不可投以表散及寒涼之品而治，法務須養陰清潤，始不致誤。總之，認定一燥字主治，乃活人心法也。每見誤治者，必變音啞打嗆，鼻塞痰響，氣喘而殞，其為肺腎之屬可知。知非肺胃風熱，外因之邪，益可知也。或論既屬肺燥而致，則喻嘉言之清燥救肺湯，與夫古方之瀉白散，最該對症，殊不知救肺湯中有石膏、枇杷葉、阿膠，乃清肺實之熱，其瀉白散系驅肺氣之逆而瀉氣之有餘，惟是白腐症，乃由肺虛感受燥氣而發，故此二方俱不相宜。若果肺氣實者，無是患也。且歷按是症，發於春秋二季，值天時亢陽之際居多，當炎暑夏令竟少而冬燥亦有之，總由燥金之為患。然六氣之中，惟治燥最難，而況發於咽喉白腐之燥乎？當知此燥之為患，與他燥火諸症不同。書云：燥為六氣之一，肺金之本象也。受熱則燥更從火化也。燥在內則津少，煩渴在上則咽焦鼻乾，蓋金為生水之源，金被火爍，腎水失其源矣安得不五內炎蒸？臟腑燥烈，雖似有餘，實為不足。經云：秋傷於燥，上逆而咳，發為痰厥。可見上虛必虧於下，子母不能相生故也。又曰：腎苦燥，急食辛以潤之。又曰：諸澀枯涸，幹勁皴揭，皆屬於燥。馮楚瞻曰：涸者無水液也。乾者，不滋潤也。勁者，不和柔也。皴者，皮膚啟裂也。澀者如諸物濕，則滑澤，干則澀滯，是皆爆金之化。然燥之標由於風與火，而燥之本實根於脾與腎，蓋脾精不能轉輸，而陰精不能上奉，所以肺失化源，自見其象耳。故幼稚本質，脾胃及腎不足，感燥氣而發是症也。是以治宜生津養陰，滋潤為主，豈可妄施表散，而繼以寒涼者乎？稽之方書本無白腐之證，尚無是症論說，邇來患此者甚多，及至傳染難已。猶之痘疹，漢建武以前，並無論到，至宋錢仲陽立說，相傳而今之白腐證，亦如痘疹，隨時感召而發，此亦天氣懸殊之故也耶！惟是今時幼稚，稟受怯弱，嬌養柔脆，先天不足，腎陰未充者，恆居多數，錢氏獨具卓識，創論以六味，調治小兒，培陰以配陽，其義甚為深遠。若小兒一患白腐，肺腎必然兩虛，生化之源遂失，水竭則腎涸，腎涸則下泉不鍾，而陽盛於上，其燥益熾，斯喉痹音啞痰結煩躁打嗆等證作矣。</p>
<p>書云：肺為諸臟之華蓋，清陽出上竅，濁陰出下竅，咽主地氣，喉應天氣，屬乾金，為肺之系。喉以納氣，故喉氣通於天，咽以納食，故嚥氣通於地。又肺開竅於鼻，肺氣通於鼻，鼻主天氣。又精氣通於天，故值天時燥氣之令即從鼻入而肺先受之，輕則發咳不已，重則發為白腐之患也。且肺為清肅之令，宜降而不宜升，況邪之所湊，其氣必虛，凡肺氣充實者，故無是患也。要知諸氣膹鬱則肺氣必大虛，若泥於肺熱之說，投以升提及瀉利之劑，反從火化而燥愈熾亡，可立待耳。是以桔梗一味，首在切忌，古人雖以甘桔湯治諸喉患，是取其宣肺之壅實，斷非指燥氣之喉症也。今人不思其法，徒執此方為治喉要藥，殊不知是症非喉病也，乃肺燥發現於喉也，若泥以喉風諸藥治之，安得不誤蒼生者乎？第此症不易冒昧從事，務於喻氏及張氏《醫通》與馮氏《錦囊》所論燥症門條中參究而領會焉，庶幾無舛誤耳。</p>
<p>或曰：盡系六淫之氣為患，本屬不治之症。又云：真白腐症亦不可治。假白腐可療，此掩飾之，詞混入聽聞之語耳。凡病兼外因無不感於六氣，非獨白腐一症也。若謂六淫之氣皆蘊蓄於內而發，則無是症，亦無是理也。盍專指一燥字施治，則得之矣。至於真假之辨，尤屬荒唐，惟有詐病為假，真寒假熱，真熱假寒為假，除此及真頭痛之外，病何真假之有哉？或分虛實言之，未嘗不可以實症白腐為易治，而虛白腐為難治是或一道焉。</p>
<p>有云：白腐一症，責在君相二火，必須以瀉心平肝兼治，此臆度牽強之語，烏足以言醫！夫二火或發於咽喉他症者，尚有之，若執此以論白腐，則大謬矣，即謂二火為患，亦由腎水之不足，腎水之不足，則由肺金失生化之源也。張戴人曰：識得標只治本，治千人無一損，斯言也，安可忽諸！嘗見師心自用者，泥於君相二火，每縱用燈心、川連、龍膽草、犀角、羚羊角等味致使夭枉者比比，而猶自矜，獨得之妙，終不悔誤，良可悲夫。</p>
<p>即近來患諸喉症亦由感燥者多，非獨白腐為然也。臨症若不審辨，泥用風劑治之，輕則致重，重則致危，而不誤者鮮矣。余經治以來，每用清潤養陰法，獲效甚廣，遇用風藥者，間或有之，而家傳之紫正湯、辛烏散等方，則未嘗用及，奈屬實症甚稀，而陰常不足者恆多也。王太僕云：壯水之主，以鎮陽光，斯義誠深妙哉！或問曰：所論白腐，由傷於燥，兼值肺腎不足，當禁用寒涼及辛散攻下等法，第見有用羌活、桂枝而愈者，有用防風、牛蒡子、荊芥、桔梗而效者，或用大黃、玄明粉而應者，或用川連、石膏、犀角而平者，復有用附子、乾薑乃痊者，此亦皆治喉之法，何其相懸之若是耶，誠哉問也。凡症有寒熱虛實之不同，原不可執一而論，其用辛溫表散，攻下發汗，清涼而愈者，俱是屬實之症，乃喉內紅腫有形而後起白腐之類，斷非咽間無形之白蔓延纏喉可比，而六氣之中，凡感受風寒暑濕與火之邪而發喉患者亦所時有，非止白腐傷於燥也。其感受風寒暑濕，與火發諸喉腫而起白腐者，此即妄言假白腐證，易治是也。至於傷燥及腎陰不足而發白腐者即其稱真白腐證，萬無一治是也。如果白腐有真假之別，則經治之間，即當分真假立方才是，何得概泥一方而統治之耶？其間豈無虛實寒熱之別辨乎！試問究屬風熱實症之真，白腐不能治乎？抑屬肺腎陰虧之真，白腐不能治乎。何嘗分別而言焉？然肺腎陰虧之白腐，既不知治法，又恥下問，乃固執自是之呆方，照尋常諸喉患療治，安得不誤蒼生者乎！</p>
<p>趙養葵曰：世人皆曰金生水，而予獨曰水生金。夫肺出氣也，腎納氣也，凡氣從臍下逆奔而上者，此腎虛不能納氣歸元也。毋徒從事於肺，或壯水之主，或益火之源，肺向水中生矣。唐笠三曰：水生金，乃金生水之對面，曰世人但知其一面，而不知又有彼一面也。由是類推，而白腐之傷於肺燥，不亦宜乎！善悟者，當更得其旨矣。</p>

<h1>論治</h1>
<p>一是證輕者，微發於咽旁；重者，其白蔓於喉及喉管；至極重者，其白纏滿肺系，以及肺內皆有，非僅現形於喉部也。是以打嗆音喑，鼻塞氣喘齊作，皆由白腐黏塞於內之故，所謂有諸內必形諸外者也。試思辛溫表散，攻下寒涼等法，可施否乎？一經妄投，其白在內，浸淫愈甚，肺氣益虧，更速其殆，不過七日發喘而斃矣。一白腐，切不可動手用刮及妄施針灸，此原屬內因虛候，非風熱實症之可倫。嘗見有用牙片將白腐強刮以為立時取效，希誇妙手之名，殊不知動刮之後，其白雖去，旋覆萌發，必較前更劇，且刮時每致傷出血，而腐處痛益甚，症亦增重矣。因刮傷而致殞者，蓋亦不少，然猶執而不改，不識從何處得來，如此神奇，竟不肯舍，即如舌瘡糜爛，亦動刮之，是誠何心哉！將謂刮法易效，效捷於湯液之治，勝於一匕活人，其功豈不大哉？無如動刮之後，每多不救，籲！過而不改，是謂過矣，為仁術者，當如是乎。一白腐不挾雜證猶易施治，倘兼他症，或發癮疹流丹斑瘭，又壯熱不退等候，最難著手，須知丹疹斑瘭有陰陽之別及虛實之分，不得執定風熱實火，使用石膏、黃連、黃芩、花粉、犀角等味，一經妄投，轉為內陷，必致循衣摸床，直視譫語，諸敗症現矣，洵難救治。若體質屬實，或口渴引飲，大便閉結，小便短少，脈數有力，審明證與脈合，舌胎焦黃，其喉間白腐勢輕，而渾身丹斑之勢重，色赤如丹砂，亦須養陰中或加石膏、山梔、炒芩之類清之可也。倘本質虛弱肝腎不足，其白腐重於丹疹，兩脈虛數無力，口不渴，或渴不喜飲，舌苔柔嫩無焦黃色，此乃浮游之火騰越，非實火也。書云：火之有餘，即水之不足，切勿徒從事於丹疹，只須注重養陰，兼以清潤，斯一舉而兩得矣。一丹疹每因喉患，初起有發熱惡寒之作，醫者不察所因，擬為時感之症，輒誤用蘇葉、桂枝、乾薑、附子、羌活、厚朴之類，陰液為其所灼，鼓動浮游之火，燥中加燥，以致逼出丹疹，此乃屬無根之火。假使妄施寒涼，則水極反從火化，其誤不淺。一白腐發於嚴寒者，因寒邪蘊而為熱，起初不知病由，認作感受寒邪，誤服乾薑蔥湯，以致喉痛，發為白腐，其鼻不塞可治。若鼻塞及胸脅築悶，則誠難治。緣肺熱還傷肺也，如發熱時，喉內兩旁紅腫而有白腐者，宜先用荊防、薄荷、牛蒡子之類微疏解之，再用治白腐法，而患自平。若頻進祛風散寒及辛溫之劑，白腐未必能除，即變生他症，或且胸築痰鳴氣喘等候作矣。一白腐俗呼白菌。凡鄉隅小兒患此者，土人嘗取樹上所生濕菌煎洗，及與菌湯服之，其輕者間或有驗，重者每多致誤，第不識從何處傳來以菌，治菌誠可嘆也。</p>
<p>一蘇郡近出《吳醫匯講》一書，內有爛喉丹痧，論蓋即吾鄉所患之白腐症也。其論三則：一唐子迎川，一祖君鴻範，一李子純修，皆云近來患者甚多，患而死者亦復不少，並易傳染，方書未詳言，及治亦無從措手。唐氏云：或言辛散，或言涼解，或言苦寒，俱師心自用，各守專門，未嘗探其本源，乃引仲師《金匱》書陽毒之為病，以升麻鱉甲湯主之。指《內經》熱淫於內治以鹹寒，佐以苦甘之旨，而祖君則論是症之所來，不外乎風寒濕熱，時厲之氣，解表清熱，各有所宜，治之得宜，當愈不移時，治失其宜禍生反掌。若漫用寒涼，則外益閉而內火益焰，咽痛益劇潰爛日甚。不明是理者，反云如此涼藥，尚且火勢勃然，猶謂寒之未盡，於是愈涼愈遏，以致內陷而斃者有之。或有議用清涼者，乃以郁遏誹之，炎熱燎原，殺人最暴，此偏於散而謗誹清者之為害也。彼言散之，宜此方散之禍，彼言寒之禍。此言寒之宜要惟於先後次第之間，隨機權變，斯各中其窾耳。李氏之言，則云譬之於物以盛火煏之，只見乾燥而不知濕熱鬱蒸，所以致腐耳。其患之處色白如粉皮樣，或腐至小舌，鼻塞閤眼朦朧者，皆不治之症。總之，因天地不正之氣，感而受之，故體有虛實之不同，即症有輕重之各異。瀚按：三子所論，皆指風熱濕寒屬實症而言，未嘗悟及傷燥，與夫肺腎陰虛之爛喉也。是故外因諸實症易曉，而內因不足之咎人每多忽略焉。至唐氏引《金匱》升麻鱉甲湯，法分陽毒陰毒之義，亦尚未妥善也。一白腐固有寒熱虛實之分，不盡屬於燥之一端，有因風寒蘊蓄而發者，有受風熱侵越而致者，有嗜食炙煿辛熱之味熏灼而患者，有實中兼虛者，亦有虛中兼實者，有似虛而屬實者，亦有似實而屬虛者，證各不同，治當分辨，未可拘執呆法，至於宜表散，宜辛溫、宜清涼、宜溫補、宜養陰，貴在乎臨證之際，機巧權變，神而明之，庶幾其可耳。</p>

<h1>方論</h1>
<p>一證有不同而吹藥之治，亦須分別良未，可以一方而遍施也。如《外科正宗》之金鎖匙冰硼散，乃治屬實症之喉風，非白腐症之所宜用，且近來諸喉患用之尚不甚效，何況白腐之屬燥屬虛者乎？嘗見治喉之輩，無論虛實，均以此丹吹之，尤有於呂雪丹中加辰砂者，殊不知焰硝雄砂，皆劫奪之品，豈可施於白腐爛喉之症乎！但用此藥吹之，已經相反，又加之湯液，非宜，安得不夭枉人命者耶？一白腐最忌酸鹹澀味點染，如白霜、梅、殭蠶、牛膽、膽礬、枯礬、牙硝、玄明粉之類。一呂雪丹惟於紅腫有形而起白者宜之。一本科辛烏散不宜用，倘妄用之，其白腐更甚，而症反增劇矣。一神功丹最相宜，其人中白鬚要經歷霜雪陳過數十年者方佳，若新者不可用。一柳華散亦不宜妄用。一麝香、皂角、藜蘆，皆不宜用冰片，宜於少不可用多。一治法，凡咽內不紅腫而起白者，開首必須辛涼而散，於湯液中只用薄荷三四分，不可用多，多則泄汗亡陽，反傷肺氣。若現鼻塞音啞，打嗆氣促，鼻煽等候，而薄荷即不宜投，如辛涼不應，亦不宜再進，即當以養陰清潤為主，勿論其發熱與否，專養陰而熱自除，喉白亦必漸減矣雖曰方書未詳言及一經闡發明哲，又何難治之有耶？至於小兒本由肺腎不足，而發是症，復為庸醫妄投表散、攻下，以致肺氣益傷發喘鼻塞，音啞打嗆，而舌未黑者，惟用獨參湯，頻進，可救一二。無奈人參近今價貴極矣，萬難應用，即費去重價，亦少真者，用亦無益，醫雖有方藥難應手，不亦殆哉！</p>

<h1>內服方</h1>
<p><u>養陰清燥湯</u>　治肺腎陰虛，感燥而發，咽痛白腐，纏喉，及口舌白瘡，口糜唇瘡等症。方雖平淡無奇，而神效甚捷，誠喉科之津梁也。老子曰：下士聞道，大笑之，不笑不足以為道。此則聞方，大笑之，不笑不足以為方。</p>
<p>大生地（二錢）　大麥冬（二錢）　川貝母（八分）　粉丹皮（八分）　玄參（一錢）　薄荷葉（三分）　生甘草（五分）</p>
<p>水一鍾半，煎至五六分，溫服。</p>
<p>如發熱者，不必拘泥外感之有無，只照方投之而熱自退。如鼻塞音微，喑氣急者，去薄荷加玉竹二錢，北沙參二錢。若舌胎黃色而唇燥者，加真釵斛一錢。肺熱咳嗽加干桑葉三片。大便閉結三四日，未更衣者，加叭噠杏仁去皮、尖研末八分，黑芝麻三錢，或火麻仁二錢亦可。如時行燥疫，易於傳染者，加陳人中黃三分。陰火盛而咽乾不潤者，加大熟地三錢，天門冬去心二錢，女貞子一錢。若屬體質虛弱，兩脈浮數無力，或潮熱不退者，去生地，重用大熟地，而熱自除。或白腐已減，尚有些微滯於咽間不得退淨者，亦須重用大熟地至五六錢，其白即除矣。屢經效驗不爽，足徵責在肺腎可知。如喉白概已退淨，可用炒白芍八分，甜百合二錢，以固肺氣，淮山藥亦可加入。</p>
<p><u>瓊玉膏</u>　此方治傷燥及肺腎不足白腐，音啞打嗆，並臻佳妙。</p>
<p>大熟地（一斤）　北沙參（二斤）　玉竹（一斤）　白茯苓（六兩）　白蜜糖（八兩）</p>
<p>上將地黃，用竹刀切碎，同沙參、玉竹、茯苓用長流水入大砂鍋內熬汁，以熟地汁盡渣枯為度。再過濾力絞去渣，加白蜜再熬成膏。另置淨瓶內，以蠟封固懸水井中一晝夜，取起，再隔水煮半日。每用開水點服，神效非常。切勿因平淡無奇而輕視之。</p>
<p><u>兩富湯</u>　此方金水相生，治白腐音啞，甚妙。</p>
<p>大熟地（一兩）　大麥冬（一兩）</p>
<p>取長流水與井水各半，煎濃，徐徐服之。</p>
<p><u>兩儀湯</u>　治白腐打嗆，音啞氣喘等候，莫妙於此方，真乃救危之法。未誤服表散辛溫之劑者，均可以挽回。若經誤投，雖用此亦無能為矣。</p>
<p>人參　大熟地</p>
<p>用長流水煎服。或加麥冬亦可。</p>
<p><u>甘露飲</u>　治喉白咽乾不潤，咳嗽唇燥，舌乾等候。</p>
<p>大熟地（三錢）　大生地（二錢）　玉竹（三錢）　大麥冬（去心，二錢）　天門冬（去心，一錢）　馬料豆（二錢）　炙甘草（四分）</p>
<p>是方得人參更妙。井水二鍾，文火煎服。</p>
<p>證治總不外乎辛涼養陰清潤，若稍兼疏表，不惟不效，且反增劇。亦有初起即不宜辛涼，遂當養陰者，種種權變，須存乎其人，非呆法可定也。</p>

<h1>吹樂方</h1>
<p><u>聖功丹</u>　治咽痛白腐，糜爛，口舌白瘡，口糜，唇瘡舌爛，舌根白瘡諸症，並臻神妙。</p>
<p>青果炭（一錢）　鳳凰衣（一錢）　兒茶（一錢）　川貝母（去心，一錢）　黃柏（八分）　薄荷葉（八分）　冰片（五釐）</p>
<p>上各藥，另為細末，絹籮篩過，再為和勻，加入冰片，同窳收固，勿使泄氣。每吹少許。腐爛重者，加人中白二錢。</p>
<p><u>神功丹</u>　此方亦妙。</p>
<p>人中白（煅，二兩）　川黃柏（六錢）　真兒茶（六錢）　漂青黛（六錢）　薄荷葉（六錢）　真梅片（六分）</p>
<p>上各研極細，過篩，將分兩稱足，和勻，再加入冰片，同窳收固。</p>
<p><u>秘妙丹</u>　治喉爛白腐口瘡等症。</p>
<p>大蟾蜍一隻，於端午日取系懸於陰處，俟干，置陰陽瓦上，以文火煉酥，不可炙焦。研極細末，略加冰片二釐，窳勻收固，每吹少許，甚妙。</p>

<h1>藥性</h1>
<p>不宜於白腐爛（共六十八種）。</p>
<p>一羌活。凡喉風諸症，首在切忌，於白腐尤屬不宜，蓋羌活乃手足太陽引經之藥，散肌表寒邪，利周身疼痛，與喉患全不相涉，何必表及無辜？而今時之醫，一遇喉症，動輒用之，以致症之轉重，而不能收功者有之。猶執迷而不悟，遇後來者，仍復用之，洵可嘆也！善治者，無論風寒發熱之與否，從未用及，使其有熱自退，且喉患易愈，亦不愆期，豈不更妙乎？</p>
<p>一獨活。入腎與膀胱兩經，專理下焦風濕痛痹，亦非喉症之所宜投也。</p>
<p>一秦艽。本入陽明清火藥也。治風寒濕痹，利小水，解溫疫熱毒，或牙痛口瘡發熱者可用。</p>
<p>一桔梗。療諸喉風相宜。一兼虛候，則當慎用。至於白腐證，大相逕庭。蓋其有升無降，開提肺竅，能載諸藥上行，其肺實者固可用，而肺腎陰虛之白腐證，則不宜升提開竅，犯之必反劇。猶有不識病者，輒妄用至二三錢，以致肺氣益虧而愈閉，乃覆加石菖蒲以助之，其不殆也幾希！</p>
<p>一射干。苦寒，有毒。本草雖載為治咽喉痹痛要藥，療實熱症則可，若實中兼虛者，即不宜施用。至白腐之患，又豈苦寒有毒之味所能療者耶？</p>
<p>一山豆根。大苦寒。固有治咽喉之名，或於實症喉痹稍可，若論白腐，本屬肺虛燥症，豈可妄投？亦不宜與射干之苦寒並用，識者當慎之。</p>
<p>一桑白皮。為西方之藥，甘辛微苦而氣寒，仍瀉肺實之火，雖清肺止咳喘，然亦非白腐所宜。張會稽曰：既瀉肺實。又云：補肺則未必然。李士材曰：古稱補氣者，非若參耆之正補，乃瀉邪所以補正也。愚者信為補劑，而肺虛者亦用之，大失桑皮之面目矣。且市中近來所貨者，每以山楂根充售，更不相宜其真偽，尤不可不辨也。</p>
<p>一荊芥（又名假蘇）。乃解肌發表退寒熱清頭目之藥，亦稱利咽喉，惟於白腐不宜，不可因利咽喉而遂用之。即荊芥至賤之物，亦有假者，或云野蘇為之。</p>
<p>一龍膽草。大苦，大寒，肝膽經藥也。時珍曰：相火寄在肝膽，有瀉無補，故瀉肝膽之熱正益肝膽之氣也。但大苦大寒，過服恐傷胃中生髮之氣及助火邪，亦久服黃連，反從火化之義也。雖療咽喉風熱，切不可投於白腐之證。</p>
<p>一黃連。大苦大寒，為治實火之主藥，惟於喉症不可妄用。</p>
<p>一黃芩。苦寒之品，入心勝熱，解瘟疫，清咽喉，療肺胃實熱。時珍曰：肺虛不宜者，苦寒傷土，損其母也。白腐症庸可施乎？</p>
<p>一白前。治肺氣壅實，胸膈逆滿。虛者禁用。</p>
<p>一燈草心。瀉肺熱，降心火，治五淋，除水腫，惟燒燈心灰，能療喉痹。勿因其瀉肺熱而用入白腐諸症。</p>
<p>一地骨皮。苦而微寒，乃退陰虛血熱有汗之骨蒸，及肺腎胞中陰虛之伏火，亦能滋水養木。於白腐雖無礙，然可勿用。</p>
<p>一天花粉。味苦寒，氣味頗輕，最涼心肺，善解熱渴，亦不宜於白腐。</p>
<p>一連翹。苦辛微寒，手足少陽陽明、手少陰之藥。瀉心經客熱，降胃濕熱。諸瘡痛癢皆屬心火，故為瘡家要藥，惟白腐不宜。</p>
<p>一豬苓。開腠理，利小便，並非療咽喉之品。</p>
<p>一殭蠶。為厥陰陽明之藥。散風痰，治風熱喉痹。但味辛、咸，性溫，有小毒，不利於白腐症。</p>
<p>一牛蒡子（即鼠黏子又名大力子）。辛溫，入肺，利咽喉，消斑疹，善走十二經，而解中有散。凡喉間紅腫有形起白者，可用。一屬虛證即不宜投。</p>
<p>一茵陳。乃太陽經藥。善治黃疸濕熱，豈可投入白腐症耶？</p>
<p>一細辛。氣溫大辛，為手少陰引經之藥。開關通竅，治風寒喉閉，雖曰少陰之脈，循絡咽喉而肺燥咽痛及白腐症皆不可用，因其辛散太過，涉虛者尤為不宜。且北細辛，真者甚少，或云葦蘆莖充之。</p>
<p>一枇杷葉。苦辛、平，肺胃藥也。雖清肺降火，除痰嗽，止嘔噦，然亦非白腐之所宜投。</p>
<p>一茜草（又名過山龍）。色赤入營分，味苦性溫。行血滯，通經脈活血，與紅花相同，而性更通利。凡喉腫色紫，熱在血分者宜用，其餘諸喉患，慎勿浪投。</p>
<p>一紫荊皮。苦寒，無毒。破血消癰腫，然不宜於肺虛諸喉患。奈今時諸治咽喉者無不用及，殊可笑耳。</p>
<p>一款冬花。辛而微溫，入手太陰經。能溫肺氣，故療咳嗽惟是。辛溫肺寒則可用，而白腐兼嗽即不相宜。</p>
<p>一菖蒲。味辛性溫，心肝藥也。行滯氣，開心竅，明耳目，通九竅，出音聲。《仙經》歷稱菖蒲為水草之精英，神仙之靈藥，但白腐之音啞，乃為表散及寒涼之品傷伐肺腎而然，非風熱閉塞於肺也，豈可因其能出音而妄施用耶？</p>
<p>一羚羊角。鹹寒，屬木，善走少陽、厥陰二經，故清肝定風於咽喉，諸症無所用。</p>
<p>一犀角。苦辛，微甘，氣寒，專入陽明。清胃火，亦涼心瀉肝，能解大熱與風毒、陽毒，切勿妄施於喉患諸症及白腐發斑。仲景先師有云，如無犀角，以升麻代之者，以其功皆升散也今人但知犀角之善於解熱而不知犀角之能升散。尤峻速於升麻也，可不審慎以用歟！</p>
<p>一石膏。甘寒，善祛肺胃三焦之火，尤為陽明經實症之要藥。若白腐兼發流丹斑疹者，切勿輕試。</p>
<p>一大黃。苦寒，足太陰、手足陽明、手足厥陰五經血分之藥也。有毒，性極猛烈，故有將軍之號。推陳致新，直走不守，清實熱，行瘀血，破結聚，本血分之藥，若於氣分用之，則未免誅伐太過矣。乃治傷寒及瘟疫實症之品。考之諸本草，並未載其治咽喉痹痛，尤於白腐大不相宜。嘗見潘某治各喉症無不用之，是誠何心哉！</p>
<p>一木通（又名通草）。味苦氣寒，心包絡、小腸、膀胱藥也。能利九竅，宣血脈，消水腫，通關節，雖有清火退熱之名，然後喉患不可妄投。</p>
<p>一赤小豆。為消熱毒利水之品。白腐症則最忌利水也。</p>
<p>一升麻。微苦，氣平，微辛，乃脾胃肺與大腸四經之藥，取其升散提氣，解膚腠風熱斑疹，引石膏除齒牙臭爛腫痛。若上實氣壅，諸火炎上，肺腎不足，水火無根及白腐等症，則皆忌用。</p>
<p>一土牛膝。苦辛，微毒，搗汁和入乳，療風熱實症，喉閉，能取吐痰涎，立即開關。其餘喉患切勿用之，徒傷元氣，並見不效。</p>
<p>一馬兜鈴。若寒氣薄入手太陰肺經，苦降之品，清肺熱促，止咳嗽喘促，體輕而虛，與肺同象，故專司肺實喘嗽，以清熱降氣為功。若屬肺虛喘嗽，非所宜也。</p>
<p>一麻黃。辛甘而溫，微澀，入手太陰、足太陽二經。去營中寒邪，善達肌表，走經絡達表，散風邪，祛肺中寒鬱而開閉，通利九竅，為散寒邪之要藥也。白腐症屬肺虛燥熱，因誤投表散及寒涼之劑，以致喘促，醫者不悟，復認為肺熱，繼用麻黃，肺氣即絕而斃矣。可不慎歟！</p>
<p>一蟬蛻（蛻一作退）。甘鹹而微涼，得土木餘氣所化，飧風吸露，其氣清虛，乃療屬實之風熱而開腠理。能出聲音者，輕可去實之義，治風熱閉塞之音啞耳。至於白腐之音啞，更非蟬退所能療，雖曰金空則鳴，蓋因肺陰虧而遭誤治之故，豈不知聲音出於腎之本乎！</p>
<p>一半夏。味大辛，微苦，氣溫有毒。其質滑潤，其性燥濕，入脾、胃、膽經。生嚼戟喉，制用下肺氣，開胃健脾，消痰止咳嗽，除嘔吐，反胃，散風閉喉喑。成聊攝云：半夏辛而散行水而潤腎燥。好古曰，半夏能泄痰之標，不能泄痰之本。泄本者，泄腎也。咳無形，而痰有形，無形則潤，有形則燥，所以為流濕潤燥耳。以半夏為肺藥則非矣。喻嘉言曰：半夏能和陰陽。李時珍曰：惟陰虛勞損，非濕熱之邪而用之，是重竭其津液，醫之咎也，豈藥之罪哉！試思白腐之燥宜乎不宜。</p>
<p>一旋覆花（即金沸草）。甘、咸，微溫，入肺與大腸二經。通血脈，消結痰，祛痞堅，凡氣壅濕熱者宜之。若氣虛及腎陰不足，皆所忌用。</p>
<p>一苦參。乃治惡瘡癰腫之品，並不能療咽喉白腐等症。</p>
<p>一葛根。辛、甘，氣平，寒，陽明經藥也。輕揚發散，主頭額疼痛，解肌止渴，宣癍發痘，消毒解酒，雖善達諸陽經而陽明為最，以其氣輕，故功在於解表發汗。用此以治喉患似大非所宜。</p>
<p>一馬勃。辛、平。輕虛清肺，解熱散血，治喉痹咽痛，鼻衄失音等症。此乃療屬實者之用，故普濟消毒飲內用之，殊非白腐咽痛音喑所宜。外用，敷臁瘡頗妙。</p>
<p>一山梔仁。苦，寒。清心肺之火，除熱鬱，通五淋三焦火鬱。因其味降，亦瀉肝、腎、膀胱之火，虛寒者則大非所宜。</p>
<p>一夏枯草。苦、微辛，獨入厥陰，善解肝氣，消瘰癧，散結氣，止目珠痛，開鬱療乳癰，並非治喉之品。</p>
<p>一柴胡。苦、微辛，氣平，微寒，入肝、膽、三焦、心包絡四經，其性涼。故解寒熱往來，肌表潮熱，少陽頭痛，肝經郁證，溫瘧熱盛，平肝熱口苦。總之，邪實者可用，屬虛者非宜。張會稽曰：柴胡，大能泄氣，凡陰虛水虧，孤陽勞熱者，不可用，恐損營氣也。王海藏亦曰：苟無實熱而用柴胡，不死何待？</p>
<p>一前胡。苦降，微寒，肺肝之藥。散風祛熱，消痰下氣。二胡均為風藥，但柴胡主升，前胡主降質性迥異，何能混合？近見時醫，二味每並用之，詎非欲北其轍而南其轅，殊屬可笑。</p>
<p>一川芎。辛、微甘，氣溫。其性善散，乃血分藥也，能通血海。多服令人走散真氣，致使暴亡，若三陽火壅於上而頭痛者，得升反甚。今人不明升降之理，而但知川芎善治頭痛，謬亦甚矣。即如喉科之開關散為川芎、白芷二味，取其提劫之功，惟是。近來諸喉患多兼虛燥，又豈可妄施也耶？</p>
<p>一白芷。辛、溫，氣厚，手陽明引經本藥也。其氣辛香達表，逐風寒邪熱，及肺經風熱，治瘡瘍排膿，止癢痛，療頭痛，通九竅，大能發汗。亦治蛇傷。</p>
<p>一青苔。大苦，寒，得陰濕而生，有小毒，惟治下疳，取而煎湯洗之甚效。闢蜈蚣傷。近有好奇者，每用以煎水洗口舌生瘡，遏毒戕胃，貽誤非淺。附案辛酉年秋日，高族侄務農，偶受風熱齒痛及咽疼，素性慳吝，視財重於命，不肯服藥，自飲石膏湯二大碗，復取青苔煎湯，含於口內齒，患未見平，而已昏沉不省人事，勢將殆矣。亟延余往診之，兩脈濡弱無力，乃投以養陰重劑，漸及甘溫之品，調治月餘，始能痊健，反耗去多金焉。</p>
<p>一慄蒲刺殼。苦、澀而涼，陳者尤甚。近來人之氣體漸弱，所有口瘡舌瘡口糜諸症，皆不宜用此煎洗，不識者，每為所誤，以致口舌瘡愈蔓延，至及於咽喉上顎，更有轉為白纏喉而傷夭者，已不止數覯矣。余嘗治口舌各瘡，其未用此刺殼洗者易療。倘經洗過數次，便難應手，曾屢試驗不爽。即此一味，誤人最多，蓋由於鄉曲農夫暨婦人等類多惜費，竟喜此種簡便，而不知此苦澀之為害無窮也。以上諸品與白腐之屬燥，兼肺腎不足，以及口舌生白瘡諸症，皆不相宜之味，奈泥古不化，及一知半解之醫，遇症每率用之，施施然誇為得法，因此被誤而夭枉者甚多，殊深惻憫，故特表而出之。</p>

<h1>宜用藥味列後</h1>
<p>一生地黃。甘，寒，氣涼，入心、腎二經。養陰除熱，為喉科要藥。但性兼破血宜少用。</p>
<p>一熟地黃。甘，溫，微苦，功用尤宏大。補氣血，滋培腎水，填骨髓，益真陰，專補腎中元氣。凡諸真陰虧虛，有為發熱，為頭痛，為喉痹，為氣喘，為痰嗽，或虛火載血於口鼻，或陽浮而狂躁，或陰虛而火升者，皆非熟地不可，得甘草能開胃進食，誠為藥中之上品，並治喉患之神丹。《群芳譜》又載其能治肺，損牙宣齦露，跌撲損傷，嗟乎！熟地之功，其不申於時用者久矣。尤見畏忌於今時諸醫，既不善用猶執此而誹謗之殊，深可恨耳。均按：鄭君此數言，矯枉過正，不免偏護熟地太甚，今人何嘗不重用之？其傎者，每逢人病將愈，不問其體質何如，動以熟地加入方中，為調理之需，率損多而益少。余所目擊僨事者比比。如光緒辛卯壬辰之間，此風最熾，猶記一族嫂，於春初產後去血過多，勢甚萎靡，一老醫不審其雖虛而兼有外感，遽投大劑養血，用熟地至五六錢服下，則飽悶不欲食，二劑則痰壅氣閉而殞。又旺山石姓，一男子年未五十，務農操勞，初夏偶患濕瘧，邪未清以藥截之，致倦怠減食，肩發燒熱，有一醫謂為服田辛苦，虛熱可虞，疏一金水六君方與之，囑以多服兼可延年。甫進二劑，即見腹膨氣逆，食少便溏，急趨詢醫，雲系初服病行為吉徵也，仍勸多服。乃再三四劑，逐漸加劇，卒成水臌，未半月，腹腳流水而死。迄光緒末年，有一族祖叔母，高年偶患外感，病匪沉重，鄰村一老醫診之，謂宜先扶正而後驅邪，投以八珍合逍遙方法，重用熟地，服下忽變昏迷氣閉，熱反內陷，急延柯君挽救，已無及矣。嗟嗟！此三人者，皆以熟地戕命。蓋藥各有所主治，不能拘定成見，謂此為良，謂彼為劣，總要審症周詳，然後用藥必當，烏喙亦能愈疾，參耆何不殺人？況熟地滋膩之質，其能一無偏弊乎！不過，白腐一症，實恃為濟生神丹，鄭君之言，固不謬而不可概乎別病也。</p>
<p>一玄參。苦、甘、微咸，氣寒。能滋陰清火，不獨入腎，亦走肺臟，故能退無根浮游之火，散周身痰結熱癰，逐頭項咽喉痹痛，解斑疹，理心內驚煩，主用繁多。</p>
<p>一貝母。苦，寒，氣平。凡用必須川產者良。其味甘、微苦，氣平，不寒。除肺熱，降胸中熱結，祛肺癰、肺痿、痰膿喘嗽，清咽喉，潤肺燥。至於土貝母、浙貝母，大苦、性寒，氣味俱厚，惟不宜於白腐之症。</p>
<p>一知母。苦，寒，氣味俱厚，為腎經本藥。兼能清肺止渴，去喉中腥臭，退陰火，肅清龍雷，去膀胱肝腎濕熱。</p>
<p>一麥門冬。甘而微寒，肺經藥也。其味甘多苦少，故上行心肺，補上焦之津液，清肺中之伏火，益精滋陰，澤肌潤結，瀉熱火而益元氣，滋燥金而清水源，肺乾咳嗽，消痰補怯，誠為要藥。治腸燥便結亦妙。蓋以肺與大腸相為表裡之故。</p>
<p>一天門冬。甘、苦，而寒，肺腎之藥。清金降火，益水之源，故三才丹中用之。</p>
<p>一葳蕤（即玉竹）。甘平入脾，柔潤入腎，故能補中益氣，逐熱除蒸，治風淫濕毒，止頭痛、腰痛、目疼皆爛，大有殊功。</p>
<p>一丹皮。辛、苦，微涼，氣味輕，俱入足少陰及手厥陰。清肝腎之虛熱，但其微涼而辛，治白腐亦頗宜。</p>
<p>一火麻仁即（黃麻）。甘，平，性滑。潤心肺，滋五臟，利大腸風熱結燥。凡當潤下者，用此最妙。胡麻仁，如栗色，名鱉蝨。胡麻主治亦同。</p>
<p>一女貞子。苦涼而平，養陰氣，平陰火，清肝火，明目，療陰虛喉痛。於白腐亦宜。</p>
<p>一白芍。酸而微苦，性頗寒，氣薄於味，斂降多而升散少，為肺脾行經藥，入肝脾血分，瀉肝火，固腠理，退虛熱，消癰腫，斂瘡口。凡喉患開首緩用，恐其酸斂也。</p>
<p>一沙參。微甘，微苦，氣味俱輕。性微寒，補陰清肺，排膿消腫，除邪熱，涼肝，補五臟之陰。南沙參兼清散勿用。</p>
<p>一茯苓。甘、淡而平，補中開胃，利水化痰，淡滲上行，生津液，開腠理，滋水之源而下降。用人乳拌勻，蒸曬，炒過，更佳。</p>
<p>一叭噠杏仁。味，甘而美味厚於氣，無毒，入肺胃、大腸。寧嗽潤肺，亦潤腸化痰，解喉痹。</p>
<p>一黑豆（即馬料豆）。甘，寒，色黑，屬水，似腎。腎之谷也。補心腎，散熱祛風，解毒消腫。</p>
<p>一種野料豆。更佳。畏五參、龍膽、豬肉，得杏仁、牡蠣良。</p>
<p>一桑葉。甘、寒，手足陽明之藥。涼血清熱。經霜者，療嗽。若音啞勿用。</p>
<p>一當歸。甘、辛而溫，入心、肝、脾三經，血分之藥。凡喉患屬血虛者，佐白芍治之，效。但不大宜於白腐，因其辛溫而散也。</p>
<p>一百合。甘、淡，氣平，功緩。益氣潤肺，除嗽，解喉痹、乳癰，潤大小便。又一種味苦者，不宜用。</p>
<p>一山藥（原名薯蕷）。甘、平而淡，微澀。補脾肺，益腎澀精，養心神除煩熱，治諸虛百損，須選淮山藥之肥白者乃佳。其建山藥，味苦氣烈，不合於用，尤不宜於白腐。</p>
<p>一甘草。氣平味甘之品，合土之德，故獨入脾胃。稼穡作甘，土之正味，蓋土居中而能兼運乎五行，可升可降，可內可外，有和有緩，有生有克，有承有制，有補有瀉，善於解諸毒，祛熱邪，堅筋骨，建脾胃，長肌肉，隨氣藥入氣，隨血藥入血，無往而不可，故稱為國老。凡生用則涼，炙用則溫，尤能助熟地，療陰虛之危。</p>
<p>一金釵斛。甘、淡而力薄，性輕清和緩，有從容分解之妙。能養陰退火，除煩清肺，逐邪熱，平脾胃之火，去嘈雜善飢。</p>
<p>一沙苑蒺藜。甘，溫，入肝、腎二經。益精補腎，止腿痛遺泄。凡喉患後用佐調理甚良。</p>
<p>一黑芝麻（即巨勝子）。甘，平。補中益氣，養肺潤腸，逐風濕，填腦髓，久服延年，療白纏喉最妙。</p>
<p>以上諸品，均純陰至靜之藥，乃喉患之所必需，用得其宜，何異神丹九轉？第今時之人，腎陰不足者居多，是以喉患屬虛者，比比如此。故治法須兼顧養陰，若拘於俗，見徒從事表散寒涼而不誤者鮮矣。</p>
<p>附見：</p>
<p>銅綠（即銅青），酸平，微毒。治風爛淚眼惡瘡，疳瘡，婦人血氣心痛，吐風痰，合金瘡，止血殺蟲，用醋製刮用。自然銅，辛，平。主折傷續筋骨，散瘀止痛。火煅醋焠七次，研細取用。均按：此二味並非治喉之品，即吹藥內亦不宜入，不知何故，羼入編末。或系鈔書者誤摘於此耶？抑不知前所列忌用藥品下注明六十八味，數之不足，當經錯落此二味，屬於前而補於後耶？然於書意旨無妨，姑仍舊，貫錄存之。</p>

<h1>自制醫說</h1>
<p>醫道之不明也，久矣。語云：醫道通乎仙道，以之壽世，功莫大焉。奈何？今時之醫，直入於鬼道，非道之有鬼道也，以人之有詭道耳。既詭於道，即不軌於道，不軌於道，則道不行，道不行，計思所以行之，不得不詭於其道，入於詭則出於軌，是軌之紊於詭也，因而，為詭道軌。夫天有好生之德，天道也。醫具仁人之術，人道也。求其道於天，人加意於《靈》、《素》軒岐之蘊而軌道彰焉，安有所謂鬼道者哉？人惟日與詭習，即日與軌遠與詭習則鬼道益工，與軌遠，則詭道愈甚，失其光明正大之軌，趨為逆情干譽之詭，而甘入於鬼道焉。噫！以通乎仙道之軌，易為詭道之鬼，此道之所以不明也。可慨也夫！</p>
<p>嘉慶八年，歲在癸亥，孟秋月上瀚樞扶氏識於十琴軒。</p>
<p>民國十二年，歲紀亦在癸亥，暮春多雨，索居岑寂，愁悶叢生，爰檢閱藏帙，得此道光元年歲次辛巳吳季儒手鈔鄭氏喉科秘本，因重錄之，更訝其歲紀相值，餘生年亦為辛巳也。是寶冊宜有異徵，立夏夜鈔竣叔和記。</p>
<p>此歙西鄭氏世傳喉牙科方鈔本，我家得自蓮川周丈邦彥，同治紀元，兵戈紛擾，米鬥錢二千文時，擁厚資有持此冊求售者，云舉家雖已二日未得食，此寶則非百金不換也。丈慨然以米二石易之，珍逾拱璧，莫肯示人，後營業失敗，境日窘促，乃攜以見先君子曰：身老家落，寶不能藏，然不甘貶價，求沽感君知己，聊以為贈，雖未言價，而索價之奢，躍然言外。先君子爰以番餅五十元酬之。時我家無習醫者，庋置篋中，幾飽蟫蠹。光緒甲午，五兄石農偕婦寄居其外舅程金門先生家，一日馳書來里，言其婦患喉症甚重，其外舅亦祖傳內外科甚精，治之轉劇，遍延諸名宿暨歙東外科程炳文先生診視，皆愈治愈甚，刻已，水漿不入，僵臥經朝，已料理衣櫬，決無生望矣。先君子忽然憶及此書，命均檢出，一翻視曰，得無所患為白腐乎？立刻飭族兄觀水星夜齎往，即照書中養陰清燥，原方重劑，與服勉為灌下，未周時，即大霍然。次早族兄回，已自起治事，並進泡飯兩碗矣。嗣云：傳染十數人，或有輕重，而照此治之輒愈。其前因此殞命者，蓋三人焉。越二年，兄返里行道，遂以此症擅名，救活重險之候，計十餘云。柯君澤舟與均稱莫逆，言業醫半生，未大負疚，只一族婦患，白喉比時未得此書治法，率以普通疏風清熱之品投之，卒以不救，深覺歉然。余因錄副本贈之，伊因謂余此舉為大功德，醫者本以利濟為天職，曩昔中國陋習相仍，得有妙技良方，率取秘密主義，神異其說，勒取多資均私，嘗竊鄙之。自恨僻處山縣，環境荊棘，口鈍詞訥，不克出與當世賢智周旋，憂病交迫，未老先衰，真是枉生人世也。年來親友勸迫懸壺於裡，雖切濟人之誠，而乏眩人之術，直道難行，自責亦自哀焉。茲見杭州三三醫社廣告徵求秘籍，仁義存懷，痌瘝斯民天下，有心人俱當傾倒矣。均感佩之餘，悵然未由接近，只得心神馳慕而已，適於月前錄此副本，成於倉卒，兼愁悶中，謬錯未及糾正，覥以寄呈，願大加刪潤而推行之，俾患此者無夭扎之虞，貴社前途幸福無量。</p>
<p>癸亥陰曆六月一日，草草跋此，以志原委，而留爪泥。叔和謹識</p>
<p>按：陳修園醫書四十八種中有言白喉者寥寥數頁，云當養陰與此頗合，著者託言乩仙，語簡而不精，且中雜用疏散，恐遵之難收實效，不及此之精當，詳明百利而無一弊也。</p>
