<header data-type="book">
<h1>張氏婦科</h1>
</header>

<h1>白蒲嶺張氏女科</h1>
<p>唐時開通年間，有一神人借宿於慈邑張氏家，次日將書付張氏之婦。開卷視之，乃女科也，初以調經，其法和氣血、均寒熱，而世無不育之婦；次以胎前，其法補氣血、清痰火，凡有諸症必先安胎為主；次以胎前產後，其前後不同。此書數百年來隱而不發，今予得之醫論十三篇而無遺症。胎前產後各各辨明，與諸家用藥大有不同，傳與當世醫者，庶免婦女之大難。得此書者，當存好生之心，勿秘可也。</p>

<h1>廣嗣論</h1>
<p>凡少婦不受孕者無他，多因氣血不調，寒熱不均。有氣盛而血虛者；氣血流通，遍走四肢，使血不得積聚於子宮，子宮枯燥，往來易感陽氣，不能成胎。大宜補血，使血與氣相配，孕斯成矣。大凡氣盛血衰者，其月水多不應期而至，或數月一至，或期年一至。醫者慎不作血隔看。大宜補血，慎勿破血。有血盛而氣衰者：血不能自行，隨氣而動，氣衰不運，多積於子宮，滿則溢也。其月水不月而至，今呼為敗。慎勿用養血之劑，蓋養血之藥又能活血，補之非徒無益，而病反加劇矣。宜重用參朮補氣，使氣能配血，則病可愈而孕可懷也。有熱勝者：其月水必先期而至。如大熱者，其腹大痛；微熱者，其腹微痛。慎勿作寒痛看，雖易入陽氣，豈能懷孕乎？當服寒涼之劑以調之。有寒勝者：必月水後期而至，其腹不礙痛，若精氣不能易入，豈能久存於腹？宜服溫暖之藥以調之。氣血既平，寒熱既和，則無不孕矣！</p>

<h1>胎前論</h1>
<p>凡孕婦諸症別無他故，因受胎之後，氣血有方，不能滋養其胎而母病至矣。氣血既虛，使胎不安於母腹，須大補氣血，則胎自安。有胎動而母病者，安其胎，母病愈。蓋胎前患病，以安胎辦主。若胎孕一動，病必難治，醫須慎之。</p>

<h1>產後論</h1>
<p>夫產後之患多起於風寒、飲食之間，其餘則血氣為患。夏月之病多因於風，冬月之病多因於寒，惟飲食之患無定時也。蓋易產之後，其病易治；難產之後，其病難治。難產必深感風寒，兼氣血極虛，雖略進飲食，力不能勝，亦為之患也。產後諸症，多類傷寒，莫作傷寒治之，更莫作雜症治之。此乃女科不傳之訣，醫者切莫狐疑。其治法前後不同，二十日前氣血未定，惡露未盡，當破血為主；二十日外氣血已定，各歸經絡，雖有惡露，驅逐不行。凡有諸症要補氣血，更兼活血，諸書以月外作雜症治之，其言謬矣。</p>

<h1>婦人月水</h1>
<p>經水或一、二月一至，或期年一至，不甚瘦弱者，此氣盛血衰也。慎勿作血隔治，當補血為主：</p>
<p>當歸（三錢）　川芎（二錢）　芍藥　生地　丹參　玄胡　小茴　牛膝　蘇梗　圓眼肉（各一錢）</p>
<p>婦人如同前病，身體瘦弱，或發寒熱，此氣血兩虛，血枯經閉。宜大補氣血為主：</p>
<p>人參（五分）　茯苓　白朮　歸身　芍藥　圓眼肉（各二錢）　沙參　丹參　生地　木通（各一錢）</p>
<p>婦人敗血不日而至，此非敗血，氣虛故也。宜補氣為主：</p>
<p>人參（五分）　甘草（五分）　白朮　黃耆　茯苓　阿膠（各二錢）　木通（八分）</p>
<p>婦人月水先期而至，小腹作痛，氣血兩熱故也。當理氣清火為主：</p>
<p>延胡索　甘草（各三錢）　黃耆　山楂　撫芎（各二錢）　芍藥　蘇梗　丹皮　木通　香附（各一錢）</p>
<p>婦人月水後期而至，此氣血虛寒故也。</p>
<p>川芎　當歸　艾葉　香附　紅花（各二錢）　桂枝　黑姜（各五分）　玄胡索　木通（各一錢）</p>

<h1>種子方</h1>
<p>紅花　桃仁　玄胡　香附（各二錢）　小茴　枳殼　牛膝（各一錢）　山楂（三十粒）　莪朮（八分）　官桂（三分）</p>
<p>如月水先期而至、加黃芩二錢；如後期而至，加酒炮姜五分。先期而至，血若紫色，黑色成塊者、血熱故也，加黃芩、黃連、荊芥，必不可少；後期而至，血色淡紅者，痰多血少故也，又兼寒，生地二陳湯加黑姜煎服妙。</p>

<h1>胎前諸症</h1>
<p>婦人胎氣不固，常要小產：</p>
<p>人參（五分）　加條芩　殼砂　杜仲　川斷　糯米（一撮炒）</p>
<p>孕婦因跌撞、壓觸、腹痛、血下、胎動：</p>
<p>川芎　黃芩　芍藥（各三錢）　當歸　熟地　杜仲（各一錢）　殼砂　川斷（各二錢）　阿膠（一錢）</p>
<p>胎動下血，其腹絞痛，不知兒身死活：</p>
<p>川芎（六錢）　當歸（三錢）</p>
<p>水酒煎，作三次服。胎活即安，胎死即下。</p>
<p>婦人下血不止，胎上衝心，四肢逆冷幾死：</p>
<p>阿膠　杜仲（各三錢）　條芩（三錢）　川芎（三錢）　熟艾　桔梗（各二錢）　陳皮　竹葉（各二錢）</p>
<p>妊婦小腹沉重，痛不可忍，二便閉塞不通，名胎壓膀胱：</p>
<p>升麻　川芎　條芩　杜仲　山藥　川斷（各二錢）　人參（五分）　黃連　茯苓（各一錢）　白朮（土炒二錢）</p>
<p>孕婦胎孕上衝，痛不可忍，此為子懸血虛故也。大宜補血為主：</p>
<p>四物湯加條芩、殼砂、桔梗、陳皮。</p>
<p>胎孕不安，因氣血不足。血虛則隨氣上升，大宜補血為主；氣虛隨血下墜，大宜補氣為主，次宜安胎。若云「諸症不宜補」者，此醫家大誤事也。</p>
<p>孕婦厭食嘔吐，此因氣虛不得流通，便化為痰涎，多聚於胃，故有此症。宜補氣祛痰為主。</p>
<p>白朮　川貝（各三錢）　茯苓　前胡（各二錢）　旋覆花　香附　殼砂　陳皮（各一錢）</p>
<p>妊婦漏胎下血，竟如月水，若待血乾，非但損子，亦損其母：</p>
<p>熟地　白朮　薑炭　茯苓（各二錢）　條芩（二錢）　歸身　殼砂　阿膠（各一錢）</p>
<p>妊婦腹中煩悶者，氣血兩虛故也。心肺兩經火動，名為子煩：</p>
<p>條芩　麥冬　白朮　茯苓　芍藥（各二錢）　知母　防風　前胡（各一錢）</p>
<p>孕婦尿澀，小便小道熱痛者，名子淋：</p>
<p>冬葵子　木通　粉草（各一錢）　條芩　芍藥　赤茯苓（各二錢）</p>
<p>孕婦腹中胎鳴，因懸高而胎失氣管，故有此症，名子鳴：</p>
<p>川芎（三錢）　川連（二錢）</p>
<p>妊婦小便頻鳴，名為轉胞，氣虛血熱也：</p>
<p>人參　茯苓　條芩（各二錢）　歸身　川芎　芍藥　粉草（各一錢）</p>
<p>妊婦遍身浮腫，脾胃氣虛：</p>
<p>茯苓　澤瀉　白朮（各二錢）　木通　豬苓　厚朴（各一錢）</p>
<p>妊婦二、三月期，心腹腰痛難忍，氣熱腎虛故也：</p>
<p>六味加條芩三錢，當歸、阿膠、甘草各一錢。</p>
<p>妊婦遍身疼痛，氣血兩虛，痰涎作痛：</p>
<p>人參加柴胡、前胡、川貝、生薑。</p>
<p>妊婦寒熱不快者，亦氣血兩虛故也：</p>
<p>逍遙散加條芩、殼砂、生薑。</p>
<p>妊婦傷寒，恐熱極損胎，必先安胎，後隨症治之。先用條芩、殼砂，後用本症之藥，切忌薑、桂、麻黃辛熱之物。</p>
<p>妊婦痢疾，必先用條芩、殼砂以安胎，次隨症治之。須忌檳榔、枳殼，恐其下胎，則病難治，須用仔細。</p>
<p>妊婦泄瀉虛寒，因久痢之後故有此症：</p>
<p>五苓散加良薑。</p>
<p>凡妊婦服藥，雖有諸症，條芩、殼砂必不可少。</p>
<p>黃芩安胎，清三焦之火，能降血下行；殼砂安胎，乃血中之要藥，又能止痛行氣；阿膠安胎，乃止血養血之藥，治血虛胎動。</p>
<p>妊婦小產與小產不同。小產損傷胎氣，不比大產瓜熟蒂圓，出於自然。以補中益氣為主。小產之後，雖有諸症，必因氣血虛寒而起。宜補氣血，以十全大補湯為主，或人參湯加阿膠、艾葉好。</p>
<p>冬葵子（五錢）　枳殼　木通　蟬蛻（各二錢）　車前子（五錢）　歸尾（三錢）</p>

<h1>難產方</h1>
<p>蟬蛻　蛇蛻　龜甲（各三錢）</p>
<p>新瓦焙乾為末，好酒下之，立下。</p>
<p>子死腹中，用牯牛糞炒為末，入醋半盞調，以青布包好，於臍上熨之立下。</p>
<p>妊婦血暈，不論大小產，皆有此症。大補氣血為主。然大產、小產不同，小產多因氣血兩虛而致，其大產因敗血流入肝經，致眼目黑暗，頭目旋暈。宜破血為主。當先以烈火一盆，置病人口鼻之下，將好醋一鍾傾入火內，使氣入其口鼻之中，其神乃定，而神自醒也。後隨症治之。有下血過多而暈者，以人參湯；有用心使力多而暈者，以防風通聖散加四物治之。</p>

<h1>產後諸症</h1>
<p>產後血暈，敗血沖肝也。</p>
<p>山楂（三錢）　紅花（二錢）　桃仁　官桂　香附　良薑　莪朮（各一錢）</p>
<p>產後頭痛、發熱、口乾、飽悶、出汗者，由飲食過多也。以消食祛風為主，數日內治：</p>
<p>山楂（三錢）　莪朮　天麻　桔梗　陳皮　麥芽　紅花（各一錢）　黑乾薑（八分）</p>
<p>產後作寒作熱，血入心肺則熱，血入脾胃則寒，寒熱相生故也。認為瘧治者，非也。</p>
<p>三稜　莪朮　紅花　桃仁（各二錢）　官桂　黑乾薑（各一錢）　山楂（三錢）</p>
<p>產後四肢浮腫，因敗血走注五臟，傳流四肢，不能運化，或因飲食傷脾故也。以水腫治之，非也。宜五苓散加三稜、莪朮二錢、山楂三錢；月內加桃仁、紅花、黑姜，不必多用。</p>
<p>產後癲狂，如見鬼神，狂言無度，敗血，熱血衝心，如有所觸，勿作風邪。</p>
<p>山楂　官桂（各三錢）　木香　香附　黑姜（各一錢）　紅花　桃仁（各二錢）</p>
<p>產後泄瀉不止者，多因誤食生冷堅硬之物，與惡血相搏，流注大腸，不能克化也。</p>
<p>三稜　莪朮　紅花　桃仁　黑乾薑　山楂　加五苓散</p>
<p>夫產後泄瀉，多有不同。或因難產之後，氣血兩虛而泄瀉者，瀉久則寒；或因寒氣所侵而瀉者，久則必虛。其治法相同。</p>
<p>五苓散加三稜、莪朮、山楂。</p>
<p>或因瘀血流入大腸而泄瀉者。</p>
<p>黑姜　官桂　山楂　紅花　桃仁</p>
<p>上二症，泄久與虛寒症同治，醫須仔細，一有誤，十不能救一也。產後泄瀉，水穀不化，糞門不閉，此虛寒極也。不論久近，治法一同。</p>
<p>人參（五分）　白朮　茯苓　肉桂　黑姜（各二錢）　豬苓　澤瀉（各一錢）</p>
<p>產後泄瀉，腹中作痛，大便急澀者，亦瘀血入大腸也。若久遠，以虛寒治之。</p>
<p>黑姜　官桂　紅花（各二錢）　三稜　莪朮（各一錢）　桃仁</p>
<p>產後百節疼痛，由產後骨節開張，因冒風寒，敗血不行，流入經絡，停聚不散也。</p>
<p>紅花　桃仁（各二錢）　歸尾　黑乾薑　官桂　烏藥　秦艽（各一錢）</p>
<p>產後小便尿血，色如雞肝者，因產後調理失宜，惱怒傷肝心二經，流入小腸也。若流入大腸，必大腸阻難也。</p>
<p>紅花　桃仁　丹皮（各二錢）　木香　桔梗　木通　香附（各一錢）</p>
<p>產後胸脹氣滯，嘔逆不定，因飲食過多，聚於胃中，與痰結聚成塊。上喘氣急，四肢寒熱，口乾心悶，睡臥多驚，日近者用：</p>
<p>山楂（三錢）　烏藥（二錢）　砂仁　麥芽　川貝母　陳皮　香附　黑乾薑（各一錢）</p>
<p>日遠者用：</p>
<p>三稜　莪朮　前胡　檳榔　柴胡（各一錢）　砂仁（二錢）</p>
<p>產後喉中如蟬鳴，因惱怒所致，敗血衝心，轉入肺經，敗血與氣結聚成塊，入於喉中。若患此症，十難救一。</p>
<p>肉桂　紅花　桃仁　良薑（各二錢）　木通　烏藥　陳皮（各一錢）</p>
<p>產後泄瀉，胸膈飽悶，泄瀉不常，此食積也。</p>
<p>三稜　莪朮（一錢）　山楂　殼砂　黑乾薑　官桂（各二錢）</p>
<p>若久遠，以虛寒治之。有糞渣可治，如屋漏黑水，必死無疑。</p>
<p>產後最忌泄瀉，務必謹慎。</p>
<p>產後面黃舌乾，鼻中出血，遍身斑點者，敗血入於五臟六腑，轉入肌膚，熱結不行也，十無一生。</p>
<p>紅花　桃仁　官桂　丹皮（各二錢）　莪朮　木通　羌活　防風　荊芥（各一錢）</p>
<p>產後發熱、頭痛、手足不能伸縮者，由產時失於謹慎，多冒風邪也。切不可作中風邪，以發表劑抬之。</p>
<p>天麻　秦艽　川貝　防風　乾薑　官桂　蘇梗</p>
<p>產後頭痛發熱，腹中刺痛難忍，因寒氣所侵，敗血不行，結聚成塊故也。不論遠近同治。</p>
<p>山楂（三錢）　乾薑　肉桂　烏藥　吳萸　香附　玄胡　紅花　桃仁（各二錢）　蘇梗（一錢）</p>
<p>產後不言狂走。</p>
<p>石菖蒲　麥冬　防風　天麻　川芎　川貝　辰砂　香附</p>
<p>產後月外，發熱發寒，飲食不進，腹中作痛，因氣血兩虛也。</p>
<p>當歸　芍藥　川芎　人參　白朮　茯苓　香附</p>
<p>產後月外，喘促痰逆，虛黃，因飲食傷胃，痰固其積也。</p>
<p>三稜　莪朮　厚朴　官桂　黑乾薑　川貝　陳皮　桔梗　香附</p>
<p>產後月外，寒熱不均，因氣血兩虛故也。</p>
<p>甘草　芍藥　柴胡　白朮　當歸　茯苓　陳皮　川芎　香附</p>
<p>產後月外，虛汗不止，因氣血虛而遇風邪也。</p>
<p>白朮　茯苓（二錢）　黃耆　香附　麥冬　防風（一錢）　官桂（五分）</p>
<p>產後月外，聲音不出，嘔吐不止，飲食不納。</p>
<p>陳皮　白朮　茯苓　香附　乾薑　前胡　黃耆</p>
<p>產後諸症，多因冒風寒，為敗血作禍。其乾薑、紅花、桃仁，烏藥、肉桂、山楂、香附必不可少。治產之症，妙在乾薑。若大熱重用，若微熱則輕用，輕則一錢，重則三錢。須要酒炒得黑，不黑不可用，恐反生火。</p>
<p>產後月外，氣血已定，已歸經絡，雖有諸症，宜大補氣血。又宜活血，而諸書以芍藥為產後最忌，殊不知月外諸症，非芍藥不能收功。誠恐不信談論，特備其要，以俟違者鑑之。</p>
<p>產後月內，口眼歪斜，角弓反張，不能伸縮，此係產時冒風邪所致。而發熱頭疼者，宜用此方：</p>
<p>天麻　貝母　秦艽　歸身　官桂　蘇梗　乾薑</p>
<p>月外犯之，亦不可作中風治。皆因氣血兩虛甚，宜補氣血，隨即祛痰為要。產後發熱惡寒，月內當逐惡露為要，月外各歸經絡，氣血兩分既定而犯此症，是氣血虛極。其左手脈不足，補血倍於補氣；右手脈不足，補氣倍於補血，切不可發表。倘因飲食不節而犯此症，月內以逐惡露之藥，加山楂、麥芽、砂仁、貝母、陳皮；月外以調氣補血為主，加山楂、麥芽消食行痰之藥為要。最忌發表藥。</p>
<p>產後口眼喎斜，手足頑麻，半身不遂，皆因不謹慎，或誤下生水，或冒風邪所致。應在半年數月外發之，切不可作風邪鬼箭等症，誤用針刺，並不可發表，如有一失，不可救矣。宜服此方：</p>
<p>紅花　花粉（二錢）　防風　荊芥　獨活　當歸　秦艽　羌活　牛膝　白朮　沙參　茯苓　川芎（各二錢）　木香（八分）</p>
<p>加燈草、老酒煎服。先服四帖，如不愈，加桑寄生二錢，肉桂八分。服二帖即痊，可加天麻二錢妙。</p>

<h1>安胎逐月主方補</h1>
<p>一月名胎胚，足厥陰肝管胎，此經少氣多血。</p>
<p>二月足少陽膽管胎，若始膏，此經氣多血少。</p>
<p>三月名始胎，手少陰心管胎，此經少血多氣。</p>
<p>歸身　茯神　黃芩（時寒少用）　殼砂（時寒多用）　杜仲　棗仁　白朮　肉桂</p>
<p>形體成，四個月，命門相火管胎（手少陽三焦），去棗仁、茯神，加熟地三錢。始受水精以行血脈，此經氣多血少。</p>
<p>能動，五個月，太陰脾經管胎，去肉桂，加白朮二錢。始受火精以成其氣，此經少血多氣。</p>
<p>筋骨立，六個月，陽明胃經管胎，加人參五分。如肺虛，加數倍可也，始受金精以成其筋，此經氣盛血少。</p>
<p>毛髮生，七個月，太陰肺經管胎，減砂仁至三分，加黃芩至二錢。始受木精，以成其骨，此經少血多氣。</p>
<p>臟腑具，八個月，陽明大腸管胎，加人參錢半。始受土精以成膚，此經氣盛血多。</p>
<p>穀氣入胃，九個月，少陰腎經管胎，原方不用，用寬胎散，始受石精以成毛髮，此經少血多氣。</p>
<p>歸身　益母草　川芎　枳殼　杜仲</p>
<p>諸神備，十個月，太陽膀胱管胎，同前九個月方。臨盆用催生散。臟腑、關節、人神具備，此經少氣多血。</p>
<p>當歸　枳殼　香附　益母草　川芎　陳皮　紅花　白芷</p>
<p>奇方。產後一二日間，痢疾並心痛。</p>
<p>赤芍　山楂　歸尾　牛膝　陳皮　肉桂　劉寄奴　薑炭　川芎　香附　桃仁（去衣，各一錢）</p>
<p>日一劑，如有乳毒加白芷。</p>
<p>產後五六日，發熱，不思飲食，有似傷寒等症。</p>
<p>赤芍　桃仁　歸尾　陳皮　甘草　山楂肉　枳殼　香附　玄胡　乾薑　肉桂　加白芷</p>
<p>末藥方：</p>
<p>劉奇奴　山楂　香附　棉花子　烏豆</p>
<p>俱炒為末（香附易玄胡，加荊芥尤妙），砂仁湯送二錢。</p>
<p>四物湯加減法（古方）：</p>
<p>四物芎歸芍地黃，女科諸病是良方。</p>
<p>調理養血醫虛損，胎產無如用此湯。</p>
<p>參朮苓甘名八物，氣虛血弱功最捷。</p>
<p>十全加了桂黃耆，大補真元與精血。</p>
<p>若對參蘇號補心，心虛血少夢中驚。</p>
<p>產後感寒能服此，不須加減效如神。</p>
<p>下午發熱本陰虛，方加知柏可痊除。</p>
<p>骨蒸勞熱紫耆鱉，知柏能兼地骨皮。</p>
<p>婦人經水適然來，似瘧湯中加小柴。</p>
<p>妊娠月水時時下，膠艾加之止漏胎。</p>
<p>經水過期陰血少，本方加桔與參耆。</p>
<p>腹內積氣當為痛，香附莪稜服自行。</p>
<p>月經紫色及先期，方入芩連並牡皮。</p>
<p>小腹瘀經兜澀痛，桃紅烏附莫教遲。</p>
<p>瘦婦血枯經澀閉，本方增入桃仁治。</p>
<p>肥人色淡屬於痰，配合二陳成一劑。</p>
<p>經血行來太去多，芩連柴柏可同科。</p>
<p>更加荊芥與羌活，升提其氣要安和。</p>
<p>方加芩術善安胎，胎痛砂蘇郁便用。</p>
<p>腹大異常成水病，心胸氣逆如鼓硬，</p>
<p>鯉魚湯煎苓朮芩，減地芎加姜桔應。</p>
<p>胎氣不安胸隔脹，枳桔加之即宣暢。</p>
<p>孕婦心煩號子煩，芩麥茯苓為依傍。</p>
<p>芎歸二味佛手名，坐草忙煎可保生。</p>
<p>若是難產生不下，草霜白芷一同行。</p>
<p>焦姜能治產後熱，甘草大芎補陰血。</p>
<p>汗多方內減川芎，急服參耆防氣脫。</p>
<p>產後血迷成血暈，惡露去多精神困，</p>
<p>澤蘭芎歸荊參草，散號清魂能定暈。</p>
<p>黑神減芎入桂姜，炙甘黑豆炒蒲黃。</p>
<p>淨露下胸除腹滿，酒便調服效非常，</p>
<p>產後惡露如何少，若無別症精神好。</p>
<p>驀然寒熱腹中疼，還是黑神真個妙。</p>
<p>產後驚風血不來，肚疼發熱脹難捱，</p>
<p>柴胡佛手靈脂澤，羌活紅花仔細排。</p>
<p>產後須當四物湯，但凡初產配焦姜。</p>
<p>產初用芍傷生氣，膩膈尤嫌熟地黃。</p>
<p>腸滑地歸當應忌，汗多須把川芎去。</p>
<p>血虛腹痛赤芍良，加減四物先賢秘。</p>
<p><u>十全濟陰丸</u>　歸身（酒洗）　熟地　香附（酒煮四兩）　山藥　白朮（二兩五錢）　杞子　人參（二兩）　蘄艾葉（二兩去筋梗，同香附，酒醋煮一時，搗，焙）　川芎　白芍　丹皮紫石英（火煅碎各一兩五錢）　澤蘭（一兩）　紫河車（一具用銀針刺，去紫筋，酒洗淨白）</p>
<p>上藥切片，同河車入沙鍋內，用陳老酒三碗、陳米醋一碗、清白童便一碗、米泔水數碗，和勻，浮藥寸許，密蓋不透，桑木火慢煮，以河車融化汁干為度，取出同搗極爛，捏作餅，日曬夜露三晝夜，宜在月滿之時以受日精月華。仍焙乾，為末，搗爛，蜜丸如梧子，每服五十丸，空腹淡鹽湯下，隨用早飯，使藥下行，忌食生蘿蔔。</p>
<p>凡月經過期，或少或不行，皆血寒血少也。尺脈必微弱，加桂心五錢（夏三錢），黃耆一兩（炙）。先期，血熱也。脈來必數，加條芩二兩（酒炒）、生地一兩五錢（酒炒）。腹痛加芍藥一兩（酒炒）。將行而先作痛者，血實而氣滯也；成塊者，氣凝也。脈來弦數滑大，加延胡一兩（酒炒），陳皮八分，木香、柴胡梢五錢。行後作痛者，氣血俱虛也，尺脈必虛澀而兼緊，加黑姜三錢，白茯苓一兩，桂心五錢（夏三錢）。三五日後，腹中綿綿作痛者，或淋瀝不止，血因氣滯未盡也。尺脈見沉澀，或沉弦，加木香五錢，柴胡六錢。紫色或黑色，血熱之甚也。尺脈見洪數，加條芩、黃柏各一兩，炒生地一兩五錢（灑浸）。過期色淡，肥人則有濕痰，加茯苓、蒼朮（米泔、淡鹽水炒）、陳皮各一兩，白朮五錢，減熟地一兩，瘦人則血虛少而水混之，加桂心五錢。或來或斷，或發寒熱者，加柴胡八錢，白茯苓一兩。凡經不調、多白帶者，肥人主胃中濕痰流注，加製蒼朮、白茯苓一兩五錢，減熟地一兩；凡瘦人氣多血少，脾虛，加木香五錢，牡蠣（煅）、赤石脂（煅）、白茯苓各一兩。凡多崩漏者，減香附、艾葉各一兩，加荊芥穗（炒）一兩，黃芩一兩五錢。</p>
<p>血崩者，或多，加阿膠一兩，黑姜五錢，黃耆一兩（炙）。</p>
<p>元氣虛弱、經水閉者，加牛膝二兩。屬寒加桂心五錢，屬熱加黃芩一兩（酒炒）。</p>
<p>凡婢妾多忌於嫡者，必多抑鬱，以致經水不調者，加法制香附二兩，或血弱心虛，交感時驚恐不寧，則精氣不聚，加琥珀（另研）、棗仁（隔砂略炒）、茯神各一兩，辰砂（飛）、紫石英各五錢。此方十年不育者，皆主之。</p>
<p>調經方臨期服三帖：烏附芍芎歸，桃仁索桂茴。</p>
<p>當歸（三錢）　撫芎　紅花（酒炒）　小茴　香附（酒洗，炒）　赤芍（各一錢）　烏藥（一錢）　延胡（二錢醋炒）　桃仁（去皮尖四錢）　赤桂（五分酒炒）　姜（三片）　燈心（十根）</p>
<p>經前服。</p>
<p>經期後方：四物杜續苓斛砂姜</p>
<p>當歸（一錢）　熟地（一錢）　芍藥（二錢酒炒）　杜仲（二錢）　茯苓（一錢）　石斛（一錢）　川芎（一錢）　川斷（一錢五分）　砂仁（五分）　煨姜（一大片）　棗（三枚）</p>
<p>半飢飽服。</p>
<p>丸藥方：地歸杜續苓斛故菟車蓉</p>
<p>熟地　當歸　杜仲　川斷　故紙　菟絲（各四兩）　肉蓯蓉（二兩）　茯苓（二兩）　石斛（三兩）　河車（一具）</p>

<h1>產後總論</h1>
<p>凡經胎諸症，皆起於氣血衰、脾胃虛。而產後之氣血至脾胃虛衰尤甚，是以丹溪論產當以大補氣血為主。雖有他症，以末治之。夫產後憂驚勞倦，血氣暴虛，諸症乘虛易入。如有氣母，專耗散；如有食母，專消導。熱不可用芩、連；寒不可用桂、附。寒則血氣停滯，熱則新血流崩。至如中外感，見三陽表症，多似可汗也。在產後而用麻黃，則重竭其陽；見三陰里症，多似可下也，在產後而用承氣，則重竭其陰耳。識脅痛如腎虛，惡露之停，休用柴胡；譫語汗出乃元弱似邪之症，毋同胃實。厥有陽氣之衰，難分寒熱，非大補不能回陽而起弱痊。由陰血之虧，毋論剛柔，非滋榮不能舒筋而活絡。又如乍寒乍熱，發作有時，症似瘧也，若以瘧治，遷延難愈。神不守舍，言論無序，病似邪也，若以邪論，危可立待。去血多而大便燥結，蓯蓉加於生化，非潤腸順氣之能通。患汗多而小便短澀，六君倍用參、耆，必生津助液之可利，加參於生化，頻服，救產後之危，長生活命，屢用蘇。絕谷之人，㿗疝、脫肛，多是元虛下陷，須用補中益氣。口噤拳攣，如因血燥類風，還仗生化加參。產戶入風而痛甚，宜服羌活養榮。玉門傷冷而不閉，須選蛇、菟、萸、硫。怔仲驚悸，生化湯堪加定志。似邪恍惚，安神丸助用歸脾。因氣而滿悶虛損，生化加木香為佐。因食而噯酸惡食，六君加曲、麥為良。氣短者，人參、生化、杏核。氣短而汗出者，再加浮麥、麻根。若內虛弱而外感深，人參寧肺堪用。咳嗽者，生化、杏、桔、知母。痰嗽而汗出者，還增半、棗、參、耆。若干咳嗽而大熱甚，加減四物尤宜。泄瀉而塊痛已無。酌用參、耆、肉果、訶子。痢疾而後重，如甚急，煎木香、白茯苓、陳皮。乳癰腫痛，制立兩方。未膿，栝蔞、乳、沒；已膿，大補金花。嘔吐絕谷分為兩症，氣滯，加減六和；血滯，安胃行血。須知蘇木、稜、莪大能破血，青皮、枳實最消脹滿。要識耗氣破血之劑損傷榮衛，止可施子少壯，豈宜用於胎產。大抵新產之後，須問惡露何如？塊痛未除，不可遽加耆、術。腹中痛止，補中益氣無疑。至如陽亡脫汗，氣虛喘促，須服加參生化，是從權也。又如陽亡大熱，血崩厥暈，速煎生化原方，乃急救也。治法當遵丹溪而固本，服法宜效太僕而加頻。</p>

<h1>生化湯論</h1>
<p>一產後氣血暴虛，理宜大補。但惡露未盡，用補須兼行滯，能化又能生，攻塊無損元氣，行中又兼補，始得萬全。以四物湯理產，誤人多矣。地黃性寒滯血，白芍酸寒無補故也。</p>
<p>一產後有塊痛，名兒枕。世多專先耗散，後議補，又立消補混方。殊不知舊血須消化，新血當生養。若專攻舊，生亦不寧，世以濟坤丹（又名回生丹）治產，用以攻血塊，下胞落胎。雖見速效，其元氣未免虧損，平安產婦莫視良劑，不得已用一丸可矣，不必多服。</p>
<p>一生化湯因藥性功用而名也。夫產後血塊當消，新血宜生，若專消則新血不寧，如專生則舊血交滯。考諸藥性，惟芎、歸、桃仁善破舊血，驟生新血，佐以炮姜，甘草，引入肝肺，生血利氣，行中有補，化中有生，實產後妙方也。</p>
<p><u>生化湯</u>　當歸（八錢）　川芎（三錢）　桃仁（去皮尖，十五粒）　黑姜　炙甘草（各五分，一本有陳皮）</p>
<p>煎好，入酒七匙。帶熱服，要在一二時內未進飲食前連進三服，服多而頻則瘀速化，而驟生新血，自免暈症。若胎前稟弱，及產後勞倦，又當再服兩帖，以防危倦。且產婦服一帖，精神漸增，自不厭服藥之多。若照常間服一帖，只能扶危；若虛人見危症又熱症，墜胎或勞甚，身潮頭痛，服至四五帖必安矣。如血痛又當再服。</p>
<p>凡將產時，預製二三帖，至胞衣一破，速煎一帖，候見下地即服。不問正產、半產，雖少壯產婦平安無恙，宜服兩帖，以消塊生養新血。</p>
<p>新產及三日內服生化湯，兩三日痛塊未除再服。七日內血塊未除，不可加參、耆、術，致痛不止。</p>
