<header data-type="book">
<h1>產論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>賀川玄悅</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第九冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015281">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>古醫之道失傳。庸陋之學日興。漸毒流染。而無復異論矣。伏惟本邦昇平醇化之所向。上自王公大人。下迨士庶人厚生壽安之欲膠固於心。乃僥倖之徒。務味世路。故作老態。呴愉補益。以鉤人意。而意相投黨。遞驛以掩跡。分毀逞己之欲。蓋為重糈也。是故生無輦外之聞。外無一書之遺。待與蚊蚋同域。而浮過日月。已然而時乘順運。身援機路。豐衣蟻食。晏然而甘。瞑於一世也。此風一興。後遊蕩亡。賴之徒逐臭慕羶。髡形儒服。妄馳逐聲利司命之大任。卒以為棄物之苑囿。不亦哀哉。有志之士。所以長大息也。我先君東洋先生。痛吾技之頹壞。排辟世醫。以立古醫道矣。余也少小與聞之尚矣。既而聞城南一貫街。賀川子玄翁者。善艱產之術。然其事奇險幾乎詖離焉。亡幾先君逝矣。余小子嬛嬛在疚。益恐斯道之荒廢。因遍交有聞之士。尋繹撮要。以欲建纂修集成之業也。及此時。翁之名益顯。遂介以得見。翁為人忠實。任氣。初以針術為業。大見推用。會其鄰家有橫產者。眾醫束手。主人謀之翁。翁有奇構救之。於焉慨然謂大凡橫逆產者。究非藥石之所治矣。乃淵慮沉思。益推明其術。而其業大成矣。概其術從古所無。而其所識發。亦拓開由來之陋習。傲然睥睨古今。自以一家樹立也。實可謂曠古一人哉。而有貧窶孤寡之疾病。即必匍匐就事。尚且為之施與。必救其急患。即雖貴富輿載之招。有毫髮不容於其心。則亢眉不肯顧焉。又見華言巧飾之徒。則焄燎以弄之。亦詬厲以鋤其趣操焉。以故人或稱之為狂為癡。而能知之者。如子這慕慈母也。此蓋與世醫之攘攘務味世路。炫售虛技者異。而名聲所以藉甚也。近者著其所持論及治法藥方四卷。名曰子玄子產論。請序於余。余時應若狹侯之求。赴小濱診理。旁午不遑筆研。雖然以余與友盟。加有啟沃之誼。不可以辭焉。因姑記其梗概。表白其操行。與世醫決絕而鴻業所以大成乾。見此書者。攘棄自來之陋弊。盪滌流俗之垢穢。取之左右。以其要於功實之上。則古醫道之崇。蓋亦可心裨益云。</p>
<p><u>峕明和乙酉秋八月東都醫官平安橘陶書於若狹之客館。</u></p>

<h1>卷一　孕育</h1>

<h2>一　緒論</h2>
<p>論曰。婦人受孕。經畢後十日之間。為其候矣。過此已往。後經復動不能作孕也。其免之期。初孕者。滿三百日則免。如經產者。二百七十五日。折衷其旬而計之。可以不失其大要焉矣。</p>
<p>始孕三旬則病阻。蓋以後經不能行而及期病也。或頭微痛。或心中憒焉。或解惰不欲執作。至四十五日若五十日益熾。其大凡其人。脈數。惡寒發熱。頭痛口渴。嘔吐咳逆。上氣不食。腹痛下利。耳鳴煩悶。或欲啖鹹酸果實。多臥少起。其疑似疫者。當按三部而後決焉。</p>
<p>經畢後七十五日。候孕與否可決。凡孕者。其指頭之脈。或倍於寸口。氣衝之脈。或倍於寸口。是謂三部之脈。</p>
<p>按三部而不得決者候之腹。右手循鳩尾而拊而下之。至於天樞。左手起自橫骨之際。微推而上之。則臍下任脈之經。豚豚然有物起其指下。按之隱然有氣力焉者乃娠也。凡按腹者。候之肌膚之間。故其手宜輕。否則胎氣逃散。不得見矣。輕而拊下之。而臍下之肌膚礙指焉者乃娠也。凡孕皆在橫骨之際。大抵始身過七十五日。則見其大僅如獨栗子。但又須兼按氣衝乃決之矣。</p>
<p>左腹下為血室。右腹下為委食之府。故如血塊腹脹者。率居於左邊。而按之或有數塊累累焉。偶當任脈者。亦切按之。其物凝然膠結。愈深愈固。可以一按而決矣。凡此所云左右分屬之說。雖出於古人。亦躬所實驗。數治產婦。事有良然。故按腹右得者。定為燥屎。左得者。定為瘀血。必無不中者。世當以乳頭紫黑。卜之妊否。然而殊有不然者。嘗見一婦。類孕乳頭黯色。又能出汁。而其實血症者。故不可一例也。</p>
<p>妊娠之形類血塊腹脹者。不可不審別也。假如四五月不見其經者。當問其經嘗多少也。即曰常多者妊娠也。即曰常少者。又當依法按其腹。按後腹形頓小者。是血塊病也。假如六七月不見其經者。當按其腹。當神闕有物應其手。而橫骨之際。任脈之經。其膚圓軟而渾渾然。切之。則動氣應其指者妊娠也。或雖於橫骨際已毋有而按其腹。又弗覺氣力者。然而氣衝之脈甚數。及臍下之膚礙指焉者妊娠也。假如八九月不見其經者。當試令其人仰臥。仍不轉側。而直起座。若能之者。是非妊娠也。</p>
<p>凡婦人之腰形必拗曲而其內宏。蓋是天設受胎之地。故與男子之腰形峭直。內無容受者不同。</p>
<p>古來論胎孕之狀。皆以為。妊娠十月子頭向上。及將生則轉身而下。頃余又閱紅夷所傳內景圖。亦畫胎孕之形。一同其說。乃知傳廖誣真。非特漢土也。夫彌月之胎。其大幾何。子宮之中。其寬幾何。信使迴轉。理當破裂。豈非大謬惑者與。今唯據實。如法按之。當自知彼非是。大抵五月之後。腹中胎大如瓜。必背面而倒首。其頂當橫骨上際而居焉。其胞衣則蓋於胎之尻上。而當母鳩尾之下。至臨月按之。可得別其體貌而盡矣。古人又謂其縮手足而居者。亦非是也。自其背而探之。其左右足膝。皆張而旁出。則應是其面作箕股或結趺也。如其手膊。則並展其臂而常自依脅旁。則未嘗縮手足也。故生子頭上耳後橫斷紋。乃橫骨當齧之痕也。</p>
<p>如逆生者。其孕本亦背面而上首。胞衣蓋乎兒膏肓之上。故其生遂自足踵而出也。蓋古時未知其胚胎之初所已倒錯也。而以臨產遽變者。妄論耳。</p>
<p>凡妊娠之形。尖上者必逆產。尖下者必順產。凡所謂順逆者。並皆以世所常有者謂之順。反此者謂之逆也。下皆仿此。</p>
<p>凡孿胎一側於左。而倒首向下。一側於右。而豎頭向上。其生也。左先右後。故後者必逆生。其胞衣各一。是為孿胎正法。其奇者。或駢首向下。共一胞。或雙皆上首。共一胞。胞皆大如盤。是為孿孕奇法。獨其雙逆胎者難達。而死。而罕生者。</p>
<p>凡任脈窪成一道者。孿胎之候。</p>
<p>孿生或男女同孕。或純男。或純女。余所識家。每歲孕而孿生。又必一男一女。凡五產皆然。又嘗見一婦坐草。視其所下。乃流產之胎。如孕未足七月者。而舉體尚冒膜未脫。後三日還產滿月之胎。而其子今尚無恙。蓋天下無所不有矣。</p>
<p>凡妊娠百二十日。而四肢之形具。未滿者但有胞而形圓。譬如獨栗子。而白膜包之甚厚。蓋嘗遇傷產婦墮是物者三。視之其內但有五采。蓋三剖皆同云。由是觀之。謂人非五行之秀氣者。吾不信矣。</p>
<p>有品胎者。余嘗見之者二人而已。故其法未詳。但其大略。猶如孿胎之法。而其所生之兒。率不可育已。</p>
<p>或問男女之辨。余答曰。不知也。問左男右女之說。曰。非是也。凡孕皆當任而居中。為物所壓則左右側。其右者。兒之頭居焉。左者兒之下身居焉。</p>
<p>妊娠禁伸腳而寢者。其意蓋恐其臥肆體。則產致橫難也。然檢漢人古醫籍。並亡是說。而雖本邦古名醫。亦未聞有此議。則知此言。徒出近時兒女之臆見者。而偶然傳承。遂成是陋習者耳。不然其言之害事理者。亦莫甚焉。何者凡孕胎必當任而居中。而今屈腳而寢。則肚體必曲撓內縮。此為其胎難居中矣。且如本邦婦人。又加之以鎮帶束其上。是制其上而戾其下也。胎欲不欹斜。豈可得乎哉。故今孕婦之動致橫產者。率皆夫二者之貽禍。識者不可不力救辨正也。</p>
<p>妊娠禁食川鱗。亦是近來始有此陋習。竊繹其意。蓋惡流產而忌之也。夫傷產自由母氣不足與物傷其胎而有之。豈川鱗之所能為乎。蓋余壯及今年。六十有七歲。其間日治妊娠遇有此輩。必強食之。力為一世除之謬惑。而未嘗遇所害也。大抵一切禁忌。未嘗非庸惑之流也。</p>
<p>凡產前多房。必產後病蓐勞。是為妊娠之大戒矣。</p>
<p>凡妊娠當忌屢浴。則腠理開而風冷襲焉。凡妊婦之受冷者浴也。其他無所受邪。胎氣實於中也。</p>

<h2>二　治法</h2>
<p>病候曰。經水時下。或不絕。或胎動而水下。或欲墜者。胎失其處。而動經若膀胱也。至甚動經脈。則寒戰發熱而胎墜。</p>
<p>測法曰。病得之交接。而壓其胎。</p>
<p>治法曰。整胎之術主之。宜第一和劑之類。</p>
<p>病候曰。吐血衄血或卒然胸痛者。</p>
<p>測法曰。病得之盛怒。而其氣暴逆也。</p>
<p>治法曰。洞當飲主之。兼用童騰飲。吐血甚者別與藕汁。</p>
<p>洞當飲方</p>
<p>柴胡　黃芩　黃連　茯苓　半夏　生薑　青皮（各五分）　甘草（一分）　芍藥（一錢）</p>
<p>上九味。以水二合半。煮取一合半服。</p>
<p>童騰飲方</p>
<p>芎藭　黃芩　黃連（各一錢）　大黃（五分）</p>
<p>上以麻沸湯一合漬之。須臾絞去滓頓服。</p>
<p>病候曰。孕婦左腿痛。</p>
<p>測法曰。有瘀血也。數產而後。或病於左。初則不病。</p>
<p>治法曰。產後療之可也。折衝飲主之。</p>
<p>病候曰。溲黑血。</p>
<p>測法曰。溲黑者腎傷也。溲血者內熱也。凡諸血不由戶者。不害於孕甚則危。</p>
<p>治法曰。大補湯主之。</p>
<p>大補湯方</p>
<p>黃蓍　人參　白朮　茯苓　當歸　芎藭　芍藥　桂枝（各五分）　乾地黃（一錢）　甘草（一分）</p>
<p>上十味。以水二合半。煮取一合半服。</p>
<p>病候曰。藏躁悲傷者。或善怒者。產後不眩冒則病狂。</p>
<p>治法曰。甘麥大棗湯主之。（方見要略）</p>
<p>病候曰。苦心下逼者。</p>
<p>測法曰。世醫率謂。是胎也。余屢驗非胎而唯血氣上逼者甚多知。如胎絕橫骨而上。則往往難救。其得整胎而復者。十僅二三而已。</p>
<p>治法曰。第一和劑湯主之。兼用救癇術按之而止。（術見後）</p>
<p>第一和劑湯方</p>
<p>附子　白朮　黃蓍　芍藥（各一錢）　當歸　乾薑　芎藭　茯苓（各五分）　桂枝（一錢）　甘草（一分）</p>
<p>上十味。以水二合半。煮取一合半服。</p>
<p>病候曰。妊娠下黃汁或如赤豆汁。</p>
<p>測法曰。產門下之者胎死也。</p>
<p>治法曰。第一和劑湯主之。（方見前）</p>
<p>病候曰。妊娠二三月下血塊。</p>
<p>治法曰。當剖視之。恐是傷產也。已知傷產。當與折衝飲可也。但下血塊者乃知非是傷產也。</p>
<p>折衝飲方</p>
<p>芍藥　桃仁　桂枝（各一錢）　紅花（半錢）　當歸　芎藭　牛膝（各八分）　牡丹皮　延胡索（各五分）　甘草（一分）</p>
<p>上十味。以水二合半。煮取一合半服。</p>
<p>病候曰。婦人每孕。三四月必墮胎。</p>
<p>治法曰。膠艾四物湯主之。</p>
<p>膠艾四物湯方</p>
<p>當歸　生地黃（各三錢）　芍藥（二錢）　芎藭（一錢五分）　艾葉（三分）　阿膠（二錢）</p>
<p>上六味。以水二合半。煮取一合半服。</p>
<p>病候曰。子癇。</p>
<p>測法曰。其人七情鬱結過度。則內火煽盛。熱薰大腸。怒撣憤起。上動委食之府。是為子癇。故其病必右。</p>
<p>治法曰。救癇術主之。（術見下）</p>
<p>病候曰。過期不產者。</p>
<p>測法曰。經行不來者久之。而忽又受孕也。</p>
<p>病候曰。心下逼而嘔吐者。</p>
<p>治法曰。虎翼飲以伏龍肝汁煎服。</p>
<p>虎翼飲方</p>
<p>半夏（八錢）　茯苓（四錢）　青皮（一錢）　生薑（一錢半）</p>
<p>上四味。以汁二合半。煮取一合半服。</p>
<p>病候曰。妊娠胎動。則足痛而痿。</p>
<p>測法曰。妊娠過食。若物壓其胎。則動甚者痛痿。但動未至甚者。至八九月。旋自止矣。</p>
<p>治法曰。整胎術主之。（術見下）</p>
<p>病候日。飲食停滯。或吐或下。</p>
<p>治法曰。吐則虎翼飲。瀉則第三和劑湯主之。（虎翼飲方見前）</p>
<p>第三和劑湯方。</p>
<p>白朮　黃蓍（各一錢）　乾薑（五分）　芍藥（一錢）　桂枝（一錢）　半夏（一錢）　甘草（一分）　茯苓（五分）</p>
<p>上以八味。水二合半。煮取一合半。去滓溫服。</p>
<p>病候曰。煩燥口渴浮腫有熱而大便秘或麻痹者。</p>
<p>治法曰。龍翔飲主之。</p>
<p>龍翔飲方</p>
<p>麻黃（一錢）　大棗（一錢）　蒼朮（一錢）　石膏（三錢半）　甘草（一分）　生薑（一錢）</p>
<p>上六味。以水二合半。煮取一合半服。</p>
<p>病候曰。孕而遺精。</p>
<p>測法曰。得之子宮受寒冷也。</p>
<p>治法曰。牡蠣湯主之。</p>
<p>牡蠣湯方</p>
<p>桂枝　澤瀉　龍骨　牡蠣（各三錢）　甘草（一分）</p>
<p>上五味㕮咀。以水二合半。煮取一合半服。</p>
<p>病候曰。轉胞。</p>
<p>治法曰。玄英湯主之。</p>
<p>玄英湯方（丸則亦名玄英丸）</p>
<p>乾地黃（一錢）　薯蕷（五分）　茯苓（一錢）　山茱萸（三分）　牡丹皮（三分）　澤瀉（一錢）　牛膝（八分）　車前子（五分）　桂枝（一錢）　附子（八分）</p>
<p>上十味。以水二合半。煮取一合半服。</p>
<p>病候曰。大便下利。</p>
<p>治法曰。第四和劑湯主之。兼用青陽丸。</p>
<p>第四和劑湯方</p>
<p>附子　白朮　黃蓍　芍藥（各一錢）　桂枝（一錢）　乾薑　茯苓　半夏（各五分）　甘草（一分）</p>
<p>上九味。以水二合半。煮取一合半服。</p>
<p>青陽丸方</p>
<p>黃柏（熬二兩燒二兩生二兩）</p>
<p>上一味。糊丸。每服一錢匕。一晝夜數服。以大便利黑為度而止。</p>
<p>病候曰。鬼胎血塊病。</p>
<p>測法曰。或在臍下之左。或章門邊。形類娠六七月者。按之其物似有尖稜矣。</p>
<p>治法曰。折衝飲主之。（方見前）</p>
<p>病候曰。渴病難治。</p>
<p>治法曰。專以天花粉與之。不與他食而愈。</p>
<p>病候曰。妊娠腹滿。</p>
<p>測法曰。大便燥結也。</p>
<p>治法曰。朱明丸主之。</p>
<p>朱明丸方</p>
<p>蕎麥（一兩）　大黃（三兩）</p>
<p>上二味。為末糊丸。每服一錢。</p>
<p>病候曰。妊娠腹內覺如鐘鳴。</p>
<p>測法曰。大便燥結而氣逆也。世蓋謂兒哭於腹中者妄矣。夫兒在胎者。其頭與手足皆包白膜。安得作聲。故其臨生也。其膜內破而里漿外迸。乃亦有生尚舉體被覆者。而人爪其頷下之膜。而發露其唇。然後兒得一啼。而舉體之膜。自破裂而脫。故兒未嘗哭於腹內也。</p>
<p>病候曰。右腿痛不可忍。而不能行步者。</p>
<p>測法曰。胎之處偏也。</p>
<p>治法曰。整胎之術主之。但痛者朱明丸主之。（術見後方見前）</p>
<p>病候曰。孕而顛仆者。</p>
<p>治法曰。整胎之術主之。</p>
<p>病候曰。小便澀滯者腫滿。</p>
<p>測法曰。得之數浴下身。而浴後溫已則塞也。</p>
<p>治法曰。玄英湯主之。（方見前）凡孕婦忌數浴。浴者無久處之。孕至九月。法當斷浴。但以熱湯濡巾。拭之可也。</p>
<p>病候曰。孕而淋。</p>
<p>測法曰。以浴下身得之。</p>
<p>治法曰。治淋醴主之。兼與玄英丸。（方見前）</p>
<p>作醴方</p>
<p>曲（四合）　白砂糖（一合）</p>
<p>上二味。以水八合。煎如飴狀。一晝夜溫服。</p>
<p>病候曰。孕婦頭暈甚者不治。</p>
<p>病候曰。妊娠五六月傷產者。其痛必自腰間八髎。發而陳疼。而肚下痛甚者是也。</p>
<p>病候曰。熱利或水腫病其胎多墮。</p>
<p>病候曰。熱病胎死於腹中者。必下血。</p>
<p>病候曰。妊婦遽苦腰間重。若負任者。胎死也。</p>
<p>病候曰。時行病及其佗雜病。</p>
<p>治法曰。皆隨症治之。用藥勿拘俗戒。凡有其症者。雖毒藥無傷。若遲緩不治者。產後三四日必復大發。而不可救矣。產前十日而病愈者。則不再發矣。</p>

<h2>三　治術</h2>
<p>治術曰。凡子在胎。其頂當橫骨上際。而倒豎而居焉。而及九月也。漸陷而其頭入於橫骨之中。故腹橫骨之間按之。而不可容指。則不逾十日而免。故子胎者。日動月下。然後就免矣。若或妊婦為物所觸壓。或遇他事故。內受驚恐。或飲食過度自動其腸胃。則胎常欹側悶動。而不橫產則子死於腹中矣。故不可不時時按腹。正其所位。位常不失其正。則雖至分娩之時。萬無一害矣。其整胎之法。先使產母解帶仰臥。消息半時許。醫徐用兩手就之。初自胸腹按摩起。以次下及右邊小腹。凡妊娠已五六月者。其胎大已如瓜。當任脈之經橫骨之際而居焉。而左為血室。常蓄氣血。右為委食之府。為空虛。故胎動輒易偏右側。而欹斜甚者。或當得之小腹橫骨之際。醫既審按。以揣其胎畢。膝頭據產母之左脅下。以此為用力之地。雙手略提其胎。輕輕用力。推送於任脈下之本位。但孕婦有燥屎者。亦須分理排定。屎者當右傍背小腹之間。重按之。有磊塊應手者即是也。須用左手。沿其內邊。而指頭撥之。以使不蔽其胎。而卻從其中間拘其胎。以令內移。不然則並推屎腸。不成其功也。推送之時。用力不可粗暴作之。當須臂頭重而指頭輕。其右手當亦略帶按撫意。務致中正為要矣。已整胎畢。卻自小腹拊摩迴轉向腹前。其中間留瓜跡大而安頓之數十回。乃使產母起坐。醫以右肩緊依其胸。而令產母兩手緊抱醫者之頸。而醫以兩膝內。挾持其膝。以令產母體無欹側搖動。而後卻用兩手指頭微用力。挾脊骨循之。自第七八推。而按抑而下。就其按下之勢。使指骨節間有聲。務以使產母轉其志意。向背後為之者一再次。卻下用其掌側骨。緊切相依。仍用力拘勒。自背後腰眼。向小腹之前使相聚。而回轉為之者。五六十次。卻又用其掌側骨附產母臀尻。圜轉撫摩者數回。至左右兩髀而止。凡產母用此法按之者。腹內鬱氣大開。絡脈自理。而所孕之胎。亦自安其位矣。苟能使子母任督常不相離。則胞胎寧固。而臨產可以保免於橫礙之難矣。大抵子胎。常自有包膜護之。而橫骨常亦津液濡潤。雖乃用力推送。決無所害傷。請勿以此類而生顧忌之心也。妊娠五六月。每旦作之不懈者。母子肥健。長無殤折之憂。家世弈續。永膺無疆之福矣。</p>
<p>凡救子癇。須急如奉漏沃燋。不則死矣。其狀大類癲而發狂瘈瘲者是也。其救法。先使其婦仰臥。而醫以右膝臏抵於婦人左腹季肋。以此為其用力之地。卻以右手。上推右不容冗。左手下按右章門冗。乃其手下必應有物如巨柱。憤動掀起。用力按之則止矣。</p>

<h1>卷二　占房</h1>

<h2>一　緒論</h2>
<p>論曰。臨月先須事審診。預辨順逆。凡妊娠之狀。以手按之。腹中若有界埒。其上張大。而下狹小者為順孕。即以手按橫骨上。其子頭陷在橫骨中矣。其下張大。而上狹小者為逆孕。即以手按橫骨上。其上際虛疏。可容兩指。則知難產也。如其胎偏側而頭入右股者。不治則知橫產也。</p>
<p>凡出生之兒。自頂至尾骶長不盈一尺者。必死。縱無災害復不能育也。如工匠尺准之者八寸。</p>
<p>凡臨產之脈。宜浮數弦大。產難脈。亦貴按之而有力者。</p>
<p>世傳。欲產之婦脈離經。然此與難經所云。一呼一至曰離經者。義又似各別。餘數驗諸臨產之婦。其脈形。真可心當離經之目者。數千人中偶得一二人。凡產事極易者。其破漿之後。脈或左右。或左或右。必沉細而滑。其子方免。寸口皆離絕而入於指端。既則復於本位矣。疑乃謂此也。</p>
<p>有痛五七日而免者。其痛日下至腰。或有痛乍起乍止而免者。其疼俄止者。慮子死腹中可也。</p>
<p>臨產宜顏色青白。其赤者危。</p>
<p>其生也彼之時也。其豈草根木皮之所能催哉。故世言催生藥者妄矣。但臨產之婦服藥助其血氣。則或有是理。</p>
<p>子戶既開。漿破血下。漿者包膜中水。其色清冷而黏類雞子白。蓋內氣剛逼。而繞壓其胎。故包膜中水先所束迫。而並聚於子頭頂上。而內氣益摶手及產門。則頭膜不復堪停積。而自迸裂也。其水或五六度下者。乃膀胱之餘泄。而非膜中之水也。</p>
<p>凡破漿不來。而產者被幕胎也。破漿來不迸者倒產也。</p>
<p>如臨產而小便利者。子頭不在於橫骨中也。非橫逆產。則是其子已死於腹中矣。故小便不通者。為子易免產矣。然而死胎亦時有小便不通者。醫宜臨時審候之也。</p>
<p>凡臨產下水不止者。為胎死之候。然醫探之。其子頭上微有動氣。瞤瞤應於其指者。猶為生胎。如死胎則無動氣應於指者。</p>
<p>凡痛在腰甚者為正產。如初產婦。痛只在腹。而不下於腰及肛門者。非橫逆產。則是其子死於腹中矣。</p>
<p>凡臨產子將免。即腰痛已止。而肛門大痛或有挺出者。坐草術詳之。</p>
<p>產婦力息及子將免。則重沓而倍至。其聲息後倍振大。而產母每俯者為生胎矣。聲息後卻細微。而產母每仰者為死胎。凡胎死者按腹無氣力。而指若將陷矣。診脈無力而形若將結矣。</p>
<p>腰骨之橫而當臍下者。謂之橫骨。橫骨之餘曲。而下趨迤會於股中者。謂之交骨。其交沖中間相距者。男子三分。婦人五分余。經產者一寸余。是謂會陰交骨之前為陰。交骨之後為肛門。入陰四寸。當肛門之上子宮位焉。子宮長八寸其口常向背後。而橫骨之下邊正當其口。故及子將免也。子宮轉其口而反向。交骨全闢而陰肉皆沒。會陰近於上。而穀道後張。故子已出子宮。則其頭頂直下。倒豎於會陰而及激轉跳脫出產戶即免矣。子宮之形大類曲腰匏。而子已落地。則其口捲縮。卻退入者四寸余。而復於本位矣。</p>
<p>子頭頂未出於子宮者。雖經二日而未死。已出二寸余。難免者必死。為其卷口閉塞其口鼻故也。臨產子未免。而胞衣先下者定為其胎已死矣。凡將分娩之時。兒欲生而不生。產母亦力息數至而不可下者。有燥屎塞之也。探之其陰中近肛門。有物堅實如石。而礙其指背。即燥屎也。蓋以子頭壓之。燥屎向前故。其產門脹痛益甚。當急用蜜塗指。入肛門導之。大便得通則輒免矣。平日苦秘結之人。必多有此事。不可不知也。</p>
<p>世之論產。率以謂子轉身乃生。而終不知其未嘗轉身也。是以一切橫礙偏倒之產。皆不知求其過於妊娠之初。而一歸其罪於產婆之巧拙與用藥之遲速。豈非可嘆息之甚乎。故如逆產或露一足者。尚或可得救之。而至如橫產露手者。乃以元束鎮帶制之令偏。故其歪斜已甚者。醫雖急按之。而或不遽順直。則兒胎必不得不死。兒胎已死。則母亦不可獨得活。但當不得已而剁去之。則或可得救之耳。此吾之所以極嘆息也。</p>
<p>產母坐草不可太早。必待其力息重沓。而倍至一兩次。而後坐之也。不然則恐令產母體氣先倦。而免後失力也。又切不可令產婦努力也。</p>
<p>產母力息既亟陽氣全結並聚於上。然後子乃乘其勢下挺而生。故初生落地其肌極冷。其色甚白。撫之如水。才舉一聲。則四體即溫。肌色成赤。其愈冷愈健。若未啼其肌已溫者。率不逾三日而死。</p>
<p>兒在腹中。肌骨極柔軟。蓋分娩之際。雖頭顱亦壓匾而出。及落地則忽然復形。但如世所傳落地見風。則暴長者非是也。</p>
<p>兒在腹中順逆皆背面。及出產戶。男子必俯。女子臨出必側戾而轉。既落地則仰。</p>
<p>肚帶短者一尺。長者三四匝者。然未知其何以也。但世謂妊娠嘗顛躓者。而後有此者妄耳。蓋。數見免產。其繞頸十七八。豈天下妊婦皆嘗顛躓乎。即如楊子建所言礙產者。以今推之。乃亦燥屎塞之爾耳。不然余未見天下有以臍帶絆其肩。而為之礙產者也。</p>
<p>盤腸產者。穩婆不知其宜。強令努力。故脫其腸也。其產後腸脫亦強努力。出胞衣故也。其產前腸脫者。以指推之。收諸產門上邊令免產焉。</p>

<h2>二　治法</h2>
<p>病候曰。產婦嘔吐不止。氣上衝心者不治。</p>
<p>測法曰。子死也。</p>
<p>病候曰。露手而及臂若膊者不治。</p>
<p>測法曰。子必不能免而死。</p>
<p>病候曰。腸脫。若肛脫。若子宮脫。</p>
<p>治法曰。見後。</p>
<p>病候曰。臨產不堪腰痛者。</p>
<p>治法見於後坐草術。</p>
<p>病候曰。交骨不開者。</p>
<p>測法曰。子宮能轉口。則交骨必無不開之理。其有不開者。以子未臨而強令努力。故子橫冒子宮而出。令其口反益深也。</p>
<p>病候曰。分娩陰裂者。</p>
<p>測法曰。產婆之誤也。凡佐產者。當取諸上邊。而不可取諸下邊。下邊肉脆。子頤骨觸之。必無不破。生肌完膚散主之。</p>
<p>生肌完膚散方</p>
<p>大蒜（百錢燒存其性）　輕粉（十一錢）　莽草（五錢陰乾燒之為灰）</p>
<p>上三味。以胡麻油調之。塗其瘡上。甚有神效。</p>
<p>病候曰。臨產燥屎害於產道者。</p>
<p>治法曰。見於論條。蜜若膠飴輩治之。無則諸膏油皆可也。</p>
<p>病候曰。產不能自免者。</p>
<p>治法曰。先與參附之類。凡產難延日。若胎死見背。若見臂膊之類。必致令產母斃。不可不早時決意而救之也。其法醫踞小几令產母安意解帶。倚蓐高枕。開股豎膝。腳底撐幾而仰臥。醫亦展兩腳。腳尖承產母之兩臂。以其股間。倚產母之兩膝。令不外倒。而後施其事焉可也。</p>
<p>病候曰。子已露半身尚不能出者。</p>
<p>測法曰。子腰已下甚大也。又有腳股已下甚大如巨柱者。凡此類多死胎。死則不復能自免。醫必當有術救之也。余治產婦。罕見此二種。然數萬人僅一二。其產母皆因余救之而得不死。特識於此。以備後案云。</p>
<p>病候曰。臨產破漿後。猶下水不止者。</p>
<p>測法曰。子死腹中也。如子雖已死。而不見下水者。子頭塞橫骨之中也。其母必腹若股髀腫滿。凡子已死三日。則其頭腦率多自三裂焉。</p>
<p>治法曰。回生術主之。</p>

<h2>三　治術</h2>
<p>治術曰。夫妊娠之治莫要於臨產。而其間救護居十八。而湯藥居其二焉。故救護失術則湯藥無效矣。然乃今之醫。徒論湯藥之性而不知講救護之術。至其產母坐草起居之宜。與生子臨盆死生之候。一任之產婆。漫然不加省。即遇其稍危難者。瞠然疑阻。坐視其子母兩斃。此豈救患濟生者之所為乎。且夫世所有產婆者。並皆孤嫠寡嫗之不得已為業者。乃無知之一女子。而徒知滌浴拂拭之事而已。豈足與謀死生決成否哉。故救護之術之於妊娠之治也。不可不講者明矣。其術五。一曰坐草。二曰抒倒。三曰整橫。四曰舉孿。五曰回生。</p>
<p>坐草曰。將分娩疼痛者。當使人以手常上下抑按其腰八髎冗以下而為之不休。既而其痛稍下。頻欲大便。則令之解衣坐草。其坐法亦宜分開足踵。全出尻外而坐。是時醫先坐產婦之前。令其兩手憑肩嬰項以舉體倚任之。而醫於是當以右手裹綿衣進自婦股間。以其腕骨抵承婦之尾骶骨。而使坐之。而其左手抱持婦。每陣疼至即以右手昂按迎起。而左手緊抱舉上之。已得陣疼一再至。後則當先去其綿衣。以食中兩指入陰。探之以候其胎橫逆與否。其法當先向肛門而入指頭。卻轉向上探之。是時子宮口尚內斂。兒在其中。而頭尚冒膜探之。若濡帛者即膜也。如出宮者。則口已張開。而子亦出頂。雖尚冒膜。指頭易探。即未出子宮者。其膜中水漿飽滿。欲迸未迸。使產婦腰股痛殆如裂。醫當待其張時。爪破之。水泄氣達則其痛減半。母氣已旺。則出娩益易也。胞水已泄。乃為免產之候。醫當自踞小几。以左右膝頭。緊挾婦之小腹。使子胎無地欹側。仍又右手昂按。左手舉上。如前法。蓋子出子宮。輒已直下。其頭頂倒撐產母會陰。而穀道挺出。眼中火出。痛極脈移。則激轉跳脫而得出於產戶。故世間產婦有因分娩致陰門下裂者。亦以其激轉脫出之時。產婆不加意按其肛門之過也。是故右手之昂按之者。尤為坐草之緊要矣。不可不審慎用其意也。其左手舉上之法。亦當要每舉上。必使產母下肚與醫人之肩膊相摩切。微帶壓推之意。</p>
<p>前法或又用。使產婆在產母背後。按拒其穀道無挺出。醫在前兩膝挾小腹。用兩手撐側骨。自小腹逼勒起。頻頻為之。而相湊於神闕上。而候子已及肛門。急使產婆疾以兩手指。互編相連。自背後承產婦之下肛。以腹抵當而微舉提之。則殊易達生也。但疼痛甚者。唯當用昂按。</p>
<p>其二抒倒曰。探之子宮中。得子足踵者。醫先以手推入之。仍使婦倚蓐高枕。開股仰臥。而後重捫其足大指。審知是左是右。得左足者。卻更索其右足。得右足者。卻索其左足。既齊得之。則以其手中指兩股間。而各挾捉其左右足令無所滑脫。而後醫自聳其腰。據膝頭用力。急引提而拔之。即陰戶不傷而得免產矣。如或醫未至前子已露足。產婆亦已不能推入之。而至使露膝若股髀者。則不得復索其左右而齊之。蓋緩之則產母不勝痛苦。尋必致斃。且其子亦難活者必矣。唯當急以綿衣裹之。而聳腰引提。各從其方拔之如前法。則其一邊之腳自隨之奮挺而出。急用此法者。子母或俱全。若遲緩不決。或又不知其倒產初不可使轉生者也。則必因此事致子母兩斃。懊悔無及矣。如又如前法引拔之。而子已係死胎。項骨更拒留於橫骨間者。當令婦俯首就地。開股蒲伏。而綿衣裹兒。左手緊捉牽持。而以右手大拇指。不拘是頸是喉。疾撲而下之。左手就勢齊時聳腰引拔。即得免產。凡此類並不可使其子沿陰門下邊而拔之。必令陰門下裂。當向陰門上邊而引拔之。則無所傷裂。所以必用聳腰也。又有探之得子臀尻者。名曰坐產。當推入之。後按腹使其展腳。而後捉拔之。如已死胎。則依回生術救之。</p>
<p>其三整橫曰。探子宮中。得手指若子元曲肱。而肘見者。醫先以手推入之。仍令婦高枕。而開股仰臥。而後左手入子宮。按拒其所露手指若臂頭。而右手就其婦之左邊小腹。捫得其胎。用力推上之。務令順正。則子即正生焉。</p>
<p>其四舉孿曰。除雙逆外。孿胎皆可得令免產。唯駢首向下者。探之令其頭少退者。卻在後。而其頭少進者。先出焉。其法兩手各就婦之小腹。而其應使在後者。自橫骨際推而上之。應使先出者。自小腹上推而下之。則易免矣。但其婦亦須高枕仰臥如前法。而其應使後出者之所位就令婦身差帶微側而臥。尤為易得施功也。其孿胎一順一逆者。亦各照前手法。用之而免焉。如駢首向下者。而胎已死於腹中分行而並下。其頭各入兩股。急難相湊至者。其法與生胎駢首同。</p>
<p>其五回生曰。凡橫產露手。已及臂肘若膊者。不唯其子不可得兔。而母亦必因之致斃。如子未出而死於腹中者亦然。於是有茲一術。有微意難以筆授。雖然余常驟用此。救人之橫災。挽回周全。殆以千數。唯弟子輩亦有一二繼之者焉云。</p>

<h1>卷三　已娩</h1>

<h2>一　諸論</h2>
<p>論曰。俗斷臍帶。必先急系之。以物墜住。蓋恐其或上衝也。殊不知胞衣本自無上衝之理也。莫為是拘拘者而可也。又屬臍僅留三四寸。斷之可也。胞衣小者五寸。大者八寸。孿胎者一尺。又余嘗見其堅如石者焉。</p>
<p>胞衣夏月經一日輒糜爛。如冬月者耐二日。但二三日不得下者。雖稍糜爛。尚無甚害。過此則必須用手法下之。不然貽禍不小也矣。</p>
<p>凡胞衣不下。而醫為下之者。其按腹之法。但當自其小腹按摩之。而切勿按其前腹。如誤按前腹者。則愈按愈縮。而肚帶之斷余。恐復盡入腹中矣。子既下。而胞衣尚在腹內者。其衣附蒂之處。猶反向上。胞衣依附子宮裡。最高處。下之自有法。不知者妄摩其腹。則愈摩愈入。終不能下。此不可不知也。</p>
<p>凡產後三日。必用折衝飲。而無拘諸外症與虛實焉。惡露未盡者。百患立生。危斃可待也。慎之慎之。</p>
<p>腸脫已收後。欲小便者。必須用綿衣抵承而使溺其上也。又宜分開兩踵出尻外而坐。不然恐復出也。用第一和劑調理之可也。</p>
<p>產後發血暈者。率以分娩後輒起步。自動其委食之府。而瘀血之氣挾之。</p>
<p>上逼心下爾。不為輒起行者。血暈莫發矣。不可不知也。</p>
<p>俗習產後。防風冷甚嚴。其愚謹者。至有塞隙墐牖者。往往見人家產後。戶牖密閉。中多設火爐以烈焰逼蒸。遂使產婦血氣逆煽。而致弗救者。不可不以為戒也。產婦唯不可令其下身當風耳。其佗居處飲食。一從其平日而可也。</p>
<p>產後當禁白梅黑豆。蓋白梅酸收。恐使惡露難下也。黑豆之性能消藥氣。恐服湯無效也。</p>
<p>凡產婦分娩後。切無使起步。又切無用產椅。當倚蓐高枕。而右側臥則新產後。可以保無不虞之憂矣。</p>
<p>難產而醫為救免之者。蓐臥半時許。率多振身發熱而氣急。無懼也。不血暈故振身而氣急也。多與參附故發熱也。</p>
<p>凡產後用藥勿用香竄之劑。以其血弱易奪也。難產而醫為救免之者。子已出後。當須候產母氣息已定。然後更下其胞衣。恐使母氣暴索也。</p>
<p>產後乳汁不出者。必待三十日。而乳出焉。蓋舊瘀已盡而新血行也。</p>
<p>產後十四五日。當忌浴。蓋新產惡露未盡。血氣又虛。而浴則腠理大開。虛邪必襲。至與瘀血熱氣相搏。則其生禍害決非淺淺也矣。多見人家守俗習陋規。產後六日鹽湯浴之。浴後冒衣。令汗大出。由是平穩之產婦。忽變成發狂讝語。若大熱發斑等惡症。或遂致虛羸不起之病者。生平所見者。不可勝舉矣。故余當治產婦。他一切禁忌。皆無所拘。而獨於沐浴。嚴加禁防者為之也。產後八日當厚被覆下身以熱湯濡巾。盡拭去其汙痕。畢後又脫上體。別拭之則身得清潔。功與浴同。而賊風無所乘襲矣。</p>
<p>蓐勞有二種。一屬虛證。一屬瘀血。必十日後發其病。頭痛發熱而咳。身體無所不惡。其善食而乳出濃汁者為血虛。如瘀血則血氣上逆。其人不食少乳。</p>
<p>產後十七八月。法當無經行。而其經將先期者。其乳汁必濃。其七八月偶見者。多房而動其血也。</p>
<p>世醫或論血入衣中。張大不能下者妄矣。胞衣雖在腹中。亦必自縮小。不能張大矣。其不能下者。常束鎮帶制之令然焉。產後亦當必禁帶。而使勿用也。</p>

<h2>二　治法</h2>
<p>病候曰。胞衣未下而血暈者。</p>
<p>測法曰。難治者十居五六。</p>
<p>治法曰。先治血暈。後下其胞衣。但暈發已過二時者死。（禁暈之術見後）</p>
<p>病候曰。產婦不起。則不血暈。而今雖不起。而發血暈者。</p>
<p>測法曰。血熱盛而搏也。</p>
<p>治法曰。禁暈之術主之。與以折衝飲。（方見前）</p>
<p>病候曰。產後顛狂。</p>
<p>測法曰。敗血上衝也。</p>
<p>治法曰。鎮亢丸主之。</p>
<p>鎮亢丸方</p>
<p>水銀　黑錫　辰砂（各十錢）</p>
<p>上三味。以柳木片攪之。於鐵盆中。而以不見星為度。糊丸。先以夜寅刻。分服其半。不已則次日寅刻與之。</p>
<p>病候曰。產後譫語發斑。</p>
<p>測法曰。得之新產未逾七日而浴。浴後大取其汗也。</p>
<p>治法曰。噀冷水於其面。與以洞當飲。渴者加麥門冬栝蔞根。當自清解。如虛者必死。（洞當飲方見前）</p>
<p>病候曰。產後寒戰咬牙者。</p>
<p>測法曰。瘀血也。</p>
<p>治法曰。折衝飲主之。（方見前）</p>
<p>病候曰。產後血暈。</p>
<p>測法曰。其面俯如欲眠。而不覺者。元氣虛乏也。其仰者血熱氣與食谷相搏也。</p>
<p>治法曰。禁暈之術主之。虛乏者速禁之則生。如禁遲而數發者難治。（禁暈之術見後）</p>
<p>病候曰。產後崩漏。</p>
<p>測法曰。其人營氣不能養血者。而產後起坐故崩下也。</p>
<p>治法曰。遏崩之術主之。（術見後）</p>
<p>病候曰。產後胞衣雖下。而瘀血不下者。</p>
<p>測法曰。血氣熱而結也。</p>
<p>治法曰。折衝飲主之。（方見前）</p>
<p>病候曰。產後兒枕痛。</p>
<p>測法曰。痛在右腹者。為兒枕痛。</p>
<p>治法曰。產後輒痛者為瘀血。其痛有時起止。若作陳疼者。折衝飲主之。</p>
<p>產後二三日而其痛發者。為大便燥結。問之果信與朱明丸。當令病人右臥。</p>
<p>病候曰。產後胞衣不下。二三日者。</p>
<p>測法曰。婦本虛乏。因產益甚者。則不能下也。</p>
<p>治法曰。誤急下之則死。治法先使婦高枕。安臥按臍下。動脈應微弱。且先安其胞。無欲下之。當先頻與牛膝附子類。一時許脈覺有力。乃下其胞可也。</p>
<p>病候曰。產後發熱煩渴。</p>
<p>測法曰。得之產後數浴下身。浴後受寒冷也。</p>
<p>治法曰。洞當飲主之。（方見前）</p>
<p>病候曰。虛汗不止。若自汗盜汗者。</p>
<p>治法曰。順血則愈。第三和劑湯類主之。</p>
<p>病候曰。產後遍身痛。有熱痛疼痛癢痛者。</p>
<p>測法曰。熱者屬血。疼者屬寒。癢者屬氣。</p>
<p>治法曰。熱者下之。折衝飲主之。疼者溫之。第四和劑湯主之。癢者行之。</p>
<p>第三和劑湯主之。（各方見前）</p>
<p>病候曰。產後兩脅痛。或腹痛作陳疼者。</p>
<p>測法曰。或大便燥結也。如產後二三日後。大便快通。瘀血亦下而腹痛者。陽脫而虛矣。難治。</p>
<p>病候曰。產後臍下急痛者。</p>
<p>測法曰。氣血並虛。難治。又有因惡露凝結者。</p>
<p>病候曰。產後痿躄。</p>
<p>測法曰。得之產後血氣未調。強令跪坐產椅也。</p>
<p>治法曰。第七和劑湯主之。</p>
<p>第七和劑湯方。</p>
<p>當歸　乾地黃（各一錢）　芍藥（一錢）　芎藭（五分）　牛膝　杜仲（各一錢）</p>
<p>上六味。以水二合半。煎取一合半。</p>
<p>病候曰。產後小便不通。</p>
<p>測法曰。其子宮腫因致此者。（其子宮腫者以其艱產受傷故也）</p>
<p>治法曰。泄閉之術主之。玄英折衝之類選用。</p>
<p>病候曰。產後乳少或止。</p>
<p>測法曰。其人本有蓄血也。</p>
<p>治法曰。先用折衝飲下蓄血。後與乳生湯。（折衝飲方見前）</p>
<p>乳生湯方</p>
<p>白朮　芍藥　當歸　芎藭　茯苓　桂枝　杜仲　乳香（各一錢）　甘草（一分）</p>
<p>上九味。以水二合半。煎取一合半。</p>
<p>病候曰。產門不閉。</p>
<p>測法曰。難產氣虛。下部失守也。</p>
<p>治法曰。當令斂足仰臥。四五日自復。</p>
<p>病候曰。產後肛門脫而不收者。</p>
<p>治法曰。收肛之術主之。（術見後）</p>
<p>病候曰。產後泄瀉者必腫滿。</p>
<p>治法曰。第三和劑加豬澤與之。別以青陽丸三兩一晝夜服之。（各方見前）</p>
<p>病候曰。產後便閉。</p>
<p>治法曰。朱明丸主之。（方見前）</p>
<p>病候曰。妊婦病水腫者。產後必無血暈。其胸已上有腫者為逆水。腹已下有腫者為下水。逆水分娩必輒死。下水產後發喘急者難治。</p>
<p>病候曰。產後頭痛。</p>
<p>測法曰。或脾胃虛。或大便燥結。隨症治之。</p>
<p>病候曰。產後怔忡。</p>
<p>測法曰。血氣方虛有觸驚恐。故病怔忡。</p>
<p>治法曰。八物湯主之。</p>
<p>八物湯方</p>
<p>人參　白朮　當歸　茯苓　乾地黃　芎藭　芍藥（各一錢）　甘草（五分）</p>
<p>上八味。以水二合半。煎取一合半。</p>
<p>病候曰。產後遇經行。發狂者。</p>
<p>測法曰。產後十七八月。法當無經行。而今有之者。是汙熱煽動而血妄行。故又發狂也。</p>
<p>治法曰。鎮亢若三黃加辰砂。有瘀血者折衝飲。</p>
<p>病候曰。產後瘛瘲者。必經七八日而發。</p>
<p>測法曰。病得之強令坐產椅也。</p>
<p>病候曰。產後喘急。</p>
<p>測法曰。或大便結故也。不大便結者死。</p>
<p>治法曰。大便結者。朱明丸主之。（方見前）</p>
<p>病候曰。產後搐搦上竄。</p>
<p>測法曰。血氣上逆也。</p>
<p>治法曰。龍翔飲抽刀散類選用。</p>
<p>病候曰。產後中風若傷寒。</p>
<p>測法曰。營衛失調也。又有因瘀血與燥屎者。</p>
<p>治法曰。第四和劑湯或折衝飲朱明丸選用。</p>
<p>病候曰。產後腹滿。</p>
<p>測法曰。大便秘結者。其腫先發於腹部也。</p>
<p>治法曰。先用朱明丸。下燥屎後。第四和劑加湯豬澤湯主之。（各方見前）</p>
<p>病候曰。產後不語者。經日自復。</p>

<h2>三　治術</h2>
<p>治術曰。產後之治。不慎擇其宜。則亦百患之所由生也。其術云。一曰鉤胞。二曰禁暈。三曰遏崩。四曰納腸。五曰收宮。六曰復肛。</p>
<p>其一鉤胞曰。凡胞衣難下者有二。其一由產婦元氣血虛弱。既免子胎。則真氣衰憊。不復鼓作。故不能下胞衣也。其一產婦雖本壯實。不幸遇產難。努力極苦。命垂將斃。醫為救之。才脫死塗。則神氣昏困。體皆委頓。不足復振。而不能下胞衣也。凡遇此類。當先審診其脈。脈微細者。次未得下之。手足厥冷者亦然。當與之以參附之類。脈已復。手足溫則下之。若誤急下之則必死。但其下之之術。頗極神奧。而非筆墨之所能盡。故此不能錄也。雖然世間產婦。以胞衣不下。遂致危斃者。十常居四五。苟非識此術。豈足專治產婦。而回之末路哉。於戲余欲傳之。而如此非筆墨之所能盡者何幸有神解者。請留意是言。而無使湮微焉。是吾所望後來之君子者爾。</p>
<p>其二禁暈曰。產婦發昏暈者。亦有三。其一其人氣血俱虛。產後大氣已轉。成亢炎之勢。因挾腸胃汙穢而上升。胃脘為之塞閉不通。因昏沉不省人事者。是大危之證。其頭必俯。如是者術能止暈。而不能禁死矣。其一血室素蓄鬱熱。其為氣甚剽疾。而遇新產腹內大空。邪因乘其虛。而與食谷並搏。上逼心胸。故發運眩。如是者過二時而不治。則大勢已成。不得復救矣。其三產婦素壯實。善食而分娩之後。誤信庸醫謬守陋故欲其跪坐於產椅之中。而強令之興身就其處。因此起步。腸胃動搖。筋脈相牽。因致血氣擾起。與食谷相搏。堅結如石。遂作跳動上下。近胃口則發悶眩也。如是暈則可手到即止焉。當先為設之臥蓐。多卷衣被而作之。令上高而下漸低置枕焉。醫捫循產婦。其腹心下必有物如覆杯。甚堅如石。跳動以應其手。此時有鎮帶則宜先解去之。乃以右手外廉骨。用力按住其物。以左手據其婦右脅下。為抵當之地。而右手仍逐漸用力。推迫使之歸復右邊小腹委食之本位。其暈必立止。止當抽去其產椅前板。令產婦不動其上。而引出產椅底板。然後人徐與掖其坐而遷之臥蓐上。令產婦仍豎右膝而傾頹。仍右側而就枕臥。則血暈之症必不再發矣。</p>
<p>其三遏崩曰。產後暴崩。其發無時。或胞衣下後輒暴下。或產後四五十日。乃至一年後忽崩漏。其狀皆里血暴泄如瀉。不急遏其路。則必皆立死。其遏路之法。凡遇暴下。當投著而起。急趨坐其右側傍住之。急使其伸腳而以右足股間。束勒其婦之腰已下。使其產戶緊閉不通。而無少放鬆。仍急澆獨參湯。因令高枕而右側臥。尚可得救之。若小遲緩。則不可復救矣。故人家有產婦者。切勿用產椅。偶有此症。以其四周有牆板。難急施此法也。又新產後必當即倚蓐而側臥。可以無此暴崩之患也。其四納腸曰。凡盤腸而後娩。若產後則腸脫之類。並皆無不由產婆誤之。強令努力也。其納之之法。醫先坐其婦右邊。仍令婦舉兩臂。嬰醫者之項後。展開兩股。以身擁懸而坐。醫左手抱持其背。右手捱產門。聚束其腸。置之掬上。仍自振體以起作其身。候其婦之因此俱起而頭仰腰伸。背反腹張之時。以右手一送。即時得斂去。如其積年不能收。已槁黑乾涸者。以麻糸系托之。即經日自落下。亦無所傷。此亦不可不知也。</p>
<p>其五斂宮曰。產後子宮突出不斂者。其斂之之法。或用納腸之法。亦得斂去。如未得斂去者。醫卻豎左膝而坐。左膝髀抵之腰後。左手臂羕婦之背。使其去嬰項之手。作伸足而仰臥。亦候其背反腹張之時。右手捱產門推之一送。即時得斂去。子宮突出。世或曰陰門突出者。非也。</p>
<p>其六復肛曰。婦人素患脫肛產後大出。疼痛不斂者。令婦人面壁柱。其鼻尖與胸前骨。腳指頭之所當。上下均齊。以抵切其壁柱而直立。如產婦不能直立。則使人推扶其背。醫自背後雙手按臀肉。包所脫之肛肉。以此徐徐揉收之。一盞頃乃斂。此法甚妙。</p>

<h1>卷四　產椅論</h1>
<p>我邦近世。婦人大產之後必用產椅。椅制不一。而大抵皆後面有倚。左右有牆。而前小橫板及底面皆可抽換。產婦已下胞衣。則椅中周圍先置疊被。板牆上亦皆覆以綿被。而後使婦人自起步就椅中。而其坐必令端然跪坐。始產七晝夜。又不許睡而俯首。於是代設看視相守達旦。少有偏側。叱令改之。一七日而始才免此苦楚矣。而今俗上自天子后妃。下達士庶妻妾。皆莫不甘受是嚴責。而倖免乎斯苦者。山野海濱樵婦漁姑之屬耳。然余考漢人醫治產後者。其將調法。或止言須臾上床。宜仰臥不宜側臥。宜豎膝未可伸足。高倚床頭之類。而未嘗聞其有產椅之制也。又嘗求之本邦舊俗。雖書傳散佚不可詳考。而嘗閱空穗語。載某姬產後三日輒起。而人勸使之臥寢之事。則其書雖寓言。當時無產椅者可徵焉。意其蓋起於晚近苟且之制。久之漸漬。人不覺其害也。椅之害產後者大抵有八。產後腹內大空。惡露淤蓄。熱氣尤盛。一有起身必動胃府之積聚。與熱氣極搏因以跳動。移觸任脈。則雖健婦必發血暈。今將起就產椅因必成此症。其害一也。新產所恐者。崩漏脫血。率由跪坐不臥。而急發此症。而產椅必當跪坐。其害二也。脫血急救或可挽回。而坐產椅者。則四面牆板為之扞格。難得施展。往往稽遲致不可救。其害三也。虛羸尫弱之婦。產後營血大虛。強使跪坐。氣血留澀。筋脈不仁。其因為痿躄者往往有之。其害四也。新產防其睡俯首甚嚴。是勞力後尚不使安神就寢也。欲血氣不耗消豈可得乎。此必是他日血癆不起之基矣。其害五也。不得安神就寢。則血氣數躁。必因致經脈留熱惡露難下。其害六也。產婦必穀道挺出。今跪坐則難得斂去。瘀熱因流淫。決成脫肛痔漏。其害七也。一用產椅則必用看守之人。令終夜忍睡而相視。則食藥之類必易致不謹。其害八也。有此八害而世不知議其可廢者何乎。曰。因循而已。苟且而已。往往因以致人家婦女無病而斃。豈不可哀之甚邪。蓋余少時在田間見產婦。皆能娩後二日輒能起行。與平日無異也。及來京師則見貴賤產婦。皆非經七八日。則不能行步矣。因知並皆產椅之所害也。爾後每治產婦。必力絀其產椅。唯高枕蓐臥而已。故雖閨閣嬌養之質。次日則已可行數里。而橫難困極之餘。必亦莫致疲弊而易起矣。人往往謂我奇術。而非術之奇也。實不用產椅故耳。故今特著此論敢告一世。幸有能者為審利害。益為明論。他日或見人家有產椅者。請皆毀拆燔滅之而無使貽是禍於橫目之間。是予所望後來濟世者。</p>

<h2>鎮帶論</h2>
<p>本邦婦人妊娠五月。必以綿線作帶束於胸下。曰。以鎮胎氣使不上衝也。蓋方今此風乃已遍於四方遐陬。相傳昔神功皇后徵三韓時。方有身而被鎧。鎧不能合。因作此帶束之。既凱旋而誕應神天皇。竟無菑害。昇平富樂。鎮帶之制創起於此。而後世婦人欽慕而仿云。然余自少壯學醫。多治妊婦。見其受鎮帶之害者尤甚也。因竊疑以為神聖所傳之道豈固若斯乎。考之國史帝記莫言此帶者。而獨於元永寵姬懷孕之事。始見著帶之文。及閱東鑑載源大將軍夫人。妊娠五月其諸臣進帶。其儀節甚詳。即知鎮帶之說雖本附會亦自中古矣。後又閱明醫陳朝階奚囊便方。其中有用軟絹帛纏腹之法。則知彼亦有與我鎮帶意相類者矣。然余以所見。彼並皆庸俗之論耳。夫天地以至仁為其德。以生生為其化矣。試觀竹之生於宇下者。拔地數寸。必自屈曲生節。預避其宇以達焉。是可心觀天地好生之德焉矣。又試觀盤石之底土蓄草根者。其石不移則雖萬年不發動。及一轉石也勃焉萌動焉。是又可以察天地發生之機焉矣。見故天地發生之機。未嘗動於其不可之地矣。天地至仁之德。未嘗有不擇其地而行之以反害其生矣。產育之事乃發生之大端。其理亦何異之有。母氣既可任產育。故已自能孕其生。則雖微護防而無異故者決矣。是故禽獸草木胎孕含苞。未嘗假夫鎮帶之施設也。今謂人不與此同者惑之甚也。是故鎮帶之設亦所謂混沌之鑿也耳。且兒胎既倒首居中。又決無其氣上逆之理。而今循庸俗之陋習不察其非。強用鎮帶則彼包膜惡血蓋於兒胎臀尻。而正當母胸前者常為此帶所緊縛。積久底著滯結成症。乃臨產不患胞帶難下。即產後或發崩漏。若血癆之危症矣。且雖在其懷孕之時。帶常緊縛其肚。則母身每動胎不能副其運轉之變。是乃制其上而戾其下也。欲子胎之不歪側豈可得乎。子胎一側則百禍之大本起於此矣。然則鎮帶不唯無其益。而反有其害。豈可不深懼哉。是故余常見用此帶者。必諭以其故務去其帶。而以免踏危機者居十之九矣。但以其習俗已久而雖可嚀告戒聞者率信疑相半。及見其功效者。乃始豁然矣。嗟乎天下殷乎盛矣。我軀眇乎小矣。一生之所能救者幾何人哉。誰能繼予論。以遍告之天下之民百世之後者。則請以予之緒言。更助其理之暢茂也。蓋曰譬如樹藝者已植已培已澆已安之後。人須棄之如忘者。則其木之茁長者挺然而直且美矣。若或日從而撼其樹。叩其根。矯其技。摘其葉。則其不尫然而瘦僵然而枯者幾希矣。夫產育之理亦何異於此矣。是故凡物類夫矯摘之意者。皆奪其肥腴而速其僵枯之為也耳。則不啻一鎮帶云。</p>

<h1>附錄子玄子治驗四十八則</h1>
<p>子玄先生以方術特善治產婦。擅名於京師者已三十年。都人士庶迎請懇治歲以萬數。其間神效奇勳豈可勝記哉。茲請諸門人所嘗劄記僅抄其一二頗存概略者。庶論言實行足以相徵發焉云爾。門人山脅格識。</p>
<p>一婦初產甚難。尋孕七月。時下血。恐復不育也。乃請子診。子問其所以朝夕。曰。未嘗弛鎮帶。寢則繩約頸膝。子曰。是所以動其血也。欲得我治則皆反乎是。其姑同坐而色疑阻。子因謝去。既已其血下日多。其鄰有知子。日夜更勸令殷請。於是子復往。則刀斷其繩帶棄之。其明日而血止。遂育。</p>
<p>一婦產後暈。招子至則旁坐一醫。子心欲去其鎮帶。因問之帶何出。曰。某書。曰。可去乎。曰。不可。子因謂曰。請居亦知去之可矣。暈既止。醫遂逃。</p>
<p>一婦產後右腳縮者八寸。三年復孕。懼而迎子。子謂曰。欲我治則無帶與椅矣。且免後忍大痛則令足復長。子去。其族甚勸之曰。必不妄也。遂治。其免也已下胞。而子到令去其帶。左側臥而為按蹻。及八日腳伸者六寸有半矣。</p>
<p>一富室妻產後暈不止。子聞急趨之。醫輿先至者三人。既見子色皆倨。坐列火爐十枚。以醋澆炭呼大噪。子曰。暈曙達子夜不可粥者危矣。公等何坐視之無計乎。且何徒用是臭為。皆應曰。即止之君功也。子諾而入。去鎮而按則止矣。去椅而蓐則食矣。出欲語則已逃矣。</p>
<p>一婦產後。子宮脫長尺許大如柱。有一坐婆以為雙胎。引而出之者又五寸許。三日不入。子往輒為入之。以其無所痛也。次日能起步矣。</p>
<p>一婦產後血迷。皆忘其昆弟。獨識其母。與以折衝飲十日而復。</p>
<p>有人迎子治其婦。子至其門聞其呻吟聲曰。是必橫產也。手足見乎。夫答曰手已及膊者三日。子曰。然則兒已死矣。為出之。其婦得全。</p>
<p>一婦產後發狂。子診之。臍下左方有塊大如瓜。與以折衝飲。又作鎮亢丸服之。七日而愈。</p>
<p>一婦每小解。物大如臂而色槁黑出於陰下。子曰。是產後腸脫不復耳。用麻線系托而墮。</p>
<p>一婦產後胞衣已下。有物如指長可一尺。家人怪問之於子。子云。必是子膜遺也。試開之當展而大乃是也。及引出之果如其言。凡子膜廣率一尺。</p>
<p>一婦臨月嘔吐不止。請子為之且托以坐草。子先與以伏龍肝汁而不復嘔。因論曰。治已晚矣。臨月之病。產後四五日。必劇發難以救矣。使吾治其產也。請不知其他也。及八日而娩。其後四日果發嘔不止而死。</p>
<p>一婦人產後陰脫。醫以礬石湯洗之而堅。子曰。是不可救。縱能復之凝固已甚。必大痛而死。而以其家人強請強為收之。然終不得融解而次日死。格所素識。一婦產後十五日。晡食罷起更衣。還入室而卒昏倒。右瘛左瘲而搐掉不止。醫與以人參湯益甚。余與子往。子為按蹻。俄靜而鼾寐。作虎翼飲與之。則醒而起坐。子因又命余作正方第一劑。臨歸囑之其家人曰。湧痰尚盛。夜半應吐。吐則與虎翼飲。已則復與此湯。已歸。夜半果吐。家人如其言。後十四五日而愈。</p>
<p>一婦孕八月。指頭腫大。出血不絕。子曰。便結而熱。因動絡脈。絡脈大傷則出血不絕。與以折衝飲而愈。</p>
<p>一婦子癇愈後五日。因卒倒折前齒。遂成不語。既娩。猶不能言。引子治之。先與以折衝飲盡其惡露三日。更與正方第三之劑。出入二旬而能言語。</p>
<p>一婦產後十五日。陰中忽生一小肉柱。左右相連。小便分飛。不可坐桶。以指撼之。唯覺兩邊之攣急耳。子誨以麻線系托其中。三日而斷。五日而愈。</p>
<p>一貴人寵姬。產後病腹中大急數十年。已又小便閉。諸藥無效。因延子治之。子云。是血瘕梗於便道也。其根既結未可遽治。今且治其便閉而可也。因請姬前坐溺器。教諸侍從其背後兩手捧其腴而舉起。便即時大通如瀉。於是以佗不急患也。謝子罷。</p>
<p>一婦臨產。兒露臂不縮八日。而妄見譫語。四肢厥冷。脈細微。子往。為出其兒。且度遽下其胞則死矣。徐徐下之。乃得不死矣。</p>
<p>一婦臨產甚艱。兒遂死。子往為出之。其兒右足偏大如柱。</p>
<p>一婦艱產。探之得兒頭。斜冒子宮而出於橫骨下。子謝是不可救。遂死。</p>
<p>一婦艱產。探之得兒之背。子云。兒已死。為出之。其母因得不死。</p>
<p>一婦艱產。兒腰已下不能出也。子曰。兒死矣。且其腰偏大。故不出耳。為出之。亦得不死。</p>
<p>一婦艱產三日。子曰胎臭甚。子已死於腹中矣。其頭顱必已三折骨理然也。及出之果如其言。</p>
<p>一婦年四十有二。產後百日余。通身腫滿。二便俱塞。醫不能料。子作龍翔加芩連飲服之。數劑而愈。後復孕及五月。復病腫。其姑耄而囂。日罵之曰。孕而病不如無孕而死。子笑解之曰。嫗休怒。五日之後勿藥矣。乃與前方兼朱明丸。五日而症全退。姑驩謝曰。苟如此雖歲育可也。</p>
<p>一婦年三十有二。始孕。患大便澀結。產後三日適聞主母喪。痛哭。已經宿眼眶突腫者寸許。脈浮而數。子曰。此火症也。乃用熊膽黃蘗辰砂。水浸洗其眼數次。眶始斂。後尚出膿二年而瘥。</p>
<p>一婦因倒產兒頤拒於交骨。免甚艱。產後便道不通者三十日。子曰。此胞宮遏腸也。不治自安。後果自復。</p>
<p>一婦三孕。皆不能育。尋孕十月。迎子診之。子診其腹曰。是䐃在左腹下。故常害其胎使不育也。雖然使余治可無傷。乃日往其家。為之按蹻。既免。子因又謂其婦曰。夫䐃者每孕而肥。今而不治。恐後有孕至於命也。然而欲治之則痛且甚。恐中而廢如何。其姑與婦皆聞其言。始大懼。誓忍痛而治。乃與折衝飲。其夕果大痛不可忍。比明下一物。視之大二寸許。剖之理如鰍肉。其外白膜包之。然以其自分裂而下。而其餘尚在腹中。因又勸之益服前湯。及其日晡乃下其半。次後竟舉二子矣。</p>
<p>一婦孕七月。清穀下利。煩渴又甚。飲水日二三升。子診之脈沉細。與以加澤瀉第三和劑兼用青陽丸曰。大便色黑則下利自止。既如其言。</p>
<p>一婦臨產。兒手足交見。子曰。是雙胎皆已死也。為出之。果如其言。</p>
<p>一婦產後八日。大便燥結。竟成半身不遂。子與加羌活當歸正方第三之劑。十四五日全愈。</p>
<p>一富商妻年三十。懷孕九月患裡急後重。既免嘔大發。瘀滯不下四日。迎子。子至則眾醫在產室。子獨在後堂未入。聞其嘔聲。謂人曰。此敗血攻肝之聲也。不急止之則難活矣。少頃主人見謝曰。產婦羞不欲見生面人。強之恐血氣逆上。請先生莫怪。子因問眾醫用參邪。答曰。用已四兩。子大息曰。噫汝婦死醫手矣。尚羞人邪。因謝去。其明日而婦死。</p>
<p>一婦已娩四日。浴後忽發熱。遍身生紫斑。其家急遣人迎子。子因問曰。無斑成赤而脈已細邪。其人無作讝與。答曰。皆未也。然則尚可救矣。因急為趨其家。以口含冷水數噀其體。婦發寒戰甚。熱退斑沒。次日全瘥。</p>
<p>一婦年十七。已嫁始孕。因歸產於父母家。家農而富。居在田間。婦已產一日發熱時作讝語。因急迓子。子已往。則其產室頗深。而遊障之間對設曲屏風。凡三折而後入其室。室中晝張鐙。會天寒置火爐五枚。婦坐產椅被覆周圍。裁見其頭。子已診畢。因笑謂其人曰。婦本不病。父母愛護太過。而因致此症耳。且女幼而慣田野。今雖新產豈可郁屈如此乎。於是盡命開室戶而火爐及鐙屏皆徹焉。扶婦去椅而寢之蓐上。與以正方第八劑。盡三貼而全愈。</p>
<p>一婦臨產九日不能免。已而鼻尖與手足指二節皆黑。醫多與人參無效。於是喘絕二日而迎子。請曰。願令分娩後葬焉。子曰。脈雖微尚存矣。此陽氣不運死血聚耳。實未死矣。因為出其胎更作正方第一劑。藥粥兼進。一時許脈復。乃復為下胞衣。次後十二日尚時發血暈。子旦夕視之遂愈。但瘥後其黑處皆墜去。</p>
<p>一婦子癇日發三五次。劇則二十次。至為右瘛。子診之曰。病得之交接壓其胎。即為按蹻而止。不復發。</p>
<p>一婦產後一歲許。卒然崩漏昏倒。其家迎子。未至。有一醫與以三黃湯。而兩脈竟絕。後至。則其家人皆已環之泣哭。而子視其承泣色尚赤。子意其尚可救也。試以指推之。承泣血色尚動。因又循其腹臍下獨熱大如碗。即徐為之易其席而改寢焉。急作正方第六劑飲之。少之大吐。因復與以獨參湯。而尚欲吐。乃更作虎翼飲與之。於是始靜稍能語。後十四五日調理之而全愈。</p>
<p>一婦初產腸脫。尋而孕。其腸數出。已而及產後遂大脫。其物大如盤而灰黑色。水漿實中而甚堅。子為納之。三日而能起步矣。</p>
<p>一婦臨產。燥屎梗於產道不得出。子命坐婆急以膏塗手。探肛門捫而出之。已娩後以綿蘸膏納之肛門。三日其痛全已。</p>
<p>一婦孕。子為治其產。已娩而蓐。子欲使臥。而其家不肯。因姑令跪坐。而血山卒崩。子急救之。已不及矣。子每悔之曰。時不強使臥也。</p>
<p>一婦懷孕九月。患右足攣急。有一外科傅以膏益甚。子為按蹻立愈。</p>
<p>一婦產後六日。子固戒其浴。而其家不肯。至晡竊浴之。夜半發熱紫斑遍體。且讝語。始大驚迎子。子至見之。怒曰。自招其斃。非吾所知也。且此必不可救。至明則必死。因謝去。其明日死。</p>
<p>一婦產後腹滿如水腫狀。臍下時痛。醫皆以為瘀血。頻與以破血之劑。益甚。子曰。是腸癰也。針之則膿血激射出三升余。因作第三和劑加土茯苓飲之。且針且藥十五日而愈。</p>
<p>一富商婦年四十三。始孕已八月患水腫。子治之。與以正方第三劑加豬苓澤瀉而愈。其彌月有一坐婆診婦。而語家人曰。夫人年長。往病水腫時。醫又治用峻劑。故今其胎已死。吾恐分娩之失夫人也。家人聞之驚惕。相哭注。適子往到其家。按蹻其婦。眾因相訴以其故。子聞之。因召其家人之嘗乳者。為引其手捫婦之孕。且問曰。汝嘗知孕矣。是兒臂也。死胎亦動若是邪。於是家人疑者皆釋。後四日而娩。母子畢皆無恙矣。</p>
<p>一醫家女妊身七月。夫家來在其家。一日朝梳髮後。卒然悶倒。其家急迎子而子至。為之按蹻則醒。因設臥蓐使女寢。既且歸。戒其家曰。必無使之起坐則必復發。而其家人心疑子之言。且恐有痰血也。歸後使起坐。則果復悶倒。然初以其所背而不敢迎。頻灌以參連。晡至夜半殊無效應。卒不得已。復遣人迎子。子聞料其背言也。惡之不肯往。其家人惶急往來。且謝且求。子遂不得已而詣其家。復為按蹻則亦醒。因復更命就蓐而臥焉。子因問其女曰。腹無氣痛否。女曰。有之矣。子曰。然吾知之矣。明日夜半必當半產。乃復戒其家曰。必無使之起坐。如猶有背產後復發。則雖扁倉難以救矣。其家始懼不敢復為。於是暈遂止。而明日夜半果半產矣。</p>
<p>一婦產後二十日。患肩脅掣痛。為之不能食。子診之。脈數甚。因問曰。左右痛孰甚。婦答曰。右甚於左。子曰。然則腰亦痛乎。婦曰。腰痛則自產後有之。每臥起甚艱。子乃按蹻。腹痛頓止。因與朱明丸百粒。以龍騰飲夜半下之。且曰。明日巳刻大便得通矣。婦從其言服之。明巳刻果下燥屎。而掣痛頓除。子曰。左甚者難治。</p>
<p>一倡未齓。有一惡少。強與交。其女未感而孕。子聞曰。女氣不感。男精獨結。其或男。既產。果如其言。</p>
<p>一婦產後胞衣不下。有一婦人科。十日治之。而其術方窮。適其族勸迎子。子往則其醫在焉。子因與論曰。胞久不出恐其已爛。不急下之尋必致死。醫素忌其能。抗言曰。三世之醫亦有所傳已。君不必獨善也。子因謝去。其明日婦果死。</p>
<p>一女已約嫁數日。忽腹脹乳出。夫家疑其奸。責其父母。其女亦日夜憂欲自死。子為診而決之曰。是處子也。因與以折衝飲三日經行。而腹脹頓已。先生近江彥根三浦氏之族也。父諱長富。家世祿仕於侯藩。長富取妾而生先生。年七歲。以其庶子出之。養於外家。既孤。其家遂請為己子。而教以稼穡之事。先生則少而厭農。遂去客京師。而其幼時本嘗學針砭按蹻。頗通其微。及其客京師。因復益治湯劑之方。學甚勵苦。居數年。適其鄰居有一婦。臨產兒露手膊而將死。先生因視而閔之。乃歸為構思其治之術。其夕得之。明日遂往以救之。婦得不死。於是益為其術。大治產婦日數百人。凡世醫所難。先生無不治。治皆無不全矣。而竟以此顯名京師。茲述產論。時年六十有七云。</p>
