<header data-type="book">
<h1>飲食須知</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>賈銘</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1271/1368">公元1271年至公元1368年</data></dd></div>
<div><dt>底本</dt><dd>《學海類編》本（<a href="https://ctext.org/library.pl?if=gb&res=83455">掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>飲食藉以養生，而不知物性有相反相忌，叢然雜進，輕則五內不和，重則立興禍患，是養生者亦未嘗不害生也。歷觀諸家本草疏注，各物皆損益相半，令人莫可適從。茲專選其反忌，匯成一編，俾尊生者日用飲食中便於檢點耳。</p>
<p><u>華山老人識。</u></p>

<h1>卷一</h1>

<h2>水火</h2>
<p><u>天雨水</u>　味甘淡，性冷。暴雨不可用，淫雨及降注雨謂之潦水，味甘薄。</p>
<p><u>立春節雨水</u>　性有春升始生之氣。婦人不生育者，是日夫婦宜各飲一杯，可易得孕。取其發育萬物之義也。</p>
<p><u>梅雨水</u>　味甘性平。芒種後逢壬為入梅，小暑後逢壬為出梅，須淬入火炭解毒。此水入醬易熟，沾衣易爛，人受其氣生病，物受其氣生黴，忌用造酒醋。浣垢如灰汁，入梅葉煎湯洗衣黴，其斑乃脫。</p>
<p><u>液雨水</u>　立冬後十日為入液，至小雪為出液。百蟲飲此皆伏蟄，宜制殺蟲藥餌，又謂之藥雨。</p>
<p><u>臘雪水</u>　味甘性冷。冬至後第三戊為臘，密封陰處，數年不壞。用此水浸五穀種，則耐旱不生蟲。酒席間則蠅自去。淹藏一切果食永不蟲蛀。春雪日久則生蟲，不堪用。亦易敗壞。</p>
<p><u>冰</u>　味甘性大寒。止可浸物。若暑月食之，不過暫時爽快，入腹令寒熱相激，久必致病。因與時候相反，非所宜也。服黃連、胡黃連、大黃、巴豆者忌之。</p>
<p><u>露水</u>　味甘性涼。百花草上露皆堪用。秋露取之造酒，名秋露白，香冽最佳。凌霄花上露入目損明。</p>
<p><u>半天河水</u>　即竹籬頭及空樹穴中水也，久者防有蛇蟲毒。</p>
<p><u>屋漏水</u>　味苦性大寒，有大毒。誤飲生惡瘡。滴脯肉中，人誤食之，成瘕。又檐下雨水入菜有毒，亦勿誤食。</p>
<p><u>冬霜</u>　味甘性寒。收時用雞羽掃入瓶中，密封陰處，久留不壞。</p>
<p><u>冰雹水</u>　味鹹性冷，有毒。人食冰雹，必患瘟疫風癲之證。醬味不正，取一二升納甕中，即還本味。</p>
<p><u>方諸水</u>　味甘性寒，一名明水。方諸以銅錫相半所造，謂之鑑燧之劑。非蚌非金石。摩熱向月取之，得水二三合，似朝露。</p>
<p><u>千里水</u>　即遠來活水。從西來者，謂之東流水，味甘性平。順流水其性順遂而下流。急流水其性急速而下達。逆流水其性洄瀾倒逆而上行。勞水即揚泛水，又謂之甘瀾水。用流水二斗，置大盆中，以杓高揚千萬遍，有沸珠相聚，乃取煎藥。蓋水咸而體重，勞之則甘而輕。</p>
<p><u>井水</u>　味有甘、淡、咸之異，性涼。凡井水遠從地脈來者，為上。如城市人家稠密，溝渠汙水雜入井中者，不可用。須煎滾澄清，候鹼穢下墜，取上面清水用之。如雨渾濁須擂桃杏仁，連汁投入水中攪勻，片時則水清矣。《易》曰：井泥不食，慎之。凡井以黑鉛為底，能清水散結，人飲之無疾。入丹砂鎮之，令人多壽。平旦第一汲為井華水，取天一真氣浮於水面，煎滋陰劑及煉丹藥用。阿井水味甘鹹，氣清性重。</p>
<p><u>節氣水</u>　一年二十四節氣，一節主半月。水之氣味隨之變遷，天地氣候相感，非疆域之分限。正月初一至十二日，以一日主一月。每旦取初汲水，瓶盛秤輕重，重則主此月雨多，輕則主此月雨少。立春清明二節貯水曰神水。宜制丸散藥酒，久留不壞。穀雨水取長江者良，以之造酒，儲久色紺味冽。端午日午時取水，合丹丸藥有效。五月五日午時有雨，急伐竹竿，中必有神水，瀝取為藥。小滿芒種白露三節內水，並有毒。造藥釀酒醋及一切食物，皆易敗壞。人飲之，亦生脾胃疾。立秋日五更井華水，長幼各飲一杯，卻瘧痢百病。寒露、冬至、小寒、大寒四節及臘日水，宜浸造滋補丹丸藥酒，與雪水同功。</p>
<p><u>山岩泉水</u>　味甘性寒。凡有黑土毒石惡草在上者勿用。瀑湧激湍之水，飲令人頸疾。昔潯陽，忽一日城中馬死數百，詢之，因雨瀉出山谷蛇蟲毒水，馬飲之而死。</p>
<p><u>乳穴水</u>　味甘性溫。秤之重於他水，煎之似鹽花起，此真乳穴液也。取飲與鐘乳石同功。山有玉而草木潤，近山人多壽，皆玉石津液之功所致。</p>
<p><u>溫泉</u>　味辛性熱。不可飲，下有硫黃作氣，浴之襲人肌膚。水熱者，可燖豬羊毛，能熟蛋。廬山有溫泉池，飽食方浴，虛人忌之。新安黃山硃砂泉，春時水即微紅色，可煮茗。長安驪山礐石泉，不甚作氣。硃砂泉雖微紅，似雄黃而不熱。有砒石處湯泉，浴之有毒，慎之。</p>
<p><u>海水</u>　性涼，秋冬味鹹，春夏味淡。碧海水味鹹，性微溫，有小毒。夜行海中，撥之有火星者，鹹水也。其色碧，故名碧海。鹽膽水即鹽滷，味鹹苦，有大毒。凡六畜飲一合即死，人飲亦然。今人用之點豆腐，煮四黃釬物。服丹砂者忌之。</p>
<p><u>古塚中水</u>　性寒有毒，誤食殺人。糧罌中水，味辛有毒，乃古塚中食罌中水也。洗眼見鬼，多服令人心悶。</p>
<p><u>磨刀水</u>　洗手令生癬。</p>
<p><u>地漿</u>　掘地作坎，以新汲水沃攪令濁，少頃澄清。服之解中毒煩悶，及一切魚肉果菜菌毒。</p>
<p><u>漿水</u>　炊粟米熱投冷水中，浸五六日成此水，浸至敗者損人。同李食，令霍亂吐利。醉後飲，令失音。妊婦食之，令兒骨瘦，水漿尤不可多飲，令絕產。</p>
<p><u>齏水</u>　味酸鹹性涼。能吐痰飲宿食，婦人食多絕產。</p>
<p><u>甑氣水</u>　味甘鹹。知瘡所在，能引藥至患所。</p>
<p><u>熟湯</u>　煎百沸者佳。勿用滾熱湯漱口，損齒。病目人勿用熱湯沐浴，助熱昏目。凍僵人勿用熱湯濯手足，脫指甲。勿用銅器煎湯，人誤飲損聲。勿飲半滾水，令人發脹，損元氣。</p>
<p><u>生熟湯</u>　冷水滾湯相和者，又謂之陰陽水。凡人大醉及食瓜果過度，以生熟湯浸身，其湯皆作酒氣瓜果味。《博物志》云：浸至腰，食瓜可五十枚。至頸，則無限也。未知確否。</p>
<p><u>諸水有毒</u>　人感天地氤氳而產育，資稟山川之氣，相為流連，其美惡壽夭，亦相關涉。金石草木，尚隨水土之性，況人為萬物之靈乎？貪淫有泉，仙壽有井，載在往牒，必不我欺。《淮南子》云：土地各以類生人，是故山氣多男，澤氣多女，水氣多喑，風氣多聾，林氣多蔭，木氣多傴，下氣多尰，石氣多力，險氣多癭，暑氣多夭，寒氣多壽，穀氣多痹，丘氣多狂，廣氣多仁，陵氣多貪。堅土人剛，弱土人脆，壚土人大，沙土人細，息土人美，耗土人醜，輕土多利，重土多遲。清水音小，濁水音大，湍水人輕，遲水人重，皆應其類也。又《河圖括地象》云：九州殊題，水泉剛弱各異，青州角徵會，其氣慓輕，人聲急，其泉酸以苦。梁州商徵接，其氣剛勇，人聲塞，其泉苦以辛。兗豫宮徵會，其氣平靜，人聲端，其泉甘以苦。雍冀商羽合，其氣壯烈，人聲捷，其泉甘以辛。人之形賦有厚薄，年壽有短長，由水土資養之不同，驗諸南北人物之可見。水之有毒而不可犯者，亦所當知。</p>
<p>水中有赤脈不可斷，井中沸溢不可飲，三十步內取青石一塊投之，即止。古井、眢井不可入，有毒殺人，夏月陰氣在下尤忌。用雞毛試投，旋舞不下者有毒。投熱醋數斗，可入。古塚亦然。古井不可塞，令人聾盲。</p>
<p>陰地流泉有毒，二八月行人飲之，成瘴瘧，損腳力。澤中停水，五六月有魚鱉遺精，誤飲成瘕。沙河中水，欲之令人喑。兩山夾水，其人多癭。流水有聲，其人多瘦。花瓶水誤飲殺人，臘梅尤甚。銅器內盛水過夜，不可飲。炊湯洗面，令人無顏色，洗體令人生癬，洗足令疼痛生瘡。銅器上汗誤食，生要疽。冷水沐頭，熱泔沐頭，並令頭風，女人尤忌。經宿水面有五色者，有毒，勿洗手。時病後浴冷水，損心胞。</p>
<p>盛暑浴冷水，令傷寒病。汗後入冷水，令人骨痹。產後當風洗浴，發痓病，多死。酒中飲冷水，令手戰。酒後飲冷茶湯，成酒癖。飲水便睡，成水癖。夏月遠行，勿以冷水洗足。冬月遠行，勿以熱水濯足。小兒就瓢瓶飲水，令語訥。</p>
<p><u>燧火</u>　人之資於火食者，疾病壽夭系焉。四時鑽燧取新火，依歲氣而無亢。榆柳先百木而青，故春取之。杏棗之木心赤，故夏取之。柞楢之木理白，故秋取之。槐檀之木心黑，故冬取之。桑柘之木肌黃，故季夏取之。</p>
<p><u>桑柴火</u>　宜煎一切補藥，勿煮豬肉及鰍鱓魚。不可炙艾，傷肌。</p>
<p><u>灶下灰火</u>　謂之伏龍屎，不可爇香祀神。</p>
<p><u>艾火</u>　宜用陽燧火珠承日取太陽真火，其次則鑽槐取火為良。若急卒難備，用真麻油燈或蠟燭火，以艾莖燒點於炷，滋潤炎瘡，至愈不痛也。其戛金擊石鑽燧八木之火，皆不可用。八木者，松火難瘥，柏火傷神多汗，桑火傷肌肉，柘火傷氣脈，棗火傷內吐血，橘火傷營衛經絡，榆火傷骨失志，竹火傷筋損目也。</p>

<h1>卷二</h1>

<h2>穀類</h2>
<p><u>粳米</u>　味甘，北粳涼、南粳溫。赤粳熱、白粳涼、晚白粳寒。新粳熱、陳粳涼。生性寒，熟性熱。新米乍食動風氣，陳米下氣易消，病人尤宜。同馬肉食發痼疾，同蒼耳食卒心痛，急燒倉米灰和蜜漿調服，不爾即死。大人小兒嗜生米者，成米瘕。飯落水缸內，久則腐，腐則發泡浮水面，誤食發惡瘡。黃粱米味甘性平，其穗大毛長，不耐水旱，名曰竹根黃。其香美過於諸粱。黃者出西洛，白者出東吳，青者出襄陽。白青二粱味甘性微寒。秈米味甘性溫。陳廩米年久者，其性涼，炒則溫。同馬肉食發痼疾。香稻米味甘性軟，其氣香甜。紅者謂之香紅蓮，其熟最早。晚者謂之香稻米。</p>
<p><u>糯米</u>　味甘性溫。多食發熱，壅經絡之氣，令身軟筋緩。久食發心悸，及癰疽瘡癤中痛。同酒食之，令醉難醒。糯性黏滯難化，小兒病人更宜忌之。妊婦雜肉食之，令子不利，生瘡疥、寸白蟲。馬食之，足重。小貓犬食之，腳屈不能行。人多食，令發風動氣，昏昏多睡。同雞肉、雞子食，生蛔蟲。食鴨肉傷者，多飲熱糯米泔可消。</p>
<p><u>稷米</u>　味甘性寒。關西謂之縻子米，又名穄米。早熟清香，一名高粱，即黍之不黏者。多食發二十六種冷氣病。不可與瓠子同食，發冷病。但欲黍穰汁即瘥。又不可與附子、烏頭、天雄同服，勿合馬肉食。</p>
<p><u>黍米</u>　味甘性溫，即稷之黏者。黍有五種，多食閉氣。久食令人多熱煩，發痼疾，昏五臟，令人好睡，緩筋骨，絕血脈。小兒多食令久不能行。小貓犬食之，其腳跼屈。合葵菜食，成痼疾。合牛肉、白酒食，生寸白蟲。赤者浙人呼為紅蓮米，又謂之赤蝦米。丹黍米，味甘性微溫，多食難化。勿同蜂蜜及葵菜食。醉臥黍穰，令人生厲。</p>
<p><u>蜀黍</u>　味甘澀性溫。高大如蘆荻，一名蘆粟。黏者與黍同功，種之可以濟荒，可以養畜。梢堪作箒，莖可織箔席、編籬、供爨。其穀殼浸水色紅，可以紅酒。《博物志》云：地種蜀黍，年久多蛇。玉蜀黍即番麥，味甘性平。</p>
<p><u>粟米</u>　味鹹性微寒，即小米也。生者難化，熟者滯氣，隔宿食，生蟲。胃冷者，不宜多食。粟浸水至敗者，損人。與杏仁同食，令人吐瀉。雁食粟，足重不能飛。能解小麥毒。</p>
<p><u>秫米</u>　味甘性微寒。即粟之黏者。久食壅五臟氣，動風迷悶。性黏滯，易成黃積病，小兒不宜多食。傷鵝鴨成瘕者，多飲秫米泔可消。</p>
<p><u>稗子米</u>　味辛甘苦，性微寒。能殺蟲，煮汁不可沃地，螻蚓皆死。穇子米，味甘澀可食。</p>
<p><u>芮米</u>　味甘性寒。生水田中，苗子似小麥而小，四月熟。狼尾草米，味甘性平。生澤地，似茅作穗。蒯草米，味甘性平。苗似茅，可織蓆為索。東牆子米，味甘性平。蔓生如葵子，六月種，九月收。牛食之，尤肥。蓬草子米，味酸澀性平。生湖澤中。篩草子米，一名自然谷，味甘性平。七月熟，生海洲，食之如大麥。菰米，味甘性冷。九月抽莖，開花如葦芍，結實長寸許，霜後採之。米白滑膩，作飯香脆，此皆儉年之谷，食之可以濟飢也。</p>
<p><u>糵米</u>　味甘苦性溫，即發芽谷也，與麥芽同功。粃糠，味甘性平，年荒亦可充飢。</p>
<p><u>大麥</u>　味鹹性涼，為五穀之長，不動風氣，可久食。暴食似腳弱，為下氣也。熟則有益，生冷損人，炒食則動脾久。</p>
<p><u>小麥</u>　味甘，麥性涼、面性熱、麩性冷、曲性溫。北麥日開花，無毒。南麥夜開花，有微毒。面性壅熱，小動風氣，發丹石毒。多食長宿癖，加客氣。勿同粟米、枇杷食。凡食麵傷，以萊菔、漢椒消之。寒食日用紙袋盛面懸風處，熱性皆去，數十年久留不壞，入藥尤良。新麥性熱，陳麥平和。服土茯苓、威靈仙、當歸者，忌濕面。麩中洗出麵筋，味甘性涼，以油炒煎，則性熱矣。多食難化，小兒病人勿食。</p>
<p><u>蕎麥</u>　味甘性寒。脾胃虛寒者食之，大脫元氣，落眉發。多食難消，動風氣，令人頭眩。作面和豬羊肉熱食，不過八九頓，即患熱風。鬚眉脫落，還生亦希。涇邠以北，人多此疾。勿同雉肉、黃魚食。與諸礬相反，近服蠟礬等丸藥者忌之。誤食令腹痛致死。蕎麥穰作薦，闢壁蝨。</p>
<p><u>苦蕎麥</u>　味甘苦，性溫，有小毒。多食傷胃，發風動氣，能發諸病。黃疾人尤當忌之。</p>
<p><u>𪍿麥</u>　味甘性微寒。暴食似腳軟動冷氣，久即益人。作糵用，溫中消食。</p>
<p><u>雀麥</u>　味甘性平。亦可救荒，充飢滑腸。</p>
<p><u>胡麻</u>　味甘性平。即黑脂麻。修制蒸之不熟，令人發落。泄瀉者勿食。</p>
<p><u>白芝麻</u>　味甘，生性寒、熟性熱、蒸熟者性溫。多食滑腸，抽人肌肉。霍亂及泄瀉者，勿食，其汁停久者，飲之發霍亂。</p>
<p><u>亞麻</u>　味甘性微溫，即壁蝨胡麻也。其實亦可榨油點燈，但氣惡不可食。</p>
<p><u>大麻子仁</u>　味甘性平，即火麻子也。先藏地中者，食之殺人。多食損血脈，滑精氣，痿陽道。婦人多食，即髮帶疾。食須去殼，殼有毒，而仁無毒也。</p>
<p><u>黑大豆</u>　味甘性平。煮食則涼，炒食則熱，作腐則寒，作豉則冷，造醬及生黃卷則平。牛食之溫，馬食之涼。多食發五臟結氣，令人體重。豬肉同食，令生內疾。小兒同炒豆、豬肉並食，令壅氣，腹痛難止，致死十有八九。年十歲以上者，不畏也。服蓖麻子者，忌炒黑豆，犯之，脹滿致死。服厚朴者忌之，動氣也。小黑豆，味甘苦性溫。</p>
<p><u>黃大豆</u>　味甘，生性溫、炒性熱，微毒。多食壅氣，生痰動嗽，發瘡疥，令人面黃體重。不可同豬肉食。小青豆、赤白豆性味相似，並不可與魚及羊肉同食。</p>
<p><u>赤豆</u>　味甘酸性平。同鯉魚鮓食，令肝黃，成消渴。同米煮飯及作醬，食久發口瘡。驢食足輕，人食身重，以其逐精液，令肌瘦膚燥也。</p>
<p><u>赤小豆</u>　味甘辛，性平下行。不可同魚鮓食，久服則降令太過，使津血滲泄，令人肌瘦身重。凡色赤者食之，助熱損人。豆粉能去衣上油跡。花名腐婢，解酒毒，食之令人多飲不醉。</p>
<p><u>綠豆</u>　味甘性寒。宜連皮用，去皮則令人少壅氣，蓋皮寒而肉平也。反榧子害人，合鯉魚鮓食久，令人肝黃，成渴病。花解酒毒。</p>
<p><u>扁豆</u>　味甘性微溫。患冷氣及寒熱病者，勿食。</p>
<p><u>蠶豆</u>　味甘微辛，性平。多食滯氣成積，發脹作痛。</p>
<p><u>雲南豆</u>　味甘性溫，有毒。煮食味頗佳，多食令人寒熱，手足心發麻，急嚼生薑解之。此從雲南傳種，地土不同，不識制用，食之作病。</p>
<p><u>豇豆</u>　味甘鹹性平。水種者勿食。中鼠莽毒者，煮汁飲之即解。欲試其效，先刈鼠莽苗，以汁潑之，便根爛不生。</p>
<p><u>豌豆</u>　味甘性平，多食發氣病。薇，味甘性寒，即野豌豆。</p>
<p><u>御米</u>　味甘性平。多食利二便，動膀胱氣。此即罌粟子也。</p>
<p><u>薏苡仁</u>　味甘性微寒。因寒筋急，不可食用。以其性善走下也，妊婦食之墮胎</p>
<p><u>蕨粉</u>　味甘性寒，生山中者有毒。多食令目暗鼻塞，落髮弱陽。病人食之，令邪氣壅經絡筋骨。患冷氣人食之，令腹脹。小兒食之，令腳軟不能行。生食蕨粉，成蛇瘕，能消人陽事，非良物也。勿同莧菜食。</p>

<h1>卷三</h1>

<h2>菜類</h2>
<p><u>韭菜</u>　味辛微酸，性溫。春食香益人，夏食臭，冬食動宿飲，五月食之昏人乏力。冬天未出土者，名韭黃。窖中培出者，名黃芽韭。食之滯氣，蓋含抑鬱未伸之故也。經霜韭食之，令人吐。多食昏神暗目，酒後尤忌。有心腹痼冷病，食之加劇。熱病後十日食之，能發睏。不可與蜂蜜及牛肉同食，成癥瘕。食韭口臭，啖諸糖可解。</p>
<p><u>薤</u>　味辛苦，性溫滑。一名蕌子，其葉似細蔥，中空而有稜，其根如蒜。有赤白二種，赤者味苦，白者生食辛、熟食香，發熱病不宜多食。三四月勿食生者，引涕唾，不可與牛肉同食，令人作癥瘕。一云與蜂蜜相反。</p>
<p><u>蔥</u>　味辛，葉溫、根鬚平。正月食生蔥，令人面上起遊風。多食令人虛氣上衝，損鬚髮，五臟閉絕，昏人神。為其生髮，散開骨節，出汗之故也。生蔥同蜜食，作下利。燒蔥同蜜食，壅氣殺人。生蔥合棗食，令人臚脹。合雉肉雞肉、犬肉食，多令人病血。同雞子食，令氣短。勿同楊梅食。胡蔥久食傷神，令人多忘，損目明絕血脈，發痼疾，患狐臭。蠚齒人食之轉甚。同青魚食，生蟲蛆。四月勿食胡蔥，令人氣喘多驚。服地黃、何首烏、常山者，忌食蔥、忌諸蔥。並與蜜相反。</p>
<p><u>小蒜</u>　味辛性溫，有小毒。其葉和煮食物，其根比大蒜頭小而瓣少。三月勿食，傷人志性。同魚膾雞子食，令人奪氣，陰核疼。腳氣風病人及時病後，忌食之。一云與蜜相反。生食增恚，熟時發淫，有損性靈也。</p>
<p><u>大蒜</u>　味辛性溫，有毒。生食傷肝氣，損目光，面無顏色，傷肺傷脾。生蒜合青魚鮓、鯽魚食，令人腹內生瘡，腸中腫。又成疝瘕，發黃疾。合蜜食殺人。多食生痰，助火昏目。四八月食之傷神，令人喘悖。多食生蒜行房，損肝失色。凡服一切補藥及地黃、牡丹皮、何首烏者，忌之。能解蟲毒，消肉積。同雞肉食，令瀉痢。同雞子食，令氣促。勿同犬肉食。妊婦食之，令子目疾。</p>
<p><u>蕓薹菜</u>　味辛性溫，即今之油菜。多食發口齒痛，損陽道，發瘡疾，生蟲積。春月食之，發膝中痼冷。有腰腳病者，食之加劇。狐臭人並服補骨脂者，忌食之。</p>
<p><u>菘菜</u>　味甘性溫，即白菜。多食發皮膚瘙癢，胃寒人食多，令噁心吐沫作瀉。夏至前食多，發風動疾。有足病者忌食。藥中有甘草，忌食菘菜，令人病不除。北地無菘，彼人到南方，不勝地土之宜，遂病，忌菘菜。其性當作涼，生薑可解。服蒼、白朮者，忌之。</p>
<p><u>芥菜</u>　味辛性溫。多食昏目，動風發氣。同鯽魚食，患水腫。同兔肉、鱉肉食，成惡瘡病。有瘡瘍痔疾便血者，忌之。生食發丹石藥毒。細葉有毛者，害人。芥苔多食助火生痰，發瘡動血。酒後食多，緩人筋骨。芥子味辛性熱，多食動火昏目，泄氣傷精。勿同雞肉食。</p>
<p><u>莧菜</u>　味甘性冷利。多食發風動氣，令人煩悶，冷中損腹。凡脾胃泄瀉者勿食。同蕨粉食，生瘕。妊婦食之滑胎，臨月食之易產。不可與鱉同食，生鱉瘕。取鱉肉如豆大，以莧菜封裹，置土坑內，以土蓋之，一宿盡變成小鱉也。</p>
<p><u>菠菜</u>　味甘性冷滑。多食令人腳弱，發腰痛，動冷氣，先患腹冷者必破腹。不可與䱉魚同食，發霍亂。北人食煤火薰炙肉面，食此則平。南人食濕熱魚米，食此則冷，令大小腸冷滑也。</p>
<p><u>萵苣菜</u>　味甘苦性冷，微毒。多食昏人目，痿陽道。患冷人不宜食。紫色者有毒，百蟲不敢近，蛇虺觸之，則目瞑不見物。人中其毒，以薑汁解之。</p>
<p><u>白苣菜</u>　味苦性寒。似萵苣，葉有白毛。同酪食，生蟲蠚。多食令小腸痛。患冷氣者勿食。產後食之，令腹冷作痛。</p>
<p><u>苦菜</u>　味苦性寒，即苦蕒。家種者，呼為苦苣。不可合蜜食，令人作內痔。脾胃虛寒者忌食。蠶婦不可食，令蛾子青爛。野苣若五六回拗後，味反甘滑，勝於家種也。</p>
<p><u>萊菔根</u>　辛甘，葉微苦，性溫，即蘿蔔。能解豆腐、面毒。不可與地黃同食，令人發白。多食動氣，生薑可解。服何首烏諸補藥忌食。</p>
<p><u>胡蘿蔔</u>　味甘辛，性微溫。有益無損，宜食。</p>
<p><u>芫荽</u>　味辛性溫，微毒，即胡荽。多食傷神健忘出汗，有狐臭、口氣、䘌齒、腳氣、金瘡者，並不可食。久病人食之腳軟。同斜蒿食，令人汗臭難瘥，根發痼疾。凡服一切補藥及白朮、牡丹皮者，忌之。勿同豬肉食。妊婦食之，令子難產。</p>
<p><u>茄子</u>　味甘淡性寒，有小毒。多食動風氣，發痼疾及瘡疥。虛寒、脾胃弱者勿食，諸病人莫食，患冷人尤忌。秋後食茄損目，同大蒜食，發痔漏。多食腹痛下利，女人能傷子宮無孕。蔬中唯此無益。</p>
<p><u>芋艿</u>　味辛甘性平滑，有小毒。生則味薟有毒，不可食。性滑下利，服餌家所忌。多食困脾，動宿冷滯氣，難克化。紫芋破氣。野芋形葉與家芋相似，有大毒，能殺人。誤食煩悶垂死者，以土漿及糞清大豆汁解之。</p>
<p><u>山藥</u>　味甘性溫平。同鯽魚食，不益人。同麵食動氣。入藥忌鐵器。甘藷味甘性平。</p>
<p><u>茼蒿</u>　味甘辛性平。多食動風氣，薰人心，令氣滿。</p>
<p><u>馬齒莧</u>　味酸性寒滑。一名九頭獅子草，俗名醬瓣草。一種葉大者忌食。妊婦食之，令墮胎。</p>
<p><u>葵菜</u>　味甘性寒。為百菜之長，解丹石毒。性冷滑利，胃寒泄瀉者勿食。同黍米食，同鯉魚及魚鮓食，並害人。時病後食之，令目暗。勿同沙糖食。妊婦食之，令胎滑。其菜心有毒，忌食。葉尤冷利，不可多食。莖赤葉黃者勿食。生葵發宿疾，與百藥相忌。蜀葵苗亦可食，但久食鈍人志性。被犬齧者，食之即發，永不瘥也。合豬肉食，令人無顏色。食蒜葵須用蒜，無蒜勿食之。葵性雖冷，若熱食之，令人熱悶動風氣。四月勿食，發宿疾。</p>
<p><u>蓴菜</u>　味甘性寒滑。生湖澤中，葉如荇而差圓。形似馬蹄。多食及熟食令擁氣不下，損胃傷齒，落毛髮。令人顏色惡，發痔瘡。七月間有蠟蟲著上，誤食令霍亂。和醋食，令人骨痿。時病後勿食。</p>
<p><u>芹菜</u>　味辛甘性平。殺丹石毒。和醋食損齒，有鱉瘕人不可食。春秋二時，宜防蛇虺遺精，誤食令面手發青，胸腹脹痛，成蛟龍癥。服餳糖二三盌，日三度，吐出便瘥。種近水澤者良，高田生者勿用。一種赤芹有毒，忌食。</p>
<p><u>水芹</u>　味辛甘性平。生地上者名旱芹，其性滑利。一種黃花者有毒殺人，即毛芹也。赤芹生於水濱，狀類赤芍藥，其葉深綠，而背甚赤。其性溫，味酸有毒。胡芹生卑濕地，三四月生苗，一本叢出如蒿，白毛蒙茸，嫩時可茹。其味甘辛性溫。蛇喜嗜芹，春夏之交，防遺精於上，誤食成蛟龍瘕。和醋食，令人損齒。忌同芹菜。</p>
<p><u>茭白</u>　味甘淡，性冷滑。多食令下焦冷。同生菜蜂蜜食，發痼疾，損陽道。服巴豆人忌之。</p>
<p><u>刀豆子</u>　味甘性溫。多食令人氣閉頭脹。</p>
<p><u>蕪菁</u>　味辛苦，性溫，即諸葛菜。北地尤多，春食苗，夏食心，秋食莖，冬食根。多食動風氣。</p>
<p><u>菾菜</u>　味甘苦，性寒滑，即甜菜。一名莙薘菜，道家忌之。其莖燒灰淋汁洗衣，白如玉色。胃寒人食之，動氣發瀉。先患腹冷人食之，必破腹。</p>
<p><u>苜蓿</u>　味苦澀性平。多食令冷氣入筋中，即瘦人。同蜜食，令人下痢。</p>
<p><u>落癸葉</u>　味酸性寒滑，即胭脂菜。脾冷人不可食，曾被犬齧者食之，終身不瘥。</p>
<p><u>黎豆</u>　味甘微苦，性溫，有小毒。其子大如刀豆子，淡紫色，有斑點如貍文。煮去黑汁，再煮乃佳。多食令人發悶。</p>
<p><u>白花菜</u>　味苦辛，性涼。一名羊角菜。多食動風氣，滯臟腑，困脾發悶，不可與豬心肺同食。</p>
<p><u>紅花菜</u>　味甘性平。妊婦忌食。黃花菜，味甘性涼，一名萱花。</p>
<p><u>黃瓜菜</u>　味甘微苦，性涼。其色黃，其氣似瓜，其菜形如薤。</p>
<p><u>馬蘭</u>　味辛性微溫。醃藏作茹甚良。</p>
<p><u>草決明</u>　味甘性涼。春採為蔬，花子皆堪點茶。</p>
<p><u>蕹菜</u>　味甘性平。難產婦人宜食。解野葛毒，取汁滴野葛苗，當時萎死。</p>
<p><u>東風菜</u>　味甘性寒。有冷積人勿食。</p>
<p><u>薺菜</u>　味甘性溫。取其莖作挑燈杖，可闢蚊蛾，謂之護生草。其子名蒫食，味甘性平，飢歲採之，水調成塊，煮粥其黏滑。患氣病人食之，動冷氣，不與面同食，令人背悶。服丹石人不可食。</p>
<p><u>蘩蔞</u>　味酸性平。一名鵝腸菜。同魚鮓食，發消渴病，令人健忘。性能去惡血，不可久食，恐血盡也。</p>
<p><u>蕺菜</u>　味辛性微溫，有小毒。一名魚腥草。多食令人氣喘。小兒食之，三歲不行，便覺腳痛。素有腳氣人食之，一世不愈。久食發虛弱，損陽氣，消精髓。</p>
<p><u>蒲公英</u>　味甘性溫。嫩苗可食，解食毒，一名黃花地丁草。</p>
<p><u>翹搖</u>　味辛性平，即野蠶豆。生食令人吐水。</p>
<p><u>鹿藿</u>　味甘性平，即野綠豆。生熟皆可食，其子可煮食，或磨面作餅蒸。</p>
<p><u>灰滌菜</u>　味甘性平。殺刺毛蟲、蜘蛛咬毒。其子可磨粉炊飯。</p>
<p><u>秦荻藜</u>　味辛性溫。於生菜中最稱香美。</p>
<p><u>香樁苗</u>　味甘辛性平。多食昏神，薰十二經脈。同豬肉熱麵食，多令人中滿。</p>
<p><u>五茄芽</u>　味甘辛性溫。</p>
<p><u>枸杞苗</u>　味甘苦性寒。解面毒，與乳酪相反。</p>
<p><u>甘菊苗</u>　味甘微苦，性涼。生熟可食。真菊延齡。野菊食之，傷胃瀉人。</p>
<p><u>綠豆芽菜</u>　味甘性涼。但受鬱抑之氣所生，多食發瘡動氣。</p>
<p><u>竹筍</u>　味甘性微寒。諸筍皆發冷血及氣，多食難化困脾，小兒食多成瘕。同羊肝食，令人目盲。勿同沙糖食。䈽筍，味薟難食，多食發風動氣作脹。淡竹筍，多食發背悶腳氣。刺竹筍有小毒，食之落人發。箭竹筍，性硬難化，小兒勿食。桃竹筍，味苦有小毒，南人謂之黃筍，灰汁煮之可食，不爾戟人喉。酸筍出粵南，用沸湯泡去苦水，投冷井水中浸二三日取出，縷如絲繩，醋煮可食。凡煮筍少入薄荷食鹽，則味不薟，或以灰湯煮過，再煮乃佳。蘆筍忌巴豆，干筍忌沙糖、鱘魚、羊心肝，食筍傷，用香油、生薑解之。</p>
<p><u>荊芥</u>　味辛性溫。可作菜，食久動渴疾，燻人五臟神。反驢肉、無鱗魚。勿與黃顙魚同食，與蟹同食動風。</p>
<p><u>壺瓠</u>　味甘性平滑。多食令人吐利，發瘡疥。患腳氣虛脹冷氣者食之，永不除也。</p>
<p><u>壺盧</u>　味苦性寒，有毒。有甘苦二種，俗謂以雞糞壅之，或牛馬踏踐，則變而為苦。</p>
<p><u>冬瓜</u>　味甘淡性寒。經霜後食良。陽臟人食之肥，陰臟人食之瘦。煮食能練五臟，為下氣也。冷者食之瘦人。九月食之，令人反胃。陰虛久病及反胃者，並忌食之。白瓜子久食寒中。</p>
<p><u>南瓜</u>　味甘性溫。多食髮腳氣黃疸。同羊肉食，令人氣壅。忌與豬肝、赤豆、蕎麥麵同食。</p>
<p><u>菜瓜</u>　味甘淡性寒。時病後不可食。同牛乳魚鮓食，併成疾。生食冷中動氣，食心痛臍下癥結。多食令人虛弱不能行，小兒尤甚。發瘡疥。空心生食，令胃脘痛。菜瓜能暗人耳目，觀驢馬食之，即眼爛，可知其性矣。</p>
<p><u>黃瓜</u>　味甘淡，性寒，有小毒。多食損陰血，發瘧病，生瘡疥，積瘀熱，發疰氣，令人虛熱上逆。患腳氣虛腫及諸病時疫之後，不可食。小兒尤忌，滑中生疳蟲。勿多用醋，宜少和生薑，制其水氣。</p>
<p><u>絲瓜</u>　味甘性冷。多食令痿陽事，滑精氣。</p>
<p><u>木耳</u>　味甘性平，有小毒。惡蛇蟲從下過者，有大毒。楓木上生者，食之令人笑不止。採歸色變者、夜視有光者、欲爛不生蟲者、赤色及仰生者，並有毒不可食。唯桑槐榆柳樹上生者良，柘木者次之。其餘樹生者，動風氣，發痼疾，令人肋下急損絡背膊悶。不可合雉肉、野鴨、鵪鶉食，中其毒者，生搗冬瓜蔓汁並地漿可解。</p>
<p><u>香蕈</u>　味甘性平。感陰濕之氣而成，善發冷氣，多和生薑食良。生山僻處者，有毒殺人。早英蕈有毒，不可食。</p>
<p><u>天花蕈</u>　味甘性平。五臺山多蛇，蕈感其氣而生，故味雖美而無益。煮時以金銀器試之，不變黑者，方可食之。</p>
<p><u>磨菰蕈</u>　味甘性寒。一云有毒，不可多食，動風氣發病。勿同雉肉食。雞㙡味甘性平，出雲南。</p>
<p><u>土菌</u>　味甘性寒，有毒。槐樹上生者良，野田中者，有毒殺人。多食發冷氣，令人腹中微微痛，發五臟風，擁經脈，動痔漏，令人昏昏多睡，背膊四肢無力。冬春無毒，夏秋有毒。或有蛇蟲從下過也，夜中有光者、欲爛無蟲者、煮之不熟者、煮訖照人無影者、上有毛下無紋者、仰卷赤色者、墳墓中生棺木上者，並有毒殺人。勿同雉肉、鵪鶉食，中其毒者，地漿及糞汁解之。煮菌時投姜屑飯粒，若色黑者，殺人。否則無毒。或以苦茗白礬勺新水嚥下解之。妊婦食之，令子風疾。廣南人殺毒蛇，覆之以草，以水灑之，數日菌生，採干為末。入酒毒人，遇再飲酒，毒發立死。又南夷以胡蔓草毒人至死，懸屍於樹，汁滴地上，生菌子收之，名菌藥。毒人至烈。此皆不可不知，故並記之。苦竹菌有大毒，忌食。</p>
<p><u>羊肚蕈</u>　味甘性寒。患冷積腹痛泄瀉者，勿食。</p>
<p><u>葛花菜</u>　味苦甘性涼。產諸名山。秋霜浮空，如芝菌湧生地上，色赤味脆，亦蕈類也。</p>
<p><u>地耳</u>　味甘性寒。春夏生雨中，雨後速採，見日即不堪用，俗名地踏菰。</p>
<p><u>石耳</u>　味甘性平。味勝木耳。</p>
<p><u>鹿角菜</u>　味甘性大寒。解面毒。丈夫不可久食，發痼疾，損腰腎經絡血氣，令人腳冷痹，少顏色。</p>
<p><u>龍鬚菜</u>　味甘性寒。患冷氣人勿食。</p>
<p><u>石花菜</u>　味甘鹹，性大寒滑。有寒積人食之，令腹痛。多食弱陽，發下部虛寒。</p>
<p><u>紫菜</u>　味甘鹹性寒。多食令人發氣腹痛，有冷積者食之，令吐白沫。飲熱醋少許可解。其中防小螺螄損人，須揀淨用。凡海菜皆然。石蓴味甘性平，似紫菜而色青。凡海菜忌甘草。</p>
<p><u>海帶</u>　味甘鹹性寒滑。不可與甘草同食。</p>
<p><u>海苔</u>　味甘鹹性寒。多食發瘡疥，令人痿黃少血色。</p>

<h1>卷四</h1>

<h2>果類</h2>
<p><u>李子</u>　味甘酸，性微溫。多食令人臚脹，發痰瘧虛熱。同蜜及雀肉、雞肉、雞子、鴨肉、鴨子食，損五臟。同漿水食，令霍亂。勿同麋鹿麞肉食。李味苦澀者，不可食。不沉水者有毒，勿食。服術人忌之。妊婦服之，子生瘡疥。</p>
<p><u>杏子</u>　味甘酸，性熱，有小毒。不益人。生食多傷筋骨。多食昏神，令膈熱生痰，動宿疾，發瘡癰，落鬚眉。病目者食多，令目盲。小兒多食，成壅熱，致瘡癤。產婦尤宜忌之。杏仁味甘苦，性溫，有小毒。兩仁者殺人。花開六出，核必雙仁。杏仁作湯，白沫不解者，食之令氣壅身熱。湯經宿者，動冷氣，能消犬肉索粉積。雙仁者誤食，或食杏仁多，致迷亂將死。急取杏根煎湯，服可解。八旦杏仁味甘性溫，多食亦能動宿疾也。</p>
<p><u>桃子</u>　味甘酸，性溫，微毒。多食損脾助熱，令膨脹，發瘡癤。同鱉肉食，患心痛。食桃浴水，令泄瀉成淋，及寒熱病。能發丹石毒。生桃尤損人，食之有損無益。五果列桃為下，服術人忌之。桃仁味甘苦，性平。雙仁者有毒，宜去之。桃花勿用千葉者，令人目黃鼻衄不止。</p>
<p><u>栗子</u>　味甘鹹，性溫。生食則發氣，蒸炒熱食則壅氣。風過者生熟咸宜，再經日曬作油灰氣。同橄欖食，有梅花香。中扁者名慄楔，慄作粉食，勝於菱芡。但飼小兒，令齒不生。患風疾及水腫者，並不宜食。小兒不可多食，生則難化，熟則滯氣，膈熱生蟲，往往致病。勿同牛肉食。密取一慄咬破，蘸香油和眾慄炒，俱不發爆。取苞中自裂出栗子，以潤沙密藏，夏初尚如新也。如苞未樹上自墜者，不能久藏，且易腐。</p>
<p><u>棗子</u>　味甘，生性熱，熟性平。生食多令人熱渴膨脹，動臟腑，損脾元，助濕熱。患寒熱胃弱羸瘦人不可食。同蜜食損五臟。熟棗多食，令人齒黃生䘌。同蔥食，令五臟不和。同諸魚食，令腰腹痛。勿與鱉蟹同食。久食最損脾，助濕熱。患齒病疳病蟲䘌及中滿者，勿食。小兒食多生疳。棗葉微毒，服之使人瘦，久即嘔吐。</p>
<p><u>柿子</u>　味甘性寒。多食發痰。同酒食易醉，或心痛欲死。同蟹食，令腹痛作瀉，或嘔吐昏悶，唯木香磨汁灌之可解。鹿心柿尤不可食，令寒中腹痛。乾柿勿同鱉肉食，難消成積。凡紅柿未熟者，以冷鹽湯浸，可經年許。但鹽藏者微有毒。</p>
<p><u>梅子</u>　味酸性平。多食損齒傷筋，蝕脾胃，令人膈上痰熱。服黃精人忌之。不可與豬羊肉、麋鹿麞肉同食。食梅齒齼者，嚼胡桃肉解之。梅子同韶粉食不酸、不軟牙。烏梅性溫忌豬肉。白梅與烏梅同功。暗香湯，取半開梅花，溶蠟封花口投蜜罐中，每取一二朵，同蜜一匙，點滾水服。清水揉梅葉洗蕉葛衣，經夏不脆。梅葉煎湯，洗黴衣即去，甚妙。</p>
<p><u>梨</u>　味甘微酸，性寒。多食令人寒中損脾，萎困金瘡。乳婦產後血虛者，勿食。生食多成冷痢。梨與蘿蔔相間收藏，或削梨蒂，種於蘿蔔上藏之，皆可經年不爛。今北人每於樹上包裹，過冬乃摘，亦妙。</p>
<p><u>木瓜</u>　味酸澀，性溫。忌鐵器。多食損齒傷骨，以鉛霜或胡粉塗之，則失酢味，且無渣。木瓜樹作桶濯足，甚益人。</p>
<p><u>榲桲</u>　味酸甘，性微溫。形似木瓜而有毛，其氣甚香。多食發熱毒，澀血脈，聚胸膈痰。同車螯食，發疝氣。臥時生食，多令胃脘痁塞。</p>
<p><u>棠毬</u>　味酸甘，性微溫。生食多令人嘈煩易飢。脾胃弱者及齒齲人勿食。</p>
<p><u>柰子</u>　味苦甘酸澀，性寒，微毒。多食令人肺寒臚脹。凡病人食之尤甚。蘋果味甘性平，一名頻婆。比柰圓大，味更風美。</p>
<p><u>林檎</u>　味甘酸，性溫。俗名花紅。多食令人百脈弱，發熱生痰滯氣，發瘡癤，令人好唾。其子食之，令人心煩。林檎樹生毛蟲，埋蠶蛾於下，或以洗魚水澆之，即止。</p>
<p><u>石榴</u>　味甘酸澀，性溫。多食令人損肺，傷齒令黑，戀膈生痰。凡服食藥物人忌之。</p>
<p><u>橘子</u>　味甘酸，性溫。多食戀膈生痰，滯肺氣。同螃蟹食，令患軟癰。同獺肉食，令噁心。勿與檳榔同食。橘皮乾者，名陳皮。味苦辛，性溫。若多用久服，能損元氣。橘瓤上筋最難化，小兒多食成積。松毛裹橘，留百日不幹，綠豆亦可。忌近酒米，柑橙亦然。橘下埋鼠，則結實加倍。</p>
<p><u>柑子</u>　味甘性寒。多食令脾寒成癖，及肺寒咳嗽，生痰，發陰汗，令大腸瀉痢。即用柑皮煎湯，或飲鹽湯可解。多食柑皮，令肺燥。</p>
<p><u>橙子</u>　味甘性寒。多食傷肝氣，發虛熱。同獱肉食，發頭旋噁心。橙皮，味苦辛，性溫。宿酒未解，食之速醒，食多反動氣。勿同檳榔食。</p>
<p><u>香櫞</u>　味辛酸，性溫。揉蒜罨其蒂上，則香更充溢。浸汁浣葛紵，勝似酸漿也。佛手柑味辛甘，性平。與香櫞功用相同。</p>
<p><u>金柑</u>　味甘酸，性溫。藏綠豆中，經時不變。</p>
<p><u>枇杷</u>　味甘酸，性平。多食動脾發痰助濕。同麵食及炙肉食，發黃病，壅濕熱氣。</p>
<p><u>胡桃肉</u>　味甘，衣澀，性溫。多食生痰涎，動風氣，脫眉發，令人噁心吐水。同酒食多，令咯血動腎火。連衣食斂肺氣。不可合雉肉野鴨同食。胡桃肉與銅錢共食，即成粉。食酸齒齼，細嚼桃肉即解。去衣法；凡胡桃一斤，用甘蔗節五六段和湯煮透，經一宿，次早略煮，取去殼，衣隨脫。油胡桃有毒，傷人咽肺。</p>
<p><u>楊梅</u>　味酸甘，性溫。多食發瘡助熱生痰，損齒傷筋。有火病者勿食，忌與生蔥同食。以柿漆拌核曝之，仁自裂出。</p>
<p><u>櫻桃</u>　味甘澀，性熱。多食令人嘔吐，立發暗風，傷筋骨，敗血氣，助虛熱。小兒食之過多，無不作熱。有寒熱病人不可食。宿有濕熱病及喘嗽者，食之加劇，且有死者。過食太多，發肺癰肺痿。其葉同老鵝煮，易軟熟。</p>
<p><u>銀杏</u>　味甘苦澀，性溫，有小毒。即白果。生食引疳，熟食多令人臚脹壅氣動風。小兒食多昏霍發驚引疳。同鰻鱺食，患軟風。妊婦食之滑胎。銀杏能醉人，食滿及千者死。三稜者有毒。臨炒時，密取一枚手握，炒不發爆，生搗能浣衣帛油膩。</p>
<p><u>榛子</u>　味甘性平。凡收藏榛松瓜仁類，以燈心剪碎，和入罐內，放燥處不油。</p>
<p><u>松子</u>　味甘性溫。多食生痰涎，發虛熱。不可同胡羊肉食。凡松子細果將油者，攤竹紙焙之，還好。</p>
<p><u>榧子</u>　味甘澀，性熱。同鵝肉食，患斷節風，又令氣上壅。反綠豆，能殺人。豬脂炒榧，黑皮自脫。同甘蔗食，其渣自軟。榧煮素羹，味更甜美。多食引火入肺，大腸受傷也。</p>
<p><u>荔枝</u>　味甘性熱。多食發熱、煩渴、口乾、衄血，鮮者尤甚，令即齦腫口痛。患火病及齒䘌人，尤忌之。食荔多則醉，以殼浸水飲之即解。荔枝熟時，人未採，則百蟲不敢近，人才採動，鳥、烏、蝙蝠、蟲類無不傷殘之也。故採荔枝者，必日中眾採，一日色變，二日味變，三日色味俱變。若麝香觸之，花實盡落也。以針刺荔殼數孔，蜜水浸瓷碗內，隔湯蒸透，肉滿甘美。</p>
<p><u>龍眼</u>　味甘性平。生者用沸湯瀹過，食不動脾。</p>
<p><u>龍荔</u>　味甘性熱，有小毒。狀如小荔枝，而肉味如龍眼。生食令人發癇，或見鬼物。</p>
<p><u>橄欖</u>　味澀甘，性溫。多食令氣上壅，過白露摘食，不病瘧。食橄欖去兩頭，其性熱也。得鹽不苦澀，同栗子食甚香。用錫盒收藏，以紙封固，置淨地上，至五六月不壞。橄欖樹高難採，將熟時以木釘釘之，或納鹽少許於根皮內，其實一夕自落。其枝節間有脂膏如桃膠，採取和皮葉煎汁，熬如黑餳，謂之欖糖。用黏船隙，牢如膠漆，著水益干。其木作舟楫，撥著魚皆浮出，故橄欖能解一切魚毒。</p>
<p><u>梧桐子</u>　味甘性平。生食無益，多食生痰涎，動風氣。</p>
<p><u>檳榔</u>　味苦辛澀，性溫。頭圓矮平者為榔，形尖紫紋者為檳。檳力小，榔力大。勿經火。若熟使，不如不用。鴆鳥多集檳榔樹上，其外皮即大腹皮也。宜依法洗制，方可用之。檳榔得扶留藤、瓦壟子灰同咀嚼之，吐去紅水一口，則柔滑甘美。多食則發熱，勿同橙橘食。</p>
<p><u>蓮肉</u>　味甘澀，性平。食蓮子不去心，令人作吐。多食生者，微動冷氣脹人。患霍亂及大便閉燥者，少食。荷梗塞穴，鼠自去。煎湯洗鑞垢自新。蓮花及蕊須忌地黃、蔥蒜。花畏桐油。</p>
<p><u>藕</u>　味甘性平。生食過多，亦令冷中。少和鹽水食，益口齒。同油炸米麵果食，則無渣。忌鐵器。</p>
<p><u>菱</u>　味甘性平。生食多傷臟腑，損陽氣，痿莖，生蟯蟲。水果中最不治病。熟食多令腹滯氣，腹脹飲薑汁酒一二杯可解。或含吳茱萸咽津亦妙。同蜂蜜食，生蝤蟲。小兒秋後食多，令臍下痛。花開背日，芡花開向日，故菱寒而芡暖。熟乾性平，生則冷利。四角三角為芰，兩角為菱，功用相同。勿合犬肉食。</p>
<p><u>芡實</u>　味甘性平。生食過多，動風冷氣。熟食過多，不益脾胃，兼難消化。小兒多食，令不長。芡實一斗，用防風四兩煎湯，浸過經久不壞。</p>
<p><u>茨菇</u>　味苦甘，性寒。多食發虛熱，及腸風痔漏崩中帶下，令冷氣腹脹。生瘡癤，髮腳氣，患癱瘓風。損齒失顏色，皮肉乾燥。卒食之，使人乾嘔。孕婦忌食，能消胎氣。小兒食多令臍下痛，以生薑同煮可解毒。勿同吳茱萸食。</p>
<p><u>荸薺</u>　味甘，性寒滑，即地粟。有冷氣人不可食，令腹脹氣滿。小兒秋月食多，令臍下結痛。合銅嚼之，銅漸消也。勿同驢肉食，令筋急。</p>
<p><u>甜瓜</u>　味甘，性寒滑，有小毒。多食發虛熱痼疾黃疸，及陰下濕癢生瘡，動宿疾癥癖，損陽氣，下痢，令人虛羸，手足乏力，惙惙氣弱。同油餅食作瀉，病後食之，成反胃。患腳氣者食之難愈。食多解藥力。夏月過食，深秋瀉痢最為難治。凡瓜有兩鼻兩蒂者，殺人。五月瓜沉水者，食之患冷病，令終身不瘥。九月被霜者，食之冬病寒熱。瓜性最寒，曝而食之尤冷。張華《博物志》云：人以冷水漬至膝，可頓啖瓜至數十枚。漬至項，其啖轉多。水皆作瓜氣，未知果否。食瓜傷腹脹者，食鹽花易消，或飲酒，或服麝香水可解。</p>
<p><u>西瓜</u>　味甘性寒。胃弱者不可食，多食作吐利，發寒疝，成霍亂冷病。同油餅食，損脾氣。食瓜後，食其子，不噫瓜氣。以瓜劃破曝日中，少頃食，即冷如冰。近糯米，沾酒氣即易爛，貓踏之易沙。</p>
<p><u>葡萄</u>　味甘酸，性微溫。多食助熱，令人卒煩悶昏目。甘草作釘，針葡萄立死。以麝香入樹皮內，結葡萄盡作香氣。其藤穿過棗樹，則實味更美。葡萄架下不可飲酒，防蟲屎傷人。</p>
<p><u>甘蔗</u>　味甘性微寒。多食發虛熱，動衄血。同酒過食發痰。同榧子食則渣軟，燒蔗渣煙最昏目，宜避之。</p>
<p><u>落花生</u>　味甘微苦，性平。形如香芋。小兒多食，滯氣難消。近出一種落花生，詭名長生果，味辛苦甘，性冷，形似豆莢，子如蓮肉，同生黃瓜及鴨蛋食，往往殺人。多食令精寒陽痿。</p>
<p><u>香芋</u>　味甘淡，性平。多食泥膈滯氣。小兒及產婦尤宜少食。</p>
<p><u>甘露子</u>　味甘性平，即草石蠶。不宜生食，多食令生寸白蟲。與諸魚同食，令人吐。或以蘿蔔滷及鹽菹水收之，則不黑。亦可醬漬蜜藏。</p>
<p><u>桑椹子</u>　味甘酸，性微溫。小兒多食，令心痛。</p>
<p><u>黃精</u>　味甘微苦，性平。忌水蘿蔔。太陽之草名黃精，食之益人。太陰之草名鉤吻，食之即死。勿同梅子食。</p>
<p><u>馬檳榔</u>　味甘苦，性大寒。又名馬金囊。產婦忌食。女人多食，令子宮冷絕孕。</p>
<p><u>椰子漿</u>　味甘性溫。食之昏昏如醉。食其肉，則不飢。飲其漿，則增渴。</p>
<p><u>菴羅果</u>　味甘性溫。俗名香蓋，西洛甚多，多食動風疾。凡時疾後、食飽後俱不可食。同大蒜辛物食，令人患黃病。</p>
<p><u>諸果有毒</u>　凡果未成核者，食之令人發癰癤及寒熱。果落地，有惡蟲緣過者，食之令人患九漏。果雙仁者，有毒殺人。瓜雙蒂者、沉水者，皆有毒殺人。凡果忽有異常者，根下必有毒蛇惡物，其氣熏蒸所致，食之立殺人。</p>
<p><u>解諸果之毒</u>　燒豬骨灰為末，水服。</p>
<p><u>收藏</u>　青梅、枇杷、橄欖、橙、李、菱、瓜類以臘水入些少銅青末，密封於淨罐內，久留色不變。或用臘水入薄荷、明礬少許，將諸果各浸甕內，久藏味佳，且不變色。</p>

<h1>卷五</h1>

<h2>味類</h2>
<p><u>鹽</u>　味鹹性寒。多食傷肺發咳，令失色損筋力。患水腫者、喘嗽者忌食。喜咸人必膚黑，血病無多食鹽，多食則脈凝澀而變色。鹽中多以礬硝灰石之類雜穢，須水澄復煎乃佳。河東天生者及曬成者，無毒。其煎煉者，不潔有毒。一種戎鹽，功用相同。凡飲食過多作脹，以鹽擦牙，溫水漱咽二三次，即消。烏賊魚骨能淡鹽。服甘遂藥者，忌之。用鹽擂椒味佳。</p>
<p><u>豆油</u>　味辛甘，性冷，微毒。多食困脾，發冷疾，滑骨髓。菜油功用相同。</p>
<p><u>麻油</u>　味甘辛，性冷。多食滑腸胃，發冷疾。久食損人肌肉。生性冷，熟性熱，可隨時熬用。凡經宿者，食之動風。若過於煎熬者，性極熱，勿用。</p>
<p><u>黑沙糖</u>　味甘性溫。多食令人心痛，生長蟲，消肌肉，損齒髮疳。同鯽魚食，生疳蟲。同葵菜食，成流癖。同筍食，成瘕，令身重不能行。令人每用為調和，徒取其適口，而不知陰受其害也。</p>
<p><u>白沙糖</u>　味甘性寒。多食助熟損齒生蟲。輕白如粉者，為糖霜。堅白如冰者，為晶糖。性味相同。</p>
<p><u>蜂蜜</u>　味甘，性微溫。多食動脾。凡取蜜夏冬為上，秋次之，春則易發酸。川蜜溫、閩廣性熱、西南蜜涼。色白味甜。七月勿食生蜜，令人暴下霍亂。青赤酸者，食之心煩。與李子、生蔥、韭薤、萵苣、同食，令人利下。勿同黍米食。食蜜飽後，不可食鮓，令人暴亡。多食發濕熱病，生蟲䘌。小兒尤宜少食。凡蜜錢諸果，用細辛置於頂，不蟲蛇。</p>
<p><u>薄荷</u>　味辛性涼，虛弱人久食，成消渴病。新病初愈食之，令虛汗不止。與鱉相反。貓食之醉。凡收薄荷者，須隔夜以糞水澆之，雨後乃可刈收，則性涼，不爾不涼也。</p>
<p><u>蓽茇</u>　味辛性熱。能動脾肺之火。多食令人目昏，食料不宜用之。</p>
<p><u>草豆蔻</u>　味辛澀，性溫。多食能助脾熱，傷肺損目。不如縮砂仁白豆蔻之性氣和也。</p>
<p><u>紅豆蔻</u>　味辛性溫。多食令人舌粗，不思飲食，最能動火傷目致衄。食料中不宜用之。</p>
<p><u>食茱萸</u>　味辛苦，性大熱。多食動脾火，發浮腫虛恚，發瘡痔。有目疾火證者，忌食。勿同茨菇食。</p>
<p><u>川椒</u>　味辛性熱，有毒。多食令人乏氣傷血脈。凡有實熱喘以嗽及暴赤火眼者，勿食椒。五月食椒，損氣傷心，令人多忘。閉口者殺人。中其毒者，用涼水麻仁漿解之。川椒肉厚皮皺，其子光黑，如人子瞳。他椒子雖黑而無神，土椒子則無光矣。花椒性味相同，但力差薄耳。</p>
<p><u>胡椒</u>　味辛，性大熱，有毒。多食損肺，令人吐血助火，昏目發瘡。有實火及熱病人食之，動火傷氣，陰受其害。病咽喉口齒及腸紅痔漏者，忌之。妊婦食之，令助胎熱，子生瘡疥。</p>
<p><u>小茴香</u>　味辛甘，性微溫。力緩於大茴。有實火人宜少食之。其莖葉與子性味相同。</p>
<p><u>蒔蘿</u>　味辛性溫。殺魚肉毒。有實熱者少食。其根有大毒，誤食殺人。</p>
<p><u>桂皮</u>　味辛性溫。有實火者少食。忌生蔥、石脂。</p>
<p><u>茶</u>　味苦而甘，茗性大寒，岕性微寒。久飲令人瘦，去人脂，令人不睡。大渴及酒後飲茶，寒入腎經，令人腰腳膀胱冷痛，兼患水腫攣痹諸疾。尤忌將鹽點茶，或同鹹味食，如引賊入腎。空心切不可飲。同榧食，令人身重。飲之宜熱，冷飲聚痰，宜少勿多，不飲更妙。酒後多飲濃茶，令吐。食茶葉令發黃成癖。唯蒙茶性溫，六安、湘潭茶稍平。松茗傷人為最。若雜入香物，令病透骨。況真茶即少，雜茶更多，民生日用，受其害者，豈可勝言？婦嫗蹈其弊者更甚。服威靈仙、土茯苓者忌之。服史君子者忌飲熱茶，犯之即瀉。茶子搗仁洗衣，去油膩。廣南一種苦䔲，性大寒，胃冷人勿食。</p>
<p><u>酒類</u>　甚多，其味有甘苦酸淡辛澀不一，其性皆熱，有毒。多飲助火生痰，昏神軟體，損筋骨，傷脾胃，耗肺氣，夭人壽。飲冷酒同牛肉食，令人生蟲。同乳飲，令人氣結。同胡桃食，令咯血。酒醉臥黍穰，食豬肉，患大風。酒同芥食，及合辛辣等物，緩人筋骨。酒後飲茶多，傷腎聚痰，成水腫及攣痛，腰腳重墜，膀胱疝證，腹下冷痛，消渴痰飲。久飲過度，令人精薄無子。醉臥當風，成癜風癱瘓。醉後浴冷水，成痛痹。凡用酒服丹砂、雄黃等藥，能引藥毒入四肢，滯血，化為癰疽。中一切砒蠱等毒，從酒得者不治。凡飲酒宜溫，不宜熱，宜少不宜多。飲冷酒成手戰。有火證、目疾、失血、痰嗽、痔漏、瘡疥者，並宜忌之。飲酒者喜咸惡甘，勿同甜物食。枳椇、葛花、赤豆花、綠豆粉皆能醒酒解毒。酒漿照人無影，及祭酒自耗者，勿飲。酒酸以赤小豆一升，炒焦入罐內，可變好。</p>
<p><u>燒酒</u>　味甘辛，性大熱，有毒。多飲敗胃傷膽，潰髓弱筋，傷神損壽。有火證者忌之。同姜蒜、犬肉食，令人生痔發痼疾。妊婦飲之，令子驚癇。過飲發燒者，以新汲冷水浸之，或浸發即醒。中其毒者，服鹽冷水、綠豆粉可少解。或用大黑豆一升，煮汁一二升，多飲。服之取吐便解。</p>
<p><u>酒糟</u>　味辛甘，性溫。臘月者可久留，有火熱病及喘嗽者，勿食糟物。</p>
<p><u>醋</u>　味酸甘苦性微溫。解魚肉瓜菜毒。米醋乃良。多食損筋骨，傷胃氣，不宜男子，損齒滅顏，能發毒。不可同諸藥食，服茯苓、丹參、葶藶藥者忌之。凡風寒咳嗽及瀉痢脾病者，勿食。</p>
<p><u>醬</u>　味鹹甘，性冷。殺魚肉菜蕈百藥毒，多食助濕發瘡，發小兒無辜生痰動氣。妊婦合雀肉食，令兒面黑。同葵藿食，能墮胎。麥醬同鯉魚及魚鮓食，生口瘡。患腫脹五疸咳嗽者，勿食豆醬乃佳。患瘡癤者食之，令瘢黑。服甘遂者忌之。</p>
<p><u>飴糖</u>　味甘性溫。多食生痰助火，動脾風，發濕熱。患中滿、吐逆、秘結、牙䘌、赤目、疳病者，切忌食之。勿同豬心肺食，服半夏、菖蒲者忌之。</p>
<p><u>豆腐</u>　味甘鹹，性寒。多食動氣作瀉，發腎邪及瘡疥頭風病。夏月少食，恐人汗入內。凡傷豆腐及中毒者，食萊菔、杏仁可解。</p>
<p><u>粉皮</u>　索粉　俱味甘性涼。脾胃虛弱者，多食難化，令腹痛泄瀉，食杏仁即消。如近杏仁，即爛不成索。</p>
<p><u>乳酪</u>　味甘酸，性寒。患脾痢者勿食。羊乳酪同魚鮓食，成瘕。忌醋。不可合鱸魚食。</p>
<p><u>酥油</u>　味甘，性微寒。患脾氣虛寒者，宜少食之。</p>
<p><u>乳餅</u>　味甘，性微寒。多食動氣滑腸，生痰。患泄瀉者，不宜食。</p>
<p><u>魚膘</u>　味甘鹹，性平。脾胃虛者，宜少食之。回魚者性寒，不益腎。</p>
<p><u>魚膾</u>　味甘性溫。同乳酪食，令霍亂。勿同諸瓜食，夜食不消成積。食後飲冷水生蟲，疫病後食之，損脾成內疾。食生鱠成瘕為怪病。過食不消者，用馬鞭草汁和酒服可化。勿同豬肝食。</p>
<p><u>魚酢</u>　味甘鹹，性平。諸魚皆可作酢，多食難化，發瘡疥。防雜發害人。生酢損人，食之動脾胃病。同胡荽、同葵菜、同豆藿、同麥醬、同綠豆、同蒜食，並令消渴及霍亂。無鱗魚鮓尤不益人。</p>
<p><u>生薑</u>　味辛甘，肉性溫、皮性寒。生髮散，熟溫中，多食損心氣，發目疾、五痔、失血。凡患瘡癤人食之，長惡肉。妊婦多食生薑，助胎熱，令子生瘡疥，或生多指。多食辛辣，皆能損胎。夜不食姜，免耗真氣。忌同豬肉、牛肉、馬肉、兔肉食。秋姜宜少食，能瀉氣夭年。乾薑久食，令人目暗。妊婦食之，令胎內消，蓋其性大熱而辛散也。糟老薑入蟬蛻，則無筋。</p>

<h1>卷六</h1>

<h2>魚類</h2>
<p><u>鯉魚</u>　味甘性平。其脅鱗一道，從頭至尾，無大小皆三十六鱗。陰極則陽復，故能發風動火。同犬肉豆藿食，令消渴。同葵菜食，害人。天行病後及下痢者、有宿癥者，俱不可食。風病人食之，貽禍無窮。服天門冬、紫蘇、龍骨、硃砂人忌食。鯉脊上兩筋及黑血有毒。溪間生者，毒在腦。山上水中生者，不可食。炙鯉勿使煙入目，大損目光，三日內必驗。鯉魚子合豬肝食，能害人。勿同雞肉雞子食。</p>
<p><u>鯽魚</u>　味甘性溫。同蒜食，助熱。同沙糖食，生疳蟲。同芥菜食，發浮腫。同雞雉鹿猴肉及豬肝食，生癰疽。服麥門冬者，食之害人。鯽魚子忌同豬肝食。</p>
<p><u>鯿魚</u>　味甘性溫。患疳痢者，勿食。</p>
<p><u>鰣魚</u>　味甘性平。多食發痼疾及瘡疥疳疾。</p>
<p><u>鱸魚</u>　味甘性平，有小毒。多食發瘡腫，成痃癖。勿同乳酪食。肝不可食，剝人面皮。中鱸魚毒者，多飲蘆根汁可解。</p>
<p><u>鱖魚</u>　味甘性平。鬐刺凡十二，以應十二月。誤梗害人，以橄欖核磨水，服之可解。</p>
<p><u>鰱魚</u>　味甘性溫。多食令人熱中發渴，或發瘡疥。</p>
<p><u>鯖魚</u>　味性甘平。作鮓與服石人相反。勿與生胡荽、麥醬、豆藿、生葵菜同食。服術人忌之。</p>
<p><u>白魚</u>　味甘性平。多食熱中生痰，泥人膈，發灸瘡。同棗肉食，令患腰腹痛。經宿者勿食，令人腹冷，炙食亦少動氣。患瘡癤者勿食，能發膿。</p>
<p><u>回魚</u>　味甘性平，多食動痼疾。同野豬雉肉食，令人發癩。同鹿肉食殺人。赤目赤須者忌食。</p>
<p><u>鮆魚</u>　味甘性溫。多食助火動痰，發瘡疾。</p>
<p><u>鯊魚</u>　味甘性平。多食發瘡疥。此魚大者四五寸，小時即有子。忌甘草。</p>
<p><u>鰷魚</u>　味甘性溫。此魚長僅數寸，形狹而扁，狀如柳葉，性好群遊，多食發瘡疥丹毒。</p>
<p><u>鱠殘魚</u>　味甘性平。鮮多食令人發瘡疥及小兒赤遊風。曬乾者名銀魚。又一種鱵魚，形似鱠殘，但喙上多生一針，功用相同。</p>
<p><u>鱅魚</u>　味甘性溫。狀似鰱而色黑，其頭最大，俗呼花鰱。鰱之美在腹，鱅之美在頭。其目旁有乙骨，食魚去乙是矣。多食動風熱，發瘡疥。</p>
<p><u>鱒魚</u>　味甘性溫。一名赤眼魚。多食動風氣，助濕熱，發瘡癤癬疥及痼疾。</p>
<p><u>鯇魚</u>　味甘性溫，即草魚。多食發諸瘡及濕毒流氣痰核病。</p>
<p><u>石首魚</u>　味甘性平。俗名黃魚。曝乾為白鯗，食之能消瓜成水。又一種黃花魚，形狀相似，但色黑耳。</p>
<p><u>勒魚</u>　味甘性平。乾者謂之勒鯗。甜瓜生者，用勒魚骨插蒂上，一夜便熟。石首鯗骨亦然。</p>
<p><u>鯧魚</u>　味甘性平。和生薑粳米煮，骨皆軟，其子有毒，食之令人下痢。</p>
<p><u>杜父魚</u>　味甘性溫。狀似鯊而短，尾岐、頭大、口闊，身黃黑有斑，脊有刺。患瘡癤者，忌食。脊有細蟲如發，宜去之。</p>
<p><u>鱧魚</u>　味甘性寒，即黑魚。有瘡人不可食，令瘢白，食之無益，能發痼疾。</p>
<p><u>鰻鱺魚</u>　味甘，性微溫，有小毒。同白果食，患軟風，多食動風。妊婦食之，令胎有疾。有重三四斤者、昂頭三寸遊者、四目者、無腮者、背有白點者、腹有黑斑者並有毒，食之殺人。尖頭劍脊黑色者，有毒，食之無味。其骨燒煙燻蚊，令化為水。熏氈及屋舍竹木，斷蛀蟲。置書笥衣箱，不生蠹。海鰻鱺，性味相同，暖而不補。一種肉粗無油者，有毒勿食。乾者名風鰻。</p>
<p><u>鱓魚</u>　味甘，性大溫，即黃鱓。多食令人霍亂，發瘡疾，動風氣，損人壽。時行病後食之，復發。勿與犬肉犬血同食。妊婦食之，令子聲啞。黑而大者有毒，食之殺人。蓄水缸內，夜以燈照，通身浮水面，項下有白點，此乃蛇變者，急宜棄之。以蒜瓣投缸中，則群鱓跳擲不已，亦物性相制也。煮鱓忌桑柴火。食鱓中毒，食蟹即解。</p>
<p><u>鰌魚</u>　味甘性平，即泥鰍魚。同白犬血肉食、和燈心煮鰌甚妙。忌桑柴煮。</p>
<p><u>鱣魚</u>　味甘性平，有小毒，即黃魚。俗呼著甲魚。多食生痰助熱，發風動氣，發瘡疥。同蕎麥麵食，令人失音。作鮓食，令人難克化。服荊芥藥者，忌之。</p>
<p><u>鱘魚</u>　味甘性平，即鱘鰉魚。一名鮪魚。多食動風氣，發一切瘡疥。久食令人心痛腰疼。同筍干食，發癱瘓。小兒食之，成咳嗽及瘷瘕。能發諸藥毒，服丹石人忌食，作鮓雖珍，亦不益人。</p>
<p><u>鮎魚</u>　味甘性寒，有小毒。同牛肝食，患風噎涎。同野豬肉食，令吐瀉。同雉肉食，生癰癤。同鹿肉食，令筋甲縮。赤目赤須無腮者，並有毒，誤食殺人。反荊芥。</p>
<p><u>黃顙魚</u>　味甘性平，微毒。一名䱀䰲。狀似小鮎，身青黃色，腮下有二橫骨、兩須、有胃，作聲軋軋。其膽春夏近上，秋冬近下。多食發瘡疥，不益人。反荊芥，能害人。</p>
<p><u>河豚</u>　味甘性溫，有毒。海中者有大毒。多食發風助濕動痰。有痼疾瘡瘍者，不可食。與荊芥、菊花、桔梗、甘草、附子、烏頭相反。修治失法，誤入煙煤或沾灰塵，食之並能殺人。三月後即肉內生斑，不可食之。妊婦食之，令子赤遊風。其血有毒，脂令舌麻，子令腹脹，眼令目花。其肝及子有大毒，入口爛舌，入腹爛腸，無藥可解。中其毒者，以橄欖蘆根汁、糞清甘蔗汁解之，少效。或用鴨血灌下可解。服藥人不可食之。赤目者、極肥大者、腰腹有紅筋者，誤食殺人，諸藥不能解。厚生者宜遠之，勿食。又一種斑子魚，形似小河豚，其性味有毒，與河豚相同。河豚魚，飽後不可再食，食此不可盡飽，宜防發脹耳。</p>
<p><u>鱤魚</u>　味甘性平。吞啖同類，池中有此不能蓄魚。生瘡癤者，勿食。</p>
<p><u>石斑魚</u>　生南方溪澗，長數寸，白鱗黑斑，浮游水面，聞人聲則劃然深入。其子及腸有毒，誤食令人吐瀉，飲魚尾草汁少許，解之。</p>
<p><u>黃鯝魚</u>　味甘性溫。此魚闊不逾寸，長不近尺，其油點燈，令人昏目。</p>
<p><u>鱊魚</u>　味甘性平。俗名春魚。春月閒從巖穴中隨水流出，狀似初化魚苗，一斤千頭。或云鯉魚苗也。今宣城、涇縣於三月三前後三四日亦出小魚。土人炙收寄遠，或即此魚。</p>
<p><u>金魚</u>　味甘鹹，性平。味短不宜食，止堪養玩。魚啖橄欖渣、肥皂水、鴿糞即死。得白楊皮不生蝨。</p>
<p><u>比目魚</u>　味甘性平。多食動風氣，有風濕病者勿食。</p>
<p><u>鮹魚</u>　味甘性平。尾有兩歧如鞭鞘。患癰疽者勿食。</p>
<p><u>鮫魚</u>　味甘性平，即沙魚。皮可飾刀劍。大者尾長數尺，能傷人。小者子隨母行，驚即從口入母腹中。虎沙能咬人形，被暗傷人以紅布繫腰可免。忌甘草。</p>
<p><u>烏賊魚</u>　味鹹性平。多食動風氣。其墨亦可書字，但逾年則跡滅。其骨名海螵蛸，文順者是真，橫者為假。能淡鹽，投骨於井，水蟲皆死。烏賊遇小滿，則形小也。</p>
<p><u>邵陽魚</u>　味甘鹹，性平，有小毒。狀如盤及荷葉，無足無鱗，背青腹白，口在腹下，目在額上，尾長有節，螫人甚毒。吳人臘之，食之無益。其尾候人尿處訂之，令陰腫痛至死，拔去乃愈。被刺毒者，以魚扈竹及海獺皮解之。</p>
<p><u>竹魚</u>　味甘性平。出廣南桂林湘江，狀似鯖魚而少骨刺，色青翠可愛，鱗間有朱點。多食發瘡疾。</p>
<p><u>鱉肉</u>　味甘性冷。同豬兔鴨肉食損人。同芥子食，生惡瘡。同莧菜食，令腹中成肉鱉，害人。不可同桃子、鴨子、雞子食。《禮記》云：食鱉去醜，謂頸下有軟骨如龜形，食之令人患水病。有冷氣癥瘕人，不宜食之。凡鱉三足者、赤足者、獨目者、頭足不縮者、目四陷者、腹下有王字形十字文者、腹有蛇紋者、目白者、山上生者名旱鱉，並有毒，食之殺人。夏天亦有蛇化者，食須慎之。妊婦食之，令子短項。薄荷煮鱉能害人。鱉無耳，以目為聽。純雌無雄，以蛇黿為匹，故燒黿脂可以致鱉。遇蚊叮則死，得蚊煮則爛。熏蚊者，又用鱉甲，物相報復如此。鼉一鳴而鱉伏，性相制也。池中有鱉，魚不能飛。其膽味辛辣，破入湯中，可代椒而闢腥。其性畏蔥及桑灰。甲無裙而頭足不縮者，名曰納鱉。有毒，食之令人昏塞。以吳藍煎湯，服之立解。甲亦有毒。三足者名曰能鱉，有大毒，誤食殺人。</p>
<p><u>龜肉</u>　味酸性溫。此物神靈，不可輕殺。六甲日十二月俱不可食，損人神。同豬肉、菰米、瓜莧食，害人神。龜版當心前一處四方透明，如琥珀色者佳。頭方腳短殼圓版白為陽。頭尖腳長殼長版黃為陰。其息以耳，腸屬於首，雌雄尾交，亦與蛇匹。龜老則神，年至八百，反大如錢。龜聞鐵聲則伏，蚊噆則死。香油抹眼，入水不沉。老桑煮之易爛。龜尿磨瓷器，能令軟。磨墨書石，能入數分。取龜尿，以豬鬃或松葉刺其鼻即出。金線綠毛龜置書笥闢蠹。呷蛇龜甲肉俱毒，不可食之。</p>
<p><u>黿肉</u>　味甘性平，微毒。裂而懸之，一夜便覺垂長至地，聞人聲則收。腸屬於首，以鱉為雌，其脂摩鐵則明，老能變魅。非急弗食之。</p>
<p><u>螃蟹</u>　味甘鹹，性寒，有小毒。多食動風發霍亂，風疾人不可食。妊婦食之損胎，令子頭短及橫生。不可同橘棗荊芥食，同柿食令成冷積腹痛，服木香汁可解。未經霜蟹有毒。腹中有蟲如小木鱉子而白者，不可食。大能發風。有獨螯、獨目、四足、六足、兩目相向、腹下有毛、殼中有骨、頭背有黑點、足斑、目赤者，並有毒，不可食。中其毒者，服冬瓜汁、豉汁、紫蘇汁、蒜汁、蘆根汁皆可解之。糟蟹罐上放皂莢半錠，可久留不壞。罐底入炭一塊，不沙。見燈易沙。得椒易䐈，得皂莢或蒜及韶粉可免沙䐈。得白芷則黃不散。得蔥及五味子同煮，則色不變。其黃能化漆為水，其螯燒煙，可集鼠。蟚蜞有毒，食多發吐痢。又有劍蟹之類，並有毒，不可食。雄者臍長，雌者臍圓，腹中之黃，隨月盈虧。流水生者，色黃而腥，止水生者，色紺而馨。</p>
<p><u>蚌肉</u>　味甘鹹，性冷。多食發風動冷氣，馬刀肉有毒。</p>
<p><u>蜆肉</u>　味甘鹹，性冷，微毒。多食發嗽及冷氣消腎。</p>
<p><u>蛤蜊</u>　味鹹性冷。與丹石人相反。食之令腹結痛，以枇杷核同煮脫丁。</p>
<p><u>蟶肉</u>　味甘性溫。天行病後，不可食之。</p>
<p><u>蚶肉</u>　味甘，性微溫。多食令人壅氣，同飯食不口乾。車渠蓋瓦壟之，大者作杯，注酒滿過一分不溢。</p>
<p><u>淡菜</u>　味甘性溫。多食令頭目昏悶。得微利可已。久食脫人發。服丹石人食之，令腸結。燒食即苦，不宜人。以少米先煮熟後去毛，再入蘿蔔。或紫蘇、或冬瓜同煮，尤佳。</p>
<p><u>田螺</u>　味甘，性大寒。其肉視月盈虧，有冷積人勿食。小者名螺螄，性味相同。清明後其中有蟲，不可食用也。細長者名海螄，味鹹性寒，肉綠色。</p>
<p><u>鱟魚</u>　味辛鹹，性平，微毒。多食令咳嗽，發瘡癬。其行雌常負雄，失雌，雄即不動，取必雙得。其血碧色，尾有珠如粟。燒脂可以集鼠，蚊螫即死。小者名曰鬼鱟，食之害人。</p>
<p><u>海䖳</u>　味鹹性溫，即海蜇。無口眼腹翅，塊然一物，以蝦為目，蝦去則住。浸以石灰礬水則色白。</p>
<p><u>鰕肉</u>　味甘鹹，性溫，有小毒。多食動風助火，發瘡疾。有病人及患冷積者勿食。小兒食之，令腳弱。雞犬食之，亦令腳屈弱。生水田溝渠中者有毒，切勿以熱飯盛密器內作鮓食，毒人至死。鰕無須者、腹下通黑及煮熟色變白者，並有毒，不可食。勿與鹿麞肉、豬肉、雞肉同食。妊婦食之，令子難產。</p>
<p><u>海鰕</u>　味甘鹹，性平，有小毒。同豬肉食，令人多唾。閩中有五色鰕，長尺余，曝乾為對鰕，功用相同。</p>
<p><u>蛙</u>　味甘性寒，即田雞。其骨熱食之，令小便淋。妊婦食之，令子聲啞壽夭。小蛙食多，令人尿閉，臍下痠痛。有至死者，擂車前水，飲可解。正月出者名黃蛤，不可食。漁人多以蟾蜍去皮偽充，有毒勿食。</p>
<p><u>海參</u>　味甘鹹，性寒滑。患泄瀉痢下者勿食。</p>
<p><u>燕窩</u>　味甘性平。黃黑黴爛者有毒，勿食。</p>
<p><u>牡蠣肉</u>　味甘性溫。俗呼鮑魚。海牡蠣可用，丈夫服之，令人無髭。</p>
<p><u>鼉肉</u>　味甘，性溫，有小毒。食之發冷氣痼疾。此物有靈，不可食之。其涎最毒，身具十二生肖肉，唯蛇肉在尾，最毒。</p>
<p><u>鯪鯉肉</u>　味甘澀，性溫，有毒。即穿山甲。其肉最動風，風疾人才食數臠，其疾一發，四肢頓廢。</p>
<p><u>蚺蛇肉</u>　味甘，性溫，有小毒。四月勿食。其膾著醋，能卷人筋，唯以芒草作箸乃可。</p>
<p><u>諸魚有毒</u>　魚目有睫、目能開合、二目不同，逆腮、全腮、無腮、白鬐、腦白連珠，腹下丹字形、形狀異常者，並有毒，食之殺人。凡一切無鱗魚皆有毒，宜少食之。妊婦食之，並難產育，令子多疾也。</p>
<p>紫荊花入魚羹中，食之殺人。</p>
<p><u>解諸魚毒</u>　黑豆汁、馬鞭草汁、橘皮、大黃、蘆根汁、朴硝湯飲之皆可解。凡中鰍、鱓、鰕、鱉、蝦蟆毒，令臍下痛，小便秘，用豆豉一合，煎濃汁頻飲之可解。</p>
<p><u>收藏銀魚鮆魚</u>　以干豬草一處，不變色味。藏白鯗，以干稻柴同包。凡洗□魚，滴生油數點，則無涎，煮時下沒藥少許，則不腥。</p>

<h1>卷七</h1>

<h2>禽類</h2>
<p><u>鵝肉</u>　味甘性寒，蒼鵝性冷有毒，嫩鵝有毒。多食令人霍亂，發痼疾，生瘡疥。患腫毒者勿食。火熏者尤毒。虛火咳嗽者勿食。鵝血味鹹微毒。鵝卵味甘性溫，多食鵝卵，發痼疾。煮鵝下櫻桃葉數片，易軟。</p>
<p><u>鴨肉</u>　味甘性寒，黑鴨有毒。滑中發冷利，患腳氣人忌食之。新鴨有毒，以其多食蚯蚓等蟲也。目白者殺人。腸風下血人不可食鴨。鴨血味鹹性冷，解諸藥毒。鴨卵味甘鹹，性微寒。多食發冷氣，令人氣短背悶。妊婦多食，令子失音，且生蟲。小兒多食，令腳軟。患瘡毒人食之，令惡肉突出。不可合鱉肉、李子食，害人。合桑椹食，令妊婦生子不順。過食鴨肉所傷成瘕者，以糯米泔溫服一二盞，漸消。</p>
<p><u>雞肉</u>　味甘酸，性微溫。善發風助肝火。同葫蒜芥李及兔犬肝犬腎食，並令人瀉痢。同魚汁食，成心瘕。同鯉魚、鯽魚、蝦子食成癰癤。同獺肉食，成遁屍病。同生蔥食，成蟲痔。同糯米食，生蝤蟲。小兒食多，腹內生蟲，五歲以下忌食。四月勿食抱雞肉，令人作癰成漏。男女虛乏有風病人食之，無不立發。勿同野雞、鱉肉食。黃雌雞患骨蒸熱者，勿食。雞有五色者、元雞白首者、六指者、四距者、雞死足不伸者、閹雞能啼者，並有毒，食之害人。老雞頭有毒，勿食。雞肝味甘苦，性溫，微毒。《內則》云：食雞去肝，為不利人。雞卵味甘性平，微寒。多食令腹中有聲，動風氣。同蔥蒜食，令氣短。同韭食，成風痛。同鱉肉食，損人。同獺肉食，成遁屍病。同兔肉食，成瀉痢。妊婦多食，令子失音。以雞子、鯉魚同食，令兒生瘡。同糯米食，令兒生寸白蟲。同魚膾、同乾薑食，令子生疳，發瘡疥。小兒患痘疹者，不唯忌食，禁嗅其煎食之氣。恐生翳膜也。醋能解蛋毒，過食蛋傷，紫蘇子能消。人踏抱出雞子殼，令生白癜風。</p>
<p><u>野鴨</u>　味甘性涼。不可同胡桃、木耳、豆豉食。</p>
<p><u>野雞</u>　味酸甘，性微寒，春夏有小毒。患痢人不可食。久食令人瘦，發五痔諸瘡疥。同蕎麥麵食，生肥蟲。同菌蕈、木耳食，發五痔，立下血。同胡桃食，發頭風眩暈及心痛，損多益少，不可常食。卵同蔥食，生寸白蟲。同家雞食，成遁屍病。自死爪甲不伸者，食之殺人。不可與鹿肉、豬肝、鯽魚、鮎魚、回魚同食。</p>
<p><u>鵓鵒肉</u>　味甘鹹，性平。食多減一切藥力，其血解百藥蠱毒。不可與麞肉同食。</p>
<p><u>雀肉</u>　味甘性溫。勿同豬肝及李食。妊婦食雀肉飲酒，令子多淫。多食雀腦，動胎氣，令子雀目。同豆醬食，令子面皯。服術人忌之。</p>
<p><u>鶉肉</u>　味甘性平。不可同豬肝食，令人生黑子。同木耳、菌子食，令人發痔。鶉毛有斑點，善搏鬥。始由蝦蟆黃魚所化，終以卵生，四時常有。鵪肉與鶉性味相同，形亦相似，但色黑無斑。始由鼠化，終復為鼠。夏有冬無，今通呼為鵪鶉也。</p>
<p><u>鷓鴣肉</u>　味甘性溫。不可與竹筍同食，令人小腹脹。或言此鳥天地之神，每月取一隻饗至尊，所以自死者，不可食。其鳥飛必南翅。</p>
<p><u>雁肉</u>　味甘性平。七月勿食，傷人神。道家謂之天厭，不食為妙。久食動氣。《禮記》云：食雁去腎，不利人也。</p>
<p><u>鵽鳩肉</u>　味甘性熱。即突厥雀。形似雌雉，鼠腳無後趾，岐尾，憨急群飛，雌前雄後。</p>
<p><u>鸐雉肉</u>　味甘性平，有小毒。多食令人瘦，發五痔。同蕎麥麵食，生肥蟲。同豆豉食，害人。卵同蔥食，生寸白蟲。一名山雞。山雞有四種：似雉而尾長三四尺者，為鸐雉。似鸐而尾長五六尺，能走且鳴者，為鷮雉，俗通呼鸐矣。似鸐而小，首有采毛，為鵔鸃。似雉而腹有采色，為錦雞，俗通呼為錦雞矣。又有吐綬雞，每春夏晴明，徐舒頷下錦綬，文采煥爛，斂即不見，養之並闢火災，食之有毒。</p>
<p><u>鶡雞肉</u>　味甘性平。初病後勿食。鶡氣猛，鬥期必死。</p>
<p><u>白鷳肉</u>　味甘性平。患瘡癤者勿食。黑鷳氣味相同。</p>
<p><u>竹雞肉</u>　味甘性平，即泥滑滑。諺云：家有竹雞啼，白蟻化為泥。亦闢壁蝨。</p>
<p><u>英雞肉</u>　味甘性溫。常食石英，秋月即無。</p>
<p><u>黃褐侯肉</u>　味甘性平，即青佳。多食發喉痹，用生薑可解。</p>
<p><u>桑鳸肉</u>　味甘性溫，即蠟嘴。初病後勿食。</p>
<p><u>鸜鵒肉</u>　味甘性平，即八哥。天寒欲雪，即群飛如告。鸜鵒不逾濟，地氣使然也。</p>
<p><u>烏鴉肉</u>　味酸澀，性平。羶臭不可食，肉及卵食之，令人昏志。</p>
<p><u>喜鵲肉</u>　味甘性寒。婦人不可食。</p>
<p><u>燕肉</u>　味酸性平，有毒。不可食，損人神氣。不宜殺之。嗜燕人入水，為蛟龍所吞。燕作窩，長能容二匹絹者，令人家富也。窩穴北向，尾屈色白者，是數百歲燕。《仙經》謂之肉芝。</p>
<p><u>刺毛鶯肉</u>　味甘性平。有瘡疥者少食。</p>
<p><u>孔雀肉</u>　味鹹性涼，微毒。食其肉者，自後服藥必不效，為其解毒也。尾有毒，不可入目，令人昏翳。</p>
<p><u>鶚</u>　即魚鷹。能啖蛇。其肉腥惡，不可食。</p>
<p><u>鴟腦</u>　有毒。同酒食，令人久醉健忘。</p>
<p><u>鶴肉</u>　有毒，頂血飲之立死。性喜食蛇，蛇聞聲而遠去，人家畜之，以闢蛇。</p>
<p><u>鸛肉</u>　有毒，不可食。其骨入沐湯浴頭，令發盡脫，更不生也。又能殺樹木。鸛生三子，一為鶴，巽極成震，陰變陽也。</p>
<p><u>鴛鴦肉</u>　味鹹性平，有小毒。多食令人患大風病。</p>
<p><u>鸕鷀肉</u>　味酸鹹，性冷，微毒。即水老鴉。凡魚骨梗者，密念鸕鷀不已，即下。妊婦食之，令逆生。</p>
<p><u>貓頭鷹</u>　夜勿煮炙，能引鬼魅。</p>
<p><u>諸鳥有毒</u>　凡鳥自死自閉、自死足不伸，白鳥元首、元鳥白首、三足、六指、異形異色、四翼、肝色青者、野禽生卵有八字形者，並有毒，食之殺人。</p>

<h1>卷八</h1>

<h2>獸類</h2>
<p><u>豬肉</u>　味苦，性微寒，有小毒。牡曰豭，牝曰彘，子曰豚，牡而去勢曰豶。生江南者，謂之江豬，唯豭肉無毒。多食閉血脈，弱筋骨，虛人肌。疫病者、金瘡者，尤宜忌之。久食令人少子傷精，發宿疾。豚肉久食，令人遍體筋肉碎痛乏氣。江豬多食令人體重，作脯少有腥氣。久食解藥力，動氣發疾。傷寒、瘧痢、痰痼、痔漏諸疾，食之必再發，難愈。反梅子、烏梅、桔梗、黃連，犯之令人瀉痢。服胡黃連食之，令人漏精。服甘草者忌之。同牛肉食，生寸白蟲。同兔肉食損人。同羊肝、同雞子、同鯽魚及黃豆食，令人滯氣。同葵菜食，令人少氣。同蕎麥麵食，患熱風，脫須、眉毛、發。同生姜食，生面斑發風。同胡荽食，爛人臍。同蒼耳食，動風氣。同百花菜、同吳茱萸食，發痔瘻。同龜鱉肉、麋鹿驢馬肉、蝦子食，傷人。多食令人暴肥，蓋虛風所致也。頭肉有毒，多食動風發疾，豬肉毒在首，故有病者忌之。項肉俗名槽頭肉，肥脆能動風。脂膏勿令中水，臘月者歷年不壞。反烏梅、梅子，忌乾漆。腦味甘，性寒，有毒。《禮記》云：食豚去腦，能損男子陽道，臨房不能行事，酒後尤不可食。今人以鹽酒食豬腦，是引賊入室也。血味鹹性平，服地黃、補骨脂、何首烏諸補藥者忌之，能損陽也。同黃豆食，滯氣。心味甘鹹性平，多食耗心氣，不可合吳茱萸食。肝味苦性溫，豬臨殺驚氣入心，絕氣歸肝，俱不可多食。服藥人勿食。不可合雉肉、雀肉及同魚膾食，生癰疽。同鯉魚、鯽魚食，傷神。同鵪鶉食，生面黚。肺味甘，性微寒。同白花菜食，令人氣滯發霍亂。八月和飴食，至冬發疽。腎味鹹性冷，即腰子。久食令人傷腎少子。虛寒者尤忌。冬月食之，損真氣，發虛壅。𦚠脂微毒，男子多食損陽。豬鼻唇多食動風氣。凡花豬、病豬、白蹄豬、自死豬、煮汁黃者為黃鑣豬、肉中有米星為□□，俱不可食。燒肉忌桑柴。凡煮肉同皂莢子、桑白皮、高良薑、黃蠟不發風氣。得舊籬筏易熟。煮肉封鍋，入楮實子二三十粒，易爛且香。夏天用醋煮肉，可留數日。煮臘肉將熟。以紅炭投鍋內，則不油薟氣。洗豬肚用面，洗腸臟用砂糖，能去穢氣。中病豬毒，燒豬屎為末，水服錢許，三次可瘥。過食豬肉傷，燒豬骨為末，水服。或服芫荽汁、生韭汁，或加草果可消。煮硬肉入山楂數顆，易爛。</p>
<p><u>羊肉</u>　味甘性熱。反半夏、菖蒲。同蕎麥麵、豆醬食。發痼疾。同醋食，傷人心。同鮓鱠酪食，害人。熱病、疫證、瘧疾病後食之，復發致危。妊婦食之，令子多熱病。頭蹄肉味甘性平。水腫人食之，百不一愈。冷病人勿多食。妊婦食羊目，令子睛白。血味鹹性平。凡豬羊血食久，鼻中毛出，晝夜長五寸，漸如繩，痛不可忍，摘去復生。唯用乳石、硇砂等分為丸，臨臥服十丸，自落也。服丹石人忌食羊血，十年一食，前功盡亡。服地黃、何首烏諸補藥者忌之。能解胡蔓草毒。腦有毒，食之發風病。和酒服迷人心，成風疾。男子食之，損精氣少子。白羊黑頭，食其腦，作腸癰。羊心有孔者勿食，能殺人。羊肺三月至五月其中有蟲，狀如馬尾，長二三寸，須去之。不去食之，令人痢下。肝味苦性寒。同豬肉及梅子、小豆食，傷人心同生椒食，傷人五臟，最損小兒。同苦筍食，病青盲。妊婦食之，令子多厄。羊䐗和飯飲久食，令人多唾清水，成反胃，作噎病。凡煮羊肉用杏仁或瓦片，則易爛。同胡桃及萊菔煮，不臊。同竹䶉煮，助味。以銅器煮食，男子損陽，女子暴下。白羊黑頭、黑羊白頭、獨角者，並有毒，食之生癰。中羊肉毒者，飲甘草湯解之。過食羊肉傷者，多食棗子、草果可消。</p>
<p><u>黃牛肉</u>　味甘性溫，微毒。食之發藥毒　能病人。牛夜鳴則㾞，臭不可食。牛病自死者，血脈已絕，骨髓已竭，不可食之。誤食令人生疔暴亡，發痼疾、痃癖、洞下、疰病。瘟牛暴死者，不可食。獨肝者有大毒，令人痢血至死。北人牛瘦，多以蛇從鼻灌，故爾獨肝。水牛則無之，啖蛇牛毛髮白而後順者，是也。人乳可解其毒。自死白首者，食之殺人。疥牛食之發癢。黃牛、水牛合豬肉及黍米酒食，並生寸白蟲。同韭薤食、合生姜食，損齒。勿同栗子食。黑牛白頭者大毒，勿食。水牛肉味甘性平，忌同黃牛。患冷人勿食。蹄中巨筋，多食令生肉刺。牛乳味甘性微寒，生飲令人利，熱飲令人口乾氣壅，溫飲可也。不宜頓服。與酸物相反，令人腹中癥結。患冷氣人勿食。同魚食成積，同醋食生瘕。牛脂味甘溫微毒，多食發痼疾瘡瘍。牛腦味甘性溫，微毒。熱病死者，勿食其腦，令生腸癰。牛肝勿同鮎魚食，患風噎涎青。牛腸胃合犬肉、犬血食，病人。服仙茅者食牛肉、牛乳，令斑人鬢髮。服牛膝人，亦忌食之。凡煮牛肉入杏仁蘆葉，則易爛。煮病牛入黃豆，豆變黑色者，殺人。中疔疥牛毒，用澤蘭根，或甘菊根汁，或豬牙灰水服，或生菖蒲擂酒，或甘草湯解之。豬脂化湯，亦可解毒。過食牛肉所傷，以稻草和草果煎濃湯，多服可消。牛乃有功於世，仁人君子，必宜戒食。</p>
<p><u>狗肉</u>　味酸鹹，性溫。服食人忌食。九月食犬傷神。反商陸。同生蔥蒜食，損人。同菱食，生癲。白犬合海鮋食，必得惡病。勿炙食，令消渴。妊婦食之，令子無聲，且生蟲。疫證及熱病後食之，殺人。勿同鯉魚，鱓魚、牛腸食，令人多病。春末夏初多猘犬，宜忌食。瘦犬、有病、發狂、暴死、無故自死者，有毒殺人。懸蹄犬傷人赤股而躁者、氣躁犬目赤者，並不可食。白狗血和白雞肉、烏雞肉、白雞肝、白羊肉、蒲子羹等食，皆病人。白犬乳酒服，能斷酒。犬腎微毒，《內則》云：食犬去腎，不利人也。田犬長喙善獵。吠犬短喙善守。白犬虎紋、黑犬白耳，畜之家富貴。純白者主凶，斑青者識盜而咬。凡食犬肉傷，用杏仁二三兩，帶皮研細，熱湯二三盞拌勻，三次服。能使肉盡消。犬智甚巧，力能護家，食之無益，何必嗜之。</p>
<p><u>馬肉</u>　味辛苦，性冷，有毒。同倉米、稷米及蒼耳食，必得惡病，十有九死。同姜食，發氣嗽。同豬肉食，成霍亂。患疥瘡下痢者，食必加劇。妊婦食之，令子過月難產。乳婦食之，令子疳瘦。馬生角、無夜眼、白馬青蹄、白馬黑頭者，並不可食，令人癲。馬鞍下肉色黑，及馬自死者、形色異常者，並有毒，食之殺人。馬乳味甘性冷利，同魚鱠食，作瘕。馬肝及鞍下肉有大毒，食之殺人。刷牙用馬尾，令齒疏損。近人多用燒灰揩拭，最腐齒齦。馬腦有毒，食之令人發癲。馬血有大毒，生馬血入人肉中，一二日便腫起，連心即死。有人剝馬傷手，血入肉一夜致死。馬肉上血洗不淨，食之生疔腫。馬汗有大毒，患瘡人觸馬汗、馬氣、馬毛、馬尿、馬屎並令加劇。馬汗入瘡，毒攻心欲死者，燒粟干灰淋汁浸洗，出白沫乃毒去也。食馬肉毒發而心悶者，飲清酒則解。飲濁酒則加，或飲蘆根汁、或嚼杏仁、或煎甘草湯解之。中馬肝毒者，豬骨灰、牡鼠屎、豆豉、狗屎灰、人頭垢並水服可解。中疔疥馬毒者，澤蘭根汁、豬牙灰、甘菊根汁俱水服，或生菖蒲酒解之。馬食杜蘅善走，食稻足重，食鼠屎腹脹，食雞糞生骨眼。以殭蠶、烏梅拭牙，則不食，得桑葉乃解。掛鼠狼皮於槽，亦不食。遇死馬骨，則不行。以豬槽飼馬、石灰泥馬槽、馬汗著門並令馬落駒。系獼猴於廄，闢馬病。馬頭骨埋於午地，宜蠶。浸於上流，絕水蜞蟲。</p>
<p><u>驢肉</u>　味甘性平。與荊芥茶相反，同食殺人。同鳧茈食，令人筋急。多食動風，脂肥尤甚。屢試屢驗。凡驢無故自死者、疫死者、力乏病死者並有毒，忌食。疥癩及破爛瘦捐者，食之生疔腫。將熱驢血和麻油一盞，攪去沫，煮熟成白色，亦一異也。妊婦食之，令子難產。勿同豬肉食，傷氣。</p>
<p><u>騾肉</u>　味辛苦，性溫，有小毒。其性頑劣，肉不益人。多食令人健忘。妊婦食之難產。騾大於驢，而健於馬，其力在腰，其後有鎖骨不能開，故不孳乳。牡驢交馬而生者騾也。牡馬交驢而生者為駃騠。牡驢交牛而生者，為馲𩢷。牡牛交驢而生者，為䮰𩥃。牡牛交馬而生者，為驅驉。今俗通呼為騾矣。</p>
<p><u>鹿肉</u>　味甘性溫。二月至八月不可食，發冷痛。白臆者、豹文者並不可食。鹿肉脯炙之不動、及見水而動、或曝之不燥者並殺人。同雉肉、蒲白、鮠魚、鮎魚、雞肉、生菜、鯽魚、鰕食，發惡瘡。《禮記》云：食鹿去胃，鹿茸不可以鼻嗅之，中有小白蟲，視之不見，入人鼻必為蟲顙，藥不及也。不可近丈夫陰，令痿。鹿脂亦不可近陰。久食鹿肉，服藥必不得力，為其食解毒之草故也。勿同豬肉食。</p>
<p><u>麋肉</u>　味甘性溫。多食令人弱房，髮腳氣。妊婦食之，令子目病。不可合豬肉、雉肉、鮠魚、雞肉、菰蒲食，發痼疾。同蝦及生菜、梅、李食，損男子精氣。麋脂不可近陰，令痿。亦不可同桃李食。淮南子云：孕婦見麋，生子四目。</p>
<p><u>虎肉</u>　味酸，作土氣，性熱。正月食虎傷神。熱食虎肉，傷人齒。多有藥箭傷者，食者慎之。虎鼻懸門中，次年取熬作屑，與婦食之，便生貴子。勿令人及婦知，知則不靈。虎豹皮上睡，令人神驚。其毛入瘡有大毒。虎骨勿用中毒藥箭者，能傷人也。虎夜視，一目放光，一目看物。聲吼如雷，風從而生，百獸震恐。立秋始嘯，仲冬始交，虎不再交。孕七月而生，虎生三子，一為豹。其搏物三躍不中，則捨之。食狗則醉，聞羊角煙則走，惡其臭也。虎害人獸，而蝟鼠能制之。智無大小也。</p>
<p><u>豹肉</u>　味酸，性微溫。正月勿食，傷神損壽。豹肉令人志性粗豪，食之便覺，少頃消化乃定，久食亦然。豹脂合生發藥，朝塗暮生。廣西南界有唼臘蟲，食死人屍，不可驅逐，以豹皮覆之，則畏而不來。</p>
<p><u>野豬肉</u>　味甘性平。多食微動風疾，不可同回魚、鮎魚食。青蹄者不可食，服巴豆藥者忌之。嶺南一種懶婦，似山豬而小，善害田禾。唯以機軸紡織之器，置田所，則不復近也。</p>
<p><u>豪豬肉</u>　味甘，性大寒，有毒。不可多食，發風令人虛羸，助濕冷病。</p>
<p><u>駝肉及峰脂</u>　味甘性溫。能知泉源水脈風候，凡伏流人所不知，駝以足踏處，即得之。流沙夏多熱風，行旅遇之即死。風將至，駝必聚鳴，埋口鼻於沙中，人以為驗也。其臥而腹不著地，屈足露明者，名明駝，最能行遠。駝糞亦直上如狼煙。駝黃味苦性平，微毒。似牛黃而不香，戎人以亂牛黃，而功不及之。</p>
<p><u>熊肉</u>　味甘性平。十月食之傷神。患寒熱積聚痼疾者食之，令終身不除也。熊脂味甘，性微寒。寒月則有，夏月則無之。然燈煙損人眼，令失光明。熊掌難腝，得酒醋水三件同煮熟，即大如皮毬，且易軟也。熊膽春近首，夏在腹，秋在左足，冬在右足。熊行山中，必有跧伏之所，謂之熊館。性惡穢物及傷殘，捕者置此物於穴，則合穴自死。或為棘刺所傷，出穴爪之至骨，即斃也。</p>
<p><u>山羊肉</u>　味甘性熱。疫病後忌食。妊娠食之，令子多病，肝尤忌之。</p>
<p><u>羚羊肉</u>　味甘性平。其角能碎佛牙、貘骨、金剛石。燒煙走蛇虺也。</p>
<p><u>麂肉</u>　味甘性平。多食發痼疾。妊婦食之，令胎墮。</p>
<p><u>麞肉</u>　味甘性溫。十二月至七月食之動氣，多食發消渴及痼疾，瘦惡者勿食。同鴿食成瘕，同梅李、生菜、蝦食，並能病人。凡人心膽粗豪者，以其心肝食之，即減，膽小者食之，愈怯。</p>
<p><u>香麞肉</u>　味甘性溫。蠻人食之，不畏蛇毒。臍名麝香。忌大蒜。麝不可近鼻，有白蟲入腦，患癩。久帶其香透關，令人成異疾。能墮胎，消瓜果食積，闢蛇。</p>
<p><u>豬獾肉</u>　味甘酸，性平。其耳聾，見人乃走，能孔地食蟲蟻瓜果。其肉帶土氣。狗獾性味與貒相同，貒即豬獾。</p>
<p><u>兔肉</u>　味甘辛，性寒。同白雞肉及肝心食，令人面黃。同獺肉食，成遁屍病。與姜橘同食，令人心痛霍亂。忌同鹿肉、鱉肉、芥菜及子末食。十一月至七月食之，傷神氣。兔死而眼合者殺人。食兔髕，多令人面生髕骨。《內則》云：食兔去尻，不利人也。妊婦不可食，令子缺唇，主逆生。兔尻有孔，子從口出，故妊婦忌之，非獨為缺唇也。久食絕人血脈，損元氣陽事，令人痿黃。兔肝亦勿與雞芥、胡桃、柑橘同食。</p>
<p><u>山獺肉</u>　不宜食。其陰莖為補助要藥，骨解藥毒，研少許敷之立消。</p>
<p><u>水獺肉</u>　味甘鹹，性寒。多食消男子陽氣。勿同橙橘、雞肉、雞子、兔肉食。其肝有毒。諸畜肝皆有定數，唯獺肝一月一葉，十二月十二葉，其間又有退葉。或云獱獺無雌，以猨為匹，故猿鳴而獺候。</p>
<p><u>象肉</u>　味甘淡，性平。多食令人體重。象具百獸肉，唯鼻是其本肉。象膽幹了，上有竹文斑光膩。春在前左腿，夏在前右腿，秋在後左腿，冬在後右腿。牙近鼠類，鼠皮則裂。世人知然犀可見水怪，而不知沉象可驅水怪。夏月合藥，宜置象牙於傍。合丹灶以象牙夾灶，得雷聲乃能發光。</p>
<p><u>豺肉</u>　味酸性熱，有毒。食之損人精神，消人脂肉，令人瘦。</p>
<p><u>狼肉</u>　味酸性熱。《內則》云：食狼去腸，不利人也。其糞燒煙直上。</p>
<p><u>狐肉</u>　味甘性溫，有小毒。《禮記》云：食狐去首，為害人也。人卒暴亡，即取雄狐膽，溫水研灌，入喉即活。移時者無及矣。</p>
<p><u>貍肉</u>　味甘性溫。正月勿食，傷神。反藜蘆、細辛。食貍去正脊，不利於人。貍類甚多，性味相同。</p>
<p><u>家貓肉</u>　味甘酸，性溫。肉味不佳，亦不入食品。畜之者以虎形利齒，尾長腰短，目如金銀，上齶多稜者為良。其睛可定時辰，子午卯酉如一線，寅申巳亥如滿月，辰戌丑未如棗核也。其鼻端常冷，唯夏至一日則暖。性畏寒，不畏暑，能畫地卜食，隨月旬上下齧鼠，其孕兩月而生。貓有病，以烏藥水灌之，可愈也。</p>
<p><u>貉肉</u>　味甘性溫。貉逾汶即死，土氣使然也。其耳亦聾，與獾貒性味相同。</p>
<p><u>野馬肉</u>　味甘性平，有小毒。食之無益。如家馬肉，但落地不沾沙耳。</p>
<p><u>犀肉</u>　味苦酸鹹，性寒。妊婦勿服。能消胎氣。凡蠱毒之鄉，飲食中以角攪之，有毒則生白沫，以之煮毒藥，則無毒也。忌鹽。</p>
<p><u>老鼠肉</u>　味甘性熱。誤食鼠骨，能令人瘦。鼠涎有毒，若飲食收藏不密，涎墜其中，食之令人生鼠瘻，或發黃如金。鼠糞有小毒，食中誤食，令人目黃成疸。被鼠食殘之物，人忌食之。</p>
<p><u>土撥鼠肉</u>　味甘性平。雖肥而煮之無油味。多食難克化，微動風。</p>
<p><u>貂鼠肉</u>　味甘性平。其毛皮寒月服之，得風更暖，著水不濡，得雪即消，拂面如焰。塵沙迷目，拭眯即出。近火則毛易脫。</p>
<p><u>黃鼠肉</u>　味甘性平。昔為上供，今不甚重之。多食能發瘡。</p>
<p><u>黃鼠狼肉</u>　味甘羶臭，性溫，有小毒。不堪食。</p>
<p><u>蝟肉</u>　味甘性平。誤食其骨，令人瘦劣。諸節漸小。</p>
<p><u>諸肉有毒</u>　六畜自死首北向、諸畜帶龍形、六畜自死口不閉、六畜疫病疔疥死、獸歧尾、諸獸赤足、諸畜肉中有米星、獸並頭、禽獸肝青、諸獸中毒及藥箭死、脯沾屋漏、米甕中肉脯、六畜肉熱血不斷、祭肉自動、諸肉經宿未煮、六畜五臟著草自動、脯嚗不燥、生肉不斂水、六畜肉得咸酢不變色、肉煮熟不斂水、肉煮不熟、六畜肉墮地不沾塵、肉落水浮、肉汁器盛閉氣，乳酪煎膾、六畜肉與犬不食者，以上並不可食，殺人。輕則病人，生癰腫疔毒。諸腦損陽滑精。經夏臭脯痿人陰，成水病。諸脂然燈損目。食本生命肉，令人神魂不安。春不食肝，夏不食心，秋不食肺，冬不食腎，四季不食脾。</p>
<p><u>解諸肉毒</u>　伏龍肝末、本畜干屎末、黃柏末、赤小豆燒末、東壁土末、頭垢一錢起死人，白扁豆末並水服。飲人乳汁，豆豉汁服之，亦能解之。藥箭毒，以大豆煎汁或鹽湯。食肉不消，還飲本汁，或食本獸腦即消。</p>
