<header data-type="book">
<h1>醫經國小</h1>
</header>
<h2>序</h2>
<p>嘗謂吳陵劉氏純所輯玉機微義以發明之。復采集名論為初教之資也。並刻之。名曰醫經國小。以傳其書。首本草。次脈訣。次經絡。次病機。次治法。次運氣。凡六卷。一本於素問靈樞難經。及張仲景王叔和至近代劉守真張潔古李明之朱仲修諸家之書。撮其切要。綴為韻語。類粹。以便初學。本末條理。明切簡備。醫學之指南。而端本之書也。凡善學人。皆務本。況醫人之司命其可昧本而苟乎哉。學醫者誠能熟究是編。融會於心。將所行皆正途。所用皆正法。觸類長之。於幾歲十全何有哉。此書非劉氏莫之為。非陳公亦莫之傳。學醫之幸。生民之幸也。純字宗濃。吳陵人。其父叔淵。仲修之高弟。授受有自云。</p>
<p><u>正統三年己未歲九月甲子光祿大夫柱國少師兵部尚書兼華蓋殿大學士國史總裁同知經筵<br>事廬陵楊士奇序</u></p>
<p>醫意也。臨病立意以施治也。其書內經載運氣病源靡不悉備。候天地之變。究疾病之機。盡調治之理。此神聖愛人之仁。拯羸救枉濟物之至道也。醫道斯立。秦越人演其精義述難經。</p>
<p>漢張仲景論傷寒。用藥定方。晉王叔和集次及撰脈經以示後學。意亦至哉。經去聖遠。遺文錯簡。後學專方而惑意。幸唐太仆令王冰重整其義。啟大法之幽玄。釋神運之奧妙。析理於至真之中。俾學人遇諸審脈。用藥去病。根本無貶損醫之道明矣。而其為法。制勝伐其勢。</p>
<p>資化助其生。扶危定亂之功。本諸經論。知氣識病。治理得焉。嗟乎學必本於經。病必明於論。治必究於方。而能變通而無滯斯能盡夫立醫之意矣。昔丹溪朱先生。以醫鳴江東。家君親從之游。領其心授。純度。竊以先生之旨。輯其醫之可法。本諸經論之精微。節目更為定次。歌語引例具圖以便記習。至於脈訣之未備者。亦為增正。名曰醫經國小。蓋欲初學人。</p>
<p>得以因流尋源而不蹈夫他歧之惑。有志於古神聖愛人濟物之道者。其無誚愚以管窺而蠡測。或有未至。矜其志而加正焉。則不惟醫道之幸。亦斯民之幸也。</p>
<p><u>洪武二十一年冬十一月朔日吳陵劉純序。</u></p>
<h2>醫之可法為問</h2>
<p>李東垣先生曰。自伏羲神農黃帝而下。名醫雖多。所可法者有幾人哉。至於華氏之剖腹。王氏之針妖。朮非不神也。後人安得而仿之。非若岐伯之聖經。雷公之炮炙。伊芳摯之湯液。箕子之洪范。越人之問難。仲景之傷寒。叔和之脈訣。士安之甲乙。啟玄子之傳注。錢仲陽之論議。潔古之方書。皆活法所可學人。豈千方萬論。印定後人眼目者所能比哉。其間德高行遠。奇才異士。與夫居縉紳。隱草野者。雖有一節一法之可觀。非百代可行之活法。皆所不取也。予豈好辨哉。欲使學人觀此數聖賢。而知所向慕而已。或有人焉。徒知廣覽泛誦。自以為多學。而用無益者。豈其知本歟。</p>
<p>或問丹溪朱彥修先生曰。醫之為事。切脈察病用藥。先生必以讀儒書者能之何也。曰。</p>
<p>非四書無以窮理盡性。成格物致知之功。非易無以窮陰陽造化功用。消長生成之道。升降浮沉之理。孫真人曰。不知易者。不足以言太醫。</p>
<p>問曰。醫書何先。曰必須先讀內經。本草。脈經。非內經無以識病。非本草無以識藥。</p>
<p>非脈經何以診候。然後卻參諸家之說。</p>
<p>又問仲景傷寒。出證見方。為醫學之祖。亦先須看否。答曰。凡先入者為主。內經盡陰陽之妙。變化無窮。諸書皆出於此。如越人演八十一難。止得內經中一二。仲景取其傷寒一節。</p>
<p>河間以熱論變仲景之法。東垣以飲食勞役立論。恐先仲景書者。以傷寒為主。恐誤內傷作外感。先東垣書者以胃氣為主。恐誤外感為內傷。先河間書者。以熱為主。恐誤以寒為熱。不若先主於內經。則自然活潑潑地。</p>
<p>問曰。今之醫但看脈訣。以為診視。越諸方書。便可治病。以為簡便。先生之教讀內經。雖識病無方可據。脈經千條萬緒。難以撫尋。曰。正欲如此。人之生命至重。非積歲月之功。</p>
<p>豈可便視人之疾。前人立論制方。有與內經意合者。有穿鑿者。有立意偏者。有因病而以病人之虛實形氣脈證而制方者。病之變化無窮。人之形志苦樂不一。地土所宜。證有相似。治有不同。不讀內經。便欲據方施治。若有差誤。死不復生。人雖不知。於心安乎。脈理精微。通陰陽造化之理。千變萬化。聖人尚論其端緒。秘其蘊奧。善為脈者。從而推展。豈高陽生數語之脈訣能盡無窮之病邪。</p>
<p>先生曰。劉張之學。其論臟腑氣化有六。而於濕熱相火三氣致病為甚多。以推陳致新。</p>
<p>瀉火之法療之。此固高出前代矣。然有陰虛火動。或陰陽兩虛。濕熱自甚者。又當消息而治之。</p>
<p>東垣之謂飲食勞倦。內傷元氣。則胃脘之陽。不能升舉。並心肺之氣陷入於中焦。而用補中益氣等藥治之。此亦前人所無也。然天不足於西北。地不滿於東南。天陽而地陰。西北之人陽氣易降。東南之人陰氣易升。苟不知此。而徒取其法。則於氣之降者。固可以獲效。，而於氣之升者。亦從而用之。吾恐反增其病矣。當以三家之論。去其短而取其長。又曰。陰不足而陽有餘。因而思之。故人病氣升者多。氣降者少。是其驗也。補其陰與陽齊等。則水火自然升降。所謂乾坤定位。而坎離交也。</p>
<p>凡治病用藥。以前人方論未可者。切不宜孟浪。須沉潛思繹。千條萬緒。必求氣之所在而取之。不過格物致知之功。久久自入窮通變化之妙。</p>
<p>論曰。五運六氣。內經備論。諸方所略。其理奧妙。未易造入。愿發明焉。曰。學醫之初。</p>
<p>且須識病機。知變化。論人形而處治。若便工於氣運。恐流於馬宗素之徒。而云某生人於某日。病為某經。用某藥治之之類也。人之臟腑。外應天地。司氣司運。八風動靜之變。人氣應焉。豈不切當。苟不知此。為醫未造其理。何以調之。楊太受常云。五運六氣。須每日候之。記其風雨冥晦。而有應時作病者。有伏氣後時而病者。有故病沖而動者。體認純熟。久則自能造其至極。</p>
<p>治病用藥猶權衡。不可毫厘輕重也。若以執古方而治今病。更不酌量。吾不知其不能無少差也。</p>
<p>先生曰。吾每治病。用東垣之藥。效仲景處方。庶品味數少。則藥力專精也。問曰。讀素問有不曉者奈何。曰。乃上古之書。中間多有闕文訛舛。且通其所可通。缺其所可疑。又王冰釋於強解。及失經意者亦有之。須自要著力熟讀玩味。</p>
<p>問曰。素難之外。更看何書為要。曰。外感法重景。內傷法東垣。則仲景治法。更合內經。然於讀書皆須覽過。以長識見。</p>
<p>問曰先生治病有證同而異治者。又非地土不同。老幼苦樂之異何也。曰。陰陽氣運。參差不齊。賦生有濃薄。五氣有偏勝。臟腑剛柔不同。用藥以抑強扶弱取中而治。豈得而同也。</p>
<p>問曰諸方立論。有多用熱者。有多用寒者。時之異耶。地勢之然也。曰。看方須要知其立意。取其所長。去其所短。人性偏執。其通疏者。自古及今。寧幾人歟。</p>
<p>問曰一人之證。久伏床枕。處方既定。前後又有加減者何也。曰。內有國中虛實之異。</p>
<p>外有八風之變。四時更易。氣運迭遷。七情所動。是以主病之藥雖不更。佐使豈無加減也。</p>
<p>問曰何以謂之通疏。曰。無先入之主。能窮變化之神。識時措之宜。致二五之精妙合為沖和之氣。虛則補之。實則瀉之。寒者熱之。熱者寒之。上者抑之。下者舉之。無所偏負。則自然天地位。而萬物育矣。</p>
<p>嘗看成無己注傷寒論曰。夫傷寒之病。以陽氣為主。只此一句。已見深造聖蘊。蓋天之邪氣感。則傷人氣也。飲食起居七情動。則傷人形也。然此其深者。氣病形乃應。形氣病乃從。治病必求其本。</p>
<p>先生曰。仲景治傷寒以寒字為主。用辛熱甘熱等藥者。主即病而言。河間治熱病。以熱字為主。用辛涼等劑者。主不即病。寒毒藏於肌膚。至春變溫。至夏變為熱病之意也。</p>
<p>問曰。陰陽之體用。先生嘗以陰不足。而陽有餘。遠取諸天地日月為譬其體也。近取呼吸升降為喻其用也。則得聞命矣。然陰陽虛實之體雖不同。而其升降之用。所乘之機。既無降殺。則陰之體本虛。曷用補哉。</p>
<p>先生曰。邵子謂天地自相依附。天依形。地附氣。其形也有涯。其氣也無涯。人之形質有涯者也。天癸絕後。形則衰矣。苟不益陰以內守。則陽亦無以發揚為健運之能。是天失所依也。而為飄散飛蕩如喪家之狗耳。陽既飄散。則地愈失所附也。形氣不相依附則死矣。人其補養殘衰傷朽之質。又何云哉。</p>
<p>先生曰。治病必分血氣。如氣病補血。雖不中病亦無害也。血病補氣。則血愈虛散。散則氣血俱虛。是謂誅罰無過也。病或晝輕夜重者血病也。晝重夜輕者氣病也。蓋晝陽夜陰也。</p>
<p>座右銘曰。學問所以別理欲。開昏閉。衣食所以防飢寒。廣恩惠。言行要留好樣與兒孫。心術要不得罪於天地。</p>
<p>衛生藥室銘曰。治病之方。先顧元氣。攻病擊邪。斟酌藥劑。邪輕劑輕。邪峻劑峻。元氣或虛。峻劑當慎。必求其本。如流有源。泥標忘本。白首不痊。血病治血。氣病治氣。臟腑經絡。逐一點視。虛的施補。實的施瀉。察色聽聲。勿差纖芥。屬寒治寒。屬熱治熱。屬濕燥火。細心分別。氣微則逆。氣甚則從。逆為正治。從乃反攻。從少從多。各觀其事。其始則同。其終則異。必先歲氣。毋伐天和。違時伐化。夭殃斯多。寒熱溫涼。用之遠之。升降浮沉。順時為宜。厥逆厥順。道理玄微。或有所假。不必拘之。在表治表。在裡治裡。汗下之間。反掌生死。上制以緩。下制以急。緩急不分。無過受擊。新病猛除。久病寬治。不久不新。寬猛相濟。求治之誠。必當自寶。毋得苟就。輕此至道。病不可治。必當速已。毋得容情。啟人之毀。凡此數條。聖師至訓。洞然於胸。正行無問。</p>
<p>廣陵丘克容先生曰。今醫之專門於劉張者。率以發汗吐下施治。蓋本諸張子和十形三療。若曰風。寒。暑。濕。燥。火。內傷。外傷。內積。外積。視其中人。身之上若下。必三法之可已。果子和之遺意歟。何其與內經仲景之言大不相似也。內經不曰。邪氣盛則實。精氣奪則虛。又曰。虛則補之。實則瀉之。邪盛而實當瀉。三法或可已也。精奪而虛當補。將無他治歟。第曰。木鬱則達之。火鬱則發之。土鬱則奪之。金鬱則泄之。水鬱則折之。是亦發汗吐下之別稱也。向使此無彼遏。果例用歟。仲景治外感。分六經。別腑臟。亦嘗發汗吐下也。而太陽有解肌。少陽則三禁。並病用刺法。豈無其故歟。子和亦曰。不讀本草。焉知藥性。又曰。識病得法。工中之甲。仗三療療十形。又何必知藥性求得法哉。豈子和真書亡於金源氏之南遷。此特後人附會其說。而執迷妄意者。遂以鹵莽之言為的確之論。甚至認虛為實。假寒為燠。其於適事為故。與夫各安其氣之說。略不加究。志古之士。獨無憾焉。</p>
<p>夫醫道之有內經以來。歷代名醫著述之藏有司者。至有元時得一百七十九家。二百九部。一千二百五十九卷。不為不多矣。然其要者寧幾歟。惟七書而下。所可法者。如有宋成無己傷寒明理論。金之劉守真原病式。元李明之內外傷辨。醫學發明。活法機要。王好古此事難知。羅謙甫衛生寶鑒。朱彥修局方發揮。及聖朝滑伯仁十四經發揮。徐用誠本草發揮。皆啟七書之精奧。為體用之本領云。</p>
<h2>卷之一</h2>
<h3>醫學指南總訣二首</h3>
<p>(並出玉匱金鑰)不讀本草。焉知藥性。專泥藥性。決不識病。假饒識病。未必得法。識病得法。工中之甲。能窮素問。病受何氣。便知用藥當擇何味。</p>
<p>不誦十二經絡。開口動手便錯。不通五運六氣。檢遍方書何濟。經絡明。認得標。運氣明。認得本。求得標。只取本。治千人。無一損。</p>
<h3>本草第一</h3>
<h4>藥本五味一首</h4>
<p>(集次見內經至真大論諸篇)酸為木化氣本溫。能收能澀味肝經。苦因火化氣終熱。能燥能堅心臟丁。甘始土生氣化濕。</p>
<p>能開緩摻從脾行。辛自金生氣帶燥。能散潤濡通肺竅。咸從水化氣生寒。下走軟堅足腎導。</p>
<p>淡之其為五行本。運用須知造化要。</p>
<h4>藥性指掌九十首</h4>
<p>(集次見東垣珍珠囊　增六十三味。)羌活苦溫散表風。利支節排巨陽癰。更除新舊風寒濕。手足太陽表裡通。升麻苦除陽明風。引石膏能治齒疼。挾諸藥行四經分。升陽氣於至陰中。柴胡苦寒除脅疼。更安潮熱往來生。</p>
<p>在臟調經內主血。在肌主氣上行經。白芷辛溫去面風。陽明經藥引能通。治及痹疼膚燥癢。</p>
<p>止足陽明頭痛攻。防風甘辛氣本溫。明晴亦療腦門疼。以其氣味能泄肺。以全體用治諸風。</p>
<p>當歸甘辛頭止血。身還養血潤於中。稍能破血流而下。全用能調榮氣充。獨活苦甘風可除。</p>
<p>更安頸項自難舒。療風寒濕痹痿足。腎經藥引得斯歟。木香味苦氣微溫。和胃行肝氣有功。</p>
<p>調和諸氣為神妙。瀉肺無斯治不中。檳榔苦辛氣性溫。滯氣攻開又殺蟲。墜諸藥性若鐵石。</p>
<p>治後重時如馬奔。吳茱萸味苦辛熱。除咽嗌塞寒氣噎。脾胃停冷冷閉胸。心腹作痛而不歇。</p>
<p>藿香葉甘氣本溫。溫中快氣治心疼。開胃口能進飲食。止霍亂除嘔逆攻。川芎氣溫味本辛。</p>
<p>上行頭角清陽經。止頭痛能行血室。養新生血有神靈。黃連味苦氣寒沉。主治便　混雜紅。</p>
<p>消痞瀉心除目病。療瘡瘍腫有深功。黃芩苦味枯飄者。瀉肺除風熱在肌。堅者大腸除熱用。</p>
<p>膀胱得助化源宜。大黃味苦氣寒沉。瘀血消之結熱分。奪土滌腸通鬱滯。令名因是號將軍。</p>
<p>黃柏苦寒調痿厥。下焦伏火大能除。上安虛噦蛔蟲出。下腹消疼補腎虛。玄明粉有酸辛味。</p>
<p>宿垢留腸用此蠲。軟積開痰消癖瘕。大除胃熱保神全。白朮利水味甘溫。去濕強脾健胃經。</p>
<p>佐黃芩可安胎氣。君枳實能消痞膨。人參甘溫能止渴。甚生津液又和中。肺寒可服熱猶忌。</p>
<p>定魄安魂至有功。黃　甘溫益元氣。溫內分而實腠理。補三焦更托諸瘡。</p>
<p>虛勞自汗服即止。甘草甘平生瀉火。炙之健胃可和中。解諸藥毒無爭競。養血通經更有功。</p>
<p>半夏辛溫治濕痰。大和脾胃吐能安。寒痰更有腸鳴者。痰厥頭疼並速餐。陳皮味苦性辛溫。</p>
<p>留白和脾健胃經。去白消痰能泄氣。膈開痰熱氣須憑。青皮苦寒攻滯氣。削堅積治下宜良。</p>
<p>厥陰經藥斯能引。下食安脾得此強。枳殼微寒味苦酸。消心下痞化痰涎。胃中宿食兼壅氣。</p>
<p>去逐仍消積聚堅。枳實苦酸能削積。胸中虛痞又能除。心間宿水宜斯逐。日久稠痰亦可祛。</p>
<p>桔梗微溫味辛苦。止咽痛治肺之癰。寬胸利鼻無壅塞。引藥須知入肺中。知母苦寒除腎火。</p>
<p>能蠲有汗之骨蒸。補虛可療陽明熱。益腎滋源化氣征。　本微溫味苦辛。治頭痛於巔頂中。</p>
<p>太陽寒客能消散。婦女陰寒痛可通。生地黃寒甘苦味。瘀血衄血皆搗餐。涼血瀉脾之濕熱。</p>
<p>清心乃治五心煩。熟地黃溫味甘苦。封填骨髓滋腎陰。療傷寒後脛股痛。除新產罷腹臍疼。</p>
<p>五味酸溫滋腎水。更收肺耗散之金。消煩止渴生津液。益氣充虛乃壯陰。川烏味辛熱有毒。</p>
<p>浮也陽中之少陽。能開臟腑寒邪氣。破諸積冷痛尤良。白芍酸寒有小毒。扶陽氣治腹間疼。</p>
<p>墮胎通血強脾臟。能損肝經卻緩中。白茯苓溫味甘淡。和中益氣濕能行。安驚利竅生津液。</p>
<p>白入壬癸赤丙丁。澤瀉甘咸性本寒。收陰汗乃止虛煩。去胞垢又生新水。濕腫淋HT　作聖丹。</p>
<p>薄荷之葉味辛涼。新病痊時勿更餐。治熱清陽於頭面。除風癇證不能安。麻黃甘苦性微溫。</p>
<p>發汗除寒去節根。根節將來還可用。止虛盜汗作湯餐。厚朴用之隨氣味。苦除濕滿脹而膨。</p>
<p>性溫益氣能攻溫。散結調中可濟生。杏仁有毒苦甘溫。定喘安驚氣自任。大腸閉燥能通潤。</p>
<p>冷嗽投之散肺陰。巴豆大毒味辛熱。臟腑沉寒堅積結。治之水穀道能通。戒慎方中勿輕設。</p>
<p>黑附子辛熱有毒。其性走而浮不沉。補三陽之厥逆證。除六腑之寒病深。蒼朮氣溫其味甘。</p>
<p>調脾更治濕之痰。寬中發汗功過白。除濕之功白朮戡。秦艽辛苦性微溫。利水施之亦有功。</p>
<p>療遍體之金色疸。除風濕在四肢中。白僵蠶咸更辛平。陰內生陽其性溫。去膚風動如蟲狀。</p>
<p>治黑　生於面門。地榆酸苦性微寒。血痢投之即可安。入下部能消積熱。更安不禁血崩難。</p>
<p>白豆蔻味本辛溫。退翳還除冷在胸。上焦元氣尤能補。卻消滯氣於肺中。連翹微寒味苦平。</p>
<p>消諸經熱有深功。心間熱與瘡瘍腫。功效柴胡黏子同。阿膠甘溫能益肺。</p>
<p>又能止嗽唾如膿。補虛更可安胎氣。治痿強陰壯骨隆。桃仁甘苦性還寒。潤大腸經之秘難。</p>
<p>破經久蓄之陳血。去滯生新治血干。生薑辛製半夏毒。佐大棗有濃腸功。溫經散表除風氣。</p>
<p>止噦之能效最工。石膏甘辛性大寒。清金制火肺寧安。除頭痛渴日晡熱。更安胃熱奪其餐。</p>
<p>官桂味辛熱有毒。墮胎止汗補勞傷。用枝氣薄能開表。用肉生溫補腎良。細辛辛溫乃無毒。</p>
<p>升也為陽有二功。除風數變三陽證。去首少陰合病疼。梔子大寒其味苦。療心胸悶不能眠。</p>
<p>通臍下血滯便秘。象肺資陰降火炎。葛根甘寒能發表。胃虛消渴服之安。解除中酒之苛毒。</p>
<p>更止溫瘧之往還。栝蔞根味苦沉寒。止渴之功若聖丹。退熱消煩清氣血。補虛通濟月經安。</p>
<p>豬苓味淡更甘平。大燥功為治濕能。利小水還除濕腫。常人多服腎虛增。乾薑生辛炮則苦。</p>
<p>利肺氣入氣血行。生逐寒邪而發表。炮除胃冷可調中。草龍膽苦性沉寒。退散肝經之熱煩。</p>
<p>若病下焦之濕腫。服之即可得痊安。蘇木甘咸升可降。產停敗血逐能行。瘡瘍死血用之散。</p>
<p>散處還滋新血生。杜仲甘辛其性溫。壯筋骨脈強精神。止腰疼痛滋陰腎。酥炙除絲用自靈。</p>
<p>天門冬苦性大寒。保肺不得熱相干。涸枯榮衛宜斯潤。定喘寧神燥悶安。麥門冬寒味甘辛。</p>
<p>消肺隱伏之火禁。補金不足潤燥渴。養氣充虛熱不侵。木通寒瀉小腸火。小便熱閉大能通。</p>
<p>通經利竅宜施用。導滯無他可比功。地骨皮寒味苦平。除風無定表間乘。解肌退熱能涼血。</p>
<p>有汗傳尸之骨蒸。桑白皮寒其味甘。補虛益氣保神全。有餘肺氣宜斯瀉。嗽有痰紅必此蠲。甘菊苦甘除目疾。八風上注苦頭眩。目疼欲脫連頭痛。熱擁睛紅淚不干。紅花辛溫能養血。腹停惡血又能除。止產敗血血之暈。補虛少血血之虛。赤石脂甘酸且溫。固腸胃有斂收功。胎衣不下宜斯逐。順落不為峻急攻。通草甘通陰竅澀。更消水腫閉難行。用之澀閉俱通暢。因乃呼之通草名。烏梅酸溫收肺氣。生津止渴更除煩。又安泄痢調和胃。去熱其來在骨間。川椒味辛熱有毒。溫中去冷服之安。上除兩目之云膜。下治六腑之沉寒。葳蕤甘除四末風。治目淚出爛而蒙。男子濕流腰胯痛。女人黑　面斑重。秦皮寒苦治驚癇。女子崩中帶下難。青白遮晴之幻翳。風寒濕痹治居安。白頭翁苦溫無毒。赤痢衄血得效速。男子偏腫陰疝長。</p>
<p>小兒膻腥頭燥禿。牡蠣鹹寒治便滑。除榮衛虛往來熱。女人赤白帶崩中。男子夢寐精遺泄。乾漆味辛溫有毒。削年　堅。更除秘結停留血。血氣攻心亦可蠲。南星有毒味辛苦。中風不省墜痰涎。破傷身強如尸狀。服此回生致引年。商陸酸辛微有毒。生之異者類如人。導疏腫氣通胸腹。療水功能效若神。葶藶苦寒消水腫。膀胱留熱更能清。肺家喘促宜斯用。積飲停痰得此行。海藻鹹寒通水道。能開透軟結之便。氣停水結通身腫。非此之功不得痊。竹葉性寒其味苦。風邪煩熱服能除。上衝氣勝令人喘。進此安寧氣自舒。蔥白辛溫能解表。陽明頭痛急投之。傷寒下痢服之效。止痛除風又自奇。天麻辛治驚癇藥。風熱頭眩得此蠲。麻痹不仁風可療。語言不遂瘓能痊。大棗甘溫可壯神。又能助脈健天真。大和脾胃安中脘。中滿之時忌入唇。威靈仙苦溫無毒。　癢皮膚風可消。冷痛膝腰痰出唾。腹中新舊滯皆調。鼠黏子辛消瘍毒。盈肌癮疹主風濕。退諸風熱咽不通。利凝滯氣入腰膝。草豆蔻溫其辛味。補虛進食療心疼。胃脾積滯寒能逐。心腹久新痛可攻。玄胡索溫味苦辛。破血又治小腸疼。活精血療產後疾。安胎調攝產前經。雄黃有毒性平甘。　肉喉風用最堪。能殺精邪蛇虺毒。妊娠佩帶轉生男。廣州出產石硫黃。治疥堅筋去　瘡。逐冷壯陽陰　癖。老人風秘是仙方。水銀本是朱砂液。取置爐中　養成。消化五金除疥虱。婦人難產用催生。砒霜有毒仍酸苦。治瘧除　效若神。膈內風痰堪用吐。若還多服必傷人。牛膝為君味苦酸。主除膝痛及拘攣。月經若閉能通利。精髓如虛可補填。蒲黃無毒味甘平。行血如何又治崩。炒過用之方補澀。若還生用即通經。香薷下氣除煩熱。消腫調中暖胃家。霍亂轉筋心腹痛。佐方煮飲服之瘥。前胡下氣更消痰。推致陳新用最堪。主療傷寒寒熱病。安胎止嗽治兒疳。澤蘭甘苦能行氣。癰腫瘡膿可內消。更治損傷並打撲。並除身面四肢浮。三棱專治消　癖。更治陰人血不通。治氣削堅除撲損。產余腹痛亦能攻。肉豆蔻溫能止痢。解酲消食更調中。主除霍亂心膨痛。益氣消脾虛冷攻。補骨脂名破故紙。主攻血氣理勞傷。陽衰腎冷精流出。研爛胡桃合服良。縮砂下氣能消食。主療虛勞冷氣頻。暖胃溫脾能止利。炒除腹痛保妊娠。蓬莪朮治心脾痛。消血通經理內傷。　癖奔豚諸積聚。得同酒醋用為良。莎草根名香附子。主除胸腹熱無時。婦人得此為仙藥。下氣寬中用最宜。常山味苦性微寒。治瘧功多大吐涎。黃細形如雞骨勝。苗名蜀漆一HT　看。赤皮甘遂能消水。利飲寬膨更破　。主療四肢頭面腫。若逢甘草便相刑。</p>
<p>白芨主消癰腫毒。性同白蘞反烏頭。去除白癬並破裂。更療邪氣緩不收。大戟苦寒除蟲毒。專工利水治諸風。苗名澤漆同消腫。甘草逢之必反攻。牽牛名以牽牛得。下水消膨利小便。專治腰疼並腳痛。更消水腫落胎元。馬兜鈴子如鈴狀。根即名為土木香。肺熱咳痰成喘促。　瘡血痔用之良。白附子能除帶下。更行藥勢主心疼。去除面上諸般病。又治風瘡及中風。酸棗仁平安五臟。除風去痹骨能堅。補中益氣寧心志。更治虛煩不得眠。丁香除腫消風毒。治氣溫中用最堪。非特益脾能止嘔。更攻齒痛病風疳。沉香療除風水腫。順氣調中用最良。又止轉筋心腹痛。去除惡氣壯元陽。檀香不特消風腫。抑且能收霍亂功。腎氣上攻心氣痛。濃煎服餌即能通。乳香止痛消風腫。邪氣能除補益精。主療諸瘡收泄　。又調血氣又催生。蘇合香油能辟惡。去蟲殺鬼達神明。更消蟲毒除溫瘧。久服令人夢不生。沒藥止痛仍破血。主除折跌治金瘡。更宜產後諸余疾。推致新陳理內傷。山茱萸主通邪氣。逐痹除風療耳鳴。婦女得之調月水。男人補腎更添精。大腹皮功專下氣。健脾開胃更通腸。氣因冷熱攻心腹。煎用薑鹽入藥良。密蒙花主能明目。虛翳青盲用最良。若是小兒麩豆毒。熱疳入眼亦能醫。益智和中仍暖胃。主除虛漏及精遺。若人夜起多便溺。捶碎鹽煎效便奇。</p>
<p>紫草苦寒通九竅。腹心邪氣疽皆醫。消膨治脹利水道。豆疹瘡危用最宜。紫菀苦辛除咳逆。</p>
<p>熱寒胸結氣皆消。療唾膿血止喘悸。嬰稚驚癇亦可調。赤芍酸寒攻血痹。消　破血逐經良。</p>
<p>止疼解熱除癰腫。益血榮脾白芍強。芒硝苦寒消積聚。蠲痰潤燥性傷胎。胃中食熱血結閉。</p>
<p>大小便癃澀盡開。　香子是小茴香。開胃調中得酒良。主治腹疼並霍亂。更通腎氣及膀胱。</p>
<p>防己除風溫熱邪。四肢拘急口　斜。足疼水腫並風腫。濕嗽癰瘡腫亦佳。薑黃烈似鬱金功。</p>
<p>理損消癰止暴風。主治　瘕兼下氣。月經壅滯亦能通。甘松無毒味甘香。浴體令香可作湯。</p>
<p>下氣更能除惡氣。腹心痛滿是奇方。阿魏無真卻有真。臭而止臭乃為珍。殺蟲下氣除　積。</p>
<p>及治傳尸更辟瘟。遠志苦溫除咳逆。益精補氣壯心神。祛邪利竅止驚悸。強志聰明智慧人。</p>
<p>五倍一名文蛤是。主除齒　及瘡膿。更攻五痔多便血。洗眼猶能去熱風。菟絲子味辛無毒。</p>
<p>駐色延年治熱中。主療虛寒余瀝病。添精補髓去腰疼。蠍即HT　蜥宜緊小。主除癮疹療諸風。</p>
<p>小兒驚搐方多用。酒服尤能治耳聾。龍骨澀精收泄痢。本切主治女人崩。縮便收汗陰瘡蝕。</p>
<p>齒療顛邪又鎮驚。麝香通竅攻風疰。有孕催生救產難。殺鬼辟邪除腹痛。更安客忤與驚癇。</p>
<p>牛吐生黃味苦平。主除狂躁治天行。安魂定魄除邪惡。更治風癇及熱驚。羚羊角苦寒無毒。</p>
<p>益氣安心辟不祥。明目去風兼易產。更宜時氣治驚狂。犀角苦寒能解毒。驅風明目鎮肝家。</p>
<p>並除心熱狂言語。又治時行辟鬼邪。虎骨主除邪惡氣。傷寒濕氣用尤良。更攻風毒拘攣痛。</p>
<p>治產安驚去惡瘡。石蜜甘平安五臟。補中止痛養心脾。調和百藥兼益氣。止痢須知蠟更宜。</p>
<p>龜甲破　除漏下。小兒合囟治頭瘡。更攻瘧痔並陰蝕。勞復傷寒用作湯。斑蝥主治瘡疽瀝。</p>
<p>墮胎通淋破血　。入藥要知當熟炒。令人吐瀉只緣生。真珠潤澤安心志。敷面令人好面容。</p>
<p>粉點目中磨翳障。裹綿塞耳可除聾。鱉甲治崩仍療瘧。　瘕　癖用尤奇。又除骨節間勞熱。</p>
<p>雞子同餐卻不宜。靈脂治產昏迷證。通利陰人血不行。更治腸風並逆氣。若還炒過可除崩。</p>
<p>瓜蒂除浮仍治疸。欲消息肉鼻中吹。有人胸腹中間病。此藥猶能吐下之。假蘇本即名荊芥。</p>
<p>下氣除勞治血風。瘡疥傷寒為要藥。更除血暈與頭疼。紫蘇下氣仍開胃。治脹痰利大腸。煮汁飲之除蟹毒。若安喘嗽子尤良。芫花去水消浮腫。咳逆喉鳴必用之。痰唾疼心腹痛。惡風痹癢亦能醫。訶梨勒苦能開胃。冷氣奔豚是本功。消食化痰並止痢。更除漏及腸風。枸杞子功能補氣。去風明目益元陽。根名地骨皮堪用。寒熱虛勞各載方。琥珀元來是木脂。千氣入地化而為。鎮心定魄仍消血。若治諸淋效更奇。草果味辛消氣脹。主除濕勝治脾寒。解瘟辟瘴化瘧母。散逐寒痰及吐酸。牡丹皮能涼骨熱。腸胃積血亦能平。止吐衄　瀉陰火。無汗虛勞之骨蒸。麥　甘溫消宿食。破　結益氣虛人。上焦滯血能行散。心腹滿脹宜此伸。滑石利竅能泄氣。利水通津入太陽。大腸與胃有積聚。推蕩重令化氣強。艾葉生寒熟則溫。灸除百病可延生。溫中暖胃和肝氣。調血能令下吐平。貝母寒平咳逆氣。主除煩熱療傷寒。更消腹結心下滿。止汗和中解鬱煩。茶茗苦消痰熱渴。清神能治卒頭疼。</p>
<p>瘡可療兼下氣。利小便令化氣征。醋斂咽瘡消腫毒。治黃膽病破堅　。婦人產後血虛暈。</p>
<p>熏鼻收神保十全。酒通血脈濃腸胃。消憂發怒大扶肝。滋形辟惡養脾氣。痛飲傷神損壽元。蓬砂消痰能止嗽。甘緩之功破結　。喉痹初生宜進此。陰陽氣散自無凝。靈砂性溫通血脈。安魂養氣益精神。止陰煩滿殺邪魅。主五臟之百病　。</p>
<h4>妊娠服禁</h4>
<p>(出便產須知)班水蛭及虻蟲。烏頭附子配天雄。野葛水銀並巴豆。牛膝薏苡與蜈蚣。三棱代赭芫花麝。</p>
<p>大乾蛇蛻黃雌雄。牙硝芒硝牡丹桂。槐花牽牛皂角同。半夏南星與通草。瞿麥乾薑桃仁通。</p>
<p>砂乾漆蟹甲爪。地膽茅根莫用好。</p>
<h4>引經藥報使</h4>
<p>(一首出本草)小腸膀胱屬太陽。　本羌活是本鄉。三焦膽與肝包絡。少陽厥陰柴胡強。大腸陽明並足胃。葛根白芷升麻當。太陰肺脈中焦起。白芷升麻蔥白鄉。脾經少與肺部異。升麻兼之白芍詳。少陰心經獨活主。腎經獨活加桂良。通經用此藥為使。豈有何病到膏肓。</p>
<h4>六陳</h4>
<p>藥有六味。陳久者良。野狼茱半橘。枳實麻黃。</p>
<p>野狼毒。茱萸。半夏。橘皮也。</p>
<h4>十八反(二首並出儒門事親)</h4>
<p>本草名言十八反。半蔞貝斂芨攻烏。</p>
<p>謂半夏。栝蔞。貝母。白芨。白蘞。與烏頭相攻。</p>
<p>藻戟遂芫俱戰草。</p>
<p>海藻。大戟。蕪花。甘遂。俱與甘草相反。</p>
<p>諸參辛芍叛藜蘆。</p>
<p>苦參。人參。沙參。玄參。細辛。芍藥。俱與藜蘆相反。凡湯藥丸散中不可合用也。若要令反而吐者則不忌也。</p>
<h4>十九畏(一首)</h4>
<p>硫黃元是火之精。朴硝一見便相爭。水銀莫與砒相見。野狼毒最怕密陀僧。巴豆性裂最為上。偏與牽牛不順情。丁香莫與鬱金見。牙硝難合京三棱。川烏草烏不順犀。人參又忌五靈脂。</p>
<p>官桂善能調冷氣。若逢石脂便相欺。大凡修合看逆順。炮　炙爆要精微。</p>
<h4>用藥法象(一首)</h4>
<p>天有陰陽彰六氣。</p>
<p>風寒暑濕燥火。</p>
<p>濕熱涼寒總於四。</p>
<p>溫熱者。天之陽。涼寒者。天之陰。此天之陰陽四時也。</p>
<p>地有陰陽化五行。</p>
<p>金木水火土。</p>
<p>生長收藏五味成。</p>
<p>辛甘為地之陽。酸苦鹹為地之陰也。</p>
<p>輕清成象親乎上。</p>
<p>味薄者。本乎天親上。</p>
<p>重濁成形本乎地。</p>
<p>味濃者。本乎地親下。</p>
<p>辛甘發散氣為陽。酸苦漏泄陰為味。</p>
<p>輕清重濁之分。氣味濃薄之異。</p>
<p>清之清者發腠理。陽中之陽濃之氣。</p>
<p>附子氣之濃者。乃陽中之陽。故經云發熱。</p>
<p>清之濁者實四肢。陽中之陰薄氣使。</p>
<p>茯苓淡為在天之陽也。陽當上行。何為利水而泄下。經云。氣之薄者。乃陽中之陰。所以茯苓利水而下行。然而泄下亦不離乎陽之體。故入手太陰。</p>
<p>濁之濁者走五臟。陰中之陰乃濃味。</p>
<p>大黃味之濃者。乃陰中之陰。故經云泄下。</p>
<p>濁之清者歸六腑陰中之陽薄味爾。</p>
<p>麻黃苦。為在地之陰也。陰當下行。何為發汗而升上。經云。味之薄者。乃陰中之陽。</p>
<p>所以麻黃發汗而升上。亦不離乎陰之體。故入足太陽。</p>
<p>辛散酸收淡滲泄。咸軟苦泄甘緩結。</p>
<p>各有所能。或散或聚。或緩或急。或堅或　。四時五臟病。各隨五味之所宜也。</p>
<p>橫行直達要消詳。五味之能須悉別。</p>
<p>藥有橫行者。若辛甘之類。直達者。若酸苦之類。</p>
<p>身半上病藥取根。身腰以下梢宜用。根升梢降合天真。述類象形堪妙應。炮炙制度劑所宜。熟降生升毒須制。</p>
<p>藥用火炮。湯炮。煨炒者。皆制其毒也。用酒蒸焙蜜炒。皆欲上騰也。酒浸洗。醋浸。</p>
<p>薑製。酥炙。皆欲行經活血。如去皮。去心。取核。去蘆節枯朽之類。皆不可違其制也。</p>
<p>藥味專精大得能。新陳粗細擇須備。</p>
<p>品味薄則用近新者擇揀。勿用腐朽之類。</p>
<p>湯散丸方分兩銖。</p>
<p>湯者。蕩也。去新久病皆能之。散者。散也。去急病用之。丸者。舒緩而治之也。古者方劑分兩。與今不同。如　咀者。銼若麻豆大是也。云一升者。今之大一盞也。云銖者。六銖乃一分。即二錢半。云三兩者。今之一兩。二兩者。今之六錢半也。</p>
<p>君臣佐使從其制。</p>
<p>主病為君。佐君之謂臣。應臣之謂使。</p>
<p>服藥有法及有期。</p>
<p>病在上。不厭煩而少。病在下。則頓而多。病在上。先食而後藥。病在下。先藥而後食。病在四肢。宜飢食。而服藥在旦。病在骨髓。宜飽食。而服藥在夜。</p>
<p>升降浮沉補瀉之。</p>
<p>如肝膽之病。以辛味補之。咸瀉氣。溫補涼瀉之類也。</p>
<p>重輕氣味施當審。勿伐天和歲氣時。</p>
<p>必先歲氣。勿伐天和。藥例見後證例中。</p>
<h2>卷之二</h2>
<h3>脈訣第二</h3>
<h4>診脈入式</h4>
<p>(一首集次王適齋等脈訣)人身元氣由太極動靜陰陽一如式。陰血靜兮陽氣動。血逐氣行無暫息。周流身體似循環。榮養百骸由此力。五行五臟布其中。妙合乾坤纖芥悉。上中下體號三焦。在診排名寸關尺。寸為陽分尺為陰。關者陰陽界限位。天真始注手太陰。百脈周流所朝會。右為氣口左人迎。腑臟脈宗榮見爾。脈行三寸呼吸中。呼吸定息行六寸。十二時周數幾何。一萬三千五百息。氣行八百一十丈。脈循五十度周身。復還會於手太陰。此是平人形之道。度合陰陽晝夜停。不大不小脈曰平。呼吸來停至脈勻。數遲數至違呼吸。損曰離經與奪精。一息四至號平和。更加一至大無　。三遲二敗冷所謂。六數七極熱之多。八脫九死十命盡。十一十二魂入墓。三至為遲一二敗。兩息一至死非怪。遲寒數熱古今傳。難經越度分明載。</p>
<p>意見九難。</p>
<p>寸關尺內十二經。臟腑陰陽合五行。唯有君火更相火。母子相通真氣生。</p>
<p>意見十八難。</p>
<p>失正邪干乃相克。各有剛柔位相逢。</p>
<p>意見十難。</p>
<p>陰陽變病脈危殆。關格覆溢與相乘。</p>
<p>意見三難。後有圖。</p>
<p>太過不及分輕重。診後先須部分定。左心小腸肝膽腎。右肺大腸脾胃命。即心主包絡也。</p>
<p>女人反此背看之。尺脈第三同斷病。</p>
<p>言男子面南受氣。則兩寸居前亦陽。脈之三陽從上走下。女人面北受氣。則兩尺居前亦陰。</p>
<p>脈從下走上。經所謂男子陽生。脈在關上。寸脈常盛女陰生。脈在關下。尺脈常盛。是其常也。</p>
<p>心與小腸居左寸。肝膽同歸左關並。腎居尺脈合膀胱。用意調和審安靜。肺與大腸居右寸。</p>
<p>脾胃脈從關裡認。三焦心包絡脈同。尺中仔細須尋趁。若診他脈覆手取。要自看時仰手認。</p>
<p>三部須教指下明。九候了然心裡印。上部頭。候聽會。迎香。人迎之動脈也。以察頭面之疾。中部手。候合谷。神門。經渠之動脈也。以察頭下至臍上之疾。下部足。候太谿。衝陽。</p>
<p>太衝之動脈也。以察臍下至足之疾。</p>
<p>大腸共肺為傳送。心與小腸為受盛。脾胃相通五穀消。膀胱腎合為津慶。三焦無狀空有名。</p>
<p>寄在胸中膈相應。肝膽同為津液府。能通眼目為清淨。智者能調五臟和。自然察認諸家病。</p>
<p>掌後高骨號為關。骨下關脈形宛然。以次推排名尺澤。三部還須仔細看。關後為陰乃是尺。</p>
<p>關前為陽名寸口。陽弦頭痛定無疑。陰弦腹痛何方走。陽數即吐兼頭痛。陰微即瀉臍中吼。</p>
<p>陽實應知面赤風。陰微盜汗勞兼有。陽實大滑應舌強。陰數脾熱並口臭。陽微浮弱定心寒。</p>
<p>陰滑食注脾家咎。關前關後辨陰陽。察病根源應不朽。</p>
<p>經云。謹熟陰陽。無與眾謀。此之謂也。</p>
<p>病脈傳見舉要中。脈經素難尤宜究。</p>
<p>見後方脈舉要。</p>
<p>春弦夏洪秋似毛。冬石依經分節氣。阿阿緩若春楊柳。此是脾家居四季。浮芤滑實弦緊洪。七表還應是本宗。微沉緩澀遲並伏。濡弱相兼八裡同。九道脈名長短是。虛促結代勞動細。在意專心察脈理。二十四種真玄微。互須脈證參虛實。勿失於邪病脈機。</p>
<p><a href="_files/ps16a1.bmp">脈所當然之圖</a></p>
<p>凡在左者皆克諸右。凡在右者皆受左克。此臟腑五行自相剋制。脈所當然也。至如太過不及。當視本位及邪干自異爾。</p>
<p><a href="_files/ps16a2.bmp">五行子母相生之圖</a></p>
<p>兩手交義。則六脈五行。子母毒相生養。本心包絡與三焦二脈。皆系右尺。今脈訣以兩腎分兩尺。則遺失心心包絡一經矣。</p>
<p>右手太陰陽明金。生左尺足太陽少陰水。太陽少陰水。生左關足厥陰少陽木。生左關足厥陰少陽木。厥陰少陽木。</p>
<p>生左寸手太陽少陰火。太陽少陰火。通右尺手心主少陰火。通右尺手心主少陽火。手心主少陽火。生右關足太陰陽明土。足太陰陽明土。復生右寸手太陰陽明金。此皆五行子母更相生養者也。</p>
<p>左手頭指火之子。五行造化豈虛偏若將兩腎脈分二。何獨三焦經獨專。水火相生滋養處。土金涵育委和全。自然神氣存斯理。不識天真道不傳。素問脈類五十余種。後世類為二十四種。至如拒格者。素問謂陰勝格陽。陽勝拒陰。非死脈也。皆宜詳審。</p>
<p>脈是人身造化機。要須指下識其微。浮洪動滑弦如緊。微澀濡虛緩類遲。覆溢代牢誠莫療。細芤實弱可扶持。短長促結沉伏別。寒熱參差必誤醫。</p>
<p><a href="_files/ps16a3.bmp">臟腑陰陽寒熱圖</a></p>
<p><a href="_files/ps16a4.bmp">關格覆溢脈例圖</a></p>
<h4>二十四種脈體</h4>
<p>浮脈不足舉有餘。芤脈中空兩畔居。滑體如珠中有力。實形　與長俱。弦如始按弓弦狀。</p>
<p>緊若牽繩轉索初。洪舉按之皆極大。此名七表不同途。浮為中風芤失血。滑吐實下分明別。</p>
<p>弦為拘急緊為疼。洪大從來偏生熱。</p>
<p>浮為在表為風。(應人迎)為氣。(應氣口)為熱。為痛。為嘔。為脹。為痞。為喘。為厥。</p>
<p>為內結。為滿不食。浮大為鼻塞。浮緩為不仁浮大長。為風眩癲疾。浮滑疾。為宿食。</p>
<p>浮滑為飲為走刺。浮大而澀。為宿食滯氣。浮短為肺傷諸氣。浮細而滑為傷飲。浮滑疾緊。為百合病。浮數。(大便堅小便數)浮緊為淋為癃閉。</p>
<p>芤為血寸芤為吐血。微芤為衄血。關芤為大便出血。尺芤為下焦虛小便出血。</p>
<p>滑為吐為滿。　為咳。　為熱。　為伏痰。　為宿食。　為蓄血。　為經閉。　為鬼疰。　為血氣俱實。　滑散為癱緩。　滑數為結熱。　滑實為胃熱　滑而大小不勻。必吐。為病進。為泄利。　滑而和為妊娠。　滑而浮大小腹痛。弱則陰中痛。大便亦然。</p>
<p>實為熱為嘔。　為痛。　為氣塞。　為喘咳。　為大便不禁。　實緊為陰不勝陽。為胃寒。</p>
<p>為腰痛弦為寒為痛。　為飲。　為瘧。　為水。　為中虛。　為厥逆。　為拘急。　為寒癖。　弦緊為惡寒。為疝瘕為癖。雙弦脅急痛。弦為鉤。為脅下刺痛。　弦長為積隨左右上下。緊為寒為痛。　為嗽。　為喘。　為滿。　浮緊為肺有水。　緊滑為蛔動。為宿食。為逆吐。</p>
<p>緊急為遁尸。　緊數為寒熱。</p>
<p>洪為脹為滿。為瘡。　為熱。</p>
<p>為煩。　洪實為癲。　洪緊為癰疽。為喘急。亦為脹。洪大為祟。洪浮為陽邪來見。</p>
<p>微來如有又如。無沉舉都無按有餘。遲緩息間三度至。(訣云。緩脈一息四至。遲脈。</p>
<p>一息三至也。)濡來散止細仍虛。伏須切骨沉相類。弱脈沉微指下圖。(診而細。沉按之乃得。舉之若無為弱。)澀脈如刀輕刮竹。分明八裡坦如途。(脈澀體細而遲。往來難而散。)遲寒緩結微為痞。澀因血少沉氣滯。伏為物聚濡氣虛。弱則筋痿須審記。</p>
<p>微為虛為弱。　為衄。　為嘔。　為泄。　為亡汗。　為拘急。　微弱為少氣。為中寒。</p>
<p>沉為在裡為實。　為水。　為寒。　為喘。　為　。　為瘕。　沉弱為寒熱。　沉滑為風水。</p>
<p>為下重。　沉細為少氣。臂不能舉。　沉緊為上熱下冷　沉重而直前絕者為瘀血。　沉重而中散。為寒食成瘕。　沉重不至寸。徘徊絕者為遁尸。　沉緊為懸飲。　沉遲為痼冷。　沉重為傷暑發熱緩為在下為風。　為寒。　為弱。　為痹。　為疼。　為不仁。　為虛。　為氣不足。　為眩暈。緩而滑為熱中。　緩而遲。　虛寒相搏。食冷則咽痛。</p>
<p>澀為少血為亡汗。　熱氣不足。　為逆冷。　為下痢。　為惡寒。　為心痛。　澀而緊為痹。</p>
<p>為寒濕。　澀細大寒。</p>
<p>遲為寒為痛遲而澀。為　瘕咽酸。　遲而滑為脹。　遲而緩為寒。</p>
<p>伏為霍亂為疝瘕。　為水氣。　為溏泄。　為停痰。　為宿食。　為諸氣上衝。　為惡膿貫肌濡為虛為痹。　為自汗。　為氣弱。　為下重。　濡而弱為內熱外冷自汗為小便難弱為虛為風熱。　為自汗。</p>
<p>長脈流利通三部。短脈本部不及須。虛脈遲大而兼軟。促脈來數急促歟結脈時止而遲緩。代脈不還真可吁。(結脈與代脈相類。但代脈不能自還。)牢脈如弦而更實。衝脈鼓動無定居。</p>
<p>細脈雖有但如線。九道之形乃自殊。</p>
<p>細為氣血俱虛為病在內。　為積。　為傷濕。　為後泄。　為寒。　為神勞。　為憂傷過度。　為腹滿。　通刺痛。　細而緊。而　瘕積聚。　細而滑。為僵仆。　為發熱。　為嘔吐。</p>
<p>動為痛為驚。　為攣。　為泄。　為恐。</p>
<p>虛為寒為虛。　為腳弱。　為食不消化。　為傷暑。</p>
<p>促脈有五一曰氣。二曰血。三曰飲。四曰食。五曰痰。但臟熱則脈數。以氣血痰飲留滯不行則止促。非惡脈也。</p>
<p>結為痰為飲。　為血。　為積。　為氣。</p>
<p>長為熱為癇。　長而緩。病在下。　脈經有散脈而無長脈。陳氏釋曰六腑氣絕於外。主手足寒而上氣。五臟氣絕於內。則下不禁。　甚者不仁。其脈皆散。散則不聚。病亦危矣。</p>
<p>短為氣病短而急病在上。　脈經有數脈。而無短脈。陳氏釋曰。數為熱。為虛。為煩渴。為煩滿。</p>
<p>牢(脈經作革)為滿。</p>
<p>為急。　為虛寒相搏。　婦人半產漏下。○三因釋曰。革者。革也。固結不移之狀。三部應之皆危脈也。</p>
<p>代為一臟氣絕。</p>
<h4>怪脈(一首)</h4>
<p>雀啄連在三五啄。屋漏半日一點落。彈石硬來尋即散。搭指散亂真解索。魚翔似有一擬無。蝦游靜中跳一躍。寄語醫家仔細看。六脈一見休餌藥。</p>
<h4>脈相類(二十四首)</h4>
<p>脈浮猶如水漂木。表有餘兮裡不足。浮而無力則為芤。傍實中空應淖衄。</p>
<p>浮與洪相類洪脈蕩蕩浮泛泛。力薄為浮濃者洪。浮洪二象由來異。迷於專言易拙工。</p>
<p>弦似張弓緊似經。經方體駛十分精。緊言其力弦言象。識此超然付老成。</p>
<p>脈滑往來極流利。指下如珠圓替替。數則專言至數加。分明滑數非同類。</p>
<p>實大而長指下全。按如鼓革最牢堅。較之實脈不應別。隱指仍強　然。</p>
<p>舉無按有脈名沉。伏極其沉深復深。沉伏要知真脈象。淺深深淺細斟尋。</p>
<p>小之又小號微脈。短細遲難是為澀。良工診候倘逢之。細密精詳為消息。</p>
<p>軟脈優柔其力薄。極軟如無則為弱。莫教軟弱一般論。一脈才差一切錯。</p>
<p>脈遲一息來三至。緩比之遲仍小駛。遲為病冷緩為和。緩大虛風之病起。</p>
<p>力柔為軟本非遲。軟與形合細推之。軟則但將其力取。遲來三息又何疑。</p>
<p>出三關者是為長。弦則非然但滿張。弦脈與長爭較遠。良工尺度自能量。</p>
<p>脈洪真似涌波濤。細細而來氣勢高。虛脈廓然微曠蕩。消詳分析在絲毫。</p>
<p>脈號於洪力不輕。其中微曲似鉤形。只緣舉按皆強盛。實脈於焉別立名。</p>
<p>厥厥動搖如豆大。脈名為動幾曾停。圓圓轉轉底名滑。脈脈誰知有逕庭。</p>
<p>表病脈浮輕手得。所以為虛為無力。毫發差殊便不同。工意之人能自識。</p>
<p>脈來無力號為虛。外象豁然中則枯。弱比虛來虛更甚。按之如有亦如無。</p>
<p>微似慈蔥細似線。細大於微殊易辨。應之指下得之心。心內了然皆洞見。</p>
<p>依依細細為微脈。弱則虛之而又虛。弱是體虛微細小。細尋真象莫模糊。</p>
<p>三五不調名曰澀。如雨沾炒短且難。遲惟一息二三至。非短非難力但寬。</p>
<p>短於本部為不及。短復遲難為澀脈。休將短澀一般看。短自時長滑時澀。</p>
<p>散與大相類(散為浮大為洪之別名也)脈形渙漫名為散。有表那堪裡卻無。大則其中還翕翕。好將二脈較錙銖。</p>
<p>緩而時止復來者。便可將為結脈呼。止不能為方是代。結生代死必殊途。</p>
<p>脈來既數復中止。便呼為促莫狐疑。陰盛而然非能代。須知止脈易差池。</p>
<p>伏則全無絕則然。過饒厥逆命難全。按之隱隱其形伏。不覺開通病便痊。</p>
<h4>方脈舉要</h4>
<p>(一首以上出劉三點脈訣)人身之脈。本乎榮衛。榮者陰血。衛者陽氣。榮行脈中。衛行脈外。脈不自行。隨氣而至。</p>
<p>氣動脈應。陰陽之義。氣如　。血如波瀾。血脈氣息。上下循環。十二經中。皆有動脈。</p>
<p>手太陰經。可得而悉。此經屬肺。上系吭嗌。脈之大會。息之出入。初持脈時。令仰其掌。掌後高骨。是謂關上。關前為陽。關後為陰。陽寸陰尺。先後推尋。寸關與尺。兩手各有。</p>
<p>揣得高骨。上下左右。男女脈同。惟尺則異。男弱女盛。反此病至。調停自氣。呼吸定息。</p>
<p>四至五至。平和之則。三至為遲。遲則為冷。六至為數。數即熱證。轉遲轉冷。轉數轉熱。</p>
<p>在人消息。在人差別。遲數既得。即辨浮沉。浮表沉裡。深淺酌斟。浮數表熱。沉數裡熱。</p>
<p>浮遲表虛。沉遲冷結。察其六部。的在何處。一部兩經。一臟一腑。左寸屬心。合於小腸。</p>
<p>關為肝膽。尺腎膀胱。右寸主肺。大腸同條。關則脾胃。尺命三焦。(命。即心包絡脈也。)不特臟腑。身亦主之。上下中央。三部分齊。寸候胸上。關候膈下。尺下於臍。直至跟踝。</p>
<p>左脈候左。右脈候右。病隨所在。不病者否。浮沉遲數。有內外因。外因於天。內因於人。</p>
<p>天則陰陽。風雨晦暝。人則喜怒。憂思恐驚。外因之浮。則為表證。沉裡遲寒。數則熱甚。</p>
<p>內因脈浮。虛風所為。沉氣遲冷。數燥何疑。表(浮)裡(沉)寒(遲)熱(數)風(浮)氣(沉)冷(遲)燥。(數)辨內外因。脈證參考。浮沉之脈。亦有當然。浮為心肺。沉屬腎肝。脾者中州。浮沉之間。肺重三菽。皮毛相得。六菽為心。得之血脈。脾九菽重。得於肌肉。肝與筋平。重十二菽。惟有腎脈。獨沉之極。按之至骨。舉指來疾。脈理浩繁。總括於四。謂浮沉遲數也。)六難七難。專衍其義。析而言之。七表八裡。又有九道。其名乃備。浮而無力。</p>
<p>是名芤脈。有力為洪。形狀可識。沉而有力。其脈為實。無力微弱。伏則沉極。脈遲有力。</p>
<p>滑而流利。無力緩澀。漫同一例。數而有力。脈名為緊。小緊為弦。疑似宜審。合則為四。</p>
<p>雜為七八。天機之秘。神授之訣。舉之有餘。按之不足。泛泛浮浮。如水漂木。芤脈何似。</p>
<p>絕類慈蔥。指下成窟。有邊無中。滑脈如珠。往來轉旋。舉按皆盛。實脈則然。弦如張弦。</p>
<p>緊如細線。洪較之浮。大而力健。隱隱約約。微脈難尋。舉無按有。便指為沉。似遲不遲。</p>
<p>是謂之緩。如雨沾沙。澀難而短。遲則極緩。伏按至骨。濡而軟軟。弱則忽忽。既知七表。</p>
<p>又知八裡。九道之形。不可不記。諸家九道。互有去取。不可相無。可以相有。過於本位。</p>
<p>相引日長。短則不及。來者乖張。形大力薄。其虛可知。促結俱止。促數結遲。代止不然。</p>
<p>止難回之。三脈皆止。當審毫厘。牢比弦緊。轉益堅勁。動則動搖。厥厥不定。細如一線。</p>
<p>小而有力。弦大虛芤。脈曰改革。渙漫不收。其脈為散。急疾曰數。數則易見。即脈求病。</p>
<p>病無不明。病參之脈。可決死生。然有應病。有不相應。此最宜詳。不可執定。人安脈病。</p>
<p>是曰行尸。人病脈和。可保無危。中風脈浮。滑兼痰氣。其或沉滑。勿以風治。或浮或沉。</p>
<p>而微而虛。扶危降痰。風未可疏。寒中太陽。浮緊而澀。及傳而變。名狀難悉。陽明則長。</p>
<p>少陽則弦。太陰入裡。遲沉必兼。及入少陰。其脈遂緊。厥陰熱深。脈伏厥冷。在陽發汗。</p>
<p>次利小便。表解裡病。其脈實堅。此其大略。治法之正。至於大法。自有仲景。傷寒有五。</p>
<p>脈非一端。陰陽俱盛。緊澀者寒。陽浮而滑。陰濡而弱。此名中風。勿用寒藥。陽濡而弱。</p>
<p>陰小而急。此非風寒。乃濕溫脈。陽脈浮滑。陰脈濡弱。更遇於風。變成風濕。陽脈洪數。</p>
<p>陰脈實大。更遇濕熱。變為溫毒。陽脈濡弱。陰脈弦緊。更遇濕氣。變為濕溫。陰陽俱盛。</p>
<p>重感於寒。變為溫瘧。病同異名。同脈異經。</p>
<p>滑氏曰。傷寒例。言濕疫。而無濕溫。叔和言濕溫。而無溫疫。此亦異耳。</p>
<p>陰陽俱盛。病熱之極。浮之而滑。沉之散澀。惟有濕病。脈散諸經。各隨所主。不可指名。暑傷於氣。所以脈虛。弦細芤遲。體狀無余。或澀或細。或濡或緩。是皆中濕。可得而斷。瘧脈自弦。弦遲自寒。弦數多熱。隨時變遷。風寒濕氣。合而為痹。浮澀而緊。三脈乃備。腳氣之脈。其狀曰四。浮弦為風。濡弱濕氣。遲澀因寒。洪數熱鬱。風汗濕溫。熱下寒熨。腰痛之脈。皆沉而弦。兼浮者風。兼緊者寒。濡細則濕。實則閃肭。指下既明。治斯不忒。尺脈虛弱。緩澀而緊。病惟足痛。或時痿痹。澀則無血。厥寒為甚。尺微無陰。下利逆冷。熱厥脈伏。時或而數。便必秘難。治不可錯。疝脈弦急。積聚在裡。牢急者生。弱急者死。沉遲浮澀。疝瘕寒痛。痛甚則伏。或細或動。風寒暑濕。氣鬱生涎。下虛上實。此暈而眩。風浮寒緊。濕細暑虛。涎弦而滑。虛脈則無。治眩暈法。尤當審諦。先理痰氣。次隨證治。滑數為嘔。代者霍亂。微滑者生。澀數死斷。偏弦為飲。或沉弦滑。或結或伏。痰飲停結。咳嗽所因。浮風緊寒。數熱細濕。房勞澀難。右關濡者。飲食傷脾。左關弦短。疲極肝衰。浮短肺傷。法當咳嗽。五臟之嗽。各視本部。浮緊虛寒。沉數實熱。洪滑多痰。弦澀少血。形勝脈細。不足以息。沉小伏匿。皆是死脈。惟有浮大。而嗽者生。外證內脈。參考稱停。下手脈沉。便知是氣。沉極則伏。澀弱難治。其或沉滑。氣兼痰飲。沉弦細動。皆是痛證。心痛在寸。腹痛在關。下部在尺。脈象顯然。心中驚悸。脈必代結。飲食之悸。沉伏動滑。癲癇之脈。浮洪大長。滑大堅疾。痰蓄心狂。乍大乍小。乍短乍長。此皆邪脈。神志昏亂。肝脈浮虛。或濡或澀。軟散洪大。渴飲無余。遺精白濁。當驗於尺。結芤動緊。二證之的。鼻頭色黃。小便必難。肺浮弦澀。名為不便。便血則芤。數則赤黃。實脈癃閉。熱在膀胱。諸證失血。皆見芤脈。隨其上下。以驗所出。大凡失血。脈貴沉細。設見浮大。後必難治。水瀉之證。有陰有陽。察脈視象。問證須詳。陰脈沉遲。其色青白。不渴而瀉。小便清澀。脈或沉數。色赤而黃。燥屎赤溺。兼渴為陽。脹滿脈弦。脾制於肝。洪數熱脹。遲弱陰寒。浮為中滿。緊則中實。浮則可治。虛小危急。痞脈則滑。為有痰結。弦伏亦痞。澀則氣劣。肝積肥氣。弦細青色。心為伏梁。沉芤色赤。脾氣積痞。浮大而長。其色脾土。中央之黃。肺積息賁。浮毛色白。奔豚屬腎。沉急面黑。五臟為積。六腑為聚。積在本位。聚無定處。駛緊浮牢。小而沉實。或結或伏。為聚為積。實強者生。沉小者死。生死之別。病同脈異。氣口緊盛。為傷於食。食不消化。浮滑而疾。滑而不勻。必是吐瀉。吐瀉之脈。脈代勿訝。夏月泄瀉。脈大暑濕。洪而數溲。脈必虛極。治暑濕瀉。分其小便。虛脫固腸。罔或不痊。無積不痢。脈宜滑大。浮弦為死。沉細無害。五疸濕熱。脈必洪數。如或微澀。其證虛弱。骨蒸勞熱。脈數而虛。熱而澀小。必殞其軀。如汗加嗽。非藥可除。頭痛陽弦。浮風緊寒。風熱洪數。濕細而堅。痰氣頭痛。雖弦必澀。痰厥則滑。腎厥堅實。癰疽浮數。惡寒發熱。若有痛處。癰疽所發。脈數發熱。而疼者陽。不數不熱。不疼陰瘡。發癰之脈。弦洪相搏。細沉時滑。肺肝俱數。寸數而實。肺癰已成。寸數虛澀。肺痿之形。肺癰色白。</p>
<p>脈宜短澀。死者浮大。不白而赤。腸癰難知。滑數可推。數而不熱。腸癰何疑。遲緊未膿。</p>
<p>下以平之。洪數膿成。不下為宜。陰搏於下。陽別於上。血調氣和。有子之象。手之少陰。其脈動甚。尺按不絕。此為有孕。少陰屬心。心主血脈。腎為胞門。脈應於尺。或寸脈微。關滑尺數。往來流利。如雀之啄。或診三脈。浮沉一止。或平而虛。當問月水。婦人有病。而無邪脈。此孕非病。所以不月。男女之別。以左右取。左疾為男。右疾為女。沉實在左。浮大在右。右女左男。可以預判。離經六至。沉細而滑。陣痛連腰。胎即時脫。血瘕弦急。而大者生。虛小弱者。即是死形。半產漏下。革脈主之。弱即血耗。立見傾危。診小兒脈。浮沉為先。浮表沉裡。便知其源。大小滑澀。虛實遲駛。各依脈形。以審證治。大凡婦人。及夫嬰稚。病同丈夫。脈即同例。惟有婦人。胎產血氣。小兒驚疳。變蒸等類。各有方法。與丈夫異。要知婦孺。貴識證形。問始知詳。脈難盡憑。望聞問切。神聖工巧。愚者昧之。明者了了。病脈診法。大略如斯。若夫持脈。尤所當知。謂知春弦。夏洪脈鉤。秋則脈毛。冬則為石。實強太過。病見於外。虛微不及。病決在內。四脈各異。四時各論。皆以胃氣。而為之本。胃氣者何。脈之中和。過與不及。皆是偏頗。春主肝木。夏主心火。脾土乘旺。則在長夏。秋主肺金。冬主腎水。五臟脈象。與五運配。肝脈弦長。厭厭聶聶。指下尋之。如循榆葉。益實而滑。如循長竿。是謂太過。受病於肝。急如張弦。又如循刃。如按琴瑟。肝死之應。浮大而散。心和且安。累累如環。如循琅　。病則益數。如雞足舉。死操帶鉤。前曲後距。浮澀而短。藹藹如蓋。此肺之平。按之益大。病如循羽。不下不上。死則消索。吹毛揚揚。沉濡而滑。腎平則若。上大下銳。滑如雀啄。腎之病脈。啄啄連屬。連屬之中。然而微曲。來如解索。去如彈石。已死之腎。在人審識。脾為中州。平和不見。</p>
<p>然亦可察。中緩而短。來如雀啄。如滴漏水。脾臟之衰。脈乃見此。人有肥瘦。修長侏儒。</p>
<p>肥沉瘦浮。短促長疏。各分診法。不可一途。難盡者意。難窮者理。得之於心。應之於指。</p>
<p>勉□小子。日誦琅琅。造道之玄。筌蹄可忘。</p>
<h4>傷寒脈一首</h4>
<p>(出傷寒百證歌)大浮數滑動陽脈。陰病見陽生可得。沉澀弦微弱屬陰。陽病見有陰終死厄。陰陽交互最難明。</p>
<p>輕重斟量當別白。輕手脈浮為在表。表實浮而兼有力。但浮無力表中虛。自汗惡風常淅淅。</p>
<p>重手脈沉為在裡。裡實脈沉來亦實。重手無力大而虛。此是裡虛宜審的。風則虛浮寒牢堅。</p>
<p>水停水　必沉潛。動則為痛數則熱。支飲應須脈急弦。太過之脈為可怪。不及之脈亦如然。</p>
<p>榮衛太盛名高章。高章相搏名曰綱。榮衛微時名　卑。　卑相搏損名彰。榮衛既和名緩遲。</p>
<p>緩遲名沉此最良。九種脈中辨虛實。長沙之訣妙難忘。瞥瞥有如羹上肥。此脈定知陽氣微。</p>
<p>縈縈來似蛛絲細。卻是體中陰氣衰。脈如瀉漆之絕者。疾人亡血更何疑。陽結藹藹如車蓋。</p>
<p>陰結循竿亦象之。陽盛則促來一止。陰盛則結緩而遲。縱橫逆順宜審察。殘賊災怪要須知。</p>
<p>脈靜人病內虛故。人安脈病曰行尸。右手氣口當主氣。主血人迎左其位。氣口緊盛食必傷。</p>
<p>人迎緊盛風邪熾。數為在腑遲為臟。浮為在表沉在裡。浮緊兼澀寒傷榮。脈浮而緩風傷衛。</p>
<p>脈浮大忌令人吐。欲下猶防虛且細。沉微氣弱汗為難。三者要須常審記。陽加於陰有汗證。</p>
<p>左手沉微卻應未。跗陽胃脈定死生。太谿腎脈為根蒂。脈來六至與七至。邪氣漸深須用意。</p>
<p>浮大晝加並屬陽。沉細夜加分陰位。九至以上來短促。狀若涌泉無入氣。更加懸絕漸無根。</p>
<p>命絕天真當死矣。病患三部脈調勻。大小浮沉遲速類。此是陰陽氣已和。勿藥自然應可喜。</p>
<h4>傷寒死脈一首(同前)</h4>
<p>傷寒死脈定難痊。陽病見陰端可憐。上氣脈散為形損。耳聾浮澀命難全。譫言身熱宜洪大。</p>
<p>沉細而微壽不延。腹大泄利當微細。緊大而滑定歸泉。吐衄若得沉細吉。浮大而牢嘆逝川。</p>
<p>陰陽俱虛熱不止。乍疏乍數命歸天。如屋漏如雀啄來。如彈石去如解索。蝦游魚翔脈證乖。</p>
<p>轉豆偃刀形候惡。下不至關陽氣絕。上不至關陰氣鑠。代脈來時不用醫。必定傾危難救藥。</p>
<h2>卷之三</h2>
<h3>經絡第三</h3>
<h4>十二經本一脈</h4>
<p>(一首集次見東垣醫學發明)中焦肺起脈之宗。出手大指之端沖。大腸即手起次指。上行環口交鼻裡。胃經源又下鼻交。</p>
<p>出足大指之端饒。脾脈就足指端上。注於心中少陰向。心經中之入掌循。手內端出小指行。</p>
<p>小腸從手小指起。上斜絡於目內　。膀胱經就目內生。至足小指內側停。腎脈動於小指下。</p>
<p>起注胸中過腹胯。心包出處又屬胸。循手小指次指終。三焦向手次指側。環走耳前目銳息。</p>
<p>膽家接生目銳傍。走足大指三毛間。足肝就起三毛際。注入肺中循不已。</p>
<h4>奇經八脈</h4>
<p>(一首集次見內經骨空論等篇)督脈起自下極　。並於脊裡上風府。過腦額鼻入齦交。為陽脈海都綱要。任脈起於中極底。</p>
<p>上腹循喉承漿裡。陰脈之海妊所謂。衝脈出胞循脊中。從腹會咽絡口唇。女人成經為血室。</p>
<p>脈並少陰之腎經。與任督本於陰會。三脈並起而異行。陽蹺起足之跟裡。循外踝上入風池。</p>
<p>陰蹺內踝循喉嗌。本足陰陽脈別支。諸陰交起陰維脈。發足少陽築賓郗。諸陽會起陽維脈。</p>
<p>太陽之　金門是。帶脈周回季脅間。會於維道足少陽。所謂奇經之八脈。維系諸經乃順常。</p>
<h4>十二經脈</h4>
<p>(十二首集次見靈樞經脈論)手太陰肺中焦生。下絡大腸出賁門。上膈屬肺從肺系。系橫出腋　中行。肘臂寸口上魚際。</p>
<p>大指內側爪甲根。支絡還從腕後出。接次指屬陽明經。此經多氣而少血。是動則病喘與咳。</p>
<p>肺脹膨膨缺盆痛。兩手交瞀為臂厥。所生病者為氣嗽。喘渴煩心胸滿結。　臂之內前　痛。</p>
<p>小便頻數掌中熱。氣虛肩背痛而寒。氣盛亦疼風汗出。欠伸少氣不足息。遺失無度溺變別。</p>
<p>陽明之脈手大腸。次指內側起商陽。循指上連出合谷。兩筋歧骨循臂肪。入肘外廉循　外。</p>
<p>肩端前廉柱骨傍。從肩下入缺盆內。絡肺下膈屬大腸。支從缺盆直上頸。斜賁頰前下齒當。</p>
<p>環出人中交左右。上俠鼻孔注迎香。此經氣盛血亦盛。是動頸腫並齒痛。所生病者為鼻衄。目黃口乾喉痹生。大指次指難為用。肩前　外痛相仍。</p>
<p>胃足陽明交鼻起。下循鼻外上入齒。還出俠口繞承漿。頤後大迎頰車裡。耳前發際至額顱。支下人迎缺盆底。下膈入胃絡脾宮。直者缺盆下乳內。一支幽門循腹裡。下行直合氣衝中。</p>
<p>遂由髀關抵膝臏。　跗中指內關同。一支下漆注三裡。前出中指外間通。一支別走足跗指。</p>
<p>大指之端經盡已。此經多氣復多血。是動欠伸面顏黑。淒淒惡寒畏見人。忽聞木音心震懾。</p>
<p>登高而歌棄衣走。甚則腹脹仍賁響。凡此諸疾皆　厥。所生病者為狂瘧。濕溫汗出鼻流血。</p>
<p>口唇胗又喉痹。膝臏疼痛腹脹結。氣膺伏兔　外廉。足跗中指俱痛徹。有餘消穀溺色黃。</p>
<p>不足身前寒振栗。胃房脹滿食不消。氣盛身前皆有熱。</p>
<p>太陰脾起足大指。上循內側白肉際。核骨之後內踝前。上　循　經膝裡。股內前廉入腹中。</p>
<p>屬脾絡胃與膈通。俠喉連舌散舌下。支絡從胃注心宮。此經氣盛而血衰。是動其病氣所為。</p>
<p>食入即吐胃脘痛。更兼身體痛難移。腹脹善噫舌本強。得後與氣決然衰。所生病者舌亦痛。</p>
<p>體重不食亦如之。煩心心下仍急痛。泄水溏瘕寒瘧隨。不臥強立股膝腫。疽發身黃大指痿。</p>
<p>手少陰脈起心中。下膈直與小腸通。支者還從心系走。直上咽喉系目瞳。直者上肺出腋下。</p>
<p>後肘內少海從。臂內後廉抵掌後。銳骨之端注少衝。多氣少血屬此經。是動心脾痛難任。</p>
<p>渴欲飲水咽乾燥。所生脅痛目如金。脅臂之內後廉痛。掌中有熱向經尋。</p>
<p>手太陽經小腸脈。小指之端起少澤。循手外側出踝中。循臂骨出肘內側。上循　外出後廉。</p>
<p>直過肩解繞肩甲。交肩下入缺盆內。向腋絡心循咽嗌。下膈抵胃屬小腸。一支缺盆貫頸頰。</p>
<p>至目銳　卻入耳。復從耳前仍上頰。抵鼻升至目內　。斜絡於顴別絡接。此經少氣還多血。</p>
<p>是動則病痛咽嗌。頷下腫兮不可顧。肩如拔兮　似折。所生病主肩　痛。耳聾目黃腫腮頰。</p>
<p>肘臂之外後廉痛。部分猶當細分別。</p>
<p>足經太陽膀胱脈。目內　上起額尖。支者巔上至耳角。直者從巔腦後懸。絡腦還出別下項。</p>
<p>仍循肩膊俠脊邊。抵腰膂腎膀胱內。一支下與後陰連。貫臀斜入委中穴。一支膊內左右別。</p>
<p>貫胂俠脊過髀樞。臂內後廉　中合。下貫　內外踝後。京骨之下指外側。是經血多氣猶少。</p>
<p>是動頭疼不可當。項如拔兮腰似折。髀強痛徹脊中央。　如結兮　如裂。是為踝厥筋乃傷。</p>
<p>所生瘧痔小指廢。頭囟頂痛目色黃。腰尻　腳疼連背。淚流鼻衄及癲狂。足經腎脈屬少陰。</p>
<p>小指斜趣涌泉心。然谷之下內踝後。別入跟中　內侵。出　內廉上股內。貫脊屬腎膀胱臨。</p>
<p>直者屬腎貫肝膈。入肺循喉舌本尋。支者從肺絡心內。仍至胸中部分深。是經多氣而少血。</p>
<p>是動病飢不欲食。喘嗽吐血喉中鳴。坐而欲起面如垢。目視KT　KT　氣不足。心懸如飢常惕惕。</p>
<p>所生病者為舌乾。口熱咽痛氣賁逼。股內後廉並脊疼。心腸煩痛疸而　。痿厥嗜臥體怠惰。</p>
<p>足下熱痛皆腎厥。</p>
<p>手厥陰心主起胸。屬包下膈三焦宮。支者循胸出脅下。脅上連腋三寸同。仍上抵腋循　內。</p>
<p>太陰少陰兩經中。指透中衝支者別。少指次指絡相通。是經少氣原多血。是動則病手心熱。</p>
<p>肘臂攣急腋下腫。甚則胸脅支滿結。心中　或大動。善笑目黃面赤色。所生病者為煩心。</p>
<p>心痛掌中熱之極。手經少陽三焦脈。起自小指次指端。兩指歧骨手腕表。上出臂外兩骨間。</p>
<p>肘後　外循肩上。少陽之後交別傳。下入缺盆膻中分。散絡心包膈裡穿。支者膻中缺盆上。</p>
<p>上項耳後耳角旋。屈下至頤仍注頰。一支出耳入耳前。卻從上關交曲頰。</p>
<p>至目內　乃盡焉。是經少血還多氣。是動耳鳴喉腫痹。所生病者汗自出。耳後痛兼目銳　。</p>
<p>肩肘臂外皆疼。小指次指亦如廢。足脈少陽膽之經。始從兩目銳　生。抵頭循角下耳後。</p>
<p>腦空風池次第行。手少陽前至肩上。交少陽右上缺盆。支者耳後貫耳內。出走耳前銳　循。</p>
<p>一支銳　大迎下。合手少陽抵項根。下加頰車缺盆合。入胸貫膈絡肝經。屬膽仍從脅裡過。</p>
<p>下入氣街毛際縈。橫入髀厭環跳內。直者缺盆下腋膺。過季脅下髀厭內。出膝外廉是陽陵。</p>
<p>外輔絕骨踝前過。足跗小指次指分。一支別從大指去。三毛之際接肝經。此經多氣乃少血。</p>
<p>是動口苦善太息。心脅疼痛難轉移。面塵足熱體無澤。所生頭痛連銳　。缺盆腫痛並兩腋。</p>
<p>馬刀挾癭生兩旁。汗出振寒　瘧疾。胸脅髀膝至　骨。絕骨踝痛及諸節。厥陰足脈肝所終。</p>
<p>大指之端毛際叢。足跗上廉太衝分。踝前一寸入中封。上踝交出太陰後。循　內廉陰股充。</p>
<p>環繞陰器抵少腹。俠胃屬肝絡膽逢。上貫膈裡布脅肋。俠喉頏顙目系同。脈上巔會督脈出。支者還生目系中。下絡頰裡環唇內。支者便從膈肺起。此經血多氣少焉。是動腰疼俯仰難。男疝女人少腹腫。面塵脫色及咽乾。所生病者為胸滿。嘔吐洞泄小便難。或時遺溺並狐疝臨證還須仔細看。</p>
<h4>十五絡脈一首(出針經)</h4>
<p>人身絡脈一十五。我今逐一從頭舉。手太陰絡為列缺。手少陰絡即通裡。手厥陰絡為內關。</p>
<p>手太陽絡支正是。手陽明絡偏歷當。手少陰絡外關位。足太陽絡號飛陽。足陽明絡豐隆記。</p>
<p>足少陽絡為光明。足太陰絡公孫寄。足少陰絡名大鐘。足厥陰絡蠡溝配。陽督之絡號長強。</p>
<p>陰任之絡為尾翳。脾之大絡為大包。十五絡名君須記。</p>
<h4>經脈交會八穴一首(同前)</h4>
<p>公孫衝脈胃心胸。內關陰維下總同。臨泣膽經連帶脈。陽維目銳外關逢。後谿督脈內頸。申脈陽蹺絡亦通。列缺肺任行肺系。陰蹺照海隔喉嚨。</p>
<h4>經穴起止一首(同前)</h4>
<p>手肺少商中府起。大腸商陽迎香二。足胃厲兌頭維三。脾部隱白大包四。膀胱睛明至陰間。</p>
<p>腎經涌泉俞府位。心包中衝天池隨。三焦關衝耳門繼。膽家竅陰瞳子　。厥肝大敦期門至。</p>
<p>手心少衝極泉來。小腸少澤聽宮去。十二經穴始終歌。學人銘於肺腑記。</p>
<h4>十二經氣血一首(集見內經形志篇)</h4>
<p>多氣多血經須記。大腸手經足經胃。少血多氣有六經。三焦膽腎心脾肺。多血少氣心包絡。膀胱小腸肝所異。</p>
<p>大腸(手陽明)　胃(足陽明)　三焦(手少陽)　膽(足少陽)　腎(足少陰)　心(手少陰)脾(足太陰)　肺(手太陰)　心包(手厥陰)　膀胱(足太陽)　小腸(手太陽)　肝(足厥陰)</p>
<h4>十二經井榮經合穴一首(出針經)</h4>
<p>少商魚際與太淵。經渠尺澤肺相連。商陽二三間合谷。陽谿曲池大腸原。少衝少府屬於心。</p>
<p>神門靈道少海尋。少澤前谷後谿腕。陽谷小海小腸經。大敦行間太衝看。中封曲泉屬於肝。</p>
<p>竅陰俠谿臨泣膽。丘墟陽輔陽陵泉。隱白大都太白脾。商丘陰陵切要知。涌泉然谷太谿穴。</p>
<p>復溜陰谷腎之經。厲兌內庭陷谷胃。衝陽解谿三裡隨。至陰通谷束京骨。昆侖委中是膀胱。</p>
<p>中衝勞宮心包絡。大陵間使曲澤傳。焦關衝液門中渚。陽池支溝天井源。</p>
<h4>經脈流注一首(同前)</h4>
<p>肺寅大卯胃辰經。脾巳心午小未中。申膀酉腎心包戌。亥三子膽丑肝通。</p>
<h4>十二經納甲一首(同前)</h4>
<p>甲膽乙肝丙小腸。丁心戊胃己脾鄉。庚屬大腸辛屬肺。壬屬膀胱癸腎臟。三焦亦向壬中寄。包絡同歸入癸方。</p>
<h4>周身經穴賦</h4>
<p>手太陰兮大指側。少商魚際兮太淵穴。經渠兮列缺。孔最兮尺澤。俠白共天府為鄰。云門與中府相接。(凡十一穴。左右二十二穴。)手陽明兮大腸之經。循商陽兮二三而行。(二間三間也)歷合谷陽谿之　。過偏歷溫溜之臏。</p>
<p>下廉上廉三裡而近。曲池肘膠五裡之程。　(即臂　肩　二穴。)上於巨骨。天鼎紆乎扶突。禾　唇連。迎香鼻迫。(凡二十穴。左右共四十穴。)胃乃足之陽明。厲兌趨乎內庭。過陷谷衝陽之分。見解谿豐隆之神。下巨虛兮條口陳上巨虛兮三裡仍。犢鼻引入於梁丘陰市之下。伏兔上貫於髀關氣衝之經。歸來兮水道。大巨兮外陵。</p>
<p>運天樞兮滑肉。禮太一兮關門。梁門兮承滿。不容兮乳根。乳中之膺窗屋翳。庫房之氣戶缺盆。氣舍水突。人迎。大迎。地倉兮臣　績。四白兮承泣分。御頰車於下關。張頭維於額垠。(凡四十五穴。左右共九十穴。)足太陰兮脾中州。隱白出兮大指頭。赴大都兮膽太白。訪公孫兮至商丘。越三陰之交。</p>
<p>而漏谷地機可即。步陰陵之泉。而血海箕門是求。入衝門兮府舍軒豁。解腹結兮大橫優游。腹袤食竇兮。接天溪而同派。胸鄉周榮兮。綴大包而如鉤。(凡二十一穴。左右共四十二穴。)迨夫真心為手少陰。少衝出乎小指。少府直乎神門。陰　通理兮。靈道非遠。少海青靈兮。極泉何深。(凡九穴。左右一十八穴。)手之太陽。小腸之榮。路從少澤。步前谷後谿之隆。道遵腕骨。觀陽谷養老之崇。得支正於小海。逐肩貞以相從。值　兮遇天宗。乘乘風兮曲垣中。肩外俞兮肩中俞。啟天窗兮見天容。匪由顴　。曷造聽宮。(凡十九穴。左右三十八穴。)足膀胱兮太陽。交背部之二行。窮至陰於通谷之口。尋束骨於京骨之鄉。申脈命仆參以前導。昆侖辟金門於踝傍。奮跗陽飛陽之志。轉承山承筋之行。至於合陽委中委陽。浮　殷門以岐往。扶承秩邊而胞肓。入志室兮肓門胃倉。開意舍兮振彼陽綱。出魂門兮隔關。乃噫噫乎神堂。膏肓兮在四椎之左右。魄門兮隨附分而會陽。下中次上之　。白環中膂之房。膀胱俞兮小腸。大腸俞兮在傍。三焦腎俞兮胃俞接。脾膽肝膈兮心俞當。厥陰肺俞之募。風門大杼之方。天柱豎兮玉枕。絡卻通天溪兮。見彼承光。自五處曲差而下。造攢竹睛明之場。(凡六十三穴。左右共一百二十六穴。)足少陰兮腎屬。涌泉流於然谷。太豁大鐘兮水泉綠。照海復溜兮交信續。從築賓兮上陰谷。</p>
<p>掩橫骨兮大赫麓。氣穴四滿兮中注。肓俞上通兮商曲。守石關兮陰都寧。閉通谷兮幽門肅。</p>
<p>步廊神封而靈墟存。神藏或中而俞府足。(凡二十七穴。左右五十四穴。)手厥陰心包之絡。中衝發中指之奇。自勞宮大陵而往。逐內關間使而馳。叩　門於曲澤。酌天泉於天池。(凡九穴。左右一十八穴。)手少陽三焦之脈。在小指次指之端。關衝開乎液門。中渚陽池外關。支溝會宗三陽絡。</p>
<p>四瀆天井清冷淵。消濼　會肩　相連。天　處天牖之下。翳風讓　脈居先。顱息定而角孫近耳。</p>
<p>絲竹空而和　倒懸。耳門既辟。夏蚋聞焉。(凡二十三穴。左右共四十六穴。)足少陽兮膽經。穴乃出乎竅陰。沂俠谿兮地五會。過臨泣兮丘墟平。懸鐘兮陽輔光明。</p>
<p>外丘兮陽交陽陵。西出陽關兮。抵中瀆風市之境。環跳居　兮。循維道五樞之名。考夫帶脈。詢至京門。日月麗兮輒筋榮。淵液泄兮肩井盈。臨風池兮腦空鳴。窮竅陰兮完骨明。舉浮白於天沖。接承靈於正營。目窗兮臨泣。陽白兮本神。率谷回兮曲鬢出。懸厘降兮懸顱承。頷厭兮嘉客主人。聽會兮童子　迎。(凡四十三穴。左右八十六穴。)厥陰在足。肝經所鐘。起大敦於行間。循太衝於中封。蠡溝中都之會。膝關曲泉之營。</p>
<p>襲陰包於五裡兮。陰廉乃發。尋羊矢於章門兮。期門可攻。(凡十三穴。左右二十六穴。)至若任脈。行乎腹與胸。承漿泄兮廉泉通。窺天突於璇璣。搗華蓋於紫宮。登玉堂兮膻中集。履中庭兮鳩尾沖。瞻巨闕兮二脘上中。過建裡兮下脘攸同。水分兮神闕縹緲。陰交兮氣海鴻　。石門直兮關元中極。曲骨橫兮。會陰乃終。(凡二十四穴。)督脈行乎背部中。兌端接兮齦交從。素　在鼻兮水溝疏通。神庭入發兮。上星瞳朦。囟會現兮前項。百會儼兮尊崇。後項輔兮強間逢。腦戶蔽兮風府空。啞門通於大椎兮。陶道坦夷。</p>
<p>身柱縹於神道兮。靈台穹窿。至陽立下筋縮。春中接脊懸樞。命門重重。歌陽關兮舞腰　。</p>
<p>愿長強兮壽無窮。(凡二十七穴。)</p>
<h2>卷之四</h2>
<h3>病機第四</h3>
<h4>五運主病一首(集見原病式)</h4>
<p>諸風掉眩乃肝木。痛癢瘡瘍心火屬。濕腫滿本脾土經。氣　郁痿肺金伏。寒之收引腎水鄉。五運主病樞要目。</p>
<h4>六氣為病(六道同前)</h4>
<p>諸暴強直。支痛裡急。縮　戾。本足厥陰。肝膽二經。風木之氣。</p>
<p>諸病喘嘔及吐酸。暴注下迫轉筋難。小便混濁血溢泄。瘤氣結核瘍疹斑。癰疽吐下霍亂證。</p>
<p>郁腫脹鼻塞干。鼽衄淋秘身發熱。惡寒戰栗驚惑間。笑悲譫妄衄　污。腹脹鼓之有聲和。</p>
<p>少陰君火手二經。真心小腸氣之過。　與強直積飲　。霍亂中滿諸膈痞。體重吐下　腫痿。</p>
<p>肉如泥之按不起。太陰濕土二足經。脾與從中胃之氣。</p>
<p>諸熱瞀　筋惕惕。悸動搦搐螈　極。暴喑冒昧躁擾狂。罵詈驚駭氣上逆。腑腫疼酸嚏嘔瘡。喉痹耳鳴聾欲閉。嘔涌溢食下不能。目瞇不明　翳。或禁栗之如喪神。暴病暴死暴注利。少陽相火手二經。心包絡與三焦氣。諸澀枯涸閉。干勁揭皴起。陽明之燥。金肺與大腸氣。上下水液出澄冷。　瘕　疝堅痞病。腹滿急痛利白清。食已不飢吐利腥。屈伸不便與厥逆。厥逆禁固太陽經。腎與膀胱為寒水。陰陽標本六氣裡。</p>
<h4>病機略一首(集次見凡例)</h4>
<p>病本十形。風寒燥濕。暑火二分。</p>
<p>春溫。君火之氣。夏熱。相火之氣。</p>
<p>內傷外傷。內積外積。六氣四因。病機以明。</p>
<p>內傷者。不因氣動而病生於內。謂留飲。辟食。飢飽。勞傷宿食。霍亂。非恐。喜怒。</p>
<p>想慕。憂結之類。外傷者。不因氣動而疾生於外。謂瘴氣。賊寇蟲蛇。蠱毒。蜚食。鬼擊。沖薄。墜墮。風寒。暑濕。斫射。刺割。捶撲之類。內積者。因氣動而內成。謂積聚。　瘕。瘤氣。癭起。癲癇之類。外積者。因氣動而外成。謂癰疽。瘡瘍之類。六氣為見病之下。</p>
<p>氣固形實。形虛中風。</p>
<p>風中府者。面加五色。有表證脈浮而惡風惡寒。拘急不仁。或中身之後。或中身之前。</p>
<p>或中身之側。皆易治。中藏者。唇吻不收。舌不轉而失音。鼻不聞香臭。耳聾而眼昏。大小便閉結。皆難治。經云。風中腑臟之俞為偏風。風氣循風府而上為腦風。入系頭為目風。飲酒中風為漏風。入房汗出中之為首風。久風入中為腹風餐泄。外在腠理為泄風之類。久干於榮衛。則肌肉不仁。手足戰掉。</p>
<p>或為寒熱。或為熱中。(證多目黃)或為寒中。(目自泣下)或為厲風。(皮膚瘍潰為　病)或為偏枯。半身不遂。(左癱右瘓)此率多痰。或屬血虛。</p>
<p>血虛少。則血不養筋。筋不束骨。</p>
<p>在左死血。在右屬痰。痰壅盛者。口眼　斜。不能言語。皆用吐法。</p>
<p>治法以發散順氣。祛痰清熱。疏風吐下之類。更以傷中感三證別辨為治乃妙。</p>
<p>氣虛卒倒。降痰益氣。火熱而甚。燥熱潮熱。隨經治之。陰虛補虛。</p>
<p>陰虛火動亦發熱。</p>
<p>勿驟涼治。</p>
<p>虛熱勿用涼寒藥為治。</p>
<p>輕可降散。實則可瀉。重者難療。從治可施。</p>
<p>此治熱之例。如寒涼藥正治。熱不退。加熱劑從而治之。</p>
<p>中寒感寒。陰毒陰逆。四肢厥冷。腹痛唇青。</p>
<p>經云。痛有不可按者。有按之無益者。乃寒氣客經脈之中。與正氣相搏。則脈滿。故痛而不可按。寒氣客於俠脊之脈。深按不能及。故按之無益。重中於寒。則痛久不能止。寒氣客於腸胃之間。膜原之下。血不得散。小絡急引故痛。按之則血氣散。故按之而痛止。寒氣客於衝脈。則脈不通氣因之故喘動應乎。寒氣客於背俞之脈。則血脈泣。泣則血虛。虛則痛。其俞注於心。故相引心背而痛。寒氣客於脈中。則血泣脈急。故脅肋與少腹相引而痛。厥氣客於陰股及小腹。血泣在下相引。故腹痛引陰股。寒氣客於小腸膜原之間。絡血之中。血泣不得注於大經。氣稽留不得行。故久而成積。寒氣客於五臟。厥逆上泄。陰氣竭。陽氣未入。故卒然痛如死狀。不知人。氣復反則生。寒氣客於腸胃。厥逆上出。故痛而嘔。寒氣客於小腸。小腸不得成聚。故後泄腹痛。寒氣正少腹。故痛而不得大小便。病亦名曰疝中。謂不因氣動。偶然當而為病。感因形動。虛而感入。厥者。陰陽氣不相順接。便為厥而手足逆冷是也。</p>
<p>退陰正陽。急可溫中。</p>
<p>治例見陰證要略。</p>
<p>傷寒所致。　病有二。發熱惡寒。頭頸項強。腰脊反張。口噤面赤。螈　如癇。有汗柔。無汗名剛。春傷於風。夏生飧泄。</p>
<p>肝氣乘脾。故泄利。</p>
<p>夏傷於暑。秋必痢瘧。秋傷於濕。冬生咳嗽。冬傷於寒。春必溫病。</p>
<p>冬時中寒而即病者為傷寒。不即病。寒毒藏於肌膚。至春變為溫病。至夏變為暑病者。</p>
<p>熱極重於溫也。亦先夏至曰為病溫。後夏至曰為病暑。溫暑之病。皆本於傷寒也。古人言感四時乖戾之氣通謂之傷寒。</p>
<p>夏月身熱。汗出惡寒。身重脈微。渴乃中　。</p>
<p>傷寒論中　證者三無治法。唯東垣清暑益氣之法至允。宜擴充之。</p>
<p>春時病溫。溫疫溫毒。溫瘧風溫。脈證分異。五種疾因。</p>
<p>溫疫病。如傳染一家盡病是也。</p>
<p>溫毒或發斑致痙。為病至重。有寒熱往來者為溫瘧。風溫多頭疼身熱常自汗之類。</p>
<p>中濕風濕。暑成濕溫。三種可別。濕熱可分。</p>
<p>以上三證。皆自表而之裡。中濕或小便不利。大便反快。風濕則一身盡痛。或熱。濕溫則發熱頭痛如傷寒狀。濕熱有自裡而之表。發黃是也。亦有寒濕病。則肌膚不仁。或痛為痹也。</p>
<p>寒痰腳氣。食積勞煩。要知四證。乃似傷寒。</p>
<p>此四形證。類似傷寒。診視宜分別。</p>
<p>傷寒之病。見中風脈。中風之病。得傷寒脈。大小青龍。治例必識。調衛調榮。斯須兩得。</p>
<p>桂枝湯則發衛之邪。麻黃湯者。並榮衛而治之。至於青龍湯。治傷寒見風脈。傷風見寒脈。仲景云。汗出惡風者服之。則筋惕肉　。故此證尤難用。必須形證諦當。方可行之。</p>
<p>瘧本傷暑。或痰有食。老瘧瘧母。</p>
<p>有風暑為病。或食致。或痰病。久瘧有癖塊者為瘧母。</p>
<p>久則羸疲。</p>
<p>謂病如凌虐人之狀。久不已。令人瘦也。</p>
<p>三日一發。病經一歲。間日發者。受病半年。一日一發。新病所以。連二日發。住一日者。氣血俱病。或用截法。或隨經治。</p>
<p>五臟六腑瘧。有圖在後治例中。如但熱而不寒為癉瘧。先熱而後寒為溫瘧。先寒而後熱為寒瘧。夏暑汗不出。秋成風瘧連歲不已。脅下有積。是為　瘧。猶老瘧也。</p>
<p>嗽多感寒。當分六氣。</p>
<p>經云。風嗽者。日夜無度。汗出頭痛。涎痰不利。甚則喘。熱嗽者。急喘而嗽。面赤潮熱。手足寒。火嗽者。咳喘上氣。壅唾出血。甚者七竅血溢。燥嗽則氣壅不利。百節內痛。頭面汗出。寒熱往來。皮膚干枯。細瘡燥癢。大便澀。唾稠黏。寒嗽者。因形寒飲冷。坐臥濕地。或胃冷風寒感之。喘急而嗽。濕嗽者。脛重。或腫。或腹大。或喘。飲發於中。喘咳有聲也。亦有五臟之咳。久不已。乃移於六腑。又有氣嗽痰嗽勞嗽之類。</p>
<p>六本一標。病機所秘。風熱與寒。隨證治之。暑燥清金。濕則利水。有聲無痰。有痰咳少。痰可降蠲。咳隨本治。</p>
<p>有聲無痰為咳。當治其本。</p>
<p>喘有氣虛。或因痰壅。或因氣逆或倚息使。</p>
<p>亦有熱甚而喘。腹脹而喘。咳甚而喘。水乘肺而喘之類。</p>
<p>痢本濕熱。</p>
<p>或暑　郁於下焦。或熱甚而不食。欲云噤口痢。或因食致。腹痛下血。</p>
<p>或如豆汁。魚腦。濁水。黃膿。血沫之類。</p>
<p>後重不利。</p>
<p>裡急後重也。治可通散。</p>
<p>或發散。或下。</p>
<p>勿便澀住。濕熱未消。成休息痢。</p>
<p>因澀藥之過。病少減則不能止。成休息痢。</p>
<p>瀉泄多濕。熱食氣虛。(此四證例)如本脾泄。脹而嘔吐。洞泄不禁。腸泄則疼。瘕泄不便。(小便不利)後重莖痛。胃泄色黃。食飲不化。太素分五。(五等泄)溏泄　泄飧濡滑泄。</p>
<p>溏則便尚稠　如鴨糞溏也。飧則米穀不化。濡或糞若水。滑則大便不禁。</p>
<p>滲秘闌門。澀實對證。</p>
<p>闌門為分水之道。在小腸下口也。如以上證候分治。</p>
<p>疸乃濕熱。　曲相似。</p>
<p>有食積。亦發黃膽病也。因濕熱相　出黃。</p>
<p>消渴熱因。</p>
<p>渴飲水多而小便多者。名消渴。若飲食多而不甚渴。小便數而漸瘦者。名消中。渴而飲水不絕。腿消瘦。小便有脂液者。名腎消。其燥熱一也。</p>
<p>水腫氣致。</p>
<p>水腫治之。利小便者謂潔淨府。順氣而發散其表。謂開鬼門。木氣鬱為病。或陰虛或濕熱。或濕勝。皆宜分治。</p>
<p>自汗陽虧。盜汗陰虛。東垣有法。對證可施。頭風頭痛。有痰者多。血虛與熱。分經治可。</p>
<p>有氣虛頭痛。心煩頭痛。濕熱風動頭痛。足少陽經少壅為偏頭痛。有真頭痛者。甚則腦盡痛。犯大寒則厥逆頭痛。風湊於上成巔頂痛。或痰厥頭痛。六經頭痛者。太陽經則惡風。少陽則往來寒熱。陽明自汗發熱惡寒。太陰則痰盛體重。或腹痛。或痰癖。少陰則經不流行。而足寒氣逆為寒厥。厥陰則項亦痛。或痰唾涎沫厥冷也。有大寒犯腦齒亦痛。名曰腦風。有眉骨痛。亦曰眉棱痛。</p>
<p>頭眩眩運。火積其痰。或本氣虛。治痰為先。要痛濕熱。本或腎虛。或兼瘀血。腰痛有寒濕痛者多。風熱痛者少。大抵腰者腎之府。腎氣虛。則邪氣客之為痛矣。經云。諸經腰痛。太陽則引項脊尻。背如重狀。少陽腰痛。如以針刺其皮中。循循然不可以俯仰反顧。陽明腰痛。不可以顧。如有見者善悲。足少陽腰痛引脊內廉。厥陰則腰中如張弓弦。其病令人言。默默不慧。有太陽散行之解脈。腰痛者。帶脈腰痛。同陰之脈。足少陽之別絡為腰痛。陽維之脈腰痛。衡絡之脈。乃太陽之外絡為腰痛。足太陽會陰之腰痛。陰維飛陽之脈腰痛。陰蹺昌陽之脈腰痛。太陰別脈散脈為腰痛。少陽肉裡之脈為腰痛。其本各不同也。如閃挫實痛。又不同論。以上濕熱腎虛瘀血。皆當求本。</p>
<p>脅痛多氣。或肝火盛。或有死血。或痰流注。</p>
<p>或感寒氣鬱。病多不同。必察其本。</p>
<p>勞瘵陰虛。</p>
<p>陰虛則陽無所附。火熾血涸。成勞瘵之類。</p>
<p>癲狂陽熾。</p>
<p>心熱極則病癲。肝熱極則病狂。</p>
<p>嘔吐咯衄。</p>
<p>謂口吐。或嘔或咯唾血也。衄。謂鼻中出血。</p>
<p>氣虛脈洪。火載血上。錯經妄行。溺血便血。病同所因。夢遺精滑。濕熱之乘。或腎氣虛脫。</p>
<p>便濁本熱。</p>
<p>小便混濁也。</p>
<p>有痰或虛。</p>
<p>痰結氣鬱。或腎氣不足。膀胱熱甚而濁。</p>
<p>白濁屬衛。赤濁屬榮。</p>
<p>白者氣熱。赤血熱也。</p>
<p>熱極成淋。氣滯不通。</p>
<p>謂小便淋瀝。有淋下痛甚者。成沙石淋也。</p>
<p>血虛驚悸。氣虛耳聾。</p>
<p>經云。邪氣盛則實。精奪則虛。血不足則心虛而驚悸。氣不足則耳無精榮。故聾。</p>
<p>噦因胃病。</p>
<p>嘔吐噦俱屬胃。胃者。總司物盛滿而上溢也。吐或有物無聲。為血病。有聲無物。為氣病。</p>
<p>有聲有物。血氣俱病也。如膈噎皆本於熱。經云。三陽結則為膈。或有傷酒食。或因氣鬱。</p>
<p>或胃感風寒。皆為病吐。故有十膈五噎之分。但十膈例不能以盡病情。如血逆干槁之類。學者自宜推格。</p>
<p>疝本肝經。</p>
<p>經云。厥陰脈滑為狐疝。少陽脈滑為肺風疝。太陰脈滑為脾風疝。陽明脈滑為心風疝。</p>
<p>太陽脈滑為腎風疝。少陰脈滑為肝風疝。雖他脈中皆言風疝者。本足肝經之氣也。亦有疝瘕。厥疝。　疝。寒疝。水疝。筋疝。血疝。氣疝之類。皆厥陰發病。所謂本一標諸也。</p>
<p>痿唯濕熱。氣弱少榮。</p>
<p>經云。痿者多主於肺。肺氣熱葉焦也。大經空虛為脈痿。思想無窮。入房太甚。宗筋縱而為筋痿。或傷於濕。發痹不仁為肉痿。勞役而大渴。渴則陽氣內伐。熱舍於腎則髓空。為骨痿之類。</p>
<p>厥多痰氣。虛熱所乘。</p>
<p>經云。陽氣衰於下為寒厥。陰氣衰於下為熱厥。或令人腹滿。或暴厥不知人。或至半日遠一日。乃醒而知人也。如六經厥者。太陽則腫首頭重。足不能行。發為　仆。陽明之厥。則癲疾欲走呼。腹滿不得臥。面赤而熱。妄見而妄言。少陽之厥。則暴聾。頰腫而熱。脅痛。</p>
<p>不可以運。太陰厥。則腹滿　脹。後不利。不欲真。食則嘔。不得臥。少陰之厥。則口乾溺赤。腹滿心痛。厥陰之厥。則少腹腫痛。腹脹。莖溲不利。好臥屈膝。陰縮腫　內熱之類是也。</p>
<p>手麻氣虛。手木濕痰。或死血病。</p>
<p>有感風濕。手膊或痛或木者。</p>
<p>霍亂吐瀉。感風濕　。</p>
<p>病則揮霍撩亂而吐瀉。或風甚則轉筋。或有干霍亂者不吐瀉也。</p>
<p>心痛脾疼。陰寒之設。</p>
<p>有熱厥心痛者。身熱足寒。痛甚則煩躁而吐。頭汗出。有大實心痛者。因氣而實。卒然發痛也。寒厥心痛者。手足逆而通身冷汗出而不渴。有寒厥而暴痛者。其真心痛。手足青至節者即死。中脘痛者。亦屬脾疼之類。氣熱煩勞。令人煎厥。</p>
<p>煎厥則氣逆。目盲耳閉。</p>
<p>氣逆大甚。使人薄厥。</p>
<p>因大怒傷肝。肝氣逆。胸中不和。甚則嘔血衄血也。</p>
<p>濁氣在上。則生　脹。清氣在下。則生飧泄。</p>
<p>濁氣不降。清氣不升為病。</p>
<p>陰火之動。發為喉痹。</p>
<p>心主與三焦氣熱一也。一陰一陽。內結為喉痹。</p>
<p>陽水變病。飧泄乃是。</p>
<p>即清氣在下生瀉痢也。</p>
<p>三陽病結。乃發寒熱。下生癰腫。及為痿厥。</p>
<p>大小腸膀胱之脈為三陽結。謂之隔也。</p>
<p>二陽之病。病發心脾。男子少精。女子不月。</p>
<p>手足陽明之脈為二陽結。則為消。心受之。則血不流。脾受之。則味不化。一陽發病。</p>
<p>少氣嗽泄。</p>
<p>三焦之脈不利。乃上為咳。下為泄利。</p>
<p>心火不寧。其動若掣。</p>
<p>心掣不定。胸中刺氣痞壅。上若咳。下若泄利也。</p>
<p>三陰俱寒。結氣化水。痿易不足。四肢不舉。</p>
<p>脾肺肝脈為病。</p>
<p>二陰一陽。脹滿善氣。</p>
<p>心腎膽脈俱逆。故下虛上盛為病。</p>
<p>二陽一陰。病發風厥。</p>
<p>肝膽心主之脈變病。</p>
<p>結陽肢腫。</p>
<p>諸陽脈不行。陰府留結成熱。為四肢腫滿。</p>
<p>結陰便血。</p>
<p>陰氣內結。不得通行。血氣無宗。滲入腸。則下血也。</p>
<p>榮虛衛寒。病乃肉苛。腎虛身冷。名為骨痹。肉苛不仁。骨痹腰痛。</p>
<p>血虛則氣實。肌肉不仁。致乃　重。腎虛。風寒濕客之。則節攣腰痛。如人身寒。湯火濃衣不能熱。是腎脂枯不長。虛而身冷。</p>
<p>寒客在上。胃寒腸熱。水穀不化。痞脹而泄。熱氣居上。腸寒胃熱。消穀善飢。腹脹便澀。蘊熱怫鬱。乃生諸風。風寒與濕。合而成痹。</p>
<p>經云。風寒濕合疾為行痹。獨陽勝者為痛痹。濕勝者為著痹。在血脈之中。乃周於身為周痹。</p>
<p>小腹上按之內痛。若沃以湯。澀於小便上為清涕。者為胞痹。如多飲不得溲。時脹痛飧泄。</p>
<p>食不消。或氣喘者。為腸痹。陽氣多。陰氣少。肌內熱。上如鼠行。　然而悶為熱痹。陽氣少。陰氣多。與病相益為寒痹。濕勝則痹多汗。筋攣節痛不可行為筋痹。</p>
<p>骨痛不可舉而酸疼者為骨痹。凡痹之客五臟者。肺痹則煩滿喘而嘔。心痹者。脈不通。煩則心下鼓暴。上氣而喘嗌干肝。痹者。夜臥則驚。數小便。腎痹則善脹。行踵不前。頭不舉。</p>
<p>脾痹者。四肢怠墮。發咳嘔汁。上為大。寒痹在於骨則重。在於脈則血凝而不流。在於筋則屈不伸。在於肉則不仁。在於皮則寒。此五者。則又不痛也。凡痹之類。逢寒則屈。逢熱則縱也。膏粱之變。饒生大疔。</p>
<p>言飲食膏粱濃味之人。臟腑蘊積熱毒。或服金石之藥。毒瓦斯傷血。血結成諸瘡腫也。如疔瘡有發蛇眼疔者。則有兩個。麻子疔。則如麻子。臍疔。多生臍上者是。刀鐮疔者。因受傷成瘡。茱萸疔。內凹外起。水泡疔。極癢透骨。搔則快然。紅絲疔者。瘡邊有紅絡直上如線。火疔極紅。三日大發腫。墨疔者。如黑泡。櫻桃疔。如櫻桃之狀。浮漚疔。半低半高。脅疔。</p>
<p>生脅上者是。爛疔。則瘡水流到處便成瘡。雌疔者。或又有一個在他處。以水　之則見。有石疔。色黑如豆而硬。又每日添生三疔六疔之類。</p>
<p>榮氣不從。逆於肉理。乃生癰腫。</p>
<p>諸惡毒腫生瘡。大而淺者為癰。小而根深者為疽也。有發腦者。生頭上。初如黍米。四畔赤腫硬。遍耳項。或發成癰也。如腦疽者。初如黃枳實。破後如盞底。深寸許。發背者。發於背俞。亦搭背之類。熱毒內聚。血氣不行。結而成胃脘雍。或生肺癰。或腸痛。或有著骨上生者為附骨癰。貼骨癰也。或諸惡瘡。有面露瘡。作膿窠如香瓣類。髭須瘡則有膿窠。金腮瘡能蝕透腮頰。初生如米豆大。鬈毛瘡在頭中。初生如葡萄。痛不能止。發際瘡初生如黃米大。或癢或痛。咽漏瘡者。生結喉上。如癰腫。破後有眼子。綠唇瘡。徹耳瘡。鼻疳瘡。能侵蝕鼻柱也。睛漏瘡。生目大　。必出膿汁。有孔子。頤頦瘡。又名獨骨瘡。生腮後者是也。玉枕瘡。生枕骨上。如癰。破後有筋頭。粉鈴瘡繞項赤爛。多汁。天柱瘡。生脊大椎上。如錢大。赤色。出黃汁不止。婦人為小兒吮乳所吹腫者。為吹乳。或熱毒而成。乳頭烈有乳癰。乳崖。乳核。亦名乳　。有乳汁不出。蓄積內結成癰名妒也。有魚眼瘡。　瘡。透掌漏瘡。反花瘡。破則肉反於外。浸淫瘡生於身。初生微癢。後有水出。下注瘡生於腳膝間。膿水不絕。連年不愈。水毒　腫。因傷於濕。肌肉不仁成瘡也。冷瘡者。因經年不愈而成。熱瘡初發。赤根白頭瘭汁出。甚者腐為膿血。或痛或癢。月蝕瘡小兒生於兩耳上。及竅旁者是。或云小兒指月而生。此未必然。蓋風濕熱毒也。凍爛腫瘡者。因寒。氣血凝聚不流。則皮肉不溫。成聚　赤腫痛而成瘡也。俗謂之凍爛　瘡者。赤根白頭。相對並生。如小豆。或如茱萸子。</p>
<p>浸淫癢痛。抓之汁出。有漆瘡者。中漆毒也。有灸瘡。因為火艾過多。　毒不依六俞。及食毒不慎房室。腫痛久不瘥者。　瘡者。瘡久膿潰不止。內經謂陷脈為　也。有熱腫。毒腫。氣腫。風腫。瘡腫。小而出膿血者為癤。受風濕而肌膚中生中浸淫。或搔之汁者。或白屑起者。為癬為疥。熱毒莞於四肢而腫為結陽。筋骨熱甚。爪甲成瘡而脫落。名伐指丹毒者。熱毒之氣。暴發於皮膚。其色如塗丹之赤。流移不定。暈入腹即死。痱瘡者。經謂汗出見濕。乃生痤痱。俗謂之痱子。有惡脈者。其狀赤絡忽起。蘢蓯而聚。若死　之狀。有留氣上結如核。多生於耳旁。此留氣結核及為瘰　。有馬刀挾癭瘡。螻蛄瘡。則走串。櫻桃瘡者。有如顆粒高起。紅赤。若其狀若下垂瘡。便毒天瘡。無名惡腫之類。故經云。營逆則血鬱。血鬱則熱聚為膿。以上瘡論治例。並出聖濟總錄。</p>
<p>瘡瘍恁脈。治乃不惑。身重脈緩。濕勝除濕。身熱脈大。躁熱發腫。退熱涼榮。眩運動搖。</p>
<p>痛而脈弦。降痰去風。氣澀衛滯。燥渴脈澀。補血瀉氣。食少惡寒。脈緊細者。宜瀉寒水。</p>
<p>辨經部分。詳審為治。</p>
<p>以上治瘡脈訣也。</p>
<p>濕熱生蟲。</p>
<p>厥陰風水生蟲。三焦陽火熱甚。而肺多受克。金被火克。不能制木。木甚。兼脾胃濕熱。是以生蟲如寸白長蛔血鱉之類。</p>
<p>水積痰飲。</p>
<p>如人素壯今瘦。水走腸間。歷歷有聲。謂之痰飲。有飲後水流在脅下。咳唾引痛。謂之懸飲。水流於四肢。當汗出而不出汗。身體重痛。謂之溢飲。咳逆倚息。短氣不得臥。其形如腫。謂之支飲。又有留飲者。背寒如手大。或短氣而渴。四肢歷節疼。脅下痛引缺盆咳則轉甚。則伏飲者。膈滿嘔吐喘咳。發則寒熱腰背痛。目注出。其人振振惡寒。身　惕。痰證如風痰。熱痰濕痰。酒痰。食痰。寒痰之類。</p>
<p>目痛赤腫。精散榮熱。</p>
<p>目之五輪。乃臟腑之精華。宗脈之所聚。其白人屬肺金。肉輪屬脾土。赤脈屬心火。黑水神光屬腎水。兼屬肝木。如白人變赤。火乘肺也。肉輪赤腫。火乘脾也。黑水神光被翳。火乘肝與腎也。赤脈貫目。火自甚也。有雀目病。則不能夜視及內障。乃暴怒大憂所致。暴赤腫痛。羞明隱澀。腫痛不已。眼匡紅爛。生眵淚下。拳毛倒睫。視物昏花。翳膜遮睛。皆精榮失守。</p>
<p>風熱盛及血熱也。</p>
<p>牙痛齦宣。寒熱亦別。</p>
<p>牙有惡寒作痛者。有惡熱作痛。有惡寒又惡熱而作痛者。有惡寒飲少熱飲多而作痛。有惡熱飲少寒飲多而作痛。有牙齒動搖作痛。有齒袒而為痛。有齒齦為疳所蝕缺血出為痛。有齒齦腫起為痛。有腺胃中有風邪。但覺風雨作痛。又有牙上多為蟲所蝕。其齒缺少而色變為蟲牙。齒縫中有血出不止為牙宣。有胃氣少不能於寒。袒露其齒作痛。有痛而穢臭不可近者。蓋手陽明之脈。貫絡下齦。惡寒飲而喜熱。足陽明之脈。貫絡上齦。喜寒飲而惡熱。牙者腎之余。亦喜寒。寒者堅牢。為病不一。熱甚則齒動。齦齦相脫作臭。痛不已。有風熱內甚而痛。有風寒客之為痛。大寒犯腦赤連牙痛之類。</p>
<p>五臟本病。熱爭重HT　(音捏)經云。肝熱病者。小便先黃。腹痛多臥。煩赤身熱。熱爭則狂。脅下滿而痛。煩躁不安。心熱病。則心不樂乃熱。熱爭心痛而煩悶善嘔。頭痛面赤。熱而無汗。脾熱則頭重頰痛。顏青欲嘔。身熱煩心。腹滿泄瀉。熱爭則腰痛。肺熱則洒洒然惡寒。舌黃而身熱。熱爭喘咳。痛走胸背。不得太息。頭痛不堪。汗出而惡寒。腎熱病。則腰痛　酸。渴而身熱。熱爭項強。</p>
<p>寒且酸。足熱而言懶。頭痛　然。如五氣所病。心為意。肺為咳。肝為語。脾為吞。腎為欠。胃為氣逆。為噦為恐。大小腹為泄。下焦溢為水。膀胱不利為癃。</p>
<p>不約為遺溺。五病所發。五邪所亂之類。</p>
<p>六腑不和。留結為癰。五臟不和。九竅不通。腑臟相移。傳變為病。不可勝紀。經云。</p>
<p>心移寒於肺。則為肺消證。心移熱於肺。則胸滿煩心。煩躁引飲短氣。鬲熱為鬲消證。肝移寒於心則狂。肝移熱於心心病謂之生陽。不過四日死。脾寒移肝。癰腫而筋攣。肺寒移腎。其證如囊裹漿。或遍身腫滿。按腹不堅。疾行則濯濯有聲。或咳不定。為涌水證。脾熱移肝。則血溢為驚衄證。膽受胃熱。鼻中血妄行為衄。或血污不止。膽移熱於腦。腦熱滲下。則濁涕不止。久而不已。成衄血疾。腎熱移脾。則傳為虛腸　。死不治。膀胱本熱則為癃。病溺血。膀胱移熱於小腸。隔腸不便。上為口縻證。大腸移熱於胃。則善食而瘦。胃熱移膽。俱為食證。腎寒移脾。則癰腫少氣。腸有積熱。則津液壅滯腹痛而便澀。為　瘕證。病幾治例。見宣明論。間藏者存。傳其所生。</p>
<p>經云。假令心病傳脾。脾傳肺。肺傳腎。腎傳肝。肝傳心。是傳其所生。故有病雖重必生。</p>
<p>七傳者死。傳其所制。</p>
<p>如心病傳肺。肺傳肝。肝傳脾。脾傳腎。腎傳心。火受水之傳一也。肺金復受火之傳再也。</p>
<p>自心而始。以次相傳。至肺之再。是七傳也。故七傳者死。一臟不受再傷也。是傳其所勝爾。</p>
<p>五臟有積。肝曰肥氣。在左脅下。大如覆杯。或有頭足。久則變病。咳逆　瘧。</p>
<p>連歲不已。心積伏粱。病起臍上。其大如臂。上至心下。如久不愈。令人煩心。脾積痞氣。</p>
<p>其在胃脘。覆大如盤。久而不愈。四肢不舉。乃發黃膽。雖食而瘦。肺積息賁。在右脅下。</p>
<p>覆大如杯。如久不已。令人寒熱。喘發肺癰。腎積奔豚。發於小腹。上至心下。乃若豚狀。</p>
<p>下上無時。如久不已。令人喘逆。骨痿少氣。經云。積者。一臟因受勝己之邪。而傳干己之所勝。適當旺時。拒而不受。復還於勝己者不肯受。因結為積也。有食積。則酸心腹滿。酒積。目黃口乾。氣積。噫氣痞寒。涎積。咽如拽鋸。痰積。涕唾稠黏。癖積。兩脅刺痛。水積。足脛脹滿。血積。打撲肭瘀。及肉面一切物食所積之類。在六腑為聚。鼓脹發蠱。</p>
<p>有腹脹。寒脹。熱脹。氣脹。大熱脹。水腫而脹。甚則為蠱。夫脹者。由脾胃之氣虛弱。不能運化精微而制水穀。聚而不散。而成脹也。有心腹脹滿。旦食不能暮食。致胃逆不散者名鼓脹。有小腹急痛。便溺失精。溲而出白液。亦名為蠱病。中滿郁痞。</p>
<p>經云。臟寒生滿病。如太陰所至為中滿。為蓄滿。濕土之化。脾濕有餘。腹滿食不消。</p>
<p>無陽則不能生化也。如脹之類郁。如氣不能消散升降為結聚而痞悶也。心下滿而不痛為虛痞。積飲隔滯為實痞也。</p>
<p>開提其氣。升降是宜。</p>
<p>此治鬱閉痞滿之大法。</p>
<p>人身之本。脾胃為主。頭痛耳鳴。九竅不利。脹胃所生。胃氣之虛。虛極變病。五亂互作。</p>
<p>五臟五行之氣不和。更相傳變為病也。</p>
<p>東垣所論。王道之學。</p>
<p>東垣李明之先生。述脾胃盛衰論。一虛一實。</p>
<p>氣亂於衛。血逆於經。血氣不和。故一虛一實。乃氣血之並也。見素問調經論。五實五虛。</p>
<p>五實者。脈盛為心。皮熱為肺。腹脹為脾。前後不通為腎。悶瞀為肝也。五虛者。脈細為心。皮寒為肺。氣少為肝。前後泄利為腎。飲食不入為脾也。謂一病五者悉具。</p>
<p>五勞七傷。六極乃HT　。</p>
<p>久視傷血。久臥傷氣。久坐傷肉。久立傷骨。久行傷筋。又志思憂心與疲勞為五勞也。肝傷善夢。心傷善忘。脾傷善飲。肺傷善痿。腎傷善唾。骨傷善飢。脈傷善嗽。為七傷也。傷勞為六極。氣血筋骨髓精病也。</p>
<p>五郁七情。九氣所為。怒則氣上。喜則氣緩。悲則氣消。恐則氣下。寒則氣收。炅則氣泄。</p>
<p>驚則氣亂。勞則氣耗。思則氣結。(此為九氣)憂愁思慮。甚則傷心。形寒飲冷。過則傷脾。</p>
<p>恚怒氣逆。過則傷肝。飲食勞倦。甚乃傷脾。坐臥濕地。強力入水。故乃傷腎。(次為七情)此因氣動。形神自病。喜怒不節。勞形厥氣。氣血偏盛陰陽相乘。陰勝陽病。陽勝陰病。陽勝則熱。陰勝則寒。重寒則熱。重熱則寒。寒則傷形。熱則傷氣。氣傷則痛。形傷則腫。先痛後腫。氣傷形也。先腫後痛。形傷氣也。陰陽變病。標本寒熱。如大寒甚。熱之不熱。謂以熱藥治寒不退。</p>
<p>是無火也。熱來復去。晝見夜伏。夜發晝見。時節而動。是無火也。當助其心。心虛則熱收於內。故外熱不常。</p>
<p>如熱而甚。寒之不寒。</p>
<p>謂以寒涼藥治熱病。而熱不能退。</p>
<p>是無水也。寒動復止。倏忽往來。時動時止。是無水也。當助其腎。</p>
<p>腎虛則寒動於中。故外寒不常。</p>
<p>內格嘔逆。食不得入。是有火也。病嘔而吐。食入反出。</p>
<p>謂食入良久乃吐。</p>
<p>是無火也。暴逆注下。食不及化。是有火也。溏泄而久。止發無常。是無水也。心盛生熱。腎盛生寒。</p>
<p>此心火極而發熱。腎水盛而生寒。非虛熱虛寒比。</p>
<p>又熱不寒。是無火也。寒不得熱則無水也。寒之不寒。責其無水。熱之不熱。責其無火。熱之不久。責心之虛。寒之不久。責腎之少。</p>
<p>又熱不寒者。或因寒勝格陽在外。本非熱也。寒不得熱者。或因陽極似陰。火盛拒寒在外。</p>
<p>而不得熱。本非寒也。寒之不寒。乃水之源衰。火之勝也。熱之不熱。火不源衰。水之勝也。</p>
<p>審察病機。無失氣宜。紀於水火。余氣可知。婦室病多。帶下赤白。　瘕　疝。婦人有病。</p>
<p>六氣四因。皆同男子。余胎產經水之疾。不可枚舉。如帶下赤者。熱入小腸。白者。熱入大腸。若痢下也。若經水不調。血聚為　瘕。小腹下腫硬。為　疝之疾。</p>
<p>氣血為病。經閉不行。</p>
<p>婦人有胃熱。善食瘦而津液不生。血海竭而名血枯。或脾胃久虛。或形羸氣血俱衰。而致經水不行者。非以上之病。經成孕乃不行也。</p>
<p>或漏不止。</p>
<p>濕熱太迫。則經漏不止。或心氣不足。火熱大熾。旺於血脈中。或身體困熱。心煩不得眠臥。而致經水漏下。陰虛陽搏為崩。</p>
<p>經過作痛。虛中有熱。</p>
<p>經水行過而腹中作痛者。血虛有熱也。</p>
<p>行而痛者。血實之設。</p>
<p>將行而作痛乃血實。</p>
<p>如不及期。血熱乃結。過期血少。閉或血枯。淡者痰多。紫者熱故。熱極則黑。調榮降火。</p>
<p>婦人經水。如行不依期。非有妊娠。皆以上之病。治須調血養血。清陽降火。有寒者溫之。</p>
<p>調理妊娠。清熱養血。</p>
<p>妊娠有正氣不足。寒熱不調。陰陽不得升降。故病有發風痹。忽悶不識人而眩倒者。為子癇證。有胎氣上逼而脹滿或疼者為子懸。身忽如水腫多於足腫者為子腫。小便澀者為子淋。煩悶者為子煩。腹大甚者胎有水氣。或發寒熱。或胎漏下血。或動為轉胞及不能言語之類。皆胎氣不足。治須順氣清熱養血也。</p>
<p>一當產後。如無惡阻。大補氣血。</p>
<p>惡阻者。如惡露不盡。血上搶心腹痛之類。治可下去其敗血。如虛汗不止。遍身疼痛。</p>
<p>或虛煩。小便不禁。玉門不閉。蓐勞血虛而暈之類。皆虛甚也。皆當大補血益氣。</p>
<p>雖有雜證。以末治之。</p>
<p>產後如中風傷寒六氣為病之類。雖正治。亦須兼補其氣血。經言切不可犯禁。謂汗下利小便也。</p>
<p>大凡小兒。過暖生熱。熱極生風。風痰積熱。隨病為治。生有胎惡。月裡生驚。生赤生嘔。生黃不便。臍風撮口。</p>
<p>受胎毒甚者。則發驚搐。生赤則如丹塗肌肉。邪氣上而嘔吐。母受濕熱。傳胎而發黃。</p>
<p>有生下日久不得大便者。臍風多在生下半月內有此證。蓋受胎惡之甚也。</p>
<p>變蒸發熱。</p>
<p>小兒變蒸。乃長經脈及腑臟智意也。</p>
<p>風癇癲癇。</p>
<p>錢氏分五癇。有犬癇。羊癇。牛癇。雞癇。豬癇。其狀各不同。</p>
<p>急慢驚風。</p>
<p>如身熱面赤。即發搐搦。目睛上視。牙關緊急者。陽證為有餘。如因吐利。或吐不瀉。</p>
<p>日漸困而色黃。脾虛冷發驚。不甚搐搦。目微上視。手足動者。陰證為不足也。</p>
<p>螈　驚愕。</p>
<p>驚風熱甚。則手足戰掉。攣　驚恐愕然也。</p>
<p>驚悸昏冒。</p>
<p>驚則心悸不寧。熱甚則昏昧。</p>
<p>暴喘吐　。</p>
<p>有喘甚者。俗言馬脾風。吐乳食為　。</p>
<p>腹脹鼻　嗽。</p>
<p>脹有寒脹。熱脹。脾脹之類。傷風寒為嗽者多。或為乳食鹽物所傷而發　喘。</p>
<p>中惡天吊。</p>
<p>有中惡氣卒然而病。如目直上視。搦身直強宮瞪之類為天吊。</p>
<p>鵝口重舌。</p>
<p>白屑滿舌為鵝口。舌下附腫如舌而短為重舌。心脾熱甚也。</p>
<p>木舌弄舌。舌脹大為木舌。脾熱甚。舌絡緊。乃弄舌也。</p>
<p>客忤夜啼。</p>
<p>心氣不足。遇人客或物。則忤而驚。脾臟冷而痛。多夜啼。</p>
<p>膿耳鼻疳。</p>
<p>耳內生瘡。膿耳汁出。三焦氣熱病也。鼻內有瘡生疳。</p>
<p>眉煉丹流。</p>
<p>眉骨上生瘡。太陽經風熱也。丹流者。俗云火焰丹。肌肉上若塗丹。血熱甚也。</p>
<p>陰腫便濁。</p>
<p>睪丸發腫。肝經熱勝也。小便或白濁亦濁。</p>
<p>舌爛口臭。</p>
<p>心熱下陷。風自盛也。胃熱則口臭。</p>
<p>齦蝕牙疳。</p>
<p>風熱所勝。蝕牙齦至快。俗言走馬牙疳。</p>
<p>蟲痛吐蛔。</p>
<p>小兒哭而坐臥不安。自按心腹。時大叫。或青或黃。唇慢。目無精光。蟲痛也。</p>
<p>疳瘦解顱。</p>
<p>錢氏分五臟疳。筋疳骨疳之類。腎虛解顱也。</p>
<p>便青頰赤。</p>
<p>驚氣內感。脾氣不和。故瀉。色青。心熱上攻。故頰赤。</p>
<p>食土飲水。</p>
<p>食土者。胃氣不足也。身熱飲水。病在內。不飲水。熱在外也。</p>
<p>吐瀉青白。</p>
<p>瀉利青白色。穀不化者胃寒。乳不化者傷食。瀉黃紅赤黑者。脾胃熱毒故也。</p>
<p>昏睡露睛。</p>
<p>睡而露睛者胃虛熱。不露睛者胃實熱。睡而嚏悸者。將發瘡疹也。</p>
<p>呵欠面黃。</p>
<p>呵欠而面赤者風熱。青者驚風。黃者脾虛。驚而睡者內熱。呵欠氣熱者。</p>
<p>傷風也。</p>
<p>呷牙咬齒。</p>
<p>手足陽明內熱為病。</p>
<p>瀉痢脫肛。</p>
<p>瀉痢久則肛門縱下。濕熱甚而緩縱也。</p>
<p>癰瘍癮疹。瘡痘發斑。</p>
<p>錢氏論。小兒受胎惡。發瘡疹。初欲發時。有五臟現證。呵欠頓悶者。肝也時發驚悸。</p>
<p>心也。乍涼乍熱。手足冷。脾也。面赤。腮頰赤。噴嚏。肺也。惟腎在腑之下。不能食穢。胎毒不受。無候也。毒出歸一證。肝水泡。肺膿泡。心斑。脾疹也。</p>
<p>驚疳諸積。</p>
<p>如食積乳積之類。</p>
<p>大率為病。肝與脾經。</p>
<p>此二經病多。</p>
<p>脈治憑允。</p>
<p>小兒虎口色脈。如紫。傷風。紅傷寒。青驚。白色疳。黑即中惡。黃脾病也。</p>
<p>錢氏方論。男女病情。飲食居處。暴樂暴苦。始樂後苦。皆傷精氣。先富後貧。病日失精。</p>
<p>先貴後賤。雖不中邪。病從內生。名曰脫營。身體日減。氣虛無精。良工勿失。脈病證治。</p>
<p>知微可已。舉腹痛經。陰證治例。海藏所云。玄機之秘。中脘痛者屬脾土。臍腹痛者屬少陰。少腹小腹厥陰分。三部殊塗細酌斟。太陰中土主理中。少陰四逆真武同。厥陰宜當歸四逆。重則回陽霹靂攻。當汗不汗即生黃。當汗汗多因致　。不當汗而若汗之。蓄血定應無改易。汗多或有變亡陽。陰證脈候須仔細。(並出此事難知)傷寒咳逆脈散死。仲景之言不虛偽。大抵源流失下生。咳逆喉中陰不內。便　唯宜用瀉心。便硬尤宜大承氣。二藥神功作者誰。東垣潔古為良制。</p>
<h4>以上三病例並傷寒法(出陰證略例)</h4>
<p>傷寒一日在太陽。頭頸項痛腰脊強。</p>
<p>太陽傳陽明。為巡經傳。少陽名曰越經傳。傳太陰名誤下傳。傳少陰名表傳裡。傳厥陰名巡經得度傳。</p>
<p>二日陽明傳已受。身熱目疼鼻干候。三日少陽胸脅疼耳聾俱病在表經。三陽經絡或一病。未入於臟實汗證。</p>
<p>經大略言之。三陽亦有入腑者。入腑則宜下。</p>
<p>四日陽極傳太陰。腹滿嗌干脈近沉。五日少陰傳向裡。口燥舌乾渴不已。六日病經循厥陰。煩滿囊縮熱劇深。三陰已病即當下。</p>
<p>三陰亦有在經者。在經則宜汗之溫之。</p>
<p>若重感之未易瀉。何知病為兩感寒。太陽病與少陰連。頭痛口乾煩滿渴。榮衛不通腑臟熱。</p>
<p>陽明即與太陰病。腹滿身熱食不進。譫語傳見二日中。三日少陽與厥陰。耳聾囊縮更乃厥。</p>
<p>水漿不入不知人。五臟已傷六腑閉。榮衛不行委和滯。</p>
<p>凡此之際宜切思。溫吐汗下須仔細。其不兩感病傳者。七日太陽病且愈。以下一日退一經。</p>
<p>六經病愈藏脈通。至十二日大邪盡。病患神爽血氣平。若感異氣變他病。大法當如治壞證。</p>
<p>表之表者大發汗。表之裡者下且緩。裡之裡者下即通。裡之表者潤漬同。適當盡脈陰陽理。</p>
<p>表裡因之勿妄攻。</p>
<h4>傷寒證候(一首集次見傷寒百證歌)</h4>
<p>傷寒之候。悉須審別。證傳唯六。</p>
<p>足三陰三陽為六經證。</p>
<p>經常有九。</p>
<p>六經外有太陽陽明。正陽陽明。少陽陽明三證也。</p>
<p>陽表陰裡。</p>
<p>表為陽。裡為陰也。</p>
<p>傳變兩感。</p>
<p>傳為次第傳經。變為不傳經而成異證者。陰陽俱病曰兩感又曰雙傳。</p>
<p>謂表裡證俱也。</p>
<p>病有壞異。</p>
<p>有失於治之誤為壞證者。有形證相應。服藥間病忽變異。是災怪也。</p>
<p>合病並病二陽俱病為合病。若二陽先俱病。後一陽自病曰並病也。</p>
<p>一病百合。</p>
<p>病有首尾。只有一經者。如百脈一宗俱病曰百合病。</p>
<p>辨風與暑濕溫痙六證與傷寒不同。</p>
<p>寒本陰邪。鬱而變熱。怫結轉盛。手經冤熱。</p>
<p>傷寒只病足經。如不大便。煩躁發喘。斑證衄血之類。皆手經之冤熱病也。又守真云。</p>
<p>陽邪為病傳手經。陰邪為病傳足經。</p>
<p>表裡虛實。</p>
<p>謂表虛裡實。表實裡虛。</p>
<p>表裡寒熱。</p>
<p>有外寒內熱。外熱內寒者。</p>
<p>表裡停水。</p>
<p>表有水則多熱。或咳或利。裡有水則脅下痞。或硬。身涼汗出脅痛。</p>
<p>寒熱發厥。</p>
<p>有寒厥熱厥證。</p>
<p>陽證陽毒。</p>
<p>三陽獨盛。陰虛暴絕也。</p>
<p>陰證陰毒。</p>
<p>三陰病深。陷而陽絕也。</p>
<p>陽證似陰。</p>
<p>陰證見而脈沉滑有力。</p>
<p>陰證似陽。</p>
<p>陽證見而脈沉微。</p>
<p>陽盛拒陰。陰盛格陽。陰陽偏盛。陽結陰結。</p>
<p>陽熱之邪。偏結於內。陰氣不能相雜。故其證能食。不大便。此為內實。名曰陽結。陰寒之邪。偏結於內。陽氣不能相雜。故其證不能食。身體重大便反硬。名曰陰結陰易陽易。</p>
<p>男子病新瘥。而婦人與之交。病曰陽易。婦人新病瘥。而男子與之交。病曰陰易也。</p>
<p>發熱潮熱。</p>
<p>熱動復止。而熱不常。或日晡發熱。皆為潮熱。</p>
<p>惡風惡寒。</p>
<p>傷風則惡風。如惡寒發熱者。病在陽。只惡寒。病在陰。如汗後惡寒者。表虛也。</p>
<p>往來寒熱。</p>
<p>或寒或熱。休作有時也。</p>
<p>汗後熱在。</p>
<p>汗後復熱。多內實。或他經熱在。</p>
<p>下之仍熱。</p>
<p>有表證未盡。或陰微而復熱。</p>
<p>結胸與痞。</p>
<p>按之心下痛為小結胸。不按自痛為大結胸。按之不痛。胸中氣結。或滿為痞也。</p>
<p>臟結蛔厥。</p>
<p>大便閉為臟結。胃中虛冷。因成蛔厥。吐長蟲也。</p>
<p>發黃發狂。</p>
<p>有蓄血發黃。太陽傳本也。有結胸發黃。下之早。太陽陽明本也。有濕熱發黃。陽明與太陰也。有寒濕發黃。少陽與太陰也。肝熱者狂。心熱者顛。</p>
<p>發　癮疹。</p>
<p>有下早。有失下。或胃熱極而發。皆陽明熱甚入於手太陰。斑則紅點暈。癮疹起疙瘩也。</p>
<p>發喘咳逆。</p>
<p>氣逆則喘。難布息也。裡病失於下。則咳逆。</p>
<p>衄血證諦。</p>
<p>鼻出血曰衄。熱結下焦為蓄血失血證諦。</p>
<p>唾膿咯血。</p>
<p>重亡津液。熱在上焦。肺痿而吐膿血也。</p>
<p>譫語鄭聲。</p>
<p>實則譫語。虛則鄭聲。</p>
<p>煩躁發渴。</p>
<p>火入於肺成煩。火入於腎成躁。少陰證多渴咳水也。六經皆有渴證。</p>
<p>心中懊　。</p>
<p>反覆顛倒不安。心亂如有所失也。</p>
<p>心下悸動。</p>
<p>振寒而動曰悸。亦曰怔忪。</p>
<p>氣上衝胸。</p>
<p>若吐若下後而裡虛。心下逆滿。氣衝上也。</p>
<p>外氣怫鬱。</p>
<p>汗吐或下後。虛極腹熱。則外邪鬱於表。</p>
<p>驚惕冒悶。</p>
<p>忽身體振動曰驚惕。昏冒如悶。</p>
<p>霍亂頭疼。</p>
<p>吐利並作曰霍亂。三陽與厥陰傷寒俱有頭疼多。</p>
<p>乾嘔吐逆。</p>
<p>曰乾嘔。食入即吐曰吐逆。</p>
<p>腹脅咽疼。</p>
<p>有腹內時發痛者。有脅下痛者。咽嗌干痛者。</p>
<p>膈內拒痛。</p>
<p>表未解。更胃中虛邪乘入結於內。故痛。</p>
<p>身疼身重。</p>
<p>榮血不利為疼。濕勝也。汗後疼者。邪未盡也。</p>
<p>咳嗽涎盛。</p>
<p>火乘肺為嗽。停水傷風寒濕氣。皆為嗽。脾熱則涎盛。</p>
<p>頭汗自汗。</p>
<p>裡虛表實。陽氣上行。故頭上汗出。或際頸而還。病發黃也。凡傷風。風溫。風濕。中暑。柔　。霍亂。下利。四肢逆冷。及陽明證。皆自汗。</p>
<p>漏汗不止。</p>
<p>陽氣不足。因發汗而益虛。皮腠不固而汗不止。</p>
<p>陽躁無汗。</p>
<p>陽極而躁熱無汗。</p>
<p>腹滿遺尿。</p>
<p>氣澀不通。壅而為腹滿。下焦不禁。遺溺出也。</p>
<p>舌上滑胎。</p>
<p>丹田有熱。胃中有寒也。</p>
<p>下利便血。</p>
<p>泄瀉曰下利。曰飧泄。下焦不約。熱甚而便血也。</p>
<p>晝夜偏劇。</p>
<p>陰虛則夜不寧。陽虛則晝不安。</p>
<p>口燥咽乾。</p>
<p>陰證內熱。津液不足也。</p>
<p>婦人傷寒。熱入血室。</p>
<p>發熱間。經水適來。而血室空虛。故邪氣乘入也。</p>
<p>傷寒似瘧。</p>
<p>忽寒忽熱。休作有時。或汗已復熱。</p>
<p>邪中二焦清邪中於上。濁邪中於下。</p>
<p>有多眠證。</p>
<p>衛氣陷於陰病。及風濕狐惑等證。皆多眠。</p>
<p>或不得眠。</p>
<p>陰躁或熱甚。心煩則不能眠。</p>
<p>二便不通。</p>
<p>大便堅曰脾約。不通曰不更衣。小便不通。下焦不利也。胃中干。或熱甚故爾。</p>
<p>耳聾喉痹。</p>
<p>經壅而不利為聾。清氣不得上通也。熱氣上壅為痹。</p>
<p>渾身壯熱。</p>
<p>陰微陽勝也。</p>
<p>食復勞復。</p>
<p>瘥後勞復。肉食所傷。再病曰食復也。</p>
<p>小腹硬滿。</p>
<p>熱氣深陷。客於下焦。便小腹硬滿也。甚則尿血。</p>
<p>大便堅黑。</p>
<p>熱邪深陷也。</p>
<p>手足逆冷。</p>
<p>陽虛陰勝。厥逆也。</p>
<p>漱水不咽。</p>
<p>熱邪在經。未傳裡也。</p>
<p>肉上粟起。</p>
<p>發熱病。因冷水　之故也。</p>
<p>腹內雷鳴。</p>
<p>寒氣相搏也。</p>
<p>下利溏垢。</p>
<p>寒則泄如鴨溏。熱則垢膩。</p>
<p>身難轉側。</p>
<p>濕勝也。</p>
<p>或如蟲行。</p>
<p>身癢如蟲行者。久虛故也。</p>
<p>臍內築動。</p>
<p>心氣虛而腎氣發動也。</p>
<p>項強KT　KT太陽病。表實也。</p>
<p>揚手擲足。循衣撮空。</p>
<p>肝熱甚乘肺也。</p>
<p>狐惑聲嗄。</p>
<p>蟲食上部聲嗄曰惑。蝕下部咽乾曰狐。</p>
<p>筋惕肉　。</p>
<p>體惕振搖而動。　證也。</p>
<p>瞪目直視。</p>
<p>心腎氣欲絕也。</p>
<p>汗出如油。</p>
<p>正氣已脫。</p>
<p>喑啞不言。</p>
<p>熱傷少陰之絡脈也。</p>
<p>舌卷囊縮。</p>
<p>陰邪下陷也。</p>
<p>鼻內煤煙。</p>
<p>陰毒之深也。</p>
<p>指甲青黑。</p>
<p>肝氣絕也。</p>
<p>目盲見鬼。</p>
<p>脫陰脫陽也。</p>
<p>九竅出血。</p>
<p>下厥上竭也。</p>
<p>環口黧色。</p>
<p>脾氣絕也。</p>
<p>螈　口噤。</p>
<p>變　證也。</p>
<p>轉筋入腹。</p>
<p>邪氣入裡。與宿積相連。引痛入陰筋也。</p>
<p>腳攣嚙齒。</p>
<p>風痹甚。陰氣不足也。</p>
<p>叉手冒心。</p>
<p>胸中陽氣不足故也。</p>
<p>常須識此。傷寒壞異。觀其脈證。傳變復逆。</p>
<p>傳為有常之傳經也。變為不常。陽忽變陰也。復如食復勞復。逆謂若汗吐下後仍不解。此犯逆也。若以上壞證之類。許叔微傷寒百證歌分類可見。並宜熟讀。</p>
<p>謹熟陰陽。隨證為治。各使其宜。</p>
<p>傷寒傳變不常。宜熟辨陰陽之證。各得治法之宜。可汗可和。可不可潤。可吐可火。可灸可水。可針可溫。</p>
<p><a href="_files/ps16a5.bmp">圖</a></p>
<p>可汗者。表之證也。可和者。榮衛不諧。宜和解也。可下者。裡證也。可潤者。</p>
<p>陰燥也。可吐者。食在上脘之類。可火者。陰毒證也。可灸者。陰證下陷也。可水者。</p>
<p>熱而燥也。可針者。並病也。可溫者。裡寒也。</p>
<p>詳其不可。究傷寒論。審識病機。制法之例。勉之秘之。誦之無HT　。HT　猶厭也。</p>
<h4>陰虛本病(一首集見格致余論)</h4>
<p>夫天地物。各一太極。動而生陽。靜而生陰。陽動則變。陰動則合。而生五行。各稟其性。惟人得備。形氣所受。天地氣生。陽氣為氣。陰氣為血。身中之神。元氣之根。根於內者。</p>
<p>名曰神機。根於外者。名曰氣立。與天地參。氣正而通。氣交之中。隨天地氣。升降浮沉。</p>
<p>陽實陰虛。氣常有餘。血常不足。所與天地。日月四時。虛盈並同。陰平陽秘。形志以寧。</p>
<p>陽本在外。為陰之衛。陰本在內。為陽之守。性或物感。精神外馳。嗜欲無節。陰氣耗散。</p>
<p>陽無所附。遂致病作。惡寒非寒。惡熱非熱。證類實邪。此陰虛熱。熱乃火動。有君相別。</p>
<p>相火所謂。龍雷天火。君火所謂。人火暑熱。故火乃二。備於六氣。以名而言。形氣相生。</p>
<p>配於五行。命曰君火。以位而言。生於虛無。守位稟命。因動而見。謂之相火。天以此火。</p>
<p>而為陽氣。以生萬物。人以此火。以生一身。道氣衝和。助我元氣。元氣不足。相火獨盛。</p>
<p>火與元氣。不能兩立。一勝一負。乃致陰虛。陰虛火動。五亂俱施。金危木盛。土困水微。</p>
<p>迭相為制。母子背違。陽強不密。陰氣乃離。腑臟經絡。偏實偏虛。遂失其正。邪悉由矣。</p>
<p>虛邪外入。實邪內起。取經治正。補瀉所宜。肝主司瀉。腎主藏閉。肝為相火。有瀉無補。</p>
<p>有補無瀉。腎為真水。水火變病。虛實所以。夏月陽極。其已陰虛。水少火多。陽實陰虛。</p>
<p>虛甚傷暑。冬月陰極。其本陽虛。水多火少。陰實陽虛。虛甚傷寒。病未傳變。初治責虛。</p>
<p>傷寒助陽。清暑益氣。虛者十補。勿一泄之。除邪養正。平則守常。陽動陰靜。五行之幾。</p>
<p>根本化源。由乎土水。水為物元。土為物母。人能自存。益其根本。遍相濟養。是謂和平。</p>
<p>生化不已。交互克伐。變亂失常。鬱而無伸。甚而無制。造化息矣。病雖為邪。造化之道。</p>
<p>在其中矣。</p>
<h2>卷之五</h2>
<h3>治法第五</h3>
<h4>五郁一首(集見內經至元正紀大論)</h4>
<p>木鬱達之謂吐越。火鬱發之乃汗泄。奪土下利令無壅。金泄滲利解表同。水鬱折其充逆爾。治之大體須明此。</p>
<h4>三法一首(集見內經至真大論篇)</h4>
<p>法無定體。應變而施。藥不執方。合宜而用。備三法焉。國中與末。乃更變權。初治之道。</p>
<p>猛峻可先。緣病新感。大劑急蠲。中治之道。寬猛濟兼。緣病少久。得中藥然。去邪養正。</p>
<p>罔或不痊。未治之道。藥必寬緩。性味平善。廣服必安。此其大法。所用之體。制君臣佐。</p>
<p>各使其宜。主病為君。佐君為臣。應臣為使。適大小制。各安其氣。寒者熱之。熱者寒之。</p>
<p>微者逆之。甚者從之。堅者削之。客者除之。勞者溫之。結者散之。留者行之。燥者潤之。</p>
<p>急者緩之。散者收之。損者溫之。逸者行之。驚者平之。上者下之。摩之浴之。薄者劫之。</p>
<p>開之發之。適事為故。逆者正治。從者反治。反治之謂。熱因寒用。寒因熱用。塞因塞用。</p>
<p>通因通用。伏其所主。先其所因。其始則同。其終則異。可使破積。可使潰堅。可使氣和。</p>
<p>可使必已。其病之氣。惟標與本。先受為本。次者為標。或為兼證。知逆與從。正行無問。</p>
<p>知標本者。萬舉萬全。不知標本。是謂妄行。六氣為本。三陰三陽。經病為標。病氣為本。</p>
<p>受病經絡。臟腑為標。急則治標。緩則治本。治之要極。無失色脈。用之不惑。治之大則。</p>
<p>逆從倒行。標本不得。神亡命失。</p>
<h4>五治一首(集見此事難知)</h4>
<p>夫抑火升水。養陰退陽。流濕潤燥。推陳致新。漬形為汗。潤腸為下。溫經散寒。補中益氣。調經破血。痛隨利減。風從汗出。發表攻裡。斂表滲泄。雙解獨攻。應變從權。治由有五。其細味之。和取從折。屬其備兮。如假小熱。以涼和之。和之不已。次用取之。為熱勢大。寒藥以取。取之不已。更用從之。因熱既甚。從以溫藥。從之不已。以法折之。為恐沖逆。味隨所為。寒因熱用。或更發之。折之不已。求屬衰之。求屬之法。同氣同聲。法制之體。五治所因。經言不分。邪僻內作。工不能禁。此之謂也。</p>
<h4>七方一首(集見儒門事親本內經至真大論篇)</h4>
<p>七方之法為繩墨。大小緩急奇偶復。小方劑少飲須徐。大方劑兼宜頓服。戀膈味薄自緩遲。</p>
<p>攻下氣濃乃峻促。奇謂單奇只一法。偶方相合如配匹。復重並制三四方。病謂寒溫反佐術。</p>
<p>劑和六合實類聚。各據方隅更審悉。大抵處方要在合宜而用。不可務取品味。數多過制。越此反不為效矣。本草云。三百六十五種內。相須者止二十種。其單行者七十一。相使者九十。畏者七十八。相惡者六十。相反者十八。相殺者二十六。是以丹溪先生曰。余以某藥治某病。某藥監某藥。某藥為引經。其意則得之矣。</p>
<h4>十劑一首(集見儒門事親)</h4>
<p>十劑補瀉宣與通。滑澀燥濕重輕倫。瀉為泄實治閉滿。補即能調虛損人。宣非瀉劑乃越吐。</p>
<p>通因開流輕義勻。滑知養竅濡結燥。澀以酸同收斂因。燥攻水液寒清冷。濕潤干枯涸揭皴。</p>
<p>重當鎮墜抑而減。輕為熏揚泄汗陳。十劑由來三法中。發汗燥澀輕可　。下本重濕通滑瀉。</p>
<p>吐唯宣劑旨須論。三法用之猶有補。驅邪扶正益天真。</p>
<h4>望聞審切例一首(出脈訣)</h4>
<p>醫門理法至微玄。大要胸中有轉旋。望聞審切四件事。缺一偏枯不備全。第一看他神氣色。</p>
<p>潤枯肥瘦起和眠。活潤死枯肥是實。瘦為虛弱古今傳。謙體即知腰內苦。攢眉頭痛與頭眩。</p>
<p>手不舉兮肩背痛。步行艱苦腳間疼。叉手按胸胸內痛。按中臍腹痛相連。但起不眠痰夾熱。</p>
<p>貪眠虛冷使之然。面壁蜷身多是冷。仰身舒挺熱相煎。身面目黃脾濕熱。唇青面黑冷同前。</p>
<p>第二應聲清與濁。鑒他真語及狂言。聲濁即知痰壅滯。聲清寒內是其源。言語真誠非實熱。</p>
<p>狂言號叫熱深堅。稱神說鬼逾牆屋。胸膈停痰證號癲。更有病因循日久。音聲遽失命歸泉。</p>
<p>三問病因經幾日。日間便利幾番行。飲食少多宜冷熱。更兼多少不同論。飲食稍通容易治。</p>
<p>不進之時療必難。喜冷定知心內熱。好溫乃屬臟中寒。尿色赤黃真內熱。尿清定是冷相干。</p>
<p>切脈是居為四末。浮沉遲數病之端。四事略陳通梗概。舉隅善反一同看。</p>
<h4>察病輕重一首(出圖經本草)</h4>
<p>凡欲療病。先察其源。先候病機。五臟未虛。六腑未竭。血脈未亂。精神未散。服藥必活。</p>
<p>若病已成。可得半愈。病勢已過。命將難全。自非明醫。聽聲察色。至於真脈。其孰能知。</p>
<p>未病之病。</p>
<h4>水火分治一首(出玉匱金鑰)</h4>
<p>肝膽由來從火治。三焦包絡都無異。脾胃常將濕處求。肺與大腸同濕類。腎與膀胱心小腸。</p>
<p>寒熱臨時旋商議。惡寒表熱小膀溫。發熱表寒心腎熾。十二經。最端的。四經屬火四經濕。</p>
<p>四經有熱有寒時。攻裡解表細消息。裡熱裡寒宜越竭。表熱表寒宜汗釋。濕同寒。火同熱。</p>
<p>寒熱到頭無兩說。六分分來火熱寒。寒熱中停直浪舌。熱寒格拒病機深。亢則害。承乃制。</p>
<p>別緊寒。數熱脈。正邪標本求之真妙訣。休治風。休治燥。治得火時風燥了。當解表時莫攻裡。當攻裡時莫解表。表裡如或兩可攻。後先內外分多少。治濕無過似決川。此個筌蹄最分曉。感謝軒岐萬世恩。爭奈醯雞笑天小。</p>
<h4>三陰三陽標本分治一首(同前)</h4>
<p>少陽從本為相火。太陰從中濕土坐。厥陰從中火是家。陰明從中濕是我。太陽少陰標本從。</p>
<p>熱寒二氣相包裹。風從火齦汗之宜。燥與濕兼下之可。萬病能將火濕分。掣開軒岐無縫鎖。</p>
<h4>辨證用藥例略</h4>
<p>一首。集見此事難知。元戎。保命等書。大抵醫之用藥。必本七方十劑。旋為增損。求合聖賢之旨。以自通變。今不得已而逐證具其方例。智者幸勿哂其拘執也。故附東垣先生立方本旨於後。可以求其旨趣為法。又如海藏云。凡治中風用藥。止可扶持疾病。要收全功。火艾為良。內經言針法多於用藥是也。其要並見針灸四書。資生等經。故不復贅云。</p>
<p>傷寒雜病殊非定。陰陽內外先明證。</p>
<p>〔陰證〕身靜重。語無聲。氣難布息。目睛不了了。鼻中呼不出。吸不入。往來口與鼻中氣冷。水漿不入。面上惡寒如刀刮。</p>
<p>〔陽證〕身動輕。語有聲。目睛了了。鼻中呼吸出入。能往而能來。口與鼻中氣皆熱。</p>
<p>〔身表〕涼。知在陰經也。名曰陰證。</p>
<p>〔身表〕熱。知在陽經也。名曰陽證。</p>
<p>〔傷風〕鼻中氣出粗。合口不開。肺氣通於天也。</p>
<p>〔傷食〕口無味。液不納。鼻息氣勻。脾氣通於地也。</p>
<p>〔外傷〕一身盡熱。先太陽也。從外而之內者。先無形也。</p>
<p>〔內傷〕手足不和。兩脅俱熱如火。先少陽也。從內而之外者。先有形也。</p>
<p>〔內外〕俱傷者。人迎氣口俱盛。或舉按皆實。大發表熱而惡寒。腹不和而口多液。此內外俱傷也。凡診則先捫手心背。手心熱則內傷。手背熱則外傷。次以脈別之。</p>
<p>證脈傷寒無所疑。攻裡解表須詳訂。</p>
<p>〔表〕實。麻黃湯。虛。桂枝湯。○表裡俱虛。汗之則愈。</p>
<p>腑臟之表。桂枝麻黃各半湯。</p>
<p>腑臟之裡。芍藥甘草附子湯。</p>
<p>〔裡〕實。大承氣湯。虛四逆湯。</p>
<p>〔中〕實。調胃承氣湯。虛小建中湯。○表裡俱實。下之則愈。</p>
<p>六腑之表。承氣湯。五臟之裡。承氣抵當等湯。</p>
<p>〔表證當汗〕脈浮。宜急汗之。用麻黃湯。脈沉。宜緩汗之。用麻黃附子細辛湯。</p>
<p>〔裡證當下〕脈浮。宜緩下之。用小承氣湯。脈沉。宜急下之。用大承氣湯。</p>
<p>〔三陽〕證。汗則當急而下當緩。</p>
<p>〔三陰〕證。汗則當緩而下當急。</p>
<p>熱在表。黃芩。○寒在表。桂枝黃　附子。</p>
<p>熱在裡。大黃。○寒在裡。乾薑。良薑。吳茱萸。附子。○傷寒中風。發表攻裡。本自不同。如麻黃湯。太陽經表藥也。五苓散。為太陽之裡藥也。六經皆有表裡藥也。因病有內外虛實邪氣深淺不同。亦不能拘。而隨病變為治也。如傷寒論方證及諸變病方。分見保命集中。</p>
<p>桂枝湯二十八證。方有一十四道。麻黃湯十證。方五道。葛根湯四證。方三道。青龍湯五證。方二道。茈胡二十證。方五道。承氣湯一十七證。方三道。陷胸湯十二證。方三道。瀉心湯九證。方五道。抵當湯六證。方三道。梔子湯五證。方二道。發黃四證。方三道。五苓十五證。方七道。乾薑四逆十五證。方七道。云岐子云。大抵脈為人之司命。故以脈為主。多從脈而少從證也。舉脈證交互二法。亦當臨時消息。從標本之化為法可也。詳見云岐子脈訣。</p>
<p>有汗不得服麻黃。無汗桂枝湯豈應。</p>
<p>〔傷寒〕發汗之劑。各隨經用之。如太陽麻黃湯。少陽小柴胡湯。陽明葛根湯之類。止汗之劑。如太陰桂枝湯。少陰四逆湯之類。</p>
<p>〔雜病〕發汗之劑。隨病用之。如風證小續命湯。排風湯。風熱防風通聖散。痹氣寒濕不換金正氣散。五積散之類。更依傷寒法各分經用之。則無犯禁逆之害矣。○止汗之劑。如二建湯。麥煎散。知母茯苓湯之類。陽證忽得脈候弦。急宜和解莫犯禁。</p>
<p>如傷寒少陽證。脅痛。往來寒熱而嘔。或咳而耳聾。脈尺寸俱弦者。忌發汗。忌利小便。忌下。宜小柴胡湯。漬形而汗解也。謂不可犯經禁。</p>
<p>陰證如見脈沉遲。正陽回陰當用意。</p>
<p>用正陽散。附子乾薑之類。溫之。或灸之。</p>
<p>脈病當分何一經。如渴便從所制例。</p>
<p>太陽病渴。脈浮無汗者。用五苓散滑石之類。</p>
<p>陽明渴。脈長有汗者。白虎湯涼膈之類。</p>
<p>少陽渴。脈弦而嘔者。小茈胡加栝蔞根之類。</p>
<p>太陰渴。脈細不欲飲。縱飲思湯不思水之類。</p>
<p>少陰渴。脈沉自利者。豬苓湯三黃湯之類。</p>
<p>厥陰渴。脈微引飲者。可少少與之。</p>
<p>結胸審用陷胸三。虛痞瀉心分五劑。</p>
<p>傷寒心下硬滿。狀若柔　。宜大陷胸丸。頭痛項強反下之。心中懊　。邪動於膈。故陽氣內陷。心下結硬。手不可近。宜大陷胸湯。如心下按之痛。脈浮而滑。表證未罷。宜小陷胸湯。</p>
<p>熱痞用大黃黃連瀉心湯。陰陽不和而痞。附子瀉心湯。陰盛陽虛而痞。半夏瀉心湯。甘草瀉心湯。生薑瀉心湯。選而隨證用之。非瀉心之熱。瀉心之痞也。</p>
<p>四時腹痛證不同。海藏例其玄所秘。</p>
<p>中脘痛。太陰也。理中。建中。黃　湯之類。</p>
<p>臍腹痛。少陰也。四逆。真武。附子湯之類。</p>
<p>少腹痛。厥陰也。當歸四逆湯。</p>
<p>重則正陽。回陽之類。</p>
<p>雜病腹痛。四物苦楝湯。酒煮當歸。</p>
<p>丸增損當歸丸。導氣湯之類。</p>
<p>四時腹痛。芍藥甘草湯之類。</p>
<p><a href="_files/ps16a6.bmp">圖</a></p>
<p>如腹不滿者加棗。若滿者不加。犯病禁也。脾虛滿。　黃　湯　芍藥停濕如中滿勿食甘。二藥用甘引至滿所。脾實滿。　平胃散　蒼朮　燥濕如大便秘　實痞　厚朴　枳實如大便利　虛痞　芍藥　陳皮痞滿燥實四證全。急治可施大承氣。</p>
<p>太陽陽明。大承氣湯。如大滿。則胸腹脹滿。狀若合瓦。大實則不大便也。</p>
<p>痞滿燥實四證備則用之。</p>
<p>少陽陽明。小承氣湯。痞實滿者用之。</p>
<p>正陽陽明。調胃承氣湯。實而不滿。腹中轉失氣。有燥屎。不大便而譫語燥實堅　證見。可用仲景小承氣湯。雜病同此。名三物厚朴湯。</p>
<p>大黃　芒硝　大實　燥屎浮　手足陽明　大腸　胃沉　手足太陰　肺　脾痞　大滿　枳實　厚朴大柴胡湯。治表復有裡。或脈浮。或頭痛。或惡風。或惡寒。四證或有一二尚在者。過經不解是也。或譫語妄言。或直手揚視。皆裡之急者也。欲汗之。則裡證已急。欲下之。則表證仍在。故以小柴胡中藥加味。調和三陽。使不犯三陽禁忌。以芍藥下安太陰。令邪氣不內。</p>
<p>以大黃去地道不通。以枳實去心下痞悶。或濕熱自利蒸。表裡證已急。通宜用之。</p>
<p>三焦寒熱藥所宜。濕溫中暑法猶異。</p>
<p>上焦熱　梔子黃芩。　上焦寒。　陳皮厚朴藿香。　中焦熱　黃連芍藥。　中焦寒。</p>
<p>白朮乾薑丁香。　下焦熱　黃柏大黃。　下焦寒。　肉桂附子沉香。</p>
<p>有一身盡熱　有一身盡寒地骨皮瀉腎火。總治熱在外。地為陰。骨為裡。皮為表。</p>
<p>牡丹皮治胞中火。無汗之骨蒸。</p>
<p>知母瀉腎火。有汗之骨蒸。</p>
<p>如平旦發熱。熱在行陽之分。肺氣主之。故用白虎湯以瀉氣中之火。</p>
<p>如日晡潮熱。熱在行陰之分。腎氣主之。故用地骨皮散以瀉血中之火。</p>
<p>如瀉各經火熱。俱在主治本經氣血之藥。</p>
<p>(肺)　氣石膏　血黃芩　(腎)　氣知母　血黃柏(肝)　氣柴胡　血黃芩　(心)　氣麥門冬血黃連(脾)　氣白芍藥血生地黃　(大腸)氣連翹血大黃(小腸)　氣赤苓茯血木通　(三焦)氣連翹血地骨皮(膽)　氣連翹　血柴胡　(胃)　氣葛根　血大黃(膀胱)氣滑石　血黃柏　(心包絡)氣麥門冬血牡丹皮瀉各經之寒。俱有主治本經氣血之藥。</p>
<p>(肝)　氣吳茱萸血當歸　(心)　氣桂心　血當歸(脾)　氣吳茱萸血當歸　(肺)　氣麻黃　血乾薑(腎)　氣細辛　血黑附子　(膽)　氣生薑　血川芎(胃)　氣生薑　血吳茱萸　(大腸)氣白芷　血秦艽(小腸)氣茴香　血玄胡　(三焦)　氣黑附子血川芎(膀胱)氣麻黃　血桂枝(心包絡)　氣黑附子血川芎(上焦熱)　連翹飲子　清神散　涼膈散　犀角地黃湯(中焦熱)　小承氣湯　洗心散　調胃承氣湯　四順清涼飲(下焦熱)　大承氣湯　石韋散　八正散(上焦寒)　桂附丸　鐵刷湯　胡椒理中湯(中焦寒)　二氣丹　大建中湯　附子理中丸(下焦寒)　還少丹　天真丹　八味丸(氣分熱)　柴胡飲子　白虎湯(血分熱)　清涼飲子　桃仁承氣湯(通治大熱)　三黃丸　黃連解毒湯(氣分寒)　桂枝加芍湯人參新加湯桂枝加附湯(血分寒)　巴戟丸　神珠丹(通治大寒)大已寒丸　四逆湯熱蒸病有五蒸湯為主。隨各證虛實加減用之。方見醫壘元戎。</p>
<p>嘔吐血出於胃實者犀角地黃　虛者小建中加黃連衄涕血出於肺犀角　升麻　黃芩　芍藥　紫參　丹參　生地黃咯唾血出於腎天門冬　紫菀　知母　貝母　熟地黃　麥門冬　桔梗　遠志痰涎血出於脾葛根　黃　黃連　芍藥　沉香　甘草下血。先便後血。此遠血也。先血後便。此近血也。仲景赤小豆當歸散等方。痔漏下血及便血。子和淨固丸槐角丸。</p>
<p>腑臟瘧法湯液圖。更有吐截亦可治。</p>
<p>心瘧令人煩心。甚欲得清水。反寒多不甚熱。桂枝加黃芩湯。</p>
<p>肝瘧令人色蒼蒼然太息。其狀若死者。四逆湯。通脈四逆湯。</p>
<p>脾瘧令人寒。腹中痛。熱則腸中鳴。鳴已汗出。小建中湯。芍藥甘草湯。</p>
<p>肺瘧令人心寒。寒甚則熱。間善驚如有見者。桂枝加芍藥湯。</p>
<p>腎瘧令人洒洒腰脊痛宛轉。大便難。目　然。手足寒。桂枝加當歸芍藥湯。</p>
<p>太陽證。令人腰痛頭腫。寒從脊起。先寒後熱。　然熱止。汗出難已。羌活加生地黃湯。</p>
<p>小柴胡加桂湯。</p>
<p>少陽證。令人身體解　。寒不甚。熱不甚。惡見人。見人心惕惕然。熱多汗出甚。小柴胡湯。</p>
<p>陽明證。令人先寒洒淅甚。久乃熱。熱去汗出。喜見日光火氣乃怏然。桂枝二白虎一湯。黃芩芍藥加桂枝湯。</p>
<p>太陰證。令人不藥。好太息。不嗜食。多寒熱。汗出。病至則善嘔。嘔已乃衰。小建中湯。異功散。</p>
<p>少陰證。令人嘔吐甚。多寒熱。熱多寒少。欲閉戶牖而處。其病難已。小柴胡加半夏湯。</p>
<p>厥陰證。令人腰痛。小腹滿。小便不利如癃狀。非癃也。數便意恐懼。氣不足。腹中悒悒。四物玄胡苦楝附子湯。</p>
<p>上以上皆各經解表和解之劑也。</p>
<p>治濕熱燥脾之劑。　寶監雙解飲子　局主常山飲　易簡七寶飲人參養胃湯　嚴氏清脾湯　三因四獸飲消瘧母之劑　仲景鱉甲煎丸　嚴氏鱉甲飲子消食瘧之劑　三因紅丸子吐瘧之劑　常山飲　藜蘆散截瘧之劑　宣明辟邪丹　辰砂丹　寶鑒溫脾散痰嗽從來本所殊。用藥要知方各備。</p>
<p>風之嗽　防風通聖散　大人參半夏丸暑之嗽　白虎湯　洗心散　涼膈散火之嗽　黃連解毒湯　三黃丸濕之嗽　五苓散　桂苓甘露飲　白朮丸燥之嗽　木香葶藶散　大黃連阿膠丸寒之嗽　寧神散　寧肺散　桂枝湯痰氣嗽　二陳湯　橘蘇飲　導痰湯　四七湯肺熱嗽而自汗　人參清肺飲　知母茯苓湯咳嗽素問論玄微。各隨臟腑圖湯液。</p>
<p>心嗽　桔梗湯　小腸失氣　芍藥甘草湯肝嗽　小柴胡湯　膽嘔　黃芩加半夏生薑湯脾嗽　升麻湯　胃吐　烏梅丸肺嗽　麻黃湯　大腸遺失　赤石脂禹餘糧湯　桃花湯　不止可用豬苓湯腎嗽　麻黃附子細辛湯　膀胱遺溺　苓茯甘草湯久嗽不已。三焦受之。其狀咳而腹滿。不欲飲食。痰聚於胃。關於肺。使人多涕唾而面浮腫。氣逆也。</p>
<p>痰飲有解表之劑　大青龍湯　參蘇飲　金沸草散治懸飲濕痰攻下之劑　十棗湯　三因控涎丹　三花神　丸治支飲脅滿者　金匱厚朴大黃湯吐劑。瓜蒂散。三聖散。稀涎散之類。並出三陽可吐藥例。古今吐法。以病在頭。或在胸中。但在上焦皆可用也。</p>
<p>治風痰之劑　青州白丸子　天南星丸　玉壺丸　水煮金花丸治熱痰之劑　小陷胸湯　機要小黃丸　人參半夏丸治寒痰之劑　清肺消飲丸　實鑒溫胃丸　溫中化痰丸理氣降痰之劑　局方四七湯　指迷茯苓丸降氣墜痰溫補之劑　蘇子降氣湯降痰滋陰之劑　金匱順氣丸中風風熱與傷風。對證設施無不遂。</p>
<p>中風　發表之劑　寶鑒秦艽升麻湯　金匱續命湯　小續命湯排風湯攻裡之劑　機要三化湯　子和搜風丸發表攻裡之劑　防風通聖散　川芎石膏湯調血養氣之劑　大秦艽湯　羌活愈風湯　天麻丸理氣之劑　烏藥順氣散　八味順氣散理血之劑　六合湯　愈風湯通關透肌骨之劑　至寶丹　牛黃清心丸發明云。凡用丹劑者。為風入骨髓。不能得出。故用龍腦牛雄等。皆入骨髓透肌骨之劑。使風邪得以外出也。若中血脈中腑之病。初不宜用龍麝牛黃。恐引風入骨髓。如油入面。莫之能出。若中藏痰涎昏冒煩熱者宜用之。下痰鎮墜清神。</p>
<p>治痰通經去風之劑　青州白丸子　三生飲　省風湯風熱　天麻散　神芎散　防風通聖散　川芎石膏湯　宣明仙術　芎散傷風分六經用藥。可謂發諸家之本末。如足太陽經用桂枝湯。足陽明用杏子湯。足少陽用柴胡加桂湯。足太陰用桂枝芍藥湯。足少陰用桂附湯。足厥陰用八物湯。其方以桂枝三味。加以各經之藥。皆是辛溫解表之劑。與傷寒傳變相似。此六方以盡其變也。</p>
<p>辛平解表之劑　消風百解散　川芎茶調散　消風散辛涼解表之劑　柴胡升麻湯辛溫解表之劑　小續命湯辛涼解表攻裡之劑　錢氏大青膏　防風通聖散泄痢治之勿參差。升汗實腸分注利。</p>
<p>〔泄瀉〕</p>
<p>治濕之劑　胃苓湯　茯苓湯　五苓散　機要白朮芍藥湯治風之劑　神朮散　胃風湯　蒼朮防風湯　機要防風芍藥湯治熱之劑　局方戊己丸治暑之劑　來復丹　香薷飲　桂苓甘露飲治寒之劑　白朮湯　理中湯　機要漿水散治風寒之劑　本事曲芎丸止澀之劑　仲景桃花湯　實腸散　真人養臟湯去積之劑　本事溫脾湯升發之劑　東垣升陽除濕湯　益胃升陽湯　升陽除濕防風湯調補脾胃之劑　錢氏白朮散　易簡白朮湯</p>
<p>〔滯下諸痢〕</p>
<p>治熱之劑　黃連阿膠丸　芍藥柏皮丸　導滯湯　仲景白頭翁湯</p>
<h4>機要黃芩芍藥湯</h4>
<p>治寒之劑　局方桃花丸　嚴氏當歸丸　訶黎勒散冷熱之劑　古方駐車丸　局方香連丸　戊己丸治風濕之劑與泄瀉方選而用之治暑之劑　黃連香薷飲　桂苓甘露飲攻下之劑　大承氣湯　宣明玄青丸　導滯湯消積之劑　脾胃論聖餅子　元戎聖功丸止澀之劑　仲景桃花湯　真人養臟湯　水煮木香丸　宣明香連丸　嚴氏禹餘糧丸收斂之劑　嚴氏烏梅丸　元戎烏梅散補劑　十全大補湯噤口痢　倉　湯百一選方澹寮方六經頭痛無牙疼。各以引經為佐使。</p>
<p>〔諸經頭痛〕</p>
<p>陽明頭痛自汗發熱　白芷少陽頭痛脈弦往來寒熱　柴胡太陽頭痛惡風惡寒　川芎太陰頭痛痰實體重腹痛　半夏　蒼朮少陰頭痛手三陰三陽經不流行而足寒逆為寒厥　細辛厥陰頭痛　吳茱萸虛頭痛　黃　當歸巔頂痛　本眉棱痛　白芷　羌活有一身盡痛。疏風秦艽羌活湯之類。除濕守真除濕丹之類。</p>
<p>〔傷寒頭痛〕</p>
<p>太陽經無汗麻黃湯　有汗桂枝湯陽明經　白虎湯少陽經　小柴胡湯太陰脈浮　桂枝湯　脈沉理中湯少陰脈沉發熱　麻黃附子細辛湯厥陰經　桂枝麻黃各半湯</p>
<p>〔諸牙齒痛治例〕</p>
<p>治風熱牙疼。喜冷惡熱。　生地黃。牡丹皮。當歸。升麻。黃連。</p>
<p>治寒多熱少牙疼。　草豆蔻。細辛。升麻。骨灰。當歸。黃連。防風。</p>
<p>治大寒犯腦。牙齒疼痛。　白芷。桂枝。升麻。吳茱萸。草豆蔻。　本。</p>
<p>治寒邪風邪犯腦疼牙痛。　細辛。白芷。桂枝。麻黃。骨灰。羌活。升麻。防風。</p>
<p>治人口臭不可近。牙齒疳蝕。牙齦肉脫落血不止。東垣神功丸。</p>
<p>治蟲牙疼蝕動甚者。取蟲或熏之。蓋手足陽明濕熱甚而生蟲也。</p>
<p>熱痛涼膈散。疳蝕出血者。桃仁大黃下之。</p>
<p>陽明經標有風濕客痛。大戟。芫花。細辛。蒼耳葉。花椒。小麥。</p>
<p>標有血滯。經鬱而痛。用蔥白。艾葉。黑豆。花椒。</p>
<p>或風毒腫痛。細辛。草烏白芷。</p>
<p>化蟲治積本其因。甚者隨例當默識。</p>
<p>〔諸積藥例〕</p>
<p>肉積。　砂。巴豆。甚者信石。</p>
<p>酒積。干葛。神麯。麥　。甚者甘遂。牽牛。</p>
<p>血積。當歸梢。桃仁。甚者水蛭。虻蟲。</p>
<p>氣積。木香。檳榔。甚者枳殼。牽牛。</p>
<p>水積。牽牛。澤瀉。郁李仁。甚者芫花。甘遂。大戟。</p>
<p>涎積。雄黃。膩粉。甚者瓜蒂。甘遂。</p>
<p>食積。砂仁。香附。牽牛。甚者礞石。巴豆。</p>
<p>痰積。半夏。南星。甚者瓜蒂。黎蘆。</p>
<p>癖積。三棱。蓬朮。甚者甘遂。蠍梢。</p>
<p>蟲積。寶鑒化蟲丸。補金散。</p>
<p>膈噎方隨治十般。寒熱明分散與丸。</p>
<p>〔十般膈氣〕</p>
<p>冷膈　熱膈　風膈　氣膈　痰膈　憂膈　悲膈　喜膈　水膈　食膈　皆病源也寶鑒十膈氣散　五膈嘉禾散　木香流氣散治喘滿痰嗽悶冒壅滯成熱膈　寶鑒人參利膈丸治五噎寒膈　寶鑒漢防己散　豆蔻散破經調血微行衛。補氣猶滋血乃安。</p>
<p>調諸經閉而不行方。兼行其氣者。溫經湯。通經丸。</p>
<p>經血虛實經因氣結不通。實痛者玉燭散。血虛四物湯。</p>
<p>血虛寒小腹痛。增損四物湯。薑黃湯。</p>
<p>血虛寒熱勞倦者。逍遙散。</p>
<p>經過作痛良方。當歸散。小柴胡湯。合四物之類。</p>
<p>經行而痛良方。桃仁散。</p>
<p>去惡血活血。當歸梢。蘇木。紅花。</p>
<p>經水暴下崩漏不止。蒲黃散。寶鑒　涼血地黃湯。備金散。</p>
<p>干血氣經不行。大全良方。琥珀散。桃仁散之類。</p>
<p>血積　瘕良方。通經丸之類。</p>
<p>諸虛不足髓竭不足。生地黃。當歸。</p>
<p>肺氣不足。天門冬。麥門冬。五味子。</p>
<p>心氣不足。上黨參。茯神。菖蒲。</p>
<p>肝氣不足。天麻。川芎。</p>
<p>脾氣不足。白朮。白芍藥。益智。</p>
<p>腎氣不足。熟地黃。遠智。牡丹皮。</p>
<p>膽氣不足。細辛。酸棗仁。地榆。</p>
<p>神昏不足。朱砂。預知子。茯神。</p>
<p>非天雄。不能治上焦之陽虛。</p>
<p>非附子。不能治下焦之陽虛。</p>
<p>天真丸。三建丹。皆補陽虛之劑也。</p>
<p>地黃丸。滋腎丸。皆補陰虛之劑也。</p>
<p>補陰虛陽竭。仲景八味地黃丸。</p>
<p>調陰陽升降脾胃之氣飲食勞役者。補中益氣湯。隨證加減用之。此補氣滋血之大法也。</p>
<p>補元氣須用人參。黃　。</p>
<p>補胃虛。進飲食。陳皮。人參。甘草。</p>
<p>補三焦元氣。調和諸藥共力成功者。炙甘草。</p>
<p>治諸虛痛宜調理。實痛唯施下乃痊。</p>
<p>脅下痛。往來熱。用柴胡。丹溪龍薈丸。</p>
<p>氣刺痛。用枳殼。以引經藥導之。</p>
<p>血刺痛。用當歸。</p>
<p>莖中痛。用甘草梢。</p>
<p>胃脘痛。用草果。</p>
<p>內傷物食諸痛。備急丹之類。</p>
<p>心痛藥。臨時隨證為用。當分寒熱虛實。</p>
<p>寒痛。鐵刷湯。　熱痛。瀉心湯。　氣痛。木香乳香之類。　血痛。四物湯。</p>
<p>臂痛。用蒼朮。半夏。南星。陳皮。香附。茯苓之類。</p>
<p>腰痛。　腎虛者。杜仲。補骨脂。　瘀血作痛。桃仁紅花。　濕熱而痛。用蒼朮。杜仲。黃柏。川芎之類。或子和煨腎散。　痰者南星。</p>
<p>閃肭打擊。諸實痛者。宜當歸承氣等湯下之。</p>
<p>眼暴赤腫瀉諸熱。喉痹淋癃治亦然。</p>
<p>赤腫及痛氣實而熱腫。用涼膈散。</p>
<p>氣虛而熱腫。用清心蓮子飲。</p>
<p>血實而熱腫。犀角地黃湯。柴胡之類。</p>
<p>血虛而熱腫。四物湯。黃連之類。</p>
<p>風熱目赤。或自淚。用防風通聖散。川芎石膏湯之類。</p>
<p>內障青盲雀目。羊肝丸。瞀昏翳膜。明目地黃丸之類。</p>
<p>喉痹輕者甘桔湯　涼膈散腫痛者僵蠶大黃閉者膽礬　巴豆入明礬枯過者　雄黃　塵煤　芒硝等吹之皆可選用淋赤白濁　痛白屬氣熱而淋　八正散　寶鑒海金砂散赤屬血熱而淋　導赤散　石韋散內傷痞郁及氣滯。脹滿當分熱與寒。</p>
<p>東垣內傷法消食強胃　枳朮丸　丁香爛飯丸　寬中進食丸傷冷物胃脘痛　感應丸　木香見唄丸　草豆蔻丸　備急丹虛痞者氣也　實痞者物也　非白朮不能行濕　非枳實不能消痞五志所過。非藥可治者。五勝為宜。</p>
<p>憂勝怒。肝屬木。在志為怒。過節則反自傷。故曰怒傷肝。故以所勝者制之。</p>
<p>恐勝喜。心屬火。在志為喜。過節則反自傷。故曰喜傷心。故以所勝者制之。</p>
<p>怒勝思。脾屬土。在志為思。過節則反自傷。故曰思傷脾。故以所勝者制之。</p>
<p>喜勝憂。肺屬金。在志為憂。過節則反自傷。故曰憂傷肺。故以所勝者制之。</p>
<p>思勝恐。腎屬水。在志為恐。過節則反自傷。故曰恐傷腎。故以所勝者制之。</p>
<p>六郁隨丹溪越鞠丸加減用之。</p>
<p>〔氣〕香附　蒼朮　撫芎</p>
<p>〔濕〕蒼朮　撫芎　白朮</p>
<p>〔痰〕海石　香附　栝蔞　半夏</p>
<p>〔熱〕香附　撫芎　青黛　蒼朮　山梔</p>
<p>〔血〕桃仁　香附　紅花　撫芎　青黛</p>
<p>〔食〕蒼朮　神麯　香附　山楂　針砂氣鬱。乃因憂愁思慮甚多所成。</p>
<p>局方分心氣飲　木香分氣飲　七氣湯　鹽煎散　蟠蔥散之類氣虛氣弱者　陳皮　黃　人參氣實氣結者　青皮　厚朴　木香　沉香熱脹。及中滿鼓脹。氣脹。水氣脹。大熱脹。寶鑒中滿分消丸。</p>
<p>寒脹。及中滿寒疝。大小便不通。陰躁。足不收。四肢厥逆。食入反出。下虛中滿。腹中寒。心下痞。脈沉虛弱者。宜中滿分消丸。</p>
<p>大實腹滿。大小承氣湯選用之。</p>
<p>虛脹。則升降其氣。陳皮。厚朴。升麻。柴胡之類。</p>
<p>水氣實滿宣明神金散。十棗湯之類。</p>
<p>十二經中但有瘡。皆血結氣聚。必用連翹於諸托裡散內。出瘡毒。消瘡腫。黍黏子。</p>
<p>瘡出膈以上。須用防風上節。羌活。桔梗。</p>
<p>瘡出身中以下。須用洒水各半煎藥。</p>
<p>瘡堅而潰者。昆布。廣術。三棱。</p>
<p>瘡痛者。黃芩。知母。黃連。</p>
<p>瘡出而嘔吐者。半夏。生薑。</p>
<p>瘡出而渴悶者。黃連。</p>
<p>大便燥結而常難者。桃仁。麻子仁。郁李仁。</p>
<p>上焦有瘡。須用黃芩。</p>
<p>中焦有瘡。用黃連。</p>
<p>下焦有瘡。用黃柏。知母。防風。瘡藥中用皂角針者。以其能引藥直達入瘡也。</p>
<p>疔瘡惡腫。初起甚者。有用毒藥攻。如穿山甲。蟾酥。枯礬。全蠍。乳香。信石。輕粉。蝸牛。蜈蚣之類也。</p>
<p>必先歲氣分時令。三法隨宜大意完。</p>
<p>必先歲氣。無伐天和。隨四時用之。為去病之藥。不可犯時禁。　〔春〕防風。升麻。</p>
<p>〔夏〕黃芩。知母。白芍藥。　〔秋〕澤瀉。茯苓。　〔冬〕桂薑。</p>
<p>三法藥吐劑如瓜蒂。銅綠。齏汁。滄鹽。可以吐痰。梔子。豆豉。吐傷寒懊　。黃連。黃芩。</p>
<p>吐風熱。苦參。藜蘆。吐中風。常山吐瘧。木香。厚朴。吐氣鬱。當隨證用用之。</p>
<p>汗劑如桂枝。麻黃。五積敗毒。皆發汗辛熱之藥也。升麻。葛根。解肌逼毒。皆辛溫之汗藥也。大小柴胡飲子。若寒之汗藥也。通聖當歸飲子。皆辛涼之汗藥也。通聖當歸飲子。皆辛涼之汗藥也。故外寒內熱。宜辛涼。外熱內寒。宜辛溫之類。下劑如枳實。檳榔。杏仁。下氣之痞滯也。巴豆膩粉下諸積。大黃。朴硝下諸熱。芫花。大戟。甘遂。牽牛。下諸水。石蜜。郁李仁。豬羊血。下燥。當擇氣味。隨證選而用之。</p>
<p>欲求活要知方制。試舉元戎掌上看。</p>
<p>王海藏醫壘元戎。備見加減用藥例。今以六氣分方制法陳於下。臨證當審內外虛實。加減如元戎用之可也。</p>
<p>風制法　風淫於內。治以辛涼。佐以甘辛。以甘緩之。以辛散之。</p>
<p>防風通聖散　防風天麻散　消風散　排風散　小續命湯　防風湯暑治法　熱淫於內。治以鹹寒。佐以甘苦。以酸收之。以苦發之。</p>
<p>桂苓甘露飲　白虎湯　玉壺丸　益元散　玉露散　石膏湯　濕制法　濕淫於內。治以苦熱。佐以咸淡。以苦燥之。以淡泄之。</p>
<p>白朮木香散　葶藶木香散　橘皮白朮散　桂苓白朮散　大橘皮湯　益元散火制法　火淫於內。治以鹹寒。佐以甘辛。以酸收之。以苦發之。</p>
<p>黃連解毒湯　涼膈散　諸承氣湯　八正散　調胃散　神芎丸　瀉心湯燥制法　燥淫於內。治以苦溫。佐以甘辛。以辛潤之。以苦下之。</p>
<p>神功丸　麻仁丸　脾約丸寒制法　寒淫於內。治以甘熱。佐以苦辛。以辛散之。以苦堅之。</p>
<p>薑附湯　四逆湯　二薑湯　附子理中湯　大己寒丸　朮附湯東垣立方本旨夫脾胃虛者。因飲食勞倦。心火亢甚而乘其土位。其次肺氣受邪。須用黃　最多。人參甘草次之。脾胃若虛。肺氣先絕。故用黃　以益皮毛而閉腠理。不令自汗上喘氣短損其元氣。人參以補之。心火乘脾。炙甘草之甘溫。以瀉火熱而補脾胃中元氣。若脾胃急痛。腹中急縮者宜多用之。經云。急者緩之。白朮苦甘溫。除胃中熱。利腰臍間血。胃中清氣在下。升麻柴胡以引之。引黃　甘草甘溫之氣味上升。能補衛氣之散解而實其表也。又緩帶脈之縮急。二味苦平之薄者。陰中之陽。引清氣上升也。氣亂於胸中。為清濁相干。用陳皮以理之。又能助陽氣之升以散滯氣。</p>
<p>助諸甘辛為用也。脾胃氣虛。不能升浮。為陰火傷其生發之氣。榮血大虧。陰火熾盛。是血中伏火日漸煎熬。血氣日減。心主血。血減則心無所養。致使心亂而煩。病名曰　。　者。</p>
<p>心惑而煩悶不安也。故加辛甘微溫之劑生陽氣。陽旺則能生陰血。更以當歸和之。是名補中益氣湯。或少加黃柏以救腎水。能消陰中之伏火。如煩不止。少加生地黃補腎水。腎水旺而心火自降。如心氣浮亂。更以朱砂安神丸鎮固之。補中益氣東加減例略。</p>
<p>如心下痞或痛中寒者加附子痞而腹脹加枳實厚朴木香砂仁痞而有痰脈緩加半夏黃連心下痞不能食加生薑陳皮心下痞劣悶者加芍藥黃連頂痛腦痛加　本細辛嗌痛頷腫脈洪面赤加黃芩桔梗鼠黏子腹中痛加白芍藥在寒時加益智豆蔻頭痛加蔓荊子川芎脅下痛倍加柴胡</p>
<h4>傷寒汗吐下禁例略(三首集見傷寒論)</h4>
<p>咽喉閉燥莫發汗。淋家若治同斯斷。瘡家發汗瘡即愈。猶畏表虛作痙變。汗多又發必恍惚。亡血發之自寒栗。榮氣微或衄吐人。不可汗此奪血證。陰陽俱虛本不宜。陽盛陰虛汗之忌。心之悸者汗不須。津液和時形自漬。太陽少陽病合作。頭項強痛或眩悶。時又結胸心下痞。法刺大椎汗卻未。脈弦而細雖頭疼。發熱只屬少陽經。法當下之不可汗。汗則譫煩悸不寧。上下左右有動氣。如若發之他病至。諸脈得數微弱動。濡弱弦微上下易。嗽極煩吐似瘧形。有寒無熱虛而栗。厥而脈緊本少陰。不可汗此諸病勢。咳而遺溲諸厥逆。又有病之微汗出。類中風熱更頭疼。汗藥施之恐增劇。心中懊　自宜吐。太陽脈細吐之誤。寸脈微浮胸痞硬。氣上衝咽吐可用。少陽中風耳自聾。目赤心煩吐不中。胸中實則可越之。膈上有寒越又禁。食留上脘支厥冷。吐法施之氣自順。中風痰實猶可施。嘔吐咯血吐還忌。此其大法春所宜。中病則止不盡劑。</p>
<p>陽虛陰盛下勿用。外證未罷猶為禁。太陽陽明喘而滿。只可汗而逆自定。下於汗後脈浮者。</p>
<p>此為施早轉逆甚。結胸臟結實可攻。臟結無熱未可同。結胸煩躁脈浮大。此其危殆難所通。</p>
<p>病先解表後攻痞。攻之早者協熱利。嘔多心滿合面紅。諸病陽明下不中。溏而不滿勿大推。</p>
<p>微和胃者小承氣。汗出溲行下非閉。可下宜行蜜道劑。裡證赤澀脈弦遲。勿以下之為可治。</p>
<p>諸虛脈弱反寸關。四肢厥逆攻亦難。動氣咽塞下虛極。慎勿下攻誠定式。</p>
<h4>針法(一首以下並出針經)</h4>
<p>先說平針法。含針口內溫。按揉令氣散。陷穴故教深。持針安穴上。令他嗽一聲。隨嗽歸天部。停針再至人。再停歸地部。待氣候針沉。氣若不來至。指甲切其經。次提針向病。針退天地人。</p>
<p>先以揉按令其氣散。次掏穴定力。重此最好。右手持針。安於穴上。隨令患者嗽一聲。</p>
<p>左右用針轉入天部。皮膚之間也。少時左右進至人部。肌肉之間也。再少時進至地部。筋骨之間也。凡穴當一寸許。如此作三次進之。大抵疼痛實瀉。麻痹虛補。經云。針法手如握虎。如待貴人。凡取穴手指。前哲又有八法。彈而怒之。迎而奪之。使經氣腹滿。令邪氣散而正氣行也。循而捫之。隨而濟之。撫摩上下。見動脈之處。攝而按之。推而納之。以手指加力按所針之穴。使邪氣泄而易散。病者不知其針。爪而下之。切而散之。方寸既見。其穴端正。</p>
<p>使針易入不瘥。病患亦不知其痛。</p>
<p>補必隨經刺。令他吹氣頻。隨吹隨左轉。逐歸天地人。待氣停針久。三彈更熨溫。出針口吸氣。急急閉其門。瀉欲迎經取。吸則內其針。吸時須右轉。依次進天人。轉針仍復吸。依法要停針。出針吹出氣。搖動大其門。</p>
<p>凡出針不可猛出。必須作兩三次。徐徐轉而出之。則無血。若猛出者。必見血也。有暈針者。奪命穴救之。男左女右。取左不回。卻再取右。女亦然。此穴正在手膊上。側筋骨陷中。</p>
<p>即是蝦蟆兒上邊也。從肩至肘。正在當中。凡刺之道。必須知禁忌。經云。毋刺渾渾之脈。</p>
<p>之熱。漉漉之汗。如大風大雨。嚴寒盛暑。卑濕煩躁。便黑吐血。暴然失聽。失明。失意。失便溺。失神。及七情五傷醉飽。皆不可刺。乘車馬遠來。亦候氣。血定。然後刺之。</p>
<h4>大乙人神(一首)</h4>
<p>立春艮上起天留。戊寅己丑左足求。春分左脅倉門震。乙卯日見定為仇。立春戊辰己巳巽。</p>
<p>陰絡宮中左手愁。夏至上天丙午日。正值膺喉離首頭。立秋玄委宮右手。戊申己未坤上游。</p>
<p>秋分倉果西方兌。辛酉還尋右脅謀。立冬右足加新洛。戊戌己亥乾位收。冬至坎方臨葉蟄。</p>
<p>壬子腰尻下竅流。五臟六腑並臍腹。招遙諸戊己中州。潰治癰疽當須避。犯其天忌疾難瘳。</p>
<h4>血忌(一首)</h4>
<p>行針須明血忌。正丑三寅二未。四申五卯六酉。七辰八戌九巳。十亥十一月午。臘子更逢日閉。</p>
<h4>逐年尻神</h4>
<p>(一首上古尻神法一歲起宮二歲來加辰逐年飛九宮)坤踝尻神震齒牙。巽頭口乳並無瘥。中宮正作肩尻位。乾背那堪面目遮。兌宮手膊難砭灸。艮項腰間艾莫加。離宮膝肋針難下。坎肘都來肚腳家。</p>
<h4>逐日人神(一首)</h4>
<p>初一十一二十一晷。足拇鼻柱手小指。初二十二二十二。外踝發際外踝位。初三十三二十三。股內牙齒足及肝。初四十四二十四右。腰間胃脘陽明手。初五十五二十五並。口內遍身足陽明。初六十六二十六同。手掌胸前又在胸。初七十七二十七。內踝氣衝及在膝。初八十八二十八辰。腕內股內更在陰。初九十九並二十九。在尻在足膝脛後。初十二十三十日。腰背內踝足跗覓。</p>
<h4>禁針穴(一首)</h4>
<p>禁針穴道要先明。腦戶囟會及神庭。絡卻玉腕角孫穴。顱囟承泣隨承靈。神道靈台膻中忌。</p>
<p>水分神關並會陰。橫骨氣衝手五裡。箕門承筋並青靈。更加臂上三陽絡。二十二穴不可針。</p>
<p>孕女不宜針合谷。三陰交內亦通倫。石門針灸應須忌。女子終身無妊娠。外有云門並鳩尾。缺盆客主人莫深。肩井深時人悶到。三裡急補人還平。</p>
<h4>禁灸穴(一首)</h4>
<p>禁灸之穴四十五。承光啞門及風府。天柱素　臨泣上。睛明攢竹迎香數。未　顴　系竹空。</p>
<p>頭維下關與脊中。肩貞心俞白環瑜。天牖人迎共乳中。周榮淵液斧鳩尾。腹哀少商魚際位。</p>
<p>經渠天府及中衝。陽關陽池地五會。隱白漏谷陰陵泉。條口犢鼻兼陰市。伏兔髀關委中穴。</p>
<p>殷門申脈承扶忌。</p>
<h2>卷之六</h2>
<h3>運氣第六(並出玉匱金鑰)</h3>
<h4>天元五運經天(一首)</h4>
<p>甲己HT　天其色黃。土運宮音長夏當。乙庚素天白色流。金運商音應秋收。丁壬蒼天青色行。</p>
<p>木運角音應春生。戊癸丹天赤色朗。大運徵音應夏長。丙辛玄天黑色彰。水運羽音應冬藏。</p>
<p>五太甲丙戊庚壬。陽為大過速來臨。五少乙丁己辛癸。陰為不及常徐起。五正如期命曰平。</p>
<p>支干加臨見之矣。</p>
<h4>六化司十二支(一首)</h4>
<p>巳亥厥陰。風木飄怒。子午少陰。君火為暑。丑未太陰。濕土為溽。寅申少陽。相火為燠。卯酉陽明。燥金清肅。辰戌太陽。寒水為主。</p>
<h4>運與天歲德符異名(一首)</h4>
<p>運同天化號天符。運臨本辰名歲直。運同歲直又同天。是謂三合名太乙。太運若與在泉俱。</p>
<p>此年名曰同天符。少運若與在泉類。此年名曰同歲會。運臨四孟歲無殊。又有同天支德符。</p>
<p>壬寅之歲斯云乎。又有同歲支德符。癸巳之年斯謂歟。運如不及雖寒氣。得逢月干來相契。</p>
<p>或當大寒氣交初。日時干與運相配。三者皆名干德符。氣化及期是平歲。</p>
<p>天地左右六步主氣交時候大寒厥陰為初氣。春分少陰二氣逢。小滿少陽三氣至。大暑太陰四氣通。秋分陽明五之氣。小雪太陽六氣終。</p>
<h4>天地三用時位(一首)</h4>
<p>司天主一歲之天。在泉主一歲之地。司天又主上半年。在泉又主下半年。司天又主初之氣。</p>
<p>在泉又主終之氣。左右間是陰陽路。每到六旬移一步。司天三位以茲分。時位初終隨度數。</p>
<h4>六十年運氣相臨異名(一首)</h4>
<p>司天生運父臨子。名為順化當如此。運生司天子臨父。名為小逆倒之故。司天克運號天刑。</p>
<p>大過天刑運反平。五運若犯司天克。當分太少觀差忒。少運勝天為不和。太運勝天為太運。</p>
<p>少運勝天或天勝。其位反同天正化。順化小逆無勝負。此由運與天和睦。天刑不和與天逆。</p>
<p>災變分爭想非一。三者皆從何處來。運與司天不相得。運同天化是相符。名逐加臨與消息。</p>
<h4>定交六氣時刻(一首)</h4>
<p>法以四年為一紀。年遇三合周復始。申子辰為初六天寅子亥酉申午起。巳酉丑為六二天。</p>
<p>蛇兔虎鼠豬雞裡。寅午戌為六三天。申午巳卯寅子是。亥卯未為六四天。定入晡早禺出爾。</p>
<p>每氣六十日方換。常余八十七刻半。初三與五欲交時。從初一刻依期算。二四與六欲交時。從申定刻隨時斷。二十四步百刻周。方成一度如魚貫。前三十日謂之初。天氣用時地氣伏。後三十日謂之中。地氣用時天來從。天用事則地氣上。地用事則天氣降。地氣升時入太虛。天氣降時入有質。升而已降降而升。升降相因變乃出。凡言天者求之本。風暑火濕燥寒附。凡言地者求之位。二火土木金水議。凡言人者求氣交。多少常差其分際。天氣不足地氣隨。地氣不足天氣來。運居其中常先應。歸所同和惡不勝。上勝天氣降而下。下勝地氣遷而上。微者小瘥甚大瘥。佐易變生觀病狀。</p>
<h4>六化標本正對生成(一首)</h4>
<p>午未酉戌亥及寅。正化從本其數生。子丑寅卯巳及申。對化從標其數成。正化令實勝無復。對化令虛勝復行。運從成數皆因少。生數都緣太與平。</p>
<h4>一歲之中五運交日(一首)</h4>
<p>初起大寒無改易。二起清明前三日。三起夏至前之五。四起處暑後之七。五起立冬後五朝。</p>
<p>各七十二循環畢。主運木火土金水。運生一運周而始。陽年起太陰年少。太少之各相間起。</p>
<p>角徵宮商羽迭排。每年自覺輪無已。欲推客氣尋誰問。當年運是初之運。五音支小逐陰陽。</p>
<p>運運相生體前論。</p>
<h4>五太從運化(一首)</h4>
<p>五太之年雖異紀。司天止有羽與徵。太角運與上商同。上徵逢時氣逆沖。戊火然為太徵歲。</p>
<p>上羽還同正徵議。大徵更見徵司天。收氣必晚難齊至。太商若更遇上徵。便與正商無少異。</p>
<p>運或本羽見上羽。長氣不化乖常度。唯大宮年本氣專。更無他候奪其權。縱逢上羽及上徵。</p>
<p>終莫虧盈土化宣。</p>
<h4>五少從運化(一首)</h4>
<p>五少之年從鬼化。司天唯有角商宮。若逢相克比和者。更逐天音與正同。</p>
<h4>五運不及災宮(一首)</h4>
<p>辛一丁三己五中。乙七癸九是災宮。勝從各分時與位。誰知五臟與宮同。</p>
<h4>五郁發期(一首)</h4>
<p>土火之郁發於四。金發於五為常事。木鬱之發無相期。水鬱二火前後至。氣有多少發微甚。</p>
<p>微厥下承如氣應。盛者差三十度奇。氣猶未去乖常令。運太過者其至先。運不及者其至後。</p>
<p>當先反後後反先。發不如期是災咎。木達火發土奪之。金泄水為之折制。觀其虛盛與調之。</p>
<p>過者折之以其畏。咸瀉腎兮酸瀉肝。甘瀉脾兮辛瀉肺。苦瀉心兮自古同。客勝無妨假其氣。</p>
<h4>五臟五邪相乘</h4>
<p>虛邪之病母乘子。心火熱乘脾土是。實邪之病子乘母。肺金燥乘脾土裡。微邪之病妻乘夫。</p>
<p>腎水寒乘脾土耳。賊邪之病夫乘妻。肝木氣乘脾土矣。正邪之病為本病。脾土自甚濕如此。</p>
<p>所謂微實正虛邪。從微至甚求其理。細言各有甚與微。其余以此類推之。</p>
<h4>六氣先取化元(一首)</h4>
<p>辰戌之紀號太陽。瀉水補火當在九。卯酉之紀號陽明。瀉金補水六月取。寅申之紀號少陽。</p>
<p>瀉火補金在龍口。丑未之紀號太陰。瀉土補水迎馬首。子午之紀號少陰。瀉火補金辰上候。</p>
<p>巳亥之紀號厥陰。瀉木補土年在丑。只要先時取化源。此是玄珠斡天手。啟玄注素別些個。</p>
<p>用藥施針兩俱可。卻於四月始迎風乍前十二先發火。玄珠五穴分明說。數有生成多少別。木瀉太衝火太陵。土白金淵水溪穴。衰者還宜預補之。陰陽自有玄珠說。</p>
<h4>天地藥食所宜(一首)</h4>
<p>上角或下角。治以辛涼且無駁。上下徵或火。針而寒者自來可。上宮或下宮。若加之熱古今同。上宮中或角與徵。上用苦熱而已矣。下宮如遇徵其中。下使甘溫如喝起。下宮下若更逢宮。下主苦溫隨表裡。下宮或值中商羽。下非甘熱將何據。上商與下商。苦小溫又良。下商中角徵商羽。治下酸溫是正方。上羽宜苦溫。下羽宜苦熱。上羽中逢宮羽商。上宜甘熱一言決。下羽中商角羽宮。下當甘熱別無說。下屬地。上屬天。藥食隨宜慎勿偏。假若上宮宜苦熱。苦若用時須發泄。苦能燥熱濕能通。甚者更加奪與越。苦熱如將補濕家。縱無肉潰須皮裂。</p>
<h4>運氣活法(一首)</h4>
<p>病如不是當年氣。看與何年運氣同。便向某年求活法。方知都在至真中。</p>
<h4>六氣化變勝復淫治略(一首)</h4>
<p>夫六化六變。勝復淫治。不可綱紀。六氣所至。和平暄埃。炎暑清勁。時化之常。璺啟舒榮。圓盈行出。庚倉藏斂。司化之常。風雨霧露。形見蕃鮮。生長收藏。氣化之常。六氣生終。寒溫溽潤。毛羽　介。鱗生羽化。皆謂生成。德化之常。生榮濡茂。堅藏之謂。布政之常。大涼驟注。燔燎散落。自埃水雹。氣變之常。高明光顯。沉陰暝晦。勁切淒鳴。堅芒剛固。令行之常。為病裡急。瘍疼身熱。積飲痞隔。嚏嘔瘡瘍。浮虛身腫。病形之常。肢痛驚惑。惡寒戰栗。譫妄驚躁。瞀時蓄滿。尻膝　病。病內之常。　(音備)戾悲妄。衄　嘔涌。霍亂吐下。喉閉耳鳴。皴揭寢汗。經病之常。脅痛嘔泄。語筆重　。暴注　。流注禁止。病主之常。凡十二變。報德以德。報化以化。報政以政。報令以令。氣高則高。氣下則下。氣後則後。氣前則前。氣中則中。氣外則外。位之常也。風勝則動。熱勝則腫。燥勝則干。寒盛則浮。濕勝濡泄。甚則變病。水閉腑腫。隨氣所在。以言其變。六氣之用。各歸不勝。而故為化。太陰雨化。施於太陽。太陽寒化。施於少陰。少陰熱化。施於陽明。陽明燥化。施於厥陰。厥陰風化。施於太陰。各命所在。征兆之耳。</p>
<h4>司天勝復六診(一首)</h4>
<p>衝陽胃土足跗上。微則食減絕則喪。(厥陰司天視診。)尺澤在肘內廉文。金肺內絕火邪旺。</p>
<p>(少陰司天。)太谿內踝後跟中。土來克水。腎家恙。(太陰司天。)天府肺氣肘內側。腋下三寸。火應相。(少陽司天。)太衝在足大指後。本節三寸。屬肝臟。(陽明司天。)神門掌後銳骨端。心氣難與太陽亢。經言六脈絕不治。聊為歌式備遺忘(太陽司天。)</p>
<h4>十二月七十二候(一首)</h4>
<p>立卻春來春氣動。一夜東風能解凍。土底蟄蟲已振搖。水上跳魚相戲泳。自從交得雨水後。</p>
<p>獺也祭天貪應候。忽聞鴻雁音聲北。那知草木萌芽透。驚蟄如箭去難留。開卻桃花未肯休。</p>
<p>倉庚叫罷還重叫。催得胡鷹變作鳩。春色平分才一半。向時玄鳥重相見。三聲五聲天際雷。</p>
<p>一閃兩閃云間電。正芳菲裡報清明。忙殺梧桐枝上英。田鼠化　人不見。虹橋垂淚雨初晴。</p>
<p>洽數歷日早穀雨。浮萍上斷閑洲渚。鳴鳩自拂其羽毛。戴勝降在何桑樹。立夏那曾與物爭。</p>
<p>知他螻蟈為誰鳴。無端蚯蚓縱橫出。有意王瓜取次生。可憐小滿成虛度。閑尋苦菜曾榮處。</p>
<p>靡草於村死欲枯。微暑一帘推不去。芒種一番新換互。不謂螳螂遽如許。鳴HT　千聲復萬聲。</p>
<p>反舌盧都無半語。夏至始知造化功。鹿頭角解養新茸。陰陰柳上鳴蜩日。細細田間半夏風。</p>
<p>小暑乍來渾未覺。溫風特特褰帘幕。屋壁才容蟋蟀居。山崖已見蒼鷹學。大暑雖炎猶自好。</p>
<p>且看螢光流腐草。勻勻潤土散溽蒸。時時大雨蘇焦槁。大火西流又立秋。涼風直透曲房幽。</p>
<p>一庭新露空如玉。幾個寒蟬聒樹頭。一瞬中間處了暑。鷹銜鳥祭誰教汝。天地屬金始整肅。</p>
<p>禾稼登場漸清楚。無可奈何白露秋。大鴆小雁來南州。且教玄鳥都歸去。教令諸禽各養羞。</p>
<p>自入秋分轉寂寞。許犬雷聲也收卻。蟄戶如何敢不壞。水痕只見從今涸。寒露人言晚節佳。</p>
<p>鴻為賓客也離家。雀投大水化為蛤。菊繞疏籬黃幾花。休言霜降非天意。豺野狼用獸班秋祭。</p>
<p>草木皆黃落葉天。蟄蟲更不抬頭起。誰著書來立冬信。水始成冰寒日進。地凍荒郊裂似龜。</p>
<p>雉入大水潛為蜃。逡巡小雪年華暮。斷虹不見藏何處。天騰地降兩不交。閉塞如城如禁固。</p>
<p>入得大雪轉淒迷。　嫌誰不肯啼。虎初交後風生壑。荔挺出時霜滿蹊。短日漸長冬至矣。</p>
<p>蚓結黃泉都不起。漸漸林間角解麋。溫溫井底泉搖水。去歲小寒今歲又。雁聲北鄉春去舊。</p>
<p>鵲尋高處始來巢。雉入寒煙時一　。一年時盡大寒來。雞始乳兮如乳孩。鷙心厲疾飛還勁。</p>
<p>澤腹彌堅凍不開。五朝一候如鱗次。二歲從頭七十二。達人觀此發天機。多少乾坤無限事。</p>
