<header data-type="book">
<h1>素圃醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鄭重光</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1707">公元1707年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>余讀鄭素圃先生醫案，而深嘆先生仁育之功之大也。先生體驗深，故見之獨確，閱歷久，故信而有徵。具卓然之識，而能好學深思，心知其意，故其視人病，不啻見垣一方。苟非司命，無奈之何，先生莫不使之霍然而起。今年已老，不忍沒其生平之苦心，全活之實效，舉其尤大彰明較著者，筆為醫案，斯真足以信今傳後，而垂無窮。吾聞先生之於醫，非偶然也。先生早年痛其尊公先生即世，自傷為人子而不知醫，旋又自膺疢疾，復苦醫之多不精脈，不達陽生陰長之故，苟非大相乖舛，即同胡廣之中庸，味道之模稜，遂致宛轉於藥爐間者，凡五年。用是憂愁發憤，恣意搜討，上自軒岐，下迄近代，不遺餘力，一旦確然有以會其指歸。夫五年之久，切身之火，其間四時之更迭，七情之感觸，標本虛實，藏府傳變，方劑損益，無不飲食寐寐，甘苦親嘗。始悟醫之互相沿習，多事虛聲，而古先聖人醫之源本，方之準繩，欲求神明變化於其間，固非彷彿襲取之所能得也。夫醫之為書汗牛矣，窮年涉獵，而無當於治，雖多亦奚以為。今縫掖之儒，無論帖括稿本，匝地彌天，即自謂羽經翼傳，著述衰然。求其接孔孟心傳，千百中無有也。苟能體之身心，驗之實踐，則求之六經四子而有餘，先生之於醫，亦若是而已矣。靈經素難，先生之六經也。仲景東垣，則先生之濂洛也。本身徵民，先生之道，其庶幾乎。吾觀醫案之中，憑脈者十之八九，三指不明，誤人七尺，先生之脈精矣。參之望聞者勿論，則隔幃不出一語，而能決其為幽陰之隱疾也。意得者十之一二。醫者意也，先生之意神矣。則觀市中之多觝魚，而能知其中毒；見幾上之葡萄乾，而能知其舌之非不可治也。如此者不能臚舉，要皆他醫斂手莫措，而先生迎刃奏功，則先生之醫案，其可不流傳以示後世哉。且醫案不可與醫方同日語也。先是先生之曾祖夢圃公，有墨寶齋經驗方，焦弱侯太史公序而行世，聞有秘方，不憚數千里購之。雖重貲勿恤，兵燹之後，板多散佚，先生重修而廣布之。然方雖良，必視乎證，苟證之疑似，介乎毫芒，則猶恐不免於泥古談兵，按圖索驥。案則詳於證而方具焉，如法家之成案，供其事之始末，而判其尾，又如禪家之公案，舉其語之觸背，而透其宗。後之留心於此者，取而例之，而參之其通變，不尤足多乎哉。或疑先生醫案中，多著他家之誤，何也？曰：是先生之仁也。先生悃愊無華，非若李士材之工於排俗，而於醫之誤者，必備載之。世之病而死者半，醫而死者亦半，徒避彰短炫長之小嫌，而使後之誤者踵其誤，是聽人之相藉以死，先生不忍為也。且諱其人而第著其誤，何傷乎？故曰仁也。或疑先生醫案中偏於溫補，何也？曰：非偏也。亦先生之仁也。吾聞陽道舒，陰道肅。故乾統乎坤，卦晝於一陽，所以生生不已之元也。萬物體陰而用陽，二氣屈陰而伸陽，聖人賤陰而貴陽。人之身，陽不盡，則不死，陰不盛，則不病，而道家謂陰盡而後仙。此其旨惟先生明之，故醫案所載，得薑桂而起者為多。夫過於辛溫，投以清涼即解，一失於苦寒而頓殞者，比比也。且先生非膠柱而鼓者也。故曰：亦先生之仁也。先生仁被斯人之功大矣哉。彪不敏，時有采薪，唯先生託命焉。會先生卷帙有成，一二同志，將壽諸梨棗，因踴躍以襄不朽。但愧言之少文，又無能窺見閒奧。以當年侍先君子時，時與聞導引，得諸過庭之言，今讀是書，觸緒而有合也，故不揣而序之如此。</p>
<p><u>時康熙丙戌夏五月小暑日同里後學許彪又米甫拜撰</u></p>

<h1>醫案自序</h1>
<p>夫人身命之所繫，陰與陽而已。陰陽和而生意遂焉，偏勝則害。湯液所以救其偏而和之也。是故藥之為性，不寒則溫，不升則降，不補則泄，不瀉則澀。而自軒岐以來，聖神輩出，悉皆兼收幷蓄，待用無遺，而曾不敢為晝一之規。使去溫取寒，存補廢泄者。凡欲以藥性之偏，救人氣血之所偏也。自朱丹溪殿於張劉李三家之後，成一家之言，而為之說，引日月之盈虧，以喻陽常有餘，陰常不足，遂印定後人耳目，專事苦寒以伐真陽。嗚呼，夫人身氣血之所偏，而率皆陽盛而陰虛也。丹溪之治，亦無誤焉。不然，真陽既虧，而復甚之，苦寒以伐之，其亦不仁甚矣。經曰：陰平陽秘，精神乃治。又曰：陰陽離決，精氣乃絕。夫曰平，則不欲過盛可知；曰秘，則當寶護可知；曰離決乃絕，則陰精不獨絕可知，陽氣亦離決可知。然則聖言具在，司民命者，且必專事苦寒以伐真陽也耶。張介賓有言，劉朱之論不息，軒岐之澤不彰。辭雖過激，用意良深。（不侫）寄居蕪城，凡三十年，每當臨證施治，輒不敢謬執成見，而必消息詳審，察氣血之所偏，究病因之所極，與其情之所欲得。治既效，則錄其顛末以備參考。案帙繁多，茲簡其即用先聖成法，與治合丹溪，後人不盡眩惑之證，束而度之。獨摘其亢害疑似之證，匯成四卷，用示門人。會又米且碩繡天諸君，欲為捐資，付之剞劂。余曰：溯醫學之源，察陰陽之理，軒岐奧典，則具在矣。各家闡發，亦有可參，胡區區乎膠固為。然以尊《內經》之旨，補專事苦寒之偏，而於以和陰陽而遂生意。則是編也，或不無小補焉，不揣固陋，用質大方，凡我同心，幸為裁正。</p>
<p><u>康熙丁亥小暑後三日新安素圃老人鄭重光題於守一齋時年七十</u></p>

<h1>卷一</h1>

<h2>傷寒治效</h2>
<p>魏虞成學博，壬申秋，得傷寒似瘧。諸醫皆以柴葛解肌，枳樸化滯，或作瘧治，而寒熱無定期，且無汗解。因熱不退，又進大黃丸下之而不便。至十八日，招余診視。脈來弦細而緊，三脈皆陰，舌黑而滑，乾噦不休，頻欲飲湯，甫下咽，即嘔出，而水倍之，當胸結硬，腹亦微痛。告之曰：余治法不類諸醫，恐不相信也。此證已轉虛寒，非溫劑不效。舌黑而滑，腎水凌心，飲湯即吐，引水自救，皆屬少陰。況已汗已下，而邪猶不解，反增嘔噦，陰躁不眠，乃亡陽之機，常藥不效。遂立方，用生附子三錢，茯苓四錢，乾薑二錢，甘草五分，乃茯苓四逆湯也。令其多迎高明參議，未敢奉藥，惟團弘春首允，他皆不然。至暮，乞藥於余。服二劑躁定，四劑舌退黑，六劑熱除，八劑嘔止，能進谷湯。照此藥再加半夏，八九日後，粥食漸進，而大便冷秘不通，兼服半硫丸五日，大便方通，而病解。計服溫藥一月，甫能離床。</p>
<p>又如君汪，庚申年在瓜鎮，時九月杪，得傷寒。初幼科醫治，先發表，即大汗如水，繼和解而熱不退，益增煩躁，再投白虎涼膈，即神昏默睡，喚亦不醒，搖之惟開目而已。病至十九日，自郡迎余至瓜鎮。切其脈洪大無倫，重取則散，身重蜷臥。余曰：此因誤治，寒入少陰矣。初必夾陰傷寒，宜用溫經，誤投表藥，致魄汗淋漓，陽因汗越，益增煩躁，再服苦寒，陽氣愈消，致耳聾昏睡。此少陰，非少陽也。脈反散大，乃真陽欲脫之機，特進投附子理中湯二劑。服後脈稍斂，欲小便，及就桶，小便已，即寒戰口張欲脫。再以理中湯重加人參，連進二劑，方陽回甦醒。次日回郡，留理中湯方藥調治，半月始痊。</p>
<p>趙宅寡居蔣氏，年四十外，五月得時疫傷寒。初醫未辨時疫，概作傷寒正治，發表有汗而熱不退，再用清熱，即乾嘔吐蛔。七日後延余往治，脈弦數而無力。余曰：此時疫證，乃邪自里發於表，非若傷寒自表而傳於裡也。初因誤汗，徒傷正氣，清熱必定寒中，以致乾嘔吐蛔，急宜溫中安蛔，免邪入里。即以小柴胡湯加炮姜，去黃芩，四劑嘔止蛔安。而經水適至，夜則譫語，即前方加當歸、赤芍、紅花，作熱入血室施治。至十一日，乃大戰汗出而解，已身涼脈靜，一日一夜矣，忽復煩躁，面赤戴陽，渴欲冷飲，赤身跣足，或歌或哭，譫妄如狂。他醫有謂汗後餘熱未盡，當用竹葉石膏者，有謂汗雖出而里未通，宜用承氣者，又有謂余先誤用炮姜藥貽患者，議論雜出。余答曰：皆不然，初因邪未出表而誤汗，以傷陽氣，致中寒乾嘔吐蛔，又值行經而傷陰血，氣血兩虛，故出戰汗。幸戰而有汗，邪方外解，若戰而無汗，正屬不治。今身不熱而脈反大，乃真陽外越，不急用參附，必再戰而脫。余主用四逆湯加人參，煎成而不敢服。瞬息間，病人索被惡寒，方信余言。即以前四逆湯乘冷灌之，面赤漸淡，就枕略睡片刻。醒則又躁，即急煎如前大劑，亦用冷飲。方熟寐一時，及醒，問前事全然不知，反倦臥於床，不能昂首矣。用參朮炮姜，一月方瘥。</p>
<p>呂惟鬥翁令眷，住居儀真，癸亥正月初旬，余自真州發郡，路遇令婿黃蒼潤兄價，執帖相招。至診其脈，細數近疾，重取全無，舌卷焦黑，齒垢枯黃，臥床去被，露胸取涼。問其病源，初二日開窗梳頭受寒，前醫用麻黃湯發汗，汗出後即煩躁，因而又用石膏白虎湯，遂致如此。口索冷水，復不能咽，而房內又設火三爐。余曰病人如此怕熱，何須置火？家人答以主母平素畏寒，日常所設。余曰：若此乃陰極似陽，亡陽脫證。辭不治。其時朱性生翁在座，力囑用藥，勉以四逆加豬膽汁湯主之。生附子三錢，乾薑二錢，人參三錢，甘草一錢，人尿、豬膽汁各五匙，煎成灌下一半，而人即昏沉不能咽。約一時許回蘇，已離魂至江口，醒云揚州醫生藥好，復索余藥。服後熟寐，次日回陽，齒舌潤滑，如常畏寒矣。繼用理中生脈湯十數劑而愈。</p>
<p>續溪堪輿方於長，年將六旬，自徽初到維揚，為方宅卜地。時癸亥初冬，彼不知江北較冷，多啖海珍，蓋覆單薄，夜受寒冷，因之頭痛發熱。忍隱不藥，而飲食又未節，迨傳至陰經，乾嘔胸脹，舌黑干卷，脈細如絲，方求醫治。因其脈證，諸醫僉云不治，宜遷別寓。而卜地主人，不忍使遷，最後招余以定去留。余診脈望形，答以不死。其語音清響，身輕自能起臥，無煩躁下利厥逆等證，病脈似少陰，而實太陰也。因肥甘在胃，冷結不通，食壓太陰，致脈不出，中宮壅滯，津液不能上輸，致舌乾齒燥。用四逆湯加人參，作太陰霍亂治法。乾薑三錢，附子二錢，人參、甘草各一錢，陳皮二錢。服至六日，腹中腸鳴，冷食熔化，大便暢解二次，脈出舌潤。次日黑苔轉黃，胸寬思食矣。此證內實似虛，冷證似熱，若不以形證相參，幾至不救。要之。陽氣未傷，身輕不厥，為可治也。</p>
<p>附誤治案，全椒鬍子任寓王東木兄宅，二月上旬，舟中受寒，即中陰經。王兄知醫，自以桂枝姜附治之。暫減，因無發熱頭痛，病者漫不為意，飲食不節，酒肉無忌，致邪不解。如此半月，坐食時忽不能起立，遂困臥於床，漸變神昏謬妄，舌黑而干。迎醫治療，不識寒邪入里，食滿胃中，誤以舌乾謬妄，認為前服熱藥所致。因身有紅影，遂作斑狂。初用生地黃、玄參、麥冬、石膏、升麻、黃連，不效。益加犀角、大黃，如斯三日，大便不動，而病愈篤。前醫自遜不辨何證，易余診視。脈則一息二至，似雀啄之象，證則舌乾而黑，身痛不能轉側，口不能言，余辭不治。因告之曰：此水極似土，《內經》亢則害之證也。今舌乾不渴，陰也。脈只二至，陰也。謬妄聲低，乃為鄭聲，陰也。身重痛，不能轉側，陰也。夜則譫妄，日則但寐，陰也。身有疹影，乃寒極於內，逼陽於外，陰斑也。具此六陰，其舌乾黑者，乃寒極於下，逼陽於上，假熱也。因一假熱而棄六陰，悖謬殆甚。王兄力囑，勉用附子人參茯苓四逆湯，五日脈起三至，身輕能言，稍有生機，至六日真陽欲絕，夜汗三身，遂肉瞤筋惕，脈脫亡陽，乃苦寒結陰，大便冷秘，竟成藏結，藥難下膈，又延六日而殞。前方於長舌乾齒燥，用四逆湯而愈。以此證之，誠誤治也。存為舌鑑。</p>
<p>余青岩廣文令眷，年近三十，夏初得時疫傷寒，初起不惡寒，但發熱身痛目赤。用敗毒散，二日微汗，而熱不退。延至六七日，身發稠密赤斑，狂亂譫語，聲變北音，發則不識人，似屬陽明熱證，但脈細如絲而弦緊，口雖干而不渴。有議用涼膈化斑者，余以脈為主，作時疫陰斑亡陽危證，幸程至飛團弘春，定議僉同。主以真武理中合劑，重用參附者五日，陽回斑散，始克有生。此余致恭同道塚媳，因自如醫，故弗疑而治效也。</p>
<p>吳李履兄，庚午七月間得傷寒，初不知其病狀，至半月後始延余治。診其脈弦而緊，噦聲越鄰，舌苔灰黑，胸發紫斑，結硬而痛，臍旁動氣，大便利水。詢其何以至此，答云：初醫說是傷寒，不效。又醫說中暑，進香薷飲二劑，遂變至此，仍欲用化斑湯，未敢煎也。余曰：此陰斑也。因冷極於內，逼其陽於外，法在不治。幸神氣未昏，手足未厥，初劑用四逆湯加茯苓、半夏、吳萸，溫里以治噦，次日加人參以培陽。六劑斑散利止，惟嘔噦胸結不開，仍用前劑，不加增減，半月後胸開痛止。方用白朮理中，計用參斤許，附子斤許，兩月方起床。貽害至今，遇病必須姜附。</p>
<p>又令媳汪宅，未出閣閨女，甲申春月，感寒喉痛。浙醫稱火，遂恣食水果，飲冷傷肺，致增咳嗽。因不溫散，咳甚則吐血。又易一醫，竟認陰虛，用生地黃二冬二母元參等藥，更加生藕汁半鍾，令其冷服。服後即嘔吐不止，氣塞喉中，急以咳嗽吐血，求治於余。及診其脈，沉弦而緊，搏手甚緊。余曰：豈愚我乎。此脈乃沉寒痼冷，未經溫散，直入於裡，其證必惡寒身痛，胸中阻塞，嘔逆喉痛。問之果然，諸證皆備。余曰：此當表裡雙溫，逼寒外解。遂用桂枝、細辛、赤芍、附子、乾薑、吳萸、半夏、桔梗、甘草，二劑喉不痛，亦不嘔矣。如斯六日，寒邪出表，發寒戰，微熱微汗，邪從外解，胸塞咳嗽皆減，能食米湯矣，彼畏熱藥，遂中止，旬日後，因前汗未周，遍身疼轉為痛痹，仍以前方去吳萸、桔梗，加當歸、木通，服七八日，痛減未痊，又畏熱藥而止。半月後余寒內搏，腹肋大痛，呻吟不絕，蓋因吐血時值行經，服藕汁冷藥，經因冷阻，故當經期，遂致大痛，復用前方加肉桂、五靈脂，去細辛、木通，六七日瘀血下而痛旋減。又畏熱藥中止，留痛經餘證，至今未除。</p>
<p>方安止郡丞，素虛寒，脈本細小。丙子年初冬，因酒後蓋覆不周，感寒嘔吐。次日即發熱惡寒，身痛脈浮，猶有表證，作太陰病治法，用桂枝蒼朮炮姜二陳等藥，溫里解肌，得汗表解，旋入少陰，脈細如絲，舌黑下利，尿如煤水。因病重，又請一醫參治，見舌黑而滑，作腎虛，用八味地黃湯加人參，甫一劑，即嘔吐，半夜而增呃逆。因吐汗多，遂致亡陽，筋惕肉瞤，大便頻下，神昏蜷臥，急以真武湯換乾薑，每劑人參五錢，附子三錢，日服三劑，如此十日，未少間斷，方得神清利止。幸天生胃氣，能進粥食，計用人參三斤，姜附二斤，醫治兩月，方獲痊可。</p>
<p>又令郎年十五歲，因夏月貪涼食冷，致仲秋發熱腹痛。初幼科醫治，十日不效，令余接醫。診脈弦緊，仍以童稚治法，用溫中化滯，蒼樸桂枝炮姜，又四五日，亦不效。以手按其痛處，則在臍旁季肋之下，此少陰部絡，且年已十五，不可作童子醫矣。已經汗而熱不退，每日大便而痛不減，漸增煩躁，此內真寒而外假寒，少陰病也，用茯苓四逆湯，暗投附子，恐病家之疑畏也。初煎服下，即熱退，再煎擠渣服，即安臥。次日直告明用附子，照前藥遵原方，加人參一錢。如此七日，熱退痛除，即轉咳嗽，前之季脅痛處，變為不能著席而臥。蓋前痛乃外寒客於少陰，今之咳嗽，則因病而內虛寒。改用八味地黃湯加人參，十數劑咳止，方能側臥。病後唾水，仍以八味地黃丸，兩倍桂附，水疊為丸，服年餘，乃唾止。</p>
<p>江豫臣兄，戊辰夏病，初屬周醫治療，五日後相招，脈則弦澀，身無大熱，惟胸中飽脹，嘔噦不息，前醫用柴平湯不效。一醫用枳實理中，亦不效。余詳辨之，病似太陰，而多身熱，又不下利，面目皆黃，又似陽明，而尿不赤，脈不長，口不渴，蓋弦脈屬肝，澀主血，病夜則獨語，胸腹皆痛，豈畜血證乎。未敢遽投桃仁承氣，先作厥陰畜血，以桂枝、赤芍、炮薑、半夏、陳皮、甘草，日投三劑，胸中遂寬。至第三日，竟屬厥陰，少腹急痛，不及登桶，便下紫黑血塊半盆，隨昏暈大汗，尊堂慌迫，以人參兩許，煎湯灌下。余急往診，脈則散大，此氣隨血脫也。頻以人參湯進之，方汗斂人清。立候前治周醫，告之曰：傷寒蓄血已下，略去傷寒二字，惟有固氣一法。周醫首允，復同驗舌，舌則全黑，議用人參五錢，白朮三錢，附子、炮姜各二錢，甘草一錢。不易方者半月，舌黑全退，飲食大進，幸血下之後，不復再便。議去附子者三日，舌復全黑，加入附子旋退。計服參附藥匝月方瘥。</p>
<p>黃庶常翁令政，年近四十，於五月初旬，惟熟睡不醒，呼醒又睡，胸背脹痛，嘔吐不能食，不知何病，招余診視。脈沉細緊滑，惡寒足冷，以前病論之，此少陰中寒而兼痰飲也。經曰：少陰病但欲寐。此證是已。諸陽受氣於胸中，轉行於背。今胸背脹者，寒痰冷氣，上參於陽部。幸未厥逆，急以四逆湯加半夏、茯苓，日投三劑。計用附子七錢五分，服至七日，即霍然起矣。</p>
<p>黃迪人兄令眷，為方星垣兄之令愛也。夏月畏熱貪涼，過餐生冷，八月初，患午後發熱，腰疼腹痛，大便頻瀉，咳嗽帶血。先醫數位，皆主陰虛。病經半月，招餘一診，主以肺寒咳嗽，而用桂枝、炮姜，與諸醫藥不合，置而不用。逾半月病劇，又增嘔噦喉痛，煩躁不寐，方宅令其復請，其脈弦緊，前病屬厥陰，今病將入少陰矣。而病家素畏熱藥，病已至此，亦難顧忌。以桂枝、細辛、附子、乾薑、赤芍、半夏、吳萸、木通、桔梗、甘草，薑棗為引，表裡兼溫。服至六七日，喉全不痛，得臥躁寧，瀉亦大減。少陰病衰，仍歸厥陰，現寒熱混淆之證，尚咳嗽而不吐血，或小便不通，而痛不可解。服厥陰之烏梅丸則通。或兩乳腫痛欲裂，以當歸四逆湯加柴胡，而乳消。如此上下游走而痛者，又半月，皆以當歸四逆湯加附子、乾薑、茯苓、半夏，兼用烏梅丸，以治諸錯雜之邪。蓋始病皆未以傷寒治之，致寒邪伏於厥陰，不能外解。計服桂枝姜附藥四十日，裡氣方溫，發出周身大瘡，如豆磊磊然，痛楚不堪。計又半月，邪漸解而瘡漸愈。醫治兩月，方能舉筋而食。蓋厥陰主血，經云：厥陰病不解，必發癰膿者。此證是也。</p>
<p>吳象採太學令堂，年近五十，春間得傷寒，初不知病狀，經歷四醫，至四十日，始迎余治。診得脈沉而緊，按之甚堅，全無和柔胃氣，嘔吐發呃，胸結如石，舌黑而滑，渴欲冷飲，而滴水不能納。詢其治法，初則發表，繼則解肌，皆不效。後浙醫包治，先用黃連、枳實，後用大黃、芒硝，惟下糞水，反逆上而結於胸。幸不煩躁下利厥冷，猶為可治。以生附子、生乾薑、半夏、茯苓、吳萸，大劑與之，始能下咽，亦不覺辛辣。如此五日，胸前稍軟，而下痛於腹矣。余曰：此病必原胃冷，誤投涼藥。若陽病結胸，豈堪此大辛大熱。所以黃連、大黃，閃爍至堅冰，今得溫劑，冰化為水，將必洞泄，勿謂熱藥致瀉，乃前黃連、大黃未動也。倘利瀉不止，仍屬死證。至七日，果大瀉不禁，其家以余先言，竟備終事。急用人參二錢，合理中湯一劑，入腹片時即止矣。續以理中湯調理一月而瘥。原籍山西，胃氣本厚，病餓四十日，誤治不傷，而人參一劑即應，所謂有胃氣則生，此證足徵矣。</p>
<p>葉奉宇媳丁氏，孕三月，惡寒嘔吐，腹痛下利。前醫作霍亂治，至第三日腹痛而厥者，三次，回蘇則喉無音而竟啞。前醫辭不治，其母迎余診。其脈尺寸皆伏，惟寸口尚應指。余曰：此少陰寒證，腎脈循喉嚨，散舌本。經云：腎氣厥，不至舌。今寒極於下，陽氣不升，致喉無音，惟救病人，不能顧胎矣。病家唯唯，遂以四逆湯加桔梗，大劑灌下，片刻音出，再劑痛止，手足回溫，脈亦漸出，第五日果胎墮，而產母無恙。若徘徊瞻顧，產母不救，而胎何能獨存乎。</p>
<p>許蔚南兄令眷，暑月因食瓜果，得夾陰傷寒，至第七日，迎余往真州，時當酷暑，診其脈，數大無倫，重取無力，乃虛陽伏陰之脈。煩躁席地而臥者五日矣，身發赤斑，目赤畏亮，口渴頻欲冷飲，復不能飲。前醫不識夾陰，誤為中暑，投以香薷，以致陰極似陽。余因其懷孕六月，姜附未敢即投，初用溫中平劑，又屬女病，不能親視病容唇舌，脈大而虛，亦似暑證。恐熱藥傷胎，先以井底泥敷臍，以試其里之寒熱，便投溫劑，甫以泥沾腹皮，即叫冰冷入腹而痛。急令拭去，余曰：此真病狀也。遂用茯苓四逆湯，茯苓三錢，附子二錢，乾薑、人參各一錢五分，甘草五分，令煎成冷飲。余方撮藥，病家驚畏而哭，謂人參、附子盡劑也。倘不效，奈何？有孕在懷，即藥效，胎將奈何？余曰：經云：有故無殞，有病則病受，不傷胎也。正在遲疑，吳中璧兄曰：此吾女也，年少可再孕。接藥加參，煎成立令服下。五日未寐之病人，得藥便睡，醒則登床。再劑斑消熱退，熟寐半夜。次日余辭曰：藥效矣，病未除也，尚須藥六日，倘畏熱，予告去矣。病家云：藥雖效，而附子、乾薑，必致墮胎，汝去誰為先生任過耶。因留七日，每日人參五錢，附子四錢，乾薑、白朮三錢，甘草一錢，服六日，胎不墮。而病回後，足月產一女，今成育。</p>
<p>吳云翼兄秋杪赴席，夜歸已寐，半夜後寒戰，嘔吐汗多，次日微發熱，他醫作陽證傷寒，用汗法，汗後熱愈甚，反增身痛腹疼。三日後就診，脈細緊，身無大熱，因思酒後已寐而病作，寒戰不熱，嘔吐汗出，此病從中發，寒邪在裡，不在表也。因藥汗出，而身反疼，豈非誤汗乎。初以桂枝理中湯解肌溫里，二日不效。至夜即轉少陰，而現亡陽煩躁，狂呼撫幾而立，不能臥床，少腹急痛，肉瞤筋惕，兩足厥冷。急用四逆湯加人參三錢，夜投三劑，至四鼓方躁定，登床得寐。次日，夫婦悲泣畏死。余慰曰：昨夜應死，今日不死矣。改用真武湯加人參二錢，六日後方能坐於床。後用理中湯加減調治，半月方愈。治病須意會表裡陰陽，此寒霍亂，初治即當用理中湯者。</p>
<p>吳駿聲大行令政，因經行半月不止腹痛相召。至診其脈，則弦緊也。予曰：此非血虛之脈，必因經血虛而寒襲之也，其證必頭痛身疼，發熱嘔逆。詢之果然，初以桂枝、細辛、當歸、赤芍、炮薑、二陳之劑。不應，邪因藥發，漸增寒熱頭痛，胸膈脹滿，嘔噦不食，脈猶弦緊，全見厥陰經病。用當歸四逆湯，加乾薑、附子、半夏，表裡雙溫，續續微汗，表解。因經行既久，血海空虛，邪乘虛而入血室，夜則妄見譫言，寒熱混淆，胸中熱痛，口乾作渴，小便澀疼。煎劑用當歸、赤芍、桂枝、木通、吳萸、附子、乾薑、人參、甘草，兼服烏梅丸三十粒，以治煩熱便痛錯雜之邪，隨病機之寒熱而圓活治之。兩月後，經水再至，方脫然而愈。</p>
<p>吳隱南主政尊堂，因大勞後得時疫，初病但發熱身痛，胸脹作嘔，脈弦數。外無表證，此邪從內發，所謂混合三焦，難分經絡者也。用芎蘇飲疏解之，至第三日，兩頤連頸腫痛，此邪由太少二陽而出，正合敗毒散證。服二劑，邪不外解，次日，反內陷而入少陰，變為胸脹嘔噦，煩躁不寐。因病增劇，日請數醫，皆用柴胡、蒼樸、半夏、青陳皮、枳殼。余雖日到，而診視者五人，藥劑雜投，余不能肩任。至第九日，脈變細疾，煩躁下利，乾嘔胸滿，令汗自出，遂直告隱南曰：病危矣。不知連日所服何藥，已傳少陰，將致亡陽，若不急救，明日即不可治。遂立方立論，用茯苓四逆湯，茯苓三錢，附子二錢，乾薑錢半，人參八分，甘草三分，留藥為備卷，以俟眾議。其日曆醫八位，皆曰不可服。延至二鼓，病人不躁，忽變為笑矣。隱南和笑為惡證，勉煎服半劑，即安睡。至四鼓醒，索余藥盡劑服之，又熟睡。至天明，再請不準服四逆之醫，又云當服矣，但造議宜減附加參。病家崇信，減附一半，加參一倍。甫下咽，即煩躁乾嘔，急復相招，竟去人參而加附子，隨即相安。蓋寒邪在少陰，重在附子，其加人參，不過助正氣耳。終竟去人參，以俟邪盡，六日後，方甲人參理中湯加半夏，彌月乃安。病九日而傳變三經，醫不明經，何能治病。</p>
<p>黃蘭孕翁令政，年五十外，壬午隆冬，病傷寒，初不知何經受病。至第八日請治，脈則細緊而弦，嘔噦痰涎，神昏但寐，腹痛下利，足冷舌灰，時發譫語。先治之醫，猶用蒼樸柴苓湯，作協熱下利治，指譫語為實熱。余曰：病經八日，正陽盡入陰之時，已經發汗消導，而神昏下利，將至亡陽。急用四逆湯以救其逆，安敢再肆疏削乎，撮附子、乾薑、茯苓、半夏、甘草一劑而別。前醫阻撓不決，置藥不煎。至夜病劇，卜之灶神，神允余藥，方敢煎服。服之即得寐，醒後神清。次日再招，相信委治，診脈稍和，即以前藥加人參一錢，日服二劑。至五日，噦利方止，繼用附子理中湯，半月始愈。</p>
<p>吳景何翁素有痰飲吐證，每發不能納藥，例以吐儘自止，即醫用藥，亦置不煎。其年秋涼，夜飲受寒，歸家嘔吐，繼即發寒熱，相招診視。余曰：非夙疾，乃新感寒也。但本體虛冷，不同常人。治法用調中湯，桂枝、白芷、蒼朮、乾薑、半夏、陳皮、甘草等藥，溫經散寒，雖日相招，竟不服藥。延至五日，余激曰：今日再不服藥，寒不外解，內搏於裡，必下利不止矣。猶然不信。迨至初更，腹大痛，遂下痢膿血，方以余言不謬，連夜再招，急請治痢。余曰：非痢疾，乃寒邪，五日不外解，傳入厥陰肝經，肝藏血，寒搏血而下痢，若以痢疾治，則誤甚矣。因其身熱未退，邪猶在半表，未全入里，以桂枝、細辛、生薑，解在表之邪；以乾薑、附子、吳萸，溫里之冷；以當歸、赤芍、紅棗，和厥陰之血。日投三劑，至第三日壯熱半日，得通身大汗，隨即熱退而痢止。若誤作痢治，身熱而痢，豈不殆哉。</p>
<p>吳佩六兄由歙暑月到揚，路受風邪，脈浮弦滑，頭疼身痛，寒熱而嘔。初一醫用桂枝、細辛、乾薑、附子作厥陰治，失之過重。繼余往診，作風暑夾食，以柴葛平胃投之，因而大汗。殊不知風暑之汗，不足畏也。浙醫曰：汗多亡陽，誤治之矣。急用人參、黃耆斂汗，勸其進食，六七日邪不解，日晡寒熱。又作瘧治，用人參、何首烏截瘧，復增泄瀉矣。此景何翁之堂弟也。復招余治，雲系代彼里中覓地，家中妻子多人，倘不治，關擊匪輕，切囑甚力。余曰：此陽明病，須斷飲食，方敢經手。病家唯唯。復用十日前柴葛平胃等藥，因服首烏而作瀉，加入炮姜，寒熱漸輕。五日後積滯頻下，七八日霍然而起。病者笑曰：省用人參銀數兩矣。</p>
<p>君榮族叔，居鎮江，年三十外，夏月患傷寒，初不知何證。服京口醫家藥，發汗過多，即小便難出。又用五苓散，服下旋通旋閉，點滴難出，少腹脹滿，頭汗時出，迎余渡江。脈虛大而遲，坐不能臥，氣微促，不小便者三日矣。余曰：此誤汗亡陽，非大劑人參不能救。時京口老醫黃石倉適至，余與彼兩議相同，遂用人參一兩，茯苓三錢，附子一錢。服下合目片時，略有尿意，又進一劑微滴，夜又一劑，五更則頻頻而出，遂不禁矣。次日再以理中湯加茯苓、益智仁調治半月而康。後七年，中暑而病，尿又不通，力薄不能市參，終至不救。蓋此人縱欲，腎氣大虛，每病必攖此患。</p>
<p>瓜鎮侯公遴，深秋傷寒，始自以為瘧，飲食如常，寒熱漸甚。至七日方迎至，則陽明證矣。服藥五日，漸變神昏譫語，胸腹滿痛，舌乾不飲水，小便清長，轉為畜血證。遂用桃仁承氣湯，下黑血碗許，即熱退神清。次日忽小便不通，猶有點滴可出，用五苓不效，乃太陽藥也。病者素清癯，年近六十，脈細而澀，此畜血暴下，陰氣必虛。經曰：無陰則陽無以化。原病陽明畜血，仍用陽明之豬苓湯，湯用阿膠，是滋陰血者也。以本方豬苓、茯苓、澤瀉、滑石、阿膠，而加桂枝、芍藥，以和營血，甫一劑，小便如湧泉矣。</p>
<p>方倫遠兄族弟，年未二十，自歙到揚，秋杪傷寒，先為揚城某醫所治，至八日迎余。診得脈弦而細，身微熱，足冷嘔逆，胸滿咳嗽喉痛，而吐血水，腹痛下利，陰莖內痛而尿血，夜則譫語。此證陰陽錯雜，寒熱混淆，乃厥陰經病也。檢前醫之中，乃柴苓湯也，辭不治。病人泣曰：我孤子也，家有老母，乞憐而救之。予曰：此厥陰經病，宜表裡兼溫，使邪外解，前醫不識邪氣內搏，故嘔噦下利，厥陰主血，邪搏血，故上下皆出，用藥與前醫天淵，必須桂附，如不效，必歸怨於熱藥矣。倫遠答以大數決不歸怨。遂用桂枝、細辛、當歸、赤芍、乾薑、附子、木通、桔梗、甘草，薑棗為引，解肌溫里，以治身熱喉痛，腹疼下利，外用烏梅丸以治嘔噦吐血尿血，而祛寒熱混淆之邪。余以一念矜憐，遂忘旁議，不意竟以湯丸二藥，堅治半月而獲痊。病起方初冬，而病者日已圍爐烘足，設以吐血尿血為熱證，豈不殆哉。</p>
<p>汪方伯潘姓紀綱，寒夜隨赴席，食席余冷物，五鼓回家，即腹痛作瀉，次日早辰，則喉音頓啞，外無他證，手足不冷，但脈沉細耳。《靈樞經》曰：寒中少陰，卒然而啞，因腹痛瀉利後隨啞，脈又沉細，全屬少陰無疑矣。初用麻黃附子細辛湯一劑，則有喘汗之意，其身不熱，寒不在表，而全入於裡。易用四逆湯加桔梗，服二日，脈方略起，計每日用附子七錢五分。至第四日，猶喘厥片時，醒得微汗，其音始出。黃成九兄未出室之女，壬戌冬杪，小便後卒然而啞，予作少陰中寒，用麻黃附子細辛湯，其時某醫畏熱不用，後七八日竟至不救。（附記）</p>
<p>方純石兄，五月初，兩頤腫痛，先為瘍科所醫，外敷內服，不知何藥，至八日見招，腫勢將陷，寒勢交作。余曰：此時行之蝦蟆溫也。用荊防敗毒散二劑，表熱隨退，腫消大半。不虞少陽之邪，直入厥陰，脈變沉弦，喉痛厥冷，嘔吐胸脹。改用當歸四逆湯，加附子、乾薑、吳萸。堅服三四日，得微汗，喉不痛而嘔止，脈起足溫尚有微腫。病家以為愈矣，次日往看，腫處盡消，但笑不休，問其所笑何事。答曰：我亦不知，脈復沉細，舌有灰苔，已笑半日矣。追思初病，必服涼藥，所以少陽傳入厥陰，厥陰不解，又傳入少陰，少陰寒水，上逼心火，心為水逼，發聲為笑。不早治之，將亡陽譫語，不可治矣。幸孫葉兩醫，以予言不謬，遂用大劑四逆湯，加人參三錢。服後片時，略睡須臾醒，即笑止，一晝夜共服三劑。次日腫處復起，仍用當歸四逆湯，加附子、乾薑，三四日腫處回陽發癢起皮而解。其時有不解事者，謂予多用姜附而致狂，醫難用藥，有如此夫。</p>
<p>又令眷隔十數日，兩頤亦腫而不痛，若屬少陽，則脈當弦數身熱。今脈弦細，身不熱，亦屬厥陰。始終以當歸四逆湯加附子、乾薑治之。服至半月，方從外解，發熱脈浮，身發癮疹，作癢而愈。彼因未服涼藥，故不致內陷嘔吐逆冷，而傳少陰發笑也。時行蝦蟆溫一證，稽之前賢治法，皆主少陽，而用辛涼，並無傳經之說。然虞天民《醫學正傳》，謂喉痹證不可遽投涼劑，恐上熱未除，中寒復生，變為發喘不休，將不可治，又陳若虛《外科正宗》亦云：饑年毋攻時毒。夫饑年指正氣虛也。即此二說，則前賢之發明久矣。</p>
<p>邵子易兄，四月間自江右回揚，素有中寒痰證，數日腹中微痛，漸次痛甚。先醫者已用炮姜附子蒼樸溫消，繼用六君子加香砂，作太陰寒治，而痛益甚。迎余往診，其脈沉細而緊，汗出沾衣，面赤腹痛，腹形脹大，乾嘔欲吐，小便頻數，大便下利，少陰證全。此因前之蒼樸耗氣，繼用白朮閉氣，是以不效也。但久痛傷氣，須急扶陽，不宜疏氣。以附子、乾薑為君，肉桂、人參為臣，吳萸、甘草為佐。用生附子三錢，人參、乾薑二錢，肉桂、吳萸、甘草一錢，日三劑。三日後減一劑，又三日痛止而愈。</p>
<p>瓜鎮趙姓，傷寒半月餘，前醫發表攻裡俱備。已經兩下，心下痞硬，腸鳴下利，乾嘔心煩，形容瘦削，六脈沉細，前醫辭治。其母求救，予曰：胸痞硬而不痛，非結胸也。因兩下胃而氣逆，故痞硬，惟溫中瀉實一法可施，以甘草瀉心湯主之。用黃連、乾薑、甘草、半夏、大棗，二劑知，六劑即效。蓋前治之不如法，所以易效也。</p>
<p>方誕初孝廉，盛暑患咳嗽吐血，午後發熱，腹痛作瀉，病四五日，自以為虛損，覓廣三七治吐血，招余參治。診得脈弦細而緊，舌紫苔白，兩足冰冷，咳嗽血涎。余曰：此厥陰傷寒，非虛也，乃恣食生冷，畏熱貪涼，寒中肝經。肝主血，此厥氣上逆而吐血涎。形寒飲冷則傷肺，肺寒則咳。冷飲注於下焦，則腹痛下利。擬用桂枝、細辛、赤芍、附子、乾薑、吳萸、半夏、茯苓、甘草。呈方令尊翁，未敢用藥，因藥太辛熱，不合病狀故也。幸其令岳主持，方敢投劑。服至三日，則得汗而熱退。再四劑咳瀉亦寧，而陰莖內痛。兼服烏梅丸煎劑，減去吳萸，加當歸、木通，合當歸四逆湯，又兩日，小便旋通，七日後步行於途矣。</p>
<p>仙柯族侄，秋杪內傷生冷，外感寒邪，形盛氣虛，中宮素冷，即腹痛作瀉，嘔吐發熱，里證多而表熱微。余初作太陰治，用蒼朮、炮薑、桂枝、二陳、香砂之劑。畏余藥熱，易醫用柴苓湯，至十日，寒邪直入少陰，漸變神昏不語，默默但寐，腸鳴下利，足冷自汗，筋惕肉瞤。復召治療，病勢已危，主用真武湯加人參、乾薑，回陽固脫。眾醫議論不合，惟秦郵孫醫，以予不謬。令祖曉齋先生主持，堅托余醫。遂以真武湯本方，加人參三錢，乾薑二錢，附子三錢，日投三劑，汗瀉稍寧。其時令岳母曰：藥則效矣，奈熱不退何？余曰：此證以身熱為可治，若不熱則厥冷下利不止矣，故餘留熱醫也。照上藥服至三十劑，歷一旬始省人事，筋惕下利方止。詢其前事，全然不知，後服理中湯匝月方起。蓋少陰病以陽為主，熱乃可治也。</p>
<p>吳非昨表侄，初夏喉痛，瘍醫不辨寒熱，用黃連四劑，喉痛止而變嘔吐，脅肋大痛，三四日不進米飲矣。令尊若翊兄，急迫商之於余。診其脈弦細而緊，此厥陰吐逆，外科謂之過關喉痹，因誤用苦寒直折，痹下結於胃口矣。先用烏梅丸三十粒，以開其寒熱格拒之邪。日進三服，至夜吐止而能納食矣。即轉腹痛，手不可按，此上焦之寒，下注於中焦。急用四逆湯加桂苓人參，日進四劑，服附子一兩。如此六七日，腹大痛方止，尚微痛作瀉。後乃若翊兄自行調治而愈。</p>
<p>喬揆文兄令眷，年近四十，夏月畏熱喜涼，以水漬巾披身，瓜果無忌。初胃中脹痛，手足痠麻，作嘔欲吐。余初診脈細緊無力，言系中寒停冷之病。因脈細緊，用六君子湯加桂枝、乾薑，旁議盛暑安得用此熱劑，易醫服藥。聞用蒼樸二陳消導之藥，治經九日，病劇復招。則寒直入少陰，乾嘔煩躁，脈緊近疾，腰痛似折，常以滾水漬巾熨之，冷則又易，氣塞喉中，水飲不納，甲紫舌黑，骨寒而痛，病勢危篤。余曰：陰極似陽，陰陽格拒，若能納藥，方可治療。先以半硫丸一錢，開其格拒之寒，服下不吐。繼以生附子、生乾薑各三錢，半夏、茯苓二錢，吳萸一錢，頻頻灌下，方嘔止躁定。遂換熟附減藥，如斯九日，諸證皆退。遂改用理中湯加人參一錢，溫補五日，忽然嘔吐血水。病家雖不言，而意謂前之姜附貽害也。余曰：始病太陰中寒，脈既無力，則宜溫胃，誤用消克，以致傷陽，陽消陰盛，致傳少陰，少陰得溫，轉屬厥陰，此由重致輕也。但厥陰寒勢錯雜，忽陰忽陽，纏綿時日耳。旁議疑信相半，遂多延眾醫。有醫竟認陰虛而用地黃者，有醫見余用桂枝、吳萸，遂收箱不用藥而去者。惟孫其猶亦主厥陰，用當歸四逆加附子吳萸。於是病家不為他醫所惑，余得盡心治之，皆以當歸四逆湯。用桂枝、當歸、赤芍、半夏、茯苓、吳萸、木通、甘草，薑棗為引，兼以烏梅丸治其假熱。如此半月，漸次嘔止，而血亦不吐矣。病愈多勞，遂脈轉數，內熱咳嗽而吐血，左脅不能臥，竟有陰虛咳嗽之機。蓋厥陰風木，內藏相火。乙癸同源，暫用六味地黃湯，以滋化源，且服辛熱藥一月有餘，陰氣不無受傷，不得不權機應變。服半月，熱退嗽止，脈亦不數。虛熱方退，而中寒復生，且值秋杪，霍亂吐瀉大作，胸腹脹滿，脈來細緊，溫劑難投，惟平調胃氣，以俟其勝復，半月方平。再以參、朮、歸、芍、橘紅、茯苓、丹皮、石斛，平補半月，氣血稍充，餘邪外解，周身發出癮疹，作癢起皮。蓋夏月水中之寒邪，化熱出表也。從前各證，至此方除，計治五閱月，足徵厥陰病寒熱混淆不一，邪氣出入不常。若非病家信任之專，或從證，或從脈，隨病變遷，圓機施治，豈能獲痊乎。</p>
<p>王汝振僕婦，年近三十，冬杪患頭痛，以無發熱惡寒表證，前醫遂以火治之。至三日，痛益甚，頭疼如裂，小便頻出無度。予診之，六脈弦緊而細，面赤如妝，此厥陰頭痛也。三陰惟厥陰有頭痛，以厥陰之絡，絡於巔頂也。檢前方乃石膏、梔子，誤用苦寒，致寒極於下，逼陽於上，面赤戴陽，頭痛如破。且婦人厥陰之絡，內絡廷孔。廷孔者，溺孔之端也。寒客內絡，故小便頻數矣。幸未厥冷下利，邪猶在經，用桂枝、赤芍、細辛、生薑，以解經邪，用附子、乾薑、吳萸、半夏，以溫里冷，日服三劑。先出冷汗，後出熱汗，頭痛便頻隨止。此藜藿之人，裡氣不虛，故邪易解也。</p>
<p>吳南皋兄家人，年二十餘，五月間得傷寒。初系他醫所治，至八九日忽發狂譫語，躁欲墜樓，其妻拉住，揮拳擊婦，致婦胎墮，數人不能制。用醋炭熏鼻，方能握手診脈。脈則散大無倫，面赤戴陽。此誤服涼藥，亡陽譫語，瞬息即脫，眾藥陳幾，有用白虎湯者，承氣湯者，柴胡涼膈者。病家云：因服香薷涼藥，大汗至此，故不敢再煎。求余決之。余辭不治，主人力囑，遂以真武湯本方易乾薑，用生附子三錢，令其煎成冷飲。服後片時，即登床就枕，略睡片刻，醒則再劑，加人參一錢，熟睡兩時，即熱退神清，詢其前事，皆云不知。繼用理中湯六七日而愈。其婦因擊墮胎而反殞。</p>
<p>郭元威學博令政，平素虛弱，正月杪夜發寒戰，寒後發熱。次日招診，脈細緊而近於疾，其證發熱頭疼，左脅痛甚，上至臂，下至腰足，皆牽引而痛，乾嘔胸脹。因脈沉細，作厥陰病主治．用桂枝、細辛、赤芍、附子、乾薑、半夏、茯苓、吳萸、木通、甘草，薑棗為引。四劑上身微汗，痛減而下體痛甚。因向有腳氣證，加獨活。至第五日有出少陽之機，以前劑稍加柴胡，令其微汗。不虞親屬覆以重裘，逼汗大出，雖熱退半日，至夜即煩躁不寐，呻吟不絕，胸中大熱，欲飲冷水。暮夜再診，脈變數大無倫，重取近散。此汗多亡陽也，急以茯苓四逆湯救之。用人參三錢，茯苓四錢，附子二錢，乾薑一錢，甘草五分。一劑稍安，二劑得寐，一夜三劑，至天明熱退而安。隨增咳嗽，半身不能側臥，此又屬肝腎陰虛，傷寒病後，每多此證。若認少陽而用柴胡二陳蘇杏，必致不救。仍以前厥陰為主病，用桂枝、當歸、白芍、茯苓、附子、甘草、人參、五味子，薑棗為引。十數劑咳止，可側臥矣。半月後，緊脈退盡，方去桂、附，以歸、芍、參、朮、苓、草，平補而愈。</p>
<p>吳方平表侄，冬月夜飲歸，睡後有脅作痛。初系浙醫作少陽治法，以柴胡、白芍、青皮、貝母、香附等藥治之，七八日痛愈甚，至夜坐不能臥者三日矣。招余往治。脈沉弦而緊，足冷畏寒，胸滿不能食，脅肋皆痛，不能著席而臥，舌紫微喘。余告曰：此厥陰傷寒，厥氣上逆，不得臥而喘，病關少陰。若增煩躁下利，則全屬少陰，不可治矣。今並無少陽寒熱頭眩，口苦幹嘔，脈弦數等證，何得以少陽治之。遂用官桂、赤芍、吳萸、附子、乾薑、半夏、甘草，溫經以下厥氣。服至七日，方回陽，發熱微汗，痛止喘定，就枕得臥而痊。若作少陽治法，不知作何景狀也。</p>
<p>汪文年兄，冬月傷寒，初診脈沉細緊，少腹背皆痛，外證反發熱頭疼。余曰：此陽證陰脈，法當難治，應以脈為主，作厥陰病治法，不用表散，惟主溫經。用桂枝、細辛、赤芍、附子、乾薑、吳萸、甘草、生薑，服三日，得微汗，頭痛表熱盡退，腹中尚隱隱而痛。如此六七日，胸中亦不飢，惟進清米飲，脈亦不甚起，正為可慮。蓋以厥陰不回陽外解，邪搏於裡，恐轉少陰，而變下利也。至夜果腹痛，下黑血數碗，即眩暈汗出。次日往診，脈仍如前之細小，未因脫血散亂，幸前預用桂附溫經，故不致氣隨血脫。彼之尊人，十數年前，夏月病此，醫作暑療，血下隨脫，病人恐甚。急用真武湯日投三劑，每劑加人參四錢，附子三錢，茯苓、乾薑、白朮各二錢，赤芍一錢。幸下血之後，更不再便。如此大劑，七日後方減參附，加甘草，合理中湯，調治一月而愈。</p>
<p>汪次履兄，年逾二十，夜寢發寒戰而醒，戰後發熱。次日迎診，大熱，肩背皆痛，但頭不疼，而面赤，脈亦浮大，惟重按無力，腸鳴欲便，知為夾陰傷寒。用桂枝、炮薑、蒼朮、赤芍、二陳兩劑。次日再診，各證俱減。照前留藥二劑，囑其一日全服，勿進飲食。少年畏藥，只服一劑，更因便通熱退，遂食飯行走，兩日不藥。至三日，其病復作，大熱身痛足冷，呻吟不息，胸中氣塞，口中臭氣逼人，自云吐痰亦臭，脈細沉緊。此乃病中不慎，復傳少陰矣。蓋府氣本於腎，脈既細緊，斷非胃熱。腎藏寒邪，逼真氣上出於口，亢害之證。初病已汗已便，今病復作，何得旋有實熱，此為少陰身熱可知。用茯苓四逆湯，加桂枝、半夏，溫里解肌。如此六日，熱退便通，口亦不臭。但裡寒未解，腹痛便溏，不思飲食，仍用薑、附、桂、苓、人參、半夏、甘草，六七日方能起坐。計服參附桂苓理中湯三十六日，因事勞輟藥一日，即寒戰厥冷，倍用參附方回。又溫補半月乃健。若因口臭遂為胃熱，不幾大誤耶。</p>
<p>汪象成兄令眷，年三十外，素有肋下臍旁寒積，每發必痛，吐痰飲，非一日矣。乙酉年初秋，復感外寒，而舊病同舉。初不以為病，醫者亦以姜附輕劑治之，至第九日，病勢沉重，路截邀治。則兩尺脈全無，嘔呃不已，手足厥冷，氣塞喉中，耳聾神昏下利。予曰：病劇矣，此少陰證也，非重劑不能回生。先以半硫丸治呃，繼用生附子三錢，乾薑、半夏、茯苓各二錢，吳茱萸五分，日投四劑。雖未變壞，陽總不回，如此三日。隔牆廚內烹雀，彼忽知之，急索欲食。予曰：此真陽飛越，將亡陽矣，急用四逆加人參，藥未熟，即大笑不止，隨即服藥，而狂呼揮拳亂毆猶甚。急服再劑，方寧而寐。次日問之，全然不知。若非知機急救，豈不亡陽而逝哉。繼用四逆加人參、桂苓、半夏，日投二劑，月餘方陽回利止。復冷秘，吞半硫丸十日，大便乃通，皆稀溏糞水。因臍旁動氣，始終皆屬前方。若加白朮理中湯，便脹痛不已，以動氣禁用白朮也。</p>
<p>汪其暉兄，秋夜深坐，遊湖食冷，遂致胸腹不寬，日日大便，無寒熱身痛諸證。自以為停食，而前醫猶用香薷。延至第三日，邀予便診。雖不出門，猶堂前會客，其脈濡細帶緊。此寒中太陰，宜溫中斷食。余用炮薑、桂枝、蒼、樸、二陳等藥，病人全不介意。日惟服藥一劑，間日再診，脈變弦緊，以危言告之。彼方不食，其夜則嘔噦腹痛，身熱大困矣。此太陰病不解，而傳厥陰，改用桂枝、乾薑、吳萸、赤芍、半夏、苓、草。立有厥陰病案，預言防下利。因前醫用香薷，故未即投附子。其內親吳煥若兄，密加附子入藥，噦遂止，隨腹痛下利膿血，日夜二十餘次。病家以為痢疾，余告曰：此厥陰病下利膿血也，若作痢疾處治，而用香檳，則不救矣。即以當歸四逆湯本方，加乾薑、熟附，日投二劑，每夜通身微汗，次日利即少減。如此七日，藥不易方，七夜皆汗而利止矣。此厥陰外解證也。後以脈細緊未退，仍用前方，去乾薑、吳萸。至十餘日，大便方通，飲食可進而愈。</p>
<p>綏遠族侄，八月杪步至予家就診，自稱病瘧求治，蓋前醫之言也。及診脈，則沉弦緊而無力。予曰：何輕視之，此厥陰傷寒也，必手足微冷，寒而不熱，少腹隱痛，腰腿冷疼，有是病否？應曰：均有之。視其舌色紫無苔，即投桂枝、細辛、赤芍、半夏、熟附子、乾薑、甘草。次日往診，則手回溫，脈不沉而但弦緊，少腹隱痛，下痢血水而增嘔矣。此厥陰內搏之證，遂全用當歸四逆，加吳萸、附子。七日出表，發熱煩躁，汗出而解，進粥食矣。被友拉出門巷，語多時，受冷而勞，次日脈反彰大，身熱腹痛，下利足冷，胸滿作嘔。仍用前劑，則汗出脈陷，其細如絲，證轉少陰，遂用四逆湯加人參、肉桂、茯苓。如此不易方者半月，方得利止，脈漸出，便實而愈。前汪病案，乃太陰傳厥陰，里不甚虛，仍從外解，此初病即屬厥陰，得溫里法，亦外解矣。因勞而復裡虛，遂傳少陰，少陰無外解之理，所以直用溫里而愈。此傷寒表裡之大關也。</p>
<p>張其相兄家女婢，年十五歲，初冬得病，因循未服藥。延至四五日，頭疼身痛，微熱惡寒，氣塞喉中，嘔噦不納藥，脈沉細緊。浙醫認頭疼為太陽，因脈沉而用姜附，雜以羌防白芷蒼樸，不能下咽。次日無可奈何，改用柴葛平胃以試之，不得效。迎余往診，而前證具在。予曰：此厥陰表裡齊病，宜用溫里，但陰寒上逆，竟成格陽矣。先用烏梅丸二十丸，以通其格拒，嘔止能下藥。隨用桂枝、細辛、乾薑、熟附、吳萸、赤芍、半夏、赤苓，如此四日，兩得微汗，表證皆除，惟骨寒痛未減。至五日即入少陰，下利五次，徹夜號呼，齒皆枯垢，鼻有煙煤，手足厥冷，脈微欲絕，脫陽見鬼，擬其夜必死，但形神未脫，憐而救之。遂用生附子五錢，乾薑三錢，茯苓、甘草各二錢，一劑手溫，再劑利止，脈亦微出。如斯重劑，七日方獲回陽而愈。若以人賤忽之，必無生理矣。</p>
<p>程靖宋兄，就診於親家李宅，尚能強步，但稱左脅痛甚，已四五日矣。診其脈弦緊而細，兩手清冷，面色純青，咳嗽則痛引頭脅。此寒中厥陰肝經，須溫經散寒，痛方得止。用桂枝、細辛、當歸、赤芍、吳萸、乾薑、半夏、甘草，二劑痛減。再劑加附子，遂大汗而痛除。又二劑，又汗而痛全止。但少腹微痛，似動氣之狀，三四日通夜不寐。幸不煩躁，脈則細澀無力，此必因兩汗亡陽而不寐也。仿大青龍誤汗法，用真武湯去白朮加人參、當歸，易炮姜，加肉桂，收陰攝陽，如此五六日，方能熟寐而愈。此乃厥陰病，惟用桂枝、細辛，尚汗出亡陽，幾至危殆。若少陰誤汗，更當何如哉。</p>
<p>瓜鎮卞祥生，七月外感內傷，午後潮熱，天明汗出而解。前醫誤認陰虛，更勸其加餐肉食。至七八日食塞胸中，藥飲難下，招余往診。其脈細數，儼似陰虛，重按則滑而有力，此外感輕而內傷重也。用仲景瀉心湯法，以柴胡解外之晡熱，以黃連、乾薑、半夏、枳實，瀉胃中之濕熱。但中宮膠固，恐發呃則難治。其夜果呃，次日更加乾薑，七八日胸次方開，食滯出胃。然後以小承氣湯兩下而愈，計斷食十二日。蓋此證脈細，乃食結中宮；下午發熱，乃陽明內實；五更盜汗，乃濕熱熏蒸。三證非虛而是實。若以脈細誤認為虛，不以滑而有力為實熱，豈不再誤耶。</p>
<p>行九族弟，夏月得傷寒，初醫者不知何藥。至第八日招診，脈大而數，按則無力，身有微熱，煩而不寐者三日矣。云已發汗解肌消導，皆不效，相商議下。余曰：脈大為病進，今八日已陽盡入陰之期，而汗和不解，脈反彰大，此虛陽伏陰，非溫不效。用茯苓四逆湯溫里收陽。彼不肯服，延揚世醫決之。彼云：脈大面紅，口中大臭，乃陽明內實，非大涼大下不解。見餘四逆湯，搖手而去。又迎團弘春決之。弘春曰：陽氣外越，裡實虛寒，急服無疑。猶不敢用。余因族誼，迂道復探，則席地而臥，煩躁不寧。余曰：病急矣，若再不藥，必寒戰大汗而亡陽矣。令急煎藥，坐視其下咽。片刻面白，合目欲臥，扶其登榻。再留二劑，通夜服完。次日脈斂熱退，口亦不臭，而手足反清，就枕便寐，全見少陰本證。如此溫劑十日，繼用理中湯半月方愈。</p>
<p>巴繡天主政，隆冬檐際脫裘，易近體之衣，覺受寒，尚不為困，本夜又夢遺，次日即寒戰頭疼，發熱腰痛，脈反細緊。病屬陽證陰脈，幸脈但細而不沉，猶有頭痛身熱，乃厥陰表證，用當歸四逆湯溫里散寒。以桂枝、細辛、赤芍、附子、乾薑、半夏、茯苓、甘草，薑棗為引。因有急務，遂晝夜四劑，三更得汗，五更即乘輿遠出，自為無恙。次日即飲酒茹葷，三日回家，午後又寒戰發熱，更增嘔吐痰涎，仍用前劑，夜半得汗，熱退而解。次日又復乘船遠出，於路寒戰發熱，吐瀉腹痛而歸，自稱瘧疾。余曰：非也。瘧之為病，必受邪於半表，蓄久而發，此證先日受寒，次日即病，脈不浮弦，斷非瘧疾，乃厥陰表證，而兼里病也。仍用前劑，因增腹痛下利，脈變細緊無力，加人參以固里，則寒輕汗少。四劑寒熱下利皆減。如斯三四日，寒熱頓止，嘔瀉皆寧。姜附藥服至十二日，退用當歸四逆湯本方，去細辛而加參朮，溫補匝月而康。</p>
<p>辛酉仲夏，予遷郡城之次年，其時疫氣盛行，因看一貧人斗室之內，病方出汗，旋即大便，就床診視，染其臭汗之氣，比時遂覺身麻，而猶應酬如常，至第三日病發，頭眩欲僕，身痛嘔噦外，無大熱，即腹痛下利，脈沉細而緊。蓋本質孱弱，初病邪氣即入少陰，脈證如斯，不得不用姜附人參以溫里。如此六七日，里溫利止，而疫氣遂彰，譫言狂妄，胸發赤斑數點，舌苔淡黃而生綠點，耳聾神昏，脈轉弦數，此由陰而出陽，必須汗解之證也。病劇回真州，諸醫束手不治。適山紫家叔來探問，數當不死。余忽清爽，細道病源，謂非正傷寒，乃染時疫，緣本質虛寒，邪氣直入少陰，服參附裡氣得溫，逼邪外發，但正氣甚弱，不能作汗。今脈弦耳聾，邪在少陽，乞用小柴胡湯本方，加人參三錢，必然取效。山紫家叔遂照古方，一味不加增減，而入人參三錢，一劑得寐，再劑又熟寐。夜又進一劑，中夜遂大汗至五更，次日即霍然矣。繼服人參半斤始健。</p>
<p>戊寅年九月杪，餘年六十一矣，又染時疫，初則巔頂微疼，夜則兩腿痠痛，次日即嘔噦，午後寒熱似瘧，而無汗解，夜半熱退，邪氣混合三焦，難分經絡，若六七日不得汗，勢必要死。預召門人熊青選，授以治法。而脈弦緊無常，寒則細，熱即數，漫無專經。惟以初病巔疼，作厥陰病治。用桂枝、細辛、赤芍、半夏、薑、附、吳萸、人參、甘草，解肌溫里。如斯五日，病不減而增劇。至六日，中夜寒熱不得汗，煩躁欲死。與門人商之，余非邪氣實不得汗，乃正氣虛不能汗也。以人參三錢，生薑三錢，仿露姜飲法試之。煎服頗安，渣再煎服，有欲睡之機，而胃中飢甚，索米飲。家人見熱甚不與，余勉起床，取糕數片，索湯，家人不得已，與湯一碗，將糕泡化，盡食之，覺胸中泰然，就枕片刻，即汗出，自頂至瞳，衣為之濕，至五更汗方斂，次日即全解矣。經云：汗生於穀。良不誣也，以此徵之。時疫邪不傳胃，不能盡絕穀氣。</p>
<p>上傷寒諸案，皆屬三陰，而關三陽者。蓋三陽證顯明易見，諸道中治無遺病，即（光）所治，亦無異於諸公，特以亢害之證，似是而非者。令兒輩錄存，以示諸門人，非略三陽也。</p>
<p><u>丙戌續案</u></p>
<p>楊紫瀾兄，夜勞不寐者屢日，春杪猶寒，致受夜冷，直犯陰經。初以受寒就診，脈則弦緊，惡寒身痛，但微熱耳。用溫經散寒藥二劑，略減，自不為意，起居飲食如常。寒未外解，數日後，內搏於裡，肛門墜痛，遂易瘍科作痔醫之。延數日，痔不潰，亦不為楚，即轉痛於季肋之後，近腰軟處。又作肝癰治之，遂夜發熱煩躁作渴，通夜不寐，復迎余治。脈沉緊而細，兩足厥冷，舌紫苔白。余辨曰：非癰也。初病脈弦緊，原屬夾陰，邪在表裡之間，因不治療，傳至少陰，肛墜而痛。蓋少陰腎藏，開竅於二陰也，失之不溫，今入腎之本位矣。且脈不數，痛處按之，內無硬形，外不作熱，而痛肋反欲著席而臥，其無實腫可知，斷非內癰，皆因失於溫里。寒極於內，逼陽於外，所以夜熱。陽既外越，里必虛寒，所以陰躁不寐。下冷必陽厥於上，所以渴而欲飲也。今已手足厥冷，脈已沉細，若不急溫，必加下利，則難治矣。而楊兄素惡熱藥，奈病在厥少二陰之本，非同陽證可以泛治，不得不肩任之。遂以官桂、當歸、赤芍、乾薑、茯苓、甘草，暗投附子二錢，以防下利。夜服一劑，半夜安寢，煩躁惟一刻耳。次日又服二劑，則熱退痛減，再二劑痛止全臥，手足回溫，肛亦不墜矣，如此藥五日，即霍然而起，續以溫補藥而痊。此證與三卷張紫山小便頻數似痔之案相同。</p>
<p>汪靜夫兄，五月初一真州得病，服過羌防柴葛藥七劑，初四日回揚，揚醫猶以真州套劑治之，皆前不效藥也。令余婿朱與白相招診，則脈沉而緊，兩尺如絲，汗多而熱不退，頭疼身痛，呻吟不能轉側，煩躁欲席地而臥，乾嘔欲飲冷水，復不能飲，舌紫無苔，少腹硬痛。以《傷寒論》之陽證陰脈，法當不治。因有頭痛，定屬厥陰，又多煩躁，兼有少陰，須兩經並治。用桂枝、赤芍、細辛、附子、乾薑、茯苓、半夏、甘草八味投之。二劑躁定熟寐，而身痛減半。又四劑脈起不嘔，能食米飲矣。忽尿莖內痛，小便黃赤，乃厥陰陽回吉兆。而旁人遂謂余誤用熱藥，勸進燈心湯。因停余藥，延至午後，即腹痛下利，初硬後溏，抵暮復加陰躁，起床抱柱而立，此真武湯證擗地就實之狀。因便后里虛亡陽之機已露，遂不從旁人之言，仍煎余藥，服後躁定而安臥。至初七日清辰再診，全屬少陰證矣，脈沉細，手足冷汗不止，腸鳴下利，兩腿筋惕。急用大劑真武湯一劑，至午厥回汗止，猶有利狀。遂加人參，晝夜三劑，計用附子一兩，人參六錢，方陽回利止。因有身熱腰疼，遠迎京口名家，猶謂表邪未解，里滯未清，藥用柴葛二陳，病人畏不敢煎，然終以身熱為患。余告曰：少陰身熱，乃為可治，若厥冷則下利不止矣。余所以留熱，以存陽也。竟服真武湯五日，少陰病衰，餘邪仍轉厥陰，耳前時或一痛，夜則氣上衝喉，渴而多飲，皆厥陰表證，恐致發頤，必怨熱藥。遂以當歸四逆湯本方，不加姜附，少入人參，以助正氣。二日四劑，周身微微似汗者一晝夜，邪盡外解，而口渴氣衝耳痛莖痛全愈矣。因旁議紛紛，除去薑桂，甫五日，即腹痛作瀉，復用桂枝人參湯五日，便實而痊，續用平補藥十餘日。因食蘋果，又胸脹不食，胃本虛寒，豈余浪投辛熱。今病已痊，而附子之謗不息，執膚淺之見，妄論是非，《內經》不失人情四字，醫家誠戛戛乎難之矣。</p>
<p>吳西爍兄，酷暑染病，身無大熱，但稱下體痠痛，多飢欲食，小便頻出，下氣頻泄而不臭，口中反穢氣逼人，舌紫苔白，自以為虛，又疑為暑。及診脈則弦緊而細，皆陰脈也，無經絡之可憑。若謂口臭多飢為陽明，而脈不長大，無惡寒發熱頭疼，全非陽證，且不腹滿自利，斷非太陰。今脈弦細而緊，心懸如病飢，腐氣上逆，清氣下泄，舌紫便頻，皆屬厥少二陰之病。初病不暴者，邪從中發，其勢未彰，乃時疫也。因脈細緊，用桂枝、赤芍、細辛、獨活、半夏、乾薑、赤苓、甘草，溫里解肌，俾邪外出，二劑頗安。遂加附子，服後一刻，即周身皆麻。病者畏，停後劑。三日後，其邪乃發，遂頭眩身熱，煩躁作渴，身疼腹痛，脈仍細緊，全現厥陰經證。竟用前劑，得汗數身，邪氣稍解。病者因夜煩躁，令去乾薑。次日即下利嘔噦，易以溫里治法，用附子乾薑、茯苓、半夏、甘草四劑，則熱退利止，漸次則愈。數日後，食鮮雞海味，即發熱腹痛，下利膿血，日夜十餘次，脈復弦大而緊，自稱痢疾。余曰：乃厥陰餘邪，因復而下利膿血，非痢疾也。脈變弦大，宜從汗解。復用厥陰之當歸四逆湯，加乾薑、附子以溫里。二劑大汗，病遂減半。四劑熱退利止。次日忽陰囊腫大如瓜，痛不能立，稱舊疝復發。余曰：尚是厥陰餘邪，甫離後陰，又注前陰，非疝也。仍用前劑，疝亦旋消。因脈尚弦，知邪未盡，藥不易方。二劑後，周身皆麻，如初服附子狀，隨即手足拘攣，頸項強直，儼如痙證，少刻大汗，通身痙麻皆定。余慰之曰：可不藥矣。病者但稱口渴，胸中熱甚，此厥陰逆上之虛陽，令吞烏梅丸二十粒，頃刻渴熱皆除，脫然而解。病家因麻痙驚駭，延他醫診視，不識病，因但稱附子毒而已。嗟乎！殊不知初服附子麻者，欲作汗也。若不畏而再劑，必大汗而解，失此汗機，使邪蟠踞於表裡之間，入藏則利，注經則疝，出表則麻，乃邪自里出表，其病實解，而反似危。因始終未用苦寒，裡氣得溫，逼邪外解，病復五日而三變證。惟執厥陰一經，不為利疝所惑。此認經不認證也。</p>

<h1>卷二</h1>

<h2>暑證治效</h2>
<p>張廷玉文學尊堂，年七旬外，癸丑年夏月，中暑頭眩，身熱嘔吐煩渴，高年氣虛中暑，正合清暑益氣湯。而前醫誤作中熱，以香薷飲合葛根治。服四劑後，遂大汗不止，昏沉默臥，六脈散大。余曰：此汗多亡陽也。以丹溪加味生脈湯，人參、黃耆、甘草、麥冬、五味子，大劑二服。脈忽斂小如絲，人事略清，旋即下脫，飲食倍常，大便頻下。隨用人參、耆、術各三錢，薑、附錢半，五味子、甘草為佐，日投三劑，汗瀉減半，而脈不起。因思高年茹素，氣血兩虛，草藥不應，宜加有情血肉。遂以黃耆、白朮熬膏，用鹿茸為末入膏內，以人參煎湯調膏，日服三次。如斯半月，汗瀉方止，始能言語，方省人事。詢其月日，皆言不知。蓋高年氣弱，因暑傷氣，以致身熱頭眩，此氣虛發熱，若初投參耆，則熱自退。所謂人參、黃耆、甘草，退虛熱之聖藥也。失此不用，反辛香散氣，陽因汗越，所以表愈熱而里益虛，致大便頻下而垂脫矣。</p>
<p>鄭襟宇，余族叔祖也，年六十外，初秋每日僕僕道途，夜忽小便多極，兩倍於平常，且頻數不已，次日即發熱口渴。先醫作瘧治，一二日即小便淋滴不斷，竟無寧刻。余往視之，見其面垢齒燥口渴，脈浮而弦，此病似瘧而非瘧，乃仲景之中暍證也。暑邪中於太陽膀胱經，以膀胱自受病，不能司出納之權，是以小便頻數，且面垢齒燥，口渴脈弦，的屬中暍。用白虎加人參湯，一劑身得微汗，熱渴旋止，小便即如常矣。</p>
<p>蘇茶館內人夏氏，年近五十，身素瘦弱，盛暑得病半月，歷醫數人，因其身熱煩躁，舌乾口燥，間出妄語，胸前發紅疹數十點，皆作傷寒治之。至十七日，招餘一診，以備終事。診其脈，細遲無力，重取欲絕，並無傷寒六經形證，乃中暑虛熱也。以湯試之，惟咽一口，響至少腹。唇口雖干，全無血色，渴惟熱飲。病中日出大便，惟三日未通，此腹餒，非陽明內實也。斑乃胃虛，虛火遊行於外。急用米湯以救胃氣，藥用人參、白朮、麥冬、五味、茯苓、甘草、陳米。甫一劑下咽，即神清舌潤，斑俱散矣。勸其進食，其夫恪守前醫之言，堅不與食，至夜則咬牙寒戰，現虛寒真象。再用理中苓桂，溫補回陽，後雖欲進食，而胃氣大傷，見食即嘔，乃於榻前烹炮香餌以誘之。溫劑兩月，方得起床。袁調寡內入，年近五十，身肥，夏月患病，晝夜不寐，痰喘嘔逆，大小便秘，將十日矣，歷醫多人不效，惟治棺於臥側，以待死耳。其婿邀診，以決遲早。診其脈，弦而滑，重按有力，其證煩渴發暈，嘔噦不食，痰喘不能臥，有汗身熱，前後便秘，喜暗畏日，窗牖布障。余曰：此暑痰也，何至於死。以大劑古方香薷飲加二陳湯合劑，令煎熱服。病者云：大小不通，服藥徒脹，惟候死耳。延至次日，其婿力勸，方服一劑，吐痰涎甚多，微得汗，即合目，略睡片時。再進次劑，腹內腸鳴，大小便齊通。次日再邀診視，抬棺他所矣。</p>
<p>金爾立仲子，七月間暑途奔走，頭面生小癤甚多，不數日，遍身發大紅斑如雲片，臥則色赤，坐則色紫，幸而作癢。前瘍科用涼血清風之藥，三四劑後，漸變壯熱煩躁口渴，臥則斑紫，起則紫黑。迎余往治。切其脈弦長有力，乃風暑中於陽明，未用辛涼解散故也。蓋陽明多氣多血之府，血為熱鬱而成斑，臥則氣下，坐則氣上，所以臥則紅，坐則紫矣。溫熱病發斑自內而出，皮外不癢，若如此大斑而且紫，萬元生理。此風暑癮疹，雖非熱病，必須仿傷寒治法。以葛根、赤芍解陽明之風，香薷飲解陽明之暑，白虎湯化胃熱之斑，三湯合劑，四劑後斑色漸淡，十劑斑散癢止，惟熱渴未除。六日後以小承氣湯一劑，微利而愈，計斷飲食八日。</p>
<p>程蘭頴太學尊閫，年將五十，平常茹素，時當酷暑傷氣，因食瓜果寒中，遂大吐瀉，證屬霍亂。因本體自虛，吐瀉汗出，遂致亡陽，煩躁亂走，復不能走，用兩婦挾之而行。余急往視，竟不避親疏，亦不自知何以至此。診其脈，散大而數，面赤戴陽，欲食冷水。余曰：病急矣，不急救，一寒戰即脫。先以大順散，用熟水冷調服下，面赤漸淡，欲扶進房。余曰：得之矣。時令叔馨九兄，在座主持，即取人參五錢，附子、炮薑、甘草各二錢，煎成冷飲，然後躁定，方扶上床，閉目片刻，脈始收小。計一夜服人參二兩，姜附各兩許。次日蘭兄真州回揚，已大定矣。溫補半月，方得起床。若其時用藥不力，何能挽垂脫之真陽乎。次日延請外境名家，只用歸芍六君子湯，加人參一錢，抑何輕視前證耶。</p>
<p>吳景何翁，暑月居母喪，因佛事，赤日行於途，夜又露處於檐外，遂中暑嘔吐，腹痛作瀉，發熱手足清冷而有汗。其人本體虛寒，暑月尚著夾衣，此暑傷氣而里更寒，非中熱霍亂之比。先用消暑丸二錢，以開膈上之涎痰而止嘔，繼用附子理中湯加半夏、茯苓、砂仁，溫中而消暑。其時有客以不用香薷飲、六一散為疑者，余答曰：暑者天之氣也，而人稟有厚薄。稟之厚者，感天地之熱氣，則愈熱矣；稟之薄者，感天地之熱氣，反消己之陽氣，而益虛寒矣。暑則一因人之虛實，而分寒熱以施治，豈可一例而論者。如此溫補三日，本氣壯盛，暑邪外解而病愈。古方消暑丸，以半夏、生薑為君，而大順散、漿水散，皆乾薑桂附以治暑，則暑病之不概用香薷，於茲可見矣。</p>
<p>吳瑾仲郡宰令政，年近五十，素有經水似崩之證，乃氣血兩虛之體也。暑月出門拜壽，勞而中暑，歸家手足麻木厥冷，汗出如浴，脈細如絲。此氣虛中暑，正合清暑益氣證。不虞前醫作中寒治，用人參一兩，加乾薑、附子、半夏、吳萸，其時手足雖溫，汗雖旋止，而虛煩畏熱，席地而臥，漸至怔仲不寐，日夜頻餐，有類中消，內伏暑邪，時時泄瀉。如斯四十餘日，日服人參二三兩，又擬加鹿茸以止瀉。病家惟恐亡陽急脫，請余診治。切脈至止調勻，雖虛細而兼數，虛則有之，未至於脫也。人參當用，不須若是之多，此中暑之膈消也。用人參三錢，白朮、茯苓、石斛、麥冬、五味子、當歸、丹皮、枇杷葉、甘草，兼補兼清，出入加減。五日後即登床而臥，十日後即食減如常，半月後經水行多，即加黃耆、棗仁，而減少人參，去丹皮、枇杷葉、麥冬。但家事多勞，氣血本虛，參耆補劑，服之經年，而不能少間耳。</p>
<p>一坊役貧人，素有失血咳嗽證，夏月過勞傷暑，次日發熱而有汗。前醫作傷寒治不效，又作中熱治，絕食五日，忽大喘大汗，其父慌迫，急迎往視。則大汗淋漓，發喘不已。兩手脈細如絲，尚不及三至，幸未厥冷。余曰：外無傷寒形證，脈證欲脫，必誤餓至此。詢其氣從何處起，病者云從心下起。余曰：尚可治，若自臍下起，則宗氣離原，不可治矣。急以粥救之。食下喘甚，入胃片刻即喘定，少刻又喘。因思胃中空虛，粥入胃，旋即下入腸，腸實而胃仍虛，所以又喘，須糜飯留胃乃可。續進飯一碗，汗即止，喘即定，稍停又進飯一碗，喘亦定。後徐徐進食，未藥而愈。</p>
<p>程姓、同舟之人也。盛暑在船，忽大吐瀉，吐止即頭汗如雨，草枕皆透，水瀉不禁，任其下流，周身抽搐，證類轉筋，又或有時麻木，如是者半日。診其脈，則浮弦有力，且頭汗身熱，斷非虛寒。經云：暴注下迫，皆屬於熱。此暑風證也。余未攜藥裹，舟至丹徒鎮，市藥用香薷、葛根、防風、厚朴、扁豆、赤苓、木瓜、澤瀉、甘草，煎服得臥片時，反周身大汗，遂熱退痢止。晚至京口，即可步行登岸矣。</p>
<p>方哲先兄在室令愛，夏月恣食瓜果，伏暑霍亂，瀉止而嘔吐不止，已三日矣。他醫用薷藿二香湯，皆吐不納。第四日延余，而脈細緊無倫，他醫以緊為數，將用黃連，乞余決之。余曰：若暑霍亂一經吐瀉，邪解即愈。今瀉止而吐逆更甚，此中寒厥逆於上也。緊寒數熱，相去天淵。今陰陽格拒，藥不能下，失之不溫，發呃煩躁厥冷，即不可治矣。先以來復丹，以開格拒而止吐，繼用四逆湯，去甘草加半夏、茯苓，以溫里，囑煎成冷飲。仍令質之前醫，再行與服。恐招謗也。及余甫出門，病者即發呃，少頓即欲下床臥地，方以余言不謬。先化服來復丹，果吐定，再服四逆湯，片刻稍寧，繼服二煎，嘔止得臥。次日再診，緊脈下移兩尺，乃寒注下焦，反增腹痛。仍用前劑加肉桂、甘草，服三日而愈。</p>

<h2>瘧疾治效</h2>
<p>吳苑仙守戎，戊午年七月酷暑，乘馬出門，恣食瓜果，歸署即寒熱身痛，脈得弦數。告以瘧證，用芎蘇飲二劑，汗出而解。次日自以為無病矣，殊不知間日瘧也。其夜犯房事，次日瘧作，寒熱煩躁，因裡虛不能作汗，熱遂不退。更醫作傷寒治，二三日熱仍不能退。用滾痰丸下之，大便後即於穢桶上氣脫，大汗遺尿，進人參一兩，灌下方回。回則脈細如絲，汗猶不止，繼以附子理中湯回陽，三日裡氣得溫，邪方外出。間日之瘧，依然發作，但發時左脅脹痛，咳嗽不已，將解必大汗亡陽，幾致暈脫者數次，皆重用參湯救回。治瘧則以桂枝、當歸、赤芍、白朮、人參、茯苓、半夏、甘草，薑棗為引。如此補劑，瘧止者二次，皆因勞而復。再用參朮，汗愈多而咳愈甚，竟致坐不能臥，即臥亦左半身不能著席。因思先傷風暑，已經兩愈，其病中犯房事，肝腎之陰虛未復，邪深入於裡，故致咳嗽不能臥。用六味地黃湯加人參五錢，日服二劑。如此半月，瘧咳皆止，尚半身不能著席，幾成瘧勞。仍以地黃湯加人參二錢，兼服地黃丸，一月方健。病中犯房，豈細故耶。</p>
<p>陳玉生秋間病瘧，截藥亂投，將一月，瘧未止而又病痢，瘧痢並作者，又數日矣，最後延余診。其脈尚浮弦有力，蓋瘧邪因截，不得外解，內搏作痢，邪猶在半表半裡之間。以倉廩湯本方，不用人參，即敗毒散加陳倉米也。連進四劑，令其取汗，上身得汗而瘧止，再進二劑，通身得汗而痢止。乃經營之人，見瘧痢皆止，便不藥矣。遂大勞，致中氣下陷，又似欲痢之狀，然脈虛大，有汗不熱，用補中益氣湯二劑隨愈。又不藥矣，五六日後，忽神昏譫語，慌迫求治。診脈弦滑而數蓋前瘧痰未清，不藥留病勞而傷氣不得不補，此虛回痰作，所以譫妄也。用溫膽湯古方，陳皮、半夏、茯苓、枳實、甘草、生薑、竹茹，六劑後嘔吐痰涎甚多，其病如脫。此證幾兩月，始終以去邪而病解，未常以久病補虛，故治病必以脈為準也。</p>
<p>王君聖翁，乙丑年七月下旬，得瘧疾，前醫者已半月，皆柴葛、黃苓、二母、二陳等藥，不效。困憊在床，迎余診視。面目黧黑，間一日發，脈則單絃而硬，歷醫甚多，補瀉溫涼用之已盡。歷秋至冬，益至危篤，元氣大虛，竟無汗解，身目皆黃。其發也，由兩足筋抽，即惡寒，漸次上衝於腹，腹則脹大如鼓，湯飲不下，惟能仰臥，兩足直伸，不能轉側，寒熱輕而脹重，全無汗解，發則必一晝夜，耆朮下咽，腹肋脹痛，臍旁有動氣，諸醫束手矣。蓋此翁年逾五十，素恃強健，初瘧汗解，以為病退，房室無忌，情或有之。深思瘧狀從兩足上衝入腹，腹脅脹痛，面目黧黑，小便點滴難出，脈弦而硬，不受耆朮，皆腎肝病也。病經五閱月，真氣敗傷，瘧邪深入，須補腎藏陰陽，使本氣壯實，逼邪外解。今氣已沖胸脅，未及於喉，若再上衝，必增喘呃。以金匱腎氣湯本方，兩倍桂附，加人參五錢。病人苦藥，日投一大劑。服至七八日，足抽氣衝減半，而瘧勢反彰。余曰：無慮也，此正氣與邪爭也。正勝則得汗而邪外解，執方不用增減。又服二旬，至大寒節次年初氣，則大汗三身，而瘧止矣。但一足筋攣，不能步履。至次年上元節，方登室會客，而足跛者仍半年。病之前段，眾醫所療，後半節專意委任，乃以意治效，未作瘧醫也。</p>
<p>梁德卿在室之女，八月間患瘧，四十日矣。前醫見久不愈，用參朮歸芍鱉甲知母，補截兼行，治之愈甚，每日只二時安寧，隨又發矣。診其脈弦而緊，且不發時仍惡寒身痛。余曰：病雖月餘，表邪未解，半入於裡，所以似瘧而非真瘧。幸為室女，裡氣不虛，未盡傳裡，何以補為？即於是日起，停止飲食，作傷寒治法，以羌活、桂枝、柴胡、蒼、樸、二陳、生薑，表裡兩解。四劑方得汗，寒退身不疼，去羌活。又四劑，熱退。至六日，寒熱皆盡，而似瘧亦止，大便隨通。病雖久而邪未除，必以去病為急，即所以保正氣也。</p>
<p>吳靜含河員，初秋患瘧，乃因熱求涼，過餐生冷，寒瘧也。起時殊不重，余初診令其節飲食，戒瓜果，不合病人意，遂易醫。恣其所欲，瘧熱作渴，縱飲冷水。至一月後，病勢危篤，形骸骨立，胸中塞滿，粒米難吞，嘔噦不息，晝夜俯坐於床，不能平臥，每日一發，自午至寅，無汗而止，日惟二時進藥飲湯而已。不得已，復邀余治。脈則細緊如絲，兩足冰冷，雖瘧發熱，而足亦不熱，坐不能臥數日矣。此寒極於下，厥氣上逆，中冷甚矣。辭不治。堅托不已，議用附子三錢，乾薑、半夏、茯苓各二錢，人參一錢。如此不加減，服十餘日，嘔逆方止，能平臥，得進米飲，續續得汗，瘧亦尋愈。後因勞兩復，仍用前方減姜附一半，加入桂枝、白朮、赤芍、生薑，至十一月冬至後，方脫然。</p>
<p>許用賓翁，溧水李令親，秋月患瘧，嘔吐長蟲，蓋先醫過用苦寒所致。六七日後，招余往治。脈弦而遲，乃陰寒脾瘧，主用桂枝、蒼朮、乾薑、半夏、茯苓、白蔻、生薑，服五日，瘧止矣。即以六君子湯加炮姜調理，飲食亦半餐。忽然舌黑不幹，脈變虛數，別無他證。病人驚怖，余曰無傷。因本體陰虛，前治瘧過溫，瘧雖止而陰氣稍傷，用地黃一二劑可退。用賓曰：前藥熱而效，今藥用涼，倘益病奈何？余曰必效。果一劑而舌紅黃矣。若系中寒虛冷，脈必沉遲，見嘔脹諸證矣。</p>
<p>方豫章部司尊堂，秋患瘧，本體虛寒。前醫誤投黃芩、知母多劑，致發寒，時大吐，吐極大汗，遂昏厥而脫，全不知人。時半夜矣，急迎往看。則六脈全無，手足厥冷，目合不語，牙關半開半閉，惟身體不僵，未全冷耳。余曰：證脈全脫，藥能下咽，方可救也。試以薑湯能咽，即以人參五錢，附子三錢，白朮、乾薑各二錢，煎成頻頻灌下。至天明，手足回溫，再劑目開，三劑手能動，四劑脈出如絲，至一周時，方能言也。至第三日，元氣稍振，而瘧復發，即以前方減參附一半，加桂枝、赤芍、半夏、甘草、生薑、大棗，解肌溫里，每日二劑，六七日瘧止矣。苦寒傷胃，亦至如此。</p>
<p>族其五主政，仲秋舟中感寒，歸來患瘧，寒多熱少，巔頂痛，腰背疼，汗出不止，脈弦細而緊，瘧發則小便不禁，滴點不休。此非三陽證，乃厥陰瘧也。用人參五錢，桂枝、赤芍、細辛、炮薑、半夏、甘草，薑棗為引。服後汗少寒輕，而尿不固。加附子五分，遺溺止，病人畏熱，不肯再劑。瘧勢減輕，方加白朮、當歸。因調理失宜，瘧復者三，皆以參耆歸術桂枝赤芍甘草薑棗等藥，月餘痊可。若宗時派，以柴胡為套劑，豈不益病乎。</p>
<p>王木文兄，初秋場中築鹽，日受酷暑，夜沾風寒，回揚瘧作。歷醫數人，皆柴葛香薷知芩二陳等劑，病全不減。十日後迎治，脈則浮弦而數，瘧發身痛，寒極而熱，熱則渴甚，汗多，小便痛而難出。此風熱未解，須用仲景陽旦湯，風熱兩解也。用桂枝、赤芍、黃芩、甘草，加葛根、厚朴、茯苓，二劑知，四劑減輕，六劑瘧止。不數日，又復往場，半月後回揚，三四日瘧又復發。初亦非余治，勢甚重，始招再醫。詢其病狀，大非前證，發寒時，便腹肋脹痛，熱則起床亂走，譫言妄語，其勢若狂，渴飲不休，診其脈，則細數無倫，巔頂作痛，小便痛而難出。此皆厥陰病，豈非女勞復乎。遂用當歸四逆湯，加附子、生薑、大棗，一日輕，二日減，三日六劑，瘧止矣。治瘧效速，惟有此證以辨經不謬也。若以前用黃芩而效，再用前劑，豈不殆哉。</p>
<p>程馨九太學，九月上旬，自淮安患瘧回揚，已發四次，其瘧甚輕。而本氣甚虛，寒熱之後，汗出不止。雖系少陽風瘧，而初劑即用人參、桂枝、赤芍為君，柴胡、陳皮、半夏、茯苓、甘草為佐，薑棗為引，如此十劑，瘧止十日矣。因憤怒勞復，又值夢遺，余適有江南之役，回往十日，則病勢危矣。瘧則不甚，而元氣大虛，日夜汗出不止，開目亦出，飲食亦出，小便不能頓出，惟聽其點滴。更增咳嗽，不能側臥，惟仰臥於床。因重用人參八錢，附子三錢，何首烏三錢，每日二劑。瘧勞稍輕，又復夢遺，至冬至日，陽氣不生，則病愈劇，日出汗十六身，衣被盡濕，股肉皮傷。幸胃氣未敗，粥食可餐，大便禁固。其時謗議紛紛，謂瘧復不用柴胡，而用參附。幸聲兄不疑，且有內親曹啟心兄贊助，冬至日防其陽脫，惟用參附湯三劑，每劑人參一兩，生附子五錢。如此三日，汗方止半，而有生機。嗣後每劑人參一兩，白朮三錢，何首烏三錢，茯苓二錢，日服二劑，以治瘧，夜服八味地黃湯，兩倍桂附，加人參五錢，以治腎虛之咳嗽。如斯一月，至十二月半大寒節候，瘧方止。嗣後日服前參朮藥一劑，八味湯一劑。至次年上元節後，不用參朮等藥，專服八味湯一劑，以補肝腎，初夏方策杖步於庭。此證費參價數千金，若人力不及，信任不專，何能望治。後每咳嗽，或因風因勞，皆以八味地黃湯重加人參即效。總由肺腎虛寒也。</p>
<p>高學山文學尊堂，年逾六十，平素多痰而胃冷，初夏便餐水果，因而病瘧。歷醫十三位，已兩月餘，而瘧不止，漸增嘔逆，滴水難下，藥亦不納，舌苔全黑，瘧反不發，微有利意，最後相招。診其脈沉弦而緊，重按滑而硬，求治於余。苦藥不能下咽，檢前方皆黃芩、知母、貝母、柴苓湯也。原因停冷致病，又益以寒中冷藥，瘧邪全入於裡，寒痰格拒，非尋常藥能破其堅壘。以半硫丸一錢，薑湯送下，覺胸間衝開，即不作嘔。繼進乾薑、附子、半夏、茯苓、白蔻、橘紅，大劑與服，竟不吐。余曰：能藥矣，但瘧復發，方允可治。學山曰：他醫要截藥，而先生反欲瘧發，豈不相反耶？余曰：瘧者，外受之邪也，知在何經，宜用此經之藥，驅之使出，此善治瘧者也，尊堂太陰脾經瘧也。當用脾臟之藥，則中的矣。而用柴胡、乾葛、黃芩少陽陽明之藥，與太陰何與焉？今瘧固在，脈尚雙弦，固本氣自虛，邪陷於內，非竟止也。中氣稍振，瘧必再發。加人參一錢於前藥內，以助中氣，俾邪外解。服至三四日，胃溫嘔止，能進米飲，而瘧發矣，較前更甚。遂改用桂枝、赤芍、生薑以解肌，不用人參，以蒼朮、半夏、乾薑、附子、陳皮、茯苓、甘草以溫里。如此六七日，飲食略進，瘧發有汗，寒熱減輕。復加人參，換白朮，又六七日，飲食可餐，而瘧全止。不虞先原停冷，又服涼藥，積冷尚存，少腹遂脹痛溏瀉，而又轉痢，脈復緊滑。此腸胃尚有積垢，又去參朮，用蒼、樸、香、檳、薑、附、赤芍、二陳等藥十數劑，大便通暢，瀉痢尋愈。調治五閱月，方能步履。嗟乎！瘧之較傷寒，只差一間耳。傷寒則自表傳裡，瘧則專經而不傳，何得瘧疾不分經而套治耶？</p>
<p>吳㑲庭文學，年二十餘，本質陰虛，秋病瘧，至冬未痊，迎往真州以治之。病已五月，瘧邪雖輕，而真陰大損。因病中時時夢遺，不能禁固，致瘧不瘳，脈弦細數而無力，畏寒不欲揭帳，脅肋氣衝而痛，臍有動氣，半身不能側臥，腰膝痠疼，不能久立，間或咳嗽，自汗盜汗，而陰毛皆變白色，證現肝腎兩虛。檢其前方，皆柴芩二陳二母鱉甲清疏之品，間有用人參、白朮者，亦未服。余主補陰，俾邪自解，用桂枝、當歸、赤芍、何首烏、葳蕤、茯苓、人參、甘草，薑棗為引，仿建中湯治法。因當臍動氣，脅肋氣衝，皆肝腎之病，故不用耆朮也。外朝服枸兔丸以固精，全不作瘧治，半月而瘧止矣。後以參耆入六味地黃湯，調治而康。十數年前，㑲兄尚在幼齡，秋病痢，前醫辭不治。余不知也，迎往真州治之。診其脈，滑數有力，乃濕熱痢證，不足慮也。檢前方則山楂、厚朴、當歸、白芍、木瓜、金銀花、陳皮而已。余曰：邪重藥輕，何能破其積滯耶。遂用黃連、木香、檳榔、蒼樸、枳殼、赤芍、山楂，大劑二脈，而下結糞尺余，兩日痢止。次日辭行，復診留藥，其舌或變黑，見幾上𪻳貯葡萄乾，問曰：食此乎。㑲庭曰：然。令拭去無跡。家人問曰：食此能黑舌乎。余曰：然。㑲兄笑曰：無怪前某先生辭不肯醫矣，彼固因舌黑也，其日亦食葡萄乾。附記以為舌鑑。</p>
<p>吳坦如兄，初冬真州抱病回揚，外證則微熱微寒，頭疼咳嗽，喉痛不甚，而脅肋連腰則痛甚，脈則弦細緊而搏手，按之又無力。自以為風伏火，求為發散。予曰：脈證陰陽相半，表裡皆寒，幸有頭痛發熱，邪猶未全入里也。此厥陰傷寒證，以其十數年前，年甫三十，曾患中風，半身不遂，用過桂附，故不驚疑。遂用桂枝、細辛、赤芍、附子、炮薑、吳萸、半夏、桔梗、甘草、生薑，以當歸四逆加減投之。如斯七日，喉痛止，諸證減，遂轉為瘧疾。脅痛雖減，而不能側臥，咳嗽不除，瘧疾日發，其緊脈雖退，而轉弦細，七八日後，脈更兼澀。平素肝腎虛寒，遂加人參、當歸，以培陰血，因肋痛咳嗽，恐成瘧勞。服參附歸芍桂枝苓夏甘草之藥百劑，其中三複，皆如此治法，方獲脫然。</p>
<p>程越峰文學，南場應試，患瘧歸揚，初醫不辨何經，惟投套劑，不過柴苓知貝，治不愈，遂用截瘧毒丸，空心井水吞服，以致少腹裡急似痢。而前醫猶稱暑氣，益用香薷，陰凝寒肅，瘧邪入里，竟不發矣，而手足厥冷，腹肋隱痛，下痢紅水。求治於予，脈則弦緊無倫。此厥陰經瘧也，急宜溫里，使瘧仍從外發。不然，即痢下不止矣。以桂枝、細辛、附子、乾薑、赤芍、吳萸、半夏、茯苓、甘草重劑，七日手足漸溫，惟腹尚痛，或下膿血，因里得溫，陽氣稍振，瘧仍發出。但緣誤治傷中，遂以前劑加人參、當歸，去細辛、吳萸，半月瘧止。因力薄停參，瘧又復作，以白朮代參，計服姜附藥九十劑。瘧已止而便實，彼因齒痛，遂去姜附。無參而加黃耆，遂胸脹不能食，少腹隨痛，仍照前方去黃耆加姜附，十數劑瘧方止而痊。誤用苦寒井水，姜附百劑，方得破彼堅冰。前吳瘧案，亦厥陰瘧也。始即用溫藥，亦百劑方瘥，未誤苦寒，故未下利。治瘧不辨六經，不分陰陽，浪投劫藥，醫家病家，皆當致警。</p>

<h2>痢疾治效</h2>
<p>朱貞啟文學，年六十外，初秋患痢，其證惡寒發熱，脈浮而數，頭疼身痛，目赤口乾，而又腹痛，痢下膿血，不離穢桶。此雖挾表之證，其勢甚危，乃疫毒痢也。表裡皆病，必須先解其表，而後攻裡，正合敗毒散加陳倉米，乃屬倉廩湯之證。遂以羌活、獨活、柴胡、前胡、川芍、茯苓、枳殼、桔梗、甘草、陳倉米，日投二劑，身得微汗，表熱里痢皆減半。浮脈雖平，而虛數不斂，此高年氣虛，即以前藥遵古方加人參一錢。二劑遂大汗通身，熱退痢止，邪從外解，竟不須攻裡矣。</p>
<p>休邑黃益之，時寓瓜鎮，年七十四歲，秋初患痢疾，六脈雖大，而尚有力，赤白相間。初以平胃散加歸芍香砂，四劑積滯已行，而痢不止，下迫益甚，小便難出，六脈更大而無力。余議用參附，其鄰醫曰：痢脈忌洪大，而又有血，反用參附，殊為不合。余曰：老人脈大為虛，今脈大而不數，重取無力，此氣虛非熱也，乃中氣虛寒，逼陽於外，致脈亦浮於外也。痢疾屬腎，腎主二便，開竅於二陰。今小便秘而大便不禁，乃元氣下脫，宜升陽溫腎，非桂附不可。遂用人參三錢，耆、朮、桂、附、炮、薑、當歸、茯苓各錢半，升麻、甘草各五分。四五劑後，小便即通，脈亦斂小，不十劑而痢止矣。後用八味地黃丸加破故紙、五味子，調理一月，計服人參半斤而痊。此治痢變法，因其年邁也。</p>
<p>溧水藥店張姓，初秋患痢，晝夜百度，不能離穢桶，乾嘔煩熱，而手足反時冷，脈又細數，渴食西瓜，片時隨即利下，而色不變。醫議紛紛，或云完穀不化，手足時冷，恐屬胃寒。余復細驗，脈雖細，重按則長，齒燥舌黃，斷為熱厥，此邪熱不殺穀，因胃熱極，傳化失常，不及變而速下，此經所謂暴注下迫，皆屬於熱也。用大黃三錢，黃連二錢，厚朴、檳榔、白芍、木香為佐，乘熱與服，微寐片時，腹中大鳴，洞瀉數次，積糞甚多，而痢減半。即去大黃，加當歸、陳皮、澤瀉，數劑而愈。</p>
<p>周子仁深秋患痢，自恃知醫，先以巴霜丸下之不減。恣啖酒肉，全不禁忌，又進大黃丸下之益甚。又自服平胃香砂歸芍等藥，亦不效。晝夜四五十次，將近一月，急招予治。脈則細數身熱，乾嘔不食，面白唇紅，左肋氣衝而痛，下痢純紅，愈便愈墜，投以黃連歸芍香檳苓草陳皮不效。然所見諸證，皆痢所忌，視其人清瘦，素屬陰虛，巴豆治寒痢，大黃治熱痢，寒熱亂投，下多亡陰。季肋屬腎，痢亦腎病，當變法以治之，補陰為本，治痢為標。用生地黃、歸、芍為君，黃柏、人參、陳皮、甘草、陳米、神麯為臣，日進二劑，脈數唇紅稍退。遂執此方堅服半月，漸次減少而愈。若以脈數身熱，下血唇紅，乾嘔不食，棄為逆證，而不以下多亡陰，用滋腎治法，奚望其生乎。</p>
<p>族兄曉齋先生尊閫，深秋患痢，年近六旬，夏日貪涼食冷，乃寒痢也。以自知藥性，喜補畏消，更惡熱藥，諸醫順其性，惟以平妥套劑治之。因循日久，轉變虛寒，有用肉桂者，有用黃連者，無所適從，決之於余。診其脈兩尺全伏，舌苔灰黑，噦聲近呃，足冷至膝，布障窗牖，畏見日光，脈證皆大虛寒，以書證病，確當溫補。遂用人參三錢，附子、炮薑、肉桂、茯苓、芍藥各錢半，暮夜請醫不到，勢急勉煎。而病人亦神昏不辨何藥，服後隨得熟寐。醒索再煎，又照前方一劑，次日足溫呃止，痢亦減半。繼延團分璜，余適往探，不令余診，恐余用熱藥也。然分璜以余藥為宜，隨又迎京口吳時乘，用藥亦同，惟加附子三分耳。因病人最惡熱藥，時乘令將人參炮姜先煎湯於藥罐內，以白朮、歸芍、茯苓、甘草、陳皮、佐助群藥，面投罐內，以免疑畏，用術治愈。</p>
<p>汪紫臣翁深秋患痢，歷冬不瘥，日不過三四次，夜或便，或不便，腹不痛，但腰下一墜，即便膿血矣。歷醫二三人，皆不效，然飲食起居如常。最後問治於余，診其脈弦而無力，兩尺細緊。余曰：非痢也，此經所謂大瘕瀉，乃腎氣虛也。蓋腎主二便，今大小兩便，一齊並出，小便不能單行，此五虛證之一，謂之瀉利前後。理宜補氣，用人參、耆朮、當歸、桂、附、故紙、五味升麻，服十劑。紫臣云：全不效。余曰：虛回痢自止，不能計日取效，非余故留病也。遂疏方請自制藥日服，期以小便能單出為效。服藥將一月，相遇於友家，喜曰：昨日能立出小便矣。令其再服十餘劑，勿功虧一簣，後遂全愈。若作痢治，則去道遠矣。</p>
<p>方豫章部司，素虛寒，初秋患痢，日夜十多次，紅白相半，脈弦細緊，反不惡寒，而微發熱，頭疼身痛。若以脈細緊為寒，大當頭痛發熱，以頭痛發熱為濕熱，脈又不當細緊。然必以脈為準，定屬厥陰病，寒凝於內，反逼陽於外也。況厥陰病原有頭痛，且肝藏血，理宜用當歸四逆湯。本方加附子、乾薑、吳萸，解肌溫里，俾邪外解，每日服藥，夜必微汗，次日必熱微利減。如此六七日，則表熱里痢皆痊。以後三年初秋必病，皆如此治之。</p>
<p>余弟思承，年五十六歲，宣城貿易，初秋酷暑，日食苦蔗菜，即本草所謂敗醬也。且餐石膏豆腐，淡薄水酒，平素中寒，因而腹痛作瀉，瀉後數日，即痢疾矣。十餘日余歸，脈雙弦緊硬，而兩尺尤甚，胸中飽脹不能食，臍旁動氣，按之痛，晝夜五十遍，腹反不痛，惟尾閭一酸墜，即下痢矣，小便點滴難通，惟與痢並出。觀脈之緊硬，腹之不痛，此腎藏虛寒之痢無疑矣。初即用附子、乾薑、肉桂、歸、芍、蒼朮、香砂，十數日不減，而下迫益甚，更換白朮、茯苓，去香、砂、乾薑，亦不效。益之以人參、黃耆、升麻，亦不效。再以八味地黃三倍桂附為丸，清晨吞服，夜用鹿茸鹿膠鹿角霜為丸，雖稍減而亦不愈。如斯大藥，服之百日，至立春方減至十數便。因痢久下陷成痔，日下鮮血，而緊硬脈不退，但停鹿茸丸煎劑之桂附，八味丸之桂附，仍日服不輟，至春分日方一夕而痢止。次年八月，即上年得痢之日，又復痢疾。仍如前煎丸並服，又不見效，再以硫黃之玉粉丹服之一月，至冬至前後方痢止。乙酉仲秋，前痢又作因，食蟹所致，如前治法，冬至方回。此痢之虛寒，世不多見，因屬胞弟，彼此不疑，故得獲效於萬一也。</p>

<h1>卷三</h1>

<h2>諸中證治效</h2>
<p>方惟善翁，年七十，夏月忽右手足不用，口眼喎斜，舌強面赤，脈虛大而參伍不調，兩寸脈十數至一歇，但止數不齊耳。問其脈何以歇至，彼云：今十年矣，每心一掣跳，則脈必歇。余曰：心掣為腎病，此心腎氣虛，並無風邪六經形證，溫經大補，或可復原，若作風醫，必致屢廢。遂用人參、黃耆、白朮、桂枝、芍藥、附子、天麻、當歸等藥，每日用參兩許，醫治月餘，口眼端正，步履如常。方在調理之餘，忽發咳嗽，彼自誤為痰火，參附貽禍，數日後目窠微腫，頸脈大動，尿如煤水，乃腎藏真陽不足，將成水蠱之證也。隨即咳喘不能臥，足趺先腫，漸延兩腿，余用金匱腎氣湯，加倍桂附，更入人參三錢。時當酷暑，懸大帳於庭，伏枕於幾者二十八日，藥近百劑，小便漸多而腫消。適因病後營葬勞煩，調理失宜，遂時發喘咳，不能平臥，至八旬乃終。</p>
<p>汪大扶兄，年四十五，善飲貪涼，此素性也。雪途昏僕於地，抬歸始醒，即遍身拘攣，腰足冷痛，手足不能舉，已具六經形證。此真中風也。先醫者作虛治而用人參，困頓於床。後延余治，脈弦而沉緊，此夙昔之風，加以雪天新中於寒，兩邪併發，致昏厥而僕，風寒未解，何用補為。余以桂枝、細辛、羌活、附子、赤芍、乾薑、半夏、甘草、小續命湯加減，溫里解表。五六日邪氣外出，脈略浮弦，而增咳嗽，再加麻黃、杏仁，續續得汗而痛減。將一月，身發癮疹作癢，外解而痊。</p>
<p>吳敦吉翁，年逾五十，善飲多勞，二月間盥洗時，忽然發暈，嘔痰未僕，即右手足不舉，言語蹇澀，口眼不歪，尚能扶步，脈弦滑有力，而無他證。此痰中也，用六君子湯去人參，加膽星、天麻、秦艽、竹瀝、薑汁，半月後病減。方少加人參，兼用歸、芍，一月後即言語，步履如常矣。</p>
<p>趙智善因酒後憤爭，隨即昏僕不語，手足厥冷，前醫用牛黃丸不效，用風痰藥亦不效，已經一日夜矣。余視之，六脈皆沉弦，而歇至來去不亂，喉無痰聲，手足微冷，口眼端正，牙關半開，呼吸調勻，面無賊色。蓋中風則身濕，中氣則身冷。此中氣也，用皂角末吹鼻，得嚏一聲，隨嘆氣一口，手有動意。繼用烏藥順氣散，加木香、沉香，微煎數沸，緩緩灌下，即噯氣一聲而蘇。</p>
<p>瓜鎮劉玉吾，年六十外，混堂浴歸，卒中一日始醒，初醫以風痰火雜洽，風則羌防，火則膏連，痰則星夏，繼進蘇合丸數枚，則遺尿矣。十日外始迎余治診，其脈虛大無倫，昏睡不語，身重遺尿，肢不偏廢，口不歪斜，喉無痰聲。原非中風，因老年貪浴，汗多亡陽而暴脫，有似中風。失此不用補中，反行疏導，陽氣愈虛，致遺尿不語，竟成脫證。急用歸脾湯原方，入人參一錢，四劑即能言語飲食，惟尿不禁耳。每日間用八味地黃湯，去丹皮、澤瀉，加人參、破故紙、益智仁、五味子，而尿固。數日後，舌苔全黑而滑，此中氣虛寒，腎水凌心，用苓桂理中湯，四劑而苔退。後仍以歸脾湯甘溫之劑，調補一月，方能步履。但因多食蘇合丸，辛香散氣，病愈後，言語隨忘，欲言又止，終不能復也。</p>
<p>鎮江巡江營王守戎之媳，抱子登署後高樓，樓逼山腳，若有所見，抱子急下，即昏僕者一日夜。薑湯灌醒，如醉如癡，默默不語，不梳不洗，與食則食，弗與亦弗索也，或坐或臥，見人則避。如此半月，越江相招。入其室即避門後，開門即避於床，面壁不欲見人。令人抱持，握手片刻，而兩手脈或大或小，或遲或數，全無一定。此中惡也，與蘇合香丸。拒不入口，灌之亦不咽。明系鬼祟所憑，意惟秦承祖灸鬼法，或可治也。遂授以灸法，用人抱持，將病人兩手抱柱捆緊扎兩大指相連，用大艾團一柱，灸兩大指甲角，灸至四壯，作鬼語求食求冥資。灸至七壯，方號呼叫痛，識人求解，繼進安神煎劑，熟睡數日而愈。</p>
<p>吳翰臣兄令眷，予族之女也。清明夜，門首看城隍會，甫入堂，忽昏僕於地，不能言語，抬上床一刻，即大吐，口出妄言，謂城隍夫人需侍者，已得三人，令其入廟服役，語畢，仍閉目昏睡。其家驚畏，暮夜迎余。自門首至寢所，皆燒冥資。觀其色無青黑鬼氣，切其脈兩手相同，至止不亂，但虛大無力。余詢其聲變否，家人對以如常。此殊不似中惡之證也。又問前有病否，家人云：經水行有半月未止，數日前，即燃燈通夜不熄。翰臣外出，要人作伴，似有畏惟之狀。蓋邪之所湊，其氣必虛，因脫血心虛，夜看城隍會，見扮鬼形，心布而神亂矣，即或中惡，亦因其虛也。以人參五錢，桂心一錢，銀一錠煎熟灌下，又將渣再煎灌下，片刻即醒。問其前事，全然不知，惟記門首看會，不知何由在床，但稱心慌手麻而已。隨用歸脾湯數服，經止病愈。</p>
<p>魏老者，冬月自郡歸瓜鎮，夜食畢，方就枕，即昏厥，手足僵直而厥冷，牙關咬緊，面青脈沉。此老年氣弱，被嚴寒所迫寒中也。先以濃薑湯抉齒灌入，牙關略開，繼以附子乾薑半夏甘草四逆湯，大劑灌下，至五鼓身方回溫，人亦漸醒。</p>
<p>巴其臣主政令眷，年未三十，遭新喪悲鬱之後，忽眩暈昏僕不語，脈弦數而澀，有時手抽掣，面上發赤，喉無痰聲，藥亦能咽，惟昏睡不語者三日夜矣。經醫數人，主風主痰主虛，與以牛黃抱龍丸，皆能咽，但終不醒。予以脈弦數，獨主火中，蓋木鬱化火，肝火暴甚，故卒倒而無知也。經云：陰氣衰於下，則為熱厥。以滋肝清火，逍遙散為主。用歸、芍、丹皮、柴胡、鬱金、梔子、貝母、羚羊角、竹瀝頻灌，一日夜回蘇能語而愈。嗣後遇怒仍發。</p>
<p>吳坦如兄年將三十，酒後行走，忽昏僕不知人事，扛上床一刻方醒，即右手足不能舉，尿不禁而口眼不歪，舌微強，時發寒而汗出，小便頻下，六脈細濡無力。此元氣大虛，類中風之脫證也，若不急行溫補，恐致大汗喘厥亡陽，乃顯明易見之虛病。時火治庵盛行之際，亦不能別生他議，遂以參、耆、歸、朮、桂、附、天麻、半夏、益智等藥，補益月餘而健。</p>
<p>從容庵僧，飽食後混堂洗浴，昏暈抬歸，手足溫暖，呼吸調勻，口眼端正，牙關不緊，又無痰聲，其人氣實本無病者。診其脈，兩關沉滑有力，惟閉目不語，掐其人中亦知痛。此證非風非痰，非寒非虛，以意度之，飽食之後，久浴傷氣，胃中食滿，氣虛不能運轉。經云：一息不運，則機緘窮，豈非食中耶。以手重按其胃口，則眉皺手推。遂用姜鹽湯探吐灌下，即嘔噦吐出未化之飯半盆，噯喲一聲，目開而醒矣。</p>
<p>揚州大守如夫人，年及三十，平素虛弱，參朮湯丸不輟，盛暑忽身疼發熱，嘔吐痰水，猶以平日之虛，召用補劑。及診其脈，浮弦而細，對以非平常之虛，乃暑熱傷氣，復受風邪暑風證也。須先治風，以葛根、藿香、二陳、砂仁、厚朴、生薑，一劑即汗出發熱身痛皆愈。少刻手足攣搐，目珠上視，喘喝遺尿，身僵不語矣。署中驚畏，急復再召。脈則不浮，但弦細耳，神昏僵臥，但能咽藥，因脈之細，乃氣虛傷暑而卒中也。面垢遺尿，皆屬暑病，而非脫證。用古方消暑丸三錢，溫胃滌痰。服藥時許，又得微汗，即目開能語，續以香砂六君子湯，二劑而愈。</p>

<h2>男病治效</h2>
<p>汪嵩如翁，己未年維揚患病，隨余迪茲至瓜鎮，就彼治療，寓江干從容僧舍，因藥未效，又問治於余。晝夜不寐者，已月餘矣。診其脈虛大而數，重按豁然，日惟食清粥兩三盂而已。時當仲秋下旬，衣單紗，猶畏熱之至，令僕揮扇，方可伏枕，否則起行，不能著席矣。先醫用藥，秘不令知，但云日服人參而已。審其病，因始於憤怒，兼恐而致病。余即病因，合病之狀，而議治焉。蓋暴怒傷陰，則肝氣逆，恐傷腎，則氣下，腎水不升，心陽不降，腎肝兩病，魂不歸肝，氣不歸腎。因衛氣常留於陽，則陽蹺盛，不得入於陽，則陰虛，故目不瞑矣。真陽外越，脈虛大而不斂，天令雖涼，而猶畏熱，似與陰盛格陽同病，又非真武四逆所能治也。經曰：陰者陽之守也，陽者陰之衛也。病始於暴怒傷陰，陰不守陽，孤陽飛越，寒之不寒，是無水也。用從陰引陽法，以八味地黃湯，倍用桂附，加人參，四劑病知，八劑得寐，半夜十日後，即熟寐矣。病痊心感，勸余遷揚，代為稅居，逾年之後，因移寓郡城矣。</p>
<p>熊偉男司訓，正月上旬，賀節飲酒，即於席上腹痛吐瀉，並作厥冷大汗，竟不能歸。先醫用炮薑、香砂不效，又進平胃、二陳，亦不效。因吐瀉大汗，真陽外越，反面赤脈大腹脹而痛，延京口名家。見其腹大而痛，視為實證，投以木香、檳榔、腹皮破氣劫藥。病家不敢服，自真州迎余至瓜鎮。已病四日矣，診其脈，洪大無倫，重取即散，素有肋下肝腎氣病，自以為舊疾作楚。予曰：非也。蓋首春苦冷，暴寒所傷，此寒霍亂也。故卒然大痛，吐瀉並作。因吐瀉汗出，裡氣虛寒，真陽外越，以致面赤戴陽，陰躁不眠，口乾嘔噦，腹脹如石，脅痛氣衝，脈洪散亂。此汗瀉亡陽，大虛若實，危篤急證。若不急救，必致厥冷汗出不治矣。非若尋常霍亂，吐瀉止而愈者比也。遵仲景霍亂治法，以四逆湯加人參、肉桂、茯苓，小劑先投，得閉目片刻。繼用人參五錢，附子三錢，乾薑、肉桂、茯苓各二錢，日投三劑，脹略斂小，而兩足太谿衝陽，皆陷下不見。如斯重劑，六日始脹痛止而得臥，十二日大便方通，可進飲食。因平素臍旁腎藏有動氣，耆朮皆不能入劑，用四逆桂苓二十餘日，飲食始餐。易用八味地黃湯，三倍桂附，加人參，調治兩月方健。其時瓜鎮醫家，僉云誤補，必致危殆，因令子青選為予門人，不得不肩任也。</p>
<p>吳敦吉翁，年逾五十，己未年大旱，河水乾涸，鹽運維艱，因此思慮過度，遂倦怠懶言，默默獨坐，不欲見人。然神思內清，有問必答，並非昏憒，乃情志之病也。醫有以痰治者，有以育神養心治者，予亦參治其間，皆不效，漸致終日昏睡不起。將黃昏，則自起盥洗食粥，夜分食飲，五鼓飲酒，與侍者如常談笑，將天明則脫衣而臥，日間強扶掖而起，終不肯坐。如斯年餘，絕不服藥，藥亦不效。予曰：雖陽虛之嗜臥，實思慮之傷脾，因七情致病，須情志以勝之，非藥可治。如華陀之治魏守，激其大怒，可霍然而起。此因思致病，須怒以勝之。其時以余言為虞，乃未幾有人隔屏憤爭，觸其大怒，披衣而起，與彼辨論，大聲疾呼。次日天明，即霍然而起矣，隔數日步行枉謝。余問曰：去年令公郎激翁怒，猶記憶否。答以其時欲怒而不能也。嗣後則動履竟復舊矣。</p>
<p>李元亮書吏也，因書寫過勞，秋杪忽咳嗽火上逆，頭面皆赤。前醫苦寒直折，隨吐粉紅白血如肺肉，則火愈上逆，一日三五次，火一逆則遍身皆赤，咳嗽益甚，間有白血，頭面汗多。余往診之，兩手脈大而數，重取全無神力。若以失血之後，見此數大之脈，則為逆證。咳白血亦屬不治。病者云：臥則不咳，坐起則咳甚。余熟思之，久視傷血，書寫傷力。此氣中虛火，宜人參、黃耆、甘草以退之。所謂虛火宜補，誤用苦寒，虛以實治，則火愈熾。坐起咳甚，肺虛也。脈大無力，所謂勞則彰，亦氣虛也。多汗面赤，乃虛陽上泛，非陰虛之火。遂用大劑黃耆為君，人參、當歸、白芍、麥冬、五味、甘草為臣佐，一劑汗收脈斂，三劑火息咳止。如此滋補，一月方能起床。火之陰陽，可不辨哉。</p>
<p>萬守澍文學尊翁，年七旬外，長齋獨宿，二十年矣。因心事怫鬱，夜中忽大吐紫血碗許，隨腹痛，又便紫黑血碗許，昏僕於地。室內無人，及其自醒，始登榻。次日相招，兩手脈大而芤，幸不散耳。他醫議用涼血滋陰，予曰非也。此畜血證，因鬱怒傷肝脾，肝不藏血，脾不裹血，致血無歸，而成瘀敗，上吐下便。幸老翁閉關已久，不致氣隨血脫，尚敢滋陰以傷胃脘之陽乎。用大劑歸脾湯，加炒黑乾薑，計用人參數兩，匝月乃康。</p>
<p>曹君儀，年六十四，體半肥，素陰虛，初病脅痛嘔吐，寒熱汗出，胸中噎塞，將成膈證。予以歸、芍、川芎、二陳、香附、鬱金等藥，治之半年，胸中寬，遂咳嗽吐痰，轉為虛勞。每因勞則寒熱似瘧，汗出熱退，身目皆黃，溺赤，又變為癉證。用逍遙散數劑，其黃即退。或一月一發，半月一發，漸至面額黧黑，爪甲枯粉，大便秘澀，此女勞癉，又名黑癉也。一醫以癉不必分五，均是濕熱，用平胃、五苓，間用黃連、肉桂，病愈篤，僅存皮骨，已備終事，復求治於余。但女勞癉一證，仲景言之甚詳，必有寒熱，久為黑癉，皆主風藥。東垣因之，亦以風藥而加參朮。用皆不效。夫女勞之名，必屬腎水虧虛，水虛則土實，所以反見敦阜之色。此虛邪也，不必平土，但宜壯水，水壯則土不燥。虞天民《蒼生司命》云：女勞癉當作虛勞治之，正合治法。遂以六味地黃湯，加當歸、芍藥、秦艽、苡仁、麥冬養陰壯水之藥，百劑寒熱先除，癉黃漸退。至七旬外，他疾而終。</p>
<p>王君聖翁，前瘧證愈後，而經營勞碌過甚，自恃強壯，不善愛護，每遇過勞，或飲食不節，便發寒戰，戰後發熱，腹脅大痛，或瀉或不瀉，汗出熱退，身目俱黃，腹大如鼓。因前治瘧，知其腎藏虛寒，以八味地黃料，加倍桂附，水疊為丸，日服不輟，病發則用逍遙散加秦艽、丹皮，數劑即退。如斯三四年，應酬如故。後年逾六十，正氣漸衰，發頻而黃不退，額黃漸黑，竟成女勞癉矣。其時火治庵名噪甚，遂易彼治之，謂癉不必分五，皆以濕熱冶之，重用茵陳為君，雜以五苓、平胃，治經二三年，治庵自病。又易醫，亦以濕熱治之。時重時輕，人則骨立，腹則脹大，年將望七，忽頭大痛。此腎厥頭痛，而醫者不行溫補，反作風治，用桂枝、細辛、白芒疏風散氣之劑，遂致三日而逝。前曹癉證腎藏虛熱，陽黃也。此癉證腎藏虛寒，陰黃也。均屬女勞癉證，豈可癉不必分五，混同濕熱而治之乎。</p>
<p>程於宮兄，首春自場來揚就醫，面目皆黃，胸腹飽脹，腹痛便溏，脈沉而緊。此太陰脾藏之陰黃，色黃而黯，非胃府之陽黃，色如橘皮也。言場服茵陳、梔子、四苓清熱之藥，病將一月而不效。此證本中寒，誤作濕熱，豈不益甚乎。而病者素畏熱藥，今病患中寒，不得不溫。先以蒼朮、炮薑、二陳、砂仁、茵陳、澤瀉投之，胸雖稍寬，脈沉不起，緊亦不退。遂加附子，易乾薑，十數劑黃退腹消。即前方蒼朮換白朮，去茵陳，加甘草，調理而愈。此癉病正治，亦須辨陰陽寒熱也。</p>
<p>崔魏子病疝一月，清肝理氣，消堅攻劫，無不備嘗，最後招予。診其脈，細濡如綿，惟有三至，羸瘦不堪，色枯貌瘁，臥床不起，疝墜於囊，全不知痛，時值秋暑，畏寒服綿。予曰：虛寒極矣，元氣下陷，須溫而舉之。用人參、黃耆、肉桂、附子、當歸、升麻、甘草，薑棗為引，溫腎升陽五七日，疝方漸收能坐，溫補而愈。越三年，又疝痛牽引胸背，胃中亦隱隱而痛，歷醫多人，有疏肝者，有理氣者，有用安息諸香者，漸至陽虛自汗，驚悸不眠，較前病更甚。病兩月矣，自慚不便請凂人求治。診其脈細澀不堪，乃氣血兩虧，津枯髓減，肝腎病也。經曰：諸陽受氣於胸中，轉行干背，此氣虛胸背痛也。又經曰：肝虛則令人胸痛引背，下則兩脅胠滿，此血虛之胸背痛也。肝虛不藏魂，故不寐。氣虛不能衛，故自汗，脈又細澀。此傷精亡血之證，以熟地黃、當歸、枸杞、山茱萸、棗仁補腎滋肝，以肉桂、破故紙引氣歸腎，加人參、黃耆以益衛氣。初服病知漸減，多服尋愈，兩月方瘳。前醫執痛無補法，豈定論乎。</p>
<p>王用明兄，新正登金山，日中痛飲，攀緣山巔，勞而汗出，歸臥火箱，夜又夢遺，次日四肢清冷，面慘不光，肌膚似麻非麻，似癢非癢，惟皮外不欲沾衣，覺衣之硬甚也，夜臥被席亦如之，脈浮而濡。醫初用疏邪實表驅風劑不效。予曰：此肉苛也。雖正月猶屬冬令，陽氣在裡，勞而汗出則衛虛，又值夢遺而營弱，所以不勝衣而肉苛也。以黃耆建中湯加白朮、當歸，薑棗為引，三劑而愈。</p>
<p>熊闢疆兄，秋間食冷物，當風假寐，次日即胸前結硬冷痛，乾嘔作瀉。隨服平胃、二陳、炮姜四劑，稍減而未痊。因循兩月，服藥斷續。其間或服薑桂溫中之劑，則痛愈甚。以手捫之，胸皮皆冷，嘔吐酸水，小便澀少，脈初診則細，重按反滑而有力。余曰：初因寒中，積之既久，鬱而成熱，所以薑桂反增痛矣。皮外雖冷，乃陽鬱於內也，用仲景瀉心湯法，但苦以瀉實，辛以散結。以二陳湯加黃連一錢，乾薑一錢，四劑後，胸中作響而寬，胸皮回溫，續得大便暢解數次方愈。</p>
<p>員虞肱中翰，己巳年三⿰亻⿳亠口衣河舟中，忽奮身跳河，家人拉住，嗣後言變志亂，舉止失常，經醫數輩，皆以癲證治之。月餘罔效，未始招余。脈弦細而數，尺寸皆澀。予曰：脈不長滑，非痰非狂。然未察其病證，及相對揖讓如常。但言語無倫次，一日，以筆晝幾作橫豎云：此我也。又以筆圈之云：此困我也。一日，手摘桃葉搓之納口中，手掬魚缸水欲吞，復並桃葉吐去，入席又言語如常。又一日，倦臥內房，就榻診之。初自遜云：我少年也，奈何臥於床，致勞先生之多步耶。忽又云：昨日得一竹片，刮之甚光，遂口作擊竹之聲，以手和之。予見言亂而出，隨令紀綱傳語，謂適言竹片者，妄言也。囑余勿信，余方恍然悟矣。經云：腎氣不以時上，故言變而志亂也。謂之失志，此非癲狂，乃腎病也。次日往診，問其竹片，彼尚記憶。予告曰：尊恙腎虛證，獨宿百日，可勿藥而愈，否則定成廢人矣。彼拍案而立云：果如此，明日即出城稅居僧舍，屈先生迂步就診可也。次日果移寓天寧杏園。余以六味地黃湯，去澤瀉，加當歸、麥冬、五味、遠志，而用人參三錢，不加增減，半月即神氣清朗，微發一次。嗣後兼服天王補心丹，又半月，則應酬如故。計住四十二日，因家事重大而歸。晤對曰：旁人謂先生必用桂附，殊不知竟是六味地黃湯清涼藥也。相視大笑。</p>
<p>休邑蔡毓徵兄，寓瓜鎮，修得異疾，時四月初旬，或周身頭面作癢，癢至不可解，遂赤身臥於棕床屜，滾擦不休，少刻頭面遍身皆紅腫而癢不息。余至診脈，則浮數無倫。《內經》有刺風一證，不若此甚，而多紅腫，脈又數甚，殊不似也。因見肆中觝魚甚多，《本草》觝魚別名癩魚，食之令人多發癩。疑其食觝魚，詢之果然。問其食時有異否，云食魚腦覺舌麻，此中魚毒無疑矣。急用甘蔗汁、蘆根汁橄欖湯，頻頻雜進，時許即止。而遍身皮破，痛楚旬日，落去外膚方愈。大凡食物有異，即當棄而勿食，此可鑑矣。</p>
<p>吳佩元兄，狎妓酣飲，真陰虧，損其本質也。忽兩胯結兩核，但腫而不紅不痛，瘍科以魚口治之。蓋因其平素有外色，彼亦自疑，遂甘服五虎毒劑，下之不消，久而自散。緣此傷陰咳嗽，亦屬他醫所治。後兩膝下忽又結兩核，亦腫而不痛，就治於余。診其脈細數無力，上咳嗽而下結核，此真陰虛竭，津枯血少，為火結核也。以《外科證治準繩》結核證，與彼視之，作下部瘡瘍，用六味地黃湯，加沙參、貝母、歸、芍、麥冬等十數劑，其核一夜全消。醫治一月，嗽亦全止。隔年餘，忽大吐血，其素相好之醫，斥地黃湯為毒藥，吐血者服地黃湯，百不一生。不曰陰虛，而曰虛冷，先以桂枝、歸、芍、細辛、木通、甘草、薑、棗、當歸四逆湯治之。血不止，改用真武湯。又不止，再加乾薑，乃血儘自止，遂歸功於姜附，用之經年，漸至喉痛失音，藏毒潰膿，而猶不悟，延至喉爛肛爛，百苦而歿。夫恣用苦寒，浪投辛熱，不辨陰陽，皆非王道，病家醫家，可不慎諸。</p>
<p>王以寧兄，壬戌年患嘔吐證，食畢片刻即吐出，其時年方二十餘歲，全不介意，起居如常，吐將百日，百藥不效。余作下焦翻胃，以八味地黃湯，兩倍桂附治之。吐止後得腹痛證，乃腎氣虛寒，動氣衝擊，為粗工攻積，大下幾脫，因而致虛，此受害之始也。越四五年，先因便濁，漸致寒精自出。年逾四十之外，因怒而耳聾，用聰耳藥當歸四逆皆不效，參耆亦不效。一朝或聰，則十數年前吐病發矣，飲食肥甘不厭，食亦不少，但食後片刻則大吐，或多或少。吐一二月，又不吐者一月，每吐必因怒起。如此屢吐屢止者年餘。吐久傷氣，則胸背大痛，用人挺按。如吐未盡，則痛在脅肋，必俟徐徐化下乃已。漸至陽氣大虛，妄見妄聞，胸背氣衝而痛，坐不能臥，寒戰發熱，大汗昏冒，足痿不能立，手不能舉，寒精不禁，陰莖全縮，小便淋漓，下體浮腫，日雖能食，然有粒米不存者。種種敗證具見，自己治棺，而專任於余，不肯易醫。始終以苓桂理中湯為主，用人參三五錢，附子、乾薑、苓、桂、半夏各二錢，約服千劑，吐甚加服半硫丸。若上焦虛熱，則用三倍桂附八味地黃料，水漬為丸，日服不輟。若中宮虛冷，則用苓桂理中料各等分，但甘草減半，以棗肉為丸，相參而服，亦終年不輟。如傷風咳嗽，坐不能臥，則用當歸四逆湯，加附子、茯苓、半夏、杏仁、薑棗，仿溫肺湯之法。如斯處治，歷病四年，或丸或湯，未嘗間斷，漸致策杖能步，或日全食，或吐一餐而漸愈。此證本於便濁傷精，腎藏虛寒，陰邪上逆，所謂呼出心與肺，吸入腎與肝，腎病失吸入之權，脾雖能納，而不能吸，反逆上，而成反胃。數年內有一月全不吐者，二三次每因怒而復，蓋怒則氣逆也。初病食後即吐，將愈則朝食暮吐，遂漸不吐，棄杖而步行。此下焦反胃，而非上焦隔噎，以胃氣本厚，幸未投疏氣傷中之藥，雖嘔吐四年，全用參朮為君以培土，桂附為臣以益火，未經劫治，任醫得專，故能十全斯病也。</p>
<p>吳虞能兄，得肺癰證，自不知，而醫亦不識也。正月半後，招余往診，則圍被抱火，身坐火箱，猶畏寒甚，但云咳嗽不能臥，寒熱時發，胸背脹痛，初醫先云傷風，繼云肺寒，用桂枝、細辛、乾薑、二陳等藥，已十餘日矣。診其脈，兩寸澀而數，以手按其胸背，則內痛甚，口出腥臭腐氣。此肺癰將潰，故作寒熱，非真寒，乃內癰作膿之寒也。令其去火，急平肺排膿，使癰早潰，免傳他葉。用苡仁、貝母、桔梗、甘草、防風、桑、杏、地骨皮、金銀花、白芨，四劑，則黃白臭膿日吐兩碗。因嗜菸酒，肺素大熱，幸不氣虛，膿盡之後，現陰虛細數之脈，發熱盜汗之證。此蓋金病不能生水，純用六味地黃湯，去澤瀉，加苡仁、貝母、麥冬、沙參、紫苑、五味等藥，百劑方護完口。鄉居數月，靜養而康。</p>
<p>族叔偉然，自揚來就診，但稱兩足無力，喜飲茶湯，其脈細而數，兩尺尤甚，乃傷精失血之脈。詢其夢遺否？答云：並無此病。因其多飲，擬為消證，令其尿貯盆中以驗之，然後用藥。次日復來，云尿上有浮脂，下有渾濁。予告曰：三消之證，已得二矣，渴為上消，小便變為下消，精隨溺出，兩足無力，將成痿躄，大病也。須清心寡慾，以善藥治之，何獨以足疾為患耶。遂以六味地黃湯，去澤瀉，加人參、黃耆、菟絲子、麥冬、五味子為煎劑，早晚服枸菟丸三錢。客寓於真州園亭，醫治百日而愈。復立左歸丸方，令其歸場日服。後因中年無子，不能節欲，數年後疽發於背而歿。消證有心自焚而死者，此證是也。</p>
<p>員秉乾中翰長郎，年十三歲，出痧之後，咳瀉兩月，諸藥不效。最後醫家竟用二神之破故紙、肉蔻，而咳瀉更甚，便令予診。脈長而數，告曰：此胃熱，非脾虛也。必因瘀證未用石膏，致餘熱仍歸肺胃，邪熱不殺穀，故洞瀉。幸熱毒未全入肺，賴有洞瀉分消其熱，若不瀉，則咳嗽發熱，已成痧勞矣。予以清熱為主，熱退則瀉自止。遂用苡仁、貝母、栝蔞、地骨皮、麥冬、知母、桑皮、木通、桔梗、甘草，四劑，反大瀉數次而瀉減。再十餘劑，咳嗽皆愈。治病必求其本，若見病治病，奚有當哉。</p>
<p>族譽六郡丞，蒞任梧州，其地山多而濕，暑月病瘧，土醫攻劫而愈，不無傷氣。病方愈，即丁艱回籍，道經梅嶺，路發眩暈，有如中證，暈退即兩足痿痹不能立，不能步矣。歸來召診，脈細濡微數，頭微暈，足腫微痛，尚可伸縮，未致緩縱，但形盛氣虛，多痰多火，表虛多汗。此氣虛而傷濕熱，謂之痛痿。群醫主治不同，或用桂附，或用知柏，或專補腎。余曰：病居下體，著而不行，脈不浮弦，非風也；脈不緊而痛不甚，非寒也。今脈濡而細數，兩足腫，此氣虛傷濕。遵經治痿獨取陽明，以人參、白朮、半夏，補脾燥濕；天麻、秦艽、續斷，補濕熱而利關節，濕則客人皮肉筋骨；歸芍滋血以舒筋，乃熱因濕化，不用苦寒，恐其有傷胃陽，轉致濕不能解外；以加減虎潛丸，滋補腎元，以堅骨痿。如斯平補，半載有餘，遂可步履矣。</p>
<p>西林族侄，本脾腎寒之質，因未得子，常服溫劑，房事之後，氣忽欲脫，心慌頭眩，汗出不寐。他醫用人參兩許，附子三錢，如此重劑者。四五日，已服人參十數兩，汗出雖止，而心慌眩暈，多餐不寐，仍然不減，相招治之，診其脈，細數無倫。余曰：始病庸或陽脫，參附未為不善，今已陽回而陰竭，遂當陰陽平補，脈細數不寐多餐，皆陰虛脈證，附子不宜用矣。余用古方益氣補腎湯，人參三錢，黃耆、白朮、茯神、山藥、山萸、當歸、五味子、甘草平補之劑，服五七日，遂得寐，眩止。漸次平調，百日後，食飯畢，必吐飯一二口，並無飽脹惡食之象。彼以為多食之故，遂減飯，而吐如故，用六君子湯不效，用清胃降氣藥，亦不效。因思隨食隨咽即不吐，停食不咽即吐者。蓋不咽，則腎氣不下吸也。《脈經》曰：陰虛陽無所依，故令人多嘔者。此證是也。即遵其治法，用六味地黃湯本方，服四劑，吐即止，飲食如常。已現陰虛證矣，而日服補陰之藥，加入人參，調治年餘，已可出門，應酬如舊。但因三年前陽脫之後，畢竟真陰大傷，遂有微咳，咳之不已，即吐血。因吐血而易醫，盡翻前案，謂多服人參之過。遂絕去人參，專投苦寒，以圖一時見效。虛作實醫，致蹈虛虛之禍，反成真勞病，不半年而歿。</p>
<p>李子立兄，便濁經年，因豪飲而起，初必濕熱，久則成虛，迎余求治。余曰：淋濁須分：淋自膀胱，出於尿竅，或膏或血，與尿並出，出則無餘；濁為敗精，出自精竅內，雖大痛而尿自清，或在尿前，或在尿後，便後尚有餘瀝，馬口常濕，必汙褌襠。以此分別，庶知療法。李兄云，如此則是便濁。及診脈細澀無力，兩尺尤甚，蓋此證便久傷精，愈通愈痛，所以內痛連肛，以及尿管。醫者疑是梅毒，用疳瘡治法，以龍膽瀉肝湯，合八正散，服下痛不可解，腰曲不能伸，皆誤用通利之太過也。余用六味地黃湯，加當歸、麥冬、五味子、車前、菟絲子、人參，十數劑痛止，而濁尚不禁。再以衛生膏早服三錢，煎藥更加黃耆，夜服枸兔丸三錢，兩月餘濁止而病全愈。但尿不能直出，必分岐兩道，覺中略有礙處。予曰初病時，乃因酒濕流注，陰莖內必有小瘡，故阻小便分為兩道也。易以清心蓮子飲，用人參、黃耆、生地黃、當歸、麥冬、黃芩、地骨皮、車前子、澤瀉、甘草、蓮子，十餘劑瘡消，小便遂為一道出矣。</p>
<p>張紫山學博，初夏自真州歸，其夜小便頻頻欲解，又復不多，有二三十次，初不知服何藥。三日後小便略通，即肛門下迫而痛，頻欲大便，而糞又不燥，竟不能坐，惟欹倚而立。診其脈，沉弦細緊舌紫微渴。余以初病小便頻，脈又沉緊，作厥陰中寒處治。用當歸四逆湯本方，四劑不效。先年曾患痔，又令瘍科視之非痔，用補中益氣湯，則痛墜愈甚。詳審其脈，沉細而緊，少陰脈也。腎主二便，閉竅於二陰，頻頻欲便，亦少陰病也。作少陰下利治法，用四逆加人參湯主之。附子三錢，茯苓、乾薑各二錢，人參、甘草一錢，二劑知，四劑減，八劑肛全不墜。又仍如初病時小便頻而痛也，余因悟初由厥陰失治，傳入少陰，得四逆湯出少陰，又復回厥陰矣，重用當歸四逆湯本方，加乾薑、附子，兩陰並治，惟恐過熱傷陰。每日間服烏梅丸六十粒，以通其格拒之邪，七日後則全愈。議以八味地黃丸調理，三四服後，虛火發而停藥，病已痊。一月復如前，小便頻解而作痛，彼以前效之方，自配藥服，愈服愈甚，又求治。則脈細數，兩尺更甚，與前脈不同。余曰：此肝腎虛火，必失精之故。紫兄云：數日前果夢遺驚覺，未泄也。余曰：此肝火證，非前肝冷證，因遺未泄，必有瘀精，用生料地黃湯，去山茱萸，加牛膝、車前子、當歸、赤芍、生甘草，七八劑後，痛止溺通，出敗精而愈。夫均一人也，同一病也，前後治之各別而皆效者，憑脈故也。此憑脈不憑證之治法。</p>
<p>喬世臣大行，少年時傷寒，為醫過餓，又多服苦寒貽患，中寒痰飲，每年必發數次，腹痛嘔吐，痰水盈盆，而前醫猶清餓消克。及余治之，例用乾薑、桂枝、茯苓、半夏，甚則加附子，每發輒效。醫治屢年，發亦漸輕，病已愈矣。而世兄猶恐其夏至舉發，先期預服效劑，乃前姜附苓夏等藥，不虞病退不勝辛熱，遂至吐血，方停前劑。然余亦不敢用苦寒，因其辛熱傷陰，非真陰虛損，暫用生地黃、茯苓、山藥、丹皮、鱉甲、阿膠、麥冬、苡仁甘寒之品。然吐血不過一二口，隨發亦隨止。一年後漸增咳嗽，脅肋隱痛，間有喘咳不能臥者一二次，脈亦細數，將成弱證。常以熟地黃、茯苓、山藥、丹皮、人參、沙參、麥冬、阿膠、紫苑、五味子滋補肺腎之藥，服之下輟。前所服朮附乾薑，一片不能入劑矣。如斯三年，幸善為調護，方得血不吐，而咳亦寧。然後可服參耆歸術補陽之藥，但遇勞發咳，仍用前地黃取效。今年逾強仕，陰陽兩虛，即麥冬、貝母，皆不禁清涼，反用八味地黃丸而咳嗽止。此皆因先之苦寒過餓而傷陽，後之辛熱過劑而傷陰，致體虛多病，用藥可不慎諸。</p>
<p>郭元威學博，壬午年三月猶寒，深夜步歸，平素脾腎陽虛，有痰飲夙病，次日即胸脅大痛，嘔吐痰涎，虛陽上泛，面赤脈大，汗出如水。藥用乾薑、附子、人參、半夏、茯苓、吳萸，時痛時止。如此七八日，忽痛吐紫黑血碗許，則胸脅痛減，下移於腹。前方加當歸、赤芍、官桂，換炮姜以逐下焦之瘀。又數日，大便下黑血，其痛乃止。此中寒痰飲，血因寒畜也。繼以理中丸加桂、苓、半夏，兼用八味地黃丸，加倍桂附。更入胡蘆巴，以宣下焦之氣，水疊為丸。每日仍服理中湯一劑，雖不能如平常之健，亦復起居無病。至癸未年四月初旬，舊病復作，又如前痛吐，手足厥冷，汗多面赤，彼不自以為虛，堅不用參。殊不知痛吐亡陽，胸痛引背，脈疾煩躁，勢將痛脫。急令用人參五錢，生附子三錢，乾薑、茯苓二錢，漸次痛寧得臥。續用熟附子、炮薑、理中、苓夏調治，猶未起床。因夏至將臨，惟恐陽虛陰逼，所以姜附未退。至五月初一，即咳嗽，猶以為寒痰，用桂枝、生薑、苓夏溫肺，而咳愈增。至初六，適值夏至，即大熱大渴，大咳吐血，不能平臥，脈變大數，全現陰虛，反屬陰氣當生不生，而轉陰竭。未敢遽用清滋，先以入味地黃湯試之。猶不勝其熱，再以六味地黃湯加沙參、麥冬、五味子，方合病機。熱遂退，咳漸止。人參減半，未全去也。自夏至秋，皆如此醫治，亦復起居如常。因本質虛寒，立冬後即改服八味地黃丸煎劑，用去附理中湯加半夏、茯苓、人參未輟。至十一月初一，冬至將臨，又現陽氣不生之證，忽霍亂腹痛，吐瀉大作，痛止即下利不禁，嘔呃昏沉，手足厥冷，已治終事。急用四逆湯，加人參五錢，姜附各三錢，日服三劑，三日方回陽。又醫治一年，藥不少間。然過勞必發，寒熱腹痛，嘔吐汗出，熱退即身目俱黃，溺赤，儼如癉證。此陰黃也，全不用茵陳等藥，堅服參朮姜附苓桂。三年之中，瀕危者數次，至甲申年冬月，方能出門，應酬如常。若非任醫之專，服藥之一，何能至此耶。</p>
<p>許滄澄兄，年二十外，久病真州，招余往治。詢病源於前醫，謂秋間患夾陰傷寒，治未痊可，而即停藥，至冬則甚。其時十月上旬，診其脈虛細無神，而舉止無淪，神思疲倦，默默不欲見人，一派陽氣虛弱之證。用歸脾湯加肉桂、益智仁，去木香。告曰：須冬至一陽生，病退方妙。至其時果半愈。後因莊房回祿，悶步於庭，三日不寐，遂病劇矣。次年三月，復招往看。及就診，兩手掩面，不敢見人，窗牖障黑，晝日燃燭，兩手枯白，筋露青紫，兩足筋惕，身肉瞤動，足踏火，手抱火，猶然畏寒，三五日必夢遺一次，雖無夢亦遺，尿管連肛精道澀痛，口渴欲飲，飲必火上沸湯，惟吞一口，旋吐冷涎，日食十餘餐，儼如消證，聞人履聲，便驚汗出。惜費不肯市參，以致危篤至此。又米令兄，見其沉重，托余急救，一日三診，而脈三變。初則虛大無倫，服參朮姜附藥一劑，脈略斂。近夜即細澀無神，蓋脈資始於腎，脈之頻變，腎虛失其常度。渴者，腎虛引水自救也。多餐者，胃陽發露，皆亡陽脫證，非尋常藥之能治。立千言醫案，定議用仲景附子湯治少陰病者。人參三錢，附子三錢，白朮、茯苓各錢半，芍藥、炮姜各一錢，不須加減，以俟陽回。如此堅服一月，而畏人畏亮，筋惕厥冷陽脫諸證皆愈。四月來揚就醫，則脈證與前大不侔矣。脈虛大而尺數，兩足陰囊皆腫，肛右尿莖內痛，微咳多餐，夜反不寐，夢遺雖疏，而未全止，多怒詈罵。此陽甫回而陰旋虛，用金匱腎氣丸，日服三錢，以消其下部之水。用歸脾湯去木香，加菟絲子、龍骨、五味子以固精。用一旬則脈數大，咳嗽胸痛。又用六味地黃湯，去澤瀉，加當歸、人參、麥冬、五味子、菟絲子，相參間服。如此調治五十日，方能步履。回真州，肌肉充於平昔。病有變遷，醫不可執，豈以初治辛熱得效，遂為始終不易者乎。</p>
<p>山西典客宋兄，因多餐肉食，而兼生冷，微有感冒，胸中飽脹，腹痛便秘。此當溫中化滯，而前醫概用山楂、神麯、麥芽、腹皮、枳樸消導之劑。殊不知冷食積中，須溫方化，過用消克，反傷胃陽，而食愈結。醫不知此，消導不放，以大黃下之，惟便糞水。又以丸藥下之，則冷結不通。計二十日，請治於余。脈細緊，手足清冷，胸結而硬，舌紫苔白。幸腎陽不虛，上結於胸，未下結於藏，用蒼朮、半夏、乾薑、附子、白蔻，十劑胸結方開。下注腹痛，加肉桂，日服半硫丸二錢，惟進谷湯，不令清餓。冷秘二十八日，大便微通，初硬後溏，大黃丸得溫方化，洞瀉數次，然後胸腹大開。後以理中湯加苓夏砂仁溫胃，匝月方瘥。</p>
<p>大升典客毛兄，素有眩證，發則昏僕不知人事，一刻即蘇，起則如常，積有年矣，前醫皆作痰治。近因眩跌階石，觸落門牙二個，血流不止，急招診視。牙已落矣，而人事如常。診脈細數，兩尺尤甚。問彼眩時何狀，答以頭一眩，便不能自主，瞬息即蘇。問素有何病，答曰：夢遺三兩日一次。余曰：此虛火也。陰精竭於下，陽火逆於上，龍雷之火，一發即隱。《內經》所謂煎厥也。用生地黃、熟地黃、山萸、山藥、元參、菊花、菟絲子、丹皮、石斛等藥為湯，丸亦如之，日服不輟。經今數年，已不發矣。</p>
<p>貢姓武弁，年二十餘，取耳時為同輩所戲，竟以銅穵刺通耳底，流血不止。延外科治耳，初不以為楚，仍行走街衢如常。旬日間即頭痛，又延內科治之益甚。迎余往治，則頭痛如破，身體僵直，煩躁面赤，脈弦而緊，仰臥於床，口流膿血。余沉思良久，以為此必破傷風也。檢前所服之藥，皆石膏、梔子、芩連，作火頭痛治。病人云：口吐膿血，不是喉出，不知從何而來。予曰：此的系破傷風矣。腦中膿血，流入鼻內竅，而滲於口中，非由咯吐而出也。破腦傷風項強，已屬不治，此幸未柔汗厥冷。用小續命湯重加桂枝、附子、乾薑，去黃芩，一劑微汗，頭痛減半，兩劑頸柔。十數劑後，耳內結癰，腦涎亦不流，但其耳褎然無聞矣。</p>
<p>程士莘兄，朱姓家人，身體壯實，跌傷手臂，皮破出血，專科不過膏貼藥敷而已。不自知謹，混堂洗浴，脫衣傷風，次日便惡寒發熱，頭疼身痛。先醫者作傷風陽證治之，三四日後，大汗嘔吐，僵臥於床，手足拘攣，角弓反張，始招予治。左右脈皆沉弦細緊，口眼抽掣，而跌傷之處，反不知疼。此證初病失於溫經，反行解表，致風寒內入，直傷肝經，破風反張，大汗嘔吐，均屬不治。幸未入少陰而下利耳，遂用桂枝、細辛、芍藥、附子、乾薑、當歸、獨活、天麻、吳萸、甘草重劑，五日汗斂身柔，嘔止能食，而手反不能舉，軟臥於床。桂附大劑，一月方能起而立，若非年少壯實，萬無生理矣。</p>
<p><u>丙戌續案</u></p>
<p>吳瞻大兄，冬月足背生瘡，久潰不斂，一醫者令用刀去頑皮，不無新傷。春日苦寒，跣足就醫，又敷以冷膏，隨即作癢，更乘輿河畔，迎面大風，遂遍身麻癢，面腫唇紫，舌強語澀，儼似中風。先醫未辨何證，雜用風火痰藥，服後嘔噦不止。余至，診脈則弦緊，面赤舌紫，手冷多汗，乃肝經風病，定屬患處刀傷，為風寒所襲，又兼冷膏外敷，證類破傷風，不宜緩縱。急用桂枝、赤芍、獨活、細辛、附子、蒼朮、天麻、半夏、生薑，日投三劑，夜半患足方溫。又二劑，微汗身輕，瘡方知痛。如斯八劑乃愈。若非急治，緩則傳裡，不易醫矣。</p>
<p>王東木孝廉，素有中寒痰飲證，暑月頭痛，醫作火治，投以石膏梔芩而痛甚。自以為劑輕，益加大劑，則頭痛如破，以冷水漬布，覆於巔頂，渴欲冷飲，入口即吐，陰躁臥地，因便請診。脈已六至，細疾無倫，赤身猶謂熱甚，而實身冷多汗。余曰：此陰盛格陽，若不急溫，則一戰而脫。急進大劑四逆湯加吳茱萸、半夏，連投二碗。孫醫後至，亦同前藥，但加人參，少刻寒戰索被，覆以厚棉。幸先投藥，少刻回陽，次日陽躁雖愈，而頭疼不止，至巳午時頭痛，痛即嘔噦不能食，因而廢食者連旬。余以頭風治療，用當歸四逆湯，加附子、生薑、半夏、天麻。恐頭風損目，故用歸芍以滋肝也。京口醫家，猶云誤用辛熱，及彼復投大劑石膏，則痛而厥。又易醫以濕痰處治，用蒼朮、五苓、吳萸、半夏，而痛不止，漸至患目。經云：因於濕，首如裹，而不痛。痰厥頭痛，則不患目。其家以余言不謬，復召余治，易用清肝滋血辛平之劑，頭痛目患漸愈。王兄自檢眼科補肝丸方，以夏枯草、香附、甘草三味為丸，日服不輟，遂頭目兩證全愈。其方雖名補肝，實清肝也。乃知治病宗經，必不至於大謬。</p>

<h1>卷四</h1>

<h2>女病治效</h2>
<p>劉振寰翁令眷，己未年在揚患病，其長郎劉必遠兄，祈簽令彼問治於余，遂至瓜鎮。道其病源，病人年五十外，清癯茹素，初秋因鬱怒，遂胸腹不寬，兩肋脹痛，不食則嘈，食則不能過膈間，或吐出。郡城諸醫，皆以清痰理氣，丁沉香燥，治之愈劇。漸至大便秘結，數日一通，每至黃昏，即後重欲大便，空坐穢桶，不能起立，又無糞下，至五鼓方可登床。如此四十日，百藥不效，困憊不堪，坐桶時能食飲湯稀粥，至登床後，天明即嘔逆不能食矣。余未診脈，以意度之，此肝火也。先因鬱怒傷陰，繼復香燥耗血，致火上逆，則嘔吐，下迫則後重，晝則氣升故吐，夜則氣降故墜。但病久氣血皆虛，須用血藥以滋肝，左金以折肝，參草以補中，定方立論，用當歸、白芍、人參、茯苓、甘草、黃連、吳茱萸、山梔、橘紅，令彼持回試之。如大效，再易方。服二劑，即不吐，四劑即出下氣，不坐穢桶，夜可就枕。再索藥，即照前方，服至二十劑，即霍然起矣。余初有移居郡城之意，未果，因彼再三諄請，遷意遂決。</p>
<p>吳言修封翁夫人，年近六十，素有痰飲證，發則脅肋大痛，嘔吐屢日，痰盡則痛吐自止。乙亥首春，痛吐已六日，前醫以宣氣利痰為主，用旋覆代赭石湯，加吳茱萸、乾薑，藥皆不納。第七日招余，左右手六脈皆伏，推筋著骨皆無，水飲不能下咽，似屬逆證，而聲高音朗，坐起如常，無厥逆汗出等證。此吐甚傷氣，致脈全伏，當以溫里為急。用乾薑、附子、人參、半夏、茯苓各錢半，吳茱萸五分，一劑即下咽不吐，再劑相安得寐，四劑痛止。但脈不出，續進米湯，三日後脈出如絲，大進粥食，脈始全見。嗣後每痛吐，脈必伏，用前藥即效。痛吐止後數日，方能服白朮理中等湯，而甘草竟不能入劑，用則必嘔。至壬午年四月，痛吐數日不止，因年增氣弱，即痛引肩背，欲食冷物，畏亮陰躁，以幔蔽窗，有虛陽上越，痛吐亡陽之機。余每劑用人參四錢，附子三錢，姜夏、茯苓各二錢。而病者堅不服參，不得已，暗加人參。大劑溫補，三日方陽回躁定，去蔽窗之幔，不畏亮光。嗣後常服半硫丸，則飯食多餐，而姜附之劑，居恆不能久輟。人之藏府虛寒，此固世不多見者也。</p>
<p>孫思睿翁令眷，壬戌年懷孕喪子，悲泣過傷，因而咳嗽，自秋至冬，漸至喘不能臥，兩足水腫，腹胎六月。諸醫治咳分利罔效，最後招予。水勢泛溢，腹大如鼓，其面反瘦，脈細如絲，兩尺全無，此腎水也。孕婦患水，其胎必傷，況兩尺脈全無，胎已息矣。宜急治其水，以全孕婦，惟金匱腎氣湯可救，遂以本方加人參一錢，附子、肉桂各一錢。如此半月，水忽大下，盡濕被褥，流溢床下，而腐胎隨墮，其時氣脫昏厥。令急服參附湯，而穩婆諸婦，爭論不肯煎，蓋以揚俗產後，禁用人參故也。幸思翁自主，推諸婦出房，用大銚自煎頻灌。半日半夜，通服人參六兩，附子兩餘。夜半回蘇，而余咳余水未盡，仍用金匱腎氣湯一月，始水盡咳止。</p>
<p>殷凌霄兄令眷，年近年十，體肥便血，先醫皆用芩連涼血寒中之劑，將兩月而未痊。仲秋忽遍身發麻，合目更甚，因不敢合目，遂不寐者半月矣。諸醫作風痰治療，用星夏天麻秦艽，病益甚。請余求治，病人畏怖，許以重酬。診其脈虛大而濡，便血猶未止，胃弱不能食，面上時有火起，此氣隨血下而虛也。蓋衛氣行陽則寤，行陰則寐，臥則衛氣行於陰，氣虛行於陰，遂不能周於陽，故合目則身麻也。正合東垣補氣升陽和中湯證，即用補中益氣湯，加蒼朮、黃柏、乾薑、麥冬、芍藥各五分，二劑病知，四劑病減，十劑血止病痊。予再往診，病者託故他出，以避藥矣。夫對證合方，其應如響，於此可見。</p>
<p>陳聖年令眷，年近三十，夏月大勞之後，傷風發熱，汗出不止。初醫作陰寒，用參附理中湯，汗雖止而增煩熱作渴。易醫作傷寒熱病，用柴芩白虎不效，議投承氣湯下之，取決於余。診其脈，虛大如綿而不數，煩躁不得臥者，已六日矣。視予曰：先生何著紅衣耶？望其色，面赤如妝，舌苔灰黑而滑，以脈合證，乃虛陽外越也。用湯試之，喜熱飲，飲止一口，則非大渴可知。蓋此證本於勞倦內傷，而兼風暑，所以多汗發熱。初醫者因汗多誤用姜附，以致煩渴。繼醫者不辨虛實，翻用苦寒，虛作實醫，逼陽外越，儼如熱病，正合東垣當歸補血湯證也。證似白虎，但脈不弦長為異耳，誤服白虎必死。今誤服不死，幸也，豈堪復投承氣乎。余用黃耆五錢，當歸三錢，麥冬一錢，五味子五分，服後得寐片刻。再劑熟寐時許，醒則熱退面黃脈斂。次日往診，惟舌黑不改，蓋前姜附之餘也。用前藥減黃耆一半，加人參、茯苓、甘草二劑，舌苔黑退，變微黃色，遂思飲食。如此平補半月而愈。</p>
<p>程若思守戎令眷，年二十外，腹痛作瀉已久，漸增口舌生瘡，因瘡痛不能食熱物，益致痛瀉不止。前醫謂痛瀉宜溫，口瘡宜涼，用藥牽制，辭不治。決之於余。診其脈，兩關虛大無力，食物便嘔，嘔止即腹痛，痛則下瀉，而滿口之瘡，白如米粒。余曰：此脾虛寒也。蓋脾土虛則腎水乘之，逼心火上逆，致口舌生瘡，乃上焦假熱，實中焦真寒。惟治其寒，不惑其熱，宜用附子理中湯冷飲，使暗度上焦之假熱。而冷體既消，熱性隨發，脾土得溫而實，則腎水不上乘心，心火不逆，口瘡不治而自愈，此五行相乘之道也。遂以附子理中湯加茯苓，令其冷飲，病人不知有姜附也。服四劑，口瘡果不痛，再求治痛瀉。予曰：但藥熱飲，則痛瀉自止。溫補一月，痛瀉方愈。後十餘年，懷孕病痢，亦用桂附乾薑而愈，胎竟不墮。人之藏府各異，不可以一例論也。</p>
<p>休邑汪介臣，流寓瓜鎮，孫媳素有腳氣證，余不知也。產後彌月，腳指微痛，繼又乳痛。前醫者不知用何藥，腳乳皆不痛，漸次發熱耳聾，言語謬妄，或歌或笑。又一醫作陽明病，用大黃下之，下後愈甚。十日後求治於余，兩手脈沉細欲脫，耳聾神昏，唇焦舌黃，身微熱，口苦幹嘔，身痛僵臥，不能轉側，夜則呢喃譫語不休，至辰刻乃止。邪之錯雜，不辨何證。但足三陽經皆病，身痛僵臥太陽也，夜譫語陽明也，耳聾乾嘔少陽也，又非傷寒三陽合病下利之證。先以三陽經藥投之，觀其應否。用紫蘇、葛根、柴胡為君，二陳為使，日投四劑，通身微汗，遂能認人。自言腰腿痛甚，余方識其為腳氣也。蓋前醫初誤致腳氣衝心，再誤下致脈細欲絕。幸人壯實，兩誤而邪尚在三陽，未入於陰，猶得汗解，始能神清。即以前藥加蒼朮、防己、獨活、赤芍、當歸，作腳氣主治，痛漸下注於足指，半月方愈。若入三陰腳氣衝心，即喘汗厥逆，不可治矣。</p>
<p>俞子浩兄令眷，年近四十，艱嗣多郁，頸傍結一核，數年矣。後因喪子，其核漸大，內逼咽喉，妨礙飲食，有似外科失榮證。瘍科作癭瘤治，愈大愈堅，漸加發熱咳嗽，竟似失榮證矣。用逍遙散治之不效，又仿《外科正宗》，用益氣養榮湯，內有參耆。甫二劑，便喘不能臥，由是醫藥雜投，有用葶藶瀉肺者，有用蘇子降氣者，漸致汗出泄瀉，陽氣下脫，六七日喘猶不止，已備終事，復商於余。診脈細數，余沉思良久，其先結核，乃肝木部位，郁久化火，此火結之核，尚非失榮，誤用黃耆，助其肝火，火灼肺金，因而大喘。先無他病，雖然喘久，斷非氣脫，蓋乙癸同源，腎肝同治，補腎滋肝，引氣下歸。用六味地黃湯，加歸、芍、麥冬、五味子、牛膝，服四劑喘定，二十劑能平臥。後用六味地黃丸，加沙參、元參、貝母、歸、芍丸藥三斤，並結核亦全消矣。</p>
<p>吳侶張僉憲尊閫，素有飲證，頻發嘔吐，醫者用生半夏、生附子，以生薑汁入藥調服。如斯一月有餘，計食生薑二十斤，意圖除飲之根，不無用藥過激，遂致耗氣亡陽，七日夜不能閤眼而寐，招余往診。脈浮細如羹上之浮脂，指點便散，自知周身之氣，行於皮內，淅淅有聲，行至巔頂雙目前，如眼鏡兩圓光盪漾，即遍身汗出，昏眩不知身在何處。余曰：此真陽外越，不急救之，瞬息便脫。用仲景之附子湯，人參、白朮、茯苓、附子、赤芍各二錢，服後得合目昏睡片刻，醒時兩圓光即收。本日又進一劑，夜則熟寐達旦。如此六七日，人事方清爽。痰食是其本病，嗣後以前藥去芍藥，加半夏、甘草，畏生薑不用，醫治兩月，方能出戶而立。緣生薑辛能散氣，多食幾至亡陽，此過劑用奇之患也。即以前藥為丸，十年不發矣。</p>
<p>李三升文學尊堂，年七旬外，春末胃中大痛，嘔吐紫血碗許，而痛吐猶不止，脈細數而弦，兩脅肋脹痛，胃中硬滿，因怒未伸而致病。經云：怒則氣逆，血鬱於上。此證是也。用歸、芍、鬱金、黃連、制吳萸、丹皮、黑山梔，以滋抑肝氣之逆，少加沉香，以為嚮導。連服五七日，痛雖止，而胸阻塞不開。易醫謂高年胃冷，用辛溫宣氣之品，即大便秘結不通，食飲難下，脈變細澀不堪。予議高年血液枯衰，火結於上，恐成膈噎，辛燥不宜。而病人亦惡藥，遂以蘆根、甘蔗、梨、藕、萊菔各取汁煎膏，用人乳、竹瀝調化，頻頻咽之。半月胸結始開，能吞稀粥。竟不服藥，惟食汁膏，尚延數載。</p>
<p>程錫蕃兄令眷，夏月酷暑，夜忽畏寒索被，即氣塞喉中梗噎，無奈坐起，大吐紫血條並血水，約半盆。深夜請附近醫家，誤認陰虛，用涼血藕節等藥。次日往視，脈沉而緊，手足清冷，胸腹脹大。此因暑月貪涼食冷，本質虛弱，氣被暑傷，中宮益冷，不能健運，蓄血暴吐，乃經之陽絡結，則血上溢之病。急宜溫里，若作陰虛，指日便成蠱證。用桂枝、赤芍、生薑以溫經，用蒼朮、茯苓、炮薑、砂仁、甘草、半夏以溫里。如斯八劑，身得大汗，腹中腸鳴，溏瀉數次，腫脹方消。後以六君子合理中香砂，調治而愈。</p>
<p>蕭我容翁令眷，年近四十，戊辰夏月，胸脅脹滿，吐血涎血片，兩三日一發，飲食衰少，而經水時或大行不止，有似崩漏。初真州時道，皆以涼血滋陰為主，以致脾胃益虛，竟不能食，來揚就醫。脈之細濡不任尋按，有時忽大。此思慮傷心，脾血不歸經，非真陰虛損。丹溪云：胃虛則血出上竅，脾虛不裹血，則血下崩。此非血熱妄行之證，用人參、白朮、茯苓、炮黑、姜香附，溫補中宮。用當歸、白芍、棗仁、丹皮，以和營血。重用人參，服一月，吐血先止，下血暫少。後脾胃得溫而脹減，再加黃耆、元眼肉，合歸脾湯以收功。</p>
<p>張其相兄未出室令愛，首春咳嗽，乃恣食生冷，肺受寒邪，所謂形寒飲冷則傷肺也。前醫初作傷風，以蘇前解表。殊不知邪不在表，而直傷肺，不知溫肺，致寒不解，咳甚吐血。前醫見血，遂改用歸、芍、丹皮、蘇子、杏仁、貝母，以清滋肺熱。服二劑，遂發寒戰慄，手足厥冷，身痛腰疼，咳吐冷水，脈沉細緊，表裡皆寒，正合小青龍加附子證。用麻黃、桂枝、細辛、赤芍、乾薑、附子、半夏、茯苓、杏仁、甘草，二劑手足回溫，四劑通身冷汗大出，咳止大半。再去麻黃、附子，二劑全愈。若泥吐血陰虛，遲疑其間，安得有此速效耶。</p>
<p>周旦友令眷，年近三十。兩年前產，值隆冬，又因氣鬱，少腹之旁，結有彈大一丸作痛，初亦甚微，後漸痛甚，上衝心脅，嘔吐不食，必待其痛吐氣衰，一二日方止。醫治兩年，作氣積血積寒氣，攻劫皆不效。人漸消瘦，經水數月不至，家居於鄉，上城就醫。其脈弦而緊，詢其病狀，答以不發時間或寒熱似瘧，脅肋常脹，發則少腹之彈丸即長大如王瓜，痛衝於心，嘔吐不能食，衰則仍歸於少腹。此產後衝任脈虛，寒氣內襲，積瘀凝結，為婦人之疝瘕。此厥陰肝病，故自下而厥於上也。用肉桂、附子、當歸、赤芍、柴胡、川楝子、烏藥、小茴香數十劑，發日漸疏，而痛亦減輕。續以東垣酒煮當歸丸服半年，經水始通，痛亦不發。但少腹之彈丸，終不能消，而亦不孕，數年後變蠱病而殞。蓋此證攻劫所傷，經水斷絕，正氣衰微，邪終不散，故壽亦不永也。</p>
<p>吳飲玉兄令眷，未出室時，左肋下素有氣積，時時舉發而痛，在家皆用逍遙散治之罔效。嫁後懷孕三月，此積竟衝心而痛，痛甚昏厥，手足逆冷，口出冷氣，脈沉弦而緊。此肝經積冷，結為沖疝，非桂附莫效。又屬世醫之女，且懷有孕，舉世皆禁桂附，予何敢用焉？其太翁言修先生曰：大人要緊，胎且置之。遂投以當歸四逆湯，桂枝、附子、當歸、芍藥、炮薑、吳萸、甘草、茯苓，服下即應手取效。每食生冷必發，發則必須前劑，懷孕在腹，屢發屢醫，而胎竟不傷。今所生之郎，已十有餘歲矣。後以東垣酒煮當歸丸，服三年未斷，其沖疝不發，並形俱消，屢屢生育。經曰：有故無殞。先聖之言，豈欺人哉。</p>
<p>徐從甫令愛，年近四十，暑月病瘧，治失其宜，瘧雖止而遺病不痊，自毗陵來就醫。脈細澀無神，脾胃敗傷，嘔酸腹脹，面目浮腫，發熱自汗，不思飲食，形骸骨立，經絕不行，已半年矣。檢毗陵藥方，皆乾薑、丁、沉、吳萸、半夏、陳皮、厚朴疏削等藥。瘧後氣血交虛，何能當此燥劑，致增諸證。余用人參六君子湯，加當歸芍藥砂仁，平補以調氣血。一月有餘，病減半能食，熱退而汗全止。次年春間，值彼誕辰，大勞數日，前證復作，更多咳嗽喉痛，口舌生瘡，夜出盜汗，儼似陰虛勞病，擬治後事。予曰：脈不細數，雖經不至，真陰未傷，猶可治也。不過因勞而復，仍屬脾虛。《中藏經》曰：脾虛則上下不寧，謂咳嗽發熱也。此為假火，不可以水折，反用人參、白朮、茯苓、炮薑、麥冬、五味、甘草，合理中生脈湯。服二劑，口瘡愈，再二劑，喉痛止。去炮姜，加歸、芍，十數劑熱汗咳嗽全退。後以白朮煎膏，人參湯化下，專主補脾，百日而康，經亦續行。</p>
<p>教門阮漢章室女，年十七歲，素脾虛作瀉，因喪弟悲慟，即經閉半年，腹中有形而痛，發熱咳嗽，腹脹作瀉，虛勞證全。《內經》云：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，為息奔者，死不治。此證幸其脈細緩，不澀不數，真陰未傷，尚屬脾虛，猶為可治，然非百劑，斷不能取效。市井之醫，欲攻積通經，予止之曰：血之源本於心脾，今心脾俱病，血源不生，雖通無益，徒傷陰也。遂用白朮、茯苓、甘草、丹參、土炒當歸、鱉甲、沙參、香附、陳皮等藥，果熱漸退，咳瀉皆止，但腹脹未減，經閉未通，腹有結塊。此必積瘀，用古方萬應丸，以生乾漆炒去黃煙為末，用地黃、牛膝熬膏為丸，日服三十丸，米湯清晨吞下。將一月，經水即通，下紫黑血塊，漸次腹消。仍以前藥調治而愈。若不先治其本，妄行攻堅，鮮有不敗者也。</p>
<p>程其相兄令眷，咳嗽二旬，先醫作傷風治不效。又醫作肺寒，以桂枝、乾薑、細辛治之益甚，又一醫作痰火治頗安。最後延余，診其脈三部皆澀。不浮弦，非風也；不細緊，非寒也；不滑數，非火也。每日寒熱汗出，鼻有清涕，咳嗽不能臥，右身不能著席，痰涎甚多，又非虛損。初診未得病情，即前醫痰火頗安之藥，姑以應之。及出門後，追思其證，應屬肺癰，令人取回前藥。問所吐痰涎，氣味腥甜否，彼令侄追至黃師古兄宅中，答以腥甜。余曰：幾誤矣，此肺癰將潰也。易用苡仁、貝母、甘、桔、桑、杏、麥冬、白芨、銀花、防風，服後臭膿大出，間吐鮮血，脈方現數。蓋因前癰未潰，肺脹大，脈反澀而不出，故不數也。病人素陰虛，臭膿去後，便有發熱盜汗等證，易用熟地黃、山藥、茯苓、丹皮、紫苑，兼補腎陰。時當酷暑，少加人參、五味、合歡皮，以救肺金。迨秋氣清涼，方獲口完咳止。隔年因多食椒姜，其癰復潰，亦如前法治之而愈。</p>
<p>式武族侄令眷徐氏，年將三十，平素嗜煙，因內熱復恣食生冷，性又畏熱。夏初傷風，未經發散，肺藏寒熱素傷，外風未散，鬱而為肺癰。初不知服何藥，癰已成，始迎診視，則咳喘不能臥，寒熱互作，項強不能轉側，脈浮大而數，此肺癰將潰矣。告曰：肺上生疽。彼尚不信，用苡仁、貝母、甘、桔、葶藶、防風、桑、杏、栝蔞等藥，服三四日，大膿一出，皆粉紅淡血，及黃色稠膿，但腥不臭耳。他醫謂非肺癰，果癰則隔幔猶臭，今不臭，非癰也。不知此癰因風因冷而傷肺，非火熱刑金之證，乃肺疽，故不臭也。醫治十餘日，膿盡腫消，不甚咳嗽，彼以為脫然而愈矣，遂畏熱露臥檐階，夜受風涼，次日大熱大喘，猶秘不言。至第三日手足抽搐，頭痛如破，汗出不止，周身痛極，頸項後仰，角弓反張，昏厥下利。詢之再三，始言其故。余然後知為破傷風也。外患瘡瘍，破傷風寒，角弓反張，尚為不治，今內癰傷風，則更難治矣。已備棺衾，求余格外治之。遂以桂枝、細辛、赤芍、附子、炮薑、茯苓、甘桔，先治風寒，仿小青龍治法。如此藥不易方，服七日，身方柔軟，汗瀉稍寧，略有生機。忽又發喘，不能平臥，腹脹如鼓，兩足腫硬又成水蠱，此平素飲冷之故。遂朝服金匱腎氣湯一劑，桂附各一錢，以治水，午用人參、白朮、炮薑、茯苓、苡仁、五味子、甘桔，補中保肺。蓋病者中寒，麥冬貝母清潤之藥，一片不能入劑。倘誤用之，則瀉不止故也。腫消喘定之後，腎氣湯易為丸，參朮煎藥，計服百劑，然後癰完咳止。嗣後不能斷煙食，冷咳腫病，每年必發，皆以溫肺溫胃而愈。此肺癰變證，治病必須圓活，因病制方，不宜固執也。</p>
<p>真州張右山兄令眷，久便血不止，以病狀來郡，問治於余。詢前治法，先用歸地涼血不效，繼用補中益氣不效，又用歸脾湯，重用人參，亦不效。困憊在床，求藥治療。證經三治法罔效，豈非陰結乎。經曰：陰絡結則血下溢。余用桂枝、赤芍、生薑、大棗，和營而開絡，人參、白朮、茯苓、炮薑、甘草，補脾以助其健運之常，當歸、棗仁引血歸肝。姑以此試之，不意竟屬斯證，三次來郡取藥，半月而血全止。續後咳嗽氣促，乘船來郡就診，脈細緊，兩尺猶甚，咳而兼喘，頸脈大動。予曰：便血既久，氣隨血脫，肺脾腎三經皆虛，將成水腫，惟有金匱腎氣，湯丸並進，加人參於湯藥，堅心久服，方得取效。病者乃同道李仲易兄之姊，仲易兄醫理精通，不以予言為謬，堅服百劑而愈。</p>
<p>李懷白兄令眷，程休如先生之令愛也。懷孕六月而便血者，三月矣，群醫治不效，請余治之。診其脈，濡溺如綿，視其爪甲，全無血色，兩足虛腫。問其食，每餐一盂，食後即腹痛瀉去，方不脹滿。問其藥，則四物湯加地榆、秦艽、蒲黃、香附、陳皮而已。余曰：脈證如斯，脾土大傷，不急補脾，何以大產，用白朮、茯苓、炮薑、砂仁、甘草補脾為君，桂枝、當歸、赤芍、艾葉溫經為臣，薑棗和胃為佐。如此四劑，三月不止之便血，一朝而止矣。繼以此藥，不加減者兩月，至次年大產一男，皆吉。產後半年，又復便血，習以為常，一月不藥，因勞昏僕，此乃復病，遂臥於床，用參數兩，服前藥彌月方愈。反不似懷孕之時，真陰在腹而易效也。嗣後遇怒，便血常發。</p>
<p>卞宅內眷屈氏，五年前便血，因醫過用黃連烏梅苦寒涼藥，血去肝虛，苦寒傷肝。肝主筋，遂手足拘攣，項背強痛，兩脅結塊，手不能曲於後，足不能履於地，坐臥於床者四年，飲食衰少，形骸骨立。幸經水猶通，天真未絕耳。因往屈宅，便令診之。脈弦細緊。答以肝經虛冷，須服溫經熱藥。用桂枝、細辛、當歸、赤芍、半夏、茯苓、附子、吳萸、甘草立方，令其自制藥服。彼畏藥辛熱，反多謗議，棄置不用。一年後又往屈宅，別診他病，再請診之，病益甚，予曰：仍是前方，如放心百劑，或效，然不可必也。因諸醫遍治不效，不得已，以余方自制，姑試服之。十數劑頗安，兩手和柔。來又求診，更加乾薑。往診十餘次，皆前藥加減，或官桂，或桂校、附子，每劑錢半，姜亦如之。惟立藥方，彼自制藥，堅服半年，手即能舉，足亦可步，脅塊皆消，周身筋舒，竟為全人。屈宅本籍關東，崇敬時道，因不相信，故不用藥，惟立方也。</p>
<p>李子立兄令眷，年三十外，頻次半產，產後未及滿月，便乘涼食瓜果，中秋夜乘涼，外感風寒，即咳嗽惡寒，嘔吐痰水，又當經水大行之後，前醫不辨外感風寒，猶用調經養血補劑，見咳嗽益甚。又疑去血過多，陰虛咳嗽，再用麥冬、貝母，以致表邪不解，里冷益深。惡寒發熱，汗出咳喘，坐不能臥，吐不能食，腹脹作瀉，遍身麻木，筋骨冷疼。自疑必死，促備終事。急迎救療，脈浮細而緊，余曰：風寒積冷，表裡皆邪，須重劑方解，無足慮也。以小青龍湯加減，用桂枝、細辛、防風、赤芍、附子、乾薑、半夏、茯苓、杏仁、厚朴。二劑得冷汗一身，遂喘定得平臥。如斯八劑，表邪解後，咳喘身痛甫退，旋即里冷發作，腹痛下痢白膿。轉用附子、乾薑、肉桂，合胃苓湯八劑，冷積消。胃氣本厚，故易效也。</p>
<p>邵子易兄令眷，年四十外，形盛多痰，素有頭風嘔吐之病，每發一二日即愈，畏藥不醫，習以為常。二月間感寒頭痛嘔吐，視為舊疾，因循一月，並不服藥，漸致周身浮腫，咳喘不能臥，嘔吐不能食，已五日矣，方請醫治。切脈至骨，微細如絲，似有如無。外證則頭疼身痛，項強膚腫，足冷過膝，咳喘不能臥，滴水不能下咽，沉寒痼冷，證皆危篤，必須小青龍湯，方能解表裡之寒水。但苦藥不能下咽，先以半硫丸一錢，通其膈上之寒痰。繼以麻黃、桂枝、細辛、附子、乾薑、半夏、茯苓、吳萸，煎劑與服。初劑尚吐出不存，又進半硫丸一錢。次劑方納，如斯三日，雖小有汗，足微溫，而脈不起，全不能臥，寒水之勢不退。余辭之，令其另請高明。有一浙醫視為濕熱，用木通、燈草、腹皮為君，幸病家粗知藥性，不令與嘗，專任於余。改用生附子，十劑至四五日，通身得汗，喘咳始寧，方得平臥，頻頻小便。而下體水清，非此大劑，何能化此堅冰？後用理中桂苓加人參，匝月方健。詢彼家僕人，乃平素貪涼冷所致。若此證屬脾腎虛寒，則不可治矣。</p>
<p>洪育滄兄令眷，于歸未久，正月上旬，胃中大痛，前醫用蒼樸炮姜香附不效，至夜痛厥。次日迎診，六脈沉緊而滑，昏臥於床，不知人事，手足微溫，身體軟重。告曰：寒痰滿中，非辛熱不醒。時孫醫先用附子，不敢服，余用附子、乾薑、半夏、茯苓、白蔻、陳皮一劑，服後半夜方醒，自言為人釋放回也。次日再診，諄言人雖醒，而脈未回，寒邪猶在，仍須前藥，勿巧虧一簣也。而洪宅素畏熱藥，棄置不用，以他醫參、朮、炮薑、半夏平和之藥為穩妥。殊不知邪未退而溫補，反致助邪。醫將一月，終日嘔噦不息，飲食不餐。至二月初三，噦變為呃，其音似吠，越鄰出戶，連聲不息，口張不能合，四肢厥冷，揚手擲足，欲裂衣袂，目珠上視，其勢危篤，從未經見者也。京口名家，見病愈重，而藥愈平，但用丁、沉、柿蒂、烏藥、橘紅、半夏應世之藥而已。急復求治，余曰：脈細疾無倫，幾於不見，若不以大溫之藥，疾驅其寒，亥子之交，必致陽脫。遂用生附子、生乾薑、半夏各三錢，吳茱萸一錢。一劑氣平，二劑手足回溫，其夜計服四劑，吠聲方止，仍如前呃。次日仍用前方，但換熟附子，加茯苓、橘紅，每日仍服半硫丸三十顆。一月後，加白朮合理中、六君。共計服藥百劑，方能食飯不呃，經水始通，漸次調治而愈。此證可為病家醫家，惟求平妥，釀病不醫之鑑。</p>
<p>蕭俎玉兄令眷，年近三十，病頭眩嘔吐，飲食減少，經水不調，積年已久，因其大便秘結。真州時道，皆作血虛肝火，而以歸、芍、丹皮、生地黃、麥冬、貝母治之，病益甚。甲申冬，自海陵回真州，舟中招診。脈細緊而滑，畏寒抱火，手足麻木，十數日一發，飲食不餐，胸口一脹，即頭眩嘔吐，吐去痰水稍愈，隔十數日又發，遇行經而血甚少，亦不如期。以脈證相參，此氣病，非血病，乃脾胃虛寒痰飲證也，所以脈緊而滑。若血病則澀矣，滋陰養血，適足益病。夫大便秘結者，津液上吐，無以潤腸，乃冷秘虛秘，非燥秘也。遂用人參、白朮、茯苓、半夏、炮薑、天麻、香附、生薑，以東垣白朮半夏天麻湯為主，專用氣藥，以溫胃陽，全不雜一味血藥，恐助陰也。立方回真州，令其常服，兩月後蕭兄持煎藥方來，求立丸方，謂藥已中病，病愈大半。今大便反溏，非若從前之秘結，觀此則非血虛燥結明矣。凡人稟氣血之軀，患病不偏於氣，即偏於血，不辨氣血之偏，何能求效耶。</p>
<p>曹啟心兄如君，生育多胎，體質虛弱，有腦寒鼻塞流涕之證，懷孕七月。先咳嗽，前醫不諳，以流涕為傷風，誤用發散，因虛愈咳，咳甚則吐食。又以為胃寒，用六君子湯加炮姜，服之愈甚。繼招余治，脈弦數六至，胎脈固當數，然不滑數而弦數。此必陰血大虧也。啟兄云：平素胃寒，麥冬、貝母，入口便吐瀉奈何，予曰：治病必以脈為準，今脈弦數，定屬陰虛，滋陰不可，補陰獨不可乎？此因咳而吐，非不咳而吐也，但治其咳，自不吐矣。《脈經》曰：陰虛陽無所依。令人多嘔者此也，豈陰虛獨無嘔病乎。定以熟地黃為君，山萸、茯苓、山藥、石斛、苡仁、沙參為臣，枇杷葉為佐。四劑知，十劑咳嗽全止。而產一男，產後再以當歸、川芎、桂枝、辛夷、炮薑、黃耆溫補之劑，以醫鼻矣。</p>
<p>瓜鎮胡宅之內眷，隔幕診脈，兩尺弦數，左關單絃，獨異他部，默不言病，似欲考醫者。余因脈言病，謂兩尺弦數，定為下部之痛，數則為熱，必有血證，但不知為何病。彼家然後直告，謂一月前小便淋秘而痛，因其夫常宿青樓，疑為梅毒。瘍醫以斑蟊毒劑下之，致血大下而痛愈甚。經數醫雜治，而病不減。非敢試醫，因褻病不能直陳耳。余遂以脈辨證，弦者肝病，數者火證，少腹乃肝部，婦人肝經，內絡廷孔。廷孔者，溺孔之端也。鬱怒生肝火，火循經而結於廷孔，所以初病小便淋秘而痛，誤行攻劫，以致益甚。因屬隱疾，不便明言。以逍遙散去白朮，加生地黃、炒山梔、龍膽草、木通，連進二劑。次日痛減，因復再招，遂以陰瘡證書封問其夫，合病則治，否則當別延醫也。其夫云的是此病，即以前方服十餘劑，痛止。減去膽草、木通，加丹皮、白朮、香附，十數劑而愈。</p>
<p>又一婦人，中年心事鬱怒，血崩已久，因血虛而肝火益甚，流於下焦，內結陰瘡，少腹有塊，按之則痛，大小二便，常時下迫，痛甚下膿血如帶，則痛稍減，隔十日半月，又痛又下。此屬虛邪，雖用滋肝涼血之藥，治之不效，血液日耗，漸變虛勞寒熱咳嗽痛楚而殞。</p>
<p>程毓松兄令眷，年近三十，素貪涼食，冷寒注下部，致成寒濕腳氣，夏觸風涼，其疾即發。腳氣之惡，從未經見，往歲輕舉他醫所治。壬午年夏月，腳氣上衝，頭疼身痛，嘔吐不納藥，陰躁不能臥，令人扶挽而走，徹夜達旦，如犯之狀，脈細疾而硬。煎劑不能咽，此陰甚格陽，格拒不入，作伏暑夾陰治法。先以來復丹碾碎，湯調服下，以通其格拒，服後方能納藥。再用六物附子湯，以治陰寒腳氣，附子、乾薑、肉桂、防己、蒼朮、茯苓、半夏，驅逐逆上之陰寒。四五劑後，腳氣方下歸於兩足，而煩躁嘔逆漸除，能進米飲。七八日足始熱而痛愈。</p>
<p>同道周兄令媳，值阿翁作古之後，懷孕三月，患腳氣，兩足腫痛，用藥敷之，已不合治法。母家見痛甚，又用炒熱麥麩，頻熨不息，腳果不痛。而申酉時即跳躍如狂，譫言亂走，天明至日中皆安。如是三日，不識何病，因以相招。脈弦長而數，余告曰：此腳氣衝心，故語言謬妄。幸兩寸脈未變，脈長而數，尚在陽明。此因火迫上逆，須用肉桂，引其下行，使腳仍痛方妙。彼因有孕，不肯用桂。余諭之曰：狂跳不息，胎亦不安，去病即所以安胎。經曰：有故無殞。用桂無害也。竟用肉桂五分，余皆三陽經治腳氣藥，二劑即兩足復痛，人事清楚，不狂妄矣。後彼家自治而愈。</p>
<p>吳中璧兄令愛，年將及笄，出痧後半月，惟口甜喜唾，不思飲食，胃中隱隱微痛，脈虛軟而遲。幼科以口甜為胃火，作餘熱治之。此常理也。但脈不長不數，口不渴而反喜唾，必以前過用膏芩，熱雖解而中寒生，致有此證，且口甜者，脾虛之真味也。胃陽發露，無實熱脈證，反屬虛寒，當變法治之。用六君子湯加炮薑、益智仁，二劑知，四劑即口不甜而能食。大凡痧痘真陽未破之童身，苦寒可以恣用，出幼男子，經通女子，及已婚娶破陽，痧痘當用膏連十分者，寧用七分，以防中寒。曾治一婦人，產後未滿月出痧，幼科尚未用涼藥，痧回七八日，卒然腹痛厥逆嘔吐，六脈全無，竟用四逆湯加人參、肉桂，數劑方痛止脈出。又見一幼男子出痘後，未得溫補，卒然腹痛厥冷汗出，未終日而殞。</p>
<p>汪彥玉兄令侄女，年十三歲，夏月喜食瓜果，仲秋患心內怔忡作嘔。幼科作氣虛治，用參朮不效。又易醫誤認為大虛，用歸脾湯，本家恐其過補未服。至夜嘔吐，即昏厥，手足逆冷，不知人事。用生薑湯灌下，數刻方蘇。次日迎診，六脈沉弦而緊，身疼頭眩，手足冷麻，胸前嘈雜。余曰：沉弦主飲，緊則為寒，此外感風寒，內停冷飲，表裡寒邪未解，脈沉怔忡，皆痰飲證，非虛也。用桂枝、蒼朮、半夏、茯苓、炮薑、白蔻、陳皮，數劑嘔止，轉發呃。更加附子，則每日吐冷痰水碗許，呃乃止，怔忡亦愈。仍用前劑，則夜夜微汗，身發癮疹作癢，身痛方除。此風邪化熱而外解也，繼用理中、桂枝、二陳，醫治月餘，裡寒退盡，能食不嘔而痊。</p>
<p>喬俊升光祿令愛，年七歲，二月苦冷，右脅忽大痛，呻吟不絕，手不可近，脈沉弦而緊，手足厥冷。幼科不知何病，囑余治之。予曰：半月前曾嘔吐長蟲，不能飲食，用烏梅丸吐止，今又脅痛，合而論之，厥陽寒證也。當溫里為急，用桂枝、赤芍、細辛、乾薑、半夏、吳茱萸、茯苓，日進二劑。右痛移於左，而下連於肋，此少陰部位也。遂加附子，又二劑，則夜發熱，咳嗽喘促，鼻煽，下利黃水。余沉思良久，其吐蟲時便爾受寒，未經解表，今見諸病，皆屬小青龍湯證，乃寒水沖逆於上下，當以汗解。但病因循日久，必兼溫里，用桂枝、細辛、麻黃、赤苓、半夏、附子、乾薑、五味子、甘草、生薑，日服二劑，得汗而熱退喘定。再二劑又汗而瀉止，脅肋之痛，移於少腹。始去麻黃、細辛、桂枝，換肉桂以溫里，其痛方除，每日微汗。八日後咳嗽始寧，十日後以理中湯合桂枝湯，溫經調治而愈。觀此足徵幼兒傷寒，當與大人同治。世俗皆謂小兒純陽，不宜溫熱，豈小兒竟無三陰病耶。</p>
<p><u>丙戌續案</u></p>
<p>吳楚佩國學令政，年五十八歲，十數年前病寒，誤用涼藥，幾至危殆，得團弘春溫劑而愈，致遺中寒痰飲，咳喘脹滿，不能臥之證，數年一發，例用溫肺湯加附子而平。己酉仲秋，不由外感而咳嗽，因素有痔血之病，乃追怨弘春之熱藥，惡姜附如仇。延至初冬，則虛寒畢露，右尺脈全無，反真陽外越，兩足發熱，夜置被外，面赤咳喘，右肋氣衝，不能著枕而臥，乃寒水上逆，水蠱之機。暗加附子，以茯苓為君，附子、炮薑、半夏為臣，芍藥為佐，用真武湯之意，日投二劑。將一月，咳止脹消，反惡寒足冷。彼方知本體虛寒，遂加人參白朮，冬至後陽回足溫。藥不易方，至立春尺脈略出半部，春分後始得滿部，而痔血亦愈。芍藥加多，必致溏瀉，病時傍議洶洶，惟病人不為所惑，必不易醫。右尺半年無脈，姜附藥二百餘劑，方起於床，可謂沉寒痼冷矣。</p>

<h2>胎產治效</h2>
<p>王蔚園兄令眷，山右先生六媳也。懷孕八月，忽下血不止，其胎欲墮，又值秋暑，嘔吐非常。醫士沈目南，與余同道，主以固氣防脫。用大劑參附湯，頻灌一夜，服參三兩，熟附兩許。天明胎墮，而產母幸全，惟虛憊之極，脈微似脫，飲食就枕匙進。揚俗產後例不用參，次日不免大減，至第三日忽然床上跳下，滿房亂走，或笑或哭，竟似顛狂。而沈醫先生，認為瘀血發狂，用芎歸湯加童便，煎成將服矣。余適至，急止之。診其脈散大無倫，面赤氣促，不避親疏。予曰：前夜血脫於下，今復陽亡於上，不急救瞬息脫矣。此亡陽證也。仍用前法，以人參五錢，附子二錢，急煎與服，隨又一劑方定。令人抬上床，閉目一刻，及醒，前事皆忘，仍復臥床，頭不能舉。繼用參、耆、歸、朮、炮姜等藥，醫治七日，忽腹大痛，先瀉後痢，紅白頻下，二便不禁，勢更危篤。因詢夏月食瓜果否，若曾恣食瓜果，尚為寒痢，不然，此即五藏之氣絕於內，為下脫證，萬無生理矣。家人答以日食西瓜，於是告以必須姜附。王兄首允，即用附子理中湯，加肉桂、赤芍、茯苓、砂仁。七日痢止，轉變嘔呃，吐痰眩暈，大便頻而溏，大能登桶，全不欲食。蓋平素胃冷多痰，元氣稍振，本病復萌，其嘔呃眩暈，皆痰飲也。屏去血藥，專用附子理中湯，加茯苓、半夏、天麻、白豆蔻，每劑人參三錢。醫治百日，計服人參數斤，床上方能坐。若其狂跳時，倘無灼見，則差之毫釐，便失千里矣。</p>
<p>瓜鎮吳象衡兄令眷，懷孕臨盆，喪子悲慟，不數日，生產一女，悲怒交加，產後即胸脹寒熱煩躁。歷醫三四位，皆主疏氣消瘀。至七日不效，始迎余治。脈虛大無倫，煩躁作渴，輾轉於床，時值秋暑，目中流火，視物皆赤。予曰：此產後虛煩，真陽外越，若不溫補，必致危殆。象衡素自用，答曰：胸脹如此，豈勝補藥耶，煩熱如此，豈勝溫劑耶。余言之極力，其岳家亦以前用消克，其病愈甚為辭。象衡為理屈，不得已，聽余用藥。余勉以歸脾湯加炮姜，用人參一錢，服一劑頗安，再劑則熱止得臥。如此三日，諸證皆回，但脹滿未解耳。彼懷疑誤補，又惑前醫之言，以前胡、厚朴、陳皮、半夏、知母、丹皮，清熱寬中，五六日脹滿未除，更增腹痛瀉利，汗多不食，嘔噦似呃矣，病益加重。前醫束手無策，又復求治。余曰病危矣。前藥亦不應，須用附子乾薑，挽回於萬一，言明不效勿怨。遂用人參五錢，附子、白朮、乾薑、肉桂、茯苓各錢半，大溫大補，始克有濟，下咽一刻，即汗斂嘔止。如此大劑，十日瀉止能食，一月方減藥，而病亦漸愈。若其復請時，以前醫翻案，置懷不一援救，豈不坐視其斃乎。</p>
<p>喬世臣大行令政，年近三十，本體氣虛，中寒痰飲，頻年半產，因此更虛。酷暑小產，嘔吐不納藥食者數日矣，即參附湯亦難下咽，汗出如水。證皆氣虛，因思盛暑傷氣，中宮愈冷，暑挾痰飲上逆而吐。略去產後，作中暑嘔吐，擬用半硫丸。而沈目南同道，亦以為然。遂進二十丸，不吐，又進二十丸，亦不吐，再進二十丸，全不嘔矣。繼以人參五錢，半夏、茯苓、附子各二錢，日進三劑。專作暑醫，三日後加白朮，炮姜，減附子，溫中補氣，飲食始進。七日後減參二錢，調補匝月，方能坐於床。始終皆用氣藥，若泥產後芎歸，去道遠矣。</p>
<p>程元美兄令眷，年近三十，產後未滿月，得發熱咳嗽，吐血盜汗等證。產前並無此夙疾，合當溫補。而前醫竟作陰虛主治，投以四物湯知柏花粉黃芩，病愈篤矣。予往視之，脈浮大而數，按之中空，壯熱喉痛，咳吐血涎，腹脹作瀉。此產後誤用苦寒，中宮虛冷，逼陽於外也。用理中湯加麥冬、五味子、黃耆，服後陽氣內歸，則脈細如絲矣。其初吐之血淡紅，血涎乃脾虛不裹血，非陰虛火逆衝出之血也。煎藥仍主前方，更加八味丸，兼補腎水，所謂土旺自生金，毋拘拘於保肺，水壯自火息，毋汲汲於滋陰，是也。調治半年，經水方通一次，旋即不通，咳嗽未全止，脈澀不滑，臍下結塊。其時喜尊素先生診脈，亦云非胎，定為血假。以八味地黃丸，加倍桂附，添入降香節、牛膝以通經，日服不輟。忽腹大痛，意其經通，不意竟大產而生一男。夫病中及質弱者，胎脈臨產，尚且不形於診，則脈不足憑矣。醫道誠難言哉。</p>
<p>馬彬五別駕，未出仕之十年前，尊閫大產，去血過多，昏暈大虛。前醫重用人參耆朮，已虛回血止，飲食如常，惟晝夜臥於床，不能坐起，坐則頭眩耳鳴，必睡下乃可。如此已七十日，日服人參四五錢不效，招予治之。診脈惟細遲無力，而飲食不減平時，肌膚聲音，似無病者。此產後不慎起居，肝腎氣虛，肝虛不攝氣，故眩暈也。仲景謂之褥勞，久則成痿，用仲景之羊肉湯治之。用精羊肉二兩，煮熟去肉，再以黃耆五錢，當歸五錢，人參一錢，入湯煎熟，日服二劑。十日後即能起坐，二十日即可步履，回季宅母家調治而痊。</p>
<p>瓜鎮曹實甫令眷，年將三十，產後二日，忽惡寒發熱，頭痛身疼，醫認作傷寒，斷食三日，汗大出而熱不退，更增煩躁。實甫具病狀，問治於鎮江何似充先生。何答云：產後以大補氣血為主，雖有他疾，以末治之。藥用參、耆、歸、朮、茯苓、炮薑、麥冬、五味、甘草。實甫覆呈方於前治之醫，斥之曰：老朽已聾瞽失時，此等傷寒熱證，豈堪補耶。又任其專治七日，則愈熱愈躁，而脈愈大。暮夜相招，脈散大，呻吟狂躁熱渴，揚手擲足，幾不欲生。予曰：產後虛煩，急須溫補。發藥加參。實甫以何藥見示，藥竟相同，遂放心與服。服畢即安臥，次日脈斂熱退。囑其仍要加參。實甫惜費不用，逾一日夜，復熱躁欲脫，通夜服人參七錢始安。如前參耆歸術，調補匝月而起。</p>
<p>瓜鎮王篤之兄，適嚴宅之女，懷孕九月，冬月苦寒患病。據嚴宅云：初病是傷寒，已經半月，發表攻裡，俱已備嘗。因腹中大痛，恐是臨盆，穩婆已伺候矣，迎余決之。診其脈沉細而緊，畏寒之極，坐臥火箱中，猶抱火烘面，其痛在臍上，左右衝擊而動，不在少腹，而脈又沉，非欲產之候。此誤用攻導涼藥，致中焦寒極，非溫不可。而前醫猶要用行藥，謂通則不痛也。予議用薑桂，病家畏桂墮胎。予諭之曰：將產之胎，非若一兩月血胞，畏桂行血，且中宮冷極，桂至中宮，尚不能敵其寒，何能下達而傷胎乎。失之不溫，產婦且危，去病即所以安胎也。遂用人參、炮薑、肉桂、當歸、砂仁、陳皮、甘草，一劑痛減，溫補半月方產。產時幾至虛脫，得補而回。</p>
<p>蕭朋玉兄令眷，自真州來郡就醫，因小產後發熱吐血，真州時道認為陰虛，竟以生地黃、白芍、丹皮、麥冬、貝母治之。殊不知此乃小產後瘀血未盡，因而發熱，血不下行，而逆於上也。將兩月，漸致腹脹而痛，嘔吐不食，面黃浮腫，少腹結塊，發熱惡寒，脈沉細緊，按之堅硬而長，血為涼藥所凝，病成血蠱，必須溫暖，其瘀方化。用附子、肉桂、炮薑、當歸、赤芍、五靈脂、香附、延胡等藥，四十劑，遂大下黑血如泥者數碗，由大便而出，腫脹痛一夕皆消。而人虛困殆甚，繼用溫經和血健脾之藥，半載新血漸生，而經再至方健。</p>
<p>黃美倩翁令媳汪氏，產後腹痛四閱月，真州來郡，借居吳天其翁宅就醫，診脈細數而澀，臍下作痛，午後發熱，惡寒咳嗽盜汗，儼然虛損矣，而經水或紅或淡，猶未止。詢真州時道治法，或用大黃、紅花、桃仁，或用肉桂、炮薑、附子，遍治不效，漸增發熱咳嗽，脈證皆屬陰虛。但敗濁屢月不止，則非積瘀，又腹痛有形，脈不緊，且已用薑桂附子，而痛不減，則非寒。余擬其為腸癰，未遽用藥，令其看腹皮粗糙否，臍中有臭水否，腹內可有水聲，大小二便可墜脹，所下敗濁似膿血否。病人答云：件件皆有。余曰：此腸癰，誤治無疑矣。今已潰，未收口，須兩月方愈，不能急效。病人唯唯。遂以六味地黃湯，去澤瀉，加人參、苡仁、當歸、赤芍、桃仁、肉桂為煎劑，外用六味地黃丸，去澤瀉，加人參、黃耆。此外科治腸癰之七賢散也，用蜜為丸。如此煎丸並服，一月咳嗽發熱先退，又半月，膿血方淨，而痛亦止。完口之後，回真州。</p>
<p>孫飛聞二尹令弟婦蔣氏，產後瘀血未盡，滿月後腹漸大痛，臍下有塊，大小二便，裡急後重，大便難出，小便如淋亦難出。前醫已用芎歸薑桂溫之不效，及余往診，床上不能坐，下迫痛甚，兩尺脈獨數，腸中水響，而又不瀉，兩腿並腹，牽引而痛。予曰：此積瘀為患，尺脈己數，乃血積於腸迴環處，寒化為熱，將成腸癰，不急通之，成膿難治。先用當歸、赤芍、苡仁、丹皮、栝蔞、桃仁，痛雖略止，而大便不通，不得不用大黃以宣導矣。遂用舊方烏金丹，乃大黃膏、蘇木膏合群血藥為丸者，早晚各服一丸。大便次日雖通，仍無瘀血，痛不止，又一日進三丸，紫血方下。次日痛減，仍用前苡仁煎劑，以逐其餘。至下月經水大通，而痛始全去。</p>
<p>方漢辰兄令眷，右周族叔之女也。大產死胎，穩婆手重，致傷子腸，七日後招治。大小兩便不通，已四日矣，少腹腫痛如墳，仰臥於床，不能轉側。他醫作腸癰治，用菜瓜子為君，食之不效。又醫作瘀血治，亦不效。診其脈澀而數，因小便脹痛，遂不食，虛憊不堪。余深思良久，腸癰乃瘀血積腸中，久而始化膿作痛，今產後方三日，而即腫痛，斷非腸癰。若瘀血作痛，血病不秘小便，若寒痛，少腹不當高腫如墳，且脈不緊而反數。以「藏府內景圖」為證，婦人胞門子戶居中，膀胱在前，直腸在後。以理揆之，產時手取死胎，傷而不覺，後三日腫大，前逼膀胱，後逼直腸，故大小便皆不通。其少腹腫高如墳者，乃膀胱中小便也。令老成婦人，以熱湯漬布，揉按腫處。問痛在前按處否，病人答以腫處不痛，其痛在裡。予曰是矣。令漬布者以手重按腫處，則尿如湧泉，瞬刻腫消。續有敗膿瘀血，源源而下，急令煎大劑參、耆、歸、芍、肉桂、附子、炮姜等藥，促令煎熟，頻頻灌下。又令再煎二劑，恐大便隨下，以防氣脫。後片刻，大便果下，幾乎暈脫，然卒無害者，幸服藥在前也。後用內癰瘍科治法，皆用參、耆、歸、芍、桂、附、炮薑、苡仁收功。獨不用白朮者，恐助膿也。醫治百日，方能起床，嗣後仍復生產。</p>
<p>汪公肅兄令眷，夏初大產，天氣猶寒，生時亦快。而不解事之穩婆，巳至不令上床，令其久坐穢桶，以俟下血。次日即腹痛，大小便皆不通，玉門腫閉，小便反自大腸滲出。第五日請救，脈沉緊。先醫用芎歸消瘀不效，又用理中補中亦不效，痛脹益甚。細詢病狀，蓋由產後玉門未斂，久坐穢桶，寒氣襲入下焦，陽氣不通，前陰腫閉，陰陽乖錯，小便反從後陰滲出。此非交腸之病，乃屬厥陰中寒明矣。所幸者，尚未厥逆於上耳。但乙癸同源，腎肝同治，且腎主二便，開竅於二陰，又屬厥陰純寒，只得借用少陰治法，以四逆湯主之。附子三錢，乾薑二錢，甘草一錢，肉桂、當歸各錢半，日進三劑。小便微通，腫處微消。如此藥三日九劑，小便通而瘀血甚少，五日大便通。半月臀上生癰，蓋因瘀血未淨，寒因熱化而作膿潰也。病者幸因前藥見效，不致怨熱藥貽患。</p>
<p>許蓼齋太守令眷，中寒痰飲，姜附時服，平素皆然，產後十年不孕。甲申秋自稱懷孕，下血，胎脈不現，用補氣安胎藥三四劑隨止。隔一月，又下血，又如前藥，又隨止。隔一月，又大便下血甚多，以平常時有之證，不服藥而飲燈心湯，又服涼藥，不但血不止，更增腹脹不食，頭眩身麻，冷痰上壅，大便下迫，不能坐立，診脈弦細而緊，胎脈不見。余遵《內經》陰絡結則血下溢治法，用人參、白朮、桂枝、當歸、赤芍、炮薑、甘草，少加附子。四劑血隨止，即現中寒夙疾，胸腹脹大，嘔吐痰涎，喘促不能臥，脈更沉小。此證必須姜附，然恐傷胎，而令尊汪閒先翁主持。謂大人要緊，遑顧其胎，且懷胎四月，三見血下，脈不又旺，姜附素常服慣，竟用無妨，遂用薑、附、茯苓、半夏、吳萸、橘紅，日服三劑頗安，而脹嘔不減。換生附子連服七劑，始得不脹不喘不嘔。方改用熟附、炮姜，加參、術，脹滿然後全消。未幾又氣虛似脫，心內怔忡，令人抱按，方能臥。又非痰證怔忡，余暫用人參三錢，歸脾湯三五日，正氣虛回，痰飲又發。仍用前劑，但以乾薑配熟附，兼用參、術，而對夏、苓，將一月，年終病退，即不藥矣。乙酉之春，因痰咳嗽相招，胎脈始現，腹大有形。至六月大產男胎，產後本日血不下，小便一日夜不通，脈兩尺沉遲無力。此產後下焦虛冷，不能小便。而病人自云舊年病急，多服姜附，致內熱小便不通。余亦不與辨，至更余則腹脹如鼓，直坐於床，不能轉動，腹中冷氣上衝。彼方知尚屬虛冷，向余云：內熱之說誤言耳。惟求急救，若遲則痛脹死矣。其時亦汪閒先翁主持，用附子一兩，肉桂、乾薑、當歸、茯苓各三錢，大銚急煎頓服。少刻腹內腸鳴，尿血大下，至五更方得平臥，後用溫補而愈。懷孕服薑、桂、附子藥百劑。而不傷胎，產後一夜，服附子一兩，亦不覺熱，此證世不多見。經云有故無殞，其斯之謂歟。</p>
<p>孫以𬆭兄令眷，予族侄女也。懷孕值暑月，以西瓜浸井，日食為常，至產後氣血交虛，積寒在腹，三日後胸腹脹滿，而堅，猶如未產，乾嘔不能食，咳喘不能臥，足冷過膝，脈沉細而硬。其母謂三朝食麵，著氣停食，再三囑用消導之藥。余曰：形寒飲冷則傷肺，所以喘咳積冷於中，先有胎元真陽在腹，可以勝其冷物，今胎已產，氣血兩虛，其沉寒痼冷，蟠結於上中下三焦，否塞不通，惟宜助陽消陰。若克伐傷氣，則陽益消矣。此證非大溫熱宣補兼施，不能望其效也。以𬆭唯唯，遂以生附子、生乾薑、半夏、吳萸以溫里，桂枝、細辛、生薑以溫經，助以人參、茯苓、赤芍，以培氣血。以𬆭日藏人參於懷，暗投藥中，以免其岳母之惡補也。服至半月，上身微汗，而咳喘寧。再服一旬，胸結略下，而能納穀。冷秘二十餘日，日服半硫丸二錢，大便方通，其矢碧綠，彈丸續續而下，計兩月腹中上下方通。沉寒痼冷，未有如斯之甚者，若順人情而妄用消導，不知作何結局矣。</p>
<p>張渭光兄令眷，年逾二十，懷孕三月，時值仲秋，胎動見紫血水。前醫猶用生地黃、黃芩保胎，一二日紫血下不止，腹脹痛甚，延予托診。脈沉緊，堅而搏手，此下焦冷極，胎已無氣，所以血紫也，再用涼血，是益其冷矣。用芎、歸、炮薑、砂仁溫中活血之藥，腐胎始下。痛止而脹不消，腹堅如石，脅肋脹滿，上衝於心，滴水難下，噦呃煩躁，坐不能臥，臥則氣喘，兩尺脈皆伏，他部弦細而緊，不任尋按。據證脈竟是肝藏中寒，須作厥陰傷寒治法，其產後芎歸套劑，一片不能入口矣。此暑月貪涼食冷，不慎起居，積冷下焦之病。一醫猶用參朮補中，病家因脹甚不與，病狀危篤，力辭不治。堅托無奈，用半硫丸一錢，以開隔上之寒痰，方能納藥。繼用生附子、生乾薑、肉桂、赤芍、吳萸、半夏、茯苓，每日三劑，兼服半硫丸三十粒。如此三日，方就枕不喘，能下谷湯。而脹呃猶然不退，肋下有形而痛，前藥換熟附子，又服六七日，胸口稍軟，噦呃始減，而少腹猶堅，再加當歸，以和厥陰之血。腹內凝冰，幸而不利，服半硫丸半月，大便通，色皆青綠，終無一點血下，而腹亦消。揚俗滿月洗浴，以致受寒病復，前證皆集，但不喘能臥耳。仍用前藥治半月方回。胎前積冷，產後中寒，竟與前孫案相同。但此證不大虛，惟不用人參差異也。懷孕內眷，當以此示警。</p>
<p>程農長兄令媳，吳宅之女也。二月大產，天氣尚寒，未滿月，便開窗梳洗，方滿月，便爾洗浴，因受風寒，次日頭痛身疼，遍身筋惕，汗多而熱不退，脈不浮而單絃。初診便告病家，此產後中風大病，不可輕視。用當歸四逆湯，當歸、赤芍、桂枝、細辛、茯苓、炮薑、甘草，薑棗為引。醫治三日，因本氣大虛，風邪不解，更頭疼如破，筋惕肉瞤，汗出如浴，手足抽搐，時時昏厥，病甚危篤。余曰：此產後氣血大虛，風邪直入肝經，已現亡陽脫證，須急用人參固里，附子溫經，使裡氣壯，逼邪外解：否則風邪入藏，必昏厥不語，手足逆冷，嘔噦不食，不可治矣。未幾果噦，病家遂信予言，重用參附，加於當歸四逆湯中，更加吳萸以治噦，間加天麻、半夏，兼治虛風。如斯大劑，日服人參兩許，附子六七錢，半月後方漸次而回。再去細辛、吳萸，增耆朮，四十日方能起床。此證幸病家不吝人參，而任醫得專，故獲收功也。</p>
<p>吳紹先兄令眷，年三十餘歲，平素脾虛中冷，而夾痰飲，生產多胎，氣虛時暈。癸未春間，懷孕一二月，便下血，服藥而止。隔一月，又下血，藥亦不止。聽其淋滴不斷者半月，欲其墮而不墮，反自止。本性畏熱喜風，兼嗜瓜果，六月夜分，霍亂大吐，吐後汗多厥冷，遂昏沉不語，手足抽搐，目珠上竄。次日往看，脈弦細而緊軟，臥於床，手足微溫，手筋惕動，而手即攣，灌以藥能咽，嘔則欲吐。幸小便未遺，欲小便則有起床之狀，人扶起能自立而便。但目不瞠，口不能語耳。此因大吐中虛，寒痰上湧，須用類中風治法。揚醫眾議不一，適金壇周醫駐揚，議論相合。於是定方六君子湯，用人參一錢，白朮、茯苓、半夏曲、桂枝、吳茱萸、薑汁、天麻、橘紅，灌服二劑，至夜半回蘇。計昏厥一晝夜，次日能言，謂周身皆痛，氣塞喉中，胸中脹悶，腹痛作瀉，外則筋惕而手拘攣，嘔呃不能食。又迎鮑醫，亦主溫補，議用肉桂，予因頻次下血，恐桂破血，易用桂枝合真武湯，換炮姜，救其亡陽虛脫。議用人參一錢，白朮、茯苓、炮薑、附子、芍藥、桂枝、甘草，薑棗為引，如此溫補之劑，服一月方能坐床進食。後漸次去附子，調理而愈。至冬杪生產一男。母子平安。若病時執懷孕不用附子、半夏之說，病必不除，則產母不保，母不保，又安有子乎。程案產後中風，則氣血交虛，故施重劑。此胎前中風，因未產不甚虛，故劑輕也。</p>
<p>張其相兄令眷，年望四旬，隆冬大產後六日，家務煩勞，遂惡寒發熱，身痛嘔吐，不知何脈。前醫認傷寒，用桂枝、細辛、乾薑、吳萸、赤芍、半夏等藥，二劑遂大汗不止，血下如注，暈脫者二次。本家先以人參數錢灌回，予踵至，汗猶未斂，脈細如絲，血尚未止，雖有聲音，而不能言。予曰：血脫益氣，此定論也。用人參五錢，附子二錢，炮姜二錢，連進二劑，方汗斂血止，而能言語。次日，即改用歸脾湯，加黑薑、官桂，溫補滿月而起。</p>
<p>程載錫兄如君艱產，產後即暈厥，醒後喉啞，全無聲音，而人事清楚，脈細如絲，手足厥冷。蓋艱產玉門久開，寒氣襲入，經云：寒中少陰，令人卒然而啞。且脈細厥冷，可徵也。用四逆湯疾驅其寒，以防變證，用附子三錢，乾薑三錢，甘草一錢，當歸三錢，連進三劑，次日音出，瘀血方下。蓋少陰經絡盡於喉，寒極於下，腎氣不能時上，致卒然失音，若非重劑，入里之寒，何能驟解。數日後，因難產內傷腫痛，去附子加肉桂、赤芍、桃仁，腫消痛止，半月方愈。</p>
<p>英德縣令王公僕婦，年三十外，本出西人，夏月恣食瓜果，八月初旬，產後積冷在腹，五日後腹痛，先瀉後痢，兩關緊滑，用薑桂香砂胃苓湯，四劑而愈。兩三日後，因前寒未解喉痛，又開窗取涼，復受寒邪，以致頭疼發熱，身痛脈浮緊，用芎蘇飲微汗而表解，熱尚未除。繼用桂枝葛根湯，二劑熱即退。忽變為神昏不語，掐指剔牙，腸鳴下利，問病若聾，診脈弦細無力。產後尚未滿月，知屬裡虛，證類中風。用桂枝湯加白朮、半夏、天麻、炮薑、附子二劑，五更後即能言，至未申即不語，坐臥如凝。能言時謂身痛腹疼，其渴飲茶湯，日夜兩大壺，隨即洞瀉八九次，腸鳴水食，脈弦細緊。此為風邪直入肝經，乃厥陰之病。蓋厥陰病本消渴，風邪不解，內搏為瀉，身痛多汗，脈不浮，斷非表證，乃骨寒而痛也。且午後不語，定屬陰邪，准作厥陰治法，不治洞瀉。用當歸四逆湯，桂枝、當歸、赤芍、細辛、附子、炮薑、人參、白朮、茯苓、甘草，薑棗為引。服六劑，渴全止，夜得微汗，腹痛身疼即解，瀉止能言。自立方付彼，令其照方撮藥，服十餘劑即全愈。若用育神止瀉，不察病名，豈不大誤乎。余每見產後不語，不治者多矣。此北人胃氣本厚，故合證之藥，易於取效也。前程案乃寒中少陰寒水之藏，故終日不語陰也。此證乃風中厥陰風木之藏，木中有火，午後方不語，非純陰也。所以藥亦陰陽對待，不似程案用純陽藥矣。</p>
<p>適朱宅三小女，體素虛寒，懷孕將產，先胃寒嘔吐，服理中湯而止。續即兩足少腫，未旬日，上腫至腿，漸上至少腹，內懷雙胎，其腹脹大欲裂，氣喘不能行立，脈細如絲，兩足冰冷，小便點滴不通。水已上溢，不急治水，胎必浸傷，而孕婦更不能保矣。諒桂附尚不能敵水，何暇傷胎，且胎已足月，桂附不能犯。遂用附子、乾薑、桂枝、人參、白朮、茯苓、澤瀉，大劑與服，日投二劑。四劑後足微溫，小便略有。服至十劑，上腹略軟，水盡下注於兩足，惟臥床不能坐矣。又十餘劑，水從大小二便齊出，消大半，而雙生兩男。產後因胎前藥力，三朝尚全無病，遂經理家事，忽然腹大痛，大吐大瀉，困憊於床，脈細緊無倫，惟恐痛脫，仍用前人參、附子、乾薑、肉桂、茯苓、甘草。因腹痛，故去朮也。日服人參六錢，藥三劑，六日痛止。加白朮，溫補四十日始康。其產後惟兩血餅，所下皆水，此陽氣虛，血反化水，若執懷孕桂附傷胎，而水不下，必致子母兩殞。經云：有故無殞，良不誣也。其所生之子，出痘甚輕，則桂附不貽害於兒，亦可知矣，出痘之兒，因痘甚輕，未滿月便出戶見風，至滿月後。作瀉十數日，忽患驚風，幼科皆稱慢驚不治，已擲於地，惟候死耳。予視之，忽啼號數聲，即手足抽搐，眼珠上視，頭向後仰，身體僵直。夫慢驚抽搐，不先啼叫，且頭不後仰，身不僵直，今有此數證，則非慢驚，蓋天釣風也。其先啼者，腹中痛，謂之內釣。內釣後即外釣抽搐。此因痘後失調，又經久瀉而兼風邪，故有是證，必須溫經補中。余遂用桂枝、赤芍、鉤藤、人參、白朮、炮薑、附子、半夏、甘草，灌下二劑，即回蘇，但不能吮乳，日進米粥，然一日必啼號十數次，抽搐十數次，而參附藥不輟。幼科畏熱，暫止數日，即瀉不止，瀉甚則內釣外釣亦甚。不得已，堅用之，抽搐止，即右手足痿軟，半身不遂。如此大劑，一歲之兒，服至百劑，瀉方止，足可站立。但右手尚不能持物，笑則口歪，若非參朮桂附乾薑，何能有生。有斯病則用斯藥，豈以幼兒純陽，不堪辛熱，執為定論者哉。</p>
