<header data-type="book">
<h1>毛對山醫話</h1>
</header>

<h1>正文</h1>
<p>古以五氣五色五聲視人生死蓋即誠中形外之義亦可見疾雖伏而未發其臟腑已先受傷故必現於形聲動作譬室有火患初不及覺馴至煙焰滿中則勃發而不可御矣然為曲突徙薪之計者近醫亦罕說部載宋神宗精醫理有內侍病腫太醫言不治帝為診之曰陰雖蓑陽未竭術可療也令貪蒜煮團魚而愈熙寧初京尹呂溱上殿進割郎中周約隨趨帝問呂體中無恙否呂以無對頃之復問且問周見呂如何周對如呂既退呂引鏡自照顧周曰面有晦色否周曰龍圖無自疑容彩安靜未幾溱果病遂不起噫如神宗者可云望而知之矣切脈辨症立方為醫家三要而脈尤重差脈既切明自能辨症而投藥不難也今醫者苦於脈理難憑乃竟盡棄不究惟學寫醫案作門面語論症則以活脫為能用藥惟以和平為貴自謂勝於偏執好奇孟浪皂喜者不知用藥如用兵量乎神速若遲疑不進使邪勢蔓延必致救援不及致危殆而後已夫偏執好奇誠為醫家所忌然或因其立法乖異在病家尚不輕信若和平之劑人即知其未必效亦取其無害而就之豈知因循兩字誤人不淺在尋常之症弗藥亦愈若生死關頭豈可須臾躭待乎</p>
<p>余初讀靈素諸書覺其經義淵深脈理錯雜每若望洋意沮繼復並心壹志遍覽前賢註釋有所疑則鎮日默坐苦思而力索之乃漸通五運六氣陰陽應象之理每調氣度脈浪決人生死亦時或有驗憶昔避兵鄉里對巷有吳某晨起方灑掃忽仆地不語移時始醒延余診視仍能起坐接談及按脈則勢急而銳真有發如奪索者蓋腎氣敗也危期常不越宿遽辭以出人感不之信詎日未昃而氣絕矣又布商周某偶感微疾就余診視余曰今所患勿藥可愈惟按心脈獨堅濕痰阻氣氣有餘即是火火鬱不散常發癰毒時周腦後生細瘡累累若貫珠余曰君以此無所苦一旦勃發為害非淺亟宜慎之彼終不為意及明春果以腦後毒發而死據此則憑脈決症似乎如響斯應矣豈知脈理微茫又有不可臆斷者余有戚某過余齊形色困憊詢知患咳經月行動氣喘故來求治診其脈至而不定加火薪然竊訝其心精已奪草枯常死戚固寒士余以不便明言特贈二金惟令安養時已秋半及霜寒木落往探之而病已痊細思其故得毋來診時日已西沉行急而咳亦甚因之氣塞脈亂乃有此象與然惟於此而愈不敢自信矣</p>
<p>脈理淵微固未易絲分縷析而世之醫家病家感以脈為首務豈知脈居四診之末上士欲求其備原難捨脈以言病而亦不能離病以就脈也蓋凡臨症必先詢其病之所在與受之所由察虛實觀氣色俟胸有成見而後按脈以決其疑若脈不合症必更求病之所以然與脈所以異准此立方或可無出入之慮本不專以三部九候為憑也矧今世粗工略知脈理便強作解事謂病之原木按脈能知在病家亦信其造詣甚深指下自能洞見孰知古之宗工亦無此本領乎余為是言非輕視夫脈也正以理甚淵微未容偽託耳</p>
<p>胎產非患惟稽古雜誌有異胎五則稱不救而方書恰未之戴五者何一曰東胞帶緊束不解也一曰沖臨產時沖逆不下也一曰挺者橫截腹中手足不露一曰捧心子捧母心心隨胎落一曰卷腸腸斷始脫遇此五者母子得存共一幸矣至懷胎之遲速亦甚不同有三四年而後生者此胎氣使然靜待固無所害若見腹膨既久誤認為病以藥攻之必至胎損而墮悔何及哉更有七月五月而生者考孕生五月古名賅胎以父母稟氣之旺陽生而陰即長故先期而產此如向陽花木得氣在先十月即華不待三春始發耳俗子不明此理妄有誹訕至產母忿不欲生良可痛恨昔余家有墳丁趙德隆者發鄰女未六月而產一男戚黨咸竊笑幸超知妻素端方無疑問子後漸長聲音笑貌酷類德隆於是群疑始釋又有孕終不產者元人說部所載南邑下砂四灶鹽丁顧壽五妻王氏始笄笄顧子女已生其五而於至大辛亥復有孕及期臨蓐七日不娩後仍如故每囑家人死必焚我勿待盡須檢視腹中物以明何疾繼於至正庚寅十月腹驟動痛極而死越二日家人遵遺言以火化之取物視則胸帶纏束甚緊剖之乃一男胎其脅骨堅如鐵石計懷胎四十年其婦以甲戌生死年七十有七矣胎產常事有怪異若此者其故固不可解也</p>
<p>古云讀書不明其義不如不讀言恐反為書惑也而在醫為尤甚蓋古人方論惟言一症不能隨其傳變故可意會而不可拘執即如虛損一症丹溪謂陽常有餘陰常不足主治在心腎以心主血腎主精精竭血燥火盛金衰而成勞怯故治以四物六味補益真陰俾火自降而肺金清肅在東垣剛又以脾胃為本言士厚則金旺而腎水亦足故以補中益氣為主後肚咸宗李而以朱為誤謂造化生機惟藉此春溫之氣若專用沉陰清化之品則生生大氣索然是蓋未知上損從陽下損從陰之義矣按金匱云脈大為勞極虛亦為勞脈大指損及心脾營血虧而氣分泄越宜歸脾建中益氣養營為要極虛則言精血內奪肝腎陰不能自立宜以四物八味壯水化源乃知前賢立方本各有見後人不分陰陽不察脈埋但言治損而茫不知其損之所在也嗟乎藥能治病即能致病昔人有言不遇良醫不如不藥蓋治病猶易治藥為難耳有友僻居鄉曲每言其處苦無醫士無藥肆余謂果爾亦未必非一鄉之福也</p>
<p>凡治病必察虛實無盛盛無虛虛疏其血氣令其調達而致利平此素問審治之義也今之醫士每遇年老之人輒投溫補而輔之一字又為人所樂聞不知老人脾氣既衰飲食入胃輸化不清蒸變為痰氣機阻遏氣有餘即是火故治老人略同幼稚當以清通為主是即經旨六腑傳化不藏以遍為用也徐靈胎日千年之木往往自焚監陰盡火炎物理然也余謂積歲溝渠必多擁塞人能除此老人之病非純以溫補為法矣昔金壇王肯堂年逾八旬患脾泄經年不愈醫投溫補而轉劇延我邑李士材診之用巴豆霜下痰涎數升而愈此非李之明於辨病不能用非王之知醫亦不敢服耳張子和曰良工先治實後治虛轟工或治實或治虛謬工即實實虛虛惟庸工能補其虛不敢治其實也</p>
<p>昔有人乘舟遇風而患心疾醫者取多年船柁於手汗所積處剖末飲之而愈醫以意用初視兒戲往往巧發奇中有未易致詰者盧陵嘗舉此語坡公坡公笑曰然則以才人之筆燒灰飲學者當療昏惰推之飲伯夷之盟水即可救貪食比干之飯余即可己佞舐獎噲之質亦可治怯臭西子之珥亦可愈惡疾乎廬陵亦大笑余謂是固不可太泥古人用藥每取形質相類性氣相從以達病所亦有純以意連如弩牙速產杵糠下噎月季調經扇能止汗蛇性上竄而引藥蟬膜外脫而退翳所謂醫者意也殆即此類本不當以常理格亦未可以必愈期如或執而不通適為坡老所笑耳</p>
<p>今醫士每見身熱脈數輒投柴葛以為邪散則安不知六淫感症固非一端見症雖略相同治法則自有別蓋溫邪忌表濕家忌汗前腎固有明訓王晉三古方選注集傷寒百十三方攻補溫涼無所不備豈僅以解表為事哉即足經論治表散亦不宜太過蓋病中大汗最能暗耗元陽致病後每多損怯嘗閱說部所載範云仕粱為治議時武帝有九錫之命期在旦夕而云適病疫乃召全文伯診之欲求速愈文伯曰此甚易但恐二年後不復能治云曰朝聞道夕死何妨況二年乎文伯乃以火煆地布桃柏葉於上令云臥之汗大泄翌日遂愈後二年云果暴卒宣解之不宜過甚如此</p>
<p>治病不難用藥而難於辨症辨症既明則中有所主而用藥自無疑畏如明永樂中東宮妃張氏經阻閱十月疑有孕上命大慶盛啟東診之盛謂非孕進方多破血品東宮怒曰早晚望誕育豈宜服此即屏退閱月病益劇復召診仍疏前方東宮禁盛於別室而後服其方盛家惶怖無地事恐不免而盛洋洋若不經意閱三日家人忽聞門外呼殿聲甚暄出視則盛已紅棍前引獲厚賞歸矣詢之知妃服藥後下血數斗疾漸平復可見識病既真下藥終無疑畏如盛者於醫無愧為良矣</p>
<p>太素之脈析五運之微窮造化之理能決人富貴利達貧賤壽夭此無他至於理而止耳蓋人稟天地之氣以生故五行之氣隱於五臟通於六腑呼吸之間陰陽開合造化玄微靡不畢見嘗考太素諸書首重心脈心主也一身之動定係為凡人貴賤惟在輕清重濁其詞曰心脈分明緊秀洪自然祿位至三公清調三按俱無絕福壽縣綿紫誥隆蓋脈清則神清脈濁剛氣俗得先天氣厚放神旺氣充脈必明秀而無雜亂至貴也大抵男子以肝木巽位為主女子以肺金兌位為先清如玉之溫潤應指分明不沈不濡調調不絕濁則粗躁無神息數混雜按之不顯如撒乾砂此貴賤之所由分也然一脈分六部變應萬端其問陰陽聚散生克無窮義奧同於易理非真有宿慧者豈能參其機要哉</p>
<p>藜藿之軀不數服藥之故易於見功膏粱之體未病先藥既病而藥難取效常見富人染病一日數醫醫者爭奇冀得偶中方藥亂投致多誤事有挽顯者詩曰堂深入不知何病身貴醫爭試一方大紙富人病多誤於亂藥貧人病多誤於在循</p>
<p>昔人言病有六不治驕恣不論於理輕身重財衣食不適惡言形羸不肯服藥信巫不信醫六者有一則為難治余友沈子涵孝廉丁未春來滬嘗顧余齊見其神色哀奪間之曰去冬患咳至今未復耳按其脈左緊細傳指右關微澀余曰此屬陰分有虧木失水涵冬令失藏升降太過夏三月防有失血之患子涵曰尚能食飯兩碗固無懼余曰雖然還當安閒靜卷服藥調之曰藥補不如食補我有肥雞爛肉河川藥余遂不復言未幾航海入都果咳甚嘔血未及一年卒於京嗟乎是時尚可治因不信醫藥以致不救惜哉</p>
<p>眼科一症前人雖有五輪八廓七十二症之義然以余言之其要不過辨其陰陽虛實急則治標緩則治本耳東坡當曰輿歐陽叔弼晁無咎張文潛同在戒壇時坡公病目嘗以熱水洗之文潛曰目忌點洗目有病當存之齒有病當勞之不可同也魯直有言眼惡剔決齒便漱潔治目當如曹參之治民治齒當如商鞅之治軍期為得之餘謂此特以養目言也若火熱壅結赤腫腐爛翳膜遮蔽譬之鏡受汙垢必常磨洗非存養所能愈余少時常患目赤初不甚苦仍於燈下觀書以致腫極而生翳膜割剔數次始退然稍不避風其患立至目光因之大損後有友人傳一方於立冬日多竟野菊曬乾作枕自後得無目疾矣藏器曰勿使一日失穀氣蓋五穀得天地中和之氣能益人脾胃故以食為主也然有非餐霞服氣數十年不穀食而安然無恙者是亦奇矣余戚家一婦絕粒三十餘年日不過食菜疏半碟或果餌數枚其起居動作無異平時今年逾六旬猶能調羹縫紉此或胃氣使然故不治亦無害也吹影編云仲弟芝庭年十四得奇疾不食五穀聞氣則嘔家人陰進米汁乃氣逆欲絕時或長嘯以舒氣其聲如雷鳴日惟吃羊豕肉品食畢即飲冷茶三四甌暑月則飲水亦無腹滿作瀉之患有時連旬不食肉只食瓜果數枚而已飲酒勝常人體更肥胖精神倍於昔時娶妻生二子一女家人以為常亦不強其食也如是者十五六年一日忽思食麵食之頗安後遂能食而漸羸瘦不逾年而歿時蘇城吳正功我邑王協中皆得醫名吳診視莫名其症王則曰食掛然亦未詳其義余謂是或痰之為愚耳痰留胃院故不食不飢痰阻氣道故欲揚聲以舒之氣有餘即是火久之火盛風生痰亦為之消爍而體瘦能食前十餘年強力支持皆氣火為之用耳痰火雖消而氣極亦絕矣臆度如是未識然否存之以技君子</p>
<p>醫以意取非可言傅每有病情相似而藥有驗不驗者此常深究其理也嘗閱南唐書載烈祖食飴喉中噎國醫莫能愈吳廷紹請進楮實湯一服而安群醫他日取用皆不效扣廷紹但言噎因甘起故以此治之李時珍曰楮實久服使入骨軟故能治骨哽此亦軟堅之義也余調飴味過甘而能動火生痰食飴致噎差為痰火所阻楮實性寒而利故得開其壅滯此吳深求勉勝之理故作取驗豈一味楮實而可通治噎患哉群醫之味亦可概見矣</p>
<p>南方卑濕民苦濕熱每當春令必陰雨連綿入夏叨暑熱聚降地氣上蒸人感之人秋不病濕溫即患瘧痢蓋初感雖微而濕久則成熱熱久又能化濕昔人言濕熱交互如面入酥乃言最難分理也余於夏秋每患濕病入冬始愈故會有淹倒微軀夏復秋病因暑濕最淹流方書屢檢翻滋感藥性多偏未易投之句亦言其淹纏難治耳蕪湖徐紹裘傳一方秋半清曉於殘荷葉上收清露以鮮佩蘭葉浸二日去葉取露磁瓶貯之動固明年人夏晨起服一二茶匙常食薏苡粥可除此患試之果驗</p>
<p>古方有藥只一味者名曰單方蓋取其力專而效速也用之往往有奇驗金陵買入莫麓春避岳來滬就居城南與余居在有子七齡好食瓜果因患腹痛日夜號哭肌肉盡削一日有行腳僧過其門見之曰此孩腹有蟲今尚可再延一月即不救居士肯舍香金五百常為療之莫即首肯僧於囊中出藥草一束令煎服是晚瀉出白蟲升許腹痛遂止莫乃以所餘草一莖袖來問余視之粗如筆管折之則不斷葉疏而色紅余曰得非本草所謂赤藤者乎綱目謂其能殺蟲而狀亦相似並引夷堅志所載趙子山寸白蟲病醫令戒酒趙不能禁一日醉歸夜已牛口渴甚見廡下甕水頗清即連飲數酌而寢迨曉見蟲出盈席心腹頓寬異之視所飲水乃僕浸赤藤以織草履者他以古證今其說皆合特吳中素無此草未嘗見其苗葉亦不敢言其必然也</p>
<p>病非習見自古醫書所不載往往於雜說中得之時或有驗邑有剃髮丁孫某於肉汁中誤吞短髮初不為意年餘覺胸次隱痛甚則肢體厥冷孫嚐出入余家求余診治按脈兩手俱平靜自言二便飲食如常繃視患處皮色無少異餘日汝非營衛間病因詢其平日好食何物曰無所好又問會食異常之物否曰無之惟於二年前會誤吞短髮余曰病在是矣因令飲菜油連進四五杯乃大吐遂出短黑蟲無數似發略粗人水能動浸二日仍化為發病遂愈或問油能殺蟲乎曰惟取以探吐且無骨之蟲見油即伏故得隨吐而出然非無本談藪所載失明帝官人患腰痛牽心發即氣絕群醫以為肉症全文伯曰此發瘕也以油灌之吐物如發稍稍引之長三尺頭已成蛇懸柱上水滴盡仍一發也偶憶是說因以試之不意果驗</p>
<p>人常年衰齒牙搖動欲脫或在壯歲為風火所侵因而作痛者最難禁受余中年多齒患偶閱玉壺清話有固齒鳥髭藥歌試之果驗特錄於此歌曰豬牙皂角及生薑西國升麻蜀地黃本律旱蓮塊角子細辛荷葉要相當青鹽等分同燒煆研細將來使最良揩齒牢牙髭鬢黑誰知世上有仙方並云方得諸西嶽蓮花峰頂張師正年五十時齒已疏搖不便咀嚼既得此方匡臠大胾利如刀截而搖者復固矣此方授僧文瑩時僧齒亦卮如懸蒂試之輒復固遂傳於世云古之醫士能破脅取症割肢療毒盤斷能續骨斷能接今世雖罕見然能遍其技者宇內猶有其人不過得傳者少而遇之難耳昔武林舍範氏之藏松閣主人有子才六齡墮樓折脛編召醫人咸為束手有新安鄭某自言能治令取牛筋劈細揉熟如絲以續斷骨出藥未少許散骨上以雞皮封之兩月能起立經年平復余嘗詢且技之所授云有祖傳抄本書數十頁皆傷科秘然燃其藥草非肆中所有人山採取往往終歲不得倘得此藥便可接骨惟損及臟腑則不能抬矣嘗閱翼駉稗編載蔣紫真精於醫武進周某其母劚筍傾跌竹鋒入腹腸已國求治於蔣曰創雖可治十年後當有異疾遂出藥敷腸以線縫紉納腹中研藥一丸令服夜半而蘇一月創合後八年乃已死或問十年後如何曰續處必生肉簟飲食溶滓卻從此出耳觀此雖臟腑之捐亦可治也</p>
<p>失血之症弱年易犯而治之頗難繆仲淳言兒要有三一宜行不宜止行則血循經絡不止自止止則血凝發熱病日痼矣二宜養肝不宜伐肝蓋血藏於肝吐則肝失其職故惟養上使氣平而血有所婦伐則虛不能藏血愈不止也三宜埋氣不宜降火氣有餘即是火氣順則火降血隨氣行自不溢出若欲降火必用寒涼致傷脾胃脾氣既傷尚能統血而安絡乎期論甚明學者大可於此取則昔人言凡治血症服寒涼藥十無一生服童便百無一死因能降火滋陰消瘀甚速也余謂欽童便不如飲自便為佳既可隨便飲使不失真氣目得因之食淡而遠辛鹹夫淡食亦生新之一助也醫者意也能知變而後能使草木每見同是一方成分兩有差或少加一引有驗不驗之異者蓋藥之輕重必諒其病之淺深使適達患所過不及則不驗若天一引之加似無關係然如千里行軍不可無鄉導也宋徽宗夏月食冰遂病脾泄國醫進藥未效召楊介診之介用大理中丸帝曰服之屢矣介曰病因食冰臣以冰煎猶是治受病之原也服之果愈此正經言必伏其所主而先其所因其始則同其終則異矣</p>
<p>用藥惟憑氣味以扶偏制勝乃今藥肆所售竟有形似而實非者黴爛而氣味全失者倘非常品必親嘗而後用之蓋投藥如遣將若未知其人之性情賢否而任之鮮不僨事憶昔在鄉近鎮有王某病火腑秘結便肌有五十餘日余用更衣丸以未效而疑之幸病家細心服時留取數粒以示余嘗之味甚甘駭曰是丸僅用蘆薈硃砂二味取其苦滑重鎮今味反甘乃偽耳因書方令自合一服即通知鄉間藥肆其不可靠有如此者昔人言川藥有三忌謂從未經驗臭穢猛毒氣味異常也知此三者庶可驅使草木耳</p>
<p>無為程生夏月露坐夜既深覺小腹重滯而微痛久則如有物攻群醫莫名其症近村有老儒能醫而不名程延以診視乃令市諸藥料以次熏腹至雄黃而腹嗚如雷曰此蛇臌也是必坐處有蛇窟夜深將出觸其所吐之氣致成此疾經歲腹膨如鼓至臍中出水則不可救矣遂以雄黃和酒令飲閱三日頓瀉綠水斗余而愈按本草載雷丸之治應聲蟲與此相類蓋物必有制因其畏而投之故能取效法雖異理自一也</p>
<p>世俗有云若要小兒安須帶三分飢與寒蓋言衣絮弗使過暖飲食弗令過飽庶無蘊熱停滯之患是亦保嬰之一法也凡襁褓之兒內症多痰火外感多風熱每患口舌腫毒投以辛涼化毒自安近有推驚婆子指為螳螂子言過一周即不治每用利刀剔兒兩頤以出血塊是惟江浙有之而吳中為甚他處未聞有此患也然孩提之子肌膚嬌薄即欲稍泄風熱以針略剌猶可切勿用割裂以傷血絡致不能乳食可不慎歟也言以醋泥塗火燒瘡取驗最速其言恰非無本蓋北夢瑣言中載孫光憲家人方作煎餅一婢抱兒旁玩失手落兒火上遽以酷泥塗之至晚即愈並無瘢痕可見當時已有此說故能應手取效然則世俗相傳固不厭多聞也</p>
<p>桐城俞澹香言其族子昔患水脹腹膨如鼓漸至手足面目皆腫危殆已甚自問無生理一日閒鄰家蔥煎豆腐甚香思食之因自煮一碟食頗快口而小便覺爽遂連食數日溺更大通腫漸消腹亦慚小不半月而病愈俞謂水蠱重症而以蔥腐獲痊殊不可解余曰凡人感疾皆由氣味相觸內阻流行之機感時雖微久能致病惟遇氣味相投之物一動其機雖痼疾亦可或瘦如內經三言臨病人間所例即是此理非臆說也</p>
<p>吐衄諸血症今人每宗仲景瀉心法不知其所謂瀉心者實瀉手厥陰足厥陰太陰陽明四經之邪火有餘也大黃峻利之品用得其宜取效固捷若施之體弱之人禍可立待梁武帝時姚僧坦以醫擅名值帝病熱欲服大黃姚言至尊年高不可輕用快藥帝不從幾殆其後元帝得心疾群醫擬進補心之品姚言脈洪而實蓋有宿妨非大黃不瘥劑進立愈觀此知大黃之用必有把握未可混施</p>
<p>華亭費秋谷母驟腹痛頻危者再聞天馬山有道人能醫乃親往延治途遇一老翁同憩於亭間何適費以延醫對翁於囊中出一方曰此孫思邈所得龍宮方也服之當有效費於匆迫問不辨何藥即市歸進母一服而愈後以方示人蓋即千金方溫脾湯也是方寒熱並用補瀉兼施信非凡手所能定按唐假成式酉陽雜俎邈嘗隱居終南時逢大旱有西域僧奏請於昆明池結壇祈雨凡七日池水驟縮忽有老人夜詣思邈室曰弟子昆明池龍也今胡僧利弟子腦詭言祈雨實欲殺我望先生憐而救之孫曰余知昆明龍宮有仙方三十首爾授我將救汝老人曰此方上帝不許妄傳今事急何敢吝孫得方遂則撰三十卷每捲入方致世莫辦老翁所授蓋即真方也</p>
<p>醫學十三科惟針科效最速然非精其技者不可輕試經云形氣不足陰陽俱虛刺剛重傷其陰陽老者絕滅壯者不復矣柬垣曰脈浮數而發熱咽乾舌赤時作渴者熱在外也灸則災害立至據此知虛寒忌針實熱忌灸未明虛實者針與灸豈可妄施哉唐狄梁公性嫺醫藥尤精針術顯慶中應制入關路出華州闠闤之北稠人廣眾聚觀如堵梁公引轡遙望有巨牌大書能療此疾酬絹干疋就觀之有兒年可十四五臥牌下鼻端生贅大如拳石根蒂綴鼻才如食筋或觸之痠痛刻骨雙目為贅所繩目睛翻白痛極欲絕公惻然久之乃吾能為也其父曰汝親屬叩顙祈請公令扶病者起即於腦後下針寸許乃詢針氣已達痛所乎病人頷之公遽出針疣贅應手而落病頓矢其家人且泣且拜遂奉縑物公笑曰吾哀爾命之危非鬻技也不顧而去然行針之法必達乎陰陽分別穴道倘失亳釐則差以千里如公者始可行其技矣</p>
<p>成豐初鄭作夫都閒奉繳徵皖南左額受槍傷時賊勢方熾鄭枕戈露宿以至腫勢日甚醫者謂是破傷風邪已內閉不能治有一老兵取桑條數十莖以火燒其中取和酒令服遂愈此法會見之方書不意其奇驗如此然則應驗諸方醫家亦不可不諳也</p>
<p>齊諧記載江夏郭坦有兄於病後忽能食日必需米斛余閱五年家至擊坦乃驅使自覓食兒因飢不可忍乃取圃中韭瞰之竟盡二畦旋覺悶極因而大嘔陡出一物狀如龍撮飯著物腳化為水而且病頓愈物則恰莫能識云及觀閭閻僧睡余偶筆言秦有化谷蟲長僅數寸於谷器中投其一不二三日谷盡化水始悟郭兒所嘔或即此蟲是必採韭時未經洗淨誤吞其子致有此患韭能解蛇蟲諸毒敵得療此異疾</p>
<p>諺云走馬看傷寒蓋言轉眼變更治之不容稍緩也若令晨服一劑明晚再服中間已隔兩畫一夜經絡已傳藥力有所不及則難取效矣故古方有日三服甚則晝夜服六次使藥不間腳始能制病若危急之症死生於旦暮之間用藥尤當不矢其時近日有一等醫人日則高臥晚始出診以為延者眾而深夜猶不得安息一至病家故作多忙之態聊且疏方告其病情則閉目不答似厭其言之多也嗟乎病者求醫望之甚切早延夕至一日虛過以致鞭長莫及誰之過與其心安乎哉</p>
<p>有友病疝嘗間方於余言按前人治疝各有所偏立方不無錯雜仲景以寒為名故主溫散調營補虛不入氣分之藥而子和又以辛香流氣為主謂肝得疏泄病將自愈也巢氏言陰氣內積復加寒氣蓋由營衛失調而致陳無擇亦言女血因寒濕而為瘕南氣因寒聚而成疝是以疝屬寒者固多然此病亦有起於濕熟者蓋濕熱在經遏郁既久外復感冒寒氣收束絡脈不行所以作痛若事作寒論恐未盡然近惟葉氏有暴疝多寒久疝多熱之議發前人所夫發後學似當深味今友患此有年且多目疾維友疝病治肝十居八人因以辛甘化風為治而附其說於此</p>
<p>經云濕多成五泄水濕侵脾固多注下然因風病泄者亦習見焉蓋腸有風則飧泄胃有風則濡泄肝為風臟故厥陰病每多作瀉今之俗丁不察病情以為健脾導濕治瀉之要用藥大都香燥不如肝為剛臟必甘柔酸斂以和之燥剛刦津香能耗微不反增其病乎竹樓閒筆載宋時有朝貴患痢經年群醫每進升陽理解之劑而病轉劇蜀醫唐慎微診之曰此腸風也投以育陰之品不旬而瘥余每治腸風泄瀉亦以柔肝獲效故特筆之</p>
<p>痢疾古稱滯下蓋濕熱內阻氣失流行久成積滯昔人每以導氣分消為主此誠治夏秋時痢之常法然風淫火迫寒浸積痰亦能致痢治之又當分別更有脾腎咬量入胃輸化不清積留於腸回曲折之間入秋氣肅收藏不固而下泄者道光丁酉先君年七十有三仲秋患痢晝夜百餘次初延醫診視進苦辛調氣之劑因循十餘日病益甚聞谷即哎雖湯飲亦不能下咽滿口白糜而作呃逆學家惶惶余方寸已亂溫無意見惟日夜祈禱因思得一人與之共商庶可放膽立方越日適毗陵莊生至莊號春冶曾從余學醫頗有機變因令診春冶蹙額曰尊年營衛既虧痢疾大下陰液已涸今口糜呃逆胃氣將絕實難措手惟有扶持元氣兼養胃陰冀得胃氣稍醒以圖轉機未識是否余曰子言頗合遂與定生脈佐芍藥銀花陳皮炙柬等味以糯稻根煎湯代水春冶用黨參余曰是方所重在參黨參氣味平淡僅可調補常病豈能恃以為治乃用吉林上好山參每服五分日進藥一次參剛晝夜四次如是者五日旁症悉除漸能進粥旬餘而痢亦止然仍不撤參藥至冬初能大啖肉食盤飧羅列無不稱美春初始能起床步履然能食不充肌肉余竊慮之氣候漸暖飲食漸滅夏日惟食粥數次至秋而痢復作悉依前法治之遂愈次年秋病又作仍進參藥先君謂麟曰汝素知醫豈不知攻補有時前者初病會服利導之劑繼用參藥是以有效去年病即服參積滯未清故今秋復發參藥斷不可再用余心知非參之不可而又不敢違命日夜苦思忽憶先君昔患肝疾得蘇郡醫生阮仁昌治愈先君每稱其能乃稟知延請星夜著人赴蘇越五日而阮至診之日濕熱內蘊參藥姑緩乃用芩苓查樸等治痢之藥先君索方觀之深以為然命速煎余不能措一辭時已申分服後未及半時即覺氣促神亂延至亥刻遽爾見背嗚呼痛哉可見二載之一息綿存皆人參之力一旦受此耗散氣泄不能再續今日思之未嘗不飲泣而痛恨焉</p>
<p>余作醫話不過遣興非沾沾於五連六氣而言也適閱楊瑀山居新話載事死不以病而疑為病死余故話不涉醫而亦登醫話其略言錢塘韓介石巨室也延佑某年夏雷雨驟至令庖僮登樓閉窗雨過覓僮則已僵斃因疑中風猝死而觀身佩之刀絛鞘如故刃則銷鑠過半揚言其故殊不可解余謂此必雷死非病死也嘗見西人於高樓及藏火藥處每坎地豎鐵桿上比屋宇以引雷火流入地中而其旁必盡去五金大屬言能引雷由此證之是僮之死亦以刀鐵引雷人室而然也猝中雲乎哉</p>
<p>蘇郡葉天士良醫也有孫六齡發痘葉視之曰絕症無生理不必服藥其子婦只生一子不忍坐視因延兒科診之遂疏方進藥旬余病良已兒科頗自得謂其家人曰老先生道雖高究非專科臨症不多誤為逆候其子若婦亦甚德之以為乃翁固不若也葉聞謂其子曰兒痘果愈耶某先生力也當設筵演劇以酬其勞子遂折東招之兒科盛服往葉出眾客咸稱喜乃顰蹙曰喜恐不能終席耳眾初不解及開宴金鼓一聲兒嗷然哭遂絕葉乃嘆曰吾早知其必死也兒科恧然問放曰此兒先天既薄感氣又深不能外達今未兼旬勉強收結所泄乃陽明之毒也腎經所伏仍然不動聞震晌則心驚心火既動內迫腎水之火互沖毒即激發而莫可御矣兄科慚而退眾始服其識又我邑醫士王惠昭亦名冠一時四方求治者趾相接一日隨僕行郭外見隔溪一女子耘于田土熟視良久顧僕曰汝可跣足涉溪以泥水塗面突前緊執女手作拖其下水之勢任伊號哭不可捨去僕曰百步外有耕田者聞聲來救恐難脫身王曰有我在無害也僕如其言女大駭極聲呼救其父持挺狂奔而來王急止之曰是若女耶將發痘非此一驚無活理三日後必見點以驗我言其父雖未深信然素慕王名姑試之至期果然亟延診視且問故王曰此臂經痘也猝然震駭可使轉入心經今無妨矣遂為定方不兩旬而愈或曰二症皆發於腎經一則因驚致死一則因駭得生何皆言之驗也余曰葉子年幼質弱感氣既重正不勝邪毒伏不能外達故發即死村女身大氣旺一發即透透則生驚者皆欲觸其速發也然惟葉之能決其必死於初發之時王能取法於未發之際是非三折肱者其能如是哉</p>
<p>古人嘗以水火治病其效甚速如熨灸之類今尚有之以水療疾者世所罕見也接後漢時有婦人臥疾經年諸藥無效華佗令坐石槽中用冷水灌頂云當百始及半已冷顫欲死灌者懼而欲止佗弗許灌至七十覺有熱氣繼而氣若蒸釜水如沸湯滿百灌乃始溫褥厚被而臥醒來病若失矣又南史載將軍房伯玉服五石散因以致疾常覺寒悚雖夏月必披裘徐嗣伯診之曰伏熱也須以水發之然非冬月不可迨至十一月水滴成冰平旦令伯玉解衣坐石上取新汲冷水從頂澆之盡二十斛口噤氣絕家人啼哭請止嗣伯怒叱盡水百斛伯玉始能動背上彭彭有起曰熱不可忍乞冷飲嗣伯以水一升飲之疾頓愈自後肢體常暖冬月猶服單衣時珍曰此皆伏熱之證火鬱則發之必於冬月者蓋冬至後陽氣在內平旦亦陽氣方盛之所折之以寒使熱氣鬱遏至極而激發之米真人靈驗篇云有人患風疾掘坑令人解衣坐坑內以熱湯淋之良久以簟蓋之汗出而愈宗奭云四時暴泄肢冷腹痛令坐熱湯中浸至腹上頻頻揉擦生陽諸藥無速於此二者皆以水療疾冷熱雖殊其理一也</p>
<p>蜘蛛之毒甚於蛇蠍余嘗見友家一婢左臂為蛛所齒腫如甕痛極悶絕或令以羊血沖酒灌之使醉昏睡一日夜腫始退偶閱劉禹錫傳信方載判官張延嘗為斑蛛傷頸初不覺越宿首大如斗有二赤紋繞項下至心前幾至不救有方士取大藍汁入麝杳雄黃以蛛投之即化為水遂以汁點咬處兩日悉平本草言蜘蛛能制昊蚣蛇傷其性毒可知古方有蜘蛛散取能定幽暗之風以治陰疝吳門王晉三古方選注云蜘蛛有毒人咸畏之而長邑宰林公瑛山海衛人壯年調理方多用之久亦無害言有毒者或南北地異所產不同耳</p>
<p>物理相制多有不可解者顧但知真相制處亦可救一時之急鄰有幼孩為群蜂所螫頃刻腫甚或令搗芋艿縛之而消按沈括筆談言處士劉陽居王屋山時見一蜘蛛為蜂螫墜地其腹如鼓欲裂乃徐行人田間齒芋梗以瘡就磨之良久腹頓消然剛以芋治螫或亦本於此耳</p>
<p>乾隆初郡城某紳患腹痛發必昏厥勢甚危篤四方醫士延聘殆盡諸藥畢投竟無一驗乃榜示遍衢有能治者酬千金時淫歲試士子咸集郡中金邑有周生者性好博場後興發薄資盡罄招覆案發周不與同寓亦大半散去周坐困旅邸欲歸不得忽夢亡師某謂曰汝已得取不負此來周日昨已出案門生無分先生尚未知耶某日汝案在紅箋上周方欲再問某遽起日速取看案周醒以為妄想所致晨起無聊遂至貢院見案傍果有紅箋視之乃某官招醫帖也因思正無歸計姑就之倘有機會亦未可料遂貿煞往略一診祝詭言此症非湯藥可療必余手製靈廾方期有效納以翌日寓沈思必得一物庶可偽為丹藥因徘徊戶外見牆邊有半朽蒲包乃以黃土封個焚為灰分作數包袖以往日越兩時可一服不過三服病當愈然是非尋常藥肆中物價值昂貴必先稍償藥資主人言若有驗不靳重酬預咐不能應命周不得已爽然返寓越日有干僕數輩盜金而至日先生妙藥昨進二服即吐血一塊腹痛頓愈聊奉薄酬還求復診今病已根去靜養自蠻無須用藥余有急務欲歸不克再往為我謝覆可也時我邑楊介眉醫名重海內紳延伊調理稱周術之神楊令將所吐之物洗去血汙置清水頃之蠕蠕自動引之長四五寸乃一螞蝗也日此必飲水誤吞入腹幸未生子故得一吐而盡然私慕周之技乘閒往返登堂肅拜執弟子禮甚恭周駭日先生醫道誰不敬服樸素無學問何敢當此楊曰願聞所以知某紳之患而治之周見其誠遂實告楊曰蒲包灰尚有否周乃取餘次出楊當之日是已此鹽包也鹽能殺蛭故有此驗耳</p>
<p>古有防風粥以真珠蘭砰金犀取油萊五香稻為糜耳一孟價值一金白居易在翰林日上當賜一甌食之口香七日云可除風濕是亦芳香逐濕之意也</p>
<p>按粱州離記錫酷能消介類憶說部載有少年眼中昔見一鏡醫者言其吃鱠太多有魚鱗在胸致眼生花耳乃設芥醋一瓶令於飢時啜之疾遂愈又有為魚骨所硬幾廢飲食後服白錫而解證此則錫酷之可消介類其說信然</p>
<p>走方醫賣藥市中或日一日必療一病雖未必然而亦時有驗者邑有李跛開魚行於東門外自言幼時足背生細瘡數顆無甚痛苦絕不為意夏月赤足坐門首有走方醫目之日此非癬疥疾也毒發陽明已久亟宜外達不治常發腸癱此足廢矣伊父怒其妄而叱之進去不臉月病發醫藥半年始愈而足果廢可見走方祝由之類雖多以小術惑人訛取財物而於方藥所不能療之痼疾往往以符咒草藥取效即此亦見其非全妄也</p>
<p>曹吉云太史於道光乙巳釋褐旋里行抵山東其僕墜車折脛羈旅覽醫聞五十里外有某醫能治遂繞道訪之所居甚幽僻聚族數十家皆業農醫者年已半百鬚髮間白草履葛衫吐屬溫厚略詢邦族調行途遭此洵可憐也細視傷痕言骨雖斷尚可續先出藥水一匙令飲更以藥塗之約越日痛緩一月可瘥但必一年不可行遠始復故步耳酬以四金亦無不足意後果如期而愈可見僻壤荒村亦有能手即其舉重若輕而不矜其技是亦世俗所難耳嗣於友人席間談及此事濟南徐濟良太常言所飲之藥名木乃伊凡人骨斷得此能續既閱陶九成輟耕錄載天方國人有年七十八歲願捨身濟眾者即絕飲食日惟澡身啖蜜經月而便溺皆蜜既死國人殮以石棺仍用蜜滿浸鐫其年月識而痙之俟百年後起封則成蜜劑遇傷肢體者服少許立愈蓋即木乃伊也然甚可貴雖在彼國亦不易得云據此徐子所言信有囪矣</p>
<p>泰西醫士言善治跌撲損傷不知此技莫過於蒙古乾隆時越東俞孝謙澄北上墮車折斷脅骨四根蒙古醫生取驢骨易之束以帛牛年而愈惟戒終身弗食驢肉又齊次鳳侍郎趨直圓明園墜馬破腦腦漿流溢僅存一息延蒙古傷科治之刲羊腦以補之調藥末敷其外一日夜少蘇然視物皆倒懸以鼓於腦後敲數十槌視物始正閱八月而平復今中外醫人恐未必有此神技也</p>
<p>元明有剛哈刺咱慶王在上都嘗因墜馬致兩目黑睛俱無而舌出幾至胸諸醫束手時維廣惠司卿聶某言識此症乃以剪刀去其舌少頃復出一舌復去之並於兩旁各去一指許用藥塗之越夕而目睛如舊更無疾苦事見楊瑀山居新話謂聶某親與言之其剪下之舌尚存也按廣惠司乃回回醫人所隸聶某或曾見此症故能為之治惜當日元誠先生會未一詢其病由也</p>
<p>咸豐初黃嚴邑某賈於滬一夕偕友小飲歸時已三鼓倏有旋風颳地起風過葉仆地不起同伴扶掖回寓逾時氣絕其友徐姓者當謂餘日葉年壯盛氣體素強何病之驟而死之速也余曰此殆非病或因驚散生魂耳部是時尚可救否曰按本草以腰刀鞘二三寸燒灰服謂可救明年徐赴蘇郡泊舟黃渡晚餐方畢聞岸上喧呶聲往觀見一人倒地困詢其何病其家人曰本無疾苦因黃昏出門欲往友家行未牛里遽踣於此徐憶余言令以刀鞘試之移時漸蘇頃即起坐自言初至此聞樹頭鳥聲亂噪陰風起林間使人亳發皆豎忽來一巨人揮拳猛擊駭極狂竄正不識路繼聞前面鋒刃聲甚厲意巨人持械復來遂回身而走不知何以仍在此也觀此可見古書所載奇方異疾若治之得中罔無不驗者然此理甚微頗不易解嘗觀拮奇集載黑犬遍體無雜毛目如丹朱者名風夷能冶飛頭之疾初不知飛頭何疾閱搜神記吳時將軍朱桓一婢每夜臥頤輒飛去將曉復還又酉陽雜俎言嶺南溪洞中往往有飛頭者故有飛頭猴子之名頭飛一日前頭有痕匝項如紅縷妻子咸守之其人及夜狀如病頭忽離身而去將曉復還如夢覺云噫此固疾耶奇甚矣未識何中而得編闊諸書無從考證耳宋徐文伯入山採藥遇二老人鑿石取水自飲文伯渴甚欲乞一孟老人曰此玉液也非汝可飲過懇之授半盞方入口齒即相擊下咽覺冷不可耐一老曰何自苦乃爾遂摘樹葉三片使食食之即覺溫暖異常老人復授書一冊曰歸習之能療做人疾文伯暮年遂神其技嘗於路旁見一人倒地死腹大如甕文伯曰此人為爆蛇擊死氣雖絕神未離尚可活也乃取藥丸納其鼻孔頃之腹嗚便紲而蘇眾問所施何藥曰䲵角犀也按䲵角犀乃巨蛇角能解諸毒又明帝時有內侍患頭痛如破發即厥絕群醫以為風文伯曰此腦蛆也以藥點兩眼角頃則鼻中出蛆無數乃取以搗汁入藥少許令服日此腦蛆所化非此不能補耳自後病遂不發</p>
<p>時下庸淺醫梳有三惡習寫方作狂草用藥好奇異不問病情妄言知脈不知醫稱司命當如何鄭重而率意如此其道亦概可知矣耍知此輩固未會讀書識字略知藥性溫涼便欲以寒投熱恐人識其學淺而必強書脈案又慮多別字故作行草以混字跡不慮肆人莫辯不顧病者安危忍心大膽莫此為甚方中每用非習見之品有本草所不載者余當考其所本不但不明出處且未辨其氣味不知古人常用之藥不過數十昧如六君四物六味等百世不刊之方試問有異常之藥否聲色證形脈為五診故必聞聲棚色辨證察形復以脈合病情庶幾胸有成竹然亦有脈症兩歧者故前人有取症不取脈取脈不取症之義按人身脈絡肯乎天地流行達乎陰陽造化但可測其常不能盡其變也晉太醫令王叔和撰脈經猶未能盡泄其奧蓋脈理淵深惟求於微茫呼吸之間豈能瞭如指掌哉陶節庵日指下難明者真言也誇言遍曉者但能言而不能行也其所著傷寒全生集惟取浮中沈以分陰陽虛實病之傳變但求於動靜躁盛之間此亦宗仲景只別陰陽之義也</p>
<p>抱朴子曰服金者壽如金服玉者壽如玉然煉服之法失傳已久世人未得其術而輕試之淺則骨痿久則致命是欲延年而反促其壽矣後魏李預餐玉致疾謂其妻曰服玉者當屏居山林排棄嗜欲而我酒色不絕自致於死撲藥之過然雖死而屍體必當有異宜勿遽殮令人知餐服之功時在七月中長安毒熱如拂而屍停四日體仍不變日亦無穢昔人有臨死服玉層五筋死經三年膚殼如生者李時玲日服玉末不能令生者不死惟能使死者不朽耳</p>
<p>東坡晚年好燒煉之術冬與方外遊嘗遇靈智道人授以煉服丹法方於二至日常吸鼻液漱咽獨居淨案溺則封置瓷器中滿月開視當有細砂結其上如浮蟻然以絹濾取川新汲水淘淨棗肉為丸此名陽丹陰煉又取人乳入銀鼎慢火費煉如淡金色為丸此名陰丹陽煉蓋此二物須經煆煉始有陰陽相濟之功得成九轉還丹之力坡背謂靈智妙用沉機捷法非其人不輕泄也</p>
<p>成天地者氣也天地成而萬物生氣固為生牛之本凡血肉之物氣全則生氣盡剛死此自然之理術家有服氧之法不過能卻病延年亦不能令人不飢不食然接孔子家語食石者肥澤而不老食水者耐寒而若浮食肉者勇而悍食谷者智慧而夭食氣者神明而壽不食者不死而神是食氣固能不死也嘗闊宋人雜話嘉佑間河北大飢有民襁負一子覓食他方中傍迫於飢困逐棄子於空塚中歲定歸鄉過其處收埋殘骨則兒未死肥健愈於棄時塚中空無所有惟見蟾蜍大如車輪氣咻咻然自出穴中抱兒與之食不食六七歲肌膚如玉其父攜至京師以示兒科醫者言物之有氣者能蟄燕索蝦蟆之類是也能蟄則能不食而壽此千歲蝦蟆也兒得氣故不飢若聽不食終身不娶後必成道無須藥也東坡集亦載其事諒非子慮然思兒在塚中得其氣不死或然既比穴仍不貪不飢理殊不易解</p>
<p>昔在京邸遇東魯宋老人太常初年九十有四鬚髮皓然顏如童子下榻福清道院日惟靜坐一室三餐之外無所嗜好余會叩其攝生之術曰飲食但取益人毋求爽口弗食與體相妨之物自言幼時脾胃素弱故生平不食瓜果油膩炙煿雖佳品羅列未嘗朵頤故能保此殘年縱口腹而不自惜其身不可為智此言勝藥石余嘗志之</p>
<p>神農以赭鞭鞭百草盡去其毒而後辨其氣味察其寒溫著本草經三卷後雖漸積增加然至漢末亦僅傳三百六十五種至明柬璧氏匯諸諸家著綱目一書多至一千八百九十二種而歧誤亦多餘謂古書簡而多缺今書繁而多訛近惟澉水吳氏之從新去取適中便於檢閱宜為人所膾炙然屆今甫百年而品味已多變異甚至有是名而無是物肆中遂以他藥代之醫者但知某藥治某病泛取而浪用之貽誤尚有窮乎余不揣固鄙嘗欲明出處辨氣味詮真偽去所無補所缺更勒一書名曰本草時宜以切於用然必考證詳確而後筆之故二十年來僅得七十餘種今年逾周甲慮不能竟其事倘得假吾數年應於是書無憾云</p>
<p>人參在古本草云生土黨山谷及遼東形長而色黃狀如防風產百濟者形細而堅白氣味薄於上黨此皆言黨參也瀕湖李氏輯本草綱目廣收諸品而未及於參至我朝澉水吳氏訂從新一書始分人參黨參為兩種知明時尚無人參百濟新羅高厥等國來中土互市者皆上黨之類按談苑載邵化及為川國王治藥言參技極堅用斧斷之香馥一殿又航海續編云遼東有韃參色紅澤體實有心味甘微苦斷之有金並玉闌紋人啣之走氣息自若則都指人參而言矣時以中國未行敵不入內地國初始見用其名乃著於時嗣後採者多而產漸少入山柳無所得生棄其業逍光初近山家戶取子種之偽充山參遂以亂反漸至真者幾絕醫者以是物多偽亦將棄此勿用是亦參之一厄也今寧古臺參久已罕見惟船廠為上鳳以城次之鳳產質嫩而糖重故價亦較賤但昔以光圓短熟為佳今則以糙熟兼均為貴是又參之小變當觀甌北集云曩閱國史我朝以參貿高麗定價十兩一斤迨定鼎中原售者多而個慚貴然考康熙甲午查悔余謝挨愷功惠唐詩有十斤易一兩蓋是時參價不過十換乾隆十五年餘應京兆試慮精力不支以白金一兩六錢易參一錢二十八年因病服參則其價貴已過半三十年來何啻更增十倍云云按今之市價雖不甚相懸而物產則遠不如前矣余嘗悉心辨別始知是物真偽固非難識在今之醫士尋常草木尚不深求氣味況非習見之品有終其身未嘗一睹廬山面目者猶何可與言哉究之真非絕無特其價過昂識者亦罕故非富貴家素講服餌者鮮克知其味矣然於痘科產科及元氣欲脫之症實有起死回生之力斷非他藥所能代也憶昔某戚婦每產血必大下服參則止道光壬辰復娩時次參甚行某置兩許意十倍服之功力足以柑抵及服崩血愈甚氣竭欲脫急市山參一錢服之即止按參之功用固在諸藥之上行之中土百有餘年活人無算自為奸民私種以致魚目混珠遂見疑於世而勿用可不惜哉</p>
<p>經云五穀為養五蔬為充蔬者疏也所以佐穀氣而疏通壅滯也時珍日凡草木之可茹者為韭芥葵蔥藿五菜然菜固不止於五說原蔬植三百有六十綱目僅收一百五種餘俱不可考今民生日用之常更不及十之三四耳按蔬品惟蒜胡荽苜蓿漢時得之西域唐貞觀中泥婆羅國又獻菠稜菜渾提蔥至今傳種不絕近通泰西諸國其蔌果攜入內地土人寬種植之市以獲利而華人亦有以之充饌者今略擇數種辨其氣味以備考證卷心菜俗名哈唎菜葉卷如球色青經霜後微紅去數層內葉嫩黃脆美俟其皂放其大如蓋氣味廿平利腸清胃大抵似菘而味不及耳花菜來自花旗故名葉缺刻如細芥色淺黃味甘淡潤肺化痰性亦和平筍芽色白細長形加玉箸味淡微辛中實無節固非竹類士人因其形似筍芽故名之耳然南菘北植即化蕪菁今隔數萬里重洋而仍不失色味是亦不可解也</p>
<p>古人春食涼夏食寒以養陽秋食溫冬食熱以養陰此四時之宜以合陰陽而安六腑然天生果品亦以應候以益人如春生梅酸斂以平肝木夏生瓜甘寒以清暑熱秋生梨甘涼以肅肺金冬熟杞甘溫以益腎水此即經言五果為助五味五色以應五臟也</p>
<p>方伎之流以法取童女初行經水謂之紅鉛多方制煉以惑人而尤甚行於明末有術士制一粒丹用乳調勻使人仰臥從鼻灌之美其名曰進大藥朝貴多趨之李可灼紅丸之案即此物也按婦人月水咸熱有毒服之傷腦術士之言豈足信哉觀蕭了真金丹詩亦可悟矣</p>
<p>竹根木屑賢者注意世固無棄物也惟醫亦然苟明其意凡物皆可療疾如徐嗣伯嘗以棺中死人枕治屍疰石疣及多見鬼物均應手取效或問三症不同何皆用枕而瘥嗣伯曰屍疰鬼氣也伏而未起故令人沈滯以枕治之魂氣飛越不赴體矣石疣甚僻蟲性轉堅非藥力可遣因亦以鬼物驅散之至眼昏而見魍魎者邪氣入肝也以邪引邪固當用枕鉤之三者不相同而適相似得其意之所在而治之故皆驗也大抵自來以前未嘗用此嗣後靈鞋屍席與自縊死繩咸用以治病而本草亦收之耳</p>
<p>藥有雷丸之名本草謂與雷斧雷機畢霹靂擊物時精氣所化若埋於向陽之處數年後即大如卵堅如鐵矣按雷火本地中濕蒸之氣鬱久勃發隨地氣升池為陰中之陽雷丸得其餘氣故能除胃火散皮中結熱難久服則令人陰痿蓋亦性陰所致元至正間邑農家有老嫗為雷擊死頃之復甦日中含藥一丸吐以示人比鄰俞某意為神丹奪而吞之遂患喉痛物格格然若不化後因怒咳隨痰以出視之狀加李核質光潤而色黃斧擊不碎數年之咽痛遂止意此即雷丸之顯俞吞時其升騰之氣方盛迫火上炎故患咽痛迨為怒所激隨氣湧出物既去宜其病之頓失也</p>
<p>古無煙草昔閱入自海外得淡巴菰燃之以管吸其煙雲能闢瘴故明時徵滇軍中咸服之至我朝始盛行於內地今雖擔夫農工之輩無不備以供客按本草云其牲純陽能行能散故可化濕禦寒其氣入口頃刻而周一身令人通體俱快然火氣熏灼大損肺氣今之多患喉舌諸瘡未必非嗜煙所致近人慾避其火氣以銅為器置水於中使煙從水底起名曰水菸袋以為得既濟之法不知一吸三呼更傷氣分術生者還宜遠之</p>
<p>蜀地產椒分五色以按五行服餌家謂是草中之大丹煉服能堅齒髮調關節耐寒暑久則輕身益壽按椒性辛熱能損肺泄氣煉服亦非所宜今人因其馨香快膈每用以蘸食腥膽不知其肋火動血因以致病者夥矣漸寧陳彥生好食椒年未五十齒落過半此其驗也</p>
<p>諸凡含血之物其骨皆難長在人自胚胎至成人必二十年方堅骨髓惟麋鹿骨自生至堅不過兩月計一日夜能長數寸雖草木之易生猶不能及所以能堅筋骨強陽道益精髓舊有髓道士斑龍丸歌曰尾閭不禁滄海竭九轉靈丹都漫說惟有斑龍頂上珠能補玉堂關下穴其丸蓋鹿茸所合也但鹿則喜山而屬陽故夏至解角麋乃喜澤而屬陰故冬至解角今人採茸不分麋鹿豈知陰陽既別功用亦殊而可混用乎</p>
<p>四時草木應候而生採取亦必及時非其時則氣味異而功用亦差即血肉之品亦不宜生取以失其性嘗聞今之市麝臍者生而割之其香未蘊臍穢尚腥人藥多至損人按麝食芳草至冬香蘊於臍至春臍癢自以爪剔出採芳婦女拾以相贈馨香染袖經年不退名曰生香頗不易得今山中獵戶當取麝糞暴乾得麝生割臍香以糞實之或取飛虻去首足翅入臍封固久之香亦不散名日當門子是以一麝而獲五臍之利也虻且有毒不良可知以之和香料猶可若入藥餌不反有所損乎兒</p>
<p>今市賣有所謂酷鱉者云出普陀山似螺而扁大如豆粒言能催生產婦於臨蓐時吞之兒即持以出然余嘗試之恰無驗也按海槎余錄謂是相思子生海中好事者取藏篋笥終歲不壤出投醋中則能轉旋不已而無催生之說據此蓋耍物耳正如閩部疏載莆田所產小白石狀如杏仁擘之腹文如蟲取兩石離立碟中須臾自相迎合名曰雌雄石近亦有市賣者謂其能治目疾且可合媚藥其價故甚昂貴而不知其藉此愚人亦無佐驗也</p>
<p>木鱉子本草言其無毒能治瀉痢疳積而發明下又載薊門人有二子服此俱斃特著為戒近聞南門外有農人曹某年已半百子僅九齡患腹痛時發時止經年不愈或言此疳積木鱉可療曹即市五文盡數煎與其子服不逾時乃顫筋弛骨節盡解而死按木鱉有兩種一產南中形細而底凸又名木蝨子昔人用以治痢審其牲味不過苦參子之類耳此種今已絕少現肄中所賣者皆番本鱉出回回國外科嘗用以傳瘡服之能殺人切勿人藥以嘗試也</p>
<p>夏子益曰天地山川樹木皆有脂此係陰陽氣化之餘結而成髓飲天脂者成上仙地脂成地仙山川樹木之脂壽俱無量鬼谷子語仙錄云取天脂須於危峰絕頂人跡罕到之處置金髮明珠每於寅卯之交往採有清露即傾去得漿色白芳香不散味極清甘者是也地脂於地脈流行聚合之處從上湧出不收仍人地大抵天地之脂每六十年一泄山脂即鐘乳石之類鍾乳乃石之汁液脂其髓也水脂出大海中高噴百丈還落水中介類吞之得為神樹脂數千老樹枯而復榮者再始有脂能化瓔兒遊行不定頗不易得方鎮編年載高展為幷州判官一日見砌間沫出以手撮之試塗一老吏面上皺皮頓改顏色如少展問承天道士曰此名地脂食之不死展乃發磚已無有矣</p>
<p>國朝康熙間順德有民入山樵採忽聞樹頂有兄啼聲仰視見古木上有氣縷縷如煙飛鳥過之皆墮斫祝其中有人狀類凝脂問之不應拂之則笑一同伴曰此名樹脂非惡物也遂蒸食食已覺熱尋浴溪中肉盡潰裂死而余謂仙佛之書大都渺茫固不足信凡異常之物智者不食信然</p>
<p>使君子之名相傳有潘州郭使君療小兒腹痛每用此取效因有是稱按小兒腹痛蟲患為多而凡殺蟲藥多苦辛惟使君子味甘孩提服餌不損脾胃故尤相宜也至世俗謂蟲無盡殺殺盡則無以消食此真愚俗之言李時珍嘗譬之樹有蠹屋有蟻國有盜是福是禍不問可知矣余亦謂修養之家必以去三尸即此類推蟲固宜殺而不宜留也今人好食白淪雞子言能安五臟益氣血而不知且頗不易化非煮之極熟多致停滯南史載李道念一病五年屢治未效丞相褚澄診之曰非冷非熱當是過食白淪雞子耳煮蒜令食遂吐一物形如卵視之雛雞也翅足俱全澄曰未盡以蒜更吐之計出十二枚而愈李時珍嘗見一朝貴每晨必進雞子數枚久而無恙因詢其庖此外尚有何好庖言食不撒蒜李曰頓有此耳觀此足知是物不宜多食而蒜之能消肉積益信然矣</p>
<p>釋道家有五辛之禁道以韭薤蒜蕓薹胡荽為五葷而釋家則葫小蒜興渠慈蔥茗蔥也所禁雖有異同煞皆辛熏之品生食增恚熟食發淫以其有捐性靈故屏絕也</p>
<p>絲瓜本蔬中佳品世俗相傳其性至寒食之敗陽按本草言甘平能除熱利腸解毒通絡而生生編又謂暖胃助陽余嘗考其性味不過甘涼之品因其涼血故治腸風崩漏其絡貫串如人脈絡故能通絡其質軟滑故曰敗陽暖胃之說抑何反也　狗蠅牛蝨古方未嘗用之而近世醫家每以此治痘蓋出齊柬野語周密言同僚括蒼陳坡老懦也其孫三歲出痘半漿倒□勢已不治遇一士授藥少許服之移時即紅潤乃乞其方以壽仳蓋用狗蠅和醅以酒調服耳按藥中蟲蟻不過取其飛揚走散之功故多施於傷科外症以通血閉痘症全賴氣血以成漿結痂元虛之症當以參耆培養元氣切勿以此為法也</p>
<p>當見幼科取青蒿中蟲和藥以治小兒急慢驚風古方未見用此惟保嬰集極言其功效井有詩云一半硃砂一半雪其功只在青蒿節任教死去也還魂服時須用生人血蓋用硃砂和之乳汁點服也</p>
<p>今人冬月每以酒和牛乳燉食而薛立齋言酒不可與乳同飲則乳汁下咽得酒則凝頗不易化若以酒燉食乳已熟而成塊本無害他胡小園太守晨起食乳不耐膻氣急呼酒飲遂覺膈間痞悶一日夜不思飲食服神面麥孽俱無效余令取酥奧消導藥服之遂愈酥本乳之精華得同氣以相引故易取效也世言楙有百益一損梨則百損一益按楙即木瓜不過藉酸澀之性得以舒筋伐本豈若梨之甘能養胃涼可清心潤燥化痰除煩解熱且渙風邪而消癰毒哉嘗閱陳鵠耆舊續聞載湖南崔孝廉道出泗州聞呂某精太素脈俾診之呂曰君來年可得官秋髮癰毒不可治崔求預處一方呂謝不能固請之乃曰京師有大馬劉者可訪也明年崖果登第遂訪劉劉令日啖梨至一一百餘顆乃偏生小瘡而無他患又類編載有士人狀若有疾厭厭然曰無聊賴醫者楊吉老診之言氣血為熱鑠此去三年當以疽死士人慮之間茅山有羽士能醫不輕為人治乃易青衣投執薪水役乃以實告道士亦令食梨而愈考經疏言膏粱之家厚味膿酒縱肆無節不病痰火必有癰疽卒中之患惟頻食佳梨能轉重為輕變危為安據此則梨之功用甚大損益之說抑何相反如此耶腰膝無力腎氣不足也粟形如腎故能補腎虛每於冬月以袋盛生慄懸高處干之晨起吃數顆再以豬腎粥助之久則奇效然須細嚼連液吞嚥若頓貪至飽反致傷脾滯氣蘇子由詩老去自添腰腳病山翁服慄舊傳方客來為說晨興後三咽極收白玉漿是得食慄之訣矣</p>
<p>櫻桃味甘性熱故王雖有飽食不須悉內熱大官還有蔗漿塞句張子和言舞水一富家有二子好貪紫櫻日啖一二升半月後長者發肺痿幼發肺癰相繼而殤嗟乎天生百果所以養入倘縱其嗜欲反滋其害邵堯夫云爽口物多終作疾真格言也</p>
<p>蓬□氣味苦辛功專殺伐古人用之必雜以參朮慮其耗氣也令人用以破積滯治胸脅諸痛取其能散氣中之血耳而好古言亦能益氣然審其性味亦猶厚朴檳榔之類益氣之脫切勿輕信本草載王執中久患心睥痛服醒脾藥反脹用篷術泡以水酷煎服立愈余謂脘痛每多肝木犯胃篷術苦辛泄降兼之醋味酸收正合治肝之法是以效也</p>
<p>元素日芎藭上行頭目下行血海能散肝經之風為少陽厥陰血虛頭痛之聖藥余按芎藭性味辛溫以佐地芍而使不寒不滯故四物湯用以為使此如六味之有澤瀉也其非導任之品可知矣今人每用以為君治少陽厥陰症不知陰弱之人多虛熱挾肝膽之火上炎而致嘔逆痰咳頭痛氣喘是宜甘緩育陰而使火風自滅豈可以升散之品以助其勢乎虞搏謂骨蒸多汗及氣弱者不可久服穹藭能令真氣走泄而陰愈虛也李時珍曰芎藭肝經藥也若單服久服則辛香歸肺肺氣偏勝金來賊木而肝必受邪久則偏絕使人夭亡故醫者貴乎格物也</p>
<p>昔人言生薑調中益胃能除肺經諸病而為嘔家聖藥按姜性辛溫用以宣肺氣開塞痰平嘔逆若為肺胃必需之品則不然蓋胃為陽土性喜甘柔肺應秋金亦宜清肅辛散之品恐非所宜余謂但可用以醒胃不當用以益胃或問本草言夜間勿食姜食之令人氣閉何也曰肺以氣順為安臥則氣血寧靜若以辛溫助之使痰氣上壅而阻氣道諺云早除籮卜夜除姜亦此意也</p>
<p>牡蠣一名蠔山附石而生傀儡相連加房故亦名蠣房以是海氣所化體用皆陰本草故言能治虛損煩熱余嘗用以潛陽較勝於鰒陶隱居木通典老鵰入海化為城云是百歲雕所化按城即螺在然蠣生石間堅實不動類雖屬介迥異螺蚌說恐未然近人疏方每書左牡蠣蓋以方面為牡也陳海藏當非之謂是鹹水結減塊然不動陰陽之道何由而生但考南州志蠣房贊亦有牝牡異斑句似牝牡又可以斑辨矣顧余嘗驗之所謂左右者以其附石不移順流旋轉水激成紋非有雌雄之別也</p>
<p>蟹為江鄉美品而吳俗尤多嗜之每至三秋不撤此味昔人言蟹能解結散血故其字從解言考其性味鹹寒能動風耗血味雖美多食恰能捐人埤雅言未被霜者不可食昔余家治屋工人掘地陳滿獲一巨蟹重斤餘烹食之夜半腹大痛洞泄而死蟹譜震澤漁者網得蟹其大如斗以螯剪網皆斷怒欲烹之其侶有老於漁者曰嘗間龜蟹之殊顯者是江湖之使烹必有禍乃令釋之然凡物之異於常者食多傷人豈獨龜蟹而已哉</p>
<p>菌之類種甚多問粵間人所植楠木沃以米汁而生者名曰香菌乃可充饌若生墟落穢濕之地則本鬱蒸之氣所化其性多毒食之殺人我邑新橋鎮昔有農人於竹園中得鮮菌數枚甚肥白煮而食之竟以腹瀉死憶道光巳西春淫兩經月偏地生菌友人謝月屏家於庭角忽生一菌大加盆色淺紅其紋淺有鳥獸形謝以為瑞芝邀余往觀余曰此毒菌也不久常萎越夕果漸小未幾而蕉謝人咸以為芝而余獨日菌且知其敗之速謂必有所見余曰當閱珍珠船所載李涼公鎮朔方時畊氓於園樹下產二本大數尺上有機臺中間二隻對博併成三字曰朝榮觀公聞而疑之乃令氓掘其地僅三四尺即有巨蟒穴其下目光如鏡口吐沫成菌今觀君家所生疑即此類見背有蓑紋故知非芝以氣化必易萎也</p>
<p>閩產桂圓味甘肉厚能悅胃養螢凡勞損心脾而血耗者宜食之因其形如龍口故又名龍眼道家每取肉細嚼待滿口生津淚淚下咽名飲玉泉余嘗試之頗益昔華亭陸平泉宗伯享壽百齡日惟食龍眼數千飲食如少時然其昧過甘多食令人中滿有痰熱者亦似不甚宜也初摘鮮蓮氣清味甘能和中養心氣煮粥食之益人腸胃昔人言生食須去心否則恐患霍亂按蓮子中青心能清心去熱霍亂之說不知何據惟今肆中所賣石蓮產粵東味上其味大苦會見食之而作嘔者今人每用以治痢誤矣</p>
<p>側柏代茗別有一種清芳之氣當春末夏初嫩葉方長時採服之能除風濕但其性味苦燥非壯水之品而丹溪以為補陰要藥說恐未然咸豐癸丑洞庭陸秋谷販於陝遇盜遂入山谷行數里杳無人跡忽聞林間人語周視恰無所見惟有大柏一株枝幹修偉高出雲際時腹中甚餒因採葉食之遂忘飢渴今年逾周甲鬚髮未斑步履飲啖一如少時每言食柏之驗曩閱航海續編廣成子取雲陽液以療世人疾苦雖垂死可活初不知雲陽液為何物後觀抱朴子山中樹能人語者非樹能語乃雲陽為之注云陽樹精也陸之所食或即此耳王宇泰云病酒者當服枳椇按枳椇一名木蜜又名金鉤樹似白楊其子著枝端長才盈寸駢生如指屈曲相連春生秋熟霜後味甘如飴昔人有造酒庫而以枳棋木架屋者其後一室之酒皆淡薄無味乃余少時會傷酒發熱取汁服之反覺中滿是或味甘所致耳</p>
<p>鴆毒鳥也邕州朝天鋪及深山處有之其種有一二大如鴉黑身赤目一大如鸚毛紫綠色頭長七八寸雄曰經日雌曰陰諧聲羯鼓如遇毒蛇則嗚聲邦邦蛇入石穴禹步作法石裂蛇出秋冬解羽蟄穴熏之出走聽絃而斃以法取膽著銀瓶倘染指指即斷用作毒矢著人立死鴆羽瀝酒犀角即解凡鴆穴處必有犀天地所以制殺機也</p>
<p>蘇郡某世業藥材精於辨別同業咸推巨眼同治間賈於滬有航海客攜羼角一箱托售某開視遂邀同市共觀曰此名天馬角偽物也以此販楚鄂間可獲利十倍然殺人亦如之餘若不言恐售偽者踵至且慮嗣後無識者害何底止遂以百金易之對眾焚燬客甚感愧</p>
<p>冬季取大鯖魚膽人川良未懸壁問俟干取末以治咽喉之疾而酈湛若赤雅又云其膽治目功比空青魚大膽小者上魚大膽大者次之魚小膽大者下矣粵東花縣漁者得魚到縣親剖官稅其膽始敢出市聞私者杖故其詩有金環殉吉鷯花縣稅鯖魚之句今藤江所市者皆以鯇膽灌黃藤膏偽為之耳辨之不精必見笑於魚目矣</p>
<p>杜詩豈無青精飯使我顏色好青精一名南天燭又名墨飯草用以煮反色純黑仙經云草木之正氣與神通食青燭之精命不復殞是也</p>
