<header data-type="book">
<h1>古方分量考</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>平井氏</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>—平井氏分量考曰。夫物各有極本。劑者。藥方之極者也。其然故東洞氏分割本劑。而考其宜定之銖兩。而記之以國秤。於此乎仲景氏之定方。如可行之於今日。甚便於醫。然韞匱而不沽。余患傳寫之久其泯焉。故校讎遂上木云。</p>
<p>—一錢盞漢一升也。今之一合弱也。何以言之。行葦詩云。洗爵奠斝注云。斝爵也。夏曰醆。殷曰斝。周曰爵。馬融曰一升曰爵。可以知考字書盞琖醆同。</p>
<p>—一方寸匕。平井氏分量考曰。一方寸匕之散為蜜丸。梧桐子之以得十丸。為律也。</p>
<p>—一錢匕。又曰一錢匕之散以蜜丸之梧桐子大。以得五丸為律也。後世稱一錢匕者。今之一錢。一平井氏醫。衡曰。大烏頭煎。烏頭湯。烏頭桂枝湯。三方如法。不可曰再服。惟經驗之言。宜書諸紳。</p>
<p><u>寬政五年癸丑孟春</u></p>
<p><u>貞庵山人識</u></p>

<h1>正文</h1>
<p>桂枝湯　治上衝。頭痛。發熱。汗出惡風者。</p>
<p>桂枝　芍藥　大棗　生薑（各七分半）　甘草（五分）</p>
<p>上五味。以水一盞四分。煮取六分。</p>
<p>桂枝加桂湯　治本方證。而上衝劇者。</p>
<p>於本方。加桂五分。</p>
<p>上煮法同前。</p>
<p>桂枝加芍藥湯　治本方證。而腹拘攣甚者。</p>
<p>桂枝　大棗（各六分）　芍藥（一錢二分）　甘草（四分）　生薑（六分）</p>
<p>上煮法同前。</p>
<p>桂枝去芍藥湯　治本方證。而不拘攣者。</p>
<p>桂枝　大棗（各九分）　甘草（六分）　生薑（九分）</p>
<p>上煮法同前。</p>
<p>桂枝加葛根湯　治本方證。而項背強急者。</p>
<p>桂枝　芍藥（各六分）　甘草（四分）　葛根（八分）　大棗　生薑（各六分）</p>
<p>上六味。以水二盞。煮取六分。</p>
<p>桂枝加黃蓍湯　治本方證。而黃汗。若自汗盜汗者。</p>
<p>桂枝　芍藥　生薑　大棗（各六分）　甘草　黃蓍（各四分）</p>
<p>上六味。以水一盞六分。煮取六分。</p>
<p>栝蔞桂枝湯　治本方證。而渴。</p>
<p>栝蔞根（四分）　桂枝　芍藥　大棗　生薑（各六分）　甘草（四分）</p>
<p>上六味。以水一盞八分。煮取六分。</p>
<p>桂枝加芍藥大黃湯　治桂枝加芍藥湯證。而有停滯者。</p>
<p>桂枝　生薑（各六分）　大黃（二分）　大棗（六分）　芍藥（一錢二分）　甘草（四分）</p>
<p>上六味。以水一盞四分。煮取六分。</p>
<p>桂枝加厚朴杏子湯　治本方證。而胸滿微喘者。</p>
<p>桂枝　芍藥　大棗　生薑（各六分）　甘草　厚朴　杏仁（各四分）</p>
<p>上七味。以水一盞四分。煮取六分。</p>
<p>烏頭桂枝湯　治腹中絞痛手足逆冷或不仁或身疼痛者。</p>
<p>烏頭（一錢五分）</p>
<p>上一味。以水六勺。煮取二勺。去滓。內蜜四勺。煮取二勺。作桂枝湯二勺。合服之。</p>
<p>桂枝加附子湯　治本方證。而惡寒。或支節微痛者。</p>
<p>桂枝　芍藥　大棗　生薑（各七分半）　甘草（五分）　附子（三分半）</p>
<p>上六味。以水一盞四分。煮取六分。</p>
<p>桂枝去芍藥加附子湯　治桂枝去芍藥湯證。而惡寒者。</p>
<p>桂枝　大棗（各九分）　甘草（六分）　生薑（九分）　附子（四分半）</p>
<p>上煮法同前。</p>
<p>桂枝附子湯　治桂枝去芍藥湯證。而身體疼煩。不能自轉側者。</p>
<p>桂枝（一錢）　附子（一錢一分半）　大棗　生薑（各七分半）　甘草（五分）</p>
<p>上五味。以水一盞八分。煮取六分。</p>
<p>桂枝附子去桂加朮湯　治本方證。而大便硬。小便自利。不上衝者。</p>
<p>術（八分）　附子（九分）　甘草（四分）　大棗　生薑（各六分）</p>
<p>上煮法同前。</p>
<p>桂枝去桂加苓朮湯　治桂枝湯證。而悸。小便不利。不上衝者。</p>
<p>芍藥　大棗　茯苓　術　生薑（各六分）　甘草（四分）</p>
<p>上六味。以水一盞四分。煮取六分。</p>
<p>桂姜草棗黃辛附湯　治桂枝去芍藥湯。麻黃附子細辛湯。二方證相合者。</p>
<p>桂枝　生薑　大棗（各六分）　甘草　麻黃　細辛（各四分）　附子（三分）</p>
<p>上七味。以水二盞。煮取六分。</p>
<p>桂枝去芍藥加皂莢湯　治桂枝去芍藥湯證。而吐濁唾涎沫者。</p>
<p>桂枝　生薑　大棗（各七分半）　甘草　皂莢（各五分）</p>
<p>上五味。以水一盞四分。煮取六分。</p>
<p>桂枝加龍骨牡蠣湯　治桂枝湯證。而胸腹有動者。</p>
<p>桂枝　芍藥　生薑　大棗　龍骨　牡蠣（各六分）　甘草（四分）</p>
<p>上七味以水一盞四分煮取六分。</p>
<p>桂枝加芍藥生薑人參湯　治桂枝湯證。而心下痞鞕。或拘攣及嘔者。</p>
<p>桂枝　大棗　人參（各六分）　生薑　芍藥（各八分）　甘草（四分）</p>
<p>上六味。以水二盞四分。煮取六分。</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣湯　治桂枝去芍藥湯證。而胸腹動劇者。</p>
<p>桂枝　大棗　生薑　蜀漆（各六分）　牡蠣（一錢）　龍骨（八分）　甘草（四分）</p>
<p>上煮法同前。</p>
<p>桂枝二麻黃一湯　治桂枝湯證多。麻黃湯證少者。</p>
<p>桂枝（八分半）　芍藥　大棗　生薑（各六分半）　麻黃（三分半）　甘草（五分半）　杏仁（三分半）</p>
<p>上七味。以水一盞半。煮取六分。</p>
<p>桂枝二越婢一湯　治桂枝湯證多。越婢湯證少者。</p>
<p>桂枝　芍藥　甘草　麻黃（各四分半）　大棗　石膏（各六分）　生薑（七分）</p>
<p>上煮法同前。</p>
<p>桂枝麻黃各半湯　治桂枝湯。麻黃湯。二方證相半者。</p>
<p>桂枝（五分）　芍藥　生薑　甘草　麻黃　大棗（各三分）　杏仁（三分）</p>
<p>上七味。以水一盞六分。煮取六分。</p>
<p>小建中湯　治裡急腹皮拘急。及急痛者。</p>
<p>芍藥（一錢二分）　桂枝　甘草　大棗　生薑（各六分）　膠飴（三錢二分）</p>
<p>上六味。上五味以水一盞四分。煮取六分。去滓內膠飴。更上微火消解。</p>
<p>黃蓍建中湯　治本方證。而盜汗或自汗者。</p>
<p>於本方。加黃蓍三分。</p>
<p>上煮法同前。</p>
<p>黃蓍桂枝五物湯　治桂枝湯證。而嘔。身體麻痹。不急迫者。</p>
<p>黃蓍　芍藥　桂枝　大棗（各七分半）　生薑（一錢半）</p>
<p>上五味。以水一盞八分。煮取六分。</p>
<p>黃蓍桂枝苦酒湯　治身體腫。發熱汗出。汗沾衣色正黃如藥汁者。</p>
<p>黃蓍（一錢二分半）　芍藥　桂枝（各七分半）</p>
<p>上三味。以苦酒二分。水一盞四分。煮取六分。</p>
<p>桂枝甘草湯　治上衝急迫者。</p>
<p>桂枝（二錢）　甘草（一錢）</p>
<p>上二味。以水一盞八分。煮取六分。</p>
<p>半夏散及湯　治咽喉痛。上衝急迫者。</p>
<p>半夏　桂枝　甘草（各一錢）</p>
<p>上三味。搗篩。以水一盞。煎七沸。內散。更煮三沸。少少飲之。</p>
<p>桂枝甘草附子湯　治桂枝甘草湯證。而骨節煩疼。小便不利者。</p>
<p>甘草　術（各六分）　附子（九分）　桂枝（一錢二分）</p>
<p>上四味。以水一盞二分。煮取六分。</p>
<p>桂枝甘草龍骨牡蠣湯　治胸腹有動急迫者。</p>
<p>桂枝（四分）　甘草　龍骨　牡蠣（各八分）</p>
<p>上四味。以水一盞二分。煮取六分。</p>
<p>桂枝人參湯　治人參湯證。而上衝急迫劇者。</p>
<p>桂枝　甘草（七分半）　人參　術　乾薑（各六分）</p>
<p>上四味。以水一盞八分。煮取一盞。內桂枝煮取六分。</p>
<p>人參湯　治心下痞鞕。小便不利。或急痛。或胸中痹者。</p>
<p>人參　術　甘草　乾薑（各七分半）</p>
<p>上四味。以水一盞六分。煮取六分。</p>
<p>茯苓甘草湯　治心下悸。上衝而嘔者。</p>
<p>茯苓　桂枝（各一錢）　生薑（一錢半）　甘草（五分）</p>
<p>上四味。以水一盞二分。煮取六分。</p>
<p>茯苓杏仁甘草湯　治悸。而胸中痹者。</p>
<p>茯苓（一錢半）　杏仁（一錢）　甘草（五分）</p>
<p>上三味。以水一盞二分。煮取六分。</p>
<p>茯苓戎鹽湯　治心下悸。小便不利者。</p>
<p>茯苓（二錢四分）　術（六分）　鹽（一分半）</p>
<p>上三味。以水一盞二分。煮取六分。去滓內鹽令消。　私曰。平井氏分量考曰。戎鹽一名青鹽。漢渡只一種。今不易得。無已。則可以食鹽代用。又曰食鹽可用。出於播州赤穗者。</p>
<p>葵子茯苓散　治小便不利。心下悸。腫滿者。</p>
<p>葵子（一斤　私曰今之四十八錢弱）　茯苓（三兩　私曰今之九錢弱）</p>
<p>上二味。為散。飲服方寸匕。日三服。</p>
<p>苓薑朮甘湯　治心下悸。小便自利。腰中冷如坐水中。若痛重形如水狀者。</p>
<p>術　甘草（各四分）　乾薑　茯苓（各八分）</p>
<p>上四味。以水一盞。煮取六分。</p>
<p>苓桂朮甘湯　治心下悸。上衝。起則頭眩。小水不利者。</p>
<p>茯苓（一錢）　桂枝（七分半）　術　甘草（各五分）</p>
<p>上四味。以水一盞二分。煮取六分。</p>
<p>苓桂甘棗湯　治臍下悸。而攣急上衝者。</p>
<p>茯苓（一錢二分）　甘草（四分半）　大棗（五分半）　桂枝（六分）</p>
<p>上四味。以水二盞。煮取六分。</p>
<p>苓桂五味甘草湯　治心下悸。上衝。咳而急迫者。</p>
<p>桂枝　茯苓（各八分）　甘草（六分）　五味子（一錢二分）</p>
<p>上四味。以水一盞六分。煮取六分。</p>
<p>苓甘五味姜辛湯　治前方證。而不上衝。痰飲滿者。</p>
<p>茯苓（六分）　甘草　乾薑　細辛（各四分半）　五味子（九分）</p>
<p>上五味。以水一盞六分。煮取六分。</p>
<p>苓甘姜味辛夏湯　治前方證。而嘔者。</p>
<p>茯苓（六分）　甘草　細辛　乾薑（各三分）　五味子　半夏（各九分）</p>
<p>上六味。以水一盞六分。煮取六分。</p>
<p>苓甘姜味辛夏仁湯　治前方證。而微浮腫者。</p>
<p>甘草　乾薑　細辛（各三分）　杏仁　半夏　五味子（各六分）　茯苓（四分）</p>
<p>上七味。以水二盞。煮取六分。</p>
<p>苓甘姜味辛夏仁黃湯　治前方證。而腹中微結者。</p>
<p>於前方。加大黃三分。</p>
<p>上煮法同前。</p>
<p>茯苓澤瀉湯　治心下悸。小便不利。上衝及嘔吐。渴欲飲水者。</p>
<p>茯苓（一錢二分）　澤瀉（六分）　甘草　桂枝（各三分）　術（四分半）　生薑（六分）</p>
<p>上六味。以水二盞四分。煮五味取六分。內澤瀉更煮。取六分。</p>
<p>澤瀉湯　治苦冒眩小便不利者。</p>
<p>澤瀉（二錢半）　術（一錢）</p>
<p>上二味。以水一盞二分。煮取六分。</p>
<p>五苓散　治消渴小便不利。若渴欲飲水。水入則吐者。</p>
<p>澤瀉（一錢）　茯苓　豬苓　術（各六分）　桂枝（四分）</p>
<p>上五味。為散。白飲服方寸匕。</p>
<p>茵陳五苓散　治發黃。兼前方證者。</p>
<p>茵陳蒿（十分　私曰今之七錢五分弱）　五苓散（五分　私曰今之三錢七分五釐弱）</p>
<p>上二物。和服方寸匕。日三服。</p>
<p>豬苓湯　治小便不利。若淋瀝。若渴欲飲水者。</p>
<p>豬苓　澤瀉　茯苓　滑石　阿膠（各六分）</p>
<p>上五味。上四味。以水一盞二分。煮取六分。內膠令消。</p>
<p>豬苓散　治渴而心下悸。小便不利者。</p>
<p>豬苓　茯苓　術（各等分）</p>
<p>上三味。為散。飲服方寸匕。日三。</p>
<p>牡蠣澤瀉散　治身體水腫。腹中有動。渴而小便不利者。</p>
<p>牡蠣　澤瀉　栝蔞根　蜀漆　葶藶　海藻　商六（各等分）</p>
<p>上七味。為末白飲。和服方寸匕。日三服。</p>
<p>八味丸　治臍下不仁。小便不利者。</p>
<p>乾地黃（八兩　私曰今之二十四錢弱）　山茱萸　薯蕷（各四兩　私曰今之十二錢弱）　茯苓　牡丹皮（各三兩　私曰今之九錢弱）　桂枝　附子（各一兩　私曰今之三錢弱類聚方曰外臺秘要作桂枝二兩附子二兩今從之）　澤瀉（三兩　私曰今之九錢弱）</p>
<p>上八味。末之。煉蜜和丸。梧子大。酒下十五丸。日再服。</p>
<p>栝蔞瞿麥丸　治心下悸。小便不利。惡寒而渴者。</p>
<p>栝蔞根（二兩　私曰今之六錢弱）　茯苓　薯蕷（各三兩　私曰今之九錢弱）　附子（一枚　私曰今之四錢五分弱）　瞿麥（一兩　私曰今之三錢弱）</p>
<p>上五味。末之。煉蜜丸。梧子大。飲服三丸。日三服。</p>
<p>麻黃湯　治喘而無汗。頭痛發熱惡寒。身體疼者。</p>
<p>麻黃（一錢二分）　桂枝（八分）　杏仁（一錢二分）　甘草（四分）</p>
<p>上四味。以水二盞四分。煮取六分。</p>
<p>麻黃加朮湯　治本方證。而小便不利者。</p>
<p>麻黃（七分半）　桂枝（五分）　杏仁（七分半）　術（一錢）　甘草（二分半）</p>
<p>上五味。以水二盞二分。煮取六分。</p>
<p>麻黃甘草湯　治喘急息迫。或自汗。或不汗者。</p>
<p>甘草（一錢）　麻黃（二錢）</p>
<p>上二味。以水二盞。煮取六分。</p>
<p>麻黃附子甘草湯　治前方證。而惡寒。或身微痛者。</p>
<p>甘草　麻黃（各一錢）　附子（七分半）</p>
<p>上三味。以水一盞四分。煮取六分。</p>
<p>麻黃杏仁甘草石膏湯　治麻黃甘草湯證。而咳煩渴者。</p>
<p>麻黃（一錢二分）　杏仁（六分）　甘草（六分）　石膏（二錢四分）</p>
<p>上四味。以水二盞。煮取六分。</p>
<p>麻黃附子細辛湯　治麻黃附子甘草湯證。而不急迫。有痰飲之變者。</p>
<p>麻黃　細辛（各一錢）　附子（七分半）</p>
<p>上三味。以水二盞。煮取六分。</p>
<p>麻黃杏仁薏苡甘草湯　治麻黃杏仁甘草石膏湯證。而不煩渴。有水氣者。</p>
<p>薏苡仁（二錢）　甘草（五分）　麻黃（一錢）　杏仁（五分）</p>
<p>上四味。以水一盞半。煮取六分。</p>
<p>牡蠣湯　治麻黃甘草湯證。而胸中有動者。</p>
<p>牡蠣（一錢）　甘草（五分）　麻黃（一錢）　蜀漆（七分半）</p>
<p>上四味。以水二盞四分。煮蜀漆麻黃得一盞八分。內二味。煮取六分。</p>
<p>麻黃醇酒湯　治喘而發黃。或身疼者。</p>
<p>麻黃（三錢）</p>
<p>上一味。以清酒一盞二分。煮取六分。頓服。</p>
<p>半夏麻黃丸　治喘而嘔者。</p>
<p>半夏　麻黃（各等分）</p>
<p>上二味末之。蜜丸。小豆大。飲服三丸。日三。</p>
<p>大青龍湯　治喘及咳嗽。渴欲飲水。上衝。或身疼惡風寒者。</p>
<p>麻黃（一錢二分）　桂枝　甘草（各四分）　杏仁（四分）　石膏（一錢六分）　生薑　大棗（各六分）</p>
<p>上七味。以水一盞八分。煮取六分。</p>
<p>小青龍湯　治咳喘上衝。頭痛發熱惡風。或乾嘔者。</p>
<p>麻黃　芍藥　甘草　乾薑　桂枝　細辛（各三分）　半夏　五味子（各六分）</p>
<p>上八味。以水二盞。煮取六分。</p>
<p>文蛤湯　治煩渴。而喘咳急者。</p>
<p>文蛤（一錢）　麻黃　甘草　生薑（各六分）　石膏（一錢）　杏仁（四分）　大棗（六分）</p>
<p>上七味。以水一盞八分。煮取六分。</p>
<p>越婢湯　治大青龍湯證。而不咳嗽。上衝者。</p>
<p>麻黃（一錢二分）　石膏（一錢六分）　甘草（四分）　生薑（六分）　大棗（七分半）</p>
<p>上五味。以水一盞二分。煮取六分。</p>
<p>越婢加朮湯　治本方證。而小便不利者。</p>
<p>麻黃（九分）　石膏（一錢二分）　大棗　術（各六分）　甘草（二分）　生薑（四分半）</p>
<p>上六味。以水一盞二分。煮取六分。</p>
<p>越婢加半夏湯　治本方證。而嘔逆者。</p>
<p>麻黃（九分）　石膏（一錢二分）　甘草（三分）　生薑（四分半）　大棗（六分）　半夏（七分半）</p>
<p>上煮法同前。</p>
<p>葛根湯　治項背強急。發熱惡風。或喘。或身疼者。</p>
<p>葛根（八分）　麻黃（六分）　桂枝　芍藥　甘草（各四分）　大棗　生薑（各六分）</p>
<p>上七味。以水二盞。煮取六分。</p>
<p>葛根加半夏湯　治本方證。而嘔者。</p>
<p>葛根（六分）　麻黃（四分半）　桂枝　甘草　芍藥（各三分）　半夏（九分）　大棗　生薑（各四分半）</p>
<p>上八味。以水二盞。煮取六分。</p>
<p>葛根黃連黃芩湯　治項背強急心悸。而下利者。</p>
<p>葛根（一錢六分）　甘草　黃芩（各四分）　黃連（六分）</p>
<p>上四味。以水二盞。煮取六分。</p>
<p>小柴胡湯　治胸脅苦滿。或寒熱往來。或嘔者。</p>
<p>柴胡（八分）　黃芩　人參　甘草　生薑　大棗（各三分）　半夏（六分）</p>
<p>上七味。以水二盞四分。煮取半。去滓再煎。取六分。</p>
<p>柴胡加芒硝湯　治小柴胡湯證。而苦滿難解者。</p>
<p>於本方加芒硝六分。</p>
<p>上煮法。同前。而內芒硝。上微火令消。</p>
<p>柴胡去半夏加栝蔞湯　治小柴胡湯證。而渴不嘔者。</p>
<p>柴胡（八分）　栝蔞根（四分）　人參　黃芩　甘草　大棗（各三分）　生薑（三分）</p>
<p>上七味。以水二盞四分。煮取半。去滓再煎。取六分。</p>
<p>柴胡加桂枝湯　治小柴胡湯。與桂枝湯。二方證相合者。</p>
<p>桂枝（二分）　芍藥（三分）　黃芩　人參（各二分）　生薑　大棗（各三分）　柴胡（八分）　半夏（六分）　甘草（二分）</p>
<p>上煮法同前。</p>
<p>柴胡薑桂湯　治小柴胡湯證。而不嘔不痞。上衝而渴。腹中有動者。</p>
<p>柴胡（八分）　桂枝　乾薑　牡蠣　黃芩（各三分）　栝蔞根（四分）　甘草（二分）</p>
<p>上煮法同前。</p>
<p>柴胡加龍骨牡蠣湯　治小柴胡湯證。而從臍下至胸腹。有動上逆。心下悸者。</p>
<p>柴胡（八分）　半夏（五分）　大黃（四分）　大棗　生薑　人參　桂枝　茯苓　鉛丹　龍骨　牡蠣（各三分）</p>
<p>上十一味。以水二盞四分。煮減半。去滓。內大黃。再煎取六分。</p>
<p>大柴胡湯　治小柴胡湯證。而心下不痞鞕腹滿拘攣。或嘔者。</p>
<p>柴胡（八分）　黃芩　芍藥　大棗（各三分）　半夏（六分）　枳實（四分）　大黃（二分）　生薑（五分）</p>
<p>上八味。以水二盞四分。煮減半。去滓。再煎取六分。</p>
<p>白虎湯　治大渴引飲。煩躁者。</p>
<p>石膏（二錢四分）　知母（九分）　粳米（一錢二分）　甘草（三分）</p>
<p>上四味。以水二盞。煮取一盞二分。去滓。內粳米。煮取六分。</p>
<p>白虎加人參湯　治本方證。而心下痞鞕者。</p>
<p>於本方加人參四分半</p>
<p>上煮法同前。</p>
<p>白虎加桂枝湯　治本方證。而上衝者。</p>
<p>知母（六分）　石膏（一錢六分）　粳米（四分）　甘草（二分）　桂枝（三分）</p>
<p>上煮法同前。</p>
<p>小承氣湯　治腹滿。而大便鞕者。</p>
<p>大黃（一錢二分）　厚朴（六分）　枳實（九分）</p>
<p>上三味。以水二盞。煮取六分。</p>
<p>厚朴三物湯　治小承氣湯證。而腹滿劇者。</p>
<p>厚朴（六錢一分）　大黃（八分）　枳實（一錢）</p>
<p>上三味。以水二盞四分。先煮二味。取一盞內大黃。煮取大分。</p>
<p>厚朴大黃湯　治厚朴三物湯證。而腹滿劇者。</p>
<p>厚朴（二錢四分）　大黃（九分）　枳實（六分）</p>
<p>上三味。以水一盞半。煮取六分。</p>
<p>厚朴七物湯　治腹滿發熱。上逆嘔者。</p>
<p>厚朴（一錢二分）　甘草　大黃（各四分半）　桂枝（三分）　枳實　生薑（各七分半）　大棗（四分）</p>
<p>上七味。以水一盞半。煮取六分。</p>
<p>天承氣湯　治腹堅滿。若下利臭穢。若燥屎者。凡有燥屎者。臍下磊砢也。肌膚枯燥。</p>
<p>大黃（八分）　厚朴（一錢六分）　枳實（一錢）　芒硝（一錢二分）</p>
<p>上四味。以水三盞。煮二物敢一盞半。去滓。內大黃煮取大分。內芒硝令消。</p>
<p>大黃黃連瀉心湯　治心煩。心下痞。按之濡者。</p>
<p>大黃（二錢）　黃連（一錢）</p>
<p>上以麻沸湯六分。漬之。須臾絞去滓服。</p>
<p>瀉心湯　治心氣不定。心下痞。按之濡者。</p>
<p>大黃（一錢二分）　黃連　黃芩（各六分）</p>
<p>上以麻沸湯六分。漬之。須臾絞去滓服。</p>
<p>附子瀉心湯　治瀉心湯證。而惡寒者。</p>
<p>大黃（一錢）　黃連　黃芩（各五分）　附子（七分半）</p>
<p>上以水九分。先煮附子。取六分。去滓。令沸。內諸藥漬之。須臾絞去滓服。</p>
<p>大黃附子湯　治腹絞痛。惡寒者。</p>
<p>大黃（九分）　附子（一錢三分半）　細辛（六分）</p>
<p>上三味。以水一盞半。煮取六分。</p>
<p>六黃甘遂湯　治小腹滿如敦狀。小便微難。或經永不調者。</p>
<p>大黃（一錢二分）　阿膠　甘遂（各六分）</p>
<p>上三味。以水一盞八分。煮取六分。私日。按如敦。猶謂叔世如覆杯字。</p>
<p>書曰。敦。盛黍稷之哭。可以知。</p>
<p>抵當湯　治瘀血者。凡有瘀血者二焉。少腹鞕滿。小便快利者。一也。腹不滿。其人言或滿者。二也。急則以湯。緩則以丸。</p>
<p>水蛭　虻蟲（各十個）　大黃（二錢）　桃仁（七分）</p>
<p>上四味。　為末。以水一盞。煮取六分。</p>
<p>抵當丸</p>
<p>水蛭（二十個）　虻蟲（二十五個）　桃仁（二十個　私曰一兩也今之三錢弱也）　天黃（三兩　私曰今之九錢弱也）</p>
<p>上四味。杵分為四丸。以水九分。煮一丸取六分服。</p>
<p>橘皮大黃朴硝湯　治心胸間。有宿滯而結者。</p>
<p>橘皮（六分）　大黃　朴硝（各一錢二分）</p>
<p>上三味。以水一盞二分。煮取六分。</p>
<p>大黃硝石湯　治發黃。腹中有結塊者。</p>
<p>大黃　黃蘗　硝石（各八分）　梔子（四分）</p>
<p>上四味。以水一盞二分。煮取六分。去滓。內硝石令消。</p>
<p>大黃牡丹湯　治臍下有堅塊。按之即痛。及便膿血者。</p>
<p>大黃（八分）　牡丹皮（六分）　桃仁（四分）　瓜子（一錢二發）　硝石（四分）</p>
<p>上五味。以水三盞。煮取六分。去滓。內硝石令消。</p>
<p>大黃甘草湯　治秘閉。急迫者。</p>
<p>大黃（二錢）　甘草（三分）</p>
<p>上二味。以水一盞八分。煮取六分。</p>
<p>謂胃承氣湯　治前方證。而實者。</p>
<p>大黃（一錢）　甘草（五分）　硝石（一錢）</p>
<p>上三味。以水一盞八分。煮取六分。內硝石令消。</p>
<p>桃核承氣湯　治血證。小腹急結。上衝者。</p>
<p>桃仁　桂枝　甘草　芒硝（各五分）　大黃（一錢）</p>
<p>上五味。以水一盞七分。煮取六分。內硝石令消。</p>
<p>下瘀血湯　治臍下毒痛。及經水不利者。</p>
<p>桃仁（三十個）　䗪蟲（二十枚）　大黃（二兩　私曰今之六錢弱）</p>
<p>上三味。末之。煉蜜和為四丸。以酒八分。煮一丸。取六分。頓服之。</p>
<p>土瓜根散　治少腹拘急。經水不利。或下白物者。</p>
<p>芍藥　桂枝　土瓜根　䗪蟲（各三分　私曰一分今之七分五釐弱）</p>
<p>上四味。為末。酒服方寸匕。</p>
<p>甘草湯　治病逼迫。及咽急痛者。</p>
<p>甘草（二錢）</p>
<p>上一味。以水一盞二分。煮取六分。</p>
<p>桔梗湯　治前方證。而有膿。或黏痰者。</p>
<p>甘草（二錢）　桔梗（一錢）</p>
<p>上二味。以水一盞八分。煮取六分。</p>
<p>排膿湯　治膿血。及黏痰急迫者。</p>
<p>甘草（八分）　桔梗（一錢三分）　生薑（四分）　大棗（一錢）</p>
<p>上煮法同前。</p>
<p>芍藥甘草湯　治拘攣急迫者。</p>
<p>芍藥　甘草（各一錢二分）</p>
<p>上二味。以水一盞二分。煮取六分。</p>
<p>甘遂半夏湯　治前方證。而心下鞕滿者。</p>
<p>甘遂（三分）　甘草（分半）　芍藥（一錢二分）　半夏（六分）</p>
<p>上四味。以水一盞半。煮取四分弱。內蜜四分弱。煎取六分。</p>
<p>甘麥大棗湯　治急迫。而狂驚者。</p>
<p>甘草（六分）　小麥（四錢）　大棗（五分）</p>
<p>上三味以水一盞二分。煮取六分。</p>
<p>芍藥甘草附子湯　治芍藥甘草湯證。而惡寒者。</p>
<p>芍藥　甘草（各一錢二分）　附子（六分）</p>
<p>上三味。以水二盞。煮取六分。</p>
<p>甘草粉蜜湯　治吐誕吐蟲。心痛發作有時者。</p>
<p>甘草（二錢）　粉（一錢）　蜜（四錢）</p>
<p>上三味。以水九分。先煮甘草取六分。去滓。內二味攪令和。煎如薄粥。私曰。平井氏分量考曰。粉。千金方為粱米粉。外臺秘要作黍米粉。此經所謂粉者。粉錫也。一名鉛粉。即黑錫灰。藥鋪稱鉛。胡粉者。是也。</p>
<p>生薑甘草湯　治咳唾涎沫不止。心下痞鞕急迫者。</p>
<p>生薑（一錢）　甘草（八分）　大棗（七分半）　人參（六分）</p>
<p>上四味。以水一盞四分。煮取六分。</p>
<p>甘草乾薑湯　治厥而煩躁。多涎唾者。</p>
<p>甘草（二錢）　乾薑（一錢）</p>
<p>上二味。以水一盞二分。煮取六分。</p>
<p>四逆湯　治四肢逆厥。身體疼痛。下利清穀。或小便清利者。</p>
<p>甘草（一錢二分）　乾薑　附子（各九分）</p>
<p>上三味。以水一盞半。煮取六分。</p>
<p>通脈四逆湯　治前方證。而劇者。</p>
<p>甘草（一錢）　附子（七分半）　乾薑（一錢半）</p>
<p>上煮法同前。</p>
<p>四逆加人參湯　治四逆湯證。而心下痞者。</p>
<p>甘草（一錢）　乾薑（七分半）　附子（七分半）　人參（五分）</p>
<p>上煮法同前。</p>
<p>茯苓四逆湯　治前方證。而悸者。</p>
<p>乾薑　附子（各三分）　甘草（四分）　茯苓（一錢二分）　人參（三分）</p>
<p>上五味。以水一盞。煮取六分。</p>
<p>通脈四逆加豬膽汁湯　治通脈四逆湯證。而急結者。</p>
<p>於本方加膽汁。一大蜆殼。余依本方。</p>
<p>附子粳米湯　治腹中雷鳴切痛。或嘔吐者。</p>
<p>附子（三分）　半夏（一錢二分）　甘草（二分）　大棗（五分）　粳米（二錢）</p>
<p>上五味。以水一盞六分。煮取六分。</p>
<p>薏苡附子散　治胸中痹。惡寒者。</p>
<p>薏苡仁　附子（各等分）</p>
<p>上二味。為散。服方寸匕。日三。</p>
<p>薏苡附子敗漿散　治身甲錯。腹皮急。按之濡如腫狀。腹無積聚者。</p>
<p>薏苡仁（十分　私曰今之七錢五分弱）　附子（二分　私曰今之一錢五分弱）　敗漿（五分　私曰今之三錢七分五釐弱）</p>
<p>上三味。為散。取方寸匕。以水一盞二分。煮減半。頓服。</p>
<p>大烏頭煎　治毒繞臍絞痛。或自汗出。手足厥冷者。</p>
<p>烏頭（四錢）</p>
<p>上一味。以水九分。煮取三分。去滓。內蜜六分。再煎取六分。</p>
<p>烏頭湯　治骨節疼痛。不可屈伸。若自汗。或盜汗。若腹中絞痛者。</p>
<p>麻黃　芍藥　黃蓍　甘草（各六分）　烏頭（一錢五分如大烏頭煎法）</p>
<p>上以水九分。煮四味。取三分。去滓。內蜜煎中更煎。和服。</p>
<p>赤丸　治心下悸。有痰飲。惡寒。或微厥者。</p>
<p>茯苓　半夏（各四兩　私曰今之十二錢弱）　烏頭（二兩　私曰今之六錢弱）　細辛（一兩　私曰今之三錢弱）</p>
<p>上四味末之。內真朱。為煉蜜丸。如麻子大。先食。酒飲下三丸。日三。　私曰。平井氏分量考曰。內真朱。為色以淡紅色為度。加一兩半可也。貞庵曰。今之四錢五分弱也。</p>
<p>真武湯　治心中燥。身⿰身閏動。振振欲擲地。小便不利。或嘔。若下利。若拘痛者。</p>
<p>茯苓　芍藥　生薑（各九分）　附子（四分半）　術（六分）</p>
<p>上五味。以水一盞六分。煮取六分。</p>
<p>附子湯　治身體攣痛。小便不利。心下痞鞕。若腹痛者。</p>
<p>茯苓　芍藥　附子（各六分）　術（八分）　人參（四分）</p>
<p>上煮法同前。</p>
<p>天雄散　治小便不利。上逆。臍下有動。惡寒者。</p>
<p>天雄（四兩半　私曰三枚也今之十三錢五分弱也）　龍骨（三兩　私曰今之九錢弱也）　術（八兩　私曰今之二十四錢弱也）　桂枝（六兩　私曰今之十八錢弱也）</p>
<p>上四味。為散。酒服三錢七。日三。</p>
<p>梔子豉湯　治心中懊憹者。</p>
<p>梔子（一錢四分）　豉（二錢）</p>
<p>上二味。以水一盞六分。先煮梔子。取一盞。去滓。內豉。煮取六分。</p>
<p>梔子甘草豉湯　治本方證。而急迫者。</p>
<p>於本方。加甘草一錢。</p>
<p>上煮法同前。</p>
<p>梔子生薑豉湯　治本方證。而嘔者。</p>
<p>於本方加生薑二錢半。</p>
<p>上煮法同前。</p>
<p>枳實梔子豉湯　治本方證。而胸滿者。</p>
<p>枳實（六分）　梔子（七分）　豉（二錢四分）</p>
<p>上三味。以水一盞六分。先煮二味。取八分。下豉。煮取六分。</p>
<p>梔子大黃湯　治前方證。而閉者。</p>
<p>梔子（六分）　枳實（一錢半）　大黃（三分）　豉（四分）</p>
<p>上四味。以水一盞八分。煮三味。取一盞。下豉。取六分。</p>
<p>茵陳蒿湯　治一身發黃。大便難者。</p>
<p>茵陳蒿（一錢八分）　梔子（七分）　大黃（六分）</p>
<p>上三味。以水二盞。煮茵陳蒿取一盞二分。內二味。煮取六分。</p>
<p>梔子蘗皮湯　治身黃髮熱心煩者。</p>
<p>梔子（一錢二分）　甘草（六分）　黃蘗（一錢二分）</p>
<p>上三味。以水一盞六分。煮取六分。</p>
<p>梔子厚朴湯　治胸腹煩滿者。</p>
<p>厚朴　枳實（各一錢二分）　梔子（七分）</p>
<p>上三味。以水一盞四分。煮取六分。</p>
<p>梔子乾薑湯　治心中微煩者。</p>
<p>梔子（一錢四分）　乾薑（一錢二分）</p>
<p>上二味。以水一盞四分。煮取六分。</p>
<p>大陷胸湯　治結胸。或從心下至少腹鞕滿者。</p>
<p>大黃（九分）　芒硝（二錢）　甘遂（七釐半末之）</p>
<p>上以水一盞八分。煮大黃。取六分。內芒硝。令沸。內甘遂末服。</p>
<p>大陷胸丸　治結胸。或項背強者。</p>
<p>大黃（半斤　私曰今之二十四錢弱）　芒硝（半斤　私曰今之二十錢弱）　杏仁（半斤　私曰今之十八錢弱）　葶藶（半斤　私曰今之十五錢）　甘遂（一錢七）</p>
<p>上五味。上四味搗和。取如彈丸一枚。以白蜜一分強。水一盞二分。煮取六分。內甘遂末服。</p>
<p>小陷胸湯　治小結胸者。</p>
<p>黃連（四分）　半夏（二錢四分）　栝蔞實（八分）</p>
<p>上三味。以水一盞八分。煮栝蔞實。取九分。內二味。煮取六分。</p>
<p>栝蔞薤白白酒湯　治胸背痛。喘息咳唾者。</p>
<p>栝蔞實（六分）　薤白（二錢四分）　白酒（二盞）</p>
<p>上三味。同煮。取六分。　私曰。平井氏分量考曰。白酒千金方作酨漿。即酢也。今試用之。氣味猛烈。而難下於咽嗌也。故不採用。按白酒之來尚矣。靈樞經曰。足陽明之筋病。以白酒和桂。以塗其緩者。</p>
<p>小半夏湯　治吐。而不渴者。</p>
<p>半夏（二錢四分）　生薑（一錢六分）</p>
<p>上二味。以水二盞八分。煮取六分。</p>
<p>生薑半夏湯　治似喘不喘。似嘔不嘔。似噦不噦。心中憒憒然。無奈何者。</p>
<p>半夏（三錢）　生薑汁</p>
<p>上以水一盞二分。煮半夏取八分。內生薑汁四分。煮取六分。</p>
<p>小半夏加茯苓湯　治本方證。而眩悸者。</p>
<p>半夏（二錢四分）　生薑（一錢六分）　茯苓（六分）</p>
<p>上三味。以水二盞八分。煮取六分。</p>
<p>半夏苦酒湯　治咽中生瘡。音啞者。</p>
<p>半夏（五分）　雞子（一枚去黃在白內苦酒於其上）</p>
<p>上內半夏於雞子殼中。安火上令三沸。去滓。少少含咽之。　私曰。今以此造法不成。宜從原法。誠以半夏著苦酒一夜為佳。難子乃可從東洞氏之說。唯不內苦酒已。</p>
<p>半夏厚朴湯　治咽中如有灸臠。或嘔。或心下悸者。</p>
<p>厚朴（三分）　半夏（一錢二分）　茯苓（四分）　干蘇葉（二分）　生薑（五分）</p>
<p>上五味。以水一盞。煮取六分。</p>
<p>半夏乾薑散　治乾嘔吐逆涎沫者。</p>
<p>半夏　乾薑（各等分）</p>
<p>上二味。為散。取方寸匕。以水一盞三分。煮取六分。</p>
<p>乾薑人參半夏丸　治嘔吐不止。心下痞鞕者。</p>
<p>乾薑　人參（各一兩　私曰今之三錢弱）　半夏（二兩　私曰今之六錢弱）</p>
<p>上三味。末之。以生薑汁。糊為丸。如梧子大。服十丸。日三。</p>
<p>半夏瀉心湯　治心下痞鞕腹中雷鳴者。</p>
<p>半夏（九分）　黃連（一分半）　黃芩　人參　大棗　乾薑　甘草（各四分半）</p>
<p>上七味。以水二盞。煮取一盞二分。去滓。再煎取六分。</p>
<p>甘草瀉心湯　治前方證。而心煩不得安者。</p>
<p>甘草（六分）　半夏（九分）　黃連（一分半）　黃芩　人參　大棗　乾薑（各四分半）</p>
<p>上煮法同前。</p>
<p>生薑瀉心湯　治半夏瀉心湯證。而嘔者。</p>
<p>生薑（六分）　半夏（九分）　黃連（一分半）　黃芩（四分半）　乾薑（一分半）　人參　甘草　大棗（各四分半）</p>
<p>上煮法。同前。</p>
<p>吳茱萸湯　治胸滿心下痞鞕。嘔者。</p>
<p>吳茱萸（一錢五釐）　人參　大棗（各四分半）　生薑（九分）</p>
<p>上四味。以水二盞一分。煮取六分。</p>
<p>厚朴生薑半夏甘草人參湯　治胸腹滿。而嘔者。</p>
<p>厚朴　生薑（各一錢二分）　半夏（九分）　甘草（三分）　人參（一分半）</p>
<p>上五味。以水二盞。煮取六分。</p>
<p>黃連湯　治心煩。心下痞。欲嘔吐上衝者。</p>
<p>黃連　甘草　乾薑　桂枝（各四分半）　人參（三分）　半夏（九分）　大棗（四分半）</p>
<p>上七味。以水二盞。煮取一盞二分。</p>
<p>乾薑黃連黃芩人參湯　治心煩心下痞鞕。吐下者。</p>
<p>乾薑　黃連　黃芩　人參（各七分半）</p>
<p>上四味。以水一盞八分。煮取六分。</p>
<p>大建中湯　治腹大痛。嘔不能食。腹皮起如有頭足者。</p>
<p>蜀椒（六分）　乾薑（一錢六分）　人參（八錢）　膠飴（五勺即十六錢）</p>
<p>上四味。上三味。以水一盞六分。煮取八分。去滓。內飴。煎取六分。</p>
<p>黃連阿膠湯　治心中悸。而煩不得眠者。</p>
<p>黃連（一錢二分）　黃芩（三分）　芍藥（六分）　雞子黃（一枚今之三分）　阿膠（九分）</p>
<p>上五味。以水一盞半。先煮三物。取六分。去滓。內膠烊盡小冷。內雞子黃。攪令相得溫服。</p>
<p>黃芩湯　治下利。腹拘急者。</p>
<p>黃芩　大棗（各九分）　甘草　芍藥（各六分）</p>
<p>上四味。以水二盞。煮取六分。</p>
<p>黃芩加半夏生薑湯　治前方證。而嘔逆者。</p>
<p>黃芩　大棗（各六分）　甘草（四分）　芍藥（四分）　半夏（一錢二分）　生薑（六分）</p>
<p>上煮法同前。</p>
<p>六物黃芩湯　治心下痞鞕。乾嘔下利。上衝者。</p>
<p>黃芩　大棗　人參　乾薑（各四分半）　桂枝（一分半）　半夏（九分）</p>
<p>上六味。以水一盞四分。煮取六分。</p>
<p>三物黃芩湯　治心胸苦煩者。</p>
<p>黃芩（四分）　苦參（八分）　乾地黃（一錢六分）</p>
<p>上三味。以水一盞八分。煮取六分。</p>
<p>白頭翁湯　治熱利下重。而心悸者。</p>
<p>白頭翁（五分）　黃柏　黃連　秦皮（各七分半）</p>
<p>上四味。以水二盞。煮取六分。</p>
<p>白頭翁加甘草阿膠湯　治前方證。而有血證。急迫者。</p>
<p>白頭翁（四分）　黃連　黃柏　秦皮（各六分）　甘草　阿膠（各四分）</p>
<p>上六味。上五味。以水一盞七分。煮取六分。內膠令消。</p>
<p>木防己湯　治心下痞鞕。煩渴者。</p>
<p>防己（七分半）　石膏（一錢六分）　桂枝（五分）　人參（一錢）</p>
<p>上四味。以水一盞八分。煮取六分。</p>
<p>木防己去石膏加茯苓芒硝湯　治心下痞堅。而悸者。</p>
<p>防己（六分）　桂枝（四分）　人參（八分）　茯苓（八分）　芒硝（一錢二分）</p>
<p>上五味。上四味。以水一盞八分。煮取六分。內芒硝。今消。</p>
<p>防己茯苓湯　治四膚聶聶動。水氣在皮膚。而上衝者。</p>
<p>防己　黃蓍　桂枝（各四分半）　茯苓（九分）　甘草（三分）</p>
<p>上五味。以水一盞八分。煮取六分。</p>
<p>防己黃蓍湯　治水病。身重汗出。惡風。小便不利者。</p>
<p>防己（六分）　甘草（三分）　黃蓍（七分半）　術　大棗　生薑（各四分半）</p>
<p>上六味。以水一盞八分。煮取六分。</p>
<p>枳實芍藥散　治腹滿拘攣。或痛者。</p>
<p>枳實　芍藥（各等分）</p>
<p>上二味。為末。服方寸匕。日三。</p>
<p>枳朮湯　治心下堅滿。小便不利者。</p>
<p>枳實（二錢二分）　術（六分）</p>
<p>上二味。以水一盞。煮取六分。</p>
<p>排膿散　治瘡家胸腹拘滿。若吐黏痰。或便膿血者。</p>
<p>枳實（一錢六分）　芍藥（六分）　桔梗（二分）</p>
<p>上三味。為末。取雞子黃三分。以藥末與雞子黃相等。揉和令相得。飲和之日一服。</p>
<p>桂枝枳實生薑湯　治胸滿上逆。或嘔者。</p>
<p>桂枝（九分）　枳實（一錢五分）　生薑（九分）</p>
<p>上三味。以水一盞二分。煮取六分。</p>
<p>枳實薤白桂枝湯　治胸中痹滿痛者。</p>
<p>枳實（八分）　薤白（一錢六分）　桂枝（二分）　栝蔞實（四分）　厚朴（八分）</p>
<p>上五味。以水一盞八分。先煮枳實厚朴。取八分。去滓。內諸藥。煮取六分。</p>
<p>橘皮枳實生薑湯　治胸中痹滿。而嘔者。</p>
<p>橘皮（二錢四分）　枳實（四分半）　生薑（一錢二分）</p>
<p>上三味。以水一盞半。煮取六分。</p>
<p>茯苓飲　治心下痞鞕。而悸。小便不利。胸滿而自吐宿水者。</p>
<p>茯苓　人參　術（各六分）　枳實（四分）　橘皮（五分）　生薑（八分）</p>
<p>上六味。以水二盞。煮取六分。</p>
<p>橘皮竹茹湯　治胸中痹。吃逆者。</p>
<p>橘皮（三錢二分）　竹茹（八分）　大棗（七分半）　生薑（八分）　甘草（五分）　人參（一分）</p>
<p>上煮法同前。</p>
<p>橘皮湯　治胸中痹。嘔噦者。</p>
<p>橘皮（二錢）　生薑（四錢）</p>
<p>上二味。以水一盞四分。煮取六分。</p>
<p>桂枝茯苓丸　治拘攣上衝。心下悸。經水有變。或胎動者。</p>
<p>桂枝　茯苓　芍藥　桃仁　牡丹皮（各等分）</p>
<p>上五味。末之。蜜丸。兔屎大。</p>
<p>芎歸膠艾湯　治漏下。腹中痛者。</p>
<p>芎藭　阿膠　甘草（各三分）　艾葉　當歸（各四分半）　芍藥（六分）　乾地黃（九分）</p>
<p>上七味。以水一盞。清酒一盞。合煮取六分。內膠。令消。</p>
<p>旋覆花代赭石湯　治心下痞鞕。噯氣不除者。</p>
<p>旋覆花　甘草（各六分）　人參（四分）　半夏（一錢二分）　生薑（一錢）　代赭石（二分）</p>
<p>大棗（五分）</p>
<p>上七味。以水二盞。煮取一盞二分。去滓。再煎取六分。</p>
<p>赤石脂禹餘糧湯　治毒在臍下。而利者。</p>
<p>赤石脂（一錢六分）　禹餘糧（一錢六分）</p>
<p>上二味。以水一盞八分。煮取六分。</p>
<p>桃花湯　治便膿血者。</p>
<p>赤石脂（一錢六分）　乾薑（七分）　粳米（二錢）</p>
<p>上三味。以水二盞。煮取六分。更內赤石脂末。方寸匕。</p>
<p>酸棗仁湯　治煩躁。不得眠者。</p>
<p>酸棗仁（二錢四分）　甘草（三分）　知母　芎藭　茯苓（各二分）</p>
<p>上五味。以水一盞六分。先煮酸棗仁。取一盞二分。內諸藥。煮取六分。</p>
<p>葶藶大棗瀉肺湯　治浮腫。咳逆喘鳴。迫塞胸滿強急者。</p>
<p>葶藶（一錢）　大棗（十錢八分）</p>
<p>上二味。先以水一盞八分。煮取一盞二分。去滓。內葶藶。煮取六分。</p>
<p>蜜煎導　治肛中乾燥。大便澀者。</p>
<p>蜜（七合　私曰今之七勺弱也）</p>
<p>上一味。內銅器中。微火煎之。稍凝似飴狀。擾之勿令焦。著欲可丸。並手捻作挺。令頭銳。大如指。長二寸許。當熱時急作。冷則硬。以內穀道中。以手急抱。欲大便時。乃去之。　私曰。二寸。今之一寸四分強。</p>
<p>麻仁丸　治平日。大便秘者。</p>
<p>麻子仁（二升　私曰今之四十八錢）　芍藥（半斤　私曰今之二十四錢弱）　大黃（一斤　私曰今之四十八錢弱）　厚朴（一尺　私曰今之四十八錢弱）　枳實（半斤　私曰今之二十四錢弱）　杏仁（一升　私曰今之二十七錢）</p>
<p>上六味。為末。煉蜜為丸。梧子大。飲服十丸。日三。</p>
<p>己椒藶黃丸　治腹滿。口舌乾燥。二便澀滯者。</p>
<p>防己　椒目　葶藶　大黃（各一兩　私曰今之三錢弱）</p>
<p>上四味。末之。蜜和丸。梧子大。服一丸。日三。</p>
<p>蜀漆散　治寒熱發作有時。臍下有動者。</p>
<p>蜀漆　雲母　龍骨（各等分）</p>
<p>上三味。為末。發前以漿水服半錢匕。　平井氏分量考曰。地漿水一名土漿。造法詳於本章云云。一方盛赤土於器內。入水造之。亦可備急也。經稱漿水者。即地漿水也。</p>
<p>十棗湯　治病在胸腹掣痛者。</p>
<p>芫花　甘遂　大戟（各等分為末）　大棗（十枚）</p>
<p>上以水一盞。煮大棗取六分。去滓。內散一錢匕。羸人半錢匕。</p>
<p>桔梗白散　治毒在胸咽。或吐下如膿汁者。</p>
<p>桔梗（三分　私曰今之二錢二分五釐弱也）　貝母（同）　巴豆（一分　私日今之七分五釐弱也）</p>
<p>上三味。為末。以白飲服半錢匕。羸者減之。</p>
<p>走馬湯　治胸腹有毒。若心痛。若腹痛者。</p>
<p>杏仁（二枚）　巴豆（二枚）</p>
<p>上二味。以綿纏捶。令碎。熱湯六分。捻取白汁。飲之。</p>
<p>備急丸　治心腹急痛者。</p>
<p>大黃　巴豆　乾薑（各一兩　私曰今之三錢弱）</p>
<p>上為末。蜜丸。</p>
<p>礬石湯　治腳氣痿弱不仁。及上入搶心者。</p>
<p>礬石（二兩　私曰今之六錢弱）</p>
<p>上一味。以漿水一斗五升。煎三五沸。浸腳良。　私曰。漿水說見蜀漆散方後。一斗五升。乃今之一升五合弱也。</p>
<p>消礬散　治一身悉黃。腹脹如水狀。大便黑。時溏者。</p>
<p>礬石　硝石（各等分）</p>
<p>上二味為散。以大麥粥汁和服。方寸匕。日三。</p>
<p>礬石丸　治經水不利。下白物者。</p>
<p>礬石（三分　私曰今之二錢二分五釐弱）　杏仁（一分　私曰今之七分五釐）</p>
<p>上二味。末之。煉蜜和丸。棗核大。以內藏中。</p>
<p>蛇床子散　治下白物。陰中癢。或有小瘡者。</p>
<p>蛇床子</p>
<p>上一味末之。以白粉多許。和令相得。如棗大。綿裹內之。自然溫溫陰中坐藥。　平井氏分量考曰。白粉即白堊。</p>
