<header data-type="book">
<h1>祖劑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>施沛</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1640">公元1640年</data></dd></div>
</dl>
</header>

<h1>祖齊小敘</h1>
<p>玄晏先生曰仲景廣伊尹湯液用之多驗成聊攝謂自古諸方歷歲浸遠難可考詳惟仲景之書最為群方之祖要之仲景本伊尹之法伊尹本神農之經軒岐靈素大聖之所作也其於處劑之法則曰君一臣二制之小也君二臣四制之大也經中如麋銜術澤湯烏側魚散半夏湯雞屎醴等方多不過三四味即後許胤宗亦謂古人用藥簡要精專故仲景之方其藥品甚少後至潔古東垣立方有多至三十餘味者說者謂東垣如韓信將兵多多益善他人效之則未免廣絡原野之譏矣茲所集首冠素靈二方次載伊尹湯液一方以為宗而浚悉以仲景之方為祖其局方二陳四物四君子等湯以類附焉若東垣之補中益氣丹溪之越鞠等劑誠發前人之所未發雖曰自我作古可也近代醫書如戴元禮之證治要訣薛新甫之明醫雜著方皆簡略與仲景之意不大紕繆故多采之要之方者仿也醫者意也自仲景而本之伊尹由伊尹而上溯軒農其於方劑之道庶幾焉近之矣</p>
<p><u>崇禎庚辰歲重陽日元無子施　沛題</u></p>

<h1>卷之一</h1>

<h2>澤術麋銜湯</h2>
<p>（治病酒風身熱解惰汗出如浴惡風少氣）</p>
<p>澤瀉（十分）　術（十分）　麋銜（五分）</p>
<p>合以三指撮為後飯</p>
<p>（按王太僕云）術（味甘溫平主治大風止汗）麋銜（味苦寒平主治風濕筋痿）澤瀉（味甘寒平主治風濕益氣由此功用方故先之飯後藥先為之後飯）</p>

<h3>澤瀉湯</h3>
<p>治心下有支飲其人苦冒眩</p>
<p>澤瀉（五兩）　白朮（二兩）</p>
<p>上二味以水二升煮取一升分溫再服</p>

<h3>豬苓散</h3>
<p>治嘔吐而病在膈上後思水者解急與之思水者此方主之</p>
<p>豬苓　茯苓　白朮（各等分）</p>
<p>上三味杵為散飲服方寸匕日三服</p>

<h3>茯苓戎鹽湯</h3>
<p>即豬苓散去豬苓加茯苓三倍戎鹽彈丸大一枚治小便不利</p>

<h3>五苓散</h3>
<p>治傷寒溫熱病表裡未解頭痛發熱口燥咽乾煩渴飲水或水入即吐或小便不利及汗出表解煩渴不止者宜服之又治霍亂吐利躁渴引飲並治瘦人臍下有動悸吐涎沫而巔眩此水也</p>
<p>茯苓（十八銖去皮甘平）　豬苓（十八銖去皮甘平）　白朮（十八銖甘平）　澤瀉（一兩六銖半酸鹹）　桂（半兩去皮辛熱）</p>
<p>上五味搗為散以白飲和服方寸匕日三服多飲暖水汗出愈如法將息成無己雲苓令也通行津液克伐腎邪專為號令者苓之功也又曰甘字從口從一淡者一也甘甚而反淡甘緩而淡滲二苓白朮（味俱甘平潤虛燥而利津液鹹味下泄為陰澤瀉之咸以泄伏水辛甘發散為陽桂枝之辛甘以和肌表利大便曰攻下利小便曰滲泄此太陽膀胱經下藥也太陽病高則汗而發之下則引而竭之使邪從膀胱出也）</p>

<h3>四苓散</h3>
<p>（即五苓散去肉桂治濕生於內水瀉小便不利）</p>

<h3>茵陳五苓散</h3>
<p>即五苓散加茵陳一方去肉桂加茵陳名加減五苓散治傷寒發黃小便不利</p>

<h3>豬苓湯</h3>
<p>即四苓散去白朮加阿膠滑石治脈浮發熱渴欲飲水小便不利</p>

<h3>茯苓澤瀉湯</h3>
<p>即五苓散去豬苓加生薑甘草治胃反吐而渴欲飲水者</p>

<h3>加味五苓散</h3>
<p>即五苓散加車前子生薑燈心治伏暑反胃濕泄注下或煩或渴或小便閉澀</p>

<h3>山梔五苓散</h3>
<p>即本方加山梔子治小兒臍突燈心蜜水調下</p>

<h3>金沙五苓散</h3>
<p>即本方加海金沙芍藥甘草滑石石葦治五淋</p>

<h3>辰砂五苓散</h3>
<p>即本方加辰砂治中暑煩渴身熱頭疼霍亂吐瀉小便赤少精神恍惚</p>

<h3>桂苓白朮丸</h3>
<p>即五苓散去豬苓加生薑硝半夏陳皮糊丸又加黃連黃柏為堅中丸治煩渴複方</p>

<h3>胃苓湯</h3>
<p>即五苓散合平胃散治水瀉及夏月感冒暑氣或啖飲日中所曬之物或坐日中熱處而瀉</p>

<h3>春澤湯</h3>
<p>即五苓散合四君子湯治無病而渴與病後渴及汗下及霍亂吐瀉津液去多五內枯燥而煩</p>

<h3>甘露飲</h3>
<p>即五苓散合益元散去豬苓加石膏寒水石治暑若甘露飲不去豬苓不加石膏名桂苓甘露飲</p>
<p>治暑熱二氣濕瀉注下或煩渴或小便閉澀</p>

<h3>桂苓白朮散</h3>
<p>即五苓合益元散加寒水石石膏治冒暑濕熱吐瀉轉筋腹痛靈樞</p>

<h2>半夏湯</h2>
<p>治邪客臟腑</p>
<p>陽盛陰虛目不能瞑</p>
<p>秫米（一升）　半夏（五合）</p>
<p>用千里外來流水八升揚之萬遍取其清五升入二味炊以葦薪徐炊令竭為一升半去其滓飲汁一小杯日三稍益以知為度其病新發者覆杯則取汗出則已矣久者三飲而已也愚按本草半夏味辛平秫米味甘微寒內經曰以辛散之以甘緩之難經曰陽蹺為病陽緩而陰急陽盛故以辛散之陰急故以甘緩之流水取其動而不居葦薪取其空而不窒正經所謂決瀆壅塞經絡大通陰陽和得者也</p>

<h3>大半夏湯</h3>
<p>治胃反嘔吐者</p>
<p>半夏（二升）　人參（三兩）　白蜜（一升）</p>
<p>上三味以水一斗二升和蜜揚之二百四十遍煮藥取二升半溫服一升余分再服</p>

<h3>小半夏湯</h3>
<p>嘔家本渴渴者為欲解今反不渴心下有支飲故也此方主之</p>
<p>半夏（一升）　生薑（半斤）</p>
<p>上二味以水七升煮取一升半分溫再服活人名半夏生薑湯治嘔欲絕</p>

<h3>半夏散及湯方</h3>
<p>半夏桂枝甘草各等分治少陰病咽中痛</p>

<h3>半夏生薑大黃湯</h3>
<p>即生薑半夏湯加大黃治反胃</p>

<h3>半夏麻黃丸</h3>
<p>即小半夏湯去生薑加麻黃等分蜜丸如小豆大每服三丸治心下悸者</p>

<h3>千緡湯</h3>
<p>即小半夏湯加皂角（一寸）治痰涎上湧喉中有聲</p>

<h3>小陷胸湯</h3>
<p>即小半夏湯去生薑加黃連（一兩）栝蔞實（一枚）治小結胸病在心下按之痛者</p>

<h3>生薑半夏湯</h3>
<p>即小半夏湯半夏止用半升生薑汁一升以水三升煮半夏取二升內生薑汁煮取一</p>
<p>升半小冷分四服日三夜一服病已止服治病人胸中似喘不喘似嘔不嘔似噦不噦心中憒憒然無奈者</p>
<p>元戎方二味止各三錢量水煎至七分服止嘔吐開胃消食</p>

<h3>半夏乾薑散</h3>
<p>半夏乾薑各等分杵為散取方寸匕漿水一升半煎取七合頓服之治乾嘔吐逆吐涎沫者</p>
<p>二味等分為末生薑和汁為丸桐子大名溫中丸每服二十丸木瓜湯下治脾寒嘔吐咳嗽自利</p>

<h3>小半夏加茯苓湯</h3>
<p>即小半夏湯加茯苓三兩治卒嘔吐心下痞膈間有水眩悸者活人名大半夏湯治痰飲脾胃不和</p>
<p>消暑丹半夏（一斤）茯苓（半斤）生甘草（半斤）以醋（五升）煮半夏盡醋曬乾薑汁作糊無見生水每服五十丸熱水送下治傷暑諸證藥下即蘇且止渴利小便並治痰飲停積並生薑湯下夏月常服止渴利小便雖飲水多亦不為害應是暑藥皆不及此</p>

<h2>橘皮湯</h2>
<p>活人名姜橘湯又名二賢湯治乾嘔噦若手足厥者此方主之</p>
<p>橘皮（四兩）　生薑（半斤）</p>
<p>上二味以水七升煮取三升溫服一升下咽即愈</p>

<h3>乳和姜皮湯</h3>
<p>即橘皮湯用牛乳一大盞和藥煎熱去滓入生牛乳一半頓服治赤白下痢神驗</p>

<h3>橘皮竹茹湯</h3>
<p>即橘皮湯加竹茹大棗人參甘草治噦逆</p>

<h3>橘皮茯苓生薑湯</h3>
<p>即橘皮湯加茯苓炙甘草一法加乾葛神麯半夏治咳逆解酒毒止嘔吐一方</p>
<p>無半夏為細末煉蜜丸如彈子大名大橘皮丸</p>

<h3>大橘皮湯</h3>
<p>即橘皮湯加人參甘草理氣調中</p>

<h3>橘皮半夏湯</h3>
<p>即橘皮湯加半夏治積氣痰痞不下飲食嘔吐不止</p>

<h3>芩連二陳湯</h3>
<p>即二陳湯加黃芩黃連治熱痰</p>

<h3>丁香二陳湯</h3>
<p>即二陳湯加丁香藿香</p>

<h3>枳縮二涉湯</h3>
<p>即二陳湯去陳皮甘草加枳殼砂仁</p>

<h3>倍術二陳湯</h3>
<p>即本方加白朮治脾胃中有濕痰以致泄瀉</p>

<h3>竹茹二陳湯</h3>
<p>即本方加竹茹治胸中有熱膈上有痰嘔吐不已姜煎</p>

<h3>白朮湯</h3>
<p>即二陳去橘紅加白朮檳榔治胃中虛損及吐痰</p>

<h3>二術二陳湯</h3>
<p>即本方加白朮蒼朮治嘔吐清水如注不已</p>

<h3>潤下丸</h3>
<p>即二陳去半夏茯苓治上而痰吐下而痰瀉製法以橘紅二斤鹽水洗甘草二兩炙為丸</p>

<h3>加味二陳湯</h3>
<p>即本方加蒼朮枳殼薑黃薑棗煎治酒面積熱成痰手臂痛並痰攻眼腫及身麻痹</p>

<h3>二陳木通湯</h3>
<p>即本方加木通滑石人參蘆治關格飲食不下二便不通</p>

<h3>桂附二陳湯</h3>
<p>即本方加官桂附子薑棗煎治寒瘧但寒少熱多腰足冷</p>

<h3>麥冬二陳湯</h3>
<p>即本方加麥冬白朮當歸黃芩治婦人肺火咳嗽嘔吐痰飲</p>

<h3>白龍湯</h3>
<p>即二陳去陳皮甘草加礬治酒積有痰</p>

<h3>香橘湯</h3>
<p>即二陳去茯苓加炒香附薑棗煎治七情所傷中腕不快痰氣</p>

<h3>導痰湯</h3>
<p>即二陳湯加枳殼南星生薑治風痰飲癖上攻頭目發作無時者</p>

<h3>順氣導痰湯</h3>
<p>即導痰湯加烏藥香附木香煎好入薑汁沉香服</p>

<h3>芩連導痰湯</h3>
<p>即導痰湯加黃芩黃連煎服</p>

<h3>祛風導痰湯</h3>
<p>即導痰湯加防風羌活白朮煎好入竹瀝薑汁服</p>

<h3>寧神導痰湯</h3>
<p>即本方加芩連遠志石菖蒲煎好入砂仁末三分竹瀝薑汁服</p>

<h3>溫膽湯</h3>
<p>即二陳湯加枳實竹茹生薑治病後虛煩不得眠及膽虛驚悸</p>

<h3>滌痰湯</h3>
<p>即二陳湯加枳殼桔梗南星竹茹人參石菖蒲治中風痰迷心竅舌強不能言</p>

<h3>香橘飲</h3>
<p>即二陳湯加木香砂仁白朮治氣滯痰眩</p>

<h3>加味茯苓湯</h3>
<p>即二陳湯加人參益智香附治脾不攝涎痰迷心竅失事健忘</p>

<h3>茯苓半夏湯</h3>
<p>即二陳湯去甘草加麥芽神麯曰術天麻生薑煎</p>
<p>複方</p>

<h3>清氣化痰丸</h3>
<p>即二陳湯合涼膈散清利頭目涼膈化痰清熱利氣</p>

<h3>藿香養胃湯</h3>
<p>即二陳湯合平胃散去茯苓加藿香治嘔吐</p>

<h3>八解散</h3>
<p>即二陳湯合平胃散與四君子湯去蒼朮加藿香治四時傷寒頭痛身熱惡風多汗嘔吐噁心咳嗽痰滿痞悶</p>

<h2>三黃湯</h2>
<p>治心下痞按之濡關上脈浮</p>
<p>大黃（二兩如丸春三兩夏秋二兩冬五兩）　黃連（一兩如丸春四兩夏五兩秋三兩冬二兩）　黃芩（一兩如丸春四兩夏秋六兩）</p>
<p>上三味以麻沸湯二升漬之須臾絞去滓分溫再服</p>
<p>海藏云伊尹三黃湯無黃芩後人脫落之也丸服名金花丸又名三黃丸治脾熱口疳口氣黃疸吐血消渴羸瘦胃熱消穀易飢飲食不為肌肉</p>

<h3>三黃湯</h3>
<p>即三黃湯去大黃加黃柏（三兩）黃芩（一兩）治久痢一名三黃瀉心湯治心膈實熱狂燥面赤丸之名三補丸治脈痿</p>

<h3>二黃湯</h3>
<p>即古方三黃湯去黃柏加甘草治天行大頭疫病</p>

<h3>黃連解毒湯</h3>
<p>即古方三黃湯加梔子等分</p>

<h3>梔子金花丸</h3>
<p>即黃連解毒湯水泛為丸每服百丸茶下一名大金花丸</p>

<h3>大黃湯</h3>
<p>即解毒湯去黃芩加大黃等分療天行五六日不解頭痛壯熱四肢煩疼不欲飲食</p>

<h3>大黃黃連瀉心湯</h3>
<p>即三黃湯無黃芩</p>
<p>林億云看詳大黃黃連瀉心湯諸本皆二味又後附子瀉心湯用大黃黃連黃芩附子恐是前方中亦有黃芩但加附子也故後云附子瀉心湯本方加附子也按成無己云內經曰火熱受邪心病生焉苦入心寒除熱大黃黃連之苦寒以導瀉心下之虛熱但以麻沸湯漬服者取其氣薄而泄虛熱也</p>

<h3>附子瀉心湯</h3>
<p>即前湯加附子治心下痞而復惡寒汗出者與瀉心湯攻痞加附子以固陽</p>
<p>瀉心湯　黃連（一兩）去須為極細末每服一字至半錢一錢海藏云易老單方瀉心湯出於此乃實邪實則瀉其子也</p>
<p>地黃丸　用黃連（四兩）為末生地黃（半斤）研取汁連滓拌黃連末和勻曬乾再為細末蜜丸桐子大門冬湯下三十丸治心熱</p>

<h3>安神丸</h3>
<p>即地黃丸加當歸甘草蒸餅丸如黍米大硃砂為衣津液下五十丸治虛煩不得眠</p>

<h3>既濟解毒湯</h3>
<p>即三黃湯加甘桔柴胡升麻連翹當歸治上熱頭目赤腫而痛胸膈煩悶不得安臥身半以下皆寒足胻尤甚大便微秘</p>

<h3>門冬丸</h3>
<p>即瀉心湯加麥門冬（二兩）去心為末蜜丸食後熟水下三十丸治心經有熱</p>

<h3>清心丸</h3>
<p>即門冬丸加黃柏（二兩）冰片（一錢）為末蜜丸臨臥薄荷湯下治熱</p>

<h3>黃連清膈丸</h3>
<p>即門冬丸加鼠尾黃芩（三錢）為末蜜丸如綠豆大溫湯下二十丸治心肺有熱及經中熱</p>

<h3>硃砂涼膈丸</h3>
<p>即大金花丸去黃芩黃柏加參苓冰片蜜丸梧子大硃砂為衣食後熟水下五七丸日三服治上焦虛熱肺腕咽膈有氣如煙搶上</p>

<h3>葛根黃芩黃連湯</h3>
<p>即三黃湯去大黃加葛根甘草治太陽桂枝證誤下利不止喘而汗出者表未解者散以葛根甘草之甘弱者堅以黃芩黃連之苦</p>

<h3>三黃熟艾湯</h3>
<p>即古方三黃湯加熟艾治傷寒四五日後大下熱痢諸藥不效者</p>

<h3>聚金丸</h3>
<p>即二黃湯加防風治小兒大便下血發熱煩燥腹中熱痛作渴脈弦數或驚熱目赤昏澀或有酒毒去血</p>

<h3>連柏二物湯</h3>
<p>即古方三黃湯去黃芩治黃疸</p>

<h3>梔子柏皮湯</h3>
<p>即解毒湯去黃連黃芩治燥熱發黃</p>
<p>複方</p>

<h3>三黃石膏湯</h3>
<p>即黃連解毒湯合白虎湯加玄參一方加石膏麻黃豆豉無知母玄參治暑毒深入熱結在裡譫語煩渴不欲近衣大便秘結小便赤澀者</p>

<h3>解毒四物湯</h3>
<p>即黃連解毒湯合四物湯治經水不住</p>

<h3>解毒丸</h3>
<p>即解毒湯合神芎導水丸治中外諸熱毒癰腫瘡疽筋脈拘攣咬牙驚悸一切熱毒神芎導水丸方用大黃枯芩牽牛滑石等分滴水為丸</p>

<h3>加減瀉黃散</h3>
<p>即黃連解毒湯加茵陳澤瀉茯苓治大人小兒黃疸此藥退脾土復腎水降心火</p>

<h3>生地黃黃連湯</h3>
<p>即黃連解毒湯合四物湯去黃柏加防風治婦人血風證因大脫血崩漏或前後失血因而枯燥其熱不除循衣撮空摸床閉目不醒揚手擲足搖動不寧錯語失神脈弦浮而虛內躁熱之極也氣粗鼻乾而不潤上下通燥此為難治當服此藥若脈實者加大黃鬚審虛實</p>

<h2>甘草瀉心湯</h2>
<p>治狐惑狀如傷寒蝕於上部則聲喝此湯主之</p>
<p>甘草（四兩甘平）　半夏（半升辛平）黃連（一兩苦寒）　黃芩（三兩苦寒）　乾薑（三兩辛熱）　人參（三兩甘溫）　大棗（十二枚擘甘溫）</p>
<p>上七味以水一斗煮取六升去滓再煎溫服一升日三服王海藏云伊尹湯液此湯也七味今監本無人參脫落之也宋林億等云又按千金外臺治傷寒䘌食用此方皆有人參故知脫落無疑成無己云辛人肺而散氣半夏之辛以散結氣苦人心而瀉熱黃連黃芩之苦以泄痞熱脾欲緩急食甘以緩之人參甘草大棗之甘以緩之也</p>

<h3>生薑瀉心湯</h3>
<p>即甘草瀉心湯減甘草（一兩）乾薑（二兩）加生薑（四兩）</p>
<p>林億等謹按上生薑瀉心湯法本云理中人參黃芩湯今詳瀉心以療痞痞氣因發陰而生是半夏生薑甘草三方皆本於理中也其方必各有人參今甘草瀉心湯中無者脫落之也治汗解後心下痞硬幹噫食臭脅下水氣腹中雷鳴下利者</p>

<h3>半夏瀉心湯</h3>
<p>即甘草瀉心湯減甘草一兩治胸但滿而不痛此為痞也痛即為結胸</p>

<h3>黃連湯</h3>
<p>即半夏瀉心湯加黃連（二兩）桂枝（三兩）減人參（一兩）治傷寒胸中有熱胃中有邪氣腹中痛欲嘔吐者林億云此湯疑非仲景方</p>
<p>按成無己云凡陷胸湯攻結也瀉心湯攻痞也氣結而不散壅而不通為結胸陷胸湯為直達之劑○塞而不通否而不恭為痞瀉心湯為分解之劑所以謂之瀉心者謂瀉心下之邪也痞與結胸有高下焉結胸者邪結胸中故治結胸曰陷胸湯痞者邪留心下故治痞曰瀉心湯苦先入心以苦瀉之故用黃連之苦寒為君黃芩之苦寒為臣以降陽而升陰也辛走氣辛以散之故用半夏之辛溫乾薑之辛熱散痞為佐以分陰而行陽也陰陽不交曰痞上下不通為滿欲通上下交陰陽必和其中故用甘草之甘平大棗人參之甘溫為使補脾而和中使痞消而熱已而大汗解矣</p>

<h2>桂枝湯</h2>
<p>治太陽中風頭痛發熱汗出惡風鼻鳴乾嘔者</p>
<p>桂枝（三兩去皮辛熱）　芍藥（三兩酸微）　甘草（二兩炙甘平）　生薑（三兩切辛溫）　大棗（十二枚擘甘溫）</p>
<p>上五味㕮咀以水七升微火煮取三升去滓適寒溫服一升服已須臾歠熱稀粥一升余以助藥力溫覆令一時許遍身漐漐微似有汗者益佳不可令如水流漓病必不除若一服汗出病瘥停後服不必盡劑若不汗更服依前法禁生冷黏滑肉面五辛酒酪臭惡等物</p>
<p>按成無己云內經曰辛甘發散為陽桂枝湯辛甘之劑也所以發散風邪又曰風淫所勝平以辛佐以苦甘以甘緩之以酸收之是以桂枝為主芍藥甘草為佐也又曰風淫於內以甘緩之以辛散之是以生薑大棗為使也又云桂枝本為解肌若其人脈浮系發熱汗不出者不可與也常須識此勿令誤也又云酒客不可與桂枝湯服桂枝湯吐者其後必吐膿血也外臺云桂枝下咽表和則斃承氣入胃裡平以亡此表裡之交錯其候至微發汗吐下之相反其禍至速仁者鑑此可不慎歟</p>

<h3>桂枝葛根湯</h3>
<p>即桂枝湯加葛根治太陽病項背強𠘧𠘧汗出惡風者</p>

<h3>桂枝加附子湯</h3>
<p>即桂枝湯加附子治太陽病發汗遂漏不止惡風小便難四肢微急難以屈伸者</p>

<h3>桂枝加厚朴杏仁湯</h3>
<p>即桂枝湯加厚朴杏仁治傷寒喘而有汗又治太陽病下之微喘者表未解也</p>

<h3>桂枝加芍藥湯</h3>
<p>即桂枝湯倍芍藥治本太陽病醫反下之因而腹滿時痛者屬太陰也此湯主之</p>

<h3>桂枝加桂湯</h3>
<p>即桂枝湯加桂枝（二兩）治燒針令其汗針處被寒核起而未者必發奔豚氣從小腹上衝心者灸其核各一壯服此湯</p>

<h3>桂枝新加湯</h3>
<p>即桂枝湯加人參倍芍藥生薑治發汗後身體痛脈沉遲者</p>

<h3>桂枝加龍骨牡蠣湯</h3>
<p>即桂枝湯加龍骨牡蠣治男子失精女子夢交脈極虛芤者</p>

<h3>桂枝救逆湯</h3>
<p>即桂枝湯去芍藥加蜀漆龍骨牡蠣治傷寒脈浮以火迫劫之亡陽必驚狂起臥不安者</p>

<h3>桂枝加大黃湯</h3>
<p>即桂枝湯加大黃（一兩）治太陽病醫反下之因腹滿大實痛者</p>

<h3>桂枝去芍藥湯</h3>
<p>即桂枝湯去芍藥（二兩）治太陽病下之後脈促胸滿者</p>

<h3>桂枝去芍藥加附子湯</h3>
<p>即前方加附子（一枚）治同前但微惡寒者金匱名桂枝附子湯治傷寒八九日風濕相搏身體疼煩不能轉側不嘔不渴脈浮虛而澀者</p>

<h3>黃耆桂枝五物湯</h3>
<p>即桂枝湯去甘草加黃耆治血痹身體不仁如風痹狀</p>

<h3>桂枝去芍藥加皂莢湯</h3>
<p>即桂枝湯去芍藥加皂莢（一枚）去皮炙焦治肺痿吐涎沫</p>

<h3>茯苓桂枝甘草大棗湯</h3>
<p>即桂枝湯去芍藥生薑加茯苓（半斤）甘瀾水先煮茯苓後內諸藥煎服治發汗後臍下悸欲作奔豚者</p>

<h3>桂枝加黃耆湯</h3>
<p>即桂枝湯加黃耆（二兩）治黃汗發熱汗出腰髖弛痛劇者不能食身疼重煩燥小便不利</p>

<h3>烏頭桂枝湯</h3>
<p>用烏頭（一味）以蜜（二斤）煎減半去滓以桂枝湯（五合）和之令得一升初服二合不知即服三合又不知服五合知者如醉狀得吐者為中病治寒疝腹中痛逆冷手足不仁諸藥不能治者</p>

<h3>桂枝去芍藥加麻黃細辛附子湯</h3>
<p>即桂枝湯去芍藥加麻黃細辛附子治氣分心下堅大如盤邊如旋杯水飲所作者服藥後當汗出如蟲行皮中即愈</p>

<h3>桂枝去桂加白朮湯</h3>
<p>即桂枝湯去桂加白朮治太陽傷寒八九日風濕相搏身體煩痛不能轉側不嘔不渴大便硬小便自利者</p>

<h3>桂枝去桂加茯苓白朮湯</h3>
<p>即桂枝湯去桂加茯苓白朮治汗下後仍頭痛項強發熱無汗心下滿微痛小便不利心下滿痛小便利者成結胸小便不利為停飲故加茯苓以行之</p>

<h3>桂枝加附子紅花湯</h3>
<p>即桂枝湯去大棗加附子紅花治婦人傷寒表虛自汗身涼四肢拘急脈沉而遲經水適斷</p>

<h3>桂枝甘草湯</h3>
<p>桂枝（四兩去皮）甘草（二兩炙）以水三升煮取一升去滓頓服成無己云桂枝之辛熱走肺而益氣甘草之甘平入脾而緩中治發汗過多其人叉手自冒心心下悸欲得按者</p>

<h3>茯苓甘草湯</h3>
<p>即桂枝甘草湯加茯苓生薑治傷寒汗出而不渴者</p>

<h3>桂枝甘草龍骨牡蠣湯</h3>
<p>即桂枝甘草湯加龍骨牡蠣治因燒針煩躁者</p>

<h3>桂苓五味甘草湯</h3>
<p>即桂枝甘草湯加茯苓五味子治氣從小腹上衝胸咽小便難時覆冒者</p>

<h3>葛根湯</h3>
<p>即桂枝湯加葛根麻黃（三兩）治太陽病項背強𠘧𠘧無汗惡風者又治太陽與陽明合病自下利者</p>

<h3>葛根加半夏湯</h3>
<p>即葛根湯加半夏（半升）治太陽與陽明合病不下利但嘔者</p>

<h3>解肌湯</h3>
<p>即葛根湯去生薑加黃芩治溫病頭疼壯熱者</p>

<h3>陽旦湯</h3>
<p>即桂枝湯加黃芩（二兩）治中風傷寒脈浮發熱往來汗出惡風項強鼻鳴乾嘔</p>

<h3>陰旦湯</h3>
<p>即陽旦湯以桂心（易）桂枝以乾薑易生薑治傷寒股節疼痛內寒外熱虛煩者</p>

<h3>小建中湯</h3>
<p>即桂枝湯煎好去滓內膠飴（一斤）更上微火消解溫服一升日三服治虛勞裡急悸衄腹中痛夢失精四肢痠疼手足煩熱咽乾口燥者</p>

<h3>黃耆建中湯</h3>
<p>即建中湯加黃耆（一兩）減薑桂（各二兩）千金同肘後有人參（二兩）治虛勞裡急諸不足集驗云嘔者加生薑腹滿去棗加茯苓（四兩）一方療肺虛不足痞氣加半夏（五兩）</p>

<h3>當歸建中湯</h3>
<p>即建中湯加當歸治產後虛羸半月後每日三服令人可壯</p>

<h3>大建中湯</h3>
<p>即建中湯加參耆當歸附子半夏</p>

<h3>建中湯</h3>
<p>即大建中湯去附子加前胡細辛橘皮麥冬治血氣勞傷臟腑虛損腸鳴神倦等證</p>
<p>複方</p>

<h3>桂枝麻黃各半湯</h3>
<p>即桂枝湯合麻黃湯治太陽病八九日脈微而惡寒者此陰陽俱不足不可更發汗吐下面有熱色者未欲解也以其不能得小汗出身必癢此湯主之</p>

<h3>桂枝二麻黃一湯</h3>
<p>即桂枝湯（二分）麻黃湯（一分）治服桂枝湯後若形似瘧一日再發者宜此湯</p>

<h3>桂枝二越婢一湯</h3>
<p>即桂枝湯（二分）越婢湯（一分）治太陽病發熱惡寒熱多寒少脈微弱者此無陽也不可發汗</p>
<p>按林億云桂枝湯方桂枝芍藥生薑各三兩甘草二兩大棗十二枚越婢湯方麻黃二兩生薑三兩甘草二兩石膏半斤大棗十五枚今以算法約之桂枝湯四分之一即得桂枝芍藥生薑各十八銖甘草十二銖大棗三枚越婢湯取八分之一即得麻黃十八銖生薑九銖甘草六銖石膏二十四銖大棗一枚二湯所取相合共得桂枝芍藥甘草麻黃各十八銖生薑一兩三銖石膏二十四銖大棗四枚</p>

<h2>麻黃湯</h2>
<p>治太陽病頭痛發熱身疼腰痛骨節疼痛惡風無汗而喘者</p>
<p>麻黃（三兩去節甘溫）　桂枝（二兩去皮辛熱）　甘草（一兩炙甘平）　杏仁（七十個去皮尖辛溫）</p>
<p>上四味以水九升先煮麻黃減二升去上沫內諸藥煮取二升半去滓溫服八合覆取微似汗不須啜粥余如桂枝法將息</p>
<p>元戎云夏加知母黃芩石膏恐有癍黃之變惟冬與春病人素虛寒者不宜加此成無己云本草有曰輕可去實即麻黃葛根之屬也實為寒邪在表皮腠堅實榮衛盛津液內固之表實非腹滿便難之內實也聖濟經曰汗不出而腠密邪氣盛而中蘊輕劑所以揚之即麻黃葛根之輕劑耳又云內經曰寒淫於內治以甘熱佐以苦辛麻黃甘草開肌發汗桂枝杏仁散寒下氣</p>

<h3>麻黃杏仁甘草石膏湯</h3>
<p>即麻黃湯去桂枝加石膏治汗出而喘無大熱者內經曰肝苦急急食甘以緩之風氣通於肝風邪外甚故以純甘之劑發之</p>

<h3>甘草麻黃湯</h3>
<p>即麻黃湯去杏仁桂枝治風水</p>

<h3>麻黃附子甘草湯</h3>
<p>即甘草麻黃湯加附子（一枚）治少陰病二三日無里症者用麻黃甘草之甘以散表寒附子之辛以溫經氣金匱名麻黃附子湯治水之為病</p>

<h3>麻黃附子細辛湯</h3>
<p>即前方去甘草加細辛治少陰病如得之反發熱脈沉者內經曰寒淫於內治以甘熱佐以苦辛以辛潤之麻黃之甘以解少陰之寒細辛附子之辛以溫少陰之經脈沉小屬少陰者</p>

<h3>麻黃加朮湯</h3>
<p>即麻黃湯加白朮（四兩）治濕家身煩疼者及風濕相搏腰以上腫</p>

<h3>麻黃杏仁薏苡仁甘草湯</h3>
<p>即麻黃湯去桂加薏苡仁治風濕一身盡疼日晡發熱得之汗出當風及取冷所致者</p>

<h3>麻黃連軺赤小豆湯</h3>
<p>即麻黃湯去桂加連軺（二兩）赤小豆（一升）梓白皮（一斤）薑棗煎服治傷寒瘀熱在裡身必發黃此湯主之</p>

<h3>麻黃加生地黃湯</h3>
<p>即麻黃湯加生地治婦人傷寒脈浮而緊頭痛身熱惡寒無汗發汗後恐熱入血室者用之</p>

<h3>麻黃黃芩湯</h3>
<p>即麻黃湯加黃芩治喘渴氣壅一方去杏仁加芍藥黃芩治小兒傷寒寒熱無汗頭痛</p>

<h3>大青龍湯</h3>
<p>即麻黃湯加生薑大棗石膏治太陽中風脈浮緊發熱惡寒身疼痛不汗出而煩躁者又治傷寒脈浮緩身不疼但重乍有輕時無少陰證者若脈微弱汗出惡風者不可服之服之則厥逆筋惕肉瞤此為逆也</p>
<p>按成無己曰青龍東方木神也應春而主肝專發生之令為敷榮之主草木甲柝則有兩岐肝有兩葉以應之故青龍湯主兩傷之邪如中風見寒脈傷寒見風脈則為榮衛兩傷風兼寒寒兼風此湯專主之也又云辛甘均為發散然風宜辛散寒宜甘發以辛甘相合乃能發散榮衛之風寒麻黃甘草石膏杏仁以發散榮中之寒桂枝薑棗以解除衛中之風　詳傷寒明理論</p>

<h3>小青龍湯</h3>
<p>即麻黃湯去杏仁加芍藥乾薑細辛半夏五味子治傷寒表不解心下有水氣乾嘔發熱而咳或渴或利或噎或小便不利少腹滿或喘者又治傷寒心下有水氣咳而微喘成無己曰傷寒表不解則麻黃湯可以發中風表不解則桂枝湯可以散惟其表且不解而又心下有水氣則非麻黃桂枝所能發散必用小青龍湯始可祛除表裡之邪氣耳又曰寒邪在表非辛甘不能散之麻黃甘草之辛甘以發散表邪水停心下而不行則腎氣燥內經曰腎苦燥急食辛以潤之乾薑半夏之辛以行水氣而潤腎咳逆而喘則肺氣逆內經曰肺欲收急食酸以收之芍藥五味子之酸以收逆氣而安肺加減法若微利者去麻黃加蕘花如雞子熬令赤色下利者不可攻其表汗出必脹滿麻黃髮其陽水漬入胃必作利蕘花下十二水水去利則止</p>
<p>若渴者去半夏加栝蔞根三兩辛燥而苦潤半夏辛而燥津液非渴者所宜故去之栝蔞味苦而生津液故加之　若噎者去麻黃加附子（一枚炮）經曰水得寒氣冷必相搏其人即𩜺加附子溫散水寒病人有寒復發汗胃中冷必吐蛔去麻黃惡發汗　若小便不利少腹滿者去麻黃加茯苓（四兩）水畜下焦不行為小便不利少腹滿麻黃髮津液於外非所宜也茯苓泄畜水於下加所當也　若喘者去麻黃加杏仁（半升）去皮尖金匱要略曰其人形腫故不內麻黃內杏子以麻黃髮其陽故也喘呼形腫水氣標本之疾</p>

<h3>小青龍加石膏湯</h3>
<p>即小青龍湯加石膏（二兩）治肺脹咳而上氣煩燥而喘脈浮者心下有水</p>

<h2>越婢湯</h2>
<p>治風水惡風一身悉腫脈浮不渴續自汗出無大熱者</p>
<p>麻黃（六兩）　石膏（半斤）　甘草（二兩）　生薑（三兩）　大棗（十五枚擘）</p>
<p>上五味以水六升先煮麻黃去上沫內諸藥煮取三升分溫三服</p>
<p>按成無己云胃為十二經之主脾治水穀為卑藏若婢內經曰脾主為胃行其津液是湯所以謂之越婢者以發越脾氣通行津液外臺方一名越脾湯或云起脾湯即此義也</p>

<h3>越婢加半夏湯</h3>
<p>即越婢湯加半夏（半升）治咳而上氣此為肺脹其人喘目如脫狀脈浮大者</p>

<h3>越婢加朮湯</h3>
<p>即越婢湯加白朮（四兩）治肉極熱則身體津脫腠理開汗大泄厲風氣下焦腳弱惡風者加附子（一枚炮）</p>

<h3>加減麻黃湯</h3>
<p>即麻黃湯加半夏陳皮紫蘇生薑治肺感寒邪咳嗽</p>

<h3>九寶湯</h3>
<p>即麻黃湯加陳皮紫蘇桑皮薄荷大腹生薑烏梅煎服治經年喘嗽通用</p>

<h3>三拗湯</h3>
<p>即麻黃湯去桂枝用生甘草（三錢）麻黃（不去節六分）杏仁（不去皮尖五十粒）治感冒風寒鼻塞聲重語音不出咳嗽喘急</p>

<h3>追魂湯</h3>
<p>即三拗湯麻黃（去節）杏仁（去皮尖）分二帖治卒厥暴死及客忤鬼擊蜚屍氣絕口噤</p>

<h3>五虎湯</h3>
<p>即三拗湯加石膏知母治痰喘一方去知母加細茶名五拗湯</p>

<h3>厚朴麻黃湯</h3>
<p>即三拗加石膏厚朴半夏五味子乾薑細辛小麥治咳脈浮者</p>

<h3>款冬花散</h3>
<p>即三拗湯加款冬花阿膠知母貝母半夏桑葉生薑</p>

<h3>華蓋散</h3>
<p>即三拗湯加蘇子桑皮赤茯苓橘紅薑棗煎服治肺受風寒咳嗽聲重胸膈煩滿頭昏眩</p>

<h2>麻黃升麻湯</h2>
<p>治傷寒六七日大下後寸脈沉而遲手足厥逆下部脈不至咽喉不利唾膿血泄利不止</p>
<p>麻黃（二兩半去節）　升麻（一兩一分）　當歸（一兩一分）　知母　黃芩　葳蕤（各十一銖）　石膏　白朮　乾薑　芍藥　天門冬　桂枝　茯苓　甘草（各六銖）</p>
<p>上十四味以水一斗先煮麻黃一兩沸去上沫內諸藥煮取三升去滓分溫三服相去如煩三斗米頃令盡汗出愈玉函曰大熱之氣寒以取之甚熱之氣以汗發之麻黃升麻之甘以發浮熱正氣虛者以辛潤之當歸桂姜之辛以散寒上熱者以苦泄之知母黃芩之苦涼心去熱津液少者以甘潤之茯苓白朮之甘緩脾生津肺燥氣熱以酸收之以甘緩之芍藥之酸以斂逆氣葳蕤天門冬石膏甘草之甘潤肺除熱</p>

<h3>射干麻黃湯</h3>
<p>用射干（十三枚）一法（三兩）麻黃生薑（各四兩）細辛紫菀款冬花（各三兩）五味子半夏（各半升）大棗（七枚）以水一斗二升先煮麻黃（一兩）沸去上沫內諸藥煮取三升分溫三服治咳而上氣喉中作水雞聲者</p>
<p>烏頭湯　用麻黃芍藥黃耆（各三兩）甘草（炙）川烏（五枚）㕮咀以蜜二升煎取一升即出烏頭餘四味以水三升煮取一升去滓內蜜煎中更煎之服七合不知盡服之治腳氣疼痛不可屈伸</p>

<h3>麻黃醇酒湯</h3>
<p>用麻黃（三兩）以美清酒五升煮取二升半頓服盡冬月用酒春月用水煮之治黃疸</p>

<h3>三黃湯</h3>
<p>用麻黃（五分）獨活（四分）黃芩（三分）黃耆（二分）細辛（二分）以水六升煮取二升分溫三服一服小汗一服大汗心熱加大黃（二分）腹滿加枳實（一枚）氣逆加人參（三分）悸加牡蠣（三分）渴加栝蔞根（三分）先有寒加附子（一枚）治中風手足拘急百節疼痛煩熱心亂惡寒經日不欲飲食</p>

<h3>疏風湯</h3>
<p>即麻黃湯去桂枝加益智仁升麻煎服腳蹬熱水葫蘆候大汗出去之治表中風邪半身不遂麻木語言微澀季春初夏宜服冬月忌用</p>

<h3>麻黃羌活湯</h3>
<p>用麻黃去節羌活防風甘草（各半兩）每用五錢水煎服治瘧處暑前發頭項痛脈浮惡風無汗等症</p>

<h3>麻黃桂枝湯</h3>
<p>用麻黃（一兩）黃芩（五錢）甘草（二錢）桂枝（二錢）桃仁（三十個）去皮尖每劑五錢水煎服治瘧惡風寒無汗等症</p>

<h2>白虎湯</h2>
<p>治傷寒大汗出後表證已解心胸大煩渴欲飲水及吐或下後七八日邪毒不解熱結在裡表裡俱熱時時惡風大渴舌上乾燥而煩欲飲水數升者宜服之又治夏月中暑毒汗出惡寒身熱而渴</p>
<p>知母（六兩苦寒）　石膏（一斤碎甘寒）　甘草（二兩炙甘平）　粳米（六合甘平）</p>
<p>上四味以水一斗煮米熟湯成去滓溫服一升日三服</p>
<p>按成無己云白虎西方金神也應秋而歸肺熱甚於內者以寒下之熱甚於外者以涼解之其有中外俱熱內不得泄外不得發者非此湯則不能解之也又云內經曰熱淫所勝佐以苦甘知母石膏之苦甘以散熱熱則傷氣甘以緩之甘草粳米之甘以益氣</p>

<h3>白虎加人參湯</h3>
<p>即白虎湯加人參（三兩）治太陽中暍汗出惡寒身熱而渴此治動而傷暑大渴者活人名化癍湯</p>

<h3>白虎加蒼朮湯</h3>
<p>即白虎湯加蒼朮（二兩）治靜而傷暑不渴者</p>

<h3>白虎加桂枝湯</h3>
<p>即白虎湯加桂治中暑自汗微惡寒者又治溫瘧其脈如平身無寒但熱骨節疼煩時嘔者</p>

<h3>白虎加梔子湯</h3>
<p>即白虎湯加山梔子治小便淋而煩渴者</p>

<h3>白虎加五味子湯</h3>
<p>即白虎湯加五味子治嗽而少津液者</p>

<h3>竹葉石膏湯</h3>
<p>即白虎湯去知母加竹葉（二把）半夏（半升）洗麥門冬（一升）去心人參（三兩）治傷寒解後虛羸少氣氣逆欲吐者竹葉石膏甘草之甘辛以發散餘熱麥門冬人參粳米之甘以補不足半夏之辛以散氣逆</p>

<h3>白芷湯</h3>
<p>即白虎湯去甘草粳米加白芷（一兩）治瘧疾熱多寒少下後微邪未盡者</p>

<h3>桂枝石膏湯</h3>
<p>即白虎湯去甘草粳米加桂枝黃芩治瘧疾無他證隔日發先寒後熱寒少熱多者</p>

<h3>瀉黃散</h3>
<p>即白虎湯去知母加山梔藿香防風海藏云此劑瀉肺熱</p>

<h3>麥門冬湯</h3>
<p>即竹葉石膏湯去竹葉石膏加大棗治大逆上氣咽喉不利濟生麥門冬湯有遠志茯神黃芩生地生薑無半夏粳米大棗治虛勞脈實極氣血衰等症</p>

<h3>附子粳米湯</h3>
<p>即麥門冬湯去麥冬人參加附子（一枚）炮治腹中寒氣雷鳴切痛胸脅逆滿嘔吐</p>

<h3>竹葉黃耆湯</h3>
<p>即竹葉石膏湯去半夏粳米加參耆四物黃芩淡竹葉治發背諸瘡大渴血液衰耗</p>

<h3>竹葉湯</h3>
<p>即麥門冬湯無半夏粳米人參大棗加茯苓防風黃芩治妊婦子煩驚怯</p>

<h3>小柴胡湯</h3>
<p>傷寒五六日中風往來寒熱胸脅滿不欲食心煩喜嘔者</p>
<p>柴胡（半斤苦微寒）　黃芩（三兩苦寒）　人參（三兩甘溫）　甘草（三兩甘平）　半夏（半升洗辛溫）　生薑（三兩切辛溫）　大棗（十二枚擘甘溫）</p>
<p>上七味以水一斗二升煮取六升去滓再煎取三升溫服一升日三服</p>
<p>成無己云內經曰熱淫於內以苦發之柴胡黃芩之苦以發傳邪之熱里不足者以甘緩之人參甘草之甘以緩中和之氣邪半入里則裡氣逆辛以散之半夏以除煩嘔邪在半表則營衛爭之辛甘解之薑棗以和營衛又曰邪在表者必漬形以為汗邪在裡者必盪滌以為利其於不外不內半表半裡既非發汗之所宜又非吐下之所對是當和解則可小柴胡和解表裡之劑也加減法胸中煩而不嘔者去半夏人參加栝蔞實（一枚）　若渴者去半夏加人參合前成四兩半栝蔞</p>
<p>根（四兩）　若腹中痛者去黃芩加芍藥（三兩）　若脅下痞硬去大棗加牡蠣（四兩）　若心下悸小便不利者去黃芩加茯苓（四兩）　若不渴外有微熱去人參加桂（三兩）溫覆取微汗愈　若咳者去人參大棗生薑加五味子（半升）乾薑（二兩）柴胡去半夏加栝蔞湯</p>
<p>即本方去半夏加栝蔞根（四兩）治瘧病發渴者亦治勞瘧</p>

<h3>大柴胡湯</h3>
<p>即小柴胡湯去人參甘草加芍藥（三兩）枳實（四兩）大黃（二兩）生薑（二兩）治太陽病過經十餘日及二三下之後四五日柴胡證仍在微煩者外臺不加大黃無己云若不加恐不為大柴胡湯也成無己曰大滿大實堅有燥屎非駛劑則不能泄大小承氣湯是也如不至大堅滿邪熱甚而須攻下者必用輕緩之劑攻之大柴胡湯是也</p>

<h3>柴胡桂枝湯</h3>
<p>即小柴胡湯加桂枝芍藥外臺同治心腹卒中痛者</p>

<h3>柴胡桂枝幹薑湯</h3>
<p>即小柴胡湯去人參半夏薑棗加桂枝幹姜栝蔞根牡蠣所治傷寒五六日已發汗腹下之胸滿小便不利渴而不嘔頭汗寒熱心煩者金匱名柴胡桂薑湯治瘧寒多微有熱或但寒不熱服一劑如神</p>

<h3>柴胡龍骨牡蠣湯</h3>
<p>即小柴胡湯去甘草加鉛丹桂枝龍骨牡蠣茯苓大黃治傷寒八九日下之胸滿煩</p>
<p>驚小便不利譫語身重者　一方有黃芩</p>

<h3>小柴胡加五味子湯</h3>
<p>即小柴胡湯加五味子治溫病發熱而渴不惡寒嗽者</p>

<h3>小柴胡加牡丹皮湯</h3>
<p>即小柴胡湯加牡丹皮治婦人傷寒身熱往來夜躁晝寧如見鬼狀經水適來適斷熱入血室不滿實者</p>

<h3>小柴胡加地黃湯</h3>
<p>即小柴胡湯加生地黃治症同前</p>

<h3>小柴胡加茯苓湯</h3>
<p>即小柴胡湯加茯苓治小便難潮熱腹滿</p>

<h3>小柴胡加芒硝湯</h3>
<p>即小柴胡湯加芒硝治傷寒十三日不解胸脅滿而嘔日晡潮熱已而微利知以丸藥下之非其治也先以小柴胡解外後以此方治之</p>

<h3>柴胡半夏湯</h3>
<p>即小柴胡湯加白朮麥門冬治痰熱頭疼手足寒熱</p>

<h3>柴胡雙解散</h3>
<p>即小柴胡湯加陳皮芍藥近法加生艾汁三匙治少陽經受病耳聾脅痛寒熱嘔而口苦脈弦數屬半表半裡宜和解</p>

<h3>小柴胡加枳桔湯</h3>
<p>即小柴胡湯加枳殼桔梗治痘疹後咳嗽脅痛</p>

<h3>柴胡枳芎湯</h3>
<p>即小柴胡湯加枳殼川芎白芍藥治傷寒身熱兩脅疼痛</p>

<h3>小柴胡加乾薑牡蠣湯</h3>
<p>即小柴胡加乾薑牡蠣治痞而胸膈滿脹</p>

<h3>柴胡飲</h3>
<p>即小柴胡湯去半夏大棗加大黃當歸芍藥治一切積熱骨蒸往來寒熱及傷寒發汗不解肺痿咳嗽婦人經水不通等症</p>

<h3>青鎮丸</h3>
<p>即小柴胡湯去大棗加青黛薑汁蒸餅為丸治嘔吐脈弦頭痛有汗</p>

<h3>小柴胡加芒硝大黃湯</h3>
<p>即小柴胡湯加芒硝大黃治婦人傷寒頭痛脈浮醫反下之邪氣乘虛而入經水閉不行心下結硬口燥舌乾寒熱往來狂言如見鬼狀脈浮而數者</p>

<h3>加味小柴胡湯</h3>
<p>即小柴胡湯加黃連白芍藥玄參升麻治發癍肌熱潮熱或往來寒熱口苦咽乾目眩耳聾脅痛胸滿心煩或乾嘔煩渴咳嗽一方加山梔牡丹皮</p>

<h3>青脾飲</h3>
<p>即小柴胡湯去人參加白朮茯苓青皮草果厚朴治癉瘧脈來弦數但熱不寒或熱多寒少口苦咽乾小便赤澀</p>

<h3>柴胡三白湯</h3>
<p>即小柴胡湯去黃芩加白朮白芍藥白茯苓黃連治發熱自利或譫語氣滿加砂仁</p>
<p>複方</p>

<h3>柴苓湯</h3>
<p>即本方合五苓散治發熱泄瀉裡虛</p>

<h3>柴平湯</h3>
<p>即本方合平胃散治瘧疾</p>

<h3>柴樸湯</h3>
<p>即柴平湯去人參加獨活前胡茯苓藿香治瘧氣弱加人參白朮食不化加神麯麥芽山楂</p>

<h3>柴胡四物湯</h3>
<p>一名調經湯即本方合四物湯治血虛下午發熱</p>

<h3>柴陳湯</h3>
<p>即小柴胡湯合二陳湯治瘧退熱和中理氣</p>

<h3>柴胡六君子湯</h3>
<p>即小柴胡合六君子湯治虛瘧虛熱補中退熱</p>

<h2>葛根黃芩黃連湯</h2>
<p>治太陽病桂枝證醫反下之利不止喘而汗出者</p>
<p>葛根（半斤甘平）　甘草（二兩炙甘平）　黃芩（三兩苦寒）　黃連（三兩苦寒）</p>
<p>上四味以水八升先煮葛根減二升內諸藥煮取二升去滓分溫再服</p>
<p>按成無己云內經曰甘發散為陽表未解者散以葛根甘草之甘苦以堅之裡氣弱者堅以芩連之苦</p>

<h3>升麻葛根湯</h3>
<p>用葛根（十五兩）升麻白芍藥甘草（各三兩）為末每服三錢水煎去滓熱服日三服治大人小兒傷寒癍疹時氣溫疫頭痛發熱肢體煩疼及瘡疹發與未發疑似之際並宜服之海藏云活人言頭痛如破者連須蔥白湯次又不已者葛根升麻湯恐太陽流入陽明斷其路故以此湯主之不知升麻乃陽明藥非太陽藥也人或初病太陽證便與葛根升麻湯是遺太陽不惟遺反引太陽邪氣入於陽明不能解也其變可勝言哉</p>

<h3>升麻荷葉湯</h3>
<p>即升麻葛根湯加蒼朮荷葉治雷頭風如傷寒寒熱頭面腫痛</p>

<h3>升麻黃連湯</h3>
<p>即升麻葛根湯加芩連白芷犀角水煎減半另用水半盞浸川芎（一錢）荊芥（五分）薄荷（四分）入前藥同煎至一鍾服之治手陽明氣盛有餘身已前皆熱況素有積熱在胃致風熱上行故面獨熱先以調胃承氣加黃連犀角（各一錢）疏利兩三行以徹其熱次服此湯氣弱人減黃連一半</p>

<h3>升麻附子湯</h3>
<p>即升麻葛根湯去芍藥加參耆附子白芷草蔻益智連根蔥白治陽明經氣不足身以前皆寒此胃氣虛經絡之氣亦虛不能上達頭面故大惡風寒先用附子理中丸數服以溫中氣次服此湯</p>

<h3>升麻胃風湯</h3>
<p>即升麻葛根湯去芍藥加蒼朮麻黃羌活蔓荊柴胡藁本乾薑白芷當歸草蔻黃芩治虛風面腫能食麻木牙關急搐目內蠕動胃中有風</p>

<h3>升麻調經湯</h3>
<p>即升麻葛根湯加黃耆桔梗歸鬚三稜蓬朮黃連黃柏龍膽連翹知母每服五錢水煎去滓高枕仰臥噙一口作十次咽之另作半料蜜丸豆大每服留煎藥一口送下百餘丸治婦人夏月帶下脫漏不止</p>

<h3>十神湯</h3>
<p>即升麻葛根湯加川芎紫蘇麻黃白芷陳皮香附治發散溫疫及時感風寒</p>

<h3>秦艽升麻湯</h3>
<p>即升麻葛根湯加人參秦艽防風桂枝白芷治中風手足陽明經口眼喎斜四肢拘急惡風寒</p>

<h3>升麻連翹湯</h3>
<p>即升麻葛根湯去葛根芍藥加桔梗連翹鼠黏子防風黃芩治時疫熱毒喉痹先用鮮艾研汁灌下如無以蛇床子入瓶內燒煙入口即愈</p>

<h3>黃耆芍藥湯</h3>
<p>即升麻葛根湯加黃耆羌活治鼻衄血多面黃眼澀多眵手麻木</p>

<h3>益氣聰明湯</h3>
<p>即升麻葛根湯加參耆蔓荊黃柏治飲食不節勞役形體脾胃不足內障耳鳴或多年目昏暗視物不能此藥令人目光大久服無內障耳鳴耳聾之患又令精神過備元氣自益身輕體健耳目聰明</p>
<p>百解散　用升麻葛根湯加蒼朮（四兩）菖蒲（一兩）治太陽陽明合病</p>

<h3>陽毒升麻湯</h3>
<p>用升麻（二分）甘草黃芩犀角射干人參（各一兩）以水三升煎取一升半去滓飲一盞頃刻再服以衾覆手足出汗則愈不愈再服治傷寒一二日變成陽毒或服藥吐下之後變成陽毒腰背痛煩悶不安面赤狂言或見鬼或下痢脈浮大數面赤癍癍如錦文咽喉痛下膿血五日可治七日不可治元戎云治癍在面</p>

<h3>陽毒玄參升麻湯</h3>
<p>用玄參升麻甘草等分每服五錢水煎去滓溫服治發汗吐下後毒不散表虛里實熱發於外故身癍癍如錦紋甚則煩燥譫語兼治咽閉腫痛元戎又云治癍在身</p>

<h3>陽毒梔子仁湯</h3>
<p>用升麻葛根甘草黃芩石膏知母杏仁柴胡梔子等分每服五錢用水一盞生薑五片豉百粒煎至六分溫服治少陽陽明合病陽毒傷寒壯熱百節疼痛</p>

<h2>升麻鱉甲湯</h2>
<p>陽毒之為病面赤斑斑如錦文咽喉痛唾膿血五日可治七日不可治升麻鱉甲湯主之</p>
<p>升麻（二兩）　當歸（一兩）　蜀椒（炒去汗一兩）　甘草（二兩）　雄黃（半兩研）　鱉甲（手指大一片炙）</p>
<p>上六味以水六升煮取一升頓服之老小再服取汗</p>
<p>按金匱要略云陰毒之為病面目青身痛如被杖咽喉痛五日可治七日不可治升麻鱉甲湯去雄黃蜀椒主之及查時後千金方陽毒用升麻湯無鱉甲有桂陰毒用甘草湯無雄黃並存以俟高明酌用</p>

<h3>鱉甲煎丸</h3>
<p>用鱉甲（十二分）炙烏扇（三分）燒黃芩（三分）柴胡（六分）鼠婦（三分）熬乾薑（三分）大黃（三分）芍藥（五分）桂枝（三分）葶藶（一分熬）石葦（三分）去皮厚朴（三分）牡丹（五分去心）瞿麥（二分）紫葳（三分）半夏（一分）人參（一分）䗪蟲（五分熬）阿膠（三分炙）蜂窠（四分炙）赤硝（十二分）蜣螂（六分熬）桃仁（二分）上二十三味為末鍛灶下灰一斗清酒一斛五斗浸灰候酒盡一半著鱉甲於中煮令泛燥如膠漆絞取汁內諸藥煎為丸如梧子大空心服十丸日三服治久瘧結為癥瘕名曰瘧母</p>
<p>按金匱要略云千金方用鱉甲十二片又有海藻三分大戟一分䗪蟲五分無鼠婦去硝二味以鱉甲煎和諸藥為丸</p>

<h3>鱉甲湯</h3>
<p>用鱉甲（二兩炙）細辛（二兩）桂心（二兩）白朮（二兩）生薑（四兩）吳茱萸（二兩）白蘚皮（二兩）附子（一兩半炮）枳實（二兩）茵陳（二兩）大黃（三兩）用水八升煮取二升六合去滓分三服服如人行五里又進一服忌生菜莧菜豬肉桃李雀肉等療天行病七日以上熱勢彌固大便秘澀心腹痞滿食飲不下精神恍惚狂言亂語脈候沉細眾狀之中一無可救宜服此湯</p>

<h3>鱉甲湯</h3>
<p>用鱉甲（三兩炙）大青（二兩）石膏（八兩碎）丹皮（一兩）烏梅肉（一兩）常山（三兩）竹葉（一升）牛膝（三兩）甘草（一兩）香豉（一升）熬帛裹用水九升煮取三升分溫三服日三忌生蔥生菜鯉裡海藻菘菜莧菜蕪夷療天行三七日至四七日勞㾓殦玄不歇熱毒不止乍寒乍熱乍劇乍瘥發動如瘧一方用天門冬生地黃○㾓骨節疼也</p>

<h3>鱉甲飲子</h3>
<p>用鱉甲醋炙白朮黃耆草果檳榔橘紅厚朴（制）甘草（炙）川芎芍藥各等分每服四錢水一盞姜（七片）棗（一枚）烏梅少許煎七分溫服治瘧疾久不愈脅下痞滿腹中結塊名曰瘧母</p>

<h3>芎歸鱉甲飲</h3>
<p>用川芎當歸鱉甲醋炙茯苓青皮陳皮半夏芍藥各等分每貼二兩用水二鍾生薑（五片）棗（二枚）烏梅（一枚）煎至一鍾食遠服熱多加柴胡寒多加草果治勞瘧表裡俱虛真元未復疾雖暫止少勞復來</p>

<h3>甘草湯</h3>
<p>治少陰病二三日咽痛者可與甘草湯不瘥者與桔梗湯又治傷寒脈代心悸動危困者</p>

<h3>甘草（二兩甘平）</h3>
<p>上一味以水三升煮取一升半去滓溫服七合日二服</p>

<h3>桔梗湯</h3>
<p>一名甘桔湯宋仁宗名如聖湯即甘草湯加桔梗（一兩）金匱治肺癰咳而胸滿振寒脈數咽乾時出濁唾腥臭久久吐膿如米粥者服之則吐膿血也亦治血痹</p>
<p>按成無己雲陽邪傳於少陰邪熱為咽痛服甘草湯則瘥若寒熱相搏為咽痛者服甘草湯若不瘥與桔梗湯以和少陰之氣蓋桔梗辛溫以散寒甘草甘平　以除熱甘桔相合以調寒熱海藏加減法加訶子皮（二錢）煎去滓飲清名訶子散治失音無聲○如咳逆上氣者加陳皮○如涎嗽者加知母貝母○如酒毒者加葛根○如少氣者加人參麥門冬○如唾膿血者加紫菀○如疫毒腫者加鼠黏子大黃○如咳渴者加五味子○如嘔者加生薑半夏○如目赤者加梔子大黃○如胸滿膈不利者加枳殼○如不得眠者加梔子○如心胸痞者加枳實○如膚痛者加黃耆○如面目腫者加茯苓○如咽痛者加鼠黏子竹茹○如肺痿者加阿膠能續氣○如發癍者加防風荊芥○如聲不出者加半夏</p>

<h3>荊芥湯</h3>
<p>即甘桔湯加荊芥生薑治咽喉腫痛語音不出咽之痛甚</p>

<h3>桔梗甘草梔子湯</h3>
<p>用桔梗甘草梔子等分治豆瘡煩燥</p>

<h3>大黃甘草湯</h3>
<p>用大黃（四兩）甘草（一兩）水三升煮取一升溫服治內熱熾盛幽門不通上衝吸門食入反出</p>

<h3>枳殼湯</h3>
<p>枳殼（五兩）甘草（二兩）末之蔥白湯調下治腰背氣動發痛</p>

<h3>枳桔湯</h3>
<p>用枳殼桔梗等分水煎溫服治胸中痞滿不痛</p>

<h3>清神湯</h3>
<p>即枳桔湯內加甘草防風水煎服治口舌生瘡及咽中瘡</p>

<h3>桔梗湯</h3>
<p>即甘桔湯加連翹薄荷山梔黃芩入竹葉煎服治熱腫喉痹春倍加防風夏倍加黃芩知母季夏淫雨倍加羌活秋加桂（五錢）冬加桂（一兩）以意消息隨證加減用之治熱在上焦身熱脈洪無汗多渴者</p>

<h3>上清丸</h3>
<p>即甘桔湯加薄荷防風川芎砂仁為細末蜜丸如龍眼大噙化治咽喉腫痛痰涎壅盛</p>

<h3>瀉白散</h3>
<p>即清神湯去枳殼加地骨皮作散白湯調或煎服治肺火</p>

<h3>如聖湯</h3>
<p>即甘桔湯加麥門冬牛蒡子一方加荊芥防風連翹治痰清熱利咽喉諸症</p>

<h3>涼膈散</h3>
<p>即海藏桔梗湯去桔梗加大黃朴硝治大人小兒積熱煩躁多渴面熱唇焦咽燥舌腫喉閉目赤鼻衄頷頰結硬口舌生瘡譫語狂妄腸胃燥澀便溺閉結睡臥不安本事方無黃芩有赤芍藥乾葛</p>

<h3>加味轉舌膏</h3>
<p>即桔梗湯加遠志石菖蒲防風川芎柿霜犀角玄明粉酒大黃為末蜜丸如彈子大硃砂為衣臨臥薄荷湯下治中風失音不語之症</p>

<h3>雙和散</h3>
<p>即涼膈散合四物湯能益血泄熱</p>

<h3>瀉黃散</h3>
<p>即涼膈散去連翹加藿香石膏治脾熱一方並去大黃芒硝名瀉脾散</p>

<h3>防風通聖散</h3>
<p>即雙和散去地黃加麻黃桔梗石膏滑石防風荊芥白朮治一切風熱大便秘結小便赤澀頭面生瘡咽喉腫痛眼目赤疼</p>

<h3>清咽利膈湯</h3>
<p>即涼膈散加防風荊芥玄參桔梗黃連牛蒡子治咽喉腫痛痰涎壅盛</p>

<h3>芍藥清肝散</h3>
<p>即涼膈散去連翹加防風荊芥羌活桔梗柴胡前胡川芎芍藥白朮知母滑石石膏治眵多眊燥緊澀羞明赤脈貫睛臟腑秘結者</p>

<h3>犀角防風湯</h3>
<p>即涼膈散去大黃芒硝加犀角桔梗石膏滑石羌活獨活天麻麻黃防風荊芥全蠍細辛</p>
<p>當歸白朮治一切諸風口眼喎邪手足嚲拽言語謇澀四肢麻木若大便秘結加大黃（一錢）</p>

<h2>大續命湯</h2>
<p>外臺名續命湯範汪同云是仲景方治肝厲風卒然喑啞依古法用大小續命二湯通治五臟偏枯賊風及產婦老小等方</p>
<p>麻黃　芎藭（各三兩）　乾薑　石膏　人參　當歸　桂心　甘草（各二兩）　杏仁（四十枚）</p>
<p>上九味㕮咀以水一斗先煮麻黃兩沸掠去沫內諸藥煮取三升分三服</p>

<h3>大續命湯</h3>
<p>即前方去甘草加黃芩煎好去滓入荊瀝煮數沸分四服能言未瘥後服小續命湯舊無荊瀝千金增之其效如神千金翼有甘草</p>

<h3>西州續命湯</h3>
<p>即大續命湯去人參倍麻黃石膏加黃芩（一兩減）甘草當歸乾薑（各一兩）治中風入臟身體不自收口不能語冒昧不識人拘急肩痛不得轉側稍能自覺勿熟眠臥可厚覆小汗出已漸漸減衣勿復大覆可熟眠矣前服不汗者更服一升汗後稍減五合一服安穩乃服勿頓服也汗出勿復服先患冷汗者不可服羸人但當稍與五合為佳胡洽文仲肘後肘後千金同</p>

<h3>小續命湯</h3>
<p>即大續命湯去乾薑石膏當歸加芍藥黃芩（八味各一兩）防風（一兩半）附子（一枚）生薑（五兩）外臺同小品千金翼有防己（一兩）深師古今錄驗有白朮（一兩）無杏仁錄驗一方有當歸石膏一方無桂心名續命湯救急無芎藭杏仁延年無防風梁卿得效方有茯神細辛白蘚皮羌活無芍藥黃芩千金一方無人參芍藥杏仁有獨活當歸葛根細辛茯苓治卒中風欲死身體緩急口目不正舌強不能語奄奄忽忽神情悶亂諸風服之皆驗不令人虛</p>
<p>按外臺秘要云余昔任戶部員外忽嬰風疹便服此湯三年之中凡得四十六劑風疾迄今不發余曾任殿中少監以此狀說向名醫咸云此方為諸陽之要藥又云此方甚良不瘥合三四劑必佳取汗隨人風輕重虛實也有人腳弱服此方至六七劑得瘥有風疹家天陰節變輒合之可以防喑也忌豬肉冷水海藻菘菜生蔥梁卿雲每一服相去七八里許覆取汗可服三劑間五日一進若老弱虛羸須間十日以上不可頻服加減法</p>

<h3>精神恍惚加茯神遠志</h3>
<p>骨節煩疼有熱者去附子倍芍藥　心煩多驚加犀角　骨節疼痛此有寒濕倍加官桂附子</p>
<p>嘔逆腹脹加半夏倍人參　燥悶大便澀去附子倍芍藥入竹瀝　臟寒下痢去防己黃芩倍附子加白朮</p>
<p>自汗去麻黃杏仁加白朮　腳膝弱加牛膝石斛　身疼加秦艽　腰痛加桃仁去皮尖炒杜仲薑汁炒</p>

<h3>易老加減法</h3>
<p>凡治中風不審六經之形證加減雖治與不治無異也</p>

<h3>麻黃續命湯</h3>
<p>治中風無汗惡寒本方中麻黃防風杏仁各加一倍</p>

<h3>桂枝續命湯</h3>
<p>治中風有汗惡風本方中桂枝芍藥杏仁各加一倍</p>

<h3>白虎續命湯</h3>
<p>治中風身熱無汗不惡寒而渴本方中加知母石膏各一錢四分去附子</p>

<h3>葛根續命湯</h3>
<p>治中風身熱有汗惡風本方中加葛根官桂茯苓各一錢半</p>

<h3>附子續命湯</h3>
<p>治中風無汗身涼本方中加附子一倍乾薑一錢</p>

<h3>桂附續命湯</h3>
<p>治中風有汗無熱本方中加桂附甘草各一倍</p>

<h3>羌活連翹續命湯</h3>
<p>治中風肢節攣痛不仁本方中加羌活連翹各一錢五分</p>

<h3>八風續命湯</h3>
<p>即小續命湯去芍藥川芎防風附子加當歸獨活幹姜（各一兩）石膏五錢治半身不遂手腳拘急體強身冷角弓反張不語狂言等證</p>

<h3>獨活續命湯</h3>
<p>即小續命湯有防己加白花蛇獨活幹蠍（各三錢）治卒暴中風不省人事漸覺半身不遂</p>

<h3>白華續命湯</h3>
<p>即獨活續命湯去黃芩芍藥杏仁防己加天麻殭蠶白朮藁本赤箭細辛白附子半夏白茯苓治卒中急風牙關緊急精神昏憒</p>

<h3>續命煮散</h3>
<p>即小續命湯去芍藥黃芩加獨活防己茯苓升麻細辛石膏白朮為粗末內小絹袋以水和生薑煮服日日服之慎風冷大良治諸風無問輕重</p>

<h2>栝蔞薤白白酒湯</h2>
<p>治胸痹之病喘息咳唾胸背痛短氣寸口脈沉而遲關上小緊數</p>
<p>栝蔞實（一枚搗）　薤（半斤）　白酒（十升）</p>
<p>上三味同煮取二升分溫再服</p>

<h3>栝蔞薤白半夏湯</h3>
<p>即前方加半夏（半升）減薤白（五兩）煮取四升溫服一升日三服治胸痹不得臥心痛徹背者</p>

<h3>枳實薤白桂枝湯</h3>
<p>即前方加枳實（四枚）厚朴（四兩）桂枝（一兩）不用白酒以水五升先煮枳實厚朴取二升去滓內諸藥煮數沸分溫三服治胸痹心中痞氣氣結在胸胸滿脅下逆搶心</p>

<h3>栝蔞瞿麥丸</h3>
<p>用栝蔞根（二兩）茯苓薯蕷（各三兩）附子（一枚）瞿麥（一兩）末之煉蜜丸如梧子大飲服三丸日三服不知增至七八丸治淋而小便不利者有水氣其人苦渴以小便利腹中溫為知</p>

<h3>栝蔞牡蠣散</h3>
<p>用栝蔞根牡蠣熬等分為細末飲服方寸匕日三服治百合病渴不瘥者</p>

<h3>栝蔞桂枝湯</h3>
<p>用桂枝湯加栝蔞（二兩）治太陽病其證備身體強𠘧𠘧然脈反沉遲此為痓此湯主之</p>

<h2>百合知母湯</h2>
<p>治百合病發汗後者</p>
<p>百合（七枚擘）　知母（三兩切）</p>
<p>上先以水洗百合漬一宿當白沫出去其水更以泉水二升煎取一升去滓別以泉水二升煎知母取一升去滓後合和煎取一升　五合分溫再服</p>

<h3>百合雞子湯</h3>
<p>即百合知母湯去知母加雞子黃（一枚）以泉水煎百合如前法取湯一升去滓內雞子黃攪勻煎五分溫服治百合病吐之後者</p>

<h3>滑石代赭湯</h3>
<p>即百合知母湯去知母加滑石（三兩）碎綿裹代赭石（如彈丸大一枚）碎綿裹以泉水煎百合如前法取湯一升去滓另以泉水二升煎二石取一升去滓合和重煎取一升五合分溫服治百合病下之後者</p>

<h3>百合地黃湯</h3>
<p>即百合知母湯去知母加生地黃汁（一升）以泉水煎百合如前法取一升去滓內地黃汁煎取一升五合分溫再服中病勿更服大便常如漆治百合病不經吐下發汗病形如初者</p>

<h3>百合洗方</h3>
<p>以百合（一升）水一斗漬之一宿以洗身洗已食煮餅勿以鹽豉也治百合病一月不解變成渴者渴不瘥者用栝蔞根牡蠣煅等分為細末飲服方寸匕日三服</p>

<h3>百合滑石散</h3>
<p>百合（一兩炙）滑石（三兩）為散飲服方寸匕日三服當微利者止服熱則除治百合病變發熱者或云寒熱者</p>

<h3>百合栝蔞牡蠣湯</h3>
<p>百合栝蔞根牡蠣各等分為散湯服方寸匕日三服治百合病不瘥</p>

<h3>百合四君子湯</h3>
<p>即百合合四君子湯治老弱虛人不得眠又治解㑊尺脈緩澀尺主腹背緩為熱中澀為無血故解㑊而不可名之然熱不熱寒不寒弱不弱壯不壯寧不可名為之解㑊也惟百合一證與此比比相若</p>

<h3>百花膏</h3>
<p>百合款冬花等分為細末蜜丸如龍眼大每服一丸細嚼或噙化治喘嗽不已痰中有血</p>

<h3>百合散</h3>
<p>百合隨多少熬令黃色末之每飲服方寸匕日三服治百合病服中滿痛者千金用干百合為末溫水服二錢一日二服治耳聾耳痛</p>

<h3>百合膏</h3>
<p>用新百合（四兩）蜜和蒸軟時時含一片吞津治肺臟壅熱咳嗽者衛生易簡方用新百合搗汁和水飲之治肺病吐血亦可煮食</p>

<h3>百合湯</h3>
<p>用百合煮濃汁服一升治陰毒傷寒良此孫真人方也</p>

<h3>骨哽方</h3>
<p>用百合（五兩）研末蜜水調圍頸項包住不過三五次即下</p>

<h2>香薷飲</h2>
<p>治伏暑引飲口噪咽乾或吐或瀉並皆治之</p>
<p>香薷（去土八兩）　白扁豆（微炒去殼四兩）　厚朴（去皮薑汁炒四兩）</p>
<p>上三味㕮咀每服三錢水一盞入酒少許煎七分沉冷服之一方加黃連（二兩）薑汁炒令黃色名黃連香薷散如有搐溺加羌活煎服</p>

<h3>香薷湯</h3>
<p>即香薷飲加茯神（四兩）甘草（二兩）為末沸湯點服加鹽少許亦可</p>

<h3>十味香薷飲</h3>
<p>即香薷飲加異功散黃耆木瓜為末每服二錢熱湯或冷水調服消暑氣和脾胃</p>

<h3>六和湯</h3>
<p>即十味香薷飲去黃耆白朮陳皮加砂仁杏仁半夏藿香薑棗煎服治心脾不調氣不升降霍亂吐瀉寒熱交作傷寒陰陽不分冒暑伏熱煩悶或成痢疾中酒煩渴畏食</p>

<h3>香薷丸</h3>
<p>即香薷湯去厚朴扁豆加紫蘇木瓜藿香檀香丁香為細末蜜丸治大人小兒傷暑伏熱瞀悶昏眩一切暑病每服一二丸細嚼溫湯下</p>

<h3>枇杷葉散</h3>
<p>即香薷飲去扁豆加枇杷葉陳皮丁香木瓜茅根麥冬甘草為細末每服二錢生薑三片煎服或用井花水調下治中暑伏熱煩渴引飲嘔噦噁心頭目眩暈</p>

<h3>消暑十全散</h3>
<p>即香薷湯加紫蘇藿香檀香白朮木瓜生薑治伏暑胃氣不和心腹滿痛</p>

<h3>加味香薷飲</h3>
<p>即香薷湯合四苓散加芍藥陳皮黃連黃芩木瓜治暑瘧</p>

<h3>香薷煎</h3>
<p>用干香薷（五十斤）銼入釜中以水淹過三寸煮使氣力都盡去滓澄之微火煎至可丸桐子大一服五丸日三服漸增至小便利則愈治水病洪腫</p>

<h3>薷術丸</h3>
<p>用香薷葉（一斤）水一斗熬膏煩去滓再熬成膏加白朮末（七兩）和丸桐子大每服十丸米飲下治通身水腫○李時珍曰世醫治暑概以香薷飲然暑有乘涼飲冷致陽氣為陰邪所遏遂病頭痛發熱惡寒煩燥口渴或吐或瀉或霍亂者宜用以發越陽氣散水和脾若飲食不節勞役作喪之人傷暑大熱大渴汗泄如雨煩燥喘促或瀉或吐乃勞倦內傷之症必用東垣清暑益氣湯人參白虎湯之類以瀉火益元可也若用香薷是重虛其表而又濟之以熱矣蓋香薷乃夏月解表之藥如冬月用麻黃氣虛者勿多服今人不知暑傷元氣概用代茶謂能闢暑真癡前說夢且性溫不可熱飲反致吐逆冷服則無拒格之患</p>

<h3>扁豆湯</h3>
<p>用香薷葉扁豆葉各一升木瓜（一枚切）乾薑（一兩切）以水六升煮取二升五合去滓分溫三服服別相去如人行六七里治霍亂吐利</p>

<h2>芎辛湯</h2>
<p>治頭風鼻塞聲重肩背拘急</p>
<p>川芎（半兩）　細辛（二錢）　甘草（一錢半）</p>
<p>上為粗末水煎去滓臨臥分二服一法加白芷辛夷甘菊治鼻出黃水濁涕不絕腦痛目昏一法以細辛（二錢）川芎白芷減半為細末搐入鼻中治頭痛</p>

<h3>芎辛湯</h3>
<p>即芎辛湯加附子川烏南星乾薑等分每服四錢姜五片芽茶少許水煎服治一切偏正頭痛不可忍者除發熱者不當服其餘痰厥飲厥腎厥等症只以此藥調鍾乳粉間服治頭痛緊捷之法無以逾此頭痛多用石膏取其能墜痰飲恐其性寒故以鍾乳代之</p>

<h3>白龍丸</h3>
<p>即芎辛湯加藁本白芷各等分為細末每藥四兩入煅過石膏半斤水丸每兩分作八丸薄荷清茶食後嚼下一丸治男婦一切風症遍身瘡癬手足頑麻偏正頭疼鼻塞腦悶大解傷寒頭風又治霧露之氣或發熱療風蛀牙疼用一丸分作三次乾擦後用鹽湯漱之更用蔥茶嚼下</p>

<h3>通關散</h3>
<p>即芎辛湯加撫芎川烏白芷為細末每服一錢蔥白茶清或薄荷湯調下治中風傷寒發熱惡風頭痛目眩鼻塞聲重肩背拘急身體痠疼肌肉瞤動牙關緊急久新頭風眼暗</p>

<h3>川芎丸</h3>
<p>即芎辛湯加防風薄荷桔梗為末煉蜜丸如芡實大食後臨臥茶清細嚼一丸消風壅化痰涎利咽膈清頭目治頭痛旋眩心忪煩熱頸項緊急肩背拘倦肢體煩疼皮膚瘙癢腦昏目疼鼻塞聲重面上遊風狀如蟲行</p>

<h3>五積散</h3>
<p>調中順氣除風冷化痰飲治脾胃宿冷腹肋脹痛胸膈停痰嘔逆噁心或外感風寒內傷生冷心腹痞悶頭目昏痛肩背拘急肢體怠惰寒熱往來飲食不進及婦人血氣不調心腹撮痛經候不調或閉不通</p>
<p>麻黃（去根節六兩）　肉桂（去粗皮）　芍藥（各三兩）　甘草（炙三兩）　蒼朮（米泔浸廿四兩）　厚朴（去粗皮四兩）　陳皮（去白六兩）　半夏（湯洗七次）　茯苓（各三兩）　枳殼（去穰炒六兩）桔梗（去蘆頭十二兩）　川芎　當歸（去蘆各三兩）　乾薑（炮四兩）　白芷（三兩）</p>
<p>上除肉桂枳殼二味別為粗末外十三味同為粗末慢火炒令色轉攤冷次入桂枳殼末令勻每服三錢水一盞半入生薑三片煎至一盞去滓溫服</p>
<p>按海藏五積論云麻黃桂芍藥甘草即麻黃桂枝各半湯也蒼朮甘草陳皮厚朴即平胃散枳殼桔梗陳皮茯苓半夏即枳桔二陳湯兼川芎當歸湯治血又加乾薑為厚朴散此數藥相合為解表溫中泄熱之劑去痰消痞調經之方雖為內寒外感表裡之分所制實非仲景表裡麻黃桂枝姜附之的方也至於冷積嘔吐泄痢癥瘕時疾疫氣項背拘急加蔥自豆豉厥逆加吳茱萸寒熱咳逆加棗婦人難產加醋始知用之非一途也惟知活法者擇之</p>

<h2>大羌活湯</h2>
<p>一名九味羌活湯一名沖和湯治傷寒脈浮緊傷風脈浮緩並解兩感惡候</p>
<p>羌活　防風　蒼朮（各一錢五分）　細辛（五分）　川芎　白芷　生地黃　黃芩　甘草（各一錢）</p>
<p>上水二鍾煎八分　陶節庵捶法用生薑（三片）棗（二枚）煎一鍾加蔥白（搗汁五匙）入藥再煎一二沸食後溫服被覆取微汁為度如無汗啖熱稀粥助之煉蜜作丸服尤妙</p>
<p>按潔古云有汗不得服麻黃無汗不得服桂枝若未瘥其變不可勝言故立此法不犯三陽禁忌解表神方海藏云傷寒得傷風脈傷風得傷寒脈故仲景有大青龍之劑及汗出過多戒不可服有筋惕肉瞤之證許學士諄諄以此則知麻黃桂枝不可輕用及韓氏又有桂枝之戒至楊氏明理特有五見脈體非精於持診者未易能也先師潔古老人博採眾方別立此法無問有汗無汗中風中寒悉治使喜溫者去五積之變熱好涼者除雙解之變寒雖市夫農子用而無失</p>

<h3>羌活散</h3>
<p>即本方去蒼朮白芷生地加前胡麻黃白茯苓蔓荊子枳殼石膏菊花治風氣不調頭目昏眩痰涎壅滯遍身拘急風邪寒壅頭痛項強鼻塞聲重肢節煩疼天陰風雨預覺不安</p>

<h3>羌活地黃各半湯</h3>
<p>即大羌活湯同生地黃等分解利兩感傷寒有神詳說見難知</p>

<h3>加減沖和湯</h3>
<p>即大羌活湯去蒼朮細辛加白朮黃耆治頭痛發熱惡風自汗脈浮緩者</p>

<h3>神術湯</h3>
<p>即大羌活湯加石膏知母治夏月感冒風邪</p>

<h3>羌活愈風湯</h3>
<p>即大羌活湯合羌活散及十全大補湯去白朮加地骨皮防己柴胡獨活薄荷知母秦艽枸杞杜仲半夏厚朴共三十三味內芩苓各三錢生蒼石芍（各四錢）桂（一錢）余各二錢和均每服一兩水二鍾煎一鍾溫服天陰加生薑三片療肝腎虛筋骨弱語言難精神憒是中風濕熱內弱者是以風熱體重也或瘦或肥偏枯不遂或恐而健忘或喜而多思皆精不足也此藥能安心養神調和陰陽</p>

<h2>香蘇散</h2>
<p>治四時感冒風邪頭痛發熱者及瘟疫傷寒</p>
<p>紫蘇　香附（醋製去毛各二兩）　陳皮（去白一兩）　甘草（半兩）</p>
<p>上四味為粗末每服三錢水一盞煎至七分去滓熱服不拘時候日三服若作細末只服二錢入鹽點服如頭痛加川芎白芷（各一兩）</p>
<p>愚按太平惠民局方云昔有白髮老人授此方與一富人家其家合施當大疫城中病者皆愈其後疫鬼問富人富人以實告鬼曰此老教三人矣稽顙而退內經曰辛甘發散為陽又曰風淫所勝平以辛佐以苦甘香附味辛苦甘辛能散苦能降甘能和且香而能竄能輔正除邪故以為君紫蘇辛溫能散風寒而發表陳皮辛溫能下氣燥濕甘草甘平能和中輔正所以治瘟疫四時不正之氣也</p>

<h3>芎蘇散</h3>
<p>用枳殼二陳湯加川芎紫蘇柴胡乾葛治頭痛發熱惡寒咳嗽吐痰氣洶</p>

<h3>參蘇飲</h3>
<p>用芎蘇飲去川芎柴胡加人參前胡木香治感冒風邪發熱頭痛咳嗽聲重涕唾稠黏此藥大解肌熱快膈</p>

<h3>十味和解散</h3>
<p>用白朮（一錢半）桔梗（去蘆）人參（去蘆）甘草（炙）陳皮（去白）枳殼（去穰麩炒）赤芍藥厚朴（薑製）當歸（各一錢）防風（去蘆七分）上㕮咀作一服用水一鍾生薑（三片）蔥白（三根）煎至一鐘不拘時服</p>
<p>治感冒風寒頭疼發熱發散風邪</p>

<h2>蔥豉湯</h2>
<p>療傷寒有數種庸人不能分別今取一藥兼療者若初覺頭痛身熱脈洪起一二日者服之蔥白（一虎口一用十四莖）　豉（一升綿裹）</p>
<p>上二味以水三升煮取一升頓服取汗若汗不出加葛根（三兩）一方更加升麻（三兩）水五升煮取二升分溫再服徐徐服亦得必得汗即瘥若不得汗更作加麻黃（三兩）去節服取汗出為效一方用蔥白（二兩半）豉（半斤）一方用蔥白（一握）米（三合）豉（一升）先以水一斗煮米少時下豉後內蔥白令大熟取三升分溫三服則出汗</p>

<h3>葛根豆豉湯</h3>
<p>用葛根（四兩）以水一斗煮取三升內豉（一升）更煮取一升半分溫再服取汗為瘥一方搗生葛根汁（一二升）服亦佳</p>

<h3>鹽豉湯</h3>
<p>用豉（三升）綿裹鹽（一兩）以水七升煮取二升半去滓內蜜（一升）大煮三沸頓服一升安臥當吐如不吐更服一升取吐為效療傷寒汗出不歇已三四日胸中惡欲令吐者</p>

<h3>葛根蔥豉湯</h3>
<p>用葛根（半斤）烏梅（十四枚）蔥白（一握）豉（一分）綿裹上四味切以水九升煮取三升分為三服初一服便厚覆取汗汗出粉之療傷寒一日至三日應汗者</p>

<h3>梔子湯</h3>
<p>用梔子黃芩（各三兩）豉（一升）熬綿裹蔥白（切一升）石膏（四兩）碎綿裹乾薑（四兩切）以水七升煮取二升六合去滓分溫三服如人行八九里再服忌酒面生冷等物主天行一二日頭痛壯熱心中熱者</p>

<h3>豉尿湯</h3>
<p>用豉（一升）蔥白（切一升）童便（三升）先熬豉及蔥白令相得則投童便煮取一升澄清及熱頓服或汗或利但瘥則止如未更進一劑頻用有效療天行熱氣頭痛骨肉痠疼壯熱若初病一日在毛髮二日在皮膚三日在肌肉未得取利宜服此</p>

<h3>柴胡湯</h3>
<p>用麻黃（二兩）去節柴胡（三兩）黃芩（三兩）甘草（二兩炙）石膏（五兩碎）綿裹乾葛（三兩）蔥白根（切一升）勿留青處青即熱白即冷一作桑根皮豉（七合）綿裹三沸去之以水九升宿漬藥明旦先煮麻黃令沸掠去沫後並諸藥煮取一升七合分三服服相別去三食頃良久覆取汗出以粉拭之惡寒者加桂心忌莧菜生蔥生菜野豬肉蘆筍</p>

<h3>解肌葛根五物飲</h3>
<p>葛根（切五合）蔥白（切一升）生薑（切一合）豉（一升）帛裹粳米（二合）研碎以水五升煮取豉以上四味取三升半汁去滓內粳米屑煮令米爛帶熱頓服候盡微覆取汗無所忌</p>

<h3>柴胡湯</h3>
<p>用升麻（六分）柴胡（八分）芍藥（六分）甘草（五分）石膏（十二分碎）麥門冬（去心）蔥白（半分）香豉（六分）帛裹生薑（六分）竹葉（洗切八升）以水九升煮取二升半絞去滓分溫三服服別如人行六七里頃進一服不吐不利瘥忌海藻菘菜熱面油膩</p>

<h3>鼠屎湯</h3>
<p>用雄鼠屎（三七枚）熬未湯成下乾葛（二兩）梔子（十四枚擘）蔥白（切一升）豉（八合）以水三升煮取一升七合去滓內鼠屎末分溫二服服別相去如人行六七里微汗內消不利療患天行熱氣瘥後勞發頭痛如初病者</p>

<h3>七味蔥白湯</h3>
<p>用蔥白生薑鹽豉葛根麥門冬乾地黃等分用水一杓揚之無數名曰澇水以煎前藥三分去二去滓分作二服覆首出汗許仁則云傷寒或因氣勞或因力勞或因食勞此方主之其病如強力持重行步而發者力勞也</p>

<h3>蔥白姜蕤五味飲</h3>
<p>用葳蕤（五兩）蔥白（一升）豉（一升）帛裹粳米（三合研碎）雄鼠屎（七枚）末之以水七升先煮三味取汁四升去滓內粳米屑煮米熟訖內鼠屎末攪調頓服覆被安臥取汗瘥療天行瘥後勞發服蔥白（七味）飲未愈者</p>

<h3>連須蔥白湯</h3>
<p>用蔥白連須（半斤）生薑（二兩）以水二升煮取一升去滓分二三服治傷寒發汗未已頭疼如破者如不瘥用後葛根蔥白湯</p>

<h3>蔥薑湯</h3>
<p>用蔥白（十莖）生薑（三片）以水三升煎取一升分三服取汗為度治妊娠傷寒</p>

<h3>葛根蔥白湯</h3>
<p>即蔥薑湯加葛根芍藥川芎知母以水三升煮取一升去滓分二服治詳連須蔥白湯下</p>

<h3>麻黃葛根蔥豉湯</h3>
<p>即蔥豉湯加麻黃葛根水煮麻黃去沫次下葛根煎二十沸次下豉次下蔥白煎成去滓溫服少時以蔥醋粥投之覆衣取汗治傷寒二三日頭項腰脊痛惡寒脈浮而緊者分兩隨症定奪</p>

<h3>枳實湯</h3>
<p>用枳實（三枚炙）梔子（十四枚擘）蔥白（切一升）香豉（半升）鼠屎（二七枚）以水一升煎取二升五合分溫三服服別相去如人行六七里又服內消不利療患數日復勞發者</p>

<h3>蔥白一物湯</h3>
<p>用蔥白二把煎湯服取汗</p>
<p>愚按傷寒法仲景此萬古不易之論也但其言簡奧淺識不能探賾後世潔古乃立九味羌活湯自謂不犯三陽禁忌解表神方然投之徒使汗出淋漓其病不解不若蔥豉蔥姜等湯最為穩當且便於窮鄉僻壤不可以其易而思之</p>

<h1>卷之二</h1>

<h2>梔子豉湯</h2>
<p>治汗吐下後虛煩不得眠心中懊憹及發汗若下之而煩熱胸中窒者傷寒五六日大下之身熱不去心中結痛者又治陽明病下之其外有熱手足溫不結胸心中懊憹不能食但頭汗出者</p>
<p>梔子（十四枚擘苦寒）　香豉（四合綿裹苦寒）</p>
<p>上二味以水四升先煮梔子得二升半內豉煮取一升半去滓分為二服溫進一服得吐則止後服</p>
<p>按成無己云內經曰其高者因而越之其下者引而竭之中滿者瀉之於內其有邪者漬形以為汗其在皮者汗而發之治傷寒之妙雖有變通終不越此數法也傷寒邪氣自表傳裡留於胸中邪在高分則可吐之是越之之法然吐症亦自不同如未經汗下實邪蘊郁謂之膈實宜瓜蒂散乃吐胸中實邪也若發汗吐下邪氣乘虛留於胸中謂之虛煩宜用梔子豉湯乃吐胸中虛邪也又曰酸苦湧泄為陰苦以湧吐寒以勝熱梔子香豉相合而為吐劑宜矣又曰凡用梔子湯病人舊微溏者不可服</p>

<h3>梔子甘草豉湯</h3>
<p>即梔子豉湯加甘草（二兩）治症同前而少氣者蓋少氣則氣為熱搏散而不收者甘以補之也</p>

<h3>梔子生薑豉湯</h3>
<p>即梔子豉湯加生薑（五兩）治證同前而嘔者蓋嘔則氣為熱搏逆而不散者辛以散之也</p>

<h3>梔子厚朴湯</h3>
<p>即梔子豉湯去豉加厚朴（四兩）姜炙枳實（四枚）去穰炙令黃治傷寒下後心煩腹滿臥起不安者蓋用梔子之苦以湧虛煩枳樸之苦以泄腹滿也</p>

<h3>梔子乾薑湯</h3>
<p>即梔子豉湯去豉加乾薑（二兩）治傷寒醫以圓藥大下之身熱不去微煩者蓋用乾薑之辛熱以復正氣也</p>

<h3>梔子柏皮湯</h3>
<p>即梔子豉湯去豉加炙甘草黃柏（各一兩）治傷寒身黃髮熱者</p>

<h3>梔子大黃湯</h3>
<p>即梔子豉湯增豉（六合）加大黃（一兩）枳實（五枚）治酒黃疸心中懊憹或熱痛</p>

<h3>大黃硝石湯</h3>
<p>即梔子柏皮湯去甘草增黃柏加大黃硝石（各四兩）治黃疸腹滿小便不利而赤自汗出此為表和裡實當下之</p>

<h3>茵陳蒿湯</h3>
<p>用梔子鼓湯去谷加茵陳蒿（六兩）大黃（二兩）治谷疸之為病寒熱不食食即頭眩心胸不安久久發黃為谷疸又治陽明病但頭汗出身無汗劑頸而還身必發黃傷寒七八日身黃如橘子色小便不利腹微滿者成無己云小熱之氣涼以和之大熱之氣寒以取之茵陳梔子之苦寒以逐胃燥大黃之苦寒以下疹熱</p>

<h2>瓜蒂散</h2>
<p>治病如桂枝證頭不痛項不強寸脈微浮胸中痞硬氣上衝咽喉不得息者此為胸有寒也當吐之瓜蒂（一分熬黃苦寒）　赤小豆（一分酸溫）</p>
<p>上二味各別搗篩為散已合治之取一錢匕以香豉一合用熱湯七合煮作稀糜去滓取汁和散溫頓服之不吐者少少加得快吐乃止諸亡血虛家不可與服</p>
<p>按成無己雲華佗曰四日在胸則可吐之此迎而奪之之法也千金方曰氣浮上部填塞心胸胸中滿者吐之則愈此隨證治之之法也大約傷寒四五日邪氣客於胸中之時也加之胸中煩滿氣上衝咽喉不得息者則為吐證具乃可投諸吐藥而萬全之功有之矣又云其高者越之越以瓜蒂香豉之苦在上者湧之湧以赤小豆之酸內經曰酸苦湧泄為陰</p>

<h3>一物瓜蒂散</h3>
<p>即前方止用瓜蒂（二七個）以水一升煎取五合去滓頓服治太陽中暍身熱疼重而脈微弱此以夏月傷冷水水行皮中所致也又治傷寒三四日者或覺心滿堅硬腳手心但熱變黃不治而欲死者用瓜蒂為細末每用一字吹鼻令黃水出余殘末水調服之得嘔黃水一二升乃愈</p>

<h3>㗜鼻瓜蒂散</h3>
<p>用瓜蒂（十四個）丁香（一個）黍米（四十九粒）為細末噙水取一字㗜鼻下黃涎</p>
<p>按衍義云瓜蒂即甜瓜蒂也瓜蒂成熟自落其蒂在蔓莖上採得曝乾不拘多少為細末量病輕重每服一二錢匕膩粉一錢匕以水半合調勻灌之</p>
<p>又治偏正頭痛久不愈服諸藥及針刺不效者以其濕在頭也瓜蒂一味為細末以少許㗜之鼻中清水徐徐出一晝夜濕盡痛止為度此亦吐之意也經云濕氣在上以苦吐之故邪在胸中者服之邪在頭目者㗜之皆吐之屬也張子和云點目出淚㗜鼻瀝涕口食漉涎皆有以同乎吐也問古今吐法不一在胸中者或㗜之在頭者或吐之何也答曰頭為天之天肺為天之地鼻為肺之竅胸為肺之腑總而言之皆在心君之上無形之神至高之分故用之錯而效之同也又治小兒久患風癇纏喉風痹及大人風涎潮熱發則不省人事酒積食勞黃疸脾濕腫滿勞熱上喘肌熱咳嗽中滿眩暈膈實痰飲痰厥頭痛一切胸上病患脈沉實按之有力者並約量劑料輕重多少服之服之良久涎自出矣如涎不出含砂糖一塊下咽則涎出此物甚不損人全勝石碌硇砂等藥用諸瓜蒂藥吐不止者以麝香湯解之</p>

<h3>勝金丸</h3>
<p>用生薄荷（半兩）豬牙皂角（二兩）捶碎水一升二味一處浸取汁研成膏瓜蒂末（一兩）藜蘆（二兩）硃砂（半兩）將膏子搜和丸如龍眼大以硃砂為衣溫酒化下一丸甚者二丸以吐為度得吐即醒不醒不可救或謂中風無吐法引金虎碧霞為戒且如卒暴涎生聲如引鋸牙關緊急氣閉不行湯藥不能入命在須臾執以無吐法可乎但不當用銀粉藥恐損脾壞人四肢耳羅謙甫方有粉霜鉛粉無藜蘆治法同</p>

<h3>瓜蒂散</h3>
<p>用瓜蒂（七十五個）赤小豆（七十五粒）人參（去蘆五分）甘草（生用二錢五分）治痰飲酒</p>
<p>積食勞留飲停滯或寒結胸中熱鬱所化</p>

<h3>三聖散</h3>
<p>用防風（三兩）瓜蒂（三兩）藜蘆（一兩或五錢）治痰涎壅盛用此吐之以吐為度不必盡劑宜靜室暖不透風處用吐至以好醋蔥湯解之</p>

<h3>瓜蒂散</h3>
<p>用瓜蒂丁香（各七枚）小豆為末黑豆許於鼻少時黃水出瘥治身面四肢浮腫殺蟲去鼻中息肉陰黃黃疸及暴急黃</p>

<h3>瓜蒂散</h3>
<p>用苦參（二分）甘草（一分半）瓜蒂（二十枚）赤豆（二七粒）療傷寒汗出不渴三四日胸中惡欲吐者當吐不止作蔥豉汁解之忌海藻松菜</p>

<h3>赤小豆茯苓湯</h3>
<p>用赤小豆（三十枚）茯苓（六銖）瓜蒂（四銖）雄黃（二銖）甘草（五銖炙）栝蔞（四銖）用水三升先煮小豆茯苓取汁八合合後四藥搗為散取前汁調半錢匕適寒溫服之須臾當吐則愈治黑疸身體大小便正黑一方云療久黃疸</p>

<h3>瓜蒂散</h3>
<p>用瓜蒂（三分）赤小豆（四分熬）雄黃（四兩研）搗篩為散空心溫漿水服一錢匕半當吐止不吐加至二錢匕寮卒中惡心腹絞刺痛氣急脹奄奄欲絕</p>

<h2>調胃承氣湯</h2>
<p>陽明病不吐不下心煩者</p>
<p>大黃（四兩去皮清酒浸苦寒）　甘草（二兩炙甘平）　芒硝（半升鹹苦大寒）</p>
<p>上三味㕮咀以水三升煮取一升去滓內芒硝更上火微煮令沸少少溫服之</p>
<p>成無己曰熱淫於內治以鹹寒佐以苦甘芒硝鹹寒以除熱大黃苦寒以蕩實甘草甘平助二物推陳而緩中又曰承氣湯中用甘草恐其暴下也</p>

<h3>大承氣湯</h3>
<p>陽明病脈遲汗出不惡寒身重短氣腹滿潮熱大便硬者</p>
<p>大黃（四兩酒洗苦寒）　厚朴（半斤炙去皮苦溫）　枳實（五枚炙苦寒）　芒硝（三合鹹寒）</p>
<p>上四味以水一斗先煮二物取五升去滓內大黃更煮取二升去滓內芒硝更上微火一兩沸分溫再服得下余勿服</p>
<p>成無己曰內經曰燥淫所勝以苦下之大黃枳實之苦以潤燥除熱又曰燥淫於內治以苦溫厚朴之苦下結燥又曰熱淫所勝治以鹹寒芒硝之咸以攻蘊熱</p>

<h3>小承氣湯</h3>
<p>即大承氣湯去芒硝減厚朴（六兩）枳實（二枚）大熱結實者與大承氣湯小熱微結者與小承氣湯以熱不大甚故去芒硝又以結不至堅故減厚朴枳實也一名順氣湯一名三物厚朴湯成無己曰承順也傷寒入胃胃氣鬱滯糟粕秘結壅而為實是正氣不得舒順也湯以盪滌實邪使正氣得以舒順是以承氣名之又曰承氣湯下藥也用之尤宜審焉審知大實大滿堅有燥屎乃可投之也如非大滿則生寒熱而病不除況無滿實者而或妄投之則結胸痞氣之病生矣故曰傷寒有承氣之戒也</p>
<p>按海藏云調胃承氣湯治實而不滿即正陽陽明是也大承氣湯治大滿大實即太陽陽明是也小承氣湯治實而微滿即少陽陽明是也太陽陽明正陽陽明為最高之分故大黃但用酒浸從巔而下之也惟少陽陽明為最下之分處三經之內故大黃不用酒浸也非若二經而高爾若最高之分用最下之藥則耳目昏冒咽頰腫痛神癡不清之病有不免矣若最下之分用最高之藥則胸中氣消日久不復虛損成勞之病有不免矣故仲景三承氣湯各有主治隨經而異即不同也　又年老虛人傷寒可下者大承氣湯調胃承氣湯皆去硝慢火熬成玄明粉量輕重而下之</p>

<h3>桃仁承氣湯</h3>
<p>即大承氣湯減芒硝加桃仁一方去枳實厚朴加桂枝桃仁治傷寒熱毒入經結於五臟內有瘀積吐血下血及熱結膀胱其人如狂外解而小腹急痛者及血痢質實跌蹼損傷瘀血作痛等症</p>

<h3>三一承氣湯</h3>
<p>即大承氣湯加甘草治大承氣湯證腹滿實痛又治小承氣湯證內熱不便又治調胃承氣湯證譫語下利此湯合而為一故名三一承氣湯也</p>

<h3>六一順氣湯</h3>
<p>即大承氣湯加甘草黃芩芍藥柴胡以代大承氣小承氣調胃承氣三一承氣大陷胸大柴胡六湯故名六一順氣湯順即承也</p>

<h3>黃龍湯</h3>
<p>即大承氣湯加甘草人參當歸治心下硬痛下利純清水譫語發渴身熱者庸妄不識呼為漏底而用熱藥止之誤矣此因熱邪傳裡胃有燥屎名曰熱結利俗所謂傍流也</p>

<h3>三化湯</h3>
<p>即大承氣湯去芒硝加羌活治中風便溺阻隔邪氣內實者上焦滿治以厚朴中焦滿破以枳實下焦實奪以大黃用羌活者不離乎風也服後二便微行三焦氣化故曰三化</p>

<h3>麻仁丸</h3>
<p>即大承氣湯去芒硝加麻仁（二升）芍藥（半斤）杏仁（一斤）蜜丸服一名脾約丸一名潤腸丸治胃強脾弱不能運布津液濡潤大腸大便結燥者又治跌陽脈浮而澀小便數大便難為脾約者</p>

<h3>滌毒湯</h3>
<p>即大承氣湯去厚朴枳殼加甘草牛蒡當歸治時氣五發瘡瘍喉閉虐頭風等證</p>

<h3>厚朴七物湯</h3>
<p>即大承氣湯加生薑大棗桂甘草治腹痛脹滿</p>

<h3>大黃湯</h3>
<p>即調胃承氣湯加桃仁桂木通大腹皮治陽毒傷寒未解熱結在內恍惚如狂者</p>

<h2>大陷胸湯</h2>
<p>太陽病心中懊憹陽氣內陷心下因硬則為結胸傷寒六七日結胸熱實脈沉而緊心下痛者</p>
<p>大黃（六兩去皮苦寒）　芒硝（一升鹹寒）　甘遂（一錢匕苦寒）</p>
<p>上三味以水六升先煮大黃取二升去滓內芒硝煮一兩沸內甘遂末溫服一升得快利止後服</p>
<p>成無己云大黃謂之將軍以苦盪滌芒硝一名硝石以其咸能軟硬夫間有甘遂以通水也甘遂若夫間之遂其氣可以直達透結陷胸三物為允　利藥之中此為翛劑傷寒錯惡結胸為甚非此湯則不能通利之劑大而數少取其迅疾分解結邪此奇方之制也靈樞曰結雖大猶可解也在傷寒之結又不能久非陷胸湯孰可解之</p>

<h3>大陷胸丸</h3>
<p>即大陷胸湯增大黃（二兩）減芒硝（半升）加葶藶杏仁（各半升）先搗大黃葶藶二味內杏仁芒硝合研如脂和散取如彈丸一枚別搗甘遂末（一錢匕）白蜜（二合）水二升煮取一升溫頓服之一宿乃下如不下更服取下為效禁如藥法結胸證其脈浮大者不可下下之則死結胸證悉具煩躁者亦死</p>

<h2>十棗湯</h2>
<p>治太陽中風下利嘔逆表解乃可攻之</p>
<p>芫花（熬辛溫）　甘遂（苦寒）　大戟（苦寒各等分）　大棗（十枚擘甘溫）</p>
<p>上三味各搗為散以水一升半先煮大棗肥者十枚取八合去滓內藥末強人服一錢匕羸人服半錢平旦溫服之若下少病不除者明日更服加半錢得快之後糜粥自養</p>
<p>按成無己曰辛以散之芫花之辛以散飲苦以泄之甘遂大戟之苦以泄水水者腎所主也甘者脾之味也大棗之甘益土而勝水又云下嘔逆里受邪也邪在裡者可下亦須待表解乃可攻之其人漐漐汗出發作有時不惡寒者表已解也頭痛心下痞硬滿下脅下痛乾嘔短氣者邪熱內蓄而有伏飲是里未和也</p>

<h3>三花神祐丸</h3>
<p>即十棗湯加牽牛大黃輕粉水丸</p>

<h3>除濕丹</h3>
<p>即神祐丸加乳香沒藥</p>

<h3>玄青丹</h3>
<p>即神祐丸加黃連黃柏青黛元戎云以上四種藥極有毒不可輕試也</p>

<h3>趁痛丸</h3>
<p>即十棗湯去芫花加白芥子大麥面上三味藥為末拌和勻作餅慢火炒黃熟再為細末用大麥面一兩同上拌勻糊丸桐子大空心冷酒下十丸至十五丸明理趁痛丸無大戟治腳氣上攻風毒走注疼痛神效又治水氣浮腫</p>

<h3>舟車丸</h3>
<p>即神祐丸加青皮陳皮木香水丸白湯下七十丸</p>

<h3>控涎丹</h3>
<p>即十棗湯去芫花大棗加白芥子桃仁泥糊丸每服五七丸漸加至十丸薑湯下治一身及兩脅走痛痰挾死血者</p>

<h3>小胃丹</h3>
<p>即十棗湯去大棗加大黃黃柏水丸臨臥津液下二三十丸或白湯下製法詳準繩取膈上濕痰熱積以意消息之欲利空心服</p>

<h3>舟車神祐丸</h3>
<p>即舟車丸合神祐丸加檳榔取蟲加蕪荑為末水丸空心服五丸日三服　河間依仲景十棗湯例製出此方主療一切水濕為病戴人云十棗泄諸水之上藥所謂溫藥下者是已如中滿腹脹喘嗽淋閉水氣蟲腫留飲癖積氣血壅滯不得宣通風熱燥郁肢體麻痹走注疼痛久新瘧痢等病婦人經痛帶下皆令按法治之病去如掃故賈同知稱為神仙之奇藥也按婁全善曰舟車祐丸乃河間所定初服五丸日三服如至快利後卻常服以病去為度設病愈後平人能常服保養宣通氣血消運飲食若病痞悶極甚者多服反煩渴不開轉加痛悶宜初服二丸每服加二丸加至快利為度以意消息小兒丸如麻子大隨強弱增損三四歲者三五丸依前法加減至戴人變為神芎丸神秘不傳然每令人夜臥先服百餘粒繼以濬川等物投之五更當下種種病出投下少末再服和膈藥須以利為度五日一下者三日一下者病輕者可一二度止重者五六度方愈是擒縱卷舒之妙臨證制宜非言可諭觀其藥雖峻急認病的確自非老手諳練有大負荷者焉敢見諸行事余每親制用之若合符節然又隨人強弱當依河間漸次進服強實之人依戴人治法行之神效</p>

<h2>大聖濬川散</h2>
<p>即神祐丸去芫花大戟大棗輕粉加郁李仁芒硝</p>
<p>樓全善評曰此下諸積之聖藥也諸濕為土火熱能生濕土故夏熱則萬物濕潤秋涼則濕復燥乾溼病本不自生因干火熱怫鬱水液不能宣通停滯而生水濕也凡病濕者多自熱生而熱氣多為兼病內經云明知標本正行無問者是也夫濕在上者目黃而面浮在下者股膝腫厥在中者肢滿痞膈痿逆在陽不去者久則化氣在陰不去者久則成形世俗不詳內經所言留者攻之但執補燥之劑怫鬱轉加而病愈甚也法當求病之所在而為施治瀉實補虛除邪養正以平為期而已又嘗考戴人治法假如肝木乘脾土此土不勝木也不勝之氣尋救於子巳土能生庚金庚為大腸味辛者為金故大加生薑使伐肝木然不開脾土無由行也遂以舟車丸先通閉塞之路是先瀉其所不勝後以薑汁調濬川散大下之是瀉其所勝也戴人每言導水丸必用禹功散繼之舟車丸必以濬川散隨後如寒疝氣發動腰腳胯急痛者亦當下之以瀉其寒水世俗暗於治體一概鹵莽有當下而非其藥終致萎頓而已豈知巴豆可以下寒甘遂芫花可以下濕大黃芒硝可以下燥如是分經下藥兼食療之非守一方求其備也故戴人曰養生與攻疴本自不同今人以補劑療病宜乎不效也</p>

<h3>泄水丸</h3>
<p>即十棗湯加海帶海藻郁李仁續隨子商陸根水煮棗肉為丸如小豆大每服五十丸水下</p>

<h3>神芎導水丸</h3>
<p>用黃芩（一兩）黃連川芎薄荷（各半兩）　大黃（二兩）　滑石黑牽牛（各四兩）治勞瘵停濕二陽病熱鬱</p>
<p>河間制治一切熱證其功不可盡述設或久病熱鬱無問瘦痿老弱並一切證可下者始自十丸以為度常服此藥除腸胃積滯不傷和氣推陳致新得利便快並無藥燥搔擾亦不困倦虛損遂病人心意或熱甚必急須下者使服四五十丸未效再服以意消息常服二三十丸不動臟腑有益無損或婦人血病下惡物加桂半兩病微者常服甚者取利因而結滯開通惡物自下也凡老弱虛人脾胃經虛風熱所郁色黑齒稿身瘦痿黃或服甘熱過度成三消等病若熱甚於外則肢體躁擾病於內則神志躁動怫鬱不開變生諸證皆令服之惟臟腑滑泄者或裡寒脈遲者或婦人經病產後血下不止及孕婦等不宜服</p>

<h3>導水丸</h3>
<p>大黃黃芩（各二兩）滑石牽牛頭末（各四兩）為細末滴水丸梧桐子大每服五十丸加至百丸臨臥溫水服治濕熱腰痛泄水濕腫滿</p>
<p>加減法</p>
<p>加朴硝（一兩）退熱散腫毒止痛　加白芥子（一兩）去遍身走注疼痛　加郁李仁（一兩）散結滯通關節潤腸胃行滯氣通血脈　加甘遂（一兩）去濕熱腰痛泄水濕腫滿久病　加樟柳根（一兩）去腰腿沉重</p>

<h3>禹功散</h3>
<p>黑牽牛頭末（四兩）　茴香（一兩炒或加木香一兩）</p>
<p>上為細末以生薑自然汁調一二錢臨臥服</p>

<h3>加味控涎丸</h3>
<p>即神祐丸去大黃輕粉加苦葶藶巴豆水丸如粟米大每服三丸茶清下治風熱上攻壅盛中脘停痰留飲喘急四肢浮腫腳氣入腹及腹中諸氣結聚服之得利即效</p>

<h3>甘遂半夏湯</h3>
<p>用甘遂大者三枚半夏（十二枚）以水一升煮取半升去滓芍藥（五枚）甘草如指大一枚炙上四味以水二升煮取半升去滓以蜜半升和藥汁煎取八合頓服之治病者脈伏其人慾自利利反快雖利心下續堅滿此為留飲欲去</p>

<h3>疏鑿飲子</h3>
<p>用澤瀉赤小豆炒商陸羌活大腹皮椒目木通秦艽檳榔茯苓皮以上（各一錢）治水氣通身浮腫喘呼氣急煩躁多渴大小便不利服熱藥不得者</p>

<h3>神助散</h3>
<p>用黑牽牛炒取頭末澤瀉（各二錢）豬苓椒目（各二錢五分）葶藶（五錢）治十種水氣面目四肢浮腫以手按之隨手而起咳嗽喘急不得安臥小便赤澀大便難</p>

<h2>牡蠣澤瀉散</h2>
<p>治人病瘥後從腰以下有水氣者</p>
<p>牡蠣　澤瀉　蜀漆（洗去星）　栝蔞根　葶藶子　商陸根（熬）　海藻（洗去咸各等分）</p>
<p>上七味異搗下篩為散更入臼中治之白飲和服方寸匕小便利止後服日三</p>

<h3>牡蠣湯</h3>
<p>用牡蠣（四兩熬）蜀漆（三兩）麻黃（四兩）甘草（二兩）以水八升先煮蜀漆麻黃去上沫得六升內諸藥煮取二升溫服一升若吐則勿更服治牡瘧</p>

<h3>蜀漆散</h3>
<p>用蜀漆洗去腥雲母燒二日夜龍骨等分杵為末治牡瘧多寒者未發前以漿水服半錢溫瘧加蜀漆（半分）臨發時服（一錢匕）</p>

<h3>蜀漆丸</h3>
<p>用蜀漆知母升麻白薇地骨皮麥門冬（各五分）烏梅肉鱉甲炙葳蕤（各四分）石膏（八分）甘草（三分炙）常山（六分）豆豉（一合）熬搗篩為末蜜和丸如梧子大飲下十丸日再服加至二十丸此方用無不瘥加光明硃砂一兩神良治嶺南瘴氣乍熱乍寒積勞似瘧皆主之兼治痎瘧連年不瘥忌海藻菘菜莧菜生蔥生菜、</p>

<h3>蜀漆丸</h3>
<p>用蜀漆青術香升麻鱉甲炙牡蠣熬硃砂研豬苓香豉（各四分）常山大黃（各八分）為末蜜和丸梧子大米湯下寸二丸日二服漸漸瘥至平復止治瘴瘧不瘥</p>

<h2>蠲痹湯</h2>
<p>治冷痹手足腰痛沉重及身體煩疼背項拘急</p>
<p>黃耆（蜜炙）　防風（去蘆）　羌活　赤芍藥（酒炒）　薑黃（炒）　當歸（酒洗各二錢五分）　甘草（炙五分）</p>
<p>上作一服用水二鍾生薑（五片）棗（二枚）煎至一鍾食前服一方無防風</p>
<p>愚按風寒濕三者合而成痹又曰邪之所湊其氣必虛榮氣虛則不仁衛氣虛則不用故用黃耆以實衛當歸以調榮羌活驅風薑黃療痹赤芍藥和肝甘草和脾黃耆畏防風得防風而功愈大乃相畏而相使也</p>

<h3>舒經湯</h3>
<p>即蠲痹湯無黃耆防風有白朮海銅皮生薑水煎去滓入沉香汁少許食前服治臂痛不能舉有人常苦左臂痛或以為飲或以為風為濕諸藥悉投繼以針灸俱不得效用此方而愈蓋是氣血凝滯經絡不行所致非風非濕腰以下食前服腰以上食後服</p>

<h3>五痹湯</h3>
<p>用片薑黃羌活白朮防己（各二錢半）甘草（炙一錢）上作一服水二鍾生薑（七片）煎至一錢病在上食後服病在下食前服治風寒濕之氣客留肌體手足緩弱麻痹不仁</p>

<h2>防己黃耆湯</h2>
<p>治風濕脈浮身重汗出惡風者</p>
<p>防己（一兩）　甘草（半兩炒）　白朮（七錢半）　黃耆（一兩一分去蘆）</p>
<p>上銼麻豆大（每抄五錢匕）生薑（四片）大棗（一枚）水一盞半煎八分去滓溫服良久再服</p>
<p>喘者（加麻黃半兩）　胃中不和者加芍藥（三分）　氣上衝者加桂枝（二分）　下有陳寒者加細辛（三分）</p>
<p>服後當如蟲行皮中從腰下如冰後坐被上又以一被繞腰下溫令徹汗瘥</p>

<h3>防己茯苓湯</h3>
<p>即防己黃耆湯去白朮加桂枝茯苓以水六升煮取二升分溫三服治皮水為痛四肢腫水氣在皮膚中四肢聶聶動者</p>

<h3>防己地黃湯</h3>
<p>用防己（一分）桂枝（三分）防風（三分）甘草（一分）以酒一杯漬之一宿絞取汁生地黃（二斤）</p>
<p>㕮咀蒸之如斗米飯久以銅器盛其汁更絞地黃汁和分再服治病如狂妄行獨語不休無寒熱其脈浮者</p>

<h3>木防己湯</h3>
<p>用木防己（三兩）石膏（十二枚）雞子大桂枝（二兩）人參（四兩）以水六升煮取二升分溫再服治膈間有支飲其人喘滿心下痞堅面免黑裡其脈沉緊得之數十日醫吐下之不愈此湯主之虛者即愈實者三日復發復與不愈者宜後加茯苓芒硝湯</p>

<h3>木防己加茯苓芒硝湯</h3>
<p>用木防己桂枝（各二兩）人參茯苓（各四兩）芒硝（三合）以水六升煮取二升去滓內芒硝再微煎分溫再服微利則愈</p>

<h3>防己椒目葶藶大黃丸</h3>
<p>用防己椒目葶藶大黃（各一兩）末之蜜丸如梧子大先食飲服一丸日三服</p>
<p>稍增口中有津液渴者加芒硝半兩治腹滿口舌乾燥此腸間有水氣此方主之</p>

<h3>瀉肺湯</h3>
<p>用葶藶熬令黃色搗丸如彈子大大棗（十二枚）先以水三升煮棗取二升去棗內葶藶煮取一升頓服治肺癰喘不得臥者</p>

<h3>葶藶丸</h3>
<p>用甜葶藶隔紙炒栝蔞仁杏仁湯浸去皮尖炒漢防己（各一兩）上為細末煉蜜搗一二百杵丸如桐子大每服三十丸食前赤茯苓煎湯下日三四服治消渴後成水病浮腫一方無栝蔞仁有貝母木通（各一兩）治肺氣喘咳面目浮腫便赤</p>

<h3>沉香琥珀丸</h3>
<p>用琥珀杏仁（去皮尖）紫蘇赤茯苓澤瀉（各半兩）葶藶炒郁李仁（去皮）沉香（各一兩半）</p>
<p>陳皮去白防己（各七錢半）上為細末煉蜜為丸如桐子大以麝香為衣每服二十五丸加至五十丸空心人參煎湯送下量虛實加減治水腫一切急難證小便不通</p>

<h2>常山湯（療瘧）</h2>
<p>常山（三兩）</p>
<p>上一味以漿水三升浸經一宿煎取一升臨發前頓服之微吐瘥</p>

<h3>常山散</h3>
<p>用常山五分升麻蜀漆（各一分）搗篩為散每服二錢匕和井花水煮米半合頓服少間則吐吐訖則瘥療瘧</p>

<h3>常山桂心丸</h3>
<p>用常山桂心大黃甘草炙各四分為末蜜和平旦服如兔屎大每欲發服五六丸飲下之欲服藥先進少熱粥治瘧神良方忌生菜生蔥海藻</p>

<h3>常山丸</h3>
<p>用常山青木香（各四分）知母（六分）牡蠣熬豉鱉甲（炙各二分）蜀漆麻黃大黃烏梅肉丹砂（各一分）搗篩蜜丸梧子大未發時服五丸粥飲下微吐後任食如未愈更服十丸療瘧忌生菜蔥莧及生血物油膩</p>

<h3>療瘧丸</h3>
<p>用常山（三兩）知母（四分）甘草（三分）炙為末蜜丸梧子大未發前服十五丸</p>

<h3>常山酒</h3>
<p>用常山（一兩）獨蒜頭（一顆切）糯米（一百粒）烏豆（一百粒）清酒（一升）未發前一日以酒浸藥於碗中紙覆碗上橫一刀欲發時飲三分之一未吐再服吐即瘥</p>

<h3>烏梅丸</h3>
<p>用烏梅肉（一兩）常山（二兩）鱉甲（二兩炙）香豉蜀漆人參蓯蓉桂心知母桃仁去皮尖搗篩蜜丸梧子大空心酒飲下三十丸療瘧無問瘴痰諸瘧悉治</p>

<h3>皂莢丸</h3>
<p>治咳逆上氣時時唾濁但坐不得眠者</p>
<p>皂莢　（八兩刮去皮用酥炙）</p>
<p>上一味末之蜜丸梧子大以棗膏和湯服三丸日三夜一服</p>

<h3>稀涎散</h3>
<p>用白明礬（一兩）豬牙皂角（四條）去黑皮上二味為末治中風卒倒昏悶涎潮搐搦水調灌下得吐涎妙一方用明礬一兩化開將江子仁六粒每粒分作兩半牙皂三錢切片入礬中攪勻待礬枯為末治中風不語牙關緊急單蛾雙蛾每用三分吹入諸病皆愈痰涎壅盛者以五分燈心湯下喉中之痰逆上者即吐膈間者即下一方用江子二粒去皮膜白礬拇指大一塊為末將二味在新瓦上煅令江子焦赤為度煉蜜丸如芡實大每服一丸用綿裹敢患人口中近喉處良久吐痰立愈治急中風口閉涎上垂死者一服即瘥</p>

<h3>碧雲散</h3>
<p>用青礬明淨者（七錢）巴豆（一粒）去殼研以礬為末瓦上溶化入巴豆在內候礬干為度細研每用一字以竹管吹入喉咽中涎去為效治咽喉諸證</p>

<h3>黑龍膏</h3>
<p>用皂莢（四十挺切）水三斗浸一夜煎鬥半入人參（末半兩）甘草（末一兩）煎五升去滓入無灰酒（一升）釜煤（二匕）煎如餳入瓶埋地中一夜每溫酒化下一匙取惡涎盡為度後含甘草片治九種喉痹急喉痹纏喉風結喉爛木舌飛絲入口等證</p>

<h2>抵當湯</h2>
<p>治太陽病六七日表證在脈微沉不結胸其人發狂以熱在下焦小腹滿小便自利者下血乃愈又治太陽病身黃脈沉結小腹硬小便自利其人如狂者血證諦也</p>
<p>水蛭（三十個熬鹹苦寒）　虻蟲（三十個熬去翅足苦微寒）　桃仁（二十個去皮尖苦甘平）　大黃（三兩酒浸苦寒）</p>
<p>上四味以水五升煮取三升去滓溫服一升不下再服</p>
<p>成無己曰人之所有者氣與血也氣為陽陽病易治氣塞而不行者猶易散血為陰陰病難治血畜而不行者則難散血畜於下非大毒駛劑則不能當而抵之又曰苦走血咸勝血虻蟲水蛭之鹹苦以除畜血甘緩結苦泄熱桃仁大黃之苦以下結熱</p>

<h3>抵當丸</h3>
<p>即抵當湯減水蛭（十個）虻蟲桃仁（各減五個）大黃增一兩杵搗分為四丸以水一升煮一丸取七合服之睟時當下血若不下者更服治傷寒有熱少腹滿應小便不利今反利者為有血也當下之</p>

<h3>大黃䗪蟲丸</h3>
<p>即抵當丸加䗪蟲蠐螬乾漆乾地黃芍藥杏仁黃芩甘草為末煉蜜丸小豆大酒飲服五丸日三服治五勞虛極羸瘦腹滿不能飲食食傷憂傷房室傷飢傷勞傷經絡營衛氣傷內有乾血肌膚甲錯兩目黯黑緩中補虛</p>

<h3>沒藥散</h3>
<p>用虻蟲（一錢去足翅炒）水蛭（一錢炒）麝香（一錢）沒藥（三錢）為細末煎四物加鬼箭紅花玄胡索湯調服治血暈血結血聚於胸中或偏於少腹或連於脅肋服後血下痛止只服湯藥</p>

<h2>白散</h2>
<p>與小陷胸治證相同</p>
<p>桔梗（三分辛苦微溫）　貝母（三分辛苦平）　巴豆（一分去皮心熬黑研如脂辛溫）</p>
<p>上先以二味為散內巴豆更於臼中杵之以白飲和服強人半錢匕羸者減之病在膈上必吐在膈下必利不利進熱粥一杯利過不止進冷粥一杯外臺名桔梗白散治咳而胸滿振寒脈數咽乾不渴時出濁唾腥臭久久吐膿如米粥者為肺癰也</p>

<h3>三物備急丸</h3>
<p>用巴豆去皮心熬另研如脂大黃乾薑（各一兩）三物須精新者先搗大黃乾薑為末研巴豆內中合治一千杵蜜丸密器貯之莫令泄氣主治心腹諸卒暴百病若中惡客忤心腹脹滿卒痛如錐刺氣急口噤停屍卒咳者以暖水苦酒服大豆許三四丸或不下捧頭起灌令下咽須臾當瘥如未瘥更與三丸當腹中鳴即吐下便瘥若口禁亦須折齒灌之千金云司空裴秀為散用亦可先和成汁乃傾口中令從齒間得入</p>

<h3>神應丸</h3>
<p>用巴豆（一百十粒）面（一斤）同炒盡油連曲一處為細末醋糊丸綠豆大冷水下一二十丸</p>
<p>治心腹脹滿宿食不消飲食所傷不喜飲食諸藥不效</p>

<h3>青蛾丸</h3>
<p>即神應丸加青黛等分白礬倍蒸餅丸如綠豆大甘草湯下二丸治喘嗽上熱</p>

<h3>紅粉丸</h3>
<p>一名軟紅丸用杏仁（二十個）巴豆（四個）不去皮乾胭脂（十個）水丸綠豆大生薑湯下三丸治婦人血不通及心痛一法加硃砂</p>

<h3>解毒雄黃丸</h3>
<p>用巴豆（七個去皮油）雄黃鬱金（各一分）醋糊丸綠豆大熱茶下七丸治纏喉風急喉閉卒倒失音不語不省人事吐出頑痰立便蘇省未吐再服如至死者心頭猶熱口禁不下即以鐵匙斡開或折齒灌之藥下咽喉無有不活微吐泄不妨及上膈壅熱痰涎不利咽喉腫滿目赤癰腫一切熱毒並宜服之小兒喉腫痛驚熱痰涎壅塞服二丸或三丸量大小加減三五粒量虛實加減溫水吞下不拘時候常服進飲食消酒毒令人不中酒又治小兒脾胃虛弱累有傷滯糞白鮓臭下痢水穀每服五粒黍米大幹薑湯下不拘時候前項疾症連綿日月熱藥不效者不拘老幼處心服餌立有神效</p>

<h3>玉霜丸</h3>
<p>即神應丸加輕粉滑石一方加南星青黛名比金丸糊丸麻子大治小兒驚風體熱喘粗涎嗽心忪頰赤大小便不利夜臥不安如一歲兒用一丸薄荷湯下如急驚風頭熱足冷口噤面青筋脈抽掣膈中頑涎甚者加一二丸煎桃符湯下蘊毒熱毒涎出立便安愈小兒瘡疥後餘毒食後以此湯解之黑神丸　用巴豆（二錢半）鹽豉（四兩）為末滴水丸梧子大同大麥炒香水上浮不用麥酒吞二丸活人加五靈脂治濕痰食積</p>

<h3>紫霜丸</h3>
<p>用巴豆代赭石赤石脂一法加大黃治熱結一法加附子烏頭治寒結</p>

<h3>酒症丸</h3>
<p>用巴豆（十五個）雄黃皂角子大（六塊）蠍稍（十五個）白麵（五兩）為末水丸豌豆大候稍干入麩內炒香以一粒放水中如藥浮於水上即去麩不用每服二丸溫酒下一方無蠍稍加神麯葛根半夏水丸桐子大炒法同前治飲酒過度頭旋噁心嘔吐不止及酒積停於胃間遇飲即吐久而成癖</p>

<h3>走馬湯</h3>
<p>巴豆（去皮心熬）杏仁（各二枚）以綿纏捶碎熱湯二合捻取白汁飲之當下老小量之通治蜚屍鬼擊及中惡心滿腹脹大便不通</p>

<h3>柔金丸</h3>
<p>即走馬湯加雄黃等分寒食麵為丸綠豆大幹糖炒令黃色每服二丸治酒積</p>

<h3>安中丸</h3>
<p>用巴豆（三十個）不去皮杏仁（十五個）白礬（一兩）棗（十枚）去核用蒸餅劑四兩內藥味味各種並與棗和餅劑裹慢火燒黃熟去皮一處搗成膏子如蘿蔔子大每服六七丸食後白湯下</p>

<h3>透羅丹</h3>
<p>用半夏（一兩）皂角（二兩）去皮弦子杏仁（六十個）巴豆（六十個）用麩（五升）同炒令黃色</p>
<p>為度去麩不用為末入寒食麵二兩炒黃色醋煮糊丸如綠豆大每服二丸食遠臨臥生薑湯下治胸膈痞悶酒食所傷並咳嗽等症</p>

<h2>感應丸</h2>
<p>治虛中積冷氣弱有傷停積胃脘不能傳化或因氣傷冷因飢飽食醉酒過多心下堅滿兩脅脹痛心腹大疼霍亂吐瀉大便頻並後重遲澀久痢赤白膿血相雜米穀不消愈而復發又治中酒嘔吐痰逆噁心喜睡頭旋胸膈痞悶四肢倦怠不欲飲食又治妊娠傷寒新產有傷若久有積寒吃熱藥不效者並悉治之大病不過三服便見痊愈此藥溫無毒並不燥熱不損胃氣亦不吐瀉止是磨化積聚消逐濕冷療飲食所傷快三焦滯氣旋丸如綠豆大每服</p>
<p>百草霜　（用村莊家鍋底上刮者細研二兩）</p>
<p>巴豆　（七十個去皮心膜研細出盡油如粉）</p>
<p>杏仁　（一百四十個去皮尖及雙仁別研膏）</p>
<p>丁香　（新揀一兩半）　乾薑（炮一兩）　肉豆蔻（去粗皮二十個）　南木香（去蘆頭二兩半）</p>
<p>上除巴豆粉百草霜杏仁三味外餘四味搗為細末於前三味同拌研令細用好蠟匱和先將蠟六兩熔化作汁以重綿濾去滓以好酒一升於銀石器內煮蠟溶數沸傾出候酒冷其蠟自浮取蠟秤用凡春夏修合用清油一兩於銚內熬令沫散香熟次用酒煮蠟四兩同化作汁就鍋內乘熱拌和前項藥末秋冬修合用清油一兩半同煎煮熱作汁和匱藥末成劑分作小鋌子以油單紙裹旋丸服餌此高殿前家方也</p>

<h3>神應丸</h3>
<p>即感應丸但用丁香木香（各一錢）乾薑（炮）百草霜（各五錢）　四味各為末和勻重羅細　肉豆蔻（三錢）　杏仁（五錢）巴豆（五錢炒去油）微存性同研為泥將前末入泥中先備蠟二兩醋煮去垢溶化入油半兩勾同入泥與細末中研勻及數百回後至漿可搓作挺蠟紙封裹每挺可重一錢旋丸服治冷飲注瀉者立止海藏所攺法也醫壘兀戎按許學士云此方得之王景長之家近世名醫多用即知此方乃古方也惟此為真局方高殿前家亦非也本方雖云秘者能下泄者能止用之少效予反覆本草味藥症但言巴豆得大者良予攺法為神應丸</p>

<h3>溫白丸</h3>
<p>用川烏（去皮臍二兩半）紫菀去苗葉及土菖蒲去須九節者佳柴胡洗淨去蘆頭厚朴去粗皮生薑制桔梗去黑皮蘆頭吳茱萸用湯洗七次焙皂莢去弦子炒茯苓去皮乾姜炮黃連去皮人參去蘆頭巴豆去油心膜出油研炒桂去粗皮蜀椒去目炒半兩各為末入巴豆令勻蜜丸桐子大每服三丸食後臨臥服三丸生薑湯下漸加至五六丸治五積六聚十種水病八種痞塞九種心疼七十二種風三十六種遁屍及婦人一切諸疾連年累月形瘦困憊但服此藥無不除愈</p>
<p>易老治五積　肺積息賁加人參紫菀　心積伏梁加菖蒲黃連桃仁　脾積痞氣溫白丸加吳茱萸乾薑　肝積肥氣加柴胡川芎　腎積奔豚加丁香茯苓遠志</p>

<h3>萬病紫菀丸</h3>
<p>即溫白丸加羌活獨活防風余藥分兩不同紫菀吳茱萸厚朴各一兩半菖蒲柴胡桔梗茯苓皂莢桂枝幹薑黃連（各八錢）蜀椒巴豆人參（各五錢）川烏（八錢）共為末入巴豆勻煉蜜丸如桐子大每服三丸漸加至五七丸食後臨臥生薑湯下治與切風患萬病如神惟有孕者忌服所下諸湯詳醫壘元戎</p>

<h3>蓍婆萬應丸</h3>
<p>用牛黃射香犀角硃砂雄黃黃連芫花人參茯苓大戟乾薑肉桂當歸芎藭芍藥甘遂黃芩細辛巴豆桔梗前胡紫菀蒲黃防風葶藶川椒桑皮禹餘糧（各一兩）蜈蚣（二十八節）去頭足炒芫青（二十八枚）糯米同炒黃色去頭足翅石蜥蜴去頭尾足炙四寸共為末入研藥勻煉蜜丸如小豆大療七種癖塊五種癲病十種注忤七種飛屍十二種蟲毒五種黃病十二種瘧病十種水病八種大風十二種痹風一切等病此藥以三丸為一劑服藥不過三劑萬病悉除故稱萬應丸若一歲以下小兒有疾令乳母服兩小豆大亦以吐以利為便</p>

<h2>黃芩湯</h2>
<p>治太陽少陽合病自下利者活人治挾熱自利名黃芩芍藥湯</p>
<p>黃芩（三兩苦寒）　甘草（二兩炙甘平）　芍藥（二兩酸平）　大棗（十二枚擘甘溫）</p>
<p>上四味以水一斗煮取三升去滓溫服一升日再夜一服若嘔者加半夏（半升）生薑（三兩）名黃芩半夏生薑湯成無己云虛而不實者苦以堅之酸以收之黃芩芍藥之苦酸以堅斂腸胃之氣弱而不足者甘以補之甘草大棗之甘以補固腸胃之弱又曰太陽少陽合病自下利者病在半表半裡非汗下所宜故用黃芩湯以和解表裡之邪嘔者胃氣逆也故加半夏生薑以散逆氣</p>

<h3>防風芍藥湯</h3>
<p>即黃芩湯加防風治泄痢飧泄身熱脈弦腹痛而渴及頭痛微汗</p>

<h3>白朮芍藥湯</h3>
<p>即黃芩湯加白朮無黃芩治太陰脾經受濕水泄注下體微重微滿困弱無力不欲飲食暴瀉無無數水穀不化先宜此湯和之</p>

<h3>蒼朮芍藥湯</h3>
<p>用蒼朮（二兩）芍藥（一兩）黃芩肉桂（各半兩）為粗散每用一兩水煎服治痢疾痛甚者</p>

<h2>芍藥甘草湯</h2>
<p>治小腸腑發咳咳而失氣</p>
<p>芍藥（四兩）　甘草（炙四兩）</p>
<p>上二味以水三升煮取一升五合去滓分溫再服</p>

<h3>生薑甘草湯</h3>
<p>用生薑（五兩）甘草（四兩）人參（三兩）大棗（十五枚）以水七升煮取三升分溫三服治肺痿咳唾涎沫不止咽燥而渴</p>

<h2>茯苓杏仁甘草湯</h2>
<p>治胸痹胸中氣塞短氣</p>
<p>茯苓（三兩）　杏仁（五十個）　甘草（一兩）</p>
<p>上三味以水一斗煮取五升溫服一升日三服不瘥更服</p>

<h3>桂苓五味甘草湯</h3>
<p>用桂枝（四兩）去皮茯苓（四兩）五味子（半升）甘草（炙三兩）治咳逆倚息不得臥用小青龍湯主之下已多唾口燥寸脈沉尺脈微手足厥逆氣從小腹上衝胸咽手足痹其面翕熱如醉狀因復下流陰股小便難時覆冒者用此湯治其氣衝</p>

<h3>苓甘五味姜辛湯</h3>
<p>即桂苓五味甘草湯去桂加乾薑細辛（各三兩）治眼前湯沖氣即低而反更咳胸滿者用此湯治其咳滿</p>

<h3>桂苓五味去桂加乾薑細辛半夏湯</h3>
<p>即苓甘五味姜辛湯加半夏（半升）治服前湯咳滿即止而更不復渴沖氣復發者以姜辛為熱藥也服之當歸渴反止者為支飲也支飲者法當冒冒者必嘔嘔者復內半夏以水其水</p>

<h3>苓甘五味加姜辛半夏杏仁湯</h3>
<p>即前方加杏仁（半斤）去皮尖治服前湯水去嘔止其形腫者加杏仁主之其證應內麻黃以其人遂痹故不內之若逆而內之者必厥所以然者以其人血虛黃髮其陽故也苓甘五味加姜辛半杏大黃湯　即前方加大黃（三兩）治若面熱如醉此為胃熱上衝煮生面故加大黃以利之</p>

<h2>厚朴生薑半夏甘草人參湯</h2>
<p>治發汗後腹脹滿者</p>
<p>厚朴（半斤炙去皮）　生薑（半斤）　半夏（半升洗）　甘草（二兩）　人參（一兩）</p>
<p>上五味以水一斗煮取三升去滓溫服一升日三服</p>

<h3>炙甘草湯</h3>
<p>用甘草（四兩炙）人參阿膠（各二兩）生薑桂枝（各三兩）麥門冬麻仁（各半升）生地黃（一斤）大棗（三十枚）以清酒七升水八升先煮八味取三升去滓內膠糕盡溫服一升日三服一名復脈渴治傷寒脈結代心動悸者千金翼同</p>

<h2>星香湯</h2>
<p>治中風痰盛服熱藥不得者</p>
<p>南星（六錢）　木香（不見火二錢）　生薑（七片）</p>
<p>上㕮咀作一服水二鍾煎至一鐘不拘時服</p>

<h3>三生飲</h3>
<p>即星香湯加川烏生附子（各三錢）治卒中昏不知人事口眼喎斜半身不遂咽喉作聲痰氣上壅無問外感風寒內傷喜怒或六脈沉伏或指下浮盛並宜服之兼治痰厥飲厥及氣虛眩暈悉有神效痰涎壅盛者加全蠍（三枚）一方氣虛人去川烏南星名附香湯</p>

<h3>星附湯</h3>
<p>用天南星生附子去皮臍（各一兩）木香（五錢）不見火每服四錢生薑（九片）煎服不拘時溫服治諸中風服諸藥不效其人頑涎愈盛或前證不解或增困吃此方應之</p>

<h3>大醒風湯</h3>
<p>用南星（八兩）防風（四兩）獨活附子甘草俱生料全蠍微炒各二兩㕮咀每服四錢水二鍾生薑（二十片）煎八分去滓溫服治中風痰厥涎潮昏暈手足搐搦半身不遂及歷節痛風筋脈攣急</p>

<h3>壽星丸</h3>
<p>用天南星（一斤）先用炭火三十斤燒一地坑通紅去炭以酒五升傾坑內候漆酒盡下南星在坑內以盆覆之周圍用灰塞定勿令走氣次日取出為末加礞砂（二兩）琥珀（一兩）別研為末和勻生薑汁打麵糊丸如桐子大每服三十丸至五十丸煎石菖蒲人參湯送下治心腹因驚神不守舍風涎潮作手足抽掣健忘等證</p>

<h3>青州白丸子</h3>
<p>用半夏水浸洗（七兩）南星（三兩）白附子（二兩）川烏（半兩）去皮臍為末以生絹袋盛於井花水內擺出如未出者更以手揉出如有滓更研再入絹袋擺盡為度置瓷盆中日曬夜露至時撒去舊水用井水攪又曬至來日早再換新水攪如此法春五日夏三日秋七日冬十日去水曬乾復如玉片研細以糯米粉煎粥清丸如綠豆大薑湯下二十丸如癱瘓溫酒下小兒驚風薄荷湯三五丸治男婦手足癱瘓風痰壅盛嘔吐涎沫及小兒驚風婦人血風</p>

<h3>省風湯</h3>
<p>用生南星防風去蘆各（四兩）生半夏酒浸洗實黃芩生甘草（各二兩）每服四錢水二盞姜（十片）煎一盞不拘時溫服治卒急中風口噤全不能言口眼喎斜筋脈攣急抽掣疼痛風盛痰實旋暈僵仆頭目眩重胸膈煩滿左癱右瘓手足麻痹骨節煩疼步履艱辛恍惚不定神志昏憒一切風症可預服之</p>

<h3>辰砂丸</h3>
<p>用半夏（一兩）湯洗七遍辰砂（半兩研）天南星炮白附子（炮）白殭蠶去絲嘴炒蠍梢炒（各一分）硼砂（研）牛黃（研各一錢）為細末同研令均水煮麵糊為丸如梧桐子大每服二十丸用生薑荊芥湯下治諸風痰盛頭痛惡心目脹心忪胸膈煩悶</p>

<h3>急風散</h3>
<p>用生南星洗（四兩）辰砂研生川烏炮去皮臍各二兩上為細末每用酒調塗痛處治男子婦人偏正頭疼夾腦風太陽冗痛坐臥不安</p>

<h2>赤石脂禹餘糧湯</h2>
<p>治傷寒服藥利不止以理中湯與之利益甚此利在下焦此湯主之複利不止者當利其小便</p>

<h3>赤石脂</h3>
<p>太乙禹餘糧（各一斤）</p>
<p>上二味以水六升煮取二升去滓分溫三服</p>

<h3>桃花湯</h3>
<p>用赤石脂（一斤）一半全用一半篩末乾薑（一兩）粳米（一升）三味以水七升煮米令熟去滓內赤石脂末方寸匕溫服七合日三服若一服愈余勿服治少陰病下利便膿血者</p>

<h3>赤石脂丸</h3>
<p>用赤石脂（一兩）蜀椒（一兩）烏頭（一分炮）附子（半兩炮）乾薑（一兩末）蜜之丸如梧子大先食服一丸日二服不知稍加服</p>

<h3>風引湯</h3>
<p>除熱癰癇治大人風引少小驚癇瘛瘲日數十發醫所不能療</p>
<p>大黃　乾薑　龍骨（各四兩）　桂枝（三兩）　甘草　牡蠣（各二兩）　寒水石　滑石　赤石脂　白石脂　紫石英　石膏（各六兩）</p>
<p>上十二味杵粗篩以綿囊盛之取三指撮並井花水三升煮三沸溫服一升巢氏云腳氣宜風引湯</p>

<h2>滑石白魚散</h2>
<p>治小便不利</p>
<p>滑石（二分）　亂髮（二分燒）　白魚（二分）</p>
<p>上三味杵為散飲服半錢匕日三服</p>

<h3>蒲灰散</h3>
<p>用蒲灰七分滑石三分杵為散飲服方寸匕日三服治小便不利兼治厥而皮水者</p>

<h3>益元散</h3>
<p>一名天水散一名太白散一名六一散治中暑傷寒疫癘飢飽勞損憂愁思慮驚恐悲怒傳染並汗後遺熱勞復諸疾兼解兩感傷寒百藥酒食邪熱毒治五勞七傷一切虛損內傷陰痿驚悸健忘瘛癇煩悶短氣痰嗽肌肉疼痛腹脹悶痛淋閟淋濁服石石淋療身熱嘔吐泄瀉腸澼下痢赤白除煩熱胸中積聚寒熱止渴消畜水婦人產後損液血虛陰虛熱甚催生下乳治吹乳乳癰牙瘡齒疳此藥大養脾腎之氣通九竅六腑去留結益精氣壯筋骨和氣通經脈消水穀保真元明耳目安魂定魄強志輕身駐顏益壽耐勞役飢渴乃神驗之仙藥也用白滑石水飛過（六兩）粉甘草（一兩）為末每服三錢蜜少許溫水調下實熱用新汲水下解利用蔥豉湯下通乳用豬肉麵湯調下催生用香油漿下凡難產或死胎不下皆由風熱燥澀結滯緊斂不能舒緩過也此藥力至則結滯頓開而瘥矣</p>

<h3>白龍丸</h3>
<p>用滑石煅（一兩）硫黃（四錢）為末糊丸綠豆大用淡薑湯下治伏暑水泄</p>

<h3>清六丸</h3>
<p>即六一散加紅曲（五錢）治血痢</p>

<h3>溫六丸</h3>
<p>即六一散加乾薑（五錢）薑汁為丸治白痢</p>

<h3>茱萸六一散</h3>
<p>即六一散加茱萸湯泡過（一兩）此亦治濕熱吞酸之方也</p>

<h3>三生益元散</h3>
<p>用生柏葉生藕節生車前各汁（一杯）益元散（三錢）調服此主血淋之方也</p>
<p>複方</p>

<h3>雙解散</h3>
<p>即防風通聖散合益元散（一兩）加蔥白（十莖）豆豉（一合）生薑（半兩）水一碗煎八分溫冷服一半取吐吐後服一半稍熱出汗能解利四時傷寒內外所傷又治風氣暑濕飢飽勞役內外諸邪所傷以致氣血怫鬱變成積熱發為汗病雜病又治傷寒傷風或有汗無汗表證悉具內熱口渴若自汗去麻黃</p>

<h3>八正散</h3>
<p>即六一散加車前子瞿麥萹蓄山梔子仁木通大黃麵裹煨去面切焙各（一斤）上為散每服二錢水一盞入燈心煎至七分去渣溫服食後臨臥小兒量力多少與之治大人小兒心經邪熱一切蘊毒咽乾口燥大渴引飲心忪面熱煩躁不寧目赤睛疼唇焦鼻衄口舌生瘡咽喉腫痛又治小便赤澀或癃閉不通及熱淋血淋</p>

<h3>滑石散</h3>
<p>用滑石（一兩半）白礬（一兩）火枯上為細末每服二錢用大麥粥湯食前調服以小便出黃水為度治女勞疸</p>

<h2>五皮散</h2>
<p>治風濕客邪於脾經氣風邪滯以致面目浮四肢腫滿心腹膨脹上氣喘促兼治皮水妊娠胎水</p>
<p>五加皮　地骨皮　大腹皮　茯苓皮　生薑皮（以上各二錢五分）</p>
<p>上作一服用水二鍾煎至一鍾食前服切忌生冷油膩堅硬之物澹寮方去五加皮地骨皮加陳皮桑白皮</p>

<h3>加味五皮湯</h3>
<p>即五皮散內腳腫加五加皮木瓜防己不服水土入胃苓湯</p>

<h3>五子五皮飲</h3>
<p>用紫蘇子炒七分蘿蔔子炒大分葶藶子醋炒存性（五分）香附子（七分）車前子大腹皮（各六分）茯苓皮山梔皮（各八分）生薑皮（五分）陳皮（七分）作一貼水煎服治水氣上氣喘急</p>
<p>加味五皮飲　用五加皮地骨皮生薑皮大腹皮茯苓皮薑黃術瓜是方七朱各等分作一貼水煎服治水病腰以下腫者</p>

<h3>分氣紫蘇飲</h3>
<p>用紫蘇桑白皮炙五味子去梗桔梗去蘆草果仁大腹皮白茯苓陳皮甘草炙各一錢半上作一服水二鍾生薑三片入鹽少許煎至一鍾空心服治男子婦人脾胃不利胸膈噎塞腹脅痛氣促喘急心下脹悶飲食不思嘔逆不止</p>

<h2>三子養親湯</h2>
<p>治年高痰盛氣實者</p>
<p>紫蘇子（沉水者）　白芥子　蘿蔔子（各三錢）</p>
<p>上作一服用水二鍾煎至一鐘不拘時服</p>
<p>紫蘇子飲　用真蘇子炒訶子煨去核蘿蔔子微炒杏仁去皮尖麩炒木香不見火人參（各一錢半）青皮甘草炙（各三錢）　上㕮咀分二服每服用水二鍾生薑三片煎至八分食遠服治咳逆上氣膈因怒氣叫喊未定便夾氣飲食或飲食甫畢便用性恚怒以致食與氣相逆氣不得下或咳嗽不透氣逆噁心</p>

<h3>青氣化痰丸</h3>
<p>即三子養親湯去白芥子加半夏（八兩）南星（八兩）栝蔞黃連去須陳皮去白枳實麩炒茯苓去皮山楂以上各四兩乾生薑（二兩）甘草炙香附子炒黃芩以上各三兩上將南星切作十字塊半夏每個切作二塊皂莢（六兩）白礬（三兩）多用水將南星半夏皂莢白礬一處浸三宿煮至南星心黑潤為度取出皂莢不用將南星半夏曬乾同眾藥為末水糊為丸如梧桐子大每服七八十丸加至百丸食遠或臨睡茶清送下治清痢胸膈順每化痰寬中健脾消導飲食治痰之聖藥也</p>

<h1>卷之三</h1>

<h2>茯苓四逆湯</h2>
<p>即四逆湯加茯苓（四兩）人參（一兩）四逆湯補陽再參苓以益陰治汗下後不解煩躁者</p>
<p>芍藥甘草附子湯　即四逆湯去乾薑加芍藥（三兩）甘草（一兩）治發汗病不解反惡寒者虛故也芍藥之酸收斂津液而益榮附子之辛溫固陽氣而固衛甘草之甘調和辛酸而安正氣</p>

<h3>桂枝附子湯</h3>
<p>即四逆湯去乾薑加桂枝（四兩）生薑（二兩）大棗（十二枚）治傷寒八九日風濕相搏身體疼煩不能轉側不嘔不渴脈浮虛而澀者</p>

<h3>甘草附子湯</h3>
<p>即四逆湯去乾薑加白朮（二兩）桂枝（四兩）治風濕相搏骨節煩疼掣痛不得屈伸近之則痛劇汗出短氣小便不利惡風或身微腫者</p>

<h3>白朮附子湯</h3>
<p>近效名朮附湯即四逆湯去乾薑加白朮（二兩）薑棗煎服治證同前但大便堅小便自利者</p>

<h2>真武湯</h2>
<p>治少陰病四五日腹痛小便不利四肢沉重疼痛自下利者</p>
<p>茯苓（三兩甘平）　芍藥（三兩酸平）　生薑（三兩切辛溫）　白朮（二兩甘溫）　附子（一枚炮去皮破八片辛熱）</p>
<p>上五味以水八升煮取三升去滓溫服七合日三服</p>
<p>加減法</p>
<p>若咳者加五味子（半升）細辛乾薑（各一兩）若小便利者去茯苓　若下利者去芍藥加乾薑（二兩）若嘔者去附子加生薑足前成半斤</p>
<p>成無己曰真武北方水神也而屬腎用以治水焉水氣在心下外帶表而屬陽必應發散故治以真武湯青龍湯主太陽病真武湯主少陰病少陰腎水也此湯可以和之內經曰脾惡濕甘先入脾茯苓白朮之甘以益脾逐水寒淫所勝平以辛熱濕淫所勝佐以酸平附子芍藥生薑之酸辛以溫經散濕</p>

<h2>理中湯</h2>
<p>金匱名人參湯治胸脾心下痞氣氣結在胸胸滿脅下逆搶心傷寒論理中圓治霍亂頭痛發熱身疼寒多不用水者</p>
<p>人參（甘溫）　甘草（甘平炙）　白朮（甘溫）　乾薑（辛熱以上各三兩）</p>
<p>上四味搗篩為末蜜和丸如雞子黃大以沸湯數合和一丸研碎溫服之日三四夜二服腹中未熱益至三四丸然不及湯湯法以四物依兩數切用水八升煮取三升去滓溫服一升日三服服湯後如食頃飲熱粥一升許微自汗勿發揭衣被成無己曰心肺在上為陽腎肝在下為陰此上下臟也脾居中州名曰孤臟位處中焦以灌溉四傍理中湯丸專治脾胃之劑也脾胃一病則上下左右無病不至故又有諸加減法焉又曰內經曰脾欲緩急食甘以緩之用甘補之人參白朮甘草之甘以緩脾氣調中寒淫所勝平以辛熱乾薑之辛以溫脾散寒者</p>
<p>加減法</p>
<p>若臍下築者腎氣動也去朮加桂（四兩）吐多者去朮加生薑（三兩）　下多者還用術　悸者加茯苓（二兩）此方已具四君子湯　渴欲得水者加朮足前成四兩半　腹中痛者加人參足前成四兩半　寒者加乾薑足前成四兩半　腹滿者去朮加附子（一枚）</p>

<h3>附子理中湯</h3>
<p>即理中湯加附子（一兩）治脾胃冷弱心腹疼痛嘔吐泄利霍亂轉筋體冷微汗手足厥寒心下逆滿腹中雷鳴嘔噦不止飲食不進一切沉寒痼冷並皆治之</p>

<h3>治中湯</h3>
<p>即理中湯加橘紅青皮（各一兩）治食積心腹滿痛霍亂吐瀉過傷生冷腥膾吐逆不止嘔吐者加丁香半夏（各一兩）每服生薑（十片煎）</p>

<h3>補中湯</h3>
<p>即理中湯加橘紅茯苓（各一兩）治脾胃不和寒而作嘔如溏泄不已者更加附子二兩不喜飲水穀不化者再加縮砂仁（一兩）共成八味</p>

<h3>四順湯</h3>
<p>即理中湯去白朮加熟附子一云加茯苓治霍亂吐下心腹作痛手足逆冷又治身熱脈沉苦煩默默不欲見光時腹痛下利</p>

<h3>枳實理中湯</h3>
<p>即理中湯中加枳實茯苓（各一兩）治吐利後胸痞欲絕心膈高起急痛手不可近者若渴再加栝蔞根（一兩）</p>

<h3>石膏理中湯</h3>
<p>即理中湯中加火煅石膏（一兩）治霍亂後轉筋者</p>

<h3>大建中湯</h3>
<p>即理中湯去白朮甘草加蜀椒（二合）去汗治心胸中大寒痛嘔不能食腹中寒上衝皮起出見有頭足上下痛而不可觸近</p>

<h3>連理湯</h3>
<p>即理中湯中加茯苓黃連治傷寒陰症而渴</p>

<h3>黃耆湯</h3>
<p>即理中湯加黃耆白芍藥治傷寒兩感陰盛陰虛自汗等症</p>

<h3>增損理中丸</h3>
<p>即理中丸加枳實（四枚）茯苓（二兩）栝蔞根（二兩）牡蠣熬二兩末之蜜丸如彈子大每服一丸熱水化下不歇復服治時行四五日心中結滿兩脅痞塞胸中氣急逆欲絕諸藥不療崔氏曰余時用此效的神速下喉即減續復與之不過五六丸胸中豁然矣用藥之速未嘗見此然渴者當加栝蔞根不渴除之下者當加牡蠣不下勿用余因以告領軍韓康伯右衛毛仲祖光祿王道預靈臺郎顧君苗著作殷仲堪諸人並悉用之咸嘆其應速於時枳實乃為之貴忌海藻菘菜酢物桃李省核等深師同</p>

<h2>四君子湯</h2>
<p>治營衛氣虛臟腑怯弱心腹脹滿全不思食腸鳴泄瀉嘔噦吐逆大人小兒脾胃不和中脘停飲大病之後尤宜服之</p>
<p>人參（一兩）　茯苓（一兩）　白朮（一兩）　甘草（五錢）</p>
<p>上㕮咀水一盞姜（七片）棗（一枚）煎至七分去滓服</p>
<p>按本草人參甘溫安精神能補五臟之元氣白朮甘溫理脾胃能補五臟之母氣茯苓甘平能致五臟之清氣甘草甘平能調五臟愆和之氣甘得中之味溫得中之氣誠無愧和衷之君子也</p>

<h3>異功散</h3>
<p>即四君子湯加陳皮尤宜病後調理兼治小兒吐瀉</p>

<h3>六君子湯</h3>
<p>即四君子湯加半夏陳皮一方去甘草加枳殼治素有痰飲胸膈痞滿脾胃虛寒不嗜飲食服燥藥不得者一方加黃耆山藥亦名六君子湯</p>

<h3>麥門冬湯</h3>
<p>即六君子湯加麥冬小麥烏梅治霍亂</p>

<h3>麥門冬湯</h3>
<p>即異功散加葳蕤麥冬蘆根竹茹陳米生薑煎服治漏氣嘔吐</p>

<h3>人參湯</h3>
<p>即麥門冬湯去麥冬甘草加黃芩梔子知母石膏</p>

<h3>補中湯</h3>
<p>又名調中丸即四君子湯加乾薑脾胃不和而作嘔又治傷寒兩感</p>

<h3>白芍良薑湯</h3>
<p>即四君子湯加白芍良薑治吐瀉轉筋腹痛體重脈沉細者</p>

<h3>加味四君子湯</h3>
<p>即四君子湯加秦艽黃蠟治勞嗽</p>

<h3>朱君散</h3>
<p>即四君子湯加硃砂麝香燈心鉤藤湯下治小兒吐瀉後虛弱驚悸糞青</p>

<h3>烏蠍四君子湯</h3>
<p>即四君子湯加川烏全蠍治慢驚風</p>

<h3>加味四柱飲</h3>
<p>即四君子湯去甘草加木香熟附子治丈夫元臟氣虛真陽耗散兩耳常鳴臍腹冷痛頭眩目暈四肢倦急小便數滑泄瀉不止加薑棗煎服</p>

<h3>惺惺散</h3>
<p>即四君子湯加桔梗細辛栝蔞仁薄荷三葉生薑煎服治小兒風熱瘡疹傷風時氣頭痛壯熱目澀多眠咳嗽氣粗鼻塞清涕及傷食</p>

<h3>錢氏白朮散</h3>
<p>即四君子湯加藿香木香乾葛（各一兩）治小兒泄瀉冒熱煩渴不問陰陽並宜服之又名調中人參湯去乾葛加茯神名內救散治小兒泄瀉</p>

<h3>四獸飲</h3>
<p>即六君子湯加草果烏梅生薑煎服治五臟氣虛喜怒不節勞役兼致陰陽相勝結聚涎飲發為瘡疾兼治瘴瘧最有神效</p>

<h3>加減四君子湯</h3>
<p>即四君子湯加黃耆扁豆藿香治吐瀉</p>

<h3>快脾飲</h3>
<p>即四獸飲去茯苓加厚朴砂仁附子減甘草薑棗煎服治脾寒</p>

<h3>易簡斷下湯</h3>
<p>四君子湯去人參加草果瞿麥粟醋製薑棗烏梅煎服治下痢赤白日久</p>

<h3>甘草乾姜茯苓白朮湯</h3>
<p>即四君子湯去人參加乾薑（二兩）茯苓（一兩）寒濕著體重腹以下冷痛身勞汗出脾傷寒濕不渴小便利三因名腎著湯</p>

<h3>茯苓桂枝白朮甘草湯</h3>
<p>即四君子湯去人參加桂枝治傷寒吐下後心下逆滿氣上衝胸頭眩身搖脈沉緊經自陽不足者補之以甘茯苓白朮生津而益陽陽也裡氣逆者散之以辛桂枝甘草行陽散氣</p>

<h3>桂枝人參湯</h3>
<p>即四君子湯去茯苓加桂枝幹姜</p>

<h3>歸脾散</h3>
<p>即四君子湯加黃耆當歸棗仁遠志木香龍眼肉治思慮過多勞傷心脾健忘怔忡</p>

<h3>內救散</h3>
<p>即四君子湯加木香藿香茯神治小兒泄瀉</p>

<h3>八味順氣散</h3>
<p>即異功散加白芷青皮烏藥治中風先宜服此藥以順其氣次用治風之藥</p>

<h3>順風勻氣散</h3>
<p>即八味順氣散去茯苓陳皮加天麻紫蘇木瓜沉香治中風中經絡遂口眼喎斜腰腿疼痛</p>

<h3>小麥門冬湯</h3>
<p>即六君子湯加小麥麥門冬烏梅生薑治</p>

<h3>白朮湯</h3>
<p>即六君子湯加木香黃耆乾葛治小兒泄瀉胃熱煩渴一方加半夏乾薑嘔吐一方加扁豆乾山藥名六君子湯加附子服之治虛冷泄瀉</p>

<h3>養脾丸</h3>
<p>即四君子湯加乾薑砂仁麥芽補養脾胃</p>

<h3>附子湯</h3>
<p>即四君子湯加生附官桂芍藥治風寒濕痹骨節痛皮膚不仁肌肉重著□□□□□□無官桂甘草治少□□□□□□中和其背惡寒者</p>

<h3>茯苓飲</h3>
<p>即四君子湯去甘草加枳實陳皮生薑治胸中停飲心下宿水吐水氣滿不欲食</p>

<h3>半夏湯</h3>
<p>一名大半夏湯即四君子湯加半夏官桂附子</p>

<h3>甘草湯</h3>
<p>即四君子湯去人參加官桂治停飲目眩</p>

<h3>酸棗仁湯</h3>
<p>即四君子湯加酸棗仁治振悸不得眠</p>

<h3>六神湯</h3>
<p>即四君子湯加黃耆白扁豆治痔漏下血面色痿黃脾胃虛弱四肢乏力飲食無味中氣下陷不能攝血並治脾虛吐瀉</p>

<h3>七珍湯</h3>
<p>即四君子湯加山藥黃柏粟米薑棗煎服治勞瘵咯血</p>

<h3>參苓白朮散</h3>
<p>即四君子湯加山藥白扁豆蓮肉薏苡仁砂仁桔梗治脾胃虛弱泄瀉一切病後以此調理脾胃如治噤口痢加石菖蒲枳殼陳米</p>

<h3>平和飲子</h3>
<p>即四君子湯去白朮茯苓治小兒變蒸</p>

<h3>四君子加姜附厚朴湯</h3>
<p>即四君子湯加生薑附子厚朴治霍亂吐瀉不止夜急尤甚者</p>

<h3>黃耆湯</h3>
<p>即四君子湯加黃耆芍藥生薑煎服衝脈弦細芤遲者一方加藿香治三焦虛實自汗本方與四物湯各半名托裡消毒散合十全散去茯苓加川芎當歸名托裡解膿散</p>

<h3>五飲湯</h3>
<p>即六君子湯合五苓散加枳實旋覆花厚朴前胡芍藥治五飲若因飲酒有飲者加葛花縮砂仁</p>

<h3>八味定志丸</h3>
<p>即四君子湯去甘草加菖蒲遠志硃砂麥門冬等分蜜丸桐子大米飲湯下三十丸每服十丸日三服亦可補益心神安魂魄治痰去胞中邪熱理肺腎</p>

<h3>人參湯</h3>
<p>即四君子湯加歸芍半夏曲柴胡黃芩乾葛治五勞</p>

<h3>胃風湯</h3>
<p>即四君子合四物湯去甘草地黃加桂治大人小兒風冷乘虛客於腸胃水穀不化泄瀉注下及腸胃濕毒下如豆汁或下瘀血</p>

<h3>逍遙散</h3>
<p>即四君子湯去人參加當歸芍藥柴胡治肝脾血虛發熱或耳內及胸乳腹脹小便不利一方有人參薄荷</p>

<h3>加味逍遙散</h3>
<p>即逍遙散加山梔牡丹皮姜水煎服同前而熱甚者</p>

<h3>四君子湯加竹瀝薑汁方</h3>
<p>即四君子湯加竹瀝薑汁治半身不遂在右者屬氣虛</p>
<p>複方</p>

<h3>八珍湯</h3>
<p>即四君子合四物湯治肝脾傷損氣血虛弱惡寒發熱或煩躁作渴或胸膈不和大便燥實等證</p>

<h3>大秦艽湯</h3>
<p>即八珍湯去人參加秦艽石膏羌活獨活防風黃芩白芷生地黃（各一兩）細辛（五錢）治中風外無六經之形症內無便溺之阻隔乃血弱不能養筋故手足不能運動舌強不能語言也</p>

<h3>大補湯</h3>
<p>四君子合四物加黃耆肉桂治男婦諸虛不足五勞七傷生血氣補脾胃</p>

<h3>赤茯苓湯</h3>
<p>即四君子合二陳湯去甘草加川芎順氣消痰止嘔調中益氣補胃</p>

<h3>大防風湯</h3>
<p>即十全大補湯去茯苓肉桂加附子杜仲牛膝防風羌活薑棗煎服</p>

<h3>大建中湯</h3>
<p>即十全大補湯加半夏附子門冬肉蓯蓉薑棗煎服治腰痛</p>

<h3>大補黃耆湯</h3>
<p>即十全大補湯去芍藥加防風山茱萸五味子肉蓯蓉薑棗煎服若自汗不止服諸藥固表並無效驗藥服之而汗愈不收止可理心血蓋汗乃心之液心無所養不能攝血故溢而為汗宜此湯加酸棗仁主之有微熱更加石斛</p>

<h3>三痹湯</h3>
<p>用十全大補去白朮加防風秦艽細辛獨活杜仲牛膝川續斷上作一服水二鍾生薑（三片）棗（一枚）煎至一鐘不拘時服治血氣澀滯手足拘攣風痹等疾</p>

<h3>薯蕷丸</h3>
<p>用薯蕷（三十分）甘草（二十八分）桂枝神麯大豆黃卷當歸乾地黃（各十分）川芎芍藥白朮麥門冬杏仁防風（各六分）柴胡桔梗茯苓（各五分）人參阿膠（各七分）乾薑（三分）白蘞（二分）大棗（百枚）為膏共二十一味末之煉蜜和丸如彈子大空腹酒服一丸一百為劑治虛勞諸不足風氣百疾</p>

<h3>牛黃清心丸</h3>
<p>用白芍藥麥門冬去心黃芩當歸去苗防風去苗白朮（各一兩半）柴胡桔梗芎藭白茯苓去皮杏仁去皮尖雙仁麩炒黃別研各一兩二錢半神麯研蒲黃炒人參去蘆各二兩半羚羊角屑麝香研龍腦（研各一兩）肉桂去粗皮大豆黃卷碎炒阿膠碎炒各一兩七錢半白蘞乾薑炮各七錢半牛黃（研一兩二錢）犀角屑（二兩）雄黃（研飛八錢）乾山藥（七兩）甘草（銼炒五兩）金箔（一千二百片內四百片）為衣大棗（一百枚）蒸熟去皮核研成膏上除棗杏仁金箔二角及二黃腦麝四味另研外為細末入余藥和勻用煉蜜與棗膏為丸每兩作十丸金箔為衣每服一丸溫水化下食後服治諸風緩縱不隨語言謇澀心怔健忘恍惚去來頭目眩冒胸中煩郁痰涎壅塞精神昏憒又治心氣不足神志不定驚恐怕怖悲憂慘慼虛煩少睡喜怒無時或發狂癲神情昏亂</p>

<h3>硃砂丸</h3>
<p>用硃砂（五錢）全蠍炒去毒天麻白附子姜蠶炒乾姜炮牛黃（各五分）麝香（一分）為末粳米和丸如漆米大每服三十丸薄荷湯下治小兒口眼喎斜筋脈牽引</p>

<h2>歸脾湯</h2>
<p>治思慮過多勞傷心脾健忘怔忡</p>
<p>人參（去蘆）　木香（各一錢）　茯苓（去皮木）　龍眼肉　黃耆（去蘆）　酸棗仁　白朮（以上各一錢半）　甘草（炙半錢）</p>
<p>上作一服用水二鍾生薑五片棗一枚煎至一鐘不拘時服一方有當歸遠志</p>

<h3>養心湯</h3>
<p>用歸脾去木香白朮加茯神半夏曲川芎柏子仁五味子辣桂治心血虛少神氣不寧令人驚悸怔忡者</p>

<h3>益榮湯</h3>
<p>即歸脾湯無白朮龍眼肉加柏子仁麥門冬白芍藥紫石英治思慮過多耗傷心血心血既傷神無所守是以怔忡恍惚善悲憂少顏色夜多不寐小便或濁</p>

<h3>寧志丸</h3>
<p>即歸脾湯去黃耆白朮木香甘草龍眼肉加柏子仁石菖蒲乳香硃砂琥珀治氣血虛夢中多驚者</p>

<h3>天王補心丹</h3>
<p>用人參去蘆丹參洗白茯苓去皮酸棗仁洗遠志去心百部洗石菖蒲去毛柏子仁桔梗去蘆玄參天門冬去心五味子茯神去木當歸熟地黃各等分為末煉蜜丸治寧心保神益血固精壯力強志令人不忘清三焦化痰涎祛煩熱除驚悸療咽口燥育養心氣</p>

<h2>芎歸膠艾湯</h2>
<p>治婦人有漏者有半產後因續下血都不絕者</p>
<p>芎藭　阿膠　甘草（各一兩）　艾葉　當歸（各三兩）　芍藥（四兩）　乾地黃</p>
<p>上七味以水五升清酒三升合煮取三升去滓內膠令消盡溫服一升日三服不瘥更作愚按仲景芎歸膠艾湯乃四物湯之祖方也中間已具四物後人裁而用之以為調血之總司女科之聖劑易水南陽而下各有增損法詳載於後</p>

<h3>當歸芍藥散</h3>
<p>即前方去膠艾熟地倍芍藥加茯苓白朮澤瀉治婦人懷娠腹中㽲痛</p>

<h3>當歸散</h3>
<p>即前方去茯苓澤瀉加黃芩杵為散酒服方寸匕日再服妊娠常服之易產無疾苦產後百病悉主之</p>

<h3>溫經湯</h3>
<p>即芎歸膠艾湯去熟地艾葉加吳茱萸人參桂枝丹皮生薑半夏麥門冬治婦人帶下曾經半產瘀血在少腹不去其證下利不止暮即發熱少腹裡急腹滿手掌煩熱唇口乾燥</p>

<h3>當歸湯</h3>
<p>即芎歸膠艾湯去熟地芍藥甘草加人參大棗水酒煎服安胎治小便痛</p>

<h2>四物湯</h2>
<p>調益營衛滋養氣血治衝任虛損月水不調腹臍㽲痛崩中漏下血瘕塊硬發歇疼痛妊娠宿冷將理失宜胎動不安血下不止及產後乘虛風寒內搏惡露不下結生瘕聚少腹堅痛時作寒熱</p>
<p>熟地黃　補血如臍下痛非此不能除乃通腎經之藥也</p>
<p>川芎　治風泄肝木如血虛頭痛非此不能除乃通腎肝之藥也</p>
<p>白芍藥　和血理脾如腹中虛痛非此不能除乃通脾經之藥也</p>
<p>當歸　和血如血刺痛非此不能除乃通心經之藥也去蘆酒浸炒</p>
<p>上為粗末每服三錢水一盞半煎至八分去滓熱服空心食前下</p>
<p>愚按人身之血氣猶天地之陰陽也天地之道陽常有餘陰常不足人與天地相似故陰血難成而易虧內經曰陰不足者補之以味當歸辛溫芍藥酸平地黃苦寒皆味厚者也故能生血川芎味薄氣清能調榮中之氣合之能養五臟之陰五臟和而血自生耳血不足者以此調之則可若失血太多氣微息弱者禁勿與之蓋陰主閉塞恐伐生生之氣也仲景血脫益氣使陽生陰長厥有旨哉</p>
<p>潔古加減法</p>
<p>春倍川芎　一曰春二曰脈弦三曰頭痛</p>
<p>夏倍芍藥　一曰夏二曰脈洪三曰泄</p>
<p>秋倍地黃　一曰秋二曰脈嗇三曰血虛</p>
<p>冬倍當歸　一曰冬二曰脈沉三曰寒而不食此常服順四時之氣而有對證不愈者謂失其輔也宜如後法</p>

<h3>春防風四物湯</h3>
<p>即本方加防風倍川芎</p>

<h3>夏黃芩四物湯</h3>
<p>即本方加黃芩倍芍藥</p>

<h3>秋天門冬四物湯</h3>
<p>即本方加天門冬倍地黃</p>

<h3>冬桂枝四物湯</h3>
<p>即本方加桂枝倍當歸此四時常服隨證用之也</p>

<h3>六合湯</h3>
<p>即四物湯加官桂蓬朮治經事不行腹中急痛腰腿重痛</p>

<h3>溫六湯</h3>
<p>即四物湯加羌活一方加白朮茯苓海藏改正上五味與蒼朮相拌治諸痛有神</p>

<h3>風六合湯</h3>
<p>即四物（四兩）加羌活防風（各一兩）治婦人筋骨痛及頭痛脈弦增寒如瘧一方加秦艽羌活亦謂之風六合治風虛眩暈</p>

<h3>氣六合湯</h3>
<p>即四物（四兩）加木香檳榔（各半兩）治婦人血氣上衝心腹肋下悶一方加厚朴陳皮亦謂之氣六合治氣虛弱起則無力匡然而倒一方加厚朴（一兩）枳實（半兩）亦名氣六合湯又名四物加厚朴枳實湯治婦人虛勞氣弱喘嗽胸滿</p>

<h3>玄胡六合湯</h3>
<p>即四物內加玄胡苦楝（炒各一兩）治婦人臍下冷腹痛腰脊痛</p>

<h3>芍藥六合湯</h3>
<p>即四物內倍加芍藥治婦人氣克經脈月事頻並臍下痛</p>

<h3>八物湯</h3>
<p>即四物內加玄胡苦楝（各一兩）檳榔木香（各半兩）治婦人經事欲行臍腹絞痛臨經痛者血澀故也</p>

<h3>四物加黃芩白朮湯</h3>
<p>即四物（四兩）內加黃芩白朮（各一兩）治婦人經水過多</p>

<h3>四物加葵花湯</h3>
<p>即四物（四兩）加葵花（一兩）治婦人經水澀少一方加紅花血見愁</p>

<h3>四物加黃芩黃連湯</h3>
<p>即四物加黃芩黃連（各一兩）治經水如黑豆汁</p>

<h3>四物加熟地當歸湯</h3>
<p>即四物（四兩）加熟地黃當歸（各一兩）治經水少而色和者</p>

<h3>四物大黃湯</h3>
<p>即四物（四兩）加生地大黃酒浸各五錢治妊娠傷寒蓄血證不宜墮胎藥下之婦人妊娠或蓄血抵當桃仁勿妄施要教子母俱無損大黃四物對服之</p>

<h3>四神湯</h3>
<p>即四物湯去地黃加乾薑治婦人血虛心痛腹㽲痛不可忍亦名四神散</p>

<h3>香桂六合湯</h3>
<p>即四物（四兩）加桂枝香附（各五錢）治婦人赤白帶下</p>

<h3>四物二連湯</h3>
<p>即四物（四兩）加生地黃生黃連胡黃連（各一兩）治婦人或因傷酒或因產亡血或虛勞五心煩熱</p>

<h3>八物湯</h3>
<p>即四物（四兩）加黃耆甘草茯苓白朮（各一兩）治婦人傷寒汗下後飲食減少虛者</p>

<h3>柴胡四物湯</h3>
<p>即四物湯加柴胡人參黃芩甘草半夏曲（各三錢）治產後虛勞日久而脈浮之疾</p>

<h3>熱六合湯</h3>
<p>即四物加黃連梔子治發熱面煩不能睡臥</p>

<h3>濕六合湯</h3>
<p>即四物加白朮茯苓治中濕身沉重無力身涼微汗</p>

<h3>寒六合湯</h3>
<p>即四物湯加乾薑附子治虛寒脈微自汗氣難布息便清白</p>

<h3>四物龍膽湯</h3>
<p>即四物湯加龍膽草治目赤暴發作雲翳疼痛不可忍者一方加防風防己</p>

<h3>四物加黃芩湯</h3>
<p>即四物（四兩）加黃芩如腹痛加黃連（一兩）夏月不去黃芩</p>

<h3>增損四物湯</h3>
<p>即四物內加廣朮京三稜桂乾漆依法制各加一兩治婦人血積一方去地黃加乾薑人參</p>
<p>甘草治產後陰陽不和乍寒乍熱如有惡露未盡停滯胞絡亦能令人寒熱但小腹急痛為異又治氣血不足四肢怠惰無力少氣</p>

<h3>妊娠傷寒諸六合湯</h3>
<p>詳載於下</p>

<h3>表虛六合湯</h3>
<p>即四物（四兩）加桂枝地骨皮（各七錢）治妊娠傷寒中風表虛自汗頭痛項強身熱惡寒脈浮而弱太陽經病</p>

<h3>表實六合湯</h3>
<p>即四物（四兩）加麻黃細辛（各半兩）治妊娠傷寒頭痛身熱無汗脈緊太陽經病</p>

<h3>風濕六合湯</h3>
<p>即四物（四兩）加防風蒼朮制（各七錢）治妊娠傷寒中風濕之氣肢節煩疼脈浮而熱頭痛有太陽標病也</p>

<h3>升麻六合湯</h3>
<p>即四物（四兩）加升麻連翹（各七錢）治妊娠傷寒下後過經不愈濕毒發斑如錦紋者</p>

<h3>柴胡六合湯</h3>
<p>即四物（四兩）加柴胡黃芩（各七錢）治妊娠傷寒胸脅滿痛而脈弦少陽證也</p>

<h3>大黃六合湯</h3>
<p>即四物（四兩）加大黃（五錢）桃仁去皮尖十個麩炒治妊娠傷寒大便硬小便赤氣滿而脈沉數陽明太陽本病也</p>

<h3>人參六合湯</h3>
<p>即四物（四兩）加人參（五錢）五味子（五錢）治妊娠傷寒汗下後咳嗽不止</p>

<h3>厚朴六合湯</h3>
<p>即四物（四兩）加厚朴枳實麩炒各五錢治妊娠傷寒後虛痞脹滿者陽明本虛也</p>

<h3>梔子六合湯</h3>
<p>即四物（四兩）加梔子黃芩（各五錢）治妊娠傷寒汗下後不得眠</p>

<h3>石膏六合湯</h3>
<p>即四物（四兩）加石膏知母（各五錢）治妊娠傷寒大渴蒸蒸而煩脈長而大者</p>

<h3>茯苓六合湯</h3>
<p>即四物（四兩）加茯苓澤瀉（各五錢）治妊娠傷寒小便不利太陽本病</p>

<h3>琥珀六合湯</h3>
<p>即四物（四兩）加琥珀茯苓（各五錢）治妊娠傷寒太陽本病小便赤如血</p>

<h3>膠艾六合湯</h3>
<p>即四物（四兩）加阿膠艾（各五錢）一方又加甘草一方加甘草乾薑黃耆治妊娠傷寒汗下後血漏不止胎氣損者</p>

<h3>附子六合湯</h3>
<p>即四物（四兩）加附子桂治妊娠傷寒四肢拘急身涼微汗腹中痛脈沉而遲少陰病也</p>

<h3>奇效四物湯</h3>
<p>即四物湯加黃耆阿膠艾治血崩</p>

<h3>參朮飲</h3>
<p>即四物湯加參朮陳皮熟半夏治妊娠轉胞</p>

<h3>黃耆解肌湯</h3>
<p>即四物湯加人參黃耆蒼朮甘草治妊娠傷風自汗</p>

<h3>六神湯</h3>
<p>即四物湯加地骨皮黃耆治氣血不足肌體煩熱四肢倦怠不進飲食</p>

<h3>茱萸四物湯</h3>
<p>即四物湯加吳茱萸治血嘈吞吐酸水丹溪曰凡吞吐酸水皆屬於熱必用吳茱萸順其性而折之</p>

<h3>四物桔梗湯</h3>
<p>即四物湯加桔梗黃柏竹瀝薑汁治乾咳嗽</p>

<h3>四物玄明飲</h3>
<p>即四物湯加車前子木通煎調玄明粉二三錢空腹服治尿血須臾服一二碗一劑即止便血不痛為尿血</p>

<h3>地黃當歸湯</h3>
<p>即四物湯去川芎芍藥治胎痛補血養胎又治大便燥久虛亡血一名益血丹一名內補丸蜜丸名當歸地黃丸</p>

<h3>君臣散</h3>
<p>即四物湯去地黃芍藥一名芎歸湯一名當歸湯一名佛手散一名琥珀散一名驗胎散治月水不調心腹病痛又治血虛頭痛產後並一切去血過多煩暈</p>

<h3>犀角地黃丸</h3>
<p>即四物湯去芎歸加犀角牡丹皮治傷寒陽明病口燥漱水不欲咽者必衄服之又治衄血脈滑數又治衄而頭汗出或身上有汗不至足者乃難治加京墨三匙又治傷寒吐血又治傷寒及瘟疫應發而不發內有瘀血吐衄面黃大便黑者又治風熱太甚眼目赤腫喉閉口瘡丹毒又治虛勞火動吐衄又治熱移於肺咳嗽吐血</p>

<h3>犀角地黃湯</h3>
<p>即犀角地黃丸料㕮咀水煎服治畜血上焦或嘔或衄或吐胸中手不可近熱多加黃芩腹大來遲腹不滿自言滿者無熱也不必加之原云如無犀角以升麻代之升麻與犀角性味主治不同以升麻代之者以是知引入陽也治瘡疹大盛一方去芍藥加硃砂黃連白茯苓甘草治心經邪熱言語謇澀發狂心惕恍惚惑忘</p>

<h3>靈苑丹</h3>
<p>即四物湯去地黃芍藥當歸止用川芎為末艾湯調服　胎</p>

<h3>滋燥養榮湯</h3>
<p>即四物湯去當歸加生地黃熟地黃白芍藥秦艽黃芩（各一錢五分）防風（一錢）甘草（五分）治皮膚皴揭筋燥爪干</p>

<h3>羊肉湯</h3>
<p>即四物湯去地黃芍藥加精羊肉（一兩）治虛損羸乏腹中疼痛往來寒熱呼吸少氣不能支持頭暈自汗</p>

<h3>當歸生薑羊肉湯</h3>
<p>即羊肉湯去川芎加生薑（五兩）以水八升煮取三升溫服七合日三服治寒疝腹中痛及脅痛裡急若寒多者加生薑成（一斤）痛多而嘔者加橘皮（二兩）白朮（一兩）加生薑者亦加水（五升）煮取三升二合服之</p>

<h3>奔㹠湯</h3>
<p>即四物湯去地黃加半夏甘草黃芩生葛生薑李根白皮以水二斗煮取五升溫服一升日三夜一服治奔㹠氣上衝胸腹痛往來寒熱者</p>

<h3>人參養榮湯</h3>
<p>即大補湯去川芎加陳皮遠志五味子治脾肺俱虛發熱惡寒肢體瘦倦食少作瀉又治久病虛損口乾食少咳而下痢心驚悸熱而自汗等證</p>

<h3>桂香散</h3>
<p>即四物湯去地黃芍藥加桂酒小便煎治產後腹痛</p>
<p>複方</p>

<h3>茯苓補心湯</h3>
<p>即四物合參蘇飲治心氣虛耗不能藏血面色痿黃五心煩熱</p>

<h3>理物湯</h3>
<p>即四物湯合理中湯治交腸</p>

<h2>當歸四逆湯</h2>
<p>治手足厥寒脈細欲絕者</p>
<p>當歸（三兩辛溫）　桂枝（三兩去皮辛熱）　芍藥（三兩酸寒）　細辛（三兩辛熱）　通草（二兩甘平）　甘草（二兩甘平）　大棗（二十五枚擘甘溫）</p>
<p>上七味以水八升煮取三升去滓溫服一升日三服</p>
<p>成無己云內經曰脈者血之腑也諸血者皆屬心通脈者必先補心益血苦先入於心當歸之苦以助心血心苦緩急食酸以收之芍藥之酸以收心氣肝苦急急食甘以緩之大棗甘草通草之甘以緩陰血</p>

<h3>當歸四逆加吳茱萸生薑湯</h3>
<p>即本方加吳茱萸（二升）生薑（半斤）水酒（各六升）煮服治手足厥逆內有寒茱萸辛溫以散久寒生薑辛溫以行陽氣</p>

<h3>吳茱萸湯</h3>
<p>用吳茱萸（一升）洗人參（三兩）生薑（六兩）大棗（十二枚）治食谷欲嘔者屬陽明也成無己云內經曰寒淫於內治以甘熱佐以苦辛吳茱萸生薑之辛以溫胃人參大棗之甘以緩脈</p>

<h3>五味子散</h3>
<p>用五味子炒三兩吳茱萸炒五錢上二味為末每服二錢白湯調下治腎泄在清晨五更作瀉飲食進或大便不實不時去後為丸尤妙</p>

<h2>補中益氣湯</h2>
<p>治中氣不足飲食勞倦清氣下陷以致脾胃虛弱發熱頭痛四肢倦怠心煩肌瘦日漸羸弱此藥能升元氣退虛熱補脾胃生血氣</p>
<p>黃耆（病甚勞役熱甚者一錢）　甘草（炙以上各五分）　人參（去蘆三分有嗽去之以上三味除濕熱煩熱之聖藥也）　當歸身（二分酒焙乾或日乾以和血脈）　橘皮（不去白二分或三分以導氣又能益元氣得諸甘藥乃可若獨用瀉脾胃）　升麻（二分或三分引清氣行少陽之氣上升）　白朮（三分除胃中熱利腰臍間血　薛新甫常用方參耆朮各一錢半歸一錢橘七分柴升甘草各五分薑棗煎服）</p>
<p>上八味㕮咀作一服水二盞煎至一盞量氣弱氣盛臨病斟酌水盞大小去滓食遠稍稍熱服</p>
<p>加減法</p>
<p>如腹中痛者加白芍藥（五分）炙甘草（三分）○如惡寒冷痛者加去皮中桂（一分或三分）即桂心是也○如惡熱喜寒而腹痛者於已加白芍藥二味中更加生黃芩（三分）或（二分）○如夏月腹痛而不惡熱者亦然治時熱也○如天涼時惡熱而痛於已加白芍藥甘草黃芩中更少加桂○如天寒時腹痛去芍藥味酸而寒故也加益智（三兩或二分）或加半夏（五分）生薑（三片）○如頭痛加蔓荊子（二分或三分）○痛甚者加川芎（二分）○如頂痛腦痛加藁本（三分或五分）○如苦痛者加細辛（二分）華陰者佳○諸頭痛者並用此四味足矣○如頭上有熱則此不能治別以清空膏主之○如臍下痛者加真熟地黃（五分）其痛亦止如不已者乃大寒也更加肉桂去皮二分或三分內經所說少腹痛皆寒證從復法相報中來也經云大勝必大復從熱病中變而作也非傷寒厥陰之證也仲景以抵當湯並丸主之乃血結下焦膀胱也○如胸中氣壅滯加青皮（一分）如氣促少氣者去之○如身有疼痛者濕若身重者亦濕加去桂五苓散（一錢）○如風濕相搏一身盡痛加羌活防風藁本根以上各五分升麻蒼朮以上各一錢勿用五苓所以然者為風藥已能勝濕故別作一服與之如病去勿再服以諸風之藥損人元氣而益其病故也○如大便秘澀加當歸稍（一錢）閉澀不行者煎成正藥先用一口調玄明粉（五分或一錢）得行則止此病不宜下下之恐變凶證也○如久病痰嗽者去人參初病者勿去之冬月或春寒或秋涼時各宜加去根節麻黃（五分）○如春令大溫只加佛耳草（三分）款冬花（一分）○如夏月病嗽加五味子（三十二枚）麥門冬（去心二分或三分）○如舌上白滑苔者是胸中有寒勿用之○如夏月不嗽亦加人參（三分或二分）加五味子麥門冬各等分救肺受火邪也○舊如病人能食而心下痞加黃連（一分或三分）○如不能食心下痞勿加黃連○如脅下痛或脅下急縮俱加柴胡（三分）甚則（五分）上方加減是飲食勞倦喜怒不節始病熱中則可用之若末傳為寒中則不可用也蓋甘酸適足益其病爾如黃耆人參甘草芍藥五味子之類也出東垣脾胃論</p>

<h3>調中益氣湯</h3>
<p>即補中益氣湯去當歸白朮加蒼朮木香治因飢飽勞役損傷脾胃脾胃虛弱四肢滿閉骨節煩疼難以屈伸身體沉重心煩口中無味不思飲食大小便不調或飧泄米穀不化胸滿短氣咽膈不通嗜臥無力</p>

<h3>黃耆人參湯</h3>
<p>即補中益氣湯去柴胡加麥門冬五味子蒼朮炒曲黃柏治脾胃虛弱上焦之氣不足遇夏天氣熱盛損傷元氣怠惰嗜臥四肢不收精神不足兩腳痿軟早晚寒厥日高復熱如火氣血俱不足等症</p>

<h3>清暑益氣湯</h3>
<p>即黃耆人參湯加澤瀉青皮葛根治長夏濕熱蒸人人感之四肢困倦精神短少懶於動作胸滿氣促肢節疼痛或氣高而喘身熱而煩心下膨悶小便赤而數大便溏而頻或利或渴不思飲食自汗身重</p>

<h3>升陽益胃湯</h3>
<p>即補中益氣湯加神麯生黃芩治婦人經候凝結黑血成塊臍左有血瘕水瀉不止谷不消化後血塊暴下並水俱作</p>

<h3>人參益胃湯</h3>
<p>即補中益氣湯加益智黃芩半夏蒼朮紅花治頭煩動即微痛不喜飲食四肢怠惰躁熱短氣口不知味腹鳴大便微溏身體昏悶竟渴不喜冷物</p>

<h3>升陽順氣湯</h3>
<p>即補中益氣湯去白朮加半夏草豆蔻神麯黃柏治飲食不節勞役所傷腹脅滿悶短氣遇春則口淡無味遇夏雖熱猶自惡寒飢則常如飽不喜食冷物</p>

<h3>調榮養氣湯</h3>
<p>即補中益氣湯去升麻加生地川芎細辛羌活防風治頭疼身熱惡寒微渴濈然汗出遍身作痛腳腿痠疼無力沉倦脈虛無力庸工不識因作正傷寒大發其汗致輕變重殊不知勞力內傷氣血外感寒邪宜少用辛溫之劑則愈名曰勞力感寒經曰勞者溫之損者溫之甘溫能除大熱此之謂也</p>

<h3>參耆益氣湯</h3>
<p>即補中益氣湯去當歸柴胡升麻加麥門冬五味子陽虛加附子治氣虛陽厥脈伏手足厥冷</p>

<h3>人參救肺散</h3>
<p>即補中益氣湯用歸尾蒼朮加白芍藥熟地蘇木治咳血吐血</p>

<h3>清燥湯</h3>
<p>即補中益氣湯加蒼朮茯苓豬苓澤瀉麥門冬五味子生地黃黃連黃柏神麯治六七月間濕令大行子能令母實而熱旺濕熱相合必刑庚大腸寒冷以救之燥金受濕熱之邪絕寒水生化之源源絕則腎虧痿厥之病大作腰以下痿軟癱瘓不能動行步不正一兩足欹側此方主之</p>

<h3>升陽除濕湯</h3>
<p>即補中益氣湯去人參白朮陳皮加羌活蒼朮（各一錢五分）防風藁本（各一錢）蔓荊子（七分）獨活（五分）治水疝者腎囊腫大陰汗不絕</p>

<h2>金匱順氣丸</h2>
<p>治婦人病飲食如故煩熱不得臥而反倚息者此名轉胞不得溺也以胞系了戾故致此病但利小便則愈崔氏名八味丸治腳氣上入少腹不仁千金用治虛勞不足渴欲飲水腰痛小腹拘急小便不利後人用治命門火衰不能生土以致脾胃虛弱飲食少思大便不實臍腹疼痛夜多漩溺等證神驗</p>
<p>乾地黃（八兩）　山茱萸肉　薯蕷（各四兩）　澤瀉　白茯苓　牡丹皮（各三兩）　桂枝　附子（炮各一兩）</p>
<p>上八味末之煉蜜丸如梧子大酒下十五丸加至二十丸日再服潔古治腎消大病加減法方內桂附（各用一兩）春用三錢夏用一錢秋用五錢冬全用一兩</p>

<h3>加減八味丸</h3>
<p>仲景云常服去附子加五味子姚公云加五味子（三兩）蓯蓉（四兩）張文仲云五味子蓯蓉（各四兩）肘後方云地黃（四兩）附子澤瀉（各一兩）余各二兩薛新甫用治腎水不足虛火上炎發熱作渴口舌生瘡或牙齦潰爛咽喉作痛形體憔悴寢汗等證用五味子（四兩）王宇恭用五味子（二兩）</p>

<h3>十補丸</h3>
<p>即金匱腎氣丸加五味子鹿茸內附子五味子（各二兩）余各一兩治腎臟虛冷麵黑耳聾足寒膝軟小便不利</p>

<h3>腎氣丸</h3>
<p>地黃茯苓玄參（各五兩）薯蕷山茱萸桂心澤瀉芍藥（各四兩）附子（三兩）共九味千金翼有牡丹皮（四兩）共十味一方無附子有半夏（一兩）而分兩不同治腎氣不足羸瘦日劇呼吸少氣體重耳聾眼暗百病</p>

<h3>地黃丸</h3>
<p>一名六味地黃丸即仲景腎氣丸錢仲陽去附子肉桂治腎經不足發熱作渴小便淋閉氣壅痰嗽頭目眩暈眼花耳聾咽噪舌痛齒牙不固腰腿痿軟自汗盜汗便血諸血失音水泛為痰血虛發熱等證其功不能盡述</p>

<h3>加減金匱腎氣丸</h3>
<p>即仲景腎氣丸加車前子牛膝內熟地用四兩茯苓（三兩）附子（五錢）余各一兩濟生以附子為君此薛新甫重定者治肺腎虛腰重腳腫小便不利或肚腹腫脹四肢浮腫或喘急痰盛已成蠱症其效如神此證多因脾胃虛弱治失其宜元氣受傷而變證者非此藥不能救</p>

<h3>腎氣丸</h3>
<p>即加減八味丸加鹿角沉香（八味各一兩）沉香官桂（各五錢）治三消弱甚者加附子（一兩）</p>

<h3>都氣丸</h3>
<p>即仲景腎氣丸加五味子補左右二腎水火兼益</p>

<h3>滋陰補腎丸</h3>
<p>即六味地黃丸加生地當歸尾柴胡五味子治肝胃陽虛陰弱虛火上炎目視昏花或至夜昏暗緊澀</p>

<h3>還少丹</h3>
<p>即六味地黃丸去丹皮澤瀉加牛膝杜仲肉蓯蓉遠志石菖蒲茴香巴戟枸杞五味楮實子各等分為末棗肉並煉蜜為丸梧子大每服五七十丸空心溫酒或鹽湯下治脾腎虛寒飲食少思發黃盜汗遺精白濁又治真氣虧損肌體瘦弱</p>

<h3>濟陰地黃丸</h3>
<p>用熟地黃山茱萸乾山藥加五味子麥門冬當歸肉蓯蓉枸杞甘菊花巴戟肉各等分為末煉蜜丸桐子大每服七八十丸空心白湯下治足三陰虧損虛火上炎致目睛散大視物不的或昏花澀緊作痛畏明或卒見非常之處其效與還少丹相似</p>

<h3>地黃飲子</h3>
<p>即金匱順氣丸去山藥澤瀉丹皮加蓯蓉巴戟遠志石菖蒲石斛五味子麥門冬各等分入薄荷少許薑棗煎服治腎氣虛弱舌喑不能言足痿不能行</p>
<p>複方</p>

<h3>三一腎氣丸</h3>
<p>即六味地黃丸合固本丸補陰丸補心腎諸臟精血瀉心腎諸臟火濕　附固本丸方用生地黃熟地黃天門冬麥門冬各等分為末煉蜜為丸梧子大每服五十丸空心溫酒或用淡鹽湯下　</p>
<p>附補陰丸方用黃柏鹽水炒知母鹽水炒灶板酥（炙各三兩）鎖陽酥（炙二兩）枸杞子五味子天門冬去皮心白芍藥酒浸五兩乾薑（炮三錢）冬五錢為末煉蜜入豬脊髓三條炊熟和丸桐子大每服八十丸空心淡鹽湯下冬月溫酒下</p>

<h3>人參固本丸</h3>
<p>即固本丸加人參本草云人參通心氣故宜加治肺熱燥作渴或小便短赤如淋此治虛而有火之聖藥也肺主氣而氣根于丹田肺畏火而制火必本於腎水也</p>

<h3>鹿柏固本丸</h3>
<p>即固本丸加鹿角霜（半斤）黃柏（一斤）黃柏分四制酒炒四兩人乳浸曬半斤鹽水炒四兩</p>

<h3>六合丸</h3>
<p>即固本丸加枸杞子地骨皮能明目</p>

<h3>天地丸</h3>
<p>一名二儀丸即固本丸去熟地麥門冬</p>

<h3>三才丸</h3>
<p>即固本丸去熟地麥門冬加人參為末煉蜜丸空心服治虛勞忌鯉魚</p>

<h3>補髓煎</h3>
<p>即固本丸去熟地麥門冬加當歸</p>

<h3>永壽丹</h3>
<p>即固本丸去熟地麥門冬加枸杞甘菊能明目</p>

<h3>三才封髓丹</h3>
<p>明三六丸（每味半兩）加黃柏（三兩）砂仁（一兩半）甘草（七錢半）炙為細末麵糊丸桐子大每服五十丸用蓯蓉（半兩）切作片酒一盞浸一宿次日煎三四沸去滓空心食前送下能降心火益腎水滋陰養血潤補不燥</p>

<h3>地芝丸</h3>
<p>即天地丸加枳殼麩炒甘菊花（各二兩）為末煉蜜丸如梧子大每服百丸茶清或溫酒下治目不能遠視能近視或妨近視乃陰氣不足陽氣有餘也</p>

<h3>調衛湯</h3>
<p>即固本丸去熟地加麻黃根黃耆（各一錢）甘草稍生用當歸稍黃芩（各半錢）五味子（七粒）豬苓（二分）羌活（七分）蘇木紅花（各一分）上㕮咀水煎溫服治自汗</p>

<h2>大補丸</h2>
<p>治陰火為病</p>
<p>黃柏　苦寒去皮鹽酒炒褐色</p>
<p>上一味為細末水丸梧子大血虛四物湯下氣虛四君子湯下</p>
<p>按朱丹溪云黃柏走至陰有瀉火補陰之功非陰中之火不可用也火有二君火者人火也心火也可以濕伏可以水滅可以直折黃連之屬可以制之相火者天火也龍雷之火也陰火也不可以水濕折之當從其性而伏之惟黃柏之屬可以降之</p>

<h3>坎離丸</h3>
<p>用黃柏（一斤）分作四分用醇酒蜜湯鹽水童便浸洗曬炒為末以知母（一斤）去毛切搗熬膏和丸每服七十丸白湯下治上盛下虛水火偏盛消中等症古書言知母佐黃柏滋陰降火有金水相生之義黃柏無知母猶水母之無蝦也蓋黃柏能制膀胱命門陰中之火知母能清肺金滋腎水之化原故潔古東垣丹溪皆以為滋陰降火要藥上古所未言也</p>

<h3>滋腎丸</h3>
<p>用黃柏知母（各一兩）酒洗焙碾入桂（一錢）為引熟水丸如芡實大每服百丸沸湯下治熱在血分不渴而小便不利或腎虛足熱腿膝無力等症內經云熱者寒之腎苦燥急食辛以潤之以黃柏之苦寒瀉熱補水潤燥為君知母之苦寒瀉腎火為佐肉桂辛熱為使寒因熱引也</p>

<h3>真珠粉丸</h3>
<p>用黃柏炒真蛤粉（各一斤）為末每服百丸空心湯酒下治赤白濁淫及夢泄滑精一方加知母炒牡蠣煅山藥炒等分為末糊丸梧子大每服八十丸鹽湯下</p>

<h3>二妙散</h3>
<p>即丹溪大補丸加蒼朮米泔浸七日等分為末空心酒服三錢治濕熱腰膝疼痛</p>

<h3>三補丸</h3>
<p>用黃柏黃芩黃連俱酒浸等分水煎服治三焦有火嗌喉乾燥小便赤濕大便秘結</p>

<h3>加味三補丸</h3>
<p>即三補丸加香附醋浸五日蒼朮米泔浸七日水煎服治鬱火𩞄雜</p>

<h3>補腎丸</h3>
<p>用黃柏鹽酒炒龜板酥炙各四兩杜仲薑汁炒牛膝陳皮（各二兩）夏加五味子（一兩）炒冬加乾薑（五錢）水煎服此亦治濕腎陰之方也</p>

<h3>正氣湯</h3>
<p>用黃柏炒知母炒各一錢五分甘草炙五分水煎服治陰虛有火令人盜汗之方也</p>

<h3>虎潛丸</h3>
<p>用黃柏鹽酒炒知母鹽酒炒熟地黃（各三兩）白芍藥酒炒陳皮鹽水潤曬乾牛膝（各二兩）龜板（四兩）酥炙鎖陽酒潤曬乾當歸（各一兩半）酒洗虎脛骨（一兩）酥炙上為細末羊肉為丸每服二三錢治氣疝者拂鬱則睪丸腫大悲哀則不藥而消</p>

<h2>生脈散</h2>
<p>治熱傷元氣肢體倦怠氣短懶言口乾作渴汗出不止或濕熱大行金為火制絕寒水生化之源致肢體痿軟腳欹眼黑及肺虛氣弱汗出息短而脈數或散代者</p>
<p>人參（五錢）　麥門冬（三錢）　五味子（三錢）</p>
<p>上三味水煎服千金加黃柏東垣云夏月服生脈散加黃耆令人氣力湧出</p>
<p>愚按內經曰肺熱傷氣肺主氣故君以人參之甘寒瀉火而補元氣臣以麥門冬之苦甘寒清金而濕水源佐以五味子之酸溫生腎精而收耗氣此皆補天元之貞氣非補火熱也</p>

<h3>麥門冬飲子</h3>
<p>用五味子（十個）麥門冬去心半錢人參當歸身（各五分）黃耆（一錢）生地黃（五錢）上作一服水二鍾煎至（一鍾）去渣稍熱服不拘時治吐血久不愈或肺氣虛而短氣不足以息或腎虛發熱唾痰皮毛焦燥一方有芍藥紫菀無生地一方無當歸黃耆有栝蔞實幹葛知母茯神</p>

<h3>五味子湯</h3>
<p>用生脈散加杏仁陳皮生薑水煎服治肺虛作喘脈大者</p>

<h3>人參飲子</h3>
<p>用生脈散加黃耆甘草當歸白芍藥治暑月衄血</p>

<h3>龍膽瀉肝湯</h3>
<p>用生脈散合黃連解毒湯去黃柏加柴胡龍膽草天門冬甘草知母上水煎服治肝經濕熱小便赤澀或寒熱脅脹痰咳等症凡肝經有餘之症並宜服之</p>

<h3>梅花聚香湯</h3>
<p>用生脈散加天花粉烏梅肉枇杷葉栝蔞實黃耆乾葛檀香上為細末每服三錢熟水調下治消湯飲水至石鬥病極者可服之即愈</p>

<h3>寧肺湯</h3>
<p>用生脈散合八珍湯加桑皮阿膠生薑蘇葉煎服治營衛俱虛發熱自汗肺氣喘急咳嗽痰涎</p>

<h3>人參款花膏</h3>
<p>用生脈散加款冬花紫菀桑白皮上為細末煉蜜為丸如雞頭實大每服一丸細嚼薑湯下治肺受虛寒久嗽不已咽膈滿悶痰涎嘔逆噁心腹脅脹滿腰背倦痛或虛勞冷嗽及遠年近日一切嗽病服諸藥不效皆治</p>

<h3>知母茯苓湯</h3>
<p>用生脈散合四君子小柴胡加知母薄荷川芎阿膠款花桔梗治肺痿咳嗽氣喘不已往來寒熱自汗</p>

<h3>生脈散加香薷方</h3>
<p>即生脈散加香薷上四味水煎服治人本陰虛復遇暑途飢困勞倦暴僕昏絕者</p>

<h3>延齡育子方</h3>
<p>即生脈散加川巴戟去心白朮白茯苓川牛膝生地黃熟地黃天門冬肉蓯蓉去心枸杞子菟絲子去心蓮鬚白茯神山藥薑汁炒山茱萸去核沙苑蒺藜炒柏子仁鹿角霜（各五兩）酸棗仁遠志石斛（各二兩）　上為細末煉蜜為丸如梧桐子大每服百丸空心鹽易吞下此亦廣嗣之方也</p>

<h2>黃耆六一湯</h2>
<p>治男婦諸虛不足肢體勞倦胸中煩悸時常焦渴唇口乾燥面色痿黃不能飲食常服平補氣血安和臟腑</p>
<p>黃耆（去蘆蜜炙六兩）　甘草（一兩）</p>
<p>上二味為粗散每服六錢水一盞姜三片棗一枚煎六分溫服一方減黃耆（四兩）名托裡黃耆湯治諸瘡疽發渴脈虛</p>

<h3>耆附湯</h3>
<p>用黃耆蜜炙附子炮等分每劑四錢生薑水煎服治氣虛陽弱汗不止肢體倦怠等症</p>

<h3>當歸補血湯</h3>
<p>用黃耆蜜炙（一兩）當歸酒製（三錢）用水煎服治血氣損傷或妄服峻劑致氣血益虛肌熱大渴引飲目赤面紅脈洪大而虛重按全無此病多得於飢飽勞役者</p>

<h3>當歸黃耆湯</h3>
<p>用當歸（二兩）黃耆（二兩）芍藥（一兩半炒）每服（五錢）生薑（三片）水煎服治產後失血過多腰疼身熱自汗</p>

<h3>黃耆湯</h3>
<p>用綿黃耆陳皮去白（各一兩半）上為細末每服三錢用大麻仁（一合）爛研以水投取漿一盞濾去滓於銀石器內煎候有乳起即入白蜜一大匙再煎令沸調藥末空心服治高年老人大便秘澀甚者兩服愈</p>

<h3>神效黃耆湯</h3>
<p>用黃耆（三兩）甘草炙白芍藥（各一兩）人參（八錢）蔓荊子（一錢）橘紅（五分）每用五錢水煎臨臥服治渾身麻木不仁或左右身麻木或頭面手臂腿腳麻木不仁者並皆服之如兩目緊急縮小及羞明畏日或癮澀難開或視物無力睛痛手不得近或日中如火等症</p>

<h3>三黃補血湯</h3>
<p>用熟地黃（二錢）生地黃（三錢）當歸（一錢）柴胡（二錢半）升麻（一錢）白芍藥（半兩）牡丹皮（一錢）川芎（二錢）黃耆（一錢）每服五錢水二大盞煎至一盞去滓稍熱服補之大過以防血溢上竭兩寸脈芤兩頭則有中間全無而虛曰芤血在上焦或衄或嘔血用犀角地黃湯則愈治六脈俱大按之空虛必面赤善驚上熱乃手少陰心之脈也此氣盛多而亡血以甘寒鎮墜之劑大瀉其氣以墜氣浮以甘辛溫微苦酸補其血</p>

<h3>當歸六黃湯</h3>
<p>用當歸黃柏生地黃熟地黃黃芩黃連以上各一錢半黃耆（二錢）上作一服水二鍾煎至一鍾臨臥服治盜汗之聖藥也</p>

<h1>卷之四</h1>

<h2>越鞠丸</h2>
<p>一名芎術丸治六郁胸膈痞滿或吞酸嘔吐飲食不化薛立齋方加山楂麥芽</p>
<p>蒼朮（米泔浸炒）　撫芎　山梔（炒黑）　香附（醋炒）　神麯（炒香）</p>
<p>上各等分為末滴水丸綠豆大每服六七十丸白沸湯下春加防風夏加苦參秋冬加吳茱萸乃經所謂升降浮沉則順之寒熱溫涼則逆之</p>
<p>按丹溪曰氣血沖和萬病不生一有拂鬱諸病生焉故人身諸病多生於郁蒼朮撫芎總解諸郁隨證加入諸藥凡郁皆在中焦以蒼朮撫芎開提其氣以升之假如食在氣上只提其氣則食自降矣又云蒼朮山梔大能除郁因食冷物鬱火於脾胃中脾胃屬土伏火地中此病多因血虛而得又有胃虛過食冷物郁陽氣於脾胃中者</p>

<h3>食鬱越曲丸</h3>
<p>即越鞠丸加山楂砂仁治食噎膈</p>

<h3>茭山五郁湯</h3>
<p>即越鞠丸去蒼朮加青皮甘草能解諸郁</p>

<h3>痰火越鞠丸</h3>
<p>即越鞠丸加海石南星栝蔞青黛治痰因火動令人𩞄雜</p>

<h3>火鬱越鞠丸</h3>
<p>即越鞠丸加青黛治七情拂鬱吞酸小便赤脈來沉數者</p>

<h3>六郁湯</h3>
<p>即越鞠丸合二陳湯加砂仁治諸郁○血鬱加桃仁紅花牡丹皮○氣鬱加烏藥木香○痰鬱加南星枳殼小皂莢○濕鬱加白朮倍蒼朮○熱鬱加黃連倍山梔○食鬱加山楂麥芽青皮倍神麯</p>

<h3>氣鬱湯</h3>
<p>即越鞠丸無神麯合二陳湯加貝母蘇葉木香檳榔生薑煎服治因求謀不遂或橫逆之求或貧窘所迫或暴怒所傷或悲哀所致或思念太過皆為氣鬱其狀胸滿脅痛脈沉而澀者也</p>

<h3>濕鬱湯</h3>
<p>即越鞠丸無神麯山梔合二陳湯白朮厚朴羌獨活治因雨露所襲或嵐氣所侵或坐臥濕地或汗出衣衫皆為濕鬱其狀身重而痛倦怠嗜臥遇陰寒則發脈沉而細緩者是也</p>

<h3>血鬱湯</h3>
<p>用香附便制二錢牡丹皮赤曲通草山楂麥芽蘇木穿山甲降香（各一錢）紅花（七分）水酒各半煎去滓入桃仁泥七分韭汗半盞和勻溫服治七情鬱結盛怒叫呼或起居失宜或挫閃致瘀飢飽勞役皆能致血鬱其脈沉澀而芤胸脅常如針刺者是也</p>

<h3>熱鬱湯</h3>
<p>即涼膈散去硝黃加麥門冬鬱金栝蔞穰治非陰虛非陽陷亦不發熱而常自蒸蒸不解者或問何不用蒼朮香附撫芎曰火就燥燥藥皆能助火故不用也</p>

<h2>枳朮湯</h2>
<p>治心下堅大如盤邊如旋盤水飲所作</p>
<p>枳實（七枚苦寒）　白朮（二兩甘溫）</p>
<p>上二味以水五升煮取三升分溫三服腹中耎即當散也潔古枳朮丸用枳實麩炒四兩白朮土炒八兩為細末荷葉煨飯入湯杵膏去滓為丸如綠豆大每服五六十丸清米飲下或用荷葉陳米煎湯發丸更妙治胸膈痞滿宿食不消能強胃</p>

<h3>半夏枳朮丸</h3>
<p>即枳朮丸加半夏（四兩）薑製治食冷傷脾胃胃中有痰</p>

<h3>橘皮枳朮丸</h3>
<p>即枳朮丸加橘皮（四兩）治老幼元氣虛弱飲食不消或臟腑不調心下痞悶</p>

<h3>橘半枳朮丸</h3>
<p>即枳朮丸加橘皮半夏（各四兩）寬中健脾</p>

<h3>木香枳朮丸</h3>
<p>即枳朮丸加木香（二兩）破痰順氣消化宿滯開胃進食</p>

<h3>香砂枳朮丸</h3>
<p>即枳朮丸加砂仁香附（各二兩）治脾胃虛弱飲食減少胸膈痞悶</p>

<h3>鞠柏枳朮丸</h3>
<p>即枳朮丸加神麯麥柏（炒各四兩）治飲食過多不能克化以致心腹脹悶不快</p>

<h3>加味枳朮丸</h3>
<p>即鞠柏枳朮丸加半夏山楂（各四兩）薑黃陳皮（各二兩）木香（一兩）治痞消食化痰止嗽寬中利膈助胃和脾一方無半夏名枳實丸治積塊一方無橘皮半夏木香有砂仁</p>

<h3>橘連枳朮丸</h3>
<p>即枳朮丸加橘皮黃連（各四兩）治傷肉味痞滿</p>

<h3>三黃枳朮丸</h3>
<p>即枳朮丸加黃芩黃柏黃連清痰　利胸膈一方加陳皮神麯去黃柏加大黃治傷肉食麵食辛辣味厚之物填塞胸中致滿悶不快</p>

<h3>芩連枳朮丸</h3>
<p>即枳朮丸加黃芩黃連（各二兩）清心化痰</p>

<h3>平補枳朮丸</h3>
<p>即枳朮丸加陳皮黃連（各二兩）白芍藥（三兩）人參木香（各一兩）減白朮（三兩）枳實（三兩）平補氣血去痰通氣</p>

<h3>木香乾姜枳朮丸</h3>
<p>即枳朮丸加木香乾姜（各二兩）破除寒食滯氣</p>

<h3>木香人參枳朮丸</h3>
<p>即枳朮丸加木香乾姜人參陳皮開胃進食</p>

<h3>枳實導滯丸</h3>
<p>即枳朮丸加大黃黃連黃芩神麯茯苓澤瀉治傷濕熱之物不得消化而作痞滿</p>

<h3>枳實消痞丸</h3>
<p>即枳朮丸加四君子湯黃連半夏厚朴乾薑麥芽治心下虛痞惡食懶倦右關脈弦者</p>

<h3>除濕益氣丸</h3>
<p>即枳朮丸加神麯卜子炒黃芩紅花治傷濕面心腹滿肢體沉重</p>

<h3>白朮丸</h3>
<p>即枳朮丸加橘半神麯黃芩白礬治傷豆粉濕面油膩</p>

<h3>香蔻和中丸</h3>
<p>即橘半枳朮丸加木香白豆蔻（各二兩）治痰食氣逆如胃脘痛加草豆蔻（四兩）若氣升加沉香（二兩）</p>

<h3>消飲丸</h3>
<p>用白朮（八錢）枳實麩炒半兩茯苓去皮乾姜泡各（三兩）上為細末煉蜜和丸如梧子大每服五十丸溫米飲下治療酒澼停飲痰水不消滿逆嘔吐目暗耳聾脅下急痛腹中水聲</p>

<h3>術香和中丸</h3>
<p>用白朮（一兩二錢）枳實麩炒（二錢半）半夏制陳皮去白（各一兩）厚朴（制一兩）檳榔（四錢半）木香不見火（三錢半）甘草（炙三錢半）上為末薑汁浸蒸餅和丸如梧桐子大每服六七十丸食前白湯送下治病久虛弱懨懨不能食而臟腑或秘或溏此胃氣虛弱人常服則和中理氣消痰去濕厚腸胃進飲食</p>

<h3>茯苓丸</h3>
<p>即只術丸合六君子湯加葛根乾薑肉桂每味各一兩如法炮製為細末煉蜜和丸如梧桐子大每服三十丸溫米飲空心下治妊娠阻病心中煩憒頭目眩重憎聞食氣嘔逆吐悶顛倒不安四肢困弱不自勝持常服此藥消痰水冷能食強力養胎當先服半夏茯苓湯次進此藥</p>
<p>複方</p>

<h3>枳朮二陳湯</h3>
<p>即枳朮湯合二陳湯治脾胃痰飲胸膈不利</p>

<h2>香連丸</h2>
<p>出兵部手集治赤白諸痢裡急後重腹痛等症其效如神</p>
<p>宣黃連（苦寒）　廣木香（辛溫）</p>
<p>上二味等分搗篩白蜜丸如梧子大每服二三十丸空腹飲下日再服久冷者以煨蒜搗和丸之不拘大人嬰儒皆效易簡方黃連用吳茱萸炒過（四兩）木香麵煨（一兩）粟米飲丸○錢仲陽香連丸加煨熟柯子肉治小兒冷熱痢加煨熟肉豆蔻又治小兒瀉痢加白附子尖又治小兒氣虛瀉痢腹痛○劉河間治久痢加龍骨○朱丹溪治禁口痢加石蓮肉○王氏治痢而渴者加烏梅肉以阿膠化和為丸○濟生方秘傳香連丸用黃連（四兩）木香（二兩）生薑（四兩）以姜鋪砂鍋底次鋪連上鋪香新汲水三碗煮焙研醋調蒼朮糊為丸如常服五次○韓飛霞四制黃連丸用黃連（一斤）分作四分一分用酒浸炒一分用薑汁炒一分用吳茱萸湯浸炒（一分）用益智仁同炒去益智研末加白芍藥酒煮切焙（四兩）使君子仁焙四兩廣木香（二兩）為末蒸餅和丸綠豆大每服三十丸米飲食前下日三服治五疳六痢忌豬肉冷水愚按痢疾古名滯下此濕熱之證也蓋黃連性寒而燥寒能清熱燥能去濕故治痢以之為君佐以木香之辛溫以疏通鬱滯使君臣相佐陰陽相濟最得制方之妙所以有成功而無偏勝之害也然治痢當分初中未三治初宜用香連加檳榔大黃等分為丸以順利之中宜竟用香連或連用茱炒若久而不止方用訶子肉蔻龍骨等藥止澀庶不失先後之序</p>

<h3>大香連丸</h3>
<p>用黃連去蘆毛（二十兩）吳茱萸去枝梗（十兩）同炒令赤色去茱萸不用木香不見火四兩八錢八分為細末醋和為丸如梧子大每服二十丸飯飲吞下空心食前日進二三服治男婦腸胃虛弱冷熱不調泄瀉煩渴水穀不化腹脹腸鳴胸膈痞悶脅肋脹滿或下痢膿血裡急後重夜起頻並不思飲食或小便不利肢體怠惰漸即瘦弱○薛立齋將黃連茱萸二味用熟水拌勻入瓷器內置熱湯中頓一日同炒紫黃色去茱用連為末每末四兩入木香末（一兩）淡醋未飲為丸</p>

<h3>戊己丸</h3>
<p>用黃連去須吳茱萸去梗炒白芍藥各等分為細末蒸餅糊為丸如梧桐子大每服二十丸濃煎米飲空心下日三服治脾胃受濕泄利不止臍腹刺痛米穀不化亦治小兒疳氣下痢</p>

<h3>變通丸</h3>
<p>用川黃連去毛吳茱萸湯泡過各二兩同炒香揀出各為末以粟米飯和丸如桐子大各收每服三十丸赤痢用黃連丸甘草湯下白痢用茱萸丸薑湯下赤白痢各用十五丸米湯下此乃浙西河山純老方救人甚效</p>

<h3>左金丸</h3>
<p>用黃連（六兩）茱萸（一兩）同炒為末神麯和為丸如梧子大每服三四十丸白湯下○薛立齋用白朮陳皮湯下治肝火脅肋刺痛或發寒熱或頭目作痛泄瀉淋秘一切肝又之症皆效</p>

<h3>黃連阿膠丸</h3>
<p>用黃連（三兩）茯苓（二兩）為末阿膠（一兩）炒末水化搜和丸如梧子大每服二十丸食前米飲下治脹胃氣虛冷熱不調下痢赤白狀如魚腦裡急後重腹痛口燥煩渴便閉</p>

<h3>駐車丸</h3>
<p>用黃連（三十兩）乾薑（炮十兩）當歸去蘆（十五兩）為細末另用阿膠（十五兩）炒珠為末以醋煮成膏和前末為丸每服三十丸食前水飲下治下痢腹痛無問新舊冷熱膿血日夜無度者</p>
<p>乾薑黃芩黃連人參湯　用黃連黃芩乾薑人參治傷寒本自寒下醫復吐下之若食入口即吐者</p>

<h3>小駐車丸</h3>
<p>用當歸去蘆（二兩）訶子炮去核（一兩）乾薑炮黃連去須（各三兩）為末用阿膠（一兩三分）水煎汁和丸如粟米大每服二十丸飯飲下治小兒冷熱不調乳哺失節泄瀉不止下痢鮮血赤多白少腹痛後重腸胃虛滑便數頻並減食困倦</p>

<h3>太平丸</h3>
<p>用天門冬麥門冬並去心知母貝母款冬花杏仁去皮尖（各二兩）當歸生地黃黃連熟地黃阿膠蛤粉炒（各一兩半）蒲黃京墨桔梗薄荷（各一兩）麝香少許另研上為細末煉蜜為丸如彈子大每服一丸臨睡細嚼薄荷湯送下治癆證久嗽肺癰並宜噙服決定除根</p>

<h2>二神丸</h2>
<p>治脾胃虛弱侵晨五更作瀉或全思食或食而不化</p>
<p>破故紙（四兩炒）　肉豆蔻（二兩生用）</p>
<p>上二味為末用大紅棗（四十九枚）生薑（四兩）切碎水煮熟去姜取棗肉和藥為丸桐子大每服五十丸空心鹽湯下</p>
<p>愚按許叔微學士本事方雲孫真人言補腎不若補脾予曰補脾不若補腎腎氣虛弱則陽氣衰劣不能熏蒸脾胃脾胃氣寒令人胸膈痞塞不進飲食遲於運化或腹脅虛脹或嘔吐痰涎或腸鳴泄瀉譬如釜中無火物終不熟飲食何能消化二神丸治脾胃虛寒泄瀉用破故紙補腎肉豆蔻補脾二藥雖兼補但無斡旋子往往常加木香以順其氣使倉廩空虛則受物矣屢用俱效不可不知</p>

<h3>三神丸</h3>
<p>即二神丸加木香（二兩）治見前</p>

<h3>四神丸</h3>
<p>即二神丸加五味子（二兩）吳茱萸（一兩）為細末生薑（八兩）紅棗（一百枚）煮熟取棗肉和末丸桐子大每服五七十丸空心或食前白湯下治脾胃虛弱大便不實飲食不思或瀉痢腹痛等證一方用二神丸加木香茴香炒（各一兩）一方用神麯麥芽（各一兩）俱名四神治脾泄腎泄</p>

<h3>青娥丸</h3>
<p>用破故紙酒浸炒（一斤）杜仲去皮薑汁浸炒（一斤）胡桃肉去皮（二十個）為末以蒜搗膏（一兩）和丸桐子大每空心溫酒下二十丸婦人淡醋湯下治腎氣虛弱風冷乘之或血氣相搏腰痛如折俯仰不利或因勞役傷腎或濕痹傷腰或墜墮敗傷或風寒客搏或氣滯不散皆令腰痛或腰間如物重墜起坐艱辛者悉能治之常服壯筋骨活血脈烏髭鬚益顏色</p>

<h3>補骨脂丸</h3>
<p>用破故紙（十兩）揀淨去皮洗過曝搗篩令細胡桃瓤（二十兩）湯浸去皮細研如泥更以好蜜和令如飴糖瓷器盛之旦日以暖酒二合調藥一匙服之便以飯壓不飲酒入以暖熟水調之禁蕓薹羊肉治陽氣衰絕眾疾俱作久服延年益氣悅心明目補添筋骨此唐相國所傳訶陵國舶主李摩訶方也按破故紙辛溫屬火收斂神明能使心包之火與命門之火相通故元陽堅固骨髓克實澀以治脫也胡桃甘溫屬木潤燥養血血屬陰惡燥故油物以潤之佐破故紙有木火相生之妙故語云破故紙無胡桃猶水母之無蝦也</p>

<h3>補骨脂丸</h3>
<p>用補骨脂（四兩炒香）菟絲子（四兩）酒蒸胡桃肉（一兩去皮）乳香沒藥沉香（各研二錢半）煉蜜丸如梧子大每服二三十丸空心鹽湯溫酒任下自夏至起至冬至止日一服治下元虛敗腳手沉重夜多盜汗縱欲所致此藥壯筋骨益元氣其方乃唐宣宗時張壽太尉知廣州得之番人者</p>

<h3>養血返精丸</h3>
<p>用破故紙（炒二兩）白茯苓（一兩）為末沒藥（五錢）以無灰酒浸（高一）指煮化和末丸如梧子大每服三十丸白湯下𥭕有人服此至老不衰蓋故紙補腎茯苓補心沒藥養血三者既壯自然身安</p>

<h3>金鎖正元丹</h3>
<p>用破故紙酒浸炒（十兩）肉蓯蓉洗淨焙乾紫巴戟去心葫蘆巴炒（各一斤）五倍子茯苓（各八兩）龍骨硃砂（各三兩）為末酒糊丸梧子大每服二十丸空心食前溫酒或鹽湯下治元臟虛寒飲食減少恍惚多忘氣促喘乏夜多異夢心鬆盜汗小便滑數遺精白濁等症</p>

<h3>青木香丸</h3>
<p>用破故紙炒香蓽澄茄（各四十兩）木香（二十兩）檳榔酸粟米飯裹濕紙包火中煨令紙焦去飯另用黑牽牛（二百四十兩）炒香別搗取末一百二十兩令勻漸入清水和令得所丸如綠豆大每服二十丸茶湯熱水任下食後服每酒食後可服五丸或七丸小兒一歲服一丸懷妊婦人不得服之能寬中利膈行滯氣消飲食治胸膈噎塞腹脅脹痛心中煩悶痞塞腫滿腸中水聲嘔噦痰逆不思飲食並宜服之</p>

<h3>五味子丸</h3>
<p>用破故紙炒人參五味子白朮（各二兩）山藥炒白茯苓（各一兩半）吳茱萸川巴戟去心肉果麵裹煨（各一兩）龍骨煅（五錢）上為末酒糊丸如梧子大每服七十丸空心鹽湯下治下元虛寒火不生土及腎中之土不足以致關門不閉名曰腎泄亦名脾腎泄</p>

<h2>縮泉丸</h2>
<p>治小便頻數此脬氣不足也</p>
<p>留州益智子（鹽炒去鹽）　天台烏藥</p>
<p>上二味等分為末酒煮山藥粉糊為丸如桐子大每服七十丸空心鹽湯下</p>

<h3>萆薢分清飲</h3>
<p>用前方加萆薢石菖蒲等分每服四錢水一盞入鹽一捻煎七分食前溫服治白濁頻數淤面如油澄下如膏乃真元不足下焦虛寒按楊子建云凡人小便頻數不計度數便時莖內痛不可忍者此疾必先大腑秘熱不通水液只就小腸大腑愈加干竭甚則渾身熱心思　水如此即重證也一方加茯苓甘草</p>

<h3>烏沉湯</h3>
<p>用天台烏藥（一百兩）沉香（五十兩）人參（三兩）甘草（爁四兩）為末每服半錢姜鹽湯空心點服治一切氣一切冷補五臟調中壯陽暖腰膝去邪氣冷風麻痹膀胱腎間冷氣攻衝背膂俯仰不利風水毒腫吐瀉轉筋症癖刺痛中惡心腹痛鬼氣疰忤天行瘴疫婦人血氣痛一方用香附子（二兩）烏藥（一兩）甘草（一分）為末薑湯服名小烏沉湯</p>

<h3>香烏散</h3>
<p>用香附烏藥等分為末每服一二錢飲食不進薑棗湯下瘧疾乾薑白鹽湯下腹中有蟲檳榔湯下頭風虛腫茶湯下婦人冷氣米飲下產後血攻心脾痛童便下婦人血海痛男子疝氣茴香湯下</p>

<h3>四磨湯</h3>
<p>用人參烏藥檳榔沉香各磨濃汁七分合煎細細嚥之治七情鬱結上氣喘急</p>

<h3>五磨飲</h3>
<p>即四磨湯去人參加枳實木香治氣厥暴死</p>

<h3>六磨湯</h3>
<p>即四磨湯加木香枳殼一方無人參有大黃亦各六磨湯治氣滯腹急大便秘澀</p>

<h3>七香丸</h3>
<p>用益智仁（炒六十兩）甘松（炒八十兩）香附（炒去毛）丁香皮甘草（炒各百二十兩）蓬莪朮煨乘熱縮砂仁（各二十兩）為末水浸蒸餅為丸如綠豆大每服二十丸溫酒薑湯熟水任下或氣脹滿磨烏藥水煎湯下或酒食過度頭眩噁心胸膈滿悶先嚼二十丸後吞二十丸生薑紫蘇湯下此藥性溫平不動臟腑能溫中快膈化積和氣治中酒吐酒嘔逆咽酸氣膈食噎飲食不下冷涎翻胃腹脹脾疼遠年茶酒食積眼臉俱黃赤白痢疾脾毒泄瀉婦人脾血氣小兒疳氣並宜服之元戎有木香</p>

<h3>集香丸</h3>
<p>用烏藥益智仁白豆蔻砂仁藿香丁香白檀沉香人參茯苓陳皮甘草一法噎食加柿霜一法加廣朮一法加香附子一法加乾薑隨證定奪分兩為末點服海藏云損其氣者以此藥接之</p>

<h3>五香散</h3>
<p>用木香丁香乳香藿香沉香（各等分）上渣後末每服三錢水一盞半煎至八分去渣食後溫服能升降諸氣宣利三焦疏導壅滯發散邪熱治陰陽之氣鬱結不消諸熱蘊毒腫痛結核或似癰癤而非使人頭痛惡心寒熱氣惡</p>

<h3>七香丸</h3>
<p>即五香散加檀香零陵香各等分人參檳榔減半為末蜜丸梧子大細嚼米飲下治脈伏不見心腹痛欲絕者</p>

<h3>勻氣散</h3>
<p>即五香散去沉乳加檀香甘草白蔻砂仁等分為末白湯調服治氣滯不勻胸膈虛痞宿冷不消心腹刺痛除脹滿噎塞止嘔吐噁心常服調順脾胃進美飲食</p>

<h3>五膈寬中散</h3>
<p>用香附子炒去毛厚朴去皮薑汁炒熟（各十六兩）甘草（五兩）砂仁丁香青皮陳皮（各四兩）木香（三兩）白豆蔻（去皮二兩）為末每服二錢入生薑（二片）鹽少許汁陽點服治因憂恚寒熱動氣傷神致陰陽不腑臟生病結於胸膈之間遂成五膈之病一曰憂膈胸中氣結津液不通飲食不下羸瘦短氣二曰恚膈心下實滿噫輒醋心飲食不消大小便不通三曰氣膈胸脅逆滿噎塞不通噫聞食臭四曰寒膈心腹脹滿咳嗽氣逆腹上苦冷雷追繞臍痛不能食肥五曰熱膈五心中熱口中爛生瘡四肢煩重唇口乾燥身體或熱腰痛背疼胸痹引皆不能多食及一切氣疾並皆治之明醫雜著名木香寬中丸薛立齋云脾胃虧損之症不可多服當與六君子湯兼服之</p>

<h3>蘇合香丸</h3>
<p>用白朮青木香烏犀屑香附子炒去毛硃砂研水飛訶黎勒煨取皮白檀香沉香麝香研丁香蓽茇（各二兩）龍腦研薰陸香別研各一兩上為細末另用安息香（二兩）別末無灰酒一升熬膏以蘇合香油一兩入安息膏內煉蜜和劑每兩分作十丸用蠟殼封裹每服一丸沸湯或溫酒化下治卒中昏不知人及霍亂吐瀉心腹撮痛鬼疰客忤癲癇驚悸或癲撲傷損氣暈欲絕凡是倉卒之患悉皆療之</p>

<h3>安息香丸</h3>
<p>用肉桂（去粗皮二兩半）訶子（炮取皮二兩）阿魏細研白麵少許搜和作餅子炙令香熟一分茯苓白底當歸湯洗切片焙乾乾薑炮去皮肉豆蔻去殼川芎丁香皮縮砂仁五味子微炒巴戟去心麵炒益智仁去皮白豆蔻去皮（各一兩半）硇砂酒半盞化去石入蜜中檳榔炮蓽澄茄芍藥莪朮三稜炮安息香酒半盞化去沙入蜜香附去毛茴香微炒各半兩胡椒高良薑木香沉香乳香微研丁香各一兩上件藥除安息香硇砂外並一處搗羅為細末用蜜（三十兩）入安息硇砂於蜜中煉熟劑上件藥杵一二千下丸如雞頭子大每服一丸細嚼溫酒下濃煎生薑湯下亦得食前服治一切冷氣心腹疼痛胸膈噎塞脅肋膨脹心下堅痞腹中虛鳴噦逆噁心噫氣吞酸胃中冷逆嘔吐不止宿飲不消胸膈刺痛時吐清水可思飲食</p>

<h3>丁沉煎丸</h3>
<p>用丁香（十二兩）沉香（二兩）木香（一錢半）丁皮（一兩）白豆蔻（九兩半）上為細末用甘草熬膏為丸每服一丸含化空心食前服治心胸痞悶噫醋吞酸嘔逆痰水津液不收兩脅刺痛腹中堅滿口舌無味可思飲食</p>

<h2>蒼朮散</h2>
<p>治風寒濕熱令足膝痛或赤腫骨間作熱痛及腰膝臀髀大骨疼痛痿躄腳氣等症</p>
<p>蒼朮（用米泔浸一日夜鹽炒）　黃柏（去粗皮酒浸日夜炙焦各五錢）</p>
<p>上二味作一服用水二鍾煎至一鍾食前服日進二三服一名二妙散東垣云黃柏蒼朮乃治痿要藥加牛膝名三妙散</p>

<h3>交加丸</h3>
<p>用蒼朮（刮淨一斤）分作四分一分米泔浸炒一分鹽水浸炒一分川椒炒一分破故紙炒黃柏皮（刮淨一斤）分作四分一分酒炒一分童尿浸炒一分小茴香炒一分生用揀去各藥只取術柏為末煉蜜丸梧子大每服六十丸空心鹽湯下能生水降火消除百病</p>

<h3>坎離丸</h3>
<p>用蒼朮（刮淨一斤）分作四分一分川椒（一兩炒一分）破故紙（一兩炒一分）五味子（一兩炒一分）川芎藭（一兩炒）口取術研末川柏皮（四斤）分作四分（一斤）酥炙（一斤）人乳汁炙（一斤）童尿（炙一斤）米泔炙各十二次研末和勻煉蜜丸梧子大每服二十丸早用酒午用茶晚用白湯下能滋陰降火開胃進食強筋骨去濕熱</p>

<h3>交感丹</h3>
<p>用蒼朮（刮淨一斤）分作四分用酒醋米泔鹽湯各浸七日曬研川椒紅小茴香（各四兩炒）研陳米糊丸如梧子大每服四十丸空心溫酒下治補虛損固精氣烏鬚髮此鐵甕城申先生方也久服令人有子</p>

<h3>不老丹</h3>
<p>用蒼朮刮淨末酒浸軟切片四斤一斤酒浸焙一斤醋浸焙一斤鹽（四兩）炒一斤椒（四兩炒）赤何首烏（各二斤）泔浸竹刀刮切以黑豆紅棗（各五斤）同蒸至豆爛曝乾地骨皮（去骨一斤）各取淨末以桑椹汁和成劑鋪盆內汁高三指日曬夜露取日月精華待乾以石臼搗末煉蜜和丸梧子大每空心酒服一百丸能補脾益腎服之七十亦無白髮</p>

<h3>曲術丸</h3>
<p>用神麯炒蒼朮米泔浸一夜焙等分為末糊丸梧子大每服三五十丸米飲下能壯脾溫胃飲食所傷三味曲術丸　用神麯炒三兩蒼朮泔浸三宿洗淨日乾炒一兩半陳皮一兩上為末生薑汁煮神麯糊丸薑湯送下治中脘宿食流飲酸蜇心痛口吐清水等症</p>

<h3>草還丹</h3>
<p>用蒼朮四兩酒浸一兩米泔浸一兩醋浸一兩鹽水浸一兩並炒葫蘆巴酒浸破故紙（一兩）酒浸一宿覆盆子（二錢）茴香（一兩）鹽炒川烏（一兩）鹽炒川楝子（一兩）木香不見火一錢山藥穿山甲酥炙地龍去土淨茯苓枸杞子牛膝酒浸各三錢上為細末酒糊丸如梧子大每服五十丸空心溫酒或鹽湯下乾物壓之治益精髓補腎經固元陽輕腰腳安五臟通丸竅令人耳目聰明延年益壽乃仙家之良劑</p>

<h3>蒼朮地榆湯</h3>
<p>用蒼朮（三兩）地榆（一兩）每劑用水二盞煎一盞溫服治腹中脹濕下血痢</p>

<h2>平胃散</h2>
<p>治脾胃不和不思飲食心腹脅肋脹滿刺痛口苦無味胸滿短氣嘔噦噁心噫氣吞酸面色痿黃肌肉瘦弱怠惰嗜臥體重節痛常多自利或發霍亂及五噎八痞膈氣翻胃等症</p>
<p>蒼朮（去皮米泔浸八兩）　厚朴（去皮薑汁炒三兩四錢）　陳皮（去白三兩四錢）　甘草（炙三兩）</p>
<p>上為細末每服二錢以水一盞入生薑（二片）棗肉（一枚）煎至七分去薑棗熱服空心食前入鹽一捻沸湯點服亦可常服調氣暖胃化宿食消痰飲避風寒冷濕四時不正之氣</p>
<p>東垣加減法</p>
<p>如小便赤澀加白茯苓澤瀉○如米穀不化飲食傷多加枳實○胃中氣不快心下痞氣加枳殼木香○脾胃困弱不思飲食加人參黃耆○心下痞悶腹脹者加厚朴甘草減半○遇夏加炒黃芩○遇雨水濕潤時加茯苓澤瀉○如有痰涎加半夏陳皮○凡加時除蒼朮厚朴依例加之如一服五錢有痰用半夏（一兩）○咳嗽飲食減少脈弦細加歸身黃耆○脈洪大緩加黃芩黃連○大便硬加大黃（三錢）芒硝（二錢）先嚼麩炒桃仁爛以藥送下</p>
<p>海藏加減法</p>
<p>若溫疫時氣二毒傷寒頭痛壯熱加連須蔥白（五寸）豆豉（三十粒）煎二三沸取微汗出愈○若五勞七傷腳手心熱煩躁不安百節痠疼加柴胡○若痰嗽瘧痢加薑製半夏○若小腸氣痛加茴香○若水氣腫滿加桑白皮○若婦人赤白帶下加黃耆○若酒傷加丁香○若飲冷傷加高良薑○若滑脫泄瀉加肉豆蔻○若風痰四肢沉困加荊芥○若腿膝冷痛加牛膝○若渾身虛腫拘急加地骨皮○若腿膝濕痹加菟絲子○若白痢加吳茱萸○赤痢加黃連○若頭風加藁本○若轉筋霍亂加樟木皮○若七邪六極耳鳴夢泄盜汗四肢沉重腿膝痿弱婦人宮藏久冷月事不調者加桂枝○若胃寒嘔吐多加生薑一法茯苓丁香（各三兩）○若氣不舒快中腕痞塞加砂仁香附（三兩）○若小腸氣痛者加苦楝蘹香</p>

<h3>調氣平胃散</h3>
<p>即平胃散加烏藥砂仁白豆蔻木香檀香藿香治中惡</p>

<h3>草果平胃散</h3>
<p>即平胃散加草果治寒熱瘧疾愈後調理</p>

<h3>貫眾平胃散</h3>
<p>即平胃散加貫眾為末治女人陰蝕癢痛用豬肝煮熟拌藥末（二錢）納入戶內即愈</p>

<h3>藿香平胃散</h3>
<p>即平胃散加藿香砂仁神麯治內傷飲食嘔吐不已</p>

<h3>參苓平胃散</h3>
<p>即平胃散加人參茯苓一法用棗肉為丸小豆大薑湯下五十丸常服調氣暖胃</p>

<h3>生料平胃散</h3>
<p>即平胃散加神麯麥芽治宿食不化吞酸呃臭</p>

<h3>香砂平胃散</h3>
<p>即平胃散加香附砂仁治病後胃虛少食</p>

<h3>萬安散</h3>
<p>即平胃散加常山檳榔治一切瘧疾初起氣壯者</p>

<h3>柴胡調胃散</h3>
<p>即平胃散加柴胡一方加藿香治瘧疾</p>

<h3>茯苓調胃散</h3>
<p>即平胃散加茯苓丁香白朮一方加藿香半夏治痹濕</p>

<h3>不換金正氣散</h3>
<p>即平胃散加半夏藿香治山嵐瘴氣諸般瘧疾及四時傷寒頭目肢節疼痛腹脹嘔吐痰嗽痢疾等症</p>

<h3>普賢正氣散</h3>
<p>即前方合四君子加草果治虛人外感風寒內傷生冷憎寒壯熱不堪攻發者服之厚覆取汗謹避外風自然解散一方去蒼朮白朮加枳殼砂仁名避瘴飲子遇瘴厲時行服此則不傳染</p>

<h3>太無神朮散</h3>
<p>即平胃散加藿香菖蒲一方以香附易藿香治症同前及四時瘟疫夫嵐氣乃山谷瘴霧濕土敗阜之氣也由鼻而入流於百節故壯熱而一身盡痛用平胃散以平其敦阜之氣加辛香之品以匡正避邪也</p>

<h3>人參養胃湯</h3>
<p>即不換金正氣散加人參茯苓草果治虛瘧加桂治感寒發瘧寒多加乾薑附子熱多加苓連柴胡</p>

<h3>和解散</h3>
<p>即平胃散加藁本桔梗治四時傷寒寒熱頭痛吐利煩躁自汗咳嗽及瘴病初作胸腹滿悶</p>

<h3>檳榔煎</h3>
<p>即平胃散加檳榔草果煨姜治山嵐瘴氣</p>

<h3>消風百解散</h3>
<p>即平胃散去厚朴加荊芥麻黃白芷治傷風咳嗽頭痛鼻塞聲重者</p>

<h3>厚朴湯</h3>
<p>即平胃散加乾薑</p>

<h3>吳茱萸湯</h3>
<p>即生料平胃散冬月加吳茱萸川椒乾薑桂治飲食進退</p>

<h3>藿香正氣散</h3>
<p>即不換金正氣散去蒼朮換白朮加白芷桔梗紫蘇大腹皮茯苓薑棗煎服如欲汗去棗加蔥白三莖熱服溫覆取汗吳綬曰此乃宋人所制非正傷寒之藥也若病在太陽經頭疼發熱骨節痛者與此方全無相干如妄用之先虛正氣逆其經絡雖汗出不解變成壞證多矣凡傷寒發熱脈沉與元氣素虛並夾陰傷寒發熱者切宜戒之吳山甫曰風寒客於皮毛腠理則宜解表若四時不正之氣由鼻而入不在表而在裡故不用大汗而以芬香利氣之品以避不正之氣佐以白朮茯苓甘平之品以培養中氣也用者宜慎之</p>

<h3>順氣木香散</h3>
<p>即藿香正氣散加木香玄胡索治心腹痛嘔惡</p>

<h3>二香湯</h3>
<p>即藿香正氣散加香藿扁豆葛根治暑月熱病兼有內傷生冷飲食停滯嘔吐噁心中脘痞悶或憎寒惡風手足拘急者</p>

<h3>棗肉平胃散</h3>
<p>即平胃散加生薑紅棗（各二兩）上伴銼碎拌勻以水浸過面上半寸許煮令水乾取出焙燥碾為細末每服二錢用鹽湯點空心食前服治脾胃不和不思飲食心腹脅肋脹滿刺痛口苦無味胸滿短氣嘔噦噁心噫氣吞酸面色萎黃肌體瘦弱怠隋嗜臥體重節痛常多自利或發霍亂及五噎入痞膈氣反胃並宜服之</p>
<p>複方</p>

<h3>白朮附子湯</h3>
<p>即平胃散合四苓散去甘草加半夏桂附治勞倦所傷量虛實加減</p>

<h3>對金飲子</h3>
<p>一名胃苓湯即平胃散合五苓散治傷暑泄瀉煩渴小水不利霍亂吐瀉及產後遍身浮腫</p>

<h3>黃白散</h3>
<p>即平胃合六一散治泄瀉煩渴及傷暑小便不利</p>

<h3>柴平散</h3>
<p>即平胃合小柴胡湯治濕瘧手足沉重寒多熱少一身盡痛者</p>

<h3>除濕湯</h3>
<p>即平胃合二陳湯加白朮藿香治風濕所傷身體重著腰腳痠疼大便溏泄小便或澀或利</p>

<h3>藿薷湯</h3>
<p>即藿香正氣散合黃連香薷飲治暑</p>

<h3>術香交加散</h3>
<p>即藿香正氣散合六和湯治痢</p>

<h2>烏梅丸</h2>
<p>治傷寒靜而時煩者為臟寒蛔上入其膈故煩得食而嘔吐蛔者</p>
<p>烏梅（三百枚）　細辛（六兩）　乾薑（十兩）　當歸（四兩）　黃連（一斤）　附子（六兩炮去皮）　蜀椒（四兩去汗）　桂枝（六兩去皮）　人參（六兩）　黃柏（六兩）</p>
<p>上十味異搗篩合治之以苦酒浸烏梅一宿去核蒸之五升米下飯熟搗成泥和藥令相得內臼中與蜜杵二千下丸如梧桐子大先食飲服十丸日二服稍加至二十丸禁生冷滑物臭食等按成無己云肺主氣肺欲收急食酸以收之烏梅之酸以收肺氣脾欲緩急食甘以緩之人參之甘以緩脾氣寒淫於內以辛潤之以苦堅之當歸桂椒細辛之辛以潤內寒寒淫所勝平以辛熱姜附之辛熱以勝寒蛔得甘則動得苦則安黃連黃柏之苦以安蛔</p>

<h3>烏梅散</h3>
<p>用烏梅肉黃連當歸附子炮熟艾（各七錢半）阿膠炒肉豆蔻赤石脂（各一兩）甘草（半兩）上為細末不拘時粥飲調下（二錢）治霍亂嘔吐</p>

<h2>薏苡附子散</h2>
<p>治胸痹緩急者</p>
<p>薏苡仁（十五兩）　大附子（十枚炮）</p>
<p>上二味杵為散服方寸匕日三服</p>

<h3>薏苡附子敗醬散</h3>
<p>用薏苡仁（十分）附子（二分）敗醬（五分）杵為末取方寸匕以水二升煎減半頓服治腸癰之為病其身甲錯腹皮急按之濡如腫狀腹無積聚身無熱脈數此為腸內有癰膿服之小便當下</p>

<h3>葦莖湯</h3>
<p>用葦莖（二升）薏苡仁（半升）桃仁（五十枚）瓜瓣（半升）以水一斗先煮葦莖湯五升去滓內諸藥煮取二升服一升治咳有微熱煩滿胸中甲錯是為肺癰再服當吐如膿</p>

<h3>秘方換腿丸</h3>
<p>用薏苡仁附子炮去皮臍石楠葉天南星洗薑製炒川牛膝酒浸焙肉桂去粗皮當歸去蘆天麻去苗羌活防風去叉石斛去根萆薢微炙黃耆蜜炙續斷（各一兩）蒼朮（米泔浸一兩半）檳榔（半兩）乾木瓜（四兩）上為細末麵糊為丸如梧桐子大每服三十丸至五十丸空心溫酒或木瓜湯吞下日進三服治腎經虛弱下注腰膝或當風取涼冷氣所乘沉重少力移步遲緩肋脈攣痛不能屈伸腳心隱痛有妨履地大治乾溼腳氣赤腫痛楚發作無時呻呤難忍氣滿喘促舉動艱難面色黧黑傳送秘濕並皆治之</p>

<h2>天雄散</h2>
<p>治虛勞男子失精女子夢交等證</p>
<p>天雄（三兩炮）　白朮（八兩）　桂枝（六兩）　龍骨（三兩）</p>
<p>上四味杵為散酒服半錢匕日三服不知稍增之</p>

<h3>玉霜丸</h3>
<p>用天雄（十兩）長大者以酒浸七日掘一地坑以半秤炭火燒坑通赤速去炭火令淨以醋（二升）發於地坑內候乾承熱便投天雄在內以盆合土擁之經宿取出去皮臍白龍骨（一斤）黏舌者細研如粉以水飛過三度日中曬乾用黑豆一斗蒸一伏時以夾絹袋盛日曬乾磁石醋淬七次硃砂飛研澤瀉洗酒浸一宿炙牛膝去苗酒浸焙乾石斛去根炙蓯蓉去皮酒浸一宿炙乾巴戟穿心者各二兩茴香炒肉桂去粗皮（各一兩）家韭子微炒菟絲子酒浸一伏時蒸過日乾杵羅為末去輕浮者各五兩牡蠣火煅紫梢花（各三兩）鹿茸酒浸半兩上一十六味搗羅為細末煉酒蜜各半和丸如梧子大每服三十丸空心晚食前溫酒下治真氣虛憊下焦傷竭臍腹弦急腰腳軟痛精神困倦面色枯槁或亡血盜汗遺瀝失精大便自利小便滑數肌肉消瘦陽事不舉久服續骨聯筋秘精堅髓延年保命卻老還童安魂定魄換肌秘氣輕身壯陽益壽住世</p>

<h2>文蛤散</h2>
<p>治傷寒病在陽應以汗解反以冷水噀之其熱被劫彌更肉上粟起意欲飲水者</p>
<p>文蛤（五兩）</p>
<p>上一味為散以沸湯和一方寸匕取</p>

<h3>文蛤湯</h3>
<p>用文蛤石膏（各五兩）麻黃甘草生薑（各三兩）杏仁（五十個）大棗（十二枚）以水六升煮取二升溫服一升治吐後渴欲得水而貪飲者兼主微風脈緊頭痛汗出即愈</p>

<h3>太乙紫金丹</h3>
<p>用文蛤（捶破淨研三兩）山慈菇（去皮淨二兩）千金子（去殼研去油取霜一兩）紅牙大戟（去蘆洗淨焙乾一兩半）麝香（三錢）另研上除千金子麝香外三味為細末卻入研藥令勻用糯米煮濃飲為丸分為四十粒每服一丸研生薑薄荷汁井華水研服干薄荷濃煎湯冷磨服亦佳通利水兩行無妨只用溫白粥止住合時宜用端午七夕重陽日合或遇天德月德日亦佳合時要在淨室焚香至誠修制毋令婦人雞犬見效驗不可具述宜珍藏之喻良能云裴丞相傳此以為濟世衛生之寶兒人居家或出入不可無此藥如毒最多若遊宦嶺表才覺意思不快治一切毒如被狐貍毒鼠莽毒惡菌河魨毒食疫死牛馬肉毒或犬惡蟲所傷又治癰疽發背及療魚臍瘡人多不識喚作癰疽致命殺人者反治諸風癮疹赤腫瘤等</p>

<h2>柏葉湯</h2>
<p>治吐血不止者</p>
<p>柏葉　乾薑（各三兩）　艾（三把）</p>
<p>上三味以水五升取馬通汁一升合熬取一升分溫再服</p>

<h3>四生丸</h3>
<p>即柏葉湯去乾薑加懷生地小荷葉等分丸如雞子大一團水煎服治吐血愚加小薊茅根名六生丸治血更捷</p>

<h3>蒲黃散</h3>
<p>即柏葉湯加蒲黃（三合）乾地黃桑耳甘草芒硝茯苓人參阿膠（各二兩）禹餘糧黃連（各一兩）赤石脂（一兩二錢半）上㕮咀以水一斗煮取四升分作五服治血痢</p>

<h3>木香散</h3>
<p>即柏葉湯去艾加木香甘草炙黃芩（各半兩）當歸炒白朮干熟地黃（各七錢半，黃連炒五錢）上銼散，每服三錢，水一盞，煎至五分去滓不拘時服治冷熱痢虛損腹痛不能飲食日漸乏力</p>

<h3>斷下湯</h3>
<p>用乾薑（炒五分）艾葉醋炒人參去蘆熟地黃（各一錢）海螵蛸燒灰當歸洗各二錢川芎（七分）阿膠蛤粉炒成珠七分半上作一服用水二鍾煎至八分食前服治婦人衝任氣虛崩中漏下經脈不調每遇月候將來臍腹腰腳先痛漸減飲食四肢乏力及帶下三十六疾悉能療之</p>

<h2>茅根湯</h2>
<p>療溫病有熱飲水暴冷啘者</p>
<p>茅根　葛根（各半升）</p>
<p>上以水四升煮取二升稍溫飲之啘止則停茅根橘皮湯用白茅根（一升）陳皮（三兩）桂心（三兩）葛根（二兩）以水六升煮取三升每服三合數連服之盡後合啘止而停耳微有熱減桂二兩忌生蔥療春夏天行傷寒溫病於胃冷變呃</p>

<h3>枇杷飲</h3>
<p>用枇杷葉去毛茅根（各半升）以水四升煮取二升稍稍飲之呃止則停療瘟病有熱飲水暴冷而呃</p>

<h3>茅根湯</h3>
<p>用白茅根（八兩）瞿麥白茯苓（各四兩）葵子人參（各二兩）蒲黃桃膠滑石甘草（各一兩）紫貝（十個燒）石首魚枕石煅上銼為散每服四錢水一盞半姜（三片）燈心（二十莖）煎至七分去滓溫服亦可為末木通煎湯調下治產後諸淋</p>

<h3>通草湯</h3>
<p>用茅根通草葵子王不留行蒲黃炒桃膠瞿麥滑石（各一錢半）甘草（炙一錢）上作一服水二鍾煎至一鐘不拘時服治諸淋</p>

<h3>如聖散</h3>
<p>用白茅根馬藺花麥門冬去心車前子甜葶藶苦葶藶炒檀香連翹各等分上為細末每服四錢水煎熱服如渴加黃芩同煎入燒鹽少許服治沙淋小腹脹滿</p>

<h2>酸棗仁湯</h2>
<p>治虛勞虛煩不得眠者</p>
<p>酸棗仁（二升）　甘草（一兩）　知母（二兩）　茯芩（二兩）　芎藭（二兩）（深師）有生薑（三兩）</p>
<p>上五味以水八升煮酸棗仁得六升內諸藥煮取三升分溫三服</p>

<h3>茯神湯</h3>
<p>用酸棗仁炒遠志去心各一錢二分茯神去皮木一錢半石菖蒲人參白茯苓（各一錢）黃連生地黃（各八分）當歸（一錢）酒洗甘草（四分）水二鍾連子七枚捶碎煎八分食前服治欲心大熾思想太過夢泄不禁夜臥不寧心悸</p>

<h3>龍齒補心湯</h3>
<p>用酸棗仁炒白茯苓去皮龍齒另研煅人參去蘆熟地黃洗焙當歸酒浸焙乾桔梗去蘆茯神去皮木肉桂去皮麥門冬去心綿黃耆蜜炙遠志水浸去心薑製炒枳殼麩炒半夏曲白朮（各一錢）甘草（炙半錢）上作一服水二鍾生薑（三片）粳米（一撮）煎一鍾服無時治諸虛不足虛熱潮來心神驚惕睡臥不寧小便油濁</p>

<h3>大茴香丸</h3>
<p>用酸棗仁炒大茴香破故紙炒白朮白茯苓左顧牡蠣碢鍋內慢火煆爆為度益智仁人參各等分為細末用青鹽酒糊丸如梧子大每服二十丸食前用溫酒或米飲下治小便白濁出髓條</p>

<h2>旋覆代赭湯</h2>
<p>治傷寒發汗吐下後心下痞噫氣不除者</p>
<p>旋覆花（三兩）　人參（二兩）　生薑（五兩）　代赭石（一兩）　甘草（三兩）　半夏（半升）　大棗（十枚）</p>
<p>上七味以水一斗煮取六升去滓再煎取三升溫服一升日三</p>

<h3>旋覆花湯</h3>
<p>用旋覆花（三兩）蔥（十四根）新絳少許以水三升煮取一升頓服之治婦人半產漏下</p>

<h3>五飲湯</h3>
<p>用旋覆花去梗人參去蘆半夏湯泡甘草炙枳實麩炒茯苓去皮白朮厚朴薑製豬苓澤瀉前胡桂心芍藥陳皮去白以上各一錢上作一服用水二鍾生薑十片煎至一鐘不拘時服或因酒多加乾葛砂仁治一留飲心下二澼飲脅下三痰飲胃中四溢飲膈上五流飲腸間凡此五飲酒後飲冷過多故有此疾</p>

<h3>芎菊散</h3>
<p>用旋覆花草決明蟬蛻洗以上各一錢芎藭甘菊花（各一兩）白殭蠶炒細辛去葉防風去皮羌活（以上各三分）天麻密蒙花荊芥穗甘草（炙以上各半兩）上為細末每服二錢水一鍾煎七分食後溫服湯點亦可治諸陽受風頭目旋運目視昏暗肝氣不清</p>

<h2>礬石丸</h2>
<p>治婦人經水閉不利藏堅癖不止中有乾血下白物者</p>
<p>礬石（三分燒）　杏仁（一分）</p>
<p>上二味末之煉蜜丸棗核大內藏中劇者再內之</p>

<h3>硝石礬石散</h3>
<p>用硝石礬石燒等分為散以大麥粥汁和服方寸匕日三服治女勞疸膀胱急少腹滿身盡黃額上黑足下熱因作黑疸服之病隨大小便去小便正黃大便正黑是候也腹滿者難治千金用滑石石膏治症同不知孰是</p>

<h3>礬石湯</h3>
<p>用礬石（二兩）上下班一味以漿水一斗五升煎三五沸浸腳良治腳氣衝心</p>

<h3>玉龍丸</h3>
<p>用礬石硝石滑石硫黃（各一兩）用無根水滴為丸治一切暑毒伏暑腹脹疼痛神效</p>

<h3>大黃龍丸</h3>
<p>用礬石雄黃滑石（各半兩）硝石舶上硫黃（各一兩）白麵（四兩）上五味研末入面和勻滴水丸如梧子大每服三十丸新井水下管見云有中暍昏厥灌之立蘇治中暑身熱頭疼狀如脾寒或煩渴嘔吐昏悶不食</p>

<h3>玉液丸</h3>
<p>用礬石枯碾細半夏湯洗為細末各十兩寒水石煆令赤出火毒水飛過二十兩上研和勻用麵糊和丸如梧桐子大每服三十丸食後生薑湯送下治風壅化痰涎利咽膈清目止咳嗽除煩熱</p>

<h2>白頭翁湯</h2>
<p>治傷寒熱利下重者</p>
<p>白頭翁（二兩）　黃連　黃柏　秦皮（各三兩）</p>
<p>上四味以水七升煮取二升去滓溫服一升</p>

<h3>白頭翁加甘草阿膠湯</h3>
<p>即白頭翁湯加甘草阿膠（各三兩）治產後下利虛極者</p>
