<header data-type="book">
<h1>鬼遺方</h1>
</header>

<h1>卷一</h1>

<h2>序論</h2>
<p>昔劉涓子晉末于丹陽效外照射忽見一物高二丈許射而中之如雷電聲若風雨其夜不敢前追詰旦率門從子弟數人尋蹤至山下見一小兒提罐問何往為我主被劉涓子所射取水洗瘡而問小兒曰主人是誰人云黃父鬼仍將小兒相隨遠來至門聞搗藥之聲比及遙見三人一人開書一人搗藥一人臥爾乃齊唱叫空三人並走遺一卷癰疽方並藥一臼時從宋武背徵有被瘡者以藥塗之即愈論者云聖人所作天必　助之此天授武王也於是用方為治千無一失□適余從叔祖涓子寄□書具敘此事並方一卷方是丹陽白薄紙木寫今手跡尚豐從家世能為治方我而不傳其孫道慶與余臨居情款異常臨終見語家有神方兒子幼稚苟非其人道不虛行尋卷診候兼辨藥性欲以相傳屬余即好方術受而不辭自得此方於今五載所治皆愈可謂天下神驗劉氏昔寄龔方故草寫多無次第今輒定其前後族類相從為此一部流布鄉曲有識之士幸以自防齊永元元年太歲己卯五月五日撰道慶曰王祖母劉氏有此鬼方一部道慶祖考相承謹按處治萬無一失舅祖涓子兄弟自寫寫稱云無紙而用丹陽錄永和十九年資財不薄豈復無紙是以此別之耳（案永和祗十二年　且去宋武甚遠疑元嘉之訛）</p>
<p>黃交曰夫言癰疽何以別之岐伯答曰榮稽留於經脈之中久則血澀不行血澀不行則衛氣從之不通壅從之不通壅遏不得行火不止熱勝則肉腐為膿然不能陷膚於骨髓不為焦枯五藏不為傷故曰黃父何為疽岐伯曰熱氣浮盛當其筋骨良肉無餘故曰疽上皮肉以堅上如牛領之皮癰者薄以澤背其候也黃父曰及如所說未知癰疽之性名發起處所診候形狀治與不治死活之期願一一聞之岐伯曰癰疽圖曰</p>
<p>赤疽發額不寫十餘日死其五日可㓨也其膿赤多血死未有膿可治人年二十五三十一六十九十五者在額不可見血見血者死</p>
<p>禽疽發如軫者數十數其四日腫合牽核痛其狀若攣十日可H㓨其肉發身核寒齒如噤欲痓如是者十五日死</p>
<p>抒疽發頂若兩耳下不寫十六日死六日可㓨其色黑見膿而癰者死不可治人年十九二十三三十五三十九五十一五十五六十一八十七九十九百神在耳下不可見血見血者死</p>
<p>丁疽發兩肩比起有所逐惡結血流內外榮衛不通發為丁疽三日身腫痛甚口噤如痓狀十一日可㓨女不治二十日死</p>
<p>蜂疽發髀背起心腧若連肩骨二十日不治死八日可㓨其色赤黑膿見青者死不可治人年一十八二十四三十五六十七七十二九十八者百神在肩不可見血　見血者死</p>
<p>陰疽發髀若陰股始發腰強內不能自止數飲不能多五日堅痛不治三歲死㓨疽發起肺腧不寫二十日死其八日可㓨發麵赤其上肉如椒子者死不可治人年十九二十五二十九三十九五十七六十七三八十九十七百　神在背不可見血見血者死</p>
<p>脈疽發頸項如痛身隨而熱不欲動悄或不能食此有所大畏恐駭而不精上氣嗽共發引耳不可以腫二十日可㓨不㓨八十日死</p>
<p>龍疽發背起胃愈若腎愈二十日不寫死九日可㓨不㓨其上赤下黑若青膿黑死發血膿者不死</p>
<p>首疽發熱八十日一方云八九日大熱汗頭引血盡如嗽身熱同同如沸者皮頗腫淺㓨之不㓨二十日死</p>
<p>榮疽發脅起若兩肘頭二十五日不寫死九日不寫死九日可㓨膿多赤白而可治也人年一歲十六二十六三十二四十八六十四八十九十六百神在脅不可見血見血者死</p>
<p>行疽發如腫或後合相從往來不可要其所在㓨之即愈</p>
<p>勇疽發股起太陰若伏鼠二十五日不寫死其十日可㓨勇疽發膿青黑者白者尚可治不可治人年十一十五二十三十一三下三四十六五十九六十三七十五九十一百神皆在尻尾不可見血見血者死　</p>
<p>摽叔疽發背熱同同耳聾後六十日腫如聚水其狀若如此者可㓨之但出水後及有血出即除愈也不可治人年五十七六十五七十三八十一九十七者百神在背不可見血見血者死</p>
<p>□疽發足趺若足下三十日不寫死其十二日可㓨□疽者白膿不太多其瘡上癢赤黑者死不柯治人年十三二十九三十五六十一七十三九十三百神在足不可見血見血者死</p>
<p>沖疽發小腸痛而振寒熱四日五日悄悄六日而變之五十日死</p>
<p>敦疽發兩指頭若五指頭七八日不寫死其四日可㓨其發而黑擁者不堪未過節可治（一方不呼為敦疽恐是刺寫明堂引為敗疽）</p>
<p>疥疽發腋下若兩臂兩掌中振寒熱而嗌乾者飲多嘔心煩悄悄六十日而　漸合者如此可有汗如無汗者死（一方云床疽明堂亦引為頭疫）</p>
<p>筋疽皆發脊兩邊大筋甚色蒼八日可㓨若有膿在肌腹中十日死</p>
<p>陳干疽發兩臂三四日痛不可動五十日身熱面赤六十日可㓨如刺無血三四日病愈</p>
<p>搔疽發手足五指頭起節其色不　變十日之內可㓨過時不刺後為蝕有癰在脈腋三歲死</p>
<p>步疽發身腫牽核而身熱不可以行不可以屈申成膿㓨之以除</p>
<p>白疽發脾若肘後癢自痛傷乃身熱多汗五六處有者死心主癰疽在股脛六日死發膿血六十日死</p>
<p>黑疽發腫居背大骨上八日可㓨過時不㓨為骨疽</p>
<p>骨疽膿出不可止壯熱碎骨六十日死脅少陽有癰腫在頸八日死發膿血者十日死倉疽發身癢後痛此故傷寒氣入藏為篤發為倉疽九日可㓨之不㓨九十日死　</p>
<p>腰太陽脈有腫交脈屬於陽明在頸十日死發腫七十日死</p>
<p>尻太陽脈有膿腫癰在足心少陽八日死發膿血六十日死或八十日死</p>
<p>頭陽明脈有腫癰在尻六日死發膿血六十日死</p>
<p>股太陰有腫癰在足太陽十七日死發膿血百日死</p>
<p>肩太陽有腫癰在頸八日死發膿血百日死</p>
<p>足少陽脈有腫癰在脅八日死發膿血六百日死</p>
<p>手陽明脈有腫癰在腋淵一歲死發膿三歲死</p>
<p>黑疽發腋淵死</p>
<p>黑疽發耳中如米大此疽不治死</p>
<p>黑疽發肩死黑疽發缺盆中名曰伏疽不治死</p>
<p>赤疽發於脾半夜可治出歲死</p>
<p>黑疽發肘上下不死可治</p>
<p>髀解除指本黑頭赤死</p>
<p>黑疽發掌中不死可治</p>
<p>赤疽發陰股軟可治堅死</p>
<p>赤疽發肥腸死</p>
<p>黑疽發脿臏軟可治堅不可治</p>
<p>赤疽發掌中不可治</p>
<p>黑疽發趺上堅死</p>
<p>足下發久腫癰色赤死</p>
<p>癰高而光者不大熱用薄壅其肉平平無異而紫色者不須治但以　黃耆並淡竹葉湯申其氣耳癰平而痛用八物耆薄大癰七日小癰五日其自有堅強色診寧生破發背及乳岩熱手近不得者令人之熱熟先服王不留行散外散外摩發背大黃　膏若背生破無毒在乳者熟之候手按之若隨手起便是熟針法要膿看以意消之胸背不可過一寸針良久不得膿即以食肉膏散差甕頭肉癰口中人體熱氣歇服木瓜散五日後癰欲差者排膿內寒散凡破癰之後病人便連綿欲死內寒熱腫自有似癰而非者當以手按腫上無所連是風毒耳勿針可愛莫能助了升麻湯外摩膏破癰口當合流下三分近一分針唯令極熱便不痛破癰後敗壞不差者作豬蹄湯洗之日再下湯二日故可用冬六七日湯半　劑可用胸中斷氣斷氣者當人入暗中以手按左眼視見光者胸中結癰若不見光者瘭疽內髮針傷脈血不出住實不寫留成癰腎脈來者大漸小陰結若肌肉痹癰為發寸口如此來大如未漸小矣</p>
<p>有黑色者是石留黃毒有赤色者是丹砂毒有青色者是□砂毒有似鹽顆者是鍾孔乳毒有黃水者是杏桃仁毒有白水者是附子乾薑毒有膿者熱肉面等毒□砂發白雄鴨頂上血一合已來取黑鉛湯一茶碗調服之解鍾乳發雄雞肘上血一合將鐵粉湯一茶碗調服之解附子發取附子皮三升豉半升相和以水一升煎約一茶碗服之解丹砂發取黑鉛黃耆防風伏龍肝各半兩水一升煎半茶碗去滓服之解</p>
<p>白告</p>
<p>周氏集驗方正集續</p>
<p>集收採古方不少且</p>
<p>多經驗者正集中與</p>
<p>易簡方合刻易間方</p>
<p>尤為便於家庭之檢</p>
<p>查未購者速購之</p>

<h1>卷二</h1>
<p>治金瘡止血散方</p>
<p>鳥章根（三兩）　白芷（一兩）　鹿茸（二分燒灰）　當歸（一兩）　芎藭（一兩）　乾地黃（一兩切蒸）　焙續斷（一兩）　</p>
<p>上七味搗篩令調著血出處即止</p>
<p>治金瘡血肉瘻蝙蝠消血散方</p>
<p>蝙蝠（三枚）　燒令煙盡沫下絹篩之</p>
<p>上以水服方寸匕一日服令盡當下如水血消也</p>
<p>治金瘡肉瘻蒲黃散方</p>
<p>七月七日麻勃（一兩）　蒲黃（二兩）</p>
<p>上二物搗篩為散溫酒調服一錢匕日五服夜再兩服</p>
<p>治金瘡箭肉中不出出箭白斂散方</p>
<p>白斂（二兩）　半夏（三兩）　湯洗七遍生薑浸一宿熬過</p>
<p>上二味為末調水服方寸匕日三服若輕淺瘡十日出深二十日出終不停住肉中</p>
<p>治金瘡中腹腸出不能內之小麥飲噴瘡方</p>
<p>取小麥五升水九升煮取四升去滓復以綿度濾之使極冷傍含噴之瘡腸自上漸漸入以冷水噴其背不中多人見亦欲令傍人語又不可病人知或晚未入取病人席四角令病人舉搖須臾腸便自入十日之內不可飽食頻食而宜少勿使病人驚驚則煞人</p>
<p>治金瘡腸出入磁石散方</p>
<p>磁石（三兩）　滑石（三兩）</p>
<p>上二物下篩理令調日飲方寸匕日五服夜再服</p>
<p>治金瘡煩悶止煩白芷散方</p>
<p>白芷（三兩）　芎藭（二兩）　甘草（二兩）</p>
<p>上三味熬令變色搗為散水調服方寸匕日五服夜可再服</p>
<p>治金瘡先有散石煩悶欲死大小便不通止煩消血解散消石散方</p>
<p>消石　澤瀉　白斂　芍藥　寒水　石栝蔞　已上各一兩</p>
<p>上六味搗篩為散水方寸匕日夜各一服或未通稍增之</p>
<p>治金瘡痛不可忍煩疼不得住止痛當歸散方　</p>
<p>當歸　甘草　炙蒿　本桂心　木占斯　以上各一兩</p>
<p>上五味合搗篩令調水服半方寸匕日三服夜一服</p>
<p>治金瘡弓弩所中悶絕無所主只琥珀散方</p>
<p>琥珀隨多少搗篩以童子小便服之乃熱不過二服</p>
<p>治金瘡弓駑所中筋急屈伸不得敗弩散方</p>
<p>乾地黃　干棗（三枚）　杜仲（二分）　當歸（四分）　附子（四分）　炮故　敗弩筋（燒灰取五分）</p>
<p>上七味合搗篩理令勻溫酒服方寸匕日三服夜一增一至三</p>
<p>治金瘡內傷蛇銜散方</p>
<p>蛇銜　甘草炙　芎藭　白芷　當歸　（各一兩　）　續斷　黃芩　澤蘭　乾薑　桂心　鳥頭　（　五分炮）</p>
<p>上十一味右搗篩理令勻酒服方寸匕日三服夜一服</p>
<p>治金瘡中筋骨續斷散方</p>
<p>芎藭（一兩半）　地黃（二兩）　蛇銜（二兩）　當歸（一兩）　半蓯蓉（一兩半）　乾薑（三分炮　）　續斷（三兩）　附子（三分炮）　漢淑（三分出汗）　木桂心（三分）　人參（一兩）　甘草（一兩）炙）　細辛（二分）　白芷（二分一本用）　芍藥（一兩半）　</p>
<p>上十四味搗篩理令勻調溫酒服之方寸匕日三服夜一服</p>
<p>治金瘡煩疼麻黃散方</p>
<p>麻黃（六分去節）　甘草（五分）　炙乾姜（三分）　附子（三分炮）　當歸（三分）　白芷（三分）　續斷（三分）　黃芩（三分）　芍藥（三分）　桂心（三分）　芎藭（三分）</p>
<p>上十一味搗篩理令勻調溫酒服方寸匕日三服夜一服</p>
<p>治金瘡煩滿疼痛不得眠睡白薇散方　</p>
<p>白薇　栝蔞　枳實（炒）　辛夷（去毛）　甘草（炙）　石膏（已上各一兩）　厚朴（三分炙）　酸棗（一分炙）　</p>
<p>上八味為末調溫酒服方寸匕日三服夜一服</p>
<p>治金瘡去血多虛竭內補當歸散方</p>
<p>當歸（三分）　芍藥（五分）　乾薑（三分）　辛夷（去毛。兩分）　甘草（三分炙）上五味搗篩理令勻調溫酒服方寸匕日三服夜一服治金瘡去血多虛竭內補蓯蓉散方蓯蓉　當歸　甘草（炙）　芎藭　黃芩　桂心　人參　芍藥　乾薑　吳茱萸　白及　厚朴（炙）　黃耆　（各一兩）　蜀椒（三分。出汗去目閉口）</p>
<p>上十四味篩理令勻調溫酒服方寸匕日三服夜一服</p>
<p>治金瘡內塞澤蘭散方</p>
<p>澤蘭　防風　蜀椒（去目汗閉口）　石膏　附子　乾薑　細辛　辛夷（去毛）　（各二兩）　芎藭（三分）　當歸（三分。炒）　甘草（四分。炙）</p>
<p>右十一味篩理令勻調溫酒服方　寸匕日三夜一膿多倍甘草渴加栝蔞二分煩加黃芩二分腹滿氣短加厚朴二分瘡中血瘀加辛夷一倍</p>
<p>治金瘡內塞黃耆散方　</p>
<p>黃耆（三兩）　芎藭　白芷　當歸　麻黃（去節）　鹿茸　黃芩　細辛　乾薑　芍藥　續斷　桑蟲屎　（以上各一兩）　附子（半兩。炮）　山茱萸（一兩）</p>
<p>上十四味搗篩理勻調溫酒服方寸匕日三服夜一服漸可至二日</p>
<p>治金瘡中□藥解毒藍子散方</p>
<p>藍子（五合）　升麻（八兩）　甘草（四兩。炙）　王不留行（四兩）</p>
<p>上四味搗篩理令勻調冷水服二方寸匕日三夜二及以方寸匕水和勻塗瘡上毒即解去矣</p>
<p>治金瘡大渴內補矍麥散方</p>
<p>矍麥　芎藭　當歸　甘草（炙）　乾薑　桂心　續斷　厚朴（炙）　白斂　蜀椒（去目閉口汗）　辛夷（去毛）　牡蠣（末）　芍藥　桔梗　乾地黃　防風　（各三分）　細辛（二分）　括簍（一分）　人參（三分）</p>
<p>上十九味搗篩理令勻調溫酒服方匕日三夜一或筋骨斷更加續斷三分</p>
<p>治被打腹中瘀血蒲黃散方</p>
<p>蒲黃（一升）　當歸（二兩）　桂心（二兩）</p>
<p>上三味搗篩理勻調酒服之方寸匕日三夜一不飲酒熟水下</p>
<p>治癰疽金瘡續斷生肌膏方</p>
<p>續斷　乾地黃　細辛　當歸　芎藭　黃耆　通草　芍藥　白芷　牛膝　附子（炮）　人參　甘草（炙）　（各二兩）　臘月豬脂（四升）</p>
<p>上　十四味㕮咀諸藥內膏漬半日微火煎三上候白芷色黃膏即成傳瘡上日四正膏中是豬脂煎</p>
<p>治金瘡癰疽止痛生肌甘菊膏方</p>
<p>□草　芎藭　甘草（炙）　防風　黃芩　大戟　（以上各一兩）　生地黃　芍藥（一兩半）　細辛　大黃　蜀椒（去目閉口汗）　杜仲　黃耆　白芷（各一兩）</p>
<p>上十四味㕮咀以臘月豬脂四升微火煎五上下白芷候黃成膏一方添甘菊二兩以傳瘡上日易兩次</p>
<p>治癰疽金瘡生肌膏方</p>
<p>大黃　芎藭　芍藥　黃耆　獨活　當歸　白芷　（以上各一兩）　韭白（二兩）別方（一兩）　生地黃（一兩）　別方（二兩）</p>
<p>上九味合韭㕮咀以豬脂三升煎三上下白芷黃膏成絞去滓用磨之多少隨其意</p>
<p>治金瘡腹內有瘀血烏雞湯方</p>
<p>烏雌雞（一隻）　大黃（三兩）　細辛（三兩）　人參（一兩）　甘草（一兩。炙）　地黃（三兩）　杏仁（一兩。去皮）　雙人盲蟲（一兩）　當歸（二兩）　芍藥（一兩）　黃芩（一兩）　桃仁（二兩。去皮碎）　大棗（二十枚）</p>
<p>上十三味理烏雞如食法以水二斗煮雞取一㕮咀諸藥內雞汁中更煮取三升絞去滓通寒溫傷出困甚者初服五合以一日二夕盡湯便應下食之粥慎食他物</p>
<p>治金瘡內有瘀血未及得出而反成膿烏雞湯方</p>
<p>烏雞（一隻）　白芷　麥門冬（去心）　甘草（炙）　芍藥　當歸（以上各一兩）　桂心（二兩）　瓜練（二兩）</p>
<p>上八味先理雞如食法以水二斗煮取七升㕮咀諸藥內汁中更煮取三升去滓服七合日三夜勿食</p>
<p>治金瘡有瘀血桃核湯方</p>
<p>蟅蟲（三十枚。熬）　虻蟲　水蛭　（各三十枚，熬）　桂心（三分）　大黃（五兩）　桃核（五十枚。去皮切）</p>
<p>右六味酒水各五升㕮咀合煮取三升去滓服一升日三服　</p>
<p>治金瘡驚悸心中滿滿如車所驚怛燉心湯方</p>
<p>燉心（一具）　人參　桂心　甘草（炙）　乾地黃　桔梗　石膏末　芎藭　當歸（二兩）</p>
<p>上九味細切銼諸藥㕮咀先以水二斗煮心取汁八升內諸藥煮取一升一取八合一日令盡</p>
<p>治金瘡癰疽生肉膏</p>
<p>黃耆　細辛　生地黃　蜀椒（去目汗閉口）　當歸　芍藥　韭白　芎藭　獨活　蓯蓉　白芷　丹參　黃芩　以上各一兩　臘月豬脂（二斤半）</p>
<p>上十五味㕮咀以苦酒一升漬諸藥夏一夜冬二夜浸以微火煎三上候苦氣成膏用之</p>
<p>治被打腹中瘀血白馬蹄散方</p>
<p>白馬蹄燒令煙盡搗篩溫酒服方寸匕日三夜一亦治婦人血疾消為水</p>

<h1>卷三</h1>
<p>治年四十已還強壯常大患熱癰無定處大小便不通大黃湯方</p>
<p>大黃（三兩）　梔子（五十個）　升麻（二兩）　黃芩（三兩）　芒消（一兩）　別方（二兩）</p>
<p>上五味切以水五升煮取二升四合去滓下消絞調分溫三服快利為度</p>
<p>治發癰疽兼結實大小便不通寒熱已服五痢湯吐出不得下大渴煩悶淡竹葉湯方淡竹葉（切四升去尖）　括蔞（四兩）　通草　前胡　升麻　茯苓　知母　甘草（炙）　石膏（末）　以上各二兩　生地黃（十兩）　芍藥（一兩）　大黃　黃耆（三兩）　當歸（一兩半）　人參（一兩）　</p>
<p>上十六味先以水一斗六升煮竹葉先以水一斗六升煮竹葉去葉取九升內諸藥後煮取三升二合分四服三日三夜一快利便止不必盡湯湯盡不利便合取利</p>
<p>治發背髮乳四體有癰疽虛熱大渴生地黃湯方</p>
<p>生地黃湯（十兩）　竹葉（四升）　黃芩　黃耆　甘草（炙）　茯苓　麥冬（去心）　以上各三兩　升麻　前胡　知母　芍藥各二兩　括蔞（四兩）　大棗（二十枚。去核）　當歸（一兩半）　人參（一兩）</p>
<p>上十五味先以水一斗五升煮竹葉取一斗去葉內諸藥煮取三升六合分為四服日三夜一</p>
<p>治發背乳癰已服生地黃湯取利後服此淡竹葉湯方</p>
<p>淡竹葉（四升）　麥門冬（去心）　黃耆　生薑　以上各三兩　前胡　黃芩　升麻　遠志（去心）　括蔞　大棗（十四枚）　當歸（一兩）</p>
<p>上十三味先以一斗八升煮竹葉小麥黃耆芍藥乾地黃生薑取一斗去滓內諸藥再煮取三升分溫三分（右語煮竹葉小麥恐是麥門冬非是小麥也）</p>
<p>治癰疽虛熱生地黃湯方</p>
<p>生地黃（五兩）　人參　甘草（炙）　黃耆　芍藥　茯苓　各三兩　當歸　</p>
<p>芎藭　黃芩　通草　各二兩　大棗（二十枚）　淡竹葉（切成三升）</p>
<p>上十二味先以水二斗煮了水取一斗五升去滓復　諸藥再煮取四升八合一服八合日三夜再能頓服為佳</p>
<p>治癰疽內虛熱渴甚黃耆湯方</p>
<p>生地黃（八兩）　竹葉（切成三升）　小麥（二升）　黃耆　黃芩　前胡　括蔞（四兩）　通草　芍藥　升麻　茯苓　甘草　知母各二錢　人參　當歸各一錢</p>
<p>上十六味先以水二斗煮竹葉及小麥取一斗二升去滓復煮諸藥取四升分四服日三夜一小便利除通草茯苓加麥門冬腹滿加石膏三兩熱盛去人參當歸</p>
<p>治背生地黃湯方</p>
<p>生地黃（八兩）　人參　甘草（炙）　芍藥各二兩　通草　茯苓　黃耆各三兩　淡竹葉（切二升）　大棗（二十枚）　當歸　芎藭各一兩</p>
<p>上十二味以水三斗煮竹葉取一斗去滓內諸藥再煮四升一服八合日三夜再若能每服一升佳</p>
<p>治癰疽內虛黃耆湯方</p>
<p>黃耆　人參　甘草（炙）　芍藥　當歸　生薑各三兩　大棗（二十枚）　乾地黃　茯苓各二兩　白朮（一兩）　遠志（一兩半）</p>
<p>上十一味以水一斗三升煎取四升去滓分溫四服</p>
<p>治癰疽五味竹葉湯方</p>
<p>竹葉（切二升）　五味子　前胡　當歸　乾地黃　人參各二兩　小麥（二升）　黃耆　黃芩　麥門冬（去心）　生薑各三兩　甘草（一兩半。炙）　升麻（一兩）　大棗（十四枚　）　桂心（半兩）</p>
<p>上十五味先以水二斗煮竹葉小麥取一斗去滓內諸藥煮取三升分溫四服日三夜一</p>
<p>治癰疽發背乳大去膿後虛惙少氣欲死服此遠志湯方</p>
<p>遠志（去心）　當歸　甘草（炙）　桂心　芎藭各一兩　黃耆　人參　麥門冬（去心。三兩）　茯苓（二兩）　乾地黃（三兩）　生薑（五兩）　大棗（十四枚）　</p>
<p>上件十三味以東流水一斗煮取三升二合分溫四服日三夜一</p>
<p>治發背乳下覆住服此白石脂湯方</p>
<p>白石脂（四兩）　龍骨（三兩）　當歸　桔梗　女萎　黃連（去毛）　甘草以上各二兩　白頭翁（一肉）　乾薑（二兩）</p>
<p>上九味以水九升煮取三升二合分四服下住便止不必盡服當下未即來日止</p>
<p>治發癰疽取利熱小便退不用食物竹葉湯方</p>
<p>淡竹葉（切三升）　小麥（二升）　乾地黃　人參　黃芩　前胡　升麻各二兩　麥門冬（去心）　生薑　黃耆　芍藥各三兩　大棗（十四枚）　桂心（半兩）　遠志（半兩。去心）　當歸（一兩）　甘草（炙）</p>
<p>上十六味切以水一斗八升煮竹葉小麥取一斗去滓內諸藥又煮取三升分二服羸者分四服日三夜一</p>
<p>治癰疽取下後熱少退小便不利竹葉湯方</p>
<p>淡竹葉（切一升）　小麥（三升）　乾地黃（四兩）　黃耆　人參　甘草（炙）　芍藥　石膏　通草　升麻　黃芩　前胡各二兩　大棗（十四枚）　麥門冬（三兩。去心）</p>
<p>上十四味先以水一斗六升煮竹葉小麥取九升去滓內諸藥煮取三升二合強即分三服羸即四服日三夜一</p>
<p>治癰疽取利後熱小便不利竹葉湯方</p>
<p>竹葉（切三升）　小麥（二升）　人參　黃芩　前胡　芍藥　甘草（炙）　乾地黃　當歸　桂心　黃耆（三兩）　麥門冬（三兩。去心）　龍骨　牡蠣（一兩。末）　赤蛸□（三十枚。炒）　大棗（十四枚。去核）</p>
<p>上十六味以水二斗煮竹葉小麥取一斗去滓內諸藥煮取四升分四服日三　夜一治發背癰及乳兼味竹葉湯方　</p>
<p>淡竹葉（切三升）　小麥（三升）　黃耆　黃芩　五味子　人參　前胡　乾地黃　當歸各二兩　大棗（十四枚）　麥門冬（二兩。去心）　升麻（一兩）　桂心（半兩）　甘草（一兩。炙）　生薑（三兩）　</p>
<p>上十五味以水二斗煮竹葉小麥取一斗去滓內藥煮取三升分溫三服一日服</p>
<p>治發背已潰而下不住白石脂湯</p>
<p>白石脂（四兩）　龍骨（三兩）　當歸（二兩）　桔梗（二兩）　女萎　白頭翁各四兩　黃連（二兩）　乾薑（三兩）　</p>
<p>上八味以水九升煮取三升三合去滓服八合日三夜一</p>
<p>治發背已潰大膿汁虛惙少氣力內補黃耆湯方</p>
<p>黃耆（三兩）　乾地黃　人參　茯苓各二兩　當歸　芍藥　芎藭　桂心　遠志（去心）各一兩　甘草（一兩半）　麥門冬（去心。三兩）　生薑（五兩）　大棗（十四枚）</p>
<p>上十三味以水一斗煮取三升二合去滓分溫四服日三夜一</p>
<p>治癰疽內虛熱生地黃湯方</p>
<p>生地黃（五兩）　人參　甘草（炙）　芍藥　茯苓　芎藭　通草　黃芩　當歸各二兩大棗（二十枚）　竹葉（切三片）　</p>
<p>上十二味以水三斗煮竹葉取半去滓內諸藥煮取四升分五服日三夜二能服一升可佳</p>
<p>治發背黃耆湯方</p>
<p>黃耆　黃芩　遠志　麥門冬（去心。二兩）　乾地黃　人參　芎藭　甘草（炙）　芍藥　當歸（各一兩）　大棗（二十枚）　生薑（五兩）雞肶胵（二具。勿去皮）　桑螵蛸（十四枚。炙）</p>
<p>上十四味㕮咀以水一斗先煮取四升五合一服九合日三服夜一服</p>
<p>治炎疽枳實湯方（甘林所秘不得）</p>
<p>枳實（炙。夜干）　升麻　乾地　黃芩　前胡各三兩　犀角（一兩半）　大黃（二兩半）　麝香（半兩。一方用）　甘草（二兩）　</p>
<p>上九味㕮咀以水九升煮取分溫三服須差也</p>
<p>治腸癰大黃腸癰之為病診小腹腫痞堅按之則痛或在膀胱左右其　色或赤或白色堅大如掌熱小便欲調時色色汗出時復惡寒其脈遲堅者示成膿也可下之當有血脈數膿成不可服此也</p>
<p>大黃（四兩）　牡丹（三兩）　芥子（半升）　消石（三合）　桃仁（五十枚。去皮炒切之）</p>
<p>上五味㕮咀以水六升五合分為兩服膿下無者下血大良</p>
<p>治背上初欲作疹便服此大黃湯方</p>
<p>大黃（三兩）　梔子（一百枚。去皮）　升麻　黃芩　甘草（炙。三兩）</p>
<p>上五味以水九升煮取三升半分為三服得快下數行止不下更服</p>
<p>治婦人妒乳辛夷湯方</p>
<p>辛夷（一升。去毛）　大棗（三十枚）　桂（長一尺）　防風（二分）　白朮　甘草（一尺。炙）　生薑（一分）　澤蘭（一升切）</p>
<p>上八味切以水一斗煮取三升分溫三服</p>
<p>治婦人客熱乳結腫或作癰內補黃耆湯方</p>
<p>黃耆　茯苓各三兩　芍藥（二兩）　麥門冬（三兩。去心）　甘草（二兩。炙）　厚朴（一兩。炙）　人參（三兩）　生薑（四兩）　乾地黃（三兩）</p>
<p>上九味切以水一斗二升煮取三升分五服日三夜二</p>
<p>治癰腫患熱盛黃耆湯方</p>
<p>黃耆　麥門冬（三兩。去心）　黃芩（六分）　梔子（十四枚）　芍藥（二兩）　栝蔞（二兩）　乾地黃（一兩）　升麻（一兩）</p>
<p>上八味銼以水一斗煮取三升分溫三服</p>
<p>治癰腫潰去膿多里有虛熱內補黃耆湯方</p>
<p>黃耆　茯苓　桂心　人參　麥門冬（三兩。去心）　甘草（六分。炙）　生薑　遠志（二兩。去心）　當歸（二兩）　五味子　大棗（二十枚）</p>
<p>上十一味切以水一斗煮取四升分六服日四夜二</p>
<p>治癰去膿多虛滿上氣竹葉湯方</p>
<p>竹葉（切二升）　半夏（二兩。湯洗）　甘草（二兩。炙）　厚朴（三兩。炙）　小麥（四升）　生薑（五兩）　當歸（一兩）　麥門冬（二兩。炙）　茯苓　桂心各一兩　黃芩（三兩）</p>
<p>上十一味切以水一斗半先煮竹葉小麥取九升去滓又煮諸藥取二升分溫三服</p>
<p>治癰疽腫煩熱增損竹葉湯方</p>
<p>竹葉（一握。切）　當歸　茯苓　人參　前胡　黃芩　桂心　芍藥各二兩　甘草（三兩。炙）　大棗（二十枚）　小麥（一升）　麥門冬（一升。去心）</p>
<p>右十二味切以水一斗六升煮竹葉小麥取一斗一升去滓內諸藥煮取三升分服日三夜重加黃耆二兩胸中惡加生薑六兩下者減芍藥黃芩各六分如體強羸者以意消息之</p>
<p>治癰疽後補塞去客熱黃耆湯方</p>
<p>黃耆　生薑　石膏（末）　甘草　芍藥　升麻　人參　以上二兩　知母　茯苓各一兩　桂心（六分）　麥門冬（二兩。去心）　大棗（十四枚）　乾地黃（一兩）</p>
<p>右十三味切以水一斗二升煮取四升分溫四服日三夜一\　c卷四</p>
<p>黃父一疽論　</p>
<p>九江黃父問於歧伯曰余聞腸胃受谷上焦出氣以溫分□而養骨節通腠理中焦出氣如露注溪谷而燥經脈津液和調而變化赤為血血和則乘脈先滿乃注經絡經絡皆盈乃注於經絡（句有脫誤）陰陽已張因息乃行行有經紀周有道理與天合同不得休止切而謂之從虛去實寫則不足疾則氣留去虛補實則有餘血氣已調形神乃持余已知血氣平與不平未知癰疽之所從生成敗之時死生之期期有遠近何以度之可知聞乎</p>
<p>歧伯曰經脈流行不止與天同度與地同紀故大宿失度日月薄蝕也經始紀冰道流靈不成五穀不植經路不通民不往來庵聚邑居別離異處血氣猶然則言其故</p>
<p>夫血脈榮衛周流不休上應星宿下應經數寒客於經絡之中則血泣泣則不通不通則歸之不得復及故癰腫與寒氣化為熱熱勝則肉腐肉腐則為膿膿不寫則爛筋筋爛則傷骨骨傷則水髓消不當骨肉不寫筋枯空虛筋骨肌肉不得相親經脈敗漏薰於五臟傷故死矣</p>
<p>黃父曰願聞於癰疽之形與其期日</p>
<p>歧伯曰略說癰疽極者一十八種癰發於嗌名曰猛疽不治則化為膿膿塞其咽半日死其為者寫則已含豕膏無冷寫三日而已（一方無冷食）發於頸者名曰夭疽其狀癰大而赤黑不急則熱氣下入淵脈前傷任脈內薰肝脈十餘日死陽氣大發消腦名曰腦漯其色不樂項痛如㓨以藏頭乘心者不治（本作留字）發於肩及儒者名曰雌癰其狀赤黑急治之此令大汗出至足不害五藏</p>
<p>發於腋下赤臥者名曰米疽治之□石欲細長疏或云塗豕六膏日以勿里其疽堅而不潰者馬刀夾纓乃治之　</p>
<p>發於胸者名曰並疽其狀如大豆三四日起不早治下入腹不治十日死</p>
<p>發於臆者名曰甘疽其狀如谷實萎瓜常寒熱急治之去其寒十歲（似誤）死死後膿自出</p>
<p>發於脅者名曰改訾改訾者女子之病也久之其疾大癰膿治之其中乃有生肉大如赤小豆銼陵翹草陵根各一升水六升煮之竭為三升即強飲厚衣坐釜上令汗出至足已</p>
<p>發於發於股陽名曰股甕疽其狀不甚變而癰膿附骨不急治四十日死發於股陰名曰赤施疽不急治六日死在兩股之內不治六日死（一方云十六日死）發於尻名曰兌疽其狀赤堅大急急治之不速治三十日死</p>
<p>發於膝名曰雌疽其狀癰色不寒熱而堅勿破破之死須以手緩柔之乃破諸疽於節而相應之者不可治之也</p>
<p>發於陽者百日死</p>
<p>發於陰者四十日死</p>
<p>發於腦名曰菟契其狀疾赤至胃急治之不治煞人</p>
<p>發於踝名曰走湲其狀癰也急不變灸而止其寒熱不死</p>
<p>發於足上名曰四淫其狀如癰不急治之百日死</p>
<p>發於足名曰厲疽其狀初小指發急治之去其黑者不輒益不治百日死</p>
<p>發於足指名曰脫疽其狀赤黑不死治之不衰急漸去之治不去必死矣</p>
<p>夫癰疽者初發始微多不為急此實奇患惟宜速治之急治不若速成病難求以此致禍能不痛哉具述所懷以悟後賢謹按黃父癰疽認所著緩急之處生死之期如有別癰之形色難易之治如左僧納私撰是用非是先賢恐後高雅故記之名字令惑之耳</p>
<p>發皮□淺腫高之赤即消不治亦愈</p>
<p>發筋□深腫下之堅其色或青或黃白黑或復微熱而赤宜急治之成　消中半發附骨者或未覺肉　□肉□已殃者癰疽之甚也（肉□肉□　似誤按　□即肉字也）</p>
<p>凡發背外皮薄為癰皮堅為疽如此者多現先兆宜急治之皮堅甚大者多致禍矣</p>
<p>夫癰壞後有惡□當者以豬蹄湯洗其穢次傅飲□膏散　惡□盡乃傅生肌膏散乃摩四邊令善□速生當須絕房室慎風冷勿自勞動須筋脈復常乃可自勞耳不爾新□易傷則重發便益潰爛慎之慎之</p>
<p>相癰疽知是非可灸法</p>
<p>癰疽之甚未發之兆肥渴為始始發之始或發日疽片□似若小癤或復大痛皆是微候宜善察之欲知是非重按其處是便隱覆按四邊比方得失審定之後即灸第一便灸其上二三百壯又灸四邊一二百炷小者灸四邊中者灸六處大者灸八處壯數處所不患多也亦應即貼即薄令得所即消內服補暖湯散不已服冷藥外即冷薄不已用熱貼貼之法開其口泄熱氣</p>
<p>禁止癰知有膿可破以未</p>
<p>癰大堅者有膿半堅薄半有膿當上薄者都有膿便可破之所破之法　應在下逆上破之令膿得易出用排針膿深難見上肉厚而生肉火針若外不別有膿可當其上數按之內便隱痕者肉殃堅者未有膿也按更痛於前者內膿已熟也膿泄去熱氣不爾長速速即不良治癰疽腫松脂貼方黃蘖　芎藭　白芷　白斂　黃耆　黃芩　防風　芍藥　□草　白臘　當歸　大黃各一兩　細辛（二分）　驅脂（三兩）　松脂（二斤）</p>
<p>上十六味切曝乾極燥微火煎三上下手不得離布綿絞去滓貼之</p>
<p>治癰疽腫松脂貼方</p>
<p>當歸　黃耆　黃連　芍藥　黃芩　大黃　臘蜜　芎藭各一兩　松脂（一斤半）陳驅脂（一合半）　</p>
<p>上十味細切合煎微火三上下膏成綿絞去滓向火塗　紙上之</p>
<p>治癰疽松脂貼腫方</p>
<p>松脂（一斤）　大黃（三分）　驅脂（一兩）　細　辛（半分）　黃芩（一分半）　防風（半分）　白芷　白斂　芎藭　當歸　芍藥　□草　黃連　白蠟　黃蘖各一分</p>
<p>上一十五味細切曝令極燥先煎脂蠟下松脂烊盡內諸藥三上下候色足絞以綿布水中以新竹片上火炙之施紙上貼之此藥大秘實有奇效不妄傳之</p>
<p>治癰疽升麻薄極冷方</p>
<p>升麻（一兩）　大黃（一兩）　白斂（六分）　黃耆（一兩）　黃芩（六分）　白及（一分。乾者）　牡蠣（二分）　粉龍骨（一兩）　甘草（二分。炙）芎藭（一兩）　</p>
<p>上十味篩和以豬膽調塗布傳之癰上燥易之</p>
<p>治癰白斂薄方</p>
<p>白斂　大黃　黃芩各等分</p>
<p>上三味搗篩和雞子白塗上薄癰上一燥輒易之亦可治又以三指撮置三升水中煮三沸綿注汁拭腫上數十過以寒水石沫塗腫上紙覆燥復易一易輒以煮汗試之晝夜二十易之</p>
<p>治癰疽始一二日痛微內薄令消豬膽薄方</p>
<p>黃耆　龍骨　青木香　梔子仁　羚羊角　乾地黃　升麻　白蘞　大黃　黃蘖　黃芩　芎藭　赤小豆　麻黃（去節）　黃連　犀角（一兩）　</p>
<p>上十六味各等分搗篩以豬膽調令如泥以故布開口如小豆大以泄熱氣</p>
<p>治癰腫熱盛口燥患渴除熱止渴黃耆湯方</p>
<p>黃耆　括蔞　乾地黃　升麻各二兩　麥門冬（三兩。去心）　梔子（二十枚）　芍藥　黃芩（一兩半）</p>
<p>上八味以水一斗煮取三升分溫三服</p>
<p>治客熱鬱積在內或生癤黃耆湯方</p>
<p>黃耆（二兩）　人參（一兩）　芎藭　當歸　甘草（炙）各一兩　遠志（去心）　乾地黃各二兩　大棗（二十枚）　生薑（五兩）　麥門冬（去心。五兩）</p>
<p>上十味切以水一斗二升煮取三升分溫三服</p>
<p>治疽未潰黃耆湯方</p>
<p>黃耆（四兩）　甘草（二兩。炙）　桂心（三兩）　芍藥　半夏　生薑各八兩飴（一斤）</p>
<p>上七味以水七升煮取三升飴化分三服</p>
<p>治癰內補竹葉黃耆湯方</p>
<p>竹葉（切一升）　黃耆（四兩）　甘草（二兩）　芍藥（四兩）　黃芩（一兩）　人參（二兩）　桂心（一兩。如冷用半兩）　大棗（十二枚）　乾地　黃（二兩）　升麻（三兩）　茯苓　生薑各一兩</p>
<p>上十二味以水二斗煮竹葉澄清取九升內諸藥更煮取三升分溫　三服</p>
<p>治補度冷下赤石脂湯方</p>
<p>赤石脂　人參　甘草（炙）　乾薑各二兩　龍骨（一兩）　碎附子（大者一枚。炮）</p>
<p>上六味切以水八升煮取二升半去滓分溫三服如人行十里　進一服</p>
<p>治取冷過寒下蝕見出溫中湯方</p>
<p>甘草（六分。炙）　乾薑（六分）　附子（炮去皮破。六分）　蜀椒（二百四十粒。去口者出汗）</p>
<p>上四味切以水六升煮取二升分溫三服</p>
<p>治斷下補胃附子湯方</p>
<p>附子（二分。炮）　當歸　人參　黃連　甘草（炙）各一兩　乾薑　桂心　芍藥各二分　蜀椒（去汗目閉口。半分）</p>
<p>上九味以水五升煮取一斗五合去滓分溫二服</p>
<p>治癰瘡及惡瘡有惡肉豬蹄湯洗方</p>
<p>豬蹄（一具。治如食法）　白蘞（二兩）　白芷（二兩）　黃連（一兩）　狼牙（二兩）　芍藥（二兩）　黃芩　獨活　大黃各一兩</p>
<p>上九味　以水三斗煮豬蹄一斗五升去蹄內諸藥煮五升洗瘡日四次甚良</p>
<p>治癰疽腫壞多汗豬蹄湯方</p>
<p>豬蹄（一具。治如食法）　芎藭　甘草（炙）　大黃　黃芩各二兩　芍藥（三兩）　當歸（二兩）</p>
<p>上七味先以水一斗五升煮蹄取八升去蹄內諸藥更煮取三升去滓及　溫洗瘡上日三亦可以布內湯中薄瘡腫上燥復之</p>
<p>治肘疽方</p>
<p>黃連　皂莢各等分炙去皮子</p>
<p>上二味搗下和以淳若酒調令如泥塗滿肘以綿厚薄之日三易良</p>
<p>治癰疽最膿增損散方</p>
<p>黃耆（五分。膿多倍之）　小豆（一分。熱口乾倍之）　芎藭（二分。肉未生倍之）　白蘞（三分。有膿瘡不合倍之）　括蔞（三分。若小便利倍之）</p>
<p>上六味搗篩令細酒調溫服方寸匕日三</p>
<p>治癰消膿木占斯散方</p>
<p>木占斯　桂心　人參　細辛　敗醬　乾薑　厚朴　甘草（炙）　防風　桔梗　以上各一兩</p>
<p>上十味搗篩酒服方寸匕入咽覺流入瘡中若癰及疽亦之不能發壞者可服之瘡未壞去敗醬已發膿內入敗醬此藥時有化癰疽成水者方正桂為異故兩存焉（案正桂句似誤）</p>
<p>治發背及婦人發房並腸癰木占斯方</p>
<p>木占斯　厚朴（炙）　甘草（炙）　細辛　括蔞　防風　乾薑　人參　桔梗　敗醬　以上各一兩</p>
<p>上十味搗篩清酒服方寸匕日七夜四以多為善敗醬草名也病在上者當吐在下者當下膿血此謂腸癰之屬也諸病在裡惟服此藥即覺有力及　癰疽便即復痛長服治諸瘡及疽痔瘡已潰便即早愈凡俗流醫不知用此藥發背有不善而渴便勤服之若藥力行覺渴心便消散若雖服壞終無苦但晝夜陰勿懈也發此藥消散不覺腫去時即愈或長服即去敗醬偏治婦人乳腫諸產疵帶愈良又云惟服有異始覺背不善之也</p>
<p>治諸癰疽已潰瘡中疼痛膿血不絕矍麥散方</p>
<p>矍麥　白芷　黃耆　當歸　細辛　芍藥　薏苡仁　芎藭　赤小豆（末）　各一兩</p>
<p>上九味先以清酒小豆出於銅器中熬令乾復漬漬後復熬五過止然後治末合搗篩溫酒服方寸匕晝夜各五三日後痛癢者肌肉也又方用苦酒漬小豆多痛倍矍麥瘡口未開倍白芷多膿倍黃耆薏苡仁芍藥等</p>
<p>治癰食惡肉散方</p>
<p>藜蘆（一分半）　珍珠（一分半）　石硫黃　雌黃　麝香各三分　馬齒　礬　石（熬）　漆頭　蘆茹各三分</p>
<p>上九味篩搗粉瘡上亦可為膏和傅瘡上</p>
<p>治癰疽食惡肉散方</p>
<p>雄黃（一兩）　礬石（一分。熬）　蘆茹（一兩）</p>
<p>上三味搗篩稍著之隨用多少不限一兩</p>
<p>治癰疽兌膏方</p>
<p>當歸　芎藭　白芷　松脂各二兩　鳥頭（一兩）　豬脂（二升）　巴豆（十枚。去心皮）</p>
<p>上七味㕮咀內膏中微火合煎三沸已內松脂攪合相得以綿布絞之去滓以膏著綿絮兌頭丈作兌兌之瘡雖深淺兌之膿就兌盡即善肉瘡淺者不起兌著瘡中日三惡肉盡則止</p>
<p>治食肉青龍膏方</p>
<p>白礬（二兩。火煉末之）　熟梅（二升。去核）　鹽（三盒）　大錢（二十七枚）</p>
<p>上四味於銅器中猛火投之摩滅成末乃和豬脂搗一千杵以塗瘡上甚痛勿怪此膏食惡肉盡復著可傅蛇銜膏塗之令善肉復生</p>
<p>治癰疽金瘡生肉膏方</p>
<p>大黃　芍藥　黃耆　獨活　白芷　芎藭各一兩　韭白（一兩）　生地黃（三兩）　</p>
<p>上九味㕮咀以盛煎豬膏三升煎三上下以綿布膠去滓用兌摩多少隨意常用之</p>
<p>治丹癰疽始發焮熱浸淫長成掩湯</p>
<p>升麻　黃芩各三兩　黃連　大黃各二兩　當歸（一兩）　甘草（一兩。炙）　芎藭（二兩）　芒消（三兩）　羚羊角（屑。一兩）</p>
<p>上右味㕮咀以水一斗三升煮取五升絞去滓鐺中內芒消上火攪令成佛沸尺滓稍分適冷熱貼帛掩腫上數過其熱隨手消散王練甘林所秘不傳此方</p>

<h1>卷五</h1>
<p>治癰疽敗壞生肉地黃膏方</p>
<p>生地黃（一斤）　辛荑　獨活　當歸　大黃　芎藭　黃耆　韭白　白芷　芍藥　黃芩　續斷各二兩</p>
<p>上十二味切以臘月豬脂四升微火煎白芷色黃膏成絞去滓命傅日四</p>
<p>治癰癰瘡生黃耆膏方</p>
<p>黃耆　細辛　生地黃　蜀椒（去自閉口汗）　當歸　芍藥　韭白　白芷　丹參　甘草（炙）　蓯蓉　獨活　黃芩　以上各一兩　臘月豬脂（一斤半）</p>
<p>上十四味細切以苦酒一升二合夏即漬一日冬二夜微火煎三上下酒氣盡成膏傅之極良</p>
<p>治發背乳口已合皮止急痛生肉膏方</p>
<p>丹參　防風　白芷　細辛　芎藭　黃芩　芍藥　甘草（炙）　黃耆　牛膝　槐子　獨活　當歸　</p>
<p>上十中味切以臘月豬脂五升微火煎三上下白芷黃膏成病上摩向火日三四</p>
<p>治癰腫堅強不消不可用傅貼處黃芩膏方</p>
<p>黃耆　黃芩　芎藭　白蘞　防風　□　草　白芷　芍藥　大黃　細辛　當歸　以上各一兩</p>
<p>上十一味㕮咀以豬脂四升微火上煎一沸一下白芷黃即成膏傅之堅硬者日可十易</p>
<p>治癰疽止痛生肌鷗脂膏方</p>
<p>松脂（七兩）　芍藥　當歸　芎藭　黃芩各一兩　鷗脂（七兩）　白臘（五兩）</p>
<p>上七味㕮咀以臘月豬脂二升二合微火煎一沸一下三十過成以摩於瘡上</p>
<p>治癰疽金瘡續斷生肉膏方</p>
<p>續斷　乾地黃　細辛　當歸　芎藭　黃耆　通草　芍藥　白芷　牛膝　附子（炮製）　人參　甘草（炙）　以上各二兩　臘月豬脂（四升）</p>
<p>上十四味㕮咀著銅器中下膏諸藥漬之半日微火煎三上下白芷候黃膏成傅之瘡上日四五過良</p>
<p>治癰疽瘡止痛生肉甜竹葉膏方</p>
<p>甜竹葉（五兩）　生地黃（四兩）　大戟（二兩）　臘月脂（四升）　當歸續斷　白芷　□草　芎藭　防風各二兩　甘草（炙）　芍藥（一兩半）　蜀椒（半兩。去目汗閉口）　細辛　大黃　杜仲各半兩　黃耆（半兩）</p>
<p>上十七味㕮咀以豬脂微火煎五上下候白芷黃膏成傅瘡上甚良</p>
<p>治癰疽敗壞生肉□草膏方</p>
<p>□草　當歸　韭白　黃芩　甘草（炙）　各二兩　生地黃（五兩）　白芷（三兩）　大黃（四兩）　續斷（一兩）</p>
<p>上九味㕮咀以豬脂三升微火煎三上下白芷黃膏成傅瘡良</p>
<p>治癰疽膿爛並小兒頭瘡牛領馬鞍及腸中諸惡耳聾痛風腫腳疼金木水火毒螫所中眾瘡百疹無所不治蛇銜膏方　</p>
<p>蛇銜　大戟　大黃　芍藥　附子（炮）　當歸　獨活　□草　黃芩　細辛</p>
<p>芎藭　蜀椒（去目閉口汗）　韭白　以上各一兩</p>
<p>上十三味㕮咀以苦酒漬之淹一夜以豬脂一升半微火煎三上下膏成綿布絞去滓病在內酒下彈元大</p>
<p>治癰疽食肉膏方</p>
<p>松脂（五兩）　雄黃（別研）　雌黃　葛皮各二兩　豬脂（一斤）　漆頭　蘆茹（三兩）　巴豆（一百枚。去皮膜心）</p>
<p>上七味先煎松脂水氣盡下　諸藥微火煎三上下膏成絞去滓內雄雌二黃攪調以　膏著兌頭內瘡內口方六匕及肉兼新故初用病更腫赤但用如節度惡肉盡止勿使過也治癰疽大黃食肉　膏方　</p>
<p>大黃　附子　□草　芎藭　雄黃　珍珠（各一兩）　白蘞　礬石　黃芩　漆頭　蘆茹（各二兩）　雄黃（一兩）</p>
<p>上十一味㕮咀六物以豬脂一升四合微火煎三上下末蘆茹下煎成膏中以塗兌頭傅瘡中須惡盡使過也</p>
<p>治癰疽食惡肉蘆茹散方</p>
<p>漆頭　蘆茹　礬石　硫黃　雄黃（以上各二分）</p>
<p>上四味搗篩攪令著兌頭內瘡口中惡肉盡止勿使過也</p>
<p>治癰疽始作便敗壞發瘡膏方</p>
<p>羊髓（一兩）　甘草（二　兩）　胡粉（五分）　胡粉（五分）　大黃（一兩）　豬脂（二升）</p>
<p>上五味切合脂髓煎二物令洋內甘草大黃三上下去滓內胡粉攪令極調傅瘡日四五上　</p>
<p>治久病疥癬惡瘡膏方</p>
<p>丹砂　雄黃　雌黃　亂髮（洗）　松脂　白蜜　（以上各一兩）　蘆茹　漆頭（各三兩）　巴豆（十四個。去皮心）　臘月豬脂（三升）</p>
<p>上九味先煎亂髮消盡內松脂煎三上下成膏絞去滓末茹內膏中煎攪極調傅瘡上日三易之</p>
<p>治久病疥癬諸惡瘡毒五黃膏方</p>
<p>雌黃　雄黃　黃連　黃蘖　黃芩　青木香　白芷，各一兩。　亂髮，一團。　雞子，大雞。　舌香，一兩。　狼跋子，四十枚。</p>
<p>上十味㕮咀以苦酒半升漬諸藥一夜以臘月脂三升先煎發一沸　內諸藥三五沸止絞去滓成膏傅瘡上日五易之</p>
<p>治病疥癬惡瘡散熱水銀膏方</p>
<p>水銀　礬石　蛇床子　黃連，以上各一兩。</p>
<p>上四物兩度篩到臘月豬脂七合和並水銀攪令調打數萬過不見銀膏成傅瘡若膏少益取並小兒瘡良，龔慶宣加蘆茹一兩。</p>
<p>治面皰麝香膏方</p>
<p>麝香，二兩。　當歸　附子　芎藭　白芷　芍藥，已上各一兩。　細辛，二合。　杜衡，二分。</p>
<p>上八味㕮咀以臘月豬脂一升二合煎諸藥三上下絞去滓別末研麝香安膏中攪令調傅皰上日三易之</p>
<p>治面查皰木蘭膏方</p>
<p>木蘭　防風　白芷　青木香　牛膝　獨活　藁本　當歸　芍藥　杜衡　辛夷　芎藭　細辛，各一兩。　麝香，一分。　附子，二分`炮。</p>
<p>上十味㕮咀諸藥以臘月豬脂一升微火煎三沸三上下去滓末下攪令調膏成傅皰上日三</p>
<p>治查皰鸕鷀屎膏方</p>
<p>上取鸕鷀屎一升揭篩臘月豬脂調和傅之</p>
<p>治頭頹生髮白芷膏方</p>
<p>白芷　蔓荊子　附子　防風　芎藭　□草　細辛　黃芩　當歸　蜀椒，各一兩`去汗閉目口。　大黃，一兩半。　馬鬐膏,五合。，此所用多無。　</p>
<p>上十二味切以臘月豬脂三升合諸藥微火煎三　上下白芷色黃膏成洗頭澤發勿近面</p>
<p>治婦人乳腫痛丹參膏方</p>
<p>丹參　芍藥，各二兩。　白芷，一兩。</p>
<p>上三味以苦酒漬一夜豬脂六合微火煎三上下膏成傅之</p>
<p>治頭白頹瘡發落生白芷經年不差五味子膏方</p>
<p>五味子，二分。　兔絲子，五分。　蓯蓉，二分。　雄黃，一分。　松脂，二分。　蛇床子　遠志，去心。，各三分。　雌黃　白蜜，各一分。　雞屎，半分。</p>
<p>上十味以豬膏一升二合煎先內雌黃次內雞屎次內蜜次內松脂次內諸藥並先各自末之膏成先以桑灰洗頭後傅之</p>
<p>治疽瘻瘑疥諸惡瘡連年不差並小兒頭瘡悉治之膏方</p>
<p>藜蘆　附子　蘆茹　桂心　天雄　蛇床子　野葛皮　雄黃　亂髮，洗，　白芷　半夏，湯洗。礬石　細辛　杏仁　芎藭　芍藥　白朮　鳥頭，各二兩。　黃連　當歸　藁本，以上各二兩。　班貓　□草　巴豆，去皮心。　黃蘖　吳茱萸　蜀椒，各一兩`去目閉口汗。</p>
<p>上二十七味㕮咀以苦酒漬一夜以臘月豬脂四斤微火煎令酒氣盡膏成日四五傅用多妙</p>
<p>治久瘑疽諸瘡冶葛膏方</p>
<p>治葛皮　黃連　細辛　杏仁　□草　芍藥　藜蘆　附子　乳發　蘆茹　</p>
<p>芎藭　白芷　蛇床子　桂心　藁本　烏頭　白朮　吳茱萸　雌黃　礬石　天雄　當歸，以上各二兩。班貓　巴豆，去皮心。　蜀椒，去自汗閉目口。　黃蘖，各一兩。　</p>
<p>上二十六味㕮咀各搗篩以豬脂五升於銅器內微火煎諸藥七沸上下絞去滓更煎攪勻成膏以傅瘡上日四五</p>
<p>丹砂膏方三首</p>
<p>丹砂，五兩。芎藭，三兩。　大黃，二兩。　蜀椒，二兩`去目出汗。　白芷，二兩。　麝香，三兩。　升麻，二　兩。　治葛皮，二兩。　麻黃，五兩`去節。　丹參，五兩。　巴豆，二升`去皮心。　桂心，二兩。　附子，十二枚。　皂莢，二兩`去皮子。　</p>
<p>上十四味以豬脂六升春夏共用調合在後方消停</p>
<p>又方</p>
<p>丹砂，三兩。芎藭，三兩。大黃，二兩。　蜀椒，去目汗`二兩。　白芷，二兩。　麝香，六兩。　術，二兩。　附子，十二枚。　乾薑，五分。冶葛，二兩。　丹參，六兩。　細辛，二兩。　巴豆，三升`去皮心。</p>
<p>右三十味秋冬共用亦在年中有所宜以意消息藥各搗羅之巴豆細切以苦酒漬一夜量足不須覆之明旦以豬脂成六升鐺中微火煎三上一上膏成勿使傍人及雞犬貓見其膏同治其敘此方須是細意事持</p>
<p>又方</p>
<p>丹砂，二兩`末。　蜀椒，去目閉口汗。　大黃　白芷　甘草，炙。，以上各二兩　巴豆，三升`去皮心。　麝香　芎藭，各二兩　附子，二枚。　升麻，二兩。　冶葛皮　犀角　當歸　鳥頭，各二兩。　丹參，一斤。</p>
<p>上十五味切以苦酒漬之一夜以豬脂六升微火煎三上下膏成絞去滓用之此　膏是四時常用日三此方無比</p>
<p>丹砂膏敘治百病傷寒溫毒熱疾服如棗核大一枚鼻塞取半核大內鼻中宿氣令人聰里若耳聾取如兩棗核大烊之如水內其耳中三五年聾可差　或寒癖腹滿堅脹及飛屍惡毒楚痛溫酒服霍亂當成未成已吐未痢白湯服棗核大若巳痢一兩行而腹煩痛更服之眼中風膜膜或痛常下淚取如粟大注眼中自當下止或半目痛便愈</p>
<p>又胸背喉頸痛摩足口中亦稍稍令常聞有　膏氣人體自有不同者易為藥當胸取利為度老小增減服膏之法得利若不　利如人行十五里可與熱飲發當預作白薄粥令若過利要止者多進冷粥便住若能忍待藥熱儘自止更侍赤膏治百病方（治病同丹砂膏用之）</p>
<p>冶葛皮，一兩。　白芷，一兩。　蜀椒，二升`去目閉口汗。　大黃　芎藭　巴豆，三升`去皮心。　附子，十二枚。　丹參，一斤。　豬脂，六升。</p>
<p>上九味㕮咀以苦酒漬一宿合微火煎三上下白芷黃即膏成絞去滓用傷寒□溫酒服如棗核大一枚</p>
<p>賊風癰疽腫身體惡氣久溫痹骨節疼痛向火摩之瘑疥諸惡以帛薄之鼠瘻疽痔下血身體隱軫癢搔成瘡汁出馬鞍牛領以藥傅之即愈腰背手足流腫拘急屈不申不快以傅之日三婦人產乳中風及難產服如棗核大並以　膏摩腹立生如食魚哽日五服愈如耳聾以膏如小豆大著耳中患息肉以膏內鼻中愈眼齒痛以膏如粢注背中白蘆醫當童子視以膏如粟注眥愈</p>
<p>治熛疽丹砂膏方</p>
<p>丹砂，末。　犀角，夜。　干大黃　芎藭　麝香，末。　黃芩，各二兩。　生地黃，十兩`切。　升麻　前胡　沈香，各三兩。　青本香，一兩。</p>
<p>上十二味㕮咀以苦酒漬淹一宿以豬脂五升微火煎三上下弱去滓肉丹參麝香末攪調稍稍服之</p>
<p>治疽麝香膏方</p>
<p>麝香，末。　凝水石　黃芩　丹砂，末。芎藭　雞舌　青木香，各二兩。　□草，三兩。　升麻，三升。　羚羊角，夜。　干大黃　羊脂，各三兩。　地黃汁，一升。　</p>
<p>上十四味切以苦酒漬一夜用豬脂六升微火上煎三十下絞去滓內麝香丹砂末攪令調成摩病上甚良</p>
<p>治丁腫生芎藭膏方</p>
<p>生芎藭汁，一升。　丹砂，二兩。　生地黃，二斤。　白芷，三兩。　大黃，三兩。　麝香，末`三兩。　甘草，炙。　當歸，二兩。　升麻，二兩。　韭白，八兩。</p>
<p>上十味㕮咀以苦酒漬一夜豬脂五升微火煎三上下膏成摩於腫上</p>
<p>治熛疽始發未曾治宜速服丹砂膏方</p>
<p>丹砂，末。　犀角，二兩。　夜干，二兩。　生地黃，十兩。　大黃，三兩。　升麻，三兩。芎藭，三兩。　麝香，二兩。　前胡，三兩。　沈香，二兩。　黃芩，三兩。　青木香，一兩。　</p>
<p>上十二味㕮咀以豬脂五升微火煎三上下　止絞去滓入麝香丹砂末攪令調溫酒服如棗核大日三服</p>
<p>治風溫瘑疽諸惡瘡經年不差其著胸臆背日在不可視之恐見肺肺髓者皆主之傅當火段以意用之丹砂膏方</p>
<p>丹砂　雄黃，末。　附子　天雄　乾地黃　大黃　當歸　秦膠，各二兩。　鳥頭　桂心　黃連　松脂　茴芋，各四兩。　蜀椒，一升`去目汗。　乾薑，二　兩。　巴豆，一百枚`去皮心。　蜈蚣，四枚`去頭足赤者。　石蘭草，二兩。　</p>
<p>上十八味㕮咀十六味以苦酒一斗漬一夜以豬脂六升微火煎三上下藥色膏成絞去滓內二石末攪令調傅瘡有口亦可兌瘡口此脂多治合即隨多少苦酒不必盡一斗以意量用之</p>
<p>治瘑疥癬諸瘡丹砂膏方</p>
<p>蜀椒，三升`去目汗。　丹砂　細辛　桂心，各二兩。　附子，三十枚，　前胡　白芷，各切一升。芎藭，切。　白朮　吳茱萸，各一升。　當歸，一兩。　</p>
<p>上十一味㕮咀諸藥唯椒茱萸不搗以苦酒漬一夜合淹以豬脂不中水　者十斤細切合諸藥於銅器內煎三上下白芷黃成膏以綿布絞去滓如患風溫腫不消服如強元大一枚　</p>
<p>若鼻塞不通能膏著鼻中若青盲風目爛眥癢痛茫茫不見細物以綿絮里筋頭注膏中以傅兩眥至臥時再傅之齒痛亦如耳聾亦准之諸惡痛皆治之金牛領鞍瘡亦傅之治下赤腹中有癰並癰疾在外即摩之在內即服之如強元大一枚日三服此膏無所不治</p>
<p>治小頭瘡並惡紫草膏方</p>
<p>紫草，三兩。　黃連　女青　白芷，各一兩。　礬石，三兩`燒令汗出。　苦酒，五合。　生地榆根，一兩。上七味內三味礬石紫草黃連為末入諸藥煎白芷黃膏成傅瘡上治小兒熱瘡水銀膏</p>
<p>水銀，二兩。　胡粉，二分。　松脂，二兩。　豬肝，四升。</p>
<p>上四味煎松脂水銀氣出下三物攪令不見銀放冷以傅瘡上</p>
<p>治火瘡柏皮膏</p>
<p>上皮去黑皮用白肉以豬脂少多煎去滓候凝隨實使之</p>
<p>治熛疽浸淫廣大赤黑爛壞成瘡羊髓膏方　</p>
<p>羊髓，二兩。　大黃，二兩。　甘草，一兩。　胡粉，二分。</p>
<p>上四味㕮咀以豬脂二升半並胡粉微火煎三上下絞去滓候冷傅瘡上日四五</p>
<p>治熱毒並結及腫升麻膏方</p>
<p>升麻，三兩。　白朮，一兩。　牡蠣，三分。　白芨，二兩。　白蘞，二兩。　□草，二分。　夜干，二兩。　大黃，二兩。　黃連，二兩。</p>
<p>上九味㕮咀以豬脂三升微火煎膏成絞去滓以傅瘡上日四五</p>
<p>治熱瘡生地黃膏方</p>
<p>生地黃　白蘞　白芷　黃連　升麻　黃芩　大黃，以上各十兩。</p>
<p>上七味㕮咀以豬脂一升半微火煎成膏絞去滓傅瘡日四五</p>
<p>治惡瘡皆爛雄黃膏方</p>
<p>雄黃　礬石，末。　黎慮　當歸　黃連　附子，各二兩。　□草芎藭　白芨，各一兩。　巴豆，六十枚`去皮心。</p>
<p>上十味㕮咀以豬脂二升微火煎成絞去滓內石末攪調傅瘡日四五</p>
<p>治瘑疽瘻水銀膏方</p>
<p>水銀，二兩半。　胡粉，二兩。　松脂，二兩。　豬脂，四升。</p>
<p>上四味先煎松脂水氣盡下胡粉攪令水銀盡不見可傅瘡日三亦治小兒疳熱瘡頭瘡</p>
<p>治痱瘰癧瘡白蘞膏方</p>
<p>白蘞，三兩。　白芷，三兩。　芎藭　大黃　黃連，各二兩。　當歸，二兩。　黃蘖，二兩。　鼓，八分`炒。　羊脂，三兩。　豬脂，二升。　</p>
<p>上十味㕮咀以二脂合煎內諸藥微火煎膏成去滓候凝傅之</p>
<p>治皮膚中熱痱瘰癧白蘞膏方　</p>
<p>白蘞　黃連，各一兩。　生胡粉，一兩。</p>
<p>上三味搗篩溶脂調和傅之</p>
<p>治熱瘡生地黃膏方</p>
<p>生地黃，四兩。　黃連，四兩。　大黃，三兩。　黃蘖　甘草，炙。　白蘞　升麻，各二兩。</p>
<p>上七味㕮咀以豬脂二升半微火合煎膏成絞去滓候凝可傅之</p>
<p>治熱瘡生地黃膏方</p>
<p>生地黃，四兩。　黃連，五兩。　白蘞　芍藥　白芨，各二兩。　苦參　升麻，各三兩。</p>
<p>上七味㕮咀以豬脂二升半內諸藥同熬膏成去滓候凝傅之</p>
<p>治溫熱諸瘡黃連膏方</p>
<p>黃連　白蘞　白芷，各二兩。　生胡粉，一兩。</p>
<p>上四味細節用豬脂調塗之</p>
<p>治熱瘡蛇床子膏方</p>
<p>蛇床子　乾地黃　苦參，一兩。　大黃　通草，二分。　白芷　黃連　狼牙，二分。</p>
<p>上八味搗篩國末用豬脂以意調和塗之</p>
<p>治熱瘡木蘭膏方</p>
<p>木蘭，一兩。　白芷　黃連，各三兩。　黃蘖，二兩。　芍藥，一兩。　梔子，二十一枚。　黃芩，二兩。　狼牙，二兩。　夜干，一兩。　蛇床子，一兩。</p>
<p>上十味㕮咀以豬脂二升合諸藥微火煎膏厲去滓</p>
<p>治熱瘡黃連膏方</p>
<p>黃連　生胡粉，各三兩。　白蘞，二兩。　大黃，二兩。　黃蘖，二兩。</p>
<p>上五味為末用豬脂以意調和塗之</p>
<p>治灸瘡甘草膏方</p>
<p>甘草，一兩。　當歸，一兩。　胡粉　羊脂，一兩半。　豬脂，三兩。</p>
<p>上五味㕮咀以豬羊脂並諸藥微火煎成膏絞去滓候凝傅之</p>
<p>治諸癰破後大膿血極虛黃耆膏方</p>
<p>黃耆　附子　白芷　甘草　防風　大黃　當歸　續斷　芍藥，各一兩。　蓯蓉，一分。　生地黃，五分。　細辛，三分。　</p>
<p>上十二味切以豬脂三升內諸藥微火慢煎候白芷黃色膏成絞去滓候凝塗瘡摩四邊口中日四過</p>
<p>治癰疽已潰白芷摩膏方</p>
<p>白芷，三分。　甘草，三分。　鳥頭，三分。　韭白，十五枚。　青竹皮</p>
<p>上五味以豬脂一升合煎候白芷黃膏成絞去滓塗四邊</p>
<p>治諸疽瘡膏方</p>
<p>蠟，一兩。　亂髮　礬石，熬。　，各一兩。，揀。豬脂，四兩。</p>
<p>上五味先下脂煎令消下發發消下礬石松脂消下蠟蠟消膏成濾過候凝塗傅之</p>
<p>治鼻中寒利鼻白芷膏方</p>
<p>白芷　通草　蕤核，各一分。　薰草，二株。　羊髓，八銖。　當歸，一分。</p>
<p>上六味以清酒煉羊髓三過㕮咀諸藥煎膏成絞去滓用小豆大內鼻中日三</p>
<p>治竹木所刺入手足壯不出膿疼痛羊屎膏方</p>
<p>上取干羊屎搗篩用豬脂和以塗之瘡口立出</p>
<p>治湯淚人肉爛壞術膏方</p>
<p>術，二兩。　附子，二枚`大者炮。　甘草，一兩。　羊脂，五兩。　松脂　雞子，大`一塊。　豬脂，五兩`不入水者。</p>
<p>上六味微火煎豬脂後內羊脂並諸藥又煎膏成絞去滓候塗瘡上日三</p>
<p>又方</p>
<p>柏樹皮，四兩`去黑處。　甘草，三兩`細切。　淡竹葉，二兩`切。</p>
<p>上三味以不中水豬脂一升二合入藥煎膏成絞去滓塗瘡上日三</p>
<p>又方</p>
<p>麻子，一合。　取人柏皮，一兩。　取白白芷，一兩。　生柳皮，一兩`去白。　</p>
<p>上四味㕮咀以脂一升同煎膏成濾去滓候凝傅瘡日三</p>
<p>治瘑疥癬及惡瘡蘆茹膏方</p>
<p>蘆茹，三兩。　漆頭，者。　雄黃　雌黃，末。，各一兩。　丹砂，一兩`研。　亂髮，半兩`洗。</p>
<p>上五味搗篩令調煎以先用豬脂二升半煎發取盡內諸藥微火更煎候膏成不令他人雞貓犬見日上三七</p>
<p>治婦人妒乳生瘡雌黃膏方</p>
<p>雌黃　白蘞　雄黃　漆頭　蘆茹，各一兩。　亂髮，一團如雞子大。</p>
<p>上五味各研搗篩以不中水豬脂二升先煎亂髮令盡下諸藥再微火煎候膏成放凝塗瘡上日三四</p>
<p>治諸惡瘡麝香膏方</p>
<p>麝香　冷石　雄黃　丹砂，各五分。</p>
<p>上四味各細研如粉以臘月豬脂量其多少調和如塗傅瘡時先用大　黃湯放溫洗了淹干然後塗膏</p>
<p>治頭瘡惡瘡骨疽等牛屎薰方</p>
<p>取苦瓜截除底斷其鼻取牛屎者地上燒以無底瓜籠屎上引煙從瓜空出以瘡著煙上薰之自然止過三度即除</p>
<p>六物滅瘢膏方</p>
<p>衣中　白魚　雞屎　白鷹糞　白芍藥　白蘞　白蜂等分</p>
<p>上藥研如粉以乳汁和塗瘢上日三良</p>
<p>小品滅瘢方</p>
<p>雞矢白，一兩。　辛夷仁，四分。　白附子，二分。　細辛，二分。</p>
<p>上四味酒浸一宿以羊脂六合微火煎三上三下去滓傷瘢以甘草湯洗訖塗之一方有桂心一分</p>
<p>又方</p>
<p>鷹屎白一兩研白蜜和塗瘢上日三</p>
