<header data-type="book">
<h1>跌打秘方</h1>
</header>

<h1>論治法</h1>
<p>大凡頭上受傷、腦髓出者，難治；骨色青者，亦難治。若他處骨肉破碎，即將空痛散敷之，內服疏風理氣湯五、六劑。傷口平復，再投補血順氣湯。若有破傷風，牙關緊閉，角弓反張之症，急以飛龍奪命湯投之。</p>
<p>若目受傷，將收珠散敷之，用銀簪腳以井花水蘸藥點血筋上，次以青布或用舊青絹湯洗揉，隨用還魂湯二服，待其平復，再服生血明目飲。</p>
<p>若鼻梁骨斷，先用接骨散敷之，次用生肌散菜油調搽，再服活血止痛散。</p>
<p>如口唇缺破，先敷代痛散，隨將青鶉尾下絨毛護之，以桑枝油線縫合，再敷生肌散，服活血止痛飲。有含刀在口，割斷舌頭尚未見落者，用雞蛋肉軟白衣袋其斷舌，將血丹用蜜調塗在患處，再以蜜和蠟調勻，敷在雞蛋衣上，取其微軟能通藥力。但藥在口中易散，勤勤敷之為妙。如不得速效，再以金瘡藥治之。如被人咬破舌頭者，以生蟹杵爛塗之，亦平復。</p>
<p>倘下頦骱骨脫落，先用寬筋散煎湯熏洗，次以綿裹大指入其口，指抵住下邊，外用手心托住，緩緩揉上推進骱骨而止，再服補腎和氣湯。有登高跌撲兩肩天井骨受傷，不便綁紮，但見傷損腫脹，即先服喘氣湯，使骨節相對，次用接骨散敷之，以綿包裹，斜連搭胸背敷之，再服活血湯。</p>
<p>蓋肩骱落與膝骱落同，而膝骱送上省力，肩骱送下省力，總屬易上。將一手按住其肩，一手托住其手，緩緩搖動，使其筋舒血暢，再令本人坐於低處，一人抱住其身，醫者以兩手又捏其肩，兩膝夾住其手，齊力一上。用綿包裹好，外敷接骨，內服生血補髓湯。</p>
<p>遇臂骱觸出，上用一手抬住其腕，下用一手按其手，內臁用足踝抵住，齊力一伸而上，即敷接骨散，以綿包之，內服生血補髓湯。</p>
<p>若手骱跌出，上用一手按其臼，下用一手托住指掌，用力一伸而上，此乃會脈之所宜，即服寬筋活血散，以接骨散敷之，用綿包裹，再用闊板一片，又用二寸長杉樹板四片幫貼患處，扎縛七日，可得平復。</p>
<p>手指有三骱臼，惟中節出者有之，然易出易上，用兩手抽伸法上之，服寬筋活血湯。有臂臼出而觸在腹內者，當另處人側臥出肉，用手隨內出外，又用手隨內上撲住其腰，下手捧住其腕，將膝揭住其上，出左向右扳，往右向左扳，一伸即上。服生血補髓湯。</p>
<p>蓋兩腿易於傷損，傷則兩段，先將寬筋散熏洗，使患側臥，外敷接骨散，好足同敷，用綿包裹，要四寸長杉板八片幫好，以綿繩三條綁縛，服活血止痛散三、四劑，再服壯筋續骨丹。</p>
<p>凡治膝蓋骨跌脫離骱，須用綿花衣捆作大包，令傷者仰臥，將包襯於膝下，一抬腳踝，若骨偏於左隨左而下，偏於右隨右而下。醫者扶定棉包，以上手挽住其膝，下手按住其腳，使臼骱相對，用力一扳，推起入骱矣。先敷接骨散，用棉包布裹挽下，以包按之，服生血補髓湯五劑，再服壯筋續骨湯。</p>
<p>如小膀有大小兩骨，一莖折者易治。俱折者難治。而骨折看有藕七頭（七字折斷理然而成字）易治。如兩骨平斷者難醫。更有戳穿皮肉者，尤難治也。此症與上大腿治同一法，如骨戳皮外，須將碎骨鑲上斷處，不可湯洗，將生肌散敷之。如骨折不破皮肉，以接骨散敷之。足踝之骱骨易出難上，須一手抬住其腳掬上以腳根，一手扳其腳指，左出偏其左，右出偏其右，將腳掬上，以腳根掬下，不可以一伸而上，內服寬筋活血散，腳偶被傷致令筋促痠痛，不便伸縮，宜用寬筋散煎湯洗之。</p>
<p>治失枕頸項強痛，令其低處坐定，一手扳其下頦，緩緩伸直矣。</p>
<p>凡刀槍所戳，但傷皮肉者，敷金瘡藥。傷內膜及腸胃者，不治。刀斧砍傷頭額，易發寒熱，脈細者可治，脈大者難治。損骨先療骨，傷肉先生肌，外敷金瘡藥，內服護風托裡散。自刎食管斷者，先以生半夏研細末摻之，再以青鶉絨毛和入人參末敷之，再以桑白皮油線縫之，以軟絹纏封，急切。無有青鶉絨毛，以茅針花搓軟代之，隨用紫金丹和入胎骨一分酒調，用匙灌下，再用護風托裡散服之。有肚皮破而腸出者，先去病人指甲。如腸出食可進者，急用紡紗車對患處，順搖勿使風傷患處，將溫水揉之令入，用桑白皮搓線縫合破處，外敷金瘡藥，服通腸活血湯。</p>
<p>一凡夾棍傷，出衙門即用熱童便一盆，將足浸之，如便冷燒紅磚二塊淬之即熱，直至童便面上浮起白油膩，其傷盡處，庶不爛潰。再用肥皂搗於泥，入雞蛋清和勻敷傷處，以草紙包裹，用腳帶條縛緊，一夜不動即效。內服湯藥末藥見後。</p>

<h1>論傷各要害處不治</h1>
<p>凡受傷之人，痰多及眼珠淡白者不治。</p>
<p>唇吊者不治。</p>
<p>失枕者不治。</p>
<p>口鼻黑及屎黑者不治。</p>
<p>目斜視氣響者不治。</p>
<p>喘急心高者不治。</p>
<p>耳鼻赤色者不治。</p>
<p>如斷蓋心骨及耳內腦後衣，並穿破陰囊陰戶，傷重痛苦難忍，瘀血攻心，未有不死者也</p>
<p>囟門蓋骨碎，腦髓出者不治。</p>
<p>鼻梁兩眼平對處，打斷不治。</p>
<p>兩太陽系空虛處，傷重者不治。</p>
<p>小心突結喉打斷不治。</p>
<p>結喉下橫骨上空潭處，塞下有橫骨，下直至人字骨，懸一寸三分為一節，傷下一節即凶一節，不易治。</p>
<p>心坎即前心，人字骨處受傷者必暈悶，久必吐血，血泛不治。</p>
<p>食肚在心坎下，傷者必反胃，不治。</p>
<p>丹田臍下一寸三分，內膀胱穴，若倒插，一月必死。</p>
<p>睪丸即外腎子，捏碎不治。外胞傷破尚可縫。</p>
<p>腦後與囟門被木器傷者，不治。</p>
<p>天柱骨與突對摺斷者，不治。</p>
<p>百旁（勞）穴與塞下相對，背傷重者不治。</p>
<p>兩腎與臍相對，在脊骨左右，受傷者，或哭或笑不治。</p>
<p>海底穴乃大小便交界空虛處，受傷不治。</p>
<p>氣門在乳上動脈處，傷即氣塞，救治稍遲，三時必死。</p>
<p>軟肋在左乳下即食肚，受傷救治稍遲，三時必死。</p>
<p>膻門在右乳，傷重即痰湧，不治。</p>
<p>血海右乳之下，膻門之右，是脅將盡處，傷重不治。</p>
<p>兩乳之上傷左者，久必發嗽，傷右者，久必發呃，醫遲不治。</p>
<p>中脘在心口下當胃處，傷重不治。</p>
<p>肺底在腰以上，中間高處是。如傷重者，不治。</p>
<p>章門在脊骨上第三節，傷重不治。</p>
<p>中會在中脘之下、丹田之上，傷重不治。</p>
<p>風門在左右胳肢下，傷重不治。</p>
<p>前心後背受傷者，久而成怯症（後背尾至十八節，則是背心）。</p>
<p>小膀肚受傷者，久則成黃病。</p>

<h1>論用藥</h1>
<p>自然銅乃接骨之要藥，惟敷藥不用，湯飲必須用之。以續斷、五加皮為佐；活血以紅花、當歸為主；理氣以青皮、枳殼為先；破血以桃仁、木通為君；補血以芍藥、生地為最。若欲疏風先須理氣，活血亦須順氣為要。在足木瓜為引經藥，在手桂枝、桑枝亦可。</p>

<h1>論各穴要害之處</h1>
<p>大凡人左胸為氣門，右胸為痰火；左肋為食肚，右肋為血海。前胸為龍潭穴，背心為海底穴。左乳傷發嗽，右乳傷發呃。兩腰為二珠穴，傷則發笑。男子傷於上部易治，以男子氣盛、上升故也，女子傷於下部者易治，蓋女子血盛、下降故也。</p>
<p>蓋大凡致命處，則頂心、太陽、耳竅、咽喉、胸膛、兩乳、心坎、肚臍、兩脅、腎囊、陰戶、腦後、耳根、脊膂、背心、兩後脅腰眼並頂心之偏左偏右、額顱、額角，傷重者皆能致命。</p>
<p>大凡人受全體者，死速。傷肩背死遲，傷左半身者氣促，面黃浮腫，右半身者氣呃，面白血少，傷背者雖不速死，百日後必死，以五臟皆繫於背故也，宜服延生藥酒。傷胸者必嗽咳迷悶，面黑，發主三四日死，以胸乃血氣往來之所，服七釐散、行氣活血湯。</p>
<p>大凡跌打傷輕不致命，但覺兩肋疼痛者，此肝火有餘，實是火盛之故也。或有平日登高跌撲者，原有瘀血瘀滯，今又因新傷而發痛也。或有痰積、食積而痛者，或有醉飽房勞、脾氣虛耗，肝木乘脾胃虧虛，當心連兩肋而痛者。又有傷寒發熱而兩肋痛者。左肋痛，氣與火；右肋痛，痰與食。瘀血痛者，傷處必有紅腫。若肥白色之人身發寒熱而兼肋痛者，多因氣虛；黑瘦之人發寒熱而痛者，大約陰陽兩虧，必日輕夜重，多怒腰痛，此亦瘀血凝滯故也。</p>

<h1>論驗輕重傷訣</h1>
<p>一看眼，凡內傷積有瘀血，白睛必有紅筋，筋多瘀血多，筋少瘀少。若眼珠動運有神氣者，可治，否則難治。</p>
<p>二看手指甲，以我手大指押病者指甲上，一放開血色即還原者，可治。若遲緩還原，或烏色或紫色者不治。</p>
<p>三看陽道，不縮及有小便者可治，否則難治。</p>
<p>四看足指，與看手指甲同一法。</p>
<p>五看腳底，紅色者易治，黃色難治，五色全犯者不治。</p>
<p>六看脈息，若胃氣和平者易治，六脈浮數兼有外感也，難治。六脈微絕，胃氣將盡者，不治。</p>

<h1>論用藥要訣</h1>
<p>凡治跌打損傷重症，不可匆忙下藥，若患者不能開口，先將烏梅嚼爛擦其牙齦，或將皂角末吹入鼻中得噴嚏，口即開，隨用韭菜根搗汁燉熱，和童便服之，不下咽者難治。若納下，即同瘀血吐出，視其傷之輕重，先服奪命神丹，隨服疏風理氣湯，外敷吊傷丹。若小便不通，用火灸法或熏洗法。如破碎傷，用封藥護之，次服接骨紫金丹。若腹痛者宜行，行後審症輕重，依方加減可也。</p>
<p>凡人被打，七日之內血氣未曾積聚，只宜發散活血。十四日之內瘀血積胸，其勢將歸大腸，故肚內作痛，宜用行藥。</p>
<p>凡人初打必有氣鬱，或受風寒，恐血氣攻心，宜服護心丹。</p>
<p>凡人看指甲，先看中指甲，黑色者傷重，腳指甲黑色者亦重。眼內有紅筋，或眼白珠赤色者亦凶，面黑者大凶，睪丸（即外腎子）上升者更凶，腳底黃色者亦凶。</p>
<p>凡人被打傷重，不能運動，用推法。以二人挽起其頭四五次，即吐出涎沫甦醒。如不吐，以牙皂末五分煮酒調灌，得吐即醒。牙緊不開，用烏梅擦牙法。</p>
<p>凡人受打，拳向上者其氣順，平打者其氣塞，倒插者其氣逆，逆則血瘀，故倒插傷尤難治也。</p>
<p>凡人受打自覺傷重，醫藥不及，將童便乘熱飲二三匙，或以生地龍五、七條，洗淨搗爛，熱酒沖服，渣敷傷處，然後急醫，方保無虞。</p>
<p>凡不肖醫生遇傷症，先用劫藥，將生半夏、草烏入口，即頭浮面腫眼腫，寒顫咬牙，不必驚駭，過三時自平復。為醫者當救人為急務。</p>
<p>凡用引經之藥，上部用川芎，手用桂枝，頭用白芷，胸腹用白芍，臍下用黃柏，左肋用青皮，右肋用枳殼，腰用杜仲，下部用牛膝，足用木瓜，身用羌活，當歸。不論跌打各傷，須要用看附。</p>
<p>傷肝部者，面色青兼紫紅色，眼赤發熱，主七日死，先服流傷飲，次服小續命湯，後服中和丸。</p>
<p>傷心口者，面青氣短吐血，呼吸大痛，身體不能動者，主七日死，先服流傷飲，次續命湯，後服中和丸。</p>
<p>傷食肚者，心下作陣痛，身發熱，腹高浮如鼓皮，氣促，飲食不進，眼閉口鼻面黑，主七日死，先服大續命湯，次服中和丸，倒插傷者不治。</p>
<p>傷兩腎者，兩耳即聾，額角黑色浮光，常如哭狀，主半月死，先服生血飲，次服流傷飲，後服中和丸。</p>
<p>傷小腹者，面腫氣急或時作痛，口吐酸水，主三日死，先服續命湯，後服中和丸。</p>
<p>傷大肚者，糞後血急而又澀，面赤氣滯，主半月死，先服流傷飲，次服續命湯，後服中和丸。</p>
<p>傷膀胱者，小便痛澀，不時有尿膨脹，發熱，主五日死，先服續命湯，次服行氣活血湯。</p>
<p>傷陰囊陰戶者，血從小便出，主三日死，先服護心養元湯，次服大續命湯。</p>
<p>傷胸背者，面白肉瘦，食少，發熱咳嗽，主半月死，先服流氣飲，次服中和丸。</p>
<p>傷氣海者，氣喘大痛身瘦，夜多盜汗，食少腫痛不寧，主一月內死，先服流傷飲，次服中和丸。</p>
<p>傷血海者，血妄行，口常吐出，胸前板住作痛，先服活氣湯，次服流傷飲，再服藥酒，若不取效，主一月內定死。</p>
<p>傷兩肋者，氣喘大痛，睡下如刀刺，面白氣虛，先服活血順氣湯，次服續命湯，主三日死。</p>

<h1>論各傷主方</h1>
<p>傷章門者用當歸紅花飲。傷血海者用血竭煎。傷氣海者用木香飲。傷中脘者用麻黃飲。傷中會者用乳香飲。傷風門者用五加皮飲。傷丹田者用十大功勞飲。傷肺底者香附飲或五加皮飲。傷後脅者用象膽煎。傷腰者用杜仲飲。打傷撲心者用九龍飲。傷頭者用羌活飲。傷手者用桂枝飲。傷囟門者及兩太陽服麻芎丸（眼傷亦可服之）。傷鼻梁及結喉用紫金丹服之。傷兩耳必暈悶，與下傷胸同一治法。傷胸前橫骨下三節必吐血或咯紅痰，服紫金丹童便浸煎，橫骨下服勝金丹收功。傷心坎下必口噤心悶，行動不得，服奪命丹。傷心坎下至小腹，先服猛蠅散，再用行藥。傷膀胱小腹，用灸臍散通之，再服行氣活血藥。腦後傷破服紫金丹、麻芎丸。陰囊碎破先用封藥，再用青鶉絨毛封之，又用桑皮線縫之，再服麻芎丸。傷左乳必發咳，先服紫金丹，次服勝金丸，再服六味地黃丸，方中加止咳藥。傷右乳發呃，先用奪命丹三服，次服猛蠅散，服之後用活血理氣之藥。傷前胸後背用桔梗、青皮為引，服活血理氣之劑。傷手用落得打草煎湯浸洗，服桂枝湯飲。傷腿用兩頭尖膏，再服活血補血藥。傷腰背用麩炒熨，再服煎劑。若腰痛用補骨脂、杜仲、鳳凰衣三味為末，切開豬腰子，入藥在內紮好，加青鹽、陳酒煮食。傷海底穴必因腳踢其氣上衝，覺耳內一聲響，即必暈絕倒地，先服護心散，再服活血藥，若便結用臍熨法。傷尾閭穴（在尻骨盡處），服車前子末七分，米湯下，再以麩皮、蔥姜糟同熱熨之，再服活血之藥。傷膀胱肚腹，服紫金丹，次服行血活血藥加茵陳。如治緩則成黃痛。傷顫門必口噤，目反張，在七日內服奪命丹，七日外用煎劑下之。若傷在上部，忌用行藥，先服紫金丹趕下瘀血，再服行藥。傷血海者，久而成血癖，治法以水拌麵，搓作長條，四圍安定，中放朴硝或芒硝，以紙三四層蓋之，外將腳帶捆定，將炭火燒紅入熨斗內熨之，聞腹中有響聲，血癖已消，再服活血補血之藥。傷氣門者，氣必塞，目反口噤身僵，過不得三時，救遲其氣下降，撒屁則無救矣。此時不可慌張亂治，急以我耳傍其口，聽候其氣息，如無氣者必傷於倒插，須揪其發伏我膝上，輕敲其背，若得氣從口出則醒。或氣門左右受打皆致悶暈，俱不可用表散，左服藥紫金丹，右服奪命湯丹，至三日上必發熱，仍服表汗藥去風可也。</p>
