<header data-type="book">
<h1>增訂十藥神書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>葛可久</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1348">公元1348年</data></dd></div>
</dl>
</header>

<h1>原序</h1>
<p>余自髫稚學業醫道，考究方脈，三十餘年，遍歷江湖，多學廣博者，不過言語文字形容之耳，及至用藥治病，皆不能捷。是以日夜苦心用志，務在中病。後遇至人，同處三月。斯人極明醫道，精通方術，用藥如發矢，無不中的。余曰：必神人也！遂拜為師，得授奇方一冊，閱之，或群隊者，或三四味者，皆余目觀至人用效者也，使予如久旱逢霖，夜行得月，心中豁然。自此回至吳中，一用一捷，無不刻驗。信乎奇方，可鋟梓者也。余以三餘暇日，將至人所授奇方，並日用決效之法，類成一帙，名曰《十藥神書》。蓋用效者，輒記錄之。今西浙大癡道人與余通家之好，用禮求授，故錄以奉養生濟人之功用爾。</p>
<p><u>時至正戊子春正月三陽日可久書於姑蘇春先堂</u></p>

<h1>潘序</h1>
<p>余奉使渡臺後，感受海外瘴癘，吐血咳嗽，公餘繙閱是編，照方試服，不旬日血止而嗽亦平矣。深服是編十方治法，為切中窾要。蓋吐血原於肺胃上逆，十灰散用柏葉以斂肺，大黃以降胃，牡丹皮、山梔等味以瀉肝膽之火，然後清金補土，固其營衛，以次奏功，焉得不愈？經陳修園先生逐方詳註，極為精當。余又以己意及名人所論，隨筆添注於上。汪子用大令索閱是編，讀而好之，用之有效，因為付梓，剞劂既竣，並乞弁言。</p>
<p><u>光緒己卯秋吳潘霨書於鄂署之精白堂。</u></p>

<h1>周序</h1>
<p>予讀此十方，俱出人意表，其間次序緩急，可為千百世法，即不必十方並用，要無能出其範圍者矣。一方之中，自得肯綮，即不必全用其藥，亦可以細推其理矣。乃今日之治血症者，輒用六味地黃增減，冀其收功，皆由《醫貫》入手，而未嘗從《神書》體會者也。彼謂腎水衰則火炎為患，壯水之主，可鎮陽光也。孰知人之犯此病者，陰虛固多，而他因得亦復不少。假如從勞力而得者，其傷在足太陰矣；從憂思而得者，其傷在手少陰矣；從嗜飲而得者，其傷在手太陰矣；從憤怒而得者，傷又在足厥陰矣。皆致吐血、咳血、咯血等症，豈一壯水可以勝其任乎？總之，人身之血，附氣而行者也。一臟傷則氣必不調，而血遂溢於外，故逆則上出，墜則下行，滯則阻痛，寒則凝，熱則散，此自然之勢也。後之君子於診視之際，聞問之餘，斟酌而得其情否乎？果能於此著眼，視其病之所傷在何臟？脈之所傷在何部？時之所值在何季？思過半矣。余曾治一咯血之人，平日極勞，每咯紫黑色俱成小塊者，然必是飽食則多，少食則少，不食則或少或無。予以韭汁、童便、製大黃治之，二服而安，後以補中益氣加血藥愈。而知者以為怪妄，予謂極平常。蓋實從《神書》究心，而置《醫貫》為談料者也。</p>
<p><u>康熙二十六年五月吳門周揚俊識於星沙寓中</u></p>

<h1>十藥總論</h1>
<p>夫人之生也，皆稟天地之氣而成形，宜乎保養真元，固守根本，則一病不生，四體輕健。若曰不養真元，不守根本，病即生矣。根本者，氣血精津也。予得先師之教，萬病無如癆症之難，蓋因人之壯年血氣充聚，津液完足之際，不能守養，惟務酒色，豈分飢飽，日夜耽欲，無有休息，以致耗散精液，則嘔血吐痰，骨蒸煩熱，腎虛精竭，形羸，頰紅，面白，口乾咽燥，小便白濁，遺精盜汗，飲食難進，氣力全無。斯因火乘金位，重則半年而斃，輕則一載而傾。況為醫者，不究其源，不通其治，或大寒大熱之藥，妄投亂進，不能取效。殊不知大寒則愈虛其中，大熱則愈竭其內，所以世之醫者，無察其情。予師用藥治癆，如羿之射，無不中的。余以用藥次第，開列於後，用藥之法，逐一條陳。如嘔血咳嗽者，先服十灰散劫住，如不住者，須以花蕊石散止之，大抵血熱則行，血冷則凝，見黑則止，此定理也。止血之後，患人必疏解其體，用獨參湯補之，令其熟睡一覺，不要驚動，醒則病去六七矣，次服保真湯止嗽寧肺，太平丸潤肺扶痿，消化丸下痰疏氣，保和湯分治血盛、痰盛、喘盛、熱盛、風盛、寒盛六事，加味治之，余無加法。又服藥法曰：三日前服保真湯，三日後服保和湯，二藥相間服之為準，每日仍濃煎薄荷湯灌漱喉中，用太平丸徐徐嚥下，次噙一丸，緩緩化下，至上床時候，如此用之，夜則肺竅開，藥必流入肺竅，此訣最為切要。如痰壅，卻先用餳糖烊消化丸百丸吞下，又依前嚼太平丸，令其仰臥而睡，嗽必止矣。如有餘嗽，可煮潤肺膏服之，復其根本，完其真元，全愈之後，方合十珍丸服之，此謂收功起身藥也。前藥如神之妙，如神之靈，雖岐扁再世，不過於此，籲！世之方脈用藥，不過草木金石，碌碌之常耳，何以得此通神訣要奇異之靈也？余蒙師授此書，吳中治癆何止千萬人哉！未嘗傳與一人，今衛世恐此泯失，重次序一新，名曰《十藥神書》，留遺子孫以廣其傳矣。</p>

<h1>甲字十灰散</h1>
<p>治癆症，嘔血、吐血、咯血、嗽血、先用此藥止之。</p>
<p>大薊　小薊　荷葉　扁柏葉　茅根　茜草根　山梔　大黃　牡丹皮　棕櫚皮（各等分）</p>
<p>上各燒灰存性，研極細末，用紙包，碗蓋於地上一夕，出火毒。用時先將白藕搗汁，或蘿蔔汁磨京墨半碗，調服五錢，食後服下，如病勢輕，用此立止，如血出成升斗者，用後藥止之。</p>
<p>十灰大小薊大黃，梔子茅根茜草根，側柏葉同荷葉等，棕櫚皮並牡丹嘗。</p>
<p>陳修園按：前散自注云：燒灰存性，今藥肆中止知燒灰，則色變為黑，而不知存性二字，大有深義。蓋各藥有各藥之性，若燒之太過，則藥成死灰無用之物矣。唯燒之初燃，即速放於地上，以碗覆之，令滅其火，俾各藥一經火煉，色雖變易，而本來之真性俱存，所以用之有效，人以為放地為出火氣，猶其淺焉者也。然余治證四十餘年，習見時醫喜用此藥，效者固多，而未效者亦復不少，推原其故，蓋因制不如法，亦因輕藥不能當此重任，必須深一步論治。審其脈洪面赤，傷於酗醉惱怒者，為火載血而上行症，余制有惜紅丸，日夜三四服，但須以麻沸湯泡服，不可煮服為囑。審其素能保養，脈沉而細，面赤淡白，血來時外有寒冷之狀者，為陽虛陰必走症，余制有惜紅散加鮮竹茹，日夜服三劑，其藥之配合，散見於拙刻各種中，茲因集隘，不能備登。</p>

<h1>乙字花蕊石散</h1>
<p>五臟崩損，湧噴血出成升斗者，用此止之。</p>
<p>花蕊石（火煅，存性，研為粉，不拘多少）</p>
<p>上用童便一盅，頓溫調末三錢，甚者五錢，食後服下。男子用酒一半，女人用醋一半，與童便和藥服，使瘀血化為黃水，服此以後藥補之。</p>
<p>潘按：一治產後敗血不盡，血迷血暈，胎衣不下，脈急，不省人事，但心頭溫者，急用一服灌下，瘀血化水而出，其人即蘇，效驗如神。</p>
<p>花蕊石須火煅研，燉分酒醋和童便，功能化瘀為黃水，輕用三錢重五錢。</p>

<h1>甲乙二方論</h1>
<p>治吐血者，兢推可久。而葛先生首以二方為止血要著，明明劫劑，毫無顧忌。予由繹之，始知葛先生意之所到，理之精也。人生陽根於陰，陰氣虧則陽自勝，上氣為之喘促，咳吐痰沫，發熱面紅，無不相因而致，故留得一分自家之血，即減得一分上升之火，易為收拾。何今日之醫，動以引血歸經為談，不可概用止血之味，甚至有血溢於外，吐出亦美，壅反為害。遂令病者信之，遷延時日，陰虛陽旺，煎熬不止，至於不救，果誰之咎？倘謂引經，可必不妨少俟幾日，後用補陰，元神可復。吾恐有形之血，豈能使之速生？而無偶之陽，何法使之速降？予所以一再思惟，而悟先生急於止血之大旨也。</p>
<p>潘按：《金匱》治虛癆症，以補虛、祛風、逐瘀為三大綱，此不易之準繩。</p>
<p>陳修園按：虛癆症，《金匱》以桂枝加龍骨牡蠣湯，從腎虛以立法；建中湯，從脾以立法；黃耆建中湯，從氣血兩虛以立法；八味地黃丸、天雄散、溫其下元，從脾腎氣血之總根處以立法，是以補虛為一大綱也。以薯蕷丸治風氣百疾，虛羸諸不足，是以祛風為一大綱也。以大黃䗪蟲丸，治乾血成癆，是以逐瘀為一大綱也。三綱鼎足，為此症不易之準繩。今葛仙翁以花蕊石散，繼於十灰散之後，雖云止血，實欲使瘀血化為黃水而不見血也。然自余思之，吐血既止，而離經之血，蓄而不行，不可不用此散化之。若血來勢如湧泉，相續不絕，竟用此散，令其盡化為水，是令一身之血，俱歸烏有，尚有生理乎？讀書不可死於句下，此其一也。且三大綱因虛而成癆，醫書恆有治法，而因風而致者，言之頗罕，而因瘀血而致者，除仲景《金匱》大黃䗪蟲丸，仲景小品百癆丸外，未有發明其旨。且《金匱》以薯蕷丸與大黃䗪蟲丸並舉，意以風氣不去，則足以賊正氣而生長不榮，乾血不去，則足以留新血而滲灌不周，怯症種種所由來也。余治吐血諸藥不止者，用《金匱》瀉心湯，百試百效，其效在生大黃之多，以行瘀也。附錄仲景百癆丸方，當歸炒乳香沒藥各一錢，人參分數闕，虻蟲十四個去翅足，水蛭十四個，炒桃仁十四粒，去皮尖，大黃四錢，蜜丸如梧桐子大，都作一服可百丸，五更用百勞水下，取惡物為度，服白粥十日。百勞水者，杓揚百遍，即甘瀾水也。（䗪蟲，一名地鱉。）</p>
<p>潘按：薯蕷丸治虛癆諸不足，風氣百疾。䗪蟲丸治五癆諸傷，內有乾血。肌膚甲錯，風氣不去，則足以賊正氣而生長不榮，以薯蕷丸為要方。乾血不去，則足以留新血而灌溉不周，以䗪蟲丸專治瘀血成癆之症。</p>

<h1>丙字獨參湯</h1>
<p>止血後，此藥補之。</p>
<p>大人參（二兩，去蘆）</p>
<p>上每服水二盞，棗五枚，煎一盞細呷之。服後熟睡一覺，後服諸藥除根。</p>
<p>功建三才得令名，陰陽血脫可回生，人參二兩五枚棗，服後方知氣力宏。</p>
<p>潘按：世之用參者，或以些少姑試之，或加他味以監製之，其權不重，力不專，人何賴以生？</p>
<p>古人多用於大汗大下之後，及吐血、血崩、血暈諸症，惟咳嗽去之。</p>

<h1>丙字人參湯論</h1>
<p>凡失血後，不免精氣怯弱，神思散亂。前方雖有止血之功，而無補益之力。故有形者之陰，不能即復，而幾微之氣，不當急固乎？頓服參一兩，不但脫血益氣，亦且陽生陰長。觀先生自注云：宜熟睡一覺，使神安氣和，則煩除而自靜。蓋人之精神由靜而生，亦由靜而復也。奈何今之醫者，遇吐血家，乃視參如毒耶！</p>
<p>陳修園按：《神農本草經》云：人參氣味甘微寒無毒，主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目、開心、益智，久服輕身延年。經文只此三十七字，其提綱云：主補五臟，以五臟屬陰也，精神不安，驚悸不止，目不明，心智不足，皆陰虛為亢陽所擾也。今五臟得甘寒之助，則安之定之，止之明之，開之益之之效矣。曰邪氣者，非指外邪而言，乃陰虛而壯火食氣，火即邪氣也，今五臟得甘寒之助，則邪氣除矣。細味經文，無一字言及溫補回陽，何後人信從宋元無稽之說，而反疑開天明道之聖經耶？此症用至二兩，以失血之後，臟陰太虛，陰虛則不能維陽，陽亦隨脫，故用二兩，任專力大，可以頃刻奏功。但人參雖有補虛之功，而咳嗽者忌之。乘此大血甫止之際，咳嗽未作，急急飲之。若得熟睡一夜，則血從心臟而生，沛然莫之能御，即所失成升成鬥，周時補之而有餘矣。若睡未足而驚醒之，則血亦停而不生矣。若血止一二三日而始服之，不徒無益而有害。周氏舊注亦超，但以人參為補氣之品，未免囿於俗見。然人參補陰與地黃龜板之一於補陰者不同，按其字義，參者，參也，其功與天地人並立為三，且能入肺，肺為一身之橐龠，謂為益氣，卻亦近道，程山齡謂貧者以歸脾湯代之，然不如取當歸補血湯二劑，入童便二茶碗，隔湯燉二炷香，取汁頓服之。</p>

<h1>丁字保和湯</h1>
<p>久嗽肺痿。</p>
<p>知母　貝母　天門冬　款冬花（各三錢）　天花粉　薏苡仁　杏仁　五味子（各二錢）　甘草　兜鈴　紫菀　百合　桔梗　阿膠　當歸　地黃　紫蘇　薄荷　百部（各一錢五分）</p>
<p>上以水二盞，生薑三片，煎一盞，入飴糖一匙調服，日三，食後各進一盅，與保真湯相間服。</p>
<p>血盛，加炒蒲黃、茜根、藕節、大薊、小薊、茅花、當歸。</p>
<p>痰盛，加南星、半夏、陳皮、茯苓、枳實、枳殼。</p>
<p>喘盛，加桑白皮、陳皮、蘿蔔子、葶藶子、蘇子。</p>
<p>熱甚，加山梔子、黃連、黃芩、黃柏、連翹、大黃、款冬花。</p>
<p>風甚，加荊芥、防風、菊花、細辛、香附子、旋覆花。</p>
<p>寒甚，加人參、桂枝、臘片、芍藥。</p>
<p>知貝款天冬各三，二錢杏薏味天花，錢半二百阿歸地，紫菀兜蘇薄桔甘。</p>
<p>潘按：與太平丸藥品有十味同，既有寧嗽金丹，不必再服此湯。薏苡仁以及桔梗、貝母，見《千金》、《外臺》，治肺痿，甘草、乾薑，《金匱》治肺冷之方。</p>
<p>紫菀、款冬、五味、百部、地黃、阿膠、兜鈴、杏仁、甘草，亦從《外臺》止嗽生津各方採來，所謂複方是也。肺症生薑不可輕用。</p>

<h1>加減歌</h1>
<p>歸茅大小薊蒲黃，藕節茜根血盛當，痰盛南星陳半入，茯苓枳實殼須將。喘加桑白陳皮等，蘿蔔葶蘇三子詳，熱甚芩連梔柏款，連翹合併大黃吞。風加香附荊防細，旋覆菊花六件良，寒甚加參兼牡桂，芍加蠟片不須言。</p>
<p>陳修園按：此方治久嗽，不過類集順氣化痰，清火解鬱之品，以多為貴，絕無把柄。抑又思之，先生有道之士也，其方又得之神人，何以庸陋至此？且蘇葉、桔梗、薄荷辛散，非久嗽所宜，百部、款冬苦溫，非血後所宜，兜鈴、花粉、杏仁亦為中虛所忌，知母、貝母、天門冬、地黃、阿膠、百合性寒而滯，力亦輕微，其去市肆中之問症立方，搖鈴輩之籠統配合以零賣者幾希耶！然此方屢見於大家之書，如明季龔太醫各刻，及《萬病回春》、《壽世葆元》等本亦載之，但方名間有不同，藥品偶有增減，村醫用之，往往見效。余向以病人壽算未終，總不歸功於此方，亦隨見而隨忘之耳。今得此書，始知禮失而求諸野，霑體塗足中大有人焉！轉悔從前之肉眼也，究於此方未得其旨，大抵奇之弗去而偶之，一方不去而復之，如韓信將兵，多多益善，且其輕重，大有法度。加生薑之辛溫以潤肺，飴糖之甘，培土以生金，卓然大家，可知仙方非凡人所能窺測也。但喘盛加蘿蔔子，與地黃相反，臨時自當去取。</p>

<h1>戊字保真湯</h1>
<p>治虛弱骨蒸體虛。</p>
<p>當歸　生地黃　白朮　黃耆　人參（各三錢）　赤茯苓　陳皮　赤芍藥　白茯苓　甘草　厚朴（各一錢五分）　天冬　麥冬　白芍藥　知母　黃柏　五味子　地骨皮　熟地黃　柴胡（各一錢）</p>
<p>每服水二盞、姜三片、棗五枚，煎，與保和湯間服，每日一服。</p>
<p>驚悸，加茯神、遠志、柏子仁、酸棗仁。</p>
<p>淋濁，加萆薢、烏藥、豬苓、澤瀉。</p>
<p>便澀，加石葦、萹蓄、木通、赤苓。</p>
<p>遺精，加龍骨、牡蠣、蓮心、蓮鬚。</p>
<p>燥熱，加石膏、滑石、鱉甲、青蒿。</p>
<p>盜汗，加浮小麥、牡蠣、黃耆、麻黃根。</p>
<p>參耆歸地術三錢，赤白茯苓樸草兼。赤芍陳皮錢半等，味柴白芍二冬編。骨皮熟地和知柏，各一錢加薑棗煎。</p>

<h1>加減歌</h1>
<p>骨蒸又見悸和驚，棗遠茯神柏子仁。淋濁萆烏豬澤入，遺精龍牡蓮鬚心。小便澀要加石葦，萹蓄木通共赤苓。燥熱青蒿石滑鱉，麻根盜汗蠣浮耆。</p>

<h1>丁戊二湯方論</h1>
<p>一名保和者。因失血之後，氣血未調，率難把握。然調血者，以氣為主。調氣者，實肺為司。故大旨以瀉肺中之伏熱，益下焦之化源，此其治也。若和而失，其所以為和，則保亦失，其所以為保矣！至保真則氣血之味俱等，大旨以甘溫為主，甘涼佐之，而苦寒又佐之，未常禁用苦寒也，而與今日之用寒涼者異矣。曰保真者，大輔其正，兼瀉其邪，使生機活潑，油油然而不已也。兩方如法大備，然非盡用，亦姑列之，以伺去取耳。學者須知。</p>
<p>陳修園按：此方即十全大補湯，去川芎、肉桂，加赤苓、赤芍、生地、天冬、麥冬、五味子、柴胡、厚朴、陳皮、地骨皮、知母、黃柏、是也。氣血雙補之中，加柴胡、地骨以疏肝邪，肝火即雷火也。知母、黃柏以降腎火，腎火即龍火也。又合麥冬、五味子為生脈散，俾水天一氣。又合天門冬為三才湯，以位育一身。最妙是陳皮、厚朴、甘草入胃，寬中行滯，導諸藥各盡其運動之力，而協和共濟，且藥品輕重得宜，大有法度。但芍藥以花之赤白別之，其根則不可辨也。藥肆中另有一草，葉小根大，與芍藥無異，余家山中親見採藥人握取盈囊，問之，則曰藥鋪所備赤芍，皆此種也。始信《本草崇原》注云：赤芍不知何草之根，今外科小兒科習用害人之說，非虛語也，方中當去之。</p>

<h1>己字太平丸</h1>
<p>治久嗽肺痿肺癰。</p>
<p>天門冬　麥門冬　知母　貝母　款冬花（各二兩）　杏仁　當歸　熟地　生地　阿膠珠　黃連（各一兩五錢）　蒲黃　京墨　桔梗　薄荷（各一兩）　白蜜（四兩）　麝香（少許）</p>
<p>上為細末和勻，用銀石器，先下白蜜煉熟，後下諸藥末攪勻，再上火，入麝香略熬三二沸，丸如彈子大，每日三食後細嚼一丸，薄荷煎湯，緩緩化下。臨臥時如痰盛，先用飴糖拌消化丸吞下，卻噙嚼此丸，仰臥使藥流入肺竅，則肺清潤，其嗽退除，服七日病痊。凡咳嗽只服此藥立愈。</p>
<p>二兩三冬二母如，歸連二地杏阿珠，各需兩五餘皆兩，京墨蒲黃薄桔俱。</p>
<p>潘按：與保和湯藥品有十味同，茲加金箔用蠟丸，名為寧嗽金丹，甚效。鎮定魂魄、寧安驚悸，連服五七丸即愈。心岸配送吳蓮叔見之佩甚，稱讚不已。</p>

<h1>己字太平丸論</h1>
<p>太平丸，非正方也。先生意計周密，恐人氣血漸復之後，尚留一分未盡，必有一分未妥。特予宴息之時，噙服此丸，使人於靜中不知其所以然，而藥力無不到，此少許麝香之所以為神妙也。</p>
<p>陳修園按：方中潤燥化痰養液，少佐薄荷以利氣，無甚深義。唯雜以黃連之苦寒，麝香之走竄，不幾令人駭而吐舌乎！而不知令人駭處，正是神仙妙用處。《神農本草經》云；黃連氣味苦寒，苦為火之本味，以其味之苦而補之，而寒能勝火，即以其氣之寒而瀉之，一物而兼補心瀉心之妙。故凡久嗽，肺痿肺癰，得此則火不剋金，而金自受益矣。《本草經》又云：麝香主辟惡氣，去三蟲，蓋勞嗽不已，則為瘵病而生蟲，非泛常之藥所可治，唯麝為諸香之冠，香者天地之正氣也，正能辟邪而殺蟲，瘵病之有蟲，如樹之有蠹，唯先去其蠹而後培其根，則發榮滋長矣。況咳嗽不離於肺，肺有二竅，一在鼻，一在喉，肺竅宜開不宜閉，喉竅宜閉不宜開，今鼻竅不通，則喉竅將啟而為患，必得麝香之香氣最盛，直通於鼻竅而開之，則呼吸順而咳嗽之病除根矣。舊注未闡出所以然之妙，今特補之。</p>

<h1>庚字沉香消化丸</h1>
<p>治熱嗽壅盛。</p>
<p>青礞石　明礬（飛，研細）　豬牙皂角　生南星　生半夏　白茯苓　陳皮（各二兩）　枳殼枳實（各一兩五錢）　黃芩　薄荷葉（各一兩）　沉香（五錢）</p>
<p>上為細末和勻，薑汁浸神麯為丸，梧桐子大，每服一百丸，每夜臨臥餳糖拌吞，噙嚼太平丸，二藥相攻，痰嗽除根。</p>
<p>南星皂半茯苓陳，礞石明礬二兩均，枳實殼皆需兩五，薄芩一兩五錢沉。</p>

<h1>庚字消化丸論</h1>
<p>人見此數味，或畏其狠，即予亦嫌其峻。然先生注云：痰熱壅盛，乃以上治。其不至壅盛者，稍稍減服四五十丸可也。況前先服獨參，繼用保真，則神氣亦漸復矣。暫用幾服，胡為不可？若情形消瘦者，未可用也。是又在學者臨證自明耳。</p>
<p>陳修園按：此方即滾痰丸去大黃，加明礬、皂角、南星、半夏、茯苓、陳皮、枳殼、枳實、薄荷葉、是也。方面略同，而功用則有南轅北轍之判，彼以大黃領各種化痰之藥，從大腸一滾而下，而不知不得痰之所在，徒下其糞，則反傷胃氣也。蓋痰者水也，水者氣也，水性下行，得火則上沸而為痰，方中所以取用黃芩以清火。水非氣不行，氣滯則水亦滯，遂停瘀不行而為痰，方中所以取用沉香、陳皮、枳殼、枳實等藥，重重疊疊，以順氣、化氣、行氣，且水汜濫則患大，由於地中行則天下安。方中取半夏、南星之辛溫，茯苓之淡滲，以燥治濕，即以土製水之義。語云：見痰休治痰是也。方中唯礞石化痰為水，質重而力大，薄荷利氣化痰，體輕而行速，二味為治標之藥，亦輕重各得其宜。最妙是明礬皂角二味，凡水渾濁，入明礬攪之，則濁者立刻轉清矣。衣服汙穢，以皂角洗之，則汙者隨滌而淨矣。古人制方之周到如此，所疑者，虛勞之症，不能當此峻劑，然病重藥輕，多致誤人，喻嘉言譏為養殺，不如籌一生路而為破釜沉舟之計，尚有餘望。每見痰嗽不絕，肌骨消瘦，聲啞骨蒸，五更更熱而汗出，早飯後皮膚雖熱，而脊背畏寒，手指微冷，此癆損既成，十不救一之症。醫者議論互異，而一種迂儒，謂肺虛液少，但云保肺，尤其淺也。必以六君子湯、歸脾湯、補中益氣湯之類常服，土旺自可生金，毋區區於保肺。因前病金受火克，但知清心，治其末也，必以六味地黃湯、瓊玉膏、三才湯、都氣丸、八仙長壽丸之類常服，脾水足自能濟火，毋汲汲以清心也。此為東垣立齋之法，人人信服而不疑。且有更進一步，自誇為得張景岳之心法，謂真水為元陰，真火為元陽，皆根於命門，元陰之水中生艮土而上潤肺金，元陽之火中生坤土而上通心火，陰陽互根而不相離，六味湯丸、左歸飲丸、八味湯丸、右歸飲丸皆為極品，自此說一行，而虛勞之證，十患九死，曷不思脾為諸臟之母，當無病時，常服補藥，尚難進其飲食，長其肌肉，至虛損病篤之時，將何法補其不足，且能令其有餘以生金耶？腎為壽命之根，當無病時常服補藥，尚難充其精氣，強其腰膝，至虛損病篤之時，又何法補其不足，且能令其有餘以濟火耶？鄉愿為德之賊，吾謂庸醫之陰毒，更甚妄醫之陽毒也。近日更有襲取葉天士一派，遇有感冒，即用前胡、乾葛、杏仁、桑葉、桔梗、紫蘇、防風、茯苓、橘紅、蘇法夏、神麯、穀芽、麥芽、山楂炭、甘草為主方，頭痛加川芎、白芷，身痛加羌活、秦艽，咳嗽加紫菀、百部，口渴加麥冬、花粉，小便短少，加滑石、木通、澤瀉、豬苓，腹脹加厚朴、枳實、蘿蔔子、砂仁殼，皮膚作癢，加蟬退、白蒺藜、連翹，喉痛加元參、射干、牛蒡子、貝母，寒熱往來，加柴胡、酒芩，腰膝痛加牛膝、杜仲，腳腫加木瓜、防己，病從怫鬱，則加黑鬱金、香附，發熱不退，加白薇、地骨、青蒿、白芍，數日未愈，曰當略調其氣血，加當歸，酒芍，何首烏，乾地黃、丹參、沙參等，出入互用。至於久病虛人，則以遼東海參、燕窩、鮑魚、穀芽、首烏、炙草等為主，其參、朮、耆、苓、二地、桂附、吳萸、炮姜等，隨症加入，而金銀花炭、枸杞炭、菊花炭、白朮炭、地黃炭、鮮桑枝、金銀花藤、泡淡乾薑渣、泡淡附子、泡淡吳茱萸、秫稻根鬚、鱉血柴胡、五色石芸、冬瓜子、整個生扁豆、黑穭豆皮、綠豆皮、西瓜翠皮之類，曰我是葉天士一派，與恆法不同。而不知葉天士居江蘇，該處人腠理較薄，外邪易入而亦易出，不用仲景正法，故於《傷寒論》一部，未得師授，議論甚覺隔靴，其於雜症，胸中頗有書卷，加以絕世聰明，臨症甚多，所以名噪一時。而虛勞一症，專祖《十藥神書》，不必全用其方，神而明之，信手拈來，頭頭是道，何若輩僅於《臨症指南》中，食其糟粕，而偽託之也耶？</p>

<h1>辛字潤肺膏</h1>
<p>久嗽肺燥肺痿。</p>
<p>羊肺（一具）　杏仁（淨研）　柿霜　真酥　真粉（各一兩）　白蜜（二兩）</p>
<p>上先將羊肺洗淨，次將五味入水攪黏，灌入肺中，白水煮熟，如常服食，前七藥相間服之亦佳。</p>
<p>真粉真酥並柿霜，杏仁淨研兩平當。蜜加二兩調黏用，灌入肺中水煮嘗。</p>

<h1>辛字潤肺膏論</h1>
<p>血去則燥，燥則火旺，肺必枯。欲從腎源滋水，而不先滋水之母，有是理乎？然肺為多氣少血之臟，故一切血藥概不欲用。以羊肺為主，諸味之潤者佐之，人所易能也。若以真粉之甘寒，不獨涼金，且以培土，人所未知也。潤肺之中，意則甚美，故曰：醫者，意也。</p>
<p>陳修園按：方中真粉，即《傷寒論》豬膚湯之白粉也。本文未明為何粉，一說即天花粉，主滋潤肺金，取金水相生之義。一說即粳米粉，以少陰之水火交會於陽明中土，粳米補陽明中土，交水火而止煩燥，而且藉土氣以生金。二說俱有深義，余每用則從後說，今讀先生此方，又閱周氏所注，真白粉即天花粉無疑。嘉慶丁巳歲，余應興泉觀察阿公，泉州郡伯張公聘，主清源書院講席。日者用天花粉一味，藥鋪送白粉一包，其色晶瑩潔白，迥出諸藥之上。余傳問之，答曰：此物最賤，而製造卻難，惟冬月葉落，其氣盡歸於根，掘取，以法取汁，和水淘洗，澄之，曬乾收貯，才有如此寶色，若無此色，恐偽物弗效，不如止用天花粉片之較妥也。今先生加一真字，何等鄭重其辭。推而論之，《金匱》於蟲病制有甘草粉蜜湯以殺蟲，若虛癆久嗽，為瘵蟲蝕蟲，鉛粉性毒，能殺三蟲，今雜於蜂蜜柿霜羊肺之中，誘蟲食之，旋而甘味盡，毒性發而蟲患除矣。此非正解，亦可備之，以啟悟機。</p>

<h1>壬字白鳳膏</h1>
<p>一切久怯極虛憊，咳嗽吐痰，咯血發熱。</p>
<p>黑嘴白鴨（一隻）　大京棗（二升）　參苓平胃散（一升）　陳煮酒（一瓶）</p>
<p>上將鴨縛定腳，量患人飲酒多少，隨量以酒燙溫，將鴨項割開，滴血入酒，攪勻飲之，直入肺經，潤補其肺。卻將鴨干撏去毛，於脅邊開一孔，取去腸雜拭乾，次將棗子去核，每個中實納參苓平胃散末，填滿鴨肚中，用麻扎定，以砂瓶一個，置鴨在內，四圍用火慢煨，將陳酒煮作三次添入，煮乾為度，然後食棗子，陰乾，隨意用參湯化下，後服補髓丹，則補髓生津，和血順氣。</p>
<p>參苓平胃散一升，京棗二升酒一瓶，黑嘴白毛肥鴨一，照方如法制來斟。</p>
<p>陳修園按：怯而日久，虛極而憊，而且咳嗽不已，則肺日因嗽而動擾矣。吐痰不已，則肺因痰而壅滯矣。咯血發熱，壯火食氣，不特肌肉消瘦，而且氣衰言微矣，此為極症，恐非無情之草木所能治。故用黑嘴白鴨一隻為君，蓋以毛白者味較清而入肺，嘴黑者骨亦黑而入腎，取金水相生之義，亦資異類有情之物以補之也。最妙入京棗二升，取其甘溫以補胃。平胃散一升，取其消導以轉胃，胃為五臟六腑之本，胃安則臟腑俱安，與保真湯佐以厚朴同義。葉天士於此書亦參透其旨，但其方隨症加入，以致學徒刊刻匯案，用厚朴者，於虛癆門止收一方，意者，中人以下不可以語上，重其道而不輕傳歟，修園則異於是。</p>

<h1>癸字補髓丹</h1>
<p>久癆虛憊，髓干精竭，血枯氣少，服煎藥愈後，服此藥。</p>
<p>豬脊膂（一條）　羊脊膂（一條）　團魚（一枚）　烏雞（一隻）</p>
<p>四味制淨，去骨存肉，用酒一大碗，於沙甕內煮熟擂細，再用後藥。</p>
<p>大山藥（五條）　蓮肉（半斤）　京棗（一百枚）　霜柿（十個）</p>
<p>四味修制淨，用井花水一大瓶，於沙甕內煮熟擂細，於前熟肉一處，用慢火熬之，卻下。</p>
<p>明膠（四兩）　黃蠟（三兩）</p>
<p>上二味逐漸下，與前八味和一處，研成膏子，和平胃散末，四君子湯末，並知母黃柏末各一兩，共一十兩，搜和成劑，如十分堅硬，入白蜜同熬，取起放青石上，用水捶打如泥，丸如梧桐子大，每服一百丸，不拘時候，棗湯下。</p>
<p>豬羊脊膂雞團魚，煮擂宜當去骨需。霜柿十枚京棗百，建蓮八兩五條薯。熟和前味熬文火，黃蠟明膠漸入諸。知柏四君平胃末，各和一兩制丸茹。</p>
<p>陳修園按：久癆虛憊，髓干精竭等症，服煎藥愈後，服此藥二十字，是為虛癆既愈症，籌一善後之計，實為虛癆窮極症，覓一回春之路也。虛癆至六極之候，凡和解溫涼補瀉之藥，無不歷試。初服間或少效，久之無不增劇，名醫俱束手無策。然藥以治病，食以養人，二語參透，大有妙議。蓋得病日久，日在藥中，禾黍之腸，改充雜草，腸胃之所惡者藥也，若更以藥投之，是重困之而不能堪矣。先生用山藥、蓮肉、京棗、霜柿，取日食之果菜，以悅脾胃之性情，用豬髓、羊髓、團魚、烏雞、牛膠，日用之肉食，以充脾胃之虛餒，即扁鵲所謂損其脾者，調其飲食。《內經》所謂精不足者，補之以味是也。惟方中黃蠟一味，俗醫見之，無不驚駭。《本草備要》謂服此物，著於腸胃，令人瀉利不止，而不知此物性澀，豈能作瀉？威喜丸用此熔化為丸。王晉三注云：黃蠟性味緩澀，有續絕補髓之功，專調斫喪之陽，分理潰亂之精，故為元陽虛憊，遺濁帶下之神品。俗傳本草之害人，往往如此，況此丹盡屬骨肉有情之品，溫養吾身之氣血，與無情之草木懸殊。葉天士用人乳粉、秋石霜、血餘灰之類，引人身之膏脂，以為繼續之計，亦由此方中悟出。若紫河車汙穢有毒，服之無不發熱減食，豈非惑於以人補人之說，忍心害理，適以自凊也耶？又按：明膠是取嫩肥黃牛皮，以河水製造為之，或用牛肉煎法去滓，再熬成膏，每斤入薑製半夏末二兩，名為霞天膏，治癆傷久嗽。乾隆丁未，余肄業鰲峰書院，孟瓶庵師言其督學四川時，患嗽數月，同寅制饋，因素不食牛，拜受而不敢嘗。署中閱卷張友，患痰症二十餘載，喜而嘗之，膠痰成塊，吐出甚多，半月全愈，身體立見壯健，附志之以廣其傳。</p>
<p>王節齋云：人若色欲過度，傷損精血，必生陰虛火動之病，睡中盜汗，午夜發熱，哈哈咳嗽，倦怠無力，飲食少進，甚則痰涎泄血，咯吐出血，或咳血、吐血、衄血，身熱脈沉數，肌肉消瘦，此名癆瘵，最重難治。輕者用藥數十服，重者期以歲年，然必須病人惜命，堅心定志，絕房室，息妄想，戒惱怒，節飲食，以自培其根，此謂內外交治，可獲全功。</p>
<p>潘按：古人所謂虛勞，皆是純虛無陽之症，與近日之陰虛火旺者，吐血咳嗽正自相反，誤用必斃。近日吐血咳嗽之病，有似虛勞，其實非虛勞也。當奉此書，細推其理，次第施治，不致害人為幸甚。</p>
<p>周氏總注：予讀此十方，俱出人意表，其間次第緩急，可為千百世法，即不必十方並用，要無能出其範圍者矣。一方之中，自得肯綮，即不必全用其藥，亦可細推其理矣。乃今日之治血症者，輒用六味地黃增減，冀其收功，皆由《醫貫》入手，而未嘗從《神書》體會者也。彼之腎水衰，（足少陰）則火炎為患，壯水之主，可鎮陽光，孰知人之患此病者，陰虛（腎）固多，而他因者，亦復不少。假如從勞役飢飽而得者，其傷在足太陰（脾）矣；從憂患而得者，其傷在手少陰（心）矣；從嗜飲而得者，其傷在手太陰（肺）矣；從憤怒而得者，其傷又在足厥陰（肝）矣。此足致吐血、咳血、咯血等症，豈一壯水可以勝其任乎？總之，人身之血，附氣而行者也。一臟傷，則氣必不調，而血遂溢於外。故逆則上出，墜則下行，滯則阻痛，寒則凝，熱則散，此自然之勢也。後之君子，於診視之際，聞問之餘，斟酌而得其情否乎？果能於此著眼，視其病之所傷在何臟？脈之所傷在何部？時之所值在何季？思過半矣。曾治一咯血之人，平日極勞，每咯紫黑色俱成小塊者，然必是飽食則多，少食則少，不食或少或無，余以韭汁童便製大黃治之，二服可安，後以補中益氣湯加血藥而愈。知者以為怪妄，予謂極平常，蓋實從《神書》究心，而置《醫貫》為談料者也。</p>

<h1>平胃散方（附）</h1>
<p>厚朴（薑製，炒）　陳皮（去白，各五兩）　蒼朮（去皮，米泔浸炒，八兩）　炙甘草（三兩）</p>
<p>本方加人參、茯苓各二兩，即名參苓平胃散。</p>

<h1>四君子湯（附）</h1>
<p>人參　白朮　茯苓（各二兩）　炙甘草（一兩）</p>

<h1>跋</h1>
<p>吾吳天士葉先生，凡治吐血症，皆祖葛可久《十藥神書》，更參以人之性情，病之淺深，隨宜應變，無過不及，治無不愈。然亦治之於初病之時，與夫病之未經深入者。若至五臟遍傳，雖盧扁亦莫可如何矣。家藏此書有年，幾獲脈望，故亟付梓。然書中僅列十方，世皆以方少忽之，不知十方中錯綜變化有幾千百方。故復採周氏之說，使人粗曉，業是者，更察虛損二字，分自上而下，自下而上，自不致概以六味開手矣。古吳瘦樵程永培識。</p>
<p>此葉天士家藏秘書也，前此流傳，皆為贗本。余歸田後，始得原書，重為訂注，附於《傷寒論》、《金匱要略》之後，蓋以《傷寒論》、《金匱要略》為萬古不易之準繩，而此書則奇以取勝也。然奇而不離於正，故可取焉。閩長樂陳念祖識。</p>
<p>姑蘇葛可久先生，精通方術，與丹溪朱彥修齊名。所著《十藥神書》，專治虛損。雖編中僅列十方，而用藥之次第，逐一條陳。吳航陳修園謂其奇而不離於正，誠哉是言也。顧前此流傳，皆為贗本。修園解組後，始得原書，重加註解，將刊附於《傷寒論》、《金匱要略》之後而未果。乙卯歲，萱從舊書坊中，得一鈔本，於今三年矣。遍詢方家，俱無是書，不敢私自秘藏，因並作湯方俚歌，亟謀付梓，以廣其傳，庶不負先生壽世壽人之意云爾。</p>
<p><u>咸豐歲次疆圉大荒落季冬後學林壽萱謹跋</u></p>
