<header data-type="book">
<h1>醫鏡</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>王肯堂</data>撰，<data>蔣儀</data>校訂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1641">公元1641年</data></dd></div>
<div><dt>底本</dt><dd>明崇禎14年刊本（<a href="https://www.digital.archives.go.jp/file/1079246">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>《邶風》有云：「我心非鑑，不可以茹」，則鏡固能茹物者也。而《周禮》言療瘍六養，凡有瘍者，受其藥焉，則天下之能茹藥者，病也。顧參、苓或致殺人，而烏喙還能起死。有茹、不茹，死生皎焉，將毋病者藥之鏡也。何也？以其能茹藥也。然不先有鏡，其病者將毋噬獸人而夏庭無玉，慶為祥麟；魚睫渾而秦照鮮金，估為明月，寒茹其溫，和茹其毒，酸辛寒苦甘濕，骨筋脈氣肉竅，茹各相訛，則制巫彭之丸，不必挾逢蒙之矢；煎空桑之飲，不必設呂雉之筵；定和始之方，亦可廢酇侯之律。吾友蔣子儀用，孝行著於閭門，文章名滿天下，推暨不忍，一草一木之念痛癢生人，取王宇泰先生所授張玄映醫書而讀之曰：是又何待切脈、望色、聽聲、寫形，而後可以湔腸浣胃哉！吾聞古之為鏡者，採精陰陽，取算乾坤，協輝兩曜，通意明神，以防鬼正病。又聞古之名醫，有視神未有形而除之，與見垣一方人者。今病以萬變，方亦隨之，如青黃紫緣在染匠手，如山水人物在畫工手，如龍穴沙水在葬師手，真醫苑中之壽光容成已！操是書也，更何有不茹藥之病乎？非有鑑於其先，烏能使先聖精微益以明著，名為《醫鏡》，洵不誣焉。余承乏建安，維桑菑殣，雖拯濟同懷而鞭長莫及，聞我邑縉紳先生平價賣谷，全活甚繁眾，儀用實左右之，今又剞劂是書，以播海內，谷以救荒，藥以療瘍，不任妒其美事之交擅也已！</p>
<p><u>皇明崇禎辛巳陽月鶴湖柯元芳楚蘅父書於建安公署</u></p>

<h1>卷之一</h1>

<h2>傷寒</h2>
<p>傷寒為諸病之魁，死生繫於數日之內，苟識病不真，用藥一錯，則變異立見。古人有七日不服藥之說，非謂傷寒不可服藥，謂藥之不可輕試也。故見之未審，寧不用藥，豈可妄投之，以速其死耶！</p>
<p>治傷寒者，必先辨其六經之形症，而後可也。如初發於一二日間，便覺頭項痛、腰脊強、而發熱惡寒，乃足太陽膀胱經受病也，而診之則尺寸俱浮焉。以其脈上連風府，故頭項痛；又下至尾閭，故腰脊強；以寒邪在表而不得泄，故發熱惡寒也，而太陽症可辨矣。</p>
<p>太陽病已，以次而傳經，必傳於胃，發於二三日之間，便覺目疼、鼻乾、不得眠、日晡潮熱、不惡寒而反惡熱，乃足陽明胃經受病也，而診之則尺寸俱長矣。以其脈絡於目，故目疼；又挾於鼻，故鼻乾、不得眠；以邪在肌肉之中，故不惡寒而惡熱也，而陽明症可辨矣。</p>
<p>陽明病已，以次而傳經，必傳於膽，發於三四日間，便覺胸脅痛而耳聾、往來寒熱，乃足少陽膽經受病也，而診之則尺寸俱弦焉。以其脈循於脅，故胸脅痛；又絡於耳，故耳聾；以邪在半表半裡，故往來寒熱也，而少陽症可辨矣。</p>
<p>少陽病已，以次而傳經，必傳於脾，發於四五日間，便覺腹滿而咽乾、身無大熱、自利不渴，乃足太陰脾經受病也，而診之則尺寸俱沉細焉。以其脈布於胃，故腹滿；又絡於咽，故咽乾；以邪入於裡，故身無大熱、自利不渴也，而太陰症可辨矣。</p>
<p>太陰病已，以次而傳經，必傳於腎，發於五六日間，便覺口燥舌乾而渴、身不熱，乃足少陰腎經受病也，而診之則尺寸俱沉焉。以脈貫脊，而絡於肺系舌本，故口燥舌乾而渴也；以邪入於陰分，故身不熱也，而少陰症可辨矣。</p>
<p>少陰病已，以次而傳經，必傳於肝，發於六七日間，便覺煩滿而囊縮、身冷如冰，乃足厥陰肝經受病也，而診之則尺寸俱微緩焉。以其脈循陰器，絡於肝，故煩滿而囊縮；以邪入陰分，既深且固，故身冷如冰也，而厥陰症可辨矣。</p>
<p>太陽、陽明，傷寒表症也，宜汗之。少陽，傷寒半表半裡症也，宜和解之。太陰，傷寒邪入於裡也，宜下之。少陰，寒邪入里尤深也，亦宜下之。若手足厥冷，自汗，亡陽者，又宜溫之，而不可輕下也。至於厥陰傷寒，則寒氣固結，非大熱之劑不能除，而承氣湯之類不可用也。觀於此，則六經之形症已明，而用藥可以不錯也。</p>
<p>然陽症易治，陰症難治，而少陰、厥陰為尤難也。況於兩感傷寒，而可以措手乎？</p>
<p>所謂兩感者，何也？假如一日太陽受之，即與少陰俱病，則頭痛、口乾、煩滿而渴；二日陽明受之，即與太陰俱病，則腹滿身熱、不欲食、譫語；三日少陽受之，即與厥陰俱病，則耳聾囊縮而厥逆。若水漿不入，不知人者，六日死。兩感所以不可治者，以其一臟一腑，同受其邪，表症里症，一齊而發，兩邪相迫，陰陽俱病，救其表則里益急，救其里則表益劇，猶外寇方獗，而內又反，既不能安其內，又無以攘其外，必致兩敗而俱傷，豈能兩全而無害？此兩感之所以不救也。</p>
<p>然其間亦有輕重之差焉。表重於里者，宜先救表，而後及於里；里重於表者，宜先救其里，而後及於表。此又求一生於萬死之中，而不忍坐視，故不得已而施其治也。其不兩感於寒，更不傳經者，至七八日間，六經之邪漸退，十二日則精神清爽而自愈矣。</p>
<p>然傷寒傳經亦有不同，未可視以為一定不易之序。有始於太陽，以次傳入陰經，而終於厥陰者；或太陽不傳陽明、少陽，而即傳少陰者；或不由陽經，而直入陰經者；或始終只在一經，而不傳者；或二陽三陽同受，而為合病者；或太陽陽明先後受而為並病者。種種不一，審而治之可也。</p>
<p>然真正傷寒，與感冒傷寒，及似傷寒而非傷寒者，何以辨之？</p>
<p>蓋寒者，冬月嚴凝肅殺之氣也，故自霜降以後，春分以前，皆屬冬令，必此時感寒而即發者，為正傷寒；至春分後發者，名曰溫病；冬傷於寒，春亦不病，至夏而後發者，名曰熱病。夫溫熱二病，既皆得之冬月所傷之寒，宜亦以傷寒名也，而反曰溫病熱病者，何耶？蓋所傷之寒，雖在於冬，而諒其所傷者，必不甚重，故不即發而延於春夏也。春氣溫，夏氣熱，則時令之氣已甚，而冬月之氣無權，所傷之寒，反從春夏而變為溫熱，故以溫熱名也。</p>
<p>其有不因冬傷於寒，而春自傷於風，夏自傷於暑者，則自有傷風傷暑之別，而又不可以溫熱並論矣。或有感於天行時氣而（沿染）相同者，謂之溫疫；或足膝等處，忽然紅腫，發熱頭疼者，謂之腳氣。皆似傷寒，而非傷寒也。其餘傷中之雜症頗多，不能枚舉，要皆諸病門中所有者。但雜症一兼寒熱，即謂傷寒雜症，醫者以意求之，則不言而自喻矣。</p>
<p><u>藥例</u></p>
<p>太陽症，頭項痛，腰脊強，發熱無汗，宜以麻黃湯為主治而汗之。</p>
<p>麻黃（一兩五錢）　桂枝（一兩）　甘草（五錢）　杏仁（五十枚）</p>
<p>每劑用五錢，水煎服，取汗出為度，無汗再服。春分後忌之。</p>
<p>陽明症，目疼，鼻乾，不眠，發熱，乾嘔，有汗，宜以桂枝湯為主治。</p>
<p>赤芍　桂枝（各六錢）　甘草（四錢，炙）</p>
<p>每服五錢，加姜三片，棗二枚，煎服。須臾，啜稀粥以助藥力。若小便數，及飲酒人，不宜用，恐其不喜甘而中滿作嘔也。春分後忌之。</p>
<p>少陽症，胸脅痛，而耳聾，往來潮熱，宜以小柴胡湯為主治。</p>
<p>柴胡（一兩）　半夏（八錢）　黃芩　甘草（炙）　人參（各七錢半）</p>
<p>上作五服，每加姜三片，棗二枚，煎服。此方乃少陽症藥，故治瘧疾者亦用之。但人參一味，亦宜斟酌，若邪氣未退，不可輕用也。</p>
<p>少陽症，身熱，不大便，不惡寒，邪在半表半裡，宜以大柴胡湯為主治，而和解之。</p>
<p>柴胡（二兩）　黃芩（七錢半）　芍藥（三錢）　半夏（六錢半）　枳實（四枚，炙）　大黃（五錢）</p>
<p>上作三服，每加薑、棗煎服。</p>
<p>太陽、陽明症，不惡寒，反惡熱，大便秘，譫語，嘔噦，宜以調胃承氣湯為主治而下之。</p>
<p>大黃（一兩，酒浸）　甘草（五分）　芒硝（九分）</p>
<p>每服五錢，水一碗，先煎大黃、甘草至七分，去渣，入硝煎一沸，溫服。</p>
<p>陽明症，六七日不大便，腹脹滿，無表症，汗後不惡寒，潮熱，狂言而喘，宜以小承氣湯為主治而下之。</p>
<p>大黃（一兩）　厚朴（五錢）　枳實（六枚）</p>
<p>上作一劑，水煎溫服，以利為度。</p>
<p>太陰症，自利不渴，脈沉身痛，宜以四逆湯為主治。</p>
<p>甘草（一兩）　乾薑（七分）　附子（半個）　黃連（五錢）</p>
<p>上作一劑，水煎溫服，弱人用大附子，加乾薑三錢。</p>
<p>本方乾薑加至一兩，名通脈四逆湯，治厥逆下利，脈不至，每服五錢，加蔥白九莖。嘔加生薑，咽痛加桔梗，利止脈不出加人參。本方去附子、黃連，加人參、白朮，名理中湯，專治自利不渴，寒多而嘔，腹痛鴨溏，蛔厥等症。治病之效，雖不可誣，而用藥之時，亦宜斟酌。大補大熱之劑，必審其真而後用也。</p>
<p>少陰症，舌乾口燥，及胃實譫語，五六日不大便，腹痛，煩渴，宜以大承氣湯主治而下之。</p>
<p>大黃（五錢）　厚朴（一兩）　枳實（五個）　芒硝（五錢）</p>
<p>水二盅半，先煎厚朴、枳實至一盅，入大黃煎至七分，去渣，入硝煎一沸，溫服，以利為度，不可過服。</p>
<p>少陰症，惡寒，手足拘急，或心中悸而煩，脈微細者，宜以小建中湯主治而溫之。</p>
<p>桂枝　甘草（各二兩）　芍藥（三兩）</p>
<p>作三服，每加姜三片，棗四枚，去渣，入餳糖一合，微火待餳糖化，溫服。嘔者不用餳糖，恐其發吐也。</p>
<p>厥陰症，舌卷囊縮而惡寒，宜以桂附湯主治之。</p>
<p>桂枝（一兩）　附子（三錢）　青皮　甘草　柴胡（各四錢）</p>
<p>作三服，每加姜三大片。</p>
<p>兩感傷寒，雖不治之症，然所稟有虛實，所感有淺深，若所稟者實，而所感者淺，間亦可生，治之而愈者有矣，未有不治而生者也。宜以大羌活湯主治而雙解之。</p>
<p>羌活（二錢五分）　獨活　防己　黃芩　黃連　白朮　川芎（各二錢）　細辛（五分）　生地　知母（各二錢）</p>
<p>作一劑，水煎服。</p>
<p>春分後感冒傷寒，宜以九味羌活湯為主治，代桂枝麻黃湯用。</p>
<p>羌活（二錢）　防風（一錢五分）　蒼朮（一錢）　甘草（三分）　白芷（一錢）　川芎（一錢五分）　生地黃（一錢）　黃芩（一錢）　細辛（三分）</p>
<p>作一服，加姜三片，蔥一莖，水煎熱服，覆熱取汗。原有汗去蒼朮，加白朮，渴加知母、石膏。</p>
<p>此方通治六經傷寒，無有不驗，乃四時傷寒之聖藥也。何以言之？蓋羌活治太陽肢節痛，大無不通，小無不入，乃撥亂反正之主也；防風治一身盡痛，聽君將命令而行，隨所使引而至；蒼朮雄壯上行之氣，能除濕氣，下安太陰，使邪氣不傳脾經；甘草緩裡急，和諸藥；白芷治陽明頭痛在額；川芎治厥陰頭痛在腦；生地治少陰心熱在內；黃芩治太陰肺熱在胸；細辛治少陰腎經苦頭痛。此方乃易老所制，凡見表症悉宜服之，不犯三陰禁忌，實解利之神方也。</p>
<p>小結胸症，胸膈迷悶，乃邪熱結於上焦而生痰也，宜小陷胸湯。</p>
<p>半夏（六錢）　黃連（三錢）　瓜蔞（一個，連皮取四分之一）</p>
<p>作一服，水二盅，先煮瓜蔞至一盅半，下余藥，煎至一盅，溫服。如未效再服，得口出黃涎即愈。</p>
<p>大結胸症，胸前脹滿，煩悶，不進飲食，乃渴多飲水，有停飲在上故也，宜大陷胸湯。</p>
<p>大黃（一兩五錢）　芒硝（一兩一錢五分）　甘遂（二錢五分，末）</p>
<p>作二服，水二盅，煎大黃至一盅，去渣，入硝煎一沸，次入甘遂末溫服，得快利止後服。</p>
<p><u>附痧疹</u></p>
<p>痧疹之症，惡寒發熱，頭疼腹滿，噁心嘔吐，遍身如紅雲推出，俗名痧子，即傷寒發斑也。發斑雖是熱症，然不可驟用涼藥，恐遏絕邪氣於內，而不得出，多有不救者，宜解毒發散為主。</p>
<p>如羌活、防風、白芷、紫蘇以發散，大劑生甘草以解毒，加蔥、姜煎服。喉痛加玄參、桔梗，嘔血加地榆、側柏葉、犀角、生地，腹滿加枳殼、陳皮、蒼朮、厚朴，斑有紫色，熱極也，加黃連、連翹、赤芍，噁心加藿香、木香。斑不出者，單用帶根蔥頭，搗取汁一盞，入酒漿一盞，調和服之，能飲者，再飲一二盞，其斑即發出，至妙。此症嘔血者重，以邪氣逆上也，聲啞者危，無聲者死，以斑毒入肺中故也。</p>
<p><u>附瘟疫</u></p>
<p>瘟疫之症，乃天行時氣，發熱譫語，眾人病一般者是也。有大頭瘟、蝦蟆瘟之異。並用十神湯為主治。</p>
<p>川芎　甘草　麻黃　紫蘇　升麻　白芷　陳皮　香附　芍藥（各四錢）　乾葛（一兩四錢）</p>
<p>每服五錢或一兩，姜三片，水煎熱服，以汗出為度，未效再服。</p>
<p>瘟疫秘方</p>
<p>人中黃（五錢）　羌活　蒼朮（各三錢）</p>
<p>煎服立愈。</p>
<p>大頭天行，病濕氣在高巔之上，宜用此方。</p>
<p>黃芩（酒炒）　大黃（酒蒸）　羌活（各二錢或三錢）　煎服。</p>
<p>蝦蟆瘟，遍身如蝦蟆之皮，皆屬風熱，宜疏風散熱之劑治之。</p>
<p>羌活　防風　荊芥　黃芩　甘草（各二三錢）　煎服。</p>
<p>又，用側柏葉自然汁，調蚯蚓糞敷之。或丁香尖、南星，醋磨敷。</p>
<p><u>附腳氣</u></p>
<p>腳氣之症，惡寒發熱，有類傷寒，但發時，足膝之間先紅腫作疼，而後發寒熱，乃濕熱留於肌肉之中故也，急宜治之。若不早治，其氣上行至心，即死矣。</p>
<p>蒼朮　黃柏　赤茯苓　牛膝　木通　木瓜　甘草　黃連　烏藥　防風</p>
<p>上各二錢，量輕重投之，水煎，空心服。其紅腫處用朴硝、大黃、寒水石、牙皂為末，雞子清調敷，甚妙。或用人中黃為末，芭蕉汁調敷亦妙。</p>
<p><u>附傷風</u></p>
<p>傷風之症，乃風邪客於腠理，灑淅惡寒，噴嚏呵欠，頭痛發熱，類於傷寒，但見風即怕，其寒亦不太甚，以此為辨耳。</p>
<p>川芎　紫蘇　羌活　防風　蒼朮　香附　甘草</p>
<p>上各二錢，加蔥白十莖，姜三片，煎服。以被覆之，微汗為度。若以為小疾而不治之，風入於肺，必成咳嗽，即費調理矣。凡感風邪，忌用茯苓，以其味淡，善於滲泄，表症服之，則引邪入陰經，而邪無由發矣。</p>

<h2>內傷</h2>
<p>傷寒家以外感風寒為外傷，內傷飲食為內傷，固矣。然內傷而專指飲食言者，其言猶未盡也。飲食所傷，固可以為內傷，或傷於血，或傷於氣，或傷於精，皆非外得也，獨不可以言內傷乎。內傷之病，各有症辨，惟飲食所傷，亦身發大熱，類於傷寒，但不惡寒而獨惡熱，頭不甚疼，骨節不痛，而中脘飽悶，見食即惡，與傷寒大同小異。故傷寒家有內傷外傷之辨，辨以此耳。至若好勇鬥狠，奔走負重，恃壯使力，蹼跌輕生，必傷於血。血積於上，則胸脅痛，血積於中，則中脘痛，血積於下，則小腹痛。傷重則行其血，傷不重則活其血，血既行，則養其血而已。或忿恨衝心，暴怒頓發，爭言鬥舌，叫號罵詈，必傷於氣，氣積不散，則兩脅脹滿，胸膈悶塞，甚至發為臌症，飲食不進，而病斯劇矣。宜大劑伐肝化氣之藥治之。或恃強壯，不惜氣力，縱情於女色，耗亡其真精，則小腹氣並，其冷如冰，其堅如石，痛連陰器，小便秘而不通，切不可以精虛之故，妄加補劑，又不可誤以為霍亂，妄投鹽水，要當以活血為主，而調氣次之，待其痛止氣和，方可漸加帶補之劑也。</p>
<p><u>藥例</u></p>
<p>內傷於食，視其所傷者何物，各以主治之藥消之。</p>
<p>如傷於魚肉，則用山楂、蓬朮、三稜之藥，甚至有用阿魏、硇砂、巴豆霜者。如傷於米食，則用麥芽、神麯、枳實、陳皮、檳榔、草果之類。如傷於麵食，則用萊菔子為君，佐以蒼朮、厚朴、陳皮、香附之類。如傷於生冷，則於消食劑中加官桂、乾薑、木香之類。凡消食之劑，必兼用白朮、甘草，則脾氣有助，而運化速矣。</p>
<p>內傷於血，視其所傷者何處，分上中下而治之。</p>
<p>如胸前痛，則用紅花、赤曲、降真香、丹皮之類，而以桔梗引經，以枳殼開氣。如兩脅痛，則用蘇木、紅花、當歸、桃仁之類，而以青皮、柴胡引經，以木香調氣。如中脘痛，則以當歸為君，佐以紅花、蘇木、三稜、蓬朮之類，而以芍藥、甘草引經，厚朴、大腹皮寬腹脹。如小腹痛，則以桃仁為君，佐以當歸梢、紅花、山楂、蘇木、蓬朮之類，而以青皮、官桂引經，檳榔破氣，痛甚者加玄胡索、乳香、沒藥。凡血並不行，劑內加穿山甲、麝香，水酒同煎，送下大黃丸二三錢，此惟傷重者可用也。</p>
<p>內傷於氣，宜以伐肝破氣之藥治之。</p>
<p>用醋炒青皮為君，醋炒芍藥、便浸香附、烏藥、枳殼、木香、官桂之類為佐，水酒同煎服之。</p>
<p>內傷於精，宜以養血調氣之藥治之。</p>
<p>用紅花為君，桃仁、丹皮、當歸、生地、牛膝、赤曲之類為佐，少加甘草梢，炒鹽一撮，酒煎，入童便，熱服。痛連陰器者，必有血滯於莖中，礙其道路，甚至小便不通，宜頭髮燒灰為末，童便、酒調下四五錢為妙。</p>
<p>凡此特其大略耳，若夫斟酌損益，非言所能示也。</p>
<p>一切內傷之症，有似於傷寒者，遂以為傷寒，而誤用發表之藥，如麻黃、升麻之類，則內氣升發，勢不可遏，有食吐食，有血吐血，吐而不已，面赤咽乾，火皆奔上，汗出不休，陽亡氣耗。當此之時，無藥可救，其死必矣，慎之慎之！若外傷誤服內傷之藥，亦有大害，不可輕投。若內傷既重，或溺水涉深，則寒氣入內，血於食並而不運，必死無疑，雖有良藥，竟何益乎！</p>

<h2>中風</h2>
<p>夫人似乎無恙，而卒然中風者，豈一朝一夕之故哉。其受病久矣，蓋肉必先腐也，而後蟲生之，土必先潰也，而後水決之。木必先枯也，而後風摧之。夫物且然，而況於入乎？經曰：邪之所湊，其氣必虛。風豈能中乎人，亦人之自受乎風耳！使其內氣充足，精神完固，則榮衛調和，腠理緘密，雖有風將安人乎？惟其不戒暴怒，不節淫欲，或飢不暇於食，或寒不暇於衣，或嗜酒而好色，或勤勞而忘身，或當風而沐浴，或大汗而行房，或畏熱而露臥，或冒雨而奔馳，以致真元耗亡，氣血消盡，大經細絡，積虛彌年，平時無甚痛苦，而不知榮衛皆空，徒存軀殼，正猶無心之木，將折未折，無土之牆，欲頹未頹，其勢已不可支，而方且自謂無恙，迷昧而不知戒焉，一旦為賊風所襲，如劇寇操刃，直入無人之境，勢若破竹，不移時而皆潰，則杯酒談笑之間，舉步轉移之頃，卒然顛仆，頓為廢人，不亦重可駭哉！由是觀之，雖由外風之中，實因內氣之虛也。然人之一身，表裡上下，未有皆虛，惟積虛之處，氣多不貫，而勢有偏輕，故一為風所入，而肢體於是乎廢矣。若以臟腑言之，則又各有形症焉。中臟多滯九竅，故有唇緩、失音、鼻塞、耳聾、眼瞀、便秘之症，中腑多著四肢，故有半身不遂、手足不隨、左癱右瘓之形。又有中血脈者，則外無六經之形症，內無便溺之阻澀，惟口眼喎斜，或左或右而已矣，而手足動靜，起居食息，固無恙也。或肢不能舉，口不能言，而更無別症者，乃中經也，比之中臟腑為輕，比之中血脈猶重耳。然因其病而藥之，則中臟者宜下，中腑者宜汗，中經者宜補血以養筋，中血脈者宜養血以通氣，此皆可治之症也。而亦有難易於其間，中臟為難，而中腑次之，中經又次之，中血脈又次之。其或初中於血脈，藥之而愈，苟不守禁忌，必復中而中必在經。或初中於經，藥之而愈，苟不守禁忌，必復中而中必在腑。或初中於腑，藥之而愈，苟不守禁忌，必復中而中必在臟。中一次則虛一次，虛一次則重一次。故中腑雖可治也，由先中血脈於經，而後及於腑，則難治矣。中臟本難治也，由先中於腑，而後及於臟，則不治矣。若中腑而兼中臟，與傷寒兩感者何異，豈有可生耶？</p>
<p>凡中風口開者為心絕，手散者為脾絕，眼合者為肝絕，遺尿者為腎絕，聲如鼾睡者為肺絕。汗出如油者為無氣，肉脫筋痛者為無血。髮直指而頭上竄，面赤如妝而汗綴如珠者，皆所不治之症也。</p>
<p>其有一中即死者，又何為如此之急耶？蓋人之五臟，以心為君，心也者，所以主宰乎一身者也。五臟之中，惟心最難死，故人死氣絕，一身盡冷，而心頭獨熱者，以其難死故也。中臟之人，不即死者，以四臟之氣雖絕，而心猶未病也，一中其心，則杯酒未乾，片言未盡，而魂魄先亡矣。縱有起死回生之藥，亦何所施乎？</p>
<p>大法中風諸症，總屬風疾，初中之時，不論在表在裡，必先以攻痰祛風為主，待其甦醒，然後審其經絡，分其氣血而治之，不可因其內氣之虛，而驟用補劑。蓋一中之間，道路已為風痰阻絕，雖欲補之，孰從而補之？若其病的系大虛，口眼不喎斜，手足不偏廢，便溺不阻澀，但汗出不休，眩暈不定，四肢軟弱，氣息短促，方可用獨參湯。而猶必佐以去白陳皮，加以薑汁、竹瀝，始可服也。若無監製，一時或可以愈疾，而痰邪不泄，終當為患，他日或發癰疽，必無藥可治者，切宜慎之。即腦、麝、牛黃等藥，初中時亦不宜驟用，恐引風氣入於骨髓，又不可用大戟、芫花、甘遂以泄大腸之經。大抵於行痰祛風劑中，日淺則加以順氣，日久則惟活血為要耳。</p>
<p><u>藥例</u></p>
<p>初中風不省人事，乃風痰壅盛，迷其胸膈也。</p>
<p>宜以天花粉、荊芥各二三兩，水煎服。加薑汁、竹瀝，磨枳實、沉香各一錢，或二錢灌之。若牙關緊，即以薑製南星同麝香少許，擦之自開。灌此藥，直待其醒，再進此藥，然後以他藥進之。</p>
<p>中腑為在表，法當汗之。</p>
<p>宜以麻黃為君，羌活、防風、荊芥、甘草之類為佐，以發其表；南星、半夏、瓜蔞仁之類，以逐其痰；陳皮、枳殼、紫蘇梗之類，以順其氣，加薑汁、竹瀝服之。</p>
<p>中臟為在裡，法當下之。</p>
<p>宜以大黃為君，枳實、厚朴、甘草為佐，以通其秘；豬牙皂角、穿山甲、木通、菖蒲之類，以開其竅；瓜蔞仁、杏仁、蘇子、防風、荊芥之類，以逐其風痰，加薑汁、竹瀝服之。</p>
<p>中經者，以補血養筋為主。</p>
<p>宜以四物為君，佐以木瓜、薏仁、威靈仙而補血養筋，兼以羌活、獨活、防風、細辛、甘草而疏其風，南星、半夏、茯苓、黃芩而治其痰，加薑汁、竹瀝服之。</p>
<p>中血脈者，以養血通氣為主。</p>
<p>宜四物為君，佐以紅花而養其血，兼以枳殼、烏藥、香附、陳皮而通其氣，加薑汁、竹瀝服之。</p>
<p>口眼喎斜，外攻之法，以皂角五兩，去皮子為末，以陳醋和之，左喎塗右手心，右喎塗左手心，以暖水一盞，安向手心，須臾便止，即洗去藥，並抽掣中指。</p>
<p>左邊半身不遂，屬血虛與死血，宜於四物湯中加紅花、桃仁煎之，以薑汁、竹瀝調服。右邊半身不遂，屬氣虛與濕痰，宜於四君子湯中加半夏、南星、陳皮、枳殼煎之，以薑汁、竹瀝調服。</p>
<p>左癱右瘓，四肢不舉，風痹等疾。</p>
<p>麻黃（一斤）　白芷　桑皮　蒼朮　甘松　浮萍（各二兩）　川芎（三兩）　苦參（三兩）</p>
<p>水煎成膏，調酒中服之。服一日，停一日，如此數日，手足自然輕快。又治小兒驚風。</p>
<p>中風痰壅，昏不知人，口眼喎斜，半身不遂。</p>
<p>附子（去皮）　南星（各一兩）　木香（半兩）</p>
<p>每五錢，生薑九片煎服。</p>
<p><u>附癇症</u></p>
<p>癇症一發，即顛仆眼直，口吐痰沫，或作羊鳴，不省人事，此乃因驚恐而得之。</p>
<p>礞石（硝煅）　硃砂　天竺黃　麝香　南星　半夏　天麻　蛇含石（醋煅）</p>
<p>等分為末，以薑汁、竹瀝和，於蜜中煉熟，丸如龍眼大，童便磨下半丸，立止。服三五丸痊愈。</p>
<p>若治癇症，即於此方中加銀粉。（即黑鉛熔化，投水銀和作一處，傾冷地上，取起研細是也。）</p>
<p><u>附癘風</u></p>
<p>癘風，手足皮膚迸裂，麻木不仁，甚至四肢蜷攣，眉脫鼻倒，乃惡風沿入臟腑，血肉皆死，肉生細蟲，食人脂膏故也。蓋由人受乖厲之氣而成。亦有瘡腫後不守禁忌，酗酒厚味，熱極生風，是虛為本，血熱為標。治法必先殺其蟲，瀉其火，然後生血涼血，祛風導滯，降陽升陰則可。</p>
<p>第一是死人身上蛆最妙，炒乾為末，好酒送下，諸蟲皆消，肌膚自潤，如其不可得，宜多取毒蛇，打死曬乾，切片，磨作粉，和糯米蒸熟，作酒飲之，能起死回生。</p>
<p>或用白花蛇、全蠍、大風子、益母草、胡麻、豬牙皂角、防風、荊芥、羌活、獨活、白芷、當歸、川芎、穿山甲、殭蠶等分為末，蜜丸如龍眼大，每服一丸，一日三丸，好酒磨下，仍隨量飲，以醉為度。</p>

<h2>中濕</h2>
<p>濕者，天地鬱蒸之氣也。方其升騰於上，氣猶籠結而未開，雖寒天值之，亦覺溫暖，此濕氣之熱者也。及其布濩於下，氣將流演而舒散，雖暄月值之，亦覺其清涼，此濕氣之寒者也。濕氣之熱者，多中於氣虛之人，則發為濕熱之症，頭面如裹，而四肢浮腫，身體重著而轉側不便者是也。濕氣之寒者，多中於血虛之人，則變為寒濕之症，四肢痠疼而關節不利，筋脈拘攣而行履重滯者是也。其有不因鬱蒸之氣而得者，必其冒雨而行，涉水而走，或露臥以取涼，或汗衣而不解，漸漬於肌肉之中，滲於骨髓之內，流溢於脾胃之間，牢纏於腰腎之處，則肌肉冷而骨髓疼，脾胃薄而腰腎痛，挾於風痰則生麻而不仁，兼乎死血則成木而不覺，動乎火邪則腫痛而難忍，隨其所感而病始痼焉。醫者審其濕之或寒或熱，人之或虛或壯，病之或上或下，感之或淺或深，因其病而藥之，亦庶乎其近之矣。</p>
<p><u>藥例</u></p>
<p>頭面如裹，乃濕熱蒸於上也。</p>
<p>此宜以蒼朮、黃芩為主，佐以升麻、防風、薄荷、甘草，加蔥、姜，酒煎，溫服之，微汗出即愈矣。</p>
<p>四肢浮腫，平素原無脾胃之症者，乃濕熱淫於肌肉也。</p>
<p>宜以蒼朮、羌活為主藥，佐以防風、防己、腹皮、烏藥、黃芩、甘草，加薑、蔥，酒煎，溫服之，微汗出即愈矣。</p>
<p>身體重著，轉側不便者，乃濕熱滲入而將深也。</p>
<p>宜以蒼朮、白朮為主藥，佐以靈仙、烏藥、枳殼、羌活、防風、南星、半夏，加生薑，酒煎服之，微汗出即愈。</p>
<p>凡此三症，皆因濕熱不散，故宜微汗，雖病人氣虛，亦宜先治其濕，而不宜先補其氣。先補其氣，則腠理皆密，濕無由而散矣。必待浮腫能消，重著能脫，而後參、耆之類可服也。</p>
<p>四肢痠疼，關節不利，乃寒濕入骨節也。</p>
<p>宜以虎骨、當歸為主藥，佐以蒼朮、白朮、官桂、烏頭、茯苓、防己、木通、牛膝、桑條、靈仙之類，水煎，加車前子草汁服之，小便利則愈矣。</p>
<p>筋脈拘孿，行履重滯，乃寒濕滲於血脈也，血得寒濕則阻滯而不流，脈得寒濕則牽制而作痛。</p>
<p>宜以四物為主藥，以養其血，佐以茯苓、澤瀉、木瓜、牛膝、防己、白朮、甘草、薏仁以去其濕，少加附子、官桂以溫其經，則愈矣。</p>
<p>凡此二症，皆因寒濕所中，惟血虛者得之，夫濕病宜燥，而反不用燥劑為主藥者，以燥劑太過，能幹其血故也，血一干而病終不可愈矣。故寧以養血為主治，而佐以利濕溫經之藥，使寒得熱而除，濕得熱而散也。大法，濕在上，以升麻引經；濕在下，以茯苓引經；濕在中，以白朮、甘草引經；濕在遍身，以羌活、烏藥引經；濕在兩臂，以桑枝引經；濕在兩股，以牛膝引經。濕熱與寒濕皆以此為準。此其大略也。</p>
<p>寒濕疼痛，宜外治之法，以膏藥貼之。</p>
<p>生薑汁半碗，米醋一盞，廣膠四兩，熬成膏，入肉桂、花椒、牙皂、川烏、草烏末各五六錢，麝香一錢，攪和，攤於紵絲上，先以生薑擦患處，烘熱貼上，甚效。又有湯洗法，見股痛門。</p>
<p>骨節疼痛。</p>
<p>白朮一兩，土炒，酒三盞，煎一盞，頓服。如不能飲酒，以水代之。服後略飲幾杯，以助藥力。</p>
<p>腰腳疼痛。</p>
<p>黑牽牛　大黃（各二兩）　白朮（一兩）</p>
<p>為末，滴水為丸，如桐子大，每服三四十丸，食前生薑湯下。如要利，加至百丸。</p>
<p>濕傷腎經，腰重冷痛，小便自利。</p>
<p>附子（炮，去皮臍）　白朮（各一兩）　杜仲（半兩）</p>
<p>每服五錢，水一盞，姜七片，空心服。</p>
<p>脾濕太過，四肢腫痛，腹脹喘逆，氣不宣通，小便赤澀。</p>
<p>葶藶（四兩）　防己（二兩）　赤茯苓（一兩）　木香（半兩）</p>
<p>上為末，棗肉為丸，如桐子大，每服三十丸，食前，桑皮湯送下。</p>
<p>風濕相搏，手足掣痛，不可屈伸，或身微腫。</p>
<p>羌活　附子　白朮　甘草（等分）</p>
<p>每服四錢，水二盞，姜五片，溫服，不拘時。</p>
<p>諸濕腰痛，四肢腫滿，及酒傷胸脅刺痛，口乾目黃。</p>
<p>甘遂（一兩）　當歸　陳皮（各五錢）</p>
<p>為末，每三錢，酒調下。</p>
<p><u>附痿症</u></p>
<p>四肢軟弱，身體重滯，經年不能下床，而飲食如故，不痛不酸，有似乎濕而實非濕，乃肺經受熱，其葉焦垂，不能統攝一身之氣，故成痿也。</p>
<p>宜用四君子以補其氣，桔梗引入肺經，黃芩、山梔以清肺熱，瓜蔞子、麥門冬、五味子以潤肺焦，通脫木以通肺竅，少加升麻以提肺氣，則可以收全功矣。</p>

<h2>中暑</h2>
<p>暑者，夏月炎蒸之氣也，丙丁當權，祝融用事，威焰酷烈，爍石流金，柔脆之軀，不堪燔炙，而中暑之病有不免矣。夫暑即為熱，熱即為暑，初無異也。而昔人有中暑中熱之分，豈暑之外，又別有所熱耶？蓋暑與熱，本無所異，而人感之則有異焉。今夫富貴之人，避暑於涼亭水閣之中，修竹繞欄而成蔭，清泉漱玉而生寒，偃冰簟以收涼，揮羽扇以驅熱，浮瓜沉李以消其渴，鮮菱脆藕以解其煩，自謂可以無暑矣，而不知虛之所在，邪必湊之，而暑之所中，由其內氣之不充也。蓋富貴必生驕奢，驕奢必生淫欲，粉黛爭妍於枕簟，嬌羞含笑於簾幃，凡可以快心遂意者，罔不畢致，則戕命之斧斤日進於前，而追魂之鬼使日隨於後，雖藉肥甘之奉，形體不見其虧，而不勝淫欲之私，元氣已消其半，積虛彌久，肌理必疏，坐談之頃，卒然為暑風所傷，邪氣直入，霎時昏聵，精神俱失，迷不知人，甚至有角弓反張，此昔人所謂靜而得之為中暑者是也。貧窮勞苦之人，無日夜之安息，戴星而出，乘月而歸，憐念妻孥，奔走衣食，飢不及飯，渴不及飲，竭力于田畝，而汗血成漿，驅馳於道途，而咽喉似炙，赤日方為魃，而清風不來，熱地已成爐，而寒泉難覓，精神瘦而欲絕，筋力困而不支，卒然傾僕，不省人事，四肢不動，氣息短促，此昔人所謂動而得之為中熱者是也。中暑中熱之分，特因動靜而名之耳，豈真謂暑熱有不同耶？治此症者，當視其所處之貧富，所為之勞逸，所稟之虛實，所感之輕重，而斟酌以藥之，斯得之矣。</p>
<p><u>藥例</u></p>
<p>中暑昏聵，不知人者，急以香薷飲灌之，即蘇。</p>
<p>宜以香薷為君，厚朴、扁豆、黃連、甘草為佐，加姜煎之，待其蘇後，猶宜服此藥。氣虛加四君，血虛加四物，有痰加二陳，渴加五味、門冬、乾葛、天花，有熱加柴胡、黃芩，頭痛加川芎，小便不利加木通、淡竹葉。</p>
<p>中暑身熱，小便赤澀，胃脘積熱，宜用益元散。（又名六一散。）</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>為細末，每服三錢，加蜜少許，熱湯冷水任下。如欲發汗，以蔥白、豆豉煎湯調服。</p>
<p>伏暑引飲，脾胃不利。</p>
<p>半夏（醋炙，一斤）　甘草（生）　茯苓（各半斤）</p>
<p>為末，姜糊為丸，如桐子大，每服五十丸，熱湯下。</p>
<p>伏暑發熱，嘔吐噁心。</p>
<p>黃連（一斤）　好酒（三斤）</p>
<p>煮乾為末，麵糊為丸，每服三十丸，熱水下。</p>
<p>中熱，不得以冷物逼之，得冷即死。</p>
<p>用新胡麻一升，炒黑，碾為末，新汲水調下三錢。</p>
<p>中熱在絡，發昏不省人事。</p>
<p>急以地漿灌之則醒。切勿以冷水與飲，飲之即死。</p>
<p>若輕者，以新汲水滴入鼻孔，以扇扇之。</p>
<p>中熱，顛仆不醒。</p>
<p>急以蚯蚓糞填臍中，令小孩撒尿其上，自醒。然後扶在陰涼處，將一味天花粉煎湯，頻頻飲之。或用香薷飲，渴加茯苓、麥冬、五味，虛加人參，小便澀加車前、木通，胃氣不和加薑、棗。</p>
<p>冒暑煩渴，飲水過多，心腹脹滿，小便赤少。</p>
<p>用肉桂、赤茯苓各五兩，為末，蜜丸，每兩作十丸，每服一丸，細嚼，白湯冷水任下。</p>

<h2>瘧疾</h2>
<p>瘧者，殘虐之意，從病從虐，故名曰瘧。是病也，多發於秋，以夏傷於暑，故至秋而發也，有先寒後熱，先熱後寒，單寒無熱，單熱無寒，大寒大熱，微寒微熱之異。分而言之，先寒後熱者，先得於寒；先熱後寒者，先得於熱；單寒無熱者，外感必重；單熱無寒者，內病必多；大寒大熱者，邪必深；微寒微熱者，邪必淺。又有久寒久熱，經幾月而不愈者，必其不守禁忌，兼以元氣虛弱故也。合而言之，不專於外傷寒邪，亦平日飲食不節，及七情六慾所傷，兼之以脾裹痰而不散，與內之飲食。外之暑氣，相結交固，流聚於少陽之分，少陽位人身之半，為陰陽往來必由之路，又在半表半裡之間，陰血流過其處，激而生寒，陽氣行過其處，激而發熱，或陰陽交會，則寒熱交作。久而不愈，則結成瘧母，藏於脅下。脅下者，少陽之分也。治此病者，以引經藥引至少陽之分，而以消食化痰，疏風調氣之劑，量其輕重而投之，無不應矣。然同一瘧也，有一日一發，有間日一發，有三日一發者，何也？蓋病之所由來者，有遠近也。冬傷於寒不即病，直至明年之秋而後發者，則三日一發之瘧也。春傷於濕不即病，至秋而後發者，則間日一發之瘧也。夏傷於暑不即病，至秋而後發者，則一日一發之瘧也。三日一發，受病幾一年，間日一發，受病幾半年，一日一發，受病幾三月，每以得病之遠近，為所發之日期也。醫者以心度之，見其三日一發，則知其得之於寒，當以辛溫之藥散之。見其間日一發，則知其得之於溫，當以涼藥清之。見其一日一發，則知其得之於暑，當以清暑之藥治之。然必見其症有相合者，方可投也。如無汗要有汗，散邪為主，有汗要無汗，正氣為先，然散邪正氣而病不退者，須分利陰陽治之。至於有食則消食，有痰則化痰，有風則散風，有寒則攻寒，有熱則驅熱，有氣則開氣，新病則去其病，久病則補其元，精而明之，則在乎其人也。</p>
<p><u>藥例</u></p>
<p>清熱，如柴胡、黃芩、芍藥、連翹、山梔、生甘草之類。</p>
<p>治寒，如乾薑、桂枝、麻黃之類。</p>
<p>定寒熱，如羌活、防風、柴胡、芍藥、炙甘草之類。</p>
<p>清暑，如香薷、黃連、扁豆、厚朴、甘草之類。</p>
<p>消食，如枳實、黃連、檳榔、草果、三稜、蓬朮、神麯、麥芽、山楂之類。</p>
<p>治痰，如橘紅、半夏、貝母、天花粉、枳殼、黃芩、桑皮、桔梗、甘草之類。</p>
<p>喘，如杏仁、蘇子、馬兜鈴之類。痰甚加薑汁、竹瀝之類。</p>
<p>散風，如防風、荊芥、紫蘇、蔥白、生薑之類。頭痛加川芎、白芷；遍身骨節疼，加羌活；無汗，加蒼朮。</p>
<p>化氣，如青皮、香附、烏藥、枳殼、木香、砂仁之類。</p>
<p>補虛，必分氣血，氣虛以人參為君，白朮、炙甘草、大棗之類為佐，大劑芍藥以定寒熱，禁用茯苓、黃耆，以茯苓能引邪入陰經，而不得出也，黃耆補表太過，邪不能去也。血虛以當歸為君，川芎、熟地、炙甘草、大棗為佐，大劑芍藥以定寒熱，津液少加門冬、花粉之類。</p>
<p>久病新病，皆用柴胡，但久病用少，新病用多，以瘧乃少陽經之病居多，而柴胡又少陽經之引藥，且治寒熱有功也。</p>
<p>瘧母在脅下，非煎劑所能愈，乃痰與食並結不化所成也。</p>
<p>宜以生鱉甲，醋炙為君，浮石、白芥子、半夏之類以治痰，蓬朮、檳榔、枳實、山楂、草果之類以治食，青皮、香附、木香之類以開氣，白朮、陳皮之類以助脾，共為末，以醋或酒為丸，人參、柴胡湯下。</p>
<p>瘧久不住，或三四日一發。</p>
<p>常山、檳榔、烏梅肉各四錢，炙甘草二錢，酒水各一盅，隔夜煎，露一宿，次早溫服，微吐即效。</p>
<p>或用常山一兩，銼碎，以好酒浸一宿，瓦器內煮乾為末，每服二錢，水一盞，煎至半盞，去渣停冷，五更初服之，不吐不瀉效。</p>
<p>或用知母、貝母、常山、檳榔等分，水酒各一盞，煎至一盞，綿覆一宿，五更面東服之，即效。不可令婦人煎。</p>
<p>瘧疾發於春夏冬三時者，非其時而有其氣，乃似瘧而非瘧也。或一日兩發，或一日三發，其寒熱無定時，醫者不可以瘧治之，必其陰血不足，兼感外邪故也。</p>
<p>宜於四物湯中，倍加酒炒芍藥為主治，佐以柴胡、羌活、防風、甘草之類，以去外邪，陳皮、枳殼、香附之類，以調其氣。有痰加薑汁、竹瀝，有食加檳榔、草果之類而已。</p>

<h1>卷之二</h1>

<h2>痢疾</h2>
<p>痢者，即下利之病也，從病從利，故名曰痢。然其為病，豈一朝一夕之故哉。其所由來者漸矣。蓋因平日飲食不節，油膩生冷，恣嗜無忌，或飢飽不時，或冷熱不擇，停蓄於中，久而不化，又或外感暑濕，內傷七情，行房於既飽之餘，努力於過飽之後。所積之物，煅煉稠黏，有赤有白，有赤白相雜，與純黃色之異，不見其糞，而惟見其積者，為藉氣血而變成也。傷於血則變為赤，傷於氣則變為白，氣血俱傷則赤白相雜。若赤白兼黃則脾家亦傷；而純於赤白者，亦未必非傷脾所致也。使無赤白，而其色純黃，則專傷脾土，而氣與血猶未甚動焉。至若下利如黑塵之色，及屋漏水者，皆不治之症。或大孔如竹筒，唇如硃紅，皆死候也。而噤口者亦多死。以其無胃氣而邪熱獨結於上也。大法初起當先推蕩，而後調理，病久則帶補兼收，切不可驟用澀藥。初痢一澀，積聚不去，多致死亡。又不可因久痢之人氣虛不攝，妄投黃耆、升麻之類。下痢若服黃耆，即發臌脹；若服升麻，則小便與積皆升至上焦，此速死之道也。但傷血則調血，傷氣則調氣，傷脾則養脾，當寒而寒，當溫而溫，當燥而燥，當清而清，因病用藥，其可以執一乎？</p>
<p><u>藥例</u></p>
<p>初痢裡急後重者，濕多也，必先於燥濕。</p>
<p>宜以蒼朮、防風為主，佐以黃連、檳榔、木香之類，使之快利。</p>
<p>初痢腹痛甚者，食積多也，必先於消食積。</p>
<p>宜以大黃為主，佐以厚朴、枳實、檳榔、蓬朮、甘草之類，待其利後，方以當歸、白朮、茯苓、芍藥之類以調理之。</p>
<p>下痢純黃，必先消食養脾。</p>
<p>宜以蒼朮、厚朴、茯苓為主，佐以白朮、枳實、陳皮、檳榔、蓬朮、山楂、神麯、甘草之類。</p>
<p>赤痢，必先於清血。</p>
<p>宜以當歸為主，佐以黃連、山楂、麥芽、桃仁、甘草之類。</p>
<p>白痢，必先於調氣。</p>
<p>宜以木香為主，佐以陳皮、厚朴、白朮、茯苓、神麯、麥芽、芍藥、甘草之類。</p>
<p>赤白相雜，必先調氣養血。</p>
<p>宜以當歸、木香為主，佐以桃仁、山楂、麥芽、陳皮、白朮、黃連、甘草之類。</p>
<p>血痢久不愈者，帶補兼收。</p>
<p>宜以當歸、芍藥、川芎、地黃為主，佐以白朮、地榆、烏梅、五味、甘草之類及黃連。</p>
<p>白痢久不愈者，帶補兼溫。</p>
<p>宜以白朮、人參、茯苓、甘草為主，佐以肉果、肉桂、訶子、烏梅、大棗、煨姜之類。</p>
<p>赤白相雜，久不愈者，帶補氣血兼澀。</p>
<p>宜以當歸、白朮、芍藥、人參為主，佐以肉果、烏梅、炙甘草、粟殼、大棗之類。</p>
<p>久痢不愈，至九十月間者，大補兼溫。</p>
<p>宜以大劑人參、白朮為主，佐以炒黑乾薑、烏梅、肉果、肉桂、炙甘草、大棗之類。</p>
<p>下痢純血不黏稠者，乃傷血也，必消導其血。</p>
<p>宜以當歸、桃仁、紅花、山楂為主，佐以蘇木、赤曲、牛膝、生地黃、赤芍、甘草之類。此病在大人多難愈，在小兒則惟以食積治之。</p>
<p>休息痢，經年累月不愈，或愈後不時復發者是也。此為氣血皆虛，脾胃甚弱，不可不大補。</p>
<p>宜以當歸、地黃、人參、白朮為主，佐以川芎、芍藥、茯苓、炙甘草、肉桂、烏梅、肉果之類。不用煎劑，即以此為末，用大棗煮熟去皮核，搗成膏，加生薑汁，拌和為丸，空心米湯送下二百丸，為嘗服之藥，方可收功。</p>
<p>噤口痢，絕不飲食，食即隨吐，蓋為邪熱在上焦，脾土不能為主，故患此病者多死。若治得其道，亦或有可生者。宜用白芍、木香、黑姜等劑。</p>
<p>宜以乾山藥、細茶為主，佐以人參、石蓮、黃連、石菖蒲、茯苓之類。水煎，加生薑汁，徐徐呷下，任其吐出，仍與飲之。又吐又飲，終至不吐，即可生矣。再與二三服即愈。以後不必再服。胸次一開，自然思食，何噤口之有，故宜用石菖蒲。</p>
<p>疫痢，憎寒壯熱，下痢臭穢，眾人病一般者是也，必先解表發散。</p>
<p>宜以大劑蒼朮為主，佐以羌活、防風、人中黃、芍藥、黃芩、黃連之類，加蔥白、生薑服之。</p>

<h2>泄瀉</h2>
<p>泄者如水之泄也，勢猶紓徐；瀉者如水之瀉也，勢已直下，微有不同，而為病則一，故總名之曰泄瀉。要其致病之由，皆因內傷飲食，外感寒濕，脾土受傷，不能運化，以致陰陽不分，偏滲大腸，而病斯作矣。然亦有先感怒氣，而後傷飲食者，有先傷飲食，而後感怒氣者，有適值飲食之時，而忽暴怒者，有憂鬱內結，而含悲以食者，有飲食後即入水洗浴者，有飲食未久復飲食者，凡此皆足以成此病。善調攝者，不飢不食，不渴不飲，喜怒有節，不使太過，何致有泄瀉之患哉！大抵泄瀉與下利，皆脾家之疾，而受病之新久不同，故勢有輕重，而治之亦有難易也。然果何以知之，蓋宿食停於中，得濕熱而始變，則有赤白諸般之色，而為下利，此受病已久，故有積而無糞也。飲食過飽，挾寒濕而不盡化，則大便通利，無裡急後重之苦，而為泄瀉。此受病未久，故有糞而無積也，此瀉與痢之別也。如是，用藥者，其可以概施乎？然諸痢多熱，而寒者少，諸瀉多寒，而熱者少，或有之，惟完穀不化，屬於客熱在脾，火性急速，不及傳化，而自出也。然亦有脾寒不能運，而完穀不化者，此其嘗也。治此病者，當視小便之赤白，察其脈之洪數沉遲而已。小便赤，脈洪數，則為熱，小便清，脈沉遲，則為寒，醫者不可以不辨也。</p>
<p><u>藥例</u></p>
<p>暴泄者，皆因生冷油膩，恣食無節，或飲酒無忌，適觸寒邪，故成暴泄。其瀉出者皆是水，乃陰陽不分，偏滲大腸，而小便必短澀，治者以利小便為先，小便利則大便止矣。</p>
<p>用一味車前子，炒為末，以米湯送下四五錢，或六七錢，其瀉立止。然後以白朮為君，蒼朮、厚朴、茯苓、陳皮、神麯、山楂、麥芽、炙甘草為佐，加薑、棗煎服。</p>
<p>寒瀉者，腹中偎偎作痛，痛久而後下者是也，宜以溫脾為先。</p>
<p>用肉桂為君，白朮、乾薑、陳皮、茯苓、炙甘草為佐，加大棗煎服。</p>
<p>熱瀉者，肚腹嘗熱而痛，口乾舌燥，小便赤澀，所下之糞皆深黃色，臭穢不可近者是也，宜以清熱為先。</p>
<p>用生芍藥為君，白朮、茯苓、黃連、生甘草、山楂、麥芽、神麯為佐。</p>
<p>食瀉者，腹中絞痛，痛一陣下一陣，下即稍寬，少頃又痛又下者是也，宜以通利為先。</p>
<p>用大黃為君，枳實、厚朴、甘草為佐，服此藥後，猶未愈者，宜以白朮、枳實、山楂、麥芽、神麯、陳皮、甘草煎服。</p>
<p>氣食兼併而瀉者，兩脅中脘皆痛，腹中嘗悶，瀉亦不甚通利者是也，宜以行氣消食為先。</p>
<p>用青皮、木香、香附、砂仁之類以行氣，檳榔、草果、山楂、麥芽、神麯之類以消食，先服一二劑，後以蒼朮、白朮、茯苓、陳皮、厚朴、甘草之類以調理之。</p>
<p>宿食不消作瀉者，飽悶作痛，或時噯酸臭之氣，大便溏滑，不甚通快者是也，專以消宿食為主，不必治其瀉，審其所傷之物，而以所治之藥消之。</p>
<p>如傷肉食，宜以山楂為君，佐以三稜、蓬朮、枳實、黃連之類。</p>
<p>如傷米食，宜以麥芽為君，佐以神麯、陳皮、蒼朮、厚朴、蓬朮、三稜、枳實、黃連之類。</p>
<p>如傷麵食，宜以萊菔子為君，佐以枳實、黃連、麥芽、神麯、檳榔、草果之類。</p>
<p>如傷生冷，宜以肉桂為君，佐以乾薑、檳榔、草果、萊菔子、陳皮、枳實之類。</p>
<p>如傷油膩，宜以蒼朮為君，佐以滑石、茯苓、陳皮、厚朴、炙甘草、白朮、神麯之類。</p>
<p>如傷酒，宜於消食藥中，加消酒之藥，如葛粉、綠豆粉、天花粉、黃芩、山梔之類。傷火酒，用酒麴，傷濁酒，用酒藥，必各從其類。</p>
<p>直腸自下者，名曰洞瀉。</p>
<p>大劑白朮為君，佐以五味、訶子、肉果、牡蠣、粟殼之類。</p>
<p>每朝登廁溏滑者，名曰脾泄。</p>
<p>大劑白朮為君，佐以煨薑、大棗、茯苓、炙甘草之類。</p>
<p>久瀉腰痛者，名曰腎泄。</p>
<p>大劑杜仲為君，佐以白朮、茯苓、人參、肉果、訶子、五味之類。</p>
<p>一說宜溫腎為先，而故紙、茴香亦可服。</p>
<p>泄瀉兩脅痛者，名曰肝泄，此得之於惱怒。</p>
<p>大劑芍藥為君，佐以白朮、茯苓、蒼朮、厚朴、青皮、甘草之類，禁用薑、橘，以其補肝也。</p>
<p>當泄瀉時，又閉而不下，及所下者多白沫而有聲，乃風泄也。</p>
<p>宜以防風為君，佐以蒼朮、厚朴、陳皮、甘草、白朮、茯苓之類。</p>
<p>完穀不化者，其病多危，蓋因純寒純熱，而無胃氣以運化也。不必用消食之劑，但以白朮為君，審其熱加姜炒黃連、山梔、連翹之類，入大棗、糯米煎服；審其寒，加肉桂、肉果、乾薑、煨熟附子、甘草之類，入大棗、糯米煎服。</p>
<p>凡瀉本屬濕，多因飲酒不節，致傷脾胃而作，治者當分利小水為上，而補脾燥濕消食次之。須知初瀉補脾，久瀉補氣，又有久瀉腸胃虛滑者，宜以升提收澀之藥為主治，此大法也。</p>

<h2>秘結</h2>
<p>秘者，氣之秘也；結者，糞之結也。氣秘則攻擊於腸胃，而瘀塞於魄門，欲下不下，雖努力以伸之，而難於通暢，甚至有肛下者。糞結則乾澀堅硬，多轉矢氣，而小腹結痛，欲下不下，甚至有肛門燥裂而瀝血者，秘而不結，雖不通利，而不甚艱難，結而不秘，雖不滋潤，而不甚費力，惟秘結兼至，難中之難也。少壯之人多患秘，以其氣有餘，而不及轉運也。衰老之人多患結，以其血不足而大腸乾燥也。又有所謂風秘者，嘗欲轉矢氣，而氣終不泄，肛門壅塞，努力伸之，則有聲如裂帛，而糞又不下者是也。其根始於傷風咳嗽，咳嗽將愈，而此病即發，以肺與大腸相為表裡，風入於肺，而傳病於大腸故也。《脈經》曰：尺脈見浮風入肺，大腸乾澀秘難通，非此之謂乎？大法秘者調其氣，結者潤其血，而秘之得於風者，即於調氣潤血藥中加祛風之劑，則得之矣。</p>
<p><u>藥例</u></p>
<p>氣秘不通，以調氣為先。</p>
<p>宜以木香為君，枳殼、檳榔、青皮、陳皮、蘇梗之類為佐，長流水煎，加玄明粉三四錢，量大小虛實用之。（玄明粉乃朴硝所成也。其法以提淨朴硝，入罐，大火煅成汁，傾在淨地上待冷，每硝十兩，加甘草二兩，為細末，即成粉矣。）</p>
<p>糞結不下者，以潤血為先。</p>
<p>宜以當歸為君，知母、麥冬、桃仁、麻仁、蘇子為佐，長流水煎，加蜜數匙，結甚加蜜一兩，熟豬脂半兩，調和服之。</p>
<p>秘結兼至者，以調氣潤血為先。</p>
<p>宜以木香、當歸為君，枳殼、桃仁、知母、麥冬、蘇梗、麻仁之類為佐，長流水煎，加玄明粉、生蜜服之。</p>
<p>風秘者，以祛風為先。</p>
<p>宜以防風為君，荊芥、紫蘇、蔥白之類為佐，加木香、當歸、枳殼、桃仁之類，長流水煎，加玄明粉、生蜜服之。</p>
<p>老人黑瘦血枯不通者，以生血為先。</p>
<p>宜於四物湯中，倍加當歸、生地，兼以麻仁、麥冬之類，長流水煎，加生蜜服之。</p>
<p>內熱秘結者，以清熱為先。</p>
<p>宜以黃芩為君，石膏、山梔、黃柏、麥冬、桃仁為佐，長流水煎，加玄明粉服之。熱結甚者，以大黃為君，厚朴、枳實、桃仁、甘草之類為佐，煎服。大忌巴豆，蓋巴豆大熱，服之雖一時通快，不久復病，於此而又通之，則必至於亡陰，而不可救矣。</p>
<p>後重不下者，以抑火為先。</p>
<p>宜以黃連為君，木香、檳榔、大黃、當歸為佐，煎服之。或用黑牽牛炒熟，每一斤取頭末四兩，為細末，和生蜜搗如泥，丸如桐子。每服三錢，白滾湯下，善飲者，好酒送下。</p>
<p>統治一切秘結。</p>
<p>用桃仁去皮，蘇子淘淨，各五錢，搗爛，入水一碗，再研和，以布絞去渣，調生蜜一兩服之。</p>
<p>或用生蜜一大杯，滾湯一碗，調和，加玄明粉三錢服之，即時通快，不損脾胃，此聖藥也。</p>
<p>若人胃強脾弱，約束津液，不得四布，但輸膀胱，而小便數，大便難者，用脾約丸。</p>
<p>若人陰血枯槁，內火燔灼，肺受火邪，土受木傷，脾肺失傳，而大便秘，小便數者，用潤腸丸。</p>

<h2>脾胃</h2>
<p>五臟之有脾胃，猶五行之有土也。天一生水，得土之五而成六；地二生火，得土之五而成七；天三生木，得土之五而成八；地四生金，得土之五而成九；天五生土，復得土之五而成十。五行無土，不能成五行，五臟無脾胃，不能資五臟。脾胃者，五臟之本也，心肝肺腎不能容飲食，能容之者，脾與胃也。飲食入於脾胃，而精氣行焉。味之咸者，先入於腎，所謂水得土而成水也；味之苦者，先入於心，所謂火得土而成火也；味之酸者，先入於肝，所謂木得土而成木也；味之辛者，先入於肺，所謂金得土而成金也；味之甘者，本宮受之，而實所以調和五臟，所謂土得土而覆成也。夫然後腎水嘗足，心火寧靜，肝木條達，肺金清潤，而周身脈絡無不貫通，病無自而作焉。故善保身者，惟養脾胃而已，不節勞則傷脾，而四肢於是乎倦怠；不節食則傷胃，而中脘於是痞塞；濕土之氣，鬱而不發，則臌脹、黃疸之疾成；濕土之氣潰而下注，則痢疾、泄瀉之病作，而脾胃之症，此其極矣。不但已也，脾胃一傷，則五臟皆無生氣，由是為腰痛，為煩惱，為膀胱脹滿，而腎始病矣；為恍惚，為怔忡，為煩躁，而心始病矣；為吞酸，為吐酸，為脅脹，為多怒，而肝始病矣；為咳嗽，為喘急，為呃逆，而肺始病矣。五臟之病，亦有自為病者，未可皆歸罪於脾胃也。而病之始於脾胃者居多焉。人可以不調理脾胃乎？要而言之，飲食勞倦，皆宜有節，而二者之間，又以節飲食為主要，蓋胃居脾下，飲食之所聚也，而克化之權，則在於脾，脾覆乎胃，運開合之機，無一時而不動，胃火上升，脾火下降，氣嘗溫暖，是以飲食易消，若嗜味而過飽，則充塞胃口，上礙於脾，脾雖欲動，不能動矣，其能以克化乎？此所以調理脾胃，又莫先於飲食之節也。</p>
<p><u>藥例</u></p>
<p>大抵肥白之人多濕，一有脾胃之症，必濕淫於內也，宜大劑蒼朮為君，白朮、半夏為佐以燥之，而又兼以茯苓、澤瀉、豬苓、木通之類，以利其濕，使從小便而出可也。</p>
<p>黑瘦之人多血少，一有脾胃之症，必脾虛不能裹血，以致之也，宜用意消息之。若口乾唇燥，肌膚少潤，而又飲食不能消化，必兼血藥，如四物湯之類，配四君子湯，加薑、棗，而四君子中，以白朮為君，乃為得宜。若無血少之症，亦不必用血藥，要在活法。</p>
<p>胃弱不知滋味，飲食厭倦者，宜鼓動其胃氣，必以芬芳藥開之，如藿香、木香、檀香之類，君以人參、白朮，佐以枳實、陳皮、砂仁、甘草之類。枕邊嘗置烏梅二三個，酸氣入鼻，最能開胃，此捷法也。</p>
<p>脾虛作瀉，氣不收攝者，宜大補其脾，略加收澀之劑。</p>
<p>宜人參、白朮為君，茯苓、蓮肉、薏仁之類為佐，而以訶子、肉果、五味、烏梅之類，則收澀之劑也。</p>
<p>婦人脾胃不和，胸膈痞滿。</p>
<p>宜以白朮為君，枳實、陳皮為佐，每藥一斤，配便浸香附一斤，作丸服之。</p>
<p>若老人脾胃不和，大便乾澀。</p>
<p>宜以雞腿術為君，枳實、陳皮為佐，每藥一斤，配歸身一斤，少加甘草，作丸服之。</p>
<p>統治脾胃之劑。</p>
<p>宜以白朮為君，茯苓、陳皮、枳實、甘草為佐，挾寒加官桂，挾熱加黃連，挾痰加半夏，挾濕加蒼朮，血不足加歸、地，氣不足加參、耆，有食加神麯、麥芽、萊菔子之類，有蟲加檳榔、川楝、針砂、使君子之類，有氣加木香、香附、青皮之類，要在斟酌用之，不可執泥。其餘泄瀉、下痢、臌脹、黃疸之症，雖皆屬於脾胃，然自有本條開陳，此不復贅。</p>

<h2>蟲症</h2>
<p>蟲，動物也，草木水土之中，宜有之，何為而有於人之腸胃中乎？蓋蟲者，亦得天地之氣以成形者也，而形不自成，必假物而後成，如草腐而生螢，雀死而成蛤，魚肉爛而生蛆，皆藉有形之物，感陰陽之氣，而後形體成焉。人身小天地，而人之氣即天地之氣也，然則蟲之生於腸胃中者，亦豈無所假而成哉。飲食入胃，不能消化，如魚鮓肉醢、生面、硬飯之類，停積於中，濕熱相感，稠黏膠固，資熱血以相裹，得生氣以陶熔，則不動之物悉能成動之形，頭尾皆具，而渾然一蟲類矣。其始也，因飲食而變，其既也，賴飲食以養，絞擾蟠結，食人精氣，飲人膏血，壞人臟腑，夭人壽命，蟲之為害，可勝言哉。大凡難化之物，皆能生蟲，不但如酢醢面飯之類而已。若誤吞頭髮羽毛，尤為易生者也。不特此也，雖無質之物，亦能生焉，如濃茶濁酒，本無質者，而所澄之腳，最能成病，故有茶癖酒積之症，久之亦變為蟲。成於茶者，嘗思食茶，成於酒者，必酷嗜酒，一日不遂所欲，則一日不能暫安，此其症也。又有所謂癆蟲者，又何所自而生耶？蓋癆蟲即屍蟲也，癆疾之人多瘀血，瘀血不消，得火煅煉，遂成細蟲，其色多赤，無翼而能飛，或隱或見，其來也不測，皆血之所化也，以其為血所化，故比諸蟲則甚靈焉。血統於肝，而肝則藏魂，故此蟲者，魂之所依也。病人既死，魂隨蟲出，好覓同氣，同氣之親，不幸而染之，則成傳屍癆焉。此又蟲之最可畏者也。然蟲病人恆有之，醫者何以灼知其真而藥之耶？必有形症可見也。蟲病之人，面黃肌瘦，唇白毛枯，容顏不澤，臉多白印，時覺噁心，口吐清水，或心腹絞痛，飲食不為肌膚，或頭髮猙獰，灑淅惡寒，或額面生瘡，濕癢沿連，皆其症也。知此則可以用藥矣。若夫癆蟲之形症，必其人之父兄伯叔先患癆症而死，而其人復有是症，乃可以決之耳，又豈與諸形症同哉。</p>
<p><u>藥例</u></p>
<p>口中吐蛔者，乃胃火上升，蛔不能安，故隨火而起也。</p>
<p>宜先以烏梅、黃連安之，使其降下，然後以殺蟲之劑投之可也。然殺蟲之劑切不可用花椒，花椒雖能殺蟲，而其味本辣，若於吐蛔之時而驟用之，必跳躍而起，寧不絞壞心胸乎？醫者不可不知也。縱使欲用，必先去其核，溫湯浸浮，令其口閉，空朝以好酒送下，亦治法也。此不惟可以治蟲，而患寒症者亦能治之。</p>
<p>大便去蟲者，當任其自出，若去蟲太甚者，不可專治其蟲也。</p>
<p>宜以白朮等藥安其脾，佐以檳榔、川楝、使君子之類，以除其根，斯攻補兼施之道也。</p>
<p>蟲病腹滿作痛必下之。</p>
<p>用黑牽牛一斤，取頭末四兩，用生大黃四兩，再研極細，蜜水為丸，如桐子大，飢時好酒送下三四錢，大下諸蟲。然後以人參、白朮、陳皮、茯苓、炙甘草、大棗補之。</p>
<p>蟲食下部，肛門癢甚，乃大腸受熱，生化細蟲為害也，雖服丸散煎劑，道路甚遠，不能奏功，必當其處取之方可。</p>
<p>用豬肝一大塊，切作圓穩一條，長可五六寸，煮熱，四圍刺作眼，如簪腳大者，三四百孔，蘸糖塞進肛門，其癢益甚，少頃癢止，其蟲已入肝中，徐徐取出，另換新者塞之，如此數次即愈。亦治婦人陰戶有蟲，癢不可忍者，甚驗，不可視以為迂也。</p>
<p>好食茶者，謂之茶蟲，酷思酒者，謂之酒蟲，欲飲油者，謂之油蟲。至於小兒多好食生米壁泥，皆蟲所使也。</p>
<p>皆當以殺蟲之藥，如鉛灰、雷丸、檳榔、川楝、使君子之類為丸，即以所好之物送下，直至蟲處而殺之。一法不必服藥，但使病人禁食所好之物，苦苦忍之，忍至四五日，其蟲不得所食，則飢而上升以求食，口中覺饞甚，將病人綁縛凳上，令其覆臥，然後以所好之物，近其口邊引之，香氣入喉，必湧躍而出矣。</p>
<p>疳蟲為病，面黃骨立，肚腹臌脹，小兒多有之。</p>
<p>宜用大蝦蟆幾隻，將砂仁入其腹中令滿，以線系其足，倒掛當風處，陰乾，炙脆為末，同人參、白朮、枳實、檳榔、使君子、黃連、針砂、麥芽、山楂、陳皮之類，共研細為丸，如米粞大，或為散子，糖拌服之，大有奇效。</p>
<p>凡治蟲病，當於每月上旬服藥，乃能奏功。若非上旬，多有未效，蓋諸蟲每月上旬頭皆向上，故服藥徑至其口中而殺之，此亦但論治蟲之日期耳，不可執以為一定之法。若病勢已急，豈能待其上旬耶？</p>
<p>屍蟲方已見癆瘵門，此不復贅。</p>

<h2>黃疸</h2>
<p>黃疸之病，皆濕熱所成，濕氣不能發泄，則鬱蒸而生熱；熱氣不得宣暢，則固結而生濕，濕得熱而益深，熱因濕而愈熾，二者相助而相成，愈久而愈甚者也。然求其濕熱之所由生，未有不由於大醉大飽，及醉飽後貪睡久臥，與努力行房而得者。或醉飽後入水洗浴，寒氣斂束，密其腠理，汗不得出，以至濕熱相感，而成此病焉。外不得汗，內不得瀉，薰蒸濡染，流入皮膚，上達面目，下至足跗，中及手臂，前腹後背，皆如塗金，小便赤如薑黃，猶之罨曲醬，因濕熱而成其色也。大法上半身黃甚，則宜發汗，下半身黃甚，則宜利小便，以分消其濕，而佐以退熱之劑。然又必觀其所傷之物而消化之，非徒治其濕熱而已。此不易之論。若久而不愈，還宜救脾與血也。欲知其不治之症，何以斷之？曰黃疸變黑如煙塵者死；小便如膏者死；腹脹者死；飲食太少者死。渴者難治，不渴者易治。若眼漸白，小便長者，病將退也。</p>
<p><u>藥例</u></p>
<p>黃疸因中酒而成者。</p>
<p>宜大劑葛根為主，佐以天花粉、山梔、茯苓、甘草梢、木通、車前子之類，以利小便，使濕從下行。蓋酒本無質之物，只宜利小便而已。</p>
<p>因傷食而成者，審其所傷者何物。</p>
<p>如肉食則山楂、阿魏，穀食則麥芽、神麯，麵食則萊菔子、陳皮，宿食則枳實、黃連，暴食則檳榔、草果之類，佐以利小便之劑。</p>
<p>因女色而成者，名曰女勞疸，亦未有不由於醉飽者。若不醉不飽，雖行房亦未必成黃色。</p>
<p>治此病者，以活血為主，生血次之，如桃仁、紅花、丹皮、赤曲之類，兼以四物湯，佐以消食消酒之劑，並利其小水而已。</p>
<p>因傷食既久，服消食藥不效者，勿以不效而遂止之，宜多服幾帖，浮動其根，待腹中絞痛，即以大黃三錢，厚朴二錢，官桂一錢，甘草五六分下之。</p>
<p>得病後全無汗者，乃腠理縝密，濕不能散也。</p>
<p>宜以發汗為主，如蒼朮、白朮、蔥白、紫蘇、羌活之類；如又無汗，再加桂枝、麻黃、甘草，或單用浮萍草煎湯，時時飲之，亦能取汗。若有食則消其食，有酒則消其酒，當消息之，不可專於發汗。若身壯熱而無汗，則用麻黃，勿用桂枝。</p>
<p>身面皆黃，又發熱者，熱多於濕也。</p>
<p>宜以茵陳為君，山梔、黃連、甘草為佐，或發汗，或利小便，隨症治之。若服寒涼之劑，而熱不退，宜加幾味，如人參、連翹、芍藥、麥冬服之，恐生虛熱也。若純用寒涼之劑，脾不能堪，多有發單脹者，慎之慎之。但於劑中加生薑幾片，則藥有監製，而功可奏矣。凡黃疸之病，其源必起於脾虛不能運化，轉輪不及，濁氣拂鬱而然，是脾虛為本，濕熱為標。又有傷寒熱病，陽明內實，不得發越，亦令發黃，治法不可一例而施也。</p>
<p>統治黃疸久不愈者。</p>
<p>用桃樹根東行者一束，洗淨，切碎，煎二三碗，令病人空朝服之，約人行二十里許，即欲大便，下盡黃水即愈矣。然不可謂全妥，又必調理脾胃，庶不生它症也。</p>
<p><u>附黃腫</u></p>
<p>人有病黃腫者，不可誤以為黃疸。蓋黃疸者，遍身如金，眼目皆黃，而面無腫狀，黃腫之黃，則其色帶白，而眼目如故，雖同出脾胃，而病形不同，醫者當審而治之。黃疸之起，由於濕熱蒸染，而黃腫之症，則濕熱未甚，而多蟲與食積之為害也。或偶吞硬食過多，礙其脾家道路，經久不消，脾家失運化之權，濁氣上騰，故面部黃而且浮，手足皆無血色，其有蟲者，必吐黃水，毛髮直指，皮膚不澤，且好食生米、茶葉之類是也。若腫及四肢者難治，腫及腹者不治，飲食減甚者不治，以其無胃氣也。</p>
<p><u>藥例</u></p>
<p>審其病果蟲多於食，則以殺蟲藥為主，食多於蟲，則以消食藥為主，蟲食相半，則均治之。治蟲如使君子、檳榔、鉛灰、雷丸、川楝之類；治食如枳實、黃連、阿魏、山楂、蓬朮、草果之類。治蟲治食，必帶補脾胃，兼去其濕熱，如白朮、蒼朮、茯苓、澤瀉之類，量病加減作丸藥。而劑中又不可無針砂，有針砂則其功易奏，此皆王道之藥也。若欲收霸功，則巴霜、硇砂、礞石之類為末，以粽角搗為丸，其功尤速也。如其不然，則但以消食殺蟲之劑，先服幾帖，浮動其根，然後以承氣湯下之亦妙。</p>

<h2>臌脹　水腫</h2>
<p>臌脹之所以得名者，以其肚腹脹緊，彈之有聲，有似乎鼓，故名曰臌脹。然果何自而致此哉，蓋臌脹之作，有得於食者，有得於氣者，有得於氣食兼併者，有先得於色，而後傷於食者，有先得於食，而後傷於色者。傷於食則食不消而胃氣已窒，傷於氣則肝經受病，而痞塞不通，傷於氣食則肝益有餘，脾益不足，以有餘之肝木，克不足之脾土，則氣愈結而食愈不化，由是臌脹緊急，而病日益深矣。先得於食而後傷於色，則脾先受病，而腎繼之，中脘先脹，而後及於小腹，先得於色，而後傷於食，則腎先病，而脾繼之，小腹先脹，而後及乎中脘。若氣與食、色三者皆備，則一齊而發，中脘小腹兩脅盡脹，此病之尤重者也。臌脹不愈，而眼下忽如臥蠶狀者，必發水腫，然水從何而得耶？蓋人之一身，血與肉而已矣，食入於胃，則遊溢精氣，可以生肉，飲入於胃，則灌溉百脈，可以生血。飲即水也，飲既生血，則血之所成，成於水也，自出母胎，以至成童，自成童以至壯盛，其所飲既多，則其所生亦多，水即未成之血，血即已成之水也，使其善於調攝，不為氣與食、色所傷，則血不受病，何水腫之有？惟夫外傷於氣，內傷於食與色，則內氣交結，而血滯不流，又中挾脾濕，下連腎水，水土混淆，滲於皮肉，則一身之血復變為水，與脾腎二經之邪，統而為一，且旁達於四肢，充滿於上下，其狀如匏，其冷如冰，其堅如石，而病斯極矣。欲知其死生，何以斷之？曰臌脹之病，臍滿者重，臍突者死，飲食太少者死。水腫之病，手足心平滿者死，面黑者死。此斷死生之大訣也。大法治臌脹者，以實脾祛濕寬膨利水為主，治水腫者，以行水為主，而後補之。</p>
<p><u>藥例</u></p>
<p>傷於食者，以消食為主，而佐以扶脾利水祛濕寬膨之劑，如檳榔、草果、枳實、陳皮、萊菔子、山楂、麥芽之類以消食，白朮以補脾，蒼朮以祛濕，厚朴、大腹皮以寬膨，茯苓、豬苓、車前、澤瀉以利水。</p>
<p>傷於氣者，以開氣為主，而佐以扶脾利水祛濕寬膨之劑，如青皮、枳殼、木香烏藥之類以開氣，而其餘藥與前同用。</p>
<p>氣食兼併者，以前消食開氣之藥為主，而所佐之藥，如祛濕寬膨利水之劑，亦與前同。</p>
<p>先傷於食，而後傷於色者，以消食為主，如前所用之類，而兼用當歸、紅花、蘇木、桃仁以活血，其餘所佐之藥亦與前同。</p>
<p>先傷於色，而後傷於食者，以活血為主，如當歸之類。而消食之劑，亦同於前。其餘所佐同前可也。若氣食與色兼備，皆以前藥參用，又當分其緩急，而次第施之。</p>
<p>婦人亦有氣臌、食臌，而血臌具多，以其多起於經閉，及產後惡血不出所成也。方與論俱見婦人門。而氣食所成者，亦以前所用者為準也。</p>
<p>凡治此病，切不可用甘草，而諸藥之中，必多用生薑皮煎服。</p>
<p>水腫之病有因臌脹而得者，有不因臌脹而得者，皆視其眼下高起如臥蠶者，必發此病也。論大法，亦宜實脾利水寬臌法濕順氣。然病勢至此，則水氣用事，真氣無權，正如一國之中已為大寇所據而為之君者，既失其地方，且以君子之道勸之，徒激其怒耳，於事竟何益哉。必以大兵臨之乃能濟事。雖城郭宮室之美，人民庶物之富，不無大壞，而猶不失其故土，亦可以招集叛亡，復其舊業，而宗社血食或可保也。何以異於是乎？故實脾利水之劑，雖曰穩當，而未能速應，必先用甘遂、芫花、葶藶、大戟之類，開通水道，使從大小便一齊而出，如大禹治水，掘去壅塞，順流而下，始能底績，待其水下之際，時時與米湯飲之。則病人不至眩暈，水既下盡，然後以參、朮、茯苓、大棗煎湯，徐徐服下，服數劑之後，更以八物湯作丸子服之，則庶乎其可也，然此亦求一生於萬死之中耳，至於死生存亡猶未可保。醫者以活人為心，故不能不曲為之所，豈真以是病為易治，而輕試其手哉。</p>
<p>水腫病不問年月遠近。</p>
<p>用大戟、當歸、陳皮各一兩，銼碎，水二升，煮七分，頓服。當利下二三斗，至重不過再服。此方亦治血臌。</p>
<p>水氣遍身浮腫，氣促坐臥不安。</p>
<p>用牽牛二兩，微炒，搗末，以烏牛尿浸一宿，平旦入蔥白一握，煎十餘沸，去渣，空心分為二服，水從小便中出。</p>
<p>總治水腫，看何經加藥。</p>
<p>葶藶　川椒　雄黃　澤瀉　芫花（醋浸，炒）　大戟　甘遂　赤茯苓　桑白皮　穿心　巴戟（各一兩）　為末，每用一兩，水浸，煎八分，空心溫服，小便多為效。加藥之法，須看何經，從陰腫起，其根在腎，加澤瀉一兩；從腹腫起，其根在肚，加川椒一兩；從口唇腫起，其根在小腸，加巴戟一兩；從面腫起，其根在脾，加桑白皮一兩；從脅腫起，其根在骨，加甘遂一兩；從頂腫起，其根在膈，加茯苓一兩。仍審其虛實加減，忌食雜物。所謂加藥者，一劑之中，再加一兩也，須活法用之。</p>

<h2>三消</h2>
<p>消者，易消之謂也。邪火內爍，真陰枯竭，善渴善飢，不為肌膚，飲食入胃，頃刻消盡，故曰消症。以其上中下三焦受熱，故曰三消。所謂三消者何？曰消渴，曰消中，曰消腎，乃心脾與腎三經之火症也，而心脾二經之熱，又皆由於腎火。蓋腎之所主者，水也，真水不竭，自足以滋養乎脾，而上交於心，何至有乾枯消渴之病乎。惟腎水一虛，則無以制餘火，火旺不能撲滅，煎熬臟腑，火因水竭而益烈，水因火烈而益干，陽盛陰衰，構成此病，而三消之患始劇矣，其根豈非根於腎耶。然分而言之，又若有各自為病者，如心經既虛，邪火乘之，而又內挾心火，心火為邪火，一時騰起，不能制抑，薰蒸上焦，以至口乾舌燥，咽喉如燒，引飲雖多，而煩渴不止，小便頻數而短少，所謂消渴者此也。脾經既虛，邪火乘之，而內炙脾土，脾家為火所爍，胃火亦從而起，倉廩之官失職，中宮之位已虛，令人消穀而易飢，飲食大倍於平日，肌肉漸瘦，小便如泔，雖甚煩渴而引飲不多，所謂消中者是也。腎經既虛，邪火乘之，水本能勝火，而今反為火勝，一杯之水易干，車薪之火方熾，則先天真一之精，煎熬殆盡，由是骨髓皆枯，肢節瘦細，腿膝痠疼，唇裂口燥，渴而引飲，飲雖不多而便溺時下，不能收攝，所謂消腎者是也。三消雖自為病，而根本總歸腎經，真水一虛，而三病從之，醫者可以知其源矣。此病惟好酒好色，喜食炙煿，好服丹砂金石之藥者多成之。蓋好酒則熱易積，好色則火難制，喜食炙煿則津耗亡，愛服丹石則腸胃燥烈，而火症起矣，可不慎哉！</p>
<p><u>藥例</u></p>
<p>消渴之症，上焦受熱，渴多引飲，宜滋養心經。</p>
<p>以大劑麥門冬為君，石蓮、黃連、天花粉、白茯苓、五味子、人參為佐，加四物湯服之。蓋此症宜補陰血以勝陽，故必以四物湯合劑，而消中、消腎皆用之。</p>
<p>消中之症，善飢多食，宜治脾熱，抑胃火。</p>
<p>以煅過石膏為君，蒸熟大黃、生甘草、茯苓為佐，加四物服之。</p>
<p>消腎之症，骨瘦腿疼，宜滋腎水。</p>
<p>以杜仲、黃柏為君，天門冬、人參、知母、五味子、乾山藥為佐，加四物服之。</p>
<p>三消俱病，其勢已危，九死一生，藥亦不效，若不忍坐視，急用前三處之藥，總作一劑，水煎成膏，與消梨汁、童便調和，渴即飲之，或可扶持。</p>
<p>大凡此症，從好酒而得者，劑中加乾葛、天花粉、黃芩之類，從好色而得者，加天麥門冬、黃柏、杜仲之類，與豬腎子同煎服。從喜食炙煿而得者，大碗消梨汁、苦茗之類可服。從喜服丹砂而得者，大碗童便及井底泥漿水、大劑人中黃之類可服。醫者當斟酌而用之。</p>

<h2>噎膈</h2>
<p>噎者，咽喉噎塞而不通，飲或可下，食則難入也；膈者，胃口隔截而不受，雖飲食暫下，少頃復吐，而不能容也。求其所以致病之由，而要皆憂鬱不開，思慮太過，忿怒不伸，或驚恐時值，變故屢遭，汲汲皇皇，無安寧之日，以致內氣並結於上焦，而噎膈之症始成矣。此皆處於逆境則然耳。致於素享富貴之人，亦有是症者何哉？必因厚味所傷，及酒色過度，虛火用事，真陰消爍，以致血液乾枯，頑痰膠固，結於咽喉之處，則成噎，結於胃口之處則成膈也。又有不因酒色而得者，亦當以血枯痰膩，及氣鬱治之。但審其所得之由，及觀其所稟之厚薄，方可用藥。如瘦人多火，其血易干，亦有因火而生痰者。肥人多濕，其痰易結，亦有因濕而血滯者。窮困之人多憂鬱，經營之人多思慮，不得志之人多忿怒，遭變之人多驚恐，好酒之人多痰火，好色之人多積血，嗜味之人多宿食，使氣之人多惱怒，醫者審而治之，不可以一端求也。又有所謂鼠噎者，見人即不食，揹人則私食之，乃食鼠殘中毒所致，又豈可以一例治之乎？凡治此症，以開鬱順氣消痰潤血為主，此其大法也。</p>
<p><u>藥例</u></p>
<p>由憂鬱不開而成者，宜先開其鬱，而及其徐，必以枳殼、撫芎、香附為主，而佐以貝母、桔梗、菖蒲之類。有痰則消其痰，如瓜蔞、半夏、薑汁、竹瀝之類；有血則潤其血，如當歸、桃仁、阿膠、玄參、生蜜之類；有食則化其食，如神麯、麥芽、陳皮、枳實、萊菔子、檳榔、草果之類，各隨症治之。</p>
<p>由思慮太過而成者，宜以開心竅為主，如菖蒲、燈心、通脫木之類，而佐以順氣之藥，如蘇子、茯苓、陳皮、沉香、白豆蔻之類。若有他症，照前加之。</p>
<p>由驚恐而成者，以安心神為主，如茯神、遠志、麥門冬、菖蒲之類，佐以順氣之藥，如有他症，照前加之。</p>
<p>由血液乾枯而成者，以潤血為主，如阿膠、麥門冬、玄參、知母、生蜜之類，佐以順氣之藥。如有他症，照前加之。</p>
<p>由頑痰膠固而成者，以化痰為主，必用海浮石、蛤粉、玄明粉、礞石、白硼砂之類為極細末，用薑汁、竹瀝調少許，嚐嚐服之。必是此等藥，方可治頑痰也。其煎劑，如油炒半夏、貝母、瓜蔞、橘紅、茯苓、天花粉、黃芩、薑汁、竹瀝之類，佐以順氣之藥服之。若頑痰壅塞，不能伸氣者，必用麻油二三兩，桐油半兩，調和服之，大吐頑痰，勢即寬矣。</p>
<p>由積血不消而成者，以消血為主，如山楂、紅花、赤曲、丹皮、降真香、蘇木、蓬朮、當歸之類以消血，佐以枳殼、青皮、香附、紫蘇梗之類以順氣。若又挾痰，加薑汁、竹瀝、風化硝以消之。</p>
<p>由宿食不化，傷於胃口而成者，以消食為主，如枳殼、檳榔、蓬朮、陳皮、萊菔子、草果、麥芽、神麯之類，佐以順氣之藥，如木香、青皮、香附、烏藥、蘇梗之類。若有痰加薑汁、竹瀝；若有積血，如前消血之藥；若有乾血，如前潤血之藥，加減服之。</p>
<p>由食鼠殘而成鼠噎者，即以鼠糞燒灰，存性為末，與萊菔子、白豆蔻等分為末，時時用好酒送下，或二三錢，不拘時服。</p>
<p>凡噎膈初起，不論痰與血，即以韭菜白頭搗取自然汁，同薑汁、竹瀝、童便、好酒調和，日服一二盞，其效如神。丹溪乃以二陳加竹瀝、童便、韭汁之類為主，治法亦相似。</p>
<p>凡膈症不能容物，食之即吐盡者，名曰翻胃，乃胃寒也，宜以溫胃為主，用大附子去皮臍不用，切碎，入童便內煮二炷香，取出放淨磚上，四圍用炭炙之，待其燥烈，淬薑汁內，再炙再淬，直令熟透，切片，曬乾，為極細末，每服一二錢，用茯苓、藿香、砂仁、白豆蔻、黃連、生薑，煎湯送下。</p>

<h2>嘔吐</h2>
<p>嘔者有物在中，其所來之道遠，故必嘔而後出也；吐者亦有物在中，其所來之道近，故一吐而即出也。分而言之，微有不同，合而言之，同歸於火。飲食痰涎，停積不化，胃火上升，即湧而出矣。其病與翻胃相似，而實各有所屬。翻胃屬寒，嘔吐屬熱，惟其熱也，故其出也無定時，或隨食隨吐，或食良久而後吐。隨食隨吐者火也，火邪急速，不及入胃而即出，無嘔逆之苦，無揮咯之勞，是即吐之謂也。食良久而後吐者，火猶稍緩，必入胃余時，委曲而出，酸苦萬狀，傷神勞精，腸卷而腹急，是即嘔之謂也。而所出之物，亦不甚盡，惟翻胃也則陰氣下結，水穀暫容，朝食則暮吐，暮食則朝吐，或朝食至午而吐，或午食至暮而吐，其吐必盡所食，日日如此，不少愆期，蓋胃家受寒，不能運化，自不容於不出，則翻胃與嘔吐，所以不同也。又有吞酸吐酸者，何也？蓋飲食入胃，胃弱不能消，而又挾肝火，是以作酸，浮飲積蓄，變為酸痰，肝火升則吐，肝火降則吞，其吞與吐，皆肝火升降之所為也。故治嘔吐者，必治其熱，治翻胃者，必治其寒，治吞酸吐酸者，必抑其肝，而後所投之藥，無不中矣。</p>
<p><u>藥例</u></p>
<p>傷食嘔吐者，飲食過多，一時不能克化，胃窄不能容，又挾火邪故也，宜以消食為主，抑火順氣次之，用山楂、麥芽、檳榔、草果之類以消食，黃連、石膏以抑火，藿香、蘇子、陳皮、白豆蔻之類以順氣，加薑汁服。</p>
<p>痰多嘔吐，以消痰為主，降火順氣次之，宜半夏、南星、瓜蔞、貝母之類以消痰，黃連、黃芩、山梔之類以降火，蘇子、茯苓、白豆蔻、橘紅之類以順氣，加薑汁、竹瀝服之。</p>
<p>痰食相併嘔吐，以消食化痰為主，降火順氣次之，用枳實、萊菔子、神麯、麥芽之類以消食，半夏、瓜蔞、貝母之類以化痰，黃連、石膏之類以降火，蘇子、白豆蔻、橘紅之類以順氣，加薑汁服之。</p>
<p>傷酒嘔吐，以解酒為主，降火順氣次之，用天花粉、綠豆粉、葛粉之類以解酒，黃連、山梔、黃芩之類以降火，蘇子、枳殼、陳皮之類以順氣，加蘿蔔汁服之。</p>
<p>挾風吐浮沫，以荊芥、天花粉、半夏、南星為主，薄荷、紫蘇梗葉為佐。若頭眩，加天麻，有火加黃連，入薑汁、竹瀝服之。</p>
<p>噁心嘔吐，乃胃氣不足故也，以扶胃為主，用白朮、人參、半夏、藿香、白豆蔻、白檀香、蘇子之類，加薑汁、竹瀝服之，若惡食加枳實。</p>
<p>大凡嘔吐藥中，須磨沉香四五分服之，其效如神。</p>
<p><u>附</u>　翻胃</p>
<p>翻胃不甚劇者，但視其所食之物，猶未盡者是也，宜用溫藥。</p>
<p>如木香、桂心、生薑之類，以溫其脾，加半夏、黃連、人參、茯苓煎服。</p>
<p>翻胃甚者，所食之物吐盡者是也，其胃大寒，必用熱藥。</p>
<p>如煨熟附子、丁香、乾薑之類，加姜炒黃連、人參、茯苓、蘇子、沉香、白豆蔻煎服。</p>
<p><u>附</u>　吞酸　吐酸</p>
<p>吞酸、吐酸，雖有吞吐之不同，而治法則一也。皆以抑肝火為主，而消痰順氣次之，大劑姜炒黃連為君，佐以半夏、青皮、茯苓、烏藥、檳榔以順氣消痰，加薑汁、竹瀝服之。或用吳茱萸三錢，黃連七錢，姜糊丸，名曰左金丸，蓋佐肺金以伐肝也。用滾湯送下三五十丸，不拘時服，甚效。此方兼治兩脅臌脹。凡治酸，必用吳茱萸，順其性而折之也。</p>
<p>凡此四症，皆禁用甘草，蓋甘能壅氣，又能發吐故也。</p>
<p>河間曰：吐症有三，氣、積、寒是也。上焦吐者，從乎氣，脈浮而洪，食已即吐，渴欲飲水，大便燥結，氣上衝胸而痛，治當降氣和中；中焦吐者，從乎積，脈浮而長，或先吐而痛，或先痛而吐，乃食與氣相併為積而痛，治當去其積，行其氣；下焦吐者，從乎寒，脈沉而遲，朝食暮吐，暮食朝吐，小便清利，大便不通，治當通其秘，溫其寒，大便漸通，再用中焦藥和之而愈矣。</p>

<h2>霍亂</h2>
<p>霍亂之症，急於風火，心腹絞痛，腸胃並結，欲吐不吐，欲下不下，手足揮頓，滾轉煩悶，頃刻之間，死生安危系焉。蓋由平日過傷飲食，多勞多氣，一感臭穢，清氣混淆，於是陰陽不條暢，水火不升降，中氣潰亂，而病斯劇矣。邪在上則吐，邪在下則瀉，邪在中則吐瀉兼作，是皆易治者也。若不吐不瀉，則死生在頃刻矣。</p>
<p>又有轉筋霍亂者，筋脈拘攣，手指足指扳挽屈曲，此尤霍亂中之至重者也。若吐瀉則亦有可治，如不吐瀉，必死無疑矣。大抵霍亂初起，不得用藥，以其氣亂藥不能理也。</p>
<p><u>藥例</u></p>
<p>大法霍亂初起，無如鹽水，以無灰食鹽二兩，炒乾，乘熱投河水中，調和，約二三碗，令病人連連飲之。鹽性墜下，直墜至底，浮食於上，則吐矣。若吐不通快，再飲之，直至通快而後止，吐盡宿物，則邪氣亦散而腹痛即寬矣。</p>
<p>或用瀝青一錢，為細末，長流水調下，分作二服，其痛立止。</p>
<p>霍亂不吐瀉，腹脹如鼓，不得用別藥，惟益元散可服。用細軟滑石，水磨，漂去黃水，曬乾，每滑石末六錢，配甘草末一錢，故名六一散，泡湯冷定，時時呷之，或連末服下。此藥能降邪氣，消食墜痰和胃調中，但聞腹中有響聲，此是好消息，不吐則必下，不下則必吐，乃霍亂中之妙藥也。</p>
<p>調理之劑，如順氣，則藿香、烏藥、砂仁之類，如消食，則陳皮、麥芽、神麯、枳實之類，如破結，則厚朴、香附、青皮之類，如降火消痰，則半夏、茯苓、黃連之類，如治轉筋，則木瓜、白扁豆、當歸、烏藥之類，此其大法也。直待全愈之後，始可用參、術。</p>
<p>霍亂乃邪氣用事，正氣無主，潰亂之際，大忌薑湯、米湯及烏梅梅醬等湯，服之立死，雖熱湯亦不可用，禁之禁之。</p>
<p>小腹作痛，脹緊如石，氣冷並結者，乃房勞傷也，切不可誤以為霍亂，妄投冷水，及補藥之類，服之立死。但用消傷、破血、調氣之劑，如紅花、蘇木、桃仁、當歸、木香、青皮、檳榔之類，酒煎，加童便調和，大口嚥下。又令病人坐蔥湯中浸之。</p>

<h2>頭痛</h2>
<p>頭居眾體之上，為諸陽之會，其位至高，猶山之有巔，木之有杪也。風之起也，愈高而愈狂，山巔木杪先得之，故云行如飛，葉落如雨，皆風使之然也。頭居上體，為風之所先及，然以其會乎諸陽，而不畏寒，則人多忽之，而不知所避，風邪一入，頭即痛焉，故頭痛之病，風痛居多。夫風何以使之痛，蓋風之為物也，善行而數變，其性易入，其氣易感，頭之諸陽，內聚而拒風，風之勢力，外攻以抗陽，風與陽而相爭，則兩不肯伏，交戰於至高之分，而頭之諸經始病矣。以諸陽之強，且不能以勝風，而況於諸陰乎？其有血虛氣虛而作痛者，雖系本元之不足，而實風之為病也。蓋虛之所在，邪必湊之，使無風以入之，惟覺眩運而已，而何以作痛那。但其氣血已虛，無力拒風，風雖入而不與之爭，故其痛亦不甚也。其有飲食不消，痰涎湧上而作痛者，非盡風之罪也，醫者宜審而治之。大要皆當以川芎為統治之藥，而諸經之主治藥為君，佐以薄荷、荊芥等藥，乃為得宜。至於升麻，諸經皆不可缺，而獨少陰則不必也。</p>
<p><u>藥例</u></p>
<p>風入太陽經，則髮際痛。</p>
<p>羌活為君，川芎、升麻、白芷、防風、甘草為佐，加蔥白、生薑。</p>
<p>風入陽明經，則額前痛。</p>
<p>白芷為君，川芎、升麻、羌活、防風、甘草為佐，加蔥白、生薑。</p>
<p>風入少陽經，則兩鬢間痛。</p>
<p>柴胡為君，川芎、升麻、羌活、白芷、防風、甘草為佐，加蔥白、生薑。</p>
<p>風入少陰經，則頦骨緊痛。</p>
<p>細辛為君，獨活、川芎、白芷、防風為佐，少加升麻、甘草、黃柏。</p>
<p>風入厥陰、太陰之交，則頂巔痛。</p>
<p>藁本為君，升麻、川芎、防風、牙皂、甘草為佐。</p>
<p>風入後太陽經，則腦後風池、風府及頸項強痛。</p>
<p>羌活、防風為君，川芎、升麻、薄荷、荊芥、蔥白、生薑、甘草為佐。</p>
<p>諸經頭痛如破不能忍者，必多用蔓荊子，而以諸經之為君者佐之，加蔥白、生薑。</p>
<p>血虛頭痛者，痛雖不甚，而終日星星作疼，如細筋牽引。</p>
<p>以四物為主治，佐以升麻、白芷、薄荷、甘草之類，劑內惟川芎加倍用之。</p>
<p>氣虛頭痛，痛則有微汗，頭甚空虛，眼目眩運，必以重帛包裹，方可少寧。</p>
<p>以四君為主治，佐以半夏、川芎、防風之類。</p>
<p>宿食不消者，飽則頭痛，飢則不痛，蓋食飽則濁氣熏蒸於上，故頭脹緊而作疼也。</p>
<p>宜以蒼朮、厚朴、檳榔、草果、黃連、枳實為主治，佐以薄荷、川芎，少加甘草、砂仁。</p>
<p>痰涎湧上者，必眉稜骨痛，或云屬風熱與痰也。</p>
<p>宜以半夏、橘紅為主治，佐以川芎、升麻、黃芩、薄荷、甘草之類。</p>
<p>諸經頭痛，若兼身熱，必多用柴胡、紫蘇、黃芩、芍藥、炙甘草之類。若挾寒者，加桂枝、生薑。若風邪不能去，加麻黃少許。</p>
<p>半邊頭痛，乃邪客於半邊，屬少陽之分，最為難治，痛久多至害眼。蓋肝膽相為表裡故也。大抵在左屬風屬血虛，在右屬痰屬熱。</p>
<p>宜以柴胡為君，川芎、白芷、升麻、甘草為佐，加蔥、薑、水、酒煎服。外用帶須蔥白搗爛，加飛鹽及牙皂末，貼在痛處，又以艾囊如帕子樣者扎之。</p>
<p>又有雷頭風者，如雷之鳴，為風邪所客，風動則作聲也，諸藥罔效，惟清震湯主之。</p>
<p>諸經皆痛，並用諸經君藥，各二三錢，作劑，加升麻、甘草、蔥、姜之類為佐。</p>
<p><u>附</u>　頭眩</p>
<p>頭痛之外，又有頭眩一症，亦人所不能堪者，雖無痛苦而精神眩耀，所見之物皆顛倒搖動，身如浮雲，足如履空，飲食下咽即吐，胸中怏怏，眼花不定，乃其症也。此為風動肝木，根本皆搖，卷痰上升，迷亂清氣故耳。</p>
<p>宜以天麻為君，薄荷、柴胡、青皮、半夏、黃連、生薑之類為佐，氣虛加參、術，血虛加歸、地，痰多加生薑、竹瀝，精虛加天麥門冬、人參、五味之類可也。</p>

<h2>心痛</h2>
<p>心痛者非真心痛也，乃心胞絡與胃脘痛也。然果何以知之？蓋心胞絡護捧其心，脈絡相系，位居心之四旁，火載痰而上升，礙其所居，胞絡為痰相軋，故脂膜緊急而作痛，遂誤認以為心痛也。胃脘近心，位居心下，而絡於脾，飲食過多，不能克化，傷於胃脘，病根嘗在，略傷飲食，即悶悶作疼，亦誤認以為心痛也。大抵痛而有痰，嘗覺噁心，嘔出痰飲即寬者，即謂之心胞絡痛也。痛而作飽，時噯氣，直至飢而後緩者，即謂之胃脘痛也。又有痛時，得飲熱湯熱酒，而痛緩者，乃寒氣客於心脾之間也。又有心頭作疼，其痛應於背心者，乃憂鬱悲思，積而成病也。又有心頭急痛，唇白髮豎，口吐黃水者，乃蟲之為害也。又有心頭結痛，逆氣上升，如蟲絞擾，自覺胸中唧唧作聲者，非聲也，乃死血隨氣而動也。又有一月一發，或二三月一發，其發也痛極悶死，搔爬無措，涎水一湧而即蘇者，乃寒痰積於心脾之間，安堵不動，一為惱怒勞倦所傷，則寒痰乘勢湧起，泛溢胃口，迷塞心竅，故悶痛而欲死，涎水一湧而出，則胃口漸覺，心竅漸通，而後蘇也。凡此皆可施治，惟平素原無心痛之疾，卒然大痛無聲，面青氣冷，咬牙噤齒，手足冰冷者，乃真心痛也。蓋寒邪直犯君火，旦發則暮死，暮發則旦死，不救之症也。</p>
<p><u>藥例</u></p>
<p>心胞絡痛者，痰也。</p>
<p>宜以玄胡索為君以定痛，半夏、貝母、瓜蔞為佐以降痰，香附、枳殼、砂仁、蘇子以順氣。</p>
<p>胃脘痛者，食也。</p>
<p>宜以草豆蔻為君以定痛，佐以枳實、陳皮、檳榔、草果之類以消食，木香、烏藥、砂仁之類以行氣。</p>
<p>寒氣客於心脾之間而作痛者。</p>
<p>宜以乾薑、良薑、官桂、丁香之類以驅寒，草豆蔻、玄胡索、乳香、沒藥之類以定痛，香附、枳殼、陳皮、青皮、木香之類以開氣。</p>
<p>前心應後心痛者，郁也。</p>
<p>宜用香附、蒼朮、貝母、撫芎、枳殼、桔梗之類以開鬱，木香、砂仁之類以行氣。</p>
<p>心頭急痛，唇白毛豎，口吐黃水者，蟲也。</p>
<p>宜用雷丸、川楝、使君子之類以殺蟲，黃連、烏梅之類以安蛔，乳香、沒藥之類以定痛，砂仁、檳榔、枳實之類以降氣。</p>
<p>心頭作痛，氣逆上衝，唧唧有聲者，血也。</p>
<p>宜用蘇木、紅花、三稜、蓬朮、降真香之類以破血，青皮、檳榔、木香、枳實之類以降氣，水煎，磨沉香五六分，或多至八九分，服之，令血下行。或加童便。</p>
<p>心頭悶痛，必吐而後寬者，痰也。</p>
<p>宜用山梔一兩煎，加薑汁一杯、竹瀝半杯服之。</p>
<p>真心痛，手足青至節者死，寒至節者亦死。蓋因寒邪直至心經，心火衰弱，反為寒氣所劫故也。醫者不忍坐視，用豬心煎湯去豬心，入麻黃、官桂、乾薑、附子之類，直至心經以散寒。此秘要之妙法，亦死中求生之意也。</p>
<p>亦有似真心痛，而實非者，雖有爬床㾓席揮手頓足之狀，而面無青色，四肢不厥，其痛不至於無聲者是也。此乃胃口有蟲，兼痰與食相絞，而為害也。先以錫灰、使君子為末，酒服二三錢，待痛緩，服消食之劑，兼以殺蟲化痰。若察其脈沉遲，亦有寒也，宜以溫藥散之，如木香、官桂之類，若唇白毛豎，口吐黃水，單是蟲也，宜多服使君子、川楝、雷丸之類，禁用花椒，蓋花椒雖能殺蟲，其味太辣，若驟服之，蟲必驚跳攻絞，反傷胃口，甚至有不能堪而殞其命也。慎之慎之！</p>
<p>大法諸般心痛，先用豬心一具，煎湯，取出豬心，入藥煎之，其效立奏。蓋豬心直引諸藥至患處也。其煮熟豬心亦切為片子，蘸乳香、沒藥、甘草、官桂細末嚼之，大有奇效。</p>
<p>凡治諸般心痛，必以開鬱行氣為主，此其要法也。</p>

<h2>腹痛</h2>
<p>腹位於人身之中，而統於脾胃水穀之府也。善理脾胃者，調其飲食，不使太過，戒暴怒，節大勞，何病之有？人有患腹痛者，非傷飲食，必多怒氣，非傷怒氣，必多勞倦，三者不慎，而根抵於中矣，一有感觸，則痛斯作焉。傷於飲食，則飽悶而痛，或痛連於小腹；傷於怒氣，則臌脹而痛，或痛連於兩脅；傷於勞倦，則運化自遲，四肢無力，中脘偎偎而痛。若三者兼而有之，則其發必重，中氣並結而不通，腹硬如石，緊急如鼓，行立不得，坐臥又難，大小便俱閉，胸膈痞塞，病即危矣。若遇此危症，不可坐視其斃，當求一生於萬死之中。先以溫熱之劑，令其餘服，但覺腹中有聲，則可生矣。然溫熱之劑，必是一時過飽，不能通利，腹硬而冰冷者，始可用，若犯霍亂，決不可用也。蓋霍亂不吐不瀉，皆火邪內結，若用溫熱之劑，其斃立待，而參、術之類，尤不可犯，慎之慎之。蓋腹痛多有餘之症，然亦有不足者，如血虛氣虛之類，若平素慎於飲食，而視其肢體瘦弱，又不飽悶，但偎偎作痛，如細筋牽引者，即血虛腹痛也。若肚腹嘗覺空虛，似餓非餓，翕翕作疼，呼吸如無氣力者，即氣虛腹痛也。又有腹中冷痛，嘗欲噯氣，得熱物熨之，或飲熱酒熱湯即緩者，乃冷傷氣也。又有腹中攻痛，口乾舌燥，小便赤澀，肛門如燒者，火也。又有面黃肌瘦，唇白髮豎而痛者，蟲也。醫者審其新久，視其老壯，量其輕重，觀其緩急，而施治之可也。</p>
<p><u>藥例</u></p>
<p>傷食腹痛者，宜用檳榔、草果、三稜、蓬朮、山楂、麥芽、神麯、陳皮之類為主治，佐以芍藥、甘草、木香、香附、砂仁之類煎服。然又必審其傷於何物，如食肉傷，宜山楂、蓬朮、阿魏之類，食飯傷，宜神麯、麥芽之類，食麵傷，宜萊菔子之類，生冷傷，宜官桂、乾薑、蒼朮、厚朴之類，宿食傷，宜枳實、黃連、蓬朮、檳榔、草果之類。因其所傷之物，而以主治之藥為君，佐以徐藥，兼以化氣，則得之矣。</p>
<p>感氣腹痛者，宜以青皮、木香、烏藥、枳殼之類，佐以芍藥、甘草、厚朴、砂仁，少加消食之劑，恐其人有食也。</p>
<p>過傷飲食，並結臌脹，前後不通，肚腹冷痛者，宜用煨熟附子、砂仁同煎，磨枳實、烏藥、檳榔、木香在內，時時飲之，但覺腹中有響聲，則氣已轉運，而所傷之物當從大便而下矣。切不可便用大黃，大黃之性雖走而不守，然亦大寒之藥也，若驟用之，反並結而不行，其斃可待，戒之戒之。</p>
<p>霍亂腹痛，不吐不瀉者，乃一時邪氣擾亂，火熱內攻，切勿誤以為飲食並結，妄投熱藥，如附子、官桂之類，服之立死，宜先飲鹽水，再服益元散，速速服下，其氣自正。待腹中有聲，必發吐瀉，而痛即止矣。此症見於霍亂門，今以腹痛條例覆載於此。</p>
<p>血虛腹痛者，宜用芍藥為主治，佐以川芎、當歸、地黃，兼以甘草、陳皮、木香之類。</p>
<p>氣虛腹痛者，宜蒸熟人參為主治，佐以白朮、茯苓、甘草、陳皮、砂仁、木香、芍藥之類。</p>
<p>腹中冷痛者，宜用肉桂為主治，佐以木香、乾薑、烏藥、砂仁、芍藥、甘草之類，冷甚者加熟附子。</p>
<p>腹中攻痛，口乾舌燥，大小便艱澀者，宜以蒸熟大黃為主治，佐以石膏、黃連、甘草、厚朴之類，水酒同煎。</p>
<p>腹痛而泄瀉者，宜以蒼朮為主治，佐以厚朴、陳皮、甘草、山楂、神麯、麥芽之類，少加肉桂、木香，蓋腹痛而泄瀉，雖是傷食，其實胃寒所致，故用溫藥也。</p>
<p>宿食不消，又挾寒而作痛者，不可用黃連，而枳實則猶可用也，蓋枳實、黃連，雖能消宿食，然既挾寒，則寒藥必不可用，故禁用黃連，但以枳實、蓬朮為主治，佐以消食余藥，加溫劑，如木香、肉桂之類，則自愈矣。</p>
<p>凡諸腹痛，皆宜用芍藥、甘草，乃治腹痛通用之藥也。蓋芍藥味酸，能於土中剋木，甘草味甘，甘先入脾而能緩諸痛，曲直作酸，酸者甲也，稼穡作甘，甘者己也，甲己化土，此仲景妙法也。故芍藥、甘草，名之曰戊己湯，統治諸般腹痛，而血虛腰痛者，尤為甚效，宜於諸藥中加之，惟腹中窄狹者勿用，以其酸寒也。若以酒浸炒熟，則寒性自散矣。</p>

<h2>腰脅痛</h2>
<p>人有病腰痛者，何以致之？曰腎藏於內，外應乎腰，腰之所在，腎之所在也。惟房勞不節，竭其真精，則腎臟空虛，而腰始痛矣。衰老之人，無房勞而腰嘗痛者，亦因少壯之時，自恃雄健，斫喪真元，遺其病於暮年也。又有閃挫而得腰痛者，亦由腎虛，使腎水充實，雖有顛蹶之虞，自無閃挫之患，只因腎虛無所依恁，一有挫閃，則腎離於故處，此痛之所由作也。又有久瀉而作腰痛者，利盡其水，而真水亦涸故也。又有腰重如帶五千錢者，何也？蓋腎屬水，其質本重，而又兼脾濕下注，濕與水而同宮，水得濕而益滿，此腰之所以重也。然但重而不甚痛者，以腎水不虛故也。女人腰痛，少壯者多血滯，衰老者多血虛，產婦臨蓐而先腰痛者，乃胞系欲脫於腎故也。治此病者，審其虛實而施之，百無不中矣。</p>
<p>人有患脅痛者，何以致之？曰肝藏於內，外應於脅，脅之所在，肝之所在也。所藏者血，所屬者氣，蹼跌鬥毆，內傷乎血，敗血蓄積於肝之分，瘀而不流，則脅痛作矣。或有外觸惱怒，欲報而不得伸，鬱結不行，藏於肝部，則雖無瘀血而亦痛矣。然何以辨其血與氣耶？蓋瘀血作痛者，痛而不膨，按之亦痛，不按亦痛，其痛無時而息也；怒氣作痛者，痛而且膨，得噯即緩，已而復痛，其痛亦有時止也。此非氣與血之辨乎。又有季脅作痛者，何也？蓋季脅在脅稍之處，肝之下，膽之位也，痛甚而下連小腹者，亦是死血，痛不甚而止於一處者，痰也。治此病者，審其所傷，而施治之，則無不中矣。</p>
<p><u>藥例</u></p>
<p>腎虛腰痛，以補腎為主。</p>
<p>宜君之以杜仲，佐之以黃柏、破故紙、菟絲子、牛膝、茯苓、人參之類，加炒鹽一撮煎之，或與四物湯同用亦可。老人腰痛，劑內加茴香一二錢，熟附子一片，以其陽衰，欲扶陽以生陰也。即以此藥作丸亦妙。</p>
<p>閃挫腰痛，以和血為主，而不暇治其虛。</p>
<p>宜君之以當歸，佐之以紅花、桃仁之類以和血，杜仲、續斷、牛膝、茯苓以引至痛處，使腎歸故所，加以烏藥勻氣，甘草調和，官桂為之嚮導，而黃柏、人參且慢用，蓋黃柏性寒，雖本經之藥，恐血得寒而不流，故暫舍之。若以好酒煮熟，炒成褐色亦或可用。人參味厚，雖能補虛，然既欲和血，則補非所宜，故不用也。</p>
<p>腰重如帶五千錢者，以分消其濕為主。</p>
<p>宜君之以黃柏，佐之以茯苓、澤瀉、木通以利其濕，蒼朮、防己、防風以燥其濕，鹽炒杜仲以領至本經，使濕從小便而出。外用蒼朮一二斤，為粗末，炒令略熱，入布囊中，圍裹患處，內外夾攻，則濕自去矣。又以帶須蔥二三百根，生薑斤余，濃煎湯，貯深桶中，令病人坐其內，使服煎藥。若湯冷再添，欲小便即令撒在湯內，其濕自去，此要法也。</p>
<p>女人腰痛，少壯者多血滯。</p>
<p>宜以當歸、杜仲為主，佐以桃仁、紅花、木香、官桂之類。</p>
<p>衰老者，多血虛。</p>
<p>宜以四物湯配杜仲、黃柏、破故紙、牛膝、茯苓之類，以豬腰子湯煎之，其效甚速。</p>
<p>凡腰痛，皆宜豬腰子，先煎五六滾，取出腰子，入藥煎服，服後即以豬腰子蘸鹽食之。</p>
<p>統治腰痛，不論腎虛閃挫，血虛血滯，皆用杜仲一兩，童便一碗，煎乾，同橘核，炒熟搗碎三錢，黃柏二錢，炒令褐色，酒二盅，煎至八分，空心服之，其效如神。</p>
<p>瘀血脅痛者，以破血為主。</p>
<p>宜以當歸、紅花、蘇木、桃仁、山楂、蓬朮，以破其血，青皮、芍藥、官桂、柴胡之類，以引至本經，若脅痛甚者，以大黃下之。</p>
<p>怒氣脅痛者，以抑肝為主。</p>
<p>宜以青皮、芍藥、柴胡、官桂，以伐其肝，枳殼、烏藥、木香之類，以開其氣，紅花、當歸以和其血，痛甚者加醋少許飲之，蓋酸能破結，直入肝經故也。大忌陳皮、生薑、細辛，服之即令肝脹，以其能補肝也。肝嘗有餘，並無補法，若果肝虛，不能熟睡，但補其血，如四物湯之類可也。然積忿不清，亦令人不寐，宜消息之。</p>
<p>季脅痛連小腹者，以和血為主。</p>
<p>宜以當歸、紅花、玄胡索、山楂之類，以和其血，青皮、芍藥、柴胡、檳榔引至患處，少加木香、烏藥，以調其氣。</p>
<p>季脅微痛者，痰也，非白芥子不能達。</p>
<p>必以之為君，佐以柴胡、青皮、烏藥、木香之類，加薑汁、竹瀝服之。</p>
<p>統治兩脅脹痛。</p>
<p>以青皮為君，佐以枳殼、烏藥、木香、芍藥、官桂、厚朴之類，加大腹皮一團，煎服。或用吳茱萸為君，黃連為佐，大約吳茱萸七錢，黃連三錢，作丸子，以白湯下，不拘時服四五十丸，亦治吞酸吐酸甚效。</p>
<p>凡治脅痛，如青皮、芍藥之類，皆宜醋炒，以酸先入肝，兼能破結故也。</p>

<h2>股痛</h2>
<p>股居一身之下，眾陰之所歸，而其所以作疼者，三經受病也。足太陰脾經主肉，足厥陰肝經主筋，足少陰腎經主骨，脾經受濕，下流於股，則肉內痠疼；肝經受寒，下及於股，則筋攣急痛；腎經受寒，下注於股，則骨髓冷痛。其痛各有所屬，而可以一概治之乎？設使筋攣急痛，誤以為濕，而用燥劑治之，則燥盡其血，而筋失所養，其痛甚矣，必投以養血之劑，則筋自舒而不攣急矣。骨髓冷痛，誤以為濕，而用燥劑治之，則燥盡其髓，而骨內空虛，其痛愈加，必投以補髓之劑，則骨氣充，而無所苦矣。肉內痠疼，單用熱藥，而不用燥劑，肉得熱而融活，因有微效，而濕流於中，何時可去，必以熱藥為嚮導，而燥劑君之，以血藥佐之，則濕可去，而血亦不枯，此萬全之治法也。苟不辨其為濕為寒而混用之，非惟無益，而反害之矣。其可乎哉？若婦人產後，或患股痛，皆惡血流注經絡而然也，要當以熱藥為嚮導，而活血之劑君之，以行氣之藥佐之，則自愈矣。若誤以為濕，而專投熱劑，其何以取效乎？然二者之中，熱藥則可，而燥劑決不可用，何也？血得熱而後行，不用熱藥，何以活血，而大熱之劑，亦未可輕用。若用燥劑，則不惟股中之血易干，而一身之血亦病矣。慎之慎之！</p>
<p><u>藥例</u></p>
<p>肉內痠疼者，濕也。</p>
<p>宜以蒼朮為君，白朮、防己、防風、茯苓為佐，煨熟附子、官桂為嚮導，牛膝、黃柏為引經，此治濕之法也。</p>
<p>筋攣急痛者，血受寒也。</p>
<p>宜以當歸為君，川芎、芍藥、地黃、木瓜為佐，附子、官桂為嚮導，牛膝為引經，此治筋攣之法也。</p>
<p>骨髓冷痛者，髓受寒也。</p>
<p>宜以虎骨為君，天麥門冬、破故紙、菟絲子、杜仲為佐，附子、官桂為嚮導，牛膝為引經，此治骨疼之法也。</p>
<p>婦人產後股痛，非濕非寒，乃惡血下注於經絡也。</p>
<p>宜以當歸梢為君，桃仁、紅花為佐，不用附子，惟以官桂為嚮導，香附為行氣，牛膝為引經，此治產後股痛之法也。</p>
<p>男子兩股無力作痛，上連腰胯者，乃房勞太過，精血俱損故也。</p>
<p>宜以四物湯補血，杜仲、牛膝、天麥門冬、黃柏、人參以補精，少加紅花以養血，烏藥以勻氣，此治房勞股痛之法也。</p>
<p>凡治股痛之症，藥中必加炒鹽一匙，磨沉香少許，領藥下行，切不可用甘草，恐其緩藥力，不能速下也。</p>
<p>統治股痛膏藥，兼治肩背痠疼，用廣膠一斤，將好醋二碗，浸軟，入生薑汁、蔥汁各一碗，慢火熬成膏，入乳香、沒藥各二兩，麝香五錢，攪勻攤布上，隨其痛處大小攤之，先以生薑擦痛處，然後以膏貼上，將手烘熱運之，其效甚速。</p>
<p>或用赤色老松脂三斤，入鍋化開，用布濾入水中，取起再入鍋，慢火煉至紫黑色，然後入薑、蔥汁各二碗，再煉，不停手攪之，待乾為度，入豬脂熟油半斤，再煉，滴水中試老嫩，若老再加油，若嫩再熬少時，直待得所，入乳香、沒藥各三兩，麝香一兩，調和攤貼尤妙。</p>
<p>治濕氣痛洗湯法：用鳳仙草一大束，蔥一束，搗爛，蒼朮半斤，防風、荊芥各五兩，煎湯，入桶中，令病人坐湯內，多用舊衣服浸湯，搭其痛處，湯冷再添，不過三四次即愈矣。若遍身，亦以此法洗浴，尤妙。</p>
<p><u>附</u>　脊痛</p>
<p>背脊乃督脈所貫，屬太陽經，其所以作疼者，乃房欲過度，不恤勞力，脊髓空虛所致。若為賊風乘虛而入，即時倔強不能屈伸，若誤以為痰，而以痰藥投之，則所治非其所患矣。必用豬脊髓一條，入水煮熟，取出，投天麥門冬、人參、四物湯之類，加好酒煎服，或少加羌活引入太陽經。若為賊風所乘，宜去人參，加羌活，佐以防風、甘草、烏藥、木通之類，此治脊痛之法也。然此特其大略耳，圓活變化，豈吾之所能盡乎？</p>

<h1>卷之三</h1>

<h2>麻木</h2>
<p>人皆以麻木為一病，而不知麻與木，固自有不同也。所謂麻者，非癢非痛，肌肉之內，如千萬小蟲，亂行雜沸，按之不止，搔之愈甚者是也。所謂木者，不癢不痛，自己之肌肉如他人之肌肉，按之不知，搔之不覺者是也。麻如麻之亂，故名曰麻；木如木之頑，故名曰木。麻猶知痛癢，而木則全無所覺矣。然未知其病之所屬，將何以斷之？蓋麻有久暫，木亦有久暫。暫時之麻者，或因坐臥不得其所，四體相壓，阻抑榮衛，血行既遲，而氣亦未至故也。然麻或太甚，亦有似於木焉。暫時之木者，亦因坐臥不得其所，四體重壓，又著寒氣不時，不會護持，而榮衛不相聯屬，血已不行，而氣久不至故也。然木或還醒，亦有似乎麻焉。此其暫時之麻木，雖因氣血不足，而猶未足為病。惟久麻久木者，斯為病耳。蓋經年累月無一日而不麻者，麻之久者也。麻之久者，非坐臥不穩所致，必其內氣虛甚，風痰湊之。痰本不能作麻，以其挾於風邪，痰為風所噓，如風吹波浪，自騰沸而起，肌肉之中，已為風痰所據，陰陽二氣，失其運行之柄矣，安得而不麻乎！經年累月，無一日而不木者，木之久者也。木之久者，亦非坐臥不穩所致，乃是死血凝滯入內，外挾風寒，又因陽氣虛敗，不能運動，而肉已死，若血與我不相干，此其所以木也。人之一身，皆氣血所養，氣血行遲，即能成病，況其不行乎！此久麻久木之所以可畏也。然麻木之處小，猶可治之；若半體一肢，決難救療。醫者知此，則人之死生，病之輕重，瞭然於胸中，而用藥之妙，尤在於善變，其可以執泥那！設使暫麻暫木，而用重劑，則損其真元；久麻久木，而用輕劑，則不能取效。審而治之可也。</p>
<p><u>藥例</u></p>
<p>大法麻木之病，雖有風痰、死血之分。然治療之藥，皆當以熱藥為嚮導，如生薑、附子、官桂、川烏之類：以引經藥引至各經，如手臂用桑條，股足用牛膝、威靈仙之類；以行氣藥通其氣，如烏藥、木香、枳殼、青皮之類；以通竅藥開其經絡，如木通、穿山甲、牙皂之類。有痰則去痰，有風則去風，有血則行血，此其總綱也。</p>
<p>久麻者皆氣虛，為風痰所湊也。雖系氣虛，亦不暇補其氣。一補其氣，則風無自而散，痰無自而去矣。宜以生薑為嚮導，枳殼以開氣，半夏、南星以祛痰，防風、荊芥、羌活以散風，牙皂、木通以通經絡，手臂用桑條、股足用牛膝以引經。待其病減，然後用參、耆、白朮、茯苓、甘草之類，以補其氣可也。</p>
<p>久木者皆陽氣不運，死血凝滯，外挾風寒所致也。宜以附子、官桂之類為嚮導，烏藥、木香之類以開氣，穿山甲、木通、牙皂之類以通經絡，當歸、桃仁、蓬朮、紅花、阿魏之類以消血。因其病之所在，以引經藥引之，如桑條、牛膝之類。待其病減，以八物湯補其氣血可也。</p>
<p>背上麻木以羌活為引經，胸前麻木以桔梗為引經，面上用升麻為引經。風用風藥，痰用痰藥，血用血藥，皆以開氣為主。而此三處，惟以生薑為嚮導，而附子之類，不必用也。</p>
<p>遍身肌膚大麻癢，淫淫然如蟲行者，風也。宜以殭蠶為君，羌活、防風為佐，烏藥以勻氣，木通以開經，生薑為開導。蓋木通能行十二經絡，烏藥能行一身之氣，生薑能開一身之腠理，羌活、防風能去一身之風，而殭蠶一味，專治如蟲行者之聖藥也。至於加減輕重之劑，則存乎其人耳，而豈吾之所能備述者乎！</p>

<h2>痞塊</h2>
<p>痞者，否塞之意也。從病從否，故有痞之名焉。又以其堅實有形，故又名之曰痞塊。然是物也，從何而得哉？蓋因死血不化、宿食不消、痰飲積聚而成者也。有三者並而成塊，有三者各自成塊。各自成塊者易治，並而成塊者難治。然果何以辨之？察其脈，視其形而已矣。脈弦為痰，脈滑為食，脈芤為血。三脈俱見，則並而成塊也。以其形而定之，宿食成塊者，居於中脘，視之則無形，按之則有質。在腸胃之間者，以人之飲食，皆入於胃，故不在皮裡膜外。其在皮裡膜外者，皆痰與血也。蓋痰能流注於脂膜，血能運行於皮肉。痰積而不流，則脂膜之間，為其所據，而有形可見；血瘀而不行，則皮肉之間，為其所礙，而亦有形可見也。欲辨痰與血之異，亦審其痛之何如耳。痛甚者為血，痛不甚者為痰；又手推不動者為血，手推易動者為痰；以熱物熨之而痛緩者為血，熨之而若無所覺者為痰。此痰與血之辨也。若痰與血相成者，何以辨之？塊之以漸而大者是也。蓋先有死血，而又有痰以裹之，則以漸而大；先有積痰，而又有血以並之，亦以漸而大。若單是血，或單是痰，無相裹相併之物，只如初起之形而已，何至以漸而大乎？然宿食成塊，亦未有不資於痰與血也，何也？蓋飲食所傷者，惟中脘作痛，或按之硬實而已，初未嘗如彈丸之形也。使不資於痰與血，何以成塊乎？必先有硬飯，或魚與肉，或餛飩米團之類，一時失嚼，誤咽停於胃中，經月不能消化，礙其道路，血流過其處，必裹一層，痰或經其處，又裹一層，痰與血互相裹之，則不能不成塊矣。裹一層，則大一層，故始如彈丸，久則如杯如碗。其初尚小，隱於胃中，猶有質而無形；其後漸大，則腹皮頂起，而形外見矣。又有時升時降時見者，乃氣塊也；或左或右或上或下，按之不見其塊，不按又若有形，而漉漉作聲者，乃停飲也，非塊也。此統論其塊云耳。然以其在人而言，則雖各有專病，而又不可拘也。如婦人之塊多惡血，而亦有氣成者；小兒之塊多食積，而亦有瘀成者；易怒之人多氣癖，而亦有血成者；肥胖之人多痰飲，而亦有食成者。醫者當問其得病之由，或偶傷食，自此日而起者；或偶受氣，自此日而起者；或偶負重勞力，自此日而起者；或平素有郁痰固結，偶發作而起者。在婦人必審其月事之通閉，在小兒必審其飲食之多寡，皆當以意求之，不能盡述也。大法治一切痞塊，皆以開鬱行氣為主，又各隨其症而用主治之藥，佐以破結軟堅之味，則得之矣。其有癖塊成龜盤之形，如能行動者，又不獨以塊治，當自有藥以消之也。</p>
<p><u>藥例</u></p>
<p>死血成塊者，以消血為主。</p>
<p>用桃仁、紅花、山楂、蘇木、血見愁之類以消血，三稜、蓬朮之類以消堅，青皮、烏藥、香附、枳殼之類以開鬱行氣。共成一劑，以好醋五六碗，煮乾為末，即以醋糊為丸。隨其塊之上下，以時之飢飽服之，好酒送下二百餘丸，一日二服。所以必用醋者，取其酸能破結也。</p>
<p>痰飲成塊者，以化痰為主。</p>
<p>用半夏、南星、瓦壟子灰、青礞石、海浮石之類以化痰，加三稜、蓬朮、香附、青皮之類。亦以醋煮為九，如前服之。</p>
<p>食積成塊者，以消食為主。</p>
<p>用黃連、枳實、檳榔、草果、山楂、萊菔子、阿魏之類以消食，仍加三稜、蓬朮、青皮、香附之類。用醋煮乾，調神麯糊丸。</p>
<p>痰血食積相裹而成塊者。</p>
<p>用海浮石、瓦壟子、礞石之類以消痰，枳實、萊菔子、檳榔、草果之類以消食，桃仁、當歸、紅花之類以消血，仍加三稜、蓬朮、青皮、香附並木香之類，醋煮丸之。</p>
<p>諸氣成塊者，以破氣為主。</p>
<p>用官桂、木香、青皮、枳實、香附之類以破氣，仍加三稜、蓬朮，醋煮丸之。</p>
<p>停飲作塊者，以泄水為主。</p>
<p>用甘遂、芫花、大戟之類以泄水，佐以順氣之藥，如烏藥、青皮、枳殼、木香之類，使從大小便而出。</p>
<p>癖塊之形如龜鱉狀而能行動者，乃是食積、死血相裹而成也。以其日月既久，藉人之氣血養之，故成此物。必日嘗使病者食鱉肉。其鱉甲與骨，用醋炙脆，與三稜、蓬朮、青皮、香附之類，為末，將烏梅肉醋浸令軟，搗爛為膏，丸之，好酒送下。其物皆化為血水，從大便而出矣。此方亦治瘧母如神。</p>
<p>統治諸塊。用蓬朮為君，三稜、當歸、青皮、香附、紅花、瓦壟子、海浮石、官桂、木香、穿山甲、阿魏、山楂、枳實、檳榔為佐，少加巴豆霜、硇砂、麝香為末。以陳米細粉，入醋煮成爛粥，丸之，好酒送下。不拘痰血食積作塊，服此藥易消。</p>
<p>凡諸塊不宜用煎劑，只宜用丸子。蓋塊至難消，若用煎劑，如過路之水而已，徒損元氣，於塊無益。惟丸子入胃，徐徐而化，徑至所患之處，潛消嘿奪，日漸損削，其塊自小。亦不宜消盡其塊，假如鵝卵大者，消至如彈丸即止，不必再服。蓋塊既漸小，大勢既殺，必無再大之理，如暖解冰，一解即不能合矣。若必欲消盡，則人之元氣亦消盡，反不可保，況塊勢既哀，久必自消矣。經曰：衰其大半則止，過者死。醫者所當知也。</p>
<p>凡諸塊，丸子藥，每服二百丸，每日二服。若病勢已劇，一日三服，以好酒送下。不善飲者，砂仁鹽湯送下。每服丸子三日，至第四日，不要服丸子，必用大補丸，空朝用淡鹽湯送下二錢，隨用干食壓之，守此法服藥，可奏全功。蓋治塊之藥，不得不用克伐之劑，若不服補劑，則正氣無所養，邪氣何時而除？故攻補兼施，乃萬全之法也。補劑以人參、當歸為君，白朮、茯苓、甘草、川芎、芍藥、地黃、官桂、黃耆為佐，名十全大補湯。即以為末，蜜為丸服之。忌食蘿蔔、大蒜及生冷油膩麩面之類，恐雜其藥氣，不能施功也。</p>

<h2>疝氣</h2>
<p>疝氣者，下部之病，俗名小腸氣，其實非小腸病也。而所屬者，足厥陰肝經也。人之一身，惟兩脅與小腹，以至陰囊、睪丸，皆統於肝。肝主筋而脈循陰器。陰器者，筋之宗也，一著於寒，則宗筋短縮，而小腹急痛，下連睪丸，牽引作疼，甚至有升上入腹者焉。又有脅旁動氣，或時脹起，橫入陰處，響如蛙聲，而作下墜者，此皆為寒疝也。至於感濕而成者，一丸漸大，一丸漸小，而小者或至於消盡，皆並於大者，而成獨丸焉。其冷如冰，其硬如石，其大如鵝卵，沉沉而痛，上連小腹，筋脈牽引，坐臥不能安，乃肝木得濕，暢茂條達，如樹得地氣，易於長成，此為濕疝也。又有身體發熱，陰囊脹大，皮破水流，痛不可忍，乃得之於房勞，因婦人不潔，穢水浸淫，熱氣蒸染所致，此為勞疝也。又有身體發熱，耳後忽生痄腮，紅腫脹痛，痄腮將退，而睪丸忽脹，一丸極大，一丸極小，有似乎偏墜，而非偏墜也。蓋耳旁乃少陽膽經之分，與厥陰肝經相為表裡，少陽感受風熱，故痄腮忽生，後又遺熱於厥陰，故痄腮既減，而睪丸即大，此為熱疝也。又有陰囊脹大如斗，陰莖反縮入內，小便淋瀝，不能通快，行履滯礙，不能輕健者，非疝也，乃膀胱氣也。蓋腎與膀胱為表裡，腎主水而不能藏，故膀胱受之，氣化則能出焉。惟腎虛為邪所客，遺病於膀胱，膀胱受邪，氣秘而下墜，小便滲入陰囊，日積月累，故脹大如斗也。治此病者，以伐腎邪為主。若夫小兒偏墜，當以食積治。蓋食積不消，脾濕下行，流入肝部，故成此症，又豈可以大人之疝同論哉！至於婦人小腹兩旁逼近陰處，忽然並結脹痛，或皮肉頂起如雞子頭者，乃寒氣聚於厥陰所致。小腹受寒，其病即發，是之謂陰疝。孰謂婦人無疝乎！大法以熱治寒，以燥治濕，以活血治勞，有食積則消之，有邪則伐之，有寒則祛之，斯得之矣。</p>
<p><u>藥例</u></p>
<p>睪丸升上入腹者，寒疝也。</p>
<p>宜以青皮、官桂為主治，佐以荔枝核、橘核、大小茴香、酒炒芍藥、木通、烏藥之類。先用好酒煎乾，次入水煎，加飛鹽一二錢，磨沉香五六分，空心服之。</p>
<p>或用雞子殼，或鵝子殼，燒灰為末，空心熱酒送下三錢。不過二服，即能壓下睪丸，復歸故所，其效如神。</p>
<p>脅旁動氣，橫入陰處，下墜作聲者，亦寒疝也。</p>
<p>宜以青皮、官桂為主治，其餘佐藥同前，但少加升麻，照前煎法，磨木香錢許熱服，而飛鹽、沉香則不可用，恐其墜下故也。蓋或升或降，雖曰總屬於寒，而氣有上下，則不可不斟酌用之也。</p>
<p>或用熟附子、川烏、大小茴香、丁香、官桂、乾薑、良薑、木香等分，少加麝香為丸，好酒送下五六十丸。良久，即覺內氣如雷動，前攻後擊，甚為驚人。少頃如欲大便之狀，祛出寒氣，有聲連發，其痛即寬。能使三四年不發，乃劫藥也。</p>
<p>睪丸一大一小者，濕疝也。</p>
<p>宜以蒼朮、防風、白朮為主治，佐以官桂、青皮、木通、茯苓、澤瀉、烏藥、大小茴香、橘核之類煎之。仍以帶須蔥一大握，煎湯，浸睪丸於內，即服此藥，嘗添熱湯浸之，以手挪之，立能使之一樣。就坐湯中撒尿，其病易去。</p>
<p>陰囊脹大，皮爛水流者，勞疝也。</p>
<p>宜以豬尿脬一個，當歸三錢為主治，佐以紅花、桃仁、官桂、橘核、青皮、鹽炒黃柏、酒炒芍藥、茴香、茯苓、木通、甘草之類，煎服。</p>
<p>痄腮退後，忽患偏墜者，熱疝也。</p>
<p>宜以柴胡、青皮、鹽炒黃柏為主治，佐以赤芍、赤苓、甘草梢、橘核、生地、當歸之類。若挾風邪，加荊芥、防風。</p>
<p>陰囊大如斗，小便淋瀝者，膀胱氣也。</p>
<p>宜伐腎邪，用澤瀉一斤，切片，分作四分，一分童便浸，一分鹽水浸，一分酒浸，一分醋浸，各七日夜，日中曬乾，不要去汁，收至極干，略焙為末，陳米粉粥為丸。每空朝白滾湯下二錢，至下午飢時，又服一錢，如此服去，自然小便流利，陰腫漸寬，將久而自愈矣。不可求速效。</p>
<p>婦人小腹近陰之處，並結脹痛，或皮肉頂起，如雞子頭者，陰疝也。</p>
<p>宜以官桂為主治，佐以木香、檳榔、青皮、大腹皮、大小茴香、香附、烏藥之類煎之，磨沉香五六分，空心服。</p>
<p>小兒偏墜，乃食積也。</p>
<p>宜用山楂、麥芽、枳實、黃連、檳榔、草果、砂仁、蓬朮、神麯、白朮、蒼朮、半夏、陳皮、甘草之類。等分為丸，白湯調下，量兒大小與之，久而自愈矣。大抵疝皆屬肝經，惟小兒偏墜，乃由脾經而反傳於肝也。</p>
<p>凡一切疝症，皆禁用薑、橘同服。或單用姜，或單用橘，則無所妨，但二味相合，斯補肝矣。至於細辛，尤為補肝，能閉氣，患肝經症者服之，即時悶脹，慎之！慎之！肝無補法，以其嘗有餘也，五臟惟肝有餘，而疝氣則又肝氣有餘之甚者也，其可以復補乎哉！</p>

<h2>諸氣</h2>
<p>人得天地之氣以成形。形者氣之所由以寓者也，氣者形之所由以充者也。二者固相為用也，而亦有輕重之差焉。形病氣不病，雖羸瘦而無害；氣病形不病，雖肥壯而可憂，是形在所輕，而氣在所重也。人能安養天和，使五臟之氣，均得其平焉，則何病之有？惟內傷七情，外感六氣，六氣內侵，而五臟之氣病矣。故心氣盛，則煩躁不寧，口乾舌燥；肺氣盛，則壅塞喘急，上膈煩滿；肝氣盛，則暴怒時發，兩脅臌脹；脾氣盛，則中脘痞塞，腹滿飽痛；腎氣盛，則膀胱滿急，水道不通。此皆氣之有餘者也。至若心氣虛，則精神恍惚，夢寐不寧；肺氣虛，則呼吸短淺，皮毛灑淅；肝氣虛，則筋脈不和，頭空少睡；脾氣虛，則飢不欲食，溏瀉自利；腎氣虛，則腰痛不能轉側，大便與小便，前後牽引而微痛。此皆氣之不足者也。氣失其平則為疾，善醫者調其氣而已。有餘者瀉之，不足者補之，又豈有實實虛虛之患乎？大法一臟嘗以三臟治，本經之虛實，固宜補而宜瀉矣。然虛則補其母，實則瀉其子，則又不可不知也。</p>
<p><u>藥例</u></p>
<p>心氣虛則補之以炒鹽，心氣實則瀉之以生甘草，此《本經》之補瀉也。然肝為心之母，虛則薑、橘兼用以補肝，補肝即所以補心也；脾為心之子，實則黃連、枳實瀉脾，瀉脾非所以瀉心乎？</p>
<p>肺氣虛則補之以五味子，肺氣實則瀉之以桑白皮，此《本經》之補瀉也。然脾為肺之母，虛則甘草、大棗補脾，補脾即所以補肺也；腎為肺之子，實則澤瀉瀉腎，瀉腎非所以瀉肺乎？</p>
<p>肝氣虛則補之以薑、橘，肝氣實則瀉之以芍藥，此《本經》之補瀉也。然腎為肝之母，虛則地黃、黃柏補腎，補腎即所以補肝也；心為肝之子，實則生甘草瀉心，瀉心非所以瀉肝乎？</p>
<p>脾氣虛則補之以大棗、甘草，脾氣實則瀉之以黃連、枳實，此《本經》之補瀉也。然心為脾之母，虛則炒鹽補心，補心即所以補脾也；肺為脾之子，實則桑白皮瀉肺，瀉肺非所以瀉脾乎？</p>
<p>腎氣虛則補之以地黃、黃柏，腎氣實則瀉之以澤瀉，此《本經》之補瀉也。然肺為腎之母，虛則五味子補肺，補肺即所以補腎也；肝為腎之子，實則芍藥瀉肝，瀉肝非所以瀉腎乎？</p>
<p>合而言之，諸氣之病，分屬五臟，五臟之病，分為諸症，要不可以一節言也。此之所言，乃補瀉之大略耳。然此正藥之外，亦不能無增益者焉。如炒鹽補心，甘草瀉心，固矣；而麥門冬亦可以補心，黃連亦可以瀉心。如五味子補肺，桑白皮瀉肺，固矣；而人參亦可以補肺，黃芩亦可以瀉肺。如薑、橘補肝，芍藥瀉肝，固矣；而細辛亦可以補肝，黃連亦可以瀉肝。如甘草、大棗補脾，黃連、枳實瀉脾，固矣；而白朮亦可以補脾，石膏、大黃亦可以瀉脾。如地黃、黃柏補腎，而澤瀉瀉腎，固矣；而杜仲亦可以補腎，茯苓亦可以瀉腎。臨病用藥，審勢定方，得於心而應於手者，其又可以言傳耶！</p>

<h2>諸血</h2>
<p>人身之血，猶地中之水也。水流而不息，故能滋萬物；血流而不息，故能榮百脈也。惟善調攝者，不妄作勞，則血之運於身者，無一息之停，自然肌膚潤澤，筋脈和暢，何病之有？在不善調攝者，恃其壯盛，恣情酒色；而貧窮困苦之人，又不暇日惜，涉遠負重，奔走於衣食，而無日夜之安息，其能不傷於血乎！傷於上部，則胸肋痛：傷於中部，則兩肋、中脘痛；傷於下部，則腹痛。由是衄血、吐血、便血、尿血之病作矣。夫衄血與吐血無異，但所由之經則不同，而要之皆裹於脾也。脾能裹血，不能使血之不升，胃火上蒸則血從口出，肺火上騰則血從鼻出。因其所屬之經，而由其所通之竅，故有口與鼻之異也，然亦有輕重之差焉。衄血太甚，始與吐血無異，不甚不足為慮也。至於吐血雖不甚，而實為可畏之疾。用藥者，其可以混施耶！夫吐血固重於衄血矣，而就其吐血言之，則亦自有輕重。如一咯一塊者，胃口血也，其所從來者近；痰中見血色如瑪瑙，而成塊者，亦胃口血也，其所從來者亦近。二者勢若可畏，而猶能措手，法當任其自出，又必看其色不鮮者，舊血也，勿以藥止之；其色鮮者，新血也，所積者必不甚多，宜以藥止之。蓋舊血終不歸經，不任其出，反以增劇；新血終當歸經，若所出者多，則損人矣，故宜以藥止之。此皆可以調理而愈者也。若痰中見血，或一點之小，或一絲之細，語其勢，若無可畏，而病根反深，此血非胃口之血也，乃從肺臟中來。肺為虛火所逼，血隨痰出故也。其所以少者何也？蓋肺臟以氣為主，本多氣而少血，是以出者亦少也。肺臟之血本少，而又逼而出之，則肺已枯，而無以領一身之氣矣，其害不亦大乎！至於五竅出血者，勢如潮湧，耳目口鼻，一齊迸流，藥不及煎，針不及下，死在頃刻間，此猶血症之至極者也。而究其病之所成，莫非酒色無度，及奔走勞碌，以致五臟皆傷，是以五竅出血也。醫者其可無急治之法乎！若夫腸風臟毒，大便下血，與小便出血者，其病易治，非若上焦之血也。大法未見血則宜消宜和，既見血則宜涼宜止，舊血未盡則化其血，新血未生則補其血。因其勢之輕重，而為緩急之施，則無不中矣。若婦人崩漏，女子月事，則自有本科，而此不及載之。</p>
<p><u>藥例</u></p>
<p>衄血甚者，先以濕紙搭囟門，其血立止。然後以藕節搗取汁，和童便服之。煎劑用炒黑山梔、炒黑蒲黃、炒黑香附、側柏葉、茅根、地榆，同四物湯煎服。</p>
<p>吐血甚者，以小薊草搗汁，和童便先服。次用犀角、地黃、玄參、阿膠、地榆之類為主治，佐以黃連、山梔、側柏葉之類煎之，磨沉香少許，令其降下，再加藕節汁，磨上等清煙墨一二錢服之。待其血止，然後以四物湯，加敗龜板、何首烏、地榆之類煎服。</p>
<p>痰中見血者，於治痰藥中，加止血之劑，如貝母、瓜蔞仁、茯苓、麥冬、玄參、竹茹、蘇子之類以治痰，犀角、阿膠、側柏葉、炒黑山梔之類以止血，黃芩、黃連之類以降火。調花蕊石細末四五分，徐徐服之。或用竹瀝一碗，入阿膠二兩，溶開，將石膏煅過一兩，蛤粉一兩，青黛半兩，好墨一兩，共為細末調和，丸如黍米大，每服一錢，苦茗送下。其效甚速。</p>
<p>五竅出血者，先將井花水當面連噴幾口，急分開頭髮，用草紙數層，蘸醋令透，搭在囟門，其血即止。次以當歸一兩煎好，磨沉香五六錢，加秋石一二錢服之。如一時無秋石，即以童便和服，則血各歸經，永無事矣。然後以四物湯作劑，加五味、人參為丸。將紫河車洗盡血水，童便煮爛，搗和為丸，空朝白湯送下。可收萬全之功，亦治癆瘵。</p>
<p>大便血者，看其色鮮者，急宜止之，如黃連、槐花、烏梅、地榆、熟地、牡蠣之類煎之；調藕節汁，空心大口嚥下。送丸子二三百粒，其丸用五倍子、發灰、敗龜板灰、釜底墨、牡蠣、棕灰之類，為末，將烏梅肉煮爛，搗和如泥，丸之。亦治婦人血崩。</p>
<p>其色紫者，任其自下，反以四物湯，加桃仁、山楂、紅花、赤曲之類，合而服之，則既不損新血，而又能消瘀血。待其色淡，只用四物湯，加龜板、何首烏煎服。</p>
<p>小便血者，乃心經受熱，遺熱於小腸也。以黃連為君，石蓮、麥冬、赤茯苓、赤芍藥、當歸、甘草梢、山梔為佐，煎之，加童便調服。</p>
<p>腸風臟毒，乃酒色過度之故。又有不因酒色而得者，必勞苦之人，負重涉遠而不惜其身者也。用藥者當因人而施之。</p>
<p>血有下於糞後者，為遠血，從小腸經來。宜清小腸之火，而兼以收澀，則以黃連為君，而槐花、山梔為佐，加烏梅煎服。</p>
<p>血有下於糞前者，為近血，從大腸經來。宜清大腸之火，而兼以收澀，則以槐花為君，而黃連、山梔為佐，加烏梅煎服。</p>
<p>血有糞前糞後雜下者，乃從脾胃中來也。宜以煅過石膏為君，槐花、黃連、山梔、甘草為佐，加烏梅煎服。</p>
<p>若下血太甚者，加人參以補之，牡蠣、粟殼以澀之，升麻以升提之，此治酒色過度之血也。若奔走負重而得者，當於四物湯中，倍加當歸服之，任其自下，不可驟用止血之劑。待所下若鮮紅色，乃新血也，須兼補兼澀，亦不可用大澀之劑，如牡蠣、烏梅之類亦可也，而槐花、黃連二味，又豈可少哉！</p>

<h2>癆瘵</h2>
<p>癆者，勞也。由妄作勞以成病也。從病從勞，故名曰癆。勞力以負重則傷血，而氣亦傷，精猶未傷也；勞力以行房則傷精，而血亦傷，氣能獨不傷乎？如或勞力以負重，又復勞力以行房，更失於檢束，而不避風寒，恃其強壯，而縱飲曲糵，則精氣與血俱傷，而真元所削，風寒曲糵交攻，而虛火愈熾，病根日深，已不可拔。猶不知戒，而肆情逞欲，則心、肝、肺、腎損矣。心損則精神不守，恍惚易驚；肝損則失血少睡，面白無色；肺損則聲音低小，言語不續；腎損則腰膝軟弱，小便短數，而虛損之症成矣。虛損者，癆瘵之始；癆瘵者，虛損之終。由勞傷而成虛損，由虛損而成癆瘵也。癆瘵之為病也，有咽乾喉癢，頻嗽而無痰者；有哮喘滿急，氣壅而不得眠者；有痰中見血，一咳而即出者；有面嘗頳熱，或灑淅而似寒者；有胸前如火，而兩足冰冷者；有腰疼背痛，而筋骸無力者，總屬於虛而已。至於夢遺鬼交、盜汗、自汗、骨蒸潮熱，又孰非虛之所致耶！究而言之，夢遺鬼交，虛不暇言矣，然何以有是夢，有是鬼，而又有是精耶？蓋夢者，心之神也；鬼者，肝之魂也；精者，腎之液也。心之火，君火也；肝腎之火，相火也。相從君令者也，君火一動，相火從之，而夢遺鬼交之病起矣。盜汗、自汗，虛不暇言矣。然均之為汗也，何為而有盜與自之異耶？蓋盜汗者，睡去則出，醒來即收，如盜之偷竊，乘其空隙，而惟恐人知，故有盜之名焉。而求其所屬之經，則由於心氣之不足。汗者，心之液也。心氣不足，則神不守舍，而液無所攝，故睡中汗出；而一驚覺之間，心神漸定，故汗亦收也。自汗者，無睡無醒，自然濡濕，故有自汗之名焉。較而言之，則自汗為甚，是何也？蓋盜汗，本於心虛，而真元猶未盡虛也；自汗，則真元耗散，腠理皆開，肺失統氣之權，不能固表，故毫竅疏豁，汗流不禁，豈不大可畏哉！若汗出膏凝而不流者，乃真元盡泄於外，而生氣已絕，死期至矣。骨蒸潮熱，虛不暇言矣。然何以使熱之蒸於骨耶？蓋骨之所屬者，腎也。腎實則寒，腎虛則熱，腎熱則龍火太旺，煎熬真陰，真陰既竭，熱無所容，流入於骨，故成骨蒸。骨蒸既久，上蒸於顴，顴熱而赤，則不救矣。蓋顴者，骨之本也。骨本一枯，則腎經已絕，死期至矣。又有喉啞一症，百無一生；傳屍一症，九死一活；相思一症，無藥可治。或平素有漏病，及下部忽生腫毒，與夫脾虛發腫泄瀉者，皆不治之病也。</p>
<p><u>藥例</u></p>
<p>喉癢干嗽，以滋陰降火為主。</p>
<p>大劑玄參為君，佐以阿膠、貝母、茯苓、黃柏、知母之類。</p>
<p>喘急不寧，以定喘順氣為主。</p>
<p>大劑蘇子為君，佐以杏仁、馬兜鈴、貝母、瓜蔞、橘紅、茯苓、黃芩、竹茹之類。</p>
<p>痰中見血，以清痰降火為主。</p>
<p>宜貝母為君，佐以天花粉、麥門冬、茯苓、蘇子、阿膠、降真香、犀角、玄參、黃芩、山梔之類。若痰多於血，以痰藥君之；血多於痰，以血藥君之。俱以治火之藥佐之，可也。</p>
<p>面嘗頳熱，少頃即減者，虛火也。</p>
<p>以黃柏為君，人參、茯苓、知母、連翹、麥冬之類為佐。</p>
<p>胸前如火，兩足冰冷者，陰虛火升也。</p>
<p>以麥門冬為君，黃柏、知母、茯苓、人參、瓜蔞仁為佐，以生附子為末，塗兩足。</p>
<p>灑淅似寒者，反是熱症也。</p>
<p>以黃芩為君，人參、連翹、柴胡、黃連為佐。若無痰喘，宜加芍藥。不可誤以為風而用風劑。</p>
<p>腰疼背痛，筋骸無力者，虛甚也。</p>
<p>以人參為君，龜板、山藥、杜仲、黃柏、牛膝為佐。如無痰，用四物湯配之。</p>
<p>病人虛甚，而痰嗽不止，不容不補。惟以化痰之劑，送下補藥亦妙。用蒸熟人參為極細末，將雞子清拌和，淨手揉之，令其軟潤，卻以貝母、阿膠、天花粉、茯苓、蘇子、橘紅、竹茹、黃芩之類，煎好澄清，將參末放舌上，徐徐送下。</p>
<p>虛癆惟紫河車為聖藥，以人補人之意也。用頭胎男子胞衣，洗淨，挑去血筋，不停換水洗之，直待無一些血水乃止，入淨器中，水煮，爛搗如泥，和干藥丸之。其干藥如人參、白朮、茯苓、甘草以補氣，當歸、川芎、芍藥、地黃以補血，天麥門冬、五味、菟絲、故紙、杜仲以補精，而又佐之以知母、黃柏以降火滋陰。此其大法也。丸如桐子大，以滑石為衣，秋石湯下百丸。或用鱔魚血，烈日中曬乾為末，或半斤，或一斤，配入參未，蜜丸如桐子大，空心淡鹽湯送下百丸。或用敗龜板，水浸一二日，刮去垢，曬乾，鎊碎為細末，蜜丸如桐子大；又用阿膠，將蛤粉炒成珠為末，蜜丸如綠豆大。空心服龜板丸，以補腎水；臨晚服阿膠丸，以潤肺金，俱用白滾湯下，大有奇效。龜板生用，不失本性，若炙則動火。</p>
<p>或用敗龜板、人參，等分為末，將阿膠投竹瀝中，化開丸之，空朝一服，下午飢時一服，白滾湯下百丸。</p>
<p>癆症喉啞無治法。蓋肺為氣主，為五臟之華蓋，統領一身之氣者也。火邪爍金，則氣索而無聲，是以不治。若微有聲者，猶可延半年也。若死中求生，亦有一法。用大豬肺一具，割去心及四旁浮脂，將刀劃破其中，入生蜜三四兩在內，線紮緊，入淨鍋中，用生蜜三四斤，水一二斗，同煮半日。若稠厚，再加滾湯煮之。取出，溫湯洗淨，蘸秋石四兩食之，能復肺氣。又于丹田連臍，貼參附膏，可復真元。其方用人參半斤，附子半斤，為粗末，將天鵝油三斤浸半月，慢火熬至焦黑，絞出渣，再熬至滴水成珠，下上等緋丹一斤，慢熬成膏，待溫，入麝香末三錢攤紵絲上貼之。美食調養，可保復生。此秘要之訣也，惟有緣者遇之。凡膏藥必無用人參者，故此方必無人信。</p>
<p>癆症傳屍無治法。蓋因初起病癆之人，先為屍蟲食其五臟而死。既死之後，五臟皆冷，屍蟲不能居，皆從鼻中而出。以鼻乃肺之竅，癆乃肺之病，故從其竅而出也。其色多赤，乃血所化，無翼而能飛，或有不見而自能著人者，以骨肉尋骨肉，以同氣覓同氣，雖在千里外，其人當病，必無能脫者，可畏之甚也。</p>
<p>此物在蟲類，則名屍蟲；在鬼道則名屍鬼，出入無嘗，變化莫測，不獨病癆之人有之，而人人皆有者，但不犯此病，即不能為害矣。本草雖有殺屍蟲之藥，多不能效。惟死人身上蛆可以治之，恨人不知，雖知之，亦以為臭穢而不用，外此無治法矣。</p>
<p>癆症素患漏瘡，與下部忽生腫毒者，永無可生之日。蓋虛火縱橫攻擊，流毒於腸胃，而直注於上下焦故也。</p>
<p>又有相思癆者，神魂縹緲，揹人偷淚，悲咽吞聲，亦無治法。惟得遇所思之人，以遂其欲，則自愈矣。不然，有死而已。</p>
<p>癆症惟心肝肺腎四臟受病，而脾胃尚無恙也。脾者肺之母，脾土不衰，猶可以生肺金，故患肺金病者，嘗令脾土調和，勿使損壞可也。醫者不知利害，但見病人陰虛火盛，日日補陰，用當歸、生地、黃柏、知母、麥冬之類，以為嘗服之劑，將謂補其陰，則元氣自復，理固然也。豈知此等藥，性味寒涼，易滑腸胃，久服必瀉，一瀉則元氣脫盡矣。下多且亡陰，將以補陰，而反以亡之。將見面目手足，皆發浮腫，喘息雖存，而精神已盡，不死何待乎？</p>
<p>癆症痰多，血虛，醫者多以四物、二陳加減與之。蓋謂二陳治痰，四物補血，自以為無遺法矣。豈知二陳太燥，四物太膩，合而用之，兩無成功，而病反增重。況痰在上焦，血居下元，一劑之中，豈能上消其痰，下補其血哉。論治法，宜以清火順氣化痰之劑，日間徐服，而四物更合他藥作丸，滾以滑石，空朝服之，庶不礙痰，而下元亦可補矣。煎劑中亦有不礙痰，而能補血者，阿膠、玄參、夏枯草、龜甲之類是也。又何首烏、頭髮灰二味，最能補血，但於丸藥中用之，而煎劑則非所宜矣。</p>
<p><u>附</u>　夢遺鬼交</p>
<p>夢屬心，鬼屬肝，精屬腎。君火動而相火從，故有此症。治此症者，不徒澀其精，又必清心火；不徒清心火，又必補其虛。惟虛故火易動，惟火動故精易泄也。宜以煅過牡蠣、荷花須。金櫻子之類以澀精，石蓮、黃連、茯神、遠志、麥門冬之類以清心火、安心神，人參、白朮之類以補虛。作丸子，空朝服之。藥中加秋石一二兩，尤妙。</p>
<p>或用鹿角屑，炙脆為細末，將天麥門冬、地黃、人參等分，煎膏拌和為丸，如桐子大。空心鹽湯下百丸，或用童便、酒下，亦可。</p>
<p><u>附</u>　盜汗自汗</p>
<p>盜汗屬心，自汗屬肺。心神不守，故有盜汗；肺氣不收，故有自汗。盜汗，以茯神、門冬為主以安心神，君以麻黃根，佐以浮麥、牡蠣；自汗，以人參、五味為主以收肺氣，亦君以麻黃根，佐以浮麥、牡蠣。大忌茯苓、生薑。蓋茯苓滲血，用之則亡津液；生薑開竅，用之則汗流不止，故忌之也。此惟無痰者可用此方。若有痰則去人參、五味，而麥冬亦無妨也。</p>
<p>或用牡蠣、粳米，等分為末，包生布中，遍身撲之，隨撲隨止，亦一時外治之良法也。</p>
<p>傷寒汗症，則用芍藥、桂枝、甘草，以和其表。氣虛汗出不休，則用黃耆為主。此非治癆瘵中之汗症也。</p>
<p><u>附</u>　骨蒸潮熱</p>
<p>骨蒸潮熱，微有分別。骨蒸則無時而不熱，潮熱則如潮信之來，必有定期。潮熱者，將成之骨蒸；骨蒸者，已成之潮熱。而總歸於腎虛，腎虛則熱故也。宜以杜仲、黃柏、牛膝、茯苓為主治，佐以四物、人參、枸杞、五味、龜板、天麥門冬之類，蜜丸服之。亦治腎虛腰脊痛及骨肉疼，甚效，須久服乃可。</p>
<p>本草謂：地骨皮治有汗之骨蒸，牡丹皮治無汗之骨蒸。此特治骨蒸之初起可也。若骨蒸而至兩顴之皆赤，亦難矣。醫者不忍坐視，求一生於萬死之中，不論有汗無汗，只用此二味，洗淨，水煎成膏，曬乾為末，以鹿脊髓一具，如無，用豬脊髓，煮爛，搗如泥，丸之，不拘時服。所以必用煎膏者何也？蓋此二味雖有治骨蒸之功，然氣味淡薄，徒加於煎劑之中服之，安能取效？必用以煎膏，則些須之膏，已抵幾兩之劑矣。況煎膏則性又醇和，善循經絡，而更有脊髓助之，徑至患處，故可奏功。然又必令病人日嘗以豬脊作餚食之，亦能助藥力，此秘要之法也。若人無他病，而單患久熱者，以生芍、麥冬、茯苓各三四錢，煎服，甚效。</p>
<p>已上三症，雖亦癆瘵中之一病，然非患癆瘵者，亦恆有是症，故附於後。</p>

<h2>咳嗽</h2>
<p>有痰無聲之謂咳，有聲無痰之謂嗽，有聲有痰者，名曰咳嗽。然謂無聲者，非曰全無聲也，咳而易出，聲之不甚響也；謂無痰者，非曰果無痰也，但嗽而費力，痰之不易出也。分而言之，咳為在脾，嗽為在肺；合而言之，總歸於心。是何也？蓋肺主氣，聲之所從出也；脾主受，痰之所由藏也；心主熱，火之所由生也。火剋金者也，而肺之所屬者金。心火未甚，則肺無傷；甚則至於干肺，肺受火邪則熱而氣沮，不能不發而為聲，是以嗽也。火生土者也，而脾之所屬者土，火不甚，則脾得所養；甚則反至於困脾。脾有流飲，又因火化，不能不變而為痰是以咳也。然則咳自為咳，嗽自為嗽，二者各自為病與？曰：非也。肺與脾，迭相為用，而又互相為害者也。使肺不受熱，則化氣自清，亦可以利脾，而何至於生痰？脾不受熱，則遊溢精氣，自足以滋肺，而何至於成嗽？此肺與脾之所以迭相為用也。今肺家受熱，則氣已壅盛，而下流於脾，其能以不作痰乎？脾家受熱，則痰隨火升，而閉塞肺脘，其容以不發嗽乎？此肺與脾之所以互相為害也。由是觀之，則脾肺雖分二經，而咳嗽總為一病。病之所由成，皆心火之所致也。雖然心火固能致病矣，而亦有得於外感者，或傷於風，或傷於寒，或傷於熱。如此之類，種種不同，亦皆歸咎於心火乎。殆不知始之者，風寒與熱也，而成之者，火也。內外夾攻，病斯成焉。而不可以一端求也。然此特論夫咳嗽之由耳，而咳嗽之名非一言之所能盡。悉而數之，有火痰嗽、濕痰嗽、郁痰嗽、頑痰嗽、清痰嗽、風痰嗽、寒痰嗽、酒痰嗽、食積痰嗽，與夫乾咳嗽之異焉。而諸嗽之形症，又何以別之？蓋火痰嗽者，嗽必面赤，用力久而後出者是也；濕痰嗽者，喉中漉漉有聲，嗽而易出者是也；郁痰嗽者，胸臆脹滿，連嗽不出，喉中有喘聲，夜不得眠，上飽下飢者是也；頑痰嗽者，膠住咽喉，揮咯不能出，必努力大嗽而後出少許，如脂膏之狀者是也；清痰嗽者，必待嗽而後出，其痰不稠黏者是也；風痰嗽者，肺氣壅盛，必頓嗽而後出，其痰浮而有沫，狀如津唾而略稠者是也；寒痰嗽者，得於秋冬之交，或為冷雨所淋，或為冷風所侵，或露臥星月，或寒天入水所致，其嗽必哮喘，或肩背覺寒，得熱湯飲之即緩者是也；酒痰嗽者，得之醉後，感冒風熱，腹中有酒積，飲濁灑即發者是也；食積痰嗽者，每食後即嗽，胸膈不寬，其痰稠黏，覺有甜意者是也；乾咳嗽者，平素陰血不足，虛火有餘，喉中嘗癢，癢即頻嗽，有聲而無痰者是也。又有嗽而兩脅痛者，名曰肝咳；有嗽而腰輕痛者，名曰腎咳；有嗽而中脘作疼者，名曰脾咳；有嗽而鼻流清涕者，名曰肺咳；有嗽而口苦舌乾者，名曰心咳。又有嗽而遺溺者，氣虛也；有嗽而五心煩熱者，血虛也。醫者審而治之，無不中矣。</p>
<p><u>藥例</u></p>
<p>火痰嗽者，不宜用半夏、南星，以其太燥也。惟以貝母、知母、瓜蔞、竹茹之類以化痰，黃連、黃芩、山梔之類以降火，蘇子、橘紅、茯苓之類以順氣。</p>
<p>濕痰嗽者，不宜用玄參、阿膠、知母，以其滋潤也。惟以蒼朮、防風之類以燥濕，半夏、南星、薑汁、竹瀝之類以去痰，枳殼、橘紅之類以順氣，黃芩、山梔之類以降火。</p>
<p>郁痰嗽者，不宜用五味、麥冬，以其補肺也。惟以枳殼、桔梗、便浸香附之類以開鬱，貝母、瓜蔞、半夏之類以治痰，蘇子、杏仁之類以定喘，茯苓、黃芩、山梔之類以降火。</p>
<p>頑痰嗽者，不宜用煎劑，宜以散子消磨之，如青黛、蛤粉、海浮石、風化硝、明礬、瓜蔞、礞石之類，為極細末，以薑汁、竹瀝和服，以其膠固不開，非輕劑所能愈也。</p>
<p>清痰嗽者，宜用緩藥以治之，如貝母、天花粉、茯苓、黃芩、竹茹、橘紅、蘇子之類。</p>
<p>風痰嗽者，宜用輕浮之劑以治之，如薄荷、紫蘇梗葉、桑皮、防風、半夏、黃芩、枳殼之類，少加麻黃、甘草。</p>
<p>寒痰嗽者，宜服蘆吸散，如肉桂、雄黃、鵝管石、款冬花、甘草等分，為極細末，用蘆管挑藥，輕輕含之，吸入喉內，徐徐以清茶過口。或以此藥蜜丸，如雞豆大，噙化亦妙。若熱嗽，去肉桂，用井泉石。若用煎劑，宜半夏、南星、陳皮、茯苓、款冬花、生薑、炙甘草之類。</p>
<p>酒痰嗽者，宜山梔、黃芩、黃連以治火，貝母、瓜蔞、半夏曲之類以治痰，蛤粉、綠豆粉、天花粉之類以消酒，紫蘇梗葉、陳皮之類以順氣。</p>
<p>食積痰嗽者，宜以枳實、萊菔子、神麯、麥芽、山楂之類以消食，陳皮、木香、砂仁之類以順氣，半夏、南星之類以消痰，石膏、黃連之類以降火，加生薑、竹茹。</p>
<p>乾咳嗽者，宜以知母、玄參、阿膠、貝母、麥門冬之類為主治，佐以黃柏、茯苓、天花粉、山梔、甘草之類，加燈心、竹茹，服之甚效。</p>
<p>諸嗽皆宜用桔梗，乃肺經本藥，故不可不用，但不可多用耳。以其為舟楫之劑，上而不下，不用則不能引諸藥至肺部；多用則又承載諸藥，而不能行，反能作飽，故不可多用。若治喉痛，與玄參、甘草同用；若開鬱，與枳殼、香附、撫芎、蒼朮、貝母同用；若作吐藥，只與甘草等分，為一大劑，服之自卷痰而出矣。</p>
<p>久嗽不愈，用麥冬為君，貝母、知母、茯苓、竹茹、黃芩、蘇子之類為佐，少加五味、甘草、燈心服之。</p>
<p>華蓋散，茯苓桑橘甘蘇子，麻杏同煎大有功。</p>
<p><u>附</u>　痰症</p>
<p>痰之為病甚多，不獨咳嗽有痰，方為痰症也。如胸膈迷悶，咽喉不清，肩背作疼，遍身微痛；或頸項支節之間，皮膚之內，無故腫起，大小不等，而無紅赤之色，按之如核，不甚痛苦；或手足上下，半邊身體，麻木不仁；或頭眩眼花，卒然昏潰，角弓反張，四肢不動；或步履如踏灰上；或眼前如見白雲；或睡中昏迷嘗魘；或飯後倦怠欲眠；或脅下如湯沸響；或心頭嘈雜似餓；或噁心欲嘔；或吞酸吐酸，如此之類，難以枚舉，莫非痰之所為也。豈特咳嗽見痰，方為痰哉？夫人未有無痰者，但痰中亦有養胃，不見其為害耳。</p>
<p>礞石滾痰丸，治痰之聖藥，諸痰皆可服之。</p>
<p>青礞石一兩，打碎如豆大，同焰硝一兩拌和，入罐內，大火煅之，以硝盡為度，傾出碾細。入滾湯，漂三四次，漂去硝氣，再碾細，聽用。又將川大黃半斤、片黃芩半斤切片，同薑汁、竹瀝各一碗，浸一宿，連汁曬乾，放甑桶內，蒸半日，取出曬極干為細末。上等角沉香五錢，亦為極細末，同一處，再研和以薑汁、竹瀝和白蜜煉熟，丸如綠豆大，收貯磁器中，以黃蠟塞口。每服三十丸，一日一服。痰多者一日二服，隨其痰之上下，以時之飢飽服之。小兒只可十丸，老人只可十五丸，或二十丸。量人之大小及所稟之厚薄用之。</p>
<p>若痰盛作飽，欲使痰從大便出，即與此方。礞石再加一兩，沉香再加半兩，其大黃、黃芩不用蒸熟，以生蜜丸如桐子大。臨臥用白滾湯下五十丸，再不許開口說話，睡至天明，其痰即下矣。</p>
<p>四製半夏丸，亦治痰之聖藥，不拘男人、婦人、老人、小兒皆用之，可以嘗服，不動脾胃，不伐元氣，不損陰血，勿以為嘗藥也。</p>
<p>大半夏，先泡去皮臍，洗去滑水，淨秤一斤，入淨鍋內，水二斗，生薑搗碎半斤，同煮半日，取一個，切開看之，中心透明，無白色，方止。取起，冷水洗淨，曬乾切片，分作四分。一分用明礬二兩煎湯浸之；一分用牙皂一兩煎湯浸之；一分用竹瀝半碗浸之；一分用童便一碗，加鹽一兩浸之，各浸七日，連汁曬乾為細末，聽用。加木香末二兩，沉香末一兩，同一處再研和，將枳實半斤，水煎濃汁，加蜜丸如綠豆大。大人服百丸，小兒五十丸，肥人二百丸，白滾湯下。</p>
<p>痰症已於咳嗽條中備陳之矣。但人見痰則為有痰，未見痰則為無痰，而不知無形之痰能作多端之疾，非因咳嗽而始有痰也。故復附於此，而不自以為贅。</p>

<h2>眼疾</h2>
<p>人之有目，猶天之有日月也。日月有明，臨照萬方，若煙霧障天，則明者暗矣；兩目有神，旁燭萬物，若風火發越，則神斯眊矣。善調攝者，安養天和，使氣血嘗運，何至有目痛之患乎？惟夫七情內攻，六氣外感，加以酒色過度，當風眺望；或冒熱奔走，宿水洗面，不知自惜，是以成病於目也。分而言之，眼皮上下，皆屬於脾，皮紅濕爛，脾火上蒸也；兩眥左右，皆屬於心，眥肉綻紅，心火上炎也；四圍白處，皆屬於肺，白有紅筋，肺火上騰也；瞳外之輪，皆屬於肝，兩輪腫痛，肝火上衝也；輪內之瞳，皆屬於腎，兩瞳昏痛，腎火上升也。總而言之，皆以肝為主，肝為相火，相火一動，諸經之火從之，而痛斯作矣。然又有視瞻多淚，癢不可忍者，風也。風動肝火，吹噓鼓舞，故連𦞂不止。其所以多淚者，淚者肝之液，風行則水流故也；其所以癢不可忍者，純於風而無火，但癢而不痛也。又有瞳子散大而無光者，腎虛也。腎水不足，無以滋養肝木，肝木無力，不能收斂英華，故散大而無光也。又有視物昏花者，氣虛也；乾枯少潤者，血虛也；羞明喜暗者，虛極也；眩運不定者，風痰壅也；眼眶脹痛者，肝氣盛也。醫者審而治之，有火則瀉火，有風則散風，氣虛則補氣，血虛則補血，虛極則補虛，風痰壅則定風去痰，肝氣盛則抑肝順氣。而凡是目疾，又皆以養血為要，此其大法也。</p>
<p><u>藥例</u></p>
<p>眼皮紅爛，以瀉脾火為主。君以煅過石膏，佐以蒸熟大黃、黃連、白芷、升麻、連翹、生甘草，與四物湯同煎。</p>
<p>兩眥肉綻紅，以瀉心火為主。君以黃連，佐以石蓮、赤茯苓、連翹、生甘草、升麻、麥冬、燈心，與四物湯同煎。</p>
<p>白上有紅筋，以瀉肺火為主。君以黃芩，佐以山梔、連翹、黃連、升麻、薄荷、甘菊、生甘草，與四物湯同煎。</p>
<p>兩輪腫痛，以瀉肝火為主。君以黃連、草龍膽，佐以柴胡、青皮、草決明、生甘草、連翹、升麻，與四物湯同煎。</p>
<p>瞳子昏黑作痛者，以瀉腎火為主。君以澤瀉、黃柏，佐以黃連、連翹、升麻、生甘草，與四物湯同煎。</p>
<p>連𦞂多淚作癢者，以疏風為主。君以防風、荊芥，佐以薄荷、紫蘇、黃連、升麻、生甘草，與四物湯同煎。</p>
<p>瞳子散大無光者，以補虛收斂為主。君以五味，佐以黃柏、天麥門冬，與四物湯同煎。</p>
<p>視物昏花，以補氣為主。君以四君，佐以四物，加升麻、黃耆、木賊、甘菊之類。</p>
<p>乾枯少潤，以補血為主。君以四物，佐以天麥門冬、黃連、連翹、升麻、生甘草、人參、黃柏之類。</p>
<p>羞明喜暗，以大補為主。君以八物，佐以黃柏、知母、連翹、黃耆、大棗之類。</p>
<p>眼眶脹痛，以抑肝順氣為主。君以黃連，佐以青皮、柴胡、草決明、草龍膽、生甘草，與四物同煎。</p>
<p>頭眩不定，以定風去痰為主。君以天麻、半夏，佐以黃芩、柴胡、黃連、升麻、甘草，與四物同煎。</p>
<p>統治一切眼疾，以四物湯為主，加柴胡、升麻以引經，防風、荊芥以散風，黃連、連翹、生甘草以瀉火，草決明、青皮、草龍膽以抑肝，枳殼、蘇梗以順氣，密蒙花、木賊以去翳，甘菊、薄荷以清頭目，任意加減用之。</p>
<p>膏子藥，點諸般眼痛。以黃連不拘幾斤，洗極淨，用雪水或黃梅雨水，煎極濃，去渣，澄清，熬成膏子，加熟蜜，入乳羊膽汁，調和，曬微干，捏作餅子，用新井水磨點。</p>
<p>散子藥，點諸般眼痛。以風化硝、白硼砂、硃砂、冰片、水晶、珍珠、琥珀等分，為極細末，和人乳汁點之。</p>
<p>風化硝，必冬瓜上生者為妙。用秋後冬瓜一枚，切去蓋，刮去瓤，將朴硝實其中，仍以蓋蓋之，用竹釘釘住，將稀爽細繩絡袋之，掛當風處月餘，其皮上自然生出槍硝，以鵝翎刷下，入藥，必以此為君方，妙。</p>
<p>丸子藥，治一切目疾。以當歸為君，川芎、芍藥、生地為佐，加黃連、升麻共為細末，入生羊肝，同搗極和，又曬乾為末，將羊膽汁，與蜜同煉。丸如桐子大者，空心服一半；如綠豆大者，午後服。若有痰，薑湯下；有風，紫蘇湯下；氣不順，青皮湯下；有翳，木賊湯下；眩運，天麻湯下；心膈熱，燈心湯下。忌蘿蔔、油麵及克氣克血之物。大抵眼科中，用四物湯，取其入於血分，以養肝也。而四物之中，又必多用當歸乃為得法，醫者宜知之。</p>

<h2>喉痹</h2>
<p>喉者，一身之關隘也。閉而不通，則道路阻絕，飲食難下，死生系焉。使不早治，則不救矣。而喉痹之症，惟纏風尤急，乳蛾次之。若左右皆乳蛾，是亦纏風也。纏風雲者，喉中皆纏緊，微有一線之通；乳蛾云者，腫處如蛾形，猶有可通之路。要其致病之由，皆由平日感受風熱，積之既久，留於上焦，一時未發，乘機而動。或醉後而重醉，勞後而復勞，動其相火，相火一熾，而平日所積之風熱，一齊而起。痰血騰湧，如潮之至，結於咽喉，外不得吐，內不得下，為腫為痛，苦楚呻吟，飢不得食，渴不得飲，煎劑卒難奏功，丸散安能施效，病勢已迫，將立而視其死與。必須用刀針以決之，庶可泄其毒而救其勢，然後治之以藥，乃可愈耳。</p>
<p><u>藥例</u></p>
<p>喉症口噤不開，刀針無自而入，宜尋經絡刺之，惟刺少商穴，在大指甲內邊，去甲如韭菜許者是也。不分男女左右，兩手皆刺血出，即寬。蓋此穴乃手太陰肺經之穴，直通咽喉故也。其針用三角柳葉扁薄者，非針灸之針也。</p>
<p>若患人畏刀針者，急分開兩邊頭髮，但捽住頂發一把，盡力拔之，其喉即寬，亦要法也。</p>
<p>喉閉不通，以巴豆煙通之。其法用粗紙數重，一頭以巴豆肉末攤於上，一頭不用巴豆，緊緊卷作一炬，長可二寸余，將有巴豆一頭點火，隨吹令滅，其無巴豆一頭，令病人含在口內，使一人對火，輕輕吹之，令煙透喉中，立破膿血，而即寬矣。略寬煙透，即取去，不然令人作瀉。</p>
<p>纏喉風、雙乳蛾，絕妙立驗方。用榆樹上出過蛓毛窠一個，剪病人指甲腳爪。如左邊乳蛾，剪其左手左腳甲；右邊乳蛾，剪其右邊手甲足甲；若雙乳蛾，左右皆剪。用食鹽少許，同入窠內，煅過為末，吹入患處，以手指拍其後項。視其所患，在左拍左，在右拍右，兩邊皆患，兩邊皆拍，即時破潰，痰血並出。</p>
<p>或用蜘蛛一枚，放在小銷銀罐底，以明礬填入，煅過為末，吹在患處，立寬。以蜘蛛能截能擒也，若有五色遍身者尤妙。</p>
<p>喉症輕者不必用刀針，亦不必用前藥，但用白硼砂、燈草灰、風化硝、黃柏、青黛、冰片為細末，以蘆管吹入，至妙。兼治口瘡。燈草最難燒，一燒即過，安能得灰？必緊緊扎作一把，令其堅實塞入罐內，固濟，煅之，罐紅為度，待冷取出，方有存性黑灰也。</p>
<p>或用青魚膽一枚，以膽礬入其中，線扎其口，懸於當風處，陰乾為末，遇患者以雞羽蘸藥點喉中，即大吐痰血而寬。</p>
<p>喉症煎劑，以玄參為君，桔梗、甘草、黃芩、黃連、連翹、薄荷、山豆根之類為佐，加燈心一大把，煎服之。有痰加竹瀝，有血加韭汁，而半夏、生薑之類，絕不可用也。</p>

<h2>齒痛</h2>
<p>齒與牙，同類而異名。齒者，內床也；牙者，外版也。內床能嚼，而外版無為。能嚼則恆勞，而無為則恆逸，恆勞則易傷，而恆逸則無恙，故痛多在內床，而罕及於外版也。味之辛酸，氣之厚薄，質之堅脆，性之冷暖，一咀嚼間。而飲食之毒流滲於齒縫，其有餘物些少，偶軋其中，未能即脫者，又於當風處剔之，甚至有剔傷出血者，幾何而不為致病之階也？故齒痛之病，風痛居多。風入於內，即時脹腫，痛連頰腮，咀嚼難合，此人之所最苦者也。而風痛之外，又有火與蟲之屬焉。風從外得，火自內生，而蟲又火之所化也。何以言之？蓋齒者，骨之苗，腎之餘也。而齒根之肉，當縫之深處，則屬於足陽明胃之經。今之患齒痛者，豈真齒之痛耶？齒之堅，尤甚於骨，非血非筋，乃物之至頑而木者，何痛之有？痛之所在，則在於齒根之肉，當縫之深處也。以陽明有火，熱蒸於胃，胃家受熱，上通於齒，故其痛也。必臭穢難近，根肉深赤，齒縫流血，而味似咸，名為牙宣，而多糜爛，此得之於胃火而成者也。其或癢或痛，或大痛難忍之際，又忽然痛止，而如無恙者，非屬於風，非屬於火，其蟲之為蠹乎，然是蟲也，又何從而生之？必有些須食物，留於齒根，為火煅煉，藉血氣而成也。齧其齒則齒碎，齧其肉則肉疼，其或不齧而微動，則肉癢，此蟲痛之所以異於風與火也。或有不痛而焦枯脫落者，非胃熱也，乃腎氣衰弱，不能固其根也。是以老人之齒多疏豁，而少壯者則無恙焉。觀於此，則可以施治矣。又云：上齦屬足陽明胃，嚼而不動；下齦屬手陽明大腸，動而不休。</p>
<p><u>藥例</u></p>
<p>風入齒縫，脹腫作疼，宜以防風為君，豬牙皂角、荊芥、升麻、白芷、薄荷、甘草為佐，挾熱加黃芩、黃連煎服。又用青鹽煅過，淬竹瀝中，取起炙乾，又淬又炙，每青鹽一兩，收盡竹瀝一杯，為度，碾為末，擦痛處，血水出即止。</p>
<p>或用牙皂一錢，冰片二分，麝香一分，點入齒縫，其痛立止。</p>
<p>胃火上升，臭郁作痛，齒根紅紫，宜以煅過石膏為君，白芷、升麻、竹茹、黃芩、黃連、酒蒸大黃、甘草為佐，挾風加防風、荊芥、薄荷、牙皂煎服，或加竹茹一團，細茶一撮。</p>
<p>又用朴硝提淨，煅過二兩，白芷、細辛各二錢，黃柏三錢，為末，早上洗面時擦之。</p>
<p>或用煅過朴硝、鐘乳石等分，少加冰片、麝香為末，揩入痛處立止。</p>
<p>蟲牙作疼，以雄黃、蟾酥、花椒、麝香，等分為末，以棗肉搗成膏拌藥，丸如黍米大。塞一粒於痛處，其蟲皆化為水而出。</p>
<p>齒縫中出血不止，以竹茹四兩，醋浸一宿，少少含之，不過三度，其血自止。</p>
<p>或用蒲黃燒灰，用飛鹽擦之。或用白礬煎湯，含嗽立止。</p>
<p>牙疼不可忍，欲取落不必用手，惟以草烏、蓽茇各半兩，川椒、細辛各一兩，為末。每用少許，揩在患處內外，不過三四次自落。</p>
<p>齒根搖動欲落，用生地黃、當歸等分，同煎濃汁，嗽之，其齒自牢。</p>
<p>又用黑鉛熔開，以新柳芽投入，炒之，皆成灰，待冷，篩去活鉛，研細，朝朝擦之，最能固齒。</p>
<p>一切牙疼，以蛤蟆草如芥菜者，搗取汁，和好醋含嗽，其疼立止。</p>
<p>或用蓖麻子五六枚，麝香少許，蒜須少許，燒棗少許，和搗，丸如棗核大，綿裹塞耳內。</p>
<p>或用石膏、白芷、黃芩、竹茹、細茶、升麻各二錢，煎服，立效。</p>
<p><u>附</u>　口舌</p>
<p>口舌生瘡，咽喉腫痛，用提淨朴硝半斤，聽用。先將蒲黃五兩，薄荷一斤，水五升，拌勻，浸一晝夜，入鍋內，加水五斗，煎至一斗，以布絞去渣，澄清，又入鍋內，慢火熬成膏，取出放大碗內，將硝投膏中，重湯煮化，取起，露星月下，凝結成冰，微干，入青黛二兩，共為末，以絹囊盛之，懸當風處，愈久愈佳。每用一錢研細，摻痛處，良久，吐出痰涎，如喉痛，吹一字於患處，立效。兼治熱痰、吐血、火丹等症。</p>
<p>口瘡舌爛，以細辛、黃連，等分為末，先以布巾揩淨患處，將生薑切極薄片，蘸藥末，兩邊於口內噙之，咽汁不妨，嘗噙一片。</p>
<p>又方，將附子為末，醋調，男左女右，貼腳心亦妙。</p>
<p>凡口舌病，雖皆屬火，然不可純用寒藥，必兼辛散，乃能奏功。</p>

<h2>瘡瘍</h2>
<p>經曰：諸痛癢瘡，皆屬心火。則瘡瘍之疾，非外得也。而昔人列之為外科者，以形症在外，非若內症之無形可見也。然外之所成，皆內之所發，未有不由臟腑而出者，其可視以為外病，而忽之乎！瘡瘍之中，癰疽為甚，而大疔之毒，尤甚於癰疽。故治大疔者，十活其一二；治疽者，十活其五六；治癰者，十活其八九。惟毒有淺深，故治有難易耳。然果何以辨其癰疽與大疔也哉？亦視其腫之高下，地之廣狹，脈之浮沉而已。蓋癰者，壅之義也。氣血為毒所壅瘀而不行，故發而為癰也。其初發之時，必灑淅惡寒，而身微熱，多生於背與項。在背之上部，或左或右，為上搭手；在背之下部，或左或右，為下搭手。以其手之可搭處，故俗以名焉。其在背之中心，當肺俞之處者，謂之正發背；生於頸上者，謂之對口癰。比之上下搭手，為尤毒也。凡癰皆焮然而腫高，其勢高大，其根不甚深。乃六腑所發，從乎陽也。疽者，阻之義也。氣血為毒所阻，滯而不行，故發而為疽也。其初發之時，亦灑淅惡寒，先覺麻癢，如㾦癗之狀，按之內實，手推不能動，亦多發於背腰肩髃之間，及小腹胸旁。其發於股足間者，名附骨疽焉。凡疽腫不甚高，勢不易大，而其根反深，惟發於背心，及腿足者，為最重。乃五臟所發，從乎陰也。疔者，釘之似也，猶釘之在木，拔之不能出，搖之不能動，其根至深，其毒至重，其頭至硬。其初發之時，反不知痛癢，但覺麻木，外雖如麻，而里則如瓜，及其勢盛，則痛苦異常，應心入膽而不可忍。乃五臟六腑之火，煅煉已久，併合於一處而生者也，多見於面部骨節之間。而究其毒之所從來，多由於飲食服餌之中。經曰：膏粱之變，足生大疔。凡肥甘厚味，炙煿煎熬之物，最能助火。嗜味之人，恣供口腹，而又醉之以酒，勞之以色，脾土於是乎燥烈，腎水於是乎枯竭。積之既久，流於五臟，布於六腑，火鬱而不散，乘其氣血所虛之處而發之。根抵於內，而煩熾於外，其毒尤甚於鴆鳥，試割其肉以飼雞犬，立見其斃，此大疔之所以多死也。若大似疔而非疔者，則但以腫毒治之，而無大害矣。然三者之脈，何以辨之？蓋浮而數者，毒氣在表，故知其為癰；沉而數者，毒氣在裡，故知其為疽；若沉而又沉，數而弦急者，必疔也。此皆有形之可見，而治之難易，猶可因其症而施之。至於腸癰、腹癰、肺癰之類，皆為內癰，其狀與癥瘕痞癖無異者。苟或以為內科之症，而進以削堅破結之劑，如三稜、蓬朮、阿膠之類，所治非其所患，幾何而不殞人之命也。然必何如而可以知其為內癰耶？蓋內癰之症，體膚甲錯，而緊急如版，按之有塊，而根則堅牢，外無紅腫之色，內多疼痛之苦，身雖無熱，而脈氣反數。經曰：脈數身無熱，內有癰也。若夫癥瘕痞癖，則豈有此等之症與脈哉！此特論內癰之大略耳。而肺癰、腹癰、腸癰之狀，又何如耶？蓋肺為五臟之華蓋，其位最高，而癰生於肺，則上膈滿悶，口吐膿血，腥穢之氣，不可近人。其始得於肺痿不治，故結而為癰也。腹居中宮，脾胃之位也。而癰生於腹，則中脘並結，騰騰而痛，飲食減於平時，噁心生於飲後，小便短澀，時覺惡寒者是也。至於腸癰，雖在於腹，而實繫於腸。其為病也，盤腸絞痛，內氣交攻，而不能通暢。生於小腸，則小便不利，或反滲於大腸，以作瀉；生於大腸，則大便閉塞而糞或從小腸出。其出也，痛楚非常，欲死不死，欲生不生，故患此癰者多死。診其脈則弦數而芤，見於寸口，則謂之肺癰；見於關部，則謂之腸癰、腹癰，《脈經》曰：寸芤積血在胸中，關內逢之腸里癰。此之謂也。觀此，則可以辨三者之癰也。大法瘡瘍之在外者，初發無如一灸，艾煙一透，其毒立散。若延至六七日，則不可灸矣。毒之淺者點之，毒之深者決之，毒之尤深而針刀所不及者，則烙之。未成膿，則用化毒之劑；既成膿，則用托裡之藥；膿既潰，則一於補而已矣。若夫癰之在內者，艾煙不能入，刀針不能加，則惟以化毒等藥，令其膿於大便中出，亦庶乎其可生也。此皆難治之症，故歷言之，其餘之毒，吾亦何暇於遍論耶！</p>
<p><u>藥例</u></p>
<p>背上癰疽，屬太陽經。未成膿之始，宜解毒發散，以羌活為君，防風、紫蘇、獨活、金銀花、當歸、川芎、連翹、殭蠶、蟬殼、皂角刺、穿山甲、白芷、甘草為佐，加蔥頭煎服，送下蠟礬丸四五十粒。既成膿之時，宜護心托裡，以羌活為君，黃耆、甘草、金銀花、連翹、白芷、當歸、川芎之類為佐，少加官桂煎服，送下蠟礬丸百粒。凡瘡瘍皆火也，而反用官桂者，何也？蓋氣血得寒則斂，得熱則行，故以為血導，使毒氣自內發外，不停蓄於中也。此特其總方耳。然在上在中在下，皆各有引藥，如上搭手，則加升麻；下搭手，則加酒炒黃柏；其對心者，則加大劑麥門冬以護心；當肺俞之處者，則加桔梗、玄參。要當以意參之。</p>
<p>癰疽已潰，以大補氣血為主，黃耆、當歸二味，為氣血之君，佐以人參、茯苓、甘草、川芎、芍藥、地黃為佐，加糯米一撮，大棗十枚，煎服，送下長肉丸。凡瘡瘍補劑，禁用白朮。白朮雖補，大能作膿，故不用也，惟痘科不禁。</p>
<p>蠟礬丸，黃蠟十兩，熔化，入飛過明礬末五兩，攪和，投水中，丸如綠豆大。每服百丸，大能護心，使毒氣不入，即以煎藥送下。</p>
<p>長肉丸，黃蠟一斤，熔化，入乳香、沒藥、血竭末各二兩，象牙末四兩，攪和，投水中，丸如綠豆大。每服百丸，一日二服，即以煎藥送下。</p>
<p>頭癰近喉，毒氣略入，即為不救，尤其可畏之甚者。必半決之，方能救療。以羌活為君，升麻、玄參、桔梗、白芷、天花粉、瓜蔞仁、黃芩、金銀花、連翹、甘草、皂角刺之類為佐。瘡瘍潰後，方可施補，而亦不宜用峻補之劑，以其近於喉，恐生痰閉塞也。</p>
<p>癰疽圍藥，必露其頭，而四圍紅腫之外，無不塗之，使毒只從頭上出。宜以人中黃為君，大黃、五倍子、小粉灰、白及、白蘞、黃柏、寒水石、麝香為佐，共為細末，好醋調敷。痛甚者，以人中黃白、益母草等分為末，將蓖麻子肉數粒搗爛，加生蜜或雞子清，調敷，其痛立止。</p>
<p>諸腫毒，初生於下部者，可一下而愈。以瓜蔞半個、連皮搗碎，槐花三錢，大黃三錢，煎服，得快利，其腫立消。此方治橫弦及乳瘡最妙。乳瘡加橘葉，橫弦加黃柏，分飢飽服之。</p>
<p>附骨疽，在富貴者，多是厚味炙煿及酒後行房，流毒於陰經所致。其在勞苦之人，必嘗乘酒入水，血瘀於骨節之間故耳。若未成膿宜大劑牛膝、黃柏為君，佐以當歸梢、川芎、赤芍藥、生地、獨活、皂角刺、白芷、金銀花之類，加官桂、附子為嚮導，水酒煎服。已成膿者，宜烙之，既烙之後，而加以調補，可也。</p>
<p>或用當歸半兩，甘草一兩，山梔十二個，木鱉子一個，為細末。每服五錢，酒調服。</p>
<p>疔瘡之毒至深，必拔其疔根，而後可生。用蜣螂一個，去翅足，同硇砂五分，白砒三分，共搗為丸，如小綠豆大。先以三稜針刺瘡，約深幾許，將此丸納入，以頹簪捺下，須臾大痛，皆變作黃水而出。然後以野菊花，搗汁一盞，和酒服之，一日連進三服，盡醉為度。再以一味人中黃為丸，日日好酒送下。</p>
<p>諸毒瘡無名者，急以干桑葉、粉草、瓜蔞、當歸、榆樹根皮各半兩，生薑七片，蔥一把，酒煎一碗，熱服。仍飲酒大醉，睡覺即安。</p>
<p>代針膏，治惡瘡，不用刀針，一點即破。瘡大者以筆蘸膏，畫為十字，其瘡自迸開，又於紅肉上略畫之，即潰出膿矣。用磏滷二碗，入硇砂五錢，煎至一碗，入天明子石灰一塊，待化囗。再熬至干，入白砒末三錢，銀油末三錢，仍入好□研和，收貯器中。</p>
<p>瘰癧，腫硬疼痛久不瘥，用□頭蹄骨一具，酥炙黃為末。昆布。海藻，酒洗去鹽□，曬乾，各一兩半。連翹、黃芩、金銀花、穿山甲、皂角、□殼、香附各一兩，用醋煮乾，為細末。將玄參煎膏□丸，如桐子大。每服七八十丸，一日三服，以薑汁三匙，調入，好酒下，能收全功。</p>
<p>或用丁香五十粒，斑蝥十個，麝香一錢，為末。以鹽豉五十粒，湯浸，研爛如泥，和前藥，丸如綠豆大。每服五六丸，食前湯酒送下，日進三服。至五七日外，覺小便淋瀝，是藥之功也。便下如青筋膜之狀，是病之根也。忌濕面毒物。</p>
<p>又方，昆布、海藻、當歸、連翹、乾葛、石膏、夏枯草，煎服。</p>
<p>肺癰喘急，坐臥不安，以桑白皮銼燒，甜葶藶隔紙燒，各一兩，為粗末。每服五錢，水二盞，煎七分，溫服，以利為度。</p>
<p>或用桔梗一兩，甘草半兩。每服七錢，水二盞，煎一盞，頓服。須臾吐出膿血為效。</p>
<p>或用一味五倍為末，稀糊為丸，如米大，白滾湯下一二錢。如欲吐噁心，略嚼生薑，即止。此藥能長肺肉，去肺膿，亦治肺痿。調理方，用天花粉一兩，桔梗三錢，枳殼二錢，黃芩二錢半，甘草一錢，金銀花一團，桑白皮三錢。水煎，徐徐服。</p>
<p>腹癰、腸癰，以出過蠶蛾繭子，燒灰，每灰多少，配大黃多少，穿山甲、牙皂多少。共為末，酒調下三錢。膿血皆從大便出。其未成膿者服之，其毒化為黃水瀉下。兼治痰飲停飲、肚腹臌脹。</p>
<p>或用牛皮膠投酒中，煎濃汁，送下太乙膏丸百粒，一日二服，其膿皆從大便而下。</p>
<p>太乙膏方，玄參、白芷、當歸、赤芍藥、肉桂、大黃、生地各一兩，為粗末，用麻油二斤，浸十日，入銅鍋中，煎至焦黑去渣，再熬，滴水不化為度，入黃丹一斤，再煉成膏，收貯器中。此藥可貼可服。兼治婦人月水不通。</p>
<p>灸腸癰法，以小艾丸，灸兩肘尖銧骨上，十四壯，膿從大便出。以此法灸癧瘡初起，能令自消。</p>
<p>廣瘡，十貼收功。每貼冷飯糰三兩切片，水四碗，煎二碗，去渣，入羌活、獨活、白芷、連翹、苦參、黃連、穿山甲、當歸、川芎、甘草、蒼朮、防風、荊芥、蟬退各二錢。煎至一碗，去渣，入廣膠三錢，煎一盞，和好酒服之。外用輕粉為君，硃砂、雄黃、爐甘石為佐，為細末，將黃蠟熔開，投前藥，攪和作膏藥，貼之。如膏藥太硬，加樟腦少許，自稠。若不用黃蠟為膏，單用前藥，加冰片敷之。兼治下疳甚效。</p>
<p>膀上內㾾。外㾾，大小濕瘡，用水飛黃丹、血竭、寒水石各一兩。為細末，將黃蠟六兩，豬脂三兩，慢火熔開，入藥調勻，傾水中，依瘡大小，捏作膏藥。先將花椒、蔥白，煎湯洗淨拭乾，貼上，以油紙蒙之，輕輕扎住，貼一日，再洗淨，翻轉貼之，兩日換一膏，半月即愈。或用黃柏、黃連各五錢，好醋一碗，煎至半碗，去渣，入冬青葉五六十片，重重浸之，慢火煮至干，撩起停一夜。每一葉，略摻輕粉、血竭末一些，貼之至妙。</p>
<p>或用煙膏一兩，飛礬二錢，寒水石煅過三錢，黃柏醋煮三錢，為細末，香油厚調，塗瘡一分厚，以油紙蒙之，輕輕扎定。痛勿按，癢勿搔，直待其干，不覺痛癢，輕去其痂，已全好矣。</p>
<p>天泡瘡，小兒嘗生之。瘡勢一盛，多有至死者。用香爐蓋上煙脂三錢，黃連二錢，青黛二錢，冰片二分，為細末，雞子清調，或豬膽汁調敷，甚妙。</p>
<p>膿泡、疥瘡，用煙膏一兩，硫黃、焰硝，各二錢，飛礬四錢，豬牙皂角二錢，共為細末。豬脂同研如泥。先以蔥、薑、花椒湯洗浴，然後敷藥，三四日即愈。</p>
<p>或用黃丹、雄黃、飛礬、大風子、牙皂、輕粉、蛇床子、露蜂房、蛇退、花椒，等分，少加白砒、麝香。研細末，柏油為丸，遍身滾之。</p>
<p>上部癬瘡，沿及頭面，癢不可忍者，杜大黃根、生蔥等分，搗極碎；生地、紅花亦等分，以醋浸爛搗如泥；加枯礬，又同一處搗和，以生布包之，擦患處。先以穿山甲刮碎，擦之，待乾，再刮，再擦，三四日即光，不再發，累驗。</p>
<p>遍身頑癬，用斑蝥去翅足二錢，川槿皮五錢，飛礬三錢，大風子二錢，輕粉二錢，白砒五分。為細末，醋調敷之。而癬之初發者，不必用此重劑也，宜以陳醋一碗，入川槿皮一兩，牙皂半兩，大風子三錢，煎至半碗，去渣，澄清，入明礬、皮硝各五錢，又煎至一酒盞，和以禿菜根自然汁、生薑自然汁各一酒盞。先以穿山甲略刮微破，將筆蘸塗之，不幾日即愈。</p>
<p>陰囊濕爛，黃水如流，或癢或痛者，名濕陰瘡，用細茶為末，加冰片少許，再研極細，摻上即愈。</p>
<p>陰囊爛破，兩核突出，痛苦萬倍，先用桑皮線一條，將旱蓮草汁浸一宿，曬乾揉軟，以手輕輕納進兩核，捽住囊皮縫之。用血竭、龍骨、象牙屑，共為末，以桑樹汁調之，濃塗縫處。</p>
<p>內服之劑，用黃耆為君，人參、白朮、黃柏、橘核、澤瀉、金銀花、獨活、白芷、連翹、甘草為佐，煎之。即以此藥，空心送下蠟礬丸百粒，半月可愈。</p>
<p>一切惡瘡，死肉不消，成紫黑色，突出高起，臭穢不可近，以烏梅肉，燒灰為末，摻上立消。</p>
<p>或用白礬二兩，黃丹一兩，硇砂三錢，為末。鍋內同炒乾，為細末，摻於膏藥上，貼之。</p>
<p>或用巴豆霜一錢，五靈脂半兩，阿魏、黃丹各二錢，飛礬一錢，為細末。以糊為錠子，入瘡內，其肉自消。</p>

<h1>卷之四</h1>

<h2>婦人</h2>
<p>乾道成男，而坤道成女，故男為陽而女為陰也。氣屬乎陽，而血屬乎陰，故男多氣而女多血也。陽輕清而陰重濁，故氣無形而血有形也。氣惟無形，故充滿於中而不露；血惟有形，故流溢於外而可見出。然是血也，以其初而言，即先天真一之水也。女子十四而天癸至，則源泉之通，自此而始。若往來有信，如潮汐之不愆其期，然後血脈調和，而病無由生。一失其期，便能作疾，而生育之機，亦因以窒矣。故治女病者，以調經為先，而善調經者，以順氣為主，順氣則經自調，經調則血嘗足，是以月事既止，新血即生，一交媾之間，而胚胎即結。血少精多，則精裹血而成男；血多精少，則血裹精而成女。欲得子者，於月事初止之後三日，新血始生，而氣猶清，交感而成胎者，必男也。三日之外，新血漸多，而氣已濁，交感而成胎者，必女也。其有交感於三日之內，而亦生女者，必其平素血氣太盛，而其來不清故也。其有交感於三日之外，而亦生男者，必其平素血氣不盛，而其來不濁故也。其有血氣未嘗不足，而月事又調，宜乎成胎也。而久不生育者，何哉？是必男子精氣不稠，或精寒不相交結故也，而非女子之病也。其男子精氣素充，而又無子者，是必女子子宮之寒，不能攝精故也，而非男子之病也。然果何以知子宮之寒哉？蓋女子尺脈嘗盛，若沉細而遲，如無所動，則子宮之寒可知矣。其有子宮不寒，而亦無子者，必其血不足，或痰有餘故也。然果何以知其血之不足，痰之有餘哉？亦視其形之肥瘦而已矣。蓋瘦人多血虛，血虛則不能凝精；肥人多濕痰，濕痰流注於下焦，則痰與血混淆，而化氣不清，故亦不能凝精也。其有瘦人肥人，而亦未嘗無子者，何也？蓋瘦人多血虛，道其嘗也，若月事既調，而無內熱之症，則血嘗滋潤而不枯，是以能生育也；肥人多濕痰，亦道其嘗也，然或肌肉不甚浮，面色不甚白，飲食無厚味，則濕痰亦少，而氣血猶清，是以能生育也。由是觀之，則女子之血，實所以宰生生化化之機也。方其未成胎也，則此血周流不息，以期而至；及其已成胎也，則此血榮養於內，以護其胎。今婦人初有妊，即頭眩、噁心，或發嘔吐，多厭飲食，而嘗思酸者，乃足厥陰肝經養胎也。肝主風，故頭眩；肝有餘，故噁心嘔吐；肝勝脾，故多厭飲食；肝喜酸，故嘗思酸也。過此則諸經輪次養胎，其七八月之間，兩足浮腫者，足太陰脾經養胎也。脾主四肢，故兩足浮腫也。兩手不浮腫，而獨見於兩足者，何也？蓋脾本足之陰經，況此時胎氣已墜下，故不能不見於足也。每一月則一經養之，十月則十經養之，十月滿足而後產焉。其餘二經，則又養於既生之後，而化血為乳汁矣。是乳汁亦血也，而其色白者，何也？蓋胸前部位屬太陰肺經，乃西方庚辛金也。金色本白，血從金分而來，故變赤而為白也。凡血去多則令人虛，今乳汁既為血，亦不宜去多也。然其來也恆有餘，其出也無盡止，是以厭飫小兒，而其母不覺虛者，何也？蓋人身之血，皆資飲食以生者也。飲食入胃，遊溢精氣，上輸於肺，從肺之部位而去，故成乳汁。婦人既產，而飲食倍於嘗日。正以既產之後，又屬足陽明胃經養之，乳房屬陽明，故乳汁多受於此處。胃能化飲食，飲食能生血，飲食既足，則血亦足，血既足，則其化為乳汁也，自無窮盡，何至令人虛乎？甘屬胃，故乳汁亦甘；白屬肺，故乳汁亦白。是以既產之後，乃肺胃二經養之也。小兒二三歲間，其母復有妊，兒飲鬾乳，即黃瘦泄瀉者。以乳汁味酸，正足厥陰肝經養胎之日，肝能克脾，故兒飲之即瀉也。當此之時，肺金失令，胃土無權，則所以滋養乎血者，已無所藉，幾何而不為兒之病哉！此特論胎前產後之事，而原其本於血，歸其功於十二經耳。若夫胎前產後之症，又各具於諸症餘下，而此不及論。又曰一月肝，二月膽，三月心包絡，四月三焦，五月脾，六月胃，七月肺，八月大腸，九月腎，十月膀胱。其心、小腸養於即產之後，在上為乳汁，在下為月水，與此不同，宜共參考。</p>

<h2>經閉</h2>
<p>經閉所以為女人病者，何也？蓋女人以血為主者也。使其經脈調和，往來有準，有以應水道潮汐之期；舊血既盡，新血復生，有以合造化盈虧之數，則周身百脈，元不融液而和暢，夫何病之有？設或閉焉，則新血滯而不流，舊血凝而日積，猶如河之水，壅塞不通，必變為渾濁臭穢，其理一而已矣，幾何而不為病哉！血癖、血風，與夫熱入血室之症，多自此始。然要其閉之之由，必有所因，而非自閉也。或月事適至之時，因渴飲水，並食生冷之物，及坐水中洗浴，寒氣入內，血即凝滯，亦能令人經閉也。或因墮胎多產而傷其血，或因久患潮熱而銷其血，或因久發盜汗而耗其血，或因脾胃不和，飲食減少，而不能生血。凡此之類，皆能令人經閉。其有肥白婦人，月事不通者，必是濕痰與脂膜壅塞之故也。是以醫者當隨其所因而治之，其可以一例施乎？</p>
<p><u>藥例</u></p>
<p>因感暴怒，而經閉者，宜君之以青皮，佐之以官桂、木香、香附、赤芍藥、當歸梢、紅花、山楂、桃仁、牛膝、蓬朮、蘇木之類，好酒煎服。</p>
<p>因食冷物，而經閉者，宜君之以官桂，佐之以乾薑、木香、厚朴、香附、山楂、紅花、桃仁、歸梢、牛膝之類，好酒煎服。</p>
<p>因坐冷水，而經閉者，宜君之以附子，佐之以官桂、木香、厚朴、香附、山楂、紅花、桃仁、歸梢、牛膝之類，好酒煎服。</p>
<p>因墮胎多產，而傷其血，又久患潮熱，而銷其血者，不可用行血之劑。宜以四物湯為主，佐以木香、香附、厚朴、甘草之類，以兼調其氣，將久而自通矣。</p>
<p>因脾胃不和，飲食減少而不能生血者，亦不可用行血之劑。宜以白朮、人參、茯苓、枳實、木香、香附、甘草之類以調脾胃，同四物湯煎服，亦將久而自通矣。</p>
<p>肥白婦人經閉者，宜以枳實為君，佐以蒼朮、半夏、陳皮、香附、烏藥、厚朴、牛膝、桃仁之類，煎服，則濕痰去，脂膜開，而經自通。</p>

<h2>月事不調</h2>
<p>月事先期而來者，血熱也；其色紫者，亦血熱也。後期而來者，血虛也；其色淡者，亦血虛也。或先或後，色淡而稠黏者，痰也。將來而先腰腹痛者，血滯而氣不至也。既止而復腰腹痛者，血海空虛而氣不收也。或止或來無定期者，因氣不調，故血亦隨之為行止也。或一月兩至，或數日一至，不可一月論矣，氣虛血熱也。或經年之後，累數日而不能止者，乃血海脫滑，兼有火以動之也。既止之後，隔三兩日而復見微血者，以舊血未盡，為新生之血所催，故不能容而復出也。醫者觀此，可以施治矣。</p>
<p><u>藥例</u></p>
<p>先期而來，及其紫色者，以涼血為主。宜君之以黃連，佐之以槐花、山梔、香附之類，同四物湯煎服。而四物湯中，又倍芍藥、生地，可也。</p>
<p>後期而至，及其色淡者，以補血為主。宜以四物湯起劑，佐以香附、蘄艾、龜板、玄參、五味、麥冬之類煎服。而四物湯中，又倍加當歸、熟地，可也。</p>
<p>色淡而稠黏者，以化痰為主。宜以半夏、茯苓、橘紅、甘草，名曰二陳湯，用此藥起劑，佐以烏藥、香附、枳殼、紫蘇梗之類，同四物湯，加生薑、砂仁煎服。</p>
<p>將來而先腰腹疼痛者，以行氣為主。宜君之以木香，佐之以枳殼、青皮、香附，同四物湯煎服。</p>
<p>既止而復腰腹疼痛者，以補血為方。宜君之以地黃，佐之以當歸、川芎、芍藥、白朮、人參、茯苓、甘草、香附、陳皮之類，煎服。</p>
<p>或一月兩至，或數日一至者，以補氣涼血為主，宜以八物湯起劑，加黃連、山梔、香附、敗龜板、炒黑蒲黃之類，煎服。</p>
<p>或止或來無定期者，以調氣為主。宜君之以香附，佐之以陳皮、烏藥、砂仁、蘄艾之類，同四物湯煎服。</p>
<p>經事數日不能止者，以涼血止血為主。宜君之以炒黑山梔，佐之以炒黑蒲黃、黃連、地榆、牡蠣、側柏葉、香附之類，同四物湯煎服。</p>
<p>經止後，隔三四日復見微血者，惟以四物湯起劑，加香附、陳皮、甘草之類，煎服。然此不足為病，雖不服藥，亦無害也。</p>

<h2>血臌、血癖、血風、崩淋、帶下、熱入血室</h2>
<p>婦人臌脹，雖有因於氣食而成者，然成於血者居多焉。若成於氣食，腹雖脹而經不閉；成於血，其經必閉也。婦人之血恆有餘，故月見其血，而不以為病。若閉而不通，則日積而充滿，其始發之時，小腹先膨，久則上逆中脘，緊脹如鼓，青筋綻露，而血臌之症成矣。其有因產後惡血不下，逆而上升，滲入於皮膚，充滿於中宮，甚至上騰於面，而成紫色者，此必死之症也。</p>
<p>婦人癖塊，雖因痰與氣食而成，然成於血者居多焉。然痰與氣食而成，塊雖成而不礙於經水。成於血者，經水雖來，亦必有時而斷也。此必因經水既來之後，尚有舊血未盡，偶感於寒氣，或觸於怒氣，留滯於兩脅小腹之間，故成血癖也。</p>
<p>又有所謂血風者，經水逆行，上攻於腦，頭目旋悶，不省人事，甚至滿面滿頭，皆成赤斑者。此因經水適臨，感冒風邪所致。蓋風之為氣，善行而數變，其勢易上而難下，經水為風所激，以故倒流而上行也。</p>
<p>又有所謂崩淋者，其病相似而實不同。崩者，如土之崩，源泉迸流而不禁，乃血熱而兼氣虛，不能收攝也。淋者，如水之淋漓，艱澀而不通快，乃內有鬱熱，而氣亦滯也。然崩則皆血，而淋則有赤白沙石之異。赤者屬血，白者屬氣，沙石者，氣血之尤濁者也。治此病者，惟調其氣血，清其內熱而已。</p>
<p>又有所謂帶下者，從腰間束帶之處而來，故名曰帶。雖有赤白，總屬腎虛。其病與淋相似，然淋疾之所下者，多散而薄，必覺臭穢；帶疾之所下者，多滑而稠，無腥穢之氣。以此為辨耳。</p>
<p>又有所謂熱入血室者，何以致之？必其經水適臨，或犯熱症，因而經止。經隨熱而入於血室，則往來潮熱，如瘧之狀，而無定期，或一日三兩發者，是也。熱久不愈，傳於骨髓，多成骨蒸，其可不早治之乎？</p>
<p><u>藥例</u></p>
<p>血臌，以破血通氣為主。宜君之以桃仁，佐之以紅花、當歸梢、牛膝、三稜、蓬朮、木香、厚朴、官桂、青皮、牙皂、穿山甲之類。必先以大腹皮一大團先煎，後入余藥，乃妙。</p>
<p>或用血見愁草汁，和酒服之。或用杜牛膝搗汁，和酒服之。</p>
<p>血癖，以破血軟堅為主。宜君以蓬朮，佐以三稜、桃仁、紅花、歸梢、官桂、穿山甲、牙皂之類。共一處，醋煮為末。將血見愁搗汁，浸阿魏令軟，研爛，加醋調和，煮陳米粉粥為丸，好酒送下，每服百丸，一日二服。</p>
<p>或單用血見愁為君，木香為佐，浸酒服之，亦妙。</p>
<p>血風，乃血症中之最急者也，宜以四物湯為主治，加桃仁、紅花、防風、荊芥、天麻、薄荷、白朮之類。其所以用白朮者，以其能去面上遊風，及利腰臍間血，故也。</p>
<p>或用蒼耳草，陰乾為末，不拘時，酒調一大盞服之，其功最大。然人不可多服，多服則連通腦頭。蒼耳草，一名喝起草。</p>
<p>血崩不止，必用散子藥，如棕灰、牡蠣、釜底墨、山梔、黃連、槐花、側柏葉、人參、黃耆、甘草之類，為末，飛鹽湯下。若以此為丸亦妙。一日連進數服，立止。或用小薊草汁，同藕節汁，調和服之。</p>
<p>淋症，宜先通利。用大劑牛膝為君，佐以桃仁、歸梢、枳殼、烏藥、香附、砂仁、木通、黃連、山梔、赤芍、赤苓、生甘草、生地之類，水煎，加童便服之。</p>
<p>或用車前子一味為末，酒下，一日四五服。</p>
<p>帶下，不論赤白，皆杜仲為君，佐以人參、白朮、茯苓、當歸、川芎、芍藥、地黃、黃柏、甘草、澤瀉、橘核之類。若小腹先痛而後下者，不用黃柏、參、術，加延胡索、砂仁、香附之類，服之。</p>
<p>熱入血室，宜於四物湯中，倍加生芍、生地，佐以赤茯苓、黃芩、連翹、麥冬、丹皮之類，服之。</p>

<h2>胎前諸症</h2>
<p>婦人有妊月餘，即噁心嘔逆者，謂之惡阻。乃足厥陰肝經養胎之月也。肝嘗有餘，本不能容物，而今乃有妊，則肝氣為胎所礙，不得發泄，故噁心嘔逆也。過此月，則別經養胎，而惡阻之病息矣。夫十二經，皆養胎者也，而肝經獨養於初妊之時，何哉？蓋胎者，血之始成，而肝則血之所藏，以血養血，造化之相為合也。然受氣之始，則何經以主之？曰足少陰腎經也。天一生水，得氣最先，故男子先生左腎，女子先生右腎。而婦人右腎，亦以系胞，為胞之根柢，先天真一之氣，發此以為胎兆也。</p>
<p>妊婦心氣痛者，受胎必上，胎礙其心，故心氣痛也。小便不通者，受胎必下，胎壓膀胱，故小便不通也。其有遺尿不禁者，必其胎氣受寒，逼近膀胱，故遺尿不禁也。</p>
<p>妊婦腹痛，人皆謂之胎痛，而不知胎痛自有分別，不可以腹痛例觀也。假如努力任重，致傷其胎而作痛者，方可言胎痛；或平日瘦弱，血不足以潤其胎，而致腹痛，其痛如芒刺引掣者，亦可以言胎痛也。若偶傷於食，偶感於氣，偶觸於穢惡，而作痛者，非干於胎，何以亦謂之胎痛耶？醫者當審其脈，若滑而弦，乃是氣食；若得澀脈，乃為胎痛。脈訣云：澀脈如刀刮竹行。男人有此號傷精，婦人有孕為胎痛，無孕還須敗血凝。由是觀之，可以見胎痛，由於血不足矣。</p>
<p>妊婦腰痛，與男子腰痛不同。男子腰痛，乃腎虛也。妊婦固亦有虛者，然因勞力而得者居多焉。勞力以任重，致傷胞系，胞系與腎相連，胞系受傷，則腰必痛，痛甚則胞系將脫，多至小產。其有素享安逸而妊婦腰痛者，必其受胎之後，不節房事，以致傷胞系也。十月滿足而腰痛者，非病也，欲產故也。《脈訣》云：將產之候脈離經。又曰：一息二至號離經。所謂離經者，胞系欲離腎經也。此脈在妊婦，則為欲產而無所妨；在病人，則為欲死而氣將絕。醫者亦不可不知也。</p>
<p>妊婦下血者，人皆謂之胎漏，而不知胎漏，亦有辨也。蓋胞外有血，胎內無血，胎內之所有者，水而已矣。使胞破漏，則必有聲，而所下者，皆水也。若所下者血，則皆胞外之物耳，豈可以言胎漏耶？然下血過多，則無以養胎；下水過多，則胞已干而兒必死，皆危症也。若臨月腹痛而胞破，則為欲產，亦不可言胎漏也。</p>
<p>妊婦傷寒、瘧疾，皆能墮胎。蓋懷胎最怕寒戰，則遍身筋骨皆振，易動其胎。故患此二疾者，多至小產。用藥者，先以安胎為首務，可也。</p>
<p>妊婦痢疾、泄瀉，雖不至於墮胎，然臨月之時，多有產難。蓋痢疾則下血，而胎無所養；泄瀉則去水，而胎無所滋。泄痢既止之後，必將有乾枯澀滯之患，而產難恐不免矣。用藥者，其可不深加意乎。若暫瀉暫痢，其勢不甚者，亦無大害也。</p>
<p><u>藥例</u></p>
<p>惡阻嘔逆，以平肝順氣為主。宜君之以草決明、白芍藥以平其肝，佐之以枳殼、砂仁、厚朴、蘇子、烏藥以順其氣，藿香、黃連、白豆蔻以止其嘔逆而已。然此症乃自然之氣候，雖不服藥亦無妨。</p>
<p>心氣痛者，胎礙其心也，以縮胎降氣為主。宜君之以枳殼以縮其胎，佐之以砂仁、檳榔、沉香、蘇子以降其氣，少加四物湯服之。</p>
<p>或用艾葉、茴香、川楝子，俱炒等分，水煎，加醋少許服之，亦可。</p>
<p>小便不通，胎壓膀胱也，以利小便為主，兼用搐鼻法，以升提其氣，則小便自下。宜君之以木通，佐之以車前、甘草梢、赤茯苓、澤瀉之類。又以烏梅、牙皂等分為末，略吹些少於鼻中，鼻中酸癢，欲嚏不嚏，其氣必升。先服煎藥，如一飯之頃，後用此搐鼻法。</p>
<p>遺尿不禁者，胎寒迫近於膀胱也，以溫胎為主。宜君之以艾葉，佐之以茴香、五味、牡蠣，同豬尿脬煎服。</p>
<p>胎痛，以生血安胎為主。宜用四物湯以生血，佐以砂仁、白朮、黃芩以安胎；陳皮、木香、香附以調氣。</p>
<p>腰痛，以安胎為主。宜君之以砂仁，佐之以白朮安胎，杜仲、續斷、甘草以止痛。</p>
<p>胎漏下血，其勢已危，急用阿膠為君，鹿角屑、熟地、艾葉、白朮、砂仁、黃芩為佐，加蔥白一握，水煎，送下黃蠟丸一二錢，一日三服。</p>
<p>傷寒、瘧疾，皆以安胎為先，定寒熱為次，宜用大劑白朮、砂仁、黃芩、紫蘇以安胎。如傷寒，則兼用羌活、防風、甘草，無汗則少加麻黃。如瘧疾，則兼用柴胡、川芎、芍藥。有食加山楂、麥芽、枳實、陳皮、神麯之類。</p>
<p>痢疾，以黃連、當歸為主治，佐以白朮、茯苓、芍藥、木香、陳皮、甘草之類。如泄瀉，以白朮、蒼朮為主治，佐以茯苓、豬苓、澤瀉、神麯、陳皮、甘草之類。二病俱加砂仁煎服。病愈後，又當大補陰血，如四物湯、龜板、阿膠、玄參、知母、黃柏、山藥、五味、人參之類作丸，服之，始可以免臨產乾枯澀滯之患也。</p>

<h2>臨產諸症</h2>
<p>婦人小腹之下，陰戶之上，有骨高起，中有節骱相湊，未產則合，一臨產則分開，謂之交骨。此造化之巧，為男女生育之大關隘也。雖兒頭向下，其勢已順，而交骨不開，終難生產，立見危殆，可憂之甚者，是豈藥餌之所能及耶？</p>
<p>產婦橫生者，一臂先下，乃兒在母腹，轉運偏側，筋斗未翻，內有所礙，而不得遂也。逆產者，兩足先下，必是母腹中，脂膜窄狹，兒不轉運，而直下也。此皆因勞力挫閃，誤傷其胎，以致如此，不亦可駭之甚乎。</p>
<p>兒湊心不下者，其手必捧母心，多致母子俱死。必以藥引入心分，解開兒手，方可得下。蓋兒手捏物最緊，藥氣一到，兒手自軟，故曰解開。</p>
<p>子死腹中者，腹必悶痛，兼冷，略無動意，面如土色，其舌又黑者，是也。故試驗訣云：面黑舌不黑，母死子活，舌黑麵不黑，子死母活。此之謂也。決不可因其虛而緩治之。</p>
<p>或有未曾坐蓐，腹中略痛，而胞水先破，乘勢而下，固為大幸。設或胞水漏干，惡露出盡而兒不能下，苟無法以下之，則母子俱不可保矣。其有產後胞衣不下者，不可視以為細故而易之，多有升至心而死者。</p>
<p><u>藥例</u></p>
<p>交骨不開，急用急性子殼（即鳳仙花子）、穿山甲、牙皂、麝香等分，為末，和蜜捏作餅子，如指頭大者一塊，塞入陰戶近骨之處。又將蔥二三斤，濃煎湯，令產婦坐浸於中，以手運之，交骨自開。</p>
<p>橫生者，將兒手輕輕納入陰戶。逆產者，不必以兒腳推進，雖推進，亦終不能轉運矣。全在收生者活法，急用蛇蛻一條，蟬蛻二十頭，發一束，共燒灰為末，溫酒調下，仰臥片時，即下。</p>
<p>湊心不下者，乃兒捧母心也。急用豬心血，調乳香五錢，好酒送下，兒手遂開。亦治子死腹中與心頭痛等症。</p>
<p>或用蛇皮燒灰，入麝香少許。研細，溫酒送下立產。</p>
<p>子死腹中者，用當歸、川芎、砂仁各一兩，官桂三錢，木香二錢，水酒各半盞，煎服，立下。</p>
<p>或用玄明粉四錢，以清油、蜂蜜各一兩，溫酒調下，須臾立產。又治男、婦、小兒大便乾燥。</p>
<p>或用馬檳榔，連食三枚，治一切難產，立效。</p>
<p>胞水漏干，兒不能下者，急以車前子二三合，煎湯，以布濾去渣，連連服之，兒隨水出。</p>
<p>統治產難，以益母草為君，當歸、川芎、木香、砂仁為佐，大約益母草一兩，四味每用五錢，水酒煎服。</p>
<p>或用臘月兔腦，去膜，乳香末一錢，母丁香末一錢，麝香一字，研勻，丸如雞豆大，陰乾，油紙密封。臨產破水後，溫酒下一丸，即時產下，隨男左婦右手，握出為驗。</p>
<p>或用當歸、川芎各二錢，官桂一錢，麝香一分，為末，酒服立產。</p>
<p>胞衣不下者，以雞子清三個，去黃取清，以好醋三合調和，令服之，立下。</p>
<p>或以花蕊石一兩，硫黃四兩，入罐，鹽泥固濟，煅過為末，童便、酒調服一錢，立效。兼治敗血奔心，胎死腹中，及男、婦、小兒跌蹼損折傷。</p>
<p>或用初浴兒湯一盞與服，莫令知之，立下。</p>
<p>或用瓦油盞烘熱，仰放產婦臍上，令一人以腳抵住油盞，其胞即下。乃鄉村一法，果驗。</p>

<h2>產後諸症</h2>
<p>婦人初產，忽覺昏運，口噤眼合，面如土色欲倒者，乃惡血衝心也，名曰血運。急令人扶住，勿使仰臥，即以熱醋向鼻噴之，即醒。醒後施治，須用降血之劑。</p>
<p>產後發狂跳躍，不顧羞恥，欲上屋者，非顛也。乃各經之血，一齊乘虛上升，迷其心竅，而下部惡血，又相繼奔騰，其勢上而不下，故發狂跳躍，而不能自禁也。用重劑，使血歸經則安矣。</p>
<p>產後腹痛，不可盡作惡血不行，須看新久。若初產，腹中有痛陣，如將產之狀，腹皮未寬軟，又若轉運不寧，必是雙胎。若經一二日腹痛者，惡血停滯，而未盡去也，名曰兒枕痛。若惡露已收，而腹中如芒刺痛，翕翕無力者，乃空痛。不可復以行血之劑治之，惟當養血而已。</p>
<p>產後腰痛，多是惡血停積於兩腎空隙之處。其痛板急，不能轉動，得熱物熨之即緩者，是也。若兩腰空痛，翕翕然如不能伸氣者，乃腎虛也。</p>
<p>產後下血不止，看其色之紅紫。紫者為舊血，任其自下；紅者為新血，宜先止之，而後用補。然紫者既盡，必繼之以紅；紅者既盡，必繼之以淡，此必然之勢也。宜時時斟酌調治之，或丸或散或劑，隨緩急以施治。失此不治，則元氣必脫，而潮熱虛勞之病，有不免矣。</p>
<p>產後瘧疾，適值秋七八月間發者，方可以瘧疾治。若春夏及冬時發者，非其時而有其氣，謂之似瘧非瘧。此必因產後風食所傷，當以風食為主治，而以血藥佐之。然須辨其為風，為食，而後可耳。寒多熱少，而腹不飽者，風也；熱多寒少，而不思飲食者，食也。治食，則消食為先，而少兼風藥；治風，則疏風為先，而少兼食藥。全須圓活，不可執滯。若有痰，加痰劑。宜斟酌之。</p>
<p>產後傷寒，決不用汗下之劑，以其氣血俱虛也。汗則亡陽而傷氣，下則亡陰而傷血，若犯麻黃、大黃，多至不救，惟以和解為主治，而以血藥佐之，萬無一失。然傷寒發於產後，若真正者，必費調治，而病多危。惟感冒者為易愈耳。</p>
<p>產後中風，危疾也。若外有六經之形症，內有便溺之阻塞，皆難治之症。惟口眼喎斜者，無事耳。若忽然角弓反張，目定項強者，必平素有痰症，風邪乘虛而入，風痰交作，壅塞經絡，致使榮衛不通，以至於是。此雖有似中風，而實無分於六經，治之亦甚費力。若又汗出不止，或遺尿不禁，其死必矣。</p>
<p>產後瀉痢，甚者死多生少，不甚者猶可施治。若瀉比於痢，則痢為尤難，而瀉或能調治。大抵瀉者，以補脾為主治，而以消食藥佐之；痢則以扶脾消食為主治，而以血藥佐之。蓋痢多下血，故用血藥；瀉不下血，故不用血藥，用血藥則瀉不能止。瀉止後，則補血藥丸子，又不可不用矣。</p>
<p>產後身熱不止，口乾煩渴，日晡尤甚者，血虛也。宜大補其血，不宜用寒涼之藥，反佐以溫熱，則熱自除矣。所以然者，以血藥屬陰，陰非陽不生，故用溫熱之劑，以助陽而生陰，陰血既生，則邪火自退。醫者不可不知也。</p>
<p><u>藥例</u></p>
<p>產後血運，不及煎藥，只用童便，磨好墨在內，灌下立醒。或以降真香一錢，沉香三分，為細末，當歸煎湯下，可免衝心之患。</p>
<p>或血入心經，錯語健忘失志，及產後百病，以血竭、沒藥等分，為細末，每服一錢，童便和酒調下。若於分娩時，調服一錢，惡血皆自下行，更不衝上。</p>
<p>產後惡血衝心，發狂跳躍，急令兩人扶住，煎當歸一兩，與服之。其惡血自下行，新血各自歸經，即時安寧矣。</p>
<p>或用芎、歸各半兩，水煎，加童便服之，立效。</p>
<p>產後二三日間，腹絞痛者，惡血未盡也。古方獨聖散最佳。用山楂肉一兩，煎濃，調砂糖在內，熱服。血自下行，其痛立止。</p>
<p>或用芎、歸、益母草、桃仁、玄胡索等分，煎服。</p>
<p>若惡血已盡，五六日間腹痛者，血虛也。宜四物湯加炙甘草，煎服，甚效。</p>
<p>產後腰痛，若惡血不甚下，而腰間不能轉側者，乃惡血停滯於兩腎空虛處也。宜君以當歸梢、桃仁起劑，兼以烏藥勻氣，杜仲、牛膝、酒炒黃柏引經，官桂為嚮導，空心煎服，得五六帖愈。</p>
<p>若血去多而腰痛者，虛痛也。宜以杜仲起劑，兼以四物補血，牛膝、黃柏、茯苓引經，少加紅花以養血。恐分娩時勞倦，以致傷其腰故也。</p>
<p>產後下血不止，以四物為主，佐以止血之劑，加地榆、牡蠣、炒黑山梔、炒黑蒲黃、棕灰、鹿角灰、烏梅之類，作散子，服之。一日連進五六服，每服一二錢，立止。</p>
<p>或用熟地搗爛，每服一兩，和酒再研，溫服。連進三服，大效。</p>
<p>或用蒲黃三兩，炒焦，水三升，煮一升，頓服。</p>
<p>產後瘧疾，宜四物湯，加柴胡、黃芩以定寒熱，有痰加半夏、橘紅，有食加麥芽、山楂，有風加防風、荊芥，頭痛倍加川芎，寒熱甚倍加酒炒芍藥、柴胡，斟酌用之。（產後惟十二朝內，大忌芍藥，以後不忌。）</p>
<p>產後傷寒，大忌汗吐下三法，只宜羌活、防風、紫蘇、生薑、柴胡、川芎、甘草之類以解表，陳皮、香附之類以調氣。有痰加痰藥，有食加食藥。而又佐之以四物之類，多加蔥白煎服，以微汗出為度。若大便秘結，以蜜導之，或飲蜜湯亦可。</p>
<p>產後中風，不可以嘗人中風例治之。雖中腑亦不宜汗，禁用麻黃；雖中臟，亦不宜下，禁用大黃。惟審其在表，則羌活、防風、荊芥、紫蘇、甘草之類可用也；審其在裡，則枳實、厚朴、茯苓、陳皮、烏藥、木通之類可用也。兼用南星、半夏、瓜蔞、蘇子、竹瀝、薑汁之類以治痰，佐以四物湯補陰血。治之之法，不過如此，必不可求奇取異，而用孟浪之藥也。</p>
<p>產後瀉痢，不可混治。瀉則補脾為主，如白朮、茯苓、神麯、甘草、陳皮之類，有食則消食，有氣則理氣。而四物之類，且少停而勿用，以歸、地皆非助脾之劑也。若久瀉加烏梅、大棗、人參。至於痢疾則不忌四物，當與平胃散同用，兼以消食之劑，與調氣養血而已。</p>
<p>產後身熱不止，宜於四物湯中，倍加酒炒芍藥，兼以炒黑乾薑佐之，茯苓滲濕，柴胡清熱。一月後身熱未除，宜加人參。大抵產後，不宜使用人參，恐補住惡血也。一月後惡血已盡，新血已生，故不忌人參，而猶必以陳皮監製，可也。</p>
<p><u>加減總方</u></p>
<p>婦人諸血不足，用當歸、熟地各酒浸一宿，焙乾，芍藥、川芎等分。每服七錢，水二盞煎服。隨症加減。</p>
<p>血氣不調，加吳茱萸、甘草。</p>
<p>血風勞症，加荊芥、柴胡。</p>
<p>血崩淋漓，加炮附子、赤石脂。</p>
<p>血滯不通，加紅花、桃仁。</p>
<p>便血帶下，加荊芥、地榆。</p>
<p>潮熱，加前胡、乾葛、人參、黃耆。</p>
<p>血氣滯，腹股刺痛，加肉桂。</p>
<p>虛熱口乾，加麥冬、黃芩。</p>
<p>嘔吐不止，加藿香、白朮、人參。</p>
<p>產後腹脹，加枳殼、肉桂。</p>
<p>經血淋瀝，加炒乾蓮房。</p>
<p>大便秘，加大黃、桃仁。</p>
<p>產後虛憊，血熱煩悶，加生地。</p>
<p>虛而多汗，加煅牡蠣、桂枝。</p>
<p>產後悶亂，加茯神、遠志。</p>
<p>妊娠心腹痛，加竹瀝。</p>
<p>產後寒熱往來，加柴胡、麥冬。</p>
<p>產後風頭痛，加石脂、甘草。</p>
<p>產後惡露，腹痛不止，加桃仁、蘇木、牛膝。</p>
<p><u>換湯總方</u></p>
<p>婦人室女，血氣不調，及胎前產後諸症，用香附子，童便浸，炒半斤，烏梅炒四兩，甘草炙一兩，為末，以生薑四兩，蔥白一握，搗取汁，並好醋一碗，共打糊，丸如桐子，每服三五十丸，隨症換湯服。</p>
<p>血氣不順，心胸痞滿，紫蘇湯下。</p>
<p>腹痛、腰腿疼痛，茴香湯下。</p>
<p>翻胃嘔吐，脾胃感寒，以老薑燒黑切五片，鹽少許，煎湯化下。</p>
<p>驚憂喜怒傷神，心滿腫疼面浮，石菖蒲湯化下。</p>
<p>血運悶、血刺痛、血積、血瘕，良薑、赤芍藥，醋水各半盞，煎湯化下。</p>
<p>喘滿氣急，面浮，生薑紫蘇湯下。</p>
<p>吐血，喉中腥氣，黃桑葉湯化下。</p>
<p>經絡感熱，血脈妄行，生地湯化下。</p>
<p>敗血沖胸咳逆，生薑柿蒂湯化下。</p>
<p>血澀，大便秘，枳殼或青皮湯化下。</p>
<p>崩中、帶下，小便頻數，炒吳茱萸湯下。</p>
<p>妊娠傷食，胸膈不快，木香或砂仁湯化下。</p>
<p>產後子腸脫下，鯽魚頭煎湯化下。</p>
<p>妊娠臨月，近上逼心，名曰子懸，生薑紫蘇湯化下。</p>
<p>產後寒氣入腹，臍下刺痛，炒吳茱萸湯化下。</p>

<h2>小兒</h2>
<p>男子、婦人之病，可以問而知，可以切而得，斷死生，辨難易，審差劇，猶有所依據，而不至於大誤。若小兒懷抱之時，雖有所苦，而不能言，及能學語，又不能指其所苦之處。欲診其脈，則骸骨短小，氣血未定，寸關尺將何以分？浮中沉，將何以定？雖有一指滾取三部之說，而終未得其部位，況至數急促，豈能以悉審之。大約八九至為平，五六至為遲，十一十二至為數，依稀彷彿之間而已。故啞科治療之難，每十倍於大人，而尤不可以不慎者也。惟虎口之脈，稍為可驗。其脈在食指外側，每一節為一關，三節為三關。男視其左，女視其右。有筋脈如絲，映於肉內，仔細視之。紫則為風，紅則為寒，青則為驚，白則為疳，黃則為脾困，青黑為慢驚，入掌則為內吊。若三關過度，為沉疴之候。惟此可以少知之耳。雖然，醫者之治病，當多方求之，豈可執虎口之脈法，而盡小兒之諸病哉！必於病之未形而用意察之，庶可以為預消之地。如小兒呵欠連綿，乃臟腑受邪，作病之漸也。若面赤則知其為風熱，而瀉肝之劑可以先服；面青則知其為驚風，而治驚之劑可以先服；面黃則知其為脾虛，而補脾之劑可以先服；多睡則知其為內熱，而清熱之劑可以先服；口中氣熱則知其為傷風，而疏風之劑可以先服。皆當隨症形，而先治之，勿俟其發而後用藥也。其有不治之症者，尤不可以不知。小兒腮上有赤脈，囟腫及陷者，一不治也。魚口氣粗，齧齒咬人者，二不治也。冷汗如雨，痰熱不退，三不治也。臍風撮口，鎖肚吊腸者，四不治也。風攻頤頷，唇項腫硬者，五不治也。鼻有黑色，六不治也。咳喘喉痛，七不治也。四肢虛浮，八不治也。胸高而突，九不治也。五軟五硬，十不治也。凡見此等之症，即當去矣。苟不知幾而復藥之，則病者之死，雖不由於我，而我亦何有辭於彼哉！大凡小兒之病，有嘗多者，不得遂其欲，則易怒而啼，故肝病嘗多；飲食不知節，雖飽而猶求食，故脾病嘗多；心神未定，聞響易驚，故驚病嘗多；肌膚柔嫩，腠理未密，故風病嘗多；性喜吮乳，甘味停積，而又易感風熱，故痰病嘗多。治兒之病，審其所嘗多者，酌而施之。以己之意，探病之情，亦庶乎用藥之無誤也。然此數種，雖或嘗有，而肝脾之病尤多，縱有他症，嘗兼抑肝和脾之劑為妙。神而明之，存乎其人，得心應手，要不可以言求也。</p>

<h2>胎熱胎寒</h2>
<p>胎熱之症，面赤眼閉，五心煩熱，大小便不通，乳食不進，啼叫不止，嘔血尿血，或生下遍體皆黃，凡若此者，皆謂之胎熱。蓋因其母受胎之後，不忌辛熱之味，或好飲酒，或好沐浴，或不節房事，或感冒風熱，兒在母腹，積受熱邪，故成此症。必以清熱之劑為主治也。</p>
<p>胎寒之症，面色青白，四肢逆冷，大便清黑，小便不禁，腹疼氣痛，盤腸內吊，或生下又感外風，不時寒戰，凡若此者，皆謂之胎寒。蓋因其母受胎之後，不忌生冷，或外著寒邪，或平素稟氣寒冷，兒在母腹，呼吸母氣，久受積寒，故成此症。必以溫熱之劑為主治，可也。</p>
<p>凡治此二症，小兒不宜服藥，當大劑濃煎，令其母食後，捏去宿乳，服藥少頃，乳之。蓋因胎中受病，故於乳中過藥，得於內者，亦從其內治之，不離母氣，則藥易應故也。</p>
<p><u>藥例</u></p>
<p>胎熱，以生地為君，赤芍、當歸、川芎、丹皮、黃連、山梔、連翹、犀角、澤瀉、豬苓、赤苓、天花粉、木通、生甘草之類為佐。</p>
<p>胎寒，以熟地為君，當歸、川芎、酒炒白芍、大小茴香、木香、乳香、沒藥、官桂、熟附子、炙甘草之類為佐。</p>
<p>二症必用四物湯起劑者，何也？蓋血以養胎，胎中受病，大抵皆血之使然，故不離乎血分之藥也。</p>

<h2>臍風撮口</h2>
<p>臍風撮口，總為一病，未有臍風而不撮口，未有撮口而不臍風也。患此病者，九死一生。蓋臍命根也，臍為風所入，命根絕矣。而可以得生乎，求其所屬之經。乃心脾之症也，開口屬心，閉口屬脾。風入於臍，先流於脾，由脾而上傳於心，心為邪所客，故口不能開而頻撮也。其發搐者，風使之也。究其病之所由成，有內因外因之異。蓋臍帶繫於胞，必其所生之時，其母先感風邪，遺其邪於小兒，謂之胎風，其驚搐者，謂之胎驚。病從內得，故曰內因。其或斷臍之後，包裹失於周密，被窩風入，未及六七日，而臍帶已脫，必成此症。病由外得，故曰外風。醫者又以艾灸其臍，徒苦之耳，竟何益哉？欲求一生於萬死之中，惟下之而已矣，外此更無餘法。</p>
<p><u>藥例</u></p>
<p>大法即以小兒脫下臍帶，洗淨，先以水煎至五六沸；去帶，入牙皂、殭蠶、穿山甲、麻黃、防風、荊芥、甘草、半夏、南星之類，又煎五六沸；入生大黃，略煎一二沸；澄清，入麝香末少許，薑汁、竹瀝調勻，余徐以匙灌下。若得通利，即有三四可生，不然必死。其臍上以生南星末封之，亦可以追去徐風。</p>
<p>或用牛黃三四釐，麝香半分，為細末，薑汁、竹瀝調之，滴入口中，亦可。若口噤不開，以南星為君，麝香為佐，研細，擦其齦，自開。</p>

<h2>重舌鵝口</h2>
<p>舌者，心之苗也。心為君火，其體本熱。而況小兒以純陽之軀，先受熱於胎，復感熱於內，其母愛惜之至，惟恐其寒，而又裹之以綿衣，覆之以重衾，幾何而不為兒之病哉！重舌鵝口之症，未必皆兒之自病，或者其母有以致之也。古人云：若要小兒安，嘗令飢與寒。飢不至於傷脾，寒不至於生熱，此非保嬰之道乎。所謂寒者，亦非使凍之也。惟令嘗溫，不至於甚暖耳。冷暖得宜，豈復有重舌鵝口之病耶。然何以名之曰重舌？重舌者，舌下腫突，其狀若又一層，故謂之重，非真有兩舌。何以名之曰鵝口？鵝口者，滿口皆白，有似鵝之口中，俗謂之雪口是也。分而言之，重舌屬心，鵝口屬脾。合而言之，總為心熱。何者？心統於脾，脾為心之子，心熱則遺熱於脾，故白沿於口也。使不由於心熱，則口雖白而舌自赤，何為而舌皆白耶？大法內服瀉心清熱之劑，而外敷涼藥，則重者可消，而白者可退矣。</p>
<p><u>藥例</u></p>
<p>重舌，宜瀉心，而不瀉脾。以黃連為君，生地、甘草、石蓮、木通、連翹、燈心為佐。臘雪水煎，待溫，時時滴入鼻中，令咽。欲吐則任其吐，亦可以發散熱邪。</p>
<p>鵝口，以瀉心而兼瀉脾。以黃連為君，生地、生甘草、山梔、煅過石膏、木通、燈心為佐。臘雪水煎，如前服法。口中舌上，並用軟帛裹指，蘸水□淨，用黃柏、青黛、風化硝、硼砂、黃連、人中白之類，為細末，敷之。亦可以治口疳。</p>

<h2>丹毒</h2>
<p>丹毒，火症也，得於胎熱。其母受胎之後，不忌胡椒、姜。蒜煎熬炙煿酒面之類，或感風熱，或不節房事，皆能助火，火邪內攻，胎受其毒，而傳氣於小兒，故小兒出胎之後，多有是症。近則五六日，或十日半月；遠則彌月之後，或兩三月。其形症不同，或頦下如櫻桃突出，色赤而光，謂之赤瘤；或遍身紅點如灑朱，謂之丹疹；或遍身紅腫，熱氣如蒸，謂之火丹；或小腹、䠙上、陰囊等處，忽然紅腫如霞，流行不定，謂之赤遊丹。病名非一，總為丹毒。丹毒入腹，腹脹不飲乳者死。必於未入腹之時，急服退毒涼劑；外用小刀，輕輕刺出惡血，或猶可生。其入腹者，無如一瀉，間有瀉而得生者，乃千百中之一也。諸丹毒，惟赤遊丹為至急。善保嬰者，若見小兒多啼少乳，即遍視其身上，一有紅色，即急治之。若看視不周，丹毒在身，而母猶未覺，及至覺時，已入腹中，救之奚及。丹毒惟紅綠瘤，不治。因父服熱藥，遺熱在胎，非藥所能解也。</p>
<p><u>藥例</u></p>
<p>丹瘤，如櫻桃狀者是也。宜以綿羊腦子，同朴硝研爛，貼患處，立效。或以蓖麻子，同面研和，敷之。</p>
<p>丹疹，遍身紅點如灑朱是也。宜以漢防己半兩，朴硝、犀角、黃芩、黃耆、升麻各一錢，加竹瀝，煎服。</p>
<p>火丹，遍身紅腫是也。宜以當歸、赤芍、甘草、大黃等分，每服三錢，水半盞，煎三四分，食後服。或用前丹疹方服之，亦妙。</p>
<p>赤遊丹，流行不止於一處是也。此為至急，救遲即死矣。宜用積年胞衣所化之水，和金汁塗之，神效。若無金汁，單以胞衣水，和風化硝、冰片，塗之。若無胞衣水，單以金汁，和甘草、大黃末，塗之，皆能取效。</p>
<p>或用野人糞下土，雞子清調塗，又以人中黃二三錢煎服之，能去胎毒。</p>
<p>或用麻骨燒灰。先將香油調塗，次用麻骨點火，倒持之，將不點火一頭出煙燻患處，立退。</p>
<p>或用雄黃、五倍等分，為細末，醋調塗之。</p>
<p>丹毒煎方，黃連、黃芩、黃柏、生甘草、連翹、天花粉、皂角刺各五分，水一盞，煎五分飲之。丹毒入腹者，加大黃一錢。</p>
<p>五種丹毒，用鬱金、甘草、桔梗、天花粉、葛粉，等分為末，每服二錢，薄荷湯入蜜調下。</p>
<p>十種丹毒，如三日不治，毒入腸胃，則不可治。宜仔細辨認，依方治之，萬不失一。</p>
<p>一從頂頭起腫，用蔥白研取汁，塗之。</p>
<p>二從頭上起紅腫痛，用赤小豆末，雞子清調搽。</p>
<p>三從面起赤腫，用灶心土，雞子清調搽。</p>
<p>四從背起赤點，用桑白皮為末，羊脂調塗。</p>
<p>五從兩臂起赤腫黃色，用柳木燒灰，水調塗。</p>
<p>六從兩脅起虛腫，用生鐵屑，和豬糞調塗。</p>
<p>七從臍上起黃腫，用檳榔末，米醋調塗。</p>
<p>八從兩腳赤腫，用乳香末，羊脂調塗。</p>
<p>九從兩腳赤白點，用豬槽下土，麻油調塗。</p>
<p>十從陰上起黃腫，用屋漏處土，羊脂調塗。</p>

<h2>中惡、天吊、客忤、夜啼</h2>
<p>中惡、天吊者，為惡鬼之氣所中，兩目上突，吊起而不能𦞂也。此因胎氣不足，精神失守，虛之所在，邪必湊之。心虛則神走，肺虛則魄亂，肝虛則魂亡，脾虛則意擾，腎虛則精乏，而鬼邪得以犯之矣。其症面白帶青，或如土色，目睛上視，口吐白沫，手足拘攣，身冷如冰，有似乎驚風，而實非驚風也。</p>
<p>又有所謂客忤者，非中惡之謂也。乃偶見生人異物，卒然驚駭，啼哭不止，心志恍惚，聞響即跳，嘗欲躲避者，是也。如為客所忤犯，故名客忤，非鬼之為病也。又有所謂夜啼者，非客忤之謂，乃心經受熱也，其症至夜即啼，百計安之而不能止。蓋心為君火，主乎血，夜則血歸於肝，心虛火熾，故煩躁不寧，而多啼也。</p>
<p><u>藥例</u></p>
<p>中惡、天吊，宜先安心神，使權歸君主，如茯神、遠志、菖蒲、燈心、麥門冬之類，煎湯，調下辰砂末，量兒大小用之。外用闢鬼之法，如蒼朮、檀香、沉香、麝香、安息香之類，近兒旁周圍燒之，香菸如霧，則鬼不能容。得兒稍蘇，以桃葉湯浴之。</p>
<p>客忤，亦安心為主。或為生人所忤，即當令此人見之，使兒習慣；如為物所忤，若貓犬之類，亦令兒習見，自不驚駭。其所服之藥，亦如前茯神等劑，可也。</p>
<p>夜啼由於心虛有熱，宜用人參、麥冬、炒鹽之類，以補其虛；茯神、遠志、菖蒲之類，以安其神；石蓮、黃連之類，以去其熱；燈草、木通、薄荷之類，以清其氣。外用壓鬼之法，或以井中四旁草，暗置兒席下；或寫父名倒貼床腳裡面，不令人知；或以桃木杖，擊兒四旁，如趕逐狀；唸咒曰：天蒼蒼，地皇皇，小兒夜啼疏客堂。多誦幾遍。內服藥而外施法，則啼自止矣。</p>

<h2>傷風傷寒</h2>
<p>傷風之症，頭疼身熱，鼻塞氣粗，噴嚏呵欠，呻吟不絕，見風便怕，灑淅微寒，與大人傷風無異。若挾食即吐食，挾痰即吐痰。作劑止大人所服藥，宜減一半。不論痰與食有否，嘗須兼用之。蓋小兒易傷食，而熱則生痰，故劑中宜略帶用。但輕輕疏解令微汗出，不宜過劑，過劑則真元亦傷，是伐無過之地也。</p>
<p>傷寒之症，六經感受，亦無異於大人，但大人元氣已削，天真不完，況有七情相感，又多挾內傷，故患真正傷寒最難調理。小兒則天真未鑿，七情又少，所感之症比大人差緩。但寒多熱少，外感必深；熱多寒少，內病必重。外感必遍身骨疼，內病必腹痛飽悶。治外之劑，嘗兼治內之藥，而汗下之法，比大人宜從輕焉。</p>
<p><u>藥例</u></p>
<p>傷寒一二日間，頭頂痛，腰脊強，惡寒發熱，無汗者，乃太陽經症也。宜以羌活為君，防風、紫蘇、甘草、生薑、蔥白頭為佐。若不汗，少加麻黃、桂枝。</p>
<p>傷寒二三日間，目疼鼻乾，不得眠，發熱不惡寒，乾嘔，有汗者，乃陽明經症也。宜以白芷為君，防風、紫蘇、芍藥、桂枝、生薑為佐。</p>
<p>傷寒三四日間，胸脅痛，兩耳聾，往來寒熱者，乃少陽經症也。宜以柴胡為君，黃芩、半夏、枳實、防風、紫蘇、甘草、生薑、蔥白為佐。</p>
<p>傷寒四五日間，腹滿咽乾，身無大熱，自利不渴者，乃太陽經症也。宜以蒼朮為君，乾薑、甘草、蔥白為佐。</p>
<p>傷寒六七日間，煩悶，舌卷囊縮，身不熱者，乃厥陰經症也。宜以桂枝為君，附子、青皮、甘草、生薑為佐。</p>
<p>四時感冒傷寒，宜以九味羌活湯為主治，代桂枝麻黃湯用。方見首卷傷寒門。</p>
<p>春傷於風，宜以川芎為君，柴胡、紫蘇、羌活、防風、甘草、蔥、姜為佐。</p>
<p>夏傷於風，宜以羌活為君，川芎、紫蘇、防風、甘草、柴胡、蔥、姜為佐。</p>
<p>秋傷於風，宜以柴胡為君，川芎、羌活、防風、甘草、紫蘇、半夏、黃芩、蔥白、生薑為佐。</p>
<p>冬傷於風，宜以桂枝為君，升麻、葛根、羌活、防風、甘草、紫蘇、蔥白、生薑為佐。已上傷寒傷風二症，若挾食則兼消食，挾痰則兼消痰。俱禁用茯苓，以其滲泄，能引邪入內也。又有夾驚者，當兼驚治。</p>

<h2>咳嗽</h2>
<p>小兒咳嗽，風熱居多，而寒者間或有之。以其為純陽之體，其氣嘗熱，而不甚懼寒也。凡肌肉肥白者，易於感風；色赤而結實者，易於感熱；惟虛弱瘦損，面青不實乃易感寒焉。感風而嗽者，必鼻塞氣粗之症，惟口中覺熱，舌燥煩渴，面赤頓嗽，嗽而有濃痰者，是也。感寒而嗽者，灑淅惡寒，哮喘不寧，至冬月即發者，是也。凡此症與大人無甚異，而所感略有不同，大人兼七情所傷，或任勞嗜酒，而小兒無是，是以不能無少異耳。藥劑以輕清為佳，而服藥亦不宜太驟，逐匙進之，不盡劑。</p>
<p><u>藥例</u></p>
<p>風嗽，以牛膽南星為君，半夏、黃芩、薄荷、防風、荊芥、瓜蔞、甘草、桔梗為佐，兼以蘇子、橘紅以順氣。若壯熱無汗，氣壅喘急，少加麻黃以解其表。蓋麻黃亦肺經發散之藥也。</p>
<p>熱嗽，以貝母為君，半夏、瓜蔞、天花粉、黃芩、山梔、竹茹、茯苓、桔梗、甘草為佐，兼以蘇子、橘紅、枳殼順氣。若有食加萊菔子、枳實、黃連、山楂、麥芽之類。</p>
<p>寒嗽，以款冬花為君，麻黃、杏仁、半夏、南星、炙甘草、桔梗、生薑、橘紅為佐。</p>
<p>或以蘆吸散，為極細末，蜜丸如肥皂核大，薑湯磨化，徐徐服之。</p>
<p>諸嗽初起，宜瀉宜散，而桑皮、杏仁，可以兼用，久則宜備宜收；而麥冬、五味，可以量用。如喉癢加玄參，痰盛加薑汁、竹瀝，頭眩加天麻，內熱加茯苓、梔子，煩渴加天花粉、葛粉。而桔梗乃本經之藥，尤不可缺，惟少用則不覺飽，多用則痰反不能降，以其承載諸藥，為舟楫之劑也。</p>

<h2>瘧疾</h2>
<p>小兒瘧疾，不外乎風痰與食。無食不發熱，無風不作寒，而痰由風食之所成也。外感乎風，則手太陰肺經先病，肺主皮毛，故風易入。內傷飲食，則足太陰脾經先病，脾受有形，故食多則傷脾也。肺氣不清，則生痰；脾土受傷，則裹痰。故痰者，風食之所成也。無痰不成瘧，故寒熱作焉。要而言之，風雖屬肺，食雖屬脾，而雖食之所藏，又近於膽經，故作寒熱。蓋膽為足之少陽其位，在半表半裡，是以寒熱往來也。大率寒多則為風，熱多則為食，寒熱相半，則風食俱多。治此病者，惟消食、疏風、化痰而已，然消食則兼疏風，疏風必兼消食，而消食疏風，必兼化痰。蓋三者不全，則不能成瘧，故宜兼治。但量其所屬，而輕重之可也。</p>
<p><u>藥例</u></p>
<p>風瘧，寒多熱少。以防風為君，川芎、紫蘇、升麻、柴胡、甘草為佐，加檳榔、草果以消食，半夏、黃芩、陳皮、生薑以化痰。</p>
<p>食瘧，熱多寒少。以草果為君，檳榔、枳實、陳皮、山楂、麥芽、柴胡、甘草為佐，加半夏、生薑以化痰，防風、紫蘇、川芎以疏風。</p>
<p>痰瘧，寒熱交作，嘔吐痰涎。以半夏為君，貝母、瓜蔞、生薑、甘草、枳殼、橘紅、柴胡、黃芩為佐，加檳榔、草果以消食，紫蘇、防風以疏風。</p>
<p>久瘧不愈，以酒炙鱉甲為末，每服一錢，一日三服，薑湯調下。</p>
<p>或用常山一兩，銼碎，以好酒浸一宿，瓦器內煮乾，為末。每服二錢，水一盞，煎半盞，去渣，停冷，五更初服之。不吐不瀉，大效。</p>
<p>或用知母、貝母、常山、檳榔等分，水酒各半盞，煎至半盞，去渣，綿覆露一宿。五更，面東服之，即效。但不可令婦人見。</p>

<h2>痢疾</h2>
<p>醫家以瀉為在脾，痢為在腎。故先瀉後痢者，則曰脾傳腎，為賊邪，其病難愈；先痢後瀉者，則曰腎傳脾，為微邪，其病易愈。此前人之說也。以愚論之，瀉為在脾，不假言矣，而謂痢在腎，不能無議焉。瀉固多由於飲食，而痢獨非飲食所傷乎？飲食停積，因濕熱而化，遂為稠濁，膠固於腸胃之中，欲下不下，是以有裡急後重之苦，明脾經病矣。而顧以痢屬於腎者，何以謂歟？吾未聞飲食之入，不由於脾，而反由於腎也。夫既謂之腎病矣，然治痢之藥，悉皆蒼朮、厚朴、黃連、木香、白朮、陳皮之類，並未有用杜仲、黃柏、牛膝、地黃補腎等藥。治腎家之疾，而乃用脾家之劑，必其非腎病故也。要知先痢後瀉，而後易愈者，以積滯已盡，而脾尚虛也，豈腎傳脾之謂耶。先瀉後痢之難愈者，以脾土已壞，而積滯方壅也，豈脾傳腎之謂耶？腎能藏精，不能藏飲食，若以痢屬於腎，則飲食皆藏於腎矣，豈理也哉。大約治痢之法，與大人無異，但下痢純血者，在大人則為難治，在小兒則為食積，而無所妨。若治小兒之痢，又宜多以消積為主耳，其詳具見於大人痢疾門，故此不復贅。</p>
<p><u>藥例</u></p>
<p>凡初痢腹痛後重，宜先以消積等藥治之。問其所傷者何物？若穀食則麥芽、神麯為君，肉食則山楂、蓬朮為君，麵食則萊菔子為君，冷食則草果為君，宿食則黃連、枳實為君。而又用蒼朮以燥其濕，厚朴以寬其腸，木香、檳榔以調其氣，當歸以養其血，木通、茯苓以分利小水。則利自通快，若不通快，少加大黃以利之。初痢無止法，切不可用粟殼，雖烏梅亦未可便用。初痢無補法，切不可用人參，雖白朮亦未可便用。若見其去後多次，欲升提其氣，而□升麻，立見危殆，戒之！戒之！</p>
<p>痢疾半月後始可用□□□月後，始可用烏梅；□□有腹痛，亦未可用□□□血虛，乃可用人參，而□佐之以陳皮。如胃□□□豆蔻、肉桂之類，亦可少用。蓋痢本濕熱，若遷延日久，入於秋冬之交，則變為寒痢，故可用溫藥也。</p>
<p>瘧痢兼作，莫重之病。若以風食治，則得之矣。宜防風、羌活、紫蘇以解其表，柴胡、芍藥以定其寒熱，黃連以瀉其火，檳榔、枳實、麥芽、神麯以消其積。而蒼朮一味，尤不可不多用，以其氣雄，能治內外之邪也。瘧痢傳染者，即名疫痢，禁用補劑，若下人參，其死可待。</p>
<p>久痢不止，去後無度，非補不可。必以人參、白朮為主，茯苓、肉豆蔻、訶子、烏梅、蓮肉、大棗、煨姜之類為佐，補中帶收，乃妙。若余血未盡，宜加當歸、芍藥、側柏葉、地榆之類，補中帶止，庶乎不寬不驟，得調理之宜，而蒼朮、厚朴、檳榔、黃連等劑，又不可用矣。雖木香一味，本為治痢之良藥，但行氣太甚，久痢用之，反助下行之勢，又豈可以嘗用哉！</p>

<h2>吐瀉</h2>
<p>小兒吐瀉交作，人皆以為脾胃受寒，不能容飲食，故上則為吐，下則為瀉，此據其病形而言耳。而不知脾胃受寒者，止於腹中偎偎作痛，或微瀉，或吐痰涎而已，其勢殊無可畏。至若大吐大瀉，一時發越津液頓亡，面目乍瘦，豈受寒之為病哉。必是平素先傷飲食，鬱蒸作熱，蓄之既久，將發未發，一感外之風熱，勢不可遏，故攻擊臟腑，一齊而至，遂令小兒困憊。當此之時，若以為吐瀉空虛，即投補劑，及溫熱之藥，立至危殆。慎之！慎之！如有瀉而無吐，或有吐而無瀉者，乃有寒熱之分。吐酸臭而苦者熱也，清淡則非熱矣；瀉臭穢而不可近者熱也，清順則非熱矣。治者當自審之。</p>
<p><u>藥例</u></p>
<p>小兒吐瀉交作，其氣潰亂，一時未能清理，只宜益元散，泡湯冷定，時時進之，自能分調其氣。待勢稍緩，然後進以他藥，先止其吐，後治其瀉。止吐以順氣為主，如藿香、陳皮、砂仁、蘇子、黃連、生薑、茯苓之類；治瀉以養脾為主，如白朮、大棗、茯苓、神麯、陳皮、半夏、炙甘草之類。若邪氣已盡，能略進飲食，而脾胃虛怯，氣短不能呼吸，須用人參，倍加白朮，而又佐以陳皮，可也。</p>
<p>吐酸苦者，宜從熱治。以薑汁炒黃連為君，半夏、藿香、茯苓、砂仁、蘇子之類為佐。</p>
<p>吐清痰者，宜從寒治。以生薑為君，白豆蔻、茯苓、蘇子、藿香、半夏之類為佐。</p>
<p>瀉臭穢者，宜從熱治。以黃連為君，神麯、麥芽、陳皮、白朮、茯苓、芍藥、滑石、生甘草之類為佐。</p>
<p>瀉清薄者，宜從寒治。以肉豆蔻為君，白朮、蒼朮、厚朴、茯苓、肉桂、炙甘草、大棗、生薑之類為佐。</p>
<p>吐瀉交作，手足轉筋，乃肝勝脾也，為霍亂之極候。宜以木瓜為君，青皮、黃連、扁豆、芍藥之類為佐，以制肝而養筋。又用大劑藿香以正其氣，砂仁、木香以調其氣，茯苓、蘇子以順其氣。而手與足，亦須浸於冷水中，則其筋自然調暢矣。</p>
<p>吐瀉之後，口乾舌燥，引飲不休，小便短少者，津液亡也。宜用人參生脈散，加烏梅、酒炒黃柏、知母、生甘草之類。</p>
<p>吐瀉之後，脾虛欲發慢驚者，必手足微搐，急以人參、白朮水煎，加薑汁、竹瀝，調下硃砂、礞石、膽星、半夏等末，亦可以彌患於未然。若已發慢驚，則不救矣。</p>

<h2>驚風</h2>
<p>夫風者，一也。在大人則為中風，在小兒則為驚風。大人無驚，故止名之曰中；小兒易恐，且易惹風，故以驚名，而兼乎中也。驚之有慢有急，猶風之中腑中臟。急驚與中腑同，謂之陽症，而症俱在表；慢驚與中臟同，謂之陰症，而症俱在裡。醫者能辨其陰陽表裡，而治之，斯可以無誤矣。蓋急驚之症，其身嘗熱，其眼嘗開，手足跳躍，頭項強直，痰涎壅盛，啼叫哭泣，煩躁不寧者，是也。慢驚之症，身嘗不熱，眼嘗半開，手足微掣，精神倦怠，形體若呆，大便或泄者，是也。又有慢脾風者，手足不動，遍身皆冷，兩眼嘗合，不能啼哭，症而至此，無復加矣。慢驚甚於急驚，而脾驚甚於慢驚。病根固有淺深，而亦可以施治於萬一之中。若因急驚而變慢驚，或因吐瀉而生慢驚，則難治矣。因慢驚而成慢脾，或因吐瀉而成慢脾，則不治矣。大抵驚屬於心，風屬於肝。心火動，故振跳而不可遏；肝風發，故搐搦而不自持。二經相助，其勢必盛，心有餘，故火熾而風益猛，是風從火出也；肝有餘，則風狂而火益狂，是火臨風熾也。風火齊發，故病可畏，此特以急驚言之耳。而慢驚、慢脾，又兼脾虛與寒，勢若稍緩，而反深焉。然以其病之可生死者，而細分之，則各有所屬，非謂止於心肝二經，而不入於他經也。是故不時吊眼者，驚入於肝；夢中咬牙者，驚入於腎；夜啼至曉者，驚入於小腸；喉中如鋸者，驚入於大腸；面青下白者，驚入於膽；氣喘吃水者，驚入於脾；不時乾嘔者，驚入於胃；夢中驚哭者，患在三焦，此皆可生之症也。至若爪黑者，為肝絕；瀉黑血者，為心絕；日多盜汗者，為衛絕；忽作啞聲者，為肺絕；咬人者，為骨絕；眼半開半合者，為腎絕；目鼻乾黑者，為脾絕。驚風有此，其又可生耶。</p>
<p><u>藥例</u></p>
<p>急驚屬陽屬熱，其症在表，法宜涼瀉。以茯神為君，麥冬、菖蒲、遠志、燈心之類為佐以安心神，青皮、芍藥、黃連之類以瀉肝氣，羌活、柴胡、薄荷、防風、荊芥之類以疏其風，半夏、膽星、薑汁、竹瀝以治其痰。此治急驚煎劑之大略也。</p>
<p>慢驚屬陰屬寒，其症在裡，法宜溫補。其安心神抑肝氣，疏風化痰之藥，皆與急驚同。但加川烏、木香以溫其里，更加人參、白朮以補其虛。此治慢驚煎劑之大略也。</p>
<p>慢脾屬大虛大寒，法宜溫熱大補。以附子為君，川烏、乾薑、炙甘草之類為佐以溫其里，人參、白朮以補其虛，薑製半夏、薑製南星以治其痰。而安心神，抑肝疏風之劑，且勿用。此治慢脾之大略也。</p>
<p>急驚、慢驚、慢脾，非金石之藥不能速效。今有一方，統治三症。用硝煅礞石一兩，醋淬，蛇含石半兩，硃砂半兩，全蠍半兩，薑製半夏一兩，牛膽南星一兩，茯神一兩，豬心血曬乾半兩，麝香三錢，金箔一百片，銀箔三百片，各為末，又共研極細，以殭蠶、牙皂、菖蒲、麥冬各等分，水煎成膏，拌前藥為丸，如櫻桃大，量兒大小加減。急驚為熱，以黃連、薄荷、生甘草煎湯，加薑汁、竹瀝，磨服；慢驚為寒，以熟附子、炙甘草煎湯，加薑汁、竹瀝，磨服。每以一丸二丸為止。凡小兒一二三歲為驚風，十歲以上為顛，十歲以下為癇，不論大小，凡角弓反張，不能言語者為痙，宜皆以此治之。修合忌雞、犬、婦人，及有喪服之人。藥□收貯瓷器中，以蠟塞其口，勿令出氣，用時隨症□湯治之。此統治驚症之仙藥也。</p>

<h2>疳症</h2>
<p>小兒疳症，大抵多是過食甘甜膠膩之物，停積於脾，不能消化，久則變而為疳。疳者，甘也。脾喜甘，而凡味之甘者，皆屬於脾。從病從甘，故曰疳。其症身體嘗熱，形容黃瘦，肚腹臌脹，小便如泔，毛髮黃織，臉多白印，噁心欲吐，飲食不為肌膚，凡頭面頸上，多生癢瘡。而疳之大概，有如此者，皆脾之症也。脾先受病，傳於他臟，故又有五疳之名焉。在心則為驚疳，在肝則為風疳，在脾則為滾疳，在肺則為氣疳，在腎則為急疳。五疳分受五臟，而其為病亦未盡同。悉而言之，則渾身壯熱，四肢無力，面黃臉赤，怕寒愛暖，口鼻乾燥者，因驚蹼而成，所謂驚疳是也。搖頭揉鼻，白膜縵眼，揩磨多淚，面有黑色，渾身瘡癬，毛焦發豎者，因感風而成，所謂風疳是也。食物難消，愛吃泥土，腹大有筋，頭髮稀疏，喘急呵欠，無歡欲啼，痢多酸臭者，因傷食而成，所謂滾疳是也。多啼嗽逆，鼻頸生瘡，昏昏愛睡，體瘦腸滑，四肢軟弱，面色帶白，瀉膿吐血者，因傷氣而成，所謂氣疳是也。瀉痢兼作，吐逆脫肛，身體壯熱，手足偏冷，飲食不進者，病勢已急，所謂急疳是也。五疳之症，惟急疳為難療，以其腎氣不足，土來剋水故也。要而言之，總起於脾，脾土一虛，則不能生五臟之氣，故其傳變，至於如此。大法惟健脾、消積、殺蟲而已。</p>
<p><u>藥例</u></p>
<p>小兒十歲已上，疳勞壯熱，形體羸瘦者，宜服雞肉煎丸。宣黃連二兩，銀柴胡一兩，蕪荑半兩，去皮川鶴蝨半兩，秦艽一兩，知母一兩，紫芩一兩，使君子肉一兩，共為末。以黃雌雞一雙，重斤許者，專以大麻子飼之，五六日後，去毛令淨，於尾下開一孔，取出肚腸洗淨，拭乾，入前藥末於內，以線縫之，用小甑先以黑豆鋪甑底，厚三寸，安雞在甑內，四旁以黑豆圍裹，而上亦以黑豆蓋之，亦厚三寸，自日出蒸至晚後，溫冷，取雞出，去腹中藥及筋骨頭翅，以淨肉研，和得所，如干，入酒少許，為丸，如大麻子大，每服十丸；十五歲者，二十丸，以意加減，空心或臨臥用麥冬湯送下。若小兒疳癆骨蒸，年十五歲以上，用酒送下，忌食豬肉。</p>
<p>小兒五疳，不長肌肉，不思飲食，日漸黃瘦者，並宜服蘆薈丸。用蘆薈一錢，蕪荑一錢，去皮，青黛一錢，檳榔一錢，蟬殼二十個，宣黃連一錢，胡黃連半兩，麝香少許，豶豬膽一個。共為末，以豬膽汁為丸，如大麻子大。每服五六七丸，十歲二三十丸，並用米飲湯送下。</p>
<p>小兒黃瘦，腹大，口臭，好食泥土，飲食不為肌膚，腹中嘗痛者，宜服肥兒丸。胡黃連、神麯、麥芽各一兩，使君子、木香各四錢，檳榔三個，蘆薈七錢，肉豆蔻半兩。共為末，黃米糊丸，如黍米大，薑湯送下。每服三十丸，量兒大小，加減用之。</p>
<p>小兒五疳、八痢，面黃肌瘦，頭髮作縷，好食泥土，不思飲食者，並宜服保童丸，大蝦蟆一個，燒存性；皂角一挺，去皮核，燒存性；蛤粉二錢，水飛；麝香一錢，另研，共為末，黃米糊為丸，如麻子大。每服三十丸，米飲湯送下。</p>
<p>統治小兒疳症，取大蝦蟆，不拘幾個，放深缸內，取糞坑蛆蟲，淘淨，倒在內，任其自食，停五六日，待其瀉出宿糞。每一個，將砂仁半兩，捺入其腹，以線縫其口，倒掛陰乾，炙脆為末。每末二兩，使君子肉一兩，白朮一兩，陳皮、山楂、麥芽、枳實、黃連、萊菔子各半兩，神麯作糊為丸，如黍米大，白滾湯下一錢，或五六分，量兒大小加減，此統治諸疳之仙藥也。</p>

<h2>痘疹</h2>
<p>小兒未生之前，積受胎中穢濁之毒，足十月而始生，五臟六腑，受毒已久，一時不能發泄，雖瘡癤疥癬之類，未必非胎中所受，然亦毒之在皮膚間耳。而臟腑積蘊，全然未動，必待天行時氣，運於下土，侵入人身，觸發其根，而後向之所受於十月中者，一齊而起。一兒出痘，群兒隨之，不論富貴貧賤，咸受一場之苦，改形易貌，輕重不齊，自幼至長，必生一次，故名之曰百□瘡焉。其未出之先，或時發驚悸者，心之症也。呵欠煩悶者，肝之症也。面燥腮赤，咳嗽噴嚏者，肺之症也。乍涼乍熱，手足稍冷，而多睡者，脾之症也。惟腎在臟腑之下，不受穢濁，獨無其症。若未發而先腰痛者，必其腎氣不足，亦為毒所幹，俗謂之折腰痘。痘雖未出，而可卜其不治矣。故當天時行出痘之際，須要愛惜保護，必倍於平時而後可。雖有可怒，不可驚嚇；雖有可撻，不可趕擊；雖有可責，不可罵詈；雖有暴熱，不可解脫；雖有甘肥，不可多喂。蓋驚嚇，則兒必震懼而傷其心；趕擊，則兒必傾跌而傷其腎；罵詈，則兒必忿悶而傷其肝；解脫，則兒必感邪而傷其肺；多喂，則兒必作瀉而傷其脾。五臟受傷，血氣已亂，而偶值出痘，必有變異，此非為父母者，有以致之耶。然五者之中，惟傷脾傷腎，尤為利害。傷脾則瀉不止，痘必內縮；傷腎則血已凝，痘必變黑。內縮者，或可急補而克發之，變黑者必不能返之，而使紅活也。故苟能調護，則重者庶可以變輕，不善養者，則輕者或反至於變重，甚哉！保嬰之道，不可不知也。且以痘疹之朝數言之，二日三日之間，始見微微才出，如粟米大，或黍米大，或綠豆大，員似水珠，光澤明□朗朗而勻者，上也；若如蟣子成簇，壯熱通手者，其□必繁，斯為下矣。四日五日之間，大小不一，根窠紅潤，累累堅實者，上也；若頂陷灰白，及軟不堅者，其勢必危，斯為下矣。六日七日之間，顆顆肥健，淡紅光澤者，上也：若氣促口渴，腹脹不寬者，其毒必太盛，斯為下矣。八日九日之間，充足肥滿，色如蒼蠟者，上也；若寒戰悶亂，煩渴咬齒者，其毒必內攻，斯為下矣。十日十一日之間，當靨而不靨者，內氣必虛也。十二日十三日之間，瘡痂漸落，而瘢尤黯，或凹或凸者，氣血未勻也。醫者視其朝數之或近或遠，毒氣之或淺或深，正氣之或虧或足，身體之或熱或寒，病勢之或輕或重，當隨其症而加減之，不可執一定之方，而治多變之疾也。大抵痘未出，喜微熱而微汗，痘既出，喜熱漸退，而汗止。身熱太甚，宜利小便，不可妄用發表之劑，一發表，則元氣易散，必成斑爛。泄瀉未止急補脾胃，不可妄投收澀之劑，一收澀則毒不出，必發腹脹。自始至終皆宜以解毒為主，而兼之以活血理氣，終無誤病之失。凡看痘疹，先看小兒之大小、壯怯。或嬰孩一二三歲間，而形體瘦弱者，出痘雖稀，必須謹慎，縱毒氣淺薄，而元氣猶未足，使或卒患泄瀉，亦令危殆。若十歲前後，形體長大，出痘雖多，苟無他症，亦無所妨，以其元氣將實，足以勝之故也。設有痢疾、下血、驚風、傷寒等候，則不論痘之未出已出，兒之或大或小，總歸於不治而已。不治之痘，人皆以歸腎變黑者當之。故凡有黑色者，莫不指之曰腎經痘也。而不知痘疹之中，惟黑者最難識。若初出時，隱隱有黑點，自三四朝至六七朝，其黑色如故，不見紅色，但如玄珠，而亦有光采者，名曰黑痘。不拘男女，如有此痘，必主非嘗之貴，與歸腎變黑者，不可同日而語也。蓋歸腎變黑者，初出非不紅，至後反黑陷，醫者又當識之。</p>
<p><u>藥例</u></p>
<p>痘疹將出未出之際，身體壯熱無汗，乃腠理□□□宜疏解，以升麻、葛根起劑，佐以紫蘇、柴胡□□□類以疏其表，連翹、白芷、天花粉、甘草□□□□□毒，當歸、川芎、紅花以活其血，陳皮□□□□□□其氣，木通以行十二經絡。此用藥□□□則然也。</p>
<p>痘疹初出，一朝至四朝，若有微汗即去升麻□□□紫蘇、柴胡、防風解表之劑，若無汗仍用紫蘇、柴胡□□帶疏表，宜以白朮起劑，佐以白芷、連翹、天花粉、甘草、當歸、川芎、紅花、陳皮、枳殼、烏藥，以解其毒，活其血，勻其氣而已矣。此用藥於既出之後，則然也。</p>
<p>痘疹五朝至九朝，不用解毒之劑，宜以黃耆起劑，佐以白朮、人參，以補其里，不用當歸，但用川芎，以行血中之氣，少加木香以助之，仍用白芷、連翹、天花粉、甘草以解其毒。若身熱未解，宜以茯苓、木通清利小便。若或覺飽，仍用陳皮些少，以制人參；枳殼些少，以制黃耆。此用藥於發漿之際，則然也。</p>
<p>痘疹九朝至十三朝，瘡已回盡，宜用八物湯起劑，加天花粉、連翹、木通之□。若有餘熱，少加芍藥、黃芩，此用藥於已回之□則然也。</p>
<p>已上皆太平痘疹，故用此藥。</p>
<p>痘疹黑陷倒靨，乃必死之症也，而亦不可坐視。宜用無價散，以人貓豬犬四者之糞先曬乾，至臘月辰日，燒灰，研細，用熟蜜作餅子，白滾湯磨服。一歲一字，二歲一錢，三歲二錢，以意加減，即時變為紅活，無不神效。</p>
<p>或用人牙燒灰，入麝香少許，共研極細，蜜作餅子，以溫酒調下二三服。</p>
<p>或用小豬尾尖血三四點，研入冰片少許，新水調下。</p>
<p>或用鐵腳威靈仙一錢，炒為末，冰片一分，溫水調服，取下瘡痂，為效。</p>
<p>痘疹出不快，以蟬殼洗去土，曬乾為末，每服一錢，溫酒調下。若不善酒，以白滾湯送下。</p>
<p>痘疹漿不足，以人參、黃耆各二錢，炙甘草、白朮各二錢，大棗五枚，肉桂五錢，用大米泔二盞，煎至半盞，溫服。若回不快，即於此方中，去桂、甘草，加五味五分，煎服。</p>
<p>痘疹入眼，用白蒺藜炒、炙甘草、羌活、防風，等分為末，每服二錢，熟水調下。</p>
<p>或用黑狗耳，刺血滴入眼內，其瘡自散。</p>
<p>疱疹眼內有云翳，用輕粉、黃丹等分，以竹筒吹入耳內，左眼有翳，吹右耳，右眼有翳，吹左耳，內翳即退。或用瓜蒂根半錢，蛇退、蟬退各二錢半，為細末。用羊肝一兩，薄切數片，將藥末一錢，揉勻，用紙包，線系之於淘米水內，懸煮令熟，去紙，臨用湯下，日進二服。</p>
<p><u>痘疹不治有十</u></p>
<p>當靨不靨，或熱不熱，悶亂不寧，臥則哽氣，寒戰戛齒，大便泄瀉，譫語不止者，一不治也。瘡正出，而嘔吐瀉痢不止者，二不治也。大便下血，乳食不化，而脾虛者，三不治也。瀉血，而瘡爛無膿者，四不治也。大小便閉，目閉聲啞，瘡如灰色，無漿者，五不治也。面黑或臭，有黑氣者，六不治也。口燥渴，小便澀，泄瀉不食者，七不治也。面目閉暗，矇昧無魂者，八不治也。頭面至胸，盡抓破碎，下半身雖好，或身熱引飲不止，足冷至膝者，九不治也。不光澤，不起發，根窠不紅，腹脹氣促者，十不治也。</p>
<p><u>痘疹忌觸臭氣者十四</u></p>
<p>腋下狐臭氣，一也。溝渠濁惡氣，二也。房中淫液氣，三也。婦人經血氣，四也。諸般血腥氣，五也。酒醉葷腥氣，六也。硫黃毒藥氣，七也。麝香臊穢氣，八也。疫汗蒸濕氣，九也。誤燒頭髮灰氣，十也。魚骨諸臭氣，十一也。蔥蒜韭薤氣，十二也。烹煎油膩氣，十三也。坑廁尿糞氣，十四也。凡此臭氣，有犯之者，立見變異。慎之！慎之！出痘之家，必須多用胡荽搗汁，和酒各處噴之，門戶牆壁，幃帳床榻，皆令噴過，甚能闢臭氣，此第一件事也。</p>
