<header data-type="book">
<h1>證治針經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>郭誠勳</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1823">公元1823年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>每怪今之談醫者曰：某書宜讀也，某家宜宗也。此不知醫之言也。夫學必有淵源，業必有傳習。德成藝成，固無不然。若同一所學而家數派別，判若疆域，則唯詩文書畫之家，乃可分道揚鑣，並足不朽，為其得失工拙之數，己自受之，而於人固無與也。然謬種流傳，明者訶之，則亦不可不慎擇於其間矣。若夫醫為司命，一己之得失工拙，而千百人之安危死生系之。是故病萬變，藥亦萬變。活法非可言傳，至當唯在恰好。倘惟沾沾焉執一人之說，守一家之學，傳者已偏而不舉，習者復膠而不化。尚涼瀉，則虛寒者蒙禍；慣溫補，則實熱者罹殃。即不然，而或矯枉者過正，執中者無權，過猶不及，則淺近固非而高深亦左，易觀相笑，則彼固已失而此亦未得，其不至盛盛虛虛，而遺人夭殃者幾希矣。況乎醫之為道，非可懸揣虛擬而得也。講習久，則會悟始生；閱歷多，則識解漸確。讀書臨證，合則兩濟，離則兩疏，以故明逐晦生，信從疑得。非自壯至老，造堂嚌胾，備嘗此中甘苦，則童而習之，白首茫然者何限。如是而猶呶呶然號於人曰：予讀某書，宗某家者也。可乎？不可乎？</p>
<p>夫由博反約，學道固爾，唯醫亦然。然約自博出，不博則所約何物。茲予《證治針經》之輯，固甚約也，而以視一人之說，一家之學，則已博矣。顧此中甘苦之故，予口能言之而身不能踐之，則予之所恧焉內愧者也。抑聞之柯韻伯先生曰：讀書無目，遂至病人無命。痛哉斯言！於今人口耳之學，誠為切中膏肓。顧覽予是編者，先具慧眼，博觀而約取，變通以盡利，融會貫通，左宜右有，渾然無偏持一說之跡，則技也而進於道矣。是予所厚望也夫。</p>
<p><u>道光三年癸未仲春月海昌郭誠勳雲臺甫識</u></p>

<h1>小序</h1>
<p>談醫者之有賦也，傷寒為多而雜症獨少，豈岐黃之旨，浩如煙海，拘於聲偶，則語焉不詳，固博雅者所弗尚歟！然集腋成裘，珠聯璧合，備忘便讀，兩刊俱存，為中人計亦良得也。</p>
<p>勳識漸窺臟，才愧賦棋，不揣闇劣，取素所服膺，朝夕尋玩者，如吳門葉氏《臨證指南》及諸名家案論，採輯融貫，使句整辭諧，悉便記誦。書介博約之間，旨萃心傳之要，詞雖戔陋，有苦心焉。</p>
<p>集既成，閱三月，忽得錢塘董氏西園《醫級便讀》一書，與拙著體制大同小異，既喜先得我心，復嘆感召非偶。因摘其尤粹且要者，續附於後，自利利他，或傳或否，則並聽之適然之數而已！</p>
<p><u>辛巳孟秋上澣誠勳又識</u></p>

<h1>卷一</h1>

<h2>傷寒心法</h2>
<p>仲景先師《傷寒論》，愚既著《便讀》矣，顧後賢輩出，各有發明，亦未可例之自檜以下也。爰撮其要旨，輯為駢辭，既便省覽，亦備遺忘，鄙瑣之誚，所不敢辭，猶前志云爾。</p>
<p><u>癸未季春志</u></p>

<h2>上篇</h2>
<p>傷寒大要，莫如救陰。三陽皆有頭疼，太陰亦能發渴。（戴氏曰：有陽明不甚渴，陰症反大渴者，不可不知。《傷寒準繩》。）陽邪脈伏，禁用寒涼（宜升散）；陰病（厥逆）神清，不同熱厥。（熱厥必神昏。《傷寒大白》。）（陰病厥逆，亦有神昏者。見羅謙甫治傷寒脈結，心悸症醫案。）太陽亦有譫語，由汗多而神昏；少陰間或頭疼，必足寒而氣逆。（痰氣不得降而痛。東垣。）陽證陰脈兮，胸悶腹脹者，疏利無妨；（杏、樸、陳、枳、蘇子、山楂之屬。李士材案。）脈數右空兮，熱甚中滿者，寒涼亦得。三黃湯加滑石。（金少遊案。）熱邪失下勢如焚，發散誤於初起；（熱毒發頤，乃濕土之邪，初起失於攻下，概用發散，引邪氾濫所致。張石頑案。）脈細（如蛛絲）舌焦（黑）陰欲竭，地連佐以將軍。（生地黃連湯去芩、防，加麥冬、人中黃、酒大黃。另以生地一兩，酒浸搗汁和服。同上。）證如少陽，須辨病由伏氣；（邪自少陽發出，故耳聾脅痛，當用白虎汗解。誤用柴、葛、桂枝、以致汗多神昏。同上。）下後脈（浮去而）數（仍在），應知邪獨留於營。（若大便六七日不行，血不得泄，必蓄於下焦而為瘀。陸養愚案。）下證具而吐藥喜食飲，蘇葉藿香薄荷先與；（三味俱用嫩者搗汁，和井水與飲而吐止，繼用下劑。陸肖愚案。）尺脈動而不眠頭痛（晚發病），黃連雞子湯如神。（金少遊案。）胸腹滿面黃（如金色），勿疑是疸；（脈浮虛，不可下，用小陷胸而愈。孫兆《口訣》。）筋惕肉瞤，須辨多因。（或因發汗太過，或由素稟血弱，或有燥矢當下，或虛煩有熱。《準繩》吳氏。）脈伏不屬陰寒，驗之身熱；（邪入陽明，神昏脈伏，肌熱灼指，此發斑之候。呂滄洲案。）肢冷半多熱厥，別在頭疼。（羅謙甫案。）疹紅有粒（屬手太陰）勿升陽，甘草桔梗、黃芩防風薄荷蟬蛻；鼻衄發斑（屬足陽明）忌涼血，（用黃芩則斑不得越，而躁擾跳擲。）葛根紫草及甘草陳皮。（李士材案。）表未透則邪伏心胞絡，必昏冒而獨語；（《傷寒五法》。）口既干斯熱歸胃府，亟清解以存津。（熱甚者，白虎加芩、連、柴、葛。《傷寒心法》。）躁不得眠，有虛煩（或下後，或瘥後）亦有實熱；（必大熱乾嘔，呻吟錯語。《五法》）飢不能食，屬厥陽亦屬陽明。（柯氏《傷寒論注》。）風濕中濕兮，二便之秘（風濕）通（中濕）可別；陰厥陽厥兮，冷水之欲惡堪憑。《五法》。且夫大渴非無寒症；（王海藏治秦二母案。）衄血亦有格陽。（景岳《傷寒典》。便溏（泄瀉）甫止脈偏沉，緩攻自可；汗出雖多表未解，再汗何妨。（《大白》。）蚊跡莫認為發斑，更有無根虛火；鄭聲不同於獨語，還聞挾血如狂。（《全生集》。）壞症之例惟三，汗下溫清並格；腹痛之因有四，寒熱血積為殃。（《大白》。）無熱狂言，五苓散可以探吐；合目即汗（膽經火旺），清膽湯（柴胡、黃芩、竹茹、厚朴、陳皮、甘草）應是良方。同上。畏寒（身熱欲得近衣，手臂不能袒露）脈鼓（擊而大）舌（白而燥）唇焦，（宜生脈散加歸、芍、知母。）勿妄表而投柴葛；（陸肖愚案。）久病中虛形脈脫，（上氣形脫，脈重按全無。）宜停藥（中氣迨盡，不復能勝藥力）而進甘香。（煮鴨聞香，徐啜其汁，下結矢而愈。張石頑案。）衄且煩而吐水（渴飲而吐），五苓（不愈）或遜於竹葉（石膏湯；《摘要》）。邪在經而鼻衄（數日不止，症脈皆屬表症，由誤服涼藥所致，）越婢湯較穩於麻黃湯。（張石頑案。）蓄血之候多端，何庸悉具；（凡見眼閉目紅，神昏語短，眩冒健忘，煩躁漱水，驚狂譫語，背冷足寒，胸腹急滿，大便黑，小便數，皆瘀血症也，不必悉具。《摘要》。）動氣之禁不一，貴在周詳。（同上詳原集。）陰中伏陽兮，寒熱俱礙；（其症頭疼身溫，煩躁背冷，六脈沉伏，用破陰丹而愈。許學士案。）目開聲啞兮，（多眠神昏，肢強脈微，狐惑症也，宜先豁痰。）薑汁、竹瀝先嚐。（繼用參、朮、歸、陳加姜瀝而愈。同上。）下後結胸，理中湯加枳實亦效；（此乃下後虛逆，氣已不理，而毒復上攻，不可更下。《西塘感症》。）有升無降，滋腎丸治鼻衄殊良。（此於胃氣未虛，的系熱邪者為宜。同上。）發斑譫語者宜清，脈沉細（肌表雖熱，按之須臾冷透如冰）而理中（湯丸並用）可與；（許學士案。）循衣撮空者當補，（治數人皆用大補而愈。）餘症實（便秘潮熱，直視喘急，用小承氣而漸愈）而承氣何傷。（同上。）先渴卻嘔者，大半夏；先嘔卻渴者，豬苓湯。（《西塘感症》。）下利因自表邪，仍宜外解；（三陽挾熱下利，頭痛身痛，寒熱脈大，此症若不先散表邪，遽用清裡，則表邪內縮，不死不休。）胸滿（胸前飽悶）固禁收補，（宜消宜散。）尤戒寒涼。（若一見胸滿，即兼煩躁譫語等症，宜察食滯痰凝，慎勿誤投涼劑攻下。《大白》。）陰中有陽兮，脈沉亦宜解表；（柯氏《傷寒翼論》。）虛中有實兮，脈弱亦可通腸。（蔣仲芳案。詳見《醫宗說約》。）肝熱乘肺而撮空，（叉手冒胸，尋衣摸床，譫語昏沉，小便利者可治，禁用風藥。）升陽散火湯當用；（人參、當歸、柴胡、白朮、黃芩、白朮、甘草、麥冬、茯神、陳皮，入金器煎。）心火逼（肺）金而（睡中）獨語，（一二句，或神昏不語，目赤唇焦舌乾不飲水，形如醉人，無寒熱硬滿便秘等症，此熱傳手少陰，名越經症。）導赤各半湯能匡。（黃連、黃芩、山梔、知母、滑石、甘草、犀角、茯苓、人參、麥冬，加燈芯、龍眼。《全生集》。）痙別陰陽，（合而閉目口中和，脈沉細為陰；仰面開目口燥渴，脈浮數為陽。）陽可治而陰難力挽；喘分表裡，（心腹恧無汗為邪在表，心腹滿有汗則為邪在裡。）表宜汗而里必內攘。（同上。咳嗽生痰，草須金沸（草散）；手足攣搐，根用牛蒡（根散）。四逆躁煩名臟厥，二陽合病脈忌弦長。不吐懊憹，鬱悶如故；不利小便，如狂勿康。（並《傷寒賦》。）大熱渴煩，可清可溫異治；（太陰病乾嘔，胸中大熱；發渴引飲，脈沉細緊，此陰盛格陽，服桂、附、薑、烏等藥而愈。許學士案。）譫語（有實有虛）臍痛（實者燥矢滿痛，虛者欲後水虧。）當下當補殊商。（汪石山案。）痞積腹中，動氣可慮；飢不欲食，蛔厥須防。（《傷寒賦》。）陽毒熱極壞傷寒，（發斑、煩躁、大渴、面赤目脹、身痛、狂走，或六七日未得汗，熱在胸中，口噤不能言，精魂已竭，心下才暖者。）黑奴丸回生可冀；（撥開其口灌之，下咽即蘇。）老弱虛人當下證，黃龍湯起死堪望。（大承氣湯加人參、當歸、甘草，虛者去芒硝。並《全生集》。）渴不消水舌苔黃，（或下唇焦，亦有食滯已久，蒸釀發熱而消水者。）夾食表邪須並理；（欲散表邪，必賴胃陽敷布，宜保和散合升陽解表湯。）食滯中焦小便黃赤，（用涼藥反不清，用辛溫香燥而反清利。）溫中導滯恰相當。（《傷寒大白》。）病合溫經，須防真熱假寒之變；（如表邪惡寒，挾熱下利，熱深厥深，陰邪脈伏，或夏秋暑瀉，身冷脈伏等症。）證應和解，或循先表后里之常。（和解之藥，辛散寒涼各半，辛則礙里，寒則礙表，即半表半裡之症，仲景未嘗概以和解施治。同上。）氣逆則當汗當攻，何堪孟浪；（厥陰客熱上衝，大柴胡湯下之；亦有屬虛羸少氣者，汗下並禁。余詳原集。）短氣分在表在裡，頗費酌量。（在表者，心腹濡滿，宜甘附湯、桂枝湯；在裡者，心腹脹滿，宜下之，承氣湯。《全生集》。）少腹不堅，芒硝勿入；血家或嗽，參桂非臧。（以肺熱故也。《廣筆記》。）脈症俱實而似虛，禁人參何須眩亂；陽經未汗而發呃，用白虎湯奚事彷徨。（病屬陽明，熱邪傳裡，故身涼發噦，未經汗下，邪何從而出，用人參白虎湯立起。繆仲淳案。）又聞熱得風而益熾，陰被劫而速亡。（此言粗工誤用汗下之弊。《己任編》。）陰盛格陽，參附理中湯必用；下虛發喘，右歸飲都氣丸無忘。同上。陽邪內灼（下利壯熱，舌黑而燥）脈無陰，（洪數鼓指。）驟下（則毒留而陰絕，此症當先補後下）急升（宜先救陰，而後扶陽）俱鹵莽；（《東莊案》。）心火外浮熱自發，（無頭痛項強吞酸等症，而發熱不止，此必勞倦之後，或用心過度，而心火散溢於外也。）寒涼發表總荒唐。（詳王損庵《筆麈》。）熱入血室因發狂（欲殺人），先進兒童之便；（繼與涼血清瘀安神之劑而瘥。）解後便紅（下血不止）由失汗，莫開痢藥之囊。（用地榆、麥冬、知母、竹葉而愈。繆仲淳案。）婦女傷寒，值月信行而禁汗；（《五法》。）小兒感症，作驚風治而多殤。（詳《己任編》及《寓意草》。）若乃溫暑勿求止汗，（柯氏云：治溫暑之法，當與汗俱出，而不得止其汗。）脈遲亦有可攻。（詳《傷寒論》陽明症條。）病發太陽，已有嘔逆，汗出過甚，亦致耳聾。（柯氏。）血液耗散而神不安，獨參湯止虛煩躁；（注云：力艱者，當歸補血湯可代。《西塘感症》。）心下滿而頭有汗，小半夏湯醫水結胸。（孫兆案。）痰積頭疼，（必兼噁心飽悶。）須仗平胃散陳二陳湯、白豆蔻萊菔子、石菖蒲；（《大白》。）太陽身痛，宜資羌活獨活蘇梗、木通。（同上。）汗後不食且狂言，毋輕言治；太陽無脈未解表，勿遽云凶。（詳《傷寒摘要》。）內傷而左脈浮弦，虛陽擾於膚腠；外感而右手盛滿，痰氣滯於中宮。（《己任編》。）大熱錯語呻吟乾嘔者，黃連解毒湯；脈遲熱多寒少血弱者，黃耆建中湯。（《傷寒賦》。）戴陽則兩頰微頳而遊移無定；中暑則滿面皆赤而紫脹通紅。（《己任編》。）陽明多嘔而渴煩，二陳葛根為戒例；（不嘔吐，而解表，用葛根湯。今吐甚是陽明之氣逆升也，葛根升散，故不宜用。又渴甚而嘔，乃邪火上升，故忌半夏。嘔家忌甘，故不用甘草。此症用白虎湯加麥冬、竹葉而瘥。纓仲淳案。）津液未回而便秘，麥冬蔗汁有奇功。（此與喻氏論熱病瘥後，宜生津液同旨。同上。）脈與證違，誰識虛微為實候；（錢氏曰：今之發斑者，每見輕軟細數無倫之脈，而其實則口燥唇焦，發熱譫語，乃脈不應症之病也。《傷寒溯源集》。）病從口入，漫嗤消導是粗工。（秦氏著《傷寒大白》，於六法外，特補消導一門，未為無見，故是篇亦間採之。論詳原集。）</p>

<h2>下篇</h2>
<p>若夫兩感凶防六日，陰陽毒慮七朝。（《傷寒賦》。）（《醫級》升麻鱉甲湯注云：陰陽二毒俱咽喉痛，先用咽喉科劫痰方治之，全活甚眾。方見雜症。）熱灼陰精，不速逐須防胃爛（而發斑）；陽邪熾甚，雖久泄可用石膏。（此症大熱燥渴，脈洪大而數，因其疹後泄已八年，石膏止用一兩，病初不減，後加至二兩，數劑而愈，另治其泄亦痊。《廣筆記》。）脈弱斑遲，人參輔乎升麻葛根湯；汗多敗症，熟地加入逍遙散。（《西塘感症》。）柴胡四物或桂枝，餘熱清於每夜；（《傷寒》柯氏注。）桃仁承氣加桂附，僂廢治乎兩腰。（《寓意草》。）手足汗，非無寒症；（蘊熱則煩躁譫語，挾寒則水穀不分，治法各異。）身體痛，亦有陽邪。（謂陽毒身痛。《摘要》。）陽毒身黃，亦多蛔厥；（詳《準繩》戴氏。）剛痙柔痙，必咬頰車。（《傷寒賦》。）不嘔汗無，渴飲者葛根可用；（謂陽明經病。）陽明鼻衄，涼血中乾葛、荊芥須加。（《廣筆記》。）不得眠，皆為熱症，瘥後當別陰陽；面赤色，固系表邪，里症亦宜下奪。（詳《摘要》。）調溫毒，可用黑膏；散赤斑，須行紫雪丹。（《傷寒賦》。）協熱下利，六一散調以黃連；（煎湯，如心下痞者加栝蔞。）合病三陽，醋鱉甲同乎百合。（三陽合病，脈大上關上，但欲睡眠，合目則汗，用醋炙鱉甲為君，麥冬、白芍、知母、栝蔞根、竹葉、甘草。《廣筆記》。）斑毒慮胃陽之被遏，偏宜和胃透肌；（升麻葛根湯，又清胃散加山楂、砂仁。詳後發斑條。）足冷知表邪之未伸，必用柴胡防風二羌獨活。（《大白》。）（足冷之故多矣，此條未該，不可概執。）狂走半屬虛邪，（王海藏治一人傷寒狂走不能制，脈虛數，用補劑而愈。又《廣筆記》載：一人登屋奔走幾月余，先下後補而痊。）咬牙口噤本乎裡熱。（《五法》。）又如陽病足寒，上身必熱；熱厥肢冷，指爪自溫。（《準繩》戴氏。）痰凝食滯每類結胸，治用保和散平胃散；陰陽皆有盜汗，方分表裡滋清。（三陽盜汗，皆熱邪未盡；三陰盜汗，皆熱伏血分，不獨少陽也。並詳《傷寒大白》。）病後暮煩，（每至申酉微有潮熱，名日暮微煩。）餘熱（宜芩、連、梔、豉等）與陰虛異證；應時潮熱，表邪或內火兩因。（三陽皆有潮熱，不獨陽明為然。若積熱痰火內伏為患而潮熱，必或嘔、或脹、或作痛。詳《大白》。）冬溫咽痛而聲喑，豬膚湯可啜；（張石頑案。）汗下傷津而體振齒擊，羊肉汁宜烹。（服一升，戰止，汗大出而愈。蔣仲賓案。）病愈目眥黃，睛黃者發黃之漸；病重目直視，稍動者痰飲之停。（《傷寒賦》。）風濕火痰，常兼頭痛；上焦蓄血，亦見身疼。（《大白》。）爾其實熱狂煩，浮脈何妨權下；寒邪深重，表症亦或多眠。（《五法》。）傷暑食而腹夾陰，枳實理中合小承氣；病蓄血而兼狐惑，犀角地黃湯佐烏梅黃連。（壯熱昏憒，喜忘如狂，直視不眠，唇反齒腐．張石頑案。）心慄為正不勝邪，倦臥而漸成厥逆；身戰乃邪不勝正，汗出而預報安痊。瘛瘲者，風熱及痰飲；漱水者，血症與陰寒。頭搖屬風，有痛宜察；心悸停水，氣虛亦然。（並《傷寒賦》。）便秘而人迎盛者勿攻；（婦人左關脈浮緊者，不可下，當發其汗以救血室。）頭痛而寸脈大者可吐。（《摘要》。）陰盛格陽而吐水，治以白通。（《己任編》注。）蛔厥逆冷而昏迷，熏以燒醋。（《易簡》。）乍冷乍熱，知唇面之假寒；（若陰症必不能乍熱。《名醫類案》。）半陰半陽，賴溫清之迭佐。（詳《寓意草》。）堅腎水天花粉而利小便，並止渴之良方；（詳《準繩》戴氏。）和營衛而通津液，（小柴胡和建中湯各半。）療汗後身和之譫語。（《西塘感症》。）熱厥昏躁脈沉微（細欲絕），解毒（黃連解毒湯）兼投涼膈散；（《己任編》。）往來寒熱脈洪大，心煩（里有實熱）宜用大柴胡湯。（本許案。）背惡寒，分腎陽衛陽之傷，問其渴否；（傷腎陽者口中和，傷衛陽者口燥渴。沈氏《傷寒讀》。）便膿血，察少陰（但欲寐）厥陰（不欲寐）之別，詢以寐無。（同上。）鼻衄紅汗名，動陰血為下厥上竭之禁；多眠神復兆，向壁臥有陰寒之虞。（《傷寒賦》。）各經皆有項強，（非太陽陽明二條可盡。）痰食凝滯並能為祟；食滯（胃家，外冒寒邪，生冷抑遏）亦多譫語，肺熱（上焦熱甚，則神昏而譫，宜加減涼膈散）又復殊途。（《大白》。）鼻乾目痛屬陽盛陰虛，（當滋陰清火，而反）發（陽明之）汗非其治也；（柯氏《傷寒》注。）口燥咽乾為少陰下症，有表證亦可攻乎？（《溯洄集》。）陽毒則狂斑煩亂，救以大青升麻；（陽毒升麻湯、青黛一物湯。）陰毒則厥逆唇青，挽以正陽甘草（湯。又四逆湯。《五法》。）食滯痰凝而躁煩譫語，雖胸滿慎勿輕攻；身熱足冷而嘔煩表證，縱脈沉但當解表。（《大白》。）蒼朮敗毒散治濕淫，（本作毒。）下血偏宜；蘇梗木通療脅痛，發斑並妙。（同上。）止虛譫，當歸補血湯為良；（力艱者可代人參。）平熱煩，溫膽（湯治虛煩有飲）清心（蓮子飲）亦好。（治心中蘊熱而煩。《西塘感症》。）無下症而邪結，大陷胸湯豈可輕投；兼發熱以惡寒，（此太陽表症，邪正分爭，表邪未越，表邪未徹也。）小柴胡湯未為定法。（時寒時熱，宜羌活、柴胡、葛根並用。胸滿者加厚朴、半夏、陳皮；喘咳者加枳殼、桔梗、桑皮等。《大白》。）解表（升陽解表湯）與保和散並進，乃夾食之神丹；萊菔汁和竹瀝同沖，（入保和散。）亦回生之妙藥。（不獨能消痰食，且燥火閉郁，非此不清。平淡切病，常能起死回生。同上。）至若腹痛辨乎寒熱，熱則時作而寒必無休；體痛介乎陰陽，陽則煩疼而陰如杖撻。（《五法》賦。）蓄血之候，見症非一，或胸脅臍腹，間有偏疼；或揚手擲足昏沉，具諸大實。（《準繩》）頭汗何因，陽經攸系，瘀血發黃，少陽水氣，若譫語之或兼，血熱自宜攻利。（《五法》。）（虛人勞倦發瘧，亦有汗止頭額者，服八珍加桂枝、柴胡、附子而汗出周身。可見頭汗之因，尚不止此四症也。）咽痛之由，亦有數症，少陰則便秘而躁煩；亡陽則汗流以脈緊；下利四逆，寒邪格陽；吐血發狂，陽毒為眚。吐血由乎失汗，熱邪迫而妄行，桃仁承氣為重，犀角地黃為輕。衄血來點滴，解表微斟；成流不滯，勿藥而寧。（並同上。）又若口渴一症，莫甚陽明，以有汗與無汗，分在表（無汗）與在經（有汗），經宜白虎，表利葛根。（俱湯名。）又有唇焦口臭，煩熱昏沉，渴不消水，斑毒內蒸，宜投升麻葛根湯，伏熱斯清，若積熱釀於厚味，當升麻清胃散以滌膻腥。（並《大白》。）脅痛系在少陽，肋刺傷寒最酷，治法如何，宣通經絡。更聞木火刑金，（先脅痛而後咳嗽。）或有金邪入木，（先咳嗽而後脅痛。）無咳而左疼者，木自先傷；兼嗽而右痛者，金先不肅。憑脈（左右）分因。仿茲求索。不語之故，抑又何耶？（即俗所稱噤口傷寒，有其症，無其書。）內傷之候有三，舌強神昏兼口噤；外感之因凡五，寒凝食滯或斑痧。（一、寒涼抑遏表邪。二、失下竅壅，裡熱昏沉。三、寒涼飲食，凝結中焦。四、寒涼抑遏，痰迷不語。五、時疫斑痧，毒氣內閉，神昏不語。）發斑之候，細察毋差，身熱足冷，或咳或哇，（嘔吐，）或心熱吐蛔而呻吟似躁，或耳聾目合而靜臥不譁；暨脈伏（或細軟，或數促）面青而吸促，並斑疹欲出之萌芽。（此條略參診驗。）化斑或宜消導，勿用苦寒為佳。（謂痰凝食滯之症。）倘但發胸面（陽明之邪已能達）而背無，（太陽之邪未能透。）敗毒散優於升葛；若誤食葷腥而毒伏，（此症最重。）清胃散（去當歸、加木通、甘草）佐以山楂。陰厥治分二症，一用四逆湯、（吳茱萸湯等，治氣分火虛厥冷）而一用歸茱；（當歸四逆湯治血分冒寒手足冷，內有久寒者加生薑、吳茱萸。陽厥法立三條，或宜平治而或宜涼祛。（一陰經陽厥用四逆散；一陽經陽厥用涼膈、白虎、黃連解毒等湯；一初起表汗不出，表邪內伏之厥冷，用升陽散火湯、羌活敗毒散。）另有夾食夾痰之交滯，（又或夾氣，升降不通，胃陽不得四布，亦令人手足厥冷。）切宜疏導以安舒。（導痰湯、保和散再加開豁之藥。上並詳《大白》。）至於治兩感之大要，在急救乎少陰；救里迫於直中，解表切乎傳經。（詳《五法》。）遺毒發頤，透解清涼或大補；餘熱作嗽，涼血壯水及清金。（詳《西塘感症》。）況夫曠日持久，變症斯張，前熱未除寒復感，溫瘧仍用少陽方。（小柴胡湯。）汗吐下後病不痊，壞症方投鱉甲飲；行住坐臥俱不定，百合病須求百合湯。（《傷寒賦》。）</p>
<p><u>附：摘《醫級》傷寒條辨要略</u>（文繁者僣易數字，與拙集詞異義同者不復採錄。）</p>
<p>第一條　論潮熱</p>
<p>汗出愈熱者內火，連柏丹梔；夜倍熱者傷陰，保陰（煎，生地、熟地、白芍、山藥、續斷、黃芩、黃柏、梔子、丹皮、甘草蒿青蒿、知母）。潮熱不食者腑俟，潮熱能食者經邪。症已瘥而午後復煩，腸胃之餘邪候解；熱已裒而黃昏復熾，三陰之餘熱宜清。傷寒潮熱者，腸滯未清；雜症潮熱者，火遊莫斂。</p>
<p>第二條　論惡風寒</p>
<p>表虛惡風，首風伏風相類；陽虛惡寒，腑症熱厥同形。火症亦惡寒，因熱極而反化；肝火偏惡風，緣木氣之感通。</p>
<p>第三條　論體痛</p>
<p>風襲衛而膚疼，寒傷營而體痛。痛如被杖者寒極，痛無表症者虛多。周痹則歷節風疼，若拘僵每多濕毒；虛風則汗來反痛，如厥怯必是虛寒。虛痛則筋急筋弛，氣痛多攻注於上下；濕痹每著關著節，風火則數變而流疼。寒痛肢清而火痛燥渴，濕痛重著而飲痛吐酸。</p>
<p>第四條　論口唇</p>
<p>不渴不思飲，有熱亦從表論；燥渴漱水不咽，陽邪初入於經。咽乾在脾，而燥渴責腎；消渴肝斷，而腹滿渴腑論。唇紫黑而燥者熱甚；唇青黑而潤者寒深。</p>
<p>第五條　論自汗</p>
<p>冷汗分鬱火（必口渴、二便秘、）極寒（口潤、便通），渴閉及脈情可辨；熱汗辨表傳（呻吟不渴）、溫（鼾睡口渴）暑（面垢煩渴），呻鼾渴垢宜詳。汗出腋下者，肝邪疏泄；汗出腰下者，濕氣流陰。腰以上汗來，陽不降而陰火上炎，法宜清降；股肱多汗，病聚胃而熱不得泄，治必清攻。</p>
<p>第六條　論燥渴</p>
<p>燥因氣熱，渴自火淫。燥火多渴，而濕火不渴；能消肝斷，而不消腎評。上消者，飲入汗泄；下消者，飲多溺頻。如狂煩渴者五苓，莫認陽明投白虎；經熱內傳者竹葉石膏湯，如惟溺澀但豬苓湯。</p>
<p>第七條　論虛狂</p>
<p>虛狂脈候，就症審因。稟弱挾邪，熱少盛而即躁譫；作勞復感邪，神不守而輒昏煩。失志勞心，感邪則神明妄亂；悲憂傷肺，病熱則涕泣時生。勞倦脾傷，肢不收而熱蒸語錯；多謀肝困，常恐捕而如見鬼神。本傷邪繼，症本虛邪而偏形假實；虛狂神亂，欲坐泥水而莫測真虛。凡此並屬虛狂，治法亟宜救本。</p>
<p>第八條　論戰慄</p>
<p>戰汗乃邪正相爭，身振掉而寒熱陡作；寒慄乃邪強正怯，但顫慄而寒熱不形。先慄後戰，由陰出陽可喜；先戰後慄，欲出反入堪驚。七朝戰汗者，五六日即形躁擾；二七戰汗者，十二三狀必凶危。但慄不戰，必成寒逆，須急溫而熨灸；既戰漏汗，息寒身冷，惟回陽以冀痊。</p>
<p><u>附：內傷外感辨補</u></p>
<p>內傷外感皆不食：內傷不食，口中無味；外感不食，聞食即惡。內傷外感皆口渴：內傷之渴，初病即渴，其飲甚少；外感之渴，三日後始渴，其飲必多。（余同東垣、《醫宗金鑑》。）內傷之病，脾胃元氣一虛，四臟失其調和，所以五臟之脈，交相混見。故肝弦心洪脾緩之脈，反見於上，按之沉澀，肺脈反見於下也。忽肥忽瘦者，火乘土位，上並陽分則血脈上行而上盛，故面赤紅而肥；下並陰分則血脈下行而上虛，故面青白而瘦。今之虛損病人，早則面青白瘦而惡寒，午後則面紅赤肥而發熱者是也。</p>

<h2>雜證要旨總賦</h2>
<p>蓋聞十全為上，三折成良，醫雖小道，心法毋忘。風木下鬱而腹疼，宜升則愈；痰飲上凝而熱喘，用吐斯康。（《廣筆記》。）食掛兮清肺則痊，（不能食，聞葷腥氣輒嘔，食已鼻中必滴血一點，由肺熱葉焦之故。詳《名醫類案》。）食痹異法；（食已則心下痛，吐出乃止，宜薤白半夏湯。《證治匯補》。）虛痞兮非參不治，虛噯同方。（詳《廣筆記》。）（《折肱漫錄》云：予服四物湯川芎稍多，服補中益氣湯失加人參，皆頓覺下虛，陽氣欲脫，厥冷汗泄，前病陡發。《本草》云：升麻、川芎，下虛人忌服，信然）。蓄瘀者脈必牢，或結與弦而亦是；（同上。又《診宗三昧》。）將汗者脈多伏，或緊且疾而無妨。（詳《東莊醫案》。）腰曲乃腎水之虧，目直由肝血之燥。（鼓峰醫案。）雀目兮食臌之機，大眩兮類中之兆。（《己任編》。）痢家毒甚，見代脈而無驚；雜證陰回，宜助陽以達表。風從火出之理最精，肝為脾用之旨誰曉。（《芷園臆草》。）氣病用氣藥不效，少佐芎歸；血證投血藥多呆，微參疏利。（《治法匯》。）吞酸膈痛，六君子湯增入炮姜；寒熱血風，五加皮散大加熟地。（並鼓峰醫案。）小兒脈緩作遲論，女子郁多尋氣治。（參《東莊醫案》、《濟生方》論。）手足心熱，勞心人大抵如斯：（《東莊案》。）頭面火升，胃熱者常多有是。（《金匱》云：面熱如醉者，胃熱也。）陽上升則陰不下吸，血失養則氣不歸源。（葉氏醫案。）人虛口渴便不通，雖病革（同急）勿投參附；（虛勞內熱之症，誤投熱藥，兩日而斃。）病久脈調身不熱，縱勢劇可望安痊。（臟腑無損故也。《廣筆記》。）脅下疼，致礙賁門，當知肝葉之脹；（肝怒則葉脹，右侵於胃，故飯食過之有礙。）小便痛，不連少腹，或由腎氣之寒。（宜金匱腎氣丸。《東莊案》。）五臟交傷，窮必及腎；（《張景岳全書》。）諸火交煽，治合先肝。（《石室秘錄》。）燥逐風生，（寒熱、頷腫、臂膊磊塊無數。）湯用疏肝益腎；（鼓峰案。）痢因郁致，治宜調氣消瘀。（枳殼、藕節二味效。《客座紀聞》。）臂痛屬虛火之遊，為其初因腹疾；（二症並久服補劑而愈。）腰疼緣瘀痰之滯，奈何專責腎虛。（治瘀以行氣活血而愈，治痰以潤字號丸下黑矢結秘宿垢而愈。）痢家嘔吐噁心，投當歸而轉逆；滯下陰虛濕熱，（宜六一散佐白芍。）用平胃兮殊疏。（術性溫燥閉氣，故滯下忌之，陰虛尤非所宜。）嘔當從治，毋乖寒熱之宜；（寒藥熱服，熱藥冷服。）藥必及時，勿愆早晚之節。（如治暑瘧須煎露一宿，雞鳴溫服之方效。上並《廣筆記》錄。）胃傷味變，淡泊兼以養陰；肝鬱吞酸，寒熱兩無干涉。（宜逍遙散加茱、連。《己任編》。）（按肝寓相火，郁必化熱，此條尚未允。）木乘土位而吐食，試啖甘梅；（《質直談耳》。）子盜母氣而心怔忡，濃煎白朮。（《槐西雜誌》。）脘痛吐酸大便秘，兼寒熱宜滋腎以生肝飲；三焦胞絡火遊行，用清涼則精藏而汗戢。（《東莊案》。）鮮血淋兮脈洪數，（產後七日，腹痛狂叫。）偏利峻攻；（製大黃、生地為君，桃仁、乾漆為佐，下黑血塊而愈。）積瘀滯兮體虛羸，（經阻四月，食少腹痛。）但宜補益。（八珍湯三大劑下血塊而愈。鼓峰案。）血症非乏良方，鬱金須求真品；目疾起於鬱怒，童便大有奇功。善食疳勞，（小兒病。）縱骨蒸不關陰弱；（此症面色青白，便非陰虛。孫東宿案。）熱嗽夜甚，雖鼻塞勿混傷風。（右連血症目疾二條，並《廣筆記》。）氣鬱倘屬腎虛，須知納氣之妙；（氣無管束，遂多鬱滯，是生諸症，破氣之藥，雜然並進，而氣愈不可理矣。）土困或由水弱，可通補土之窮。（土賴水為用，故曰補脾不如補腎。）小便赤，不皆實熱；（亦有屬虛寒者，詳見《素問》及《脈經》。）身體重，豈盡濕困。（《素問》歷言肝虛、脾虛、腎虛，皆令人體重煩冤。）治渴莫如益血，（血即津液所化，津液既少，其血必虛。上並王損庵《筆麈》。）發汗先務生津。（汗必資於津液，當用輕淡清芳之品，切勿用溫燥藥。徐靈胎《醫論》。）療不眠，首清心火；（麥冬、生地、丹參、竹葉之屬。）止遺滑，必堅腎陰。（炒黑黃柏入補陰益精藥。《廣筆記》。）火是土源，應求益智；（《治法匯》。）氣為水母，須仗人參。（《醫方解》。）氣逆而面赤脈洪，勿投涼劑；（當以法降其逆。《醫學綱目》。）血溢而質強胃旺，當用下行。（醋製大黃、桃仁、丹皮之屬。《治法匯》。）虛熱口糜，乾薑偏能已疾；（損庵《筆麈》。）火升痰厥，（目斜遺尿，病起憂勞。）童便亦可回生。（《折肱漫錄》。）風行必燥，故驅風每行潤劑；（今人多用剛燥辛熱之品，反益其疾矣。《醫學源流論》。）氣結必化熱，故治氣或忌辛溫。（葉氏醫案。）死血積痰，宜詳察乎三因之外；（《治法匯》批。）內傷勞倦，毋混同於六氣之門。（詳東垣《內傷外感辨》。）若夫墮胎類屬元虛，（以下俱論女科。）惡露豈宜催迫；產後脈多浮數，有力風寒始的。水瀉脾虛，如利水應虞泄腎；血瘀脈弱，若行血恐致崩中。（鼓峰案。）發痙由虛，逍遙散妙在加味，（丹皮、山梔、鉤藤、熟地。楊潛邨案。）以補為瀉，決津煎制自良工。（熟地、當歸、牛膝、澤瀉、肉桂、烏藥，治婦人血虛滯痛。景岳新方。）帶下由脾腎之虧，補中（益氣湯）乃的當之法。逍遙散合導赤（散，丹皮、山梔）。為婦女淋症之方；四君子湯益砂仁、黃芩，乃胎前子瀉之藥。（《己任編》。）</p>

<h2>中風</h2>
<p>中風一門，先分真類，真則古法已詳，類則圓機宜備。河間專作火論，東垣獨以虛治，若濕痰風熱之推，則丹溪略有殊致。要之木失水涵，風從內起，治當熄風滋液，養營湯復脈湯堪資；法在補陰攝陽，固本丸虎潛丸足恃。若其陰陽並損，尤宜濡潤溫柔，地黃飲子風痱專治，還少丹水火兼求。更有風木過動，中土逢仇，不眠食少，汗泄痰稠，酸棗仁湯兮茯苓飲，玉屏風散兮六君子湯投。如其神識不清，必是火痰阻竅，至寶丹牛黃丸並推神妙。至若症屬純虛，五絕堪吊，（口開、眼合、撒手、遺尿、鼾睡。）大劑參附冀回陽，陰藥微參希奏效。又如舌蹇口喎，拘攣癱瘓，急則先用開關，繼則徐商弭患，益氣養血佐宣通（經隧），清火消痰須協贊。（上並仿《臨證指南》案論。）是症也，陰中則肢冷惡風，陽中則面頳頰赤。十指麻木者氣虛，兩頰疏緩者傷熱。頭疼目眩，由清氣之不升；體軟臂麻，乃坤元之失職。身如蒙刺痛，血虛挾濕之徵；體若蟲行，（搔起白屑。）脾氣不能榮之責。骨節都疼兮，濕痰流注（關節）；身痛夜甚兮，（風客）淫氣邪傷肝也。（並約《名醫類案》。）卒厥大綱，治分閉脫：（卒僕暴厥之病，不論男婦風寒氣食痰濕，但要分得閉與脫二症明白。採《大全》條。）善飢多食，（風木太過，脾土受攻，求助於食也。）木土宜安。（以瀉肝安脾為主。《病機沙篆》摘要。）肢體縱緩（多由熱，而間）亦有寒，氣虛故耳，手足拘攣（多由寒，而間有）偏責熱，血少則然。（《景岳全書》。）病有兼挾之原，勿膠死法；風無一定之脈，莫執浮弦。（《類案》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>風先留舍內伏，最易招風；（邪既內伏，則最易感邪，故中風之候，每多伏風所召。）病多麻痹不仁，宜防卒中。卒昏痙而五絕現，探嚏灸脫姑商；陡僵仆而諸逆（即五絕症）無，厥症各因另晰。燥症陰虛血竭，病同火中之條；（五志過極，風從火出。）濕中強直膚浮，因同痰痙之候。筋攣筋急兮，鉤藤忍冬藤續斷、水瓜乳香沒藥；角弓反張兮，羌活、威靈鉤藤、全蝸牛皮膠。至於氣中之條，宜法東垣之論。形消衰朽，但當補火培陰；五志氣浮，別考厥陽方治。（七情之氣，惟憂喜所傷，宜進壯氣補陽之劑。若忿怒傷肝之候，則陰火內動，當從清降養肝調氣，始合暴怒傷陰之治。）足寒面赤，口噤手握者，為厥陽氣逆之候；面慘肢厥，口開手撒者，乃氣衰沉陷之徵。</p>
<p>《折肱漫錄》云：立齋謂指麻是脾氣不能周，真確論。惟脾氣不周，又不加意調攝，以致虛而又虛，故忽有中風之症。若認指因風而麻，而預服祛風之藥以防之，真招風取中矣。蓋搜風等丸，多戕賊脾胃之藥，凡人脾氣不傷，雖病可療，若脾元一敗，扁盧卻走，《乾坤生意》等書誤人不淺。故非明理之儒，醫書不可亂讀。</p>

<h2>肝風（合木乘土）</h2>
<p>原夫肝陰既虧，風由火出，輕則竅絡阻塞頭旋眩暈，甚則瘛瘲痙厥。是故緩肝急所以熄風，滋腎液乃以驅熱。虎潛丸補真陰，地黃飲子培天一，滋腎丸與復脈湯咸宜。清上（如生地、二冬、丹參、連翹、菖蒲、天麻、鉤藤、犀角、羚羊角、膽星、鬱金、二陳、薑、瀝之屬）和實下並協。（如六味、右歸、淡菜、牡蠣、阿膠、石決明、龜甲、磁石、首烏之屬。）若乃思慮煩勞，心營內爍，驚悸不眠，脅中動躍，酸棗仁湯補心丹枕中丹同酌；或因怒火鬱勃，風痰煩懣，龍薈丸二陳湯方應中窾。（以上論肝風，以下論木乘土。）至如木犯中宮，病尤偃蹇，倘陰（肝陰、胃陰）未虧而陽亢（逆），用藥宜剛；或液（肝陰、胃汁）已耗而木（火熾甚）強，制方欲婉（忌剛用柔）。泄肝則金鈴子散六一左金丸，通胃則枳樸夏姜，進退黃連湯大半夏湯，治中湯溫膽湯瀉心湯。（此皆剛藥也。）溫腎腎氣丸佐涼肝（天門冬），治老人上實下虛之候；雞子黃加入復脈湯，療肝風頭痛之方。（又如阿膠、生地、白芍、麻仁、木瓜、人參、麥冬、梗米、秫米等，皆柔藥也。）至於平治之法，劑協剛柔，烏梅丸安胃丸逍遙散，六君子湯戊己湯任參求。（並仿《指南案》論。）</p>

<h2>眩暈</h2>
<p>諸風掉眩，皆屬於肝。風陽上冒，昏僕無端，有中虛亦有下虛，或夾火而或夾痰。火盛兮清少陽而即愈，（羚羊角、山梔、連翹、花粉、元參、生地、丹皮、桑葉之屬。）痰多者理陽明而始安。（二陳、薑、瀝、菖蒲、橘紅之類。）中虛兼用人參，外臺茯苓為合（《外臺秘要》有茯苓飲）；下虛必從肝治，潛陽鎮攝宜參。乃若除痰須與健中，熄風可以緩暈。（白朮、茯苓、白蒺藜、枸杞子、菊花炭。）肝風內沸而津爍，滋陰潤液無愆；（生地、二冬、萸肉、阿膠、白芍。）絡脈中熱而水虛，後本先標莫紊。（方見上清少陽條注。）如其陰虛陽升，煩勞即發，熟地天冬、五味茯神山萸，牛膝遠志牡蠣磁石龜甲；或枸杞子仁與穭豆黑芝麻，暨淡菜膠、龜膠而建蓮山藥。又或年高氣衰，水枯風動，上實下虛，頭暈跗腫，附子都氣丸入天冬建蓮，溫納佐涼方足重。（腎宜溫，肝宜涼。上約《指南案》論。）抑夫眩暈屬乎外因，每多一時暴逆，寒則掣疼，風則汗出，溫則如裹（滯重，《內經》曰：傷於濕，首如裹。）暑則悶熱。（丹溪。）暴怒則血菀（於上，而不反於下，名曰）厥巔，（此疾）得補而熾暈欲絕，（大熱引飲，胸如刀劈，食少瀉多。）龍膽、蘆薈蜀漆、代赭石、赤芍黃連丹皮，五味子、牡蠣龍骨入豬膽汁二枚，（十餘劑而漸愈。《寓意草》。）婦女及失意之人，（面黃脈伏，氣鬱生涎。）宜兼舒郁；煩渴兼弦數實之脈，（壯盛之人，屬實痰實火。）盡用清涼。（降火清痰，本《治法匯》。）大黃酒煮二次為末用茶調，（治眩暈不可當者。）丹溪之法須志；蓄血症從下奪，（婦人觸於驚恐，眩暈如坐舟船，脈左寸沉牢，用桃仁承氣湯下黑血而愈。）士材之案無忘。</p>
<p><u>附：《醫級》摘要</u></p>
<p>督脈虛，則頭重高搖；髓海空，則耳鳴腦轉。（此皆眩因。）腎氣丸桂芩木甘飲除水泛，大造丸斑龍丸療督虛。</p>

<h2>虛勞</h2>
<p>五臟之損兮，治法攸分，上損從陽兮，下損從陰。脈虛由精血內虧，肝腎陰傷之驗；脈大為氣虛泄越，心脾營損之徵。（此釋《金匱》脈大為勞，脈極虛亦為勞之文。）五味異功散四君子湯，歸脾湯建中湯與養榮湯，（此等宜脈大者。）腎氣丸三才湯及大造丸，復脈湯固本丸共天真丸。（此等宜脈虛者。）合宜以用，隨症而斟。爾其腎虛則氣攻於背，肝虛則熱灼乎心，龍相升騰兮，藥宜至靜；陰精涸竭兮，味貴填精。（鹿茸、雄羊內腎之屬。）滑澀不嫌互用，（牛羊豬骨髓、麋角膠及熟地、山藥、茯神、萸肉、五味、芡實、蓮子、全櫻之屬。此治陰虛陽動，精濁下注，溺管疼痛。）栽培妙取有情。至如縱欲傷精，奇脈應須並究；宜蓯蓉、枸杞、鹿膠、當歸、沙蒺藜、茯苓、茴香之屬。）損不肯復，參朮何待徐商。陰傷及陽則表寒，勿疑外感；元無所歸則熱灼，莫漫投涼。體盛脈偏微，（陽氣不足。）斑龍丸能培生氣；陰傷陽亦損，（脾腎兩虛。）雙補丸法功有兼長。元氣既傷，大宜甘藥；（此仲景妙旨。）上下交損，耑理中央。勞力傷陰，黃耆建中有效；氣阻瘀滯，旋覆（花湯）加味（歸鬚、桃仁、柏子仁）為良。（上並約《指南案》論。）若夫婦女多幹血之凝，守王道則坐以待斃；（《醫門法律》。）骨蒸從至陰而發，用宣劑（輕揚之品）斯燎之方揚。外感邪來必驟，內傷由漸而戕，（《景岳全書》。）當詳辨乎初治，毋遺人以夭殃。</p>
<p><u>附：《醫級》摘要</u></p>
<p>外邪傷陽者，病從上而及下，肺心胃有漸次之諸因；（由肺而逆傳至腎，至骨痿不起則死。初治宜分陰邪陽邪，養血祛邪，補正托邪之法。）內邪傷陰者，病由下而及上，腎肝脾見遞及之五損。（由腎而遞傳至肺，至皮聚毛落則曰死。初治當從降火滋陰，剋制生化法。）氣血並沖為大厥，（見《素問·調經篇》。）邪傳氣血號勞風。（固勞感邪，故為勞風病。見《內經》。若血虛感邪，即為血風勞，其涕皆不出，邪不泄由是內舍留連，纏綿不已，不至成勞不已。）八仙（長壽丸、六味丸加麥門冬、五味子）附子（加入），引虛浮之火歸原；桂附參耆，收飛越之陽返宅。（末一條原集本列火症。）</p>
<p><u>附：虛勞陰陽脈辨</u></p>
<p>陰虛之勞脈細數，則必形消著骨而後死者，陰主形也；陽虛之勞脈微革，則不待萎盡忽然而脫者，陽主氣也。（《醫宗金鑑》。）</p>
<p><u>附：癆瘵治法</u></p>
<p>瘵者，敗也，氣血兩敗之意也。有陰虛乾血者，有陰虛積熱者，當以諸補陰藥治之。肌膚甲錯，兩目黯黑者，若初病尚壯，及久病不瀉，二者皆可先用攻下治法。（同上。）</p>
<p><u>附：因病似虛，因虛致病論</u>（摘《醫衡》）</p>
<p>因病似虛者，其人本無他恙，或感六淫之邪，或傷飲食之積，或為情志拂鬱，或為血氣瘀留，以致精神眩昧，頭目昏花，懶言倦怠，口中無味，面色萎黃，氣短脈沉，厥逆泄瀉，種種現症。羸狀雖彰而邪郁內痼，苟非先去其病，何能即療其虛。與其畏攻而釀成不起之病，孰若去病而猶冀有可補之虛。所謂因虛致病者，或先天之稟賦素弱，或後天之調養復乖，以致陽虛畏寒，陰虛發熱，上氣喘滿，脅脹腹膨，前後不通，躁擾不食，脈大無根，種種形證，虛而類實。然變症百出，本乎一虛，苟非專補其虛，安能分治其病。與其去病而虛不可保，毋寧補虛而病可漸除也。（沈明生。）</p>
<p><u>附：《折肱漫錄》</u></p>
<p>切脈先看胃氣，每治他病，切須照顧胃氣，不可一意攻伐。</p>
<p>大凡以藥攻病者，去其大半，即宜養正氣而佐以祛邪，正氣充則邪氣自盡，否則正氣與邪氣俱盡而難為力矣。</p>
<p><u>附：立齋醫案</u></p>
<p>一人飲食失宜，患晡熱、口乾、體倦、小便赤澀、兩腿痠痛，服四物知柏之劑，變症百出，令服補中益氣湯甘溫等藥而愈。</p>

<h2>汗</h2>
<p>盜汗多因陰弱，自汗每屬陽虛。勞役陽傷，玉屏（風散）最合；心悸（筋惕）肉瞤，真武（湯）常需。爾其足冷自汗，脈細或微，法當封固，白朮附子、人參黃耆。病傷營衛，（勞傷自汗。）歸耆入乎建中湯；勞損心脾，四君子湯合於生脈散。大半夏加小麥牡蠣又南棗，為鎮陽理虛之方；（此通補法。）桂枝湯佐耆防風根、茯苓、薑棗，乃辛甘化風之法。（汗出寒凜，痰動風生。）至若陽明胃弱，厥陰來乘，多夢寢汗，棗仁茯神龍骨、人參，白芍甘草同劑，（煎送蒸熟）五味子三十粒兼吞。（上約《指南醫案》。）又如胃中之濕挾火氣炎上亦能作汗，治宜涼膈散；氣逆不順自汗不止，藥佐木香（入小建中湯）。脈氣口弦滑而食滯中宮，（蒸蒸汗出。）脾胃健兮自止；（只消導健脾，不必止汗。）寸脈浮洪而心火騰自汗？黃連（同五味子）引兮斯藏。（入當用藥中，並《治法匯》。）他若歷節風濕，痰飲腸癰，產蓐諸症，自汗皆同。心血不足，額上偏多；際頸而還，血症可斷。（發黃、水氣二症亦然。）四肢汗重，氣熱故然；（亦有氣弱者，汗多冷。《病機沙篆》。）五臟風淫，皆令多汗。（詳《內經》。）頭項出汗，或腎火之有餘；（腎水不足。）每飯（頭汗）淋漓，由胃熱者過半。（《石室秘錄》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>愈汗愈熱，必由內火；汗厥清瀉，多屬陰寒。漉汗（身常濡也）更風轉甚，風內伏而久成風厥；盜汗寐來寤止，火爍陰而劇轉虛勞。頭汗者，中有熱而莫泄；腋汗者，陰有火而內燃。肱肢多汗，病聚於胃；腰下多汗，濕客於陰。</p>
<p>又：無汗條云：熱病脈躁者心焚，唯冀戰汗；陽症陰脈者神敗，絕汗乃終。羌葛柴防，能通無汗之表，不能開鬱蒸之頭汗；蔥白梔豉，能通火閉之汗，不能清內滯之炎蒸。</p>
<p><u>附：《證治發微》</u></p>
<p>盜汗真元猶未盡虛，自汗則真元耗散，腠理皆開。肺失統氣之權，虛勞犯此，甚可畏也。又曰：平人半身出汗，夏月半身有汗，皆氣血不足，夭之兆也。</p>

<h2>不寐</h2>
<p>不寐之故非一，總緣陽不交陰。故或焦煩過度，離火內蒸，湯宜酸棗，丹用補心，銀花竹葉，生地元參。又或憂勞憤郁，耗損心脾之營，養心湯妙，歸脾湯同斟。抑或龍雷震盪，精不凝神，靜以制動，壯水斯寧。若乃肝血無藏，魂搖神漾，咸補甘緩，厥法堪仗。（龜膠、淡菜、熟地、黃柏、茯苓、五味、萸肉、遠志。）膽熱則心煩口苦，桑葉丹皮溫膽湯法兼參；胃病則陽蹻穴空，半夏秫米湯足尚。營氣傷極，人參人乳並行；陽浮不潛，（面色光亮，痰飲上溢。）七味八味皆當。余如因驚宜鎮，因怒宜疏，飲食痰火為實，新產病後為虛。（上仿《指南案》論。）（《證治要訣》云：羌活勝濕湯治臥而多驚，邪在肝膽也。）若乃導痰湯入菖蒲（五分），治膽涎沃心之症；（大抵驚悸怔忡，失心風不寐，皆由膽液沃心所致。《治法匯》。）生脈散加百合（茯神、龍齒，少佐萸、連。）療憂思（而致）不寐之疴。（火升自汗，恍惚，口苦，飲食不能食，欲臥不能臥，小便則灑淅頭暈，此屬百合病。詳張石頑案。）胃實不和，（氣逆填脘，寤不肯寐。）投滾痰丸而非峻；（兼服溫膽湯。葉氏醫案。）病宜宣暢，（醉後大吐，或燥浴始得睡。）經汗吐（二法並行）而始安。（詳陸養愚案。）餘熱不眠，（傷寒後餘熱）寤寐不寧者，胃中津液乾枯，不能內榮其魂魄也。必（用甘寒以）生津液而始獲安寢；（《寓意草》。）水不制火，（不寐而善飯，脈兩關洪，左尺微，右尺亦大。）徒補心而轉益焦煩。（腎虛不能制心火，心肝並熾，補之反實，以腎氣丸加人參、五味，熬膏服之而愈。金少遊案。）所以夜臥多驚，（心氣不歸於腎。）瀉南不如補北；（宜交通心腎。《石室秘錄》。）左關脈弱，（此肝虛也，當補其母。）益腎即以滋肝。（以熟地為君，佐以人參、當歸、茯苓、防風、棗仁、遠志，服二十劑，至春而愈。《芷園臆草》。）</p>
<p><u>附：呂元膺醫案</u></p>
<p>一人病睡則心悸神懾，達旦耳目皆廢，雖堅臥密室，睫未嘗交也。診其脈，左關陽浮而虛；察其色，少陽之支外溢於目眥。呂曰：此得之膽虛而風，諸醫獨治其心，而不祛膽之風，非法也。因投烏梅湯、抱膽丸，熟睡而愈。（《醫學入門》。）</p>

<h2>吐血</h2>
<p>吐血一症，先論外因，孰為要領，手經三陰。理肺衛用甘涼肅降，（沙參、麥冬、桑葉、花粉、玉竹、石斛、杏仁之屬。）治心營以滋養輕清。（生地、元參、丹參、連翹、竹葉、地骨皮之屬。以此兩法為宗。）火灶則增梔子杏仁、黃芩石膏，風淫則加蘆根羚羊角蔗汁薄荷。暑逼氣分兮，加滑石鮮荷葉；暑入營分兮，銀花犀角。間有病屬陰邪，（舊有麻黃人參芍藥湯。）桂枝湯加減已足。至於內因傷損，其法尤詳。嗔怒而動及肝陽，蘇子鬱金桑葉丹皮和降香；貝母；郁（勃日）久而（傷及肝陰木）火內燃陰絡，生地麥冬白芍甘草及阿膠雞子黃。勞煩偏損乎心脾，保元湯歸脾湯是賴；縱欲致傷乎肝腎，都氣丸七味（六味湯加桂或青鉛、並加童便）宜商。若其精竭海空，氣泛血湧，人參熟地枸杞五味當求，河車紫石英是董。至若不內不外，亦非一因，或胃戕乎酒熱，或肺泄乎煙辛，葦莖湯甘露飲藕汁茅根之類。墜墮之傷，先導下而後通補；努力為患，（屬勞傷之根，法與虛損有間。）忌凝澀而取輕鬆。（當歸建中湯、旋覆花湯、虎潛丸、金剛四觔丸之屬。）倘其久延不愈，每以胃藥收功。調養胃陰，偏宜薄味；（《金匱》麥門冬湯及沙參、扁豆、茯神、石斛之類。）扶持中土，莫若建中（湯加人參，及四君加減之類。）且夫血凝成塊，切忌寒涼，吐後氣衝形寒，法當溫納。（苓桂朮甘湯。）左脈獨勁，知肝腎之受傷；（宜地黃、阿膠、枸杞、五味之屬。）右手偏堅，識震動胃絡所致之被爍。脈弦脅痛，當師繆氏仲淳之方；（蘇子、桃仁、降香、鬱金之屬。）盈碗成盆，宜用葛翁可久之法。（花蕊石散，又大黃黃連瀉心湯。）滋陰不效，知陽明之絡空；（血如潮湧而右脈獨澀、非瘀也，宜麥門冬湯加黃耆。）血自左升，由少陽膽陽木火之上逆。喉癢或痛，阿膠秋石堪加；嗆逆有聲，青鉛是益。（上並仿《指南醫案》論。）又若薄厥（大怒而吐血半缶）而脈弦急，六郁湯亦著奇功；火盛而血沸騰（面赤脈躁），桃仁（承氣湯）飲豈無偉績。（《名醫類案》。）投涼而脈愈緊數，宜進純溫；（附子理中湯加熟地。景岳新案。）無端而卒吐血數升，多系中惡。（《巢氏病源》。）要之此症每多瘀滯，寒涼豈可輕投；吐後不盡真虛，脈症所當細察。咯血屬腎，當知崇土為先；（喻氏。）統血由脾，或防食積之挾。（蔣氏。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>霜葉露竹，菊汁梨漿，皆清上之需；童便鱉血，地髓（即生地汁）生津，湯有清下之妙。火燥治之以潤，乳酥飴蜜冬葵；隧滑惟澀可調，髮炭棕灰炭榴殼。阿膠丸、人參蛤蚧散，治肺傷久咳失紅；四生丸百花丸，療火盛刑金唾咯。蒲黃茅根、側柏葉藕節，三七秋石，小薊百草霜京墨艾炭，為消瘀止血之珍；桂附姜茱，黑錫磁朱丸，牛膝五味，乃引火鎮潛之品。若寒濕陰邪動血，必外寒內火兼因，桂枝湯加減麻黃人參芍藥湯師古沖和，靈寶從新。（古法心手高妙，難於執用，以陶氏法加減治之，亦應有當。）先咳後失血者病肺氣；（先傷氣而始於肺，治在肺。）先失血後咳者病心營。先傷血而始於心胞，治在心。</p>
<p><u>附：《醫宗金鑑》血症辨</u></p>
<p>九竅一齊出血，名曰大衄。耳目口鼻齒各自出血，皆名曰衄。鼻出血如泉曰腦衄；皮膚出血曰肌衄。若從口出則為內衄，內衄出血，涎嗽出於脾，唾出於腎，咯出於心，咳出於肺，嘔出於肝，吐出於胃。溺血出精竅；淋血出膀胱。口鼻血大下如湧泉，有內潰腐屍之氣者死。</p>
<p><u>附：《折肱漫錄》</u></p>
<p>陰絡傷則血下溢，陽絡傷則血上溢。誤服攻積之藥，故傷陰絡；誤服破氣之藥，故傷陽絡。</p>

<h2>衄血</h2>
<p>諸經皆能為衄，（不獨肺胃。）另從清道而行，外為六淫之變化，內由五志之掀騰。若其風寒壅甚，（太陽症。）桂枝湯麻黃湯成法宜遵。溫風暑熱怫鬱而流紅，清潤辛涼為主；（連翹、元參、黃芩、山梔、杏仁、鬱金、丹皮、茅花、白芍、石膏、知母、犀角、生地之屬。）火邪極盛而動血，鹹苦涼降宜斟。（知、芩、梔、翹、阿膠、淡菜之屬。）煩冗迫而火從木化，（肝陽上灼。）柔婉有取甘鹹；（膠、地、二冬、淡菜、生芍、茯神、山藥之類。）勞欲過而血遂陽升，滋潛必需厚味。（治同咯血。）格陽則導火歸源（鎮陰煎），血脫則挽回元氣。（獨參湯。）和陽消毒，酒客之方；（本案用養胃陰和法。）益下培中，勞人之治。（治參吐血。）陽明濕熱，宗景岳玉女之方；（即玉女煎。）心膽火炎，仿犀角地黃之例。（上仿《指南案》論。）若夫婦人衄血，因郁為多，法參薛氏，逍遙能和。歸脾湯宣乎肝脾鬱結，肝火達以柴胡。（小柴胡湯。《婦人良方》。）</p>

<h2>便血</h2>
<p>醫便血之為病，由陰絡之受傷，腸風（血在糞前）臟毒（血在糞後），脈痔（下血如箭）分綱，便之先後宜辨，血之遠近當詳，故夫肺病而金燥流紅、桑麻丸天冬地黃銀花柿餅；心病而火燃血沸，補心丹竹葉地黃湯。脾病定然濕滑，宜燥宜升；（茅朮理中湯、調中益氣湯。）肝病（痛迫）責在風陽，可柔可泄。（駐車丸，及甘酸和緩之劑。）腎弱而形消腰折，仗虎潛丸理陰煎之功；膽逆而木火煽營，賴丹皮柏子仁桑葉梔子之益。大腸（為燥府，每多見患）濕勝風淫，胃經（為水穀之海）多氣多血。腸宜苦燥辛涼，胃病（宜寒、宜熱、宜補、宜清）治難執一。爾其努力損傷，法宜通補；（歸耆建中湯。）膏粱蘊結，治主疏清。（苓、連、朮、樸、地榆、槐米、陳皮、升麻、葛根之屬。）黑地黃丸兼司脾濕腎燥，天真丸大補元精；斑龍丸以溫煦奇督，歸脾湯以守補心營。平胃地榆湯，升降脾胃；禹餘糧赤石脂，堵截陽明，枳朮丸調中州自妥，建中湯扶生陽應須；五仁湯復從前之腸液，養榮湯法善病後之元虛。又如陰虛腸紅洞泄，劫胃水以生茅朮生厚朴附子炭、炮姜；肝絡熱勝陰傷，（陽浮鼻塞頭暈嗆咳。）靖浮陽以生地元參天冬、石斛。（又補陰丸、虎潛丸。）厥陽擾絡，（沖氣入脘，痛嘔便血。）龍薈丸鎮風木乘巔（眩痛）；嗔怒動肝，（絡血乃下。）駐車丸平嘔脹裡急。臟陰有寒兮腑陽有熱，當互參《金匱》（谷疸篇）之文；（血脫氣餒，喘促浮腫。）中下交損而八脈全虧，（尾閭痛連脊骨，食入頭暈。）宜峻補玉堂之闕。（斑龍丸加韭子、菟絲、赤白茯苓、補骨脂。）陰虛絡熱肝風動，（腸紅三載不已，左脅及腹不爽。）疏補甲木（熟地炭、當歸、楂肉、地榆、丹皮俱炒，冬桑葉）是神方；（四劑血止。）跗膝常寒骨髓熱灼脊椎腰尻酸楚，（瀉血二十年，不得育，經水仍至，心中痛墜。）升固奇經真妙術。（鹿茸、鹿角霜、枸杞、當歸身、紫石英、炒蒺藜、杜仲、大茴、補骨脂、禹餘糧，蒸餅為丸。上並約《指南案》論。）若夫下血如線或點滴，治脈痔以烏（頭黃）連湯；（《三因方》。）腸癖（下血，另作一派，𣹜出有力）遠射（四）散如篩，（腹中大痛，乃陽明經熱毒也。）宜升陽而除濕（湯。《治法匯》。）至於陽滯於陰，非郁即瘀，郁宜緩解，瘀必徐驅。當周知乎萬變，勿膠執於一隅。</p>
<p><u>附：《醫級》摘要</u></p>
<p>血在糞前者，近而在腸，糞後者遠而在胃；在腸者宜清導，在胃者宜養攝。下血便血，雖同一泄血而大有不同，蓋便血徐緩而下血急暴。凡心肝脾腎陰絡內傷，無論虛實，皆能下血，若血脫者立危。暴至新邪，清導可已；精虛陡發，調補難平也。</p>
<p><u>附：《醫宗金鑑》</u></p>
<p>熱與風合為腸風，下血多清；熱與濕合為臟毒，下血多濁。</p>

<h2>遺精</h2>
<p>原夫遺精一症，在分夢之有無，及乎濕熱，三者分途，所以有夢責心，無夢責腎，小腸膀胱濕熱為病。有如腎精虧乏，相火易騰，治以養陰固澀，厚味填精。（熟地、枸杞、山藥、萸肉、桑螵蛸、龍骨、芡實、蓮子、茯神、五味、遠志、淡菜、龜甲之屬。）若乃無夢而遺，腎關不固，桑螵蛸散固攝有功，滑與澀不嫌相左。（牛羊豬骨髓加入固澀藥中。）抑或煩勞太過，脾胃受傷，坎離未濟，（心腎不交。）上下交損戕，歸脾湯補心丹治有夢而遺泄，妙香散參朮膏並良方。又或陰虛不攝，濕熱下流，黃柏黃連二苓澤瀉，萆薢為儔，能泄厥陰鬱熱，兼通腑氣斯瘳。如具下虛上實，遺滑偏多，火風震動，脾腎液枯，通攝下焦最合，二至百補丸宜需。龍相交戰兮陰精泄，泄也。大補陰丸滋腎丸協；又有三才封髓丹，峻補真陰火自熄。爾其房勞過度，精竭陽疲，隨觸隨泄，不夢而遺，是宜升固八脈之氣，固精丸兮專司。更有膏粱醇酒，濕熱下淫（而為夢泄），苦參豬肚丸服，中宮病本方清。若乃精關久滑，澀劑無功，牛羊豬髓龍骨、牡蠣，麋膠余藥參同見前。又如腹脹便溏，色黃食少，（有夢遺泄。）陰柔澀膩難施，煦陽涵陰方妙。（菟絲、覆盆、五味、韭子、益智、龍骨、補骨脂、建蓮粉丸。上仿《指南案》論。）又聞（一人夢遺，服澀藥反甚，先從）神芎（丸大下之，次與豬苓丸而愈。每以豬苓丸治夢遺輒驗。《醫學綱目》）涼膈（散，青木香丸。一人丁年合目即泄，肢倦夢惕，作虛治罔效，以二方互換，疏導三五次，更服三黃丸而愈。王中陽案。）蛤粉（丸：蛤粉、黃柏、知母等分粥丸，青黛為衣。不應，宜五倍子一兩、茯苓二兩，丸服妙。《治法匯》）滾痰（丸，一人脈洪，腰熱遺精，用此丸下之，導赤散瀉其火而愈。丹溪案，又《治法匯》亦有案。）豬苓丸導赤散，（並見上，）龍膽瀉肝，（下部濕熱，白液時時黏糊，此非精，乃濕熱薰蒸而成，肝脈必弦數，宜用當歸龍薈丸，並龍膽瀉肝湯。《治法匯》。）並治滑遺有驗，諸家治法宜參。</p>
<p><u>附：《折肱漫錄》</u></p>
<p>夢遺之病，患之者甚多，非必盡因於色欲過度，大半起於心腎不交。凡人用心太過，則火亢而上，火亢而水不升，而心腎不交矣。士子讀書過勞，功名心急者，多有此病。凡病起於心，大都非藥石之所能療，故治遺少良方。</p>
<p><u>附：《醫級》摘要</u></p>
<p>陰寒精出者，遺而不舉；強中自出者，易舉易遺。癢痛狀如欲溺，分清飲加龍骨牡蠣；溺後餘瀝流精，妙香散合辰砂五倍子。中虛脫陷，補中苓朮菟絲；肝胃火燔，逍遙丹梔固精豬肚。</p>

<h2>淋濁（附：溺血）</h2>
<p>淋有五淋之名，濁分精濁便濁之別。氣分白與血分赤殊因，精道與水道須核。（遺由精竅，濁由溺竅。又淋屬肝膽，濁屬心腎。）大凡秘結宜通，滑脫當補。濕熱甚而不宣，徹其泉源；（萆薢、瞿麥、木通、赤苓、萹蓄、茵陳、海金砂、竹葉之屬。）心陽亢而下注，利其火腑。（導赤散加赤苓、瞿麥，又參、苓、連、柏、茯神、生地、丹參、桔梗、石菖蒲。）血瘀化結有方，氣陷升陽無誤。唯夫病屬厥陰，其症孔棘；少腹痛繞前陰（如刺），小溲難通點滴，（環陰之）脈絡皆痹，氣化機關欲息，治其滑利通陽，辛鹹泄急，韭白、小茴桂枝、川楝子兩頭尖，歸尾穿山甲杜牛膝根汁沖。若夫便濁之恙，氣虛濕熱殊由：實者宣通水道，虛者調養中州；若其虛中有實，益臟通腑宜周。精濁因損傷肝腎而致，精瘀精滑宜分：瘀必先清（其離宮之）腐濁，（繼以補腎。）滑宜固（補斂）攝元真；不應當（從真炁調之）師景岳，（所謂理其）無形能以固有形。然而肝腎兩治以外，八脈之妙誰知，龜膠鹿茸及膠霜杞子、當歸小茴茯苓鮑魚，柏子仁、人參胡桃韭子菟絲子、覆盆補骨脂，升奇陽而固精絡，強督腎以實漏卮。尿血一症，虛者居多，（若有火亦能痛。）痛與血淋同治，久則耑究乎虛，在陰陽之能晰，亦奇脈之為疴。陰虛（於下，為淋）賴都氣（丸）之功（早服），氣阻（於上，氣短胸痛）藉威喜（丸）之力（晚服）；滋腎丸療（陰虛）濕熱之痛淋，（萆薢）分清飲治脈沉而（下焦）陽窒（淋濁澀痛）。小腸火府，非苦不通；（心熱遺腑為淋濁，方見其利其火腑條下。）熱走入陰（陰虧，酒濕下墜，）宜（苦味）堅（陰）忌澀。（熟地、龜膠、秋石、天冬、茯苓、黃柏、知母，豬脊筋搗丸。）氣閉（成淋，此係婦人）則開肺圖功，（紫菀、杏仁、鬱金、蔞皮、降香、山梔、苡仁、枇杷葉。）下墜則攝陰奏績。（血淋管痛，每二便墮下更甚。蓯蓉、柏仁、杞子、大茴、茯苓、牛膝。）通瘀腐，虎杖散最奇；（杜牛膝根汁入麝香一分。）導腑熱（血淋管痛，色蒼脈實。）龍膽湯有益。（蘆薈、山梔、郁李仁、紅花、當歸、酒大黃、龍膽草、丹皮。上並仿《指南案》論。）身瘦脈洪數知有火，當瀉肝腎之陽；體肥脈滑定因痰，宜燥中宮之濕。（《治法匯》。）血淋因乎傷暑，小薊（飲子或）導赤（散）合香薷（飲；《客座紀聞》。）白液滲自毛間，六味（湯）歸柴及芍柏。（《證治匯補》。）精元素滑，處方每忌沉寒；痞滯中焦，見症都由濕熱。（《生生子醫案》。）</p>
<p><u>附：《醫級》溺血摘要</u></p>
<p>先痛後血，病從實論；先血後痛，症作虛評。桂圓酒，蒲茸丸，溺血久者必效；小薊飲子，桃仁四物，（即元戎四物湯。）溺紫黑者必斟。肝脾流赤濁，龍膽（瀉肝）七正（散）血淋（方）；中虛泄後疼，補中（益氣湯）丹皮梔子荷蒂。自注云：溺前痛，多膀胱小腸之滯；溺後痛，乃心肝胃腎之虛。其有痛而泄溺，溺泄而復痛者，此虛中有滯未清、當消息其虛實多寡，以調導兼理之，庶乎有當。</p>

<h2>痰飲</h2>
<p>痰因火動，飲自陰凝，由氣而化，本濕而生。欲識伏痰，當心似阻；何知留飲，面色鮮明。（本仲景。）外飲內飲異症，主脾主腎殊方。治飲不當治咳，（仲景云：飲家而咳當治飲，不當治咳。）通腑即是通陽。開太陽（苓桂味薑湯）則濁自下走，暖少陰（真武湯、腎氣丸）則濕自內攘。攝腎固真，治痰之本；（熟地、枸杞、補骨脂、胡桃、茯苓、五味、遠志、牛膝、車前。）溫中泄濁，滌飲之綱。（苓桂術薑湯加苡仁、澤瀉。）肺逆喘腫，越婢湯合乎小青龍湯；濁泛陽微，腎氣丸繼以真武湯。支脈結飲，宜通上焦之陽；（薤白、瓜蔞皮、半夏、茯苓、桂枝、薑汁，又桂苓味甘湯。）懸飲（流入於）胃（絡而痠痛，或左脅肋痛）疼，當進辛甘之伍。（吐酸者，桂枝、半夏、茯苓、附子、川椒、薑汁。左脅痛，薑、棗、桂枝、人參、茯苓、炙甘草。）邪結肺衛兮，（氣喘，咳吐濁沫，不能著枕，肺右大弦，遇寒病發。）葶藶大棗應需；溫經通絡兮，（背寒、短氣、背痛應心，貫脅入腰。）蜀漆川烏必佐。（桂枝、白朮、厚朴、茯苓。）痰流胃絡，進二陽（太陽、陽明）開闔之方；（見前左脅痛一方。）飲聚陽傷，與外臺茯苓飲之劑。（又小青龍湯去麻辛。）豬肚丸止濕熱之白濁遺精，（痰飲下流；）桂枝、茯苓白朮、甘草飲治胸滿而短氣。（上並約《指南案》論。）且夫痰之為患也，既流而善幻，亦伏而多頑。喜在暗處兮，脈伏妄言；遍身生塊兮，（塊即痰也。）頭暈欲顛；冷痛而（滿腹）攻注兮，頻湧吐夫膠冷涎。或胸膈大疼，疼止而膝䯊極痛；（痰飲隨氣升降也。）或無端喘滿，（不咳不吐痰。）喘已而水腫綿延；（腿腳陰囊盡腫。）或（心腹冷痛）吐（清）涎如雞子之白；或脈勁類真臟之弦。凡此之類，醫案釐然。（上並約《名醫類案》。至於四飲各有見證，《金匱》治法當宗，痰凝心肺類胃翻，（吐逆嘔食，嘔甚出物似痰非痰，似血非血，膠稠色褐，胸脅脹痛徹背，作反胃治肺癰治益劇，此由鬱怒，血與痰交壅於心肺也。）酒煮常山紅花可吐；（出紫黑痰塊盆許而愈。）痰伏胸中不得出，（喜聞爆竹聲。）牛黃薑汁、竹瀝宜沖（入治痰藥）。芎辛湯佐防風，療頭風之似癇症；（狂叫歌哭，一邊眼與口角吊起。）二陳湯黃芩等丸服，愈目昏而脈浮洪。（火載上行故也。並《續名醫類案》。）痰火上升則面赤足冷，絕似孤陽；（羅謙甫案。）痰挾火則目暗耳鳴，宛如虧症。）《醫門法律》。）勿混虛寒，均宜諦審。他如腳氣發黃，拘攣顫振，瘧痢痛痹，一切奇病，並有屬痰之因，當博求諸古訓。</p>
<p><u>附：《醫級》摘要</u></p>
<p>偏弦者飲，飲留肺經者，每沉潛而不弦；盛滑者痰，痰自虛生者，但平緩而不滑。</p>
<p>膨滿胸膈，牽釣經輸，行吐法捷效；流注胃腸，硬滿下腹，惟得下乃安。</p>
<p>甘遂半夏，為行散水飲之需；枳朮丸牡蠣椒目，乃飲結消補之劑。薤白瓜蔞，療咳嗽臥難掣痛；半夏茯苓烏藥桂枝，通飲流背脅痠疼。</p>
<p><u>附：辨痰色</u></p>
<p>液所以養筋，澀而不行，則痰聚於膈上而手足弱。火痰色黑老痰膠，濕痰色白寒痰青。又咳白痰者，肺感風寒也；綠痰，脾胃有濕也。久不愈，成肺痿，難治。</p>

<h1>卷二</h1>

<h2>咳嗽</h2>
<p>咳因氣逆，嗽以痰生。外感六淫異法，內傷諸候分因。木叩金鳴，當肺肝之並究；（阿膠、雞黃、生地、天冬、女貞之屬。）腎虛痰泛，必金水以同寧。（都氣飲，喘逆者加青鉛，或六味、右歸加麥冬、五味。）土不生金培戊己，（脾胃。補胃用甘涼，補脾用甘溫。）堪期遄喜；心能刑肺瀉丙（小腸火）丁（心火），可望旋安。寒熱相包，麻杏石甘湯為聖藥；（《醫級》賦云：嗽而渴飲聲嘶體痛者，亦宜麻杏石甘湯。）氣衝勞嗽，生脈（散）六味（丸）是神丹。嗽久而巔脹喉痹（脘痞，治肺無效，）厥陽（肝風）為患；（牡蠣、阿膠、青黛、淡菜。）咳甚而耳充鼻塞（竅閉喉癢），膽火相干。（羚羊角、連翹、梔皮、薄荷、苦丁茶、姜皮、杏仁、菊花葉。上並約《指南醫案》。）至於內外合邪，（《內經》所謂形寒飲冷則傷肺，及暑濕之邪與素蘊之熱相合是也。）非青龍（湯治形寒飲冷）即宜白虎（湯治暑濕內熱；）咳（而且）利交病，由肺熱亦屬腎寒。（二症水火不同，總以迴護中氣為主。《醫門法律》。）附子理中（湯）能痊寒嗽；葶藶大棗（湯）最快郁痰。（吐痰極多，喘咳面黯，胸膈不利。）天行暑濕（咳嗽）且頭疼，薑汁（蔥薑湯調）益元為散；久嗽頻年無他症，烏梅百部煎膏。（蟲蝕肺而嗽者，用烏梅、百部，見李士材案。無則但宜一味百部膏。上並《名醫類案》。）小兒夜半嗽頻仍，腎虛是擬；（人參固本丸，加阿膠、蔞皮。）（董氏《醫級》云：夜間嗽者，宜佐血分藥，如紅花、當歸、香附、青蒿、知母之屬。）喘家鼻扇脈洪大，肺脹奚逃。（越婢湯加半夏。）嗽兼嘔而屬腎虛（與胃咳不同，）地黃丸效勝；嗽且熱而由伏暑，白虎湯功饒。（佐天水散，並《名醫類案》。）熱蘊肺肝，（發熱喘咳，六脈數大，兩頰俱赤。）丹皮倍入逍遙散；下虛喘急，（多痰不能仰臥，兩尺脈獨大而軟。）枳殼桔梗半夏甘草湯下地黃丸（一兩。萬密齋案。）肺（燥）胃（濕）性偏殊，治燥咳妙參斂散；（治秋傷於燥，冬生咳嗽之症，惟《千金》麥冬湯、五味子湯二方，燥濕互用，斂散參投，獨得其秘。張飛疇《治燥咳論》。）秋冬嗽輒甚，清鬱熱法有兩端。（老瘦而脈洪滑者，三補丸加酒炒大黃、貝母丸服，每年立秋前，服滾痰丸三五十粒；脆弱兼虛症，脈浮緩而濡者，補中益氣去升、柴，加黃芩、麥冬、五味，病發即進。汪石山案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>暑風咳，藿薷湯最效；風濕嗽，神術為靈。先咳後瀉肺熱移，葛根芩連（湯）甘桔（湯）；先瀉後咳脾濕動，五苓散胃苓（湯）陳平（湯）。燥淫而致槁爍，資荷露蔗漿以救液；溫熱而動痰火，賴冰雪水鮮地黃汁以除焚。火亢刑金，犀羚膽菊；陰虛木僭，雞子膠連。</p>

<h2>喘（附：哮喘）</h2>
<p>治喘大法，當別兩途。在肺為實，在腎為虛。實而寒兮，（必挾凝飲，上干阻氣。）杏仁、厚朴桂枝湯、小青龍湯並主；實而熱兮，（蘊伏之邪，蒸痰化氣。）石膏甘草麻黃杏仁葦莖湯同需。若虛喘之治例，分氣脫與精傷，填精必資濃厚，鎮攝之品兼襄。從陰兮青鉛入于都氣丸，從陽兮腎氣丸加以沉香。倘其吸傷元海，氣脫根浮，草木無情難恃，人參紫河車紫石英五味子宜投。續元真於頃刻，補天之治誰侔。肺氣壅而喘滿瀕危，（瘡毒內閉，小便不利，三焦閉塞。）用中滿分消之法；（葶藶、杏仁、桑皮、厚朴、豬苓、通草、大腹皮、茯苓皮、澤瀉。）支飲逆而肝升莫制，（因努左脅氣衝即喘，背上一線寒冷，直貫兩足。）宗《金匱》旋覆花之湯加半夏。氣散（失納，腎）液已枯，（老年久嗽，身動即喘，喉舌乾涸，大便乾澀，小便如淋，非病也，衰也。）枸杞、熟地胡桃補骨脂青鹽牛膝巴戟天；陽虛濁飲泛，（沖逆妨臥。）人參豬苓澤瀉附子、茯苓乾薑。補土生金，（氣虛勞煩哮喘。）建中湯去姜加人參最妙；下虛上實，（腎氣不納，厚味蒸痰。）早晚分治為長。（熟地、萸肉、龜甲、阿膠、牛膝、茯苓、遠志、五味、磁石，秋石蜜丸。早服。臥時另服威喜丸。竹瀝、薑汁泛丸。上並仿《指南案》論。）又如逍遙散入茱連，治郁喘而當效，（脈澀肢冷拂拂，氣促而喘，此火鬱之症。《醫貫》。）白虎湯加瓜蔞仁枳殼、黃芩，療火喘以彌良。（初虞世。）喘作而得食（墜下稠痰）稍止，（稍久，食已入胃，反助其火，喘反大作，此痰火上升之症。）不盡中虛；（戴復庵。上二案並詳見《證治準繩》。）虛喘（半月）而投（溫補）藥暫安，未堪深恃。（子時一陽初生，憊極而腎氣不升，至寅時而仍死。高氏案。）肺脹向推越婢湯，或純用收斂而痊；（《醫統》云：宜五味、烏梅、粟殼、款冬、五倍子之類。）久喘（廿餘年）多屬肺虛，或獨清陽明而止。（喘症虛實，不可專執新久為斷。《醫貫批》）若夫哮喘之患，遇冷輒劇，一屬驟寒包熱，越婢湯加半夏相宜；一由中外皆寒，參蘇溫肺湯為合。（婁氏。）所以痰氣宿哮，肺俞為病，病發搜邪，病去養正。腎氣丸真武湯，平時治本法偏佳；葶藶（大棗湯）、小青龍湯，臨急救危功獨勝。（《臨證指南》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>喘症虛實迥別，凡氣機虛促之人，其感無論內外，病則喘象隨形，倘無實證而誤攻之，其變甚速。</p>
<p>定喘（湯）金沸（草散），治肺寒膈熱痰嘶；貞元飲金匱（腎氣丸），療元海無根氣竭。（惡寒反渴者，亦宜溫清並用。）</p>

<h2>失音</h2>
<p>蓋聞金空則鳴，金實無聲，或金破碎（亦無聲），並令失音，是以外寒內熱，無如麻黃杏仁甘草、石膏湯；膽火爍喉（氣燥喉痹），必用桑葉丹皮雞子白。（又麥冬、生扁豆殼。）肺失清肅，（喉干失音。）自屬液虧；（瀉白散加麥冬、桔梗、馬兜鈴、枇杷葉。）病閱春秋，（秋燥咳嗽，冬月失音，至夏未愈。）依然金實。（麻杏甘膏湯加射干、苡仁。）爰有久咳失音，喉痹為殃，沙參甘草、生地茯神，麥冬石斛阿膠雞子黃。血後音啞而便溏，與甘緩平調之法；（扁豆、白芍、炙草、石斛、山藥、米糠、大棗。）勞損食衰而喘泄（便溏），選脾腎兩補之方。（熟地、五味、山藥、茯苓、芡實、蓮肉。）至如木火爍金，熱痰壅（遏肺）竅，內奪（而）厥（則）為喑痱，龍相（之火上）炎兮如燎。（凌爍肺金，久咳失音。）凡瀉實而補虛，總宜（甘）潤而忌（苦）燥。（上並約《指南案》論。）若夫五臟之病，並能為喑，憂思（心）驚恐（肝），酒色（腎）怒瞋（肝），飢飽勞役（脾），火燥刑金（肺），或熱極驟飲冷水，與風（邪）寒氣暴吸同因。（《景岳全書》。）肝脈鶩暴（有所驚駭，脈不至）而聲喑，（《內經》言不治自已，景岳謂宜用）降氣（湯、七氣湯）（七氣湯即《局方》四七湯）及潤下丸為治；風中廉泉而不語，（因醉臥當風所致，右關浮而滑，脾臟連舌本故也。）荊瀝化至寶丹而寧。（《名醫類案》。）勞嗽失音，集靈（膏，人參、枸杞、牛膝、二冬、二地、熬膏加蜜）可效；（用此方加減治二人，皆發痔而愈。魏玉璜案。）陰寒或逼，八味丸宜吞。（《治法匯》批。）及乎亡血產後，叫號喉破，治法並主補虛，或可免於沉痼（《治法匯》。）</p>
<p><u>附；《醫級》摘要</u></p>
<p>火為寒激而爍沙，得溫開以即愈；（枳、桔、薑、蔻之屬。）邪變風虛而聲息，必開斂以調培。勞風血風，宜秦艽扶羸，或與人參荊芥；腎虛內奪，需元參丹皮腎氣丸，或投左歸飲十全大補湯。風寒需羌活葛根柴胡、細辛，痰火與黃芩黃連陳皮半夏。怒損解肝（煎，四七湯加白芍、砂仁、陳皮）降氣，歌傷甘桔湯清音。</p>

<h2>肺痿（附：肺癰　勞風）</h2>
<p>徐氏曰：余妄病肺痿，涎沫成碗，用《千金》一味甘草湯，服過半月，疾少而愈，但最難吃，三四日內，猝無速效耳。</p>
<p>肺痿何因，津枯液燥。（多由汗下傷正所致。）潤燥生津，補虛為要。肺之小管宜通，（清火熱以復）肺之清肅毋耗。補母（益胃陰）救子，應師《金匱》之麥門冬湯；滋燥益虛，必仿《外臺》之復脈。（炙甘草湯。）過辛傷正，甘緩如沙參麥冬南棗飴糖：陰損陽衰，（液傷正虛。）填補若參耆歸（身、白芨。實宜絲瓜子桃仁，（又蘆根、苡仁治肺氣不降，咳痰嘔逆。）虛利苡仁百合。（上約《指南案》論。）乃若肺冷多涎（沫，頭眩不咳不渴，必遺尿小便數。）亦宜溫養；（用炙甘草、生薑，與虛勞異治。《治法匯》。）肺痿（多）不渴，勿擯生津。（不可因其不渴而反用燥熱之品。《醫門法律》。）肺癰為陽實而血凝，熱邪壅兮宜瀉；（始宜散邪，次宜下氣，又當分殺其勢於大腸，令膿血下行為妙。同上。）勞風必（惡風而）振寒而出（青黃）涕，（本《內經》，）痰涎滯兮當清。（此症由風寒）（入肺，若誤以為肺痿、肺癰，則失之遠矣。《蘭臺軌範》）</p>
<p><u>附：《折肱漫錄》</u></p>
<p>諺云：傷風不醒結成勞，蓋金水為子母，金傷則不能生水，水不能制火，火乘金而益敗，此勞嗽失血之症，所由成也。故肺病極宜斷色欲。</p>

<h2>肺痹（合胸痹）</h2>
<p>肺為嬌臟，不耐邪侵，清肅何為痹塞，大端不外六淫。因風則宜牛蒡桑葉薄荷之屬，因寒則用麻黃杏仁之屬。桑皮苡仁滑石通草，（又威喜丸，）主乎濕病；梨皮蘆根枇杷葉紫菀，治乎燥因。開氣則香豉瓜蔞皮蘇子桔梗、白豆蔻，清熱則石膏花粉梔子羚羊角。蓋夫肺主百脈，為病最多：葦莖湯理上焦之氣壅，葶藶（大棗湯）法救上痹之危疴。肺病腸痹，清其臟而腑自利；胃病治肺，調其子而母自和。濕熱傷金，銀花貝母羚羊角、連翹威喜丸，嬰兒喘急，瀉白散苡仁、竹瀝冬瓜仁蘆根汁。（上並約《指南案》論。）若乃似喘不喘，氣閉不宣，咽嗌不利，肺痹為愆。息賁如何？語言蹇澀，胸如物礙，上下痞塞。至如胸臆窒痛，呼吸氣粗，是為肺疝，審證毋訛。（痛則為肺疝，不痛則為肺痹息賁。《證治百問》。）胸痹（胸中陽虛不運，久而成痹）異乎胸痞，（痞因不一，痹則但有寒症。）瓜蔞薤白（白酒湯）何神，（方本《金匱》，葉氏宗之，加減而治。）流運清陽為主，隨機加減斯靈。上病宜宣，（脈伏氣壅，痞脹格拒，在脘膈上部。）三物白散可吐；（方詳原集。）陽微不運，白朮甘草、茯苓桂枝同遵。（上約《指南案》論。徐注云：葶藶湯治肺癰；氣走於經，而為一身面目浮腫，攻於肺竅，而為鼻塞清涕出，不聞香臭。酸辛相合，則表裡均平，故先用小青龍一劑，而後專瀉肺家之熱，亦拯危之巧思也。）</p>
<p><u>附：《外臺秘要》</u></p>
<p>炙甘草湯治肺痿涎唾多。徐氏注曰：此方以生津潤燥為主，桂枝性熱而不嫌峻者，桂枝得甘草，正所以行其熱也。</p>
<p><u>附《千金方》</u></p>
<p>韋莖湯治肺癰。注曰：葦莖解陽分之氣熱，桃仁瀉血分之結熱，苡仁下肺中之濕，蓋胸中煩滿是挾濕也，瓜瓣清結熱而吐敗濁。</p>

<h2>脾胃（合不食）</h2>
<p>脾胃之論，必當分析，臟腑之體既殊，（臟宜藏，腑宜通。）陰陽之性自別。脾屬己土為陰，胃屬戊土為陽。所以胃司納食，脾主消磨；脾宜升而始健，胃宜降而後和。於是養胃陰以扁豆石斛沙參、麥冬，通脾陽以白朮茯苓乾薑附子。升降有法，東垣已詳，甘緩養營，建中湯不誤。陽明（陽土）得陰自安，（太陰濕土，得陽始運。）腑病以通為補。濁陰易聚，（胃陽不旺。）當進溫通；（良薑、草果、紅豆蔻、厚朴、生香附、烏藥，）清陽失司，（臍上聚氣橫束，食難用飽，三四日一更衣。）宜宣痹阻。（薤白、瓜蔞汁、半夏、薑汁、桂枝、鮮菖蒲。）況乎九竅不和，（病傷不復，不飢不納。）都屬胃病，欲令胃氣下行，須用甘涼濡潤。（麥冬、麻仁、炙甘草、生白芍，沖甘蔗汁。）若其胃汁全虧，心營熱入，（此以下俱論不食。）假寐驚跳，不飢不食，麥冬生地麻仁，知母銀花竹葉。風濕氣阻，杏仁蔞皮橘皮滑石鬱金連翹；病後不餐，知母、石斛茯神、佩蘭葉蓮子大麥仁。（上並仿《指南》按論。）又聞兩關脈沉弱，（病脾數年，食少神瘁，服補脾腎藥罔效。）當培己土之失；（脾以肝為用，助肝則脾自舒，以參、苓、歸、芍、陳、草、防風數十劑，遂善啖肥濃，宿疾脫然。《芷園臆草》。）右尺脈偏洪（大侵上，右寸微沉，口乾飲冷，連年不食，諸治不效。）宜抑三焦之火。（升上而侮金，以黑山梔為末，用人參二分、麥冬一錢、烏梅二枚，沖湯調服二茶匙，二服即知飢喜食，旬日全愈。易思蘭案。）能食而不化，（病在脾。）溫腎以壯脾陽；（腎火能生脾土。）能運（食下安然，但）不思（食，病在胃），補心（火）可生胃土。（棗仁、茯神、遠志、菖蒲、蓮子之屬《石室秘錄》。）收納胃陰誰最妙，思食（丸）以烏梅（四兩）為君；（木瓜半兩，麥芽、神麯各二兩，甘草、茯苓各二錢半，蜜丸噙化，治反胃噁心，不思飲食。徐氏云：用烏梅、木瓜，方甚巧。《蘭臺軌範》。）斡旋倉廩又何方，二神（丸，肉果、五昧子）以木香作輔。（使之斡旋倉廩，倉廩空則能受物，屢效。《瑞竹堂方》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>濁不輸而清不化，則為頭足腫浮；食行陰而不行陽，必聚臍旁動氣。面痿黃而喉腥脘痛，加韭汁于越鞠（丸）；食不進而四肢倦怠，入參朮於和中（飲）。噁心噯腐吞酸者中虛，六君理中丁蔻；飲泛酸嘈上衝者虛逆，理陰（煎）金水（六君煎）丁沉。</p>
<p><u>附：《折肱漫錄》</u></p>
<p>凡人脾胃氣虛，而飲食難消者，必以參朮為主治，而少佐以消導。初服或覺痞悶，悶後必得漸爽，若專治其食，則愈消愈虛，而食愈不消矣，此與治痰同理。</p>
<p>又云：枳朮丸非健脾之藥，不可多服。</p>

<h2>三消（附：嘈雜）</h2>
<p>三消一症，病屬何因，陰虧陽亢，津涸熱淫。腎氣丸助真火以化液，神效散（一味文蛤）取介屬以生津。具通天之手眼，為萬世之準繩。他如地黃引子，（《易簡》。）消渴（方，丹溪）茯苓（丸），黃耆（湯、生津）甘露（飲），成法咸斟。（原論謂其紛紜錯雜，毫無成法可遵，然其方亦多有可採者，故易之。）有如久困煩勞，體衰肌損，營絡虛燃，善飢渴飲，犀角元參、生地麥冬柿霜甘草、地骨皮，又沙參還宜入固本（丸）。肝風（上衝為）眩暈，犯胃為消，生地阿膠甘草、生白芍，知母石膏，抑有臟陰為病，水涸土焦，人參麥冬、粳米佩蘭葉陳皮、石斛，肝病治胃（乃仲景法）良超。膈膜成燎原之場，（腎陰虛，心火亢。）玉女煎兮可法；陰液被元陽之爍，甘露飲兮能調。舌碎赤兮溲溺渾（濁），腎陰虛兮胃火亢，六味加入二冬，旱蓮草、石斛龜甲、女貞足尚。（上仿《指南案》論。）又聞食少善飢，茶飲不輟，便燥溺多，肉消脈澀，純用滋填，何能已疾，爰合人參白虎，及乎七味白朮（散），微佐桂附（反佐）升麻，（以升清陽之炁。）大劑濃煎頻啜，參從治以升清陽，更靜調而逐出厄。（陸肖愚案。）更有積勞不眠，上焦無渴，每夕去尿二升，濁液如膏羸極，歸脾湯合（大）補元煎，三百餘劑而病息。（張景岳案。）伏暑煩心而渴，火府丹略仿治淋；（許學士案。）心寒移肺而消，（本《內經》。）八味丸或參損益。（即加減八味丸。胡念庵。）因蟯蟲而病消渴，苦楝煎根；（《醫統》鉤元。）嗜海味而爍真陰，（亦能成渴。）蔗梨搗汁。（《醫宗說約》。）至於食果太多，嗜酒成渴，枳椇湯下麝香丸，葛花煎調五苓散末。鬲消由心熱移肺，（本《內經》。）蜜煮生薑；水阻而真液不潮（於口，故渴，）湯宜春澤。（五苓散加人參。）其他何藥為佳，繅絲湯（能瀉膀胱中相火，引氣上溯於口）及生脈（散）。（如無繅絲湯，絲棉煎湯亦可。）（張三錫曰：渴家誤作火治，涼藥亂投，促人生命，必多服生脈散為佳。並《治法匯》。）若夫陽升嘈雜，藥用柔甘。心陽熱而易飢，（心熱頭汗，）甘草小麥南棗硃砂和柏子仁茯神；脾陰虛而胃燥，甘涼濡潤佐微酸。（生地、二冬、女貞子、生白芍、石斛之屬。）悽悽慼慼水凌心，（此陽虛似嘈之症。）當溫脾而逐飲；煩眩吞酸（少寐噁心，似飢非飢）嘈屬（痰）火，必清胃以行痰。（《指南案》論。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>參葉、綠豆、牡蠣、石決明、龜甲、菟絲、花粉、枸杞頭、荷露，並治消渴。</p>

<h2>痞</h2>
<p>痞滿何因，氣結之恙。脾胃內病，苓姜（桂甘湯）法甘緩轉旋清陽；六淫外侵，瀉心湯辛通苦降。邪傷津液，酸味用佐苦辛；痞在上焦，清陽急宜疏暢。是以保和丸化食，白金丸驅痰。陳腐膠黏，（脘腹熱氣下注，隱然微痛。）梔子、豆豉鬱金桃仁姜皮降香、杏仁協；熱邪成痰凝阻，人參黃連鬱金枳實半夏菖蒲攢。氣結無形，（不飢不食，不大便。）投清養兮自合；（石斛、甜杏仁、川貝母、麻仁、省頭草。經絡為病，瘡痍外涸，脘脅反痹。）治腑臟兮何關。（鉤藤、生白蒺、鬱金、白蔻仁、桑葉、桔紅。）勞倦挾伏邪，（目黃頭脹。）姑仿三焦治例；（滑石、黃芩、厚朴、半夏、杏仁、蔻仁、竹葉。）濕濁阻遏，（胸痞自利。）另投化食湯丸。（前方合瀉心法，送保和丸。二條同一案。）知母、黃芩枳實橘紅，同竹茹滑而滌暑邪；（阻氣不飢不渴。）麥大麥冬、石斛佩蘭葉，協二陳（湯去甘草）以蘇胃困。（余暑未盡。）營液久耗，（氣短神倦，脈微歇止。）雖脘痞（不食）不耐辛通；（服大半夏湯，脘痛不安，改用生脈散。）清陽先傷，（精氣內損。）滋臟陰反增滯悶。（桂枝湯去芍加茯苓。上約《指南案》論。）又如陰火上炎而氣結，或推知柏之良；（炒黃柏，或少佐四物、知母。）氣藥治痞而無功，勿惡芎歸之鈍。（海藏曰：治痞獨益中州脾土，以血藥兼之。）至於多郁（人）悲哀（過度，或大）怒後成痞，（或痰中見血，或口中有血腥氣，脈沉澀。）但有瘀滯之徵，從血治而可已。（又有疾挾瘀血，或窠囊而作痞者。並《治法匯》。）若夫痞因勞倦，（思慮絕口不食。）大補始克圖功；（參、朮、歸、地、薑、附之屬，半月始愈。）痞屬純虛，微補豈能遄喜。（八物湯加參二錢，猶脹，加至三錢始不脹。張景岳、陸養愚二案。）消補之宜互酌，權參朮木香豆蔻之重輕；（詳陸肖愚案。）肝脾之氣不升，（體倦胸痞，眩暈不食，脈寸關不透。）與八珍湯加升麻柴胡而立起。（盧不遠案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>宗氣怯而略行破利，即未下而痞結亦形；凡（膻中不足者，多言則氣怯，感邪則胸膈不舒，少與枳、樸，反見痞結。）中氣虛而方病更衣，縱未攻而滿結常見。（中土不足者，受邪最易動泄，病時多泄，遂成滿結，若此者，皆未嘗誤下也。）故陽明經症，推明自結之條，則太陽少陽邪傳，可推漸及之候。（此本論傷寒痞滿結胸，然亦通於雜症，故附摘於此。）</p>

<h2>腫脹</h2>
<p>腫本水淫，脹由氣痞。風濕氣熱，並屬外來，是則有餘，即為陽水；若夫陰水多生於大病後，根源實種於內因。脾肺虛弱兮，水道不行；陰虧溺少兮，虛火鑠金；心火刑肺兮，腎水奚生；設投分利兮，腫症斯成。脹病之本，因熱因寒，（或始因於寒，久郁為熱，或始因熱成，末傳寒中。）氣血濕鬱，蟲積停痰，皆能作脹，治貴詳參。是以濕流下部，分利為先；（五苓散、防己、通草、椒目、海金砂之屬。）濕壅三焦，分消是擬。（杏仁、厚朴、萊菔、葶藶、桑皮、木通、鬱金、茯苓皮、海金砂、赤豆皮之屬。）瀉心湯法治濕鬱熱兼，五苓散宜濕深著里。小溫中丸療（氣血鬱結而夾）濕熱之久留，雞金散（雞內金、沉香、砂仁、陳香櫞）痊濕熱之積滯（兼氣鬱）；若濕熱與水寒之交橫，（氣喘尿少，通身腫脹。）有禹餘糧丸之專治。濕上甚而為熱，麻黃杏仁、石膏苡仁之屬；濕下著而為痹，加味活絡丹等劑。薤白瓜蔞，宣腹脅之痹結；製大黃歸尾，逐經絡之凝瘀。又如神芎丸神保丸，控涎丹玉壺丹，酌乎輕重，痰飲水積能驅。若其胃陽虛者，參苓必進；脾陽餒者，朮附必投；更有傷及乎腎陽，濟生八味（丸）宜求。且夫治腫以清肺為先，（車軸木利水，可治水腫。《醫級》。）治脹以通陽為急。脹兼寒戰為陽郁，四逆散可以參投；腫由六氣或肝強，八味丸每多扞格。肢寒脾約，乃清陽之久痹；（營衛不行，津液不通。）鼻衄牙宣，由氣血之交結。脈實為瘀，驟脹屬熱。滯濁既下兮，病不在腸；二便俱調兮，脹非有質。（上並仿《指南案》論。）抑又稽之，脹滿如逢伏脈，（六部脈皆不出，或腫甚須以指推開重按之。）汗法當知；浮腫有類傷風，（一身面目悉浮，鼻塞咳逆，清涕流出。）青龍先進。（小青龍湯二三服，卻進消脹藥。）氣虛不斂，惡（用）辛散（之劑反甚）卻喜酸收；（白芍、五味、少佐益智。）面赤足寒，（胸腹脹大，發煩躁渴。）用熱藥（吳茱萸、附子、人參）須教冷飲。（此症因酒後入內，服此藥而愈。）血蠱之候，見症尤詳：煩躁喘悶兮，厥逆驚狂；口燥便秘兮，腹病面黃；胸緊脅脹兮，多怒善忘。（又小便多，大便血。）忌耗氣利水之劑，（參喻氏案。）宜導瘀活血之方。（上並摘《治法匯》。）飲家脈滑而洪，香蓮丸善清濕熱；女子脈弦而滑，（痛脹如臌，四體骨立，氣薄血室也。）蘇合香（丸服三日而腰作痛）繼以硝黃。（下汙血而愈。《名醫類案》。）若乃欲潔淨府，先開鬼門，麻黃杏仁配乎八正散；腫家淋澀如神，倘時值乎夏月，蘇葉防風杏子亦靈。（張隱菴案。）酒蠱最危而難治，（景岳論。）蟲蠱善食而唇紅。（腹疼發熱，四肢瘦削，咽中兩耳俱瘡，脈滑數，服阿魏積塊丸，三下其蟲而消。孫東宿案。）蒸臍法堪襄參附之績，金液丹能濟湯散之窮。濁氣上乘，六味入肉桂沉香可用；清陽下陷，四君加羌活殊通。（詳《續名醫類案》。）</p>
<p><u>附：《證治發微》腫脹論</u></p>
<p>火性炎上，水性潤下。消渴症，不交而火偏盛也；水氣症，不交而水偏盛也。故小火不能化大水，必先瀉其水，後補其火。開鬼門，瀉在表在上之水也，潔淨府，瀉在裡在下之水也。水勢既減，然後用暖藥以補元氣，此治水腫之次第也，唯涉虛者，不拘此論。</p>
<p>又云：腫脹實證，陽邪急速，其至必暴，每成於數日之間，必先脹於內而後腫於外，脈必滑數有力，症必便秘尿赤。虛症日積月累，其來有漸，每成於經月之後，必先腫於外而脹於內，脈必弦浮緩細，症必便溏尿清。</p>
<p>又云：單腹脹，面目手足硬者不治，遍身通紅者不治。</p>
<p><u>附案</u></p>
<p>予治一人，年四十餘，戊寅七月患三陰瘧，發時大渴引飲而小便卻少，至次年三月，瘧未止而腫脹殊甚，面浮腹膨，囊濕跗腫，小水短赤，食入䐜脹，不能夜飯，或治以理中合小溫中二丸，及鱉甲、梔、芩、二陳、苓、瀉等，俱無寸效。診其脈沉大而遲，乃用濟生腎氣丸作湯服，二劑後，腸鳴甚喧，大瀉，一日夜二十餘次，腹腫頓減，小便反清而長，食始增而瘧亦止。志此以見小便赤之不盡屬於熱也。</p>

<h2>積聚</h2>
<p>積由臟生，聚為腑病。陰主靜，則堅而不移；陽主動，則移而不定。於是白芥子蛤粉以豁凝痰，雞肫皮、蘆薈以宣滯著。辛溫入絡，略同治疝之方；（歸鬚、延胡索、官桂、橘核、韭白。）氣血分消，（伏梁病，脈數堅。）微佐削堅之藥。（桃仁、鬱金、茺蔚子、枳實、厚朴、茯苓、通草。）（陳藏器曰：昔有患痃癖者，取大蒜，合皮截去兩頭，吞之，名曰內灸，果效。）陽微濁踞，（下午倦甚，暮夜痛發。）須人參吳萸薑汁、半夏之儔；（又茯苓、川楝子、牡蠣。）氣聚成形，（脾胃受傷。）藉白朮厚朴雞肫皮、黃連之屬。（又陳皮、姜渣。）濕蒸（氣滯釀濕）熱滯，（鬱而為熱，六腑滯濁為聚。）仗緩劑以緩攻；（川連、蘆薈、雞肫皮、木香、青皮、萊菔子、山楂、厚朴、蒸餅丸。）病久正傷，必疏補之互酌。（即氣聚成形。）伏梁之病在絡，脈左數（大）兮可徵；（厚朴、青皮、當歸、鬱金、益母草、茯苓、澤瀉。）瘕痞之突（右脅有形，按之）無疼，（痰凝脈絡。）佐針（刺宣通）灸而易卻。（景岳亦謂堅頑之積，非用火攻，終難消散，予嘗驗之。）乃若勞傷血痹，癥瘕斯作。（右胸脅形高微突。）初為氣結在經，（故脹痛無形。）久則血傷入絡。（故形堅似梗。）歸鬚桃仁牡蠣鬱金、生香附水香川芎，蜣螂䗪蟲須並索。（又夏枯草，用酒麴末糊丸，酒下。上仿《指南案》。）唯夫陰虛宛似肝積，宜養血而禁用攻消；（一少年咳血，左脅有塊攻痛，脈弦細而澀，作陰虛治，用四物加知、柏、元參、丹皮，不六劑頓愈。張三錫案。）腎氣傳於膀胱，經誤藥而遂成石塊。（少腹分為三歧，按之痛甚，兩尺脈獨洪盛，用附子理中湯，三劑而消。《寓意草》。）抵當（湯行血）十棗（湯行水），不瞑眩而厥疾勿瘳；（果有積痰死血，實則方可用之，虛者不若以淡滲藥加薑汁、竹瀝以治痰韭汁桃仁之屬以活血，）取（以）漸（而）平而弗貽後悔。（《治法匯》。）棗膏丸（葶藶、陳皮、桔梗等分，棗肉和丸桐子大，每五七丸，米飲下）治息賁（肺之積，在右脅下）而誠良；（《本事方》。）理中湯消堅塊而誰代。（見上腎氣條。）半衰而止，（經云，大積大聚，其可犯也，衰其大半而止，過則死。）毋為窮寇之追；早治為宜，（勿傷胃氣，但宜和解軟堅。）莫致久延之殆。（若待脹滿已成，則無及矣。《病機沙篆》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>左脅積屬瘀留，而食氣溢於大絡者，亦痞留在左；右脅塊因風濕，乃瘀積停於肺胃者，偏著右攻疼。五臟之積，（伏梁、息賁、痞氣、肥氣、奔豚。）每難攻伐；雜邪之癖，（氣、血、痰、食、飲、食積之屬。）不礙消攻。</p>
<p><u>附：《折肱漫錄》</u></p>
<p>予偶食犬肉一塊，遂覺停滯，煎蘆根汁飲之，右脅下大痛，按之有物如雞子，予不敢用攻治，當極痛時，亦不敢服藥，俟痛稍定，氣雖痞，即用六君加木香等行氣之藥，竟得痊可。若誤用攻伐，不知死所矣。</p>

<h2>噎膈反胃</h2>
<p>究噎膈之由起，乃陽結（於上）而陰枯（於下，）治宜養心脾以舒結氣，填精血以致沖和。抑或開痞通陽，調和胃腑，（黃連、人參、枳實、半夏、竹瀝、薑汁之屬。）進退黃連（湯）有方，附子瀉心湯亦可。若其肝胃陰枯，肺津亦槁，酸甘濟陰，澤枯潤燥。（麥冬、生地、柏子仁、甜杏仁、黑芝麻、蘇子、松子仁之屬。並絞汁濾清，燉自然膏。）又如液虧氣滯，（及）陽衰血瘀，理氣（半夏、枳實、茯苓、竹瀝、枇杷葉之屬）行血，血絡兼舒。（桃仁、紅花、延胡索、川楝子、鬱金、蔞皮之屬。）至於肝鬱氣逆，宜厥陰陽明之兩通；（茯、夏、橘、杏、薑、瀝之屬。）酒食鬱傷，（肺胃氣不降。）用清降苦辛以為主。（苓、夏、連、枳、香鼓、薑汁之屬。）若其胃陽本虛，及夫憂鬱痰阻，噎膈胃翻，食入即吐，通（補）胃（府）開濁為先，（參、苓、薑、夏、吳萸、蓽茇、丁、附之屬。）利膈清痰是佐。（杏、桔、橘、夏、黃連、蔞皮、薑、瀝之屬。）惟夫反胃之成，多由脾腎無火，當益火以消翳，亦通陽而補土。（人參、茯苓、附子、乾薑、澤瀉之屬。上並仿《指南案》論。）且夫噎膈由胃陰之亡，反胃屬關門之槁。吐如醬汁，陽明枯涸之徵；便若羊矢，大腸無血之耗。左歸（飲）佐以當歸、生地去茯苓，治此症大有元機；四物湯加入桃仁麻仁，配大黃酌乎多少。（《己任編》。）靈脂和韭汁，（丸龍眼大，每服一丸，好酒下，不過三服效。）治瘀停胸膈彌良；（好飲滾酒，及怒後即食者有之。《治法匯》。）承氣制湯或丸，療槁在幽門恰好。（《東莊醫案》。）左脈無力，香燥之品須捐；（《醫統》鉤元。）大便如艱，開肺之方亦妙。（紫菀、蘇子、杏仁、桃仁、鬱金、枇杷葉。葉案。）暢衛舒中（湯：香附、蘇梗，沙參、南木香、蒼朮、貝母、連翹、川芎、神麯、桔梗。兼服八味丸）療氣膈，（飽悶嘔酸，脈沉、便燥。）通補須兼；（《易氏醫案》。）脈沉腹（小腹）痛復（大）便難，消瘀當效。《（治法匯》醫案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>飲入而食不入，衛氣先亡，胡桃膈丁茱冀效；食入而水並出，營氣亦竭，泡蒸柿飯常餐。（日以柿餅蒸透，和飯嚼服，得嚥下不反則漸平矣。）高粱（稷實也）米炷，藉消陳莝；乾漆童便，用散瘀留。瓜蔞入丁香、牙皂，泥塗煅研末服神方；驢溺貓胞，熱飲研調開藥。桃膈蟬膈楓實，通氣開膈如神；紫金丹鴉片煙獅子油，通膈潤腸並效。</p>
<p>（又云）：鑿柄木屑為噎膈之仙方。</p>

<h2>嘔吐</h2>
<p>嘔吐如何施治，泄肝安胃為綱，胃陽分火之盛衰，肝陰察液之存亡。辛熱通濁陰，苦降為佐；（真武、二陳、理中、良薑、桂枝、益智、吳萸、厚朴、川椒之屬。）辛甘補中臟，（專理胃陽。）椒梅可襄。熱邪內結而吐酸，瀉心（湯）必效；寒鬱化熱而灼胃，溫膽（湯）誠良。至於胃陽受傷，積物上湧，雖更衣之愆期，投附姜而無恐。胃（口大）傷噦吐青綠水，肝風大動胃翻空，阿膠生地大麻仁、人參小麥大棗，熄風鎮胃有殊功。嘔脹痛從少腹沖，以濁攻濁與治疝瘕同。（韭根、吳萸、小茴、桂枝、茯苓、兩頭尖。）黑綠稠涎（苦水）屬下焦，（濁邪犯胃。）椒烏梅人參茯苓、紫石英桑螵蛸；食入不化無陽症，附子粳米、乾薑半夏法尤超。衝脈氣逆痛嘔頻，病由肝腎內傷因，蓯蓉杞子當歸桂，沙蒺藜鹿角霜與茯苓。（上並約《指南案》論。）（董氏《醫級》云：滯下吐者多寒。）又聞嘔為氣病，（聲與飲俱出。）吐屬血疴，（食出而無聲。）上脘則嘔多吐少，下脘則嘔少吐多。（《病機沙篆》。）嘔家病多表症，吐者里有寒邪。（《傷寒溯洄》。）血不歸源，十全大補湯加以半夏藿香；（《薛氏醫案》。）水不生木，（脈左關尺洪。）四物（湯去川芎）益以黃芩砂仁。吐不作聲兮，虛症可察；（晨食午吐，午食夜吐，吐而若無攔阻者。胃氣大虛也。）吐兼（渾）身（作）脹兮，肝（氣）實（也，不治）堪嗟。（並《慎齋遺書》。）至於口吐清水，其因有五：因寒而致者胃寒；已食而作者食阻；食少而吐，氣虛何疑；胸膈（漉漉）有聲，痰飲可悟；心腹時痛，當與驅蟲。（《證治匯補》。）熱症如兼，（鼻衄、嘈雜等症，屬肝胃鬱火。）亦宜清火。（六君子加黃連、石膏、竹茹。《生生子醫案》。）倘（水泛為飲，覺）自臍下上衝（吐水不渴。）景岳理陰煎可。（《雜證謨》，）又如元氣虛（極，火氣逆沖）而勺飲不納，（藥入即吐。）黑鉛（二兩）入對症之方，（貝母、山楂、石膏、人參、黃連、鐵鏽水。《證治百問》。）濁陰泛而參藥並哇，白通（湯）以豬膽汁、人尿為佐。（葉案。）吐如赤豆砂水兮，（膈症嘔涎。）血積成瘀；（盧不遠案。）色如墨汁兮，土虛水侮。（膀胱之邪乘虛而侮脾土。《名醫類案》。）胃虛而久不納穀，可煮伏龍（肝，長流水澄清，炒陳米煎湯服；）痰積而諸藥不瘳，探以鵝羽。（《治法匯》。）若其惡食如仇，聞藥即嘔，異功（散）加入藿香砂仁，神麯陳倉米伏龍肝是偶。（稍冷服，治數十人多效。虞恆德案。）又或（陰虛，邪氣逆上，窒塞嘔噦，不足之病，此）地道不通（也），氣升嘔噦，治主通幽，（歸、地、桃仁、甘草，微加大黃、芒硝。）卓哉妙手。（《治法匯》。）更有蛔擾膈間，聞藥輒吐，劑中加入川椒，或（先）飲椒湯亦可，如用辛溫，冷飲方妥。（戴氏。）他如漏氣有症，（身背熱，肘臂牽癰，其氣不續，膈間厭悶，食入嘔吐，麥門冬湯主之。）走哺有方。（二便不通，氣逆不續，嘔逆不禁，人參湯。詳《治法匯》。）當隨宜而審治，斯不失乎神良。</p>
<p><u>附：《醫級》摘要</u></p>
<p>乾嘔非無實熱，涎嘔多屬飲家。嘔聲洪長者，肝脾之恙，嘔聲短促者，肺膈之愆。</p>
<p><u>附：吞酸、吐酸</u></p>
<p>酸而惟吞，虛熱內郁宜溫；酸而時吐，濕中生熱可利。酸因熱吐，左金（丸）或合丹梔；酸自寒生，理中可增茱蔻。一從朱氏之論，一從李氏之言。但木實土虛，則溫胃清肝原不礙寒溫並酌，且木中寓火，則扶土抑木亦何妨二法同施。</p>
<p><u>附：《醫宗金鑑》</u></p>
<p>治嘔吐，諸藥湯水到咽即吐者，宜用硫汞散：石硫黃二錢，水銀一錢，同研極細，以老酒薑汁調服，稍點白滾湯亦可，頓服之，其藥即不能吐出，次日大便出黑色穢物，如大便不黑再服，以大便利為度。（按：此方可即靈砂丹，宜先炒成沙子，再入水火鼎鍛鍊作丸少少服之，以漸增加為穩。）</p>
<p><u>附：《證治發微》</u></p>
<p>陰虛而有熱者，雖嘔吐，忌用半夏、生薑，誤投則損人津液，令人聲啞，宜用竹茹、橘皮、茯苓、烏梅以代之。</p>

<h2>呃（附：噫噯）</h2>
<p>呃，即噦之別名，大法亦師仲景，生薑半夏湯竹茹，橘皮湯等。中焦冷逆、理中湯溫胃飲入丁香；元海虛寒，理陰煎或歸氣飲。食滯而呃如何，二陳湯加山楂烏藥可並。獨是肺氣鬱痹，陽虛濁陰上逆，調中開上咸宜，理陽驅陰莫越。又若陰中伏陽即為呃，滋腎丸之效宜神；（東垣。）相火衝上自丹田；（從臍下直衝，上出於口。）大補陰丸之功偏捷。（丹溪。）面冷頻呃，（咽中不爽。）因肺痹致阻清陽；（枇杷葉、川貝母、鬱金、射干、通草、香豉。）症合三焦，（呃逆、脅痛、自利。）從中治是為要訣。（人參、附子、丁香、柿蒂、生薑、茯苓。上仿《指南案》論。）又如痰礙氣道，人參蘆可吐膠痰；（丹溪治一女大怒發呃，用此法。）血入氣中，（得之飽食奔走。）桃仁（承氣湯）能下瘀血。（亦丹溪案。）傷寒噦由失下，通地道以硝黃；（《證治準繩》。）痢家（七八日後）呃屬陰虛，調參朮湯以六一（散。四日呃止痢愈。丹溪案。）都氣丸鎮陰火之沖，（面赤發呃，尺脈洪數。《西塘感症》。）柴胡止怒後之呃。（木鬱達之。盧不遠按。）至於病深者其聲噦，產後呃忒，（惡症也。）當急灸乎期門，（《治法匯》。）最可憂者虛脫。（景岳云：呃之大要有三：一曰寒呃，二曰熱呃，俱可治；三曰虛脫之呃，則誠可慮。）若夫噯氣不除，本有旋覆代赭湯。開肺散滿又誰宜，杏仁桔梗鬱金陳皮、厚朴益智也。（《指南醫案》。）</p>

<h2>便秘（附：腸痹）</h2>
<p>大便之閉，厥症多因，或血枯而液少，或血燥而風生，三才湯與五仁湯並用，通幽偕虎潛丸參行，佐以行氣，通秘斯神。火府秘結，更衣丸之效偏奇；腑陽不行，玉壺丹之應如響。半硫丸宜陽衰風閉之老人，來復丹治清濁混淆而痞脹。若其鬱熱阻氣，合三焦以宣通；（杏仁、厚朴、木通、桔梗、鬱金、連翹、蘆根之屬。）濕熱（傷氣，阻遏經腑）腸痹，理肺氣以開降。（葦莖湯加滑石、通草、西瓜翠衣。）小便秘症非一，三焦濕壅利分消，（滑石、石膏、寒水石、豬苓、澤瀉。）小腸火結宜導赤（散）。五苓散主太陽之失司，小溫中（丸）宣小腸之鬱熱。及乎熱閉下焦，（無陰則陽無以化。）滋腎丸兮宜則。又如曲糵膏粱，釀濕聚熱，鑠骨漬筋，二腸久澀。大苦寒堅陰燥濕，能濟湯液之窮；參酒醴同氣相求，庶挽深沉之疾。（黃柏、茅朮、生大黃、狗脊、地龍、黃連、萆薢、蠶砂、山甲、防己、仙靈脾、海金砂、獨活、細辛、松節、茄根，黃酒火酒各半浸。）又有熱閉厥陰，二便交窒，少腹滿脹肛門墜疼，滋腎丸泄肝效未捷，梔子、黃連吳茱萸川楝子、黃柏青皮，通草海金沙（二味重用，煎湯代水）清鬱熱。其或嗔怒疲勞，脈牢血結，脘脹脅疼，大便阻塞，桃仁承氣為丸，通幽湯潤腸丸並啜。又其甚者，腎陽不通，便溏溺窒，高年倘遇危疴，生乾薑炮黑附子調和豬膽汁。抑有液涸陰衰，溲血點滴，脅腹聚瘕，脈形責貴（左弦如刃），當歸肉蓯蓉茯苓，鹿角霜小茴香柏子仁。況乎老年久秘，通絡宜宗，疏氣開腑鮮效，下焦氣血兼通。山楂香附山稜蓬朮、五靈脂、肉桂，大黃青皮、川楝子、當歸川芎。（上並約《指南案》論。）至若氣結（者）脈（必）沉（伏，上下攻走，）脹滿（或痛）多噯，開降（蘇子降氣湯加枳殼，吞養正丹、來復丹）宣導（木香檳榔丸）隨宜，（少壯）氣實牽牛無礙。（此條專論大便秘。）假令脈（沉）實體強，二便並阻，二陳湯、二術升麻柴胡，先服後吐（以提之。《準繩》《治法匯》。）清胃散（加味）療膏粱之積熱，（大便秘。）搜風（順氣丸）丸（又活血潤燥丸）主風秘而大便艱。（脈浮數或弦，或遍身虛癢。同上。）病轉胞而瀕危，（脹悶臍突，小腹痛劇，脈沉數，二尺尤甚。）用升提清氣斯振；（升麻三錢，柴胡、葛根、甘草各一錢，服後二便俱行。《續名醫類案》。）患疝瘕而濁（陰上）壅，（大便不通。）行溫藥陰竅斯宣。（切忌寒下。《寓意草》。）分利過而脈弱如絲，（久淋痛甚，陰囊及莖俱腫。）溫補（參、耆、歸、朮、肉桂）仍參以宣導；（延胡索、木通、山梔、赤芍、茯苓。）寒涼多而氣愈不化，（六月小便秘已五日，六脈沉細。）肉桂倍入於五苓散，（外用蔥湯熱洗而通。）他如肺（氣）濁大便難，單宜紫菀；（並《名醫類案》。）氣虛尿秘，獨仗人參。（《別錄》。）牛膝及桃仁，兼瘀（血而小便不通）必用；（《病機沙篆》。）蒼朮佐附子，挾濕（邪在表，身如芒刺，小便不通）如神。（一服而通。丹溪案。）越鞠湯（加蘇梗、枳殼、連翹、黃芩、桔梗）療氣閉（二便迭阻，二寸脈沉伏有力）不通，（《易氏醫案》。）腎氣丸救轉筋欲死。（小便不通，腳腫喘急。《治法匯》。）肉蓯蓉療陰陽二結俱宜，（景岳。）麻仁蘇子粥調產後及老人（大便不通）足恃。（許學士案。）余若生脈散歸脾湯，清心蓮子飲，滋腎生肝飲，補中益氣湯，並救敗之良方，（俱治氣虛液少，二便澀滯。）當合宜而投劑。腸痹何方，毋專治下，開肺有功，（杏仁、紫菀、瓜蔞皮、鬱金、山梔、香豉、枳殼、桔梗、枇杷葉之屬。）是真智者。（《指南醫案》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>陰為火鑠，宜龍膽、蘆薈甘梔，若元損肝強，須六味湯歸脾湯，雞子膠阿膠黃連湯出入；血被熱瘀，用紅花桃仁歸尾，如津液不布，惟八珍湯七福飲，（人參、熱地、歸身、白朮、棗仁、遠志、炙草。去棗、遠名五福飲。）補陰益氣煎同參。燥閉宜溫宜潤，松子巨勝子麒麟菜；實閉可導可磨，胰子、瓦楞子雞肫皮、芒硝曲。（右大便秘。）思溺而腹滯停，小茴川楝子烏藥沉香滋腎丸；溲行而矢並出，胃關煎八味丸鴉片、人參丸。</p>
<p>又：肉桂、沉香、枸杞、以鴉片淨膏和丸。大小便牽制，腎氣虛也，故宜此方。（右小便秘。）</p>
<p><u>附：《醫宗金鑑》</u></p>
<p>傷寒狂冒屬陽邪盛，遺尿屬陰不守，死症也。若小便秘，脈細澀，則陰亦竭，亦死，遺尿不禁，及諸淋尿色白者，皆屬虛寒。純虛者，補中益氣湯；純寒者，桂附地黃湯並加白果。</p>

<h2>癉</h2>
<p>癉病由濕，有陰有陽。陽黃之發，瘀濁為殃。身目何以俱黃，火蒸膽胃；（濕從火化，瘀熱在裡。膽熱液泄，與胃之濁氣共並侵於肺，則身目俱黃。）溺色曷為變赤，熱在膀胱。色如橘兮可證，治在胃兮宜詳。陰黃之作，寒水凌脾，濕阻膽液，漬肉淫肌，熏黃同色，己土脾當治。發黃審乎先機，驗小便之利否；（詳《傷寒論》。）治疸分乎難易，詢厥口之渴無。（《金匱》云：疸而渴者難治。）谷疸女勞（疸）須辨析，蓄瘀（隨經蓄血）黃汗莫糊模。（詳《金匱》。）於是渴飲水漿，陽明化燥而當瀉熱；脈弦脅痛，少陽未罷而仍（主以）和。（以）辛散（以）風勝，濕在上兮可愈；（以）苦泄（以）淡滲，濕在下兮能瘥。如狂蓄血，熱所必攻；汗後溺清，自宜投補。酒客清中而分利，後必顧其脾陽；女勞（始以）解毒而（繼以）滑竅，終當平其水火。（峻補腎陰。）表虛者實衛無疑，里怯者建中自妥。（自渴飲水漿至此，全用蔣論原文，但略易數字以叶韻。）若乃陰黃之治，須從寒濕中求。謙甫（羅氏）四逆之方（茵陳四逆湯），可稱卓識；丹溪盦醬之譬，詎足云優。豬肚丸更（白朮用）蒼朮，（重用苦參。）治谷疸之類虛煩；（能食煩倦，手足汗出，目微黃，常鼻衄。）戊己湯益柴胡、當歸，療酒疸而兼勞怯。（脈虛，形瘦，陽弱畏勞。）痛症久而脈絡瘀熱，（與水穀之氣交蒸。）金鈴子散合小柴胡湯；（去麥草，加山梔、穀芽、枳實。）疸病延而腫脹隨成，濬川丸（每三日，兼進六七十粒）同分利法。（雞肫皮、海金沙、厚朴、大腹皮、豬苓、通草。上並仿《指南案》論。）是症也，形脈實而（心中）懊憹（或熱痛者）可下，（《金匱》用梔子大黃湯。）誤下則變脹堪憂；（葉氏論治谷疸尿黃便秘，當宣腑泄熱，但不宜下，恐犯太陰變脹。）小便清而無熱可除，熱除則噦作當慮。（本《金匱》。）酒疸濕傷治節（營血腐敗），必清肺而始有痊期；女勞（疸）血結膀胱（少腹），不去瘀則萬無生路。（詳《醫門法律》。）憂愁（多郁）致（成谷）疸，舒郁先投；（《治法匯》。）驚恐（膽破）成黃，（其色如染。）救元（氣）速與。（《景岳全書》。）穀氣實而病黃腹大，允宜豬膏發煎；（《成方切用》。）色如熏黃而脈緩身疼，參用五苓散甘草附子湯。（《傷寒》成注。）傷骨節酸日晡潮熱用逍遙散，（一婺婦病黃，見症如上，令其服此方及補中而愈。《紀聞錄》。）實熱脾勞（舌乾咽燥齒痛）小甘露飲。（山梔、黃芩、生地、升麻、桔梗、茵陳、石斛、甘草。《成方切用》）若夫氣血不行，（葉氏諸痛案云：久病入絡，氣血不行而發黃，非疸也。）脾液外越，（又老人夏熱泄氣。脾液外越為黃，非濕熱之疸。）痰飲（阻遏氣血，亦致身目為黃）積瘀，（一人因怒，面目皆黃，腹痛寒熱，鼻衄嘔噦，吐血皆黑，大便如墨，下其瘀血而愈。上並《生生子案》。）病後）痿黃，倦怠不食，屬脾虛，非疸也，宜大補）失血，（或崩後悉從虛治。）並宜審別乎諸因，豈獨毋膠於辨色。（喻氏）（曰：陽黃色明，陰黃色晦。然辨之不清，轉足誤人，如酒疸變黑，女勞疸額上黑，豈以其黑，遂為陰疸而可用姜附乎？《醫門法律》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>酒谷二疸土之瘨，白火發現金之恙。（濕火蒸肺，肺胃熱甚。）白疸，必爪掌白，時瘟，為疫毒深。瘀黃，尿赤或矢黑，虛黃，爪常（爪如常而不黃）而喘浮。膽黃，色必兼青，（驚恐傷膽。）黃腫，勞而受穢。驗生死於膻中，（以二指按膻中，左右分開處，其肉有血色可治，無則危。）定吉凶於三六。（時疾之黃，瘥則十日以上，敗則不逾十八朝。）熱黃煩渴，症由脾濕不泄，分清飲梔豉柏皮；黃汗沾衣，病因脾濕流肝，導赤散丹梔香鼓。腎風喘促面黑龐，擬麻黃附子越婢湯防己；女勞疸槁黧陽萎絕，進右歸飲六味丸青娥丸。黃胖色晦，由惡濁土氣觸礙，法當辟惡啟脾丸；脫力浮黃，見喘惕頸脈動浮，藥制針砂五果丸。黃瘦善食腹堅，化積丸蔻連溫臟丸；厥晦睛黃絕谷，理中湯參附飲歸脾湯。久瀉能食麵黃，術連丸取效；（術連丸止白朮、黃連二味。）渴汗肢浮熱晦，二妙散堪施。溺清黃退，須補中州；焦槁龐浮，必培水火。（焦槁宜壯水，龐浮宜補火。）瓜蒂搐鼻，可引涎上泄疏清；（脘鳴膈悶者，此法神效。）丹梔清經，療火劫傷陰變逆。</p>
<p><u>附：癉病死證</u></p>
<p>色若煙燻，目神暗青，陽黃死證也。喘滿渴煩不已，心胸如啖蒜刺痛，黃毒入腹死症也。面色黧黑，冷汗漐漐，陰黃死症也。天行疫癘發黃，名曰瘟黃，死人最暴。（《醫宗金鑑》。）</p>

<h2>郁</h2>
<p>六氣著人，（皆能鬱而致病。）營衛府臟經皆阻；（此外感之郁。）七情致郁，心脾肝膽為多。（此內傷之郁，篇中所輯皆是。）氣滯化熱，津液旋枯；（此言初病在氣分。）久延血分，遂變（郁勞）沉疴。蓋夫氣本無形，鬱則偏聚，瘕痞攻衝，胸膈似阻，苟妄認為有形，貽誤豈堪勝數。乃若溫膽瀉心，逍遙越鞠，隨症而施，並能舒郁。滋腎丸治火升，旋覆花湯宣血絡。熱鬱而脘痞口糜，養（心脾之）營微參乎苦降；（人參、川連、丹皮、生白芍、小麥、茯神。）液枯（形瘦）而痛脹便秘，（忽瀉，中傷不納，不知味。）辛潤少佐以和陽。（柏子、生白芍、歸鬚、桃桃、黃連、川楝。）肝腎陽升，療喉舌以熟地天冬女貞石斛；（又柏子仁、茯神。）臟陰蒸熱，（舌絳赤糜口乾燥，心悸食少。）泄心陽以黃連黃柏阿膠雞子黃。（又生地、知母。）面黃脈澀損肝脾，（寤不成寐。）法宗薛氏；（加味歸脾湯去木香、薑棗。）陽隨入陰鬱損心陽為淋濁，治用妙香散。上焦陽結，（痰聚阻氣，脘窄不舒、脹及背部。）展氣化以輕清；（枇杷葉、杏仁、瓜蔞皮、鬱金、茯苓、薑汁、竹瀝。）鬱熱流紅，（室女陰虛、齒衄、腸紅。）養肝陰以靜鎮。（生地、天冬、阿膠、女貞、旱蓮草、白芍、茯神。）要之。切忌者燥熱澀斂滋填（小補），最喜者（若辛）宣通涼潤。（上並仿《指南案》論。）然而有藥治病，無藥移情，勿徒恃乎草木，當養性而達生。（此四語總括案中大意。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>驚憂致郁，惟養心以安神；恐懼郁生，惟添精而益智。思郁之結宜解，悲消之郁宜升。越鞠丸開有餘之郁，升陽（益胃湯）療恐郁之沉。</p>

<h2>瘧</h2>
<p>瘧之為病，多屬外因，白虎湯天水散，（暑熱重者宜之。）正氣二陳湯，（濕邪重者宜之。）分投參與。（倘症象兩兼，則兩法兼之可也。）成法宜遵。惟三陰瘧受邪最重，以肝脾腎見症為憑。補瀉寒溫，不越（仲景法）三陰之法（為根柢）；陰陽勝復，可窮二豎之情。若其延久不痊，他症可慮。太陰之虛浮脹滿，理中（湯）與五苓（散）參投；少陰之痿弱成勞，復脈及升奇（鹿茸、附子、人參、桂枝、當歸、蜀漆、炙草之屬）相輔。厥陰厥逆而吐蛔，烏梅丸資其降伏；瘧母結癥於左脅，鱉甲煎丸賴以消磨。又如心瘧久而煩渴吐血紅，涼陰可愈；肺瘧久而腸痹胃秘，清降斯瘥。然而瘧之名目不一，瘧之兼症尤紛，暑濕格拒三焦，半夏瀉心法能平嘔逆；穢濁上蒙心胞絡，牛黃丸專主神昏。心陽暴脫兮，（汗多亡陽，心虛痙震。）龍骨牡蠣救逆殊勝；胃虛嘔呃兮，旋覆代赭湯何神。是症也，初起宛如內傷，切勿輕投溫補；（上並仿《指南案》論。）濕熱不同風暑，偏宜重用清寒。（胸痞口渴，小便腥濁，脈沉弦而數，重用柴胡、滑石，及鱉甲、黃連、知母、枳實、甘草，送昆布鱉甲丸，二劑而瘥。《生生子案》。）經強截而腹大胸高，理中湯偏能已脹；（《寓意草》。）痰滯膈而痞滿燥實，大柴胡湯可藉求安。（《治法匯》。）瘧兼血候，（或衄血、或便血，或月候適來。）應識當從瘀治；渴喜熱飲，豈能概作寒看。（葉案。）又或面青脅痛，口苦嘔涎，耳鳴脈澀，郁瘧昭然，逍遙散倍入柴胡，貝母兼佐茱連。（左金丸。《己任編》。）牡瘧多寒，蜀漆雲母與龍骨；但寒不熱，桂枝、生薑粉栝蔞根牡蠣、甘草黃芩柴胡。（並《金匱》。）內伏熱傷暑而外現假寒，（重衾蒙首。）火劑堪用；（投黃連解毒湯而愈。）脈沉遲而臟有寒積，小承氣湯偏佳。（《續名醫類案》。）口乾脈伏，似寒（喜飲極熱辣湯）而實熱痰症宜知；（用十棗丸而愈。丹溪案。）體瘠神完，（久瘧不食，脈數兩關弦。）脈實而法當議下。（滑伯仁案。）舌短痰鳴（勞役病瘧，又服發散藥所致）脈洪（數似）滑，用（獨）參（湯加竹）瀝以勿疑；（丹溪案。）躁煩（胸痞神昏，上熱下寒）欲飲冷水脈沉微，投附子、生薑而毋詫。（俞子容案）。至於病瘧雖一，暑濕分因，面光澤兮，濕在氣分而宜汗；面赤黑兮，暑傷血分以宜清。（四物加涼劑。丹溪案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>邪襲肝（譫狂厥痙），木賊煎鉤蠍先施；瘧不出（否則戴眼、遺尿、昏厥，）山甲半夏柴胡亟與。無汗宜汗者威靈仙，多汗宜斂者黃耆白芍。陽盛陰虛者，汗止腰上，宜黑逍遙散和陰；二氣俱怯者，汗不周身，宜人參清肌散化托。青蒿知母紅花地骨皮，乃暑留營血之方；延胡索牡蠣桃仁、紅花，除瘧母結留之劑。三陰庫生正瘧，休瘧飲鱉甲煎丸先調；四時生旺圖痊，追瘧溫中兩議。（先期補托。）（按：此一條亦不可盡泥，以病機萬變故也）。四生有烏梅吳茱萸桂之湯，（治寅申巳亥瘧。）四正用真武湯理陰煎之劑。（治子午卯酉瘧。）瘧歸四庫必虛寒，須八味丸理中湯之溫補；（治辰戍丑未瘧。）邪閉膻中參暑治，藉牛黃丸太乙丹之開通。</p>
<p><u>附：《醫宗金鑑》論瘧並治</u></p>
<p>經曰：夏傷於暑，秋為痎瘧。又曰：夏暑汗不出者，秋成風瘧。是知必暑與風寒合邪，始成瘧病也。其不即病傷寒者，亦以有暑邪先伏於營中也。蓋有風無暑惟病風，有暑無風惟病暑，必風暑合邪始病瘧也。</p>
<p>先寒後熱，寒多熱少無汗，謂之寒瘧，宜用麻黃羌活湯；（又防風、甘草。）先寒後熱，熱多寒少有汗，謂之風瘧，宜用桂枝羌活湯。（又防風、甘草。）先熱後寒，謂之溫瘧，宜用白虎湯，汗多合桂枝湯。但熱不寒，謂之癉瘧，宜柴胡白虎湯；但寒不熱，謂之牝瘧，宜柴胡桂枝湯。</p>
<p>瘧疾已經或汗或吐或下，表裡無症，法當清解，宜用清脾飲和之。</p>
<p><u>《證治發微》曰：</u>　凡瘧多熱久不解者，必本陰虛，非鱉甲、牛膝不能除也；多寒而久不解者，必本陽虛，非參耆朮草不能除也。</p>
<p><u>董氏《醫級》云：</u>　瘧由少陽而發，故多用小柴胡湯，若暑瘧熱多寒少，口渴唇紅，躁熱汗多，自以桂枝白虎湯為合。</p>
<p>又云：瘧甚發厥、戴眼、遺尿、神昏者，陽邪逆於三陰故也。</p>
<p><u>《正傳》載：</u>　一婦病瘧，三旦發，食少，經不行已三月，脈無，議作虛寒治，疑誤。再診，見其梳洗言動如常，知果誤也。經不行，非無血，為痰所凝；脈無，非血氣衰，乃積痰生熱，結伏其脈而不見耳。當作實熱治，與三化丸，旬日後，食進，脈出而微弦，謂之曰：胃氣既全，雖不藥，瘧當自愈而經行也。令淡滋味，果應。</p>

<h2>痢</h2>
<p>痢每盛於夏秋，半由暑濕挾積，其次風火及寒，前法無容細述。暑別陰陽，恆兼乎濕。陰暑中於貪涼（飲冷），陽暑阻於（天之）伏熱。故有在氣在血之分，傷臟傷腑之別。爰有（人參）敗毒散先解表邪，芍藥湯繼清裡實。（寒熱交黏。）表症急而審別三陽，分經投劑；（太陽：桂枝湯。陽明：葛根芩連湯。少陽：小柴胡湯。）里勢迫而專究中土，小承氣湯溫脾湯。總之，治腑以三焦見證為據；治臟主足經三陰無疑。或通或澀，臨症權宜。噤口痢因有兩端，治須扼要，邪格三焦，暑濕所召，丹溪法（人參、黃連、石蓮子）後世都宗，（半夏）瀉心湯（去丹、棗），（加枳實）尤參奧妙。其或脾腎陽虛，陰邪下迫，關閘大開，晝夜痛泄（無度），戊癸少化火之機，命陽無蒸變之力，是以為嘔為脹，不飢不食、參仲景理中湯腎氣丸，或景岳胃關煎理陰煎。又有捷徑良法（本姚氏），鹹溫配入甘辛。（以大劑蓯蓉、人參、歸、薑、附、桂、制白芍之類，靡不應手而愈。）是症也，濕熱壅而煩躁頰紅，（嘔痰味變，心腹熱，肛墜，頭中空痛。）勿誤認為虛火；腸腑窒而陽虛邪滯，（痢將兩月，口乾腹滿，肛門窒塞，努掙不已，僅出點滴。）當從事以溫行。（附子、厚朴、木香、製大黃、大茴。）脫肛倘屬濕溫，勿升勿補；（五苓散加寒水石。）厥陰（溫熱病）常多下利，宜柔宜通。（白頭翁湯，又阿膠、生地、麥冬、白芍、丹皮、銀花、穭豆衣之屬。）痢後氣墜屬陰傷，下焦須攝；（熟地、歸、芍、五味之屬。）溫邪內陷而痛痢，涼潤為宗。（見上厥陰條下。）桃花湯治肢冷脈微，駐車丸療陰虛痢血。酒客濕凝（腸胃）能納食，藥用堅陰；（生茅朮、炒黃柏、黑地榆、豬苓、澤瀉。）食（冷物）傷脈（右關）滑數，（白痢用溫平藥不應）喜芩連，寒已化熱。（此條參《生生子案》。）八脈無權陽欲絕，（高年瀉痢，兩旬不減。）實漏卮以當歸杜仲、人參鹿茸；（又沙蒺藜、茯苓。）藩籬疏撤（痢五六年不愈），（致周）身痛痹，治久痢以蓯蓉附子、白朮。腎虛肛墜而腸滑，徒補脾胃無功；（熟地、歸身、赤豆脂、五味、炒山楂，又三神丸。）下焦脊痛而髀痠，（少腹肛墜，連兩腰胯脊髀痠痛。）試治奇經當驗。（人參、鹿茸、附子、當歸、茴香、菟絲、杜仲。上並仿《指南案》論。）抑又參之，肢冷脈虛（緩大無力，病起醉飽入房，痢如爛肉、腹痛）宜補塞，（附子理中湯加肉桂、肉果。）縱初起毋用清疏；（陸肖愚案。）痢久脈滑（又關尺有力如珠），（舌苔黑）可攻消，（潤字號丸，下之而愈。）雖產後勿愁瞑眩。（陸養愚案。）氣下陷而進升麻柴胡，當知趨避；（用補中益氣湯，倘不合宜，反致濁氣上升，作脹作嘔，或後重愈增，或腹內熱煩，凡用此湯，有宜一劑者，有宜二劑者，有宜頻服者，貴在合宜耳。）症已危而投桂附，應識機宜。（無力服參者，不可輕投大熱之藥。）又聞百順丸（景岳方）開關最捷，三奇散（黃耆二兩、生枳殼、防風各一兩。為末，調服二錢，治痢疾下重。張石頑曰：服補中益氣治休息痢不應，反下鮮紫血塊者，以此方倍防風，加羌、獨、升、柴。）風泄當施。痢久淹延，大棗烏梅當參朮；（宜貧不能服參者。）津枯（下痢）迸迫（難出），生首烏麻子（即麻仁，又當歸、郁李仁、枳實）及羊脂（煎。《千金方》，詳原集。）伏龍肝作湯（下楂炭、熬枯沙糖二味，為）丸，治產痢莫言平淡；（胎前下痢，產後下血。）鮮藕汁（煮熟）和砂糖頻服米，（兼進陳米稀糜。）療噤口痢頗著神奇。至於厥冷一因，亦分陰陽虛實，（有熱痢初起，末經疏利，以致壅遏不通，而肢體厥冷，六脈糊塗者有之。其症必脹痛迸迫，或寒熱舌苔。）敗症誰惡，莫如發斑狂躁除中。（此皆不治。）下多亡陰之餘，尺偏滑動；（此肝腎陰傷，勿疑為積滯。）沉小無神之脈，後必多凶。（易變厥逆。）又若久痢不痊，正虛邪戀，虛實交參，寒熱相半，或宜攻補兼施，或當溫清互換，必謹察乎病機，庶先後之不亂。（上並約《醫門法度》。）亦有六脈沉伏肢寒，冷汗自出不住，多因伏暑而然，勿輕投乎姜附。（《證治準繩》。）若暑伏於心經，純血鮮紅可據；（宜人參、犀角、牛黃、燈心、龍眼之屬。《病機沙篆》。）（血色鮮紅，亦有屬純虛者，宜合症脈參之。）如擁爐（烘腹）而飲沸湯，（且服薑桂、血痢痛甚。）乃火極似寒之故。（心脈獨數，諸部皆虛，此傷暑也，重用黃連及生地、當歸、黃芩、滑石而瘳。金少遊案。）他如裡急後重，（寒熱虛實皆有之。）口渴（當辨真假）腹疼（有熱有寒），便赤（有實熱、亡陰及虛寒三症）。熱躁，（有濕熱蒸迫，及陰傷陽越二症。）嘔逆噁心，（有胃火上衝，有胃氣虛寒，有陰中火虛，氣不歸原三症。）並難執乎一例，宜詳察乎諸因。（並《景岳全書》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>硬痛，大黃附子；伏暑，太乙煉雄丹。痢疼厥汗者參附，滑脫不禁者赤石脂。血痢不止，約營煎五黑散十灰湯；脹墜不通，郁李仁湯麒麟菜、冬葵子。扁豆花茉莉花玫瑰花，療攻疼緩痛之方；鴉片赤石脂、禹餘糧，為臟腑攝藏之寶。風泄注涎如痢，胃苓湯葛根防風；踡厥沉陷絞疼，回陽溫胃飲。先痛後利利不暢，法必從攻；（或排氣和中。）先痢後痛利不禁，治惟投補。（宜參、歸、蓯、附之屬。）（一人病痢，腹痛垂死，李東璧用延胡索三錢，米飲服之，病即減半，調理而安。）</p>
<p><u>附：《簡明醫彀》治痢摘要</u></p>
<p>痢疾熱症全備，漸至肛門紅腫，便秘溺赤，大渴舌苔，腹中大痛，飲食不進，至於腰脊兩旁，腎涸成窟，舌黑縐捲，肛門火逼，干吊如孔，積全不下，茶湯過多，穢水直出。醫認為大孔如竹筒，誤用參附而死，良可悲痛。如幸而臟腑猶未腐壞者，仍可用潔古芍藥湯一服，積下，頃刻回生，十救七八。惟寒涼太過，而成大孔如竹筒者，方宜固澀，不在此例。（按有下利初起，即成直腸，服制大黃而愈，則此論誠允矣。）</p>
<p><u>附：李士材治痢醫案三則</u></p>
<p>孫瀟湘夫人，下痢四十日，口乾發熱，不食腹脹，完穀不化，服香連枳樸等三十餘劑，絕谷五日，脈大而數，按之豁然，腹痛喜按，小便清利。與附子理中湯冰冷與服，一劑而痛止，六劑而熱退食進，兼服八味丸，二十餘日而痊。</p>
<p>一女痢疾腹痛，脈微而耎，此氣虛不能運化精微，其窘迫後重者，乃下陷耳。用升陽散火湯一劑，繼用補中益氣湯十劑而愈。</p>
<p>兵尊張絅庵患痢兩月，服香連枳樸等不效。診之脈滑而有力，失下之故也。用香連、歸芍、陳皮、枳殼、加大黃三錢，下穢物頗多，診其脈尚有力，仍用前方，出積滯如魚腸者約數碗，調理十餘日而痊。</p>
<p><u>附：痢疾外感內傷脈症不同</u>　見《症因脈治》</p>
<p>秦氏曰：內傷痢，身熱脈大者死；外感痢，身熱脈大者吉，沉細虛小者凶。此脈之不同也。內傷痢，其來也緩；外感痢，其發也暴。此症之不同也。外感三陽之痢，久則亦入三陰，然腸胃之熱傳入三陰者，經雖屬陰，症則屬陽，非如內傷痢，陰經自病也，前人從未發明。</p>

<h2>泄瀉</h2>
<p>由來濕多成五泄，飧泄溏泄鶩泄濡泄滑泄並列。完穀不化者兼風，腸垢積汙者兼熱；澄清溺白必兼寒，身重軟弱惟因濕；若洞下而不禁，乃濕勝而氣脫。（以上敘五泄症狀。）是以胃風湯治乎飧泄，清六丸療乎腸垢。（溏泄。）鶩溏中有硬物，理中湯治中湯為佳；滑泄氣脫脈微，四柱飲六桂飲急救。惟濡泄有實有虛，朮附湯胃苓湯互授。（以上論五泄治法。）《難經》五泄而外，痰泄郁泄、酒食泄當知。急則治標，固必因時而隨症；緩則治本，豈惟滲濕而燥脾。觀夫熱利者常希，寒泄者甚夥，欲拔本以塞源，必制水而壯火。爾其疏胃宜清，調脾當暖，左金丸合入調中，（人參、白朮、茯苓、陳皮、防己、厚朴、澤瀉、焦神麯。）濕熱傷陽可緩。芩芍湯杜滯下之萌，（腹痛泄瀉，小便不利。）針砂丸清濕鬱之阻。（尿少腹滿。）肝失疏泄，（水瀉，少腹滿脹。）但用五苓散；水泛堤坊，（瀉久腫脹。）急投真武丸。（夜服針砂丸。）兼瘡痍而濕勝熱鬱，胃當降兮脾宜升；（用東垣升陽除濕法。）稟木火（形瘦尖長）而陰弱失涵，（濕瀉二年，累用脾胃藥不效。）苦堅陰兮淡滲濕。（黃連、黃柏、厚朴、廣皮、茯苓、豬苓、澤瀉、山楂。）泄而津鑠，（食入痛瀉，咽乾欲嘔。）喜柔惡剛；（人參、白芍、訶子、木瓜、赤石脂、炙草、陳米、南棗。）瀉則脹寬，（夜泄未止。）宜通忌澀。（川烏、生茅朮、茯苓、木香、厚朴、廣皮。）肝胃與脾腎分疆，（腹鳴晨泄，巔眩脘痹，診脈小弦。）勿混投夫溫固；（二神、四神之類，異功散去朮加烏梅、木瓜。）木火與水寒異治，（晨泄煩心，目痛流淚。）可參入乎清涼。（六君子去陳、術，加丹皮、桑葉。）中州失運（瘧後陽微，洞泄跗腫）法宜通，（先用胃苓去朮、草。）尤必兼培腎臟；（接服黑地黃丸。）下焦有病人難會，或宜專理脾陽。（能食不化，腹痛繞臍，微寒偶著即泄，服安腎丸不效。生白朮、生茅朮、益智、乾薑、胡蘆巴、茯苓、木瓜、蓽茇。）脈細形衰，（高年久咳痛泄，病傷難復。）姑投甘緩；（建中湯去桂加茯神，南棗。）陽傷垢滯，（腸風鳴震，泄利微痛。）必進溫通。（生茅朮、附子、厚朴、陳皮、炙草、製大黃。）久瀉（食減不化）溫補藥無功，當察腑氣之利否；（痛利黏積，小便短縮。）寒泄（經來腹膨，臍脊痠痛，脘痞妨食）濟生丸不應，應知奇脈之宜充。（前症用厚朴、陳皮、茯苓、豬苓、澤瀉、黃連、木香、山楂、陳曲；後症用鹿角霜、菟絲、杜仲、歸身、蓯蓉、茯苓、沙蒺藜、小茴香。上並約《指南醫案》論。）且夫飧泄宜升，（不宜利小便。東垣論。）溢飲無藥。（水漬入胃為溢飲滑泄，渴能飲水，水下復泄，泄而不渴，此症無藥，當灸大椎。《準繩》戴氏。）大渴煩躁（暮熱早涼，氣喘多汗，脹痛久泄）者肺熱，偏宜阿膠地黃、天門冬；（同蜜熬膏，服半月愈。又一婦患秋燥，寒熱泄瀉，用瀉白散加黃芩、阿膠而愈。《寓意草》。）尺脈無神者腎燥，（不主收攝。）卻喜五味蓯蓉歸身、白芍。（人參、炮薑、甘草。《慎齋遺書》。）又聞久泄歷年，食入即出，六脈幾無，久診有力（如石），此由鬱火為疴，（服桂附無筭，身不知寒，目畏燈火。）平胃散加黃連愈疾。更有六月受娠，偶患瀉泄，遷延入春，既娩愈劇，何知伏暑使然，兩關洪大而實。（用黃連香薷飲二劑而愈。並《易氏醫案》。）更聞冷積便溏，（瀉五載，犯生冷油膩即作痛，脈沉而滑。）蠟匱（巴豆丸）緩巴霜之峻；（二日愈，每治瀉利，用此愈者近百人云。李時珍案。）小兒疳瀉，（肉消面白，皮燥發豎。）乾蟾入補澀之方。（異功散加當歸、黃連、蓮肉、砂仁、肉果、訶子、木香、神麯糊丸。四君子湯下。萬密齋案。）暴泄（如水）瀕危，（汗出身冷，脈弱氣少，甚者加吐，此為）緊病須投漿水散；（半夏、附子、乾薑、良薑、肉桂、炙草。）久瀉冷極，（元氣將盡。）回生唯有石硫黃。（並《醫學綱目》。）領風出表，允矣桂枝；（此論傷風飧泄。《醫門法律》。）伏暑挾寒，（內傷生冷。）神哉連理（湯）。（理中湯解。）腎虛脾（有積）熱，（五更痛泄，脈右關滑數，左尺微弦無力，食少倦怠，十餘年不愈。）先清快（投黃連枳實丸而腹痛除）而後溫存，（更與四神、八味二丸而泄愈。江應宿案。）伏火疑寒，（久泄惡寒，以氈蒙首，脈浮濡微數，服丹附不效。）初升陽散（火湯）而終攻利。（神芎丸下之而愈。項彥章案。）形健而面黃（易飢）善啖，（小兒泄瀉，脈大。）知大便之有蛔；（治蟲而愈。）膈悶而脈（澀，重取略）數且弦，識下疳之曾患。（治肝而愈。丹溪案。）丸勝於湯誠是，（前人論治泄瀉云爾。）尤忌大劑之投；（胃不勝藥，泄亦不止。東垣飧泄論。）風能勝濕良然，每利升麻防風、（二活、柴胡）之散。（同上。）（又丹溪有治痰泄案，詳原集。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>鶩溏而形神疲怯，法必溫培；糜出由濕火下流，治先清利。完穀者邪火，宜溫清升補之方；清穀者虛寒，施益火暖中之治。風泄乃客邪犯胃，舉胃陽而透表；氣泄由木邪乘土，升清氣以培中。（氣泄，因氣內動而致泄也。）酒泄症因濕熱，（亦有屬寒濕，或虛寒者，詳《景岳全書》。）惟理中土為先；勞泄大小便牽疼，必救先天乃效。</p>

<h2>風溫（合溫熱）</h2>
<p>風為百病之長，溫乃化熱之氣，手三陰是其病藪，清上焦務宜輕治，最慮溫燥劫津，尤忌苦寒損胃。陽明失循序之職，復脈（湯）宜投；太陰無肅化之權，甘寒是濟。久延則虛勞之根，驟變則痙厥之勢。（以下論溫熱。）溫熱邪從里發，治法首在存津，黃芩湯堅陰卻邪，壯熱煩冤口舌燥；蔥豉湯和中泄表，新舊邪合勢蒸淫。骨節偏疼，勿行辛散；頭腰兼痛，不涉足經。至於因循日久，貽誤多端，或致陰傷液涸，或由氣燥津枯乾，如何挽救，條例當參，昏閉以幽芳開竅，（牛黃丸、至寶丹。）痙厥以甘藥緩肝，（復脈湯。）熱痰則溫膽是賴，蓄血則通瘀可安。（上並傷《指南案》論。）</p>

<h2>暑</h2>
<p>暑有因靜因動之分，症有入心入肝之辨。變幻極似傷寒，愈期反多遲蹇。表之則得汗偏難，攻之則便溏不免；過清則嘔惡肢寒，過燥則齒裂唇繭。（每遇秋來，最多此症。）豈如風寒之邪，一汗便解；溫熱之氣，投涼即康。苟其治不中窾，變症須防，暑熱從陽上熏而傷陰化燥，濕邪從陰下降而變濁傷陽。蓋夫六氣傷人，化因人異，陰虛者火旺，熱每侵營；陽虛者濕多，邪偏歸氣。臟腑既別陰陽，清溫自宜互濟，並法河間，三焦分治。至若治氣分有寒溫之別，理營分審清補之分。寒中白虎（湯）天水（散），溫從（藿香）正氣（散）二陳（湯），三才（湯）復脈（湯）為補，犀角地黃為清。（加入心之品。）濕熱沉混蒼朮（白虎）湯，氣血兩燔玉女（煎）法。開閉逐穢，牛黃至寶是神方；救敗扶虛，參附（湯）兩儀（煎）推大藥。（上並仿《指南案》論。）他若暑瘵吐紅、肺胃先清方不誤。（暑瘵二句，亦本《指南》。）暑風卒厥，陰陽諦察始無疑。（《醫門法律》。）暑必汗多，無汗者卻宜理表；暑必渴甚，不渴者恐涉他歧。（同上。）（趙以德曰：汗出惡寒，身熱不渴者，中風也；渴者，中暍也。）初起脈細而遲，或濕痰之內滯；（《證治匯補》。）甫病息短而倦，戒溫補之輕施。（《醫門法律》。）若果虛寒已的，舍時從證須知。）詳《景岳全書》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>暑悶雖屬熱邪，宜溫通而最嫌冷閉；（此本陳無擇論救中暍死者之意。）中暑邪干臟氣，（暑犯心肺，喘汗脈絕。）惟斂補而急在扶元。（生脈散。）喜食惡熱而自汗面垢頭疼，暑邪乃的；喜熱踡（臥惡）寒而息高面赤，寒病兼虛。（少陰反熱，太陽脈沉之症，其短氣、脈空，亦類暑邪，若誤治之，死生反掌。更有少陰先潰於內，而暑邪繼之者最為危劇，惟宜救本，峻補真陰。若暑濕之勝，法從清滲。）暑濕並而濕溫成，則面晦身青，昏譫脛冷；（脈細耳聾，心脾受傷，危亡之候。）暑襲肝而瘧不出，則妄言見鬼，痙厥遺溲。</p>
<p>濕溫迭感兩因，四苓散蒼朮白虎湯；疰夏（身熱食減，即《內經》煎厥之症）陰虛稟弱，固本（丸）玉女（煎）地黃（湯）。襲肝痙作，太乙（丹）鉤蠍柴胡（飲）；勞內感邪，五柴（胡飲）補陰益氣（煎，又清暑益氣湯）。暑火流陰夜甚，生地丹皮、青蒿知母柴歸飲；陰暑戴陽泄寒，參附湯鎮陰煎都氣丸。</p>
<p>又云：溫暑二氣，症必兼風，然惟風勝者有頭痛之候，可仿傷寒解肌之治，若非風勝，則無頭痛，《保命集》之論可據也。若因冬傷於寒，屆溫暑之令，復感時邪而發者，當從傷寒家兩解之法。若但感溫暑時邪，內無伏氣者，則當從河間法，以辛芳苦甘涼解之法為治，不可以傷寒足經等法為例也。惟風勝之候，或雖當暑令，而所感由暴寒，始可以傷寒法為治，若以之混治傷暑之症，不惟邪不能解，而暑從內閉，其變有不可勝言者矣。</p>

<h2>濕</h2>
<p>若夫外感濕邪，當微解而不可大汗；內傷濕熱，宜開肺而兼運脾陽。邪混氣則呃忒而鼻衄，濕阻竅則咽閉而舌強。（脾陽不運。）又如濕沖（心）胞絡，神識如蒙，瀉心（湯）宜用，或主清中。（犀角、連翹、石菖蒲、銀花和至寶丹。）濕結陰傷，（不食不寐，腹痛，大便窒痹。）當仗白通（湯）以理痛；（此寒濕濁陰，鳩聚為痛。）濕蒸化熱，徒知清熱必無功。（案中用藥，總以苦辛寒治濕熱，以苦辛溫治寒濕，概以淡滲佐之，或再加風藥，甘酸膩濁，在所不用。上約《指南案》論。）</p>
<p><u>《醫級》云：</u>　蒼赤瘦人，多陽化熱；白浮肥體，陰勝化寒。</p>

<h2>燥</h2>
<p>燥症之因，內外須別。內由陰液之虧，外緣客氣之賊，以故上燥治氣，下燥治血，大抵最喜者甘柔，切忌者苦澀。津液結而為疴，辛通宜佐；精血竭而致患，血肉為良。所以滋燥養營湯，瓊玉膏潤腸丸，五仁湯一炁（丹，案：景岳新方有一炁丹，單用參附，與燥不合，當別是一方。考《指南》集方坎炁丹，用人乳粉、坎炁、人參、熟地、枸杞、酒釀、白蜜同丸。又一炁丹，用紫河車、人乳粉、秋石、紅鉛，蜜丸。二方與治燥為協。）乳飲牛羊。或用清燥救肺湯，或投復脈湯地黃飲子，皆燥症之攸賴，當因證以施方。（上約《指南案》論。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>服丹石而致燥，入甘草、黑豆飲於當歸六黃湯；若陰竭而焦乾，加生脈散於六味湯。</p>
<p>氣傷而津不生，法重補中益氣湯；精虛而水不布，治惟化氣滋陰。</p>

<h1>卷三</h1>

<h2>溫疫上篇</h2>
<p>疫癘受自口鼻，治當專主三焦。是以上焦邪侵，喉啞口糜之驗；膻中逆擾，神昏舌絳之招。及乎喉痛丹疹，當卒發乎崇朝。故夫立方清解，必佐芳香，犀角菖蒲銀花，鬱金至寶丹尤良。若其邪入營中，三焦熱結，元參靛葉西瓜翠衣，銀花露還衝金汁。（上仿《指南案》論。溫疫亦大症也，葉氏案論寥寥，未能該備，因復採諸家之論以足之。）是症也，有傷胃及傷氣傷血之殊，故見症與施治並異，（若入臟，則必不知人而死。）毋專以脈為憑，大法據證為諦。（周禹載疫論。）故當疫勢披猖，脈多乍變，或浮細而按之如無，或沉微而舉之不見，或全伏兮或極促，朝方愕兮夕尤眩，無非（邪滯經絡）營衛不通，病機隱現，參外症與舌苔，自投劑之不亂。所以脈如將絕而神（氣未敗）全，或瀕危而可援，甚有不能言動，神氣昏沉、待死不死，亦可望生，蓋邪壅（不通）而臟腑未絕，故勉延於一線猶存。且夫治疫有法，當思謹始慮終，虛人必難任（十餘日之剝削）久困，須令正氣先充，倘專事乎分解，（不佐人參以托住正氣。）雖欲挽以何從。疫病潮熱退清，多在匝旬之後。日輕夜重，豈必陰虛，投藥不訛，但當靜守，妄（用參耆）益氣而（用六味地黃）滋陰，增病反為醫咎。況乎虛既畏補，實復憚攻，徒執（小柴胡湯）和解一法，（以為穩當。）必致變吉為凶。又如熱毒（攻裡）灼陰，亢燥已極，急下不能，（不敢大攻）或（攻劑稍效，不敢）再攻尤怵，（致腸）胃腐（爛）告終，厥咎誰執？然若邪（未歸胃，熱毒）猶散漫，硝黃遽啜，胃氣先傷，亦非良策。治疫補瀉之法，原無一定可拘，（有先補後瀉者，有先瀉後補者，有始瀉中補終又瀉者。）權先後以互用，當如盤之走珠。故有元氣虛弱邪隱不顯，得補旋蘇，（疫邪始顯。）乃始治疫，方保無虞。倘膠柱而鼓瑟，（專執疫病宜涼之說，坐視虛極而死。）醫之罪豈勝誅。陰虛水涸之體，病（疫既）久表裡俱枯，舌乾便結，欲汗偏無，冀津回而液復，養陰退熱無過（平聲）。耳聾邪在少陽，亦有屬（氣）虛（腎虛）宜補（者），執用小柴胡湯，誰詒伊阻。（自治疫有法至此，並摘孔氏，仿《醫門法律》八則。）至於無汗之故，內壅或內干，壅利三承（氣湯）攻下，干宜六味（地黃湯）滋填。（上並約孔以立氏疫論。）乃若脈結於中，（浮沉俱無，中按洪數，兩寸將絕。）邪壅胸膈，因年高（老婦）而消補同行。（症見喘嗽汗淋，神昏便閉，絕食月餘，以檳榔為君，佐以清涼之味，加歸、耆、熟地、山藥，一劑而愈。）久勞（室女弱症經年，至春）忽劇舌上苔，作疫治而遍身疹出。（朱氏煜。）峻補純攻俱中病，（吳氏治疫，用大黃至二十兩，孔氏治一婦，潮熱舌黑便閉，用參、耆、歸、地二十餘日，而皆獲愈。）陰陽對待之理須知，（孔氏云：凡病皆然。）妄攻驟補並招尤，大易需卦之義當悉。（楊氏論下後勿驟補云爾。）達元飲（方見吳又可《瘟疫論》）治疫症之仙方；（楊氏、陳氏、朱氏，皆極言其效。）百順丸（方見景岳）逐有形之宿結。（楊氏曰：有形之病，必藉有形之藥，故此丸最妙。）腸積垢兮多嘔（吐，誤補絕食月餘）與承氣（湯合三消飲）而寢食俱安；（十數日後）脈（轉）洪長兮偏沉，（浮分不起，癱瘓腹腫。）投白虎（湯）而表邪悉越。惟因大肉已消，（三方內俱用）熟地（二三兩）人參倍入。（朱氏案。）更有頭痛潮熱，補瀉妄施，紫血頻唾，（如豚肝。）躁渴無時，二陽（少陽、陽明）之症畢具，（目赤耳聾，咳嗽脅痛，舌苔便赤，譫語不眠。）存亡之介幾希。左手已俱無脈，右部（寸關）洪數堪持，（右尺如控弦，上衝甚銳。）是為內傷兼疫，治惟大劑和之，知母、甘草柴胡、黃芩花粉（加陳皮名柴胡清燥湯）薄荷，導赤散童便丹皮，日夜連投四服，左脈起而痊兮。（楊氏案。）又有水瀉兼旬，譫語絕食，舌刺如鋩，顯然疫疾，竟用硝黃，轉凶為吉。（夜半大泄一次而愈，泄亦頓止。）越二日兮復然，更下之而病息。（朱氏案。）</p>

<h2>溫疫下篇</h2>
<p>今夫傷寒驟病而有因，溫疫漸發而無故，脈緊與但數復殊，可汗與忌表勿誤。（楊氏論。）戰汗者凶少（死者二三）吉多（愈者七八），（戰汗亦本楊氏）脫汗者無熱可慮。（孔氏。）津液枯涸類應下之症，（須知此時必）無大熱（或掌心微熱，或至夜熱加）而脈弱（細急無力）神（氣）清（明為辨；同上。）病後酌調理之方，非極虛即小劑緩進。中虛停藥，（服藥不運。）（服藥不運，由內本無熱，而誤服涼劑者居多）更察劑輕病重之因；（此條參吳氏。）循衣撮空，每多標實本虛之症。（宜湯氏升陽散火湯，或黃龍湯。）病退而奪氣不語，（吳氏以能食不能食，卜胃氣之盛衰。）善調靜養可徐痊；陽厥而脈數且沉，（若陰厥，脈必不數。）誤補妄溫俱切禁。舍脈從症脈仍符，參互會通須妙解；前實中虛後又實，工良心苦倩誰知。（詳孔氏評《瘟疫論》。右連上篇，並約《醫門普度》。）果其症應下奪，吳氏之論可師；初硬後溏，治疫勿拘此例。（謂但逐熱邪，不必有結糞而始用下。）病瘥下隔大便不通，嘔吐拒食，）調胃（承氣湯）試訪良醫；因證數攻，權宜在活話法。（如多與、少與、連日、間日、或間進緩調之法。）一日三變，拯救豈可羈遲。（詳原集急證急攻條。）有宿疾而復感微邪，勿妄疑原病之加重；（此等症脈及舌苔，必有可辨。）失汗（或失）下而致成脈厥，（神色不敗，言動如常，忽然六脈如絲，或甚至兩手俱無，或一手先伏，皆由內結壅閉，營氣不能達於四末之故，此脈厥也。）或多服膩補而亦然。（孔氏云：嘗見多用熟地，亦致如此。）下後脈實病偏瘳，或天和兮當察；症陽脈陰神色不敗，由稟賦兮多痊。（此二種皆天和脈也。）陽厥（手足厥冷，或過肘膝，指甲青黑，甚則通身冰冷如石）惟里症堪憑，（張氏云爾。）察小便尤為捷要；（陰陽二厥，但以小便赤白為據，以此推之，百無失一。）怪脈（促、代、雀啄之類。）屬暴邪可駭，無險候（即前條所謂神色不敗，言動如常也）每保生全。（詳脈症不應條。）下症具而目閉口張，勿疑虛脫；（詳因證數攻條治驗。）表氣滯而頭疼身痛，莫混傷寒。（詳似表非表條。）水氣體腫必通陽，（疫愈數日，先自足浮腫，漸至心腹而喘，小便不利，此水氣也，宜治在水。）足寒可辨；（氣復者，足必不冷。）病愈肢體浮（腫亦先自足起）無別苦，（雖腫甚而不喘，小便如常。氣復應歡。（靜養即食，不藥自愈。）要之活法圓機，何能言罄，知一則萬變可通，（詳知一條。）四損（謂大勞、大欲，及大病、久病後忽又加疫）則攻消宜慎。（俱禁用承氣。）邪分行伏之說何精，（行邪者，傷寒六經逆傳是也；先伏而後行者，瘟疫是也。詳行邪伏邪條。）主客交渾之理尤信。（一切虛證夙疾，再患疫病，正氣衰微，不能托出表邪，留而不去，與血脈合而為一，結為痼疾，最難得解，乘其症未大壞，急用三甲散，多有得生。並約吳氏者，詳主客交條。《溫疫論》。）用石膏而活人無算，（曉嵐紀氏云：乾隆癸丑，京中春夏多疫，以張景岳法治者多死，以吳又可法治之，亦不甚驗。有桐城一醫，用重劑石膏，應手而痊，踵其法者，活人無算，此亦五運六氣適值是年，未可執為通例也。）豈諸家之立法皆非，宗張吳而流弊或均，（鄒氏云：是症惟張景岳、喻嘉言、吳又可論之最詳。然宗張喻二氏，恐有遺邪留患，若宗吳氏，又恐邪去正傷云云。）則斯篇之折衷頗允。</p>
<p><u>附：《醫級》摘要</u></p>
<p>吐滿熱昏脈細勁，再逆危亡；下利脈實胸堅，變於三六。陽澀陰弦者宜溫，寸浮關沉者宜陷。溫瘧則陰陽俱盛，風溫則尺寸皆浮。陽數陰洪者陽毒，陰急陽弱者濕溫。</p>

<h2>斑疹（附：瘰塊）</h2>
<p>陽明斑發，形如錦紋；太陰疹紅，粒如粟象；癮狀如何？腫而易癢。大都肺胃分司，繆氏之論可彷。（詳《廣筆記》。）爾其濕溫雜受，大進辛涼；（大渴不眠，連翹、薄荷、杏仁、鬱金、枳實、牛蒡、山梔、石膏。）邪閉心包，（舌赤昏譫。）兼資宣竅。（犀角、元參、連翹、銀花、菖蒲、金汁化服牛黃丸。）內熱外寒（暴冷發病，頭面肌表）發（疹）未透，麻黃杏仁甘草石膏，（又牛蒡，枳殼、射干、桔梗）為良；陽明血熱赤如紋，（環口燥裂而痛。）犀角地黃自妙。濕火瘰發於秋冬，（每遇九十月大發，五六月漸愈，七八年來如是。）膽火胃濕同治；（夏枯草、菊葉、苦丁茶、荷葉邊、羚羊角、黑梔皮、鬱金、苡仁。）風塊瘙癢而腹痛（咳嗽），表裡雙清。（清肺煎劑，送防風通聖丸。上約《指南案》論。）口不甚渴而脈不洪（數，疹色淡紅，四肢清，）虛熱尤防陰盛，（非虛斑即陰斑也。）斑屬血而疹屬氣，既出最忌神昏。（正不勝邪，內陷為患，或胃津內涸之故。）斑點紫而心胃火燔，（紫小點者，心包熱也；點大而紫，胃中熱也。）斑黑（而）亮而熱毒最熾（雖屬不治），若（其人）氣血之猶充，依法治之而倖起（或尚可救）。黑而色晦兮（必死），縱力挽而命在須臾；（若）黑而（四）旁（隱隱）赤（色）兮，（乃火鬱內伏，）大用清涼透發而十救三四。（間有轉紅成可救者。）又有白㾦小粒，色如水晶，（此濕熱傷肺，邪雖出而氣液枯也。）補以甘藥，復液回津。或（未至久延，傷及氣液）表郁（濕鬱衛分）而汗少（汗出不徹），理氣分以自寧。（上約葉氏《溫熱論》。）藍斑為陽絕之徵，（即身死色青之漸，世反謂熱極胃爛，重投寒藥，速絕其陽，宜其百無一生也。曾見一老醫大用）參附曾聞奏效；（《傷寒論讀》。）陰斑發暑熱之令，溫補疊紀回春。（詳汪石山，戴元禮兩家醫案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>咽痛咳熱，將發先機；熱汗膚疼，欲來形勢。先期吐瀉，邪得泄而疹輕；當發吐利，毒陷閉而變至。初形最忌寒涼，（恐其寒滯。）見疹酌行清透。（視色之淺深，形之稠疏，酌宜清宜透之治。）邪來血分者多躁，病偏氣分者渴煩。毒微者，如蚊積而散四肢；毒盛者，似錦紋而聚胸腹。色明潤而顴未透，必疏邪煎以化斑；色紫赤而晦且枯，資犀角散而解毒。熱毒移肝發痙，丹梔左金湯鉤蠍；熱邪歸腎焦閉，六味知柏滋陰。（地黃湯。）</p>
<p>又云：犯腥膩，則牙疳　口臭渴飲神昏，急進山楂砂仁清胃飲；滯痰食，則膨滿嘶噯，兼酌陳平煎六安煎。</p>

<h2>痿</h2>
<p>痿蹷生於肺熱，治痿獨取陽明，爰有脈痿筋痿之別，肉痿骨痿之分。（詳《內經》。）法無一定，方不嫌紛。蒼瘦脈數兮肺熱葉焦，甘寒清上兮薄劑堪調。（玉竹、沙參、地骨皮、麥冬、桑葉、百合、甜杏仁。）（方書牛膝、骨碎補浸酒治瘻良。）若乃下焦濕火，穢毒混淆，苦辛寒燥而外，兼搜絡隧為超。（茵陳、黃柏、萆薢、川楝子、茯苓皮、穿山甲、檳榔汁。）又或內外濕湊，經脈為痹，熱鑠筋骨，痿耎瘡痍，（大豆）黃卷杏仁滑石，通草、防己能醫。亦有始兆風痱，（肩痛肢麻，頭目如蒙。）繼而足痿，陽明脈虛兮宗筋縱，營絡熱兮內風起，元參、連翹犀角鉤藤、天麻，生地桑葉丹皮堪擬。至若肝腎陰虛，厥陰風動，河間（地黃）飲子堪師，虎潛丸諸法足重。痿蹷起於遺泄，胃陽督任皆虛，藥仿四金剛丸健步丸，調中另用匡扶。（胃藥必須另用。）帶下肢痿而夜咳痰多，（浮火上升。）實奇脈以加減八味丸；久遺筋縱而痛而脊腰傴僂，（病如歷節汗出。）通奇陽以當歸麝香、鹿茸生川烏。（酒煮雄羊腎搗丸。）又如臟陰久傷，（先病遺精漏瘍。）腑陽亦滯，既痹痛而難行，復吐食而大便閉，加味溫膽湯及更衣丸，專治陽明真妙旨。甚或失血遺精，骨痿筋弛，（鹿筋、羊肉）膠（牛骨、豬脊）髓協諸溫柔，（魚膠、蓯蓉、巴戟、枸杞、茯苓、沙蒺藜、牛膝、青鹽。）冀扶羸而起廢。余如乙癸同涵，（熟地、蓯蓉、枸杞、五味、萸肉、牛膝、石斛、菊花、茯神、山藥。）脾腎雙補丸，兼熱症而主堅陰，屬虛寒而宜益火。（上並約《指南醫案》。）且夫（痿病之原，大抵起於）濕熱（者多）莫作風醫，（斷不可用風藥。）病痿宜慎飲食。（須戒厚味酒面，食淡乃佳。）因瘀（脈澀或芤，或因產後，惡血流於腰膝，或因跌撲損傷而致者，方可作死血治）因食，（氣口脈洪弦帶滑，兼腹脹痛，或惡食者，乃食積妨礙，脾氣不得運於四肢而然。）審症脈之盈虛；挾火（黑瘦人多血虛有火）挾痰（肥白人多氣虛有痰），視形軀之肥瘠。脈數而沉（濡），小水赤澀，或腫而疼，是由濕熱。（宜清燥湯加減。並《治法匯》。）足痿（臍下尻臀皆冷）陰汗（臊臭，精滑，脈沉數實，）東垣滋腎丸之用誠良；熱極似寒，嘉言冰雹之喻何的。壯火炎蒸，大承氣堪投於脾約；（詳李士材案。）高年痿躄，附子反佐乎虎潛丸。（《治法匯》案。）暨乎嗜酒成痿，伏枕三年，何藥服之立起，麥冬、五味扁豆乾葛、黃連，豈徒清燥湯一法，是該治痿真傳。（繆仲淳案。）</p>
<p><u>附：</u></p>
<p>丹溪醫案云：有人足熱，不可加綿，自誇壯實。丹溪曰：此陰虛也，不治將痿。其人不信，年近四十，竟痿而死。</p>
<p>同邑南郊陳氏，一小兒方七歲，己卯年五六月間，忽患足筋短縮，不能履地，背上發白塊如龍眼大者不一，肉色不變，亦無痛癢。內外科諸醫，歷治二月不效，漸致身熱肌瘦，食減形疲。其父憂甚，乃赴當湖訪幼科朱氏，云：診脈弦數，是為筋痿。初用東垣清燥湯，因原方藥品太多，減半令服三四劑，似乎中病而無捷效，第二方乃全用原方十八味，內黨參、耆、術用一錢，余品止用一二分，至三四分，蓋悉照原方分兩也，服一二劑，頓覺霍然，又接服十餘劑，竟如無病人矣。（庚辰八月附記。）</p>

<h2>痹</h2>
<p>絡熱則痿，經熱則痹，風寒濕合而為病，木防己湯治可分司。通陽以薏仁、茯苓白朮附子，宣絡以羚羊角薑黃、桂枝；濕勝佐蠶砂萆薢，風淫加二活桐皮。衛陽單薄，參入玉屏（風散），血液風虛，酌投柔劑。（膠、地、二冬、首烏、芝麻、歸、芍之屬。）宿邪（周痹注痛已數十年）宜以緩逐，搜絡藉乎諸蟲；（蜣螂、全蠍、地龍、穿山甲、蜂房、川烏、麝香、乳香，酒煮黑大豆汁泛丸。）痹痛兼患遺精，養正莫如益髓。（養營湯去陳、桂，又保元、茯神、鹿茸、鹿角霜，杞子、歸身、甘菊。）陽氣（被陰濕之）遏而痛加午後，勿認陰虛；（又血中之氣不行，及肝病者，其痛皆甚於午後。）陰邪痼而腫處色紅，休從熱治。目黃舌腫而發疹，參餘症因知陽損；（脈沉，胃痛，遇冷及飲涼即病。）肢攣癰潰而⿰鼻丸衄，逐痰瘀治保安康。（歸尾、地龍、穿山甲、白芥子、白蒺藜、撫芎，酒水各半泛丸。）陽動風隨，用藥宜靜；（歸杞辛溫，陽動風亦動，宜熟地、阿膠、龜膠、天冬、秋石、茯神、麥、味之屬。）祛邪（藥宜辛香走竄）補正，（另於暮夜進養營法。）分治為良。經隧留邪兮，丹須活絡；肝膽風熱兮，（煩勞鬱勃，火升痹痛。）治取和陽。（菊、桑、羚羊角、天冬、枸杞、白蒺、丹皮、茯苓、石斛。）惡寒逆冷，（右後脅痛連腰胯，暖護良久乃溫。）應知病屬奇經；陽維、陰維為病。鹿角霜、小茴、當歸、桂枝、沙蒺、茯苓。）勞倦挾邪，勿謂痛無補法。（建中、養營二法。）況乎初為風濕在經，久則瘀熱入絡。是以病隨時變，勿膠初受之風寒；（已從熱化。）症屬中虛，（食腥膩即溏瀉，周痹已六七年，正虛邪實，不可急攻。）仍務宣通乎經脈。（生白朮、生黃耆、海桐皮、桂枝木、羌活、防風根。上並約《指南醫案》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>感淺邪輕，常方可愈；受深症重，峻劑始康。穿山甲、牙皂麝香，可透骨而通經；桂附川烏，能溫經而導滯。絲瓜桑寄生石絡，善通絡以祛風；虎骨牛膝木瓜，主強筋而健步。</p>

<h2>痙厥</h2>
<p>原夫氣血日偏，陰陽一併，痙厥陡生，風雷同猛。漸復者昏暈仍蘇，轉逆者根荄立盡。如其痰食填（塞）胸中，吐法能教頓靖。（瓜蒂散及燒鹽方。）厥陽（壯火）升逆，玉女煎偕龍薈丸；薄厥（即氣厥）暴亡，蒲黃酒共五磨飲子。飛屍卒厥，酒醴引導為先；（並用針灸。）穢濁蒙神，蘇合（丸）牛黃（丸，又至寶丹）能醒。若乃內奪而厥病喑痱？地黃飲子法兼通攝；煩勞陽張為煎厥，（人參）固本（丸）煎飲入（金箔）方諸（水）。色厥而精脫神離，大劑挽元堪續命；血厥而陽騰絡沸，陰陽相引（從陰引陽，從陽引陰）即無虞。蛔厥用烏梅（丸）而寂若，腎厥投椒附散而恬如。且是症也，病端獨重乎肝，（肝氣一逆則諸氣皆逆。）治法難拘一例。若犯乎上而凌金鑠液，麥門冬（湯）瓊玉（膏）堪資；乘脾（犯乎中）而嘔脹腹疼，附子（粳米湯加人參）六君（子湯去朮加木瓜、白芍、煨姜）足恃。椒梅桂芍，治本臟（自病）之木強；羚（羊角）鉤藤元參、連翹，熄少陽之風熾。（乘巔搖絡。）母虛及子，三才（湯加龜甲、磁石、珍珠之屬。）復脈（湯減　薑、桂入雞子黃之屬）配陰柔；病悸若消，（震及心脾。）甘麥大棗湯合龍骨、牡蠣。又如陽明絡空則肢廢（而成痿），厥陰風動則神迷（而為厥）。絡病詳於《金匱》，痿厥治更神奇。鱉龜二甲豬脊羊骨髓，生地天冬淡菜黃柏及阿膠，用於填隙止厥，妙於改湯為膏。膻中熱壅心竅受蒙，（臍上心下熱熾，口湧血沫，昏厥汗出。）利芳香之清透；（犀角、天竺黃、丹參、鬱金、茯神、菖蒲、麝香、冰片、野赤豆皮煎湯泛丸。）厥陰濁泛胃陽弱，（痛厥脈伏肢冷、乾嘔煩渴。）宜辛熱以通調。（是萸、附、乾薑、川楝、延胡、茯苓。）又有婦女經多（半月二止），下焦（衝突）痛厥，病在奇經，（陰維、沖、任）。養營（僅到中宮）何益，桂枝、茯苓鹿角霜柏子仁蓯蓉、當歸，通補溫柔為則。涼膈散治陽極而似陰，（入夜昏煩，頭痛發厥，鼻煤舌乾，六脈俱細。）玉燭散方清熱結之在血。（經阻半年，入夜厥逆，肢掣，渴飲，大便久閉，脈左堅，用龍薈未效。）更或口鼻皆（有冷氣）寒，沖氣下激，冷自足以上貫於心，病由驚（恐內傷肝腎）而為厥，不宜認作真寒，（其脈由至陰而上，故多冷耳。）蓯蓉、熟地五味紫石英茯苓牛膝。（上並仿《指南案》論。）若夫飢飽傷而脈絕腹疼，先吐後下清消並進；（陸養愚案。）寒濕搏而體強肢冷，（昏厥氣粗，目閉口噤，六脈沉細滑實，先以稀涎散吐痰一二碗，隨用）羌活勝濕（湯，六劑全愈）能和。（《易氏醫案》。）至於諸厥昏絕，良久不蘇，爇沉檀以達竅，（又以新汲水灌皂角灰。李士材案。）或熏鼻以醋壺，（治產後血暈及蛔厥俱妙。）或用通關散諸法，並救急之良圖。</p>
<p><u>附：《醫級》摘要</u></p>
<p>筵前眩僕，神因酒亂乍昏；燕爾陡喑，氣以精亡孤逆。環口青唇赤，蛔疼辨寒熱之殊；痛裂攻衝，厥疝詳火寒之氣。厥兼痙握者肝強，小營煎鉤蠍；厥嘔脹者木盛，甘麥（大棗湯）蠣牡蠣龍骨，痙癇相類，癇則隨已不拘急；厥痙幾同，痙雖反張能語。（厥則不知人。）痙從傷血而生，間或感邪發病，治憑表裡，法合養攻。表實無汗，治以鉤藤、全蠍羌活、細辛，當歸地黃而散表；表虛多汗，仍投桂芍鉤蠍，主歸甘以祛風。</p>

<h2>癲癇</h2>
<p>重陽者狂，重陰者癲。狂病在肝膽胃經，三陽並而上逆；癲症屬心脾胞絡，三陰蔽而不宣。（狂病多躁而常醒，癲病多靜而常昏。）是以實狂急務祛邪，承氣湯白虎（湯直折陽明之火，及）生鐵落（飲，重製肝膽之邪；）虛狂自宜補正，壯水以制火二陰煎之類。癲而實兮，滾痰丸清心丸能速愈；癲而虛兮，補心丹枕中（丹，又歸脾湯之類）可徐痊。癇病猝然昏僕，瘛瘲作聲，實用控涎丹龍薈丸，（又五癇丸，）虛宜河車丸養營湯。是以痰火肝風，辛苦開泄，（以下統論癲狂癇三症治法。）神虛火熾，清補兼商。肝膽厥陽化風，折以極苦之藥；（龍薈丸。）勞神太過，鎮以至靜之方。（人參、廉珠、茯神、棗仁、龍骨、萸肉、五味、炙草、金箔。上仿《指南案》論。）（沈氏曰：癇症一月數發者易治，周年一發者難痊。）且夫癇多不足，狂每有餘，宜補宜瀉，彼此相殊。（《證治百問》。）陽癇（證脈皆陽）在腑而易治，陰癇（症脈皆陰）屬臟而難祛。（《千金方》，）癇病發而咬牙，導赤散應推妙品；氣結其痰而神憒，（此屬癲症。）七氣湯莫使遺珠。癇症痰多，（氣實者）湧劑（用吐法）先乎他法；（安神丸及平肝藥。）病狂不睡，辰砂散用酒和。）方詳原集。）因失志而成癲，郁舒乃愈；癇作聲而類獸，（方書以五畜分五臟。）痰去斯瘥。（丹溪獨斷為痰，大法行痰為主。並詳《治法匯》。）（《醫級》：青蒿蠹，治癇症之痰。）余如一醉膏五癇丸，安神丸寧志膏，遂心丹服蠻煎，分因異治。（諸方詳《治法匯》及《景岳全書》類方。）苟對症以施方，雖尋常而神秘。</p>
<p><u>附：李士材醫案一條</u></p>
<p>一女因悲苦驚恐成癲，笑哭罵詈，如中鬼祟，診其心脈浮滑，余皆沉細，此氣血兩虧，憂恐驚心，心傷則熱，熱積生風也。以滾痰丸，用桔梗、延胡索、陳皮、杏仁煎湯送下，出痰積甚多而愈。</p>

<h2>頭痛</h2>
<p>醫頭痛之為病也，由清陽之不升，致風火之上入。風暑淫而邪郁，宜辛散以輕清；（荷葉、苦丁茶、蔓荊、山梔、牛蒡、連翹、薄荷、元參、木通之屬。）氣血阻而瘀痹，（久痛連及腦後，有高突之狀，心下嘔逆。）賴諸蟲之搜剔。（全蠍、蜂房、川芎、當歸、半夏、薑汁。）陰虛陽越，純甘壯水偏佳；（復脈湯、甘麥大棗湯加膠、芍、牡蠣。）風動火旋，滋腎涼肝為的。（首烏、柏子仁、穭豆、生白芍、枸杞之屬。）伏邪未解，雖日久而可清；陰液既虧，（倏冷倏熱，心煩頭痛。）必峻補而始帖。（固本丸加秋石，五更時服。上並約《指南案》論。）若夫火邪頭痛，絕無表症，內熱脈洪，頭腦振振，白虎（湯加生）地麥冬澤瀉、木通，升散之品宜擯。（《景岳全書》。）亦有非風非火，久痛不休，必伏痰於膈上，濃茶取吐斯瘳。又或頭痛惡寒，噁心便秘，腳耎形寒，脈濡或細，上病取下，治從腳氣。若其食鬱有徵，消導亦堪取濟。（《治法匯》。）至於痰厥為殃，頭疼如破，昏暈吐蛔，脈實便阻，已汗未瘥，非下不可。（半夏五錢，巴霜一分，面和丸，服三十丸，薑湯下。《生生子案》。）偏頭風，左右別，左為風熱血虛，右屬挾痰或熱，熱用酒炒黃芩，痰用半夏、陳皮蒼朮，風熱宜荊芥薄荷、川芎元參，血虛利四物湯知母、黃柏。（《治法匯》。）</p>
<p><u>附:《醫級》頭痛摘要</u></p>
<p>表邪頭痛屬三陽，若腹痛兼利者，乃兩感併合之候；厥陰巔疼辨內外，如偏於左右者，多首風厥氣之憂。（厥氣或從背，或從脅而上攻。）</p>

<h2>心痛</h2>
<p>五臟之氣，（厥而）入於心胞（絡），爰有厥心痛症，勿與胃痛相淆。積勞損陽兮，溫潤用以和絡；（鹿角、歸尾、官桂、桃仁、半夏、薑汁。）脾厥心痛兮，（心痛引背，口湧清液，肢冷氣塞脘中。）辛香為之通調。（良薑、薑黃、茅朮、丁香、草果、厚朴。）聞雷被驚，白朮茯苓當歸白芍鉤藤丹皮、甘草；重按痛緩，（急心痛症，誤用辛燥。）人參甘草桂枝蜜川椒。（上並仿《指南案》論。）若乃氣鬱膻中（痞結不舒），轉輸（則似礙而）痛作，益智遠志、當歸丹參，菖蒲貝母橘皮。痰凝血滯分調，亦或病因火鬱。（並宜分別治之。凡言心痛者，皆心包絡病也。包絡痛在兩乳之間，即膻中也；若兩乳之下，則胃脘痛也。《證治百問》。）</p>

<h2>胃痛</h2>
<p>若夫胃痛多因，要旨可約，初病在經，久痛入絡。辛香理氣為宜，（此於初病為宜。）辛柔和血是酌。（此於久痛為合。）飲停兮吞酸可徵，食滯兮噯腐可察。厥氣乃散漫無形，瘀傷則定而久著。蛔蟲動擾，當頻痛而吐沫；痰濕冱凝，必善吐而脈滑。營氣兩虛者，不離嘈辣而動悸；肝陽沖剋兮，定然嘔逆而煩渴。陰邪之勢，其來必驟；鬱火之疴，由漸而劇。（自停飲至此，全用邵論原文，但略易數字以叶韻。）（書云：凡痛而脹閉者多實，不脹不閉者多虛。）所以肝（風犯胃）厥涎衰，痛嘔拒食，或投石決明、枸杞生地阿膠，（又茯苓、桑寄生、石斛。）或進二陳（湯去甘草）粳米、人參麥冬。氣閉則熱自內生，（肝厥挾痰，誤用守補致痛極痞脹。）鈴金鈴子、延胡索梔子、黃連偏中窾；陽敗則味淡短氣，人參附子薑桂枝正相宜。蓽茇草果乾姜，療乎胃冷；瓜蔞薤白桂枝，治主胸痹；二陳去甘草，兩症兼施。脘痛似乎拘束而健運失司，理中焦卻嫌守補；（勿用耆、朮、甘草。）病虛寒而氣宣（吐痰泄氣）消緩，通陽明勿雜多歧。（人參、半夏、茯苓、附子、乾薑、薑汁。）得食甚而手按稍安，（形寒）和營最妙；（當歸桂枝湯去芍加茯苓。）脈虛耎而食入脘痛，（背寒）用補勿疑。（參、苓、歸、芍、炙草、薑、棗。）陽微濁凝，川烏附子、川椒乾薑俱炒黑；酒肉滯氣，金鈴子散失笑散及桃仁。病有因（飲食鬱勃）而嘔吐肢寒，勿訝陽微欲脫；痛頻復而血凝氣阻，須知瘀滯宜行。（蘇木、人參、鬱金、桃仁、歸尾、柏仁、琥珀、茺蔚、紅棗肉丸。四句止一案。）（上並約《指南案》論。）若夫心與頭互痛而便燥，（肺氣不降。）單黃芩（酒炒為末，湯下。十餘服愈）可起沉疴；胸常若飽而形消（食少），下瘀血酌乎老少。（年壯者，可用桃仁承氣湯；老弱者，但以四物湯加入桃仁、紅花、五靈脂、歸尾、酒大黃、韭汁為妥。上一條丹溪案，此條虞恆德案。）卒心痛兮脈洪數，黃連一味能瘳；腎氣逆而上衝心（痛），韭汁和五苓散為丸妙。（茴香湯下。《病機沙篆》。）脈（兩寸關弦）滑（有力）拒水（湯飲皆吐，不食痛甚）夜尤疼，五靈脂酒調沒藥；（吐出綠痰兩碗而痛止。《醫統》）肢冷脈微（沉細澀）胸畏熱，（喜掀露風涼，渴喜熱飲。）草豆蔻丸入黃連倍加。（又滑石、神麯。丹溪案。）心脾病發而脘疼，陰虛之候；肝胃相逼而隱痛，鬲症之緣。（《己任編》。）（《本草綱目》治心氣疼痛，綠豆二十四粒，胡椒十四粒，同研，白湯調服即止。）</p>

<h2>脅痛</h2>
<p>若夫雜症脅疼，厥陰所屬。爰有河間金鈴子散，長沙旋覆花湯。兼動躍則甘緩理虛，（炙甘草湯去薑、桂。）屬虛寒（痛發午後，得食自緩）則辛溫通絡。（當歸、茯苓、炮薑、肉桂、炙草、大棗。）清氣熱（攻衝擾脘入脅）以黃連牡蠣白芥子、夏枯草，（又香附，半夏，）泄肝鬱（脅脹夜甚）以香附姜渣、川楝子橘葉，（又半夏、茯苓。）寒入絡脈兮，（脅痛攻心，嘔涎身慄。）蓽茇、半夏良薑吳萸；（又川楝子、延胡索、蒲黃、茯苓。）怒動肝陽兮，（左脅閃閃。）鬱金降香末。（又山梔、半夏曲、橘紅、石斛。）進食痛加大腑干（大便燥結，）脈動而虛左小弱（痛勢上引）得食安，（嗌乾舌燥、心悸。）並投新絳和營絡，柏子仁歸鬚桃仁橘紅、琥珀攢。（前症用旋覆花湯加桃仁、歸鬚、柏子仁。）寒熱不休，（脅下痛犯中焦，初起上吐下瀉。）病在少陽之絡；（青蒿、丹皮、歸尾、澤蘭、紅花、鬱金。）肝風內震，（左脅骨痛，易飢嘔涎。）藥宜復脈湯之甘。（生地、阿膠、白芍、柏子、桃仁，又天冬、枸杞、桂圓。上並約《指南醫案》。）且夫肝腎兩損，（房勞兼怒，兩脅脹痛。）柴胡、當歸六味湯效如神；肝脾血虛，（胸脅脹痛，手按稍止，脈洪大，重按細。）加味逍遙（散加川芎、地黃）功立奏。（《薛氏醫案》。按之痛甚，不皆實症為然；（有陰虛火旺，而脅及肩背作痛者，亦手不可近，服消瘀藥反劇。《廣筆記》案。）氣血分岐，勿為後人所囿。（脅痛左右血氣之辨，古無是說，此實後世之謬。《景岳全書》。）矧如肝葉脹因於（方食時）爭誶，合用歸脾（湯；《己任編》案。）脅（連腰肋）腫痛起自忍飢過勞，（不能轉側，醫治不效，一儒者診之曰：此肝火也。）偏宜龍膽（瀉肝湯、當歸龍薈丸而愈。《名醫類案》。）是當參前賢論治之精，（詳《醫旨緒餘》黃古潭脅痛論。）抑宜鑑誤用平肝之慘。（一人遇勞與飢則脅痛，醫投平肝藥，痛甚而殞。《類案》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>邪由肝膽者，患始本經；邪非本經者，症由傳及。脅痛出食者，症已歸肝；脛腫掣痛者，脅留惡血。息賁肥氣，左右肋結如杯；息積風根，痼疾不妨於食。脫血脅痛，出清涎而先覺腥臊；挫閃結瘀，常牽釣而痛無休息。沖痛面黃夜甚，多屬血瘀；脅鳴嘔水攻疼，必為飲癖。右脅咳如痛裂，防傷肺絡血來；左痛噯泄氣得瘥，多屬疝瘕氣逆。淬鐵飲代赭石旋覆花，鎮肝經之逆痛；玫瑰花楓實，開結滯之危疼。</p>
<p>又云：左右兩脅痛，皆屬肝病，其脅痛連小腹者，左為大腸病，右為小腸病，仿此分治每立應。嘗驗之豕腹、牛腹、鼠腹，其大腸皆在左，小腸皆在右，推之於人，當必無異，診脈分候，亦當復然。</p>
<p>又云：右脅隱痛，咳則如裂者，此由肺邪之結，若見於左者，仍在肝也。</p>

<h2>腹痛</h2>
<p>腹處乎中，痛因非一，須分有形無形，主治機宜已得。何謂無形？寒凝火鬱抑，氣阻營虛，（及夏秋）痧穢暑濕。何謂有形？蓄血傷食，瘕疝蛔蟯，偏嗜成積。於是泄濁通陽，吳茱萸湯四逆湯；清火泄郁，六一左金丸金鈴子散。開通氣分，四七湯五磨飲子；宣攻營絡，歸鬚桃仁山甲韭根。（及下瘀血湯法。）緩而和兮，戊己湯加減，小麥甘草大棗湯；柔而通兮，復脈湯加減柏子仁、肉桂當歸蓯蓉。發疹（五六年）形（體畏）寒（大便腹痛裡急），郁病（氣血凝滯）自宜宣導；（當歸、酒大黃、枳實、桂枝、白芍。）當臍腹痛（冬發春愈，病作噯氣，）營虛卻喜溫通。（當歸、肉桂、茯苓、炮薑、炙草、大棗。上並仿《指南案》論。）是症也，鬱火阻於寒涼，（怒後胸腹脹痛，消補攻下不效。）溫清並用；（白蔻、官桂、木香、薑汁、黃連、梔子、鉤藤。陸祖愚案。）胃（中積）冷偏兼腸（中）熱，製藥宜工。（詳陸養愚案。）故有壯熱譫語，吐利交頻，舌灰（刺如芒）足冷，心下按之大疼，六脈模糊澀弱，誰知食壅太陰，（不能鼓運其脈。）涼膈散甫投一匕，頓令脈復神清。（張石頑案。）二尺沉弦（按之益堅，向患寒疝，停食感冒）知積疝，若氣逆則暴絕堪虞；（是夜果復暴滿而逝。同上詳原案。）右脈滑大（有力，左沉伏）屬膠痰，（臍腹右痛，便秘嘔吐。）令便通則痛嘔自止。（元胡索五錢，調服元明粉三錢。《生生子案》。）傷冷食而燥矢作痛，先投丁附（治中湯一帖）而後與巴霜沉（香、木香作丸，下五六次而愈。虞恆德案；）病積熱而腹中如火時疼，輕用（二陳湯下）芩連而重宜（調胃）承氣（湯，元明粉亦可。《治法匯》。）痛而積血欲吐，（久患腹痛，脈人迎氣口洪滑侵上。）湧血餅以燒鹽；（《易氏醫案》。）痛而繞臍有形，（其狀如死，脈近尺帶滑。）療臍疝以枸杞。（白芍、茯苓、吳萸、肉桂，六劑痛止。《芷園臆草》。）若臍下之大疼，人中黑而多死。（《治法匯》。）又有小腹脹疼，形如覆碗，氣壅者吐之斯安，瘀停者（脈沉弦，小水或通或秘）下之自緩。如小水之不通，尿澀血凝分勘。（瘀血亦有小便不通者，當以餘症及脈參之。同上。）更有（少年酒食後，又色慾過度）火挾臍起，上入胸膈，腹痛若抽，胸中阻如（有物杆）格，此由丹田有寒，（若相火上衝，則必上至頭面矣。）烏藥（二錢）回陽（附子三分）有力。（五日見效，服附子百枚而全愈。《慎齋遺書》。）筋骨皮肉之痛，經邪勿治中宮；（景岳。）腰脊控睪而疼，要藥無如羌活。（《類案》。）</p>
<p><u>附：《醫級》心腹痛摘要</u></p>
<p>痛極脈伏，察伏陽更推脫候；痛分經絡，橫痛絡直痛在經。膈疼牽引背肓，宣通肺膈；正腹痛連徹背，溫化陽明。環口青扛痛，厥暈唇紅者，蛔結之狀，唇瘡介齒，顰蹙額捫腹昏默者，狐惑之形。痛沉著而腹足釣牽，法必溫行，溫行反劇者，腸癰欲作；痛引陰而囊癰蔓串，治難消潰，潰後屎出者，盤腸妨生。燒錘紫石英鎮陰煎，鎮攻衝之厥痛；刮刺蒸臍探吐，探脫伏之旋沖。掣背之疼，宜調中鹿膠平胃；肩肓之痛，須桂甘活絡溫通。橫痛者，進桂桃寄生山甲；直痛者，宜升麻蘇梗青蔥。</p>
<p>又云：心腹之痛，在經文《舉痛論》，因寒者十三條，因熱者惟一條。然嘗驗之初病多因寒，久則成熱，則寒亦化火矣，故治此症，不宜偏熱也。</p>
<p><u>《折肱漫錄》云：</u>　霍亂腹痛，誤飲米湯即死，屢屢見之，不可不慎。</p>

<h2>肩臂背痛（附：手腕痛）</h2>
<p>肺俞為病，肩背斯疼，及乎臂痛，同責陽明。症有內外兩用，治分氣血二致。陰傷絡澀因勞倦，循經入絡利辛甘。（桂枝、防己、茯苓、苡仁、五加皮、白蒺藜。）風動筋急責營虛，（痛時筋攣，繞掣耳後。）活絡舒筋同主治。（當歸、黃耆、薑黃、桂枝、防風、生白朮，送活絡丹。）若夫厥陰風動，陽明絡虛，歸身、黃耆枸杞柏子仁，胡麻白蒺藜羚羊角烏制首烏。肝濁逆攻痛至背，參仲景之烏梅（丸加減）；腎氣攻背而項強（腰重頭疼），法許學士之椒附散。（川椒、附子、桂枝、茯苓、生白朮、生遠志，）脈芤失血（汗出背痛），補絡斯安；（人參、歸身、棗仁、白芍、茯神、炙草。）脊突背痛，督虛之故。（鹿角、鹿角霜、枸杞、歸身、杜仲、沙蒺藜、茯苓、青鹽。）陽明氣虛，（肩臂難屈伸。）歸身、黃耆理乎衛陽；（又桂枝、薑黃、海桐皮、夏枯草。）口鼻寒侵，（胸痛引背、手足厥冷。）溫藥兩通氣血。（川楝子、延胡索、香附、橘紅、烏藥、吳萸、紅花。上並約《指南案》論。）又如痛起肩背胛縫，上至胸前側脅，脈來弦數豁如，病因謀慮不決，丙火小腸乘膽（子來乘母）為實邪，龍薈丸藉人參木通力。（煎湯下，數服愈。丹溪案。）防風湯散肺俞之風，五積散祛寒濕之襲。痰流臂痛，指迷丸有奇功；風痹牽疼，控涎丹治痼疾。（葉氏案論。）手太陽氣鬱不行，肩背痛不可回顧，外因（以）風藥（散之）可痊，內傷補中（益氣湯）不誤。手腕腫疼，多因風熱，否或挾痰，（用藥以）薑黃（為引）毋缺。他若濕熱風痰，水虛精竭，（心痛或）牽引（乳脅或）走注（背痛，此由）元氣上逆，（當引使歸元，不可復行疏刷。）並宜隨症分調，（並《治法匯》。）莫漫稱虛道實。</p>

<h2>腰腿足痛（附：腳氣）</h2>
<p>腰痛一症，主病維腎，三因須明，五辨宜審。（詳原集。）倘其腎陽或虧，益火以消陰翳；腎陰內奪，壯水以制陽光。（此內因治法。）濕鬱生熱先除濕，陽傷寒濕用通陽。（此外因治法。）勞役受傷，先天后天同治；墜墮致損，（辨傷之輕重，與瘀之有無。）或通或補分商。（此不內外因治法。）腿足之痛，治濕為綱，（或）補中（或）填下（或）養肝，審因投劑；佐溫佐清佐散，（謂治濕）隨症裁方。故有飲酒便溏，遺精腰楚，（痛而麻木。）苓桂術姜（湯），驅濕暖土。老年腰痛，宜治奇經，小茴香、肉桂當歸蓯蓉鹿角，溫養妙取有情。若其痛著右腿，肌肉不腫，入夜勢篤，筋骨邪壅，地龍穿山甲細辛歸鬚，妙兼靈動。又如兩足皮膜，撫之痛作，厥陰乘犯陽明，梔子、川楝子歸鬚桃仁青皮、延胡索。及乎兩足骨骱皆疼，飽食則噦，獨主胃陽明虛（不能束筋骨，苓薑朮桂湯。至若嘔逆吐涎，沖氣攻心，（足大）拇指強（硬而）痛，腳氣同形，宜用吳萸熟附子，更襄防己獨活、當歸細辛。（上並約《指南案》論。）（按腳氣由於濕熱，而拇指強痛，或足膝反冷者，忌投萸附等熱藥。）又聞鬱怒（傷肝則諸筋縱弛）憂思，（傷脾則胃氣不行。）腰痛之寇，（沉香）降氣（湯）調肝（散，二方詳原集）。厥功各奏。（《證治準繩》。）濕痰入腎而腰痛，攻下始獲安痊；（《廣筆記》。）濕熱太甚（老人稟壯、好飲火酒，腰痛欲死）而脈洪（滑之甚，小水不通，）寒涼何妨峻授。（大分清飲，倍加黃柏、膽草而愈。景岳辨丹溪論。）久痛宜開，用官桂可例（治）腹脅（痛亦然）；（《丹溪心法》。）木鬱當達，（因亡女腰痛。）君白芍香附還佐乳香。（沒藥、橘紅、肉桂、白芷。《廣筆記》。）察脈審症，心法毋忘。左（脈濡細而）數右和，（體瘦嗜酒，腰腿大痛。）血（虛受）熱投滋腎（丸加牛膝、杜仲）而頓愈；（一人肩背與膝相引而痛。）寸脈弦（一人昔肥今瘦，兩膝與肩互痛，）二尺滑（而沉），流痰分吐（前症用瓜蒂散）下（後症用小胃丹）而俱康。青龍湯加檳榔治腳氣初起，（治腳氣用小青龍湯。）上氣喘促表邪方，實者用五皮五子散，虛惟八味湯冷服為良。足跟痛（瘦人脈數）用坎離（丸加牛膝），濕熱（飲酒人）痰流（肥人脈滑）須異治；濕熱用當歸拈痛湯，濕痰用二術二陳（加木瓜）。腳心痛惟補養，（並詳《治法匯》。）腎臟風毒更宜詳。（腳心如中箭，發歇不時，宜瀉肝。《名醫類案》。）或有婦女足底刺痛如錐，此屬濕侵（下焦）血分，健步丸子能醫。又有足腫痛不可忍，一脛之大如腰，（自腰以下，鉅細如一。）亦由腎臟風攻注（腳膝），煨腎（散加）木鱉堪療。（方詳原集。同上。）</p>
<p><u>附：《醫級》腳氣賦摘要</u></p>
<p>寒熱足疼攻脅，柴桂牡蠣左金丸，前癃後閉危疼，導赤（散）柴芒牛射（通淋散）。邪著陰而內痛，芎歸紅花、香附梔姜；肝犯胃而跗疼，戊己湯楝延柴桂。肝熱下流痛劇，雞鳴散如神；寒濕浮腫頑疼，獨活湯必效。</p>
<p><u>腰痛賦摘要</u></p>
<p>風寒濕之合痹，皆可著疼；肝腎膀胱之瘧邪，悉能致痛。督脈受邪，痛形反折；跌僕致損，瘀滯牽疼。疝瘕邪留痹結，亦作腰疼；積根原抵兩旁，但從積論。悠悠切切屢發腎之虛，陰晦痛重濕之患，安息稍可者虛候，寒熱掣痛者實邪。（眉批：按腳氣由於濕熱，）而拇指強痛，或足膝反冷者，忌投萸附等熱藥。</p>

<h2>諸痛</h2>
<p>若夫諸痛之疴，久必入絡，宜宗（《金匱》）旋覆花湯，或佐歸鬚桃仁柏子仁鹿角，或襄桂枝、沙蒺藜降香、小茴香，或入薑黃延胡索志遠志鬱金。大旨辛潤宣通，勿用酸寒澀藥。發黃（由氣血不行）莫作疸醫，怯冷（由營衛不和）非關陽弱，久病當以緩攻，奇脈必宜兼察。（肝腎下病，必留連及奇經八脈。鹿角霜、桑寄生、杞子、當歸、沙蒺藜、石斛、白薇、杜仲。）若其熱伏至陰，（初受寒濕，久則化熱，深入陰分。）脈細而數，麻木刺痛，自巔至足。或入夜兮勢增，或痛來兮迅速。（上總括三案。）東垣滋腎丸方，能使沉疴頓卻。鹿霜歸杞，治脈絡之不和；（見上奇脈條。）溫潤甘柔，（人參、當歸、沙蒺藜、茯神、枸杞、菊花炭。）主病後之勞復。（上約《指南醫案》。）</p>

<h2>疝</h2>
<p>疝由衝任為病，亦屬督脈所生。（詳《內經》。）仲景方溫補散寒，當歸生薑羊肉湯；子和法辛香流竄，虎潛丸金鈴子散。益夫暴疝多寒，久疝多熱。（此葉氏治疝大指。）濁陰聚絡，（臍旁動氣，少腹結疝，睪丸偏墜。）藥宜蓯蓉杞子、當歸舶茴香；（又安息香、茯苓。）肝氣不宣，（少腹橫梗，痛擾腰脅以及陰囊。）治用左金（黃連、吳萸）山甲。（又青木香、川楝子、延胡索、橘葉。）溫通肝絡，（疝墜於右，筋縮，連少腹痛。）乳香穿山甲川楝子黑川烏；（又橘核、小茴、韭白汁泛丸。）直走至陰，（疝痛有形，嘔吐黃濁，大便不通，脈左澀右弦。）鼠矢韭根汁桃仁橘核。又金鈴子、延胡索、小茴、青皮。肝風筋疝，（怒勞致傷。）宜通補以熄風；（蓯蓉、補骨脂、歸尾、小茴、韭子、茯苓、胡桃、青鹽、羊內腎蒸熟和丸。）陽微陰凝，（寒戰後熱，囊大尿少，至晚腫脹愈加。）當溫經而泄濕。（桂枝、吳萸、川楝子、茯苓、牡蠣、澤瀉、青皮汁。）濕熱鬱於血中，（老年久疝，因嗔怒而腫大熱痛。）丸投滋腎；厥氣衝而攻胃，（宿疝氣衝，味酸湧吐，完穀不化。）治仿白通湯。濕勝熱淫，（囊腫形堅。）龍膽草、蘆薈黃柏山梔（又知母、豬苓、澤瀉、海金砂、細辛）可與；陽衰疝墜，乾薑吳茱萸、人參附子當庸。故有自壯至老，病根不輟，下焦日衰，升陽頗合，二鹿茸、角霜菟絲子、當歸，桂枝沙蒺藜。又或疝兼瘧母，肝絡邪凝，宿疴沉痼，痛引陰筋，宣肝還兼暖腎，溫通妙在有情。（蓯蓉、枸杞、歸身、小茴、穿山甲、全蠍。上並約《指南醫案》。）又嘗參之，厥疝瀝瀝有聲，左脅有形如臂，當歸四逆湯，治之亦易。（李士材案。）（當歸四逆湯，乃歸尾、附子、延胡、川楝、官桂、茴香、柴胡、芍藥、茯苓、澤瀉共十味，與傷寒方不同。）若夫睪丸所屬，左水右火，故治氣宜右，（痛少腫多。）而治血宜左。（腫少痛多。《病機沙篆》。）病疝而衝心欲死，投八味丸以回生；（同上。）飲酒而痛注右丸，先服調胃（藥一二劑）而次吐。（《證治準繩》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>發必攻衝者氣論，痛必泄血者血名。（有疝發吐衄者，名血疝。）水因氣阻，即為水疝；（疝發即吐清水，脅脘皆痛。）夜出晝伏，義作狐評。㿗疝頑壅，腫墜不痛；橫弦豎弦，結聚牽疼。（此內氣結聚，痛在腹脅。）久疝止作無休，三層茴香丸可愈；內疝無疼氣擾，導氣湯都氣丸能安。經驗疝方，五苓散茴香、川楝檳榔，木通橘核；鎮攻疝劑，淬鐵飲鎮陰煎導水茯苓湯，攻積通經散。</p>
<p>李士材治一人嗜火酒，又涉溪水，遂致右丸腫大如斗，久治不效，以胃芩湯加梔子、枳殼、黃柏、茴香、十劑略減，即以為丸，服至十八斤全安，後不再發。</p>

<h2>耳病</h2>
<p>腎竅在耳，心亦寄焉，膽脈同附，三絡相連。是以體虛失聰，心腎同責；邪干竅閉，治膽為先。假令竅逼火風，溫暑為恙，聽而不聞，耳疼或脹，梔子、連翹竹葉滑石銀花荷，妙取輕清泄降。抑或膽陽上郁，聤脹耳聾，羚羊角丹皮梔子蔓荊子、鮮荷葉、苦丁茶菊葉，夏枯草諸品有殊功。心腎兩虧肝陽亢，內風上旋竅為蒙，山萸白芍滋石龜甲沉香、熟地牛膝，瑣陽秋石、遠志五味二門冬。氣閉而鳴，宜投木通香附；左耳為甚，先泄少陽。因風溫而致不聰，取茶調散於臨臥；補心腎而清膽郁，分早丸晚湯以二方。（上仿《指南案》論。）五閉詳於景岳，火閉邪閉竅閉兮虛閉氣閉。外不能達，病仿經調；內不能通，症從臟治。實者暴鳴而聲洪，虛者漸鳴而聲細。耳癢極兮難忍，挑出血兮始止；腎風虛兮毒上攻，透冰丹兮能立已。（方詳《證治準繩》。）婦女左聾，忿怒必甚；丈夫右塞，嗜欲偏多。陽明大虛則耳聾，補中湯可效；（並《治法匯》。）肝火傷血（因於怒）為耳痛，六味丸能和。三焦風熱而腫疼，逍遙散加味；脈滑事煩而重聽，痰火當祛。（《病機沙篆》。）</p>

<h2>目疾</h2>
<p>目疾無論內症外感，悉與肝膽相關，最要莫如心腎，他臟亦間來干。外因必呈表症，方宜清散而安；至於內因之症，虛實分參。實緣風熱之淫，暴赤腫痛等恙；虛由水火之弱，昏矇內障為患。（平聲。）倘其陰血雖虧，風熱未盡，緩急兼權，清補互審。若乃久服寒涼，虛陽轉盛，從治宜和，甘溫是進。故夫淺淡而紫，虛熱何疑；鮮澤而紅，實熱斯信。白睛枯槁（瞳神青綠）者為寒，瞳神內湧（白睛帶赤）者為熱。目難開（腫赤刺痛，夜甚）而視物猶見，由邪火之獨燔；翳裹睛（珠不甚痛，目仍能開）而入眼如無，（視物不見。）乃真陽之欲竭。外障兮，點洗有功；內障兮，投寒轉劇。（白睛晝痛，可用點藥，黑睛夜痛，亦忌寒涼。）更有肝陰虧耗，木火上炎，眼胞紅腫睛珠刺痛，上及頂巔腦後，（如破如裂，）此則風從內發，治宜靜攝滋潛，（育陰熄風，柔肝滋腎等法。）切忌羌活防風升散，（及川芎、細辛、藁本、升麻等藥。）致令痼疾難痊。（上仿《指南案》論。）爾其年壯氣實，酒客膏粱，積熱上壅，目痛非常，脈實數兮有力，涼膈散酒蒸大黃。若乃體厚胸痞，食少倦怠，脈滑以沉，伏痰為害，治以溫膽湯加芩連，甚者滾痰無礙。且夫療目昏須用參耆，治目翳當分五色。（並詳《治法匯》。）目久不愈，地黃（六味加味）丸合補心丹；（朝服六味丸，臨臥服天王補心丹。《廣筆記》。）血熱（每睡起目）腫紅（良久卻愈），白粳米制生地汁。（服二日而愈。《名醫類案》。）羊肝丸愈赤眼之神丹，（《治法匯》。）八味飲招腎陽之離宅。（趙養葵案。）女子通經（經停三月，肝脈弦滑）而疾愈，蓋緣血盛肝強；（肝血並而不通。孫真人案。）小兒治疳而目痊，只為肝經濕蒸成熱。（眼眵腹脹，九味蘆薈丸妙。《治法匯》。）龍薈丸瀉肝實而火炎，（目昏脅脹，脈弦數實。）茶調散吐膠痰之在膈。（壅滯痞悶，上攻於目。同上。）目疾不宜六味，此說可參；（謂茯苓、澤瀉滲水，山茱萸不宜於目。黃氏云：以予驗之，信然。《醫學鉤元》。）液涸而致睛黃，（虛寒而目黃者，乃津液乾涸而然，此枯黃也，非峻補不可。《景岳全書》。）斯言有識。</p>
<p><u>附：《醫級》摘要</u></p>
<p>夏枯草除目珠夜痛，蕤仁能定水生光。攀睛胬赤，飛石決明加冰片；倒睫拳毛，煅石燕入麝。</p>
<p>《千金方》神麯丸，又名磁硃丸，生神麯四兩，磁石煅、醋焠七次，硃砂水飛各一兩，蜜丸彈子大，食前米飲下，日三服。此方治瞳神散大。孫真人曰：此方益眼力。眾方不及。</p>
<p>（《本草綱目》：綠豆皮能退目翳。）</p>

<h2>鼻症</h2>
<p>蓋聞膽熱移腦，令人辛頞鼻淵。（本《內經》。）開上宣郁，頞塞方痊，則有川芎菊花茶調散，蒼耳散、防風通聖散。佐以荷葉邊、苦丁茶連翹蔓荊子，外因辛散為宜；再加夏枯草滑石梔子、石膏，內熱清涼更勝。若日久而不愈，當咸降以滋填，虎潛丸減去辛味當歸、陳皮，更襄鎮攝之品斯安。其有陰精久虧，腦髓不固，淋下不腥，虛勞先路，急宜常服天真丸，冀獲免於危痼。（上仿《指南案》論。）抑夫九竅不和，腸胃所生，（謂鼻塞。）補中益氣湯，服不厭頻，兼用化痰開竅，久之清氣自升。（治耳聾目昏亦然。）鼻紫黑由血熱而結，（嗜酒人多患此。）涕多或黃或白（或帶血如膿）屬腎氣之虛。（並《治法匯》。）鼻內痠疼，有寒熱相包者、有肺虛有火者；鼻梁作痛，風邪入鼻痰火沖肺胃火上攻病之魔。瀉白散涼膈散合二陳湯，化鼻生瘜肉法兼外治；（白礬末和硇砂少許，吹上。）滋水生肝還養肺，療鼻淵愈者甚多。（魏玉璜案。）</p>

<h2>牙症</h2>
<p>齒牙何以為病，蟲虛風火宜詳。（此言齒痛。）酒客牙宣，清虛熱以石斛旱蓮草牡蠣、澤瀉；（又人中白。）頰車穴閉，（口不能張。）宣絡脈以天麻桂枝、殭蠶羚羊角。（又山梔、丹皮、鉤藤。）玉女煎治溫熱上蒸而齒痛，（連及頭巔，陰弱體質。上約《指南醫案》。）滋腎飲（黃柏、升麻、青鹽三味）主腎火盛而牙長。）《易氏醫案》。濕熱蘊牙床而痛，輕者清胃散，重者承氣湯當酌用；酒人齒蝕，硝黃桃桂可為丸。（即桃仁承氣湯。）腦犯大寒，（腦齒連痛，名曰腦風。）非羌活附子湯，（方詳原集）而莫救；（並《證治準繩》。）脹偏齒縫，分陰虛（或腸中）風熱以同參。（《治法匯》。）黑緣蟲蝕之故，腫由風熱之干；濕熱疼而齒木，火鬱痛而齦干。腎虛（牙疼其齒）浮而血虛（牙疼其齒）癢，腸欲熱（飲，脈入下齒）而胃欲寒（飲，脈入上齒。）風熱（相搏）交壅兮，吸風即痛；血搏齒間兮，掣痛如鑽刺。（又痰熱毒氣，則注痛咳嗽。《證治匯補》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>牙長者髓溢，白朮單調；肉脹者熱壅，地髓可愈。槁黑者，知柏地黃湯；齒墮者，生脈散六味丸。</p>

<h2>咽喉</h2>
<p>十一經皆湊咽喉，（惟足太陽別下項。）陰陽結獨由君（火手少陰）相（火手少陽。《內經》云：一陰一陽結，謂之喉痹。）爰由腫痛風蛾，急則治標為當。（辛散咸軟，去風痰，解熱毒為主。）爾如風火上郁，陰虧脈數，連翹薄荷、牛蒡射干，沙參元參貝母、石斛；又如喉間緊痹，肺中氣熱，地骨皮枇杷葉蘆根，天花粉苡仁百部。氣火蒸而喉舌疳蝕，解熱毒以金汁銀花；又川貝母、馬兜鈴、連翹心、通草、蘆根汁。厥陽化火風上竄而喉痛痹，（痛連心下，每晚加劇。）緩肝急以阿膠雞子黃天冬、生地。（又元參心、糯稻根鬚。）二氣虛而龍相上灼，宗仲景之豬膚湯；肝陽上越而腎液不收，法錢氏之六味（地黃丸）。怒勞喉辣，（心震液虛風動。）甘緩微佐以酸收；（人參、萸肉炭、白芍、炙草、茯神、小麥。又復脈湯去桂。）穢濁上觸咽喉腫痹，（日暮昏煩）陰怯（未病遺泄）且療乎陽熾。（連翹、鬱金、馬勃、牛蒡、竹葉、山梔、杏仁、橘紅。上約《指南醫案》。）又如喉癬或由（楊梅瘡）遺毒，土茯苓有專司；咽中有核如臠，（此梅核氣症。）四七湯偏能化。聲如鼾睡肺絕，速調薑汁、竹瀝入人參湯；（遲則不救。並《治法匯》。）喉閉惡寒，（邪在表。）切忌酸收（如膽礬等吹喉）與寒下。（如芩、連、硝、黃等。《醫學綱目》。）喉（中生）瘡（久不愈）多由虛火，（遊行無制。）宜金水之雙收；（陰虛咳嗽，久之喉痛必有瘡，名肺花瘡，宜滋水生金藥中加甘桔。《治法匯》。）咽痛果屬格陽，用桂附而奚訝。（鎮陰煎冰冷服。詳景岳案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>無表咽疼，不宜升散；痹喉厥瀉，必與溫經。（鎮陰、四逆、八味腎氣之屬。）倉廩虛而浮火疼，四君（子湯加）石斛必效；鎖澀甚而無赤痛，烏龍膏、方闕待考甘草桔梗希平。（此症最惡。）</p>

<h2>唇口病</h2>
<p>唇屬手足陽明，（上唇屬手陽明大腸，下唇屬足陽明胃。）上腸下胃須別。熱則裂而燥則干，風則瞤而寒則揭。若乃唇腫起皮，皺裂如繭，（病名繭唇。）肝脾心腎攸關，養血滋陰為善。（以上唇病。《治法匯》。）口甘謂之脾癉，（本《內經》。）佐蘭草以瀉心湯；谷少則屬胃虛，補中宮而非舛。口苦專責少陽膽，口淡或由胃熱。（病後則屬胃虛。）年高（水弱）味厚（及服補陽藥太過）而口臭，清胃散甘露飲俱佳；膀胱移熱（於小腸）而口糜，（本《內經》。）導赤散五苓散可合。（易老法。）若投以涼劑而反增，或參乎從治而自帖。（附子理中湯。以上幾病，並《治法匯》。）</p>
<p>按：新病口淡舌燥者，胃熱也；久病口淡多津者，胃虛也。</p>

<h2>舌病</h2>
<p>舌通手少陰心，腎胃肝脾亦屬。（詳《內經》。）氣虛則舌縱而麻、陰火則舌點如黑。濕痰腫脹兮脾熱乾澀，肝熱卷而且縮兮，胃熱而舌本強直。舌燥聲啞兮肺熱何疑，舌心乾焦兮腎陰已竭。（《證治匯補》。）舌生瘡久蝕以成穴，（累服涼劑不效。）黑錫丹善鎮浮陽；舌無故而自痹，（由心血不足。）理中湯（加當歸）亦培心血。舌腫脹而形強脈實，（由積熱內盛，上焦痰熱。防風）通聖放涼膈散堪投；（《治法匯》。）舌本強而木盛土虛，柴胡芍藥六君湯可啜。（此症善怒，臂麻。《薛氏醫案》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>上唇燥而或飲（肺熱）或否（大腸熱），熱別肺腸；下唇焦而為漱（漱水不欲飲為脾熱）為消，（消渴為胃熱。）熱分脾胃。上論唇。）黃轉黑枯，真陰欲竭；苔偏旁出，肝膽邪深。（胎生舌之兩旁，少陽膽病，若偏結一邊，肝臟之邪。）苔隨食化者虛候，惟補中而兼運；（朝起未食則舌苔，食後苔退，皆虛候也。）偏苔半截者臟病，非補養而莫除。紅潤黑紋，厥陰寒候；苔中小舌，傳變危機。（上論舌。）</p>
<p>又云：潤滑薑黃，太陰寒化；舌紅點黑，斑疹先推。焦紅且紫，補水為先；淡白而光，溫經為急。舌木舌長皆火候，如菌如荔總虛邪。硃紅喜熱者龍雷，燥焦不渴者陰槁。</p>
<p>又：《醫級》舌苔條云：青灰多瘧候，柴胡酌加梔蔻；灰滯多寒食，蔻姜參入平陳。色如朱紫者火升，芩連是用；稜赤枯燥者陰爍，都炁能平。旁苔膽候，正柴葫小柴胡；光枯液亡，生脈都氣。剝換由尖及內，症可漸平，四圍旁退中留，胃敗變至。</p>
<p>面赤條云：拇赤入窺庭，症多陡變；腫紅胞碧暗，瘟毒難當。</p>
<p><u>附：王晉三白苔論並薑桂湯方</u></p>
<p>傷寒臟結症，舌上白苔滑者難治，戒之不可攻。而《舌鑑》論白苔十九症，皆用汗下辛熱之法。余閱歷多年，未有能治之者。戊午歲少陰君火，太乙天符，自春徂秋，民病無論三因，舌苔白者居多，有白滑、白屑、白粉之異，原其義，即《至真要論》熱勝寒復，火勝水復，熱極反見勝己之化也。用炮薑、附子，則白苔厚而液燥；用芩、連，則手足冷而陽脫。余尋思舌為心之外候，其色當赤，白為肺之色，反加心火之上，是侮其所勝，顯系寒邪入肺，鬱蒸見於舌，是衛實營虛，乃以大劑生薑汁泄衛，肉桂通營，人參、南棗、當歸助營衛之正氣，服之皆應手而愈，名之曰薑桂湯，宗仲景心營肺衛立方也。</p>
<p>老生薑汁（三錢沖），肉桂（二錢四分），人參（三錢），當歸（二錢四分），南棗（三枚）。上水二鍾煎八分，沖薑汁，分三服，隨時服。</p>
<p>按：溫熱症初起舌白，瘟疫證舌白如粉而滑，四邊色紫絳者，乃疫邪初入募原，未歸胃腑，當亟與透解，此方俱不可誤投。《治法匯》亦曰：脾熱則舌滑而苔，脾閉則白苔如雪。陳准齋云：二句不論外感內傷，皆從脾熱閉論。上二條與王氏之論相反。大抵當以症象合色脈參互斷之，庶無謬誤，不可專執舌苔。</p>
<p><u>《金匱》云：</u>　病人胸滿唇痿，舌青口燥，但欲漱水不欲咽，為有瘀血。</p>

<h2>陽痿</h2>
<p>陽萎之因，肝腎攸責，必峻補乎真元，血肉之功毋缺。（斑龍、聚精、茸珠合方。又雄羊腎、鹿筋膠之屬。）因恐懼則宜固腎而升陽，因思慮則合三陰以兼攝。（心脾腎同治。）郁損生陽，逍遙散參乎越鞠湯；濕熱為患，（宗筋必弛縱而不堅舉。）淡滲更佐（苦味）堅陰。若其宗筋縱弛，治惟通補陽明。（上仿《指南案》論。）</p>

<h2>脫症</h2>
<p>若乃陰陽偏勝，脫症多因。目瞑口開遺尿具，人參附子童便續元真。旋救陰而以生脈散，去剛燥而轉甘柔。鼾聲呵欠而躁煩，地黃飲子急固根蒂；亡陽（由於汗多）寒痙而（煩）渴嘔（逆），救逆湯冀挽彌留。（上約《指南案》論。）</p>

<h2>驚</h2>
<p>驚則傷膽，心肝俱戕。氣逆汗淋，重鎮參救逆之法；（桂枝、黃耆、人參、龍骨、牡蠣。）肢寒（冷汗）神怯（欲速），寧心協甘緩之方。（人參、茯神、棗仁、龍骨、菖蒲、炙草、南棗、小麥。）暴厥兮心怔陽動，則肝腎同固；（生地、萸肉、龍骨、牡蠣、五味、金箔。）神傷兮不語竅阻，則痰火宜攘。（建蘭根、薑汁、金汁。上約《指南醫案》。）</p>

<h2>脫肛</h2>
<p>脫肛之故良多，例用補中益氣湯，腎虛不攝（肛墜尻痛，痢多傷陰）禹糧（石脂丸，熟地、五味、茯神、山藥、楂肉、菟絲煎送。又）左歸（飲）除枸杞加五味菟絲遠志。（便後少腹痛肛墜，溺則便滑。）老人（下元）陽憊（肛墜，氣泄如風，）陽起石（三分調入）配人參鹿茸；（又補骨脂、大茴、茯苓，此症非升柴能舉其陷。）久下血（脫肛，遇勞即發，背脊痛，病經十六年）奇（脈）傷，斑龍丸加五味。（上約《指南醫案》，）若濕熱之下淫，（下痢十二日，腹痛，脫肛後重，服補中益甚，脈右關滑大搏指，此積滯固結也。）投苦寒而何忌。（用檳榔、枳殼、木香、山楂、芩、連、芎、芍等藥而愈。《生生子案》。又葉案亦有下痢濕溫脫肛，用五苓散者，見痢疾門。）</p>
<p>《醫級》云：虛而挾火，補中加連；利而過捫，六物升舉。元虛不攝，參茸亟進；火盛常脫，升連必投。</p>

<h2>雜證補遺（本《醫級》雜病原文摘要）</h2>

<h3>傷風</h3>
<p>風邪傷肺，氣合皮毛，衛氣受傷，邪干腠理。亦見三陽表症，則化斑化疹，同傷寒傳症之條；其或傳伏息留，（義詳《內經》。）則為脹為疼，成風勞積聚之候。寒風兮指尖微冷，溫風兮汗咳痰稀。暑風兮煩渴多言熱汗，風濕兮甕聲（聲如從甕中出）首重（如裹）身（多汗如）濡。精血虛而湊邪，血風勞風必辨；（注詳虛勞。）留舍久而息伏，變傳感召須知。干臟氣則五風發現，（即《內經》五臟之風。）襲腸胃則泄澼相隨。（即胃風、腸風。）五臟感發，就症推尋。肝風搐搦兮，鉤蠍歸芎星半；腎風黑龐兮，大營（煎、熟地、當歸、枸杞、肉桂、杜仲、牛膝、甘草）金水（六君丸）羌辛。肺風宜如聖（湯，防風、荊芥、連翹、桔梗、甘草。）挾火飲，麻杏石甘（湯）葶藶（瀉肺湯）；脾風需苓朮（煎，二陳湯加白朮、豬苓、茯苓、澤瀉、乾薑。）木乘土，理中（湯）薑桂六君子湯。心風火動兮，犀角（散）菖連導赤（散）；胃風腸風兮，葛根黃芩湯胃風湯。</p>

<h3>心悸怔忡</h3>
<p>驚悸悉心胸跳躍，悸來非自下上衝。忡由役慮勞精，致五火之內動；悸本邪干心主，為暴鼓而猝昏。是皆火盛而見，同由陰爍而形。水停心下，漉漉脅鳴，過汗亡陽，振振瞤惕。除傳經熱之悸，菖連導赤散犀角；療怔忡之恙，六黃湯七福飲人參。悸由過汗者，參附湯建中湯生脈飲；悸由停飲者，夏姜五苓散陳平湯。下氣奔逆怔忡，六味丸左歸飲，或佐參連噙咽；飲聚痞堅鳴悸，夏苓湯枳朮丸，或參小胃丹，（芫花、甘遂、大黃、大戟、黃柏）胰楞丸。（瓦楞子、海石、紅曲、酒麴、半夏曲、雞內金、延胡、豬胰、蒸搗糯米濃汁丸。）勞心脾而神志昏惶，酸棗（仁湯）歸脾七福；竭精氣而旋沖眩汗，補元八味養營。</p>
<p>《證治發微》云：悸即怔忡，如有物撞謂之忡，忽然跳躍謂之怔，此血虛也。健忘心中了了，口欲言而忽然中止，此平素失意，抑鬱而涎飲滲於心竅也。</p>
<p>又云：治此症及健忘，養心滋腎，而兼開導其痰，然亦須補其脾，蓋心腎不交，由脾之失養也。</p>

<h3>動氣（附：奔豚息積）</h3>
<p>臍旁振趯為動氣，憑上（心）下（腎）左（肝）右（肺）辨諸經。腎邪上逆號奔豚，以漸引（為動氣）急奔（為奔豚）分兩候。舌黑潤而心下嘈（雜如）懸，乃腎氣凌心之象；脅（肋或腹中）痛躍而連年（動氣上下）攻注，是伏留息積之疴。呼動甚而吸動微，裡虛惟補了飢動瘥而飽動甚，痞礙商除。桂苓可息奔豚，甘瀾水必用；腎氣丸能安沖逆，紫石英兼投。療虛留之積伏，補或兼攻；（間服胰楞攻積諸丸。）留泄越之全虛，補（補元、大造諸方）參（果畜）調養。</p>
<p>凡有癥瘕痞積之候者，必兼動氣之症。動而痛者多積氣，不痛者屬全虛。其有下午動，而動甚或泄氣便溺則動痛皆減者，乃食氣下留之候也。當從東垣法治之。</p>

<h3>關格</h3>
<p>陰陽俱盛，關格乃成。症喜動而惡靜，經脈振振；情張惶而易嗔，心時惕惕。（陽浮於上，故易嗔；陰孤於下，故善恐。）上形頭目眩旋，下見步艱泄厥。法尚引伸升降，劑惟調補滋培。久延上槁下枯，病成閉癃噎膈。至若脈溢魚際，非倍盛者非格，久則病發於上，（首風、目疾、喘逆、吐衄、咽瘡等症，或女子思男不遂。）宜降陽而和陰；如其脈覆尺中，非倍盛者非關，久則病發於下，（腸風，痔漏、瀉痢、遺淋、鶴膝風疼、偏墜、腳氣等症。）宜升調而莫抑。溢由所願之不伸，覆因恐欲之過極。若其關格暴邪，宜參仲師平脈（篇，與《內經》異旨。）</p>
<p>柴氏手抄云：是症多見於勞神竭欲之人，其症倏忽變更，如上所列種種。又宗筋忽為弛縱，飲食乍為增減，脈振心搖，莫可名狀，迨延久槁消，轉噎癃者有之，法惟培補，無別治也。凡洪大之脈，陰氣必傷；堅強之脈，胃氣必損；脈大四倍，已類真臟，若以脈實而枉瀉之，立見危敗。</p>

<h3>交腸</h3>
<p>由　腸為積瘀腐損，則糟粕入胞而出前陰；胞　穢濁礙壅，則津液溢腸而泄後孔。或因滯邪內變，或由傷產瘀留。初治之方，主導滯清闌而兼滲利；末治之法，當分利養正而護脬膀。療脬損以補脬（散），利腸滯以瓜子（仁湯）。進薏苡仁湯以清腸，分清飲酌配；投八珍湯而養正，礬蠟丸兼調。（諸方並注《醫級》產後條下。）</p>
<p>交腸之症，前賢所論，但以清濁混亂為病，致闌門不治，尿屎易位而出。然胃之五竅，自咽門、賁門、幽門，而至闌門、魄門，其竅貫通，若膀胱但有下口而無上口，即使闌門不清，其糟粕從何竇得出溺孔，是非脬門破損，斷不能由前陰而出也。至所用補脬散，治此頗驗，理解難通，而顧名思義，可以默喻矣。余治交腸症四五人，皆婦病，多得於橫生險產之後，則其內損脬腸，更不待言矣。（按：此論交腸之故甚精，當與喻嘉言先生論姜宜人奇症一條參看，其義益備。）</p>

<h3>蟲症</h3>
<p>蟲類多端，症因叵測。有痛宜推，必據環唇色診；未形莫臆，確詳蟲病根因。或由滯膩肥甘過度，或因生冷濕熱釀成，其類九而形狀各殊，其發痛而止作無定。食蛔寸白，（此蟲常見。）心脾之恙；截絲爛杏，（此蟲少見，大抵形狀略似而蠢動者是。）肝腎之瘨。肺如蠶而食系成癆，疳擬積而唇瘡腹大。傳屍蟲分五色，狀如帶甲米蠹足長；血癥本屬血胚，形似鱉龜身扁。始則減食瘠羸，繼則腹筋吐綠。痛則欲按復推，或捶揉而暫止；發必因寒因熱，或扛結而攻疼。暴病用安伏湯方，久病須掃除丸料。</p>
<p>茶葉糖鹽共劑，常品偏建奇勳；蓖箕木梳散，（各一具，洗淨，截一半煅研為末，一半煎湯調服）百部同湯，意治蟲癥異效。（治嚼蝨成癥，下血不止。）八味理中，溫脾腎而燥濕治本；香連丸安胃飲，（石斛、黃芩、木通、澤瀉、山楂、麥芽。）除濕火而清熱求源。食癥之蟲，必藉雞肫皮、史君子；血癥之積，還須乾漆桃仁。治蟲要法，辨難易於三旬；下蟲丹丸，奪飲食於隔宿。（余詳原集。）</p>

<h1>卷四</h1>

<h2>女科要旨</h2>

<h3>調經上篇</h3>
<p>惟女子以血為主，故治法首重調經。太衝脈盛（月事以時下。本《內經》）以無忒，陽明氣旺則時行。（血之盛衰，由於水穀，故陽明胃氣，又為衝脈之本。）倘心（主血）與肝（藏血）脾（統血）有損，均為血病之根萌。心脾為發病之源，（《經》云：二陽之病發心脾，有不得隱曲，女子不月。）大旨莫如理胃；（心為胃之母，胃為脾之府。）奇經（八脈）乃扼要之治，其次最重調肝。（女子以肝為先天。）乃若（經）先期色變，生育維艱，晨泄不爽，膚（腠刺）痛如鑽，治郁芎歸小茴生艾香附，肉桂茯苓山楂益母膏共為丸。又如經來後期，色或淡或紫，心痛嘔涎，氣衝不已，（氣墜少腹為瀉。）衝脈病（也）用二陳（湯去甘草），鈴金鈴子桂枝、小茴黃連歸尾。若脈澀（脘悶減食，經遲）而腹疼，越鞠丸逍遙散參擬。（柴胡、白芍、黃芩、鬱金、香附、茯苓、蘇梗、神麯。）又或（經水）幾月不來，（或）一月兩至，下焦肢（體常）冷屬虛寒，暖腎益肝衝任（脈損）治。（人參、河車、熟地、歸身、白芍、川芎、香附、茯神、肉桂、蘄艾炭、小茴、紫石英、益母膏丸。）肺虛（久）嗽（晨）汗，（背寒、右臥咳甚、經遲、肺虛數。）建中湯加黃耆；郁損肝脾，逍遙散減白朮。（又歸脾湯。）至如病屬奇經，經遲瘕泄，少腹干（涸而）疼，下焦麻痹上衝心嘔逆，心辣腹鳴，脾不磨食，（能食不運。參苓艾葉、香附補骨脂、當歸蓯蓉，肉桂鹿角霜、小茴紫石英膏用益母。抑或產後不復虛羸，積年不育，月信來遲，先期痛作，周身脈絡牽掣而不和，痠楚偏深於筋骨，此由肝血陰虛，勿投破氣剛藥，生地河車枸杞沙蒺藜杜仲、山楂白薇、益母還宜入黃柏。又有外寒陽微內熱陰弱，暮劇晨安，膂脊痛無汗，（經事愆期）月候常愆，肝腎至陰傷損，牡蠣、阿膠生地生白芍麥冬甘草。室女鬱怒傷肝，經來先後不一必先腹痛極，足冷（入秋下焦常冷）腹鳴，忽瀉忽結，（飲食大減。）延胡索、當歸牛膝川楝及山楂青皮，小茴香附山稜蓬朮和肉桂澤蘭。（蔥白汁丸。）陰陽乖違兮經水紫黑，來時脈絡收引而痛心嘈雜，下焦骨冷上部火升，陽宜通兮陰宜攝。（鮑魚、生地、蓯蓉、天冬、當歸、柏子仁、山楂、牛膝、茯苓、紅棗、蘄艾湯法丸。）</p>

<h3>調經下篇</h3>
<p>若夫經停腹滿、太陽當開；（四苓散、牡蠣、厚朴、椒目、大腹皮之屬。）氣滯血凝，（經閉腹膨。）積瘀宜導。又如心下有形，不飢氣滯血結隧道不行，經閉便堅，通絡為要，延胡索蘇梗、半夏香附桃仁靈脂，薑汁木香汁有效。甚者跗腫腹膨，咯血紫黑便閉，沖氣攻左脅而痛聚瘕，日久血蠱已諦。或導濕以泄肝，（桂枝、茯苓、澤瀉、牡蠣、金鈴子、延胡索）或通瘀而行氣，（桃仁、大黃、肉桂、延胡、靈脂、烏藥、青皮、鬱金、木香之屬。）大針沙丸治此疾之沉疴，（聚瘕跗腫腹大症。）小溫中丸療是症之瀉後變痢。（自跗腫腹膨至此，合四案。）臟燥則食辛病甚，（經阻，少腹痛脹，便堅，心中熱痛。）甘緩姑投；（甘麥大棗湯。）陰涸則腑陽日痹，（經阻、寒熱、浮腫腹膨，小水日少，心腹夜熱。）回生丹試餌。乾血勞莫除熱嗽，（食減便溏，最忌寒涼。）建中湯與復脈湯參投；倒經症治主和調，甘緩共辛涼互濟。（降香、鬱金、鉤藤、丹皮、蘇子、山楂、山梔，又人參、雞黃、阿膠、生地、天冬、白芍、牛膝、琥珀。上仿《指南案》論。）且夫經水不行。分因各斷，脾虛則生化日艱，痰多則血海先佔。久郁兮必肝燥而陰虧。胃熱兮斯津枯而血熯，況復心腎交傷，致疾自應過半。（《治法匯》。）尺脈洪滑兮，子宮有熱；（血海不固，大補丸加山茱、龍骨，服之而孕。汪石山案。）色如黑豆汁兮，絡中風熱相干。（四物加芩連、荊芥、蔓荊子、數服色轉。原注：亦有屬下焦寒濕者，症脈當細辨。吳茭山案。）不月風消，（五孕不育，肌削身熱，上下見血，痛無常處，作止不定，脈二手舉按皆數。）三黃湯（加山梔、丹皮、生地，白芍）瀉三焦之積火；（再用知柏八味丸加河車而孕。陸養愚案。）經行先作瀉，（二三日，脈左關尺弦細，右關小駛而滑，此肝血虛寒而脾胃伏火也。）連理湯法平寒熱之相參。（夕與加減八味丸加紫石英，而數年之疾頓愈。孫東宿案。）若果虛寒既審，（經阻半年，中滿噯酸，虛火上升，少腹痠痛。）八味丸溫補須諳。（佐服異功散，二月而愈。張飛疇案。）又若經行交合，致疾有三，伏粱（小腹結滿，水溺頻澀）經漏，（血絡受傷，俗名血沙淋。）癲疾何堪。（鬱冒一日二十餘發如厥氣。）因先病而後經愆不調，去病而經自准；因（先）經（不調而後）致病，調經而病斯安。（《女科經綸》。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>血溢經而留骨，則為骨蒸；僕損血而留經，則為腫痛。陰中熱而激寒，必成帶濁；值經期而啖冷，終觀瘕癥。</p>
<p>孀尼室女，莫施助火之方；漁婦村姬，宜酌勞傷之劑。</p>
<p><u>附：妊娠脈論</u></p>
<p>《經》云：陰搏陽別，謂之有子。又曰：三部脈浮沉正等，按之不絕者，妊子也。又曰：婦人足少陰脈動甚者，妊子也。</p>
<p>堯封沈氏（諱又彭）注曰：胎在腹中，則氣血護胎，自然盛於腹中。尺裡以候腹中，尺獨搏擊，與寸迥別，理固然也。推之左搏為男，右搏為女，理亦無二。而丹溪獨云，以醫人之左右手而言，則又是妊婦之左搏為女，右搏為男矣。想亦試驗而云然，未敢妄以為非。</p>
<p>又曰：人稟不同，脈亦各異，妊娠有見動脈者，有不見動脈者，有見搏擊者，有不見搏擊者。總之，尺脈堅實，與寸脈迥別為據耳。更有尺寸同等，而亦懷娠者，當於浮沉求之，其按之不絕者，腎實也。</p>
<p>動者，大如豆粒，厥厥動搖也。王太僕作手少陰脈，在掌後銳骨下陷中，直對小指，諒必有所據。全元起作足少陰脈，於尺內求之，尺裡以候腹中，尤為近理。</p>
<p>訒庵汪氏曰：此當指欲娩身時而言。手少陰，言手足之少陰，乃腎脈，非心脈也。</p>
<p>《馮氏錦囊》曰：體弱之婦，尺內按之不絕，便是有子，六脈不病，亦為有子，所以然者，體弱而脈難顯也。又曰：《脈訣》云，滑疾不散胎三月，但疾不散五月母，至六月後則疾速亦無矣，八九十月血氣流通，其脈和平而如無妊矣。然有始終洪數不變者，其氣血甚盛，不可一例拘也。</p>

<h3>淋帶</h3>
<p>帶下病由奇脈，虛痰濕熱當詳。（赤者屬熱，兼虛兼火；白者屬濕，兼虛兼痰。）景岳分因有六，（一心旌淫；一欲事過度；一人事不暢；一濕熱下流；一元氣虛，一脾腎氣虛下陷。）並堪隨症裁方。（詳景岳《婦人規》。）則有風陽乘土，脈數色蒼，（陰不足。）地生地芍白芍牡蠣、阿膠樗根皮、黃柏杜仲，天冬、白薇蓮子續斷共成湯。（合二方。）久則液涸風動，八脈俱戕，腹膨浮腫，寒熱為殃，咸緩和陰姑暫用，阿膠蓯蓉牡蠣郁李仁柏子仁霜。又或五液走泄，陽冒熱蒸，舌光赤頭脹，（身熱帶下如注。）攝劑相應，山萸熟地桑螵蛸蓮子芡實茯神，勿參動藥斯靈。（若參鹿霜、沙蒺，仍是升舉動陽，則無效矣。）甚者崩帶淋漓，陰從下走，暈厥汗泄，陽自上升，目中妄見，當鎮陽神，五味阿膠龍骨、牡蠣，蓮子芡實、人參茯苓。又或腰背膂脊，牽掣似墜，熱自左升，奇脈傷所致，震靈丹收固效靈，煎丸方大旨仿是。（煎方：人參、鹿角霜、沙蒺藜、桑螵蛸、枸杞、茯神。丸方：人參、麋茸、菟絲，補骨脂、紫石英、禹餘糧、茯苓、小茴、遠志。）抑或產勞陰損，漸及奇經，漏淋成帶尿數，骨骱盡痛神呆驚恐，杞子菟絲、茯苓破故紙，麝霜杜仲、沙蒺藜歸身。更有臟陰既損，腑陽亦傷，（少腹拘急脹痛，大便艱澀，食物少納不降。）參歸杞茯，河車麋茸交襄。（上仿《指南醫案》。）是症也，補腎治飲，立齋有案，氣虛多痰，胸滿喘眩，（頭暈吐痰。）患帶下二十餘年，（諸藥不應，此氣虛有痰也，飲愈而帶始愈，用六味）地黃丸不月而驗。（《婦人良方》。）又有積病驚憂，帶下如注，口舌皆瘡，或至封喉何懼，昏憒四旬，服藥寒熱皆拒，誰知病屬亡陽，重劑鹽煮大附子九錢，佐以薑桂芎歸，冰冷服之，得熟臥乃始識人，（繼以女金丹。）徐調得愈。（《女科準繩》。）然而濕熱流痰，肥人多有，升柴二術與二陳湯，炒柏（解鬱熱）炮姜（茴香，帶下小腹痛是鬱結，須此辛散）亦不苟。《治法匯》。</p>

<h2>崩漏</h2>
<p>崩如山塚卒崩，忽然橫決；漏似漏卮難塞，絕少關防。衝任（不能攝血）肝（不藏血）脾（不統血）分責，元氣大虛（不能收斂其血）瘀（血氣阻，新血不能溫經）熱（在下焦，迫血妄行）交詳。大抵暴崩可以溫補，久崩卻利清通。（以血去陰耗故也。）爰有禹餘糧赤石脂，樗根皮牡蠣、桑螵蛸龍骨，皆為澀劑，去脫有功。乃如奇絡空虛，兼挾瘀滯，（崩漏三年，紫黑成塊，幾月一下。）是為久崩宜清，青蒿根澤蘭樗根皮芩黃芩、黃柏細生地，旋補玉堂，斑龍丸繼。又有崩漏兩年，午後必至，陽明久虛，（衝任脈不固攝，有開無合。（徒澀何濟，廣蓮菟絲茜草鮑魚海螵蛸，烏賊魚骨丸相輔治。髓虛（崩淋不止）筋掣痛不能行，蓯蓉杞子、紫石英、青鹽羊內腎；（又柏仁、茯神、石斛。）乾瘦畏寒久漏不止，人參歸身艾炭鹿霜桂心、紫石英炮姜。液傷絡熱病風消，（五十崩漏，夜熱肢冷，氣短食減，腰足跗痠耎無力，所謂絡熱則痿也。）牡蠣、小麥人參黃耆和苦參茯神；心痛如飢吐涎（值經來甚多，因驚動肝）為肝厥，黃連阿膠川楝子、牡蠣協川芎當歸。陽動而不眠汗泄，法補陰丸于丹溪；暴崩欲脫而膩濁難投，便溏吐藥遵理中湯於仲景。更有久漏神衰（色脈俱奪，脊膂腰髀痠甚，跗腫面浮，便堅納穀日損，日餌補陽無功，奇經之旨誰省。柏子仁鹿角霜牡蠣瑣陽、阿膠龜甲心，另入人參煎飲；或參女貞子旱蓮草天門冬龍骨，或佐兩螵蛸等。（桑螵蛸入煎方，又佐服烏賊骨丸。上並約《指南案》論。）然而飽食傷脾，（飯後惱怒，崩甚而暈，乃胃氣不行，不能運化，非血藥所宜也。）悟消補兼施之妙；（白朮五錢，陳皮、麥芽各二錢，二服而愈。王汝言案。）怒瞋致病，（怒則傷肝，肝火鬱結故崩。）知氣血兩治之靈。（香附、烏藥、蘇梗、神麯、白朮、歸、芎、甘、芷，二劑而愈。《易氏醫案》。）血崩先服五靈脂末一錢，半生半炒。乃丹溪之心法；（若遽止血，恐積瘀不去。）氣陷而投風藥，（柴、防、羌、獨、升、蒼、藁、蔓、歸、耆、甘草。）本東垣之調經。（升陽除濕湯治胃氣下陷，暴崩不止。）附子理中湯，當和童便；（戴氏。）奇效四物湯，（加膠、艾、黃芩。）妙在黃芩。血熱（先多後少）腎虛（先少後多，）但別後先多少；（《慎齋遺書》。）腹疼色惡，勿疑定屬瘀停。（詳《女科準繩》。）崩甚用紅蘭花，乩方曾效；固經丸參失笑（散加地榆，胎髮灰，）客座嘗聞。（陳花隱治一老婦，六旬外患血崩，素稟陽體，服補澀不效，以此方獲愈，並附《紀聞》。）</p>
<p>《醫級》云：初崩脈滑多火宜清，脈細多寒宜補。久淋崩漏，脈小緩為宜。若崩後脈大者，便是假實。至於陰陽偏虛既久，變生夜熱咳嗽，症已枯閉，而反見滑數豁大之脈，皆不可憑脈而用清寒之劑。</p>

<h3>胎前諸證</h3>
<p>胎前治法大旨，涼血順氣為宜。惡阻先調脾胃，食痰火鬱分治。（大半夏湯、橘皮竹茹湯加減。）肝氣上衝而脹悶噁心，（左脈弦急。）抑青丸妙；一味黃連為丸，茯苓湯下二十四粒。左脈弱而諸藥不止，歸原散奇。（六君子加芎、歸、芍、桔、枳殼、丁香。）腹痛多因，當歸熟地特其一法；（治胎痛。）胎漏宜補，（佛手散加黃芩、白朮、阿膠。去血多，八珍湯。）營經風熱須知。（本巢氏。）理氣化痰，子癇可愈；清心瀉火，子煩堪醫。（竹葉湯。虛者宜補心。）子懸常用紫蘇飲，而間投桂附；（趙養葵治此症，他藥不效，忽悟曰：此下元冷，胞中無火以養胎，故上湊就溫耳，以大劑八味飲而安。）子腫虛宜參朮，（疏散並用。）而實利五皮飲。（上並《治法匯》。）鉤藤飲（鉤藤、當歸、茯神、人參、桔梗、桑寄生，治子癇用此方）治（妊娠）瘛瘲之良方，（加柴、梔、芩、術。）鯉魚湯（入歸、芍、苓、朮、薑、橘）療胎水之妙藥。（《婦人良方》。）腹疼下血，銀薴酒屬奇兵；（正方用子芩、芎、歸。）跌僕傷胎，（不動而痛。）佛手散為穩著音勺。至於淋瀝有血熱，有氣虛轉胞，（氣虛陷所致，宜補中益氣湯。）墮胎喘逆，厥因孔多，莫拘一律。（《治法匯》。）尿血（由熱入膀胱，溺則下，不溺則不下）易混於漏胎，（無時頻出。）外感勿膠乎常格。（凡治妊娠外感，如中風、傷寒、濕暑、疫癘、瘧、痢等症，並宜照顧胎元。《女科經綸》。）化痰降氣，平胎逆（衝心昏暈）緣憂患所生；（紫蘇飲加減，入沉香汁、牛黃。陸祖愚案。）溫膽湯加黃連，（薑汁益元散。）治子懸（脹滿嘔逆）因驟驚而發。（驚則傷膽，故治在少陽。孫東宿案。）催生則佛手（散合大劑）參耆，（冬月加桂。此鼓峰法。）難產則冬葵車前益母滑石。須以參、耆、芎、歸等藥為君。）靈仙能開交骨，（重用，入佛手散。）創而偏神；抱龍丸十五丸亦下胎衣，奇而有法。（並金少遊案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>脈小弱而渴不食，二月而見者妊娠，（《金匱》云：婦得平脈，陰脈小弱，渴不能食，無寒熱，為妊娠，二月後當有此症。）時思酸而眩復嘔，三劑不平者停俟。強沖（謂衝任脈強）初孕，（月事如常）至三月而始見閉經；（以養胎。）體弱妊娠，常停（經懷）孕而久淹不產。孕初即腫，水過多而傷胎，必資大豆黃卷丸；（黃卷丸，止一味，水法丸。）臨月浮腫，胎水多而易產，更藉決津煎。</p>
<p>董氏《醫級》云：有夙患癥瘕者，初受胎妊，輒攻痛脹悶，或不食嘔吐，與惡阻病混一不分，此時安胎攻結，兩有所礙，當斟酌並行不悖之法。</p>

<h3>產後諸症</h3>
<p>新產婦人有三病，《金匱》班班，（一痙，為筋病；二鬱冒，為神病；三大便難，為液病。）亡血傷津所致，舉一可以反三。惡露乘虛上攻，熱童便能清昏暈；神迷煩亂，（由血下多而暈。）芎歸湯加入人參澤蘭。（亦佐童便。）丹溪云：產後當以大補氣血為主之言，豈宜偏執；景岳列辨之論，（詳原集。）所貴徐參。敗血上衝有三，如果衝心多死，（用花蕊石散，或琥珀黑龍丹，如雖悶亂，不至顛狂者，失笑散加鬱金。）沖胃則五死五生，（五積散，或平胃加薑、桂；不應，送來復丹。）沖肺則十全一二。（人參、蘇木，甚則加芒硝。右惡露上攻，及敗血上衝二條，本張氏潞玉。）有如發熱淋汗，陰虛陽竄，氣自湧泉小腹中下衝腸臆，神迷昏譫，甘緩救逆先投，（龍骨、牡蠣、桂枝、小麥，甘草、南棗。）固補寧神繼贊。（人參、龍齒、棗仁、茯神、枸杞、建蓮、紫石英。）及乎陽飛欲脫，（寒戰微熱，巔痛頭暈，神昏妄見，短氣呵欠。）參附桂枝、炮姜又茯苓，炙草同貫。（上共一症。）下虛厥氣上攻，少腹沖及心下痛抵脘中，（脹滿不嘔。）柔陽可安衝任，枸杞柏子仁、小茴茯神歸身蓯蓉。（又紫石英、河車、茯苓、桂圓。）若其頭痛汗出，煩渴陽浮，勿疑外感，鬱冒堪憂，牡蠣生地阿膠為主，炒山楂茺蔚子兼投。更如濁陰上逆，噁心不食，冷汗躁煩，最防暴脫，姜附澤瀉人參，童便還宜衝入。或汗出瀉利而神衰，（寒熱胸痞腹痛。）參附人尿沖豬膽汁。或其驟加驚恐，陽冒為厥，（左肢麻木，耳竅失殈。）鎮陽填陰，治堪意悉。（熟地、龜甲、天冬、萸肉、五味，磁石、茯神、建蓮。）又有胞損尿淋，筋脈牽掣，柏子仁茯苓桑螵蛸，山萸沙蒺藜。若夫下虛氣散，誤服克伐腹大且滿，（按之則痛。）腎氣丸去附子炒炭為湯，琥珀調沖莫緩。如其形寒脈濡，（面黃腹滿。）衝任必須溫暖。（鹿角霜、補骨脂、紫石英、茯苓、桂心、小茴香。）又或腹脹夜甚，怯冷便溏，附子理中湯為合，茯苓枳實兼襄。陰虛陽冒而成癇，（厥逆痰潮，神志潰散。）琥珀散治兼鎮補；（人參、白芍、鐵落、辰砂、磁石、遠志、菖蒲、牛黃、琥珀。）新產神迷如寐而涎湧，（頻吐青綠水沫。）附子梗米湯參合人參煨姜。若夫蓐損治法，彷佛虛勞，充養宜資血肉，（河車、羊內腎、阿膠、淡菜之屬。）奇經尤必兼調。（上約《指南案》論。）又聞用硝黃而積瘀不化，（腹痛脹硬，常熱，不食，唇焦舌裂，目赤，脈結澀而無根。）大劑溫補始收功。（人參三錢，黃耆、白朮各一兩，當歸五錢，附子、炮姜各二錢，肉桂錢半，炙草一錢，服後下瘀甚多，二劑而安。胡念庵案。）服姜椒而表裡加寒，（因口吐清水，食姜椒煮雞一月，口冷肢厥，腹冷難堪，有時戰慄，脈伏匿尺後，實數有力，唇焦頰赤，大便五六日一次，此實熱症也。）疊用清涼偏奏效。（三黃、四芩、涼膈等，及元明粉之屬，治之而愈。易思蘭案。）黑龍丹善治瘀痛，（頭心目睛更互作痛，備極苦楚，十日不已，服此丹二服，下蝗蟲子數升而愈。）產後諸症皆良；（產難胞衣不下並治。）愈風散（荊芥為末，豆淋酒或童便調服三錢，又名舉卿古拜散）專主蓐風，（產後中風。）痙厥昏迷並妙。（諸書並稱其妙，《本事方》加當歸等分，水煎服。《女科準繩》。）癲狂為血虛神不守舍，應補者最多；（薛氏云爾。《大全》謂因驚而敗血攻心，繆氏謂肝虛火炎，見後。）痙搐由血去陰傷，宜表者絕少。（如果挾風邪，脈浮弦有力者，方可用荊防、二活之屬。同上。）氣脫口開而目閉，（面白、手冷、六脈細微，謂新產）勿與血暈同治；（速服獨參湯，下咽即活。《景岳全書》。）腹痛脈伏而肢寒，（產婦朝數內，飲食如常，忽然得此。）應慮食瘀相裹。（此惡露不盡，傷食裹血而脈不起也，不可誤補。王節齋。）發狂見鬼，（或持刀殺人。）由虛火之上炎；（用澤蘭、歸、地、棗、茯、遠志、牛膝、童便而安。繆仲淳。）寧志清魂，加童溲而彌妥。或有產後受驚，眩暈心悸，開眼則遍體麻木，神魂如寄。又或心中澹澹大動神魂飛越，聞聲響則熱熾，（頭面烘熱微汗。）左寸脈厥厥動搖，時嗽青黑綠痰少氣，此皆痰飲乘虛，流入心胞絡所致，紫雪丹治前症，（兼清痰理火之劑）來復（丹治後症，兼服異功散，加童便、煆焠蛤粉）分投，同用獨參湯送餌。（痰在膈膜之上，非此二藥及人參，不能開滌。張石頑案。）去血過多而腹痛，八珍（湯原文四君子）加入炮姜；（《治法匯》。）惡露不止類崩中，氣陷或由血沸。（詳薛氏醫案。）要之產後症因無常，虛實均難鑿指。稟羸挾滯，用補劑而惡露反行；（此類甚多。）體實兼邪，稍顧忌則失機誤事。（喻氏《寓意草》治孕婦傷寒當下症案，可鑑。）所當變化於一心，豈可徒膠乎故紙。</p>
<p><u>附：《醫級》摘要</u></p>
<p>脈微細而口開肢冷，氣脫之形，（此新產驟脫。）惟參附湯十全大補湯冀挽；形脈實而腹脹氣衝頭旋腹痛，血暈之狀，急燒錘飲醋炭熏法圖康。如果壅逆結疼，宜決津煎紅桃四物湯失笑散；倘本陰虛火越，惟參歸地溲童便甘姜。喘生產後即危疴，（無論虛實。）瘧發產家多偽候。（陰陽兩虛，故寒熱如瘧，未可便從瘧治。）行氣血而痛不已，脈洪數者癰瘍，嘔菀血因於大怒而生熱寒，脈空大者虛候。（宜先清後補。）兒枕痛屬胞宮，雖拒按而當分瘀腫，（惡露不行，痛固拒按，然有因產傷胞宮者，胞傷腫痛，亦必拒按。實必行瘀，傷宜安臟。）中虛痛來嘔厥，或熨灸而耳進溫中。豬腰黃雌雞，為產病之良方；羊肉當歸，乃蓐勞之上劑。補中大造，六味茸參，養營七福，皆蓐損之湯丸；烏雞丸白鳳膏，全鱉丸，（上三方並詳原集《女科類方》）班龍丸，補陰蓯蓉，療奇經之藥餌。腹滿痛而溫導不瘥，腸癰內結；胞腸傷而二便易位，（有論詳雜症。）交腸症生。桃仁湯：（桃仁、丹皮、冬瓜仁、犀角、大黃、芒硝）瓜子（仁湯，冬瓜子、敗醬草、銀花、甘草、蜀葵根、鉤藤、蒂丁、歸尾、滑石，或加大黃。）薏苡仁湯：（苡仁、瓜蔞皮、桃仁、丹皮排膿散，生地、當歸、白芷、防風、銀花、連翹、姜仁、山甲、草節。）為療腸癰妙劑；豬胞煎湯煎藥補脬散，（生黃絲絹，或黃蠶繭亦可，白牡丹根皮，白芨。）八珍湯礬蠟丸，乃補交腸聖方。</p>

<h3>癥瘕</h3>
<p>癥屬食瘀凝阻，有形可徵而一定不移；瘕為臟氣結聚假物成形，無質而推之可動。二症病在肝脾，胃與奇經亦董。乃若瘕結左而肢節寒冷，治奇脈以辛香；（鹿角霜、桂枝、當歸、小茴、香附、茯苓、蔥白。）氣聚右脅而攻痛作脹應時而發，通營絡以溫熱。（當歸、小茴、肉桂、蔥管。）營虛氣滯，（瘕痛，小腹滿脹。）參歸吳萸肉桂茯苓、小茴蔥管；絡病久痛痰凝，川楝子牡蠣延胡索、瓜蔞皮香附汁。其或瘕聚高突有形，絡虛則脹氣阻則痛，痛在脘中心下，或垂岕腰少腹下部，辛香入絡為君，苦溫通降是輔。（延胡索、川楝子、香附、鬱金、茯苓、降香汁、茺蔚子、山楂、烏藥。）及夫痛升於右脹及中脘嘔涎經阻，病由煩怒，金鈴散合二陳湯去甘草，薑汁、厚朴橘葉蓬朮交助。更或瘕橫臍下，氣塞至心胸及咽喉，痛攻背部，經阻三月口甜，食後痞肝膽相火內灼，衝脈之血欲干，梔子仁、胡黃連雞肫皮、山楂蘆薈，回生丹協化服半丸可安。復有經阻半年腹膨，痛不拒按，（下氣還攻於絡。）形若癥瘕，（色脈皆虛。）通經卻憚，炒枯腎氣為湯，色脈病情互斷。爾其（消導寒涼，誤藥傷胃）衝脈上衝，升巔則昏厥攻胸則痞犯胃為嘔，小腹結癥，動氣兼有，當歸茯苓小茴杜仲鹿角霜蓯蓉、紫石英，宣暢奇經方不苟。惱怒病發，（肝鬱氣阻。）青皮、川楝子輩小茴、牡蠣、桂枝、白芍純治厥陰；濕熱少腹聚瘕，能食，便不爽，腹微脹小溫中丸兼調脹利。（另一案。）以濁攻濁，（大便不爽，疝瘕疴痛。）品劑略似男子疝方；（韭白根、兩頭尖、桔核、小茴、金鈴子。）忌澀忌呆，（本案論云：治此症，用攻法宜緩宜曲，用補法忌澀忌呆。）治法須知趨避。（上並約《指南案》論。）若夫蔥白丸烏雞煎丸，治癥瘕並推奇效；（《女科準繩》。巴豆仁一兩伴香附，（一斤醋製同炒，至巴豆色黑，去巴豆，醋打麵糊丸桐子大，米飲下五十丸，日三服，另服對病煎劑。）消積塊當屬佳方。（陸養愚案。）《內經》有石瘕之名，（本言生於胞中。）或下橫於子戶；（有物如石，痛甚，亦名石瘕，先經斷，少腹痛，用四物加桃仁、山稜、檳榔、延胡、附子、澤瀉、血竭、大黃而愈。《名醫類案》。）士材治女子之疝，（腹痛腸鳴，身傴僂而氣喘呼，脈弦而細，此女子之疝也。）亦不外乎辛香。青木香、廣木香、川楝子、木通、茴香、肉桂、當歸、甘草，四劑而愈。李氏醫案。）</p>
<p><u>附：《醫級》摘要</u></p>
<p>五積皆息伏臟邪，類乎癥而其因各異，痃癖乃窠囊飲氣，多相類而非血為殃。形橫結痛，入絡之邪；莫按脊疼，膂筋之病。（深藏背膂，按亦無跡。）石瘕乃胞宮之積，雖類癥而症從臌論；腸覃為腸募之患，亦肖癥而病屬脹推。（石瘕、腸覃，皆脹病也，俱在少腹，此當下之候，與癥病不同，不可不辨。）最怪挾癥胎氣，法酌兼調；宜推素稟脈形，治詳喜惡。（謂參之起居飲食，性情愛憎之間。）延久根深，難拘成法，倘值形羸積痼，法惟輔正安邪。蓋壯者氣行則已，是用補療癥，正所以壯氣；而結者非行不散，則溫行補劑，即藉以宣通。倘進補而脹痛轉增，另酌攻消丸散間進；俾正強而脾胃日旺，常調七補三攻。</p>
<p>又云：挾瘕既久，經隧之氣道，為瘕氣往來遊行，每留著於溪谷之空隙，雖疏氣宣通而不能盡除，則餘氣流連，外有所感，內有所犯，則復聚而為患，所以男疝女瘕，恆作終身之患，而不能已也。</p>

<h3>熱入血室</h3>
<p>熱入血室之證，勿執小柴胡一方。今人一遇是症，（不辨熱入之輕重，血室之盈虧，遽與小柴胡湯，貽害必多。）熱甚血瘀，合與桃仁承氣湯；（及山甲、歸尾之屬。）舍血室空熱陷，當需犀角地黃湯。（加丹參、木通之屬。）桂枝紅花湯治血結胸，參入海蛤桃仁亦佳品；清氣化結煎劑定昏狂，調入牛黃膏作引。有如血室伏邪，液傷發痙，（溫邪初發，經水即至，耳聾咳嘔，舌白煩渴，清肺不應。）玉女煎氣血雙清，（仍有救陰之能。）復脈湯去薑、桂甘涼續進。又或經至三朝，旋生熱病，神氣忽清忽亂脈右長左沉，心煩熱甚，（舌痿、飲冷、病與十七日。）桃仁、澤蘭丹皮、細生地酒製大黃人中白，蓄血如狂例論。若其表邪未盡表症仍兼，自參和解為正。（合小柴胡湯。上仿《指南案》論。）假令下且不休，諸法皆應審諦。（東莊云：熱入血室者，乃經水方至，遇熱適斷不行方是。若下且不止者，不得一例混淆。）況乎經行適斷，血室未閉，（其血必結。）苟非實熱煩蒸，涼劑豈宜妄試。（一婦病此，誤服黃連，少腹結塊而殞。《女科輯要》。）</p>

<h2>幼科要略</h2>
<p><u>附：節錄心誠賦</u>（出《活幼指南》）</p>
<p>欲保赤子，全仗心誠，未觀氣色，先分部位。（左頰屬肝，右頰屬肺，天庭屬心，承漿屬腎，鼻屬脾。）青黑定主驚寒，紅白多為虛熱，土色黃現，疳熱症多。如煤兮中惡之因，似橘兮脾虛之驗。白乃疳勞，紫為熱極。青遮口角，扁鵲難醫；黑掩太陽，盧醫莫治。年壽赤光兮，多生膿血；山根青色兮，頻見災危。瀉痢而戴陽者須防，咳嗽而拖藍者可畏。火光焰焰，外感風寒；白氣浮浮，中藏癖積。乍黃乍白兮，疳熱連綿；又赤又青兮，風邪緊急。鴉聲魚口，枉費精神；肉折皮乾，空勞心力。氣乏則脾冷，腎虛則滯頤。手如數物兮，肝風相生；面若塗朱兮，心火已熾。弄舌脾熱，解顱腎憊。重舌木舌兮，虛熱積於心脾；哽氣喘氣兮，實火浮於肝肺。齦宣息露，必是牙疳；哺露丁奚，多緣食積。夜啼分為四症，（一驚熱；二心熱；三寒疝；四誤觸神祗。）變蒸周於—歲。（三百二十日小蒸畢，又二百五十六日大蒸畢，乃成人。）心熱欲言而不能，脾虛無時而好睡。病後舌喑者腎怯，咳嗽失音者肺痿。口頻撮而虛寒，舌長伸而火熾。龜胸兮肝火乘於肺膈，鱉背兮腎風入於骨髓。鼻乾黑燥，火盛金衰；肚大青筋，木強土潰。不能吮乳者，熱在心脾；常欲俯臥者，火蒸脾胃。惡見燈火者，（原文作喜視，必系誤字，今正之。）煩熱在心；愛食泥土者，疳熱在脾，臍風忌於一臘，火丹畏於一周。驚自熱生，癇因痰致。閉目兮無魂，狂叫兮多祟。</p>

<h3>幼科總賦上篇</h3>
<p>小兒體屬純陽，所患每多熱病，時俗套藥須懲，（詳原集。）隨症施方乃順。春溫忌散，黃芩湯涼膈散皆宜；（熱伏於陰，苦味堅陰，乃正治也。）夏暑當清，辛涼甘寒獨勝。（昔人以白虎湯為主方，或宗河間法。）秋燥治肺為急，宜甘潤而勿用苦寒；（苦則助燥。）冬寒溫散堪投，（傷寒表邪，輕則紫蘇、防風一二味，身痛用羌活，然不過一劑；如傷風，用前、杏、枳、桔之屬。）挾溫邪（即冬溫症）則治從里症。（稍兼清散，忌用辛溫，）若夫蔥豉一湯，（為四季）通用要方可任。風溫首先犯肺，（若失治必）逆傳入於心胞絡。降肺開痹，涼潤輕清最妙。（忌用荊、防、柴、葛，及消導苦寒，）安神宣竅，牛黃丸或至寶丹須調。肺熱咳嗽煩蒸，熱甚勿投柴葛；暑熱肢冷，熱深厥亦深可用石膏。急驚屬陽，（古稱陽癇。）治先涼膈散；肝膽火熾，（病必迅速。）丸化牛黃。嘔吐延慢驚，用南星白附子六君子湯之屬；火熱劫爍津液，（謂急驚症。）宜犀角地黃之湯。疳有五臟之分，病起果腥雜進，初用清熱和中分利，次則疏補助運，繼病（乳子母更有娠，下利寒熱，亦名鬾病）治亦無功，母產而子自靖。吐瀉由脾胃之傷，驚搐每相因而變，熱閉神昏則至寶當求，寒閉則來復丹是選。瘧病（幼稚氣怯神弱，初起）熱深厥逆，切勿認作驚癇，略仿大方治法，（寒勝，正氣、二陳加減；熱勝，六一散、桂枝白虎湯。）柴胡乾葛等味須捐。（柴胡動肝陰，葛根竭胃汁，致變屢矣。）痢關臟病，誤治必凶，初起體堅症實，行血導氣有功；日久肢寒脈細，歸身陳皮、肉桂白芍合理中湯。禁口兮多宜清熱，（用丹溪法。）休息痢兮專治中宮。（用東垣法。胃強善食者，苦寒清熱。）痧為陽腑經邪，初起必從表治。冬時無汗，壯熱喘急用麻黃杏仁，如華蓋散三拗湯；夏月無汗解肌，前胡葛根薄荷牛蒡防風桔梗枳殼。（香薷、木通之屬。）春溫夏暑，秋燥冬寒，因時調劑，危可使安。無汗忌用石膏，下利不宜止瀉。（痧宜通泄，泄瀉為順，下痢五色者亦無妨。）辛涼上焦辛苦中焦與鹹寒下焦，並按三焦毋苟且。疹喜清涼，然毋過劑。若其誤治致危，（常有氣弱體虛，表散寒涼非法，釀成損怯。）救敗更須審諦，陰傷為多自合養陰，（必扶持胃汁。）氣弱者亦有之急當益氣。痰鳴氣促唇紫掀腫，（痧退後，不出聲，涕淚皆無。此以下摘治痧案四條。）由毒火之未經清解；（上竅漸閉，芩、連、杏，桔、翹、銀、元參、甘草。）浮腫腹疼寒熱、喘脹，緣經府濕熱之留著。（膏、杏、翹、苡、防己、通草、大豆黃卷。）溫邪熾而吐蛔煩渴，（汗出氣喘，目赤鼻煤。）升提荊、防、蟬退之屬豈是良方；（涼膈去硝、黃，加石膏、牛蒡、赤芍。）熱毒內陷而上熏肺為喘下攻腸則利交頻，火淫於內，治以苦寒應推聖藥。（芩、連、銀、翹、滑石、丹皮、地骨皮、甘草。治痧案止此。）輕淡清散，痧疳可瘳；補澀升提，痧痢當削。（以熱毒未盡也。輕者分利宣通，重者苦寒解毒為治。）痙厥何因，多由邪伏。（此下摘治癇痙厥案三條。）躁亂如狂熱渴，（鼻煤、舌絳。）溫邪傷及肝陰；（阿膠、生地、天冬、石斛、雞子黃、元參心。）舌縮吐涎，（面青、神呆、四肢皆震。）陰風入於脾絡。（人參、生朮、蜈蚣、全蠍、南星、白附子。）清營宣絡，（犀、菖、翹、梔、元參、遠志、膽星、竹葉。）止癇厥之良圖；滋液熄風，與大人兮同法。疳積腹疼，每多蟲䘌，相緩急以裁方，大要先清濕熱。（若蟲勢驟急者，當用黑醜、檳榔、大黃、胡粉、山稜、莪朮之類、蟲去則調其脾胃；緩者，用黃連、胡連、蘆薈、苦楝、烏梅、川椒、雷丸、蕪荑、使君、榧肉之類。脾弱者，兼運其脾；胃滯者，兼消其滯。上並仿葉氏《幼科節要》並醫案論。）</p>
<p>董氏《醫級》末卷無問錄，載痿男一條，其症自幼頭大腳細，或但頭大，乃陰虛陽升之候，至十餘歲後，尚痿弱如嬰兒，曾見有三四童子皆如此，雖葉天士先生亦不能治，其後並殤。</p>

<h2>幼科總賦下篇</h2>
<p>凡治小兒，先詳母氣；（如母有火者，子必有火病之類，或虛或寒仿此。）察脈投方，每宜母子同餌。溺白多由濕熱，氣虛下陷亦然；吐乳半屬虛寒，（實熱者少，總由胃弱所致。）若乳母有疾者亦當兼治。景岳療吐瀉，純用參姜；（凡用參湯之十，加椒薑湯之一。有二案，詳原集。並景岳《小兒則》。）薛氏治癲癇，多從補例。（紫河車丸，治胎驚亦然。）發痧大勢，（自熱起至收完，但診其）右手一指脈最喜浮洪；（洪大有力，雖有別症，亦不為害。）飢甚躁煩，未必盡由藥誤。疹遲腹痛，勿言傷食而用攻消；瀉痢因傷於生冷格陽，莫以口瘡疑桂附。（服參、朮、薑、桂，唇口生瘡，易以附子，更咽腫，然喜極滾湯飲，乃增附子錢半，及參、地、薑、桂、肉果之屬，瀉漸止而喉口亦痊。同上。）肺熱咳嗽脾虛不能食，先實脾益黃散而次瀉肺（瀉白散；錢氏。）胃虛中暑，（不能分別水穀。）當益胃則暑易祛。（白朮人參湯。程氏。）搐由肝熱，（瀉青丸、導赤散，錢氏。）或主脾虛。（脾受風擾，故四肢發搐，宜獨參湯。汪石山。）露睛由肝肺之相勝，肢冷屬木土之不和。（木氣乘脾。錢氏。）搐發百日之中，真者（內生驚癇）發頻必死；（不過三兩次。）假者由風冷外傷，（口中氣出必熱，雖頻發不妨。）硃砂新汲水磨塗五心可止。（同上。）胎驚生下即病宜服河車，（見上薛氏。）胎暈大補氣血而已。（《名醫類案》。）胎癇（痰喘、上視、身反張、啼聲不出）輕可治而重難痊，（曾氏。）潮熱按五行（如寅卯辰時潮熱發搐者，此肝旺也。余仿此）而勿過泥。（錢氏、薛氏，俱按時論治，而景岳則謂病變不測，此說亦難拘。）驚搐熱症居多，誤治（遽用蠶、蠍、烏、附之屬）使成壞病，導赤散加味（防風、薄荷、山梔、麥冬，《準繩》注極言其效）是良方，二枳實、殼參甘（止四味名寬氣飲）亦近理。（曾氏云：治搐以寬氣為主：氣順則搐止。）朮附子薑棗甘草，（名朮附湯。）慢脾聖藥；（薛氏。）人參竹瀝，虛痙通方。（痙比癇為虛多，是氣虛有痰兼火，用此治之，不用風藥。丹溪。）鉤藤散佐異功散，主慢驚而木來侮土；（薛氏。）瀉青丸同六味丸，治肝有風而身強直反張。（錢氏。）平血脈而順氣豁痰，（通行心經。）定癇最妥；仁齋。熄風火而清肝滋腎，止痙彌良。（薛氏。）尿澀屬陰虛，治用地黃湯送滋腎丸；搖頭或弄舌，藥加金線重樓。（一名草河車，一名蚤休，錢氏方名白甘遂。肥兒丸（黃連、蕪荑、神麯、麥芽等分，水丸。）愈肝疳而目生白翳晡熱羸瘦：瀉黃散治吐舌而良久不收。（薛氏。）香脯散（炙豬肉醮膩粉）療噤口而痢頻，金液丹救吐利劇而氣已絕。（服之得活者數人。《兒科準繩》。）吐衄流血，自屬陽浮；（因積熱所致，亦間有虛寒症。曾氏。）盜汗晡潮，亦由食積。（曾氏曰：小兒無疾，盜汗如水，此名積症，盜汗由脾冷所致，宜先消後補。又《脈經》云：小腸有宿食，常暮發熱，明日復止。）盤腸內釣，（腹痛曲腰，乾哭無淚，面青白，唇黑肢冷。）淋洗先用蔥湯；（熨臍腹間，次用木香磨汁滾數沸，調乳香、沒藥末，只一服效。曾氏。）撮口臍風，（面青，吐白沫，須看牙齦有水泡如粟，以銀針挑破，出膿血少許即愈。）救急無如艾灼臍下。（《治法匯》。）重舌宜刺之令出血須摻炒蒲黃，（不過三次愈。湯氏。）胎熱症宜行釀乳法。（澤瀉、豬苓、赤茯苓、花粉、生地、茵陳、甘草煎。食後捏去舊乳，卻服）遺尿（日間頻數）咬牙，腎弱乃其素稟；（地黃丸加鹿茸。）頸癭項核，（耳前後至缺盆，筋結小核如貫珠，隱於肌肉之間，此稟母之）肝火為患本於先天。（九味肥兒丸：胡連、黃連、木香、龍膽、蕪荑、雷丸、鶴蝨等分，粟米飯丸，方中尚有麝香。注云不用尤效。薛氏。）鶴節（肌瘦骨露，如鶴之足，乃腎虛不生骨髓）多宜填補，（地黃丸加鹿茸、牛膝。湯氏。）龜胸（由風邪所乘，或痰凝肺熱之故）卻利通宣。（大黃治肺熱膈滿，大黃、天冬、百合、杏仁，木通、桑皮、甜葶藶、石膏，蜜丸。薛氏。）龜背（由客風吹脊入髓所致）每成痼疾，灸法（十救一二）亦少十全。五硬（仰頭取氣，難以動搖，氣壅作痛，連於胸膈，手足心冷而硬）由陽氣之不營（於四末，獨陰無陽，故難治。）補脾平肝是急；（六君子加薑、桂、升，柴，仍參急慢驚風門治之。）五軟由臟真之本怯，（頭軟、項軟、手足軟、肌肉軟、口軟為五軟。）滋腎地黃丸益胃補中益氣湯為先。（並同上。）蘇合丸灌中惡而卒死，（卒然心腹刺痛，悶亂欲死。巢氏。）龍膽湯（膽草、柴胡、黃芩、桔梗、鉤藤、炙草、茯苓、芍藥、大黃、蜣螂，為散煎服）救客件而似癇。（吐利腹痛，面變五色，狀如發癇，但眼不上插耳。同上。）至於胎毒發丹，赤遊風火焰丹，並由伏熱使然，解毒更須針砭，否則塗藥防危，概砭應虞致變，（治此症用砭法，必勢危氣壯血實者始宜之。否則不得概用。若度其勢，必展引咽頸腹心陰尻諸虛處，可先塗藥以護之，仍砭其引頭所向，微出惡血以泄其毒。上並詳《準繩》兒科。）</p>

<h2>附：集中備檢方訣</h2>
<p>已見汪氏《湯頭歌括》，及條下已注，或品味簡少，方名中已全具者，概不復贅。</p>

<h2>傷寒門</h2>
<p>生地黃連湯，黃芩山梔四物湯防風。</p>
<p>黃連雞子黃湯，阿膠黃芩芍藥襄。</p>
<p>越婢湯麻黃甘草，石膏共棗姜。</p>
<p>破陰丹用硫黃、水銀製，融入青皮陳皮共細研。（詳《醫方集解》。）</p>
<p>滋腎丸知母、黃柏各二兩，微加肉桂和一錢。</p>
<p>大半夏湯人參白蜜，食入即吐反胃是良方。</p>
<p>牛蒡根散防風甘草，牛膝南星芍藥和。</p>
<p>黑奴丸麻黃、小麥奴、黃芩釜底煤突墨，梁上塵同芒硝大黃。（詳《傷寒節要》）</p>
<p>右歸飲杜仲枸杞甘草攢，八味丸偏除茯瀉丹。</p>
<p>地黃丸加肉桂名七味丸，五味子增為都氣丸。再加附子名附都氣丸。</p>
<p>黑膏生地（四兩）豬脂（一斤）、淡豆豉（半斤），煎汁微加雄（黃五分）麝香（一分和）。</p>
<p>紫雪（一黃）金凡五石，（寒水石、石膏、滑石、磁石、硝石）四香（沉香、木香、丁香、麝香）二角（犀角、羚羊角）。甘草升麻元參，朴硝還共辰砂合，治斑狂熱毒與小兒驚癇。（冷水調，每服一二錢。詳《醫方集解》。）</p>
<p>豬膚湯白粉白蜜，喉痛少陰方。</p>
<p>陽毒升麻湯元參射干鼠黏子，黃芩黃連犀黛與人參甘草。</p>
<p>陰毒甘草湯人參桂枝，川椒附子升麻、當歸鱉甲乾薑。</p>
<p>當歸（二錢）補血湯先補氣，五倍黃耆（一兩）參妙義。</p>
<p>升陽解表湯羌活防風葛根，枳殼、厚朴柴胡升麻、半夏草陳皮。</p>
<p>柴胡百合合人參，知母黃芩甘草、生地陳皮，茯神、白芍棗姜捶鱉甲，傷寒百合病效如神。</p>
<p>柴胡鱉甲飲壞病方，升麻甘草、烏梅生地麥冬襄。</p>

<h3>雜證門</h3>
<p>滋腎生肝飲六味地黃丸料全，柴胡、當歸白朮五味甘草同煎。</p>
<p>疏肝益腎湯補肝方，六味湯中柴胡、白芍藏。</p>
<p>人參固本丸肺勞方，天麥門冬二生熟地黃。</p>
<p>決津煎用當歸澤瀉，烏藥熟地黃肉桂牛膝也，血虛經滯須此排，或益香附陳皮治氣虛經滯者。</p>

<h3>中風門</h3>
<p>虎潛丸是補陰方，知母、黃柏當歸陳皮、白芍熟地黃，龜板虎脛骨瑣陽牛膝共，（羯羊肉酒煮搗爛丸，冬加乾薑一兩。）虛羸骨痿此為良。（又丹溪補陰丸，即此方。）</p>
<p>還少丹兮熟地黃，山藥山萸肉牛膝杜仲小茴香，楮實巴戟天、遠志五味石菖蒲、肉蓯蓉、枸杞，水火平調百症康。丹溪去楮實，名滋陰大補丸。</p>
<p>酸棗仁湯茯苓，川芎知母甘草。</p>
<p>外臺茯苓飲，枳實橘皮、白朮人參生薑。</p>
<p>固表玉屏風散，黃耆防風少用白朮同。</p>
<p>至寶丹中雄黃玳瑁犀角，硃砂琥珀麝香冰片兮，牛黃水安息香金銀箔，宣竅清心效最奇。</p>
<p>萬氏牛黃清心丸，黃芩黃連梔子鬱金辰砂攢。</p>
<p>天王補心丹生地黃，酸棗仁柏子仁遠志五味當歸，二天麥冬桔梗三參人參、元參、丹參茯神，專治怔忡與健忘。（此方在肝風症條。）</p>

<h3>肝風門</h3>
<p>孔聖枕中丹，龜板龍骨、石菖蒲、遠志丸。</p>
<p>金鈴子散延胡索，等分每服三錢用酒調。（水煎亦可。）</p>
<p>進退黃連湯本喻氏，進法連姜參不制，退法去桂枝連減半，或加肉桂五分如法治。（黃連薑汁炒，乾薑炮，人參人乳拌蒸，同半夏各一錢半，桂枝一錢，加棗煎。）</p>
<p>治中湯即理中湯，青皮陳皮加入共成方。</p>
<p>安胃丸烏梅川椒附子、乾薑，桂枝黃連黃柏白芍人參襄，青皮陳皮協金鈴子，再用椒梅煎湯水法丸良。</p>
<p>異功散加白芍，方名戊己湯。（兼治肝脾。）芍加左金丸內，名同治各詳。（亦名戊己湯，治肝病為多。）</p>

<h3>虛勞門</h3>
<p>三才封髓丹天冬、熟地人參，黃柏砂仁炙草均。（方在遺精條。）三才湯止前三味，理肺虛勞咳嗽頻。</p>
<p>大造丸用紫河車，黃柏人參生地加，牛膝杜仲二冬敗龜板，虛勞嗽熱免咨嗟。</p>
<p>天真丸用精羊肉，歸身蓯蓉山藥天冬簇，再入人參黃耆白朮丸，製法精良（喻氏云爾）亡血服。</p>
<p>斑龍丸用菟絲子，鹿角膠霜柏子仁是，熟地黃豬脊髓蜜丸之，卻病延年真可恃。</p>
<p>脾腎雙補丸山萸肉，菟絲子五味子橘紅砂仁，補骨脂肉豆蔻車前子，山藥人參蓮子巴戟天。</p>
<p>旋覆花湯凡三味，新絳青蔥同一匕。</p>
<p>（附：朱雀丸：治心腎不交，怔忡悸恐。沉香五錢，茯苓二兩，蜜丸，參湯下。</p>
<p>交泰丸：治同上。黃連一兩，肉桂一錢，蜜丸，淡鹽湯下。）</p>

<h3>吐血門</h3>
<p>千金葦莖湯，瓜瓣苡仁桃仁邦。</p>
<p>金剛丸兮菟絲子，杜仲蓯蓉萆薢比。四斤丸用附子天冬蓯蓉，虎骨木瓜牛膝是。</p>
<p>麥門冬湯用半夏，人參甘草大棗梗米亞。</p>
<p>花蕊石散煅研如粉，童便男調女醋和。（一方有硫黃。）</p>

<h3>衄血門</h3>
<p>玉女煎兮用知母，熟地石膏麥冬牛膝偶。</p>

<h3>便血門</h3>
<p>駐車丸四味，阿膠歸乾薑黃連是。</p>
<p>黑地黃丸用蒼朮，五味乾薑同搗入。</p>
<p>五仁丸用火麻仁，郁李仁松子仁桃仁柏子仁勻。</p>

<h3>腫脹門</h3>
<p>蘇合香丸用七香，丁香沉香麝香木香、安息香薰陸香襄，烏犀角白朮同香附，蠟匱硃砂為衣效最良。（詳類方。）</p>
<p>金液丹用硫黃制，沉寒陰症（並治小兒）慢驚方。</p>

<h3>積聚門</h3>
<p>下焦蓄血抵當湯，水蛭虻蟲桃仁大黃，此方險峻難輕用，又有丸方代抵當丸，桃仁、大黃生地元明粉，歸尾穿山甲肉桂邦。</p>
<p>十棗湯用十枚棗，甘遂大戟芫花炒。又有丹溪小胃丹，大黃黃柏兩般找。（上三方並詳《醫方集解》）</p>

<h3>噎膈門</h3>
<p>左歸飲山藥與山茱萸，熟地甘草、茯苓枸杞須。</p>

<h3>嘔吐門</h3>
<p>麥門冬湯治漏氣，蘆根竹茹萎蕤合四君子。</p>
<p>人參湯治走哺用知母、黃芩白朮，陳皮茯苓、山梔竹茹蘆根石膏萎蕤。</p>

<h3>便秘門</h3>
<p>更衣丸用硃砂五錢，蘆薈七錢好酒和丸。</p>
<p>來復丹元精石，硝石硫黃、五靈脂二青陳皮。（詳《醫方集解》。）</p>

<h3>燥門</h3>
<p>瓊玉膏生地；人參白蜜茯苓，臞仙加二味，沉香、琥珀共和勻。</p>

<h3>瘟疫門</h3>
<p>達原飲用草果檳榔、厚朴，知母、白芍黃芩甘草屬。（詳吳氏《瘟疫論》。）</p>
<p>百順丸牙皂角（一兩六錢），大黃（一斤）十倍之。（詳景岳《新方攻陣》。）</p>

<h3>癉門</h3>
<p>茵陳四逆湯，附子草乾姜。</p>
<p>浚川散（亦作丸）用大黃黑牽牛，甘遂郁李仁芒硝輕粉投。（詳《醫方集解》。）</p>

<h3>瘧門</h3>
<p>鱉甲煎丸三八（二十四）味，柴胡、黃芩桂枝芍藥丹皮、大黃比，人參乾薑半夏厚朴石葦葶藶、阿膠，瞿麥紫葳桃仁、赤硝烏扇次，䗪蟲蜂窠鼠婦與蜣螂，清酒煅灶下灰瘧母餌。（詳《金匱》方。）</p>
<p>救逆湯乾薑桂枝，牡蠣龍骨、蜀漆棗甘草。</p>

<h3>痢門</h3>
<p>胃關煎熟地、白朮，山藥扁豆、甘草炮姜吳萸。</p>
<p>少陰便膿血桃花湯，赤石脂粳米共乾薑。</p>
<p>羊脂煎用黃連白蠟，酢蜜烏梅亂髮灰。（詳《千金方》。）</p>

<h3>泄瀉門</h3>
<p>四柱飲：人參茯苓木香附子，六柱飲還加肉豆蔻訶子，</p>
<p>理中湯入黃連茯苓，寒暑兼傷（暑熱生冷兩傷）連理湯。</p>

<h3>痿門</h3>
<p>調元健步丸：枸杞當歸蒼朮，黃柏陳皮、五加皮續斷澤瀉防己，白朮白芍木瓜牛膝甘草，陰虛血少此為良。（又東垣健步丸純用清利，故舍彼錄此。）</p>
<p>（腳氣條婦女腳痛如錐，用健步丸，方詳《名醫類案》，與此不同。）</p>

<h3>痹門</h3>
<p>木防己湯人參桂枝，石膏四味共煎之。</p>

<h3>痙厥門</h3>
<p>玉燭散中川芎生地赤芍，歸稍甘草與芒硝大黃。</p>

<h3>癲癇門</h3>
<p>火炎心熱二陰煎，生地木通元參茯苓、甘草黃連，酸棗仁麥冬加燈草，驚狂煩熱總能捐。</p>
<p>五癇丸用真珠子，鉛汞水銀硃砂雄黃煉蜜和。</p>
<p>硃砂安神丸，黃連生地甘草當歸攢。</p>
<p>遂心丹用甘遂，豬心血共丸。</p>
<p>服蠻煎用陳皮丹皮茯神，生地麥冬、石菖蒲石斛白芍木通。</p>

<h3>胃痛門</h3>
<p>失笑散五靈脂，蒲黃血痛施。</p>
<p>升陽除濕湯，羌活獨活與藁本防風，當歸黃耆升麻蔓荊子、甘草，九味再加蒼朮。</p>

<h3>遺精門</h3>
<p>二至百補丸地黃黃精，知母、五味人參黃耆芡實茯苓、金櫻子，二鹿角、角霜二天、麥冬牛膝楮實，山茱萸山藥龍眼菟絲增。（詳《指南》集方。）</p>
<p>固精丸用牡蠣菟絲，韭子、五味桑螵蛸龍骨茯苓、白石脂。</p>
<p>豬肚丸三品，苦參白朮牡蠣同。</p>
<p>神芎丸用三黃黃芩、黃連、大黃醜黑牽牛，滑石川芎與薄荷。</p>

<h3>淋濁門</h3>
<p>威喜丸黃蠟，豬苓與茯苓。</p>

<h3>痰飲門</h3>
<p>川芎細辛湯白芷，甘草蔓荊子防風。</p>

<h3>肺痹門</h3>
<p>三物白散用貝母，桔梗巴霜三味偶。（詳《傷寒》方。）</p>

<h3>三消門</h3>
<p>七味白朮散四君子湯，葛根藿香木香生津餌。</p>
<p>火府丹生地，黃芩共木通。</p>

<h3>腫脹門</h3>
<p>小溫中丸白朮二陳湯，神麯香附針砂黃連苦參。（詳《指南》集方。）</p>
<p>禹餘糧丸蛇含石，羌活、川芎白蔻木香、山稜蓬朮、白蒺藜，大茴牛膝青皮陳皮、肉桂附子姜炮，當歸還共針砂入。大針砂丸即此方，服此須教忌鹽食。（詳《指南》集方。）</p>
<p>活絡丹兮川烏草烏，地龍乳香沒藥膽星和。</p>
<p>神保丸川椒巴豆，木香乾蠍和。</p>
<p>控涎丹甘遂大戟，白芥子共為丸。</p>
<p>玉壺丹用好硫黃，製法精詳屬異方。（詳《指南》集方。）</p>
<p>草豆蔻丸黃芩半夏白朮，青皮陳皮麥芽、神麯枳殼、乾薑炒鹽。</p>

<h3>臂痛門</h3>
<p>指迷茯苓丸：神麯枳實風化硝，薑汁和丸臂痛療。</p>

<h3>腰痛門</h3>
<p>調肝散：半夏甘草川芎當歸肉桂，細辛牛膝木瓜菖蒲酸棗仁。</p>
<p>沉香降氣湯砂仁甘草、香附，少許鹽調腰痛方。</p>
<p>坎離丸四物湯，加知母、黃柏共成方。</p>
<p>透冰丹用大黃山梔，二茯苓神威靈仙、蔓荊子、白芷益智施，川烏天麻麝香、香墨仙靈脾合，治一切風毒攻衝奏效奇。</p>

<h3>目疾門</h3>
<p>羊肝丸共黃連制，氣虛益參耆血虛加芍歸。</p>

<h3>牙症門</h3>
<p>羌活附子湯，升麻、黃耆白芷柏黃柏防風，蒼朮佛耳草麻黃、天蟲甘草，風寒入腦良。</p>

<h3>舌病門</h3>
<p>古方黑錫丹，硫黃與黑鉛。（景岳類方黑錫丹，共十二味。）</p>

<h3>女科門</h3>
<p>回生丹具八珍湯，（全方。）延胡索橘皮桃仁蒲黃烏藥、香附蒼朮，地榆牛膝青皮良薑、山稜二木香、瓜，山萸乳香沒藥益母、五靈脂羌活，馬鞭草共秋葵子，製法如方細較量。（詳《指南》集方。）</p>
<p>（回生丹尚有黑豆、大黃、紅花、蘇木、米醋等熬膏，入後諸藥未。）</p>
<p>震靈丹禹餘糧、赤石脂紫石英代赭石，乳香沒藥硃砂、五靈糯飯丸。</p>
<p>烏鰂魚骨丸，藘茹（即茜草根）雀卵搏。（鮑魚湯下。）</p>
<p>琥珀黑龍丹，當歸川芎良薑、熟地攢，五靈脂硫黃、百草霜乳香、花蕊，煅制歸、地、芎、良、靈五味，鹽泥固煅，余為末醋糊丸。</p>
<p>蔥白丸兮四物湯全，三稜蓬朮麥芽、神麯厚朴青皮聯，大茴香、茯苓肉桂木香川楝子，枳殼乾薑共細研。（蔥白汁丸。）</p>
<p>烏雞煎丸蛇床子，二果肉果、草果二烏川烏、烏藥三術白朮、蒼朮、蓬朮齒，熟地白芍人參黃耆肉桂附子紅花，陳皮延胡索丹皮、琥珀木香是，海桐皮共貯煮雞研，（上藥為末，納烏雞肚內，好酒煮乾，去雞骨，同藥炒研。）白蜜和丸隨症用湯引服餌。（上五方並詳《指南》集方。）</p>
<p>（總賦篇有五加皮散，考方書未見，惟《本草綱目》附載《局方》油煎散，治婦人血風勞，用五加皮、牡丹皮、赤芍、當歸各一兩，為末，水一盞，藥一錢，以青錢一文蘸油入藥，煎七分溫服，疑即此方。）</p>

<h3>幼科</h3>
<p>肺寒喘嗽華蓋散，麻黃蘇子杏仁、甘草橘紅、赤茯苓桑白皮。</p>
<p>喘家三拗湯，甘草杏仁麻黃。</p>
<p>錢氏益黃散，青皮陳皮訶子、甘草丁香。</p>
<p>薛氏河車丸，人參當歸三味參。</p>
<p>鉤藤飲子治慢驚，蟬蛻防風、殭蠶全蠍射干人參，川芎甘草天麻生薑引服，虛寒溫補更宜斟。（六君子加薑、附。）</p>
<p>上所撰方訣，不過取便記憶，其各方分兩製法，未及詳註，須再檢各種方書，其中險峻之方，尤宜詳審，不可率臆妄用。</p>

<h2>補遺</h2>

<h3>便血門</h3>
<p>平胃地榆湯平胃散全，四君子湯歸芍葛根升麻聯，乾薑神麯同香附，陰結流紅服此痊。</p>
<p>理陰煎熟地炙草當歸乾薑，寒甚還加肉桂襄。六味回陽飲參再益，陰陽虛脫是良方。</p>

<h3>便秘門</h3>
<p>養正丹用水銀硃砂，黑錫硫黃等分須。（詳景岳類方。）</p>

<h3>臂痛門</h3>
<p>防風湯麥冬、甘草，川芎黃芩人參共研。（為末調服。注云：主治鼻淵腦熱，濁涕不止，與臂痛似不相涉。此方本《宣明》，姑錄俟考。當別是一方。今考正：）</p>
<p>防風湯二活，芍藥共荊甘。</p>

<h3>燥症門</h3>
<p>清燥救肺湯桑葉枇杷葉，杏仁麥冬、人參石膏阿膠甘草胡麻。</p>

<h3>女科熱入血室門</h3>
<p>牛黃膏用丹皮硃砂鬱金，冰片生甘草蜜煉丸。（詳《指南》集方。）</p>

<h3>調經門</h3>
<p>大補丸黃柏，（鹽酒炒褐色。）粥丸治陰火熾盛方，血虛煎四物（湯送下），氣弱四君子湯（送下）。</p>

<h3>三消門</h3>
<p>大補元煎當歸熟地人參，枸杞山茱萸山藥杜仲甘草倫。</p>
<p>竹葉黃耆湯，石膏黃芩川芎白芍當歸，生地麥冬人參甘草協，治暑煩熱渴是良方。</p>
<p>子和桂苓甘露飲，七味白朮散、（四君子加藿香、木香、乾葛）三石全（滑石、石膏、寒水石），再加澤瀉和官桂，脈虛口渴暑煩宣。（生津甘露飲未見俟考。）（生津甘露飲，方本東垣，品味繁雜，喻氏非之。）</p>
<p>黃耆湯用二天麥冬人參，白芍五味茯苓甘草、烏梅熟地並。（加薑、棗。按《臨證指南》案論有黃耆湯，當是此方。）（又《宣明》黃耆湯，用生脈散加黃耆、熟地、枸杞、桑白皮，云治肺消。）</p>

<h3>呃門</h3>
<p>胃冷須投溫胃飲，白朮人參陳皮扁豆炙草乾姜當歸。</p>
<p>歸氣飲中茯苓熟地，丁香陳皮、扁豆藿香、炙草炮姜。</p>
<p>大補陰丸知母、黃柏龜板，熟地黃豬脊髓蜜丸之。</p>

<h3>泄瀉門</h3>
<p>六一（散加）紅曲名清六丸，若益乾薑名溫六丸。</p>

<h3>痙厥門</h3>
<p>附子梗米湯，大棗半夏甘草幫。</p>

<h3>癲癇門</h3>
<p>癲狂一醉膏，香油酒共調。（詳《治法匯》。）</p>
<p>寧志膏人參棗仁，硃砂滴乳香。（蜜丸。）</p>
<p>河車丸，（已見前幼科。）</p>

<h3>腳氣門</h3>
<p>五皮五子散即五皮飲，三子蘇子、萊菔子、白芥子還同葶藶子杏子施。</p>
<p>煨腎散用豬腰切，杜仲川椒鹽濕紙裹煨。（內用薄荷葉包。）</p>
<p><u>附：《醫級》摘要方訣</u>（並出《醫級》類方）</p>

<h3>血症門</h3>
<p>生津湯四物湯去川芎，二天麥冬花粉共桃仁紅花。（此方本治經閉，亦治吐血。）</p>
<p>阿膠丸用治腸風，赤茯苓黃連等分鎔。（膠為丸。按《醫級》以此方治肺傷久嗽失血，與上生津一方，殆俱屬移治之法。）</p>
<p>人參蛤蚧散：甘草茯苓知母，甜杏仁貝母桑皮勞嗽久咳失血宜。</p>
<p>沖和靈寶飲柴胡羌活，白芷葛根、細辛川芎生地防風，甘草石膏黃芩醫兩感，煨姜黑豆棗同嘗。（董氏謂外感失血，多由寒熱相激，古方麻桂難用，以此方加減治之為穩。）</p>

<h3>遺精門</h3>
<p>分清飲用木通豬苓茯苓，枳殼、厚朴車前梔子澤瀉苡仁。</p>

<h3>尿血門</h3>
<p>歸圓酒當歸、桂圓用黃耆香附，續斷忍冬藤甘草蒸。（灑服。）</p>
<p>蒲茸散用鹿茸蒲黃，當歸生地冬葵子蜜煉和。（亦名蒲茸丸，治尿血日夜不止而不痛者。）</p>
<p>七正散用車前、茯苓篇蓄，龍膽木通梔子甘草梢。</p>
<p>血淋方兮知母、黃柏牛膝，麥冬澤瀉山梔生地粥丸。</p>

<h3>脾胃門</h3>
<p>大小和中飲，陳皮、茯苓厚朴甘草山楂，扁豆生薑上七味名小和中飲麥芽枳實、澤瀉，大者更加砂仁。（大和中飲止陳皮、枳實、山楂、砂仁、厚朴、麥芽、澤瀉七味，治脾胃不和。）</p>

<h3>痰飲門</h3>
<p>金水六君煎，二陳湯、當歸熟地聯。</p>

<h3>癉門</h3>
<p>青娥丸杜仲，破故紙桃核研。</p>
<p>辟惡啟脾丸，蒼藿蒼朮、藿香二陳湯四味攢，白朮砂白蒺藜神麯香附，綠礬皂角、紅棗膏摶。</p>
<p>針砂五果丸，蓮子芡實、胡桃與桂圓，綠礬和杏子。大棗共和研。</p>
<p>化積丸三物，大黃黑醜檳榔。</p>
<p>溫臟丸：人參茯苓當歸白芍白朮，川椒乾薑檳榔榧子使君子、吳萸。（檢《醫級》類方，止載此方，無蔻連溫臟丸。）</p>
<p>治濕二妙散，蒼朮柏皮贊。</p>

<h3>瘧門</h3>
<p>木賊煎蒼朮、厚朴，檳榔半夏青皮。（治瘧、痙，形氣壯實多濕痰者，宜用此方越之。）</p>
<p>人參清肌散四君子湯，當歸白芍柴胡半夏葛根、生薑。</p>
<p>休瘧飲：人參當歸首烏白朮甘草，陰陽水煎露一宿服佳。</p>
<p>鉤藤、全蠍煎用柴胡、當歸甘草，芍藥黃芩木通陳皮薄荷。（治瘧、痙。）</p>

<h3>痢門</h3>
<p>太乙煉雄（黃一斤，水煎七次）丹，菖蒲（一兩六錢）什一參。（水法，每服五分，白湯下。）</p>
<p>約營煎兮生地白芍甘草，地榆續斷、黃芩槐花荊芥炒黑烏梅。</p>
<p>消瘀五黑散，生地白朮荊芥蒲黃梔子。（各炒成炭，水煎，和童便一杯服。）</p>
<p>十灰散藕節、敗棕百草霜另發，荊芥、側柏蒲黃姜灰苧麻共茅根。</p>
<p>郁李仁湯當歸生地枳實，大黃蒼朮皂角仁澤瀉、秦艽麻仁。</p>

<h3>暑門</h3>
<p>正柴胡飲防風白芍，陳皮、甘草生薑治感邪。</p>
<p>五柴胡飲當歸熟地，白朮白芍甘草陳皮七味方。</p>
<p>補陰益氣煎：熟地芻歸人參，炙草升麻柴胡山藥陳皮。</p>
<p>孤陽上格鎮陰煎，桂附牛膝、炙甘草、熟地澤瀉聯。（本集衄血門已用此方。）</p>
<p>柴歸飲甘草白芍，荊芥五般和。</p>

<h3>斑疹門</h3>
<p>透邪煎用荊防芍，歸草升柴七味同。（賦中有疏邪煎，檢類方無之，當即此方。）</p>
<p>犀角散用羚羊角翹連翹桔梗，生地丹皮赤芍甘草。</p>

<h3>痙厥門</h3>
<p>小營煎性最平和，熟地當歸甘草、白芍枸杞羅。</p>

<h3>脅痛門</h3>
<p>淬鐵飲用鐵稱錘，煎湯代水煎藥鎮肝逆。（一名燒錘飲，一名鐵烙飲。）</p>

<h3>腳氣門</h3>
<p>五淋散梔子芍藥、甘草，赤茯苓共當歸。（賦中通淋散，檢類方亦無之，未知即此方否也。）</p>
<p>（續考通淋散，乃牛膝五錢，麝香五釐，水煎調麝服。）</p>
<p>雞鳴散用檳榔蘇葉桔梗，橘紅木瓜吳萸生薑共煎。</p>

<h3>疝門</h3>
<p>三層茴香丸，南沙參、川楝子木香，第二料檳榔蓽茇增，（加入前方。）三方（第三料）再益茯苓附子，久疝良方效最神。</p>
<p>導水茯苓湯，檳榔、紫蘇澤瀉麥冬桑皮，白朮砂仁陳皮木瓜、香，燈草大腹皮襄。</p>
<p>上共一百七十六方。</p>
