<header data-type="book">
<h1>幼幼集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孟繼孔</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1593">公元1593年</data></dd></div>
</dl>
</header>

<h1>治痘詳說序</h1>
<p>古人云：寧治十男子，莫治一婦人；寧治十婦人，莫治一小兒。黃帝曰：吾不能察其幼小，是以小兒醫為難也；而不知其所最難者，猶莫甚於嬰兒之痘疹。差之毫釐，失之千里，吉凶在反掌之間，生死在旦夕之內，可不慎歟！治痘者，若不能分表裡虛實，氣血寒溫，毒勢深淺而施治焉，未有不為害者。予深慨夫治痘之醫，或有拘於日數者，或有拘於方書者，當用升麻藥保元湯而強執不用，不當用者則又妄用之，血不足矣反補其氣，里本實矣反補其虛，熱毒盛矣反助其火，陽氣脫矣反解其毒，實實虛虛，損不足而益有餘，如此死者，非醫殺之乎？病死者不之知也，為人父兄者亦不之知也。至於方書所載，又有偏於溫補者，有偏於涼瀉者，有先人之妙用則可，無先人之妙用則誤矣。豈應以當今粗率孟浪之見，滑詐嗜利之人為之哉。予素研窮於此，尚未得其奧旨，因被逮淹禁比部二載，遂將聞人氏、錢氏、陳氏、蔡氏及《痘疹全書》、《玄機博愛心鑑》等書細加參詳，將其已出未出、長髮灌漿、收靨形色、治法膚淺易曉之說採集，及予素所經驗者，編成一冊，名為《治痘詳說》，不特宜於東南，雖西北之人亦不越是矣。惟高明同志者校之。</p>
<p><u>時萬曆癸巳仲夏吉日後學孟繼孔識</u></p>

<h1>上卷</h1>

<h2>孟氏治痘詳說</h2>

<h3>論種子不宜服熱藥</h3>
<p>世人有無子嗣者，皆謂腎家不足，乃服鹿茸、鹿角膠霜、鎖陽、蓯蓉、龜板等輩以溫腎，不知腎不可溫也。蓋腎水本寒，衰則熱矣，故腎虛為病皆是熱症。夫欲壯腎水以滋陰，而反以藥助其熱，則水益涸而腎益虛。蓋人之得子，全賴腎水。故二八之年，腎氣勝，天癸至，陰靜陽動即易之，所謂男女構精，萬物化生，故能有子。是宜以和平之劑，壯水之源，如人參、當歸、地黃、枸杞等藥，服之則水滋火降，精滿氣充，何患無子？不然如劉河間所謂「病本熱而無寒，又得熱則病轉甚」，世人不悟，乃謂服此熱藥，自誇陽事易舉，行房不倦，甚得其助，不知熱藥助火，一時舉陽有功，火易舉則水易涸，徒知房中之藥而不知所損於腎者居多也。每每見服熱藥者，或生癰毒，或染風疾，色槁齒落，身瘦耳焦，既絕其子嗣，而又傷其身軀，不亦可哀也哉。《醫學鉤玄》內云：五湖陸君兄弟，以文名縉紳儒林間，而獨不悟此說，生平服壯陽固精藥，兄弟俱染中風而卒，豈虛語哉！夫服熱藥，豈徒不能結胎生子，而熱毒流注胞胎，雖生其子，往往為痘疹所患，故深為之戒也。世人慾種子者，幸勿以予言為迂。</p>

<h3>論出痘根源</h3>
<p>夫人稟天地陰陽之氣以有生，受父精母血以成形，固自然之理，然父母交會之際，不無淫火之毒，至於兒在母胎數月，借母之氣，飲母之血，為母者不能節房欲，忌口腹，冬則烘衣被，夏則頻洗浴，日積月累，蘊於胎胞，蓄於兒身，謂之胎毒。降生以來，其毒不即發泄，俟外邪沖搏，與原受穢毒相激，遂令出痘。先年痘氣之行，多在於午卯酉之年。蓋子午年君火司天，卯酉年君火在泉，諸瘡癢痛皆屬心火，況痘自頂至踵，無所不到者而豈泛常瘡之痛癢可比者乎。故其發也，得於有生之先，受於已生之後，自始至終，無不假氣血以生長收靨；其遲速之不同，則歲運之乘否；而輕重之互異，則毒氣之淺深，此理之可測而亦勢之必然。其曰痘瘡者，蓋象氣以命名耳。至於所謂茱萸痘，菀痘、蠢痘、蛇皮痘之說，則又老嫗之俗談也。方書所載預備痘法甚為詳切，如所謂挖去口中惡血，於啼聲未出之先服甘草、黃連、朱蜜於既去惡血之後，並瓜蒂散、兔血丸、稀痘丹、三豆湯浴體法之類，以解逐胎毒，安調臟腑，無不善者。其間又有效於彼而不效於此，效於此而不效於彼者，學者不可以為無益而盡廢之。至於沿街遍野，不分大小，一概染出瘡痘，輕者俱輕，重者俱重，此則歲氣並臨，疫癘傳染，天行瘟毒所致，豈可概以為胎毒？必須明歲氣所及，人之氣血虛實，天之寒暑溫涼，地之東南西北，或消毒，或和中；或解，或表，或下，或補，或涼，或溫，使正氣得保全之功，邪氣無留滯之患。若他鄉市井老嫗、幼婦之說，予不敢書以亂人心志，惑人之聽聞也。為人父兄者，當熟思而詳察之。</p>

<h3>論大痘水痘斑疹分別</h3>
<p>發熱後，三五日之間，紅點出水疱，水疱成膿疱，膿疱結痂，干靨脫落者，總謂之痘。此則胎毒之所發也，其或隱隱見於皮膚之間，不發胖，不膿不痂者，謂之癮疹。一見紅色出而覆沒，沒而復現者，謂之膚疹；北人謂騷疹。遍身紅瘢如蚊蚤所咬，如錦紋雲霞者，謂之斑疹；吳人謂為疹，越人謂為瘄。其或初紅點有類痘瘡，不三日而灌水灌漿，顏色紅潤，方見漿而即焦者，謂之水痘。世人有以水痘誤認為正痘者，或有醫人奉承病家妄言水痘內帶過幾粒大痘者。殊不知大痘之毒，五臟之毒，毒之重者也，出不易長，長不易漿，漿不易收。水痘之毒，毒之輕者也。出即生清漿，漿滿即破，皮破即乾結痂。間有人家不忌表藥，妄食毒發之物，以致水痘潰膿成瘡，作麻點者，又不可不辨也。且大痘毒重，水痘毒輕，重病兼輕病容或有之，豈有患輕病而帶過重病者耶？以上諸症，乃脾肺經蓄熱，或外感風熱，或傷食積熱，或驚後、傷寒後乘間而發，不可盡歸於胎毒也。方書內皆謂痘瘡色赤而小者，屬心色；白而大者，屬肺色；青而小者，屬肝色；黃赤而淺者，屬脾。又有陳氏三穢毒之說。皆以意逆之而云然耳。予何人斯而敢妄為議論耶？醫者能審表裡，察虛實，別寒熱而施治焉，自無夭枉之患矣。</p>

<h3>論發熱</h3>
<p>痘瘡欲出，必先發熱。然亦有因驚熱、風熱、溫熱、潮熱、壯熱之類，久而不去，內外激搏，而痘毒亦或因之而發見者，大概與傷寒相類，而實與傷寒大不相同。何也？蓋傷寒所傳，從表入里；痘毒所發，由里達表，故惡寒無汗，左額青紋，面色慘而不舒，此傷寒之所有而痘疹之所無也；目睛黃眵，耳後紅紋，耳尖尻骨獨冷，面色四肢俱赤，惡熱而不寒，此痘疹之所有而傷寒之所無也。若疑似之間，辨認未真，先以升麻、葛根、惺惺散探之。若果見其痘矣，又當別其熱之輕重，以知痘之多寡，痘之淺深。如溫溫微熱，時作時止，或二三日，或四五日，呵欠盹悶，夢中驚悸，面色微紅，沉沉喜睡，此痘必稀，其毒必輕，可俟見苗之後，隨症調治，百不失一。蓋外發熱者，由內毒之所激也。毒淺則熱輕，故遲延三四日而出者輕；身涼脈靜而出者為尤輕也。其或驟發壯熱如火，薰蒸炙手，不可捫摸，頭面俱赤，悶亂昏眩，狂躁不定，或一日、半日、二日之間即見紅點，此由內毒太盛，瘡必稠密，急宜投以解毒活血、消導清涼之劑。又有發熱之時，腹中作疼，時時攻攪，上下不定，或煩躁作渴，譫語妄言，即當通其大便，得一大通利，其痛必定，其熱必滅，瘡亦隨發。若不肯下，若下少遲，煩躁不定，胃熱發瘢，口臭唇燥，口角流血，白睛紅赤，腹脹喘滿，身發紫疱而死者，非誤乎？然則痘瘡首尾不可下之說，則又一偏之見也。</p>
<p>痘瘡發熱，腰脅大痛，此毒在肝腎，孰不以為至惡之候不治之症。然亦有因氣怒而起脅痛不能轉側者，當於本經藥內倍加柴胡、酒炒白芍藥、香附、青皮之類治之；亦有因閃肭而腰痛者，當於本經藥內加活血藥及官桂、乳香、木香之類治之；亦有因外感風寒而腰痛者，當減本經藥，倍加羌活、防風、白芷、肉桂之類以溫散之，不可忽略，悉認以為痘之腰痛而棄之也。予每每試驗，臨時當細加審察，不可輕易發言，驚恐病家父兄，慎之慎之。</p>
<p>痘瘡，或吐，或瀉並作，俱於發熱時二三日內見者，乃其邪氣、毒氣、食積作吐作瀉，當因其症而施治，不可驟然止之。俗云：千錢難買痘前瀉，蓋言熱隨利減，毒隨利減也。若痘現苗已定而吐瀉猶不止，恐損脾胃，當用人參調中湯，七味豆蔻丸，或參苓白朮散治之。若火盛迫於上下而作者，又當斟酌連翹、牛蒡子、酒炒黃芩、黃連、山楂、枳殼，皆可選而用之也。</p>
<p>痘瘡，發熱時發驚發搐如驚風狀者，蓋心為火，肝為風，風火相搏，是以抽搐不寧，如是見痘，俗呼為驚痘。驚痘多吉者何？蓋驚屬心火，痘發由驚則心經痘矣，是以多吉。若搐不定，痘不透，當用升麻、葛根湯加天麻、防風、木通，並抱龍丸、燈心湯調服。至如頭額胸背手足之間微微自汗者，此腠理疏通，毒氣發泄，不須服藥。若瘡已見形，驚風不定，昏昏如睡，痰壅氣喘，人事不省，兩目不開，譫言妄語，下後不減，毒氣壅盛，邪氣閉塞，清道不行，至惡之症，不可認以為驚痘。書云：驚之輕者，毒亦輕；驚之重者，毒亦重，正此之謂也。</p>
<p>痘瘡，發熱之時，唇不紅赤，脈不洪大，洒洒淅淅，顫顫兢兢，如惡寒之狀，間作乾嘔，此表氣素虛，瘡毒流滯於腠理之間，欲出不出所致，宜參蘇飲以和之，則痘自出而寒熱俱退，慎勿輕用解表之劑，以成虛虛之誤。若發熱日久，綿綿不已，或外感風寒，腠理閉密，痘瘡為邪毒所遏而不出，當用麻黃解表湯以表之。若大病之後失調理，或吐瀉後脾胃氣虛，痘毒內陷而不得出，須用參耆內托散以補之。若傷食膩膈，阻塞清道腸胃，與痘毒合併而不出，此內實也，當用枳實導滯湯以利之，自然痘出。若熱不止，痘不出，當以藥發之。升麻湯，羌活、防風、乾葛、川芎、桔梗之類微發，不出再加藥以發之。發後熱退身涼，此邪氣解散，無病症也，不必服藥。若服表藥後所出不多，熱退氣和，此瘡本稀少，不可重發，以增斑爛之患。</p>
<p>痘瘡，發熱之時，亂言狂語，見鬼見神，尋衣摸床，昏睡不醒者，此皆毒氣內攻，心神不清所致，宜導赤散加連翹、黃芩、犀角、木通、牛黃丸、抱龍丸、辰砂益元散，使小便流利，精神清爽，痘亦漸出，方望生意。若昏倦軟弱，人事不省，口語喃喃不休者，則不可治矣。</p>
<p>出痘遍身皆熱，獨手足如冰，此脾胃虛也。蓋脾竅通於四肢，急宜補中益氣湯、理中湯、參苓白朮散，以生胃氣。若手足熱者，可治；仍冷而厥者，則不可治矣。又有內傷冷食而手足逆冷者，當用香砂平胃枳實麴櫱之劑，不可執以為虛而妄補也。</p>
<p>痘出發熱，口鼻大小便皆有血出，此毒盛薰灼太過，逼血妄行，至為惡候。惟從鼻出者，由肺家大熱，可投玄參解毒湯以解之；大便內去血者，熱毒從利減也，當以黃連、當歸、芍藥、枳殼、山楂、木通、甘草、牛蒡子、連翹酒蒸、炒黑大黃治之。大抵痘瘡見血，十不救一，醫者審之。</p>
<p>治痘全在發熱之時，看其輕重表裡虛實寒熱，分別明白，審真認實，當表則表，當解則解，當汗則汗，當下則下，當補則補，當泄則泄，使毒氣不致於壅遏，慎勿泥於首尾不可汗下之說，以貽後患。其或痘出四五日，身熱猶不除者，尚能加添痘瘡，不可謂已出盡。大抵必待熱退盡，方可謂痘瘡出淨也。</p>
<p>痘瘡，出至六七日，復又身熱，此將行漿而血少也。當用保元湯加當歸、川芎、白芍藥以助之。若血少而有餘毒者，用加味連翹散一二劑，世俗所謂蒸漿熱者是也。若痘已出完，復又發熱，此非餘毒，即系血少，急宜隨症施治。若發熱兼咳嗽者，欲作疹也，俗云痧蓋痘，當用前胡、防風、荊芥、蟬退、桔梗、陳皮、熟半夏、山楂以微透其毒。書云熱不可驟遏，宜輕解之。若無熱則又不可發升，用藥者不可不知。</p>

<h3>論見形</h3>
<p>痘瘡，發熱三四日而出，或身涼而後出，大小不一等，顆顆相間如痘，如珠，摸之礙手，明潤光澤，根顆紅活，痘與皮肉紅白分明，作三次出，天庭無，年壽無，喉下無，頭、面、胸、背稀少，飲食言動、大小便如故，至吉之兆，順之症也。不須服藥，當觀其日後何如，隨時調理而已。</p>
<p>熱便出瘡多稠密，當詳視其稠密之中，根顆分與不分，顏色紅潤不紅潤，有無黑色痘疔、芋頭皮色痘疔、紫色痘疔，更察其元氣虛實，年紀少長。若疔少根腳分明，顏色紅潤，元氣實，年力大，飲食強者，當以銀針挑破疔口，括去惡水、惡血，塗以四聖丹，拔其毒；內用小劑保元湯，加活血解毒之藥治之。如頂不起者，倍加鼠黏子；小便秘者，燈心湯調益元散。用藥後如飲食不減，大小便調，瘡色飽滿，光澤日長一日，依期灌漿，不煩躁，不癢榻，不瀉，或癢而抓破，鮮血淋淋，扶過十三日、十五日，自然平復。其或過用解毒之藥，致寒氣損傷脾胃，作瀉作嘔，癢渴不止，咬牙寒顫者，投以陳氏異功散、七味豆蔻丸，止瀉調元，溫胃亦可得愈。</p>
<p>痘既見形，雖分根顆，身尚發熱，瘡色乾焦枯紫，大便燥結，此火盛毒熾，氣血分俱有熱也。久則津液枯而發渴，當用四聖散、導赤散、犀角飲，使心火有所導引，則熱自退；更用涼血解毒湯、辰砂益元散，無使其變壞轉黑而為危惡症也。若身不熱而止乾焦者，此內熱也，導赤散加木通即安。</p>
<p>痘色雖紅活，卻過於嬌嫩，如水噴桃花之狀，此皮嫩囂薄，元氣不實，毒入氣分者也。當大劑保元湯，少加酒洗焙乾當歸身、酒炒白芍藥、肉桂、糯米為治。</p>
<p>痘色淡白而嫩，或皮寬者，此毒雖少而元氣至虛，不能擴充者也。宜參耆內托散，倍加糯米為主，保元湯加生磨木香汁、官桂等藥治之。</p>
<p>痘瘡起色雖紅，但乾燥口渴者，此火盛血不足，當用生地四物湯加牛蒡子、紫草、木通、連翹等治之。</p>
<p>痘雖光潤，以手摸之即破，此血有餘而氣不足，或衣被過厚，汗出過多，或先用表藥劑大，以致如此。宜大劑參耆內托散主之，保元湯加官桂等治之。</p>
<p>痘色如麩殼，無紅色，無水氣者，此氣血俱虛，雖用八物，亦不能轉。間有一二服八物湯並黃耆、肉桂之類，變為紅潤含水者，此又可治也，否則危矣。以上諸候，俱有癢搨之變，均之為險症也。</p>
<p>痘內遍身有碎小密如芥子者，此夾疹也；有內色鮮紅成片，或塊者，此夾斑也，皆毒火太盛，薰於中，故一齊湧出。宜解毒涼血使斑疹消去，則可施治，以蟬退、荊芥、殭蠶、川山甲等治之。蓋痘瘡夾斑疹，如五穀中夾荑稗，未有不耨去荑稗而得五穀茂盛者也。書云：瘡夾疹者半輕半重，三日退者可治，三日不退者難治。</p>
<p>痘初出時便見水泡，才二三日即頭戴白水，不久即干，其餘平頂不起，此毒至盛，謂之太過失序。俗云：未老先白頭，不治者也。</p>
<p>痘既出之後，若叢雜團聚，密如蠶種，堆垛如魚子，平搨如胖蠶，抓破如蛇退皮，結痂如冷粥皮，頭面眼胞口唇上下一齊光腫，則五、七日內當發斑，發血泡，及口鼻出血而死。蓋痘瘡喜其腫而皮肉不喜其腫。書云：瘡腫肉不腫者昌；肉腫瘡不腫者亡，正此之謂也。若簇簇於皮膚中，如寒風粟起之狀，或隱或見者，此不待長髮，當啼叫煩悶而危。若正面胸、背、手、足腫硬成塊，或青或紫，如丹瘤之狀者，當成黑陷，破爛挖坑而危。若紅紫黑斑如蚤咬，如蚊跡，如灑朱，如點墨，如青黛，與皮膚一平及頭面一片如胭脂者，此極惡之候，三朝五日即危矣。</p>

<h3>論部位</h3>
<p>痘瘡於初放點之時，先察部位所發之處，即可預知其輕重吉凶。若口鼻兩傍，人中上下，腮耳之間先出現者，吉；若從兩鬢角耳後，咽喉處先出現者，凶也。其起漿收靨亦如是。至如頭者，諸陽聚會之處；兩頤兩頰，五臟精華之府；咽者，水穀之道；喉者，呼吸之門；胸腹者，諸陽受氣之地，為心肺所居，痘疹最要五處稀少。若頭額多者，謂之朦頭毒參陽位也；頸項多者，謂之鎖喉；胸前多者，謂之縵胸。朦頭則視聽廢，氣化絕；鎖喉則內不出，外不入；縵胸則陽不清而神失守。兩頰兩頤多致成片，或如塗朱，則肝盛克脾，八九日當作滑泄，瀉青色，不食而為險候，故不宜多也。惟四肢雖多不妨。以上諸症，俱要疏通榮衛，活血調氣，健脾生胃，使無干枯焦黑之患，紫草消毒等味似不可少。若熱甚者，酒炒芩、連、地骨皮；渴者，天花粉；氣虛者，參、耆、木香；大便秘者，枳殼；小便澀者，木通；食少者，山楂、白朮、陳皮；癢者，桂枝；脹者，大腹皮、厚朴；肚疼者，白芍藥、丁香。然亦看人之大小，稟之虛實。大而實者可救，小而虛者難痊。</p>

<h3>論長髮</h3>
<p>痘瘡既出之後，二三日之間漸漸長髮，先出者先起，後出者後起，肥大紅潤，光澤腫胖，依期灌漿，無他症者，吉矣。若三四日內，雖無他症，但隱於皮膚，不長髮者，此元氣虛也，人參透肌散、參耆內托散，加升麻、防風、前胡、紫草等催之。若見吐瀉、口渴而不長髮者，此內虛寒也，陳氏木香散主之；胡荽酒噴之；雞冠血和酒灌之；桑蠶搗爛，白酒調下亦可。</p>
<p>痘出四五日，雖見長起而頂獨陷者，氣虛也，參耆保元內托等劑加糯米主之；頂陷不紅活者，此血虛也，四物加參、耆、白朮、甘草主之。若色雖血活，根腳散大，此血熱而氣不相依，當涼血、解毒、補氣，以大鼠黏子湯加紫草、黃芩、山楂等治。若色紅而焦，口乾，不起發者，紫草飲加紅花酒、炒黃芩、連翹之類治之。</p>
<p>若大便秘結，內有實熱而不發者，加味四聖散加枳殼、黃芩及快斑散。若大便利，口發渴而不長髮者，此內虛熱也，四君子湯加肉豆蔻。若不渴，大便利者，此內虛寒也，理中湯、陳氏木香散主之。</p>
<p>若夏月盛暑，炎氣薰蒸，煩躁發渴，以致痘不起發者，五苓散加木通、乾葛及人參竹葉湯治之。</p>
<p>若冬月寒天，為冷氣所侵，致肌膚粟起而不發者，當用陳氏木香散加紫蘇、桔梗。若鼻塞聲重，咳嗽不發者，此為風寒所侵，人參敗毒散。若氣血虛弱，偶為邪穢所觸，內伏或陷而不發者，內用十宣散，外用乳香、沉香、芫荽、紅棗燒之，以闢其氣。</p>
<p>痘瘡長髮之際，五六日之間頭面多者，自然腫脹目閉，此正候也。若應腫不腫，應閉不閉，此毒氣鬱留於內，不能起發之故，急用托裡快斑湯治之。腫起者吉，不腫者凶，然只要痘腫，不要皮肉腫。又須驗其色，若瘡本分顆，皮色紅活者，吉；瘡本模糊，皮色黑黯灰白者，凶。目雖要閉，不要目胞光亮。若腫後忽然平搨，目開露睛者，此為氣泄，急用參耆內托散加川山甲、糯米治之。重複腫閉者吉，不腫閉者凶。又有痘將起發便頭面先腫大者，此天行疫氣，名大頭病。宜解表救苦湯解之，消者吉，不消者凶。此症易腫、易消，七日之後，變為癢搨，嗆水錯喉，聲啞痰喘，倒陷百無一生之理。其有瘡或稀少，自然灌漿，頭面不腫，目不閉者，又不在此例。大抵痘不論稀密，俱要飽滿光澤，頂圓高起。若頂凹陷不灌漿，漿不脹不膿，目不閉，顏色不正，雖勉強灌漿於一時，亦難保其十一、十三朝之變也。</p>

<h3>論灌漿</h3>
<p>夫痘瘡自出齊長足，至六七日內放亮紅活，徐徐灌漿，乳食日進，無雜症者，當九日、十日收靨脫痂，自然平復，此大吉矣。其或唇上、鼻凹、天庭、耳邊有痘，皮薄先灌黃漿者，此為賊痘。毒氣內攻脾臟，當於活血內托藥中加紫草、連翹等藥治之，此又不可概謂為急也。</p>
<p>痘出稠密，色焦紫不能起頂者，此血熱毒盛之故。當細看其皮之厚薄。厚者保元湯加紫草、木通、連翹、桔梗、當歸、紅花為治。若皮薄如水泡者，雖灌不過半漿，必有癢搨黑陷之變。</p>
<p>痘頭面稠密，身上稀少，顏色淡白，不能起頂灌漿者，此氣血虛少所致，宜參耆內托散加桔梗、白芷載藥力在上，先灌頭面滿足，然後放下。若四肢不灌者，前藥內倍加白朮、白芍藥、牛膝引之，蓋四肢屬脾，前藥皆脾經之藥也。</p>
<p>痘瘡五六日，漿雖灌而不稠，膿雖滿而不圓，或頂陷者，此因氣弱不能統領其血，宜保元湯合四物湯加官桂治之。若漿雖飽滿，色見光白而不榮活者，此氣盛血弱也，四物湯加木香、糯米主之。</p>
<p>痘瘡六七日，漿雖灌不甚滿足，中間又有不能灌者，此氣血不和也，終必變為虛寒癢搨之症。宜參耆內托散加木香、官桂主之。</p>
<p>痘瘡雖見脹滿，但手摸則皮皺，此血雖至而氣不相依，後必難於收靨，亦險逆相兼之症。宜用參耆內托散加木香、官桂、糯米等治之。</p>
<p>氣虛痘瘡，因用內補藥方見長起灌漿，不能平滿而隨即倒榻者，更用保元湯加芎、歸、木香、官桂、升麻等大劑主之。此苛之症，須年大能食者，十活五六；年小不能食者，則不可治也。</p>
<p>漿雖灌而色大紅，根腳漫無一線之紅圍繞者，此血熱甚而未解，九朝、十朝，當有發癢之患，急宜參耆內托散、保元湯加蟬退、木通、荊芥、白芷、火煅川山甲等藥治之。更須令人看守，勿令抓破，如抓破之處鮮血淋漓，則氣流通，猶可施治。外用敗草散，或松花，或炒喬麥面，或伏龍肝末敷之，使其重複灌漿，庶亦可愈。若重複灌漿而隨灌隨干，其痂青白綠色，堆垛如雞屎者，終必咬牙寒顫，危於十五六朝，發渴發喘，未灌漿之時而內是血也。若既灌漿之後，則內是膿安得又有血乎？亦難以有血、無血而定吉凶，須以日期先後為定論可也。若抓破之處，肉如剝光魚皮，形如湯火泡者，此血為毒所滯，氣為毒所壅，二者俱脫，是名倒陷；及挖肉成坑者，是名內陷，俱為不治之症。</p>
<p>痘瘡八九日之內，正在灌漿之時，身發壯熱，渴欲飲水者，此必瘡多毒盛，表裡氣血俱虛，宜用人參、黃耆、甘草、當歸、川芎、白芍、麥門冬等藥，或大補湯治之。若飲食傷脾，或傷生冷，以致大便頻去，或作瀉者，宜用參耆、山楂、白朮、黃耆、肉桂、肉豆蔻、訶子、澤瀉藥以止之。若大便雖去，飲食尚強，亦還可施藥餌，順序調理得獲安妥；若胃弱脾虛則危矣。</p>
<p>灌漿之時，十朝之外，身體倦怠，精神不舒，煩悶嗜臥，口有氣息，口舌生瘡，此必胃中蘊熱，急用牛蒡子、白朮、茯苓、黃連、桔梗、連翹、薄荷煎濃汁，食後徐徐服之，遲則瘡雖收靨脫痂，延至二十日外，漸成牙齗蟲蝕生瘡，時時出血，謂之牙宣；呼吸息出為之息露；為走馬；為崩砂，為狐；為惑；為齒脫；為唇爛，為不治矣，慎哉，慎哉。</p>

<h3>論觀形驗色</h3>
<p>大凡出痘，當先看形貴尖圓，起發瘡皮堅硬雖在，稠密顆顆成珠，豐厚沖滿，此氣勝毒，吉也。若頂陷平搨，皮鬆皮薄，毒盛元氣，凶之兆矣。色貴光澤明潤紅活，雖至稠密，粒粒有血絲圍繞，此血勝毒，吉也。若慘黯昏昧，或赤或白，根顆成片，乾枯焦黑，凶之兆矣。灰白色者，氣虛也，大補氣血。色赤者，焦紫昏暗者，血熱盛也，當涼血解毒；色白而漿不滿，或倒搨，或皮薄易破，大補湯、內托散主之，若色焦紫而漿不滿，欲成乾枯黑陷者，四物湯、消毒飲加紫草、紅花、升麻、乾葛主之。蓋氣和血順則痘色明潤，氣弱血滯則痘色昏慘。血非氣則毒不能出，氣非血則毒不能化，故初見紅點者，毒始出也。次見水泡者，毒未散也。繼成膿者，毒將解也。若色黑，則毒滯血乾；焦黑，則氣血枯槁，乃毒勢過盛，非藥所能療者矣。故於六日之前，須看根顆。無根顆者，必不灌漿。六日之後，須看漿色。無漿色者，必不收靨，所以昏慘而形搨陷，擦破而無膿血，縱有善治者，亦存十一於千百耳。</p>

<h3>論收靨</h3>
<p>痘瘡自八九日之後，內外大勢已定，漿滿氣足，膿汁漸干，或如蒼蠟色，或如蓮肉色，或如肥皂色，先從人中上下、口鼻兩邊收起，漸漸收至頸下、額上，後身手足心及兩腳，一齊收盡，痂厚色黑，逐漸脫落，飲食如常，大小便如故，身體輕快，別無他症者，大吉也。若漿未稠，頂未滿，面腫忽退，目閉忽開，瘡腳散闊，白色，皮皺乾燥，似靨，痂薄如紙者，此因津液枯竭，血氣虧敗，內症未除，不可誤認以為收斂而徑許其可救也。其或八九日，瘡尚未收，目忽開，腫忽退，眼睛白珠紅赤，痘色淡白，腹脹煩悶，喘渴不寧，此必曾經泄瀉，或過用涼藥，虧損脾胃，木香散、異功散救之，百可活其二三。</p>
<p>痘當靨之時，大片潰爛，膿水淋漓，黏沾衣被，疼痛難忍，此因出痘時當發表而發表少遲，毒氣停留於肌肉之間，不當發表而發表太過，元氣露泄，衛氣不生，毒火薰灼，以致潰爛，甚則內虛轉瀉轉利，悶亂呻吟而為死候，急用陳氏木香散、參苓白朮散、豆蔻丸以止其瀉；外以敗草散，或松花，或炒喬麥面，敷患處，或用芭蕉葉襯在身下以收其毒，使之徐徐自干，庶亦可保。若手足臂膊臀胯之間，久著床蓆，展轉擦破之處，若非灌漿堅實，鮮有不傷者，急難成痂，須皮肉潤澤，膿水浸淫，方有生意；苟破爛成片，焦乾黧黑，如火燒湯潑之狀者，必無生理也。凡痘行漿之時，宜痛不宜癢。書云：諸疼為實，諸癢為虛；外痛則內快，外快則內虛。若漿已收，痂已結，而肢體猶痛者，此必發痘毒也，宜活血解毒藥服之。又有一種疔毒，生於痘後，狀如羊眼之類者，內服消毒散，外貼膏藥，亦自漸安。</p>
<p>痘頂破膿出結聚於上，如曬乾飯，如碎松香，不肯結痂，口有熱氣，胸腹飽滿，悶亂不寧，掀衣揭被者，此必過用溫補之藥，致邪氣得補反蝕正氣，如火薰灼，不速為清解則毒入攻心，為害不淺。生犀水，六一散，宣風散，皆可選而用之也。聞人氏常用豬尾膏，神效特異者，正此之謂也。又有用涼解藥過多，或冷水過多，致寒濕之氣侵入脾胃，停蓄壅滯，水氣浸淫，致腹中滑泄，氣短體倦而不靨者，宜除濕湯內滲其濕，胃苓湯和胃安脾，亦能收靨，否則發癢抓破為倒搨矣。其或瘡頭有孔，膿水流出如天泡瘡、癩頭瘡之狀；或清水無膿，卒然自破，水出瘡干，色黑則不可治矣。瘡欲靨不靨，其痂欲落不落，當辨其寒熱虛實施治。若身熱作渴飲湯，此脾胃氣虛也，參苓白朮散、木香散、六君子湯治之。若身熱煩躁，手足發熱，欲飲冷水者，此脾胃蓄熱也，人參麥門冬湯主之。如手足心熱，日晡潮熱，面赤心煩者，此肝脾血虛也，四物湯合逍遙散及歸脾湯主之。如作渴飲冷，大便秘結，煩悶不安，此腸胃實熱也，四順飲、解毒湯主之，則靨收痂落，更無他變矣。切不可概謂氣虛而純用補藥也。</p>
<p>痘瘡日久，肌肉潰爛，膿血淋漓，遍身手足和皮脫去，腥臭不可聞者，其說有二。須當問其成膿而後潰爛，能進飲食，別無他症者，但當和脾助胃，避忌風寒，多用伏龍肝或敗草散滲之，自然平復。若先未曾成膿，逕自潰爛者，是名倒靨，不治症也。今人見此，概云漿臭者吉，不知臭有二說：有瘡乾臭者，有瘡腥臭者。乾臭者，其瘡稠膿，其痂紅紫而厚，如肥皂色，此吉也。若腥臭者，其漿清，其痂或白，或黃，或油綠而薄，間有如雞糞色者，此逆也。若潦漿白泡之症，最忌破損。若破損而赤，不臭者，此無陽症也，可不辨哉？</p>
<p>痘先因皮薄破損，多用補藥，重複腫脹灌漿而不能收靨，身復發熱者，此正氣得補，雖將邪毒驅逐為膿，然正氣終為邪毒剋剝，到此之時，其氣又衰，故不能逼逐邪氣以成痂，宜大補湯倍加人參治之。又有重複灌漿，但膿血淋漓，浸漬面目之間，不能幹靨，必有壞眼、損鼻、傷面之患，宜多服犀角消毒飲，升麻解毒湯。若元氣本實，能飲食者，可愈。如或出血不止，膿水不幹，變成疳蝕瘡，名陽瘡出血者，雖內服大補湯，外用綿繭散敷之，縱幸而得生，亦難免於傷殘面目之患，然終百不救一也。</p>
<p>痘痂干潤圓滿，如螺螄殼，最為吉兆。然忽身體戰慄，口作胡言，或乾噦，發渴煩燥者，此正氣不能接濟，邪氣不能禁持，宜生脈散、燈心湯酌用之。</p>

<h3>論痘瘡首尾不可汗首尾不可下</h3>
<p>夫痘賴氣血以成終始，故苟得其養，無物不長；苟失其養，無物不消。初發之時，若不惡寒，遍身不拘急，頭不痛，脈不洪大，此無外感症也。若妄汗之，則榮衛虛，肌肉開泄，風邪乘間變成斑爛異症，首之不可汗也。若不惡食，不煩躁，大小便調，不譫言妄語，脈不沉滑，此無傷食症也。若妄下之，則脾胃氣虛，毒不能外出，而反內入變成倒陷，首之不可下也。已出之後，氣血虧損，身作潮熱，惕惕惡寒，或頭痛，四肢痠痛，不思大補氣血，以為傷寒惡寒也，而妄用羌活、防風、乾葛、升麻，苛發表之劑，或服後愈增大熱，病家猶以為邪氣未盡，復更一醫而重加發表；若痘後胃弱不思納受，脾弱不能運化，毒氣不清，身熱不除，不思健脾、養胃、敗毒、調元，誤認以為傷食惡食而妄加克伐之劑反增嘔噦泄瀉，病家或以為消導未盡，復更一醫，而重加利之，如是二症，未有不傳變而為慢驚。若慢驚已成，溫補回陽尚近於理。若徒治其標，率用天麻、防風、羌活、全蠍、殭蠶等藥，牛黃丸、鎮驚丹、紫金錠之類大傷陰血，如是夭亡，非庸醫妄汗、妄下者以殺之乎？所以痘後最忌汗下也。</p>

<h3>論痘瘡首尾當汗當下</h3>
<p>夫痘始於胎毒，發於時氣，類乎傷寒，行乎氣血。初出之時，若身體壯熱，頭痛鼻塞，噴嚏咳嗽，煩躁面赤，六脈洪數者，此表實熱甚也，須用升麻葛根湯、麻黃湯微汗以解之。已出之後，風邪乘虛而入致熱毒鬱而不發，或寒熱往來，或發驚搐，或鼻流清涕，或頭背身痛宜人參羌活湯、敗毒散、抱龍丸以和之，否則熱不解而邪毒停蓄於肌肉之間，不變為濕爛膿水疼痛之症者幾稀矣。若將見形、已見形時，大便秘結，身熱腹脹悶亂，煩躁狂言奔走，此裡實熱盛也，小承氣湯、四順飲加連翹利之。既膿之後，能食易消，大便秘結，發渴煩躁，此血熱停滯也，宜當歸芍藥湯加黃連、黃芩以順之；肥豬脂湯以潤之。小便澀者，六一散以利之，否則熱毒停於腸胃之間，未有不為口疳、牙宣、癰毒、下痢症者矣，豈可拘首尾不可汗、首尾不可下之說而誤之耶。</p>

<h3>保元湯辨</h3>
<p>人參止渴生津液、和中益元氣；黃耆溫肉分而實腠理，補三焦而托瘡膿；炙甘草之甘溫以健脾胃，合藥性而不走失，立此三味為保元湯，固其理，實其表，誠確然之至論矣。但以此而治虛症，何施之不得？若煩躁發渴引飲，壯熱二便不通者，可以保元湯施治乎？舌心焦黑，六脈沉滑，夾斑疹、失血發泡者，可以保元湯施治乎？是以治痘者，須當分別寒熱虛實，表裡氣血，隨症處方而治療焉，斯百發百中矣。故苟得其人，則硝硫砒豆投之，而當誠中病之奇方；苟非其人，則雖參耆菽粟用之失宜，亦皆殘生之烏喙也。豈可以保元一湯而為治痘首尾之要藥哉。然則《博愛心鑑》一書，醫者當變通而酌用之耳。若以溫補為是，以清涼為非；以保元為是，以疏通為非，則非予之所敢知也。予意治痘始末，莫若以理脾胃為主。胃司納受，脾司運化，一納一運，不惟氣得其正而血未必無小補矣，又何必拘拘於參、耆、甘草之三品也哉。</p>

<h3>見紅點忌用升麻辨</h3>
<p>引蔥白散手陽明之風邪，引石膏止足陽明之齒痛，引諸藥遊行四經，升陽氣於至陰之下，升麻之功，誠不小也。古人治斑疹已見未見、痘瘡已出未出而悉用升麻葛根湯以治之者，蓋欲疏通氣血，因其熱而發達之，俟出齊長髮之後，分氣血虛實，調理治療，未為不善者。若云見紅點忌用升麻，予不能不疑焉。且痘之始出也，潮熱驚悸，眼目清白，氣息和平，飲食如故，二便調停，痘形疏朗，大小不一，作三次出，此順症不必服藥。升發者當以飲食湯水，微發之，如白酒漿、芫荽鮮筍湯、雄雞汁之類，頻頻用之。若發熱煩躁，欲出不出，或見而不透，或透而不淨，肢體倦怠腹滿氣粗，不用升麻葛根等味，則毒邪何由發泄？元氣何以疏通，若停滯於肌膚之間，未有不變為蚊跡蚤斑，喘滿光腫逆症者幾稀矣。若依期見形，顆顆點點，摸之打手光澤明淨，氣血沖和，其毒已透，其出已淨，無俟人為者，而妄以升麻、乾葛、羌活，防風等藥以重表之，則表虛氣泄，灌漿收斂之際，傳遍斑爛，搨皮沾衣汙被苦痛不安者，不能保其必無也。大抵當發則發，當表則表，當汗則汗，變而通之，存乎人耳。若曰大凡見痘紅點，悉忌用升麻，則非。予之所敢深信者，因錄之以備擇。</p>
<p><u>升麻葛根湯</u></p>
<p>升麻　乾葛　白芍藥（酒炒）　羌活　甘草（各等分）</p>
<p>上銼散，水煎服。</p>
<p><u>惺惺散</u></p>
<p>人參　白朮　白茯苓　天花粉　桔梗　細辛　甘草　薄荷（各等分）</p>
<p>水一鍾，姜二片，煎服。</p>
<p><u>人參調中湯</u></p>
<p>人參　黃耆（炙）　甘草（炙）　木香　白芍藥（酒炒）　陳皮（隨意加減）</p>
<p>水一鍾，棗一枚，煎服。</p>
<p><u>七味豆蔻丸</u></p>
<p>木香（三錢）　肉豆蔻（麵煨去油，七錢半）　砂仁（二錢）　龍骨（火煅過，五錢）　訶子肉（五錢）　白礬（煅過，七錢）　赤石脂（煅過，七錢）</p>
<p>上共為末，糊丸如粟米大。三歲者，五十丸。量兒大小加減，陳米湯送下。</p>
<p><u>抱龍丸</u></p>
<p>天竺黃（一兩）　膽南星（二兩）　辰砂（三錢）</p>
<p>共為末，煉蜜為丸，如芡實大。每服一丸，燈心湯或白滾湯化下。</p>
<p><u>參蘇飲</u></p>
<p>人參　紫蘇葉　桔梗　前胡　甘草　乾葛　川芎　陳皮　防風　熟半夏　赤茯苓</p>
<p>水一鍾，姜二片，煎五分，不拘時服。</p>
<p><u>麻黃解表湯</u></p>
<p>麻黃（去節）　羌活　防風　升麻　乾葛　荊芥穗　牛蒡子　蟬退　甘草　桔梗</p>
<p>水一鍾，姜三片，煎服。</p>
<p><u>參耆內托散</u></p>
<p>人參　黃耆　當歸　川芎　厚朴　防風　桔梗　白芷　官桂　木香（隨時加減）</p>
<p>水一鍾，糯米一錢</p>
<p><u>參苓白朮散</u></p>
<p>人參　白朮　白茯苓　蓮肉　乾山藥　桔梗　薏苡仁　藿香　乾葛　肉豆蔻（麵包煨，去油）</p>
<p><u>牛黃清心丸</u></p>
<p>牛黃　人參　神麯　桂　乾薑（炮，各一錢五分）　冰片　麝香（各五錢）　雄黃（飛過，一錢）　川芎　茯苓　柴胡　桔梗（炒）　犀角屑（各二錢）　白朮（炒）　黃芩（炒）　黑豆（炒）　阿膠（炒成珠）　麥門冬（去心）　杏仁（去皮光，各二錢五分）　蒲黃　白芍藥（炒，各一兩）　乾山藥（八錢）　甘草（七錢）　金箔（一百五十片）　羚羊角屑（五錢）</p>
<p>上為細末，煉蜜為丸，如芡實大，金箔為衣。竹葉燈心湯磨化，不拘時服。</p>
<p><u>六一散，一名辰砂益元散</u></p>
<p>滑石（為細末，水飛淨，六兩）　甘草（刮去皮，炙過，為細末，一兩）</p>
<p>上為一處，每服一二匙，用涼燈心湯調下。夏月井水調服，加辰砂末二錢，名為辰砂益元散。</p>
<p><u>補中益氣湯</u></p>
<p>人參　黃耆　甘草　白朮　當歸　升麻　柴胡　橘紅</p>
<p>水一鍾，姜二片，棗一枚，煎服。</p>
<p><u>理中湯</u></p>
<p>人參　白朮　甘草　乾薑（煨，各等分）</p>
<p>水一鍾，煎服。</p>
<p><u>玄參解毒湯</u></p>
<p>玄參　黃芩　山梔（炒黑）　桔梗　甘草　生地　荊芥穗　乾葛（各等分）</p>
<p>水煎服。</p>
<p><u>保元湯</u></p>
<p>人參　黃耆　甘草　肉桂（隨意加減）</p>
<p>水一鍾，糯米一錢，煎服。</p>
<p><u>加味邊翹散</u></p>
<p>連翹　升麻（各酒洗）　葛根　甘草　桔梗　赤芍藥　黃芩（酒炒）　木通　牛蒡子　麥門冬（去心）　山梔（酒炒）</p>
<p>水一鍾，燈心竹葉煎服。</p>
<p><u>四聖丹</u></p>
<p>血餘（一錢）　珍珠末（三分）　菀豆（十粒，為末）</p>
<p>共為細末，用油胭脂調成膏。凡有痘疔，將銀針挑破，刮去惡血、惡水後用膏點入。</p>
<p><u>陳皮異功散</u></p>
<p>木香　當歸　陳皮　丁香　肉豆蔻（麵包煨）　官桂　人參　白朮　厚朴　白茯苓　熟半夏　附子（制過）</p>
<p>水一鍾，姜三片，棗二枚，煎五分，空心服。</p>
<p><u>四聖散</u></p>
<p>紫草　木通　蟬退　甘草　一方加枳殼</p>
<p>川芎（名加味四聖散）</p>
<p>水一鍾，煎服。</p>
<p><u>導赤散</u></p>
<p>木通　生地　甘草（各等分）　淡竹葉（三十片）</p>
<p>水一鍾，煎服。</p>
<p><u>犀角散</u></p>
<p>犀角　防風（各一錢）　甘草（五分）　黃連（錢半）</p>
<p>水一鍾，燈心竹葉煎服。</p>
<p><u>涼血解毒湯</u></p>
<p>當歸　白芷　升麻　紫草　紅花　赤芍藥　桔梗　連翹　燈草</p>
<p>水一鍾，煎服。</p>
<p><u>生地四物湯</u></p>
<p>生地黃　當歸　白芍藥　川芎</p>
<p>水一鍾，煎服。</p>
<p><u>八物湯</u></p>
<p>人參　白朮　茯苓　甘草　當歸　白芍藥　熟地黃　川芎</p>
<p>水一鍾，煎服。</p>
<p><u>人參透肌散</u></p>
<p>人參　白芍藥　川芎　甘草　蟬退　陳皮　白茯苓　白朮　木通　紫草　當歸</p>
<p>水一鍾，煎服。</p>
<p><u>陳皮木香散</u></p>
<p>木香　大腹皮　赤茯苓　人參　前胡　青皮　半夏　丁香　訶子肉　甘草　桂心</p>
<p>水一鍾，煎服。</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓　甘草</p>
<p>水一鍾，煎服。</p>
<p><u>五苓散</u></p>
<p>白朮　茯苓　豬苓　澤瀉（各一錢）　肉桂（三分）</p>
<p>共為細末，每服一錢，米湯調下。煎服亦可。</p>
<p><u>人參敗毒散</u></p>
<p>羌活　獨活　前胡　柴胡　桔梗　人參　茯苓　枳殼　甘草　川芎</p>
<p>水一鍾，姜一片，煎服。</p>
<p><u>十宣散</u></p>
<p>人參　當歸　黃耆　官桂　甘草　川芎　防風　桔梗　木香　白芷　厚朴　紫草</p>
<p>水一鍾，煎服。</p>
<p><u>托裡快斑湯</u></p>
<p>人參　當歸　桔梗　牛蒡子　連翹　防風　甘草　白朮　赤芍藥　黃耆　荊芥穗（各等分）　一方加木香</p>
<p>水一鍾，煎服</p>
<p><u>解毒救苦湯</u></p>
<p>升麻　葛根　牛蒡子　桔梗　天花粉　地骨皮　荊芥穗　甘草　連翹　川芎　黃芩　紫草</p>
<p>水一鍾，煎服。</p>
<p><u>大補湯</u></p>
<p>人參　白朮　茯苓　甘草　當歸　川芎　白芍藥　生地黃　黃耆　肉桂</p>
<p>水一鍾，糯米一錢，煎服。</p>
<p><u>內托散</u></p>
<p>人參　黃耆　甘草　當歸　白芍藥（酒炒）　陳皮　川芎　肉桂</p>
<p>水一鍾，糯米一錢，煎服。</p>
<p><u>消毒飲</u></p>
<p>牛蒡子　甘草　防風　荊芥穗</p>
<p>水一鍾，煎服。</p>
<p><u>小承氣湯</u></p>
<p>厚朴　大黃　枳實　一方加芒硝</p>
<p>水一鍾，煎五分服。</p>
<p><u>穀精草散</u></p>
<p>治痘後眼睛生翳。</p>
<p>穀精草（一兩）　生蛤粉（二兩）</p>
<p>上為細末，用獖豬肝一葉，竹刀批作片，擦藥在內，或麻或草縛定，以砂罐貯水，慢火煮熟，令兒不拘時服。</p>
<p><u>蟬退木賊湯</u></p>
<p>治症同前。</p>
<p>蟬退（廿一個）　木賊（五錢）</p>
<p>水二鍾，煎一鍾，日逐隨意飲。</p>
<p><u>清肝氣黏子湯</u></p>
<p>治痘後眼黑睛紅色，怕日羞明，欲生翳沫。</p>
<p>甘草　桔梗　鼠黏子　連翹　當歸　赤芍　防風　荊芥　蒼朮（為君）　黃芩（酒炒）　穀精草　龍膽草</p>
<p>水一鍾，煎五分，食遠服。</p>
<p><u>洗肝散</u></p>
<p>退痘後眼翳。</p>
<p>甘草　桔梗　川芎　木賊　草決明　沙苑蒺藜　穀精草　柴胡　當歸　黃芩　防風</p>
<p>水一鍾，煎五分，食遠服。</p>
<p><u>甘桔湯</u></p>
<p>治痘瘡首尾喉痛。</p>
<p>甘草　桔梗（各等分）</p>
<p>水一鍾，煎四五分，食遠服。</p>
<p><u>射干鼠黏子湯</u></p>
<p>治痘後喉痛不可忍者。</p>
<p>射干　山豆根　牛蒡子　桔梗　升麻　木通　燈草　防風　薄荷　玄參</p>
<p>水一鍾，煎五分，食遠服。</p>
<p><u>白虎湯</u></p>
<p>治痘瘡，熱極煩躁引飲，舌上生刺，睡臥不安者。</p>
<p>石膏（三錢）　甘草（一錢）　知母（一錢五分）　人參（一錢五分）　麥門冬（去心，一錢五分）　粳米（二十粒）</p>
<p>水煎服，淡竹葉隨意加減。</p>
<p><u>水楊湯</u></p>
<p>浴洗瘡疹最妙。</p>
<p>水楊柳，生於溪邊，細條叢生者是也。亦有用苑內栽培觀音柳者。春冬用枝條，秋夏連枝葉，銼斷，用長流水一鍋，入楊柳枝葉在內，煎六七沸，將三分中一分入浴盆內，不要太熱，不要太冷，先要用過升表藥或內托藥，然後將兒浴洗，漸添湯，浴畢抱置溫暖處，勿令見風，以燈照看，隱隱有起發意，此佳兆也。若先後不見起發，不見紅綻，則津液枯矣，不必更洗。</p>
<p><u>解毒鼠黏子湯</u></p>
<p>治痘後口瘡。</p>
<p>白朮（於潛者佳）　黃連　甘草　桔梗　鼠黏子　連翹　玄參　薄荷　防風</p>
<p>水一鍾，煎五分，食遠服，渣煎，攪口洗瘡。</p>
<p><u>口瘡藥</u></p>
<p>治諸瘢口瘡。</p>
<p>黃連　細辛（各等分，為極細末）</p>
<p>先用米泔水攪淨後，用藥末擦上。</p>
<p><u>立效散</u></p>
<p>治痘疹、口瘡、口疳神效。</p>
<p>冰片（二分）　干胭脂（二分）　麝香（一分）　珍珠（三分）　龍骨（三分）　血竭（三分）　鏡秀（二分）　兒茶（三分）　生肌散（四分，外科醫家處取）</p>
<p>共為極細末，先用米泔水洗，攪淨後，擦藥末，嚥下亦無妨。</p>
<p><u>柴胡門冬散</u></p>
<p>治痘後咳嗽。</p>
<p>柴胡　麥門冬（去心）　茯苓　甘草　白朮　乾葛　陳皮　半夏　桑皮</p>
<p>水一鍾，姜一片，煎五分，食遠服。</p>
<p><u>敗草散</u></p>
<p>用多年蓋牆屋上爛草不拘多少，曬乾或烘乾，為細末，擦在破爛處。若膿水不絕，沾衣服難以坐臥，可用二三升，攤在席上，令兒坐臥在上，此草經霜露，感天地陰陽之氣，善解瘡毒，其功不可盡述。如一時不得敗草者，滑石末、綠豆粉、喬麥面代用之亦可。</p>
<p><u>綿繭散</u></p>
<p>治痘疳。</p>
<p>出蛾綿繭子不拘多少，將生白礬捶碎，入繭內令滿，以炭火燒之。白礬汁盡，取出，研細，加密佗僧五錢，白芷末二錢，和藥擦上。</p>
<p><u>當歸芍藥湯</u></p>
<p>治痘後下痢膿血。</p>
<p>當歸　芍藥　枳殼　黃連　黃芩　茯苓　澤瀉　陳皮　牛蒡子</p>
<p>水一鍾，煎五分，不拘時服。</p>
<p><u>千捶膏</u></p>
<p>貼痘毒、痘疳，及一切無名腫毒，神效。</p>
<p>乳香　沒藥　兒茶　天麻仁　松香（各等分）</p>
<p>用槌捶三五千下成膏，攤在段子上，貼之。</p>
<p><u>四順飲</u></p>
<p>治痘瘡，大便秘結，煩躁口渴，譫言妄語。</p>
<p>大黃　赤芍藥　當歸（各等分）　甘草（減半）</p>
<p>水一鍾，煎五六分服。</p>

<h1>中卷</h1>

<h2>孟氏雜症良方</h2>

<h3>小兒有病須看虎口三關</h3>
<p>初節寅關（食指第一節）　次節卯關（食指第二節）　三節辰關（食指第三節）</p>
<p><u>經紋歌</u></p>
<p>左手紅生似線形，須知發熱又兼驚；右手筋紋如左樣，脾傷驚積一齊生。紋頭有似三叉樣，肺氣生痰夜作聲；色青應有傷寒症，若是空紅瀉定生。</p>
<p>指脈深青不暫停，微青腹痛糞多青，若兼黑色盤腸吊，眼搐牽抽不得寧。</p>
<p>小兒指脈深紅色，發熱驚時目強直，微紅下痢腹中疼，吐瀉脾虛多不食。</p>
<p>指上紋生紫色深，驚時啼叫又呻吟，微微紫色腸中痛，若是紋彎主噁心。</p>
<p>虎口脈紋多，須知氣不和；色青驚積聚，下痢瀉如何。青黑慢驚發，入掌內釣多；三關急通過，此症必沉疴。</p>
<p><u>第一節寅關輕重</u></p>
<p>脈紋有青紫，心肝有病，主驚搐，口舌生瘡，發熱，四肢厥逆，不食；黃白紋，主食停胃口，腹疼腹脹；黑色者不救。</p>
<p><u>第二節卯關輕重</u></p>
<p>脈紋見青紫，心肝受病，日久成疳，發熱，頭眩，驚怖，面赤，口乾燥。黃白色紋，疳病在脾肺，吐瀉發熱，咳嗽，吐痰；黑紋，疳在腎，繞耳生瘡，作腫作脹。</p>
<p><u>第三節辰關有重無輕</u></p>
<p>脈紋見者，通度三關，直上爪甲，胃絕多死。</p>
<p><u>小兒脈法</u></p>
<p>小兒之脈與大人異，九至為傷，平和六至。沉細知其為冷，十至而病困矣。急弦為氣之干，沉緩為食之滯，促急必是虛驚，緊者風癇而理。弦而又急，客忤之氣。沉而數者，骨熱何議。脈來亂者，必然難治。</p>
<p>脈弦急（主氣不和）　脈沉緩（主傷食）　脈促急（主虛驚）　脈浮（主風）　脈沉（主冷）</p>
<p><u>持脈三要</u></p>
<p>曰舉（輕手尋之）　曰按（重手取之）　曰尋（不輕不重，委曲求之）</p>
<p>舉按尋三要，惟尋字診家下手之至訣，即經之所謂三菽、六菽、十二菽之旨也。</p>
<p><u>脈象綱領圖</u>　（此將七表八里之脈融會至為切要）</p>
<p>浮（舉之有餘　按之不足）　輕手得而（無力則為芤　有力則為洪　力重則為實　細小則為微）</p>
<p>沉（舉之不足　按之有餘）　重手得而（至骨有力則為伏　無力則為弱　少軟則為緩）</p>
<p>遲（一息三四至　來去極遲）　重手得而（短細則為澀　無力則為軟　極數則為緊）</p>
<p>數（一息七八至　來去極疾）　輕手得而（有力則為實　流利則為滑）</p>
<p>論浮沉遲數四脈有力無力主病此極要者</p>
<p>浮而（有力則為風　遲為風寒　無力則為虛　數為風熱）俱為表症</p>
<p>沉而（有力為積　遲內寒　無力為氣滯　數內熱）俱為里症</p>
<p>遲而（有力為痛　無力為冷為寒）</p>
<p>數而（有力為熱　無力為瘡為燥）</p>
<p>滑者（脈形流利　主血不和主氣壅滯主痰）</p>
<p>澀者（脈形濡滯　主氣不和傷精敗血）</p>
<p>俱看在何部此診脈之切要也</p>
<p>凡長人脈長，當疏下指；短人脈短，當密排指；人瘦小則輕取之；人肥大則重取之。急性人脈急，緩性人脈緩。又有反關脈，在三部之後側處。若過寸口上至魚際者，名曰魚際脈。有左大右小者，有左小右大者，有貴人兩手清微全無脈者，名六澤脈。有兩手俱洪大者，須用心診視。凡診人脈，須先調平自己氣息，初輕按消息之，次中按消息之，再重按消息之，分別寸關尺部，五六至者為平脈，其有太過不及，則為病脈也矣。</p>
<p>小兒囟門高起者熱衝於上也（宜清利之）。囟門陷下者元氣虛脫也（宜補助之）。</p>
<p><u>十二經絡氣血歌</u></p>
<p>多氣多血經須記，手足陽明大腸胃；少血多氣有六經，二焦膽腎心脾肺；多血少氣心胞絡，膀胱小腸肝所異。</p>
<p><u>十二經所屬歌</u></p>
<p>手經太陽屬小腸，膀胱經屬足太陽，肝足厥陰手胞絡，胃足陽明手大腸。膽屬少陽足經尋，三焦手內少陽臨，腎足少陰手心臟，脾足太陰手肺金。</p>
<p><u>引經藥歌</u></p>
<p>小腸膀胱屬太陽，藁本羌活是本方；三焦膽與肝胞絡，少陽厥陰柴胡強。大腸陽明並足胃，葛根白芷升麻當；太陰肺脈中焦起，白芷升麻蔥白鄉。脾經少與肺經異，升麻兼之白芍詳；少陰心經獨活主，腎經獨活加桂良。通經用此藥為使，更有何病到膏肓。</p>
<p><u>四時用藥法</u></p>
<p>不問所病或溫或涼，或熱或寒，如春時有病，於所用藥內加清涼風藥；夏月有疾，加寒涼之藥；秋月有疾，加溫氣藥；冬月有疾加辛熱之藥，是不絕生化之源也。錢仲陽治小兒，深得此理。《內經》曰：必先歲氣，無伐天和，是為至治。又曰：無違時，無伐化。又曰：無伐生生之氣，此皆常道用藥之法。若反其常道而變生異症，則當從權施治。</p>
<p><u>五行五色五味五走五臟主禁例</u></p>
<p>東方之木，其色青，其味酸，其臟肝。肝主筋，木曰曲直，曲直作酸，酸走肝，筋病。人勿多食酸。</p>
<p>南方之火，其色赤，其味苦，其髒心。心主血，火曰炎上，炎上作苦，苦走心，血病。人勿多食苦。</p>
<p>西方之金，其色白，其味辛，其臟肺。肺主氣，金曰從革，從革作辛，辛走肺，氣病。人勿多食辛。</p>
<p>中央之土，其色黃，其味甘，其臟脾。脾主肉，土曰稼穡，稼穡作甘，甘走脾肉。病人勿多食苦。</p>
<p>北方之水其色黑，其味鹹，其臟腎，腎主骨，水曰潤下，潤下作咸，咸走腎，骨病。人勿多食鹹。</p>
<p><u>小兒初受氣論</u></p>
<p>《聖濟總錄》：小兒在母腹中，受其精氣。一月胚，二月胎，三月血脈，四月形體成，五月動作，六月筋骨成，七月毛髮生，八月臟腑具，九月穀氣入胃，十月百神備而生。生後六月日瞳子成，孩兒能頦笑語識人；百日任脈生，能反覆；一百八十日尻骨成，能獨坐；二百一十日，掌骨成，能匍匐；三百日髕骨成，能獨倚；三百六十日脛骨成，乃能移步。此是常定之法。至於不及期而先能，並過期而不能者，則又稟賦之豐怯，是又不可以一概拘也。先人有行遲語遲之方，諸方書俱載，愚意物各有時，似亦不必人為，惟高明者鑑之。</p>
<p><u>小兒始生變蒸</u></p>
<p>三十二日一變生，癸腎臟，屬足少陰經。</p>
<p>六十四日二變一蒸生，壬膀胱腑，屬足太陽經。</p>
<p>九十六日三變生，丁心臟，屬手少陰經。</p>
<p>一百二十八日四變二蒸生，丙小腸腑，屬足太陰經。</p>
<p>一百六十五日五變生，乙肝臟，屬足厥陰經。</p>
<p>一百九十二日六變三蒸生，甲膽腑，屬足少陽經。</p>
<p>二百二十四日七變生，辛肺臟，屬手太陰經。</p>
<p>二百五十六日八變四蒸生，庚大腸腑，屬手陽明經。</p>
<p>二百八十日九變生，己脾臟，屬足太陰經。</p>
<p>三百二十二日十變五蒸生，戊胃腑，屬足陽明經。</p>
<p>至於心胞絡臟，屬手厥陰經，三焦為腑，屬手少陽經。此一臟一腑，俱無形狀，故不變而不蒸也。然所謂變者，變生五臟也。蒸者，蒸養六腑也。又曰：變者，變其情態；蒸者，蒸其骨體，故血脈方榮，骨格始長，情性有異於前，當變蒸之時，看兒子唇口：如上唇微腫，有如臥蠶，或有珠泡子者，見變蒸症也即，宜少與乳食，不可妄投藥餌，切不可用艾火灸。若不依此，多致殺兒，屢見有此者，故書以告。</p>
<p><u>初生論</u></p>
<p>初生芽兒一塊血也，無形症也，無脈有驚，定知是胎。驚有熱，定知是胎熱，內無脈，外無形，手無紋，面無色，有病殊不可曉，惟心誠求之耳。故有聲有淚者，驚啼也，五味抱龍丸主之；有聲無淚者，腹痛也，木鱉子膏主之；啼哭而手足上撒，或彎身如蝦者，盤腸內釣也，鉤藤湯主之。</p>
<p><u>抱龍丸</u></p>
<p>天竺黃（一兩）　膽南星（二兩）　麝香（二錢）　辰砂（三錢）　雄黃（三錢）</p>
<p>共為細末，煉蜜為丸，如芡實大。每服一丸，作三四次，用燈心湯化開，抹於舌上，仍以燈心湯下。</p>
<p><u>木鱉子膏</u></p>
<p>木鱉子（去殼，細切，搗為泥，去油淨，三分）　乳香（箬葉上火炙去油，取末，三分）</p>
<p>共為一處，每用一二分，鉤藤、枳殼各一撮煎汁，調為膏，抹於舌上，以滾白湯送下。</p>
<p><u>鉤藤湯</u></p>
<p>鉤藤（五分）　枳殼（五分）　甘草（二分）　玄胡索（五分）</p>
<p>用水半茶鍾，煎至二分，不拘時與服。</p>
<p><u>臍論</u></p>
<p>嬰兒之臍，大腸之竅，收拾急宜謹慎，生下截斷宜長不宜短，截後當用絹帛絲綿包裹，仍以艾火炙之候乾，聽其自落。落後如臍乾，當以暖臍膏貼之，防洗浴水濕，換衣風侵。如臍不幹而有潮濕水氣，輕者以紅絨散敷之，重者以龍骨散敷之。至於臍風撮口等症，以救急湯、龍腦膏，間十救其一二，不可不思患而預防也。</p>
<p><u>紅絨散</u></p>
<p>紅色絨或紅色褐子，不拘多少，燈下燒灰為細末，敷於臍上，外以膏藥貼之。</p>
<p><u>龍骨散</u></p>
<p>龍骨不拘多少，入炭火內燒令通紅，取出冷定，研為細末，敷於臍上，外仍以膏藥貼之。</p>
<p><u>救急湯</u></p>
<p>猴猻糞，山中者良，人家餵養吃五穀者不宜用也。不拘多少，煎湯喂之。</p>
<p><u>龍腦膏</u></p>
<p>蝦蟆膽，同上好冰片，搗為膏，收於小磁罐內，黃蠟封口。臨用以銀簪挑出，抹入兒口中，以燈心湯化下。</p>
<p><u>舌論</u></p>
<p>舌乃心之苗，唇乃脾之竅。舌紅潤而和者，無病也。舌紅紫者，胎熱也，黃連甘草朱蜜之法治之；舌黃燥者，胎熱兼有積乳也，以小和中湯治之。嬰兒不惟舌燥起刺，但不和而吮乳不緊，即凶候矣。至於唇宜紅潤，若紅紫者，若燥者，皆胎熱也，黃連甘草法；唇微有青氣者，驚也，抱龍丸治之；唇四圍青黯者，驚重也，多不可治；唇白者，胎氣怯弱，生而難育，有疾難治，慎之慎之，小和中丸。</p>
<p><u>小和中丸</u></p>
<p>陳皮　枳殼　蒼朮　厚朴　神麯　山楂　藿香　甘草</p>
<p>上為末，煉蜜為丸，如圓眼肉大。每一丸，作四五次，或薑湯，或燈心湯，化下。</p>
<p><u>黃連甘草湯</u></p>
<p>黃連　甘草（各等分）</p>
<p>煎濃湯，不拘時服。</p>
<p><u>朱蜜法</u></p>
<p>硃砂研極細末，水飛淨，每用二三分，生蜜調濃，抹於舌上，以燈心湯送下。</p>
<p><u>抱龍丸</u>　方見前</p>
<p><u>吐論</u></p>
<p>傷胃則吐，傷脾則瀉，人人皆知其為然，惟嬰兒亦有不然者。若吐色白者，胃受寒也，或乳母過飲冷漿以致嬰兒胃寒，以香橘餅治之；吐色黃者，胃熱也，或胎中原稟積熱，或乳母過食煎煿油膩酒蒜等物，以致嬰兒胃熱作嘔，以芩連二陳湯加減治之；若吐從口射出，或從口角順流，此非病也，嬰兒不知飢飽，隨口輒咽，以致滿而上溢作嘔，此即書之所云：水多則沼溢，酒滿則卮傾，自然之理，非疾病也。當令其少少與食，或微餓之則安。若以上諸症妄服藥物者，必愈加嘔吐，多致慢驚，慎之慎之。</p>
<p><u>香橘餅</u></p>
<p>陳皮　甘草（減半）　蒼朮　厚朴　枳殼　香附　砂仁　神麯　藿香　青皮（各等分）</p>
<p>共為細末，煉蜜為餅，每服量兒大小多寡與服，薑湯化下。</p>
<p><u>加減芩連二陳湯</u></p>
<p>陳皮　茯苓　熟半夏　甘草　黃連（薑汁炒）　山梔（薑汁炒）　枳殼</p>
<p>用水二鍾，姜一片，煎二汾，不拘時服。</p>
<p><u>驚論</u></p>
<p>驚分急慢，治有涼溫。書云：急驚合宜涼泄，慢驚合宜溫補，誠格言也。故素無疾病，猝然之間，或發熱，或不發熱，痰涎壅塞，手足抽掣，角弓反張，目睛上視，牙關緊急，人事不省，此急驚也。蓋心為火，肝為風，風火相搏，抽搐不寧，此症或飲食過多，或食後兼驚，或傷風發熱，鬱熱生痰，痰盛發搐；或過食肥甘之物，停蓄胃中，以致清氣不上升，濁氣不下降，關格而發搐，皆有餘之症，治宜清涼行食行痰之劑，如牛黃丸、鎮驚錠、醒風天麻湯之類，皆不可緩。痰一行，氣一降，安在須臾矣。若因久熱、久吐、久瀉、久嗽、或病後失調，或急驚過用涼苦之藥，或傷食大便久閉不通，發熱日久，元氣燒爍，傳變慢驚。手足微微搐弱，兩頰乍赤乍白，張口露睛，吁氣，常出氣，昏睡不語，此慢驚也。蓋急驚之病，得之自外而入者，又慢驚之病得之自病而出者。多五臟虛極，虛則生風，所以微微動搖，俗云：急驚驚病不驚醫，慢驚驚醫不驚病。吐後生驚者，以星香散主之；瀉後生驚者，以參苓白朮散主之；嗽後生驚者，以門冬散主之；病後生驚者，補中益氣湯加減治之。急驚傳變為慢者，鎮心丸、回生丹本藥內少加截風化痰藥治之。大抵治急驚者，十全八九；治慢驚者，十不救一。辨之不真，藥之不當，延緩不能速救，以致夭亡者，得不歸咎於醫歟！</p>
<p><u>牛黃丸</u></p>
<p>枳實　大黃　陳皮　黃芩　牛膽南星（各等分）　辰砂（水飛入藥內，不拘分兩，以紫色為度）</p>
<p>上為末，煉蜜為丸，如圓眼肉大，辰砂、金箔為衣。每一丸，燈心湯化下。</p>
<p><u>鎮驚錠子</u></p>
<p>天竺黃（五錢）　膽南星（一兩）　辰砂（三錢）　雄黃（二錢）　牛黃（七分）　冰片（五分）　麝香（五分，以上另研）　羌活　防風　白附子（五錢）　枳實　大黃　茯神　殭蠶　全蠍　黃連　天麻（各二兩）</p>
<p>上為末，甘草煎湯，打糊為錠，曬乾，辰砂為衣。每服用燈心湯磨下，或薄荷湯磨下。</p>
<p><u>鎮心丸</u></p>
<p>紫河車（黑豆水煮，五錢）　乾山藥（一兩）　甘草（一兩）　牙硝（三錢）　人參（一兩）　辰砂（六錢）　茯神（一兩）　麝香（一錢）　冰片（三分）</p>
<p>共為細末，煉蜜為丸，金銀箔為衣。每服如圓眼肉大，或燈心湯，或薄荷湯，或麥門冬湯，化下。</p>
<p><u>醒風天麻湯</u></p>
<p>羌活　防風　天麻　枳實　黃連　黃芩　橘紅　膽星　全蠍　茯神</p>
<p>用水一鍾，姜二片，煎五分，入薑汁一匙，不拘時服。</p>
<p><u>星香散</u></p>
<p>膽南星　陳皮　半夏　藿香　香附　砂仁　白朮　人參　天麻　茯神　鉤藤</p>
<p>用水一鍾，煨姜二片，煎至四五分，不拘時服。</p>
<p><u>參苓白朮散</u></p>
<p>人參　白朮　茯苓　甘草　陳皮　厚朴　澤瀉　肉桂　肉豆蔻（麵包，煨）　訶子肉　白扁豆（炒）</p>
<p>上為末，米湯調下，或煉砂糖為丸亦可。</p>
<p><u>門冬寧肺散</u></p>
<p>麥門冬　陳皮　膽南星　熟半夏　桑皮　桔梗　白朮　五味子　天麻　防風　殭蠶　白附子</p>
<p>用水一鍾，姜二片，煎五分，食遠溫服。</p>
<p><u>補中益氣湯</u></p>
<p>陳皮　甘草　人參　白朮　黃耆　當歸　川芎　升麻　柴胡（加等分）　天麻　茯神</p>
<p>用水一鍾，姜二片，黑棗一枚，煎五分，不拘時服。</p>
<p><u>回生丹</u></p>
<p>天麻　防風　白附子（各二錢）　殭蠶　人參　白朮　茯神　木香　肉桂　肉豆蔻（麵包，煨）　半夏曲（各一兩）　雄黃　辰砂（各三錢）　冰片　麝香（各五分）</p>
<p>上為細末，甘草打糊為餅，曬乾，辰砂為衣。每服量兒大小，或薑湯，或燈心湯，或門冬湯，磨下。</p>
<p><u>傷寒論</u></p>
<p>小兒傷寒與大人無異，所不同者，兼驚耳。其餘他症、傳經等項，用藥與大人同，特劑有大小耳。故惡風惡寒、隈人藏身、引衣密藏是為表症，宜汗者。若惡熱惡食、出頭露面、揚手擲足、煩渴燥結、氣粗腹滿，是為里症，宜下宜潤，或蜜導法治之。若頭額涼、手足厥冷、面色黯淡、大便瀉青，此則陰病裡虛，當用理中等溫藥以急救其里。舉是汗下濕三法，其餘可類推矣。</p>
<p><u>升麻湯</u></p>
<p>治小兒時行瘟疫及痘疹疑似之間，傷寒傷風皆宜服此。無汗者加麻黃一錢、蔥頭一根。</p>
<p>升麻　乾葛　白芍（各三錢）　甘草（一錢）</p>
<p>上用水一鍾，姜三片，煎五分，不拘時服。服藥後身涼即止，加紫蘇、香附、陳皮，名升蘇散。喉痛者，加桔梗；發斑丹毒加玄參。</p>
<p><u>十神湯</u></p>
<p>治時令不正，瘟疫妄行，感冒發熱，痘疹疑似之間，不問陰陽兩感，風寒濕痹，皆宜服此。</p>
<p>升麻　乾葛　赤芍　甘草　麻黃　川芎　白芷　陳皮　紫蘇　香附</p>
<p>水一鍾，姜三片，蔥頭二莖，煎熱服，以汗為度。</p>
<p><u>麻黃湯</u></p>
<p>治傷寒頭疼發熱，身疼惡風，無汗喘滿，又治太陽病脈芤緊，無汗，八九日不解，表症仍在，當發汗者。</p>
<p>麻黃（去節）　甘草　桂枝　杏仁（去皮尖）</p>
<p>用水一鍾，煎六分，不拘時服，取微汗。夏至後須加知母、石膏、黃芩，蓋麻黃湯性熱，夏月溫之，必有發黃斑出之失。凡傷寒熱病，雖涼不可太溫，惟春冬病用正方。</p>
<p><u>桂枝麻黃各半湯</u></p>
<p>治太陽病八九日如瘧狀，發熱惡寒，熱多寒少，脈微緩者，欲愈也。脈微而惡寒者，此陰陽不和，更發汗，須汗吐下也。面赤反有熱者，表未解也，汗出少許身必涼。</p>
<p>桂枝　芍藥　生薑　甘草　麻黃　杏仁　大棗</p>
<p>水一鍾，煎六分，熱服。</p>
<p><u>桂枝湯</u></p>
<p>治太陽中風，嗇嗇惡寒，翕翕發熱，自汗乾嘔。無汗者不宜用，夏至前後加減用之。</p>
<p>桂枝　芍藥　甘草　生薑　大棗</p>
<p>水一鍾，煎六分，熱服。服後飲熱粥米飲一盞，以助藥力。少加薄被覆蓋，半時通身微似有汗者佳。</p>
<p><u>人參敗毒散</u></p>
<p>治傷寒時氣，頭疼項強，壯熱，遍身疼痛，惡寒惡風，咳嗽鼻塞聲重，吐痰及瘡毒作寒作熱，並宜治之。</p>
<p>羌活　獨活　前胡　砦胡　桔梗　人參　茯苓　枳殼　甘草　川芎</p>
<p>水一鍾，姜三片，薄荷一撮，煎五分，熱服。</p>
<p><u>四順散</u></p>
<p>大黃　甘草　當歸　芍藥　薄荷</p>
<p>水一鍾，煎五分，不拘時服。</p>
<p><u>竹葉石膏湯</u></p>
<p>治傷寒表裡俱虛，胸中煩悶，或得汗已解，內無津液，虛煩少氣。如傷寒未解不可服。</p>
<p>人參　半夏　甘草　石膏　麥門冬</p>
<p>水一鍾，生薑三片，竹葉七片，燈心廿莖，粳米一撮同煎。如嘔，倍加生薑、竹葉。</p>
<p><u>白虎加人參湯</u></p>
<p>治傷寒吐下後七八日不解，熱結在裡，表裡俱熱，大渴煩躁，脈洪大者。</p>
<p>人參　知母　石膏　甘草　粳米</p>
<p>水一鍾，煎至米熟為度，濾去滓，溫服。</p>
<p><u>傷風論</u></p>
<p>傷風咳嗽，先要發散風邪，然後寬氣止嗽化痰。有熱用涼肺之藥。如面赤飲水，痰涎壅塞，咽喉不利，嗽吐痰食，當下之。八九月肺氣大旺病嗽者，其病必實，非久病也，亦當下其痰。若久嗽則不可下。冬月嗽乃傷風也，宜當發汗。蓋肺主氣，應於皮毛，肺為五臟華蓋，小兒感於風寒，客於皮毛肌膚，入傷肺經，輕者咳嗽，重者喘急。肺傷於寒則嗽多痰涎，喉中鳴急；肺傷於暖則嗽聲不通，壅滯於寒者，必散寒邪；傷於暖者，必泄壅滯。發散屬以辛甘，桂枝、麻黃是也；湧泄系以酸苦，葶藶、大黃是也。五味子收斂肺氣，亦治嗽之要藥也。久嗽不已肺氣虛急，必發慢驚。有嗽甚眼目兩眶紫黑如物傷損，眼白紅赤如血，謂之血眼。治之之法，當用生地黃及黑豆溫研成膏掩於眼上，而眼眶黑自消，其血於眼淚中出，真良方也。兼服麥煎散而嗽自止。蓋肺經鬱熱，用瀉白散加減；肺氣自虛，用四君子湯加減；中焦實痞，宜用大承氣；脾不能生肺，宜用異功散。夫肺氣盛者，肺中之邪氣盛也，其脈右寸必浮而有力，宜用瀉白散以瀉之。若肺虛而有熱者，執肺熱傷肺之說而不用人參誤矣，仍參某症治之。若肺非虛而用人參亦誤也，用人參鬚以化藥制之，高明者酌議。</p>
<p><u>九味羌活湯</u></p>
<p>九味羌活湯　細辛芩地黃　蒼防芎芷草　熱服汗之昌</p>
<p><u>三和湯</u></p>
<p>治感冒風邪，鼻塞聲重，語音不出；或傷風頭疼，目眩，四肢拘倦，咳嗽多痰，胸滿氣喘短促。</p>
<p>麻黃　杏仁　甘草</p>
<p>姜三片，蔥一根，煎溫頓服，取汗為度。一方加荊芥、桔梗，有熱加前胡，有痰加半夏。</p>
<p><u>麥煎散</u></p>
<p>治小兒夾驚傷寒，吐逆壯熱，表裡不解，氣粗喘急，面赤自汗，或狂語驚叫，或不叫語，無汗及隱疹遍身赤癢，往來潮熱，時行麻痘疹子，餘毒未盡，渾身浮腫，痰涎咳嗽；或傳變急慢風，手足抽搐，眼目上視；及傷風頭疼，感冒風冷，鼻塞身熱，噴嚏多啼。</p>
<p>赤芍　石膏　茯苓　杏仁　知母　甘草　葶藶　人參　麻黃　羌活　川芎</p>
<p>水一鍾，姜三片，煎五分，食遠服。</p>
<p><u>清金前胡飲</u></p>
<p>治傷風發熱，咳嗽痰喘驚悸。</p>
<p>桔梗　甘草　橘紅　半夏　桑皮　前胡　防風　枳實　黃芩　天麻　花粉</p>
<p>水一鍾，姜三片，煎五分，不拘時服。</p>
<p><u>瀉白散</u></p>
<p>化痰止嗽，寬氣進食。</p>
<p>地骨皮　桑白皮　甘草</p>
<p>水一鍾，姜二片，煎熱服。</p>
<p><u>葶藶丸</u></p>
<p>治乳食沖脾，咳嗽傷風，面赤痰盛，身熱喘促。化痰止嗽，寬氣進食</p>
<p>葶藶子（隔紙炒）　防己　黑醜（略炒，各一兩，為末）　杏仁（去皮、尖，炒，一兩搗膏）</p>
<p>共為一處，加蒸棗肉搗為丸，如麻子大。每服五丸，淡薑湯臨夜服。</p>
<p><u>辨諸熱論</u></p>
<p>小兒發熱，早晚兩度者，謂之驚熱，亦呼為潮熱。</p>
<p>小兒發熱，形瘦多渴，吃食不長肌肉者，謂之疳熱。</p>
<p>小兒發熱，煩吐不時，面青者，謂之風熱。</p>
<p>小兒發熱，日中可，夜間熱，天明覆涼，謂之傷寒餘熱未解。</p>
<p>小兒發熱，睡覺癲叫無時，遍身熱，發渴，謂之積熱。</p>
<p>小兒諸病，惟熱最多，當先辨虛實，隨症治之。</p>
<p>小兒病熱者，左腮先赤肝受熱也；右腮先赤，肺受熱也；額上先赤，心受熱也；頤間先赤，腎受熱也；鼻間先赤，脾受熱也。五臟所主，熱各不同，其治也，亦不同，是不可以一概論。</p>
<p><u>虛熱</u></p>
<p>其症面色青白，身微熱，口氣冷，手足心不熱，小便自利，恍惚神慢，噓氣軟弱，泄瀉多尿，虛汗自出。叔和云：虛熱不可太攻，熱出則寒起，惺惺散、四君子湯、錢氏白朮散酌用之。</p>
<p><u>實熱</u></p>
<p>其症面赤，氣粗口熱，煩躁唇腫，大便秘結，小便短數，揭衣掀被，煩蹄躁叫，肚熱肚疼。在表宜汗，青龍湯、解肌湯加麻黃；在裡宜下，四順飲、解肌湯加大黃。孫真人曰：得利謹勿中補，熱氣得補後作。若表裡俱熱，舉按脈實，面黃頰赤，唇燥口乾，大便堅硬，小便赤澀，口中氣熱，四順飲加川芎、惺惺散加麻黃、大黃青龍湯、解肌湯加大黃、黃芩、麻黃。若汗下熱不除，仁齋曰：退表熱宜微汗，退裡熱宜微下，汗下而熱之再來，乃表裡俱虛，氣不歸元，陽浮於外，不可再用涼藥及再汗下，當和胃氣，使陽氣收斂歸內，其熱自止。參苓白朮散、補中益氣湯加減用之。柳叔舉曰：若經汗下，大熱未除，恐防痘疹，不可忘用涼藥。餘熱不除，仁齋曰：用涼不可十分盡用，蓋熱去則寒起，古人戒之。</p>
<p><u>邪熱在心</u></p>
<p>湯氏曰：本臟屬火，後為熱所乘，故炎上而焦哭。其症面紅，小便赤，口氣熱，啼時有汗，仰身啼，煩躁畏燈，大小柴胡湯加生地黃、燈心、麥門冬、竹茹同煎，不拘時候服。</p>
<p><u>積熱在內</u></p>
<p>小兒內外蘊積熱氣，非食積熱也，失治則發斑咽喉等疾。楊氏曰：內因酒面煎炒，熱毒熱藥峻補；外被大暖爐火侵逼，皆能生熱。所謂積熱者，朝斯夕斯，內外久積熱氣，三黃丸最要之藥。熱出於心，熱盛則傷血。</p>
<p><u>三黃丸</u></p>
<p>解小兒三焦積熱</p>
<p>大黃　黃芩　黃連（各等分）</p>
<p>上為末，煉蜜為丸，如皂子大，用白滾湯研化，食前服。</p>
<p><u>風痰熱</u></p>
<p>得患風痰熱，晚熱早還涼，吃水無時度，粥飲食如常，日夜多啼叫，喘息豈為昌，患宜頻進藥，莫待復翻張。頭熱腳冷氣不和，漸生氣喘愛眠多，夢裡自驚手足掣，除熱消痰不作磨。</p>
<p><u>麻痘熱</u></p>
<p>時行瘡痘數日前，壯似傷風面頰鮮，乍熱乍涼頭有汗，虛驚虛悸手多牽，唇紅面赤時加喘，鼻青耳涼只貪眠，目澀氣粗頻噴嚏，定有麻痘要相傳。</p>
<p><u>驚風熱</u></p>
<p>兒患驚風熱，驚啼汗出多，糞青兼見乳，兩眼卻違和，咬乳流涎出，腳冷病纏疴，若逢頭伸視，早治莫蹉跎。</p>
<p><u>疳熱</u></p>
<p>此症疳為熱，鼻赤齒頻搖，乳食常無飽，頭瘡鬢髮焦，泥炭飧如飯，肌膚不長膏，五心煩熱盛，有積是肝勞。</p>
<p><u>潮熱</u></p>
<p>因疾未安和，潮熱早晚過，體虛並氣弱，調理莫蹉跎。日久加驚悸，脾邪困漸多，面腮唇色絕，厥逆已沉疴。</p>
<p><u>時氣傳變</u></p>
<p>時氣因邪觸，春秋及夏冬，受邪肝肉內，傷客衛胃中。頭痛渾身熱，心煩兩頰紅，鼻清痰嗽喘，傳變似傷風。</p>
<p><u>夜熱晝涼</u></p>
<p>夜熱身如火，天明依舊涼，非干邪氣作，蓋為客風傷。肝熱尿水赤，脾蒸糞帶黃，汗來方始退，肌體漸羸尪。</p>
<p><u>諸身通治</u></p>
<p>身中有熱先除熱，熱里逢虛先補虛。</p>
<p><u>時氣熱</u></p>
<p>巢氏曰：感冒四時不正之氣，頭疼壯熱與傷寒相似，但一時所行之證，人人相似，為時氣熱。用太乙十神湯。</p>
<p><u>太乙十神湯</u></p>
<p>陳皮　紫蘇　川芎　赤芍　乾葛　香附子　麻黃　白芷　甘草　升麻</p>
<p>水一鍾，生薑三片，棗一枚去核同煎，不拘時候服。未受症者加大黃末、雄黃末同煎服，以解疫毒、熱毒之氣。</p>
<p><u>疳論</u></p>
<p>疳之為病，皆虛使然。熱者，虛中之熱；冷者，虛中之冷，積者，虛中之積。治熱不可妄表過冷，治冷不可峻溫驟補，治積不可峻取。蓋小兒易虛易實，服寒則生冷，服溫則生熱，峻取則傷脾胃。醫者止宜消積和胃，滋血調氣，隨順藥餌以扶持之；病家從容調理，節飲食以培養之，使榮衛調和，臟腑充實，自安矣。蓋積者疳之母，由積而虛，謂之疳極。凡有積者，無不肚熱腳冷。若積而虛甚則扶胃，使胃氣充實，方與微利，急以和胃之藥扶虛救急，加白豆蔻、蘿蔔子、縮砂、蓬莪朮消積等藥疏利也。肋間癖痛，亦虛中之積。先寒後熱，飲水不食等症，當分別治之。</p>
<p><u>自然生疳</u></p>
<p>久吐、久瀉、久痢、久渴、久汗、久熱、久瘧、久嗽，皆因病後失治、濕熱傷脾，積傳諸臟，虛以致之。</p>
<p><u>疳症</u></p>
<p>小兒五疳，因過多食，或因甘甜，驚風入腹；或因病後不長肌肉致成疳疾。不思乳食，朝好暮歹，或發潮熱，四肢羸瘦，腹急氣喘，頭髮稀疏，喜食泥土，變成疳勞。</p>
<p><u>肝疳</u></p>
<p>肝疳白膜眼中光，怕日羞明淚不幹，咬甲搖頭肌體瘦，腹中堅癖塊多端。</p>
<p>搖頭揉口鼻，白膜眼中縵，揩磨常淚出，兩目不曾干顏容面青色，渾身瘡癬斑，毛焦併發豎，此病本從肝。</p>
<p><u>心疳</u></p>
<p>心疳臉赤少精光，壯熱唇紅面色黃，才臥皮膚沉盜汗，睡中驚恐意恓惺。</p>
<p>渾身壯熱甚，四肢全不任，面黃並臉赤，怕冷寒重衾。口鼻常乾燥，根源病漸深，只因驚撲著，此病本從心。</p>
<p><u>脾疳</u></p>
<p>脾疳腹脹體薑黃，冷物難消又滑腸，揉鼻擦眉愛泥土，蛔蟲和糞瀉非常。</p>
<p>面黃肚大手腳細，吐逆中滿乏氣力，便下水穀不消容，瀉痢酸臭合面睡。搭口發豎啼哭頻，愛食茶米沙炭類，此疳本從脾臟來，治之肥兒與蘆薈。</p>
<p><u>肺疳</u></p>
<p>肺疳咳嗽體尪羸，喘急痰涎氣力衰，疥癩皮膚生痛癢，頻頻吃食只多飢。</p>
<p>啼多並嗽逆，口鼻脛生瘡，昏昏饒愛睡，體瘦又滑腸。四肢無氣力，客熱不同常，瀉膿並吐血，此病肺家傷。</p>
<p><u>腎疳</u></p>
<p>腎疳骨熱主偏墜，齒唇焦燥瘡䘌鼻，增寒壯熱手如冰，母夜咨煎不穩睡。</p>
<p>瀉痢時頻並，吐逆轉加深，大腸肛頭脫，壯熱兼腹鳴。乳食全不進，手足冷如冰，急疳難治療，此病腎家因。</p>
<p><u>肥兒丸</u></p>
<p>治諸般疳疾</p>
<p>黃連　神麯（各一兩）　麥芽面（五錢）　木香（二錢半）　檳榔（一個）　肉豆蔻（麵煨）　使君子（酒浸去黑皮，各五錢）</p>
<p>上為末，煉蜜為丸，如圓眼大。每一丸，米湯化下。</p>
<p><u>蚵皮丸</u></p>
<p>治諸疳、無辜疳症。</p>
<p>蝦蟆一隻，肥大不跳不鳴，其身多癩者；另取糞蟲一杓，以水洗淨，置桶中。將蝦蟆打死，頓在蟲中，任蟲食一二日，將皮揀出裝新布袋中包系定，置急流水中漂一日，取出瓦上焙為極細末，入麝香二分，揉飯內為丸，如麻子大。每服二三十丸，米飲湯下，或拌在飯內與兒食之，效驗不可盡述。</p>
<p><u>蘆薈丸</u></p>
<p>治諸般疳症身黃，腹脹痞塊，泄瀉瘦弱。</p>
<p>胡黃連（一兩）　使君子（去黑皮）　蓬朮　青皮（炒）　陳皮　麥芽（炒）　神麯（以上各一兩）　檳榔　川黃連（各五錢）　蘆薈　木香（各三錢）</p>
<p>瀉者加茯苓（一兩）　肉豆蔻（麵煨，一兩）　人參（五錢）</p>
<p>上為末，煉蜜為丸，如龍眼大，米湯空心化下；或麥芽面打糊為丸，如綠豆大，每服五七分，米湯吞下。</p>
<p><u>天麻丸</u></p>
<p>治小兒疳眼、肝疳症。</p>
<p>真青黛　黃連　天麻　川芎　夜明砂　蘆薈（各二錢半）　龍膽草　防風　蟬退（各一錢半）　全蠍（二分，去毒洗淨炙）　麝香（二分）　干蝦蟆（二隻，煨）</p>
<p>共為細末，豬膽汁和水打糊為丸，如麻子大。每服十丸，薄荷湯吞下。如不能吞，煮煉蜜為丸，化下亦可。</p>
<p><u>清沛飲</u></p>
<p>治肺疳，肺熱鼻熱瘡，鼻息作臭，欲侵蝕者。</p>
<p>桑白皮（一錢）　紫蘇　前胡　防風　赤茯苓　黃芩　當歸　天門冬（去心）　連翹　桔梗　生地黃　甘草（各五分）</p>
<p>用水一鍾，煎五分，食後服。服數貼後，服化䘌丸。</p>
<p><u>化䘌丸</u></p>
<p>蕪夷　蘆薈　青黛　蝦蟆（煨，取末）　川芎　白芷　胡黃連（各等分）</p>
<p>上為末，豬膽汁打糊為丸，如麻子大。每服二三十丸，食後以杏仁煎湯吞下。其鼻常用熊膽泡湯蘸洗。</p>
<p><u>敷鼻千金散</u></p>
<p>青黛　當歸　赤小豆　瓜蒂　圯榆　黃連　蘆薈</p>
<p>上味各等分，入雄黃少許，研極細末，入鼻斂瘡。</p>
<p><u>蘭香散</u></p>
<p>治小兒走馬牙疳，牙齒潰爛，以至崩砂出血齒落。</p>
<p>輕粉（一錢）　蘭香子末（一錢）　密陀僧（五錢，燒紅醋淬為末）</p>
<p>上研如粉，敷齒上，齦上患處，立效。</p>
<p><u>又方</u></p>
<p>鴨嘴膽礬一錢，煅紅冷定，研極細，入麝少許，又研敷牙齒上。</p>
<p><u>三黃散</u></p>
<p>治腎疳崩砂良方。</p>
<p>牛黃（一分）　大黃　生地　木香　青黛（各三分）</p>
<p>上為末，熱水調服。</p>
<p><u>布袋丸</u></p>
<p>治諸疳面黃腹大，飲食不潤肌膚。</p>
<p>夜明砂（揀淨）　蕪荑（炒，去皮）　使君子（微炒去皮，各二兩）　白茯苓　白朮　人參　甘草　蘆薈（各五錢）</p>
<p>上為細末，湯浸蒸餅為丸，如彈子大。每服一丸，以生絹袋盛之，次用精豬肉同藥一處煮。候肉熟爛，提取藥於當風處懸掛，將所煮肉並汁，令小兒食之。所懸之藥仍依前法煮食，只待藥盡為度。</p>
<p><u>泄瀉論</u></p>
<p>夫小兒泄瀉者，證非一端，然有冷瀉、有熱瀉、有傷食瀉、有驚瀉，當辨其證而治之。蓋冷瀉者，脾胃受冷，肚腹疼痛，水穀不化，小便清而大便黃白或如糟粕，手足厥冷，當服理中湯、益黃散，對症服之。熱瀉者，大便黃赤，小便赤少，口乾煩躁，宜用六一散、五苓散去桂、錢氏白朮散去木香治之。如夾熱而太陽與少陽合病，自下痢者，黃芩湯。嘔加半夏。又夾熱瀉痢而小便閉澀赤甚者，加減四順清涼飲服之。傷食瀉者，由乳食過飽，坐臥風冷之所傷，兼食油膩之物，遂成食瀉。宜先取下其積，不可便補。經云：食瀉重，當取疳虛用補虛，宜大消食丸、蘆薈丸，量虛實先取其積，次以益黃散、異功散、四君子湯、調中湯理之。驚瀉者，因驚而起，眼白青黯，大便青黃，宜辰砂五苓湯散、鎮心丸主之。大抵傷脾則瀉，而瀉久脾愈傷也。脾虛未有不成慢驚者，本藥如服過數貼不止，急宜大補脾胃。若傳變慢驚，坐以待斃，醫者未必不無責也，慎之慎之。</p>
<p><u>錢氏白朮散</u></p>
<p>人參　茯苓　白朮　藿香　甘草　砂仁　肉豆蔻（麵煨）　山藥　澤瀉</p>
<p>用水一鍾，姜二片，蓮子七個去心，煎五分，不拘時服。</p>
<p><u>四順清涼飲</u></p>
<p>黃連　芍藥　甘草　陳皮　枳殼　茯苓　木通　澤瀉</p>
<p><u>胃苓湯</u></p>
<p>治泄瀉，脾胃不和傷食作瀉。</p>
<p>豬苓　澤瀉　白朮　白茯苓　厚朴　陳皮　神麯　甘草　麥芽</p>
<p>用水一鍾，燈心二十根，陳倉米一撮，煎湯，不拘時服。</p>
<p><u>益黃散</u></p>
<p>治泄瀉、冷瀉、胃虛腹痛。</p>
<p>青皮　陳皮　訶子肉　甘草　木香　肉豆蔻</p>
<p>水一鍾，姜二片，黑棗二枚，煎五分，不拘時服。</p>
<p><u>消食丸</u></p>
<p>寬中快膈，消飲食，退黃色。</p>
<p>砂仁　橘皮　蓬朮　神麯（炒）　麥芽（炒，以上各五分）　香附子（一兩，炒）</p>
<p>上為末，麵糊為丸，如綠豆大，食後紫菜湯下二十丸。煉蜜為丸，薑湯化下亦可。</p>
<p><u>調中湯</u></p>
<p>人參　茯苓　木香　白朮　甘草　乾薑　藿香　香附子　砂仁　丁香</p>
<p>水一鍾，棗二枚，煎五分，不拘時服。</p>
<p><u>痢論</u></p>
<p>痢者利也，痢之為疾，無積不成。治法大要散邪熱，行滯氣，消積滯，解暑毒，開胃進食為先。初得痢者，便不可用訶子、豆蔻、樗皮、龍骨等劑補住邪氣。若氣得補則積滯不得發泄，腸胃滯澀，腫脹日久難愈。痢出於積滯。積，物積也；滯，氣滯也。物積欲出而氣滯不得與出，則下墜裡急後重，乍起乍止，日夜無度痢者，五臟窘痛而不散，當先用通利之藥，疏其臟腑積滯，然後辨其寒熱氣血虛實而施治。丹溪云：初而重者承氣方，輕則黃芩芍藥湯，氣血俱虛為八物，隨時處治，方為良者，非此之謂乎。</p>
<p><u>導滯湯</u></p>
<p>治初得痢腹痛後重者。</p>
<p>黃芩　黃連　白芍　檳榔　厚朴　枳殼　陳皮　大黃（生用）</p>
<p>水一鍾，煎五分，入大黃一滾取起，生磨木香汁一、二、三茶匙，不拘時服。</p>
<p><u>黃芩芍藥湯</u></p>
<p>黃芩　芍藥　甘草</p>
<p>用水一鍾，煎五分，不拘時服。</p>
<p><u>芍藥調中湯</u></p>
<p>治痢已經通行後，不問赤白，服此調理。</p>
<p>黃連（茱萸炒）　黃芩　陳皮　厚朴　山楂　神麯　白芍（炒）　枳殼　茯苓　澤瀉</p>
<p>用水一鍾，姜一片，煎五分，食後服。後重者加木香、檳榔；血盛者加當歸。</p>
<p><u>健中湯</u></p>
<p>治瀉痢日久，脾胃虛寒，下如雞子青者。</p>
<p>黃連（茱萸炒）　當歸　芍藥　茯苓　白朮　陳皮　甘草　乾薑　肉豆蔻</p>
<p>用水一鍾，倉米一撮，煎五分，不拘時，徐徐溫服。</p>
<p><u>瘧論</u></p>
<p>風寒暑濕，邪自外來；飲食起居，邪由內作，豈特夏傷於暑，秋必痎瘧哉？古人以暑受病者多言之耳。夫瘧者始而呵欠，繼而足冷，面色青黃，身體拘急，寒慄鼓頤，腰脊俱痛，寒去未幾，內外皆熱，頭疼而渴，但欲飲冷，嘔惡煩悶而不嗜食，或內伏寒痰，皆從背起，冷如掌大。瘧之寒熱，豈非陰陽二氣互相勝負而作耶？邪並於陰則寒，邪並於陽則熱，陰勝則寒多，陽盛則熱熾。其寒也，湯火不能溫；其熱也，冰雪不能寒。衛氣與邪氣交爭，其病乃作。邪氣與衛氣相離，故汗出乃解。其病已休，衛氣晝行陽，夜行陰，得陽而外出，故發於旦晝；得陰而內搏，故發於暮夜。或二日一發，或三日乃發，衛氣行遲耳。若內外失守，真邪不分，陰陽迭勝，寒熱互起，則休作無定時矣。</p>
<p><u>青皮飲</u></p>
<p>治熱多寒少，胸滿不食，口苦舌乾，煩渴飲水，小便黃赤，大便不利。</p>
<p>青皮　厚朴　白朮　草果　柴胡　茯苓　半夏　黃芩　甘草</p>
<p>用水一鍾，姜三片，煎五分，食前服。</p>
<p><u>草果飲</u></p>
<p>治寒多熱少，或遍身浮腫。</p>
<p>厚朴　草果　青皮　藿香　半夏　甘草　陳皮　神麯　良薑</p>
<p>水一鍾，姜三片，棗一枚，煎服。</p>
<p><u>清脾飲</u></p>
<p>治小兒瘧疾作浮腫，兼有寒熱不退，飲食不進。</p>
<p>白朮　茯苓　厚朴　青皮　陳皮　半夏　大腹皮　檳榔　莪朮　木通　甘草</p>
<p>水一鍾，姜二片，煎服。</p>
<p><u>常山飲</u></p>
<p>治一切瘧。</p>
<p>知母　貝母　半夏　甘草　茯苓　常山　人參　草果　厚朴</p>
<p>水一鍾，姜三片，棗二枚，煎熟，露過夜，空心溫服。</p>
<p><u>香葛散</u></p>
<p>治小兒夾食感冒、瘟疫瘧疾症。</p>
<p>香附子　紫蘇葉　陳皮　青皮　甘草　葛根</p>
<p>水一鍾，姜三片，蔥白一莖，同煎，不拘時服。</p>
<p><u>腫脹論</u></p>
<p>腫脹二症，此由虛中有積，久患失治漸傳，症候輕重多端，須先固其本，後正其標，得無恙矣。有溫腫、毒氣腫、傷寒虛腫、瀉痢虛腫；有疳脹、有氣脹、有癥疾脹、飲食膨脹。以上腫脹有實有虛，實不可補，虛不可下。若誤下致脾虛氣上，附肺而行，肺與脾子母皆虛，則目疱腮頰腫，短氣喘滿也；脾主四肢，母氣虛甚則黃也，調治各有其法。其受濕於脾胃，久不克化，氣浮四肢，頭面皆腫；有冷積停留於胃脘致虛，入腹作腫；傷寒下之太早乘虛入腹作腫；瀉痢久而脾亦虛作腫，以上腫者宜先調胃氣，補臟腑，然後去腫。其血氣腫，皆由榮衛不順，臟腑怯弱，壅滯三焦百脈，流注脈絡，表裡俱虛，邪正亂作，以致四肢浮腫，肚腹膨脹，以上先調榮衛之順；次服分氣以散之。至於疳氣積脹，宜先蘆薈丸；癰痞氣脹，宜三稜丸等以消其痞。至於虛冷脹者，宜沉香煎以溫之。以上諸症宜調和胃氣，消磨通利，腫脹必平復矣。如有熱者，葶藶、牽牛以治之。丹溪云：諸濕腫脹補中宮，補中行濕應為宗。腰以上腫微汗之，以下小便須要通。庸醫不識其中趣，妄將下藥而利水。若還利水氣一脫，禍不旋踵必可許。故補中行濕治腫滿之要法也。分別氣血而用四物、四君子，加以五苓，其百發而百中者，於高明君子酌議之。</p>
<p><u>塌氣丸</u></p>
<p>治飲水過多，停積於脾，故四肢浮腫，宜服此以消之。</p>
<p>蘿蔔子　赤小豆（炒）　陳皮（各一錢）　木香（二分）　甘草（五分）　黑醜（一錢）</p>
<p>上為末，糊丸如綠豆大。三歲者服三十丸，米飲湯吞下。</p>
<p><u>推氣丸</u></p>
<p>陳皮　檳榔　枳實　黃芩　黑醜　蓬朮　青皮（各等分）</p>
<p>上為末，煉蜜為丸，如龍眼大。每服一丸，用薑湯化下。</p>
<p><u>補中行濕湯</u></p>
<p>治諸般虛腫，小水不利者。</p>
<p>陳皮　甘草　蒼朮　厚朴　白朮　人參　茯苓　豬苓　澤瀉　肉桂</p>
<p>水一鍾，姜三片，燈心二十根，煎五分，不拘時服。</p>
<p><u>勻氣散</u></p>
<p>治脾肺氣逆，喘嗽面浮，小便不利。</p>
<p>桑白皮　桔梗　赤茯苓　熟半夏　陳皮　甘草　木通　澤瀉　藿香</p>
<p>水一鍾，姜一片，燈心二十根，煎五分，不拘時服。</p>
<p><u>榮衛飲子</u></p>
<p>治小兒氣血俱虛，四肢頭面俱浮，以至喘急者，並宜服之。</p>
<p>川當歸　熟乾地黃　川芎　白芍　人參　白朮　茯苓　甘草　枳殼　黃耆　陳皮</p>
<p>水一鍾，煎五分，不拘時服。</p>
<p><u>丹瘤論</u></p>
<p>瘤者流也，片片如脂，遊走而不定之謂。始於胎毒，後因烘衣、洗浴而得。故從心腹而發於四肢者易治；從四肢而入心腹者難治。入心、入腹、入囊，作脹作瀉，舌乾驚悸，則不可救藥矣。</p>
<p><u>黃連法</u></p>
<p>牛肉切成薄片，晾半乾，用黃連煎濃汁，將牛肉片投入黃連汁內，泡片時，以牛肉貼瘤上。肉乾再易，換過數次，即有效矣。</p>
<p><u>白玉散</u></p>
<p>寒水石　滑石（各一兩）</p>
<p>共為細末，調敷患處。</p>
<p><u>又方</u></p>
<p>伏龍肝　碾細末，雞子清調敷患處。</p>
<p><u>又方</u></p>
<p>牛蒡子搗爛敷患處。</p>
<p><u>消毒救苦散</u></p>
<p>金銀花　當歸　赤芍　生地　牛蒡子　連翹　防風　天麻粉　羌活　犀角屑</p>
<p>水一鍾，燈心二十根，煎五分，不拘時服。上身者加川芎、桔梗；下身者，加木通、黃柏。</p>
<p><u>耳中生瘡</u></p>
<p>耳為腎之外候，腎通竅於耳也。夫十二經脈上絡於耳，若耳中生瘡疼痛，乃厥陰少陽風熱熾盛而上升，故患此，出膿汁而痛，治法宜疏熱散風。</p>
<p><u>口舌生瘡</u></p>
<p>中央黃色，入通於脾，開竅於口，脾和則口能知五味矣。舌乃心之苗，能知味而舌中有脾也。夫口之為病，或為重舌、木舌，或為糜爛生瘡，未有不由七情煩擾，五味過傷之所致也。舌病本乎心經，蓄熱而然，口瘡皆因脾熱所致，宜各推類而治之，無有不安也。脈法左寸洪數心經熱，右關沉實脾胃中。有實熱心脾虛者，中氣不足，口瘡，服涼藥不愈者，理中湯主之。</p>
<p><u>齒病</u></p>
<p>夫齒者腎之標，骨之餘也。足陽明胃之脈，貫絡於齒上齦；手陽明大腸之脈，貫絡於齒下齦。手陽明惡寒飲而喜熱飲，足陽明惡熱飲而喜寒飲。故其為痛，有惡寒惡熱之不同也。有開口呷風則痛甚者，腸胃中有風邪也；有開口則臭穢不可近者，腸胃中有積熱也；或有痛而齒動；或有痛而蟲侵蝕；或有齒縫疏稀飲食不便者，比比是也。大抵齒齦宣露而動搖者，腎氣虛也，治宜滋陰補腎為要；憎寒惡熱而口臭穢者，胃氣熱也，治宜安胃瀉火為良；其所謂風邪蟲蝕之症，蓋因熱生風而風生蟲也，腸胃之火既平，更加以擦牙殺蟲之藥，以治其標，無不安之理也。《脈法》右寸關脈洪數或弦而洪，腸胃中有風熱，大凡齒痛尺脈洪大而虛者，腎虛。主齒動搖疏豁，相火上炎而痛。</p>
<p><u>瘰癧瘡</u></p>
<p>夫瘰癧者，有風熱毒氣之異，皆由忿怒氣逆、憂思過甚、食味之厚，相搏於經絡。其症生頸項胸臆之間，結聚成核，初如豆粒，漸若梅李，累累相連，大小無定，初覺憎寒壯熱，咽項強痛。況少陽一經多氣少血，不繫丹毒膏粱火極之變，即因氣鬱脾虛惱怒所致。止宜補形氣，調經脈，詳脈症經絡，毋犯病禁。但屬脾虛，宜養胃健脾。若用驅熱解毒耗氣之藥，虛虛之禍，如指諸掌。其疾或發於一經，或兼二經者，止當求之於一二經，不可干擾余經也。須分虛實，實者可治，虛者可慮。仍戒暴怒氣惱，忌甜糖厚味辛辣之物而調理，不然日久變成疳痞之症，則難愈矣。</p>
<p><u>消腫湯</u></p>
<p>消腫湯內柴連翹，牛蒡紅花當歸梢，</p>
<p>黃耆芩連天花粉，桔梗貝母力能消。</p>
<p><u>又方</u></p>
<p>土茯苓（四兩）　防風（五分）　荊芥（五分）　蜂房（五分）　肥皂子（九個）　金銀花（一錢）　竹葉（七片）　燈草（三十根）</p>
<p>上水五六碗，煎三四碗，隨意服。</p>
<p><u>又方</u></p>
<p>肥皂子，燒灰存性，為末。每服二錢，好壇酒調下。</p>
<p><u>又方</u></p>
<p>馬鞭草，不拘多少，日日煎湯，隨意飲之。</p>
<p><u>諸瘡成漏</u></p>
<p>《病源》云：癰疽瘰癧諸瘡，膿水日久不痊，皆變成漏。有熱停積流膿不絕謂之膿漏者；瘡口被風冷襲之，久而不愈，謂之冷漏；或瘥後復發，或移易之別處，謂之久漏。由是而言，所謂漏者，因諸瘡久出膿水，或氣血俱虛，肌肉無由而生，故瘡口不合，遂成其漏。夫蓄熱毒者清之，風冷者散之溫之，而後補氣血自愈。</p>
<p><u>當歸連翹散</u></p>
<p>治一切風熱，癰腫瘡瘍，咽膈不利，舌腫喉閉，脈洪大而實，或洪數壯實之人，大便秘結，腫高色赤。</p>
<p>當歸連翹散黃芩，山梔赤芍忍冬藤，</p>
<p>熱甚加入大黃服，能消熱毒效如神。</p>
<p><u>千金托裡散</u>　治如前</p>
<p>千金托裡薄荷硝，歸芍大黃並連翹，</p>
<p>黃芩甘桔山梔子，煎成入蜜有功勞。</p>
<p><u>涼膈散</u></p>
<p>涼膈散治上焦熱，連翹山梔並柏葉，</p>
<p>竹葉甘草共黃芩，大黃芒硝治熱結。</p>
<p><u>托裡內補散</u>　膿潰之後宜多服</p>
<p>托裡內補耆朮參，芎歸芍草忍冬苓，</p>
<p>防風白芷皂莢刺，潰膿之後服如神。</p>
<p><u>防風通聖散</u></p>
<p>防風通聖滑石膏，歸芍芎梔薄荷翹，</p>
<p>麻黃甘桔苓白朮，荊芥大黃並芒硝。</p>

<h1>下卷</h1>

<h2>錢氏經驗良方</h2>

<h3>初生訣</h3>
<p>小兒生下一月餘，有病如何為分別？男左女右虎口看，若還紫紋胎驚熱，青色受胎氣不全。亦有驚多積蓄掣，青色必因數日前，皆因蹼跌□□顛。孩兒一歲至三歲，虎口脈內看兩邊。若還一關長一米，定是驚風傳候起，半寸病因是驚傳，先須用藥鎮心裡。若過第二第三關，並同驚積一般說，似出不出隱隱紋，此乃驚傳脾藏絕。若還紫色難醫療，青色其驚入脾竅，此病呼作慢驚風，好手醫人急須療，或紅顏色便心寬，用藥之時立見安，脈過三關連指面，孩兒死後立須見，不拘顏色赤白紅，十死一生休怨嘆。二三歲時看虎口，更用中指按高骨，浮即生風數即驚，緊是顛癇風作熱，沉細腹痛緩沉虛，瀉痢皆因此脈初。微遲有積兼蟲盛，遲澀元來胃脘虛。四歲脈不在指端，一指高骨按虛實，五六袞轉尋三部，平正關上為準則，七八稍多指稍許，九十次第八位取，十一十二也全看，十四十五三指數。小兒有病脈不多，先定浮沉遲數數，沉遲為陰浮為陽，更看面部屬何方，青色驚風白虛瀉，赤色痰熱黑難當，黃是脾家因有積，醫人審度用良方。</p>
<p>小兒脈緊風癇候，沉緩食傷多吐嘔，弦緊因知氣不和，緩急虛驚神不守，冷則沉細風則浮，牢實大便因秘久，腹痛之候緊而弦，此是胃寒宜療救。變蒸之時脈亦變，不治自然無過謬，單細疳勞洪有蟲，大小不均為惡候，脈遲而澀有寒熱，此是胃寒分別嘔，瀉痢浮弦不可醫，仔細思量宜審究。</p>
<p>小兒脈浮多風熱，沉細原因乳食結，弦長多是肝膈風，緊數驚風四肢掣，洪浮胃口似火燒，沉緊胃中痛不歇。虛濡有驚又兼驚，脈乳大小便中血，四至洪來苦煩滿，沉細腹中痛切切，滑主露濕冷所傷，弦緊容忤分明說。</p>
<p>五指尖頭冷，驚來不可當，若逢中指熱，必定是傷寒。中指獨自冷，痘疹症相傳；男左女右分，脈紋仔細看。</p>
<p><u>看指虎口脈色法</u></p>
<p>紫熱紅傷風，青驚白色疳，黑色因中毒，黃色因脾端。</p>
<p><u>身冷熱驗症歌</u></p>
<p>鼻冷知痘疹，耳冷緣傷風；熱症渾身熱，乍熱是傷脾。</p>
<p>囟門高起，脈來洪大而有力，渾身壯熱，日夜不寧者，是傷風寒，宜用發表之劑。囟門高起，脈來緊大而軟，身體不熱，唇紅口乾，乃是內熱，或有驚悸，宜抱龍丸治之。</p>
<p>乍涼乍熱，肚腹膨脹，大小便不通者，下之；如大小便照常者，保和丸主之。</p>
<p>口乾發渴，大便泄瀉，小便赤短者，胃苓丸主之。</p>
<p>囟門陷下，肚腹膨脹，不思乳食，乃是傷寒，宜用香砂保安丸治之。</p>
<p><u>傷風</u>　惡風發熱頭應痛，兩頰微紅鼻涕多。汗出遍身兼咳嗽，此是傷風症易和。</p>
<p><u>傷寒</u>　傷寒之候有多般，一概推詳便覺難，面目俱紅時噴嚏，氣粗身熱是傷寒。</p>
<p><u>夾食</u>　鼻涕頭痛時吐逆，面黃紅白帶不一，此因夾食又傷寒，發表有功方下積。</p>
<p><u>夾驚</u>　身微有熱生煩躁，睡不安兮神不清，此是夾驚感寒症，亦須先表次寧心。</p>
<p>傷風之症，鼻流清涕，身常有汗，咳嗽不寧，兩頰微紅。宜用前胡半夏丸治之。</p>
<p>傷寒之症，遍身大熱，氣粗喘急，宜用羌活膏表之。</p>
<p>夾食者，目胞微浮，吐逆臆氣，吞酸身熱，頭痛鼻塞，心煩發渴，腹痛而膨。宜用羌活膏，次用香砂保安丸、香橘餅之類治之。</p>
<p>夾驚者，或被驚發熱，又感寒邪，或先感寒邪而後受驚，兩熱相乘，故神思昏沉，渴而煩躁，咬牙呵欠，目直手動，面有青紫色。宜用羌活膏，次抱龍丸、金箔鎮心丸之類，選而用之。</p>
<p><u>痰</u>　咳嗽雖然分涼熱，連聲因肺感風寒，眼浮痰盛喉中響，戲水多因汗未乾。</p>
<p>傷風咳嗽者，前已有治矣。若微熱而咳者，抱龍丸以去痰，瀉白散以平肺。若痰涎壅盛，白玉餅子下之，或滾痰丸亦可。其內熱發渴咳嗽不已，喘，喉中痰響者，治之天竺黃丸。</p>
<p><u>積</u>　頭痛身熱膨脹□，足冷神昏只愛眠，因食所傷脾氣弱，不宜遲緩健脾丸。</p>
<p>積聚之症不同。其發有常處，其痛不離其部，或胸前脅下，或左或右，有物堅硬，按之礙手者，為積；其發無根本，上下有所留止，其痛無常處者，為聚。皆面發焦黃，昏困多睡，兩目黃赤，面目虛腫，乳食漸減，身體肌瘦。宜五疳消積丸、挨積丸、香砂保安丸之類。</p>
<p><u>痢</u>　小兒下痢細尋推，不獨成於積所為，冷熱數般雖各異，寬腸調胃在明醫。</p>
<p>痢症皆於冷熱不調，飲食積滯，不能運化而成。大要分陰陽，行滯氣，消積消熱，補脾開胃進食為主。蓋陰陽一分，陽胃自厚，故香連胃苓膏先服之。其元氣未虛，裡急後重，欲出而不出者，以大承氣湯、木香檳榔丸、妙應丸下之。純白者，胃苓湯加黃連、芍藥、枳殼、砂仁治之。純紅者，胃芩湯加當歸、芍藥、生地黃、黃連、黃芩、滑石、山楂、枳殼等治之，要以涼血活血為主。此後略加地榆，借意而止之為妙。</p>
<p><u>吐</u>　脾虛胃弱病根源，水穀如何運化行，清濁相干成吐瀉，久傳虛渴便成生。</p>
<p>小兒吐症皆脾胃虛怯，或過傷冷熱所致，是胃氣不和則逆而上行，故作嘔吐。嘔者，有物有聲；乾嘔則無物矣。吐者，有物無聲。其症不同，有熱，有冷，有虛，有痰，有食，當詳辨之。</p>
<p>熱吐者，或感驚而心熱，或感暑氣而脾熱，或飲熱乳而胃熱，吐有黃涎而夾乳食成片者，頭額溫熱，五心熱，小便短赤者，是用五苓散加生薑及抱龍丸、香薷飲、天水散等去驚、清熱、清暑之藥。</p>
<p>寒吐者，或冒風寒，或寒時就與乳吃，冷氣入胃，吐必夾乳食，或夾清水白沫，四肢淒冷，面白，喜熱惡寒者，是治用藿香正氣散加木香、四君子湯加陳皮、丁香、乾薑之藥；其或面有青氣則肝來克脾，急用附子理中湯加炮姜，量小兒虛實以治。</p>
<p>虛吐者，肌弱神困，面白。脾胃久虛，或源患疳積，及節次傷乳食，胃氣衰，寒不能停蓄飲而即吐，治用實脾化痰溫胃，木香餅、參苓白朮散、助胃丸等施之。</p>
<p>痰吐者，傷風痰塞，咳嗽氣急，或身發熱，面色青紅，此因有風生痰，痰積日久，膈於中脘，遂令乳食不化不下，故咳嗽連聲，氣逆上塞，即便吐出。治法先與化痰定心，服天竺地黃丸、抱龍丸，後用解表惺惺散，寧嗽補脾潤肺之藥治之。</p>
<p>食吐者，因過傷乳食，吐出酸水或宿乳，食不消。蓋胃氣不和，物積不化所為，滿而溢者，必肚腹發熱作痛，面額熱，時作噯氣。治先消其食，用妙應丸、挨積丸、保和丸之類，愈後用助胃丸、參苓白朮散等調理之。</p>
<p><u>瀉</u></p>
<p>瀉症有五：曰溏，曰泄，曰滑，曰痢，曰洞，俱當分別。溏者，糟粕不聚，似瀉非瀉；泄者，無時無度，或出不知，稀薄如水；痢者，氣從中脘下奔，直射濺溜，如卒筒然；滑者，水穀不化，腸胃直過；洞者，頓然大下，如桶傾水。凡此皆脾胃不調，或寒或熱，或過傷乳食，或素有蟲積所致。如大便黃赤有沫，糞出射遠，此熱也，宜五苓散、天水散，分其陰陽，後平胃氣。如面青唇白，眼輪紫黑，糞白或青，手足冷，未瀉時先腹痛叫哭，此寒也。宜木香餅、助胃丸，調其胃氣；參苓白朮散補之；五苓散分利之。</p>
<p>瀉下臭穢如抱退雞子，肚腹膨脹，其手脈紋紫，身熱，此裡實有食積。宜妙應丸治之，後與調補。</p>
<p>如瀉出青色，乳片不化，小便短少，面色青紅，或糞腥臭，自傷乳食也，夾驚也。宜先與清寧散、抱龍丸去驚，後五苓散、胃苓膏利小水；後錢氏白朮散溫補之。</p>
<p>暑月作瀉清水，口發渴，小便短少，此傷暑熱也。宜天水散、五苓散、錢氏白朮散、香薷飲之類。</p>
<p>面紅卒腫渾身熱，唇黑牙關氣如絕，</p>
<p>自播搐搦喉有痰，此是急驚容易決。</p>
<p>陰盛陽虛病已深，吐余瀉後睡揚睛，</p>
<p>神昏搐緩涎留甚，此症分明是慢驚。</p>
<p>急驚受病之源，皆因其母平日恣食辛辣熱物，厚衣暖室，閉藏太過，致使熱盛生痰，痰盛生驚，驚盛生風，四症既具，則變為八候。蓋風盛則兩手伸縮而成搐搐，盛則十指開合而成搦，搦盛則熱如相撲而成掣，掣盛則頭搖不定，或偏而成顫，顫則身仰向後而為反，反則臂若開弓而為引，引則兩目或上視、邪視、直視而為竄，竄則睛露不動而為視。所為八候者，其類俱牙關緊急，痰如拽鋸，手足拳攣，張口出舌，唇紅臉赤，或滿面俱青，唇青瀉青，虎口脈紋紅紫或青者，皆急驚也。此症積於平時，發於頃刻，最能駭人，然專屬心肝二經，乃風火相搏之故，必先去痰瀉肝，後清心利小水，定驚安神養脾，方無變症。宜用瀉肝散、天竺黃丸、滾痰丸、牛黃清心丸、琥珀抱龍丸、參苓白朮散等施治，無不愈者。但當辨認搐之順逆，蓋男搐左視左，女搐右視右為順，反者為逆。如發逆症者，金木相戰也，俱當瀉肺湯以瀉肺，地黃丸以補腎，瀉肝散、涼驚丸以瀉心肝；又當採其氣之冷熱，如氣冷不乳者，難治；氣熱能乳者，雖搐不妨。至於慢驚則或吐或瀉，涎鳴微喘，眼開神緩，目慢露睛，昏睡跳搐搦，似有似無，乍發乍止，口開臭，氣冷或身熱，或冷，脈紋透關。皆因吐瀉之後，脾胃虧損，元氣虛弱，及下吐太多所致。唯當醒脾溫胃之中加以截風化痰之藥，宜醒脾散、惺惺散、參苓白朮散、附子理中湯、蘇合香丸之類。</p>
<p><u>疳</u>　五疳五臟五般看，治法推詳事不難。若見面黃肌肉瘦，齒焦發豎即為疳。</p>
<p>疳之為病，所得不同。或乳食不調，過餐甘肥；或缺乳食物大早；或乳母喜怒房勞即與乳吃；或飲有娠之乳，大抵皆脾胃受病，內無津液之故。又有因病服吐下表散之藥先後失宜，為醫所誤而得者，皆當詳其五臟所主而用藥。如身體壯熱，臉赤唇紅，口舌生瘡，胸膈煩悶，小便赤澀，五心煩熱，盜汗發渴，多哭者，在心頭；焦發立，筋青腦熱，躁渴多汗，下痢，疥癬者，在肝；胸熱肌消，手足冰冷，寒熱時來，滑泄肚疼，牙疳口臭，尿黃多渴者，在腎；咳嗽喘逆，發熱惡寒，皮膚粟起，鼻癢流涕者，在肺；面黃身黃，肚大腳細，吐逆身滿乏力，啼哭，水穀不化，泄下酸臭，合面困睡，搭口發豎者，在脾；至如肚大青筋，如吃泥土並雜物茶、米、沙、炭之類，肚腹膨大，釀乳洞泄，骨蒸潮熱，尿如米泔，上下蟲出，羞明雀目，俱是疳症，此皆脾家受病，傳入諸臟。惟先理脾氣則諸臟皆安，故總用五疳保童丸、消疳肥兒丸、木香蘆薈丸。有蟲者，追蟲丸、使君子丸。牙疳者，人中白散、雞金散，次第用之。</p>
<p><u>又吐論</u>　熱寒虛痰食五吐解見於前</p>
<p>凡未周小兒吐奶最為重病。吐奶必夾痰，三吐之後，胃氣即虛，虛則外風乘入，內外夾攻，痰涎愈生，而閉於胃脘，胃脘閉而四肢關亦閉，遂發驚搐，或慢驚等症。如手足搐搦，口眼翻脹，頭額強舉，不可名狀，往往用藥無效，故此乳要預先治之。如吐成乳片者，是胃熱。熱盛生痰，久則成風矣，必先與清胃化痰定吐之劑。若吐久則胃久虛寒，尤宜溫補不可熱。一如鼻有青色，夜間煩躁身熱，是客風傷肺也，先宜發表，然後止吐。如唇口黑色，多哭，喉中作聲，是傷脾，宜調脾止吐。如吐出夾清水，面青唇白，是胃寒，宜溫胃木香餅、助胃丸之類。如早夜發熱，不睡多啼，則將發驚矣，急宜調胃補胃補脾，人參溫中之藥，參苓白朮散、緩驚餅子、鎮驚丸、調中正氣等劑治之，切莫孟浪可也。</p>
<p><u>泄瀉</u></p>
<p>泄瀉之症，皆脾胃不調，或寒或熱，或過傷乳食，或素有蟲積所致。</p>
<p>若面色痿黃，肚脹腳細弱，頭大項小，肌肉消瘦，貪餐妒食，瀉出或黃或白，或稀或稠，其臭異常，其瀉有時或二日、三日一次，腹似蜘蛛，瀉去頗軟，自瀉自止，此釀瀉也。釀者，如酒之意，皆疳積為病，宜蘆薈丸、肥兒丸，多服後，調脾自安。若瀉出青綠色者，此肝來侮脾，將發驚也。</p>
<p>若初瀉出色黃，良久變而為青，乃脾虛而受制於肝也。此等症，三五次即困乏，治之稍緩，即成慢驚風。急先溫其臟氣，調其胃氣，平順三焦，和正榮衛，如瀉不能止，且先投其補脾益黃散、參苓白朮散加肉豆蔻、訶子之藥，止之後，徐調理。若困乏，四肢厥冷，目無睛光，鼻中乾燥，則逆症也，附子理中湯之類，宜酌量用之。如遲，過投熱藥，瀉止則痢作無疑矣，須當詳審。</p>
<p>又有吐瀉並作者，身體壯熱，不思乳食，大便白色，或所出物不化，此傷食也。當先消導之，後與助胃調脾。若身溫，或冷不思乳食，大便青白色，乳食不化，此上實下虛，尤當兼其所現之症治之。大要補脾益黃散、參苓白朮散為先也。</p>
<p>又有吐瀉並作，身熱多睡，吐痰咳嗽，能食乳，大便稀黃，渴欲飲水，胃虛而有風熱之故。當先與白朮散，生胃中津液，以止其渴；後以抱龍丸發散風熱；更服養脾胃之劑。</p>
<p><u>痢症</u></p>
<p>痢症不同，非有積滯，終不能成，須當辨其致病之由。大要分陰陽，行滯氣，消積消熱，補脾開胃進食為主。蓋陰陽一分，腸胃自厚，故五苓散、胃苓湯必先服之。一二日間，元氣未虛者，以大承氣湯下之。此通因通用之法，切不可驟用補藥，亦不可用澀藥，至變作禁口、刮腸等痢，為害非淺。</p>
<p>冷痢者，脾胃虛寒停滯，物冷不化，遂下，或青或白，凍沫夾水腹痛者是也。治宜胃苓湯加白芍藥、理中湯、參苓白朮散、胃風湯、木香餅之類，屢效。</p>
<p>熱痢者，胃中濕熱，凝蓄不散，乘於血分，而散於大腸，故下或赤或黃腥臭，或多或少腹中窘痛，裡急後重，或身發熱，噁心口渴，不思飲食者是也。宜五苓散加車前子，次香連丸、芍藥甘草湯、不換金正氣散、人參、赤茯苓、薑棗，後以參苓白朮散調補，無不愈者。</p>
<p>疳痢者，過餐冷肥甘油膩之物，或乳食並進，其下黃白色，腹不痛，下無時度，或二三日一次，或一日數次，貪食妒食，目無睛光，肌肉羸瘦，發漸脫落者是也。治宜香連丸、木香肥兒丸、參苓白朮散之類。</p>
<p>驚痢者，因驚積熱傳入臟腑，故印堂眉面觀病之間俱有青色，其下青多黃少，或如苔蘚，或如痰涎，睡中多哭者是也。宜五苓散加木通，或一散利其小便後，以胃苓湯去桂並抱龍丸、香連丸、緩驚紅餅子治之。冷熱不調者，因腸胃間或傷冷熱，或晝涼夜熱，氣急發渴，目胞浮腫，肚腹脹硬，其下赤白不一，或兼青白，或如魚腦，酸臭或稀散成凍，或純水交集，惡食者是也。治宜五苓散、胃風湯、或消積丸下之；下後五苓散加黃連、白芍藥、枳殼治之；仍以錢氏白朮散調自愈。純血痢者，糞少血多，色鮮，或紫或黯，午後身微熱，或能食，或不能食，服止痢止血之藥不效者，此脾家受病已深，脾病而肺亦病，遂不能統制其血，聽其乘入大腸之故。治當消食補脾，啟脾丸、消積丸、保和丸、白朮散之類，加以黃芩、當歸、白芍、滑石、山楂、神麯、麥牙、陳皮、枳殼等藥治之。又有風邪下陷者，升提之大要以涼血活血為主，此略加地榆少許借意而止之為妙。如發熱者，更加黃芩，少加黃連；血虛者，四物湯；元氣形體羸弱者，參苓白朮散調補之。</p>
<p>大概先水瀉後痢者難愈，先痢後瀉者易愈；脈微小者易治，浮洪數大者難治。懸絕者死，滑者生。</p>
<p><u>瘧症</u></p>
<p>瘧症不一，有痰、食、勞、暑、鬼、障、寒、溫、濕、牝、痰之症不同，六經、五臟、三陰之各一。有一日一發，二日一發，有間一日一發，有間二日一發；有日與夜各發；有上半日發；有下半日發及或發於夜者；有有汗、有無汗者；先寒後熱者；先熱後寒者，皆當詳辨而治之。</p>
<p>如胸膈有痰，心下脹滿，氣逆煩嘔，此痰瘧也。二陳湯加柴胡、黃芩、枳實之類治之。</p>
<p>胸膈不和，肚腹疼痛，吞酸噯氣，吐水，此食瘧也。和中保安丸加青皮、柴胡、檳榔並五苓散、異功散之類治之。</p>
<p>病愈未久，表裡俱虛，客邪未散，真氣不復，過勞即發，此勞瘧也。宜補中益氣湯、四君子湯少加柴胡、鱉甲治之。</p>
<p>面垢口渴，小便赤，大便秘，肌熱額熱，微微汗出及上半身汗，此暑瘧也。十味香薷飲、五苓散治之。</p>
<p>進退無時，作止不一，或單熱，此鬼瘧也。鬼哭散、截瘧丹、清脾飲治之。</p>
<p>寒熱往來，或上半日，或申酉時，噁心乾嘔，此瘴瘧也。四獸飲治之。</p>
<p>若纏延日久不愈者，則兩脅之間結成癖積，名曰瘧毋。此皆初發時失於解表，內傷飲食，外感風邪所成。治宜鱉甲飲、四獸飲、歸脾湯主之。但先寒後熱者，名寒瘧；先熱後寒者，名溫瘧；身重熱，骨節痛，腹脹滿，自汗善嘔，名濕瘧；但寒不熱者，名牝瘧。皆因正氣之虛，感受邪氣，留而不發散之故也。必須先解表邪，後扶胃氣。丹溪謂：無汗要有汗，散邪為主；有汗要無汗，固正氣為主，此治之大略也。然亦不拘有汗無汗、三陰六經，悉以四君子湯、人參養胃湯為主，熱多加柴胡、山梔；寒多加乾薑、肉桂；有汗加黃耆、浮麥；無汗加蒼朮、葛根；元氣下陷者，加升麻、柴胡、鱉甲以主治之。慎勿泥於時俗之說，以藥露冷而服，致傷元氣變成浮腫瀉痢，致脾胃虛弱，飲食不進，遂成大害，戒之戒之。</p>
<p><u>羌活膏</u></p>
<p>茯苓（五錢）　羌活　獨活　前胡　柴胡（各七錢）　桔梗　枳殼　天麻（各五錢）　川芎（七錢）　地骨皮　薄荷　甘草（各三錢）</p>
<p>上為細末，煉蜜丸如芡實大。每服一丸，不拘時，用生薑湯化下。</p>
<p><u>前胡半夏丸</u></p>
<p>紫蘇（一兩二錢）　乾葛　陳皮　枳殼　半夏曲　桔梗　前胡（各一兩）　甘草（三錢）　金沸草　款冬花（各七錢）</p>
<p>上為細末，煉蜜丸如芡實大。每服一丸，不拘時，用生薑湯化開服。</p>
<p><u>香砂保安丸</u></p>
<p>香附（炒，四兩）　砂仁（炒）　白朮（炒）　神麯（炒）　麥芽（炒，各二兩）　山楂（三兩）　益智　陳皮（各一兩半）　木香　檳榔　使君子（炒，各一兩）　甘草（六錢）</p>
<p>上為末，煉蜜丸如芡實大。每服一丸，不拘時，用米飲化開服。</p>
<p><u>青橘餅子</u></p>
<p>木香（炒）　青皮　陳皮（去白，各二錢半）　厚朴（薑製，七錢半）　神麯（炒）　麥芽（炒，各五錢）</p>
<p>上為細末，煉蜜丸如芡實大，捏作餅子。每一餅，不拘時，用米湯化開下。</p>
<p><u>抱龍丸</u></p>
<p>牛膽南星（二兩）　天竺黃（五錢）　雄黃　辰砂　甘草（各二錢五分）　麝香（五分）</p>
<p>上為細末，煉蜜丸如芡實大。每服一丸，不拘時，用薄荷湯化下。</p>
<p><u>金薄鎮心丸</u></p>
<p>山藥　硃砂（各一兩）　牙硝（一錢半）　甘草　人參　茯苓（各五錢）　麝香（五錢）　片腦（一錢）　紫河車（黑豆水煮，二錢五分）</p>
<p>上用金箔十五片為衣，煉蜜丸如芡實大。每服一丸不拘時，用薄荷湯化開下。</p>
<p><u>瀉白散</u></p>
<p>桑白皮　地骨皮（各一兩）　甘草（炙，五錢）</p>
<p>上為細末，每服一二錢，入糯米一百粒，煎服。</p>
<p><u>白玉餅子</u></p>
<p>滑石　輕粉　半夏　南星（各一錢）　巴豆（二十四粒，去皮，用水一碗煎乾，將豆細研後，入眾藥和勻）</p>
<p>上用糯米飯丸如綠豆大，捏作餅子。三歲以上服五餅，三歲以下三餅，空心或臨臥時，蔥白湯下。</p>
<p><u>滾痰丸</u></p>
<p>天南星（薑製，一兩）　半夏（薑汁製，一兩半）　白牽牛末（六錢）　黃芩（一兩）　枳實（炒，八錢）　輕粉（炒，一錢）</p>
<p>上為末，薑汁糊為丸，桐子大。每服十丸，空心薑湯下。</p>
<p><u>天竺黃丸</u></p>
<p>天竺黃（一兩）　天南星（薑製，一兩半）　半夏（薑湯泡，五次）　天花粉（各二兩）</p>
<p>上為細末，煉蜜丸如芡實大。每一丸，薑湯磨化下。</p>
<p><u>五疳消積丸</u></p>
<p>青皮　陳皮　香附（各二兩）　山楂　三稜　蓬朮　乾薑　良薑　枳殼　神麯　麥牙（各一兩）　蘿蔔子（一兩）　吳茱萸（五錢）</p>
<p>上為末，麵糊丸，如粟大。每服一二十丸，空心白湯下。</p>
<p><u>挨積丸</u></p>
<p>三稜　丁皮（各七錢半）　乾薑（炮，一錢）　巴豆（去油淨，五錢）　青皮　丁香（各二錢半）</p>
<p>上為末，醋糊丸，如粟米大。每服一二錢，食前薑湯送下，量病加減。</p>
<p><u>香連胃苓丸</u></p>
<p>白朮（炒，一兩）　茯苓　厚朴　陳皮　蒼朮　白芍（各五錢）　黃連（六錢）　豬苓　澤瀉（各七錢）　木香　甘草（炙，各二錢）</p>
<p>上為末，煉蜜丸，如芡實大。每服一丸，不拘時，用燈心、老米同煎湯化下。</p>
<p><u>胃苓丸</u></p>
<p>蒼朮（二兩半）　厚朴（二兩）　陳皮　白朮　官桂（各一兩）　豬苓　澤瀉（各二兩）　甘草　茯苓（各一兩半）</p>
<p>上咀片為末。每服二錢，姜三片，燈心一十根，老米六十粒，煎服。</p>
<p><u>大承氣湯</u></p>
<p>大黃　芒硝（各五錢）　厚朴（一兩）　枳實（二枚）</p>
<p>上服二錢，姜三片，水一鍾，煎三分，不拘時服。</p>
<p><u>木香檳榔丸</u></p>
<p>郁李仁（去皮）　皂角（去皮，酥炙）　半夏（泡）　枳殼　青皮　杏仁（去皮尖）　木香　檳榔（各等分）</p>
<p>上為細末，另將皂角四兩，用水一碗熬成膏，入熟蜜少許，丸綠豆大。每服十丸，薑湯下。</p>
<p><u>五苓散</u></p>
<p>白朮（炒，二兩）　茯苓　澤瀉（各一兩半）　豬苓（一兩）　官桂（三錢）</p>
<p>上為細末。每服一二匙，燈心湯調化，空心服。</p>
<p><u>天水散</u></p>
<p>滑石（水飛，六兩）　甘草（一兩）</p>
<p>上為細末，清水不拘調下。</p>
<p><u>香薷飲</u></p>
<p>香薷　白扁豆（各三錢）　厚朴　陳皮（各一錢）　甘草（五分）</p>
<p>上用水煎服。</p>
<p><u>藿香正氣散</u></p>
<p>大腹皮（洗）　白芷　半夏（泡，七次）　紫蘇　白茯苓（各五錢）　厚朴（薑製）　白朮　陳皮（各一兩）　桔梗　藿香（各一兩半）　甘草（炙，一兩）</p>
<p>上銼散。每服二錢，姜三片，棗二枚，同煎服。</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓　甘草（各等分）</p>
<p>上水煎，加薑、棗煎亦可。</p>
<p><u>木香餅</u></p>
<p>木香　檳榔　白豆蔻（去殼）　青黛（各一錢半）　麝香（一錢）　續隨子（三錢）　蝦蟆（燒存性，二錢）</p>
<p>上為末，煉蜜丸，如芡實大。每服一丸，食前清米湯下。</p>
<p><u>參苓白朮散</u></p>
<p>人參（一兩）　白朮（三兩半）　石蓮子肉（一兩半）　山藥（二兩）　蓮肉（一兩）　桔梗（五錢）　白茯苓（二兩半）　薏苡仁（炒，二兩）　甘草（炙，五錢）</p>
<p>上為末，每服二三錢，清米或糖湯調下，隨意加用。</p>
<p><u>助胃丸</u></p>
<p>人參　白朮　茯苓　縮砂　肉豆蔻（麵煨去油，一個）　山藥　甘草（炙，各三兩）　丁香（五粒）　沉香　木香（各一錢）</p>
<p>上為細末，煉蜜丸如芡實大。每服一丸，用薑湯化下。</p>
<p><u>惺惺散</u></p>
<p>桔梗　人參　細辛　白朮　天花粉　白茯苓　川芎　甘草（各等分）</p>
<p>上銼散，每服二錢，水半盞，生薑、薄荷各少許，煎至三分，不拘時服。如傷風無汗，加蔥白、薄荷煎服。</p>
<p><u>保和丸</u></p>
<p>神麯（炒）　山楂　半夏　茯苓（各一兩）　連翹　陳皮　卜子（各五錢）</p>
<p>上為細末，粥丸如桐子大。每服二三十丸，薑湯下。</p>
<p><u>清寧散</u></p>
<p>羌活（二兩）　防風（一兩）　當歸（二兩，酒洗）　大黃（二兩，蒸）　川芎（一兩半）　山梔（炒黑，一兩）　龍膽草（五錢）</p>
<p>上為細末，煉蜜丸，用清湯調服，隨意大小加減。</p>
<p><u>錢氏白朮散</u></p>
<p>人參　白朮　茯苓　藿香　乾葛（各三錢）　甘草（一錢）　木香（少許）</p>
<p>上銼散，生薑三片，水一鍾，煎四五分溫服。</p>
<p><u>瀉肝散</u></p>
<p>軟柴胡　甘草（各一錢）　當歸　白朮　白茯苓（各一錢五分）　鉤藤（二錢）</p>
<p>上銼散，白水煎，母子同服。</p>
<p><u>牛黃清心丸</u></p>
<p>牛黃（一錢二分）　羚羊角（五分）　白芍（一兩）　白茯苓　犀角　甘草（各五錢）　乾山藥（炒，七錢）　黃芩　人參　桔梗（各三錢）　雄黃（水飛，三錢）　柴胡（二錢五分）　川芎（一錢五分）　麥冬（五十粒）　神麯（炒，一兩）　阿膠（炒，二錢半）　麝香（炒，二錢半）　冰片（三分）　白朮（一兩半）　黑豆（炒，七錢）　乾薑（炒，二錢半）</p>
<p>上為末，煉蜜丸如芡實大，金箔為衣。每服一丸，竹葉薄荷湯化開，空心服。</p>
<p><u>琥珀抱龍丸</u></p>
<p>琥珀（燈心，同研）　雄黃（各五錢）　天竺黃（七錢）　辰砂（三錢）　膽星（一兩三錢）　乾山藥（七錢）　麝香（五分）　白茯苓（一兩）　姜蠶（炒去絲嘴，四錢）　全蠍（去毒，炙，三錢）　薄荷（三錢）</p>
<p>上為細末，水丸如芡實大。每服一丸，用燈心湯、薄荷湯化開，不拘時服。</p>
<p><u>瀉肺湯</u></p>
<p>桑白皮　地骨皮　黃芩　甘草（各等分）</p>
<p>上用水煎服。</p>
<p><u>地黃丸</u></p>
<p>熟地黃（二兩半）　山茱萸（肉一兩）　乾山藥（一兩）　澤瀉（八錢）　牡丹皮（六錢）　白茯苓（八錢）</p>
<p>上為細末，量加米糊為丸如桐子大。每服一二十丸，空心溫湯送下。</p>
<p><u>涼驚丸</u></p>
<p>川芎（四錢）　大黃（五錢）　防風（二錢）　鉤藤（二錢）　硃砂（一錢）　薄荷（一錢）　羌活（一錢）</p>
<p>上為末，煉蜜丸如桐子大。每服十四丸，空心蜜湯送下。</p>
<p><u>腥脾散</u></p>
<p>人參（一錢）　白附子（泡）　天麻（煨）　白茯苓（各八錢）　甘草（炙，五分）　木香（五分）　全蠍（去尾，六分）　石蓮肉（一錢）　肉豆蔻（麵包煨，一錢）　白朮（一錢二分）　陳皮（七分）　石菖蒲（八分）　乾山藥（一錢）　南星（薑製，一錢）　砂仁（六分）　丁香（五分）</p>
<p>上銼散，姜三片，棗一枚，水煎服。量大小加減。</p>
<p><u>附子理中湯</u></p>
<p>白朮（炒，一錢半）　人參（一錢）　乾薑（一錢）　甘草（五分）　熟附子（多少隨病虛實輕重加減）</p>
<p>上用水，加薑、棗同煎服。</p>
<p><u>蘇合香丸</u></p>
<p>蘇合香（酒熬成膏）　安息香（同上制）　乳香　檀香　沉香　丁香　青木香　麝香　香附（各四錢）　硃砂　人參　白朮　犀角　蓽澄茄　訶子（炮，各一兩）　龍腦（二錢）</p>
<p>上為細末，除蘇合、安息香外，用酒浸透，入瓶內，湯蒸透入藥末，煉蜜丸如芡實大。每服一丸，薑湯化送下。</p>
<p><u>五疳保童丸</u></p>
<p>蟾頭（一個，炙黃）　蘆薈（三錢）　胡連（二錢）　熊膽（一錢）　麝香（五分）　黃連（炒）　龍膽草　雄黃（水飛）　青皮（炒）　五倍子　夜明砂（微砂）　青黛　苦楝根　天將手（炒，各二錢五分）　白鱔頭（炙黃，如無，用蕪荑代之）</p>
<p>上為細末，糯米飯為丸，如粟米大。一歲二丸，用米飯下，不拘時服，日三服。</p>
<p><u>消疳肥兒丸</u></p>
<p>蘆薈（一錢）　胡連　使君子　青皮（炒）　黃連　陳皮　蓬朮　三稜（煨）　龍膽草　白朮（炒）　砂仁　山楂　白茯苓　木香　香附（炒）　檳榔　夜明砂（炒）　蒼朮（米泔浸，炒，各三錢）　訶皮（二個，炒）　柴胡（二錢）　神麯（炒）　麥芽（炒，各五錢）</p>
<p>上為細末，蒸餅為丸如黍米大，食遠用米飲送下。</p>
<p><u>木香蘆薈丸</u></p>
<p>蘆薈（一錢）　蕪荑　檳榔　黃連（炒）　青黛（各二錢半）　胡連（五錢）　木香（一錢）　蟬蛻（去足，二十一個）</p>
<p>上為細末，豬膽汁為丸，如黍米大，食遠米飲下。</p>
<p><u>追蟲丸</u></p>
<p>新苦楝根皮　貫仲（綠木者）　木香　桃仁（炒）　蕪荑（炒）　檳榔（各一錢）　鶴蝨（炒，一錢五分）　輕粉　蟬頭（各一錢）　使君子（去殼，二十五個）　當歸　黃連（炒，各一錢）</p>
<p>上為末，麵糊丸如黍米大，用肉汁食前服。</p>
<p><u>使君子丸</u></p>
<p>使君子（一兩）　甘草　厚朴（薑製炒）　青黛（五錢）　訶子肉（五錢，一半煨）　陳皮（二錢半）</p>
<p>上為細末，飯糊丸如芡實大。每服四五丸，先以豬肉汁飲之，後服藥。</p>
<p><u>人中白散</u></p>
<p>人中白（煅過多）　雄黃（中）　枯礬（少）　黃柏（多）</p>
<p>上為細末，先以溫鹽水漱口，後搽藥。</p>
<p><u>雞金散</u></p>
<p>雞內金（即雞肫內粗皮，陰乾，一兩）　白芷　銅綠（各五錢）　麝香</p>
<p>上為細末，先以溫鹽水灌，後敷藥入。</p>

<h3>附（上用方）</h3>
<p><u>抱龍丸</u></p>
<p>治小兒傷風發熱，咳嗽不寧，跌僕受驚，痰涎壅盛，心神欠安之症。宜服之，用薄荷湯送下。</p>
<p>麝香（五分）　天竺黃（五錢）　雄黃（二錢）　硃砂（二錢五分）　牛膽南星（二兩）　甘草（三錢）</p>
<p><u>清寧丸</u></p>
<p>治小兒肺經有火，痰涎壅盛，喘急氣粗，咳嗽連綿不寧之症。宜服之，用燈心薄荷湯化下。</p>
<p>陳皮　枳殼　桔梗　前胡　杏仁（炒）　貝母　黃連　桑皮　山梔　花粉　黃芩　半夏（法制）　瓜蔞仁（各一兩半）　膽南星　青黛（各一兩）　甘草（五錢）</p>
<p><u>羌活膏</u></p>
<p>治小兒感冒風寒，發熱氣喘，頭痛不利，渾身拘急，痘疹已發未發之際，皆可服之。用薑湯化下。</p>
<p>麻黃　羌活　獨活　柴胡　川芎　枳殼　桔梗（各一兩）　前胡（一兩）　茯苓（六錢）　甘草（五錢）</p>
<p><u>鎮肝丸</u></p>
<p>治小兒肝經有熱，兩目暴腫，睛色赤紅，時多淚下，及目常直視連劄不搐之症。並宜用竹葉燈心同煎湯下。</p>
<p>當歸　川芎　羌活　防風　膽草　梔子仁　生地　膽星　大黃　天竺黃（各八錢）　硃砂（一錢五分）</p>
<p><u>前胡半夏丸</u></p>
<p>治小兒傷風發熱，四時咳嗽，氣息喘急，痰涎壅盛，胸膈不利之症。皆宜用生薑薄荷湯化下。</p>
<p>紫蘇（一兩二錢）　乾葛　陳皮　前胡　半夏面　枳殼　杏仁（炒）　桔梗（各一兩）　茯苓　柴胡　桑白皮　黃芩（各八錢）　金沸草（七錢）　甘草（五錢）</p>
<p><u>犀角解毒丸</u></p>
<p>治小兒口舌生瘡，咽喉腫痛，遍身瘡癤，鼻衄痘疹，餘毒不盡之症。宜用燈心薄荷湯化下。</p>
<p>犀角　防風　荊芥　芍藥　連翹　黃芩　桔梗　薄荷　甘草末（各五錢）　生地黃　當歸　牛蒡子（各七錢）</p>
<p><u>胃苓和中丸</u></p>
<p>治小兒脾胃欠和，飲食不美，水土不服，或生冷失調，小水不利，大便泄瀉之症，皆可服之。用燈心老米湯化下。</p>
<p>蒼朮　白朮（各三兩）　厚朴（一兩五分）　陳皮　豬苓　澤瀉　茯苓　車前子　木通（各二兩）　甘草（炙，一兩半）</p>
<p><u>參朮健脾丸</u></p>
<p>治小兒脾胃虛弱，嗜臥不食，面黃肌瘦，水土不服，大便瀉久，完穀不化之症，皆可治之。燈心老米湯下。</p>
<p>蒼朮（四兩，米泔浸炒）　厚朴（二兩，薑汁炒）　陳皮　神麯（炒）　麥芽（炒，各二兩五錢）　白茯苓（炒，二兩）　白朮（炒，二兩）　甘草（炙，一兩）</p>
<p><u>和中保安丸</u></p>
<p>治小兒停食積滯，飲食少進，胸膈飽悶，夜臥不寧，用清米湯下。如大便初瀉，或赤白痢疾，加燈心老米湯下。如嘔吐噁心，肚腹作痛，則用生薑湯。</p>
<p>香附（四兩）　砂仁（四錢）　青皮　神麯　麥芽　白朮　檳榔末（各二兩）　甘草末（二兩）　山楂　陳皮（各三兩）　厚朴　蒼朮　三稜　蘿蔔子（炒）　黃連（各一兩）</p>
<p><u>牛黃鎮驚丸</u></p>
<p>治小兒一切急慢驚風，身體壯熱，多睡驚悸，手足搐逆，痰涎不利，人事不醒之症。用生薑薄荷湯下。</p>
<p>天竺黃　膽星　白芍　青皮　薄荷　桔梗　牛黃　陳皮　防風　醬瓜天麻　黃芩　黃連　檳榔　甘草末　大黃（各等分）</p>
<p><u>金箔鎮心丸</u></p>
<p>治小兒驚熱，鎮心安神，不拘時用，薄荷湯下。</p>
<p>山藥（一兩半）　硃砂（一兩）　牙硝（一錢半）　甘草（五錢）　人參（五錢）　茯苓（五錢）　麝香（五分）　片腦（一錢）　金箔（十五片為衣）　紫河車（黑豆水煮軟，二錢五分）</p>
<p><u>緩驚餅子</u></p>
<p>治小兒便青，有驚肚，腹疼痛，不拘時服。</p>
<p>人參　茯苓　辰砂　赤石脂　山藥（各二錢）　白朮（一錢）　麝香　乳香（各三錢）</p>
<p><u>利驚丸</u>　化毒丸即此也</p>
<p>涼驚、溫驚、利驚有分別，不拘時用。</p>
<p>天竺黃　青黛　膽星（各一錢）　牽牛　辰砂（各五分）</p>
<p><u>牛黃丸</u></p>
<p>治小兒夜啼，多驚煩熱，不拘時服。半年者，每服五丸。量大小加減。</p>
<p>牛黃　硃砂　蘆薈　麝香　鉤藤（各一錢）　姜蠶（炒，五錢）　蝸牛（炒黃）　龍腦　當歸　代赭石　赤芍（各一錢）</p>
<p><u>芍藥丸</u></p>
<p>治胎寒大便青，不欲食，不拘時用。</p>
<p>芍藥　當歸　芎藭　人參（各三兩）　甘草（炙，一兩）</p>
<p><u>桃紅丸</u></p>
<p>治小兒驚啼，眠睡不穩，不拘時用，薄荷湯下。</p>
<p>丹砂　麝香（各五分）　白附子（半枚二分半）　姜蠶（炒，二分半）　全蠍（炒，二分半）　膩粉（七分）　金箔　銀箔（各二片）</p>
<p><u>養脾丸</u></p>
<p>治小兒軀啼，脾胃虛冷，心腹疼痛，胸膈滿悶，不拘時用，生薑湯化下。</p>
<p>乾薑（泡）　縮砂　白朮（各一錢）　甘草（炙，三錢）　茯苓　人參　麥芽（各五錢）</p>
<p><u>香連胃苓丸</u></p>
<p>治小兒下痢赤白，腹痛口乾，不拘時，清米湯化下。</p>
<p>白朮（一兩）　豬苓　澤瀉（各七錢）　黃連（炒，六錢）　茯苓　陳皮　厚朴　蒼朮　白朮（各五錢）　木香　甘草（炙，各三錢）</p>
<p><u>安神丸</u></p>
<p>治小兒心虛疳熱，面黃頰赤，壯熱驚啼，精神恍惚不寧，不拘時用，砂糖湯下。</p>
<p>麥門冬　牙硝　白茯苓　山藥　寒水石（各五錢半）　甘草（五錢）　龍腦（一字研）</p>
<p><u>柳花散</u></p>
<p>治小兒口舌生瘡，每用少許，敷貼患處。</p>
<p>黃連　黃柏　青黛　密佗僧　玄胡索（各等分，為末）</p>
<p><u>五福化毒丹</u></p>
<p>治胎熱胎毒，口舌生瘡，不拘時用，薄荷湯下。</p>
<p>玄參（一兩）　桔梗（八錢）　人參　赤茯苓（各五錢）　青黛　甘草（各一錢）　牙硝（另研）　麝香（各五分）</p>
<p><u>沒石子丸</u></p>
<p>治小兒熱瀉久痢，皆可服之。</p>
<p>黃連（炒，二錢半）　沒石子（大者，五枚）　訶子（七個，炮）　木香（一錢）　肉蔻（七個，炮）</p>
<p>丸如黍米大。每服一十丸，不拘時用，白滾湯下。</p>
<p><u>紫霜丸</u></p>
<p>治變蒸發熱不解及夾食停冷，溫壯汗後，熱不歇及腹中有痰癖，乳哺不進，乳則咽食癇，先寒後熱者，用麵糊丸麻子大。每服一粒，乳汁下。</p>
<p>代赭石（一兩，醋浸七次，研）　赤石脂（一兩，醋浸七次，研）　杏仁（五十粒，去皮）　巴豆（三十粒，去膜油淨）</p>
<p><u>保和丸</u></p>
<p>和脾胃消食，此方與《奇效良方》不同。</p>
<p>《奇效良方》錄於後。</p>
<p>白朮　半夏　陳皮　白茯苓（各十二兩）　山楂（二斤二兩）　神麯（一斤八兩）　連翹　蘿蔔子（各六兩）</p>
<p>水發為丸，如麻子大。每服三五分，不拘時用，米湯下。</p>
<p><u>消積丸</u></p>
<p>消積，化乳食。</p>
<p>宿砂（炒）　橘皮（炒）　三稜（煨）　蓬朮（煨）　神麯（炒）　麥芽（炒）　甘草（炙，各一兩半）　香附（炒，一兩）</p>
<p>湯浸蒸餅丸如麻子大。每二十三丸，不拘時用，白滾湯下。量歲長幼加減。</p>
<p><u>蘆薈丸</u></p>
<p>治小兒積聚，清熱消肝，健脾胃，爽精神，美飲食，潤肌膚，大有神效。不拘時用，滾白湯下。</p>
<p>蘆薈　胡黃連　神麯（炒）　白朮（炒）　當歸　芍藥　青皮　使君子　香附　三稜（煨）　黃連　蓬朮（煨）　檳榔　蘿蔔子　麥芽（炒）　木香　甘草（各等分，末為丸）</p>
<p><u>肥兒丸</u></p>
<p>治小兒疳病，臟腑胃虛蟲動，日漸羸瘦，不拘時，白滾湯下。用麵糊為丸。</p>
<p>黃連　神面（炒，各五錢）　肉豆蔻（麵包煨）　麥芽（炒）　使君子（各二錢）　木香（一錢）　檳榔（一個）</p>
<p><u>香橘餅子</u></p>
<p>治小兒食積腹脹作痛，面黃肌瘦不思飲食並皆治之</p>
<p>木香（二錢，炮）　青皮（三錢）　陳皮（三錢）　神麯（炒，五錢）　厚朴（薑製，七錢半）　麥芽（炒，五錢）</p>
<p>上為末，煉蜜丸，捏作餅子，不拘時用，清米湯化下。</p>
<p><u>至聖保命丹</u></p>
<p>治胎驚內吊，肚腹堅硬，目睛上視，手足抽掣，角弓反張，痰涎壅盛，一切急慢驚風，並皆治之。</p>
<p>全蠍（十四個）　姜蠶（直者）　白附子　天南星（炮）　硃砂（研）　麝香（研，各一錢）　防風　天麻（各二錢）　蟬蛻（去泥，一錢）　金箔（十五片為衣）</p>
<p>上為末，粳米飯取中心者，搜和丸，每一兩作四十丸。不拘時用，薄荷湯下。</p>
<p><u>天麻防風丸</u></p>
<p>治小兒一切驚風，壯熱，痰涎壅盛，並皆治之。</p>
<p>天麻（煨）　防風　人參（各一兩）　牛黃（一錢）　硃砂　雄黃　麝香（各二錢半）　姜蠶（去絲嘴，炒）　全蠍（去尾炒，各五分）</p>
<p>上為末，煉蜜丸。不拘時用，薄荷湯下。</p>
<p><u>保和丸</u></p>
<p>治小兒脾胃虛弱，飲食不能克化，日久羸瘦。</p>
<p>山楂肉（四兩）　陳皮　茯苓　半夏曲（各五錢）　蘿蔔子（二錢半）　使君子　白朮（炒）　神麯（炒）　麥芽（炒，各一兩）　砂仁（四兩四錢）　木香（二兩二錢四分）　黃連（四兩五錢）</p>
<p>上為末，水發丸。每服一錢，不拘時用，米湯下。</p>
<p><u>犀角丸</u></p>
<p>治小兒風熱痰實，面黃頰赤，大小便秘澀，三焦邪熱，臟腑蘊毒，此藥疏導極穩。</p>
<p>生犀角（一錢半）　人參（五錢）　黃連　枳實（麩炒，各一兩）　大黃（二兩，酒浸，切作大片，用巴豆一粒，貼在大黃上，用絹包裹，湯鍋內蒸過，取出去巴豆，將大黃曬乾，研末）</p>
<p>上為細末，煉蜜丸如麻子大。每服一二十丸，臨臥熟水下。未動再服。</p>
<p><u>消疳健脾和中丸</u></p>
<p>白朮　茯苓　陳皮　芍藥　枳實（各五錢）　山楂　黃連　厚朴　蕪荑　使君子　麥芽　香附（各三錢）</p>
<p>上為末，煉蜜丸。每服一丸，用清米湯或白滾湯，食遠下。</p>
<p><u>金不換</u></p>
<p>治小兒九種心疼。</p>
<p>雄黃（一錢）　焰硝（三錢）　硫黃（一錢）　白礬（五分，飛過）</p>
<p>上為末，丸如粟米大。</p>
<p><u>天王補心丹</u></p>
<p>寧心保神，益血固精，壯力強志，健忘，清三焦，化痰涎，祛煩熱，除驚悸，療咽乾。</p>
<p>天門冬（湯洗，去心）　五味子（去梗）　石菖蒲（去毛）　桔梗（去頭，泔洗）　麥門冬（湯泡，去心）　玄參　茯神（酒鹽拌，炒去絲）　酸棗仁　遠志（甘草水，煮去梗）　人參　當歸（酒洗，去泥）　丹參　熟地黃（去梢，酒洗）　生地黃　柏子仁（去殼，各等分）</p>
<p>上為細末，煉蜜丸，每一兩作十丸，金箔為衣。每服一丸，用燈心紅棗湯，食遠化下。</p>
<p><u>辰砂異功膏</u></p>
<p>治小兒夏月傷暑，水瀉熱瀉，口渴未開葷者更妙。又名術苓膏。</p>
<p>白朮　茯苓　豬苓　澤瀉　滑石（各一兩）</p>
<p>祖云：去滑石加白朮更妙。</p>
<p><u>安胃和中丸</u></p>
<p>半夏曲　陳皮　枳實　青皮　厚朴　黃連　砂仁　香附　檳榔　茯苓　山楂　大黃（各等分，為末）</p>
<p><u>琥珀抱龍丸</u></p>
<p>琥珀　天竺黃　辰砂　雄黃　山藥　茯苓　麝香　姜蠶　膽南星　全蠍　薄荷（各等分，為末）</p>
<p><u>敗毒散</u></p>
<p>治一切腫毒瘡癤。</p>
<p>皂角（炒去尖）　金銀花　陳皮（各三錢）　防風　連翹　黃芩　赤芍　白芷　川芎（各五錢）　甘草（四錢）　貝母　乳香　當歸尾（各一錢）　川山甲　明沒藥　蛤粉（炒，各二錢）　天花粉（八分）</p>
<p>上分作八貼，每服小二鍾，煎八分，入白酒半杯再煎三五沸，看瘡上下服之。</p>
<p><u>又一方蘆薈丸</u></p>
<p>神麯　黃連　白朮　檳榔　麥芽　使君子　青皮　陳皮　龍膽　三稜　蓬朮　香附　枳實　蒼朮　厚朴　蕪荑　蘿蔔子（各七錢半）　山楂（一兩）　柴胡　青黛（各五錢）　蘆薈（六錢）　木香（四錢）</p>
<p><u>又一方參朮健脾丸</u></p>
<p>人參　茯苓　白朮　山藥　苡仁　扁豆　澤瀉　蕪荑　砂仁（各五錢）　麥芽（七錢半）　木香（四錢）　豆蔻（六錢）　山楂（一兩半）　陳皮（一兩）　甘草（三錢）　使君子（五錢）</p>

<h1>幼幼集附本草藥性</h1>
<p><u>升麻</u>　味苦、平，性微寒，升也，陰中之陽也。引蔥白散手陽明之風邪；引石羔止足陽明之齒痛；引諸藥遊行四經升陽氣於至陰之下，因名之曰升麻。</p>
<p><u>羌活</u>　味苦平，性微溫，升也，陰中之陽也。散肌表八風之邪；利周身百節之痛；排巨陽肉腐之疽；治新舊風濕之症，乃手足太陽表裡引經藥也。</p>
<p><u>白芷</u>　味辛，性溫，升也，陽也。去頭面皮膚之風，除皮膚燥癢之痹，止足陽明頭痛之邪，為手太陰引經之劑，起痘瘡頂陷、退風疹、疏熱癢之要藥也。</p>
<p><u>防風</u>　味甘辛，性溫，升也，陽也。以氣味能瀉肺金，以體用通療諸風，治痘發驚者與天麻同用。</p>
<p><u>葛根</u>　味甘平，性寒，可升可降，陽中之陰也。發傷寒之表邪，升痘疹之熱毒，理胃虛，解煩渴，乃痘瘡已見形、未見形之要藥也，須白色如粉者佳。</p>
<p><u>人參</u>　味甘，氣溫，升也，陽也。能益元氣而和中，生津液而止口渴，治痘之聖藥，非此莫能固里。量人大小多寡用之。若裡實毒盛者，不宜用也。須擇明潤者佳，乾枯碎小者無力。</p>
<p><u>黃耆</u>　味甘，氣溫，升也，陽也。能益元氣而補腎，溫肉分而實肌。治痘賴此里托外負，量人大小多寡用之。若表實者，不宜用。須箭桿綿軟不油者佳。十日之後，痘發已足，不肯收斂，蜜炙隨意用。</p>
<p><u>甘草</u>　味甘平，氣微溫，陽也。能解諸毒而瀉火，健脾胃而和中。治痘賴以分理陰陽，佐正君臣之道也。寒則炙用，熱則生用，須擇堅實者佳。</p>
<p><u>官桂</u>　味辛熱，浮也，陽中之陽。能祛風邪而實腠理，和榮衛以固肌表。桂枝引藥力以上行，肉桂引藥力以下行，開榮衛，藉力以達於表。冬月夏月斟酌多寡用之。</p>
<p><u>川芎</u>　味辛，氣溫和也，陽也。能助清氣而升頭面，引參耆以補元陽。小如雀腦者佳。</p>
<p><u>當歸</u>　味甘辛，氣溫，可升可降，陽也。治各有條能，生血止血，活血養血，治痘賴以助血歸附氣位，必加芍藥以佐之，恐其活血流動，毒無定位。宜身大白淨者佳。酒洗，銼片，焙乾用。大便不實，不宜多用。</p>
<p><u>茯苓</u>　味甘淡，性溫，降也，陽中之陰也。能利竅而去濕，止渴而生津，治痘不可過用。惟瀉渴及毒不斂而發水疱者不禁。惟堅白大者佳。</p>
<p><u>白朮</u>　味甘，氣溫，可升降，陽也。能利水道而除濕，益脾胃而退熱，治痘不宜過多，非瀉痢發水疱者不加，漿毒溢盛不結痂者多用。宜於潛細白而堅者佳。</p>
<p><u>白芍藥</u>　味酸平，性寒，可升可降，陰也。能健脾氣而補表，止腹痛而收陰。治痘血散不歸，賴以收之而附氣也；痘解不斂賴以收之而成功也。宜白大者佳。須酒浸透，切片，微火炒過用。七日前少用，七日後大用。</p>
<p><u>紫草</u>　味苦氣寒，能補中氣而制諸邪，行痘毒而利九竅，瘡色白者不宜用。須紫茸染手者佳。若色紫赤毒盛者，五日前後皆不禁也。</p>
<p><u>陳皮</u>　味苦辛，氣溫，可升可降，陽也。能和中而益脾，消痰而行氣，不可多用。若去白而名橘紅者，專主消化痰涎，行氣壅滯，惟暫用之則可。以廣東陳久者佳。</p>
<p><u>麥門冬</u>　味苦甘平，氣微寒，陽中之微陰也。能清肺火而止渴，補心氣而生脈，治痘。宜白淨小者佳，須去心用之。</p>
<p><u>木香</u>　味苦辛，氣微溫，降也，陰中之陽也。能調氣而破堅，和胃而闢毒，若痘行氣助參耆之力，止瀉痢，而理後重，不可過於多也。宜如枯骨黏牙者佳。磨水用，或銼片同煎亦可。</p>
<p><u>肉豆蔻</u>　味辛氣溫，能止霍亂而溫中，治積冷而止瀉，非水瀉久痢不加，乃一時救急之要藥也。宜大而堅實者佳。麵裹煨熱，去面用。</p>
<p><u>鼠黏子</u>　一名牛蒡子。味辛，氣溫平，能潤肺而散氣，利咽而退腫。治痘，專解毒起頂，不可缺少者。微炒研細用。</p>
<p><u>荊芥穗</u>　味辛平，氣溫，陰中之陽也。能除風熱而消毒，清肌表而利咽，治痘，專退壅腫而解餘熱。宜穗不宜莖，香鮮者佳。</p>
<p><u>黃連</u>　味苦，氣寒，升也，陰中之陽也。能瀉心火而散痞，燥胃濕而厚腸。治痘，專退餘熱，毒解之後臉赤潮熱不可缺。宜川蜀堅實者佳。銼碎，酒炒用。</p>
<p><u>山楂子</u>　味甘酸，氣溫平，陰中之陽也。能寬氣消食，益脾去垢。治痘，專平氣解利參耆之滯。宜赤色肥大者佳。</p>
<p><u>糯米</u>　味甘氣溫，升也，陽也。治痘，專溫脾胃之中氣，不使毒內攻；制紫草之餘寒，不使味傷胃。宜粗大白色者佳。</p>
<p><u>黃陳米</u>　味甘氣溫，升也，陽也。治痘，專扶穀氣以助胃氣，益真氣而和胃氣。宜多年倉廩中香黃者佳。</p>
<p><u>生薑</u>　味辛氣溫，升也，陽也。能止嘔和中，助陽發表。治痘不可缺，以其力能助參耆之功也。宜老而生者佳。</p>
<p><u>天麻</u>　味辛平，性溫無毒，降也，陽也。專治痘疹首尾驚悸，祛諸風麻痹不仁。須明淨者佳。</p>
<p><u>大棗</u>　味甘平，性溫無毒，降也，陽也。助脈強神，大和脾胃。</p>
<p><u>紅花</u>　味辛，性溫無毒，陽也。逐惡血，生新血，活滯血，補虛血。</p>
<p><u>木通</u>　味甘平，性寒無毒，降也，陽中之陰也。瀉小腸火積而不散，利小腸熱閉而不通，瘡之熱盛毒重者，非此莫去。宜用淡黃色者。</p>
<p><u>連翹</u>　味苦平，性微寒，升也，陰也。瀉諸經之客熱，散諸腫之瘡瘍，排膿托裡，不可缺者。</p>
<p><u>厚朴</u>　味苦辛，性溫，可升可降，陰中之陽也。苦能下氣去實滿而消腹脹，溫能益氣除濕滿散結調中。</p>
<p><u>生地黃</u>　味甘苦，性寒，沉也，陰也。涼心火之血熱，瀉脾土之濕熱，止鼻中之衄熱，除五心之煩熱。</p>
<p><u>枳殼</u>　味苦酸，性微寒，沉也，陰也。消心下痞滿之痰，泄腹中滯塞之氣，推胃中隔宿之食，削腹內日久之積。須年深日久者佳。銼碎，麩炒過用。</p>
<p><u>桔梗</u>　味苦辛，性微溫，升也，陰中之陽也。止咽痛兼除鼻塞，利膈氣，通調水道，一為諸藥之舟楫，一為肺部之引經。</p>
<p><u>大黃</u>　味苦性寒，其性沉而不浮，其用走而不守，奪土鬱而無壅滯，定禍亂而治太平。若痘疹熱毒熾盛，煩躁引飲，二便不通，非此莫救。急救者不可缺。酒浸透，蒸熟，焙乾用之。</p>
<p><u>黃芩</u>　味苦平、性寒，可升可降，陰也。中枯而飄者，瀉肺火，消痰利氣；細實而堅者，瀉大腸火，養陰退陽；中枯而飄者，除風濕留熱於肌表；細實而堅者，滋化源，退熱於膀胱；酒浸透，銼片，微炒焦用，退肌表熱，以柴胡為使。</p>
<p><u>草決明</u>　味苦甘平，微寒，沉也，陰也。瀉肝熱，明目驅風。</p>
<p><u>半夏</u>　味辛平，生寒熟溫，有毒，降也，陽也。止嘔去痰涎，除濕和脾胃，定頭疼須生薑製過方可用。</p>
<p><u>木賊草</u>　味甘微苦，降也，陽也。瀉肝熱，開眼中雲翳，兼治腸風下血，女人赤白帶崩。</p>
<p><u>穀精草</u>　味辛溫，可升可降，陽也。破翳膜遮睛，兼治喉痹，止齒痛。</p>
<p><u>射干</u>　味苦平，微溫，降也，陰中之陽也。開喉止痛，明目消腫，專治咽閉。</p>
<p><u>貝母</u>　味辛苦平，微寒，可升可降，陽中之陰也。清痰下氣，止咳嗽，治肺虛。</p>

<h1>後序</h1>
<p>不佞遊學白下，即聞春沂先生之名，未識其面也。後於友人寓，獲識其面，未知其術也。及兒輩患痘甚惡，諸翳咸目為逆，獨先生目為險，日三顧而保全之，嗣是凡雜症，即先生一一治焉，靡不應手而愈，先生之術誠神矣哉。然業是術者，恆以九流自居，小道是泥，先生則素性慷慨足稱豪俠，以之積德為重而資身為輕也，故無論貴賤貧富，望風生快，飽德於中，互為傳誦，於是先生之名日益著。不佞謂先生與其著名於一時，孰若垂名於萬世，則述作似不可少，乃先生急於救人飲食，且不暇又奚暇及此，無何有事於犴狴，殆天假此於先生為述作計也。先生既出書果獲成，非唯先生酬其素志，即不佞之素志亦酬矣。不佞因請付諸梓，而先生並錢氏方俾不佞校而梓之，不佞因總集而目之曰幼幼。蓋先生前此頗艱嗣，息茲且幼，是取子輿氏幼吾幼以及人之幼之義，云：「爾書行，先生之德更溥矣哉。萬世之下，見先生之書，不啻識先生之面矣，果一時之足云。」</p>
<p><u>萬曆乙未孟秋望日錢唐胡文煥謹識</u></p>
