<header data-type="book">
<h1>醫學脈燈</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>常朝宜</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1749">公元1749年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>𧑄無一驗近今兩載，當未全瘳。每見各醫診脈雅不相符，及翻閱名醫《脈經》，始知叔和一書半屬高陽偽訣，真偽莫分，是以診視各異。爰將各書纂為一冊，以便觀覽。後有學者展卷焉，而脈之理得已，不必他求可也。</p>
<p><u>時乾隆十四年己巳六月上旬浣楓常朝宣書</u></p>

<h1>脈神（通一子著）</h1>
<p>脈者，血氣之神，邪正之鑑也。有諸內必形諸外，故血氣盛者，脈必盛；血氣衰者，脈必衰；無病者，脈必正；有病者，脈必乖。矧人之疾病，無過表、里、寒、熱、虛、實，只此六字業已盡之。六者之中，又惟虛實二字為最要。蓋凡以表症、里症、寒症、熱症，無不皆有虛實，既知表裡寒熱而復能以虛實二字決之，則千病萬病可以一貫矣。且治病六法，無逾攻補，用攻用補，無逾虛實。欲察虛實，無逾脈息。雖脈有二十四名，主病各異。然一脈能兼諸病，一病能兼諸脈。其中隱微，大有玄秘，正以諸脈中亦有虛實之變耳。言脈至此，有神存矣。倘不知要，而泛焉求跡，則毫釐千里，必多迷誤，故予特表此義。有如洪濤巨浪中，則在乎牢執舵杆；而病值危篤，則在乎專辨虛實。虛實得真，則標本陰陽，萬無一失。其或脈有疑似，又必兼症兼理，以察其孰客孰主、孰緩孰急。能知本末先後，是即神之至也矣。</p>
<p><u>十二經</u></p>
<p>手太陽小腸，手陽明大腸，手少陽三焦；手太陰肺，手少陰心，手厥陰心包絡；足太陽膀胱，足陽明胃，足少陽膽；足太陰脾，足少陰腎，足厥陰肝。</p>
<p><u>五臟正脈</u></p>
<p>肝脈弦，心脈鉤，脾脈代，肺脈毛，腎脈石。</p>
<p><u>五臟平脈</u></p>
<p>肝脈來，弱弱招招，如揭長竿末梢，曰肝平（乃弦長而兼和緩柔軟之象也）。</p>
<p>心脈來，累累如連珠，如循琅玕，曰心平。</p>
<p>脾脈來，和柔相離，如雞踐地，曰脾平。</p>
<p>肺脈來，厭厭聶聶，如落榆莢，曰肺平。</p>
<p>腎脈來，喘喘累累如鉤，按之而堅，曰腎平。</p>
<p><u>五臟病脈</u></p>
<p>肝脈來，盈實而滑，如循長竿，曰肝病（盈實而滑，弦之太過也。長竿無梢，失和緩之意。此弦多胃少，故肝病）。</p>
<p>心脈來，喘喘連屬，其中微曲，曰心病（至全曲，鉤多胃少之象，故心病）。</p>
<p>脾脈來，實而盈數，如雞舉足，曰脾病（如雞舉足，雖不能如踐地之和，亦不至如鳥距之疾，弱多胃少之象也）。</p>
<p>肺脈來，不上不下，如循雞毛，曰肺病（不上不下，澀之象也。如循雞羽，浮之象，毛多胃少，肺病將見也）。</p>
<p>腎脈來，如引葛，按之益堅，曰腎病（引葛者，牽引蔓之象也。按之益堅，則石多胃少，腎病矣）。</p>
<p><u>五臟死脈</u></p>
<p>肝脈來，急益勁，如張新弓弦，曰肝死（如新張弓弦，絕無胃脈也）。</p>
<p>心脈來，前曲後居，如操帶鉤，曰心死（前曲者，輕舉而堅大；後居者，重按而牢實也；操帶鉤者，狀其彈指之象，但鉤無胃氣矣）。</p>
<p>脾脈來，銳堅如鳥之啄，如鳥之距，如屋之漏，如水之流，曰脾死（鳥啄者，狀其硬；鳥距者，狀其急；屋漏者，亂也；水流者，散也。胃氣全無，脾死必矣）。</p>
<p>肺脈來，如物之浮，如風吹毛，曰肺死（如物之浮，則無根；如風吹毛，則散亂。但毛無胃氣，則肺絕矣）。</p>
<p>腎脈來，發如奪索，辟辟如彈石，曰腎死（索而曰奪，則互張而疾急，石而曰彈，堅勁而無倫矣。但石無胃氣，故腎死）。</p>
<p><u>五臟真脈</u></p>
<p>真脈，即死脈也。不見胃氣，乃名真藏脈。李士材云：凡真藏脈見者，肝至懸絕，十八日死。心至懸絕，九日死。肺至懸絕，十二日死。腎至懸絕，七日死。脾至懸絕，四日死。</p>
<p>真肝脈至，中外急，如循刀刃責然，如按琴瑟。</p>
<p>真心脈至，堅而搏，如循薏苡子，累累然。</p>
<p>真脾脈至，弱而乍數乍疏。</p>
<p>真肺脈至，大而虛，如毛羽中人膚。</p>
<p>真腎脈至，搏而絕，如彈石狀，辟辟然。</p>
<p><u>衝陽</u></p>
<p>衝陽者，胃脈也（一曰趺陽，在足面大指間五寸骨間動脈是也）。凡病勢危篤，當候衝陽，以驗其胃氣之有無。蓋土為萬物之母，資生之本也。故經曰：衝陽脈絕，死不治。</p>
<p><u>太谿</u></p>
<p>太谿者，腎脈也（在足後踝後跟骨上陷中動脈是也）。凡病勢危篤，當候太谿，以驗其腎氣之有無。蓋水為天一之元，資始之本也。故經曰：太谿絕，死不治。</p>
<p><u>太衝</u></p>
<p>太衝者，肝脈也（在足大指本節後二寸）。經曰：診病人太衝脈，可以決生死。</p>
<p>同按：《難經》曰：上部有脈，下部無脈，其人當吐，不吐者死。此之謂也。</p>

<h1>部位解</h1>
<p>左寸，心部也，其候在心與心包絡，得南方君火之氣，脾土受生，肺金受制，其主神明清濁。</p>
<p>右寸，肺部也，其候在肺與膻中。得西方燥金之氣，腎水受生，肝木受制，其主情思善惡。</p>
<p>景岳曰：上二部，所謂上以候上也。故凡頭面、咽喉、口齒、頸項、肩背之疾，皆候於此。</p>
<p>左關，肝部也，其候在肝膽。得東方風木之氣，心火受生，脾土受制，其主官祿貴賤。</p>
<p>右關，脾部也，其候在脾胃。得中央濕土之氣，肺金受生，腎水受制，其主財帛厚薄。</p>
<p>景岳曰：上二部居中，所謂候中焦也。故凡於脅肋、腹背之疾，皆候於此。</p>
<p>左尺，腎部也，其候在腎與膀胱、大腸。得北方寒水之氣，肝水受生，心火受制，其主陰氣之壽元。</p>
<p>右尺，三焦部也，其候在腎與三焦、命門、小腸。得北方天一相火之氣，脾土受生，肺金受制，其主陽氣之壽元。</p>
<p>景岳曰：上二部，所謂下以候下也。故凡於腰腹、陰道及腳膝之疾，皆候於此。</p>
<p>按：右尺候三焦，有駁之者云：寸候上焦，關候中焦，尺候下焦。命門候右尺，亦有辯之者云：命門在兩腎水火之間，何先生亦主右尺候三焦與命門，其說何也（妙悟子附）？</p>

<h1>二十八脈（出《診家正眼》）</h1>
<p><u>浮脈</u></p>
<p>浮在皮毛，如水漂木，舉之有餘，按之不足。</p>
<p>浮脈為陽，其病在表。寸浮傷風，頭痛鼻塞。左關浮者，風在中焦。右關浮者，風痰在膈。尺部得之，下焦風客，小便不利，大便閉澀。</p>
<p>無力表虛，有力表實。浮緊風寒（景岳云：傷寒），浮遲中風，浮數風熱，浮緩風濕（景岳云：濕滯），浮芤失血，浮短氣病，浮洪虛熱（景岳云：狂躁。蕭通隱云：熱極。又云：浮洪而實，熱傷經絡），浮虛暑憊，浮濡氣敗。</p>
<p>張景岳曰：雖浮為在表，然真正風寒外感者，脈反不浮。但其緊數而略兼浮者，便是表邪，其症必發熱無汗，或身有痠疼，是其候也。若浮而兼緩，則非表邪矣。大都浮而有力有神者，為陽有餘。陽有餘，則火必隨之，或痰見於中，或氣壅於上，可類推也。若浮而無力空豁者，為陰不足。陰不足，則水虧之候，或血不營心，或精不化氣，中虛可知也。以此等為表症，則害莫大矣。其有浮大弦硬之極，甚至四倍以上者，《內經》謂之關格。此非有神之謂，乃真陰虛極而陽亢無根，大凶之兆也。凡脈見何部，當隨其部而察其症，諸脈皆然。</p>
<p>蕭通隱曰：至若浮芤失血，浮革亡血；內傷感冒，而見虛浮無力；癆瘵陰虛，而見浮大兼疾；火衰陽虛，而見浮緩不鼓；久病將傾，而見渾渾革至，浮大有力。叔和亦云：脈浮而無根者死。然亦可以浮診而用治表之劑乎？夫曰浮，多主表症；曰如浮，悉屬內病。表裡不明，生死系之矣。</p>
<p>李瀕湖曰：寸浮頭痛眩生風，或有風痰聚在胸，關上土衰兼木旺，尺中溲便不流通。</p>
<p>按：浮主在表，舉世皆然，殺人多矣。因聞見不廣，讀書不多。若讀二先生論浮脈一條而引伸之，則脈之全體大用無不明矣，尚何有殺人之罪乎（妙悟子）！</p>
<p><u>沉脈</u></p>
<p>沉行筋骨，如水投石，按之有餘，舉之不足。</p>
<p>沉脈為陰，其病在裡。寸沉短氣，胸痛引脅，或為痰飲，或水與血。關主中寒，因而痛結，或為滿悶，吞酸筋急。尺主背痛，亦主腰膝，陰下濕癢，淋濁痢泄。</p>
<p>無力裡虛，有力裡實。沉遲痼冷（為精寒），沉數內熱，沉滑痰飲（為宿食），沉澀血結，沉弱虛衰，沉牢堅積，沉緊冷痛，沉緩寒濕，沉伏霍亂。</p>
<p>張景岳曰：沉雖屬裡，然必察其有力無力，以辨虛實。沉而實者，多滯多氣，故曰：下手脈沉，便知是氣。氣停積滯者，宜攻宜消。沉而虛者，因陽不達，因氣不舒。陽虛氣陷者，宜溫宜補。其有寒邪外感，陽為陰蔽，脈見沉緊而數，及有頭痛、身熱等症者，正屬邪表，不得以沉為里也。</p>
<p>蕭通隱曰：沉而散，沉而代，沉而絕，沉而短，沉不鼓，久病與陽病，得此垂亡之候也。若沉而芤，沉而濡，沉而澀，沉而細，沉而結，主亡血傷精。六極之脈，諸如此類，概不得以沉屬寒屬痛，而混投溫散之劑也。更有如沉之脈，每見表邪初感之際，風寒外束，經絡壅盛，脈必先見沉緊，或伏或止。是又不得以陽症陰脈為惑，惟亟投以清表之劑（與景岳之說一也），則應手汗泄而解矣。此沉脈之疑似不可不辨也。</p>
<p>李瀕湖曰：寸沉痰鬱水停胸，關主中寒痛不通，尺部濁遺並瀉痢，腎虛腰及下元痌。</p>
<p><u>遲脈</u></p>
<p>遲脈屬陰，象為不及，往來遲慢，三至一息。</p>
<p>遲脈主藏，其病為寒。寸遲上寒，心痛停凝。關遲中寒，癥結筋攣。尺遲火衰，溲便不禁，或病腰足，疝痛牽陰。有力積冷，無力虛寒。浮遲表冷，沉遲裡寒。遲澀血少，遲緩濕寒，遲滑脹滿，遲微難安。</p>
<p>張景岳曰：不及四至者是也。乃陰盛陽虧之候，為寒為虛。浮而遲者，內氣虛；沉而遲者，表氣虛。遲在上，則氣不化精；遲在下，則精不化氣。氣寒則不行，血寒則凝滯。若遲兼滑大者，多風痰頑痹之候；遲兼細小者，必真陽虧弱而然。或陰寒留蓄於中，則為泄為痛；或元氣不榮於表，則寒慄拘攣。大都脈慢者，總由元氣不充，不可妄施攻擊。</p>
<p>蕭通隱曰：遲與數，為陰陽對待之體，數六至，遲三至，息數甚懸。而緩與遲，又依稀相似，但遲只三至，緩得四至，雖略相似，主病則異。至離經之脈，則僅得二至，《內經》謂之少氣。然遲主藏病，多屬寒。浮遲表寒，沉遲裡寒。有力冷痛，無力虛寒。或主不月，或見陰疝，或血脈凝滯，或癥瘕沉痼，皆主陽虛陰盛之病也，而獨有如遲之脈。凡人傷寒初起未解，遺熱未清，經脈未充，胃氣未復，必脈見遲滑，或見遲緩，亦可投以溫中而益助餘邪乎？此虛實之不容不辨也。</p>
<p>李瀕湖曰：寸遲必是上焦寒，關主中焦痛不堪，尺屬腎虛腰腳重，溲便不禁疝陰牽。</p>
<p><u>數脈</u></p>
<p>數脈屬陽，象為太過，一息六至，往來越度。</p>
<p>數脈主腑，其病為熱。寸數喘咳，口瘡肺癰。關數胃熱，邪火上攻。尺為相火，遺濁淋癃。</p>
<p>有力實火，無力虛火。浮數表熱，沉數里熱。陽數君火，陰數相火。右數火亢，左數陰戕。</p>
<p>張景岳曰：數脈有陰陽，今後世相傳，皆以數為熱脈。及詳考《內經》，則但曰諸急者多寒，緩者多熱，滑者陽氣盛，微有熱。曰粗大者，陰不足，陽有餘，為熱中也。曰緩而滑者，曰熱中。舍此之外，則無以數言熱者。而遲冷數熱之說，乃始自《難經》云：數則為熱，遲則為寒。今舉世所宗，皆此說也。不知數熱之說，大有謬誤。何以見之？蓋自予歷驗以來，凡見內熱伏火等症，脈反不數，而惟洪滑有力，如經文所言者是也。至如數脈之辨，大約有七，此義失真，以至相傳遺害者，弗勝紀矣。茲列其要者如下，諸所未盡，可以類推。一外邪有數脈。凡寒邪外感，脈必暴見緊數。然初感便數者，原未傳經，熱從何來？所以只宜溫散。即或傳經日久，但見數而滑實，方可言熱。若數而無力者，到底仍是陰症，只須溫中。此外感之數，不可盡以為熱也。若概用寒涼，無不殺人。一虛損有數脈。凡患陽虛而數者，脈必數而無力，或兼細小，而症見虛寒，此則溫之且不暇，尚堪作熱治乎？又有陰虛之數者，脈必數而弦滑，雖有煩熱諸症，亦宜慎用寒涼。若但清火，必至脾泄而敗（同按：今日庸醫治虛損，多於清火殺人）。且凡患虛損者，脈無不數。數脈之病，惟損最多，愈虛則愈數，愈數則愈危，豈數皆熱病乎？若以虛數作熱數，則萬無不敗者矣。一瘧疾有數脈。凡瘧作之時，脈必緊數，瘧止之時，脈必和緩，豈作即有火而止則無火乎？且火在人身，無則無矣，有則無止時也。能作能止者，惟寒邪之進退耳。真火真熱，則不然也。此瘧疾之數，故不可盡以為熱。一痢疾有數脈。凡痢疾之作，率由寒濕內傷，脾腎俱損，所以脈數。但兼弦澀細弱者，總皆虛數，非熱數也，悉宜溫補命門，百不失一。其有形症多火，年力強壯者，方可以熱數論治。然必見洪滑實數之脈，方是其症。一癰瘍有數脈。凡脈數身無熱，而反惡寒，飲食如常者，或身有熱，而得汗不解者，即癰疽之候也。然瘡瘍之發，有陰有陽，可攻可補，亦不得盡以脈數者為熱症。一痘疹有數脈。以邪毒未達也，達則不數矣。此當以虛實大小分陰陽，亦不得以數為熱脈。一癥癖有數脈。凡脅腹之下，有塊如盤者，以積滯不行，脈必見數。若積久成疳，陽明壅滯，而致口臭牙疳發熱等症者，乃宜清胃清火。如無火症，而脈見細數者，亦不得認以為熱。一胎孕有數脈。以衝任氣阻，所以脈數，本非火也。此當以強弱分寒熱，不可因其脈數，而執以黃芩為聖藥。</p>
<p>按：以上數脈諸症，凡邪盛者，多數脈，虛甚者，尤多數脈，則是熱非熱，從可知矣。</p>
<p>蕭通隱曰：數脈息數輻輳，按舉有力，主陽盛燔灼、侵剝真陰之實。病浮為在表，沉為在裡，發表攻裡，脈症相符，不難分別。惟是如數之脈，疑似真假之間，便有生死霄壤之殊，人多不知。夫數按不鼓，即為虛寒相搏之脈。數大而虛，則為精血銷竭之脈。細疾若數，陰燥似陽之候也。沉弦細數，虛癆垂死之期也。又有快脈，即急脈，快急即如數，脈非真數也。若假熱之病，誤服涼劑，脈亦數也。每見舉世醫流，診得息數急疾，竟不知新病久病，有力無力，鼓與不鼓之異，一概混投苦寒，遽絕胃氣，安得不速人於死乎！徐東皋云：數候多凶，勻健略可，惟宜傷寒妊瘧小兒。《瀕湖脈學》云：數脈為陽熱可知，只將君相火來醫，實宜涼瀉虛溫補，肺病秋深卻畏之。據此，亦嘗有溫補之者矣。若僅言只將君相火來醫，則猶見之未擴也。夫獨不有陽虛陰盛之重恙，反得洪數有力之實脈，急溫桂附，旋即痊可者乎！余謹再引《內經》色脈篇論，以正其謬，以救其在，為時師下一痛針法。經言冬脈曰：其氣來如彈石者，此為太過，病在外；其去如數者，此為不及，病在中。釋云：來如彈石者，其至堅強，營之太過也；去如數者，動止疾促，營之不及也。蓋數本屬熱，而此真陰虧損之脈，亦必急數。然愈數則愈虛，愈虛則愈數，而非陽強實熱之數，故不曰數，而曰如數，則辨析之意深矣。此而一差，生死反掌。愚以為豈獨數脈有相似者，即浮沉、遲緩、滑澀、虛實、弦緊諸脈，亦皆有相似者，又非唯脈然也。至症若如瘧、如痰、如喘、如風、如淋等症，設非素嫺審辨，臨事最撼心目，故庸淺者只知現在，精妙者疑似獨明。為醫之難，此關頭矣。</p>
<p>按：數脈一症，不明於世久矣。余曾見癆瘵垂危脈數，而用三黃；潮熱不解，咳嗽失血脈數，而用參蘇飲者。率以數脈為熱為實，誤人不淺。予每遇此等脈候，輒用貞元飲或六味回陽等方而退。欲行此道者，當以二先生數脈之辨而玩味焉，庶免殺人之禍（妙悟子識）。</p>
<p><u>滑脈</u></p>
<p>滑脈替替，往來流利，盤珠之形，荷露之義。</p>
<p>滑脈為陽，多主痰液。寸滑咳嗽，胸滿吐逆。關滑胃熱，壅氣傷食。尺滑病淋，或為痢積，男子溺血，婦人經郁。浮滑風痰，沉滑痰食。滑數痰火，滑短氣塞。滑而浮大，尿則陰痛。滑而浮散，中風癱緩。滑而沖和，娠孕可喜。</p>
<p>張景岳曰：往來流利，如盤走珠，乃氣實血壅之候，為痰逆，為食滯，為嘔吐，為滿悶。滑大滑數，為內熱，上為心肺、頭目、咽喉之熱，下為小腸、膀胱、二便之熱。婦人脈滑數而經斷者，為有孕。平人脈滑而和緩，此營衛充實之佳兆。若過於滑大，則為邪熱之病。又凡病虛損者，多有弦滑之脈，此陰虛然也。瀉痢者，亦多弦滑之脈，此脾腎受傷也，不得通以火論。</p>
<p>蕭通隱曰：滑脈平勻，乃得胃氣之脈也。故經云：脈弱以滑，是有胃氣。又云：滑者陽氣盛，微有熱，按之指下鼓擊有力有神，如珠圓滑，替替不絕。男得此無病，女得此有胎，此真滑脈也。若病則屬痰飲，浮滑風痰，沉滑食痰，滑數痰火，滑短宿食。寸滑嘔吐，關滑蓄血，尺滑頹淋遺泄，亦脈症相應之脈也。而特有如滑之脈，驟診亦得平和，不大不小，不見歇至，不見克勝，息數如常，只是平動不鼓，牒牒而去，稍按即無，此為元氣已脫，僅存餘氣留連藏府經脈之中，未盡斷耳。先於死期旬日內便見此脈，乃絕脈也。雖有盧扁，亦難復甦。每見醫者尚於此際，執以為痰，化氣消痞，攻劑任投，只速其亡耳，抑何昧於生死之頓殊乎。</p>
<p>李瀕湖曰：寸滑膈痰嘔吐生，吞酸咳嗽舌強臨，當關宿食兼寒熱，渴痢癲淋向尺評。</p>
<p><u>澀脈</u></p>
<p>澀脈蹇滯，如刀刮竹，遲細而短，三象俱足。</p>
<p>澀為血少，亦主精傷。寸澀心痛，或為怔忡。關澀陰虛，因而中熱。右關土虛，左關脅脹。尺澀遺淋，血痢可決。孕而胎病，無孕血竭。</p>
<p>澀而堅大，為有實熱。澀而虛軟，虛火炎灼。</p>
<p>張景岳曰：為血氣俱虛之候，為少氣，為憂煩，為痹痛，為拘攣，為麻木，為無汗，為脾寒少食，為胃寒多嘔，為二便違和，為四肢厥冷，男子為傷精，女子為失血，為不孕，為經脈不調。凡脈見澀滯者，多由七情不遂，營衛耗傷，血無以充，氣無以暢。其在上，則有上焦之不舒，參伍不調，傷精亡血之病。為血痹，為寒濕入營，為心痛，為脅痛，為解㑊，為反胃，為亡陽，為腸結，為不月，為胎病，為溲淋，亦為氣滯。經曰：脈弱以澀，是謂久病。然亦有不同者，或人賦稟經脈不利，或七情傷懷莫解，或過服補劑，以致血氣壅盛；或飲食過度，不即運化；或痰多而見獨澀；或久臥久坐體拘不運，此又非專主於傷精亡血之病也。至於虛癆，細數而澀，或兼結代，死期可十。凡診此脈，須察病機，庶無謬治。</p>
<p>李瀕湖曰：寸澀心虛痛對胸，胃虛脅脹察關中，尺為精血俱傷候，腸結溲淋或下紅。</p>
<p><u>虛脈</u></p>
<p>虛合四形，浮大遲軟，及乎尋按，幾不可見。</p>
<p>虛主血虛，又主傷暑。左寸心虧，驚悸怔忡；右寸肺虛，自汗氣怯。左關肝傷，血不營筋；右關脾寒，食不消化。左尺水衰，腰膝痿痹；右尺火衰，寒症蜂起。</p>
<p>張景岳曰：虛脈，正氣虛也，無力也，無神也。有陰有陽。浮而無力為血虛，沉而無力為氣虛。數而無力為陰虛，遲而無力為陽虛。虛雖曰微濡遲澀之屬，皆為虛類，然而無論諸脈，但見指下無神者，總是虛脈。《內經》曰：按之不鼓，諸脈皆然。即此謂也。故凡洪大無神者，即陰虛也；細小無神者，即陽虛也。陰虛則金水虧殘，龍雷易熾，而五液神魂之病生焉，或盜汗遺精，或上下失血，或驚忡不寧，或咳喘勞熱。陽虛則火土受傷，真氣日損，而君相化源之病生焉，或頭目昏眩，或膈塞脹滿，或嘔惡亡陽，或瀉痢疼痛。救陰者壯水之主，救陽者益火之源。漸長則生，漸消則死。虛而不補元氣，將何以復此，實死生之關也。醫不識此，尚望其他焉。</p>
<p>李瀕湖曰：血不營心寸口虛，關中腹脹食難舒，骨蒸痿痹傷精血，卻在神門（神門者，尺脈也）兩部居。</p>
<p><u>實脈</u></p>
<p>實脈有力，長大而堅，應指愊愊，三候皆然。</p>
<p>血實脈實，火熱壅結。左寸心勞，舌強氣壅；右寸肺病，嘔逆咽痛。左關見實，肝火脅痛；右關見實，中滿氣疼。左尺見之，便閉腹疼；右尺見之，相火亢逆。</p>
<p>實而且緊，寒積稽留。實而且滑，痰凝為祟。</p>
<p>張景岳曰：實脈邪氣實也，舉按皆強，鼓動有力。實脈有陰有陽，凡弦、洪、滑、緊之屬，皆相類也，為三焦壅滯之候。表邪實者，浮大有力，以風寒暑濕外感於經，為傷寒瘴瘧，為發熱頭痛、鼻塞頭腫，為筋骨肢體痠疼、癰毒等症。里邪實者，沉實有力，因飲食七情內傷於藏，為脹滿，為閉結，為癥瘕，為瘀血，為痰飲，為腹痛，為喘嘔咳逆等症。火邪實者，洪滑有力，為諸實熱等症。寒邪實者，沉弦有力，為諸痛實等症。凡其在氣在血，脈有兼見者，當以類求。然實脈有真假，真實者易知，假實者易誤，故必問其所因，而兼察形症。必得其神，方是高手。</p>
<p>蕭通隱曰：實脈浮沉皆得，大而且長，應指不虛。經云：血實脈實。曰脈實者，水穀為病。曰氣來實強，是謂太過。蓋實主火熱有餘之病，或發狂譫語，或陽毒便結，或咽腫舌強，或脾熱中滿，或腰腸壅痛；或平人實大，主有痢疾，宜先下之；或瘡疽脈實，急下之，以邪氣在裡故也。俱宜通腸發汗，亟解繁苛之火，不待再計矣。又有如實之脈，久病得此，孤陽外脫，脈必先見弦數滑實，故書云久病脈實者凶，其可療以消伐之劑乎？更有沉寒內痼，脈道壅滯，而堅牢如實，此又不得概用寒劑，但溫以薑、桂之屬可也。又有真陰大虧，燎原日熾，脈見關格，洪弦若實，法幾窮矣，尚可清涼乎？以上三症，皆如實脈，非正實脈也。</p>
<p>李瀕湖曰：寸實應知面熱風，咽疼舌硬氣填胸，當關脾熱中宮滿，尺屬腰腸痛不通。</p>
<p><u>長脈</u></p>
<p>長脈迢迢，首尾俱端，直上直下，如循長竿。</p>
<p>長脈有餘，氣逆火盛。左寸見長，君火為病；右寸見長，滿逆為定。左關見長，木實之殃；右關見長，土鬱脹悶。左尺見之，奔豚沖競；右尺見之，相火專令。</p>
<p>蕭通隱曰：長脈不大不小，迢迢自若，如循長竿末梢為平，如引繩、如循長竿為病。長有三部之長，一部之長。心脈長，神強氣壯。腎脈長，蒂固根深。經云：長則氣治，短則氣病。長主於肝，短主於肺，皆平脈也。反此則為有餘之病，非陽毒癲癇，則陽明熱深。若長而緩者，百病皆愈。大概雖主乎病，亦屬輕淺之症。其有如長之脈，或鰥寡思色不遂，心肝兩部，則洪長而溢魚際，是皆七情為患，而非有病之脈也。或㿗疝而左尺偏長，是又宿疾留經，而非無病之脈也。或寒入經腑，六部細長不鼓，此非投以辛熱不能蠲除也。若細長而鼓，又須清解，靈變在人耳。看得長脈多有兼見，不得偏執為悉無病。但病得此，終非死脈。老人兩尺脈沉長滑實，壽可期頤，且徵瓜瓞之盛。若短脈不及本位，應指而回，不能滿部，主病為內虛，為喘滿氣促，為胃氣弱，為頭腹疼。諸病見短難治，為真氣不足，是又與長為霄壤之判。</p>
<p>李瀕湖曰：長脈迢迢小大勻，反常為病似牽繩，若非陽毒癲癇病，即是陽明熱勢深。</p>
<p><u>短脈</u></p>
<p>短脈澀小，首尾俱俯，中間突起，不能滿部。</p>
<p>短主不及，為氣虛症。短居左寸，神心不定；短見右寸，肺虛頭痛。短在左關，肝氣受傷；短在右關，膈間為殃。左尺短時，少腹必疼；右尺短時，真火不隆。</p>
<p>李瀕湖曰：短脈非於尺寸尋，不數不硬不滑真，浮為血澀沉為痞，寸主頭疼尺腹疼。</p>
<p><u>洪脈</u></p>
<p>洪脈極大，狀如洪水，來盛去衰，滔滔滿指。</p>
<p>洪為盛滿，氣壅火亢。左寸洪大，心煩舌破；右寸洪大，心滿氣逆。左關見洪，肝木太過；右關見洪，脾土脹熱。左尺洪兮，水枯便難；右尺洪兮，龍雷燔灼。</p>
<p>張景岳曰：洪脈大而實也，舉按皆有餘。洪脈為陽，凡浮芤實大之屬，皆其類也。為血氣燔灼，大熱之候。浮洪為表熱，沉洪為裡熱，為脹滿，為煩渴，為狂躁，為斑疹，為頭疼面熱，為咽乾喉痛，為口瘡癰腫，為大小便不通，為動血，此陽實陰虛、氣實血虛之候。洪大至極，甚至四倍以上者，即是陰陽離絕，關格之脈也，不可治。</p>
<p>蕭通隱曰：洪脈指下極大，來盛去衰，來大去長，體為陽，藏司心，時屬夏，運主火也，為陽盛陰虛之病。若逢炎夏，診有胃氣，乃應時之脈也。若泄痢、失血、久嗽，及痞滿反胃見之，增劇難瘥。或沉兼洪弦澀，主痰紅火熾之症。若形瘦脈大，多氣虛死。又曰：脈大則病進。若春秋冬月見之，治主升陽散火。若洪而有力，乃實脈非洪脈，須投寒涼，此皆相類，宜細別耳。又有如洪之脈，乃陰虛假熱，陽虛暴症，脈雖洪大，按而無力，此又不得投以涼劑，致敗胃氣。又人臨死，從陽散而絕者，脈必先見洪大滑盛，乃真氣盡脫於外也，不可不察。</p>
<p>李瀕湖曰：寸洪虛火上焦炎，肺脈洪時金不堪，肝火胃虛關內察，腎虛陰火尺中看。</p>
<p>按：夏脈洪大而散曰平，反得腎則水剋火為賊邪，難治。得脾則子扶母為實邪，得肝則母歸子為虛邪，得肺則金凌火為微邪，俱易治。凡翻胃下痢、久嗽形瘦之人，俱忌洪脈。</p>
<p><u>微脈</u></p>
<p>微脈極細，而又極軟，似有若無，欲絕非絕。</p>
<p>微脈模糊，氣血大衰。左寸驚怯，右寸氣促。左關寒攣，右關胃冷。左尺得微，髓絕精枯；右尺得微，陽衰命絕。</p>
<p>張景岳曰：微脈纖細無神，柔弱之極，是為陰脈。凡細小虛濡之屬，皆其類也。乃血氣俱虛之候，為畏寒，為恐懼，為怯弱，為少氣，為中寒，為脹滿，為嘔噦，為泄瀉，為虛汗，為食不化，為腰腹疼痛，為傷精失血，為眩運厥逆。此雖氣血俱虛，而尤為元陽虧損，最是陰寒之候。</p>
<p>李瀕湖曰：寸微氣促或心驚，關脈微兮脹滿形，尺部見之精血竭，惡寒發熱汗漓淋。</p>
<p>按：微者，陽氣衰而陰氣絕也。久病得之不可治，以正氣將滅也；卒病得之或可生，以邪氣尚未深重也。陽微惡寒，陰微發熱，男為勞極諸虛，女為崩中帶下之症。</p>
<p><u>細脈</u></p>
<p>細直而軟，累累縈縈，狀如絲線，較顯於微。</p>
<p>細主氣衰，諸虛勞損。細居左寸，怔忡不寐；細在右寸，嘔吐氣怯。細入左關，肝陰枯竭；細入右關，胃虛脹滿。左尺若細，泄痢遺精；右尺若細，下元冷憊。</p>
<p>蕭通隱曰：細脈似微而常有，細直而軟，若絲線之應指。宜於秋冬老弱，為血氣兩衰之病。或傷精泄汗，或濕氣下侵，或泄痢脫陰，或丹田虛冷，或胃虛腹脹，或目眩筋痿。《脈經》云：細為血少氣衰，有此症則順，否則逆，故吐衄脈沉細者生。憂勞過度者脈亦細，治須溫補。至有如細之脈，或因暴受寒冷，痛極壅塞經絡，致血沉細不得宣達，是細不得概言虛，而可誤施滋補，固結邪氣也。又有癆怯困殆，脈見弦細而數。蓋弦主氣衰，細主血少，數主虛火煎熬，奄奄待斃。醫於此尚欲清之平之，良可慨矣。</p>
<p>李瀕湖曰：寸細應知嘔吐頻，入關腹脹胃虛形，尺逢定是丹田冷，瀉痢遺精號脫陰。</p>
<p><u>濡脈</u></p>
<p>濡脈細軟，見於浮分，舉之乃見，按之即空。</p>
<p>濡主陰虛，髓絕精傷。左寸見濡，健忘驚悸；右寸見濡，騰虛自汗。左關逢之，血不營筋；右關逢之，脾虛濕侵。左尺得濡，精枯血損；右尺逢之，火敗命乖。</p>
<p>李瀕湖曰：寸濡陽微自汗多，關中其賴氣虛何，尺傷精血虛寒甚，溫補真陰可起疴。</p>
<p><u>弱脈</u></p>
<p>弱脈細小，見於沉分，舉之則無，按之乃得。</p>
<p>弱為陽陷，真陰衰弱。左寸心虛，驚悸健忘；右寸肺虛，自汗短氣。左關木虛，必苦攣急；右關土寒，水穀之疴。左尺弱形，涸流可徵；右尺若見，陽陷可驗。</p>
<p>蕭通隱曰：濡、弱、微、細四種相類。濡脈極軟，如水面浮綿，輕診則得，重按無有；弱脈極軟，重按乃得，輕診無有。《脈學》云：浮細如綿曰濡，沉細如綿曰弱，浮而極細如絕曰微，沉而極細不斷曰細。又云：輕診即見，重按如欲絕者，微也；往來如線，而常有者，細也。仲景曰：脈瞥瞥如羹上肥者，陽氣微；縈縈如蠶絲細者，陽氣衰。此四脈者，雖形體不一，大較皆陰陽兩虧，病從內得，或失精亡血，或泄汗傷濕，或氣促心驚，或虛脹消癉，或筋骨痿痹。老弱久病見之順，少年春夏見之逆。治法皆宜調營益氣，填精實髓，固脾健胃。急施拯救，方得全生。凡診此脈，須察胃氣多少，頂卜吉凶。</p>
<p>李瀕湖曰：弱脈從來是氣虛，弱堪重按血猶流，若兼澀象氣交敗，老病能調少壯憂。</p>
<p><u>緊脈</u></p>
<p>緊脈有力，左右彈人，如絞轉索，如切緊繩。</p>
<p>緊主寒邪，亦主諸痛。左寸逢緊，心滿急痛；右寸逢緊，傷寒喘嗽。左關人迎，浮緊傷寒；右關氣口，沉緊傷食。左尺見之，臍下痛極；右尺見之，奔豚疝疾。</p>
<p>急而緊者，是為遁屍；數而緊者，當主鬼擊。</p>
<p>張景岳曰：急疾有力，堅搏抗指，有轉索之狀。凡弦數之屬，皆相類也。緊脈陰多陽少，乃陰邪激搏之候，主為痛為寒。緊數在表，為傷寒發熱，為渾身筋骨疼痛，為頭痛項強，為咳嗽鼻塞，為瘴為瘧。沉緊在裡，為心脅疼痛，為胸腹脹滿，為中寒逆冷，為吐逆出食，為風癇反張，為痃癖，為瀉痢，為陰疝，在婦人為氣逆經滯，在小兒為驚風抽搐。</p>
<p>蕭通隱曰：緊脈形如轉索無常，又如切繩，乃熱為寒束之脈，故似急數而不甚鼓。暴病見之為腹痛身疼，寒客太陽，或主風痙癇症。在尺陰冷脈疝，在關心腹沉痛。在左緊盛傷寒，在右緊盛傷食。若中惡浮緊，咳嗽沉緊，皆主死，此脈與症反也。又有如緊之脈，乃傷寒陰症絕陽，七日九日之間得此脈。仲景云：脈見轉索者即日死。蓋緊屬病脈非死脈，但以新久之異，便有生死之分，不可不察。</p>
<p>李瀕湖曰：寸以人迎氣口分，當關心腹痛沉沉，尺中見緊為陰冷，定是奔豚與疝疼。</p>
<p>按：凡中惡鬼祟之病而得浮緊，為邪方熾而脈無根；咳嗽虛實之症而得沉緊，為正已虛而邪已痼也，均在不治之例。</p>
<p><u>緩脈</u></p>
<p>緩脈四至，寬舒和勻，微風輕颭，楊柳初春。</p>
<p>緩為胃氣，不主於病，取其兼見，方可斷症。浮緩風傷，沉緩寒濕。緩大風虛，緩細濕痹。緩澀脾薄，緩弱氣虛。左寸緩浮，風邪所居；右寸緩澀，少陰血虛。左關緩浮，肝風內鼓；右關緩沉，土弱濕侵。左尺緩澀，精宮不反；右尺緩細，真陽極衰。</p>
<p>張景岳曰：緩脈和緩，不緊也。緩脈有陰有陽，其義有三：凡從容和緩，浮沉得中者，此自平人之正脈。若緩而滑大者多實熱，如《內經》所言者是也。緩而遲細者多虛寒，即諸家所言者是也。然實熱者必緩大有力，多為煩熱，為口臭，為腹滿，為癰瘍，為二便不利，或傷寒溫瘧初愈而餘熱未清者，多有此脈。若虛寒者必緩而遲細，為陽虛，為畏寒，為氣怯，為疼痛，為眩暈，為痹弱，為痿厥，為怔忡健忘，為飲食不化，為驚溏飧泄，為精寒腎冷，為小便頻數。女人為經遲血少，為失血下血。凡諸瘡毒外症及中風產後，但得脈緩者皆易愈。</p>
<p>蕭通隱曰：緩為脾脈，主乎中，應乎肌肉，陽寸陰尺，上下同等，不浮不沉，不大不小，不疾不徐，不微不弱，和緩有力，鼓指有神，如絲在經，不卷其軸。又如微風輕颭柳梢。蔡西山曰：意思忻忻，難以名狀，四時五藏得此，為有胃氣。其體屬地天之交，陽中有陰，陰中有陽。藏司脾，時應長夏，主季土也。不分男女老弱，心身得此，志暢神和，百病得此，不治自愈。然緩有二：此有胃氣雍容和緩之緩也，又緩弛之緩，緩縱之緩，緩弱之緩。緩弛者傷濕也，緩縱者風熱也，緩弱者氣虛也，緩而兼澀者血虛也。浮緩者風傷經絡，沉緩者濕傷藏府。洪緩濕熱，細緩寒濕。是皆有病之脈，而非緩脈也。尚有陰虛浮洪無力而緩，陽虛沉細無力而緩，是僅肖緩之體，而非得緩之神也。若弦居土位，緩臨水宮，蓋克脈也。看此緩脈，要察胃氣多少，鼓擊高下，來去遲速，便得真確，悟從心解，未可一診了事也。</p>
<p>李瀕湖曰：寸緩風邪項背拘，肝風內鼓胃家虛，神門泄濡或風秘，或是蹣跚足力迂。</p>
<p><u>弦脈</u></p>
<p>弦如琴絃，輕虛而滑，端直以長，指下挺然。</p>
<p>弦為肝風，主痛主瘧，主痰主飲。弦在左寸，心中必痛；弦在右寸，胸及頭疼。左關弦兮，痰瘧癥瘕；右關弦兮，胃寒膈痛。左尺逢弦，飲在下焦；右尺逢弦，足攣疝痛。浮弦支飲，沉弦懸飲。弦數多熱，弦遲多寒。弦大主虛，弦細拘急。陽弦頭痛，陰弦腹痛。單絃飲癖，雙弦寒痼。</p>
<p>張景岳曰：弦脈按之不移，硬如弓弦。凡滑大堅搏之屬，皆其類也。為陽中伏陰，為血氣不和，為氣逆，為邪勝，為肝強，為脾弱，為寒熱，為痰飲，為宿食，為積聚，為脹滿，為虛勞，為疼痛，為拘急，為瘧痢，為疝痹，為胸脅痛。《瘡疽論》曰：弦洪相搏，外緊內熱，欲發瘡疽也。弦從木化，氣通乎肝，可以陰，亦可以陽，但其弦大兼滑者便是陽邪，弦緊兼細者便是陰邪。凡藏腑間，胃氣所及，則五藏俱安；肝邪所侵，則五藏俱病，何也？蓋木之滋生在水，培養在土。若木氣過強，則水因食耗，土為克傷。水耗則腎傷，土虧則胃損（凡久病而見弦脈，所以難治）。腎為精血之本，胃為水穀之本，根本受傷，生氣敗矣，所以木不宜強也。矧人無胃氣曰死，故脈見和緩者吉，指下弦強者凶。蓋肝邪與胃氣不和，緩與弦強相左，弦甚者土必敗。諸症見此，總非佳兆。</p>
<p>蕭通隱曰：弦脈其狀端直以長，若箏弦，從中直過，挺然指下。體為陽中陰，藏司肝，時屬春，運主木也。經云：輕虛以滑者平，實滑如循長竿者病，勁急如新張弓弦者死。戴同父曰：弦而軟者其病輕，弦而硬者其病重。純弦為負死脈也，弦緩平脈也，弦臨土位克脈也，弦見於秋反克脈也（木來侮金）。春病無弦，失主脈也，其病主諸瘧。</p>
<p><u>動脈</u></p>
<p>動無頭尾，其動如豆，厥厥動搖，必兼滑數。</p>
<p>動脈主痛，亦主於驚。左寸得動，驚悸可斷；右寸得動，自汗無疑。左關若動，驚及拘攣；右關若動，心脾疼痛。左尺見之，亡精為病；右尺見之，龍火奮迅。</p>
<p>蕭通隱曰：動乃數脈，見於關上下，無頭尾，如豆大，忽忽動搖。仲景曰：陰陽相搏，名曰動。陽動則汗出，陰動則發熱，形冷惡寒，此三焦傷也。主病為痛為驚，為泄痢，為亡精，為失血。虛者傾搖，勝者自安，此皆病脈也。又有平人而動者，《太素》云：三部寬長是上賢，更於膽脈帶長弦，豁然應指如龍動，翊贊明君萬萬年。又云：腎部忽然動滑時，為官必定有遷移，更看三部寬洪應，用意消詳仔細推。《素問》曰：婦人手少陰脈動甚者，孕子也。是皆吉兆之脈也。</p>
<p>李瀕湖曰：動脈專司痛與驚，汗因陽動熱因陰，或為泄痢拘攣病，男子亡精女子崩。</p>
<p>按：凡兩手寸脈動，為陽動，動則虛，虛則汗出。蓋汗為心之液，而肺主皮毛也。兩手尺脈動，為陰動，動則虛，虛則發熱。蓋腎水不足，相火虛炎也。</p>
<p><u>促脈</u></p>
<p>促為急促，數時一止，如趨而蹶，進則必死。</p>
<p>促因火亢，亦因物停。左寸見促，心火炎炎；右寸見促，肺鳴咯咯。促見左關，血滯為殃；促居右關，脾宮食滯。左尺逢之，遺滑堪憂；右尺見之，灼熱為定。</p>
<p>蕭通隱曰：促脈乃數而一止，此為陽極亡陰，主痰壅陽經，積留胃府，或主三焦鬱火炎盛，或發狂斑，或生毒疽。五積停中，脈因為沮，最不宜於病後（為氣血不接續）。若勢進不已，則為可危。五積者，血、氣、痰、飲、食也。若此得之新病，元氣未敗，不必深慮。但有如促之脈，或漸見於虛癆垂危之頃，死期可卜；或暴作於驚遑造次之候，氣復自愈。脫陰見促，終非佳兆；腫脹見促，不交之否。促脈則亦有死者矣。</p>
<p>李瀕湖曰：促脈惟將火病醫，其用有五（氣、血、痰、飲、食五者）細推之，時時喘咳皆痰⿸疒災，或發狂斑與毒疽。</p>
<p><u>結脈</u></p>
<p>結為凝結，緩時一止，作行而怠，頗得其旨。</p>
<p>結屬陰寒，亦因凝積。左寸心寒，疼痛可決；右寸肺虛，氣寒凝結。左關結見，疝瘕必見；右關結形，痰滯食停。左尺結兮，痿躄之疴；右尺結兮，陰寒之楚。</p>
<p>張景岳曰：結脈脈來忽止，止而復起，總謂之結。舊以數來一止為促，促者為熱，為陽極。緩來一止為結，結者為寒，為陰極。通謂其為氣為血，為食為痰，為積聚，為癥瘕，為七情鬱結。浮結為寒邪在經，沉結為積聚在內，此固結促之舊說矣。然以予之驗，則促類數也，未必熱。結類緩也，未必寒。但見中止者總是結脈（更上一層樓，精切之至），多由血氣漸衰，精力不繼，所以斷而復續，續而復斷。常見久病者多有之，虛勞者多有之，或誤用攻擊消伐者亦有之。但緩而結者，為陽虛；數而結者，為陰虛。緩者猶可，數者更劇。此可以結之微甚，察元氣之消長，最顯最切者也。至如留滯鬱結等病，本亦此脈之證應，然必其形強氣實，而舉按有力，此多因鬱滯者也。有無病而一生脈結者，此其素稟之異常，無足怪也。舍此之外，凡病有不退，而漸見脈結者，此必氣血衰殘，首尾不繼之候，速宜培本，不得妄認為留滯。</p>
<p>蕭通隱曰：結脈緩而一止，止無常數。代脈動而中止，不能自還，因而復動，止有常數。《脈學》云：數而時止名為促，緩上須將結脈呼，止不能還方是代，結生代死自殊途。然代為氣衰，固云死脈，而又宜於風家、痛極、孕婦、霍亂，是代亦有生者。至結脈雖云陰凝痰結、積聚癰腫、瘕疝諸病，每見脫血逢此，終不免於死者，是又不拘於常數。總之結脈多生，代脈多死耳。瀕湖曰：脈一息五至，肺、心、脾、肝、腎五藏之氣皆足。五十動而一息合大衍之數，謂之平脈。反此則止乃見焉，腎氣不能至，則四十動一息。肝氣不能至，則三十動一息。蓋一藏之氣衰，而代藏之氣代至也。滑伯仁曰：若無病羸瘦而脈代者，危脈也。有病而氣血乍損，氣不能續者，只為病脈。傷寒心悸脈代者，復脈湯主之。妊娠脈代者，其胎百日。代脈之生死，不可不辨，而結代之所以不同。</p>
<p>李瀕湖曰：結脈皆因氣血凝，老痰結滯苦成吟，內傷血氣外癰腫，疝瘕為殃病屬陰。</p>
<p><u>代脈</u></p>
<p>代為代禪，止有常數，不能自還，良久復動。</p>
<p>代主藏衰，危惡之候，脾土敗壞，吐痢為咎，中寒不食，腹疼難救。兩動一止，三四日死。四動一止，六七日死。次第推求，不失經旨。</p>
<p>蕭通隱曰：代脈有二：代為氣衰，固止有常數，此死脈也。經又云：黃脈代，此蓋指脾脈而應於四時。遇春得胃氣，而兼見微弦；遇夏得胃氣，而兼見微洪；遇秋得胃氣，而兼見微浮；遇冬得胃氣，而兼見微石。此乃四時更代之代，而非死脈之代。此代之義，又不可不知。</p>
<p>李瀕湖曰：代脈原因藏氣違，腹痛泄痢下元虧，或為吐泄中宮滿，女子懷胎三月期。</p>
<p><u>革脈</u></p>
<p>革大弦急，浮取即得，按之乃空，渾如鼓革。</p>
<p>革主表寒，亦屬中虛。左寸之革，心血虛痛；右寸之革，金衰氣壅。左關遇之，疝瘕為祟；右關遇之，主虛為痛。左尺診革，精空可必；右尺診革，殞命為憂。女人得之，半產漏下。</p>
<p>蕭通隱曰：革牢不同，革脈如按鼓皮，主病為亡血遺精，半產崩漏，脹滿中風感濕諸症。牢脈似沉似伏，大而長微弦。扁鵲曰：牢而長者肝也。仲景曰：寒則堅牢。有牢固之象。徐東皋云：沉而有力，動而不移，牢之體也。主病為心腹疼痛，疝瘕，為氣短息促，為皮膚著腫。是牢、革二脈，固判若天淵也。仲景曰：弦則為寒，芤則為虛，虛寒相搏，此名曰革。男子主亡精失血，女人主半產漏下。《脈經》曰：三部脈革，長病得之死，卒病得之生。瀕湖曰：此即芤弦二脈相合，故均主失血之候。諸家脈書皆以為牢脈，故或有革無牢，有牢無革，混淆不辨。革浮牢沉，革虛牢實，形症皆異也。又牢為元氣將絕者凶，牢忌陰虛失血之病，為虛病見實脈也，不可不辨。</p>
<p>李瀕湖曰：革脈形如按鼓皮，芤弦相合脈寒虛，女人半產並崩漏，男子榮虛或夢遺。</p>
<p><u>牢脈</u></p>
<p>牢在沉分，大而弦實，浮中二候，了不可得。</p>
<p>牢主堅積，病在乎內。左寸之牢，伏梁為病；右寸之牢，息賁可定。左關見牢，肝家血積；右關見牢，陰寒痞癖。左尺牢形，奔豚為患；右尺牢形，疝瘕痛甚。</p>
<p>蕭通隱曰：牢實相類。牢脈沉而有力，動而不移，主陰寒凝固之象也。若實脈，則浮沉皆得，大而且長，指下鼓擊，息數往來，動而能移，乃主陽盛實熱之病。脈體固依稀相似，而主病則已懸甚，均一動也，只爭移與不移，此徐東皋獨得牢脈之神，識超千古矣。及閱方書，謂潔古實脈而投薑、附，此必非實脈，乃牢脈也，不容不細別之。</p>
<p>李瀕湖曰：牢則寒深里有餘，腹心隱痛木乘脾，疝㿗癥瘕何愁也，失血陰虛卻忌之。</p>
<p><u>散脈</u></p>
<p>散脈浮亂，有表無里，中候漸空，按則絕矣。</p>
<p>散為本傷，見則危殆。左寸之散，怔忡不寐；右寸之散，自汗淋漓。左關之散，當有溢飲；右關之散，脹滿蟲疾。居於左尺，北方水竭；右尺得之，陽衰命絕。</p>
<p>蕭通隱曰：芤虛散不同，虛脈遲大而軟，按之無有，隱指豁豁然而空。崔紫虛云：形大力薄，其虛可知，主傷暑，怔忡自汗，驚悸發熱，陰虛腹脹，痿痹遺精，便泄諸症。經曰：血虛脈虛。又曰：氣來虛微，為不及，病在內。又曰：久病脈虛者死。若芤脈則大如慈蔥，與虛脈豁豁然空不同也。所謂散脈者，其形如楊花散漫，去來無定，息數難齊，無統紀，無約束，渙散不收，稍按則四散不聚。主病為溢飲，為血耗，為怔忡，為脫汗，為胻腫胕。產婦得之生，妊婦得之墜，平人見之死。《難經》曰：散脈獨見者危。柳氏曰：散為血氣俱虛，根本脫離之脈。若兩尺見之，魂斷歸冥。心脈洪大微散，肺脈浮澀微散，獨此不妨耳。此散與虛異，而虛又與芤異也。</p>
<p>李瀕湖曰：左寸怔忡右寸汗，溢飲左關應軟散，右關軟散脹腫胕，散居兩尺魂應斷（無根本故也）。</p>
<p><u>芤脈</u></p>
<p>芤乃草名，絕類慈蔥，浮沉俱有，中候獨空。</p>
<p>芤脈中空，故主失血。左寸呈芤，心主喪血；右寸呈芤，相傳陰傷。芤入左關，肝血不藏；花現右關，脾血不攝。左尺如芤，火炎精漏；右尺如芤，便紅為咎。</p>
<p>張景岳曰：芤脈浮大中空，按如蔥管。芤為陽脈，凡浮豁弦洪之屬，皆相類也。為孤陽脫陰之候，為失血脫血，為氣無所歸，為陽無所附，為陰虛發熱，為頭暈目眩，為驚悸怔忡，為喘急盜汗。芤雖陽脈而陽實無根（陰虛而陽無所附），總屬大虛之候。</p>
<p>蕭通隱曰：芤革不同。芤形大如慈蔥，浮沉有，中央空。同父曰：營行脈中，脈以血為形，芤脈中空，脫血之象也。革脈則形按如鼓皮，雖體不同，大抵主病則皆失血、亡陰之症。</p>
<p>李瀕湖曰：寸芤積血在胸中，關內逢之腸里癰，尺部見芤多下血，赤淋紅痢漏崩中。</p>
<p><u>伏脈</u></p>
<p>伏為隱伏，更下於沉，推筋著骨，始得其形。</p>
<p>伏脈為陰，受病入深。伏犯左寸，血鬱之症；伏居右寸，氣鬱之疴。左關值伏，肝血在腹；右關值伏，寒凝水穀。左尺伏見，疝瘕可驗；右尺伏藏，少火消亡。</p>
<p>張景岳曰：伏脈如有如無，附骨乃見。此陰陽潛伏，阻隔閉塞之候，或火閉而伏，或寒閉而伏，或氣閉而伏，為痛極，為霍亂，為疝瘕，為閉結，為氣逆，為食滯，為忿怒，為厥逆水氣。凡伏脈之見，雖與沉微細脫者相類，而實有不同也。蓋脈之伏者，以其本有如無，而一時隱蔽不見耳。此有胸腹痛劇而伏者；有氣逆於經，脈道不通而伏者；有偶因氣脫不相接續而伏者。然此必暴病暴逆者乃有之，調其氣而脈自復矣。若此數種之外，其有積困延綿，脈本細微而漸至隱伏者，此乃殘燼將絕之兆，安得尚有所伏？常見庸人診此，無論久暫虛實，動稱伏脈，而破氣導痰等劑，猶然任意。此恐就道稽遲，而復行催牒耳。聞見略具，諒不至此。</p>
<p>蕭通隱曰：伏脈深於沉，診須推筋著骨，細尋方見。主寒凝經絡臟腑，或霍亂吐瀉，腹疼沉困，或宿食沉蓄，或老痰膠固，或厥逆重陰。散寒溫里，急宜著力。傷寒太陽初症，得此最為吉兆，故瀕湖曰：傷寒一手脈伏曰單伏，兩手脈伏曰雙伏，不可以陽症見陰為診。乃火邪內郁，不得發越，陽極似陰故脈伏。必有大汗而解，如久旱將雨，六合陰晦，雨後庶物皆蘇之義。又有夾陰傷寒，先有伏陰在內，外復感寒，陰盛陽衰，四肢厥逆，六脈沉伏，須投姜附，及灸關元，脈乃復出也。若太谿、衝陽皆無脈者必死。以上皆正伏脈也。又有如伏之脈，乃病久陰陽兩虧，脈見斷續沉陷，或隱或現，真氣隨亡，豈初病消散之比乎？此乃脈脫非伏脈也。至有暴驚暴怒暴厥亦見沉伏，少待經盡氣復，不治當自愈。若人年四十以上，元氣素虛，忽然昏憒不省人事，此為類中，非真中風也。喉聲曳鋸，六脈沉伏，惟急治以三生飲，加人參一兩，亦有得生者。如遺尿汗泄口開目合，便不救矣。凡診此伏脈，與如伏脈，當兼察病因，庶免在治。</p>
<p>李瀕湖曰：伏為霍亂吐頻頻，腹痛皆因宿食停，蓄飲老痰成積聚，散寒溫里莫因循。</p>
<p><u>疾脈</u></p>
<p>疾為急疾，數之至極，七至八至，脈流薄疾。</p>
<p>疾為陽極，陰氣欲竭，脈號離經，虛魂將絕。漸進漸疾，旦夕殞滅。左寸居疾，弗戢自焚；右寸居疾，金被火乘。左關疾也，肝陰已絕；右關疾也，脾陰消竭。左尺疾兮，涸轍難濡；右尺疾兮，赫曦過極。</p>

<h1>各病宜忌脈（出《馮氏錦囊》）</h1>
<p>脈之主病，有宜不宜。陰陽順逆，吉凶可推。中風之脈，卻喜浮遲，堅大急疾，其凶可知。傷寒熱病，脈喜浮洪，沉微澀小，症反必凶。汗後脈靜，身涼則安，汗後脈躁，熱甚必難。陽症見陰，命必危殆，陰症見陽，雖困無害。勞倦傷脾，脈當虛弱，自汗脈躁，死不可卻。瘧脈自弦，弦遲則寒，弦數則熱，代散則難。泄瀉下痢，沉小滑弱，實大浮數，發熱則惡。嘔吐反胃，浮滑者昌，沉數細澀，結腸者亡。霍亂之候，代脈勿訝，舌卷囊縮，厥伏可嗟。嗽脈多浮，浮濡易治，沉伏而緊，死期將至。喘息抬肩，浮滑是順，沉澀肢寒，切為逆症。火熱之病，洪數為宜，微弱無神，根本脫離。骨蒸發熱，脈數而虛，熱而澀小，必殞其軀。勞極諸虛，浮軟微弱，土敗雙弦，火炎細數。失血諸症，脈必見芤，緩小可喜，數大堪憂。蓄血在中，牢大卻宜，沉澀而微，速愈者稀。三消之脈，數大者生，細微短澀，應手堪驚。小便淋閉，鼻色必黃，實大可喜，澀小知亡。癲乃重陰，狂乃重陽，浮洪吉象，沉急凶殃。癇乃浮緩，沉小急實，但弦無胃，必死不失。心腹之痛，其類有九，細遲速愈，浮大延久。疝屬肝病，脈必弦急，牢急者生，弱急者死。黃疸濕熱，洪數便宜，不妨浮大，微澀難醫。腫脹之脈，浮大洪實，細而沉微，岐黃無術。五藏為積，六腑為聚，實強可生，沉細難愈。中惡腹脹，緊細乃生，浮大何如，邪氣已深。鬼祟之脈，左右不齊，乍大乍小，乍數乍遲。癰疽未潰，洪大脈宜，及其已潰，洪大最忌。肺癰之成，寸數而實，肺痿之症，數而無力。癰痿色白，脈宜短澀，數大相逢，氣損血失。腸癰實熱，滑數相宜，沉細無根，其死可期。</p>

<h1>脈要歌（從《權輿》改正）</h1>
<p>脈有三部，部有三候。逐部先尋，次宜總究。左寸心經火位，脈宜流利洪強。左關肝膽，弦而且長。尺部膀胱，沉靜彌良。右寸肺金之主，輕浮充暢為宗。脾胃居於關部，和緩胃氣常充。右尺三焦連命，沉滑而實則隆。四時相代，脈狀靡同。秋微毛而冬石，春則弦而夏洪。滑而微浮者肺恙，弦中兼細者脾殃。心病則血衰脈小，肝證則脈弦且長。大而兼緊，腎疾奚康。寸口多弦，頭面何曾舒泰；關前若緊，胸中定是癥殃。急則風上攻而頭痛，緩則皮頑痹而不昌。微是厥逆之陰，數為虧損之陽。滑則痰涎而胸膈氣壅，澀緣血少而背膊疼傷。沉是背心之氣，洪乃胸脅之妨。若夫關中，緩則飲食必少，滑實胃火煎熬。小弱畏寒逆冷，細微食少膨脹。衛之虛者澀候，氣之滯者沉當。左關微澀兮血少，右關弦急兮過勞。洪實者血結之瘀，遲緊者脾冷之殃。至於尺內洪大，則陰虛可憑。或微或澀，便濁遺精。弦者腹痛，伏者食停。滑兮小腹急脹，婦則病在月經。澀兮嘔逆翻胃，弦強陰疝血崩。緊兮小腹作痛，沉微必主腰疼。緊促形於寸，此氣滿於心胸。緊弦見於關，斯痛攻乎腹脅。兩寸滑數兮嘔逆上奔，兩關滑數兮蛔蟲內齧。心胸留飲，寸口沉潛；臍腹成癥，關中促結。左關弦緊兮，緣筋脈之拘攣；右關沉滑兮，因食積之作孽。</p>

<h1>死脈歌（出《權輿》）</h1>
<p>雀啄連來三五啄，屋漏半日一點落。魚翔似有又如無，蝦游靜中忽一躍。彈石硬來尋即散，搭指散亂為解索。寄語醫家仔細看，六脈一見休下藥。</p>

<h1>矯世惑脈辨（汪石山）</h1>
<p>夫脈者，本乎營與衛也，而營行於脈之中，衛行於脈之外。苟臟腑和平，營衛調暢，則脈無形狀之可議矣。或者六淫外襲，七情內傷，則臟腑不和，營衛乖謬，而二十四脈之名狀，層出而疊見矣。是故風寒暑濕燥火，此六淫也，外傷六淫之脈，則浮為風，緊為寒，虛為暑，細為濕，數為燥，洪為火，此皆可以脈而別其外感之邪也。喜怒憂思悲恐驚者，此七情也，內傷七情之脈，喜則傷心而脈緩，怒則傷肝而脈急，恐則傷腎而脈沉，悲則氣消而脈短，驚則氣亂而脈動，此皆可以脈而辨其內傷之病也。然此特舉其常，而以脈病相應者為言也。若論其變，則有脈不應病，病不應脈，變出百端，而難一一盡憑乎脈者矣。試舉一二言之，如張仲景云：脈浮大，邪在表，為可汗。若脈浮大，心下鞕，有脈屬臟者，攻之，不令發汗，此又非浮為表邪可汗之脈也。又云：促脈為陽盛，宜用葛根黃芩黃連湯。若脈促厥冷為虛脫，非灸非溫不可，此又非促為陽盛之脈也。又曰：遲脈為寒，沉脈為里。若陽明脈遲，不惡寒，身體濈濈汗出，則用大承氣，此又非諸遲為寒之脈矣。少陰病，始得之，反發熱而脈沉，宜麻黃附子細辛湯汗之，此又非沉為在裡之脈矣。凡此皆脈難盡憑之明驗也。若只憑脈而不問證，未免以寒為熱，以表為里，以陰為陽，顛倒錯亂，而夭人壽者多矣。是以古人治病，不專於脈，而必兼於審證，良有以也。奈何世人不明乎此，往往有病，諱而不言，惟以診脈而試醫之能否脈之，而所言偶中，便視為良醫，而傾心付託，其於病之根源一無所告，藥之宜否亦無所審，惟束手聽命於醫，因循遂至於死，尚亦不悟，深可悲矣。彼庸俗之人，素不嗜學，固無足怪。奈近世士大夫家，亦未免狃於此習，是又大可笑也。夫定靜安慮，格物致知，乃《大學》首章第一義，而慮者謂慮事精詳，格物者謂窮致事物之理，致知者謂推及吾之所知。凡此數事，學者必嘗究心於此矣。先正又言，為人子者不可不知醫。病臥於床，委之庸醫，比之不慈不孝。夫望聞問切，醫家大節目也。苟臨病之際，惟以切而知之為能，其餘三事，一切置而不講，豈得謂知醫乎！豈得為處事精詳乎！豈得為窮致事物之理，而惟極吾之所知乎！且醫之良，亦不專於善診一節。凡動靜有常，舉止不妄，存心忠厚，發言純篤，察病詳審，處方精專，兼此數者庶可謂之良矣。雖據脈言證，或有少差，然一脈所主非一病，故所言未必盡中也。若以此而遂棄之，所謂以二卵而棄干城之將，烏可與智者道哉？姑以浮脈言之，《脈經》云：浮為風、為虛、為氣、為嘔、為厥、為痞、為脹、為滿、為不食、為熱、為內結等類，所主不下數十餘病。假使診得浮脈，彼將斷其為何病耶？苟不兼之以望聞問而欲的知其為何病，吾謂戛戛乎其難矣。古人以切居望聞問之後，則於望聞問之間，已得其病情矣。不過再診其脈，看病應與不應也。若脈與病應，則吉而易醫；脈與病反，則凶而難治。以脈參病，意蓋如此，曷以診脈知病為貴哉？夫《脈經》一書，拳拳示人以診法，而開卷入首，便言觀形察色，彼此參伍，以決死生。可見望聞問切，醫之不可缺一也。噫！世稱善脈莫過叔和，尚有待於彼此參伍，況下於叔和者乎！故專以切脈言病，必不能不致於誤也，安得為醫之良？抑不特此，世人又有以太素脈而言人貴賤窮通者，此又妄之甚也。予嘗考其義矣，夫太者始也、初也，如太極太乙之太；素者質也、本也，如繪事後素之素。此蓋言始初本質之脈也（破的語）。此果何脈耶，則必指元氣而言也。東垣曰：元氣者，胃氣之別名。胃氣之脈，蔡西山所謂不長不短，不疏不數，不大不小，應手沖和，意思欣欣，難以名狀者是也。無病之人，皆得此脈。以此脈而察人之有病無病則可，以此脈而察人之富貴貧賤則不可。何也？胃氣之脈，難以形容，莫能名狀，將何以為貴賤窮通之診乎！竊觀其書名雖《太素》，而其中論述，略無一言及於太素之義。所作歌括，率多俚語，全無理趣。原其初意，不過托此以為徼利之媒，後世不察，遂相傳習，莫有能辨其非者。又或為之語曰：太素云者，指貴賤窮通，稟於有生之初而言也。然脈可以察而知之，非謂脈名太素也。予曰：固也。然則《太素》之所診者，必不出於二十四脈之外矣。夫二十四脈皆主病言，一脈見則主一病，貧賤富貴何從而察之哉？假如浮脈其診為風，使太素家診之將言其為風耶？抑言其為貴賤窮通耶？二者不可得兼。若言其為風，則其所知亦不過病也。若遺其病而言其為貴賤窮通，則是近而病諸身者尚不能知，安得謂之太素？則遠而違諸身者必不能知之也。蓋貴賤窮通，身外之事，與身之血氣了不相干，安得以脈而知之乎？況脈之變見無常，是以今日診得是脈，明日診之而或非。春間診得是脈，至夏按之而或否。彼太素者以片時之尋按，而斷一生之休咎，殆必無是理。然縱使億則屢中，亦是捕風捉影，彷彿形容，安有一定之見哉。噫！以脈察病尚不知病之的，而猶待乎望聞問，況能知其他乎？且脈兆於岐黃，演於秦越，而詳於叔和，遍考《素》、《難》、《脈經》，並無一字言及此者，非隱之也，殆必有不可誣者耳。巢氏曰：太素者，善於相法，特假太素以神其術耳。誠哉言也，足以破天下後世之惑矣。又有善伺察者，以言甜人，陰得其實，故於診按之際，肆言而為欺妄，是又下此一等，無足論也。雖然人稟天地之氣以生，不能無清濁純駁之殊。稟之清者，血氣清而脈來亦清，清則脈形圓淨，至數分明。吾診乎此，但知其主富貴而已。若曰何年登科，何年升授，何年招財，何年得子，吾皆不得而知矣。稟之濁者，血氣濁而脈來亦濁，濁則脈形不清，至數混亂。吾診乎此，但知其主貧賤而已。若曰某時招財，某時破財，某時損妻，某時克子，吾亦莫得而知矣。又有形濁而脈清者，此謂濁中之清；質清而脈濁者，此謂清中之濁。又有形不甚清，脈不甚濁，但浮沉各得其位，大小不失其等，亦主平穩而無大得喪也。其他言有所未盡，義有所未備，學者可以類推。是則吾之所謂知人者，一本於理而已矣，豈敢妄為之說以欺人哉！噫，予所以著為是論者，蓋以世之有言太素脈者，靡不翕然稱美，不惟不能以理析，又從而延譽於人，縱使其言有謬，又必陰與之委曲影射，此所謂誤己而誤人者也，果何益之有哉？又有迎醫服藥者，不惟不先言其所苦，甚至再三詢叩，終於默默，至有隱疾而困醫者，醫固為其所困，不思身亦為醫所困矣。此皆世之通患，人所共有，故予不得不詳論之，以致夫丁寧之意，俾聾瞽者或有所開發焉。孟子曰：予豈好辯哉，予不得已也。</p>

<h1>妊娠脈</h1>
<p>婦人之脈，以血為本。血旺易胎，氣旺難孕。少陰動甚，謂之有子。尺脈滑利，妊娠可喜。滑疾不散，胎必三月。但疾不散，五月可別。左疾為男，右疾為女。女腹如箕，男腹如釜。欲產之脈，其至離經，水下乃產，未下勿驚。新產之脈，緩滑為吉。實大弦牢，有證則逆。</p>

<h1>天和脈</h1>
<p>（參後六十年運氣診治　出《軒岐究政》）</p>
<p>天和脈只論三陰，南天高兮北泉深。太陰專主右尺寸，厥陰尺寸左邊沉。少陰尺寸兩不應，相交相反死相臨。天和乃平脈也，諸陽為浮，諸陰為沉，故不言三陽。司天在泉，南政以天道言。甲己二歲論脈，則寸在南，而尺在北。三陰司天，則兩寸不應。太陰司天，右寸不應。少陰司天，兩寸不應。厥陰司天，左寸不應。三陰在泉，則兩尺不應。太陰在泉，右尺不應。少陰在泉，兩尺不應。厥陰在泉，左尺不應。北政以地道言，乙丙丁戊庚辛壬癸之歲，論脈則寸在北，而尺在南。三陰司天，則兩尺不應。太陰司天，右尺不應。少陰司天，兩尺不應。厥陰司天，左尺不應。三陰在泉，則兩寸不應。太陰在泉，右寸不應。少陰在泉，兩寸不應。厥陰在泉，右寸不應。不應者，皆為沉脈也。《紺珠經》曰：五行君火不用事，故南政少陰司天。君火在上，則兩寸不應。司泉君火在下，則兩尺不應。厥陰司天，君火在左，故左寸不應，司泉則左尺不應。太陰司天，君火在右，故右寸不應，司泉則右尺不應。北政少陰司天，君火在上，則兩尺不應。司泉君火在下，則兩寸不應。厥陰司天，君火在左，故左尺不應，司泉則左寸不應。太陰司天，君火在右，故右尺不應，司泉則右寸不應。凡不應者，謂脈沉而細，不應於手也。反之則沉為浮，細為大也。歲當君火在寸，而沉反見於尺。歲當君火在寸，而沉反見於尺；歲當君火在尺，而沉反應於寸。經曰：尺寸反者死。歲當君火在左，而沉反見於右；歲當君火在右，而沉反見於左。經曰：陰陽交者死。又曰：學診之士，必先歲氣，良有以哉。李南豐云：上與仲景、丹溪所說不同，然所論深得《素問》君火以退之旨，故從之。</p>

<h1>《素問》六十年運氣病治之紀</h1>
<p>壬辰、壬戌歲，上太陽（司天），中木運（太），下太陰（在泉），其化上苦溫，中酸和，下甘溫，藥食宜也。主病眩掉瞑。</p>
<p>戊辰、戊戌歲，上太陽（司天），中火運（太），下大陰（在泉），其化上苦溫，中甘和，下甘溫，藥食宜也。主病熱鬱。</p>
<p>甲辰、甲戌歲，上太陽（司天），中土運（太），下太陰（在泉），其化上苦熱，中苦溫，下苦溫，藥食宜也。主病濕下重。</p>
<p>庚辰、庚戌歲，上太陽（司天），中金運（太），下太陰（在泉），其化上苦熱，中辛溫，下甘熱，藥食宜也。主病燥悶滿。</p>
<p>丙辰、丙戌歲，上太陽（司天），中水運（太），下太陰（在泉），其化上苦熱，中鹹溫，下甘熱，藥食宜也。主病大寒。</p>
<p>凡此太陽司天之政，氣化運行先天。此下總結辰戌年太陽司天六氣之化也。凡子寅辰午申戌六陽年，皆為太過。醜戌酉未己卯六陰年，皆為不及。太過之氣，常先天時而至，故其所生長收藏，氣化運行皆早。不及之氣，常後天時而至，故其氣運行皆遲。如《氣交變大論》曰：太過者先天，不及者後天。本篇後文曰：運太過則其至先，運不及則其至後，皆此義也。</p>
<p>丁卯、丁酉歲，上陽明（司天），中木運（少），下少陰（在泉），其化上苦小溫，中辛和，下鹹寒，藥食宜也。主災三宮。</p>
<p>癸卯、癸酉歲，上陽明（司天），中火運（少），下少陰（在泉），其化上苦小溫，中鹹溫，下鹹寒，藥食宜也。主災九宮。</p>
<p>己卯、己酉歲，上陽明（司天），中土運（少），下少陰（在泉），其化上苦小溫，中甘和，下鹹寒，藥食宜也。主災五宮。</p>
<p>乙卯、乙酉歲，上陽明（司天），中金運（少），下少陰（在泉），其化上苦小溫，中苦和，下鹹寒，藥食宜也。主災七宮。</p>
<p>辛卯、辛酉歲，上陽明（司天），中水運（少），下少陰（在泉），其化上苦小溫，中苦和，下鹹寒，藥食宜也。主災一宮。</p>
<p>凡此陽明司天之政，氣化運行後天。此總言卯西年陽明司天，六氣之化也。凡此卯酉十年，歲氣不足，故氣化運行後天。</p>
<p>壬寅、壬申歲，上少陽（司天），中木運（太），下厥陰（在泉），其化上鹹寒，中酸和，下辛涼，藥食宜也。病掉眩支脅驚駭。</p>
<p>戊寅、戊申歲，上少陽（司天），中火運（太），下厥陰（在泉），其化上鹹寒，中甘和，下辛涼，藥食宜也。病上熱鬱血溢泄心痛。</p>
<p>甲寅、甲申歲，上少陽（司天），中土運（太），下厥陰（在泉），其化上鹹寒，中咸和，下辛涼，藥食宜也。病體重胕痞飲。</p>
<p>庚寅、庚申歲，上少陽（司天），中金運（太），下厥陰（在泉），其化上鹹寒，中辛溫，下辛涼，藥食宜也。病肩背胸中。</p>
<p>丙寅、丙申歲，上少陽（司天），中水運（太），下厥陰（在泉），其化上鹹寒，中鹹溫，下辛溫，藥食宜也。病寒浮腫。</p>
<p>凡此少陽司天之政，氣化運行先天。</p>
<p>丁丑、丁未歲，上太陰（司天），中木運（少），下太陽（在泉），其化上苦溫，中辛溫，下甘熱，藥食宜也。主災三宮。</p>
<p>癸丑、癸未歲，上太陰（司天），中火運（少），下太陽（在泉），其化上苦溫，中鹹溫，下甘熱，藥食宜也。主災九宮。</p>
<p>己丑、己未歲，上太陰（司天），中土運（少），下太陽（在泉），其化上苦熱，中甘和，下甘熱，藥食宜也。主災五宮。</p>
<p>乙丑、乙未歲，上太陰（司天），中金運（少），下太陽（在泉），其化上苦熱，中酸和，下甘熱，藥食宜也。主災七宮。</p>
<p>辛丑、辛未歲，上太陰（司天），中水運（少），下太陽（在泉），其化上苦熱，中苦和，下苦熱，藥食宜也。主災一宮。</p>
<p>凡此、太陰司天之政，氣化運行後天。</p>
<p>壬子、壬午歲，上少陰（司天），中木運（太），下陽明（在泉），其化上鹹寒，中酸涼，下酸溫，藥食宜也。主病支滿。</p>
<p>戊子、戊午歲，上少陰（司天），中火運（太），下陽明（在泉），其化上鹹寒，中甘寒，下酸溫，藥食宜也。主病血溢上熱。</p>
<p>甲子、甲午歲，上少陰（司天），中土運（太），下陽明（在泉），其化上鹹寒，中苦熱，下酸熱，藥食宜也。病中滿身重。</p>
<p>庚子、庚午歲，上少陰（司天），中金運（太），下陽明（在泉），其化上鹹寒，中辛溫，下鹹溫，藥食宜也。主病下清。</p>
<p>丙子、丙午歲，上少陰（司天），中水運（太），下陽明（在泉），其化上鹹寒，中咸熱，下酸溫，藥食宜也。主病寒下。</p>
<p>凡此少陰司天之政，氣化運行先天。</p>
<p>丁巳、丁亥歲，上厥陰（司天），中木運（少），下少陽（在泉），其化上辛涼，中辛和，下鹹寒，藥食宜也。主災三宮。</p>
<p>癸巳、癸亥歲，上厥陰（司天），中火運（少），下少陽（在泉），其化上辛涼，中咸和，下鹹寒，藥食宜也。主災九宮。</p>
<p>己巳、己亥歲，上厥陰（司天），中土運（少），下少陽（在泉），其化上辛涼，中甘和，下鹹寒，藥食宜也。主災五宮。</p>
<p>乙巳、乙亥歲，上厥陰（司天），中金運（少），下少陽（在泉），其化上辛涼，中酸和，下鹹寒，藥食宜也。主災七宮。</p>
<p>辛巳、辛亥歲，上厥陰（司天），中水運（少），下少陽（在泉），其化上辛涼，中苦和，下鹹寒，藥食宜也。主災一宮。</p>
<p>凡此厥陰司天之政，氣化運行後天。</p>
<p>愚按：人秉天地之氣以生，天人一理也。五運六氣，陰陽之變，勝復之作，而人身應之。經曰：隨其氣所在，期於左右，從其氣則和，違其氣則病。迭移其位者病，失守其位者危，寸尺反者死，陰陽交者死。又曰：先立其年，以知其氣。而主病之陰陽虛實，逆從生死，毋外此以為氣診矣。</p>

<h1>奇經八脈（出《軒岐究政》）</h1>
<p>李瀕湖曰：凡人一身有經脈絡脈，直行曰經，旁行曰絡。經凡十二，手之三陰三陽，足之三陰三陽是也。絡凡十五，乃十二經各有一別絡，而脾又有一大絡，並任督二絡，為十五也，共二十七氣。相隨上下，如泉之流，如日月之行，不得休息，故陰脈營於五臟，陽脈營六腑。陰陽相貫，如環無端，莫知其紀，終而復始。其流溢之氣，入於奇經，轉相灌溉，內溫臟腑，外濡腠理。奇經凡八脈，不拘制於十二正經，無表裡配合，故謂之奇。蓋正經猶乎溝渠，奇經猶夫湖澤，正經之脈隆盛，則溢於奇經。故越人比之天雨降下，溝渠溢滿，滂沛妄行流於湖澤，此發《靈》、《素》未發之秘者也。八脈載在群書，略而不悉，醫不知此，罔探病機，仙不知此難。安爐鼎云：奇經八脈者，陰維也，陽維也，陰蹺也，陽蹺也，沖也，任也，督也，帶也。陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。陽蹺起於跟中，循外踝，上行於身之左右。陰蹺起於跟中，循內踝，上行於身之左右，所以使機關之捷蹺也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈起於會陰，夾臍而行，直衝於上為諸脈之衝要，故曰十二經脈之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也。是故陽維主一身之表，陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。督主身後之陽，任沖主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。是故醫而知乎八脈，則十二經、十五絡之大旨得矣。仙而知乎八脈，則龍虎升降，玄牝幽微之妙竅得矣。兩手脈浮之俱有陽，沉之俱有陰，陰陽皆實盛者，此為沖督之脈也。沖督之脈者，十二經之道路也。沖督用事，則十二經不復朝於寸口，其人皆恍惚狐疑不省，必當猶豫而兩心也。兩手陽脈浮而細微，綿綿不可知，俱有陰脈，亦復細綿綿，此為陰蹺陽蹺之脈也。此人曾有病鬼魅風死，若恍惚亡人為禍也。尺寸脈俱浮，直上直下，此為督脈，腰背強直，不得俯仰，大人顛病，小兒風癇疾。尺寸脈俱牢，直上直下，此為衝脈，胸中有病寒疝也。《難經》曰：奇經為病何如？然陽維維於陽，陰維維於陰，陰陽不能相維，則悵然失志，溶溶不能自收。陰蹺為病，陽緩而陰急。陽蹺為病，陰緩而陽急。衝脈為病，逆氣而裡急。督脈為病，脊強而厥。任脈之為病，其內若結，男子為七疝，女子為瘕聚。帶之為病，腹滿腰溶溶，若坐水中。陽維為病，苦寒熱。陰維為病，苦心痛。此奇經脈之為病也。</p>

<h1>舉《脈訣》悖經之非</h1>
<p>（出《軒岐究政》）</p>
<p>蕭通隱曰：宋妄男子高陽生者，冒竊叔和，偽創《脈訣》，庸鄙差謬，大乖經旨。俗醫習誦，遵為法程，終日咕譁，益增聾聵。雖閱多病，歷多壽，虛實不識，生死無知，脈理竟昧，誤世非淺。獨奈相承膠固難拔，若肯回心翻悟，棄邪歸正，依憑《內經》《脈經》正法，特究虛實，洞明生死，病必識脈，治必求本。軒岐微蘊，再彰今日，天下之幸，萬世之慶也。今舉其非者於後：《脈經》以浮脈，謂舉之有餘，按之不足。《脈訣》乃謂尋之如太過。據此乃浮兼洪緊實之象，豈浮之體乎？謬一也。又《脈經》以沉脈，謂重按至筋骨乃得。《脈訣》乃謂緩度三關，狀如爛綿。豈知沉尚兼遲數洪細，而誤指爛綿之弱脈，為沉之體，謬二也。又《脈經》以遲脈，謂一息三至，去來極慢。《脈訣》乃為重手乃得。又曰隱隱，曰狀且難。是又混遲而為沉為澀矣，豈遲之體乎？謬三也。又《脈經》以數為綱領正脈。《脈訣》妄立七表八里名目而遺數脈，只歌於九道，謬四也。又《脈經》以滑脈往來流利，如珠應指。《脈訣》乃云按之即伏，三關如珠，不進不退。此正《內經》所云：皮膚著脈，不往來者死，是豈滑之體乎？謬五也。又《脈經》以澀脈，為往來難，細遲短散。《脈訣》乃云指下尋之似有，舉之全無。悖經甚矣，謬六也。又《脈經》以虛脈，為遲大而軟，按之無力，隱指豁豁然空。《脈訣》乃謂尋之不足，舉之有餘，此為浮脈，豈虛之體乎？謬七也。又《脈經》以實脈，為浮沉皆得，愊愊應指。《脈訣》乃言如繩應指來，又言證為小便不禁。是認脈為緊脈，而證為虛寒之證。妄甚矣，謬八也。又《脈經》以洪脈，為指下極大，宜於夏。《脈訣》乃云季夏宜之，秋季冬季，發汗通腸，俱非所宜。獨不聞有舍時從證乎？謬九也。又《脈經》以緊脈，為數如切繩。《脈訣》乃云寥寥入屍來。是令脈將倒行耳，謬十也。又《脈經》以芤脈，中央空，兩邊實，病主失血。《脈訣》乃謂兩頭有，中間無，是脈從中而斷截矣。又言主淋瀝，氣入小腸，與血症何反？誤世不小，謬十一也。又《脈經》以緩脈，主營弱風虛濕脾之病。《脈訣》乃云為脾熱口臭，反胃齒痛，夢鬼之症，支離枉誕，謬十二也。又《脈經》以弦脈，如張弓弦。《脈訣》乃云脈緊狀繩牽，時時帶數。此又混緊數為弦，大失弦體矣，謬十三也。又《脈經》以牢脈似伏，實大而長微弦。《脈訣》乃云尋之則無，按之則有。又云脈入皮膚辨息難，又以牢為死脈，皆舛妄害理，謬十四也。又《脈經》以濡脈極軟，而浮細如綿，按之無有。《脈訣》乃云按之似有舉還無。是又以微脈為濡，謬十五也。又《脈經》以弱脈為極軟而沉細，按之乃得，舉之無有。《脈訣》乃言輕手乃得。是又以濡為弱，謬十六也。又《脈經》以細脈，小於微而常有，細直而軟。《脈訣》乃謂往來極微。與經大乖，謬十七也。又《脈經》以伏脈為重按著骨，指下才動。而《脈訣》乃云尋之似有，定息全無。謬十八也。又《脈經》以動脈為見於關上下，厥厥動搖。《脈訣》乃言尋之似有，舉之還無，不離其處，不往不來，三關沉沉。含糊譫妄，謬十九也。又《脈經》以促脈，為來去數時一止復來。《脈訣》乃云並居寸口。不言時止，謬二十也。又《脈經》以結脈，為往來緩時一止復來。《脈訣》乃云或來或去，聚而卻還。此與結何干？謬二十一也。又《脈經》與仲景以動為陽。《脈訣》之九道，則以動為陰。謬二十二也。又仲景以弦為陰。《脈訣》之七表，則以弦為陽。謬二十三也。又《內經》《難經》、仲景、《脈經》，皆以脈從陰陽對待而言，而《脈訣》則妄創七表八里九道之詭名。夫以表言之，則實脈非表也；以裡言之，則遲脈非里也；而道更不知為何道也，謬二十四也。</p>
<p>以上二十四謬，舉世習熟，無有覺其非者，茲特以經為案，以悖經為斷，切有賴於同志之士焉。謹再考證諸書，以悉其謬。晦庵朱夫子曰：古人察脈非一道，今世惟守寸關尺之法，俗傳《脈訣》，辭最鄙淺，非叔和本書。東楊柳貫曰：王叔和撰《脈經》十卷，為醫家一經。今《脈訣》熟在人口，直謂叔和所作，不知叔和西晉時，尚未有歌括，此乃宋之中世人，假託以便習肄爾。河東王世相曰：診候之法不易精也，軒岐微蘊，越人、叔和撰《難經》、《脈經》，猶未盡泄其奧。五代高陽生著《脈訣》，假叔和之名，語多牴牾，辭語鄙俚。又被俗學妄注，世醫家傳戶誦，茫然無所下手，不過藉此求食而已，於診視何益哉？云間淺溥曰：晉太醫令王叔和著《脈經》，其言可守而不可變，乃托叔和《脈訣》行，而醫經之理遂微。蓋叔和為世所信重，故假其名而得行耳。然醫道之日淺，未必不繫此而衰之也。櫻寧滑壽曰：脈之陰陽表裡，以對待而為名象也。高陽生七表八里九道，蓋鑿鑿也，求脈之明，為脈之晦。金陵戴起宗曰：脈不可以表裡定名也，軒岐、越人、叔和皆不言表裡，《脈訣》竊叔和之名，而立七表八里九道，為世大惑。脈之變化從陰陽生，但可以陰陽對待而言，各從其類，豈可以一浮二芤為定序，而分七八九之名乎？大抵因浮而見皆為表，因沉而見者皆為里，何拘於七八九哉？廬山劉立之以浮沉遲數為綱，以教學者，雖似捷徑，然必由博反約，然後能入脈妙。若以此自足，亦畫矣。朱丹溪曰：氣口者脈之要會，故能知人命之死生。世之俗醫，誦高陽生之妄作，欲以治病，其不殺人也幾希。</p>

<h1>跋</h1>
<p>先太父自應童試及習舉子業，風檐辛苦，備嘗之矣，然屢躓場屋。自訂香楓書屋詩稿一卷，詩選一卷。歲乙丑隨任云間，得腸澼症，嗣是邃心醫學。嘗謂醫家首重切脈，猶作文首貴認題。所著《醫方纂要》一卷，《醫燈》四卷，即行付梓。而是書纂各家脈訣，參以己見。於己……</p>
