<header data-type="book">
<h1>溫熱論箋正</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>葉桂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫者，古聖人通神明之德，不忍生民罹於五行六診之患氣，而為之術以救其死而遂其生者也。由斯道者，必先之以經籍，正之以師法，廣之以聞見。心精力果，慎思明辨，乃克有濟。醫書如《靈》《素》之窮源，《難經》之解經，《金匱》《傷寒》之證治，固已無源不濬，無流不通，第詞簡意深，不易貫闡。後此著作，浩如煙海，其膾炙人口者，如《千金》、《外臺》、四大家書，各極其妙。而不善學者，每以古方今病，多半枘鑿，以之治雜病。尚可循序研究，以之治時邪伏氣，則朝夕變遷，安危反掌，可不求之有素乎。吾吳葉天士先生，才長學博，洞貫古今，所著如《本事方釋義》、《景岳發揮》、《醫案存真》、《醫效秘傳》，及手批書，皆極精當。又及門所編《臨證指南》，雖非盡出自先生手訂，而精義所在，實先生有以啟之。其尤切時用者，莫如先生口授溫熱病各法，相傳謂於舟次所錄，及門傳鈔，不無遺漏失序。後人編注，如《溫熱經緯》、《溫熱贅言》、及《吳醫匯講》所載，雖曲暢旁通，猶未盡蘊奧。今陳君根儒觀察，復以溫熱一編，彙集精要，貫以己意，為之箋正，補當時之關漏，作後學之楷模。書成，問序於余。余受而讀之，服其好學之專，得師之正，而濟人利物之心，無窮已也。余老不言醫，自丁未奉召入都，戊申因病假歸，杜門養疴。幾及十年，學殖荒落，愧無所得。今讀是書，不禁怦怦心動，而幸論溫熱者之得所指歸也。謬序於首，以志欽服。並希速付梨棗，以餉海內。是亦君子學道愛人無已之心也夫。</p>
<p><u>丙辰春初古吳曹元恆智涵甫識於蘭雪書室</u></p>

<h1>序例</h1>
<p>早歲多病，讀書之暇，偶檢方書，得陳修園，見其書之多，以為其學之博也，從而討焉，則支離穿鑿，剽竊而成者也。復得徐靈胎，其學固遠勝修園，然其言亦有驗有不驗。繼乃盡啟所藏，得《素問》、仲景以下書數千卷，凡論傷寒者，靡不覽焉。而所見愈繁，所疑愈多。若涉大海，其無津涯，則又何所折衷也。遂棄去不復求，既而思之。古之良醫，如周之扁鵲倉公，秦之和緩，漢之淳于意、華佗之流，其著述絕見於世。華佗與仲景同時，當時華佗之名藉甚，仲景無所聞，其書晚乃稍出。華佗《中藏經》，寥寥數冊，人且無知者。然則經驗多與術之神者，或未必能著書。其著書者，類皆窮愁無聊，閉門造車，未能合轍者也。比官吳下，聞吳人言葉天士甚詳，其術頗奇而可思。求其書，得其門人所述《臨證指南》、《醫效秘傳》數種。固所習見者，然試其術有驗，益求其精。乃知其學實本餘杭陶氏，旁及東垣子和丹溪，遠紹河間而得其正，故能力闢餘子，於濕溫治法，獨舉標準，非嘉言景岳諸人所能及。余平日之所疑者，亦一旦豁然貫通，而得其所宗。嗟乎！五運六氣，萬變無窮，生民之疾，寧有盡時，捫燭求日，其於光也，固已遠矣。比來箋註河間《原病式》，頗識此意。而因病施治，輒亦獲效，階梯所自，實賴葉氏。其先知先覺，繼往開來者歟。惜其未暇著書，微言奧旨，僅散見於《本草經注》、《景岳發揮》，及所批陶氏《全生集》、《女科經綸》、柯氏《傷寒》、《金匱》，與《醫衡》等書者。人多忽諸而本事方釋義，絕少精意，猶恐為後人所託。至其門人學識未逮，多墨守所習，不能啟問。盡其所長，闡其所閟，演其緒者。又皆聞一知一，英能會通。遂使百有餘年，其風漸微，其道將墜，心甚憫之。輒於暇時，即王士雄氏《溫熱經緯》所注溫熱篇，為考訂舊聞，正其謬誤，循流溯源，務使曲暢旁通，各極其趣，片言隻字，必折其衷，不敢妄逞己意，沉潛反覆。蓋亦有年，名曰《溫熱論箋正》，箋葉氏之旨，而正諸家之失也。然余之所學，亦閉門造車者，其與諸人，相去幾何。且著書誤人，古人所戒，醫書尤甚，略有不慎，後世宗之。貽禍無窮，是以數年以來，偶有所述，未嘗示人滄桑之變。與吾友李道士，同居滬濱，道士鬻書而吾鬻醫。窮困相同，寓居相接，時相往來。偶論溫病，及於此書，道士謂自閟其術，與貽誤後學，其罪相等。因錄寫一通，復質之吾友曹滄洲部郎，部郎今之國工，不以為非，且序之令速梓以問世。乃付石印，世有好學深思之士，匡余不逮，實所願望，舉例如下。</p>
<p>此篇，相傳天士遊洞庭山，門人願景文。於舟中記當時所聞之語，其後及門傳鈔，遂顛倒錯亂。世所傳者，出華岫云、唐三烈兩人。唐氏分二十一章，章虛谷注，悉依唐本。王孟英《溫熱經緯》，改從華本，作二十章。自謂依原論次序，按原本既非天士手定。舟中間話，偶然論及，本無次序可循。今悉從病情原變，治法次第，列為先後，刪其繁亂者三十八字，都為一卷，二十四節，三千六百七十九字。</p>
<p>此篇註釋，諸家之說有可採者，首舉其名，其後參以己意。或更有辨正者，加按字以別之。其於正義之外有足相發明者，加○以別之。</p>
<p>遇論中宜用某某等藥，輒詳註其藥性於下。其云某丸散湯，亦將其方詳註。如雲宜用某法，則採前人經驗之方，附錄於後，以便學者。間有未錄，如承氣湯等，以盡人皆知也。</p>
<p>原文頂格大書，注低一格，溫熱經續，已有先例，茲編仍之。</p>
<p>所據原文，系從《醫要秘傳》陸氏所輯者，各本互有增損之處，並採注於下。</p>
<p>所採諸家之說，有舉其名，有僅舉其氏與其書者，當時隨筆偶錄，故未一律，以無關宏旨，仍之。</p>
<p>原文與注，並加點以分句讀，省讀者之目力，亦治經之盛事也。</p>
<p>昔淳于氏有言：人之所病，病病多，醫之所病，病方少。而吾以為今之醫者，卻病方多。夫人之受病，猶白之受採，採五而已。然染者和之，則千變萬化，雖有智巧，莫知所窮。人之肢體臟腑有定，而外之有五運六氣之感，內之有飲食男女七情之傷。稟有強弱，地有高下，氣有變遷，則其為病，雖有聖人，又惡能盡之。以無盡之病，應之以有定之方，此執方治病者，所以鑿枘不入也。論者不察，以為今人識淺，不能用古方。豈知古今之病，不復同也。自來著書者，喜多著方論。自炫其巧，入主出奴，反覆辨難，自欺欺人，貽誤後學，莫之為甚。夫病態萬狀，病情則一，執簡御繁，自有至理。《內經》論病，河間著《原病式》，皆提綱挈領，不立一方，葉氏宗之。故於論中亦止言宜用某某等藥，不立成方，此其天資高邁，學術純粹，非宋元以後作者可及。昔聖人作易以象萬物，不能盡圖萬物於易之中，亦此道也。學者苟能潛心本論，博覽古今之籍，窮源竟委，以期至於古人之域。則處病立方，得心應手，自有左右逢源之妙，奚事綴拾成方，奉為枕秘乎。此余箋論而不補方之意，特揭之以告學者。</p>
<p><u>乙卯冬至日熬道人識。</u></p>

<h1>正文</h1>
<p>溫邪上受，首先犯肺，逆傳心包。</p>
<p>逆傳二字，紛紛聚訟。章虛谷謂肺邪反傳於心，金不畏火為逆。王孟英以《難經》從所勝來為微邪駁之。因引下文三焦不得從外解，必致成里結句。謂由上焦氣分以及中下二焦者為順傳，以邪從氣分下行為順，入營分內陷為逆。苟無其順，何以為逆，按逆傳二字。見於陶氏《全生集》傷寒傳足不傳手經論，云：陽邪傳衛，陰血自燥，熱入膀胱，壬病逆傳於丙。葉氏逆傳之說，當本諸此，以肺與膀胱同主表也。章王二注均非，且病以退為順，進為逆，由內達外為順，由外入內為逆，溫邪由衛入營，故云為逆。若三焦不得從外解，致成里結，由因循誤治所致，由外入里，豈得謂順。王氏之說，尤為強辨。又按《葉氏醫案》幼科風溫中，有足經順傳。如太陽傳陽明，肺病失治逆傳心包絡之語，尤徵其說出於陶氏。蓋以邪歸胃腑，可下而愈為順也。</p>
<p>肺主氣屬衛，心主血屬營。</p>
<p>此兩句，承上文言逆傳心包，不外乎由衛入營也。</p>
<p>辨營衛氣血，雖與傷寒同，若論治法，則與傷寒大異也。</p>
<p>此承上文，因言溫病傷寒之異治，以起下文也。</p>
<p>蓋傷寒之邪，留變在表，然後化熱入里，溫邪則熱變最速。</p>
<p>吳鞠通氏謂傷寒傷人身之陽，由毛竅而溪，由溪而谷，由谷而孫絡，由孫絡而大絡，由大絡而經。始太陽，終厥陰，曲折而入。故曰留戀在表，然後化熱入里，溫邪犯肺，即傳心包。上焦不治，便入中焦，中焦不治，即傳下焦，傷人之陰最易，故曰熱變最速。</p>
<p>未傳心包，邪尚在肺，肺主氣，其合皮毛，故云在表。</p>
<p>吳鞠通氏謂傷寒由毛竅而入，自下而上，始足太陽。足太陽膀胱屬水，寒即水之氣，同類相從，故病始於此。古來但言膀胱主表，殆未盡其義，肺者皮毛之合也，獨不主表乎。又謂人身一臟一腑主表之理，人皆習焉不察。以三才大道言之，天為萬物之大表，天屬金，人之肺亦屬金，肺主皮毛。經曰：皮應天。天一生水，地支始於子，而亥為天門，乃貞元之會。人之膀胱，為寒水之腑，故俱同天氣，而俱主表也。</p>
<p>在表初用辛涼輕劑，挾風則加入薄荷牛蒡之屬，挾濕加蘆根滑石之流，或透風於熱外，或滲濕於熱下，不與熱相搏，勢必孤矣。</p>
<p>此明溫邪初起，未傳營者之治法。蓋溫邪為病，必有所挾，不外風與濕之兩途，風陽邪，宜表而出之，故曰透外。濕陰邪，宜分而利之，故曰滲下。</p>
<p>不爾，風挾溫熱而燥生，清竅必干，謂水主之氣不能上榮，兩陽相劫也。濕與溫合，蒸鬱而矇蔽於上，清竅為之壅塞，濁邪害清也。</p>
<p>此明當透風熱外，滲濕熱下，不便與熱相搏之故。章虛谷謂胃中水穀，由陽氣化生津液。故陽虛而寒者，無津液上升，停飲於胃，遏其陽氣，亦無津液上升，而皆燥渴，仲景已備論之。此言風熱兩陽邪，劫其津液而成燥渴。其因各不同，則治法迥異也。至風雨霧露之邪受於上焦，與溫邪蒸郁，上蒙清竅。如仲景所云頭中寒濕，頭痛鼻塞，納藥鼻中一條。雖與溫邪矇蔽相同，又有寒熱不同也。按此條明風溫濕溫俱有清竅壅塞，分晰言之。恐人以傷寒之法誤治，尤恐以濕溫之濁邪害清，與風溫之兩陽相劫混治也。</p>
<p>其病有類傷寒，其驗之之法，傷寒多有變證，溫熱雖久，在一經不移，以此為辨。</p>
<p>傷寒傳經，故多變證。溫邪只在三焦營衛，故曰不移。</p>
<p>上第一節，首論傷寒溫熱感受證治之不同，溫病有挾風挾濕之異治，其所入之途，有衛氣營血之次第，總舉其綱，以告學者。下文乃詳言之。</p>
<p>前言辛涼散風，甘淡驅濕。若病仍不解，是漸欲入營也。營分受熱，則血液受劫，心神不安，夜甚無寐，或斑點隱隱。即撤去氣藥，如從風熱陷入者，用犀角竹葉之屬。如從濕熱陷入者，犀角花露之品，參入涼血清熱方中。若加煩躁，大便不通，金汁可以加入，老年或平素有寒者，以人中黃代之。急急透斑為要。</p>
<p>此明溫邪初傳心包之候，而出其治也。心包主血，代心用事，故邪入營血，心包受之。以致心神不安，夜甚無寐，斑屬血，疹屬氣，此營分受熱，故言斑不言疹。若見疹則無關營血，即下文所謂當理氣分之邪矣。犀角苦酸鹹寒，涼心瀉肝，清胃中大熱，祛風利痰，辟邪解毒。治傷寒時疫發黃發斑，吐血下血畜血發狂，痘瘡黑陷，消癰化膿，定驚明目，故為治斑要藥。竹葉辛淡甘寒，涼心緩肝，消痰止渴，除上焦風邪煩熱，咳逆喘促，嘔噦吐血，中風失音，小兒驚癇。故從風熱陷入者必用之。花露芳香清冽，和中利腸，清暑化熱，有氣無質，能透竅入絡，疏淪靈府，故從濕熱陷入者宜之。金汁瀉火熱，人中黃甘寒入胃，清痰火，消食積，大解五臟實熱，治天行熱狂，痘瘡血熱黑陷不起，與金汁之治相同。故煩躁大便不通者，可以加入，冀其解毒透斑也。涼血清熱，如《溫病條辨》中之清營湯、清絡飲、清宮湯，與《溫疫論》中清燥養營湯之類。○按營分受熱。至於斑點隱隱，急以透斑為要。透斑之法，不外涼血清熱，甚者下之。所謂煬竄減薪，去其壅塞，則光焰自透。若金汁、人中黃所不能下者，大黃元明粉亦宜加入，在學者見證施治，神而明之。細玩煩躁大便不通之語，自得之矣。</p>
<p><u>附錄清營湯方</u>　犀角　生地　元參　竹葉心　麥冬　丹參　黃連　銀花　連翹（連心）</p>
<p><u>清絡飲方</u>　鮮荷葉邊　鮮銀花　西瓜翠衣　鮮扁豆葉　絲瓜皮　鮮竹葉心</p>
<p><u>清宮湯方</u>　犀角尖（磨沖）　連翹心　元參心　竹葉捲心　蓮子心　麥冬（連心）</p>
<p><u>清燥養營湯方</u>　知母　天花粉　白芍　陳皮　甘草　當歸身　地黃汁</p>
<p>若斑出熱不解者，胃津亡也。主以甘寒，重則如玉女煎，輕則如梨皮蔗漿之類。或其人腎水素虧，雖未及下焦，先自徬徨矣。必驗之於舌，如甘寒之中加入鹹寒，務在先安未受邪之地，恐其陷入易易耳。</p>
<p>章虛谷謂斑出則邪已透發，理當退熱，其熱仍不解。故知其胃津亡，水不濟火，當以甘寒生津。若腎水虧者，熱尤難退，故必加鹹寒，如元參、知母、阿膠、龜版之類，所謂壯水之主以制陽光也。如仲景之治少陰傷寒，邪本在經，必用附子，即是先安未受邪之地。熱邪用鹹寒滋水，寒邪用鹹熱助火，藥不同而理法一也。驗舌之法詳後。王孟英謂重則如玉女煎者，言如玉女煎之石膏、地黃同用，以清未盡之熱，而救已亡之液。唐三烈本刪一「如」字，徑作「重則玉女煎」，是印定為玉女煎之原方矣。豈知胃液雖亡，身熱未退，熟地、牛膝安可投乎。按景岳玉女煎方，石膏、熟地、麥冬、知母、牛膝。謂治水虧火盛，六脈浮洪滑大，少陰不足，陽明有餘。葉氏發揮云：既雲水虧火盛，竟宜滋陰降火，不必用石膏。少陰不足，是腎虛火亢，當補腎為主，至若陽明有餘，乃胃中之實火。當清胃火，病屬兩途，豈可石膏熟地並用乎。據此，則此處自當用生地黃，非用玉女煎之板方，《溫病條辨》，玉女煎去牛膝、熟地加細生地、元參，治太陰溫病氣血兩燔，早有前見。梨性甘寒，涼心潤肺，利大小腸，蔗漿和中潤燥，除熱解毒，故斑出熱輕者宜之。甘寒之中加入鹹寒，如《溫病條辨》中三甲復脈等方，均可隨證選用。</p>
<p><u>附錄三甲復脈湯方</u>　一甲復脈　炙甘草　乾地黃　生白芍　麥冬（連心）　阿膠　牡蠣　二甲復脈加鱉甲　三甲復脈再加生龜版</p>
<p>上第二節，明逆傳心包邪陷營血之證，而出其治也。此節仍統風溫濕溫言之，然其證見於風溫者為多。</p>
<p>若其邪始終在氣分流連者，可冀其戰汗透邪。法宜益胃，令水與汗並，熱達腠開，邪從汗出。</p>
<p>此明邪之由衛而氣，不傳營者之治法。大凡溫邪入里，分為兩途，心包與陽明，其治法不離乎斑汗下。傳心包者，即傷營血，傷營血者必發斑，透斑為治。入陽明者屬胃與腸，必致成里結，成里結者可下。若未入里，流連氣分者，則屬三焦。在上焦者，可冀其戰汗而解，法宜益胃。胃者水穀之海，發生津液，布滬三焦。且上焦出於胃口，居陽明經之間，故益胃助汗，可使邪從汗出。《素問》熱病論篇：岐伯曰：人所以汗出者，皆生於穀，穀生於精。王冰注：言穀氣化為精，精氣勝乃為汗。又曰汗者精氣也。益胃之法，如《溫病條辨》中之雪梨漿、五汁飲、桂枝白虎等方，均可採用。熱盛者食西瓜，戰時飲米湯白水。所謂令水與汗並，熱達腠開，得通泄也。若在中下焦，則有分消之法矣。</p>
<p><u>附錄雪梨漿方</u>　以甜水梨大者一枚，薄切，新汲涼水內浸半日，取汁時時頻飲。</p>
<p><u>五汁飲方</u>　梨汁　荸薺汁　鮮蘆根汁　麥冬汁　藕汁　熱痰盛加竹瀝梨汁　咯痰不清加栝蔞皮　熱毒盛加金汁　人中黃　漸欲神昏加銀花　荷葉　石菖蒲</p>
<p><u>桂枝白虎湯方</u>　知母　生石膏　粳米　桂枝木　炙甘草</p>
<p>解後胃氣空虛，當膚冷一晝夜，待氣還自溫暖如常矣。蓋戰汗而解，邪退正虛，陽從汗泄，故暫膚冷，未必即成脫證。此時宜令病者安舒靜臥，以養陽氣來復。旁人切勿驚惶，頻頻呼喚，擾其元神，使其煩躁。但診其脈，若虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫證。若脈急疾，躁擾不臥，膚冷汗出，便為氣脫之證矣。更有邪盛正虛，不能一戰而解，停一二日再戰汗而解者，不可不知。</p>
<p>此明解後之狀，辨脫與非脫之脈法，更示人以有邪盛正虛再戰之機，恐邪熱未清，誤認虛脫，妄投補劑也。汗出膚冷，與膚冷汗出有別。汗出膚冷者。汗後而熱退膚冷，此邪解正虛之象。故云非脫，即仲景所謂汗泄熱去身涼即愈。膚冷汗出者，即《傷寒論》中所謂亡陽遂漏不止，與汗出如油也。《素問》評熱病論曰：汗出而脈尚躁盛者死。《靈樞》熱病論：熱病已得汗，而脈尚躁盛，此陰脈之極也，死，其得汗而脈靜者生，此脈急疾躁擾，所以為氣脫之證也。</p>
<p>上第三節，繼斑而言汗。</p>
<p>再論氣病有不傳血分，而邪留三焦，亦如傷寒中少陽病也。彼則和解表裡之半，此則分消上下之勢，隨證變法。如近時杏樸苓等類，或如溫膽湯之走泄，因其仍在氣分，猶可望其戰汗之門戶，轉瘧之機括。</p>
<p>《靈樞》營衛生會篇：黃帝曰：願聞三焦之所出。岐伯答曰：上焦出於胃上口，並咽以上，貫膈而布胸中，走腋，循太陰之分而行，還至陽明，上至舌，下足陽明，常與營俱，行於陽二十五度，行於陰亦二十五度一周也。故五十度而復會於手太陰矣。又黃帝曰：願聞中焦之所出。岐伯曰：中焦亦並胃中，出上焦之後，此所受氣者。泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此，故獨得行於經隧，命曰營氣。又黃帝曰：願聞下焦之所出。岐伯答曰：下焦者，別迴腸，注於膀胱，而滲入焉。故水穀者，常並居於胃中，成糟粕而俱下於大腸，而成下焦，滲而俱下，濟泌別汁，循下焦而滲入膀胱焉。所以肺受溫邪，不傳心包，未歸陽明，必留三焦，以三焦之經，循胸腋手太陰之分而出行，復大會於手太陰也。三焦為手之少陽，凡升降之氣，莫不由此出入，為上下之樞機，亦猶足少陽膽經，為三陽三陰表裡之樞紐也。故云彼則和解表裡，此則分消上下。而中焦為營氣所主，在胃中脘之分，主泌水穀之糟粕，蒸化精液，上注於肺，下焦當胃之下口，別迴腸，化糟粕，濟泌別汁，滲入膀胱。故宜用杏仁之解肺郁，利小便，茯苓之滲濕行水，厚朴之行氣散滿。及如溫膽湯之走泄，溫膽湯方，用半夏、陳皮、茯苓、甘草、竹茹、枳實、半夏能化痰行水，發表開鬱，陳皮能理氣燥濕，導滯消痰，為宣通氣分之藥，茯苓滲濕，甘草入涼劑能瀉邪熱，竹茹除上焦煩熱，枳實破氣行痰，止喘消痞，均屬宣導之品，所以謂之走泄也。仍在氣分者，以溫邪由肺而及三焦，必先留於上焦，上焦當肝胃之區。且手足兩少陽經，互相連合，是以仍在氣分，猶可望其戰汗之門戶，轉瘧之機括也。</p>
<p>上第四節，言邪之不傳營者，獨留三焦之治。</p>
<p>大凡看法，衛之後方言氣，營之後方言血，在衛汗之可也。到氣才可清氣，入營猶可透熱轉氣，如犀角、元參、羚羊等物。入血就恐耗血動血，直須涼血散血，如生地、丹皮阿膠赤芍等物。否則前後不循緩急之法，慮其動手便錯，反致慌張矣。</p>
<p>《素問》調經論：病在氣調之衛。王冰注：衛主氣，故氣病而調之衛也。《難經》三十二難曰：心者血，肺者氣，血為營，氣為衛，相隨上下，謂之營衛。通行經絡，營周於外。《靈樞》衛氣篇：黃帝曰：五臟者，所以藏精神魂魄者也。六腑者，所以受水穀而化行物者也。其氣內干五臟，而外絡支節，其浮氣之不循經者為衛氣，其精氣之行於經者為營氣，陰陽相隨，外內相貫，如環之無端。馬蒔注曰：人有五臟，精神魂魄，賴之以藏，人有六腑，水穀等物，賴之以化，六腑為表，其氣內連於五臟，而外則絡於支節。人有三焦，宗氣積於上焦，營氣出於中焦，衛氣出於下焦。下焦之氣，升於中焦以達於上焦，而生此衛。衛氣陽性慓悍，行於皮膚分肉之間，乃浮而在外者也。故曰：其浮氣之不循經者為衛氣。中焦之氣降於下焦，而生此營氣，營氣陰性精專，隨宗氣以行於經隧之中，故曰：其精氣之行於經者為營氣。按浮氣之不循經者為衛氣，故在衛者汗之可愈。其循經而出於上焦者為宗氣，宗氣者衛氣之主，衛氣者浮於宗氣之外，故曰：衛之後方言氣。氣，宗氣也。營之後方言血者，營亦氣也。所以化水穀之精微而為血，使之流溢於中，布散於外，行於經隧，常行無已者也。蓋自其約而言之，則衛為氣，營為血。循其等而言之，則衛為氣之標，氣為衛之本，營為血之帥，血為營之徒也。是以血居營之後，而入營者猶可透熱轉氣，失此不治則營病而血亦病，血滯而氣不能營，故直須涼血散血，通其經隧之途，使營氣復其故道也。此衛氣營血之次第，學者細察《素問》調經經絡諸論，及《靈樞》營氣衛氣營衛生會等篇，自能瞭然矣。章虛谷謂：凡溫病初感發熱而微惡寒者，邪在衛分，不惡寒而惡熱小便色黃，已入氣分。若脈數舌絳，邪入營分。若舌深絳，煩擾不寐，或夜有譫語，已入血分。邪在衛分汗之，宜辛涼輕解，清氣熱，不可寒滯，反使邪不外達而內閉，則病重矣。故雖入營，猶可開達，轉出氣分而解。按：犀角苦酸鹹寒，瀉心胃大熱。羚羊苦鹹微寒，能祛風舒筋，瀉心肝邪熱。元參苦鹹微寒，補水瀉無根之火，均非滋膩之物。章氏謂清氣熱不可寒滯，深合入營猶可透熱轉氣之意，下文於上焦氣熱爍津證，戒勿用血藥滋膩難散，即此意也。王孟英謂伏氣溫病，自里出表，乃先從血分而後達於氣分。故起病之初，往往舌潤而無苔垢，但察其脈，軟而或弦，或微數，口未渴而心煩惡熱，即宜投以清解營陰之藥，迨邪從氣分而化，苔始漸平，然後再清其氣分可也。伏邪重者，初起即舌絳咽乾，甚有肢冷脈伏之假象。亟宜大清陰分伏邪，繼必厚膩黃濁之苔漸生，此伏邪與新邪先後不同。更有邪伏深沉，不能一齊外出者，雖治之得法，而苔退舌淡之後，逾一二日舌復干絳，苔復黃燥，正如抽蕉剝繭，層出不窮，不比外感溫邪，由衛及氣，自營而血也。秋月伏暑證輕淺者，邪伏膜原深沉者，亦多如此。</p>
<p>上第五節，總結上文。言溫邪傳入之次第，而出其治法，學者循其序而察之，而不必泥也。</p>
<p>且吾吳濕邪害人最廣。如面色白者，須要顧其陽氣，濕勝則陽微也。法應清涼，然到十分之六七，即不可過於寒涼，恐成功反棄，何以故耶？濕熱一去，陽亦衰微也。面色蒼者，須要顧其津液，清涼到十分之六七。往往熱減身寒者，不可就云虛寒而投補劑。恐爐煙雖熄，灰中有火也。須細察精詳，方少少與之。慎不可直率而往也。</p>
<p>此言人之氣質冬有不同，戒學者隨時省察，譬如為山，九仞之功，毋遺。</p>
<p>一簣之虧也。其語意明晰，無煩解釋。《溫熱經緯》王氏之言，徒傷辭費。濕勝則陽微，王孟英引茅雨人之說，謂陽微故致濕勝。按此謂面色白者，其陽氣素屬不足。今為濕邪所困，濕勝則陽微矣，並非因陽微而致濕勝。若濕勝必因陽微，則面色蒼者，當無濕病矣。茅氏之說，亦欠圓足，蓋葉氏此論，實專為濕溫而發，故自此以下，皆言濕溫。</p>
<p>又有酒客里濕素盛，外邪入里，里濕為合。在陽旺之軀，胃濕恆多，在陰盛之體，脾濕亦不少，然化熱則一。</p>
<p>此為陽微陰虛二者之外，復舉酒客濕盛者以示之。所謂陽旺之軀，胃濕恆多，陰盛之體，脾濕亦不少。是指酒客中平素體質之偏於陰陽蒼瘦肥白者而言。化熱則一者，以酒客脾胃素為酒之濕熱所蒸，故一感溫邪，無不化熱。</p>
<p>熱病救陰猶易，通陽最難，求陰不在血，而在精與汗，通陽不在溫，而在利小便。然較之雜證，則有不同也。</p>
<p>救陰不在血，而在精與汗，王孟英謂救陰須用充液之藥是也。致謂以血非易生之物，汗需津液以化，其言又似是而非。蓋溫熱病，除溫邪劫營，與素有瘀傷宿血在胸膈中者，宜涼血散血外，無補血之理。觀下文驗齒節，病深動血，結瓣於上，陽血安胃，陰血救腎，不言治血，其義可知。吳氏《溫病條辨》增液養陰等法，深得秘旨，通陽不在溫而在利小便。章虛谷王孟英之說，均無分曉。蓋此語專屬濕溫，熱處濕中，濕蘊熱外，濕熱交混，遂成矇蔽。斯時不開，則熱無由達，開之以溫，則又助其熱，然通陽之藥不達於溫。今溫藥既不可用，故曰通陽最難。惟有用河間分消宣化之法，通利小便，使三焦瀰漫之濕，得達膀胱以去。而陰霾濕濁之氣既消，則熱邪自透，陽氣得通矣，較之驃證則有不同者。言雜證以補血為養陰，溫為通陽，與此不同。又恐人誤以利小便為通陽一定不易之法，誤治寒濕火衰之證，則反損其腎氣而陽愈微，此所以為叮嚀也。上第六節，蓋專為濕溫而發。夫溫邪為病，不外挾風挾濕兩途。然風溫熱變雖速，但能辛涼透解，清熱養陰，不失衛氣營血先後之序，便無他誤。至於濕溫，則所感之氣最雜，濕多熱多，治法迥異，化熱化燥，傳變無定，清熱太過，留濕致困，養陰不當，反成矇蔽，見證施治，用藥最難。故於此特揭其旨，以示學者。能即此而求之，則雖病情萬變，治法不離其宗，於治濕溫之術，思過半矣。</p>
<p>再論三焦不得從外解，必致成里結，里結於何，在陽明胃與腸也。亦須用下去，不可以氣血之分，就唐三烈本此下有謂其二字可從不可下也。</p>
<p>章虛谷注，胃為臟腑之海，各臟腑之邪，皆能歸胃。況三焦包羅臟腑，其邪之入胃尤易。語意未足，按《靈樞》營衛生會篇言三焦之部署：上焦出於胃上口，中焦亦並胃中出上焦之後，下焦者，別迴腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕而俱下於大腸。《金匱要略》謂下焦竭即遺溺失便。據此則三焦里結，腸胃同病，所謂在陽明胃與腸也。不可以氣血之分謂不可下者。氣指溫病言，血指傷寒言。蓋寒傷營，熱傷氣，傷寒由膀胱傳胃，胃與膀胱均多血，溫邪由肺及三焦，肺與三焦均主氣也。所以為此言者，恐人誤會。謂溫邪留於氣分在上，不與傷寒入里同，而不敢下也。故下文云。</p>
<p>但傷寒邪熱在裡，劫爍精液，下之宜猛。此多濕邪內搏，下之宜輕。傷寒大便溏，為邪已盡，不可再下。濕濕病大便溏為邪未盡，必大便硬。（唐本此下有乃為無濕句。）慎（唐本作始）不可再攻，以屎（王本作糞）燥為無濕矣。（唐本無此句。）</p>
<p>章虛谷注，謂傷寒化熱，腸胃乾結，故下宜峻猛，濕熱凝滯，大便本不幹結，以陰邪瘀閉不通。若用承氣猛下，其行速而氣徒傷，濕仍膠結不去，故當輕法頻下。王孟英駁之，謂傷寒化熱，固是陽邪，濕熱凝滯者，大便雖不幹結，黑如膠漆者有之。豈可目為陰邪，謂之濁邪可也。所論誠是，按傷寒有燥屎在胃，故下之宜猛，三承氣之外，又有豬膽汁蜜煎導諸法，其所結為燥屎，故大便溏為邪已盡。若溫熱濁邪所結，屬膠漆痰沫之物，本非燥屎，所以大便溏為邪未盡，必大便硬，則濁滯已清，宿食亦下，故不可再攻矣。然痰濁重者，溏硬無定，往往有既得燥屎，復下濁滯，三五次後大下濁沫，其邪始盡者，當臨證省察，不可不知。所謂下之宜輕而不厭頻者。誠以濁邪黏膩，搏結不堅，到處可以留著，非猛鷙之力一擊之所能去也。</p>
<p>上第七節，為邪留三焦，不因戰汗轉瘧而解成里結者，示下法也。</p>
<p>再人之體脘在腹上，其地位處於中，按之痛，或自痛，或痞脹。當用苦泄，以其入腹近也。必驗之於舌，或黃或濁，可與小陷胸湯或瀉心湯，隨證治之。</p>
<p>此承上文，言邪雖入里而未結胃與腸者，當用苦泄，不可驟下。蓋脘居中焦之部署，其按之痛或自痛或痞脹，屬濕熱互結，濁痰凝滯，阻中焦氣分而然，皆屬於痞。故宜用小陷胸湯或瀉心湯，苦辛通降，滌除痰熱。必驗之於舌或黃或濁者，以舌見黃濁，已入中焦，中焦入腹近，不復能提歸上焦，再事宣泄，只能使之下達耳。熟玩下文自明，吳氏《溫病條辨》，治濁痰凝聚心下痞者，用半夏瀉心湯，去參姜大棗甘草，加枳實杏仁，深合苦泄之法。</p>
<p><u>附錄小陷胸湯方</u>　黃連　半夏　栝蔞實</p>
<p><u>半夏瀉心湯方</u>　半夏　黃芩　乾薑　甘草　人參　黃連　大棗</p>
<p>或白不燥，或黃白相兼，或灰白不渴，慎不可亂投苦泄。其中有外邪未解，里先結者，或邪郁未伸，或素屬中冷者，雖有脘中痞痛，宜從開泄，宣通氣滯以達歸於肺。如近俗之杏蔻橘桔等是，輕苦微辛，具流動之品可耳。</p>
<p>以承上文，言不宜苦泄者，當用開泄。蓋苔白不燥，濕未化熱，只傷氣分。黃白相兼，為氣分之邪未盡。灰白不渴，屬脾濕盛，外邪未解里先結者，濕溫風溫均有。蓋邪未透達，濕阻中焦也。邪郁未伸者，指濕遏伏熱之證。素屬中冷者，謂里濕素盛。宿有痰飲之疾者，其脘中痞痛，系濕阻氣化，中焦失運所致，故宜從事開泄。以杏蔻橘桔輕苦微辛之品，宣通氣滯，必達歸於肺者。以肺主一身之氣，氣化則濕亦化也。按《溫病條辨》中有三仁湯、宣痹湯、三香湯等，均於此證相合，可隨其輕重而選用之。</p>
<p><u>附錄三仁湯方</u>　杏仁　飛滑石　白通草　白蔻仁　竹葉　厚朴　生薏仁　半夏　甘瀾水煎</p>
<p><u>宣痹湯方</u>　枇杷葉　鬱金　射干　白通草　香豉</p>
<p><u>三香湯方</u>　栝蔞皮　桔梗　焦山梔　枳殼　鬱金　香豉　降香末</p>
<p>再前云舌黃或濁，須要有地之黃。若光滑者，乃無形濕熱，中已虛象。唐本作已有中虛之象。大忌前法。</p>
<p>章虛谷注，謂舌苔如地上初生之草，必有根。無根者為浮垢，乃無形濕熱，而胃無結實之邪，故云有中虛之象。若妄用攻瀉傷內，則表邪反陷，為難治矣。按此二十九字，各本均分屬下節，大誤，宜屬於此。</p>
<p>上第八節，因里結而言痞。</p>
<p>其臍以上為大腹，或滿或脹或痛，此必邪已入里矣。表證必無，或存十之一二，亦要驗之於舌。或黃甚，或如沉香色，或如灰黃色，或老黃色，或中有斷紋，皆當下之。如小承氣湯用檳榔、青皮、枳實、元明粉、生首烏等。</p>
<p>臍以上正當腸胃之間，或滿或脹或痛，則邪之入里，已結於腸胃無疑。斯時表證必無，即有一二，而里結已甚。斷非宣通開泄所能達，故當驗舌即下，生首烏功用，諸家多未詳述。惟《本草經疏》，載其能治毒痢下純血諸藥不效，及治風痰久瘧，則其能清熱涼血可知，生用於下藥中，殆以此歟。</p>
<p>若未見此等舌，不宜用此等法，恐其中有濕聚太陰為滿，或寒濕錯雜為痛，或氣壅為脹，又當以別法治之。</p>
<p>此辨其不可下者。意義甚明，無庸註釋。</p>
<p>再黃苔不甚厚而滑者，熱未傷津，猶可清熱透表。若雖薄而乾者，邪雖去而津受傷也。苦重之藥當禁，宜甘寒輕劑可也。</p>
<p>此條辨黃苔之不宜下者，當屬上文共為一節，諸本分之非是。蓋猶可清熱透表，與苦重之藥當禁，對上文皆當下之而發，所謂要驗之於舌也。甘寒輕劑，如《溫病條辨》中增液等法可師。</p>
<p><u>附錄增液湯</u>　元參　連心麥冬　細生地</p>
<p>上第九節，辨下證具者之治。以上三節，反覆明辨，均言濕溫之下法也。</p>
<p>再論其熱傳營，舌色必絳，絳深紅色也。初傳絳色，中間黃白色，此氣分之邪未盡也。泄衛透營，兩和可也。</p>
<p>章虛谷注，絳者指舌本，本宜改作質意方明瞭。　黃白指舌苔。按此為初傳營分之候，所謂入營猶可透熱轉氣時也。</p>
<p>純絳鮮澤者，包絡受病也。宜犀角、鮮生地、連翹、鬱金、石菖蒲等。唐本此下有清泄之三字。</p>
<p>章虛谷注，純絳鮮澤者，言無苔色，是胃無濁結，而邪已離衛入營，其熱在心包也。若平素有痰，必有苔色。王孟英謂絳而澤者，雖為營熱之徵，實只有痰，故不甚乾燥。問苦胸滿者，尤為痰據，不必有苔，菖蒲鬱金即為此設。若竟無痰，必不甚澤。按王說頗有經驗，勝於章氏。犀角苦酸鹹寒，瀉心胃大熱。鮮生地甘苦大寒，入心腎瀉小腸之火。連翹微寒升浮，入手少陰厥陰，除手足少陽手陽明氣分濕熱，散諸經血凝氣聚。鬱金辛苦氣寒，其性輕揚上行，入心及包絡，兼入肺經，涼心熱，散肝鬱，下氣破血。石菖蒲辛苦芳香，開心孔，利九竅，去濕逐風，除痰消積，開胃寬中。</p>
<p>延之數日，或平日心虛有痰，外熱一陷，里絡就閉，非菖蒲鬱金等所能開。須用牛黃丸至寶丹之類以開其閉，恐其昏厥為痙也。</p>
<p>《溫病條辨》載牛黃丸方。牛黃一兩，鬱金一兩，犀角一兩，黃連一兩，硃砂一兩，梅冰二錢五分，麝香二錢五分，真珠五錢，山梔一兩，雄黃一兩，黃芩一兩，金箔衣。吳氏論，謂此芳香化穢濁而利諸竅，鹹寒保腎水而安心體，苦寒通火腑而瀉心用之方也。牛黃得日月之精，通心主之神，犀角主治百毒邪鬼瘴氣，真珠得太陰之精而通神明合犀角補水救火，鬱金草之香，梅冰木之香，雄黃石之香，麝香乃精血之香，合四香以為用。便閉錮之邪熱溫毒，深在手厥陰之分者，一齊從內透出，而邪穢自消，神明可復也。黃連瀉心火，梔子瀉心與三焦之火，黃芩瀉膽與肺之火，使邪火隨諸香一齊俱散也。硃砂補心體瀉心用，合金箔墜痰而鎮固，再合真珠犀角，為督戰之主帥也。至寶丹方，犀角一兩鎊，硃砂一兩飛，琥珀一兩研，玳瑁一兩鎊，牛黃五錢，麝香五錢，以安息重湯燉化，和諸藥為丸一百九蠟護。吳氏論此方，薈萃各種靈異，皆能補心體，通心用，除邪穢解熱結，共成撥亂反正之功。大抵牛黃丸最涼，紫雪丹次之，至寶丹又次之。主治略同，而各有所長，臨用對證斟酌可也。章虛谷謂邪火盛而色赤者宜牛黃丸，痰濕盛而有垢濁之苔者宜至寶丹。按本文指純絳鮮澤者而言，並無垢濁之語，垢濁者另有治法，章氏之語未免畫蛇添足。昏厥為痙，吳鞠通謂厥者盡也。陰陽極造其偏，皆能致厥，傷寒之厥，足厥陰病也。溫熱之厥，手厥陰病也。舌卷囊縮雖同系厥陰現證，要之舌屬手囊屬足也。蓋舌為心竅，包絡代心用事，腎前後皆肝經所過，斷不可以陰陽二厥，混而為一。再熱厥之中亦有三等，有邪在絡居多而陽明證少者，則從芳香。有邪搏陽明，陽明太實，上衝心包，神迷肢厥，甚至通體皆厥，當從下法。有日久邪殺陰虧而厥者，則從育陰潛陽法。按吳氏此說，殊欠分曉，考《內經》手足厥陰之脈，均與舌本無涉。惟足太陰脈，則連舌本散於舌下，足少陰脈入肺挾舌本而已，安得謂舌屬手也。原其所因，蓋溫邪入里，陽明邪實，脾不能承胃氣下降惡濁，肝風熾張，腎水將涸，故現是證。且脾主四肢，故四肢逆冷，是熱厥必用下法，仲景所謂厥當下之也。至於陰陽寒熱之分，河間元病脹候之說，辨之最詳。陶節庵從陽經傳入者為陽厥，直中陰經不從陽經傳入者為陰厥之語，實本何間立論，為千古辨厥之準繩也。</p>
<p><u>附錄紫雪丹方</u>　滑石（一斤）　石膏（一斤）　寒水石（一斤）　磁石（二斤）　水煮搗煎去。</p>
<p>渣用　羚羊角（五兩）　木香（五兩）　犀角（五兩）　沉香（五兩）　丁香（一兩）　升麻（一斤）　元參（一斤）　炙甘草（半斤）　以上八味並搗挫入前藥汁中煎去渣並　朴硝　硝石（各二斤，提淨）　入前藥汁中微火煎用柳木不住手攪候欲凝再加　辰砂（三兩）　麝香（一兩二錢，並研細）　合成</p>
<p>上第十節，辨初傳營者之舌絳，王孟英謂統風溫濕溫而言是也。</p>
<p>再色絳而舌中心乾者，乃心胃火燔，劫爍津液，即黃連、石膏亦可加入。</p>
<p>王孟英注：熱已入營，則舌色絳，胃火爍液，則舌心干。加黃連、石膏於犀角、生地等藥中，以清營熱而救胃津，即白虎加生地之例也。按黃連清心火，石膏平胃熱，以心胃火燔劫爍津液。故加二味於前犀角生地等藥中，至白虎加生地救斑出熱不解胃陰亡之證，與此不同，王氏引以為例，非是。</p>
<p>若煩渴煩熱，舌心干，四邊色紅，中心或黃或白者，此非血分也。乃上焦氣熱爍津，急用涼膈散散其無形之熱，再看其後轉變可也。慎勿用血藥，以滋膩難散。</p>
<p>上節言初傳絳色中兼黃白色為氣分之邪未盡。蓋邪在氣分，苔屬黃白，初傳營分，氣分尚有餘邪，故中兼黃白。今四邊色紅，紅淺於絳，中心黃白而干，加以煩渴煩熱，是邪未入營，屬氣熱爍津所致。故當急用涼膈散，俾無形邪熱隨有形濁痰下解以去。若用滋膩血藥，是反助濁痰，資其邪熱而難散矣，故以慎勿用為戒。</p>
<p>至舌絳望之若干，手捫之原有津液，此津虧濕熱薰蒸，將成濁痰蒙閉心包也。</p>
<p>此因色絳而舌中心乾者而言。蓋彼則望之干，捫之亦干，此則望之若干，捫之原有津液。所以然者，以濕熱鬱結於內，氣液不得宣通，故望之若干，其實非干，而捫之則潤。王氏前解純絳鮮澤，謂實因有痰，故不甚乾燥，即此可證。</p>
<p>上第十一節，辨色絳而屬於乾者。</p>
<p>再有熱傳營血，其人素有瘀傷宿血在胸膈中，挾熱而搏，其舌色必紫而暗，捫之濕。當加入散血之品，如琥珀、丹參、桃仁、丹皮等。不爾，瘀血與熱為伍，阻遏正氣，遂變如狂發狂之證。</p>
<p>章虛谷注，舌紫而暗，暗即晦也。捫之潮濕不幹，故為瘀血。按血性柔膩，故捫之亦濕，其辨在舌色之紫而暗。</p>
<p>若紫而腫大者，乃酒毒衝心。</p>
<p>王氏《溫熱經緯》引何報之云：酒毒內蘊，舌必深紫而赤，或乾涸。若淡紫而帶青滑，則為寒證，按酒毒衝心，故紫而腫大，寒證則無腫大也。何說不足據。又云：酒毒衝心即加黃連清之。可從。</p>
<p>若紫而干晦者，腎肝色泛也。難治。</p>
<p>章虛谷注：晦而乾者，精血已枯，邪熱乘之，故為難治。腎色黑，肝色青，青黑相合而見於舌，變化紫晦，故曰腎肝色泛。王孟英謂此舌雖無邪熱亦難治。</p>
<p>上第十二節，言舌色之紫者。</p>
<p>舌色絳而上有黏膩似苔非苔者，中挾穢濁之氣，急加芳香逐之。</p>
<p>謂加芳香之品於涼血清熱方中也。章虛谷謂挾穢者，必加芳香，以開降胃中濁氣而清營熱。</p>
<p>舌絳欲伸出口，而抵齒難驟伸者，痰阻舌根，有內風也。</p>
<p>章虛谷注：痰阻舌根，由內風之逆，則升降中又當加辛涼咸潤以息內風。脾腎之脈皆連舌本，亦有脾腎氣敗而舌短不能伸者，其形貌面色亦必枯瘁，多為死證。按若脾腎氣敗，則舌色不當絳而當紫暗矣。</p>
<p>舌絳而光亮，胃陰亡也，急用甘涼濡潤之品。</p>
<p>王孟英謂宜用炙甘草湯去薑桂加石斛，以蔗漿易飴糖。汪曰楨謂：以蔗漿易飴糖，巧妙絕倫。蓋溫證雖宜甘藥，又不可滯下也。誠是，然查仲景炙甘草湯，並無飴糖，當云加蔗漿。</p>
<p><u>附錄炙甘草湯方</u>　甘草（炙）　人參　生薑　桂枝　麥冬　生地　火麻仁　阿膠　炒蛤粉　大棗　水酒各半煎</p>
<p>若舌絳而乾燥者，火邪劫營，涼血清火為要。</p>
<p>上文色絳而舌中心乾者，為心胃火燔劫爍津液。此則通體皆干且燥，是火邪劫營，將耗血動血，甚於劫爍津液矣。故急須涼血清火，王孟英謂宜犀角地黃湯，加元參、花粉、紫草、銀花、丹參、蓮子心、竹葉之類。</p>
<p>舌絳而有碎點白黃者，當生疳也。大紅點者，熱毒乘心也，用黃連、金汁。</p>
<p>疳亦熱毒，屬於相火，故均用黃連、金汁。</p>
<p>其有雖絳而不鮮，乾枯而痿者，此腎陰涸，急以阿膠、雞子黃、地黃、天冬等救之。緩則恐涸極而無救也。</p>
<p>上文紫而干晦者，為腎肝色泛難治，此為腎陰涸，尚可急救，絳與紫之分耳。失此不治，腎陰涸竭，即為腎肝色泛矣。</p>
<p>其有舌獨中心絳乾者，此胃熱心營受灼也。當於清胃方中加入清心之品，否則延及於尖，為津干火盛也。</p>
<p>此條與上節色絳而舌中心乾者不同，彼則通體皆絳，中心獨干，此則通體不絳，惟獨中心絳干耳。彼則邪已入營，為氣血兩燔之候，故宜黃連石膏兩清心胃。此則胃熱灼心，邪熱在胃，重在平胃熱使心營不受胃灼，故於清胃方中加入清心之品，如《溫病條辨》加味清宮湯等可耳。</p>
<p><u>附錄加味清宮湯方</u>　即於清宮湯見前內加知母　銀花　竹瀝</p>
<p>舌尖絳獨干，此心火上炎，用導赤散瀉其腑。</p>
<p>王孟英謂舌心是胃之分野，舌尖乃心之外候。心火炎上者，導赤湯入童便尤宜。導赤湯、生地、木通、甘草梢、竹葉。</p>
<p>舌淡紅無色者，或干而色不榮者，當是胃津傷而氣無化液也。當用炙甘草湯，不可用寒涼藥。</p>
<p>章虛谷注：淡紅無色，心脾氣血素虛也。更加干而色不榮，胃津氣亦亡也。故不可用苦寒之藥。炙甘草湯養氣血以通經脈，其邪自可漸去矣。按此條證治，系屬邪退而氣血兩虧之候，並涼藥不可用，不僅禁苦寒藥。故宜用復脈湯，不避薑桂之辛溫。若邪未淨，則《溫病條辨》有加減復脈之法，不宜徑用薑桂也。章氏其邪自可漸去之說欠斟酌。至何報之紅嫩如新生，望之似潤而燥渴殆甚者，為妄行汗下，以致津液竭之語。系屬誤治壞證，當從《溫病條辨》中之救逆等法，與此條證候截然不同。此條各本均另分章節在黑苔之下。竊謂當附此節之末，蓋與舌絳連類而及，為邪退正虛之候也。</p>
<p><u>附錄加減復脈湯方</u>　炙甘草　乾地黃　生白芍　麥冬（不去心）　阿膠　麻仁</p>
<p>上第十三節言舌色之絳者。</p>
<p>再舌苔白厚而乾燥者，此謂燥氣傷也。滋腎（《溫熱經緯》作潤可從。）藥中加甘草，令甘守津還之意。</p>
<p>章虛谷注：苔白而厚，本是濁邪。乾燥傷津，則濁結不能化，故當先養津而後降濁也。</p>
<p>舌白而薄者，外感風寒也。當疏散之。</p>
<p>此非溫熱，恐人誤以輕為重，故表而出之。</p>
<p>若白乾薄者，肺津傷也。加麥冬花露蘆根汁等輕清之品，為上者上之也。</p>
<p>章虛谷注：肺位至高，肺津傷，必用輕清之品，方能達肺。若氣味厚重而下走，則反均勻涉矣，故曰上者上之。</p>
<p>若白苔絳底者，濕遏熱伏也。當先泄濕透熱，防其就干也。勿憂之，再從里透於外，則變潤矣。</p>
<p>濕遏熱伏，非先泄其濕，則熱無由達。但泄濕之藥多燥，故防其舌之干。然濕既得泄，熱自然透熱既得透，則里無熱，津液得還，自然變潤，所以勿憂，此治濕溫之卻窾也。</p>
<p>初病舌就干，神不昏者，急養正，微加透邪之藥。若神已昏，此內匱矣，不可救藥。（按匱當作潰。）</p>
<p>章虛谷注：初病舌即干，其津液未竭也。急當養正略佐透邪。若神已昏，則本原敗而正不勝邪，不可救矣。王孟英謂初起舌乾而脈滑脘悶者，乃痰阻於中，液不上潮，未可率投補益。</p>
<p>又不拘何色舌，上生芒刺者，皆是上焦熱極也。當用青布拭冷薄荷水揩之。即去者輕，旋即生者險矣。</p>
<p>章虛谷注：生芒刺者苔必焦黃或黑，無苔者舌必深絳。其苔白或淡黃者，胃無大熱，必無芒刺，或舌尖或兩邊有小赤瘰，是營熱鬱結，當開泄氣分，以通營清熱也。上焦熱極者，宜涼膈散主之。王孟英引秦皇士云：凡渴不消水，脈滑不數，亦有舌苔生刺者，多是表邪挾食。用保和加竹瀝、萊菔汁，或梔豉加枳實並效。</p>
<p><u>附錄保和丸方</u>　神麯　山楂　茯苓　半夏　陳皮　連翹　萊菔子</p>
<p>舌苔不燥自覺悶極者，屬脾濕盛也。或有傷痕血跡者，必問曾經搔挖否，不可以有血而便為枯證，仍從濕治可也。</p>
<p>章虛谷注：三焦升降之氣，由脾鼓運，中焦和則上下氣順。脾氣弱則濕自內生，濕盛而脾不健運，濁壅不行，自覺悶極，雖有熱邪，其內濕盛而舌苔不燥。當先開泄其濕，而後清熱，不可投寒涼以閉其濕也。</p>
<p>再有神情清爽，舌脹大不能出口者，此脾濕胃熱鬱極化風，而毒延口也。用大黃磨入當用劑內，則舌脹自消矣。</p>
<p>章虛谷曰：神情清爽而舌脹大。故知其邪在脾胃，若神不清，即屬心肝兩臟之病矣。邪在脾胃者，唇亦必腫也。</p>
<p>再舌上白苔黏膩，吐出濁厚涎沫者，口必甜味也，（唐本作其口必甜。）為脾癉病。（唐本作此為脾癉。）乃濕熱氣聚，與穀氣相搏，土有餘也，盈滿則上泛，當用省頭草芳香辛散以逐之則退。</p>
<p>章虛谷注：脾癉而濁泛口甜者，更當視其舌本。如紅赤者為熱，當辛通苦降以泄濁，如色淡不紅，由脾虛不能攝痰而上泛，當健脾以降濁也。王孟英謂濁氣上泛者，涎沫厚濁，小便黃赤。脾虛不攝者，涎沫稀黏，小溲清白，見證回異。虛證宜溫中以攝液，何亦以降濁為言乎。</p>
<p>若舌上苔如鹼者，胃中宿滯挾濁穢鬱伏，當急急開泄，否則閉結中焦，不能從膜原達出矣。</p>
<p>章虛谷注：苔如鹼者濁結甚，故當急急開泄，恐內閉也。按此條兼言疫證。</p>
<p>上第十四節，諸本皆分舌上白苔黏膩以下為兩章。按自舌苔白厚而乾燥者至此，大都辨別白苔之證治。惟不拘何色舌一條，與傷痕血跡一條，不僅指白苔，然語氣固連類可及，似不必別分章節也。</p>
<p>若舌黑而滑，水來剋火為陰證，當溫之。若見短縮，此腎氣竭也。為難治，欲救之，加人參五味子，勉希萬一。</p>
<p>《溫熱經緯》引何報之云：暑熱證夾血多有中心黑潤者，勿誤作陰證治之。又茅雨人云：凡起病發熱胸悶遍舌黑色而潤，外無險惡情狀，此胸膈素有伏痰，不必張皇。此用薤白栝蔞桂枝半夏一劑，黑苔即退，或不用桂枝，即枳殼桔梗亦效。</p>
<p>舌黑而乾者，津枯火熾，急急瀉南補北。若燥而中心厚㾦者，土燥水竭，急以鹹苦下之。</p>
<p>舌黑而幹不厚，為陰竭津干，邪不在胃，故當急急瀉南補北。章虛谷謂仲景黃連阿膠湯主之。至舌黑而燥，（燥甚於干。）且見中心厚㾦，此屬中焦燥實，故急宜鹹苦下之，以存津保胃耳。按：黃連阿膠湯，用黃連清心火，黃芩白芍清熱養陰，阿膠雞子黃救腎陰，恰合瀉南補北之義，鹹苦用硝黃，不必定拘承氣也。</p>
<p>若舌無苔而有如煙煤隱隱者，不渴肢寒。知挾陰病。如口渴煩熱，平時胃燥舌也，不可攻之。若燥者甘寒益胃，若潤者甘溫扶中，此何故，外露而里無也。</p>
<p>章虛谷注：凡黑苔大有虛實寒熱之不同，即黃白之苔，因食酸味其色即黑，尤當問之。其潤而不燥，或無苔如煙煤者，正是腎水來乘心火，其陽虛極矣。若黑而燥裂者，火極變（按當作似）水，色如焚木成炭而黑也。虛實不辨，死生反掌耳。王孟英謂虛寒證見黑苔，其色必潤而不紫赤，識此最為必訣。</p>
<p>上第十五節，辨黑苔之證治，諸本均分作兩章，今並之。舌無苔而有如煙煤隱隱者，為黑苔之微，其下有不可攻之之語。舌黑而干之下，云急以鹹苦下之。語意相對，各本上下互易，今更之。</p>
<p>若舌白如粉而滑，四邊色紫絳者，溫疫病初入募原，未歸胃腑，急急透解。莫待傳陷而入為險惡之病，且見此舌者病必見凶，須要小心。</p>
<p>此專言溫疫初起之舌，與濕溫白苔絳底為濕遏熱伏者不同，透解當從吳又可達原散諸法。</p>
<p><u>附錄達原散方</u>　檳榔　厚朴　草果仁　知母　芍藥　黃芩　甘草</p>
<p>上第十六節，諸本均連下言斑疹節中，章虛谷、王孟英遂曲為解說，謂此為五疫之濕疫。舌本紫絳，熱閉營中，故多成斑疹。按論舌自論舌，斑疹自斑疹，此條與斑疹絕不相蒙。當時錄者誤連下文，未及提行，讀者不察，遂致此誤，故更正之，別為一節。且此篇之意，專為濕溫而發。因辨證而兼及於風溫者有之。若於溫疫之證，則十未及一二，以溫邪常有，溫疫不常有，且又可自有專書也。其所以舉此舌者，恐學者遇之不識其為溫疫，誤作濕遏熱伏治耳。</p>
<p>凡斑疹初見，須用紙捻照看胸背兩肋，點大而在皮膚之上者為斑，或云頭隱隱，或瑣碎小粒者為疹，又宜見而不宜見多。按方書謂斑色紅者屬胃熱，紫者熱極，黑者胃爛，然亦必看外證所合，方可斷之。</p>
<p>章虛谷謂：斑從肌肉而出屬胃，疹從血絡而出屬經，不見則邪閉，故宜見。多見則邪重，故不宜多。</p>
<p>然而春夏之間，濕病俱發，疹為甚。</p>
<p>溫病條辨謂溫病中發疹者十之七八，發斑者十之二三。</p>
<p>且其色要辨，如淡紅色，四肢清，口不甚渴，脈不洪數，非虛斑即陰斑。或胸微見數點，面赤足冷，或下利清穀，此陰盛格陽而見於上，當溫之。</p>
<p>此言斑疹之屬於虛者，章虛谷謂火不郁不成斑疹，若虛火力弱而色淡，四肢清者，微冷也。口不甚渴，脈不洪數，其非實火可徵矣，故曰虛斑。若面赤足冷下利清穀，此陰寒盛格拒其陽於外，內真寒外假熱，鬱而成斑，故直名為陰斑也。須附桂引火歸元，誤投涼藥即死，實火誤補亦死，最當詳辨。按章氏實火誤補亦死之語，足補此篇之關。蓋毒火挾濁穢鬱伏之證，欲透不透，往往胸見徵點，面赤足冷，但大便必結，或協熱自利，臭穢腥濁。斯時須下其穢濁，穢濁得下，毒火自透，斑疹自出。若用溫補，未有不閉郁喘悶而死者。醫者不明，反以為陷，豈知陷與閉不同，陷者正虛邪毒內陷，其人必神志衰微，語言默默，閉因邪火鬱伏，重重錮蔽，其人必妄語煩躁，氣粗鬱悶，故此證之辨。在下利清穀四字，而清穀非完穀不化之謂，要須澄澈清冷耳。否則雖見諸證，不得便作陰盛格陽治也。因章氏之語，特表而出之。又按《丹溪心法》陰證發斑，此無根失守之火，聚於胸中，上獨薰肺，傳於皮膚而為斑點，但如蚊蚋蝨蚤咬狀而非錦紋也，只宜調中溫胃。</p>
<p>若斑色紫小點者，心包熱也。點大而紫，胃中熱也。</p>
<p>此以下均言實火之斑疹。章氏謂點小即是從血絡而出之疹，故熱在心包，點大從肌膚而出為斑，故熱在胃。</p>
<p>黑斑而光亮者，熱勝毒盛，雖屬不治，若其人氣血充者，或依法治之尚可救。若黑而晦者必死。若黑而隱隱四旁赤色，火鬱內伏，清涼透發，間有轉紅成可救者。</p>
<p>章虛谷注：黑而光亮者，元氣猶充，故或可救。黑暗則元氣敗，必死矣。四旁赤色，其氣血尚活，故可透發。</p>
<p>若夾斑帶疹，皆是邪之不一，各隨其部而泄。然斑屬血者恆多，疹屬氣者不少。</p>
<p>章虛谷注：斑疹夾雜，經胃之熱各隨其部而外泄，熱邪入胃，本屬氣分，見斑則邪屬於血多矣。疹從血絡而出，本屬血分，然邪由氣而閉其血，方成疹也。必當兩清氣血以為治。</p>
<p>斑疹皆是邪氣外露之象，發出宜神情清爽，為外解里和之意，如斑疹出而昏者，正不勝邪，內陷為患，或胃津內涸之故。</p>
<p>內陷為患與胃津內涸，此處未出治法。章虛谷謂既出而神昏，則正不勝邪而死。按第二節若斑出熱不解者一條，有主以甘寒及甘寒之中加入鹹寒之法，所以救胃津亡與防內陷之患。則此證正當用甘寒之中加入鹹寒之法，如《溫病條辨》三甲復脈、大定風珠等法。</p>
<p><u>附錄大定風珠方</u>　生白芍　阿膠　生龜版　乾地黃　麻仁　五味子　生牡蠣　連心　麥冬　炙甘草　雞子黃（二枚）　生鱉甲（三甲復脈見前）</p>
<p>再有一種白㾦，小粒如水晶色者，此濕熱傷肺，邪雖出而氣液枯也，必得甘藥補之。</p>
<p>此濕溫流連氣分日久，失於開泄，始發此種白㾦。所以為邪雖出而氣液枯，必得甘平清肺養陰之藥，如沙參、麥冬、生地等類，不可誤用甘溫也。</p>
<p>或未至久延，傷及氣液，乃濕鬱衛分，汗出不徹之故，當理氣分之邪。</p>
<p>此為濕熱病中之輕證，治以蘆根滑石之流可也。</p>
<p>或如枯骨者多凶，為氣液竭也。</p>
<p>《溫熱經緯》引汪曰楨語：謂白如枯骨者，非惟不能救，並不及救，按此證多見於誤治日久臨危之際。嘗見一少年，初感溫瘧，愈後食復，化為濕溫，下證悉具。醫不肯下，延至月餘，神昏譫語，矢氣頻轉，非常臭穢，頸肋胸背間發尖頭小白㾦，細如散沙，色白無神。醫者尚用清熱透氣之藥，越日而死，死時遺黑糞甚多，此為氣液竭之證。</p>
<p>上第十七節，言斑疹而及於㾦，諸本分為兩節，今合之。以㾦疹固一類也。</p>
<p>再溫熱之病，看舌之後，亦須驗齒。齒為腎之餘，齦為胃之絡，熱邪不燥胃津，必耗腎液。且二經之血，皆走其地，病深動血，結瓣於上。陽血者色必紫，紫如干漆，陰血者色必黃，黃如醬瓣。陽血若見，安胃為主，陰血若見，救腎為要。然豆瓣色者多險，若證還不逆者尚可治，否則難治矣。何以故耶，蓋陰下竭，陽上厥也。</p>
<p>章虛谷注：腎主骨，齒為骨之餘，故齒浮齦不腫者，為腎火水虧也。胃脈絡於上齦，大腸脈絡於下齦，皆屬陽明，故牙齦腫痛，為陽明之火。若濕入胃則必連及大腸，按此語未甚明晰，當言兩陽明之氣相通也。血循經絡而行，邪熱動血而上結於齦。紫者為陽明之血，可清可瀉，黃者為少陰之血，少陰血傷為下竭。其陽邪上亢而氣厥逆，故為難治。按陽上厥。厥，蓋言陰精下竭，孤陽上盡，故難治。豈因陽邪上亢而成厥逆邪。章氏所釋，未免辭不達意。</p>
<p>上第十八節，言驗齒之法，以輔看舌之不足。</p>
<p>齒若光燥如石者，胃熱甚者。若無熱惡寒，胃偏勝也。辛涼泄衛（從《溫熱經緯》諸本多作胃。）透汗為要。若如枯骨色者，腎液枯也。為難治。若上半截潤，水不上承，心火炎上也。急急清心救水，俟枯處轉潤為安。</p>
<p>章虛谷注，胃熱甚而反惡寒者，陽內鬱而表氣不通，故無汗而為衛氣偏勝，當泄衛以透發其汗，則內熱即從表散矣。凡惡寒而汗出者，為表陽虛。勝理不固，雖有內熱，亦非實火，齒燥有光，胃津雖干，腎氣未竭。如枯骨者，腎亦敗矣，故難治。上半截潤，胃津養之。下半截燥，由腎水不能上滋其根，而心火燔灼，故急當清心救水，仲景黃連阿膠湯主之。按無汗惡寒，唇乾齒燥，外感多有之。所謂衛氣偏勝，邪熱薰蒸肺胃所致，非胃津干也。故辛涼泄衛為治，若胃津干，又當甘寒濡潤矣，宜辨之。</p>
<p>上第十九節，辨齒燥。</p>
<p>若咬牙齧齒者，濕熱化風，痙病。</p>
<p>此濕化熱證，生風而發痙也。《內經》原病，諸痙強直，皆屬諸濕，亢極反見勝己之化也。其證牙關咬緊，格格作響，四肢瘈瘲，抽縮牽掣無定。當審形證，細察脈氣，於《溫病條辨》下焦篇痙厥各條求之。</p>
<p>但咬牙者，胃熱氣走其絡也。</p>
<p>此節所謂鋸齒，俗名骱牙，平人睡夢中多有之。清胃疏風，治之即已。</p>
<p>若咬牙而脈證皆衰者，胃虛無谷以內榮，亦咬牙也。何以故耶，虛則喜實也。</p>
<p>章虛谷謂：脈證皆虛，胃無谷養，內風乘虛襲之入絡。而亦咬牙，齒而反見實象，是謂虛則喜實，當詳辨也。按此證見於脈證皆衰，邪退正虛之候，不難辨也。所謂脈證皆衰者，衰指病勢而言，非即指虛言，病勢既退，脈證相符而見此象，則為胃虛。若證衰而脈不衰，如熱退而脈猶有浮數之象，或見細數，不得謂之脈證皆衰，是非胃虛。當別尋其故而治之。虛則喜實，謂胃氣空虛，欲得實來救之。非以咬牙為實象也。</p>
<p>舌本不縮而硬，而牙關咬定難開者，此非風痰阻絡，即欲作痙證。用酸物擦之即開，酸走筋，木來泄土故也。</p>
<p>此因上言濕熱化風痙病，明舌本不縮而硬，為欲作痙證也。</p>
<p>上第二十節，辨咬牙齧齒。</p>
<p>若齒垢如灰糕樣者，胃氣無權，津亡濕濁用事，多死。</p>
<p>章虛谷注：齒垢由腎熱蒸胃中濁氣所結。其色如灰糕，則枯敗而津氣俱亡，腎胃兩竭，惟有濕濁用事，故死也。</p>
<p>而齒縫流清血，痛者胃火衛激也。不痛者龍火內燔也。</p>
<p>章虛谷注：齒縫流清血，因胃火都出於齦，胃火沖激故痛，不痛者出於牙齦，腎火上炎故也。</p>
<p>齒焦無垢者死，齒焦有垢者，腎熱胃卻也。當微下之，或玉女煎清胃救腎可也。</p>
<p>章虛谷注：齒焦者腎水枯，無垢則胃液竭，故死。有垢者火盛而氣液未竭，故審其邪熱甚者，以調胃承氣湯微下其胃熱。腎水虧者，玉女煎清胃滋腎可也。</p>
<p>上第二十一節，察齒垢以定生死，看濕溫之能事畢矣。</p>
<p>再婦人病溫與男子同，但多胎前產後，以及經水適來過斷。</p>
<p>自此以下，言婦人溫病與男子畢治之處。</p>
<p>大凡胎前病，古人皆以四物加減用之。謂護胎為要，恐來害娠。如熱極用井底泥藍布浸冷覆蓋腹上等，皆是保護之意。</p>
<p>章虛谷謂：保護胎元者，勿使邪熱入內傷胎也。若邪熱逼胎，急清內熱為主。如外用泥布等蓋覆，恐攻熱內走，反與胎礙。更當詳審，總之清熱解邪，勿使傷動其胎，即為保護。</p>
<p>但亦要看其邪之可解處，用血膩之藥不靈，又當省察，不可認板法。</p>
<p>章虛谷云：補血膩藥，恐反遏其邪，如傷寒陽明實勢證，亦當用承氣下之。邪去則胎安，若妄用補法以閉邪，則反害其胎矣。故要在辨證明晰，用法得當，須看其邪之可解處，不可認板法，至哉言乎。</p>
<p>然須步步保護胎元，恐損正邪陷也。</p>
<p>言血膩之藥雖宜審用，然胎元終不可傷，反覆叮嚀，戒學者勿鹵莽也。</p>
<p>上第二十二節，言胎前之治法。</p>
<p>至於產後之法，按方書謂慎用苦寒藥，恐傷其已亡之陰也。然亦要辨其邪能從上中解者，稍從證用之，亦無妨也。不過勿犯下焦。且屬虛體，當如虛怯人病邪而治，總之無犯實實虛虛之禁。況產後當血氣沸勝之候，最多空竇，邪勢必乘虛內陷，虛處受邪，為難治也。</p>
<p>言產後，苦寒之藥固宜慎用，然亦不可過事畏葸，以致貽禍。吳鞠通所謂無糧之師，利於速戰。若畏產後虛怯，用藥過輕，延至三四日後，反不勝藥矣。又云：治產後之證，自有妙法。手下所治系實證，目中心中意中註定是產後，識證真，對病確，一掣而罷。治上不犯中，治中不犯下，目中清楚，指下清楚，筆下再清楚，治產後之能事畢矣。其語最為此節精確註解，學者宜詳審之。</p>
<p>上第二十三節，言產後之治。</p>
<p>如經水適來適斷，邪將陷血室，少陽傷寒言之詳悉，不必多贅，但數動與正傷寒不同。</p>
<p>章虛谷謂：數動之義未詳，諸本均無解釋。按數動指脈也，《溫病條辨》有太陰之為病，脈不緩不緊而動數句。注動數者，風火相煽之象。言溫病之脈數動，與傷寒熱入血室之脈遲者不同，餘證相緩也。又閱尤在涇《靜香樓醫案》，類中門中，有口喎語蹇脈浮數動之語，數動指脈，固當時常用也。</p>
<p>仲景立小柴胡湯，提出所陷熱邪，參耆扶胃氣，以衝脈隸屬陽明也。此與虛者為合法。</p>
<p>按《傷寒論》，婦人中風七八日，續得寒熱，發作有時，經水適斷者，此為熱入血室。其血必結，故使如瘧狀，發作有時，小柴胡湯主之。又云：婦人中風，發熱惡寒，經水適來。得之七八日，熱除而脈遲身涼，胸脅下滿，如結胸狀，譫語者，此為熱入血室也。當刺期門，隨其實而瀉之。又云：婦人傷寒發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀者，此為熱入血室，無狂胃氣及上二焦，必自愈。夫七八日續得寒熱，與脈遲身涼者，是邪熱本將自解，因經水適來適斷，乘虛而入於血室，故曰此與虛者為合法。表邪既未嘗犯胃及上二焦，故治法亦惟和表邪。用參耆扶胃氣，助衝脈以提出所陷之邪。</p>
<p>若熱邪陷入與血相結者。當從陶氏小柴胡湯，夫參棗加生地桃仁楂肉丹皮或犀角等。</p>
<p>此言熱邪陷入與血相結者，較熱入血室不與血相結者為重。蓋熱既與血相結，則無形之邪，與有形之血相搏，不復可以提出。故須涼血散血，使血不與熱相搏，而後能和解，如陶氏之法也。</p>
<p>若本經血結自甚，必少腹滿痛。輕者刺期門，重者小柴胡湯去甘藥，加延胡歸尾桃仁，挾寒加肉桂心，氣滯者加香附陳皮枳殼等。</p>
<p>此與熱傳營血，其人素有瘀傷宿血挾熱而搏者同，言經水本有病，而熱邪復與之搏也。刺期門者，瀉其實使氣行瘀散也。重者小柴胡去甘藥加延胡、歸尾、桃仁，所以利其氣，破其血也。挾寒加桂心者，謂其平素有寒也。香附血中氣藥，陳皮、枳殼導滯消痞，氣滯者故加之。</p>
<p>然熱入血室之證，多有譫語如狂之象，防是陽明胃實，當辨之。血結者身體必重非若陽明之輕旋便捷者，何以故耶？陰主重濁，絡脈被阻，側旁氣痹，連胸背皆拘束不遂。故去邪通絡，正合其病。</p>
<p>此明熱陷血室與陽明胃實之辨。蓋胃實宜下，恐人誤治以致禍也。去邪通絡，即上節諸法。</p>
<p>往往延久上逆心包，胸中痛，即陶氏所謂血結胸也。</p>
<p>此明不知去邪通絡，延久而成血結胸者，按陶氏治血結胸，用犀角地黃湯加大黃、桃仁、紅花、枳實，最為合法。諸本於此節之下，有王海藏出一桂枝紅花湯，原為表裡上下一齊盡解之理。看此方大有巧手，故錄出以備學者之用，三十八字，不倫不類。蓋桂枝紅花湯，斷非可以治血結胸者。且正與上節重者小柴胡湯去甘藥之語相反，必非原文，否則別有誤沖敓，合行刪去，免誤學者。</p>
<p>上第二十四節，言熱陷血室之證，婦人之所以異於男子者止此矣。</p>
