<header data-type="book">
<h1>脈度運行考</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李彰五</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1898">公元1898年</data></dd></div>
</dl>
</header>

<h1>內經營氣脈度運行考自敘</h1>
<p>余弱冠肄醫，垂四十年矣。所撰《病家須知歌訣》，批點《寒溫條辨》，業付手民。其《仲景傷寒輯注》及《仲景脈法外注》都三十卷，既無力付梓，又不敢遽爾問世。惟《脈度運行考》，因宦海飄泊，原稿遺失。雖有古歌：「肺寅大卯胃辰宮，脾巳心午小未中，申膀酉腎戌包絡，亥三子膽醜肝通」行世，人多宗之。然，究屬參差，未敢沿誤。蓋以人生經脈度數，連陽蹺、陰蹺附足太陽、少陰合一丈五尺，共一十六丈二尺。手之三陰，各長三尺五寸；手之三陽，各長五尺，足之三陰，各長六尺五寸；足之三陽，各長八尺；督脈、任脈各長四尺五寸。長短既已懸殊，安能以有定之十二時辰，配長短各殊之十二經絡，置督、任於不論乎？思欲再加釐定，吏事又復羈身，無暇及此。因命內子按照《內經·營氣運行》諸冊，詳為覈計。將某經在某時某刻某分若干尺寸，逐一標出，毫不插以臆見。庶經絡、脈度，兩相符合，按時施治，或不致誤。又復附以歌訣簡語。然，亦不過自為閱歷，非敢以之炫世。其所以妄蓄棗梨者，恐一失再失也，閱者諒之！</p>
<p><u>時大清光緒二十四年歲在著雍閹茂孟春之吉彰五李盛卿敘於昆陽觀海軒</u></p>

<h1>內經脈度營氣運行各經時刻分數考</h1>
<p>手太陰肺經，左右各長叄尺伍寸，合柒尺。</p>
<p>右（按：橫排應為上。下同）經由中焦中府穴，上腋，循臂內廉，過寸口，出魚際，抵大指內側少商穴。自寅初初刻一分，至正初刻七分。行如數訖，交手陽明經。</p>
<p>手陽明大腸經，左右各長伍尺，合壹丈。</p>
<p>右經由食指內側商陽穴，上腕，循外肘側，上膊，貫頰入上齒，左之右，右之左，抵鼻旁迎香穴。自寅正初刻八分，至寅末刻，左右行五尺五寸二分；又自卯初初刻一分，至二刻十三分，左右行四尺四寸八分訖，交足陽明經。</p>
<p>足陽明胃經，左右各長八尺，合壹丈陸尺。</p>
<p>右經由目下承泣穴，繞面入下齒齦，左之右，右之左，出下項，循身前，走足抵大指（趾）次指（趾）端歷兌穴。自卯初二刻十四分，至末刻，左右行八尺；又自辰初初刻一分，至正一刻二分，左右行八尺訖，交足太陰經。</p>
<p>足太陰脾經，左右各長陸尺伍寸，合壹丈叄尺。</p>
<p>右經由足大指（趾）隱白穴，走足根（跟），循膕內廉，走脾（髀）上腹，抵胸旁大包穴。自辰正一刻三分，至末刻，左右行四尺四寸七分二釐；又自巳初初刻一分，至正一刻七分，左右行八尺五寸二分八釐訖，交手少陰經。</p>
<p>手少陰心經，左右各長叄尺伍寸，合柒尺。</p>
<p>右經由胸中極泉穴，上腋，循臂內，走腕抵手小指內少衝穴。自巳正一刻八分，至末刻，左右行三尺九寸六分九釐；又自午初初刻一分，至一刻十四分，左右行三尺零三分一釐訖，交手太陽經。</p>
<p>手太陽小腸經，左右各長伍尺，合壹丈。</p>
<p>右經由手小指外側少澤穴，上腕，循肘外，上項，抵耳前聽宮穴。自午初一刻十五分，至正三刻五分，左右行如數訖，交足太陽經。</p>
<p>足太陽膀胱經，左右各長捌尺，合壹丈陸尺。</p>
<p>右經自目內眥睛明穴，上頭下項，循揹走足抵小指（趾）外側至陰穴。自午正三刻六分，至末刻，左右行二尺五寸八分四釐，又未整時，左右行一丈二尺四寸八分；又自申初初刻一分至九分，左右行九寸三分六釐訖，交足少陰經。</p>
<p>足少陰腎經，左右各長陸尺伍寸，合壹丈叄尺。</p>
<p>右經由足小指（趾）趨湧泉穴，上足內踝，繞足根（跟），出膕內廉，上股循腹，抵胸脅上俞府穴。自申初初刻十分，至末刻，左右行一丈一尺五寸四分四釐；又自酉初初刻一分，至十四分，左右行一尺四寸五分六釐訖，交手厥陰經。</p>
<p>手厥陰心包經，左右各長叄尺伍寸，合柒尺。</p>
<p>右經由乳旁天池穴，上腋，循臂，走腕，抵手小指次指內中衝穴。自酉初初刻十五分，至酉正一刻六分，左右行如數訖，交手少陽經。</p>
<p>手少陽三焦經，左右各長伍尺，合壹丈。</p>
<p>右經由手小指次指端關衝穴上腕，循臂外，走肩，入耳後，上耳角，出耳前，抵耳門穴。自酉正一刻七分，至末刻，左右行四尺零六分二釐；又自戌初初刻一分，至戌初三刻十二分，左右行五尺九寸三分八釐訖，交足少陽經。</p>
<p>足少陽膽經，左右各長捌尺，合壹丈陸尺。</p>
<p>右經由目內眥瞳子髎穴走耳上，繞額，下耳後，還上前頂，循後頂，下項至肩，走身側季脅，行後股，下膝踝，抵足小指（趾）次指（趾）端竅陰穴。自戌初三刻十三分，至末刻，左右行六尺五寸四分六釐；又自亥初初刻一分，至正二刻一分，左右行九尺四寸五分四釐訖，交足厥陰經。</p>
<p>足厥陰肝經，左右各長陸尺伍寸，合壹丈叄尺。</p>
<p>右經由足大指（趾）本節後大敦穴走脛，循膕內廉，上膝行股內，繞陰器，上腹，抵乳旁下期門穴。自亥正二刻二分，至末刻，左右行三尺零一分六釐；又自子初初刻一分，至於正一刻六分，左右行九尺九寸八分四釐訖，交督脈。</p>
<p>以上十二經均系雙行，以下督、任二經單行。</p>
<p>督脈長肆尺伍寸。</p>
<p>右經由肝經別支接蓄門，出鼻，上頭，循巔頂，下項，循⿵⿻火八目（脊）下入尾骶，抵長強穴。自子正一刻七分，至末刻，行一尺七寸零六釐，又自醜初初刻一分，至二刻三分，行二尺七寸九分四釐訖，交任脈。</p>
<p>任脈長肆尺伍寸。</p>
<p>右經由會陰穴循陰器上腹抵缺盆，上入承漿穴，下入肺。自醜初二刻四分，至末刻，行如數，復交手太陰經。</p>

<h1>附：營氣脈度運行六言歌</h1>
<p>第一太陰肺經，每日寅時運行，若問何時行盡，寅正初刻七分。</p>
<p>第二大腸陽明，接肺八分起行，行至卯初二刻，畢於一十三分。</p>
<p>第三陽明胃經，接上一十四分，自卯過辰至正，一刻二分始清。</p>
<p>第四太陰脾土，接上三分行走，由辰行至巳正，一刻七分細數。</p>
<p>第五手少陰心，巳正一刻八分，到午初初一刻，一十四分交經。</p>
<p>第六太陽小腸，接上末分起行，只到午正三刻，五分即交膀胱。</p>
<p>第七太陽膀胱，足三陽經皆長，午正三刻六分，復與全未並行，直至申初九分，始交足小指（趾）旁。</p>
<p>第八足少陰腎，申初十分須認，酉初一十四分，此經運行已盡。</p>
<p>第九厥陰心包，酉初末分相遭，至正一刻六分，即到少陽三焦。</p>
<p>第十少陽三焦，接上七分來交，行至戌初三刻，一十二分乃消。</p>
<p>十一足少陽膽，長與胃膀無減，接上一十三分，戌亥行有長短。亥正二刻一分，交與肝經行轉。</p>
<p>十二足厥陰肝，接上二分之間，子正一刻六分，十二經脈已全。</p>
<p>十三由肝過督，惟此與任為獨，接上一刻七分，分明子與醜續。二刻三分交任，諸陽賴之以束。</p>
<p>十四渾衝於任，接上四分運行，醜末正值行竣，絲毫不差交寅。</p>
<p>寅：肺全，大腸起。卯：大腸終，胃起。辰：胃終，脾起。巳，脾終，心起。午：心終，小腸全，膀胱起。未：膀胱中。申：膀胱終，腎起。酉：腎終，包絡全，三焦起。戌：三焦終，膽起。亥：膽終，肝起。子：肝終，督起。醜：督終，任全，復交寅。</p>
<p>又簡捷語</p>
<p>若問寅，肺經已全大腸存。若問卯，大腸終時胃亦到。若問辰，胃終於此脾起行。若問巳，脾終心起皆在是。若問午，心終小全膀胱伍。若問未，只有膀胱中間位。若問申，膀胱將終腎即臨。若問酉，腎終包全三焦首。若問戌，三焦行終膽經及。若問亥，少陽膽終肝經在。若問子，厥陰肝終督脈始。若問醜，督終任全向寅走。</p>
