<header data-type="book">
<h1>沈氏醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈璠</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1730">公元1730年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>細閱魯珍沈先生醫案，用藥大抵豁痰清火之方，十有六七。不知者妄議為偏於清火。殊不知先生盛名幾十載，其全活定以萬計，記載醫案，亦豈僅此一卷。宜溫其涼，宜攻其補，輒中肯綮者，未易勝數。予生也晚，無由窺其全豹，此恨事也。且就此一卷而論，其所施清火豁痰之品，俱出人意外，高人一等。庸醫之共見為虛寒者，彼獨確見為痰為火為鬱結。援引《內經》及丹溪東垣諸說，指證明晰，窮詰原委。且為主病兼病之分，治標治本之論，次第不紊，詳略昭然，真若飲上池之水，而洞見臟腑者。豈同俗醫之約略彷彿，見外症而不審虛實，舉一節以概其餘，或執一己之私，或矯同道之說，或巢襲成方，而不思貫通，或攻為奇異，以示聰明。以他人之性命，試我技術之短長者，所可同日語哉。若使先生果偏於清火，何以於後方所載，有時症而即施參橘，後用六味丸收功，發熱而急進參耆，後用歸脾湯調治。乃知虛弱之症，宜補而補，仍能補人之所不能補者也。偏於清火之說，可不辨自明矣。僭弁簡首，以為閱此書者解其惑。</p>
<p><u>庚午十月澧江閭邱松山氏記</u></p>

<h1>正文</h1>
<p>汪周拔二令郎，年二十二歲，新婚之後，乃祖督課頗嚴，館於別業，經年不入幃房，肝火抑鬱而不舒，擾其精房而成夢遺。馬元儀以補腎澀精之藥治之，甚至厥逆不醒，謂其為虛欲脫，竟以參耆鹿茸河車等藥補之。日甚一日，肌肉消瘦，臥床不起，已經一載，於是延余診視。時八月下旬，見其飲食少進，噯氣而大便燥結，五六日一解，語言默默，小便黃赤，診其脈息，沉細帶數。察其形，唇口面色皆紅，肌肉雖瘦，潤澤而不枯，夜間坐而下臥，無倦怠之意，日間只食薄粥二盞，按其胸腹，板硬不和軟。此因補藥太過，壅塞腸胃，氣道不行，不能宣通，正所謂大羸有實也。因投以二陳加萊菔子、山梔、枳殼、香附、厚朴，沖元明粉服之。三劑後，大便去結糞三五塊，胸次稍寬，語言稍出，又進滾痰丸三錢，又去結糞五六塊，再服前煎方五六帖，大便去黏膩而黑色者不計，間與滾痰丸及清火理氣之藥。如得通泰，自是可進稀粥六七碗，然亦不覺大飢，又以保和丸加黃連，早晚服之，兩月後可進乾飯。余往還兩月，而門人蔡滄文居其家，常為調理，至冬至後，步履如常。居宿於內，新春到舍奉謝，酬以千金。此康熙四十八年之事，其人號麗夭，至今無恙。今元儀謂是渠調治而安，欺妄無耳。即此一案，可知其無不說謊，無一可信，而猶謬自著述，附會於他人之書尾，真鬼蜮也。雍正八年，海上沈璠，時年七十有八。</p>
<p>天老久服右歸飲，其中有桂附甘草，甘草甘緩，不能下達腎家，桂附之性，留戀胃中，其熱性升而不降，所以兩足不暖。河間云：兩足冰冷者，此火不下降也，火降則足自暖矣。熱藥之性，積而不散，煅煉津液成痰。今交相火司天之年，夏暑薰赫之勢，內伏之痰火，得外風所觸，故胸膈不寬，嘔吐痰涎，汗出過多。此汗系胃中濕熱痰火，鬱蒸而泄，即東垣所謂地之濕氣，即為汗也。診得脈息左手沉弦帶數，此肝火不靜也。右手滑大，關部尤甚，此胃中痰飲不清也。恐其大便燥結，痰涎上壅而嘔吐，釀成噎膈、反胃之症。《內經》云三陽結謂之膈。丹溪云：噎膈之症，多起於血枯痰膩，多升少降，大忌香燥熱藥，惟以豁痰清火潤澤之藥，而使大便不燥結為第一著。</p>
<p>在老向有咳嗽之疾，緣勞心過度，外為風寒所觸，內郁之火竊發，上千肺家而咳嗽，已經四載。今交相火，司天之年，內外之火，交相煽動，咳久肺絡受傷，痰中帶血，脈息左手弦細帶數，右手虛大滯滑。此係腎水不足，不能榮養肝木，肝火升騰爍金。《難經》云：東方實，西方虛，瀉南方，補北方，理宜滋陰降火，納氣歸源之藥治之。煎丸並進，並宜寂靜調攝，庶不致喉爛聲啞，釀成勞瘵也。</p>
<p>可老數年前曾患血症，服寒涼之藥，得以相安，去年血症復發，他醫誤進熱藥，以致火來乘金而咳嗽，究其受病之源，腎水不足，不能榮養肝木，木火升騰，血隨火沸而出。今歲少陽相火司天，內外之火，交相煽動，致頻咳而咽喉痛。肺與大腸相為表裡，火流於肛門而發毒。目前脈息弦細帶數，此腎水虧損，相火上炎，肺金受困之症。反以桂附炮姜等燥之劑，耗其腎水，爍其肺金，意欲求愈，難之至也。今且用滋陰降火保肺之藥，並應寂靜調攝，不使咽喉作楚，庶有佳兆。</p>
<p>生地　麥冬　地骨皮　川貝　苡仁　鮮百合　牛膝　知母　黃柏　栝蔞霜　加茅根煎</p>
<p>因酒傷胃，胃中之血凝滯不散，隨氣上升，而吐黏膩紫色之血，此瘀血也。理應理氣消瘀之藥治之，使氣順而不上升，則血自下行，而不至上逆矣。誤用滋陰之藥，遂致胃中之痰瘀不清，隨致上千肺家而咳嗽，胸膈不舒，脈息弦滑。此係胃中之痰瘀不清，肝家有火之故也。暫用理氣消瘀清熱和胃之藥為治，俟胸膈舒暢，然後以滋陰之藥，為善後之計。治血症必先理氣為主，氣順則血自歸經，此萬古不易之法也。</p>
<p>香附　山梔　桃仁　牛膝　鬱金　廣皮　枳殼　歸尾　黃芩　丹參　茅根</p>
<p>平素善飲，酒性大熱有毒，貯於胃中，燔灼津液而發渴，因將寒涼生冷之物，恣意而啖，致火鬱遏，不得發泄，流於經絡，而環跳作楚，入於腸胃而作血痢，達於肌表，而皮膚作癢，乾燥，內火不得疏泄，擾其津液而愈渴，脈息沉澀，此鬱火未經發越之故也。理宜和胃清熱疏理之藥為治，並忌醇酒厚味生冷等物。</p>
<p>〔煎方〕　白芍　甘草　黃連　黃芩　香附　厚朴　山梔　滑石　木通</p>
<p>（丸方〕　蒼朮　黃柏　黃芩　山梔　香附　廣皮　枳殼　石羔　白蒺藜</p>
<p><u>木通煎湯法丸</u></p>
<p>季老受病之源，得之君火司天之歲，夏令炎熱之時，感冒暑熱之邪，以致大便泄瀉，即《內經》所謂暴注下迫，皆屬於火也。熱邪上衝，心生血，肝藏血，肝為相火，兩火相煽，則血隨火沸而上逆。肝為將軍之官，其性暴，主疏泄，其氣鬱而不舒，逆於腹中，則腹不寧，不時噯氣。《準繩》云：噯氣火土之氣，鬱而不舒也。氣道不舒，故蹇於語言也。肝火不得疏泄，上升則頭眩，下降則腹作鳴。胃主肌肉，犯胃則肌肉跳動。擾其精房，則夢遺泄滑。心藏神，肝藏魂，二火相煽，則神不寧，而臥不安也。陽事者，宗筋之會，肝之所循，火亢於上，故常舉而不痿也。得以小便而痿者，肝火從溺而泄也。蓋下有二竅，有水道，有精道，精道閉則水道開，水道閉則精道開。脈息沉而帶數有力，種種諸症，皆系肝氣鬱而不舒，肝火不得疏泄之故也。理宜清肝火，疏肝氣，利水道之藥治之自愈。但時值冬令閉藏之月，木火內伏，不能條達，至春氣發生，木得疏泄，自然卻去病蒂矣。</p>
<p>龍膽草　黃柏　連翹　山梔　夏枯草　木通　青皮　香附　枳殼</p>
<p>賓老平昔嗜酒，酒性濕熱，積於胃中，薰灼於口，而舌為之糜碎，下注膀胱，而小便為之渾濁，綿延已久，脾氣大虛，飲食減少，而覺無味，脈息短小，此脾虛而濕熱未清也。理宜健脾氣，清濕熱，加味六君子為治。</p>
<p>白朮　人參　甘草　熟半夏　廣皮　茯苓　黃連　石羔　藿香　白葛根</p>
<p>陰虛火炎而吐血，上爍肺金，腠理不密，外邪乘虛襲肺，而咳嗽入於大腸，腹中作痛，下利見血，脈息洪大，此火得風而熾也。理宜疏風理氣之藥為治，俟咳嗽稍平，然後以滋陰降火之藥培其本。</p>
<p>蘇子　杏仁　枳殼　廣皮　前胡　薄荷　白芍　甘草　黃芩　香附　加生薑</p>
<p>蘇州吳佐臣案，經云：陽絡傷則血外溢。因勞力過度，有傷胃絡，血瘀胃中，則肝火上升而吐。所來之血，厚而黏膩，此瘀血也。理宜消瘀降火順氣之藥治之。又因補之太早，余瘀未盡，所以今春復吐。既吐之後，陰血有虧，肝火上爍肺金而咳，脈息弦細帶數，此腎水虧損，肝火妄動，肺金受困之象也。理宜滋陰降火保肺之藥為治。</p>
<p>生地　丹皮　麥冬　川貝　白芍　北沙參　栝蔞霜　黃柏　知母　地骨皮　加蓮子</p>
<p>南匯東門外周振育。經云：九竅不通，腸胃之所生也。胃中痰積壅滯，不得通泰，所以鼻為之病。逐去胃中之痰積，使從大便而出，則鼻竅自利矣。</p>
<p>半夏　廣皮　枳殼　香附　栝蔞　山梔　黃芩　木通　萊菔子　加生薑</p>
<p>又服滾痰丸</p>
<p>南匯東門外金時成，胃中有痰，外受風寒，鬱而不舒，上千肺家，肺家閉塞而聲啞，非勞病久嗽之聲啞也。</p>
<p>半夏　廣皮　杏仁　蘇子　枳殼　前胡　薄荷　黃芩　山梔　鮮菖蒲根　加姜</p>
<p>嘉定王佩玉令姊，肝火鬱於胃中，不得條達通暢，以致作脹攻衛作響，注於大腸，則為泄瀉，脈息弦數，經事不至。此乃木鬱土中，理宜扶脾疏肝之藥。</p>
<p>香附　山梔　黃芩　枳殼　廣皮　白朮　厚朴　青皮　白芍　水煎</p>
<p>東山夏姓，胃中濕痰，隨火下注精房而遺滑，誤以補腎澀精之藥治之，以致濕痰糾結於胃，飲食少進，難以運化，脈息弦滑，右手關部尤甚。胃中有濕痰，肝家有鬱火也。理宜豁痰清肝之藥為治。</p>
<p>半夏　廣皮　枳殼　栝蔞實　厚朴　香附　山梔　加姜煎</p>
<p>魏提臺，年六十九，平日勞心思慮，氣結痰凝於胃。春三月得不寐之症，每至夜間，胃中如焚，煩躁不寧，目不交睫，晝則稍安，毫不倦怠，飲食雖進而無味。諸醫俱云心血不足，用天王補心丹。有議心腎不交，而用加味地黃丸；有議思慮傷脾，而用歸脾湯。愈覺日甚，將有發狂之兆，如此者兩月餘。延余診視，面色紅亮而浮，脈息沉小滑而有力，關部尤甚。此乃肝火鬱而不舒，胃中膠痰固結而不通也。經云：胃不和則臥不安。又云：陽明病不得眠，大便三四日一解，用礞石滾痰丸三錢。大便去黏膩之痰不計，二便如火，以二陳、石羔、黃連、山梔、石菖蒲、鉤藤、栝蔞實、枳殼，連進四帖，即能安臥。然有時胃中如火，又用滾痰丸三錢，又去白痰碗許。仍用前豁痰清火之藥，丸服二十日全愈。一月後又停食冒風，胃脘作痛發熱，用消導之藥平安，後用加味六君子湯調養，康健倍常。</p>
<p>分巡道朱一鳳，幼孤而貧，讀書作文，借酒陶情，濕熱蘊蓄於胃中，上薰於口而糜爛，愈後或每月一發，或兩三發，發必咽痛而口碎。乾飯入胃，痰涎溢出口角，已經六載，不能卻去病蒂。雍正三年，夏末秋初，延余診視。面色紅亮，大便燥結不渴，畏茶湯，先以蒼朮、厚朴、廣皮、旋覆花、石羔、枳殼、黃柏、萊菔子，湯藥連進三劑，頗覺相宜。細思濕痰非湯液所能治，即以前藥去旋覆，加栝蔞實為末，用淡薑湯法丸服半月，覺膈舒暢，大便去黏膩痰飲不計，口內不流涎，亦不糜爛矣。</p>
<p>俊宜徐和修，平昔嗜酒，則知濕熱之蘊於胃者久矣，加以夏令熱邪侵襲，至收斂於內，交一陽和動之時，內斂之邪，流動發越而為痢，春夏邪氣散漫，流注經絡而作痛，俗名痢後風也。診得脈息左手弦，右手弦且滑大，此濕熱滯於腸胃，失於推蕩，以致流注經絡，而支節腫痛。治宜理滯氣，清濕熱之藥。</p>
<p>厚朴　枳殼　廣皮　木通　滑石　蒼朮　黃芩　黃柏　秦艽　加桑枝煎</p>
<p>張壽南，肝火鬱於胃中，不得疏泄，而寒熱如瘧，胃脘或時作痛，脈息洪大而弦滑，此胃中有痰，肝家有鬱火也。宜豁痰理氣疏肝之藥為治，並宜清虛淡泊，則胃中清爽，而痰自無矣。</p>
<p>柴胡　青皮　半夏　廣皮　山梔　香附　黃芩　甘草　枳殼　加姜煎</p>
<p>松江張殿舟，天稟素弱，腎水不足，夏令兼暑熱之邪，至秋髮瘧，瘧愈而暑邪未清，補劑與葷腥太早，致餘邪未清，流注於背脊支節之間作痛，擾其胃中之血下流，而為便紅。至春令發生三月，餘邪外達，復寒熱如瘧，交夏令內伏之火炎炎而熾，加之酒熱助火，胃中之血隨火而升，脈息左手弦數，此肝火妄動也。右手洪大，此胃中之火不靜也。火來爍肺，故痰中帶血，肺氣布於胸膈，致氣升不舒，目下降氣清火，火降則血降，治血必先理氣，氣降則血自歸經，而不致上逆矣。暫用理氣清火，服四劑後胸次舒暢，氣不上升，然後以滋陰降火、清金保肺之藥治其本，並宜戒惱怒，忌一切肥膩辛辣醇酒厚味為主。</p>
<p>生地　蘇子　鬱金　丹參　枳殼　黃芩　山梔　棗仁　蔞仁　白芍　川連　牛膝　荷葉汁　茅根</p>
<p>娘娘，肝家之火，鬱而不舒，煅煉津液成痰，隨火上升，咽噎之間，結成有形之象，升降無時，上升則頭眩耳鳴，降下則兩足麻痹而熱，脈息左手弦數，右手帶滑且大，此乃郁痰鬱火症也。理宜和胃豁痰清肝之藥治之，並忌醇酒厚味，戒惱怒為要。（唐露玉令堂）</p>
<p>川連　黃柏　石羔　半夏　廣皮　香附　山梔　桔梗　甘草　栝蔞　夏枯草　加姜煎</p>
<p>丸方加貝母夏枯草湯法</p>
<p>太倉錢因之令媳，娘娘平昔有肝火，所以善怒，每每產後必作血暈，此因肝火而作暈也。懷娠之時，肝氣鬱而不舒，郁之既久，則產後空虛，其火上衝而作暈，平時兩足冰冷，此火不下降，火氣上蒸，於頭則發墮目下，懷娠六月，腰痛而帶下，飲食少進而作脹，脈息弦數。此腎水不足，不能榮養肝木，鬱於脾土之中，恐火氣擾其血分，而有墮胎之慮，理宜扶脾疏肝，清火之藥治之。</p>
<p>白朮　白芍　條苓　枳殼　香附　廣皮　白茯苓　黃柏　甘草</p>
<p>崇明襲永和，痰火鬱於胃中，不得通泰而作痛，用通利之藥，肛門覺熱，小便黃赤，此火氣下降也。因痛而飲燒酒，得以暫止者。蓋熱得熱，則同氣相求，似乎相安，而實助其為患也。理宜清火，和胃理氣之藥為治。</p>
<p>半夏　廣皮　黃芩　石羔　香附　山梔　青皮　枳殼　黃柏　栝蔞實</p>
<p>揚州東門外顧友仁兄，飢飽不時，惱怒傷肝，有傷胃絡。經云：陽絡傷則血外溢，致吐瘀血，已延四載，不時竊發，去血過多，陰分受傷，肝火上爍肺金而咳嗽，痰涎頗多。脈息左手弦而帶數，此肝火妄動也。右手又見滑大，此胃中有痰也。先宜戒惱怒，省言語，調飲食，避風寒暑熱，靜養調攝，並服滋陰降火，保肺清金之藥為治。</p>
<p>生地　丹皮　川貝　廣皮　麥冬　骨皮　白芍　栝蔞霜</p>
<p>崑山邵政平令郎，腎水不足，不能榮養肝木，肝火上升，外受風寒，胃中之痰，隨火上千肺家而為咳嗽，用發散之藥，升提其火，以致吐血咳嗽不止，痰涎頗多。至五月初復發，脈息弦數，此水衰火亢，肺金受困之症。理宜滋陰降火保肺之藥治之。</p>
<p>生地　丹皮　麥冬　白芍　黃柏　知母　貝母　丹參　骨皮　牛膝　加茅根煎</p>
<p>東山劉永傳，瘧痰之後，飲食不節，脾傷不能運化，而成積滯，胸腹脹滿，按之堅實，日漸以大，大便或結或溏後重，不爽快，面色痿黃，脈息左手沉弦，右手滑大。此肝氣鬱而不舒，胃中積滯糾結不清也。理宜扶脾胃，疏肝氣，消積滯藥。</p>
<p>白朮　枳實　半夏　廣皮　香附　山梔　厚朴　青皮　萊菔子　山查</p>
<p>濮院吳廷來，胃脘作痛而嘔吐，乃肝火鬱胃而成，誤服熱藥，幾至危殆。用清火和胃之藥，嘔吐已平。但郁久未清，有時上逆，脈息弦數，此胃不和而餘火未清也。當以和胃清火之藥治之。</p>
<p>半夏　廣皮　山梔　香附　石羔　川連　栝蔞　青皮　枳殼　加姜</p>
<p>平湖陳晉公，平素多思多郁，肝火鬱於胃中，不得疏泄，煅煉津液成痰，阻滯氣道，飲食入胃，則作脹而痛，近因春令，肝木用事，惱怒傷肝，以致左脅作痛，以手按之亦痛。肝為藏血之臟，怒則傷肝，而血為之郁。經云：大怒則菀於上，令人薄厥。將來慮其隨火上升而吐。脈息沉弦而澀，此瘀血阻滯，胃中作痛也。理宜行滯消瘀，理氣之藥治之。今先用一味大黃丸，以逐胃中之血，從大便而出，並慮其成噎膈之症也。</p>
<p>桃仁　歸尾　鬱金　牛膝　香附　山梔　青皮　半夏　廣皮</p>
<p>大便黑色，故知其有瘀血也。</p>
<p>服酒蒸大黃丸二錢，大便去結糞黑色黍膩之物不計，肛門覺熱，則知郁與瘀血無疑矣。但胃中尚未清爽，所以胸膈不能寬暢，背心作痛，在此肺腧也。經云：諸氣膹郁，皆屬於肺。因郁之久，火氣不能通達，以致作痛。今診得脈息弦大帶數，因服通利之藥，火氣得以發泄故也。調治之法，先講開鬱消瘀潤大便為要，結則肺脘不通而痛。《內經》云：三陽結為之膈。三陽者，大小腸膀胱也。結於下則反之於上，而噎膈之症來矣。常將湯液滑潤之物，滋其大便，並服蔗漿梨汁蘆根汁，而使大便不燥結為妙。</p>
<p>白芍　甘草　桃仁　當歸　鬱金　香附　山梔　枳殼　半夏　廣皮　夏枯草煎湯服</p>
<p>黃江涇沈上林令堂，娘娘受病之原，得之惱怒，抑鬱之於胃中，煅煉津液成痰，隨肝火上升於結喉，皮裡膜外，結成痰塊，氣滯而日漸以大。《內經》云：榮氣不從逆於肉，里乃生壅，腫因氣滯，而痰凝不散所致也。脈息左手沉弦，右手關部獨見沉滑。肝家有鬱氣鬱火，胃中有膠痰糾結，理宜理氣豁痰之藥為治，並忌醇酒厚味等物。</p>
<p>半夏　廣皮　萊菔子　蔞實　枳殼　香附　山梔　黃芩　夏枯草　白芥子　青皮</p>
<p>丸方加海石竹瀝生薑</p>
<p>壽南兄，去冬感受寒邪，背脊惡寒，寒束其火，不得疏泄，流注於胸脅之間，攻衝於胃，或痛或不痛，寒熱似瘧，此冬令寒邪，至春發越，故為寒熱也。誤用參耆白朮，閉其腠理，邪氣內伏，故寒熱雖止而不清，肺家則為咳嗽，脈息洪大而弦。此內火鬱而不舒，理宜豁痰理氣疏肝之藥治之。連進數劑，自然全愈矣。</p>
<p>柴胡　茯苓　甘草　枳殼　半夏　青皮　廣皮　山梔　香附　前胡　加姜煎</p>
<p>常州江甸方，幼時有夢遺之病，此肝火妄動，擾其精房而來。醫者俱以補腎澀精之藥澀之，其火不得下降，反以桂附助其火，其火愈熾而上升，血隨火沸而衄血。今值純陽之月，內火與外火，交相煽動，而胃中之血，大吐不止，胸膈不寬，喉中作癢。此吐後不歸經絡之血，留滯膈間，肝火鬱而不舒，脈息左手弦數，右手洪大有力。此胃中余瘀未盡，肝火不靜，理宜消瘀清火理氣之藥治之，並宜清虛淡泊，一切醇酒厚味，暫宜停止，俟胃中氣降火降，胸膈寬舒，然後議調補之法，為善後計。</p>
<p>桃仁　歸尾　香附　山梔　牛膝　丹參　白芍　青皮　滑石　黃芩　茅根（一兩）　先服酒蒸大黃三錢</p>
<p>青浦潘麗文兄，飢飽不時，外邪乘虛襲肺而咳嗽，痰中帶不鮮明之血些少。因不避風寒，不忌葷腥，誤作勞症吐血而醫治，郁其血邪在內，不得發越，綿延至今，咳嗽日甚，嗽極則嘔，胸膈不舒，大便滑泄，小便黃赤，肛門發熱，脈息左手弦大帶數，右手滑大帶數。此胃中有痰，肝家有火，郁之既久，乘夏令火氣發越之時，肺家之火，流注於大腸，而為滑泄，並非脾虛作瀉也。理宜降氣豁痰，清火之藥為治，俟胸膈舒暢，痰火下降，肛門不熱，小便清白，然後以滋陰之藥培其本，暫忌醇酒厚味等物為要。</p>
<p>半夏　廣皮　蘇子　杏仁　香附　石羔　黃芩　山梔　甘草　加生薑煎。</p>
<p>平湖王永年，胃中之痰，隨火升降，晝則行陽二十五度，隨火上升，滯於胸膈而作脹，按之有形，飲食難以下達，夜則行陰二十五度，隨火降下，而胸次舒適，注於精房而為夢遺，脈息弦滑有力，此胃中之痰，隨火升降而為患也。理宜豁痰清火之藥治之。</p>
<p>半夏　廣皮　蔞實　黃柏　枳殼　香附　梔子　萊菔子　川連　加姜煎</p>
<p>上洋馬頭渡李云甫媳，二十歲，於二月十四日，患脅痛氣喘不得臥，數日，諸醫皆以風寒發散，或用降氣等藥，不能取效。平希於以為肺脹，法在不治。余適往外家，經過門首，邀余診視，見其面青氣喘，兩脅作痛，不能閤眼而臥，其母其姑，俱備後事，在患者之旁，患者見之淚下。診其脈，兩手弦急，無痰聲，鼻不煽，無汗出，即示未為絕症，後事且緩，病者安心，心安則能安枕，此亦法也。此症當春令肝木旺之時，木火垂金，因擬一方，用白芍、甘草、栝蔞、川貝、黃連、石羔、廣皮、鉤藤、蘇子，用生鐵二兩，煎湯煎藥，一劑後即能安臥。希於至，見其安臥，問余用何宗湯藥。此症木旺，故用鉤藤、生鐵，助金以平肝，黃連清心火，石羔清肺平肝，蘇子降氣，貝母、橘皮、栝蔞降痰潤肺，白芍、甘草緩肝，彼亦心服。後皆希於調治而安。</p>
<p>浙江西新城李益書，平素服八味丸歸脾湯，數年後覺胸中痰火鬱結，大便五六日一解，頭面烘熱而紅。此因桂附太多，積熱於胃，煅煉津液成痰，脈息數大。用清火疏理之藥，病勢稍減，然苦於大便燥結，胸腹如燎。此鬱火不能外達，用涼膈散一兩，以瀉其鬱火。十月初旬用藥起，至次年正月下旬，腹中舒暢，肛門不熱，復服滋陰降火之劑而愈。</p>
<p>川沙北門外金隆吉令郎，二十二歲，七月初旬，患時症發狂譫語，氣急痰升，不能安臥，諸醫以黃連石羔連翹等清火之藥治之，半月不愈，迎余診視。面色唇口皆紅，身無大熱，按之胸腹和軟，大便滑瀉，小便清利，痰聲作齁，脈息虛大，不能安臥。細究此症，若陽明胃實，大便必結，胸腹按之必實，舌必黃苔。今無是證，觀其小便不禁而利，惟痰聲齁齁，此乃少年不謹，暑熱之邪，傷其元氣。清熱之藥已多，不能見效，難於下藥，以人參一錢，橘紅一錢，煎徐徐與之，以扶元氣而化痰。服完平安，又復煎與之。一晚計服人參七錢，橘紅七錢半。兩日服人參橘紅四兩，痰聲下降，人事清爽而熟睡。復用六味丸生脈散調理而愈。</p>
<p>柴場灣唐虞在令政，懷娠七月，正月春初，倏而眩暈，兩手瘛瘲，不能言語，不省人事，面色紅亮，脈息左手弦而帶數，右手滑大有力。此肝火熾盛，上衝於胃，胃中之痰，擾心肺之竅，而昏瞶不省人事，因此而胎亦墮。用二陳加黃連、鉤藤、山梔、鮮石菖蒲、膽星、枳殼、鬱金，沖童便、梨汁、竹瀝、薑汁，連進二劑，即能開口，而知人事。小產彼亦不知，後用涼血，生地、丹皮、鉤藤、黃連、廣皮、丹參、鬱金、石菖蒲、甘草，加蓮子調理而安。</p>
<p>蘇州閶門外益隆號程希文，伏暑未清，葉天士用參朮補之，以致胸腹作脹，攻衝不寧，不能安臥，已經兩月。至十月十五日，延余診治。小便黃赤，飲食不進，用二陳加厚朴、青皮、香附、黃連、滑石、枳殼，四劑而諸症皆退。後用六味而全愈。</p>
<p>閶門外上津橋陳友文令郎，正月患咽喉作痛，用滋陰清火之藥，咽痛已除，而胸膈滿悶，痰涎上壅，飲食不進，不得安臥，已經兩月，邀余診治。門人杜良一同往。診得脈息甚大，口亦不渴，唯見痰涎上壅，胸中滿悶，而不能進飲食。此胃中有痰而不得臥，用滾痰丸三錢，下頑痰不計，即能安寢，而胸前舒適。復用二陳加石菖蒲、鉤藤、枳殼，連進四劑而愈。</p>
<p>蘇州齊門外蔣奶奶，寡居七載，勞心抑鬱，肝氣不能條達通暢，以致滯下腹痛後重，胸膈不寬而噁心。時當初夏，葉天士以為不足之症，而用人參人乳等補劑。適余在吳門，延余診視，門人杜良一同往。診得脈息弦大帶數，腹痛後重，肛門如火，口乾氣急，此肝家鬱火，下注而為滯下，上升而嘔惡，胸膈不寬。用黃芩芍藥湯，加厚朴、枳殼、香附、山梔、黃連、木通、滑石，一劑腹痛頓除，飲食可進。連用四劑，痢止胸寬，復用香附、廣皮、厚朴、枳殼、黃芩、黃連而病愈。</p>
<p>上洋南關外周襄文，七月初往松江完糧，途中奔走，百有餘里，兼之飢餓，發熱自汗不止，倦怠乏力，語言難出，脈息虛大，諸醫以為冒暑，議用香薷飲。延余診視，脈息虛無力，汗出如注，無氣力轉動，即曰：此熱傷元氣，飢餓勞倦所致。即以黃耆五錢，人參三錢，白朮三錢，麥冬一錢，五味子七粒，連進三服，汗斂神復。以粥食與之，始得安臥。後用歸脾湯生脈散而愈。</p>
<p>崇明沈尚其，三消之症不一，有火衰不能蒸其津液上騰，小便清白而味甘者。昔漢武帝患此，張仲景以八味地黃丸治之。今尚其正是此症，服藥已稍愈，惟口內乾燥，小便如膏，足痿乏力，乃虛火上炎，肺金受灼，《內經》所謂諸痿皆屬於肺熱。脈息虛大，理直生脈散治水之上源，八味丸補火為要。</p>
<p>〔煎方〕　人參　五味子　麥冬　玉竹　黃耆　金石斛　生地　天冬　加蓮子</p>
<p>〔丸方〕　熟地　山萸肉　山藥　澤瀉　茯苓　丹皮　天冬　麥冬　肉桂　附子</p>
<p>崇明黃土端，肝火鬱於小腹，外為寒涼所遏，不得伸越，以致結成有形之象，稍有所觸，上千肺家而作痛，攻衝不寧而嘔逆，脈息左手沉弦帶數，右手沉滑有力。此肝家有鬱火，胃中有痰飲也。理宜清肝火，疏肝氣，和胃豁痰之藥治之。</p>
<p>半夏　廣皮　香附　山梔　黃柏　桂枝　青皮　萊菔子　加生薑煎</p>
<p>黃士端後案，氣結於小腹之右邊，有形一條堅硬。此係外受寒邪，郁其肝火，不得疏泄，遇冬令潛藏之月，火氣內伏，稍觸寒邪，則上干於胃，而胸膈脹滿。當以疏肝和胃清火之藥為治。</p>
<p>蘇子　桂皮　沉香　枳殼　黃柏　香附　山梔　青皮　半夏　橘紅　栝蔞　萊菔子　加姜煎</p>
<p>崇明沈天章，飢飽不時，胃絡受傷，血瘀於胃，以致胸膈不寬，而吐黍膩之血，屢次竊發，脈息弦數。此乃胃中痰瘀，糾結不清也。理宜消瘀理氣豁痰之藥為治，今晚先服酒蒸大黃丸二錢，以逐胸中之瘀滯，使其下行，清晨方可以煎方服之。</p>
<p>桃仁　歸尾　牛膝　丹參　滑石　半夏　橘紅　香附　栝蔞　枳殼　萊菔子　加生薑煎</p>
<p>沈天章後案，瘀血留滯於胃者日久，服消瘀煎劑、大黃丸二服，其血已從大便去矣。但去之猶未盡，再當以消瘀之藥，漸漸消之，使之下行，俟胸膈舒泰，氣不上升，即停丸藥。如覺氣升而逆，恐其血來，即以此方服之。</p>
<p>丹參　桃仁　半夏　廣皮　香附　滑石　牛膝　鬱金　栝蔞　山梔　枳殼　茅根</p>
<p><u>丸方即以本方加萊菔子</u></p>
<p>崇明袁達九，去夏感受暑濕之熱邪，加之飲酒太過，蘊蓄於胃，不能通暢，以致胸膈不寬，飲食不進，面色帶黃，小便短少而赤，大便燥結，脈息左手帶弦，右手滑大有力。此乃胃中濕熱積滯未清也，當以清濕熱和胃理氣之藥治之。</p>
<p>半夏　萊菔子　栝蔞　滑石　厚朴　廣皮　香附　山梔　木通　枳殼　加姜煎</p>
<p>平湖江尚安，去春時症之後，不忌葷腥，致肺金不清，咳嗽吐血，延至冬令，火氣潛伏之時，內熱更甚，上升而爍肺金，咳嗽日甚，胸腹如燎，下注而肛門發毒，大便不實。目前夏令炎炎之勢，不足之金，奚堪燔灼，脈息細數無神。此乃水衰火亢，肺金受困之象。雖大便不實，乃肺虛因熱而跗踵，非脾虛之症。燥脾之藥，不宜多服。惟以滋陰保肺清熱之藥為治。</p>
<p>生地　麥冬　丹皮　苡仁　橘紅　白芍　骨皮　白芩　川貝　加蓮子（十粒）</p>
<p>太倉沙頭鎮孫金祥，平素善怒躁急，內有肝火，得外之風寒所觸，上干於肺，而咳嗽之極，則血隨火沸而吐出，脈息弦數。此乃腎水不足，不能榮養肝木，肝火上炎而爍肺，肺金受困之象，理宜滋陰降火清金保肺之藥，並宜戒惱怒，慎起居，不至釀成勞瘵也。</p>
<p>生地　丹皮　麥冬　骨皮　廣皮　川貝　栝蔞　黃柏　知母　杏仁　加蓮子砂仁</p>
<p>下沙王敬哉，血症之後，腎水不足，虛火上炎爍肺氣，不能納藏於下，上升而咳。因腎納氣，肺布氣，腎虛氣不歸源，故稍有動作言語，則氣上升而咳嗽。脈息虛大，兩尺尤甚，乃腎虛氣不歸源也。理宜補腎納氣之丸治之。</p>
<p>熟地　萸肉　丹皮　山藥　茯苓　澤瀉　五味子　枸杞　兔絲　磁石　砂仁　玉竹　麥冬　白芍　蓮肉</p>
<p>王敬哉令愛，女子十四而天癸至，今逾期不至者，此先天之真陰不足也。況有咳嗽吐血之症，乃水衰火亢，肺金受困之象。理宜滋陰降火保肺之藥為治。</p>
<p>生地　丹皮　骨皮　當歸　黃芩　白芍　白苓　花粉　麥冬　玉竹　加蓮子（十粒）</p>
<p>五灶蔡六老，胃中痰火糾結不清，干清虛之府，以致不得安臥，神魂不寧，脈息弦滑，此乃痰火充塞於胃也。先以滾痰丸二錢，淡薑湯下之，使痰從下竅而出。然後用豁痰清火之藥，並忌醇酒厚味為要。</p>
<p>半夏　廣皮（去白）　枳殼　石羔　鉤藤　黃芩　栝蔞　萊菔子　石菖蒲根　加姜竹茹</p>
<p>新場程君爍，先天腎水不足，相火妄動，上爍肺金，外邪乘虛襲肺，發為咳嗽。已服過疏之劑，外邪已去，惟有火氣上炎而乾咳，脈息弦數。此乃火亢肺金受困之象，理宜滋陰火清肺藥為治。</p>
<p>生地　丹皮　麥冬　杏仁　川貝　蘇子　栝蔞仁　黃芩　山梔　地骨皮　加蓮子</p>
<p>服滋陰清肺之藥，咳嗽稍減，夜可安寢，脈息不數。此漸愈之佳兆也，但必得煎丸並進，並靜養調攝，可免勞瘵之疾也。</p>
<p>〔煎方〕　生地　丹皮　麥冬　栝蔞霜　玉竹　地骨皮　川貝　苡仁　知母　川柏　加蓮子</p>
<p>〔丸方〕　熟地　天冬　麥冬　茯神　棗仁　黃柏　知母　丹皮　骨皮　川貝　蜜丸　白湯下</p>
<p>北六灶楊啟林，去冬患瘧，三日一發。此內伏之暑邪，與胃中之痰積，互為患也。又因飲食不節，鬱而為熱，胃中火氣上升而鼻衄，綿延至今不愈。脈息弦大帶數滑，此胃中痰積未清也。先宜清虛淡泊，臨發之日，只宜以薄粥養之，並服豁痰疏理清熱之藥。</p>
<p>柴胡　半夏　廣皮　香附　枳殼　川樸　茯苓　甘草　知母　青皮　熟石羔　加姜煎</p>
<p>金澤蔣元信，食入即吐，是有火也。脈息洪數，此肝火上衝於胃而吐也。理直和胃清火之藥。</p>
<p>半夏　廣皮　茯苓　香附　山梔　石羔　黃柏　白芍　黃芩　加生薑竹茹茅根</p>
<p>嘉定西門外朱聖希，先天腎水不足，相火上炎，銷爍肺金而咳嗽，午後發熱，脈息虛大帶數，此水衰火亢也。理宜滋陰降火保肺之藥為治，並宜絕嗜欲，戒惱怒，靜養調攝，不至釀成勞瘵也。</p>
<p>生地　丹皮　麥冬　骨皮　黃柏　白芍　川貝　沙參　白茯苓　枸杞　玉竹　加蓮子</p>
<p>平湖張御仁，飲食過飽，停滯胃中，糾結成疾，胸膈脹滿，按之堅實有形，面色帶黃，脈息沉滑帶弦。此胃中濕熱所積，糾結不清也。恐其成黃疸鼓脹之疾，理宜清濕熱豁痰之藥治之。</p>
<p>蒼朮　川樸　半夏　橘紅　枳殼　山梔　滑石　青皮　香附　萊菔子　黃芩　加生薑</p>
<p>先用一味熟大黃丸二錢，砂仁湯下，後服煎方。</p>
<p>黃維思令侄，胃絡受傷。經云：陽絡傷則血外溢，大便去黑血如痢，脅肋與小腹作痛。此瘀血下行而為惡痢者，吉兆也。理宜清瘀降氣之藥，逐其瘀血下行，以當歸補血湯，固其外衛，不使元氣散失。</p>
<p>桃仁　歸尾　牛膝　鬱金　青皮　香附　白芍　山梔　棗仁　加茅根</p>
<p>再用綿耆一兩，當歸二錢，不時煎飲，頻頻服之以代茶。</p>
<p>同上後案，血證之後，陰分已虧，虛火灼肺而咳，面色萎黃，大便不實，脾肺之氣虛也。脈息虛大帶數，此真陰虧損，肺金受困之象。大凡咳嗽之病，當以生脈散地黃丸治之。趙養葵所謂咳嗽不治肺而治腎，腎氣納藏於下，不上升則不咳矣。暫以補腎納氣之藥治之。</p>
<p>六味加麥冬五味棗仁砂仁煎方</p>
<p>同上後案，《準繩》云：諸血症皆以胃藥收功。此一定之理。咳嗽內熱，皆肺氣虛而不能固其外衛，外衛不固而汗出，風邪乘虛襲之，而咳嗽愈作矣。藥不可以寒涼傷其胃氣，使大便不實，而飲食少進，則難於調治矣。當以扶脾保肺之藥治之。</p>
<p>綿黃耆　茯苓　苡仁　山藥　棗仁　廣皮　五味子　麥冬　砂仁</p>
<p>建蓮肉為末，荷葉湯法丸，人參湯下。</p>
<p>新場閔若洲家一僕婦，為乳母，年滿歸，適中秋往候，因食梨藕生冷之物，一時喉間鎖定，不能出聲，不知痛癢，手足冰冷，面色白而帶青，脈息沉伏，湯藥不進，束手無策。余將紫金錠薑湯磨灌，漸漸喉門氣降，有聲寬舒。開口後用二陳加理氣之藥而安。亦因鬱怒而食生冷之物也。又治裁衣費姓之女，年已二十外未嫁，忽然倒僕，手足冰冷，面色青，無痰聲，不開口，脈息伏，亦用紫金丹開口進藥而愈。如此症者甚多。凡遇不開口，無痛楚，忽然而起者，先以開通關隘為第一著。語言得出，可以得生。若認為虛，妄投人參者，無有不死。戒之慎之。（評張景岳咽喉條內）</p>
<p>新場徐興若，大病之後，脾肺之氣已虛，所以大便作瀉，而肛門下墜，四肢倦怠乏力，脈息數軟。此氣虛下陷之故，理宜加味補中益氣湯治之。</p>
<p>人參　白朮　黃耆　當歸　柴胡　升麻　甘草　茯苓　五味　廣皮　木香（煨）　加天冬荷葉蒂砂仁</p>
<p>余治胡政之痢，其年七十二歲，先胸膈不寬，飲食不進者兩月餘。自以為膈症，與諸老友訣別，往太倉調理。至八月初患痢，血積稠黏，裡急後重，肛門如火，諸醫以為老年氣血衰耗，以培脾胃為主，其痢更甚，且煩躁內熱，飲食絕然不進，而兼噁心，延予診治，脈息滑大，肛門如火，小便不利，後重逼迫。余用大黃、檳榔、枳殼、黃芩、厚朴為丸，服之大下紅積不計，胸腹稍舒，熱勢更甚。用井水調益元散，連進三碗，其肛門之火熱如焚，因涼水清其火而下降，仍用西瓜水不時呷之，服藥以苓、芍、枳殼、滑石、木通、厚朴、檳榔、金銀花，連進十五劑，月餘病勢平安，胸膈通泰，飲食大進而愈，壽至八十六。若此時以溫補培其本，必然至死，然清火而不用黃連者，恐厚腸胃而大便愈難也。（原評，用藥之不苟如此。）檳榔性如鐵石，裡急後重之聖藥。（評張景岳痢疾條內）</p>
<p>華玉英令郎琴五，患痢大便瀉血水，一日夜五六十次，裡急後重，肛門如火，小便不利，諸醫用和血調氣利水之藥，不能取效。余診視脈大而數，唇口俱紅，余曰：如此暴注下迫，皆屬於火，津液枯耗，焉得小便，惟以水能制之。用井水調益元散，並以西瓜不時與之，小便即來。用芍藥湯加芩連枳殼之類，半月平安。計飲冷水益元散十三碗，西瓜四十餘枚而愈。（評景岳痢疾條）</p>
<p>新場朱次章，患瘧痢積滯，紫紅黑色，腹痛後重，口渴喜飲，食物不進，投大黃清火之藥，連下數次，並以西瓜益元散不計，得以熱退身涼，兩月而愈。參朮補氣之類俱不用，以涼血滋陰而收功。</p>
<p>新場葉硯孫，春時患膈症，飲食不進，用清火豁痰之藥，並蔗汁蘆根汁飲之。至八月初間，下痢紅積，裡急後重，用檳榔丸通之。又用芍藥、黃芩、黃連、滑石、當歸、枳殼等藥而痢止，胸膈亦寬，飲食漸進。後以滋陰之藥，煎膏調理而全愈。（評景岳痢疾條內）</p>
<p>蘆店周西扶，因惱怒抑鬱，動其肝火，上干胃家，痰隨火升，閉其心竅，以致舌音不清，語言蹇澀，口流痰涎，脈息左手弦數，右手滑大。此肝家有鬱火，胃中有痰飲，乃類中之基也。理宜豁痰清肝之藥治之，並戒惱怒，忌醇酒厚味等物，面色亦紅甚。</p>
<p>半夏　橘紅　天麻　石羔　連翹　川連　栝蔞　枳殼　茯苓　香附　石菖蒲　鉤藤</p>
<p>吳江八拆鎮錢士能，因感暑熱之邪而血痢，愈後不忌葷酒，以致未盡之暑邪，留於腸胃而發瘧疾。瘧愈，其暑熱之邪流於經絡而作楚，小便黃赤，腹中嘗不舒暢，似乎有形，脈息沉弦帶滑。此暑熱之邪未盡之故也，理宜清暑熱之藥為治。</p>
<p>半夏　廣皮　枳殼　厚朴　柴胡　黃芩　木通　滑石　香附　生薑</p>
<p>後案，伏邪已經三載，雖用疏通清火之藥，其濁氣攻衝為患，脈息帶弦，猶恐飲食不節，復感暑邪而為瘧也。理宜疏理清熱之藥治之。先用滾痰丸二錢，淡薑湯下。</p>
<p>產後四日，胸膈不寬，小腹作痛，此皆瘀血氣滯之故。先宜薄粥將養，然後服消瘀理滯之藥。</p>
<p>香附　青皮　桃仁　山查　延胡索　廣皮　益母草　丹參　赤芍　枳殼　砂仁</p>
<p>千墩唐魯玉令堂後案，據述服煎藥十二劑，兩足熱痛已除，噎間之塊亦去，此藥已對病，漸愈之佳兆也。今擬一方，將前方服完二十劑，即以此方接服，交至秋冬，再商治法。</p>
<p>半夏　廣皮　萊菔子　栝蔞　土貝　黃柏　山梔　香附　桔梗　石羔　夏枯草　加生薑</p>
<p>唐魯玉令堂後案，據述服煎方二十劑，咽噎之塊已消，胸膈之間，飲食即痛，此因惱怒氣滯，痰聚胸膈而作痛也。先以滾痰丸二錢，淡薑湯下，以逐胃中之痰，使其下行，則胸膈寬而飲食不痛矣。</p>
<p>半夏　栝蔞　香附　枳殼　山梔　廣皮　萊菔子　石羔　黃芩　加姜煎七分溫服</p>
<p>丸方即以此方加天麻柏土貝，用夏枯草湯法，木通湯送下。</p>
<p>塘西顧剛宗弟婦，病起於產後，感冒風寒，胃中之痰火，上干於肺而為咳嗽，薰灼於上而口發疳瘡，綿延一載，至春肝火上升，痰涎多而口乾燥，咳極則嘔，脈息弦數帶滑。此胃中有痰火，得外邪觸動為咳嗽，久則成蓐勞之症。暫用豁痰降氣之藥，繼以滋陰保肺之劑治之。</p>
<p>半夏　廣皮　茯苓　蘇子　杏仁　枳殼　桑皮　黃芩　石羔　地骨皮　加姜煎</p>
<p>洞庭東山陳康源，去冬感受寒邪，胃中之痰火，為寒邪所郁，不得發泄，上干於肺而咳嗽，又不忌葷酒，不避風寒，誤服滋陰凝滯之藥，肺竅閉而聲啞，已經半載，不能卻去。脈息左手弦大，右手滑大有力，察其面色紅亮，其痰亦不易咳出，乃郁痰鬱火為患，失於調治而然也。理宜豁痰理氣之藥治之。</p>
<p>半夏　栝蔞　枳殼　黃芩　石羔　杏仁　蘇子（炒研）　廣皮　萊菔子（炒研）　桔梗　甘草　桑白皮　加生薑煎</p>
<p>千墩李偉生，胃中瘀血未盡，用補澀之藥止之，所以連年不愈，屢次竊發。此肝火下注肛門，而肛門非氣虛下陷之故。漫用補中益氣，致肝火鬱而不舒，所以後重逼迫，肛門愈墜。脈息滑大，此胃中余瘀未盡，肝火鬱而不舒，去血而肛門不墜。若腸紅無腹痛之理，此係血痢，故後重逼迫也。補藥斷不可服。</p>
<p>白芍　黃芩（炒）　厚朴　青皮　山梔　枳殼　黃柏（炒）　香附（炒）　甘草　丹參</p>
<p>乍浦路又高，向有咳嗽之病，遇風寒即發，此痰火咳嗽也。今交夏令火旺之候，胃中痰火，為外邪觸動，上干肺家，而咳嗽愈作。誤認為勞症，以何首烏熟地枸杞溫補之藥，閉其肺竅，加之肥膩不忌，咳嗽日甚。咳久火炎於上，擾其胃中之血而吐血，內火不清，銷爍肌肉，凝滯之藥入胃，糾結成痰，不知飢飽，飲食不進，已經兩月，精神困憊，脈息左手帶弦，右手滑大帶數。此肝火妄動，胃中之痰火燔灼肺金，兼之舌苔紫色，知伏火在內無疑也。理宜和胃豁痰清火之藥治之。</p>
<p>半夏　廣皮　蘇子（炒研）　杏仁　栝蔞　桔梗　黃芩　枳殼　桑皮　山梔　石羔　甘草　加生薑煎</p>
<p>雙林韓左相，患怔忡三載不愈，時醫俱用景岳之言，而進補劑，參耆地黃，群補畢集，日甚一日，就診於余。余用豁痰降火之藥一服，其夜即大減，後以溫膽湯，加山梔、川連、石羔、膽星、棗仁丸，服不一月而愈。（評景岳怔忡論）</p>
<p>崔場官令堂，受病之源，得之憂思抑鬱，氣道不行，津液聚而為痰，阻滯不通，所以胸膈不寬而滿悶，外受暑熱之邪，互相為患而為瘧疾。《內經》云：夏傷於暑，秋必痎瘧。寒熱止後，頭昏而發暈，此暑熱之邪上升也。腰腿俱疼，暑熱之邪流注，而經絡作痛也。胃中熱邪不清，故胸膈不寬，不思飲食，亦無大害，不可勉強，恐邪氣與穀氣，交相混淆，則瘧來時勢熱不止，變成大病，而治療更難。必待胃中邪氣清爽，能知飢餓，方可進谷。因太太年高，兼之七情內擾，故難於奏效。總之，寬胸理氣為第一著，胸膈一寬，寒熱自止矣。</p>
<p>柴胡　茯苓　川樸　香薷　葛根　萊菔子　香附　半夏　橘紅　青皮　枳殼　加姜</p>
<p>青浦大西門徐錫昌，去夏感受暑熱，又為風寒鬱遏，不得發越，加之惱怒以動其肝火，上干於胃而嘔吐，小便不利，腸中作瀉，濕熱鬱於胃中而為腹腫，隨肝火上升，而頭面腫痛，脈息弦而大。此乃濕熱肝火，蘊於脾胃之中，不得發越之故也。理宜清濕熱，疏肝火，利小便之藥治之。</p>
<p>半夏　橘皮　川樸　枳殼　葛根　香附　茯苓　滑石　香薷　加姜</p>
<p>前服加味香薷飲五六劑，遂覺頭面輕鬆，並以紫蘇鮮艾，煎洗薰浴，使邪氣從毫竅而發越，再以此方服之。</p>
<p>白朮　豬苓　半夏　山梔　厚朴　白茯苓　澤瀉　廣皮　枳殼　香附　加熟砂仁末</p>
<p>青浦大西門徐青岳，腎水不足，不能榮養肝木，肝火鬱於胃中，煅煉津液而成痰，外為風寒所觸，胃中之痰火，上干肺家，而為喘嗽，不得臥之病，脈息左手弦大，右手滑大有力，關部尤甚。此肝家有鬱火，胃中有痰也。理宜豁痰理氣疏肝之藥治之。暫用滾痰丸，以逐胃中之痰瘀，從大便而去，以調補之藥為善後計，否則恐成反胃噎膈之症也。</p>
<p>半夏　橘紅　香附　蔞仁　萊菔子　青皮　枳殼　鬱金　夏枯草　加佛手姜</p>
<p>上海東門張子敬，初因風寒襲肺而咳嗽，因不忌葷酒，不避風寒，日久傷肺，而痰中帶紅，已經數月，其咳不止，真陰受傷，虛火爍肺而咽痛，脈息虛細帶數，面白色而無神，稍有語言動作，其氣即上逆而咳，此腎氣虛不歸原也。理宜滋陰補腎納氣保肺之藥，煎丸並進，靜養調攝，不致釀成勞瘵也。</p>
<p>生地　丹皮　麥冬　廣皮　川貝　五味　蔞霜　桑白皮　骨皮　苡仁　加茅根煎</p>
<p>丸方六味加黃柏牛膝砂仁麥冬五味。</p>
<p>王作舟令愛，汗出而口不渴，身熱壯熱，大便通利，面色唇口皆白，此汗多亡陽也。宜黃耆建中湯治之。</p>
<p>黃耆（四錢）　白芍（三錢）　桂枝（五分）　半夏（錢半）　廣皮（錢半）　炙甘草（五分）　大棗（二枚）　生薑一片煎</p>
<p>王作舟令愛復案，前日自汗不止，用黃耆建中湯，得已汗止而安寐。若謂餘邪未盡，服之必口渴煩躁而不得臥。今大便滑泄，胸膈舒暢而知餓，面色唇口原白，又汗出不止，將若之何，仍以黃耆建中湯斂其汗，用白朮以止其瀉，不必他議。</p>
<p>黃耆　白朮　白芍　桂枝　棗仁　五味　炙甘草　廣皮　大棗</p>
<p>黃維思令侄，血症之後，腎虛而肺氣受傷，耳聾不聰，自汗不止，大便不實，脈息數大無神。夫耳聾腎絕也，汗出氣脫也。大便不實，脾虛也。此皆不治之症，以補腎納氣之藥，以安病者之心耳。</p>
<p>人參　黃耆　茯神　棗仁　枸杞　白芍　麥冬　苡仁　五味　胡桃肉</p>
<p>北一灶張於岡夫人，肝火鬱於胃中，不得疏泄，以致胸膈不寬，至春正月分娩之後，肝火上衝於胃而嘔吐。夫食即吐，是有火也。脈息弦滑帶數，此肝氣鬱而為火，以致結成有形之象，按之和軟，流走不定。理宜和胃清肝之藥治之。</p>
<p>半夏　茯苓　香附　山梔　川連　青皮　白芍　石羔　加生薑竹茹茅根生鐵煎</p>
<p>嘉興戴天昇案，先天腎水不足，不能榮養肝木，肝火上升，血隨火沸而吐，屢次竊發。今春木氣升騰之候，而吐血又作，脈息數而帶弦，此水衰火亢之故也。理宜滋陰降火之藥為治。</p>
<p>生地　丹皮　骨皮　知母　麥冬　黃柏</p>
<p>加茅根煎，如體中覺有火氣上升，恐其血來，即以此方服之。</p>
<p>朝服丸方　六味加麥冬　知母　黃柏　五味　牛膝　砂仁</p>
<p>晚服丸方　天王補心丹</p>
<p>已至六月初九日六灶張崧岩方案，曾經跌撲損傷，積瘀在胃，日久乾結，阻滯道路，津液不通，聚而為痰。加之醇酒厚味，其痰不能流通運行，外為風寒所觸，以致痰嗽氣急，胸前妨礙，不時厥逆。用滾痰丸去瘀血不計，去後又不時發厥，其勢可畏。胸膈間尚有宿瘀，按之有形，薰蒸於肺，背發紅瘰，此宿瘀日久，鬱而為火，用豁痰消瘀之藥，不能開結。用酒蒸大黃一錢，臨臥服之，清晨大便去黑瘀痰積。然膠固日久，難以速去，因元氣虛，邪氣實，所謂虛中之實症也，必得攻補兼施，緩著處治，庶得奏效而不傷元氣。服清瘀豁痰煎劑，以活動其瘀，臨臥酒蒸大黃一錢，或人參湯下，服之一夜，可以磨蕩。其宿瘀漸次下行，如此可以去根蒂也。去後可用歸脾湯，或六君子湯補養脾胃，則飲食大進，精血日旺，乃收功善後之法也。</p>
<p>廣皮　枳殼　蔞仁　半夏　香附　山梔　桃仁　歸尾　鬱金　黃芩　牛膝　加姜煎</p>
<p>臨臥服酒蒸大黃丸二錢，參湯下。</p>
<p>初十日，厥逆已除，惟覺胸膈作脹，清晨大便去黑色黏膩之物不計。此積散積行之佳兆也，當以煎劑乘其勢而利導之。</p>
<p>半夏　廣皮　香附　山梔　萊菔子　青皮　白豆蔻（炒去殼油）　川連（另煎沖）　蔞仁　厚朴　滑石　枳殼　加姜煎</p>
<p>初十午後，食物停滯胃中，以致惡寒，胃火上蒸而為汗，脈息滑而有力，似乎有瘧之狀。理宜豁痰疏理胃中之滯，胸膈舒暢，自然平安。</p>
<p>即以前方去豆蔻、川連、栝蔞、滑石、山梔，加黃芩、柴胡煎服。</p>
<p>十一日寒熱已止，惡寒汗出亦較減，惟胸膈依然不舒。此胃中積瘀糾結不清之故也，法當以理氣消瘀之藥為治。</p>
<p>香附　山梔　廣皮　桃仁　滑石　歸尾　半夏　牛膝　栝蔞實　加生薑煎</p>
<p>臨臥服大黃丸一錢，滾湯下。</p>
<p>十一日午後，胃中之瘀血，盤踞日久，乾結不散，食入於胃，阻滯不行，故飲食少進。內有鬱火，外則凜凜畏寒，非真外感風寒也。肝氣下注於腎囊，則睪丸脹痛，必得小小丸藥，逐去胃中之痰瘀，使之下行，則氣道流行，而鬱火亦散。</p>
<p>桃仁（一兩）　半夏（一兩）　廣皮（五錢）　鬱金（五錢）　蔞實（一兩）　香附（五錢）　元明粉（五錢）　枳殼（五錢）　山梔（五錢）　牛膝（五錢）　滑石（一兩）</p>
<p>為末，夏枯草煎湯，臨臥服。</p>
<p>十二日，服大黃丸一錢，大便去黑黏膩之物不計，胸膈稍舒，粥食加進一碗，惟夜不安臥，舌苔干黃，此胸中痰瘀，猶未清也。夢遺者，胃氣不清，下注精房，而腎不寧靜，故遺泄也。早晚當以散結消瘀之丸服之，臨臥再服大黃丸一錢可也。</p>
<p>十三日，胸腹按之少軟，夜亦安臥，舌色仍黃，丸藥性緩力薄，不能蕩其宿瘀下行。當間用散結理氣消痰清火煎劑一帖，臨臥仍服大黃丸一錢，庶得結散結行，胸膈舒暢也。</p>
<p>香附　山梔　川連　枳殼　半夏　廣皮　蔞實　萊菔子　青皮　厚朴　加姜煎</p>
<p>十四日，昨晚服大黃丸，大便去五色敗濁之物升余，胸膈舒暢，夜亦安臥。此結痰瘀血下行，病退之佳兆也。早晚仍以散結消瘀之丸，滌其餘波。</p>
<p>十五日，大便二日不解，至晚胸膈作脹而酸，夜不安寐。此胃中餘波未盡，肝火下注。而陰囊脹大，當以理氣疏肝清火煎劑治之。臨臥並以礞石滾痰丸二錢服之，以逐其餘波。</p>
<p>半夏　廣皮　枳殼　萊菔子　香附　青皮　山梔　厚朴　川連　滑石　加熟砂仁末　生薑</p>
<p>十六日，昨晚服滾痰丸後，大便隨解黑糞，甚覺爽快。惟夜不得寐，而心中躁擾不寧，陰囊腫大。獨見於夜，晝則依然和緩。此肝火鬱於胃中，胃不和，故臥不安，降下則陰囊脹大，肝開竅於目，晝則目開，肝火由竅而泄，夜則目合，其火無從宣通，故心燥囊腫也。（原評，病之所在，鑿鑿言之。）再宜散結開鬱和胃清火之藥治之。</p>
<p>半夏　廣皮　茯苓　青皮　川連　枳殼　香附　山梔　夏枯草　加青竹茹生薑煎</p>
<p>十七日，昨晚自服藥之後，頗覺舒適，今午後過食燒餅停滯，胃中不得消化，阻其氣道，以致胸膈作脹而氣急身熱，暫以消導之藥治之。即以十六日方加萊菔子厚朴煎。</p>
<p>十八日，服疏理消導之藥，胸膈隨即寬舒，身涼氣平，夜亦安臥，陽事已痿月餘，今能舉而夢遺。此胃中之食物已化，佳兆也，當以理氣豁痰之藥治之。</p>
<p>半夏　廣皮　川連　黃芩　香附　山梔　枳殼　青皮　茯苓　夏枯草　萊菔子　加生薑竹茹</p>
<p>十九日，服散結消瘀豁痰理氣清火等藥，數日以來，宿瘀痰積漸次而出，粥食能進三碗，步履如故，此病去之佳兆也。但胸次不能豁然舒暢，臥則覺有黃瓜之形，塞於胃中，不時噯氣。此濁氣布結於胃，火土之氣，鬱而不舒也。至於口乾足熱，乃郁久之火，得以外達。再以和胃清火理濁氣之藥為治，即以十八日方，去茯苓、枯草、竹茹、黃芩，加栝蔞煎服。</p>
<p>二十日，脈息調和，胸次黃瓜之形已無，惟覺胸膈作脹不舒，舌色帶黃，噯氣不減。此濁氣欲散而不能，不得下降之故也。理宜以疏理濁氣清肝火之藥丸服。</p>
<p>半夏　廣皮　香附　山梔　川連　黃柏　青皮　枳殼　萊菔子　砂仁　夏枯草　煎湯法丸</p>
<p>廿一日，舌苔已無，夜臥頗安，睪丸不脹，乾飯一碗，甚覺有味而舒適，但食後作脹而多驚。此濁氣布於胸次，不得下降也。肝膽有火，故稍涉聲響，致即驚畏。當以和胃理氣清肝之藥治之。並以湯液潤滑之物，潤其腸胃，則大便自不燥結矣。即以二十丸方加厚朴、鉤藤、栝蔞、生薑煎服。</p>
<p>廿三日，胸次稍舒，乾飯可進盞半，惟噯氣不減。然濁氣有下降之漸，故能食也。當以前方減去黃柏，專理滯氣為要。</p>
<p>廿四日，胸膈滿悶而氣急，惡風寒熱似瘧，此係當風取涼而臥，感冒風寒所致，當以疏散清熱之藥為治。</p>
<p>柴胡　半夏　廣皮　枳殼　厚朴　青皮　白豆蔻　黃芩　川連　加生薑砂仁</p>
<p>廿七日，寒熱已止，氣急亦減，但脈息弦大，至晚猶覺凜凜似寒，此內有鬱火，外則凜凜，乃瘧之基也。飲食須宜調節，風寒最要謹避，至於胸次不時作脹，此亦胃中余瘀未清，濁氣壅滯不通之故也。當以理氣和胃，疏肝之藥治之。臨臥服礞石滾痰丸二錢，以逐胸中之餘瘀，從大便而出，則胃中清爽，而胸膈自寬矣。</p>
<p>柴胡　半夏　廣皮　枳殼　萊菔子　青皮　黃芩　厚朴　香附　栝蔞　加生薑煎</p>
<p>廿八日清晨，大便去黏膩不計，隨一次皆黑水，而無渣滓，有似乎湯藥，解後胸次稍寬，不一時仍覺滿悶，晚來仍凜凜微寒蒸蒸微熱，氣急而足冷。此胃中糾結餘瘀，猶未清爽，而久滯之濁氣，不得流通而降下也。理宜開鬱降氣之藥治之。以前方減去青皮，加山梔滑石。</p>
<p>崔場官令堂，內有郁痰鬱火，外受暑熱之邪而成瘧，痰所以胸膈不寬，熱極則大小便下血，脈息滑大有力，此痰與瘀血，互相糾結於胃也。先以礞石滾痰丸，逐其胸中之痰與瘀，使其下行，然後以豁痰清暑之藥治之。</p>
<p>半夏　廣皮　枳殼　厚朴　滑石　青皮　萊菔子　柴胡　黃芩　加姜煎</p>
<p>金山衛周倫序案，素有瘡疾，此脾虛而有濕熱也。跡來胃中有痰，肝家有鬱火，暑熱之邪，乘虛而襲。所以胸膈不寬，外畏風寒，脈息左手沉弦，右手滑大，恐其發瘧而咳嗽，理宜豁痰順氣，清暑之藥治之。</p>
<p>柴胡　半夏　廣皮　葛根　枳殼　厚朴　黃芩　萊菔子　栝蔞　加生薑香薷</p>
<p>〔丸方〕　半夏　廣皮　香附　萊菔子　栝蔞　枳殼　山梔　黃芩　蒺藜　黃柏</p>
<p>沈漢南，胃中頑痰糾結，日久阻礙道路，鬱而為黃，用清濕熱豁痰之藥，黃色已退。目下惟胃中根蒂尚未驅除，暫用礞石滾痰丸錢半，臨臥淡薑湯下，以開其結，使之下行，胸膈得以舒暢，然後以調補之策，為善後之計。</p>
<p>半夏　廣皮　栝蔞　萊菔子　香附　山梔　川連　白豆蔻　枳殼　加姜煎</p>
<p>嘉興吳稼村，先天腎不足，相火上炎干胃，則唇口時腫，眼目多眵，脈息數大無力。此乃水衰火亢，正當十六成人之時，精氣不足，理宜靜養，戒醇酒辛辣之物，服滋陰降火之藥，不致釀成勞瘵也。</p>
<p>生地　丹皮　麥冬　骨皮　黃柏　知母　玉竹　石羔　茯苓　加蓮子</p>
<p>楊店孫允文令政，肝火鬱於胃中，不得疏泄，以致嘈雜作酸，經事不調，脈息沉弦帶數，此肝火鬱而不舒之故也。理宜開鬱和胃清火之藥為治。</p>
<p>半夏　廣皮　香附　山梔　丹參　黃芩　枳殼　青皮　連翹　加姜煎</p>
<p>嘉興黃景章，初夏時症發熱，兩頤紅腫，此少陽陽明邪熱所致。理應疏少陽之邪，清陽明之熱。因滋陰太早，致邪熱凝滯，不得發越，上干肺家而咳嗽，痰中帶紅，脈息數大無力，已經日久，其陰為邪熱所耗，釀成勞瘵。宜以滋陰降火保肺之藥為治。</p>
<p>生地　骨皮　丹皮　蔞霜　杏仁　麥冬　橘紅　川貝　黃柏　知母　五味子　加蓮子十粒</p>
<p>又腎納氣，腎虛氣不能納藏於下，故稍有語言動作，其氣即上升而咳。當以補腎納氣之丸朝服，使氣上升，則咳自止矣。</p>
<p>六味丸加知柏牛膝麥冬五味磁石蜜丸</p>
<p>每服白滾湯下參湯尤妙。</p>
<p>嘉興吳汝林案，胃中痰積，糾結而成形，阻其道路，飲食不得下達，月初連發瘧疾。此因感受外邪，而胃中痰積竊發也。脈息左手弦，右手滑大，關部尤甚，此胃中痰積膠固不清。先用滾痰丸逐胃中之痰積，從大便而出，繼以豁痰理氣消積之藥治之。</p>
<p>半夏　廣皮　萊菔子　香附　枳殼　青皮　山查　厚朴　木香　加姜煎</p>
<p>崇明方集成，平素多思多郁，以致肝氣不得疏泄，胸膈不舒，去夏感受暑熱而咳嗽，今已漸愈。夏令咳嗽瘀血些少，脈息左手沉弦，右手滑澀有力，此肝氣鬱滯。肝為藏血之臟，氣滯則血不流行，而停滯於中，隨火上升而吐。蓋治血必先理氣，氣行則血自化，理宜開鬱疏肝清火之藥為治，氣行則血流而胸膈自寬矣。</p>
<p>香附　山梔　歸尾　鬱金　枳殼　丹參　廣皮　蘇子　加茅根</p>
<p>蘇州楊安浜呂道原案，緣心事怫鬱，肝膽之火上升，充塞耳竅而作響不聰，鼻竅亦不利。誤用地黃丸補之，其竅愈塞，眉稜作痛，已經日久，投劑參差。脈息左手弦，右手滑大有力，此係肝家有鬱火，胃中有痰飲。《內經》云：九竅不利，腸胃之所生也。理宜和胃豁痰開鬱清火之藥為治，並忌醇酒厚味，戒惱怒躁急為要。</p>
<p>半夏　廣皮　香附　山梔　枳殼　連翹　石羔　萊菔子　薄荷　甘草</p>
<p>加石菖蒲根錢半，生薑二片。</p>
<p>又痰火閉塞其竅，以致鼻塞耳聾，治法惟以理氣開竅豁痰清火之藥頻服，自然奏效，萬不可以補腎之藥，壅塞其竅，則成錮疾。今酌丸方於後。</p>
<p>半夏　廣皮　香附　山梔　枳殼　栝蔞　石羔　萊菔子　連翹　石菖蒲</p>
<p>呂道原令郎，出痘之時，失於清火解毒，以致發毒，頸間結積累累而起，脈大而火旺，腎水為之耗消，留以滋陰清火解毒之藥為治。</p>
<p>生地　麥冬　骨皮　丹皮　土貝　銀花　花粉　黃柏　知母　夏枯草</p>
<p>蘇州金維仁，胃中濕熱痰飲，氣滯不行，鬱而為黃，胸膈不寬，飲食不能消化，脈息左手沉弦，右手滑大。此肝家有鬱火，胃中有痰飲，濕熱不清之故也。宜理氣豁痰清濕熱之藥治之。</p>
<p>半夏　廣皮　栝蔞　枳殼　厚朴　香附　山梔　滑石　木通　青皮　加姜煎</p>
<p>潘廣川，病起於脾胃受傷，加之腎家不足，致脹滿而大小便不禁。因腎主二便，脾主運化，脾虛不足，不能制水，以致鼓脹。前服胃苓湯，大便去薄糞，脾氣運化，氣道轉輸，此藥之對病也。非煎劑不宜多服，當服丸藥，使之漸漸和軟，飲食可進。但食物須要調勻，過多不能運化，反致傷脾。</p>
<p>白朮　蒼朮　厚朴　廣皮　豬苓　澤瀉</p>
<p>茯苓　肉桂　白芍</p>
<p>用荷葉湯法丸，空心焦米湯下，人參砂仁湯更妙。</p>
<p>徽州吳天具，天稟強壯，多郁善怒，性嗜酒，酒性大熱，貯於胃中，夜不得安臥，脈息左手沉弦帶數，右手滑大有力。此係肝膽之火，鬱於胃中，煅煉津液成痰，以致胃中不和，而臥不安也。恐冬令之後，痰隨火升而顛仆，為類中之疾。治法宜以豁痰清火，並忌醇酒厚味，戒惱怒，一交冬令，自然卻去病蒂矣。</p>
<p>半夏　廣皮　茯苓　甘草　黃連　石羔　枳殼　山梔　香附　加生薑竹茹石菖蒲根煎</p>
<p>嘉興曹敬先，三年前曾吐下瘀血不計，左邊結成有形之塊，按之堅實不痛，鬱而不舒。目下目睛見黃，小便亦黃，脈息左手沉澀有力，右手洪滑有力，此乃瘀血濕熱，互相糾結，鬱而為黃，將來鼓脹之基也。理宜清瘀行滯清濕熱之藥，煎丸並進，並忌醇酒厚味生冷等物，不致釀成鼓疾也。</p>
<p>桃仁　香附　厚朴　青皮　蒼朮　半夏　滑石　鬱金　牛膝　茵陳　木通　砂仁</p>
<p>丸方，本方去鬱金牛膝，加栝蔞小梔桂枝廣皮，用茵陳煎湯法丸。</p>
<p>千墩徐楚揍，平昔好酒，濕熱之鬱於胃者日久，胸膈不舒，眼目小便皆黃，此乃黃疸之疾，恐實而為鼓脹。脈息弦滑有力，此飲酒過度，濕熱薰蒸之故也。理宜清濕熱利小便之藥為治，並忌醇酒厚味等物。</p>
<p>蒼朮　厚朴　廣皮　半夏　枳殼　香附　青皮　滑石　茵陳　葛根</p>
<p>海寧嚴長樞令堂，經事久已不來，周身肌肉作痛，用針挑出其血，得以稍舒，此瘀血流注經絡之故也。當以消瘀理氣之藥治之。</p>
<p>桃仁　歸尾　鬱金　延胡索　牛膝　丹參　香附　山梔　廣皮　木通　滑石　加生薑煎</p>
<p>嚴長樞案，飽食用力，則胃絡有損，血積不散，留於中宮，隨火上升而吐血，血皆厚而黏膩者。此瘀血也。誤以腎水不足，虛火上炎之吐血，而以補腎膩膈之藥，填塞胸中，積而成痰，隨火下注精房，則為夢遺。用補澀之藥，則胃中痰愈鬱而遺滑愈甚。脈息弦滑有力，此乃胃中之痰，與肝家之鬱火故也。《準繩》云：遺滑之症，屬郁者居大半。庸醫不知其鬱，用補澀之藥補澀，愈覺鬱而不舒，遺滑日甚，胸膈不寬，飲食少進，甚則實為鼓脹。理宜開鬱豁痰清火之藥為治，胃中清爽，則遺滑自止，所謂澄其源而流自清也。</p>
<p>蒼朮　厚朴　廣皮　半夏　黃柏　青皮　香附　山梔　枳殼　萊菔子　甘草</p>
<p>南翔楊簡修，病起于思慮抑鬱，肝木不能條達，鬱於胃中，至去冬一陽萌動之時，木火發越，而胃脘作痛，流走不定，時發寒熱，肝膽之火上升，左邊頭面腫脹，腫處出水，其火得泄而漸平，至今春正月，春令發生之時，木火升騰而沖胃，嘔逆不止，而出大汗，木火得以疏泄而漸安。此汗系內火銷爍而出，非氣虛自汗也。痛則大便不通，所謂通則不痛也。痛則胸膈脹滿者，肝木之性，善脹郁，而不得疏泄，故脹而滿也。痛時作酸者。肝火鬱於胃，亦以不得疏泄也。兩脅與小腹，皆肝部之分，故痛則必連小腹，兩脅痛時，作脹作嘔作酸，皆肝氣鬱而不舒之故，治法惟以疏肝和胃為主。診得脈息左手沉弦而小，所以知其肝氣之鬱而不舒，右手沉滑有力，所以知其肝木鬱於脾土之中也。</p>
<p>半夏　廣皮　白芍　甘草　香附　山梔　青皮　柴胡　木通　栝蔞</p>
<p>又丸方，服疏肝和胃之藥，氣道宣通，左手寸關，已覺浮大，此藥之對病也。治法惟以疏肝和胃為主，《內經》所謂木鬱則達之，則胃脘之病自止矣。煎劑多服，恐傷胃氣，當以丸藥進之。</p>
<p>前方，加黃柏、夏枯草，木通煎湯法丸。</p>
<p>海寧徐南賓，胃中郁痰鬱火，糾結不清，阻其道路，胸膈不寬，食物入胃，難以運化而作脹，流於四肢則為麻痹，達於肌肉，則發紅瘰。而肌肉跳動不止，胸中時覺冷氣上升者，此熱極反寒，反兼水化之制也。脈息左手沉弦，右手滑大，此胃中郁痰鬱火，糾結不清之故也。宜先服滾痰丸三錢，繼以豁痰清火之藥治之。</p>
<p>半夏　廣皮　萊菔子　香附　山梔　石羔　栝蔞　黃柏　牛膝　蒺藜　天麻　加姜煎</p>
<p>又郁痰鬱火，濕熱為病，用豁痰清濕熱之藥，病已去其大半。目下秋令收斂之時，速宜驅逐胃中痰飲濕熱。仍以滾痰丸二錢，淡薑湯下，逐其痰積，從大便而出。再服豁痰清濕熱理氣之藥，一交冬令，病蒂可卻矣。</p>
<p>半夏　廣皮　香附　山梔　天麻　栝蔞　厚朴　石羔　枳殼　黃柏　茯苓　用木通湯法丸</p>
<p>楊簡修令郎，病起於硝黃火氣，衝入於肺，肺下無透竅，外為寒邪閉之。稍有所觸，肺中之伏火上升，而為喘急，胃中之痰，隨火上逆，則夜不得安寐，脈息左手沉弦，右手寸關沉滑有力。此乃肺中有伏火，胃中有痰飲也。當以清肺降氣豁痰之藥治之。</p>
<p>桔梗　甘草　廣皮　桑皮　蘇子　杏仁　石羔　栝蔞　枳殼　黃芩</p>
<p>蘆店朱君彩，此症濕熱蘊蓄干胃，發於肌肉而為紅瘰，遍身搔癢，誤以風治，以致多汗，而兩足麻痹。此胃中之火上升而不下降之故。脈息洪滑，理宜清濕熱涼血之藥為治。</p>
<p>生地　黃柏　石羔　蒺藜　蒼朮　厚朴　香附　山梔　牛膝　花粉</p>
<p>太倉羅若洲，熱而不寒者，癉瘧也。暑熱之邪，蘊蓄於胃，食物阻滯而為熱也。脈息弦滑，理宜清暑熱和胃氣之藥治之。</p>
<p>柴胡　黃芩　厚朴　青皮　半夏　廣皮　葛杞　石羔　枳殼　姜</p>
<p>新場葉子敬，平昔有目疾，乃肝火抑鬱所致，木鬱於土中久矣。鬱則氣道不能流通，津液聚而為痰，胃中糾結不清，得外之暑熱，互相為患而成瘧，已經半月。據云小腹有動氣，則知木鬱不能條達。面色白而帶青，胸膈不寬，則知胃中之痰積未清。服過滾痰丸，去結糞不爽快。又用涼膈散，大便猶不爽快。解得薄糞，始得通暢，口亦不渴，此胃中有痰之故。脈息弦滑，右關尤甚，此係痰食氣滯，而不得通暢也。且無痰不成瘧，無食不成瘧，理當仍用滾痰丸二錢，使胸中痰積，可以蕩去，萬一疑其虛，而畏用去病之藥。若至熱不止而有譫語之狀，則難於調治，小腹胸膈舒暢，則瘧疾自止。孫一奎云：其病最難。故先用攻擊，以去其病，病去而始補，方得治法。</p>
<p>柴胡　黃芩　半夏　廣皮　青皮　草果　枳殼　萊菔子　香附　滑石　加生薑砂仁</p>
<p>嘉善胡天球，抑鬱不舒，氣道不通，外為寒邪所郁，郁久生痰，阻滯經絡，周身肌肉麻木，上升則頭眩暈，冷汗時出，脈息左手沉弦帶數，此肝氣鬱而不舒也。右手滑大有力，此胃中有濕痰也。理宜開鬱豁痰，疏肝之藥，並忌醇酒厚味等物。</p>
<p>半夏　廣皮　蒼朮　厚朴　香附　黃柏　天麻　木通　山梔　枳殼</p>
<p>嘉定高溯源，讀書作文，飯後寫字，胃之上脘，屈曲不舒，有傷胃絡，因而阻滯於上脘，非一日矣。今春為外邪觸動，肺胃之火，上升而咳嗽，偶食肥膩之物，阻滯肺竅。其嗽停止。而痰與瘀血，互相糾結於上焦肺胃之間，凝滯不通，不能噯氣。至六月間炎暑薰赫，與內郁之火，交相煽動。痰與瘀血，得熱則宣通流動，隨火上升而吐紫黑黏膩之瘀血二三鍾，胸膈稍寬，然余瘀尚未清爽，故不能豁然舒暢。今交秋令，收斂之時，脈息左手沉弦，右手滑大有力，關部尤甚，此肝抑鬱，肺胃間痰火瘀滯不清之故也。理宜消瘀理氣豁痰之藥為治。大凡治血必先理氣，氣行則痰與瘀滯自解而下行矣。故血症有變而為惡痢者，吉兆也。</p>
<p>桃仁　歸尾　牛膝　枳殼　丹參　香附　山梔　栝蔞　廣皮　萊菔子　加茅根煎服</p>
<p>崇明施錦，據述病情因食麵物之後，冷水洗浴，而當風臥，其食停滯於胃，雖消化，而無形之氣，尚未消散。後復因惱怒抑鬱，其肝氣不得疏泄，食物為之阻滯，誤為真火衰弱，服八味，艾火灸，其胃脘內郁之滯氣，得桂附之性，暫為宣通，似乎相安，而實胃家之鬱滯愈結。因脾胃在右，故右邊獨阻格，左邊通暢者，因肝氣鬱於肺胃之中，故左通而右塞也。飲食過度，壅塞氣道，結成有形之塊，居於臍上，郁久成火，上衝於頭，故右邊頭上汗出而不止，以手摩摸，氣散而下行，其塊消而汗止。此乃肝氣鬱而不舒，假氣以成塊，氣有餘便是火，上衝則汗出，降下則汗止。此木鬱於脾土之症也，理宜疏氣和脾胃，降沖逆之火，自然平安矣。</p>
<p>香附　青皮　山梔　廣皮　半夏　茯苓　萊菔子　厚朴　黃柏　加生薑砂仁煎</p>
<p>病久，湯藥一時不能奏效，當以扶脾疏肝降火丸藥服之。</p>
<p>〔丸方〕　白朮　廣皮　半夏　茯苓　香附　青皮　山梔　黃柏　厚朴　砂仁　用荷葉煎湯法丸</p>
<p>高溯源，服消瘀行滯之藥，三劑胸膈稍舒，大便下黑瘀不計，此下行之佳兆也。但胃之上脘至大腸，其道甚遠，曲折難以下行，當以小丸劑臨臥服之，使其瘀血漸漸解散，陸續下行，從大便而出。兼以煎劑間服之為要。</p>
<p>前方，即以前方加鬱金、滑石。</p>
<p>丸方，即以煎方加夏枯草法丸。</p>
<p>崇明範錫凡，內有郁痰鬱火，外受風寒，遏於肺胃之間，不得發泄，外邪觸動胃中之痰火，上干肺家，而為喘急不得臥，嗽出黃痰，方得安枕。脈息左手沉弦，右手滑大有力。此乃肺胃中有郁痰鬱火，糾結不清，稍有動觸，即時竊發。此痰火之哮喘也，理宜豁痰降氣清火之藥為治，並忌醇酒厚味等物。胃中請爽，而痰不生，一交春令，病蒂卻矣。</p>
<p>半夏　廣皮　蘇子　杏仁　石羔　萊菔子　黃芩　桑皮　甘草　蔞仁　枳殼　加姜煎</p>
<p>膏方，即以煎方去桑皮、甘草、萊菔子，加梨汁、萊菔汁、地慄汁、蘆根汁、竹瀝、薑汁，用飴糖四兩，烊入收貯，燉熱不時挑化。</p>
<p>崇明顧蒼求，先天腎水不足，不能榮養，肝木上升，心神不寧，脈息虛大，兩尺尤甚。又兼脾胃衰弱，以致飲食少進，四肢倦怠乏力。理宜加味歸脾湯，培養心肝，加味地黃九，補腎益精，兼之保養調攝，不致釀成不足之症也。</p>
<p>人參　黃耆　白朮　茯神　棗仁　歸身　廣皮　甘草　遠志　五味　麥冬　加桂圓肉十枚</p>
<p>早服丸方，六味丸加枸杞、麥冬、兔絲餅、棗仁、五味，蜜丸，參湯下。</p>
<p>暮服丸方，即以前方去人參、麥冬、五味，加砂仁、建蓮，荷葉湯法丸。</p>
<p>崇明熊天祥，肝家有鬱火，胃中有痰飲，痰隨火升，則頭額作痛，痛極則嘔吐酸水，肝火發越，則頭痛止，脈息左手沉弦帶數，右手沉滑。此痰厥頭痛，俗名頭風是也。理宜清肝火化痰飲之藥為治。</p>
<p>柴胡　半夏　廣皮　山梔　黃連　天麻　鉤藤　香附　夏枯草　茯苓　加生薑竹茹</p>
<p>丸方，即以煎方加青皮、石羔、白芍，用生薑一兩，竹茹四兩，荷蒂三十枚，煎湯法丸。</p>
<p>一人患腹脹，臍平而青筋四起，其初因食糰子而發，為制一方而勢減大半。</p>
<p>紫厚朴　香附　山梔　滑石　黃柏　廣皮　萊菔子　蔞實　枳殼　青皮　砂仁　木通</p>
<p>有壯年人患腰痛，在腎穴處，不能行走，初起一邊，後至兩邊及中間，又後在兩腿上灣，作陣而痛，有時停止，此流火痛也。</p>
<p>黃柏　木通　連翹　蔞仁　枳殼　山梔　黃芩　香附　花粉　加酒炒嫩桑枝</p>
<p>有因酒後而患腹痛，漸至腫脹，臍平而面黃，服藥十帖而大減，初定之方。</p>
<p>半夏　廣皮　厚朴　枳殼　青皮　香附　萊菔子　葛根　滑石　木通　砂仁（加入）</p>
<p>十帖後，又加蒼朮、栝蔞，去葛根、滑石，丸服而安。</p>
<p>有一十四歲女子，患小腹痛，無他症，此因飲冷所致。</p>
<p>歸尾　桃仁　香附　青皮　延胡索　丹參　牛膝　條芩　山梔　砂仁</p>
<p>有一十六歲男子，患癧子內熱。</p>
<p>生地　丹皮　麥冬　骨皮　黃柏　知母　土貝　山梔　花粉　加夏枯草</p>
<p>一男子患骨節痛，無他症。</p>
<p>蒼朮　黃柏　秦艽　術通　鉤藤　連翹　枳殼　木瓜</p>
<p>一人患休息痢三年。</p>
<p>白芍　甘草　黃芩　滑石　厚朴　枳殼　香附　山梔　青皮</p>
<p>一女人素患小產，經至必二十日余，兼白帶。</p>
<p>生地　丹皮　香附　黃柏　黃芩　棗仁　麥冬　歸身　白芍</p>
<p>一婦黃疸，身發瘡癢。</p>
<p>蒼朮　厚朴　黃柏　黃芩　山梔　木通　連翹　防風　茵陳　廣皮　加燈草</p>
<p>一男子患左足痠痛，漸漸不能行走，並不能起立，出入賴人揹負，小腹左邊，有一塊作患，此痛痹也。</p>
<p>蒼朮　黃柏　牛膝　青皮　木瓜　香附　山梔　秦艽　連翹　木通　石羔　加酒炒桑枝（三錢）</p>
<p>一老人患莖中痛，溺即痛甚，所溺者紫色，溺畢又覺大便內裡急後重，夜不能寐，小便更甚。</p>
<p>生地　麥冬　丹皮　黃柏（鹽水炒）　知母　枳殼　山梔　黃芩　白芍　加炒仁茅根甘草服數帖而愈</p>
<p>一人吐血咳嗽聲啞，所吐之血濃厚，肌肉亦不消瘦。</p>
<p>麥冬　生地　蘇子　杏仁　桑皮　貝母　黃芩　山梔　桔梗</p>
<p>一婦人經將來，氣痛極甚。</p>
<p>香附　青皮　延胡索　黃芩　丹參　厚朴　桃仁　赤芍　甘草</p>
<p>一書客患痢三年，腹亦不痛，食亦不減，便時覺熱，肛門脫下，便畢即抬上，按其腹微堅。</p>
<p>白芍　黃芩　甘草　木香　青皮　香附　枳殼　穀芽　山查　黃柏　厚朴　加砂仁乾荷蒂</p>
<p>一婦小產後，血水淋漓不止，一月五六至，困倦乏力，唇面無血色。</p>
<p>白芍　黃芩　甘草　山梔　枳殼　丹參　香附　續斷　益母草　丹皮　棗仁　加荷蒂</p>
<p>有男子夜間患右頸腫痛，下至背，旦即診視。</p>
<p>防風　荊芥　連翹　桔梗　薄荷　枳殼　甘草　黃芩　山梔　四帖而愈</p>
<p>一後生患左脅痛，吐鮮血不絕。</p>
<p>生地　丹皮　丹參　蘇子　山梔　黃芩　白芍　鬱金　黃柏　牛膝　加茅根沖童便一盞</p>
<p>一男子患腹大而軟，形體消瘦，醫傢俱以勞治。問其始病之由，大約因前此瘧疾，而不忌口，暑熱未清，所以至今，夜間尚有身熱，並日里亦不時潮熱等症。</p>
<p>柴胡　厚朴　青皮　半夏　廣皮　黃芩　甘草　生薑　枳殼</p>
<p>一人患胸中作痛，按之而軟，得食稍緩，夜間尤甚，乃火痛也。</p>
<p>白芍　甘草　山梔　黃芩　半夏　廣皮　蔞實　夏枯草</p>
<p>一人言心頭痛，乃胃脘為肝火所郁也。諸醫用黃連治之不愈，其人又善酒，為定一方而愈。</p>
<p>白芍　甘草　山梔　黃芩　栝蔞實　石羔　葛根　香附　枳殼　連翹</p>
<p>一婦人患泄瀉，清晨更甚，為日已久，面黃乏力。此係脾受木克，理宜疏肝扶脾之藥治之。</p>
<p>白朮　茯苓　白芍　廣皮　香附　豬苓　澤瀉　厚朴　甘草　加乾荷葉</p>
<p>桐鄉程丹宇，向善啖，家頗豐，膏粱不輟於口，致患郁痰鬱火症，數年來不飢而勉食，每立秋則發瘧，治療者無非以六君子湯，補其脾胃，去冬又服鹿角膠數斤，至庚戌春初，潦倒不堪，不能步履，始就醫於余。見其喘急異常，喉如鋸聲，口吐黃黑黏痰不計，按其腹脹大堅實，四肢頭皮皆腫，大小便不爽，得成鼓脹，脈息滑大有力。余知其積年之痰，鬱於中者既久，無從出路而為患，病勢至此，無可奈何，且與豁痰理氣之藥兩進，不見進退。因思數年積聚，膠固堅結，必非尋常，即用滾痰丸三錢以逐之。大便難去，不甚爽快，繼又連服五次，大便去黏痰甚多，並以豁痰清火降氣之藥，早晚托化，胸次稍舒。時交清明節，其內郁之火外達，寒熱大作，煩躁不寧，即用黃連清火之藥兩劑，得以安寧。但郁久之火，用疏而反熾，不能清爽，下注陰囊，腫痛難忍，小便點點不出，以滋腎丸與之，小便始得通利，而陰囊之腫漸平。其如外症除而飲食不進，精神倦怠，三月間初同伊歸，途中忽患惡寒，面色無神，脈息虛滑，几几欲脫狀，急與獨參湯飲之。一晚計服人參六錢，神氣稍復，抵家後，大便每日去純白痰不計，四肢腫脹漸退，但神氣不清，妄笑多怒，飲食不進。余曰：此久病之後，元氣虛而痰火散漫，上干心主所致。宜用疏補兼施之法，遂以豁痰理氣清心火之品，作丸服之，晚用參橘煎二錢。三日後神氣清爽，脈亦有神，飲食有味，小便大利，腫勢盡平，瀕危之疾，至此始無慮矣。竟遵東垣先生疏補之法，調治而愈，三日後精神旺，飲食進而談笑如常矣。以數年之病，來就余醫，其間用藥變化一則，知醫貴乎圓通矣。噫，是役也。使慮其危殆，而攻伐不施，則病邪何由而去。若干疏導而不事滋補，則元氣何以漸充，病勢變易不常，方藥隨手撒換。是知膠固之士，未可與言醫也。（原注，凡於久積之後，邪去反有別症，先以言明病家，可無怨語。）</p>
<p>飲食阻滯於胃，鬱而為火，煅煉津液成痰，外為風寒所觸，上干於肺而咳嗽，痰帶粉紅色，此係咳傷肺絡而來。左脈弦細而數，右脈寸關滑大，此乃肝家有火，肺胃之痰，糾結不清也。理宜豁痰降氣清火之藥治之。</p>
<p>蘇子　杏仁　栝蔞　黃芩　貝母　枳殼　桔梗　山梔　廣皮　桑皮　甘草</p>
<p>加茅根（一兩）　枇杷葉三錢煎服。</p>
<p>〔丸方〕　桔梗　甘草　栝蔞霜　杏仁　貝母　黃芩　廣皮　鬱金　山梔　枇杷葉</p>
<p>夏枯草湯法丸，臨臥服。</p>
<p>先天腎水不足，相火妄動，上炎爍肺而咳嗽，脈息數大，兩尺尤甚，此乃水衰火亢下流於肛門而發毒。目下時令炎威，正肺金受制之月，先宜靜養，毋躁急惱怒，省言語，避風熱，然後以滋陰保肺，納氣降火之藥治之。煎丸並進，庶不釀成勞瘵也。</p>
<p>生地　丹皮　麥冬　骨皮　貝母　蔞仁　苡仁　沙參　白芍　黃芩　甘草　加茅根一兩煎</p>
<p>〔丸方〕　六味丸加　知母　黃柏　牛膝　麥冬　磁石　砂仁</p>
<p>肺為嬌臟，畏熱畏寒，醇酒生冷，夾雜入胃，不得運行，釀成臭穢之痰，肺金受爍，因咳而出，似乎肺癰，實由胃中而來。但薰灼日久，肺氣為之耗散，則水之上源已絕，腎水因之虧損，所以左手脈息虛軟，右手滑大。此皆水衰火亢，肺金不足。理宜用豁痰清肺之藥，以治其痰嗽，更以加味地黃丸，補腎降火，庶得奏效。</p>
<p>〔煎方〕　栝蔞　川貝　薏仁　丹皮　骨皮　麥冬　廣皮　沙參　枳殼　蘇子　加枇杷葉（三錢）</p>
<p>肺居上焦，藥力最為難到，凡嗽病當以膏劑頻頻挑化，以滋肺金。</p>
<p>〔膏方〕　川貝　栝蔞　廣皮　生地　麥門冬　地骨皮　杏仁　枇杷葉　沙參　苡仁　茅根　鮮百合</p>
<p>收自然膏，燉熱，不時挑化。</p>
<p>〔丸方〕　六味加　黃柏　牛膝　麥冬　五味　砂仁末為衣</p>
<p>頭痛而嘔吐者，乃胃中之痰火上升，名曰痰厥頭痛，藥不可服發表之藥。</p>
<p>半夏　廣皮　石羔　夏枯草　茯苓　藿香　香附　白芍　天麻　甘草</p>
<p>喘症乃肺有伏火，觸風而發也。應降氣豁痰，以治其標。平復之後，應納氣歸腎，以治其本。</p>
<p>半夏　廣皮　蘇子　杏仁　蔞仁　黃芩　五羔　枳殼　萊菔子　甘草煎</p>
<p>丸方，用六味加牛膝、黃柏、磁石、五味、砂仁。</p>
<p>天稟沉靜，未免多思多郁，多思則氣結，多鬱則肝木不得疏泄，脾土受困，加之飲食不調，以致飲食不化，而致泄瀉。經云：濕勝則濡泄。又云：諸濕腫滿，皆屬於脾。脾不運化，濕氣聚而為腫。目下腹皮漸大，頭面四肢陰囊陽道俱腫，脈息沉小，暫用東垣風能勝濕之治。然後以加減胃苓湯，作丸服之，緩著處治，庶可奏效。</p>
<p>羌活　防風　香附　廣皮　枳殼　厚朴　蒼朮　香薷　砂仁　加姜煎</p>
<p>〔丸方〕　蒼朮　白朮　厚朴　茯苓　豬苓　澤瀉　香附　木香　砂仁　肉桂　木通　湯法丸</p>
<p>童年而小便渾濁，乃疳積也。熱久則腹脹，肌肉消瘦，即幼科所謂疳火，且脈息數大，內火消爍，所以善食，理宜清火消積之藥治之。</p>
<p>白朮　廣皮　黃連　骨皮　楂肉　麥芽　茯苓　銀柴胡　砂仁</p>
<p>病起於酒熱傷胃，胃脘作痛，血熱妄行而吐血，火來爍金而咳嗽，久嗽傷肺，不能清肅下降，小便不利，以致足跗浮腫，恐其漸升於上，脈息弦數，煩躁咽乾。此乃胃熱傷肺，宜清肺胃之熱，降氣豁痰為主。</p>
<p>〔煎方〕　半夏　廣皮　麥冬　蘇子　杏仁　栝蔞　石羔　茯苓　地骨皮　加燈心</p>
<p>丸方，六味加牛膝、黃柏、麥冬、天冬、磁石、砂仁。</p>
<p>病起於抑鬱不舒，鬱則肝氣不得疏泄，血為氣滯而停蓄之久，則血大下。去血之後，肝火升騰，肺金受爍，以致咳嗽氣急。肺失清肅降下之令，小便不利而為脹滿，氣喘不得安臥，脈息沉弦而數。此肝金鬱火爍肺，而為喘急不得臥而腫。治法當以清肺為主，所謂先咳嗽，後腫滿者治在肺，肺清則便利而腫退矣。</p>
<p>朝服滋腎丸</p>
<p>晚服煎方　半夏　廣皮　栝蔞　黃芩　蘇子　枳殼　杏仁　萊菔子　香附　山梔</p>
<p>去夏水衰火亢而吐血，今當夏令炎威，其氣上逆，而不能下降，脈息洪大帶數，兩尺尤甚，此腎虛而氣不歸元也。治宜滋陰降火，納氣歸元為主，並宜習靜調攝，不然，恐其復發吐血，釀成勞瘵也。</p>
<p>〔煎方〕　生地　丹皮　麥冬　骨皮　黃柏　牛膝　天冬　玉竹　白芍　五味　砂仁</p>
<p>丸方，六味加黃柏、牛膝、五味、麥冬、砂仁。</p>
<p>平素善飲，酒性大熱，貯於胃中，薰蒸爍肺，擾其血分，胃中之血，隨火上升而吐，既吐之後，腎水衰耗，相火上炎，而咳嗽作矣，下擾精房而夢遺矣。脈息弦數，兩尺尤甚，此乃水衰火亢，肺金受困之象。調治先講靜養，毋躁急惱怒，服納氣補腎清火保肺之藥，煎丸並進，庶幾漸次奏效。</p>
<p>〔煎方〕　生地　丹皮　麥冬　天冬　川貝　地骨皮　沙參　栝蔞仁　苡仁　加茅根</p>
<p>丸方，六味加黃柏、牛膝、砂仁、五味子、磁石。</p>
<p>用力過度，有傷胃絡，陽絡傷則血外溢。所來之血，不鮮明者，乃瘀血阻滯胃中，而不舒暢，加之醇酒擾其血沸騰，脈息滑大有力，此瘀血互相糾結於胃也。暫用豁痰理氣消瘀之藥治之。</p>
<p>〔煎方〕　蘇子　鬱金　栝蔞　枳殼　桃仁　黃芩　山梔　香附　丹參　加茅根</p>
<p>〔丸方〕　生地　桃仁　蔞仁　鬱金　廣皮　枳殼　香附　山梔　丹參　青皮　黃芩　茅根湯法</p>
<p>濕熱下流而為痛痹，當以加味三妙丸治之。</p>
<p>蒼朮　黃柏　牛膝　木瓜　苡仁　秦艽　續斷　杜仲　桑枝湯法丸</p>
<p>所患血症，已經多年，雖用滋陰降火之藥，或愈或發，今交夏令，肺金受爍之月，咳嗽不已，血隨火沸，上氣喘急，午後發熱，飲食少進而無味，脈息細數無神。此乃腎虛，而兼脾胃之氣困憊也。目下當以胃氣為主，先賢治血症，每以胃藥收功，而滋陰寒涼之藥，暫作緩圖，俟飲食時，神氣旺，然後再議滋陰可也。</p>
<p>〔煎方〕　人參　黃耆　白朮　茯神　廣皮　麥冬　五味　棗仁　苡仁　貝母　甘草加大棗二枚，熟砂仁末五分。</p>
<p>服扶脾保肺之藥，若飲食漸進，乃為佳兆。如覺有火嗽甚，即停前藥，仍用滋陰保肺之劑。但居恆刻刻以胃氣為本，生冷難化之物，俱不可用，防其大便滑泄也。</p>
<p>〔煎方〕　熟地　白芍　麥冬　玉竹　貝母　廣皮　苡仁　五味　枸杞　加蓮子</p>
<p>肝開竅於目，瞽目之人，肝氣鬱滯，肝為藏血之臟，氣滯則血不流，經事不調，腹中作痛。經行之時，其血皆黑而成塊者，此乃氣滯其血也。宜理氣消瘀之藥治之。</p>
<p>香附　青皮　桃仁　赤芍　枳殼　牛膝　續斷　厚朴　滑石　沖熟砂仁末</p>
<p>〔丸方〕　四制香附（四兩）　桃仁　元胡索　鬱金　青皮　丹參　牛膝　條芩　益母湯　法丸</p>
<p>少年時用力過度，兼之飲食太過，胃絡受傷。陰絡傷則血內溢，停蓄於腸胃之中，而成便血。肝火下注，則發為痔瘡，有時變為血痢。痢雖止而所瘀之血，逆上而吐，胸膈咽噎之間，窒塞不舒。脈息左手沉弦帶數，右手稍大於左而帶滑。此係腸胃瘀郁之血，尚未清爽，氣滯痰凝，郁久成火。所以手足心煩熱，胃中糾結，堅硬有形而痛也。理宜消瘀順氣清火之藥治之。俟胸膈舒暢，咽喉清爽，然後以調理之藥為善計。</p>
<p>香附　鬱金　栝蔞　蘇子　山梔　黃芩　枳殼　丹參　丹皮　青皮　加乾荷蒂三枚</p>
<p>三月間木旺之時，脾土受制，得目疾數日，此皆肝火上炎之故。四月間，胃脘為物所觸，雖覺不舒，然亦不作痛脹滿。已服消瘀行血之藥，而胸腹反覺滿悶作脹，小便黃赤而短少，脈息弦細而沉，此乃肝木鬱於脾上之中，濕熱聚而為脹。理宜疏肝散濕熱之藥治之。</p>
<p>香薷　厚朴　廣皮　蒼朮　枳殼　青皮　山梔　木通　葛根　滑石　萊菔子　加砂仁生薑煎服</p>
<p>疏肝清濕熱之藥三帖，大便泄瀉已減，但胃中有物阻滯，食物不得下達。暫用滾痰丸二錢，淡薑湯下，以逐胃中之滯，使之下行，並以理氣豁痰之藥，連進四帖，得脹滿漸減為妙。</p>
<p>半夏　廣皮　香附　山梔　枳殼　青皮　滑石　萊菔子　厚朴　加砂仁</p>
<p>脾氣已虛，肝木不能條達通暢，以致作脹，小便不利，大便不實。此乃木旺土衰之象，理宜扶脾疏肝之藥治之。</p>
<p>白朮　茯苓　廣皮　半夏　豬苓　澤瀉　厚朴　香附　山梔　青皮　鬱金　砂仁　加生薑煎</p>
<p>〔丸方〕　白朮　茯苓　豬苓　澤瀉　香附　厚朴　廣皮　半夏　山梔　木香</p>
<p>用木通四兩煎湯法丸，朝晚服。</p>
<p>咳嗽痰多，胸膈不舒，飲食少進，脈息虛弦，系脾虛不能運行其津液而為痰。土不能生金，肺虛不能固表，又當夏令濕熱用事之時，暫以豁痰健脾保肺之藥治之。候胸次舒暢，然後以加味地黃丸補腎，為長久之計。暫服煎方。</p>
<p>白朮　茯苓　半夏　廣皮　蘇子　杏仁　苡仁　骨皮　桑皮　加生薑沖熟砂仁末</p>
<p>〔丸方〕　白朮　茯苓　半夏　廣皮　蔞實　杏仁霜　黃柏　骨皮　砂仁　枇杷葉　用荷葉湯法丸</p>
<p>左半身不遂而痛，此係痰火鬱滯，經絡不宣通之故，理宜豁痰清火通經絡之藥治之。</p>
<p>半夏　廣皮　天麻　秦艽　鉤藤　黃柏　栝蔞　木通　續斷　牛膝　枳殼　加生薑　桑枝</p>
<p>吐瘀血之後，而為脹滿，足跗腫硬，大便溏泄，此因平素飲酒太過，傷其血分，以致積於胃中，隨火上炎而吐。余瘀未盡，氣滯不行，濕熱聚而腫脹。宜消瘀行氣清濕熱之藥治之。</p>
<p>〔煎方〕　香附　山梔　青皮　延胡索　廣皮　厚朴　枳殼　葛根　木通　加砂仁</p>
<p>〔丸方〕　白朮　茯苓　豬苓　澤瀉　香附　青皮　山梔　枳殼　厚朴　砂仁　木通　湯法丸</p>
<p>奔走勞動，有傷於腎，腎水不足，相火上炎爍肺而咳嗽，今咳雖減，而真陰虧損，脈息細數，兩尺尤甚。所以勞倦乏力，兩足痿軟，當以滋陰保肺之藥為治。</p>
<p>生地　熟地　麥冬　天冬　川貝　栝蔞　丹皮　廣皮　黃柏　知母　地骨　加蓮子煎</p>
<p>丸方，用六味加牛膝、麥冬、五味、砂仁、黃柏。</p>
<p>少腹右邊，結成有形之塊，日漸以大，上干胃家，則嘔吐而發寒熱。此乃瘕聚，借其氣以成形，即為子疝也。近因散而至於左邊，作痛不寧，脈息弦急，當以疏肝和胃為治。</p>
<p>半夏　廣皮　青皮　香附　栝蔞　山梔　黃柏　鉤藤　夏枯草　柴胡　甘草　加姜煎</p>
<p>丸方，加橘核、砂仁，夏枯草湯法丸。</p>
<p>病起於肝氣不舒，而成脹滿，雖用行藥通其大便而漸減，此肝氣得以疏泄而退。然肝氣鬱於脾土之中而復脹，脈息弦數。此乃木旺火衰之象，理宜和胃疏肝為治。</p>
<p>白朮　廣皮　厚朴　香附　木通　山梔　黃柏　茯苓　白芍　枳殼</p>
<p>〔丸方〕　黃柏（一兩）　知母（一兩）　肉桂（一錢）</p>
<p>水搗丸服，服後候小便利，再服後丸方。</p>
<p>〔丸方〕　白朮　廣皮　茯苓　山梔　黃柏　厚朴　青皮　澤瀉　枳殼　萊菔子　木通湯法丸</p>
<p>濕熱鬱蒸而為黃疸，因胃中有濕熱，所以作脹作酸作腫，並有帶下，脈息滑大，治宜清濕熱之藥為主。</p>
<p>蒼朮　黃柏　厚朴　廣皮　香附　茵陳　木通　滑石　萊菔子　山梔　加燈心</p>
<p>〔丸方〕　青皮　半夏　蒼朮　黃柏　厚朴　廣皮　香附　山梔　茯苓　用茵陳木通煎湯法丸</p>
<p>經云：三陽結謂之膈。三陽者，大小腸膀胱也。結者，熱結也。熱結於下，則反之於上。丹溪云：噎膈之症，多起於血枯痰膩。大忌香燥熱藥，惟以豁痰降氣清火潤腸之藥治之。今脈左手沉弦，此肝氣鬱結也。右手滑大有力，此胃中痰火糾結不清也。鬱則氣結津液聚而為痰，阻滯食物，不得下達，隨肝家之鬱火上升，則嘔吐而出。（原評，理明詞達，言之瞭然。）先講習靜調攝，一切俗務，俱置度外，然後進藥，庶幾奏效。</p>
<p>半夏　廣皮　香附　山梔　栝蔞　蘇子　萊菔子　黃芩　石羔　枳殼　加生薑竹茹</p>
<p>平素善飲，則知胃中濕熱，糾結不清，濕勝則濡泄，所以大便泄瀉，濕傷筋，所以手足牽引。濕生熱，熱生風，肝主風，肝開竅於目，所以左目小而右目大。脈息左弦右滑，此乃肝木乘脾也。（原評，語皆有本，如洞見五臟。）理宜扶脾疏肝為治。</p>
<p>白朮　半夏　廣皮　茯苓　鉤藤　厚朴　木瓜　香附　白芍　車前</p>
<p>咳嗽之後，脾胃兩虛，以致五更泄瀉。此乃腎虛不能閉藏，脾虛不能健運之故也。脈息虛小無神，理宜健脾和胃之劑，先服煎劑以健其脾。忌生冷油膩，使易於運化也。</p>
<p>〔煎方〕　人參　白朮　廣皮　茯苓　黃耆　白芍　甘草　苡仁　五味　砂仁　加荷蒂</p>
<p>〔丸方〕　補骨脂　肉果　五味子　木香　薑棗搗丸（名四神丸）</p>
<p>疝症屬肝經鬱火，不得疏泄，外受寒涼所束，以致腫脹作痛而上升。理宜疏肝氣，清肝火。</p>
<p>〔煎方〕　柴胡　青皮　香附　山梔　木通　黃柏　橘核　栝蔞　蒼朮　牛膝　加砂仁</p>
<p>〔丸方〕　蒼朮　黃柏　香附　青皮　牛膝　山梔　橘核　枳殼　木通湯法丸</p>
<p>〔浴方〕　蘇葉　艾葉　水晶葡萄葉　煎湯熱浴</p>
<p>咳嗽吐痰帶血，尺脈不寧，夜臥不寧，夢寐顛倒。</p>
<p>〔煎方〕　生地　丹皮　麥冬　山梔　黃芩　黃柏　知母　蘇子　杏仁　加茅根</p>
<p>丸方，知柏六味丸加牛膝、白芍、棗仁。</p>
<p>咳嗽已久，性情多郁，產後飲食少進，而胸膈不寬，或時作酸作脹，大便不實，脈息弦數而細，脾土虛而肝木鬱，肝火來爍肺金也。暫用扶脾疏肝之藥，使胸次舒暢，然後以滋陰培本，為善後計。</p>
<p>〔煎方〕　香附　山梔　白芍　半夏　廣皮　茯苓　白朮　蘇子　杏仁　鉤藤　加姜</p>
<p>〔丸方〕　白朮　廣皮　半夏　茯苓　香附　白芍　山梔　杏仁　川貝　枇杷葉　荷葉湯法丸</p>
<p>胃中痰飲積聚不清，上泛於目，以致目睛昏瞀，胸膈不舒，飲食不能運化，脈息弦而帶數，右手滑大。此係肝木鬱於胃中，隨火上泛而為嘔也。理宜和胃豁痰燥濕清肝之藥。</p>
<p>蒼朮　厚朴　石羔　枳殼　蒺藜　夏枯草　半夏　廣皮　青皮　香附　加姜竹茹</p>
<p>〔丸方〕　半夏　廣皮　厚朴　蒼朮　石羔　蒺藜　茯苓　香附　砂仁　用生薑竹茹夏枯草湯法丸</p>
<p>胎前內熱，肝火不得疏泄，下注而為泄瀉。經所謂暴注下迫，皆屬於火。既產之後，時當春令，正木火生髮之月，未清之血，停滯下焦，發為腸癰膿潰之後，復為痢疾後重逼迫，腹中作痛。肝火上升，則目眵不清，且煅煉津液，而為帶下之症。脈息弦數，面色白而帶紅，此皆肝火煽動也。治宜清肝火，疏肝氣之藥為主。</p>
<p>〔煎方〕　白芍　甘草　黃芩　連樸　廣皮　枳殼　香附　茯苓　加荷蒂</p>
<p>〔丸方〕　白芍　甘草　香附　枳殼　黃芩　茯苓　黃柏　續斷　砂仁　荷葉湯法</p>
<p>經云：治病必求其本。本者謂究其治病之根蒂也。喻嘉言曰：先議病，後議藥。先生之病，已經數載，而致病之源，緣先天腎水不足，不能榮養肝木，肝火上衝於胃，胃中津液，為火煅煉而成痰，糾結不清，薰蒸清虛之府，鼻竅閉塞，以致瘜肉內生。肺雖開竅於鼻，而其經絡屬胃，胃脈挾鼻孔，因胃中之痰火，閉塞其竅也。胃脈縈於面，環唇口，肝火衝動，則口唇與面，肌肉牽引而動。肺之脈絡，從胸走手。經云：諸氣膹郁，皆屬於肺。肺氣壅塞不通，則由其經而注於手，寸口魚際之脈跳動，因肺朝百脈，合於寸口也。然腎為生痰之源，胃為貯痰之器，行則為津液，聚則為痰飲，得外風寒所觸，痰火內發，則口眼為之歪斜。口屬胃，眼屬肝，木火煽動之故也。年來雖不為意，恐痰火鬱於胃中，日久乘元氣不足之時，外邪干入內之痰火，竊發升騰眩暈，卒然有顛仆之虞，乃類中之基。況向交秋即發瘧疾，亦是胃中之痰。因夏令之暑邪，藏蓄於胃，得風寒所觸而發，所謂無痰不成瘧，瘧外發則痰亦得以外達，不致攢而為患。診脈左手弦大，右手骨大不靜，此胃中之痰不清也。調治之法，必先清胃中之痰火，通其閉塞之竅，使肺氣清肅下降，然後滋水榮木之藥治之。</p>
<p>〔丸方〕　半夏　廣皮　茯苓　栝蔞　枳殼　萊菔子　石羔　菖蒲　黃芩　天麻　用生薑鉤藤湯法丸</p>
<p>胃中清爽，鼻息通利，肌肉不跳動，然後服後丸方，六味加黃柏牛膝麥冬玉竹。</p>
<p>葉少遊，從外家歸，覆舟閘港，眾人挽救得蘇。歸家發熱咳嗽，鼻流腥穢之水，所吐之痰，亦覺腥穢。四五日大吐瘀血盆許，諸醫欲以吐血治之，余獨不然。此為寒所注，肺胃中受濁水所傷，鬱而為熱，瘀血乘機而吐出。若用涼血滋陰之藥，肺胃壅瘀不清，發熱不清，咳嗽必然更甚。惟以理氣清肺豁痰等劑，二十餘帖，臭穢之物，得以清爽，寒熱咳嗽皆平而愈。</p>
<p>前胡　蘇子　半夏　廣皮　杏仁　枳殼　鬱金　桑枝　桔梗　香附　甘草</p>
<p>孫特士，平素善飲，於三月間飲酒已醉，臥於橋上，墮水抱於橋腳一二時，鄰人始得救起。覺渾身頭項筋脈不舒，灑淅惡寒，即往松郡賣布。有醫者不行疏散，竟以勞倦治之，歸家咳嗽，繼之吐血。又一醫者用地黃湯治之，胸膈不寬，亦不沉餓，寒熱如瘧。又以瘧疾治之。此乃形寒飲冷，肺受水注，鬱而發熱咳嗽，此時未免有傷瘀血凝滯胃家，咳嗽氣逆，隨之而出，不去消導行瘀，反用地黃凝滯之藥，壅塞道路，其勢更甚，其氣愈逆。彼為無子抑鬱，脈息數大無倫，余亦議其內敗，雖用疏理之藥，亦不取效。此症與少遊相同，但其誤用地黃凝滯，竟至不起。</p>
<p>秦照臨，夏月感受暑熱之邪，至秋患痢，不數日下藥行之，積物不忌，壅塞胃中，不得通泰。火邪不得發越，以致呃逆，面赤兩目俱紅，舌見黑苔，大便後重，小便黃赤，脈息沉細而數。此熱邪為食物郁遏，不得條達通暢而為呃逆，暫用</p>
<p>厚朴　枳殼　青皮　萊菔子　香附　檳榔　木通　滑石</p>
<p>疏其胃中之壅滯，大便去結糞與積滯不計，胸次寬泰，伏火內發，舌愈黑燥，口渴喜冷。用六一散水調服，並西瓜汁、蔗汁陸續飲之，以石羔、黃連、枳殼、連翹、厚朴，朝服一劑。二日共計六一散二十餘碗，西瓜數枚，舌退黑，而呃亦止，口亦不渴，面目之紅皆退，小便清白，大便爽快，積滯已無，脈息反大而不伏。然後進以粥飲調胃。此因暑邪郁遏於內，寒涼太早，兼之食物壅滯而成此症。故必疏理腸胃之鬱滯，使之宣通無阻，後用清火涼藥，冷水西瓜，逐其火邪，使之下行，得以全愈。若不先疏理，而竟用寒涼，則熱邪郁遏腸胃，必致敗壞而斃。所以用藥之法，先後不可紊也。</p>
<p>上洋周湘文，年已五旬，三月間步至松郡，百里忍飢，面紅脈大，汗出如雨，口不渴，神思倦怠，夜不能寐，諸醫皆以石羔黃連清火為治。迎余診視，余曰：此熱傷元氣，加之勞倦內傷，肺氣不能固表，脾虛而倦也。</p>
<p>人參　黃耆　白朮　廣皮　麥冬　五味子　棗仁</p>
<p>連進二劑，汗斂安寐。</p>
<p>胃開竅於口。口糜者，胃中濕痰濕火，薰蒸於上也。耳聾而鳴者，胃中之痰，隨少陽之火上升，閉其竅而聾也。肝竅開於目，肝火鬱於胃中，不得條達通暢，以致目昏頭眩。經云：頭眩耳鳴，九竅不利，腸胃之所生也。皆屬胃中有郁痰濕火，凝結不清。故有噁心嘔吐作酸，胸膈不舒等症也。以和胃清肝開鬱之藥為主，但久服黃連，反增燥熱，二十年來，不時用之，未免有偏勝之害。不若用黃柏以清龍雷之火，而兼補腎，東垣每於脾胃用以瀉陰火，良有以也。</p>
<p>潘蒼舒令愛，產後調理失宜，腹痛泄瀉，寒熱自汗，小腹按之有塊作痛，頭面白而浮腫，兩腿脹痛，脹息細小，不安寐。初服消瘀行滯之藥五六帖，腫痛漸減，即以消補兼治之法為療。</p>
<p>白朮　廣皮　茯苓　白芍　香附　肉桂　青皮　山查　棗仁　甘草</p>
<p>宛老，患休息痢已經二載，脈息洪大帶數，腹皮如絡，小便黃赤而不禁，有時夢遺。恐其發熱咳嗽，釀成勞瘵。因久痢傷腎故也，治宜補腎為主，此治本之法也。</p>
<p>久痢傷腎，釀成陰虛之症，目下陰火上衝，飲食不得下達而嘔逆，脈息細數，聲音不出。此乃水衰火亢，肺金爍理，宜滋陰保肺降火之藥治之。</p>
<p>六味湯加　黃柏　麥冬　白芍　牛膝　沖砂仁末</p>
<p>〔膏方〕　生地　麥冬　白芍　丹皮　苡仁　玉竹　川貝　地骨　鮮百合　枇杷葉</p>
<p>丸方六味加黃柏、牛膝，五味、麥冬、杜仲，砂仁為衣。</p>
<p>恪修兄，腎水不足，相火上炎，血隨火升，繼之咳嗽，已經半載有餘。脈息虛大帶數，尺部尤甚，此乃勞瘵之基也。理宜靜養調攝，屏卻俗務，服滋陰降火之藥為治。</p>
<p>生地　丹皮　麥冬　熟地　天冬　川貝　骨皮　栝蔞霜　苡仁　沙參　加枇杷葉</p>
<p>丸方，六味加牛膝、五味、麥冬、砂仁、黃柏。</p>
<p>血症之後，肺金受火燔灼而咳，此本原病也。目下感受暑風之邪，咳嗽而頭痛，脈息浮大而虛。此外邪乘虛而侵肺也。暫用清肺理氣疏散之藥，俟前症減後，再進補劑。</p>
<p>蘇子　杏仁　桔梗　枳殼　前胡　黃芩　廣皮　薄荷　桑皮　甘草　加姜</p>
<p>朱煥輿，四月起，右腳底腫痛，漸至四肢骨節疼痛，不隨運用。八月又加乾咳嗽，胃中常易受寒。目今頭項不能轉動，頭俯不能仰視，兩肩不舉，轉側俱要人扶，兩手無力，臥則臀壓脅，難於移動，手指不能舉捧，足心發熱，午後更甚，且作癢，腰下至腳，皮膚繃急，骨節痠痛，不能步履，右腳更甚，嗽吐黏綿痰涎沫，大便乾結，四五日一次，糞後間有紅，語言多句，氣即不能接續，必有乾咳，尊體肥厚。丹溪云：肥人多濕痰。四月乃純陽之月，熱氣薰蒸，下流於右足底，以致腫痛，右屬脾胃，濕勝則腫，四肢亦屬脾胃，胃中濕痰壅滯，無從出路，流於四肢骨節，而手足不能運用。此乃痿痹之症，屬濕痰濕火，蘊蓄於腸胃，腸胃不能容受，流及於四肢肌肉之間，而為患也。（原評，能識病源，故許多病症皆滴滴歸源，且有確據，非同俗醫之循牆傍壁附會其說者比也。）其痰上干於肺，則為咳嗽。肺主皮毛，故易於感冒。肝主筋，頭頸皆屬肝，濕傷筋，故頭不轉動，俯不能仰視，兩肩不舉，濕勝則體重，故不能轉輸運動。濕熱下流則腳底熱。午後陽火亢盛，助其邪氣，故其熱更甚而作癢，濕熱下注，故皮膚繃急，骨節作痛，不能步履。脾胃在右，病在脾胃，故右更甚。胃為貯痰之器，胃中熱氣薰蒸，煅煉津液成痰，隨火上升而咳嗽。大便燥結者，熱藥補劑，壅塞不通之故也。血得熱而妄行，熱藥擾其血分，則糞後見紅。肺氣壅盛，則語言不能通暢而接續，火氣上炎爍肺，則乾咳，脈息沉滑有力。種種見症，皆屬濕痰濕火，蘊蓄於腸胃，流於四肢，而為痿痹之症也。服溫補熱藥太過，壅塞經絡，難於一時奏效。惟以豁痰清火，通行經絡之藥，煎丸並進，庶可漸次見功。一切醇酒厚味難化之物，並宜暫戒。</p>
<p>〔煎方〕　蒼朮　廣皮　厚朴　半夏　香附　旋覆　木通　黃柏　牛膝　木瓜　加姜　砂仁</p>
<p>〔丸方〕　蒼朮　黃柏　牛膝　厚朴　廣皮　香附　木瓜　枳殼　砂仁　生薑　木通　煎湯法丸</p>
<p>林兄，因飲酒而傷胃，酒性大熱，擾其血分，而吐血加之，抑鬱不舒，胸膈不寬，氣上衝逆而咳，濁痰，脈息沉弦帶數，兩關尤甚。此係氣滯血凝於胃，上升而來也。治宜消痰降火理氣之藥為主。</p>
<p>桃仁　丹參　鬱金　栝蔞　枳殼　山梔　牛膝　香附　蘇子　黃芩　杏仁　加茅根</p>
<p>受病之源，得之惱怒鬱結，以致肝火升騰，上干肺金而咳嗽。肝為藏血之臟，因咳極致血，血隨火升之故，熱極覺有腥穢之氣。而肺金痿之病，自春至秋，金得令，肝木受傷，吐血復作，連日氣逆於上，胸膈不舒。治血必先理氣，氣降則血自歸經，俟胸膈寬暢之後，再議滋陰，此先後緩急之法也。脈息左手帶弦，此肝火妄動也。右手滑大，關部尤甚，此胃中痰瘀糾結之象也。理宜豁痰降氣消瘀之藥，先疏其胸膈之滯，然後以清肺滋陰之藥，仍兼消痰以治其本，庶可漸奏效。</p>
<p>蘇子　杏仁　鬱金　丹皮　栝蔞　桃仁　枳殼　川貝　廣皮　黃芩　山梔　加茅根</p>
<p>胸膈寬舒氣平後服方　生地　白芍　丹皮　麥冬　川貝　蔞霜　黃芩　廣皮　茯苓　沙參　加茅根</p>
<p>〔膏方〕　生地　丹皮　麥冬　地骨　川貝　蔞仁　白芍　天冬　梨汁　藕汁　茅根汁</p>
<p>渭兄，受病之源，得之平素多思多郁，思則氣結，肝氣鬱於脾土之中，不得疏泄，下注肛門而發痔。肝為藏血之臟，血得熱而妄行，鬱火妄動，擾其血分而下注。去血之後，面色自然㿠白。肝主疏泄，肝火擾其精房則夢遺。脈息沉弦帶數，夜臥則口乾煩躁，此鬱火薰蒸也。語言響亮而不怯弱，飲食有味，多則作脹，此肝氣鬱於脾土之中，不得疏泄之故也。種種諸端，皆屬肝氣抑鬱。時當冬令潛藏之月，正木火藏伏於內，不得泄越而致病，理宜加味溫膽湯為治。</p>
<p>半夏　廣皮　棗仁　黃柏　香附　枳殼　山梔　青皮　鉤藤　甘草　加姜</p>
<p>沈益友夫人，受病之源，得之懷妊，胎氣壅滯，加之夏令暑熱之邪，蘊蓄於內，發為痢疾。至九月終分娩之後，腹中空曠，內伏之火，乘機外達，上干肺金，而咳嗽氣急，肺受火爍，不能清肅下行，致小便不利而腫，嘈雜嘔吐痰涎。《內經》所謂諸逆衝上，皆屬於火。又云：諸嘔痰喘，皆屬於上。上者，上焦肺胃也。因肺胃薰灼之故，其氣逆上而不得臥。小便熱而作痛，大便後重逼迫，脈息弦數。種種諸端，皆由暑熱之邪，伏藏於內而致。理宜和胃豁痰降火降氣之藥為治。</p>
<p>半夏　廣皮　蘇子　杏仁　桑皮　石羔　黃芩　山梔　枳殼　麥冬　煎</p>
<p>〔膏方〕　半夏　廣皮　蔞仁　蘇子　杏仁　石羔　梨汁　萊菔汁　麥冬　黃芩　生薑</p>
<p>千墩馬九成，得痿症，每有所觸，即臥床不起，痿軟無力，飲食如常，亦無寒熱，夜不得臥，神魂不寧，綿延幾月，漸次步履而安。去冬火氣潛藏之時，其病復發。究其受病之源，得之飢飽不時，胃氣受傷，脾不能運，津液為火煅煉成痰。上干心竅，則神不寧而不得臥，頭眩耳鳴。脈息左手微弦，右手獨見滑大有力。此係胃中有郁痰鬱火，稍有所觸即竊發。經云：胃不和，臥不安。陽明之熱，薰蒸肺金，則痿而無力。又云：諸痿皆屬於肺熱。故治痿獨取陽明，當以和胃豁痰之藥為治。</p>
<p>唐冊垂，濕熱痢。醫家唐若如用歸脾湯，加苡仁、扁豆、乾薑，丸方用白朮、茯神、棗仁、黃耆、破故紙等藥不愈。延余診視。予曰：大凡治病先以議其受病之源，而用藥庶幾合式。如冊垂兄之病，因平素嗜酒，則知腸胃間濕熱蘊蓄不清者久矣。加之夏令外受暑熱之邪，內伏之濕熱，乘機而發，為痢綿延連歲，每至秋冬起病之期，必然復作。仲景云：下痢至其時復發者，此下未盡，復下之。因脾主信故也。前者又有黃疸之病，則知濕熱為患無疑。目下發而難愈，腹中作痛，後重逼迫，所下者皆赤白，面色痿黃，兩足浮腫，倦怠乏力，小便短少，脈息洪大有力，此濕熱之邪未清也。理宜清濕熱，利小便，理滯氣為治，乃為對症之藥。今閱前方參耆朮補氣，則濕熱之邪，何從出路；用棗仁遠志，似乎養肝安神，而並無此症；既用扁豆苡仁實脾，又用當歸潤腸，自相悖謬如此；赤水下迫，而用乾薑助火；至於九月終，又用破故紙補腎火；肉豆蔻暖脾止瀉，又加當歸潤腸之品，不知何故。況痢與泄瀉兩症，大不相同，竟將混為一途，大非前腎之法，乃張景岳混同立論之談也。</p>
<p>駿老，平素畏寒惡風，此內有鬱火也。鬱火發越，則又畏熱，胸膈阻滯不通，大便燥結，食物入胃，至晚作酸而嘔。脈息沉弦而數，兩關尤甚，此係肝火鬱於胃中，煅煉津液成痰，而作酸，隨肝火上衝而嘔吐。並有白沫而冷者，乃熱極似冷，非真寒也，是乃噎膈反胃之基。經云：三陽結謂之膈。三陽者，大小腸膀胱也。結，熱結也。熱結於下，則反之於上。治之法，先宜和胃豁痰開鬱之藥，理其中焦，然後以養陰之品，潤其大腸，庶得奏效也。</p>
<p>〔煎方〕　半夏　廣皮　香附　山梔　旋覆花　栝蔞　鬱金　枳殼　茯苓</p>
<p>〔丸方〕　半夏　廣皮　枳殼　山梔　蔞仁　川連　萊菔子　香附</p>
<p>〔膏方〕　生地　當歸　白芍　蘇子　杏仁　蔞仁　柏子仁　梨汁　茅根汁</p>
<p>茂兄，平素嗜酒多怒，此胃中有濕痰濕火，肝氣鬱而不舒，濕火上蒸則多汗。怒傷肝，肝血為之上升而見紅，脈息左手弦大，此肝火妄動也。右手滑大有力，此胃中有濕痰濕火也。下流於大腸，則為痔瘡。理宜豁痰清火之藥治之。</p>
<p>〔煎方〕　半夏　廣皮　石羔　山梔　青皮　蘇子　枳殼　黃芩　丹參　黃柏</p>
<p>〔丸方〕　半夏　廣皮　蔞仁　香附　山梔　青皮　蘇子　枳殼　黃芩　丹參　黃柏</p>
<p>胃中有郁痰，隨火上升，閉其心竅，則神昏而咽喉塞礙，脈息弦滑帶數。此係肝火薰灼津液，口乾舌燥，上蒸而為汗，乃類中之基也。理宜清火豁痰之藥為治。</p>
<p>半夏　廣皮　石羔　黃連　山梔　天麻　栝蔞　鉤藤　菖蒲　枳殼　甘草</p>
<p>德言兄，天稟腎水不足，不能榮養肝木，肝火妄動，血隨火升而見紅。見紅之後，未免憂思抑鬱，胃中津液，煅煉成痰，糾結於中，飲食少進，胸次不舒，痰隨氣逆而咳嗽。脈息兩關沉滑帶弦，此肝氣鬱於胃中，不得條達之故。今值君火司天之年，又際春夏之交，正炎炎之勢日熾，慮其肺受火灼，而咳嗽更甚。惟以涼血清火開鬱之藥，為善後之計。但治血必先理氣，氣降則血自歸經而不升，痰亦隨氣而下降。肺主氣，臥則肺葉布散，則氣為之上升，非腎虛而氣不歸元也。</p>
<p>〔煎方〕　蘇子　杏仁　生地　丹皮　川貝　山梔　鬱金　枳殼　蔞仁　黃芩　廣皮　加茅根</p>
<p>〔膏方〕　丹皮　川貝　栝蔞　麥冬　杏仁　橘紅　梨汁　枇杷葉　茅根</p>
<p>〔丸方〕　香附　山梔　鬱金　栝蔞　黃芩　廣皮　丹皮　枳殼　茅根</p>
<p>娘娘受病之源，緣腎水不足，不能榮養肝木。肝火升騰，頸間結核，累累甚多，肝火上衝則嘔吐。用八味丸服之相妥者，因胃中痰火，得熱藥開通隧道，同氣相求，似乎相安。然積之已久，助火消陰，交君火司天之年，積熱竊發，火氣上炎，汗出發熱，痰中帶紅，寒熱如瘧，經事不來，脈息弦大帶數。此係水衰火亢，肺金受傷之象。理宜滋陰清肺，豁痰降火之藥治之。</p>
<p>士老向有痰火，鬱於胃中，上升則眩暈，不得疏泄，則嘈雜似飢。上爍肺金，則痿軟乏力。散於四肢，則手足心煩熱。脈息沉數帶滑，右關尤甚，此係胃中郁痰鬱火，所以結成有形之物。理宜豁痰清火理氣之藥為治。</p>
<p>半夏　廣皮　天麻　鉤藤　枳殼　川連　夏枯草　石羔　麥冬　山梔</p>
<p>海鹽朱龍為，於五十六年十月，瘧疾四五發即止。此時精神未復，仍勞碌倍常，並忍氣不發。五十七年春，夜膳後，胃中覺飽脹，一更時候，飲食吐盡方臥。自此以後，或五日或十日一吐，夜膳少進，甚至絕悶，不敢夜膳，是時服資生丸。五十八年春，清晨服大八味，下午服香燥藥。醫家云：肝氣欠和，胃中甚寒，將來恐有疝氣，故服之。至初夏胃中痛漸甚，每日申酉之分，飽脹疝氣，兼有盤腸氣痛，至戌時分，必將夜膳吐盡，至五更時倦睡方寧，秋間二日一發，三日一發，夜膳不用，至冬亦然。五十九年，疝氣盤腸氣痛稍痊，至夏全愈，至於胃脘痛嘔吐，或半月一發，或一月一發。六十年，嘔吐胃痛，一歲必遇四五次。六十一年，元氣亦然，二年分全愈。是歲十一月，感冒風寒，飲食不進，腰背俱痛，此時便不服大八味。十二月二十日，忽起黃疸，遍身發癢，小便短赤，屢服藥，至三年分八月全愈。但黃疸時嘔吐不發，黃疸愈，此症又發。目下減餐茹素，日中啜粥方好，若遇膏粱厚味，則胃痛嘔吐，背痛腰痠，盜汗發癢，種種不適。並易動氣，口苦必吐盡方安。又若稍受風，或用心身，便寒熱，精神更疲倦矣。</p>
<p>案龍為兄受病，得之外傷暑邪，內傷食物，停滯胃中，煅煉津液成痰。至冬令為外邪所觸而發瘧，四五發即止者，冬令潛藏故也。至來春，其餘邪留滯，加之鬱怒傷肝，交春令發陳之月，肝木用事，木性善脹，食後胃中脹滿，不得下達，肝火上衝而嘔吐，其時即應疏達肝火，兼扶脾胃，則吐可愈。乃服資生丸，內中參朮山藥蓮肉扁豆芡實等藥，皆閉氣凝滯之品，其肝氣不得下達，而至病之不愈也。又服八味丸香燥等藥，肝火愈熾。大凡疝症，系內有肝火，外受寒涼，抑遏而成，反用八味助火，甚悖謬。內有地黃，乃凝滯之藥，故胃中壅塞不通而痛，陽明旺於申金，故脹滿而痛更甚。肝氣上逆沖胃，胃中之食物吐盡，交五更陽氣，肺金主事，金旺則木平，故能安睡。此皆肝氣鬱於胃中，不得通泰而致病也。交春令木旺生髮之時，肝氣得以疏泄，至夏令木性垂枝布葉，盡發於外，所以疝氣全愈。然其餘波尚未盡除，故有時胃痛嘔吐。是歲十一月，正一陽初動之時，胃中所伏之火，外為風寒所觸，飲食不進，其火流注腰背，不能外達而作痛。冬至遏郁不舒，鬱蒸而為黃疸，胃主肌肉，濕熱薰蒸則發癢，小便短赤。黃疸時其濕熱得發於外，故胃痛嘔吐不發，黃疸愈，則濕熱之邪，復留於內，所以胃痛嘔吐復作。若遇膏粱厚味，壅滯胃中，則蒸而為汗，發於肌表，而作瘙癢。種種諸端，皆屬胃濕熱痰飲糾結不清，肝火鬱而為病，所以脈息左手沉弦，右手滑大有力。治法先講薄滋味，戒惱怒，避風寒，並服豁痰清肝理氣之藥，自然卻去病蒂矣。</p>
<p>〔煎方〕　半夏　廣皮　山梔　香附　川連　厚朴　青皮　葛根　木通　柴胡</p>
<p>〔丸方〕　半夏　廣皮　山梔　香附　川連　萊菔子　連翹　厚朴　青皮　枳殼　夏枯草</p>
<p>煎湯法丸</p>
<p>以兄，右半唇與髮際牽引作痛，至春則發，秋冬則愈，已經三載。診其受病之源，乃少陽之火，鬱於胃中，不得疏泄，至春發陳之月，內伏之邪，應時而外達，秋冬則為之斂藏故也。脈息沉弦帶數，乙木鬱於坤土無疑矣。治宜疏肝火，使其外達，自然平安也。</p>
<p>〔煎方〕　柴胡　山梔　香附　枳殼　石羔　連翹　黃芩　鉤藤　木通　夏枯草</p>
<p>〔丸方〕　柴胡　山梔　連翹　香附　黃芩　枳殼　石羔　栝蔞　廣皮　甘草　夏枯草湯法</p>
<p>胃中痰火薰蒸，而發為之脫落，理宜豁痰清火為治。</p>
<p>〔煎方〕　半夏　廣皮　栝蔞　石羔　生地　黃芩　山梔　夏枯草　花粉　麥冬</p>
<p>〔丸方〕　生地　麥冬　丹皮　黃芩　山梔　黃柏　石羔　花粉　知母　天冬　連翹</p>
<p>蜜丸</p>
<p>南兄，少年時多飲火酒，酒性大熱有毒，積於胃中，下流而發毒，膿潰之後，餘毒未消。補之太早，熱邪流注於膀胱，而小便為之淋漓作痛，結為沙石，屢次竊發。今交君火司天之年，其發頻而尤甚，小腹脹滿不舒，脈息弦數。此係肝火鬱於膀胱，煅煉津液，而成黏膩之物，瘀塞溺道，而淋漓作痛也。理宜清肝火理滯氣之藥為治，急戒醇酒厚味惱怒，則胸中清爽，而小便自利矣。</p>
<p>〔煎方〕　香附　山梔　黃柏　青皮　枳殼　滑石　栝蔞　生地　牛膝　鬱金　木通　加砂仁燈草</p>
<p>〔丸方〕　香附　黃柏　桃仁　青皮　山梔　滑　栝蔞　枳殼　牛膝　鬱金</p>
<p>平素多思多郁，郁久成火，得風則熾，而發寒熱，交春發陳之月，內郁之火，因時竊發，無從疏泄，則皮膚之間，流走作痛。鬱於內則胸膈脹滿，而口乾氣急，飲食不得下達，鬱火煅煉津液，大能榮養大腸，則大便為之燥結，五六日解一次。脈息沉弦帶數，此乃鬱火煅煉津液成痰。阻滯胃中，所以不飢不食。理宜先通大便，則上焦之鬱火，從此下降，並以理氣清火之藥，使其經絡宣暢，所謂通則不通也。</p>
<p>〔煎方〕　香附　山梔　廣皮　半夏　栝蔞　木通　萊菔子　枳殼　滑石　黃柏　石羔　生薑</p>
<p>〔丸方〕　香附　山梔　廣皮　黃柏　栝蔞　枳殼　萊菔子　石羔　滑石　木通　桑枝湯法</p>
<p>經云：頭痛耳鳴，九竅不利，腸胃之所生也。頭為諸陽之會，六經皆會於頭，胃中濕火上升，則頭作痛。其瘡亦是，濕熱為病。理宜豁痰清火為治。</p>
<p>廣皮　半夏　山梔　黃芩　連翹　石羔　黃柏　枳殼　木通　加生薑</p>
<p>策兄，有胃脘作痛之病，緣醇酒厚味，積於胃中，擾其血分，停滯不通。值今君火司天之年，血隨火升而吐，其色黏膩而紅者，此瘀血也。脈息右手弦數，左手沉滑，此乃肝火妄動，胃中之痰，與瘀血互相糾結，上干肺家而咳嗽，胸膈不舒，飲食減少。暫用滾痰丸二錢，鬱金湯送下，以逐胃中之痰瘀，從大便而出。然後以消瘀豁痰清火順氣之藥，去其餘波，則胸次寬舒，不致上升而咳嗽吐血矣。</p>
<p>蘇子　桃仁　鬱金　山梔　枳殼　黃芩</p>
<p>栝蔞　香附　川貝　廣皮　丹參　牛膝加茅根</p>
<p>聖翁，天稟素弱，暑熱之邪，乘虛襲入而發瘧。瘧止之後，暑邪未盡，下流於兩足而作痛。服八味丸補中益氣丸，若果系虛症，服之宜氣體健旺，何至愈加疲憊而作痛，則知邪氣未盡，而誤補之故也。瘧之發，亦因胃中有痰，暑熱之邪，互相結成而起。因服補藥，胃中之痰，郁遏不清，積之已久，至春令發陳之月，內伏之火竊發，上升則齒痛，因陽明胃脈，環唇口入齒，伏火由其經而泄。胃為貯痰之器，津液為火煅煉成痰，至清晨陽氣升騰，痰隨火升，所以語言不能。大凡痰病得熱藥開通隧道，似乎相安。旋即熱勢愈盛，真陰愈耗，反令內火薰灼，所以畏熱，熱極消爍，下注而小便為之多。火升則齒痛，火降則痛止。積熱之久，消爍津液，而為三消之症，久之實為鼓脹，或發癰疽，則為不治之症。目下胃中之火炎於上，則齒痛耳癢，脈息沉澀。此痰火鬱結於胃，不得宣通之故。理宜豁痰清火之藥為治。</p>
<p>陸占賢令媳，平素肝家有鬱火。肝主疏泄，為藏血之臟，肝火擾其血分，血得熱而妄動，故易於墮胎。所以小腹攻衝不定，小腹者，肝之部分也。膽為肝之表，肝病而及於腑，則上升於頭，而為頭痛。因少陽之脈，起於目銳眥，而抵頭角也，痛則昏沉而不清。因胃中之痰，隨少陽之火而上升，故飲食少進而無味。肝為風木之臟，肝火消爍，則肌肉為之消瘦，即《內經》所謂風消也。每至午後火升者，蓋腎肝為陰臟，腎肝之陰，不能榮養，故至陰分，而少陽之火上升，而頭痛也。種種諸疾，皆由肝膽之火，鬱而不舒。理宜暫用疏肝清火開鬱之藥，俟發熱頭痛已愈，氣不攻衝，然後再商調補之策。</p>
<p>柴胡　山梔　香附　青皮　半夏　廣皮　黃柏　黃芩　夏枯草</p>
<p>蘆店陳子明，受病之源，因露臥傷濕，風寒外來，不得疏泄，逆上而為喘急，不得臥之病。經云：形寒飲冷則傷肺。又秋傷於濕，冬生咳嗽，濕勝則腫，所以先腫而後咳嗽也。此脾病而及於肺，理宜燥濕清肺降氣之藥為治，並非肺脹也。</p>
<p>半夏　廣皮　萊菔子　蘇子　杏仁　枳殼　桑葉　旋覆花　蒼朮　厚朴　桂枝　加生薑砂仁</p>
<p>〔丸方〕　二陳　茯苓　蘇子　杏仁　厚朴　枳殼　桑皮　蒼朮　萊菔子</p>
<p>季先之病，得之飢飽勞役，有傷胃絡，以致瘀血凝滯胃中，結成有形之象，按之而痛，痰中所帶黏膩不鮮明之血。食物阻滯，難以下達，鬱而不舒，則作酸嘈雜。大便艱澀，小便黃赤，脈息沉弦帶數，此係瘀血糾結於胃。理宜消瘀行滯之藥，逐其瘀血，從大便而出，自然奏效。</p>
<p>桃仁　歸尾　香附　滑石　延胡　青皮　枳殼　大黃　鬱金</p>
<p>陳源遠夫人（遙擬）大凡性急者有肝火，經事後期不調，此肝氣之滯，故經事來遲也。肝火鬱於胃中，煅煉津液成痰，下注而為白帶。右邊偏頭痛者，此胃中之痰，隨肝火上而作痛，俗名頭風，並非風也，得風則胃中之痰火竊發而痛。脊之囟閂髮際脫落者，因胃中痰火上熏而禿也。大便患痔，常艱澀，胸前胃脘，時時氣痛，因胃中鬱而不舒，郁久成火，下流於大腸而為痔。胃脘氣滯，不宣通則作痛。每晚浴後，面紅唇燥者，動則火升於上也。動作辛苦，勞傷元氣，則腿腳痠軟。五胎俱不育者，因懷妊內熱，耗其精血，不能榮養之故也。肝火衝於胃而嘔吐，名曰惡阻，過春令木氣謝事，則不吐矣。此症只宜疏肝扶脾，一切凝滯之藥，俱不宜服，壅滯則肝氣不能疏泄，脾氣愈困矣。目下以安胎為第一著。安胎之法，惟健脾清火理氣為要藥，凝滯則胎氣不能轉運，恐生產難，氣道流行，則胎氣轉輸而易產。丹溪云：胎前毋滯，產後毋虛。今酌於後。</p>
<p>條芩　白朮　香附　廣皮　山梔　枳殼　蘇梗　杜仲　續斷　荷蒂　砂仁為引</p>
<p>嘉興杜景山，景老胃中有痰，肝家有火，下注精房而為夢遺，誤用溫補澀精之藥，痰火壅塞，下行薰灼血分，而為便血。血虛不能榮潤大腸，則大便燥。痰火上升於頭，則眉發為之脫落。肝火下注，則小便頻數。種種諸端，皆屬痰火鬱於胃中，誤用補澀之藥，無從發泄，而諸症蜂起。時交相火司天之年，夏令炎熱之月，所以脈息左手弦大，右手滑大。理宜暫用豁痰清火之藥，以治其鬱結，俟爽之後，再以滋陰藥為善後計。</p>
<p>〔煎方〕　半夏　廣皮　栝蔞　山梔　黃柏　石羔　黃芩　連翹　滑石　枳殼　甘草</p>
<p>〔丸方〕　二陳加　黃柏　黃芩　連翹　蔞仁　花粉　生地　石羔　枳殼</p>
<p>胃中食積，與肝火鬱滯不通而為脹滿，肝火薰蒸於上，則兩目昏暗，脈息弦數不靜。此係肝火鬱於脾土之中，濕痰食積，互相為患也。理宜清濕消道之藥治之。</p>
<p>蒼朮　厚朴　香附　萊菔子　廣皮　石羔　滑石　青皮　黃柏　山梔　砂仁</p>
<p>久瘧之後，胃中頑痰未清，鬱而為火，上炎於面而紅，下注手足而腫，閉其經絡而麻，脈息兩關滑大。此係郁痰鬱火為患，宜以豁痰清火為治。</p>
<p>先服滾痰丸（二錢）　〔煎方〕　二陳　枳殼　石羔　栝蔞　黃芩　萊菔子　旋覆花　天麻　加生薑竹茹</p>
<p>〔九方〕　二陳加　茯苓　枳殼　黃芩　石羔　栝蔞　萊菔子　山梔　香附　生薑鉤藤湯法</p>
<p>瘧疾而兼咳嗽吐血，脈息細數而側眠，此勞瘧也。理宜滋陰保肺之藥治之。</p>
<p>胃中有膠痰，肝家有鬱火，肝主疏泄，其火上升，則頭角多汗。肺胃居右，其火旁流，則兩手亦多汗。胃為貯痰之器，得肝火煎熬津液成痰，膠固難出，得火之上升，其痰隨之而出。自覺畏冷，此熱極似寒，非真寒也。肺主皮毛，主宰一身之氣，而外衛皮毛，稍有不足，其邪易於侵襲。痰氣流於四肢，則手指麻痹，肝氣下流於陰囊，無從疏泄，則腎子脹痛。上升則有頭暈目眩耳鳴等症。診得脈息左手弦大不靜，此肝火之妄動也。右手滑大有力，關部尤甚，此胃中有膠痰，肺氣壅滯不行，故胸膈不寬而脹悶，得氣展舒運化，則覺舒適。種種見症，皆屬痰氣凝結，肝火鬱而不得條達、通暢之故也。先宜豁痰理氣降火之藥，使氣行而不滯，火降而不升，庶不致猝然顛仆而成類中也。又恐其痰氣留結而為噎膈反胃之症，故不得不防微杜漸，而預為籌畫也。</p>
<p>〔煎方〕　二陳　山梔　黃連　枳殼　香附　青皮　天麻　鉤藤　甘草</p>
<p>〔丸方〕　二陳　茯苓　青皮　香附　山梔　黃連　栝蔞　萊菔子　天麻　砂仁　生薑　鉤藤湯法</p>
<p>又培本丸　六君子湯加　黃連　香附　天麻　鉤藤湯法</p>

<h1>附錄</h1>
<p><u>護養法</u></p>
<p>巢氏曰：小兒初生，肌膚未實，宜用舊絮護其背，不可太暖。更宜數見風日，則血氣剛強，肌肉緻密。若藏於重幃密室，或衣厚暖，則筋骨軟脆，不任風寒，多易致病。衣服常隨涼熱加減，但令背暖為佳。亦勿令出汗，表虛風邪易致。乳哺不宜過飽，若宿滯不化，消乳丸治之。陳氏所謂忍三分寒，吃七分飽，頻按肚，少洗浴，要肚暖頭涼，心胸涼，此至論也。須令乳母預順七情六慾，厚味炙爆，則乳汁清寧，兒不致病。否則陰陽偏勝，血氣沸騰，乳汁敗壞，必生疾病。若屢用藥餌，則臟腑陰損，多實敗症，可不慎歟。大抵保嬰之法，未病則調治乳母，既病則審治嬰兒，亦必兼治其母為善。</p>
<p><u>小兒哺乳宜慎擇論</u></p>
<p>夫初生小兒，藉乳為命，其乳哺之法，不可不慎。蓋乳者榮血之所化也，故乳母尤宜謹節，飲食下咽乳汁便通。情欲乳汁，便應病氣，則乳汁必凝滯，兒得此疾病立至，不吐則瀉，不瘡則癤，或為口糜，或為驚搐，或為夜啼，或為腹痛。病之初來，其溺必甚少，便須詢問端的，隨症調治。母安則子安，可消患於未形也。故乳母夏不欲熱，熱則致吐逆；冬不欲寒，寒則咳嗽；母不欲怒，怒則上氣顛狂；母不欲醉，醉則令身熱腹痛；母方吐下而乳，則致虛羸；母有積熱而乳，則致變黃不能食：新房而乳，則瘦脊交頸不能行；新浴而乳，則發吐呃神困；傷熱乳則瀉黃，傷冷乳則瀉青，冷熱不調，停積胸膈，結為痰飲，遂成壯熱不已，乃成驚癇。兒啼未定，遽以乳哺之，氣逆不消，因成乳癖；懷妊而乳，致令黃瘦，腹大腳弱，名曰魃病。大抵乳哺不可太飽，故俗云：若要小兒安，須帶三分飢與寒是也。海上老人沈璠撰。</p>
<p><u>沈魯珍批《景岳全書》後</u></p>
<p>天下惟中正無偏之理，守之不失，則其立言也無弊，而垂諸世也可久，苟不得其中，而執乎一隅之見，漫焉有所著述，以驚愚而動眾，雖或博一時之譽，終未可以信今而傳後也。善學古人者，不為古人所愚，況今人乎。會稽張會卿，以醫名於時，著有《景岳全書》若干卷，學者宗之無異議矣。海上沈子魯珍，謂此書獨以先天水火陰陽命門真言立異，而其治病也，一以扶陽溫補為主，且以河間丹溪之言，為後學之害，是執乎一隅之見，而不可以為訓，且恐宗其說之入於岐趨也。於是摘其紕繆，揭其舛錯者，一句一字，旁批而辨駁之，考證詳確，無義不精。司馬子長有云：非好學深思，心知其意，難為淺見寡聞者道也。夫人之有疾，死生存亡之所繫也。古之善治疾者，必推越人淳于諸賢，謂其遇症用藥，可清可溫，可寒可熱，可攻可補，神明變通，而不膠於一定者也。若依景岳之說，惟講扶陽，而用熱藥補塞，則其為功也暫，而其為禍也甚烈。學周孔之學者，之乎其偏，則其為害也，止於一己；學軒岐之學者，而之乎其偏，則其貽害也，且將及於天下後世。而系人之死生存亡，可不懼哉。魯珍之有是評，非矯為異也。要歸之中而已，豈得附和其說，而謂景岳之所愚哉。魯珍出是書以示予，閱畢念其一生精力之所寄也，作此以贈之。松江府尊張文英撰。</p>
<p><u>沈魯珍評《醫宗必讀》論瘧疾</u></p>
<p>久瘧必虛一句，最能誤事，如果虛而有寒痰者，服之相宜。如瘧久而有痰積於胃，又有陰虛而火盛者，服之必不宜。士材議近世之醫，皆不明理，惟我獨尊，此言過也。松江東門外有趙嘉樹者，其人少年多欲，患瘧經久，醇酒厚味不禁，求其速愈，請何士宗調治。用生薑一兩，人參一兩，煎服可愈。彼如其言，始覺爽快一時，後覺大熱，即下為血痢，腹痛後重，晝夜三四十次。延余治之，至已告殂矣。此乃誤補之故，記之以告同志者。</p>
<p>士材以陽為君子，陰為小人，熱藥為君子，寒藥為小人。但《易》云：一陰一陽之謂道。《內經》云：無陽則陰無以生，無陰則陽無以化，二者不可偏廢。至於治症，當以元氣為君子，邪氣為小人，元氣宜補，邪氣宜去，寒熱溫涼，隨病而施，中病而止，豈可多事溫補，痛戒寒涼乎。《內經》病機十九條，屬火者五，屬熱者四，屬寒者一，則知屬火熱者多，屬寒者少。用藥治病，宜體《內經》之意，不宜專執己見，談天說地，以惑後人。七十七老人沈璠謹議，俟後之君子，裁酌是否。</p>
<p><u>王協忠先生癍疹論</u></p>
<p>少陰所至為瘍疹，少陽所至為瘡疹。少陰者，君火也。君火為當令之火，或上下左右間主步之火，亦為當令，故諸痛癢瘡瘍，皆屬之少陽者相火也。相火為不當令之火，遊行於木土金水之時，不期而至，即四時非節之暖也。少陽與厥陰為合，肝與膽其潛使之鄉，胞絡之焦，其遊行之地。其勢一至，則胞絡之間，膻中之位，不啻積薪厝火，其人必鬱鬱不樂，寒不甚而熱不甚，口乾煩冤，目淚顴紅，或四肢微厥。其熱上薰於肺，肺主皮毛，故發紅點，是為赤疹，赤疹必無汗而毛燥。若有汗者，熱勢已達，其點淡紅而稍大。若重感於邪者，於表症中兼見前證，亦必俟其透達而後得解。故初時禁用苦寒，恐其冰伏耳。世人皆知癍疹初起，忌用寒涼，殊不知忌用涼藥者，疹證而非癍症也。治少陽疹症，始終不可離涼膈之劑，亦不可加引經藥。果見兼症，悉照下論，加入於本方。非若治他症表下和為各別也，其症非比癍症，同看甚至連六七次者，後發白色者方止。其主潔古消風散，即涼膈去硝黃，取甘桔荊翹芩梔薄荷赤芍木通，直達膈間，消風散熱，毒氣自然解散。已出之後，再加大力殭蠶元參之類，以化其蘊蓄之毒。兼表者合香蘇芎蘇之類，勢甚者十神湯。然隆冬初春，庶幾相宜，春夏秋三時，在所禁用。因麻黃為寒傷榮者之專司，而葛根升麻，雖輕揚解表，實陽明經藥，但可借用，非本症藥也。火勢甚於內，目赤唇焦，口乾譫語，本方加黃連。熱甚於表，口渴而脈大汗出者，本方合白虎。往來寒熱，脈弦不解者，本方合小柴胡。府實內結者，本方硝黃以潤下之。餘熱不退，本方加生地丹皮之類，以養其陰。此用藥之概也。至若歷來方書，皆云癍出於陽明，疹屬於太陰，癍主於火，疹主於濕。濕之一字，大謬不然。夏月暑熱合邪而發疹者，或有之。脾經濕熱，兼發水疹，久之為疥瘡者，或有之。此外無疹症之理。蓋皆誤認膈熱薰肺之手太陰症，為足太陰症耳。膈熱薰肺四字，為疹症之準繩，發前人所未發，其辨點之法，方書皆云癍無頭粒。殊不知癍無頭粒，反濕於皮膚之上，歷歷可數，其重者如雲如錦，而於雲錦之中，必有點如硃筆點就者。疹有頭粒，反若隱若現，辨之不甚分明，隨出隨沒。癍本於胃熱，見點便忌升提，急急化癍，尚慮胃爛。疹則先出者已化，後至者尚多，惟有始終清解而已。故凡大青犀角石羔黃連，癍症藥也。升麻葛根為失表為癍之表藥也，承氣湯治失下成癍之裡藥也，人參白虎湯，體虛發癍者之對症藥也。總之，四時六氣，感之皆為外感，皆能兼見癍疹。一見癍疹，便不復傳經轉屬。蓋陽明土也，藥物歸之，無所復傳。邪形似水，望其低下處而就之。膈間既熱，無邪不入，無入不成溫熱之邪，一發為疹，疹為病本矣。但發疹之症，冬溫與春溫之症最多，不知何故。意者，冬時寒為正令，溫暖之令，反為異氣，豈即所謂少陽所致耶。冬傷於寒，寒毒藏於肌膚者，每多連膈耶。近老月令廣言，冬時醇酒厚味，向火圍爐，過於溫熱者，多病於春，多發麻疹。真先得我心矣。又癍疹決非陰症，決無熱補之理。方書雖有陰症發癍一條，然必症陰脈陰。內真寒而外假熱，癍色淡而面戴陽，善於臨症者，自能辨之，但治其病，而癍自愈矣。又有內傷發癍一症，亦必勤勞之輩，體虛之人，而又過食冷物，迫陽氣浮於肌表，而發淡紅點。內傷外感，判然不同，細考東垣法，自能辨之。前輩尚有極癍之說，病至既危，身有幾點赤癍，與癍無異，氣血澆漓所致，非癍症也。小兒瘧痢臨危極多，予見之數矣。</p>
