<header data-type="book">
<h1>本草衍義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>寇宗奭</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1119">公元1119年</data></dd></div>
<div><dt>底本</dt><dd>元覆刊宋宣和元年（1119）本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=0ea3fa67af2549998889fc51384235c5fDcyNDA00&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>《本草衍義》提要</h1>
<p>宋·政和中醫官通直郎收買藥材所辨驗藥材寇宗奭撰。晁公武《讀書志》、陳直齋《書錄解題》皆有著錄。政和六年，提舉荊武北路常平等事劉亞夫申投尚書省太醫學博士李康看詳狀申，有旨轉一官添差充收買藥材所辨驗藥材。宣和元年，其侄宣教郎知解州解縣丞寇約鏤本印行。宗奭里貫無考，以扎付及卷六礜石條、菊花水條、卷十三桑寄生條推之，知其曾官杭州、永耀、順安軍等處，由承直郎澧州司戶進書轉一官而已。宗奭以禹錫所修慎微策所續《本草》尚有差失，因參考諸家事實，忝以目驗，核以情理，拾遺糾謬，援引辨證，發明良多，凡名未用而意義已盡者，皆不編入，其所辨證，如東壁土取太陽少火之壯，冬灰取冬令燒灼之久，水味不因菊花而香，鼴鼠不能遺溺生子，玉泉為玉漿之訛，石中黃子為黃水之誤，皆能實事求是，切實證明，洵《本草》之功臣，醫林之津筏也。東垣、丹溪諸公，皆尊信之，故丹溪有《衍義補遺》之作，惟以蘭花為蘭草，卷丹為百合，微有差誤耳。宋時嘗與《證類本草》別本單行。自金人張存惠採附《證類本草》之中，金元刻本仍之，單行本殆絕版矣。歸安陸公心源藏有南宋麻沙本，完全無缺，爰收刊本集，以廣其傳。</p>

<h1>序</h1>
<p>《本草衍義》二十卷，宋通直郎添差充收買藥材所辨驗藥材寇宗奭撰。晁公武《讀書志》、陳直齋《書錄解題》皆著於錄。政和六年，提舉荊湖北路常平等事劉亞夫申投尚書省太醫學博士李康看詳狀申，有旨轉一官添差充收買藥材所辨驗藥材。宣和元年，其侄宣教郎和解州解縣丞寇約鏤板印行。宗奭里貫無考。以扎付及卷六礜石條、菊花水條、卷十三桑寄生條推之，知其曾官杭州、永耀、順安軍等處，由承直郎澧州司戶進書轉一官而已。《神農本草》之名，始見於梁《七錄》，凡三百六十五種，陶隱居又增三百六十五種，是為《名醫別錄》。唐顯慶中，命蘇恭等參考得失，增一百一十四種，是為《唐本草》。宋太祖命劉翰等以醫家嘗用有效者增一百三十三種，是為《開寶重定本草》。仁宗命掌禹錫等，再加校正增一百種，是為《嘉祐補註本草》。蜀人唐慎微博採群書，增六百餘種，是為《經史證類本草》。徽宗又命曹孝忠刊正之，是為《政和重修經史證類備用本草》。宗奭以禹錫所修、慎微所續尚有差失，因考諸家，參以目驗，拾遺糾謬，著為此書。凡名未用而意義已盡者，皆不編入。其所辨證，如東壁土取太陽少火之壯，冬灰取冬令燒灼之久，水味不因菊花而香，鼴鼠不能遺溺生子，玉泉為玉漿之訛，石中黃子為黃水之訛，皆能實事求是，疏通證明，洵乎《本草》之功臣，醫林之津筏也。宋時與《證類本草》別本單行，自金人張存惠採附《證類本草》之中，明人因之，而單行本遂微，余所藏為南宋麻沙本，完善無缺，因重梓以廣其傳。</p>
<p><u>光緒三年歲在強圉赤奮若仲冬之月歸安陸心源撰</u></p>

<h1>卷一</h1>
<p><u>通直郎添差充收買藥材所辨驗藥材寇宗奭編撰</u></p>

<h2>序例上</h2>

<h3>衍義總敘</h3>
<p>天地以生成為德，有生所甚重者身也。身以安樂為本，安樂所可致者，以保養為本。世之人必本其本，則本必固。本既固，疾病何由而生？夭橫何由而至？此攝生之道無逮於此。夫草木無知，猶假灌溉，矧人為萬物之靈，豈不資以保養？然保養之義，其理萬計，約而言之，其術有三：一養神，二惜氣，三堤疾。忘情去智，恬淡虛無，離事全真，內外無寄，如是則神不內耗，境不外惑，真一不雜，則神自寧矣。此養神也。抱一元之本根，固歸精之真氣，三焦定位，六賊忘形，識界既空，大同斯契，則氣自定矣。此惜氣也。飲食適時，溫涼合度，出處無犯於八邪，寤寐不可以勉強，則身自安矣，此堤疾也。三者甚易行，然人自以謂難行而不肯行。如此難有長生之法，人罕敦尚，遂至永謝。是以疾病交攻，天和頓失，聖人憫之，故假以保救之術，輔以蠲疴之藥，俾有識無識，咸臻壽域。所以，國家編撰《聖惠》，校正《素問》，重定《本草》，別為《圖經》。至於張仲景《傷寒論》及《千金》、《金匱》、《外臺》之類，粲然列於書府。今夏考拾天下醫生，補以名職，分隸曹屬，普救世人之疾苦。茲蓋全聖至德之君，合天地之至仁，接物厚生，大賚天下。故野無遺逸之藥，世無不識之病。然《本草》二部，其間撰著之人，或執用己私，失於商較，致使學者，檢據之間，不得無惑。今則並考諸家之說，參之實事，有未盡厥理者，衍之以臻其理。（如東壁土、倒流水、冬灰之類。）隱避不斷者，伸之以見其情。（如水自菊下過而水香，鼴鼠溺精墜地而生子。）文簡誤脫者，證之以明其義。（如玉泉、石蜜之類。）諱避而易名者，原之以存其名。（如山藥避本朝諱及唐避代宗諱。）使是非歸一，治療有源，檢用之際，曉然無惑。是以搜求訪緝者，十有餘年。採拾眾善，診療疾苦，和合收蓄之功，率皆周盡。矧疾為聖人所謹，無常不可以為，醫豈容易言哉！宗奭常謂，疾病所可憑者醫，醫可據者方也，方可恃者藥也。苟知病之虛實，方之可否，若不能達藥性之良毒，辨方宜之早晚，真偽相亂，新陳相錯，則曷由去道人陳宿之蠱。（唐甄立言仕為太常丞，善醫術。有道人心腹懣煩，彌二歲。診曰：腹有蠱，誤食發而然。令餌雄黃一劑，少選，吐一蛇，如拇無目，燒之有發氣。乃愈。）生張果駢潔之齒？（唐張果詔見。元宗謂高力士曰：吾聞飲堇無苦者，奇士也。時天寒，取以飲，果三進，頹然曰：非桂酒。乃寢。頃，視齒焦縮。顧左上取鐵如意，擊墮之，藏帶中，更出藥傅其齦。良久，齒已生，粲然駢潔，帝益神之。）此書之意，於是乎作。今則編次成書，謹依二經類例，分門條析，仍衍序例為三卷。內有名未用及意義已盡者，更不編入。其《神農本經》、《名醫別錄》、《唐本》先附、今附、新補、新定之目，緣本經已著，目錄內更不聲說，依舊作二十卷，及目錄一卷，目之曰《本草衍義》。若博愛衛生之士，志意或同，則更為詮修，以稱聖朝好生之德，時政和六年丙申歲記。</p>
<p>本草之名自黃帝、岐伯始。其《補註·總敘》言，舊說《本草經》者，神農之所作，而不經。《平帝紀》元始五年，舉天下通知方術本草者，所在軺傳，遣詣京師，此但見本草之名，終不能斷自何代而作。又《樓護傳》稱，護少誦醫經、本草、方術數十萬言，本草之名蓋見於此。是尤不然也。《世本》曰：神農嘗百草以和藥濟人，然亦不著本草之名，皆未臻厥理。嘗讀《帝王世紀》曰：黃帝使岐伯嘗味草木，定《本草經》，造醫方，以療眾疾，則知本草之名自黃帝、岐伯始。其《淮南子》之言，神農嘗百草之滋味，一日七十毒，亦無本草之說。是知此書乃上古聖賢，具生知之智，故能辨天下品物之性味，合世人疾病之所宜。後之賢智之士，從而和之者，又增廣其品，至一千八十二名，（《補註本草》稱一千八十二種，然一種有分兩用者，有三用者，其種字為名字，於義方允。）可謂大備。然其間注說不盡，或舍理別趣者，往往多矣。是以衍摭余義，期於必當，非足以發明聖賢之意，冀有補於闕疑。夫天地既判，生萬物者，惟五氣爾。五氣定位，則五味生。五味生，則千變萬化，至於不可窮已。故曰生物者氣也，成之者味也。以奇生則成而偶，以偶生則成而奇。寒氣堅，故其味可用以軟。熱氣軟，故其味可用以堅。風氣散，故其味可用以收。燥氣收，故其味可用以散。土者沖氣之所生，沖氣則無所不和，故其味可用以緩。氣堅則壯，故苦可以養氣。脈軟則和，故咸可以養脈。骨收則強，故酸可以養骨。筋散則不攣，故辛可以養筋。肉緩則不壅，故甘可以養肉。堅之而後可以軟，收之而後可以散。欲緩則用甘，不欲則弗用，用之不可太過，太過亦病矣。古之養生治疾者，必先通乎此，不通乎此，而能已人之疾者，蓋寡矣。</p>
<p>夫安樂之道，在能保養者得之。況招來和氣之藥少，攻決之藥多，不可不察也。是知人之生須假保養，無犯和氣，以資生命。才失將護，便致病生，苟或處治乖方，旋見顛越。防患須在閒日，故曰安不忘危，存不忘亡，此聖人之預戒也。</p>
<p>攝養之道，莫若守中，守中則無過寫不及之害。經曰：春秋冬夏，四時陰陽，生病起於過用。蓋不適其性，而強去為逐，強處即病生。五臟受氣，蓋有常分，用之過耗，是以病生。善養生者，既無過耗之弊，又能保守真元，何患乎外邪所中也。故善服藥，不若善保養。不善保養，不若善服藥。世有不善保養，又不善服藥，倉猝病生而歸咎於神天。噫！是亦未嘗思也，可不謹歟！</p>
<p>夫未聞道者，放逸其心，逆於生藥。以精神徇智巧，以憂畏徇得失，以勞苦徇禮節，以身世徇財利，四徇不置，心為之病矣。極力勞形，噪暴氣逆，當風縱酒，食嗜辛鹹，肝為之病矣。飲食生冷，溫涼失度，久坐久臥，大飽大飢，脾為之病矣。呼叫過常，辨爭陪答，冒犯寒暄，恣食鹹苦，肺為之病矣。久坐濕地，強力入水，縱欲勞形，三田漏溢，腎為之病矣。五病既作，故未老而羸，未羸而病，病至則重，重則必斃。嗚呼，是皆弗思而自取之也。衛生之士，須謹此五者，可致終身無苦。經曰：不治已病治未病，正為此矣。</p>
<p>夫善養生者養內，不善養生者養外。養外者實外，以充快悅澤，貪欲恣情為務，殊不知外實則內虛也。善養內者實內，使臟腑安和，三焦各守其位，飲食常適其宜。故莊周曰：人之可畏者，衽席飲食之間，而不知為之戒者，過也。若能常如是畏謹，疾病何緣而起？壽考焉不得長？賢者造形而悟，愚者臨病不知，誠可畏也。</p>
<p>夫柔情難綰而不斷，不可不以智慧決也，故幃箔不可不遠。斯言至近易，其事至難行。蓋人之智慧淺陋，不能勝其貪欲也。故佛書曰：諸苦所因，貪欲為本，若滅貪欲，何所依止。是知貪欲不滅，苦亦不滅，貪欲滅，苦亦滅。聖人言近而指遠，不可不思，不可不懼。善攝生者，不勞神，不苦形，神形既安，禍患何由而致也。</p>
<p>夫人之生以氣血為本，人之病未有不先傷其氣血者，世有童男室女，積想在心，思慮過當，多致勞損。男則視色先散，女則月水先閉。何以致然？蓋愁憂思慮則傷心，心傷血逆竭。則血逆竭，故神色先散而月水先閉也。火既受病，不能榮養其子，故不嗜食。脾既虛，則金氣虧，故發嗽，嗽既作，水氣絕，故四肢干。木氣不充，故多怒。鬢髮焦，筋痿。俟五臟傳遍，故卒不能死，然終死矣。此一種於諸勞中最為難治，蓋病起於五臟之中，無有已期，藥力不可及也。若或自能改易心志，用藥扶接，如此則可得九死一生。舉此為例，其餘諸勞，可按脈與證而治之。</p>
<p>夫治病有八要。八要不審，病不能去。非病不去，無可去之術也。故須審辨八要，庶不違誤。其一曰虛，五虛是也。（脈細、皮寒、氣少、泄痢前後、瞀食不入，此為五虛。）二曰實，五實是也。（脈盛、皮熱、腹脹、前後不通、悶瞀、此五實也。）三曰冷，臟腑受其積冷是也。四曰熱，臟腑受其積熱是也。五曰邪，非臟腑正病也。六曰正，非外邪所中也。七曰內，病不在外也。八曰外，病不在內也。既先審此八要，參知六脈，審度所起之源，繼以望聞問切加諸病者，未有不可治之疾也。夫不可治者有六失：失於不審，失於不信，失於過時，失於不擇醫，失於不識病，失於不知藥。六失之中，有一於此，即為難治。非只醫家之罪，亦病家之罪也。矧又醫不慈仁，病者猜鄙，二理交馳，於病何益？由是言之，醫者不可不慈仁，不慈仁則招禍。病者不可猜鄙，猜鄙則招禍。惟賢者洞達物情，各就安藥，亦治病之一說耳。</p>
<p>合藥分劑料理法則中言，凡方云用桂一尺者，削去皮畢，重半兩為正。既言廣而不言狹，如何便以半兩為正。且桂即皮也，若言削去皮畢，即是全無桂也。今定長一尺，闊一寸，削去皮上粗虛無味者，約為半兩，然終不見當日用桂一尺之本意，亦前人之失也。</p>
<p>序例，藥有酸、咸、甘、苦、辛五味，寒、熱、溫、涼四氣。今詳之：凡稱氣者，即是香臭之氣；其寒、熱、溫、涼，則是藥之性。且如鵝條中雲：白鵝脂性冷，不可言其氣冷也，況自有藥性。論其四氣，則是香、臭、臊、腥，故不可以寒、熱、溫、涼配之。如蒜、阿魏、鮑魚、汗襪，則其氣臭；雞、魚、鴨、蛇，則其氣腥；腎、狐貍、白馬莖、褌近隱處、人中白，則其氣臊；沉、檀、龍、麝，則其氣香。如此則方可以氣言之。其序例中氣字，恐後世誤書，當改為性字，則於義方允。</p>
<p>今人用巴豆，皆去油訖生用。茲必為《本經》言生溫、熟寒，故欲避寒而即溫也。不知寒不足避，當避其大毒。矧《本經》全無去油之說。故陶隱居云：熬令黃黑，然亦太過矣。日華子云：炒不如去心膜，煮五度，換水，各煮一沸為佳。其杏仁、桃仁、葶藶、胡麻，亦不須熬至黑。但慢火炒令赤黃色，斯可矣。</p>
<p>凡服藥多少，雖有所說，一物一毒，服一丸如細麻之例，今更合別論。緣人氣有虛實，年有老少，病有新久，藥有多毒少毒，更在逐事斟量，不可舉此為例。但古人凡設例者，皆是假令，豈可執以為定法。</p>
<p>《本草》第一序例言犀角、羚羊角、鹿角，一概末如粉，臨服內湯中。然今昔藥法中，有生磨者，煎取汁者。且如丸藥中用蠟，取其能固護藥之氣味，勢力全備，以過關膈而作效也。今若投之蜜相和，雖易為丸劑，然下咽亦易散化，如何得到臟中？若其間更有毒藥，則便與人作病，豈徒無益而又害之，全非用蠟之本意。至如桂心，於得更有上虛軟甲錯處可削之也？凡此之類，亦更加詳究。</p>
<p>今人用麻黃，皆合搗諸藥中。張仲景方中，皆言去上沫。序例中言先別煮三兩沸，掠去其沫，更益水如本數，乃納余藥，不爾，令人發煩。甚得用麻黃之意，醫家可持此說。然云：折去節，令通理，寸銼之，不若碎銼如豆大為佳，藥味易出，而無遺力也。</p>
<p>陶隱居云：藥有宣、通、補、泄、輕、重、澀、滑、燥、濕。此十種今詳之，惟寒、熱二種何獨見遺？如寒可去熱，大黃、朴硝之屬是也。如熱可去寒，附子、桂之屬是也。今特補此二種，以盡厥旨。</p>

<h1>卷二</h1>

<h2>序例中</h2>
<p>人之生，實陰陽之氣所聚耳，若不能調和陰陽之氣，則害其生。故《寶命全形篇》論曰：人以天地之氣生。又曰：天地合氣，命之曰人，是以陽化氣、陰成形也。夫遊魂為變者，陽化氣也。精氣為物者，陰成形也。陰陽氣合，神在其中矣。故《陰陽應象大論》曰：天地之動靜，神明為之綱紀，即知神明不可以陰陽攝也。《易》所以言陰陽不測之謂神，蓋為此矣。故曰，神不可大用，大用即竭；形不可大勞，大勞則斃。是知精、氣、神，人之大本，不可不謹養。智者養其神，惜其氣，以固其本。世有不謹衛生之經者，動皆觸犯。既以犯養生之禁，須假以外術保救，不可坐以待斃。《本草》之經，於是興焉。既知保救之理，不可不窮保救之事，《衍義》於是存焉。二者其名雖異，其理僅同。欲使有知無知盡臻壽域，率至安樂之鄉，適是意者，求其意而可矣。</p>
<p>養心之道未可忽也。六慾七情千變萬化，出沒不定，其言至簡，其義無窮，而以一心對無窮之事，不亦勞乎？心苟不明，不為物所病者，未之有也。故明達之士，遂至忘心，心既忘矣，則六慾七情無能為也。六慾七情無能為，故內事不生。內事不生，故外患不能入。外患不能入，則本草之用，實世之蒭狗耳。若未能達是意而至是地，則未有不緣六慾七情而起憂患者。憂患既作，則此書一日不可闕也。愚何人哉，必欲斯文絕人之憂患乎。</p>
<p>上隱居以謂凡篩丸散藥畢，皆更合於臼中，以杵搗數百過，如此恐乾末湔蕩，不可搗，不若令力士合研為佳。又曰：凡湯酒膏中用諸石，皆細搗之如粟，亦可以葛布篩令調勻，並以綿裹內中，其雄黃、硃砂輩，細末如粉。今詳之：凡諸石雖是湯酒中，亦須稍細，藥力方盡出，效亦速。但臨服須澄濾後再下火，不爾，恐遺藥力不見效。湯酒中尚庶幾，若在服食膏中，豈得更如粟也。不合如此立例，當在臨時應用詳酌爾。又說㕮咀兩字，《唐本》注謂為商量斟酌，非也。《嘉祐》復符陶隱居說為細切，亦非也。儒家以謂有含味之意，如人以口齒咀齧，雖破而不塵，但使含味耳。張仲景方多言㕮咀，其義如此。</p>
<p>病人有既不洞曉醫藥，復自行臆度，如此則九死一生。或醫人未識其病，或以財勢所迫，占奪強治，如此之輩，醫家病家不可不察也。要在聰明賢達之士掌之，則病無不濟，醫無不功。世間如此之事甚多，故須一一該舉，以堤或然。</p>
<p>夫人有貴賤少長，病當別論。病有新久虛實，理當別藥。蓋人心如面，各各不同。惟其心不同，臟腑亦異。臟腑既異，乃以一藥治眾人之病，其可得乎？故張仲景曰：又有土地高下不同，物性剛柔，餐居亦異。是故黃帝興四方之問，岐伯舉四治之能，臨病之功，宜須兩審。如是則依方合藥，一概而用。亦以疏矣。且如貴豪之家，形樂志苦者也。衣食足則形樂，心慮多則志苦。岐伯曰：病生於脈。形樂則外實，志苦則內虛，故病生於脈。所養既與貧下異，憂樂思慮不同，當各逐其人而治之。後世醫者，直委此一節，閉絕不行，所失甚矣。嘗有一醫官，暑月與貴人飲。貴人曰：我昨日飲食所傷，今日食減。醫曰：可餌消化藥，他人當服十丸，公當減其半。下咽未久，疏逐不已，幾至斃。以此較之，虛實相遼，不可不察，故曰病當別論。又一男子，暑月患血痢，醫妄以涼藥逆制，專用黃連、阿膠、木香藥治之。此藥始感便治則可，今病久腸虛，理不可服，逾旬不已，幾致委頓，故曰理當別藥。如是論之，誠在醫之通變。又須經歷，則萬無一失。引此為例，余可效此。</p>
<p>凡用藥必須擇州土所宜者，則藥力具，用之有據。如上黨人參、川蜀當歸、齊州半夏、華州細辛，又如東壁土、冬月灰、半天河水、熱湯、漿水之類，其物至微，其用至廣，蓋亦有理。若不推究厥理，治病徒費其功，終亦不能活人。聖賢之意不易盡知，然舍理何求哉？</p>
<p>凡人少、長、老，其氣血有盛、壯、衰三等。故岐伯曰：少火之氣壯，壯火之氣衰。蓋少火生氣，壯火散氣，況復衰火，不可不知也。故治法亦當分三等。其少日服餌之藥，於壯老之時，皆須別處之，決不可忽也。世有不留心於此者，往往不信，遂致困危，哀哉！</p>
<p>今人使理中湯、丸，倉猝之間多不效者，何也？是不知仲景之意，為必效藥，蓋用藥之人有差殊耳。如治胸痹，心中痞堅，氣結胸滿，脅下逆氣搶心，理中湯主之，人參、朮、乾薑、甘草四物等，共一十二兩，水八升，煮取三升，每服一升，日三服，以知為度。或作丸，須雞子黃大，皆奇效。今人以一丸如楊梅許，服之病既不去，乃曰藥不神。非藥之罪，用藥者之罪也。今引以為例，他可仿此。然年高及素虛寒人，當遂宜減甘草。</p>
<p>夫高醫以蓄藥為能，倉猝之間，防不可售者所須也。若桑寄生、桑螵蛸、鹿角膠、天靈蓋、虎膽、蟾酥、野駝、螢、蓬蘽、空青、婆娑石、石蟹、冬灰、臘雪水、松黃之類，如此者甚多，不能一一遍舉。唐元澹字行沖，嘗謂狄仁傑曰：下之事上，譬富家儲積以自資也。脯、臘、膎、胰，以供滋膳。參、朮、芝、桂，以防疾疢。門下充旨味者多矣，願以小人備一藥，可乎？仁杰笑曰：公正吾藥籠中物，不可一日無也。然梁公因事而言，獨譬之以藥，則有以見天下萬物之中，尤不可闕者也。知斯道也，知斯意而已。</p>
<p>凡為醫者，須略通古今，粗守仁義，絕馳驚能所之心，專博施救拔之意。如此則心識自明，神物來相，又何必慼慼沽名，齪齪求利也。如或不然，則曷以致姜撫沽譽之慚，逋華佗之矜能受戮乎。</p>
<p>嘗讀《唐·方技傳》，有云：醫要在視脈，唯用一物攻之，氣純而愈速。一藥偶得，他藥相制，弗能專力，此難愈之驗也。今詳之：病有大小、新久、虛實，豈可止以一藥攻之？若初受病小，則庶幾；若病大多日，或虛或實，豈得不以他藥佐使？如人用硫黃，皆知此物大熱，然石性緩，倉猝之間，下咽不易便作效。故智者又以附子、乾薑、桂之類相佐使以發之，將併力攻疾，庶幾速效。若單用硫黃，其可得乎？故知許嗣宗之言未可全信，賢者當審度之。</p>
<p>夫用藥如用刑，刑不可誤，誤即幹人命。用藥亦然，一誤即便隔生死。然刑有鞫司，鞫成然後議定，議定然後書罪，蓋人命一死，不可復生，故須如此詳謹。今醫，人才到病家，便以所見用藥。若高醫識病知脈，藥又相當，如此，即應手作效。或庸下之流，孟浪亂投湯劑，逡巡便致困危。如此殺人，何太容易。世間此事甚多，良由病家不擇醫，平日未嘗留心於醫術也，可不懼哉！</p>

<h1>卷三</h1>

<h2>序例下</h2>
<p>治婦人雖有別科，然亦有不能盡聖人之法者。今豪足之家，居奧室之中，處幃幔之內，復以帛懞手臂，既不能行望色之神，又不能殫切脈之巧，四者有二闕焉。黃帝有言曰：凡治病，察其形氣色澤，形氣相得，謂之可治；色澤以浮，謂之易已；形氣相失，謂之難治；色夭不澤，謂之難已。又曰：診病之道，觀人勇怯，骨肉皮膚，能知其情，以為診法。若患人脈病不相應，既不得見其形，醫人只據脈供藥，其可得乎？如此言之，不能盡其術也。此醫家之公患，世不能革。醫者不免盡理質問，病家見所問繁，不為醫業不精，往往得藥不肯服，似此甚多。扁鵲見齊侯之色，尚不肯信，況其不得見者乎？嗚呼！可謂難也已！</p>
<p>又婦人病溫已十二日，診之，其脈六七至而澀，寸稍大，尺稍小，發寒熱，頰赤口乾，不了了，耳聾。問之，病後數日，經水乃行，此屬少陽熱入血室也。若治不對病，則必死。乃按其證，與小柴胡湯服之，二日，又與小柴胡湯加桂枝幹薑湯，一日，寒熱雖已，又云：我臍下急痛，又與抵當丸，微利，臍下痛痊。身漸涼和，脈漸勻，尚不了了，乃復與小柴胡。次日云：我但胸中熱燥，口鼻乾。又少與調胃承氣湯，不得利。次日又云：心下痛。又與大陷胸丸半服，利三行。而次日虛煩不寧，時妄有所見，時復狂言。雖知其尚有燥屎，以其極虛，不敢攻之。遂與竹葉湯，去其煩熱。其夜大便自通，至曉兩次，中有燥屎數枚，而狂言虛煩盡解。但咳嗽唾沫，此肺虛也。若不治，恐乘虛而成肺痿，遂與小柴胡去人參、大棗、生薑，加乾薑、五味子湯。一日咳減，二日而病悉愈。以上皆用張仲景方。</p>
<p>有婦人病吐逆，大小便不通，煩亂，四肢冷，漸無脈，凡一日半，與大承氣湯兩劑，至夜半漸得大便通，脈漸生，翌日乃安。此關格之病，極難治，醫者當審謹也。經曰：關則吐逆，格則不得小便。如此亦有不得大便者。</p>
<p>有小兒病虛滑，食略化，大便日十餘次，四肢柴瘦，腹大，食訖又飢，此疾正是大腸移熱於胃，善食而瘦，又謂之食㑊者。時五六月間，脈洪大，按之則絕。今六脈既單洪，則夏之氣獨然，按之絕，則無胃氣也。經曰：夏脈洪，洪多胃氣，少曰病，但洪無胃氣曰死。夏以胃氣為本，治療失於過時，後不逾旬，果卒。</p>
<p>有人病久嗽，肺虛生寒熱，以款冬花焚三兩，俟煙出，以筆管吸其煙，滿口則咽之，至倦則已。凡數日之間五七作，瘥。</p>
<p>有人病瘧月餘日，又以藥吐下之，氣遂弱，疾未愈。觀其病與脈，乃夏傷暑，秋又傷風，乃與柴胡湯一劑，安。後，又飲食不節，寒熱夏作。此蓋前以傷暑，今以飲食不謹，遂致吐逆不食，脅下牽急而痛，寒熱無時，病名痰瘧。以十棗湯一服，下痰水數升，明日又與理中散二錢，遂愈。</p>
<p>有人苦風痰頭痛，顫掉，吐逆，飲食減，醫以為傷冷物，遂以藥溫之，不愈。又以丸藥下之，遂厥。復與金液丹後，譫語，吐逆，顫掉，不省人，狂若見鬼，循衣摸床，手足冷，脈伏。此胃中有結熱，故昏瞀不省人，以陽氣不能布於外，陰氣不持於內，即顫掉而厥。遂與大承氣湯，至一劑，乃愈。方見仲景。後服金箔丸，方見《刪繁》。</p>
<p>有男子年六十一，腳腫生瘡，忽食豬肉不安。醫以藥利之，稍愈，時出外中風，汗出後，頭面暴腫，起紫黑色，多睡。耳輪上有浮泡小瘡，黃汁出。乃與小續命湯中加羌活一倍，服之遂愈。</p>
<p>有人年五十四，素羸，多中寒，近服菟絲有效。小年常服生硫黃數斤，脈左上二部，上下二部，弦緊有力。五七年來，病右手足筋急拘攣，言語稍遲，遂與仲景小續命湯，加薏苡仁一兩，以治筋急。減黃芩、人參、芍藥各半，以避中寒，杏仁只用一百五枚。後云尚覺大冷，因令盡去人參、芍藥、黃芩三物，卻加當歸一兩半，遂安。今人用小續命湯者，比比皆是，既不能逐證加減，遂至危殆，人亦不知。今小續命湯，世所須也。故舉以為例，可不謹哉！夫八節之正氣，生活人者也。八節之虛邪，殺人者也。非正氣則為邪，非真實則為虛。所謂正氣者，春溫、夏熱、秋涼、冬寒，此天之氣也。若春在經絡，夏在肌肉，秋在皮膚，冬在骨髓，此人之氣也。在處為實，不在處為虛。故曰，若以身之虛，逢時之虛邪不正之氣，兩虛相感，始以皮膚經絡，次傳至臟腑，逮於骨髓，則藥力難及矣。如此則醫家治病，正宜用藥抵截散補，防其深固而不可救也。又嘗須保護胃氣。舉斯為例，余可仿此。</p>

<h1>卷四</h1>

<h2>玉泉</h2>
<p>經云：生藍田山谷。採無時。今藍田山谷無玉泉。泉水，古今不言採。又曰：服五斤。古今方，水不言斤。又曰：一名玉札。如此則不知定是何物。諸家所解，更不言泉，但為玉立文。陶隱居雖曰可消之為水，故名玉泉。誠如是，則當言玉水，亦不當言玉泉也。蓋泉具流布之義，別之則無所不通。《易》又曰：山下出泉蒙，如此則誠非止水，終未臻厥理。今詳泉字乃是漿字，於義方允。漿中既有玉，故曰服五斤。去古既遠，亦文字脫誤也。採玉為漿，斷無疑焉。且如《書》篇尚多亡逸，況《本草》又在唐堯之上，理亦無怪。謂如「蛇含」，《本草》誤為「蛇全」。《唐本注》云：全字乃是舍字，陶見誤本改為含，尚如此不定。後有「鐵漿」，其義同此。又《道藏經》有「金飯玉漿」之文，唐李商隱有「瓊漿未飲結成冰」之詩，是知玉誠可以為漿。又荊門軍界有玉泉寺，中有泉，與尋常泉水無異，亦不能治病。寺中日用此水。又西洛有萬安山，山腹間有寺曰玉泉。嘗兩登是山，質玉泉之疑，寺僧皆懵不能答。寺前有泉一派，供寺中用。泉竇皆青石，與諸井水無異。若按別本注：玉泉，玉之泉液也，以仙室玉池中者為上。如此則舉世不能得，亦漫立此名，故知別本所注為不可取。又有燕玉出燕北，體柔脆，如油和粉色，不入藥，當附於此。</p>

<h2>丹砂</h2>
<p>今人謂之硃砂。辰州硃砂，多出蠻峒。錦州界狤獠峒老鴉井，其井深廣數十丈，先聚薪於井，滿則縱火焚之。其青石壁迸裂處，即有小龕，龕中自有白石床。其石如玉，床上乃生丹砂。小者如箭鏃，大者如芙蓉，其光明可鑑，研之鮮紅，砂泊床，大者重七八兩，至十兩者，晃州亦有。形如箭鏃、帶石者，得自土中，非此之比也。此物鎮養心神，但宜生使。煉服，少有不作疾者，亦不減硫黃輩。又一醫流服伏火者數粒，一旦大熱，數夕而斃。李善勝嘗煉硃砂為丹，經歲余，沐浴再入鼎，誤遺下一塊，其徒丸服之，遂發懵冒，一夕而斃。其生硃砂，初生兒便可服，因火力所變，遂能殺人，可不謹也。</p>

<h2>空青</h2>
<p>功長於治眼。仁廟朝，嘗詔御藥院，須中空有水者，將賜近戚，久而方得。其楊梅青，治醫極有功。中亦或有水者，其用與空青同，第有優劣耳。今信州冗山而取，世謂之楊梅青，極難得。</p>

<h2>綠青</h2>
<p>即石碌是也。其石黑綠色者佳，大者刻為物形，或作器用。又同硇砂，作吐風涎藥，驗則驗矣，亦損心肺。</p>

<h2>雲母</h2>
<p>古雖有服煉法，今人服者至少，謹之至也。市廛多折花朵以售之。今惟合雲母膏，治一切癰毒瘡等，惠民局別有法。</p>

<h2>石鐘乳</h2>
<p>蕭炳云：如蟬翼爪甲者為上，如鵝管者下。經既言乳，今復不取乳，此何義也？蓋乳取其性下，不用如雁齒者，謂如烏頭、附子不用尖角之義同。但明白光潤輕鬆，色如煉硝石者佳。服煉別有法。</p>

<h2>朴硝</h2>
<p>是初採掃得，一煎而成者，未經再煉治，故曰朴硝。其味酷澀，所以力堅急而不和，可以熟生牛馬皮，及治金銀有偽。葛洪治食鱠不化，取此以蕩逐之。臘月中出新瓦罐，滿注熱水，用朴硝二升，投湯中，攪散，掛北檐下，俟消滲出罐外，羽收之。以人乳汁調半錢，掃一切風熱毒氣攻注目瞼外，及發於頭面、四肢腫痛，應手神驗。</p>

<h2>芒硝</h2>
<p>經云：生於朴硝。乃是朴硝以水淋汁，澄清，再經熬煉減半，傾木盆中，經宿，遂結芒有廉稜者。故其性和緩，古今多用以治傷寒。</p>

<h2>硝石</h2>
<p>是再煎煉時，已取訖芒硝凝結在下如石者。精英既去，但余滓而已。故功力亦緩，惟能發煙火。《唐本》注：「蓋以能消化諸石，故名硝石」。煎柳枝湯煮三周時，即伏火，湯耗，即又添柳枝湯。</p>

<h2>英硝</h2>
<p>是消之精英者。其味甘，即馬牙硝也。別有法，煉治而成。由其煎煉，故其味亦別。治五臟積熱。然四物本出於一物。由此煎煉，故分出精粗，所以其用亦不相遠。</p>

<h2>礬石</h2>
<p>今坊州礬務，以野火燒過石，取以煎礬。色惟白，不逮晉州者。皆不可多服，損心肺、卻水故也。水化書紙上，才幹，水不能濡，故知其性卻水。治涎藥多須者，用此意爾。火枯為粉，貼嵌甲。牙縫中血出如衄者，貼之亦愈。</p>

<h2>滑石</h2>
<p>今謂之畫石，以其軟滑可寫畫。淋家多用。若暴得吐逆不下食，以生細末貳錢匕，溫水服，仍急以熱面半盞，押定。</p>

<h2>紫石英</h2>
<p>明澈如水精，其色紫而不勻。張仲景治風熱瘛瘲及驚癇瘛瘲風引湯：紫石英、白石英、寒水石、石膏、乾薑、大黃、龍齒、牡蠣、甘草、滑石等分，混合㕮（五汝切）咀（子與切。）以水一升，煎去三分，食後量多少溫呷，不用滓，服之無不效者。</p>

<h2>白石英</h2>
<p>狀如紫石英，但差，大而六稜，白色如水精。紫白二石英，當攻疾，可暫煮汁用，未聞久服之益。張仲景之意，只令㕮咀，不為細末者，豈無意焉。其久服，更宜詳審。</p>

<h2>赤石脂</h2>
<p>今四方皆有，以舌拭之，黏著者為佳。有人病大腸寒滑，小便精出，諸熱藥服及一斗二升，未甚效。後有人教服赤石脂、乾薑各一兩，胡椒半兩，同為末，醋糊丸如梧桐子大，空心及飯前米飲下五七十丸。終四劑，遂愈。</p>

<h2>白石脂</h2>
<p>有初生未滿月小兒，多啼叫，致臍中血出，以白石脂細末貼之，即愈。未愈，微微炒過，放冷再貼，仍不得剝揭。</p>

<h2>石中黃子</h2>
<p>石中黃子，此又字誤也，子當作水，況當條自言未成餘糧黃濁水，焉得卻名之子也？若言未乾者，亦不得謂之子也。子字乃水字無疑。又曰太一餘糧者，則是兼石言之者也。今醫家用石中黃，只石中乾者及細末者，即便是。若用禹餘糧石，即用其殼。故本條言一名石腦，須火燒醋淬。如此即是石中黃水為一等，石中黃為一等，太一餘糧為一等，斷無疑焉。</p>

<h2>婆娑石</h2>
<p>今則轉為摩娑石，如淡色石綠間微有金星者佳，磨之色如淡乳汁，其味淡。又有豆斑石，亦如此石，但於石上有黑斑點，無金星。</p>

<h2>無名異</h2>
<p>今《圖經》曰：「《本經》云，味甘平，治金瘡折傷，生肌肉。今云味鹹寒，消腫毒癰腫，與《本經》所說不同，疑別是一種。」今詳上文三十六字未審，今云字下，即不知是何處云也。</p>

<h2>菩薩石</h2>
<p>出峨嵋山中，如水精明澈，日中照出五色光，如峨嵋普賢菩薩圓光，因以名之，今醫家鮮用。</p>

<h1>卷五</h1>

<h2>金屑</h2>
<p>不曰金而更加屑字者，是已經磨屑可用之義，如玉漿之義同。《本經》不解屑為未盡，蓋須烹煉鍛屑為薄，方可研屑入藥。陶隱居云：「凡用銀屑，以水銀和成泥。」若非鍛屑成薄，焉能以水銀和成泥也？獨不言金屑，亦其闕也。生金有毒，至於殺人，仍為難解。有中其毒者，惟鷓鴣肉可解，若不經鍛屑，則不可用。顆塊金即冗山，或至百十尺，見伴金石，其石褐色，一頭如火燒黑之狀，此定見金也。其金色深赤黃。麩金即在江沙水中，淘汰而得，其色淺黃。此等皆是生金也，得之皆當銷煉。麩金耗折少，塊金耗折多。入藥當用塊金，色既深則金氣足。余更防罨製成及點化者，如此，焉得更有造化之氣也。若本朝張永德，字抱一，幷州人。五代為潞帥，淳化二年改幷州。初寓睢陽，有書生鄰居臥病，永德療之，獲愈。生一日就永德求汞伍兩。即置鼎中，煮成中金。永德懇求藥法，生曰：君當貴，吾不吝此，慮損君福。鍛工畢昇言：祥符年，嘗在禁中為方士王捷鍛金。以鐵為金，凡百餘兩為一餅，輻解為八段，謂之鴉嘴金。初自治中出，色尚黑。由是言之，如此之類，乃是水銀及鐵用藥製成，非造化所成，功治焉得不差？殊如惠民局合紫雪用金，蓋假其自然金氣爾。然惡錫。又東南方金色深，西南方金色淡，亦土地所宜也，入藥故不如色深者，然得余甘子則體柔，亦相感爾。</p>

<h2>銀屑</h2>
<p>金條中已解屑義。銀本出於礦，須煎煉而成，故名熟銀。所以於後別立生銀條也。其用與熟銀大同。世有術士，能以硃砂而成者，有鉛汞而成者，有焦銅而成者，非復更有造化之氣，豈可更入藥？既有此類，不可不區別。其生銀即是不自礦中出，而特然自生者，又謂之老翁須，亦取像而言之耳。然銀屑經言有毒，生銀經言無毒，釋者漏略不言。蓋生銀已生髮於外，無蘊郁之氣，故無毒。礦銀尚蘊蓄於石中，鬱結之氣全未敷暢，故言有毒。亦惡錫。</p>

<h2>水銀</h2>
<p>水銀入藥雖各有法，極須審謹，有毒故也。婦人多服絕娠。今人治小兒驚熱涎潮，往往多用。經中無一字及此，亦宜詳諦。得鉛則凝，得硫黃則結，並棗肉研之則散。別法煅為膩粉，粉霜唾研斃蝨。銅得之則明，灌屍中則令屍後腐。以金銀銅鐵置其上則浮，得紫河車則伏。唐韓愈云：太學博士李千，遇信安人方士柳賁，能燒水銀為不死藥。以鉛滿一鼎，按中為空，實以水銀，蓋封四際，燒為丹砂，服之下血。比四年，病益急，乃死。余不知服食說自何世起，殺人不可計，而世慕尚之益至。此其惑也。在文書所記，及耳聞傳者不說，今直取目見，親與之遊，而以藥敗者六七公，以為世誡。工部尚書歸登自說：既服水銀得病，若有燒鐵杖，自顛貫其下，摧而為火，射竅節以出，狂痛號呼，乞絕。其茵席得水銀，發且止，唾血，十數年以斃。殿中御史李虛中，疽發其背死。刑部尚書李遜謂余曰：我為藥誤。遂死。刑部侍郎李建，一旦無病死。工部尚書孟簡邀我於萬州，屏人曰：我得秘藥，不可獨不死，今遺子一器，可用棗肉為丸服之。別一年而病。後有人至，訊之。曰：前所服藥誤，方且下之，下則平矣。病二歲卒。東川節度御史大夫盧坦溺血，肉痛不可忍，乞死。金吾將軍李道古，以柳賁得罪，食賁藥，五十死海上。此可為誡者也。蘄不死，乃速得死，謂之智，可不可也？五穀三牲，鹽醯果蔬，人所常御，人相厚勉，必曰強食。今惑者皆曰五穀令人夭，當務減節，臨死乃悔。嗚呼，哀也已！今有水銀燒成丹砂，醫人不曉，研為藥衣，或入藥中，豈不違誤，可不謹哉！</p>

<h2>水銀粉</h2>
<p>下涎藥，並小兒涎潮、瘛瘲多用。然不可常服及過多，多則其損兼行。若兼驚，則尤須審謹。蓋驚為心氣不足，不可下，下之裡虛，驚氣入心不可治。若其人本虛，便須禁此一物，謹之至也。</p>

<h2>雄黃</h2>
<p>非金苗。今有金窟處無雄黃。金條中言金之所生，處處皆有雄黃，豈處處皆得也。別法，治蛇咬，焚之熏蛇遠去。又武都者，鐫磨成物形，終不免其臭。唐甄立言仕為太常丞，有道人病心腹懣煩，彌二歲，診曰：腹有蠱，誤食發而然。令餌雄黃一劑，少選，吐一蛇如拇指，無目，燒之有發氣，乃愈。此殺毒蠱之驗也。</p>

<h2>雌黃</h2>
<p>入藥最稀，服石者宜審諦。治外功多，方士點化術多用，亦未聞其終始如何。畫工或用之。</p>

<h2>石硫黃</h2>
<p>今人和治下元虛冷，元氣將絕，久患寒泄，脾胃虛弱，垂命欲盡，服之無不效。中病當便已，不可盡劑。世人蓋知用而為福，不知用久為禍。此物損益兼行，若俱棄而不用，當倉猝之間，又可闕乎？或更以法制，拒火而又常服者，是亦弗思也。在本朝則不言如此服良，但專治婦人。不知者，往往更以酒服，其可得乎？或臟中久冷，服之先利。如病勢危急，可加丸數服，少則不效。仍加附子、乾薑、桂。</p>

<h2>陽起石</h2>
<p>如狼牙者佳。其外色不白，如姜石。其大塊者，亦內白。治男子、婦人下部虛冷，腎氣乏絕，子臟久寒，須水飛研用。凡石藥冷熱皆有毒，正宜斟酌。</p>

<h2>飛水石</h2>
<p>又謂之寒水石，紋理通徹，人或磨刻為枕，以備暑月之用。入藥燒過，或市人燒入膩粉中以亂真，不可不察也。陶隱居言：夏月能為冰者佳，如此則舉世不能得，似乎失言。</p>

<h2>石膏</h2>
<p>二書紛辨不決，未悉厥理。詳《本經》元無方解石之說，正緣《唐本》注石膏、方解石大體相似。因此一說，後人遂惑。經曰：生齊山山谷，及齊盧山、魯蒙山。採無時，即知他處者為非。今《圖經》中又以汾州者編入，前後人都不詳。經中所言細理白澤者良，故知不如是，則非石膏也。下有理石條中經云：如石膏順理而細，又可明矣。今之所言，石膏、方解石，二者何等有順理細紋又白澤者。有是，則石膏也；無是，則非石膏也。仍須是經中所言州土者，方可入藥，余皆偏見，可略不取。仲景白虎湯中，服之如神。新校正仲景《傷寒論》後，言四月以後，天氣熱時，用白虎者是也。然四方氣候不齊，又歲中氣運不一，方所既異，雖其說甚雅，當此之時，亦宜兩審。若傷寒熱病，或大汗後，脈洪大，口舌燥，頭痛，大渴不已；或著暑熱，身痛倦怠，白虎湯服之無不效。</p>

<h2>磁石</h2>
<p>色輕紫，石上皸澀，可吸連針鐵，俗謂之熁鐵石。養益腎氣，補填精髓，腎虛耳聾目昏皆用之。入藥，須燒赤醋淬。其玄石，即磁石之黑色者也。多滑淨。其治體大同小異，不可分而為二也。磨針鋒則能指南，然常偏東不全南也。其法取新纊中獨縷，以半芥子許蠟，綴於針腰，無風處垂之，則針常指南。以針橫貫燈心，浮水上，亦指南，然常偏丙位。蓋丙為大火，庚辛金受其制，故如是，物理相感爾。</p>

<h2>理石</h2>
<p>如長石，但理石如石膏順理而細，其非順理而細者為長石，治療亦不相遼。</p>

<h2>鐵礦</h2>
<p>鐵於礦中煉出者，謂之生鐵。鐵落，斷而落者也。鑐（音柔）鐵，鐵炒成熟鐵也。剛鐵，鍊鐵，去滓者也。鐵精、針沙、鐵漿，以上三等，取汁，各依經用。鐵華粉、鐵粉，以上二等，燒煅取。馬銜、秤錘、車轄、杵鋸，以上五等，特以其意使之耳。其生鐵既自火中煉石而出，世謂之生鐵。亦如炒脂麻取油，謂之生油，其義亦同，白油麻條中已著。鐵粉，以生薑汁調擦眉上，生眉毛。鋼鐵，今用柔鐵屈盤，乃以生鐵陷其間，泥封煉之，煅令相入，謂之圍鋼，又曰灌鋼。此蓋草創之鋼，亦不免偽也。蓋生鐵之堅，及三四煉，則生鐵亦自熟，卻是柔鐵，而天下莫以為非。磁州煉坊，方識真鋼。凡鐵之有鋼，如面之有筋，灌洸揉麵既盡，筋乃見，鍊鋼亦然。恆取精鐵一百餘斤，每鍛一火，稱之遂輕。累鍛稱之，至於不減耗，此則純鋼也。實鐵之精純者，雖百鍊不耗矣。其色清明，磨瑩之，則黯黯而清且黑。亦有煉之盡，全無鋼者，系地之所產精粗爾。前所謂鐵精者，其說有二：陶隱居言出煅灶中，如塵、紫色、輕者為佳，亦以摩瑩銅器用之。日華子又云：犁鑱尖浸水中名為鐵精。本條既言化銅，則隱居所說是。蓋鍛灶中塵紫摩銅則明，浸犁鑱尖水非是。</p>

<h2>食鹽</h2>
<p>《素問》曰：咸走血。故東方食魚鹽之人多黑色，走血之驗，故可知矣。病嗽及水者，宜全禁之。北狄用以淹屍，取其不壞也。至今如此。若中蚯蚓毒，當以鹽洗沃，亦宜湯化飲汁。其燒剝金銀，熔汁作藥，仍須解州池鹽為佳。齒縫中多血出，常以鹽湯嗽，即已。益齒走血之驗也。</p>

<h2>太陰玄精石</h2>
<p>合他藥，塗大風疾。別有法，陰證傷寒，指甲面色青黑，六脈沉細而疾；心下脹滿、結硬，躁渴，虛汗不止，或時狂言，四肢逆冷，咽喉不利，腹疼，亦須佐他藥兼之。《圖經本草》已有法，惟出解州者良。</p>

<h2>密陀僧</h2>
<p>堅重，椎破如金色者佳。</p>

<h2>桃花石</h2>
<p>有赤、白兩等。有赤地淡白點如桃花片者。有淡白地、有淡赤點、如桃花片者。人往往鐫磨為器用，今人亦罕服食。</p>

<h2>花乳石</h2>
<p>其色如硫黃，《本經》第五卷中已著。今出陝、華間，於黃石中間，有淡白點，以此得花之名。今惠民局花乳石散者是。此物陝人又能鐫為器。《圖經》第二卷中，易其名為花蕊石，是卻取其色黃也。更無花乳之名，慮歲久為世所惑，故書之。</p>

<h2>珊瑚</h2>
<p>治翳目，今人用為點眼箸。有一等紅油色，有細縱紋可愛。又一種如鉛丹色，無縱紋為下。入藥用紅油色者。嘗見一本高尺許，兩枝直上，分十餘歧，將至其顛，則交合連理，仍紅潤有縱紋，亦一異也。波斯國海中，有珊瑚洲。海人乘大舶，墮鐵網水底。珊瑚所生磐石上，白如菌，一歲而黃，三歲赤，枝幹交錯，高三四尺。鐵發其根系網，舶上絞而出之。失時不取則腐。</p>

<h2>馬腦</h2>
<p>非石、非玉，自是一類。有紅、白、黑色三種，亦有其紋如纏絲者。出西裔者佳。彼土人以小者碾為好玩之物，大者碾為器。今古方入藥，絕可用。此物西方甚重，故佛經多言之。其馬口吐出，既知謬言，不合編入。</p>

<h2>石花</h2>
<p>白色，圓如覆大馬杓，上有百十枝，每枝各槎牙分歧如鹿角，上有細紋起。以指撩之，錚錚然有聲。此石花也，多生海中石上，世方難得。家中自有一本，後又於大相國宮中見一本，然其體甚脆，不禁觸擊。本條所注皆非是。</p>

<h2>石蟹</h2>
<p>直是今之生蟹，更無異處，但有泥與粗石相著。凡用，須去其泥並粗石，止用蟹，磨合他藥點目中，須水飛。</p>

<h2>石蛇</h2>
<p>《本經》不收，始自《開寶本草》添附。其色如古牆上土，盤結如楂梨大，中空，兩頭鉅細一等，無蓋，不與石蟹同類。蟹則真蟹也，蛇非真蛇，今人用之絕少。</p>

<h1>卷六</h1>

<h2>青琅玕</h2>
<p>《書》曰：三危既宅。三危，西裔之山也，厥貢惟球琳琅玕。孔穎達以謂琅玕石似玉。《新書》亦謂三苗，西戎。《西域記》云：天竺國正出此物。陶隱居謂為本名大丹石。既是大丹石，則《本經》豈可更言煮煉服之。又曰：可化為丹。陶不合遠引，非此琅玕也。《唐本》注云：是琉璃之類。且琉璃火成之物，琅玕又非火成。經曰：生蜀郡平澤。安得同類言之，其說愈遠。且《佛經》所謂琉璃者，正如鬼谷珠之礜，乃火成之物也，今人絕不見用。</p>

<h2>礜石、特生礜石</h2>
<p>《博物志》及陶隱居皆言此二石鸛取之以壅卵，如此則是一物也。隱居又言：仙經不云特生，則只是前白礜石。今《補註》但隨文解義，不見特生之意。蓋二條只是一物，但以特生不特生為異耳。所謂特生者，不附著他石為特耳。今用者絕少，惟兩字礜石入藥，然極須謹用，其毒至甚。及至論鸛巢中者，又卻從謬說。鸛巢中皆無此石，乃曰：鸛常入水，冷，故取以壅卵。如此則鸕鷀、雁、鶩之類，皆食於水，亦自繁息生化，復不用此二石。其說往往取俗士之言，未嘗究其實而窮其理也。嘗官於順安軍，親檢鸛巢，率無石。矧礜石焉得處處有之。然治久積及久病胸腹冷有功，直須謹用，蓋其毒不可當。</p>

<h2>代赭</h2>
<p>方士爐火中多用，丁頭光澤、堅實、赤紫色者佳。</p>
<p><u>白堊</u>　即白善土，京師謂之白土子。方寸許切成段，鬻於市，人得以浣衣。今人合王瓜，等分為末，湯點二錢服，治頭痛。</p>
<p><u>赤土</u>　今公府用以飾椽柱者。水調細末一二錢服，以治風疹。</p>

<h2>大鹽</h2>
<p>新者不苦，久則鹹苦。今解州鹽池所出者，皆成斗子，其形大小不等，久亦苦。海水煎成者，但味和，二鹽互有得失。入藥及金銀作，多用大鹽及解鹽。傍海之人多黑色，蓋日食魚鹽，此走血之驗也。齒縫中血出，鹽湯嗽之，及接藥入腎。北虜以鹽淹屍，使不腐。</p>

<h2>戎鹽</h2>
<p>戎鹽成垛，裁之如枕，細白，味甘鹹，亦功在卻血。入腎，治目中瘀赤、澀昏。</p>

<h2>鉛丹</h2>
<p>本謂之黃丹，化鉛而成，別有法。《唐本》注：炒錫作。然經稱鉛丹，則炒錫之說誤矣，亦不為難辨。蓋錫則色黯暗，鉛則明白，以此為異。治瘧及久積皆用。</p>

<h2>粉錫</h2>
<p>粉錫、胡粉也，又名定粉。止泄痢、積聚及久痢。</p>

<h2>鉛霜</h2>
<p>鉛霜、《圖經》已著其法，治上膈熱涎塞。塗木瓜失酸味，金剋木也。</p>

<h2>古文錢</h2>
<p>古銅，焦赤，有毒，治目中瘴瘀、腐蝕壞肉、婦人橫逆產、五淋多用。非特為有錫也，此說非是。今但取景王時大泉五十及寶貨，秦半兩，漢莢錢、大小五銖，吳大泉五百、大泉當千，宋四銖、二銖，及梁四柱，北齊常平五銖。爾後其品尚多，如此之類方可用。少時常自患暴赤目腫痛，數日不能開。有客教以生薑一塊，洗淨去皮，以古青銅錢刮取薑汁，就錢稜上點。初甚苦，熱淚蔑面。然終無損。後有患者，教如此點，往往疑惑。信士點之，無不獲驗。一點遂愈，更不可再作。有瘡者不可用。</p>

<h2>金牙</h2>
<p>今方家絕不用。以此故，商客無利不販賣，醫者由是委而不用，兼所出惟蜀郡有之，蓋亦不廣也。余如經。</p>

<h2>石灰</h2>
<p>水調一盞，如稠粥，揀好糯米粒全者，半置灰中，半灰外。經宿，灰中米色變如水精。若人手面上有黑黶子及紋刺，先微微以針頭撥動，置少許如水精者於其上，經半日許，黶汁自出，剔去藥不用，且不得著水，三二日愈。又取新硬石灰一合，以醋炒，調如泥，於患偏風牽口喎邪人口唇上不患處一邊塗之，立便牽正。</p>

<h2>冬灰</h2>
<p>諸家只解灰而不解冬，亦其闕也。諸灰一烘而成，惟冬灰，則經三四月方徹爐。灰既曉夕燒灼，其力得不全燥烈乎？而又體益重。今一爇而成者體輕，蓋火力劣，故不及冬灰耳。若古緊面少容方中，用九燒益母灰，蓋取此義。如或諸方中用桑灰，自合依本法。既用冬灰，則須爾。《唐本》注云：冬灰本是藜灰，未知別有何說。又湯火灼，以餅爐中灰細羅，脂麻油調，羽掃，不得著水，仍避風。</p>

<h2>伏龍肝</h2>
<p>婦人血露，蠶沙一兩，炒伏龍肝半兩，阿膠一兩，同為末，溫酒調，空肚服二三錢，以知為度。本條中有東壁土，陳藏器云：取其東壁土，久干也。今詳之：南壁土，亦向陽久干也，何不取？蓋東壁常先得曉日烘炙。日者太陽真火，故治瘟瘧。或曰：何不取午盛之時南壁土，而取日初出東壁土者，何也？火生之時，其氣壯。故《素問》云：少火之氣壯。及其當午之時，則壯火之氣衰，故不取，實用此義。或曰：何以知日者太陽真火？以水精珠，或心凹銅鑑，向日射之，以艾承接其光聚處，火出，故知之。</p>

<h2>半天河水</h2>
<p>半天河水，一水也。然用水之義有數種，種各有理。如半天河水，在上，天澤水也。故治心病、鬼疰、狂、邪氣、惡毒。臘雪水，大寒水也，故解一切毒，治天行時氣、溫疫、熱癇、丹石發、酒後暴熱、黃疸。井華水，清冷澄澈水也，故通九竅，洗目膚翳，及酒後熱痢。後世又用東流水者，取其快順疾速，通關下膈也。倒流水，取其迴旋留止，上而不下也。</p>

<h2>菊花水</h2>
<p>本條見南陽酈縣北潭水，其源悉芳。菊生被崖，水為菊味，此說甚怪。且菊生於浮土上，根深者不過尺，百花之中，此特淺露，水泉莫非深遠而來，況菊根亦無香，其花當九月十月間，只三兩旬中，焉得香入水也？若因花而香，其無花之月合如何也？殊不詳。水自有甘、淡、咸、苦，焉知無有菊味者？嘗官於永、耀間，沿干至洪門北山下古石渠中，泉水清澈。眾官酌而飲。其味與惠山泉水等，亦微香。世皆未知之，烹茶尤相宜。由是知泉脈如此，非緣浮土上所生菊能變泉味。博識之士，宜細詳之。</p>

<h2>漿水</h2>
<p>漿水不可同李實飲，令人霍亂吐利。</p>

<h2>熱湯</h2>
<p>助陽氣，行經絡。患風冷氣痹人，多以湯渫腳至膝上，厚覆，使汗出周身。然別有藥，亦終假湯氣而行也。四時暴泄利，四肢冷，臍腹疼，深湯中坐，浸至腹上，頻頻作，生陽佐藥，無速於此。虛寒人始坐湯中必戰，仍常令人伺守。</p>

<h2>硇砂</h2>
<p>金銀有偽，投熔鍋中，其偽物盡消散。矧人腹中有久積，故可潰腐也。合他藥，治目中翳，用之須水飛過，入瓷器中，於重湯中煮其器，使自干，殺其毒，及去其塵穢。</p>

<h2>蓬砂</h2>
<p>含化咽津，治喉中腫痛，膈上痰熱。初覺便治，不能成喉痹，亦緩取效可也。南番者，色重褐，其味和，其效速。西戎者，其色白，其味焦，其功緩，亦不堪作焊。</p>

<h2>姜石</h2>
<p>姜石，所在皆有。須不見日色旋取，微白者佳。治疔腫殊效。</p>

<h2>自然銅</h2>
<p>有人飼折翅雁，後遂飛去。今人打撲損，研極細，水飛過，同當歸、沒藥各半錢，以酒調，頻服，仍以手摩痛處。</p>

<h2>石燕</h2>
<p>今人用者如蜆蛤之狀，色如土，堅重則石也。既無羽翼，焉能自石穴中飛出，何故只墮沙灘上？此說近妄。《唐本》注：永州土崗上掘深丈餘取之，形似坩而小，重如石。則此自是一物，余說不可取。潰、虛、積藥中多用。</p>

<h2>砒霜</h2>
<p>瘧家或用，才過劑，則吐瀉兼作，須濃研綠豆汁，仍兼冷水飲，得石腦油即伏。今信州鑿坑井，下取之。其坑常封鎖，坑中有濁綠水，先絞水盡，然後下鑿取。生砒謂之砒黃，其色如牛肉，或有淡白路，謂石非石，謂土非土，磨研酒飲，治癖積氣有功。才見火，便有毒，不可造次服也。取砒之法：將生砒就置火上，以器覆之，令砒煙上飛著覆器，遂凝結，累然下垂如乳，尖長者為勝，平短者次之。《圖經》言大塊者。其大塊者已是下等，片如細屑者極下也。入藥當用如乳尖長者，直須詳謹。</p>

<h2>浮石</h2>
<p>水飛，治目中翳。今皮作家用之，磨皮上垢，無出此石。石蟹條中雲：浮石，平，無毒，止渴，治淋，殺野獸毒，合於此條收入。</p>

<h2>金星石、銀星石</h2>
<p>治大風疾。別有法，須燒用。金星石於蒼石內，外有金色麩片。銀星石，有如銀色麩片。又一種深青色，堅潤，中有金色如麩片，不入藥，工人碾為器，或婦人首飾。余如經。</p>

<h2>石腦油</h2>
<p>真者難收，多滲蝕器物。今入藥最少，燒煉或須也。仍常用，有油（去聲）器貯之。又研生砒霜，入石腦油，再研如膏，入鉗鍋子內，用淨瓦片子蓋定，置火上，俟鍋子紅，泣盡油，出之。又再研，再入油，再上火，凡如此共兩次，即砒霜伏。</p>

<h1>卷七</h1>

<h2>赤箭</h2>
<p>赤箭，天麻苗也。然與天麻治療不同，故後人分之為二。經言八月採根曝乾，故知此即苗也。</p>

<h2>天門冬</h2>
<p>麥門冬之類。雖曰去心，但以水漬漉，使周潤，滲入肌，俟軟，緩緩擘取，不可浸出脂液。其不知者，乃以湯浸一二時。柔即柔矣，然氣味都盡，用之不效，乃曰藥不神，其可得乎？治肺熱之功為多。其味苦，但專泄而不專收，寒多人禁服。余如二經。</p>

<h2>麥門冬</h2>
<p>麥門冬根上子也。治心肺虛熱，並虛勞客熱，亦可取苗作熟水飲。</p>

<h2>蒼朮</h2>
<p>其長如大拇指，肥實，皮色褐，氣味辛烈，須米泔浸洗，再換泔浸二日，去上粗皮。</p>
<p><u>白朮</u>　粗促，色微褐，氣味亦微辛，苦而不烈。古方及《本經》只言術，未見分其蒼白二種也。只緣陶隱居言術有兩種。自此，人多貴白者。今人但貴其難得，惟用白者，往往將蒼朮置而不用。如古方平胃散之類，蒼朮為最要藥，功尤速。殊不詳《本草》元無白朮之名，近世多用，亦宜兩審。嵇康曰：「聞道人遺言，餌朮、黃精，令人久壽」，亦無白字。</p>

<h2>地黃</h2>
<p>葉如甘露子，花如脂麻花，但有細斑點，北人謂之牛奶子。花、莖有微細短白毛。經只言干生二種，不言熟者。如血虛勞熱，產後虛熱，老人中虛燥熱，須地黃者，生與生干常慮大寒，如此之類，故後世改用熟者。蒸曝之法：以細碎者洗出，研取汁，將粗地黃蒸出曝乾，投汁中，浸三二時，又曝，再蒸，如此再過為勝，亦不必多。此等與干生二種，功治殊別。陶但云搗汁和蒸殊用工，意不顯其法，不注治療，故須悉言耳。</p>

<h2>菖蒲</h2>
<p>世又謂之蘭蓀，生水次，失水則枯，根節密者，氣味足。有人患遍身生熱毒瘡，痛而不癢，手足尤甚，然至頸而止，黏著衣被，曉夕不得睡，痛不可忍。有下俚教以菖蒲三斗，銼，日乾之，舂羅為末，布席上，使病瘡人恣臥其間，仍以被衣覆之。既不黏著衣被，又復得睡，不五七日之間，其瘡如失。後自患此瘡，亦如此用，應手神驗。其石菖蒲根，絡石而生者節乃密，入藥須此等。</p>

<h2>澤瀉</h2>
<p>澤瀉，其功尤長於行水。張仲景曰：水搐渴煩，小便不利，或吐或瀉，五苓散主之。方用澤瀉，故知其用長於行水。《本經》又引扁鵲云「多服，病人眼」，誠為行去其水。張仲景八味丸用之者，亦不過引接桂、附等歸就腎經，別無他意。凡服澤瀉散人，未有不小便多者。小便既多，腎氣焉得復實？今人止泄精，多不敢用。</p>

<h2>山藥</h2>
<p>按《本草》上一字犯英廟諱。下一字曰蕷，唐代宗名豫，故改下一字為藥，今人遂呼為山藥。如此則盡失當日本名，慮歲久以山藥為別物，故書之。此物貴生干，方入藥。其法：冬月以布裹手，用竹刀子剮去皮，於屋檐下風逕處盛竹篩中，不得見日色。一夕干五分，俟全乾收之，惟風緊則干速。所以用干之意，蓋生濕則滑，不可入藥，熟則只堪啖，亦滯氣。余如經。</p>

<h2>菊花</h2>
<p>近世有二十餘種，惟單葉花小而黃，綠葉色深小而薄，應候而開者是也。《月令》所謂菊有黃華者也。又鄧州白菊，單葉者亦入藥，余醫經不用。專治頭目風熱。今多收之作枕。</p>

<h2>甘草</h2>
<p>枝葉悉如槐，高五六尺，但葉端微尖而糙澀，似有白毛。實作角生，如相思角，作一本生。子如小扁豆，齒齧不破。今出河東西界，入藥須微炙，不爾，亦微涼。生則味不佳。</p>

<h2>人參</h2>
<p>今之用者，皆河北榷場博易到，盡是高麗所出，率虛軟味薄，不若潞州上黨者味厚體實，用之有據。土人得一窠，則置於版上，以色絲纏系，根頗纖長，不與榷場者相類。根下垂有及一尺余者，或十歧者。其價與銀等，稍為難得。</p>

<h2>石斛</h2>
<p>細若小草，長三四寸，柔韌，折之，如肉而實。今人多以木斛渾行，醫工亦不能明辨。世又謂之金釵石斛，蓋後人取象而言之。然甚不經，將木斛折之，中虛，如禾草，長尺余，但色深黃光澤而已。真石斛治胃中虛熱有功。</p>

<h2>牛膝</h2>
<p>今西京作畦種，有長三尺者最佳。與蓯蓉浸酒服，益腎。竹木刺入肉，嚼爛罨之，即出。</p>

<h2>細辛</h2>
<p>細辛用根，今惟華州者佳，柔韌，極細直，深紫色，味極辛，嚼之習習如椒。治頭面風痛，不可闕也。葉如葵葉，赤黑，非此，則杜蘅也。杜蘅葉形如馬蹄下，故俗云馬蹄香。蓋根似白前，又似細辛。襄、漢間一種細辛，極細而直，色黃白，乃是鬼督郵，不可用。</p>

<h2>柴胡</h2>
<p>《本經》並無一字治勞，今人治勞方中鮮有不用者。嗚呼！凡此誤世甚多。嘗原病勞，有一種真臟虛損，復受邪熱，邪因虛而致勞，故曰勞者牢也。當須斟酌用之，如《經驗方》中，治勞熱青蒿煎丸，用柴胡正合宜耳，服之無不效。熱去，即須急已。若或無熱，得此愈甚，雖至死，人亦不怨，目擊甚多。《日華子》又謂補五勞七傷。《藥性論》亦謂治勞乏羸瘦。若此等病，苟無實熱，醫者執而用之，不死何待！註釋本草，一字亦不可忽，蓋萬世之後，所誤無窮耳。苟有明哲之士，自可處治。中下之學，不肯考究，枉致淪沒，可不謹哉？可不戒哉！如張仲景治寒熱往來如瘧狀，用柴胡湯，正合其宜。</p>

<h2>薏苡仁</h2>
<p>此李商隱《太倉銘》中所謂「薏苡似珠，不可不虞」者也，取仁用。《本經》云：「微寒，主筋急拘攣」。拘攣有兩等，《素問》注中「大筋受熱，則縮而短，縮短故攣急不伸」。此是因熱而拘攣也，故可用薏苡仁。若《素問》言因寒則筋急者，不可更用此也。凡用之，須倍於他藥。此物力勢和緩，須倍加用，即見效。蓋受寒即能止人筋急。受熱，故使人筋攣。若但熱而不曾受，又亦能使人筋緩。受濕則又引長無力。</p>

<h2>車前</h2>
<p>陶隱居云：其葉搗取汁服，療泄精。大誤矣！此藥甘滑，利小便，走泄精氣。經云：主小便赤，下氣。有人作菜食，小便不禁，幾為所誤。</p>

<h2>茺蔚子</h2>
<p>葉至初春亦可煮作菜食，凌冬不凋悴。唐武后九燒與灰入緊面藥。九燒之義，已具冬灰條中。</p>

<h2>木香</h2>
<p>專泄決胸腹間滯塞冷氣，他則次之。得橘皮、肉豆蔻、生薑相佐使絕佳，效尤速。又一種，嘗自岷州出塞，得生青木香，持歸西洛。葉如牛蒡但狹長，莖高三四尺，花黃，一如金錢，其根則青木香也。生嚼之，極辛香，尤行氣。</p>

<h2>菟絲子</h2>
<p>附叢木中，即便蔓延花實，無綠葉，此為草中之異。其上有菟絲下有茯苓之說，未必耳，已於茯苓條中具言之。</p>

<h2>巴戟天</h2>
<p>巴戟天本有心，干縮時偶自落，或可以抽摘，故中心或空，非自有小孔子也。今人慾要中間紫色，則多偽，以大豆汁沃之，不可不察。外堅難染，故先從中間紫色。有人嗜酒，日須五七杯，後患腳氣甚危，或教以巴戟半兩，糯米同炒，米微轉色，不用米，大黃一兩，銼、炒，同為末，熟蜜為丸，溫水服五七十丸，仍禁酒，遂愈。</p>

<h1>卷八</h1>

<h2>肉蓯蓉</h2>
<p>《圖經》以謂「皮如松，子有鱗」。子字當為殼，於義為允。又曰：「以酒淨洗，去黑汁作羹」。黑汁既去，氣味皆盡。然嫩者方可作羹，老者苦。入藥，少則不效。</p>

<h2>蒺藜</h2>
<p>蒺藜有兩等：一等杜蒺藜，即今之道旁布地而生，或生牆上，有小黃花，結芒刺，此正是牆有茨者。花收摘蔭干，為末，每服三二錢，飯後以溫酒調服，治白癜風。又一種白蒺藜，出同州沙苑牧馬處。黃紫花，作莢，結子如羊內腎。補腎藥，今人多用。風家惟用刺蒺藜。</p>

<h2>防風　黃耆</h2>
<p>防風、黃耆世多相須而用。唐許胤宗為新蔡王外兵參軍，王太后病風，不能言，脈沉難對，醫告術窮。胤宗曰：「餌液不可進」。即以黃耆、防風煮湯數十斛，置床下，氣如霧熏薄之，是夕語。</p>

<h2>千歲蘽</h2>
<p>唐開元末，訪隱民姜撫，已幾百歲，召至集賢院。言服常春藤，使白髮還鬒，則長生可致。藤生太湖，終南往往有之。帝遣使多取，以賜老臣。詔天下，使自求之。擢撫銀青光祿大夫，號沖和先生。又言終南山有旱藕，餌之延年，狀類葛粉。帝取之作湯餅，賜大臣。右驍騎將軍甘守誠曰：常春者千歲蘽也，旱藕者杜蒙也。方家久不用，撫易名以神之，民間以酒漬藤，飲者多暴死。乃止。撫內慚，請求藥牢山，遂逃去。今書之以備世疑。</p>

<h2>黃連</h2>
<p>今人多用治痢，蓋執以苦燥之義。下俚但見腸虛滲泄，微似有血便，即用之，更不知止。又不顧寒熱多少，但以盡劑為度，由是多致危困。若氣實初病，熱多血痢，服之便止，仍不必盡劑也。或虛而冷，則不須服。余如經。</p>

<h2>藍實</h2>
<p>即大藍實也，謂之蓼藍非是，《爾雅》所說是。解諸藥等毒，不可闕也。實與葉兩用。《注》不解實只解藍葉，為未盡。經所說盡矣。藍一本而有數色——刮竹、青綠、云碧、青藍、黃，豈非青出於藍而青於藍者也。生葉汁解藥毒，此即大葉藍，又非蓼藍也。蓼藍，即堪揉汁，染翠碧。花成長穗，細小，淺紅色。</p>

<h2>景天</h2>
<p>陶隱居既云：今人皆盆盛養之於屋上，即知是草藥。又言廣州城外有一株，云可三四圍，呼為慎火木。既曰云，即非親見也。蓋是傳聞，亦非誤耳，乃陶之輕聽也。然極易種，但折生枝置土中，頻澆溉，旬日便下根，濃研取汁，塗火心瘡，甚驗。干為末，水調，掃遊風、赤腫、赬熱者。</p>

<h2>蒲黃</h2>
<p>蒲黃處處有，即蒲槌中黃粉也。今京師謂槌為蒲棒。初得黃，細羅，取萼別貯，以備他用。將蒲黃水調為膏，擘為塊，人多食之，以解心臟虛熱。小兒尤嗜。涉月則燥，色味皆淡，須蜜水和。然不可多食，令人自利，不益極虛人。</p>

<h2>蘭草</h2>
<p>諸家之說異同，是曾未的識，故無定論。葉不香，惟花香。今江陵、鼎、澧州山谷之間頗有，山外平田即無。多生陰地，生於幽谷，益可驗矣。葉如麥門冬而闊且韌，長及一、二尺，四時常青，花黃，中間葉上有細紫點。有春芳者，為春蘭，色深；秋芳者為秋蘭，色淡。秋蘭稍難得，二蘭移植小檻中，置座上，花開時滿室盡香，與他花香又別。唐白樂天有種蘭不種艾之詩，正為此蘭矣。今未見用者。《本經》蘇注：「八月花白。」此即澤蘭也。</p>

<h2>茵陳蒿</h2>
<p>張仲景治傷寒熱甚發黃者，身面悉黃，用之極效。又一僧因傷寒後發汗不徹，有留熱，身面皆黃，多熱，期年不愈。醫作食黃治之，治不對，病不去。問之，食不減。尋與此藥，服五日，病減三分之一，十日減三分之二，二十日病悉去。方用山茵陳、山梔子各三分，秦艽、升麻各四錢，末之。每用三錢，水四合，煎及二合，去滓，食後溫服，以知為度。然此藥以茵陳蒿為本，故書之。</p>

<h2>決明子</h2>
<p>苗高四五尺，春亦為蔬，秋深結角。其子生角中，如羊腎。今湖南北人家園圃所種甚多，或在村野成段種。《蜀本·圖經》言：葉似苜蓿而闊大，甚為允當。</p>

<h2>芎藭</h2>
<p>今出川中。大塊，其里色白，不油色，嚼之微辛甘者佳。他種不入藥，只可為末，煎湯沐浴。此藥今人所用最多，頭面風不可闕也，然須以他藥佐之。沈括云：予一族子，舊服芎藭，醫鄭叔熊見之云：芎藭不可久服，多令人暴死。後族子果無疾而卒。又朝士張子通之妻病腦風，服芎藭甚久，亦一旦暴亡。皆目見者。此蓋單服耳，若單服既久，則走散真氣。既使他藥佐使，又不久服，中病便已，則何能至此也。</p>

<h2>五味子</h2>
<p>今華州之西至秦州皆有之。方紅熟時採得，蒸爛，研，濾汁，去子，熬成稀膏。量酸甘入蜜，再火上，待蜜熟，俟冷，器中貯，作湯。肺虛寒人，可化為湯，時時服。作果，可以寄遠。《本經》言溫，今食之多致虛熱，小兒益甚。《藥性論》以謂除熱氣。《日華子》又謂暖水臟，又曰除煩熱。後學至此多惑。今既用之治肺虛寒，則更不取除煩熱之說。則下藥亦用之。入藥生曝，不去子。</p>

<h2>旋花</h2>
<p>旋花蔓生，今之河北、京西、關陝田野中甚多，最難鋤艾，治之又生。世又謂之鼓子花，言其形肖也。四五月開花，亦有多葉者。其根寸截，置土下，頻灌溉，方涉旬，苗已生。《蜀本·圖經》是矣。</p>

<h1>卷九</h1>

<h2>當歸</h2>
<p>《廣雅》云：「山蘄（古芹切）當歸也，似芹而粗大」。《說文》云：「蘄，草也，生山中者名薜（音百）」。新書《圖經》以謂「當歸，芹類也，在平地者名芹，生山中粗大者名當歸」。若然，則今川蜀皆以平地作畦種，尤肥好多脂肉。不以平地、山中為等差，但肥潤不枯燥者佳。今醫家用此一種為勝。市人又以薄酒灑，使肥潤，不可不察也。《藥性論》云：「補女子諸不足」。此說盡當歸之用矣。</p>

<h2>芍藥</h2>
<p>芍藥全用根，其品亦多，須用花紅而單葉，山中者為佳。花葉多，即根虛。然其根多赤色，其味澀苦，或有色白粗肥者益好。余如經。然血虛寒人禁此一物。古人有言曰：減芍藥以避中寒，誠不可忽。</p>

<h2>生薑</h2>
<p>治暴逆氣，嚼三兩皂子大，下咽定，屢服屢定。初得寒熱痰嗽，燒一塊，冷齧之，終日間嗽自愈。暴赤眼無瘡者，以古銅錢刮淨姜上取汁，於錢唇點目，熱淚出，今日點，來日愈。但小兒甚懼，不須疑，已試良驗。</p>

<h2>麻黃</h2>
<p>出鄭州者佳，剪去節，半兩，以蜜一匙匕，同炒良久，以水半升煎，俟沸，去上沫，再煎，去三分之一，不用滓。病瘡疱倒黶黑者，乘熱盡服之，避風，伺其瘡復出。一法用無灰酒煎。但小兒不能飲酒者難服，然其效更速。以此知此藥入表也。</p>

<h2>葛根</h2>
<p>澧、鼎之間，冬月取生葛，以水中揉出粉，澄成垛，先煎湯使沸，後擘成塊下湯中，良久，色如膠，其體甚韌，以蜜湯中拌食之。擦少生薑尤佳。大治中熱、酒、渴病，多食行小便，亦能使人利。病酒及渴者，得之甚良。彼之人，又切入煮茶中以待賓，但甘而無益。又將生葛根煮熟者，作果賣。虔、吉州、南安軍亦如此賣。</p>

<h2>栝樓實</h2>
<p>九月十月間取穰，以乾葛粉拌，焙乾，銀石器中熳火炒熟為末。食後，夜臥，以沸湯點一二錢服，治肺燥，熱渴，大腸秘。其根與貝母、知母、秦艽、黃芩之類，皆治馬熱。</p>

<h2>苦參</h2>
<p>有朝士苦腰重，久坐，旅拒十餘步，然後能行。有一將佐謂朝士曰：見公日逐以藥揩齒，得無用苦參否？曰：始以病齒，用苦參已數年。此病由苦參入齒，其氣味傷腎，故使人腰重。後有太常少卿舒昭亮，用苦參揩齒，歲久亦病腰。自後悉不用，腰疾皆愈，此皆方書舊不載者。有人病遍身風熱細疹，癢痛不可任，連胸頸臍腹及近隱處皆然，涎痰亦多，夜不得睡。以苦參末一兩，皂角二兩，水一升，揉濾取汁，銀石器熬成膏，和苦參末為丸，如梧桐子大，食後溫水服二十至三十丸，次日便愈。</p>

<h2>石龍芮</h2>
<p>今有兩種：水中生者，葉光而末圓；陸生者，葉有毛而末銳。入藥須生水者，陸生者又謂之天灸，取少葉揉係臂上，一夜作大泡如火燒者是。惟陸生者，補陰不足，莖常冷，失精。余如經。</p>

<h2>瞿麥</h2>
<p>八政散用瞿麥，今人為至要藥。若心經雖有熱而小腸虛者服之，則心熱未退，而小腸別作病矣。料其意者，不過為心與小腸為傳送，故用此入小腸藥。按經，瞿麥並不治心熱。若心無大熱，則當只治其心。若或制之不盡，須當求其屬以衰之。用八政散者，其意如此。</p>

<h2>白芷</h2>
<p>白芷，𦯓是也，出吳地者良。經曰：「能蝕膿。」今人用治帶下、腸有敗膿、淋露不已，腥穢殊甚，遂至臍腹更增冷痛。此蓋為敗膿血所致，卒無已期，須以此排膿。白芷一兩，單葉紅蜀葵根二兩，芍藥根白者、白礬各半兩，礬燒枯別研，余為末，同以蠟丸，如梧子大。空肚及飯前米飲下十丸或十五丸。俟膿盡。仍別以他藥補之。</p>

<h2>杜蘅</h2>
<p>用根，似細辛，但根色白，葉如馬蹄之下。市者往往亂細辛，須如此別之。《爾雅》以謂「似葵而香」，是也。將杜蘅與細辛相對，便見真偽。況細辛惟出華州者良。杜蘅其色黃白，拳局而脆，干則作團。</p>

<h2>紫菀</h2>
<p>紫菀用根，其根柔細，紫色，益肺氣，經具言之。《唐本》注言「無紫菀時，亦用白菀」。白菀即女菀也。今《本草》無白菀之名，蓋唐修《本草》時已刪去。</p>

<h2>百合</h2>
<p>張仲景用治傷寒壞後百合病須此也。莖高三尺許，葉如大柳葉，四向攢枝而上。其顛即有淡黃白花，四垂向下覆，長蕊。花心有檀色，每一枝顛，須五六花。子紫色，圓如梧子，生於枝葉間。每葉一子，不在花中，此又異也。根即百合，其色白，其形如松子殼，四向攢生，中間出苗。</p>

<h2>酸漿</h2>
<p>今天下皆有之。苗如天茄子，開小白花，結青殼。熟則深紅，殼中子大如櫻，亦紅色。櫻中復有細子，如落蘇之子，食之有青草氣。此即苦耽也。今《圖經》又立苦耽條，顯然重複。《本經》無苦耽。</p>

<h2>蠡實</h2>
<p>陶隱居云：方藥不復用，俗無識者。《本經》諸家所注不相應，若果是馬藺，則《日華子》不當更言亦可為蔬菜食。蓋馬藺其葉馬牛皆不食，為才出土葉已硬，況又無味，豈可更堪人食也。今不敢以蠡實為馬藺子，更俟博識者。</p>

<h2>石香葇</h2>
<p>石香葇處處有之，不必山岩石縫中，但山中臨水附崖處或有之。九月十月尚有花。</p>

<h1>卷十</h1>

<h2>款冬花</h2>
<p>百草中，惟此不顧冰雪，最先春也，世又謂之鑽凍。雖在冰雪之下，至時亦生芽。春時入或採以代蔬，入藥須微見花者良。如已芬芳，則都無力也。今人又多使如箸頭者，恐未有花爾。有人病咳多日，或教以然款冬花三兩枚，於無風處，以筆管吸其煙，滿口則咽之。數日效。</p>

<h2>牡丹</h2>
<p>用其根上皮。花亦有緋者，如西洛潛溪緋是也。今禁苑又有深碧色者。惟山中單葉花紅者為佳，家椑子次之。若移枝接者不堪用，為其花葉既多發，奪根之氣也。何以知之？今千葉牡丹，初春留花稍多，來年花枝並葉便瘦，多是開不成。市人或以枝梗皮售於人，其乖殊甚。</p>

<h2>女苑</h2>
<p>一名白苑。或者謂為二物，非也。唐刪去白苑之條，甚合宜。陶能言，不能指說性狀。余從經中，所說甚明，今直取經。</p>

<h2>澤蘭</h2>
<p>按《補註》云：「葉如蘭。」今蘭葉如麥門冬，稍闊而長，及一二尺無枝梗，殊不與澤蘭相似。澤蘭才出土便分枝梗，葉如菊，但尖長。若取其香嗅，則稍相類。既謂之澤蘭，又曰生汝南大澤旁，則其種本別。如蘭之說誤矣。</p>

<h2>地榆</h2>
<p>性沉寒，入下焦，熱血痢則可用。若虛寒人及水瀉白痢，即未可輕使。</p>

<h2>白前</h2>
<p>保定肺氣，治嗽多用。白而長於細辛，但粗而脆，不似細辛之柔。以溫藥相佐使，則尤佳。余如經。</p>

<h2>土瓜</h2>
<p>體如栝樓，其殼徑寸。一種長二寸許，上微圓，下尖長，七八月間熟，紅赤色。殼中子如螳螂頭者，今人又謂之赤雹子，其根即土瓜根也。於細根上又生淡黃根，三五相連，如大指許。根與子兩用，紅子同白土子，治頭風。</p>

<h2>薺苨</h2>
<p>今陝州採為脯，別有法，甚甘美，兼可寄遠。古人以謂薺苨似人參者是。此解藥毒甚驗。</p>

<h2>積雪草</h2>
<p>今南方多有，生陰濕地，不必荊楚。形如水荇而小，面亦光潔，微尖為異。今人謂之連錢草，蓋取象也。其葉各生。搗爛，貼一切熱毒癰疽等。秋後收之，蔭干為末，水調。</p>

<h2>莎草</h2>
<p>其根上如棗核者，又謂之香附子，亦入印香中，亦能走氣，今人多用。雖生於莎草根，然根上或有或無。有薄皸皮，紫黑色，非多毛也。刮去皮則色白。若便以根為之，則誤矣。其味苦。</p>

<h2>惡實</h2>
<p>惡實是子也，今謂之牛蒡。未去萼時，又謂之鼠黏子，根謂之牛菜。疏風壅涎唾多，咽膈不利。微炒，同入荊芥穗各一兩，甘草炙半兩，併為末。食後、夜臥，湯點二錢服，當緩取效。子在萼中，萼上有細鉤，多至百十，謂之芒則誤矣。根長一二尺，粗如拇指，煮爛為菜。</p>

<h2>大小薊</h2>
<p>大小薊皆相似，花如髻。但大薊高三二尺，葉皺。小薊高一尺許，葉不皺，以此為異。小薊，山野人取為蔬，甚適用。雖有微芒，亦不能害人。</p>

<h2>艾葉</h2>
<p>艾葉乾搗，篩去青滓，取白。入石硫黃，為硫黃艾，灸家用。得米粉少許，可搗為末，入服食藥。入硫黃別有法。</p>

<h2>陟釐</h2>
<p>陟釐，今人治為苔脯堪啖，京城市者甚多。然治渴疾，仍須禁食鹽。余方家亦罕用。</p>

<h2>菟葵</h2>
<p>綠葉如黃蜀葵，花似拗霜甚雅，形如至小者初開單葉蜀葵。有檀心，色如牡丹姚黃蕊，則蜀葵也。唐劉夢得還京云：唯菟葵燕麥，動搖春風者是也。</p>

<h2>白藥</h2>
<p>白藥，今為治馬肺熱藥，有效。</p>

<h2>蘹香子</h2>
<p>今人只呼為茴香，治膀胱冷氣及腫痛。亦調和胃氣。《唐本》注：「似老胡荽」，此誤矣。胡荽葉如蛇床，蘹香徒有葉之名，但散如絲髮，特異諸草。枝上時有大青蟲，形如蠶，治小腸氣甚良。</p>

<h2>鬱金</h2>
<p>鬱金不香。今人將染婦人衣最鮮明，然不奈日炙。染成衣，則微有鬱金之氣。</p>

<h2>肉豆蔻</h2>
<p>對草豆蔻言之。去殼，只用肉，肉油色者佳。枯白，味薄，瘦虛者下等。亦善下氣，多服則泄氣，得中則和來其氣。</p>

<h2>茅香</h2>
<p>茅香花白。根如茅，但明潔而長。皆可作浴湯，同藁本尤佳。仍入印香中，合香附子用。</p>

<h2>青黛</h2>
<p>青黛乃藍為之。有一婦人患臍下腹上、下連二陰遍滿生濕瘡，狀如馬瓜瘡，他處並無，熱癢而痛，大小便澀，出黃汁，食亦減，身面微腫。醫作惡瘡治，用鰻鱺魚、松脂、黃丹之類。藥塗上，瘡愈熱，痛愈甚。治不對，故如此。問之，此人嗜酒，貪啖，喜魚蟹發風等物。令急用溫水洗拭去膏藥，尋以馬齒莧四兩，爛研細，入青黛一兩，再研勻，塗瘡上，即時熱減，痛癢皆去。仍服八政散，日三服，分敗客熱。每塗藥，得一時久。藥已乾燥，又再塗新濕藥。凡如此，及日減三分之一，五日減三分之二，自此二十日愈。既愈而問曰：此瘡何緣至此？曰：中、下焦蓄風熱毒氣，若不出，當作腸癰內痔，仍常須禁酒及發風物。然不能禁酒，後果然患內痔。</p>

<h2>零陵香</h2>
<p>零陵香至枯乾猶香，入藥絕可用。婦人浸油飾發，香無以加，此即蕙草是也。</p>

<h2>天麻</h2>
<p>天麻用根，須別藥相佐使，然後見其功，仍須加而用之。人或蜜漬為果，或蒸煮食。用天麻者，深思之則得矣。苗則赤箭也。</p>

<h2>蓽茇</h2>
<p>蓽茇走腸胃中冷氣，嘔吐，心腹滿痛。多服走泄真氣，令人腸虛下重。</p>

<h2>使君子</h2>
<p>紫黑色，四稜高，瓣深。今經中謂之稜瓣深，似令人難解。秋末冬初，人將入鼎、澧。其仁味如椰子肉。經不言用仁，為復用皮。今按文味甘即是用肉，然難得仁，蓋絕小。今醫家或兼用殼。</p>

<h2>密蒙花</h2>
<p>利州路甚多。葉冬亦不凋，然不似冬青。蓋柔而不光潔，不深綠，花細碎，數十房成一朵，冬生春開。此木也，今居草部，恐未盡善。</p>

<h1>卷十一</h1>

<h2>大黃</h2>
<p>大黃損益，前書已具。仲景治心氣不足、吐血、衄血。瀉心湯用大黃、黃芩、黃連。</p>
<p>或曰：心氣既不足矣，而不用補心湯，更用瀉心湯，何也？答曰：若心氣獨不足，則不當須吐衄也。此乃邪熱，因不足而客之，故吐衄。以苦泄其熱，就以苦補其心，蓋兩全之。有是證者，用之無不效。量虛實用藥。</p>

<h2>桔梗</h2>
<p>治肺熱，氣奔促，嗽逆，肺癰，排膿。陶隱居云：俗方用此，乃名薺苨。今別有薺苨，所謂亂人參者便是，非此桔梗也。《唐本》注云：「陶引薺苨亂人參，謬矣。」今詳之，非也。隱居所言，其意只以根言之，所以言亂人參。《唐本》注卻以苗難之，乃本注誤矣。</p>

<h2>甘遂</h2>
<p>今惟用連珠者，然經中不言，此藥專於行水攻決為用，入藥須斟酌。</p>

<h2>葶藶</h2>
<p>葶藶用子。子之味有甜、苦兩等，其形則一也。經既言味辛苦，即甜者不復更入藥也。大概治體皆以行水走泄為用，故曰久服令人虛。蓋取苦泄之義，其理甚明。《藥性論》所說盡矣，但不當言味酸。</p>

<h2>蕘花</h2>
<p>今京、洛間甚多。張仲景《傷寒論》以蕘花治利者，以其行水也。水去則利止，其意如此。然今人用時，當以意斟酌，不可使過與不及也。仍須是有是證者方可用。</p>

<h2>旋覆花</h2>
<p>葉如大菊，又如艾蒿。八九月有花，大如梧桐子，花淡黃綠，繁茂，圓而覆下，亦一異也。其香過於菊，行痰水，去頭目風。其味甘苦辛，亦走散之藥也。其旋花四月五月有花，別一種，非此花也，第八卷已具。</p>

<h2>藜蘆</h2>
<p>藜蘆為末，細調，治馬疥癢。</p>

<h2>烏頭、烏喙、天雄、附子、側子</h2>
<p>凡五等，皆一物也，只以大小、長短、似像而名之。後世補虛寒，則須用附子，仍取其端平而圓、大及半兩以上者。其力全不僭。風家即多用天雄，亦取其大者。以其尖角多熱性，不肯就下，故取敷散也。此用烏頭、附子之大略如此。餘三等，則量其材而用之。其炮製之法，經方已著。</p>

<h2>射干</h2>
<p>此乃荀子所說「西方之木，名曰射干」者也。《注》復引《本草》曰：「不合以射干為木」。殊不知五行只以水、火、木、金、土而言之，故儒者以草、木皆木也，金、鉛皆金也，糞、土皆土也，灰、火皆火也，水、池皆水也。由是言之，即非佛經所說火宅喻之獸，及阮公所云臨層城者之木。況《本經》亦曰：「一名草姜」，故知是草無疑。今治肺氣、喉痹為佳。日華子曰：「大小似高良薑，赤黃色」。此得之。</p>

<h2>半夏</h2>
<p>今人惟知去痰，不言益脾，蓋能分水故也。脾惡濕，濕則濡而困，困則不能制水。經曰：「濕勝則瀉」。一男子夜數如廁，或教以生薑壹兩碎之，半夏湯洗，與大棗各三十枚，水一升，瓷瓶中慢火燒為熟水，時時呷，數日便已。</p>

<h2>蜀漆</h2>
<p>常山苗也。治瘧、多吐人，其他亦未見所長。此草也。慮歲久，人或別有異論，故預云。余如經。</p>

<h2>常山</h2>
<p>蜀漆根也，亦治瘧、吐痰，如雞骨者佳。</p>

<h2>青葙子</h2>
<p>經中並不言治眼，《藥性論》始言之。能治肝藏熱毒沖眼、赤障、青盲。蕭炳可云：「理眼。」日華子云：「益腦髓，明耳目，鎮肝。」今人多用之治眼，殊不與經意相當。</p>

<h2>白蘞　白芨</h2>
<p>古今服餌方少有用者，多見於斂瘡方中。二物多相須而行。</p>

<h2>草蒿</h2>
<p>今青蒿也，在處有之，得春最早，人剔以為蔬，根赤葉香。今人謂之青蒿，亦有所別也。但一類之中，又取其青者。陝西、綏、銀之間有青蒿。在蒿叢之間，時有一兩窠，迥然青色，土人謂之為香蒿。莖葉與常蒿一同，但常蒿色淡青，此蒿色深青。猶青，故氣芬芳。恐古人所用以深青者為勝，不然諸蒿何嘗不青？</p>

<h1>卷十二</h1>

<h2>連翹</h2>
<p>亦不至翹出眾草、下濕地亦無，太山山谷間甚多。今只用其子。折之，其間片片相比如翹，應以此得名爾。治心經客熱最勝，尤宜小兒。</p>

<h2>白頭翁</h2>
<p>生河南洛陽界及新安土山中。性溫，止腹痛，暖腰膝。《唐本》注及《藥性論》甚詳。陶隱居失於不審，宜其排叱也。新安縣界兼山野中屢嘗見之，正如《唐本》注所說。至今本「處山中人賣白頭翁丸，言服之壽考」，又失古人命名之意。</p>

<h2>䕡茹</h2>
<p>䕡茹治疥，馬疥尤善。服食方用者至少。</p>

<h2>羊蹄</h2>
<p>經不言根，《圖經》加根字。處處有。葉如菜中菠薐，但無歧，而色差青白。葉厚，花與子亦相似。葉可潔擦䃋浦器，根取汁塗疥癬。子謂之金喬麥，燒煉家用以制鉛汞。又銼根，研，絞汁，取三二匙，水半盞，煎一二沸，溫溫空肚服。治產後風秘，殊驗。</p>

<h2>蒴藋</h2>
<p>蒴藋與陸英，既性味及出產處不同，治療又別，自是二物，斷無疑焉。況蒴藋花白，子初青如綠豆顆，每朵如盞面大，又平生，有一二百子，十月方熟紅，豈得言剩出此條，孟浪之甚也。</p>

<h2>夏枯草</h2>
<p>今又謂之郁臭。自秋便生，經冬不瘁。春開白花，中夏結子，遂枯。古方九燒灰，合緊面藥。初生嫩時作菜食之，須浸洗，淘去苦水，治瘰癧鼠漏。</p>

<h2>蚤休</h2>
<p>蚤休無旁枝，只一莖，挺生，高尺余，顛有四五葉，葉有歧，似虎杖。中心又起莖，亦如是生葉，惟根入藥用。</p>

<h2>虎杖</h2>
<p>根微苦，經不言味，此草藥也。《蜀本·圖經》言：「作木，高丈餘」。此全非虎杖，大率皆似寒菊。然花、葉、莖、蕊差大為異，仍莖葉有淡黑斑。自六七月旋旋開花，至九月中方已。花片四出，其色如桃花差大，外微深。陝西山麓水次甚多，今天下暑月多煎根汁為飲，不得甘草，則不堪飲。《藥性論》云：「和甘草煎，嘗之甘美。」其味甘，即是甘草之味，非虎杖也。論其攻治則甚當。</p>

<h2>馬勃</h2>
<p>此唐韓退之所謂「牛溲馬勃俱收並蓄」者也。有大如斗者，小亦如升杓。去膜，以蜜揉拌，少以水調，呷，治喉閉咽痛。</p>

<h2>虯莓</h2>
<p>今田野道旁處處有之，附地生。葉如覆盆子，但光潔而小，微有縐紋。花黃，比蒺藜花差大，春末夏初，結紅子如荔枝色。余如經。</p>

<h2>苧根</h2>
<p>如蕁麻。花如白楊而長，成穗生，每一朵，凡數十穗，青白色。</p>

<h2>菰根</h2>
<p>蒲類。四時取根搗，絞汁用。河朔邊人只以此苗飼馬，曰菰蔣，及作薦。花如葦，結青子，細若青麻黃，長几寸。彼人收之，合粟為粥，食之甚濟飢，此杜甫所謂「願作冷秋菰」者是也。為其皆生水中及岸際，多食亦令人利。</p>

<h2>蕕草</h2>
<p>《爾雅》曰：蕕（音猶）蔓子。《左傳》亦曰：「一薰一蕕，十年尚蕕臭」者，是此草。</p>

<h2>牽牛子</h2>
<p>諸家之說紛紛不一，陶隱居尤甚。言花狀如扁豆，殊不相當。花朵如鼓子花，但碧色，日出開，日西合。今注又謂其中子類喬麥，亦非也。蓋直如木猴梨子，但黑色，可微炒，搗取其中粉一兩，別以麩炒去皮尖者，桃仁末半兩，以熟蜜和丸如梧桐子，溫水服三二十丸，治大腸風秘壅熱。苦澀，不可久服，亦行脾腎氣故也。</p>

<h2>蓖麻子</h2>
<p>蓖麻子作朵生，從下旋旋開花而上，從下結子，宛如牛身之蜱。取子炒熟，去皮，爛嚼，臨睡服三二枚，漸加至十數枚。治瘰癧，必效。</p>

<h2>葎草</h2>
<p>葎草，葛勒蔓也。治傷寒汗後虛熱，銼，研，取生汁，飲一合，愈。</p>

<h2>獨行根</h2>
<p>苗蔓生，子則馬兜零也。根扁，其嗅稍似葛根。細搗，水調，敷疔腫。後有馬兜零條。</p>

<h2>芭蕉</h2>
<p>三年以上，即有花自心中出，一莖只一花，全如蓮花。葉亦相似，但其色微黃綠，從下脫葉。花心但向上生，常如蓮樣，然未嘗見其花心，剖而視之亦無蕊，悉是葉，但花頭常下垂。每一朵，自中夏開，直至中秋後方盡。凡三葉，開則三葉脫落。北地惜其種，人故少用。縷其苗為布。取汁，婦人塗發令黑。余說如經。</p>

<h2>蒲公草</h2>
<p>今地丁也，四時常有花，花罷飛絮，絮中有子，落處即生。所以庭院間亦有者，蓋因風而來也。</p>

<h2>水紅子</h2>
<p>不以多少，微炒一半，餘一半生用，同為末，好酒調二錢，日三服，食後、夜臥，各一服。治瘰癧，瘡破者亦治。</p>

<h2>水蓼</h2>
<p>大率與水紅相似，但枝低爾，今造酒，取以水浸汁，和麵作曲，亦假其辛味。</p>

<h2>角蒿</h2>
<p>莖葉如青蒿，開淡紅紫花，花大約徑三四分。花罷，結角子，長二寸許，微彎。苗與角治口齒絕勝。</p>

<h2>雀麥</h2>
<p>今謂之燕麥，其苗與麥同，但穗細長而疏。唐劉夢得所謂「菟葵燕麥搖春風」者也。</p>

<h2>骨碎補</h2>
<p>苗不似姜，姜苗如葦梢。此物苗，每一大葉兩邊，小葉槎牙，兩兩相對，葉長有尖瓣。余如經。</p>

<h2>馬兜零</h2>
<p>蔓生，附木而上。葉脫時，零尚垂之，其狀如馬項鈴，故得名。然熟時則自拆，拆間有子。全者，採時須八九月間。治肺氣喘急。</p>

<h2>燈心草</h2>
<p>陝西亦有。蒸熟，干則拆取中心穰然燈者，是謂之熟草，又有不蒸，但生干剝取者，為生草。入藥宜用生草。</p>

<h2>威靈仙</h2>
<p>治腸風。根性快，多服疏人五臟真氣。</p>

<h2>何首烏</h2>
<p>兼黑髭鬢，與蘿蔔相惡，令人髭鬢早白。治腸風熱多用。</p>

<h2>五倍子</h2>
<p>今染家亦用。口瘡以末摻之，便可飲食。</p>

<h2>金櫻子</h2>
<p>經：「九月十月熟時採」，不爾，復令人利。</p>

<h2>萱草</h2>
<p>根洗淨研汁一盞，生薑汁半盞相和，時時細呷，治大熱衄血。</p>

<h2>葫蘆巴</h2>
<p>《本經》云：「得蘹香子、桃仁，治膀胱氣甚效。」嘗合，惟桃仁麩炒，各等分，半以酒糊丸，半為散。每服五七十丸，空心食前鹽酒下。散以熱米飲調下，與丸子相間，空心服。日各一二服。</p>

<h2>金星草</h2>
<p>丹石毒發於背，及一切癰腫。每以根葉一分，用酒一大盞，煎汁服。不惟下所服石藥，兼毒去、瘡愈。如不欲酒，將末一二分，新汲水調服，以知為度。</p>

<h2>木賊</h2>
<p>細銼，微微炒，搗為末，沸湯點二錢，食前服，治小腸膀胱氣，緩緩服必效。</p>

<h1>卷十三</h1>

<h2>茯苓</h2>
<p>乃樵斫訖多年松根之氣所生。此蓋根之氣味，噎郁未絕，故為是物。然亦由土地所宜與不宜。其津氣盛者，方發泄於外，結為茯苓，故不抱根而成物。既離其本體，則有苓之義。茯神者，其根但有津氣而不甚盛，故只能伏結於本根，既不離其本，故曰茯神。此物行水之功多，益心脾不可闕也。或曰松既樵矣，而根尚能生物乎？答曰：如馬勃、菌、五芝、木耳、石耳之類，皆生於枯木、石、糞土之上，精英未淪，安得不為物也。其上有菟絲，下有茯苓之說，甚為輕信。</p>

<h2>琥珀</h2>
<p>今西戎亦有之，其色差淡而明澈。南方者色深而重濁，彼土人多碾為物形。若謂千年茯苓所化，則其間有沾著蜾蠃蜂蟻，宛然完具者，是極不知也。《地理志》云：「林邑多琥珀，實松脂所化耳。」此說為勝，但土地有所宜不宜，故有能化有不能化者。張茂先又為「燒蜂窠所作」，不知得於何處。以手摩熱，可以拾芥。余如經。</p>

<h2>松黃</h2>
<p>一如蒲黃，但其味差淡。治產後壯熱、頭痛頰赤、口乾唇焦、多煩躁渴、昏悶不爽。松花、川芎、當歸、石膏、蒲黃五物等同為末，每服二錢，水二合，紅花二捻，同煎七分，去滓，粥後溫溫細呷。</p>
<p>松子，多東海來，今關右亦有，但細小味薄，與柏子仁同治虛秘。</p>

<h2>柏</h2>
<p>取脂以療馬瘑疥。今未見用松脂者。老人虛秘，柏子仁、大麻子仁、松子仁等分，同研，溶白蠟，丸桐子大。以少黃丹湯，服二三十丸，食前。嘗官陝西，每登高望之，雖千萬株，皆一一西指。蓋此木為至堅之木，不畏霜雪，得木之正氣，他木不逮也。所以受金之正氣所制，故一一向之。</p>

<h2>桂</h2>
<p>桂大熱。《素問》云：辛甘，發散為陽。故漢張仲景桂枝湯，治傷寒表虛皆須此藥，是專用辛甘之意也。《本草》第一又云：「療寒以熱藥」。故知三種之桂，不取菌桂、牡桂者，蓋此二種，性止溫而已，不可以治風寒之病。獨有一字桂，《本經》言甘辛大熱，此正合《素問》辛甘發散為陽之說，尤知菌、牡二桂不及也，然《本經》只言桂，仲景又言桂枝者，蓋亦取其枝上皮。其木身粗厚處，亦不中用。諸家之說，但各執己見，終無證據。今又謂之官桂，不知緣何而立名。慮後世為別物，故書之。又有桂心，此則諸桂之心，不若一字桂也。</p>

<h2>楓香</h2>
<p>與松脂皆可亂乳香，尤宜區別。楓香微黃白色，燒之尤見真偽。兼能治風癮疹癢毒。水煎，熱燥洗。</p>

<h2>乾漆</h2>
<p>若濕漆，藥中未見用。凡用者，皆乾漆耳。其濕者，在燥熱及霜冷時則難乾，得陰濕，雖寒月亦易干。亦物之性也。若沾漬人，以油治之。凡驗漆，惟稀者以物蘸起細而不斷，斷而急收起，又塗於干竹上，蔭之速乾者，並佳。余如經。</p>

<h2>蔓荊實</h2>
<p>諸家所解，蔓荊、牡荊紛糾不一。經既言蔓荊，明知是蔓生，即非高木也。既言牡荊，則自是木上生者。況《漢書·郊祀志》所言「以牡荊莖為幡竿」，故知蔓荊即子大者是，又何疑焉。後條有欒荊，此即便是牡荊也。子青色，如茱萸，不合更立欒荊條。故文中雲：本草不載，亦無別名，但有欒花，功用又別，斷無疑焉。《注》中妄稱石荊當之，其說轉見穿鑿。</p>

<h2>桑寄生</h2>
<p>新舊書云：今處處有之。從宦南北，實處處難得，豈歲歲窠斫摘踐之苦，而不能生邪？抑方宜不同也？若以為鳥食物子落枝節間，感氣而生，則麥當生麥，谷當生谷，不當但生此一物也。又有於柔滑細枝上生者，如何得子落枝節間？由是言之，自是感造化之氣，別是一物。古人當日惟取桑上者，實假其氣耳。又云今醫家鮮用，此極誤矣。今醫家非不用也，第以難得真桑上者。嘗得真桑寄生，下咽必驗如神。向承乏吳山，有求藥於諸邑者，乃遍令人搜摘，卒不可得，遂以實告，甚不樂。蓋不敢以偽藥罔人。鄰邑有人偽以他木寄生送之，服之逾月而死。哀哉！</p>

<h2>沉香木</h2>
<p>嶺南諸郡悉有之，旁海諸州尤多。交干連枝，崗嶺相接，千里不絕。葉如冬青，大者合數人抱。木性虛柔，山民或以構茅廬，或為橋梁，或為飯甑尤佳。有香者，百無一二。蓋木得水方結，多在折枝枯乾中，或為沉，或為煎，或為黃熟。自枯死者，謂之水盤香。今南恩、高、竇等州，惟產生結香。蓋山民入山，見香木之曲干斜枝，必以刀斫成坎，經年得雨水所漬，遂結香。復以鋸取之，刮去白木，其香結為斑點，遂名鷓鴣斑，燔之極清烈。沉之良者，惟在瓊崖等州，俗謂之角沉。黃沉乃枯木中得者，宜入藥用。依木皮而結者，謂之青桂，氣尤清。在土中歲久，不待刓剔而成者，謂之龍鱗。亦有削之自卷，咀之柔韌者，謂之黃蠟沉，尤難得也。然經中只言療風水毒腫，去惡氣，余更無治療。今醫家用以保和衛氣，為上品藥，須極細為佳。今人故多與烏藥磨服，走散滯氣，獨行則勢弱，與他藥相佐，當緩取效，有益無損。余藥不可方也。</p>

<h2>薰陸香</h2>
<p>薰陸香，木葉類棠梨。南印度界阿吒釐國出，今謂之西香。南番者更佳，此即今人謂之乳香，為其垂滴如乳。熔塌在地者，謂之塌香。皆一也。</p>

<h2>丁香</h2>
<p>《日華子》云：「治口氣。」此正是御史所含之香。治胃寒及脾胃冷氣不和。有大者名母丁香，氣味尤佳。為末，縫紗囊如小指，實末，內陰中，主陰冷病，中病便已。</p>

<h2>柏木</h2>
<p>今用皮。以蜜勻炙，與青黛各一分，同為末，入生龍腦一字，研勻。治心脾熱，舌頰生瘡。當摻瘡上，有涎即吐。又張仲景柏皮湯，無不驗。《傷寒論》中已著。</p>

<h2>辛夷</h2>
<p>先花後葉，即木筆花也。最先春，以其花未開時，其花苞有毛，光長如筆，故取像曰木筆。有紅、紫二本，一本如桃花色者，一本紫者。今入藥當用紫色者，仍須未開時收取。入藥，去毛苞。</p>

<h2>榆皮</h2>
<p>今初春先生莢者是。去上皺澀乾枯者，將中間嫩處，銼、干、磑為粉。當歉歲，農將以代食。葉青嫩時收貯，亦用以為羹茹。嘉祐年，過豐、沛，人闕食，鄉民多食此。</p>

<h2>蕪荑</h2>
<p>有大小兩種，小蕪荑即榆莢也。揉取仁，醞為醬，味尤辛。入藥，當用大蕪荑，別有種。然小蕪荑醞造多假，以外物相和，切須擇去也。治大腸寒滑及多冷氣，不可缺。</p>

<h2>酸棗</h2>
<p>酸棗微熱。經不言用仁，仍療不得眠。天下皆有之，但以土產宜與不宜。嵩陽子曰：「酸棗縣，即滑之屬邑，其木高數丈，味酸，醫之所重。今市人賣者，皆棘子。」此說未盡。殊不知小則為棘，大則為酸棗，平地則易長，居崖塹則難生。故棗多生崖塹上，久不樵則成干，人方呼為酸棗，更不言棘，徒以世人之意如此，在物則曷若是也，其實一本。以其不甚為世所須，及礙塞行路，故成大木者少，多為人樵去。然此物才及三尺，便開花結子。但窠小者氣味薄，本大者氣味厚，又有此別。今陝西臨潼山野所出者亦好，亦土地所宜也，並可取仁。後有白棘條，乃是酸棗未為大時，枝上刺也。及至長成，其刺亦少，實亦大。故棗取大木，刺取小窠也，亦不必強分別爾。</p>

<h2>槐實</h2>
<p>槐實只言實，今當分為二。實本出夾中，若搗夾作煎者，當言夾也。夾中子，大如豆，堅而紫色者，實也。今本條不析出夾與夾中子，蓋其用各別，皆疏導風熱。</p>

<h2>槐花</h2>
<p>今染家亦用，收時折其未開花，煮一沸，出之釜中，有所澄下稠黃滓，滲漉為餅，染色更鮮明。治腸風熱瀉血甚佳，不可過劑。</p>

<h2>枸杞</h2>
<p>枸杞當用梗皮，地骨當用根皮，枸杞子當用其紅實，是一物有三用。其皮寒，根大寒，子微寒，亦三等。此正是孟子所謂「性由杞柳」之杞。後人徒勞分別，又為之枸棘，茲強生名耳。凡杞，未有無棘者，雖大至有成架，然亦有棘。但此物小則多刺，大則少刺，還如酸棗及棘，其實皆一也。今人多用其子，直為補腎藥，是曾未考究經意，當更量其虛實冷熱用之。</p>

<h1>卷十四</h1>

<h2>龍眼</h2>
<p>經曰：一名益智。今專為果，未見入藥。《補註》不言，《神農本草》編入木部中品，果部中復不曾收入。今除為果之外，別無龍眼。若為益智子，則專調諸氣，今為果者復不能也。矧自有益智條，遠不相當，故知木部龍眼，即便是今為果者。按今《注》云：「甘味歸脾，而能益智。」此說甚當。</p>

<h2>厚朴</h2>
<p>今西京伊陽縣及商州亦有，但薄而色淡，不如梓州者厚而紫色有油。味苦，不以薑製，則棘人喉舌。平胃散中用，最調中。至今此藥盛行，既能溫脾胃氣，又能走冷氣，為世所須也。</p>

<h2>豬苓</h2>
<p>行水之功多，久服必損腎氣、昏人目。果欲久服者，更宜詳審。</p>

<h2>竹葉</h2>
<p>凡諸竹與筍，性皆微寒，故知葉其用一致。《本經》不言筍及苦竹性，若取瀝作油，亦不必強擇也。張仲景竹葉湯用淡竹。筍難化，不益脾。鄰家一小兒，方二歲，偶失照管，壯熱喘粗、不食多睡、仰頭呻吟、微嘔逆、瞑目多驚，凡三五日，醫作慢驚治之。治不對，病不愈。忽然其母誤將有巴豆食藥作驚藥，化五丸如麻子大，灌之。稍久，大吐，有物噎於喉中，乳媼以指摘出之，約長三寸，粗如小指，乃三日前，臨階曝者干箭筍。是夜諸證皆定，次日但以和氣藥調治，遂安。其難化也如此。經曰：問而知之者謂之工。小兒不能問，故為難治，醫者當慎謹也。</p>

<h2>枳實</h2>
<p>枳實、枳殼一物也。小則其性酷而速，大則其性詳而緩。故張仲景治傷寒倉猝之病，承氣湯中用枳實，此其意也。皆取其疏通決泄、破結實之義。他方但導敗風壅之氣，可常服者，故用枳殼，其意如此。</p>

<h2>山茱萸</h2>
<p>與吳茱萸甚不相類。山茱萸色紅，大如枸杞子。吳茱萸如川椒，初結子時，其大小亦不過椒，色正青。得名則一，治療又不同。未審當日何緣如此命名。然山茱萸補養腎臟，無一不宜。經與《注》所說備矣。</p>

<h2>吳茱萸</h2>
<p>須深湯中浸去苦烈汁，凡六七過，始可用。今文與注及注中藥法皆不言，亦漏落也。此物下氣最速，腸虛人服之愈甚。</p>

<h2>梔子</h2>
<p>仲景治發汗吐下後，虛煩不得眠，若劇者，必反覆顛倒，心中懊憹，梔子豉湯治之。虛，故不用大黃，有寒毒故也。梔子雖寒無毒，治胃中熱氣，既亡血、亡津液，腑臟無潤養，內生虛熱，非此物不可去，張仲景《傷寒論》已著。又治心經留熱，小便赤澀，去皮山梔子、火炮大黃、連翹、甘草炙，等分，末之，水煎三二錢匕，服之無不效。</p>

<h2>檳榔</h2>
<p>二書所說甚詳，今人又取尖長者入藥，言其快銳速效，屢嘗試之，果如其說。</p>

<h2>合歡花</h2>
<p>其色如今之醮暈線，上半白，下半肉紅，散垂如絲，為花之異。其綠葉至夜則合，又謂之夜合花。陳藏器、日華子皆曰皮殺蟲，又曰續筋骨。經中不言。</p>

<h2>秦椒</h2>
<p>此秦地所生者，故言秦椒。大率椒株皆相似，秦椒但葉差大，椒粒亦大而紋低，不若蜀椒皺紋高，為異也。然秦地亦有蜀種椒，如此區別。</p>

<h2>衛矛</h2>
<p>所在山谷皆有之，然未嘗於平陸地見也。葉絕少，其莖黃褐色，若柏皮，三面如鋒刃，人家多燔之遣祟。方家用之亦少。</p>

<h2>紫葳</h2>
<p>今蔓延而生，謂之為草。又有木身，謂之為木。又須物而上。然幹不逐冬斃，亦得木之多也，故分入木部為至當。唐白樂天詩：「有木名凌霄，擢秀非孤標。」由是益知非草也。《本經》又云：「莖葉味苦。」是與瞿麥別一種甚明。《唐本·注》云：「且紫葳、瞿麥皆《本經》所載，若用瞿麥根為紫葳，何得復用莖葉？」此說盡矣。然其花赭黃色，本條雖不言其花，又卻言莖葉味苦，則紫葳為花，故可知矣。</p>

<h2>蕪荑</h2>
<p>性溫，治大腸寒滑不可缺也，須佐以他藥為丸服。溫而散走寒氣。</p>

<h2>茗苦𣗪</h2>
<p>今茶也。其文有陸羽《茶經》、丁謂《北苑茶錄》、毛文錫《茶譜》、蔡宗顏《茶山節對》。其說甚詳。然古人謂其芽為雀舌、麥顆，言其至嫩也。又有新芽一發便長寸余，微粗如針。惟芽長為上品，其根干、水土力，皆有餘故也。如雀舌、麥顆，又下品。前人未盡識，誤為品題。唐人有言曰：「釋滯消壅，一日之利暫佳。」斯言甚當，飲茶者宜原其始終。又，晉溫嶠上表「貢茶千斤，茗三百斤。」郭璞曰：「早採為茶，晚採為茗。」茗，或曰荈（尺兗切），葉老者也。</p>

<h2>桑根白皮</h2>
<p>桑根白皮條中，桑之用稍多，然獨遺烏椹，桑之精英盡在於此。採摘，微研，以布濾去滓，石器中熬成稀膏，量多少入蜜，再熬成稠膏，貯瓷器中。每抄一二錢，食後、夜臥，以沸湯點服。治服金石發熱渴，生精神，及小腸熱，性微涼。</p>

<h2>白棘</h2>
<p>一名棘針，一名棘刺。按經如此甚明，諸家之意強生疑惑，今掠不取，求其經而可矣。其白棘，乃是取其肥盛紫色，枝上有皺薄白膜先剝起者，故曰白棘。取白之意，不過如此。其棘刺花，乃是棘上所開花也，余無他義。今人燒枝取油，塗垢發，使垢解。</p>

<h2>龍腦</h2>
<p>條中與《圖經》所說各未盡。此物大通利關膈熱塞，其清香為百藥之先。大人、小兒風涎閉壅及暴得驚熱，甚濟用。然非常服之藥，獨行則勢弱，佐使則有功。於茶亦相宜，多則掩茶氣味，萬物中香無出其右者。西方抹羅矩吒國，在南印度境，有羯布羅香。干如松株，葉異，濕時無香。採，干之後折之，中有香，狀類雲母，色如冰雪，此龍腦香也。蓋西方亦有。</p>

<h2>庵摩勒</h2>
<p>余甘子也。解金石毒，為末，作湯點服。佛經中所謂庵摩勒果者是此。蓋西方亦有。</p>

<h2>紫𨥥</h2>
<p>（音礦）如糖霜結於細枝上，累累然，紫黑色，研破則紅。今人用造綿煙脂，邇來亦難得。余如經。</p>

<h2>天竹黃</h2>
<p>自是竹內所生，如黃土著竹成片。涼心經，去風熱，作小兒藥尤宜，和緩故也。</p>

<h2>天竺桂</h2>
<p>與牡菌桂同，但薄而已。</p>

<h2>烏藥</h2>
<p>和來氣少，走泄多，但不甚剛猛。與沉香同磨作湯點。治胸腹冷氣，甚穩當。</p>

<h2>沒藥</h2>
<p>大概通滯血，打撲損疼痛，皆以酒化服。血滯則氣壅淤，氣壅淤則經絡滿急，經絡滿急，故痛且腫。凡打撲著肌肉須腫脹者，經絡傷，氣血不行，壅淤，故如是。</p>

<h2>墨</h2>
<p>松之煙也。世有以粟草灰偽為者，不可用。須松煙墨，方可入藥，然惟遠煙為佳。今高麗國每貢墨於中國，不知用何物合和，不宜入藥。此蓋未達不敢嘗之義。又治大吐血，好墨細末二錢，以白湯化阿膠清調，稀稠得所，頓服，熱多者尤相宜。又鄜延界內有石油，燃之煙甚濃，其煤可為墨，黑光如漆，松煙不及，其識文曰延川石液者。是不可入藥，當附於此。</p>

<h1>卷十五</h1>

<h2>石南葉</h2>
<p>狀如枇杷葉之小者，但背無毛，光而不皺。正、二月間開花。冬有二葉為花苞，苞既開，中有十五餘花，大小如椿花，甚細碎。每一苞約彈許大，成一球。一花六葉，一朵有七、八球，淡白綠色，葉末微淡赤色。花既開，蕊滿花，但見蕊，不見花。花才罷，去年綠葉盡脫落，漸生新葉。治腎衰腳弱最相宜。但京洛、河北、河東、山東頗少，人以此故少用。湖南北、江東西、二浙甚多，故多用南實。今醫家絕不用。</p>

<h2>蜀椒</h2>
<p>須微炒使汗出，又須去附紅黃殼。去殼之法：先微炒，乘熱入竹筒中，以梗舂之，播取紅，如未盡，更揀，更舂，以盡為度。凡用椒須如此。其中子謂之椒目，治盜汗尤功。將目微炒，搗為極細末，用半錢匕，以生豬上唇煎湯一合，調，臨睡服，無不效。蓋椒目能行水，又治水蠱。</p>

<h2>莽草</h2>
<p>今人呼為䒽草。濃煎湯，淋渫皮膚麻痹。《本經》一名春草。諸家皆謂為草，今居木部，《圖經》亦然。今世所用者，皆木葉也。如石楠，枝、梗干則縐，揉之，其嗅如椒。《爾雅·釋草》云：「䒽，春草。釋曰：今莽草也」。與《本經》合，今當具言之。石楠條中，陶隱居注云：「似䒽草，凌冬不凋。」誠木無疑。</p>

<h2>郁李仁</h2>
<p>其子如御李子，至紅熟堪啖，微澀。其仁，湯去皮，研極爛，入生龍腦，點赤目。陝西甚多，根煎湯，渫風蚛牙。</p>

<h2>鼠李</h2>
<p>即牛李子也。木高七八尺，葉如李，但狹而不澤。子於條上四邊生，熟則紫黑色，生則青。葉至秋則落，子尚在枝，是處皆有，故經不言所出處，今關陝及湖南、江南北甚多，木皮與子兩用。</p>

<h2>欒華</h2>
<p>今長安山中亦有。其子即謂之木欒子，攜至京都為數珠，未見其入藥。</p>

<h2>杉</h2>
<p>其干端直，大抵如松，冬不凋，但葉闊成枝，廬山有萬杉寺，即此杉也。作屑煮汁，浸洗腳氣腫滿。今處處有。</p>

<h2>楠材</h2>
<p>今江南等路造船場皆此木也。緣木性堅而善居水，久則多中空，為白蟻所穴。</p>

<h2>榧實</h2>
<p>大如橄欖，殼色紫褐而脆，其中子有一重粗黑衣，其仁黃白色，嚼久漸甘美。五痔人常如果食之，愈。過多則滑腸。</p>

<h2>櫸木皮</h2>
<p>今人呼為櫸柳。然葉謂柳非柳，謂槐非槐。木最大者，高五六十尺，合二三人抱。湖南、北甚多。然亦下材也，不堪為器用。嫩皮，取以緣栲栳與箕唇。</p>

<h2>白楊</h2>
<p>陝西甚多，永、耀間居人修蓋，多此木也。然易生根，斫木時碎札入土即下根，故易以繁植。非只墟墓間，於人家舍前後及夾道往往植之，土地所宜爾。風才至，葉如大雨聲，葉梗故如是。又謂無風自動，則無此事。嘗官永、耀間，熟見之。但風微時，當風逕者，其葉孤絕處，則往往獨搖。以其蒂細長，葉重大，微風雖過，故往來卒無已時，勢使然也。其葉面青光，背白，木身微白，故曰白楊，非如粉之白。</p>

<h2>欒荊</h2>
<p>即前所謂牡荊也，不合更立此條。況《本經》元無欒荊，已具蔓荊實條中。</p>

<h2>紫荊木</h2>
<p>春開紫花甚細碎，共作朵生。出無常處，或生於木身之上，或附根土之下，直出花。花罷葉出，光緊微圓。園圃間多植之。</p>

<h2>鉤藤</h2>
<p>鉤藤中空，二經不言之。長八九尺或一二丈者，湖南北、江南、江西山中皆有。小人有以穴隙間致酒甕中盜取酒，以氣吸之，酒既出，涓涓不斷。專治小兒驚熱。</p>

<h2>榼藤子</h2>
<p>紫黑色，微光，大一二寸，圓扁，治五痔有功。燒成黑灰，微存性，米飲調服。人多剔去肉，作藥瓢垂腰間。</p>

<h2>皂莢</h2>
<p>皂莢其子炒，舂去赤皮、仁。將骨浸軟，煮熟，以糖漬之，可食。甚疏導五臟風熱壅。其莢不蚛肥者，微炙，為末，一兩，入生白礬末半兩，膩粉半兩，風涎潮塞氣不通，水調灌一二錢。但過咽則須吐涎。凡用白礬者，分隔下涎也。又暑中濕熱時，或久雨，合蒼朮燒，闢溫疫邪濕氣。</p>

<h2>柳華</h2>
<p>經曰：「味苦。」即是初生有黃蕊者也。及其華干，絮方出，又謂之柳絮。收之，貼灸瘡及為茵褥。絮之下連小黑子，因風而起，得水濕處便生，如地丁之類，多不因種植，於人家庭院中自然生出，蓋亦如柳絮兼子而飛。陳藏器之說是。然古人以絮為花，陶隱居亦曰：「花隨風，狀如飛雪。」誤矣。經中有實及子汁，諸家不解，今人亦不見用。（釋氏謂「柳為尼俱律陀木，其子極細，如人妄因極小，妄果至大」，是知小黑子得因風而起。）</p>

<h2>桐葉</h2>
<p>經注不指定是何桐，致難執用。今具四種桐，各有治療，條其狀列於後：一種白桐，可斫琴者，葉三杈，開白花，亦不結子。《藥性論》云：「皮能治五淋，沐發，去頭風，生髮。」一種荏桐，早春先開淡紅花，狀如豉子花，成筒子，子或作桐油。《日華子》云：「桐油冷，微毒。」一種梧桐，四月開淡黃小花，一如棗花。枝頭出絲，墮地成油，沾漬衣履。五六月結桐子，今人收炒作果，動風氣。此是《月令》清明之日桐始華者。一種崗桐。無花，不中作琴，體重。</p>

<h2>烏臼</h2>
<p>葉如小杏葉，但微薄而綠色差淡。子，八、九月熟，初青後黑，分為三瓣。取子出油，燃燈及染髮。</p>

<h2>訶黎勒</h2>
<p>氣虛人亦宜，緩緩煨熟，少服。此物雖澀腸，而又泄氣，蓋其味苦澀。</p>

<h2>椿木華、椿樗</h2>
<p>椿木華、椿樗皆臭，但一種有花結子，一種無花不實。世以無花不實、木身大、其干端直者為椿。椿用木葉。其有花而莢，木身小，干多迂矮者為樗。樗用根、葉、莢。故曰未見椿上有莢者，惟樗木上有。又有樗雞，故知古人命名曰不言椿雞、而言樗雞者，以顯有雞者為樗，無雞者為椿，其義甚明。用椿木葉，樗木根、葉、莢者，宜依此推究。洛陽一女子，年四十六七，耽飲無度，多食魚蟹，攝理之方蔑如也。後以飲啖過常，蓄毒在臟，日夜二三十瀉，大便與膿血雜下，大腸連肛門痛不堪忍。醫以止血痢藥不效，又以腸風藥則益甚。蓋腸風則有血而無膿，凡如此已半年餘，氣血漸弱，食漸減，肌肉漸瘦，稍服熱藥，則腹愈痛，血愈下。服稍涼藥，即泄注，氣羸，粥愈減。服溫平藥，則病不知。如此將暮歲，醫告術窮，垂命待盡。或有人教服人參散，病家亦不敢主當，謾與服之，才一服，知。二服，減。三服，膿血皆定。自此不十服，其疾遂愈。後問其方，云：治大腸風虛，飲酒過度，挾熱下痢膿血，疼痛，多日不瘥。樗根白皮一兩，人參一兩，為末，每用二錢匕，空心以溫酒調服。如不飲酒，以溫米飲代。忌油膩、濕面、青菜、果子、甜物、雞、豬、魚腥等。</p>

<h2>胡椒</h2>
<p>去胃中寒痰吐水，食已即吐，甚驗。過劑則走氣。大腸寒滑亦用，須各以他藥佐之。</p>

<h2>橡實</h2>
<p>櫟木子也，葉如慄葉，在處有，但堅而不堪充材，亦木之性也。山中以舂仁為糧，然澀腸。木善為炭，他木皆不及。其殼堪染皂，若曾經雨水者，其色淡，不若不經雨水者。槲亦有殼，但少而不及櫟木所實者。</p>

<h2>無石子</h2>
<p>今人合他藥染髭。</p>

<h2>槲若</h2>
<p>亦有鬥，但不及櫟木，雖堅而不堪充材。葉微炙，炒槐花減槲葉之半，同為末，米飲調服，治初得腸風及血痔，熱多者尤佳。亦堪為炭，但不及櫟木。</p>

<h2>黃藥</h2>
<p>亦治馬心肺熱有功。</p>

<h2>無患子</h2>
<p>今釋子取以為念珠，出佛經。惟取紫紅色小者佳，今入藥絕少，西洛亦有之。</p>

<h2>椰子</h2>
<p>椰子開之，有汁如乳，極甘香，自別是一種氣味。中又有一塊瓤，形如瓜蔞，上有細壠起，亦白色，但微虛。紋若婦人裙褶，其味亦如其汁。又，著殼一重白肉，剮取之，皆可與瓤糖煎為果汁，色如白酒，其味如瓤。然謂之酒者，好事者當日強名之。取其殼為酒器，如酒中有毒，則酒沸起。今人皆漆其里，則全失用椰子之意。</p>

<h2>樺木皮</h2>
<p>燒為黑灰，合他藥治肺風毒。及取皮上有紫黑花勻者，裹鞍弓、鐙。</p>

<h2>赤檉木</h2>
<p>今謂之三春柳，以其一年三秀也。花肉紅色，成細穗。河西者，戎人取滑枝為鞭。京師亦甚多。</p>

<h2>木鱉子</h2>
<p>蔓生，歲一枯。葉如蒲桃，實如大栝樓，熟則紅黃色，微有刺，不能刺人。今荊南之南皆有之。九月十月熟，實中之子曰木鱉子。但根不死，春旋生苗，其子一頭尖者為雄。凡植時須雌雄相合，麻縷纏定。及其生也，則去其雄者方結實。</p>

<h2>木槿</h2>
<p>如小葵，花淡紅色，五葉成一花，朝開暮斂，花與枝兩用。湖南、北人家多種植為籬障。余如經。</p>

<h2>棕櫚木</h2>
<p>今人旋為器。皮燒為黑灰，治婦人血露及吐血，仍佐之他藥。每歲剮取棕皮。不爾，束死。花如魚子，渫熟，淹為果。</p>

<h2>柘木</h2>
<p>柘木，里有紋，亦可旋為器。葉飼蠶，曰柘蠶。葉梗，然不及桑葉。東行根及皮煮汁釀酒，治風虛耳聾有驗。余如經。</p>

<h1>卷十六</h1>

<h2>發髲</h2>
<p>與亂髮自是兩等。發髲味苦，即陳舊經年歲者。如橘皮皆橘也，而取其陳者。狼毒、麻黃、吳茱萸、半夏、枳實之類，皆須陳者，謂之六陳，入藥更良。敗蒲亦然，此用髲之義耳。今人又謂之頭髲。其亂髮條中，自無用髲之義，此二義甚明，亦不必如此過謂搜索。右以亂髮如雞子大，無油器中熬焦黑，就研為末，以好酒一盞沃之，何首烏末二錢，同勻攪，候溫灌之，下咽過一二刻，再灌，治破傷風及沐發中風極效。</p>

<h2>人乳汁</h2>
<p>人乳汁治目之功多，何也？人心生血，肝藏血，肝受血則能視，蓋水入於經，則其血乃成。又曰：上則為乳汁，下則為月水。故知乳汁則血也。用以點眼，豈有不相宜者。血為陰，故其性冷。藏寒人，如乳餅酪之類，不可多食。雖曰牛、羊乳，然亦不出乎陰陽造化爾。西戎更以駝馬乳為酥酪。老人患口瘡不能食，飲人熱乳良。</p>

<h2>人屎</h2>
<p>用干陳者為末，於陰地淨黃土中作五六寸小坑，將末三兩匙於坑中，以新汲水調勻。良久俟澄清，與時行大熱狂渴須水人飲之，愈。今世俗謂之地清，然飲之勿極，意恐過多耳。又治一切癰癤熱毒腫，膿血未潰，疼痛不忍，用乾末、麝香各半錢，同研細，抄一豆大，津唾貼瘡心，醋面錢子貼定，膿潰出，去藥。</p>

<h2>人溺</h2>
<p>須童男者。產後溫一杯飲，壓下敗血惡物。有飲過七日者。過多，恐久遠血藏寒，令人髮帶病；氣血虛無熱者，尤不宜多服，此亦性寒，故治熱勞方中亦用。</p>

<h2>人指甲</h2>
<p>治鼻衄，細細刮取。俟血稍定，去淤血，於所衄鼻中搐之，立愈。獨不可備，則眾人取之，甚善。衄藥，並法最多，或效或不效，故須博採，以備道途、田野中用。</p>

<h2>龍骨</h2>
<p>諸家之說，紛然不一。既不能指定，終是臆度。西京穎陽縣民家，忽崖壞，得龍骨一副，肢體頭角悉具，不知其蛻也，其斃也。若謂蛻斃，則是有形之物，而又生不可得見，死方可見。謂其化也，則其形獨不能化。然《西域記》中所說甚詳，但未敢據憑。萬物所稟各異，造化不可盡知，莫可得而詳矣。孔子曰：「君子有所不知」，蓋闕如也。妄亂穿鑿，恐誤後學。治精滑及大腸滑，不可闕也。</p>

<h2>牛黃</h2>
<p>牛黃，亦有駱駝黃，皆西戎所出也。駱駝黃極易得，醫家當審別考而用之，為其形相亂也。黃牛黃輕鬆自然微香，以此為異。蓋又有犛（音貓）牛黃，堅而不香。</p>

<h2>麝</h2>
<p>麝每糞時須聚於一所，人見其所聚糞，及有遺麝氣，遂為人獲，亦物之一病爾。此獵人云。余如經。</p>

<h2>象牙</h2>
<p>取口兩邊各出一牙下垂夾鼻者，非口內食齒，齒別入藥。今為象笏者是也。</p>

<h2>醍醐</h2>
<p>作酪時，上一重凝者為酪面。酪面上其色如油者為醍醐。熬之即出，不可多得，極甘美。雖如此取之，用處亦少，惟潤養瘡痂最相宜。</p>

<h2>犀角</h2>
<p>凡入藥須烏色、未經湯水浸煮者，故曰生犀。川犀及南犀，紋皆細。烏犀尚有顯紋者露，黃犀紋絕少，皆不及西番所出紋高雨腳顯也。物像黃外黑者為正透，物像黑外黃者為倒透。蓋以烏為正，以形像肖物者為貴。既曰通犀，又須紋頭顯，黃黑分明，透不脫，有雨腳滑潤者為第一。鹿取茸，犀取尖，其精銳之力盡在是矣。犀角尖，磨服為佳，若在湯散則屑之。西番者佳。</p>

<h2>羚羊角</h2>
<p>今皆取有掛痕者。陳藏器：取耳邊聽之，集集鳴者良，亦強出此說，未嘗遍試也。今將他角附耳，皆集集有聲，不如有掛痕一說盡矣。然多偽為之，不可不察。</p>

<h2>羖羊角</h2>
<p>出陝西、河東，謂之𦍩䍽羊，尤很健，毛最長而厚。此羊可入藥，如要食，不如無角白大羊。《本草》不言者，亦有所遺爾。又同、華之間，有臥沙細肋，其羊有角似羖羊，但低小，供饌在諸羊之上。張仲景治寒疝用生薑羊肉湯，服之無不驗。又一婦人產當寒月，寒氣入產門，臍下脹滿，手不敢犯，此寒疝也。醫將治之以抵當湯，謂其有瘀血。嘗教之曰：非其治也，可服張仲景羊肉湯，少減水，二服遂愈。</p>

<h2>牛角腮</h2>
<p>此則黃牛角腮。用尖，燒為黑灰，微存性，治婦人血崩、大便血及冷痢。又白水牛鼻，乾溼皆可用。治偏風口喎斜，以火炙熱，於不患處一邊熨之，漸正。</p>

<h2>犬膽</h2>
<p>塗鉛如金色。又救生接元氣，補虛、損、憊。黃狗脊骨一條（去兩頭，截為五、七段，帶肉些小。用好硇砂一兩，細研。漿水二升，入硇砂，在漿水中攪勻。浸骨三日後，以炭火炙令黃色，又入汁蘸，候汁盡為度，其狗骨已酥脆，搗令極細。後入諸藥）　肉蓯蓉（去沙，薄切，火焙乾）　菟絲子（酒浸二日，曝乾）　杜仲（去粗皮）　肉桂（去皮上粗澀）　附子（炮，去皮、臍）　鹿茸（急燎去毛，酥，微炙黃色。不可令焦）　乾薑（炮。以上各一兩）　蛇床子（半兩，微炒）　陽起石（半兩，酒煮一日，令數人不住手研一日）　將前八味同杵，羅為末。次入陽起石並狗骨末，用熟棗肉五兩，酥一兩，同和。再搗千餘下，看硬軟，丸如小豆大，曬乾。每日空心鹽湯下二十丸。</p>

<h2>鹿茸</h2>
<p>他獸肉多屬十二辰及八卦。昔黃帝立子、醜等為十二辰以名月，又以名獸，配十二辰屬。故獐鹿肉為肉中第一者，避十二辰也。味亦勝他肉，三祀皆以鹿臘，其義如此。茸最難得不破及不出卻血者，蓋其力盡在血中，獵時多有損傷故也。茸上毛，先薄以酥塗勻，於烈焰中急灼之。若不先以酥塗，恐火焰傷茸。俟毛淨，微炙入藥。今人亦能將麻茸偽為之，不可不察也。頭亦可釀酒，然須作漿時稍益蔥椒。角為膠，別有法。按《月令》，冬至一陽生，麋角解；夏至一陰生，鹿角解；各逐陰陽分合，如此解落。今人用麋、鹿茸作一種，殆疏矣。凡麋鹿角，自生至堅完，無兩月之久。大者二十餘斤，其堅如石，計一晝夜須生數兩，凡骨之類成長無速於此。雖草木至易生，亦無能及之，豈可與凡骨血為比。麋茸利補陽，鹿茸利補陰。凡用茸無須太嫩，唯長四五寸、茸端如馬硇紅者最佳。須佐以他藥則有功。</p>

<h2>虎骨</h2>
<p>頭、脛與脊背入藥。肉微咸。陳藏器所注乙骨之事，反射之目光墮地如白石之說，必得之於人，終不免其所誣也。人或問曰：風從虎何也？風，木也，虎，金也，木受金制，焉得不從？故呼嘯則風生，自然之道也。所以治風攣急，屈伸不得，走疰，癲疾，驚癇，骨節風毒等，乃此義爾。</p>

<h2>豹肉</h2>
<p>毛赤黃，其紋黑如錢而中空，比比相次。此獸猛捷過虎，故能安五臟，補絕傷，輕身。又有土豹，毛更無紋，色亦不赤，其形亦小。此各自有種，非能變為虎也，聖人假喻而已。恐醫家未喻，故書之。</p>

<h2>貍骨</h2>
<p>形類貓，其紋有二，一如連錢者，一如虎紋者。此二色貍，皆可入藥。其肉味與狐不相遠，江西一種牛尾貍，其尾如牛，人多糟食，未聞入藥。孟詵云：「骨理痔病，作羹臛食之。」然則骨如何羹臛（音郝，肉羹也？）炙骨和麝香、雄黃為丸服，治痔及瘻瘡甚效。</p>

<h2>兔</h2>
<p>有白毛者，全得金之氣也，入藥尤功。余兔至秋深時則可食，金氣全也。才至春夏，其味變。取四腳肘後毛為逐食，飼雕鷹，至次日吐出。其意欲腹中逐盡脂肥，使飢急捕逐速爾。然作醬必使五味。即患豌豆瘡，又食此，則發毒太甚，恐斑爛損人。</p>

<h2>鼺（音羸）鼠</h2>
<p>經中不言性味，惟是於難產通用藥中雲：鼺鼠，微溫，毛赤黑色，長尾，人捕得取皮為暖帽。但向下飛則可，亦不能致遠。今關西山中甚有，毛極密，人謂之飛生者是也。《注》中又引水馬，首如馬，身如蝦，背傴僂，身有竹節紋，長二三寸，今謂之海馬。</p>

<h2>鼴鼠</h2>
<p>鼴鼠也，其毛色如鼠，今京畿田中甚多。腳絕短，但能行。尾長寸許，目極小，項尤短，兼易掘取。或安竹弓射之，用以飼鷹。陶不合更引「今諸山林中大如水牛，形似豬，灰赤色者也。設使是鼠，則熟能見其溺精成鼠也。」陶如此輕信，但真醇之士，不以無稽之言為妄矣，今經云：「在土中行。」則鼢鼠無疑。</p>

<h2>獺</h2>
<p>四足俱短，頭與身尾皆扁，毛色若故紫帛。大者身與尾長三尺余，食魚，居水中。出水亦不死，亦能休於大木上，世謂之水獺。嘗縻置大水甕中，於其間旋轉如風，水謂之成旋，壠起，四面高，中心凹下，觀者駭目。皮，西戎將以飾毳服領、袖。問之，云：垢不著，如風霾翳目，即就袖口拭目中即出。又毛端果不著塵，亦一異也。又《本草·序例》言「獺膽分杯」，嘗試之，不驗。惟塗於盞唇，但使酒稍高於盞面。分杯之事，亦古今傳誤言也，不可不正之。肝，用之有驗。</p>

<h2>狐</h2>
<p>今用肝治風，皮兼毛用為裘者是也。此獸多疑，極審聽。人智出之，以多疑審聽而捕取。捕者多用𦊨。</p>

<h2>猯</h2>
<p>猯肥矮，毛微灰色，頭連脊毛一道黑，嘴尖黑，尾短闊。蒸食之極美。貉形如小狐，毛黃褐色。野獸中猯肉最甘美，仍益瘦人。</p>

<h2>野豬黃</h2>
<p>野豬黃在膽中，治小兒諸癇疾。京西界野豬甚多，形如家豬，但腹小、腳長、毛色褐，作群行。豬人惟敢射最後者，射中前奔者，則群豬散走傷人。肉色赤如馬肉，其味甘，肉復軟，微動風。黃不常有，間得之，世亦少用。食之，尚勝家豬。</p>

<h2>驢肉</h2>
<p>食之動風，脂肥尤甚，屢試屢驗。《日華子》以謂「止風狂，治一切風」，未可憑也。煎膠用皮者，取其發散皮膚之外也。仍須烏者，用烏之意，如用烏雞子、烏蛇、烏鴉之類。其物雖治風，然更取其水色，蓋以制其熱則生風之義。</p>

<h2>膃肭臍</h2>
<p>今出登、萊州。《藥性論》以謂是海內狗外腎。日華子又謂之獸。今觀其狀，非狗非獸，亦非魚也。但前即似獸，尾即魚。其身有短密淡青白毛，腹脅下全白，仍相間於淡青白毛，上有深青黑點，久則色復淡。皮厚且韌，如牛皮。邊將多取以飾鞍韉。其臍治臍腹積冷、精衰、脾腎勞極有功，不待別試也。似狐長尾之說，蓋今人多不識。</p>

<h2>麂</h2>
<p>獐之屬，又小於獐，但口兩邊有長牙，好鬥，則用其牙。皮為第一，無出其右者，然多牙傷痕。四方皆有，山深處則頗多，其聲如擊破鈸。</p>

<h2>野駝</h2>
<p>生西北界等處，家生者峰蹄最精，人多煮熟糟啖。糞為乾末，搐鼻中，治鼻衄。此西番多用，嘗進貢於彼，屢見之。</p>

<h2>敗鼓皮</h2>
<p>黃牛皮為勝。今不言是何皮，蓋亦以驢馬皮為之者。唐韓退之所謂牛溲馬勃，敗鼓之皮，俱收並蓄，待用無遺者。今用處少爾，尤好煎膠。專用牛皮，始可入藥。</p>

<h2>丹雄雞</h2>
<p>今言赤雞者是也，蓋以毛色言之。巽為雞為風，雞鳴於五更者，日將至巽位，感動其氣而鳴也。體有風，人故不可食。經所著其用甚備。產後血暈，身痙直，帶眼、口角與目外眥向上牽急，不知人，取子一枚，去殼，分清，以荊芥末二錢，調服，遂安，仍依次調治。若無他疾，則不須，治甚敏捷。烏雞子尤善。經、《注》皆不言雞發風，今體有風，人食之無不發作。為雞為巽，信可驗矣。食雞者當謹。</p>

<h2>鶩（音牧）肪</h2>
<p>陶隱居云：「鶩即是鴨」，然有家鴨，有野鴨。陳藏器《本草》曰：「屍子云，野鴨為鳧，家鴨為鶩。」《蜀本》注云：「《爾雅》云，野鳧，鶩，注云，鴨也。」如此則鳧、鶩皆是鴨也。又云《本經》用鶩肺，即家鴨也。如此所說各不同，其義不定。又按唐王勃《滕王閣記》云「落霞與孤鶩齊飛」，則明知鶩為野鴨也。勃，唐之名儒，必有所據，故知鶩為野鴨明矣。</p>

<h2>雁肪</h2>
<p>人多不食者，謂其知陰陽之升降，分長少之行序。世或謂之天厭，亦道家之一說爾。食之則治諸風。《唐本》注曰：「雁為陽鳥」。其義未盡，茲蓋得中和之氣，熱則即北，寒則即南，以就和氣。所以為禮幣者，一以取其信，二取其和。</p>

<h2>鷓鴣</h2>
<p>鷓鴣，鄭谷所謂相呼相應湘天闊者，南方專充庖。然治瘴及茵毒甚效。余悉如《經》。</p>

<h2>雉</h2>
<p>其飛若矢，一往而墮，故今人取其尾置船車上，意欲如此快速也。漢呂太后名雉，高祖字之曰「野雞」。其實即雞屬也。食之，所損多，所益少。</p>

<h2>鷹屎白</h2>
<p>鷹屎白，兼他藥用之，作潰虛積藥，治小兒奶癖黃，鷹糞白一錢，密陀僧一兩，舶上硫黃一分，丁香二十一個，上為末，每服一字，三歲以上半錢。用乳汁或白麵湯調下，並不轉瀉。一復時取下青黑物後，服補藥。醋石榴皮半兩、炙黑色，伊祁一分，木香一分，麝香半錢，同為末。每服一字，溫薄酒調下，並吃二服。凡小兒脅下硬如有物，乃是癖氣，俗謂之奶脾。只服溫脾化積氣丸子藥，不可取轉，無不愈也。取之多失。</p>

<h2>雀卵</h2>
<p>孟詵云：「肉，十月以後正月以前食之。」此蓋取其陰陽靜定，未決泄之義。卵亦取第一番者。</p>

<h2>鸛</h2>
<p>頭無丹，項無烏帶，身如鶴者是，兼不善唳，但以喙相擊而鳴。作池養魚蛇以哺子之事，豈可垂示後世？此禽多在樓殿吻上作窠，日夕人觀之，故知其未審耳。礜石條中亦著。</p>

<h2>伏翼</h2>
<p>伏翼屎合疳藥。白日亦能飛，但畏鷙鳥不敢出。此物善服氣，故能壽。冬月不食，亦可驗也。</p>

<h2>孔雀</h2>
<p>孔雀尾不可入目，昏翳人眼。</p>

<h2>鸕鷀</h2>
<p>陶隱居云：「此鳥不卵生，口吐其雛。今人謂之水老鴉，巢於大木，群集，宿處有常，久則木枯，以其糞毒也。懷妊者不敢食，為其口吐其雛。」陳藏器復云：使易產，臨時令產婦執之，與陶相戾。嘗官於澧州，公宇後有大木一株，其上有三四十巢，日夕觀之，既能交合，兼有卵殼布地，其色碧。豈得雛吐口中？是全未考尋，可見當日聽人之誤言也。</p>

<h2>白鴿</h2>
<p>白鴿，其毛羽色於禽中品第最多。野鴿糞一兩，炒微焦，麝香別研，吳白朮各一分，赤芍藥、青木香各半兩，柴胡三分，延胡索一兩，炒赤色，去薄皮。七物同為末，溫無灰酒，空心調一錢服，治帶下，排膿，候膿盡即止。後服，仍以他藥補血臟。</p>

<h2>斑鷦</h2>
<p>斑鷦，斑鳩也，嘗養之數年，並不見春秋分化。有有斑者，有無斑者，有灰色者，有小者，有大者。久病虛損人食之補氣。雖有此數，其用即一也。</p>

<h2>鶉</h2>
<p>鶉有雌雄，從卵生，何言化生？其說甚容易。嘗于田野屢得其卵，初生謂之羅鶉，至初秋謂之旦秋，中秋以後謂之白唐。然一物四名，當悉書之。小兒患疳及下痢五色，旦旦食之，有效。</p>

<h1>卷十七</h1>

<h2>石蜜</h2>
<p>《嘉祐本草》石蜜收蟲魚部中，又見果部。新聿取蘇恭說，直將石字不用。石蜜既自有本條，煎煉亦自有法。今人謂之乳糖，則虫部石蜜自是差誤，不當更言石蜜也。《本經》以謂白如膏者良，由是知石蜜字，乃白蜜字無疑。去古既遠，亦文字傳寫之誤，故今人尚言白沙蜜。蓋經久則陳白而沙，新收者惟稀而黃。次條蜜蠟，故須別立目。蓋是蜜之房，攻治亦別。至如白蠟，又附於蜜蠟之下，此又誤矣。本是續上文，敘蜜蠟之用及注所出州土，不當更分之為二。何者？白蠟本條中蓋不言性味，只是言其色白爾。既有黃白二色，今只言白蠟，是取蠟之精英者，其黃蠟只置而不言。黃則蠟陳，白則蠟新，亦是蜜取陳，蠟取新也。《唐注》云：除蜜字為佳。今詳之：蜜字不可除，除之即不顯蠟自何處來。山蜜多石中或古木中有，經二三年或一得而取之，氣味醇厚。人家窠檻中蓄養者，則一歲春秋二取之。取之既數，則蜜居房中日少，氣味不足，所以不逮陳白者日月足也。雖收之，才過夏亦酸壞。若龕於井中近水處，則免。湯火傷，塗之痛止，仍搗薤白相和，雖無毒，多食亦生諸風。</p>

<h2>牡蠣</h2>
<p>須燒為粉用，兼以麻黃根等分同搗，研為極細末粉。盜汗及陰汗，本方使生者，則自從本方左顧。經中本不言，只從陶隱居說。其《西陽雜俎》已言：「牡蠣言牡，非為雄也。且如牡丹，豈可更有牝丹也？今則合於地，人面向午位，以牡蠣頂向子，視之口，口在左者為左顧。」此物本無目，如此，焉得更有顧盼也。</p>

<h2>桑螵蛸</h2>
<p>自採者真，市中所售者，恐不得盡皆桑中者。《蜀本·圖經》浸泡之法，不若略蒸過為佳。鄰家有一男子，小便日數十次，如稠米泔，色亦白，心神恍惚，瘦瘁，食減，以女勞得之。令服此桑螵蛸散，未終一劑而愈。安神魂，定心志，治健忘、小便數，補心氣。桑螵蛸、遠志、菖蒲、龍骨、人參、茯神、當歸、龜甲醋炙，以上各一兩，為末。夜臥，人參湯調下二錢。如無桑上者，即用余者，仍須以炙桑白皮佐之，量多少可也。蓋桑白皮行水，意以接螵蛸就腎經。用桑螵蛸之意如此，然治男女虛損，益精，陰痿，夢失精，遺溺，疝瘕，小便白濁，腎衰，不可闕也。</p>

<h2>海蛤　文蛤</h2>
<p>陳藏器所說是，今海中無雁，豈有食蛤糞出者。若蛤殼中有肉時，尚可食。肉既無，焉得更有糞中過數多者？必為其皆無廉稜，乃有是說。殊不知風浪日夕淘汰，故如是。治傷寒汗不溜，搐卻手腳，海蛤、川烏頭各一兩，穿山甲二兩，為末，酒糊為丸，大一寸許，捏扁，置所患足心下，擘蔥白蓋藥，以帛纏定。於暖室中取熱水浸腳至膝上，久則水溫，又添熱水，候遍身汗出為度。凡一二日一次浸腳，以知為度。</p>

<h2>石決明</h2>
<p>經云：「味鹹」，即是肉也。人採肉以供饌，及干至都下，北人遂為珍味。肉與殼兩可用，方家宜審用之。然皆治目，殼研，水飛，點磨外障翳。登、萊州甚多。</p>

<h2>真珠</h2>
<p>小兒驚熱藥中多用。河北塘、濼中亦有。圍及寸者，色多微紅。珠母與廉州珠母不相類，但清水急流處，其色光白，水濁及不流處，其色暗。余如經。</p>

<h2>秦龜</h2>
<p>秦龜，即生於秦者。秦地山中多老龜，極大而壽。龜甲即非只秦地有，四方皆有之，但取秦地所出大者為勝。今河北獨流、釣臺甚多，取龜筒治療，亦入眾藥。只此二種，各逐本條。以其靈於物，方家故用以補心，然甚有驗。</p>

<h2>玳瑁</h2>
<p>治心經風熱。生者入藥，蓋性味全也。既入湯火中，即不堪用，為器物者是矣。與生熟犀其義同。</p>

<h2>鯉魚</h2>
<p>至陰之物也，其鱗故三十六。陰極則陽夏，所以《素問》曰：「魚，熱中。」王叔和曰：「熱即生風。」食之，所以多發風熱，諸家所解並不言。《日華子》云「鯉魚涼」，今不取，只取《素問》為正。萬一風家更使食魚，則是貽禍無窮矣。</p>

<h2>蠡魚</h2>
<p>今人謂之黑鯉魚，道家以謂頭有星為厭。世有知之者，往往不敢食。又發故疾，亦須忌爾。今用之療病，亦只取其一端耳。</p>

<h2>鮧魚</h2>
<p>形少類獺，有四足，腹重墜如囊，身微紫色。嘗剖之，中有三小蟹，又有四五小石塊，如指面許，小魚五七枚。然無鱗，與鮎、鱔相類。今未見用者。</p>

<h2>鱔魚</h2>
<p>腹下黃，世謂之黃鱔。此尤動風氣，多食令人霍亂，屢見之。向在京師，鄰舍一郎官，因食黃鱔，遂至霍亂吐利，幾至委頓。又有白鱔，稍粗大，色白，二者皆亡鱗。大者長尺余。其形類蛇，但不能陸行，然皆動風。江陵府西有湖曰西湖，每歲夏秋沮河水漲，即湖水滿溢，冬即復涸，土人於乾土下掘得之。每及二三尺，則有往來鱔行之路，中有泥水。水涸又下，水至復出。</p>

<h2>鯽魚</h2>
<p>鯽魚開其腹，內藥，燒之，治齒。</p>

<h2>蝟皮</h2>
<p>取干皮兼刺用，刺作刷，治紕帛絕佳。此物兼治胃逆，開胃氣有功，從蟲從胃有理焉。膽治鷹食病。世有養者，去而復來，久亦不去。當縮身藏足之時，人溺之即開。合穿山甲等分，燒存性，治痔。入肉豆蔻一半，末之，空肚熱米飲調二錢服。隱居所說，跳入虎耳及仰腹受啄之事，《唐本》注見擯，亦當然。</p>

<h2>石龍子</h2>
<p>蜥蜴也，今人但呼為蜴蜥。大者長七八寸，身有金碧色。仁廟朝，有一蜥蜴在右掖門西浚溝廟中，此真是蜥蜴也，鄭狀元有詩。有樵者於澗下行，見一蜥蜴自石罅中出，飲水訖而入。良久，凡百十次，尚不已。樵者疑不免，翻石視之，有冰雹一二升。樵人訝而去，行方三五里，大雨至。良久，風雹暴作。今之州縣依法用此祈雨。經云：治五癃，破石淋，利水道。亦此義乎。</p>

<h2>露蜂房</h2>
<p>露蜂房有兩種：一種小而其色淡黃，窠長六七寸至一尺者，闊二三寸，如蜜脾下垂，一邊是房，多在叢木鬱翳之中，世謂之牛舌蜂。又一種或在高木上，或屋之下，外作固，如三四斗許，小者亦一二斗，中有窠如瓠之狀，由此得名。蜂色赤黃，其形大於諸蜂，世謂之玄瓠蜂。《蜀本·圖經》言「十一月十二月採」者，應避生息之時也。今人用露蜂房，兼用此兩種。</p>

<h2>樗雞</h2>
<p>東、西京界尤多，形類蠶蛾，但頭足微黑。翅兩重，外一重灰色，下一重深紅，五色皆具，腹大，此即樗雞也。今人又用之行瘀血月閉。</p>

<h2>蚱蟬</h2>
<p>夏月身與聲皆大者是，始終一般聲，仍皆乘昏夜方出土中，升高處，背殼坼蟬出。所以皆夜出者，一以畏人，二畏日炙，干其殼而不能蛻也。至時寒則墜地，小兒蓄之，雖數日亦不須食。古人以謂飲風露，信有之。蓋不糞而溺，亦可見矣。西川有蟬花，乃是蟬在殼中不出而化為花，自項中出。又，殼治目昏翳。又水煎殼汁，治小兒出瘡疹不快，甚良。</p>

<h2>白殭蠶</h2>
<p>然蠶有兩三番，惟頭番殭蠶最佳，大而無蛆。治小兒驚風，白殭蠶、蠍梢等分，天雄尖、附子尖共一錢，微炮過，為細末，每服一字或半錢，以生薑溫水調，灌之。其蠶蛾則第二番者，以其敏於生育。</p>

<h2>木虻</h2>
<p>大小有三種。蜚虻，今人多用之，大如蜜蜂，腹凹扁，微黃綠色。雄霸州、順安軍沿塘、濼界河甚多。以其惟食牛馬等血，故治瘀血、血閉。</p>

<h2>䗪蟲</h2>
<p>今人謂之簸箕蟲，為其像形也。乳脈不行，研一枚，水半合，濾清，服。勿使服藥人知。</p>

<h2>蠐螬</h2>
<p>此蟲諸腐木根下有之。構木津甘，故根下多有此蟲，其木身未有完者。亦有生於糞土中者，雖肥大，但腹中黑，不若木中者，雖瘦而稍白。生研，水絞汁，濾清飲，下奶。</p>

<h2>蛞蝓　蝸牛</h2>
<p>蛞蝓、蝸牛二物矣。蛞蝓，其身肉只一段。蝸牛，背上別有肉，以負殼行，顯然異矣。若為一物，經中焉得分為二條也。其治療亦大同小異，故知別類。又謂蛞蝓是蝸牛之老者，甚無謂。蛞蝓有二角，蝸牛四角，兼背有附殼肉，豈得為一物也。</p>

<h2>水蛭</h2>
<p>陳藏器、日華子所說備矣。大者，京師又謂之馬鱉。腹黃者，謂之馬黃。畏鹽，然治傷折有功。經與《注》皆不言修制，宜子細，不可忽也。今人用者皆炒。</p>

<h2>鱉甲</h2>
<p>九肋者佳，煮熟者不如生得者，仍以釅醋炙黃色用。經中不言治勞，惟《蜀本·藥性論》云「治勞瘦、除骨熱」，後人遂用之，然甚有據，亦不可過劑。頭血塗脫肛。又，燒頭灰亦治。</p>

<h2>烏賊魚</h2>
<p>烏賊魚乾置，四方人炙食之。多取骨鏤為細。研細，水飛，澄下，比去水，日乾之，熟蜜和得所，點目中翳，緩取效。</p>

<h2>蟹</h2>
<p>伊洛絕少，今多自京師來，京師亦自河北置之。今河北沿邊滄、瀛州等處所出甚多。徐州亦有，但不及河北者。小兒解顱，以螯並白芨，爛搗，塗囟上，顱合。此物極動風，體有風疾人，不可食，屢見其事。河北人取之，當八九月蟹浪之時，直於塘濼岸上，伺其出水而拾之。又，夜則以燈火照捕，始得之。時黃與白滿殼，凡收藏十數日不死，亦不食。此物每至夏末秋初，則如蟬蛻解。當日名蟹之意，必取此義。</p>

<h2>原蠶蛾</h2>
<p>有原復敏速之義，此則第二番蛾也。白殭蠶條中已具。屎，飼牛代谷。又以三升醇酒，拌蠶屎五斗，用甑蒸熱，於暖室中鋪於油單上，令患風冷氣閉及近感癱風人，就所患一邊臥，著溫熱，厚蓋覆，汗出為度。若虛人須常在左右，防大熱昏冒。仍令頭面在外，不得壅覆，未全愈，間，再作。</p>

<h2>蠶蛻</h2>
<p>治婦人血風，此則眠起時所蛻皮是也。其蠶退紙謂之蠶連，亦燒灰用之，治婦人血露。</p>

<h2>鰻鱺魚</h2>
<p>生剖曬乾，取少許，火上微炙，候油出，塗白剝用，以指擦之，即時色轉。凡如此五七次用，即愈，仍先於白處微微擦動。</p>

<h2>鮫魚</h2>
<p>鮫魚沙魚皮一等，形稍異。今人取皮飾鞍劍。余如經。</p>

<h2>河豚</h2>
<p>河豚，經言「無毒」。此魚實有大毒，味雖珍，然修治不如法，食之殺人，不可不謹也。厚生者不食亦好。蘇子美云：「河豚於此時，貴不數魚蝦」。此時詩家鄙諷之言，未足全信也，然此物多怒，觸之則怒氣滿腹，翻浮水上，漁人就以物撩之，遂為人獲。橄欖並蘆根汁，解其毒。</p>

<h2>紫貝</h2>
<p>紫貝大二三寸，背上深紫，有點但黑。《本經》以此燒存性，入點眼藥。</p>

<h2>鱸魚</h2>
<p>鱸益肝腎，補五臟，和腸胃。食之宜人，不甚發病。宜乎，張翰思之也。</p>

<h2>蝦麻</h2>
<p>多在人家渠塹下，大腹，品類中最大者是。遇陰雨或昏夜即出食。取眉間有白汁，謂之蟾酥。以油單裹眉裂之，酥出單上，入藥用。有人病齒縫中血出，以紙紝子蘸乾蟾酥少許，於血出處按之，立止。世有人收三足枯蟾，以罔眾，但以水沃半日，盡見其偽。蓋本無三足者。</p>

<h2>蛙</h2>
<p>蛙其色青，腹細，嘴尖，後腳長，故善躍。大其聲則曰蛙，小其聲則曰蛤。《月令》所謂「雀入大水化為蛤」者也。唐韓退之詩：「一夜青蛙啼到曉」者是此。食之，性平，解勞熱。</p>

<h2>蛤蚧</h2>
<p>補肺虛勞嗽有功，治久嗽不愈。肺間積虛熱，久則成瘡，故嗽出膿血，曉夕不止，喉中氣塞，胸膈噎痛。蛤蚧、阿膠、生犀角、鹿角膠、羚羊角各一兩，除膠外，皆為屑，次入膠，分四服。每服用河水三升，於銀石器中慢火煮至半升，濾去滓，臨臥微溫，細細呷。其滓候服盡，再捶，都作一服，以水三升，煎至升斤，如前服。若病人久虛，不喜水，當遞減水。張刑部子皋病極，由樞密況送此方，遂愈。</p>

<h2>鯪鯉甲</h2>
<p>穴山而居，亦能水。燒一兩存性，肉豆蔻仁三個，同為末，米飲調二錢服，治氣痔。膿血甚者，加蝟皮一兩燒入。中病即已，不必盡劑。</p>

<h2>蜘蛛</h2>
<p>蜘蛛品亦多，皆有毒。經不言用是何種，今人多用人家檐角、籬頭、陋巷之間，空中作圓網，大腹、深灰色者。遺尿著人作瘡癬。</p>

<h2>蜻蛉</h2>
<p>其中一種最大，京師名為馬大頭者是。身綠色。雌者，腰間一遭碧色。用則當用雄者。陶隱居以謂青色大眼。一類之中，元無青者，眼一類皆大。此物生化於水中，故多飛水上。唐杜甫云：「點水蜻蜓款款飛。」</p>

<h2>石蠶</h2>
<p>謂之為草，則繆矣。經言「肉解結氣」，《注》中更辨不定。此物在處有，附生水中石上，作絲繭如釵股，長寸許，以蔽其身，色如泥，蠶在其中。此所以謂之石蠶也。今方家用者絕稀。此亦水中蟲耳，山河中多。</p>

<h2>蛇蛻</h2>
<p>蛇蛻，從口翻退出，眼睛亦退，今閤眼藥多用，取此義也,入藥洗淨。</p>

<h2>蛇黃</h2>
<p>椎破，中間有如自然銅者佳。治心悸動，火燒赤，酒淬至酥，二兩，硃砂一兩，與蛇黃同研，水飛，天麻二兩，別為末，與前二味合勻，每以半錢，少以薄菏湯調，食後、夜臥服，殊效。</p>

<h2>金蛇</h2>
<p>金蛇，今方書往往不見用。</p>

<h2>烏蛇</h2>
<p>尾細長，能穿小銅錢一百文者佳。有身長一丈餘者。蛇類中此蛇入藥最多。嘗於順安軍塘濼堤上，見一烏蛇長一丈餘，有鼠狼齧蛇頭，曳之而去，是亦相畏伏爾。市者多偽，以他蛇燻黑色貨之，不可不察也。烏蛇脊高，世謂之劍脊烏梢。</p>

<h2>白花蛇</h2>
<p>諸蛇鼻向下，獨此蛇鼻向上。背有方勝花紋，以此得名。用之去頭尾，換酒浸三日，棄酒不用，火炙，仍盡去皮骨。此物毒甚，不可不防也。</p>

<h2>蜈蚣</h2>
<p>背光，黑綠色，足赤，腹下黃。有中其毒者，以烏雞屎水稠調，塗咬處，效。大蒜塗之，亦效。復能治丹毒瘤，蜈蚣一條幹者，白礬皂子大，雷丸一個，百步二錢，秤，同為末，醋調塗之。又，畏蛞蝓，不敢過所行之路。觸其身，則蜈蚣死，人故取以治蜈蚣毒。桑汁、白鹽亦效。</p>

<h2>馬陸</h2>
<p>即今百節蟲也。身如槎節，節有細蹙紋，起紫黑色，光潤，百足。死則側臥如環，長二三寸，尤者粗如小指。西京上陽宮及內城磚牆中甚多，入藥至鮮。</p>

<h2>蠮（噎）螉（烏紅）</h2>
<p>蠮螉諸家所論備矣，然終不敢舍詩之意。嘗析窠而視之，果有子如半粟米大，其色白而微黃。所負蟲亦在其中，乃青菜蟲，卻在子下，不與蟲相著。又非葉蟲及草上青蟲，應是諸蟲皆可也。陶隱居所說近之矣。人取此房研細，醋調，塗蜂蠆。</p>

<h2>雀甕</h2>
<p>多在棘枝上，故又名棘剛子。研其間蟲汁，灌小兒，治（原缺）。</p>

<h2>鼠婦</h2>
<p>鼠婦此濕生蟲也，多足，其色如蚓，背有橫紋蹙起，大者長三四分。在處有之，磚瓷及下濕處多，用處絕少。</p>

<h2>螢</h2>
<p>常在大暑前後飛出，是得大火之氣而化，故如此明照也。今人用者少。《月令》雖曰「腐草所化」，然非陰濕處終無。</p>

<h2>衣魚</h2>
<p>多在故書中，久不動帛中或有之，不若故紙中多也。身有厚粉，手搐之則落。亦齧毳衣，用處亦少。其形稍似魚，其尾又分二歧，世用以滅瘢痕。</p>

<h2>白頸蚯蚓</h2>
<p>自死者良，然亦應候而鳴。此物有毒，昔有病腹大，夜間蚯蚓鳴於身，有人教用鹽水浸之而愈。崇寧末年，隴州兵士暑月中在倅廳前，跣立廳下，為蚯蚓所中，遂不救。後數日，又有人被其毒，博識者教以先飲鹽湯一杯，次以鹽湯浸足，乃愈。今入藥，當去土，了微炙。若治腎臟風下疰病，不可闕也，仍須鹽湯送。王荊公所謂「藁壤太牢俱有味，可能蚯蚓獨清廉」者也。</p>

<h2>螻蛄</h2>
<p>此蟲當立夏後，至夜則鳴，《月令》謂之螻蟈鳴者是矣。其聲如蚯蚓，此乃是五技而無一長者。</p>

<h2>蜣螂</h2>
<p>大小二種：一種大者為胡蜣螂，身黑光，腹翼下有小黃，子附母而飛行，晝不出，夜方飛出，至人家庭戶中，見燈光則來。一種小者，身黑暗，晝方飛出，夜不出。今當用胡蜣螂，其小者研三十枚，以水灌牛馬，治脹結，絕佳。狐遇而必盡食之。</p>

<h2>斑蝥</h2>
<p>須糯米中炒，米黃為度。妊身人不可服，為能潰人肉。治淋藥多用，極苦，人尤宜斟酌。下條芫青，其用與此不相遠，故附於此。</p>

<h2>馬刀</h2>
<p>京師謂之𤊿岸，春夏人多食，然發風痰，性微冷。又順安軍界河中亦出𧍧，大抵與馬刀相類，肉頗淡，人作鮓以寄鄰左，又不能致遠。亦發風。此等皆不可多食。今蛤粉，皆此等眾蛤灰也。</p>

<h2>貝子</h2>
<p>今謂之貝齒，亦如紫貝，但長寸余，故曰貝子。色微白，有深紫黑者，治目中翳，燒用。北人用之氈帽上為飾及綴衣，或作蹀躞下垂。</p>

<h2>甲香</h2>
<p>甲香，善能管香菸，與沉、檀、龍、麝用之甚佳。</p>

<h2>蠍</h2>
<p>大人小兒通用，治小兒驚風不可闕也。有用全者，有隻用梢者，梢力尤功。今青州山中石下捕得，慢火逼，或烈日中曬。蠍渴熱時，乃與青泥食之，既滿，復以火逼殺之，故其色多赤，欲其體重而售之故也。醫家用之皆悉去土。如蠆人還能禁止之，自嘗被其毒，兄長禁而止，及令，故蜇終不痛。翰林禁科具矣。</p>

<h2>五靈脂</h2>
<p>行經血有功，不能生血。嘗有人病眼中翳，往來不定，如此乃是血所病也。蓋心生血，肝藏血，肝受血則能視。目病不治血，為背理。此物入肝最速。一法：五靈脂二兩，沒藥一兩，乳香半兩，川烏頭一兩半，炮去皮，同為末，滴水丸如彈子大。每用一丸，生薑溫酒磨服，治風冷氣血閉，手足身體疼痛冷麻。又有人被毒蛇所傷，良久之間已昏困。有老僧以酒調藥二錢，灌之，遂蘇。及以藥滓塗咬處，良久，復灌二錢，其苦皆去。問之，乃五靈脂一兩，雄黃半兩，同為末，只此耳。後有中毒者，用之無不驗。此藥雖不甚貴，然亦多有偽者。</p>

<h1>卷十八</h1>

<h2>豆蔻</h2>
<p>草豆蔻也，氣味極辛，微香。此是對肉豆蔻而名之。若作果，則味不和。不知前人之意，編入果部有何意義？性溫而調散冷氣，力甚速。花性熱，淹置京師，然味不甚美，微苦。必為能消酒毒，故為果。花干則色淡紫。</p>

<h2>葡萄</h2>
<p>先朝西夏持師子來獻，使人兼齎葡萄遺州郡，比中國者皆相似。最難乾，不幹不可收，仍酸澌不可食。李白所謂「胡人歲獻葡萄酒」者是此。瘡疱不出，食之盡出。多食皆昏人眼。波斯國所出，大者如雞卵。</p>

<h2>蓬蘽</h2>
<p>非覆盆也，自別是一種，雖枯敗而枝梗不散。今人不見用此。即賈山策中所言者是此。</p>

<h2>覆盆子</h2>
<p>覆盆子長條，四、五月紅熟。秦州甚多，永興、華州亦有。及時，山中人採來賣，其味酸甘，外如荔枝，櫻桃許大，軟紅可愛。失採，則就枝生蛆。益腎臟，縮小便，服之當覆其溺器，如此取名。食之多熱。收時，五六分熟便可採。烈日曝，仍須薄綿蒙之。今人取汁作煎為果，仍少加蜜，或熬為稀湯，點服，治肺虛寒。採時著水，則不堪煎。</p>

<h2>大棗</h2>
<p>今先青州，次晉州，此二等可曬曝入藥，益脾胃為佳。餘隻可充食用。又云，御棗甘美輕脆，後眾棗熟，以其甘，故多生蟲。今人所謂撲落酥者是。又有牙棗，先眾棗熟，亦甘美，但微酸，尖長。此二等只堪啖，不堪收曝。今人將干棗去核，於鐺鍋中微火緩逼干為末，量多少，入生薑末為湯，點服，調和胃氣。又，將煮棗肉和治脾胃丸藥，尤佳。又青州棗去皮核，焙乾為棗圈，達都下，為奇果。</p>

<h2>雞頭實</h2>
<p>今天下皆有之。河北沿溏濼居人採得，舂去皮，搗仁為粉，蒸炸作餅，可以代糧。食多，不益脾胃氣，兼難消化。</p>

<h2>藕實</h2>
<p>就蓬中乾者為石蓮子，取其肉於砂盆中干，擦去浮上赤色，留青心，為末，少入龍腦為湯點，寧心志，清神，然亦有粉紅千葉、白千葉者，皆不實。如此是有四等也。其根惟白蓮為佳。今禁中又生碧蓮，亦一瑞也。</p>

<h2>芰</h2>
<p>今世俗謂之菱角，所在有。煮熟取仁食之，代糧，不益脾。又有水菱，亦芰也，但大而脆，可生食。和合治療，未聞其用。有人食生芰多則利及難化，是亦性冷。</p>

<h2>慄</h2>
<p>慄欲干，莫如曝，欲生收，莫如潤。沙中藏至春末夏初，尚如初收摘。小兒不可多食。生者難化，熟即滯氣、隔食、生蟲，往往致小兒病，人亦不知。所謂補腎氣者，以其味鹹，又滯其氣爾。湖北路有一種慄，頂圓末尖，謂之旋慄。《圖經》引《詩》言莘（音榛）慄者，謂其象形也。</p>

<h2>櫻桃</h2>
<p>孟詵以為櫻非桃類。然非桃類，蓋其以形肖桃，故曰櫻桃，又何疑焉？謂如木猴梨、胡桃之類，亦取其形相似爾。古謂之含桃，可薦宗廟。《禮》云「先薦寢廟」者，是此。唐王維詩云：「才是寢園春薦後，非干御苑鳥銜殘」。小兒食之，才過多，無不作熱。此果在三月末四月初間熟，得正陽之氣，先諸果熟，性故熱。今西洛一種紫櫻，至熟時正紫色，皮裡間有細碎黃點，此最珍也。今亦上供朝廷，藥中不甚須。</p>

<h2>橘　柚</h2>
<p>自是兩種，故曰一名橘皮，是元無柚字也。豈有兩等之物，而治療無一字別者，即知柚字為誤。後人不深求其意，為柚字所惑，妄生分別，亦以過矣。且青橘與黃橘，治療尚別，矧柚為別種也。郭璞云：柚似橙而大於橘」，此即是識橘柚者也。今若不如此言之，恐後世亦以柚皮為橘皮，是貽無窮之患矣。去古既遠，後之賢者，亦可以意逆之耳。橘惟用皮與核。皮，天下甚所須也。仍湯浸去穰。余如經與《注》。核、皮二者須自收為佳。有人患氣嗽將期，或教以橘皮、生薑焙乾、神麯等分為末，丸桐子大，食後、夜臥，米飲服三五十丸。兼舊患膀胱，緣服此偕愈。然亦取其陳皮入藥，此六陳中一陳也。腎疰腰痛、膀胱氣痛，微炒核，去殼為末，酒調服，愈。</p>

<h2>乳柑子</h2>
<p>今人多作橘皮售於人，不可不擇也。柑皮不甚苦，橘皮極苦，至熟亦苦。若以皮緊慢分別橘與柑，又緣方宜各不同，亦互有緊慢者。脾腎冷人，食其肉多致臟寒或泄痢。</p>

<h2>橙子皮</h2>
<p>今人只以為果，或取皮合湯待賓，未見入藥。宿酒未醒，食之速醒。</p>

<h2>梅實</h2>
<p>食梅則津液泄，水生木也。津液泄，故傷齒。腎屬水，外為齒，故也。王叔和曰：膀胱、腎，合為津府。此語雖鄙，然理存焉。熏之為烏梅，曝乾藏密器中為白梅。</p>

<h2>枇杷葉</h2>
<p>江東西、湖南北、二川皆有之。以其形如琵琶，故名之。治肺熱嗽有功。花白，最先春也。子大如彈丸，四五月熟，色若黃杏，微有毛，肉薄，性亦平，與葉不同。有婦人患肺熱久嗽，身如炙，肌瘦，將成肺癆，以枇杷葉、木通、款冬花、紫菀、杏仁、桑白皮各等分，大黃減半，各如常制，治訖，同為末，蜜丸如櫻桃大。食後、夜臥各含化一丸，未終劑而愈。</p>

<h2>柿</h2>
<p>有著蓋柿，於蒂下別生一重。又牛心柿，如牛之心。蒸餅柿，如今之市買蒸餅。華州有一等朱柿，比諸品中最小，深紅色。又一種塔柿，亦大於諸柿。性皆涼，不至大寒，食之引痰，極甘，故如是。去皮，掛大木株上，使風日中自干，食之多動風。火乾者味不佳。生則澀，以溫水養之，需澀去可食。逮至自然紅爛，澀亦自去，干則性平。</p>

<h2>木瓜</h2>
<p>得木之正，故入筋。以鉛霜塗之，則失醋味。受金之制，故如是。今人多取西京大木瓜為佳，其味和美。至熟止青白色，入藥絕有功。勝、宣州者味淡。此物入肝，故益筋與血。病腰腎腳膝無力，此物不可闕也。</p>

<h2>甘蔗</h2>
<p>今川、廣、湖南北、二浙、江東西皆有。自八九月已堪食，收至三四月，方酸壞。石蜜、沙糖、糖霜皆自此出，惟川浙者為勝。</p>

<h2>石蜜</h2>
<p>川浙最佳，其味厚，其他次之。煎煉成，以鉶象物，達京都。至夏月及久陰雨，多自消化。土人先以竹葉及紙裹，外用石灰埋之，仍不得見風，遂免。今人謂乳糖。其作餅黃白色者，今人又謂之捻糖，易消化，入藥至少。</p>

<h2>沙糖</h2>
<p>又次石蜜，蔗汁清，故費煎煉。致紫黑色，治心肺大腸熱，兼啖駝馬。今醫家治暴熱，多以此物為先導。小兒多食則損齒，土製水也。及生蚌蟲，裸蟲，屬土故，因甘遂生。</p>

<h2>芋</h2>
<p>所在有之，江浙、二川者，最大而長。京、洛者，差圓小。而惟東西京者佳，他處味不及也。當心出苗者為芋頭，四邊附芋頭而生者為芋子。八九月以後可食，至時掘出，置十數日，卻以好土勻埋，至春猶好。生則辛而涎，多食滯氣困脾。唐杜甫詩曰「園收芋慄不全貧」者，是此。以梗擦蜂螫處，愈。</p>

<h2>烏芋</h2>
<p>今人謂之荸薺。皮厚、色黑、肉硬白者，謂之豬荸薺。皮薄、澤色淡紫、肉軟者，謂之羊荸薺。正二月，人採食之。此二等，藥罕用。荒歲，人多采以充糧。</p>

<h2>荔枝</h2>
<p>藥品中今未見用，惟崔元亮方中收之。果實中為上品，多食亦令人發虛熱。此物喜雙，實尤可愛。本朝有蔡君謨《荔枝譜》，其說甚詳。唐杜牧詩云：「一騎紅塵妃子笑，無人知是荔枝來。」此是川蜀荔枝，亦可生置之長安也。以核熳火中燒存性，為末，新酒調一枚末服，治心痛及小腸氣。</p>

<h2>杏核仁</h2>
<p>犬傷人，量所傷大小，爛嚼沃破處，以帛系定，至瘥無苦。又湯去皮，研一升，以水一升半，翻覆絞取稠汁，入生蜜四兩、甘草一莖約一錢，銀石器中熳火熬成稀膏，瓷器盛。食後、夜臥，入少酥，沸湯點一匙匕服，治肺燥喘熱，大腸秘，潤澤五臟。如無上證，更入鹽點尤佳。</p>

<h2>杏實</h2>
<p>《本經》別無治療，《日華子》言多食傷神。有數種皆熱，小兒尤不可食，多致瘡癰及上膈熱。曬蓄為乾果，其深赭色，核大而扁者，為金杏。此等須接，其他皆不逮也。如山杏輩，只可收仁。又有白杏，至熟色青白或微黃，其味甘淡而不酸。</p>

<h2>桃核仁</h2>
<p>桃品亦多，京畿有白桃，光，小於眾桃，不益脾。有赤點斑而光如塗油。山中一種，正是《月令》中桃始華者，但花多子少，不堪啖，惟堪取仁。《唐文選》謂「山桃，發紅萼」者，是矣。又，太原有金桃，色深黃。西京有崑崙桃，肉深紫紅色。此二種尤甘。又餅子桃，如今之香餅子，如此數種入藥，惟以山中自生者為正。蓋取走泄為用，不取肥好者。如傷寒八、九日間，發熱如狂不解，小腹滿痛，有瘀血，用桃仁三十個，湯去皮尖，麩炒赤色，別研，虻蟲三十枚，去翅，水蛭二十枚，各炒，川大黃一兩，同為末，再與桃仁同搗，令勻，煉蜜丸如小豆大，每服二十丸，桃仁湯下，利下瘀血惡物，便愈。未利，再服。</p>

<h2>獼猴桃</h2>
<p>今永興軍南山甚多，食之解實熱，過多則令人臟寒泄。十月爛熟，色淡綠，生則極酸。子繁細，其色如芥子。枝條柔弱，高二三丈，多附木而生。淺山傍道則有存者，深山則多為猴所食。</p>

<h2>胡桃</h2>
<p>胡桃發風。陝洛之間甚多。外有青皮包之，胡桃乃核也。核中穰為胡桃肉。雖如此說，用時，須以湯剝去肉上薄皮。過夏至則不堪食。有人患酒㾴風，鼻上赤，將橘子核微炒為末，每用一錢匕，研胡桃肉一個，同以溫酒調服，以知為度。</p>

<h2>李核仁</h2>
<p>其窠大者高及丈，今醫家少用。實合漿水食，令人霍亂，澀氣而然。今畿內小窯鎮一種最佳，堪入貢。又有御李子，如櫻桃許大，紅黃色，先諸李熟。此李品甚多，然天下皆有之。所以比賢士大夫盛德及天下者，如桃李無處不芬芳也。別本注云：「有野李，味苦，名郁李子，核仁入藥。」此自是郁李仁，別是一種，在木部第十四卷，非野李也。</p>

<h2>梨</h2>
<p>多食則動脾，少則不及病。用犁之意，須當斟酌。惟病酒煩渴人，食之甚佳，終不能卻疾。</p>

<h2>庵羅果</h2>
<p>西洛甚多，亦梨之類也，其狀亦梨，先諸梨熟，七夕前後又堪啖。色黃如鵝梨，才熟便鬆軟，入藥絕稀用。</p>

<h2>安石榴</h2>
<p>有酸淡兩種。旋開單葉花，旋結實，實中子紅。孫枝甚多。秋後經雨則自坼裂。道家謂之三尸酒，云三尸得此果則醉。河陰縣最多。又有一種，子白瑩澈如水晶者，味亦甘，謂之水晶石榴。惟酸石榴皮合斷下藥，仍須老木所結及收之陳久者佳。微炙為末，以燒粟米飯為丸，梧子大，食前熱米飲下三十至五十丸，以知為度。如寒滑，加附子、赤石脂各一倍。</p>

<h2>橄欖</h2>
<p>味澀，食久則甘。嚼汁咽，治魚鯁。</p>

<h2>榲桲</h2>
<p>食之須淨去上浮毛，不爾，損人肺。花亦香，白色。諸果中惟此多生蟲，少有不蛀者。《圖經》言：「欲臥，啖一兩枚而寢」。如此，恐太多痞塞胃脘。</p>

<h1>卷十九</h1>

<h2>白瓜子</h2>
<p>實冬瓜仁也，服食中亦稀用。</p>

<h2>白冬瓜</h2>
<p>一二斗許大，冬月收為菜，壓去汁，蜜煎代果。患發背及一切癰疽，削一大塊，置瘡上，熱則易之，分敗熱毒氣甚良。</p>

<h2>瓜蒂</h2>
<p>此即甜瓜蒂也，去瓜皮，用蒂，約半寸許，曝極干，不限多少為細末。量疾，每用一二錢匕，膩粉一錢匕，以水半合同調勻，灌之，治風涎暴作、氣塞倒臥。服之良久，涎自出。或覺有涎，用諸藥行化不下，但如此服，涎即出。或服藥良久涎未出，含沙糖一塊，下咽，即涎出。此物甚不損人，全勝石碌、硇砂輩。</p>

<h2>甜瓜</h2>
<p>暑月服之，永不中暑氣。多食，未有不下痢者。貧下多食，至深秋作痢為難治，為其消損陽氣故也。亦可以如白冬瓜煎漬收。</p>

<h2>冬葵子</h2>
<p>葵菜子也，四方皆有。苗性滑利，不益人。患癰癤，毒熱內攻未出膿者，水吞三五枚，遂作竅膿出。</p>

<h2>蜀葵</h2>
<p>四時取紅單葉者根，陰乾，治帶下，排膿血惡物，極有驗。</p>

<h2>黃蜀葵花</h2>
<p>與蜀葵別種，非為蜀葵中黃者也。葉心下有紫檀色。摘之，剔為數處，就日乾之。不爾，即浥爛。瘡家為要藥。子，臨產時取四十九粒，研爛，用溫水調服，良久，產。</p>

<h2>莧實</h2>
<p>入藥亦稀，苗又謂之人莧，人多食之。莖高而葉紅黃二色者，謂之紅人莧，可淹菜用。</p>

<h2>苦菜</h2>
<p>四方皆有，在北道則冬方凋斃，生南方則冬夏常青。此《月令》小滿節後，所謂苦菜秀者是此。葉如苦苣更狹，其綠色差淡，折之白乳汁出，常常點瘊子，自落。味苦，花與野菊相似，春、夏、秋皆旋開花。去中熱，安心神。</p>

<h2>萵苣</h2>
<p>今菜中惟此自初生便堪生啖，四方皆有。多食昏人眼，蛇亦畏之。蟲入耳，以汁滴耳中，蟲出。諸蟲不敢食其葉。以其心置耳中，留蟲出路，蟲亦出。有人自長立禁此一物不敢食，至今目不昏。苦苣　搗汁，傅疔瘡殊驗。青苗陰乾，以備冬月，為末，水調傅亦可。</p>

<h2>蕪菁、蘆菔</h2>
<p>蕪菁、蘆菔，二菜也。蘆菔，即蘿蔔也。蕪菁，今世俗謂之蔓菁。夏則枯。當此之時，蔬圃中複種之，謂之雞毛菜。食心，正在春時。諸菜之中，有益無損，於世有功。採擷之餘，收子為油。根，過食動氣。河東太原所出極大，他處不及也。又出吐谷渾。後於萊菔條中。《爾雅·釋草》但名「蘆菔，今謂之蘿蔔」是也。則蕪菁條中，不合更言及蘆菔二字，顯見重複。從《爾雅》為正。</p>

<h2>萊菔根</h2>
<p>即前條所謂蘆菔，今人只謂之蘿蔔。河北甚多，登、萊亦好。服地黃、何首烏人食之，則令人髭發白。世皆言草木中惟此下氣速者，為其辛也。不然，如生薑、芥子又辛也，何止能散而已。萊菔辛而又甘，故能散緩而又下氣速也。散氣用生薑，下氣用萊菔。</p>

<h2>菘菜</h2>
<p>張仲景《傷寒論》「凡用甘草皆禁菘菜」者，是此菘菜也。葉如蕪菁，綠色差淡。其味微苦，葉嫩稍闊。不益中虛人，食之覺冷。</p>

<h2>芥</h2>
<p>似蕪菁，葉上紋皺起，色尤深綠為異。子與苗皆辛，子尤甚。多食動風。一品紫芥與此無異，紫色可愛，人多食之，然亦動風。又，白芥子比諸芥稍大，其色白，入藥用。</p>

<h2>苜蓿</h2>
<p>唐李白詩云：「天馬常銜苜蓿花」，是此。陝西甚多，飼牛馬，嫩時人兼食之。微甘淡，不可多食，利大小腸。有宿根，刈訖又生。</p>

<h2>蓼實</h2>
<p>即《神農本經》第十一卷中「水蓼」之子也。彼言蓼，則用莖；此言實，即用子。故此復論子之功，故分為二條。春初，以葫蘆盛水浸濕，高掛於火上，晝夜使暖，遂生紅芽，取以為蔬，以備五辛盤。又一種水紅，與此相類，但苗莖高及丈。取子微炒，碾為細末，薄酒調二三錢服，治瘰癧。久則效，效則已。</p>

<h2>蔥實</h2>
<p>蔥，初生名蔥針，至夏，則有花。於秋月植，作高溝壠，旋壅起，以備冬用，曰冬蔥，其實一也。又有龍角蔥，每莖上出歧如角。皮赤者名樓蔥，可煎湯，渫下部。子皆辛，黑色，有皺紋，作三瓣。此物大抵以發散為功，多食昏人神。</p>

<h2>薤</h2>
<p>葉如金燈葉，差狹而更光，故古人言薤露者，以其光滑難竚之義。《千金》治肺氣喘急，用薤白。亦取其滑泄也。與蜜同搗，塗湯火傷，效甚速。</p>

<h2>韭</h2>
<p>春食則香，夏食則臭，多食則昏神。子，止精滑甚良。未出糞土為韭黃，最不益人，食之即滯氣。蓋含噎郁未之氣，故如是。孔子曰：「不時不食」，正為此輩。花，食之動風。</p>

<h2>白蘘荷</h2>
<p>八九月間淹貯之，以備冬月作蔬果。治療只用生者。</p>

<h2>蘇</h2>
<p>此紫蘇也。背面皆紫者佳。其味微辛甘，能散，其氣香。今人朝暮湯其汁飲，為無益。醫家以謂芳草致豪貴之疾者，此有一焉。脾胃寒人，飲之多泄滑，往往不覺。子，治肺氣喘急。</p>

<h2>水蘇</h2>
<p>氣味與紫蘇不同，辛而不和，然一如蘇，但面不紫，及周圍槎牙如雁齒，香少。</p>

<h2>假蘇</h2>
<p>荊芥也，只用穗。治產後血暈，及中風目帶上、四肢強直。為末，二三錢，童子小便一小盞，調，下咽，良久即活，甚有驗。又治頭目風，荊芥穗、細辛、川芎等為末，飯後湯點二錢。風搔遍身，濃煎湯淋渫，或坐湯中。</p>

<h2>香薷</h2>
<p>生山野，荊、湖南北、二川皆有。兩京作圃種，暑月亦作蔬菜，治霍亂不可闕也，用之無不效。葉如茵陳，花茸紫，在一邊成穗，凡四五十房為一穗。如荊芥穗，別是一種香。余如經。</p>

<h2>薄荷</h2>
<p>世謂之南薄荷，為有一種龍腦薄荷，故言南以別之。小兒驚風、壯熱，須此引藥。貓食之即醉，物相感爾。治骨蒸熱勞，用其汁與眾藥熬為膏。</p>

<h2>蘩蔞</h2>
<p>雞腸草，一物也。今雖分之為二，其雞腸草條中獨不言性味，故知一物也。雞腸草，春開小花如綠豆大，莖葉如園荽，初生則直，長大即覆地。小戶收之為齋，食之烏髭發。</p>

<h2>葫</h2>
<p>葫，大蒜也，其氣極葷，然置臭肉中掩臭氣。中暑毒人，爛嚼三兩瓣，以溫水送之，下咽，即知，仍禁飲冷水。又，患暴下血，以葫五、七枚，去梗、皮，量多少入豆豉，搗為膏，可丸即丸梧子大，以米飲下五六十丸，無不愈者。又，鼻衄，爛研一顆，塗兩足心下，才止，便拭去。又將紫皮者橫切作片子，厚一分。初患瘡發於背脅間未辨癰疽者，若陽滯於陰，即為癰陰滯於陽，即為疽。癰即皮光赤，疽即皮肉紋起不澤。並以葫片覆之，用艾灸。如已痛，灸至不痛。如不痛，灸至痛。初覺即便灸，無不效者。仍審度正，於中心貼葫，灸之。世人往往不晤此瘡，初見其瘡小，不肯灸，惜哉！</p>

<h2>蒜</h2>
<p>蒜，小蒜也。又謂之蒚，苗如蔥針。根白，大者如烏芋，子兼根煮食之。又謂之宅蒜，華佗用蒜齏是此物。</p>

<h2>蕓薹</h2>
<p>不甚香，經冬根不死，闢蠹，於諸菜中亦不甚佳。</p>

<h2>茄子</h2>
<p>新羅國出一種，淡光，微紫色，形長味甘。今其子已遍中國蔬圃中。惟此無益，並無所治，只說損人。後人雖有處治之法，然終與《本經》相失。圃人又植於暖處，厚加糞壤，遂於小滿前後求貴价以售，既不以時，損人益多。不時不食，於可忽也。</p>

<h2>馬齒莧</h2>
<p>人多食之，然性寒滑，青黛條中已著。</p>

<h1>卷二十</h1>

<h2>胡麻</h2>
<p>諸家之說參差不一，只是今脂麻，更無他義。蓋其種出於大宛，故言胡麻。今胡地所出者，皆肥大。其紋鵲，其色紫黑，故如此區別。取油亦多，故詩云：「松下飯胡麻」。此乃是所食之谷無疑，與白油麻為一等。如川大黃、川當歸、川升麻、上黨人參、齊州半夏之類，不可與他土者更為一物。蓋特以其地之所宜立名也。是知胡麻與白油麻為一物。嘗官於順安軍，雄、霸州之間備見之。又二條皆言無毒，治療大同。今之用白油麻，世不可一日闕也。然亦不至於大寒，宜兩審之。</p>

<h2>青蘘（音箱）</h2>
<p>即油麻葉也，陶隱居注亦曰胡麻葉也。胡地脂麻鵲色，子頗大。《日華子》云「葉作湯沐，潤毛髮」，乃是。今人所取胡麻葉，以湯浸之，良久，涎出，湯遂稠黃色，婦人用之梳髮。由是言之，胡麻與白油麻，今之所謂脂麻者是矣。青蘘，即其葉無疑。</p>

<h2>大麻子</h2>
<p>海東來者最勝，大如蓮實，出毛羅島。其次出上郡、北地，大如豆，南地者子小，去殼法：取麻子，帛包之，沸湯中浸，湯冷出之，垂井中一夜，勿令著水，次日日中曝乾，就新瓦上挼去殼，簸揚取仁，粒粒皆完。張仲景麻仁丸，是用此大麻子。</p>

<h2>白油麻</h2>
<p>與胡麻一等，但以其色言之，比胡麻差淡，亦不全白。今人只謂之脂麻，前條已具。炒熟乘熱壓出油，而謂之生油，但可點照。須再煎煉，方謂之熟油，始可食，復不中點照。亦一異也。如鐵自火中出而謂之生鐵，亦此義耳。</p>

<h2>飴糖</h2>
<p>即糃是也，多食動脾風。今醫家用以和藥，糯與粟米作者佳，余不堪用。蜀黍米亦可造。不思食人少食之，亦使脾胃氣和。唐白樂天詩「一楪膠牙糃」者，是此。</p>

<h2>生大豆</h2>
<p>有綠、褐、黑三種，亦有大小兩等。其大者出江浙、湖南北，黑小者生他處，今用小者，力更佳。炒熟，以棗肉同搗之為麩，代糧。又治產後百病、血熱，並中風疾痱，止痛、背強口噤，但煩熱、瘛瘲若渴、身背腫、劇嘔逆，大豆五升，急水淘淨，無灰酒一斗，熬豆令微煙出，傾入酒瓶中，沃之，經一日以上，服酒一升，取瘥為度。如素不飲酒，即量多少服。若口噤，即加獨活半斤，微微椎破，同沃，仍增酒至一斗二斤。暑月旋作，恐酸壞。又可磑為腐，食之。</p>

<h2>赤小豆</h2>
<p>食之行小便，久則虛人，令人黑瘦枯燥。關西、河北、京東西多食之。花治宿酒渴病。</p>

<h2>大麥</h2>
<p>性平涼，有人患纏喉風，食不能下，將此面作稀糊，令咽之，既滑膩，容易下咽，以助胃氣。三伏中，朝廷作麨，以賜臣下，作蘖造糃。</p>

<h2>青、黃、白粱米</h2>
<p>此三種，食之不及黃粱。青、白二種性皆微涼，獨黃粱性甘平，豈非得土之中和氣多邪？今黃、白二種，西洛間農家多種，為飯尤佳，余用則不相宜。然其粒尖，小於他谷，收實少，故能種者亦稀。白色者味淡。</p>

<h2>粟米</h2>
<p>利小便，故益脾胃。</p>

<h2>丹黍米</h2>
<p>黍皮赤，其米黃，惟可為糜，不堪為飯。黏著難解，然亦動風。</p>

<h2>蘖米</h2>
<p>此則粟蘖也。今穀神散中用之，性又溫於大麥。</p>

<h2>秫米</h2>
<p>初搗，出淡黃白色，經久色如糯，用作酒者是此米，亦不堪為飯。最黏，故宜酒。</p>

<h2>陳廩米</h2>
<p>今經與諸家注說皆不言是粳米，為復是粟米。然粳、粟二米，陳者性皆冷，頻食之，令人自利，與經所說稍戾，煎煮亦無膏膩。入藥者，今人多用新粟米。至如舂杵頭細糠，又復不言新陳粳粟，然皆不及新稻粟二糟，陳則氣味已腐敗。</p>

<h2>酒</h2>
<p>《呂氏春秋》曰：「儀狄造酒」。《戰國策》曰：「帝女儀狄造酒，進之於禹」。然《本草》中已著酒名，信非儀狄明矣。又讀《素問》首言以妄為常，以酒為漿。如此則酒自黃帝始，非儀狄也。古方用酒，有醇酒、春酒、社壇余胙酒、槽下酒、白酒、青酒、好酒、美酒、葡萄酒、秫黍酒、粳酒、蜜酒、有灰酒、新熟無灰酒、地黃酒。今有糯酒、煮酒、小豆麴酒、香藥麴酒、鹿頭酒、恙兒等酒。今江浙、湖南北，又以糯米粉入眾藥，和合為曲，曰餅子酒。至於官務中，亦用四夷酒，更別中國，不可取以為法。今醫家所用酒，正宜斟酌。但飲家惟取其味，不顧入藥如何爾。然久之，未見不作疾者，蓋此物損益兼行，可不謹歟。漢賜丞相上樽酒，糯為上，稷為中，粟為下者。今入藥佐使，專以糯米，用清水、白麵曲所造為正。古人造麴，未見入諸藥合和者，如此則功力和厚，皆勝余酒。今人又以麥蘖造者，蓋只是醴爾，非酒也。《書》曰：「若作酒醴，爾惟麴櫱。」酒則須用曲，醴故用蘖，蓋酒與醴，其氣味甚相遼，治療豈不殊也。</p>

<h2>扁豆</h2>
<p>有黑、白、鵲三等，皆於豆脊有白路。白者，治霍亂筋轉。</p>

<h2>粳米</h2>
<p>白晚米為第一，早熟米不及也。平和五臟，補益胃氣，其功莫逮。然稍生則復不益脾，過熟則佳。</p>

<h2>稻米</h2>
<p>今造酒者是此，水田米皆謂之稻，前既言粳米即此，稻米乃糯稻無疑。溫，故可以為酒。酒為陽，故多熱。又令人大便堅，非糯稻孰能與於此。《西域記》：「天竺國土溽熱，稻歲四熟」，亦可驗矣。</p>

<h2>稷米</h2>
<p>今謂之穄米，先諸米熟。又，其香可愛，故取以供祭祀。然發故疾，只堪為飯，不黏著，其味淡。</p>

<h2>罌子粟</h2>
<p>其花亦多葉者，其子一罌數千萬粒，大小如葶藶子，其色白。隔年種則佳。研子以水煎，仍加蜜，為罌粟湯，服石人甚宜飲。</p>

<h2>醋</h2>
<p>酒糟為之，乞鄰者是此物。然有米醋、麥醋、棗醋。米醋最釅，入藥多用。穀氣全也，故勝糟醋。產婦房中常得醋氣則為佳，酸，益血也。磨雄黃塗蜂蠆，亦取其收而不散也。今人食酸則齒軟，謂其水生木，水氣弱，木氣盛，故如是。造靴皮須得此而紋皺，故知其性收斂，不負酸收之說。</p>

<h2>醬</h2>
<p>聖人以謂不得即不食，意欲五味和，五臟悅而受之，此亦安樂之一端。</p>

<h2>小麥</h2>
<p>暴淋煎湯飲，為面作糊。入藥，水調，治人中暑。馬病肺卒熱，亦以水調灌愈。生嚼成筋，可以黏禽蟲。</p>
