<header data-type="book">
<h1>圖註王叔和脈訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張世賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>明沈氏碧梧亭刊本（<a href="https://www.digital.archives.go.jp/file/1084278">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
