<header data-type="book">
<h1>十二經補瀉溫涼引經藥歌</h1>
<dl class="元資料">
<div><dt>品質</dt><dd>75%</dd></div>
</dl>
</header>
<h2>心經</h2>
<p>問君何藥補心經，遠志山藥共麥冬，棗仁當歸天竺黃，六味何來大有功。
玄參苦，黃連涼，木香貝母瀉心強；涼心竹葉犀牛角，朱砂連翹並牛黃。
溫心藿香石菖蒲；引用細辛獨活湯。</p>
<h2>肝經</h2>
<p>滋補肝經棗仁巧，薏苡木瓜與貢膠；瀉肝柴胡並白芍，青皮青黛不可少；
胡黃連，龍膽草，車前甘菊涼肝表；溫肝木香吳萸桂；引用青皮川芎好。</p>
<h2>脾經</h2>
<p>補脾人參綿黃耆，扁豆白朮共陳皮，蓮子山藥白茯苓，芡實蒼朮甘草宜。
瀉脾藥，用枳實，石膏大黃青皮奇。溫脾官桂丁藿香，附子良薑胡椒粒。
滑石玄明涼脾藥；白芍升麻引入脾。</p>
<h2>肺經</h2>
<p>補肺山藥共麥冬，紫菀烏梅與參苓，阿膠百部五味子，棉州黃耆更湊靈。
紫蘇子，與防風，澤瀉葶藶瀉肺經，更有枳殼桑白皮，六味瀉肺一般同。
溫肺木香冬花尋，生薑乾薑白蔻仁；涼肺黃芩與貝母，人溺山梔沙玄參。
馬兜鈴，瓜蔞仁，桔梗天冬必去心；引用白芷與升麻，連須蔥白用幾根。</p>
<h2>腎經</h2>
<p>補腎山藥甘枸杞，螵蛸龜板與牡蠣，杜仲鎖陽巨勝子，山萸蓯蓉共巴戟，
龍虎骨，懷牛膝，五味菟絲與芡實，再加一味懷熟地，共補腎經十八味。
瀉腎不必多求方，知母澤瀉兩相當。溫腎肉桂並附子，鹿茸故紙海沈香，
亦溫腎，膃肭臍；涼腎知柏地骨皮，再加一味粉丹皮；引用獨活肉桂奇。</p>
<h2>胃經</h2>
<p>補胃需用蒼白朮，半夏扁豆綿黃耆，芡實蓮肉共百合，山藥還加廣陳皮。
瀉胃火，亦如脾，再加一味南枳實，更添芒硝與大黃，多加石膏謝更急。
溫胃木丁與藿香，益智吳萸與良薑，香附白肉草豆蔻，厚樸胡椒生乾薑。
涼胃葛根條黃芩，滑石黃連玄花粉，知母連翹石膏斛，梔子升麻竹茹尋，
十三味藥涼胃火；白芷升麻引胃藥。</p>
<h2>膽經</h2>
<p>補膽龍膽與木通；柴胡青皮瀉膽經。溫用陳皮制半夏，更加生薑與川芎。
涼用竹茹與黃連；引用盡皆同肝經。</p>
<h2>大腸經</h2>
<p>問君大腸何藥補？左旋牡蠣白龍骨，桔梗米殼訶子皮，山藥肉蔻並蓮肉。
川大黃，南檳榔，枳殼石斛瀉大腸，再加芒硝桃麻仁，蔥白三寸瀉更強。
乾薑肉桂吳茱萸，三者同時能溫腸，引藥盡皆同胃經；槐花條芩涼大腸。</p>
<h2>小腸經</h2>
<p>小腸石斛牡蠣補；瀉用木通共紫蘇，連須蔥白荔枝核，同為瀉劑君知否。
小腸要求溫，大小茴香烏藥根；涼用黃芩天花粉；引用羌活與高本。</p>
<h2>膀胱經</h2>
<p>橘核菖蒲補膀胱，益智續斷龍骨良；瀉用芒硝車前子，澤瀉滑石石葦幫。
溫用烏藥並茴香；涼用黃柏生地黃，甘草梢，亦屬涼；引用盡皆同小腸。</p>
<h2>三焦經</h2>
<p>滋補三焦用益智，更加甘草與黃耆；瀉用梔子並澤瀉；溫用薑附頗有益。
原石膏，地骨皮，清涼三焦功效急。引入三焦不用別，藥與肝膽無差異。</p>
<h2>心包經</h2>
<p>地黃一味補包絡；瀉用烏藥並枳殼；溫肉桂；涼梔子；柴芎青皮是引藥。</p>
