<header data-type="book">
<h1>吳普本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳普</dd></div>
<div><dt>朝代</dt><dd><data value="魏晉">漢末至魏晉</data></dd></div>
<div><dt>年份</dt><dd><data value="0200/0250">公元200年至公元250年</data></dd></div>
</dl>
</header>

<h1>玉石類</h1>

<h2>丹砂</h2>
<p><u>《御覽》卷九百八十五</u></p>
<p>神農：甘。黃帝、岐伯：苦，有毒。扁鵲：苦。李氏：大寒。或生武陵。採無時，能化朱成水銀，畏磁石，惡鹹水。</p>

<h2>雲母</h2>
<p><u>按：此藥參見本書「凝水石」條，《本經》首載此藥。</u></p>

<h2>玉泉</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名玉屑。神農、岐伯、雷公：甘。李氏：平。畏冬華，惡青竹。白玉體如白頭公。</p>

<h2>鍾乳</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名虛中，一名夏。神農：辛。桐君、黃帝、醫和：甘。扁鵲：甘，無毒。李氏：大寒。或生太山山谷陰處，岸下聚溜汁所成，如乳汁，黃白色，空中相通。二月、三月採，陰乾。</p>

<h2>礬石</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名羽涅，一名羽澤。神農、岐伯：酸。扁鵲：咸。雷公：酸，無毒。生河西或隴西，或武都、石門。採無時。岐伯：久服傷人骨。</p>

<h2>硝石</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：苦。扁鵲：甘。</p>

<h2>朴硝石</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、岐伯、雷公：無毒。生益州或山陰。入土千歲不變，煉之不成不可服。</p>

<h2>石膽</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名黑石，一名銅勒。神農：酸，小寒。李氏：大寒。桐君：辛，有毒。扁鵲：苦，無毒。生羌道或句青山。二月庚子、辛丑採。</p>

<h2>空青</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：甘。一經：酸。久服有神仙玉女來侍，使人志高。</p>

<h2>太一禹餘糧</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名禹哀。神農、岐伯、雷公：甘，平。李氏：小寒。扁鵲：甘，無毒。生太山。上有甲，甲中有白，白中有黃，如雞子黃色。九月採，或無時。</p>

<h2>白石英</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農：甘。岐伯、黃帝、雷公、扁鵲：無毒。生太山。形如紫石英，白澤，長者二、三寸。採無時。久服通日月光。青石英形如白石英，青端赤後者是。赤石英形如白石英，赤端白後者是，赤澤有光，味苦，補心氣。黃石英形如白石英，黃色如金，赤端者是。黑石英形如白石英，黑澤有光。</p>

<h2>紫石英</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農、扁鵲：甘，氣平。李氏：大寒。雷公：大溫。岐伯：甘，無毒。生太山或會稽。採無時。欲令如削，紫色頭，如樗蒲者。</p>

<h2>五石脂</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名青、赤、黃、白、黑符。青符，神農：甘。雷公：酸，無毒。桐君：辛，無毒。李氏：小寒。生南山或海涯。採無時。</p>

<h2>赤符</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農、雷公：甘。黃帝、扁鵲：無毒。李氏：小寒。或生少室，或生太山。色絳，滑如脂。</p>

<h2>黃符</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>李氏：小寒。雷公：苦。或生嵩山，色如㹠腦、雁雛。採無時。</p>

<h2>白符</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名隨。岐伯、雷公：酸，無毒。李氏：小寒。桐君：甘，無毒。扁鵲：辛。或生少室、天婁山，或太山。</p>

<h2>黑符</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名石泥。桐君：甘，無毒。生洛西山空地。</p>

<h2>白青</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：甘，平。雷公：咸，無毒。生豫章。可消為銅。</p>

<h2>扁青</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、雷公：小寒，無毒。生蜀郡。明目，治癰腫、風痹、丈夫內絕，令人有子。久服輕身。</p>

<h2>雄黃</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：苦。山陰有丹雄黃，生山之陽，故曰雄，是丹之雄，所以名雄黃也。</p>

<h2>硫黃</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名石硫黃。神農、黃帝、雷公：咸，有毒。醫和、扁鵲：苦，無毒。或生易陽，或河西。或五色黃，是潘水石液也，燒令有紫炎者。八月、九月採。治婦人結陰。能化金銀銅鐵。</p>

<h2>水銀</h2>
<p><u>按：此藥參見本書「丹砂」條，《本經》首載此藥。</u></p>

<h2>磁石</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名磁君。</p>

<h2>凝水石</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名白水石，一名六石，一名寒水石。神農：辛。岐伯、醫和：甘，無毒。扁鵲：甘，無毒。李氏：大寒。或生邯鄲。採無時。如雲母也。</p>

<h2>陽起石</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農、扁鵲：酸，無毒。桐君、雷公、岐伯：咸，無毒。李氏：小寒。或生太山，或陽起山。採無時。</p>

<h2>孔公孽</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農：辛。岐伯：咸。扁鵲：咸，無毒。色青黃。</p>

<h2>理石</h2>
<p><u>按：此藥參見本書「龍骨」條，《本經》首載此藥。</u></p>

<h2>長石</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名方石，一名土石，一名直石。生長子山。理如馬齒，潤澤，玉色，長服不飢。</p>

<h2>白礬石</h2>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名鼠鄉，一名太白，一名澤乳，一名食鹽。神農、岐伯：辛，有毒。桐君：有毒。黃帝：甘，有毒。李氏：大寒。主溫熱。生漢中，或生魏興，或生少室。十二月採。</p>

<h2>戎鹽</h2>
<p><u>《北堂書鈔》卷百四十六</u></p>
<p>無毒。李氏曰：大寒。生邯鄲、西羌、戎胡山。</p>

<h2>滷咸</h2>
<p><u>《綱目》卷十一</u></p>
<p>一名滷鹽、寒石。</p>

<h2>白堊</h2>
<p><u>《一切經音義》卷五十九</u></p>
<p>一名白墡。</p>

<h2>石流赤</h2>
<p><u>《綱目》卷十一</u></p>
<p>生羌道山谷。</p>

<h1>草木類</h1>

<h2>菖蒲</h2>
<p><u>《類聚》卷八十一</u></p>
<p>一名堯韭，一名昌陽。</p>

<h2>菊華</h2>
<p><u>《初學記》卷二十七</u></p>
<p>一名白華，一名女華，一名女室。</p>

<h2>人參</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名土精，一名神草，一名黃參，一名血參，一名人微，一名玉精。神農：甘，小寒。桐君、雷公：苦。岐伯、黃帝：甘，無毒。扁鵲：有毒。或生邯鄲。三月生，葉小兌，核黑，莖有毛。三月、九月採根，根有頭、足、手，面目如人。</p>

<h2>術</h2>
<p><u>《類聚》卷八十一</u></p>
<p>一名山連，一名山芥，一名天蘇，一名山姜。</p>

<h2>菟絲實</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名玉女，一名松蘿，一名鳥蘿，一名鴞蘿，一名復實，一名赤網。生山谷。</p>

<h2>牛膝</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農：甘。一經：酸。黃帝、扁鵲：甘。李氏：溫。雷公：酸，無毒。生河內或臨邛。葉如藍，莖本赤。二月、八月採。</p>

<h2>委萎</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名葳蕤，一名王馬，一名節地，一名蟲蟬，一名烏萎，一名熒，一名玉竹。神農：苦。一經：甘。桐君、雷公、扁鵲：甘，無毒。黃帝：辛。生太山山谷。葉青黃、相值如姜。二月、七月採。治中風、暴熱，久服輕身。</p>

<h2>房葵</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名梁蓋，一名爵離，一名房苑，一名晨草，一名利如，一名方蓋。神農：辛，小寒。桐君、扁鵲：無毒。岐伯、雷公、黃帝：苦，無毒。莖葉如葵，上黑黃。二月生根，根大如桔梗，根中紅白，六月華白，七月、八月實白。三月三日採根。</p>

<h2>茈胡</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名山來，一名如草。神農、岐伯、雷公：苦，無毒。生冤句。二月、八月採根。</p>

<h2>麥門冬</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名羊韭。秦，一名烏韭；楚，一名馬韭。越，一名羊韭；齊，一名愛韭，一名禹韭，一名爨火冬，一名忍冬，一名忍凌，一名不死藥，一名禹餘糧，一名僕壘，一名隨脂。神農、岐伯：甘，平。黃帝、桐君、雷公：甘，無毒。李氏：甘，小溫。扁鵲：無毒。生山谷肥地。葉如韭，肥澤叢生。採無時。實青黃。</p>

<h2>獨活</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名胡王使者。神農、黃帝：苦，無毒。八月採。此藥有風華不動，無風獨搖。</p>

<h2>升麻</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名周升麻。神農：甘。</p>

<h2>署豫</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名諸署，秦、楚名玉延，齊、越名山羊，鄭、趙名山羊，一名玉延，一名修脆，一名兒草。神農：甘，小溫。桐君、雷公：甘，無毒。或生臨朐、鐘山。始生，赤莖細蔓，五月華白，七月實青黃，八月熟落。根中白，皮黃，類芋。二月、三月、八月採根。惡甘遂。</p>

<h2>龍膽</h2>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載此藥。</u></p>

<h2>細辛</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名小辛，一名細草。神農、黃帝、雷公、桐君：辛，小溫。岐伯：無毒。李氏：小寒。如葵，葉赤色，一根一葉相連。二月、八月採根。</p>

<h2>石斛</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農：甘，平。扁鵲：酸。李氏：寒。</p>

<h2>鬼督郵</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名神草，一名閻狗。或生太山，或少室。莖如箭，赤，無葉，根如芋子。三月、四月、八月採根，日乾。治癰腫。</p>

<h2>奄閭</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農、雷公、桐君、岐伯：苦，小溫，無毒。李氏：溫。或生上黨。葉青厚，兩兩相當。七月華白，九月實黑。七月、九月、十月採。驢馬食仙去。</p>

<h2>菥蓂</h2>
<p><u>《御覽》卷九百八十</u></p>
<p>一名析目，一名榮冥，一名馬駒。雷公、神農、扁鵲：辛。李氏：小溫。四月採，干二十日。生道旁。得細辛良，惡乾薑、苦參。</p>

<h2>薺實</h2>
<p><u>《御覽》卷九百八十</u></p>
<p>神農：甘，無毒。生野田，五月五日採，陰乾，治腹脹。</p>

<h2>紫芝</h2>
<p><u>《御覽》卷九百八十六</u></p>
<p>一名木芝。</p>

<h2>卷柏</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名豹足，一名求股，一名萬歲，一名神投時。神農：辛，平。桐君、雷公：甘。生山谷。</p>

<h2>芎藭</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名香果。神農、黃帝、岐伯、雷公：辛，無毒，香。扁鵲：酸，無毒。李氏：生溫中，熟寒。或生胡無桃山陰，或斜谷西嶺，或太山。葉香、細、青黑，文赤如藁本。冬夏藂生，五月華赤，七月實黑，附端兩葉。三月採根，根有節，似如馬銜狀。</p>

<h2>蘪蕪</h2>
<p><u>《御覽》卷九百八十三</u></p>
<p>一名芎藭。</p>

<h2>黃連</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農、岐伯、黃帝、雷公：苦，無毒。李氏：小寒。或生蜀郡、太山之陽。</p>

<h2>落石</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名鱗石，一名明石，一名縣石，一名雲華，一名云珠，一名雲英，一名云丹。神農：苦，小溫。雷公：苦，無毒。扁鵲、桐君：甘，無毒。李氏：大寒。云藥中君。採無時。</p>

<h2>刺蒺藜</h2>
<p><u>《匯言》卷四</u></p>
<p>化症。</p>

<h2>肉蓯蓉</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名肉鬆蓉。神農、黃帝：咸。雷公：酸。李氏：小溫。生河東山陰地。長三、四寸，藂生。或代郡、雁門。二月至八月採，陰乾用之。</p>

<h2>防風</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名回云，一名回草，一名百枝，一名蕑根，一名百韭，一名百種。神農、黃帝、岐伯、桐君、雷公、扁鵲：甘，無毒。李氏：小寒。或生邯鄲、上蔡。正月生，葉細圓，青黑黃白，五月華黃，六月實黑，二月、十月採根，日乾。琅邪者良。</p>

<h2>醮</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名醮石，一名香蒲。神農、雷公：甘。生南海池澤中。</p>

<h2>薔薇</h2>
<p><u>《御覽》卷九百九十八</u></p>
<p>一名牛勒，一名牛膝，一名薔薇，一名山棗。</p>

<h2>豕首</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名澤藍。神農、黃帝：甘、辛，無毒。生宛朐，五月採。</p>

<h2>決明子</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名草決明，一名羊明。</p>

<h2>丹參</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名赤參，一名木羊乳，一名郗蟬草。神農、桐君、黃帝、雷公、扁鵲：苦，無毒。李氏：大寒。岐伯：咸。生桐柏、或生太山山陵陰。莖華，小方如荏，有毛，根赤。四月華紫，三月、五月採根，陰乾。治心腹痛。</p>

<h2>五味</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名玄及。</p>

<h2>蛇床</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名蛇珠。</p>

<h2>因塵</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>神農、岐伯、雷公：苦，無毒。黃帝：辛，無毒。生田中。葉如藍。十一月採。</p>

<h2>白沙參</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名苦心，一名識美，一名虎鬚，一名白參，一名志取，一名文虎。神農、黃帝、扁鵲：無毒。岐伯：咸。李氏：大寒。生河內川穀，或般陽瀆山。三月生，如葵，葉青，實白如芥，根大白如蕪菁。三月採。</p>

<h2>白菟藿</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名白葛谷。</p>

<h2>徐長卿</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名石下長卿。神農、雷公：辛。或生隴西。三月採。</p>

<h2>龍蒭</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名龍多，一名龍鬢，一名續斷，一名龍木，一名草毒，一名龍華，一名懸菟。神農、李氏：小寒。雷公、黃帝：苦，無毒。扁鵲：辛，無毒。生梁州。七月七日採。</p>

<h2>薇䕔</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名糜䕔，一名無原，一名承膏，一名承醜，一名無心鬼。</p>

<h2>雲實</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名員實，一名天豆。神農：辛，小溫。黃帝：咸。雷公：苦。葉如麻，兩兩相值，高四、五尺，大莖空中，六月華，八月、九月實，十月採。</p>

<h2>王不留行</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名王不流行。神農：苦，平。岐伯、雷公：甘。三月、八月採。</p>

<h2>乾薑</h2>
<p><u>按：此藥參見本書「菥蓂」、「千歲垣中膚皮」條，《本經》首載此藥。</u></p>

<h2>葛根</h2>
<p><u>《御覽》卷九百九十五</u></p>
<p>神農：甘。生太山。</p>

<h2>栝樓</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名澤巨，一名澤冶。</p>

<h2>苦參</h2>
<p><u>按：此藥參見本書「菥蓂」條，《本經》首載此藥。</u></p>

<h2>當歸</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>神農、黃帝、桐君、扁鵲：甘，無毒。岐伯、雷公：辛，無毒。李氏：小溫。或生羌胡地。</p>

<h2>麻黃</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名卑相，一名卑監。神農、雷公：苦，無毒。扁鵲：酸，無毒。李氏：平。或生河東。四月、立秋採。</p>

<h2>通草</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名丁翁，一名附支。神農、黃帝：辛。雷公：苦。生石城山谷，葉青，蔓延。止汗。自正月採。</p>

<h2>芍藥</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名其積，一名解倉，一名誕，一名余容，一名白朮。神農：苦。桐君：甘，無毒。岐伯：咸。李氏：小寒。雷公：酸。二月、三月生。</p>

<h2>蠡實</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名劇草，一名三堅，一名劇荔華。</p>

<h2>玄參</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名鬼藏，一名正馬，一名重臺，一名鹿腸，一名端，一名玄臺。神農、桐君、黃帝、雷公、扁鵲：苦，無毒。岐伯：咸。李氏：寒。或生冤句山陽。二月生，葉如梅毛，四四相值，以芍藥，黑莖，莖方，高四、五尺，華赤，生枝間，四月實黑。</p>

<h2>百合</h2>
<p><u>《類聚》卷八十一</u></p>
<p>一名重邁，一名中庭，一名重匡。生冤朐及荊山。</p>

<h2>知母</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名提母。神農、桐君：無毒。補不足、益氣。</p>

<h2>白芷</h2>
<p><u>《御覽》卷九百八十三</u></p>
<p>一名䖀，一名苻離，一名澤芬，一名葩。</p>

<h2>淫羊藿</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>神農、雷公：辛。李氏：小寒。堅骨。</p>

<h2>黃芩</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名黃文，一名妒婦，一名虹勝，一名經芩，一名印頭，一名內虛。神農、桐君、黃帝、雷公、扁鵲：苦，無毒。李氏：小溫。二月生，赤黃葉，兩兩四四相值，莖空中，或方圓，高三、四尺，四月華紫紅赤，五月實黑，根黃，二月至九月採。</p>

<h2>狗脊</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名狗青，一名萆薢，一名赤節，一名強膂。神農：苦。桐君、黃帝、岐伯、雷公、扁鵲：甘，無毒。李氏：溫。如萆薢，莖節如竹，有刺。葉圓青赤。根黃白，亦如竹。根毛有刺。岐伯、一經：莖無節，葉端圓，赤，皮白有赤脈。二月採。</p>

<h2>石龍芮</h2>
<p><u>《御覽》卷九百九十二、九百九十三</u></p>
<p>一名水姜苔，一名姜苔，一名天豆。神農：苦，平。岐伯：酸。扁鵲、李氏：大寒。雷公：咸，無毒。五月五日採。</p>

<h2>紫菀</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名青苑。</p>

<h2>紫草</h2>
<p><u>《御覽》卷九百九十六</u></p>
<p>一名地血。節赤，二月華。</p>

<h2>前胡</h2>
<p><u>按：此藥參見本書「大豆黃卷」條，《別錄》載此藥。</u></p>

<h2>敗醬</h2>
<p><u>《綱目》卷十六</u></p>
<p>其根似桔梗。</p>

<h2>酸漿</h2>
<p><u>《御覽》卷九百九十八</u></p>
<p>一名酢漿。</p>

<h2>牡蒙</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名紫參，一名眾戎，一名音腹，一名伏菟，一名重傷。神農、黃帝：苦。李氏：小寒。生河西山谷，或宛句商山。圓聚生，根黃赤有文，皮黑中紫，五月華紫赤，實黑，大如豆。三月採根。</p>

<h2>藁本</h2>
<p><u>按：此藥參見本書芎藭條，《本經》首載此藥。</u></p>

<h2>萆薢</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名百枝。</p>

<h2>白薇</h2>
<p><u>按：此藥參見本書「麻子中人」條，《本經》首載此藥。</u></p>

<h2>水萍</h2>
<p><u>《初學記》卷二十七</u></p>
<p>一名水廉。生池澤水上。葉圓小，一莖一葉，根入水。五月華白，三月採，日乾之。暴熱，下水氣，利小便。</p>

<h2>海藻</h2>
<p><u>按：此藥參見本書大豆黃卷條，《本經》首載此藥。</u></p>

<h2>澤蘭</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名水香。神農、黃帝、岐伯、桐君：酸，無毒。李氏：溫。生下地水旁。葉如蘭，二月生苗，赤節，四葉相值枝節間。三月三日採。</p>

<h2>綸布</h2>
<p><u>《綱目》卷十九</u></p>
<p>一名昆布。酸、咸，寒，無毒。消瘰癧。</p>

<h2>木防己</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名解離，一名解燕。神農：辛。黃帝、岐伯、桐君：苦，無毒。李氏：大寒。如葛莖，蔓延如芄，白根，外黃似桔梗，內黑文，如車輻解。二月、八月、十月採根。</p>

<h2>款冬</h2>
<p><u>《類聚》卷八十一</u></p>
<p>十二月花，花黃白。</p>

<h2>牡丹</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農、岐伯：辛。李氏：小寒。雷公、桐君：苦，無毒。黃帝：苦，有毒。葉如蓬相值，黃色。根如指，黑，中有核。二月採，八月採，日乾。可食之，輕身益壽。</p>

<h2>薺苨</h2>
<p><u>按：此藥參見本書桔梗條，《別錄》載此藥。</u></p>

<h2>千歲垣中膚皮</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>得薑、赤石脂共治。</p>

<h2>女苑</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名白苑，一名織女苑。</p>

<h2>黃孫</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名王孫，一名蔓延，一名公草，一名海孫。神農、雷公：苦，無毒。黃帝：甘，無毒。生西海川穀及汝南城郭垣下。蔓延，赤文，莖葉相當。</p>

<h2>爵麻</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名爵卿。</p>

<h2>附子</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>名莨。神農：辛。岐伯、雷公：甘，有毒。李氏：苦，有毒，大溫。或生廣漢。八月採。皮黑肌白。</p>

<h2>烏頭</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名莨，一名千秋，一名毒公，一名果負，一名耿子。神農、雷公、桐君、黃帝：甘，有毒。正月始生，葉厚，莖方中空，葉四面相當，與蒿相似。烏喙，神農、雷公、桐君、黃帝：有毒。李氏：小寒。十月採。形如烏頭，有兩岐相合，如烏頭之喙，名曰烏喙也，所畏惡使，盡與烏頭同。</p>

<h2>天雄</h2>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載此藥。</u></p>

<h2>側子</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名莨。神農、岐伯：有大毒。李氏：大寒。八月採，陰乾。是附子角之大者。畏惡與附子同。</p>

<h2>半夏</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名和姑。生微邱，或生野中。葉三三相偶，二月始生，白華圓上。</p>

<h2>虎掌</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>神農、雷公：苦，無毒。岐伯、桐君：辛，有毒。或生太山，或宛朐。立秋九月採。</p>

<h2>鳶尾</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>治蠱毒。</p>

<h2>大黃</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名黃良，一名火參，一名膚如。神農、雷公：苦，有毒。扁鵲：苦，無毒。李氏：小寒。為中將軍，或生蜀郡北部，或隴西。二月卷生，生黃赤葉，四四相當，黃莖，高三尺許，三月華黃，五月實黑，三月採根，根有黃汁，切陰乾。</p>

<h2>桔梗</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名符蔰，一名白藥，一名利如，一名梗草，一名盧茹，一名房圓。神農、醫和：苦，無毒。扁鵲、黃帝：咸。岐伯、雷公：甘，無毒。李氏：大寒。葉如薺苨，莖如筆管，紫赤。二月生。生嵩山山谷及冤句。</p>

<h2>藜蘆</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名蔥葵，一名山蔥，一名豐蘆，一名蕙葵，一名公苒。神農、雷公：辛，有毒。黃帝：有毒。岐伯：咸，有毒。李氏：大毒，大寒。扁鵲：苦，有毒。大葉根小相連。二月採根。</p>

<h2>秦鉤吻</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名毒根，一名野葛。神農：辛。雷公：有毒，殺人。生南越山，或益州。葉如葛，赤莖，大如箭，方，根黃色。或生會稽東冶。正月採。</p>

<h2>射干</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名黃遠。</p>

<h2>恆山</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名七葉。神農、岐伯：苦。李氏：大寒。桐君：辛，有毒。二月、八月採。</p>

<h2>蜀漆葉</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名恆山。神農、岐伯、雷公：辛，有毒。黃帝：辛。一經：酸。如漆葉、藍菁相似，五月採。</p>

<h2>甘遂</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名主田，一名日澤，一名重澤，一名鬼醜，一名陵藁，一名甘藁，一名苦澤。神農、桐君：苦，有毒。岐伯、雷公：有毒。須二月、八月採。</p>

<h2>白及</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名臼根。神農：苦。黃帝：辛。李氏：大寒。雷公：辛，無毒。莖葉如生薑、藜蘆也。十月華，直上，紫赤。根白，連。二月、八月、九月採。生宛句。</p>

<h2>茵芋</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名卑山共。微溫，有毒，狀如莽草而細軟。</p>

<h2>貫眾</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名貫來，一名貫中，一名渠母，一名貫鍾，一名伯芹，一名藥藻，一名扁符，一名黃鐘。神農、岐伯：苦，有毒。桐君、扁鵲：苦。一經：甘，有毒。黃帝：咸、酸、微苦，無毒。葉青黃，兩兩相對，莖黑毛聚生，冬夏不死，四月華白，七月實黑，聚相連卷旁行生，三月、八月採根，五月採葉。</p>

<h2>狼牙</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名支蘭，一名狼齒，一名犬牙，一名抱牙。神農、黃帝：苦，有毒。桐君：咸。岐伯、雷公、扁鵲：苦，無毒。或生宛句。葉青，根黃赤，六月、七月華，八月實黑。正月、八月採根。消疥癬。</p>

<h2>羊躑躅華</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農、雷公：辛，有毒。生淮南。治賊風、惡毒，諸邪氣。</p>

<h2>萹蓄</h2>
<p><u>《御覽》卷九百九十八</u></p>
<p>一名蓄辯，一名萹蔓。</p>

<h2>白頭翁</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名野丈人，一名奈何草。神農、扁鵲：苦，無毒。生嵩山山谷。治氣狂、寒熱，止痛。</p>

<h2>鬼臼</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名九臼，一名天臼，一名雀犀，一名馬目公，一名解毒。生九真山谷及冤句。二月、八月採根。</p>

<h2>鼠尾</h2>
<p><u>《御覽》卷九百九十五</u></p>
<p>一名莖，一名山陵翹。治痢也。</p>

<h2>女青</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名霍由祗。神農、黃帝：辛。</p>

<h2>閭茹</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名離樓，一名屈居。神農：辛。岐伯：酸、咸，有毒。李氏：大寒。二月採，葉圓黃，高四、五尺，葉四四相當。四月華黃，五月實黑。根黃有汁，亦同黃。三月、五月採根，黑頭者良。</p>

<h2>石長生</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農：苦。雷公：辛。一經：甘。生咸陽或同陽。</p>

<h2>王芻</h2>
<p><u>《御覽》卷九百九十七</u></p>
<p>一名黃草。神農、雷公：苦。生太山山谷。治身熱邪氣、小兒身熱氣。</p>

<h2>芫華</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名去水，一名敗華，一名兒草根，一名黃大戟。神農、黃帝：有毒。扁鵲、岐伯：苦。李氏：大寒。二月生。葉青，加厚則黑，華有紫、赤、白者，三月實落盡，葉乃生，三月、五月採華。</p>

<h2>石芸</h2>
<p><u>《御覽》卷九百八十二</u></p>
<p>一名敞列，一名顧喙。</p>

<h2>蒲陰實</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>生平谷，或圃中。延蔓如瓜，葉實如桃。七月採。止溫，延年。</p>

<h2>地朕</h2>
<p><u>《綱目》卷二十</u></p>
<p>一名夜光，一名承夜。</p>

<h2>萱草</h2>
<p><u>《綱目》卷十六</u></p>
<p>一名妓女。</p>

<h2>小華</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名結草。</p>

<h2>桂</h2>
<p><u>《要術》卷十</u></p>
<p>一名止唾。</p>

<h2>枸杞</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名杞芭，一名羊乳。</p>

<h2>茯苓</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>通神。桐君：甘。雷公、扁鵲：甘，無毒。或生益州大松根下，入地三尺一丈。二月、七月採。</p>

<h2>琥珀</h2>
<p><u>按：此藥參見本書「丹雞卵」條，《本經》首載此藥。</u></p>

<h2>酸棗</h2>
<p><u>按：此藥參見本書「山茱萸」條，《本經》首載此藥。</u></p>

<h2>谷木皮</h2>
<p><u>《御覽》卷九百六十</u></p>
<p>治喉閉、痹。一名楮。</p>

<h2>乾漆</h2>
<p><u>按：此藥參見本書「龍骨」條，《本經》首載此藥。</u></p>

<h2>杜仲</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名木綿，一名思仲。</p>

<h2>蕤核</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名𦳚。神農、雷公：甘，無毒，平，生池澤。八月採。補中強中，強志，明耳目，久服不飢。</p>

<h2>青竹</h2>
<p><u>按：此藥參見本書「玉泉」條。《本經》首載竹葉。</u></p>

<h2>枳實</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農：苦。雷公：酸，無毒。李氏：大寒。九月、十月採，陰乾。</p>

<h2>厚朴</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名厚皮。神農、岐伯、雷公：苦，無毒。李氏：小溫。生交阯。</p>

<h2>岑皮</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名秦皮。神農、雷公、黃帝、岐伯：酸，無毒。李氏：小寒。或生宛句水邊。二月、八月採。</p>

<h2>山茱萸</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名⿺鬼歺實，一名鼠矢，一名雞足。神農、黃帝、雷公、扁鵲：酸，無毒。岐伯：辛。一經：酸。或生宛句、琅邪，或東海、承縣。葉如梅，有刺毛。二月華，如杏，四月實，如酸棗赤，五月採實。</p>

<h2>紫威</h2>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名武威，一名瞿夌，一名陵居腹，一名鬼目，一名芰華。神農、雷公：酸。岐伯：辛。扁鵲：苦、咸。黃帝：甘，無毒。如夌，根黑。正月、八月採。或生真定。</p>

<h2>豬苓</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>神農：甘。雷公：苦，無毒。如茯苓。或生宛句。八月採。</p>

<h2>龍眼</h2>
<p><u>《要術》卷十</u></p>
<p>一名益智，一名比目。</p>

<h2>鬼箭</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名衛矛。神農、黃帝、桐君：苦，無毒。葉如桃、如羽。正月、二月、七月採，陰乾。或生野田。</p>

<h2>巴豆</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名巴菽。神農、岐伯、桐君：辛，有毒。黃帝：甘，有毒。李氏：生溫熟寒。葉如大豆。八月採。</p>

<h2>蜀椒</h2>
<p><u>按：此藥參見本書「龍骨」條，《本經》首載此藥。</u></p>

<h2>郁核</h2>
<p><u>《御覽》卷九百七十三</u></p>
<p>一名雀李，一名車下李，一名棣。</p>

<h2>莽草</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名春草。神農：辛。雷公、桐君：苦，有毒。生上谷山中，或宛句。五月採。治風。</p>

<h2>雷丸</h2>
<p><u>《御覽》卷九百九十</u></p>
<p>一名雷實。神農：苦。黃帝、岐伯、桐君：甘，有毒。扁鵲：甘，無毒。李氏：大寒。或生漢中。八月採。</p>

<h2>蜀黃環</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名生蒭，一名根韭。神農、黃帝、岐伯、桐君、扁鵲：辛。一經：味苦，有毒。二月生，初出正赤，高二尺，葉黃圓端大，莖葉有汁，黃白。五月實圓，三月採根，根黃，縱理，如車輻解。治蠱毒。</p>

<h2>鼠李</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名牛李。</p>

<h2>淮木</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>神農、雷公：無毒。生晉平陽、河東平澤。治久咳上氣，傷中羸虛，補中益氣。</p>

<h2>翹根</h2>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農、雷公：甘，有毒。李氏：苦。二月、八月採。以作蒸飲酒，病人。</p>

<h1>蟲獸類</h1>

<h2>龍骨</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>生晉地山谷陰，大水所過處。是死龍骨，色青白者善。十二月採，或無時，龍角畏乾漆、蜀椒、理石。</p>

<h2>龍齒</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、李氏：大寒。龍齒治驚癇，久服輕身。</p>

<h2>牛黃</h2>
<p><u>《後漢書》卷九十四</u></p>
<p>味苦，無毒。牛出入呻者有之。夜有光走角中，牛死入膽中，如雞子黃。</p>

<h2>丹雄雞</h2>
<p><u>《綱目》卷四十八</u></p>
<p>一名載丹。扁鵲：辛。</p>

<h2>丹雞卵</h2>
<p><u>《御覽》卷九百二十八</u></p>
<p>可作琥珀。</p>

<h2>鶩肪</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>殺諸石藥毒。</p>

<h2>雁肪</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、岐伯、雷公：甘，無毒。採無時。</p>

<h2>伏翼</h2>
<p><u>《類聚》卷九十七</u></p>
<p>或生人家屋間。立夏後陰乾。治目冥，令人夜視有光。</p>

<h2>鼠屎</h2>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載「天鼠屎」。</u></p>

<h2>石蜜</h2>
<p><u>《御覽》卷九百八十八、八百五十七</u></p>
<p>神農、雷公：甘，氣平。生河源或河梁。食蜜，生武都谷。</p>

<h2>牡蠣</h2>
<p><u>按：此藥參見本書「麻藍」條，《本經》首載此藥。</u></p>

<h2>桑蛸條</h2>
<p><u>《御覽》卷九百四十六</u></p>
<p>一名蝕肬，一名害焦，一名致。神農：咸，無毒。</p>

<h2>海蛤</h2>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：苦。岐伯：甘。扁鵲：咸。大節，頭有文，文如磨齒。採無時。</p>

<h2>蠐螬</h2>
<p><u>《綱目》卷四十一</u></p>
<p>一名應條。</p>

<h2>烏賊魚骨</h2>
<p><u>《綱目》卷四十四</u></p>
<p>冷。</p>

<h2>石龍子</h2>
<p><u>《御覽》卷九百四十六</u></p>
<p>一名守宮，一名石蜴，一名山龍子。</p>

<h2>蜚廉蟲</h2>
<p><u>《御覽》卷九百四十九</u></p>
<p>神農、黃帝云：治婦人症堅寒熱。</p>

<h2>塵蟲</h2>
<p><u>《御覽》卷九百四十九</u></p>
<p>一名土鱉。</p>

<h2>馬刀</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名齊蛤。神農、岐伯、桐君：咸，有毒。扁鵲：小寒，大毒。生池澤、江海，採無時也。</p>

<h2>蛇脫</h2>
<p><u>《御覽》卷九百三十四</u></p>
<p>一名龍子單衣，一名弓皮，一名蛇附，一名蛇筋，一名龍皮，一名龍單衣。</p>

<h2>蚯蚓</h2>
<p><u>《御覽》卷九百四十七</u></p>
<p>一名白頸螳螾，一名附蚓，一名寒䘆，一名寒蚓。</p>

<h2>斑貓</h2>
<p><u>《御覽》卷九百五十一</u></p>
<p>一名斑蠔，一名龍蠔，一名斑菌，一名腃發，一名盤蛩，一名晏青。神農：辛。岐伯：咸。桐君：有毒。扁鵲：甘，有大毒。生河內川穀，或生水石。</p>

<h2>石蠶</h2>
<p><u>《御覽》卷八百二十五</u></p>
<p>一名沙蚌。神農、雷公：咸，無毒。生漢中，治五淋，破髓肉，解結氣，利水道，除熱。</p>

<h2>馬陸</h2>
<p><u>《御覽》卷九百四十八</u></p>
<p>一名馬軸。</p>

<h2>地膽</h2>
<p><u>《御覽》卷九百五十一</u></p>
<p>一名元青，一名杜龍，一名青虹。</p>

<h2>螢火</h2>
<p><u>《類聚》卷九十七</u></p>
<p>一名夜照，一名熠耀，一名救火，一名景天，一名據火，一名挾火。</p>

<h2>衣中白魚</h2>
<p><u>《御覽》卷九百四十六</u></p>
<p>一名蟫。</p>

<h2>運日</h2>
<p><u>《御覽》卷九百二十七</u></p>
<p>一名羽鴆。</p>

<h1>果類</h1>

<h2>大棗</h2>
<p><u>《證類》卷二十三</u></p>
<p>一名良棗。主調中，益脾氣，令人好顏色，美志氣。</p>

<h2>𡙇⿱分⿸厂毛</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名決盆。</p>

<h2>梅核</h2>
<p><u>《初學記》卷二十八</u></p>
<p>明目，益氣不飢。</p>

<h2>木瓜</h2>
<p><u>《御覽》卷九百七十三</u></p>
<p>生夷陵。</p>

<h2>杏子</h2>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載「杏核仁」。</u></p>

<h2>梨</h2>
<p><u>《要術》卷四</u></p>
<p>金創、乳婦不可食梨，多食則損人，非補益之物。產婦蓐中及疾病未愈，食梨多者，無不致病。咳逆上氣者，尤宜慎之。</p>

<h2>李核</h2>
<p><u>《御覽》卷九百六十八</u></p>
<p>治僕僵，華令人好顏色。</p>

<h2>櫻桃</h2>
<p><u>《類聚》卷八十六</u></p>
<p>一名朱茱，一名麥英。甘酣。主調中，益脾氣，令人好顏色，美志氣。</p>

<h1>菜類</h1>

<h2>瓜子</h2>
<p><u>《御覽》卷九百七十八</u></p>
<p>一名瓣。七月七日採。可作面脂。</p>

<h2>芥蒩</h2>
<p><u>《要術》卷三</u></p>
<p>一名水蘇，一名勞祖，一名雞蘇。</p>

<h2>荏</h2>
<p><u>按：此藥參見本書「丹參」條，《別錄》載「荏子」。</u></p>

<h2>蓼實</h2>
<p><u>《類聚》卷八十二</u></p>
<p>一名天蓼，一名野蓼，一名澤蓼。</p>

<h2>假蘇</h2>
<p><u>《要術》卷三</u></p>
<p>一名鼠蓂，一名姜芥也。葉似落藜而細。蜀中生啖之。</p>

<h1>米食類</h1>

<h2>胡麻</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名方金，一名狗蝨。神農、雷公：甘，平，無毒。立秋採。</p>

<h2>青襄</h2>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名蔓。神農：苦；雷公：甘。</p>

<h2>麻子中人</h2>
<p><u>《御覽》卷九百九十五</u></p>
<p>神農、岐伯：辛。雷公、扁鵲：無毒。不欲牡蠣、白薇。先藏地中者，食殺人。</p>

<h2>麻藍</h2>
<p><u>《御覽》卷九百九十五</u></p>
<p>一名麻蕡，一名青羊，一名青葛。神農：辛。岐伯：有毒。雷公：甘。畏牡蠣、白薇。葉上有毒，食之殺人。</p>

<h2>麻勃</h2>
<p><u>《御覽》卷九百九十五</u></p>
<p>一名麻華。雷公：辛，無毒。畏牡蠣。</p>

<h2>生大豆</h2>
<p><u>《御覽》卷八百四十一</u></p>
<p>神農、岐伯：生溫熟寒。九月採。殺烏頭毒，並不用玄參。</p>

<h2>赤小豆</h2>
<p><u>《御覽》卷八百四十一</u></p>
<p>神農、黃帝：咸。雷公：甘。九月採。</p>

<h2>大豆黃卷</h2>
<p><u>《御覽》卷八百四十一</u></p>
<p>神農、黃帝、雷公：無毒。採無時。去面䵟，得前胡、烏喙、杏子、牡蠣、天雄、鼠屎共蜜和佳，不欲海藻、龍膽。此法大豆初出土黃芽是也。</p>

<h2>陳粟</h2>
<p><u>《御覽》卷八百四十</u></p>
<p>神農、黃帝：苦，無毒。治痹熱渴，粟養腎氣。</p>

<h2>黍</h2>
<p><u>《御覽》卷八百四十二</u></p>
<p>神農：甘，無毒。七月取，陰乾。益中補氣。</p>

<h2>大麥</h2>
<p><u>《御覽》卷八百三十八</u></p>
<p>一名穬麥。五穀之盛。無毒。治消渴，除熱，益氣。食蜜為使。</p>

<h2>麥種</h2>
<p><u>《御覽》卷八百三十八</u></p>
<p>一名小麥。無毒，治利而不中。</p>

<h2>豉</h2>
<p><u>《北堂書鈔》卷一百四十六</u></p>
<p>益人氣。</p>

<h2>小豆華</h2>
<p><u>《御覽》卷八百四十一</u></p>
<p>一名應累，一名付月。神農：甘，無毒。七月採，陰乾四十日。治頭痛，止渴。</p>
