<header data-type="book">
<h1>鹿茸之研究</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>峰下鐵雄</data></dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十四冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>一　緒言</h1>
<p>鹿茸者。在漢藥中古時期。其高貴之程度。與人參有如雙璧。至今中國藥店招牌。猶書參茸二字。以示藏有珍材也。其使用之古與價格之貴。可想而知。雖今日猶重視如昔。本物質必有特奇藥效也。亦可想而知矣。但其藥效藥理。自昔少研究之者。故余思追究其終為何物。有何藥效。具何種成分。欲將疑點揭破。盡得其所以然。而後判定古傳藥品之真正價值。是以開始作此研究。然須先應明者。本物質於古漢醫學中。具如何之傳統。旦亦為此次研究之指南針。故本篇依晚近漢方古醫書作史績之研究。藉窺其要旨焉。</p>

<h1>二　鹿茸之定義</h1>
<p>漢方醫學。指鹿茸為如何物。其定義與時代。有無變遷。徵諸史績。抱朴子曰。（一）南山多鹿。每一雄遊牝百數。至春羸瘦。入夏性食菖蒲即肥。當角解之時。其茸甚痛。獵人得之。以索擊住取茸。然後斃鹿。鹿之血未散也。圖經本草曰。（二）以形如小紫茄子者為上。強云茄子茸太嫩。其血未具。不若分歧如馬鞍形者有力。</p>
<p>本草衍義曰。（三）茸最難得。不破。及不出卻血者。蓋其力在血中。獵時多有損傷故也。凡用無須太嫩。唯長四五寸。茸端如瑪瑙紅者最佳。</p>
<p>本草備要曰。（四）鹿角初生長二三寸。分歧如鞍。戲如瑪瑙。紅之如朽木者良。太嫩者。血氣未定無力。</p>
<p>鹿茸之定義。為未脫角皮之鹿之嫩角也。雖經各代。仍無懸殊。然非甚嫩。擇其通血髓者。且於生前剝取之者。則近乎佳品矣。</p>
<p>採取鹿茸。鹿之種類。余未能甚詳也。而最近於滿洲漢藥市場。得悉鹿茸分為二種。有花鹿。及馬鹿之稱。花鹿體小。身有花紋。馬鹿大無花紋也。其價格亦隨之有云泥之差。花鹿之茸。乃上品也。雖一兩其值亦越銀百元。反之。馬鹿之耳。乃下品也。僅不過二三元。花鹿乃俗名。學名為Cervus　mantchuricus　（Swinhoe）日名まんしうしか至馬鹿者。亦俗名。學名Cervus　Xanthopygus（Milen-Edwards）日名まんしむかしか即指此之謂歟。暫存此疑。以俟將來再證明之。</p>
<p>中國本土鹿之種類。國譯本草綱目。謂其學名為Cervus　elaphusinne）木村氏。於同書之頭注。附記云。高山地方有Cervus　Affinis（Hodgson）存在。北華有Cervus　Xanthopygus（milne-Edwards）此外鹿之種類尚多。今千金翼方。「出藥州土」記載之處觀之。當唐時檢其鹿茸。及鹿角之產地。如汝州。（今之河南省臨安縣治）許州。（同上許昌縣治）豫州。（同上汝南縣治）唐州。（同上泌陽縣治）涼州。（甘肅省涼州府）鳳州（陝西省鳳縣）揚州。（江蘇省江都縣治）秦州。（甘肅省天水縣治）等地。皆際江北諸地。又李時珍於集解曰。「鹿處處山林中有之。」而未示產地也。如是。則古來鹿茸之產出。無特定地點。亦即鹿之種類。無區分之要也。</p>
<p>所謂古之鹿茸。乃麋茸也。麋之學名於國譯本草綱目曰。　Cervus　davidianus（Milne-Edwards）日名（ぉほしか）木村氏於同書頭注曰。北華稱麋。即學名Cervus　mantchurius（Swinhoe）也。然確實是否。尚未敢定。據本草書所記者。生於東海坿近之水邊群棲之者。再尋其所蹤。則於神農本草經。（四）之「中品」載有鹿茸。又其「下品」中載有麋脂。而麋茸之名未見也。然茸之屬麋。有何根據。以余所知。其最初述之者於新修本草。（五）麋脂條下記載者有之。「謹案麋茸服之。功力勝鹿茸。角煮為膠。亦勝白膠也。」較此以往。有劉宋之雷斅曰。「鹿角堅好。勝如麋角。」斯恐角與茸同意之言也。</p>
<p>宋時代。鹿麋各陰陽相配。其論猶多紛雜。即如圖經本草（二）曰。今醫家多貴麋茸麋角。力緊於鹿。</p>
<p>沈存中筆談（七）曰。麋茸利補陽。鹿茸利補陰。</p>
<p>蘇東坡良方（八）曰。鹿陽獸。見陰而角解。麋陰獸。見陽而角解。故補陽以鹿角為勝。補陰以麋角為勝。其不同如此。但云鹿勝麋。麋勝鹿疏矣。</p>
<p>鹿與麋。在藥理上。各有所長。而不能云兩者效力有優劣也。據其長處。與沈括所論者相反。李時珍（九）引蘇軾前文曰。按此說與沈存中鹿茸利補陰麋茸利補陽之說相反。以理與功推之。蘇說為是。</p>
<p>惟麋鹿配陰陽。於馬融之禮記月令（二）曰。仲夏鹿角解。仲冬麋角解。此根據宋儒論者。唐以前認鹿麋茸角有同等效力。無非議其優劣而已。可觀炮炙論。及新修本草即明矣。</p>
<p>又本草衍義曰。今人用麋鹿茸作一種。本草綱目亦云。今獵人多不分別。往往以麋為鹿。又云。麋鹿角茸。今人罕能分別。陳自明以小者為鹿茸。大者為麋茸。亦臆見也。不若親視其採取時為有準也。</p>
<p>此外本經逢源（一二）日。近世鹿茸與麋茸。罕能辨別。本草述（一三）亦云。麋鹿茸角所稟之氣既異。然用之罕能分別。</p>
<p>麋鹿配陰陽。而論其得失。屬學者之機上論。實則麋鹿混淆應用之事。系事實也。</p>

<h1>三　鹿茸之應用</h1>

<h2>（一）唐以前</h2>
<p>醫藥中應用鹿茸。參照中國曆代本草書。並唐宋之主要醫方書可察其概要也。</p>
<p>中國應用鹿茸。自何時始。徵諸史績。如今之證類本草。分所謂黑字白字。最足傳陶弘景校定之神農本草經之俤。此可知收載白膠於其本經之上品。鹿茸於其中品。麋脂於其下品。再參照陶弘景之序文。最晚於後漢時代。本品已供醫藥用品無疑也。再溯諸以往中尾博士（一四）（一五）云。山海經中山經部。於劑之咸王。或宣王時代。或至晚於秦始皇以前。亦有記載。再於同書之中山經。及西山經之諸山記。有產鹿及麋。再於周禮天官塚宰載有庖人獸人等制。庖人司六畜六獸六禽。亦能辨別之。獸人專罟田獸。亦能辨別之。冬則獻狼。夏則獻麋。春秋獻獸物。鄭眾庖人注曰。以麋鹿熊麕野豕兔為六畜。由是可知鹿麋之供食用。其由來久矣。雖山海經未記鹿麋之用途。亦無特別提出茸角等文字。然以常識想像之。當先秦之際。考究長命卻病藥物諸方士。如山海經。乃關於藥物記述之書。若鹿麋者。自古既為最佳食品。且其角茸。又具特殊形態。發育甚速之鹿茸。豈能無方士十分注目之乎。其藥效想自古代即有考究之矣。蓋昔時食物與藥物無區別。因此供內服者。自植物至動物頗多。自山海經內容觀之。則易明也。</p>
<p>然鹿茸之應用。假如自先秦時代。始以如何之目的應用之。尚不明也。</p>
<p>神農氏本草經曰。（一六）鹿茸味甚溫。主漏下。惡血。寒熱。驚癇。益氣強志。生齒不老。</p>
<p>又名醫別錄曰。（一七）酸微溫無毒。療虛勞。洒洒如瘧。羸瘦。四肢痠疼。腰脊痛。小便利。泄精。溺血。破留血在腹。散石淋癰腫。骨中熱疸癢。</p>
<p>由是觀之。最晚於後漢西晉之間。強精還老之處。有漏下。惡血。寒熱。驚癇等效。再於六朝時代。治虛勞羸瘦。四肢痠痛。腰脊痛。遺尿。遺精。血尿。尿石等外。如癰腫疸瘍。皮膚疾患。亦應用之。</p>
<p>再關於鹿角。本經曰。（一六）角主惡瘡癰腫。逐邪惡氣。留血在陰中。主外科疾患。應用之。</p>
<p>又別錄云。（一七）味鹹無毒。除小腹血急痛。腰脊痛。折傷惡血。益氣。與鹿茸所治者。概一致也。即本經所記。茸主有益精還老之效。角主治皮膚外科疾患也。如斯兩者。效用有截然之分。再依上開別錄記事。與肘後方（一八）之治卒患腰脅痛諸方。有鹿角長六寸燒搗末酒服之。鹿茸尤佳之記載。復觀之於六朝以降諸說。二者於應用之後。似有同等之效力。</p>
<p>對如是之諸症。鹿茸或角。依何種方法。而應用之乎。史績之記載不豐。今引證類本草（一九）百一方（二○）曰。若男女喜夢與鬼交通。致恍惚者。截鹿角屑三指撮。日二服。酒下。又深師方（二一）曰。治馬鞍瘡。鹿角灰酢和塗之。上記兩書。皆陶弘景以前舊書。而遺至今者。如深師方。即系僧深錄晉人支法存之書。及諸家舊方而成者。上記者。皆關於鹿角之事。而於茸亦同樣製成粉末內服之外。亦有製成粉末或膏以供外用者。</p>

<h2>（二）唐時代</h2>
<p>據唐代甄權之藥性論（二二）曰。鹿茸君味苦辛。主補男子腰腎虛冷。腳膝少力。夜夢鬼交。精液自出。女人崩中漏血。炙末空心服方寸七。亦主赤白帶下。入散用。</p>
<p>即主治男女益精。婦人子宮出血帶下等效。茲就唐代代表醫方書之千金方。及外臺秘要方中。撰出鹿茸配伍之處方。其主治症候。分類處方如下。</p>
<p>一　千金要方（二三）　計二十三例</p>
<p>補腎及補益　計十例</p>
<p>崩漏及帶下　計九例</p>
<p>此外（虛冷金瘡消渴多尿遺尿各一）　計四例</p>
<p>二　千金翼方（二四）　計十例</p>
<p>補益（內服）　計三例</p>
<p>崩中　計三例</p>
<p>多尿　計二例</p>
<p>此外（解散金瘡各一）　計二例</p>
<p>三　外臺秘要方（二五）　計二十二例</p>
<p>補益補精　計四例</p>
<p>崩中　計二例</p>
<p>腰痛　計五例</p>
<p>下血赤白痢　計二例</p>
<p>消渴多尿　計四例</p>
<p>遺尿　計三例</p>
<p>此外（小便赤積聚各一）　計二例</p>
<p>上記處方例。悉非以鹿茸為主劑。以鹿茸為主藥者。僅其中一少部分。而應治諸症。則為必不可缺者。自然之趨勢也。古傳諸書。昔人頗為重視。故今觀之。甚足窺鹿茸應用之大要也。亦即今世強精補益延年。崩中滯下消渴多尿遺尿等症。時時應用之原。或者腰痛下血。痢疾尿血金瘡等。亦應用之由也。至其用法。自種種處方例。依其藥形分類如下。</p>
<figure>
<img data-orig-src="urn:270:08462.jpg" alt="圖">
</figure>
<p>自上表觀之。任何人皆以散劑為最。丸劑次之。湯劑又次之。且以鹿茸為主藥處方例言之。皆以散劑丸劑。而湯劑者。決不之見。蓋丸劑散劑。僅加以簡單之理學的工程易製作也。湯劑自與其本質相異。然中國古時。鹿茸專用以散劑。而不用以湯劑者。思必有相當可注目之點也。</p>

<h2>（三）宋及其以降</h2>
<p>宋時代鹿茸之應用大體。無異於前時代。特以補益為目的。虛弱症恆應用之。如食療本草曰。（二六）鹿茸主益氣。角主癰疽瘡腫。除惡血。若腰脊痛。折傷。多取鹿角。並截取尖。錯為屑。以白密淹浸之。微火熬令小變色。曝乾持篩令細。以酒服之。輕身益力。強骨髓。補陽道。又小兒以煮小豆汁。和鹿角灰安重舌下。日三度。</p>
<p>又日華子本草曰。（二七）鹿茸補虛羸。壯筋骨。破瘀血。殺鬼精。安胎下氣。酥炙之。角療惡瘡癰腫熱毒等。醋磨傅。脫精尿血。夜夢鬼交。並治之。水磨服。小兒重舌鵝口瘡。炙熨之。</p>
<p>其所記者。概與神農本草經一致。惟重舌（蝦蟆腫）及鵝口瘡有效。為初次發見。於今宋代代表之醫方書為三因方。（二八）本事方。（二九）和劑局方。（三○）等所收載之鹿茸配伍處方。依其要旨。強為分類如下。</p>
<p>一　三因方　計十例</p>
<p>補益　計六例</p>
<p>遺尿　計二例</p>
<p>消渴　計二例</p>
<p>二　本事方　計五例</p>
<p>補益　四例</p>
<p>治風　一例</p>
<p>三　和劑局方　計八例</p>
<p>補益　七例</p>
<p>治風　一例</p>
<p>上述於宋時代。鹿茸專為補益之目的。然收載例數頗少。再閱政和年間。敕修之聖濟總錄。（三一）鹿茸並鹿角鹿角膠等。配伍之處方有一五五種以上。其中以鹿茸或鹿角為主藥之處方有五三種。依其主治分類如下。</p>
<p>補益補虛　計三十例</p>
<p>崩漏帶下　計五例</p>
<p>多尿　計六例</p>
<p>血尿　計一例</p>
<p>耳鳴　計二例</p>
<p>癰疽　計三例</p>
<p>小兒痢疾　計一例</p>
<p>乳腺炎水腫癩病痔疾鬼魅各一例</p>
<p>如斯則補益居數為多。崩漏消渴等次之。但本書乃集天下之名醫。合古今之秘笈而成。雖不能盡為昔時所實行者。而與前記諸書比較之。則可推知於宋代。以鹿茸特多用為補益者也。</p>
<p>至用藥之方法。自前記四書中。處方例觀之如下。</p>
<figure>
<img data-orig-src="urn:270:08463.jpg" alt="圖">
</figure>
<p>如上表觀之。本時代主於丸方。而應用之湯方散方極少。唐時代。散方比丸方多。自此點思之。不無感興味也。至元明以降。其應用用法。概與宋代同。既畏其說之冗長。又無特見。故割捨之。不復贅述。</p>

<h1>四　鹿茸之藥理</h1>
<p>前章所敘者。中國應用鹿茸。為藥物。遠自先秦時代。晚自後漢以來。主供益精還老之目的。而持續存用者也。但本品物質之藥效。於歷代漢方醫家。具有何種藥理之見解。茲窺其大略之要如下。</p>
<p>凡一種物質。初供為藥物時。必基一定哲理。或信仰。或者豫想有藥效。而應用之。或不以以上之原因而用者。時亦有之。但鹿茸自發現之初。即認有藥效歟。抑系因與肉同供食用。於經驗中。始明其有藥效歟。此中情跡。雖未有詳述。然於文史中可以搜索而得其大概。如述異記（三二）曰。鹿一千年成蒼鹿。又百年化白鹿。又五百年化元鹿。漢成帝時。山中人得元鹿烹之。而視其骨皆黑色也。仙人以元鹿為脯。如食此可壽二千歲云。</p>
<p>又抱朴子亦云。鹿壽千歲。滿五百歲者則色白。此外鹿為長壽之獸。或稱仙獸。或稱陽獸。散見於諸書。而鹿茸之形態。一見如陽根精氣之本。血液多量。具藏於此。以及寇宗奭之所云。其成長頗速之諸事實。可充分信古人用為有補陽之效。是故如肯定其最初即豫想有一定藥效。而後使用之者。亦不可厚非也。</p>
<p>神農本草曰。（一六）鹿茸為養命之藥。列於上經。玉房秘訣。（三三）乃彭祖之所傳。以麋角用為房中藥。陶弘景（三四）曰。如服麋角。大有補益。此亦述彭祖傳也。孟詵（三五）亦云麋茸。乃仙家之珍重。</p>
<p>自鹿麋茸角方甚多收載之點觀之。想千金方。及此外方書。系出自道教也歟。而此等藥用。與方士之間。有甚深密接之關係可想見矣。關於此點。如非再考證之。則難斷也。</p>
<p>漢代神農本草經。（四）記載諸藥之氣味。又周禮之鄭眾注。（三四）亦載有狼膏聚。麋膏散。聚則溫。散則涼。以救時之苦也。</p>
<p>自此點觀之。關於當時藥理。已可推得有相當解釋。至關於鹿茸之藥效。加以何如見解。今雖不能詳。惟徵諸韓退之（四○）云。王師授鹿䘒丸方云。鹿稟純陽而䘒者。天地初分之氣。牝牡相感之精也。醫書稱鹿茸角血髓大有補益。而此䘒則入神矣。雖䘒與茸有異。要之以陽補陽說為比較單純之解釋則明矣。</p>
<p>至宋如前章所述沈括蘇軾等儒者。有鹿麋茸角之補陰補陽說外。本草衍義。（三）記有凡麋鹿角自生至堅完。無兩月之久。大者二十餘斤。其堅如石。計一晝夜須生數兩。凡骨之類成長。無速於此。雖草木最易於生長者。亦無能及之。豈可與凡骨血為比。如是原始之觀察。似更在以前之時代。即既用之矣。惟宋代無何藥理之解說。而真正藥理醫學的解說。以明之繆希雍為嚆矢。即於本草經疏。（三七）關於鹿茸鹿角麋角白膠等。基於各神農本草經之本文。解說鹿茸之藥理如下。</p>
<p>鹿茸稟純陽之質。含生髮之氣。故其味甘氣溫。別錄言酸微溫。氣薄味厚。陰中之陽也。入手厥陰足少陰厥陰經。婦人衝任脈虛則為漏下惡血。或瘀血在腹。或為石淋。男子肝腎不足。則為寒熱驚癇。或虛勞洒洒如虛。或羸瘦四肢痠疼。腰脊痛。或小便數利。泄精溺血。此藥走命門心包絡。及腎肝之陰分。補下元真陽。故能主如上諸症。及益氣強志生齒不老也。癰腫疽皆榮氣不從所致。甘溫能通血脈。和腠理。故亦主之。</p>
<p>此說乃基於漢醫之學說。故以今日之醫學的常識。而欲瞭解之。匪易事也。如謂氣味陰陽所入經路等語。皆屬哲理之空說。因人而異。乃亦自然之事也。</p>
<p>故清之劉若金著本草述。（三九）引用繆希雍之說。而謂繆氏謂鹿為純陽之質固然。但云茸亦純陽。並謂陰之陽則誤矣。鹿茸角皆為陽中之陰也。斯為因陰陽之見解。而異其說。再謂昔蜀一道人市斑龍丸。每醉高歌曰。尾閭不禁滄海竭。九轉靈丹都慢說。惟有斑龍頂上珠。能補玉堂闕下穴。其方用鹿茸鹿角膠鹿角霜也。夫玉堂闕下穴。即膻中。膻中者。心主之宮城也。經曰。胞脈者。屬心而絡於胞中。胞中為精血之所聚。而其脈固絡於心。心胞絡主血。會此所以謂其為能療男子漏精尿血。女子崩漏也。至繆氏言其入四經而奏功是也。第謂純陽則大誤。若鹿茸則補命門真陽。不可與鹿茸例論也。此皆為一種空理空論也。</p>
<p>清季藥理說頗多。而悉據神農經之說。加以註疏。其見解雖不一致。然都基陰陽之哲理。而成為空想空論。今僅摘其一二如下。</p>
<p>張璐（三九）曰。鹿茸效用。專主傷中勞絕腰痛羸瘦。取其補火助陽。生精益髓。強筋健骨。固精攝便。下元虛人。頭旋眼黑。皆宜用之。本經治漏下惡血。是陽虛不能統陰。即寒熱驚癇。皆肝腎精血不足所致也。角乃督脈所發。督為腎臟外垣。既固腎氣。內充命門。相火不致妄動。氣血精澤。得以凝聚。扶陽固陰。非他草木可比。</p>
<p>張陰庵曰。鹿性純陽。息通督脈。茸乃骨精之餘。從除透頂。氣味甘溫。有火土相生之義。主治漏下惡血者。土氣虛寒。則惡血下漏。鹿茸稟火氣而溫。土從陰出陽。下者舉之。而惡血不漏矣。寒熱驚癇者。心為陽中之太陽。陽虛則寒熱。心為君主而藏神。神虛則驚癇。鹿茸陽剛漸長。心神充足。而寒熱驚癇自除矣。益氣強志者。益腎臟之氣。強腎臟之志也。生齒不老者。齒為骨之餘。從其類而補之。則腎精日益。故不老。</p>
<p>葉天士曰。（四二）鹿茸氣溫。稟天春升之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升陰也。肝臟血。脾統血。肝血不臟。脾血不統。漏下惡血矣。鹿茸氣溫可以達肝。味升可以扶脾。所以主之也。寒熱驚癇者。驚癇而發寒熱也。蓋肝為將軍之官。肝血虛。則肝氣亢。挾濁火上逆。或驚或癇矣。鹿茸味甘可以養血。氣溫可以導火。所以止驚癇之寒熱也。益氣者。氣溫則益陽氣。味甘則益陰氣也。甘溫益陰陽之氣。氣得剛大。而志強矣。鹿茸骨屬也。齒者骨之餘也。甘溫之味。主生長。所以生齒。真氣充足。氣血滋盛。所以不老也。</p>
<p>陳修園（四三）曰。鹿為仙獸而多壽。其臥則口鼻對尾閭以通督脈。督脈為通身骨節之主。腎主骨。故又能補腎。腎得其補。則志強而齒固。以志藏於腎。齒為骨余也。督得其補。則大氣升舉。惡血不漏。以督脈為強氣之總督也。然角中皆血所貫。沖為血海。其太補衝脈可知也。凡驚癇之病。皆挾衝脈而作。陰氣虛不能寧謐於內。則附陽而上升。故上熱而下寒。陽氣虛不能周衛於身。則隨陰而下陷。故下熱而上寒。鹿茸內衝脈而太補。其而所以能治寒熱驚癇也。至於長而為角。別錄謂其主惡瘡。逐惡氣。以一點胚血發泄亡盡。只有拓毒消散之功也。</p>
<p>知上記於清朝時代。非但鹿茸。即神農本草經中種種藥品。皆收載考證而加以詮釋。上記數例。亦可知其詮釋之梗概。即同為讀本經本文者。亦有甲乙之別。至其藥理之解說。各主其說。未有一致者。蓋可謂哲理的醫學之通弊歟。</p>

<h1>五　鹿茸之調製法</h1>
<p>鹿茸自古即主用丸劑與散劑。曾於前敘之矣。鹿茸採取後。以何種方法制成粉末乎。別錄（一七）曰。四月五月解角時。取陰乾。使時燥。</p>
<p>上記乃陰乾法。蘇敬（五）則以陰乾法。為不可。主張火干法。而謂鹿茸夏收。收陰乾。百不收一。從得一干臭不任用。破之。火干大好。</p>
<p>自古茸以他物塗布而調製之。如雷斅（六）載有塗以天靈蓋與羊脂。或以黃精自然汁浸之之法。而謂凡使先以天靈蓋作末。然後鋸解鹿茸作片子。以好羊脂拌天靈蓋末。塗之於鹿茸上。慢火炙之。令內外黃脆。了用鹿皮一片。裹之安室上一宿。其藥鬼歸也。至明則以慢火焙之令脆。方搗作末用之。每五兩鹿茸。用羊脂三兩。炙盡為度。又製法用黃精自然汁浸兩日夜。了漉出。焙令乾。細搗用。免渴人也。</p>
<p>然應用天靈蓋法。一般用否。尚屬疑問。但可知六朝時。藥品調製法。甚進步也。</p>
<p>於唐時代。行何種方法。詳細不明。千金方論合和第七載有凡用諸毛羽。</p>
<p>齒牙。蹄甲。龜鱉。鮫鯉等。甲皮肉骨。角筋。鹿茸等。皆炙之。</p>
<p>又於翼方。及外臺秘要處方中。於藥名之下。指定分量。與特殊之調製法。對於鹿茸。常記一炙字。似炙之使成脆弱。作為粉末。而用之者。</p>
<p>又千金方論。合和第七亦載有凡湯中。用麝香。犀角。鹿角。羚羊角。牛黃。須末如粉。臨服內湯中。攪令謂和服之。佐上記。可知雖湯劑亦須豫作粉末。然後攪拌湯中而用之。決非用以浸煎等法也。</p>
<p>再雖宋代。亦同樣主用炙法。在炙之先。要燎去毛。或豫以酥醋酒等塗後炙之。三因方（二八）處方中記鹿茸多雲酥炙方。燎去毛切。酥炙去毛切。炙去毛切。醋灸。酸塗炙去毛盡等。</p>
<p>又和劑局方。亦同樣記有燎去毛。擘開酒浸。炙乾燎去毛。酥炙去毛。淨約三寸。截斷酒浸伏時。慢火炙脆。燎去毛。酒浸炙。醋炙。酒炙去毛。塗酥炙微黃等。蓋豫塗以酥醋者。欲防傷茸之實質也。</p>
<p>本草衍義曰。（三）茸上毛。先薄以酥塗勻。於烈焰中急灼之。若不先以酥塗。恐火焰傷耳。俟毛淨微炙。入藥。</p>
<p>明清時代。似亦行同樣方法。本草綱目曰。澹寮劑生諸方。有用酥多。及酒蒸焙用者。當各本方。</p>
<p>本經逢源亦云。鹿茸酥炙。酒炙。各隨本方。但不可過焦。有傷氣血之性。炙後去頂骨用茸。</p>
<p>現今市中販賣者。厚參2mm-5mm薄片。至調製法之詳製藥者。秘而不語。概踏襲明清之舊法也。</p>

<h1>六　總括</h1>
<p>總括上述所論如下。</p>
<p>一　鹿茸之定義。雖歷各代。仍無大差。為未脫角皮之嫩角也。恃以不甚嫩。而尚通血髓。且於生前剝取之者。似為佳品。然鹿之種類非特定。</p>
<p>二　麋茸之藥效與鹿茸相反者。蓋基於馬融之禮記。月令所記。因宋儒而成此論。鹿麋配陰陽。而論其得失者。屬於學者之機上論。實則六朝以來。麋鹿似已混淆應用之矣。</p>
<p>三　於中國鹿茸。自何時始入藥用。雖屬不詳。然在先秦時代。既已開始使用麋鹿為食品。由此推想至遲在後漢時。即供藥品應用也。明矣。</p>
<p>四　鹿茸之應用。分唐以前。唐時代。及宋以降之時代。而考證之自後漢以來。主供益精還老之目的。且與鹿角皆供皮膚疾患之應用。特自宋以降。以補益之目的而應用之者為最。至用於重舌。（蝦蟆腫）及鵝口瘡為有效者。以日華本草為嚆矢。</p>
<p>五　在中國鹿茸於種種目的而應用之之藥形。雖歷各代仍無所異。唐以前主以粉末內服。或以粉末。或膏。供於外用。唐時代。散劑中者最多。丸劑次之。湯劑以鹿茸為主藥之處方例。則未之見。宋以後用於丸劑之處方中者最多。湯方散方亦極少。</p>
<p>六　鹿茸之藥理。因以鹿為長壽之獸。或仙獸。或陽獸之思想。及鹿茸之形態。含血之況。以及其長成頗速。等之事實。故思必有一定藥效。始供藥物而應用之。至漢代以陽補陽之說。為單純之解釋。即宋亦無何藥理之解說。與以正真藥理醫學的解說者。以明繆希雍為嚆矢。然其所說。皆屬哲理的空說。此後入清季尚有許多學者解說。雖其各說皆異。但始終皆為空理空論。無一足可首肯之者。</p>
<p>七　鹿茸之調製法。於別錄記有陰乾法。蘇敬主以火干法。雷斅以後。則豫以酥醋酒等抹之。以防茸實質之損傷。此法歷明清而至今日。仍沿用之。</p>
