<header data-type="book">
<h1>溫疫論私評</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>秋吉質</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序一</h1>
<p>自古學者。挾其所長。自命一家者。往往欲持己見。以印定後人眼目。而不知立言之弊。或流而為偏也。如吳又可溫疫論是已。唯善讀者。淘而汰之。替否而獻可。則未始無益矣。劉松峰著類編。於其敘次紛錯。字句謬戾者。細加是正。而至其說當否。則置而不論。舒馳遠撰摘錄。雖於達原飲等。稍加辨駁。然大抵語焉未詳。則俱未為善讀吳氏書者也。余常慨於斯。將就吳氏書中辨析其能羽翼仲景者。與其悖於仲景之旨以誤後人者。述為一書。事務倥傯。有志不果。頃者南豐秋吉文卿著溫疫論私評。刊印問世。請余弁言。披而閱之。於吳氏之所偏。必逐一一辨訂之。於吳氏之所長必詳加表章其說。往往與愚見相符。而其精確。非劉舒二氏之所及。真為善讀者。則余亦擱筆勿復煩辨已。抑嘗考之。當明清鼎革之際。熱疫暴行。遽犯少陽陷陽明。吳氏特目擊此等證。遂立溫疫無表證。邪著膜原及陰證。世間罕有之說。且不察仲景就證而命名之義。又不知仲景所謂傷寒。是外邪之凡名。名而溫疫實包在其中。肆然別樹旗幟。開後人歧誤之端。此余之所云立言之弊。流而為偏者矣。然除達原三消二方外。臨病處方。深得仲景不傳之秘。則卓然足以羽翼仲景。文卿所謂彼此對照。反覆玩味。當如合符契者。蓋亦謂此也。文卿之書出。而後學知所取捨。則不啻吳氏書之應用無愆。而仲景之旨。亦有因以燦然者。則其益於人。固不淺鮮云。</p>
<p><u>嘉永二年己酉春三月江戶丹波元堅茝庭撰於存誠藥室</u></p>

<h1>序二</h1>
<p>良醫之治疾。猶名將之平賊。胸有成算固也。然其所以立功者。在我氣盛。先挫賊膽。山陽詠毛利氏曰。當時眼已無二氏。終使十州供旗牙。吾云庵之臨病客也。未診脈候。眼已無二豎。以我元氣助彼元氣。病魔安得不降伏乎哉。云庵余通家也。累世業醫。天性豪爽。英氣壓人。弱冠始出鄉入京師。乃能起眾醫束手之病兒於其師家。爾後駸駸致今日名望之盛矣。頃者。諸門人將刻其所著溫疫論私評。使餘一言。余不解醫。然不讀焉。而知其一一明快中窾。魏武注孫子他人所不能及者。以實事證之也。云庵之評。其必有如此者矣。是為序。</p>
<p><u>嘉永紀元歲在戊申秋八月小竹散人筱崎弼撰並書</u></p>

<h1>原序</h1>
<p>夫溫疫之為病。非風非寒。非暑非濕。乃天地間別有一種異氣所感。其傳有九。此治疫緊要關節。奈何自古迄今。從未有發明者。仲景雖有傷寒論。然其法始自太陽。或傳陽明。或傳少陽。或三陽竟自傳胃。蓋為外感風寒而設。故其傳法與溫疫。自是迥別。嗣後論之者紛紛。不止數十家。皆以傷寒為辭。其於溫疫證。則甚略之。是以業醫者。所記所誦。連篇累牘。俱系傷寒。及其臨證。悉見溫疫。求其真傷寒。百無一二。不知屠龍之藝雖成。而無所施。（莊子列禦寇篇。朱泙漫。學屠龍於支離益。三年技成。而無所用其功。言苦學無益也。）未免指鹿為馬矣。（史記秦紀。趙高持鹿獻於二世。曰馬也。云云。）余初按諸家咸謂春夏秋皆是溫病。而傷寒必在冬時。然歷年較之。溫疫四時皆有。及究傷寒者。每至嚴寒。雖有頭疼身痛。惡寒無汗發熱。總似太陽證。至六七日失治。未嘗傳經。每用發散之劑。一汗而解。間有不藥亦自解者。並未嘗因失汗。以致發黃譫語狂亂胎刺等證。此皆感冒膚淺之病。非真傷寒也。傷寒感冒。均系風寒。不無輕重之殊。究竟感冒居多。傷寒希有。況溫疫與傷寒。感受有霄壤之隔。今鹿馬攸分。益見傷寒世所絕少。仲景以傷寒為急病。倉卒失治。多致傷生。因立論。以濟天下後世。用心可謂仁矣。然傷寒與溫疫。均急病也。以病之少者。尚諄諄告世。至於溫疫多於傷寒百倍。安忍反置勿論。或謂（王安道溯洄集。張仲景傷寒立法考之說。）溫疫之證。仲景原別有方論。歷年既久。兵火湮沒。即傷寒論。或系散亡之餘。王叔和立方造論。謬稱全書。由此觀之。溫疫之論。未必不由散亡也明矣。崇禎辛巳。疫氣流行。山東。（濟南府也）浙省。（杭州府也）南北兩直。（南北兩直隸也。蓋明制分於天下。置十三省。以隸屬州郡。兩京傍近者。直隸於京師。故曰之直隸州。）感者尤多。至五六月益甚。或至闔門傳染。始發之際。時師誤以傷寒法治之。未嘗見其不殆也。或病家誤聽七日當自愈。不爾。十四日必廖。因而失治。有不及期而死者。或有妄用峻劑。攻補失敘而死者。或遇醫家見解不到。心疑膽怯。以急病用緩藥。雖不即受其害。然遷延而致死。比比皆是。所感之輕者。尚獲僥倖。感之重者。更加失治。枉死不可勝計。嗟乎。守古法不合今病。以今病簡古書。原無明論。是以投劑不效。醫者傍遑無措。病者日近危篤。病愈急。投藥愈亂。不死於病。乃死於醫。不死於醫。乃死於聖經之遺亡也。籲。千載以來。何生民不幸如此。余雖固陋。靜心究理。格（例也）其所感之氣。所入之門。所受之處。及其傳變之體。平日所用歷驗方法。詳述於下。以俟高明者正之。</p>
<p><u>峕崇禎壬午仲秋姑蘇洞庭吳有性書於淡淡齋</u></p>

<h1>凡例</h1>
<p>一此書清康熙間。儀真劉方舟所校梓也。我明和間。荻野臺州。始翻刻之。原有又可氏裔孫。天都吳尚中序。曰。書成垂百年。豈無知此書者。世無傳書。書亦未經人讀。由此觀之。是系其原稿明矣。方舟或得之於尚中。亦未可知也。以塵埋年久。不能無舛訛。今集類書。以是正之。</p>
<p>一篇目序次。雖有如錯置者。不敢恣移易。仍循舊貫。</p>
<p>一篇中文義垂戾不可讀者。不妄改竄之。校照諸本。折衷取捨。蓋亦存舊之意也。</p>
<p>一要語要論。並字眼。加傍批以便記誦。</p>
<p>一引用諸說。填古出處。字義文理。至天文地理。制度名物。各加細注。使童子易知焉。</p>
<p>一私評接於本行間。恐溷原文也。加圜兒以分之。</p>
<p>一如藥品效功。載於附錄以審之。</p>
<p>一讀此書者。勿眩氣焰而錯本義。勿執溢辭而儹條理。要須知吳氏善用長沙之方法。渾沌圓轉。有形而無常形。縱橫順逆。無方而有定規。運用得妙而變化不窮矣。</p>
<p><u>阪本棟謹識</u></p>

<h1>卷上</h1>

<h2>原病</h2>
<p>病疫之由。昔以為（傷寒例）非其時有其氣。春應溫而反大寒。夏應熱而反大涼。秋應涼而反大熱。冬應寒而反大溫。得非時之氣。長幼之病相似。以為疫。餘論則不然。夫寒熱溫涼。乃四時之常。因風雨陰晴稍為損益。假令秋熱必多晴。春寒因多雨。較之亦天地之常事。未必多疫也。傷寒與中暑。感天地之常氣。疫者感天地之厲氣。在歲運有多寡。在方隅有厚薄。在四時有盛衰。此氣之來。無論老少強弱。觸之者即病。（猶飲酒者多少皆醉）邪從口鼻而入（王慈溪明醫雜著）則其所客。內不在臟腑。外不在經絡。舍於夾脊之內。去表不遠。附近於胃。乃表裡之分界。是為半表半裡。即針經（素問瘧論）所謂。橫連膜原是也。胃為十二經之海。十二經皆都會於胃。故胃氣能數布於十二經中。而榮養百骸。毫髮之間。靡所不貫。凡邪在經為表。在胃為里。今邪在膜原者。正當經胃交關之所。故為半表半裡。其熱淫（隨其脈理而浸漬也）之氣。浮越（發也）於某經。即能顯某經之證。如浮越於太陽。則有頭項痛。腰痛如折。如浮越於陽膽。則有目痛。眉稜骨痛。鼻乾。如浮越於少陽。則有脅痛耳聾寒熱。嘔而口苦。大概觀之。邪越太陽居多。陽明次之。少陽又其次也。邪之所著。有天受。有傳染。所感雖殊。其病則一。凡人中鼻之氣。通乎天氣。本氣充滿。邪不易入。本氣適逢虧欠呼吸之間。外邪因而乘之。昔有三人冒霧早行。（博物志）空腹者死。飲酒者病。飽食者不病。疫邪所著。又何異耶。若其年氣來之厲。不論強弱。正氣消衰者。觸之即病。則又不拘於此矣。其感之深者。中而即發。感之淺者。邪不勝正。未能頓發。或遇飢飽勞碌。憂思氣怒。正氣被傷。邪氣始得張溢。營衛運行之機。乃為之阻。吾身之陽氣。因而屈曲。故為熱。其始也。格（音隔）陽於內。不及於表。故先凜凜惡寒。甚則四肢厥逆。陽氣漸積。鬱極而通。則厥回而中外皆熱。至是。但熱而不惡寒者。因其陽氣之通也。此際應有汗。或反無汗者。存乎邪結之輕重也。即使有汗。乃肌表之汗。若外感在經之邪。一汗而解。今邪在半表半裡。表雖有汗。徒損真氣。邪氣深伏。何能得解。必俟其伏邪漸潰。表氣潛行於內。乃作大戰。精氣自內。（胃中）　由膜原以達表。振戰止而復熱。此時表裡相通。故大汗淋漓。衣被濕透。邪從汗解。此名戰汗。當即脈靜身涼。神清氣爽。劃然而愈。然有自汗而解者。但出表為順。即不藥亦自愈也。伏邪未潰。所有之汗止。得衛氣漸通。熱亦暫減。逾時復熱。午後潮熱（熱之勢。如潮之進退。故名。）者。至是郁甚。陽氣與時消息也。自後加熱而不惡寒者陽氣之積也。甚惡寒或微或甚因其人之陽氣盛衰也。其發熱。或久或不久。或晝夜純熱。或黎明稍減。因其感邪之輕重也。疫邪與瘧彷彿。瘧不傳胃。惟疫乃傳胃。始則皆先凜凜惡寒。既而發熱。又非若傷寒發熱而兼惡寒也。至於伏邪動作。方有變證。其跡或從外解。或從內陷。從外解者順。從內陷者逆。更有表裡先後不同。有先表而後里者。有先里而後表者。有但表而不里者。有但里而不表者。有表裡偏勝者。有表裡分傳者。有表而再表者。有里而再里者。從外解者。或發斑。或戰汗。狂汗自汗盜汗。從內陷者。胸膈痞悶。心下脹滿。或腹中痛。或燥結便秘。或熱結傍流。或協熱下利。或嘔吐噁心譫語。唇黃舌黑胎刺等證。因證而知變。因變而知治。此言其大略。詳見脈證治法等條。</p>
<p>質按。傷寒時疫。一病而二名也。醫家名之傷寒。世俗呼之時疫。其實一已。其為病。感天地之厲氣。沿門闔境相同。而流行傳染者。固無論也。長沙傷寒論自敘曰。卒然遭邪風之氣。嬰非常之疾。又曰。余宗族素多。向餘二百。建寧紀年以來。猶未十稔。其死亡者。三分有二。傷寒十居其七。若其不流行。不傳染者。何為死者之甚多也。按後漢書五行志曰。自建寧四年。至光和二年。相去僅九年。大疫三流行。與仲景自序相應。由是觀之。曰傷寒。曰時疫。一病而二名者。可得而知也。素問熱論曰。今夫熱病者。皆傷寒之類也。可知指疫曰傷寒。所從來古矣。王叔和作傷寒例。不知傷寒為熱病之總司。徒泥其名義。求之四時之氣。以傷冬時寒者。為傷寒。以感非時氣者。為時行氣。吳氏立說排之。疫上冒一溫字。謂非傷寒者。亦非也。蓋吳氏所謂溫疫者。即長沙所謂陽明病也。吳氏所謂厲氣者。即長沙所謂邪風之氣也。按素問瘧論曰。邪氣內薄於五藏。橫連膜原也。又王慈溪明醫雜著曰。有一種天行溫疫熱病。多發春夏之間。沿門闔境相同者。此天地之厲氣也。又曰。春秋時月。人感山嵐瘴霧毒氣。發寒熱。胸膈煩悶。不思飲食。此毒氣從口鼻入內也。吳氏蓋本於此等說。舉長沙溫病之目。掇陽明內外之證。入爐錘。變面目。雜已獨行之見。以著溫疫論。明核詳悉。殆無餘蘊。使人不知其點化之痕。而主張口鼻膜原之說者。蓋亦不得已也。夫鼻從喉通於肺。口從咽達於胃。凡邪氣從鼻而入。則當外在經。而汗之不解。從口而入。則當內在胃。而下之不愈。乃曰。從口鼻而入。伏於膜原。去表不遠。附近於胃。獨奈口鼻間。無別有一竅以通膜原。乃概言口鼻。以搪塞焉。蓋以其初陽明外證。汗下共無益。故其立說如此。學者所不可不知也。</p>

<h2>溫疫初起</h2>
<p>溫疫初起。先憎寒而後發熱。日後但熱而無憎寒也。初得之二三日。其脈不浮不沉而數。晝夜發熱。日晡益甚。頭疼身痛。此時邪在挾脊之前。腸胃之後。雖有頭疼身痛。此邪熱浮越於經。不可認為傷寒表讓。輒用麻黃桂枝之粗。強發其汗。此邪不在經。汗之徒傷表氣。熱亦不減。又不可下。此邪不在裡。下之徒傷胃氣。其渴愈甚。宜達原飲。</p>
<p>達原飲</p>
<p>檳榔（二錢）　厚朴（一錢）　草果仁（五分）　知母（一錢）　芍藥（一錢）　黃芩（一錢）　甘草（五分）</p>
<p>上用水二鍾。煎八分。午後溫服。</p>
<p>按檳榔能消能磨。除伏邪為疏利之藥。又除嶺南瘴氣。厚朴破戾氣所結。草果辛烈氣雄。除伏邪盤踞。三味協力直達其巢穴。使邪氣潰敗。速離膜原。是以為達原也。熱傷津液。加知母以滋陰。熱傷營氣。加白芍以和血。黃芩清燥熱之餘。甘草為和中之用。以後四味。不過調和之劑。如渴與飲。非拔病之藥也。凡疫邪。遊溢諸經。當隨經引用。以助升泄。（升發也）如脅痛耳聾寒熱。嘔而口苦。此邪熱溢於少陽經也。本方加柴胡一錢。如腰背項痛。此邪熱溢於太陽經也。本方加羌活一錢。如目痛眉稜骨痛。眼眶痛鼻乾不眠。此邪熱溢於陽明經也。本方加乾葛一錢。證有遲速輕重不等。藥有多寡緩急之分。務在臨時斟酌。所定分兩大略而已。不可執滯。間有感之輕病者。皆傷寒之類也。可知指疫曰傷寒。所從來古矣。王叔和作傷寒例。不知傷寒為熱病之總司。徒泥其名義。求之四時之氣。以傷冬時寒者。為傷寒。以感非時氣者。為時行氣。吳氏立說排之。疫上冒一溫字。謂非傷寒者。亦非也。蓋吳氏所謂溫疫者。即長沙所謂陽明病也。吳氏所謂厲氣者。即長沙所謂邪風之氣也。按素問瘧論曰。邪氣內薄於五藏。橫連膜原也。又王慈溪明醫雜著曰。有一種天行溫疫熱病。多發春夏之間。沿門闔境相同者。此天地之厲氣也。又曰。春秋時月。人感山嵐癉霧毒氣。發寒熱。胸膈煩悶。不思飲食。此毒氣從口鼻入內也。吳氏蓋本於此等說。舉長沙溫病之目。掇陽明內外之證。入爐鍾變面目。雜已獨得之見。以著溫疫論。明核詳悉。殆無餘蘊。使人不知其點化之痕。而主張口鼻膜原之說者。蓋亦不得已也。夫鼻從喉通於肺。口從咽達於胃。凡邪氣從鼻而入。則當外在經。而汗之不解。從口而入。則當內在胃。而下之不愈。乃曰。從口鼻而入。伏於膜原。去表不遠。附近於胃。獨奈口鼻間。無別有一竅以通膜原。乃概言口鼻。以搪塞焉。蓋以其初陽明外證。汗下共無益。故其立說如此。學者所不可不知也。</p>

<h2>溫疫初起</h2>
<p>溫疫初起。先憎寒而後發熱。日後但熱而無憎寒也。初得之二三日。其脈不浮不沉而數。晝夜發熱。日晡益甚。頭疼身痛。此時邪在挾脊之前。腸胃之後。雖有頭疼身痛。此邪熱浮越於經。不可認為傷寒表證。輒用麻黃桂枝之類。強發其汗。此邪不在經。汗之徒傷表氣。熱亦不減。又不可下。此邪不在裡。下之徒傷胃氣。其渴愈甚。宜達原飲。</p>
<p>達原飲</p>
<p>檳榔（二錢）　厚朴（一錢）　草果仁（五分）　知母（一錢）　芍藥（一錢）　黃芩（一錢）　甘草（五分）</p>
<p>上用水二鍾。煎八分。午後溫服。</p>
<p>按檳榔能消能磨。除伏邪為疏利之藥。又除嶺南瘴氣。厚朴破戾氣所結。草果辛烈氣雄。除伏邪盤踞。三味協力直達其巢穴。使邪氣潰敗。速離膜原。是以為達原也。熱傷津液。加知母以滋陰。熱傷營氣。加白芍以和血。黃芩清燥熱之餘。甘草為和中之用。以後四味。不過調和之劑。如渴與飲。非拔病之藥也。凡疫邪。遊溢諸經。當隨經引用。以助升泄（升發也）　如脅痛耳聾寒熱。嘔而口苦。此邪熱溢於少陽經也。本方加柴胡一錢。如腰背項痛。此邪熱溢於太陽經也。本方加羌活一錢。如目痛眉稜骨痛。眼眶痛鼻乾不眠。此邪熱溢於陽明經也。本方加乾葛一錢。證有遲速輕重不等。藥有多寡緩急之分。務在臨時斟酌。所定分兩大略而已。不可執滯。間有感之輕者。舌上白胎亦薄。熱亦不甚。而無數脈。其不傳裡者。一二劑自解。稍重者必從汗解。如不能汗。乃邪氣盤踞於膜原。內外隔絕。表氣不能通於內。裡氣不能達於外。不可強汗。或加發散之藥。便欲求汗。誤用衣被壅渴。或將湯火熨蒸。甚非法也。此時無遊溢之邪在經。三陽加法不必用。宜照本方可也。感之重者。舌上胎如積粉滿布無隙。服湯後。不從汗解。而從內陷者。舌根先黃。漸至中央。邪漸入胃。此三消飲證。若脈長洪而數。大汗多渴。此邪氣適離膜原。欲表未表。此白虎湯證。如舌上純黃色。兼之裡證。為邪已入胃。此大承氣證也。有二三日即潰而離膜原者。有半月十數日不傳者。有初得之四五日淹淹。五六日後。陡然勢張者。凡元氣勝者。毒易傳化。元氣薄者。邪不易化。即不易傳。設遇他病久虧。適又微疫能感不能化。安望其傳。不傳則邪不去。邪不去則病不瘳。延纏日久。愈沉愈伏。多致不起。時師誤認怯證。日進參耆。愈壅愈固。不死不休也。</p>
<p>質按。傷寒論。太陽上篇第六章云。太陽病發熱而渴。不惡寒者。名溫病。又陽明篇第四章云。陽明病外證云何。答云。身熱汗自出。不惡寒。反惡熱也。又問。病有得之一日。不發熱而惡寒者。何也。答云。雖得之一日惡寒。將自罷。即自汗出而惡熱也。吳氏乃取義而易文。為溫疫初起之證。曰先憎寒而後發熱。日後但熱而無憎寒也。由此觀之。可知為陽明外證也。又曰。下之徒傷胃氣。其渴愈甚。夫愈之為言逾也。其初雖不曰渴。有渴可知也。</p>

<h2>傳變不常</h2>
<p>疫邪為病。有從戰汗而解者。有從自汗盜汗狂汗而解者。有無汗竟傳入胃者。有自汗淋漓。熱渴反甚。終得戰汗方解者。有胃氣壅鬱。必用下。乃得戰汗而解者。有表以汗解。里有餘邪。不因他故。越三五日。前證復發者。有發黃因下而愈者。有發黃因下而斑出者。有竟從發斑而愈者。有里證急。雖有斑。非下不愈者。此雖傳變不常。亦疫之常變也。有局外之變者。男子適逢淫欲。或向來下元（腎命門）空虛。邪熱乘虛陷於下焦。氣道不施。以致小便閉塞。小腹脹滿。每至夜即發熱。以導赤散。五苓五皮之類。分毫不效。得大承氣一服。小便如注而愈者。或素有他病一隅之虧。邪乘宿昔所損而傳者。如失血崩滯。經水適來適斷。心痛疝氣。痰火喘急。凡此皆非常變。大抵邪行如水。惟注者受之。傳變不常。皆因人而使。蓋因疫而發舊病。治法無論某經某病。但治其疫。而舊病自愈。</p>
<p>質按吳氏以建言者。其旨與長沙異。長沙舉傷寒。而括陰陽二證。建六經而標病位。所謂傳者。謂自經傳經也。故有合病並病之名焉。吳氏所論專主陽明。故分病位為三部。曰表曰里曰中。蓋以經為表。以胃為里。以膜原為中。曰邪氣伏於膜原。自此而傳於表裡也。故傳於表者。邪發於肌表也。傳於裡者。邪陷於腸胃也。此其所以與長沙異也。又曰化曰潰者。邪毒已敗壞。由元氣振盪之勢。欲向表裡諸竅。而分離也。又曰熱淫之氣。浮越某經者。長沙所謂合病並病也。或言異而義同。或言同而義異。至如特舉太陽麻黃之證。指之為傷寒。曰傷寒與溫疫別途。最為甚矣。學者不可不辨也。</p>

<h2>急證急攻</h2>
<p>溫疫發熱一二日。舌上白胎如積粉。早服達原飲一劑。午前舌變黃色。隨現胸膈滿痛。大渴煩躁。此伏邪即潰。邪毒傳胃也。前方加大黃下之。煩渴少減。熱去六七。午後復加煩躁發熱。通舌變黑生刺。鼻如煙煤。此邪毒最重。復瘀到胃。急投大承氣湯。傍晚大下。至夜半熱退。次早鼻黑胎刺如失。此一日之間而有三變。數日之法一日行之。因其毒甚。傳變亦速。用藥不得不緊。設此證不服藥。或投緩劑。羈遲二三日必死。設不死服藥亦無及矣。嘗見溫疫二三日即斃者。乃其類也。</p>

<h2>表裡分傳</h2>
<p>溫疫舌上白胎者。邪在膜原也。舌根漸黃至中央。乃邪漸入胃。設有三陽現證。用達原飲三陽加法。因有里證。復加大黃。名三消飲。三消者。消內消外。消不內不外也。此治疫之全劑。惟毒邪表裡分傳。膜原尚有餘結者宜之。</p>
<p>三消飲</p>
<p>檳榔　草果　厚朴　芍藥　甘草　知母　黃芩　大黃　葛根　羌活　柴胡</p>
<p>薑棗煎服。</p>

<h2>熱邪散漫</h2>
<p>溫疫脈長洪而數。大渴復大汗。通身發熱。宜白虎湯。</p>
<p>白虎湯</p>
<p>石膏（一兩）　知母（五錢）　甘草（五錢）　炒米（一撮）</p>
<p>加姜煎服。</p>
<p>按白虎湯。辛涼發散之劑。清肅肌表氣分藥也。蓋毒邪已潰。中結漸開。邪氣分離膜原。尚未出表。然內外之氣已通。故多汗。脈長洪而數。白虎辛涼解散。服之。或戰汗。或自汗而解。若溫疫初起。脈雖數未至洪大。其時邪氣。盤踞於膜原。宜達原飲。誤用白虎。既無破結之能。但求清熱。是猶揚湯止沸也。若邪已入胃。非承氣不愈。誤用白虎既無逐邪之能。徒以剛悍而伐胃氣。反抑邪毒。致脈不行。因而細小。又認陽證得陰脈。妄言不治。醫見脈微欲絕。益不敢議下。日惟雜進寒涼。以為穩當。愈投愈危。至死無悔。此當急投承氣。緩緩下之。六脈自復。</p>
<p>質按。白虎辛涼消熱。固非發散之劑。得之而汗者。以折其伏熱也。蓋藥投於其機。而營衛運行得宜。正氣鼓散其邪也。猶於柴胡承氣之戰汗。柴胡承氣。豈發散之劑乎哉。學者當思焉。長沙曰。服桂枝湯。大汗出後。大煩渴不解。脈洪大者。又曰太陽病。若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。又曰。傷寒無大熱。口燥渴。心煩。背微惡寒者。又曰。傷寒脈浮。發熱無汗。其表不解者。不可與白虎湯。渴欲飲水。無表證者。又曰。若渴欲飲水。口乾舌燥者。可見表證不解者。及胃實者。雖有煩渴。並非白虎證也。</p>

<h2>內壅不汗</h2>
<p>邪發於半表半裡。一定之法也。至於傳變。或出表。或入里。或表裡分傳。醫見有表復有里。乃引經論。先解其表。乃攻其里。此大謬也。嘗見以大劑麻黃連進。一毫無汗。轉見煩躁者。何也。蓋發汗之理。自內以達表。今裡氣結滯。陽氣不能敷布於外。即四肢未免厥逆。又安能氣液蒸蒸以達表。譬如縛足之鳥。乃欲飛昇。其可得乎。蓋鳥之將飛。其身必伏。先足縱而後揚翅。方得升舉。此與戰汗之義同。又如水注閉其後竅。則前竅不能涓滴。與發汗之義同。凡見表裡分傳之證。務宜承氣先通其里。裡氣一通。不待發散。多有自能汗解。</p>
<p>質曰。吳氏欲斥經論而張己說。然已曰內壅不汗。則所謂表證。豈太陽之證耶。所謂發汗。豈肌表之汗耶。若果為太陽證歟。下之其非法。雖吳氏亦必不下也。學者當思之。</p>

<h2>下後脈浮</h2>
<p>里證下後。脈浮而微數。身微熱。神思或不爽。此邪熱浮於肌表。里無壅滯也。雖無汗。宜白虎湯。覆杯（靈樞邪客篇。覆杯則臥。汗出則已矣。）則汗解。下後脈浮而數。原當汗解。遷延五六日。脈證不改。仍不得汗者。以其人或自利經久。或素有他病先虧。或本病（本者此也。猶本月本年之本也。）日久不痊。或反覆數下。以致周身血液枯涸。故不得汗。白虎辛涼。除肌表散漫之熱邪。加人參以助周身之血液。於是經絡潤澤。元氣鼓舞。腠理開發。故得汗解。</p>
<p>質曰。血液枯涸不得汗者。豈可概與白虎加人參乎。甚哉。吳氏之偏見也。</p>

<h2>下後脈復沉</h2>
<p>里證脈沉而數。下後脈浮者。當得汗解。今不得汗。後二三日。脈復沉者。膜原餘邪。復瘀到胃也。宜更下之。更下後。脈再浮者仍當汗解。宜白虎湯。</p>

<h2>邪氣復聚</h2>
<p>里證下後脈不浮。煩渴減。身熱退。越四五日。復發熱者。此非關飲食勞復。乃膜原尚有餘邪隱匿。因而復發。此必然之理。不知者。每每歸咎於病人誤也。宜再下之。即愈。但當少與。慎勿過劑。以邪氣微也。</p>

<h2>下後身反熱</h2>
<p>應下之證。下後當脈靜身涼。今反發熱者。此內結開。正氣通。郁陽暴伸也。即如爐中伏火。此時胃尚無邪。誤用承氣更加發熱。實非承氣使然。乃邪氣方張分內之勢也。但嫌下早之誤。徒傷胃氣耳。日後傳胃。再當下之。又有藥煩者。與此懸絕。詳載本條。</p>

<h2>下後脈反數</h2>
<p>應下失下。口燥舌乾而渴。身反熱減。四肢厥。欲得近火擁被。此陽氣伏也。既下厥回。去爐減被。脈大而加數。舌上生津。不思水飲。此里邪去。郁陽暴伸也。宜柴胡清燥湯。去花粉知母加葛根。隨其熱而升泄之。此證類近白虎。但熱渴既除。又非白虛實所宜也。</p>

<h2>因證數攻</h2>
<p>溫疫下後二三日。或一二日。舌上覆生胎刺。邪未盡也。再下之。胎刺雖未去。而鋒芒已軟。然熱渴未除。更下之。熱渴減。胎刺脫。日後更復熱。又生胎刺。更宜下之。餘里周因之者。患疫月餘。胎刺凡三換。計服大黃二十兩。始得熱不復作。其餘脈證方退也。所以凡下不以數計。有是證則投是藥。醫家見理不透。經歷未到。中道生疑。往往遇此證。反致擔閣。但其中有間日一下者。有應連下三四日者。有應連下二日。間一日者。其中寬緩之間。有應用柴胡清燥湯者。有應用犀角地黃湯者。至投承氣。某日應多與。某日應少與。其間不能得法。亦足以誤事。此非可以言傳。貴乎臨時斟酌。</p>
<p>朱海疇者。年四十五歲。患疫得下證。四肢不舉。身臥如塑。（束土象人也）目閉口張。舌上胎刺。問其所苦。不能答。因問其子。兩三日所服何藥。云。進承氣湯三劑。每劑投大黃兩許。不效。更無他策。惟待日而已。但不忍坐視。更祈一診。余診得脈尚有神。下證悉具。藥淺。病深也。先投大黃一兩五錢。目有時而小動。再投舌刺無芒。目漸開能言。三劑舌胎少去。神思稍爽。四日服柴胡清燥湯。五日復生芒刺。煩熱又加。再下之。七日又投承氣養榮湯。熱少退。八日仍用大承氣。肢體自能少動。計半月共服大黃十二兩而愈。又數日始進糜粥。調理兩月平復。凡治千人所遇。此等不過三四人而已。姑存案以備參酌耳。</p>

<h2>病愈結存</h2>
<p>溫疫下後。脈證俱平。腹中有塊。（必在少腹左邊）按之則疼。自覺有所阻而膨悶。或時有升降之氣。往來不利。常作蛙聲。此邪氣已盡。其宿結（宿昔結糞）尚未除也。此不可攻。攻之徒損元氣。氣虛益不能傳送。終無補於治結。須飲食漸進。胃氣稍復。津液流通。自能潤下也。嘗遇病愈後。食粥半月。結塊方下。堅黑如石。</p>

<h2>下格</h2>
<p>（格音隔。言下部阻隔不通也。）</p>
<p>溫疫愈後。脈證俱平。大便二三旬不行。時時作嘔。飲食不進。雖少與湯水。嘔吐愈加。此為下格。益下既不通。必返於上。設誤認翻胃。乃與牛黃狗寶。及誤作寒氣。藿香丁香二陳之類誤也。宜調胃承氣熱服。頓下宿結。及溏糞。黏膠惡物。臭不可當者。嘔吐立止。所謂欲求南風。須開北牖是也。嘔止慎勿驟補。若少與參耆。則下焦復閉。嘔吐仍作也。此與病愈結存彷彿。彼則妙在往來蛙聲一證。故不嘔而能食。可見毫釐之差。遂有千里之異。按二者。大便俱閉。脈靜身涼。一安一危者。在乎氣通氣塞之間而已矣。</p>

<h2>注意逐邪勿拘結糞</h2>
<p>溫疫可下者。約三十餘證。不必悉具。但見舌黃心腹痞滿。便於達原飲。加大黃下之。設邪在膜原者。已有行動之機。欲離未離之際。得大黃促之而下。實為開門祛賊之法。即使未愈。邪亦不能久羈。二三日後。餘邪入胃。仍用小承氣。徹其餘毒。大凡客邪貴乎早逐。乘病人氣血未亂。肌肉未消。津液未耗。未至危殆。投劑。人不致掣肘。（見於家語屈節篇）愈後亦易平復。欲為萬全之策者。不過知邪之所在。早拔去病根為要耳。但要諒人之虛實。度邪之輕重。察病之緩急。揣邪氣離膜原之多寡。然後藥不空投。投藥無太過不及之弊。是以仲景。自大柴胡以下。立三承氣。多與。少與。自有輕重之殊。勿拘於下不厭遲之說。應下之證。見下無結糞。以為下之早。或以為不應下之證。誤投下藥。殊不知承氣本為逐邪而設。非專為結糞而設也。必俟其糞結。血液為熱所搏。變證迭起。是猶養虎遺患。（史記項羽本紀語）醫之咎也。況多有溏糞失下。但蒸作極臭。或如敗醬。或如藕泥。至死不結者。但得穢惡一去。邪毒從此而消。脈證從此而退。豈徒孜孜糞結。而後行哉。假令經枯血燥之人。或老人血液衰少。多生燥結。或病後血氣未復。亦多燥結。在經所謂不更衣十日。無所苦。有何妨害。是知燥結不致損人。邪毒之為損命也。要知因邪熱致燥結。非燥結而致邪熱也。但有病久失下。燥結為之壅閉。瘀邪鬱熱。益難得泄。結糞一行。氣通而邪熱乃泄。此又前後之不同。總之邪為本。熱為標。結糞又其標也。能早去其邪。安患燥結也。假令滯下。（痢也）本無結糞。初起質實。頻數窘急（後重也）者。宜芍藥湯加大黃下之。此豈亦因結糞而然耶。乃為逐邪而設也。或曰。得毋為積滯而設與。余曰非也。邪氣客於下焦。氣血壅滯。泣（泣音丘。與澀通。血凝不消也。素問云。寒氣客於背俞之脈。則血脈泣。）而為積。若去積以為治。已成之積方去。未成之積復生。須用大黃。逐去其邪。是乃斷其生積之原。營衛流通。其積不治而自愈矣。更有虛痢。又非此論。或問。脈證相同。其糞有結。有不結者。何也。曰。原其人。病至大便當即不行。續得蘊（韞也）熱。益難得出。蒸而為結也。一者。其人平素。大便不實。雖胃家熱甚。但蒸作極臭。狀如黏膠。至死不結。應下之證。設引經論初頭硬。後必溏。不可攻之句。誠為千古之弊。</p>
<p>大承氣湯</p>
<p>大黃（五錢）　厚朴（一錢）　枳實（一錢）　芒硝（三錢）</p>
<p>水姜煎服。弱人減半。邪微者。各復減半。</p>
<p>小承氣湯</p>
<p>大黃（五錢）　厚朴（一錢）　枳實（一錢）</p>
<p>水姜煎服。</p>
<p>調胃承氣湯</p>
<p>大黃（五錢）　芒硝（二錢五分）　甘草（一錢）</p>
<p>水姜煎服。</p>
<p>按三承氣湯。功用彷彿。熱邪傳裡。但上焦痞滿者。宜小承氣湯。中有堅結者。加芒硝。軟堅而潤燥。病久失下。雖無結糞。然多黏膩極臭惡物。得芒硝。則大黃有盪滌之能。設無痞滿。惟存宿結。而有瘀熱者。調胃承氣宜之。三承氣功效。俱在大黃。余皆治標之品也。不耐湯藥者。或嘔或畏。當為細末蜜丸湯下。</p>
<p>質按。吳氏所尤長。在用三承氣。而其說功用甚粗。今審其分量。較之元方。大有不同。且不審水率煮法及服量。但曰水姜煎服。方中如芒硝。若與諸藥同煮。其效大減。故古方皆湯成之後內之。更上火。微沸令消。服之。吳氏則齊煮之。然則所謂三承氣者。增損長沙之方。所自定者。宜哉。其說不精也。既曰。證有遲速輕重不等。藥有多寡緩急之分。所定分兩大略而已。務在臨時斟酌。此乃隨意取捨增損。雖示運用之妙。亦似無紀律者。</p>

<h2>畜血</h2>
<p>畜血便血。不論傷寒時疫。盡因失下。邪熱久羈。無由以泄。血為熱搏。留於經絡。敗為紫血。溢於腸胃。腐為黑血。便色如漆。大便反易者。雖結糞得瘀（瘀血也）而潤下。（長沙曰。陽明證。其人喜忘者。必有畜血。屎雖硬大便反易。其色必黑。）結糞雖行。真元已敗。多至危殆。其有喜笑如狂者。此胃熱波及於血分。血乃心之屬。血中留火。延蔓心家。故有是證矣。仍從胃治。發黃一證。胃實失下。表裡壅閉。鬱而為黃。熱更不泄。搏血為瘀。凡經氣不郁。不致發黃。熱不於血分。不致畜血。同受其邪。（經與血分。同受其邪也。）故發黃而兼畜血。非畜血而致發黃也。但畜血一行。熱隨血泄。黃因隨減。嘗見發黃者。原無瘀血。有瘀血者。原不發黃。所以發黃。當咎在經瘀熱。若專治瘀血誤也。胃移熱於下焦氣分。小便不利。熱結膀胱也。移熱於下焦血分。膀胱畜血也。小腹硬滿。疑其小便不利。今小便自利者。責之畜血也。然小便不利。亦有畜血者。非小便自利。便為畜血也。胃實失下。至夜發熱者。熱留血分。更加失下。必致瘀血。初則晝夜發熱。日晡益甚。既投承氣。晝日熱減。至夜獨熱者。瘀血未行也。宜桃仁承氣湯。服湯後。熱除為愈。或熱時前後縮短。再服再短。畜血盡而熱亦盡。大勢已去。亡血過多。余焰尚存者。宜犀角地黃湯調之。至夜發熱。亦有癉瘧。有熱入血室。皆非畜血。並未可下。宜審。</p>
<p>質按。傷寒論太陽中篇。舉畜血兼發黃者。以小便利與不利。辨抵當茵陳。二方之證。今此篇亦舉發黃者。明畜血與發黃病由各異。以髮長沙余蘊也。夫小腹即膀胱部。故小便不利者。小腹必硬滿。今小便自利。故責之畜血也。然畜血之證。在一七二七者。元氣仍支持。或為可治。越三七者。真元已敗。膀胱麻痹。不尿閉則必遺矢。為難治矣。故吳氏曰。小便不利。亦有畜血者。非小便自利。便為畜血也。蓋亦審其亥矣也。</p>
<p>桃仁承氣湯</p>
<p>大黃　芒硝　桃仁　當歸　芍藥　丹皮</p>
<p>照前煎服。</p>
<p>質按。元方有桂枝甘草。無當歸芍藥丹皮。吳氏泥於太陽隨經之語。且嫌桂枝之辛熱。故增損之。</p>
<p>犀角地黃湯</p>
<p>地黃（一兩）　芍藥（三錢）　丹皮（二錢　）　犀角（二錢研碎）</p>
<p>上先將地黃。溫水潤透。銅刀切作片。石臼內搗爛。再加水如糊。絞汁聽用。其滓入藥同煎。藥成去滓。入前汁合用。</p>
<p>按傷寒太陽病不解。從經傳府。熱結膀胱。其人如狂。血自下者愈。血結不行者。宜抵當湯。今溫沒初無表證。而惟胃實。故腸胃畜血多。膀胱畜血少。然抵當湯。行瘀逐畜之最者。無分前後二便。並可取用。然畜血結甚者。在桃仁力所不及。宜抵當湯。蓋非大毒猛厲之劑。不足以抵當。故名之。然抵當證。所遇亦少。此以備萬一之用。</p>
<p>抵當湯</p>
<p>大黃（五錢）　虻蟲（二十枚炙乾研末）　桃仁（五錢研如泥）　水蛭（炙乾為末五分）</p>
<p>照常煎服。</p>
<p>質曰。長沙審於脈與證。略於臟腑經絡。故病在裡者。不必謂在某藏某府。單謂臟謂里謂內也。其在表者。亦不必謂在某經某腧。單謂經謂表謂外也。如曰內寒外熱。救里攻表。在經動經。胸中腹中。臟寒臟燥。臟無他病。為熱入血室。為熱結膀胱。為蛔上而入膈。心下有水氣。寒結胞門之類。可以觀也。今小腹急結。若硬滿者。小腹即膀胱之部。蓋膀胱之腑。主足太陽經。故謂熱隨經入腑耳。吳氏拘泥其辭。以為區區說。謂抵當桃仁之證。膀胱實有畜血者。不亦迂也哉。</p>

<h2>發黃</h2>
<p>黃疸是腑病。非經病也。瘟邪傳裡。遺熱下焦。小便不利。邪無輸泄。經氣鬱滯。其傳為疸。身目如金者。宜茵陳湯。</p>
<p>茵陳湯</p>
<p>茵陳（一錢）　山梔（二錢）　大黃（五錢）</p>
<p>水姜煎服。</p>
<p>按茵陳。為治疸退黃之專藥。今以病證較之。黃因小便不利。故用山梔。除小腸屈曲之火。瘀熱既除。小便自利。當以發黃為標。小便不利為本。及論小便不利。病原不在膀胱。乃系胃家移熱。又當以小便不利為標。胃實為本。是以大黃為專功。山梔次之。茵陳又其次也。設去大黃。而服山梔茵陳。是忘本治標。鮮有功矣。或用茵陳五苓。不惟不能退黃。小便間亦難利。</p>
<p>質曰。發黃之論。既審於畜血篇。故在此甚略之。專說茵陳之方意。審證之標本。以分品味之甲乙。亦何等捷徑。</p>

<h2>邪在胸膈</h2>
<p>瘟疫胸膈滿悶。心煩喜嘔。欲吐不吐。雖吐而不得大吐。腹不滿。欲飲不能飲。飲食不能食。此疫邪留於胸膈。宜瓜蒂散吐之。</p>
<p>瓜蒂散</p>
<p>瓜蒂（二分五釐）　赤豆（二分五釐）</p>
<p>上細末。以淡豆豉二錢。用水二合。煎取一合。去滓。以藥末攪之。頓服。溫覆須臾。不吐更服。吐之未盡。煩滿尚存者與鹽湯。探而吐之。</p>
<p>質曰。凡吐方。必兼汗下。其法。服藥之後。更飲溫湯數甌。須溫覆。俟溫溫欲吐。使病者端坐。以紙捻若羽翮之類。探而吐之。不吐者。後進溫湯而探之。仍不吐者。使之起立。旋轉循環徐步。須臾必吐。以吐黃色苦辣液為度。吐過不止者。與冷水一碗。不吐盡者。與鹽湯而探之。須百方吐之。失期不吐。必下利。竟亦無益也。</p>

<h2>辨明傷寒時疫</h2>
<p>或曰。子言傷寒與時疫。有霄壤之隔。今用三承氣。及桃仁承氣。抵當茵陳諸湯。皆傷寒方也。既用其方。必同其證。子何言之異也。曰。夫傷寒。必有感冒之因。或單衣風露。（大成論頭痛門云。新沐之後。當風露臥。）或強力入水。或臨風脫衣。或當檐出浴。隨覺肌膚粟起。既而四肢拘急。惡風惡寒。然後頭疼身痛。發熱惡寒。脈浮而數。脈緊無汗。為傷寒。脈緩有汗。為傷風。至於時疫初起。原無感冒之因。忽覺凜凜。以後但熱而不惡寒。然亦有有所觸因而發者。或飢飽勞碌。或焦思氣鬱。皆觸動其邪。是促其發也。但不因所觸。無故自發者居多。促而發者。十中之一二耳。且傷寒之邪。自毫竅而入。時疫之邪。自口鼻而入。傷寒感而即發。時疫多感久而後發。傷寒感邪在經。以經傳經。時疫感邪在內。內溢於經。經不自傳。傷寒感發甚暴。時疫多淹纏二三日。或漸加重。或淹纏五六日。忽然加重。傷寒初起。以發表為先。時疫初起。以疏利為主。傷寒投劑得汗而解。時疫發散雖汗不解。傷寒投劑可使立汗。時疫汗解俟其內潰。汗出自然。不可以期。傷寒解以發汗。時疫解以戰汗。傷寒汗解在前。時疫汗解在後。傷寒發斑則病解。時疫發斑則病衰。傷寒不傳染。時疫能傳染。各自不同。其所同者。傷寒時疫。皆能傳胃。至是同歸於一。故皆用承氣湯輩。導邪而出。要之傷寒時疫。始異而終同也。但傷寒之邪。自肌表一逕傳裡。如浮雲之過太虛。原無根蒂。惟其傳法。始終有進而無退。故下後皆能脫然而愈。時疫之邪。始則匿於膜原。根深蒂固。發時與營衛交併。客邪經由之處。營衛未有不被其傷者。因其傷故名曰潰。然不潰則不能傳。不傳則邪不能出。邪不出則疾不瘳。故時疫下後。多有未能頓解者。蓋疫邪。每有表裡分傳者。因有一半向外傳。則邪留於肌肉。一半向內傳。則邪留於胃家。邪留於胃。故里氣結滯。裡氣結。表氣因而不通。於是肌肉之邪。不能即達於肌表。下后里氣一通。表氣亦順。向鬱於肌肉之邪。方能盡發於肌表。或斑或汗。然後脫然而愈。傷寒下後。無有此法。雖曰終同。及細較之。而終又有不同者矣。或曰。傷寒感天地之正氣。瘟疫感天地之戾氣。氣既不同。俱用承氣。又何藥之相同也。曰。風寒疫邪。與吾身之真氣二者。勢不兩立。一有所著。則氣壅火積。氣也。火也。邪也。三者混一。與之俱化。失其本然之面目。則均為之邪矣。但以驅逐為功。何論邪之向異也。譬初得傷寒。為陰邪。閉藏而無汗。傷風為陽邪。開發而多汗。始有桂枝麻黃之分。原其感而未化也。傳至少陽。並用柴胡。傳至胃家。並用承氣。至是亦無復有風寒之分矣。推而廣之。是知瘟邪傳胃。治法無異。</p>
<p>質按。長沙自序曰。卒然遭邪風之氣。嬰非常之疾。未嘗謂四時之氣也。而至論其病。則曰脈證如此者。名為中風。名為傷寒。其論病由。不過如此。名為二字。可以觀也。叔和泥於傷寒之名義。求之四時之氣。吳氏亦由其說。曰傷寒感天地之正氣。溫疫感天地之戾氣。今復曰傷寒必有感冒之因。或單衣風露云云。其果如此。冬時之寒。亦為邪風氣乎。邪風之氣。豈可謂之正氣邪。富貴之人。焉有觸此因者。不知傷寒。特為貧賤之病乎。不通之論也。且曰傷寒必有感冒之因。時疫原無感冒之因。傷寒感而即發。其發甚暴。時疫感久而後發。即曰時疫無感冒之因。來而不覺。感而不知。試問何由知其自口鼻而入。感久而後發乎。若論受邪之原由。則不過以理推之。於傷寒亦如此。不特瘟疫也。又曰。傷寒感邪在經。溫疫感邪在內。又曰。傷寒投劑可使立汗。溫疫汗解。俟其內潰。汗出自然。不可以期。蓋吳氏所謂傷寒者。即太陽麻黃之證。故發汗而愈者多。若夫溫疫初起。固為陽明外證。故桂麻之類。發之不愈。傳入於胃者多。其理當然也。然傷寒有發汗不解遂入於胃者。溫疫有發汗而愈者。故達原飲方後曰。其不傳裡者。一二劑自解。稍重者。必從汗解。又曰。但出表為順。又曰。大概觀之。邪越太陽許多。陽明次之。少陽又其次也。可見其初宜解表。俟邪氣傳胃而下之。但是陽明外證。不宜桂麻之類。此乃其所以苦心制達原飲也。若曰必無表證。則三陽加法何為而設之也。既曰。傷寒汗解在前。溫疫汗解在後。而其初有外證者。必以三陽加法。在後多用白虎。白虎豈發汗藥乎哉。此所謂汗出自然者。猶傷寒柴胡證。戰汗而解者。與桂麻之汗解。不可同日而論矣。蓋長沙之法。先解表後攻里。俟邪毒盡傳於胃。而後下之。故得一剿而盡焉。吳氏則不然。見僅入於胃。輒直下之。故已傳之邪去。而未傳之邪復聚。竟有至再下三下。或屢下者。此銳於戰而不能俟機會者也。</p>

<h2>發斑戰汗合論</h2>
<p>凡疫邪留於氣分。解以戰汗。留於血分。解以發斑。氣屬陽而輕清。血屬陰而重濁。是以邪在氣分。則易疏透。邪在血分。恆多膠滯。陽主速而陰主遲也。所以從戰汗者。可使頓解。從發斑者。當圖漸愈。</p>
<p>質曰。夫邪無常形。由著處而現證。猶水之由地而變形也。邪酷則搏血。血敗則為斑疹。病亦為重也。故發斑愈早。則其病愈重。是其所以難瘳也。吳氏由氣血而論汗與斑。以陰陰清濁。判發離遲還。蓋又漢人氣習矣。其實未必如此也。</p>

<h2>戰汗</h2>
<p>瘟疫伏邪中潰。忽得戰汗。邪氣輸泄。當即脈靜身涼。煩渴頓除。若至三五日後。陽氣漸積。不待飲食勞碌。而有反覆者。蓋一半已解表。一半復傳裡也。下之即解。其表裡分傳者。裡氣壅閉。非汗下不可。汗下之未盡。日後復熱。當復下復汗。下後煩渴減。腹滿去。或思飲食而知味。裡氣和了。倘身熱未除。脈近浮。此邪氣怫鬱於經。表未解也。當得汗解。如未得汗。以柴胡清燥湯和之。復不得汗者。從漸解也。勿強發其汗。應下失下。氣消血耗。既下欲作戰汗。但戰而不汗者危。以中氣虧微。但能降陷。不能升泄也。次日當期復戰。厥回汗出者生。厥不回汗不出者死。以正氣脫不勝邪也。戰而厥回無汗者。真陽尚在。津液枯涸也。可使漸愈。戰而不復。忽痙者必飲。痙者身如屍。牙關緊。目上視。凡戰不可擾動。但可溫覆。擾動則戰而中止。次日當期復戰。戰汗後。復下後。越二三日。反腹痛不止者。欲作滯下也。無論已見積未見積。宜芍藥湯。</p>
<p>芍藥湯</p>
<p>芍藥（一錢）　當歸（一錢）　檳榔（二錢）　厚朴（一錢）　甘草（七分）</p>
<p>水姜煎服。裡急後重。加大黃三錢。紅積倍芍藥。白積倍檳榔。</p>

<h2>自汗</h2>

<h2>盜汗</h2>
<p>（質曰。盜汗。古謂之寢汗。後世名之盜汗。蓋取於盜乘於人之不知義也。）</p>
<p>里證下後。續得盜汗者。表有微邪也。若邪甚。竟作自汗。伏邪中潰。則作戰汗矣。凡人目張則衛氣行於陽。目瞑則衛氣行於陰。行陽謂升發於表。行陰謂斂降於內。今內有伏熱。而又遇衛氣。兩陽相搏。熱蒸於外。則腠理開而盜汗出矣。若內伏之邪一盡。則盜汗自止。設不止者。宜柴胡湯以佐之。時疫愈後。脈靜身涼。數日後。反得盜汗及自汗者。此屬表虛。宜黃耆湯。</p>
<p>柴胡湯</p>
<p>柴胡（三錢）　黃芩（一錢）　陳皮（一錢）　甘草（一錢）　生薑（一錢）　大棗（二枚）</p>
<p>古方用人參半夏。今表裡實。故不用人參。無嘔吐。不用半夏。</p>
<p>黃耆湯</p>
<p>黃耆（三錢）　五味子（五分）　當歸（一錢）　白朮（一錢）　甘草（五分）</p>
<p>照常煎服。如汗未止。加麻黃淨根一錢五分。無有不止者。然屬實常多。屬虛常少。邪氣盛為實。正氣奪為虛。虛實之分。在乎有熱無熱。有熱為實。無熱為虛。若顛倒誤用。必有實實虛虛之誤。臨證當慎。</p>
<p>質曰。以熱之有無。辨證之虛實。恐未盡也。</p>

<h2>狂汗</h2>
<p>狂汗者。伏邪中潰。欲作汗解。因其人稟賦充盛。陽氣衝擊。不能頓開。故忽然坐臥不安。且狂且躁。少頃大汗淋漓。狂躁頓止。脈靜身涼。霍然而愈。</p>

<h2>發斑</h2>
<p>邪留血分。裡氣壅閉。則伏邪不得外透而為斑。已下之。內壅一通。則衛氣亦從而疏暢。必出表為斑。則毒邪亦從而外解矣。若下後斑漸出。不可更大下。設有下證。少與承氣。緩緩下之。若復大下。中氣不振。斑毒內陷則危。宜托裡舉斑湯。</p>
<p>托裡舉斑湯</p>
<p>芍藥　當歸（各一錢）　升麻（五分）　白芷　柴胡（各七分）　川山甲（二錢塗黃土泥炒黃去土為粗末）</p>
<p>水姜煎服。下後斑漸出。復大下斑毒復隱。反加循衣摸床。撮空理線。脈漸微者危。本方加人參一錢補。補不及者死。若未下而先發斑者。設有下證。少與承氣。須從緩下。</p>
<p>質曰。此篇承發斑戰汗論而起。宜與彼篇照見。</p>

<h2>數下亡陰</h2>
<p>下證以邪未盡。不得已而數下之。間有兩目加澀。舌反枯乾。津不到咽。唇口燥裂。緣其人所稟陽藏。素多火而陰虧。今重亡津液。宜清燥養勞湯。設熱渴未除。里證仍在。宜承氣養榮湯。</p>
<p>質曰。此證當從緩緩治之。若欲速除其邪。則邪盡而人斃。</p>

<h2>解後宜養陰忌投參朮</h2>
<p>夫疫乃熱病也。邪氣內郁。陽氣不得宣布。積陽為火。陰血每為熱搏。暴解之後。余焰尚在。陰血未復。大忌參耆白朮。得之反助其壅鬱。餘邪留伏。不惟目下淹纏。日後必變生異證。或周身痛痹。或四肢攣急。或流火結痰。或遍身瘡瘍。或兩腿攢痛。或勞嗽湧痰。或氣毒流注。或痰核穿漏。皆驟補之為害也。凡有陰枯血燥者。宜清燥養榮湯。若素多痰。及少年平時肥盛者。投之恐有膩膈之弊。亦宜斟酌。大抵時疫愈後。調理之劑。投之不當。莫如靜養節飲食為第一。</p>
<p>質曰。下後陽脫者。間又有姜附證。況於參朮乎。要在審其證。不可偏執也。若謂熱病不可溫藥。傷寒亦不可溫藥乎。不通之論也。蓋吳氏所謂溫疫者。即為陽明病。故溫藥之證稀耳。然至於血液已被熱搏。更經汗下。陰陽亡奪者。仍以參耆為戒。豈其不偏見耶。</p>
<p>清燥養榮湯</p>
<p>知母　天花粉　當歸身　芍藥</p>
<p>地黃　陳皮　甘草</p>
<p>加燈心煎服。表有餘熱。宜柴胡養榮湯。</p>
<p>柴胡養榮湯</p>
<p>柴胡　黃芩　陳皮　甘草　當歸</p>
<p>芍藥　生地　知母　天花粉</p>
<p>薑棗煎服。里證未盡。宜承氣養榮湯。</p>
<p>承氣養榮湯</p>
<p>知母　當歸　芍藥　生地</p>
<p>大黃　枳實　厚朴</p>
<p>水姜煎服。痰涎湧甚。胸膈不清者。宜蔞貝養榮湯。</p>
<p>蔞貝養榮湯</p>
<p>知母　花粉　貝母　瓜蔞實</p>
<p>橘紅　芍藥　當歸　紫蘇子</p>
<p>水姜煎服。</p>

<h2>用參宜忌有前利後害之不同</h2>
<p>凡人參所忌者。里證耳。邪在表及半表半裡者。設之不妨。表有客邪者。古方如參蘇飲。小柴胡湯。敗毒散是也。半表半裡者。如久瘧挾虛。用補中益氣。不但無凝。而且得效。即使暴瘧邪氣正盛。投之不當。亦不至脹。為無里證也。夫里證者。不特傷寒溫疫傳胃。至如雜證氣鬱血鬱。火鬱濕鬱。痰鬱食鬱之類。皆為里證。投之即脹者。蓋以實填實也。今溫疫下後。適有暫時之通。即投人參。因而不脹。醫者病者。以為用參之後。雖不見佳處。然不為禍。便為是福。乃恣意投之。不知參乃行血里之補藥。下後雖通。餘邪尚在。再四服之。則助邪填實。前證復起。禍害隨至矣。間有失下以致氣血虛耗者。有因邪盛數下。及大下而挾虛者。遂投人參。當覺精神爽慧。醫者病者。皆以為得意。明後日再三投之。即加變證。蓋方下後。始則胃家乍虛。沾其補益而快。殊弗思餘邪未盡。恣意投之。則漸加壅閉。邪火復起。愈投而變證愈增矣。故前後利害之不同者。有如此。</p>
<p>質曰。此篇宜與乘除之論照見。乃知吳氏之精細。又曰時疫與瘧。共有表裡之證。證候雖相似。其病迥異。故時疫若失治。有頃刻而死者。瘧疾雖失治不死。且有不藥亦自愈者。不可同日而論也。</p>

<h2>下後間服緩劑</h2>
<p>下後或數下。膜原尚有餘邪。未盡傳胃。邪熱與衛氣相併。故熱不能頓除。當寬緩兩日。閉餘邪聚胃。再下之。宜柴胡清燥湯緩劑調理。</p>
<p>柴胡清燥湯</p>
<p>柴胡　黃芩　陳皮</p>
<p>甘草　花粉　知母</p>
<p>薑棗煎服。</p>

<h2>下後反痞</h2>
<p>疫邪留於心胸。令人痞滿。下之痞應去。今反痞者虛也。以其人或因他病先虧。或因新產後。氣血兩虛。或稟賦嬌怯。因下益虛。失其健運。客氣留止。故令痞滿。今愈下而痞愈甚。若更用行氣破氣之劑。轉成壞證。宜參附養榮湯。</p>
<p>質曰。此篇宜與長沙瀉心湯條參考。今下之反痞者。胃中虛。客氣留止也。長沙甘草瀉心湯條曰。此非結熱。客氣上逆也。固為不可下。而反下之。令其益痞者誤也。若夫下後。心下如腫痞。舌上乾燥無胎。脈浮虛而數。發熱汗多者。間變畜血證。為難治。</p>
<p>參附養榮湯</p>
<p>當歸（一錢）　芍藥（一錢）　生地（三錢）　人參（一錢）　附子（炮七分）　乾薑（炒一錢）</p>
<p>照常煎服。果如前證。一服痞當如失。倘有下證。下後脈實。痞未除者。再下之。此有虛實之分。一者有下證。下後痞即減者為實。一者表雖微熱。脈不甚數。口不渴。下後痞反甚者為虛。若潮熱口渴。脈數而痞者。投之禍不旋踵。</p>
<p>質曰。遽然下之。而後論其虛實。豈不暴耶。蓋亦吳氏偏於下之弊也。</p>

<h2>下後反嘔</h2>
<p>疫邪留於心胸。胃口熱甚。皆令嘔不止。下之嘔當去。今反嘔者。此屬胃氣虛寒。少進粥飲。便欲舌酸者。宜半夏藿香湯。一服嘔立止。穀食漸加。</p>
<p>半夏藿香湯</p>
<p>半夏（一錢五分）　真藿香（一錢）　乾薑（炒一錢）　茯苓（一錢）　廣陳皮（一錢）　白朮（炒一錢）　甘草（五分）</p>
<p>水姜煎服。有前後一證。首尾兩變者。有患時疫。心下脹滿。口渴。發熱而嘔。此應下之證也。下之諸證減去六七。嘔亦減半。再下之。脹除。熱退。渴止。向則數日不眠。今則少寐。嘔獨轉甚。此疫毒去而諸證除。胃續寒而嘔甚。與半夏藿香湯。一劑而嘔即止。</p>
<p>質按。長沙曰。嘔多者。雖有陽明證。不可攻之。此證治法。當在大小柴胡之間。未可始遽下之也。蓋亦吳氏專下之弊矣。然早知其誤。而急救之者。乃所以警悟過人也。</p>

<h2>奪液無汗</h2>
<p>溫疫下後脈沉。下證未除。再下之。下後脈浮者。法當汗解。三五日不得汗者。其人預亡津液也。一人患疫。得下證。日久失下。逐日下利純臭水。晝夜十數行。乃致口燥唇乾。舌裂如斷。醫者誤按仲景協熱下利法。因與葛根黃連黃芩湯。服之轉劇。邀予診視。乃熱結傍流。急與大承氣一服。去宿糞甚多。色如敗醬。狀如黏膠。臭惡異常。是晚利頓止。次日服清燥湯一劑。脈尚沉。再下之。脈始浮。下證減去。肌表僅存微熱。此應汗解。尚不得汗。然里邪既盡。中氣和平。所以飲食漸進。半月後忽作戰汗方解。蓋緣下利日久。表裡枯燥之極。飲食半月。津液漸回。方得汗。所謂積流而渠自通也。可見脈浮身熱。非汗不解。血燥津枯。非液不汗。昔人以（靈樞營衛生會篇）奪血無汗。今以奪液亦無汗。血液雖殊。枯燥則一也。</p>
<p>質曰。夫液泌於血。血生於飲食。今下利經久飲食不消。血何由生。況血液被熱搏。承氣復下之。宜矣。其不得汗也。</p>

<h2>補瀉兼施與先瀉後補合論</h2>
<p>證本應下。耽閣失治。或為緩藥羈遲。火邪壅閉。耗氣搏血。精神殆盡。邪火獨存。以致循衣摸床。撮空理線。筋惕肉瞤。肢體振戰。目中不了了。皆緣應下失下之咎。邪熱一毫未除。元神將脫。補之則邪毒愈甚。攻之則幾微之氣。不勝其攻。攻不可。補不可。補瀉不及。兩無生理。不得已。勉用陶氏黃龍湯。此證下亦死。不下亦死。與其坐以待斃。莫如含藥而亡。或有回生於萬一者。</p>
<p>質曰。應下而失下。邪盛神奪。凶兆交見。補瀉不及。兩無生理。當此時。用黃龍湯。猶討君側惡。僥倖萬一耳矣。然黃龍之功。畢竟在承氣。如參地當歸。豈暇立功哉。</p>
<p>黃龍湯（陶節庵。傷寒六書方。治心下硬痛。下利純清水。譫語發渴。身熱者。曰是非內寒而利。因燥屎結實。乃下利所飲湯藥也。其意同於長沙。治少陰病。下利清水。云云之證。用大承氣。吳氏治熱結傍流。以大承氣。）</p>
<p>大黃　厚朴　枳實　芒硝　人參　地黃　當歸</p>
<p>照常煎服。</p>
<p>按前證實為庸醫耽閣。及今投劑。補瀉不及。然大虛不補。虛何由以回。大實不瀉。邪何由以去。勉用參地以回虛。承氣以逐實。此補瀉兼施之法也。先瀉後補之法。則純用承氣。下證稍減。神思稍蘇。續得肢體振戰。怔忡驚悸。心內如人將捕之狀。四肢反厥。眩暈鬱冒。項背強直。並前循衣摸床撮空等證。此皆大虛之候。將危之證也。急用人參養榮湯。虛候少退。速可屏去。蓋傷寒溫疫。俱系客邪。為火熱燥證。人參固為益元氣之神品。但偏於益陽。有助火固邪之弊。當此又非良品也。不得已而用之。</p>
<p>質曰。客邪之病。豈可概為熱證也。長沙何為立三陰之目。此吳氏偏一之見。不通之論也。</p>
<p>人參養榮湯</p>
<p>人參　麥冬　遼五味　地黃　歸身　芍藥　知丹　陳皮　甘草</p>
<p>照常煎服。</p>
<p>如人方肉食。而病適來。以致停積在胃。用大小承氣連下。惟是臭水稀糞而已。於承氣湯中。但加人參一味服之。雖三四十日所停之完穀。及完肉。於是方下。蓋承氣藉人參之力。鼓舞胃氣。宿物始動也。</p>
<p>質曰。吳氏勇敢武斷。而反有此精細處。可謂英雄細心矣。</p>

<h2>藥煩</h2>
<p>應下失下。真氣虧微。及投承氣下咽。少項額上汗出。髮根搔癢。邪火上炎。手足厥冷。甚則振戰心煩。坐臥不安。如狂之狀。此中氣素虧。不能勝藥。名為藥煩。凡遇此證。急投薑湯即止。藥中多加生薑煎服。則無此患矣。更宜均兩三次服。以防嘔吐不納。</p>
<p>質曰。此證與狂汗相似。然彼則因邪氣將出於表。稟賦充盛而不得速汗也。此則熱實於胃久之。真氣虧微。不能勝藥也。自有表裡虛實之分。可以辨也。</p>

<h2>停藥</h2>
<p>服承氣。在腹中不行。或次日方行。或半日仍吐原藥。此因病久失下。中氣大虧。不能運藥。名為停藥。乃天無幾絕。大凶之兆也。宜生薑以和藥性。或加人參以助胃氣。更有邪實。病重劑輕。亦令不行。</p>

<h2>虛煩似狂</h2>
<p>時疫坐臥不安。手足不定。臥未穩則起坐。才著坐即亂走。才抽身又欲臥。無有寧刻。或循衣摸床。撮空捻指。師至方診脈。將手縮去。六脈不甚顯。尺脈不至。此平時斫喪。根源虧損。因不勝其邪。元氣不能主持。故煩躁不寧。固非狂證。其危有甚於狂也。法當大補。然有可急下者。或下後厥回。尺脈至煩躁少定。此因邪氣少退。正氣暫復。微陽少伸也。不二時邪氣復聚。前證復起。勿以前下得效。今再下之。速死。急宜峻補。補不及者死。此證表裡無大熱。下證不備者。庶幾可生。闢如城郭空虛。雖殘寇而能直入。戰不可。守不可。其危可知。</p>
<p>質曰。此證脈細數。若大而虛者。共為難治。小便不利。若還失者。膀胱麻痹也。必死。</p>

<h2>神虛譫語</h2>
<p>應下稽遲。血竭氣耗。內熱煩渴譫語。諸下證具。而數下之。渴熱並減。下證悉去。五六日後。譫語不止者。不可以為實。此邪氣去。元神未復。宜清燥養榮湯加辰砂一錢。鄭聲譫語。態度無二。但有虛實之分。不應兩立名色。</p>
<p>質按。長沙曰。夫實則譫語。虛則鄭聲。鄭聲重語也。吳氏曰。鄭聲譫語。態度無二。但有虛實之分。不應兩立名色。何其抝強也。夫重語者。以精神虛憊喜忘故也。為非實證。譫語者。以神識錯亂。妄想故也。為有實又有虛。</p>

<h2>奪氣不語</h2>
<p>時疫下後。氣血俱虛。神思不清。惟向里床睡。似寐非寒。似寤非寤。呼之不應。此正氣奪。與其服藥不當。莫如靜守。虛回而神思自清。語言漸朗。若攻之。脈必反數。四肢漸厥。此虛虛之禍。危在旦夕。凡見此證表裡無大熱者。宜人參養榮湯補之。能食者。自然虛回。前證自除。設不食者。正氣愈奪。虛證轉加。法當峻補。</p>

<h2>老少異治</h2>
<p>三春旱草。得雨滋榮。殘臘枯枝。雖灌不澤。凡年高之人。最已剝削。設投承氣。以一當十。設用參朮。十不抵一。蓋老年榮衛枯澀。幾微之元氣。易耗而難復也。不比少年氣血生機甚捷。其勢浡然。但得邪氣一除。正氣隨復。所以老年慎瀉。少年慎補。何況誤用也。萬有年高稟厚。年少賦薄者。又當從權。勿以常論。</p>
<p>質曰。不曰忌補忌瀉。曰慎補慎瀉。慎字可深味矣。</p>

<h2>妄投破氣藥論</h2>
<p>瘟疫心下脹滿。邪在裡也。若純用青皮枳實檳榔。諸香燥破氣之品。冀其寬脹。此大謬也。不知內壅氣閉。原有主客之分。假令根於七情鬱怒。肝氣上升。飲食過度。胃氣填實。本無外來邪毒客氣相干。止不過自身之氣壅滯。投木香砂仁豆蔻枳殼之類。上升者即降。氣閉者即通。無不見效。今疫毒之氣。傳於胸胃。以致升降之氣不利。因而脹滿。實為客邪。累及本氣。但得客氣一除。本氣自然升降。脹滿立消。若專用破氣之劑。但能破正氣。毒邪何自而泄。脹滿何由而消。治法非用小承氣弗愈。既而腸胃燥結。下既不通。中氣鬱滯。上焦之氣。不能下降。因而充積。即膜原或有未盡之邪。亦無前進之路。於是表裡上中下三焦皆阻。故為痞滿燥實之證。得大承氣一行。所謂一竅通。諸竅皆通。大關通。而百關盡通也。向之所鬱於腸胃之邪。由此而下。腸胃既舒。膜原設有所傳不盡之餘邪。方能到胃乘勢而下也。譬若河道阻塞。前舟既行。余舟連尾而下矣。至是邪結並去。脹滿頓除。皆藉大黃之力。大黃本非破氣藥。以其潤而最降。故能逐邪拔毒。破結導滯。加以枳樸者。不無佐使云爾。若純用破氣之品。津液愈耗。熱結愈固。滯氣無門而出。疫毒無路而泄。乃望其寬胸利膈。惑之甚矣。</p>

<h2>妄投補劑論</h2>
<p>有邪不除。淹纏日久。必至尫羸。庸醫望之。輒用補劑。殊不知無邪不病。邪氣去。正氣得通。何患乎虛之不復也。今投補劑。邪氣益固。正氣日郁。轉郁轉熱。轉熱轉瘦。轉瘦轉補。轉補轉郁。循環不已。乃至骨立而斃。猶言服參幾許。補之不及。天數也。病家止誤一人。醫者終身不悟。</p>
<p>質按。此篇不舉治法者。審於補瀉兼施篇也。</p>

<h2>妄投寒涼藥論</h2>
<p>疫邪結於膜原。與衛氣並固。而晝夜發熱。五更稍減。日晡益甚。此與癉瘧相類。但癉瘧熱短。過時如失。明日至期復熱。今溫疫熱長。十二時中。首尾相接。寅卯之間。乃其熱之首尾也。即二時余焰不清。似乎日夜發熱。且此時也。邪結膜原。氣併為熱。胃本無病。誤用寒涼。妄伐生氣。此其誤者一。及邪傳胃。煩渴口燥。舌乾胎刺。氣噴如火。心腹痞滿。午後潮熱。此應下之證。若用大劑芩連梔蘗。專務清熱。竟不知熱不能自成其熱。皆由邪在胃家。阻礙正氣。鬱而不通。火亦留止。積火成熱。但知火與熱。不知因邪而為火熱。智者必投承氣。逐去其邪。氣行火泄而熱自已。若概用寒涼。何異揚湯止沸。每見今醫。好用黃連解毒湯。黃連瀉心湯。蓋本素問熱淫所勝治以寒涼。（至真要大論。作熱淫所勝。平以鹹寒。）以為聖人之言。必不我欺。況熱病用寒藥。最是捷徑。又何疑乎。每遇熱甚。反指大黃。能泄而損元氣。黃連清熱。且不傷元氣。更無下泄之患。且得病家無有疑慮。守此以為良法。由是凡遇熱證。大劑與之。二三錢不已。增至四五錢。熱又不已。晝夜連進。其病轉劇。至此技窮力竭。反謂事理當然。又見有等（有等即有一等之略語蓋謂有一等甚者也）日久。腹皮貼背。乃調胃承氣證也。況無痞滿。益不敢議承氣。唯類聚寒涼。專務清熱。又思寒涼之最者。莫如黃連。因而再倍之。日近危篤。有邪不除。耽誤至死。猶言服黃連至幾兩。熱不能清。非藥之不到。或言不治之證。或言病者之數也。他日凡遇此證。每每如是。雖父母妻子。不過以此法毒之。蓋不知黃連苦而性滯。寒而氣燥。與大黃均為寒藥。大黃走而不守。黃連守而不走。一燥一潤。一通一塞。相去甚遠。且疫邪。首尾以通行為治。若用黃連。反招閉塞之害。邪毒何由以泄。病根何由以拔。既不知病原。焉能以愈疾耶。</p>
<p>問曰。間有進黃連而得效者。何也。曰。其人正氣素勝。又因所受之邪本微。此不藥自愈之證。醫者誤投溫補。轉補轉郁。轉郁轉熱。此以三分客熱。轉加七分造熱也。客熱者。因客邪所郁。正分之熱也。此非黃連可愈。造熱者。因誤投溫補。正氣轉郁。反致熱極。故續加煩渴不眠譫語等證。此非正分之熱。乃庸醫添造分外之熱也。因投黃連。於是煩渴不眠譫語等證頓去。要之黃連。但可清去七分無邪造熱。又因熱減而正氣即回。所存三分有邪客熱。氣行即已也。醫者不解。遂以為黃連得效。他日藉此。概治客熱。則無效矣。又以昔效而今不效。疑其病原本重。非藥之不到也。執迷不悟。所害更不可勝計矣。</p>
<p>問曰。間有未經溫補之誤。進黃連而疾愈者。何也。曰凡元氣勝病為易治。病勝元氣為難治。元氣勝病者。雖誤治。未必皆死。病勝元氣者。稍誤。未有不死者。此因其人元氣素勝。所感之邪本微。是以正氣有餘。足以勝病也。雖少與黃連。不能抑鬱正氣。此為小逆。以正氣猶勝。而疾幸愈也。醫者不解竊自邀功。他日設遇邪氣勝者。非導邪不能瘳其疾。誤投黃連。反招閉塞之害。未有不危者。</p>
<p>質曰。凡邪氣在於表者。非汗不解。實於胃者。非下不瘥。此二者。芩連梔蘗。不能清其熱也。非寒涼不能治疫熱也。蓋藥各有所主治。譬如桂枝麻黃之一治於太陽。白虎承氣之同證於陽明。桂枝自有桂枝之證。麻黃自有麻黃之證。白虎不能徹胃實之邪焉。承氣不能清在裡之熱結焉。其一於太陽也。同於陽明也。而所主治。各自不同。於芩連梔蘗之清熱。亦猶如此耳。苟審所主治而投之。何藥不奏效。豈獨大黃治疫熱乎哉。吳氏欲痛矯時弊。矯枉而過直也。學者不可不察焉。</p>

<h2>大便</h2>
<p>熱結傍流。協熱下利。大便閉結。大腸膠閉。總之邪在裡。其證不同者。在乎通塞之間耳。</p>
<p>協熱下利者。其人大便素不調。邪氣忽乘於胃。便作煩渴。一如平時泄瀉。稀糞而色不敗。其色但焦黃而已。此伏邪傳裡。不能稽留於胃。至午後潮熱。便作泄瀉。子後熱退。泄瀉亦減。次日不作潮熱。利亦止。為病愈。潮熱未除。利不止者。宜小承氣湯。以徹其餘邪。而利自止。若利止。二三日後。午後忽加煩渴。潮熱下泄。仍如前證。此伏邪未盡。復傳到胃也。治法同前。</p>
<p>質按。吳氏所謂協熱利者。即長沙陽明病。大小承氣之證也。蓋伏邪傳裡。與胃氣協合。而下利之義也。長沙所謂協熱利者。太了病桂枝之證。胃本無邪。由數下之。徒令胃氣虛寒。利下不止。表裡不解也。故以人參湯理中。加桂枝以救表。蓋協與挾通。所謂協熱者。裡寒挾表熱之義也。雖同名協熱。其證乃有虛實之分。不可同日而論。</p>
<p>大便閉結者。疫邪傳裡。內熱壅鬱。宿糞不行。蒸而為結。漸至梗硬。下之結糞一行。瘀熱自除。諸證悉去。</p>
<p>熱結傍流者。以胃家實。內熱壅閉。先大便閉結。續得下利純臭水。全然無糞。日三四度。或十數度。宜大承氣湯。得結糞而利立止。服湯不得結糞。仍下利臭水及所進湯藥。因大腸邪盛。失其傳送之職。知邪猶在也。病必不減。宜更下之。</p>
<p>質曰。熱結傍流者。內熱燥結。傍流下臭水之義也。</p>
<p>大腸膠閉者。其人平素大便不實。設遇疫邪傳裡。但蒸作極臭之物。如黏膠然。至死不結。愈蒸愈閉。以致胃氣不能下行。疫毒無路而出。不下即死。宜大承氣湯下之。但得黏膠一去。下證自除。霍然而愈。</p>
<p>質曰。病同於協熱下利。但有通塞之異而已。</p>
<p>溫疫愈後。三五日。或數日。反腹痛裡急者。非前病原也。此下焦別有伏邪所發。欲作滯下也。發於氣分則為白積。發於血分則為紅積。氣血俱病。紅白相兼。邪盡利止。未止者。宜芍藥湯。（方見前戰汗條。）</p>
<p>質曰。此非特異病源。餘邪不盡者。間亦變為他病也。屢見為滯下瘧疾及腳氣者。蓋其變雖不一。共由余邪未盡。氣血虛耗。腠理易閉塞也。</p>
<p>溫疫愈後。大便數日不行。別無他證。此足三陰不足。以致大腸虛燥。此不可攻。飲食漸加。津液流通。自能潤下也。覺穀道夯（負擔用力也。欲力去也。）悶。宜作蜜煎導。甚則宜六成湯。</p>
<p>質曰。此章宜與病愈結存。及下格篇照見。</p>
<p>病愈後。脈遲細而弱。每至黎明（五更也）或夜半後。便作泄瀉。此命門真陽不足。宜七成湯。或亦有雜證屬實者。宜大黃丸（出於外臺溫病門勞復條）下之立愈。（此證萬中之一耳。）</p>
<p>六成湯</p>
<p>當歸（一錢五分）　白芍藥（一錢）　地黃（五錢）　天門冬（一錢）　肉蓯蓉（三錢）　麥門冬（一錢）</p>
<p>照常煎服。日後更燥者。宜六味丸少減澤瀉。</p>
<p>質按。補足三陰不足。故名六成。六者水成數。即天一生水。地六成之之義也。</p>
<p>七成湯</p>
<p>破故紙（炒錘碎三錢）　熟附子（一錢）　遼五味（八分）　白茯苓（一錢）　人參（一錢）　甘草（炙五分）</p>
<p>照常煎服。愈後更發者。宜八味丸倍加附子。</p>
<p>質按。補命門真陽。故名七成。七者火生數。即天二生火。地七成之之義也。</p>

<h2>小便</h2>
<p>熱到膀胱。小便赤色。邪到膀胱。干於氣分。小便膠濁。（邪從小便分離）干於血分。溺血畜血。留邪欲去。小便數急。膀胱不約。小便自遺。膀胱熱結。小便閉塞。</p>
<p>質曰。吳氏分邪之與熱。而明本之與標。其說極細矣。蓋亦原長沙。長沙黃連湯之條曰。胸中有熱。胃中有邪氣。腹中痛欲嘔吐也。蓋遺尿與尿閉。俱有虛實之分。不可概論也。</p>
<p>熱到膀胱者。其邪在胃。胃熱灼於下焦在膀胱。但有熱而無邪。惟令小便赤色而已。其治在胃。</p>
<p>質曰。傳變不常條云。與導赤散五苓五皮之類。分毫無效者。得大承氣一服。小便如注而愈。可以參考。</p>
<p>邪到膀胱者。乃疫邪分布下焦。膀胱實有之邪。不止於熱也。從胃家來。治在胃。兼治膀胱。若純治膀胱。胃氣乘勢。擁入膀胱。非其治矣。若腸胃無邪。獨小便急數。或白膏如馬遺。（遺者。尿也。漢書東方朔傳。遺殿上。）其治在膀胱。宜豬苓湯。</p>
<p>豬苓湯　邪干氣分者。宜之。</p>
<p>豬苓（二錢）　澤瀉（二錢）　滑石（五錢）　甘草（八分）　木通（一錢）　車前（二錢）</p>
<p>燈心煎服。</p>
<p>桃仁湯　邪乾血分者。宜之。</p>
<p>桃仁（三錢研如泥）　丹皮（一錢）　當歸（一錢）　赤芍（一錢）　阿膠（二錢）　滑石（五錢）</p>
<p>照常煎服。小腹痛。按之硬痛。小便自調者。畜血也。加大黃三錢。甚則抵當湯。藥分三等。（桃仁湯。桃仁加大黃。抵當湯也。）隨其病之輕重而施治。</p>
<p>質曰。小便膠濁。及溺血者。宜長沙豬苓湯。若兼畜血有。宜桃仁湯。劇者大黃牡丹湯。其效優於抵當湯遠矣。</p>

<h2>前後虛實</h2>
<p>病有先虛後實者。宜先補而後瀉。有先實後虛者。宜先瀉而後補。所謂先虛後實者。或因他病先虧。或因年高血弱。或因先有內傷勞倦。或因新產亡血過多。或舊有吐血。及崩漏之證。時疫將發。即觸動舊疾。或吐血。或崩漏。以致亡血過多。然後邪熱漸漸加重。以上並宜先補而後瀉。瀉者謂疏導之劑。並承氣下藥。概而言之也。凡遇先虛後實者。此萬不得已。而投補劑一二帖。後虛證少退。便宜治疫。若補劑連進。必助疫邪。禍害隨至。所謂先實後虛者。疫邪應下失下。血液為熱搏盡。原邪尚在。宜急下之。邪退六七。急宜補之。虛回五六。慎勿再補。多服則邪熱復熾。下後畢竟加添虛證者。方可補。若以意揣度其虛。不見虛證。誤用補劑。貽害不淺。</p>
<p>質曰。此篇示逐機法。宜與乘除。及補瀉兼施篇。為一類見。</p>

<h2>脈厥</h2>
<p>溫疫得里證。神色不敗。言動自如。別無怪證。忽然六脈如絲。微細而軟。甚至於無。或兩手俱無。或一手先伏。察其人。不應有此脈。今有此脈者。皆緣應下失下。內結壅閉。營氣逆於內。不能達於四末。此脈厥也。亦多有過用黃連石膏諸寒之劑。強遏其熱。致邪愈結。脈愈不行者。醫見脈微欲絕。以為陽證得陰脈。為不治。委而棄之。以此誤人甚眾。若更用人參生脈散輩。禍不旋踵宜承氣綬緩下之。六脈自復。</p>
<p>質曰。余每遇此證。輒診脈於尺澤及腋下。必大而實。或滑而數。</p>

<h2>脈證不應</h2>
<p>表證脈應浮。不浮者亦有可汗而解者。以邪氣微。不能牽引正氣。故脈不應。里證脈應沉。不沉者亦有可下而解者。以邪氣微不能抑鬱正氣。故脈不應。陽證見陰脈。有可生者。神色不敗。言動自如。乃稟賦脈也。再問平日無此脈。乃脈厥也。下後脈實。亦有病愈者。但得證減。復有實脈。乃天年脈也。夫脈不可一途而取。須以神氣形色病證。相參以決安危為善。</p>
<p>質曰。夫脈者。以吾之氣。接渠之氣。以我神。揣彼神。得之於心。而應之於手。彼我權衡。以決安危也。吳氏之言。可以為診理要訣矣。古曰。知其要者。一言而達。蓋吳氏之謂夫。</p>
<p>張昆源之室。年六旬。得滯下。後重窘急。日三四十度。脈常歇止。諸醫以為雀啄脈。必死之候。咸不用藥。延予診視。其脈參伍不調。或二動一止。或三動一止而復來。此澀脈也。</p>
<p>質按。此脈近於結若代。豈可以澀名耶。澀反於滑。往來澀滯也。</p>
<p>年高血弱。下利膿血。六脈短澀。固非所能任。詢其飲食不減。形色不變。聲音烈烈。言語如常。非危證也。遂用芍藥湯。加大黃三錢。大下純膿成塊者兩碗許。自覺舒快。脈氣漸續。而利亦止。數年後。又患傷風。咳嗽痰涎湧甚。診之又得前脈。與杏桔湯二劑。嗽止脈調。方知此婦。凡病俱作此脈。大抵治病。務以形色脈脈參考。庶不失其大段。方可定其吉凶也。</p>

<h2>體厥</h2>
<p>陽證陰脈。身冷如冰。為體厥。</p>
<p>施幼聲。賣卜頗行。年四旬。稟賦肥甚。六月患時疫。口燥舌乾。胎刺如鋒。不時太息。咽喉腫痛。心腹脹滿。按之痛甚。渴思冰水。日晡益甚。小便赤澀得涓滴則痛甚。此下證悉備。但通身肌表如冰。指甲青黑。六脈如絲。尋之則有。稍按則無。醫者不究里證熱極。但引陶氏（節庵）全生集。以為陽證。但手足厥逆。若冷過肘膝。便是陰證。今已通身冰冷。此之冷過肘膝。更甚。宜其為陰證。一也。宜陶氏以脈分陰陽二證。全在有力無力中分。今已脈微欲絕。按之如無。比之無力。更甚。宜其為陰證。二也。陰證而得陰脈之至者。復有何說。遂主附子理中湯。未服。延予至。以脈相參。表裡互較。此陽證之最者。下證悉具。但嫌下之晚耳。蓋因內熱之極。氣道壅閉。乃至脈微欲絕。此脈厥也。陽鬱則四肢厥逆。況素稟肥盛。尤易壅閉。今亢陽已極。以至通身冰冷。此體厥也。急投大承氣湯。囑其緩緩下之。脈至厥回。便得生矣。其妻聞一曰陰證。一曰陽證。天地懸隔。疑而不服。更請一醫。指言陰毒。須灸丹田。其兄疊延三醫續至。皆言陰證。乃進附子湯。下咽如火。煩躁頓加。逾時而卒。</p>
<p>質曰。陰證冷過肘膝多死。今至通身冰冷。而不死者。此所謂熱厥也。有白虎證。又有承氣證。長沙曰。脈滑而厥者里有熱也。白虎湯主之。又曰。厥深者。熱亦深。厥當下之。</p>

<h2>乘除</h2>
<p>（算法。添算曰乘。減算曰除。）</p>
<p>病有純虛純實。非補即瀉。何有乘除。設遇既虛且實者。補瀉間用。當詳孰先孰後。從少從多。可緩可急。隨其證而調之。</p>
<p>吳江沈青來之室。少寡。素多鬱怒。而有吐血證。歲三四發。吐後即已。無有他證。蓋不以為意也。三月間。別無他故。忽有小發熱。頭疼身痛。不惡寒而微渴。若惡寒不渴者。乃感冒風寒。今不惡寒微渴者。疫也。至第二日。舊證大發。吐血倍常。更加眩暈。手振煩躁。種種虛躁。飲食不進。且熱漸加重。醫者病者。但見吐血。以為舊證復發。不知其為疫也。故以發熱認為陰虛。頭疼身痛認為血虛。不察未吐血前一日。已有前證。非吐血後所加之證也。諸醫議補。問予可否。余曰。失血補虛權宜則可。蓋吐血者。內有結血。正血不能歸經。所以吐也。結血牢固。豈能吐乎。能去其結。於中無阻。血自歸經。方冀不發。若吐後專補。內則血滿。既滿不能歸。血從上溢也。設用寒涼尤誤。投補劑。亦只顧目前之虛。用參暫效。不能拔去病根。日後又發也。況又兼疫。今非昔比。今夙疾因傷而發。血脫為虛。邪在為實。是虛中有實。如投補劑。始則以實填虛。沾其補益。既而以實填實。災害立至。於是暫用人參二錢。以茯苓歸芍佐之。兩劑後。虛證咸退。熱減六七。醫者病者。皆謂用參得效。均欲連進。余禁之不止。乃恣意續進。便覺心胸煩悶。腹中不和。若有積氣。求噦不得。此氣不時上升。便欲作嘔。心下難過。遍體不舒。終夜不寐。喜按摩槌擊。此皆別加有餘之變證也。所以然者。止有三分之疫。只應三分之熱。適有七分之虛。經絡枯澀。陽氣內陷。故有十分之熱。分而言之。其間是三分實熱。七分虛熱也。向則本氣空虛。不與邪搏。故無有餘之證。但虛不任邪。惟懊憹鬱冒眩暈而已。今投補劑。是以虛證減去。熱減六七。所餘三分之熱者。實熱也。乃是疫邪所致。斷非人參可除者。今再服之。反助疫邪。邪正相搏。故加有餘之變證。因少與承氣。微利之而愈。按此病。設不用利藥。宜靜養數日。亦自愈。以其人大便。一日一行。則知胃氣通行。邪氣在內。日從胃氣下趨。故自愈。間有大便自調而不愈者。內有灣糞隱曲不行。下之得宿糞極臭者。病始愈。設邪未去。恣意投參。邪乃益固。日久不除。醫見形體漸溲。便指為怯證。愈補愈危。死者多矣。</p>
<p>質曰。夫惡寒而不渴者。感冒也。渴而不惡寒者。疫也。在其初宜審焉。蓋惡寒者。為太陽之主讓。渴者。為陽明之主證也。</p>

<h1>卷下</h1>

<h2>雜氣論</h2>
<p>日月星辰。天之有象可睹。水火土石。地之有形可求。昆蟲草木。動植之物可見。寒熱溫涼。四時之氣。往來可覺。至於山嵐瘴氣。嶺南毒霧。鹹得地之濁氣。猶可以察。而惟天地之雜氣。種種不一。亦猶天之有日月星辰。地之有水火土石。氣交之中。有昆蟲草木之不一也。草木有野葛巴豆。星辰有羅計熒惑。（五雜沮。天部曰。金木土水火。五星之外。又有四餘星。一曰紫氣。二曰月孛。三曰羅喉。四曰計都。而羅計二星。人多忌。）昆蟲有毒蛇猛獸。土石有雄硫磠信。萬物各有善惡之不等。是知雜氣之毒亦然。然氣無形可求。無象可見。況無聲復無臭。何能得睹得聞。人惡得而知其氣也。其來無時。其著無方。眾人有觸之者。名隨其氣而為諸病焉。其為病也。或時眾人發頤。或時眾人頭面浮腫。俗名為大頭瘟是也。或時眾人咽痛。或時音啞。俗名為蝦蟆瘟是也。或時眾人瘧痢。或為痹氣。或為痘瘡。或為斑疹。或為瘡疥疔瘇。或時眾人目赤腫痛。或時眾人嘔血暴下。俗名為瓜瓤瘟。探頭瘟是也。或時眾人癭痎。俗名為疙瘩瘟是也。為病種種。難以枚舉。大約病偏於一方。延門合戶。眾人相同。皆時行之氣。即雜氣為病也。為病種種。是知氣之不一也。蓋當其時。適有某氣。專入某臟腑經絡。專發為某病。故眾人之病相同。非關臟腑經絡。或為之證也。不可以年歲四時為拘。蓋非五運六氣。所即定者。是知氣之所至無時也。或發於城市。或發於村落。他處安然無有。是知氣之所著無方也。疫氣者。亦雜氣中之一。但有甚於他氣。故為病頗重。因名之厲氣。雖有多寡不同。然無歲不有。至於瓜瓤瘟。疙瘩瘟。緩者朝發夕死。急者頃刻而亡。此又在諸疫中最重者。幸而幾百年來罕有之。不可以常疫並論也。至於發頤咽痛。目赤斑疹之類。其時村落中。偶有一二人所患者。雖不與眾人等。然考其證。甚合某年某處。眾人所患之病。纖悉相同。治法無異。此即當年之雜氣。但目令所鐘不厚。所患者希少耳。此又不可以眾人無有。斷為非雜氣也。況雜氣為病最多。而舉世皆誤認為六氣。假如誤認為風者。如大麻風鶴膝風。痛風歷節風。老人中風。腸風厲風之類。概用風藥。未嘗一效。實非風也。皆雜氣為病耳。至又誤認為火者。如疔瘡發背癰疽。疳毒氣毒流注。流火丹毒。與夫痘麻斑疹之類。以為痛癢瘡瘍。皆屬心火。投芩連梔柏。未嘗一效。實非火也。亦雜氣之所為耳。至於誤認為暑者。如霍亂吐瀉。瘧痢暴注。腹痛絞腸痧之類。皆誤認為暑。作暑證治之。未嘗一效。與暑何與焉。至於一切雜證。無因而生者。並皆雜氣所成。蓋因雜氣來而不知。感而不覺。惟向風寒暑濕所見之氣求之。既已錯認病原。未免誤投他藥。劉河間作原病式。蓋祖五運六氣。百病皆原於風寒暑濕燥火。謂為病者。無出此六氣。實不知雜氣為病。更多於六氣。六氣有限。現在可測。雜氣無窮。茫然不可測。專務六氣。不言雜氣。豈能包括天下之病與。</p>
<p>質曰。夫疫。役也。眾人均等之謂也。偶有一二人患輕微之證者。以與某年某處眾人所患。其證相同也。直指謂疫。然則時疫與他病。其證相同者。亦可謂非時疫。然其實即疫也。不得不謂之疫。謂疫則違名義。不謂則失其實。於此乎吾常病於病名之無益於治。而或紊其實也。無已則仿長沙。以六經包括萬病歟。</p>

<h2>論氣所傷不同</h2>
<p>所謂雜氣者。雖曰天地之氣。實由方土之氣也。蓋其氣從地而起。有此氣則有是病。譬如所言天地生萬物。然亦由方土之產也。彼植物藉雨露而滋生。動物藉飲食而頤養。必先有是氣。然後有是物。推而廣之。有無限之氣。因有無限之物也。但二五（陰陽五行）之精。未免生剋制化。是以萬物各有宜忌。宜者益而忌者損。損者制也。故萬物各有所制。如貓制鼠。如鼠制象之類。既知以物制物。即知以氣制物矣。以氣制物者。蟹得霧則死。棗得霧則枯之類。此有形之氣。動植之物。皆為所制也。至於無形之氣。偏中於動物者。如牛瘟羊瘟。雞瘟鴨瘟。豈但人疫而已哉。然牛病而羊不病。雞病而鴨不病。人病而禽獸不病。究其所傷不同。因其氣各異也。知其氣各異。故謂之雜氣。夫物者氣之化也。氣者物之變也。知氣可以制物。則知物之可以制氣矣。夫物之可以制氣者。藥物也。如蜒蚰解蜈蚣之毒。貓肉治鼠瘻之潰。此受物之氣以為病。還以物之氣制之。至於受無形雜氣為病。莫知何物之能制矣。惟其不知何物之能制。故勉用汗吐下三法以當之。嗟乎。即三法且不能盡善。況能知物乎。能知以物制氣。一病足有一藥之制病已。不煩君臣佐使。品味加減之勞矣。</p>
<p>質曰。雜氣論。及論氣所傷不同之二篇。是吳氏精神之所匯。猶書之有禹貢洪範。足以觀其學識深高。瘟疫一篇文字蓋自此而出矣。所論辨。雖不脫拗理之習。亦多所發明。格致之功。起於金元諸子遠矣。學者須熟讀精思。必將有大所得也。</p>

<h2>論氣盛衰</h2>
<p>其年疫氣盛行。所患皆重。最能傳染。即童輩皆知其為疫。至於微疫。反覺無有。蓋毒氣所鍾。有厚薄也。其年疫氣衰少。里閭所患者。不過幾人。且不能傳染。時師皆以傷寒為名。不知者固不言疫。知者亦不便言疫。然則何以知其為疫。蓋脈證與盛行之年。所患之證。纖悉相同。至於用藥取效。毫無差別。是以知溫疫。四時皆有。常年不斷。但有多寡輕重耳。疫氣不行之年。亦有微疫。眾人皆以感冒為名。實不知為疫也。設用發散之劑。雖不合病。然亦無大害。疫自愈。實非藥也。即不藥亦自愈。至有稍重者。誤投發散。其害尚淺。若誤用補劑。及寒涼。反成痼疾。不可不辨。</p>

<h2>蛔厥</h2>
<p>疫邪傳裡。應下失下。邪氣盛於內。四肢厥冷。胃熱如沸。蛔動不安。下既不通。必反於上。蛔因嘔出。此常事也。但治其胃。蛔厥自愈。每見醫家。妄引經論。臟寒蛔上入膈。其人當吐蛔。又云。胃中冷必吐蛔之句。便用烏梅丸。或理中安蛔湯。方中乃細辛附子乾薑。桂枝川椒。皆辛熱之品。投之如火上添油。殊不知疫證。表裡上下皆熱。始終從無寒證者。不思現前事理。徒記紙上文辭。以為依經傍注。坦然用之無疑。因此誤人甚眾。</p>
<p>質曰。拘泥文辭。不曉事理。貴耳而賤目者。古今讀書家通弊。不特醫事也。又曰吐死蛔者。屬熱。吐活蛔者。多屬胃寒。死蛔色白。活蛔微紅色。</p>

<h2>呃逆</h2>
<p>胃氣逆則為呃逆。吳中稱為冷呃。以冷為名。遂指為胃寒。不知寒熱皆令呃逆。且不以本證相參。專執俗語為寒。遂投丁茱薑桂。誤人不少。此比執辭害義者。尤為不典。治法各從其本證而消息之。如見白虎證。則投白虎。見承氣證。則投承氣。膈間痰閉。則宜導痰。如果胃寒。丁香柿蒂散宜之。然不若四逆湯功效殊捷。要之但治本證。其呃自止。他可以類推矣。</p>
<p>質曰。呃逆者。膈膜之痙攣也。有虛實之分。宜從本證而治之。概為胃寒誤矣。故吳氏辨駁之。</p>

<h2>似表非表似里非里</h2>
<p>時疫初起。邪氣盤踞於中。表裡阻隔。裡氣滯而為悶。表氣滯而為頭疼身痛。因見頭疼身痛。往往誤認為傷寒表證。因用麻黃桂枝。香蘇葛根敗毒。九味羌活之類。此皆發散之劑。強求其汗。妄耗津液。經氣先傷。邪氣不損。依然發熱。更有邪氣傳裡。表氣不能通於內。必壅於外。每至午後潮熱。熱甚則頭脹痛。熱退則已。此豈表實者耶。以上似表。誤為表證。妄投升散之劑。原邪愈實。火氣上升。頭疼轉甚。須下之。裡氣一通。經氣降而頭疼立止。若果感冒頭疼。無時不痛。為可辨也。且有別證相參。不可一途而取。若汗若下後。脈靜身涼。渾身肢節反加痛甚。一如被杖。一如墜傷。少動則痛苦號呼。此經氣虛營衛行澀也。三四日內。經氣漸回。其痛漸止。雖不藥必自愈。設妄引經論。以為風濕相搏。一身盡痛。不可轉側。遂投疏風勝濕之劑。身痛反劇。以此誤人甚眾。</p>
<p>傷寒傳胃。即便潮熱譫語。下之無辭。今時疫初起。便作潮熱。熱甚亦能譫語。誤認為里證。妄用承氣。是為誅伐無辜。不知伏邪附近於胃。邪未入腑。亦能潮熱。午後熱甚。亦能譫語。不待胃實而後能也。假令常瘧熱甚。亦作譫語。癉瘧不惡寒。但作潮熱。此豈胃實者耶。以上似里證。誤投承氣。裡氣先虛。及邪陷胃。轉見胸腹脹滿。煩渴益甚。病家見勢危篤。以致更醫。醫見與下藥病甚。乃指大黃為砒毒。或投瀉心。或投柴胡枳桔。留邪在胃。變證日增。神脫氣盡而死。向則不應下而反下之。今則應下而反失下。蓋因表裡不明。用藥前後失序之誤。</p>
<p>質按。長沙曰。傷寒不大便六七日。頭痛有熱。小便赤者。與承氣湯。其小便反清者。知不在裡。仍在表也。又曰。解後身疼痛者。宜桂枝加芍藥生薑人參湯。宜參考。</p>

<h2>論食</h2>
<p>時疫有首尾皆能食者。此邪不傳胃。切不可絕其飲食。但不宜過食耳。有愈後數日。微渴微熱。不思食者。此微邪在胃。正氣衰弱。強與之。即為食復。有下後一日便思食。食之有味。當與之。先與米食一小杯。如至茶甌。漸進稀粥。不可盡意。飢則再與。如忽加吞酸。反覺無味。乃胃氣傷也。當停谷一日。胃氣復。復思食也。仍如漸進法。有愈後十數日。脈靜身涼。表裡俱和。但不思飲食者。此中氣不蘇。當與粥飲迎之。得谷後。即思食覺飢。久而不思食者。一法以人參一錢煎湯與之。少引胃氣。忽覺思食。便可勿服。</p>
<p>質曰。論食綿密精緻。自少而多。自稀而稠。秩如有法。嚴不可犯。又調理法曰。多與。早與。遲與。皆非所宜。宜與此篇參考。</p>

<h2>論飲</h2>
<p>煩渴思飲。酌量與之。若引飲過多。自覺水停心下。名停飲。宜四苓散。如大渴思飲冰水及冷飲。無論四時。皆可量與。蓋內熱之極。得冷飲相救甚宜。能飲一升。止與半升。寧使少頃再飲。至於梨汁藕汁。蔗漿西瓜。皆可備不時之需。如不欲飲冷。當易白滾湯與之。乃至不思飲。則知胃和矣。</p>
<p>質按。長沙曰。渴思飲水者。少少與飲之。令胃氣和則愈。又曰。渴欲飲水者。少少與之。但以法救之。又曰。少陰病。渴欲飲水者。少少與之。蓋少少者。不使盡意也。若盡意飲之。必為水逆。甚非法也。吳氏曰。煩渴思飲。酌量與之。又曰。能飲一升。止與半升。仍是長沙之法。</p>
<p>四苓湯</p>
<p>茯苓（二錢）　澤瀉（一錢五分）　豬苓（一錢五分）　陳皮（一錢）</p>
<p>取長流水煎服。古方有五苓散。用桂枝者。以太陽中風。表證未罷。併入膀胱。用四苓以利小便。加桂枝以解表邪。為雙解散。即如少陽並於胃。以大柴胡。合表裡而治之。今人但見小便不利。便用桂枝。何異聾者之聽宮商。胃本無邪。故用白朮以建中。今不用白朮者。疫邪傳胃而渴。白朮性壅。恐以實填實也。加陳皮者。和中利氣也。</p>
<p>質按。吳氏以為桂枝發汗。而其性辛溫。白朮健胃。而其弊壅塞。故共去之。蓋亦惡溫補之偏見。</p>

<h2>損復</h2>
<p>邪傷人也。始而傷氣。繼而傷血。傷肉傷筋傷骨。邪毒既退。始而復氣。繼而復血。復肉復筋復骨。以柔脆者。易損亦易復也。</p>
<p>天傾西北。地陷東南。故男先傷右。女先傷左。及其復也。男先復左。女先復右。以素虧者易損。素實者易復也。</p>
<p>質曰。男女左右之說。漢人拗理之習。吳氏亦不得脫也。</p>
<p>嚴正甫。年三十。時疫後。脈證俱平。飲食漸進。忽然肢體浮腫。別無所苦。此即氣復也。蓋大病後。血未成。氣暴復。血乃氣之依歸。氣無所依。故為浮腫。嗣後飲食漸加。浮腫漸消。若誤投行氣利水藥則謬矣。</p>
<p>張德甫。年二十。患禁口痢。晝夜無度。肢體僅有皮骨。痢雖減。毫不進谷。以人參一錢煎湯。入口不一時。身忽浮腫。如吹氣球速。自後飲食漸進。浮腫漸消。腫間已有肌肉矣。</p>
<p>若大病後。三焦受傷。不能通調水道。下輸膀胱。肢體浮腫。此水氣也。與氣復懸絕。宜金匱腎氣丸。及腎氣煎。若誤用行氣利水藥必劇。凡水氣足冷。肢體常重。氣復足不冷。支體常輕。為異。</p>
<p>質曰。氣復與水腫相似。試以指按之。肌膚從沒。放之從復者。氣復也。須臾復故者。水腫也。久不能復者。虛腫也。此所其不同。瘥後貪食者。多患水腫。蓋氣血未復。特胃氣暴復。易飢而易消。貪食而不止。故未熟之液。滿於一身也。不腫必下利。宜節飲食。自愈。若飲食不進。先自足浮腫。漸及腰腹。色白而光澤。按之如敗瓜者。此由氣血共虛。元氣不能四布也。宜補之。或心下先腫。或小腹先腫者。屬於胃膀胱之衰弱。或由余邪不盡。有虛實之分。共為難治。適有一手俄腫。或一足腫大者。是屬內臟之焮腫。多死。</p>
<p>余桂玉。年四十。時疫後。四肢脫力。竟若癱瘓。數日後。右手始能動。又三日。左手方動。又俞桂岡子室。所患皆然。</p>
<p>質曰。適亦然耳。焉足以為定論。</p>

<h2>標本</h2>
<p>諸竅乃人身之戶牖也。邪自竅而入。未有不由竅而出。經曰。（素問熱論）未入於府者。可汗而已。已入於府者。可下而已。麻徵君。（麻九疇字知幾。從張子和學醫。故詳儒門事親。）復增汗吐下三法。總是導引其邪。從門戶而出。可為治疫之大綱。舍此皆治標云爾。今時疫首尾。一於為熱。獨不言清熱者。蓋因邪而發熱。但能治其邪。不治其熱而熱自已。夫邪之與熱。猶形影相依。形亡而影未有獨存者。若以黃連解毒湯。黃連瀉心湯。純乎類聚寒涼。專務清熱。既無汗吐下之能。焉能使邪從竅而出。是忘其本。徒治其標。何異於小兒捕影。</p>

<h2>行邪伏邪之別</h2>
<p>凡邪所客。有行邪。有伏邪。故治法有難有易。取效有遲有速。所謂行邪者。如正傷寒。始自太陽。或傳陽明。或傳少陽。或自三陽入胃。如行人經由某地。本無根蒂。因其漂浮之勢。病形雖重。若果在經。一汗而解。若果傳胃。一下而愈。藥到便能獲效。所謂伏邪。如溫疫之邪。伏於膜原。如鳥棲巢。如獸藏穴。營衛所不關。藥石所不及。至其發也。邪毒漸張。內侵於府。外淫於經。營衛受傷。諸證漸顯。然後可得而治之。方其浸淫之際。邪毒尚在膜原。此時但可疏利。使伏邪易出。邪毒既離膜原。乃觀其變。待其或出表。或入里。然後可導邪使去。邪盡方愈。初發之時。毒勢漸張。莫之能御。其時不惟不能即瘳。而病證日惟加重。病家見證日增。即欲更醫。醫家不解。亦自驚疑。竟不知先時感受邪甚則病甚。邪微則病微。病之輕重。非關於醫。人之生死。全賴於藥石。故諺曰。傷寒莫治頭。勞怯莫治尾。若果正傷寒。初受於肌表。不過在經之浮邪。一汗即解。何難治之有。此言蓋指溫疫而設也。所以疫邪方張之際。勢不可遏。但使邪毒速離膜原。便是治法全在後段工夫。識得表裡虛實。更詳輕重緩急。投劑不致差謬。如果可以萬舉萬全。即使感受之最重者。按法治之。必無殞命之理。若夫久病枯削。酒色耗竭。耆耄風燭者。此等已是天真幾絕。更加溫疫。自是難支。又不可同日而語矣。</p>
<p>質曰。扁鵲嘗曰。病入骨髓者。雖司命不可如之何。今吳氏曰。即使感受之最深者。按法治之。必無殞命之理。其說可疑。蓋又豪傑氣魄。</p>

<h2>應下諸證</h2>
<p>舌白胎。漸變黃胎。</p>
<p>邪在膜原。舌上白胎。邪在胃家。舌上黃胎。胎老變為沉香色也。白胎未可下。黃胎宜下。</p>
<p>質曰。以下六條。審舌胎。以辨病之輕重。及邪之所著。蓋發明前賢所未言。以為後學之針車也。其功亦鉅矣。</p>
<p>舌黑胎</p>
<p>邪毒在胃。薰騰於上。而生黑胎。有黃胎老而變焦色者。有津液潤澤。作軟黑胎者。有舌上乾燥。作硬黑胎者。下後二三日。黑皮自脫。又有一種舌上俱黑而無胎。此經氣。非下證也。妊娠多見此。陰證亦有此。並非下證。下后里證去。舌尚黑者。胎皮未脫也。不可再下。務在有下證方可下。舌上無胎。況無下證。誤下舌反見離離黑色者危。急當補之。</p>
<p>舌芒刺</p>
<p>熱傷津液。此疫毒之最重者。急當下。老人微疫。無下證。舌上乾燥。易生胎刺。用生脈散。生津潤燥。芒刺自去。</p>
<p>舌裂</p>
<p>日久失下。血液枯極。多有此證。又熱結傍流。日久不治。在下（腸）則津液消亡。在上（胃）則邪火毒熾。亦有此證。急下之。裂自滿。</p>
<p>舌短　舌硬　舌卷</p>
<p>皆邪氣勝。真氣虧。急下之。邪毒去。真氣回。舌自舒。</p>
<p>質曰。舌短舌硬舌卷。此三者。亦有虛實之分。宜審之。</p>
<p>白砂胎</p>
<p>舌上白胎。乾硬如砂皮。一名水晶胎。乃自白胎之時。津液乾燥。邪雖入胃。不能變黃。宜急下之。若白胎潤澤者。邪在膜原也。邪微胎亦微。邪氣盛。胎如積粉滿布。其舌猶未可下。久而胎色不變。別有下證。服三消飲。次早舌即變黃。</p>
<p>唇燥裂　唇焦色　唇口皮起　口臭　鼻孔如煙煤</p>
<p>胃家熱。多有此證。固當下。唇口皮起。仍用別證互較。鼻孔煤黑。疫毒在胃。下之無辭。</p>
<p>質按。唇燥裂。焦色。唇口皮起。此三者。或有不可下者。不可概為下證也。口臭可吐者多。</p>
<p>口燥渴</p>
<p>更有下證者。宜下之。下後邪去胃和。渴自減。若服花粉門冬知母。冀其生津止渴殊謬。若大汗。脈長洪而渴。未可下。宜白虛湯。汗更出。身涼渴止。</p>
<p>目赤　咽乾　氣噴如火　小便赤黑涓滴作痛　小便極臭　揚手擲足　脈沉而數</p>
<p>皆為內熱之極。下之無辭。</p>
<p>質曰。咽乾有虛實之分。宜審之。</p>
<p>潮熱　譫語</p>
<p>邪在胃有此證。宜下。然又有不可下者。詳載似里非里。熱入血室。神虛譫語。三條之下。</p>
<p>善太息</p>
<p>胃家實。呼吸不利。胸膈痞悶。每欲引氣下行。故然。</p>
<p>心下滿　心下高起如塊　心下痛　腹脹滿　腹痛按之愈痛　心下脹痛</p>
<p>以上皆胃家邪實。內結氣閉。宜下之。氣通則已。</p>
<p>頭脹痛</p>
<p>胃家實。氣不下降。下之頭痛立止。若初起頭痛。別無下證者。未可下。</p>
<p>小便閉</p>
<p>大便不通。氣結不舒。大便行。小便立解。誤服行氣利水藥。無益。</p>
<p>大便閉　轉屎氣極臭</p>
<p>更有下證。下之無辭。有血液枯竭者。無表裡證。為虛燥。宜蜜煎導。及膽導。</p>
<p>大腸膠閉　協熱下利　熱結傍流</p>
<p>並宜下。詳見大便條下。</p>
<p>四逆　脈厥　體厥</p>
<p>並屬氣閉。陽氣鬱內。不能四布於外。胃家實也。宜下之。下後反見此證者。為虛脫。宜補。</p>
<p>質曰。以上三章。有陰證。有陽證。又有痧證。有食傷積聚。蛔厥臟厥。宜審之。</p>
<p>發狂</p>
<p>胃家實。陽氣盛也。宜下之。有虛煩似狂。有因欲汗作狂。並詳見本條。忌下。</p>

<h2>應補諸證</h2>
<p>向謂傷寒無補法者。（和劑局方。許洪指南總論說。）蓋傷寒時疫。均是客邪。然傷於寒者。不過風寒。乃天地之正氣。尚嫌其填實。而不可補。今感疫氣者。乃天地之毒氣。補之則壅裹甚毒。邪火愈熾。設誤補之。為害尤甚於傷寒。此言其常也。及言其變。則又有應補者。或日久失下。形神幾脫。或久病先虧。或先受大勞。或老人枯竭。皆當補瀉兼施。設因行而增虛證者。宜急峻補。（虛證散在諸篇。此不再贅）虛證少退。切忌再補。（詳見前虛後實）補後虛證不退。及加變證者危。下後虛證不見。乃意度其虛。輒用補劑。法所大忌。凡用補劑。本日不見佳處。即非應補。蓋人參為益元氣之極品。開胃氣之神丹。下咽之後。其效立見。若用參之後。元氣不回。胃氣不轉者。勿謂人參之功不捷。蓋因投之不當耳。急宜另作主張。若恣意投之。必加變證。加而更投之者死。</p>
<p>質按。吳氏謂。人參下咽。其效立見。是本因下之。元氣暴奪者耳。若夫久虛以漸者。豈得如此效捷耶。</p>

<h2>論陰證世間罕有</h2>
<p>傷寒陰陽二證。方書皆以對待言之。凡論陽證。即繼之以陰證。讀者以為陰陽二證。世間均有之病。所以臨診之際。先將陰陽二證。在於胸次。往來躊躇。最易致誤。甚有不辨脈證。但窺其人。多蓄少艾。（孟子曰。知好色則慕少艾。爾雅云。少艾美好也。）或適在妓家。或房事後得病。或病適至行房。醫問及此。便疑為陰證。殊不知病之將至。雖僧尼寡婦。室女童男。曠夫閹宦。亦皆有之。與房欲何與焉。即使多儲少艾。頻宿娼妓。房事後適病。病適至行房。此際偶值病邪發行。膜原氣壅火鬱。未免發熱。到底終是陽證。與陰證何與焉。況又不知陰證實乃世間罕有之證。而陽證似陰者。何日無之。究甚所。以然者。蓋不論傷寒溫疫。傳入胃家。陽氣內郁。不能外布。即便四逆。所謂陽厥是也。又曰。（傷寒論。厥陰篇。）厥微熱亦微。厥深熱亦深。其厥深者。甚至冷過肘膝。脈沉而微。劇則通身冰冷。脈微欲絕。雖有輕重之分。總之為陽厥。因其觸目皆是。苟不得其要領。於是誤認者良多。況且溫疫每類傷寒。苟不得要領。最易混淆。夫溫疫熱病也。從無感寒。陰自何來。一也。治溫疫數百人。才遇二三正傷寒。二也。及治正傷寒數百人。才遇二三真陰證。三也。前後統論。苟非歷治多人。焉能一見陰證。豈非世間罕有之病耶。觀今傷寒科盛行之醫。歷數年間。或偶得遇一真陰證者有之。由之觀是。又何必才見傷寒。便疑陰證。況多溫疫。又非傷寒者乎。</p>
<p>質按。吳氏所謂溫疫。即長沙陽明病。固無陰證。然因誤汗誤下。陽氣脫者。適有見陰證。</p>

<h2>論陽證似陰</h2>
<p>凡陽厥。手足皆冷。或冷過肘膝。甚至手足指甲皆青黑。劇則遍身冰冷如石。血凝青紫成片。或六脈無力。或脈微欲絕。以上脈證。悉見純陰。猶以為陽證何也。及審內證。氣噴如火。齦爛口臭。煩渴譫語。口燥舌乾。舌胎黃黑。或生芒刺。心腹痞滿。小腹疼痛。小便赤澀。涓滴作痛。非大便燥結。即大腸膠閉。非協熱下利。即熱結傍流。以上內三焦。悉見陽證。所以為陽厥也。粗工不察內多下證。但見表證脈體純陰。誤投溫劑。禍不旋踵。凡陽證似陰證者。溫疫與正傷寒。通有之。其有陰證似陽者。此正傷寒家事。在溫疫。無有此讓。故不附載。（詳見傷寒實錄）溫疫陽證似陰者。始必由膜原。以漸傳裡。先幾日發熱。以後四肢逆冷。傷寒陽證似陰者。始必由陽經。發熱脈浮而數。邪氣自外漸次傳裡。裡氣壅閉。脈體方沉。乃至四肢厥逆。蓋非一日矣。其真陰者。始則惡寒而不發熱。其脈沉細。當即四肢逆冷。急投附子回陽。二三日失治即死。捷要辨法。凡陽證似陰。外寒而內必熱。故小便血赤。以陰證似陽者。格陽之證也。上熱下寒。故小便清白。但以小便赤白為據。以此推之。萬不失一。</p>
<p>質按。長沙曰。病有發熱惡寒者。發於陽也。無熱惡寒者。發於陰也。又曰小便色白者。少陰病形具。吳氏蓋本於此。然是謂其常也。至於言其變有少陰病始得之。反發熱云云之類。不可固執也。</p>

<h2>舍病治藥</h2>
<p>嘗遇微疫。醫者誤進白虎湯數劑。續得四肢厥逆。病勢轉劇。更醫。謬指為陰證。投附子湯病愈。此非治病。實治藥也。雖誤病原。藥則偶中。醫者之庸。病者之福也。蓋病本不藥自愈之證。因連進白虎。寒涼剽悍。抑遏胃氣。以致四肢厥逆。疫邪強伏。故病增劇。今投溫劑。胃氣通行。微邪流散。故愈。若果直中無陽陰證。誤投白虎。一劑立斃。豈容數劑耶。</p>

<h2>舍病治弊</h2>
<p>一人感疫。發熱煩渴。思飲冰水。醫者以為凡病須忌生冷。禁止甚嚴。病者苦索勿與。遂至兩目火迸。咽喉焦燥。不時煙焰上騰。晝夜不寐。目中見鬼無數。病劇苦甚。自謂但得冷飲一滴下咽。雖死無恨。於是乘隙匍匐。竊取井水一盆。置之枕傍。飲一杯頓覺清亮。二杯鬼物潛消。三杯咽喉聲出。四杯筋骨舒暢。飲至六杯。不知盞落枕傍。竟而熟睡。俄而大汗如雨。衣被濕透。脫然而愈。蓋因其人瘦而多火。素稟陽藏。始則加之以熱。經絡枯燥。既而邪氣傳表。不能作正汗而解。誤投升散。則病轉劇。今得冷飲。表裡和潤。所謂除弊便是興利。自然汗解宜矣。更有因食因痰。因寒劑。而致虛陷。疾不愈者。皆當舍病治弊。以此類推。可以應變於無窮矣。</p>

<h2>論輕疫誤治每成痼疾</h2>
<p>凡客邪。皆有輕重之分。惟疫邪感受輕者。人所不識。往往誤治而成痼疾。假令患痢。晝夜無度。水穀不進。人皆知其為痢也。其有感之輕者。晝夜雖行四五度。飲食如常。起居如故。人亦知其輕痢。未嘗誤以他病治之者。憑有積滯耳。至於溫疫感之重者。身熱如火。頭疼身痛。胸腹脹滿。胎刺譫語。斑黃狂躁。人皆知其危疫也。其有感淺者。微有頭疼身痛。午後稍有潮熱。飲食不甚減。但食後或覺脹滿。或覺噁心。脈微數。如是之疫。最易誤認。即醫家素以傷寒溫疫為大病。今因證候不顯。多有不覺其為疫也。且人感疫之際。來而不覺。既感不知。最無憑據。又因所感之氣薄。今發時證不甚現。雖有頭疼身痛。況飲食不絕。力可徒步。又焉得而知其疫也。病人無處追求。每每妄訴病原。醫家不善審察。未免隨情錯認。有如病前適遇小勞。病人不過以此道其根由。醫家不辨是非。便引東垣勞倦傷脾。元氣下陷。乃執甘溫除大熱之句。（脾胃論。飲食勞倦所傷。為熱中論云云。）隨用補中益氣湯。壅補其邪。轉壅轉熱。轉熱轉瘦。轉瘦轉補。多至危殆。或有婦人患此。適逢產後。醫家便認為陰虛發熱。血虛身痛。遂投四物。及地黃丸。泥滯其邪。遷延日久。病邪益固。邀遍女科。無出滋養陰血。屢投不效。復更涼血通瘀。不知原邪仍在。積熱自是不除。日漸虺羸。終成廢痿。凡人未免七情勞郁。醫者不知為疫。乃引丹溪五火相扇之說。（詳于格致餘論。相火之論。）或指為心火上炎。或指為肝火衝擊。惟類聚寒涼。冀其直折。而反凝注其邪。徒傷胃氣。疫邪不去。瘀熱何清。延至骨立而斃。或有宿病淹纏。適逢微疫。未免身痛發熱。醫家病家。同認為病加重。仍用前藥加減。有妨於疫。病益加重。至死不覺者。如是種種。難以盡述。</p>
<p>質曰。凡物微則難辨。大則易知。豈獨疫哉。故曰。能見日月。不足為明。能聞雷霆。不足為聰。此以君子慎其微矣。</p>

<h2>肢體浮腫</h2>
<p>時疫潮熱而渴。舌黃身痛。心下滿悶。腹時痛。脈數。此應下之證也。外有通身。及面目浮腫。喘急不已。小便不利。此疫兼水腫。因三焦壅閉。（妄投破氣藥論云。表裡上中下三焦皆阻。又曰。一竅通。諸竅皆通。大關通。而百關盡通也。）水道不行也。但治其疫。水腫自已。宜小承氣湯。向有單腹脹而後疫者。治在疫。若先年曾患水腫。因疫而發者。治在疫。水腫自愈。病人通身浮腫。下體益甚。臍凸。陰囊及陰莖。腫大色白。小便不利。此水腫也。繼又身大熱。午後益甚。燥渴。心下滿悶。喘急。大便不調。此又加疫也。因下之。下後脹不除。反加腹滿。宜承氣加甘遂二分。弱人量減。蓋先腫脹。續得時疫。此水腫兼疫。大水在表。微疫在裡也。故並治之。時疫愈後數日。先自足浮腫。小便不利。腫漸至心腹而喘。此水氣也。宜治在水。時疫愈後數日。先自足浮腫。小便如常。雖通身浮腫而不喘。別無所苦。此氣復也。蓋血乃氣之依歸。氣先血而生。無所歸。故暫浮腫。但靜養節飲食。不藥自愈。時疫身體羸弱。言不足以聽。氣不足以息。得下證。少與承氣。下證稍減。更與之。眩暈欲死。蓋力不足以勝也。絕谷期月。稍補則心腹滿悶。攻不可。補不可。守之則元氣不鼓。餘邪沉匿膜原。日惟水飲而已。以後心腹忽加壅滿。煩冤者。向來沉匿之邪。方悉分傳於表裡也。宜承氣養榮湯。一服病已。設表腫未除。宜微汗之。自愈。時疫得里證失下。以致面目浮腫。及肢體微腫。小便自利。此表裡氣滯。非兼水腫也。宜承氣下之。裡氣一疏。表氣一順。浮腫頓除。或見絕谷期月。指為脾虛發腫。誤補必劇。妊娠更多此證。治法同前。則子母俱安。但當少與。慎無過劑。（共七法）</p>

<h2>服寒劑反熱</h2>
<p>陽氣通行。溫養百骸。陽氣壅閉。鬱而為熱。且夫人身之火。無處不有。無時不在。但喜通達耳。不論臟腑經絡。表裡上下。血分氣分。一有所阻。即便發熱。是知百病發熱。皆由於壅鬱。而火鬱又根於氣。氣常靈而火不靈。火不能自運。賴氣為之運。所以氣升火亦升。氣降火亦降。氣行火亦行。氣若阻滯。則火屈曲。惟是屈曲。熱斯發矣。是氣為火之舟楫也。今疫邪透出於膜原。氣為之阻。時欲到胃。是求伸而未能遽達也。今投寒劑。抑遏胃氣。氣益不伸。火更屈曲。所以反熱也。往往服芩連知藥之類。病人自覺反熱。其間偶有靈變者。但言我非黃連證。亦不知其何故也。終以寒涼清熱。熱不能清。竟置弗疑。服之反熱。全然不悟。雖至白首。終不究心悲夫。</p>

<h2>知一</h2>
<p>邪之著人。如飲酒然。凡人醉則脈必洪數。氣高身熱。面目俱赤。乃其常也。及言其變。各自不同。有醉後妄言妄動。醒後全然不知者。有雖沉醉而神思終不亂者。有醉後應面赤而反刮白者。應委弱而反剛強者。應壯熱而反惡寒而戰慄者。有易醉而易醒者。有難醉而難醒者。有發呼欠及嚏噴者。有頭眩眼花及頭疼者。態度百出。總因其氣血虛實之不同。臟腑稟賦之各異。更兼過飲小飲之別。考其情狀。各自不同。至於醉酒則一也。及醒諸熊如失。凡人受疫邪。始則晝夜發熱。日晡益甚。頭疼身痛。舌上自胎。漸加煩渴。乃眾人之常也。及言其變。則各自不同。或純純發熱。或發熱而兼凜凜。或先凜凜而後發熱。或以後漸漸寒少而熱多。以至純熱者。或晝夜發熱者。或但潮熱。余時稍緩者。或嘔或吐。或咽喉乾燥。或痰涎湧甚者。有從外解者。或戰汗。或狂汗。或自汗。或盜汗。或發斑。有從內傳者。或胸膈痞悶。或心腹脹滿。或心痛腹痛。或胸脅痛。或大便不通。或前後癃閉。或協熱下利。或熱結傍流。有黃胎黑胎者。有口燥舌裂者。有舌生芒刺。舌色紫赤者。有鼻孔如煙煤者。有發黃發疹。及蓄血。吐血衄血。大小便血。汗血嗽血。齒衄血。有發頤疙瘩瘡者。有首尾能食者。有絕谷一兩月者。有漸消者。有無故善反復者。有愈後漸加飲食如舊者。有愈後飲食勝常二三倍者。有愈後退爪脫髮者。至論惡證。口禁不能張。昏迷不識人。足屈不能伸。唇口不住牽動。手足不住振戰。直視圓睜。目瞑上視。口張聲啞。舌強舌短。遺尿遺糞。項強發痙。手足俱痙。筋惕肉瞤。循衣摸床。撮空理線等證。種種不同。因其氣血虛實之不同。臟腑稟賦之有異。更兼感重感輕之別。考其證候。各自不同。至受邪則一也。及邪盡諸證如失。所謂知其一萬事畢。（莊子云。通於一而萬事畢。）知其要者。一言而終。不知其要者。流散無窮。（素問。至真要大論語。）此之謂也。</p>
<p>以上止舉一氣因人而變。至有歲氣稍有不同者。有其年眾人皆從自汗而解者。更有其年眾人皆從戰汗而解者。此又因氣而變。餘證大同小異。皆疫氣也。至又雜氣為病。一氣自成一病。每病各又因人而變。推而言之。其變不可勝言。醫者能通其變。方為盡善。</p>

<h2>四損不可正治</h2>
<p>凡人大勞大欲。及大病久病後。氣血兩虛。陰陽並竭。名為四損。當此之際。忽又加疫。邪氣雖輕。併為難治。以正氣先虧。邪氣日陷。故諺有云。傷寒偏死下虛人。（陶節庵。傷寒全成集。）正謂此也。蓋正氣不勝者。氣不足以息。言不足以聽。或欲言而不能。感邪雖重。反無脹滿痞塞之證。誤用承氣。不劇即死。以正氣愈損。邪氣愈伏也。若真血不足者。面色萎黃。唇口刮白。或因吐血崩漏。或因產後亡血過多。或因腸風藏毒所致。感邪雖重。面目反無陽色。誤用承氣速死。以營血愈消。邪氣益加沉匿也。若真陽不足者。或四肢厥逆。或下利清穀。肌體惡寒。恆多泄瀉。至夜益甚。或口鼻冷氣。感邪雖重。反無發熱燥渴胎刺等證。誤用承氣。陽氣愈消。陰凝不化。邪氣留而不行。輕則漸加委頓。（挫傷折壞也）重則下咽直斃。若真陰不足者。自然五液乾枯。肌膚甲錯。感邪雖重。應汗無汗。應厥不厥。誤用承氣。病益加重。以津液枯涸。邪氣澀滯。無能輸泄也。</p>
<p>凡遇此等。不可以常法正治。當從其損而調之。調之不愈者。稍以常法治之。治之不及者。損之至也。是故一損二損輕者。或可挽回。重者治之無益。乃至三損四損。雖盧扁（扁鵲。人稱之盧醫。）亦無所施矣。以枯魄獨存。化源已絕。不復滋生矣。</p>
<p>勞復　食復　自復</p>
<p>疫邪已退。脈證俱平。但元氣未復。或因梳洗沐浴。或因多言妄動。遂至發熱前證復起。惟脈不沉為辨。此為勞復。蓋氣為火之舟楫。今則真氣方長。勞而復折。真氣既虧。火亦不前。如人慾濟。舟楫已壞。其可渡乎。是火也。某經氣陷。則火隨陷於某經。陷於經絡。則為表熱。陷於臟腑。則為裡熱。虛甚熱甚。虛微熱微。治法輕則靜養可復。重則大補氣血。候真氣一回。血脈融和。表裡通暢。所陷之火。隨氣輸泄。自然熱退。而前證自除矣。若誤用承氣及寒涼剝削之劑。變證蜂起。卒至殞命。宜服安神養血湯。若因飲食所傷者。或吞酸作噯。或心腹滿悶而加熱。此名食復。輕則損谷自愈。重則消導方愈。若無故自復者。以伏邪未盡。此名自復。當問前得某證。所發亦某證。稍與前藥。以撤其餘邪。自然獲愈。</p>
<p>安神養血湯</p>
<p>茯苓　棗仁　當歸　遠志　桔梗　芍藥　地黃　陳皮　甘草　</p>
<p>加龍眼肉。水煎服。</p>

<h2>感冒兼疫</h2>
<p>疫邪伏而未發。因感冒風寒。觸動疫邪。相繼而發。既有感冒之因。由復有風寒之脈證。先投發散。一汗而解。一二日。續得頭疼身痛。潮熱煩渴。不惡寒。此風寒去。疫邪發也。以疫法治之。</p>

<h2>瘧疫兼證</h2>
<p>瘧疾二三發。或七八發後。忽然晝夜發熱。煩渴不惡寒。舌上胎刺。心腹痞滿。飲食不進。下證漸具。此溫疫著。瘧疾隱也。以疫法治之。溫疫晝夜純熱。心腹痞滿。飲食不進。下後脈靜身涼。或間日。或每日。時惡寒。而後發熱如期者。此溫疫解。瘧邪未盡也。以瘧法治之。</p>

<h2>溫瘧</h2>
<p>凡瘧者。寒熱如期而發。余時脈靜身涼。此常瘧也。以瘧法治之。設傳胃者。必現里證。名為溫瘧。以疫法治者生。以瘧法治者死。里證者下證也。下后里證除。寒熱獨存者。是瘟疫減。瘧證在也。瘧邪未去者。宜疏。邪去而瘧勢在者。宜截。瘧勢在而挾虛者。宜補。疏以清脾飲。截以不二飲。補以四君子。方見瘧門。仍恐雜亂。此不附載。</p>

<h2>疫痢兼證</h2>
<p>下痢膿血。更加發熱而渴。心腹痞滿。嘔而不食。此疫痢兼證。最為危急。夫疫者。胃家事也。蓋疫邪傳胃。十常八九。既傳入胃。必從下解。疫邪不能自出。必借大腸之氣傳送而下。而疫方愈。夫痢者。大腸內事也。大腸既病。失其傳送之職。故正糞不行。純乎下痢膿血而已。所以向來穀食。停積在胃。直須大腸邪氣退。而胃氣通行。正糞方能自此而下。今大腸失職。正糞尚自不行。又何能與胃載毒而出。毒氣既不前。羈留在胃。敗壞真氣。在胃一日。有一日之害。一時。有一時之害。耗氣搏血。神脫氣盡而死。凡遇疫痢兼證者。治在痢尤為吃緊。疫痢俱急者。宜檳芍順氣湯。誠為一舉兩得。</p>
<p>檳芍順氣湯　專治下痢頻數。裡急後重。兼舌胎黃。得疫之裡證者。</p>
<p>檳榔　芍藥　枳實　厚朴　大黃</p>
<p>生薑煎服。</p>
<p>質曰。裡急者。腹裡急痛之略也。後重者。肛重也。戰國策云。寧為雞口。不為牛後。後讀為肛。可徵。言穀道夯悶。如重墜也。長沙謂之下重。蓋以穀道焮腫。令然也。</p>

<h2>婦人時疫</h2>
<p>婦人傷寒時疫。與男子無二。惟經水適斷適來。及崩漏產後。與男子稍有不同。夫經水之來。乃諸經血滿。歸注於血室。下泄為月水。血室者。一名血海。即衝任脈也。為諸經之總任。經水適來。疫邪不入於胃。乘勢入於血室。故夜發熱譫語。蓋衛氣晝行於陽。不與陰爭。故晝則明瞭。夜行於陰。與邪相搏。故夜則發熱譫語。至夜止發熱而不譫語者。亦為熱入血室。因有輕重之分。不必拘於譫語也。經曰。無犯胃氣及上二焦。必愈。蓋言胸膈並胃無邪。勿以譫語為胃實而妄攻之。但熱隨血下。故自愈。若有如結胸狀者。血因邪結也。當刺期門以通其結。以柴胡湯治之。不若刺者功捷。經水適斷。血室空虛。其邪乘勢傳入。邪勝正虧。經氣不振。不能鼓散其邪。為難治。且不從血泄。邪氣何由即解。與適來者。有血虛血實之分。宜柴胡養榮湯。新產亡血過多。衝任空虛。與夫素善崩漏經氣久虛。皆能受邪。與經水適斷同法。</p>
<p>質曰。吳氏以血室。為任衝脈者。非也。按金匱。大黃甘遂湯條曰。婦人小腹滿。如敦（音對。盛黍稷器。上狹下豐。鏤以波文。）狀。是生後者。水與血俱結在血室。可見血室即子宮矣。夫月三十日而為盈虛。經亦三十日而滿損。上應於月。故謂之月水。素問云。地有十二經水。人有十二經脈。又云。女子二七天癸通。經水始下。七七陰道絕。經水斷矣。蓋癸為水。故謂之經水也。夫婦人與男子不同者。不特有經水之變。崩漏產後之異也。蓋以其筋脈軟弱。經氣不奮。不能鼓散其邪而速使分離。動過期為壞證。醫務在促分離也。經水適來適斷者。不止所謂熱入血室之證。多變不食病。吐涎腥臭。連綿不止。或胸膈煩悶。或咽喉窒塞。頸項強急。眼花耳罄。身熱不去。小便赤少。或喜怒如狂。或懵昧如癡。是皆邪氣未盡。更加子宮之病也。其治在子宮。兼治胃。荏苒不愈。已經二旬者。雖熱除而脈遲。肌肉不消。色脈不亂。為難治。若至吐清冷透徹。狀如牛涎。不可抱斷之物。雖司命不可如之何矣。期門穴。在乳下一寸五分。刺之勿使針直立。恐傷肋膜也。須以指頭。撮起肌肉。循其脈理而斜刺之。針入一二分。見血即效矣。凡熱病之可刺者。其證雖多端。要之熱實而無汗者。是由其氣血凝泣。或運行太過也。不論證之表裡。不問脈之虛實。須放尺澤而去血。是達其鬱也。其鬱一達。正氣得從而暢。汗出而熱減。邪氣從此而衰。藥亦易取效。至期劃然愈。必不可少之術也。去血多少。雖隨其人之虛實。率以六十錢為準。多則虛難復。少則邪不衰。邪實勢急。血虛病緩。緩者易治。急者難救。與其少寧多。</p>

<h2>妊娠時疫</h2>
<p>孕婦時疫。設應用三承氣湯。須隨證施治。慎毋惑干參朮安胎之說。病家見用承氣。先自驚疑。或更左右嘈雜。必致醫者掣肘。為子母大不祥。若應下之證。反用補劑。邪火壅鬱。熱毒愈熾。胎愈不安。耗氣搏血。胞胎何賴。是以古人有懸鐘之喻。（王慈溪。明醫雜著。婦人半產論。）梁腐而鍾未有不落者。惟用承氣。逐去其邪。火毒消散。炎熇頓為清涼。氣回而胎自固。用當其證。反見大黃。為安胎之聖藥。歷治歷當。子母俱安。若腹痛如錐。腰痛如折。此時將墮。欲墮之候。服藥亦無及矣。雖投承氣。但可愈疾而全母。昧者以為因服承氣胎墮。必反咎於醫也。或詰其故。余曰。結糞瘀熱。腸胃間事也。胎附於脊。胃腸之外。子宮內事也。藥先到胃。瘀熱才通。胎氣始得舒養。是以興利除害於頃刻之間。何慮之有。但投藥之際。病衰七八。餘邪自愈。慎勿過劑耳。</p>
<p>凡孕婦時疫。萬一有四損者。不可正治。當從其損而調之。產後同法。非其損而誤補必死。（四損詳見前應補諸證條後）</p>

<h2>小兒時疫</h2>
<p>凡小兒感冒風寒瘧痢等證。人所易知。一感時疫。人所難窺。以致錯誤者多。蓋由幼科專於痘疹吐瀉驚疳。並諸雜證。在傷寒時疫。則略而未當究心。一也。古人稱幼科為啞科。蓋小兒不能盡罄所苦以告師。師又安能悉乎問切之義。所以但知其身熱。不知其頭疼身痛也。但知不思乳食。心胸膨脹。疑其內傷乳食。安知其疫邪傳胃也。但見嘔吐噁心口渴下利。以小兒吐瀉為常事。又安知其協熱下利也。凡此何暇致思為時疫。二也。小兒賦質嬌怯。筋骨柔脆。一染時疫。延挨（負重也）失治。即便二目上吊。不時驚搐。肢體發痙。十指鉤曲。甚則角弓反張。必延幼科。正合渠平日學習見聞之證。多誤認為慢驚風。遂投抱龍丸。竭盡驚風之劑。轉治轉劇。因見不啼不語。又將神門（手少陰心經。在掌後兌骨端。動脈陷中。主小兒驚癇。）眉心（證治準繩。小兒急驚。灸兩眉心。及人中。）亂灸。艾火雖微。內攻甚急。兩陽相搏。如火加油。紅爐添炭。死者不可勝計。深為痛憫。今凡遇疫毒流行。大人皆染。小兒豈獨不染耶。所受之邪雖一。但因其氣血筋骨柔脆。故所現之證為異耳。務宜求邪以治。故用藥與大人彷彿。凡五六歲以上者。藥當減半。二三歲者。四分之一可也。又腸胃柔脆。少有差誤。為禍更速。臨證尤宜加慎。</p>
<p>小兒太極丸</p>
<p>天竺黃（五錢今真物希以蝲蛄石代用。）　膽星（五錢）　大黃（三錢）　麝香（三分）　冰片（三分）　殭蠶（三錢）</p>
<p>上為細末。端午日。午時修合。糯米飯杵為丸。如芡實。硃砂為衣。凡遇疫證。薑湯化下一丸神效。</p>

<h2>主客交渾為痼疾</h2>
<p>凡人向有他病尫羸。或久瘧。或內傷瘀血。或吐血便血咳血。男子遺精白濁。精氣枯涸。女人崩漏帶下。血枯經閉之類。以致肌肉消爍。虛火獨存。故脈近於數。此際稍感疫氣。醫家病家。見其穀食暴絕。更加胸膈痞悶。身疼發熱。徹夜不寐。指為原病加重。誤以絕谷為脾虛。以身痛為血虛。以不寐為神虛。遂投參朮歸地神茯棗仁之類。愈進愈危。知者稍以疫法治之。發熱減半。不時得睡。穀食稍進。但數脈身熱不去。肢體時疼。胸脅錐痛。過期不愈。醫以雜藥頻試。補之則邪火愈熾。瀉之則損脾壞胃。滋之則膠邪愈固。散之則經絡益虛。疏之則精氣愈耗。守之則日消近死。蓋但知其伏邪已潰。表裡分傳。不知里證雖除。正氣衰微。不能托出表邪。表邪留而不去。因與血脈合而為一。結為痼疾也。肢體時疼者。邪與榮氣搏也。脈數身熱不去者。邪火併郁也。脅下錐痛者。火邪結於膈膜也。過期不愈者。凡疫邪交卸。近在一七。遠在二七。甚至三七。過此不愈者。因失其治。不為壞證。即為痼疾也。夫痼疾者。所謂客邪膠固於血脈。主客交渾。最難得解。久而愈固。治法當乘其大肉未消。真元未敗。急用三甲散。多有得生者。更附加減法。隨其平素而調之。</p>
<p>三甲散</p>
<p>鱉甲　龜甲（並用酥炙黃為末各一錢如無酥各以醋炒代之）　川山甲（土炒黃為末五分）　蟬退（洗淨炙乾五分）　殭蠶（白硬者切斷生用五分）　牡蠣（煅為末五分咽燥者斟酌用）　䗪蟲（三個乾者劈碎鮮者搗爛和酒少許取汁入湯藥同服其渣入諸藥同煎）　白芍藥（酒炒七分）　當歸（五分）　甘草（三分）</p>
<p>水二鍾。煎八分。瀝渣溫服。若素有老瘧。或癉瘧者。加牛膝一錢。何首烏一錢。胃弱欲作瀉者。宜九蒸九曬。若素有郁痰者。加貝母一錢。有老痰者。加瓜蔞霜五分。善嘔者勿用。若咽乾作癢者。加花粉知母各五分。若素燥嗽者。加杏仁搗爛一錢五分。若素有內傷瘀血者。倍䗪蟲。若無。以乾漆炒。煙盡為度。研末五分。及桃仁搗爛一錢代之。服後病減半勿服。當盡調理法。</p>

<h2>調理法</h2>
<p>凡人胃氣強盛。可飢可飽。若久病之後。胃氣薄弱。最難調理。蓋胃體如灶。胃氣如火。穀食如薪。合水穀之精微。升散為血脈者。如焰。其糟粕下轉為糞者如燼。是以灶大則薪多火盛。薪斷而余焰猶存。雖薪後續而火亦燃。若些小鐺釜。只宜薪數莖。稍多則壅滅。稍斷則火絕矣。死灰而求復燃。不亦難乎。若夫大病之後。客邪新去。胃口方開。幾微之氣。所當接續。多與。早與。遲與。皆非所宜。宜先與粥飲。次糊飲。次糜粥。次軟飯。循序漸進。先後勿失其時。當設爐火。晝夜勿令斷絕。以備不時之用。思谷即與。稍緩則胃飢如灼。再緩則胃氣傷。反不思食矣。既不思食。若照前與之。雖食而弗化。弗化則傷而又傷。若幸不為食復者。當如初進法。若更多與。及食黏硬之物。胃氣壅甚。必脹滿難支。氣絕谷存。乃至反復顛倒。形神俱脫而死矣。</p>
<p>質曰。氣絕谷存者。長沙所謂除中之證也。</p>

<h2>統論疫有九傳治法</h2>
<p>夫疫之傳有九。然亦不出乎表裡之間而已矣。所謂九傳者。病人各得其一。非謂一病人而有九傳也。蓋溫疫之來。邪自口鼻而感。入於膜原。伏而未發。不知不覺。已發之後。漸加發熱。脈洪而數。此眾所同。宜達原飲疏之。繼而邪氣一離膜原。察其傳變。眾人有不同者。以其表裡各異耳。有但表而不里者。有但里而不表者。有表而再表者。有里而再里者。有表裡分傳者。有表裡分傳而再分傳者。有表勝於里者。有里勝於表者。有先表而後里者。有先里而後表者。凡此九傳。其病則一。醫者不知九傳之法。不知邪之所在。如盲者之不任杖。聾者之聽宮商。無音可求。無路可適。未免當汗不汗。當下不下。或顛倒誤用。或尋枝摘葉。但治其證。不治其邪。同歸於誤一也。</p>
<p>所言但表而不里者。其證頭疼身痛。發熱而復凜凜。內無胸滿腹脹等證。穀食不絕。不煩不渴。此邪外傳。由肌表而出。或自斑消。或從汗解。斑則有斑疹。桃花斑。紫雲斑之殊。汗則有自汗。溢汗。狂汗。戰汗之異。此邪氣使然。不必較論。但求得汗得斑為愈。凡自外傳者為順。勿藥亦能自愈。間有汗出不徹而熱不退者。宜白虎湯。斑出不透而熱不退者。宜舉斑湯。有斑汗並行而愈者。若斑出不透。汗出不徹。而熱不除者。宜白虎合舉斑湯。</p>
<p>間有表而再表者。邪發未盡。膜原仍有隱伏之邪。或二三日後。四五日後。依前發熱。脈洪而數。及其解也。斑者仍斑。汗者仍汗而愈。未愈者。仍如前法治之。然亦希有至於三表者。</p>
<p>若但里而不表者。外無頭疼身痛。繼而亦無三斑四汗。惟胸膈痞悶。欲吐不吐。雖得少吐而不快。此邪傳裡之上。宜瓜蒂散吐之。邪從吐減。邪盡病已。若邪傳裡之中下者。心腹脹滿。不嘔不吐。或大便燥結。或熱結傍流。或協熱下利。或大腸膠閉。並宜承氣輩導去其邪。邪減病減。邪盡病已。上中下皆病者。不可吐。吐之為逆。但宜承氣導之。則在上之邪。順流而下。嘔吐立止。脹滿漸除矣。</p>
<p>有里而再里者。愈後二三日。或四五日。前證復發。在上者仍吐之。在下者仍下之。再里者常有。三里者希有也。雖有上中下之分。皆為里證。</p>
<p>有表裡分傳者。始則邪氣伏於膜原。膜原者。即半表半裡也。此傳法以邪氣平分。半入於裡。則現里證。半出於表。則現表證。此溫家之常事。然表裡俱病。內外壅閉。既不得汗。復不得下。不可汗而強求其汗。必不可得。宜承氣先通其里。里邪既去。則裡氣通。中氣方能達表。曏者鬱於肌肉之邪。乘勢盡發於肌表。或斑或汗。宜隨其勢而升泄之。諸證悉去。既無表裡證。而熱不退者。膜原尚有未盡之邪也。宜三消飲調之。</p>
<p>有表裡分傳而再分傳者。宜三消飲。復汗復下而愈。此亦常事。至三發者。亦希有之也。</p>
<p>有表勝於里者。傳表之邪多。傳裡之邪少也。當治其表。里證兼之。</p>
<p>有里勝於表者。里證多而表證少也。但治其里。表證自愈。</p>
<p>有先表而後里者。宜達原飲。有現三陽經證者。當用三陽加法。後脈洪大而數。汗出而渴者。是邪離膜原。未能出表也。宜白虎湯。邪從汗解。脈靜身涼而愈。愈後二三日。或四五日。依前發熱。宜達原飲。後加胸滿腹脹。不思穀食。煩渴舌上胎刺等證。加大黃微利之。邪久而不去。在上者。宜瓜蒂散吐之。在中下者。宜承氣導之。</p>
<p>有先里而後表者。始則發熱。漸加里證。下之裡證除。二三日內復發熱。反加頭疼身痛脈浮者。宜白虎湯汗之。服湯後不得汗者。因精液枯竭也。加人參溫覆則汗解。</p>
<p>若大下後。若大汗後。表裡之證悉去。繼而一身盡痛。身如被杖。甚則不可反側。周身骨寒而痛。非表證也。勿汗之。經氣漸回。身痛自愈。（詳在似表非表證）</p>
<p>凡疫邪再表再里。或再表裡分傳者。醫家不解。反責病家不善調理。以致反復。病家不解。每咎醫家用藥有誤。致病復起。彼此歸咎。胥失之矣。殊不知病勢之所當然。絕非醫家病家之過。以膜原伏邪未盡故也。但得病者精神完固。雖再三反復。可以隨復隨治而愈。惟虛怯者。不宜耳。</p>
<p>間有延挨失治。或治之不得其法。熱證日久不除。精神耗竭。嗣後更醫。投承氣。但將現在之邪拔去。因而得效。殊不知膜原尚有伏邪。一二日內。前證復起。反加循衣摸床。神思昏憒。目中不了了等證。且脈氣漸萎。大凶之兆也。病家不咎於前醫擔誤時日。反咎於後醫既生之。而又殺之。良可嘆也。當此之際。攻之則元氣幾微。是求速死。補之則邪火益熾。精氣愈耗。守之則正不勝邪。必無生理矣。</p>

<h2>正名</h2>
<p>傷寒論曰。發熱而渴。不惡寒者。為溫病。後人省氵加疒為瘟。即溫也。如病證之證。後人省文作證。嗣後省言加疒為症。又如滯下。古人為下利膿血。蓋以瀉為下利。後人加疒為痢。要之。古無瘟痢症三字。蓋後人之自為變易耳。不可因易其文。以溫瘟為兩病。各指受病之原。乃指冬之伏寒至春夏發。為溫熱。又以非時之暖。為溫疫。果爾。又當異證異脈。不然臨治之際。何以知受病之原不同也。設使脈證不同病原各異。又當另立方論治法。今脈證無異。然則方論治法。又何立哉。枝節愈繁。而正意愈亂。學者未免有多歧之惑。夫溫者熱之始。熱者溫之終。溫熱首尾一體。熱病即溫病也。又名疫者。以其延門合戶。如徭役之役。眾人均等之謂也。今省文作殳。加疒為疫。又為時疫時氣者。因其感時行戾氣所發也。因其惡厲。又謂之疫厲。終於得汗而解。故燕冀名為汗病。此外又有風溫濕溫。即溫病夾外感之兼證。名各不同。究其病則一。第近世稱疫者眾。仍用溫字者。弗遺其言也。後以傷寒例。及諸家所議。凡有關於溫疫。其中多有誤者。恐致惑於來學。悉採以正焉。</p>
<p>質曰。吳氏謂溫者熱之始。熱者溫之終。溫熱首尾一體。熱病即溫病也。是猶謂兒者翁之始。翁者兒之終。翁兒一人。翁即兒也。使人噴飯。</p>

<h2>傷寒例正誤</h2>
<p>陰陽大論云。春氣溫和。夏氣暑熱。秋氣清涼。冬氣冷冽。此則四時正氣之序也。冬時嚴寒萬類深藏。君子固密。則不傷於寒。觸冒之者。乃名傷寒耳。其傷於四時之氣。皆能為病。以傷寒為毒者。以其最成殺厲之氣也。中而即病者。名曰傷寒。不即病者。寒毒藏於肌膚。至春變為溫病。至夏變為暑病。暑病者。熱極重於溫也。</p>
<p>成（成無己。金聊攝人。初注傷寒論。）注。內經曰。先夏至為溫病。後夏至為暑病。溫暑之病。本於傷寒而得之。</p>
<p>按十二經絡。與夫奇經八脈。無非營衛氣血。周布一身而營養百骸。是以天真元氣。無往不在。不在則麻木不仁。造化之機。無刻不運。不運則顛倒僕絕。風寒暑濕之邪。與吾身之營衛。勢不兩立。一有所中。疾苦作矣。苟或不除。不危即斃。上文所言。冬時嚴寒所傷。中而即病者。為傷寒。不即病者。至春變為溫病。至夏變為暑病。然風寒所傷。輕則感冒。重則傷寒。即感冒一證。頭疼身痛。四肢拘急。鼻塞聲重痰嗽喘急。惡寒發熱。風寒所傷之最輕者尚爾。當即為病不能容隱。況冬時嚴寒所傷。非細事也。反能藏伏。過時而發耶。更問何等中而一即病。何等中而一不即病。中而即病者。頭痛如破。身痛如杖。惡寒項強。發熱如炙。或喘或嘔。甚則發痙。六脈疾數。煩躁不寧。至後傳變不可勝言。倉卒失治。乃致傷生。中而不即病者。感則一毫不覺。既而延至春夏。當其已中之後。未發之前。飲食起居如常。神色聲氣纖毫不異。其已發之證。勢不減於傷寒。均系風寒。一者何其蒙懵。藏而不知。一者何其靈異。感而即發。同源而異流。天壤之隔。豈無說耶。既無其說。則知溫熱之原。非所中傷寒矣。且言寒毒藏於肌膚之間。肌為肌表。膚為皮之淺者。其間一毫一竅。無非營衛經行所攝之地。況風寒所傷。未有不由肌表而入。所傷皆營衛所感。即感冒些小風寒。尚不能稽留。當即為病。何況受嚴寒殺厲之氣。且感於皮膚最淺之處。反能容隱者耶。以此推之。必無是事矣。凡治客邪大法。要在表裡分明。所謂未入於腑者。邪在經也。可汗而已。既入於腑者。邪在裡也。可下而已。果系寒毒藏於肌膚。雖過時而發。邪氣由然在表。治法不無發散邪從汗解。後世治溫熱病者。若執肌膚在表之邪之說。一投發散。是非徒無益。而又害之矣。</p>
<p>質曰。吳氏謂營衛經行之地。無容隱寒毒之理者。此為張膜原說張本矣。凡病毒伏於人身。觸氣候而發者。亦不為少焉。夫傷寒溫疫。本只一而已矣。若謂無人身容隱寒毒之理。則溫邪亦無伏藏之理。是以曰邪氣伏於膜原耳。其說蓋出於不得已矣。</p>
<p>凡病先有病因。方有病證。因證相參。而後始有病名。稽之以脈。而後可以言治。假令傷寒中暑。各以病邪而立名。若言熱證。尚可模糊。（糊塗也。言不分明也。）若以暑病為名。乃是香薷飲之證。彼此豈可相混。凡客病感邪之重者。則病甚。其熱亦甚。感邪之輕者。則病輕。其熱亦微。熱之微甚。存乎感邪之輕重也。二三月。及八九月。其時亦有病重。大熱不止失治而死者。五六月。亦有病輕熱微不藥而愈者。凡溫病四時皆有。但仲夏感者多。春秋次之。冬時又次之。但可以時令分病之多寡。不可以時令分熱之輕重也。</p>
<p>是以辛苦之人。春夏多溫熱病。皆由冬時獨寒所致。非時行之氣也。凡時行者。春時應暖而反大寒。夏時應熱而反大涼。秋時應涼而反大熱。冬時應寒而反大溫。此非其時而有其氣。是以一歲之中。長幼之病多相似者。此則時行之氣也。</p>
<p>然氣候亦有應至而不至。或有未應至而至者。或有至而不去者。或有至而太過者。皆成病氣也。</p>
<p>春溫夏熱秋涼冬寒乃四時之常。因風雨陰晴。稍為損益。假令春應暖而反多寒。其時必多雨。秋應涼而熱不去者。此際必多晴。夫陰晴旱潦之不測。寒暑損益。安可以為拘。此天地四時之常事。未必為疫也。疫者乃感天地之戾氣也。夫戾氣者。非寒非暑。非暖非涼。亦非四時交錯之氣。乃天地間。則有一種氣。多見於兵（兵亂）荒（饑饉）之歲。間歲亦有之。但不甚耳。上文所言。長幼之病。多相似者。此正為時行之氣。雖不言疫。疫之意寓是矣。殊不知四時之氣。雖損益於其間。及其所感之病。終不離其本源。假令正二月應暖。偶因風雨交集。天氣不能溫暖。而多春寒。所感之病。輕則為感冒。重則為傷寒。原從感冒傷寒法治之。但春寒之氣終不若冬時嚴寒殺厲之氣為重。投劑不無有輕重之分。此即應至而不至。至而不去之謂也。又加八九月適多風雨。偶有暴寒之氣先至。所感之病。大約與傷寒彷彿。深秋之寒。終不若冬時殺厲之氣為重。此即未應至而至。即冬時嚴寒倍常。是為至而太過。所感亦不過即病之傷寒耳。假令夏時多風雨。炎威少息。為至而不及。時多亢旱。爍石流金。（出楚辭。又莊子。大旱金石爍土山焦。蓋言暑熱酷也。）為至而太過。太過則病甚。不及則病微。至於傷暑一也。其病與四時正氣之序何異耶。治法無出於香薷飲而已。</p>
<p>其冬時有非節之暖。名曰冬溫。</p>
<p>此即未應至而至也。按冬傷於寒。至春變為溫病。今又以冬時非節之暖為冬溫。一感於冬寒。一感於冬溫。一病兩名。寒溫懸絕。然則脈證治法又何似耶。夫四氣乃二氣之離合也。二氣（陰陽二氣）即一氣（太極一元之氣）之升降也。升極則降。降極則升。升降之極。為陰陽離。離則氣亢。氣亢則致病。亢氣者。冬之大寒。夏之大暑也。將升不升。將降不降。為陰陽合。合則氣和。氣和則不致病。和氣者。即春之溫暖。秋之清涼也。是以陰極而陽氣來。和為溫暖。陽極而陰氣來。和為清涼。斯有既濟（周易水火既濟）之道焉。若夫春寒秋熱。為冬夏之偏氣。倘有觸冒之者。因以為疾。若夏涼冬暖。轉得春秋之和氣。豈有因其和而反致疾者。所以但見傷寒中暑。未嘗見傷溫和而中清涼也。溫暖清涼。未必為病。又焉可以言疫。</p>
<p>從春分以後。至秋分節。天有暴寒者。此皆時行寒疫也。三月四月。或有暴寒。其時陽氣尚弱。為寒所折。病熱猶輕。五六月。陽氣已盛。為寒所折。病熱為重。七八月。陽氣已衰。為寒所折。病熱亦微。其病與溫及暑病相似。但有殊耳。</p>
<p>按四時皆有暴寒。但冬時感嚴寒殺厲之氣。名傷寒。為病最重。其餘三時寒微。為病亦微。又以三時較之。盛夏偶有些小風寒。所感之病更微矣。此則以感寒之重。病亦重而熱亦重。感寒之輕。病亦輕而熱亦輕。是重於冬而略於三時。至夏而又略之。此必然之理也。上文所言。三四月。陽氣尚弱。為寒所折。病熱猶輕。五六月。以其時陽氣已盛。為寒所折。病熱為重。七八月。其時陽氣已衰。為寒所折。病熱亦微。由是言之。可在冬時。陽氣潛藏。為寒所折。病熱更微。如此則反是夏時感寒為重。冬時感寒為輕。前後矛盾。（韓非子。說難語。言前後相反也。）豈不於理大違乎。又春夏秋三時。偶有暴寒所著。與冬時感冒相同。治法無二。但可名感冒。不當另立寒疫之名。若又以疫為名。殊類畫蛇添足。（史記。楚世家。陳軫語。）</p>

<h2>諸家溫疫正誤</h2>
<p>云岐子。（張壁）傷寒汗下不愈。過經。其病尚在而不除者。亦為溫疫病也。　如太陽證汗下。過經不愈。診得尺寸俱浮者。太陽溫病也。　如身熱目痛不眠。汗下過經不愈。診得尺寸俱長者。陽明溫病也。　如胸脅脹滿。汗下過經不愈。診得尺寸俱弦者。少陽溫病也。　如腹滿咽乾。診得尺寸俱沉細。過經不愈者。太陰溫病也。　如口燥舌乾而渴。診得尺寸俱沉細。過經不愈者。少陰溫病也。　如煩滿囊縮。診得尺寸俱微緩。過經不愈者。厥陰溫病也。是故隨其經而取之。隨其經而治之。如發斑乃溫毒也。</p>
<p>按傷寒敘。一日太陽。二日陽明。三日少陽。四日太陰。五日少陰。六日厥陰。為傳經盡。七日後。傳太陽為過經。云岐子所言。傷寒過經不愈者。便指為溫病。竟不知傷寒溫病。自是兩途。未有始傷寒而過經。變為溫病者。若果溫病。自內達外。何有傳經。若能傳經。即是傷寒。而非溫病明矣。</p>
<p>汪云。（名機。字省之。號石山。）愚謂溫與熱。有輕重之分。故仲景云。若遇溫氣。則為溫病。（此叔和之言。非仲景本論。）更遇溫熱氣。即為溫毒。熱比溫尤重故也。　但冬傷於寒。至春而發。不感異氣。名曰溫病。此病之稍輕者也。溫病未已。更遇溫氣。變為溫病。此病之稍重者也。　傷寒例。以再遇溫氣。名曰溫疫。　又有不因冬傷於寒。至春而病溫者。此特感春溫之氣。可名春溫。如冬之傷寒。秋之傷濕。夏之中暑。相同也。（按陰陽大論。四時正氣之序。春溫夏暑。秋涼冬寒。今特感春溫之氣。可名春溫。若感秋涼之氣。亦可名秋涼病矣。春溫可以為溫病。秋涼獨不可為涼病乎。但以涼病似覺難言。勉以濕證搪塞。既知秋涼有礙口。反而思之。則知春溫名。殊為謬妄矣。）以此觀之。是春之溫病。有四種不同。有冬傷於寒。至春變為溫病者。有溫病未已。再遇溫氣。而為溫病者。有重感溫氣。相雜而為溫病者。有不因冬傷於寒。不因更遇溫氣。只於春時感春溫之氣而病者。若此四者。皆可名為溫病。不必各立名色。只要知其病原之不同也。</p>
<p>凡病各有病因。如傷寒。自覺觸冒風寒。如傷食。自覺飲食過度。各有所責。至於溫病。乃伏邪所發。多有安居靜養。別無他故。倏焉而發。詢其所以然之故。無處尋思。況求感受之由。且自不覺。故立論者。或言冬時非節之暖。或言春之溫氣。或言傷寒過經不解。或言冬時伏寒。至春夏乃發。（按冬傷於寒。春必病溫。出自素問。此漢人所撰。晉時王叔和。又以述傷寒例。蓋順文之誤。）或指冬不藏精。春必病溫。（此亦漢人所撰。但言斫喪致病。不言因邪致病。然則童男室女。無感溫者乎。）又見冬時之溫病。與春夏之溫疫。脈證相同。治法無異。據云冬時即病為傷寒。今溫病亦發於冬時。思之至此。不能無疑。乃覺前人所論難憑。務求其所以然之故。既不可言傷寒。又不可言伏寒。因以冬時非節之暖。牽合而為病原。不思嚴寒酷暑。因其鋒利。人所易犯。故為病最重。至於溫暖。乃天地中和之氣。萬物得之而發育。氣血得之而融和。當其肅殺之令。權施仁政。未有因其仁政而反蒙其害者。切嘗考之。冬時未嘗溫暖。亦有溫病。或遇隆冬暫時溫暖。雖有溫病。感溫之由。亦無確據。既不過猜疑之說。焉足以為定論耶。或言感三春當令之溫氣。為溫病。夫春時自應溫暖。責之尤其無謂。或言溫病後。感溫氣而為溫病。正如頭上安頭。或言傷寒汗下。過經不愈者。為溫病。則又指鹿為馬。活人書曰。又以夏應暑。而寒氣折之。責邪在心。為夏溫。秋應涼。而大熱折之。責邪在肺。為秋溫。轉屬支離。（莊子人間世。有支離疏。廢人也。）陶氏又以秋感溫氣。而為秋溫。明是雜證。敘溫者絡繹。議論者各別言。枝節愈繁雜。而本源愈失。使學者反增盳洋之惑。於醫道何補。</p>
<p>活人書云。夏月發熱惡寒。頭疼。身體肢節痛重。其脈洪盛者。熱也。冬傷於寒。因暑氣而發。為熱病。治熱病。與傷寒同。有汗宜桂枝湯。無汗宜麻黃湯。如煩躁。宜大青龍湯。然夏月藥性須帶涼。不可太溫。桂枝。麻黃。大青龍。須用加減。夏至前。桂枝加黃芩。夏至後。桂枝。麻黃。大青龍。加知母石膏。或加升麻。蓋桂枝麻黃。性熱。地暖處。非西北之比。夏月服之。必有發黃出斑之失。熱病三日處。與前湯不瘥。脈勢仍數。邪氣猶在經絡。未入臟腑者。桂枝石膏湯主之。此方夏至後。可代桂枝證。若加麻黃。可代麻黃。青龍湯證也。若三月至夏。為晚發傷寒。梔子升麻湯。亦暫用之。（王宇泰述。萬曆癸卯。李氏一婿。應舉南下。時方盛暑。病傷寒。一太學生。新讀仲景書。自謂知醫。投以桂枝湯。入腹即斃。大抵麻黃桂枝二湯。隆冬正傷寒之藥。施之於溫病。尚且不可。況於熱病乎。）</p>
<p>按活人書。以溫熱病。用桂枝麻黃。雖加涼藥。終未免發散之誤。豈止三日外。與前湯不瘥。脈勢仍數而已哉。不死幸矣。至此尚然不悟為半里之證。且言邪氣猶在經絡。仍用桂枝石膏湯。至死無悔。究竟不識溫熱之源。是以不知用藥耳。王宇泰非之甚當。是以不用麻黃桂枝。賢於活人書遠矣。</p>
<p>春溫　活人書曰。春應溫而清氣折之。責邪在肝。或身熱頭疼。目眩嘔吐。長幼率相似。升麻葛根湯。解肌湯。四時通用。敗毒散。　陶氏曰。交春後。至夏至前。不惡寒而渴者。為溫病。用辛涼之藥。微解肌。不可大發汗。急證現者。用寒涼之藥。急攻之。不可誤汗誤下。當須識此。表證不與正傷寒同法。里證治法同。</p>
<p>夏溫　活人書曰。夏應暑而寒氣折之。責邪在心。或身熱頭疼。腹滿自利。長幼率相似。理中湯。射干湯。半夏桂枝湯。　陶氏曰。交夏至。有頭疼發熱。不惡寒而渴。此名溫病。愈加熱者。為熱病。止用辛涼之藥解肌。不宜大汗。里證現者。急攻下。表證不與正傷寒同法。里證治法同。</p>
<p>秋溫　活人書曰。秋應涼而大熱折之。責邪在肺。濕熱相搏。民病咳嗽。金沸草散。白虎加蒼朮湯。病癉發黃。茵陳五苓散。　陶氏曰。交秋至霜降前。有頭疼發熱。不惡寒身體痛。小便短者。名濕病。亦用辛涼之藥。加疏利以解肌。亦不宜汗。里證見者。宜攻下。表證不與正傷寒同法。</p>
<p>冬溫　活人書曰。冬應寒而反大溫折之。責邪在腎。宜萎蕤湯。丹溪曰。冬溫為病。非其時有其氣者。冬時嚴寒。君子當閉藏。而反發泄於外。專用補藥。帶表藥。</p>
<p>按西北高原之地。風高氣燥。濕證希有。南方卑濕之地。更遇久雨淋漓。時有感濕者。天地或時久雨。或時亢旱。蓋非時令所拘。故傷濕之證。隨時有之。不待交秋而後能也。推節庵之意。以至春為溫病。至夏為熱病。至秋似不可復言溫熱。然至秋冬。又未免溫病。只得勉以濕證抵搪。且濕為雜證。更不可藉此混淆。惟其不知溫病四時皆有。故說到冬時。遂付之不言。王宇泰氏。因見陶氏不言。乃引丹溪。述非其時有其氣。以補冬溫之缺。然則冬時交錯之氣。又不可以為冬溫也。俗人但言四時之溫。蓋不知溫之源。故春責清氣。夏責寒氣。秋責熱氣。冬責溫氣。殊不知清溫寒熱。總非溫病之源。復以四時專令之藏而受傷。不但膠柱鼓瑟。（楊子法言。先知篇。言拘束於常規也。）且又罪及無辜矣。</p>

<h1>跋</h1>
<p>黃岐之書。汗牛充棟。可謂繁矣。而挽近著作。非考證則折衷。未睹有卓越之議論也。然而俗醫斗筲不識丁字者。固無論已。若夫宿學老師。持論大滿。執一守株。守死句而殺生人者。獨何邪。蓋以心鑑不徹。活法不達故也。活法者何。陶氏有言曰。如珠走盤。須得傳受活潑潑地。是謂心鑑之可徹。活法之可達也。吾</p>
<p>錦水先生。學踏實地。識破今古。常以活法訓導子弟。頃日著私評一篇。以發活法傳受之一端。嗚呼。此書也。活法活人之至訣也矣哉。與考證折衷之流。奚啻天淵。</p>
<p><u>嘉永戊申夏門人玉木弘謹識</u></p>
