<header>
<h1>基本操作</h1>
</header>

<p>本站各頁面頁首為<strong>階層式導覽列</strong>，標示目前所在頁面及其上層，每一層頁面皆有超連結，可籍此跳轉至上層頁面或首頁。</p>

<p>頁首右上方「☰」狀的按鈕是<strong>工具欄</strong>，點擊後會出現選單，可做各種操作，包括切換檢視模式、站內搜尋、目錄檢視等等。依所在頁面不同，工具欄的選項可能會稍有差異。</p>

<ul>
<li>將滑鼠停留在各選項上，會顯示提示文字。（觸控設備可長按顯示）
<li>工具欄使用最新Web標準實做，須使用現代瀏覽器（Firefox ≥ 52、Chrome ≥ 55、Sarfari ≥ 10.1、Opera ≥ 42、Edge ≥ 15）並啟用JavaScript才能正常運作。
</ul>

<p>頁首之下為淡綠色的<strong>主導覽列</strong>，可藉此跳轉至本站各主題頁面，如典籍、協助等等。</p>

<p>每頁頁尾為<strong>著作權資訊</strong>、隱私政策等全站公告，及連往該頁面原始碼與編輯記錄的<strong>版本庫連結</strong>。</p>

<p>本站主要整理中醫典籍資訊，由主導覽列進入「典籍」後，尋找感興趣的典籍連結進入即可。可善用瀏覽器的搜尋功能（Ctfl+F）於頁面中查詢書名。</p>
