<header data-type="book">
<h1>西溪書屋夜話錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>王泰林</data>撰，<data>周鎮</data>輯錄</dd></div>
<div><dt>年份</dt><dd><data value="1897">公元1897年</data></dd></div>
</dl>
</header>

<h1>治肝卅法</h1>
<p>肝氣、肝風、肝火，三者同出異名。其中侮脾乘胃，衝心犯肺，挾寒挾痰，本虛標實，種種不同，故肝病最雜而治法最廣，姑錄大略於下。</p>

<h1>肝氣證治</h1>
<p>一法曰：疏肝理氣。如肝氣自鬱於本經，兩脅氣脹或痛者，宜疏肝，香附、鬱金、蘇梗、青皮、橘葉之屬。兼寒，加吳萸；兼熱，加丹皮、山梔；兼痰，加半夏、茯苓。</p>
<p>一法曰：疏肝通絡。如疏肝不應，營氣痹窒，絡脈瘀阻，兼通血絡，如旋覆、新絳、歸鬚、桃仁、澤蘭葉等。</p>
<p>一法曰：柔肝。如肝氣脹甚，疏之更甚者，當柔肝，當歸、杞子、柏子仁、牛膝。兼熱，加天冬、生地；兼寒，加蓯蓉、肉桂。</p>
<p>一法曰：緩肝。如肝氣甚而中氣虛者，當緩肝，炙草、白芍、大棗、橘餅、淮小麥。</p>
<p>一法曰：培土泄木。肝氣乘脾，脘腹脹痛，六君子湯加吳茱萸、白芍、木香。即培土泄木之法也。（溫中疏木，黃玉楸慣用此法。）</p>
<p>一法曰：泄肝和胃。肝氣乘胃，（即肝木乘土）脘痛嘔酸，二陳加左金丸，或白蔻、金鈴子。即泄肝和胃之法也。</p>
<p>一法曰：泄肝。如肝氣上衝於心，熱厥心痛，宜泄肝，金鈴、延胡、吳萸、川連。兼寒，去川連，加椒、桂；寒熱俱有者，仍入川連，或再加白芍。蓋苦、辛、酸三者，為泄肝之主法也。</p>
<p>一法曰：抑肝。肝氣上衝於肺，猝得脅痛，暴上氣而喘，宜抑肝，如吳萸汁炒桑皮、蘇梗、杏仁、橘紅之屬。</p>
<p>一法曰：散肝。「木鬱則達之」，逍遙散是也。「肝欲散，急食辛以散之」，即散肝是也。</p>

<h1>肝風證治</h1>
<p>肝風一證，雖多上冒巔頂，亦能旁走四肢。上冒者，陽亢居多。旁走者，血虛為多。然內風多從火出，氣有餘便是火，余故曰肝氣、肝風、肝火，三者同出異名，但為病不同，治法亦異耳。</p>
<p>一法曰：熄風和陽。如肝風初起，頭目昏眩，用熄風和陽法，羚羊、丹皮、甘菊、鉤鉤、決明、白蒺藜、即涼肝是也。</p>
<p>一法曰：熄風潛陽。如熄風和陽不效，當以熄風潛陽，如牡蠣、生地、女貞子、玄參、白芍、菊花、阿膠。即滋肝是也。</p>
<p>一法曰：培土寧風。肝風上逆，中虛納少，宜滋陽明，泄厥陰，如人參、甘草、麥冬、白芍、甘菊、玉竹。即培土寧風法，亦即緩肝法也。</p>
<p>一法曰：養肝。如肝風走於四肢，經絡牽掣或麻者，宜養血熄風，生地、歸身、杞子、牛膝、天麻、制首烏、三角胡麻。即養肝也。</p>
<p>一法曰：暖土以禦寒風，如《金匱》近效白朮附子湯，治風虛頭重眩苦極，不知食味。是暖土以禦寒風之法。此非治肝，實補中也。</p>
<p>一法曰：平肝。金鈴、蒺藜、鉤鉤、橘葉。</p>
<p>一法曰：搜肝。外此有搜風一法。凡人必先有內風而後外風，亦有外風引動內風者，故肝風門中，每多夾雜，則搜風之藥，亦當引用也，如天麻、羌活、獨活、薄荷、蔓荊子、防風、荊芥、殭蠶、蠶蛻、白附子。</p>

<h1>肝火證治</h1>
<p>肝火燔灼，遊行於三焦，一身上下內外皆能為病，難以枚舉。如目紅顴赤，痙厥狂躁，淋秘瘡瘍，善飢煩渴，嘔吐不寐，上下血溢皆是。</p>
<p>一法曰：清肝。如羚羊、丹皮、黑梔、黃芩、竹葉、連翹、夏枯草。</p>
<p>一法曰：瀉肝。如龍膽瀉肝湯、瀉青丸、當歸龍薈丸之類。</p>
<p>一法曰：清金制木。肝火上炎，清之不已，當制肝，乃清金以制木火之亢逆也，如沙參、麥冬、石斛、枇杷葉、天冬、玉竹、石決明。</p>
<p>一法曰：瀉子。如肝火實者，兼瀉心，如甘草、黃連。乃「實則瀉其子」也。</p>
<p>一法曰：補母。如水虧而肝火盛，清之不應，當益腎水，乃「虛則補母」之法，如六味丸、大補陰丸之類。亦乙癸同源之義也。</p>
<p>一法曰：化肝。景岳治鬱怒傷肝，氣逆動火，煩熱脅痛，脹滿動血等證，用青皮、陳皮、丹皮、山梔、芍藥、澤瀉、貝母，方名化肝煎。是清化肝經之鬱火也。</p>

<h1>肝寒肝虛等證治</h1>
<p>一法曰：溫肝。如肝有寒，嘔酸上氣，宜溫肝，肉桂、吳萸、蜀椒。如兼中虛胃寒，加人參、乾薑，即大建中湯法也。</p>
<p>一法曰：補肝。如制首烏、菟絲子、杞子、棗仁、萸肉、脂麻、沙苑蒺藜。</p>
<p>一法曰：鎮肝。如石決明、牡蠣、龍骨、龍齒、金箔、青鉛、代赭石、磁石之類。</p>
<p>一法曰：斂肝。如烏梅、白芍、木瓜。</p>
<p>此三法，無論肝氣、肝風、肝火，相其機宜，皆可用之。</p>
<p>一法曰：補肝陰。地黃、白芍、烏梅。</p>
<p>一法曰：補肝陽。肉桂、川椒、蓯蓉。</p>
<p>一法曰：補肝血。當歸、川斷、牛膝、川芎。</p>
<p>一法曰：補肝氣。天麻、白朮、菊花、生薑、細辛、杜仲、羊肝。</p>

<h1>醫話</h1>
<p>醫雖小道而義精，工賤而任重。余自習醫以來，兢兢業業，造次於是，顛沛於是，歷經卅餘年，成就些微事業，多從困苦勤慎中得之。汝輩學醫，且將遊戲念頭，刪除淨盡，然後耐煩做去，何愁不日進於高明。</p>
<p>醫仁術也，其心仁，其術智，愛人好生為之仁，聰明權變為之智，仁有餘而智不足，尚不失為誠厚之士，若智有餘而仁不足，則流為欺世虛狂之徒。</p>
<p>凡治一病，先須細心診視，其病雖輕，亦不可輕許無事，恐其人因病輕而自忽，致生他變也。其病雖重，亦不宜決裂回絕，恐病家聞而生怖，愈致慌張也。然真正無妨，與絕證畢具不可救者，不在此例。</p>
<p>曾有一病人，年約十三四，其母呼之出外廂診視，其面色青黃而無和悅之氣，目向下視，亦不轉瞬，其脈小，身無熱，問其疾苦不答。其母代言曰：咳嗽十餘日矣。余處以平常治嗽套方一劑，明日即死。余聞之駭然，自咎識淺術疏。後又遇一船家，年約四十，面色雖不青，然神呆目睛不轉，脈亦小，病咳嗽氣急，問其疾不答，余即回卻，後兩日果死矣。此屬肺絕證，經曰：「肺絕之脈，如風吹毛」，蓋言其細也。前二證神氣已離，其死必矣。</p>
<p>又見一女子，年十八九，四月間患時證，與其母同日得病，至七日同時戰汗，其母戰陷發厥而死，女正得汗未收，聞母死驚起，號淘痛哭，極力勸慰方止，自此如醉如呆，兀坐不語。邀余診治，脈極弦而銳，目睛環轉不定，此為膽絕之候也。因驚傷膽，神魂失守，不可為也。果至晚發狂而死。經云：「少陽終者，目睘絕系，絕系者，一日半死。」又曰：「得神者昌，失神者亡」。又曰：「狂言者失志，失志者死。」</p>
<p>臟結為死證，仲聖戒不可攻。余曾治二人，皆不治而死。其一素有肝氣，其一素有癖塊，皆卒然腹中硬滿大痛，得食則嘔，二便不行，腹中硬塊或豎或橫者數條。初用深師七氣湯，如吳萸、官桂、木香、厚朴、烏藥等，送下備急丸五粒，不得利。又轉用許學士溫脾湯，亦不得利。他醫進仲景黃連湯加肉桂，痛嘔亦不止。一人四日死，一人三日死，竟一無辦法。</p>
<p>旭高自按：或曰灸關元或可救，然其人痛無暫安，安能施灸法哉。每思陰邪盤踞，臟氣凝結，不通不出，若用通陽之屬，如附子、肉桂、乾薑、半夏、茯苓、烏藥、澤瀉等味，送下來復丹通臟腑之陽，理三焦之氣，假我數年，再遇斯證，得試此法，未識何如。</p>
<p>一嫗年五十有餘，當冬月大便後，腹中微痛，胸悶滿，噁心，微惡寒，微發熱。初醫以為感寒，用疏通發散藥不效，延至旬外，邀余治之。診得脈左沉小，右脈浮而無力，此中氣虛而感寒也。當用六君子湯，加炮薑、木香、蘇葉汁，意議已定，方亦寫出。適某醫來，與之商訂，將方請正，醫曰：「今病已十餘日不大便，且胸腹滿悶，暫緩參、朮、炮姜，易入枳殼、栝蔞，稍磨紫金錠，香開氣分，治其痛滿。」病者正愁大便不通，未敢進食，主翁亦畏投補劑，恐滋脹滿，遂聽某醫之言。余亦未便與之爭論。詎知藥下即大解，初尚稀溏，後即稀水，泄瀉不休，肢冷不溫。明日，某醫始議參、朮、炮姜，急煎已不納矣，是晚遂斃。此役也，深悔余無主見，假如當時力爭，猶可挽救，計不出此，坐令致斃，余深痛悔。</p>
<p>旭高自按：或曰參、朮、炮姜但遲一日，先一日則生，遲一日則死，恐亦未必？余曰：不然，當其大便未泄，元氣未脫，早用此方，十能救五。竊憂世俗，一患重證，必多延醫，眾因病重，不肯負責，互相推諉，致誤事多矣，慨夫！</p>
<p>浦瑤官年三十二，形胖，多痰多濕，九月間因勞碌葷酒數日，遂得伏暑證。初起寒輕熱重，如瘧狀，一日輕，一日重，五六日後，但熱不寒，舌苔干黃，大便不通，熱甚煩躁，脘腹硬痛。余用大柴胡一服如神，安穩一日，仍復煩躁，舌根苔仍干黃，據其脘腹猶痛，改用鮮斛、栝蔞、連翹、山梔等，送下滾痰丸三錢，是晚便泄三次，明日診視，諸恙霍然，余亦許其無事。詎知薄暮，心中難過，外不發熱，手足不溫，神疲如迷，喉中汨汨不休，如嚥唾之聲，口角津津，涎沫流出不止，直至三更，發厥數次，病家惶恐，甫明即求治。診得脈細如絲，舌苔黃者變白，而且濕膩，余亦為之驚愕，此所謂「熱病未已，寒病復起」是也。因其人中氣不足，兩下之後，中氣愈虧，致太陰寒痰上升，故有此急變。進附子、草果、乾薑、半夏、茯苓、陳皮等味，或可挽救。病家曰：「先生昨日用寒，今日用熱，有是理乎？抑有所據乎？但此子性命，全託先生身上。」余聞此言，因徐徐告曰：「醫之心，仁心也，所以敢冒不韙，而隨機應變，有是證，必有是藥，昨熱用寒，今寒用熱，又何疑乎。余肯寫此方，是余之熱心也，服與不服，余不相強，然勢已急，欲圖萬一之幸，舍此別無良法。」言畢辭歸，次日復來請，蓋喜其昨幸服藥見效矣。連進附子四貼而痊。然寒證已退，已能啜粥數盞，尚有餘波，仍復寒熱如瘧，但不甚重耳。再以豆卷、半夏等平調，五、六劑而瘥。</p>
<p>錢氏子翩翩少年也，未完婚，春心勃勃，偶宿妓，勇於使內，染淋濁，莖中作痛連毛際。醫用分清滲利藥，淋痛俱減，但覺少腹中央，下連毛際時隱痛，以後或大痛，或微痛，或不痛。或用金鈴子、延胡索，或用吳萸、烏藥，或用韭根、兩頭尖，皆不效。一醫用肉桂五苓散，痛止兩日而復作，又用補中益氣湯，其痛更甚。始邀余診，余望問之下，知此子腎氣素虧，竭力使內，又斫傷腎氣，敗精化而為濁，初醫過用滲利寒藥，再傷腎臟之陽，醫用肉桂止痛，痛止二日者，得溫通之力也。改用升提補中藥，痛勢反甚者，下焦精氣兩虧，升其陽則腎益虧也。當用金匱腎氣丸，補陰中之陽，據其宅窟而招安之。服下痛果定，有時仍微痛，連服腎氣湯十餘貼，後改用腎氣丸，每朝服三錢，一月痊愈。</p>
<p>旭高自按：夫此病用腎氣丸而無疑者，全從服過肉桂止痛二日悟出，古人云：會心處非別有玄妙也。</p>
<p>有人染楊梅瘡，服過輕粉升藥，抑遏其毒於內，瘡愈之後，多致筋骨攣痛，數年之後，隨其痛處，必發出一塊，色白不紅，漸潰腐爛，連年累月，不肯收斂，遂成廢疾。《瘍科心得集》中載十味淡齋方，忌食鹽味一百二十日，無有不愈者。然有脾胃薄弱，驕恣任性之人，不肯服淡，將如之何！余見《外科發揮》載一方，用土茯苓四兩，氣虛加四君子湯一兩，血虛加四物湯一兩，煎湯飲月餘即驗。《集驗方》更加皂莢子七粒、川椒四十九粒，有熱者再加芩、連，仿此治之，亦一法也。</p>
<p>凡生疔疽部位，初起一粒雖小，須要小心，切不可說無事。余嘗見唇疔一粒，其形甚小，並無寒熱，以為無事，其人能食酒肉，亦不避風，三五日後，即走黃而死。對口發背，變端稍遲，然斷不可輕視忽略，說話之中，須要活落，免致擔憂。</p>
<p>有孕無孕，辨別最難，方書雖有「手少陰脈動甚者，妊子也」一句，然竟有心脈不甚顯著者，大抵經阻二三月，小有寒熱，或時嘔惡，是為懷子之象。若腹中痛者，非胎也。若乳頭紫黑色者，是胎也。乳頭轉色紫黑，乃是有胎之的候。再者，察其人形象康健否，雖有時不食，有時仍能食，此即所謂疑病也。</p>
<p>凡看咳嗽病，或陰精虧損之體，或元氣素弱之軀，無病之時，已先腿足乏力，或手足心灼熱，在女子或經水不調，而漸生咳嗽，便是虛勞之根，切不可大進辛溫消痰以及表散之藥，便宜甘潤生津，如川貝、玉竹、甜杏仁、穭豆衣、沙參等類。若兼頭眩心悸，加入茯神、滁菊之類。或有稍夾風邪而起者，亦不過加入桑葉、桔梗之屬。倘若但以前胡、杜蘇子、牛蒡、荊芥、防風、橘葉、橘紅、枳殼、萊菔子等味，必致劫津而成喘逆嗆咳，及見惡寒潮熱，虛勞之病成矣。此等病甚多，切宜仔細。</p>
<p>一婦人通身發出紅斑，大者如黃豆，小者如綠豆，皆平而不腫，又無脂水，至夜則癢甚，日中稍可，此是血虛生風。詢其證，經水一月兩至，淋漓不斷，且頭眩、心跳、心嘈，顯然血虛生風，熱灼營陰，膚髮紅斑而搔癢也。用生地、阿膠、穭豆衣、白芍、胡麻等而瘥。若認為風濕，而用祛風燥濕則謬矣。</p>
<p>飲邪作痛，在脅為多，或停中脘。其痛也，或嘔酸苦青綠水，或腹中漉漉有聲，或大便泄瀉稀水，則痛反松，脈沉而弦，是其候也。治宜溫通蠲飲，如乾薑、半夏、陳皮、茯苓、桂枝、澤瀉等味。昔見一中年婦人，病脘脅痛，皆以為肝氣，服藥不效。飲食泛嘔而不納，十餘日米粒不進，但飲茶數口而已，一日，呻吟不安，囑咐後事，眾皆以為必死。傾忽嘔稀水半桶，倦極不語者半日，醒後漸思食，以米湯少少飲之，不嘔，再與稀糊粥少許頻頻飲下，亦不嘔，從此調理月餘，居然平復。今歲見一老嫗年逾七十，亦病脘痛，舌苔微白，諸藥不效，後竟不服藥，米粒不進共十八日，惟瞑目待斃而已。詎知忽然瀉出稀水黃糞甚多，從此漸思穀食，未幾即復，今已談笑自若矣。</p>
<p>旭高曰：是證之得不死者，雖然粒食不進，但神氣全無死象，如痛定時言語清楚，其正氣尚未脫離，是以不致於死，得能平復。須知脘腹痛證，若大痛不休者，必死且速，若時作時止者，未必便死，亦臨證之要訣。</p>
<p>高氏女將出閣，夏末秋初，趕緊刺繡，黃昏早起，勞碌殊甚。於七月十三日清晨，出幃開窗，忽聞鵲噪，頓生驚疑，汗出浹背。早膳食麵一碗，遂覺懶不怡，至夜忽發熱，頭大痛。初醫以為肝陽，但用清泄重鎮之劑，如羚羊、決明等藥。不效。再易一醫，用龍膽瀉肝湯送下當歸龍薈丸，詎知藥入即吐，從此湯水不得進，納即嘔吐，壯熱無汗，神識昏蒙，滿頭皆痛，小溲短赤，始邀余診。及余至，適值老醫張三明亦至，同至內診視畢。張曰：「壯熱無汗，必夾風邪，舌苔黃膩，必夾痰濁，雖有肝陽，當先解表化痰。」余亦以為然。遂用牛蒡、荊芥、薄荷、蔓荊、滑石、半夏、橘皮、竹茹，磨沖玉樞丹。明日又來請，據云，病大增劇，一夜不安，幾乎發厥，聞之駭然。隨往診視，詢之，乃知昨日仍服苦降清泄之方。余躊躇良久而後言曰：「內因肝風上升，外因暑風挾積，論理當散風邪兼消食積，而後清鎮肝陽，既得多方轉側，今已先授清鎮，將胃中所蘊之痰濁食滯，盡阻遏在中，氣不得通，因而嘔逆，邪不得散，因而壯熱，無汗，舌苔黃濁，大便六七日不通，脈象弦滑數疾，病機偏向於裡，雖頭痛如破，固屬肝陽，而神糊煩躁，胸膈已如燎原，為今之計，莫若且用涼膈散，表裡雙解，俟得汗得便，神氣稍清，再進熄風和陽之藥，循序圖治，庶可漸臻坦途」。於是竟疏涼膈散全方，服下得寐，少頃，先出慄糞，後下稀溏三四次，遽而一夜安然。直至黎明，木旺陽升之際，忽手指牽引，面色變青，舉家慌亂，以為痙厥，莫可挽救。邀集諸醫商討，皆言難治，其危在傾刻，深怪涼膈之非。眾楚方咻，適余應邀請亦至，診得脈象弦，特少和，神氣略清，頭痛時止時甚。余曰：「諸公所言痙厥在邇，有何確據？」眾曰：「脈細數，肢冷，手足搐搦，豈非痙厥！」余曰：「唯，唯，尚容緩思。得汗得便，一夜安然，表裡盡行暢達，肢雖不溫，而非厥冷，是熱退而和也。頭痛時作，乃肝陽為劇耳。舌苔黃膩，仍兼痰濁。此時當用熄風和陽化痰安神之劑為治。」眾議遂息。乃投羚羊、決明、半夏、茯神、川連、橘紅、枳實、鉤鉤、菖蒲、竹瀝、薑汁等味，調珠珀散六七分。明日再診，喜其病勢漸安，即仿此加入鮮薄荷根，因其喉間痰膩，且身尚微熱，而無汗也。連進兩服，而諸證皆平矣。</p>
<p>溫邪證三五日，或六七日，面目肢體發黃者，多生於茶客酒客輩，平日素多濕熱，一受溫邪，穢濁蒸熏，即發黃疸。往往外無大熱，舌苔濁厚，而又煩躁不安，渴不多飲，神氣昏狂，或有汗或無汗，脈或大滑，或沉數。或用茵陳、梔子、大黃，或用犀角、鮮地、茵陳、石斛、苓、梔、芩、滑、如甘露飲等，所見五六證皆死。大抵《傷寒論》中發黃，無穢濁蒙閉，故無汗者用麻黃連翹赤小豆湯，使濕熱從外而泄。有汗者用茵陳蒿湯，使濕熱從下而泄。此溫邪發黃，濕熱蒸熏於外，穢濁蒙閉於內，故難治，當細細參究，質問諸博雅，姑記於此，驗後之得失。</p>
<p>凡虛體及吃鴉片之人，病溫邪五六日，忽然煩躁，大汗出而熱仍不退，神識反昏，或反大熱、煩躁、昏狂，此屬正虛不能敵邪外出，而反內陷也。或停一日，亦有再作寒慄戰汗，而神識乃清者。如葉氏所云：「邪盛正虛，不能一戰而解，停一二日再戰汗而愈者」是也。倘若再戰而神識不清，反加痰喘呃忒，則頓時生變，此不可不知。</p>
<p>凡有疝氣之人，忽發寒熱，腎囊腫大，其色帶紅者，防發囊癰，此其一也。又有不發囊癰者，或胯凹，或腿膝腫痛，色紅，醫作濕火例治。然吃煙之人，或高年正虛之輩，腫痛不已，而其脾胃薄弱，頻仍作呃，蓋肝腎之氣上衝於胃也，此證必凶多吉少。用人參、丁香、柿蒂、旋覆花、代赭石等，呃止者生，不止者死。</p>
<p>曾見一種舌苔，舌根至舌心或黃或白，舌尖至舌心光紅無苔，其舌心有苔無苔交界處，宛如刀切之狀，此謂兩截舌，陰陽不交之確證。又有一邊有苔，一邊無苔，左右各半者，此謂營衛隔絕，其證必凶。</p>
<p>江陰巷李三喜之妻，因夏月起造房屋，勞碌受熱，至秋季遂患肛門之內，臟頭之間，後重氣墜，頻欲登圊，但有紅膩點滴些些，並無糞穢。自服制大黃解下干糞後稍松，但肛門墜痛，一日數十次，終不減。屢易諸醫，皆以為痢疾，用川連、木香、芩、芍皆不效，已數十日矣，始邀余診。脈尺部洪大，詢其病由，因夏暑勞碌過度，濕熱下注腸臟之頭，結為臟毒。以致臟頭腫熱疼痛如刺，如得下膿血少許，則痛稍松，須臾仍氣墜腹脹，則又欲登圊，雖有似乎痢疾，但腹中不痛，痛在臟頭肛門之裡，非痢疾乃臟毒。定方用川連、胡連、犀角、苦參子、槐米炭、地榆炭、金銀花、象牙屑、刺蝟皮、蘆薈共等分為末，用豬臟頭一個，酒煮爛，與前藥和為丸，初服每朝二錢五分，半月後每朝一錢五分，以後逐漸減少。但服此方，必腹中略痛片刻，解下穢糞極臭，墜痛從此大松。服此丸二十日，忽然瀉下汙血鮮血有半桶許，舉家驚惶，急來邀余。處以歸脾湯，去木香，加白芍、阿膠，連服三貼，神氣即復。仍服前丸，每日一錢，用黃耆、黨參煎湯送下，從此漸臻坦途。</p>
<p>門人繆禮和曰：此病究因勞乏受熱，氣陷熱潛，宜用歸脾湯加苦參、大黃為佳。斯言誠然，但余所用丸藥，專主臟毒。如初起體質未虛，而濕熱下注腸臟，則歸脾湯加苦參、大黃為優也。</p>
<p>張川官之孫，年十八歲，冬月感寒夾積，腹痛泄瀉。他醫用吳萸、木香、烏藥、檳、楂以溫中消積，泄止得干屎，但少腹板窒，小便不利。適戚墅堰吳仲三子到錫，因請診治，斷為腸癰，用黃耆、銀花、當歸等味，一服，遂便下如水晶魚腦之膩質。而老醫趙桂三亦同聲附和，於吳方加入延胡等味，服二三劑後，病勢日篤，日夜泄白膩凍數十次，小便不通。邀余診視，細繹病情，斷非腸癰。適趙醫亦至，礙於前輩，只得委屈周旋，立案曰：腸癰為病，有寒有熱，熱者大黃牡丹皮湯，寒者苡仁附子敗醬散，此古人規則也。是證脈弦緊而不數，面色青而不渴，屬寒積也。鄙意宜用溫通。遂以肉桂五苓散加楂肉、砂仁，一服見效。即加炮薑、木香。第三方因溺後氣向下墜，腰尻痠痛，全屬陽虛氣陷之象，用東垣法參入前方，如黨參、升麻、冬朮、肉桂、茯苓、澤瀉、炮薑、木香、訶子、鹿角、砂仁，連服三劑。大便白膩全止，脾胃已開，面色紅活，遂去肉桂、減輕炮姜，服數劑全愈。</p>
<p>旭高曰：以上二證，李氏婦明明是臟毒，諸醫以為痢疾，張氏孫顯然寒痢，諸醫反謂腸癰，是非顛倒，舉世皆然，可慨也！</p>
