<header data-type="book">
<h1>素問記聞</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>玄輿中野</dd></div>
<div><dt>底本</dt><dd>日本鈔本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀013238–013240）</dd></div>
</dl>
</header>
