<header data-type="book">
<h1>醫權初編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王三尊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1721">公元1721年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>柳序</h1>
<p>百事皆以術名，而醫獨以道名，道者中而已矣。中無定體，隨時而在，則權尚焉。子曰：可與立未可與權。權固戛乎其難哉！考亭又謂自漢以來，儒者多不識權字。嗚呼！漢去古未遠，至索一解人不得也。況生丁晚近，卒業於小道者乎？余嘗言世之號為醫者有三，而幾於道者百無一焉。朝頌《靈樞》，暮閱《金匱》，按圖索驥，膠柱鼓瑟，是為文字醫。頭痛治頭，腳痛理腳，懸揣虛實，妄擬陰陽，是為意見醫，餌藥識性，善病悟機，側聞緒言，因此測彼，是為聰明醫。如若輩者未嘗不稱國手，誇洞垣，然知經而不知權，道其所道，非醫之所謂道也。知權之之說者，其惟王君達士乎？達士家東皋之赤岸，去揚郡數百里，予未見其人而輒耳其名，蓋良醫也。予門首座繆子又安自赤岸來謁，攜其所著《醫權》二卷，囑予序。予閱其書，據症立案，審案用藥，辨溫清於錙銖，酌補瀉於杪忽，一切通因通用，塞因塞用，寒因熱用，熱因寒用之妙，要皆與病推移，而不凝滯於病。美哉達士，可與權矣！世之讀此書者，神而明之，引而伸之，自覺《準繩》失之繁，《儒門事親》失之羈，《寓意草》《醫門法律》失之偏，不如是書之囊括諸經，旁通眾說，為幾於道也。又何文字之可泥，意見聰明之足恃哉？抑余更有進焉，王充不云乎？春秋王道之權，在一身有一身之權，在一鄉有一鄉之權，在天下有天下之權，用雖不同，權則一也。由斯說也，廣醫之權而用之，治天下不難矣。誰謂醫國醫民有二理哉？仍介又安質之達士，達士其勿以予言為河漢也夫。</p>
<p><u>辛丑陽月望前三日邗上柳彬廷章氏拜書</u></p>

<h1>繆序</h1>
<p>醫者，道也。夫道無對，唯權有以准之也。我中表王子達士，究心於醫者歷有年所，凡遇一病，未敢輕為投治，必細審其根由，詳視其變態，然後以古人之法，運以心裁，故無往不利，而遠近內外，靡不帖然悅服。曰善哉，技至此乎！達士語余曰：「予之所好者，道也。進乎技矣。始予學醫之時，所見無非可醫者，三年之後無一可醫也。方今之時，一若予以神遇，而不以目視，官知止而神欲行，依乎天理，批隙導窾，因其固然。今予之醫三十年矣，所治數千人矣，而醫道若新發於硎，故取曩日所治之已效，與所論定而不治者，筆之於書，名曰《醫權》」。嗚呼！王子之心苦矣。今之號為醫者，非執方以治病，即取病以試藥，求其變化因心，不泥乎法而亦不離乎法者無有哉！余因進而詰之曰：「未始有對者，權也。子之所謂權，即謂之道樞也。可樞始得其環中，以應無窮，可乎可，不可乎不可，醫固有所可，有所不可，而一以權准之。」善哉！權之為功大也。予因搦管為之。而樂附片語於簡末。</p>
<p><u>康熙辛丑蒲節後五日默庵弟繆偉望書於赤岸之倚云軒</u></p>

<h1>自序</h1>
<p>余從事醫林近三十年矣，所治之症，每不能與古人相符者何也？蓋病情交錯，本無定體，醫亦隨機而變，安可執一以治之？故方之中有權在焉。昔人有云：「讀十年書，天下無一可醫之病。」醫十年病，天下無一可讀之書。」此誠研窮久而閱歷深，能得權之妙者矣。夫古人創立方書，無非為後人入道之門，若適莫相乘皆非妙理，所以武穆論兵，謂運用之妙存乎一心，蓋此意也。雖然，豈易言哉？苟非博覽群書，取精用宏，則遇一奇症，胸臆無主，顛倒錯亂，毫釐千里，安能隨機應變，奏功於旦夕耶？今夏偶檢敝簏，取平日所治奇症之案，與所論醫理，內有及載與不及載者，因潛心追憶，取而釐定之名曰《醫權》，授以鋟梓。用敢質諸同道，非敢薄視夫古人。亦以見醫道之始於有書，終於無書，既不可離乎書以治病，亦不可泥乎書以立方，管見如是，不識高明有以教我否？</p>
<p><u>康熙辛丑榴月中浣之九日勵齋王三尊自序於心遠洞中</u></p>

<h1>凡例</h1>
<p>是書無論醫案，凡一切醫事，有所發明，少補醫林者，悉記之。</p>
<p>是書一編分為上下，上論下案，論記五十有五，案記七十有八，編以次第，以便查閱也。</p>
<p>是書創自辛丑，追憶三十年前之事，其有脈症不能盡記者，遂闕如，不敢虛作巧合，遺誤後人也。</p>
<p>案中同事輩，有粗庸誤人者，其姓名不書，相濟成功者必書，為其隱過而揚善也。</p>
<p>是書無階級可尋，必已成之醫，方能測其端倪也。</p>
<p>是書所記之症，所論之事，必古書所未載，今人所罕見者。若案案載入，論襲前人，則是依樣葫蘆，不可勝載矣。</p>
<p>是書雖不泥古執方，然亦理所必至，其勢不得不然者，此即聖門之權中庸之道也，若云妄作驚人，則吾豈敢？</p>
<p>是書直講症情病理切要處，即堪輿家看龍氣水口之下手處也。一切迂遠穿鑿附會之談，悉置之。</p>
<p>道先經後權，經多權少，此書所治之症，乃百中之四五，不可以此法概治尋常之症也。</p>
<p>予偶有粗疏之處，亦記以自檢，不敢自掩其過也。</p>
<p>是書但在實序其事，不尚文飾，辭句粗鄙，幸毋噴飯。</p>
<p>是書所載之症，大半系外感時疫，雜症終易治，不若是症之投劑少差，立見殺人，故治雜症雖多，存案則少耳。</p>
<p>是書瀉多於補，非偏於用瀉，以時疫外感用補者，畢竟百中四五。</p>
<p>是書所載之條，乏貲不能盡刻，茲其大略云爾。</p>
<p>附重梓《傷寒論翼》與《古今名醫方論》二序於後者，因序有志未果，欲使天下之人，知有《名醫匯粹》八卷，同心搜輯，重梓以光於世也。</p>
<p>一附擬黜巫狀於卷末者，欲當世之顯仕君子，特振義舉，黜邪崇正，以免邪術殺人之慘也。</p>

<h1>卷上</h1>

<h2>論達原飲第一</h2>
<p>吳又可治瘟疫，用達原飲，發前人之未發，誠妙論也。然予有辨焉，彼云毒藏募原一日，則害正氣一日，故用檳榔、厚朴、草果，速開募原，使疫邪早潰，全正實多，然此為正氣盛者言也。若虛弱之人，再進此藥，中氣愈餒，何由鼓盪疫邪而出？非徒無益而反害之矣。疫症理同痘症，痘藏於腎，種之先天，故發遲，疫藏於募原，種之後天，故發速。痘症用升發清涼而出者固多，然間變有始終用補中益氣湯及保元湯而愈者，須知補正即所以發毒也。古用人參敗毒散治疫，未始不有高見？但痘與疫皆系火毒，瀉多於補耳！若謂有瀉無補，恐無是理也。自《瘟疫論》與《救偏瑣言》一出，則世之患疫與痘者，不死於補，而皆死於瀉。不獨此二症為然，凡病皆有虛實兩端，正氣實者無虛症，正氣虛者無實症，實者驅邪以全其正，虛者養正以驅其邪，其義一也。又有實多而虛少，當瀉多而補少，實少而虛多，當瀉少而補多，有當先補而後瀉者，有當先瀉而後補者，但要絲絲入扣，不可妄施則得矣。所以治病有始中未三法，與補瀉兼施之理，此理大合兵法，有兵精糧足直攻其寇者，此治病之初法，即瀉法也。有糧草不繼，寓兵於農者，此治病之中法，即補瀉兼施之法也。有國氣空虛，寧受巾幗之辱，而終不與之一戰者，此治病之未法，即補法也。又知實症之最者，雖終亦瀉，虛症之最者，雖初即補，若概以達原飲施之，能免虛虛之罪乎？</p>

<h2>論《瘟疫論》禁用石膏、黃連第二</h2>
<p>《瘟疫論》云：石膏、黃連寒而伐胃，閉痼疫邪難潰，且黃連守而不走，不若大黃之走而不守。雖然，不可執也。大黃固走而不守矣，彼動用白芍，又能寒而走乎？況石膏可以發汗，豈寒而守乎？其有大渴飲冷，六脈洪數，不合承氣湯者，非石膏而何？其有下後不愈，不合再下者，非黃連而何？但佐以氣藥則善矣，又何禁而不用耶？</p>

<h2>論感寒時疫伏脈第三</h2>
<p>元胃有舊疾，或痰飲，或飲食，或氣，或血之類，復感寒，或染疫，雖渴而喜熱飲，脈反伏而弱，胸中必有痞滿噯氣疼嘔諸症，用藥當從瀉心湯之例，寒熱並施，更兼枳、桔、青、樸、檳榔、草果之類，選而用之，或佐九蒸大黃，每見殊功。若誤認虛寒，投以溫補，禍不旋踵矣。</p>

<h2>論感寒疫症下利不同第四</h2>
<p>感寒太陽陽明合病下利，用葛根湯解表，太陽少陽合病下利，用黃芩湯和解，少陽陽明合病下利，脈滑而數者，有宿食也，承氣湯下之。謂太陽陽明合病，少陽陽明合病，皆兼陽明，太陽少陽合病，陽明居中，更無所逃，是知陽明水穀，受兩經之寒邪擾亂，必致下奔也。至於瘟疫下利，或疫邪自募原傳胃，或胃中原有積滯，因熱毒擾亂下奔，皆屬內症，舌白胎者，小柴胡湯合達原飲加減清之。黃潤胎者，三消飲雙解之。黃燥胎者，承氣湯急下之。始而自利，終必大下，以其疫邪傳胃，與胃中原有積滯之症，皆當大下也。須知治下利則同，而所治之理則不同。</p>

<h2>論小柴胡湯為疫症要藥第五</h2>
<p>時醫治傷寒，始終一小柴胡湯。蓋太陽陽明二經之麻黃湯、桂枝湯、大小青龍湯、葛根湯等方，最難用，用之下當，適足敗事，莫若守一小柴胡湯為最妥也。邪在少陽者，用之恰當。即在太陽陽明者，多服幾帖邪自外出。然未至少陽而先服，反能引邪入內，惟在疫症，雖不始終以之，除三承氣湯症外，皆可加減治之。蓋傷寒自外入內，首太陽，次陽明，又次少陽，疫症自內達外，首少陽，次陽明，又次太陽，故以小柴胡湯為第一方，未有少陽門開，而陽明太陽之門終闔者。如系汗愈之症，始終一方加減可治。若兼傳內，則始同而終又異矣。是知小柴胡湯為疫症要藥，非傷寒要藥也。</p>

<h2>論時疫感寒生死法第六</h2>
<p>時疫與感寒，脈滑數，重按有力者，一定生症，如脈虛弱，神情鎮靜，未至大虛，猶可治也。更有伏脈、結脈、本脈之辨，不可誤也。若脈虛弱，或促數空虛，或細數無神，加以譫妄躁亂，舌無厚胎，此正虛邪盛，必死症也。</p>

<h2>論外感時疫下早之誤第七</h2>
<p>今之庸醫，未熟讀仲景之書，而粗看又可之書，無論感寒時疫，首以一汗，汗出不愈，繼而一下，以為汗則表解，下則里解，病無逃遁矣。殊不知其病情隱匿，醫理深微，有非汗下所能頓愈者。若果爾，則仲景之三百九十七法，一百一十三方，將安用乎？外感不同時疫，汗下不拘日數，然下早變症甚於時疫，以其從外而之內也。時疫雖從內之外，下早亦難治。蓋人身之陽氣七日一轉，自得病之日，至第七日，一陽之氣來復，疫始送出，輕則自汗而解，重則定下而解。其有不俟七日而愈者，乃稟氣素足，竟送疫外出，不待一陽來夏也。汗解者，自汗而解。下解者，必有下症迫之，不待七日始下也。若待七日始下，則危矣。然此百中之一二。其六日自愈之症者，良醫用藥必使經絡疏通，津液不枯，正氣不損，內結漸消，至期何難愈乎？其復者。亦七日愈，汗者仍汗，下者仍下。今之患疫者，苦於迫促，醫者又不明此理，急於求功，見汗不解，別無他法，驟然一下，以冀頓愈，正氣有虧，行機忽蹶，表熱陷入，痞滿立至，經絡阻滯，疫邪難潰，輕則牽延時日，重則變為死症，安望至期即愈乎？《瘟疫論》雖云屢下，然胸有定見，絲絲入扣，下則愈，不下則不愈，非若庸醫之懵然用下也。雖然，必先熟讀仲景之書，再細玩又可之書，更須閱歷深久，不致膠柱鼓瑟，方能從容中道。</p>

<h2>論時疫每夾外感內傷第八</h2>
<p>時疫之中，每夾內傷外感，是一病而三病兼之，不可不察也。蓋疫症盛行於春夏，而此時寒熱不均，衣服時時更換，易致外感，但輕於冬月，用藥又須斟酌耳，此似是而非，實兩症也。再病疫之家，服勞者，早夜不眠，飢寒交集，憂怖焦思，不但外感易，而內傷更多，復染於疫是三病而為一病也。醫者，當辨其孰重孰輕，孰有孰無，須要絲絲入扣，不可概以疫病治之。辛巳歲，予夫婦病疫虎墩，其時雖疫氣大行，然亦因母久病，早夜服勞，兼之逝後經營百端，是三病皆有，然必以內傷為重，故所治之藥，皆補內傷，不涉寒門疫門一味，此虛重邪輕，故可以補正而邪自去也。</p>

<h2>論三陽經用表藥法第九</h2>
<p>後人謂仲景太陽經用麻桂，陽明經用葛根，少陽經用柴胡。若在太陽用葛根，陽明用柴胡，是為引賊入內。此言誠是，然為斷章取意而言，尚未體會仲景全書，得仲景活法也。仲景云：「太陽病，項背強几几，反汗出惡風者，桂枝加葛根湯主之。」又云：「太陽病，項背強几几，無汗惡風者，葛根湯主之。」是太陽亦用葛根矣。又云：「傷寒六七日，發熱微惡寒，肢節煩疼，微嘔，心下支結，外證未去者，柴胡桂枝湯主之。」又云：「傷寒八九日下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側者，柴胡加龍骨牡蠣湯主之。」又云：「傷寒十三日，胸脅滿而嘔，日晡所發潮熱，已而微利，此本柴胡證，下之而不得利，今反利者，知醫以丸藥下之，非其治也。潮熱者，實也。先宜小柴胡以解外，後以柴胡加芒硝湯下之。」此三條仲景雖未貫太陽病三字，然而後賢列之太陽篇中，是太陽不但用葛根，而且用柴胡矣。又云：「陽明病，脈遲，汗出多而微惡寒者，表未解也，可發汗，宜桂枝湯。」又云：「陽明病，脈浮無汗而喘者，發汗則愈，宜麻黃湯。」是陽明亦用麻桂矣。又云：「陽明病，脅下硬滿，不大便而嘔，舌上白胎者，可與小柴胡湯。」又云：「陽明病發潮熱，大便溏，小便自可，胸脅滿不去者，小柴胡湯主之。」是陽明病不但用麻桂，而且用柴胡矣。又小柴胡湯加減法：「若不渴，外有微熱者，去人參加桂枝，溫覆取微汗愈。」又云：「傷寒五六日，已發汗而復下之，胸脅滿而微結，小便不利，渴而不嘔，但頭汗出，往來寒熱心煩者，此為未解也，柴胡桂枝幹薑湯主之。」此二條，仲景亦未貫少陽病三字，然後賢列之少陽篇中，是少陽亦用桂枝矣。總而論之，人身之營衛經絡，一氣相通，才感外邪，即傳變不一，當隨合併之有無多寡，與寒熱之內外淺深用藥。如不渴，麻桂成方可用。如少渴，可加葛根。舌白胎，可加柴胡。其白芍、黃芩、花粉、石膏等，斟酌加入，不必拘拘於麻黃、桂枝、葛根、柴胡等湯之不可化用也。此專為外感發表而言。若夾內症，必兼治方效，仲景逐條立法定方以嚴其律，觀書者，當通篇融化以得其神，方為體會仲景全書、得仲景活法也。至於春秋感冒，或溫疫初發，太陽經麻桂既不可用，可代以羌活。若至初夏，又當代以蘇葉。盛夏，又當代以薄荷，或防風。然熱時有反寒者，寒時有反熱者，又在乎人之通權達變也。</p>

<h2>論傷寒時疫下症當以舌胎為第一義第十</h2>
<p>傷寒下症，最當珍重，若下早，症變結胸，固為可懼，若下遲，則津液乾枯，更為死候也。予不得不為細論之。仲景以汗出多，不惡寒，反惡熱，脈大，譫語，煩躁，發作有時，心中懊憹而煩，短氣而喘，腹滿痛，繞臍痛，目中不了了，自利清水色純青，厥諸症，斷為下症。然汗出多，不惡寒，反惡熱，脈大，有白虎湯症；譫語，有少陽經症；煩躁發作有時，有陰躁虛煩之不一；心中懊憹而煩，有梔豉湯症：短氣而喘，有太陽經症；胸腹滿，有表症；繞臍痛，自利清水，色純青，厥，有陰寒症；目中不了了，有奪精，脫氣，脫血諸症；皆不足憑，節葊又以脈沉斷為下症，謂脈沉為歸里，理甚通，然此為脈實素無他症者言之可耳。若脈弱之人，或兼素有痞結之症，邪才歸胃，脈愈小弱，重按無力，全似陽症陰脈，蓋因脈弱氣結，再兼火氣堅縛，愈伏不出，故有此象。昔人云：陽明症，多假脈。人但知其言，不解其理。蓋陽明為氣血發源之所，藏痞結之藪。一有痞結，則氣血凝滯，故脈或伏或結，甚至小弱如無。人只知沉而有力為積，殊不知沉而無力亦有有積者。此予素所經歷，外感時疫，參以內症，俱緩下而愈。內傷亦先瀉後補，或先補後瀉，與補瀉兼施，若誤認脈虛，遽然大補，內傷猶可，外感時疫，禍不旋踵矣。是知最強最弱之脈，皆在陽明，故有「陽明病，多假脈」之嘆也。此下症脈沉之不足憑也一端矣。又予治丁尚志之婦，肺素不清，兼之外邪傳肺，而喘咳不止，又兼傳胃，而舌乾飲冷，脈因咳而氣上當浮，又因舌乾胃實當沉，二者兼之，全似白虎湯脈，浮沉著中，重按不實，細揣腹中，雖滿而軟，然指彈膨響，大便亦通。予以舌乾為急務，以小承氣湯，生熟軍各半，加桔梗、蔞仁，三下而舌潤渴止。但咳不止，單以清肺而愈。以此症觀之，則又有白虎湯脈，而當用承氣湯之症者，詎不怪哉？此下症脈沉之不足憑也又一端矣。如此者不可勝記，以予斷之，莫若以舌胎為第一義，為有諸內必形諸外，簡直易明，不可欺也。邪在大陽與陽明之經者，舌無胎，在少陽經則有白胎，才歸陽明之腑，則舌轉黃潤矣。若兼胃中痞滿，而猶帶寒熱往來者，大柴胡湯。若兼大渴飲冷者，合白虎湯。若無寒熱往來而胃口痞滿者，小承氣湯。若痞滿亦無而譫語者，謂胃承氣湯。若舌黃少干，惡寒全無者，大承氣湯。兼痞滿譫語者大下之，無痞滿譫語者小下之。若直待下症俱全，再徵之脈沉而始下，則百無一生矣。又有白砂胎者，亦承氣湯症也。必有實症可憑，舌雖白而砂，與津液不生之虛干舌異。又有厚灰胎者，乃素有痰滯，亦承氣湯症也。又有厚白胎者，乃小柴胡湯加枳樸症也。又有下症而終無結糞者，但當辨其表症全無，胃中必有痞結不快處，或噯氣，或先曾嘔逆，或腹彈膨響，舌兼黃潤者，小承氣湯。舌無胎者，檳榔丸，或滾痰丸，及白散等，選而用之。此乃滯重火輕，不必拘拘於仲景之下禁丸藥也。又有胎雖黃，薄而流轉如荷珠狀者，與舌忽干忽潤而無胎者，皆虛症也。其時疫下症，較傷寒略先一步，然亦必以舌黃為據。若下之太早，變症亦為可懼。又有舌雖黃燥而無汗，必下之，自汗隨至，若以傷寒為例，直至汗出多而始下，則殆矣。瘟疫症，吳又可論之最詳，此不過姑引一條，以徵舌黃當下之要訣耳，余不贅。</p>

<h2>論感寒時疫有禁食不禁食之說第十一</h2>
<p>外感時疫，有言得病即粥湯粒米不可食者，有言飲食始終全不當禁者，議論紛紛不定，予為細言之。蓋人之胃氣強弱不同，有天壤之殊，不可執一。其強者，胃氣充運兼之素無積聚，雖有外感內疫，不能阻滯氣道，食入易消易飢，烏足為患？外邪不能深入，內疫亦自易出，病易愈耳。若不明此理，妄禁飲食，中氣一餒，外邪反致深入，內疫不能鼓盪而出，變為危候也。虛弱之人，胃氣原不充運，或兼素有積聚，一經風寒外束，疫邪內發，胃中早已痞滿，不飢不食，若再飲食強進，則必中宮填塞，變為承氣、陷胸、瀉心等湯，及白散、檳榔丸諸症。若小下，則不能開其結。若大下，恐中氣莫支，補瀉兩難措手。莫若聽其不飢不食，使經絡易通，以小柴胡湯加減和之。俟一陽來復之期，或可自愈也。然感寒自外來，未至深入，猶可食粥以御其邪，時疫從內發，當察其果無痞滿與舌厚白胎，而能易食易飢者，方可以稀粥與之。</p>

<h2>論感寒時疫有食復不食復之異第十二</h2>
<p>感寒時疫，其愈有二。有舌無胎而汗解者，此內症本無，愈後即可食稀粥。若舌胎黃燥，或汗後下愈，或下後汗愈，內火不能遽清，雖米飲下咽立復。必使頻飲松羅濃茶，俟小便淡黃如象牙色，方可漸進稀粥也。</p>

<h2>論傷寒時疫過經不解第十三</h2>
<p>傷寒過經不解，喻嘉言謂邪在身中日久，勢必結聚三陽，太陽為多，少陽次之，陽明又次之。若在三陰，生死反掌，不若是之久持，理固近矣。孰知純表症者，只在七日自仍。若不愈者，必有內證勾結表邪不散。予謂陽明而兼少陽太陽則有之，若舍陽明則未也。觀仲景過經不解諸條，或與謂胃承氣湯者，乃純陽明症也。或先與小柴胡湯，後與大柴胡湯，及柴胡加芒硝湯者，乃陽明而兼少陽也。至於太陽治法，仲景全無。有一條，內云：先此時自極吐下者，與調胃承氣湯。若不爾者，不可與，但欲嘔胸中痛，微溏者，此非柴胡證，喻氏因承氣、柴胡二湯不可與，遂斷為太陽症。予意嘔痛必兼陽明，豈單太陽乎？是知太陽少陽之單症絕無也。若屢表不解，必細辨內症，或滯，或痰，或氣，或血，或蟲，表裡兼治，自可立愈。何致過經不解乎？若疫症過經不解，則毫無表症矣。</p>

<h2>論感寒時疫當以利水為第二義第十四</h2>
<p>感寒以麻桂發表為第一義，時疫以小柴胡湯和解為第一義。《瘟疫論》又以達原為第一義，然此劑剛猛，當看元氣虛實，胸膈痞滿有無用之。予意二症之第二義，在於利水，何則？蓋熱邪壅滯經絡，茶水難於升降，易致停蓄而成水結胸之症，必仿五苓之義，表裡分消，上下疏通，常使經絡不閉，庶幾易解耳？然必細辨其果系水停，而非痰食氣血之停，或水停而兼以氣血痰食之停，用藥須絲絲入扣，方不有誤。其利水之藥，惟滑石、木通，性涼而利水最速，且能發汗，勝於二苓、澤瀉。</p>

<h2>論外感發汗與時疫自汗迥異第十五</h2>
<p>感寒發汗，與時疫自汗，其病情迥異，用藥懸殊天壤。夫外感之初，表有熱而內無熱，故服麻桂辛熱之品，一驅而表邪盡出矣。漸轉入里，方用葛根、柴胡、白虎、承氣等湯。是知在表則汗愈，在中則和解清涼愈，在裡則下愈。下症必先有汗，若無汗，必先汗而後下。疫從內發，熱毒在內而應於表，故首禁麻桂，當以小柴胡湯和之。以少陽乃從內之外之第一層門也。然用之有汗，亦不能解，以疫邪不能遽從募原達表。若用之無汗，乃疫邪，或內症阻閉，不可強發，仍以小柴胡湯，加以清涼疏通之品，日日與之，使疫火漸消，陰氣漸復，經絡疏通，至七日一陽之氣來復，輕者邪從募原盡達於表，自汗而解，不必再藥。重者，舌必黃燥，如終無汗，縱有汗亦不遍，以三承氣湯斟酌下之，使火毒去而津液生，則舌必先潤，自汗乃至，此水到渠成之理。若舌仍乾燥，而汗出者，頃刻亡陽之症。是感寒下在汗之後，疫症下在汗之前，感寒發汗宜助陽，疫症發汗宜養陰也。然外感發汗宜微，毛竅少通，而邪自外出，若大發其汗，則津液乾枯，反成危候。疫解之汗，陽氣被閉日久，至來復之期，疫邪暴潰，內火與正氣並伸，其汗必漸出如雨。雖解後，若少進熱湯，則津津汗出，必一七，或二七後，內火盡消，胃氣大復，方能自止。若不明此理，自汗時，恐汗多亡陽而遽止之，則從表所出之邪，仍返於內，輕則結聚少陽之位而發頤，重則結聚胸胃之間，無異結胸，甚可懼也。</p>

<h2>論感寒與時疫之嘔不同第十六</h2>
<p>感寒惟太陰一經屬吐，其餘五經皆有嘔症，有發表，和解，攻下，雙解，去痰飲，消積滯，散逆氣，安蛔，利水，除膿，溫補，清涼之不一，種種治法。茲不細述，惟舉少陽一經之乾嘔言之。蓋少陽之嘔，為邪在半表半裡之間，表邪欲傳於內，裡氣欲伸於外，互相爭拒，故此經必乾嘔也。舌現白胎，當以小柴胡湯伸其正氣，驅邪外出，而嘔自止矣。舌黃潤者，當用大柴胡湯，或柴胡加芒硝湯。再兼以上諸症者，須兼治方效。至於疫症之嘔，乃疫邪內發，阻塞於胃，其將潰未潰之勢，鬱而不舒之象，亦現乾嘔之症，舌亦白胎，當以達原飲加柴胡破結以促其潰，邪潰而嘔自止矣。舌黃潤者，又當加以熟軍，或芒硝。再兼以上諸症者，亦須兼治方效。一取上升，一取下降，相懸天壤矣。舌乾黃者無嘔症，以外邪內疫已經結實，乃承氣湯症也。</p>

<h2>論柯韻伯「寒傷於表，法當溫散。寒傷於裡，法當溫補」之句第十七</h2>
<p>柯韻伯《風寒辨惑論》有云：「夫開口言傷寒，動手即用寒涼克伐之劑，曷不於傷寒二字，顧名思義耶？寒傷於表，法當溫散，寒傷於裡，法當溫補。」此誠千古明言，然特為好用寒涼克伐者矯弊耳。夫「寒傷於表，法當溫散」者，乃寒感之初，內未有熱，即當用溫散之劑，驅出寒邪，立愈矣。若邪已傳內，鬱火已生痰飲被其煎熬，胸將熱結，則又當權其表裡寒熱之輕重，胸胃痞結之有無而兼治之，汗始出也。不然，則仲景只當用麻桂二方足矣。又何須用青龍、越婢、陽旦、柴胡、黃芩等湯而解表乎？若胸有熱結，非枳、樸、蔞、連以開結清熱，則裡氣閉塞，而表終不解。此症瘟疫居多，而感寒間有，然方法自可通用。至於「寒傷於裡，法當溫補」，當歸「直中」一門，此惟喻氏分辨最詳，可不復贅。觀此豈非柯氏特為好用寒涼克伐者矯弊乎？</p>

<h2>論《傷寒發明》第十八</h2>
<p>崇川程繩玉先生，近著《傷寒發明》，所遵柯韻伯十分之六，喻嘉言十分之二，方中行十分之一，余則發以己意，可謂集大成矣。然愚意猶有未盡善者，如所論柴胡桂枝龍骨牡蠣湯一條，闢喻解最當。其餘論太陽經傷寒若吐若下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊之「緊」字，少陽經陽微結之「結」字，少陰病心下溫溫欲吐，厥陰經臟厥蛔厥諸條，並「差後勞復，凡病邪既至，不可輒認為實，須防正氣因攻而虛；病邪去，不可輒認為虛，須防餘邪因補而復集」之語，皆另具手眼，超越千古矣。且能體認某句當在某條之下，斷章分注，絲毫不爽，非此中面壁多年者不能也。獨怪將柯氏之書，斷章而下復合，未免反掩柯氏之心法。程言「柯氏《傷寒論翼》，為上智者言，恐時人不明，斷章分解於各條下，使人逐條即明」，亦善法也。孰知柯氏之意？謂古今所注者，惟逐條註解，未有通論三百九十七法，一百一十三方者。若逐條看注，未免顧此失彼，泥於一法一方，有膠柱鼓瑟之嘆。故講一法，則舉眾法比類而推講之。論一方，亦舉眾方比類而推論之。遂覺仲景通身手眼，俱在目前，令人渾化而得之也。程氏斷章而不復合，仍與眾識無異矣。予意必將柯氏全書刊附於後，使讀者先逐條以明其說，次渾化以神其用，方稱全書，方得柯氏心法也。予曾會大世兄孟宣，言及此意。孟宣云：「家父在日，亦曾言及，因艱於刻資，故爾未曾刊附」。</p>

<h2>論賁豚症有虛實不同第十九</h2>
<p>《內經》無賁豚症，只有伏梁症二。伏梁即賁豚也。《難經》始分五積之名，以心積名曰伏梁，腎積名曰賁豚。謂腎為水臟，豚為水畜，臍下乃腎位，故名賁豚。又其氣跳動，狀如豚之上賁也。是二症，一系內癰，一系風根，皆素有之實症，經云不可急攻，東垣制五積丸，攻補寒熱兼施，治之甚當。又仲景書云：「燒針令其汗，針處被寒，核起而赤者，必發賁豚。氣從少腹上衝心者，灸其核上各一壯，與桂枝加桂湯更加桂。」此係即出之虛症，仲景借前賁豚之名，以名之也。蓋其人，腎氣本虛，不當大發其汗，而燒針令其汗出，則強發可知，胃陽一虛，不能蔽護腎陽，故腎陽發動上奔，若治之少緩，頃刻亡陽而死矣，故以桂枝湯三倍其桂，招之內入，白芍斂之下行以安其腎，甘草助胃陽而蔽腎陽，純為治里之劑，而非復解表之桂枝湯矣。按仲景所用雖皆云桂枝，然其中實有當用肉桂者，不可不察，此方是也。此症最少，初時當推麻黃附子細辛湯義治之，方不有誤。前症最多，前症而兼感寒者亦復不少。小腹雖然跳動，乃素有積氣，鬱而不伸所致，終不能越關而上，當以感寒之藥，兼降氣疏通之品治之。醫人若少經歷，而謂仲景方法，原為治傷寒而設，不可移易，重用肉桂，豈不益其內焰，津液乾枯而死乎？仲景遺其多而反言其少者，為實症易治，虛症難防，恐蹈虛虛之弊，則有頃刻亡陽，駟馬難追之患也。</p>

<h2>論薄菏第二十</h2>
<p>疫症本系火毒，非感寒可比，故太陽經禁用麻桂改用羌活。然予猶嫌燥烈，莫若蘇薄荷為最。蓋薄荷辛能發表，香能驅疫，涼能解火，味最尖利，專能開竅，豈不一物四擅其長乎？疫症本無外邪，且在春夏，最易得汗，不必藉羌活之燥烈也。然必以柴胡為君，以薄荷為臣，口渴再加葛根，而汗未有不出者。若數帖而汗不出，必有他症閉之，兼理他症，其汗自出。</p>

<h2>論滑石貫眾第二十一</h2>
<p>前云薄荷發汗，乃見太陽表症。如汗出而表不解，兼口渴溺澀，此七日自汗症也，《溫疫論》用柴胡清燥湯治之。蓋疫症最喜涼而疏通之品，滑石最為相宜，每劑加入，洵取自汗之妙藥也。貫眾苦毒微寒，能破癥結，發斑疹，解腹痛，闢瘟疫。疫症胃口痞滿，結痛者，用之最當。何吳又可置而勿論乎？</p>

<h2>論熟大黃第二十二</h2>
<p>《溫疫論》喜用生大黃，未曾言熟大黃之妙。蓋舌胎黃燥者，當用生大黃矣。若雖黃而潤，大便不結，生軍未可多用，少用又不見效，當生熟軍並用之。如曾經發汗後，舌未轉黃，胸膈痞滿而痛者。此原有積滯，當以柴胡清燥湯加枳、樸、熟軍微利之。此即大柴胡湯之意。若待舌黃燥，方以生軍下之，是養虎貽患矣。夫寒之最者，莫如黃連，用之火不能下，即用熟軍一錢，次日必小便如血，蓋大黃乃推陳致新之品，驅邪直下，加以酒蒸多次，能將巔頂之火，驅之二便而出，誠妙藥也。即雜症積滯，痰飲，火眼，火痘，實痢，實瘧，或單用，或佐以他藥，每見殊功。吾聞維揚之風，棄而不用，縱風土卑柔，豈無十中一二強健者？須知大黃所愈之症，決非他藥可代。若當用不用，或反執補正而邪自去之語，是齊元為周師所圍，尚講老子，安得不亡乎？</p>

<h2>論夏月小兒內傷外感第二十三</h2>
<p>夏月小兒，腹脹，身暴熱，或有汗，或無汗，或時有汗，或時無汗，此症固內傷飲食，然外兼風寒暑濕者強半焉。蓋此時小兒，或裸體乘涼，或就風熟睡，或暴日嘻戲，或濕地久坐，故此時最多內傷外感之症，即瘧痢之源也。幼科不明此理，以為身熱單系內滯所致，止以腹脹為憑，動用下藥，殊不知內傷之食一去，而外感之邪陷入，重則變為結胸不治，輕則變為痞滿。醫見痞滿，更下之，小兒元氣未全，遂變慢驚不治矣。又輕者，邪陷半表而為瘧，或深入腸胃而為痢，此皆專門幼科之罪也。良醫於此，必細辨外感之有無，方為善治，故喻嘉言以小柴胡湯治痢，亦此義也。</p>

<h2>論《內經》無痰瘧滯瘧第二十四</h2>
<p>《內經》論瘧，皆本風寒暑濕，並未言及屬痰屬滯者，然後人有「無痰不成瘧，無滯不成瘧」之語，以痰以滯治之甚效，豈古人反不及今人耶？蓋古人片言居要，只言病根，而後人因此識彼，闡發其變，二者不可偏廢也。瘧由風寒暑濕漸入而不覺，遂藏少陽，數日後，發為瘧疾。若如感寒之驟入，則必一病不起，尚待數日始發，而猶在半表半裡，半病半愈之間，故猶然飲食，葷腥不禁，不知邪既中人，經絡早已凝滯，其飲食葷腥，不能變化精微，反能助桀為虐，而變為痰滯也。其外邪一與痰滯相搏，勾連不散，日久結為瘧母難愈，故後人治痰與滯，每每見效者以此。詎非《內經》言風寒暑濕者，為致瘧之本，而後人治痰與滯者，闡其變乎？</p>

<h2>論《內經》脾病而四支不用第二十五</h2>
<p>脾病而四支不用，有虛有實。《內經》專主於虛，謂脾主四支。今脾氣虛弱，不能為胃行其津液，以灌溉乎四支，故四支不為用也。然體肥善飲，素多痰火者，一旦發動，經絡壅塞，四支疼痛，亦不為用。此亦脾家之病，較前症更多。一宜補正，一宜滌盪，相懸天壤，細參內症色脈，自不能掩矣。</p>

<h2>論《內經》論「新產及大病後不可瀉」與朱丹溪言「產後當以大補氣血為本，雖有雜症，以末治之」第二十六</h2>
<p>《內經》有五奪不可瀉，以新產及大病後居其末。後朱丹溪又云：「產後當以大補氣血為本，雖有雜症，以末治之」。以此聖賢之語觀之，似新產與大病後無實症矣。抑知產後之實症，不少於虛症，大病後之實症，尤多於虛乎？夫聖賢之意，為此二症，關係甚大，設用溫補不當，猶可改救，若蹈虛虛之弊，則立見殺人，故專以虛立論也。蓋產後之虛實當以生產之難易，惡露之多寡斷之。產難下血多者，雖壯實之人，多屬虛症。產易下血少者，如瓜熟落蒂，雖羸弱之人，不至大虛。又有胎前有病者，多屬實屬火，若果大虛，何能養胎？胎氣壅窒氣道，飲食鬱滯易為痰火，是知實火之症，一經產後，有變為虛寒者，有變為半虛半實者，有仍系實火之症，而終不變者，未可因產後而盡以溫補治之也。況生產之家，或頻進產婦糯粥以安其胎，或多食雞子以暖其腸，或時飲椒酒紅糖以溫其中，或常燒熱磚以熨其腹，或過飲人參圓湯以補其虛，或早食肉羹以開其味，是皆與實火之症，相助為虐矣。醫人不明此理，而膠柱鼓瑟，惟執《內經》、丹溪之語，而強進參、耆、朮、草、歸、芎溫補之品，見熱愈熾。又以為下寒上熱，繼以附、桂、薑、吳等，則中宮如火加油，變症百出，至死不敢用寒涼消導之劑。悲夫！其瘀血不清，亦不出虛、實及半虛半實三種治法。至於大病後，若未入里而汗解者，其症本輕，可以不補。若下解之症，內火不能遽清，米飲下咽立復，尚可溫補乎？須仍進苦寒導赤之劑，但減硝、黃，繼以甘寒養陰，直待小便清白，痰清咳止，一七後，方可漸進溫補。每見大病後，痰火不清，咳嗽不止，醫人不敢再進苦寒，而惟以甘寒潤肺，日久不愈，變為勞瘵而死，此予目擊心傷者也。是愈後即進溫補之症，百中一二。《內經》之語，尤不可泥。此皆予素所經歷，故特表而出之。但中病即止，不可過劑耳。</p>

<h2>論《內經》五奪不可瀉第二十七</h2>
<p>《內經》有五奪不可瀉，謂形肉已奪，是一奪也。大奪血之後，是二奪也。大汗出之後，是三奪也。大泄之後，是四奪也。新產及大病之後，是五奪也。此皆不可瀉。然聖人特言其大關耳，其中實有不盡然者。其新產及大病之後，猶屬實症者，予前已論之矣。大汗出之後，當於予「感寒之汗與時疫之汗不同」論中，想見一斑，俱不復贅。茲特取其餘者論之。如大奪血之後，果系腎水不能制相火，與所出皆鮮血者，即當斟酌於補陰補陽之兩途。若系瘀血，必是正氣充足，始能發動，何大虛之有？若有未盡，仍當下之。其鮮血雖屬當補，若系痘疹感寒時疫之出血者，又豈可遽補乎？大泄之後，若因重用硝黃而行之不止者可補。若下之早，數日後，復聚於胃，與未經下過，而水瀉不止，或小下而稀糞傍流，細審內有實症者，皆仍當下之也。惟有久病形肉已奪一症，是為真虛，死不治。為脾氣久已大傷，不能復振，邪亦固結，不能即去，不但瀉之不能任，即補之亦不能受也。若補瀉兼施，終屬模稜而難挽。故斷之曰：「此真虛症也，死不治。」</p>

<h2>論《石室秘錄》第二十八</h2>
<p>夫《石室秘錄》一書，乃從《醫貫》中化出，觀其專於補腎、補脾、舒肝，即《醫貫》之好用地黃湯、補中益氣湯、枳朮丸、逍遙散之意也。彼則補脾腎而不雜，此又好脾腎兼補者也。雖然，此乃讀書多而臨症少，所謂文字之醫是也。惟恐世人不信，托以神道設教，吾懼其十中必殺人二三也。何則？病之虛者，雖十中七八，而實者豈無二三？彼只有補無瀉，虛者自可取效，實者即可立斃，豈非十中殺人二三者乎？夫產後屬虛，誰不知之？至復感外邪，則火多於寒，胎前諸症亦然，彼皆用附、桂、參、術。類中之症，陰虛多於陽虛，彼動用三生飲。感寒人參難於輕投，彼則恣用無忌。舌胎黃黑，非下不退，甚有屢下之者，彼惟以甘寒養陰，痘症實火多於虛寒，彼多用溫補。何皆異於予之所驗乎？醫貴切中病情，最忌迂遠牽扯。凡病畢竟直取者多，隔治者少。彼皆用隔治而棄直取，是以伐衛致楚為奇策，而仗義執言為無謀也。何舍近而求遠，尚奇而棄正哉？予業醫之初，亦執補正則邪去之理，與隔治玄妙之法，每多不應，後改為直治病本，但使無虛虛實實之誤，標本緩急之差，則效如桴鼓矣。即作文之直接了當法也。夫醫人治病，須斟酌再四，使萬無一錯，十中而殺二三可乎？是書論理甚微，辨症辨脈則甚疏，是又不及《醫貫》矣。且《醫貫》若不經呂晚村先生批評，則亦不可用，而況不及《醫貫》者，可善用乎？至於用藥則大膽無忌，蓋治病不難於用藥，而難於辨症辨脈。脈症既明，用藥不遠矣。若脈症不明，罔識所從，雖有妙理，安能為用？用藥少差，立見殺人，況大膽無忌乎？總之治久病及大虛之症則可，治新病及實多虛少者則不可。治直中陰寒則可，治傳經外感則不可。治內傷勞倦則可，治內傷飲食則不可。種種治法，不過一補而已，何醫道之易易哉？可知是書，終為紙上談兵。觀之者，明其理而緩其用可也。</p>

<h2>論沈虛明費建中治痘迥異第二十九</h2>
<p>沈虛明治痘，好用升麻，有用至三錢者。虛症固用，實症亦用之。謂毒為本，火為標，升則痘毒外出，而火自息也。孰知虛症多用，必重虛其表，實症用之，是以火濟火矣。費建中好用大黃，有首尾不禁者。謂痘系火毒，今又行之火運，火毒未有不上升者。不上升者，皆毒火壅之也。故下奪其壅，則痘必上升。孰知痘雖火毒，必賴元氣鼓盪。若屢下而元氣下陷，何能送毒外出？並噓血成漿哉？二理須渾化胸中，方為治痘良醫。</p>

<h2>論費建中「頻頻欲解仍艱澀」之句第三十</h2>
<p>瀉痢後重努責，有虛有實，書載紛紛，茲不復贅。以此推之，是知痘瀉後重努責，亦有虛實也。費建中雲：「熱毒沖腸便自頻，喜腸傳送毒難侵，頻頻欲解仍艱澀，誤認脾虛終內攻。」今醫凡讀費氏書者，見痘兒後重努責不止，悉認為火，仍用涼瀉，予不得不為一辨之。蓋兒發熱時即瀉者火也。若瀉久不止，與痘初未瀉，醫用大黃行之不止者，皆當與久痢不止，元氣下墜，後重努責者同一治也。蓋火瀉者，糞必焦黃，黏滯惡臭，內必煩躁攪亂，痘必深紅紫滯，根窠壅硬，舌或黃，甚至乾燥，大渴飲冷，此其辨也。虛瀉者，糞必青稀，不惡臭，痘色淡而根窠軟，氣勢餒弱，舌縱干而無胎，為瀉久亡陰故也。喜熱飲，縱飲不多，此其辨也。若以「頻頻欲解仍艱澀」悉認為火，則虛墜努責者，百無一生矣。其有痘初未瀉，至灌漿，或結痂時而忽瀉者，仍系火毒，不可溫補。此費氏言之最詳，予不復贅。</p>

<h2>論治病當以脾胃為先第三十一</h2>
<p>先飲食先入於胃，俟脾胃運化，其精微上輸於肺，肺氣傳布各所當入之臟，濁氣下入大小腸，是脾胃為分金爐也。若脾胃有病，或虛或實，一切飲食藥餌，皆不運化，安望精微輸肺而布各臟耶？是知治病當以脾胃為先，若脾胃他臟兼而有病，舍脾胃而治他臟，無益也。又一切虛症，不問在氣在血，在何臟腑，而只專補脾胃，脾胃一強，則飲食自倍，精血日旺，陽生而陰亦長矣。試看「精氣」二字，皆從於米。噫，微矣哉！是知脾胃實，諸病皆實，脾胃虛，諸病皆虛，此醫家之大關也。</p>

<h2>論治脾胃之法第三十二</h2>
<p>補脾胃之法，可一言而盡，至於治脾胃之法，則非一言可盡者，有先瀉而後補者，有先補而後瀉者，有補瀉兼施者，有屢補屢下者，有消導攻下之不一者，有單瀉不補者，有單補不瀉者，有補胃陽者，有補脾陰者，有陰陽兼補者，有用苦寒者，有用辛熱者，有寒熱並用者，有升舉者，有導下者，有湧吐者，有自大便而出者，有自小便而出者，有經年累月而始愈者，有一朝一夕而頓除者，當博覽諸書，自然得之矣。</p>

<h2>論積聚與感寒時疫下法不同第三十三</h2>
<p>夫感寒時疫皆毒火驟然歸胃，故用硝黃下之。若火根不清，少進飲食，復變為火，故不厭其頻下。火清之後，精氣暴復，不日如初矣，為其元氣素足，被外邪驟困未久，易致振發故也。然而再下之劑，必小且緩矣。至於積聚之症，乃元氣素傷，其病與正氣混為一家，譬如小人已竊其權，若欲驟去，必反遭其害。且鬱積之火，無感寒時疫之熾，故有補瀉寒熱夾雜之治法，漸漸消磨，久積自去。若急欲求功，以硝黃屢下之，則中氣愈虧，不能復振，聚而不運，積聚愈堅，變為中滿而死矣。</p>

<h2>論力作之人與婦女胃中每多積聚症第三十四</h2>
<p>脾胃主運化，喜疏通而惡鬱結，故作樂侑食，有自來也。蓋力作之人，每食必飽，乘飽即用力，用力則氣閉，氣閉則不能運化，故飲食停滯。且氣與食停，則血亦為之阻滯矣。久化為蟲，為痰飲。是知此病結氣、死血、停痰、積飲、宿滯、蟲，皆有也，故發則有胃痛，噯氣，吐蛔，吞酸，嘔痰與死血，氣走注攻痛諸症。並婦女多郁，鬱則氣結，故亦患此症。且此兩種人多不知飢飽，不飢，見食，或美膳，必強食，又好飲冷，冷則冰伏。至於疾發不思食，又以為虛。痰飲鬱火作𩞄，又以為餓。為血少，強食，妄補，積聚有加無已。醫人遇此兩種人，須知多有此症，其治脾胃之法，前已論之矣。</p>

<h2>論羸弱不能生子當補其脾第三十五</h2>
<p>五臟有病，皆能殺人，脾胃又其最者也。故古人「有補脾不如補腎，補腎不如補脾」之語。但當腎病最急之時，而反補脾，脾病最急之時，而反補腎，則迂矣。若於久病羸弱，或始因腎虛，波及脾虛，而不能生子者，吾意當以補脾為要也。何則？蓋精生於脾，藏於腎，腎藥每多妨脾，以致飲食愈減，精何由生？且此時，無失血之症，芤數之脈，不必滋陰，但當用參、耆、朮、草，專補脾胃，歸、芍脾肝兼補，鹿茸、河車，大補氣血，菟絲、山藥、蓮肉、芡實，脾腎兼補，且補脾胃者亦補肺，補肝腎者亦補心，佐砂仁以行脾腎之氣，若少有虛火，加以麥冬、沙參，凡酸澀鹹苦寒涼泥滯，有妨於脾胃者，一切屏去，使飲食倍增，氣血日旺，精自滿足，而能生子矣。即血暴出不止，亦當以獨參湯，先固其氣，以統其血。其有久虛遺精者，脾肺氣旺，自能提攝，古有用補中益氣湯者，即此義也。何必拘拘於補腎哉？若脾胃素強，食量頗佳，而不生子者，不在此論。</p>

<h2>論治病當以人之元氣盛衰為本病為標第三十六</h2>
<p>人之生死全賴乎氣，氣聚則生，氣壯則康，氣衰則弱，氣散則死，醫者可不審人之元氣盛衰以為治哉？夫元氣之盡，不外乎陰陽兩端。蓋陰陽互根，不可偏勝，少偏則病，偏甚則死矣。如陽虛之甚者，先回其陽，繼而漸加補陰之藥，是無陰則陽無以化也。陰虛之甚者，先補其陰，繼而漸加補陽之藥，是無陽則陰無以生也。務使陰陽和平，水升火降，歸於中庸之道而已，不可少有偏見也。有元氣之盛者，雖犯五奪之後，而猶夾實症。有元氣之弱者，雖犯外感，痢瘧痘瘍之初，而便夾虛症。又有平日最壯，而竟得虛症者。有平日最弱，而竟得實症者。此又不可不察也。以上所言之症，乃百中一二，然不細心體察，殺人正恐不少也。</p>

<h2>論用藥效否當責之元氣強弱第三十七</h2>
<p>夫藥者，所以治病也。其所以使藥之治病者，元氣也。故元氣之壯者，得病皆繫有余，少服驅邪消伐清涼之劑，元氣易於運行，其效立見，弱者，雖得外感痢瘧瘡瘍傷食之症，皆當以補益為本，兼以治標之藥，使元氣得以運行藥力以治其病也。若捨本而竟治其標，非徒無益，必元氣愈傷，立見危殆矣。譬如刃者，所以殺賊也。其所以使刃之殺賊者，人力也。若力之強者，雖操輕刃，亦能殺賊。力之弱者，雖操重刃，安能得用？實足倒戈自害也。知此理者，其用藥思過半矣。</p>

<h2>論脈數極多死症第三十八</h2>
<p>脈數，寸中帶促，至七八至者，不但雜症為死病，即傷寒溫疫，最喜數脈者，予每驗之，皆不可治。其症必譫狂躁亂，舌無黃胎，或白胎，或干而無胎，渴飲不多，或喜熱飲，或不飲，或大便不實，或小便清白，或淡黃而清，皆正氣不足，邪氣有餘之象。醫人遇此，縱治之，亦當以生脈地黃湯為當也。</p>

<h2>論脈多右大於左第三十九</h2>
<p>東垣云：「左脈大系外感，右脈大系內傷」。此為初感外邪而言。若鬱火已生，則右大於左矣。每見初感外邪，多不服藥，必待內熱口渴，方延醫診視，醫者不明此理，妄以右大於左為內傷，投劑多致差謬。至於疫症，本系內邪外潰，首即右大於左。痢疾系腸胃積滯，亦右大於左。直至久瀉不止，變為肝木克脾土，方左大於右。久病專以脾胃為主，平人亦以胃氣為本，皆右大於左。惟外感之瘧，與暴怒，系肝膽病，並相火上炎，腎虛亡陽，乃左大於右耳。古云一公子有恙，自帳中出手診視，醫入誤認纖手為女，而云經水不調，至今傳為話柄。予意此亦紙上談兵者所言，若執男脈左大於右，女脈右大於左，則恐將天下大半男脈，皆錯認為女矣。予經歷三十餘年，病脈右大於左者，十中八九也。</p>

<h2>論脈極大多死症第四十</h2>
<p>脈大固為有餘，太大反為不及，不但失血產後、痢疾、脾虛、久病忌之，即感寒時疫，最喜大脈者，每多不救。以其正虛邪勝，脈已離根，殘燈復明之象也。童若愚感寒，王禹訓妻時疫，俱犯極大之脈，重按鼓指，著骨方無，後變小弱，皆未能救，實假脈也。縱治之，亦當以生脈地黃湯為妥。</p>

<h2>論久病而添實脈實症者多不治第四十一</h2>
<p>久病飲食減少，形肉消瘦，氣當虛餒，脈當沉小遲弱，理之常也。此為脈證相符，雖死猶延時日。若忽證添氣粗痰喘，胸膈疼脹，口渴少飲，便黃而清，惡寒發熱，而脈暴大數急，此理之所無，乃真氣發越，頃刻亡陽之症，法在不治。縱治之，亦當以八味、六味地黃湯，或獨參湯、生脈散、參附湯、黑鉛丹、養氣丹、鹿茸丸之類，審其陰虛陽虛而與之也。若謬認虛中有實，先瀉後補，禍不旋踵矣。</p>

<h2>論孕婦忌半夏之謬第四十二</h2>
<p>孕婦用藥，每見忌半夏。凡痰嘔之症，皆不敢用。殊不知孕婦脾虛有火，易於生痰。六君子湯加竹茹，乃妙藥也。今醫惟用四物保胎之藥，膈愈泥，脾愈虛，胎墮必矣。曾見一醫，以娠誤認為痞，凡破血攻伐之藥靡不畢投，其胎終未墮，卒產一男，是知用半夏所墮之胎，雖不用半夏而亦墮，縱生兒，亦未必永年。況古方胎症，不忌半夏。豈古人反不及今人耶？黃帝問曰：「婦人重身，毒之奈何？」岐伯曰：「有故無殞，故無殞也。」帝曰：「何謂也？」岐伯曰：「大積大聚，其可犯也。衰其大半乃止，過者死，是知有病則病受之。」雖遇外感、溫疫、痘疹、痢瘧、積聚之類，當用則用，但衰其大半乃止。若舍此而反用保胎之藥，是助桀為虐矣。如果系陰虛血少，當用四物湯者，其胸膈必無痞滿痰嘔之症。一有痞滿痰嘔，雖系陰虛血少，四物湯亦不可服也。須知用攻得當，即所以保胎，用補不當，即所以逐胎。但要明保胎之理，而不可執保胎之方也。</p>

<h2>論直中陰症用藥法第四十三</h2>
<p>直中陰寒之症，仲景用附子湯，內用白芍、茯苓，懼陰竭陽無所附，取其生津液，且製附子之烈。予意此症血必凝結，與其用芍藥之酸寒，茯苓緩降，莫若用牛膝之寒而散血，且速入肝腎，又兼製附子之烈，豈不一物三擅其長乎？凡產後血痛，用附、桂、薑、吳，皆當加入牛膝、乳、沒，予每加入此等症內甚效。</p>

<h2>論腹痛吞酸屬肝之偏第四十四</h2>
<p>腹痛之病，世醫皆謂肝木侮上。又《石室秘錄》傅會其說云：「諸痛皆屬於肝，動則重用白芍。」予每見其鮮效，特為辨之。蓋肝有肝病，脾有脾病。有當肝脾同治者，有當肝脾分治者，未可概論也。夫用白芍之症，乃脾土虛，不能乘載肝木，則肝木搖動，而脾土愈虛，腹痛泄瀉，所由來也。且本中有火，故用白芍酸寒之藥，肝脾兼入，平肝瀉火安脾，一藥而三善俱備，再以甘草補脾緩中，則痛瀉自愈矣。或加柴胡、歸、術而為逍遙散，或加飴糖、桂枝而為建中湯，皆其推廣之義也。若脾胃有積聚之症，受寒多食而痛發者，法當溫散中宮。有鬱火者，寒熱並用，導火下行，若反用酸寒之藥，則氣愈閉，滯愈凝，火愈郁矣。且肝氣益抑，生生之氣不升，積聚何由散乎？其有因怒而脅痛者，乃肝氣發動，當以白芍合川芍，升斂並用以調其肝，不當單用白芍以抑其肝也。此純肝家之病，與脾無與。其痢疾而用芍藥湯者，乃取其去脾火，且兼木香、檳榔、枳殼之散，三黃之寒，斂少散多，寒多熱少，最得制方開閣之理，故效。若單用白芍一味以治初起之實痢，必不應矣。按：白芍同補藥則補，同瀉藥則瀉，但不可同補藥而誤施於脾家之實痛耳。其吞酸之症，乃脾胃不能輸泄，畜聚變為酸餿，法當調理脾胃，而書反云酸屬於肝，何其舍近而求遠哉？若謂肝主生生之氣，鬱而不升，則脾胃之氣不振，而有畜聚酸餿之症者，亦當以川芎舒肝，不當以白芍抑肝也。是知治病者，當究其源而窮其理，不可以耳為目，矜奇炫詭也。</p>

<h2>論治痘當歸脾胃第四十五</h2>
<p>古今方書，論痘毒皆藏於腎，惟沈虛明謂五臟惟土能藏物，當藏於脾。予意土之藏物，一歲即發，豈待歲久始發耶？蓋痘毒如石火然，取石置之水中，雖百年而火不少減，若激之，則隨發矣。是知痘毒必藏腎水，須俟歲氣激動乃發。沈子之言，非也。然所治之理，則當歸於脾胃。蓋脾胃為五臟之總關，痘毒之發，從腎經傳之脾胃始出，觀古人首用升、葛，意可見矣。又為五臟強弱之本，胃氣強則易出，胃氣餒則難出，胃火盛則為火毒，胃虛寒則為寒毒。又為氣血生髮之源，肺雖灑陳六腑，灌溉諸臟，實由胃氣上騰所致。若胃有積滯痰蟲疼脹之病，則中氣痞結，何能上騰輸肺，宣布痘毒而出，並交會氣血哉？小兒最多此病，即閉痘之源也。若舍此而徒補氣血，與清涼升發，終無益也。後惟費建中好用青皮，謂痘毒深伏肝腎者，以此發之。蓋青皮肝脾兼入，最能去脾胃痰滯，予謂當改為脾胃有痰滯而痘不出者，以此發之為是。由是推之，則二陳、枳、樸、蕪荑、使君之類隨症選用，加以酒蒸大黃斟酌下之，則胃結一開，中氣發越，然後補瀉升發無不立效矣。</p>

<h2>論小兒驚搐多屬痰火附小兒久虛新停積滯不可強進補劑第四十六</h2>
<p>小兒驚搐，多屬痰火。其痰火之由，不止一端。蓋小兒元氣未充，腠理不密，加以純陽而欲外竄，則腠理愈疏，最易傷風。又睡大人懷中，被覆不密，亦易傷風。又乳易變為痰，為有水乳相合之理。又易傷食，恐小兒啼哭，可食者咸與之以止其哭，又恐過飢，凡甘脆之物，靡不頻勸食之。蓋食停則變為痰，傷風所致，乃肺家之痰，乳與食滯所變，乃脾胃之痰。書云：「脾為生痰之本，肺為貯痰之標。」況二經兼有，則痰之多可見。且小兒不會吐痰，即肺痰有時而出，則下咽於胃，胃痰有時而出，則上浸於肺，互相牽引而不能去，是痰有增無減。既有痰滯久郁之火，加以傷風之火，濟以純陽之火，痰隨火升，詎不方寸迷亂，變為驚搐之症乎？醫人惟執以驚嚇起見，用龍齒平肝，麝香開竅，硃砂寧心。殊不知所迷亂者，乃痰火壅逼心包絡之外，痰火一清立愈。若麝香與硃砂同用，反引痰深入心竅，兼以龍齒之澀，痰何得出？反成真痰迷心竅之症矣。縱有驚嚇，使無痰火，自可隨愈，何能變為斯症？醫者當審其痰火在肺在胃，或二經兼有。若有表邪，當以清痰利氣，加以前胡、薄荷，或寒熱往來，則加柴胡以治之。若表邪已清，或本無表症，則當專清肺胃之痰火。是麝香、龍齒、硃砂所治，乃已成痰迷心竅，非驟然驚搐之症也。至日久不愈，形瘦氣餒，變為慢驚。蓋小兒氣血未充，最易變虛，又當溫補脾胃，兼以理氣化痰消滯治之矣。又有小兒久病，當用溫補。又忽新停積滯，家人畏責不敢言，須細心審察，不可因其形瘦氣餒，遽投大補，補之不效，又以為虛重補輕，強進不已，立見危殆。然此症多屬不治，為其補瀉兩難，縱治之，亦當辨其積滯之寒熱多寡，與人之虛弱輕重，斟酌至當而治之也。</p>

<h2>論醫道執一之弊第四十七</h2>
<p>醫者，義也。義者，宜也。宜者，權也。道至乎權，尚有所執乎？醫道如水，隨方就圓，大無不通，小無不入，無有定形，無有定見，方為醫道盡善者。若或執於補，或執於瀉，更有補瀉兩不敢，而惟執平和媚世之劑，此儒者之鄉愿，可恥之甚者也。或執於法，或執於方，或執於運氣天時，或執於四方風土，或執於老少強弱，或執於膏梁藜藿，或執多乎內傷，或執精乎外感，或執於補腎，或執於補脾，或執於初中末三法，或執於五奪不可瀉，是皆不明乎道之權者也。然予所言，似易而實難，不熟明乎經之理，焉達乎道之權？用經不當，猶有可救，用權不當，則殺人於俄頃矣。故必須讀書多，經歷久，戰兢履薄，澄心玩索，而始得其宜也。若夫粗浮自是，或專倚世法動人，或單恃家傳得譽，何怪乎終身由之而不知道者之眾也？</p>

<h2>論立方當先立案第四十八</h2>
<p>醫者立方，當先立案。案，即作文之題也。案立某脈兼某脈，某症兼某症，平素強弱，某臟素病，某日得病，曾服某方几帖，年紀若干。一症一脈，猶單題。數症數脈，猶搭題。看題中當重某字某句某節，或單重，或並重，或少帶，字字射題，自中肯綮矣。若不先立醫案，則標準不的，勢必想入成方。方雖可觀，何能見效？為其吃緊處不得也。何異作文者？忘卻題眼，剿聾陳文，文雖可觀，與題何涉乎？</p>

<h2>論用藥戒濫竽術第四十九</h2>
<p>經云：「毒藥攻邪，五穀為養。」是知攻邪必以毒藥，調養必以五穀也。臟氣之偏者為病，藥氣之偏者為毒。病，亦毒也。以偏救偏，以毒治毒，但使歸於中正而已。故書云：「若藥不瞑眩，厥疾不瘳。」但有似是實非，不可顛倒誤施。故經云：「毋實實，毋虛虛」。又中病即止，不可過劑。故經云：「大毒治病，十去其六；中毒治病，十去其七；小毒治病，十去其九」是也。吾觀今之醫人見解不透，恐瞑眩之劑，用之不當，立刻取咎，姑取中平藥數十種，俗號為果子藥，加以世法濫竽於眾醫之中。病之淺而將退者，適湊其效，不知此病不服藥亦痊。若病之深者，適足養虎貽患也。此醫馳名甚眾，謂其穩妥而樂服也。見用瞑眩之劑，反指為霸。譬如阿諛逢迎，碌碌無奇者，舉世悅之。而剛正直諒者，反畏而遠之，群起而笑之也。可勝嘆哉！雖然，其賢於寡聞淺識，粗心浮氣誤用剛猛之劑，而殺人於俄頃者，又不無優劣於其間矣。</p>

<h2>論舍脈從症舍症從脈第五十</h2>
<p>脈者，症之准也。症者，脈之合也。有是症，便有是脈，又何可舍乎？夫所謂舍者，乃舍其末而從其本，舍其偽而究其真耳。如人之本脈原弱，再兼之積聚痰飲結氣死血疼蟲之類，其脈愈弱，或結或遲或伏，甚則重按全無，渾似臟腑皆虛者，是為氣血阻滯而然，實假脈也。其有娠婦而脈愈弱者，亦此理也。皆當先瀉後補，或補瀉兼施。若細審諸症皆虛而脈忽數大倍常，甚至重按有力，全似白虎湯症之脈者，此乃脾腎之真氣發越，殘燈復明之象也。當與症實脈虛之理反得之，若誤用瀉藥立斃矣。此皆舍脈從症之治也。如五奪之症脈當微弱，與症相應。不知健壯者，雖奪而猶未虛，或本邪未清，或復染他疾，其脈數大有力，此非亡陽之脈，仍當以實症實脈治之也。又有健壯者，而忽暗中大虧，雖形體未減，而真元頓傷，脈忽小弱，或豁大空虛，若審得其情，雖兼他症，亦當以補益為先。若為形體所誘，誤投瀉劑立斃矣。此皆舍症從脈之治也。凡此不勝枚舉，是知脈症少有不符，其中必有大故，須細心面壁，而得之可也。</p>

<h2>論先瀉後補先補後瀉與補多瀉少瀉少補多補瀉各半以及屢補屢下之法第五十一</h2>
<p>病有先瀉後補，先補後瀉，與補多瀉少，瀉少補多，補瀉各半，以及屢補屢下之法者，雖皆虛實夾雜之症，然治法實有一定之理。若差之毫釐，亦失之千里矣。若其人素有舊疾羸弱者，又忽新得實症，法當先瀉後補，何也？蓋羸弱者，久虛之症，氣血已定，雖不復振，亦不復虛，若果虛無底止，又安能至今存乎？是知驟補無益於久虛，徒助新邪為虐耳。若其人驟然大虛，未幾新染實症，法當先補後瀉，何也？蓋初虛之際，氣血未定，猶可因補而復振，亦可因瀉而盡傾。若遽用瀉劑，則幾微未定之元氣，將見一鏟而盡。又安能冀其鼓盪新邪而出耶？此即五奪不可瀉，與補正則邪自去之理也。其有補多瀉少，瀉少補多，以及補瀉各半，屢補屢下之法者，皆在此二法中，臨症自可躍然而得，不必復贅。</p>

<h2>論文字之醫與經歷之醫不同第五十二</h2>
<p>文字之醫用藥多補，經歷之醫用藥多瀉。文字之醫嚴於紀律，經歷之醫精乎心法。文字之醫見功遲，經歷之醫見功速。文字之醫精乎論理，經歷之醫精乎識症。文字之醫過於迂，經歷之醫過於霸。然皆功罪各半焉。若二醫兼之，再能通乎權宜，靈其機變，則萬舉萬當矣。</p>

<h2>論忙醫之誤第五十三</h2>
<p>庸醫誤人，固不足言。有等大行之醫，或如時疫、瘧、痢、痘、疹、感冒大行，醫者應接不暇，不細辨其本質虛弱，或病已將虛，或兼舊疾，而徒以三指一按，以了故事，概投以達原飲、清脾飲、芍藥湯、升麻葛根湯、麻黃湯、桂枝湯、小柴胡湯之類，恐虛弱之人，不能任此一劑也。雖最忙時，須一一再三斟酌，即萬中一錯，於心午夜能安乎？予亦素有粗率之病，故於藥室座右，自撰二語云「此間正好種德，箇中不厭精思」以自警。</p>

<h2>論小兒用藥當預為補計第五十四</h2>
<p>夫老人血氣枯搞，得病易致變虛，人所共知。至於小兒，專門幼科，以為純陽之體，且多痰滯，合成丸散，百無一補，甚則雜以巴霜、牽牛之類，始終以之。殊不知小兒血氣未充，柔脆之極，最易變虛，較老人更甚也。虛症用補，固不待言，至於一切實症，亦當預為補計。縱有餘邪未清，即當補瀉兼施。若直待補期方補，恐有措手不及之患矣。至於痘疹，有始終不用溫補者，另有專門，不在此論。</p>

<h2>論月季花當通經天竹實當補腎第五十五</h2>
<p>花之月月能開者，受陽氣全也。色赤入血，刺破血，香散血，月季花當為血中氣藥。凡血瘀經閉者，用之必有神效，為其有月月紅之義也。但質薄而力必微，且香入脾，必佐以下走血藥，方能有效。草木之隆冬不凋者，受陰氣全也。凡子皆入腎。天竹隆冬不調，其實當與女貞相似，至冬始赤，具陰中有陽之體，又當與枸杞相似，但質味俱薄，其力較微女貞、枸杞也。按天竹喜澆人溺與鹹菜滷，其入腎可知矣。此二說，《本草》未載，予以膚見測之，不識有當物理否？</p>

<h1>卷下</h1>

<h2>錢婦儲方興病疫飲冷過度合案第一</h2>
<p>傷寒與時疫下利，皆用寒涼之藥，未見有用溫熱而愈者。錢婦廿五歲疫兼感寒，飲冷水太多，遂日夜瀉五六遍，大小腹皆痛，痛甚則汗出腹有水聲，頭痛，午後惡寒，右脈小數無力，左脈無力更甚，以疫邪未出募原之脈原小，加以飲冷過度，則脈愈伏矣，舌白胎，渴飲，先以五苓散去桂加木香、草果一帖，痛除瀉止，表終不解，繼以小柴胡湯二帖而愈。仲景云：「傷寒醫下之，續得下利清穀不止，身疼痛者，急當救里，後身疼痛，清便自調者，急當救表，救里宜四逆湯，救表宜桂枝湯。」此因表未解而妄下，以致下利清穀不止，但里重於表，故先以四逆湯救其里，待里清便既調，表猶不解而身疼痛，仍以桂枝湯解其表也。茲症雖未誤下，以多飲冷而下利，與寒藥攻下何異？但未至清穀不止，且兼疫症，桂在所忌，故以五苓去桂加木香、草果，而不用四逆湯也。意謂痛甚則汗出而表必解，究竟不解者，一以痛出之汗，裡氣閉結，終不若自汗調暢，而上下表里俱解，一以痛止初汗，止解外縛，而疫邪猶未能潰，故仍以小柴胡湯以達之。彼系太陽，故用桂枝湯，此係少陽兼疫，故用小柴胡湯，只取仲景救里救表之意，而不用其方也。又儲方興廿四歲，同時病疫，多食連渣生藕，且未禁食，致腹痛甚，汗出不時，但未至瀉，予以二陳、檳榔、草果、厚朴一帖，痛止，復自汗而愈。錢婦兼感寒，故痛止汗出，而猶用小柴胡湯以解未盡之縛，兼以達疫。方興單系疫症，故痛一止而邪即外潰，不必用藥解表，而自汗出愈也。此二症若認為協熱下利，而投以寒涼之劑，則殆矣。</p>

<h2>梁婦康子疫症合案第二</h2>
<p>先見之明，固為醫人美處，然終不若如鏡之照物，隨見而有，毫無意必之為盡善也。梁婦廿餘歲，生產半月，夫患疫，即日夜服勞，夫方愈，便臥疫。一醫見腹瀉口渴，於止瀉藥中，加黃連一錢，滯與疫俱閉，愈甚。復延予治，見其面黃體弱，又兼產後勞碌，定屬虛症，但胃口痛滿欲嘔，夜間惡寒無汗，此少陽風寒夾滯不出，而兼時疫也。脈在虛實之間，舌無胎，思熱飲，以小柴胡湯合達原飲一帖，下稀糞四五遍，覺少快又進一帖，惡寒止，汗漸出，但腹脹滿終不愈，前方加枳、桔、青皮、熟軍一帖，覺下一物，愈大半，又小其制一帖，全愈。服藥四帖，共行廿余遍，並未用補收功，康僧子年二十，未娶，素無疾，同時染疫，脈弱，舌潤黃影，膈間微痞，予舍脈從症，以大柴胡湯微下之。至七日自汗，舌黃退，身仍熱，不安靜，身現隱隱紅疹，脈愈弱，予思內外俱通，脈當出而愈小者，真虛脈也。身熱疹現者，虛火炎也。再視小便已如象牙色，予令速進稀粥漸愈。若斷以先見，則梁婦決當虛，而康子決當實矣。孰知反是？是知無意無必，方為盡善之道也。按：二症喜年少故痊，梁婦未有不虛者，但虛少實多，因年少，猶能當消伐之藥，實去而虛症未現，故愈。康子虛多實少，故災去而虛症即現，因年少，未至虛脫，幸辨之早，速進稀粥救之。二症若系老人，則亡陽而死矣。</p>

<h2>虎氏母子疫症合案第三</h2>
<p>感寒與時疫下症，為下其火，以承一線之陰氣，故名承氣湯，非下其矢也。故趙氏曰：「今時之醫，其意專與糟粕作對。」呂晚村從而譏之曰：「此名矢醫也。」雖然，若胃中無積滯之人，可一下而痊，若村野之人，與多郁婦女，胃中原有宿積，並膏粱之人，胃中素有痰火，兼之外邪入內，與疫邪內發，火氣堅縛，非一下所能解也。子治虎氏母子疫症，屢用大承氣下之不解，舌雖黃胎，潤而薄，所下皆稀糞，又不合重用硝黃，予意乃素積難開，非硝黃症也。各下以木香檳榔丸四五錢，宿積始去，胃中始快。蓋木香檳榔丸內有牽牛，故能散結若此。仲景書，下禁丸藥者，為下其火，當以硝黃滌盪也。此症滯重火輕，以湯易丸，有何不可乎？</p>

<h2>康華之感寒一案第四</h2>
<p>康華之深秋感寒，首即嘔吐，繼而乾嘔數聲，出黏涎一口，自用發表清裡藥一帖，汗後不解，至七朝方延予治。予診右脈小數而弱，左脈差強，寒熱往來，胃口微脹，身熱無汗，少渴，舌白胎，予以小柴胡湯加枳、桔、蔞仁一帖，惡寒止，餘症不減。前方加二苓、澤瀉亦不效。去二苓、澤瀉，加熟軍、青皮、檳榔，服時暫快，藥過如舊。亦下稀焦糞，因素無結糞故也。且又不合硝黃，予意乃善飲之人，胃中素有膠痰，非湯藥所能下。初系瓜蒂散症，此時已不可吐，以滾痰丸三四錢，下膠物四遍，遂脈出，嘔止，汗出而愈。按：嘔家有發表利水和解攻下之不同，然攻下系湯劑，此症若泥古法，直待舌胎黃燥，方以硝黃滌盪，反成九死一生之症矣。此與前案相似，多一嘔，彼滯多，此痰多耳。</p>

<h2>周開周妻疫症一案第五</h2>
<p>《溫疫論》有屢下用大黃至十二兩者，予於周開周妻驗之。其人年十九，未生育，體健，兼之胃有宿積，下後半日，舌復乾燥，又以承氣湯下之。一醫委之而去，余因年少，體健，舌乾，故放膽屢下之。共計用生熟大黃五六兩，芒硝將一兩，佐以花粉、芩、連、膏、母、蔞仁、枳、樸、青、檳等甚夥，熱猶不退復發痧，又發頤，猶出厚膿，收口甚速而愈，其脈不復記矣。</p>

<h2>繆豐城瘧轉感寒一案第六</h2>
<p>表侄繆豐城，夏月瘧轉感寒，服他醫藥數帖，不效。余診六脈皆弱，舌黃燥胎，中一線已黑，猶寒熱往來，時有譫語，胃脘不硬不疼，余以舌胎為憑，且年少，體鍵，未娶，舍脈從症，以大柴胡湯下之。所下薄糞二次，蛔數條而已，症猶不退。因脈下後仍小，不合白虎湯，以小柴胡湯加犀、連等，瘧漸轉輕。但瘧來時，舌猶乾燥，共食西瓜五六十枚，凡服涼藥與西瓜，則汗出，先自額鼻微汗，每日汗漸下出一次，十餘天，方汗至足而愈。此症想因誤服麻桂，以致津液乾枯，症變陽明，而少陽瘧邪終不出也。病愈後，診脈如前，方知乃先天弱脈也。</p>

<h2>曹僧患疫得歇止脈一案第七</h2>
<p>曹僧五十餘歲，患疫，診得歇止脈，然非死症，予細思背後有一大瘤，氣血為此阻滯之故，用藥得痊。今已十餘年，其僧尚在也。</p>

<h2>堂兄與謙疫後變痢不治一案第八</h2>
<p>與謙堂兄時疫將十日，人事清明，脈弱無神，忽滯下如紅膿，腥臭不堪，是知臟腑已壞也，數日而卒。</p>

<h2>朱笠葊感寒一案第九</h2>
<p>朱笠葊感寒，屢用發表清裡藥不愈，脈乍大乍小，數而無力，譫語，舌黃燥，遺尿，大便秘，欲飲滾熱茶。時予初習醫，因脈虛熱飲，不敢再進寒涼消伐之劑，遠延兩名醫，一與以連理湯，一與以六君子湯，愈劇。後不服藥，止頻飲松蘿熱茶，數日後漸覺清明，自主以承氣湯，下膠糞一遍，遂漸愈。是知脈虛者，屢用發表，中氣虛也。思熱飲者，滯化為痰，中氣弱，不能利痰，故借湯之暖以運蕩之也。遺尿者，心移熱於小腸也。標雖虛而本卻實，故現舌胎干黃，仍歸攻下而愈也。</p>

<h2>潘國彩疫症一案第十</h2>
<p>潘國彩時疫，脈實大舌青紫，時呃逆，思飲滾熱茶，素善飲，目珠忽微黃，予用發表清裡藥，有汗不解，蓋七日自汗症也。彼欲急效，延遠來一醫視之。彼認為雜症發黃，遂用薑、桂、耆、朮、茵陳、半夏、黃連等，且勸頻進飲食，以致譫妄拈鬚，舌強不語，延朱笠葊、江有聲皆未至，復延予視。撬開齒縫，水始得下，數日前，舌有微胎擦去，故視舌雖干而無胎，又曾胃口飽悶，以滾痰丸下過，因舌乾無胎，又曾下過，不敢用承氣湯，惟以石膏、滑石頻煎與之，以冀自汗。次日頭汗至頸而還，仍與前藥。又次日汗方出透，則所延之醫皆至矣。里症尚未解，議與半夏瀉心湯，去參、棗加熟軍，微下一遍，改用清涼藥數帖而愈。因未大下，後廿餘日不大便，服潤藥與蜜導皆不效，復飲熟軍、元明粉而愈。是知朱笠葊之下症定於舌，潘國彩之下症定於脈耳。噫，微矣哉！余思此二實症皆喜熱飲者，因胃家原有痞結故也。得熱則開，得冷則愈結，故如是耳。五瀉心湯，皆乾薑合芩、連，其意可見。朱笠葊胃有舊疾，潘國彩呃逆不休，皆痞結症也。笠葊痰滯俱有，故舌黃燥，國彩素無積聚，止有痰飲礙其升降。書云：「中多痰飲，則舌胎微。」以痰飲微胎，先曾擦去，故舌雖干而無胎。至於舌色青紫，想因氣結不行，以致血亦凝滯歟？</p>

<h2>秀峰僧疫症一案第十一</h2>
<p>秀峰僧染疫，舌厚黃胎，不譫語，胸膈痞滿，脈弱。予舍脈從症，用承氣湯下之而愈。須知此脈，非先天弱脈，即為痞滿所伏。且知舌厚黃胎，亦有不譫語者。</p>

<h2>王東晹疫症一案第十二</h2>
<p>族兄東晹，善飲體健，染疫脈弱，胸膈痞滿，舌黃潤。予舍脈從症，用小承氣湯屢下之。共用生熟大黃約二兩餘，石膏一斤，枳、樸數兩，雪水數缽，至八日忽發戰，思冷飲。家人惟執以熱茶催汗，故頭汗而止。然漸愈後食復，亦八日發戰得頭汗而解，外涼而內熱不除，復以大承氣下宿垢甚多而愈，忽熱傳肺，咳嗽不止，用麥冬一味愈。予聞江有聲言：「八日自汗，症多不穩。」仲景云：「頭汗劑頸而還當發疽。」由此症觀之，則二言皆不足信矣。</p>

<h2>陳雙頂疫症發斑一案第十三</h2>
<p>陳雙頂時疫發斑，論脈則浮而無力，當補當表，論症則人事不明，舌黃燥，當下。然有假脈，而無假燥黃舌也。其脈所以如此者，乃臟氣被伏不能行於腑，惟腑氣猶能往來，故現此象耳。以承氣湯下之而愈。按：斑症有發表，和解，攻下，雙解，溫補之不同，當以里症為憑，不可執定「下則斑陷」一說也。凡病內症皆重於表，不獨斑症為然，如看銀色面底可假，而夾口斷不可欺也。</p>

<h2>吳婦感寒一案第十四</h2>
<p>吳婦忽腹大痛大瀉，醫投以消滯行氣之品，愈甚。予診脈浮數，且兼表症，知為太陽陽明合病也。但仲景止云「下利」，並未言「痛」，然症與書，每每不能恰合，當以意消息得之。仍投以葛根湯，汗出而愈。</p>

<h2>丁赤晨疫症一案第十五</h2>
<p>疫症非比感寒。感寒汗後不愈，則有白虎湯，白虎湯不愈，漸轉三承氣湯，或桃仁承氣湯。疫症至七日，內邪外潰，輕者得汗立解，身涼渴止，重者雖汗不愈，必有下症。其下症有三：輕者，胃脘微硬微渴，舌黃影，不思食，以小承氣湯小其制生熟軍微利之。重者，舌胎黃燥，腹滿痛，譫語，飲冷，二便不通，脈沉數有力，乃大承氣湯症，此下症之明著者。其有下症隱微者，不易明也。前虎氏母子、康華之、朱笠葊、潘國彩，皆言之矣。至於丁赤晨病疫，汗後不愈，舌無胎，微有潤黑影，脈微數無力，不大渴，腹不滿痛，二便如常，予用清法治之，不愈。遠延一醫至，認為虛症，治以香砂六君子湯加炮姜，服下亦不驟劇，數帖後，愈覺不寧，辭去，復延予視。時已半月，細細審問，云腹中如有物狀，小便甚疼。予思疫症豈可熱補？謬不待言，但下症不明，姑以清涼之藥，加熟軍以解藥毒，因其腹中如有物狀，少加枳、樸，服後遂下血塊，方悟為蓄血症也。但不知本系血症，亦不知誤投溫熱所致，茲後遂用導瘀理氣涼血之品，漸加脾藥下血半月，至末一次，下瘀血半缽，隨暈絕，灌參湯二錢復蘇，茲後並無血下，繼以脾胃藥收功。蓋蓄血症有譫妄，如狂，喜忘，屎黑，小便利，發黃，腹硬痛，漱水不欲咽，脈沉結等症，此症小便反疼，餘症並無，實難辨也。若不細心體察，能免誤乎？</p>

<h2>丁繼寬疫症一案第十六</h2>
<p>誤醫赤晨之醫，醫赤晨大郎繼寬，不可沒其功也。繼寬同時染疫，汗後不解，脈較赤晨少健，浮沉著中，腹不硬痛，舌生灰色潤胎。書云：「黑潤胎，屬虛寒。」從未有言灰色潤胎，當用硝、黃者，予不敢下，亦不敢補，惟用清法，俟其變症。彼以大承氣湯下之，下後胎少退，熱少止，仍不思食，兩日不下，灰胎腹生，又下之，所下皆膠滯之物，如此下五六次方愈。此症此脈此治法，彼云亦未經過，乃出心裁。予始服其才識，後見誤醫赤晨，又竊怪其粗庸。雖然，辨繼寬症易、辨赤晨症難也。繼寬年方二十，未娶，酒量食量皆佳，非實症而何？赤晨年已五十，勞心焦思，八口待食，敢作實症治乎？是知此二症，脈症皆不可憑，惟以意消息得之。醫之為道難矣！</p>

<h2>王益貞痰瘧不治一案第十七</h2>
<p>重侄益貞，年將五十，患痰瘧，時咳膠痰甚多，有一結氣，上則咳甚，而胸脅無病，下則咳止，胸脅不快，呃逆不時，舌厚灰色潤胎，予治以清痰下氣解表之藥，漸愈。因多食經宿酥油燒餅，遂復，餘隻消導，不敢攻下，終未愈。轉薦朱笠葊治之，亦不效，終斃。須知此亦系下症，與繼寬大同小異，二人之舌無異者，皆善飲酒。想痰滯之胎，非燥屎之胎？書云：「黑胎屬虛寒。」此症終未遇，縱有此症，必黑而薄，決不灰而厚也。然赤晨蓄血症，舌胎又何得黑影乎？噫，微矣哉！</p>

<h2>繆子尚母感寒一案第十八</h2>
<p>繆子尚母年七十，夏月感寒。予視時，已過七日矣。微渴，思熱飲，二便如常，舌白胎，厚如積粉，清晨猶惡寒，少陽症也。右脈勝於左，里症重於表也。以大柴胡湯加熟軍微下之。服至三帖，惡寒止，四帖，內熱止，共行稀糞六遍，表裡俱解而愈。感寒白胎，原系少陽症，但未見如此之厚。《溫疫論》云：「邪在募原，當舌見白胎。邪重者，胎如積粉。」豈重疫而兼感寒者耶？若然，則年老之人，何能延至十數日尚愈乎？若云積滯之胎，則胸膈並不硬痛。噫，此所以難辨矣！</p>

<h2>徐芝三舌黑胎一案第十九</h2>
<p>傷寒時疫舌胎黃者，胃實可下。燥者，胃將干，急下之。黑者，胃已爛，不可治。姨兄徐芝三，屢食角黍，復感寒舌胎黑而厚，光如京墨，然不燥猶能伸縮，脈滑數有力，人事清楚。論舌則不可治，論脈與人事則可治，遂以白虎湯合小承氣湯治之，少頃自汗，繼以大便而愈。胃既不爛，舌何以黑？妙在黑而光，且不燥，故胃未爛耳。此又舌胎之一奇也。細憶所驗諸舌胎，或白，或黃，或黑，或灰色但厚者，皆系實症。稀而流者，雖實亦虛症也。潤以茶水，雖干而能伸縮者可治，不能伸縮者，不可治也。舌乾下後津液不生者，亦死症也。雖然，於不可把握之中，而實亦有把握之機在焉。若非閱歷深久，何能知此？</p>

<h2>漁人六月感寒用麻桂一案第二十</h2>
<p>予昔餬口海澨，時六月，漁船往海取魚，適雷雨大作，漁人皆著單衣，感寒者十中八九，予舍時從症，盡以麻黃湯加減發汗，有周姓粗知醫道，竊議之。見人人盡愈，詰予曰：「六月用麻桂，有本乎？」予曰：「醫者，意也。仲景必因病立方，豈隨時定劑？有是病，便服是方，焉可執乎？蓋汪洋萬里，雷雨大作，寒氣不異冬月，況著單衣，感寒為何如哉？故予盡以麻黃湯加減取汗而愈者，意也。得其意，即本也。若必事事親見，方為有本，則日亦不足矣。」</p>

<h2>張婦感寒一案第二十一</h2>
<p>前有下症當以舌胎為憑之論，茲又有舌胎不足為憑之驗矣。張婦春初感寒，表未解，一醫用三黃石膏湯四五帖，轉增危困，至十二朝，方延予視。左脈甚弱，右脈少強，皆微數無力，舌乾無胎無刺，全似津液不生之虛干舌，按胃口微痛，不按則不能，三日前曾食飯一碗，病初瀉下數行，問其病情，耳聾不知。若以脈與舌斷之，症屬不治。然年少素無他疾，不當有此虛症，且神情不亂，予舍脈舌而斷之以理，以小柴胡合小承氣湯與之。未愈，轉治於蔣天邑。天邑以予方加倍，一服全愈。前潘國彩有此舌而下愈者，乃膏粱善飲之人，必有痰飲，故有此舌也。此乃藜藿之婦，痰飲何來？想因過服涼藥，凝伏太甚，火氣不能上達於舌耳。彼脈大而有力者，因誤服熱藥，此脈小而無力者，因誤服涼藥，然外有寒熱之殊，其內伏火則一，故皆脈數舌乾，攻下而愈也。</p>

<h2>蔣星弁僕人時疫一案第二十二</h2>
<p>蔣星弁僕人，廿餘歲，仲秋患疫，一醫始以麻黃湯發汗，終無汗，一醫數下之，皆稀糞，不愈，予視時，已過經矣。肚皮黏腹，譫語，口渴，舌無胎，脈虛數，屢服清火藥，小便已白，而餘症不解，但臍下築築動氣，失氣甚臭，大腸必有結糞也。以大承氣湯小其制，下結糞數十枚，繼自汗而愈。此症舌無胎，小便已白，脈小數無力，肚皮黏腹，全似虛症，惟譫語，失氣甚臭，無汗，臍下跳動，是為下症。《內經》「臍下動氣，不可汗下」之語，不可泥也。</p>

<h2>繆端生感寒兼積痰一案第二十三</h2>
<p>繆端生年五十餘，季秋初旬感寒，自以三合湯解表，遂時時汗出，脈不數，重按全無，舌微白，微渴，人事清楚，失氣不臭，但胃口飽悶，咳吐膠痰，舊有頭痛症，痛作無時，汗出則愈，然已過經，外感全無，乃痰厥頭疼也。痰厥時，則經絡壅塞，汗出，則經絡少通而痰下，故愈。予因年高，且脈症皆虛，雖胃口飽悶，不敢用承氣湯，以平胃、二陳，加枳、桔、蔞仁、射干、熟大黃與之。數帖咳止，而飽悶如常，大便不通，加玄明粉，二帖，亦不通。改用滾痰丸四錢，下白物闊二指，長二指者兩塊，又服三錢，下痰滯甚多，但小便清晨仍赤，時欲昏去，恐虛脫，只得令進稀粥，然不大餓，大便復半月不通，腹中攻注，始終失氣不臭，導以蜜箭二條，出結糞十數枚，仍用熟大黃、檳榔、枳殼、玄明粉等，連服二帖，再導蜜箭，方下薄糞。腹中攻注終不清，復零進滾痰丸兩許，下厚痰數碗，胃中尚有硬處，然痰無盡攻之理，以六君子湯合三子養親湯，重加花粉，直服至小便白，方用歸芍六君子湯調理。平時皆有微汗，至十一月二十五日冬至，時已臥床八十天矣。於二十二日，忽大汗，三晝夜不止，至冬至日方止，渾身俱發青點，大小不一，復延余視。予問食量並內症何如？彼云一宿可食七頓，每頓食粥二小碗，餘症並無。予答不必服藥，亦不必往視，當自愈，後果俱結薄痂而愈。此因正氣已充，兼之天地一陽之氣來復，而平時因痰壅滯之物自出，即前汗出頭痛則愈之義也。共約用生熟軍三兩，元明粉一兩，滾痰丸三兩，下數十行，去膠痰結糞一大盆。此症脈症皆虛，惟胃口飽悶，腹中攻痛為實，總緣痰症多怪症怪脈也。然痰症每多人事不明，而此反清楚，久病大汗不止為亡陽，而此卻發斑，青斑為胃爛，而此反屬病愈，種種奧理，則又非淺識所能解矣！</p>

<h2>錢守國妻虛疫一案第二十四</h2>
<p>錢守國妻病疫，服他醫藥數帖不效，余視雖年少體壯，診脈甚弱，日夜瀉數次，舌無胎，不大思飲，時微汗，胃不硬痛，余以補中益氣湯，當歸換白芍，數帖而愈。若謂溫疫無補法，則殺人矣。</p>

<h2>梁母虛疫一案第二十五</h2>
<p>梁宏九令堂，母死染疫脈數而弱，寸口帶促，予與以清暑藥，不效。復延一老醫時疫者，以為溫疫無補法，大劑白虎湯與之，煩躁更甚。後延吳克憲先生，先以附子連理湯救其失，次以參、耆、朮、草、麥冬、五味而愈。</p>

<h2>何四兄虛感寒一案第二十六</h2>
<p>何四兄冬月感寒，六脈微弱，舌淨，不渴，不飢，小便微黃而清，胃無痞滿，微喘而嗽，虛症也。前醫尚有藥二帖，令服盡再診視。予取視之，乃清肺平胃發散之品，若服盡，則難救治矣。予用補中益氣湯，因過服涼藥，少加薑、桂以救其失，二帖而愈。</p>

<h2>王禹訓內人虛疫不治一案第二十七</h2>
<p>王禹訓內人，母死染疫，脈大鼓指，予以溫疫藥治之，後忽脈變小弱，人事不清，舌上卷，七日而逝。以上數症觀之，凡內傷復感時疫者，雖脈促，脈鼓指，猶未可遽斷為實症也。是知脈促與鼓指者，非真也。假也。緣脈道不能體會故也。可不慎哉，可不懼哉？</p>

<h2>丁圬者虛疫不治一案第二十八</h2>
<p>丁圬者，初夏染疫，予視時，已經八天。無汗，脈小數無力，胃先不寬，醫已下過，大小腹皆軟，舌胎黃潤而薄，雖飲冷不多，多痰，齒縫出血不上，然人事清明，舌能伸縮而語，雖虛非死症也。予憐其貧，送以六味地黃湯加牛膝、鬱金、貝母、麥冬之方。前醫以為不然，仍投以三黃、石膏、犀角之劑，數帖而斃。</p>

<h2>先兄虛感寒不治一案第二十九</h2>
<p>先兄痢初愈感寒，脈小數而弱，時惡寒熱，微汗，予以為虛。時予初業醫，不敢專，請他醫兼視。先兄適飲番瓜湯，醫視舌黃誤認為胎，惟以無參小柴胡湯，反覆治之而斃。死之時，遺言清明，醫方悔為虛症也。哀哉！</p>

<h2>予與內子虛疫合案第三十</h2>
<p>予夫婦辛巳歲，母方逝，即同染疫，一醫與予以發汗藥，衣被皆濕，病毫不退，脈浮數無力。予素有陰虛失血症，口漸出血微渴，予令諸生多飲天水茶，與溺頻飲之。漸次清明，因久不大便，不思食，然無下症，一醫以滾痰丸，取結糞數枚而思食。又一醫與內子小柴胡湯一帖，即稀糞不禁，不省人事。復延吳天諭診視，予言素有脾虛症，隨與補中益氣湯而愈。是知凡病當因人而施，先固其本，不可專治標病也。</p>

<h2>徐明子虛感寒不治一案第三十一</h2>
<p>徐明子，素有弱疾，大肉瘦盡，復感寒，舌黃胎，薄而流轉，如荷珠狀，脈數而弱，口渴，予不敢治，他醫治之終斃。是知黃胎亦有虛症者。</p>

<h2>十三總族媳虛感寒不治一案第三十二</h2>
<p>十三總族媳感寒，四日汗愈。會大風雨，垣頹，復感寒至八日，方延予視。舌白乾胎而短，譫語，唇裂，口內全無津液，不渴，胸下微痛而軟，四五日不大便，小便尚有，左脈欲絕，右脈豁大，予思舌乾當黃當渴，今反白而不思飲者，氣虛液槁也。舌燥譫語，脈當沉數，反豁大者，亡陽之漸也。唇裂者，亦虛火泛溢也。雖小便尚有，本屬虛症，無實火，不得以此斷為可治之症。種種虛症，雖四五日不大便，胃口微痛，敢下乎？縱欲治之，亦系生脈散。凡遇貧而且愚之人，不可令其服參。予令被另延高明，不二日而卒。</p>

<h2>姚爾玉郎虎墩南莊一人虛疫合案第三十三</h2>
<p>姚爾玉郎十二歲，疫兼感寒，予視時，已半月矣。脈虛數，與大柴胡湯而愈。越三日，食糖復，遲數天，大汗如雨，劑腰而還，遂不語，角弓反張，眼瞞紅雲，然舌燥胎皆化血水而出，內出潤舌，予投以滋陰藥一帖，繼飲雪水而斃。虎墩南莊一人病疫，舌胎浮起，內出潤舌，但脈不應指，言語不明，辭未用藥，越一日卒。須知此二症皆可治，生脈散症也。凡外感時疫舌乾而死者，不可治，以其陰陽皆絕也。舌潤而死者，皆可治，以其陰氣猶存，尚可以配補陽之藥，皆醫失補之過也。此症一不語，一語不明者，補氣不足也。一角弓反張者，氣血不運也。舌胎既浮，潤舌已出，邪火漸消，津液漸生，但脈弱而元氣不足無接濟之力，蘇而不蘇故復死也。若服以生脈散之類，自可陽生陰長，而漸至氣血周運，清明思食矣。</p>

<h2>朱笠葊大令愛三令愛產後咳嗽合案第三十四</h2>
<p>朱笠葊大令愛，向年冬月生產，產難之極，遂咳嗽不食，商之於予。予謂產難氣血大虛，虛火炎上，故令咳嗽不止，非溫補不可。笠葊少進參、耆，覺效，遂大溫補而愈。從此氣血虧損，至今十載未孕。今歲三令愛，仲秋發瘧，以常山截住，愈一日即產，產後覺熱，肩手露睡一夜，小腹微痛，服導瘀藥一帖，痛止，三日即起行，動作如故，飲食頻進，至六七朝，忽身大熱，思飲，咳吐膠痰，寒熱往來，漸至耳聾譫語，時笠葊在海陵，延予診視。左脈浮數無力，右脈沉細，似乎孤陽上僭之脈，然氣勢不餒，面不紅，醒睡皆無汗，胃脹欲嘔，明系瘧邪未清，兼以復感微寒，仍入少陽，又兼飲食頻進，雖產後，實陽瘧也。熱則揭去衣被，故無汗而加重。左脈浮數者，症本少陽也。重按無力，並右脈沉細者。為痰滯所伏也。咳吐膠痰者，肝胃二經實火，上衝於肺也。當以清脾飲加枳、桔、熟軍治之。伊翁、夫、伯皆知醫道，聞予言愕然，另請江有聲視之。有聲與予同見，然所用亦甘寒之品，不效。予云：「若先生避議，則瞑眩之劑，終無人用矣。」遂立加減小柴胡湯而去。午後臉忽微紅，乃柴胡之力，伊等以為孤陽將越，驚慌怨怒。自是瘧門之藥，毫不敢用。越數日，舌胎乾黑，擦去旋生，方悟予言不謬，復延予治。予以小承氣湯熟軍用二錢，加枳、桔、蔞仁、貝母、麥冬，二帖去結糞宿垢甚多，繼以四物湯，加貝母、麥冬、桔梗、橘紅二帖，熟睡大汗而解。後飲食不禁，舌胎仍黑，時已滿月，伊夫以前方加玄明粉五分下之而愈。又食復，時笠葊已回，又以熟軍下之而愈。二症俱系產後咳嗽，虛實天壤矣。</p>

<h2>韓婦產後一案第三十五</h2>
<p>韓婦生產極難，數日後，因酷暑，少飲西瓜水，一醫用附、桂、耆、術，反增呃逆，而時暈絕，一醫投清暑甘寒之品，而身大熱。予診脈甚弱，細揣病情，胃中又有積滯，是脈固當弱，然亦因滯伏所致，今以附、桂與耆、術同用，熱留上焦，自助痰滯暑氣為虐以增呃逆，而時暈絕耳。後醫以為過服熱藥，而投以清涼矯弊，殊不知產難而復飲冷，下焦虛寒已極，而復用清涼之藥，上焦雖宜，而漸至下焦，下焦愈冷，孤陽逼上，而身大熱，勢必脈轉浮數，頃刻飛越而死矣。予投以附、桂、薑、吳，群隊下走大熱之藥，不使少留胃中，更少加檳榔、木香，以其下氣如奔馬也。二味雖氣分下藥，然入血藥中，亦能下達血分。且檳榔少許，只破胃中滯氣，不致誅伐無過。服藥後，下宿滯二遍，減去檳榔、木香，加二陳、耆、術共三帖，全愈。觀二醫之方，似覺清通於予，然彼不效，而予反效者，予中肯故也。</p>

<h2>陳良友妻郭育材婢俱三月墮胎合案第三十六</h2>
<p>陳良友妻，每三月墮胎。茲墮雙胎，信老嫗言，以胎焙灰酒調服，可永不墮，不令人知，知則不靈，故家人醫生，皆不知也。予診脈大有力，以為胃有積滯，因產後，不敢大克伐，微與消導，不效。及更請吳克憲先生兼治，始言此事。茲後方敢大膽克伐。蓋最補有毒之物，兼以雙胎之多，濟以火煅酒下，其熱可知。因痰火不能遽清，年餘方愈。郭育材婢，因瘧墮胎，亦三月。蓋三月墮胎，不致大虛，且瘧未止，下敢遽補，惟以小柴胡湯，兼四物湯加減治之，不效。後朱體云以附、桂而愈。是知此二症，皆三月墮胎，一虛一實，相懸天壤？予斯時醫學尚未老煉，成功他人，言之汗顏滋甚矣。</p>

<h2>朱帝簡妻與內子生產合案第三十七</h2>
<p>朱帝簡妻將產，血下不止，心煩亂，無緊陣。予令且服獨參湯一錢。彼信庸醫穩婆之語，恐補住胎與瘀血，止與三分，心煩亂少止，告予止飲三分之故，予急令服完，彼又止與三分，血止，又告以前故，予又急令服完，少頃緊陣至，而胎下矣。因其貧甚後未補益，竟成羸疾，數年而卒。噫！向使不敢用參，命在頃刻，安望數年乎？此症若執定芎歸湯加人參則血亦不能止，妙在獨用人參以生氣固血，血止氣壯，而胎下矣。予內子生第五胎，時已久患脾瀉，緊陣不至，大汗已出，預以圓二斤濃熬盡飲之，汗止而胎下矣。後君瑞兄媳，惡露不下，用木香、檳榔、枳殼、玄明、肉桂、大黃，破氣破血以行之。此胎不下，一用獨參湯生氣固血，一用圓湯壯氣運血以達生之。是皆有至理存焉耳？</p>

<h2>繆婦墮胎一案第三十八</h2>
<p>婦人科以四物湯為通套之藥，隨症加減治之，稱家傳而貴妥當，殊不知其不然也。繆婦懷孕兩月，值太姑去世，悲泣過度，遂致飲食不進，胎墜痛，予以調脾理氣消痰之品治之，年幼不遵調攝，又時著氣惱，故不效。往母家就醫，醫惟治以四物湯兼保胎之藥，飲食愈減，血漸下，小腹墜痛愈甚，復回延予診視。脾胃之脈弱極，然胃口壅塞作嘔，以香砂六君子湯，加枳、桔開提之。二帖思食，減去枳、桔又二帖，飲食大進，下焦痛止，而血塊反下，繼下一物，大如鵝卵，內如蛋白狀，是知胎已久壞，因胃氣痞結，以致下焦氣亦不通，故墜痛不下，服此藥，得胃氣運行，而瘀血死胎，有不與之俱下乎？若再服四物保胎等藥，予不知其變為何症也。</p>

<h2>王有成妻產後惡露不下一案第三十九</h2>
<p>族弟有成婦，產後小腹痛，脈症皆虛，貧不能用參，予以桂、附、黑薑、元胡、吳萸、牛膝等加耆、術與之。人見此方爭議之。有成信之不疑，一帖而痊。</p>

<h2>王君瑞媳產後惡露上衝及孫婦疫症墮胎合案第四十</h2>
<p>族兄君瑞大媳，產後惡露不下，予始用暖下焦散瘀血藥，不效。繼而惡露上衝，嘔痛不食，予視脈體皆實，問其飯量，可食升米，胃中必有宿滯，氣閉不通，以致下焦之氣吸而不行，瘀血因之不下矣。遂與檳榔、青皮、枳殼、木香、肉桂、元胡、桃仁等，加以九蒸大黃，二便俱下惡物，臭不可聞者而愈。又孫婦甚健，疫症墮胎，惡露不下，參以下症，亦以熟軍下之而愈。此兼時疫，又有少別。雖然，使未閱張子和書，敢斗膽若此乎？一醫聞予言，以為此法可常行，遇一產後惡寒發熱，竟與寒涼發散之劑幾至立斃，予與朱笠葊用參、附、薑、桂而愈。噫！若見解少有未透，此法可輕試乎？</p>

<h2>繆僧外感後及予瘧後不思食合案第四十一</h2>
<p>感寒時疫，人只知其愈後早食之害，而不知其遲食之誤。繆僧感寒，醫妄下，過損胃氣全不思食，予視脈症皆虛，自言口渴身熱，實不渴不熱也。此乃中氣浮越。再視小便已白，令與薄粥，漸思食而愈。予昔患瘧，餓損胃氣，全不思食，但覺胃中作犯，強食稀粥則犯止，茲後作犯，便知其為飢也。如此數日，終不思食，乃以蝦、米、豬油、蔥、醋作粥食，方引開胃氣，覺餓。此二症，若待餓香方食，則至死不餓矣。</p>

<h2>趙公著徐氏子陰症合案第四十二</h2>
<p>仲景云：「少陰脈沉，小便白。」予治趙公著、徐氏子二症，俱內中陰寒之症，少腹痛，痛甚則汗出，此一定無疑之症。餘症則一瀉而鼻衄、口渴、舌有白胎，一不瀉、不渴，而唇皮裂卷，至於脈皆浮數，小便皆黃，俱用附、桂、吳萸、黑薑、元胡、牛膝、乳、沒而愈。此乃下焦陰寒逼火於上，故見此脈。小便黃者，二人原有此舊疾。凡寒症久郁不散，皆變為火。然此處非比他處，雖有寒火夾雜，仍當用熱藥以散之，是又不可概以脈浮數，小便黃，鼻衄，唇裂，謂非少陰症也。</p>

<h2>蔣子和趙公著徐氏子脈症類白虎湯合案第四十三</h2>
<p>類白虎湯症者，誤服白虎湯立斃。辨之之法，雖渴而喜熱飲且少，舌無胎，縱有系白胎，小便清白，脈數大無方。然孰知其有不然者。蔣子和先生吐血將危，予診其脈數大，重按有力，及趙公著、徐氏子直中陰症，脈皆如之。且唇焦鼻衄，小便黃赤，是脈症皆難辨矣。若不細心體察，能免毫釐千里之誤乎？</p>

<h2>賁大成久嗽一案第四十四</h2>
<p>鶴岑賁先生詰予曰：「予男振，咳嗽數載，始而先生以散表愈，繼而屢發。先生或仍以散表愈，或以理氣下痰愈，或以清肺愈，或以補腎愈，或以補脾愈，或以交心腎愈，或以補肺斂肺愈，然屢愈屢發，終不盡愈。今春往雉皋，張加民先生謂左脈小於右，斷為肝鬱所致，君以白芍三錢，始而大效，及至家久服，又不見效，敢問何說也？」予曰：「令郎之恙，得自夏月當風洗浴，故始以散表而愈，愈後不善調攝，以致屢發屢愈。日久肺竅不清，已結窠囊，發則痰喘氣急，俟服藥多帖，痰消大半，則病愈大半矣。然痰根盤踞，如瘡生管，不能盡去，窠囊漸漸積滿，則又發矣。然無外感內傷致咳之由，則亦不發，其發之之由，又非一言可盡者。肺為嬌臟，不容毫髮，受寒咳，受熱咳，飲冷咳，飲大熱咳，又為五臟華蓋，凡五臟六腑之水火濁氣上干於肺者，皆致咳，故《內經》有五臟六腑之咳，咳則周身之氣血上奔，最難遽止，咳為進少出多，吊動腎氣，最易變虛，故致咳之由最多，而治咳之方鮮效也。令郎或仍受風寒而發者，故仍以散表愈。痰積既久，堵塞肺竅，喘急悶絕，忽然驟發，命在頃刻者，故以理氣下痰愈。肺始受寒，久則變熱，發時微寒既經表散，惟熱獨存，故以清肺愈。然肺為腎母，母虛不能生子，子虛令母益虛，金水不能相生，其咳愈甚，虛則補其子，故以補腎愈。但清肺補腎之劑，久服傷脾泥膈，飲食減少，脾為肺母，土虛不能制水，水泛為痰而更咳，虛則補其母，故以補脾愈。有讀書作文，用心大過，致夜不寐，心腎下交，或夢遺相火上炎而咳者，故以交心腎愈。久發不止，肺氣虛耗，故以補肺斂肺愈。寒士境遇，往往拂意，易動肝怒，故張先生又以抑肝愈。設若嗜菸酒炙爆，房色過度，勢必又以滌盪中宮，或以獨參湯、鹿茸丸、黑鉛丹、八味丸等而愈也。既有痰根在肺，則凡所以致咳者，皆足以助之，故用藥有如此轉變也。張先生之方，不過一時偶中，至於病情變遷，窠痰復出，又不效矣。至言左脈小於右，斷為肝虛，若然，則為肝之陽虛，何得又用白芍而效乎？還知是右大於左，為肺家本病，痰火久嗽，宜於酸寒，故奏效耳。若洞明此理則對症用藥，無不獲效。若執一隅之見，一時之方，故有始效而繼不效，若再強進，則疾痼而難救矣。欲愈之法，必須外避風寒暑濕，內戒七情六慾，視世事如浮雲，降心如槁木寒灰，縱發亦稀而且輕，漸漸窠囊消落，再以丸藥培其根本，日久自然全愈。若不遵調攝，專恃藥餌，或醫者見聞不博，博而不化，化而不神，吾未見能全愈也。先生以為然否？」</p>

<h2>孫伯魁咳嗽一案第四十五</h2>
<p>圬者孫伯魁，歲廿余，體素健，傷風咳嗽將一月，忽痰喘，臥床不食，脈微數而弱，予舍脈從症，治以消風驅痰之品，二帖，嘔痰甚多，然餘症不減，脈亦如前，予思風邪宿痰俱去，脈當出而症當減，今仍如前者，真虛症也。遂以六君子湯加歸、芍、龍眼肉與之。喘嗽漸止而思食，四帖全愈。問其平日，過飢則汗出而顫，其中虛可知。勿謂少年藜藿之人，無外感虛症也。</p>

<h2>賁大成久嗽繼案第四十六</h2>
<p>大成賁世兄，咳嗽二年，時發時止，發時氣道阻塞，喘急不堪，服散風降氣下痰潤肺藥數帖，咳去痰五六粉盒，方氣平漸愈。今發未經一晝夜，服前藥八帖，間有加參、耆者，毫不見效，伊父鶴岑先生，醫技已窮，商之於予。予診左脈甚弱，右脈沉而有神，非死症，然手足冰冷，汗時出，痰只出一盒，余不能出，滿腹痞塞，予思脾胃強，則五臟之氣皆強，脾胃弱，則五臟之氣皆弱，況脾為肺母，未有胃氣充足旋轉，而肺氣終不行者，以香砂六君子湯，木香易沉香，砂仁易白蔻與之。服下果效，即減去白蔻，恐肺中伏火繼出，仍加以旋花、桔梗、貝母、蔞仁、杏仁等，再以他藥轉換收功。須知此症，胃氣雖不大實，亦不大虛，但不充足，不能激發肺竅之壅塞耳。故一帖肺氣少輸，前方即為之加減矣。</p>

<h2>丁妻積聚一案第四十七</h2>
<p>丁妻五十餘歲，素有胃疾，忽然厥倒，上腹飽脹，二便不通，脈沉遲有力，予用消伐藥，多加檳榔，則氣下墜，陰孔挺出，小便愈閉，檳榔換桔梗，則下焦少寬，而大腹飽脹如鼓，以檳榔丸合滾痰丸四錢，再以湯藥催之，下積滯五六遍，則脈有時數大矣，為其痞結少開，伏火少出也。然久積之症，非一朝所能去，正氣亦非一朝所能復，若再用刻伐，則正氣愈虧，滯愈難去，將必變為中滿而後已。當用半補半消，或屢補屢下，殿以純補之劑，日久自然全愈。丁姓逞才妄議，見予繼用補瀉兼施，謂理相矛盾，予置不辨辭去。後更他醫，用藥阿其所好，至今一載未起。附此以見積聚之症，而有陰孔挺出，二便不通，腹脹如鼓之奇者。</p>

<h2>繆姓積聚一案第四十八</h2>
<p>今世之談醫者。皆云賤霸而貴王，珠不知王道不當，流而為迂，用霸得當，正所以全王也，非霸也，權也。試問孔子夾谷之會，而以司馬隨之。權乎？霸乎？醫明此義，方可稱為王道。不然，乃宋襄之愚，安得謂之王乎？繆姓胃患積聚，六七載矣。發則數月方愈，系膏粱善飲之人，積滯半化膠痰，不必言矣。舊歲疾發，數月不愈，一醫以為久病無實，惟執「補正而邪自去」一語，所投皆溫補之劑。予往視，見其形肉已瘦，信乎當補，然脈重按滑數，舌厚黃胎，二便不通，此症當以參湯下滾痰丸。但久服溫補，取先補後瀉之義，兩日陸續單進滾痰丸四錢，止瀉兩遍，遂覺胃快。前醫復至，譖予大傷元氣，速進補劑，遂補而痊。醫家病家，盛傳予過，予置不辨。試問從前數月皆補，何不愈乎？何以知予瀉後不善補乎？今歲復發，彼醫仍補數月，予往視，脈仍滑數有力，舌黃且黑，然大肉已盡，較上歲更憊矣。予不覺為之淚下，雖欲仍進滾痰丸，不能救矣。噫，可慨也夫！</p>

<h2>彭彧卿內人結氣一案第四十九</h2>
<p>彭或卿內人，腹中舊有結氣，或上或下，上則不食，下則小腹墜痛，時食粥一月矣。右脈數大，如外感狀，左脈少可，皆重按無力，細審並無外感。經云：「沉而無力為氣。」此脈反浮數，乃中氣大虛，兼以結氣上攻之故，與以香砂六君子湯大效，飲食漸進。然結氣終不愈，後加吳萸、蕪荑而愈。</p>

<h2>朱道人血淋一案第五十</h2>
<p>朱道人年六十餘，患淋，遍服利水藥不效。予思年高氣弱，不能運化，兼以暑熱故爾，遂以補中益氣湯，加牛膝、車前、赤苓、澤瀉等，一服，隨出瘀血半碗。先時人己皆不知其為血淋也，及見出血，道士張伯傳，以為予藥所致，歸罪於予。予云用補藥下血，此係佳兆。彼以為不然，令道人回家調治，恐死累己。未半月康強如故而至矣。</p>

<h2>楊母暴吐一案第五十一</h2>
<p>楊壽明令堂，年將九旬，素健，忽暴吐，脈滑數有力，治以消導清涼而愈。是知有病則病受之，不可因年高而遂廢消導一法也。但中病則止，不必盡劑耳。</p>

<h2>王大使酒疸不治一案第五十二</h2>
<p>虎墩大使王爾玉，年將四十，患酒疸，飲食減少，形容瘦削，六脈沉小。彼云本系六陰脈，予謂無論本脈病脈，皆當以補脾胃為主，而兼以清痰，理氣導濕熱為治，但此藥功緩，彼因上司遠調河工，復延一醫，純用寒涼退疸之藥。至家予往視，自謂黃已退，病已愈。予見形容羸瘦，精神短少，脾胃必更傷矣。未旬日，果一中而卒。</p>

<h2>予吐血兼脾瀉一案第五十三</h2>
<p>予於三十二歲，吐血復發，時又有茶積作瀉，服地黃湯則瀉甚，服耆、術則吐血不止，脾腎兼治，則俱難速效，思以京墨濃蘑，沖滾湯泡炒米食，二病頓愈。</p>

<h2>予身親歷諸病服藥之案第五十四</h2>
<p>予前云：「正氣實者，無症是虛；正氣虛者，無症是實。」此語非臆說，乃予身親歷諸症而驗之也。患疫，飲童便愈。出痘，服六味地黃湯愈。患瘧與痢，服補中益氣湯愈。傷食，服香砂六君子湯愈。牙疼，服八味地黃湯愈。疸黃，以枯蒜煨肉食愈。結腸，多飲豆腐漿愈。瘧後不飢。以美味煮粥食而飢。然稟賦如予，乃百中一二也。</p>

<h2>陳輔廷子少腹痛一案第五十五</h2>
<p>痢疾之痛在少腹，以其大小腸俱在少腹也。木匠陳輔廷子，孟秋少腹忽痛，一鹽商乃廩膳生，書方送人。人意其醫道必通，求方者眾。予偶見方內有附、桂、炮姜，問其症，乃云少腹痛，某以為陰寒，故發此單，予思盛暑而服大熱之藥，若少有不真，則殺人於俄頃矣。予為親視，乃痢疾將發而未出，遂用導滯湯一帖，血痢乃出，後以痢藥收功。蓋醫道貴明理、博學、閱症，三者缺一不可。儒者固明理矣，奈少博學閱症何。又有痢疾已發而小腹痛，大腹更有未變痢之食滯而作痛者，又當以導滯湯加桔梗、厚朴、青皮治之。外此更有大小腸癰，並少腹冤熱諸症，皆不可用熱藥。醫道豈可輕視哉。</p>

<h2>周自西佃者痢疾一案第五十六</h2>
<p>周自西佃者，歲卅余，瘦而健，滯下半月餘。一醫以為形瘦久痢，自當補澀，遂轉增逼迫，求治於予。診脈滑數有力，猶能徒步十里而至，雖久痢未虛，不但兜澀腸中未清之痢，胃中尚有積滯未下，仍以消導攻下，竟未繼補而愈。</p>

<h2>繆姓寒疝兼痰火一案第五十七</h2>
<p>繆姓體素健，六脈純陽，膏粱善飲，素多痰火，年五十，得寒疝症，今已十餘載矣。偶觸微邪即發，有一年數發者，有一月數發者，發則寒熱往來，脈愈大而痰愈甚，渴飲，疝腫痛，或牽引腰痛，予每以小柴胡湯，加青皮、檳榔、花粉，一帖汗出渴止而愈，今歲復發，適予他往，醫等惟清痰火，不兼解表降氣，以年老再娶，腰痛認為腎虛，加以補腎之藥，數帖後，經絡愈滯，腰疼不能展轉，予還視之，仍治以平日所用之藥，但因日久，外邪已散，少用柴胡，只取入肝，不取解表，加威靈仙一錢，豁痰散結，腰疼遂減大半，餘症俱減，然此藥不敢再服，只得以平和藥調之，兩月始愈。愈後詰予以理，予曰：「夫易於外感者屬表虛，腰痛屬腎虛，年老屬虛，晚年再娶屬虛，久病屬虛，時發屬虛，膏粱善飲多虛，七者誰不知之？至於似虛而實實，則又不易明矣。蓋人之元氣充塞乎一身，周流無間，若有一處之結，則必有一處之不充矣。小腸膀胱太陽經，主一身之表，故外感先從此經見症，既有疝結膀胱之內，則氣自不充乎膀胱之外，故最易外感也。此雖表虛，因結而致，非真虛症也。邪既感乎膀胱之外，則膀胱之內，疝氣愈結而痛，內外勾結不散，且久積之疝，寒變為火，兼以表熱，則中宮痰火相引愈熾，故脈愈大，痰愈多而渴飲。若不用小柴胡湯以解表，花粉以化熱痰，青皮、檳榔降氣下痰，而兼下破疝結，何能得愈乎？邪感太陽而用柴胡入肝者何？書云：『疝乃受病於肝，而見病於腎。』此腎字當作小腸膀胱經言，故取柴胡入肝透膽而治其本，則膀胱之邪，不攻自解矣。其腰痛乃膀胱經本症，為風寒把持而然，痰襲於腰，亦致腰痛，足下腰疼，須知二症皆有，豈可補乎？古方治腰痛，以威靈仙煨豬腰食之，今屢妄補其腎，予又何復輔以豬腎哉？日久之病，而一帖頓愈大半者以此，足下其知之乎？」</p>

<h2>予大小腹氣痛一案第五十八</h2>
<p>夫痢疾之疼，為久積黏滯大腸，氣亦為之阻滯，然正氣終伸，久積必去，剝腸而下，痛難忍也。孰知暫有之滯先在於胃，胃氣阻滯而疼，繼而下至大腸，則大腸之氣亦為阻滯而疼，即傷寒陽明症繞臍疼之義也。不可以其在少腹而誤認為陰寒之症。予於癸卯初夏，過飢，飽食蠶豆，以致氣閉於胃，至半夜方疼，清晨連服平胃快氣藥二帖，皆嘔去，絕無宿食，繼而下至大腸，則小腹痛甚，不能展轉，高語咳嗽皆不能，下以檳榔丸二錢。然所下皆薄糞，又非傷寒陽明症繞臍疼之硬糞可比。豈予年老氣弱，雖稀糞而氣亦為之阻滯歟？數行而愈。</p>

<h2>次亡兒久瀉一案第五十九</h2>
<p>次亡兒久瀉，不肯服藥，貧不能用參，以蓮肉去心炒脆，同炒米磨粉，白糖滾水調服，數次飽食而愈。</p>

<h2>童天立幼時久瀉一案第六十</h2>
<p>久瀉不止，而用八味地黃湯者，前人言之矣。為其久瀉亡陰，而於補陰藥中，加以附、桂，水中補火以生脾土，茯苓、澤瀉以利小便，且茯苓、山藥，亦能補脾，萸肉酸收，即白芍治瀉之理而性溫，濟以地黃、丹皮之甘寒，自能補脾陰而奏效也。至於六味地黃湯治瀉，從未之聞。童天立十二三歲時，久瀉不止，脈浮數，無溫補之理，予用六味地黃湯四帖而愈。蓋久瀉亡陰，而童子純陽，不必用附、桂而亦能奏效也。</p>

<h2>內人脾瀉兼氣痛一案第六十一</h2>
<p>內人素有脾瀉氣痛二病，只可補脾行氣，雖年久，不可用澀劑，澀則氣愈結而痛。其痛居大小腹無常，治以香砂六君子湯，加以白芍補脾陰，蕪荑散久積之氣，肉桂、附子、吳萸、炮姜，大補脾腎之火，以生土，須七八帖方能奏效。雖酷暑，亦以是治之。數十年來皆如是，是知有是病，便用是藥，不可因時改劑也。</p>

<h2>康聖功孫痘症一案第六十二</h2>
<p>康聖功孫，五六歲出痘，一醫以熟軍首下二次。蓋赤岸痘醫，皆宗《救偏瑣言》，首用大黃下者強半。四朝延予視，色淡形扁，不渴，神安，身微熱，腹軟微脹，虛症也。恐用溫補不信，令換請一醫兼視，來醫雖云虛症，所開之方，首寫生地，予止之。令再請繆平遠兼視，平遠意與予同，以補中益氣湯加減，始終以之，並未涉一涼血之藥。灌漿時，猶忽作瀉，時朱笠葊至，加以木香、鹿膠，黃耆用至五錢始愈。是知痘症始瀉後補者，十中六七。始終有瀉無補者，十中二三。始終有補無瀉者，百中三四也。豈可概以通套法治之乎？</p>

<h2>王弘仁痘瀉一案第六十三</h2>
<p>族侄弘仁出痘，余不知其初症若何，至十二朝忽大瀉，日夜百餘行，所下皆黏滯之物，如白痢狀，頭頂大半飽膿，余皆白殼，人皆以為必死，茲後竟未投藥而愈。此因正氣充足，臟腑不致受傷，反能傳送毒邪而出，是知十二朝之變瀉，與七八朝之變瀉，大不同矣。</p>

<h2>予痘症一案第六十四</h2>
<p>予十五歲，即得吐血夢遺症，至十九歲始出痘。蔣子和先生云：「此痘幸無毒，若有毒，服解毒藥必斃。使無勞症，可不藥而痊。但腎水虧損，不能制痘火，若夢遺吐血一發，則難措手矣。」遂以六味地黃湯，加麥冬，始終以之。至灌漿時，猶夢遺二次，加人參五分，二帖漿飽。至於結痂，止頭面硬疤，余皆軟痂，痂落帶白，腿肉麻者數年，至於手足，軟皮撕起，剔出乾血如臭鱉形，竟未化而愈。由此飲食鹹少，形肉消瘦，終身羸弱不振。予思此症，服芩、連、犀、羚，則苦寒傷腎而死，服升、葛、荊、防，則下元愈虛而死，服保元湯，則陽愈勝陰愈虧而死，不服此藥，則夢遺吐血必發，終死。噫，微先生孰能至此？</p>

<h2>大亡兒痘症一案第六十五</h2>
<p>痘書以面白嬌嫩者為皮薄，屬虛。紅黑者為皮厚，屬實。殊不知白而嬌嫩者，有似於薄，其間亦有體健者？紅而黑者，有似於厚，其間亦有體弱者，不可概論也？予大亡兒出痘，體甚健，皮白嬌嫩，始而腹痛作瀉，醫以為皮薄，不敢大瀉，聊用清涼之藥，至六朝即補，參、耆才進，麵漿忽停，後面抓破血出，醫方悟為實症，然已無救矣。此醫曾閱《救偏瑣言》而不能用，何哉？</p>

<h2>次亡兒痘症一案第六十六</h2>
<p>次亡兒出痘，體甚弱，犯氣虛毒勝，醫始以熟軍下之。予曰：「此兒體弱，當超期用補。」醫曰：「從未有未見起漿之勢，而遽補者。」又以熟軍下之。自是遂努瀉不止，至七朝方用參五分，見熱勢忽起，又以寒藥與之，至十一朝而斃。死之時，皮肉抓去，止有脂水而無膿血，其虛可知。此醫曾讀《痘疹正覺》，何得偏執《救偏瑣言》耶？前醫不信《救偏瑣言》而誤補，此醫執定《救偏瑣言》而誤攻，是皆不能用書，而為書所用之過也。</p>

<h2>吳小兒天花不治一案第六十七</h2>
<p>夫感寒下症，當用生大黃，以其舌乾糞結，津液乾枯，更佐以芒硝軟堅，惟恐下之不速。若結之不堅者，又當減去芒硝。下症再緩者，又當以生熟軍並用之，若夫痘症下法，舌不幹，糞不大結，下之立通，不必速下。且痘伏毒，非一下所能盡。又多毒產陽位。若以生軍大瀉不止，腸胃空虛，若伏毒再出，何能更下？且陽位之毒，終不能去。正取酒蒸多次，將巔頂之火，盡從二便而出。如伏毒再出，更可二三下之。蓋酒蒸則能破瘀宣動，使毒火散而瘀血破，誠妙藥也。吳兒半周出痘，初看時，稀朗明潤，笑容可掬，似無痛苦內症。但前害，耳未痊，至三朝右耳忽發，頭面皆腫，渾身痘俱沒下。一醫下以生軍一錢五分，瀉後痘出，繼而膿出腫消。然從此水聲漉漉，大瀉不止，至六朝左耳又發，痘又沒下，然已大瀉三晝夜，不敢再下，至七朝而斃。當時若以熟軍緩緩二三下之，則巔頂之火俱去，何致左耳又發而斃乎？蓋《本草》大黃條下云：「生用則遺高熱之病。」於此可徵余言不謬矣。</p>

<h2>虎墩痘兒瘞而復甦一案第六十八</h2>
<p>痘兒系虛症死者，則氣血耗盡，無再生之理。若實症死者，瘞土則火毒盡解，猶有復生之機。余居虎墩時，有一痘兒死瘞道旁，其所經宿數，則予忘之矣。一行道者聞其啼聲，開土取負而去。此予所親見者。是知瘞於空野而復甦，蘇而復死者，不知其幾矣。凡痘兒實症死者，可瘞之家中，身上少加細末涼土，多恐壓窒氣道，但露口鼻，上以薄板覆之，板上再加涼土，信宿不蘇，方可舉瘞郊野。此案雖無補於醫，然而惻隱之心，有所不忍，倘能以此傳告，得救一兒，則勝造七級浮圖矣。</p>

<h2>吳瘸子之子疳瀉目翳繆繼祖疳疾目翳合案第六十九</h2>
<p>虎墩下團吳瘸子之子，七八歲，久瀉，面黃身瘦，雙目生藍翳。一醫謂疳火，令合蘆薈丸，需銀數星，其人甚貧，無資配藥，就視於予。予意當溫補脾胃，升清降濁，遂以補中益氣湯，去當歸加白芍、赤茯、澤瀉、木香，四帖，瀉止翳退。若服蘆薈丸，不但翳不能退，則大命隨之而傾矣。表重侄繆繼祖七歲，時發蟲疾，左目生藍翳，腹不瀉，但痛，不思食，形體如常，予只攻積去蟲，以治翳本，補劑寒劑皆不用，以香砂平胃散，加蕪荑、雷丸、使君肉、五穀蟲、檳榔等，一帖而痛止，去蛔數條，即思食，目翳漸消。予前云：「凡一病皆有虛實兩端。」，於此可見矣。</p>

<h2>仲恭玉三郎痘後目翳一案第七十</h2>
<p>仲恭玉三郎，痘後目翳將百日，方延予視，不肯服藥，非數帖所能奏效，余盡去難服之藥，純用甘寒及味淡者，如二冬、生地、銀花、甘菊、穀精、木賊、荊芥、夜明砂、甘草、羚角、當歸、蒺藜、蟬蛻、丹皮、芙蓉葉之類，熬膏，以蜜濃收之。一取味甘肯服，一取汁厚易於奏效，待兒時時服之。未二旬，翳全消矣。</p>

<h2>蕭友桐目翳一案第七十一</h2>
<p>星士蕭友桐，已損一目，一目又生新翳，系風熱外障，微紅不腫，予惟以驅風散翳之品發之。又恐時值夏月，其人年逾五十，發散太過，表裡俱虛，所關非小。奈貧不能服參，以生耆、生術佐之，只使以酒芩一味，即生地亦不用，點以大辛熱之藥。予始允以十帖見效，不意服至七帖，已見微光，十五帖，翳全消矣。</p>

<h2>賁大成幼子雀盲眼一案第七十二</h2>
<p>賁大成幼子五六歲，夏月久雨，垣頹被壓，忽目夜盲不睹燈月，且風痰有聲。凡有損傷，不論何處，積血必流肝家，今被壓而兼以風痰阻塞肺竅，是肝與肺，痰血互相壅滯也。肝屬於陰，開竅於目，故至陰分不明。予用川芎、赤芍、歸尾、桃仁、紅花、熟軍、夜明砂、穿山甲、大貝、橘紅、前胡、杏仁，四帖而愈。</p>

<h2>次亡兒黃水瘡一案第七十三</h2>
<p>次亡兒生數月，面患黃水瘡，脂流處即害，遍治外科藥不痊，予思解毒散瘀者，莫如大黃與紫花地丁，以二物煎濃汁，新筆蘸掃之。旋干旋掃，應手而愈。</p>

<h2>家舅母胃痛並附陳相文治二胃痛合案第七十四</h2>
<p>雉皋陳相文，言在盱眙縣行醫，有賣棗子客人，體甚健，色事後，多食麵餅冷羊肉，滿腹脹痛，甚劇，眾醫以常例治之，不效。陳用巴豆丸八錢始愈。又治一胃痛症，已一月矣，用黃連三錢而愈。予以為謬言。家舅母年八十四，今歲胃疼復發，舌黃干，不能語，脈遲有力，諸表兄弟，以為年老，不許用瞑眩之劑，予只得用香、砂、二陳、炒梔、枳、樸，熟軍一錢半，人參八分，毫不見效。復用木香一錢，炒梔三錢，吳萸八分，川連一錢半，元胡、半夏各二錢，青皮、枳實各一錢，服後三瀉而痛止。脈轉浮數，鬱火伸矣。舌猶干強，不肯服藥，頻飲西瓜水而愈。然炒梔三錢，不減黃連錢半之力，方知陳言用黃連三錢不謬矣。此既不謬，而用巴豆丸八錢，又豈全謬耶？然未經目睹，終難輕用也。按：巴豆丸，我地之人，服五分為止。陳雲盱眙之人，可服一錢半為止。山東之人，較強盱眙，此係山東之最健者，故能任此大劑也。</p>

<h2>附湯萬春治繆姓間瘧一案第七十五</h2>
<p>繆姓患間瘧，剛過三發，湯萬春處以人參白虎湯合小柴胡湯，石膏用一兩，黃芩三錢，知母、貝母各二錢，令露一宿，五更時與服。不意夜忽夢遺，繆畏藥大寒不敢服。湯云：「各行各道，可服之無疑。」服後瘧果止，而諸症皆安。當時若懼而不服，或改用溫補，瘧必復至而劇，虛而益虛，火而益火，變症百出，纏綿不已矣。是知乃「有故無殞」之理也。予服其膽壯而理透，故附之。</p>

<h2>附王廷絢治二痘症合案第七十六</h2>
<p>王廷絢，乃老成痘醫也。曾言治二痘症，俱系五歲兒。一舌黑，口裂，譫語，狂亂，點如胭脂水灑，先醫下以巴豆丸，王用犀、連、紫草各三錢，石膏一斤，余加群藥，四帖後犀、連、紫草各一錢，石膏半斤，余加群藥，亦四帖，十二朝來漿，後用人參收功。一見點甚稀，手足俱冷，其點時現時沒，吐瘀血一碗，始終以附子理中湯而愈。予意此二症，一生在曾服巴豆丸。蓋痘舌黃，即罕見其生，況黑乎？須知黑者，乃巴豆丸，以火濟火所致，非本來之黑，故可愈。一生在吐瘀血一碗。此兒原有蓄血，故身弱，既蓄血能與痘毒併發，則中氣雖虛未甚，況瘀血一去，正氣立復，好血漸生，再兼痘稀毒微，故愈也。</p>

<h2>附岳丈一笠上人治雉皋陳綿祚目疾一案第七十七</h2>
<p>雉皋陳綿祚，目有舊疾，復感風寒而發，眾醫以為素有積火，所用皆寒涼之藥，毛竅愈閉，鬱火愈甚，頭目痛不可忍。家岳先吹以㗜鼻散，痛猶不止。此日屬甲，又不可灸頭目，遂令尋火酒藥二丸研碎，和蔥白搗汁敷之，其痛立止。此古書所未載，乃出心裁，洵奇想也。世人治目，惟知用極寒之藥，而孰知用極熱之藥之理哉？</p>

<h2>繆姓痢疾一案第七十八</h2>
<p>世醫動以虛寒二字連說，謂虛而即繼之以寒，溫補不效，辛熱隨之，在他症，此法或有不可用者，惟在痢疾，用導滯、芍藥等湯，七日不效，即當溫補，溫補不效，即當繼以薑桂，此古人言之諄諄，實有至理，不可移易，而孰知有不盡然者？繆姓季秋患痢，甚劇，五色皆有，胃飽悶，不食，嘔痰，身熱，脈浮數，醫先未用柴胡，而遽投以導滯、芍藥等湯，重用生大黃，不效。所更之醫，皆模稜之藥，至一月後，痢雖漸減，終不霍然，延予視之。其少陽之邪，雖經屢下，猶未深入腸胃，身漸惡寒，將轉瘧矣。而脈滑數，猶不大虛，予以補中益氣湯，倍柴胡，去當歸，加白芍、木香、半夏、赤茯苓、澤瀉、豬苓，二帖，瘧痢皆止，但內熱復作，仍思冷飲，以前方去木香、半夏，減柴胡，重用生白芍，又二帖，諸症皆愈。蓋因少陽之邪，未從表散，鬱火至今猶在，雖虛而仍兼以火，故涼補則效，而熱補則他症復起也。若執以久痢當用薑、桂，寧不敗事乎？</p>

<h1>附錄</h1>

<h2>重梓《傷寒論翼》序</h2>
<p>夫寶物之顯晦，各有其時，如荊山之玉，豐城之劍，沉埋日久，當其時至，必有卞和起不平之鳴，雖兩刖不辭，稱屈而爭，雷煥俯求豐城令，入獄起沉而出，遂令舉世共知為寶，以成不朽之名。矧夫拯救蒼生夭折之書，而為人世之真寶者，又豈能終晦而不顯哉？《傷寒》一書，出之仲景，乃上天垂憫蒼生，特簡淵鑑聖醫，拯生民之夭折，宜如日之麗天，健運不息，何其越世，即泯焉無傳乎？晉之叔和，得之口授，參恭以己撰，謬引經文，著為序例，有誤後人，遂有千古魚目混珠之嘆，賴後賢方中行、喻嘉言、程郊倩、柯韻伯等，卓識過人，削偽存真，而韻伯更覺天資穎拔，所著《傷寒論翼》，將仲景之條，渾化而論，講一法即以眾法比類而推講之，論一方，亦以眾方比類而推論之，遂覺仲景通身手眼，一時畢現，使讀者無復膠柱鼓瑟之誚，洵仲景之大功臣也。宜其萬古重明，不致再墜，何未幾而棗梨蠹蝕，蕩無復存，是寶物之顯而復晦者也。近有崇川程繩玉先生，著《傷寒發明》一書，所遵是書，十之七八，斷章分注，於各條之下，使人易明，亦善法也。但分而不合，未免反掩柯氏之心法，予於拙作《醫權初編》中論之已詳。新安羅東逸先生，集《古今明醫經論證治匯粹》八卷，為醫林中之至寶，今皆泯滅無傳，惟此與《名醫方論》二卷，予次第得之。噫！醫道掃地久矣。繼晦重明，此非其時耶？舍此八卷，其誰與歸？茲皆梓以為倡，其餘六卷，必有同志君子，訪集續梓以成全帙，大彰斯道於不朽，並使羅子之苦心，復見於今日也。若謂寶物之晦而當顯則可，若以吾擬之卞和雷煥抱屈而爭、起沉而出者，則是冒天功而蹈虛譽，則吾豈肯當哉？是為序。</p>

<h2>重梓《古今名醫方論》序</h2>
<p>古之創為醫者，非立極大聖不能，其次則鴻儒宿學，念天下蒼生，惟有拯救夭折為急務，故醫道得以洞明造化之理，緣有不為良相，則為良醫之說，為其在德不在利也。今之號為醫者，其上智之士，志在讀書干祿，致身華膴不屑屑於茲，中智之士，每改業學醫，其才智可想見矣，甚有僅識之乎而文理全然不曉，亦濫竽於其間者，故有習醫廢人，與不服藥得中醫之誚，以其在利而不在德也。蓋醫之理，即經綸之理，治天下不明其道則荼毒者眾，習醫不明其道，則慘殺者多，又何以治天下以上智，習醫以中智以下之人哉？設使聖天子加以賞罰，以衡文之法衡之，吾恐岐黃之徒，無孑遺矣。我朝新安羅東逸先生，集《古今明醫經論證治匯粹》八卷，含英咀華，探奇摘錦，為醫林中最上乘。觀其「匯粹」二字，其微妙可想見一斑，宜其一燈遠紹，永覺醫人，奈何甫一世而即泯滅無傳？此無他，為其義理奧妙，非淺人所能問津，以陽春白雪，而和之自寡，聽其淪沒，而不復問耳。無怪乎鄙俚淺近之書，戶傳家誦而不朽也。將謂叔和為古之太醫，雖謬而亦真，東逸為今之韋布，雖真而亦謬耶，是皆中人以下之才識，而以成敗論人也。醫道可勝嘆哉？若有奇傑之士，志在乎立德，而不在利祿之謀，以之習醫而不能明乎道者，未之有也。是書予得二卷，一曰《傷寒論翼》，乃柯韻伯先生所著，予已序之矣，一曰《名醫方論》，乃彙集古今醫方之明論者，意在絲絲入扣，辨析微茫，最忌似是而非，毫釐千里，其文理暢茂，辭句雅馴，又其餘事耳。茲皆梓以倡世，欲天下同志之士，訪集續梓以成全美，俾醫者見之，知斯道之難，鼓勇精進，切劘淬礪，自可盡造乎？古儒醫之流，功德與相業相參，尚何有習醫廢人，與不服藥為得中醫之誚也哉？是為序。</p>

<h2>擬黜巫狀</h2>
<p>為體仁贊化，黜邪崇正事，切思佛老之教，已屬異端。而殺人之慘，流風之惡，未有如巫教之甚者也。巫教之甚行，又在於江海一帶。蓋此地之民，不學無術，易感於鬼祟神怪。藜藿者病多外感，必或寒或熱，日輕夜重，甚則譫妄錯亂，渠不審其病情所致，謬認邪祟，即先請巫跳神，名曰救患，巫者假冒諸神傳體，甚有以東獄關聖自居者，罪不容誅，裸體蹈舞，捉刀登壇，叱吒咆哮，作惡神狀，覬覦病家少覺溫飽，便誑曰此災星甚狠，神家難保，眾悚叩懇壇下，准以燒豬，巫方許其生。蓋燒豬則用二三四巫，有過關、跳闕、招魂、捉鬼、送瘟諸事，又有設物、吐紙、懸杯、舞刀、劚刀諸劇，以悅人觀，徹夜為度，所費不貲，面每巫重得一兩，輕得五錢。若病輕將退，適湊其巧，則歸功於巫，若病重不應，不憚數數為之。有病不死，而值巫跳舞叱吒於榻前，魂魄驚散而死者。有汗方出，因噀冷法水復閉汗而死者。有因鑼鼓喧闐，通夜不寐，水愈竭而火愈熾而死者。有因食跳神之酒肉而死者。皆巫殺之也。至終不能愈，方議延醫，但此時財殫力痡，何能再延醫治？即醫延至，而病已入膏肓，雖神丹莫救，亦巫殺之也。反嗤之曰某跳神得生，某延醫反死，殊不知跳神而愈者，病輕而日淺，延醫而死者，病重而日深？又信卜神求籤，巫預賂其解簽者曰：神不準服藥，但許作福。作福者，跳神之別名。噫！巫何黠而民何愚耶？此信巫下信醫之所由來也。病者畏藥之苦口，多不肯服，而鄉灶之家，素不御酒肉，一則無錢，二則恐有乾餱失德之愆，一見患病者，便涎流莫禁，皆借救患之名，而醵分跳神，名曰鬥保。每以十三人為期，以仿十三太保之諺云，可多而不可少，歡乎聚飲，必使酒無餘瀝，肉無餘臠，云病方能脫體。有周姓者，偽病臥床，鄰人遂醵分跳神，周令先與酒肉啖已，啖畢大噱而起。此予目擊，是志在餔啜，假公濟私，以所畏而值所好所悅，豈不情投意洽，遂成惡例不悛耶，此好巫不好醫之所由起也。聖人以巫醫並言者，借言有恆以警人，非以巫醫並重也。況古之巫，誠以禱神，今之巫？妄以跳神，安可以此語並重巫醫哉？今之不學者信巫，固無足論，問有學者。亦以此言傅會之，可哂也夫！蓋醫創自神農軒岐，立極大聖，繼以伊尹、倉公、長桑公、皇甫謐、孫思邈、狄梁公等，代有傳人，不可勝數，試問巫者創自何聖，繼之何賢乎？嗚呼，其亦不思而已矣。遂令江海一帶，竟成鬼怪之俗，而巫覡之多，倍蓰於屠劌，天地以好生為德，聖賢以黜邪為任，巫術違天地而悖聖賢，蠢吾民而殺吾民，傷風敗俗，陷溺人心，罪莫大焉？禮云：假於鬼神，時日卜筮以疑眾，殺不以聽！律云：師巫假降邪神，自號端公太保者絞。憲天心同天地，德並聖賢，立功立德，贊比體仁，舍此誰歸？昔西門豹頃殺數巫而怪風除，女命得生，千古快心，伏望憲天大老爺，准敕該廉，遍示江海一帶，諭以禮津，嚴行痛禁，限以時期，速令改業，即祈晴禱雨淨獄，用此有何功驗？並禁延巫之人，以罪巫之罪罪之。更令以延巫醵分而延醫，亦可得以聚飲，使病者得其實助，又得疾病相扶持之誼，豈不勝彼猥舉萬萬哉？如此，則惡俗化為禮義之鄉，地獄改為天堂之境。然醫師必先命地方耆士保舉，再命老練通醫考中，方許行醫。不然，其風俗雖善於巫，而屠戮更甚於巫矣。上稟。</p>
