<header data-type="book">
<h1>醫津一筏</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>歙縣<data>江之蘭</data>（含徵）著，和縣高思潛考，正吳縣張炳翔（叔鵬）校錄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1925">民國14年</data></dd></div>
<div><dt>品質</dt><dd>70%</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=82626">《昭代叢書》本</a></dd></div>
</dl>
</header>

<h2>醫津一筏題辭</h2>
<p>一介之士苟存心濟物於物必有所濟雖蓬累而行與得其時則駕者不可同年而語而其志則足尚矣吾友江子含徵顧影無儔居東海之濱喜讀書達通寒其才如五石之瓠不適於用然濟人利物之心未當去懷蚤年善病頗究方書遂以天下之疲癃殘疾爲己任視人之呻吟痛苦不啻若涉者之溺於淵呼號求救而思欲手援之彈鋏鼓琴之餘醫門著述滿簏盈贏醫津一筏第其中一則耳今之著輯醫書者亦不乏人但不過摭拾前人牙後慧割裂補竄攘爲己有以博名高究之中無所得苟逞其臆見率意妄行惟有載胥及溺而已江子之書則折衷諸家參以已意將疑似難明各種彙集成編真古今所必由之理實天下所未見之書俾縱斯道者引而伸之平時得之於心臨病應之於手裨益蒼生殊非淺𦯷命曰醫津一筏誠中流一壺也即在江子醫集中亦屬本經上品藥籠中何可一日無之余故爲引而置之水濱以告於世之問津者新安張潮題</p>

<div class="縮進1字" data-rev="古版-元素">
<h2>醫津一筏</h2>
</div>
<div class="縮進2字" data-rev="古版-元素">
<del><p>歙縣江之蘭含徵著</p></del>
</div>
<div class="縮進3字" data-rev="古版-元素">
<p>醫以寒治熱以熱治寒以俏導治積以快藥泄滿以補治虛羸以澀固脫以利下攻秘以潤治渴以辛溫散表以香燥理氣以寒涼止血以通止痛以養血治不得眠以補兼滑治脉遲澀以清且斂治脉洪大以下氣清火治上逆以利水通淋治水泛溢以涼表治發熱雖在下愚不難措手惟是以寒治寒如諸寒鼓僳如喪神守皆屬於火是也以熱治執如發表不遠熱是也以補治積所謂養正積自除是也以益氣治滿所謂滿用術甘是也以下治利所謂通因通用是也以提氣治閉如小便不利用補中益氣是也以泄水治渴如五令散治消渴是也以寒散表如四時感冒怫熱自內而達於外藥用苦寒酸寒是也以涼平理氣丹溪所謂氣有餘便是火是也以溫補止血如黃土湯桃花湯是也以攻擊治不得眠如胃不和則臥不安又痰在膽經神不歸舍是也以利下治遲澀之脉如脉渥而滑有宿食又脉澀不減爲中焦實是也以補中治洪大之脉如內傷用補中益氣湯是也以溫中治嶇逆如吳茱萸湯大半夏湯是也以固表和營治水如水在皮中四肢聶面動防已茯苓湯是也以實表出汗治太陽中風如桂枝湯是也以攻下及補益治發熱如表無熱而裏有熱是也如此之類苟條分縷析何可殫述雖在上智亦費推求前哲非不深切著明後人動手便錯者良由但知治法之所當然而不知治法之所以然也不揣蔬略謹將疑似難用之理提綱挈領本之內經論其大概俾縱醫者一舉三反觸類旁通所謂比類奇恆或在於是噫醫道之廢也久矣在往古翰墨諸臣奉敕箋註醫書尚且隨文順釋頗多訛舛況目不辨魯魚之人不過藉以牟利反能深惟其義乎然其解嘲巧詆則曰盡信書則不如無書今天下稽古之士凡奧旨鴻裁正不當與若輩瞥見也</p>
</div>

<div class="縮進2字" data-rev="古版-元素">
<h2>治病必求其本</h2>
</div>
<p>脾喜燥，傷於寒濕則不能消磨水穀，宐朮附以溫燥之。然脾陰不足而穀亦不化，又不可以溫燥爲治。</p>
<p>有思慮傷脾，脾虛不能統血而矢出者；有思慮傷脾，脾虛不能消穀而作瀉者。此皆以迴護中氣爲本，勿治其標。</p>
<p>有肺虛不統衞血，血溢妄行，隨氣出於鼻爲衂。如動氣在右，汗之令衂是也。脾虛不能行津於三陰，胃虛不能行氣於三陽，氣日以衰，脉道不利，其血悉皆中積，此而欲消，其留瘀當以參耆監之。</p>
<p>胎已數月，忽下血不止，有癥痼害者，當下其癥而胎始安。設不知此，但一味養血安胎，是爲癥痼樹幟也，胎可安乎？</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">劉澹庵曰：下癥安胎，必用驅逐峻劑，雖有故無殞。然不定其虛實而施之，恐非定法也。</small></p>
</div>
<p>火氣逆上是肝腎之陰失其龍雷蟄伏之性而上逆者，至於胃中濕熱下流，又是邪氣乘其木而陰氣反走於上，俾上焦之陽不伸而肺中治節之令不行，故見爲鼻塞、胸滿、涎溢、惡寒戰慄之證。又咳嗽煩冤，是腎氣之逆也，其所以上逆之故，亦有此二者虛實之異。推此則治痰莫先於降火，降火之法，亦須識此二者虛實之異。又平脉云：少陰脉不至，腎氣微，少精血，奔氣迫促，上入胸膈。夫少陰脉不至，是先天元陰元陽受傷。腎者，先天也；脾胃者，後天也。先天既已受傷，則不能生乎後天，故脾胃之陰陽亦傷，不能運化水穀而生濕熱，熱下流則膀胱之氣化不行，濁氣因而上入，濁氣上入，肺氣便壅，脾氣愈滯，於是爲痰爲飲而腹脹食滯之症形焉。其少陽生髮之氣鬱而不得升，爲周身刺痛，爲嘔逆吐酸。心主之陽，爲濁陰所乘，則爲心悸怔忡。是腎之一臟病，而五臟六府皆爲之不寧，故養身莫妙於節欲也。若不知此，而但以行痰利氣爲治則燥，痰傷其陰，利氣傷其陽，不坐困乎？此又專主腎虛而言也。</p>
<p>心腎不足，小便渾濁，中氣不足，溲便爲之變；金衰則水涸，溺色變爲黃赤。此皆正氣虛而生邪熱，當推原其本而補之，苟徒執水液渾濁皆屬於火一語而施治，病安能愈？</p>
<p>飲食勞倦，損傷脾胃，始受熱中，末傳寒中，要知始受之熱，因穀氣不得升舉，壅而爲熱又火，與元氣不兩立之熱，非實熱也。故在始受之時，已云勞者溫之，損者溫之矣。病久安得不爲寒中耶？東垣謂衝任之火傳之督脉，督脉挾太陽寒氣逆克丙火，似失之鑿。</p>
<p>子母情牽，仇讎肆虐，或勝克乘薄之不一，又本臟本脉其別者，或走他臟他脉，一臟病往往挾他臟而見證者。</p>
<p>邪之所湊，其氣必虛。邪乘虛而入，是虛爲本邪爲標，故去邪不可不加以養正，此一註腳，人所同也。然亦有身體壯盛之人，暴受邪氣，如外感風寒，內傷飲食之類，本氣未必皆虛，受病之後，反顯虛象，若營衞受邪，則屈伸不利，動作衰之；脾胃受邪，則四肢無力，惡食嘔泄之類。此邪氣既湊之後，其氣亦必虛，是虛因邪而顯，邪爲本虛爲標，斯時但當亟去其邪，而正自復，不必顧慮其虛，用藥牽制，此一註腳，余所獨也。</p>
<p>治病當知標本矣。然猶不可不知標中之標，本中之本，如脾胃虛而生濕熱，是虛爲本，濕熱爲標也。至濕熱下流膀胱之氣化不利，是濕熱爲標氣化不利爲標中之標。至氣化不利逆而上行，嗌塞喘逆，又標中標之標也。推此而逆求之，則本中之本亦可得矣。</p>
<p>陽旺生陰，氣不足亦令人口乾而津液不通。</p>
<p>喘而短氣，須別寒熱虛實，分類治之。至於哮則素有之痰之火，風寒所束而發，但看其人之強弱，用藥輕重可耳。</p>
<p>肺本金寒水冷之臟，然既已汗吐下損津液而成肺痿矣，豈清涼之品所能復其津液乎？此仲景之竟用桂枝人參薑棗所宐詳究也。</p>
<p>火與痰本氣與津液也，無病則爲氣與津液，有病則爲火爲痰。然致病之由，不過內傷外感，有餘不足而已。求其本而治之，則痰消火滅，故曰見痰莫治痰，見熱莫治熱者以此。</p>
<p>內傷外感悉能致勞，苟不察其虛實，但施養陰清熱之套劑，則虛者未必受補，而實者愈實矣。</p>
<p>失血證畢竟屬熱者，多世有用寒涼而反劇者，蓋有氣虛之火，有血虛之火耳。</p>
<p>衝氣上逆，有上焦之陽不足而陰氣上於者，有下焦之陰不足而陰火上逆者，有脾胃之濕熱下流而肝腎之氣不能固守於下者，俱挾衝脉故耳。</p>
<p>邪火內熾，陽事反痿，苦寒瀉之，陽事勃然，火與真陽勢不兩立，如此世人以助火之劑，冀回真陽，非徒無益，而又害之。</p>
<p>所謂虛風者，似風非風也。然亦有陰陽之別，陰虛是熱則生風，陽虛是陽氣不能衞外。</p>
<p>衞爲陽，陽虛不能衞外，故中風。風爲陽邪，以類相召故也。但風爲陽邪，既中之後，每多顯陽熱之症，此不可不推求其受病之本，而務從事於見病之標也。諸病皆治其本，唯中滿與大小便不利當治其標，以證之危急，不暇爲本計也。余謂果系實證，則不難消導之，通利之治其標可也。若涉虛證，其法可行乎？仍當治其本。</p>
<p>東方常實，有瀉無補，其說有二。一者肝爲將軍之官，其性剛勁急速；一者木火同居，風乘火勢，火助風威，皆毋贊其勝也。若言其本，則乙癸同源，養血與滋陰並急。</p>
<p>顛、狂、癇皆主於痰。顛是虛而致痰；狂是實而致痰；癇是風而致痰。虛實風爲本，痰爲標也。</p>
<p>痰在肺曰燥痰，又曰氣痰，以肺爲燥金而主氣也。燥爲本，氣爲標，其痰澀而難出見爲證也。往往胸膈阻塞，關節不利，不知者以辛香燥熱利其氣，燥者益燥，氣愈不利。</p>
<p>肺虛咳者何也？失其降下之令也。徒降其氣，咳愈頻矣。</p>
<p>黃昏咳多者，是火氣浮於肺，此陰虛之火，故宐五味子斂而降之。</p>
<p>諸痿喘嘔皆屬於上，上者，肺也，不得以香燥利氣。</p>
<p>濕勝則濡泄，當以燥劑治之，然逆秋氣則傷肺，冬爲飧泄，此肺移熱於大腸之病。若以溫燥治之，是益其病也。</p>
<p>渴固多熱，然內外傷感悉能令津液不行，而渴須求其自。</p>
<p>三陰結是水之本，至肺氣不利，發爲浮腫、喘嗽、口乾、小便澀、腹滿、黃汗、身重不能轉側、陰腫。陰濕則又水之標也。</p>
<p>寒邪在標，鬱熱於經而令咳血、衂血，解表自愈，麻黃湯杏子湯是也。心肺有疾而鼻爲之不利，不必主專於風寒也。</p>
<p>治病必求其本。本者，下爲本，內爲本。故上熱下寒，但溫其寒而熱自降，表寒裏熱但清其熱而寒自已，然須加以反佐之藥，以免格拒，至於先傷於風而後傷於寒，先傷於暑而後傷於濕之類，又當相其輕重緩急而施治。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>有者求之，無者求之，盛者責之，虛者責之</h2>
</div>
<p>四肢無力，動作衰乏，虛也。然邪客營衞則出入之道廢，中焦有阻則升降之機窮，亦能見證如此，故曰無者求之。</p>
<p>諸痛無補，言氣逆滯也。雖然壯者氣行則愈，怯者著而成病，真氣虛乏之人，諸邪易於留著，著則逆，逆則痛。疏刷之中不可無補養之品，徒恃攻擊，則正愈虛，不能送邪外出，邪愈著而痛無休止也。遇斯疾者，攻補兼施而不愈，遂宐屏棄一切，其要又在斷厚味，遠房幃，使邪無所助，而正氣日勝，然後佐以疏刷，擊其惰歸，病無不愈。但邪氣方熾，病者正在呻吟痛苦之時，醫者教之以如此，如此是猶子輿氏教滕君以強爲善，鮮不以爲迂闊而遠於事情者也。又若脾胃亡液，焦燥如割，宐用真生苄脉湯。陽澀陰弦而腹中急痛，當用小建中湯。肝氣不足，兩脅下滿筋急，不能太息，四肢厥冷，發嗆，心腹痛，目不明瞭，爪甲枯口而青，宐補肝湯。房勞過度，腎虛贏怯之人，胸膈間多隱隱痛，此腎虛不能約氣，氣虛不能生血之故，氣血俱虛則凝滯而作痛，宐用破故紙之類，溫腎芎歸之類養血。又胸痹痛，有真陰虛而然者，有元陽虛地氣上干而然者，頭痛有氣虛者，有血虛者，有腎虛者，皆不可不無補也<small class="雙行夾注">苄，地黃也</small>。</p>
<p>婦人因產，去血過多，腹中急痛，是肝木無血以養，宐當歸建中湯，亦是痛而應補者。</p>
<p>婦人居經，血弱氣盛，孤陽獨呼陰，不能吸陰，爲積寒。陽爲聚熱，故時發灑淅、咽燥、汗出，或溲稠數多，唾涎沫，其脉右浮大左弱澀，此當養其血，所見之證勿計也。</p>
<p>證象白虎，誤服白虎湯必死，言治假以真也。</p>
<p>寒邪閉其營衞，當以升發之藥散之。然素有痰熱之人，遇此升發之藥，痰隨氣上，閉住肺氣，皮毛爲之壅遏，邪愈不得泄，病反增據，又當以苦泄之。</p>
<p>心火不得越則鬱於小腸，肺氣不得泄則鬱於大腸，小腸下口，即大腸上口故奔迫無度，裏急後重而成滯下，此是風寒內縮使然。徒責之濕熱，未能萬舉萬當，所以治痢亦當與治瘧，半表半裏同法。</p>
<p>食積痰留舍腸胃之間，氣行則出，有似魚腦，間以血絲，閉氣滑腸，狀如痢，利反快，不可作痢疾治也。</p>
<p>熱則生風，痿痹不隨，而有風象，醫以風治之恐不免致痿也。</p>
<p>便泄肛門熱有火熱有陽陷二端。</p>
<p>先天者，無形之虛神而已矣。後天者，有形之實則氣血也。治先天當以神治神，治後天當以形益形也。但神虛則氣血不生，神亂則氣血不寧，氣血虛則神無以養，氣血亂則神爲之遷，此又當消息之耳。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class="雙行夾注">張漢瓿曰：氣血即神之窟宅，不治氣血何由治神？以神治神立論，如此尚須著落耳。吾常謂談醫之道不可一語模糊，令人徒作天際真人想也。</small></p>
</div>
<p>天地陰陽，停勻方不崩不拆，人亦如之。稟畀之後，嗜欲不節，起居無時，七情六淫所傷致，此陰陽有所偏損則偏勝，故見以爲有餘而實也。有餘但治其偏損者，而有餘自平。</p>
<p>形氣有餘，病氣有餘，瀉之可也。形氣不足，氣病。氣不足，補之可也。至若形氣有餘，病氣不足，形氣不足，病氣有餘，當責有無真假。東垣云：但補瀉病氣之有餘不足，不必顧其形氣之有餘不足，似非確論。</p>
<p>幼科大便黃赤，屬熱是矣，其青白亦未可專以爲寒。夫水穀入胃，入大小腸，腸胃無邪，則水穀以傳次化者，清入營衞化精微，濁者下廣腸成糟粕，糞爲之變。設腸胃有寒，水穀不得熱腐，故下利清白，完穀不化。然腸胃有熱，水穀不得停留，亦下利清白，完穀不化，不得專以爲寒也。</p>
<p>腎爲先天之本，脾爲後天之本固矣。然肺金不足，或不得其平，亦不能生水。心火不足，或不得其平，亦不能生土，徒責之脾腎無益，故病亦有治標而得者百病不離乎火。火者，天地所有之氣，亦吾身所有之氣也。從外入者，天地亢害之氣，吾身中以類相感召，亦令此氣爲之亢害也。此傷暑受熱是矣。至若七情，以及風寒燥濕動亂爲火者，以火喜條達而惡遏抑，今以七情及風寒燥濕抑遏之，動亂爲害，然發之、瀉之、制之、克之可也。迨夫相火則其體藏於右腎之中，所以配左尺之水，俾此水得以徹於上下，周於四表，充膚澤毛，若霧露之溉，雖水爲之實火爲之也。設使陰虛，此火失其窟宅，遊行於四肢百骸，五臟六腑之間，而爲大患。陽虛則此火無根而脫出，爲患亦然。此不可以濕折水滅，唯當相其人之陰虛陽虛而補養之。獨是體虛之人，易於受邪，或內外傷感，抑遏成火，則補虛之中，不可無瀉實之藥，若六味地黃丸加黃柏知母等方是也。審此則用藥不難中肯綮矣。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">張永孚曰：相火稟命於命門。真水，先天水火原屬同宮，水以火爲主，以水爲原。下論曰：設使陰虛此，火失其窟宅，陰虛即水虧火脫，出即陽虛，豈六味加知柏反可平之者耶？</small></p>
</div>
<p>諸瘡將結痂時，必極癢，蓋癢爲虛。先時邪盛則痛，今邪去則虛，虛則癢，邪去則痂。若癰疽初發便癢，是邪盛正虛也。</p>
<p>上有絕陽之絡，下有破陰之紐，皆是氣虛不能緝續故也，補之所以輯續之耳。但正氣一虛，邪火便盛，又穀氣不得升舉，壅而爲熱。又氣虛不續，而有留氣，爲喘、爲滿、爲痛，往往見有餘之證，令人異首畏尾，而不敢徑行施補，遷延就斃者有之。</p>
<p>肺出氣，腎納氣，所謂一呼天根，一吸地穴，循環無端，應刻而不疾徐者也。此氣一虛，則斷而不續，或短氣不足以息，或壅而爲滿，雖雲氣不歸原，其實只是氣虛也。若陰虛陽無所附，上見喘滿，此則真是氣不歸元耳。</p>
<p>言而微，終日乃復言者，此奪氣也。濕家短氣，聲如從甕中出，此氣爲濕所持而然，然則有形之傷，悉能令氣短，不能定以爲奪氣也。</p>
<p>諸痛皆主於氣滯，但氣滯之由，有虛有實，不得專主疏刷。</p>
<p>腳腫無非濕熱，蓋濁邪下先受之也。膏粱厚味之人，由濕熱下流，田野耕鑿之人，由寒濕外侵，是爲實邪。中氣素餒，土虛不能制濕之人，是爲虛邪。二者雖有虛實之不同，然皆本於濕，唯是一種。形瘦多熱，年老陰虛者，每至日午腳面浮腫，此何以故？予嘗思之，陰虛而至暮年，陰愈虛矣。虛極之陰，便不能吸氣歸原，而升舉其陰，於是陽獨浮於上，陰獨沉於下，而腳至暮浮腫也。</p>
<p>汗多亡陽，下多亡陰，言陽主外陰主內也。然豈無辛熱而損蓋覆之陰，豈無苦寒而傷閉蟄之陽？必以見證何等而參之以脉，方爲不誤。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">劉澹庵曰：汗多亡衞外之陽，下多亡主內之陰，二者應之速。汗，不過一汗再汗；下，不過一下再下，而遂亡陽亡陰。辛熱損陰，苦寒傷陽，則有漸積使然。</small></p>
</div>
<p>治風熱燥火寒濕之中，尤必以真陰爲先務。治寒濕溫燥之中，尤必以真陽爲先務。然風熱燥火，亦有亡陽者，陰虛陽無所附也。寒濕亦有亡陰者，陽虛陰必走也。</p>
<p>厚味之人，不妨消導，然情欲過度，又宐慎之。藜藿之人，最忌消導，然淡食形盛，又在不禁。</p>
<p>凡病煩躁而愈者，以邪氣盛時，正不能與之爭，反相安於無事，及其正復而與邪爭故煩躁也。以此知癱瘓不隨之證，無痛癢反難瘳，以正爲邪並學而能復耳。</p>
<p>病有在下者，其見證反在上，蓄血發狂是矣。在上者，其見證反在下，肺氣壅，大便頻，肺氣虛，小便數是矣。在表者，其見症反在裏，如三陽合病下利是矣。裏者其見症反在表，如熱深厥亦深及面反戴陽是矣。</p>
<p>風溫、溫瘧，得之冬，中於風寒，遇溫而發，其氣自內而達於外，故多汗。不比風寒外束，閉其營衞，當鬚髮汗解肌也。故以發汗爲逆，然其邪自內出。若因汗而驟加斂表之藥，邪不得越，爲害匪輕，務必相其人之虛實，清解得宐。</p>
<p>虛不受補，邪實也。實不受攻，正虛也。</p>
<p>氣有餘便是火，氣焉能有餘？惟是少一分之陰，便多一分之氣，此一分之氣，無所歸宿，而爲火矣。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">張漢瓿曰：血陰氣陽，二者屬人，未見其有餘。少一分陰，便多一分火，火有餘則似氣有餘也。如此說方透。</small></p>
</div>
<p>陰陽有偏勝爲病者，有偏負爲病者，然偏勝之中，往往有偏負之假象，補之則益勝。偏負之中，往往有偏勝之假象，瀉之則益負。</p>
<p>清氣不升，濁氣不降，七情六淫，氣血飲食痰皆能爲之，苟不求其本而但利其氣，氣之升降得乎。</p>
<p>瘧疾無汗，要有汗固矣。至於有汗要無汗，此亦不可不斟酌也。雖瘧邪有虛實之不同，其始未有不因暑邪，內藏陰邪，外束所致，邪氣乘陽則陽盛，陽盛則外熱，熱則腠理開。又暑爲陽邪，陽邪多汗，故瘧症往往多汗，數發之後，邪氣漸衰者，亦以邪從汗解，所以瘧疾雖衆，不救者少，亦以此故也。豈可因其多汗，而遂加以固表之藥，邪無從解矣。故古人但言扶正爲主，亦未嘗言固表也。余謂汗少不妨更汗，若汗多不必更發汗，似爲得之。</p>
<p>醫家要明不可治之病。而後知有可治之病，不可治之病，真陰元陽虛極故耳。如形盛脉細，少氣不足以息者，死。形瘦脉大，胸中多氣者，死。世人徒讀其文，而不繹其義，豈知形盛脉細，元陽虛也，少氣不足以息，虛之極也，故死。形瘦脉大，真陰虛也，胸中多氣，虛之極也，亦死。又如溫病，穰穰大熱，脉反靜者，死。下利脉反大者，死。又皆正氣虛，而邪氣實也。正不勝邪，故死。可見，凡病之不可治者，由真陰元陽之虛，則其可治者可意會也。</p>
<p>邪氣之所湊，其氣必虛，故曰：不能治其虛焉。問其餘，然亦不可執也。豈無壯年之人，違年之和，遇月之虛，及思慮應酬之間爲虛邪賊風所乘，又因脾氣健旺，過啖甘肥炙焯釀成膠痰實火，則發表攻裏．如河間之推陳致新，有何不可？因循顧忌，則反累傷正氣，所謂五虛死，五實亦死。又云：毋實實，毋虛虛。今又不論虛實，動手便用補益，自謂調元之手，亦膠柱而鼓者耳。</p>
<p>庸工但執熱則流通，寒則凝滯二語。一遇諸腹脹大，痰氣阻滯，與夫大小便秘，遂行溫利之藥，不知寒熱虛實是病皆有。如諸腹脹大皆屬於熱，在心曰熱痰。氣有餘便是火，熱則燥澀爲癃。此等可溫利乎？夫水下二刻，一周循環，此陰陽相抱之氣而然，偏陰偏陽能之乎？故曰氣化則出，其旨深矣。</p>
<p>手足心熱及夜熱，有虛有實，不得執定陰虛。</p>
<p>鬼賊相刑，固爲惡候，然於理爲順，微邪薄所不勝，由己之虛也。於理爲逆，所以病亦有微邪而篤者，賊邪而愈者。</p>
<p>營衞之或疾或徐，脾胃之或寒或熱，痰因之而中積，血因之而留止，不亟爲開囊活血，陳者不去，新者不生，始因虛而致實，終因實而致虛，此攻擊之品，不能無也。</p>
<p>肝欲散，急食辛以散之，肝之實也。肝苦急，急食甘以緩之，肝之虛也。推之他臟，亦然。</p>
<p>女人血結胞門，則上焦之陽不得入於陰，在下則小腹裏急，五液時下，在上則孤陽獨浮而爲發熱，爲掌上煩，爲唇口乾燥，又宐先開痹破陰結引陽下行，不徒專恃滋陰。</p>
<p>小便少亦有肺熱，不能通調水道者。</p>
<p>風濕症以去蒼朮加白朮冲和湯爲當。風寒症亦有風，有時開其腠理而自汗者。四時傷風，亦有自汗者，耆芍宐慎。</p>
<p>風火皆陽，能開其腠理，皆自汗多汗，一則桂枝，一則白虎，不可紊也。廉泉開有中焦鬱熱者，有中風舌縱者。</p>
<p>虛則不能運化精微，鬱而爲熱，此陰黃之由。</p>
<p>緊斂勁縮，燥之體也，風勝反似之，兼勝己之化也。</p>
<p>營衞受氣於中，中有所阻，則營虛發熱，衞虛惡寒，故氣血飲食痰皆能寒熱者質此。</p>
<p>青筋症，面青唇黑，手足厥冷，氣逆血衝使然。醫者，意中不先有此一症，鮮不認作陰經傷寒也。</p>
<p>膈間有熱痰，熱氣上蒸，脉道壅塞，故令人頭風目昏。治以酒蒸大黃，自上抑之，所謂鳥集高巔，射而落之也。此症甚多，眼科未嘗載，予每治驗。</p>
<p>人身中有形之物皆屬陰，故曰瘦人血虛。然肥人亦有痰生熱，熱生風，風生燥，燥則傷陰，往往亦有陰虛者，不可不知。</p>
<p>痰之洶湧上焦，結聚胸中，皆由於氣。故治痰莫先於治氣，治氣又莫先於降火，破氣清火則痰自消，此則言乎六淫七情，怫鬱暴積之痰耳。若日積月累，老痰凝結，又當積漸以消釋之，更當相其人之陽虛陰虛，助以調補。苟如前法，將見痰未降而氣已消，爲患不可勝言矣。醫者曉得當汗而汗，當下而下不難。曉得當汗而不能汗，當下而不可下爲難。仲景之可與不可，宐詳玩。富貴之人，恣情縱欲，自揣不足，求補於味，不知腎虛則胃弱，不能消磨其厚味，不生津液而反爲痰涎，中州不運矣，氣愈弱矣。病者不察虛中有實，醫者又不識實中有虛，攻之不安，補之無益，聊藉參耆，苟延歲月，一旦奄逝，自謂其命，寧不悲哉！</p>
<p>按之痛者爲實，不痛爲虛。夫按則氣散，即實亦有因之而痛減者；虛則氣壅而爲痛，覆按之氣愈壅，即虛亦有因之而益痛者。正未可執此而定其虛實也。若以熱手久按痛止爲寒，不止爲熱，此則差可必耳。</p>
<p>七情所傷，動亂其火而傷陰，此易知也。七情所傷，動亂其神而損氣，此難知也。要知神乃氣之帥，神亂則氣自損耳。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>疏其氣血，令其調達，而致和平</h2>
</div>
<p>膏粱厚味之人，形盛氣衰，以氣不足以充故也。然氣不足則生痰，以爲氣不足而補之，則痰氣愈滯，胸膈不利，營衞不通，加之以腎元衰耗，厥氣上逆，諸病叢生，故善治者補益之中不可不兼之伐痰。然端本澄源，又在遠房幃，斷厚味爲先務也。</p>
<p>五臟各有專司，六府互爲輸瀉，不啻百僚帥師矣。十二經以行於表裏上下，十五絡以絡之奇經八脉，以藩蔽之，不啻金城湯池矣。然主不明則十二官危，土崩瓦解之勢一朝而至。可見，善養生者，全在收攝此心。程子曰：心要在腔子裏。朱子曰：必使道心，嘗爲一身之主，而人心每聽命焉，則天地萬物位且育，豈但區區卻病而已。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">劉澹庵曰：人身別有一主，非心也。謂之君主之官，當與十二官平等，不得獨尊心之官爲主。若以心之官爲主，則下文主不明則十二官危，當云十一官矣。此趙無閭所見甚超也。</small></p>
</div>
<p>陰虛則陽無所附，氣有升無降，法當以滋陰之藥爲君，斂降之藥爲佐，苟徒降其氣則濁未必降，而清且隨之矣。陽虛則此氣中斷，氣有降無升，法當以補中藥爲君，升舉之藥爲佐，苟徒升其氣，則清未必升，而濁日隨干矣。此治陰陽偏虛不易之理外，此或七情逆滯，或氣血飲食痰阻礙中焦，妨其升降出入之路，其人元氣未虧，不妨升之降之可也。然以上悉指後天有形氣血而言。若論先天元陰元陽，則陰虛陽必薄，陽虛陰必乘，此時但當峻補其陰陽，無暇爲升降治標計也。</p>
<p>八珍湯固是陰陽平補之劑，然人稟受不同，豈無偏勝遍虛？則知少補一分之陽，不足以配陰；少補一分之陰，不足以配陽。多補一分之陽，則陰氣耗竭一分；多補一分之陰，則陽氣牽滯一分。此調理不足之症，最爲棘手，況乎體虛之人，外淫易犯，內情易起，飲食易停，痰血易滯，尤不可僅責其所無而不求其所有也。</p>
<p>陰雖主降，然必欲從天而降，陽雖主升，然必欲從地而升，方謂之陰陽相抱。故用苦寒以治火之王，辛溫以治水之王，病未去而寒熱反增。</p>
<p>邪正相搏則痛。若正不勝邪，不妨補之，然須佐以去邪之藥。若正氣太虛，又不妨純補，俟其正復，然後加以去邪之藥。兵法云：先爲不可勝，以待敵之可勝。又曰：善戰者，立於不敗之地而不失，敵之所以敗也。</p>
<p>虛痛雖有氣血寒熱之分，然皆主於氣鬱滯，氣不滯則痛無由生。氣虛則氣行遲，遲則鬱滯而痛；血虛則氣行疾，則前氣未行，而後氣又至，亦令鬱滯而痛。故氣虛補氣，血虛補血，俾陰中有陽，陽中有陰，反其漏下二刻一周，循環之常，痛自愈也。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>適事爲故</h2>
</div>
<p>世間病之殺人者十三，而藥之殺人者十七，皆由不知陰陽虛實之理也。如勞瘵未必遽死也。欲退其蒸，頻用寒涼，則脾泄而不可救矣。膈噎末必遽死也，欲開其鬱，頻用香燥，則三陽結而津液竭矣。水腫未必遽死也，欲利其水，頻用淡滲，則陰亡而成陽水矣。如此之類，未易枚舉。操司命之權者，豈可不知中病即止之理！</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>反佐以取之</h2>
</div>
<p>陽虛而見陽熱之症，此是真火無根而脫出也。陰虛而見陽熱之症，此陰虛陽無所附而然也。陽盛而見陰寒之症，陽盛拒陰也。陰盛而見陽熱之證，陰盛格陽也。四者用藥差訛，死生反掌。</p>
<p>陽虛陰必走，水無氣以鼓之，不能周流循環，是以走也。故有陽虛失血者，然血本水類，水就下，既無氣運之上行，則當從二陰之竅脫出。今陽虛之血，往往見爲吐衂者何也？要知命門火衰之人，真陽脫出，浮游於上，陰血擾亂不寧，亦從而脫出也。海藏云：激而爲吐血、衂血者有之，心肺受邪也。下而爲便血、溺血者有之，腎肝受邪也。其言可想。</p>
<p>陰陽格拒，藥用反佐，謂之反治可也。至於真寒而見假熱，真熱而見假寒，藥用反佐，其實正治也。</p>
<p>血脫益氣，是陰虛陽無所附，故不得不先補其陽，然後徐調其陰，此從權之治。尋常陰虛勞瘵，不得以之藉口，而以參耆爲家常茶飯。</p>
<p>熱則生風，雖有虛實之不同，然皆爲假象也。只是古方養血清熱之中，而以風藥爲佐，此不可不深惟其義。夫風者，肝木之氣，少陽之火系焉，喜條達而惡抑遏，火動風生，失其條達而抑遏也，佐以風藥，以辛利之，而復其性耳。</p>
<p>黃連、苦參，久服而反熱；附子、乾薑，多飲而反寒，雖云久而增氣，反招見化之尤。究不外寒之不寒是無水也；熱之不熱是無火也。</p>
<p>痙證在外，陽病者仰而不能俯；在內，陰病者俯而不能仰，此不易之論也。而海臟附子散方下云：治傷寒陰痙，手足厥冷，筋脉拘急，汗出不止，頭項強直，頭搖口噤。夫頭項強直則非俯而不能仰也。奈何？陰病亦然。意者，陰盛格陽於外，陽經熱盛，故如此。如厥陰經，熱深厥亦深，亦舌卷囊縮，此又是熱乘其本，而陰反走於外也。予曾見頭項強直之證，有與寒涼而隨斃者，蓋未達此理故耳。</p>
<p>腎者，胃之關，從陽則開，從陰則闔。陽太勝則開而爲消，陰太勝則闔而爲水明矣。仲景治水腫，主之以腎氣丸，而治消渴亦然。甯不與陽盛有乖乎？予謂：此之消是腎中陽虛不能收攝也。此之渴是腎虛引水自救也。俞嘉言謂：腎水下趨，故消；腎氣不上騰，故渴。均用此丸，蒸動腎氣，恐未必然。</p>
<p>上虛，固是陽虛，以身半已上同天之陽也。下虛多是陰虛，以身半以下同地之陰也。然一陽根於地下，而水出自高原，陽虛則有降無升，或虛之極而真陽脫出，陰虛則有升無降，或虛之極而真陰四射，又不可不進求焉。</p>
<p>陽中不可無陰者何？無陰則不能降也。陰中不可無陽者何？無陽則不能升也。故目：天以陽生陰長，地以陽殺陰藏。</p>
<p>渴而汗出，小便利，大便硬，似不宐更利小便，重傷津液也。然仲景又有宐五苓散者，此蓋通因通用，其小便利乃是熱邪偏滲於小腸，故行乘勢利導之法，如下利之用承氣也。</p>
<p>燥與濕不兩立之勢，然濕則鬱，鬱則熱，熱則燥生，有不得不然之理，亦濕位之下，風氣承之，風生燥也。仲景諸黃豬膏發煎，茵陳五苓散，分治氣血分之燥旨哉！</p>
<p>截瘧劫嗽，本非王道，亦有不能不用。如瘧邪已去八九，胸中有痰癖留戀，其邪斯時不暇，顧其餘而直攻其痰，則邪無留戀之處而病自愈。設邪氣方張，則驅邪之未遑，正氣已脫，則補救之未遑，敢用截藥乎？咳嗽邪已去八九，而肺氣虛耗，虛則氣逆，斯時亦不暇顧慮，其邪之未散，而直收澀之收，以止逆澀以固脫，則正氣復而餘邪自解。設邪未去八九，而虛邪逆上，敢用劫藥乎？</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>從少從多，觀其事也</h2>
</div>
<p>傷寒黃連湯，因其人本虛寒，陽邪傳裏，興胸中之陽，兩陽相合故爲上熱。下焦之寒則自若也，所以上熱下寒，斯時已成，乖否之象，病可愈乎？是湯之不可緩矣。</p>
<p>六氣相合，有差多差少，有真象有假象。真假之中，又復有差多差少，所以不可不知，從治之法也。</p>
<p>陽虛易於受寒，陰虛易於受熱，以身中之不足，感召外邪之有餘，此流濕就燥之義，且無以御之之故也。然亦有陰虛中寒，陽虛受熱者，其邪蓋因虛而招致，不必同類而感召也。治熱則恐亡陽，治寒則慮亡陰，最難爲矣。</p>
<p>陰虛只當發熱，不當惡寒，然亦有惡寒者，熱勝反兼勝己之化也。氣虛只當惡寒，不當發熱，然亦有發熱者，火與元氣不兩立也。</p>
<p>小便黃赤，多主於熱。經又云：肺氣虛則肩背痛寒，少氣不足以息，溺色變。又冬脉不及令人月少清脊痛，溺色變。二者言肺腎虛寒而小便變，何虛實寒熱相懸，而其病則同。若此要知肺虛則不能通調水道，腎虛則關門不利，皆能鬱而爲熱，熱則溺色變，是熱則一第有虛實之不同耳。亦不可不知從治之法也。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">張漢瓿曰：小便赤變有中寒，而如是虛人老人恆多。溺色變，熱則一，未應說也。</small></p>
</div>

<div class="縮進2字" data-rev="古版-元素">
<h2>必伏其所主而先其所因</h2>
</div>
<p>丹毒之與發斑，亦有表裏致病之殊。丹毒則系感觸時行不正之氣，滯於營衞，斑則由陽明瘀熱而發於肌肉耳。二者雖宐清熱，在丹毒不可不加以解散，在斑又不可不顧其虛，蓋斑亦有亡陽於外者，如丹溪所治完顏小將軍是也。又丹疹隨出隨沒，系陰虛而虛火遊行者。又身癢癮疹，有因風濕及痰者。</p>
<p>風傷衞，衞傷則不能固衞津液，故令自汗。此說深得用桂枝湯之旨，表實則裏虛，此一語人往往潦草看過，而不求其所以然，蓋營衞受氣於胸中，而臟腑亦受輸於營衞，今營衞受邪而實，則失其轉輸之職，而裏爲之虛，亦醫道之淺而易忽者。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">張永孚曰：營衞受邪而實，當言衞受邪而實，則營失其衞而裏爲之虛，不然表實裏虛一語，終欠明耳。</small></p>
</div>
<p>病有大相懸殊，而其理則同者。如肺痿之與痿蹙肺癰之與痹病不同。然一本於陰虛，一本於陽實，其理則同，故學者不可不知比類。</p>
<p>人身中三陽經衞於外，三陰經守於中，原無勝負，第陽氣喜舒而惡鬱，鬱則熱生，七情六淫皆能令鬱也。又天氣作陽，厚味助火，又勞倦則陽和之氣動亂爲火，如是則火與熱搏擊於身形之中，未免傷陰，陰傷則陽旺，陽旺陰愈傷，以至偏勝偏虛，故丹溪發陽有餘陰不足之論，世人讀其言不精求其義，毋怪其有吠聲。</p>
<p>太陰厥陰無熱而少陰反有熱者，緣少陰與太陽爲表裏，其經亦裏之表，又少陰藏真陽，斯二者俱是反有熱之故也。觀其用麻黃附子細辛湯概可見矣。</p>
<p>胃偏於陽則消穀易飢。又曰：邪熱不殺穀。蓋消穀是胃陽發露，不殺穀是邪熱耳。</p>
<p>《傷寒論》、《金匱要略》豈每證治驗，然後筆之於書哉！不過以正氣與邪氣相搏擊在何經，又系何邪見證應作何等立其例，論其理耳。然卻非杜撰，後人亦將此等理明白於胸中何難？因此及彼昔賢議論真筌蹄也。又《要略》者，是舉其要而言擴而充之，存乎其人。</p>
<p>燥極而口噤，善驚數欠者，以木被金囚而不舒也。婦人藏燥喜悲傷，亦是此意。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>寒之而熱者取之陰，熱之而寒者取之陽，各求其屬</h2>
</div>
<p>當天地不交之時，陽獨治於上，無陰以蓋覆之。陰獨治於下，而填九竅之原明者，當於陽藥中加以收斂降下之品，使陽歸於陰，陰藥中加以升騰生髮之味，使陰加於陽。</p>
<p>過用陰精而陰脫於下，暴喜傷陽而陽脫於上，則各補其陰陽。其有亡陰而陽脫於上，亡陽而陰脫於下，則脫陰者當補其陽，脫陽者當補其陰。</p>
<p>陰虛陽亢，法當益水，或加細生甘草以瀉火，此先天之陰陽也。陰虛而生濕熱，法當滋陰，以瀉濕熱，如六味丸加黃柏、知母，此後天之陰陽也。陰虛而陽無所附，法當峻補其陰，以攝伏陽；陽虛而無所倚，法當峻補其陽，以承領其陰；陰陽兩虛，則平補而各居其位。此後天之陰陽而並通乎先天之陰陽也。</p>
<p>相火有二，在少陰者，元陽也；在少陽者，生髮之氣也。皆須陰以養之。咳嗽大半是火來剋金，謂之賊邪，故難愈。在實火固可瀉，若虛火惟有壯水之主，然壯水豈常人之能事？又豈可以歲月程功？況乎陰虛於下則痰氣壅於上，養陰之藥又皆阻氣留痰，亦未易倉卒取效也。</p>
<p>劉澹庵曰：此是內傷陰虛，火來剋金之嗽。若風寒外入，肺邪未出失解者。久之，火亦剋金，傳變生痰，又在體認明白。</p>
<p>人有至冬寒時苦，足冷夜半，陽氣漸生，其冷愈甚，此亦質壯秋冬，奪於所用病之輕者也。其人上焦必多熱，蓋兩腎陰陽抱負，損一分之陰，即脫出一分之陽。既強力入房，奪其收藏之用，陰精縱未全虧，陽氣亦難全藏，是以上焦每多熱，下焦每多寒。至秋冬三陰氣多，三陽氣少之時，足爲之冷矣。晝當陽氣旺，或能入於陰，子後初生之陽，其氣尚微，遂不能入於陰，而足愈冷也。比之夏至，一陰生而天氣反熱，冬至一陽生，而天氣反寒，其理一也。矧脫出之陽，與上焦初生之陽，至此時，兩陽搏擊於胸中，未免痰氣溷滯，此又陽不能入於陰之一義也。《內經》寒厥論云：春夏則陽氣多而陰氣少，秋冬則陰氣盛而陽氣衰。此人質壯以秋冬奪於所用，下氣上爭不能復，精氣溢下，邪氣因從之而上也。人知秋冬奪於所用，謂秋冬奪於收藏之用，但不知收藏何物。豈知收藏者，指此陽氣而言也。陽氣至此時收藏腎中，正當思培養之計，爲來歲生長化之用，奈何恃其質壯而以入房，遂奪此收藏之用，於是下焦之陽衰矣。衰則求救於上焦之陽，原賴於下焦之陽爲之根，今下焦潛藏之陽既衰，而上焦之陽安能復也？陽不能持其陰精，而精氣溢下，上下之陽俱虛，時令之寒挾下焦之寒從之而上，故寒厥耳。後人謂奪於所用是精竭於下，上爭而求救於母氣，腎所去者太過，肺所生者不及，故不能復，如此言則是陰虛之證不當見爲寒厥，與陽氣衰於下則爲寒厥，及陽氣衰不能滲營，其經絡之旨大相背戾，此蓋隨文順釋之弊，後學無可適從耳。</p>
<p>腎虛水泛爲痰，謂腎中陽虛也，陽虛故水泛溢。若陰虛則是有升無降，咳唾痰涎，二者相去徑庭，治法迥別。</p>
<p>火之所以沉伏者，多本於陰虛，無以堵御。經謂：陰脉不足陽往乘之也。故養得一分之陰，即能托出一分之火。如瘧疾邪微，正復將欲愈者，口舌反生瘡。又傷寒口渴爲欲愈是矣。</p>
<p>丹溪陰不足之論，誠爲精確，是則當養陰矣。然道家又言純陽，又是喜陽而惡陰，不知陰陽不可偏勝，亦不可偏負。其相得無間便是真氣元氣，即生氣也。人生動作不衰，皆賴此陽氣，然養此陽氣，又全賴此陰氣，如魚之有水。所以陰在內，陽之守也。然陰氣匱乏一分，則陽氣脫出一分，陰氣全絕，則孤陽飛越而去矣。善攝生者，外邪不侵，內情不動，茹淡，遠則火不作而陰全，陰全則陽氣相抱，四肢百骸皆陽氣充乎其間，故曰純陽。苟不知此理，而一味養陽以求生，經曰：有陽無陰，謂之厥陽。厥陽可生乎？</p>
<p>瘧之寒熱，當知三者之別，一因有形之積留於中焦。夫中焦之氣主行營衞者也，爲有形所阻，則營衞不能受氣而虛，衞虛則惡寒，營虛則發熱也。再則因暑邪爲陰寒所束，在半表半裏之間，一旦發動，薄陰則陰實而陽虐，薄陽則陽實而陰虛，陰虛則發熱，陽虛則惡寒也。其三則因氣血兩靡，氣虛則惡寒，血虛則發熱也。凡病見寒熱，總不越此三者。</p>
<p>張漢瓿曰；氣血虛惡寒發熱說，在瘧之寒熱條下宐分別。氣不足則中焦之氣斷續而不行，凝結而爲脹滿痞塞。血不足則不能吸陽氣於下，中焦之氣亦斷續而不行，凝結而爲脹滿痞塞於此。但當診其脉症，察陰虛陽虛而補益之，一切破氣消導之藥不可用也。夫四肢百骸皆受氣於胸中，氣血虛則周身浮腫，亦如中焦之氣斷續不行，留結而爲脹滿痞塞也。於此亦當審其氣虛血虛而補益之，浮腫自消，一切消腫利水之藥不可用也。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>明知逆順，正行無間</h2>
</div>
<p>嘔衂血不止有當下之者，人皆知血出下竅爲順，故其法應施於妄逆之際也。不知血之妄逆皆因於火，治火必用苦寒，苦寒之藥能令血凝不流，血不流則氣逆嘔逆豈能止乎？縱使得藥而止，瘀血之患作矣。所以用苦寒下之，俾火降而瘀血不留，斯一舉而兩得也。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">劉澹庵曰：嘔衂用苦寒下之，是逐瘀血也。然不若慎用苦寒，無使血瘀不愈於下之乎？</small></p>
</div>

<div class="縮進2字" data-rev="古版-元素">
<h2>推本陰陽</h2>
</div>
<p>表之陽附於津液，大汗亡津液，故曰亡陽。裏之陽附於腎水，房勞損陰精，故曰脫陽，不然，津液與精皆陰類，何以陽名？</p>
<p>溫瘧、風溫，悉是冬不藏精之人，其寒直中少陰，至春因溫而發病。雖有輕重之不同，而致病之由則一也。《內經》、仲景未詳其治而但有其論，後人因其論而彷彿其治，總不外甘寒以救腎，辛涼以祛溫，獨不思腎虛者，腎中之元陰元陽虛也。此法施之於陰虛之人則可，施之於陽虛之人其可乎？不但知冬不藏精，謂之陰虛，不思陰既虛矣，陽豈能安其位乎？況兩腎之中，一點真陽，每曰守邪之神，風寒真中少陰，多由神不能守，此等又可以前法治乎？安得起仲景於九原而細商至當不易之理也？</p>
<p>老人陰虛者，十常八九，陽虛者，百無一二，天地古今之理亦然。試觀古人敦厚和平，陰之體也，今人尖銳躁急，陽之體也，世道漸漓，亦指此敦厚和平之陰氣漸漓耳。審此則古方治今病斷有不可執者，至論進陽退陰，進君子退小人，若《易》之喜復而惡剝，此陽蓋指生髮之氣，陽指肅殺之氣，又非謂人身日用消長之陰陽也。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">劉澹庵曰：老人陰虛者固有，陰虛者更多，有服參耆附桂，而人不容已，始長年而安保者，則何故耶？是說當論活些，勿執。</small></p>
</div>
<p>寒熱，人身中之陰陽耳，治則爲陰陽，乖則爲寒熱。</p>
<p>衞屬陽，其氣慓悍，故行速；營屬陰，其氣靜翕，故行遲。瘧邪之間一日及連二日發者，邪之著於營也，人周天之數，日行過之，月行不及，亦是陰陽遲速之分耳。</p>
<p>生我者非他，五運之氣也；死我者非他，亦五運之氣也。故有五臟即具五行，及邪之所湊，或真氣本虛，或他臟薄乘，則各呈其象而爲病，以脉言之，如真臟脉見，即與之決死期。</p>
<p>燒針益陽損陰，今時陰氣漸漓，盡從火化，故燒針一法，多不效。非無其傳也，時世異也。即岐伯生於今之時，亦當舍燒針而從事湯液矣。治病有失之淺者，見病治病是也。有生之深者，誅伐無過是也。推本陰陽，萬舉爲當。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>食養盡之，毋使過之，傷其正也</h2>
</div>
<p>弦數者，風發也。以飲食消息止之，深得勿藥之理。</p>
<p>神氣相得，則生化之機不息。故養生家不能無爲，而又不可使之有爲，此便是天地無心而成化，聖人有心而無爲之理。昧者爲情欲所牽制而疾病生，所謂吉凶悔吝生乎動也。此豈可以針砭藥餌治哉！反觀自養可耳。</p>
<p>要知邪氣，即吾身中之正氣，治則爲正氣，不治則爲邪氣，方知養正積自除之說不謬。</p>
<p>不澄其源而欲其流之清，不去其薪而欲其湯之不沸，不斷厚味而欲其積之可消，此不可得之數也。</p>
<p>病之始起也，可刺而已。其盛可待衰而已。望其文而不知其義，知其義而不詳其法，皆不之以言治。請試論之。病之始起不過由於真氣失守，邪氣乘之。邪氣者，內傷外感是矣。其初只是客病，不妨攻之使去，故曰可刺而已。久則正虛而生邪熱，既不能補，復不可攻，懾生者，此時當使之慎起居，俾陰精日生，熱退則餘邪自退，此不治之治，故曰可待衰而已。示病者醫者不識待之理與待衰之法，一則躁急以求治，一則雜藥以妄投，不死於病而死於醫者，踵相接也。</p>
<p>貧瘺之人得劇病，多有不服藥而自愈者，以其無服藥之力，且無治邪之味也。醫家以兵法治病，文清野千里，是廣服大藥。予謂不然。貴在斷厚味，使邪無所助而自退，又不戰而屈人兵之法也。</p>
<p>丹溪茹淡論最得調攝之法，然陰之所生，本在五味，一味茹淡，亦恐陰氣不生。予謂甘肥之味，要在淡煮，使不生痰助火，至於蔬菜，不妨加以鹽豉，益其味也。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">張漢瓿曰：精不足者，補之以味。斷厚味在看何病宐，何當忌則是。如腫脹食鹽助邪，可類推矣。若一意教人淡食，則恐胃氣日憊，精神頓消，而不可回者矣。若肥昧淡煮，可謂得情。</small></p>
</div>

<div class="縮進2字" data-rev="古版-元素">
<h2>微妙在脉不可不察</h2>
</div>
<p>《內經》曰：血虛脉大。然氣虛亦有脉大者。蓋血虛氣無所附故脉大；氣虛則邪火甚，故脉亦大，此種經旨皆有，但未嘗明白指示，此道之所以常不明耳。</p>
<p>脉細小之類，爲正氣不足，洪大之類，爲邪氣有餘。正氣不足而見細小之脉，可補而愈也，邪氣有餘而見洪大之脉，可瀉而愈也。唯是正氣不足而脉反洪大，邪氣有餘而脉反細小，一則正虛邪勝一則邪勝正虛，故皆不治。診者先知此種大意，則不難迎刃而解。問病然後察脉，以病合脉，其脉得，其病亦得。若以脉求病，則二十四脉每部各有寒熱虛實證候紛糾，何能一按了然？譬如浮脉，浮而有力爲風；浮而無力爲虛似矣，然中風脉浮而緩，緩之與無力相去幾何？譬之沉脉，沉而有力爲實，沉而無力爲虛似矣，然中寒脉沉而微細，微細之與無力相去幾何？又如弦脉，邪在少陽則脉弦，血虛脉弦，風家脉弦，支飲脉弦，苟不問其人之壯怯，及表裏陰陽，有何痛苦，所謂猝持寸口，何病能中？況噤之以聲息，蔽之以帷幄，此非窘醫，實自貽其咎耳。脉如車蓋，如羹上浮．是陽氣將絕也。如屋漏，如瀉漆，是陰氣將絕也。亦自本乎天者親上，本乎地者親下之義。</p>
<p>仲景脉浮當以汗解，假令尺中遲者，爲營血不足，不可發汗。又曰：脉浮數者，法當汗出而愈，若下之身重心悸者，不可發汗，當自汗出乃解。所以然者，尺中脉微，此裏虛須表裏實，津液自和，便自汗出愈。凡脉浮取之盛，按之不足，寸關盛，尺不足，其盛皆爲假象，蓋沉之與尺，猶樹之有根也。故仲景於當汗之症，遲迴顧慮，如此予更有說焉。夫浮以候表，寸以候陽，外邪初入，必先在表與陽分，表盛則裏虛，上盛則下虛，此時似難以尺中遲微而誤當汗之期，猶必須審其人之形氣病氣何如也。若其人無外邪，脉見沉候，與尺不足，此真是有陽無陰，枝葉雖茂．根本將撥，勿妄施攻擊耳。</p>
<p>曰腎氣獨沉，曰腎氣不衡，總是石而無胃，腎水不能上交於心火之象也。</p>
<p>促爲陽，緊爲陰，然仲景又曰：傷寒脉促，手足厥逆者，可灸之。又曰：手足厥冷，脉乍緊者，邪在胸中，當須吐之。是又不能拘也。</p>
<p>有者爲實．無者爲虛。仲景又謂陽脉微者汗出而愈，陰脉微者下之而愈，雖曰極虛之處，便是容邪之地，然既極虛矣，汗下豈可輕哉！此亦人存政舉之法，後學不得藉以爲口實也。</p>
<p>劉澹庵曰：從症不從脉，正在此處要人下手，仲景非立是空頭論而眩後人持兩端也。</p>
<p>風濕相合，熱濕相合，便牽制其善行炎上之性，脉證最難辨別。</p>
<p>色診以明澤者生，沉夭者死。亦猶脉之有無胃氣也。別則於陽者，知死生之期，言無胃氣，彈石解索是也。</p>
<p>病之淺者，邪未入於經，病之深者，亦有兼化之象，脉亦難拘。</p>
<p>陽主煦之，陰主濡之。真氣虛是陽不能煦，陰不能濡，脉或饊而弱，或弦而緊，此一定之理。</p>
<p>色診不論何色，俱欲其明澤，然光芒浮露之人，又非壽徽，是亦陽亡於外也。故善攝生者，其氣深，其神藏，諸病皆有寒熱虛實，斷不可執已見以爲憑。所可憑者，脉耳，然脉又有陰陽格拒之易惑，真假虛實之難明，與夫從脉從症之不可泥，醫道可易言哉！</p>
<p>《內經》三部候法，右寸以候肺及胸中，左左寸以候心及膻中，此上附上一定不易之理。而叔和《脉訣》又云：右寸以候肺及大腸左寸候心及小腸。後人謂大小腸爲下焦，傳導濁穢之府，而診於膈上，清虛之所，此理不倫，遂指《脉訣》爲高陽生托叔和之名也。據蘭謂《內經》、《脉訣》兩論，俱不可廢。在《內經》是言身形軀殼內外，在上者診之於上，而言叔和則以五行配合經脉相絡而言，何也？蓋欲察病脉，先須知平脉，夫肺系足太陰，主金，大腸繫於手陽明，亦主金，脉之浮澀而短，金之體也，安有浮澀而短之脉，亦診於右尺乎？心系足少陰主火，小腸系手太陽亦主火，脉之浮大而散，火之體也，安有浮大而散之脉，亦診於左尺乎？況肺與大腸，心與小腸，確顯聲應氣求，不可移易之證，又寧可以部位拘耶？叔和敘論仲景《傷寒論》，其可指摘處頗多，至於《脉訣》則不可謗矣。又相火藏於九地之下守，謂稟命，確宐診之於尺，膻中雖曰咽喉之司，當診於上，然不過爲相火之虛位，亦不必於寸求其診也。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">張永孚曰：《內經》以臟腑上下分部位候診，叔和則以臟腑相絡而候診，不妨並存其說，不爲悖理。</small></p>
</div>

<div class="縮進2字" data-rev="古版-元素">
<h2>必先歲氣，無伐天和</h2>
</div>
<p>二分二至，病之輕者，可望其愈，病之重者，須防其篤，此陰陽互換，人氣隨之也。天地能鼓鑄群品，人亦能範圍天地，同在氣交中，誰能逃兩儀之侵薄？觀聖人在位，天無疾風淫雨，非然耶？知此則養生，即病之理錘可在手矣。</p>
<p>寒肅之氣，爲生髮之本。不然，造物者，豈好爲此戕賊哉！知此則知天地不可無秋冬之令，吾人身中不可不保金水二臟。</p>
<p>升已而降，降已而生，兩已字殊不妥貼。一邊升便一邊降，是升中有降，降中有升，升者自升，降者自降，奚俟其已耶！不觀之二分二至乎？四時之春夏秋冬而配以木火土金水，治病須求其寒熱溫涼之宐，毋違時，毋違化，用熱遠熱，用寒遠寒，宐矣。至於運氣則有常有變，有主氣有客氣，有陽年有陰年，有南政有北政，有勝氣，有復氣，雖皆一本於乾支，然剛柔強弱，雜亂紛糾，何能按圖而索？如土平運曰：備化不及曰卑監，太過曰敦阜。此可考也。少宮之歲而實與太角之歲同，則難可考也。況乎太陽之人，或遇流衍之紀，太陰之人，而遇赫曦之紀，強者有制，弱者得扶，又未可以流衍赫曦之，故而病寒熱也。且古今異氣，方隅異宐，安能比而同之？故施之於治，往往不可不知。</p>
<div class="縮進1字" data-rev="古版-元素">
<p><small class=" 雙行夾注">劉澹庵曰：古今異氣，方隅異宐，主氣或同，客氣則定，有不同者，此在察其氣，以知所感者何？屬爲多比而同施而治之，自不可也。</small></p>
</div>
<p>世有日用尋常之事，童而習之，白首不知其所以然者，如五行相剋，水剋火，火剋金，固易明矣。至於金剋木，豈斧斤，以時入仙之謂乎？木剋土，豈草木蕃茂土因之而瘠之謂乎？土剋水，豈水來土掩之謂乎？是不易明也。在箕子主質而周子主氣，後人茫無所宗，予謂水剋火，火剋金，是言其質之與性；金剋木，木剋土，土剋水，是但言其性。木之敷榮條達，固其性也，金氣肅殺，則克之矣。土居中央，其性緩，木之性勁急，則克之矣。水之性寒，濕土之性溫燠則克之矣。速其所欲，謂之瀉，瀉即克也。推此而言，相生之理，亦莫能外之格物致知之學，由淺入深，由粗入精，此等粗淺之處不明，吻口而談運氣得乎！</p>
<p>化氣必以五，故五行不可增之爲六，減之爲四，亦自然之理。</p>
<p>五運六氣各具一體用，各具一太極，亢害承製，歸於和平。和平者，陰陽相抱，無偏無倚，之謂千萬法門，不過欲全此氣耳。醫有喜寒涼而惡溫熱，喜溫熟而惡寒涼，均未諳此。</p>
<p>運氣之說，若按圖索驥，似墮馬宗素術中。然不深求其理，安知人在氣交中，五運六氣太過不及，陰陽勝復內外合邪，皆能爲病？中庸之理，無往不宐。試以運言之太過不及，皆能致病。如土太過則水受克而火無制矣。土不及則不能生金，而木橫肆矣。故曰：母能令子虛，子能令母實，是虛則補其母，實則瀉其子之義也。又子逢竊氣，母乃力爭，母被鬼傷，子來力救之義也。不然造物既以生物爲心，又殺之何也？蓋理之不得不然者耳。</p>

<div class="縮進2字" data-rev="古版-元素">
<h2>有毒無毒，固宐常制矣</h2>
</div>
<p>統而言之，天爲陽，地爲陰。分而言之，天有天之陰陽，地有地之陰陽，故治者，要知補益陰陽矣。尤不可不知補益陽中之陰，陰中之陽。補陽中之陰，甘寒而氣厚味薄者是也；補陰中之陽，苦溫而質重味厚者是也。</p>
<p>咸走腎，腫脹之卻鹹味，以防賊邪者，因脾胃虛不能運化水穀而生濕熱，濕熱下流，則膀胱之氣化不行，小便不通。今使鹹味引土邪入腎，腫滿不能愈也。茶內著鹽，便能消腎，亦是此義耳。</p>
<p>五味子味厚而酸，故能收至高之氣以藏極下之地，譬之車論焉，上者能下，而下者方能上。五味如大力者，將此車輪扳之使下耳。</p>
<p>能知桂枝開腠致津液通氣，白朮、茯苓之生津，則醫學之上乘也。</p>
<p>方者，仿也。務必相時令之虛實與時序之寒溫仿而用之。王宇泰云：小續命湯亦麻黃桂枝之變，麻黃不施於冬月即之傷寒，而泛施於溫熱之證，未有不殺人者，其可執乎？</p>
<p>夫辛能燥，以開竅走津液故也。然又曰：辛以潤之，其義何居？不知燥氣在裏，則津液不行，而元府閉塞，故曰腎惡燥，急食辛以潤之。開腠理，致津液，通氣也。風藥治秘，蓋本諸此。</p>
<p>有宐先攻後補，其功在補，有宐先補後攻，其功在攻。易醫而治，譭譽生焉。殊不知後醫之有功即前醫無功者有以成之也。易時而治，皆無功焉。所謂客醫之治熱病，即舊醫之乳藥也，豈可以有毒爲是，無毒爲非，無毒爲是，有毒爲非乎？</p>
<p>氣，母乃力爭，母被鬼傷，子來力救之義也。不然造物既以生物爲心，又殺之何也？蓋理之不得不然者耳。</p>

<div class="縮進1字" data-rev="古版-元素">
<h2>自跋</h2>
</div>
<p>今人以方書贈人，人皆欲得而藏之，謂可以備不測也。若與之談醫理，如衞鞅說秦孝公，以王道聞之，疲倦欲寐。不知理不明，雖有良方而不適於用，非方之不良也，用方者之不達理也。譬之匠氏榘彠之不明，而徒從事於其器，器利矣，秪足以血指染汗，而無與於鳥革翬飛之事也。然范范宇宙豈無聞絃賞音之人？此香雪齋主人所不能秘耳。</p>

<h2>跋</h2>
<p>有益於世者莫甚於醫然而難言之矣讀書欲多析理欲精從師欲衆臨症欲廣書不多無以知埋之源然於理有未精書雖多亦無益也師各有所長合衆說而集其成庶無過偏之患苟唯一先生之言是從未必無所誤也臨症不多無以知某候即某書之某條且無以驗其症之同異輕重也今有一醫於此治甲則驗治乙則否非厚於甲而薄於乙以甲之病適投其所長而乙適值其所短也又試舉一醫於此初治之而驗久之且漸不驗易他醫而後瘳者非前精而後蔬也病之初起適與其術柑投病之漸減又不可執其偏見爲已驗之方故必改其道而後可也又有服藥已誤則當先治藥而後治病有命將傾而藥不可投則當置其病而保其命有病不利於速愈速則反增他病者此必精於理而後可也吾友江子含徵工於醫者也吾雖不知其所從者幾何師所治者幾何症然吾則謂其讀書必多而析理必精也於何知之於其所著之書而知之也心齋張潮</p>
