<header data-type="book">
<h1>旌孝堂醫案</h1>
</header>

<h1>一、崩漏</h1>
<p>（案1）天癸應去不去而妄行血塊，有由漏而崩之狀。</p>
<p>東洋參（一錢五分）　酸棗仁（二錢）　貢阿膠（蒲黃炒，一錢）　廣橘皮絡（各一錢五分）　雲茯苓（三錢）　樗根白皮（三錢）　地榆炭（三錢）　杭白芍（三錢）　大艾葉（七分）　當歸身（一錢五分）　乾地黃（三錢）　炙甘草（五分）　芙蓉花（一錢五分）　陳棕炭（一錢）</p>
<p>肝脾既不統藏，任帶又疏約束。天癸妄行有塊，腹痛作噦，穀食減少，脈象弦細而數。再延有崩漏之漸。</p>
<p>煨大白芍（一兩）　炙甘草（一錢）　製半夏（三錢）　雲茯苓神（各三錢）　木芙蓉（一錢五分）　西琥珀（研細，和服，三分）　須穀芽（三錢）　又加伏龍肝（一兩）、雞內金（三具）</p>
<p>本證稍解，吸受新涼，身熱不清，擬方速解為要。</p>
<p>粉葛根（一錢五分）　杏仁（二錢）　廣橘皮絡（各八分）　製半夏（三錢）　雲茯苓（三錢）　煨大白芍（二錢）　炙甘草（一錢）　枇杷葉（一片）</p>
<p>再診：製半夏（四錢）　蔞仁霜（八分）　煅赭石（三錢）　木茯苓神（各三錢）　廣橘皮絡（各七分）　伏龍肝（一兩五錢）</p>
<p>兩日一服，十三帖。</p>
<p>丸方：乾地黃（三兩）　老生薑（一兩五錢）　煨大白芍（三兩）　炙甘草（五錢）　製半夏（三兩）　雲茯苓神（各一兩五錢）　廣橘皮絡（各四錢）　上肉桂（去粗皮，二錢五分）　地榆炭（二兩）</p>
<p>上藥地黃泡取汁，生薑搗取汁，以二汁互炒二渣，共研細末。用拒霜花三兩煎湯疊丸。每早三錢開水下。</p>
<p>（案2）天癸並月而崩，已延月餘。刻加外感，致氣痞舉發，寒熱不清，攻衝作痛，穀食不思。此乃病上加病，非佳兆也。</p>
<p>廣藿香　粉葛根　製半夏　川樸花　香附米　川鬱金　前胡　防風　廣橘皮　木茯苓神　甘草　降香屑</p>
<p>外邪已解，惟氣痞未平，胃氣未和，血崩未止。擬方治之。</p>
<p>廣橘皮　製半夏　焦於術　南木香　建曲　麥穀芽　雲茯苓神　香附米　砂仁殼　佩蘭葉　陳米飯（青荷葉包燒）</p>
<p>外：婦寶丹</p>
<p>氣痞已平，血崩已止，惟人虛易感風邪，寒熱咳逆，穀食不香。擬方仍冀速解。</p>
<p>前胡　防風　蘇莖子　杏仁　桔梗　甘草　製半夏　廣橘紅　雲茯苓神　葛根　枇杷葉</p>

<h1>二、濕溫</h1>
<p>（案1）濕溫月餘，瀰漫三焦，身熱不清，耳聾面瘦，結胸自利，脈息弦數。深慮正不敵邪，致生歧變，擬方以盡人力。</p>
<p>杏仁　白蔻仁（後下）　製半夏　雅連頭　乾薑　廣橘皮　川貝母　黃鬱金　赤苓　枇杷葉　鐵鏽水　生薑汁</p>
<p>外用巴豆仁一粒、雅連薑汁炒，十三寸共搗如泥，用棗漿和勻作餅約如棋十枚大，每用一枚置臍上，以蘄艾小團灸，壯不計數，以熱不可耐為度。</p>
<p>（案2）濕溫結胸自利，身熱未清，脈象細濡，已五候有餘。深慮正不敵邪，外生枝節，擬方獲效乃吉。</p>
<p>制附片（一錢）　製半夏（一錢五分）　雅連（姜水炒，五分）　乾薑（四分，炒）　黃鬱金（一錢五分）　川樸頭（五分）　新會皮（八分）　雲茯苓（三錢）　六和曲（二錢）　鐵鏽水（五匙，和服）　又加葛根（八分）</p>
<p>再診：製半夏　雅連頭　乾薑　廣橘皮　川樸頭　黃鬱金　六和曲　雲茯苓　苦杏仁　白蔻仁　鐵鏽水　生薑汁</p>
<p>外用巴豆仁、黃連、棗漿為餅，置臍上，用艾團灸之，不計壯數，以腹中熱不可耐為度。</p>
<p>（案3）濕溫延經月餘，寒少熱多，胸次不開，脈象滑數。深慮正不敵邪，致生枝節。擬方獲效為順。</p>
<p>粉葛根　杏仁　製半夏　川鬱金　雲茯苓　白蔻仁　廣橘皮　大貝母　川通草　大白芍　炒六曲　枇杷葉　甘露散</p>
<p>二診：春柴胡（六分）　粉甘草（四分）　廣橘皮絡（各八分）　川通草（三分）　桂枝（六分）　大白芍（一錢五分）　杏仁（一錢五分）　白蔻仁（七分）　法半夏（二錢）　雲茯苓（三錢）　枇杷葉（二片）</p>
<p>（案4）產後百脈空虛，濕溫瀰漫三焦，將近一月。右邊發頤，向來肝鬱不伸，濕痰內擾，所以穀食不進，脈象弦細而滑，深慮外脫之虞。</p>
<p>杏仁　白蔻仁　廣橘皮絡　製半夏　香蘇莖　川鬱金　赤苓　川通草　滌飲散　枇杷葉</p>
<p>（案5）濕溫後肝木乘脾，水濕困中，脘腹膨脹而大，脈象弦澀。再延有脹滿之慮。</p>
<p>橘皮絡　茯苓皮　腹皮絨　澤瀉　蘇莖　烏扇　川鬱金　製半夏　防己　樸頭　附片　五加皮　通絡散</p>
<p>（案6）濕溫五候有餘，身熱不清，白㾦現而未透，舌苔白滑，渴不多飲，甚則作嘔咳，脈來濡數。慮其正不勝邪，致生歧變，擬方獲效乃吉。</p>
<p>葛根　杏仁　白蔻仁　新會皮　製半夏　瓜蔞皮　大貝母　雲茯苓　六和曲　川樸　川鬱金　川通草　枇杷葉　伏龍肝</p>
<p>（案7）濕溫愈而復反，身熱神糊，白㾦外現，胸次結痞。擬方獲效乃妙。</p>
<p>粉葛根　製半夏　乾薑　雅連頭　杏仁　白蔻仁　廣藿香　川鬱金　新會皮　川通草　枇杷葉　生薑汁（三匙，和服）　鐵鏽水（五匙，和服）</p>
<p>（案8）濕溫愈而復反，神糊身熱，白㾦現而未透。擬方盡力圖之。</p>
<p>製半夏　乾薑　川連頭　川樸　川鬱金　杏仁　白蔻仁　粉葛根　新會皮　川通草　生薑汁　鐵鏽水</p>
<p>（案9）先後天不足，濕溫結胸，自利月餘不解，加之濕痰入絡，左腿痹痛，伸屈不利，脈息弦數。慮其正不勝邪，致生歧變。擬方獲效乃吉。</p>
<p>木防己　川通草　製半夏　柴胡　六和曲　澤瀉　葛根　蘇莖　白芥子　川鬱金　廣橘皮絡　生薑汁　鐵鏽水</p>
<p>身熱已解，結胸漸開，擬方再能應手，可高枕也。</p>
<p>製半夏　乾薑　上雅連　廣橘紅絡　川鬱金　雲茯苓　白蔻衣　砂仁衣　冬瓜仁</p>
<p>（案10）濕溫九日，身熱下利，白㾦現而未透，脈象細濡。深慮化熱逆傳。</p>
<p>杏仁　白蔻仁　新會皮　川樸　粉葛根　製半夏　大貝母　川鬱金　六和曲　赤苓　枇杷葉</p>
<p>濕溫鬱而不伸，寒熱多日不清，白㾦未透，脈息細濡，舌苔底白罩灰。乃水極似火證也，謹防昏陷。</p>
<p>製半夏　附片　炮姜　杏仁　白蔻仁　川鬱金　大貝母　制南星　煅礞石　童便　赤苓　鮮杷葉</p>

<h1>三、濕痰</h1>
<p>（案1）肝木乘脾，濕痰內困，遂令脘腹膨大，穀食減少，脈象弦細，面浮肢腫。再延防成脹滿。溫中化飲法。</p>
<p>（案2）肝木乘脾，濕痰互結中宮，胸次結痞，肝陽上升，頭目眩暈，脈象弦濡，擬方徐圖之。天麻二陳加通絡化飲之品。</p>
<p>（案3）肝旺膽虛，濕痰入絡，虛陽上升，於是心悸頭眩耳鳴，懊憹難名，間有嗆咳，驚悸麻痹，善怯多疑，脈息弦滑，右脈反關，左脈獨見。擬方善圖，方可漸入佳境。</p>
<p>煅磁石　瓜蔞霜　半夏粉　木防己　九制於術　木茯神　白蒺藜　廣橘皮絡　荷筋　瓦楞子　路路通　八楞麻　苦竹根　絡石藤　首烏藤</p>
<p>（案4）肝木侮土，濕痰困中，少腹膨脹而大，脈象沉弦。再延防成氣臌。</p>
<p>煨木香　制附片　川樸　製半夏　茯苓皮　香蘇莖　新會皮　青皮絡　香櫞皮　大腹皮　五加皮　巴豆皮　逐飲散</p>
<p>外：厚朴溫中丸（一錢五分）　局方四七丸（一錢五分）　琥珀外臺丸（三分）　開水下。</p>
<p>（案5）肝木乘脾，濕痰內伏，遂令脘腹兩脅脹膨，已延三年之久，脈象沉弦。宜遠煩戒怒為要。</p>
<p>製半夏　木防己　通絡散　淡姜渣　川鬱金　廣橘皮絡　雲茯苓　白蔻仁　川樸花　砂仁殼　香櫞皮　又加薤白頭（三錢）　蔞皮（二錢）　熟附片（七分）</p>
<p>再診：茯苓皮　桂枝木　逐飲散　附片　五加皮　大腹皮　川樸　香蘇莖　澤瀉　木防己　廣橘皮絡　香櫞皮　又加砂仁殼（一錢五分）、上肉桂（四分）、開口川椒（二分，炒）　又加香附米（一錢五分）、宣木瓜（一錢五分）、巴豆衣（一錢五分）</p>
<p>十九帖，每三、六、九服一帖。</p>
<p>丸方：雲茯苓神（各一兩五錢）　廣橘皮絡（鹽水炒，各八錢）　半夏粉（一兩五錢）　絡石藤（七錢）　霜桑葉（八錢）　粉丹皮（一兩五錢）　蔞霜（一兩五錢）　川貝母（一兩五錢）　香蘇莖（一兩五錢）　天仙藤（七錢）　路路通（八錢）　甜瓜瓣（一兩五錢）　粉甘草（四錢）</p>
<p>上為末，用苦竹根七錢、絲瓜絡一條、地骨皮四兩，煎湯疊丸川椒子大，每服三錢，開水下。</p>
<p>（案6）肝木乘脾，濕痰互結，致成痞塊，任帶不調，經頻帶下，內熱熏灼，間或作噦，脈弦數。擬方緩圖之。</p>
<p>木茯神　製半夏　冬桑葉　粉丹皮　苦竹根　黃鬱金　粉甘草　福橘皮絡　香蘇莖　蔞霜　絡石藤　赭石　雞內金</p>
<p>十五貼，三日一服。用枸杞根露、佛手露各二兩燉溫過口。</p>
<p>（案7）肝腎血水兩虧，不能涵養筋脈，故令左肢不遂，脈沉小。加以水火不交，擬方善圖之。</p>
<p>仙鶴草（二兩，雄雞左翅血抹炒）　絡石藤（八錢）　苦竹根（六錢）　路路通（五錢）　牽正散（五錢）　嫩桑枝（二斤，酒浸一夜）　半夏粉（一兩五錢）　明天麻（一兩）　鹿銜草（一兩五錢）　川木瓜（二兩）　桂枝木（五錢）　廣橘皮絡（各五錢）　千年健（八錢）　天仙藤（一兩）　雲茯苓神（各一兩五錢）</p>
<p>上用清河水，熬取原汁，加白蜜四兩、走馬胎膏四兩、衛生膏三兩收膏。每三錢，開水和服。</p>
<p>（案8）肝木乘脾，濕痰內伏，虛陽上升，於是胸次不開，頭目旋運，其則噦吐涎沫，食少神疲，脈沉弦而滑。擬方徐圖之。</p>
<p>雲茯苓（一兩）　四制於術（三錢）　橘皮絡（各八錢）　木防己（一兩）　明天麻（一兩）　香蘇莖（八錢）　製半夏（一兩五錢）　白蔻花（一兩五錢）　白蒺藜（一兩五錢）　砂仁殼（一兩五錢）　黃鬱金（一兩）　雞內金（二十具）　八楞麻（一兩五錢）</p>
<p>上為末，用荷筋三兩、佩蘭葉一兩，共煎湯疊丸。每服三錢，開水下。</p>
<p>（案9）濕痰入絡，左腿痹痛，起於五月，不能步履，再延防痿。</p>
<p>桂枝　木防己　牛膝　宣木瓜　茯苓　枳實　製半夏　橘皮絡　風化硝　路路通　通絡散　絡石藤　千年健　走馬胎膏　又加海風藤、油松節</p>
<p>外用：蔥（一兩）　姜（一兩）　木瓜（二兩）　蘇葉（一兩五錢）　煎湯熏洗。</p>
<p>（案10）素本體半氣虛，多濕多痰，加以肝鬱乘肺，膺胸痹悶久矣。數日前胃逆上升，氣逆血流，動輒盈碗，脈息尚幸沉細，防湧脫。</p>
<p>薤白頭（二錢）　陳蔞皮（二錢）　活慈石（四錢）　沉水黑蘇子（三分）　木茯神（三錢）　元武版（一兩五錢）　廣橘絡（八分）　川貝母（三錢）　血見愁（二錢）　枇杷葉（三錢）　白茅花（一錢五分）　苦竹根（七分）　珍珠母（三錢）</p>
<p>（案11）素本肝脾不和，濕痰入絡，胸次嘈雜，心悸頭眩，加之熱蘊於曲腸，致成赤白滯下成片，腹痛，脈象虛滑。法當先治其標。</p>
<p>粉葛根　大白芍　炙甘草　川樸花　雲茯苓　製半夏　防己　橘皮絡　大貝母　砂仁殼　通絡散　雞內金　荷蒂</p>
<p>（案12）氣滯血瘀，濕痰互結，心腹瘕聚，已延二十五年，今夏因肝鬱而作，瘧痢疊見，腹中脘脅作痛，漉漉有聲，穀食減少，脈象弦細而緊，痛甚防厥。</p>
<p>鮮薤白頭　製半夏　雲茯苓　防己　旋覆花　通絡散　宣木瓜　黃鬱金　廣橘皮絡　降香屑　絡石藤</p>

<h1>四、懸飲</h1>
<p>（案1）向有懸飲，加以肝木侮土，脾胃交虧，命火不能上升，心悸懊憹，噦吐涎沫，脘左作痛。近來水飲不能下輸膀胱，以致脘次膨脹而大，足跗亦腫，小水不利，食少神疲，脈象沉弦而滑。再延防成氣臌，擬方力圖之。</p>
<p>烏頭（製為末）　上肉桂（去粗皮研末）　木防己（研末用）　米飯（為丸先服）　川樸頭　茯苓皮　廣橘皮絡　滌飲散　製半夏　香櫞皮　冬瓜仁皮　香蘇莖　大腹皮　川萆薢</p>
<p>復診：茯苓皮　防己　新會皮　川樸頭　澤瀉　大腹皮　制烏頭　製半夏　冬瓜皮　青皮絡　煨木香　上肉桂　香櫞皮</p>
<p>後加巴豆衣（一錢）、黃鬱金（一錢五分，）又加蟾蜍皮（一錢五分焙）、開口川椒（十五粒，炒）</p>
<p>調治以來，病勢漸減，惟症實氣虛，不能日服煎劑。茲擬丸方，次第服之，屏煩戒怒為要。</p>
<p>蟾蜍皮　煨木香　制烏頭　桂枝木　茯苓皮　澤瀉　青皮絡　川樸頭　香櫞皮　冬瓜皮　九制於術　新會皮　巴豆衣　製半夏</p>
<p>一、雞矢白酒每服三兩。二、濟生腎氣丸每服三錢。三、禹餘糧丸每服二錢五分。四、香積丸每服二錢。每早開水下。</p>
<p>（案2）飲邪入絡，名曰懸飲。脘脅前後心痹痛，漉漉有聲，時作時止，脈象沉弦而滑。擬方緩圖之。</p>
<p>天仙藤　製半夏　開口吳萸　宣木瓜　雲茯苓　防己　絲瓜絡　絡石藤　通絡散　福橘皮絡</p>
<p>後加蔞霜、薤白頭、夜交藤</p>

<h1>五、少腹痛</h1>
<p>（案1）肝木侮土，氣滯寒凝，少腹作痛，痛甚噦吐，食入反出，大便秘塞，已作三次，脈象沉弦。擬方徐圖之。</p>
<p>獨角蜣螂（八分）　九制於術（二分五）　薑汁炒半夏（二錢）　老吳萸（三分）　制附片（八分）　木防己（八分）　雞谷袋（三具）　廣橘皮絡（各八分）　木茯苓神（各三錢）　白蔻衣（一錢五分）　絡石藤（五分）　巴豆衣（一錢五分）　省頭草（一錢）　秫秫米（一錢五分）</p>
<p>復診：加天仙藤、通絡散、絲瓜絡、淡姜渣、烏飯子，減於朮、白蔻衣、絡石藤、茯神、省頭草、秫秫米</p>
<p>再診：獨角蜣螂（一錢，酒炒）　制附片（八分）　肉桂子（七分，研）　巴豆衣（一錢五分）　福橘皮絡（各八分）　製半夏（三錢）　雲茯苓（三錢）　通絡散（二分五）　炙蘇莖（一錢五分）　防己（八分）　蔞霜（一錢，炒）　雞內金（三具）　皂角子（七枚）　淡姜渣（七分）</p>
<p>丸方：獨角蜣螂（一兩五錢）　老吳萸（七錢）　制烏頭（一兩五錢）　皂莢子（五十枚）　甜瓜子（二兩五錢）　雲茯苓神（各二兩）　白蔻衣（一兩五錢）　省頭草（七錢）　廣橘皮絡（各八錢）　製半夏（二兩）　滌飲散（二錢五分）　漢防己（八錢）　烏飯葉（一兩五錢）　雞內金（三十具）　巴豆衣（一兩五錢）　絡石藤（一兩五錢）</p>
<p>上為末，用絲瓜絡一兩五錢，方內皂子五十粒，共煎湯疊丸如川椒子大。每早三錢，晚一錢五分，開水下。</p>

<h1>六、眩暈</h1>
<p>（案1）肝陽化風，上騰清竅，飲邪入胃，脘次左右作痛，甚則噦吐，兩肋有形，心悸頭眩，肉瞤筋惕，脈象弦滑。擬方緩圖。</p>
<p>製半夏　川樸花　木防己　通絡散　明天麻　野於術　廣橘皮絡　雲茯苓　黃鬱金　白蒺藜　瓜蔞霜　荷筋</p>
<p>（案2）肝陽化風，痰飲入絡，擾亂上升，於是目眩頭暈，噦吐並見。書云：無風不眩，無痰不暈，此之謂也。脈弦滑。擬方緩圖之。</p>
<p>白蒺藜　八楞麻　蔞霜　川貝母　明天麻　靈磁石　珍珠母　瓦楞子　廣橘紅絡　製半夏　粉甘草　省頭草　荷筋　雲茯苓</p>
<p>末藥方：高麗參　杭菊花　野於術　牡蠣　防風　桂枝　桔梗　黃芩　當歸　雲茯苓　細辛　乾薑　天麻　明礬</p>
<p>上為細末，用磁瓶收貯，每服七分，用百花酒和服。前二十天溫酒下，後四十天冷酒下。</p>
<p>（案3）肝陽化風，上騰清竅，於是頭目眩暈，間或夢遺，脈象弦滑。擬方善圖，方可漸入佳境。</p>
<p>製半夏　明天麻　川鬱金　木茯神　霜桑葉　粉丹皮　首烏藤　廣橘皮絡　蔞霜　白蒺藜　八楞麻　苦竹根　荷筋　又加合歡皮（八分）、靈磁石（三錢）、川貝母（三錢）</p>
<p>丸方：合歡皮（八錢）　半夏粉（一兩五錢）　八楞麻（一兩五錢）　廣橘皮絡（各八錢）　川貝母（一兩五錢）　瓜蔞霜（一兩五錢）　瓦楞子（一兩五錢）　夜交藤（一兩五錢）　黑料豆（一兩五錢）　芡實（二兩五錢）　金櫻子（二兩）　明天麻（一兩五錢）　白蒺藜（一兩五錢）　抱木茯神（二兩）　粉甘草（四錢）</p>
<p>上為末，用苦竹根七錢，荷筋六兩，共煎湯疊丸。</p>

<h1>七、脘痛</h1>
<p>（案1）肝氣衝胃，脘次阻痛，甚則嘈雜，噦吐酸水，延防失紅反胃。擬引氣歸元法治之。</p>
<p>當歸　大白芍　臺烏藥　香蘇莖　川鬱金　廣橘皮絡　香附米　柴胡（醋炒）　元胡索　五靈脂　金橘葉　伽南香屑</p>
<p>外：九氣丸（七粒）　半硫丸（一分五）　香附米（三錢）　煎湯下。</p>
<p>（案2）痛久入絡，氣血皆瘀，前經失紅，仍防湧吐。</p>
<p>鹿角尖（磨汁和服）　五靈脂　紫丹參　川鬱金　川牛膝　桃仁　香附米　延胡索　制乳沒　廣橘皮絡　歸鬚　旋覆花　新絳　蔥管　降香屑</p>
<p>痛勢稍平，現因吸感風邪，擬方先以宣解。</p>
<p>金沸草　前胡　防風　蘇莖子　杏仁　廣橘皮絡　製半夏　桔梗　甘草　茯苓　枇杷葉</p>
<p>丸方：吉林參鬚（七錢）　歸鬚（一兩，酒炒）　紫丹參（八錢）　川鬱金（一兩）　血茜草（七錢）　鹿角尖汁（八錢）　桃仁（一兩，炒）　香附米（一兩，醋炒）　箱黃（八錢，酒炒）　牛膝（一兩，酒炒）　宣木瓜（一兩）　福橘皮絡（各五錢）　蘇小梗（八錢）　制乳沒（各五錢）　降香屑（三錢）</p>
<p>上為末，用絲瓜絡五條，新絳三錢，旋覆花三錢，青蔥管三十寸，藕節十個，共煎湯泛丸。每早三錢，開水下。</p>

<h1>八、鼻瘜　鼻淵</h1>
<p>（案1）肝膽之熱上移於腦，致在鼻瘜。右顴紅腫，牙齦時而出膿，脈弦而數。擬方盡力圖之。</p>
<p>蒼耳子　白殭蠶　珍珠母　福橘皮絡　竹節　白附子　木筆花　冬桑葉　粉丹皮　省腦芎　炙全蠍　釵石斛　絲瓜藤</p>
<p>上藥熬取原汁，加白蜜收膏，每早二錢、晚一錢五分，並水和服。</p>
<p>丸方：照前，以方內石斛，煎湯疊丸。</p>
<p>（案2）向有鼻瘜，兼之痰飲射肺，咳嗽氣喘，聲音不揚，脈弦滑。速當屏煩戒怒，庶可與藥石兼功</p>
<p>北沙參　雲茯苓　川百合　桔梗　甘草　廣橘紅絡　製半夏　野於術　筍衣　百藥煎　炙冬花　枇杷葉　又加紫菀茸、冬瓜仁</p>
<p>（案3）起於鼻淵，釀成損怯，脈弦數。擬方應手乃吉。</p>
<p>木筆花　蒼耳子　吉林參鬚　雲茯苓　大白芍　紫菀茸　川貝母　柴胡（醋炒）　甘草　歸身　桔梗　陳橘皮（鹽水炒）　川鬱金　榧子仁　枇杷葉</p>

<h1>九、腸癖</h1>
<p>（案1）命火不足，脾陽不運，濕熱下移，致成腸癖。</p>
<p>獨角蜣螂　制附片　煨葛根　半夏粉</p>
<p>（案2）濕熱蘊於曲腸，致成腸癖，已延數載之久。七月間尤甚，居經四月，食少神疲，脈弦細。久延防怯。</p>
<p>東洋參　羌獨活　柴胡　葛根　大防風　綠升麻　陳皮　茯苓　製半夏　煨白芍　炙甘草　紅曲米　荷蒂</p>

<h1>十、癲狂</h1>
<p>（案1）驚恐傷膽，郁痰內犯心胞，於是言語錯亂，神識不清，脈沉弦而滑。似屬癲症，治之不易。</p>
<p>制南星　製半夏　廣橘紅絡　木茯苓神　香蘇莖　川鬱金　川貝母　木防己　滌飲散　煅赭石　瓜蔞霜　雞心胞　燈心炭　琥珀外臺丸</p>
<p>二診：活磁石　廣橘皮絡　半夏粉　木茯神　瓜蔞霜　珍珠母　絡石藤　首烏藤　白蒺藜　香蘇莖　明天麻　八楞麻　大白芍　秫秫米　荷筋</p>
<p>（案2）郁痰客於肝膽，甚則犯於心包，時聚時散，發時癲狂，神識不清，如癡如迷，煩則更劇。當遠煩戒怒，打破疑團，庶可與藥石並濟。</p>
<p>抱木茯神　瓜蔞霜　香蘇莖　川鬱金　廣橘紅絡　製半夏　川貝母　九轉膽星　煅礞石　漢防己　滌飲散　雞心胞　燈心炭　秫秫米</p>
<p>調治以來，肝膽漸和，郁痰漸化，心腎漸交，脈象就平。症勢如此，已有轉機，擬方仍期獲效。</p>
<p>天仙藤（一錢）　漢防己（七分）　四制於術（四分）　木茯苓神（三錢）　製半夏（二錢）　香蘇莖（七分）　川鬱金（一錢五分）　瓜蔞霜（一錢五分）　川貝母（三錢）　桑葉（二錢）　粉丹皮（一錢五分）　雞心胞（一具）　燈心炭（三分）　絡石藤（七分）　絲瓜絡　秫秫米　化州橘紅（各七分）</p>
<p>又診：去絡石藤，加苦竹根、合歡皮</p>
<p>（案3）數年前曾患癲症，調治就痊。近來復發，經三月餘矣。仍屬肝膽內蘊郁痰所致，脈沉弦而滑。擬方徐圖之。</p>
<p>紫蘇莖　川鬱金　廣橘紅　製半夏　制南星　木茯神　蔞霜　川貝母　滌飲散　煅礞石　漢防己　雞心胞　燈心炭　秫秫米</p>

<h1>十一、鼻衄</h1>
<p>（案1）血行橫逆，經鼻而出，謂之鼻衄。已延半載有餘，時發時止，加之膽熱上移於腦，致成鼻淵，且生瘜肉。頭目昏眩，嘈雜吐酸，胸脅脹痛，食入不運，脈象滑數。擬方徐圖為宜。</p>
<p>蒼耳子　木筆花　明天麻　冬桑葉　粉丹皮　製半夏　川貝母　活磁石　石決明　川鬱金　木茯神　蔞霜　絲瓜藤　苦竹根</p>
<p>（案2）由鼻衄而成鼻瘜，血去過多，肝陽上升，脾土受侮，郁痰內擾，頭額昏痛，胸次嘈雜，面浮肢腫，脈沉而數。再延防損。</p>
<p>木筆花　蒼耳子　川芎　冬桑葉　粉丹皮　橘皮絡　製半夏粉　木茯神　蔞霜　冬瓜皮仁　漢防己　靈磁石　絲瓜藤　黃鬱金　白茅花　苦竹根</p>
<p>（案3）陽明胃熱上升，致成鼻衄，虛陽上僭，頭目不清，脈象弦滑。擬方徐圖。</p>
<p>釵石斛　冬桑葉　粉丹皮　橘皮絡　半夏粉　雲茯苓　天麻　川鬱金　白蝴蝶　鮮柏葉　蔞霜　白茅花　荷葉絡　又加血見愁　甜瓜瓣　絲瓜絡</p>

<h1>十二、失血</h1>
<p>（案1）相火有餘，腎氣不充，遺滑並形，加以肝熱胃寒，噦吐酸水，陽絡受傷，血吐成塊，營衛交虧，寒熱往來，脈象弦芤。仍防湧吐。</p>
<p>旋覆花　川鬱金　冬桑葉　粉丹皮　瓜蔞霜　廣橘絡　雲茯苓　合歡皮　血見愁　白茅花　新絳　降香屑</p>
<p>（案2）陽絡受傷，氣逆血溢，動輒盈碗，交春發作。近又感受客邪增患，咳逆，脈細數。法當先治其標。</p>
<p>前胡　桔梗　蘇莖　杏仁　旋覆花　川玉金　廣橘皮絡　大貝母　粉甘草　冬瓜仁　枇杷葉</p>

<h1>十三、疝氣</h1>
<p>（案1）向有疝氣，膀胱之氣不化，二便不通，已經兩旬，脈弦澀。治之不易。</p>
<p>桂枝（一錢）　肉桂（三分）　豬苓（一錢五分）　雲茯苓（三錢）　澤瀉（一錢五分）　制茅朮（八分）</p>
<p>上碾細末，每服三錢，開水和服，服後續飲開水。</p>
<p>（案2）七疝統屬於肝，肝旺侮土，脾胃受傷，遂令脘肋脹大，面浮肢腫，穀食減少，脈沉弦而澀。再延防其土敗。</p>
<p>防己　制烏頭　吳萸　新會皮　製半夏　茯苓皮　五加皮　冬瓜皮　蘇莖　川樸頭　上肉桂　大腹皮　逐飲散　香櫞皮</p>
<p>又，加吳萸，去五加皮</p>

<h1>十四、痢疾</h1>
<p>（案1）痢延月餘，刻加外感風邪，寒熱不清，口苦苔膩，面浮腹脹，穀食少思，防成噤口。</p>
<p>赤茯苓　甘草　枳殼　桔梗　柴前胡　羌獨活　川芎　廣皮　川樸　生薑　陳倉米</p>
<p>二診：制茅朮　川樸　廣陳皮　甘草　地榆炭　煨木香　焦白朮　大白芍　羌活　防風　煨葛　雲茯苓　荷蒂　陳倉米</p>
<p>升陽益胃丸三錢，每早開水下。</p>
<p>三診：加南沙參、澤瀉、乾薑，去羌活、地榆、甘草，仍服升陽益胃丸。</p>
<p>四診：東洋參　綿黃耆　冬朮　淨歸身　煨木香　升麻　柴胡　廣皮　茯苓　炙甘草　淡乾薑　陳倉米　生薑　小紅棗　蒸籠繩</p>
<p>外：升陽益胃丸（二錢）　附子理中丸（一錢）　和勻，午後清米湯下。</p>
<p>（案2）暑濕內蘊於曲腸，釀成腸癖，胸次喜溫，遍身皆寒，皆陽虛之故，脈象沉細。治之不易，擬方力圖之。</p>
<p>制烏頭　製半夏　福橘皮　大白芍（煨）　炙甘草　煨葛根　野於術　雲茯苓　肉果霜　冬瓜仁　蒸籠繩　又加烏飯葉、合歡皮</p>
<p>二診：加柴胡、升麻、肉桂子、糯稻根、荷蒂，去茯苓、烏飯葉、合歡皮、甘草</p>
<p>外：真武丸、羊脂煎丸（各一錢五分），每一副開水下。</p>
<p>（案3）暑濕內蘊曲腸，釀成赤白滯下，加以肝氣犯胃，郁痰內伏，胸痞作噦，右肋時痛，穀食難運，脈弦而大。防成噤口，擬方獲效乃吉。</p>
<p>煨葛根　煨大白芍　乾薑　雅連頭（薑汁炒）　廣橘皮絡　製半夏　雲茯苓　滌飲散　紅曲米　川鬱金</p>

<h1>十五、噎膈、反胃</h1>
<p>（案1）肝氣不降，肺氣不升，升降失常，氣與痰搏，食入作阻，甚則噦吐飲食，脘腹時痛，脈象弦澀。再延防神思間病。</p>
<p>明天冬　貢阿膠　大白芍　川百合　乾薑　五味子　細辛　海粉　橘皮絡　製半夏　雲茯苓　煅赭石　枇杷葉　伏龍肝</p>
<p>（案2）肝厥犯胃，濕痰困中，脘痛噦吐，食入反出，脈象弦細而滑。擬方徐圖。</p>
<p>開口吳萸　四制於術　制附片　雲茯苓　製半夏　廣橘皮絡　川鬱金　代赭石　降香屑　伏龍肝</p>
<p>（案3）命火、脾陽不振，水飲伏胃，嘔吐涎沫，甚則食入反出，脈象沉弦。擬方獲效乃吉。</p>
<p>四制於術　熟附片　川樸花　廣橘皮絡　製半夏　雲茯苓　開口吳萸　蘇莖　川鬱金　川貝母　降香屑　伏龍肝　雞內金　冬瓜仁</p>
<p>（案4）火不生土，木來侮土，土不制水，水飲停中，於是噦吐並見，甚則食入反出，脈弦細而滑。症延三載，非徐圖不可。</p>
<p>天仙藤　漢防己　製半夏　蘇莖　白蔻花　川鬱金　老吳萸　熟附片　雲茯苓　廣橘皮絡　滌飲散　伏龍肝</p>
<p>（案5）肺氣不升，肝氣不降，氣與痰搏，升而不降，道路妨礙，食入覺阻，動輒嘔吐，脈象弦澀。關格之漸，擬方聊盡人力。</p>
<p>製半夏（七錢，薑汁炒）　川貝母（一兩五錢）　天門冬（二兩）　川百合（一兩五錢）　乾薑（一兩五錢）　五味子（三錢）　細辛（一錢五分）　橘皮絡（各八錢）　雲茯苓（一兩五錢）　川鬱金（五錢）　枇杷葉（一百片）　綠海粉（一兩五錢）　千捶木（八兩）</p>
<p>上藥用長流水入白蜜二兩，勺揚二百四十遍，浸透，熬取原汁，牡阿膠二兩收膏。每早三錢，晚二錢，開水和服。</p>
<p>（案6）肝氣橫逆，乘胃犯肺，脘中時痛，間作咳逆，營衛不和，為寒為熱，聲音不揚，向曾失血，脈弦細而數。延防成肺痿。</p>
<p>雲茯苓　代赭石　鹿角尖　橘皮絡　製半夏　粉甘草　黃鬱金　旋覆花　新絳　黑梔子　百藥煎　降香屑　千捶木</p>

<h1>十六、腫脹</h1>
<p>（案1）腫脹有日，刻加風邪犯肺，遂令寒熱咳逆，穀食少思。此乃病上加病，非佳兆也。</p>
<p>紫蘇莖子　杏仁　前胡　防風　金沸草　桔梗　川樸花　鬱金　橘紅　製半夏　雲茯苓</p>
<p>二診：減防風，加大貝母、香附</p>
<p>（案2）外感咳逆已解，惟肝氣橫逆，脘肋作痛，口苦，穀食少思，痛甚防厥逆。</p>
<p>香附米　蘇莖　吳茱萸　宣木瓜　大白芍　廣橘紅絡　雲茯苓　製半夏　延胡索　黃鬱金　煨姜　金橘葉</p>
<p>（案3）肝木侮土，濕痰困中，脘腹膨脹而痛，食入不運，久防脹滿。</p>
<p>天仙藤　漢防己　廣橘皮絡　製半夏　雲茯苓　白蔻殼　川樸花　砂仁殼　老蘇梗　通絡散　川鬱金　淡姜渣　省頭草　雞內金</p>
<p>橘半枳朮丸（一錢五分）</p>
<p>琥珀外臺丸（三分）</p>
<p>（案4）脾肺交傷，咳喘腫脹，愈而復作，已經三載。慮其水溢高原，致生歧變，擬方獲效乃吉。</p>
<p>野於術　桂枝木　豬苓　茯苓皮　澤瀉　木香片　西砂仁　製半夏　桑葉　枇杷葉　新會皮　大麥冬（薑汁炒）　腎氣丸　冬瓜皮</p>
<p>（案5）客冬調治，諸恙漸解。奈根株未盡，近來復作，殆有甚焉，脈弦細無神。謹防肺脹，擬方以盡人力。</p>
<p>紫石英　老蘇梗　杏仁　廣橘皮絡　製半夏　川樸花　腹皮絨　茯苓皮　附片　冬瓜皮　香櫞皮　四制於術　枇杷葉　五加皮　雞內金</p>
<p>（案6）肝木侮土，脘腹膨大，脈象弦澀，謹防單脹。</p>
<p>茯苓皮　新會皮　五加皮　香櫞皮　冬瓜皮　巴豆皮　大腹皮　木防己　澤瀉　製半夏　附片　蘇莖　川樸</p>
<p>（案7）素有痰飲咳喘腫脹，脈弦滑，謹防水溢高原成肺脹。</p>
<p>雲茯苓　杏仁　川樸　廣橘皮　製半夏　乾薑　五味子　沙參　附片　冬瓜仁　木防己　銀杏葉</p>
<p>外：聖濟射干丸、小溫中丸（各一錢五分）</p>
<p>（案8）居經五月，肝脾不和，水濕困中，肚腹膨脹而大，面肢腫，脈弦細而澀。擬方力圖之。</p>
<p>白蘇莖子　新會皮　製半夏　野於術　雲茯苓　冬瓜皮　五加皮　防己　烏扇　腹皮絨　制附片　砂仁殼　香櫞皮</p>
<p>（案9）暑濕蘊於曲腸，釀成滯下，脘腹膨脹而大，穀食減少。脈象弦細。再延防成脹滿。</p>
<p>野於術　制附片　雲茯苓　製半夏　新會皮　大腹皮　白蔻皮　防己　大防風　煨白芍　雞內金　冬瓜皮　荷蒂　砂仁殼</p>
<p>厚朴溫中丸二錢，升陽益胃丸一錢，和服，開水下十二副。</p>
<p>（案10）產後肝木乘脾，濕濁盤踞中宮，以致脘腹膨大，左脅作痛，穀食減少，不能安臥，脈象弦滑而澀。謹防水溢高原，釀成肺脹，擬方獲效乃吉。</p>
<p>旋覆花　川鬱金　蘇莖　川樸頭　製半夏　漢防己　茯苓皮　腹皮絨　澤瀉　川通草　蔞霜　冬瓜仁　降香屑　香櫞皮</p>
<p>（案11）天癸應至不至，肝木侮土，營衛交虧。少腹脹痛，或寒或熱，食少神疲，脈象弦數。擬方徐圖之。</p>
<p>野於術　雞內金　參貝陳皮　製半夏　雲茯苓神　大白芍　炙甘草　冬瓜仁　銀蝴蝶　糯稻根鬚　荷蒂</p>
<p>（案12）肝木乘脾，濕邪內困，脘腹膨脹，臨經期尤甚，脈象弦細。根蒂已深，非徐圖不克。</p>
<p>老蘇莖　川樸頭　腹皮絨　廣陳皮　製半夏　雲茯苓　川鬱金　砂仁殼　制乳香　五加皮　香櫞皮　制沒藥　木防己</p>
<p>（案13）肺脾交虧，腫脹咳逆，曾經帶下。謹防水溢高原，外生枝節。</p>
<p>野於術　茯苓皮　結豬苓　澤瀉　桂枝木　煨木香　西砂仁　南沙參　麥冬　桑葉　杏仁　冬瓜皮　大腹皮　枇杷葉　陳橘皮</p>
<p>（案14）肝氣入絡，脾土受侮，前後心時而串痛。刻下脘痛且脹，甚則作噦，脈象弦滑。氣虛多汗，久延非宜，擬方獲效為順。</p>
<p>四制於術　川樸　老蘇莖　白蔻花　製半夏　雲茯苓　腹皮絨　絲瓜絡　黃鬱金　雞內金　砂仁殼　木防己</p>
<p>（案15）肝鬱乘胃，脘次及脘右脹痛，噦吐並見。病久入絡，氣血皆瘀。六年前陽絡受傷，曾經失紅。脈弦細而芤。病久根深，治之不易，擬方緩圖之。</p>
<p>川鹿角尖　旋覆花　天仙藤　廣橘皮絡　製半夏　雲茯苓神　木防己　通絡散　香蘇莖　白蔻殼　雞內金　絲瓜絡　新絳</p>
<p>（案16）木火凌金，咳嗽失紅，加之肝胃不和，郁痰擾亂神明，營衛交虧，寒熱互見，脈細滑而數。久延防損。</p>
<p>冬桑葉　川貝母　烏扇　黃鬱金　蔞霜　粉丹皮　廣橘皮絡　製半夏　雲茯苓　苦桔梗　甘草　枇杷葉　苦竹根</p>

<h1>十七、盤腸氣</h1>
<p>（案1）盤腸氣痛，痛甚防厥逆。</p>
<p>天台烏藥　延胡索　香附米　川鬱金　宣木瓜　廣橘皮絡　製半夏　赤苓　大白芍　降香屑　盤香頭　香蘇莖</p>
<p>（案2）痛在腸間，勢不可耐，盤腸氣症，勢防厥逆。</p>
<p>天仙藤　臺烏藥　香蘇莖　川樸　香附米　川鬱金　延胡索　肉桂子　砂仁　金橘葉　盤香頭</p>
<p>外用炒鹽布包揉熨。</p>
<p>又診：加青皮絡、麥穀芽</p>
<p>三診：煨白芍　炙甘草　制附片　安桂心　香附米　蘇莖　橘皮絡　砂仁　吳萸　香櫞皮　淡姜渣　又加廣木香、小茴香</p>
<p>四診：雲茯苓　川樸　蘇莖　陳橘皮　製半夏　附片　肉桂子　吳萸　廣木香　香附米　延胡索　西砂仁　佩蘭葉　淡姜渣</p>
<p>外：溫白丸每晨服五粒，津液送下。溫脾丸每晨服三錢開水下。</p>
<p>上兩丸間服，又加味枳朮丸、加味四七丸各一錢五分。</p>
<p>又，附子理中丸（一錢五分）　當歸拈痛丸（一錢）</p>
<p>又，外用暖臍膏。</p>

<h1>十八、水飲</h1>
<p>（案1）肝脈布於脅肋，脾脈絡於胸中，肝脾不和，水飲內蓄。於是脘脅脹痛，漉漉有聲，天癸先期，脈象弦滑。若不善調，防其土敗。</p>
<p>溫中化飲法</p>
<p>（案2）本屬水飲困脾射肺，腫脹氣喘，加以肝火上衝，左目既損，右目陷塘，脈象弦細而滑。症勢叢雜，擬方徐圖。</p>
<p>密蒙花　白蒺藜　珍珠母　靈磁石　雲茯苓　製半夏　橘皮絡　冬瓜瓣　木蝴蝶　荷葉筋</p>
<p>（案3）命火不足，水飲內蘊，脘腹脹痛，漉漉有聲，臍旁有形，初發之時，上吐下利。脾胃交虧，脈象沉弦。根蒂已深，治之不易。</p>
<p>益智仁　吳萸　製半夏　雲茯苓　通絡散　制附片　防己　橘皮絡　香蘇莖　淡姜渣</p>
<p>（案4）命陽不足，脾腎交虧，水飲聚胃，遇寒則噦吐並作，有時衝脈之氣上逆，精關不固，脈象沉細。擬方緩圖之。</p>
<p>鹿茸片（一兩，蜜炙）　制烏頭（一兩）　上肉桂（一錢五分）　廣橘皮絡（各八錢）　製半夏（三兩）　白蔻花（一兩五錢）　靈磁石（一兩五錢）　紫石英（一兩五錢）　南燭葉（二兩）　雲茯苓神（各一兩）</p>
<p>上為末，用淨黃土十二兩，熬湯泛丸，每早三錢，開水下。</p>
<p>（案5）肝木侮土，火不生土，水飲停中，脈象弦細。再延防成反胃。</p>
<p>製半夏　防己　吳萸　制附片　四制於術　廣橘皮絡　雲茯苓　香蘇莖　淡姜渣</p>
<p>又加雞內金、絡石藤、半夏乾薑散三錢、加味逐飲散三分，和勻，每副開水和服，與煎劑間服，十三副。</p>

<h1>十九、肝氣衝咽（梅核氣）</h1>
<p>（案1）肝膽厥陽之氣由肺繫上升於喉，喉間不利，狀如物阻，天癸應至不至，已延二載，脈象弦細。擬方徐圖。</p>
<p>明天冬　淡乾薑　五味子　北細辛　杜阿膠　大白芍　黃鬱金　赭石　蘇莖子　青果核　綠海粉　枇杷葉</p>
<p>（案2）肝膽厥陽之氣上升，宿飲亦隨之上逆。於是喉間不利，狀如物阻，項外結核，音嗄喘咳，寒熱往來，天癸逾期而少，脈象弦滑。再延防閉脫。</p>
<p>婦寶丹一粒，先以開水下，次服湯藥。</p>
<p>烏扇（一錢）　黃鬱金（一錢五分）　蔞霜（一錢）　川貝母（三錢）　廣橘皮絡（八分）　製半夏（一錢五分）　香蘇莖子（各一錢）　木茯神（三錢）　代赭石（四錢）　五味子（三粒，用乾薑七分同杵）　苦杏仁（二錢）　千捶木（五錢）</p>
<p>（案3）肝膽厥陽之氣由肺繫上升，故喉間不利，狀如物阻。</p>
<p>旋覆花　代赭石　蔞霜　川玉金　烏扇　川貝母　蘇莖子　製半夏　杏仁　茯苓　苦桔梗　千捶木　橘皮絡</p>
<p>（案4）肝膽厥陽之氣上升，喉間不利，狀如物阻，膺胸不開，間或噦吐，脈象弦沉。速當自開懷抱，庶可與藥石兼功。</p>
<p>明天冬　杜阿膠　赭石　乾薑　五味子　北細辛　製半夏　川貝母　黃鬱金　蘇莖子　雲茯苓　枇杷葉</p>
<p>（案5）肝膽厥陽之氣上升，喉間不利，狀如物阻，起於客冬，穀食懶進。脈象沉弦而滑。久延非宜。</p>
<p>明天冬　川百合　北細辛　赭石　雲茯苓　黃鬱金　橘皮絡　杜阿膠　綠海粉　枇杷葉　雞內金　製半夏</p>

<h1>二十、肺癰</h1>
<p>（案1）肺癰已著，先以排膿散為治。</p>
<p>肺癰排膿散一錢五分，開水和服，次服煎劑。</p>
<p>金銀花（一錢五分）　甜梨皮（三錢）　魚腥草（七片）　活水蘆根（四錢）　冬瓜仁（四錢）　枇杷葉（五片）　水糧根（七分）</p>
<p>二診：忍冬藤　水糧根　苦桔梗　甘草梢　冬瓜仁　桃仁泥　川貝母　烏扇　黃鬱金　杏仁　橘皮絡　鮮杷葉　活水蘆根</p>
<p>三診：苦桔梗　防己　桑白皮　川貝母　瓜蔞根　川百合　鬱金　冬瓜仁　杏仁　炙甘草　赤苓　蘆根</p>
<p>（案2）肺癰已成，擬方獲效乃吉。</p>
<p>金銀花　魚腥草　蘆根　水糧根　冬瓜仁　梨皮　枇杷葉</p>
<p>二診：烏扇　防己　桃仁　廣橘皮絡　川貝母　桔梗　炙甘草　海浮石　法夏　水糧根　蘆根　枇杷葉　金銀花</p>
<p>三診：苦桔梗　木防己　桑白皮　川貝母　川百合　瓜蔞仁　黃鬱金　雲茯苓　冬瓜仁　杏仁　炙甘草　蘆根　枇杷葉</p>
<p>（案3）已潰肺癰，難治之症，擬方以盡人力。</p>
<p>烏扇　薏苡根　桔梗　川貝母　廣橘絡　赤苓　粉丹皮　蘆根　甘草　冬桑葉　桃杏仁　冬瓜皮　白蔻花　枇杷葉</p>
<p>（案4）肺癰潰後，未能完口，脈象細數，聲音不揚，再延防痿。</p>
<p>南沙參　大有耆（炙）　廣橘皮絡　川貝母　苦桔梗　甘草　炒蔞皮　冬瓜仁　水糧根　百藥煎　鮮百合心</p>

<h1>二十一、痞塊</h1>
<p>（案1）肝脾不和，攻衝作痛，胸次結痞，脈象弦澀。痛甚防厥逆。</p>
<p>川楝子　延胡索　溏靈脂　當歸　大白芍　紫胡　川鬱金　香蘇莖　川樸頭　梭羅子　赤苓　臺烏藥　福橘皮絡　沉水香屑</p>
<p>（案2）肝木乘脾，腹如束帶，肝氣入於肺管，膺胸不開，穀食不運，胸次結痞，已延二載，脈象弦澀。治之極不易。</p>
<p>薤白頭　瓜蔞霜　蘇莖　川樸花　漢防己　通絡散　制於術　附片　黃鬱金　福橘皮絡　雲茯苓　淡姜渣</p>
<p>（案3）三年前，產後病瘧，瘧久傷脾，胸次結痞，大便時溏，脈象弦細。擬方徐圖之。</p>
<p>野於術　雲茯苓　廣橘皮絡　製半夏　香蘇莖　西砂仁　白蔻花　黃鬱金　漢防己　烏飯葉　雞內金</p>
<p>（案4）產後肝脾受傷，寒濕內困，天癸逾期，少腹膨脹時大，胸次結痞，大便遠血，每經期大便不實，脈弦細而澀。久延防土敗。</p>
<p>製半夏　川樸花　雲茯苓　香蘇莖　防己　白蔻花　廣橘皮絡　滌飲散　香櫞皮　砂仁殼　大腹皮　雞谷袋</p>
<p>（案5）肝木乘脾，氣與痰摶，以致三焦不通，胸次結痞，天癸先期而少，病情夾雜，脈弦細。擬方次第圖之。</p>
<p>九制於術　雲茯苓　吳萸　砂仁殼　製半夏　制附片　防己　白蔻花　蘇莖　杏仁　淡姜渣</p>
<p>（案6）肝木橫逆，克脾犯胃，氣與痰摶，胸次結痞，脹痛噦吐，昔瘦今肥，天癸漸少且而過期，脈軟滑。已延數年之久，根蒂已深。治宜徐圖。</p>
<p>製半夏　川樸花　白茯苓　香蘇莖　通絡散　吳萸　橘皮絡　白蔻花　省頭草　漢防己　大腹皮　白殭蠶　萆薢　絲瓜絡　瓜蔞　伏龍肝</p>
<p>（案7）天癸先後不一，肝氣橫逆，克脾犯胃，胸次結痞脹痛，噦吐，脈弦滑。再延防成反胃。</p>
<p>製半夏　川樸花　白茯苓　香蘇莖　白蔻花　橘皮絡　雞內金　荷葉　伏龍肝　淡姜渣　又加砂仁殼、鱉血炒柴胡、黃鬱金</p>
<p>（案8）肝木橫逆，脾胃交傷，少腹有塊，脹痛作噦，根蒂有年，脈弦細，非徐圖不可。</p>
<p>四制於術　防己　廣橘皮絡　製半夏　茯苓　雞內金　榧子仁　蟾蜍皮　吉安烏梅　開口花椒</p>
<p>二診：加開口吳萸、砂仁殼、絡石藤</p>
<p>丸方：乾蟾蜍皮（五具，焙）　雞內金（二十五具，炙）　漢防己（八錢）　四制於術（三錢）　廣橘皮絡（各八錢）　製半夏（一兩五錢）　雲茯苓（三兩）　開口吳萸（五錢）　絡石藤（六錢，炒）　砂仁殼（一兩五錢）　吉安烏梅（一兩）　開口花椒（三錢，炒）</p>
<p>上為末，用淡姜渣五錢，榧子仁二十五枚，煎湯泛丸。每早三錢，晚一錢五分，開水下。</p>
<p>（案9）肝木橫逆，克脾犯胃，胸次痞塞，既脹且痛，噦吐涎沫，食入不運，形氣消索，脈弦細。再延防入神思間病。</p>
<p>木蝴蝶　漢防己　通絡散　代赭石　製半夏　川鬱金　蘇莖子　白蔻衣　蔞霜　伏龍肝　雞內金　雲茯苓</p>

<h1>二十二、虛勞</h1>
<p>（案1）書云：陰虛生內熱，陽虛生外寒。陰陽交虛，速當清心靜養，庶可與藥餌兼功。</p>
<p>紫菀茸　川貝母　大白芍　炙甘草　當歸　云茯神　柴胡（鱉血炒）　黃鬱金　桔梗　廣橘絡　枸杞根露（二兩，　溫和服）</p>

<h1>二十三、氣虛下墜</h1>
<p>（案1）睪丸下墜，氣虛下陷，肝木不舒所致，脈象弦細，延二載。擬方徐圖之。</p>
<p>蓽茇　雲茯苓　甘草　柴胡　升麻　炙黃耆　福橘皮絡　高麗參　小茴香　荔枝核　野於術</p>

<h1>二十四、脘脅腹痛</h1>
<p>（案1）肝氣不舒，氣結作痛，寒熱頻束，延防加劇。</p>
<p>製半夏　厚朴花　北細辛　雲茯苓　歸鬚　黃鬱金　廣皮　甘草　枇杷葉　香櫞皮</p>
<p>（案2）肝胃不和，水飲停中，少腹脹痛，延經十載，根蒂已深。擬方徐圖。</p>
<p>九制於術　制附片　福橘皮絡　製半夏　香蘇莖　黃鬱金　防己　絡石藤　赤苓　大腹皮　生薑渣</p>
<p>（案3）肝木乘脾，濕痰互結，脘腹脹痛，穀食減少，脾陽不振，大便不實，脈沉弦而芤。再延防土敗。</p>
<p>旋覆花　木防己　香蘇莖　黃鬱金　通絡散　赤苓　鹿角尖　雞內金　橘皮絡　降香屑</p>
<p>外：琥珀外臺丸（二分五釐）　橘半枳朮丸（二錢五分）　開水下。</p>
<p>（案4）肝木橫逆，克脾犯胃，脘肋脹痛，噦吐涎沫，已延十載之久，根蒂已深，脈沉弦。非徐圖不克。</p>
<p>製半夏　吳萸　香蘇莖　黃鬱金　廣橘皮絡　白蔻衣　通絡散　制附片　雲茯苓　淡姜渣</p>
<p>（案5）命火不足，脾陽不振，水飲停中。自五年前產後起，見面色黃瘦，少腹膨脹，漉漉有聲，肢腫且痛，天癸漸少，脈弦沉而滑。再延防土敗。</p>
<p>九制於術　制附片　木防己　白蔻衣　製半夏　黃鬱金　益智仁　川樸花　廣橘皮絡　雲茯苓　旋覆花　冬瓜皮　晚蠶砂　五加皮　生薑渣　南燭葉</p>
<p>（案6）肝氣乘胃，膺胸作痛，甚則不能平臥。擬引氣歸元。</p>
<p>西當歸　煨木香　金鈴子　延胡索　炙蘇莖　川鬱金　柴胡　川樸花　橘皮絡　雲茯苓　梭羅子　伽南香屑</p>
<p>（案7）肝木乘胃，飲邪入絡，脘中脹痛，噦吐並形，甚至為痙為厥，加之清陽不升，濁陰不降，遂令瞳人生昏罩，視物雙歧，已成內障之象。擬方力圖之。</p>
<p>密蒙花　穀精珠　青葙子　白蒺藜　製半夏　通絡散　廣橘皮絡　雲茯苓　木防己　靈磁石　荷葉筋</p>
<p>（案8）肝木乘脾，濕痰內擾，脘腹脹痛，按之有形，聞之有聲，脈虛弦而滑。久延非宜。</p>
<p>製半夏　漢防己　白蔻衣　砂仁殼　通絡散　廣橘皮絡　川鬱金　雞內金　腹皮絨　五加皮　香蘇莖　赤苓</p>
<p>（案9）肝氣橫逆，肺胃交病，膺胸串痛，遍身痠痹，由客秋起見，脈沉細而數。擬方徐圖之。</p>
<p>薤白頭　瓜蔞皮　烏扇　川鬱金　廣橘皮絡　製半夏　川貝母　旋覆花　杏仁　雲茯苓　枇杷葉</p>

<h1>二十五、咳血</h1>
<p>（案1）木叩金鳴，絡傷血溢，咳逆氣喘，脈弦細而滑。擬方徐圖。</p>
<p>活磁石　蔞霜　製半夏　廣橘皮絡　苦桔梗　甘草　雲茯苓神　蘇莖子　鬱金　紫石英　川貝母　海浮石　代赭石　白茅花　藕節</p>

<h1>二十六、勞損</h1>
<p>（案1）天癸六載不至，木叩金雞，絡傷血溢，脾陽不振，大便不實，脈象弦細。乃損之漸也。</p>
<p>南北沙參　雲茯苓　野於術　扁豆子　紫菀茸　蘇莖　川鬱金　炙甘草　冬瓜仁　荷蒂　粳米</p>
<p>（案2）肝氣不升，肺氣不降，升降失司，中宮阻塞，非升清降濁不可。</p>
<p>薤白頭　瓜蔞　陳皮　製半夏　雲茯苓　代赭石　蘇莖　防己　砂仁殼　鮮杷葉</p>
<p>（案3）木火凌金，咳逆頻仍，肝脾不和，脹痛並見，脈象細數。久防成損。</p>
<p>紫菀茸　雲茯苓　炙甘草　桔梗　大白芍　西當歸　蘇莖　川樸花　柴胡　廣橘皮絡　黃鬱金　榧子仁　枇杷葉花</p>
<p>（案4）肝脾不和，濕痰內伏，脘中脹痛，噦吐酸水，脈弦滑。擬方獲效乃吉。</p>
<p>吳萸　通絡散　製半夏　廣陳皮　雲茯苓　蘇莖　砂仁殼　川樸花　淡乾薑　雞內金</p>
<p>二診：加白蔻花、天仙藤、宣木瓜、漢防己、路路通，去雞內金、砂仁殼</p>
<p>（案5）木叩金鳴，絡傷血溢，營衛交虧，寒熱往來，脾陽不振，大便不實，脈象細數。損之漸也。</p>
<p>薯蕷　北沙參　雲茯苓　野於術　扁豆皮　紫菀茸　川貝母　川鬱金　桔梗　甘草　牡蠣　法半夏　糯稻根　荷蒂</p>
<p>外：山蘇膏（四錢）　清米湯和服十副。</p>
<p>（案6）病後失調，肝木橫逆，不特下侮土位，並上不畏金，遂咳嗽失紅，脹痛並見。已延有日，勢防成損。</p>
<p>銀蝴蝶　川貝母　蔞霜　紫菀　雲茯苓　香蘇莖　廣橘皮絡　桔梗　甘草　黃鬱金　榧子仁　枇杷葉</p>
<p>（案7）久嗽金傷，飲邪射肺，營衛交虧，寒熱往來，脾陽不振，大便不實，脈象弦細。擬方徐圖。</p>
<p>南北沙參　野於術　雲茯苓　扁豆子　紫菀茸　川貝母　廣橘皮絡　懷山藥　冬瓜仁　蘇莖　川鬱金　荷蒂　白粳米　枇杷葉</p>
<p>（案8）水弱肝虛，木火上炎，咳逆不已，時而失血，氣血交傷，寒熱並見，食減形消，損情已著。</p>
<p>冬蟲夏草　金橄欖　紫菀茸　百部　南北　沙參　雲茯苓　橘皮絡　川貝母　桔梗　炙甘草　黃鬱金　川石斛　糯稻根　枇杷葉</p>
<p>（案9）先後天不足，水不涵木，木叩金鳴，經傷血溢，脾陽不振，大便不實。陰分不足，內熱頻來，天癸愆期而少，脈弦而數，損情已萌。</p>
<p>薯蕷　紫菀茸　川貝母　野於術　雲茯苓　扁豆子　冬瓜仁　太子參　炙甘草　參貝陳皮　黃鬱金　苦桔梗　月月紅　白粳米</p>
<p>（案10）勞損而至失音，殊不易治。</p>
<p>雞子一枚，攢一小孔，去黃留白，內入半夏粉七分，和苦酒，填滿，皮紙封固，置飯上蒸熟，隨宜飲之。</p>
<p>又方：豬膚（二兩）　白蜜（四兩）　糯米粉（六錢）</p>
<p>蜜粉和勻，塗豬膚上，置飯上蒸熟，用天泉茶水煎湯飲之。</p>
<p>（案11）水弱肝虛，氣逆血溢，已經二載有餘，春時血來甚湧，咳逆頻仍，脘中時而作痛，營衛交虧，寒熱往來，天癸先期，穀食減少，脈弦細而數。乃損之漸。</p>
<p>蔞霜　海浮石　紫菀茸　血見愁　炙蘇莖　黃鬱金　橘皮絡　苦桔梗　甘草　大白芍　白茅根　枇杷葉</p>
<p>外：局方四七丸（一錢五分）　琥珀外臺丸（二分五釐）　開水下。</p>
<p>（案12）素本血不榮肝，肝氣橫逆，不特下侮脾胃，並上不畏金，頭暈耳鳴，脘脅串痛。自客秋八月產後，發生氣瘰，耳之前後皆有，兩腿亦然，心悸不安，善怯多疑，近加嗆咳多汗，肢體痛楚，寒熱互見，脈弦滑數。症勢多歧，再延防成癧勞。</p>
<p>紫菀茸　川貝母　法半夏　桔梗　甘草（炙柴胡）　橘皮絡　炙桑葉　粉丹皮　木茯苓神　木蝴蝶　蔞霜　牡蠣粉　榧子仁　苦竹根　枇杷葉　蘇莖　黃鬱金</p>
<p>二診：加杏仁泥，減橘皮絡、蘇莖、榧子仁。</p>
<p>膏方：川石斛（三兩）　蔞霜（八錢）　川貝母（一兩五錢）　法半夏（一兩五錢）　冬桑葉（一兩五錢）　粉丹皮（一兩五錢）　紫菀茸（一兩五錢）　川鬱金（一兩）　桔梗（一兩五錢）　甘草（五錢）　橘皮絡（各八錢）　木茯苓神（各一兩五錢）　柴胡（三錢）　牡蠣粉（一兩）　苦竹根（四錢）　枇杷葉（五十片）　花（一兩）</p>
<p>上用河水浸透，熬取原汁，加冰糖四兩，收膏。每早三錢，開水和服。</p>
<p>（案13）先後天不足，宿飲射肺，咳逆氣喘，已延年久，營衛兩虛，寒熱互見，跗腫便溏，間有盜汗，脈弦細。延防土敗。</p>
<p>紫菀茸　川貝母　野於術　制附片　乾薑　五味子　橘皮絡　製半夏　旋覆花　川鬱金　宣木瓜　烏飯子　雲茯苓　枇杷葉</p>
<p>丸方：紫菀茸（三兩，炙）　炙冬花（一兩五錢）　乾薑（五錢）　五味子（二錢五分）　野於術（一兩五錢）　制附片（五錢）　南沙參（三兩）　紫石英（三兩）　橘皮絡（各八錢）　製半夏（二兩）　炙甘草（五錢）　冬瓜仁（四兩）　南燭葉（一兩五錢）　雲茯苓（三兩）　川貝母（一兩五錢）</p>
<p>上共制末，用枇杷葉五十片（去毛）、糯稻根鬚四兩，煎湯泛丸。</p>
<p>（案14）木叩金鳴，絡傷血溢，氣血交虧，往來寒熱，肝脾不和，天癸先期不一，穀食減少，形容消索，脈象細數。種種皆損情之漸，擬方以盡人力。</p>
<p>紫菀茸　川貝母　南沙參　雲茯苓　水炒　柴胡　杏仁　橘皮絡　當歸　大白芍　桔梗　粉甘草　枇杷葉　地骨皮露</p>
<p>（案15）肝鬱乘胃，脘脅脹痛，噦吐並作，痛久入絡，氣血皆瘀。六年前陽絡受傷，曾經吐血，脈弦細而芤。病久根深，治之不易，擬方徐圖之。</p>
<p>鹿角尖　天仙藤　通絡散　廣橘皮絡　製半夏　木茯苓神　香蘇莖　防己　旋覆花　新絳　絲瓜絡　白蔻衣　雞內金</p>
<p>（案16）木火凌金，咳逆失血，加之肝胃不和，痰熱內擾神明，營衛交虧，寒熱互見，脈弦滑而數。延防成損。</p>
<p>烏扇　川鬱金　蔞霜　川貝母　橘皮絡　製半夏　雲茯苓　桑葉　粉丹皮　粉甘草　桔梗　苦竹根　枇杷葉</p>
<p>（案17）陽絡受傷，吐血盈碗，血後咳逆，愈而復作，已經兩次，側眠於右，尚未成怯，脈細數。擬方力圖之。</p>
<p>紫菀茸　川貝母　南沙參　雲茯苓　橘皮絡　製半夏　杏仁　烏扇　粉甘草　野百合　枇杷葉花</p>
<p>（案18）木火凌金，咳逆失紅，陰分不足，內熱頻來，脾陽不振，大便不實，脈弦細而滑。病根已深，非徐圖不可。</p>
<p>紫菀茸　雲茯苓　歸身　大白芍　川鬱金　橘皮絡　蘇莖　懷山藥　扁豆子　白茅花　新絳　荷蒂　枇杷葉</p>
<p>（案19）先後天不足，木火凌金，咳逆頻仍，陽絡受傷，痰中帶血，營衛交虧，寒熱往來，天癸先期而少，脈象數。損情已萌，擬方盡力圖之。</p>
<p>海浮石　冬桑葉　粉丹皮　大白芍　炙甘草　蘇莖　紫菀茸　苦桔梗　橘皮絡　木蝴蝶　雲茯苓　白茅花</p>
<p>（案20）勞傷咳逆，愈而復作，陽絡受傷，曾經失紅，脈細數。久延非宜。</p>
<p>雲茯苓　甘草　當歸　大白芍　廣橘皮絡　川貝母　百部　桔梗　冬瓜仁　黃鬱金　紫菀茸　榧子仁　十大功勞葉　枇杷葉</p>
<p>（案21）先後天不足，木叩金鳴，絡傷血溢，營衛交虧，寒熱往來，經前帶下，食少神疲，脈象細數。損之漸也，擬方以盡人力。</p>
<p>逍遙散加紫菀、橘、貝、甘、桔、枇杷葉、冬瓜仁、鬱金、榧子仁</p>
<p>（案22）木叩金鳴，絡傷血溢，陰分不足，內熱頻來，天癸不至兩月有餘，側眠，食減，形氣消索，脈象弦數。乃勞損根萌，擬方以盡人力。</p>
<p>當歸　大白芍　鱉血炒柴胡　雲茯苓　南北沙參　紫菀　木蝴蝶　橘皮絡　川貝母　甘草　桔梗　金釵斛　榧子仁　地骨皮露　又加鬱金、甜瓜瓣、糯稻根鬚</p>
<p>（案23）先後天不足，天癸愆期，木叩金鳴，絡傷血溢，嗆咳形瘦，側眠於右，土受木侮，穀食減少，入食脘中脹痛，脈來細數。久延防怯，擬方速冀胃開，方有進步。</p>
<p>桔梗　柴胡　歸身　大白芍　川鬱金　省頭草　蘇莖　廣橘皮絡　紫菀茸　雲茯苓　銀蝴蝶　粉甘草　榧子仁　糯稻根鬚</p>
<p>（案24）先後天不足，肝木橫逆，肺胃交傷，咳逆時作時止，間或作噦，營衛兩虧，往來寒熱，脈弦數。久延防損。</p>
<p>紫菀茸　川貝母　冬桑葉　粉丹皮　廣橘皮絡　製半夏　當歸　大白芍　柴胡　雲茯苓　白桔梗　甘草　榧子仁　枇杷葉</p>
<p>（案25）先後天不足，脾肺交傷，面浮肢腫，少腹膨脹。陽絡受傷，時形衄血，食少神疲，脈弦細。再延防損。</p>
<p>紫菀茸　川百合　款冬花　南北沙參　野於術　雲茯苓　遠志肉　酸棗仁　甘草（炙）　桔梗　白茅花　廣陳皮　冬瓜皮仁　糯稻根鬚　枇杷花　雞內金　製半夏　側柏葉　銀蝴蝶　大白芍</p>
<p>（案26）肝膽厥陽之氣上衝肺胃，於是喉間不利，狀如物阻，咳逆作噦，痰中帶血，寒熱往來，天癸先期，脈弦數。再延防損。</p>
<p>紫菀茸　川貝母　烏扇　黃鬱金　冬桑葉　粉丹皮　蘇莖子　廣橘紅　製半夏　雲茯苓　瓜蔞霜　苦竹根　蝴蝶　青果核（磨汁和服）　代赭石</p>
<p>膏方：烏扇片（一兩）　黃鬱金（一兩五錢）　蘇莖（一兩五錢）　蘇子（八錢）　苦杏仁（一兩五錢）　冬桑葉（一兩五錢）　粉丹皮（一兩五錢）　橘皮絡（各七錢）　製半夏（一兩五錢）　川貝母（一兩五錢）　代赭石（一兩）　紫菀茸（一兩五錢）　枇杷葉（一兩五錢）　雲茯苓神（各一兩五錢）　苦竹根（五錢）　青果核（七粒，磨汁後下）</p>
<p>上共用河水熬取原汁，加白蜜收膏，和入方內青果核汁，每服三錢，開水和下。</p>
<p>（案27）久嗽金傷，絡動血溢，營衛交虧，為寒為熱，咽痛音嗄。虛火勞情已著，恐難挽回。</p>
<p>明天冬　大麥冬　冬蟲夏草　廣橘紅絡　川貝母　烏扇　白殭蠶　杏仁　甘草　鮮杷葉　青果核（磨汁）</p>
<p>外吹人中白散。</p>

<h1>二十七、瘧疾</h1>
<p>（案1）㾬瘧後失調，致成瘧母，肝腎交虧，間或遺泄，面色無華，少腹膨脹，得大便方解，脈弦細而澀。再延防成脹滿。</p>
<p>野於術　制附片　雲茯苓神　製半夏　吳萸　漢防己　通絡散　白蔻花　省頭草　腹皮絨　川萆薢　雞內金　蠶沙</p>
<p>（案2）邪客太陰，致成瘧疾，左脅下已有瘧母，胸次痞塞，肝脾不和，症屬顯然，脈來弦滑。擬方先治中宮。</p>
<p>野於術　雲茯苓　乾薑　制附片　廣橘皮絡　製半夏　黃鬱金　香蘇莖　川雅連　砂仁殼　雞內金　淡姜渣</p>
<p>（案3）瘧久脾胃受傷，濕痰困中，遂令脘腹作痛，心悸面黃，噦吐酸水，脈象弦細。防成反胃。</p>
<p>吳萸　製半夏　蘇莖　黃鬱金　制附片　雲茯苓　九制於術　橘皮絡　防己　淡姜渣　秫米　又加白蔻殼、明天麻、白蒺藜</p>
<p>丸方：九制於術（三錢）　雲茯苓（二兩）　制附片（一兩）　蘇莖（七錢）　雞內金（二十五具，炙）　橘皮絡（各八錢）　製半夏（一兩五錢，薑汁炒）　防己（八錢）　砂仁殼（一兩五錢）　吳萸（八錢）　白蔻殼（一兩五錢）　白蒺藜（一兩五錢）　冬瓜瓣（一兩五錢）　省頭草（一兩五錢）　烏飯葉（一兩）</p>
<p>上為末，用荷筋四兩，秫米三合，共煎湯泛丸。</p>
<p>（案4）寒瘧邪伏陰陽二維，三、四、七、八月但寒不熱，已七載，今秋七月，外邪內侵，遂令寒熱交作，甚則一日兩次，得汗乃解，脈象弦澀。根蒂已深，非徐圖不可。</p>
<p>柴胡（八分）　制烏頭（一錢）　雲茯苓（三錢）　製半夏（二錢）　漢防己（八分）　橘皮絡（各七分）　甘葛（一錢五分）　砂仁（七分）　絡石藤（一錢五分）　絲瓜絡（一條）</p>
<p>（案5）溫邪化瘧已經三月，脈象弦數。久延非宜。</p>
<p>柴胡　川桂枝　製半夏　大白芍　新會皮　川樸頭　黃鬱金　赤苓　枳殼　六和曲　甘草　枇杷葉</p>
<p>（案6）痎瘧兩月有餘，現加客感，又患滯下。擬方速解乃吉。</p>
<p>倉廩湯</p>
<p>（案7）瘧後失調，氣血交虧，濕痰下注，故小溲帶濁而痛，天癸數月不至，脈象弦數。擬方徐圖之。</p>
<p>石葦　川萆薢　晚蠶沙　益元散　車前子　當歸　大白芍　橘皮絡　茯苓神　柴胡　鱉甲　西毛珀　燈心　又加桑葉、丹皮、冬瓜仁</p>
<p>再診：加淡竹葉、木通、省頭草，減茯神、冬瓜仁、桑葉、粉丹皮</p>
<p>丸方：雲茯苓神（一兩五錢）　醋炒柴胡（六錢）　當歸（一兩五錢）　大白芍（一兩）　冬瓜瓣（一兩五錢）　粉甘草（七錢）　飛滑石（一兩五錢）　車前子（五錢，酒炒）　川萆薢（一兩）　橘皮絡（各八錢）　西毛珀（一錢五分）　晚蠶沙（一兩五錢）</p>
<p>上為末，用燈心三錢、淡竹葉五十片，煎湯泛丸。</p>
<p>（案8）三日瘧當期，服方。</p>
<p>鮮首烏（四錢）　歸身（一錢五分）　南沙參（三錢）　熟附片（七分）　廣橘皮（一錢五分，鹽水炒）　製半夏（一錢五分）　雲茯苓（三錢）　吉安烏梅（二枚）　甘草（五分）　生薑（二片）　小紅棗（三個）</p>
<p>間日服代參丸三錢，開水下。</p>
<p>（案9）始患痰瘧，繼成三陰錯雜無定。擬方善為圖之。</p>
<p>野於術　制附片　雲茯苓　製半夏　陳橘皮　太原甘草　煨姜　小紅棗</p>
<p>代參丸三錢、鱉甲煎丸七分，開水下。</p>
<p>（案10）瘧久脾虛，已有瘧母，刻下兼感風邪，頭面浮腫，暫擬方治。</p>
<p>蘇葉子　防風　杏仁　川樸　廣皮　茯苓皮　五加皮　制茅朮　生薑皮</p>
<p>太無神功散每早一錢五分，用柴胡七分（醋炒）、鱉甲三錢（酒炙）、青皮七分（醋炒），煎湯和服。</p>
<p>鱉甲煎丸每早七分，用陳橘皮三分，泡湯下，與前散間服。</p>
<p>外貼硇砂八反膏。</p>
<p>（案11）瘧延月餘，加以風邪犯肺，肝氣橫逆，遂咳逆不已，左肋作痛，面浮肢腫，脘膨腹脹，臥難右側，深患喘厥。</p>
<p>香附米　旋覆花　製半夏　廣橘皮絡　雲茯苓神　蘇旁枝　杏仁泥　舒肝散　防己　宣木瓜　降香屑　枇杷葉　銀杏葉　川樸　五味子</p>
<p>諸恙已解，惟咳逆未已，腫脹未消。</p>
<p>前方加黃鬱金，減香附、木瓜、舒肝散</p>
<p>（案12）瘧延月餘，傷食復作，足腫腹脹，防成瘧膨。</p>
<p>柴胡　川樸　草果霜　海南子　廣皮　南沙參　冬朮　茯苓皮　甘草　烏梅　生薑　小紅棗</p>
<p>河、井水各半煎，露一宿服。</p>

<h1>二十八、痰飲</h1>
<p>（案1）積濕成痰，積痰成飲，痰飲射肺，咳逆氣喘，脈象弦數。擬方徐圖。</p>
<p>紫菀茸　南北沙參　雲茯苓　四制於術　橘皮絡　製半夏　蘇莖　川樸　桔梗　甘草　黃鬱金　冬瓜仁　枇杷葉</p>
<p>（案2）積濕成痰，積痰成飲，痰飲射肺，咳逆氣喘，脈象弦滑。擬方獲效乃吉。</p>
<p>太子參　冬朮　雲茯苓　甘草　紫石英　紫菀茸　五味子　冬瓜仁　蘇莖　燈心炭</p>
<p>（案3）痰飲射肺，咳逆氣喘，陽絡受傷，曾經失血，脾陽不振，大便不實。肺氣久虛，聲音不揚，刻下吸受外邪，肝氣入絡，寒熱不清，膺胸串痛，脈虛細而數。當先治其標，節勞靜養為要。</p>
<p>柴胡　製半夏　廣橘皮絡　雲茯苓　旋覆花　川鬱金　桔梗　甘草　紫蘇莖　紫石英　甜瓜瓣　荷蒂　降香屑</p>
<p>外邪已解，擬方以圖進步。</p>
<p>百藥煎　紫石英　廣橘皮絡　製半夏　雲茯苓　野於術　冬瓜仁　蘇莖　川鬱金　筍衣　糯稻根鬚</p>
<p>丸方：野於術（一兩）　雲茯苓（一兩五錢）　廣橘皮絡（各八錢）　製半夏（一兩）　通絡散（三錢）　川樸花（一兩）　附片（一兩）　白蔻衣（一兩五錢）　冬瓜仁（一兩五錢）　蟾蜍皮（五錢）　五加皮（一兩五錢）　雞谷袋（二十五具）　佩蘭葉（一兩）　烏飯子（八錢）</p>
<p>上為末，用淡姜渣八錢，冬瓜皮四兩，煎湯泛丸，每早三錢，開水下。</p>
<p>（案4）痰飲二載，肺脾腎交虧，咳逆噦吐，動輒氣短，脈象弦滑。擬方改重就輕可也。</p>
<p>太子參　野於術　雲茯苓　廣橘皮絡　製半夏　紫石英　大蛤蚧　五味子　冬瓜仁　淡乾薑　紫菀茸　甘草　紫衣胡桃肉</p>
<p>（案5）痰飲射肺，絡傷失血，咳逆氣促，聲音不揚，再延防成虛勞。</p>
<p>百藥煎　紫菀茸　五味子　乾薑　廣橘皮絡　桔梗　炙甘草　紫石英　製半夏　冬瓜仁　雲茯苓　枇杷葉</p>
<p>案載前方，仍防成損。</p>
<p>原方加川貝母</p>
<p>（案6）痰飲射肺困脾，咳逆氣喘，面色萎黃，四肢痿躄，脈弦滑。擬方改重就輕。</p>
<p>野於術　制附片　紫石英　防己　橘皮絡　製半夏　雲茯苓　五味子　絲瓜絡　絡石藤　甜瓜瓣　路路通　淡姜渣</p>
<p>（案7）肺脾腎三經皆虧，加之肝旺膽虛，痰飲內擾，神明龍雷之火上升，症勢多歧，脈弦細而滑。擬方力圖之。</p>
<p>首烏藤　紫石英　雲茯苓神　半夏粉　五味子　炮姜　參貝陳皮　靈磁石　煅青鉛　雞內金　蛤蚧尾　紫衣胡桃肉</p>
<p>外：黑錫丹一粒，開水下。後加秫秫米、木蝴蝶。</p>
<p>（案8）宿飲射肺，咳逆氣喘，臍下隱痛。擬方先為圖之。</p>
<p>白蝴蝶（一錢）　漏蘆（七分）　淡姜渣（四分）　川黃連（四分）　童便（三匙，沖服）</p>
<p>（案9）痰飲咳喘，曾經失血，已延八載，脈細滑。擬方改重就輕。</p>
<p>紫石英　法半夏　川貝母　雲茯苓　橘皮絡　紫菀茸　五味子　炮姜　木蝴蝶　大蛤蚧　甘草　枇杷花</p>
<p>（案10）素本肝脾不和，現因宿飲上干，客邪外摶，咳逆頻仍，身熱不清，又經旬日，脈象弦數，慮其正不勝邪。</p>
<p>粉葛根　杏仁　蘇莖　黃鬱金　烏扇　苦桔梗　甘草　橘皮絡　製半夏　雲茯苓　鮮杷葉</p>
<p>（案11）痰飲射肺，咳逆氣喘，脘腹膨脹，漉漉有聲，脈滑。雖調治較輕，擬方仍望獲效。</p>
<p>製半夏　雲茯苓　紫菀　白蔻花　四制於術　香蘇莖　防己　乾薑　橘皮絡　枇杷葉</p>
<p>外：橘半枳朮丸一錢五分、外臺茯苓丸三分，開水下，十副。</p>
<p>（案12）肝木乘脾，飲邪入絡，脘脅少腹竄痛，食少神疲，加之木火凌金，咳逆頻仍，脈弦細而數。再延防損。</p>
<p>紫菀茸　川貝母　雲茯苓　木防己　通絡散　銀蝴蝶　廣橘皮絡　蘇莖　旋覆花　降香屑　絲瓜絡　黃鬱金</p>
<p>外：橘半枳朮丸一錢五分，琥珀外臺丸三分，開水下。</p>
<p>（案13）肝膽不和，心腎不交，郁痰內擾神明，於是胸中懊憹，多食善飢，舌白苔黃。內熱熏灼，心悸頭眩，脈弦數而滑。漸近半載，再延防成癇症。</p>
<p>釵石斛　川貝母　冬桑葉　粉丹皮　川鬱金　橘皮絡　木茯苓神　南花粉　蔞霜　燈心草　苦竹根　蝴蝶</p>
<p>（案14）抑鬱日久，痰熱聚於肝膽，甚則犯於心包，神思恍惚，語言錯亂，舌白苔黃，脈弦數。再延防生痙厥。</p>
<p>蔞霜（一錢）　生梔子（一錢五分）　知母（一錢五分）　廣橘紅（一錢）　花粉（二錢）　煅礞石（一錢）　香蘇梗（一錢）　黃鬱金（一錢五分）　雞心胞（一具）　燈心草（二錢）　秫秫米（一錢五分）</p>

<h1>二十九、崩帶血淋</h1>
<p>（案1）肝脾不和，任帶交傷，濕熱內蘊，於是天癸應竭不竭，反而妄行，帶下不已，氣味腥臭，少腹作痛，延經年餘，脈弦而滑，再延防崩。</p>
<p>貫仲（二錢）　地榆炭（三錢）　煨白芍（三錢）　廣橘皮絡（各八分）　製半夏（二錢）　雲茯苓（三錢）　冬桑葉（一錢五分）　粉丹皮（一錢五分）　川萆薢（二錢）　甘草梢（七分）　晚蠶沙（一錢五分）　木芙蓉（一錢五分）　紅白雞冠花（二錢）　蔞霜（八分）</p>
<p>（案2）肝膽不和，郁痰內擾，心悸頭眩，小溲淋血，大便不實，天癸先期，時形帶下，脈象弦數。擬方次第圖之。</p>
<p>抱木茯神　夜交藤　冬桑葉　粉丹皮　廣橘絡紅　製半夏　蔞霜　益元散　小薊根　西琥珀　燈心（薪）</p>
<p>天癸已調，擬方進步圖之。</p>
<p>大小薊根　白茅根　四制於術　廣橘皮絡　製半夏　木茯苓神　蔞霜　木防己　首烏藤　黃鬱金　煅赭石　燈心</p>

<h1>三十、癃閉遺滑</h1>
<p>（案1）小便不通，防成癃閉。</p>
<p>蟋蟀（一對）　當門子（一分五釐）</p>
<p>研細末，置肚臍，外以膏藥蓋之。</p>
<p>又方：水揚蔥　盤龍草　煎湯服。</p>
<p>（案2）肝脈絡於陰器，七疝統屬於肝，左有偏墜，加之脾虛濕熱下注膀胱，小溲淋濁，腎氣不充養，善怯多疑，擬方速圖之。</p>
<p>大有耆　野於術　陳橘皮絡　綠升麻　春柴胡　南沙參　甘草　當歸　赤苓　蘇莖　川萆薢　晚蠶沙　荔枝核　雞谷袋</p>
<p>（案3）先後天不足，相火有餘，精關不固，濕熱下移膀胱，致成虛淋，脈象弦滑。擬方徐圖之。</p>
<p>烏飯葉　合歡皮　桑葉　粉丹皮　靈磁石　蔞霜　川貝母　橘皮絡　製半夏　川石斛　雲茯苓神　黃鬱金　夜交藤　苦竹根　蘇莖</p>
<p>（案4）濕痰內擾，有夢而遺。擬方善為圖之。</p>
<p>首烏藤　合歡皮　北沙參　大白芍　蔞霜　半夏粉　橘皮絡　冬瓜仁　野於術　甘草　省頭草　木茯神</p>
<p>（案5）先後天不足，濕痰困脾，加之相火有餘，精關不固，兩腿時而痠痛，脈象弦細。擬方獲效乃吉。</p>
<p>金櫻子　夜交藤　合歡皮　沙參　野於術　木茯苓神　半夏粉　黃鬱金　冬瓜仁　川杜仲　甘草　廣橘皮絡　陳秫米</p>
<p>天王補心丹　每服三錢，開水下。</p>
<p>（案6）心腎不交，熱傷陰絡，小便帶濁帶血，脈象弦芤。延三月有餘，再延防損。</p>
<p>川萆薢　甘草梢　歸身　大白芍　旱蓮草　蘇梗　蔞霜　旋覆花　新絳　生蒲黃　晚蠶沙　降香屑　淡竹葉　燈心</p>
<p>（案7）外邪已解，惟淋症未平，睪丸下墜，欲作子癃之狀。擬方善為圖之。</p>
<p>龍膽草　炒梔子　炒黃芩　柴胡　車前子　澤瀉　赤苓　益元散　橘皮核　西毛珀　燈心　又加腹皮絨</p>
<p>（案8）相火有餘，腎氣不固，肝陽上升，郁痰入絡，遂令遺滑並見。腰脅皆痛，頭目不清，心悸懊憹，喉間不利，症情多歧。擬方次第圖之。</p>
<p>金毛狗脊　川續斷　通絡散　絡石藤　首烏藤　瓜蔞霜　製半夏　木茯神　廣橘皮絡　木防己　炙蘇莖　宣木瓜　菴䕡子　絲瓜絡</p>
<p>（案9）腎氣不足，相火有餘，於是遺滑並見，加之肝陽上升，陽明脈絡不和，飲邪內擾，心悸頭旋，脈象弦滑。擬方次第圖之。</p>
<p>靈磁石　木茯神　明天麻　白蒺藜　白殭蠶　赭石　廣橘皮絡　製半夏　制附片　荷葉　陳秫米</p>
<p>（案10）木火上炎，絡傷失血，精關不固，時形遺滑，咳逆不已，脘腹脹痛。症勢叢雜，擬方善為圖之。</p>
<p>薤白頭　廣橘皮絡　製半夏　川貝母　雲茯苓　炙蘇莖　鹿角尖　旋覆花　降香屑　秫秫米</p>
<p>（案11）痛脹為甚，擬方急治之。</p>
<p>野於術　川樸頭　蘇莖　黃鬱金　新會皮　製半夏　木防己　老木香　巴豆皮　乾蟾皮　熟附片　香櫞皮</p>
<p>雞矢醴　每服三兩。</p>
<p>（案12）先後天不足，相火有餘，精關不固，遺滑頻仍，加之郁痰內擾，肝火上升，頭旋目赤，心中懊憹嘈雜，小腿痠疼。病情叢雜，擬方緩圖之。</p>
<p>靈磁石　冬桑葉　粉丹皮　廣橘皮絡　製半夏　雲茯苓　川貝母　蔞霜　蘇莖　黃鬱金　珍珠母　合歡皮　夜交藤　苦竹根　荷葉</p>

<h1>三十一、跌撲努力傷絡</h1>
<p>（案1）因跌撲傷筋，四肢麻痹，時形腰痛，良由肝腎不足，瘀血入絡所致，脈息細滑。能於節勞靜養佐以藥石，可免類中。</p>
<p>金毛狗脊　川牛膝　宣木瓜　漢防己　通絡散　絡石藤　雲茯苓　福橘絡　川續斷　川桂枝　路路通　走馬胎膏　又加千年健、海風藤、鹿銜草</p>
<p>（案2）努力傷於陰絡，致成血淋，反覆無常，脈象弦芤，治之不易。擬方徐徐圖之。</p>
<p>旋覆花（二分五）　人參　三七（三分，磨沖）　細木通（一錢五分）　車前子（二錢，炒）　生蒲黃（七分）　大小薊根（各一錢五分）　雲茯苓（三錢）　益元散（三錢）　旱蓮草（一錢五分）　新絳（七分）　陳橘皮（八分）　藕節（三個）　淡竹葉（十二片）　西毛珀（三分，研細和服）　又加火麻仁（二錢）</p>
<p>外：補中益氣丸、萆薢分清丸（各一錢五分）　開水下。</p>
<p>（案3）跌撲傷絡，氣滯血瘀，以致脘肋刺痛，臍左有動氣攻衝脹痛，已延年餘。擬方徐圖之。</p>
<p>九香蟲　香附米　蘇小梗　醋炒柴胡　制乳沒　旋覆花　川鬱金　福橘絡　五靈脂　延胡索　蔥管　新絳　降香屑</p>
<p>二診：加橘皮、歸鬚、桃仁、鱉甲、絲瓜絡、青皮絡，去鬱金、五靈脂</p>
<p>（案4）努力傷絡，氣滯血瘀，左脅下結塊，攻衝刺痛，嘈雜噦吐，延防失紅。</p>
<p>醋炒柴胡　醋炒鱉甲　醋炒青皮　橘皮絡　歸鬚　延胡索　桃仁　香附米　旋覆花　降香屑　新絳　紫丹參　制乳沒</p>
<p>二診：加九香蟲、黃鬱金、十大功勞木、絲瓜絡、糯稻根鬚，減延胡索、丹參、橘皮</p>
<p>丸方：醋炒柴胡（八錢）　醋炒青皮（八錢）　醋炙鱉甲（四兩）　九香蟲（八錢）　遼參鬚（八錢）　舒肝散（一兩二錢）　醋炒箱黃（一兩五錢）　歸鬚（一兩五錢）　川鬱金（一兩五錢）　京三稜（八錢）　蓬莪朮（八錢）　制乳沒（各七錢）　福橘皮絡（各七錢）　香附米（三兩）　延胡索（一兩五錢）　桃仁（一兩五錢，炒）　乾漆炭（八錢）　降香屑（三錢）</p>
<p>上制末，用新絳三錢、絲瓜絡三條、糯稻根鬚一兩五錢，共煎湯泛丸。</p>
<p>服藥以來，體肥氣壯，結塊已消大半。刻因肝氣衝肺，右肋時而作痛。擬方仍望獲效乃吉。</p>
<p>旋覆花　川鬱金　香附米　大貝母　蔞皮　蘇小梗　杏仁泥　橘皮絡　宣木瓜　推氣散　絲瓜絡　鮮枇杷葉</p>
<p>丸方：春柴胡（八錢，醋炒）　小青皮（八錢，醋炒）　鱉甲（二兩，醋炒）　上箱黃（一兩五錢，醋炒）　瓜蔞皮（一兩五錢）　橘皮絡（各八錢，鹽水炒）　香附米（二兩，醋炒）　桃仁（一兩二錢）　舒肝散（八錢）　歸鬚（一兩五錢，酒炒）　黃鬱金（一兩五錢）　遼參鬚（八錢）　大麥芽（一兩五錢）　建曲（一兩五錢）　萹蓄（一兩五錢）　瞿麥（一兩五錢）　制乳沒（各五錢）　降香屑（三錢）</p>
<p>上制末，用新絳三錢、絲瓜絡三條、旋覆花七錢，共煎湯泛丸。服此方以塊消為度。如消之未盡，再接服半料可也。</p>
<p>外：硇砂八反膏兩張，每張貼五十天。</p>
<p>如左肋作痛，服舒肝散三錢，右肋作痛服推氣散一錢五分。</p>
<p>上二方如三服痛仍不止，宜服煎方三帖。</p>

<h1>三十二、瘡濕</h1>
<p>（案1）瘡濕傳裡，脾肺交傷，咳喘腫脹，吸受外邪，寒熱不清，脈象浮濡。謹防水溢高原，肺脹致變。</p>
<p>羌活　大防風　蒼朮　川樸　豬苓　澤瀉　桂枝　苦杏仁　廣橘皮絡　製半夏　大白芍　粉甘草　生薑皮　冬瓜皮　枇杷葉</p>
<p>（案2）濕熱為瘡，伏邪化痢，久延防其胃困。</p>
<p>黃芩　赤芍　防風　冬朮　茯苓　廣皮　大腹皮　薤白　香豆豉　當歸鬚　車前子</p>
<p>（案3）前起痢後，下焦濕熱未清，後感寒涼夾食，脾氣不運，大便泄瀉紅凍，肛墜。擬運中化濁法治之。</p>
<p>廣藿香　老木香　焦冬朮　陳皮　大白芍　赤茯苓　粉甘草　防風　白蔻仁　黃芩　鮮荷葉　馬齒莧　又加穀芽（炒）、六和曲</p>

<h1>三十三、伏邪</h1>
<p>（案1）伏邪因感而發，更兼勞傷胃氣，寒熱，脘痛，食不思。延防增劇。</p>
<p>藿香　葛根　廣皮　製半夏　川樸　香附米　川鬱金　防風　赤苓　六一散　荷葉　降香屑　秫秫根</p>
<p>（案2）伏邪晚發，寒熱有汗不解，口苦生黏，兼食積舉發，攻衝作痛，穀食不思，防其增劇。</p>
<p>藿香　葛根　柴胡　杏仁　白蔻仁　廣皮　製半夏　香附米　川鬱金　延胡索　赤苓　益元散　枇杷葉　鮮杷葉　降香屑</p>
<p>（案3）伏邪夾濕，身熱不清，已經旬余，脈滑數。擬方獲效乃吉。</p>
<p>粉甘葛　杏仁　白蔻仁　陳皮　製半夏　黃鬱金　赤苓　枳殼　川通草　六和曲　枇杷葉</p>
<p>（案4）時邪入於氣分，以致神昏譫語，身熱不清，脈沉弦而滑，深慮正不敵邪。</p>
<p>粉甘葛　柴胡　廣藿香　杏仁　白蔻仁　陳廣皮　製半夏　黃鬱金　川樸　苦桔梗　六和曲　川通草　赤苓　枇杷葉</p>
<p>（案5）肝腎不足，加以吸受外邪，身熱不清，大便不實，腰痛不已，脈象滑數。擬方力圖之。</p>
<p>金毛狗脊　漢防己　川桂枝　宣木瓜　川續斷　福橘皮絡　製半夏　雲茯苓　通絡散　荷蒂</p>
<p>外用生薑二兩、蔥白一兩、菖蒲二兩，研爛炒熱，烹酒，熨。</p>

<h1>三十四、臨產</h1>
<p>（案1）交骨不開，擬開骨散治之。</p>
<p>敗龜板（一兩）　潞黨參（三錢）　全當歸（三錢）　川芎（一錢五分）　血餘炭（七分）　紫蘇子（一錢五分）　土炒白朮（一錢五分）　陳廣皮（八分）　大白芍（三錢）　大腹皮（三錢）　千里駒（一雙）　黃楊頭（七個）　蔥管（三個）　炙甘草（八分）</p>

<h1>三十五、便秘</h1>
<p>（案1）肝胃不和，脹痛作噦，大便秘澀，脫肛下血，脈象弦細，再延防土敗。</p>
<p>四制於術（三錢）　雲茯苓神（各一兩五錢）　福橘皮絡（各七錢）　製半夏（一兩五錢）　野於術（一兩五錢）　制附片（一兩）　炮姜（五錢）　防己（一兩）　雞內金（二十五具）　大白芍（二兩，藕汁炒）　火麻仁（二兩）　皂莢子（九十粒）</p>
<p>上用河水浸透，熬取原汁，加白蜜收膏，每早三錢，晚二錢，開水下。</p>

<h1>三十六、鼓脹</h1>
<p>（案1）鼓脹已成，殊難調治。</p>
<p>雞矢白一升，用夏布口袋盛入磁瓶，內浸百花酒五斤，瓶口用皮紙封固，隔火煮一炷香之久，每晚取三兩，和厚朴散八分，燉溫飲之。</p>
<p>厚朴散方：川樸頭　海南子　陳廣皮　老木香　各等分，研末。</p>

<h1>三十七、痔瘡</h1>
<p>（案1）濕熱下注大腸，致成外痔有年，氣虛下陷，墜不可言，脈象細濡，擬方獲效，方可漸入佳境。</p>
<p>箭嵐耆　土炒於術　升麻　柴胡　廣陳皮　西洋參　炙甘草　當歸　大白芍　胡黃連　槐角　乾地黃　雲茯苓　烏飯子　冬瓜仁</p>
<p>二診：西洋參　歸身　大白芍　乾地黃　赤小豆　野於術　大有耆　升麻　柴胡　木茯神　槐角（酒炒）　皂莢子　酸棗仁　甜瓜瓣　甘草　側柏葉</p>
<p>丸方：陳枳殼（五錢）　側柏葉（三兩）　黑芥穗（八錢）　槐角（一兩五錢，酒炒）　水炒柴胡（六錢）　水炒升麻（四錢）　西洋參（一兩五錢）　野於術（一兩五錢）　歸身（一兩五錢）　大白芍（二兩）　陳皮（八錢）　木茯苓神（各一兩五錢）　箭嵐耆（一兩五錢）　乾地黃（四兩）　赤小豆皮（二兩）　炙甘草（五錢）</p>
<p>上藥共用河水浸透，熬取原汁，用阿膠四兩收膏，每早晚一錢五分，開水和服。後加甜瓜瓣、皂角子（炒），減於朮、黃耆。</p>
<p>（案2）濕熱下移膀胱，遂致小便淋痛，久延非宜。</p>
<p>萹蓄　瞿麥　川萆薢　赤苓　澤瀉　細木通　車前子　益元散　龍膽草　竹葉　燈心　西珀屑　又加八正散</p>
<p>（案3）溫邪夾濕，經旬有汗不解，兼之痰飲射肺，寒熱咳逆，胸次不開，穀食懶進，年逾花甲，深慮正不勝邪。</p>
<p>廣藿香　葛根　川樸　杏仁　白蔻仁　柴胡　製半夏　廣橘紅　雲茯苓　川鬱金　枇杷葉</p>

<h1>三十八、血瘕</h1>
<p>（案1）小產後正虛，氣血凝滯，少腹結瘕，攻衝作痛，痛牽兩腰，天癸兩月不至，脈象弦滑，治之不易。</p>
<p>鬼箭羽　川楝子　吳萸　香蘇莖　橘皮絡　乾漆炭　延胡索　四制香附　黃鬱金　雲茯苓神　雞血藤膏　兩頭尖　韭菜子</p>
<p>（案2）結瘀成瘕。</p>
<p>鬼箭羽　四制香附　四制於術　附片　藏紅花　製半夏　漢防己　橘皮絡　川樸花　茯苓皮　大腹皮　冬瓜皮　油松節　制乳沒　劉寄奴　香櫞皮　雞血藤膏</p>
<p>（案3）產後四朝，因受外感，氣血凝滯，少腹結瘕，腹中作痛，虛火灼金，間有咳逆，穀食少思，形氣消索，脈細數，久延防勞。</p>
<p>雲母粉　柴胡　大白芍　雲茯苓　金鈴子　延胡索　杏仁　炙甘草　橘皮絡　黃鬱金　香穀芽　枇杷葉　荷荄</p>

<h1>三十九、肝氣入絡</h1>
<p>（案1）肝氣入絡，飲邪乘勢而入，於是遍身串痛，不能起臥，步履維艱，已經一載，所幸胃納如常，脈象弦滑。根蒂已深，非緩圖不可。</p>
<p>海風藤　宣木瓜　路路通　漢防己　通絡散　絡石藤　廣橘皮絡　蔞霜　油松節　牡蠣　木茯苓神　絲瓜絡</p>
<p>（案2）血不榮筋，皮虛血熱，兩手不能屈伸，遍身生瘰，起於客夏五月，久延非宜。</p>
<p>海風藤（一錢五分，酒炒）　大楓子（六分，去淨油）　油松節（四錢）　絡石藤（七分，酒炒）　宣木瓜（一錢五分，酒炒）　漢防己（八分）　大白芍（二錢）　歸身（一錢五分）　雲茯苓（三錢）　桂枝木（七分）　福橘皮絡（各七分）　大小胡麻（三錢）　絲瓜絡（一錢五分）　路路通（三個）</p>

<h1>四十、肺痹</h1>
<p>（案1）肝邪入肺，風池、風府痹痛，痛及肩臂，背俞皆所行經之地，間有咳逆，脈象沉弦，再延防其土敗。</p>
<p>烏扇　薤白頭　蔞皮　廣橘皮絡　川貝母　製半夏　木茯神　宣木瓜　漢防己　絡石藤　路路通　桑寄生　衛生膏　又加海風藤、桂枝木、通絡散</p>

<h1>四十一、胸痹</h1>
<p>（案1）急躁傷肺絡，致成胸痹，脈象弦細，已經年餘，擬方徐圖之。</p>
<p>薤白頭　蔞實　廣橘皮絡　川貝母　雲茯苓　黃鬱金　銀蝴蝶　白酒</p>
<p>外：局方四七丸每早三錢，開水下。</p>

<h1>四十二、中風</h1>
<p>（案1）風邪中經絡則口眼歪斜，中血脈則半身不遂，脈弦滑，起於春正月，為期已久，非緩圖不克。</p>
<p>仙鶴草　鹿銜草　海風藤　木防己　桂枝木　通絡散　橘皮絡　製半夏　制南星　蔞霜　木茯神　走馬胎膏　又絡石藤　絲瓜絡　桑寄生</p>

<h1>四十三、舌疳</h1>
<p>（案1）心火上炎，有舌疳之勢。</p>
<p>漏蘆　蔞霜　川貝母　雅連頭　燈心</p>

<h1>四十四、目患</h1>
<p>（案1）肝旺膽虛，心火上炎，遂令患目左目，血貫瞳人，瞳凹陷，外眥白翳，脈弦數，左部倍大。擬方候專科。</p>
<p>乾地黃　淨蟬衣　粉丹皮　青葙子　草決明　橘皮絡　木茯神　蔞霜　石決明　桔梗　杏仁　苦竹根　荷葉</p>

<h1>四十五、脹滿</h1>
<p>（案1）肝木乘脾，水濕內困，脘腹膨大，穀食減少，脈象沉弦。再延防成脹滿。</p>
<p>川樸頭　白蔻花　廣橘皮　製半夏　茯苓皮　大腹皮　五加皮　冬瓜皮　附片　防己　通絡散　蘇莖　澤瀉　淡姜渣</p>
<p>先服七帖。</p>
<p>外：雞矢醴三兩和厚朴散六分，燉溫服。濟生腎氣丸三錢，開水下，十三副。禹餘糧丸每服三錢五分，開水下，十二副。</p>
<p>肝木乘脾，水濕停中，少腹時痛，腹大如鼓，脈象沉細。擬方應手，方免脹滿之慮。</p>
<p>野於術　制附片　乾薑　吳萸　川樸　橘皮絡　茯苓皮　腹皮絨　香櫞皮　雞內金　蘇莖　製半夏　五加皮　冬瓜仁皮</p>
<p>（案2）命火不足，脾陽不振，水濕停中，遂腹中脹痛。食入不運，形氣消索，面色無華，脈弦細。再延防成脹滿。</p>
<p>溫中化飲加雞內金、砂蔻殼、淡姜渣</p>

<h1>四十六、疑痰</h1>
<p>（案1）驚恐傷膽，抑鬱傷肝，思慮傷脾，郁痰內擾神明，於是神思恍惚，力倦神疲，脈象弦滑。速當自開懷抱，打破疑團，庶可與藥餌兼功。</p>
<p>木茯神　蔞霜　川貝母　香蘇莖　黃鬱金　桑葉　粉丹皮　木蝴蝶　苦竹根　陳秫米</p>
