<header data-type="book">
<h1>絳雪丹書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙貞觀</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1644">公元1644年</data></dd></div>
<div><dt>底本</dt><dd>乾隆三十三年（1762年）《醫林指月》</dd></div>
</dl>
</header>

<h1>引</h1>
<p>丁亥季春，醫巫閭子（明醫家趙獻可，字養葵，號醫巫閭子，著《醫貫》。相傳本書為其子趙貞觀所著，非其父醫巫閭子也。毓注）偶思血症難療，手錄療血之書一卷，是宵夢天雨絳雪，因名其篇曰「絳雪丹書」，其胎前諸法，附後胎產各門[內]以便觀覽。</p>

<h1>序</h1>
<p>此書乃余兄用廷得之鄭毓恆、陳韶渠二友，屢見效驗，深服二子纂訂之苦心，庚戌歲余官閩南，欲付之梓而未果，恐宜於北而不宜於南。數年間有求輒效，益歎服二子之功大矣。使非統五運六氣之理，烏能南北咸宜也，因此，余宗弟幼子嘗留心醫學，取是書而較准之，經營位置方稱美備，是不可不傳者也，遂授剞劂。</p>
<p><u>古克都玉紫生映薇氏書於桐城邸舍</u></p>

<h1>胎症上卷</h1>

<h2>妊娠脈訣</h2>
<p>妊娠初時寸微小，呼吸五至；三月尺數脈滑疾，重以手按之而散者，胎已三月也；脈重手按之而不散，但疾而不滑者，胎已五月也。大約婦人妊娠四月，辨其為男為女，但脈之左疾者，是胎在左，氣血護胎而盛於左，故脈左疾大則為男也；脈之右疾者，是胎在右，氣血護胎而盛於右，故脈右疾大則為女也，亦猶經云「陰搏陽別，謂之有子」，言受胎之後，在腹之下則氣血護胎而盛於下，故陰之尺脈鼓搏有力，而陽之寸脈殊別也。</p>
<p>歌曰：肝為血兮肺為氣，血為榮兮氣為衛，陰陽配偶不差參，二臟通和皆類例。血衰氣旺定無妊，血旺氣衰定有嗣。寸微關滑尺帶數，流利來往並雀啄，此皆血多氣少之脈。小兒之脈已見形，數月懷胎尤未覺，左疾為男右為女，流利來往相逢速。（兩脈流行滑利，相通疾速往來。）兩手關脈大相應（謂之關洪大相應，其胎已有形狀矣。）胎形只在前通語，左脈帶縱兩個男（縱者，夫行乘妻，水行乘火，金行乘木，即鬼賊脈也，其名曰縱。）右手帶橫一雙女（橫者，妻乘夫，火乘水，木乘金，即所謂𣻹脈，名曰橫。）左手脈逆生三男（逆者，子乘母是，水行乘金，火行乘木，即己生脈也，曰逆。）右手脈順還三女（順者，母乘子也，是金行乘水，木行乘火，即生己脈也，故名曰順。）寸夫尺部皆相應，一男一女分形證，（三部遲速大小相應，蓋關前為陽，關後為陰，陰陽相應，是一男一女形證之脈。）往來三部，通利滑數，相參皆替替，陽實陰虛脈得明，遍滿胸膛皆逆氣。（若寸關尺通行流利皆替替有力而滑數，皆是陽實陰虛之脈，主妊婦逆氣滿胸而不咳。）左寸太陽浮大男，右寸太陰沉細女；諸陽為男陰為女，（疾滑數實為陽，沉細為陰。）指下分明當記取。三部沉正等無絕，尺內不止真胎婦。（三部脈沉浮正直齊等齊按無絕斷，及尺內齊按不止者，真懷孕之婦也。）夫乘妻分縱露氣，（即前鬼賊脈，露霧者又上下也，夫婦陰陽二氣上下相通如霧潤，結子也。）妻乘夫分橫氣助。（橫注見前，謂兩旁橫氣相助也。）子乘母兮逆氣參，母乘子兮順氣護，小兒日足胎成聚，身熱脈亂無所苦。（懷孕五月數是胎成，就而結聚，母必身熱，當見脈息躁亂，非病苦症。）汗出不食吐逆時，（五月胎雖成而氣未備，故胎氣未安而上衝心胸，汗出不食嘔逆，名惡阻，惟思酸辛以調胎氣。）精神結閉其中住。滑疾而散三月胎。（三月胎，胎未有定，僅心胞脈養，故脈見。）但疾不散五月母，弦緊強牢滑利安，沉細而微歸泉路；若是脈有細微形，急服補劑以相助。</p>

<h2>受胎試驗法</h2>
<p>凡婦人受胎四十日外，必患惡阻，亦有不患者，欲知有無，當用試法。以川芎二錢為末（不見火）。濃煎艾湯，空心調下。若微動者，即孕也。臍下動者，血瘕也。不動者，血凝也。一法以炙草、皂角（去皮）各一分，黃連少許為末，酒調服。有孕即吐，無孕不吐。經曰：「陰搏陽別」者則為有孕，此診脈之一法也。</p>

<h2>辨男女法</h2>
<p>凡妊婦臍突必男，按之頗實，兩乳甚黑；女孕則臍軟，乳頭雖黑而不甚。又法令妊婦抱來生齒兒女，若是男胎，所抱女兒泄青糞，女胎所抱男兒泄青糞。若男胎抱男兒，女胎抱女兒，俱無恙。又令婦前行，背後呼之，左回首是男，右回首是女。必登廁時，夫從後呼亦皆試。</p>

<h2>辨種子方不可服論</h2>
<p>時人妄用種子方，多用香附為主，大損氣血，服久則致腰痛，反成痼而損胎者有之，間有服交加散而偶得子者，亦幸中耳。蓋因少壯婦多恚怒，服此以抑其氣，且無子多由少血不能攝元氣，或屢墜損血，或經行腹痛，或子宮虛冷所致，故欲求嗣者，須令河車大造丸（方載後）三四料，以助陰血，紫河車須用頭胎壯婦人者為佳。如經行作痛者，加牛膝一兩，元胡五錢以調之。如得孕屢墜者，預服丹溪安胎飲（方載後）。</p>

<h2>瘦胎三方不可服論</h2>
<p>《事林廣記》載有瘦胎三方，用枳殼、香附等耗氣藥，使之瘦胎易產，非無用也。古方士進湖陽公主瘦胎方，因其居處深宮，養厚而形弱，食美而胎肥，遇期難產，進此方以瘦之，亦幸中耳。常人豈可概服乎！夫孕至九月，胎形已全，以一母氣血分蔭其子，猶虞不足，尚宜補藥，乃反耗之，則母將救之不贍，奚有餘血以分蔭其子乎？且餓損胎元，日漸伶仃，雖有瘦胎易產之效，實得虧元損壽之害，血氣既損，多致臨盆艱澀，危症百出，人不知也。</p>
<p>又《婦人良　[方]》內無憂散、保元散、神寢散俱不可服。</p>

<h3>滋榮易產湯（孕婦九個月服之有益。）</h3>
<p>當歸（三錢）　川芎（一錢）　生地（二錢）　益母草（二錢）　人參（一錢）　茯苓（八分）　白朮（八分）　大腹皮（八分）　條芩（八分）　炙草（四分）　陳皮（五分）　煎服。</p>

<h2>衰翁弱婦求嗣辨</h2>
<p>男子八八六十四而天癸絕，遇此而生子者，稟厚異常也；女子七七四十九而天癸絕，遇此而能受胎者，衝脈旺而血充也。然衰年而欲求嗣亦有道，而衰翁必息心寡欲，再假藥味以助精氣，候經期以種子，乾元資始之本也。弱婦孕成當月服固胎飲（方載後），二十多帖，以培衰弱之天真，此坤元資生之源流也。後云補弱夫弱婦不足先天之二法，經驗極多。</p>

<h3>補陽育子丸（大補老年人。）</h3>
<p>北五味　白朮　黃耆　茯苓　川芎　甘草　白芍　巴戟　川牛膝　山萸肉　肉蓯蓉　天冬　黃柏　山藥　知母　杜仲　虎骨　生地　熟地　麥冬　人參　當歸　枸杞　煉蜜為丸，桐子大。先用十年老母雞一隻，去骨、皮、油，取肉焙乾為末，入蜜共丸，早晚空心服四五十丸。</p>

<h3>補陰大造丸</h3>
<p>（方載後。治氣血虛弱不能攝元成胎，或子不壽，或孕後虛熱盜汗，食少帶多，俱宜服。）</p>

<h2>妊娠食忌</h2>
<p>雞肉糯米同食，子生寸白蟲；</p>
<p>食山羊肉，子多病；</p>
<p>豆腐雀肉同食，子生雀斑；</p>
<p>食羊肝，子多危；</p>
<p>食鱉肉，子項短，損胎；</p>
<p>食犬肉，子無音；</p>
<p>食野禽，子無恥，多淫；</p>
<p>鴨蛋桑椹同食，倒生；</p>
<p>食鯉鱠及雞子，子生疳；</p>
<p>食驢馬肉，坐草艱難；</p>
<p>食姜椒，痘毒盛，子氣促；</p>
<p>食姜多，子指生瘡；</p>
<p>食冰水，絕胎；</p>
<p>食蟹，橫生；</p>
<p>食田雞鱔魚，子瘖啞；</p>
<p>食兔肉，子缺唇；</p>
<p>食燒酒多，子禿頭或瞽；</p>
<p>食鹽多，子解顱。</p>

<h2>妊娠藥忌歌</h2>
<p>蚖斑水蛭地膽蟲，烏啄側子與虻蟲，</p>
<p>躑躅螻蛄野葛類，大戟蛇退與蜈蚣，</p>
<p>牛黃水銀同巴豆，金銀錫粉黃雌雄，</p>
<p>牛膝藜蘆合薏米，蜥蜴飛生與䗪蟲，</p>
<p>牙硝芒硝牡丹桂，芫花薇蓹草三稜，</p>
<p>代赭蚱蟬胡粉麝，烏頭附子及天雄，</p>
<p>槐子牽牛並皂角，蠐螬桃仁茅根共，</p>
<p>欓根硇砂與乾漆，䒽草傷胎一樣能，</p>
<p>瞿麥䕡茹蟹爪甲，蝟皮赤箭赤豆紅，</p>
<p>馬勃石蠶衣魚輩，半夏南星通草同，</p>
<p>凡遇胎前除各味，又能活潑號良工。</p>

<h2>保胎總論</h2>
<p>凡孕婦脾胃強而血氣勝，則胎安而產正，生子精神而有壽，何必安胎耶。若夫稟賦不足，氣血虛，脾胃弱，飲食少，則虛症百出，胎成遂墜，或生子不壽，必資藥力以助母，以安胎而壽子。丹溪先生安胎飲，治孕婦虛弱，胎氣不安，飲食無味，或腹痛腰墜等症，後開隨症加減二十餘方，皆可按病擇用。夫精氣凝結而成胎，精氣蒸胃而嘔逆，血少肝虛則愛食酸物，胃氣受傷即嘔吐飲食。如人素弱嘔吐，本方加橘半（橘皮、半夏。毓注。）；如稟厚嘔吐，再加竹瀝、薑汁。下血不止，名胎漏；小腹墜痛，名胎痛。胎漏宜涼，須加生熟地黃；胎痛宜溫，少加帶殼砂仁。夫若頓僕損胎，而下血者，膠艾宜加。怒氣衝胎而上逆者，木香當用。小便帶血，是膀胱之火，逍遙[散]宜入炒山梔子。子腫症，多面虛浮，肢體有水氣，全生白朮[散]堪醫。子煩症，則心應驚膽怯而時煩悶，竹葉安胎飲無疑。天仙藤散治足指縫出水，病名子氣，虛人加人參。羚羊角散療項強筋搐拳攣，病名子癇，痰多加竹瀝參歸。至於胃氣虛而胎壓尿胞，則胎墜腹脹而小便淋秘安胎飲服[之]，另法探吐升提。又如脾胃虛弱而運化輸遲，則飲食停滯，而腹脹嘔吐，安胎飲力緩，加人參，而平胃調和。又若胸滿腹脹而便秘，遍身浮腫，名曰胎水，下利宜服鯉魚湯。倘脾胃氣虛，佐以四君[子湯]、五皮[飲]。又若心腹脹滿而作痛，胎氣上攻，名曰子懸，須用順氣飲。若日晡潮熱，兼以加味逍遙[散]。子淋宜清肺金，怒動肝火，同治柴胡連梅為丸。理骨蒸之勞熱，當歸六黃為湯，療盜汗而晡熱，胎成數墜，是乃母血之弱不能分蔭其子，本方預服可保期生娩。子無氣，由於母氣氣虛，僅可滋榮於己，安胎之方必須日服。老夫得其少婦，須寡欲，以候經期壯陽，若遇衰陰，必賴藥力以全胎氣，此造化自然之正理，後人保嗣之大端，安胎之方，以補為主，以順氣清涼為佐，參朮條芩乃安胎之聖藥，芎歸熟[地]乃補血之良方，蘇葉陳皮可為常服之藥。胎成六月之前，當未運轉，茯苓性降，不宜多；黃耆肥胎，豈宜多；香附胎喘宜加，無補虛人而反害；砂仁止嘔定痛，多則動血行胎。歷考丹溪安胎之語，不過數言，安胎之方不過三四，若能加減治病則十全八九矣。</p>
<p>妊娠但當清熱養血為主，以四物湯加白朮條芩，其有雜症用加減治之。問曰：「白朮條芩安胎之聖藥，此二味胎前必不可缺乎？」答曰：「未必皆然也。胎莖之繫於脾，猶鍾之繫於梁也。若棟柱不固，棟梁不牢，能安胎乎？所以安胎先固兩腎，使腎和暖，脾有生氣，何必以白朮條芩為安胎之藥耶。」腹中有熱，致胎不安，宜涼藥；腹中有寒，致胎不安必用溫藥，此常法也。殊不知兩腎之中，具水火之體，衝任之根蒂，胎元之所繫，若非白朮黃耆之可安也。腎中無水致胎不安，用六味地黃丸壯水；腎中無火，胎亦不安，用八味地黃丸益火，故調經當以杜仲、續斷、阿膠、艾葉、當歸、五味子等藥出入於六味八味丸中為捷徑，此一以貫之諸書所不及者，余特表而出之也。</p>

<h2>辨胎病</h2>

<h3>墜胎辨</h3>
<p>丹溪云血以[不]養榮，故其胎墜。猶枝枯而果落，藤萎而墜也。有勞怒動火而墜者，猶風撼其木，人折其枝也。二論極是，然未詳悉。蓋婦[人]衝脈主血海，血旺始成胎；任脈主胞胎，靜養則胎安也。然怒傷肝，勞傷腎，致二臟相火熾盛，耗血而動氣，未有不胎漏胎墜者也。必凜遵養護之法，如太任競競，愛養坐臥，不偏視聽，遠邪不懷妒忌，不起忿惕，宮事悉委婢妾，至於食物藥餌，一循禁戒而無犯，則相火不動，陰血旺盛，形不勞而氣充寧固，且生子形賦端正，稟全易養者也。況胎墜之症，損血猶倍於生產，怒勞致墜由自己召故。稟弱之人，凡漏血崩淋等症，皆因相火動也。</p>
<p><u>補母固胎飲</u>（凡弱婦欲壽子須依方日服。）</p>
<p>白朮（二錢）　當歸（二錢）　熟地（二錢）　陳皮（二分）　紫蘇（二分）　甘草（二分）　砂仁（三分）　人參（三錢）　條芩（八錢，疑八分，原注）　益母草（五分）　棗煎服。忌食鯉魚及莧菜。</p>

<h3>小產辨（再與千金保孕丸、泰山磐石散二方參照而用可也。）</h3>
<p>孕婦有常患小產者，多在三月之後，須服藥過三月，又須防五七月。其預防之法，不過以杜仲、續斷加補腎之藥，保胎丸、保胎地黃湯宜常服。若胎經虛弱者，用逍遙散加杜仲、續斷、阿膠。如脾胃虛弱者，五味異功散加杜仲、續斷。</p>
<p><u>保胎丸</u></p>
<p>杜仲（八錢）　續斷（八錢，酒浸）　山藥（四兩）　為末蜜丸。</p>
<p><u>保胎地黃湯</u></p>
<p>即六味飲加阿膠、杜仲、續斷、五味子。</p>
<p>千金保孕丸。懷孕三個月，慣要墜胎，名曰小產，此由氣血兩虛，臟腑多火，血分受熱以致然也。使氣血清和，無火煎燥，則胎自安而固。氣虛則提不住，血熱則溢而妄行，欲其不墜得乎？香附雖云快氣開鬱，用多則損正氣；砂仁快脾氣，多用則亦耗真氣。況香燥之性，氣血兩傷，求以安胎，適所以損胎而墮也，惟此方與泰山磐石散，二方能奪造化之妙，百發百效，萬無一失也。</p>
<p><u>千金保孕丸</u></p>
<p>杜仲（四兩，糯米炒斷絲）　川續斷（二兩，酒洗）　共為末。山藥糊為丸，桐子大，每服八十五丸，空心米飲下。忌醋酒，戒惱怒。</p>
<p><u>泰山磐石散</u></p>
<p>人參　黃耆（炙）　當歸　川續斷　條芩（各一錢）　熟地　川芎（一作一錢）　白芍（酒炒，各八分）　白朮（土炒，二錢）　炙草　砂仁（各五分）　糯米（一撮，一方無當歸）　泉水煎服。（此方據《中國醫學大辭典》補。毓注。）</p>

<h3>孕婦失血類中風症辨</h3>
<p>凡孕婦偶患雜症，必要安胎為主，及四五月有患吐衄及損血，忽然口噤項強，手足不能動履，甚至背如角弓反張類中風者，切不可作中風治，宜安胎飲補血為主，而佐以風痰藥可也。</p>
<p><u>補血安胎理風湯</u></p>
<p>川芎　天麻　條芩（各一錢）　羌活（五分）　防風（五分）　荊芥（五分）　白朮　當歸　人參（各三錢）　紫蘇　甘草（各四分）　水煎服。</p>
<p>一皋阜沈禹門，妻孕六月，因拜斗受勞，忽然口噤項強，背如角弓，余用安胎飲加化痰藥治之，稍安，又邀苑醫診視，極詆余方之非，用豁痰降火藥服之，心如刺痛，余復用前方倍人參服十二帖，母安，後生男。</p>
<p>一上虞趙方橋妻，孕五月，患血衄，去盈升，忽口噤手掉，余亦以安胎飲倍參、歸，加川芎、天麻、犀角、生地而安。錄此二段見孕婦雜症，當以安胎補血為主。</p>

<h3>胎不安及胎死欲落救母辨</h3>
<p>凡孕婦患虛損骨蒸潮熱少力，或崩漏少食，皆致氣血不充胎弱，九月不能鼓動，或胎上攻心，或跌僕損胎不動，疑是胎死，或患熱病損胎；或因誤食動胎之藥及莧菜鯉魚，甚至血來胎逼，亦不可用落胎方，妄議去胎救母，必滋補氣血，力健則胎自然漸動，即或其胎真死自落，可保兩全無害，苟攻弱母之胎，胎落而繼殞矣，慎之哉，慎之哉！</p>
<p>凡孕婦患傷寒及疫症熱久，皆能墮胎，後未免憎寒壯熱，血虛故也，治者切勿用傷寒疫症藥，因熱未除，誤[勿]用梔子豉湯與芩柏等藥。即寒熱往來，柴胡[亦]不必用也。大小便秘，承氣、五苓不可投也。宜頻服生化湯，日兩帖或不拘帖數，服至熱退方止，如虛脫、形色脫或汗多或發渴，兩帖後即加生脈散，方中有人參、麥門冬以防暈厥。急症且[服]生化湯，[方中]川芎辛而散邪，乾薑助血藥，能除虛火，熱即結燥便秘，多服生化湯，自然津液生而二便利矣。若熱用寒劑，愈虛中氣，大誤矣。</p>

<h3>補母壽子論</h3>
<p>凡人生子無氣及育子不壽者，皆父母之元氣不足也。其人惜精寡欲，則精滿骨堅，又得血氣壯盛之婦為之配偶，生子精神而有壽。若壯陽弱陰，母無餘血以蔭其胎，必借藥以培元氣，斯壽子。衰翁弱質，必須分床寡欲，藥力培元。經曰：「陰平陽秘，精神乃治；陰陽離決，精氣乃絕」，後立二方實補先天之良藥，孕成之後，每月十五服，弱甚者每日一服，大益胎元，易產而壽子，經驗奇方也。</p>
<p><u>補母壽子方</u></p>
<p>人參（二錢，弱甚加倍）　白朮　當歸　熟地（各二錢）　川芎（八分）　炙草（四分）　條芩（錢半）　蘇葉（三分）　陳皮（三分）　大棗（三枚）　煎服。內熱加黃連五分；如肥人，陳皮去白加黃連五分；脾胃弱常泄瀉加蓮子十粒，帶殼砂仁三分，減地黃；多怒而瀉加木香三分；口燥加麥冬一錢；怔忡、驚悸加棗仁、益智仁各一錢，龍眼肉十枚。</p>
<p><u>加減大造丸</u>（與上湯方兼服助胎元。忌蘿蔔，耗氣。）</p>
<p>紫河車（一具，頭胎壯盛者，製法載後）　人參（一兩五錢）　生地（二兩，一方用熟地）　歸身（二兩五錢）　麥冬（一兩）　五味子（五錢，一方有牛膝一兩）　共為末，先將地黃、麥冬蒸搗如泥，同藥末煉蜜丸，桐子大，每服七十丸，空心清湯下。腰痛加杜仲七錢，薑汁炒；脾胃瀉去地黃加白朮、山藥各一兩，黃柏八錢，鹽水炒，久瀉者不用，天冬一兩。（《竹林》無此味。）</p>
<p>制紫河車法：用河水洗淨，新瓦二片仰合盛之，四圍以泥封固，炭火叢堆煅至煙淨為度。</p>

<h2>孕婦二十七症方</h2>

<h3>安胎</h3>
<p>孕成後，胎氣不安，腰腹墜痛，飲食不甘，自二三月至五六月者，並宜服丹溪安胎飲。</p>
<p><u>丹溪安胎飲</u></p>
<p>白朮　當歸　熟地（各二錢）　人參（一錢）　川芎　條芩（各八分）　陳皮（四分）　帶殼砂仁（三分）　紫蘇　炙草（各四分）　薑棗煎服。</p>
<p><u>加味安胎飲</u>（凡孕婦元氣不足，形體倦怠，胎動不安，身熱食減，並宜服。如腰痛腿痛，一日必服兩三帖方安也。）</p>
<p>人參（二錢）　白朮（二錢半）　當歸（二錢）　熟地（二錢）　條芩（八分）　陳皮（四分）　紫蘇（四分）　炙草（三分）　薑棗煎服。煩渴加麥冬一錢。</p>

<h3>嘔逆</h3>
<p>孕婦二三月後，惡阻嘔逆不食，或頭眩昏暈倦怠，惡阻多在三個月之時，相火化胎之候，壯火食氣上衝胃口，食即嘔吐。少陰腎水既養其胎，少陽之火益熾，宜用加味參橘飲，否則用清肝滋腎飲加杜仲、續斷，嘔甚者加黃連、吳茱萸炒。</p>
<p><u>加味參橘飲</u></p>
<p>人參（一錢）　橘紅（四分）　白朮（二錢）　當歸（二錢）　半夏（八分）　藿香（四分）　砂仁（三分）　竹茹（一團）　炙草（四分）　姜水煎服。肥人加竹瀝、薑汁。</p>
<p>又方，治惡阻清瘦止嘔。</p>
<p>竹茹（一團）　陳皮　茯苓　半夏　生薑（各二錢）　水煎服。忌食羊肉魚腥。</p>

<h3>多怒</h3>
<p>孕婦多怒，胸膈脹滿，若用烏藥、香附、砂仁順氣等藥，反加悶滿，宜服和氣安胎飲。</p>
<p><u>和氣安胎飲</u></p>
<p>人參　白朮　當歸（各二錢）　川芎　條芩（各八分）　陳皮　紫蘇　炙草（各三分）　木香（二分，水磨）　姜水煎服。</p>

<h3>腹痛</h3>
<p>孕婦腹中不時作痛，小腹墜痛，是血虛氣陷等症，名曰胎痛，宜服加味安胎飲。</p>
<p><u>加味安胎飲</u></p>
<p>白朮（二錢）　人參（錢半）　川芎（八分）　當歸（二錢）　紫蘇（四分）　陳皮　炙草（各四分）　熟地（三錢）　姜水煎服。如兼寒加吳茱萸一錢，砂仁、乾薑各二分。</p>

<h3>面目浮腫</h3>
<p>孕婦面目虛浮，名曰子腫，乃脾胃氣虛或久瀉所致，宜健脾利水，[宜服]單氏全生白朮散。治子腫，全生白朮散（陳皮　白朮　姜皮　大腹皮　茯苓皮各五分）。</p>
<p><u>單氏全生白朮散</u></p>
<p>白朮（二錢）　人參（一錢）　川芎（八分）　當歸（二錢）　陳皮（四分）　大腹皮（七分）　茯苓皮（七分）　炙草（三分）　姜水煎服。</p>
<p>制大腹皮法：宜先以酒洗，再以黑豆湯洗，擇去內中粗筋用。</p>
<p>孕婦每至五月，肢體倦怠，飲食無味，兩足浮腫至遍身以及頭面，此肝氣虛，朝用補中益氣湯，夕用六君子湯加蘇梗而愈。凡孕婦有此症者勿泥月數，俱以煎藥為善，此症亦有腎虛而然者，當用腎氣丸。（單氏全生白朮散方，據竹林寺《女科秘旨》卷二校。毓注。）</p>

<h3>胎上攻</h3>
<p>胎氣上攻，心腹脹滿作痛，名曰子懸，宜服順氣安胎飲，一云胎從心腹湊上者，此命門火衰，胎在腹中寒冷，不得已而上就心火之溫暖，須用理中湯，不應，急服八味丸。</p>
<p><u>順氣安胎飲</u></p>
<p>人參（一錢）　白朮（二錢）　紫蘇　陳皮　砂仁（各四分）　當歸（二錢）　川芎　條芩（各八分）　炙草（四分）　姜水煎服。有氣加木香二分。</p>

<h3>胎漏（須與胎動內胎漏參看。）</h3>
<p>凡孕婦元氣盛壯，受胎後，尚有經來數點，乃血氣盛耳。若不腰痛腿痠亦無妨，不必服藥。如或過慮，服安胎[飲]數帖亦可。如下血不止，或按月去血幾點，名曰胎漏，因氣血虛而勞苦或喜食炙煿熱物過多而然，宜謹房事兼服後藥補之。</p>
<p><u>加味補中安胎飲</u></p>
<p>白朮　當歸　人參　熟地　生地　阿膠　白芍　條芩　續斷　炙草　水煎服。</p>

<h3>胎動</h3>
<p>孕婦頓僕動胎，下血不止者，宜先服安胎飲，一日兩三帖，如不止，再服阿膠安胎飲。一云胎漏是氣虛，不能固血，（此下言胎動者五條。）急用補中益氣湯加阿膠、艾葉，如不止，用獨參湯。○有怒氣衝肝而漏血甚，有似經行一般者，朝用加味逍遙散，夕用安胎飲。○有腎氣虛而漏血者，阿膠一兩，炒為末，以六味飲送，如無阿膠，鹿膠亦佳。○有陽虛而漏血者，補中益氣湯加阿膠或獨參湯。有因跌僕傷胎腹痛下血者，用砂仁麩炒為末，每服二錢，以安胎飲送下。○如去血過多，用八珍湯斤許，益母草四兩，水煎頓服。○如因頓僕動胎不安者，腰腹疼痛或上搶或出血者，用阿膠一兩，炒為末，艾葉一錢，水煎服。</p>
<p><u>阿膠艾葉安胎飲</u></p>
<p>人參（一錢）　當歸（二錢）　川芎（八分）　阿膠（一錢，蛤粉炒）　陳皮　紫蘇　炙草（各四分）　艾葉（六分）　條芩（一錢）　熟地（一錢）　白朮（二錢）　薑棗煎服。如感寒頭痛加連須蔥白三根。腹中痛加帶殼砂仁四分。（此方據竹林寺《女科秘旨》卷二校。毓注。）</p>
<p><u>阿膠散</u>（治頓僕動胎。）</p>
<p>熟地　阿膠　艾葉　芍藥　川芎　當歸　黃耆　炙草（各一兩）　共為細末，每服四錢，薑棗煎服。</p>
<p><u>四聖散</u></p>
<p>條芩　白朮　砂仁　阿膠（各等分）　共為細末，每服二錢，艾湯下。</p>

<h3>子煩</h3>
<p>孕婦心驚膽怯，煩悶不安，名曰子煩，宜服竹葉安胎飲。</p>
<p><u>單氏竹葉安胎飲</u></p>
<p>人參（一錢）　白朮（二錢）　條芩（八分）　川芎（七分）　陳皮（七分）　炙草（四分）　當歸（二錢）　棗仁（一錢）　遠志（八分）　麥冬（一錢）　生地（一錢半）　竹葉（十片）　薑棗煎服。煩渴加竹茹一團；有痰加竹瀝一盞，薑汁二匙；虛加人參二錢；脾胃虛常瀉去生地、棗仁，加薏米。（此方原名單氏竹葉安胎散，今據竹林寺《女科秘旨》卷三校。毓注。）</p>

<h3>腹脹</h3>
<p>孕婦脾胃虛弱，飲食停滯，以致腹脹嘔吐，安胎飲恐力緩，宜用人參平胃散。胃脘當心痛，服左金丸立愈，後用逍遙散、六味飲調之。如愈後再發，復服。如又發，此氣虛也，用理中湯，如兼嘔吐，有蛔蟲者，用安蛔理中湯。孕婦腰背痛，用杜仲、續斷、補骨脂炒為末，每服二錢，嚼胡桃一枚，溫酒下。</p>
<p><u>人參平胃散</u></p>
<p>人參（一錢）　蒼朮　厚朴（各七分）　白朮（一錢）　陳皮（四分）　炙草（四分）　姜水煎服。</p>
<p><u>左金丸</u></p>
<p>黃連（一錢）　吳茱萸（二錢半炒）　水一碗，煎至一小盞，徐徐呷下。</p>
<p><u>安蛔理中湯</u></p>
<p>人參　黃耆　炙草　乾薑　川椒　烏梅　雄黃　蘆薈　附子　肉桂　胡連　使君子　煎服。</p>

<h3>水腫</h3>
<p>孕婦胎成三月後，兩足面漸腫至腿膝，行步艱難以致喘悶，飲食不美，狀似水氣，至於腳趾間出黃水，名曰水氣，當先服天仙藤散，不效，再服補中健脾湯可也。蓋脾主四肢，脾虛不能制水，故發腫，脾經少氣，故氣促悶滿。虛人服天仙藤散必加參朮當歸補藥。</p>
<p><u>天仙藤散</u></p>
<p>天仙藤（洗淨）　香附（炒，各六分）　陳皮（四分）　甘草（三分）　烏藥（七分）　木瓜（一錢）　紫蘇（四分）　姜皮（四分）　水煎服。虛人加人參（一錢）　白朮（二錢）　當歸（二錢）　脾胃虛弱兼服補中益氣湯或補中健脾之藥。</p>
<p><u>歸脾湯</u></p>
<p>黃耆（一錢，蜜炙）　人參（一錢）　白朮（一錢，土炒）　茯苓（八分）　當歸（一錢，酒洗）　遠志（八分，去心）　木香（三分）　炙草（五分）　棗仁（一錢，炒黑）　龍眼肉（一個）　姜（一片）　水煎服。方內木香一味打碎。俟藥煎成再入，略煎，即傾出此藥，宜晚服。</p>
<p><u>補中益氣湯</u></p>
<p>當歸（錢半，酒洗）　白朮（錢半，土炒）　陳皮（六分）　人參（二錢）　炙草（六分）　升麻（四分）　柴胡（一錢）　黃耆（二錢，蜜炙）　水煎服。</p>
<p><u>逍遙散</u></p>
<p>當歸（一錢，酒洗）　白芍（一錢）　白朮（一錢，土炒）　茯苓（八分）　柴胡（一錢）　甘草（五分）　水煎服。</p>
<p><u>香連丸</u></p>
<p>川黃連六兩，吳茱萸一兩（揀去閉口者，取淨）。上二味以水三盅，同煮乾，去吳茱萸不用。加木香一兩，共為末，醋糊為丸，每服四十丸，米湯送下。</p>
<p><u>六君子湯</u></p>
<p>人參（三錢）　白朮（二錢，土炒）　茯苓（錢半）　炙草（八分）　橘皮（五分）　半夏（八分，薑汁炒）　姜水煎服。</p>
<p><u>四物湯</u></p>
<p>熟地（二錢）　歸身（一錢）　白芍（錢半）　川芎（八分）　水煎服。</p>
<p>（首云二十七症，此僅列十一症，余見下卷。毓注。）</p>

<h1>胎症下卷</h1>

<h2>口噤</h2>
<p>孕婦口噤項強，手足攣縮，言語謇滯，痰涎壅盛，不省人事，名曰子癇，不可作中風治，即或無痰，言語如常，但狀似中風，多因血燥氣虛，不可概以風治，誤人。宜服加味羚羊角散。</p>
<p><u>加味羚羊角散</u></p>
<p>羚羊角（一錢）　茯神（八分）　杏仁（十粒）　木香（二分）　甘草（二分）　姜水煎服。虛加人參一錢，痰多加竹瀝、薑汁各半盞，脾虛加白朮錢半。</p>

<h2>子淋</h2>
<p>孕婦小便短澀或成淋澀，名曰子淋，宜清肺金，即怒動肝火〔亦〕同治。</p>
<p><u>加味安榮飲</u></p>
<p>人參（一錢）　白朮　當歸　麥冬（各二錢）　通草（一錢）　茯苓（一錢）　甘草（四分）　燈心（五分）　水煎服。有痰加枯黃芩七分（酒炒）。（原名單氏子淋方，今據竹林寺《女科秘旨》補劑量。毓注。）</p>

<h2>溺血</h2>
<p>孕婦形體勞苦或過食炙煿等物，小便中帶血，宜清膀胱之火。</p>
<p><u>加味逍遙散</u></p>
<p>當歸（二錢）　白芍（一錢）　白朮（錢半）　茯苓（七分）　柴胡（一錢）　丹皮（一錢）　黑山梔（一錢）　炙草（四分）　水煎服。</p>

<h2>淋秘（附大小便不通小便失遺。）</h2>
<p>孕婦小便淋秘，有肝經虛熱者，用加味逍遙散加車前子；有脾肺氣虛而短少者，用補中益氣湯加山藥、五味子、麥冬；有膀胱陰虛陽無所化者，用東垣滋腎丸；有膀胱陽虛陰無所化者，用腎氣丸作湯服；有孕婦轉胞不得小便者，由中氣怯弱不能舉胎，胎壓其尿胞系而小便不通者，於補氣藥中加升提之味，令上竅開而下竅自通也，補中益氣湯加減是也。○孕婦臍腹作脹，小便淋秘，此亦胎壓尿胞而然也，宜升提之，皆由脾胃氣虛所致，宜用安胎二陳湯。○孕婦大小便不通，皆由脾腎兩虛，當滋化源，不可輕用通行利氣之藥。若有腿足轉筋小便急脹者，須用八味丸料加車前子，緩則不救。○有小便不止者，此屬氣虛，用獨參湯或補中益氣湯加人參為妙。○有肝火盛而陰挺失制小便遺失者，加味逍遙散。</p>
<p><u>安胎二陳湯</u></p>
<p>白朮（錢半）　人參（一錢）　川芎（八分）　當歸（二錢）　生地（錢半）　陳皮（去白）　甘草　柴胡　升麻（各四分）　半夏（五分）　姜水煎服。再空心屢飲淡鹽湯，以手探吐，則氣升而小便斯下，胎亦不墜，亦一治法也。</p>

<h2>胎水不利</h2>
<p>孕婦胸腹滿或遍身浮腫，小便艱難澀〔少〕，名曰胎水不利，或胎死腹中，宜服鯉魚湯，若脾胃〔虛〕佐以四君子湯、五皮散。</p>
<p><u>鯉魚湯</u></p>
<p>白朮（五錢）　赤苓（四錢）　當歸（三錢）　白芍（二錢）　製法用鯉魚一尾，重一二斤者，去鱗腸，加橘皮少許，生薑七片，水四碗，煮汁碗半，將藥入汁內煎至七分，如魚大汁多再入前藥煎服。</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓　甘草　水煎服。</p>
<p><u>五皮散</u></p>
<p>五加皮　地骨皮　大腹皮　茯苓皮　姜皮（各一錢）　水煎服。</p>

<h2>咳嗽</h2>
<p>凡孕婦風寒咳嗽，宜服寧肺止嗽飲。</p>
<p><u>寧肺止嗽飲</u></p>
<p>天冬（二錢）　桔梗（四分）　杏仁（十粒）　桑皮（八皮）　紫蘇（四分）　知母（一錢）　甘草（四分）　水煎服。因痰嗽加橘紅四分，竹瀝，薑汁；火嗽去杏仁，加黃芩八分；虛嗽加紫菀、冬花各五分；因喘夜嗽加蜜炙麻黃三分；虛損嗽加瓜蔞一個，竹瀝、薑汁。嗽而兼心胸不舒加貝母、百合各一錢。</p>
<p>嗽不止胎〔不〕安，用止嗽紫菀湯。宜用人參（一錢）　甘草（八分）　杏仁（二錢）　桑白皮　紫菀（各二錢）　天冬（一錢）　桔梗（一錢）　水煎服。（今據竹林寺《女科秘旨》卷四校。毓注。）</p>

<h2>嗽血</h2>
<p>孕婦嗽而吐血，宜服涼血安胎飲。</p>
<p><u>涼血安胎飲</u></p>
<p>生地（三錢）　紫菀（一錢）　知母（一錢）　白朮（一錢）　麥冬（一錢）　天冬（二錢）　當歸（一錢）　陳皮（四分）　炙草（四分）　黃芩（八分）　犀角（八分，水磨）　水煎服。</p>
<p>如喘加瓜蔞仁一錢。（原名止嗽涼血飲，原方無生地。今據竹林寺《女科秘旨》卷四校。毓注。）</p>

<h2>霍亂</h2>
<p>孕婦霍亂吐瀉，心煩腹脹，宜用六合湯。</p>
<p><u>六合湯</u></p>
<p>陳皮（四分）　半夏（七分）　藿香（四分）　甘草（四分）　杏仁（十粒）　竹茹（一團）　扁豆（二錢）　木瓜（一錢）　人參（一錢）　砂仁（五分）　茯苓（八分）　薑棗煎服。</p>
<p>如不愈再服丹溪安胎飲。白朮　當歸　熟地（各二錢）　人參（一錢）　紫蘇　陳皮　甘草（各四分）　川芎　條芩（各四分）　砂仁（三分）　薑棗引。（據竹林寺《女科秘旨》卷四補。毓注。）</p>

<h2>瘧疾</h2>
<p>孕婦患瘧，寒多熱少，宜丹溪［安胎］飲去陳皮加半夏（七分）　草果　青皮（各五分）　烏梅（一個）　人參　條芩（各一錢）　藿香（五分）　白朮　當歸（各二錢）　紫蘇　甘草（各四分）　姜水煎服。○有患胎瘧者，一遇有孕，瘧疾即發，此因其素有肝火，遇有孕則胎水養元，肝虛火燥，寒熱往來似瘧而非瘧也，以逍遙散清肝火而養肝血兼服六味丸以滋化源。</p>

<h2>口乾</h2>
<p>孕婦口乾不得臥，宜丹溪安胎飲加麥冬、乾葛服之。又方黃連一錢為末粥飲下。</p>

<h2>煩躁</h2>
<p>孕婦心神煩躁，口乾壅熱，用參芩犀角湯。</p>
<p><u>參芩犀角湯</u></p>
<p>人參　知母　麥冬　黑梔（各一錢）　甘草（五分）　條芩（五分）　天花粉（八分）　犀角（八分，水磨）　煎服。夏天〔加〕竹瀝五匙，薑汁二匙，沖服。（方名據竹林寺《女科秘旨》卷四改。毓注。）</p>

<h2>嘔吐</h2>
<p>孕婦熱病嘔吐不食，胸中煩躁，宜服蘆根湯。</p>
<p><u>蘆根湯</u></p>
<p>葛根　蘆根（各一錢半）　人參　麥冬　知母（各一錢）　黑梔（一錢）　竹茹（一團）　蔥白（三寸）　水煎服。（方名據竹林寺《女科秘旨》卷四改。毓注。）</p>

<h2>斑症</h2>
<p>孕婦熱病斑出亦黑色斑，小便如血，氣急欲絕，此落胎之症，宜服青黛豆豉湯。</p>
<p><u>青黛豆豉湯</u></p>
<p>梔子（炒黑）　黃芩　升麻（各一錢）　青黛（七分）　豆豉（四十九粒）　生地（二錢）　杏仁（十粒）　石膏（錢半，煅）　蔥白（七寸）　水煎服。（方名據竹林寺《女科秘旨》卷四改。毓注。）</p>

<h2>熱痛</h2>
<p>孕婦熱病骨節疼痛，不急治則落胎，宜柴葛安胎飲。</p>
<p><u>柴葛安胎飲</u></p>
<p>葛根（一錢八分）　石膏（錢半，煅）　升麻（五分）　柴胡（八分）　青黛（八分）　梔子（一錢）　知母（七分）　蔥白（三根）　水煎服。有痰加竹瀝、薑汁。</p>

<h2>吐衄</h2>
<p>孕婦患吐血，或因破傷失血，忽口噤項強背直，類中風〔狀〕，皆因失血所致也，宜服加減安胎飲。</p>
<p><u>加減安胎飲</u></p>
<p>人參　當歸　白朮（各二錢）　甘草（四分）　陳皮（四分）　條芩　生地　天麻（各二錢）　麥冬（一錢）　防風（四分）　荊芥（四分）　水煎服。（原名單氏吐衄方。據竹林寺《女科秘旨》卷四校。毓注。）</p>

<h2>胎喘</h2>
<p>孕婦患胎喘，多屬氣虛，宜滋陰定喘湯。有氣虛四肢倦怠飲食少進，面色㿠白而喘者，宜扶陽定喘湯。</p>
<p><u>滋陰定喘湯</u></p>
<p>熟地（五錢）　五味子　麥冬　補骨脂　阿膠（各一錢）　竹茹（一團）　水煎服。</p>
<p><u>扶陽定喘湯</u></p>
<p>人參　阿膠（各一錢）　五味子（一錢）　竹茹（一團）　水煎服。有肝刑金而喘者，煎加味逍遙散送調經地黃丸。</p>

<h2>交骨不開</h2>
<p>臨盆胎水來，而交骨不開，停產不下者，宜大料加參芎歸湯，以助血氣，血氣既壯，自然骨開而分娩矣。</p>
<p><u>加參芎歸湯</u></p>
<p>人參（三四錢）　當歸（一兩）　川芎（四錢）　益母草（一錢）　炙草（四分）　水煎速服二三帖。如有益母丸，將四味煎湯送下，如兩帖不開，敗龜板一個，酥炙，亂髮一團燒灰存性，入藥。須用曾生育婦人之發。</p>
<p><u>加味益母丸</u></p>
<p>益母草（四兩）　白朮（一兩）　條芩（八錢）　共為末蜜丸，彈子大。氣虛加人參二錢，木香二分；胸膈不舒加紫蘇四錢。</p>

<h2>子宮不收</h2>
<p>產後子宮不收，甚至脫落一片者，乃氣血虛極，急用大劑參耆加升麻、當歸，續斷、阿膠補調，則脫落者復上，仍能生育。</p>
<p>加味、加參生化湯。</p>
<p>〔交〕骨不開、不閉、不收三症，皆元氣不足之甚而然也。血塊未消多服生化湯以消之，繼服〔加參〕生化湯以補之。蓋交骨不開，補氣以開之；子宮不收，補血以收之；產門不閉，酸以斂之；俱以芎歸為主，但在產後須先消血塊，後服加味生化湯。</p>

<h1>臨產</h1>

<h2>臨產脈訣</h2>
<p>臨產之婦脈離經，（一息六至，一息三至，皆曰離經。）沉細而滑也同名。（腎脈沉滑與離經同。）夜半覺痛應分娩，來朝日午定知生，身重體寒頻又熱，舌下見脈黑且青，捲舌流涎腹覺冷，腹中子女也歸冥。面赤舌青細尋看，母活子死是定斷。唇口俱青沫又出，母子雙雙入鬼案。面青舌赤沫又頻，母死子活定知真。新產婦脈緩滑吉，實大弦急死相侵，若得沉細小者順，忽遇堅牢命不存，寸口澀疾不調死，沉細附骨不絕生，吉凶生死全憑脈，診者須教指下明。</p>

<h2>保產[諸方]</h2>
<p>分娩之時二命在於頃刻，苟調理失宜，安反成危，〔豈〕可不慎歟！室女初生不免驚畏，雖多產之婦，或氣血偶傷，安得視為無虞也，是以保產之方所不可廢，故達生散宜服於八九月之時；而養胎寢神等藥當用於臨月之際；至於居處失宜，頓僕動胎，及居身安逸，食物不節，憂樂不常，致令胎氣難轉，保氣保生等藥尤宜預服；而過月不產，則補血行血之方亦不可少也。</p>
<p><u>達生散</u></p>
<p>人參　陳皮（各五分）　紫蘇（五分，連葉）　白芍　白朮　當歸　甘草　大腹皮（黑豆汁洗干，各一錢五分）　黃楊腦（七個）　蔥白（五寸）</p>
<p>春加川芎、防風各五分；夏加黃芩、黃連俱酒炒各五分，五味子十粒；秋加澤瀉、砂仁各五分，或通加枳殼、砂仁亦可。胎動不安加金銀花三五分，野苧根一錢，生地一錢。氣上逼心加柴胡、紫蘇。多怒加黃芩、黃連。食少加砂仁、神麯。口渴加麥冬、黃芩酒炒。有痰加半夏、黃芩。渴而能食，倍加黃楊腦，蓋此味能瘦胎，胎本瘦者不用。</p>
<p><u>神寢丸</u>（臨月服之神效。）</p>
<p>乳香（一兩，透明者，另研）　枳殼（二兩，麩炒）　共為末，蜜丸桐子大，每早服三十丸酒下。</p>
<p><u>養胎散</u>（宜與神寢丸兼服。）</p>
<p>當歸　川芎　黃芩　陳皮　白朮　香附（各一錢）　白芷　甘草（各三錢）　人參（七分）　水煎調益元散服之，虛人倍加人參。</p>
<p><u>保胎丸</u></p>
<p>當歸（八錢）　川芎（四錢）　益母草（二錢）　桃仁（十四粒）　炮姜（五分）　水酒各半煎服。虛者加人參二錢。</p>
<p><u>保生無憂散</u>（治孕婦身居安逸，口厭肥甘，喜怒不常，食物不節，致胎胞肥厚，臨月服此易生，以之催生及胞不下俱效。）</p>
<p>當歸　川芎　白芍　枳殼　乳香　木香（各一錢或五分）　甘草（五分）　發灰（錢半，豶&lt;豶同獖。音墳。閹割過之公豬也.&gt;　豬血和。）　共為末，每服三錢，水下。二服神效。</p>
<p><u>保氣丸</u>（治孕婦居處失宜，頓僕動胎，服此寬氣進食，瘦胎易產。）</p>
<p>香附（四錢）　木香（四錢）　山藥（二兩）　砂仁（一兩）　甘草（一兩）　益智仁（五分）　紫蘇（五分）　共為細末，煉蜜丸桐子大，每服二錢。</p>
<p><u>催生湯</u>（治過期不產，補血行滯之方。）</p>
<p>當歸　川芎　白芍　熟地　香附（各一錢）　桃仁　枳殼　砂仁　紫蘇（各七分）　薑棗煎服。</p>
<p><u>催生如聖散</u>（此下五方，原在產後脈訣之前當移入。）（原抄者注）</p>
<p>百草霜二錢　滑石一錢。共為末，用大料芎歸湯送下二錢即生。上方候兒頭正頂產門時方服，若未正恐致偏逆，慎之。</p>
<p><u>芎歸湯</u>（治胎水下而不產者。）</p>
<p>當歸（八錢）　川芎（四錢）　益母草（二錢）　炮姜（五分）　炙草（五分）　水煎服。</p>
<p>又有一方，用葵子四十九粒，以芎歸湯送下即生。</p>
<p><u>呂氏達生散</u></p>
<p>人參（一錢）　川芎（一錢）　當歸　黃耆　益母草（各五分）　此藥宜預備下，臨產時水酒各半煎服，極效。產後將炮薑、肉桂各一錢，入〔前藥〕渣煎服，無血塊痛之患。如氣血不足，神困羸瘦甚者，人參可用至一兩，當歸可用至二兩。如遇胞衣既破其血涸，元氣又憊者，多用人參濃煎頻服，亦有得生者。</p>
<p><u>平胃散</u>（治子死難產。須驗其母之舌，青黑者其胎已死，紅白者可救。）</p>
<p>蒼朮　陳皮（各錢半）　厚朴（錢半）　甘草（七分）　水酒各半煎，熟投朴硝五錢，再四五沸，溫服，其胎自化而出。</p>

<h2>臨產須知十二條</h2>
<p>一、產育之難，由於坐草太早，用力太早，致有橫逆之危，血漿乾澀，益難〔產〕矣。須知腹中陣痛，乃兒方轉動，胎氣壯者，轉身易，至將產自然腰痠，甚至穀道迸逼，眼中流火而正產矣。若胎氣弱者，雖身動而不轉，甚至一二日不能轉身，惟腹痛而已，蓋時候未到也，且令人扶持產母在房行走或憑物而立直其體腹，倘困倦以被褥壅墊脊背，仰臥少頃，又令行立如初，聽其慢慢轉身，雖遲無害也。若不禁其痛苦，傴僂屈曲，斜倚側靠，胎中未免為擁擠，迷其出路，穩婆不知，頻頻試水，誤傷胞破或風入產戶而成腫脹，或胎未至而漿水先干，分娩愈難矣。惟令產婦勉強飲食，調其氣息，直待腰痠且痛方才坐草，亦不可用氣力，以致兒身方轉動，反為氣逼，不及順下而成橫逆之患。切勿使氣力用盡，精神困倦，臨期不能再用，此產家之大忌也。必候胎至產門，盡力一努，胎隨漿下，此瓜熟蒂落之常法也。</p>
<p>二、臨產忽然腹痛，或作或止，或一二日三五日，胎水已來，腹痛不止者，名曰弄胎，非當產也。又有一月前忽腹痛，狀如要產卻不產者，名曰試月，非當產也。胎尚未下而墮者，非當產也。腹雖痛，腰不痛者，非當產也。腹痛而脈未離者，非當產也。以上弄胎試月，不問胎水來與不來，俱不妨事，但寬候時。若果腰腹痛極不已，穀道挺迸，眼中出火，便是真產，方用力可也，或痛或止欲產不產之際不可忽行，慎之</p>
<p>三、臨月不可洗頭，恐致橫生逆生。</p>
<p>四、臨產宜擇年老高者，多經識穩婆，又純謹女使一二人扶持，以應外來親戚。孀婦並汙穢不潔或月經遇至體氣女人，皆足以觸胎，慎之。</p>
<p>五、凡臨產雖產婦危迫，房中不可喧鬧，即家中有意外急事，戶外不可喊鬥，[恐]心驚胎滯。</p>
<p>六、產母心下煩悶，用白蜜一匙，溫水調服，如欲飲水，俱可與清米湯飲之。</p>
<p>七、產母飢餓少用軟白粥，不可食堅硬物，恐難消化，致成內傷。</p>
<p>八、凡臨產不可用催生符水，蓋血遇寒則凝，血凝則胎滯反難產矣，且符水未必靈驗。</p>
<p>九、橫生先露手，用細針刺兒手二分三四次，以鹽塗其刺處，輕輕送入，兒得痛，驚轉一縮，即順生矣。若倒生先露其足，謂之踏蓮花生，急以鹽塗兒腳底，以手抓之，仍以鹽塗母腹則正矣。若先露左右頭角，逼近產門，當令產母仰臥，穩婆推兒進上，以手正其頭，產母用力一努，即下。若兒身已順，門戶已正，兒頂已露，未即生者，必是臍帶絆住兒肩，急令產母仰臥，輕輕推兒向上，以中〔指〕按兒肩上，兒身已順，其帶自脫，產母用力一努即下。</p>
<p>十、遇雙生，一兒已下，又見一兒，穩婆勿言，只言取□□，恐產母驚懼。</p>
<p>十一、臨產有腸出者，謂之盤腸生，亦無妨，但以盆盛其腸，溫水以潤之，令產母仰臥，好言安慰，用米醋半盞，要好的和新汲水七分，攪勻，噀（噀，音訓。用嘴噴水之意。）產母背則打頓而收矣。或噀產母面三噀，縮腸可盡收，仍以參耆芎歸湯等加升麻、防風等藥大劑升舉之，斯安矣。</p>
<p>十二、難產及胎衣不下，急於產母右足小趾尖上灸三炷艾，〔艾炷〕如小麥大，即下矣。</p>

<h3>胎衣不下〔方〕</h3>
<p>凡胞衣不下，由產母無力送胞衣；又有經停時久臥乘冷氣，血道凝滯而衣不下；又有胎前素弱，血氣枯涸而衣不下。凡此三者，速煎生化湯，大口連進兩三盅，斯血旺氣和而衣自下，兼送益母丸，亦一法也，送鹿角灰亦妙。</p>
<p>兒下衣不下，不可睡倒，先斷臍帶，用草鞋帶墮之，如夏月扶產母依人坐，蓋暖被；冬月則火籠被覆，時換熱衣暖其腹。又《丹溪纂要》下胎衣用朴硝神效，虛人則害，此非先生之方，乃門人增附耳。</p>
<p><u>如聖膏</u>　（治胎衣不下神效。）</p>
<p>蓖麻子（二兩，去殼）　雄黃（二錢）　搗成膏塗足心，胎衣下即洗去，不可遲，恐腸出。</p>
<p><u>如聖散</u>（治胎衣乾澀，兒在腹中不動或漿盡，血來閉塞道路難產者，服之俱宜。）</p>
<p>黃葵花（曬乾或子亦可）　為末，熱湯調下二錢，酒下亦可。如口噤不可用，粗箸頂足心則口開，灌下即醒。胎水乾者連進三服。</p>

<h3>難產〔諸方〕</h3>
<p><u>兔腦丸</u>（以手握丹治難產。）</p>
<p>兔腦髓（一個，臘月者佳，去膜研成膏）　明乳香（一兩，研末）　母丁香（一兩，研細）　麝香（一錢）　以兔腦研和為丸，芡實大，陰乾密封，每用時，俟漿水破時，溫水送下一丸，或以薄荷湯送下神效。若系臘月八月生者，男左手女右手握之，則出。</p>
<p><u>加味芎歸湯</u>（催生神效。）</p>
<p>川芎（一兩）　當歸（一兩）　龜板（一個，自死者佳，酥炙，灼過亦可。）　婦人發（二錢，燒灰存性，曾生育者佳。）　共為末，每服一兩，水煎服即生，如死胎亦下。</p>
<p><u>雲母散</u>（治產難經日不出者。）</p>
<p>雲母粉五錢　酒調服，入口即生。</p>
<p><u>乳朱丹</u></p>
<p>凡遇三月初三，端午，七夕，用乳香細研，豶豬心血為丸，桐子大，硃砂為衣，曬乾,值難產者，溫酒化下一丸，不產再服；或用蓮葉心蒂七個，水二盅煎一盅，化服一丸，神效。</p>

<h3>橫逆〔諸方〕</h3>
<p><u>伏龍肝散</u>（治橫逆難產，並子死腹中。）</p>
<p>伏龍肝（即灶心多年紅土也。）　研細末，溫酒童便調下一二錢，立效。一方有百草霜、白芷，三味等分。</p>
<p><u>二脫散</u>（治橫生逆生難產。）</p>
<p>蛇脫（二條）　蠶故紙（一張）　上二味新瓦焙乾存性，為末，煎乳香湯調下一錢，連進三服，神效。</p>
<p><u>膠葵飲</u>（治橫生逆生難產。）</p>
<p>阿膠（蛤粉炒）　黃葵子（各一兩。）　共為細末，每服四錢，水二盅煎服。《竹林》有滑石一兩。</p>
<p><u>如神散</u>（能固血，亦免血乾之症。橫逆難產其功甚大。）</p>
<p>百草霜　香白芷（不見火，各等分）　共為末，每服三錢，童便醋和如膏，沸湯調下，連服三服。《竹林》芎歸湯送下。</p>

<h3>死胎諸症[方]</h3>
<p>仙傳保命丹。凡孕婦下血不止或小便下血及子死腹中，其人憎寒甲黑唇青，面色黑，胎上攻，冷汗自出，悶絕欲死，服之可安胎，子死者，服之自下，此得之仙傳，與黑龍丹皆產科之聖藥。</p>
<p><u>仙傳保命丹</u></p>
<p>丹皮　赤芍　桃仁（去皮尖）　桂心　茯苓（各等分）　共為末，蜜丸，彈子大，每服一丸，細嚼，淡醋湯下，連服二丸，神效。</p>
<p>黑龍丹。仲氏嫂金華君，在秦產七日而不食，始言頭覺痛、心痛，既而目睛疼如割，更作更止，相去瞬息間每頭痛甚，欲取大石壓之。食久漸定。心痛以手抓壁，欲死，目復痛，即欲以手剜取，如是旬日，醫士術窮。余度疾勢危急，非神丹不能愈，黃昏進半粒，疾少間，中夜再進，藥下寢如平，平旦一行三升許，如蝗蟲子，疾減半，巳刻又行如前，則頓愈矣。</p>
<p>凡孕婦胞衣不下，死胎滯腹，產後血暈，狀如中風，或崩漏不止，腹中刺痛，血滯浮腫，或血入心經，言語顛倒見鬼，血氣相搏，身熱頭痛似瘧。凡產後一切血痛急症垂死者，用三四丸，無不神效。此藥最猛，服後還宜滋補。</p>
<p><u>黑龍丹</u></p>
<p>五靈脂　當歸（酒浸）　生地（酒浸）　川芎　良薑（各三兩）　百草霜（五錢）　乳香　生硫黃（一兩，《醫統》無此味）　琥珀　花蕊石（各三錢，另研）　上後五味入小罐內，以昏筋泥固臍，燈盞封口嚴密，文武火煅一炷香，於冷處退火毒，取出研細，前五味亦為末和勻，醋糊為丸，彈子大，用時以一丸在烈火內煅紅，生薑自然汁內浸碎，好酒童便調服，神效。</p>
<p><u>牡丹皮散</u>　（治產婦面赤舌青子死母活；赤沫出母死子活；唇舌俱青黑沫出子母俱死，此方下死胎，其效如神。）</p>
<p>官桂（五錢，去皮）　丹皮　川芎　葵子（各錢半）　共為末，每服三錢，蔥白湯調下。</p>
<p>黑神散。治臨產血多，胎被血裹，難產橫逆，子死母腹，胎衣不下，血迷心竅，頭暈眼迷眼花，血散，四肢浮腫，口乾舌燥，發狂譫語，或月內飲冷，敗血凝聚，小便閉澀，大便艱難，小便出血或惡露未盡，誤食酸物，收斂漏滴，敗血衝心，氣急血凝，腹脹嘔吐，腹痛兼瀉，（更用調中湯，參苓白朮散等劑。）遍身疼痛，月內不語，中風，（從風門治法，）傷寒，兒枕痛。惟三症不可治：口鼻黑色及鼻衄病甚，喉中喘急心痛者。</p>
<p><u>黑神散</u></p>
<p>當歸　熟地　白芍（酒洗）　肉桂　炙草（各一兩）　棕灰　蒲黃　沒藥（各五分）　乳香（一兩）　赤芍（一兩）　血竭（五分）　共為末，每服二錢，溫酒童便調服。</p>
<p><u>加味平胃散</u>（治死胎不下立效。方見前。）</p>
<p><u>霹靂奪命丹</u></p>
<p>蛇退（全條，燒存性）　金銀箔（各七張）　乳香（五錢，另研）　蠶退紙（一錢，燒存性）　草鞋（棄在道左足者佳，燒灰存性。）　發灰（血餘炭，一錢，用曾生育者，）　黑鉛（一錢五分，入鍋內熔化七分炒。）　共為末，豶豬心血為丸，桐子大，每服二丸，迴流水送下。如不能服以滾湯水化開灌之。</p>
<p><u>應神膏</u>（下胎如神。）</p>
<p>蓖麻子四十九粒，去殼，研成膏，塗產婦足心，胎下即洗去，恐腸出。</p>
<p><u>花蕊石散</u>（下血如神，治諸血凝滯，氣絕欲死者。）</p>
<p>花蕊石（一兩）　硫黃（四兩）　共為末，入罐內，鹽泥固封，曬乾。以炭火叢堆煅煉一日，候冷取出，再研細，用一錢，童便調服。凡患血症人弱不能攻者，服此凝血皆化為水，血下後還須滋補。</p>
<p><u>一生一死方</u>（服此兒生者安，死者出。）</p>
<p>蟹爪（一對）　甘草（二兩）　用東流水十盅煎三盅，出渣，入阿膠三兩，分二三次頓服。</p>

<h3>收腸〔方〕</h3>
<p>凡遇生，腸不收，以鐵鏽水潤腸，上用磁石能吸針者研末一錢，酒調下，腸即收上。</p>
<p>又方。用香油煎熱放溫，搽腸上，以皂角或半夏為末，吹入產母鼻中，得嚏腸即收矣，後服大補升提之藥。</p>

<h3>陰腫〔方〕</h3>
<p>石灰一升，炒極熱，以湯二升投灰於內，候溫浸玉門，即平復矣。並〔療〕玉門不閉。</p>
<p>又方。用蛇床子一升，燒極熱，布袋盛之，熨患處即消。</p>

<h3>陰挺〔方〕</h3>
<p>產後陰脫及陰挺突出腫痛，清水淋漓，用硫黃五錢，五味子一錢，烏賊骨五錢，共為末，敷患處，兼服參耆歸草升麻升舉補〔提〕之藥，即愈。</p>
<p><u>加味益母丸</u>（方見交骨不開。婦人有孕諸症並宜服之。）</p>
<p><u>益母膏</u>（治孕婦一切諸症及產後諸症。）</p>
<p>益母草五月五日採取，不拘多少，連根莖葉洗淨，用石臼杵搗爛，以布濾取濃汁，入砂鍋內，文武火熬成膏，如黑砂糖色為度，入磁器內收貯，每服二三匙，酒童便調服或諸血病湯藥中加一匙，其效更妙。</p>
<p>毓注：此為臨產卷終。原抄錄者於此頁正中寫有「心緒如麻，難免魯魚之舛（音喘。差錯），乞自閱時或於暇時與原本對校一次」字樣。</p>

<h1>產後上卷</h1>

<h2>產後諸症總論</h2>
<p>凡病後起於血氣之虛，脾胃之弱，至產後而血氣、脾胃之弱愈甚，故丹溪論產後，必當大補氣血為主，雖有他症，以末治之，真確論也。夫產後憂驚勞倦，氣血暴虛，諸症乘虛襲入，或有氣不行，勿專耗氣；有食不消，勿專消食；有熱不可用芩連；有寒不可用桂附；用辛熱則新血流崩，用苦寒則敗血凝滯；至若虛而外感，即見三陽表症，不可大發汗，恐亡陽也；即見三陰里症，不可遽用承氣，恐竭陰也；耳聾脅痛，乃腎虛；惡露之停，休用柴胡；囈語汗出，乃元虛似邪之症，勿同胃實。厥由陽氣之衰，難分寒熱，非大補不能回陽而起危；痙因寒血之損，勿論剛柔，非滋榮不能活絡而舒經；如有乍寒乍熱，發作有期，症類瘧疾，若以瘧論，病甚難痊；神不守舍，言語無倫，病似邪侵，若以邪論，危亡可待。去血多而大便燥結，蓯蓉加於生化[湯]，莫投潤下之湯；汗出甚而小便短澀，六君子湯倍用參耆，更加生津之劑；人參生化湯頻灌，可救產後之危；長生活命湯屢用能蘇絕谷之人；脫肛久瀉，多是氣虛下陷，補中益氣正宜；口噤筋攣，乃因血燥類風，人參生化[湯]為最；產戶入風而痛甚，宜服羌活養榮湯；玉門傷冷而不閉，須洗床兔萸硫湯；驚悸心忡，生化定遠志；似邪恍惚，安神助歸脾。因氣而滿悶中虛，生化[湯]加木香為佐；因食而吞酸惡食，六君子[湯]加神麯為良。一切破氣發汗吐下之法，斷不可施。於產婦先問惡露何如？若塊痛未除，未[不]可遽加參朮；腹痛若止，補中益氣[湯]無疑；至汗出亡陽，氣短喘促，頻用生化湯固是從權。如因大熱，陰虛血崩、血暈，速煎生化湯原方，乃為救急之法。產後當補氣血為主，用十全大補湯之類，雖有他症，以末治之。如大熱煩躁等症炒黑姜[加之]。或問乾薑辛熱，何以用之？曰：「乾薑味辛，能引血至氣分而生血，非神而明之，孰能至此。○如胎前原有陰火症，產後去血過多，必大發煩躁，汗出，若大補血氣，甚至熱極，又當另用逍遙散以清肝火而養肝，蓋因去血既多，肝虛血燥之故，不可拘泥氣血太虛之說，乃用辛溫之劑。</p>

<h3>生化論</h3>
<p>產後暴虛，欲補恐惡露停滯，欲攻又恐元氣愈虧，惟行中帶補，化舊生新為妙，醫者每用四物湯，竊謂地黃微寒而滯血，芍藥酸寒而無補，非產後之良劑也。惟生化[湯]之藥，產下即服，消瘀塊而生新血，正產小產俱宜，然須預備為要。</p>
<p><u>生化湯</u></p>
<p>歌曰：芎歸與炙草，炮姜桃仁炒，五般名生化，加減法更巧。</p>
<p>川芎（三錢）　當歸（八錢，酒洗）　炙草（五分）　炮姜（五分）　桃仁（十四粒，炒去皮尖）　水煎加酒七茶匙，稍熱服。凡產後未進食之先，頻服二三帖，則下焦血塊，速化而驟長新血，自無暈厥等症。胎前素來虛弱之人，產後忽見危症及熱症等，須服生化湯，不拘帖數，直至病退乃止。○若虛勞已甚及血崩形色壞脫，汗多氣促者，生化湯加人參三四錢，自無滯血之症矣。○凡服生化湯，如血塊痛者，加紅花三錢（疑是三分。原抄者注。），肉桂二分，益母草三錢。○治產後諸危症，可通用加參生化湯，一日一夜必須服三四帖或不拘帖數，頻頻多服，若照常數，豈能接補將絕之氣血，救危急之症也。</p>
<p><u>四味散</u></p>
<p>當歸　玄胡　血竭　沒藥（各等分）　共為末，每服二錢，童便調[服]。○心膈寒，倍加當歸；心腹攝痛，倍加沒藥；惡露不快，倍加血竭；氣悶喘急，倍加玄胡。</p>

<h3>血塊論</h3>
<p>產後血塊，乃孕成余血之積也，因產婦勞力倦困，睡臥太早，衣服單薄，肚腹欠溫，以致血塊停滯作痛，慎勿輕用峻劑，多飲姜艾酒，過於大熱則新血未免損失矣。惟頻服生化湯以助血而行血，外用熱衣暖服以護之可也。勿用紅花以行之，蘇木、牛膝以攻之。氣脹勿用烏藥、香附以順之、枳殼、厚朴以舒之。勿用枳實以下氣而定喘。勿用芩連梔柏以退熱而除煩。至於血枯大便實，勿用承氣[湯]以下之，下之則反結。汗多小便澀，勿用五苓以通之，通之則愈秘，執此治產是害產也。惟以生化湯為妙，又當加減治之。○大便不通，加火麻仁、陳皮之類；誤下成脹滿加肉桂、元胡之類，十日以上肛門必有燥糞，須膽導、蜜導之法（方列後）。惡露未盡，有塊作痛，名曰兒枕痛，世多專消散，然後議補，又有消補混施，不知舊血固當消，新血又當生也。若專消則新血不寧，專生則原本舊血反滯。惟芎歸桃仁善破舊血驟生新血，佐以炮薑、炙草引三味入肺肝生血利氣，五味共劑，真產後聖方，名生化湯，蓋因藥性用而立名也。○世用濟坤丹，又名回生丹，以攻血塊下胎胞，雖見速效，元氣損虧，慎勿視為良劑，或不得已而用以下胎胞，只可一丸，不可多服，加參者多服亦無效。</p>
<p><u>膽導法</u></p>
<p>用豬膽一具，將汁傾入盞內，再入生蜜一盅，麻油一盅，醋一盅，水一盅，攪勻，同注尿胞內，口上縛筆管一支，將筆管插入肛門，用力將尿胞一擠，則藥入，腸潤而糞下矣。糞在肛門時亦用此方。如急不得豬膽無之亦可。</p>
<p><u>蜜導法</u></p>
<p>用蜜一二兩許，火熬至滴水成硬珠，將蜜傾入水中，候硬取起，搓成綻，納肛門內，糞即下。糞逼肛門始用此方。。</p>
<p><u>治兒枕痛方</u>（兒枕俗稱衣疙瘩，痛無妨。如用山楂須炒至黑色。）</p>
<p>山楂二十四粒，水盞半入砂糖一塊，煎至八分溫服。</p>

<h3>血暈論</h3>
<p>凡產婦分娩之後，頭眩眼花昏迷不知人事，謂之血暈。其因有三：一因勞倦甚，氣竭神昏而然也；一因血大脫而氣欲竭也；一因痰火乘虛泛上，神不清魂不隨，神不往來而運機幾息也。以上三者不論何項，總宜急服生化湯以消塊而定痛，化舊而生新，則血生而元氣轉，神漸清而有主矣，須連服二三日，定其昏亂而血即旺矣。蓋芎歸有生化之功也。若偏執古方以血暈為惡露上搶而迷輕用散血之藥，誤認痰火而用消降不補之方，或用蘇木等藥峻攻而破血，及牡丹、奪命等方敗血而損命害人甚矣。臨盆之際預煎生化湯，產下連服三帖。並預燒秤錘三兩個於產母枕邊，將醋韭汁傾盆內，將燒紅秤錘淬入，使氣味衝入產母鼻中，自無血暈之症矣。凡產畢不可即臥，不可忿怒，皆足以致此症。一方用上好京墨煅七次，醋淬七次，研細末一二錢，童便淡醋湯黃酒送下，娩產下即服，免血暈之症矣。產後血搶上心，神昏迷亂，眩暈，甚至血自口鼻湧出，甚危症也，方用男子發灰，上好京墨、血竭、蒲黃（隔紙微炒）、紅花等分，水酒各半，煎服，童便更妙。（後二方一治法，均不如生化湯為妥。）如服生化湯不應，加參四五錢；不應再加，可加至一兩，須連服以救危急。</p>
<p><u>生化奪命湯</u>（治三等血暈形色俱脫。）</p>
<p>川芎（二錢）　當歸（四錢）　炮姜（五分）　桃仁（十一粒，炒去皮尖）　炙草（三分）　肉桂（三分）　棗水煎服。勞倦甚及血崩氣脫而暈，速服二服，即不省人事，身半溫暖者，速灌加參生化奪命湯以救之，如不下咽，用鵝毛刷喉中，灌下即蘇。汗多或形色脫而暈者，急用一服，後劑加人參二錢、黃耆二錢，決不可疑參為補而弗用。痰火泛上而暈加橘紅四分；虛甚加人參二錢；肥人多痰加竹瀝半酒盞，薑汁少許。血塊痛甚，以生化湯送益母丸一二個，或送鹿角灰，或送延胡索散俱效。</p>
<p>延胡索（一錢）　肉桂（六分）　共為末。上藥用生化湯調服。三等血暈總不用蘇木破血等藥。（此條據《經效產寶》校。毓注。）</p>

<h3>厥症論</h3>
<p>產後用力過多，勞倦傷脾，孤臟不能注於四旁，故足冷而厥氣上行焉。經雲陽氣衰於下，則為寒厥是也，宜服加參生化湯，連進二服，則氣血旺而神復，厥症自止矣。若服藥而猶渴，用生脈散多加參以代茶，助津而救臟燥也。又有四肢逆冷瀉痢似陰症傷寒者，不可用四逆湯，必用倍參生化湯或加熟附子一片，則可以止逆回陽而見參歸之功矣。熱厥亦不可用白虎湯。厥冷大脫非急方不能舉二氣以歸元，非大補不能回陽而收神，故速服加參生化湯。此症由陰血虛陽氣亦虛，陰陽兩虛，故手足厥冷。</p>
<p><u>加參生化湯</u></p>
<p>川芎（三錢）　當歸（八錢）　炮姜（四分）　桃仁（十粒，炒去皮尖）　人參（二錢）　炙草（五分）　棗水煎，連進數帖。</p>
<p><u>滋榮益氣復神湯</u>（血塊不痛者服此。）</p>
<p>川芎（二錢）　白朮（二錢）　黃耆（二錢）　人參（三錢）　當歸（三錢）　生地（二錢）　麥冬（一錢）　炙草（四分）　陳皮（四分）　五味子（十粒）　熟附子（五分）　水煎服。汗多加麻黃根、黑棗仁各一錢。大便不通加肉蓯蓉錢半。</p>

<h3>暈厥總論</h3>
<p>凡產婦暈、厥二症，類皆由氣血暴絕神將去而幾息，苟非大方淨補何能挽其將絕之元神耶！但暈症在臨盆之際其患尤急於厥症，宜頻灌生化湯幾帖，先補血分之虧，使塊化血旺，則神清而暈自止矣。如無汗脫形脫氣促等症，參耆不必加也。厥症在分娩之後，氣血兩竭，宜用倍參生化湯，消瘀塊生新血兼補氣血則厥止而神復，又非偏補血分所能愈也。要知有塊痛，術耆莫可遽加，如用，痛反不止，必至無塊作痛方可用術耆地黃為正。分娩一二日，血塊雖痛不止，若產婦血氣虛脫或口氣漸冷或暈厥等，勿論塊痛與否，從權多用參耆生化湯以救危急。產後血暈，男人以手按住產婦兩耳，急吹其口一二口即醒。</p>
<p><u>消塊散</u>（治產婦元氣虛，瘀血逆上作暈。）</p>
<p>人參（一兩）　荊芥（四兩）　炙草（八錢）　川芎（一兩）　澤蘭（一兩）　共為末。熱酒熱湯各半調服二錢。若瘀血過多，有昏憒等症，宜四物湯加人參、白朮、黃耆；如不應，血脫也，急用獨參一兩，甚二兩，水煎溫服，可以固氣，可以生血，可以回生；若身熱氣促者，入童便一酒盞；身寒氣弱者，加熟附子一片。</p>

<h3>血崩論</h3>
<p>產後血大來，須審血色之紅紫，視形色之虛實。如血來紫色有塊，乃當去敗之血也，切不可止，止之反作痛不可言；如鮮紅之血大來，乃是驚恐傷心，心不能主血；怒氣傷肝，肝不能藏血；倦勞傷脾，脾不能統血以歸經而然也。當以血崩治之，先用生化湯幾帖，則行中有補，血寧靜而血旺矣。崩症若形色脫或有汗或氣促，宜服倍參生化湯以益氣，則陽生而陰血旺矣。血旺則血即不崩，竭非棕灰髮灰散之可止也；或產後半月外崩者，又宜滋榮益氣止崩湯，或升舉大補湯治之自愈。有謂川芎當歸活血而不能止崩，此昧原之論，非明理之見也。芎歸活血即能止崩。血崩昏倦，牙關緊閉，但見其身心溫暖，撬開口灌加參生化湯，不拘帖數可活，又用手在單衣外從心摸至腹，再與暖厚衣服溫覆。</p>
<p><u>止崩生化湯</u></p>
<p>川芎（一錢）　當歸（四錢）　炮姜（四分）　炙草（五分）　荊芥（五分）　桃仁（十粒，炒去皮尖）　棗水煎服。一方有肉桂五分。忌食椒姜熱物並生冷。如血色鮮紅大來，加荊芥穗、白芷各五分；汗多氣促加人參三錢；形脫亦加參；兩手浮腫或右手脈絕，加麥冬三錢，五味子十粒。</p>
<p><u>滋榮益氣止崩湯</u></p>
<p>川芎（一錢）　當歸（四錢）　人參（二錢）　白朮（二錢）　黃耆（一錢）　熟地（二錢）　陳皮（四分）　升麻（四分）　白芷（四分）　荊芥穗（四分）　炙草（四分）　黃連（三分或四分）　棗水煎，童便服。汗多加麻黃根一錢，浮小麥一撮；大便不通加肉蓯蓉一錢，斷不可用大黃；有氣不舒加木香末二分；有痰加竹瀝、薑汁、貝母；寒嗽加杏仁、桔梗各八分，知母一錢；驚悸加柏子仁一錢，棗仁一錢炒黑；傷食加山楂八分，砂仁五分，斷不可用消耗無補之藥；身熱倍參耆去黃連。</p>
<p><u>升舉大補湯</u></p>
<p>人參（三錢）　白朮（三錢）　當歸（三錢）　川芎（八分）　生地（二錢）　炙草　升麻　白芷　陳皮　黃連　防風　羌活（各四分）　黃柏（三分，炒）　黃耆（一錢，炙）　棗水煎服。煩躁乾渴加麥冬一錢，五味子十五粒；泄瀉去黃柏加澤瀉四分，蓮子十粒；有痰加半夏八分（薑汁炒）。有痰及白沫加半夏、蒼朮各二錢。</p>

<h3>氣短似喘論</h3>
<p>產後呼吸短促有似於喘，妄作痰火而用散氣化痰之藥，誤人多矣。夫肺乃受脾氣運化水穀上蒸於肺，然後生滋血脈，通調水道，呼吸上下，調和榮衛，今產後血亡氣脫，脾不運化而蒸肺，故呼吸短促，語言不緒，有似於喘，此不待診而知為虛症也。○蜀阜僧人治產後此症為痰火，用枳殼、青皮、貝母、香附、芩柏等藥，經傳歷年已久，不知誤死多少人矣。</p>
<p><u>加參生化湯</u>（治產後即患氣促之症，如有血塊不加朮耆。）</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　炮姜（四分）　桃仁（十粒，炒去皮尖）　人參（二錢）　棗水煎服。一方有棗仁二錢炒黑，須連服三帖，然後可服後方。</p>
<p><u>續氣養榮湯</u>（產後氣短促，無塊痛。）</p>
<p>川芎（二錢）　當歸（四錢）　炮姜（四分）　人參（二錢）　黃耆　白朮（各一錢）　陳皮（四分）　熟地（二錢）　炙草（四分）　棗水煎服。一方有黑棗仁一錢。如足冷加熟附子三五分；汗多加麻黃根一錢半，浮小麥一撮；渴加麥冬一錢，五味子十粒；大便秘加肉蓯蓉二錢，芝麻一撮，麻仁亦可；傷食加神麯一錢，麥芽五分；傷食肉加山楂五粒，砂仁五分；有痰加竹瀝一盞，薑汁一匙。</p>
<p>或滋榮益氣復神湯亦可。</p>

<h3>妄言妄見論</h3>
<p>產後妄言妄見，由氣血兩虛而神魂無依也。夫心藏氣而主血，言乃心之聲也。心有血則神存而言不妄發。肝主魂而藏血，目乃肝之竅也。目得血而思視，則瞳瞭而神正。今產後暴竭，心神失守，故言語無倫，肝魂無依，眊瞭妄見。況心為一身之主，目乃百脈之官，今虛症見於心目，則十二官皆失職可知矣。治此症當分產期遠近，有無塊痛，若兒方初下，塊痛未除者，當先服生化湯兩帖，以化塊而定痛，痛止，然後復用加參生化湯以補之，則自愈矣，若產後日久，亦無塊痛，而形氣病勢俱有不足，當大補為主，以生氣養血安神定志服之充足，其病自愈矣。病家勿求速效，醫[家]勿任去邪，噴以法水，驚以法尺，率致不救。予屢治此症，服藥至十數帖始效。○丹溪云虛病似邪祟。又云欲泄其邪，當補其虛，先調其氣。此次論諸症，古人之確論也。說者謂攻補不可同劑，必攻邪盡立可用補誤矣，是醫產後及年老人虛弱妄言妄見等症所當用心也。</p>
<p><u>寧神生化湯</u>（治產後塊痛未除，妄言妄見未可術耆者。）</p>
<p>川芎（一錢）　當歸（三錢）　炮姜　炙草（各四分）　茯神（一錢）　人參（二錢）　益智仁（八分）　桃仁（十二粒，炒去皮尖）　柏子仁（一錢）　陳皮（二分）　龍眼肉（五個）　棗水煎服。</p>
<p><u>加味滋榮益氣復神湯</u>（治產後塊痛已止，妄言妄見者。）</p>
<p>川芎（一錢）　當歸（三錢）　熟地（二錢）　炙草（四分）　黃耆（一錢）　人參（二錢）　茯神（一錢）　柏子仁（一錢）　益智仁（一錢，炒）　蓮肉（八分，去心）　龍眼肉（八分）　陳皮（三分）　麥冬（一錢）　五味子（十粒）　棗水煎服。有痰加竹瀝一盞，薑汁一匙；大便不通加麻仁錢半，切不可用大黃。○此症極虛，服藥俱平穩，未見大效，候藥力充足，頓除諸疾，曾有服十二帖始見全效者。</p>

<h3>血脫氣脫神脫總論</h3>
<p>產後崩者，謂之血脫；氣短似喘者，謂之氣脫；妄言妄見者，謂之神脫。三者雖有血陰氣陽之分，其精散神去之狀無異，症治雖比前暈症少緩，總皆危症也，若非厚藥急方頻進連服鮮克有濟，誤作氣實痰火者，皆非也。○血脫一症有塊痛，當用加參生化湯；塊痛已止用升舉大補湯少佐黃連以墜火，使之寧血歸經也。○氣脫一症氣短似喘者，用倍參補中益氣湯少佐熟附子以助參力，攝氣歸元也。○神脫一症妄言妄見者，用滋榮益氣復神湯少佐痰藥以清心而寧君王也。</p>

<h3>傷食論</h3>
<p>新產之後，形體勞倦，脾胃俱傷，是以務宜去膏粱遠厚味也，食粥茹蔬乃為切當，不知者，惟慮產後之虛進以厚味，強以飲食，胃雖暫納，脾轉輸遲，以致食停痞塞，惡食噯酸，治法當以扶元為主，補氣血健脾土，助胃氣而養中為佐，兼審所傷何物，佐以消導之藥，則脾氣暢，輸轉易，滯物行，而胃思食矣。蓋以溫補為主，神麯消麵食；以山楂、砂仁消肉食；以吳茱萸、肉桂消冷食，補消兼治，無有不安。庸醫但求速效，惟進消化之藥，反損真氣，益加悶滿，一劑不效，又加峻藥，一醫不效，又易他醫，先後互異，輕症反危，豈不惜哉。○產後誤用耗氣順氣之藥，反增飽悶，若用陳皮切不可用至五分以上，人多不知其弊。</p>
<p><u>加味生化湯</u>（治產後血塊未消兼消食。）</p>
<p>川芎（二錢）　當歸（五錢）　炮姜（五分）　炙草（四分）　桃仁（十粒，炒去皮尖）　水煎服。傷麵食加神麯一錢，麥芽一錢；傷肉食加山楂、砂仁各五分；傷冷食加吳茱萸一錢，肉桂五分；虛甚加人參二三錢。</p>
<p><u>健脾消食生化湯</u>（治產後無塊痛，宜服此方。）</p>
<p>川芎（一錢）　神麯（八分）　當歸（三錢）　人參（五錢）　白朮（一錢，土炒）　麥芽（八分）　炙草（四分）　水煎服。所傷加減如前，如冷物停久，脾胃虛甚，藥不能消，當以熱手按揉而並以炒麩熨之。</p>
<p>長生活命丹。治產後傷食消導之藥也，多服致令絕食並雜症，誤消食絕者，恐病人聞藥即嘔，用鍋焦粉引胃耳。○人參一名長生草，鍋焦一名活命丹。人參三錢獨煎，先用飯鍋內焦片，黃色者佳，黑者不堪用，研細末，以好酒或溫湯調送三匙，引開胃口，然後漸加參湯，此方曾活數十人矣，神效。○胃所養者谷，日久不食，胃空不受藥氣，須用人參二三錢，姜三片，白朮一大撮，水煎服。</p>

<h3>忿怒論</h3>
<p>產後忿怒氣逆，胸膈不舒，血塊又痛，宜用生化湯，服時入木香末二分，即愈。若偏用烏藥、香附、枳殼、香砂之類以散其氣，則元損而胸膈反悶脹矣。如怒後遂食，胃虛停食脹[悶]者，當審所傷何物，照前加減分消之藥，入生化湯內，逐寒定痛，無有不安。慎勿輕用檳榔流氣等丸方散氣化食痰，愈損真元也。</p>
<p><u>木香生化湯</u>（治產後塊痛未除又受氣惱。）</p>
<p>川芎（二錢）　當歸（六錢）　炮姜（五分）　炙草（四分）　陳皮（三分）　桃仁（十粒，炒去皮尖）　木香（二分）　水煎溫服。</p>
<p><u>健脾化食散氣湯</u>（治產後無塊痛噯氣傷食者。）</p>
<p>白朮（一錢，土炒）　當歸（三錢）　炙草（四分）　川芎（一錢）　炮姜（四分）　人參（五分）　陳皮（五分）　水煎服。傷冷食脅下作痛，加桂枝八分，余照前加減，如傷麵食加神麯是也。</p>

<h3>傷氣傷食總論（附脹滿）</h3>
<p>產後忿怒，傷食氣逆停食者，必以消塊補氣補血為主，佐以順氣，氣順則鬱開而元氣不損，佐以健脾消導，則滯行而胃思食，此正法也。每見服散氣消導之藥，愈增滿悶，漸至少食，卒致絕谷，日久者，亦用長生活命丹為藥也。○產後中滿臌脹，大率傷食而誤消導致氣鬱而專順散，又因多食冷物而停滯惡露，又因血虛而大便燥結誤下愈脹，治者但知傷食，當消氣鬱，當順惡露，當攻便秘，當下不顧產虛，大傷胃氣，氣不升降，鬱積而成脹滿，每致不救，豈知微加消導於補劑中則脾強，而所傷之食氣消散，氣血兼行，則大便自通而惡露自行。每見誤用消氣消食之藥，以致絕穀日久者，用長生活命丹而更生；又誤用消氣之藥而致成臌脹，仍用大補益氣之劑不致夭亡，治者先用人參二三錢，煎送鍋焦粉引之，以救絕谷，然後漸加補脾之藥，佐以消導，按方施治，可十全八九，百試百驗。</p>
<p><u>誤耗益氣湯</u></p>
<p>人參（二錢，虛者用四五錢）　白朮（三錢）　茯苓（錢半）　當歸（三錢）　川芎（八分）　白芍（一錢）　大腹皮（六分）　蘇梗（五分）　木通（五分）　陳皮（四分）　厚朴（四分）　蘿蔔子（四分）　炙草（三分）　木香（三釐）　水煎服。</p>
<p><u>誤消健脾湯</u></p>
<p>人參（一錢）　白朮（二錢）　茯苓（一錢）　當歸（二錢）　白芍（一錢）　川芎（七分）　大腹皮　神麯（各四分）　炙草（五分）　水煎服。腹脅痛或塊痛加砂仁五分；傷麵食加麥芽五分；傷冷食腸太痛加吳茱萸一錢。</p>
<p><u>養生化滯湯</u>（治產後大便不通，誤用大黃等藥致成膨脹或腹內塊痛不止。）</p>
<p>當歸（四錢）　川芎（一錢）　白芍（一錢）　人參（一錢）　白朮（二錢）　茯苓（一錢）　桃仁（十粒，炒去皮尖）　肉蓯蓉（錢半，去甲酒洗淨）　大腹皮（四分）　陳皮（三分）　香附（三分）　炙草（四分）　水煎服。如脹甚倍人參、白朮；如血塊痛以本方送三消丸；產後惡露成塊不下。（此句下似有脫字。毓注。）○以上三方大率相同，可以通用。俱遵丹溪治脹加減方屢用屢驗，常治服大黃而作脹者，用參歸至半斤以上大便方通，膨脹方退。</p>
<p><u>丹溪三消丸</u>（治婦人有死血，食痰飲三等塊。）</p>
<p>黃連（一兩五錢，吳茱萸汁炒一兩，同益智仁炒五錢）　川芎（五錢）　蘿蔔子（五錢）　桃仁（十粒，炒去皮尖）　梔子（五錢，炒）　神麯（五錢）　三稜（四錢，醋炒）　香附（一錢，童便浸炒）　山楂肉（一錢）　共為細末，蒸餅為丸，食遠前湯送下五六十丸。一方治惡露凝結成塊，虛證百出，腹痛身熱，骨蒸時作時止，似瘧，或五心煩熱，食少羸瘦，或月水不調，其塊在兩脅，動作有聲，嘈雜血暈等症，用補中益氣湯去柴胡、升麻加茯苓、白芍，煎送三消丸，塊消而人不弱最妙。</p>

<h3>類瘧論</h3>
<p>產後寒熱往來，每日應期而至，其症似瘧，切勿用治瘧之方，益氣血虛而寒熱並作，元氣虛弱而外邪更侵，必當滋榮益氣以退寒熱。有汗當止則加麻黃根。如頭痛有汗而不及手足，乃孤陽絕陰之危症，加地黃、當歸之類可也。經曰陰虛生內熱，陽虛必外寒，陰陽兩虛則寒熱往來，有期者是瘧疾，無期者是陰陽兩虛也，舉止無常，或一日二三度。○即明知感風寒頭痛，身熱無汗，亦於生化湯加羌活、防風、帶須蔥頭以散之。切勿作瘧治而誤人也，蓋此由氣血兩竭，陽虛發寒，陰虛發熱，惟調補氣血，則寒熱自除矣。雖柴胡湯不可輕用，勿以芩柏梔連退熱，勿以檳榔、草果截瘧。有氣促者加參耆，熱加參歸。</p>
<p><u>滋榮益氣扶正湯</u>（治產後半月內外，類瘧，寒熱有汗，午後應期而至者。）</p>
<p>川芎（一錢）　白朮（錢半）　麻黃根（一錢）　當歸（三錢）　炙草（五分）　人參（二錢）　熟地（二錢）　陳皮（四分，去白）　黃耆（一錢）　麥冬（一錢）　浮小麥（一撮）　水煎服。一方有藿香八分，青皮三分，烏梅三個，茯苓八錢。無熟地、陳皮、麻黃根、浮小麥，名加味生化湯。</p>
<p><u>加減養胃湯</u>（治產後寒熱往來無汗頭痛，類瘧，如患瘧疾，亦用此方加減調治。）</p>
<p>川芎（二錢）　當歸（三錢）　藿香（四分）　炙草（四分）　茯苓（一錢）　人參（錢半）　半夏（八分）　橘紅（四分）　蒼朮（一錢）　薑棗水煎服。一方有青皮四分，草果三個，烏梅三個。有痰加竹瀝、半夏（薑製）、薑汁。虛人加河車丸。如產後火瘧無汗，不愈，煎人參白朮膏以助藥力。法用白朮一斤洗淨焙乾，人參一兩，入水六碗，煎汁一碗半，如此再煎五次，共取汁九碗，再煎至一碗，磁器收貯，每日服半酒盞，白湯送下。</p>

<h3>產後類傷寒二陽症論</h3>
<p>產後七日內外，偶有發熱惡寒，頭痛，勿專作太陽症，治之以麻黃湯；寒熱頭痛脅痛，勿專作少陽症，治之以柴胡湯。皆因產後氣血兩虛，陰陽不合而然也。且產婦血脫之後，而重發其汗則虛，虛之禍不可言。仲景云亡血家不可發汗。丹溪云產後不可發表。二先生謂非產後無傷寒，非謂柴胡等湯不可。按經施治誠恐偏執專科，輕產而泥成方致害人命也。雖然知其真傷寒亦當於生化湯內加入芎姜等藥以散之可也。又《內經》云西北之氣散而寒，東南之氣收而溫，之所謂同病而異治也。非謂東南柔弱西北剛勁而異治也。雖產後虛勞不可分南北，概當重產而用補劑，少佐以散劑，雖有他症以末治之可也。</p>
<p><u>加味生化湯</u>（治產後三日外發熱頭痛。）</p>
<p>川芎（一錢）　當歸（二錢）　炙草（四分）　炮姜（四分）　桃仁（十粒，炒去皮尖）　羌活（四分）　防風（五分）　水煎服二劑。若身熱頭痛不除，加白芷八分，細辛三四分；頭痛如破者加連須蔥頭五個；虛人加人參二三錢；汗多加參；氣短多[加]參；微喘加參；渴[而]煩躁加人參、麥冬、五味子；痰多加橘紅四分；嘔吐加藿香三分、姜三片；乍寒乍熱，發有常度加柴胡四分；傷麵食加神麯；傷肉食加山楂、砂仁。</p>

<h3>產後類傷寒三陰症論</h3>
<p>產後陽明經症見，勿治以葛根[湯]、白虎[湯]；口煩咽乾便秘與譫語，勿治以三承氣[湯]，屢見妄下成臌，誤導反結，亦有血少而結，下之而泄瀉不止，虛之為禍[不]可勝言哉，蓋產婦多由勞倦傷脾，運化稽遲，氣血枯竭，腸腑燥結而然也，豈可輕產而妄下乎。以上三陰症並宜大料芎歸以補血，少佐以參耆白朮可也，然芎歸非服至數斤難取功效。</p>
<p><u>養心通幽湯</u>（治產後傷寒類三陰症大便秘者。）</p>
<p>川芎（二錢半）　當歸（六錢）　炙草（五分）　桃仁（十五粒，炒去皮尖）　陳皮（四分）　麻仁（二錢）　肉蓯蓉（二錢）　水煎服。汗多便實加黃耆二錢，麻黃根一錢，人參二錢；口渴加麥冬一錢，人參一錢；腹滿咽乾便實加麥冬一錢，枳殼八分，人參一錢；汗出譫語便實，乃氣血兩竭，心主失守，宜養氣安神加茯苓、棗仁、遠志、柏子仁各一錢，人參二錢，白朮二錢，黃耆一錢。</p>

<h3>產後傷寒總論</h3>
<p>產後傷寒，雖見頭痛發熱或脅痛腰痛，似乎外感而宜汗，須念產後亡血而禁發汗，惟於生化湯內量為加減，大便秘結亦當思產後亡血而禁下瀉，惟養正助血通滯為穩耳。</p>

<h3>類中風論（治產後氣血暴竭，百體少血濡養而然也。）</h3>
<p>凡產[後]偶爾口噤牙關緊急，手足筋脈攣搐，狀似中風亦類痙癇者，不可竟作中風、痙癇治，若妄用逐風消痰之劑，是重虛產婦也。蓋產婦氣血暴竭，百體少血濡養而然也。雖痰泛上以末治之。夫衝脈為脈之海，若血脈流利堅滑強勁，則關節自然輕利矣，當先服生化湯以旺新血，如見危症，三帖後急服人參益氣以救血脫可也，如有痰有火，少佐橘紅、砂仁、茯苓、竹瀝、薑汁，然黃連知柏不可並用，恐太寒也。</p>
<p><u>滋榮活絡湯</u>（治產後類中風、口噤項強筋搐。搐音觸，牽制也。）</p>
<p>川芎（錢半）　當歸（四錢）　熟地　人參　黃耆（各二錢）　茯苓（一錢）　天麻（一錢）　麥冬（一錢）　陳皮　炙草　荊芥　防風　羌活（各四分）　黃連（二分，薑汁炒）　水煎服。有痰加半夏曲七分，竹瀝七分，薑汁少許；有汗加麻黃根；大便閉[秘]加肉蓯蓉一錢；渴加麥冬、乾薑各八分；驚悸加黑棗仁；傷麵食加神麯；傷肉食加山楂、砂仁。</p>
<p><u>天麻丸</u>（治產後中風，言語謇澀，四肢不利，精神恍惚。）</p>
<p>天麻（五錢）　防風（五錢）　茯神（一兩）　川芎（一錢）　棗仁（一錢，炒黑）　人參　遠志　山藥　柏子仁　麥冬（各一兩）　羌活（七錢）　細辛　膽星（各八分）　半夏曲（八錢）　當歸（二兩）　石菖蒲（八錢）　共為細末，蜜丸桐子大，硃砂為衣，每服五十丸，淡薑湯送下。</p>

<h3>咳嗽論</h3>
<p>產後七日，外感風寒咳嗽，鼻塞聲重，有惡露者，宜生化湯加杏仁（去皮尖）、桔梗；有痰加天花粉。勿用麻黃動汗。如嗽而脅下痛，勿用小柴胡湯。如火嗽而有聲，痰少面赤，勿用涼藥。凡嗽有痰有火者，必調理產婦半月，方可量用涼藥，半月後還須重產，丹溪云產後切不[可]發汗。</p>
<p><u>加味生化湯</u>（治產後感冒風寒，鼻塞聲重。）</p>
<p>當歸（三錢）　川芎（二錢）　杏仁（十粒）　炮姜（四分）　桔梗（五分）　知母（五分）　炙草（四分）　姜水煎服。有痰加天花粉；有汗加人參。</p>
<p><u>寧肺生化湯</u>（治產後虛弱，旬日內感風寒，嗽聲而有痰，或汗多或身熱頭痛。）</p>
<p>當歸（二錢）　川芎（二錢）　杏仁（十粒）　桔梗（二分）　知母（一錢）　人參（一錢）　桑白皮（二錢）　半夏（七分）　橘紅（三分）　姜水煎服。虛人痰盛加竹瀝、薑汁。</p>
<p><u>加味四物湯</u>（治產後半月外，咳嗽有聲痰少。）</p>
<p>川芎　當歸　生地　白芍（各二錢）　知母（一錢）　訶子皮（一錢）　瓜蔞仁（一錢）　桔梗（四分）　姜水煎服。</p>

<h3>虛汗論</h3>
<p>《內經》云播體勞苦汗出於脾，驚而奪精汗出於心，有所恐懼汗出於肝。凡分娩時出汗者，皆由勞傷脾經，驚傷心經，恐傷肝經也。產婦多兼此三者而汗不止也。欲加斂汗之劑，寧神則汗自止。但血塊痛，術耆未可遽加，宜服生化湯二三帖消塊，繼服加參生化湯以止汗可也。若在分娩之後倦甚汗出，形色又脫，乃亡陽而汗脫，又當從權速灌加參生化湯倍參以救急，勿拘於塊痛而不加參也。若產[婦]少有精神，又當減參耆以除塊痛。夫汗乃心之液也，榮於內則為血，發於外則為汗，產婦亡血之後，又多汗者，由於受勞驚恐致令心傷，神虛不能鎮守心液也。治法當健脾胃而散水穀之精，使之歸肺而滋榮衛，則氣血歸源，灌溉四旁，不使妄行於外而為汗也。卒症雖有盜汗自汗之分，但當歸六黃湯又不可治產後盜汗，並宜服加參生化湯及加味補中益氣湯可也。○若服參耆重劑而汗不止及頭出汗而不及腰足者，皆危症也。○產後虛汗不止，由產後陰血虛而陽氣偏盛故也。經雲陽加於陰而發汗，因而遇風而變為痙癇者有之。</p>
<p><u>加味補中益氣湯</u>（治產後虛極自汗不止。）</p>
<p>當歸（二錢）　人參（二錢）　黃耆（錢半）　炙草（五分）　麻黃根（一錢）　桂枝（五分）　牡蠣（一錢）　白朮（一錢）　如塊痛不止，加浮小麥一撮。水煎服。手足冷加熟附子一片，乾薑四分；渴加麥冬一錢，五味子十粒；血塊不痛加熟地三錢；惡露加防風五分；肥人多痰加竹瀝、薑汁，每晚服八味地黃丸七八十丸，清湯下。○凡產後汗出多而變為類痙者，口噤目直背強氣欲絕者，宜速灌加參生化湯。○產後無汗而患類痙者，中風者只用川芎一錢，當歸二錢，羌活八分，棗仁一錢治之，隨症加減如前。○經雲陽氣者精則養神，柔則養血。產後亡陽，陽微不能養陰，則筋急緊項強，口噤牙緊筋搐，類傷寒痙症，慎勿作傷寒治之。</p>
<p><u>加減生化湯</u></p>
<p>川芎（一錢）　當歸（二錢）　麻黃根（一錢）　桂枝（四分）　防風（五分）　人參（一錢）　炙草（四分）　羌活（四分）　附子（四分）　羚羊角（五分）　天麻（一錢）　水煎服。</p>

<h3>盜汗論</h3>
<p>盜汗者，睡中汗出醒來即止，猶盜賊瞰人睡而竊之也，不可與自汗同治。此由產後亡血陰虛而陽勝故也。經曰陽加於陰則發汗是也。治當兼用血分藥，其當歸六黃湯，寒而膩膈，又非治產後盜汗之方也，宜服止汗散。</p>
<p><u>止汗散</u></p>
<p>人參（二錢）　當歸（三錢）　麻黃根（一錢四分）　熟地（三錢，塊痛不用此味）　黃連（五分，酒炒）　浮小麥（一撮）　水煎服，一方用牡蠣末五分，麥麩八兩炒黃為末，每服三錢，豬肉汁調服。</p>

<h3>口渴兼小便不利論</h3>
<p>凡人日受水穀胃納之而脾運之，上輸於肺，肺散之至精至清之氣而為津為液，其氣通於心，稟火色而化為血，下行膀胱而為小便。今產後亡血又多汗，勞倦傷脾不能與胃行其津液，則是生化之機不運，滲泄之令不行，使上無津液流通而有燥結之症，下氣不降而有小便閉澀之候，治法當助脾益肺以升舉氣血，則氣化流行，陽降陰升，使之水入經為血為液，谷入胃長氣行脈，自然津液充而燥渴除，溺便自利矣。所謂因其勞損而溫之益之，因其留滯而濡之行之也，若誤以燥渴為火而用芩連梔柏以降之，認澀秘為滯而用五苓[散]等劑以通之，為害多矣。</p>
<p><u>生津益水湯</u></p>
<p>黃耆（錢半）　人參　生地　麥冬（各二錢）　五味子（十粒）　當歸（二錢）　茯苓（一錢）　炙草　升麻（各四分）　葛根（一錢）　水煎服。汗多加麻黃根一錢，棗仁一錢，浮小麥一撮；大便秘加肉蓯蓉一錢。凡產後其大便或八九十日以上不通者，皆因血少腸燥故也，宜多服生化湯加麻仁以通潤之，服芎歸至斤數自然通潤，虛加人參三錢。慎勿用大黃等下藥。渴甚以生脈散代茶飲，[不可疑而不用]，（此句據竹林寺《女科秘旨》卷七補。毓注。）</p>

<h3>產後遺尿</h3>
<p>凡產後遺尿，由氣血大虛，不能約束，宜用八珍湯加升麻、柴胡，甚者加熟附子一片。</p>
<p>[吳按]曾有接生者以手入內，探扶小兒，損傷尿胞，以致終身滲漏，可不慎哉！</p>
<p>又有生理不順，誤損尿胞膀胱者，用參、耆為君，歸、芎為臣，桃仁、茯苓、陳皮為佐，以豬羊尿胞煎湯煎藥，須百服漸安。</p>
<p><u>薛氏補脬飲</u></p>
<p>黃絹絲一尺碎剪，白牡丹根皮為末，白及末，各一錢。水煎，至絹爛如飴，服之靜臥，不可作聲。如作聲則不效。（抄本原無。今據竹林寺《女科秘旨》卷七補。毓注。）</p>

<h3>類痙</h3>
<p>產後汗出多而變痙症，口噤不開，背強而直，身反，氣息如絕，宜速服下方。</p>
<p><u>加減生化湯</u></p>
<p>川芎　麻黃根（各一錢）　當歸（四錢）　桂枝　防風　甘草　羌活（各五分）　人參（二錢）　附子（一片）　羚羊角　天麻（各八分）</p>
<p>產後中風，無汗類痙，〔宜芎歸活風湯〕。</p>
<p><u>芎歸活風湯</u></p>
<p>川芎　當歸（各三錢）　防風　羌活（各五分）　棗仁（一錢）</p>
<p>（原抄本脫。今據竹林寺《女科秘旨》卷七補。毓注。）</p>

<h3>泄瀉論</h3>
<p>產後泄瀉，非雜症食泄、洞泄、濡泄、濕泄、水穀泄同治，蓋產[後]泄瀉由氣虛食積與濕也。然惡露未盡，又難以驟補其氣而峻消急燥也，當先用生化湯三劑加茯苓以利水道，候血分生化，然後加以消食補氣燥濕之藥可也。若旬日之外泄瀉，方以雜症論，亦宜量人虛實而治之，如痛下清水腹鳴，米飲不化者，寒瀉也；糞色黃，肛門痛者，熱瀉也；或傷脾瀉者，自有噯氣吞酸泄屁，氣如敗卵者；也有脾瀉[日]久，氣虛少食，食下腸鳴腹急，盡下其食而方快者，治法寒則溫之，熱則清之；食積則健脾，分利兼消補，斯最善矣。</p>
<p><u>理中湯</u>（治產後脾胃虛泄瀉者。）</p>
<p>人參　白朮　炙草　乾薑　水煎服。脾腎兩虛者煎前湯送四神丸。</p>
<p><u>四神丸</u></p>
<p>補骨脂（四兩）　肉果（二兩，麵裹煨熟）　五味子（一兩）　吳茱萸（五錢，湯泡去苦水）　共為細末，用大棗百枚，生薑四兩切片，同煮，去姜取棗肉，同搗為丸。腿足浮並頭面俱浮者，急用八味丸或金匱腎氣丸。不可泛用利水行氣之藥。</p>
<p><u>參苓朮附湯</u>（治產後虛泄眼昏不識人，危症用此。）</p>
<p>白朮（三錢）　人參（七錢）　熟附子（一錢）　茯苓（一錢或三錢）</p>
<p><u>加減生化湯</u>（治產後虛瀉，血塊未除者。）</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　炮姜（四分）　茯苓（二錢）　桃仁（十粒）　蓮子（八粒，去心）　水煎服。</p>
<p><u>健脾利水生化湯</u>（治產後虛瀉，血塊已消者。）</p>
<p>川芎（一錢）　白朮（二錢）　當歸（二錢）　炮姜（四分）　炙草（五分）　茯苓（錢半）　人參（三錢）　肉果（一枚，煨）　陳皮（五分）　澤瀉（八分）　水煎服。寒瀉加砂仁八分，炮姜多用三五分；熱瀉加炒黃連八分；泄水腹痛，米飲不化加砂仁、山楂、麥芽各六分；瀉有酸噯臭氣加砂仁、神麯各八分，山楂五粒，麥芽五分；脾虛日久泄盡方快者，以食積論，亦加神麯、麥芽、山楂；如弱甚形色俱脫，必用丹溪參苓朮附湯大補方愈；久瀉加升麻。諸瀉宜加蓮子十粒，水多加蒼朮以燥濕。</p>
<p><u>參苓蓮子飲</u>（治脾虛瀉年久不止者，須用百帖，甚則數百帖。）</p>
<p>人參（二錢）　白朮（二錢）　茯苓（一錢）　山藥（一錢）　當歸（錢半）　白芍（一錢）　炙草（四分）　陳皮（三分）　升麻（三分）　蓮子（十二粒）　姜水煎服。次煎即取蓮子細嚼，藥湯送下。大忌房事，倘遇房勞，則火動而腹復痛矣，加炮姜五分。此方治雜症脾瀉不止之方也，即治產後泄瀉亦妙。○參苓蓮子飲治脾泄，升舉大補湯治血崩，二方活人多矣。</p>

<h1>產後下卷</h1>

<h2>完穀不化論</h2>
<p>產後完穀不化，因生產時勞倦傷脾，而轉輸遲緩也。夫水穀入胃，必運於脾方散於肺，而通調水道乃能致氣於四臟[旁]滋氣以養人者也。今產後勞倦傷脾，則沖和之氣不能運化，而物完不化病名飧泄；又有飲食太過，脾胃傷損亦致完穀不化，俗呼水穀痢。但產後三日內，血塊未消，患此脾敗胃傷之症，未可遽投術耆，但服生化湯加益智仁、木香、砂仁，少溫胃氣，候塊消散，方以參朮黃耆補氣健脾，以肉果、木香、砂仁、益智仁溫胃，柴胡、升麻以引胃中清氣，澤瀉、陳皮、茯苓以利水，斯為上策矣。</p>
<p><u>加味生化湯</u>（治產後三日內，完穀不化，亦治胎前素弱者。）</p>
<p>川芎（一錢）　當歸（四錢）　炙草（五分）　桃仁（十粒，炒去皮尖）　炮姜（五分）　益智仁（一錢）　茯苓（錢半）　水煎服。</p>
<p><u>參耆生化湯</u>（治產後完穀不化，血塊已散者。）</p>
<p>川芎（二錢）　當歸（二錢）　益智仁（一錢，炒）　人參（二錢）　炮姜（四分）　茯苓（一錢）　炙草（五分）　白芍（一錢）　白朮（二錢）　蓮子（八粒）　肉果（一枚，煨）　水煎服。腹痛加砂仁八分；瀉水多加澤瀉、木通各八分；渴加麥冬、五味子各七分；寒瀉加乾薑一錢，木香四分；食積糞黃加神麯、麥芽各一錢；肉積加山楂、砂仁。○產後瀉痢日久，胃氣虛弱，完穀不化，宜溫補胃氣，用六君子湯加木香四分，肉果一枚，煎服。</p>

<h3>痢疾論</h3>
<p>凡產後七日內外，患赤白痢疾，後重頻並難治，欲調血行血而推蕩痢疾，猶恐產後之元氣虛，欲滋榮益氣而大補氣血，反助痢物之滯結，須當行不損元，補不助邪，惟生化湯減炮姜而代以木香、茯苓，則善消惡露兼行痢滯，並治而不悖也，再服加味香連丸，俟二三日後看痢勢而後加減可保無虞。產婦稟厚，產期已過三十日可服生化湯加芩連樸芍等行積之藥，加味香連丸亦可；若產婦素弱，雖產後月餘不可峻劑行積；其七日內外有患褐色痢者即當加補。</p>
<p><u>加減生化湯</u>（治產婦七日內外患痢者。）</p>
<p>川芎（二錢）　當歸（五錢）　炙草（五分）　桃仁（十二粒）　茯苓（一錢）　陳皮（四分）　木香（二分）　水煎服。白痢加砂仁六分炒研。</p>
<p><u>清血丸</u>（治紅痢神效。產後七日內外者勿用寒性故也，所謂清血丸者即香連丸為末、蓮肉粉各一錢半。如口噤赤白痢臍腹絞痛加行積藥。）</p>
<p>凡產後三四日，血塊已散，痢疾少減，照後開治法：</p>
<p>一、產後久瀉，元氣下陷，大便不禁，肛門如脫，宜六君子湯加木香四分，肉果一枚，炮姜五分；如完穀不化去炮姜。</p>
<p>一、產後痢瀉黃色，乃脾胃氣虛，宜補中益氣湯加木香四分，肉果一枚；腹痛加砂仁八分；瀉水多加澤瀉、木通各八分；渴加麥冬、五味子；瀉水寒加乾薑一錢，木香四分；食積糞黃加神麯、麥芽；肉積加山楂、砂仁。（有的藥味無分量。毓注。）</p>
<p>一、產後胃氣虛弱，瀉痢，完穀不化，當溫[補]胃氣，宜六君子湯加木香四分，肉果一枚。</p>
<p>一、產後傷飯食，宜加參生化湯加神麯、麥芽；傷肉食加山楂、砂仁。</p>
<p>一、產後胃氣脾氣虛弱瀉痢，四肢浮腫，宜六君子湯加五皮散[飲]。</p>
<p>一、痢瀉日久無後重者，宜六君子湯加木香四分，肉果一枚。</p>
<p>一、產後赤白痢疾，臍下痛，宜用當歸二錢，厚朴八分，黃連八分，肉果一枚（煨），炙草四分，煎服。</p>
<p>一、產後血痢，日久不止者，血虛也，宜四物湯加人參、荊芥。</p>
<p>一、產後患痢羸因心腹絞痛，宜用蔥白一寸，石榴皮一錢，黃連、地榆各八分，煎服。</p>
<p>一、產後痢疾腹痛，用溫湯布醮暖腹則止。</p>

<h3>霍亂論</h3>
<p>凡產後忽患上吐下瀉，腹臍疼痛，煩亂不安，名曰霍亂。此由勞傷氣血，臟腑虛損，不能運化食物，再感風寒所致，此陰陽升降不順，清濁紊亂於腸胃，冷熱不調，邪正相搏而然也，宜生化六合湯。</p>
<p><u>生化六合湯</u>（治產後塊痛未除，又患霍亂。）</p>
<p>川芎（二錢）　當歸（四錢）　炮姜　炙草　陳皮（各四分）　藿香（四分）　砂仁（六分）　茯苓（一錢）　姜水煎服。</p>
<p><u>附子湯</u>（治產後無血塊患霍亂，手足逆冷者。）</p>
<p>白朮（一錢）　當歸（二錢）　陳皮　乾薑　丁香　炙草（各四分）　人參（一錢）　熟附子（五分）　姜水煎服。（如產後七日外霍亂，用六合湯亦可也。原注。）</p>
<p><u>溫中散</u>（治產後無塊痛，患霍亂吐瀉不止者。）</p>
<p>人參　當歸　白朮　厚朴（各二錢）　乾薑（八分）　茯苓（三錢）　草蔻（一錢）　姜（三片）　共為末。每服二錢，粥飲調下。（此方無分量。今據竹林寺《女科秘旨》卷八補。原名「溫中湯」，煎服。毓注。）</p>

<h3>嘔逆不食</h3>
<p>胃為水穀之海，水穀之精化力氣血，以榮臟腑者也，產後勞傷臟腑，寒邪易乘[虛]入於腸胃，則氣逆嘔吐而不食也，宜加減生化湯。</p>
<p><u>加減生化湯</u></p>
<p>川芎（錢半）　當歸（三錢）　炮姜（五分）　砂仁（五分）　炙草（五分）　姜水煎服。</p>
<p><u>溫胃丁香散</u>（治產後七日外嘔逆。）</p>
<p>當歸（二錢）　白朮（二錢）　人參（一錢）　炮姜　丁香　陳皮　炙草　前胡　藿香（各四分）　姜水煎服。</p>
<p><u>安胃行血湯</u>（治產後七日內血塊未除，胃氣不和，嘔吐不止，全不納穀者，法當消塊痛，佐以溫補胃氣之藥。）</p>
<p>川芎（一錢）　當歸（四錢）　桃仁（十粒）　炮姜（五分）　炙草（四分）　人參（二錢）　茯苓（二錢）　藿香（四分）　砂仁（四分）　陳皮（四分）　姜水煎服。有汗不用姜。如服後胃和嘔止，但氣弱少食，宜服補中益氣湯，方載流注論。</p>
<p><u>加減六合湯</u>（治同前方。）</p>
<p>川芎（一錢）　當歸（二錢）　炮姜（四分）　人參（一錢）　山藥（錢半）　茯苓（錢半）　炙草（四分）　藿香（三分）　陳皮（二分）　白蔻（四分）　姜水煎服。嘔止去白蔻。</p>
<p><u>石蓮散</u>（治產後咳嗽。嘔逆、吐、怔忡、目眩。）</p>
<p>石蓮子（一兩五錢，去殼）　茯苓（一兩）　丁香（五錢）　共為末，每服二錢，米飲調下。</p>

<h3>產後口渴</h3>
<p>產婦虛弱，口渴氣少，由產後血少，汗多，內煩，不生津液。</p>
<p><u>生津益液湯</u></p>
<p>人參　麥冬　茯苓（各二錢）　大棗（二枚）　小麥　竹葉（各六分）　瓜蔞根　甘草（各一錢）　如大渴不止，加蘆根。（「產後口渴」條原脫。今據竹林寺《女科秘旨》卷八補。毓注。）</p>

<h3>水腫論</h3>
<p>產後患水腫，手足俱浮，皮膚光亮而色潤，乃脾虛不能利水，胃虛不能行水也，必大補氣血為主，佐以蒼朮、茯苓、白朮各一錢補脾，如壅滿用半夏八分，陳皮四分，香附監之；虛加人參一錢，木通五分；有熱加麥冬一錢，黃芩一錢，以清肺金。</p>
<p><u>補中健脾湯</u>（產後七日以外用。）</p>
<p>人參（三錢）　白朮（二錢）　茯苓（一錢）　白芍（一錢）　厚朴（四分）　陳皮（五分）　紫蘇（八分）　木通（四分）　蒼朮（四分）　大腹皮（四分）　木瓜（八分）　水煎服。大便秘加肉蓯蓉一錢，麻仁一錢。如因寒邪濕氣傷表，無汗而腫加姜皮三錢，半夏五分，紫蘇葉五分，於補氣血方中以表汗。</p>
<p><u>五皮散</u>（方見前胎水不利門。治產後風濕傷脾，氣凝滯以致面目浮腫，四肢腫脹喘滿者。）</p>

<h3>怔忡驚悸</h3>
<p>產婦驚憂勞倦，去血過多，以致心中躁動不寧，謂之怔忡；若惕然而驚，如人將捕之狀，謂之驚悸。治此二症，惟調和脾胃，補養心血，使之志定神寧、氣舒心安而病自愈矣。如分娩後血塊未消而患此者，宜服生化湯以補血行血，血旺則驚悸自除，不必加定志安神劑；如塊消痛止之後患此症，宜服後藥。</p>
<p><u>加減養榮湯</u>（內去川芎、麥冬，加木香，即歸脾湯。）</p>
<p>川芎（一錢）　當歸（二錢）　茯苓　棗仁（炒黑）　人參　麥冬　遠志　黃耆　白朮（各一錢）　陳皮　炙草（各四分）　龍眼肉（八分）　姜水煎服。虛煩加竹茹一團；有痰加竹瀝、薑汁。</p>
<p><u>養心湯</u>（治產後心血不寧，驚悸不安。）</p>
<p>黃耆（一錢）　當歸（二錢）　茯神　遠志　川芎（各八分）　麥冬（一錢）　棗仁（一錢，炒黑）　柏子仁（一錢）　五味子（十粒）　人參（錢半）　炙草（四分）　水煎服。可與安神丸兼服。</p>
<p><u>安神丸</u></p>
<p>黃連（二兩，炒）　生地（三兩）　當歸（三兩）　甘草（五錢）　共為末，蒸餅糊為丸，桐子大，辰砂為衣，每服四十丸。</p>

<h3>骨蒸</h3>
<p>凡產後骨蒸，宜保真湯，先用以清骨之劑。</p>
<p><u>清骨散</u>（作湯效更速。凡骨蒸不論男女俱可服。）</p>
<p>柴胡　前胡　胡連　烏梅肉（各二錢）　豬脊髓（一條）　豬膽（一具）　韭菜白十根長一寸切碎，三味搗如泥，入藥再搗為丸，桐子大，每服三四十丸，白湯下。如上膈熱，食後服。一方另將髓膽韭搗成泥加童便一酒盞，熬成稀糊，入藥再搗成丸。</p>
<p><u>加味大造丸</u>（治骨蒸勞熱。如服前方不須服此。）</p>
<p>紫河車（一具，製法載卷後）　人參（一兩）　當歸（一兩）　麥冬（八錢）　銀柴胡（六錢）　生地（二兩）　胡連（五錢）　山藥（一兩）　石斛（八錢）　黃柏（七錢，炒）　枸杞（一兩）　共為末煉蜜丸。</p>
<p><u>保真湯</u>（治骨蒸勞熱。）</p>
<p>黃耆（一錢）　天冬（一錢）　麥冬（一錢）　人參（一錢）　白朮（一錢）　茯苓（八分）　炙草（四分）　川芎（八分）　當歸（二錢）　五味子（十粒）　地骨皮（八分）　白芍（一錢）　枸杞（一錢）　黃柏（六分，炒）　知母（二錢）　生地（二錢）　熟地（二錢）　棗水煎服，亦可作丸。</p>

<h3>心痛</h3>
<p>心痛，即胃脘痛，以胃脘在心之下，因傷寒氣及冷物而作痛，因痛起於心，俗呼為心痛。夫心為君主之官，主氣行血，統馭臟腑血氣，血盛則泰然安寧，血不足則惕然驚悸，豈可痛乎。若真心痛，則旦發夕死，手足甲俱黑，今產[婦]患此，但當散胃中之寒物耳，必用生化湯加散寒消食之藥，無有不安；若綿綿痛，可按而止，必問血塊已除[否]？方可用補藥。大抵因寒冷上攻則心痛，下攻則腹痛，治法亦相同也，俱當於生化湯內加肉桂、吳茱萸溫散可也。</p>
<p><u>加減生化湯</u></p>
<p>川芎（一錢）　當歸（三錢）　炮姜（五分）　肉桂（八分）　炙草（五分）　吳茱萸（七分）　水煎服。傷麵食加神麯、麥芽；傷肉食加山楂、砂仁；大便燥結加肉蓯蓉。</p>

<h3>腹痛</h3>
<p>產後腹痛，有血塊者，只服生化湯調失笑散，鹿角灰散，塊消痛止矣。風冷[氣]乘虛入腹作痛，服加味生化湯。</p>
<p><u>加味生化湯</u></p>
<p>川芎（二錢）　當歸（四錢）　炙草（四分）　炮姜（四分）　桃仁（十粒）　桂枝（七分）　水煎服。傷麵食加神麯、麥芽；傷肉食加山楂、砂仁。如血塊未消，痛未止加失笑散二錢，玄胡索二錢。</p>
<p><u>失笑散</u>（又名一笑散，治產婦心腹絞痛欲死，或血迷竅不知人事，或小腹急痛，皆宜服之。）</p>
<p>五靈脂（炒）　蒲黃（炒）　共為細末，每服二錢，熱酒調服，服後急用十全大補湯調理，如服後仍痛不止，不可再服，此氣血虛也，急大補為主；若手按之不可近者，有瘀血也，急用失笑散；若元氣虛，須用四君子湯加芎歸炮姜為當。</p>

<h3>小腹痛</h3>
<p>產後虛，中寒及飲冷，下攻小腹作痛者，又有血塊作痛者，又有產後血虛臍下作痛者，並宜加減生化湯。塊痛即加減生化湯送玄胡索散一錢，亦能治寒痛，無血塊但小腹痛，可按而少止者，屬虛，加熟地三錢。</p>
<p><u>玄胡索散</u></p>
<p>玄胡　肉桂等分為末。</p>

<h3>遍身疼痛</h3>
<p>產後遍身疼痛者，由分娩時百節開張，血脈流散，氣弱則經絡開，瘀血留滯不散，致筋脈引急，骨節不利，故腰背不能轉側，手足不能動履，或身熱頭痛，若誤作傷寒而誤發其汗，則筋脈動惕，手足冷厥而變症百出矣，宜服趁痛散。</p>
<p><u>趁痛散</u>（治遍身疼痛。）</p>
<p>當歸（二錢）　炙草（三分）　黃耆（一錢）　白朮（二錢）　牛膝　獨活　肉桂（各八分）　韭白（八根）　姜水煎服。</p>
<p><u>茶調散</u>（治偏正頭痛。）</p>
<p>薄荷　川芎　荊芥　防風　甘草　細辛　羌活</p>
<p><u>青娥丸</u>（治腰痛。）</p>
<p>胡桃仁（二十枚）　破故紙（八兩，酒浸炒）　杜仲（一斤，薑汁炒去絲）　共為末，蜜丸，空心酸醋湯下。（此二方據《靈驗良方彙編》「遍身疼痛」條補。毓注。）</p>

<h3>產後指節頭痛</h3>
<p>凡產後虛勞，指節頭疼痛，汗不止。</p>
<p><u>豬腎參耆湯</u></p>
<p>人參　黃耆（各二錢）　生薑（一錢）　淡豉（一錢）　韭白（一錢）　當歸（三錢）　用豬腎二個，先將豬腎煮熟，取汁二碗，煎藥八分盞，溫服。（原抄本此條誤為「頭痛」，方名亦異。今據竹林寺《女科秘旨》卷八補。毓注。）</p>

<h3>腰痛</h3>
<p>產後腰痛，由女腎位系胞，腰為腎府，產時勞傷腎氣，損動胞絡，或虛未平復而風寒乘之，乃致腰痛。</p>
<p><u>養榮壯腎湯</u></p>
<p>當歸（二錢）　獨活　桂心　川芎　杜仲　續斷（各八分）　桑寄生（二錢）　防風（四分）　生薑（三片）　水煎服。如服二劑後[痛]不止者，腎虛也，加熟地三錢。產後日久氣虛，腰痛腎弱，服加味大造丸。（方見前，原注。）</p>
<p>（此方分量原缺，今據竹林寺《女科秘旨》卷八補。毓注。）</p>

<h3>淋症論</h3>
<p>產後患淋，由產後虛熱客於脬中，內虛則小便頻數淋澀作痛，名曰淋症，有赤、白、砂、石諸淋，並服後方。</p>
<p><u>茅根湯</u></p>
<p>白茅根（一兩）　赤茯苓（五錢）　桃膠（錢半）　葵子（錢半）　鯉魚齒（一百個）　滑石（一錢，煅）　甘草（五錢）　紫貝（二個）　瞿麥（五錢）　石首魚頭（一個或五錢，焙乾為末，另用）　燈心姜引湯煎，入石首魚頭末，空心溫服。</p>
<p><u>加減茅根湯</u>（治產後淋症，小便痛血淋症。）</p>
<p>白茅根（一兩）　瞿麥（一錢）　車前子　冬葵子　木通（各一錢）　鯉魚齒（一百個，焙乾為末）　水煎服。入鯉魚[齒]末，空心溫服。</p>

<h3>小便頻數論</h3>
<p>產後小便數者，由脬內宿有冷氣，因產發動冷風，致令小便數也，均屬虛寒，經云益心之陽以消陰翳，尤宜溫補，益心收澀為治法也。</p>
<p><u>益[智]螵蛸散</u>（小便數或遺尿並治之。）</p>
<p>益智仁三十七枚，為末，每服二錢，米飲空心調下。（方名原為「益螵蛸散」，於文理不通，應視為「益[智]螵蛸散」為妥。然方中無桑螵蛸，疑原抄者筆脫也。今擬改為桑螵蛸三十七枚，益智仁二兩，共為末，毓注。）</p>
<p><u>桑螵蛸散</u></p>
<p>人參（二兩）　黃耆（二兩）　鹿茸（炙去毛）　桑螵蛸（三十個，炒）　赤石脂（二錢，煅）　牡蠣（二錢，炒）　共為末，每服二錢，米飲調下。（方中鹿茸無分量，原抄者脫。毓注。）</p>

<h3>流注論</h3>
<p>產後惡露流於腰腎手足關節之間，或漫腫或結塊，腫痛至極，肢體倦怠，急用蔥熨法以治外，內服加參生化湯以散滯血，則未成者自消，已成者自潰，久則膿成，宜托裡大補為主。若腫起作痛，起居飲食如常，是病氣有餘，形氣未損，易治。若漫腫微痛，倦怠少食，屬形氣、病氣俱不足，最為難治。凡未成膿，或成膿不潰者，俱氣血虛也，宜八珍湯。憎寒畏寒，陽氣虛也，宜十全大補湯。日晡內熱，陰血虛也，宜四物湯加參朮丹皮。嘔逆，胃氣虛也，宜六君子湯加炮姜。食少倦怠，脾氣虛也，宜補中益氣湯加升麻。四肢逆冷，小便頻數，腎氣虛也，宜補中益氣湯加益智仁。此症若不補氣血，不慎起居，不節飲食，未有得生者。治宜留意焉。</p>
<p>（此條據《靈驗良方彙編》所附「胎產要訣」「產後流注」條補錄，並稍有改動，以正本書原抄者之訛。毓注。）</p>
<p><u>蔥熨法</u></p>
<p>用蔥一握炙熟搗爛作餅，敷腫處，上覆厚被以熨斗熨之。</p>
<p><u>加參生化湯</u>（方見前。）</p>
<p>[八珍湯。即四君子湯加四物湯。]</p>
<p>十全大補湯</p>
<p>人參（一錢）　白朮（一錢）　茯苓（一錢）　炙草（四分）　當歸（一錢）　白芍（一錢）　熟地（二錢）　川芎（五分）　肉桂（五分）　姜水煎服。</p>
<p><u>補中益氣湯</u>　歌曰：</p>
<p>黃耆歸術一錢均，人參倍加草三分，升柴五分陳皮七，益智一錢外加論。</p>
<p><u>神仙回膿散</u>　(方見乳癰門。治產後流注日久成膿，用此方通其膿，若未經補，血氣未旺，此方又不可遽服也。)</p>
<p><u>回毒散</u>（乳癰未潰時服，毒從大便出，虛人不宜用。）</p>
<p>大黃（三錢）　白芷（六錢）　乳香　沒藥　穿山甲（蛤粉炒）　木香（另研，各五分）　共研末。人參二錢煎湯，調前藥末服。</p>
<p>（此方據《靈驗良方彙編》「乳癰」條補。毓注。）</p>

<h3>陰蝕五疳論</h3>
<p>凡婦人產後，陰戶[生]瘡，名曰陰蝕，或痛或癢如蟲行之狀，膿汁淋漓，陰蝕幾盡者，由心腎煩郁，胃氣虛弱，以致氣血留滯而然也，經云諸痛癢瘡皆屬心火，法當補心而養肺胃，外以熏洗藥治之，斯愈矣。</p>
<p><u>千金療蝕方</u></p>
<p>川芎　當歸　白芍　地榆　甘草（各一兩）　水五升煎至二升。去渣，熱熏之，溫洗之，日三次，夜一次，即愈矣。</p>
<p><u>金銀散</u></p>
<p>蒲黃（一斤）　水銀（一兩）　二味研勻，擦之即愈。</p>
<p><u>硫黃散</u>（治疳蝕陰戶及下部五臟。）</p>
<p>硫黃不拘多少，研為細末，取東南向桃枝三七條，將枝頭捶散以綿裹之，黏[硫黃]末於上，向瘡黏之，令末黏瘡上，又換又貼。再截短竹筒一個，納入陰戶內，將桃枝上藥燒之，納竹筒內，向陰戶熏之即愈。一方用肥豬肉十斤，水煮以汁浸瘡，冷再熱，日浸二三次即愈。</p>
<p>又方。用蝦蟆、兔糞等分為末，敷瘡即愈。</p>

<h3>產後陰翻</h3>
<p>產後陰翻，因產戶燥熱翻成反花，治法用澤蘭四兩，煎水洗二三次，再入枯礬煎洗即愈。</p>

<h3>無乳論</h3>
<p>產後有乳婦人之常也，然有血氣壯而壅閉不行者，法當疏而通之；又有氣血虛而阻滯不行者，法當補而潤之。蓋婦人之乳，資於衝脈、任脈及足陽明胃經，若素有衝任之疾與夫胃氣不利者，乳汁乃少，面必黃色，乳子怯，務服滋榮養血兼通利可也。若乳汁素少，生質如此，雖服通[乳]之劑亦弗效。</p>
<p><u>加味玉露飲</u>（治乳汁不行，身體壯熱，頭暈痛，屬虛者服此。）</p>
<p>人參（二錢）　茯苓（一錢）　白芍（一錢）　甘草（六分）　當歸（六分）　川芎（六分）　桔梗（一錢）　水煎服。</p>
<p><u>湧泉散</u>（治婦人氣壅，乳汁不行。）</p>
<p>瞿麥穗　麥冬　龍骨（煅）　穿山甲（蛤粉炒）　王不留行　等分為末，每服一錢，熱酒調服，飲豬蹄羹，再以木梳梳二乳三四十梳。一方有鹿角灰無龍骨，更妙。</p>
<p><u>豬蹄羹方</u></p>
<p>豬前蹄一隻，通草四兩（即木通切片做花卉者，乃通脫木，非通草也，須辨）。水一斗煎至五升，飲湯兼服前散即通。</p>

<h3>乳癰</h3>
<p><u>瓜蔞乳沒散</u>（治產後乳生癰未成膿，痛不可忍，與胎前乳癰同治。）</p>
<p>瓜蔞（一個，連皮捶碎）　金銀花（三錢）　當歸（三錢）　白芷（一錢）　青皮（五分）　乳香（五分）　沒藥（五分）　[水煎服]。</p>
<p><u>瓜蔞散</u>（治乳癰已潰未潰俱效，並治血疝。）</p>
<p>當歸（五錢）　甘草（五錢）　乳香（一錢）　沒藥（一錢）　瓜蔞（一個，連皮捶碎）　水酒各半煎服，渣搗爛敷乳上即愈。</p>

<h1>附錄</h1>

<h2>《竹林》[產後]五急十九危症。產後五急：</h2>
<p>一、分娩兒下，即血崩暈去，形脫，宜用加味生化湯。</p>
<p>川芎（二錢）　當歸（四錢）　薑炭（一錢四分）　桃仁（十粒）　炙甘草（五分）　荊芥（五分）　人參（加至五六錢）　水煎服。</p>
<p>或分娩兒下，汗多倦甚，前方加人參三四錢。或分娩兒下無力送胞，倦怠，前方用人參二三錢或分娩兒下即時暈昏，形脫，前方用人參五錢。</p>
<p>二、產後勞倦形色脫。前方倍參四錢加黃耆一錢，熟地二錢，如塊痛二味不用，加熟附子四分。</p>
<p>三、產後血崩形色脫。前方倍參五錢加荊芥四分。血塊不痛可服升舉止崩復神湯。</p>

<h3>升舉止崩復神湯</h3>
<p>白朮（三錢）　當歸（三錢）　熟地（二錢）　人參（四錢）　黃耆（一錢）　黃連（七分）　炙草　升麻　陳皮　白芷　荊芥（各四分）　熟附子（三分）　水煎服。</p>
<p>四、汗多形色脫。倍參生化湯去炮姜加麻黃根、黑棗仁、黃耆各一錢，熟地三錢，浮小麥一撮，防風五分。</p>
<p>五、氣短似喘。倍參生化湯，人參只用二錢，加沉香末二分，陳皮、香附各三分。</p>
<p>以上五症，如兼見他症，照後開加減法：</p>
<p>渴加麥冬一錢，五味子五粒。驚悸加棗仁、益智仁各一錢炒。瀉加茯苓、澤瀉各八分。大便燥結加肉蓯蓉錢半。傷飯麵食加神麯八分，麥芽五分。傷肉食加山楂、砂仁各五分。小便不禁加益智仁二分。寒嗽加杏仁十粒，桂枝五分。虛嗽加麥冬錢半，瓜蔞仁八分。有痰加天花粉八分，橘紅四分。氣虛多痰加竹瀝、薑汁。食少加白朮。</p>

<h2>產後十九危症並以加參生化湯為主加減治之：</h2>

<h3>加參生化湯</h3>
<p>人參（三錢）　川芎（一錢）　當歸（二錢）　炮姜（四分）　炙草（五分）　桃仁（十粒）　水煎服。</p>
<p>一、產後勞倦傷脾，不思穀食，前方加白朮一錢，如血塊痛去此味加陳皮、升麻各四分。</p>
<p>二、產後頭痛身熱，自汗倦怠，前方加黃耆一錢，如血塊痛不用此味。</p>
<p>三、產後感寒，身熱頭痛，嗽聲重，有汗有痰，前方加天冬一錢，杏仁十粒，天花粉、麻黃根、地骨皮各一錢，桔梗四分。頭痛甚加連須蔥頭五個。</p>
<p>四、產後先寒後熱或朝熱夜熱，每日應時發熱，類瘧有汗，前方加軟柴胡八分，青皮三分，烏梅二個；汗多加麻黃根一錢；汗多不至足加熟地二錢；食少加黃耆、白朮各一錢，陳皮四分；如塊痛則熟地術耆俱不用。</p>
<p>五、妄言妄見邪祟，前方加茯神一錢，遠志八分，棗仁一錢，陳皮四分，麥冬五分。</p>
<p>六、足冷發厥，一日二三次厥者，前方加白朮、熟地各一錢，熟附子四分。</p>
<p>七、產後身熱有汗，大便不通，前方加麻黃根一錢，麻仁、地骨皮、肉蓯蓉各三錢。慎勿用大黃下之。</p>
<p>八、產後有汗潮熱，睡中妄言，前方加麻黃根、地骨皮各八分。</p>
<p>九、身熱有汗脅痛或潮熱，前方加麻黃根一錢，黃耆一錢，桂枝七分，柴胡八分；臍下痛可按而止加熟地二錢。慎勿用小柴胡湯。</p>
<p>十、產後有汗，小便多，前方加麻黃根一錢，麥冬五分，葛根、黃耆各五分，五味子十粒。</p>
<p>十一、有汗泄瀉，前方加麻黃根一錢，石蓮子十粒，肉蔻一枚。（麵裹煨熟去油用）</p>
<p>十二、泄瀉危困，宜服《丹溪醫案》大補方。</p>
<p>十三、傷食誤服消耗藥反成膨脹，宜服《丹溪醫案》大補方。</p>
<p>十四、大便不通，誤服大黃成膨脹，宜服《丹溪醫案》大補方。</p>
<p>十五、忿怒誤服耗氣藥成膨脹，宜服《丹溪醫案》大補方。</p>

<h3>《丹溪醫案》大補方</h3>
<p>人參（三錢）　當歸（三錢）　白朮（三錢）　白芷（一錢）　茯苓（一錢）　澤瀉（八分）　厚朴（五分）　紫蘇（五分）　陳皮（四分）　木香（三分）　大腹皮（六分）　蘿蔔子（六分）　川芎（一錢）　水煎服。傷食加神麯並傷肉食加山楂、砂仁。</p>
<p>十六、傷食心腹痛或脅痛誤服消導藥，以致絕谷，獨用人參三錢，姜一片，水煎調鍋焦服，引開胃氣。</p>
<p>十七、血崩日久不止，宜服升舉大補湯。方見血崩門。</p>
<p>十八、子宮不收，產門不閉[之]脫症，宜服倍參生化湯原方。</p>
<p>十九、產後神昏形脫有汗，於加參生化湯內去炮姜，並忌食薑蔥。</p>
<p>以上十九危症並補氣血為主，問無血塊痛即服之。</p>

<h2>又明產後二十九症醫方</h2>
<p>一、產後血塊痛，宜服生化湯加紅花、肉桂，連服幾帖，即時塊散而痛止矣。血旺自精神矣。雖少壯之婦，產後無病亦服生化湯幾帖，以補血而散瘀，大有益焉。其產母腹外用烘暖衣服護任，使之和暖，則血塊宜散。雖暑月亦宜保護或兼送益母丸一丸或鹿角灰一錢，三方得一而[安]。慎勿用蘇木、稜蓬（京三稜、蓬莪朮。）等峻厲之藥，山楂雖行氣行血，亦不甚峻，然弱人服之亦有害，總不宜多用耳。</p>
<p>二、產後去血過多或勞倦昏暗血暈，頻服生化湯幾帖，服至產婦精神方止，如遇血暈形色將脫或汗多虛脫，宜加參四五錢服之，慎勿視為惡露搶心，妄投破血之藥以害人。</p>
<p>三、胎衣不下宜服生化湯兩帖，初煎即送益母丸一丸，次煎又送一丸，外用烘暖衣服護腹。冬日慎勿坐淨桶並赤身久候胎衣，恐嚴冬寒冷損傷產母，必扶上床被覆以火籠暖和其身兼服生化湯助血，胎衣自下。</p>
<p>四、產後頭痛身熱惡寒，雖明知感冒風寒，只宜服生化湯，連進兩三帖，致熱退痛止方已。不須用他藥。蓋川芎炮姜性辛而散邪。慎勿用柴胡、升麻等藥以表其汗，致虛產母。如服三四帖後，頭痛發熱如故，加連須蔥頭四五個或用蔥頭放白鱟內吃亦可，放鯽魚湯內飲之亦可。</p>
<p>五、產後乍寒乍熱或頭痛脅痛，亦服生化湯兩三帖，不愈加桂枝七分，以散寒邪，有塊加木香一分。切勿認為脅痛而用柴胡等湯以表汗也。</p>
<p>六、產後感寒，寒氣上攻則心痛，下攻則腹痛，復兼血塊痛，宜服生化湯加桂枝三分以定痛，如二帖不愈，加吳茱萸七分或姜三薄片入生化湯內以助血，若獨用諸熱藥以攻寒，其痛雖止，恐去血過多致虛產母。慎勿用汗吐下之藥。</p>
<p>七、產後夜熱或寒熱往來，每日如期類瘧，宜服生化湯幾帖，則寒熱自除。如汗多氣虛，服加參生化湯。慎勿用常山、草果等藥。</p>
<p>八、感冒寒邪，心下痞滿，只宜服生化湯加陳皮五分，桔梗五分，白蔻五分，木香二分。慎勿用破氣藥。</p>
<p>九、風寒咳嗽身熱，宜服生化湯加杏仁十粒，知母一錢，天冬一錢，甘草四分，桔梗五分。有痰加橘紅四分，天花粉八分。有汗加人參。慎勿用散氣藥。</p>
<p>十、傷食宜服生化湯加神麯、麥芽各一錢五分；傷肉食加山楂、砂仁各四分；傷冷食冷飲加吳茱萸一錢，桂枝五分；傷寒食脅痛加肉桂七分。切不可專用消食藥以損氣血。一婦人服山楂消血塊而死。</p>
<p>十一、忿怒胸膈滿悶，生化湯加木香二分煎服。慎勿用烏藥、香附、厚朴、枳殼、枳實消損元氣。</p>
<p>十二、大便不通，生化湯加肉蓯蓉二錢，日服二三帖以助血，血旺則便自通矣，另研芝麻三兩為末加米一升作粥時時食之。慎勿用大黃等藥。若結燥日久多用大黃，反成膨脹。</p>
<p>十三、產後去血過多，或汗多小便澀少或小便閉結，生化湯加生脈散服之（人參、麥冬、五味子此三味即生脈散）。慎勿用五苓等方。如服藥不通，外用蔥熨法，用蔥十頭，線縛切如一指厚片，放臍上，艾火灸之。</p>
<p>十四、產後血氣虛，胃寒，小便多失禁或遺尿，生化湯加益智仁八分，煎服。</p>
<p>十五、泄瀉，生化湯加茯苓一錢，澤瀉七分，石蓮子六錢（一云十粒）；或另用糯米蓮子各半、入茯苓煮粥食之。泄瀉形脫神倦，生化湯加人參。</p>
<p>十六、失血多，心神失守，妄言妄見，生化湯加茯神、棗仁、柏子仁各一錢，遠志八分。慎勿用降火消痰藥致害產母，更有法水噀之，法尺驚之為害不小。如汗脫生化湯加人參。</p>
<p>十七、足冷發厥，血塊又痛，生化湯加乾薑五分，服二二帖後再服加參生化湯。</p>
<p>十八、產後痢疾，不論紅白，生化湯去炮姜加木香二分，連服二三帖，則血塊與痢積蕩盡矣，又不損產母氣血。慎勿用寒藥以致血塊停瘀。</p>
<p>十九、血崩大脫，生化湯加荊芥穗一錢，服十餘帖後，如形色[脫]，服加參生化湯。</p>
<p>二十、產後霍亂吐瀉，多是虛中感寒，生化湯加砂仁、生薑、茯苓、藿香，或用六和湯。</p>
<p>二十一、產後遍身疼痛，多是血滯氣虛，生化湯加肉桂八分，韭白二十根。如四肢麻木，多是血虛，化生湯加人參。</p>
<p>二十二、產後起坐太早，產戶感風作痛，衣服被難近身體，生化湯加肉桂、獨活、防風以散風。</p>
<p>二十三、產後生癰疽，生化湯加連翹一錢，天花粉一錢，綠豆粉五錢，甘草節八分。如噁心煩悶加乳香一錢。切勿用大黃等散毒之藥。</p>
<p>二十四、四肢麻木血虛甚也，生化湯加浮小麥；血脫血崩麻木，服加參生化湯。</p>
<p>二十五、目痛昏熱赤腫，生化湯加荊芥。切勿用芩連梔柏。</p>
<p>二十六、產後因怒或偶吐血，生化湯減川芎，用歸身加荊芥八分，犀角八分。切勿用生地、黃柏等藥。</p>
<p>二十七、產後口噤，牙關緊閉，手足牽搐類中風狀，生化湯加天麻、羌活、防風、生薑。</p>
<p>二十八、產後煩躁口渴，生化湯加生脈散。</p>
<p>二十九、產後流注，宜治以參桂生化湯。</p>

<h3>參桂生化湯</h3>
<p>川芎（錢半）　當歸（三錢）　炙草（五分）　黃耆（錢半）　肉桂（六分）　人參（二錢）　馬蹄香（二錢）　凡漫腫疼痛未成膿，成膿未潰者，宜四物湯、六君子湯、十全大補湯之方，以及陰蝕等瘡，各有治法，俱載流注論下，故不再錄。</p>

<h3>資生丹（治法通開於後。）</h3>
<p>當歸（酒洗）　川芎　香附（醋炒）　蒼朮　元胡（炒）　蒲黃（炒）　赤苓　桃仁　熟地（各一兩）　山萸　地榆　羌活　五靈脂　白芍　甘草　陳皮　人參　牛膝（各三錢）　白朮　木瓜　青皮（各三錢）　烏藥（二兩七錢，不見鐵）　良薑（四錢）　乳香（一錢）　沒藥（一錢）　益母草（二兩七錢，不見鐵）　阿膠（一兩五錢，蛤粉炒）　大黃（一斤，另研）　蘇木（三兩）　河水六碗，黑豆三升煮熟，取汁二碗，絞取豆九兩，烘乾為末。</p>
<p>以上俱為末。先將大黃末入鍋內，須用銅鍋，用好米醋五六碗攬勻熬成膏，又下醋熬，如此三次，再下紅花酒（用紅花三兩，炒黃色，好酒三斤，同煮至一斤。）去花取汁用，將黑豆汁、蘇木汁再熬成膏，盆內盛之，將豆末與眾藥和勻，以大黃等膏調為丸，如彈子大，每服一丸，不拘時服，合藥須擇成開平除及天月二德黃道吉日，誠心修合，勿令婦人雞犬見之。</p>
<p>一、治月經不調，前後不一，蔥姜酒空心下。</p>
<p>二、治子死腹中，凡孕婦因染熱病，六七月間經傳腑臟熱極，以致子死母腹，墜在臍下，不得分離，急服三丸，胎衣轉熱便生。</p>
<p>三、治產難無陣痛，凡胎氣已成，子食母血，至足月時，余血成塊，俗呼兒枕，臨產時兒枕先破，血裹其子，所以難產，但服丹逐其敗血，斯須自生。</p>
<p>四、治胎衣不下，子母分解訖，血入衣中，因此胎衣不下，令人脹滿，水不進，急服丹二三丸，逐去衣中敗血自然下矣。若腹不脹而痛，手按痛減是元氣虛而不能送下也，宜服無憂散。（方見胎前保產門。）</p>
<p>五、治產後寒熱似瘧，凡產後虛羸，血入心肺則熱，入脾胃則寒，所以寒熱不知者似瘧疾，宜服此丹。</p>
<p>六、治產後四肢浮腫，敗血走五臟轉滿四肢，停留四肢，滲不去，化為浮腫，不知者呼為水腫，血腫與水腫不同，水腫氣急而小便澀，血腫滿而四肢寒，先服此丹去敗血，後服利水氣藥。鍾右泉女，產後四肢遍身浮腫，〔症情〕危急，余用參朮救之，腫不消，[後]陰戶骨開，潰膿愈。</p>
<p>七、治橫生逆生。</p>
<p>八、治產後百節痠痛，敗血流入骨節而然也，宜服此丹。</p>
<p>九、治產後如見鬼狀，敗血熱氣衝心，因物觸動，所以心煩躁熱，言語顛狂，不知者呼為瘋邪，宜服此丹。</p>
<p>十、治產後血暈，眼見黑色，三日內氣血未定還入五臟，奔衝於肝，醫不識者呼為暗風，服此丹莫緩。</p>
<p>十一、治產後口乾心悶，七日以來氣血未定，因三日後過食，食與血結，積聚在心，是以煩渴，醫不識者呼為胸膈壅滿，宜服此丹。以上俱用蔥姜酒送下。</p>
<p>十二、治室女經閉不通，加莪朮三分，赤芍二分，薑黃末五分，天花粉四分，同藥入酒內燉化服。</p>
<p>十三、治婦女經水過期，臍腹疼痛。</p>
<p>十四、治產後敗血熱氣衝心，心中煩躁，言語顛狂。</p>
<p>十五、治產後敗血衝心，流入鼻竅，失音不語，不知者呼為脫陰脫陽，然失音雖是難治，殊不知當審妊婦經脈行與不行，順與不順，令血氣妄行，沉入心孔，反為不治，宜服此丹。</p>
<p>十六、治產後血崩，或食酸鹹寒熱不一，凡敗血惡露未止之際，誤服利藥，因此榮衛不和，以崩漏形如雞肝，渾身潮熱，背膊拘急，胸中煩悶，急服此丹。</p>
<p>十七、治產後瀉痢膿血，此因未滿月早食酸寒冷熱堅硬之物與血相搏，不得克化而然也，宜服此丹。</p>
<p>十八、治小便尿血如雞肝，此敗血流入大小腸，閉澀水穀之道而然，服三丸即愈。</p>
<p>十九、治胸膈氣滿，嘔逆不定，此血停脾胃，食滿胸中所致，宜服此丹。</p>
<p>（此後殘缺者不知幾頁。此語系原抄者注。）</p>
<p>（此下尚有一頁，筆跡亦異，不知是否為原抄者書，故一併錄存，待發現原書後另行刪定。毓注。）</p>

<h3>竹葉湯（產後中風，痙病發熱，面正赤喘而頭痛。出《金匱》。）</h3>
<p>鮮竹葉（四十九片）　葛根（三錢）　防風　桔梗　桂枝　人參　附子（炮）　甘草（各一錢）　大棗（五枚）　生薑（五錢）　水煎服，覆汗出。自汗者去葛根加天花粉三錢，附子五分。</p>
<p>產後血暈，用鐵燒紅，以醋澆之，其氣入產婦鼻嗅即愈。或燒乾漆熏產婦面即醒。</p>
<p>產後小便不通，腹脹如鼓，將鹽填臍中，蔥白搗爛覆之，以艾炷灸之即愈。</p>
<p>產後發熱血虛或用獨參湯或當歸補血湯大倍黃耆或生化湯加雲苓[治之]。</p>
<p>產後小便不通或以腎氣丸主之。</p>

<h3>牛膝散（治胎衣不下，腹中脹急。）</h3>
<p>牛膝　川芎　蒲黃（炒）　丹皮（各二兩）　桂心（四錢）　當歸（一兩五錢）　共為細末，每服五錢，水煎服。</p>

<h2>[產後]半月外血塊不散辨</h2>
<p>產後兒下地時，惡露隨下，則腹無塊痛，而自舒暢。若腹失蓋被，或傷寒涼物，則惡露凝結成塊，虛症百出：腹脹，身熱，骨蒸，五心煩熱，食少羸瘦，或似瘧，或月水不行，或塊在兩脅作痛，腸作雷鳴，嘈雜，眩暈，身熱時作時止等症。治法當遵丹溪所云：欲泄真邪，先補其虛，用補中益氣湯，送三消丸，使塊消而人不弱，若消塊無補，非惟塊不可消盡，食將日減，甚至絕谷。</p>

<h3>加減補中益氣湯</h3>
<p>人參　白芍　黃耆（各一錢）　白朮（二錢）　當歸（二錢）　陳皮　甘草（各四分）　姜（三片）　水煎。送三消丸五六十丸。（此條原抄本脫，有目無文。今據竹林寺《女科秘旨》卷七補。原題為「產後惡露凝結成塊虛症百出」。毓注。）</p>

<h2>調經方論</h2>
<p>客有問於醫巫閭子曰：先生嘗論調經以滋水為主，不須補血，何也？[曰]：女子一七而腎氣盛，齒更髮長，二七而天癸至任脈通，太衝脈盛，月事以時下。天者，天一之真；癸者，壬癸之水；月者，水之精。以一月而盛，盈盈則昃，女人經水亦一月而下，故名月信。以時而下，可有子，如不以時下或過期或不及期，皆為有病，病則不能有子，所以必須調經，必須滋水為主。</p>
<p>又問曰：同一紅色，非血而何？曰：女子之所以與男子異者，正為經水胎產故不同耳。女子自有一系胞之處，即養經之處，養至一月而盈，盈則虛矣。以時交感，故能以虛受。人若有孕，水即養胞，則不月矣。一有子，此水即化為乳，亦不月矣。乳之色白，何謂血乎？至於[七七]四十九而天癸絕，其所絕者，天癸也。其所流行之血不見虧，不須四物湯補血，必以六味丸滋水。滋水兼可補血，補血兼不得滋水，何也？蓋血乃後天飲食入胃，遊溢精氣而成，以為流行之用。經水乃衝任所主，人身有奇經八脈，俱屬腎經無形之脈，其沖、任者，乃奇經之二[脈]，其脈起於胞中，為脈之海，分手太陽、手太陰為表裡，上為乳汁，下為月水。女子獨秉此水，以為生生之源，與男子之精同氣，皆從天一之源而來，潛滋暗長，至一月而滿，滿則溢，似血而實非血也，故曰男子以之藏精，女子以之系胞，然其泄間又借一點命門之火為主，火旺而經[水]紅，火衰則[經水]淡，火太旺則[色]紫，火太衰則[色]白，所以滋水更當養火，至於乾渴不通，雖云火盛之極，亦不宜以苦寒之劑降火，只宜大補其水從天一之源養之，使足則溢，萬無毒藥可通之理，調經之法盡此，可以種子，可以安胎、固胎，若有外邪與夫脾胃虛衰等症，宜隨雜症參方調治。</p>

<h3>調經地黃湯。（即六味飲加阿膠、五味子。）</h3>
<p>或曰丹皮、澤瀉，聞能墜胎，何以用之？曰：本經云丹皮破惡血，生新血，安生胎落死胎，蓋用於補血藥中能補血，用於破血藥中能破血，故用之何如耳。用於安胎藥中自能安胎。澤瀉《內經》治酒風身熱汗出如浴，惡風等症。以澤瀉、白朮各十分，鹿銜草五分，且仲景乃立方之祖，用三味於八味丸中，以其補腎也。東垣八味稱其強陽益精，補腎氣，益氣力，則無妨於胎明矣。經水或不及期而來者，是有火也，只用本方滋水，火自平矣。如不及期而來，本方多加海螵蛸、柴胡、芍藥；如半月或十日而來，綿延不已，此屬氣虛，急用補中益氣湯；如過期而來者，是火衰也，本方加艾葉；如遲而色淡者，本方加肉桂；遲而過多者，本方加防風、肉桂，甚則升陽舉經湯，此其大略。其間亦有不及期而無火者，有過而有火者，或多寡之不同，不可拘泥於一定[之力]，當審脈之遲數，視其稟賦強弱虛實，俱以滋水為主，隨症加減治之，無不愈也。凡紫與黑，多屬火旺之甚，然亦有虛寒而紫黑者，不可不察脈而審症也，至於淡白，無火明矣。</p>

<h3>升陽舉經湯</h3>
<p>人參　黃耆　升麻　防風　炙草</p>
<p>虛寒加肉桂，有臨期作痛者，血不足也，以本方加黃耆、肉桂、牛膝。有火者，加柴胡、芍藥、牛膝。若經後作痛，只用本方，不必加減，如或加減八味丸為妙。</p>
<p>又有經水二、三月一行，左脅有塊者，乃肝脾鬱結之症，用加味逍遙散兼服調經地黃湯。</p>
<p>大凡月經短少漸至不通者，但宜調養其元氣，若專攻其邪，元氣反傷矣。柏子仁丸可慎用，慎勿以毒藥攻之，柏子仁丸總不如八味丸得正，但二、三月不行經而左脅有塊者，用地黃丸加貝母、柴胡、芍藥、當歸，兼服歸脾湯。（方見末卷。）</p>

<h3>柏子仁丸</h3>
<p>柏子仁（炒）　牛膝　澤蘭　卷柏（各五錢）　川斷（二兩）　熟地（三兩）　共為末，煉蜜為丸。</p>
<p>婦人經水不調，多有患瘰癧者，以調經地黃湯加柴胡、芍藥、貝母、桔梗，無不愈者。</p>
<p>婦人多有血崩之疾，當分陰陽治之。夫氣血，人身之陰陽也，陽主升，陰主降，陽根陰，陰根陽，一升一降，循經而行，自無崩漏矣。若陽有餘則升者，勝血出上竅；陽不足則降者，勝血出下竅，總之血隨氣升降也。陽氣者，風也，風能上行，然須東方溫風，始能上行，故用助風益氣湯；凡氣虛不能攝血而崩者，其人必面白，尺脈虛大，飲食無味或久病者有之。</p>

<h3>助風益氣湯</h3>
<p>柴胡　升麻　防風　羌活　人參　黃耆　炙草　荊芥（炒黑）　阿膠　煎服。</p>
<p>有陰虛而陽氣下陷，陽搏於陰而崩者，陰中之陽氣虛而崩者，其人必面赤，尺脈必鼓指有力而數，飲食知味，宜助風益陰湯加減。</p>

<h3>助風益陰湯加減</h3>
<p>柴胡　熟地　山藥　山萸肉　丹皮　茯神　阿膠　防風　荊芥穗　羌活　獨活　升麻　煎服。二方俱可治崩，益氣者，不可用一味血藥；益陰者，不可用一味氣藥，分別施治，無不神效。至於男婦大便下血者，亦以[此]二方治[之]俱效。</p>
<p>婦人帶下之疾，帶者，奇經八脈之一也，腰臍間回身一周，如束帶，然八脈俱屬腎經，天地間黃河如帶，人身中帶脈所以統攝一身無形之水，下焦腎氣虛損，帶脈漏下，白者為氣虛，赤者為有火，治法俱以補腎為主。白者多赤者少，有脾氣虛者，六君子湯加升麻；有氣虛者，補中益氣湯加半夏、防風；肝虛者，逍遙散兼六味[丸]。（補中益氣湯，逍遙散見卷後。）</p>

<h3>膠艾湯（有加當歸、[海]螵蛸以治帶[者]。）</h3>
<p>阿膠　艾葉　杜仲　川斷　熟地　黃耆　柴胡　防風　補骨脂　山萸肉　煎服。</p>
<p>如赤帶用六味地黃湯加杜仲、川斷、阿膠、柴胡、防風；有發熱之時經水適來適斷，晝則安靜，夜則譫語，如見鬼狀，名曰熱入血室，法當用小柴胡湯加生地、紅花、歸尾、官桂、丹皮，一服即愈，此症多因經將行時，妄動生冷所致。婦人月經不通，化血為水，名曰血分，用椒仁丸。</p>

<h3>椒仁丸</h3>
<p>椒仁　甘遂　續斷　附子　當歸　牽牛（炒）　芫花（酒炒）　郁李仁　石膏　礬石　吳茱萸　元胡　五靈脂（各一錢）　斑蝥（三十隻，糯米炒，去頭足）　芫青（三十粒，糯米炒）　共為細末，煉蜜為丸，桐子大，每服十五粒，空心米飲下，服後用當歸湯調理。</p>
<p>婦人有痃癖之疾，痃者，腹內近臍左右有筋脈可辨，痛如指如臂如弦之狀硬起；癖者，在兩脅之間，有時而痛或一塊不時上攻或有聲，初如雞子漸至三四寸[長]，或大如碗，月經不調時，作吞酸，此乃婦人之疝，切不可用消克之藥，治法以逍遙散加茱連（吳茱萸炒黃連）、蘆薈、木香兼服六味地黃丸加芍藥、茱連（吳茱萸炒黃連）、貝母，養正氣而疝自愈，後用歸脾湯調理。</p>
<p>婦人陰中挺出，如茵如蛇如雞冠，甚至四五寸長或生蟲濕癢，飲食無味，內熱，晡熱，小便澀[滯]，法宜朝用補中益氣湯倍柴胡加山梔、膽草，夕用六味地黃飲加柴胡、茱連、蘆薈，後用歸脾湯調理，此皆女子之疝，但女子不曰疝，而曰瘕。如有蟲作癢者，用蘆薈、胡黃連為末加麝香少許，將雞肝一片劈開入藥末於內，納陰中，蟲出即愈。</p>
<p>婦人有患寒氣自少陰腎經而入，其症大小便不通或無脈，口渴求飲，飲水下咽少頃即吐，吐之盡，又渴又飲又吐，食藥俱不入，熱藥入口即出，涼藥少頃亦出，面必戴陽，名曰關格，關，則不得出，格，則不得入，關格之病，不得其方，則命盡矣。若用通白湯無不獲效。（陶節庵改名回陽返本湯。）</p>

<h3>通白湯</h3>
<p>白朮（一錢）　黃連（二分）　人參（一錢）　甘草（五分）　熟附子（五分）　炮姜（五分）　連須蔥白（二根）　水一盅半，煎七分，以水湃冷，入童便半盞，豬膽汁三匙，一服即愈。服後脈出者生，暴出者死。</p>
<p>延年種子[方]。陽不足者服後方。</p>

<h3>延年種子方</h3>
<p>沙苑蒺藜（微炒）　甘枸杞（微炒）　南魚鰾（切如豆大塊，同蛤粉炒，各八兩）　共為細末，煉蜜為丸，桐子大，空心酒下三錢半。</p>

<h3>鹿杞膏</h3>
<p>甘枸杞一斤，入水內，桑火煮至味盡出方止，去渣，將汁再熬，入鹿角一斤，磁罐內隔湯煮至筋（箸）挑一二尺高不斷如線，取起候凝，切片，臨服酒燉化，空心時服，初服二錢，漸至三錢，大能益壽助陽生子。</p>
<p>（此文原載卷首，今移書末。毓注。）</p>

<h1>跋</h1>
<p>王毓先生幼承庭訓，酷愛中醫，五十年代末懸壺京都，曾於黃寺古剎潛心研讀岐黃十餘載，其間結交京中名醫數十人。先生京中執業時，求醫者門庭若市，踵不暇接，其療效人人皆樂道也。</p>
<p>七十年代末，調歸故里，與余朝夕相處，過從甚密，每談及醫之濟人，則振臂雀躍，侃侃陳辭。診余尤好整理醫籍，以廣其傳，這部《絳雪丹書》就是他從民間蒐集到的流傳抄本，經過精心整理，使其再現醫林，箇中甘苦，惟其獨知。今書將付梓，索序於余，余不善醫，謹為數語跋於書尾，以應先生之命也。</p>
<p><u>辛巳年仲秋月武邑縣衛生局長魏香普識</u></p>
