<header data-type="book">
<h1>增訂圖註本草備要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪昂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1694">公元1694年</data></dd></div>
<div><dt>底本</dt><dd>清康熙間積慶堂刻本（<a href="https://lccn.loc.gov/2014514599">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
