<header data-type="book">
<h1>本草正</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張介賓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1624">公元1624年</data></dd></div>
</dl>
</header>

<h1>山草部</h1>

<h2>人參</h2>
<p>（反藜蘆）</p>
<p>味甘、微苦，微溫。氣味頗厚，陽中微陰。氣虛、血虛俱能補。陽氣虛竭者，此能回之於無何有之鄉；陰血崩潰者，此能障之於已決裂之後。惟其氣壯而不辛，所以能固氣；惟其味甘而純正，所以能補血；故凡虛而發熱，虛而自汗，虛而眩運，虛而困倦，虛而驚懼，虛而短氣，虛而遺泄，虛而瀉利，虛而頭疼，虛而腹痛，虛而飲食不運，虛而痰涎壅滯，虛而嗽血，吐血，虛而淋瀝、便閉，虛而嘔逆、躁煩，虛而下血、失氣等證，是皆必不可缺者。第欲以氣血相較，則人參氣味頗輕而屬陽者多，所以得氣分者六，得血分者四，總之不失為氣分之藥。而血分之所不可缺者，為未有氣不至而血能自至者也。故扁鵲曰：「損其肺者，益其氣，須用人參以益之。肺氣既王，餘臟之氣皆王矣。」所以人參之性多主於氣，而凡臟腑之有氣者，皆能補之。然其性溫，故積溫亦能成熱，若云人參不熱則可，云人參之性涼恐未必然。雖東垣云人參、黃耆為退火之聖藥，丹溪云虛火可補，參朮之類是也，此亦皆言虛火也。而虛火二字最有關係，若內真寒而外假熱者，是為真正虛火，非放膽用之必不可也；然有一等元陰虧乏而邪火爍於表裡，神魂躁動，內外枯熱，真正陰虛一證，誰謂其非虛火？若過用人參，果能助熱，若王節齋云：「陽旺則陰愈消」，及《節要》云：「陰虛火動者，勿用」，又曰：「肺熱還傷肺」等說，固有此理，亦不可謂其盡非；而近之明哲，如李月池輩皆極不然之，恐亦未必然也。夫虛火二字最當分其實中有虛、虛中有實，陽中有陰、陰中有陽，惟勿以成心而執己見斯可矣。如必欲彼此是非，是所謂面東方不見西牆，皆未得其中也。予請剖之曰：如龍雷之火，原屬虛火，得水則燔，得日則散，是即假熱之火，故補陽即消矣；至若亢旱塵飛，赤地千里，得非陽亢陰虛而亦可以補陽生陰乎？或必曰此正實火也，得寒則已。予曰不然，夫炎暑酷烈，熱令大行，此為實火，非寒莫解；而乾枯燥旱，泉源斷流，是謂陰虛，非水莫濟。此實火之與陰虛亦自判然可別，是以陰虛而火不盛者，自當用參為君；若陰虛而火稍盛者，但可用參為佐；若陰虛而火大盛者，則誠有暫忌人參而惟用純甘壯水之劑庶可收功一證，不可不知也！予非不善用人參者，亦非畏用而不知人參之能補陰者，蓋以天下之理原有對待，謂之曰陰虛必當忌參固不可，謂之曰陰虛必當用參亦不可，要亦得其中和，用其當而已矣。觀者詳之。</p>

<h2>黃耆</h2>
<p>味甘，氣平。氣味俱輕，升多降少，陽中微陰。生者微涼，可治癰疽；蜜炙性溫，能補虛損。因其味輕，故專於氣分而達表，所以能補元陽、充腠理、治勞傷、長肌肉。氣虛而難汗者可發，表疏而多汗者可止。其所以止血崩、血淋者，以氣固而血自止也，故曰血脫益氣；其所以除瀉痢、帶濁者，以氣固而陷自除也，故曰陷者舉之。然其性味俱浮，純於氣分，故中滿氣滯者，當酌用之。</p>

<h2>白朮</h2>
<p>味甘、辛，氣溫。氣味俱厚，可升可降，陽中有陰，氣中有血。其性溫燥，故能益氣、和中、補陽、生血、暖胃、消穀、益津液、長肌肉、助精神、實脾胃、止嘔逆、補勞倦、進飲食、利小水、除濕運痰、消浮去脹，治心腹冷痛、胃虛下痢、痃癖癥瘕。制以人乳，欲潤其燥；炒以壁土，欲助其固；佐以黃芩，清熱安胎。以其性澀壯氣，故能止汗實表，而癰疽得之必反多膿，奔豚遇之恐反增氣，及上焦燥熱而氣多壅滯者，皆宜酌用之。然冬朮甘而柔潤，夏術苦而燥烈，此其功用大有不同，不可不為深辨也。若於飢時，擇肥而甘者嚼而服之，服之久久，誠為延壽之物，是實人所未知。</p>

<h2>蒼朮</h2>
<p>味苦、甘、辛，性溫而燥。氣味俱厚，可升可降，陽也。用此者，用其溫散燥濕。其性溫散，故能發汗，寬中，調胃進食，去心腹脹疼、霍亂嘔吐，解諸鬱結，逐山嵐寒疫，散風眩頭疼，消痰癖氣塊、水腫脹滿；其性燥濕，故治冷痢、冷泄、滑瀉、腸風、寒濕諸瘡。與黃柏同煎，最逐下焦濕熱痿痹。若內熱陰虛、表疏汗出者，忌服。然惟茅山者，其質堅小，其味甘醇，補益功多，大勝他術。</p>

<h2>甘草</h2>
<p>味甘，氣平。生涼，炙溫，可升可降。善於解毒，反甘遂、海藻、大戟、芫花。其味至甘，得中和之性，有調補之功，故毒藥得之解其毒，剛藥得之和其性，表藥得之助其升，下藥得之緩其速。助參耆成氣虛之功，人所知也；助熟地療陰虛之危，誰其曉焉！祛邪熱，堅筋骨，健脾胃，長肌肉；隨氣藥入氣，隨血藥入血，無往不可，故稱國老。惟中滿者勿加，恐其作脹；速下者勿入，恐其緩功。不可不知也！</p>

<h2>黃精</h2>
<p>（一名救窮草）</p>
<p>味甘、微辛，性溫。能補中益氣、安五臟、療五勞七傷、助筋骨、益脾胃、潤心肺、填精髓、耐寒暑、下三蟲。久服延年，不飢，發白更黑，齒落更生。張華《博物志》言：「天老曰：太陽之草名黃精，食之可以長生；太陰之草名鉤吻，不可食之，入口立死。」此但以黃精、鉤吻對言善惡，原非謂其相似也。而陶弘景謂：「黃精之葉與鉤吻相似，誤服之害人。」蘇恭曰：「黃精葉似柳，鉤吻蔓生葉如柿葉，殊非比類。」陳藏器曰：「鉤吻乃野葛之別名，二物全不相似，不知陶公憑何說此。」是可見黃精之內本無鉤吻，不必疑也。</p>

<h2>肉蓯蓉</h2>
<p>味甘、咸、微辛、酸，氣微溫。味重，陰也，降也。其性滑。以其味重而甘溫，故助相火、補精興陽、益子嗣，治女人血虛不孕，暖腰膝，堅筋骨，除下焦寒痛；以其補陰助陽，故禁虛寒遺瀝、泄精，止血崩、尿血；以其性滑，故可除莖中寒熱澀痛。但驟服反動大便，若虛不可攻而大便閉結不通者，洗淡，暫用三、四錢，一劑即通，神效。</p>

<h2>丹參</h2>
<p>味微苦、微甘、微澀，性微涼。無毒。反藜蘆。能養血、活血、生新血、行宿血，故能安生胎，落死胎，血崩、帶下可止，經脈不勻可調。此心、脾、肝、腎血分之藥，所以亦能養陰、定志、益氣、解煩，療眼疼、腳痹，通利關節及惡瘡疥癬、赤眼、丹毒，排膿止痛，長肉生肌。</p>

<h2>遠志</h2>
<p>味微苦、微辛，氣溫。陽也，升也。制以甘草湯浸一宿，曬乾，炒用。功專心腎，故可鎮心止驚、辟邪安夢、壯陽益精、強志助力。以其氣升，故同人參、甘草、棗仁，極能舉陷、攝精、交接水火。但可為佐，用不宜多。神氣上虛者所宜，痰火上實者當避。</p>

<h2>巴戟天</h2>
<p>味甘，微溫。陰中陽也。雖曰足少陰腎經之藥，然亦能養心神、安五臟、補五勞、益志氣、助精強陰，治陰痿不起、腰膝疼痛及夜夢鬼交、遺精、溺濁、小腹陰中相引疼痛等證。制宜酒浸，去心，微炒，或滾水浸剝亦可。</p>

<h2>仙茅</h2>
<p>味辛，溫。有小毒，陽也。能助神明，強筋骨，益肌膚，培精血，明耳目，填骨髓，開胃消食，助益房事，溫利五臟，補暖腰腳。此西域婆羅門僧獻方於唐明皇，服之有效，久秘而後得傳。按許真君書云，仙茅久服可以長生，其味甘能養肉，辛能養節，苦能養氣，咸能養骨，滑能養膚，酸能養筋。宜和苦酒服之，必效也！然仙茅性熱，惟陽弱精寒、稟賦素怯者宜之；若體壯相火熾盛者服之，大能動火，不可不察。凡制用之法，於八、九月採得，用竹刀刮去黑皮，切如豆粒，糯米泔浸兩宿，去赤汁，用酒拌蒸之，從巳至亥制之極熟，自無毒矣；然後曝乾、搗篩，熟蜜丸，桐子大，每空心酒飲，任下二三十丸。忌食牛乳及黑牛肉，恐減藥力也。若隨群補藥中為丸，服之無所不可。</p>

<h2>天麻</h2>
<p>（一名赤箭，一名定風草）</p>
<p>味辛，平。陰中有陽。治風虛眩暈、頭旋眼黑、頭痛、諸風濕痹、四肢拘攣，利腰膝，強筋骨，安神志，通血脈，止驚恐恍惚，殺鬼精蠱毒，及小兒風癇驚氣。然性懦力緩，用須加倍，或以別藥相佐，然後見功。</p>

<h2>沙參</h2>
<p>（反藜蘆。一名鈴兒草）</p>
<p>味微甘、苦，氣味俱輕，性微寒。能養肝氣，治多眠，除邪熱，益五臟陰氣，清肺涼肝，滋養血脈，散風熱瘙癢、頭面腫痛，排膿消腫，長肌肉，止驚煩，除疝痛。然性緩力微，非堪大用。易老云：「人參補五臟之陽，沙參補五臟之陰。」特以其甘涼而和補中清火，反而言之，故有是論，若云對待人參則相去遠矣。</p>

<h2>玄參</h2>
<p>（反藜蘆）</p>
<p>味苦、甘、微咸，氣寒。此物味苦而甘，苦能清火，甘能滋陰，以其味甘，故降，性亦緩。《本草》言其惟入腎經，而不知其尤走肺臟，故能退無根浮游之火，散周身痰結熱癰，逐頸項、咽喉痹毒、瘰癧結核，驅男女傳屍、煩躁骨蒸，解溫瘧寒熱往來，治傷寒熱斑支滿。亦療女人產乳余疾，或腸中血瘕熱癥；並療勞傷、痰嗽、熱煩，補腎滋明，明目，解渴。</p>

<h2>茅根</h2>
<p>（即白茅）（注：附茅針）</p>
<p>味甘，涼，性純美。能補中益氣，此良藥也。善理血病，凡吐血、衄血、瘀血、血閉及婦人經水不調、崩中漏下；且通五淋，除客熱，止煩渴，堅筋骨，療肺熱、噦逆、喘急，解酒毒及黃疸、水腫，久服大是益人。若治癰疽癤毒及諸毒、諸瘡、諸血，或用根搗敷，或用此煮汁調敷毒等藥，或以酒煮服，無不可也。茅有數種，處處有之，唯白者為勝。</p>
<p>春生芽，布地如針，故曰茅針，可以生啖，甚益小兒，功用亦同。</p>

<h2>淫羊藿</h2>
<p>味甘，氣辛，性溫。乃手足陽明、少陰、三焦、命門藥也。主陽虛、陽痿、莖中作痛，化小水，益精氣，強志意，堅筋骨，暖下部一切冷風勞氣、筋骨拘攣，補腰膝，壯真陰及年老昏耄、中年健忘；凡男子陽衰、女子陰衰、艱於子嗣者，皆宜服之。服此之法，或單用浸酒，或兼佐丸散，無不可者。製法：每擇淨一斤，以羊脂四兩同炒，油盡用之。</p>

<h2>苦參</h2>
<p>味苦，性寒。反藜蘆。沉也，陰也。乃足少陰腎經之藥。能祛積熱黃疸，止夢遺帶濁，清小便，利水，除癰腫，明目止淚，平胃氣；能令人嗜食，利九竅，除伏熱狂邪，止渴醒酒，療惡瘡、斑疹、疥癩，殺疳蟲及毒風煩臊、⿰⺼先（注：即「脫」）眉。炒黃為末，米飲調服，治腸風下血、熱痢。</p>

<h2>貝母</h2>
<p>（反烏頭）</p>
<p>味苦，氣平、微寒。氣味俱輕，功力頗緩，用須加倍。善解肝臟郁愁，亦散心中逆氣；祛肺痿、肺癰，痰膿喘嗽，研末、沙糖為丸，含咽最佳；降胸中因熱結胸，及乳癰、流痰、結核；若足生人面諸瘡，燒灰油調，頻敷；產難胞衣不出，研末、用酒和吞。亦除瘕疝、喉痹、金瘡，並止消渴、煩熱；赤眼、翳膜堪點，時疾黃疸能驅。又如半夏、貝母俱治痰嗽，但半夏兼治脾肺，貝母獨善清金；半夏用其辛，貝母用其苦；半夏用其溫，貝母用其涼；半夏性速，貝母性緩；半夏散寒，貝母清熱。性味、陰陽大有不同，俗有代用者，其謬孰甚！</p>

<h2>土貝母</h2>
<p>（反烏頭）</p>
<p>味大苦，性寒。陰也，降也。乃手太陰、少陽，足陽明、厥陰之藥。大治肺癰、肺痿、咳喘、吐血、衄血，最降痰氣，善開鬱結、止疼痛、消脹滿、清肝火、明耳目，除時氣煩熱、黃疸、淋閉、便血、溺血，解熱毒，殺諸蟲，及療喉痹、瘰癧、乳癰、發背、一切癰瘍腫毒、濕熱惡瘡、痔漏、金瘡出血、火瘡疼痛。為末可敷，煎湯可服。性味俱厚，較之川貝母清降之功，不啻數倍。</p>

<h2>山慈姑</h2>
<p>（一名金燈籠）</p>
<p>味甘、微辛。有小毒。治癰瘍疔腫、瘡瘻、瘰癧、結核，破皮、攻毒俱宜醋磨傅之；除皯斑、剝人面皮，宜搗汁塗之；並治諸毒，蠱毒、蛇、蟲、狂犬等傷，或用酒調服，或乾摻之；亦治風痰癇疾，以茶清研服，取吐可愈。</p>

<h2>柴胡</h2>
<p>味苦、微辛，氣平、微寒。氣味俱輕，升也，陽中之陰。用此者，用其涼散，平肝之熱；入肝、膽、三焦、心包四經。其性涼，故解寒熱往來、肌表潮熱、肝膽火炎、胸脅痛結，兼治瘡瘍、血室受熱；其性散，故主傷寒邪熱未解、溫瘧熱盛、少陽頭痛、肝經郁證。總之，邪實者可用，真虛者當酌其宜。雖引清氣上升，然升中有散，中虛者不可散，虛熱者不可寒，豈容誤哉；兼之性滑，善通大便，凡溏泄脾薄者當慎用之；熱結不通者用佐當歸、黃芩，正所宜也。愚謂柴胡之性善泄善散，所以大能走汗，大能泄氣，斷非滋補之物，凡病陰虛水虧而孤陽勞熱者，不可再損營氣。蓋未有用散而不泄營氣者，未有動汗而不傷營血者。營即陰也，陰既虛矣，尚堪再損其陰否？然則用柴胡以治虛勞之熱者，果亦何所取義耶。觀寇宗奭《衍義》曰：「柴胡，《本經》並無一字治勞，今人治勞方中鮮有不用者，嗚呼！凡此誤世甚多，嘗原病勞之人，有一種藏本虛損復受邪熱者，當須斟酌用之。如經驗方中治勞，青蒿煎之，用柴胡正合宜耳。若或無邪，得此愈甚，雖至死，人亦不怨，目擊甚多。《日華子》又謂：『補五勞七傷。』《藥性論》亦謂：『治勞乏羸瘦。』若此等病，苟無實熱，醫者執而用之，不死何待。註釋本草一字不可忽，蓋萬世之後，所誤無窮，可不謹哉！」觀此寇氏之說，其意專在邪熱二字，謂但察有邪無邪，以決可用不用，此誠得理之見，而復有非之者，抑又何也。即在王海藏亦曰：「苟無實熱而用柴胡，不死何待？」凡此所見略同，用者不可不察！</p>

<h2>桔梗</h2>
<p>（一名薺苨）</p>
<p>味苦、微辛，氣微涼。氣輕於味，陽中有陰。有小毒。其性浮，用此者，用其載藥上升，故有舟楫之號。入肺、膽、胸膈、上焦。載散藥，表散寒邪；載涼藥，清咽疼喉痹，亦治赤目腫痛；載肺藥，解肺熱、肺癰、鼻塞、唾膿、咳嗽；載痰藥，能消痰止嘔，亦可寬胸下氣。引大黃，可使上升；引青皮，平肝止痛。能解中惡、蠱毒，亦治驚癰、怔忡。若欲專用降劑，此物不宜同用。</p>

<h2>防風</h2>
<p>味甘、辛，氣溫。升也，陽也。用此者，用其氣平散風。雖膀胱、脾、胃經藥，然隨諸經之藥各經皆至。氣味俱輕，故散風邪，治一身之痛，療風眼，止冷淚；風能勝濕，故亦去濕，除遍體濕瘡。若隨實表補氣諸藥，亦能收汗、升舉陽氣，止腸風下血、崩漏。然此風藥中之潤劑，亦能走散上焦元氣，誤服、久服，反能傷人。</p>

<h2>細辛</h2>
<p>（反藜蘆，忌生菜）</p>
<p>味大辛，氣溫。氣味俱厚，升也，陽也。有小毒。用此者，用其溫散，善祛陰分之寒邪，除陰經之頭痛；益肝溫膽，利竅；逐諸風濕痹、風癇、痎瘧、鼻齆不聞香臭；開通關竅，散風淚目疼；口臭、牙蟲，煎湯含漱。過服亦散真氣，不可不知。此味辛甚，故能逐陰分之邪，陰分且然，陽分可知，舊云少陰、厥陰之藥，然豈有辛甚而不入陽分者，但陽證忌熱，用當審之。</p>

<h2>羌活</h2>
<p>味微苦，氣辛，微溫。升也，陽也。用此者，用其散寒定痛；能入諸經，太陽為最。散肌表之寒邪，利周身項脊之疼痛，排太陽之癰疽，除新舊之風濕。緣非柔懦之物，故能撥亂反正。惟其氣雄，大能散逐，若正氣虛者忌用之。</p>

<h2>獨活</h2>
<p>味苦，氣香，性微涼。升中有降。善行滯氣，故入腎與膀胱兩經，專理下焦風濕、兩足痛痹、濕癢拘攣；或因風濕而齒痛、頭眩、喘逆、奔豚、疝瘕、腰腹疼痛等證，皆宜用之。</p>

<h2>升麻</h2>
<p>味微苦，氣平。氣味俱輕，浮而升陽也。用此者，用其升散提氣，乃脾、胃、肺與大腸四經之藥。善散陽明經風寒、肌表邪熱，提元氣之下陷，舉大腸之⿰⺼先（注：即「脫」）泄，除陽明溫疫表邪，解膚腠風熱斑疹。引石膏，除齒牙臭爛腫痛；引蔥頭，去陽明表證頭疼；佐當歸、肉從蓉，可通大便結燥。凡癰疽、痘疹，陽虛不能起發，及瀉痢、崩淋、夢遺、脫肛，陽虛下陷之類，用佐補劑，皆所宜也。若上實氣壅，諸火炎上及太陽表證，皆不宜用；且其味苦氣散，若血氣太虛及水火無根者，並不可用。</p>

<h2>前胡</h2>
<p>味苦，氣寒。降也，陰中微陽。去火痰實熱，開氣逆結滯、轉筋霍亂，除胸中痞滿、氣喘、嘔逆、咳嗽、煩悶，治傷寒寒熱，風熱頭疼，解嬰兒疳熱。</p>

<h2>延胡索</h2>
<p>味苦，微辛，氣微溫。入肝、脾二經。善行滯氣，破滯血，血中氣藥，故能止腹痛，通經，調月水淋滯、心氣疼痛，破癥癖、跌撲凝瘀，亦善落胎、利小便及產後逆血上衝，俱宜以酒煮服，或用酒磨服亦可。然性惟破氣逐血，必真有血逆氣滯者方可用。若產後血虛，或經血枯少不利，氣虛作痛者，皆大非所宜。</p>

<h2>紫草</h2>
<p>味苦，性寒。此手厥陰、足厥陰血分之藥。性寒而利，能涼血滑血，通利二便，故痘疹家宜用之。凡治痘疹，無論未出、已出，但血熱毒盛，或紫或黑，而大便秘結者，宜用之；若已出紅活，不紫不黑，而大便如常通利者，即不可用；故曾世榮《活幼心書》云：「紫草，性寒，小兒脾氣實者猶可用，脾氣虛者，反能作瀉。」又若古方，惟用其茸，亦取其氣輕味薄而有清涼升發之功也。此外，可用以解黃疸、消腫脹，及一切斑疹、惡瘡，亦以其能利九竅、通水道、去濕、涼血而然也。</p>

<h2>白芨</h2>
<p>味苦、澀，性收斂，微寒。反烏頭。能入肺止血，療肺癰、肺痿。治癰疽敗爛、惡瘡、刀箭、湯火損傷，生肌止痛俱可為末，傅之。凡吐血不能止者，用白芨為末，米飲調服即效。</p>

<h2>三七</h2>
<p>（注：附三七葉）</p>
<p>味甘，氣溫。乃陽明、厥陰血分之藥。故善止血、散血、定痛，凡金刃刀箭所傷及跌僕杖瘡，血出不止，嚼爛塗之，或為末摻之，其血即止；亦治吐血、衄血、下血、血痢、崩漏、經水不止、產後惡血不下，俱宜自嚼，或為末，米飲送下二、三錢。若治虎咬蛇傷等證，俱可服、可傅。</p>
<p>葉之性用，與根大同，凡折傷、跌僕出血，傅之即止，青腫亦散。</p>

<h2>白蘚皮</h2>
<p>味苦，寒。性燥而降，乃手足太陰、陽明之藥。解熱黃、酒黃、急黃、谷黃、勞黃，通關節、九竅，利血脈、小水，治時行大熱飲水、狂躁叫呼，及婦人陰中腫痛、小兒風熱驚癇，尤治一切毒風風瘡、疥癬赤爛、楊梅瘡毒、眉發脫落。此雖善理瘡瘍，而實為諸黃、風痹要藥。</p>

<h2>秦艽</h2>
<p>味苦，性沉寒。沉中有浮。手足陽明清火藥也。治風寒濕痹，利小水，療通身風濕拘攣、手足不遂，清黃疸，解溫疫熱毒，除口噤、牙疼、口瘡、腸風下血及虛勞骨蒸發熱、潮熱煩渴及婦人胎熱、小兒疳熱瘦弱等證。</p>

<h2>地榆</h2>
<p>味苦、微澀，性寒而降。既清且澀，故能止吐血、衄血，清火明目，治腸風血痢及婦人崩漏下血、月經不止、帶濁、痔漏、產後陰氣散失；亦斂盜汗，療熱痞，除惡肉，止瘡毒疼痛。凡血熱者，當用；虛寒者，不相宜也。作膏可貼金瘡，搗汁可塗虎、犬、蛇、蟲傷毒，飲之亦可。</p>

<h2>黃芩</h2>
<p>味苦，氣寒。氣輕於味，可升可降，陰中微陽。枯者，善於入肺；實者，善入大腸。欲其上者，酒炒；欲其下者，生用。枯者，清上焦之火，消痰，利氣，定喘嗽，止失血，退往來寒熱、風熱、濕熱、頭痛，解瘟疫，清咽，療肺痿、肺癰、乳癰、發背，尤祛肌表之熱，故治斑疹、鼠瘻、瘡瘍、赤眼；實者，涼下焦之熱，能除赤痢、熱蓄膀胱、五淋澀痛、大腸閉結、便血、漏血。胎因火盛不安，酌佐砂仁、白朮；腹因火滯為痛，可加黃連、厚朴。大腸無火滑泄者，最當慎用。</p>

<h2>黃連</h2>
<p>味大苦，氣大寒。味厚氣薄，沉也，降也，降中微升，陰中微陽。專治諸火，火在上，炒以酒；火在下，炒以童便；火而嘔者，炒以薑汁；火而伏者，炒以鹽湯；同吳茱萸炒，可以止火痛；同陳壁土炒，可止熱瀉；同枳實用，可消火脹；同天花粉用，能解煩渴；同木香丸，和火滯下痢腹痛；同吳茱萸丸，治胃熱吐吞酸水。總之，其性大寒，故惟平肝、涼血、肅胃、清腸、涼膽、止驚癇、瀉心、除痞滿；上可治吐血、衄血，下可治腸澼便紅，療婦人陰戶腫痛，除小兒食積熱疳，殺蛔蟲，消惡瘡癰腫，除濕熱、鬱熱；善治火眼，亦消痔漏；解烏、附之熱，殺巴豆之毒。然其善瀉心脾實火，虛熱妄用必致格陽，故寇宗奭曰：「虛而冷者，慎勿輕用。」王海藏曰：「夏月久血痢，不用黃連，陰在內也。」景岳曰：「人之脾胃所以盛載萬物，發生萬物，本象地而屬土，土暖則氣行而燥，土寒則氣凝而濕，土燥則實，土濕則滑，此天地間不易之至理。」黃連之苦寒若此，所以過服芩連者，無不敗脾，此其濕滑亦自明顯易見，獨因陶弘景《別錄》中有調胃厚腸之一言，而劉河間復證之曰：「諸苦寒多泄，惟黃連、黃柏，性冷而燥。」因致後世視為奇見，無不謂黃連性燥而厚腸胃，凡治瀉痢者，開手便是黃連，不知黃連、黃柏之燥於何見之？呼嗚！一言之謬，流染若此難洗，若此悖理惑人，莫此為甚，雖曰黃連治痢亦有效者，然必其素稟陽臟，或多縱口腹濕熱為痢者，乃其所宜。且凡以縱肆不節而血氣正強者，即或誤用，未必殺人，久之邪去，亦必漸愈，而歸功黃連何不可也！此外，則凡以元氣素弱，傷脾患痢，或本無火邪而寒濕動脾者，其病極多，若妄用黃連則脾腎日敗，百無一生，凡患痢而死者，率由此類，可不寒心。余為此言，而人有未必信者，多以苦燥二字有未明耳，故余於《傳忠錄》辨河間條中，復詳言苦味之理，以俟衛生仁者再為贊正，庶是非得明，而民生有攸賴矣。道書言：服黃連犯豬肉，令人泄瀉。</p>

<h2>胡黃連</h2>
<p>味大苦，大寒。其性味、功用，大似黃連。能涼肝明目，治骨蒸勞熱、三消、吐血、衄血、五心煩熱，療婦人胎熱虛驚、熱痢，及小兒疳熱、驚癇。浸人乳點目，甚良。</p>

<h2>知母</h2>
<p>味苦，寒。陰也。其性沉中有浮，浮則入手太陰、手少陰，沉則入足陽明、足厥陰、足少陰也。故其在上，則能清肺、止渴、卻頭痛、潤心肺、解虛煩喘嗽、吐血、衄血、去喉中腥臭；在中，則能退胃火、平消癉；在下，則能利小水、潤大便，去膀胱、肝、腎濕熱，腰腳腫痛，並治勞瘵內熱，退陰火，解熱淋、崩濁。古書言，知母佐黃柏，滋陰降火，有金水相生之義，蓋謂黃柏能制膀胱、命門陰中之火，知母能消肺金，制腎水化源之火，去火可以保陰，是即所謂滋陰也。故潔古、東垣皆以為滋陰降火之要藥，繼自丹溪而後，則皆用以為補陰，誠大謬矣！夫知母以沉寒之性，本無生氣，用以清火則可，用以補陰則何補之有？第其陰柔巽順，似乎有德，倘元氣既虧，猶欲藉此以望補益，是亦猶小人在朝，而國家元氣日受其削，有陰移焉而莫之覺者，是不可不見之真而辨之早也。</p>

<h2>龍膽草</h2>
<p>味大苦，大寒。陰也，沉也。乃足厥陰、少陽之正藥。大能瀉火，但引以佐使則諸火皆治。故能退骨蒸、疳熱；除心火驚癇狂躁，胃火煩熱，黃疸，咽喉腫痛，肝腎、膀胱伏火，小水淋閉，血熱瀉痢，下焦濕熱，癰腫瘡毒疼痛，婦人血熱崩淋，小兒熱疳客忤；去目黃、睛赤腫痛；殺蠱毒、腸胃諸蟲，及風熱、盜汗。凡肝腎有餘之火，皆其所宜。</p>

<h1>隰草部</h1>

<h2>地黃</h2>
<p>（注：分生地黃、熟地黃）</p>
<p>生地黃：味苦、甘，氣涼。氣薄味厚，沉也，陰也。鮮者更涼，乾者微涼。能生血，補血，涼心火，退血熱，去煩躁、骨蒸、熱痢下血，止嘔血、衄血、脾中濕熱或婦人血熱而經枯，或上下三消而熱渴。總之，其性頗涼，若脾胃有寒者，用宜斟酌。</p>
<p>熟地黃：味甘、微苦。味厚氣薄，沉也，陰中有陽。本草言其入手足厥、少陰經。大補血衰，滋培腎水，填骨髓，益真陰，專補腎中元氣，兼療藏血之經，此雖泛得其概，亦豈足以盡是之妙。夫地黃產於中州沃土之鄉，得土氣之最厚者也。其色黃，土之色也；其味甘，土之味也。得土之氣而曰非太陰、陽明之藥，吾弗信也。惟是生者性涼，脾胃喜暖，故脾陽不足者所當慎用；至若熟則性平，稟至陰之德，氣味純靜，故能補五藏之真陰，而又於多血之藏為最要，得非脾胃經藥耶？且夫人之所以有生者，氣與血耳，氣主陽而動，血主陰而靜。補氣以人參為主，而耆朮但可為之佐；補血以熟地為主，而芎歸但可為之佐。然在耆、朮、芎、歸則又有所當避，而人參、熟地則氣血之必不可無。故凡諸經之陽氣虛者，非人參不可；諸經之陰血虛者，非熟地不可。人參有健運之功，熟地稟靜順之德，此熟地之與人參，一陰一陽，相為表裡；一形一氣，互主生成，性味中正，無逾於此，誠有不可假借而更代者矣。凡諸真陰虧損者，有為發熱、為頭疼、為焦渴、為喉痹、為嗽痰、為喘氣，或脾腎寒逆為嘔吐，或虛火載血於口鼻，或水泛於皮膚，或陰虛而泄利，或陰浮而狂躁，或陰脫而仆地。陰虛而神散者，非熟地之守不足以聚之；陰虛而火升者，非熟地之重不足以降之；陰虛而躁動者，非熟地之靜不足以鎮之；陰虛而剛急者，非熟地之甘不足以緩之；陰虛而水邪氾濫者，舍熟地何以自制；陰虛而真氣散失者，舍熟地何以歸源；陰虛而精血俱損、脂膏殘薄者，舍熟地何以厚腸胃。且猶有最玄最妙者：則熟地兼散劑，方能發汗，何也？以汗化於血，而無陰不作汗也；熟地兼溫劑，始能回陽，何也？以陽生於下，而無復不成乾也。然而，陽性速，故人參少用亦可成功，陰性緩，熟地非多難以奏效，而今人有畏其滯膩者，則崔氏何以用腎氣丸而治痰浮？有畏其滑澤者，則仲景何以用八味丸而醫腎泄？有謂陽能生陰、陰不能生陽者，則陰陽之理，原自互根，彼此相須，缺一不可，無陽則陰無以生，無陰則陽無以化，故《內經》曰：「精化為氣」，得非陰亦生陽乎，孰謂陽之能生，而陰之不能長也。又若制用之法，有用薑汁拌炒者，則必有中寒兼嘔而後可，有用砂仁制者，則必有脹滿不行而後可，有用酒拌炒者，則必有經絡壅滯而後可，使無此數者，而必欲強用製法，是不知用熟地者，正欲用其靜重之妙，而反為散動，以亂其性，何異畫蛇而添足。今之人即欲用之補陰而必兼以滲利，則焉知補陰不利水，利水不補陰，而補陰之法不宜滲；即有用之補血而復疑其滯膩，則焉知血虛如燥土，旱極望雲霓，而枯竭之腸極喜滋，設不明此，則少用之，尚欲兼之以利，又孰敢單用之而任之以多？單用而多且不敢，又孰敢再助以甘而盡其所長？是又何異因噎而廢食也。嗟嗟！熟地之功其不申於時用者久矣，其有不可以筆楮盡者尚多也，予今特表而出之，尚祈明者之自悟焉。</p>

<h2>牛膝</h2>
<p>味苦、甘，氣微涼。性降而滑，陰也。忌牛肉、酒漬、㕮咀。走十二經絡，助一身元氣，主手足血熱痿痹、血燥拘攣，通膀胱澀秘、大腸乾結，補髓填精，益陰活血，治腰膝痠疼，滋鬚髮枯白。其性下走如奔，故能通經閉，破血癥，引諸藥下降，同麝香用墮胎尤速。凡藏寒便滑，下元不固者，當忌用之。</p>

<h2>麥門冬</h2>
<p>味甘、微苦，性微寒。降也，陽中陰也。去心用，恐令人煩。其味甘多、苦少，故上行心肺，補上焦之津液，清胸膈之渴煩，解火炎之嘔吐，退血燥之虛熱，益精滋陰，澤肌潤結，肺痿，肺癰，咳唾衄血，經枯，乳汁不行，肺乾咳嗽不絕。降火清心，消痰，補怯復脈須仗人參，便滑中寒者勿投。</p>

<h2>續斷</h2>
<p>川者，色灰黑，尖瘦，多蘆，形如雞腳皮，斷而皺者是，味苦而澀，苦重澀輕，氣微涼；他產者，味甘、微辛、澀少。用川者良。凡用此者，用其苦澀：其味苦而重，故能入血分，調血脈，消腫毒、乳癰、瘰癧、痔瘻，治金損跌傷，續筋骨血脈；其味澀，故能止吐血、衄血、崩淋、胎漏、便血、尿血，調血痢，縮小便，止遺精帶濁。佐之以甘，如甘草、地黃、人參、山藥之類，其效尤捷。</p>

<h2>蜀葵子</h2>
<p>（注：附黃葵花）</p>
<p>味甘，性寒。能利小水，通淋閉，消水腫，潤大腸，催生落胎，通乳汁，亦治一切瘡疥並瘢疵赤靨。苗葉可作菜茹。古以葵為五菜之主，今不復用之矣！</p>
<p>黃葵花，性滑利，與蜀葵大同。若治諸惡瘡膿水久不瘥者，用花為末，傅之即愈，為瘡家要藥；浸油，可塗湯火瘡。</p>

<h2>車前子</h2>
<p>（即芣苡）（注：附車前根葉）</p>
<p>味甘、微咸，氣寒。入膀胱、肝經。通尿管熱淋澀痛，驅風熱目赤翳膜，利水，能除濕痹；性滑，極善催生；兼治濕熱瀉痢，亦去心胸煩熱。</p>
<p>根葉：生，搗汁飲，治一切尿血、衄血、熱痢；尤逐氣癃，利水。</p>

<h2>白蒺藜</h2>
<p>（注：附沙苑蒺藜）</p>
<p>味苦、微辛、微甘，微涼。能破癥瘕結聚，止遺溺泄精，療肺痿、肺癰、翳膜目赤，除喉痹、癬疥、痔、瘰、癜風，通身濕爛、惡瘡、乳岩、帶下俱宜；催生，止煩亦用；涼血養血，亦善補陰。用補，宜炒熟去刺；用涼，宜連刺生搗。去風解毒，白者最良。</p>
<p>沙苑蒺藜，性亦大同。若用固精補腎，止遺瀝、尿血，縮小便，止煩渴，去燥熱，則亦可用此。</p>

<h2>紅花</h2>
<p>味甘、微苦、微辛，氣微涼。陰中微陽。惟入血脈，多用女科。少用可活血引經，多用能破血通瘀。可下死胎，亦療血暈，達痘瘡血熱難出，散斑疹血滯不消，潤燥活血，止痛通經，亦消腫毒。</p>

<h2>紫菀</h2>
<p>味苦，平，微辛。辛能入肺，苦能降氣，故治咳嗽上氣，痰喘。惟肺實氣壅或火邪刑金而致咳唾膿血者，乃可用之。若以勞傷肺腎，水虧金燥而咳喘失血者，則非所宜。觀陶氏《別錄》，謂其補不足，治五勞體虛，其亦言之過也。</p>

<h2>甘菊花</h2>
<p>（白菊花根：善利水，搗汁，和酒服之，大治癃閉）（注：並附菊花葉）</p>
<p>味甘，色黃者，能養血散風，去頭目風熱眩暈疼痛，目中翳膜及遍身遊風風疹；作枕，明目。葉亦可用。</p>
<p>味苦者，性涼。能解血中鬱熱，清頭目，去風熱眼目腫痛、流淚。根、葉辛香，能消癰毒，止疼痛。</p>

<h2>野菊花</h2>
<p>（一名苦薏）</p>
<p>根、葉、莖、花皆可同用。味苦、辛。大能散火，散氣，消癰毒疔腫、瘰癧、眼目熱痛，亦破婦人瘀血。孫氏治癰毒方，用野菊連根葉搗爛，酒煎，熱服取汗，以渣敷之；或同蒼耳搗汁，以熱酒沖服；冬月用乾者煎服，或為末，酒服亦可。</p>

<h2>豨薟</h2>
<p>味苦，氣微寒，有小毒。此物氣味頗峻，善逐風濕諸毒。用蜜酒層層和灑，九蒸九曝，蜜丸，空心酒吞，多寡隨宜，善治中風口眼歪斜，除濕痹腰腳痿痛、麻木。生者酒煎，逐破傷風危急如神；散撒麻疔惡毒、惡瘡浮腫、虎傷狗咬，蜘蛛蟲毒。或搗爛封之，或煎湯，或散敷並良。其掃蕩功力若此，似於元氣虛者非利。</p>

<h2>益母草</h2>
<p>（子名茺蔚）</p>
<p>味微苦、微辛，微寒。性滑而利。善調女人胎產諸證，故有益母之號。能去死胎，滑生胎，活血，涼血，行血，故能治產難、胎衣不下、子死腹中及經脈不調、崩中漏下、尿血、瀉血、瘀血等證。然惟血熱、血滯及胎產艱澀者宜之，若血氣素虛兼寒，及滑陷不固者，皆非所宜，不得以其益母之名，謂婦人所必用也，蓋用其滑利之性則可，求其補益之功則未也，本草言其久服益精輕身，誠不足信。此外，如退浮腫，下水氣及打撲瘀血，通大小便之類，皆以其能利也。若治疔腫、乳癰、丹毒、惡毒，則可搗汁飲之，其渣亦可敷貼。</p>
<p>子名茺蔚，功用略同。但子味微甘，稍溫，故能涼血，補血，亦益陰氣，明目。</p>

<h2>瞿麥</h2>
<p>味苦，微寒。降也。性滑利，能通小便，降陰火，除五淋，利血脈。兼涼藥，亦消眼目腫痛；兼血藥，則能通經破血下胎。凡下焦濕熱疼痛諸病，皆可用之。</p>

<h2>茵陳</h2>
<p>味苦、微辛，氣微寒。陰中微陽，入足太陽經。用此者，用其利濕逐熱，故能通關節、解熱滯，療天行時疾、熱狂頭痛。利小水，專治黃疸，宜佐梔子；黃而濕者，多腫，再加滲利；黃而燥者，乾澀，再加涼潤；只有陰黃一證，因以中寒不運，此非所宜。又解傷寒、瘴瘧、火熱，散熱痰、風熱疼痛。濕熱為痢尤其所宜。</p>

<h2>青蒿</h2>
<p>味苦、微辛，性寒。陰中有陽，降中有散。主肝、腎、三焦血分之病。療陰火伏留骨節，故善治骨蒸勞熱、屍疰鬼氣；降火滋陰，潤顏色，長毛髮，治瘧疾寒熱，殺蟲毒及惡瘡濕疥；生搗，可敷金瘡，止血，止痛。</p>

<h2>款冬花</h2>
<p>味微甘、微辛而溫。其氣浮，陽也。入手太陰經。能溫肺氣，故療咳嗽及肺癰、肺痿、咳唾膿血。寇宗奭曰：「有人病嗽多日，或教以燃款冬花三兩於無風處，以筆管吸其煙，滿口則咽之，數日果效。」</p>

<h2>麻黃</h2>
<p>（注：附麻黃根）</p>
<p>味微苦、微澀，氣溫而辛。升也，陽也。此以輕揚之味而兼辛溫之性，故善達肌表，走經絡，大能表散風邪。祛除寒毒，一應瘟疫、瘧疾、瘴氣山嵐，凡足三陽表實之證，必宜用之；若寒邪深入少陰、厥陰筋骨之間，非用麻黃、官桂不能逐也。但用此之法，自有微妙，則在佐使之間，或兼氣藥以助力，可得衛中之汗；或兼血藥以助液，可得營中之汗；或兼溫藥以助陽，可逐陰凝之寒毒；或兼寒藥以助陰，可解炎熱之瘟邪。此實傷寒陰證家第一要藥，故仲景諸方以此為首，實千古之獨得者也。今見後人多有畏之為毒藥而不敢用，又有謂夏月不宜用麻黃者，皆不達，可哂也。雖在李氏有云：「若過發則汗多亡陽，若自汗表虛之人用之則脫人元氣。」是皆過用及誤用而然，若陰邪深入則無論冬夏，皆所最宜，又何過之有？此外，如手太陰之風寒咳嗽，手少陰之風熱斑疹，足少陰之風水腫脹，足厥陰之風痛、目痛，凡宜用散者，惟斯為最。然柴胡、麻黃俱為散邪要藥，但陽邪宜柴胡，陰邪宜麻黃，不可不察也。制用之法，須折去粗根，入滾湯中煮三、五沸，以竹片掠去浮沫，曬乾用之，不爾，令人動煩。</p>
<p>麻黃根，味甘，平，微苦、微澀。同甘斂藥煎服，可以止汗；同牡蠣粉、米粉，或用舊蕉扇杵末，等分，以生絹袋盛貯用，撲盜汗或夏月多汗，用之俱佳。</p>

<h2>萱草</h2>
<p>（一名忘憂，一名宜男，一名鹿蔥）（注：附萱草根）</p>
<p>萱草者，詩作諼草，凡樹此、玩此者，可解憂思，故名忘憂；烹食其苗，氣味如蔥，而鹿喜食之，故名鹿蔥；婦人佩其花則生男，故名宜男。花葉：氣味甘而微涼，故能去濕熱，利小便赤澀，除煩渴、酒濕、黃疸，安五臟，利胸膈，令人和悅，亦能明目。</p>
<p>根，治沙淋帶濁，利水氣，解酒疸，宜搗汁服之；治吐血、衄血，研汁一大盞，和薑汁細細呷之；治吹乳、乳癰腫痛，須擂酒服，以渣封之。</p>

<h2>連翹</h2>
<p>味苦、微辛，氣微寒。氣味俱薄，輕清而浮，升也，陽中有陰。入手少陰，手足少陽、陽明。瀉心經客熱，降脾胃濕熱，去寸白、蛔蟲，通月水、五淋。以其味苦而輕，故善達肌表，散鼠痿（注：當是「瘻」之誤）、瘰癧、癭瘤結熱、蠱毒、癰毒、斑疹，治瘡癤、止痛消腫、排膿，瘡家號為聖丹。以其辛而能散，故又走經絡，通血凝、氣滯結聚，所不可無。</p>

<h2>旋覆花</h2>
<p>味苦、甘、微辛。陰也，降也。乃手太陰肺經、手陽明大腸經藥。開結氣，降痰涎，通水道，消腫滿，凡氣壅濕熱者宜之。但其性在走散，故凡見大腸不實及氣虛陽衰之人，皆所忌用。</p>

<h2>鼠黏子</h2>
<p>（一名牛旁子、一名大力子）</p>
<p>味苦、辛。降中有升。治風毒、斑疹、諸瘻，散瘡瘍腫毒、喉痹及腰膝凝寒痹滯之氣，以其善走十二經而解中有散也。</p>

<h2>決明</h2>
<p>味微苦、微甘，性平，微涼。力薄。治肝熱風眼，赤而多淚及肝火目昏，可為佐使。惟多服、久服方可得效。或作枕用，治頭風、明目，其功勝於黑豆。</p>

<h2>葶藶</h2>
<p>味苦，大寒。沉也，陰也。氣味俱厚，有毒。善逐水氣，不減大黃，但大黃能泄血閉，葶藶能泄氣閉，氣行而水自行也；若肺中水氣膹滿脹急者，非此不能除。然性急利甚，凡涉氣虛者不可輕用，《淮南子》曰：「大戟去水，葶藶愈脹，用之不慎，乃反成病。」即此謂也。第此有甜苦二種，雖曰為甜，然亦非真甜，但稍淡耳；稍淡者，其性亦稍緩。</p>

<h2>夏枯草</h2>
<p>味微苦、微辛。氣浮而升，陰中陽也。善解肝氣、養肝血，故能散結開鬱，大治瘰癧、鼠瘻、乳癰、癭氣，並治頭瘡、目疾。樓全善云：「夏枯草治目珠痛至夜則甚者，神效！或用苦藥點眼反甚者，亦神效。一男子目珠痛，至夜則重，用黃連點之更甚，諸藥不效，乃用夏枯草二兩、香附二兩、甘草四錢，為末，每服一錢半，清茶調服，下咽即疼減，至四、五服，良愈也。」</p>

<h2>蒼耳子</h2>
<p>（一名羊負來）</p>
<p>味苦、微甘。治頭風寒痛、風濕周痹、四肢拘攣，去風明目，養血暖腰膝，及瘰癧、瘡疥，亦治鼻淵。宜炒熟為末，白湯點服一二錢，久之乃效。忌豬肉、馬肉。</p>

<h2>漏蘆</h2>
<p>味微咸，性寒。有小毒。主熱毒惡瘡、瘰癧、乳癰、痔漏，排膿長肉，止金瘡血出，亦下乳汁，通經脈，消赤眼，利小便，止尿血、腸風、淋瀝、遺溺及小兒壯熱，療跌撲損傷，可續筋骨。</p>

<h2>劉寄奴</h2>
<p>味苦，性溫。能破瘀血，活新血，通婦人經脈、產後余血、損傷瘀血，下氣，止心腹痛及小便去（注：為當「出」之誤）血，俱可為散，或茶，或酒調服。搗敷金瘡出血不止，其效尤捷；用治湯火傷，大效，但為末摻之。</p>

<h2>萹蓄</h2>
<p>味苦、澀。利小便，除黃疸，殺三蟲，去下部濕熱浸淫、陰蝕、瘡疥、痔漏。煮汁飲之，療小兒蛔蟲上攻，心腹作痛，大效。有海上歌云：「心頭急痛不能當，我有仙人海上方，萹蓄醋煎通口咽，管教時刻即安康。」</p>

<h2>青葙子</h2>
<p>（野雞冠子也）</p>
<p>味微苦，微寒。能清肝火、血熱，故治赤眼，退赤障、消翳腫、鎮肝、明耳目，亦去風濕、惡瘡、疥癩。</p>

<h2>艾</h2>
<p>味微苦，氣辛。生用，微溫；熟用，微熱。能通十二經，而尤為肝、脾、腎之藥。善於溫中、逐冷、除濕，行血中之氣、氣中之滯。凡婦人血氣寒滯者，最宜用之，故能安胎，止心腹痛，治帶下、血崩，暖腰膝，止吐血、下痢，闢風寒、寒濕、瘴瘧、霍亂轉筋及一切冷氣、鬼氣，殺蛔蟲並下部䘌瘡。或生用搗汁，或熟用煎湯，或用灸百病，或炒熱敷熨，可通經絡；或袋盛包裹，可溫臍膝，表裡、生、熟，俱有所宜。</p>

<h2>佛耳草</h2>
<p>（一名鼠麴草）</p>
<p>味微酸，性溫。大溫肺氣、止寒嗽、散痰氣、解風寒寒熱，亦止泄瀉。鋪艾卷作煙筒，用薰久嗽，尤效。</p>

<h2>藍靛</h2>
<p>（注：分藍葉、靛青、青黛）</p>
<p>藍葉，氣味苦，寒，微甘。善解百蟲、百藥毒，及治天行瘟疫、熱毒發狂、風熱斑疹、癰瘍腫痛，除煩渴，止鼻衄、吐血，殺疳蝕、金瘡箭毒。凡以熱兼毒者，皆宜搗汁用之。</p>
<p>靛青，乃藍與石灰所成，性與藍葉稍異。其殺蟲、止血、敷諸熱毒、熱瘡之功，似有勝於藍葉者。</p>
<p>青黛，味微咸而寒，性與靛青大同。解諸熱毒、蟲毒、金瘡、熱瘡，或乾摻，或以水調敷。若治諸熱瘡毒，或用馬齒莧加青黛同搗敷之；若治大行頭痛、瘟疫熱毒及小兒諸熱驚癇發熱，並宜水研服之。</p>

<h2>木賊</h2>
<p>味微苦、微甘，性溫而升，陽也。性亞麻黃，故能發汗解肌，治傷寒、瘧疾，去風濕，散火邪，療目疾，退翳障，止腸風下血、下痢及婦人崩中、帶漏、月水不調，亦治風濕疝痛、大腸脫肛。</p>

<h2>王不留行</h2>
<p>（一名金盞銀臺）</p>
<p>味苦，平，性滑利。乃陽明、衝任、血海藥也。治風毒，通血脈，療婦人難產及經滯不調，下乳汁，利小便，除風濕痹痛，止心煩、鼻衄、發背、癰疽、瘡瘻、遊風、風疹，出竹木刺及金瘡止血，亦能定痛。</p>

<h2>海金沙</h2>
<p>此草出黔中，七月收其全科，曬乾，以杖擊之則細沙自莖葉中落。味甘，性寒。乃小腸、膀胱血分藥也。善通利水道，解鬱熱、濕熱及傷寒熱狂、小便癃閉、腫滿、熱淋、膏濁、血淋、石淋、莖中疼痛，解諸熱毒。或丸、或散，皆可用。</p>

<h2>燈心草</h2>
<p>味淡，性平。能通水道澀結癃閉，治五淋，瀉肺熱，降心火，除水腫，止血，通陰氣，散腫，止渴。但用敗席煮服，更良。若治喉痹，宜燒燈草灰吹之；若治下疳瘡，亦用燒灰加輕粉、麝香為末，摻之。</p>

<h2>煙</h2>
<p>味辛，氣溫，性微熱。升也，陽也。燒煙吸之，大能醉人，用時惟吸一口或二口，若多吸之，令人醉倒，久而後蘇，甚者，以冷水一口解之即醒；若見煩悶，但用白糖解之即安，亦奇物也。吸時，須開喉長吸嚥下，令其直達下焦。其氣上行，則能溫心肺；下行，則能溫肝、脾、腎。服後能使通身溫暖微汗，元陽陡壯。用以治表，善逐一切陰邪寒毒、山嵐瘴氣、風濕邪閉腠理、筋骨疼痛，誠頃刻取效之神劑也；用以治里，善壯胃氣，進飲食，祛陰濁寒滯，消膨脹宿食，止嘔噦霍亂，除積聚諸蟲，解鬱結，止疼痛，行氣停血瘀，舉下陷後墜，通達三焦，立刻見效。此物自古未聞也，近自我明萬曆時始出於閔（注：當作「閩」。下同）廣之間，自後吳楚間皆種植之矣，然總不若閔中者。色微黃，質細，名為金絲煙者，力強氣勝為優也。求其習服之始，則向以徵滇之役，師旅深入瘴地無不染病，獨一營安然無恙，問其所以，則眾皆服煙，由是遍傳，而今則西南一方無分老幼，朝夕不能間矣！予初得此物亦甚疑貳，及習服數次，乃悉其功用之捷，有如是者。因著性於此。然此物性屬純陽，善行善散，惟陰滯者用之如神，若陽盛氣越而多躁（注：當是「燥」）多火，及氣虛氣短而多汗者，皆不宜用。或疑其能頃刻醉人，性必有毒，今彼處習服既久，初未聞其妨人者，抑又何耶？蓋其陽氣強猛，人不能勝，故下咽即醉，既能散邪，亦必耗氣，理固然也。然煙氣易散而人氣隨復，陽性留中，旋亦生氣，此其耗中有補，故人多喜服而未見其損者以此。後檳榔條中有說，當與此參閱。</p>

<h1>芳草部</h1>

<h2>當歸</h2>
<p>味甘、辛，氣溫。氣輕，味重，可升可降，陰中有陽。其味甘而重，故專能補血；其氣輕而辛，故又能行血；補中有動，行中有補，誠血中之氣藥，亦血中之聖藥也。頭止血上行，身養血中守，尾破血下流，全活血不走。大約佐之以補則補，故能養營養血，補氣生精，安五臟，強形體，益神志，凡有形虛損之病，無所不宜。佐之以攻則通，故能祛痛，通便，利筋骨，治拘攣、癱瘓、燥澀等症。營虛而表不解者，佐以柴、葛、麻、桂等劑，大能散表；衛熱而表不斂者，佐以六黃之類，又能固表。惟其氣辛而動，故欲其靜者，當避之；性滑善行，大便不固者，當避之；凡陰中火盛者，當歸能動血，亦非所宜；陰中陽虛者，當歸能養血，乃不可少；若血滯而為痢者，正所當用；其要在動滑兩字。若婦人經期血滯，臨產催生及產後兒枕作痛，俱當以此為君；小兒痘疹、驚癇，凡屬營虛者，必不可少。</p>

<h2>川芎</h2>
<p>味辛、微甘，氣溫。升也，陽也。其性善散，又走肝經，氣中之血藥也。反藜蘆，畏硝石、滑石、黃連者，以其沉寒而制其升散之性也。芎歸俱屬血藥，而芎之散動尤甚於歸，故能散風寒，治頭痛，破瘀蓄，通血脈，解結氣，逐疼痛，排膿消腫，逐血通經。同細辛煎服，治金瘡作痛；同陳艾煎服，驗胎孕有無（三、四月後，服此微動者，胎也）。以其氣升，故兼理崩漏，眩運；以其甘少，故散則有餘，補則不足。惟風寒之頭痛極宜用之，若三陽火壅於上而痛者，得升反甚；今人不明升降，而但知川芎治頭痛，謬亦甚矣！多服、久服，令人走散真氣，能致暴亡，用者識之。</p>

<h2>芍藥</h2>
<p>（反藜蘆）</p>
<p>味微苦、微甘、略酸，性頗寒。氣薄於味，斂降多而升散少，陰也。有小毒。白者，味甘，補性多；赤者，味苦，瀉性多。生者更涼，酒炒微平。其性沉陰，故入血分，補血熱之虛，瀉肝火之實，固腠理，止熱瀉，消癰腫，利小便，除眼疼，退虛熱，緩三消。諸證於因熱而致者為宜，若脾氣寒而痞滿難化者忌用。止血虛之腹痛，斂血虛之發熱。白者安胎熱不寧，赤者能通經破血。此物乃補藥中之稍寒者，非若極苦、大寒之比，若謂其白色屬金，恐傷肝木，寒伐生氣，產後非宜，則凡白過芍藥、寒過芍藥者，又將何如？如仲景黑神散、芍藥湯之類，非皆產後要藥耶？用者還當詳審，若產後血熱而陰氣散失者，正當用之，不必疑也。</p>

<h2>丹皮</h2>
<p>味辛、苦，氣微涼。氣味俱輕，陰中陽也。赤者，行性多；白者，行性緩。入足少陰及手厥陰經。忌葫、蒜。涼骨蒸無汗，散吐衄瘀血，除產後血滯寒熱，祛腸胃蓄血癥堅，仍定神志，通月水，治驚搐風癇，療癰腫住痛。總之，性味和緩，原無補性，但其微涼而辛，能和血、涼血、生血，除煩熱，善行血滯，滯去而鬱熱自解，故亦退熱。用此者，用其行血滯而不峻。</p>

<h2>白豆蔻</h2>
<p>味辛，氣溫。味薄氣厚，陽也。入脾、肺兩經。別有清爽之氣。散胸中冷滯，溫胃口止疼，除嘔逆翻胃，消宿食膨脹，治噎膈，除瘧疾，解酒毒，祛穢惡，能退翳膜，亦消痰氣。欲其速效，嚼咽甚良，或為散亦妙。</p>

<h2>肉豆蔻</h2>
<p>味苦、辛而澀，性溫。理脾胃虛冷、穀食不消，治大腸虛冷、滑泄不止。以其氣香而辛，故能行滯止痛，和腹脹，治霍亂，調中下氣，開胃進食，解酒毒，化痰飲，溫胃逐蟲，闢諸惡氣，療小兒胃寒、傷乳吐瀉，以其能固大腸，腸既固則元氣不走，脾氣自健，故曰理脾胃虛冷，而實非能補虛也。麵包煨熟用，或銼如豆大，以乾麵拌炒熟，去面用之，尤妙，蓋但欲去其油而用其熟耳。</p>

<h2>草果</h2>
<p>（亦名草豆蔻）</p>
<p>味辛，性溫熱。陽也，浮也。入足太陰、陽明。能破滯氣，除寒氣，消食，療心腹疼痛，解酒毒，治瘴癘、寒瘧、傷暑嘔吐、瀉痢脹滿、反胃吐酸，開痰飲、積聚、噎膈，殺魚肉毒，開鬱，燥濕，闢除口臭及婦人惡阻氣逆、帶濁。此有二種，惟建寧所產辛香氣和者佳，宜以麵裹，微火煨熟用之，或面拌炒熟亦可；滇廣者氣辛而臭，大能損人元氣。</p>

<h2>破故紙</h2>
<p>味苦、辛，氣大溫。性燥而降。能固下元，暖水藏，治下焦無火、精滑帶濁、諸冷頑痹、脾腎虛寒而為溏泄下痢；以其暖腎固精，所以能療腰膝痠疼、陰冷囊濕，縮小便，暖命門、小腹，止腹中疼痛、腎泄；以其性降，所以能納氣定喘。惟其氣辛而降，所以氣虛氣短及有煩渴、眩運者，當少避之，即不得已，用於丸中可也。忌羊肉、蕓薹。</p>

<h2>木香</h2>
<p>味苦、辛，性溫。氣味俱厚，能升能降，陽中有陰。行肝、脾、肺氣滯如神，止心腹、脅氣痛甚捷。和胃氣，止吐瀉霍亂，散冷氣，除脹疼、呃逆。治熱痢，可佐芩、連；固大腸，火煨方用。順其氣，癥積惡逆自除；調其氣，安胎，月經亦用。亦治疫癘、瘟瘧，亦殺蠱毒、鬼精，若下焦氣逆諸病，亦可縮小便，亦能通秘結，亦能止氣逆之動血，亦能消氣逆之癰腫。</p>

<h2>藿香</h2>
<p>味辛、微甘，氣溫。氣味俱薄，陽也，可升可降。此物香甜不峻，善快脾順氣，開胃口，寬胸膈，進飲食，止霍亂嘔吐，理肺化滯；加烏藥等劑亦能健脾，入四君同煎能除口臭；亦療水腫，亦解酒穢。</p>

<h2>香附</h2>
<p>味苦、辛、微甘，氣溫。氣味俱厚，陽中有陰，血中氣藥也。專入肝、膽二經，兼行諸經之氣。用此者用其行氣血之滯。童便炒，欲其下行；醋炒，則理氣痛。開六郁，散寒邪，利三焦，行結滯，消飲食、痰涎、痞滿腹脹、胕腫腳氣，止心腹、肢體、頭目、齒耳諸痛，療霍亂吐逆、氣滯泄瀉及吐血、下血、尿血、婦人崩中帶下、經脈不調、胎前產後氣逆諸病。因能解鬱，故曰婦人之要藥。然其味辛而動，若陰虛燥熱而汗出血失者，概謂其要則大誤矣。此外，凡癰疽、瘰癧、瘡瘍，但氣滯不行者，皆宜用之為要藥。</p>

<h2>砂仁</h2>
<p>味辛、微苦，氣溫。和脾行氣，消食逐寒，除霍亂，止噁心，消脹滿，安氣滯之胎，卻腹痛，治藏寒之瀉，止小便、泄痢，快胸膈，開痰，平氣逆咳嗽、口齒浮熱，止女子崩中、鬼氣奔豚。欲其溫暖，須用炒研。入肺、腎、膀胱，各隨使引。亦善消化銅鐵、骨哽。</p>

<h2>紫蘇</h2>
<p>（注：附紫蘇梗、紫蘇子）</p>
<p>味辛，氣溫。氣味香竄者佳。用此者用其溫散。解肌發汗，祛風寒甚捷，開胃下食，治脹滿亦佳，順氣宜用，口臭亦闢，除霍亂轉筋，祛腳氣，通大小腸，消痰利肺，止痛溫中，安胎，定喘，解魚蟹毒，治蛇犬傷。或作羹，或生食，俱可。</p>
<p>梗，能順氣，其性緩，體虛者可用。</p>
<p>子，性潤而降，能潤大便，消痰喘，除五膈，定霍亂，順氣滯。</p>

<h2>薄荷</h2>
<p>味辛、微苦，氣微涼。氣味俱輕，升也，陽也。其性涼散，通關節，利九竅，乃手厥陰、太陰經藥。清六陽會首，散一切毒風，治傷寒頭痛寒熱，發毒汗，療頭風、腦痛，清頭目、咽喉、口齒風熱諸病，除心腹惡氣脹滿、霍亂，下氣，消食，消痰，辟邪氣穢惡，引諸藥入營衛，開小兒之風涎，亦治瘰癧、癰腫、瘡疥、風瘙癮疹。作菜食之，除口氣；搗汁含漱，去舌胎、語澀；揉葉塞鼻，止衄血。亦治蜂螫蛇傷。病新痊者忌用，恐其泄汗亡陽。</p>

<h2>荊芥</h2>
<p>味辛、苦，氣溫。氣厚味薄，浮而升，陽也。用此者用其辛散調血。能解肌發表，退寒熱，清頭目，利咽喉，破結氣，消飲食，通血脈，行瘀滯，助脾胃，闢諸邪毒氣，醒酒，逐濕，療頭痛、頭旋、脊背疼痛、手足筋急、𤸷痹腳氣、筋骨煩疼、風濕疝氣，止下血、血痢、崩淋、帶濁。若產後中風強直，宜研末、酒服，甚妙；搗爛，醋調，敷疔瘡腫毒最佳；亦鼠瘻、瘰癧、血風瘡疥必用之要藥。</p>

<h2>白芷</h2>
<p>味辛，氣溫。氣厚味輕，升也，陽也。其性溫散，敗毒，逐陽明經風寒邪熱，止頭痛頭風、頭眩、目痛、目癢淚出，散肺經風寒、皮膚斑疹燥癢，治鼻⿰鼻丸、鼻淵、齒痛、眉稜骨痛、大腸風秘、腸風、尿血；其氣辛香達表，故治瘡瘍，排膿止癢定痛，托癰疽、肺癰、瘰癧、痔瘻，長肉生肌。炒黑用之，提女人血崩、漏下赤白、血閉陰腫；欲去䵟斑，宜以生用，可作面脂。亦治蛇傷、砒毒、金瘡傷損。</p>

<h2>香薷</h2>
<p>味苦、辛，氣寒。氣輕，能升能降。散暑熱、霍亂、中脘絞痛、小便澀難，清肺熱，降胃火，除躁煩，解鬱滯。為末水服，可止鼻衄；煮汁頓飲，可除風熱轉筋，去口臭；濕熱水腫者可消。中寒陰臟者須避之。</p>

<h2>益智</h2>
<p>氣味辛，溫。能調諸氣，闢寒氣，治客寒犯胃，暖胃和中，去心腹氣滯疼痛，理下焦虛寒，溫腎氣。治遺精、餘瀝、夢泄、赤白帶濁及夜多小便者，取二十餘枚，研碎、入鹽少許同煎，服之有奇驗。此行陽退陰之藥，凡脾寒不能進食及三焦命門陽氣衰弱者，皆宜之。然其行性多、補性少，必兼補劑用之斯善，若單服、多服，未免過於散氣。</p>

<h2>鬱金</h2>
<p>味苦、辛，氣溫。善下氣、破惡血、去血積，止吐血、衄血、血淋、尿血及失心癲狂、蠱毒。單用，治婦人冷氣血積、結聚氣滯、心腹疼痛及產後敗血衝心欲死，或散，或丸，或以韭汁、薑汁、童便井花水俱可，隨宜調服；若治痔漏腫痛，宜水調敷之；耳內腫痛宜水調灌入，少頃傾出即可愈。</p>

<h2>薑黃</h2>
<p>味苦、辛，性熱。善下氣破血，除心腹氣結、氣脹、冷氣、食積疼痛，亦治癥瘕血塊，通月經、產後敗血攻心及撲損瘀血，祛邪辟惡，散風熱，消癰腫。功與鬱金稍同而氣味則尤烈。</p>

<h2>澤蘭</h2>
<p>味微苦、微辛。善清血、和血。治吐血、衄血，療婦人產前產後諸血不調，破宿血，除腹痛，清新血，利關節，通水道，除癥瘕，消撲損瘀血，並治金瘡、癰腫瘡膿。用在清和，故為婦人要藥。</p>

<h2>藁本</h2>
<p>味甘、辛，性溫。氣厚味薄，升也，陽也。療諸惡風鬼注，除太陽頂巔頭痛、大寒犯腦、痛連齒頰及鼻麵皮膚酒齄、䵟刺、風濕泄瀉、冷氣腰疼、婦人陰中風邪腫痛。此足太陽經風癇、霧露瘴疫之要藥。</p>

<h2>蓽茇</h2>
<p>味辛，大熱。陽也，浮也。入手、足陽明，亦入肝、腎。善溫中下氣，除胃冷，闢陰寒，療霍亂、心腹疼痛、冷痰嘔逆吞酸及虛寒瀉痢腸鳴。其味大辛，須同參、朮、歸、地諸甘溫補劑用之尤效。為末搐鼻可解偏風頭痛；揩齒可殺牙痛、牙蟲。又牛乳煎，治唐太宗氣痢方詳列痢疾門。</p>

<h2>良薑</h2>
<p>（子名紅豆蔻）</p>
<p>味辛，熱。純陽，浮也。入足太陰、陽明。治胃中逆冷、嘔吐清水、噁心、霍亂、氣寒腹痛，解酒毒，消宿食，健脾胃，寬噎嗝，除反胃，破冷癖，解瘴瘧，療轉筋瀉痢。同草豆蔻煎飲，亦治口臭。</p>
<p>子名紅豆蔻，治用略同。</p>

<h2>三稜</h2>
<p>氣味苦，平。能行血中之氣，善破積氣，逐瘀血，消飲食脹滿、氣滯腹痛，除痃癖癥瘕、積聚結塊，通月水，亦墮胎及產後惡血、撲損瘀血，並治瘡腫堅硬。制宜醋浸、炒熟，入藥。此與蓬朮稍同，但蓬朮峻而此則差緩耳。</p>

<h2>蓬朮</h2>
<p>（一名蓬莪荗）</p>
<p>味苦、辛，氣溫。有小毒。走肝經。善破氣中之血，通月經，消瘀血，療跌撲損傷、血滯作痛。在中焦，攻飲食氣滯不消、胃寒吐酸膨脹；在下焦，攻奔豚、痃癖、冷氣積聚、氣腫、水腫。制宜或酒、或醋炒用，或入灰火中煨熟，搗切亦可。但其性剛氣峻，非有堅頑之積不宜用。</p>

<h2>蛇床子</h2>
<p>味微苦、氣辛，性溫。乃少陽、三焦、命門之藥。辛能去風，暖能溫腎，故可溫中下氣，和關節，除疼痛，開鬱滯，療陰濕惡瘡、疥癬，縮小便，去陰汗，止帶濁，逐寒疝，漱齒痛，治男子陽痿腰疼，大益陽事，女人陰中腫痛，善暖子宮，男婦陽衰無子、小兒驚癇、撲損俱可服。去皮殼，微炒用之。凡治外證瘙癢腫痛、風瘡，俱宜煎湯薰洗，亦可為末摻敷。俱宜生用。</p>

<h1>蔓草部</h1>

<h2>天門冬</h2>
<p>味苦、微甘，氣大寒。味厚氣薄，沉也，陰也。入肺、腎兩經，除虛勞內熱；其味苦寒，故上定熱喘，下去熱淋，苦殺三蟲；潤滋骨髓，解渴除煩，消痰止嗽，降火保肺，退熱滋陰，大潤血熱燥結。虛寒假熱、脾腎溏泄最忌。使宜貝母、地黃。去皮、去心方用。</p>

<h2>兔絲子</h2>
<p>味甘、辛，氣微溫。其性能固。入肝、脾、腎三經。先用甜水淘洗淨、浸脹，次用酒漬、煮熟、曬乾，炒之更妙。補髓添精，助陽固泄，續絕傷，滋消渴，縮小便，止夢遺、帶濁、餘瀝，暖腰膝寒疼，壯氣力筋骨，明目，開胃進食，肥肌，禁止鬼交，尤安夢寐。湯液、丸散任意可用，古人不入煎劑亦一失也。欲止消渴，煎湯任意飲之。</p>

<h2>五味子</h2>
<p>皮甘、肉酸、性平而斂；核仁味辛、苦，性溫而暖。俱兼鹹味，故名五味。入肺、腎二經。南者：治風寒咳嗽；北者：療虛損勞傷；整用者：用其酸，生津解渴，止瀉除煩，療耗散之肺金，滋不足之腎水，能收斂虛火，亦解除酒毒；敲碎者：用其辛溫，補元陽，壯筋骨，助命門，止霍亂。但感寒初嗽當忌，恐其斂束不散；肝旺吞酸當忌，恐其助木傷土。</p>

<h2>何首烏</h2>
<p>味甘、澀、微苦。陰中有陽，性溫。此其甘能補，澀能固，溫能養陽。雖曰肝腎之藥，然白者入氣分，赤者入血分。凡血氣所在，則五陰之臟何所不至！故能養血，養神，助氣，壯筋骨，強精髓，黑鬚發。亦治婦人帶濁、失血、產後諸虛等疾。第其效稍緩，暫服若不甚顯，必久服之，誠乃延年益壽，滋生助嗣之良劑。至如斷瘧疾，安久痢，活血治風，療癰腫、瘰癧、風濕、瘡瘍及一切冷氣、腸風宿疾，總由其溫固收斂之功，血氣固則真元復，真元復則邪自散也。故唐之李翱著有《何首烏傳》，即李時珍亦曰：此物不寒不燥，功在地黃、門冬之上，誠非誣也。若其制用之法，則有用黑豆層鋪，九蒸九曬者；有單用米泔浸三宿，切焙為末而用者；有用壯健人乳拌曬三次，生杵為末而用者。總之，生不如熟，即單用米泔浸透、蒸之極熟，則善矣；或不必人乳與豆也。服此之後，須忌生蘿蔔並諸血、敗血等物。</p>

<h2>瓜蔞仁</h2>
<p>味甘，氣寒。氣味俱厚，性降而潤。能降實熱痰涎，開鬱結氣閉，解消渴，定脹喘，潤肺止嗽。但其氣味悍劣，善動，噁心嘔吐、中氣虛者不宜用。《本草》言其補虛勞，殊為大謬。</p>

<h2>天花粉</h2>
<p>（即瓜蔞根）</p>
<p>味苦，性寒。氣味頗輕，有升有降，陰中有陽。最涼心肺，善解熱渴，大降膈上熱痰，消乳癰腫毒、痔瘻、瘡癤，排膿生肌長肉，除跌撲瘀血，通月水，除狂熱，去黃疸，潤枯燥，善解酒毒，亦通小腸，治肝火疝痛。</p>

<h2>金銀花</h2>
<p>（一名忍冬）</p>
<p>味甘，氣平，其性微寒。善於化毒，故治癰疽腫毒、瘡癬楊梅、風濕諸毒，誠為要藥。毒未成者能散，毒已成者能潰。但其性緩，用須倍加，或用酒煮服，或搗汁攙酒頓飲，或研爛拌酒厚敷。若治瘰癧、上部氣分諸毒，用一兩許，時常煎服，極效。</p>

<h2>葛根</h2>
<p>味甘，氣平、寒。氣輕於味，浮而微降，陽中微陰。用此者用其涼散，雖善達諸陽經，而陽明為最。以其氣輕，故善解表發汗，凡解散之藥多辛熱，此獨涼而甘，故解溫熱時行疫疾，凡熱而兼渴者，此為最良，當以為君，而佐以柴、防、甘、桔極妙。尤散鬱火，療頭痛，治溫瘧往來、瘡疹未透，解酒除煩，生津止渴，除胃中熱狂，殺野葛、巴豆毒、箭、金瘡等傷。但其性涼易於動嘔，胃寒者所當慎用。</p>

<h2>茜草</h2>
<p>（亦名過山龍）</p>
<p>味苦、甘，氣微寒。陰中微陽，血中要藥。其味苦，故能行滯血；其性涼，故能止動血。治勞傷吐衄時來，除虛熱漏崩不止，亦通經滯，又療乳癰，散跌撲血凝瘀聚，解蠱毒、敗血、爛肝，凡諸血熱、血瘀，並建奇功。若女人經血不通，以一兩酒煎服之，一日即通，甚效。若氣虛不攝血及脾寒者，勿用。</p>

<h2>土茯苓</h2>
<p>（一名仙遺糧）</p>
<p>味甘、淡，性平。能健脾胃，強筋骨，去風濕，利關節，分水道，止瀉痢，治拘攣骨痛，療癰腫、喉痹，除周身寒濕惡瘡，尤解楊梅瘡毒及輕粉留毒、潰爛疼痛諸症。凡用（注：原為治，改）此者，須忌茶、酒、牛、羊、雞、鵝及一應發風動氣等物。</p>

<h2>使君子</h2>
<p>味甘，氣溫。有小毒。性善殺蟲，治小兒疳積、小便白濁。凡大人、小兒有蟲病者，但於每月上旬侵晨，空腹食數枚，或即以殼煎湯嚥下，次日蟲皆死而出也；或云七生、七煨食亦良；或云一歲食一枚。食後忌飲熱茶，犯之即作瀉；凡小兒食此亦不宜頻而多，大約性滑，多則能傷脾也。李時珍曰：「凡殺蟲藥多是苦辛，惟使君子、榧子甘而殺蟲，亦異也。」但使君子專殺蛔蟲，榧子專殺寸白蟲耳。</p>

<h2>牽牛</h2>
<p>（一名黑醜）</p>
<p>味苦、辛，熱。氣雄烈，性急疾，有毒。下氣逐水，通大小便，善走氣分。通水道，消氣實、氣滯水腫，攻症積，落胎，殺蟲，瀉蟲毒，去濕熱痰飲，開氣秘氣結。古方多為散、丸，若用救急亦可佐群藥煎服，然大泄元氣，凡虛弱之人須忌之。</p>

<h2>防己</h2>
<p>味苦，性寒。陰也，降也。去濕熱水腫，利大小便，解諸經熱壅腫痛、濕熱腳氣，通九竅熱閉，逐膀胱、肝、腎濕熱及熱毒諸瘡、濕熱生蟲等證。</p>

<h2>萆薢</h2>
<p>味微甘而淡，氣溫。能溫腎去濕，理陰痿陰寒、失溺白濁、莖中作痛及四肢癱瘓不隨、周身風濕惡瘡。性味純緩，用宜大劑。</p>

<h2>釣藤</h2>
<p>味微甘、微苦，性微寒。能清手厥陰之火，足厥陰、足少陽之風熱，故專理肝風、相火之病。凡大人、小兒驚癇、眩暈、斑疹、天釣、頭旋、煩熱等證，用之而風靜火息，則諸證自除矣。</p>

<h2>山豆根</h2>
<p>味大苦，大寒。解諸藥熱毒，消癰腫瘡毒，殺寸白諸蟲。含而咽汁，解咽喉痹痛；研末、湯服五、七分，解內熱喘滿、腹脹；磨汁服，解厥心痛；研汁，塗諸熱毒熱瘡腫痛及諸蟲熱毒所傷。</p>

<h2>威靈仙</h2>
<p>味微辛、微咸，性溫。可升可降，陰中陽也。善逐諸風，行氣血，走經絡，宣通五臟，去腹內冷滯、心膈痰水、癥瘕痃癖、氣塊積聚、膀胱宿水、腰膝肢體冷痛，亦療折傷。此藥性利善走，乃治痛風之要藥，故崔元亮言其去眾風，通十二經脈，朝服暮效。其法採得根，陰乾月餘，搗末，溫酒調服一錢匕，空腹服之；如人本性殺藥，可加及六錢，微利兩行則減之，病除乃停藥。其性甚善，不觸諸藥，但惡茗及麵湯。李時珍曰：「威靈仙，辛能泄氣，咸能泄水，故於風濕、痰飲之病，氣壯者服之有捷效。」其性大抵峻利，久服恐損真氣，氣弱者亦不可服之。</p>

<h2>馬兜鈴</h2>
<p>味微苦、微辛，性寒。氣薄，陰中微陽。入手太陰肺經。降肺火，清肺氣，除熱痰咳嗽、喘急不得臥。多用則作吐。凡盅毒、蛇毒於飲食中得之，咽中如有物咽不下、吐不出者，以此一兩煎湯服之，即毒從吐出。若治痔瘻腫痛，用馬兜鈴於瓶中燒煙薰病處，良。</p>

<h2>青木香</h2>
<p>（即馬兜鈴根，亦名土木香）</p>
<p>味苦、微辛，性寒，有毒。能吐能利，不可多服。煮汁服，可吐蠱毒、鬼疰諸毒；搗末、水調，塗疔腫熱毒、蛇毒，日三、四次立瘥；亦可敷瘙癢禿瘡。</p>

<h2>白蘞</h2>
<p>味苦，微寒，性斂。取根搗敷癰毒及面上瘡疱；刀箭傷、湯火毒、諸瘡不斂，生肌止痛，俱宜為末敷之；若為丸散，亦治眼目赤痛、小兒驚癇、婦人陰中腫痛、赤白帶下。</p>

<h2>木通</h2>
<p>（亦名通草）</p>
<p>味苦，氣寒。沉也，降也。能利九竅，通關節，消浮腫，清火退熱，除煩渴、黃疸，治耳聾目痛、天行時疾、頭痛鼻塞、目眩，瀉小腸火鬱，利膀胱熱淋，導痰濕嘔噦，消癰腫壅滯、熱毒惡瘡，排膿止痛，通婦人血熱經閉，下乳汁，消乳癰、血塊，催生下胎。若治小水急數疼痛、小腹虛滿，宜加蔥煎飲；若治喉痹咽痛，宜濃煎含咽。</p>

<h1>毒草部</h1>

<h2>附子</h2>
<p>氣味辛、甘，醃者大咸，性大熱。陽中之陽也。有毒。畏人參、黃耆、甘草、黑豆、綠豆、犀角、童便、烏韭、防風。其性浮中有沉，走而不守，因其善走諸經，故曰與酒同功。能除表裡沉寒、厥逆寒噤，溫中強陰，暖五藏，回陽氣，除嘔噦、霍亂、反胃、噎膈、心腹疼痛脹滿、瀉痢、肢體拘攣、寒邪濕氣、胃寒蛔蟲、寒痰、寒疝、風濕麻痹、陰疽癰毒、久漏冷瘡、格陽喉痹、陽虛二便不通及婦人經寒不調、小兒慢驚等證。大能引火歸源，制伏虛熱。善助參耆成功，尤贊術地建效。無論表證、里證，但脈細無神、氣虛無熱者所當急用，故虞摶曰：「附子稟雄壯之質，有斬關奪將之氣，能引補氣藥行十二經以追復散失之元陽；引補血藥入血分以滋養不足之真陰；引發散藥開腠理以驅逐在表之風寒；引溫暖藥達下焦以祛除在裡之冷濕。」吳綬曰：「附子乃陰證要藥，凡傷寒傳變三陰及中寒夾陰，雖身大熱而脈沉者必用之，或厥冷脈沉細者尤急須用之。有退陰回陽之力，起死回生之功。近世陰證傷寒往往疑似而不敢用，直待陰極陽竭而用已遲矣！且夾陰傷寒內外皆陰，舍此不用將何以救之。」此二公之言皆至言也，不可不察。惟孕婦忌服，下胎甚速。合蔥涎塞耳，亦可治聾。</p>
<p>辨製法：附子製法，稽之古者，則有單用童便煮者，有用薑汁、鹽水者，有用甘草、黃連者，有數味皆兼而用者，其中宜否最當詳辨。夫附子之性熱而剛急，走而不守，土人醃以重鹽，故其味鹹而性則降。今之所以用之者，正欲用其熱性以回元陽，以補脾腎，以行參、耆、熟地等功。若制以黃連則何以藉其回陽，若制以鹽水則反以助其降性，若制以童便則必不免於尿氣，非惟更助其降，而凡脾氣大虛者極易嘔噦，一聞其臭便動噁心，是藥未入口而先受其害，且其沉降尤速，何以達脾？惟是薑汁一制頗通，第其以辛助辛似欠和平，若果直中陰寒等證，欲用其熱，此法為良；至若常用而欲得其補性者，不必用此。又若煮法，若不浸脹而煮，則其心不能熟，即浸脹而煮及其心熟，則邊皮已太熟而失其性矣，雖破而為四煮亦不勻，且煮者必有汁，而汁中所去之性亦已多矣，皆非制之得法者。</p>
<p>製法：用甘草不拘，大約酌附子之多寡而用。甘草煎極濃甜湯，先浸數日，剝去皮臍，切為四塊，又添濃甘草湯再浸二、三日，捻之軟透，乃咀為片入鍋，文火炒至將干，庶得生熟勻等，口嚼尚有辣味，是其度也。若炒太乾則太熟而全無辣味，並其熱性全失矣，故制之太過，則但用附子之名耳，效與不效無從驗也。其所以必用甘草者，蓋以附子之性急，得甘草而後緩附子之性毒，得甘草而後解；附子之性走，得甘草而後益心脾；附子之性散，得甘草而後調營衛。此無他，亦不過濟之以仁而後成其勇耳。若欲急用，以厚紙包裹，沃甘草湯，或煨、或炙，待其柔軟，切開，再用紙包，頻沃，又炙以熟為度；亦有用麵裹而煨者亦通。若果真中陰寒、厥逆將危者，緩不及制，則單用炮附，不必更用他制也。</p>
<p>辨毒：附子之性，剛急而熱，制用失宜，難云無毒，故欲制之得法。夫天下之製毒者，無妙於火。火之所以能製毒者，以能革物之性，故以氣而遇火則失其氣，味而遇火則失其味，剛者革其剛，柔者失其柔，故制附之法，但用白水煮之極熟，則亦全失辣味，並其熱性俱失，形如蘿蔔可食矣，尚何毒之足慮哉！今制之必用甘草者，蓋欲存留其性而柔和其剛耳。今人但知附子之可畏，而不知太熟之無用也，故凡食物之有毒者，但製造極熟便當無害，即河豚、生蟹之屬，諸有病於人者，皆其欠熟而生性之未盡也，故凡食物之有毒者，皆可因此以類推矣。至若藥劑之中有當煅煉而用者又何以然？大凡（注：凡，原漏，補）物之經火煅者，其味皆咸澀，而所以用煅者，非欲去其生剛之性，則欲用其咸澀之味；而留性與不留性則其中各有宜否，故凡當煅煉而用者，皆可因此以類推矣。又如藥之性毒者，何可不避？即如本草所云某有毒、某無毒，余則甚不然之，而不知無藥無毒也，故熱者有熱毒、寒者有寒毒，若用之不當，凡能病人者無非毒也，即如家常茶飯本皆養人之正味，其或過用、誤用亦能毒人，而況以偏味、偏性之藥乎？但毒有大小，用有權宜，此不可不察耳。矧附子之性雖云有毒，而實無大毒，但製得其法、用得其宜，何毒之有？今之人不知其妙，且並人參、熟地而俱畏之。夫人參、熟地、附子、大黃實乃藥中之四維，病而至於可畏，勢非庸庸所濟者，非此四物不可。設若逡巡，必誤乃事，今人直至必不得已而後用附子，事已無濟矣！事無濟則反罪之，將附子誠廢物乎？嗟！夫人之所以生者，陽氣耳，正氣耳；人之所以死者，陰氣耳，邪氣耳。人參、熟地者，治世之良相也；附子、大黃者，亂世之良將也。兵不可久用，故良將用於暫；亂不可忘治，故良相不可缺。矧夫附子雖烈，而其性扶陽，有非硝黃之比；硝黃似緩，而其性陰泄，又非桂附可例。華元化曰：「得其陽者生，得其陰者死。」《內經》曰：「門戶不要，是倉廩不藏也；得守者生，失守者死。」今之人履芒硝、大黃若坦途，視參、附、熟地為蛇蠍，愚耶？知耶？</p>

<h2>白附子</h2>
<p>味甘、辛，大溫。有小毒。其性升，能引藥勢上行，闢頭風、諸風、冷氣心疼、風痰眩暈、帶濁，療小兒驚風痰搐及面鼻遊風、䵟斑、風刺，去面痕，可作面脂；亦治疥癬風瘡、陰下濕癢、風濕諸病。凡欲入藥，炮而用之。</p>

<h2>大黃</h2>
<p>味苦，氣大寒。氣味俱厚，陰中之陰，降也。有毒。其性推陳致新，直走不守，奪土鬱壅滯，破積聚堅症，療瘟疫陽狂，除斑黃譫語，滌實痰，導瘀血，通水道，退濕熱，開燥結，消癰腫，因有峻烈威風，積垢蕩之頃刻。欲速者生用，湯泡便吞；欲緩者熟用，和藥煎服。氣虛同以人參，名黃龍湯；血虛同以當歸，名玉燭散。佐以甘草、桔梗，可緩其行；佐以芒硝、厚朴，益助其銳。用之多寡，酌人實虛，假實誤用，與鳩相類。</p>

<h2>常山</h2>
<p>味大苦，性寒。有毒。攻溫瘧、痰瘧及傷寒寒熱痰結、氣逆狂癇、癲厥。惟胸腹多滯、邪實氣壯而病瘧者宜之，若老人、弱人俱當忌用，蓋此物性悍，善逐痰飲，得甘草則上行發吐，得大黃則下行發瀉也。亦治鬼毒、蠱毒及頭項瘰癧、鼠瘻。</p>

<h2>半夏</h2>
<p>味大辛、微苦，氣溫。可升可降，陽中陰也。有毒。其質滑潤，其性燥濕降痰。入脾、胃、膽經。生嚼戟喉，制用生薑。下肺氣，開胃健脾，消痰飲痞滿，止咳嗽上氣、心痛、脅痛，除嘔吐反胃、霍亂轉筋、頭眩、腹脹、不眠、氣結痰核腫突，去痰厥頭痛，散風閉喉喑，治脾濕泄瀉、遺精、帶濁，消癰疽腫毒，殺蜈蚣、蜂蠆蟲毒。性能墮胎，孕婦雖忌，然胃不和而嘔吐不止，加薑汁微炒，但用無妨。若消渴煩熱及陰虛血證最忌，勿加。李時珍曰：「半夏能主痰飲及腹脹者，為其體滑、味辛而性溫也，滑則能潤，辛溫能散亦能潤，故行濕而通大便，利竅而泄小便，所謂辛走氣能化液，辛以潤之是矣。丹溪曰：『二陳湯能使大便潤而小便長。』成聊攝云：『半夏辛而散，行水而潤腎燥。』又《局方》用半硫丸治老人虛秘，皆取其滑潤也，世俗皆以半夏、南星為性燥，誤矣，濕去則土燥，痰涎不生，非二物之性燥也。古方治咽痛喉痹、吐血下血，多用二物，非禁劑也。二物亦能散血，故破傷打撲皆主之。」</p>

<h2>南星</h2>
<p>味苦、辛，氣溫。可升可降，陽中陰也。性烈，有毒。薑汁製用，善行脾、肺，墜中風實痰，利胸膈下氣，攻堅積，治驚癇，散血墮胎；水磨，箍蛇蟲咬毒；醋調，散腫；破傷風、金瘡、折傷瘀血宜傅之。功同半夏，酌用可也。</p>

<h2>膽星</h2>
<p>七制、九制者方佳。降痰因火動如神，治小兒急驚必用。總之，實痰、實火壅閉上焦而氣喘煩躁、焦渴脹滿者所當必用。較之南星味苦、性涼，故善解風痰熱滯。</p>

<h2>射干</h2>
<p>味苦，性寒。有毒。陰也，降也。治咳逆上氣、喉痹咽疼，散結氣不得息，除胸腹邪熱脹滿，清肝明目，消積痰結核、痃癖、熱疝，降實火，利大腸，消瘀血，通女人經閉。苦酒磨塗，可消腫毒。</p>

<h2>大戟</h2>
<p>味苦，大寒。有毒。反甘草，性峻利。善逐水邪、痰涎，瀉濕熱脹滿，消急痛，破癥結，下惡血，攻積聚，通二便，殺蠱毒、藥毒，療天行瘟瘧、黃病及頸腋癰腫。然大能瀉肺、損真氣，非有大實堅者不宜輕用；若中其毒，惟菖蒲可以解之。</p>

<h2>甘遂</h2>
<p>味苦，性寒。有毒。反甘草。專於行水，能直達水結之處，如水結胸者非此不除，若留痰、留飲、宿食、癥堅積聚無不能逐，故善治水腫腹腳（注：治水二字，原脫，補）、陰囊腫脹，去面目浮腫，通二便，瀉膀胱濕熱及痰逆癲癇、噎膈痞塞。然性烈傷陰，不宜妄用。</p>

<h2>芫花</h2>
<p>（反甘草）（注：附芫花根）</p>
<p>味苦，微溫。有毒。專逐五臟之水，去水飲寒痰、痰癖脅下痛、咳逆上氣、心腹肢體脹滿、瘴瘧、鬼瘧、濕毒、寒毒、蠱毒、肉毒、蟲魚毒，除疝瘕、癰腫，逐惡血，消咽腫。根療瘡疥，亦可毒魚。若搗汁浸線，亦能系落痔瘡。惟其多毒，虛者不可輕用。</p>

<h2>玉簪</h2>
<p>味甘、辛，性寒。有小毒。用根搗汁，解一切諸毒，下一切骨哽，塗消癰瘍。婦人乳癰初起，但取根擂酒服之，仍以渣敷腫處即消。然性能損齒，故亦可落齒取牙。</p>

<h2>鳳仙花</h2>
<p>（注：附急性子）</p>
<p>味微苦，性微溫。有小毒。子名急性子。治產難下胎，消積塊，開噎膈，下骨哽，亦善透骨通竅，故又名透骨草。若欲取牙，但用子研末、入砒少許，點疼牙根即可取之。然此不生蟲蠹，即蜂蝶亦不近，似非無毒者也。</p>

<h2>蓖麻子</h2>
<p>味甘、辛，性熱。有毒。能逐風散毒，療口眼喎斜、失音口噤、腫毒丹瘤、針刺入肉，止痛消腫，追膿拔毒，俱可研貼；若治舌腫喉痹，宜研爛、紙卷，燒煙薰吸，立通；催生下胎，可同麝香、巴豆研貼臍中。李時珍曰：「一人病偏風，手足不舉，用此油同羊脂、麝香、穿山甲煎膏，日摩數次，兼服搜風養血之藥而愈。一人病手臂一塊腫痛，用此搗膏貼之，一夜而愈。一人病氣鬱偏頭痛，用此同乳香、食鹽搗貼太陽一夜，痛止。一婦產後子腸不收，搗仁貼其丹田，一夜而上。此藥外用屢奏奇效，但內服不可輕率爾。或云搗膏以箸點於鵝、鴨六畜舌根下即不能食，點於肛門內即下血，死，其毒可知。」凡服蓖麻者，一生不得食炒豆，犯之必脹死。</p>

<h2>續隨子</h2>
<p>（一名千金子）</p>
<p>味辛，性溫。有毒。能逐瘀血，消痰飲、食積、癥瘕、痃癖，除蠱毒、鬼疰、水氣、冷氣心腹脹滿疼痛、腹內諸疾，利大小腸，祛惡滯及婦人血結、血閉、瘀血等證。研碎、酒服，不過三顆，當下惡物，甚者十粒；若瀉多，以酸漿水或薄醋粥食之即止。亦可研塗疥癬惡瘡。此物之功，長於逐水、殺蟲，是亦甘遂、大戟之流也。</p>

<h2>木鱉子</h2>
<p>（注：附番木鱉）</p>
<p>味苦、微甘、微辛，氣雄劣，性大寒。有大毒。本草言其「甘溫，無毒」，謬也。今見毒狗者能斃之於頃刻，使非大毒而有如是乎？人若食之則中寒發噤，不可解救。按劉績《霏雪錄》云：「木鱉子有毒，不可食。昔一薊門人有兩子患痞，食之，相繼皆死。」此不可不慎也。若其功用，則惟以醋磨，用敷腫毒乳癰、痔漏腫痛及喉痹腫痛；用此醋漱於喉間，引痰吐出以解熱毒，不可嚥下；或同硃砂、艾葉捲筒，薰疥殺蟲最效；或用熬麻油，擦癬亦佳。</p>
<p>番木鱉，味極苦，性大寒。大毒。功用與木鱉大同，而寒烈之性尤甚。</p>

<h1>水石草部</h1>

<h2>石斛</h2>
<p>此藥有二種，力皆微薄。圓細而肉實者，味微甘而淡，其力尤薄。《本草》云：圓細者為上。且謂其：益精強陰，壯筋補虛，健腳膝，驅冷痹，卻驚悸，定心志。但此物性味最薄，焉能滋補如此？惟是扁人（注：「人」，義不可解，當為誤植）而鬆，形如釵股者，頗有苦味，用除脾胃之火，去嘈雜善飢及營中蘊熱，其性輕清和緩，有從容分解之炒，故能退火養陰除煩，清肺下氣，亦止消渴熱汗。而諸家謂其厚腸胃、健陽道、暖水臟，豈苦涼之性味所能也？不可不辨。</p>

<h2>菖蒲</h2>
<p>味辛、微苦，性溫。散風寒濕痹，除煩悶、咳逆上氣，止心腹痛、霍亂轉筋、癲癇、客忤，開心氣、胃氣，行滯氣，通九竅，益心智，明耳目，去頭風、淚下，出聲音，溫腸胃，暖丈夫水臟、婦人血海，禁止小便，辟邪逐鬼及中惡卒死，殺蟲，療惡瘡、瘙疥。欲散癰毒，宜搗汁服，用渣貼之；若治耳痛，宜作末、炒熱，絹裹罯之。亦解巴豆、大戟等毒。</p>

<h2>蒲黃</h2>
<p>味微甘，性微寒。解心腹、膀胱煩熱疼痛，利小便，善止血，涼血，活血，消瘀血。治吐血、衄血、痢血、尿血，通婦人經脈，止崩中帶下、月經不調、妊婦胎漏、墜胎、血運、血症、兒枕氣痛及跌僕血悶，療瘡瘍，消舌腫，排膿消毒，亦下乳汁，亦止泄精。凡欲利者，宜生用；欲固者，宜炒熟用。</p>

<h2>澤瀉</h2>
<p>味甘、淡，微咸，氣微寒。氣味頗厚，沉而降，陰也，陰中微陽。入足太陽、少陽。其功長於滲水去濕，故能行痰飲，止嘔吐、瀉痢，通淋瀝、白濁，大利小便，瀉伏火，收陰汗，止尿血，療難產、疝痛、腳氣腫脹，引藥下行。《經》云：除濕止渴聖藥，通淋利水仙丹。第其性降而利，善耗真陰，久服能損目痿陽；若濕熱壅閉而目不明者，此以去濕，故亦能明目。</p>

<h2>海藻</h2>
<p>（反甘草。海帶、昆布性用略同）</p>
<p>味苦、咸，性微寒。陰也，降也。善降氣清熱，消膈中痰壅，故善消頸項癭瘤結核及癰腫癥積，利小便，逐水氣，治濕熱氣急、腹中上下雷鳴，療偏墜疝氣疼痛，消奔豚、水氣浮腫及百邪鬼魁熱毒。</p>

<h2>骨碎補</h2>
<p>味微苦，性溫，平。乃足少陰、厥陰肝、腎藥也。能活血，止血，補折傷，療骨中邪（注：原為斜，改）毒、風熱疼痛及痢後下虛。或遠行、或房勞、或外感風濕以致兩足痿弱疼痛，俱宜以四斤丸、補陰藥之類佐而用之；或炒熟研末，用豬腰夾煨，空心食之，能治耳鳴及腎虛久痢、牙痛。</p>

<h1>竹木部</h1>

<h2>竹瀝</h2>
<p>味甘，性微涼。陰也，降也。治暴中風痰、失音不語、胸中煩熱，止煩悶、消渴。丹溪曰：「凡風痰、虛痰在胸膈，使人癲狂及痰在經絡四肢、皮裡膜外者，非此不達不行。」</p>

<h2>淡竹葉</h2>
<p>味甘、淡，氣平、微涼。陰中微陽，氣味俱輕。清上氣咳逆喘促，消痰涎，解熱狂，退虛熱、煩躁不眠、壯熱頭痛，止吐血；專涼心經，亦清脾氣，卻風熱，止煩渴，生津液，利小水，解喉痹並小兒風熱驚癇。</p>

<h2>淡竹茹</h2>
<p>味甘，微涼。治肺痿唾痰唾血、吐血、衄血、尿血、胃熱嘔噦、噎膈、婦人血熱崩淋、胎動及小兒風熱癲癇、痰氣喘咳、小水熱澀。</p>

<h2>天竺黃</h2>
<p>味甘、辛，性涼。降也。陰中有陽。善開風痰，降熱痰，治中風失音、痰滯胸膈、煩悶、癲癇，清心火，鎮心氣，醒脾疏肝，明眼目，安驚悸，療小兒風痰急驚客忤。其性和緩，最所宜用。亦治金瘡並內熱藥毒。</p>

<h2>官桂</h2>
<p>（注：附桂枝、肉桂）</p>
<p>味辛、甘，氣大熱。陽中之陽也。有小毒。必取其味甘者乃可用。桂性熱，善於助陽，而尤入血分，四肢有寒疾者，非此不能達。桂枝，氣輕，故能走表，以其善調營衛，故能治傷寒，發邪汗，療傷風，止陰汗。肉桂，味重，故能溫補命門，堅筋骨，通血脈，治心腹寒氣、頭疼、咳嗽、鼻齆、霍亂轉筋、腰足、臍腹疼痛、一切沉寒痼冷之病。且桂為木中之王，故善平肝木之陰邪，而不知善助肝膽之陽氣，惟其味甘，故最補脾土，凡肝邪剋土而無火者，用此極妙。與參、附、地黃同用，最降虛火及治下焦元陽虧乏；與當歸、川芎同用，最治婦人產後血瘀、兒枕腹痛及小兒痘疹虛寒、作癢不起。雖善墮胎、動血，用須防此二證，若下焦虛寒，法當引火歸元者，則此為要藥，不可誤執。</p>

<h2>丁香</h2>
<p>味大辛，氣溫。純陽。入腎、胃、肺臟。能發諸香，辟惡去邪，溫中快氣，治上焦呃逆翻胃、霍亂嘔吐，解酒毒，消痃癖、奔豚、陰寒心腹脹滿冷痛，暖下焦腰膝寒疼，壯陽道，抑陰邪，除胃寒瀉痢，殺鬼疰蠱毒、疳蝕諸蟲，闢口氣，堅齒牙及婦人七情五郁、小兒吐瀉、痘瘡胃寒灰白不發。</p>

<h2>白檀香</h2>
<p>味辛，氣溫。能散風熱，闢穢惡邪氣，消腫毒，逐鬼魅。煎服之，可散冷氣，止心腹疼痛，定霍亂，和胃氣，開噎膈，止嘔吐，進飲食；又治面生黑子，每晚以熱水洗拭，磨汁塗之甚良。</p>

<h2>沉香</h2>
<p>味辛，氣微溫。陽也，可升可降。其性暖，故能抑陰助陽，扶補相火；其氣辛，故能通天徹地，條達諸氣，除轉筋霍亂，和噤口瀉痢，調嘔逆胃翻、喘急，止心腹脹滿疼痛，破癥癖，療寒痰，和脾胃，逐鬼疰惡氣及風濕骨節麻痹、皮膚瘙癢結氣。</p>

<h2>烏藥</h2>
<p>氣味辛溫。善行諸氣。入脾、胃、肝、腎、三焦、膀胱諸經。療中惡、鬼氣、蠱毒，開胸膈，除一切冷氣，止心腹疼痛、喘急、霍亂、反胃脹滿，溫腸胃，行宿食，止瀉痢，除天行疫瘴、氣厥頭痛、膀胱、腎氣攻衝心腹、疝氣、腳氣、癰疽、疥癩及婦人血氣、小兒蟲積，亦止小便頻數、氣淋帶濁並貓犬百病，俱可磨汁，灌治之。</p>

<h2>枸杞</h2>
<p>味甘、微辛，氣溫。可升可降。味重而純，故能補陰；陰中有陽，故能補氣。所以滋陰而不致陰衰，助陽而能使陽旺。雖諺云：「離家千里，勿食枸杞」，不過謂其助陽耳，似亦未必然也。此物微助陽而無動性，故用之以助熟地最妙。其功則明耳目，壯神魂，添精固髓，健骨強筋，善補勞傷，尤止消渴；真陰虛而臍腹疼痛不止者，多用神效。</p>

<h2>地骨皮</h2>
<p>枸杞根也。南者：苦味輕，微有甘、辛；北者：大苦，性劣。入藥惟南者為佳。其性辛、寒，善入血分、肝、腎、三焦、膽經。退陰虛血熱、骨蒸有汗，止吐血、衄血，解消渴，療肺、腎、胞中陰虛伏火。煎湯漱口，止齒血。凡不因風寒而熱在精髓陰分者，最宜此物。涼而不峻，可理虛勞；氣輕而辛，故亦清肺。假熱者勿用。</p>

<h2>厚朴</h2>
<p>味苦、辛，氣大溫。氣味俱厚，陽中之陰，可升可降。有小毒。用此者，用其溫降散滯。制用薑汁炒。治霍亂轉筋，消痰下氣，止咳嗽、嘔逆吐酸，殺腸藏諸蟲、宿食不消，去結水，破宿血，除寒濕瀉痢，能暖脾胃，善走冷氣。總之，逐實邪，瀉膨脹，散結聚，治胸腹疼痛之要藥。倘本元虛弱，誤服脫人真氣。孕婦忌用，墮胎須知。</p>

<h2>棗仁</h2>
<p>味微甘，氣平。其色赤，其肉味酸，故名酸棗。其仁居中，故性主收斂而入心。多眠者，生用；不眠者，炒用。寧心志，止虛汗，解渴去煩，安神養血，益肝補中，收斂魂魄。</p>

<h2>杜仲</h2>
<p>味甘、辛、淡，氣溫、平。氣味俱薄，陽中有陰。其功入腎。用薑汁或鹽水潤透、炒、去絲。補中強志，壯腎添精，腰痛殊功，足疼立效，除陰囊寒濕，止小水、夢遺。因其氣溫，故暖子宮；因其性固，故安胎氣。內熱火盛者亦當緩用。</p>

<h2>山茱萸</h2>
<p>味酸、澀，主收斂；氣平，微溫。陰中陽也。入肝、腎二臟。能固陰補精，暖腰膝，壯陰氣，澀帶濁，節小便，益髓興陽，調經收血。若脾氣大弱而畏酸者，姑暫止之，或和以甘草、煨姜亦可。</p>

<h2>蘇木</h2>
<p>味微甘、微辛，性溫，平。可升可降。乃三陰經血分藥也。少用則和血活血，多用則行血破血。主婦人月經不調、心腹作痛、血癖氣壅。凡產後血瘀脹悶勢危者，宜用五兩，水煮濃汁，服之；亦消癰腫死血，排膿止痛及打撲瘀血，可敷；若治破傷風，宜為末，酒服，立效。</p>

<h2>川椒</h2>
<p>味辛，性熱。有小毒。本純陽之物，其性下行，陽中有陰也。主溫中下氣，開通腠理，散肌表寒邪，除臟腑冷痛，去胸腹留飲、停痰、宿食，解鬱結，溫脾胃，止咳逆、嘔吐，逐寒濕風痛，療傷寒、溫瘧、水腫、濕疸，除齒痛，暖腰膝，收陰汗，縮小便，溫命門，止泄瀉、下痢、遺精、脫肛，殺蛔蟲、鬼疰、蠱毒、蛇蟲諸毒。久服之能通神明，實腠理，和血脈，堅齒牙，生鬚髮，明耳目，調關節，耐寒暑。若中其毒，惟冷水、麻仁漿可以解之。</p>

<h2>胡椒</h2>
<p>味辛，性大熱。純陽也。善走氣分。溫中下氣，暖腸胃，消宿食，闢臭惡，除寒濕、寒痰、寒飲吐水，止反胃嘔吐、霍亂、虛寒脹滿、心腹疼痛，去冷積陰毒，壯腎氣，治大腸寒滑冷痢，殺一切蟲、魚、鱉、蕈、諸藥食陰凝之毒。若治風蟲牙痛，須同蓽茇為末、熔蠟，為細丸，塞孔中即愈。</p>

<h2>金櫻子</h2>
<p>味澀，性平。生者：色青，酸、澀。熟者：色黃，甘、澀。當用其將熟、微酸而甘、澀者為妙。其性固澀，澀可固陰治脫，甘可補中益氣，故善理夢遺、精滑及崩淋、帶漏，止吐血、衄血，生津液，安魂魄，收虛汗，斂虛火，益精髓，壯筋骨，補五臟，養血氣，平咳嗽，定喘急，療怔忡驚悸，止脾泄血痢及小水不禁。此固陰養陰之佳品，而人之忽之亦久矣，此後咸宜珍之。</p>

<h2>槐蕊</h2>
<p>味苦，性寒。清心、肺、脾、肝、大腸之火，除五內煩熱、心腹熱疼，療眼目赤痛熱淚。炒香嚼咽，治失音、喉痹，止吐血、衄血、腸風、下血、婦人崩中漏下及皮膚風熱，涼大腸，殺疳蟲，治癰疽瘡毒、陰瘡濕癢、痔漏，解楊梅惡瘡、下疳伏毒，大有神效。</p>

<h2>柏子仁</h2>
<p>味甘、平，性微涼。能潤心肺，養肝脾，滋腎燥，安神魂，益志意，故可定驚悸怔忡，益陰氣，美顏色，療虛損，益血，止汗，潤大腸，利虛秘，亦去百邪鬼魅、小兒驚癇。總之，氣味清香，性多潤滑，雖滋陰養血之佳劑，若欲培補根本，乃非清品所長。</p>

<h2>枳殼</h2>
<p>即枳實之遲收而大者，較之枳實，其氣略散，性亦稍緩，功與枳實大類。但枳實性重，多主下行削堅；而此之氣輕，故多主上行破氣。通利關節，健脾開胃，平肺氣，止嘔逆反胃、霍亂、咳嗽，消痰，消食，破心腹結氣、癥瘕痃癖，開胸脅脹滿、痰滯，逐水腫、水濕瀉痢、腸風、痔漏、肛門腫痛。因此稍緩，故可用之束胎、安胎。炙熱可熨痔腫。虛者少用，恐傷元氣。</p>

<h2>枳實</h2>
<p>味苦、微酸，微寒。氣味俱厚，陰中微陽。其性沉，急於枳殼。除脹滿，消宿食，削堅積，化稠痰，破滯氣，平咳喘，逐瘀血、停水，解傷寒結胸，去胃中濕熱。佐白朮，亦可健脾；佐大黃，大能推蕩。能損真元，虛羸勿用。</p>

<h2>蔓荊子</h2>
<p>味苦、辛，氣清，性溫。升也，陽也。入足太陽、陽明、厥陰經。主散風邪，利七竅，通關節，去諸風頭痛、腦鳴、頭沉昏悶，搜肝風，止目睛內痛、淚出，明目，堅齒，療筋骨問寒熱、濕痹拘攣，亦去寸白蟲。</p>

<h2>五加皮</h2>
<p>味辛，性溫。除風濕，行血脈，壯筋骨，明目，下氣，治骨節、四肢拘攣、兩腳痹痛、風弱五緩、陰痿囊濕、疝氣腹痛、小便遺瀝、女人陰癢。凡諸浸酒藥，惟五加皮與酒相合大能益人，且味美也，仙家重此，謂久服可以長生，故日「寧得一把五加，不用金銀滿車」，雖未必然，然亦必有可貴者。</p>

<h2>川楝子</h2>
<p>（注：附苦楝根）</p>
<p>味苦，性寒。有小毒。陰也。能治傷寒、溫疫、煩熱狂躁，利小水，瀉肝火、小腸、膀胱濕熱，諸疝氣疼痛，殺三蟲、疥癩，亦消陰痔。丸、散、湯藥任意可用，甄權言其不入湯使，則失之矣。</p>
<p>苦楝根：味大苦。殺諸蟲，尤善逐蛔；利大腸，治遊風、熱毒惡瘡；苦酒和塗疥癬，甚良。</p>

<h2>女貞子</h2>
<p>味苦，性涼。陰也，降也。能養陰氣，平陰火，解煩熱骨蒸，止虛汗、消渴及淋濁、崩漏、便血、尿血、陰瘡、痔漏疼痛，亦清肝火，可以明目、止淚。</p>

<h2>桑白皮</h2>
<p>味甘、微辛，微苦，氣寒。氣味俱薄，升中有降，陽中有陰。入手太陰肺臟。氣寒，味辛，故瀉肺火；以其味甘，故緩而不峻；止喘嗽、唾血，亦解渴，消痰，除虛勞、客熱、頭痛；水出高原，故清肺，亦能利水，去寸白，殺腹藏諸蟲。研汁，治小兒天吊、驚癇客忤及敷鵝口瘡，大效；作線可縫金瘡。既瀉肺實，又云補氣，則未必然。</p>

<h2>黃檗</h2>
<p>味苦、微辛，氣寒。陰中微陽，降也。善降三焦之火，制各以類，但其性多沉，尤專肝腎，故曰足少陰本經、足太陽、厥陰之引經藥（注：藥，原無，補）也。清胃火嘔噦、蛔蟲，除伏火、骨蒸煩熱，去腸風、熱痢、下血，逐二便、邪火結淋。上可解熱渴、口瘡、喉痹，下可去足膝濕熱、疼痛、痿躄。以（注：原為「此」，改）其性寒，潤降，去火最速。丹溪言其「制伏龍火，補腎強陰」，然龍火豈沉寒可除，水枯豈苦劣可補，陰虛水竭，得降愈亡，撲滅元陽，莫此為甚。水未枯而火盛者，用以抽薪則可，水既竭而枯熱者，用以補陰實難，當局者慎勿認為補劑。予嘗聞之丹溪曰：「火有二，君火者，人火也、心火也，可以濕伏，可以水滅，可以直折，黃連之屬可以制之；相火者，天火也，龍雷之火也，陰火也，不可以水濕折之，當從其性而伏之，惟黃柏之屬可以降之。」按此議論，若有高見，而實矯強之甚，大是誤人。夫所謂從其性者，即《內經》從治之說也，《經》曰：「正者正治，從者反治。」正治者，謂以水制火，以寒治熱也；從治者，謂以火濟火，以熱治熱也，亦所謂「甘溫除大熱」也。豈以黃連便是正治，黃柏便是從治乎？即曰「黃連主心火，黃柏主腎火」，然以便血、溺血者俱宜，黃連又豈非膀胱、大腸下部藥乎？治舌瘡、口瘡者俱宜，黃柏又豈非心脾上部藥乎？總之，黃連、黃柏均以大苦大寒之性，而曰黃連為水、黃柏非水，黃連為瀉、黃柏為補，豈理也哉。若執此說，誤人多矣！誤人多矣！</p>

<h2>梔子</h2>
<p>味苦，氣寒。味厚氣薄，氣浮味降，陰中有陽。因其氣浮，故能清心肺之火，解消渴，除熱鬱，療時疾躁煩、心中懊憹、熱悶不得眠、熱厥頭疼、耳目風熱赤腫疼痛、霍亂轉筋；因其味降，故能瀉肝、腎、膀胱之火，通五淋，治大、小腸熱秘、熱結、五種黃疸、三焦鬱火、臍下熱鬱疝氣、吐血、衄血、血痢、血淋、小腹損傷瘀血。若用佐使，治有不同：加茵陳，除濕熱疸黃；加豆豉，除心火煩躁；加厚朴、枳實，可除煩滿；加生薑、陳皮，可除嘔噦；同玄胡索，破熱滯瘀血腹痛。此外，如面赤酒皶熱毒、湯火瘡瘍腫痛皆所宜用。仲景因其氣浮而苦，極易動吐，故用為吐藥，以去上焦痰滯。丹溪謂其：「解鬱熱，行結氣。其性屈曲下行，大能降火，從小便泄去」，人所不知。</p>

<h2>郁李仁</h2>
<p>味苦、辛。陰中有陽。性潤而降，故能下氣、消食，利水道，消面目、四肢、大腹水氣浮腫，開腸中結氣、滯氣、關隔燥澀、大便不通，破血積食癖；凡婦人、小兒實熱結燥者皆可用。</p>

<h2>訶子</h2>
<p>味苦、酸、澀，氣溫。苦重酸輕，性沉而降，陰也。能消宿食膨脹，止嘔吐霍亂，定喘止嗽，破結氣，安久痢，止腸風便血，降痰，下氣開滯，澀腸，通達津液，療女人崩中胎漏、帶濁、經亂不常。若久痢肛門急痛或產婦陰痛者，宜和蠟燒煙薰之，或煎湯薰洗亦可；若痰嗽、咽喉不利，宜含數枚咽津殊效。其有上焦元氣虛陷者，當避其苦降之性。</p>

<h2>側柏</h2>
<p>味苦，氣辛，性寒。善清血涼血，止吐血、衄血、痢血、尿血、崩中赤白，去濕熱、濕痹、骨節疼痛。搗爛可敷火丹、散痄腮腫痛熱毒及湯火傷，止痛滅瘢；炙搗，可罯凍瘡；燒汁塗發，可潤而使黑。</p>

<h2>辛夷</h2>
<p>（一名木筆、一名迎春）</p>
<p>氣味辛溫。乃手太陰、足陽明之藥。能解寒熱、憎寒體噤，散風熱，利九竅，除頭風腦痛、眩冒、瘙癢，療面腫引齒疼痛。若治鼻塞涕出、鼻淵、鼻鼽、鼻瘡及痘後鼻瘡，並宜為末，入麝香少許，以蔥白蘸藥，點入數次，甚良。</p>

<h2>皂角</h2>
<p>氣味辛、咸，性溫。有小毒。善逐風痰，利九竅，通關節，治頭風，殺諸蟲精物，消穀，導痰，除咳嗽、心腹氣結疼痛脹滿，開中風口噤，治咽喉痹塞腫痛，行肺滯，通大腸秘結，墮胎，破堅癥，消腫毒及風癬疥癩。燒煙，薰脫肛腫痛。可為丸散，不入湯藥。</p>

<h2>巴豆</h2>
<p>味辛，性熱。有大毒。可升可降。善開關竅，破癥堅積聚，逐痰飲，殺諸惡毒、蟲毒、蠱毒，通秘結，消宿食，攻臟腑停寒、生冷壅滯、心腹疼痛、瀉痢、驚癇、諸水氣、疝氣，下活胎、死胎，逐瘀血、血積及消癰瘍、疔毒、惡瘡，去息肉、惡肉、腐肉，排膿消腫，喉痹、牙疼諸證。然其性剛氣烈，無處不到，故稱為斬關奪門之將。若誤用之，則有推牆倒壁之虞；若善用之，則有戡亂調中之妙。用者所當慎察。</p>

<h2>密蒙花</h2>
<p>味甘、平，性微寒。入肝經。潤肝燥，專理目疾，療青盲，去赤腫多淚，消目中赤脈、膚翳、羞明畏日及小兒瘡痘、疳氣攻目，風熱糜爛、雲翳遮睛。制用之法，宜蜜酒拌蒸三次，日乾用。</p>

<h2>雷丸</h2>
<p>味苦，性寒。有小毒。殺三蟲，逐蠱毒、諸毒，降胃中實熱、痰火癲狂，除百邪惡氣並一應血積氣聚。</p>

<h2>大楓子</h2>
<p>味辛，性熱。有毒。能治風癬疥癩，攻毒殺蟲，亦療楊梅諸瘡。</p>

<h2>蕪荑</h2>
<p>味辛，平，性溫。主心腹冷氣、癥積疼痛，散肌膚風濕淫淫如蟲行，殺三蟲，去寸白及諸惡蟲毒，療腸風痔漏、惡瘡。和豬脂搗，塗熱瘡；和蜜，可治濕癬。</p>

<h2>茯苓</h2>
<p>味甘、淡，氣平。性降而滲，陽中陰也。有赤白之分，雖《本草》言：「赤瀉丙、丁；白入壬、癸」，然總不失為泄物，故能利竅去濕。利竅則開心益智，導濁生津；去濕則逐水燥脾，補中健胃。祛驚癇，厚腸臟，治痰之本，助藥之降。以其味有微甘，故曰「補陽」，但補少利多，故多服最能損目，久弱極不相宜。若以人乳拌曬，乳粉既多，補陰亦妙。</p>

<h2>茯神</h2>
<p>附根而生近，故能入心經，通心氣，補健忘，止恍惚、驚悸。雖《本草》所言如此，然總不外於滲降之物，與茯苓無甚相遠也。</p>

<h2>豬苓</h2>
<p>味微苦、甘，氣平。陽中陰也。性善降滲，入膀胱、腎經。通淋，消水腫，除濕利小便。因其苦，故能泄滯；因其淡，故能利竅；亦解傷寒濕熱、腳氣、白濁；亦治妊娠子淋、胎腫。</p>

<h2>柔寄生</h2>
<p>味苦，性涼。主女子血熱崩中、胎漏，固血安胎及產後血熱諸疾，去風熱濕痹、腰膝疼痛，長鬚眉，堅發齒，涼小兒熱毒癰疳、瘡癩。</p>

<h2>琥珀</h2>
<p>味甘、淡，性平。安五臟，清心肺，定魂魄，鎮癲癇，殺邪鬼精魅，消瘀血痰涎，解蠱毒，破癥結，通五淋，利小便，明目磨翳，止血生肌，亦合金瘡傷損。</p>

<h2>松香</h2>
<p>味苦、辛，溫。治癰疽惡瘡、頭瘍白禿、風濕疥癬。酒煮、糊丸，可治歷節風痛，亦治婦人崩帶；煎膏，則活血生肌，排膿止痛；塞牙孔，殺蟲；敷刺入肉中，自出；加銅末研摻，大治金瘡折傷。</p>

<h2>乳香</h2>
<p>味苦、辛，性溫，微熱。辟邪惡諸氣，治霍亂，通血脈，止大腸血痢疼痛及婦人氣逆血滯、心腹作痛，消癰疽諸毒，托裡護心，活血定痛，舒筋脈，療折傷。煎膏，止痛長肉。</p>

<h2>沒藥</h2>
<p>味苦，氣平。能破血散血，消腫止痛，療金瘡、杖瘡、諸惡瘡、痔漏、癰腫，破宿血癥瘕及墮胎、產後血氣作痛。凡治金刃跌墜、損傷筋骨、心腹血瘀作痛者，並宜研爛、熱酒調服，則推陳致新，無不可愈。</p>

<h2>阿魏</h2>
<p>味苦、辛，性熱。有毒。其氣辛臭，乃能闢奪臭氣，逐瘟疫、瘴瘧、傳屍鬼氣、惡氣，療霍亂、隔噎、頹疝、心腹疼痛，殺諸小蟲、牙蟲，破癥，消癖塊，除蠱毒及一切蕈菜、牛羊、魚肉諸毒。或散，或丸，隨意可服。</p>

<h2>樟腦</h2>
<p>味辛、微苦，性熱。善通關竅，破滯氣，闢中惡邪氣，治疥癬，殺蟲除蠹。著鞋中，去腳氣；燒煙，薰衣筐、席簟，除蚤、蝨、壁蝨。北方新生小貓極多跳蚤，用此拌麵、研勻，摻擦之，則盡落無遺，亦妙方也。</p>

<h2>龍腦</h2>
<p>（即冰片）</p>
<p>味微甘、大辛。敷用者，其涼如冰而氣雄力銳。性本非熱，陽中有陰也。善散氣、散血、散火、散滯，通竅辟惡，逐心腹邪氣，療喉痹、腦痛、鼻息、齒痛、傷寒舌出、小兒風痰、邪熱急驚、痘疔黑陷，凡氣壅不能開達者，咸宜佐使用之。亦通耳竅，散目熱，去目中赤膚翳障，逐三蟲，消五痔，療一切惡瘡聚毒、下疳、痔漏疼痛；亦治婦人氣逆難產，研末少許，新汲水服之則下。以熱酒服之則能殺人。凡用此者，宜少而暫，多則走散真氣，大能損人。</p>

<h2>血竭</h2>
<p>味甘、咸、微澀，性平。善破積血，止痛生肌，療金瘡、折傷打損、血瘀疼痛、內傷血逆、婦人血氣凝滯，亦能生血補虛，俱可為末，酒服；並治一切惡瘡癖疥、久不合口，然性能引膿，不宜多用。</p>

<h2>蘆薈</h2>
<p>味大苦，性大寒。氣味俱厚，能升能降。除風熱煩悶，清肺胃鬱火，涼血，清肝明目，治小兒風熱急驚、癲癇、五疳、熱毒，殺三蟲及痔漏、熱瘡。單用，殺疳蛔；吹鼻，治腦疳、鼻熱、鼻癢、鼻痔；研末，敷蟲牙；同甘草，敷濕癬，殺蟲，出黃水，極妙。</p>

<h2>乾漆</h2>
<p>味辛，性溫。有毒，能療絕傷，續筋骨，殺三蟲，去蛔蟲，削年深堅結之積滯，破日久凝聚之瘀血。用須炒熟入藥，不爾，損人腸胃。若外著其毒而生漆瘡者，惟杉木湯、紫蘇湯、蟹湯浴之可解；或用香油調鐵鏽，塗之。</p>

<h2>蘇合油</h2>
<p>味甘、辛，性溫。能辟邪惡諸氣，殺鬼魅蠱毒、蟲毒，療癲癇、溫瘧，止氣逆疼痛，亦通神明，可除夢魘。</p>

<h2>孩兒茶</h2>
<p>味苦、微澀，性涼。能降火生津，清痰涎咳嗽，治口瘡、喉痹、煩熱，止消渴、吐血、衄血、便血、尿血、濕熱痢血及婦人崩淋、經血不止、小兒疳熱、口疳熱瘡、濕爛諸瘡，斂肌長肉，亦殺諸蟲。</p>

<h1>谷部</h1>

<h2>麥芽</h2>
<p>味甘、微咸，氣溫。善於化食和中，破冷氣，消一切米麵諸果食積，去心腹脹滿，止霍亂，除煩熱，消痰飲，破癥結，寬腸下氣。病久不食者，可藉此穀氣以開胃；元氣中虛者，毋多用此以消腎。亦善催生落胎。單服二兩，能消乳腫，其耗散血氣如此，而脾胃虛弱、飲食不消方中每多用之，何也？故婦有胎妊者不宜多服。</p>

<h2>神麯</h2>
<p>味甘，氣平。炒黃入藥。善助中焦土臟，健脾暖胃，消食下氣，化滯調中，逐痰積，破癥瘕，運化水穀，除霍亂，脹滿嘔吐。其氣腐，故能除濕熱；其性澀，故又止瀉痢。療女人胎動因滯，治小兒腹堅因積。若婦人產後欲回乳者，炒、研，酒服二錢，日二，即止，甚驗；若閃挫腰痛者，淬酒溫服，最良。</p>

<h2>白扁豆</h2>
<p>味甘，氣溫。炒香用之。補脾胃氣虛，和嘔吐霍亂，解河豚、酒毒，止瀉痢，溫中，亦能清暑，治消渴。欲用輕清、緩補者，此為最當。</p>

<h2>薏仁</h2>
<p>味甘、淡，氣微涼。性微降而滲，故能去濕利水。以其去濕，故能利關節，除腳氣，治痿弱拘攣濕痹，消水腫、疼痛，利小便、熱淋，亦殺蛔蟲；以其微降，故亦治咳嗽唾膿，利膈，開胃；以其性涼，故能清熱，止煩渴、上氣。但其功力甚緩，用為佐使，宜倍。</p>

<h2>綠豆</h2>
<p>味甘，性涼。能清火，清痰，下氣，解煩熱，止消渴，安精神，補五臟陰氣，去胃火吐逆及吐血、衄血、尿血、便血、濕熱瀉痢、腫脹，利小水，療丹毒、風疹、皮膚燥澀、大便秘結，消癰腫、痘毒、湯火傷痛，解酒毒、鴆毒、諸藥、食、牛馬、金石毒，尤解砒霜大毒。或用囊作枕，大能明耳目，並治頭風頭痛。</p>

<h2>粟殼</h2>
<p>味微甘，性多澀。泡去筋膜，醋拌炒用。甚固大腸，久痢滑瀉必用，須加甘補同煎；久虛咳嗽，劫藥欲用，須辨虛實；脫肛、遺精，俱所當用；濕熱下痢，乃非所宜。</p>

<h2>麻仁</h2>
<p>（即黃麻也。亦名大麻）</p>
<p>味甘，平。性滑利，能潤心肺，滋五臟，利大腸風熱結燥，行水氣，通小便濕熱、秘澀五淋，去積血，下氣，除風濕頑痹、關節血燥拘攣，止消渴，通乳汁、產難，催生，經脈阻滯。凡病多燥澀者宜下；若下元不固及便溏、陽痿、精滑、多帶者，皆所忌用。</p>

<h1>果部</h1>

<h2>芡實</h2>
<p>（注：芡，原作「茨」，據原書目錄改）</p>
<p>味苦，氣平。入脾、腎兩臟。能健脾、養陰、止渴，治腰膝疼痛，強志益神，聰耳明目，補腎固精，治小便不禁、遺精、白濁、帶下，延年耐老。或散丸，或煮食，皆妙；但其性緩，難收奇效。</p>

<h2>杏仁</h2>
<p>味甘、辛、微甘。味厚於氣，降中有升。有毒。入肺、胃、大腸經。其味辛，故能入肺潤肺，散風寒，止頭痛，退寒熱、咳嗽上氣、喘急，發表解邪，療溫病、腳氣；其味苦，降性最疾，觀其澄水極速可知，故能定氣逆上衝，消胸腹急滿脹痛，解喉痹，消痰下氣，除驚癰煩熱，通大腸氣閉乾結；亦殺狗毒。佐半夏、生薑，散風邪咳嗽；佐麻黃，發汗，逐傷寒表邪；同門冬、乳酥煎膏，潤肺，治咳嗽極妙；同輕粉研勻，油調敷廣瘡腫毒最佳。尤殺諸蟲、牙蟲及頭面䵟斑、㾴疱。元氣虛陷者勿用，恐其沉降太泄。</p>

<h2>桃仁</h2>
<p>味苦、辛、微甘，氣平。陰中有陽，入手、足厥陰經。去皮、尖用。善治瘀血、血閉、血結、血燥，通血隔，破血癥，殺三蟲，潤大便，逐鬱滯，止鬼疰、血逆疼痛、膨脹，療跌僕損傷。若血枯經閉者，不可妄用。</p>

<h2>木瓜</h2>
<p>味酸，氣溫。用此者，用其酸斂。酸能走筋，斂能固脫，入脾、肺、肝、腎四經，亦善和胃。得木味之正，故尤專入肝，益筋，走血，療腰膝無力、腳氣。引經所不可缺，氣滯能和，氣脫能固。以能平胃，故除嘔逆、霍亂轉筋，降痰，去濕行水；以其酸收，故可斂肺，禁痢，止煩滿，止渴。</p>

<h2>陳皮</h2>
<p>味苦、辛，性溫散。氣實痰滯必用。留白者，微甘而性緩；去白者，用辛而性速。瀉脾胃痰濁、肺中滯氣，消食開胃，利水通便，吞酸噯腐、反胃嘈雜、呃逆脹滿堪除，嘔吐噁心皆效。通達上下，解酒，除蟲，表裡俱宜，癰疽亦用，尤消婦人乳癰，並解魚肉諸毒。</p>

<h2>青皮</h2>
<p>味苦、辛、微酸。味厚，沉也。陰中之陽。苦能去滯，酸能入肝，又入少陽、三焦、膽府。削堅癬，除脅痛，解鬱怒，劫疝，疏肝，破滯氣，寬胸，消食。老弱虛羸戒之，勿用。</p>

<h2>檳榔</h2>
<p>味辛、澀、微苦、微甘，氣微溫。味厚氣薄，降中有升。陰中陽也。能消宿食，解酒毒，除痰癖，宣壅滯，溫中快氣，治腹脹積聚、心腹疼痛、喘急，通關節，利九竅，逐五鬲奔豚、膀胱諸氣，殺三蟲，除腳氣，療諸瘧、瘴癘濕邪。《本草》言其治後重如馬奔，此亦因其性溫行滯而然，若氣虛下陷者，乃非所宜。又言其破氣極速，較枳殼、青皮尤甚，若然則廣南之人，朝夕笑噬而無傷，又豈破氣極速者。總之，此物性溫而辛，故能醒脾利氣；味甘兼澀，故能固脾壯氣；是誠行中有留之劑。觀《鶴林玉露》云：「飢能使之飽，飽能使之飢；醉能使之醒，醒能使之醉。」於此四句詳之，可得其性矣。其服食之法，小者氣烈，俱以入藥。廣中人惟用其大而扁者，以米泔水浸而待用，每一枚切四片，每服一片；外用細石灰以水調如稀糊，亦預製待用，用時以蔞葉一片，抹石灰一、二分，入檳榔一片，裹而嚼服；蓋檳榔得石灰則滑而不澀，石灰、蔞葉得檳榔則甘而不辣，服後必身面俱暖，微汗、微醉，而胸腹豁然，善解吞酸，消宿食，闢嵐瘴，化痰，醒酒下氣，健脾開胃，潤腸，殺蟲，消脹，固大便，止瀉痢。又服法：如無蔞葉，即以肉桂或大茴香，或陳皮俱可代用，少抹石灰，夾而食之。然此三味之功多在石灰、蔞葉，以其能燥脾溫胃也；然必得檳榔為助，其功始見，此物理相成之妙，若有不可意測者。一，大約此物與煙性略同，但煙性峻勇，用以散表逐寒，則煙勝於此，檳榔稍緩，用以和中暖胃，則此勝於煙；二者皆壯氣辟邪之要藥，故滇、廣中人一日不可少也。又習俗之異：在廣西，用老檳榔；滇中人用清嫩檳榔；廣東人多用（注：原為「在」，改）連殼醃檳榔。亦各得其宜耳。</p>

<h2>烏梅</h2>
<p>味酸、澀，性溫、平。下氣，除煩熱，止消渴、吐逆反胃、霍亂，治虛勞骨蒸，解酒毒，斂肺癰、肺痿、咳嗽喘急，消癰疽瘡毒、喉痹、乳蛾，澀腸，止冷熱瀉痢、便血、尿血、崩淋、帶濁、遺精、夢泄，殺蟲伏蛔，解蟲、魚、馬汗、硫磺毒。和紫蘇煎湯，解傷寒、時氣、瘴瘧，大能作汗；取肉燒存性、研末，敷金瘡、惡瘡，去腐肉、弩肉、死肌，一夜立盡，亦奇方也。</p>

<h2>山查</h2>
<p>味甘、微酸，氣平。其性善於消滯。用此者，用其氣輕，故不甚耗真氣。善消宿食、痰飲、吞酸，去瘀血疼痛，行結滯，驅臌脹，潤腸胃，去積塊，亦祛頹疝，仍可健脾，小兒最宜，亦發瘡疹；婦人產後兒枕痛、惡露不盡者，煎汁入沙糖，服之立效；煮汁，洗漆瘡亦佳。腸滑者，少用之。</p>

<h2>甜瓜蒂</h2>
<p>（一名苦丁香）</p>
<p>味苦，性寒。有毒。陰中有陽，能升能降。其升則吐，善湧濕熱頑痰積飲，去風熱頭痛、癲癇、喉痹、頭目眩暈、胸膈脹滿並諸惡毒在上焦者，皆可除之；其降則瀉，善逐水濕、痰飲，消浮腫、水膨，殺蠱毒、蟲毒，凡積聚在下焦者，皆能下之。蓋其性峻而急，不從上出，即從下出也。若治鼻中息肉、不聞香臭，當同麝香、細辛為末，以綿裹塞鼻中，日一換之，當漸消縮。</p>

<h2>大腹皮</h2>
<p>味微辛，性微溫。主冷熱邪氣，下一切逆氣、滯氣攻衝心腹、大腸，消痰氣、吞酸痞滿，止霍亂，逐水氣浮腫、腳氣、瘴瘧及婦人胎氣，惡阻脹悶，並宜加薑、鹽同煎。凡用時必須酒洗、炒過，恐其有鴆鳥毒也。</p>

<h2>吳茱萸</h2>
<p>味辛、苦。氣味俱厚，升少降多。有小毒。能助陽健脾，治胸膈停寒、脹滿痞塞，化滯消食，除吞酸嘔逆、霍亂、心腹蓄（注：原作「畜」，改）冷、中惡絞痛、寒痰逆氣，殺諸蟲、鬼魅、邪疰及下焦肝腎膀胱寒疝、陰毒疼痛，止痛瀉、血痢，厚腸胃，去濕氣、腸風、痔漏、腳氣、水腫。然其性苦善降，若氣陷而元氣虛者，當以甘補諸藥制而用之。</p>

<h1>菜部</h1>

<h2>山藥</h2>
<p>味微甘而淡，性微澀。所以能健脾補虛，澀精固腎，治諸虛百損，療五勞七傷。第其氣輕性緩，非堪專任，故補脾肺，必主參、術；補腎水，必君茱、地；澀帶濁，須破故同研；固遺泄，仗兔絲相濟；諸凡固本丸藥，亦宜搗末為糊。總之，性味柔弱，但可用為佐使。</p>

<h2>乾薑</h2>
<p>（注：附生薑、煨薑、薑炭）</p>
<p>味辛、微苦，性溫、熱。生者能散寒發汗，熟者能溫中調脾，善通神明，去穢惡，通四肢關竅，開五臟六腑，消痰下氣，除轉筋霍亂，逐風濕冷痹、陰寒諸毒、寒痞脹滿、腰腹疼痛、撲損瘀血、夜多小便。孫真人曰：「嘔家聖藥是生薑。」故凡脾寒嘔吐，宜兼溫散者，當以生薑煨熟用之；若下元虛冷而為腹疼瀉痢，專宜溫補者，當以乾薑炒黃用之；若產後虛熱、虛火盛而唾血、痢血者，炒焦用之；若炒至黑炭，已失姜性矣，其亦有用以止血者，用其黑澀之性已耳。若陰盛隔陽（注：通作「格陽」），火不歸元及陽虛不能攝血而為吐血、衄血、下血者，但宜炒熟，留性用之，最為止血之要藥。若陰虛內熱、多汗者，皆忌用姜。</p>

<h2>大茴香</h2>
<p>味辛，氣溫。入心、腎二臟。氣味香甜，能升能降。最暖命門，故善逐膀胱寒滯疝氣、腰疼；亦能溫胃止吐，調中止痛，除霍亂、反胃、齒牙口疾，下氣解毒兼理寒濕腳氣。調和諸饌，逐臭生香。</p>

<h2>小茴香</h2>
<p>氣味略輕，治亦同前。但大茴性更暖，而此則稍溫耳。</p>

<h2>白芥子</h2>
<p>味大辛，氣溫。善開滯消痰，療咳嗽喘急、反胃嘔吐、風毒流注，四肢疼痛，尤能祛闢冷氣，解肌發汗，消痰癖、瘧痞，除脹滿極速。因其味厚氣輕，故開導雖速而不甚耗氣，既能除脅肋、皮膜之痰，則他近處者不言可知。善調五臟，亦熨散惡氣；若腫毒、乳癖、痰核初起，研末，用醋，或水調敷，甚效。</p>

<h2>蘿蔔子</h2>
<p>味大辛，氣溫。氣味俱厚，降也。善於破氣，消痰，定喘，除脹，利大小便，有推牆倒壁之功。研，水攙薄，飲之立吐，風痰盡出；胃有氣食停滯，致成臌脹者，非此不除；同醋研敷，大消腫毒。中氣不足，切忌妄用。</p>

<h2>蔥</h2>
<p>味辛，性溫。善散風寒邪氣，通關節，開腠理，主傷寒寒熱、天行時疾、頭痛、筋骨痠疼，行滯氣，除霍亂轉筋、奔豚、腳氣、陰邪寒毒、陽氣脫陷、心腹疼痛及蟲積、氣積、飲食毒、百藥毒，利大小便、下痢、下血、小兒盤腸內釣、婦人溺血，通乳汁，散乳癰，消癰疽腫毒。搗罨傷寒結胸及金瘡、折傷、血瘀血出、疼痛不止；塗猘犬傷，亦制蚯蚓毒。</p>

<h2>蒜</h2>
<p>味辛，性溫。有小毒。善理中溫胃，行滯氣，闢肥膩，開胃進食，消寒氣、寒痰、面積食積、魚肉諸積、邪痹、臌脹、宿滯不安，殺溪毒、水毒、蠱毒、蛇蟲毒。搗爛，可炙癰疽，塗疔腫，敷蛇蟲、沙蝨毒，甚良。</p>

<h2>韭菜</h2>
<p>味辛、甘、微澀，性溫。善溫中，安五臟，和胃氣，健脾氣，除濁氣，開胃進食，祛心腹痼冷、痃僻、隔噎滯氣，止消渴、瀉痢膿血、腹中冷痛，壯腎氣，暖腰膝，療泄精、帶濁，俱宜常煮食之，大能益人。若欲消胃脘瘀血作痛及中風痰盛、失音、上氣喘急，或中飲食、藥毒，或暴見吐血、衄血、尿血、打僕瘀血、婦人經滯、血逆上衝心腹，或被狂犬、蛇蟲惡毒，勢在危急者，俱宜搗生韭汁服之，或從吐出，或從內消，皆得愈也。或用煎湯，薰產婦血暈；亦可洗腸痔、脫肛。</p>

<h2>韭子</h2>
<p>味辛，性溫。陰中陽也。宜炒黃用之。主夢泄遺精、尿血，暖腰膝，壯陽道，治鬼交，補肝腎、命門，止小便頻數、遺尿及婦人白淫、白帶、陰寒、小腹疼痛。</p>

<h2>百合</h2>
<p>味微甘、淡，氣平。功緩。以其甘緩，故能補益氣血，潤肺除嗽，定魄安心，逐驚止悸，緩時疫、咳逆，解乳癰、喉痹，兼治癰疽，亦解蠱毒，潤大小便，消氣逆、浮腫。仲景用之以治百合證者，蓋欲藉其平緩不峻，以收失散之緩功耳。虛勞之嗽，用之頗宜。</p>

<h2>蒲公英</h2>
<p>（即黃花地丁）</p>
<p>味微苦，氣平。獨莖一花者，是；莖有者，非。入陽明、太陰、少陽、厥陰經。同忍冬煎汁，少加酒服，潰堅消腫，散結核、瘰癧最佳；破滯氣，解食毒，出毒刺俱妙；若婦人乳癰，用水酒煮飲，以渣封之，立消。</p>

<h1>金石部</h1>

<h2>全箔</h2>
<p>味辛，平，性寒。生者有毒。氣沉質重，降也，陰也。能鎮心神，降邪火，墜痰涎，療風熱上壅、吐血、衄血、神魂飛蕩、狂邪躁擾及小兒驚風、癲癇、痰滯心竅、上氣咳喘，安魂魄，定心志。凡邪盛於上，宜降宜清者，皆所當用；若陽虛氣陷，滑泄清寒者，俱當避之。</p>

<h2>水銀</h2>
<p>性辛，寒。有大毒。能利水道，去熱毒。同黑鉛結砂，則鎮墜痰涎；同硫黃結砂，則療劫危疾。極善墮胎，殺諸蟲及疥癬癩瘡，凡有蟲者，皆宜之；亦善走經絡，透骨髓，逐楊梅瘋毒；其他內證不宜輕用，頭瘡亦不可用，恐入經絡，必緩筋骨，百藥不治也。李時珍曰：「水銀乃至陰之精，稟沉著之性，得凡火煅煉，則飛騰靈變；得人氣薰蒸，則入骨鑽筋、絕陽、蝕腦，陰毒之物無似之者，而《大明》言其『無毒』，《本經》言其『久服，神仙，甄權言其『還丹元母』，《抱朴子》以為『長生之藥』，六朝以下貪生者服食，致成廢篤而喪厥軀，不知若干人矣！方士固不足道，本草其可妄言哉。水銀但不可服食爾，而其治病之功，不可掩也。」</p>

<h2>輕粉</h2>
<p>味微辛，性溫燥。有大毒。升也，陽也。治痰涎積聚，消水腫鼓脹，直達病所，尤治瘰癧、諸毒瘡，去腐肉，生新肉，殺瘡癬疥蟲及鼻上酒齄、風瘡瘍癢。然輕粉乃水銀加鹽、礬升煉而成，其以金火之性，燥烈流走，直達骨髓，故善損齒牙。雖善劫痰涎、水濕瘡毒，涎從齒縫而出，邪得劫而暫開，病亦隨愈；然用不得法，則金毒竄入經絡，留而不出而傷筋敗骨，以致筋攣骨痛、癰瘡、疳漏，遂成廢痼，其害無窮。嘗見丹家升煉者，若稍失固濟，則雖以鐵石為鼎，亦必爆裂，而矧以人之臟腑血氣乎？陳文中曰：「輕粉下痰，而損心氣，小兒不可輕用，傷脾敗陽，必變他證，初生者，尤宜慎之！」</p>

<h2>銅青</h2>
<p>（即銅綠）</p>
<p>此銅之精華，惟醋製者良，硇制者毒也。味酸、澀，性收斂。善治風眼爛弦、流淚，合金瘡，止血，明目，去膚赤息肉，治惡瘡、口鼻疳瘡。若治走馬牙疳，宜同滑石、杏仁等分，為末，擦之立愈。</p>

<h2>硃砂</h2>
<p>味微甘，性寒。有大毒。通稟五行之氣：其色屬火也，其液屬水也，其體屬土也，其氣屬木也，其化（注：原文為「入」，意不可解；據其煉可化汞，改）屬金也，故能通五臟。其入心，可以安神而走血脈；入肺，可以降氣而走皮毛；入脾，可逐痰涎而走肌肉；入肝，可行血滯而走筋膜；入腎，可逐水邪而走骨髓。或上或下，無處不到，故可以鎮心，逐痰，祛邪，降火，治驚癇，殺蟲毒，祛蠱毒、鬼魅中惡及瘡瘍、疥癬之屬。但其體重性急，善走善降，變化莫測，用治有餘，乃其所長；用補不足及長生久視之說，則皆謬妄，不可信也。若同參、耆、歸、術，兼硃砂以治小兒，亦可取效，此必其虛中挾實者乃宜之，否則，不可概用。</p>

<h2>銀硃</h2>
<p>乃水銀同硫黃升煉而成。味辛，溫。有毒。破積滯，劫痰涎，善療瘡癬惡瘡。殺蟲毒、蚤、蝨，惟燒煙薰之，或以棗肉拌煙擦之，其功尤捷。</p>

<h2>靈砂</h2>
<p>味甘，性溫。主五臟百病，養神志，安魂魄，通血脈，明耳目，調和五臟，主上盛下虛、痰涎壅盛、頭旋吐逆、霍亂、反胃、心腹冷痛，升降陰陽，既濟水火，久服通神明，殺精魅惡鬼。小兒驚吐，其效如神。研末，糯米糊為丸，棗湯服，最為鎮墜神丹也；或以陰陽水送下，尤妙。按胡演《丹藥秘訣》云：「升靈砂法：用新鍋安逍遙爐上，以蜜揩鍋底，文火下燒，入硫磺二兩熔化，投水銀半斤，以鐵匙急攪作青砂頭，如有焰起，噴醋解之，待汞不見星，取出細研，盛入水火鼎內，鹽泥固濟，下以自然火升之，乾水十二盞為度，取出如束針紋者，成矣。」</p>

<h2>硫黃</h2>
<p>味苦、微酸，性熱。有毒。療心腹冷積冷痛、霍亂、咳逆上氣及冷風頑痹寒熱、腰腎久冷、腳膝疼痛、虛寒久痢滑泄，壯陽道，補命門不足、陽氣暴絕、婦人血結、小兒慢驚，尤善殺蟲，除疥癬惡瘡。老人風秘，用宜煉服；亦治陰證傷寒、厥逆煩躁、腹痛，脈伏將危者，以硫黃為末，艾湯調服二、三錢，即可得睡，汗出而愈。</p>

<h2>雄黃</h2>
<p>味苦、甘、辛，性溫。有毒。消痰涎，治癲癇、嵐瘴、瘧疾寒熱、伏暑瀉痢、酒癖、頭風眩暈，化痰血，殺精物、鬼疰、蠱毒邪氣、中惡腹痛及蛇虺、百蟲、獸毒、疥癩、疳蟲、䘌瘡，去鼻中息肉、癰疽腐肉並鼠瘻、廣瘡、疽痔等毒。欲逐毒蛇，無如燒煙薰之，其畏遁尤速。</p>

<h2>自然銅</h2>
<p>味辛，平，性涼。能療折傷，散瘀血，續筋骨，排膿，止疼痛，亦鎮心神，安驚悸。宜研細、水飛用，或以酒磨服。然性多燥烈，雖其接骨之功不可泯，而絕無滋補之益，故用不可多，亦不可專任也。</p>

<h2>黃丹</h2>
<p>味辛、微咸、微澀。性重而收，大能燥濕，故能鎮心安神，墜痰降火，治霍亂吐逆、咳嗽、吐血，鎮驚癇、癲狂、客忤，除熱，下氣，止瘧，止痢，禁小便，解熱毒，殺諸蟲毒，治金瘡、火瘡濕爛、諸瘡血溢，止痛，生肌長肉，收陰汗，解狐臭，亦去翳障，明目。</p>

<h2>白礬</h2>
<p>（注：附枯礬）</p>
<p>味酸、澀，性涼。有小毒。所用有四：其味酸苦，可以湧泄，故能吐下痰涎，治癲癇、黃疸；其性收澀，可固脫滑，故能治崩淋帶下、腸風下血、脫肛陰挺，斂金瘡，止血；燒枯用之，能止牙縫出血，闢狐腋氣，收陰汗、腳氣；其性燥，可治濕邪，故能止瀉痢，斂浮腫，湯洗爛弦風眼；其性毒，大能解毒定痛，故可療癰疽疔腫、鼻齆息肉、喉痹、瘰癧、惡瘡、疥癬，去腐肉，生新肉及虎、犬、蛇、蟲、蠱毒。或丸或散，或生或枯，皆有奇效。</p>

<h2>石脂</h2>
<p>味甘、澀，性溫、平。脂有五色，而今之入藥者，惟赤白二種。乃手、足陽明、足厥陰、少陰藥也。其味甘而溫，故能益氣調中；其性澀而重，故能收濕固下。調中則可療虛煩驚悸，止吐血、衄血，壯筋骨，厚腸胃，除水濕、黃疸、癰腫瘡毒，排膿長肉，止血生肌之類是也；固下則可治夢泄遺精、腸風瀉痢、血崩帶濁，固大腸，收脫肛、痔漏、陰瘡之類是也。又治產難、胞衣不出，東垣曰：「胞衣不出，惟澀劑可以下之。」即此是也。然脂有五種，雖在《本經》言「各隨五色補五臟」，又云「白入氣分，赤入血分」，第五脂之性味略同，似亦不必強分者。且其性黏如膏，故用固爐鼎甚良。</p>

<h2>爐甘石</h2>
<p>味甘、澀，性溫。能止血，消腫毒，生肌，斂瘡口，去目中翳膜、赤腫，收濕爛。同龍腦，點治目中一切諸病。宜用片子爐甘，其色螢白，經火煅而鬆膩，味澀者為上。制宜炭火煅紅，童便淬七次，研粉，水飛過，曬用。若煅後堅硬不松不膩者，不堪也。</p>

<h2>蓬砂</h2>
<p>味鹹、微甘。陰也，降也。消痰涎，止咳嗽，解喉痹，生津液，除上焦濕熱、噎膈、癥瘕瘀血，退眼目腫痛、翳障、口齒諸病、骨哽、惡瘡。或為散丸，或噙化咽津，俱可。</p>

<h2>水粉</h2>
<p>（即官粉，亦名胡粉）</p>
<p>味辛，性寒。有毒。善殺蟲、墮胎，治癰疽瘡毒、濕爛諸瘡、下疳瘻潰不收，亦治疥癬、狐臭，黑鬚發。雖亦能墜痰、消食，然惟外證所宜，而內傷諸病，似亦不宜用之。</p>

<h2>密陀僧</h2>
<p>味鹹、平。有小毒。能鎮心神，消痰涎，治驚癇、咳嗽、嘔逆反胃、瘧疾、下痢，止血，殺蟲，消積聚，治諸瘡腫毒、鼻齄、面䵟、汗斑、金瘡、五痔，闢狐臭，收陰汗、腳氣。</p>

<h2>石膏</h2>
<p>味甘、辛，氣大寒。氣味俱薄，體重能沉，氣輕能升。陰中有陽。欲其緩者，煅用；欲其速者，生用。用此者，用其寒散清肅，善祛肺、胃、三焦之火，而尤為陽明經之要藥。辛能出汗解肌，最逐溫暑熱證而除頭痛；甘能緩脾清氣，極能生津止渴而卻熱煩。邪火盛者不（注：似為「可」之誤）食，胃火盛者多食，皆其所長；陽明實熱牙疼、太陰火盛痰喘及陽狂熱結、熱毒發斑、發黃、火載血上、大吐大嘔、大便熱秘等證皆當速用。胃虛弱者忌服，陰虛熱者禁嘗，若誤用之，則敗陽作瀉，必反害人。</p>

<h2>滑石</h2>
<p>味微甘，氣寒。性沉滑，降中有升。入膀胱、大腸經。能清三焦表裡之火，利六腑之澀結，分水道，逐凝血，通九竅，行津液，止煩渴，除積滯，實大腸，治瀉痢、淋秘、白濁，療黃疸、水腫、腳氣、吐血、衄血、金瘡出血、諸濕爛瘡腫痛。通乳亦佳，墮胎亦捷。</p>

<h2>青礞石</h2>
<p>味微甘、微咸。其性下行，降也，陰也。乃肝脾之藥。此藥重墜，制以硝石，其性更利，故能消宿食、癥積頑痰，治驚癇、咳嗽喘急。《寶鑑》言：「礞石，為治痰利驚之聖藥。若吐痰在水上，以石末摻之，痰即隨水而下，則其沉墜之性可知。」楊士瀛謂：「其功能利痰，然性非胃家所好。」而王隱君謂：「痰為百病母，不論虛實、寒熱，概用滾痰丸通治百病。」豈理也哉？是以實痰堅積乃其所宜，然久病痰多者，必因脾虛，人但知滾痰丸可以治痰，而不知虛痰服此則百無一生矣。</p>

<h2>朴硝</h2>
<p>味苦、咸、辛，氣寒。陰也，降也。有毒。其性峻速。咸能軟堅，推逐陳積，化金石藥毒，去六腑壅滯脹急、大小便不通，破瘀血堅癥、實痰，卻濕熱疫痢、傷寒脹閉熱狂，消癰腫排膿。凡屬各經實熱，悉可瀉除。孕婦忌用，最易墮胎；虛損誤吞，傷生反掌。</p>

<h2>玄明粉</h2>
<p>味辛、微甘，性冷。沉也，陰也。降心火，祛胃熱，消痰涎，平傷寒實熱狂躁，去胸膈臟腑宿滯、癥瘕，通大便秘結、陰火疼痛，亦消癰疽腫毒。</p>

<h2>海石</h2>
<p>味鹹，性微寒。陽中陰也。善降火下氣，消食，消熱痰，化老痰，除癭瘤結核，解熱渴、熱淋，止痰嗽喘急，消積塊，軟堅癥，利水濕、疝氣，亦消瘡腫。</p>

<h2>花蕊石</h2>
<p>此藥色如硫黃，黃石中間有淡白點，故名也。李時珍曰：「此藥舊無氣味，今嘗試其氣平，其味澀而酸，蓋厥陰經血分藥也。其功專於止血，能使血化為水，酸以收之也。」若治金瘡出血則不必制，但刮末敷之則合，仍不作膿；及治一切損傷失血，又療婦人惡血血暈，下死胎，落胞衣，去惡血，血去而胎胞自落也。凡入丸散，須用罐固濟，火煅過，研細，水飛用之。</p>

<h2>代赭石</h2>
<p>味微甘，性涼而降。血分藥也。能下氣、降痰、清火，除胸腹邪毒，殺鬼物精氣，止反胃、吐血、衄血、血痹、血痢、血中邪熱，大人、小兒驚癇、狂熱入臟、腸風痔漏、脫精、遺尿及婦人赤白帶下、難產、胞衣不出、月經不止，俱可為散調服；亦治金瘡，生肌長肉。</p>

<h2>硇砂</h2>
<p>味鹹、苦、大辛，性大熱。有毒。善消惡肉、腐肉，生肌，敷金瘡，生肉，去目翳弩肉，除痣黶疣贅，亦善殺蟲毒。水調，塗之，或研末摻之，立愈。《本草》言其消瘀血、宿食，破結氣，止反胃、肉食飽脹，暖子宮，大益陽事，但此物性熱，大毒，能化五金八石，人之臟腑豈能堪此，故用以治外則可，用以服食則不宜也。若中其毒，惟生綠豆研汁，飲一、二升，乃可解之。</p>

<h2>青鹽</h2>
<p>味鹹、微甘，性涼。能降火消痰，明目，除目痛，益腎氣，除五臟癥結、心腹積聚、吐血、尿血、齒牙疼痛出血，殺毒蟲，除疥癬諸蟲及斑蝥、芫青諸毒。此鹽不經火煉而成，其味稍甘，雖性與大鹽略同，而滋益之功則勝之。</p>

<h2>石灰</h2>
<p>味辛，溫。有毒。能止水瀉、血痢，收白帶、白淫，可倍加茯苓為丸服之。此外，如散血定痛，敷癰毒，消結核、癭瘤、惡瘡、腐肉、白癜、䵟斑、息肉，收脫肛、陰挺，殺痔漏、諸蟲，止金瘡血出，生肌長肉。或為末可摻，或用醋調敷，俱妙。能解酒酸，亦解酒毒。</p>

<h1>禽獸部</h1>

<h2>雞血</h2>
<p>（注：附雞冠血）</p>
<p>味鹹，性平。主療痿痹、中惡腹痛，解丹毒、蠱毒、蟲毒、鹽滷毒及小兒驚風、便結，亦能下乳。俱宜以熱血服之；若馬咬人傷，宜以熱血浸之。</p>
<p>雞冠血，治白癜風、經絡風熱。塗囟頰，治口喎不正；卒灌之，治縊死欲絕及小兒卒驚客忤；和酒服，發痘最佳；塗諸瘡癬、蜈蚣、蜘蛛、馬齧等毒；若百蟲入耳，宜用熱血滴之。</p>

<h2>鴨血</h2>
<p>味鹹，微涼。善解諸毒，凡中金銀、丹石、砒霜、鹽滷毒者，俱宜服此解之。若野葛毒殺人至死，熱飲之，入口即解；若溺水死者，灌之即活；蚯蚓咬瘡，塗之即愈。</p>

<h2>虎骨</h2>
<p>味微辛，氣平。主百邪、惡氣，殺鬼精、心腹諸痛，止驚悸，壯筋骨，治肢體毒風拘攣、走注疼痛，闢傷寒、溫瘧及惡瘡鼠瘻、犬咬諸毒。頭骨作枕，辟惡夢魘魅；置戶上，闢鬼祟。寇宗奭曰：「風從虎者，風，木也，虎，金也，木受金制，安得弗從？故可治風病攣急、走注風毒、癲厥、驚癇諸病。」李時珍曰：「虎骨，通可用。凡辟邪，療驚癇、頭風、溫瘧、瘡疽，當用頭骨；治手足諸風，當用脛骨；治腰背諸風，當用脊骨。亦各從其類也。」吳球曰：「虎之一身筋節、氣力，皆出前足，故以脛骨為勝。」</p>

<h2>象牙</h2>
<p>味甘，氣涼。能清心腎之火，可療驚悸風狂、骨蒸痰熱、鬼精邪氣、癰毒諸瘡，並宜生屑入藥煮服；若諸物鯁刺喉中，宜磨水飲之；竹木刺入肌肉，宜刮牙屑，和水敷之，即出。</p>

<h2>鹿角膠</h2>
<p>味甘、咸，氣溫。大補虛羸，益血氣，填精髓，壯筋骨，長肌肉，悅顏色，延年益壽，療吐血下血、尿精尿血及婦人崩淋、赤白帶濁、血虛無子，止痛安胎，亦治折跌損傷、瘡瘍腫毒。善助陰中之陽，最為補陰要藥。</p>

<h2>鹿茸</h2>
<p>味甘、咸，氣溫。破開，塗酥，炙黃脆入藥。益元氣，填真陰，扶衰羸瘦弱，善助精血，尤強筋骨，堅齒牙，益神志，治耳聾目暗、頭腦眩運，補腰腎虛冷、腳膝無力、夜夢鬼交、遺精滑泄、小便頻數、虛痢、尿血及婦人崩中漏血、赤白帶下。道家云：「惟有班龍頂上珠，能補玉堂關下血」者，即此是也。若得嫩而肥大如紫茄者，較之鹿角膠，其功力為倍倍。</p>

<h2>犀角</h2>
<p>味苦、辛、微甘，氣寒。氣味俱輕，升也，陽也。其性靈通，長於走散，較諸角為甚。藥用黑色，功力在尖。專入陽明，清胃火，亦施他臟。涼心定神鎮驚，瀉肝明目，能解大熱，散風毒、陽毒、溫疫熱煩。磨汁，治吐血、衄血、下血及傷寒蓄血發狂、發黃、發斑、譫語、痘瘡稠密、內熱黑陷或不結痂；亦散瘡毒癰瘍、膿血腫痛，殺妖狐精魅、鬼疰、百毒、蠱毒、鉤吻、鴆羽、蛇毒，闢溪瘴山嵐惡氣。其性升而善散，故治傷寒熱毒閉表、煩熱昏悶而汗不得解者。磨尖，攙入藥中，取汗，速如響應。仲景云：「如無犀角以升麻代之者，正以此兩物俱入陽明，功皆升散。」今人莫得其解，每致疑詞，是但知犀角之解心熱，而不知犀角之能升散尤峻，速於升麻也。倘中氣虛弱，脈細無神及痘瘡、血虛、真陰不足等證，凡畏汗、畏寒、畏散者，乃所當忌。或必不得已，宜兼補劑用之。</p>

<h2>羚羊角</h2>
<p>味鹹，性寒。羊本火畜，而此則屬木，善走少陽、厥陰二經。故能清肝定風，行血行氣，闢鬼疰邪毒，安魂魄，定驚狂，祛魘寐，療傷寒邪熱、一切邪毒、中惡毒風、卒死、昏不知人及婦人子癇強痙、小兒驚悸煩悶、痰火不清。俱宜為末，蜜水調服；或燒脆研末，酒調服之；若治腫毒惡瘡，磨水塗之亦可。</p>

<h2>牛黃</h2>
<p>味苦、辛，性涼，氣平。有小毒。忌常山。入心、肺、肝經。能清心退熱，化痰涼驚，通關竅，開結滯，治小兒驚癇客忤、熱痰口噤，大人癲狂、痰壅中風發痙，辟邪魁中惡、天行疫疾，安魂定魄，清神志不寧，聰耳目壅閉，療痘瘡紫色、痰盛躁狂。亦能墮胎，孕婦少用。</p>

<h2>阿膠</h2>
<p>味甘、微辛，氣平，微溫。氣味頗厚，陽中有陰。制用蛤粉炒珠。入肺、肝、腎三經。其氣溫，故能扶勞傷，益中氣；其性降，故能化痰清肺，治肺癰、肺痿、咳唾膿血，止嗽定喘；其性養血，故能止吐血、衄血、便血、尿血、腸風下痢及婦人崩中、帶濁、血淋、經脈不調；其味甘緩，故能安胎固漏，養血滋腎，實腠理，止虛汗，托補癰疽腫毒。用惟鬆脆氣清者為佳，堅硬、臭劣者不美。</p>

<h2>熊膽</h2>
<p>味苦，性寒。能退熱清心，療時氣黃疸，平肝明目，去翳障，殺蛔、蟯、牙蟲風痛及小兒熱疳、熱痰驚癇、瘈瘲、疳䘌、熱痢，俱宜以竹瀝化兩豆粒許服之，甚良；亦治鼻瘡、熱瘡、痔漏腫痛，以湯化、塗之，少加冰片尤效。欲辨其真，惟取一粟許，置水面如線而下一道不散者，是也。且凡是諸膽皆能水面闢塵，惟此尤速，乃亦可辨。</p>

<h2>麝香</h2>
<p>味苦、辛，性溫。能開諸竅，通經絡，透肌骨，解酒毒，吐風痰，消積聚癥瘕，散諸惡濁氣，除心腹暴痛脹急，殺鬼物邪氣魘寐、臟腑蟲積、蛇蟲毒、蠱毒、瘴毒、沙蝨毒及婦人難產。尤善墮胎，用熱水研服一粒。治小兒驚癇客忤，鎮心安神，療鼻塞不聞香臭，目疾可去翳膜，除一切惡瘡、痔漏腫痛、膿水腐肉，面䵟斑疹。凡氣滯為病者，俱宜用之。若鼠咬、蟲咬成瘡，但以麝香封之，則愈。欲辨真假，但置些須於火炭上，有油滾出而成焦黑炭者，肉類也，此即香之本體；若燃火而化白灰者，木類也，是即假攙。</p>

<h1>蟲魚部</h1>

<h2>龍骨</h2>
<p>味甘，平，性收澀。其氣入肝、腎。故能安神志，定魂魄，鎮驚悸，澀腸胃，逐邪氣，除夜夢鬼交、吐血衄血、遺精夢泄，收虛汗，止瀉痢，縮小便，禁腸風下血、尿血、虛滑脫肛、女子崩淋帶濁、失血漏胎、小兒風熱驚癇，亦療腸癰臟毒、內疽陰蝕，斂膿斂瘡，生肌長肉，澀可去脫，即此屬也。制須酒煮、焙乾，或用水飛過，同黑豆蒸熟，曬乾用之。</p>

<h2>海螵蛸</h2>
<p>（即烏賊魚骨）（注：附烏賊魚）</p>
<p>味鹹，性微溫。足厥陰、少陰肝、腎藥也。咸走血，故專治血病，療婦人經枯血閉、血崩血淋、赤白帶濁、血癥氣瘕、吐血下血、臍腹疼痛、陰蝕瘡腫，亦治痰瘧，消癭氣及丈夫陰中腫痛，益精固精，令人有子，小兒下痢膿血，亦殺諸蟲，俱可研末、飲服；尤治眼中熱淚，磨翳去障，並宜研末和蜜點之；為末，可敷小兒疳瘡、痘瘡臭爛、膿濕下疳等瘡、跌打出血、湯火諸瘡；燒灰存性，酒服，治婦人陰戶嫁痛；同雞子黃，塗小兒重舌、鵝口；同蒲黃末，敷舌腫出血如泉；同槐花末吹鼻，止衄血；同麝香吹耳，治聤耳耳聾。</p>
<p>烏賊魚：善補益精氣，尤治婦人血枯經閉。</p>

<h2>牡蠣</h2>
<p>味微咸、微澀，氣平。用此者，用其澀能固斂，咸能軟堅。專入少陰腎臟，隨藥亦走諸經。能解傷寒溫瘧、寒熱往來，消瘀血，化老痰，去煩熱，止驚癇、心脾氣痛，解喉痹、咳嗽、疝瘕積塊、痢下赤白，澀腸止便，禁鬼交遺瀝，止滑精帶下及婦人崩中帶漏、小兒風痰、虛汗。同熟地，固精氣，禁遺尿；同麻黃根，斂陰汗；同杜仲，止盜汗；同白朮，燥脾利濕；同大黃，善消癰腫；同柴胡，治脅下硬痛；同天花粉（注：原為「茶」，顯誤，改），消上焦癭瘤、瘰癧結核。</p>

<h2>穿山甲</h2>
<p>味鹹，平，性微寒。能通經絡，達腠理，除山嵐瘴氣瘧疾、風痹強直疼痛，療小兒五邪驚啼、婦人鬼魅悲泣，下乳汁，消癰腫，排膿血，除瘡疥、痔漏，通竅殺蟲。佐補藥，行經，善發痘瘡。或炮焦投入煎劑，或燒灰存性，酒服方寸匕。亦可用敷惡瘡。</p>

<h2>青魚膽</h2>
<p>味苦，性寒。其色青，故入肝、膽二經。能消赤目腫痛，點暗目；可吐喉痹痰涎，塗熱瘡、惡瘡；亦消魚骨之鯁。</p>

<h2>白花蛇</h2>
<p>（即蘄蛇也）</p>
<p>味甘、咸，性溫。有毒。諸蛇鼻俱向下，惟此蛇鼻向上，而龍頭虎口、黑質白花，脅有方勝紋二十四個，口有四長牙，尾上有一拂指甲者，是。用宜去頭尾各三寸，以防其毒；春秋酒浸三宿，夏一宿，冬五宿；火炙，去盡皮骨，取肉焙乾，密封藏之，久亦不壞。諸蛇之性皆竄，而此蛇尤速，故善於治風，能透骨髓，走臟腑，徹肌膚，無所不到。療中風濕痹、骨節疼痛、手足拘攣、不能行立、暴風瘙癢、破傷風、大風癩癬及小兒驚風搐搦、瘰癧、楊梅、風毒惡瘡，俱為要藥。凡服蛇酒藥者，切忌見風。</p>

<h2>真珠</h2>
<p>味微甘、微咸。能鎮心，明目，去翳磨障；塗面，可除䵟斑，令人潤澤好顏色；亦除小兒驚熱，安魂魄；為末，可敷痘疔、痘毒。</p>

<h2>龜板</h2>
<p>（注：附龜板膏）</p>
<p>味微甘、微咸，性微寒。陰也。能治痰瘧，破癥堅，祛濕痹、傷寒、勞役骨中寒熱，消五痔、陰蝕諸瘡。下甲能補陰血，清陰火，續筋骨，退勞熱，療腰腳痠痛，去瘀血，止血痢、漏下赤白，利產難，消癰毒。燒灰，可敷小兒頭瘡難燥、婦人陰瘡、臁瘡，亦治脫肛。</p>
<p>龜板膏：功用亦同龜板，而性味濃厚，尤屬純陰。能退孤陽、陰虛勞熱、陰火上炎，吐血、衄血、肺熱咳喘、消渴煩擾、熱汗、驚悸、譫妄、狂躁之要藥。然性稟陰寒，善消陽氣，凡陽虛假熱及脾胃、命門虛寒等證，皆切忌之，毋混用也；若誤用，久之則必致敗脾妨食之患。</p>

<h2>殭蠶</h2>
<p>味辛、咸，性溫。有小毒。辛能散，咸能降，毒能攻毒，輕浮而升，陽中有陰。故能散風痰，去頭風，消結核、瘰癧，闢痰瘧，破癥堅，消散風熱喉痹危證，尤治小兒風痰急驚客忤，發痘瘡，攻痘毒，止夜啼，殺三蟲、婦人乳汁不通、崩中帶下。為末，可敷丹毒疔腫，拔根極效；滅頭面䵟斑及諸瘡瘢痕、金瘡、痔瘻、小兒疳蝕、牙齦潰爛、重舌、木舌及大人風蟲牙痛、皮膚風疹瘙癢。</p>

<h2>蟾蜍</h2>
<p>（俗名癩蝦蟆）（注：附蟾酥）</p>
<p>眉間有兩囊，遍身有顆磊，其中俱有蟾酥。行極遲緩，不能跳躍，亦不解鳴者，是也。此物受土氣之精，上應月魄，賦性靈異，穴土食蟲，能制蜈蚣。入足陽明胃經。消癖氣積聚，破堅癥腫脹，治五疳八痢及小兒勞瘦疳熱，殺疳蟲，消癰腫、鼠瘻、陰疽惡瘡。若治破傷風，宜同花椒剁爛，入酒煮熟，飲之，通身汗出即愈，亦解猘犬毒；燒灰，油調，敷有蟲諸惡頑瘡極效；又治瘟毒發斑，危劇者，去腸，生搗一、二枚，絞汁飲之，無不即瘥，或燒灰，湯送亦良。</p>
<p>蟾酥，味辛、麻，性熱。有毒。主治發背、癰疽、疔腫、一切惡毒。若治風蟲牙痛及齒縫出血，以紙捻蘸少許，點齒縫中，按之即止。</p>

<h2>水蛭</h2>
<p>味鹹、苦，性微寒。有毒。能逐惡血、瘀血，破血癥積聚，通經閉，和水道，墮胎，咂赤白遊疹、癰疽腫毒及折傷跌僕、瘀血不散。制用之法，當取田間齧人、腹中有血者，佳；須曬乾、細銼，以微火炒黃熟方可用；或以冬收豬脂煎令焦黃，用之亦可。不爾，入腹則活，最能生子害人。若受其害，惟以田泥水，或黃土水飲數升，則必盡下，蓋此物得土氣，即隨土而走也；或以牛、羊熱血一、二升，同豬脂飲之，亦下也。</p>

<h2>鱉甲</h2>
<p>味鹹，氣平。此肝、脾、腎血分藥也。能消癥瘕堅積，療溫瘧，除骨節間血虛勞熱、婦人血癥惡血、漏下五色、經脈不通，治產難，能墮胎及產後寒熱、陰脫、小兒驚癇、斑痘、煩喘，亦消瘡腫、腸癰、撲損瘀血，斂潰毒，去陰蝕、痔漏、惡肉。然須取活鱉大者，去肉，用醋煮乾，炙燥用之；若諸煮熟、肋骨露出者，不堪用。</p>

<h2>蜈蚣</h2>
<p>（一名蝍蛆（原作「即蛆」，據《綱目》改）。赤足者良）</p>
<p>味辛，溫。有毒。能啖諸蛇，殺諸蛇、蟲、魚、鬼疰諸毒，去三蟲，攻瘰癧、便毒，痔瘻，丹毒，亦療小兒驚風、臍風、丹毒、禿瘡。然此蟲性毒，故能攻毒，不宜輕用，若入藥餌，須去頭足，以火炙熟用之。</p>

<h2>蟬蛻</h2>
<p>（注：蛻，原作「脫」，顯誤，改）</p>
<p>味微甘、微咸，性微涼。此物飲風吸露，氣極清虛，故能療風熱之證；亦善脫化，故可療痘瘡壅滯、起發不快。凡小兒驚癇、壯熱煩渴、天吊口噤、驚哭夜啼及風熱目昏翳障、疔腫瘡毒、風疹癢痛、破傷風之類，俱宜以水煎服；或為末，以井花水調服一錢，可治喑啞之病。</p>

<h2>斑蝥</h2>
<p>味辛，性熱。有大毒。能攻鼠瘻、瘰癧、瘡疽，破血積疝瘕，墮胎元，解疔毒、猘犬毒、沙蝨、蠱毒、輕粉毒，亦敷惡瘡，去死肌敗肉。制用之法，須去翅足，同糯米炒熟，然後可用；或同麩炒，或同醋煮皆可。若中其毒，惟黑豆、綠豆汁、靛汁、黃連、濃茶、蔥汁可以解之。</p>

<h2>蜂房</h2>
<p>味微甘、微咸。有毒。療蜂毒、腫毒。合亂髮、蛇蛻燒灰，以酒服二方寸匕，治惡疽、附骨疽、疔腫諸毒，亦治赤白痢、遺尿失禁、陰痿；煎水，可洗狐尿瘡、乳癰、蜂螫、惡瘡及熱病後毒氣衝目；漱齒牙，止風蟲牙痛；炙研、和豬脂，塗瘰癧成瘻。</p>

<h2>五靈脂</h2>
<p>味苦，氣辛。善走厥陰。乃血中之氣藥也。大能行血，行氣，逐瘀止痛，凡男子、女人有血中氣逆而腹脅刺痛，或女人經水不通、產後血滯、男子疝氣、腸風血痢、冷氣惡氣、心腹諸痛、身體血痹，脅肋、筋骨疼痛，其效甚捷。若女子（注：原為「中」，顯誤，改）中血崩、經水過多、赤帶不止，宜半炒半生，酒調服之。亦治小兒氣逆癲癇，殺蟲毒，解藥毒，行氣極速。但此物氣味俱厚，辛膻難當，善逐有餘之滯，凡血氣不足者服之大損真氣，亦善動吐，所當避也。制用之法，當用酒飛去砂石，曬乾入藥。</p>

<h2>全蠍</h2>
<p>味甘、辛。有毒。生東方，色青，屬木，足厥陰肝經藥也。故治中風、諸風，開風痰，口眼喎斜、半身不遂、語言蹇澀、痎瘧、耳聾、疝氣、風瘡、癮疹、小兒風痰驚癇，是亦治風之要藥。</p>

<h2>文蛤</h2>
<p>（即五倍子）</p>
<p>味酸、澀，性微涼。能斂能降。故能降肺火，化痰涎、生津液、解酒毒，治心腹疼痛、夢泄遺精，療腫毒喉痹，止咳嗽、消渴、嘔血、失血、腸風臟毒、滑泄久痢、痔瘻下血不止，解蠱毒、蟲毒、婦人崩淋帶濁、子腸不收、小兒夜啼、脫肛，俱可為散服之。若煎湯用，可洗赤眼濕爛、皮膚風濕癬癩、腸痔脫肛；為末，可敷金瘡折傷，生肌斂毒。</p>

<h2>百藥煎</h2>
<p>（即五倍子釀造者）</p>
<p>味酸、澀、微甘。功用與五倍子頗同，但經釀造而成，其氣稍浮，其味稍甘而純，故用以清痰、解渴、止嗽及收斂耗散諸病，作丸噙化，為尤佳。及治下焦滑泄諸病，亦更優也。</p>

<h2>蝸牛</h2>
<p>（負殼而行者）（注：附蜒蚰）</p>
<p>味鹹，性寒。有小毒。能清火解熱。生研汁飲，消喉痹，止消渴、鼻衄，通耳聾，治腫毒、痔漏，療小兒風熱驚癇；加麝香搗罨臍間，大利小便，亦敷脫肛及治蜈蚣蠆毒，俱宜研爛敷之。</p>
<p>無殼者，名蜒蚰，治熱瘡癰毒腫痛。少入冰片，研塗痔漏脫肛，熱痛最良，解蜈蚣毒尤捷。</p>

<h2>蚯蚓</h2>
<p>（注：附六一泥）</p>
<p>味鹹，性寒。沉也，陰也。有毒。能解熱毒，利水道，主傷寒、癉瘧、黃疸、消渴、二便不通，殺蛇瘕、三蟲、伏屍、鬼疰、蠱毒、射罔藥毒，療癲狂、喉痹、風熱赤眼、聤耳、鼻息、瘰癧、陰囊熱腫、脫肛；去泥，鹽化為水，治天行瘟疫、大熱狂躁，或小兒風熱癲狂、急驚，飲汁最良，亦可塗丹毒、漆瘡；炒為末服，可去蛔蟲，亦可敷蛇傷腫痛、蜘蛛傷毒；入蔥管，化汁，可治耳聾及蚰蜒入耳。若中蚯蚓毒者，惟以鹽湯浸洗，或飲一杯，皆可解之。</p>
<p>糞，名六一泥。可塗火瘡、痄腮熱毒，亦止消渴，解瘟疫、煩熱狂躁，利小水，通五淋熱閉疼痛。</p>

<h2>桑螵蛸</h2>
<p>即螳螂育子房也。深秋作房，黏著桑枝之上，房長寸許，大如拇指，其內重重有隔，每房有子如蛆，卵子是也。味甘、微咸，性平。能益氣益精，助陽生子，療男子虛損、陰痿、夢遺、疝瘕、遺尿，治女人血閉、腰痛，通五淋，利水道。炮熟，空心食之，可止小便不禁。</p>

<h1>人部</h1>

<h2>童便</h2>
<p>味鹹，氣寒。沉也，陰也。咸走血，故善清諸血妄行，止嘔血、咳血、衄血、血悶熱狂，退陰火，定喘促，降痰滯，解煩熱，利大小兩便，療陽暑中暍、聲喑、撲損瘀血暈絕、難產、胎衣不下及蛇犬諸蟲毒傷。若假熱便溏、胃虛作嘔者，俱不可妄用。</p>

<h2>紫河車</h2>
<p>（一名混沌衣）</p>
<p>味甘、咸，性溫。能補男婦一切精血虛損，尤治癲癇失志、精神短少、怔忡驚悸、肌肉羸瘦等證。此舊說也，但此物古人用少，而始於陳氏《本草》，自後丹溪復稱其功，遂為時用。予於初年亦惑於以人補人之說，嘗制用之，及用之再三，則無所奇效；且制用之法，若生搗之則補不宜生；若燉（注：原作「頓」，改）熟、烘熟，則亦（注：亦下原有「由」字，顯衍，刪）肉餔之類耳。又嘗見有以酒煮而食之者，後必破腹泄瀉，總亦因其性滑也。近復有以純酒煮膏，去柤收貯，而日服其膏者，較前諸法似為更善，然其既離毛裹，已絕生氣，既無奇效，又胡忍食之以殘厥子之先天，東方朔曰：「銅山西崩，洛鐘東應。」此母子自然之理，不可不信，故並述此以勸人少用可也。</p>

<h2>血餘</h2>
<p>味微苦，性溫。氣盛，升也，陰中陽也。在古藥性，不過謂其治咳嗽，消瘀血，止五淋、赤白痢疾，療大小便不通及小兒驚癇，治哽噎、癰疽疔腫。燒灰吹鼻，可止衄血等證。然究其性味之理，則自陰而生，自下而長，血盛則發盛，最得陰陽之生氣，以火炮製，其色甚黑，大能壯腎，其氣甚雄，大能補肺；此其陰中有陽，靜中有動，在陰可以培形體，壯筋骨，托癰痘，在陽可以益神志，闢寒邪，溫氣海；是誠精氣中最要之藥，較之河車、鹿角膠陰凝重著之輩，相去遠矣！凡補藥中自人參、熟地之外，首當以此為亞。</p>

<h2>人中白</h2>
<p>味鹹，性微涼。能降火清痰，消瘀血，止吐血、衄血，退勞熱，清肺癰、肺痿、心膈煩熱。燒研為末，大治諸濕潰爛、下疳惡瘡、口齒疳蝕、蟲䘌腫痛、湯火諸瘡及諸竅出血，生肌長肉，善解熱毒。或生用為末，亦可。</p>
