<header data-type="book">
<h1>推篷寤語</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李豫亨</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1570">公元1570年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=3169">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>推篷寤語序</h1>
<p>醫不三世不服其藥又曰九折肱方能為活人之術醫學自前情季年由不工商者廁身其問荒落益不堪言華洋交通東西醫輸入文秀之士始留心科學本格致而旁及醫術搜古籍研新術雖他族有一日千里之勢我岐黃家學亦群競發明以與相抗衡往往內症經他族告絕不理者經我醫對症進方立起沉疴同社裘君吉生有搜刊醫書之舉不佞於無錫孫君文修處見推蓬寤語一書系前明松江率豫亨字元薦所著此書原版已毀先生自幼性耽博覽始從師好志輒學詩兒祈禱有驗輒學祈禱嘉靖丙申從其父海樓憲副收大溈寇多集兵書輒喜談兵兼習韜鈐星遁射弩諸法自楚歸吳即捐夙好專習舉業遊膠庠間有聲時文衡山諸公以書畫嗚輒學書旁及古□名繪善鑑賞繼而有以養生說進者輒喜談養生蒐緝玄家梵蒐數百種更及於醫卜星相莫不窺其奧妙顧數奇迄不如志隆慶庚午始捐舉業以鴻臚謁選自蘇赴京舟行多暇捕夙昔所知能表見者匯為描篷寤語計九卷內分測微原教本術還真訂疑毗政諸篇該洽古今貫穿百家蘧蘧焉足起人意末附以往來論學函牘一卷共十卷隆慶辛末秋梓行不佞因原教本術二篇有關醫術摘抄以貢同仁可見先生當日談醫之一斑何今之以醫名世者墨守一家言靈素諸書既少涉獵欲其旁通格致學究天人不益戛戛乎且難之哉詎知百凡學術不進即退勢無中立將來地軸遷移空氣變換寒溫帶冷熱長縮有違舊序萬匯在交氣之中呼吸醞釀病日出而日多則術亦宜日進而日精現在西醫黴菌血清電氣療治諸法較之古人已上一層再經數十年精益求精後之視今亦猶今之視昔此亦進化之公理也先生不以醫名世而能博學周知若此否儕在醫那通當學術競爭潮流而不融洽中外之書以拯斯人疾苦讀先生遺篇當亦廢然自返矣是為序中華民國七年十月下浣新安古點王壽芝蘭遠序於江村遊六軒</p>

<h1>推篷寤語自敘</h1>
<p>舟之亡所見者篷蔽之人之懵所知者寐障之舟匪篷則丹崖碧流在望矣人匪寐則開戶發牅昭如矣非心目不及也物翳之也物翳去則心光目色朗然鬯矣余夙慕古人奇節軼行操鉛槧以於有司之知恆欲稍稍施用於世顧性拙命奇迄不如志逐而不知止久矣夫余之寐也歲庚午始捐舉子業謁</p>
<p>天曹選將從遊縉紳先生以求通余寐焉掛帆北征時適春莫每推篷坐舟次縱觀淮徐齊魯之風物仰瞻泰山之磅礴北顧黃河之奔流蓋天上之大觀幾得其半矣乃喟然嘆日偉哉山川大天假此以通余之瞶瞶耶夫六藝之囿至廣道德之淵至深其高達於無上其卑人於無下藏若江海達若康莊學者曠然而通爽然而明則內外之分弗淆榮辱情靡忒即鍾彝竹帛猶且與吾性不相涉入也況乎挈量進退於咫尺間哉余自小迄茲鑽研故紙汎濫諸家窮晝夜之力不廢且濡染先公遺訓咨諏先達名言孜孜惟恐不拯者歷念餘年矣茲遊也乃因舟中之暇攄夙昔所知解表見古今嘉聞懿行可垂世則者間附己意形之楮素累數百條總若干卷庶幾哉啟昔之寐而為今之覺乎雖然昔人有言夢中說夢自以為寤矣匆匆然與人言之不知其尚寐也余之寤也毋乃燈此其方夢也不自知也夢之真醒也不自知也同餘夢者亦不知也惟先覺者知之今學士大夫高明後爽暉映先後其於道德閒奧固有神悟而心解矣余也幸觀泰山之崇高與黃河之榮帶且仰覲</p>
<p>天子宮闕之宏麗矣而非求如歐陽子之文章與韓文公之才抱若蘇子所稱者以盡余之大觀則又烏能自己因名曰推篷寤語以俟當世之先覺君子時隆慶庚午四月即望雲間李豫亨元薦甫</p>

<h1>推篷寤語</h1>

<h2>原養生之教</h2>
<p>聖人以天地為法象明人身之安危天地之氣一歲十二卦一卦六爻共七十二爻半陰半陽總候二百六十日陰消陽長暑往寒來故十一月復卦坤下陽生井泉即溫至於正月三陽陽氣平地故云內陽而外陰及乎四月六陽將盡陰氣下生則井底寒泉至於七月三陰平地故曰外陰而內陽也天地之氣相去八萬四千里日月周天動經一歲入於天地具體而微心腎之氣相去僅八寸四分元氣周流止於百刻故以於為一陽生午為一陰生七十二爻半陰半陽盈虧消息比之天地之氣特倏忽耳善攝生者吾之天地陰陽無愆則榮衛周密而六淫無自入矣</p>
<p>夫人應世之術非必盡廢諸事而後謂之攝養也特消息否泰而行之藏之量其才能而負乏荷之若才不逮而強思力不勝而強舉深憂重恚悲哀憔悴喜樂過度汲汲所欲慼慼所患談笑不節興寢失時挽弓引弩沉醉嘔吐飽食即臥跳走喘乏歡呼哭泣皆為過傷此古人所戒之節也況風前月下竹徑花邊俯仰傷懷杯余疏散或進退維谷而干祿或沖煙冒瘴以求榮呼吸雜邪停留寵辱飲食異味荏苒暴患尤不可不知戒焉</p>
<p>外獲其身如惜千霄之茂樹勿縱一斧之刃伐傷內獲其行如惜渡海之浮囊勿容一鑑之鋒穿破妙道之十當知二護之法有味哉其言之也君子修身慎行必須當存此意始得　善理家者忘其身善理國者忘其家何也為富不仁則忘其身矣為天下不顧家則忘其家矣聖人以肢體為國以精氣為民治其身而家無不齊治其家而國無不理</p>
<p>因馬念車因車念蓋趑趄囁嚅而未決寤寐驚悸而不安夫二五之精妙合而凝兩腎中間白膜膜內一點動氣大如筋頭鼓舞變化開闔周身薰蒸三焦消化水穀外御六淫內當萬慮晝夜無停八面受敵由是神隨物化氣逐神消榮衛告衰七竅反常矣噫業識茫茫安有止極是在人知足知止耳</p>
<p>人之始生其氣日向上升故齒毀復出發剃更生志慮聰明日長及真精既溢之後其氣日漸下降初則便溺處毫毛次則兩脅毫毛精神已虧於體矣又次則兩頰生髭髯又次則兩頷生髭髯而精神已虧於首矣然猶有精血充滿髭髯毫毛尚黑迨至中年則精血不能允滿而頤頰皓互霜雪滿顛齒落不生髮落不出矣君子見其徵則知其內驗其符則省其中而頤體養精惜氣存神雖若逐亡猶恐不及況縱欲以戕生損身以促命乎人之胚胎賴父母精血凝結而成及至十月胎完則父母精血一點也用不著止做得一個胞胎其中得父母一點神氣日漸長大其精血惡濁之物日逐腳比至十月滿足翻天覆地應地一聲脫胎出世其父母惡濁之氣還不能盡又去口血剃胎髮每月變蒸輪年疹痘至七八歲又毀齒更生然後體氣漸清知慮漸長別立干坤自成造化漸至十六歲再為父母矣豈非天地一團至真之氣所成乎人不自愛愛惜夭折不能延年立命實為可可惜人之有身乃天地一點真陽之氣也是氣也生於無形無象之先聚於無極太極之內父母未生二五之精妙合而凝未有此身即有此氣此氣運行周流六虛形以之而成心以之而靈耳目以之而聰明元神以之而運行五行以之而化生散之則混融無間聚之則凝結成形聖人知此攝動心止欲念聚神光結正氣天下泰然將正而定矣</p>
<p>受天下之群實心莫若虛應天下之群動心莫若靜惟虛不為物之所凝惟靜不為物之所惑故必窒愆以空其性懲忿以虛其心以之修身則無自不得以之治性則無往不可寂然太空與道為一</p>
<p>天地之氣不升則不降不出則不入虛管溉滿捻土懸之水固不泄為無升氣而不能降也空瓶小口頓溉不入為氣不出而不能入也善養生者能存其神則氣自裕神之所至氣亦隨之而往焉盈天地間皆氣也氣不為天地之所盜則為吾人之所盜長生久視之術且要在此人顧損精以耗其氣何哉墳素之書以心為身中君主之官神明出焉以此養生則壽沒齒不殆主不明則道閉塞而不通形乃人傷以此發生則殃聖人以身為國以心為君以精氣為民抱一守中心不妄用故精充氣住戰退百邪丹田有寶四大經安修之不已內功外行乃證真仙</p>
<p>長生之道莊於一段亦自好看加云黃帝問廣成子治身奈何而可以及久廣成子曰善哉問至道之精窈窈冥冥至道之極昏昏默默無視無聽抱神以靜形將自正必靜必清無勞爾形無搖爾精乃可長生慎內閉外多知為敗我守其一以處其和故千二百歲而形未嘗衰人果能無勞爾形無搖爾精良生之道可以無俟外覓</p>
<p>金來歸性初乃得稱還丹朱子以為忝同吐露還丹要訣在此恰不知無者以奉上上有神德居此兩孔竊法金氣亦相胥等語亦是此意均照人以形相求之故交互其辭金不對木卻以對性無不對有卻以對上神以對德不以道對金以對氣不以木對恐人泥性情金木上下神氣道德而求要之只是鉛汞二字鉛不下沉汞不土飛只是交結在吾儒之道只是懲忿窒欲鉛汞自結也</p>
<p>形以道全命以術延此二語道盡金丹骨髓以道全者只是修性工夫以術延者只是修命工夫仙歌云若還修性不修命總是神仙第一病若還修命不修丹萬劫英靈難入聖如此則修性修命修丹工夫俱不可少修性之法與二乘坐禪頗同修命之法只是頃刻結丹之妙修丹之法則有天元地元人元人分然總不過是收拾身心斂藏神氣二語耳道雖分三理致只一古詩大超凡一句絕商量說破都君笑斷腸一切順違生死事莫令厭戀作心王大抵桑榆之景勞逸不同勞心者甚於勞力善為心王者勞亦如是逸亦如是如魚飲水冷暖自知弗以有涯之身供彼無涯之事</p>
<p>物生於天而養於天然人為嗜欲所勝聲色上蠱勢利之徇燠寒之觸情炎於中形索於外天始不能司其養矣聖人作內經數萬言或防於未然或救於已然無非補天養也嗚呼知養生之在我則知聖人之言當鑑如迷欲不返則天且不能如之何況古人之陳言乎</p>
<p>血肉之軀未當無病鳥獸亦血肉也巢居穴處飽而後已何以無病馬牛鷹鷂亦鳥獸也乃亦有病何也以鳥做未嘗受人羈靮鞫而馬牛鷹鷂則轡縶在人故耳夫人勞心勞力為治人不人之所役使安得不為諸疾之所侵覦君子見其始即知其終善為心王不為形役病安從生</p>
<p>飲食有節脾土不泄調息寡言肺金自全恬然無欲腎水自足動靜宜敬心火自定寵辱不驚肝木以寧此得之楊景明先生之傳云養生家日用之不可廢者余謂豈獨養生即躋賢聖亦不過是語矣</p>
<p>身有毛髮處俱是精之走漏處頭之有發精隨上越也眼之有毛精隨之視出也鼻之有毫精隨氣行也頤頰之有髭鬚精隨口發也便溺之有亳毛精隨液動也蓋精發於竅氣亦從之其不及隨竅出者橫溢於旁遂為毛髮耳此最為一身精神之徵皓素枯槁而不之惜何哉</p>
<p>身中六賊惟眼最緊身中堤防六賊亦惟眼為最難故目中一見可欲則君心為之奔逸馳驟不可複製善堤防者就於此處著力似有根柄陰符經云機在目吾儒序克復首曰非禮勿視心經序眼耳鼻舌身意亦惟以眼為先蓋三教聖人俱以此為至要</p>
<p>注列子者曰色盛者驕力盛者奮是少壯之時也少壯則血氣飄溢欲慮充起安可能語至於斑白則血氣即衰欲慮柔而體將休矣故可與語道而行之也然有循大化而不與化俱者常不失赤子之心雖壯而不驕雖耄而不耗其於誤道無往而不暇矣今之君子功成名遂霜雪盈顛而方且不暇聞道焉抑叉何敞眼者神之牖鼻者氣之戶尾閭者精之路人多視則神耗多息則氣虛頻好內則精竭務須時時閉目以養神日逐調息以養氣緊閉下元以養精精充則氣裕氣裕則神完道家謂之三寶又謂之大藥此非惑於異端之教實吾儒養生之常理耳</p>
<p>精存於目則其視明精存於耳則其聽聰精留於口則某言當精集於心則其慮通故閉四關則終身無患又曰中欲不出謂之扃外邪不入謂之閉中扃外閉何事不節外閉中扃何事不成合文子之二語觀之人何可不愛精而遠欲耶</p>
<p>孔子曰及其壯也血氣方則戒之在鬥夫鬥者非物鬥很才有勝心即自傷和學未明而傲養未成而驗志不行則鬱而病矣自暴自棄言不及義而狂矣大概血氣盛旺之時難以制抑凡事當先心是吾之靈明人一切好欲欺侮凌奪肆恣者是血氣所使倘犯刑名災害則是靈明主人自受苦辱也當作此想者自然漸成調伏</p>
<p>男子八歲而陽精生十六歲而陽精泄八八六十四而陽精竭女子七歲而癸水生十四歲而癸水降七七四十九而癸水竭余嘗臉之男子之壽多阻於六十四歲之外稍有不謹多生腫脹風痹諸疾多損壽元故曰人生七十古來稀女子之壽多阻於四十九歲之外稍有不謹則多生崩淋中脘諸疾亦多損壽元男子能過六十八九女子能過五十三四則可躋土壽無難故知命者於此耗竭之時尤宜加謹此真人鬼關捩也</p>
<p>人大怒破陰大喜隊陽薄氣發暗驚怖為狂憂悲焦心疾乃成積人能除此五者即合於神明五臟寧思慮平耳目聰明筋骨勁強疏達而不悖堅強而不匱人生頰以眠臥為宴息飲食為頤養不知睡臥最不可嗜禪家以為六慾之首嗜臥則損神氣飲食亦不可過多飲食最能抑塞陽氣不能上升將以養生實以殘生也君子夙興夜寐常使清明在躬淡餐少食常使腸胃清虛則神氣周流陰陽得位此最養生之大要若肄志□褥恣啖濃鮮殊非調護之宜矣</p>
<p>張南軒攝生四要云少思以養神少欲以養精少勞以養力少言以養氣竊謂此四少人不能久持耳若久久行之則精氣神自充雖不煉養而煉養在其中若自少而至無至於無思無愁無勞無言此又向上一著久久不已可證天仙天何思何欲何勞何言</p>
<p>九華真妃曰眼者身之鏡耳者體之牖視多則鏡昏聽眾則牖閉面者神之庭發者腦之華心悲則面焦腦減則發素精者體之神明者身之寶勞多則精散營竟則明消彼其所言磨鏡之石決牖之術童面之經還白之法益精之道不過是寶精裕氣耳故曰上品上藥神與氣精</p>
<p>邢和叔言吾曹常須愛養精力精力不稍足則勌勌所臨事皆勉強而無誠意接賓客言語尚可見況臨大事乎大抵能慎保始終者□疾延年老當益壯雖有貧富之異而榮衛沖融四時若春比之抱病而富且貴已為霄壤之隔矣況能進之不已則非常人所可知也</p>
<p>青州錄事參軍麻希憲年九十餘致仕唐太宗問攝生術對曰臣無他術惟是少情寡欲節聲色薄滋味而已唐柳公度年八十有強力人問其術對曰平生未嘗以脾胃熟生物暖冷物以元氣佐喜怒宋呂許公為相問服食之法於任恭惠公公曰不曉養生之術但中年因讀文選有悟耳謂石蘊玉而山輝水含珠而用媚許公深以為然觀此三說則養生之道可以懸解若夫煉服食以冀長生此則方士之妄談高明之士慎弗惑焉</p>
<p>唐同州剌史盂誅致什歸伊陽年雖晚慕志力如壯嘗謂所親曰若能保身養性者常須善言莫離口良藥莫離手竊謂善言不離口則德祟而德厚良藥不離手則病去而身康固長久之術也然口有善言又當身行善事物療身病又當法療心病不尤為愈哉</p>
<p>國朝道林蔣先生偶抱贏疾歲乙亥病益甚噦血幾不起先生乃謝醫藥借寓道休寺一家只以一力自隨閉目跌足默坐澄心常達晝夜不就枕蓆一日忽香津滿頰一片虛白炯炯見前冷然有省之間而沉疴已溘然去體矣先生嘗曰某讀關洛諸書見得萬物一體未敢自信直到三十二三歲因病去寺中靜小將怕死與戀老母念頭一齊斷卻如此半年餘一旦忽覺此心洞然宇宙渾屬一身呼吸痛癢毫無間隔宋□文元公名迥字明遠天資純至年過四十登第始娶得煉氣服形之淺謝事燕居獨處道院不治他務戒家人無輒有請惟二膳有時而進既畢即徹若祭享然其言曰辯不如訥語不如默動不如靜忙不如閒又云清勝於濁靜勝於動忘勝於思默勝於語性勝於情五勝習熟乃人道之漸門也晚年耳中聞聲自言如樂中簧以為學道靈應之驗享年八十四而卒</p>
<p>宣和中一兵偶為車轢蹩不能行遇一道人傳以少藥步履如初兵大感激偏遊天下訪求其人少致謝忱一日復遇於途哭泣拜謝道人曰吾施恩於人多矣誰如子者授以秘訣兵遂得道文中聞之詣兵問道兵曰清靜是道簡易為上文中頓若有省噫知清靜之為道與簡易之為道何俟他求</p>
<p>王邦叔侍紫陽為北子凡九年因至羅浮語及丹訣紫陽曰自太極既分之後一點靈光人人有分賢不加多愚不加少盍去靜室中思我此語有所覺即急來邦叔靜思至夜紫陽詣其室叩門邦叔趨而出迎紫陽笑曰吾一尋汝便見爾兩日尋他不得遂滅所執之燭而退邦叔大窘坐至五更大悟通體汗流待旦以頌呈紫陽月照長江風浪息魚龍遁跡水天平個中誰唱真仙子聲滿虛空萬籟清紫陽問在誰唱誰聽邦叔遂答一詩莫問誰莫問誰一聲高了一聲低阿誰唱阿誰聽橫豎大千說不盡先生有意度迷從急撞靈臺安寶鏡鏡明澄靜萬緣空百萬絲條處處通斗轉星移人睡定覺來紅日正當中紫陽遂出金丹圖傳之邦步止羅浮二十年坐化</p>
<p>附胎育</p>
<p>男三十而娶女二十而嫁古之制也今人以病男羸女為不及而畢姻或男女病患新瘥以吉日之迫而結婚病蛾無能繭之蠶破蕊無結實之果少年子女三關情逸五神志蕩房中分外業種成胎或佚儒不振或巨首瞠目雖具人形實無聰慧其次學道行淫執法無戒吒鬼驅神產男生女望望不似余實見之每為憐憫</p>
<p>受娠之後始終無犯則胎氣真純忽有靈光入夢或有瑞氣相憑而生聖賢君子是以古今史傳分明五祖山誡禪師慕蘇老泉而為東坡學士武夷丹土投真漆匠之家而產西山先生嵩道者受史衛王之供而出嵩之丞相凡投胎奪舍之靈常有神童茂異之士故胎教之法使孕婦常觀良金美玉瑚璉蔞□之器山川名畫之祥又聽講誦經史傳集而使秀氣入胎欲其生而知之是乃仁術也投胎奪舍之說吾儒所無胎教之法自不可少</p>
<p>本醫藥之術</p>
<p>形不足者補之以味精不足者補之以氣二語乃醫門要旨所謂補之以味如甘溫補脾鹹寒補行之類人皆知之若補之以氣人多不解藥物有味有氣如氧清則入首氣濁則人足氣陽則上升氣陰則下降氣香則竄入腠理氣重則滲入血脈之類是已雖然醫者天下之神術也必與藥品輕重深淺濃淡厚薄冥會默契然後投之所向無不如意若即按方處治未有不誤者也醫之用藥猶將之用兵熱之攻寒寒之攻熱此正治也因寒攻寒因熱攻熱此因治也子虛者補其母母虛者益其子培東耗西增水抑火或治標以救急或治本以湔緩譬如兵法聲東擊西奔左備右攻兒所不守守其所不攻衝其虛避其實擊其惰遠其銳兵無常勢醫無常形能因敵變化而取勝者謂之神將能因病變化而取效者謂之神醫</p>
<p>醫者意也其術不盡於藥石故古人有泥丸蓑草可以濟人之語蘇耽橘井食葉飲泉即愈豈專藥石也此在醫者有恆能真心濟世不逐逐聲利之間則雖祝由可以已病以我正氣卻彼邪氣德行所積隨施隨驗固非常理可測若只專專計刀錐之利己心不正安能卻邪雖已試之方珍異之藥或未必驗此蓋有神明助手其間非可擯之為妄語也</p>
<p>士大夫小小疾患不可輕用艾火鑑熨此二法雖古人有之但士夫有疾不能靜養多接見賓客酬應世務心火不寧嗜欲多熾不能已病反致增疾止須倍加頤費不以外物縈心止聲色以清耳目戒淫佚以養性情苟非深痼之病未有不已者也</p>
<p>病有五一日稟受之病與生均生者是也二日果報之病伯牛之癩袁盎之瘡是也三日六淫之病風寒暑濕燥火外邪所侵者是也四日七情之病喜怒哀樂憂恐思者是也五曰金瘡攧撲外傷者是也外傷等證顯而易曉七情者責常在誰六浮則亦以此而召之耳果報之病前生今世所作亦莫非我若覺之早釋冤解結庶幾全生其與生俱生之病抑亦父母之源流其可盡除務在以時消息之而已</p>
<p>後漢郭玉謂貴人有四難自用意而不任醫一難也將身不謹二難也骨節安閒不能使樂三難也好逸惡勞四難也余以為此四病貴人果有之然貴人之遇醫亦有四難遠地相召素不曾試一難也稍涉毒不敢輕用二難也尊高臨之醫不能盡意三難也專任僕妾烹煮失宜四難也以此言之貴人不可輕易於致病尤須慎於服藥如夫子所謂某未達不敢嘗焉然後可醫家乘人之危古經比之殺人古經云恤緩急忘索事分殺人也不問有無必欲多得殺人也懶惰睡眠輕視人命殺人也辨察不明用藥差誤殺人也見不即治俄至增劇殺人也有此五失挾術殺人甚於挺刃昔景仁妻張氏有微疾醫誤投血隔之藥遂致不起既死魂神蕩越一日因景仁出郊遂合為一恍忽如狂獨歌獨笑以終其身觀此臨人病患可不慎夫</p>
<p>火食之人未有一生無病者少壯之人病猶未覺年高之人病乘其所甚而現精神不能支而衰病及之矣此其積非一日之故也每見年華既邁不任其病患之苦必欲決去以為快不知病根有生一病之所現即一臟之受損乃汲汲焉求以醫藥草木之末療治之不知臟腑已不如昔病患自不全祛況寒涼溫熱之味解表下里之藥亂攻妄投真精愈耗何如養氣存神寶精病以漸除反有過於服餌之效知命之土味之</p>
<p>古今名醫惟東垣為聖其處方治病藥品極多譬如韓信用兵多多益菩他如張子和之汗吐下三法多宜於北近日朱丹溪補陰諸方多宜於南自有醫以來名士不數數也近醫書充棟多被庸工剽掠前書妄著論辨類集諸方玉石並載一遇病患盲不能辨宜用何藥何方人命至重非以供庸工之嘗試也嗟乎三代以還豈獨聖學不能復明能即如小道亦未有可觀者焉</p>
<p>人生病患乃得於父母稟受之初者其終當有何疾亦是定數家有一僕其母五句余患膈咽而終其僕五旬余亦患膈咽而終如其母之疾其母受胎後二十年而有是病其子經五十年而後有是病則其母未病之先而其子之病源已受是氣於結胎之時矣豈非一定之數乎今人得未疾而汲汲求療於草木之粗祈禱之末其亦不知受病之源者矣</p>
<p>草木滋味原與人身精神本非同類止是藉其寒溫甘苦性氣救偏補敝耳然又視其人物質稟乃可奏功假如牛馬有病氣質頑鈍止取藥滓雜煮啖之其病可療村夫野氓生平不曾服藥氣質粗蠢苟遇病忠止須庸醫稍稍品劑其病亦已至城市中之人病已難瘥及貴室宦家氣稟既已清淑藥品卒不易應雖用上醫處劑稱最分銖猶不易冀其全效也若稍遇沉疴臥榻之病則岌岌乎殆矣</p>
<p>人之脈氣不同不可一類而推長人脈長短人脈短瘦人脈露肥人脈深性褊急者脈弦浮性明快者脈流利凶狠者脈勁實慈祥者脈和緩不攝之人病輕脈重有養之十病重脈輕忠厚之脈往來調暢詭譎之脈乍浮乍沉其餘素稟暴變之不同又有不可盡舉者要在指外盈虛消息之耳</p>
<p>蜀人通真子注叔和脈經已行於世而其道未行遂歷湖漢江浙亦未有目之者及至淮之邵伯鎮旅於僧舍亦無聞於人又將轉而之他主僧聞之曰子若不設肆誰則知之市有寺屋吾給子具請試為之既而醫道大行家產豐足一日主僧將化召其前來密語曰子前生在此鋪街鑿井今享此報更宜積德言訖而化</p>
<p>神農氏遍嘗百草盡知草木甘苦寒溫立法攻治百病後世醫家相沿為衣食計承襲差誤殺人之害多於生人之功余見粗工不識身中升降之理腠理啟閉之度妄施鑑藥致失人命殊為可惜士君子須知病前自防之戒兢兢調適苟罹小患必須頤神養氣靜心固精俟其自復可以萬全若輕用藥餌縱得小效所傷必多藥無補法不可輕信惟有汗吐下三法推陳致新差為得理尤須慎而用之</p>
<p>遠在千萬里之外可以數測近在一身之內不可以理推何以故天地之遠中國之外按曆象據圖藉可盡知若一身之中心肝脾肺腎之五臟膀胱小腸膽大腸三焦之五腑位置則可知矣若其中所以運行所以溉注以生音人者今之醫流雖度量揣摩萬端終不知也昔列子稱工人偃師所造倡者歌舞合節千變萬化惟意所適皆傳會革木膠膝白黑丹青之屬所為內則肝膽心肺脾腎腸胃外則筋骨支節皮毛齒髮無不畢具試廢其心則口不能言廢其肝則目不能兒廢其腎則足不能步若偃師者非知造化之所為乎嗚呼惟如是然後知吾身中之所以運行而惜乎偃師之不再生也</p>
<p>名醫用硝黃冷水治痘瘡毒氣太過者不可見其用藥相背而惑之有一種毒痘證頭面啟蒙身如硃砂始出即成一片不分個數悶亂煩躁大便鮮血日夜無度又見一種毒痘出至十二三日口鼻閉寒無出路耳眼亦漸然漸次口鼻清血黯水進然而出此二者固為死症如敢以硝黃下之則或可回生倘一疑慮則禍不旋踵矣余有慧女出痘患如前症頓至不救至今惜之因見此論殊有事筆記之以惠來者</p>
<p>萬病解毒丹藥品具載方書余嘗見藩府所製藥味真正構藏篋笥中每遇奇疾莫不應手而瘥嘗謂什宦遇美藥如豬腰子三七血竭阿膠化蕊石蚺蟾諸品必謹藏之伺一用著處轉死回生一壺千金也閉門著方書雖非大臣嗑泰然知醫擻撲人子之心事微養生主論云予嘗從士大夫遊洛間每聞諸公稱一人善治背瘡者嘆其不遇其說神異忽日有一人同一方士來投予之別墅托宿數日云善治背瘡詢之即其人也問其方唯咋然自言甘師遇仙得傳此草雖六月間以手探之亦如冰雪一日上墅外忽自咄咄而報曰門前幸有此仙草遂鄭重付祝於余余嘆而諾之之曰此即射干也方士曰某昔貸藥淮西適值官司拿醫出征遠竄人八百里山場內遇一老姥年一二百歲自謂金亡避兵來此兀完顏氏醫姥也傳以此草並壽星散專治惡瘡救人無數並著其方地扁竹散射於為末射於即俗名地扁竹也原花園中之物葉如良薑根如竹鞭其色初開如金之狀又一味每用小錢抄末三字許溫酒調服病在上即微吐在下即微瀉予用濟人其功如神仍用膏藥收口壽星散專治惡瘡痛不可當者摻之不痛不痛摻之即知痛大南星一味為末右一味如背瘡大痛者遍摻於上即得安臥不知痛者摻之至於知痛即可治也瘍醫公孫知叔賦性慈慧記聞詳博深明百藥之性味創造丹砂雄黃礬石磁石石膽為五毒之劑其說蓋取丹砂養血而益心雄黃長肉而補脾礬石理脂膏而助肺磁石通骨液而壯腎石膽治筋而滋肝外療瘡瘍之五證內應五臟拘之以黃堥熟之以火候藥成傳瘍無不神效一人須有疽生一夕決潰勢甚危殆以前藥傳之應手而瘥此方今醫書未知載否世亦罕用予謹識之以俟深知醫理者取焉醫方之用有驗於一方而不驗於他方有效於一用而不效於再用有應於一人而不應於他人有行於一年而不行於他年為南北異氣深淺異病貴賤異位司天異宜也善醫者明於天地之機陰陽之變尊卑之位臟腑之因其庶乎其得之矣雖然醫一也用於彼則驗用於我則不驗用於前則驗用於後則不驗何故由人之德行由人之福量救人之真誠典不真誠耳</p>

<h1>跋寤語後</h1>
<p>昔華胥子既夢寤而以其言質之天倪生也天倪生曰若今夢耶寧曏者之非寤乎華胥子惘然失疑其為囈語也此昔人蕉鹿之辨喻真於至道者夢與覺兩忘之也予讀李子中條所著寤語該洽古今罔羅前聞貫穿百家籧籧焉足起人意者信李子寤矣因假其言以寤世耶予愳夫世之難寤也彼懵於見聞為華胥之從者安知不以李子為囈語那雖然啟蒙發□在李子則既寤矣乃若真於至道而夢覺兩忘得之言詮之外者世亦安得天倪生而質之</p>
<p><u>云東病叟陸聲樹跋</u></p>
