<header data-type="book">
<h1>醫易一理</h1>
</header>

<h1>敘</h1>
<p>伏羲畫卦而不言醫醫即在卦中也神農知醫而不衍卦卦即在醫中也羲農一心也故醫易一理也後世離而二之非也是以文王知其一也故於復彖言出入無疾周公知其一也故於損爻言損其疾孔子知其一也故於旡妄小象傳言旡妄之藥不可試迨至關閩濂洛諸大儒皆邃於易雖不言醫而保身養心之道靡不暗與醫合康節先生說易至千萬言且旁及草木飛走之性情亦得神農嘗藥遺意吾姻友邵葆丞剌史少讀易長工醫晚年神而明之作醫易一理一卷將人之全體配合八卦繪圖貼說簡而明精而當補前人所未及且葆丞之為人舍熱官而不為甘心濟世每半日送診而不以為疲存心若此真不愧康節後裔也書成示余余讀數過喟燃嘆曰此伏羲氏之人歟神農氏之</p>
<p>人歟亦安樂窩中人歟時</p>
<p>光緒戊戍季秋姻小弟王景彝拜撰</p>

<h1>敘</h1>
<p>仲兒芝誥好言易需次於鄂得交隱君子焉實為江夏邵子葆丞剌史每省予於湘輒以邵子志高尚棄官而濟人以醫稱道弗置口蓋邵子邃於易精於醫者也辛丑夏予將之晉適足疾僑寓漢皋因延視之疾良已閒與言醫則所出著書一冊示余曰醫易一理盍為我識數語讀既竟客有謂余曰善乎邵子藝也而進乎道矣獨惜明其體而未達其用也予曰不然信如子言則是舉諸圖說皆體也非用也夫邵子固明明以脾胃為太極者言其體以中宮為太極者言其用矣所謂大匠誨人能與人規矩不能使人巧也世之學者引而伸觸類而長變而通之以盡利神而明之存乎其人則是書之津逮來茲者夫豈淺鮮客曰善因書以復邵子</p>
<p>光緒辛丑七月朔郁平六笙陳璚謹序於漢皋客次</p>

<h1>自序</h1>
<p>道咸之間餘年始壯仲弟楚白方髫齡在學業未成施丁兵亂家本儒素世習岐黃愚兄弟讀書之暇兼肄靈素金匱千金諸收於醫學源流稍窺門徑惟古人所論臟腑形象蓄疑已久後見醫林改錯又疑人亡氣散血脈不行其臟胕形象未必仍如生前遍覽諸書惜無有發明此義者今年逾七旬幸復粗適一弟一子需次浙中余退老家居無所事事輒取周邵諸子參同契諸道書洎各醫家箸述旁參互證始於臟腑疑團渙然氷釋而後知醫之理即易之理易之用即醫之用貫通比附不爽纖亳今夫造化一陰陽也太極兩儀陰陽所由分也四象陰陽之太少也八卦陰陽之上中下也譬之人身臟腑五官呼吸生育皆應深求其當然之理所謂乾道變化各正性命也余故於內景之與周易相配合者分別圖說一圖以脾胃為太極者明其體言主宰之理先天也一圖以中宮為太極者明其用言流行之氣後天也名曰醫易一理蠡測管窺未敢自信因朋儕慫恿付梓故敘其緣起如此願以就正有道指其謬誤何幸如之光緒二十三年歲次丁酉孟冬上浣鄭城四九居士自敘於小安藥窩中</p>
<figure>
<img alt="太極兩儀四象八卦配五臟周身圖">
</figure>
<p>六十四卦配人身圖周易參同契已詳論之蓋天地一大太極人身一小太極即兩儀四象八卦人身亦具焉脾土色黃居中主靜藏意為諸藏資生之本太極也肝屬木居下為地主血藏魂為果敢之主木性上浮為升氣之主木居東方其氣從左而上升是陽育於陰於兩儀為陰儀於四象為太陰也肺屬金居上為天主氣藏魄司清肅之令金性下沉為降氣之主金居西方其氣從右而下降是陰根於陽於兩儀為陽儀於四象為太陽也心屬火居上為日藏神主性性者神之未動在肺之中為靈明之府陽中陰精於四象為少陰也腎屬水居下為月藏精主命命者精之未動在肝之內為化育之主陰中陽精於四象為少陽也此五勝配太極兩儀四象之義乾為首為肺坤為腹為肝離為火為心坎為水為腎四卦配諸四臟兌為左手巽為右手震為左足艮為右足四卦蓋以人身臟腑氣血之升降動靜言之也至於易之取象於身則八卦又各有其義存焉乾健也為首陽尊居上也坤順也為腹陰廣容物也坎陷也為耳陽聰於內也離麗也為目陽明於外也兌說也為口折開於上也巽順也為股兩垂而下也艮止也為手摺如指垂也震動也為足剛動在下也是以易之為書一卦一辭辭皆藏身體之形意一象一爻咸寓尊生之心鑑故聖人立象以盡意設卦以盡情緊辭焉以盡言變而通之以盡利鼓之舞之以盡神雖不言醫而意盡在其中矣</p>
<figure>
<img alt="圖太極兩儀四象八卦督任呼吸天根月窟配人身圖">
</figure>
<p>蓋人身全賴中宮真元為之主宰中宮在震卦之前艮卦之後坤卦之上離卦之下聖經之致中和天地位萬物育禪家之金鼎玉爐胎息之所皆謂此也內藏真火化精化髓生氣生血貫脊注腦資養臟腑化神生智無形而生形為人生性命之本太極也（真火系氣血交感精神會聚呼吸皷煽氣甚即火也）人身腦精脊髓系先天之陽精如樹之枝幹根生於腦灌注五官百體內充臟腑外繞周身無微不到不到即不能知覺矣壽夭強弱聰明記憶悉本乎此為人身天柱之根於兩儀為陽儀四象為太陽也人之心臟系先天之陰精心與腦精相連相應神本無形以腦為神之本心為神之宮人身血脈之管根生於心亦如樹之枝幹百體內外一氣流通有感即應為人身資生之本於兩儀為陰儀四象為太陰也耳目口鼻居首之面為神明之府視聽言動皆腦氣之所發亦心神有感而應陽中陰精四象為少陰也化育延嗣精聚於命宮心經之氣動陽生血脈與腦脊之氣全到以為施受之本陰中陽精四象為少陽也此太極兩儀四象之義呼從天根督脈之尾骶於八卦為震卦震者動也吸人月窟任脈之唇下於八卦為巽卦巽者入也止於艮卦艮者止也聖經之止於至善知止亦如此也呼吸起於此止於此蘊蓄於此納清吐濁橐簽生氣皷助真火薰蒸飲食資養周身悉本於此也邵子詩云耳目聰明男子身洪鈞賦與不為貧因探月窟方知物未躡天根豈識人干遇巽時觀月窟地逢雷處看天根天根月窟閒來往三十六宮都是春是以君子窒欲養元精以培元氣元精即元氣所化精與氣一也神即火也氣即藥也注意規中混沌一氣以火煉藥而成丹以神馭氣而得道也今之人專以百計苦營則傷心神恣情縱欲則傷腎精百年瞬息不知節愛豈不惜哉</p>

<h2>人身腦氣血脈根源臟象論</h2>
<p>太極動而生陽靜而生陰陰職二氣各有其精所謂精者天之一地之六也天以一生水地以六成之而為五行之最先故萬物初生其先皆水如果核未實猶水也胎卵未成猶水也以及昆蟲草木無不皆然即凡人之有身系二五之精妙合而凝其凝之在上者為腦其凝之在下者為心腦之精氣如樹之枝幹根生於腦纏繞周身五官百體無微不到心之血脈根生於心亦如樹之枝幹百體內外一氣流通腦之精氣心之血脈互相環抱如果核初生之二瓣鳥卵之內黃白也人形從此漸成臟腑從此漸具矣</p>
<figure>
<img alt="周身腦氣筋圖">
</figure>
<p>腦底生九對脊髓左右共生三十一對</p>
<p>經曰腦者人身之大主又曰元神之府腦精氣居頭頂之上前齊眉後齊頸左右齊耳中系六瓣中二瓣名曰大腦前曰前腦後曰後腦背行較多分九對腦氣筋入五宮臟腑以司視聽言動故曰目無腦氣筋則不能視耳無腦氣筋則不能聽鼻無腦氣筋則不分香臭舌無腦氣筋則不知甘苦脊髓者由腦直下為腦之餘承腦驅使分派眾腦氣筋之本也脊柱二十四節湊疊連貫互相勘合而成共成腦氣筋三十一對由筋分線由線分絲愈分愈細有繞如綱者有結如球者以布手足周身皮肉筋骨無微不到人身能知覺運動及能記憶古今應對萬事者無非腦之權也</p>
<figure>
<img alt="全體血脈管圖">
</figure>
<p>經曰心者君主之官神明出為心居諸臟之上中卦象九五之位外體圓滑內空如囊中有橫直肉閒隔如戶如房正君之宮神之戶主運行血脈人身血脈管根生於心如樹枝幹百體內外一氣流通面行較多左右上行至腦中行至手下行至足內行臟腑外行皮毛無微不到神本無形寤則以腦為神之體心為神之宮寐則神歸於中宮性命混合為一也於五行屬火為日為性主藏神為臟之君以應萬事亦司視聽言動也</p>
<p>經曰肺者相傳之官治節出焉肺位諸臟之上上接氣管會厭體窩向內左二葉右三葉中央是心質輕而鬆外面皮實無竅為心之華蓋司呼吸為氣之橐龠為臟之天於五行屬金金居西方金性下降為降氣之主為臟之相司清肅之令主臟魄魄者附形附血之陰神也　經曰腎者作強之官伎巧出焉男子外腎內腎命宮總曰腎臟內腎傳腦脊之氣於命宮外腎生精轉於命宮血脈管注於命宮命宮即經雲精神之舍男子藏精女子緊胞之所俗名曰腎腸婦人曰子宮子宮內有子核又名精珠男精泄於子宮精珠並裂內有陰精與陽精交臺漸結薄衣是為成胎於五行屬水為月為命主藏精為化育延嗣之經也</p>
<p>經曰肝者將軍之官謀慮出焉肝四葉膽附於肝右第二葉向上圓滿貼承隔肉下銳披離外凸內窩其中血脈管甚多膽汁系阡經回血所化二經司血脈為血脈周流之主為臟之地於五行屬木木居東方木氣上浮為升氣之主為臟之將司果敢之氣主臟魂魂者附氣之陽神也</p>
<p>經曰脾主消磨五穀形如刀鐮在十肋骨內居胃之左又云形如豎中外邊豐圓向脅內邊深窩向胃其中有回血管出水道主生津液化飲食於五行居中屬土藏意為諸臟資生之本也經曰胃者倉廩之官五味出焉其形紆曲如袋橫居隔下左方肋骨護其半頭大向左上連食管曰賁門尾小向右下接小腸其體三層外層上下有養血管四支分布小支密纏於內因胃接血比他臟尤多中層之肉有經緯兩紋斜交故能舒縮擁動以勻轉食物內層牙色軟滑多摺疊紋周圍有小穴以生津液胃體內外有腦氣筋散布之胃之本熱有限全賴中宮真火熏蒸消化有食之之時其熱較烈胃津味酸色如白沫主消化食物無食之時津不生食至則漸生以化之若食多津少物不易化或不合所食或堅滯之物亦不易化不化即為積聚矣茶水入胃消化較食物易快然胃有微絲血管其多能攝吸茶水以入回血管由回血管過肝臟升入心經運行周身由肺升出為氣由皮膚滲出為汗餘入內腎轉出膀胱為溺矣</p>
<p>經曰小腸者受盛之官化物出焉周迴疊積長三身有六上口通胃曰幽門外皮光滑內皮摺疊其紋紋上有尖粒甚密即吸管之口端吸管者吸取食物精液之管也吸後百派干支散布各管化精化氣化血矣</p>
<p>經曰大腸者傳道之官變化出焉上口與小腸橫接曰闌門又名迴腸長二身有四分上中下三回上回由右胯骨側行而上中回在肝下橫過胃底下回從左軟脅斜至肛門上中二回猶有精液管吸其餘液渣滓遞至下回而出肛門矣</p>
<p>經曰膀胱者州都之官水道出焉位居兩胯骨盤正中即前陰交骨之裡體圓如盤舒縮自如無溺則縮溺至則舒積溺太多則漲至臍內底有小孔斜接溺管其口與前陰相聊少壯氣足可積至滿老人虛人則氣提不住有即溺矣經曰懸雍者在口之內舌之上俗名小舌兩旁有簿肉如簾簾有二層三層者為口之界遮掩鼻底兩孔免飲食誤入鼻中凡食物入口內有六核生津以潤之六核者兩核在牙板後若耳門之下腮頰之內管口與上大牙相對又兩核在下牙板內側又兩核在舌底皆有管透出舌下以出津液若無津液舌即不知味且難吞嚥矣故人思食則津生者此也懸雍之後曰咽咽以咽食前曰喉喉以候氣兩旁又有兩大核生津液以潤咽喉舌根之後形如半舌反搭向下曰會厭遮掩氣管免食物誤入其中人之食管在後氣管在前食管之下曰胃氣管之下節肺經矣</p>

<h2>目視耳聽論</h2>
<p>易說卦云離麗也為目坎陷也為耳夫耳目之能視聽者惟賴腦之精氣貫注於其內養腦之精氣者又賴心經之血脈腦之精氣心之血脈尤全賴中宮之真火真氣有以生之化之也目有黑白珠其白珠為收光之區其黑珠系照物之鏡各物之象透之於目至於黑珠中之小珠名瞳人者得腦之精氣秉知覺靈敏之權者也世有近視者因黑珠凸出小珠較遠故艱於遠視用鏡宜凹透光於外也老人精氣衰弱水漸枯縮故視小不明用鏡宜凸放光使大也此目之一徵也耳分外中內三竅外竅接聲氣入中中竅傳聲氣入內又有氣管通氣入喉內竅有半圈骨管亦傳聲氣有螺紋骨又名耳鼓骨感動腦氣筋得以辨別聲音者也老人虛人耳鳴者精血大虧虛氣感動而鳴聾之兆也肝腎邪火耳鳴耳聾者間亦有之此又耳之一徵也</p>

<h2>鼻臭並呼吸舌味並聲音論</h2>
<p>易說卦云艮為鼻巽為臭兌為口舌鼻之於臭也舌之於味也皆全賴腦精氣之靈敏覺悟為之主宰也鼻準系脆骨相合而成內外皆兩孔內孔闊大透出懸雍之內以通肺氣而司呼吸兩孔之上另有水泡骨俱有軟皮以通於腦腦氣筋分布其上鼻之能審辨臭氣者以此病者竅閉取嚏者亦如此肺之呼吸全賴鼻孔鼻之兩孔為氣出入之門呼出濁氣吸入清氣也舌乃數肉相合而成舌面盡是小粒如刺內粒大於外紋皆屬腦氣筋密布其內以分別五味然須六核生津以潤之否則不能知味矣人之聲氣出於中宮達之於肺中官為氣之根本肺為行氣之主由肺循行氣管傳於會厭辨之為音別之於舌而成言語矣凡人受風塞聲嘶者皆肺與氣管會厭受邪則氣鬱不宣而嘶也癆症聲嘶者皆金燥木虧肺與氣管會厭不利而然也</p>

<h2>氣血論</h2>
<p>經云肺主氣心主血肺之一呼一吸以行臟腑之氣心因之一舒一縮以行經絡之血肺金清肅其氣下行腎則納之歸於中宮助真火蒸飲食化精微以為生元氣之根本呼吸由此而起聲音由此而出入身之強弱壽天悉本乎此心臟舒出紫血之濁氣縮入赤血之清氣赤血即受肺吸入清氣生氣由心連行血脈管滋養周身之精血也紫血即受臟腑經脈濁氣毒氣改變之血由回血管復運行肺內待呼吸出濁氣得吸入之清氣則紫血復變為赤血仍流布周身之內以養身命人身之血脈運行周而復始也</p>

<h2>明理論</h2>
<p>孫真人云不知易不足以言太醫夫易具陰陽剛柔動靜消長之理醫之為道系氣血虛實寒熱表裡八者二者一也易之陰陽即醫之氣血也易之剛柔即醫之虛實也易之動靜即醫之寒熱也易之消長即醫之表裡也易具醫之理醫得易之用醫不可以無易易不可以無醫易之變化出乎天醫之連用由乎我易之千變萬化即醫之千病千態萬病萬態醫之易學精深見理必真以我之一理一心視病者之一本一病則千病萬病總不外氣血虛實寒熱表裡八者而已八者不誤則是氣是血或虛或實從表從里宜寒宜熱運用之妙真於一心是即易之所謂神以知來知以藏往可以易危為安易亡為存致心於元境致身於壽域氣數可以挽回造化可以轉移固無往而非醫亦無往而非易易之與醫豈有二哉</p>

<h2>陰陽論</h2>
<p>太極之初只是一氣混沌陰陽未分水火不變既分之後清氣上升為陽濁氣下降為陰陰陽二者為易道之變化實為醫道之綱領不可不深思細察也蓋症有症之陰陽脈有脈之陰陽藥有藥之陰陽以症而言則表為陽里為陰氣為陽血為陰熱為陽寒為陰實為陽虛為陰上為陽下為陰背為陽腹為陰動為陽靜為陰多言者為陽無聲者為陰喜明者為陽欲暗者為陰陽病者不能俯陰病者不能仰以脈而言則浮大滑數皆陽也沈微細澀皆陰也以藥而言則升散者為陽沈降者為陰辛熱者為陽苦寒者為陰行氣分者為陽行血分者為陰性動而走者為陽性靜而守者為陰此皆醫中之大法也至於陰中復有陽陽中復有陰疑似之閒辨須的確但兩氣相兼則此少彼多其中更有變化一皆以理測之有顯然可見者若陽有餘而更施陽則陽愈熾而陰愈消陽不足而更用陰方則陰愈盛而陽斯滅誠能明徹陰陽無毫釐之失則易所謂剛柔動靜消長盈虛之理於醫可略會其微矣</p>

<h2>先天神氣論</h2>
<p>內經云粗守形上守神又云得神者昌失神者亡皆以先天無形之神氣為重也今之醫但以腦氣血脈臟腑為言此特後天有形之陰陽耳至若先天無形之陰陽則陽曰元陽陰曰元陰元陽者即中宮無形之火以生以化神機是也性命系之故亦曰元氣元陰者即命宮無形之水以長以立化育是也強弱系之性命亦系之故曰元精元精元氣者即生化精氣之元神也生氣通天惟賴乎此今之人多以後天勞欲戕及先天今之醫只知有形邪氣不知無形元氣夫有形者跡也盛衰昭著體認無難無形者神也變幻倏忽挽回非易嗟乎又安得有通神明而見無形者與之共談斯道哉</p>
<p>一陰陽虛實經曰陽虛則外寒陰虛則內熱陽盛則外熱陰盛則內寒又曰陰勝則陽病陽勝則陰病陽勝則熱陰勝則寒又曰陰脫則白畫見鬼陰脫則朝旦目盲又云寒極反汗出身冷如冰此陽脫之候也</p>
<p>仲景曰發熱惡寒發於陽無熱惡寒發於陰　　一中藏經曰陽病則旦靜陰病則夜寧陽虛則暮亂陰虛則朝爭蓋陽虛喜陽助所以朝輕而暮重陰虛喜陰助所以朝重而暮輕此言陰陽之虛也若實邪之候則與此相反凡陽邪盛者必朝重慕輕陰邪盛者必朝輕暮重此陽逢陽旺陰得陰強也一陰根於陽陽根於陰凡病有不可正治者當從陽以引陰從陰以引陽各求其屬而衰之如求汗於血生氣於精從陽引陰也如引火歸元納氣歸腎從陰引陽也此即水中取火火中取水之義也</p>
