<header data-type="book">
<h1>名家方選</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>山田元倫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1781">公元1781年</data></dd></div>
<div><dt>底本</dt><dd>《名家方選》（<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00332_0001/index.html">早稲田大学図書館掃描本</a>）、《續名家方選》（<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00332_0002/index.html">早稲田大学図書館掃描本</a>）；《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>關白良基公云。可撰國家之器用者。唯文武醫之三矣。信哉。醫也者。幽契司命。而其任尤不輕。故劫初神聖之世。有太占之卜合而教之。高產尊嘗百草以辨毒藥大已貴少彥名定治療禁厭之方法。可謂蒙其恩。賴以免夭殤札瘥耳矣。其相承悉存之和丹兩家惜哉。其書羅應仁之兵燹。當此時。先君乃收其燼冊。而自避難於丹州。其方法不普於天下。爾來譚醫者。不辨方宜。而盡假事於異邦。誠可哀哉。一日南皋田子過予瑞芝園。嚐出一書云。此生平所試之名家秘方也。投之則如鼓之應聲。命曰名家方選。開卷視之。間有出和丹禁書者。嗚呼用心厚哉。實有裨病家者也。夫良醫之用藥也。簡而備。故雅忠云。人知眾方治一病。予知一方治眾病。宜哉。良工之治沉疴也。不可得測焉。然則各承家技。而後可探他之方法。囊中之玄櫛而已矣。</p>
<p><u>安永九年庚子秋中元日　橘薰院有篤子行撰</u></p>

<h1>自序</h1>
<p>夫學方法者。可通幽明。故以言醫固也。溯其源流。三墳謂之大道。大道也者。為天下之大經大法。故仲景廣之於今為方法之鼻祖。可謂至也。後世之方伎家。無不依據焉。然諸家之立論。又各異。異則識見在其人之好尚也。要之不過使瘉疴起痼而已。然則可精撰經驗方而用之乎。夫醫以經方。而教天下。後人可以效法。以人質生。以生質人雜以幼法符祝者。刀圭殆誤人。故予不拘古今之脈理經方。取名家之秘方。治病有桴鼓應者。以常記之小冊子。欲與同公俱其術也。於是再去其粃糠。取其精粹。命曰名家方選。然歲弱冠。未能涉群籍。普治禳。故其學也陋。其術也粗。世之君子削正焉幸甚矣。</p>
<p><u>安永九年歲次庚子孟秋　平安後學　山田元倫維亨撰</u></p>

<h1>續名家方選敘</h1>
<p>古云。方也者。仿也。言可仿而用也。醫也者。意也。言可以意度也。蓋方與意並行而不忒。則始可與言治術已。不然。囊千金。坐外臺。袖肘後。溯病源。廣求劉張朱李。遍覽明書清籍。亦何益矣。世有蘊畜其方。要活用其精意者。鄙言俗方。亦足以補吾術。抑何知扁倉之不求之於鄙俗哉。唯意為重。法則立焉。頃材圖基進曰。某平日遍探當時名家所用方法。錄以小冊子。今已滿卷。請續先生曩日所著名家方選。予笑曰。前所撰者。予少未嘗博涉醫事。多出杜撰。勿復論焉。今見子所撰。用心勤矣。此宜別題已。圖基曰。何傷乎。亦仿先生少時之學而已。子曰。醜仿施顰。尚有理矣。以醜效醜。其顰何為已。而素志不宜以奪。遂使之隨其醜也。庶世之閱此書者。方與意兩精。而再選用之。則圖基之幸。豈有過焉。因為之序。</p>
<p><u>文化紀元之夏五月　朝議郎通事舍人越後守和氣惟亨撰</u></p>

<h1>續名家方選自序</h1>
<p>李梓材曰。治適病者易。治失病者難。信哉。學醫者。宜先察其適不適。越人有起虢之妙。董奉有活燮之效。亦唯是而已。我</p>
<p>南皋先生。嘗有見於此。著名家方選。捃摭古今。取捨長短。輯以為小冊。頒行海內。已有季。然諸家秘帳之嚴。群賢韞匱之久。今而得傳之遺於前者亦不少。所以余忘其固陋。補纂亦作此一編。續貂之狗。雖不免其嘲。於初學童蒙之徒。不無小助察其適不適。為之活用。亦各貿於所從之哲匠云。</p>
<p><u>文化甲子之夏　平安村上圖基撰</u></p>

<h1>凡例</h1>
<p>一名家方選者。纂集名家之良方有經驗者也。藥物多少。隨古傳不加私意。然有別考。則書其說於後也。</p>
<p>一所篡集之原本。方腳各記所傳之名。今盡削去。蓋從簡易而已。</p>
<p>一部類每病立十二門。其屬上部者。自頭面至胸部。余仿之。然此舉也。撰名家良方。而不拘脈理經法。故勿問內傷外邪。</p>
<p>一凡外因。內因。水飲。瘡腫。廢痼之類。不屬上中下之部位。故別立門類。</p>
<p>一婦人。小兒病。有男子與大人異者。故又別立其門。</p>
<p>一凡水煎法。以水二合煮取一合也。異常例者於方下別記之。</p>
<p><u>南皋志</u></p>

<h1>上部病</h1>

<h2>【頭痛】</h2>
<p>薑黃湯　治諸頭項痛引肩背者。甚妙。</p>
<p>防風　獨活（各五分）　桂枝　芍藥　櫻皮　薑黃（各三分）　甘草（一分）</p>
<p>上七味。水煎服。</p>
<p>石亭丸　治頭痛。諸藥不效者。</p>
<p>硫黃（三十錢）　硝石（十五錢）　百草霜（五錢）</p>
<p>上三味。為末糊丸。梧子大。每服自五丸至一錢五分。冷茶送下。原方出於本事方無百草霜。今加之有經驗。</p>
<p>治濕家頭痛方</p>
<p>令病人含水半盞許。瓜蒂末少許貯小竹管。吹入鼻中。</p>

<h2>【翻胃吐食膈噎】</h2>
<p>治反胃吐食及膈噎方</p>
<p>一帆青　茯苓（各等分）</p>
<p>上二味。水煎頓服甚驗。</p>
<p>治膈噎方</p>
<p>松寄生（莖葉俱用）　茯苓（各等分）　甘草（減半）</p>
<p>上三味。水煎頓服。</p>
<p>治同症　蠻方</p>
<p>巴且杏　鳳尾草（各一錢）　冰糖　甘草（各五分）</p>
<p>上四味。細末。蜜丸。白湯送下。神效。</p>

<h2>【咳嗽喘急】</h2>
<p>治久咳嗽神方</p>
<p>射干　生款冬　蘇子　檳榔　杏仁　伏龍肝（各等分）</p>
<p>上六味。水煎頓服。</p>
<p>治小兒久咳方</p>
<p>忍冬　鷓鴣菜　甘草（各等分）</p>
<p>上三味。水煎服。兼用取白刀豆數枚。投於熱灰中。去皮為末。白湯攪調服之。若不已者。服紫丸五六粒可。</p>
<p>又方</p>
<p>半夏　茯苓　桔梗　貝母　馬兜鈴（各等分）　黃芩（減半）　甘草（少許）</p>
<p>上七味。水煎分服。</p>
<p>治喘滿欲死者方</p>
<p>鼴鼠（霜）　辰砂　枯礬（各等分）</p>
<p>上三味。為末。白湯送下。神效。</p>
<p>青龍丹　治咳嗽痰喘。不得臥者。</p>
<p>薄荷（一兩六錢）　桔梗（五錢）　川芎（三錢）　皂莢（五分）　甘草（四分）　細辛（四分）　龍腦（五分）　麝香（五釐）</p>
<p>上八味。為末蜜丸。白湯送下。</p>
<p>瀉逆湯　治咳逆倚息。不能臥。眾治不驗者。</p>
<p>乾薑　蘇子（各七分）　半夏　杏仁　桂枝（各五分）　山椒（二分）</p>
<p>上六味作一劑。以水一合六勺。煮取八勺。去滓。內白砂糖五錢。煉如飴。每日三服。</p>
<p>治喘息或痰喘哮吼方</p>
<p>桂枝　香附子　甘草　乾薑　蜀羊泉　香蕈（一錢）　丁香（二分）　葛粉（一分）　粳米（寒制）　南燭藥（陰各一錢）</p>
<p>上十味為末。白湯送下。</p>
<p>紫金丹　治喘息。</p>
<p>砒霜（一錢或代生生乳）　豆豉　枯礬（各三錢）</p>
<p>上三味。為末糊丸。梧子大。硃砂為衣。每服五丸。冷茶或冷水送下。以黑屎通為知。</p>

<h2>【馬刀瘰癧】</h2>
<p>夏枯草湯　治瘰癧馬刀。不問已潰未潰。用此方神效。</p>
<p>夏枯草（三錢）　大黃（三分）　甘草（二分）</p>
<p>上三味。水煎頓服。</p>
<p>亨按此病。多因氣分而發。最難治。故雖潰膿汁快不出。但出黃汁而已。宜節食肉物。飲醉酒。然則營衛血氣能調和。於是用此藥。則能疏通氣道。而或有痊者。</p>
<p>連翹湯　治瘰癧堅硬者。不分新久大小。服之至妙。</p>
<p>連翹　川芎　黃芩　芒硝　荊芥　薄荷（各等分）　甘草</p>
<p>上七味。水煎溫服。</p>
<p>治瘰癧結核方</p>
<p>絲瓜黑霜（一錢）</p>
<p>上溫酒送下。日三服。</p>

<h2>【口舌牙齒鼻耳眼】</h2>
<p>治口中燥裂齒痛方</p>
<p>蘆薈　沒藥　阿仙藥　黃柏（各等分）　人中白（減半）</p>
<p>上五味。為極末。先以煉蜜痛處摻之。若齒根動者。加鹽梅苦萵莖。各為霜。擦之。</p>
<p>治舌疽神方</p>
<p>水苦𦽿　生昆布（各為霜等分）　黃連（少為末）</p>
<p>上三味。塗瘡上。日三夜二。</p>
<p>甘遂牽牛子丸　治上部鬱熱諸疾。齲齒者。</p>
<p>甘遂　牽牛子　大黃（各等分）</p>
<p>上三味。為末糊丸。梧子大。白湯送下。</p>
<p>治齲齒方</p>
<p>莎草根　烏藥（各等分）</p>
<p>上二味水煎。須臾含之而飲之。</p>
<p>治鼻中瘡方</p>
<p>琥珀油</p>
<p>上一味。內鼻中。日五六次。</p>
<p>又方　蠻傳</p>
<p>野菊油蠻名也</p>
<p>上一味。和麻油傅之。</p>
<p>治鼻淵方</p>
<p>桔梗（一錢）　芍藥　大黃　黃蓍　甘草（各五分）</p>
<p>土茯苓（二十五錢炒，二十五錢生）</p>
<p>上六味。分作二十貼。貼以水二合半。煮取一合半。滓再以水二合煮取一合服。禁五寶丹等之藥。</p>
<p>療酒查鼻面赤如天刑病者方</p>
<p>黃連　地黃　大黃　梔子　葛根　芍藥　紅花（各一錢）　甘草（少）</p>
<p>上八味。以水四合。煮取二合。去滓。再煎取一合半。日二服。</p>
<p>同傅藥方</p>
<p>乳香　硫黃　巴豆（各一分）　輕粉（少）</p>
<p>上四味。和勻煉蜜。傅之。</p>
<p>亨嘗用此方。初服湯後數日。覺患處或癢或痛者。乃傅此藥。且倍服煎湯。候其大發熱乃止之。是毒盡之應也。若不覺者。難治。</p>
<p>萆麻子丸　治耳聾奇劑也。</p>
<p>萆麻子（十一個焙）　皂角（煨取肉半錢）　生地龍（中者一條）　全蠍（二個焙）　遠志　磁石（火煆醋滓研細水和）　乳香（各二錢）</p>
<p>上七味為末。以黃蠟熔和為丸。塞耳中。</p>
<p>達啟散　治耳聾妙方。生質耳聾者。與五旬有餘聲啞者。難治。</p>
<p>燒酒（一升）　麝香（二錢五分）　茴香（二錢）　蔥白（長二寸許者四個）</p>
<p>上四味調合。入硝子壺內密封。暵日曝。凡三旬而取出。漉布去滓。以竹管吹入耳中。日十五六次。兼宜服丸藥。然後或刺尺澤出血。</p>
<p>丸藥方　硫黃（一兩）　煙硝（一錢）</p>
<p>上二味為末。先設二磁器。一磁器入小砂石上火。一磁器納末子覆令氣不泄。而置於砂石磁器上。微火燒之。須臾令火氣徹於末子。候藥煙氣升。開蓋少灌冷水一二滴。更覆蓋後下火。置於冷地上一時許。取出糊丸。</p>
<p>治骨槽風方</p>
<p>升麻　桑白　黃耆　當歸　芍藥（各一錢）　茯苓　甘草（各五分）</p>
<p>上七味水煎。廣東人參末日一錢五分。介為三。以煎湯送下。</p>
<p>兼用丸藥方。大黃　青黛　黃蘗（各四錢）　巴豆（二錢）</p>
<p>上四味。為末糊丸。臨臥服三分。</p>
<p>亨嘗試此方。用人參。平脈多見滑大者。此為知。若不滑大。則倍用人參。以取驗。</p>
<p>爐甘石散　諸眼病通治之方也。</p>
<p>爐甘石（四錢）　黃蘗　黃連（一錢）　莽草（六枚）　漢土（五分）</p>
<p>上五味。先內爐甘石漢土於土器中燒之半日。次黃蘗黃連莽草以水二合半。煎取七勺。浸爐甘石漢土。上微火。候涸。數浸煎汁。更上微火。以煎汁盡土石干移內器物。磨之半日許。為細末。和煉蜜。復磨之半時許。收貯。而或作丸。或作錠。磨水點之眼中。極效。</p>
<p>芣苡湯　治上衝眼中有血。或生翳。或失明者。</p>
<p>車前子（二錢）　細辛　黃連　黃芩　大黃　甘草（各六分）　茯苓（三分）</p>
<p>上七味。水煎頓服。</p>
<p>內障散　治內障之靈方。</p>
<p>代赭石（三分）　滑石（五分）　石膏　爐甘石　硃砂（各八分）</p>
<p>上五味為末。絹包之。投熱湯。日洗五六次。</p>
<p>治塵埃砂石入眼疼痛不可忍者方</p>
<p>山茶花（去蒂十個）　鼠黏子（一錢各為霜）</p>
<p>上二味為末。服二三匕妙。</p>

<h2>【上部雜疾】</h2>
<p>辛夷散　治諸毒氣攻上部者。</p>
<p>辛夷　大黃　川芎（各二錢）　荊芥　防風（各三錢）　甘草（二錢）</p>
<p>上六味細末。溫酒送下。</p>
<p>雄黃解毒丸　治纏喉急口痹。</p>
<p>雄黃（一兩）　鬱金（一錢）　巴豆（十四粒）</p>
<p>上三味。細末糊丸。梧子大。日服一錢。</p>
<p>治肺癰方</p>
<p>三味瀉白散加樺皮甚妙。</p>
<p>治婦人發赤方</p>
<p>毛茛（末十錢）　龍葵（一錢）　沒石子　鐵粉（極細末各五分）　青鹽（少許）</p>
<p>上五味為末。納布囊漬水。為梳水。</p>

<h1>中部病</h1>

<h2>【心腹痛】</h2>
<p>瀉脾湯　治積氣心腹痛者。</p>
<p>茯苓　厚朴（各七分五釐）　桂枝　生薑（各九分）　黃芩　甘草（各四分）　人參（三分）</p>
<p>上七味。水煎服。</p>
<p>緩中湯　治積氣。腹中拘急者。</p>
<p>芍藥（一錢二分）　桂枝　茯苓（各六分）　大棗　甘草（三分）　枳殼（四分）　厚朴（六分）</p>
<p>上七味。水煎服。或加大黃六分。</p>
<p>亨云。前方出於千金翼。後方出於肘後方。此二方雖不出禁秘。屢以有經驗。編入於此。</p>
<p>徵蟲丸　治腹痛。或氣倦胸中窒者。</p>
<p>胡黃連　苦參（各十錢）　楊梅皮（二十錢）　黃蘗（十錢）　木香　黃連（各二錢）　反鼻霜（少許或代百草霜）</p>
<p>上七味。為末糊丸。白湯下。</p>
<p>黑丸子古方　治積氣蟲癖。及心腹痛。</p>
<p>合歡（霜五錢）　沉香（一錢）　木香（二錢）　黃連（四錢）　熊膽（三錢）</p>
<p>上五味。細末糊丸。以熊膽為衣。白湯下。</p>
<p>同今方</p>
<p>莪朮（五錢）　合歡（四錢）　木香（二錢）　黃連（三錢）　熊膽（三錢或減半）</p>
<p>上先細末四味糊丸。乃以熊膽為衣。白湯送下。</p>
<p>順氣丸　凡積聚疝瘕。惡苦味者。代黑丸用。</p>
<p>莪朮　莎草根（各三錢）　白朮（二錢）　生薑（一錢）　木香（五錢）</p>
<p>上五味。為末糊丸。白湯下。</p>
<p>桂苓散　治動悸。諸藥不效者。</p>
<p>芍藥　茯苓（各三十錢）　當歸（十五錢）　乾薑　桂心（各十錢）　甘草（五錢）</p>
<p>上六味為散。每服一錢。日二夜一。白湯送下。</p>
<p>松脂丸　治心下痞硬。大便秘結者。</p>
<p>松脂（七錢）　大黃（三錢）</p>
<p>上二味。為末糊丸。白湯送下。</p>
<p>清中飲　治不問男女癖塊。時時妨逼心下。鬱冒心悶。為狂態者。</p>
<p>蕺菜　草三稜（各一錢）</p>
<p>上二味。水煎。日服二劑。或三劑。四五十日而知。百日痊。婦人加蒲黃七分。益可也。</p>
<p>鱉甲湯　治癖塊腹滿寒熱。</p>
<p>鱉甲　桃仁（各一錢二分）　虎杖（一錢）　大黃（三分）</p>
<p>上四味水煎。日服二劑。血塊穢物。當從大便下。</p>
<p>治腹痛時時發則嘔吐方</p>
<p>樟腦</p>
<p>上一味。水煎溫服之。</p>
<p>愈痛散　治瘀血腹痛。</p>
<p>五靈脂（二錢）　莪朮（一錢）　當歸（一錢半）　玄胡索　良薑（各八分）</p>
<p>上五味為末。每服五分。醋送下。</p>

<h1>下部病</h1>

<h2>【疝瘕】</h2>
<p>茴香丸　治疝瘕腰腹痛。或引囊。及囊大者。</p>
<p>鹿角霜（五兩）　茴香（二兩）　胡椒（一兩）</p>
<p>上三味。為末糊丸。</p>
<p>治疝氣俄頃腰腹弦急不能搖者方</p>
<p>綿實仁（二錢五分）　甘草（五分）</p>
<p>上二味。水煎頓服。</p>

<h2>【腳氣】</h2>
<p>七味檳榔湯　治腳氣疏通之劑也。</p>
<p>桂枝（三分）　大黃　橘皮　枳實（各五分）　檳榔（一錢）　甘草　生薑（各三分）</p>
<p>上七味。水煎服。</p>
<p>烏頭湯　治腳氣。遍身洪腫者。</p>
<p>烏頭　桑白　檳榔（各一錢）　大黃（三分）　商陸（三錢）　生薑（七分）</p>
<p>上六味。以水三合。先煮烏頭減一合。內諸藥煮取一合。日三貼。</p>
<p>黑豆湯　治腳氣上衝。</p>
<p>黑豆（五錢）　大黃（八分）　檳榔（一錢）</p>
<p>上三味。以水三合。先煮黑豆取二合。去滓。入諸藥再煮一合。分服。</p>
<p>沉香散　治腳氣。氣急毒攻者。</p>
<p>沉香（上品二分五釐）　香附　木瓜（各二錢）　縮砂（五分）　甘草（一錢）　檳榔（末五分）　鹽（少許）</p>
<p>上七味。水煎去滓。內檳榔鹽。攪調分溫服。</p>
<p>逆沖飲　治腳氣。氣急上衝心欲死者。</p>
<p>檳榔（末二錢）　生薑汁（五分）　童便（二合）</p>
<p>上三味。攪調頓服。</p>
<p>如神丸　治腳氣腫滿。氣衝心。氣急不可忍者。</p>
<p>芫花　甘草　大戟（各五分）　大黃（三分）</p>
<p>上四味。細末稀糊丸。梧子大。每服五分。或一錢。空心薑湯送下。宜隨虛實增減之。頗利水則佳。勿大泄下。</p>
<p>洗腳氣急者方</p>
<p>礬石（五錢）　芍藥　甘草（各五分）</p>
<p>上三味。水煎洗腳妙。或少加鹽亦佳。</p>
<p>松葉酒　治腳氣。手足不仁。或攣急。及風濕身體疼痛不已者。</p>
<p>松葉（三錢）　烏頭　羌活（各一錢）</p>
<p>上三味。以好酒一升。漬之七宿日盡一合。</p>

<h2>【淋疾便毒下疳陰囊病】</h2>
<p>小解毒湯　治氣結內淋疾。小便澀。下膿血者。</p>
<p>山歸來（二錢）　滑石　澤瀉　阿膠　茯苓　木通　忍冬（各七分五釐）　大黃（三錢）</p>
<p>上八味。水煎服。此方解毒利水。功相兼。淋家應用之方也。</p>
<p>治淋疾疼痛甚者方</p>
<p>菟絲子（七分）　甘草（二錢三分）</p>
<p>上二味。水煎服。</p>
<p>救淋一方　治痛甚方。</p>
<p>阿膠（三錢）　大黃（二錢）　附子（一錢）</p>
<p>上三味。水煎溫服。</p>
<p>又方</p>
<p>雄黃　大黃　海金砂（各等分）</p>
<p>上三味細末。白湯送下。</p>
<p>治淋奇方</p>
<p>桂枝湯加蘇鐵葉為末攪調送下最妙</p>
<p>又方</p>
<p>甜瓜皮（五錢）　甘草（一錢）</p>
<p>上二味。水煎服。</p>
<p>亨嘗試之。治膿淋最妙。</p>
<p>又方</p>
<p>山茶花（二錢或三錢一代木槿花）　車前　瞿麥　木通　芒硝（各五分）</p>
<p>上五味。水煎服。</p>
<p>果霜子方　治初發便毒。用之不過三貼而神效。</p>
<p>胡桃（七個炒）</p>
<p>上一味。為末。酒送下。</p>
<p>下便毒方</p>
<p>芎藭　大黃　蕎麥（各等分）</p>
<p>上三味為散。酒服一錢。日三。</p>
<p>治便毒瘳後核不消方</p>
<p>鹿角（二錢）　土茯（三錢）　蝮蛇（霜二分）　鼴鼠（霜一錢半）　甘草　紅螺（各三分）　當歸　丁香　川芎　大黃（各五分）</p>
<p>上十味。輕粉燒五分。和藥為末糊丸。</p>
<p>傅下疳腐爛方</p>
<p>角石（五分）　百藥煎（三分）　輕粉（二分）</p>
<p>上三味為末。和黃蜀葵汁。溫湯洗患處。後擦之。</p>
<p>下疳膏　下疳通治之奇膏也。</p>
<p>黃柏　豬膏（各等分）　輕粉（少）</p>
<p>上三味。和煉而傅患處。</p>
<p>單杉散　治疳瘡痛甚。忌油蠟者。杉一味細末。和雞子。傅患處。</p>
<p>治陰囊溫癢方</p>
<p>麻黃根　牡蠣　乾薑　蛇床子（各等分）</p>
<p>上四味為末。擦患處。</p>
<p>治蛙丸發方</p>
<p>川烏頭　湯花　大黃　硫黃（各等分）</p>
<p>上四味為末。以燒酎煉之。以紙封固。一夜而取出。醋和之。敷患處。此方又治芥癬至妙。</p>
<p>又方</p>
<p>萆麻子（少）　胡椒　黃連（各等分）</p>
<p>上三味。為末和醋。敷患處。</p>
<p>又方</p>
<p>大黃　烏頭（各等分）</p>
<p>上二味為末。和敷患處。</p>

<h2>【臁瘡】</h2>
<p>治臁瘡奇方</p>
<p>楊梅皮（五分）　茯苓（六分）　桔梗（七釐）　甘草（五釐）</p>
<p>上四味銼。以水一合。煮取九勺。日三夜二溫服盡。五日間每以水一合。煮前滓減日倍一勺至五勺。服法如前。至三劑而止。當時無驗者。明年不再發也。</p>
<p>治臁瘡連年發不痊方</p>
<p>絲瓜（不熟者一枚黑霜）　天石（一錢）　輕粉　滑石　騏驎血（各一錢）　硃砂（五分）</p>
<p>上六味為末。取豆腐半枚。和煉之。貼患處。破之七日則愈。</p>
<p>服藥方</p>
<p>大黃　莪朮（各八分）　蒼朮　陳皮　白朮（各八分）　甘草　山梔子（各五分）</p>
<p>上七味。水煎頓服。</p>
<p>又方</p>
<p>荊防敗毒散。加雁來紅。水煎服最妙。</p>

<h2>【痔漏脫肛】</h2>
<p>治痔漏方</p>
<p>荊芥　槐實　地黃（各八錢）　大黃（五錢）</p>
<p>上四味水煎。鹿胎子霜二十錢。分為七。臨臥攪煎湯送下。凡七日服盡。</p>
<p>同洗方</p>
<p>木天蓼　木綿實（各十分）</p>
<p>上二味煎汁。洗腰下最妙。</p>
<p>同傅藥方</p>
<p>蚯蚓油　蝸牛油　杉脂油　琥珀油（各等分）</p>
<p>上四味調和。傅患處。</p>
<p>胡黃連追毒丸　治痔漏不拘遠近。有漏通腸。汙物從孔出。先用此方追膿血。</p>
<p>胡黃連　刺蝟皮（各一兩）　麝香（三分）</p>
<p>上三味為末。陳米爛飯為丸。麻子大。每服一錢。食前溫酒送下。服後膿水益多者。是藥之應也。勿恐矣。候膿水盡。宜用胡黃連閉管丸。</p>
<p>胡黃連閉管丸方</p>
<p>胡黃連（五錢）　穿山甲　石決明　槐花（各五十錢）</p>
<p>上四味為末。蜜丸麻子大。晨昏各一服。米湯飲下。重者四十日而愈。如漏之四邊硬肉突起。蠶繭二十枚炒為末。和入藥中。凡治遍身諸漏皆效。</p>
<p>薰痔法</p>
<p>取馬屎溫而蒸之。</p>

<h1>外因病</h1>

<h2>【中風】</h2>
<p>試癱瘓中風瘥不瘥方</p>
<p>無槵子（二錢半）</p>
<p>上一味。以水二合半。煮一合分服。</p>
<p>亨嘗云。凡見癱瘓中風一證。則用此湯而得大便溏者可治。否則難治。</p>
<p>治偏枯方</p>
<p>白朮　茯苓　莪朮（各五分）　青皮　烏藥　附子　大黃（各三分）　甘草（二分）</p>
<p>上八味。水煎服。兼用一粒金丹妙。</p>

<h2>【痛風】</h2>
<p>治痛風方　治劇症。</p>
<p>忍冬（二錢）　木通　芍藥　川芎（各二錢）　大黃（酒製）　牛膝（各一錢五分）　甘草（五分）　土骨皮（三錢）　羌活（二錢九分）</p>
<p>上九味。分為七劑。七日服盡。</p>
<p>又方　治易症。</p>
<p>濱防風　川芎　羌活（各等分）</p>
<p>上三味。水煎服。</p>

<h2>【瘧】</h2>
<p>截瘧方</p>
<p>梨實　常山（各五分）　山椒（三分）</p>
<p>上以水一合半。煮八分服。</p>
<p>又方</p>
<p>椒目（一錢）　厚朴（八分）</p>
<p>上二味。以水一合半。煮一合頓服。</p>
<p>治瘧母方</p>
<p>反鼻　常山　大黃　鱉甲（各一錢）</p>
<p>上四味為末。白湯送下。</p>

<h2>【風疹】</h2>
<p>治陰疹屬熱者</p>
<p>四物湯。加荊芥防風山梔各等分。</p>
<p>荊芥湯　治風疹。惡寒發熱者。</p>
<p>荊芥　麻黃（各八分）　桂枝</p>
<p>上三味。水煎溫服。</p>

<h2>【痢疾】</h2>
<p>如神丸　治痢疾神方</p>
<p>阿片（一錢）　黃連　沉香　砂仁　黃柏　甘草（三分）</p>
<p>上六味為末。小麥糊丸。如梧子大。硃砂為衣。</p>
<p>治痢疾後重方</p>
<p>三年酒（三合）　冰糖（六錢）</p>
<p>上二味。投土鍋中。以慢火煮。令如飴。數數服之。半日許而行。減穢物大下數日而瘥。</p>
<p>亨按老人小兒。元氣虛衰者。攻擊已止。而宜用此藥寬中也。</p>

<h1>內因病</h1>

<h2>【虛勞】</h2>
<p>乾坤丸　治心氣虛勞。及勞瘵初發。</p>
<p>干牛（二十錢）　茯苓　薯蕷（各十錢）　大棗（四十個去核）</p>
<p>上四味調和。為末糊丸。梧子大。每服二十丸。</p>
<p>治勞咳方</p>
<p>石龜（生）</p>
<p>上取一匹。入人屎中數日。喰人屎而後取出。洗流水。盛土器。蜜封燒為末糊丸。白湯下。○此方能去諸病似勞熱者。至妙。</p>
<p>朗明湯　治遺精久不止。盜汗。五心煩熱等證。</p>
<p>枳實　厚朴（各一分）　牡蠣　白朮（各七分）　梔子　黃連　竹茹　石膏（各三分）　甘草（二分）</p>
<p>上九味。水煎頓服。</p>
<p>七寶散　既欲成勞瘵。疑似之間。宜用此方。兼治蟲積為羸瘦者。</p>
<p>半夏　厚朴　良薑（各八分）　甘草　青皮　草果　烏梅（各五分）</p>
<p>上七味。水煎溫服。</p>
<p>神授丸　勞瘵之症。先灸四花患門。後宜服此方。</p>
<p>大黃　皂角　桃仁　檳榔　雷丸（各一錢）　安息香（一分）</p>
<p>上八味糊丸。桃柳葉煎汁送下。斷病根。</p>

<h2>【黃胖】</h2>
<p>黃胖丸　治黃胖上逆動氣。或下血。眩暈不能行步者。</p>
<p>針砂（醋煮後水洗）　蕨粉（各十錢）　硫黃（八錢）　枯礬（二錢）</p>
<p>上四味。為末糊丸。梧子大。日一錢或二錢半。酒送下。</p>
<p>鐵砂散　治黃胖病。氣上衝胸。短息。小便不利者。</p>
<p>鐵砂（五錢）　蕎麥（十錢）</p>
<p>上二味為散。每服五錢。日三。白湯送下。</p>

<h1>水飲病</h1>

<h2>【水腫】</h2>
<p>禹水湯　又曰敦阜劑　治水腫。平和而能疏通之劑也。</p>
<p>赤小豆（一錢二分）　大麥（炒五分）　地膚子（七分炒陰乾）　豬苓　澤瀉　茯苓（各四分炒）　牽牛子（一分炒）</p>
<p>上七味。合四錢八分為一劑。細銼。以水三合。煮取二合。日三夜二服。○脅腹痞。加縮砂青皮各二分。氣不順加木香二分。一方加陰乾胡瓜最妙。</p>
<p>赤小豆湯　治毒氣內攻。水腫氣急者。</p>
<p>赤小豆（一合）　商陸（三錢）　木通　桂枝（各七分五釐）　茯苓（一錢五分）</p>
<p>上五味。以水三合。煮取二合服。</p>
<p>琥珀湯　治產後水腫。及諸血毒生腫者。</p>
<p>琥珀（一錢半）　商陸（二錢）　桂枝（八分）　反鼻（五分）　豬苓（七分）</p>
<p>上五味。水煎分溫服。</p>
<p>白朮膏　治水腫迫胸部者。甚效。</p>
<p>豬皮（生）　桑白皮（生各三十錢）　白朮　瓢肉（為末各二錢八分）　黑豆（三合）</p>
<p>上五味。以水二升。煮取四合去滓。入酒五合更煮取三合令如泥。更加朮末。每服二錢。白湯送下。</p>
<p>治水腫神方</p>
<p>西瓜子（三錢）　豬白皮（一錢）　商陸（三錢）　小麥（二錢）</p>
<p>上四味。以水二合。煮取一合半服。</p>
<p>又方　治水腫。諸藥入口則吐。及十日余不食脈實者。</p>
<p>石葦（一錢）　沉香（五分）　澤瀉　豬苓（各七分）</p>
<p>上四味。水煎服。</p>

<h1>瘡腫病</h1>

<h2>【癰疔】</h2>
<p>白英散　治癰疔。及諸熱毒腫。</p>
<p>白英（一錢根莖葉並燒為霜）　胡椒（燒為霜）　丁子（各三分燒為霜）</p>
<p>上三味。各等分。溫酒飲下。每服六分。</p>
<p>治癰腫發背方</p>
<p>蒼耳　稀薟（俱燒為霜各一錢）　鹽梅（各五分）　和參（同各燒為霜）　食鹽（各三分）</p>
<p>上五味研勻。充填瘡口。知痛者毒淺。不知者。更數次。以知為度。</p>

<h2>【黴瘡】</h2>
<p>甲字丸　治黴瘡毒。</p>
<p>黃芩　黃柏　大黃　輕粉（各三分）　鹿角（霜六分）</p>
<p>上五味糊丸。辰砂為衣。日五分或三分。</p>
<p>洗黴瘡痛甚者方</p>
<p>茵陳（五兩）　蒲黃（一兩）</p>
<p>上二味。煎汁洗之。</p>
<p>治黴毒方</p>
<p>鹿角霜（五錢）　黃柏（三錢）</p>
<p>上二味為末。分為七服。七日服之。每服土茯苓一斤。銼細七分之。其一分以水九合煎取四合。煎汁送下散藥。</p>
<p>梓葉湯　治黴毒發未發。及骨節疼痛者。</p>
<p>梓葉　忍冬（各一錢）　大黃　川芎（各五分）　甘草（三分）</p>
<p>上五味水煎服。多服益佳。</p>

<h2>【雜瘡】</h2>
<p>如意金囊散　治毒腫。諸藥不驗者。</p>
<p>天花粉（一錢半）　黃柏　大黃　薑黃　白芷（各三錢）　厚朴　橘子　甘草　白朮　天南星</p>
<p>上十味。病輕則為末和醋敷患處。以軟紙蓋其上。若病重則濃煎。入蔥白清酒熨患處。冷則頻頻換而溫之。消腫去毒至妙。</p>
<p>治諸結毒漏瘡不瘳者方</p>
<p>金銀花（五錢）　遠志（一錢）</p>
<p>上二味。以水五合。煮取三合。洗患處。日數次。</p>
<p>楸葉湯　治瘍腫。一切惡毒瘡。</p>
<p>楸（十五錢連莖並陰乾）　檞木皮（十錢）　櫻皮（五錢）</p>
<p>上三味。以水一升煮取五合。分溫五服、小便不利加木通三錢。</p>
<p>大苦參丸　治瘡毒。</p>
<p>苦參　發灰　靈天蓋　露房（霜）　雄黃　硃砂　茗　輕粉　反鼻　乳香（各等分）</p>
<p>上十味糊丸。梧子大。日一錢半。或二錢。白湯送下。</p>
<p>大解毒湯　治黴毒發瘡。或骨節疼痛。或下疳腐爛。不問新久難愈者。</p>
<p>土茯苓　川芎　通草　忍冬　茯苓（各九錢）　大黃（一錢二分）</p>
<p>上六味。以水三合。煮取二合服。</p>
<p>治湯火傷及諸惡瘡方</p>
<p>豆巴　代赭石　寒水石（各八錢）</p>
<p>上三味。為末糊丸。以丹為衣。丸梧子大。隨症增減丸數。</p>
<p>治疣痔方</p>
<p>膽礬　枯礬（各等分）　莽草（五十枚）</p>
<p>上三味。水煎洗痔。日三次。疣自消。</p>
<p>土骨皮湯　治諸毒氣在表將發者。</p>
<p>土骨皮　忍冬（各二錢）　防風　大黃（各八分）　羌活　桂枝（各五錢）　甘草（三分）</p>
<p>上七味。水煎服。</p>
<p>透膿湯　治膿已成而不穿破者。破之則潰爛者。</p>
<p>黃耆　芎藭　當歸　皂角（各等分）　穿山甲（各一錢）</p>
<p>上五味。水煎服。</p>
<p>治大人小兒頭瘡方</p>
<p>天花粉（四錢）　輕粉（二錢）　地龍（霜一錢）</p>
<p>上三味細末。和麻油屢傅之。</p>
<p>治無名毒腫方</p>
<p>茜根（一錢）　反鼻（五錢）</p>
<p>上二味。水煎溫服。</p>
<p>又方</p>
<p>劉寄奴草。生葉一味。</p>
<p>治疣方</p>
<p>薏苡（三錢）　甘草（一分）</p>
<p>上二味水煎。或以二味敷患處。</p>
<p>治浸淫瘡方</p>
<p>阿仙藥　黃連（各等分）</p>
<p>上二味。為末和水。傅瘡上。日三次。</p>
<p>療一切血毒疥癬不已者方</p>
<p>楊梅皮（二錢）　荊芥（五錢或一錢）</p>
<p>上二味。水煎服。日二劑。或三劑服之。○臁瘡積年不已。與此湯。結毒腫脹發庠干瘡。不過三旬而得效。</p>
<p>櫻茹湯　治一切血毒熱腫。</p>
<p>櫻茹　檞木皮（各四錢）　楊梅皮（一錢）　忍冬（二錢）　甘草（少許）</p>
<p>上五味水煎服。七日而痊。</p>
<p>發疥瘡方　將發之間二三日。以酒塗之則盡發。</p>
<p>巴豆　萆麻子　杏仁（各等分）</p>
<p>上三味。細研和酒。以布包之。按患處數次。一日而瘡大發而愈。</p>
<p>治瘭疽方</p>
<p>乾柿　白砂糖　味噌（各等分）</p>
<p>上三味。為霜細末。和水敷患處。</p>
<p>治灸瘡不愈者</p>
<p>豆腐一味。去水。和糊貼瘡上。</p>
<p>梅肉散　治諸惡毒。</p>
<p>梅肉　山梔（各七分半霜）　巴豆（二分半）　輕粉</p>
<p>上四味。細末為散。每服方寸匕。</p>

<h1>廢痼病</h1>

<h2>【結毒】</h2>
<p>七寶丸　治遠年近日瘡毒痼疾。骨節疼痛者。</p>
<p>牛膝　輕粉（二錢半）　土茯苓（一錢）　大黃（五分）　雞舌香（五分）</p>
<p>上五味。細末糊丸。白湯送下。</p>
<p>後方</p>
<p>巴豆　雞舌香（各二分半）　大黃（五分）</p>
<p>上三味細末糊丸。前方朝夕服八分。至六七日。亦服續七寶丸。</p>
<p>續七寶丸　治服七寶丸未愈者。</p>
<p>水銀（三錢）　硝石　礬石（各六分）　鹽（二錢）</p>
<p>上先碎硝石礬石。乃合四味。內尾盆以磁器覆之。以泥封之。安架上而燒之。半日許。既而取其所屬著磁器霜。以棗肉為丸服之。</p>
<p>輕粉丸　治黴毒痼疾。累月積年難愈者。</p>
<p>牽牛子（二錢）　竹茹（一錢）　輕粉（一錢）　梅肉（一個）</p>
<p>上四味。為末糊丸。茶末為衣。每服三分。日三服。白湯飲下。盡一劑。後服備急丸五分。穢物當下。凡施劑未必盡劑。隨病人強羸可權之。</p>
<p>治黴毒諸藥無效骨節疼痛不止方</p>
<p>鼴鼠（霜）</p>
<p>上一味。溫酒送下。</p>
<p>頭風神方　治瘡毒上攻。或輕粉毒攻。</p>
<p>萆薢（十六錢或十二錢）　金銀花（三錢二分）　防風　玄參　蔓荊子　川芎　天麻　烏頭　辛夷（各五錢）　燈心　細茶（各三分）</p>
<p>上十一味。水煎頓服。</p>
<p>酒煮解毒湯　治諸瘡毒經年不愈。或骨節疼痛者。</p>
<p>穿山甲　白芷　防風　沒藥　甘草　芍藥　貝母（各五錢）　金銀花　陳皮（各三錢）　皂角刺（一錢）</p>
<p>上十味。合二錢五分為一劑。酒煎日服一劑。三日或七日服之。煎法初以酒三合。煮取二合。再入酒二合。煮取一合。若不嗜酒者。酒水各半服。</p>
<p>治諸結毒方</p>
<p>地骨皮　忍冬　通草　荊芥　防風　大黃　川芎（各等分）　甘草（減半）</p>
<p>上八味水煎。二日服五貼。○若有結毒者。骨節疼痛。或轉筋者。宜用水銀丸。</p>
<p>水銀丸方</p>
<p>硝石（一兩）　青鹽（五分）　絳礬　礬石（各一兩）　棗肉（半兩或蜜和少許）　水銀（一兩）</p>
<p>上六味先用青鹽棗肉和水銀。次內絳礬研相和而不見星。次內硝石枯礬相和數磨之。若干枯難作丸者。加蜜少許煉為丸。綠豆大。以蜜蠟為衣。製法勿令失法。若犯之則不作丸。</p>
<p>神祐丸　治筋骨疼痛。數月不止。及瘡癤不差者。</p>
<p>甘遂　芫花　大戟（各半兩）　輕粉（分量隨人增減）　大黃　牽牛子（各一兩）</p>
<p>上六味。細末糊丸。白湯送下。</p>
<p>玄直散　治一切痼疾。羸瘦虛弱。不可與峻劑者。</p>
<p>土茯苓（六十錢合為三生黃黑）　熟地黃（三兩）　生地黃　當歸　黃耆（各酒製一兩）　茯苓（蜜制一兩）　甘草（一錢）　人參（芳野產二兩）</p>
<p>上八味細末。為二十貼。以土茯苓煎汁。日服三貼。</p>
<p>感享丸　治黴毒奇劑。</p>
<p>槐花　董陸（內土器上微火消爍焦之而入槐花調和）　棗肉（炒為末）　胡桃仁（各二十錢）　輕粉（五錢）</p>
<p>上五味。為末糊丸。每服一分。兼用後湯。</p>
<p>土茯苓（五錢）　萎蕤（三錢）</p>
<p>上二味。以水五合。煎取三合。溫服。禁醋油酒臭物魚鳥。</p>
<p>雞肉膏　治黴毒疳痼疾之良劑也。</p>
<p>大黃　黃芩　黃連　肉桂（各三兩）　土茯苓</p>
<p>上五味。以水三升。煮取一升五合。去滓。內雞肉一具。令煮和調而以如飴為度。用後一兩日。乃用後方。○制雞肉法。取雞一具。去羽骨皮筋。薄銼之。漬清酒一宿。明旦用之。</p>
<p>嗅藥方</p>
<p>水銀（一錢）　黑鉛（三分納土器上武火沸時內硫黃少許則為黑霜）　肉桂（五分）　甘草（二分）</p>
<p>上四味和調。而更和陳艾六分。中令分捻而為七炷。猶燈心狀。納盞浸香油燈於方燈檠中而嗅之。每日一炷。七日嗅盡之。嗅法　方燈檠四面上下以紙塞之。令氣勿泄。一面穿小孔。令患人含水當鼻而嗅之。甚驗。</p>
<p>雞肉丸　治黴毒諸藥不效者。</p>
<p>雌雞（一具去羽皮骨腸）　信石（為末一錢五分）</p>
<p>上二味和調。分而為七。納土器七枚固封。以鹽泥遍塗器面。乃悉燒之。初以文火。後以武火。須臾下火。細末糊丸。以搜風解毒湯煎汁。每日送下。一器之藥。七日宜盡劑。初服二三日病人四肢稍當覺麻痹。至六七日。全身痿痹。縱雖不痿痹者。必瞑眩。則止後服。禁冷物魚鳥醋酒房事等。</p>
<p>治諸結毒方</p>
<p>檞木皮（二錢）　夏枯草　地骨皮（各三錢）</p>
<p>上三味。以水二合。煮取一合。或加大黃三分。</p>
<p>再造散　治大風及黴毒。不擇新痼服之妙。</p>
<p>礬金（五錢）　皂角刺（一錢）　大黃（十錢）　白牽牛（六錢）　反鼻（五錢）</p>
<p>上五味為末。溫酒送下。</p>
<p>東山丸　治結毒。經年不愈者。</p>
<p>大黃　輕粉（各二錢）　竹茹（八錢）　甘草（五分）　黃連（三分）　川芎（五分）　阿仙藥（三錢）</p>
<p>上七味。為末糊丸。辰砂為衣。</p>

<h2>【癜風】</h2>
<p>療白癜風方</p>
<p>硫黃　膽礬　菊名石（各等分）</p>
<p>上三味為末。和醋塗患上。</p>
<p>療赤白癜風方</p>
<p>苦參　大黃　川芎　硫黃（各等分）</p>
<p>上四味。為末和醋。以茄帶擦之甚妙。</p>
<p>治赤白癜風經年難愈者方</p>
<p>稀薟葉　酸漿草（各二錢）　硫黃（一錢）　輕粉（五分）</p>
<p>上四味。先搗稀薟酸漿。次輕粉硫黃。為細末。合搗。盛絹袋擦癢處。日三度奇驗。</p>

<h1>婦女病</h1>

<h2>【經閉血癖】</h2>
<p>通滯散　治經閉帶下。或痢後腹中生塊。手足痿弱者。</p>
<p>香附（半炒半生）　阿膠（炒）　反鼻　大黃（各等分）</p>
<p>上四味為末。每服一錢。日二。溫酒送下。</p>
<p>浮石丸　治血地妙劑也。</p>
<p>桃仁　大黃　浮石（各等分）</p>
<p>上三味。為末糊丸。梧子大。白湯送下。日一錢半。</p>
<p>琥珀散　消瘀血在腹內為痛者。</p>
<p>琥珀　鱉甲　大黃（各等分）</p>
<p>上三味為末。每服二錢。溫酒送下。日二。</p>
<p>熨瘀血在腹為痛者方</p>
<p>樟腦　紅花　茴香（各等分）</p>
<p>上三味為粗末。以新布包之。漬燒酎中。須臾而火溫熨患上。日數次。瘀血積年不瘥者。用此方。則能回宿疾。而後用藥。則藥能應病也。</p>
<p>下瘀血方</p>
<p>綿實　番茄　胡椒（各五錢）　紅花　牽牛子　牛膝　釜煤墨（各二錢）</p>
<p>上七味。細末糊丸。梧子大。每服三十丸。以半夏紅花桃仁大黃白芥子煎湯送下。或溫酒送下。</p>
<p>糯米散（俗稱白藥）　下瘀血塊。宜用之。</p>
<p>糯米（冬月寒時曝者五合）　硫黃（一錢至二錢）</p>
<p>上二味為細末。以中條家本味正氣散。去人參加牡丹皮。（生炒）煎湯送下藥末。日二劑。</p>
<p>治服糯米瞑眩甚者方</p>
<p>鉛（三錢）</p>
<p>上一味。水煎頓服。</p>
<p>延胡索湯　治婦人經閉。時腹痛裡急者。</p>
<p>延胡索（一錢）　當歸　桂枝（各七分）　乾薑（六分）</p>
<p>上四味水煎。日二服。長服益佳。</p>
<p>黃漆丸　治婦人血癖痼瘕。積年不痊者。</p>
<p>大黃（三錢）　生漆（一錢半）　麵粉（二錢半）</p>
<p>上三味為末蜜丸。白湯送下。日三錢。</p>

<h2>【崩漏帶下】</h2>
<p>腰滯二妙湯　治赤白帶下。或產後腰弱不能步者。</p>
<p>毛茛根　前胡　桑白　⿱艹⿰火𤰞菜（細銼各等分）　肉桂（少）</p>
<p>上五味。二錢半為一劑。以水三合。煮取二合。滓再以水二合煮取一合。</p>
<p>松寄生散　治白帶下妙劑。</p>
<p>松寄生　益智　黃柏　芍藥　生地黃　茴香　甘草　續斷　山藥　蓮肉（各等分）</p>
<p>上十味。水煎頓服。</p>
<p>治崩漏下血及淋方</p>
<p>亂髮（霜）</p>
<p>上一味。每服一錢。日一。白湯送下。　亨嘗治產前產後。血氣上逆諸疾。亂髮。味噌。黑霜二味相和。白湯送下之以極驗。並附於此。</p>
<p>茅根湯　治帶下諸藥不效者。</p>
<p>茅根（四錢）　丁子　肉桂（各一錢）</p>
<p>上三味水煎頻薰前陰最效。</p>
<p>治崩漏奇方</p>
<p>鯉鱗（霜）</p>
<p>上一味。白湯送下。</p>
<p>琥珀丸　治赤白帶下日久者。</p>
<p>琥珀　木香　沒藥　當歸　麝香（各二分）　乳香（一錢）　辰砂（二分）</p>
<p>上七味水丸。如彈丸大。白湯送下。</p>
<p>治帶下方</p>
<p>牡蠣（一錢）　梔子　芍藥（各五分）　甘草（三分）</p>
<p>上四味。水煎服。</p>
<p>又方</p>
<p>乾薑（黑炒）　芍藥　鬱金（各五分）　桂枝（三分）</p>
<p>上四味。水煎服。</p>

<h2>【妊娠產後病諸症】</h2>
<p>試妊娠方</p>
<p>大麻稭一味。燒為末。</p>
<p>上服五分。日二。白湯送下。用七日而後不見月經者。必妊娠也。否者非。</p>
<p>治惡阻嘔吐不止者方</p>
<p>伏龍肝（五錢）　白朮（二錢五分）　豬苓（二錢五分）</p>
<p>上三味為末。每服自三分至五分。日三。白湯送下。</p>
<p>犀角湯　治妊娠口中熱。生瘡者。</p>
<p>犀角（六分）　芍藥（七分）　芎藭（五分）　生地黃（八分）</p>
<p>上四味。水煎服。</p>
<p>治轉胞方</p>
<p>枇杷實（二十個）　巴豆（七分）　ァヶソカンキソ（四錢）　田螺（十個去貝搗為膏）</p>
<p>上四味。先以枇杷實為末。內ァヶソカンキソ。巴豆。田螺。合研塗。一寸五分紙。貼臍下二寸。以小便通為度。劇者尤效。</p>
<p>香麻散　俗所謂下枕藥者也。</p>
<p>香附子　苧麻</p>
<p>上二味。黑霜。白湯送下。</p>
<p>治兒枕痛方</p>
<p>阿膠烊消。投胡椒末。和攪為膏。乘熱塗少腹。頃刻病人覺發熱乃瘥。</p>
<p>治產後狂癇方</p>
<p>犀角　虎骨　血竭（各二分）　苧麻葉（一錢二分六七月中為霜）</p>
<p>上四味為末。白湯送下。</p>
<p>橐吾散　治氣逆血暈。或痰咳急迫。諸與瀉心藥而不效者。</p>
<p>橐吾根（三錢能洗浸美酒一宿乃陰乾用）　阿仙藥（二錢）　辰砂（一錢）</p>
<p>上三味細末。白湯送下。</p>
<p>兔腦散　治產後血暈諸症。</p>
<p>兔腦（霜）</p>
<p>上一味為末。白湯飲下。</p>
<p>治血暈方</p>
<p>棕櫚毛霜　亂髮（霜各等分）</p>
<p>上二味細末。白湯送下。</p>
<p>洗陰散　治產後陰門腫痛者。</p>
<p>五倍子　明礬　芒硝　小麥　蔥白（各等分）</p>
<p>上五味。水煎屢洗陰門。</p>
<p>治產後熱毒口中腐爛不得食者方</p>
<p>楊梅皮　南燭實（各二錢）　甘草（五分）</p>
<p>上三味水煎。食前含之。初慘痛不可忍。二三次必效。</p>
<p>雲母湯　治難產奇劑也。</p>
<p>芎歸湯倍雲母用之方也。</p>
<p>亨按凡難產露手足而不出。既破水而未娩。引二三日者。或雙胎一娩一未娩之類。先須用此方。實催生之良劑也。</p>
<p>補母湯　治產前產後。或金瘡打撲。凡從血症變出者。</p>
<p>當歸　伏苓　桔梗　柴胡　木香　芍藥（各一錢）　莪朮　藿香　芎藭　人參　黃耆　肉桂　桂心　董陸　沉香　乳香　熟地黃　丁子　石膏　滑石　大黃　升麻　縮砂　檳榔　黃芩　甘草　安息香（各三錢）</p>
<p>上二十七味。水煎服。</p>

<h1>【婦人雜疾】</h1>
<p>治乳腫方</p>
<p>取萬年青生汁。塗患處神驗。</p>
<p>治乳岩潰爛精神日衰者方</p>
<p>水蜥蜴生者。研今如膏。塗患處。立令精神爽恍。連日益佳。</p>
<p>釀乳丸　療產後百日間。乳汁不通者。服此方神驗。</p>
<p>木通葉（六錢）　牡蠣（四錢）　麥門（二錢）</p>
<p>上三味。為細末糊丸。如大豆大。蒲黃為衣。白湯送下。胎妊中亦可服。禁五辛青菜類。又嫌他藥並用。</p>
<p>乳風奇方</p>
<p>貝母（一錢）　天花粉　柴胡　芍藥　穿山甲（各五分）</p>
<p>上五味。水煎溫服。</p>

<h1>小兒病</h1>

<h2>【五疳】</h2>
<p>千金莫傳方　五疳通治之妙劑也。</p>
<p>木香（三錢）　莪朮　檳榔　苦辛　仙人草　胡黃連（各四錢）　三稜（三錢）　黃柏（二兩生二兩曬）</p>
<p>上八味。細末糊丸。如梧子大。隨兒歲數服之。一日三四次。宜服。</p>
<p>午王丸　疳脹通治之藥也。</p>
<p>人參　莪朮　山藥　丁子　木香　黃柏（各二分）　香附　檳榔　甘草（各一分）</p>
<p>上九味。為末蜜丸。如梧子大。</p>
<p>疳眼兼藥</p>
<p>合歡木　車前子（各等分存性霜）</p>
<p>亨按凡類疳眼雀目者。用午王丸不愈者。兼用此藥即驗。此藥先取小鰻鱺魚不滿尺者燒之。魚汁將出。則取霜藥粉於魚上。乃餌之益佳。</p>
<p>治小兒疳眼生翳方</p>
<p>藍葉　細辛　黃蠟（各等分）</p>
<p>上三味。為末糊丸。先取雞卵一個。以錐刀穿孔。納一丸。以濕紙封固。蒸熟取出去殼。日服一個。○以上三方。余原本入眼目之部。然事以為小兒之病。移入於此。</p>
<p>八神丸　治小兒五疳。</p>
<p>藜蘆（三兩）　苦參　馬錢子（各一兩）　黃柏（炒）　蝙蝠（霜）　大嘴鳥（霜去嘴爪各半兩）</p>
<p>上六味。以糯米糊丸。如粟粒大。一歲以上者。隨歲數。而晝夜用各三度。七歲以下。不拘歲數。四五粒可用。</p>
<p>䱱魚丹（一名神應蛤蚧丹）　治小兒五疳胎毒。蟲咳雀目等諸症神驗。</p>
<p>䱱魚（箱根產可用浸水去手足爪並眼目更浸醋炒九度○一作蛤蚧功用略相似）　山楂子　白芍　麥芽　白朮　青皮　茯苓　使君子　榧實（各十錢）　甘草（五分）　澤瀉（三錢）</p>
<p>上十一味糊丸。白湯送下。</p>
<p>白丸子　五疳殺蟲之良劑也。</p>
<p>雞膽（五錢）　黃連　黃芩（各二錢半）　甘草（一錢）</p>
<p>上四味糊丸。銀箔為衣。</p>
<p>治疳蟲奇方</p>
<p>檳榔　枯礬（等分）</p>
<p>上二味。細末和糊。貼紙傅而肩骨妙。</p>
<p>味噌藥方　治小兒一切屍疳蟲者。</p>
<p>蝸牛數十個。去殼碎為泥。</p>
<p>上一味。調和味噌中。同研煮服之。</p>

<h2>【蟲症】</h2>
<p>鷓鴣菜湯　治小兒胎毒頭瘡。蟲癖腹痛者。</p>
<p>鷓鴣菜（二錢半或三錢）　大黃（三分或二分）　蒲黃（三分）　甘草（三分）</p>
<p>上四味。以水二合。煮至一合。空心溫服。一二日而下蛔蟲。及穢物佳。一方去蒲黃。加苦楝皮。</p>
<p>馬明湯　療小兒疳蟲症。</p>
<p>馬明退（一錢隨人壯少）　青黛（五分）　大黃（二分）　甘草（三分）</p>
<p>上四味。以水二合半。煎取一合。適寒溫服。</p>
<p>又方</p>
<p>馬明退　紅花（各五分）　大黃（二分）　甘草（三分）</p>
<p>上四味。水煎服。</p>
<p>治中丸　治小兒蟲積。</p>
<p>雞膽　大黃（等分）</p>
<p>上二味。細末糊丸。白湯送下。</p>

<h2>【痘疹】</h2>
<p>絲瓜湯　無辨痘不痘。但嬰兒身熱。呵欠煩悶。</p>
<p>睡中驚悸。噴嚏眼澀。鼻涕出氣粗。手足痠軟。即先宜與服。</p>
<p>絲瓜（陰乾三分）　升麻　芍藥　桔梗　甘草（各二分）</p>
<p>上五味。水煎溫服。</p>
<p>解痘毒方　初熱之中。服之則能解毒也。</p>
<p>絲瓜（霜一錢）　辰砂（一分）</p>
<p>上二味。能攪調。白湯送下。</p>
<p>百祥丸　治痘瘡初發用之。則毒氣不迫咽喉。</p>
<p>大戟一味</p>
<p>上為末。糊丸。一晝夜二錢。白湯送下。</p>
<p>治痘瘡將發而或瘡上凹者方</p>
<p>青豆　紫河車（各等分）</p>
<p>上二味。細末糊丸。白湯送下。毒深者。以桃仁湯送下。</p>
<p>湯浴方　凡痘瘡至四五日六七日未起脹。或譫語發狂。或不食。或疼痛。雜症變出。當此時而令兒浴此湯。則必快起脹。</p>
<p>水（一斗）　米糠（二升）　好酒（二十三錢）　赤小豆（三粒）　鼠糞（三個）　鹽（合）</p>
<p>上五味者為熱湯內盤中。自兒頭面至手足遍浴之。拭巾拭一身。令氣莫泄。取微汁。則必自起脹。凡春夏行此法。易起脹。如秋冬難起脹。則再三浴之而效。兒五歲以下者。宜用水四五升。或七八升。糠酒鹽亦隨之增減。</p>
<p>洗身散　治痘瘡陷伏不起。或隱在皮膚中者。</p>
<p>枳實　陳皮　紅花　牛蒡子（各四錢）　黑豆（三錢）　桃枝　桑枝（各長一尺五寸）</p>
<p>上七味。以水三升。煮取一升五合。洗遍身則大效。</p>
<p>治痘瘡難起脹者方</p>
<p>豬毛（黑霜）</p>
<p>上生者一味。白湯送下。或豬肉焙而餌之。亦佳。</p>
<p>雄黃胭脂散　治痘瘡諸藥不驗。見黑陷者。</p>
<p>大黃　紫草　雞冠雄黃（各等分）</p>
<p>上先以三稜針刮破瘡。以小竹管頻吸之。而後取三味細末。以水和寒制胭脂傅瘡上。而封。令風不入。則毒能解。</p>
<p>治痘瘡有蟲癖者方</p>
<p>山椒　烏梅（各二錢）　黃連（三錢）</p>
<p>上三味。細末糊丸。白湯送下。</p>
<p>治痘毒入眼者方</p>
<p>巴豆　辰砂（各等分）</p>
<p>上二味。和調敷一會。</p>
<p>痘瘡使眼不閉方</p>
<p>白檀（上品）</p>
<p>上一味為末。塗眼胞臉數次。</p>
<p>治痘毒痛甚血出不已者方</p>
<p>杏仁　雞子黃</p>
<p>上二味。合研塗痛處。</p>
<p>治痘毒入眼失明方</p>
<p>鴨蹠漬花紙　臍帶（各格）</p>
<p>上二味。浸水以汁點眼中。</p>
<p>解痘毒入眼方</p>
<p>蜣蜋一味。細摩點目中。或暴乾用之。</p>
<p>松花散</p>
<p>痘瘡爛者。用松花粉撲之。</p>
<p>薰癢方</p>
<p>茵陳　白芨　荊芥</p>
<p>上三味為末。以紙條點火薰之。</p>
<p>一方</p>
<p>荊芥霜摻之。</p>

<h2>【急慢驚風】</h2>
<p>積雪草　藍澱（各八分）　蕺菜（三分）　牛黃（二分）</p>
<p>上四味。水煎服。</p>
<p>治急慢驚風兼蟲症者方</p>
<p>馬明退（二錢）　蜀羊泉　紅花（各一錢）　連錢草（五分）</p>
<p>上四味。水煎服。腹痛加青皮。木香。山椒。</p>
<p>治小兒驚風熱毒。沖胸搐搦。煩悶不已者方。</p>
<p>連錢草生者一握。碎而和水取汁。屢以用之大驗。或加藍草。</p>

<h2>【胎毒雜瘡】</h2>
<p>龍葵散　治初生惡毒。</p>
<p>龍葵（一錢）　巴豆　輕粉（各三分）</p>
<p>上三味細末。日三分。白湯送下。</p>
<p>紅花散　殺疳蟲。消胎毒。凡治小兒百病必驗。</p>
<p>紅花　忍冬（各二錢半）　黃芩　連翹（各二分）　檳榔（一分半）　木通　桔梗（各一分）　大黃（三分）</p>
<p>上八味。水煎服。</p>
<p>金玉丸　凡小兒雜病蛔蟲。及胎毒者。此丸主之。</p>
<p>紅花　鼴鼠（霜各二錢五分）　巴豆（一錢五分）　輕粉（五分）　牽牛子（一錢五分）　積雪草（五錢）　海人草（三錢）　大黃（二錢五分）</p>
<p>上八味。為末糊丸。如芥子大。辰砂為衣。自兒初生至三歲服六七丸。日三。空心白湯送下。用隨病淺深。丸數止二十丸。</p>
<p>解小兒胎毒方</p>
<p>⿱艹秡荷　紅花（各八分）　欎金　龍膽（各五分）　枯礬（三分）</p>
<p>上五味。水煎服。或加大黃。</p>
<p>治龜胸龜背方</p>
<p>紫丸每服自二分至五分。五日或十日一服。以肩生痛為驗。用之半年。肩背漸發腫益佳。是瘥之徵也。</p>

<h2>【小兒雜病】</h2>
<p>治吐乳方</p>
<p>連錢草（三錢）　甘草（五分）　樟腦（一分）　黃連（五分）</p>
<p>上四味。水煎服。</p>
<p>治小兒痰癖方</p>
<p>天南星　巴豆　硃砂（各半兩）</p>
<p>上三味。細末糊丸。股必便膿血。丸藥以不化而下為度。</p>
<p>治暴喘並馬脾風方</p>
<p>巴豆　大黃　雞冠石（各等分）</p>
<p>上三味。為細末。煉蜜為丸。十歲以上。每服三分。後服白虎湯佳。</p>
<p>治初生小兒黶方</p>
<p>胎糞一味。為末傅之。</p>
<p>畫眉膏　小兒至六七歲飲乳汁。乳母欲斷之者主之。</p>
<p>山梔子（三個燒存性）　雄黃　硃砂（各三分）</p>
<p>上三味細末。入麻油輕粉少許調勻。候兒睡著。濃抹於一眉上。覺令不念乳。若不效。加黃丹一錢。</p>
<p>治兒有舐鼻下之癖方</p>
<p>四君子湯方中。加白芷。余依前法數服。而益佳。</p>
<p>治鵝口瘡方</p>
<p>石膏　滑石　硼砂　辰砂（各等分）</p>
<p>上四味細末和水。以鳥羽塗之。</p>
<p>又方</p>
<p>馬明退　紅花（各等分）　甘草（少許）</p>
<p>上三味黑霜為細末。和干胭脂塗患上。不過三日而愈。</p>
<p>又方</p>
<p>天南星。細末和糊。傅足心甚妙。</p>
<p>解毒方</p>
<p>解魚毒方</p>
<p>款冬一味。莖根俱取生汁。頓服之。</p>
<p>解食蕈中毒。欲死者方。</p>
<p>礬石　茶（為末各等分）</p>
<p>上二味水煎服之。須臾腹中痛。大便乃下。明日復常。</p>
<p>解河漏毒方</p>
<p>楊梅皮</p>
<p>上一味。水煎頓服。</p>
<p>下水銀方</p>
<p>鷹糞　磁石（各等分）</p>
<p>上二味。細末。白湯送下。從大小便以水銀下為度。</p>
<p>解河豚毒方</p>
<p>五爪龍生汁一味。頓服即效。</p>
<p>拔竹木入肉方</p>
<p>象牙　芍藥（各等分）</p>
<p>上二味為細末。和糊敷患上。</p>
<p>治狂犬咬傷毒方</p>
<p>麝香　虎骨　辰砂（各五分）</p>
<p>上三味為細末。先以韭菜自然汁。洗咬處。而傅藥末於其上。且頻頻洗之可也。</p>
<p>解酒毒方</p>
<p>葛花（一錢）　大黃　甘草（各五分）</p>
<p>上三味細末。白湯送下。</p>
<p>治服輕粉劑口中腐爛者方</p>
<p>綠豆　桔梗　甘草（各等分）</p>
<p>上三味。水煎頓服。</p>
<p>又方</p>
<p>石榴皮一味。水煎服。又含之可也。</p>
<p>治瘋犬傷方</p>
<p>竜角一味為末。水煎服之。又外和水傅患上。久而又毒發者。大黃一味。煎湯入麝香少許。水煎服至妙。</p>
<p>解中漆毒者方</p>
<p>山椒（青者尤佳）　連根葉俱揩浴遍身也。</p>
<p>又方</p>
<p>溫飩粉一味。塗之遍身。</p>
<p>雜集方</p>
<p>神通湯　治飲食大過。腹痛無吐下。悶亂痛甚。凡病當危急。諸藥不效欲死者。可用之。</p>
<p>良薑　丁香　沉香　木香　陳皮　莪朮　大腹　吳茱萸　砂仁　乾薑　枇杷葉　連翹</p>
<p>上十二味。水煎服。分量存口傳。</p>
<p>苦參丸　治陽狂。</p>
<p>苦參一味。細末糊丸。或煉蜜為丸。日服一錢。兼服三黃瀉心湯。日二劑。</p>
<p>治癲癇方</p>
<p>蝮蛇（霜）　生漆（不雜油者）</p>
<p>上先以蝮蛇。和生漆。能幹調。陰攪為末。糊丸。白湯送下。丸數多少。宜隨人強弱。病輕重增減之。</p>
<p>兼用方　虎骨（一錢）　海人草　葛根　艾根　蜀椒　苦楝皮　甘草（各五分）</p>
<p>上七味水煎服。○凡治療之間。大抵百日禁房。犯之則無效。</p>
<p>鐵朱散　治大人。小兒癲癇。</p>
<p>鐵粉（五錢）　靈粉（二錢）　蠟（四錢）　鷓鴣菜　桐木（燒為霜）　硫黃（各四錢）　巴豆（二錢）</p>
<p>上七味。蜜丸白湯送下。日一錢。服後必下利。下利已。則有又發者。仍前法用二三。則拔病根。始用三黃瀉心湯數十貼。以冷水灌頂。而與此藥則能應。</p>
<p>療癲癇方</p>
<p>大蓼　水蛭（各為霜等分）</p>
<p>上二味。一服一錢。白湯送下。日二服。至七日不發者。試可令食蒟蒻。而再發者。又作劑如前法。食蒟不發者。為全瘥也。</p>
<p>治狐詫人方</p>
<p>白雞冠花　甘草（各等分）</p>
<p>上二味。水煎頓服。</p>
<p>治邪祟方</p>
<p>金銀花一味。煎湯用之佳。</p>
<p>亨按俗云有婦人小兒。或又大病後。血氣未調。為狐貍貓犬所襲者。又筑紫俗云。河伯為祟之類。此方主之。</p>
<p>又方</p>
<p>甘松香一味。燒火薰之。</p>
<p>打撲不選新久悉下之方</p>
<p>大黃（四分）　鮸魚（二錢）　當歸　芎藭（各五分）</p>
<p>上四味以水二合。煮取一合服之。</p>
<p>雞鳴散　治打撲折傷。</p>
<p>大黃（一錢）　杏仁（二錢）</p>
<p>上二味。以水二合。煮取一合。臨臥服。服後飲醇酒。醉臥。則至雞鳴而死血盡下。</p>
<p>治湯火傷爛方</p>
<p>黑砂糖（十兩）　辰砂（一錢）</p>
<p>上二味。調煉塗患處。從手愈。</p>
<p>又方　海膽一味。塗之大效。</p>
<p>治遺溺方</p>
<p>貓屎（曝屋上者佳）　防己　甘草（各等分）</p>
<p>上三味。為末。合調一服。一錢日三。</p>
<p>治腋下狐臭方</p>
<p>當歸（一兩）　明礬　輕粉（各一錢）　古茶（二錢）</p>
<p>上四味為末。白湯飲下。</p>
<p>白龍散　治消渴之神劑。</p>
<p>寒水石（生一名凝水石）　甘草（半生半炒）　葛粉（各等分）</p>
<p>上四味為細末。每服二錢。濃煎麥門冬湯送下。原華佗中藏經選方也。</p>
<p>治落架風方　香蘇散。加木香。　外楊梅皮末。入鼻得嚏。必瘥。</p>

<h1>續名家方選上　病部</h1>

<h2>【頭面】</h2>
<p>清上湯　治頭面諸病。屬血熱者。</p>
<p>四物湯合三黃湯。加山梔子。桔梗。香附。連翹。薄荷。甘草。</p>
<p>上十三味。水煎服。</p>
<p>治頭屑方</p>
<p>黑豆一味。以醋煮。數洗之。甚妙。</p>
<p>治婦人血風諸頭痛方</p>
<p>薄荷　生地黃</p>
<p>上二味水煎。此方平劑。然能奏殊效。</p>
<p>治平素有頭痛癖者方</p>
<p>芎藭（一兩）　土茯苓（五兩）</p>
<p>上水煎服。或為末。白湯點服。</p>

<h2>【耳】</h2>
<p>治大人小兒聤聹方</p>
<p>山鳥尾（黑霜）　麝香（少）</p>
<p>上二味。浸麻油點耳中。未止者。加朱少許。</p>
<p>治有小兒聤耳癖者方</p>
<p>藿香正氣散。本方連進數貼妙。</p>
<p>止耳痛方</p>
<p>生石菖根汁。灌入耳中妙。</p>
<p>又方　白芷浸麻油入。耳中妙妙。</p>
<p>又方　白百合浸麻油入耳中。</p>
<p>治耳鳴不聞者方</p>
<p>地黃　黃柏　麥門　當歸　桂枝（各等分）</p>
<p>上五味。水煎服。</p>
<p>療中年後耳鳴方</p>
<p>六味丸料。加菊花。蔓荊子蟬蛻。水煎服。</p>

<h2>【鼻】</h2>
<p>辛夷湯　治鼻塞。清涕頻出。不聞香臭。及腦漏濁涕不止。</p>
<p>辛夷　川芎　白芷　菊花　前胡　石膏　白朮　生苄　薄荷　赤苓　陳皮（各一兩）　炙甘（二兩）</p>
<p>上十二味。水煎服。</p>
<p>療酒皶鼻奇方</p>
<p>枇杷葉　山梔仁　黃芩（各二十錢）　連翹（四十錢）</p>
<p>上四味。水糊丸。梧子大。每服五分。白湯送下。或作湯兼用之益妙。準頭自覺冷。佳兆也。</p>
<p>又方治久年者妙劑</p>
<p>當歸（酒製）　大黃（酒製各五錢）　沉香（上品者四錢）　川芎（三錢）　香附子（炒一錢）</p>
<p>上五味細末。食後煎茶服。</p>
<p>療鼻痔方</p>
<p>芒硝細末。點入鼻內數次。</p>
<p>又方</p>
<p>密陀僧　白芷（各等分）</p>
<p>上二味為末。生蠟調和傅鼻中。</p>

<h2>【眼目】</h2>
<p>涼明飲　療風熱上衝。眼目赤腫者。</p>
<p>黃連　柴胡　黃芩　防風　芍藥　生苄（各一錢）　當歸　羌活　升麻　白芷　山梔子　川芎（各五分）　甘草（二分）</p>
<p>上十三味。銼水煎服。有赤脈者。加菊花。木賊。白睛赤腫痛甚。加桑白皮。多淚不止。加荊芥。薄荷。菊花。</p>
<p>養明飲　療老眼虛眼。中氣不振。飲食不進者。</p>
<p>黃柏　白芍藥（各一錢）　人參　黃蓍（各七分）　蔓荊子　葛根　升麻（各五分）　甘草（二分）</p>
<p>上八味。銼。水煎服。</p>
<p>洗眼方　洗諸眼翳障要方。</p>
<p>寒水石　爐甘石　石膏　蓬砂　枯礬　辰砂（各一銖）　龍腦　麝香（半銖）</p>
<p>上八味極末。絹包和水洗諸眼甚妙。</p>
<p>龍腦散　眼科傳方言云。凡諸眼痛治之良方也。</p>
<p>石膏（四銖）　寒水石（六銖）　滑石（四銖）　白礬（二銖）　真珠（一分）　焰硝（二銖）　麝香（一銖）　龍腦（一銖）</p>
<p>上八味。極研末。點入眼中。若眼中生瘡。白輪多血。則加蓬砂。雀貝。葛根。（各一銖）貝齒。白丁香。（各二銖）樟腦。（少許）極研和本方。點入。若內障則代赭石。石膏。龍腦。（各一銖）麝香。滑石。（各二銖）極研和。本方。點入。若外障。或翳障。或血濺眼。則滑石。蛇骨。（各一銖）白龍。（三銖）牡蠣。（一分）雀子（一銖）貝石（五銖）鹿角（二銖）天石（六銖）麝香（少）極研和本方點入。</p>
<p>石膏散　治眼中多淚妙方。</p>
<p>滑石（三銖）　丹（一銖）　光明朱（一銖）　石膏（三銖）</p>
<p>上四味。極末點入。</p>
<p>焰硝散　治爛弦倒睫要藥也。</p>
<p>焰硝　石膏　樟腦（各等分）</p>
<p>上三味。極研末。和水塗眼四周。若倒睫。則鑷子拔睫毛塗之。</p>
<p>蓬砂散　治血輪見血脈。眼中生菌之類。</p>
<p>焰硝（少）　蓬砂（一銖）　麝香（少）　石膏　決明子　硃砂（各一銖）　龍腦（少）</p>
<p>上七味。極研末點入。</p>
<p>黃連湯　洗眼中疼痛甚者。尤妙。</p>
<p>黃連　黃芩　甘草（各八分）　生石菖蒲根（一錢）　燈心（三分）　文錢（十銅）</p>
<p>上六味。水一合。煮取七勺。頻洗眼中。○以上六方。名譽眼科家所傳。無敢以授人。雖似則泄天寶。今錄示之同志。</p>
<p>治爛弦方</p>
<p>銅粉（三分）　黃柏（生六分炒六分）　黃連（生末六分）</p>
<p>上為細末。蜜煉水和調。以鴉羽塗其爛處。不欲入眼中。</p>
<p>小柏散　治一切上氣熱症眼疾。</p>
<p>沒藥　紅花　乳香　黃柏　小蘗　橘葉（陰乾各等分）</p>
<p>上六味等分。一錢許。裹緋帛。漬熱湯洗眼。目且蒸熨亦佳。</p>
<p>溫洗眼目方　洗冷淚。</p>
<p>乾薑　肉桂（各等分）　白礬（減半）</p>
<p>上三味。盛絳囊。漬熱湯。淋眼中。日數次。</p>
<p>治疣目方</p>
<p>百草霜　鹽（各等分）</p>
<p>上二味。合研入臍中。紙蓋其上。</p>
<p>治衝破眼方</p>
<p>水仙花根一味。研如泥點眼中。</p>
<p>療雀目奇方</p>
<p>五苓散方內加芣苡蒼朮。水煎服。</p>
<p>除眼翳方</p>
<p>蓬砂一味。極研末。以燈心點翳中。</p>
<p>制疳丸　治小兒烏睛見翳。或痘後生翳者。及疳眼通治良劑。</p>
<p>青皮　和胡黃連　莪朮　黃連　縮砂　乾漆　臭梧桐蟲（酒浸曝乾各等分）</p>
<p>上細末。四錢許。煉熊膽五分。丸梧子大。日服五十丸。七日而效。外龍腦散點之。</p>
<p>治痘後毒入眼中痛者方</p>
<p>京墨　熊膽（各等分）</p>
<p>上二表。乳汁和調。點眼中。</p>

<h2>【口舌】</h2>
<p>黛黃散　治口瘡及牙齒根臭爛。或黑色。或疼痛甚者。</p>
<p>黃柏（一兩）　青黛（二錢）　黃連　白芷（各一錢半）　赤芍　細茶（各一錢）　麝香（二分五釐）</p>
<p>上七味。研末傅患處。若舌上生瘡爛痛者。加酒炒黃芩。乾薑。細辛。山梔。各一錢。摻患上。噙之則涎出而愈。</p>
<p>黛紅散　治舌上赤爛生小瘡。</p>
<p>青黛　黃連　紅花（各等分）</p>
<p>上三味為末。食前塗舌上。</p>
<p>療口舌破裂腫痛方</p>
<p>莽草乾陰。一味水煎。頻含之吐。</p>
<p>治口中一切腫痛方</p>
<p>礬石（五分）　五倍子（三分）　細辛（二分）　黃柏（三分五釐）　大黃（二分）　黃連（三分）　蔓荊子（三分）</p>
<p>上七味。水一合半。煮取一合。溫含之。</p>
<p>療舌疽方</p>
<p>昆布　梅乾肉（各四錢）　巴豆（一錢）　枯礬（二分）</p>
<p>上四味。燒存性。合和傅之。</p>
<p>治上焦鬱熱。口中及牙齒痛腫方。</p>
<p>藍葉　黃連　石膏（各等分）</p>
<p>上三味。水煎頻含之。後吐。</p>

<h2>【牙齒】</h2>
<p>清熱白虎飲　治風熱攻注牙根腫痛。</p>
<p>石膏（一錢半）　升麻　知母（各一錢）　大黃　山梔　薄荷　茯苓　連翹（各八分）　朴硝（六分）　甘草（五分）</p>
<p>上十味水煎。食遠服。頻頻含咽則愈。</p>
<p>治血熱衝上齲齒痛方</p>
<p>四物湯方內倍加山梔子。水煎。先含後咽之。</p>
<p>治胃中鬱熱。牙齒腫痛方。</p>
<p>平胃散。本方加升麻煎服。</p>
<p>治齲齒方</p>
<p>南星一味。為末和麻油。左痛則投左耳中。右痛則投右耳中。則愈。</p>
<p>治牙齒疼痛。不可忍者方。</p>
<p>隨牙齒疼痛左右。橫臥。納入白焰硝細末少許。於痛方。耳中滴醋少許。則耳中蟬鳴。齒痛徐止。則伏下其耳。則藥汁流出而驗。</p>

<h2>【咽喉】</h2>
<p>通喉散　療咽喉腫痛。或喉痹食難通。或骨硬後疼痛甚者。</p>
<p>黎實（連莖葉二十錢）　鹽梅肉（二個連核）　昆布（四方五六寸許）</p>
<p>上三味。各黑霜為細末。吹咽中。</p>
<p>治咽喉腫塞。勺飲難通者方。</p>
<p>橙皮（霜）　黃連（霜）　生昆布（霜）　甘草（少）</p>
<p>上四味。細末。白湯送下。或加辰砂。</p>
<p>療喉痹方</p>
<p>鳳仙花實為末。吞下則愈。</p>
<p>又方　治勺飲不入。語言不出。殆將死者。</p>
<p>膽礬　烏頭　皂角刺（各等分）</p>
<p>上三味為末。以蘆管吹咽中。吐膿血則愈。而後隨症可議治也。</p>
<p>治骨硬方</p>
<p>芭蕉葉嫩生卷出者。陰乾水煎服。</p>
<p>又方</p>
<p>橘核三五枚。細齧吞下妙妙。</p>
<p>治喉風方</p>
<p>白姜蠶（炒茶色）　訶子（各二錢）　薄荷　甘草（各一錢）</p>
<p>上四味細末。以管吹入喉中。</p>

<h2>【喘急咳嗽】</h2>
<p>定喘飲　療諸喘急。屢起發者。</p>
<p>橘皮　半夏　茯苓　桑白皮（各一錢）　莪朮（五分）　甘草（三分）　生薑（一片）</p>
<p>上七味。水煎溫服。</p>
<p>喘急奇方</p>
<p>無槵子（黑霜一味）　阿仙藥（細末一味）</p>
<p>上二味。各別調。一服。黑霜一服。細末。白湯互用。</p>
<p>救喘急息迫將死者方</p>
<p>茶實一味。濃煮汁。少許滴鼻中妙妙。</p>
<p>治喘急塞迫欲死者方</p>
<p>黃蓍建中湯。加薤白。熟附子。照常水煎服。</p>
<p>茶實丸　治前症愈劇者。</p>
<p>茶實（生熟者佳）　百合根　礬石（各等分）</p>
<p>上三味。研勻為丸。每服一錢。空心白湯下。</p>
<p>雞卵濃湯　治咳逆上衝。不得臥。喘急塞迫者。</p>
<p>雞卵（一個）</p>
<p>上沸湯攪調。和白砂糖頓服。○此方清人常服為補虛養生之妙具。</p>
<p>桔梗半夏湯　療久喘咳嗽。</p>
<p>茯苓　陳皮　當歸　莪朮　枳殼　瓜蔞根（各五分）　桔梗　半夏（各八分）　甘草（三分）</p>
<p>上九味。水煎服。</p>
<p>止咳奇方　治煩咳甚者。</p>
<p>阿芙蓉（一錢）　阿仙　乾薑　桂枝　罌粟殼（各二錢）　細辛（五分）</p>
<p>上六味。糊丸。日用三分或五分。稍安者止後服。</p>
<p>虛咳丸　治久咳數歲不止者。</p>
<p>質汗　伊計摩　松脂（各三分）　烏梅　甘草（各一錢）</p>
<p>上五味。糊丸用。</p>
<p>咳嗽奇方</p>
<p>榛子（二錢）　甘草（三分）</p>
<p>上二味。水煎服。</p>
<p>百合湯　治寒熱虛咳。殆類勞者。</p>
<p>百合　升麻　黃芩　牡丹皮　生地黃　鱉甲　桔梗　沙參（各等分）　甘草（二分）</p>
<p>上九味。水煎服。</p>
<p>治喘滿欲死方</p>
<p>硃砂　鼴鼠（霜）　枯礬</p>
<p>上三味為末。白湯下。</p>

<h2>【嗝噎反胃】</h2>
<p>一大醫試效云。凡反胃證在男子。則十六味流氣飲。合六君子湯。煎服。在女子則同方合正氣天香湯。煎服。此方至妙。</p>
<p>治反胃方</p>
<p>馬藺（十錢）　茯苓（二錢）</p>
<p>上二味。以水二合。煮取一合服。</p>
<p>治嗝噎方</p>
<p>荼毗所灰少許。白湯送下。</p>
<p>又方　野蒜和粥煮。頻食之妙。</p>
<p>治膈奇方　反鼻一味。先作鹽豉稀湯。煮之三沸。俱米子攪下湯內服驗。</p>
<p>上部雜症（藥方稀少而不足舉門類者皆入雜症部後仿之）</p>
<p>嘔家奇方　小半夏加茯苓湯。內加白梅花一味。用之妙妙。</p>
<p>又方　嘔甚藥食難用者。用之。婦人女子。多有此症皆主之。</p>
<p>馬藺一味。陰乾炒。甘草少許。水煎溫服。</p>
<p>療諸吃逆方</p>
<p>柿核（二枚）　蜀椒（十粒）　丁香（五粒）</p>
<p>上三味。以麻沸湯。漬之飲服。</p>
<p>養血清心丸　凡人口吃。語言蹇澀者。心血虛而火亢甚也。輕者語澀重者。口眼喎斜。醫誤為中風者。此方主之。</p>
<p>當歸（酒洗十錢）　麥冬（六錢）　川芎　白芍　防風（去梢各十錢）　黃芩　荊芥　青皮（各八分）　黃連（十錢）　薄荷（五錢）　牛黃（二錢）　甘草（三錢）</p>
<p>上十二味。為細末糊丸。綠豆大。每服五十丸。臨服空心熱酒送下。○此方往昔鹿苑上皇珍貴之方也。</p>
<p>治瘭疽。及一分指腫方。</p>
<p>杉葉（生葉黑霜三錢）　鼴鼠（二錢）　丁子（八分）</p>
<p>上三味。為細末。和梅肉與飯煉和鋪紙上傅之。○按此方手腕以上。足腨以下。一切腫痛之病。奏殊效。</p>
<p>療瘭疽方</p>
<p>毛茛花（一錢二分）　甘草（二分）</p>
<p>上二味。水煎服。</p>
<p>療瘭疽疼痛。不可忍者方。</p>
<p>亂髮灰一味。和麻油傅患上。即愈。</p>
<p>又方　小麥粉一味。和麻油傅瘡上。</p>
<p>治指痛方</p>
<p>水仙花根。研調以釜底墨和之。傅患上。</p>
<p>療痜瘡方</p>
<p>蜈蚣　紫草（各等分）</p>
<p>上二味。為末和麻油傅之。</p>
<p>治臂痛妙方</p>
<p>木鱉子（去油一兩）　桂枝（五錢）　上糊丸用</p>
<p>治狐臭方</p>
<p>田螺（一個）　巴豆（一個）　膽礬（大豆許）　麝香（少）</p>
<p>上先以田螺一個。投於水中。三日吐泥。開蓋入三味末。以絲縛田螺之蓋。而納於器中。明日化為水。臨服以藥末傅腋下盡為度。後覺心腹痛為佳。臭氣從大便下。宜別廁。莫使臭氣感他人。若不愈。更傅如前法。</p>

<h1>中部病</h1>

<h2>【心腹痛】</h2>
<p>調中散　治諸般腹痛奇方。</p>
<p>牡蠣（六兩）　甘草　丁子　肉桂　胡椒（各二兩）</p>
<p>上五味。細末。白湯送下。</p>
<p>療虛腹諸藥無效。或血氣留滯。久腹痛難愈者方。</p>
<p>肉桂　乳香　延胡索（各等分）</p>
<p>上三味。水煎服。</p>
<p>療心痛方</p>
<p>鬼燈籠實（去皮）　上一味。水煎服。</p>
<p>化蟲丸　治大人小兒諸蟲痛。</p>
<p>鷓鴣菜（二十錢）　甘草　白礬（各五分）　鶴蝨　檳榔子　蜀椒（各十錢）　牡蠣（一錢）</p>
<p>上七味和丸。</p>
<p>治心痛徹背。縮脊。聲不出者方。</p>
<p>五靈脂（一錢）　乾薑（五分）</p>
<p>上二味。以水一合半。煮取一合。內童便三勺服。</p>
<p>三靈湯　治嘔吐腹痛。胸中氣結。痰飲窒塞。惡聞藥食氣。專屬蟲積諸證者。</p>
<p>紅花　檳榔　香附子（各等分）</p>
<p>上三味以麻沸湯漬之。須臾而用之。即效。</p>
<p>圖基按此方。先師以來。常常活用之良方也。今取其隨症加減法錄之。因蟲嘔吐不止者。加橘皮茯苓生薑水煎服。咳甚不止屬蟲者。合二陳湯加青皮蘇子杏仁水煎服。熱病吐不止譫語。全不納食者。間有蟲積熱不解者。加柴胡葛根山梔子芍藥茯苓生薑煎服。婦人小兒風熱解後。餘熱不除者。有屬蟲者。加柴胡葛根陳皮茯苓水煎服。癇症氣逆衝上。眩暈噁心者加沉香沸湯。用。凡蟲積症脈微弱。全不食。噁心嘔吐者。醫誤為虛症。以補劑。則惡候蜂起。臨此際用此方。則有起死回生之妙。不可盡述。</p>
<p>安蟲丸　大人小兒。蟲積腹痛。必用之劑。</p>
<p>黃柏（五兩）　苦參（三兩）　檳榔（一兩半）　楊梅皮（一兩）　黃連（三兩）　黃芩（一兩）　莪朮（一兩）</p>
<p>上七味。丸梧子大。白湯送下。</p>
<p>徵蟲丸　治諸蟲屬冷者。</p>
<p>香附（一錢）　良薑（七分）　丁香（五釐）　莪朮　陳皮（各三分）</p>
<p>上五味為末。白湯送下。或煎服亦可。</p>
<p>青木香丸　治諸蟲屬熱者。</p>
<p>香附（三錢）　黃柏（二錢黑霜）　胡黃連（一錢）　青木香（五分）</p>
<p>上四味。為丸用。</p>
<p>雞膽丸　治小兒腹中有蟲。喜食土器壁土。或馬糞等者。</p>
<p>雞膽（用稱嘉士和者佳）　黃連　大黃　檳榔（各等分）</p>
<p>上四味為末。糊丸梧子大。每服五分。白湯送下。</p>
<p>貼積塊方</p>
<p>穿山甲　檳榔　木香　莪朮　三稜　青皮　枳殼　雄黃　牛膝（各等分）</p>
<p>上九味為末。以海蘿煉貼血塊。以紙蓋其上。又加南星角石益妙。</p>
<p>寬中湯　治腹中攣急。大便燥結。</p>
<p>蠶豆（二錢炒）　糖霜（一錢）　雞子黃（一枚）</p>
<p>上三味。以水一合。先煮蠶豆三沸去滓。內糖霜。及雞子黃攪勻。臥空心頓服。</p>

<h1>下部病</h1>

<h2>【疝瘕腰腹痛】</h2>
<p>臭橙飲　治疝瘕偏墜。腰脅攣急。</p>
<p>臭橙皮　芍藥（各二錢）　茴香　吳茱萸　附子　桂枝（各一錢）　甘草　大棗（各五分）</p>
<p>上七味。水煎服。</p>
<p>杜鬆散　治一切疝氣拘攣者。</p>
<p>杜松子（二錢）　桂枝　枳殼　茴香（各一錢）　甘草（三分）</p>
<p>上五味。銼。水煎服。</p>
<p>療疝瘕腰腹疼痛諸藥無效者方</p>
<p>燈籠草根（一錢五分）　薏苡仁（五分）　梅松實（二個去皮及澀皮）　甘草（少許）</p>
<p>上四味。水煎服。</p>
<p>治寸白方　治久年寸白。其證眩暈頭痛。或胸痛時傷食。或面腫筋骨疼痛。寒熱往來似勞者。</p>
<p>蓬根（米泔水漬日乾）　檜木節（取透明者）　芍藥（米泔水浸曬乾酒漬乾炒）　榧實（去澀皮生黑霜褐色三制）　檳榔子（各一兩）　木通（二錢）　丁子　沉香（各一錢）</p>
<p>上八味。分如常法。照常煎服。有熱倍丁子沉香。頭痛加川芎。風加陳皮。小便澀加木通。胸滿倍檳榔。疝甚加炒茴香。</p>
<p>治寸白蟲方</p>
<p>干鮭　大黃　黑醜　茯苓（各等分）</p>
<p>上細末。白湯送下。四錢。</p>

<h2>【淋疾】</h2>
<p>石淋散　治砂石淋奇方。</p>
<p>浮石　阿膠（各一錢）　木通　甘草（各五分）</p>
<p>上四味銼。水煎服。</p>
<p>膏淋散　治膏淋奇方。</p>
<p>海金砂（選真者）　滑石（各四錢）　甘草（一分）</p>
<p>上三味為細末。麥門冬湯送下。</p>
<p>血淋散　治血淋。</p>
<p>無槵子（二錢）　白砂糖（一錢）</p>
<p>上二味銼。水煎服。或海金砂一味。砂糖湯送下。亦佳。</p>
<p>治淋疾大奇方</p>
<p>胡桃肉（二錢）　大麥（六分）　茯苓　甘草　燈心（各三分）</p>
<p>上五味。水煎服。頻驗。</p>
<p>療諸淋方</p>
<p>蒴藋（二錢）　甘草（二分）</p>
<p>上二味。水煎服。</p>
<p>又方</p>
<p>合歡木（二錢五分）　大黃（七分）</p>
<p>上二味。水煎服。</p>
<p>治淋疾諸藥不能治者方</p>
<p>荼毗所灰一味。白湯下。</p>
<p>療淋疾痛甚者方</p>
<p>松脂　砂糖（各等分）</p>
<p>上二味為末。白湯送下。日二錢。</p>
<p>治婦人淋瀝痛甚者方</p>
<p>蕪菁葉（陰乾大）　款冬根（生溪中者佳中）　甘草（少）</p>
<p>上三味。水煎日二服。</p>
<p>又方　此方百發百中之妙劑。</p>
<p>早稻稿（細制大）　黑梗米（中）　甘草（少）</p>
<p>上三味。銼。水煎服。</p>
<p>銀杏湯　治婦人淋瀝疼痛。不可忍妙方。</p>
<p>銀杏（十個）　冰砂糖（二錢）　甘草（少）</p>
<p>上三味。水煎服即效。</p>
<p>治婦人淋瀝陰中痛甚遂至四肢厥冷者</p>
<p>生牛膝一味。水煎。而後湯成。入麝香少許。頓服妙妙。</p>

<h2>【下疳瘡】</h2>
<p>即驗丹　治疳瘡。及毒腫發下部陰股邊者。立驗。</p>
<p>輕粉（炒二錢）　角石（二錢）　大黃　黃連　黃芩（各一錢）　光明朱（五分）　土茯苓（三錢）</p>
<p>上七味。細末糊丸。椒目大。辰砂為衣。每服一分。</p>
<p>傅下疳腐爛方</p>
<p>角石（五分）　百藥煎（二分）　輕粉（一分）</p>
<p>上三味。為末。以黃蜀葵汁。和之。溫湯洗患處傅之。</p>
<p>治玉莖將落者方</p>
<p>信石末（二分）　水（一勺）</p>
<p>上二味。攪調。以鵝翎洗之。後敷膏藥。</p>
<p>洗下疳瘡方　毒氣不劇者。但此洗方妙。</p>
<p>金銀花　防風（各二錢）　薄荷　黃柏（各一錢）　甘草（五分）</p>
<p>上五味。水煎。洗患處。</p>

<h2>【痔】</h2>
<p>逐瘀湯　治痔漏疼痛。內有瘀血作疼痛。通利大小腸。取下穢物立效。兼治赤痢血痢。</p>
<p>川芎　白芷　枳殼　赤芍　陳膠　茯苓　生地　茯神　木通　甘草　五靈脂（各一錢）　桃仁　大黃（各一錢半）　生薑（三片）　蜜（三匕）</p>
<p>上十五味。水煎空心服。以利為度。</p>
<p>治痔酒膠方</p>
<p>當歸　肉桂　菟絲子　麥門（各八錢）　白朮　茯苓　紅花　生地　香附　芍藥（各四分）　甘草（二分）</p>
<p>上一劑。陳酒一升。冰糖十四錢。調和。一夜漬之。去滓服之。</p>
<p>治痔疾大腫痛奇方</p>
<p>桃仁　乳香（各一錢）　麒麟竭（三分）</p>
<p>上三味細末。和麻油塗之。</p>
<p>治瘀血痔痛一方</p>
<p>當歸　黑醜　連蕊（各五錢）</p>
<p>上三味為細末。酒送下。數日服之勿怠。</p>
<p>救痔痛疼甚難堪者方</p>
<p>青木葉（百枚許）　薄荷（十錢）</p>
<p>上二味。濃煎洗之。</p>
<p>治痔突出難愈者方</p>
<p>丁班魚三個。生水吞之。</p>
<p>治痔方</p>
<p>辰砂（少）　豬膏（二錢）</p>
<p>上二味。塗患處。</p>
<p>療痔疾方</p>
<p>蓮葉　槙葉（各二錢）　甘草（五分）</p>
<p>上三味。水煎服。</p>
<p>又方</p>
<p>海帶一味。煎汁洗腰下妙妙。</p>
<p>療痔漏脫肛。諸痔。腫痛及淋痛。</p>
<p>補中益氣湯。本方內加智母黃柏紅花水煎服。</p>
<p>治內痔下血方</p>
<p>柿（黑霜）</p>
<p>上方寸匕鹽湯下。</p>
<p>治痔痛方</p>
<p>茄莖銼。煎洗之。</p>
<p>治舊年痔瘡傅藥方</p>
<p>赤螺（三遍燒十錢）　白粉（十錢）　輕粉（四錢）　樟腦（三錢）　龍腦（一錢）　麝香（三分）</p>
<p>上六味。和麻油傅之。</p>
<p>枯痔散</p>
<p>礬石（二兩）　蟾酥（二錢）　輕粉（四錢）　砒石（一兩）　靈天蓋（四錢）</p>
<p>上五味。燒二炷香。極末。貼痔上則即落。</p>
<p>治五痔方</p>
<p>熊膽一味。水解塗之。忽愈。他方皆不及此。</p>
<p>治脹痔下血如注水者法</p>
<p>每遇更衣。取河水灌之妙妙。○此法原坐蘇沉良方。今用之神驗無比。故再出之。</p>
<p>【脫肛】</p>
<p>良薑丸　治脫肛奇方。</p>
<p>良薑　乾薑　桂枝（各一錢）　赤石脂（醋炒二錢）　粳米（五分）　甘草（二分）</p>
<p>上六味。糊丸。梧子大。或作湯用。佳。小兒益妙。</p>
<p>治脫肛奇方</p>
<p>香附子　荊芥　茯苓（各二錢）　黃蓍　大黃（各一錢）　白芷　芍藥　白朮（各七分）　人參　沉香　木香　甘草（各五分）</p>
<p>上十二味。水煎服。因毒者益妙。</p>
<p>治脫肛方</p>
<p>古革襪細末。和麻油塗之。</p>
<p>治脫肛妙方</p>
<p>泥鰍大者三五枚。同冰砂糖一兩。納一壺中。半日許。則泥鰍自死。其色必赤。而去泥鰍。則冰糖化為水。乃取其水。多塗肛門。納入之。無不納者。至妙。</p>
<p>治肛門癢不可忍者方</p>
<p>半夏末。和薑汁先洗肛門。後塗此藥。則大癢一陣。而愈。</p>
<p>治大人小兒脫肛妙方</p>
<p>胡椒（一兩）　梔子（炒）　榴皮（各五分）　五倍子（二分五釐）</p>
<p>上糊丸梧子大。日六十粒。</p>
<p>治下部癢痛如蟲齧方</p>
<p>胡粉　水銀（各等分）</p>
<p>上二味。如棗膏。調綿裹。夜臥入穀道中。試效。</p>

<h2>【遺溺】</h2>
<p>香龍散　療遺溺要方。</p>
<p>蝮蛇（一錢）　雞舌香（二分）</p>
<p>上二味細末。臨臥白湯送下。後溫酒任性。凡自七歲至十歲每服五分。自十歲至十五歲。隨年壯每增至一錢。十五歲以上。每服一錢。溫酒送下。惡酒者。白湯亦佳。不過二十日而瘥。</p>
<p>尿床奇方</p>
<p>烏骨雞屎。水飛細末一錢。溫酒臨臥用五七日驗。</p>
<p>破故紙散　治遺尿奇方。</p>
<p>破故紙一味。酒蒸七次。為散。令病者含一蜆殼許。胡麻鹽和勻服。</p>
<p>雞腸散　治遺尿奇方。</p>
<p>雞腸（一具黑霜）　牡蠣　茯苓　肉桂　桑螵蛸　龍骨（各等分）</p>
<p>上六味細末。白湯服之。又外脾俞腎俞腰眼穴灸數十壯效。</p>
<p>治小兒尿床方</p>
<p>赤小豆葉。自然汁捻之。用速效。</p>

<h2>【下部雜疾】</h2>
<p>治履瘡方</p>
<p>柿實（黑霜）　和糊塗之。</p>
<p>治小便頓閉者方</p>
<p>敗筆頭灰二匕。白湯送下。半時許。而即通。</p>
<p>療頓癃閉者奇方</p>
<p>枇杷葉（十枚）　巴豆（八分）　於久里加牟季里（五個）</p>
<p>上三味。細末。和田螺貼臍中。</p>
<p>治陰莖斷毛方</p>
<p>阿仙藥一味。極細末擦之妙。</p>
<p>土茯苓湯　療臁瘡。</p>
<p>土茯苓　櫻皮　忍冬　甘草　檞木皮（各等分）</p>
<p>上五味。水煎服。</p>

<h1>外因病</h1>

<h2>【中風】</h2>
<p>治中風初發者奇方　治偏枯卒中初發者。</p>
<p>棕櫚生葉（五錢）　桂枝（三錢）　紅花（三錢）　鶯屎（三錢）</p>
<p>上四味。黑霜為細末。溫酒送下。十四日。</p>
<p>棕葉湯　治前症初發者。凡手足麻痹者。服之妙。</p>
<p>紅花　荊芥　白姜蠶（各二錢）　棕櫚葉（五錢）</p>
<p>上四味。以水三合煮取一合半。溫服。</p>
<p>偏枯有方</p>
<p>白刀豆　白刀豆莢　久曝雨露古稿繩。</p>
<p>上三味。各別黑霜調之入八物湯煎汁中。三匕許。而患處覺痛。佳兆也。而再加香附末。一匕多驗。</p>
<p>療中風著痹方</p>
<p>鳳仙花（花實莖俱為陰乾三錢）　茯苓　半夏（各一錢）</p>
<p>上三味。以水三合。煮取二合。日服二劑。此方每歲期月日服一劑。則預防中風妙劑也。</p>

<h2>【歷節痛風】</h2>
<p>白朮湯　療痛風妙劑。</p>
<p>白朮　紫蘇　芍藥　金銀花（各八分）　葛根（三分）　荊芥　乾薑　知母　獨活　甘草（各二分）　生薑（一片）</p>
<p>上十一味。水煎服。</p>
<p>除痛解毒飲　治痛風走注。骨節疼痛。</p>
<p>羌活　木通（各一錢）　忍冬　土骨皮　大黃　防風（各七分）　甘草（二分）</p>
<p>上七味。水煎服。○圖基按治痛兼黴毒者。觀宜堂日用之良劑也。</p>
<p>療風毒疼痛甚者方</p>
<p>麻稭　青麻苧（各五十錢）　干鮭（三十錢各黑霜）</p>
<p>上三味。細末溫酒調下二三次。而立愈。</p>
<p>療風毒劇痛方</p>
<p>筍籜（十錢）</p>
<p>上銼。以水一升。酒三合。煮取七合。數服之妙。</p>
<p>治四肢疼痛難屈伸者方</p>
<p>夏枯草粗末。作大劑。以水三升。煮取一升。洗患處。或蒸之佳。</p>

<h2>【瘧】</h2>
<p>治勞瘧難截者方</p>
<p>丹水翁驅邪湯方內。加上品硫黃少許。數日連進之。則自然而截也。</p>
<p>吐瘧妙方</p>
<p>千歲蘽一味。極細末二錢許。常山細末一錢。調和。發日早晨冷水頓服。須臾而當吐乃截。</p>
<p>截瘧奇方</p>
<p>黃柏　檳榔　和常山（各二錢）　莪朮（一錢）　甘草（五分）</p>
<p>上五味。細銼。水煎。從發日前夜至曉連進。</p>
<p>截瘧一方</p>
<p>須坐羅之（二錢）　甘草（一錢）</p>
<p>上二味水煎。發日早朝頓服。無不截者。</p>
<p>截瘧丸　平穩之截方。</p>
<p>常山（細末酒浸炒透二錢）　烏梅肉（四枚）</p>
<p>上二味。研爛。丸如梧子大。白湯發朝送下。五十丸。○圖基按此方。原出醫宗必讀。世俗患瘧者。畏截方。發吐。不敢服。唯此方常山炒透。則不發吐而截也。</p>
<p>治久瘧諸藥不效方</p>
<p>豬膽一味。白湯解之。頻服神效。</p>

<h2>【痢】</h2>
<p>療痢疾一方</p>
<p>土茯苓　忍冬（各二錢）　芍藥　茯苓　黃連（各一錢五分）　甘草（少）</p>
<p>上五味。水煎服。○圖基按凡痢因於濕熱。故此方不拘寒熱。皆用之治其本也。痢藥古所未用。而頻用試效。</p>
<p>療禁口痢方</p>
<p>炒蓮肉一味。為末。每服一錢。白湯送下。</p>

<h2>【泄瀉】</h2>
<p>益中散　治感寒冷。泄瀉腹痛者。</p>
<p>白朮　茯苓　橘皮　芍藥　乾薑　甘草（各等分）</p>
<p>上六味。水煎服。</p>
<p>良薑散　治因酒毒常常泄瀉者。</p>
<p>良薑（六錢）　茴香（四錢）　甘草（二錢）</p>
<p>上三味為末。白湯飲下。</p>

<h2>【疹】</h2>
<p>羌活湯　療癮疹常發不止者。</p>
<p>羌活　前胡　人參　桔梗　甘草　枳殼　川芎　天麻　茯苓　薄荷　蟬退　白朮　生薑（各等分）</p>
<p>上十三味。水煎服。</p>

<h1>內因病</h1>

<h2>【虛勞】</h2>
<p>治勞瘵初發者方</p>
<p>蛞蝓霜一味。日服一錢。分三服。</p>
<p>下瘵蟲方</p>
<p>蜀椒　烏梅　青黛　薏苡（各等分）</p>
<p>上四味為末。丸梧子大。日用百丸。</p>
<p>疳勞丸　治疳勞初發。咳嗽盜汗黃瘦。</p>
<p>荼毗處煤（七錢）　甘草（三錢）　麝香（二分）</p>
<p>上三味糊丸。空心黃蓍湯送下。十五歲以上。每服七分。日二夜一。小少減之。</p>
<p>獺肝丸　治蟲瘕勞。</p>
<p>獺肝（陰乾二十錢）　地慄（三錢五分）　榧實（去皮二錢）　鱉甲（八分）</p>
<p>上四味。糊丸梧子大。每服三十丸。日三。白湯送下。</p>
<p>治遺精久不止盜汗口心煩熱等症方</p>
<p>枳殼　厚朴　牡蠣　山梔子　黃連　竹茹　石膏　白朮　甘草（各等分）</p>
<p>上九味。水煎服。</p>

<h2>【血證】</h2>
<p>三奇丸　治咯血吐血下血奇效。</p>
<p>黃芩　黃連（各三錢）　犀角　滑石　地黃　青黛（各一錢）</p>
<p>上六味。糊丸梧子大。三十丸。日三四度。白湯送下。</p>
<p>花蕊石散　治衄血吐血。及溜血打撲出血。血氣逆上甚者。</p>
<p>花蕊石（煆三錢）　辰砂　黃連　甘草（各八分）　龍腦（三分）</p>
<p>上五味。為末白湯送下。</p>
<p>三灰散　止吐衄崩漏諸血之聖劑。</p>
<p>蒲黃（醋炙）　棕櫚（燒存性）　亂髮（燒存性各等分）</p>
<p>上三味細末。每服一錢。童便和下。急則淡醋湯亦佳。</p>
<p>止衄妙方</p>
<p>胡粉炒黑。細末。醋服一錢即止。</p>
<p>治金瘡血不止者方</p>
<p>紫蘇葉五六月間。取之陰乾。</p>
<p>又方　治出血不止者。</p>
<p>茅穗一味。敷患處。</p>
<p>治諸血症方</p>
<p>朝鮮石榴花。陰乾細末。置舌上津液送下。</p>

<h2>【黃胖】</h2>
<p>針砂湯　療黃胖病。心下痞。或滿。行步則短氣動悸甚者。</p>
<p>桂枝　茯苓　白朮　甘草（各一錢）　針砂（七分或一錢）　人參　牡蠣（各八分）</p>
<p>上七味。以水二合。煮取一合溫服。</p>
<p>脾勞丸　療脾勞黃胖。</p>
<p>鐵粉（四兩醋炒）　乾漆（燒存性二錢）　香附子（三錢）　平胃散末（五錢）</p>
<p>上為末。蒸餅丸。梧子大。白湯送下。</p>
<p>黃胖丸　療黃胖病。</p>
<p>鐵砂（百錢）　葛根　黃連（各二十錢）　百草霜（五錢）</p>
<p>上四味為末。糊丸梧子大。每服二錢。日三。白湯送下。</p>
<p>綠礬丸　治前症。</p>
<p>蜀椒（十錢）　綠礬（燒紅）　棗肉　胡桃（去核六錢）</p>
<p>上四味為末。糊丸赤豆大。每服二十丸。日三。以平胃散煎汁送下。○圖基按此症。惡鐵氣者宜用。</p>

<h1>水飲病</h1>

<h2>【水腫】</h2>
<p>禹功丸　治一切水腫。及腳氣腫滿者。</p>
<p>商陸（四錢）　芒硝　芫花　吳茱萸（各三錢）　甘遂（二錢）</p>
<p>上五味糊丸。梧子大。飲下數十丸。</p>
<p>桃花水方　治大小便不利腫脹者。</p>
<p>桃花（十錢）　大黃（八錢）　硝石（五錢）</p>
<p>上三味。以羅牟比喜蒸取液汁。臨服入砂糖水一匕服。</p>
<p>療水腫臌脹方</p>
<p>大戟　陳皮　當歸（各四錢）　忍冬（十錢）</p>
<p>上四味。以水二升。煮取七合。一日服盡一劑。病重者。日服二劑。</p>
<p>療產後水氣方</p>
<p>瓜蔞根。一味為末。貼臍上消腫妙。</p>
<p>治產後水腫方</p>
<p>味噌霜為末。每服一匕。日三。白湯送下。</p>

<h1>瘡腫病</h1>

<h2>【癰疔】</h2>
<p>清熱拔毒飲　療癰疔熱毒劑。膿血不出者。</p>
<p>黃芩　黃連　藿香　升麻　木通　連翹（各一錢）　沉香（一錢二分）　櫻皮（二錢）</p>
<p>上八味。水煎服。</p>
<p>療癰疔及風毒腫方</p>
<p>射干　連翹　山梔子（各一錢）　木通　黃芩　白朮　忍冬（各七分）</p>
<p>上七味。水煎服。</p>
<p>治疔瘡疼痛甚者方</p>
<p>水蛭（黑霜）　鹽梅肉（黑霜各等分）</p>
<p>上為末。傅疔上。止痛甚妙。</p>

<h2>【疥癬】</h2>
<p>從革解毒湯　治疥瘡始終之要方。</p>
<p>金銀花　土茯苓（各二錢）　川芎（一錢）　莪朮　黃連（各七分）　甘草（二分）</p>
<p>上六味。水煎溫服。若有腫氣者。倍莪朮。腫在上者。倍川芎。在下者。倍莪朮黃連。○凡疥瘡不用他方。不加他藥。奏效之奇劑也。</p>
<p>調榮解毒湯　療癢瘡血熱甚。癢痛不止者。</p>
<p>山藥　當歸　川芎　紅花　蟬退　蒼朮　玄參　防風　香附　金銀花（各半兩）　大黃（二兩）</p>
<p>上十一味水煎服。</p>
<p>何首烏散　療通身瘡疥。經年不止者。</p>
<p>威靈仙　蔓荊子　何首烏　苦參（等分）</p>
<p>上四味。為細末。每服二錢。食前溫酒調服。日三服。忌發風物。</p>
<p>掌中摩散　治疥癬。</p>
<p>黃連　大黃　樟腦　山椒（各二錢）　水銀　川芎（各一錢五分）</p>
<p>上六味為末。雷丸油煉膏丸。如胡桃大。臨用蜀椒一錢。以水四合。煎三合。先洗手掌。拭之而後摩掌中數十回。藥氣盡為度。</p>
<p>止疥癬瘙癢甚者方</p>
<p>連錢草自然汁。搽患上忽痊。</p>
<p>疥癬內攻方　療疥癬諸毒。內攻腫滿者。</p>
<p>赤小豆（五錢）　商陸　反鼻　茯苓　桂枝　木瓜　檳榔　大黃（各二錢）</p>
<p>上八味。以水四合。先煮赤豆。取二合。入諸藥煮取一合。日三服。</p>
<p>療一切癬瘡方</p>
<p>巴豆　大黃　大楓子　黑胡麻（各五分）</p>
<p>上四味為末。酒和傅患處。三日。後鹽湯洗去之。</p>

<h2>【黴瘡】</h2>
<p>荊芥解毒湯　療楊梅瘡已發。未發。兼筋骨疼痛者。</p>
<p>土茯苓（五錢）　當歸　黃芩　川芎　地黃（各三錢）　荊芥（二錢）　芍藥　甘草（各五分）</p>
<p>上八味。水煎服。</p>
<p>麵粉化毒散　療遠年近日。楊梅瘡結毒難愈者。代五寶散用。</p>
<p>白麵（八錢）　大黃（四錢）　雄黃（二錢四分）　反鼻　蜈蚣　血竭（各一錢六分）　乳香　沒藥（各一錢）　或加輕粉（五分）</p>
<p>上九味為細末。煉蜜丸梧子大。日三錢。或四錢。隨症土茯苓煎汁送下。</p>
<p>反鼻化毒散　療楊梅瘡結毒諸症。</p>
<p>獨活　連翹（各二錢）　反鼻　芎藭（各三錢）　大黃　土茯苓（各四錢）</p>
<p>上六味為末。每服一錢。溫酒送下。</p>
<p>六物解毒湯　療結毒上攻。咽喉腐爛。或一身骨痛。或淋疾疼痛。</p>
<p>當歸　木瓜（各一錢）　金銀花（二錢）　芎藭（一錢）　大黃（三錢）　土茯苓（五錢）</p>
<p>上六味。以水三合。煮取一合。半溫。服。</p>

<h2>【雜瘡】</h2>
<p>吸菸散　治黴瘡結毒。淋疾痔疾。脫肛瘡瘡。風毒癰疔等之妙劑。</p>
<p>辰砂　硫黃　甘松　木香（各一錢）　石膏　沉香　硃砂　赤石脂　生地黃　當歸（各二錢）　明礬　樟腦　杉梢葉灰（各三錢）　茶（一錢）</p>
<p>上十四味。為末盛紙袋。為七貼。漬麻油。點火吸油煙。日盡一袋。勿含口中。恐損齒舌也。</p>
<p>連翹解毒飲　療大人小兒頭瘡。及臁瘡。</p>
<p>木通　防風　羌活　連翹（各一錢二分）　丁香　乳香　沉香　升麻（各一錢）　大黃　黃芩（各七分）　甘草　木香（各三分）　桑寄生（一錢）　麝香（五釐）</p>
<p>上十四味。水煎服。</p>
<p>療頭瘡方</p>
<p>松子（黑霜）</p>
<p>上一味為末。和麻油傅之。</p>
<p>療眠瘡方</p>
<p>南星　鹿角霜　黃柏　瓜蔞根（各等分）</p>
<p>上四味為末。水調和傅患處。</p>
<p>療凍瘡方</p>
<p>秦椒（夏月採陰乾）</p>
<p>上一味。和麻油傅之。</p>
<p>療湯火傷方</p>
<p>浮萍草（黑霜）</p>
<p>上一味。和麻油搽患上。</p>
<p>又方</p>
<p>人中白一味。水解傅之。</p>
<p>療灸瘡方</p>
<p>海螵蛸　明礬（各等分）</p>
<p>上二味為末。傅患上。</p>

<h1>廢痼疾</h1>

<h2>【癜風】</h2>
<p>療赤白癜風方</p>
<p>輕粉　桂枝　石硫黃（各等分）</p>
<p>上三味為細末。以布包之。摩癜上。摩了白湯洗去。</p>
<p>又方</p>
<p>桂枝　膽礬　輕粉（各等分）</p>
<p>上三味為細末。蔥汁調傅之。</p>

<h2>【癲癇】</h2>
<p>失心丸　治失心癲癇。狂症甚妙。</p>
<p>鬱金　大黃（各五分）　黃連　乾漆（各一錢）</p>
<p>上四味細末。糊丸梧子大。</p>
<p>奇效丸　治癲癇。</p>
<p>楊梅皮（三錢）　胡黃連　莪朮（各十六錢）　丁子　人參　胡椒（各五錢）　木香（十錢）　熊膽（一錢三分）</p>
<p>上八味。熊膽水和入藥末。糊丸辰砂為衣。○此方一大侯家之珍方。嘗為世命侍醫制之。遍與人以為救世之具。</p>
<p>秘傳反魂丹　主治一切癲癇。小兒內證諸疾。或瘧疾久不愈。而為瘧母。諸藥不效者。及驚風癖疾。疳蟲盡治。</p>
<p>鶴蝨　莪朮　三稜　陳皮　黃連　大黃　胡黃連（各三錢七分五釐）　雄黃　枳殼　青皮　黃芩（各三錢五分）　乳香　丁香（各一錢五釐）　甘草（減半）　牽牛　知母　熊膽（各三錢七分漬水去腥氣）　麝香（一錢二分五釐）　白丁香（少炒赤小豆百五十粒重）</p>
<p>上十九味。先十七味為末。後內麝香熊膽和勻。蕎麥麵各等分水煉丸和丸。如梧子大。辰砂為衣。○凡癲癇新發者。服此丸三十丸。不再發者易治。或雖經年不愈者。一日一發。二日一發者。服之可至百日。與之後不出五日而一發者。數十日不再發者。愈之兆也。小兒五歲以上三丸。十歲以上七丸。十五歲以上十五丸。</p>
<p>治癲癇奇劑二方</p>
<p>蓬白湯　生艾根（三錢三分米泔漬）　虎肉（酒漬一錢為末）　苦參（米泔漬曬乾炒三錢三分）　山椒（五十粒）　鷓鴣菜（一錢）　甘草（半生半炒一錢半）</p>
<p>上一劑。以水六盞。煮取三盞。露星下一宿。溫頓服。</p>
<p>次下蟲丸藥方</p>
<p>辰砂（三分）　巴豆（去皮微炒三分）　胡椒（五粒生用）　丁香（生用七分）</p>
<p>上四味細末。以芳野紙包之。前湯再煎送之下再煎之法。以水四盞煮取二盞。露一宿溫服。服藥中。禁忌房事糯米醋川鱗一切肥膩一百日。用上件藥。必下赤色蟲。為效。</p>
<p>醒心茯苓丸　治狂亂神方。</p>
<p>白茯苓（八錢）　莪朮（六錢）　沉香（上品二錢）　硃砂（四錢六分）</p>
<p>上四味。水丸梧子大。硃砂拌為衣。日用百丸。白湯送下。宜兼服黃連白虎湯。</p>

<h2>【癩病】</h2>
<p>治癩病方</p>
<p>當歸　川芎　山梔子　黃連（薑汁浸炒）　白檀　茯苓　地黃（各等分）</p>
<p>上七味一劑。入土茯苓一倍。照常水煎。但量水可用大器。○圓基按此南蠻流外科家傳方。有試效者也。蓋用諸家相傳治癩之丸方者。宜兼服此方。</p>
<p>治癩瘡潰爛方</p>
<p>大黃　蝸牛</p>
<p>上二味為膏。和麻油塗之。</p>
<p>治癩瘡愈後血色穢惡方</p>
<p>狼屎（陰乾）　人屎（陰乾）</p>
<p>上為末。糊丸。葛根為衣。每朝小便送下。男子用婦屎。婦人用男屎。</p>

<h1>婦人病</h1>

<h2>【經閉血瘕】</h2>
<p>浮石丸　治經閉。及血塊症。</p>
<p>莪朮　三稜　桃仁　大黃　浮石（各等分）</p>
<p>上五味為末糊丸。</p>
<p>治血塊方</p>
<p>芥子粉醋和敷患上。間有瞑眩者。</p>
<p>治血塊奪劑</p>
<p>芎藭（一錢）　巴豆（三分）</p>
<p>上二味為末。白湯送下。</p>
<p>治血塊奇方</p>
<p>南天燭實　海藻（各等分）</p>
<p>上二味。水煎服。或四物湯加之亦佳。</p>
<p>治經閉及血塊緩方</p>
<p>雀頭（童便制）　益母草（黑霜各七分）</p>
<p>上二味為細末。四物湯煎汁送下。日盡一劑。</p>
<p>治經閉方</p>
<p>牛蒡（四莖為薄片蒸而浸酒）　芥子粉（六錢八分）</p>
<p>上二味浸酒。三四日去滓。溫服至妙。</p>
<p>治月經將來時時腹痛方</p>
<p>牛膝　乾漆（各四錢）</p>
<p>上二味為末。生地黃汁丸梧子大。白湯送下。</p>

<h2>【崩漏帶下】</h2>
<p>治赤白帶下神方</p>
<p>能登產青魚頭。</p>
<p>上為末。白飲下。</p>
<p>又方　四物湯加劉寄奴。</p>
<p>又方　先服四物湯本方七日而後與後方。</p>
<p>白荊葉（半黑霜半存性）</p>
<p>上一味為細末。白湯送下。</p>
<p>坐藥方　治久不產。陰中隱隱如蟲齧。冷冷如風吹。或轉胞不通。或妊子不成慣墮者。</p>
<p>硫磺　桂枝　芎藭　丁子</p>
<p>上四味各研末。盛以薄絹袋。大如指。如棗。以納陰中。坐臥任意。勿急行走。日換三四度。欲溫下體之氣者主之。</p>
<p>療崩漏奇方</p>
<p>蛇苺一味。連莖葉水煎服。或隨症方中倍加用。</p>
<p>療崩漏及白帶神方</p>
<p>奉書紙　棕櫚　紅花　阿膠（各等分為霜）</p>
<p>上四味為細末。白湯送下。</p>
<p>療妊娠中雀目症方</p>
<p>四物湯中加梔子。厚朴。枳實。水煎服。</p>

<h2>【妊娠產後諸病】</h2>
<p>產前產後八物湯。隨症加味用。</p>
<p>胎動漏痛者。本方加黃芩。砂仁。</p>
<p>臨產腹痛。破漿而赤色穢物未下者。加黑姜。肉桂。產前未娩而乳汁湧出者。加黃芩。縮砂。人參。</p>
<p>產後氣血俱虛。痰火泛上眩暈者。本方合二陳湯。去芍藥。水煎服。</p>
<p>治半產後及順產後腹痛不止方</p>
<p>柚皮（陰乾）</p>
<p>上一味。水煎服。</p>
<p>治胞衣不下奇方</p>
<p>上好清酒（二合）　清水（二合）　芒硝（六錢）</p>
<p>上三味。煮減二合。頓服。</p>
<p>治胞衣不下者方</p>
<p>鐵漿一味。少許。盛杯飲之。</p>
<p>療橫產逆產難分娩者方</p>
<p>柚核一味。為末。五分或一錢。白湯送下。則腹中雷鳴。切痛。為催生之徵尤妙。</p>
<p>下產後穢物未盡者方</p>
<p>玄胡索　沉香　大黃　當歸　川芎　芍藥　桂枝（各等分）</p>
<p>上七味煎服。</p>
<p>療兒枕痛方</p>
<p>酸漿草（二錢）　莪朮（五分）</p>
<p>上二味。水煎服。</p>
<p>治產後血暈方</p>
<p>猿膽霜為末。每服一匕。日三。白湯下。</p>
<p>清魂散　主治血暈極效。</p>
<p>澤蘭　人參（直根各二錢）　荊芥（四兩）　炙甘草（八錢）　川芎（二兩）</p>
<p>上五味。細末。白湯送下。</p>
<p>蒲黃散　治產後惡露不盡。血上搶心。煩悶昏迷。或狂言。</p>
<p>乾荷葉（炙）　延胡索　牡丹皮　生地黃　甘草（炙一錢半）　蒲黃（六錢）</p>
<p>上六味。水煎服。</p>
<p>當歸散　治產後敗血。兒枕塊硬。痰喘臍腹堅脹。</p>
<p>當歸（炒）　鬼箭（去中心木）　紅花（各等分）</p>
<p>上三味。每服三錢。酒一大盞。煎七分。食前溫服。</p>
<p>治產後氣脫方</p>
<p>寒中大嘴烏一味。黑霜用之。能挽回元氣。</p>
<p>加味芎歸湯　治惡露未盡。大腹痛者試效。</p>
<p>當歸　川芎（各一錢）　牡丹皮　肉桂　桃仁　紅花　玄胡索　青皮　莪朮　三稜（各五分）</p>
<p>上十味。生薑一片。水煎服。</p>
<p>療產後口舌赤爛。不能飲食者。兼治蓐勞。咳嗽吐白沫。羸瘦尤甚者。鹿胎子霜一味。為末。溫酒送下。</p>
<p>療妊娠中及產後口中腫痛與口舌破爛方</p>
<p>升陽除濕防風湯。水煎連進用之。</p>

<h2>【乳病】</h2>
<p>婦人出乳方　乳房凝結。而乳汁難出者。服之六七日。則湧出如神。雖老女雛乳立驗。</p>
<p>露蜂房（霜十錢）　甘草（一錢）</p>
<p>上二味細末。每服五分。或一錢。白湯送下。日再服。</p>
<p>釀乳湯　治效同前。○按此方系治被風寒侵襲。而乳不出。或因氣滯而乳閉者主之。</p>
<p>黃蓍　甘草　麻黃　黃連　木通（各等分）</p>
<p>上五味細末。凡本藥用量一錢。則加入白砂糖一錢。以此類推。茄莖煎汁頻用之。</p>
<p>療一切乳病方</p>
<p>逍遙散。方中加貝母水煎服。</p>
<p>療乳核初起方</p>
<p>梓葉黑霜一味。為末白湯下。</p>
<p>療妒乳方</p>
<p>甘草一味。炒末蜜調塗痛處。</p>
<p>療乳痛方</p>
<p>乳香　沒藥　黃柏　蒲黃　甘草（各等分）</p>
<p>上五味為末。清水調搽患處立效。</p>
<p>治吹乳爛痛方</p>
<p>梭魚頭一味。黑霜塗患處立效。</p>
<p>順經湯　治乳癰。</p>
<p>紫蘇（一錢）　大黃　桂枝　檳榔　當歸　川芎　芍藥　白芷　桔梗　烏藥　枳殼（各六分）　甘草（少）</p>
<p>上十二味。水煎服。</p>
<p>治乳癰方</p>
<p>瓜蔞仁　青皮（各二錢）　皂角刺　金銀花　當歸　石膏　沒藥（各五分）　甘草（少）</p>
<p>上八味。水煎服。</p>

<h1>小兒病</h1>

<h2>【小兒雜症】</h2>
<p>乘山丸　治五疳妙方。</p>
<p>大嘴烏（去嘴爪黑霜）　苦參　藜蘆　木香　馬錢　楊梅皮　黃柏（霜等分）</p>
<p>上七味細末。糊丸麻子大。聽用。</p>
<p>橐吾散　治五疳蛔蟲。驚風食傷。直中諸症。</p>
<p>橐吾（米泔水漬一宿取出酒蒸為末五錢）　阿仙藥（二錢）　硃砂（八錢）</p>
<p>上三味為末。白湯送下。</p>
<p>久咳湯　治小兒久喘。咳嗽屬蟲者。</p>
<p>茯苓　陳皮（各一錢）　半夏　當歸　莪朮　桔梗　枳殼　瓜蔞根（各七分）　甘草（二分）</p>
<p>上九味。水煎服。有熱加柴胡。黃芩。</p>
<p>治小兒鵝口瘡方</p>
<p>密陀僧一味。水解。男子塗左足心。女子塗右足心。</p>
<p>解毒方</p>
<p>金屑丸　解食毒。及痢疾。卒中風心痛。一切急卒病。皆用之驗。</p>
<p>菊名石　硫黃　木香（各一兩）　伏龍肝（二十錢）</p>
<p>上四味為末。金箔六枚為衣。</p>
<p>解河豚魚毒方</p>
<p>牛角一味。研末。白湯送下。及解一切魚毒甚妙。</p>
<p>解章魚毒方</p>
<p>黑砂糖一味。白湯送下。</p>
<p>解竹筍毒方</p>
<p>螢（陰乾）　甘草（少）</p>
<p>上二味。水煎服。</p>
<p>治漆瘡方</p>
<p>芒硝一味。和水塗之。</p>
<p>解生漆毒方</p>
<p>貫眾　蘇葉（各等分）</p>
<p>上二味。水煎服。或以煎汁洗患處。</p>
<p>治霜雪傷方</p>
<p>香蘇散。為細末。傅患處。</p>
<p>療狂犬毒再發。至危篤者方</p>
<p>馬錢子　杏仁（各二十錢）</p>
<p>上二味。水二合。煮取一合。湯水不入者。此湯一滴下咽。則驗。</p>
<p>解粉毒方</p>
<p>防風　茄子根（各等分）</p>
<p>上二味。水煎服。</p>
<p>雜集方</p>
<p>治疣奇方</p>
<p>大麻生汁。塗患處。日數次即落。</p>
<p>救溺死神方</p>
<p>班鳥（黑霜）　一味。為末。以竹管吹鼻中。溺死腹溫氣息通者效。雖氣息不通。尻穴不開者必效。</p>
<p>療狐託人如狂亂者方</p>
<p>莽草葉　硫黃（各二錢）　甘草（一錢）</p>
<p>上三味。水煎服。日至七八劑。溫覆取汗。</p>
<p>治打撲金瘡即驗奇方</p>
<p>川骨　白朮　肉桂　黃連　大黃　桂心　當歸　黃芩　木香　人參　川芎　芍藥　良薑　甘草（各等分）</p>
<p>上十四味。調和香色炒漬。百滾湯用。再三擺用。若筋絡切斷者。加檳榔子。丁子。三分之一。</p>
<p>諸腫物潰方</p>
<p>南星　巴豆　鼠屎（各等分）</p>
<p>上三味。為膏貼瘡上。</p>
<p>斷酒方　鸕鷀屎燒灰。服方寸匕。永斷。</p>
<p>生眉毛奇方</p>
<p>酒糟一味。黑霜麻油塗。能使眉毛自生。</p>
<p>生髮膏</p>
<p>生地黃　附子　山椒（各五錢）　白蠟（五錢）</p>
<p>上四味。麻油濃煎。煉如煉膏。塗發中則自生。</p>
<p>縛血妙方　凡軍陣爭鬥預持之。則臨時止折傷金瘡出血如神。</p>
<p>反鼻（燒霜存性）　人參（各二分）　紫檀　血竭（各一錢）　鼴鼠（燒存性三分）</p>
<p>上五味。各極研末。擦疵口。又服方寸匕即止。</p>
<p>同煎藥方　治諸失血衄血最妙。</p>
<p>生地黃　續斷　人參　川芎　當歸（各等分）</p>
<p>上五味。水煎溫服。</p>
<p>疵藥方　治諸疵神效。</p>
<p>鹿茸（生末）　亂髮（霜）　柿核（末）</p>
<p>上等分。和麻油塗之。若疵口大難愈。則少加輕粉即愈。</p>
