<header data-type="book">
<h1>太素心要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>太素心照訣</h2>
<p>凡人六部，若皆得均淨調和，不絕不長，不大不小，不高不散，各歸次位，併為吉脈，便知是安樂人。若論根基、虛實、災禍，各屬本位斷之。假若如寸口脈不好，不得祖父根基。肝脈不好，不得兄弟、朋友、子孫力。腎脈不好，一生無收拾，奔波無衣食。若無病人，其脈忽然變易，必然災來禍至，病困臨身。如有一部或來或不來者，皆為鬼脈。凡有災禍過去未來者，亦依此推。若論生克旺相，禍福之期，並依六十花甲子納音斷之，又將寸關尺三部分為初中末三限，以斷其平生休咎外，年運興衰、禍福無窮，不能盡述，略舉數事以為例，在乎圓機達變之士以類而推詳。</p>

<h2>診候歌</h2>
<p>日中看相貌，燈下聽聲音，脈與聲相似，言之若吐金。</p>
<p>凡脈先取相貌，次聽聲音，本是貴人，若得伏脈必災，賤人若得貴脈，必至有災害也。</p>
<p>又　少年嫌伏弱，老病怕洪浮，男用氣為主，女用血為頭。</p>

<h2>診脈歌</h2>
<p>指下先須自息心，浮中沉里要推尋，寸關尺部分輕重，豆菽纖毫義理深。</p>

<h2>五行脈歌</h2>
<p>金形流利似明珠，木軟長條水滑濡，或大極時知是火，土形和緩濁而殊。</p>
<p>金形者，脈來指下分明，如一點明珠一般，乃是金形，肺脈也。木形者，其脈如木梢而長弦，即肝脈也。水形者，脈軟而滑濡，內外分明，即腎脈也。火形者，其脈一如放彈指下，洪而盛，似草中火發，即是心脈也。土形者，其脈來去溫然而緩，指下或似弦硬，澀澀獨而純者，是脾胃脈也。</p>

<h2>四時脈</h2>
<p>春則肝弦心脈洪，肺毛脾緩腎濡居。夏當心大脾還緩，肺短肝長滑似珠。秋則肺浮肝卻細，心勻腎弱候脾虛。冬季腎沉肝止緊，心脾俱緩細毛殊。</p>

<h2>臟腑配十時脈</h2>
<p>肺脈寅時卯大腸，辰至傳來到胃倉，巳脾心午相承接，未卻流行到小腸，申在膀胱酉在腎，戌臨焦膈亥胞當，子膽醜肝傳已遍，依前寅位復元鄉。</p>

<h2>五陽配天干</h2>
<p>浮應庚辛滑戌巳，實出壬癸甲乙弦，大洪為應丙丁見，此是五陽真妙言。</p>

<h2>五陰配地支</h2>
<p>微憂申酉沉亥子，緩主寅卯澀四季，伏逢巳午更為殃，五陰之脈為正例。</p>

<h2>斷例歌</h2>
<p>察脈先須問五行，四時相剋與相生，更將表裡分明斷，用意推尋生死名。五行表裡要相生，大抵脈全最要精，定得秋冬春夏正，自然下指見分明。</p>
<p>五行即金木水火土。凡診脈下，須存心定息，然後辨認四季、五行、旺相、逆順，七表八里，虛實輕重，相剋相生，有病無病。如得旺相之脈，主有喜氣。春三月，肝脈洪弦；夏三月，心脈微洪而弦；秋三月，肺脈毛細而弦；冬三月，腎脈沉微而弦，是四季旺相之脈。獨脾脈為四季之主，每季寄旺一十八日，春則弦而緩；夏則洪而緩；秋則毛而緩；冬則沉而緩。假如秋得濡弱而沉，即為冬脈，乃母生子也。若不得見冬脈，主少子也，即有小災危，一雲子克母，主父子不和。若見弦長，為妻剋夫。若見洪大，為夫克妻，主有災禍。若見微沉而緩，乃母生子也。仍於四季月下，更將急慢加之。</p>
<p>又　春散秋收及夏長，冬來體脈要潛藏，季月之中尋胃氣，卻將災福細推詳。</p>

<h2>五行相貌脈</h2>
<p>五色形容看，金人肺脈強，更將流利斷，逆順把心量。</p>

<h2>陰陽相反</h2>
<p>八八男兒看反因，尺中浮大寸中沉，女年七七陽中盛，此法推之不換金。</p>
<p>老人之脈，八八六十四歲，左右寸口脈浮，即是順。若見寸口脈而細者，乃反脈也，便是病。女人七七四十九歲，左右手尺中沉而細者，即是反脈也，浮則為順。</p>

<h2>老人之脈</h2>
<p>老人之病脈微遲，縱病連年尚可醫，若然洪盛來三部，命入黃泉不用疑。</p>
<p>老人須要六脈弱而微為順，有病易治，浮而洪大為反，有病難治。</p>

<h2>少年之脈</h2>
<p>少年之脈緊而剛，縱遇凶殃也不妨，只愁克弱來三部，魂靈必定入泉鄉。</p>
<p>少壯之脈，要洪大而剛，有力之脈即為順，有病易治。若見沉細克弱之脈，即為反，有難治。</p>
<p>年克月</p>
<p>年克月為災，憂驚更失財，若非遭重病，定有哭聲哀。</p>
<p>月克年</p>
<p>月克年為喜，加官更得財，子孫田宅進，百福湊門來。</p>
<p>年月日和同</p>
<p>年月日和同，官高有贈封，縱饒進小疾，不久便亨通。</p>
<p>年月生脈</p>
<p>平生無疾病，今忽有災迍，惡事須然至，加年日漸臨。</p>
<p>脈生年月</p>
<p>子孫須喜慶，自己卻沉淪，不用憂家業，須防病失神。</p>
<p>六陽脈</p>
<p>六脈純陽無造化，尋常求事至亨通，君子得之由自可，小人得此是災凶。</p>
<p>六陰脈</p>
<p>六脈純陰定靜時，一生富貴少人知，若還陽脈微微動，不是災生死勿疑。</p>

<h2>太素脈前分吉凶賦</h2>
<p>太素之脈，醫家所宗，非惟審病之可否，殆且知人之吉凶，表裡詳明獨造淵源之妙，賢愚默定深窮善惡之鐘。原夫人有富貴、貧賤，脈有陰陽、虛實，心和而氣舒，脈各應而無戾，心憂而氣喪，脈亦乖而多失，所遇既已，或異其候，自然不一，故茲太素能原始，以要終定爾。平生須推幽而驗顯，觀夫心脈洪而秀，肝脈寬以弦，脾脈緩而既大，肺浮而且圓，腎如物之墜澤，命若珠之在淵，急數得所兮，無大無小，輕重應指兮，不後不前。九位調勻，無澀濡之惑，失一生榮貴，主名利之兼全。是心為父母，脾乃田宅之宮，子孫福慶所屬肝中，肺主妻妾，腎同才庫，惟有命門獨為壽數。得力則富貴可必，失位則孤貧，有素脾傷，於膽灼之，珠玉無聞，肺制於心，定主鴛鴦再娶。大抵凡欲審脈，莫先輕易，宜接三部而審九候，象五行而分四時。木旺則春至為喜，火炎則夏來最奇。夫以秋冬之應也，亦應金水以言之。惟五土之休旺，在四季以遷移，審象而推候，既明則昏，旦應時而定氣，不失於毫釐，是知散如撒砂，則命必卑微，聚如荊棘，則心多毒害。沉伏殘忍，比和康泰，左腎如帶土也，流離堪悲。脾胃若受水也，孤單無奈，又豈若黃冠緇布，形多現於明珠，象簡金章，體多浮於華蓋，又須按尺寸而知先後，審強弱而言其盛衰，寸強而富貴可必，尺弱而貧賤可知。若論病原，請詳叔和之訣。如按宗旨，常稽思邈之言。偉賢哉！休咎雖本乎人，災祥實應於脈，深有妙理，尤宜探索，苟能深意以研窮人之禍福，須詳脈理之玄機。咸精白。</p>

<h2>太素微論</h2>
<p>原夫天地一太極，人身天地也。故五行在天地間，自天一生水，水生木，木生火，火生土，土生金，金復生水。三陰三陽所以歸根，至如太玄，以金木水火土五行相剋者，《洛書》之數也。《河圖》以相生而成，《洛書》以相剋而成，人身亦然。人稟天地之氣而生，五行之中隱於五臟，見於六脈。自腎水生肝木，木生心火，火生三焦相火，相火生脾土，脾土生肺金，金復生腎水，皆是相生而成。且如水生木，是水為母，木為子，土見水而克之，故怒而剋水，母被鬼傷，子來立救，相生、相剋、相轉無窮，此乃人身之太極也。故善脈者，切造化之功，體陰陽之理真，一動之微，窮萬化之實。雖脈六部，交應萬珠，醫家七表八里九道相攻參論，深切著明，其書數十家，至千萬氣，纖細備具，罔有惑焉。而究所用，互有得失。卒有未盡其機要，太始、太玄之外者，而不知在天地間。眾人之五行，在人之中。一人之五行，其氣有散有轉。散者，難以明，轉者易以見古之君子於脈而有得焉。平旦陽氣未盛，陰氣未散，飲食未進，六脈調勻，一舉之間而知其人平生如何，富貴貧賤，壽夭正邪，如辨黑白，如數一二，心之不難，無不明瞭。噫！此無他，知於理而已。故夫太素者，以心為立命心君也，一身之主也。以小腸為遷移，蓋智心之所知也。以膽為福，得膽乃得肝之氣，為心之母。心肝為官祿，得天者厚也。以肺為月，孛父母之相，初氣取自出焉。以大腸為妻子，得肺之氣，配為初氣也。以胃為財帛，得胃之餘氣。以脾為田宅，滋養萬物者也。以三焦為僕馬，相火受命於心，以攻之無不通者。且夫心脈屬火，性炎而促，至不滿九，用止於八。乾一、兌二、離三、震四、巽五、坎六、良七、坤八，九則又為乾矣。人遇之則為元陽之數，孤貧無比，尚何言至數之多也。心主吉凶，以定出身造化兼升論立初年氣數。其脈浮洪，指下若一，數而止，大人得之，其心高明，剛健純粹而已；小人遇之，其性輕躁，當有盲聾之疾，下元不固。二數而止，至性和悅，心事平坦，美愛敬人，人當敬之，達則伊傳，貧則曾顏，純乎君子，無毫末之私也。三數而止，主性聰明，機敏爽霽，待人接物，曲美盡其情，文章之士，忠孝之人。四數而止，主性躁暴，不能容易，持家嚴肅，與人誠信，心口相應，急直無利己損人之心，亦主聰明文章之士，終未免喜怒不常。五數而止，主聰明機變，多學多能，善說辨激，擺合縱橫，但處不定，介乎君子小人之間，常有奔兢，易於動搖，非九流之士則遊俠之人也。六數而止，主性愚頑，無智耕役荷擔之人，或男而無謀，或狠而好鬥，愚夫、愚婦也。八數而止，主性迂緩，柔和容物，納汗憐孤，念寡輕財，好德存仁弘義樂道，安貧不與人交，亦不欺人，非君子長者之士，則山林隱逸之人。若更如珠之走，明明淨淨，則又福德深厚，逍遙八極之表，出乎塵俗者也。肝脈主五十歲以前氣數，其脈沉弦。若五十而止者，須位至三公，承祖父餘澤。四十而止者，參佐之職。三十而止者，位止守令。二十而止者，雜職散官。往來如珠之清利，主風憲之權。兼肺脈滑者，主生殺之柄。若佐三部至數而極者，力扛九鼎，位鎮一方，為上將，掌判生死、建節、閫奧、割土、封侯。至數次者，亦掌百夫之印。脾胃之脈，主五十歲以後晚年氣數。其脈微緩得五十至者，為上富。三十至者，為中富。二十至，為下富。其至不及但得大體明淨，亦主康裕。浮而應者，有財無田。沉而應，主有田而財。浮沉俱應，田財雙美。若見洪緩，主受祖產。緩而澀者，主得妻財或主妻子得力。若見滑脈，主不肖破家之子，淫蕩之妻，自身鄙不能自立。乍弦乍躁，主身貧困。左寸之脈，洪而實，初得父母天地也。所得者厚，厚而壽。所失者薄，促而夭。三焦洪緩，心脈洪弦，君臣慶會，有官者遷轉，無官者奇遇。心脈洪緩，三焦洪弦，君臣失位，主有異事。六脈俱受母氣者，主得父母之愛異於他子。六脈子歸母腹，主得子母憐憫，幹蠱興家。六脈和平，兄友弟恭，長幼有序。設若其脈指下奔湧，六部俱弦，心應坎艮，愚濁頑蠢，則為軍賊，主斬手分屍，徒刑笞刺，大小不定，有官失賊，常人官訟，斯乃脈返則所主不及矣。六部之中，如一脈受伐，一經受絕，如脾部得弦長浮大者，可卜其死之日，以日時加之受克，得母氣可求功名，得子氣可求財利，在乎智者之善，推則萬無一失矣。古者王冰所述。</p>

<h2>太素定初中末主取卦行運秘訣</h2>
<p>夫太素脈者，當以輕清重濁為約。故輕清者，為陽為富貴；重濁者，為陰為貧賤。其卦自乾一、兌二、離三、震四、巽五、坎六、艮七、坤八，定三丸為則。乾者，元也。男子以肝木一候間取，合其卦以訣，初主二十五歲以前氣數；一候中取，合其封以訣。中主二十五歲以後氣數，以定功名之高下。以右關脾脈一候間取，合其卦以訣，初主二十五歲以前氣數；一候中取，合其卦以訣，主五十歲以後晚年氣數，以別鎡基之盛衰，且如診得一數則是乾卦行運，主事二十五歲。二數即當兌卦行運，主事二十五歲，余要仿此。大抵男子宜行東南震巽離坤是也，在乎收斂歸藏為得其宜。如男子宜行西北，女子且行東南，為之晦滯相背，奔馳功名反復有成敗，故男子即以心沉取為此身，以驗德性。蓋乾兌之象，其性溫和寬大，胸襟平垣。震乃口快心直，不受激觸。巽離之象，其性爽，靈臺光霽。坎艮之象，其性熱毒不常，每有利己損人之心。坤象，其性溫純，有藏疾納汙之心。依此參考，決無差殊。則如輕清之脈，以指按肉，純粹溫潤，應指分明，六脈不克，若源之長，澄淨之中如包藏珠玉，亦無斷續，縱有小疾，亦無大害，其清不濁，為人稟性中和，智識明敏，祿位高權，斯乃輕清之脈也。重濁者，應指不明如撒干砂，滿指皆是，前大後小，息數混雜，克歸本身，為人性狠，執毒愚滷，離祖成敗不一，斯乃重濁之脈也。故肥壯之人，脈宜沉細，按之至骨。瘦弱之人，脈浮而大，應指至骨，乃為合慶。女人即以肺脈沉細為出身，辨驗卦數以訣德性，定其生克，兼以心脈考，但不過反此看之，是其法也。候脈，君子苟能精微，則無施而不可矣。</p>

<h2>脾部見物色有所傷</h2>
<p>脾胃弦時蒼翠色，忽然洪大內為殃，沉滑定是黑神祟，浮澀須知白色傷。</p>
<p>凡脾得弦脈者，是吃清翠所傷，令人身熱體重，形目疼痛，腰背氣滯，寒熱之病也。其脈若洪大者，即多內傷；其脈沉細者，乃是飲水所傷；其脈若浮而澀者，白物所傷。</p>

<h2>脾部見味傷</h2>
<p>脾脈虛澀定腥膻，逆沉遲滑黏膩涎，緊短腌臢並硬物，小虛曾被冷漿纏。</p>
<p>凡脾部脈，若來虛而澀者，乃腥膻物所傷。而大滑而遲者，是中有客涎。脈短而洪緊者，是醃藏硬物所傷或即冷漿等物，此即令人頭痛體熱，四肢虛汗，骨節疼痛，應此脈也。</p>

<h2>心部</h2>
<p><u>心臟所主</u>　父母　朱雀　瘟司　公司</p>
<p>心化火主血，為父母，為帝王，其藏主少陰經，其腑小腸手太陽經，應於舌，朝於少衝穴，為井，在神為朱雀，為瘟司，位在己午方。其脈本浮洪，若來急數則為逆，逆則為憂，主父母不安，公事有驚，口舌官司，至病，主身熱口渴，飲水頭疼，睡臥不安，小便赤熱淋閉。</p>
<p><u>臟腑脈</u></p>
<p>心本浮洪而實，沉則為賊，夏旺冬絕，主人性急。</p>
<p>小腸脈本微洪而浮，夏旺冬絕，主人性巧。</p>
<p><u>五陰五陽吉凶克應之日</u>　五陽浮滑實弦洪清、五陰微沉緩澀伏濁</p>
<p>浮　主財　庚辛日</p>
<p>洪　主子孫　丙丁日</p>
<p>滑　憂病　戊己日</p>
<p>實　主喜　壬癸日</p>
<p>弦　平安　甲乙日</p>
<p>澀　手足病　辰戌醜末日</p>
<p>微　憂病　申酉日</p>
<p>緩　孝服　寅卯日</p>
<p>沉　水火厄　亥子日</p>
<p>伏　主死厄　巳午日</p>
<p>清　喜　在外二八日</p>
<p>濁　憂　在內三五七日</p>
<p>已上五陽五陰論五行生剋之理，仍於四時日辰上推求休囚、旺相以通五臟，稽及人事，余加清濁二字，以清為貴，以濁為憂。若或未明，宜自少意消息。</p>
<p><u>性情之脈</u></p>
<p>心脈頻來促，為人無始終，萬般皆好學，到老卻成空。</p>
<p>又　心脈不調勻，為人多喜嗔，平生常儉約，利己損他人。</p>
<p>又　心脈來粗大，好遊並好閒，平生多強會，不信世艱難。</p>
<p><u>智惠之脈</u></p>
<p>心脈柔和流利長，聰明智慧足文章，更看六部沉無礙，出世天然不可量。</p>
<p><u>貴人之脈</u></p>
<p>心脈分明緊秀洪，此人必定位三公，更尋三部俱無絕，至老須持權柄雄。</p>
<p>心脈若得緊秀而洪，其人必定位至三公。上貴之脈，須審三部九候，調勻不絕，有此脈，其人尊貴須至將相。若春夏得緊秀而洪則喜，秋冬得之反為災也。</p>
<p><u>四營脈</u></p>
<p>心部輕清應在神，聰明須作廟堂人，旺看甲乙無留滯，二七年來貴顯榮。</p>
<p>又　南方鈞脈要推詳，倘若浮洪是本鄉，洪大迢迢均且潤，此人必定位星郎。</p>
<p>又　寸脈洪秀息均勻，體脈相宜是貴人，春得弦洪宜在夏，轉官添職喜重新。</p>
<p><u>喜慶之脈</u></p>
<p>春得弦洪喜可裁，但看初夏喜方來，若非轉職並婚娶，即是生兒及進財。</p>
<p>又　火來金位不安全，秋來加職永無逆，三宜福德兼財惠，為官高遷在三春。</p>
<p>又　當春心脈似洪弦，卻看清明後與前，須見轉官多喜事，脈來寬緩一生賢。</p>
<p>春脈若洪而緊者，為喜，此乃春木旺相之脈，至四六月見，喜。其脈若來實緩分明，是貴人之脈也。</p>
<p>又　火土微沉到此年，其人喜慶足文才，更加洪滑時時應，出入求財必得全。</p>
<p><u>為官進退之脈</u></p>
<p>祿位先看左寸來，分明流利弼天才，沉沉寸口之君退，廚灶移來入正臺。</p>
<p><u>陰陽貴賤之脈</u></p>
<p>心脈純陽主有名，純陰一世不聰明，陽中陰見官多失，陰內陽生是貴人。</p>
<p>又　心脈純陽富貴全，純陰貧賤不堪言，陰中陽見終身富，陽內陰生禍晚年。</p>
<p>又心脈勻勻指下來，平平不去更無回，君子加官三七見，常流妻子必生災。</p>
<p>又　丙丁洪絃動至關，定知武職作文官，若是庶人來應指，必因災咎在牢關。</p>
<p><u>士人之脈</u></p>
<p>心脈來時緊又長，一生勞役費心腸，若見勻洪並秀潤，容儀體貌必文章。</p>
<p><u>貧困之脈</u></p>
<p>指下輕浮又小遲，一生運蹇不須疑，若遇浮高與沉細，要求官職定應無。</p>
<p>又　粗細紛紛似撥砂，心中無定意奸邪，勻和不見無形狀，貧賤之中定不差。</p>
<p><u>孤獨之脈</u></p>
<p>心脈頻來息不和，乖衰氣運定堪嗟，為人至老常孤獨，子死妻亡自主家。</p>
<p>又　丙丁沉來動至微，此人應是少親兒，性毒沉吟多毒害，求財常有鬼神隨。</p>
<p><u>災福之脈</u></p>
<p>水來土位定知源，夏末秋初定入泉，若遇木來侵此位，其人安樂十餘年。</p>
<p><u>先貧後富之脈</u></p>
<p>心脈分明緩細頻，先來粗澀後調勻，須然今日為貧士，爭奈他年作富人。</p>
<p><u>先富後貧之脈</u></p>
<p>洪大寬緩是富人，若求官職事徒為，忽然突起於心部，富後須貧不用疑。</p>
<p>夫心脈若得洪而大，是平和之脈。若寬緩而慢，其人無官有財。心脈突起，必主先富後貧也。</p>
<p><u>災福之脈</u></p>
<p>心脈濡弱細推之，年內須憂病厄危，若乃伏遲須見死，分明動起莫狐疑。</p>
<p>又　丙丁沉滑最堪憂，官事常常也不休，父母須防殘疾死，少年必定走他州。</p>
<p>又　丙丁濡滑更微遲，得病今年莫怨誰，若也似毛終是死，神功千萬莫來醫。</p>
<p>又　火來逢火自難猜，須有憂驚更見災，沉微決定災將至，家中人死淚雙篩。</p>
<p>又　心脈急死出公司，沉細憂加父母低，口舌臨身二七見，但防縝密在旬幾。</p>
<p><u>夏見冬脈</u></p>
<p>夏初用指不須深，脈見浮洪是本心，若還沉滑來相剋，因掩無門仔細看。</p>
<p>又　夏得心脈事無憂，若見肝脾不用愁，只怕腎來將火克，冬到還須哭墓頭。</p>
<p><u>驚憂之脈</u></p>
<p>驚憂之脈起於心，散數微浮起泛沉，相剋顛狂投指亂，便將急慢定災臨。</p>
<p>凡脈若來撞指，必主詞訟文書之事也。</p>
<p>又　面部紫黃三部數，狂言亂語若邪神，忽然實大並帶滑，險暗虛驚不悟陳。</p>
<p><u>又兼見性情</u></p>
<p>離宮滑實不均勻，性毒人兼狡詐心，必是憂官刑害至，若逢結脈定增驚。</p>
<p>又　忽然無脈少精神，須有憂疑驚更深，天性細沉多毒害，更知心腹似荊林。</p>
<p>心者，五藏之主也。其中浮而大，是旺相之脈。忽然無脈，是心中有憂疑須見精神恍惚。心脈沉細者，是不順之脈，主心不明之事兼腹中毒害如荊棘及有憂驚。</p>
<p><u>心脈順逆</u>　小腸附數七五</p>
<p>心脈喜浮洪，安知五藏通，滯沉兼滑實，時逆命須終。弦應當無病，神凝緩脈同，忽然浮澀短，邪氣入心中。弦數應風熱，微沉怯外風，實長胸膈壅，脈伏至陰沖。微怯心還恐，弦長關不從，動看三十五，丙丁問來縱。</p>

<h2>肝部</h2>
<p>臟腑所主　廟中　青龍　貴人</p>
<p>肝化木，主風，為宰相，屬臟，足厥陰經。其腑膽，是少陽經，應於眼，朝於大敦穴，為井。在神為青龍，為廟中，位在寅卯方上，其脈本弦。來數則為逆，逆則憂災，六親災病，貴人不喜，婦人喜，氣不吉。病則為眼目昏痛，轉筋攣縮，中風癱瘓，牙疼脅痛，腸風下血，身體麻木，諸風之症。</p>
<p><u>臟腑脈</u></p>
<p>肝脈弦長而實浮，則為賊，春旺秋絕，主人慈善。</p>
<p>膽脈微長而芤，春旺秋絕，主人聰明。</p>
<p><u>五陰五陽吉凶克應之脈</u></p>
<p>浮　主厄危　庚辛日</p>
<p>洪　父母進喜　丙丁日</p>
<p>滑　財祿喜　戊己日</p>
<p>實　子孫喜　壬癸日</p>
<p>弦　兄弟喜　甲乙日</p>
<p>澀　手足疾　辰戌丑未日</p>
<p>微　金石厄　申酉日</p>
<p>沉　血光憂　亥子日</p>
<p>緩　厄難　寅卯日</p>
<p>伏　子孫憂　已午日</p>
<p>清　喜在外　一七日</p>
<p>濁　憂在內　二八日</p>
<p><u>情性之脈</u></p>
<p>肝膽肝輕盈，平生好結情，氣高當性急，為主有謀成。</p>
<p>又　肝膽帶輕浮，為人多計謀，貪花並戀酒，到老越風流。</p>
<p><u>智惠之脈</u></p>
<p>肝膽實大少清聲，細緊為人定是輕，更若浮高多短澀，沉沉決定不分明。</p>
<p>又　歲星本位厥陰經，弦而自大是佳名，若見浮洪並短急，一生勇老燥無成。</p>
<p><u>貴人之脈</u></p>
<p>脈來弦緩見分明，須信為官顯大名，更得寬長常不澀，終身榮貴列公卿。</p>
<p>又　要知職位膽中看，弦緩分明便在肝，更若緩長終是貴，不為卿相即郎官。</p>
<p>肝膽之脈，當弦而長，其隨膽肝之衰盛，若春弦而寬長並四季如此者，乃肝貴之脈也。</p>
<p>又　甲乙東方號歲君，脈來弦緩潤長勻，心神美貌多才藝，三品官資是上人。</p>
<p>又　甲乙來浮動更弦，為人高貴有威權，若還三按既無斷，官高三品一生賢。</p>
<p><u>又四營脈</u></p>
<p>肝脈輕清貴且榮，堂堂相貌到公卿，數逢三八應亨泰，恭敬猶如日色明。</p>
<p>此脈只言輕清者，是貴人之脈。</p>
<p>又　甲乙本清指下浮，威權志量足機謀，弦長應指須為貴，三品忠臣與眾殊。</p>
<p>又　春來得位乃敷榮，七十二日是其因，戊己若來當位起，求財加職一番新。</p>
<p>又　木中若見水來時，為事歡忻必可知，居官轉職仍加祿，求望亨通不用疑。</p>
<p>又　少陽之位少陰中，非論才高百事通，忽然仕路忠言止，老來須是位三公。</p>
<p><u>喜慶之脈</u></p>
<p>肝脈由來本是弦，貴人喜合益偏歡，戌亥見人多利益，寅卯天恩親見還。</p>
<p>又　木宮得位是歡期，便是長條喜應時，若見火來居此位，清明節至喜相隨。</p>
<p>又　東方肝脈偶浮洪，須是憂驚不是凶，若無沉小並浮細，世敦福祿最豐隆。</p>
<p><u>貴賤之脈</u></p>
<p>要知本位當關看，弦緩分明是膽肝，診得弦長終是貴，細沉定是主孤寒。</p>
<p><u>貧賤之脈</u></p>
<p>肝家重濁性何如，狠執無情主下愚，不是脈中無貴氣，奈緣精骨及頭粗。</p>
<p><u>難為父母</u></p>
<p>肝脈弦長是本鄉，如逢浮澀拜三娘，若在陽中陽更起，定知兩父始相當。</p>
<p><u>難為妻子</u></p>
<p>甲乙太過細尋之，行拋頭子與前妻，卻有文章多學藝，中年破散走東西。</p>
<p>又　火來木位兩相宜，便是須生異姓兒，若見金來居此位，其人憂事見災危。</p>
<p><u>陰陽逆順之脈</u></p>
<p>肝脈純陽好子孫，純陰孤獨克諸親，陽中陰見傷男女，陰內陽生旺外人。</p>
<p><u>災病脈</u></p>
<p>春來木脈旺於肝，最要洪弦指下寬，若逢微澀來相剋，為災春後卻難安。</p>
<p>又　春得肝脈必為平，脾胃相逢必定生，若逢肺鬼來相剋，秋見家中動哭聲。</p>
<p>又　木宮木位忌金來，父母須防定有災，水火二位無大厄，相生相順福之媒。</p>
<p>又　木位看看動必遲，須言災病莫狐疑，頻頻舉按還無應，憂散災來骨肉離。</p>
<p>又　震藏本清卻滑芤，破財爭訟更心憂，如毛壽夭分明斷，密地新郎不到頭。</p>
<p>又　甲乙全然指下沉，心中惑惑見災臨，若逢火氣來相應，婢走奴逃不用尋。</p>
<p>又　甲乙如毛命不長，動滑來時事可傷，破財爭訟多憂險，及到中年在外鄉。</p>
<p><u>驚憂之脈</u></p>
<p>肝浮兼澀與沉遲，風病如斯定莫醫，尚有破財人不吉，骨肉分離預可知。</p>
<p>又　三部按時真是弦，須知憂怒叫連天，忽然浮大來無息，須主憂驚事倒纏。</p>
<p><u>春見肺脈</u></p>
<p>木位當生不是金，金來侵位卻沉吟，妻兒破散財無主，田產拋離枉費心。</p>
<p><u>夏秋見肝脈</u></p>
<p>夏見木位即無疑，金來剋木哭妻兒，木見木宮當富應喜，但言三六九方知。</p>
<p><u>肝脈逆順</u>　膽附數六七</p>
<p>肝脈應春弦，長長細可憐，短微浮澀見，金剋木難全。洪大旬中愈，微沉滑命延，緩時憂胃冷，弦數主筋攣。浮實雙瞳赤，因風澀伏纏，滑時連膽濁，頭痛有風誕。微緩輕虛散，生花暗視難，動看四十二，甲乙就中扳。</p>

<h2>腎部</h2>
<p><u>腎臟所主</u>　玄武　廚庫　驛馬　財帛</p>
<p>腎化水，主為烈女，其藏足少陰經，其腑膀胱足太陽，應於耳，朝於湧泉穴，為井，在神為玄武，泉神位在壬癸方。其脈本沉而滑，若來弦急即為逆，逆則為悲，主沉弱失⿰日冗，人死財散，六畜驚憂。其病主身寒足冷，面黧腹脹，腎虛腎風，陰痛齒痛，小便不通，寤而不寐，氣滯腰痛，小便淋瀝，陰痿作脹，奔豚腹滿，消渴不止，小便尿血。</p>

<h2>臟腑脈</h2>
<p>腎本沉細而實，緩則為賊，冬旺季絕，主人好色。膀胱本沉微而長弱，主人多智惠，冬旺季絕。</p>
<p><u>五陰五陽吉凶克應之期</u></p>
<p>浮　子孫喜　庚辛日</p>
<p>洪　財祿　丙丁日</p>
<p>滑　財喜　戊己日</p>
<p>實　失脫　壬癸日</p>
<p>弦　父母喜　甲乙日</p>
<p>澀　破財　辰戌丑未日</p>
<p>微　水厄　申酉日</p>
<p>沉　主驚恐　亥子日</p>
<p>緩　子憂憂　寅卯日</p>
<p>伏　子孫憂　巳午日</p>
<p>清　喜在外　一五七日</p>
<p>濁　憂在內　六八日</p>
<p><u>性情之脈</u></p>
<p>腎脈微而細，生來多好淫，貪杯能樂器，難放戀花心。</p>
<p><u>智惠之脈</u></p>
<p>主智看來是水鄉，宏才大略有文章，二儀尺寸來相應，遲緩高昂一例詳。</p>
<p>夫看心脈柔而和，分明流利相應，更看腎脈流利無滯，此人有大惠。</p>
<p><u>貴人之脈</u></p>
<p>北方坎屬辰星位，脈體迢迢似筯頭，十萬兵權為上將，名標青史定封候。</p>
<p>又　北辰若得沉且長，時來沉滑必軒昂，非惟壽算兼才智，佐國忠臣不比常。</p>
<p>凡腎脈常要沉滑而長，要得此脈，才主多智，須為佐國忠。若高而大乃下等人，定於季月有災。</p>
<p>又　羅候要向腎中尋，著骨方來緊大沉，眼大赤黃顴頰厚，多謀足計帶黃金。</p>
<p>又　尺中隱隱潤兼長，福壽榮華安可當，若教更得寸關並，不為將相即侯王。</p>
<p>又　腎部輕清智巧多，聰明接物與人和，清聲調暢無疑滯，六六相逢貴奈何。</p>
<p><u>男女貴脈</u></p>
<p>腎脈頻來指下勻，少年仕路作官人，若逢女子夫人巧，定生二子盡超群。</p>
<p><u>喜慶之脈</u></p>
<p>冬見腎脈是本位，金來和合更無妨，頻頻數應微生福，水至天然達帝鄉。</p>
<p>又　木來水位喜為先，水來扶木兩相連，望信只來三五至，一陽生復轉官遷。</p>
<p>又　腎脈經冬弦更長，一生榮貴壽高強，忽然緩緩來相應，求財何用作經商。</p>
<p>又　金水相逢是貴人，木如相訪喜來春，心須應貴成財物，榮身得祿兩場新。</p>
<p>又　元氣沉微動滑時，為官必定喜遷移，須臾心部寬洪應，用意消停仔細推。</p>
<p>元臟之氣，真元之本，其脈常滑。加之微動而滑者，有喜。若似江水，須見四季，有不測之災。一云有如江水源流，乃轉宮添喜之脈。</p>
<p>又　沉得分明動又微，遷官遷職事須期，忽然心脈洪弦並，佇看前程准有為。</p>
<p>又　細微通滑利通津，定是高遷壽本春，寸心莫嫌洪緊並，須知發祿在邊巡。</p>
<p>細微指下滯，更加寸脈洪緊，發祿在本月及本春。得洪弦，只主來年有喜。若虛散，主來年有災。</p>
<p>又　遷移須要水中親，交易之中更得成，若遇醜寅並本位，此時財谷有豐登。</p>
<p>又　收拾金頭頻喜夢，金來此位亦相生，此是人定添壽福，財多萬位事雙成。</p>
<p><u>得女人財</u></p>
<p>尺脈沉微緩，分明似往來，忽然克年月，須得女人財。</p>
<p><u>富貴之脈</u></p>
<p>北方之脈來滑沉，指下來明潤帶深，此是人間長壽脈，須知多壽足資金。</p>
<p><u>士人之脈</u></p>
<p>壬癸弦長動更柔，為人秀氣好風流，卻有文章並道藝，奈何修學不成休。</p>
<p><u>主妻好惡之脈</u></p>
<p>腎脈純陽妻位正，純陰不用𡚳媒人，陰中陽見因妻富，陽內生陰有外情。</p>
<p><u>貧賤之脈</u></p>
<p>腎家重濁最無情，少智多愚語笑輕，此部若無清一點，平生那得見榮身。</p>
<p><u>竊盜之脈</u></p>
<p>尺部陰沉來往輕，並加心脈不分明，此人貧後多偷物，至老常招鳥夜名。</p>
<p><u>為官災禍</u></p>
<p>壬癸迢迢指下寬，眼前見任是郎官，只愁數短來無位，定知難得百年歡。</p>
<p><u>災禍之脈</u></p>
<p>水位時人數應期，連枷下獄定相隨，莫教土位來相剋，此脈多因作是非。</p>
<p>又　最忌於中三不來，伏遲三按冷如灰，獄訟此生難解釋，戊己教君退大財。</p>
<p>又　壬癸之中怕伏沉，動澀來時病要侵，若見緩時公事發，浮時宅第火將臨。</p>
<p>又　壬癸如逢太過時，才到中年病莫疑，若見細沉多巧性，常流何事有三妻。</p>
<p>又　三冬腎脈要潛藏，指下沉沉滑不忙，若被脾家侵奪位，要宜仔細定災殃。</p>
<p>又　來時沉澀去時微，此至平生疾病拘，更若沉中加動促，其人難壽四旬余。</p>
<p>又　根源伏遲無脈持，逡巡便是死相隨，若逢不及並數短，得病中年不用醫。</p>
<p>又　泉鬼偏宜腎里藏，白膿瘟血不堪當，切忌澀沉常不見，患人漸次入泉鄉。</p>
<p><u>冬見腎脈</u></p>
<p>冬見腎脈最相宜，若見脾來病者悲，肝脈後來侵此位，相宜孫子去尋醫。</p>
<p>腎脈逆順　膀胱　附數六七　三焦同</p>
<p>腎脈沉兼滑，隨時臟腑和，太過仍緩散，有疾奈之何。浮澀虛邪作，芤弦數實疴，大洪浮脈起，須病亦無多。滑散兼無柰，虛煩實脈差，膀胱因甚熱，實大見迍磨。浮滯應虛久，腰疼夢泄多，動時看六七，壬癸問前歌。</p>

<h1>卷下</h1>

<h2>肺部</h2>
<p><u>肺臟之脈所主</u></p>
<p>肺化金，主氣，為尚書，為妻，為外祖，屬臟於太陰經。其腑大腸手陽明經，應於鼻，朝於少商穴，為井，在神為白虎，位在戌乾方。其脈本浮細而澀，若來太數則為逆，又則為憂。男主妻災，女主夫災，外祖不安，白虎作驚，孝服之事。病主肺熱痰嗽，身熱鼻塞，肺風氣喘，嘔血失聲，面浮空癢，皮膚燥澀，息奔肺癰。</p>
<p><u>性情之肺</u></p>
<p>肺本緊大而長，洪則為賊，秋旺冬絕，主人多淫。</p>
<p>大腸本微緊而長，秋旺夏絕，主人性氣急。</p>
<p><u>五陰五陽吉凶克應之日</u></p>
<p>浮（金）　主財喜　庚辛日</p>
<p>洪　火厄　丙丁日</p>
<p>滑（水）　主子孫　戊己日</p>
<p>實　客位喜　壬癸日</p>
<p>弦（木）　主驚恐　甲乙日</p>
<p>澀　小口喜　辰戌丑未日</p>
<p>微（水）　手足憂　申酉日</p>
<p>沉　火光病　亥子日</p>
<p>緩（土）　災憂　寅卯日</p>
<p>濁　憂在內　四五日</p>
<p><u>性情之肺</u></p>
<p>肺緩多賓客，常言濟苦貧，為人多節儉，損己利他人。</p>
<p>又　肺脈沉不滯，處世尚清閒，不為僧與道，終是樂溪山。</p>
<p>又　肺脈沉而細，稟性實溫柔，為人多驚恐，空懷妄想求。</p>
<p>又　大腸勻動指下弦，心行公正壽偏延，指下浮高多強會，聖賢千載不虛傳。</p>
<p>又　太白星位正西方，指下浮洪動體長，為事平生多猛躁，方知心性是豺狼。</p>
<p>又　庚辛之脈見微沉，為人無信只貪淫，莫信見人多笑語，恨無門入取人心。</p>
<p><u>早年及第之脈</u></p>
<p>登科須要脈輕浮，沉實調勻不早榮，緩細分明無數大，佇看金榜報佳名。</p>
<p>又　三臺華蓋要須微，浮短澀輕又帶虛，五十動中無實大，文章高折掛枝歸。</p>
<p>肺者，華蓋也，入水而浮，脈得浮而澀，是旺相之脈。仍得指下輕浮得所，再三按之，無實大之脈，方得登甲及第。如沉實而大，乃常脈也。一云：指下輕浮事不虛，更若再無沉實大，文章高折桂花枝。</p>
<p><u>貴人之脈</u></p>
<p>太白金星位正西，脈來浮澀不須疑，中間秀潤如和順，刑獄兵權甚有規。</p>
<p>又　肺部輕清號秀才，皮膚潤澤美恢諧，看看四九名方顯，武略功成踏玉階。</p>
<p><u>喜慶之脈</u></p>
<p>金脈當秋動滑時，官資必定喜遷移，細看若見強長者，財道同隆喜可知。</p>
<p><u>脈見喜</u></p>
<p>肺宮原本是妻宮，外祖亡家親不同，浮緩輕輕皆應指，庚申月主夜生人。</p>
<p><u>陰陽富貴貧賤</u></p>
<p>肺脈純陽人宅旺，純陰必定是貧人，陰中陽見貧中富，陽內生有貴卻貧。</p>
<p><u>貧賤之脈</u></p>
<p>庚辛部內見弦長，心性多游出外鄉，數見微微當緩小，離親棄婦逐時光。</p>
<p>庚辛之部見弦長，少小將身出外鄉，縱然不出他鄉去，也是離鄉背父娘。</p>
<p>又　肺脈浮來又不浮，男為蕩子女孤蘇，縱然得使成夫婦，必須離祖外鄉居。</p>
<p><u>災福之脈</u></p>
<p>秋來木至有災頻，火來憂事亂紛紛，更加金有妻宮喜，喜中深喜喜無門。</p>
<p>又　秋來當位見金時，加官遷職運相隨，莫教金受火來克，不見青天也火期。</p>
<p>又　肺脈分明見澀濡，若當春到禍來居，忽然自在秋冬得，須至遷官慶有餘。</p>
<p>又　肺脈常常仔細推，若還洪大定災厄，更看本部俱浮緩，此是賢豪富貴兒。</p>
<p><u>災禍之脈</u></p>
<p>庚辛長怕並緩弱，非論多病及多迍，洪緊來時須病少，定知火日到黃泉。</p>
<p>又　秋來微澀肺家強，脈見浮洪是死鄉，關內得知須緩緩，更憂弦緊失家鄉。</p>
<p>又　肺脈白虎不堪云，食啖居堂本是迍，最忌丙丁來聽哭，戌乾振海不驚人。</p>
<p>又　火土微沉到此年，細數須知命入泉，若遇大雪並小雪，聖神工巧也難全。</p>
<p>又　秋得肺脈忽來傳，脾胃相生不用煎，只怕心來無剪伐，夏來棺槨里頭眠。</p>
<p><u>遷配之脈</u></p>
<p>肺脈逢來實並弦，性多剛氣使人嫌，滑微清緩精詳察，刑徒之脈莫流傳。</p>
<p>又　庚辛動滑兩頭虛，來不輕浮只緩微，再三舉按都無應，定是芳年已被徒。</p>
<p><u>肺臟逆順</u>　大腸附數五六</p>
<p>肺臟脈輕浮，平和澀短憂，大洪弦曰反，有病一場愁。沉滑虛還愈，阿阿緩不憂，細弦長更緊，邪退亦無憂。浮實心應燥，便中澀未收，滑來尋實大，涎唾不宜秋。沉緊細且滑，勞筋氣轉抽，定看三十動，庚與六年求。</p>

<h2>脾部</h2>
<p><u>脾臟所主</u>　勾陳　螣蛇　男女　產業　土地　土瘟　土神</p>
<p>脾化土，主為大夫，主男女，屬臟足太陰經，其腑胃足陽明經，應於口，朝於隱白穴，為井，在神為勾陳，螣蛇位，在乙辰巽方。其脈本緩，若來數大則為逆，逆則為憂，主土地瘟毒。土神入宅作災，男子不安。病主脹滿泄瀉，嘔吐酸水，脾胃虛弱，不能飲食，痞塊氣痛，口臭翻胃，齒腫牙宣，多食不飽，四肢不舉，癰毒瘡腫，腸風下血。</p>
<p><u>臟腑脈</u></p>
<p>脾本緩而長，嗔恚則傷胃，主人好善。</p>
<p>胃本緩而長，憂愁則傷心，主人機變。</p>
<p>正胃脈本緩而洪，主人聰明好學。</p>
<p>胃本緩大而伏，飢餓勞倦則傷脾，主人好閒。</p>
<p>胃本緩大而數，弱則賊，季旺秋絕，主人重厚。</p>
<p>胃本沉緩而實，在命門，主精，與腎同，性劣。</p>
<p>胃本緩而沉，久坐濕地則傷胃，主人輕忽。</p>
<p><u>五陰五陽吉凶克應</u></p>
<p>浮　有財喜　庚辛日</p>
<p>洪　子孫喜　丙丁日</p>
<p>滑　財祿主喜　戊己日</p>
<p>實　兄弟喜　壬癸日</p>
<p>弦　自身憂厄　甲乙日</p>
<p>微　手足憂　申酉日</p>
<p>沉　火炎病　亥子日</p>
<p>緩　災憂　寅卯日</p>
<p>澀　陰子憂　辰戌丑未日</p>
<p>伏　子孫憂　巳午日</p>
<p>清　喜在外　五七九日</p>
<p>濁　憂在內　四六八日</p>
<p><u>性情之脈</u></p>
<p>脾脈寬而大，須為尊重人，好色貪頑類，更好事精神。</p>
<p><u>智惠之脈</u></p>
<p>戊己緩澀指中寬，小大非同仔細看，心下為人多智惠，文章須有不為官。</p>
<p><u>貴人之脈</u></p>
<p>中宮脾脈要推詳，診時洪緊又兼長，塞外若不為軍王，中原定作紫衣郎。</p>
<p>又　脾脈平平撞指來，為人高貴有文才，如逢三按俱無絕，官遷名位震天雷。</p>
<p>又　脾脈輕輕遠慮長，信誠無謅貌堂堂，只看五數皆成就，富貴聲名定遠揚。</p>
<p>此脈輕清者，主貴，端厚誠信之人也。</p>
<p>又　脾脈寬緩好情懷，撞指心田不可猜，大小浮沉俱緩緩，位高官顯碧雲才。</p>
<p>脾者，土也，每季寄旺一十八日。其脈寬緩，乃脾土旺相之脈，有喜慶。若來撞指顛狂，主作事多虛少實，心下有不可猜之事。大小浮緩，此得時旺相之脈，主有財智，須極品官也，主情懷寬厚，立性嚴重。</p>
<p>又　財祿還須向土宮，若緣不克產財豐，更加息數無虧穴，富貴英賢人所宗。</p>
<p>又　脾脈看時寬且緩，為人度量足清才，忽然大小浮沉等，位入高官不用猜。</p>
<p><u>貴賤之脈</u></p>
<p>指下伏微事可嗟，一生貧困事無涯，勻長指下兼輕滑，為官極品佐皇家。</p>
<p><u>喜慶之脈</u></p>
<p>土運逢金氣更寬，縱然無詔亦加官，脈中若得逢浮滑，財帛徐徐儘自寬。</p>
<p>又　脾宮產業更加寬，緩緩輕輕不用占，戊己男宮須見喜，丙丁進契亦無錢。</p>
<p><u>脈見福</u></p>
<p>中央之脈號為脾，須辨輕清及緩遲，若得浮長弦更大，此人衣祿主魁肥。</p>
<p>一云：更若脈來朝於寸口，為人能食必魁肥。</p>
<p><u>春見脾脈</u></p>
<p>春來得位乃敷榮，七十二日時其因，戊己若來金位起，求財加職一番新。</p>
<p><u>濁富之脈</u></p>
<p>指下輕浮伏短沉，生來慳吝畜多金，忽然又澀連沉細，定知邪侈與貧淫。</p>
<p>又　脾家重濁主風狂，無信欺人命不長，縱使左心清應指，也須中富不賢良。</p>
<p>此脈只言重濁。</p>
<p><u>貧賤之脈</u></p>
<p>戊己太過細尋之，少年繞路走東西，九流之內非豪貴，常人見此必雙妻。</p>
<p>一云：若不九流三教內，常人見此必雙妻。</p>
<p>又　戊己不及動更徐，定是離鄉別處居，若見弦時必有病，平生無業在詩書。</p>
<p>又　戊己不及動微微，遇貴中年喜並移，若見弦時主痼疾，讀書有祿必須遲。</p>
<p>又　戊己芤時更似浮，言語無憑又且粗，切骨動來隨指至，一生至死作奴夫。</p>
<p><u>脈見得失</u></p>
<p>脾脈純陽求事快，尋常求事至難通，陰中陽見無心得，陽內生陰得又空。</p>
<p><u>脾脈見驚</u></p>
<p>中央本蒙土宮神，掘井須因發此迍，甲乙病人連伯進，腫頭凸腹減精神。</p>
<p><u>脾脈逆順</u>　胃附數四七</p>
<p>脾臟脈宜輕，依依大緩平，反如弦緊急，長憂命必傾。浮短終安愈，洪長病亦醒，沉弱邪不反，終久得安寧。洪實中消水，微浮客熱並，緊長脾隱隱，實大困心情。滑主熱皮躁，牙宣口又膻，動時看二十，戊己閤中營。</p>

<h2>命門</h2>
<p><u>命門所主</u>　廚司　司命</p>
<p>命門為相火，主僕馬，屬臟經，其腑三焦，經應於耳，朝於穴，在神為廚司、司命。其脈緩，若來數則逆，逆則為憂，主官事失脫，貴人不喜，遷移有失，廚司大驚，司命大禍，小人不得力。病主小便赤濁，大便閉結，糞後出紅，脫肛痔漏，腸風下血，腰腳痠疼，左右二尺俱在下焦，所主疾病大同小異。</p>
<p><u>性情之脈</u></p>
<p>命門本沉實而微，主人多壽好歡樂。</p>
<p>三焦本沉細而微，洪主人多食不足。</p>
<p><u>奴僕好惡之脈</u></p>
<p>命脈純陽奴僕好，純陰一個也難留。</p>
<p>陰中陽見因他富，陽內生陰見物偷。</p>
<p>二尺同斷類。</p>
<p><u>貴人之脈</u></p>
<p>左右分明寬更長，時來沉滑必高昂。</p>
<p>須知上壽居高位，佐國忠臣不顯常。</p>
<p><u>吉慶之脈</u></p>
<p>左右須看兩尺當，福神更喜福無雙。</p>
<p>細看紅緊心流利，剋日須知進祿鄉。</p>
<p>夫腎北方水，澄則智惠生而喜至。公卿者，脈見於寸口。在私者，脈見於雙。尺寸俱洪而緊者，月中遇貴人。見喜脈虛散者，有不測之災。</p>
<p><u>富壽之脈</u></p>
<p>尺脈須當仔細尋，尺中三按忽然沉。</p>
<p>此為壽考何勞問，妙決須知不換金。</p>
<p><u>陰陽貴賤之脈</u></p>
<p>兩腎純陽是小人，純陰必定是官身。</p>
<p>陰中陽見加官職，陽內陰生定是軍。</p>
<p><u>災福之脈</u></p>
<p>腎與命門寄尺中，診時須要定災凶。</p>
<p>忽然浮者陽來吉，長數見之命必終。</p>
<p><u>不宜妻妾</u></p>
<p>左右尺來頻更芤，與年相剋不和柔。</p>
<p>須知到老無妻妾，獨守空房淚暗流。</p>
<p><u>不宜男女</u></p>
<p>左右尺中滯又微，更加脈氣又乖衰。</p>
<p>須知不利親男女，必是因他外姓兒。</p>
<p><u>壽原善惡之脈</u></p>
<p>腎與命門為類脈，行年相剋內消息（凡定善惡壽終，但看壽與命門脈應指一同，又與行年相合，即斷其人生死如下文。）沉細定是安居終，浮滑須知主富絕。短伏必因沉溺水，濡長終被虎狼傷。結沉自己並他害，澀滯須知打僕殃。緊數但看遭重病，蹇牢飢凍不空揚。忽然短代並來滯，他日須當移市場。</p>
<p><u>上以下並論尺脈</u></p>

<h2>雜斷類</h2>
<p><u>七表脈見吉凶</u></p>
<p>浮脈</p>
<p>三部脈俱浮，胸高膽氣粗。</p>
<p>易招非橫事，難得壽長途。</p>
<p>芤脈</p>
<p>芤離鄉少居，名貴本無官。</p>
<p>別處成產業，陰人絕似看。</p>
<p>滑脈</p>
<p>滑主人多智，邊庭立大功。</p>
<p>不然為寇盜，女傲遇逋窮。</p>
<p>實脈</p>
<p>實見清高節，謙慈好濟窮。</p>
<p>不求榮進業，女弱乏良人。</p>
<p>弦脈</p>
<p>三部脈俱弦，將虛作實看。</p>
<p>若非屠劊者，疑是病風顛。</p>
<p>緊脈</p>
<p>緊為人好勝，先貴有閒居。</p>
<p>富末莊園蔭，相看異里同。</p>
<p>洪脈</p>
<p>洪先人驟富，往得他人財。</p>
<p>妄說門庭大，婚姻不用媒。</p>
<p><u>八里脈見吉凶</u></p>
<p>微脈</p>
<p>三部脈俱微，終身少嗣兒。</p>
<p>可為僧與道，外子已榮枝。</p>
<p>沉脈</p>
<p>三部脈俱沉，兒無女眾臨。</p>
<p>都宜求側室，方免晚猿吟。</p>
<p>緩脈</p>
<p>緩須為進士，官高立大功。</p>
<p>不止年齡永，要仍重誥封。</p>
<p>澀脈</p>
<p>澀須家富貴，人富作偷兒。</p>
<p>平生多拗性，宿疾更相隨。</p>
<p>遲脈</p>
<p>遲為人性慢，處世好奢華。</p>
<p>只恐年齡促，難得長主家。</p>
<p>伏脈</p>
<p>伏主人尊重，多財卻少兒。</p>
<p>須然衣食足，爭奈死來期。</p>
<p>濡脈</p>
<p>濡脈身卻貴，克子及頭妻。</p>
<p>自主成家業，終身養外兒。</p>
<p>弱脈</p>
<p>弱脈人多順，高明智不高。</p>
<p>壽元尤可永，勞業又何勞。</p>
<p><u>貴賤應形之脈</u></p>
<p>有骨如無骨，纖纖十指長，脈看三部秀，必定是候王。骨軟皮膚滑，紅溫更潤亮，脈長當緩細，榮貴顯公堂。兩手無疵黑，看此臂如囊，脈長無滯礙，富貴足倉廂。</p>
<p>兩手看還粗，脈及無室居，此人須不賤，爭奈是愚夫。骨粗皮肉澀，指下冷如冰，氣急脈洪大，終為貧賤稱。</p>
<p><u>性情之脈</u></p>
<p>三部脈分明，為人多潔清。智多並巧性，為事實公平。</p>
<p>又　三部脈頻滯，為人性偏粗。所謀多好勝，處事與人殊。</p>
<p>又　三部脈流利，為人智惠多。不知耽酒色，接物與人和。</p>
<p>又　脈與性相宜，尊卑各異推。性急脈還急，性慢脈還遲。</p>
<p>又　性要終身懶，沉兼作事迷。均勻是君子，緊數是男兒。</p>
<p><u>貴人之脈</u></p>
<p>脈來寬緩更逢春，不是賢人必貴人。</p>
<p>若更洪弦來不滯，須知超顯異群論。</p>
<p>又　三部勻勻總亦同，此名豪富勢如雄，兩關溢大上朝寸，應是高官金紫封。</p>
<p><u>定官職高下</u></p>
<p>要知職位少陽看，少陰不應用心觀。</p>
<p>少年金榜登高第，至老人高作者官。</p>
<p>又　厥陰指下盡來長，少陰之部亦如常，緊於辰戌寬洪至，中年必定主朝堂。</p>
<p><u>福德之脈</u></p>
<p>息數朝來不改常，一生沉重位高強。</p>
<p>診時舉動藏珠伏，自有洪名滿世香。</p>
<p>夫沉而隱不絕，分明無澀滯，更看六部勻和相應，其脈安然如珠在水，此人尊重兼有聲名，出人表也。</p>
<p>又　脈見分明是捻珠，寸關尺部與常珠，停勻流利知為福，血氣分明仔細推。</p>
<p><u>僧道之脈</u></p>
<p>脈見分明入水珠，自然清淨降神符。</p>
<p>更看六脈勻和動，福廕鄉閭與眾珠。</p>
<p><u>得橫人財</u></p>
<p>一息寬調緩細勻，更加旺相氣扶身。</p>
<p>此人須得橫財宅，主起家庭慶有餘。</p>
<p><u>六脈見災病</u></p>
<p>六脈平常指下勻，微洪大遇病中寬。</p>
<p>忽然瘟也多洪盛，勞憂魂夢鬼神歡。</p>
<p>又　浮沉相逆脈交加，脫卻紅衣著布衣，禍不單行猶有福，災臨門戶患無涯。</p>
<p><u>三部陰陽見災福</u></p>
<p>三部陰陽指下同，陰衰陽盛見高官。</p>
<p>忽然陰在心中旺，才破官符事萬般。</p>
<p>又　三部忽逢動散微，陰陽俱絕見災危，若也寬洪微似細，應移入口進遷移。</p>
<p>又　秋得浮洪冬緩微，還因前得事無疑，大抵災時緣短促，福來三部潤勻齊。</p>
<p><u>三部見災害</u></p>
<p>三部太過與勻長，不見錢財見血光。</p>
<p>怪夢虛驚多不定，分明指下細推詳。</p>
<p><u>三部見吉凶</u></p>
<p>三部浮洪實指粗，更無旺相氣相扶，若非軍率並屠劊，必是持刀打劫夫。</p>
<p><u>肝脾災福之脈</u></p>
<p>陽在肝脾樂一生，純陰無事也相爭。</p>
<p>陰中陽見仍長命，陽內生陰壽不亨。</p>
<p><u>浮滑實弦洪</u>　（五陽脈見災福）</p>
<p>心主財兮肝必厄，脾肺財來多喜吉。</p>
<p>腎浮子孫喜氣臨，此是臟腑之浮脈。</p>
<p>心脈憂病脾得財，肺喜子孫肝祿位。</p>
<p>腎滑為財喜亦然，此是滑中之大義。</p>
<p>心肝脈實子孫喜，肝喜脾逢憂兄弟。</p>
<p>腎實失脫卻為憂，此是實中之大例。</p>
<p>洪見心脾旺子孫，肝逢此脈慶雙親。</p>
<p>腎部如逢財祿旺，肺家遇此定災臨。</p>
<p>心脈弦時只自然，肺脾遇此必憂煎。</p>
<p>肝部逢斯兄弟喜，腎主雙親喜見弦。</p>
<p><u>微沉緩澀伏</u>　（五陰脈見災福）</p>
<p>心脈微時主悶憂，肝為身病未痊瘳。</p>
<p>脾為手足憂還至，腎厄相從水澤求。</p>
<p>心沉須憂水火厄，肝經不足子孫災。</p>
<p>脾應大光諸惡病，腎至憂疑驚亦來。</p>
<p>心緩須防憂孝服，肝經不測競生災。</p>
<p>肺病災憂仍防失，脾則生災腎及孫。</p>
<p>心脾澀逢手足憂，脾忌厄忘災孝多。</p>
<p>肝中若逢陰小去，腎家財破奈如何。</p>
<p>心肺伏逢俱憂死，肝家伏進子孫兼。</p>
<p>脾逢厄及子孫進，腎伏前逢主憂煎。</p>
<p><u>貧賤之脈</u></p>
<p>大體三關短伏長，來時或緊去時長。</p>
<p>平生語急並身弱，貧困何年是顯光。</p>
<p><u>左右寸脈不宜父母</u></p>
<p>左右陽饒陰似絕，早年母死不須論。</p>
<p>寸浮洪緊頻來促，幼歲終看父不存。</p>
<p><u>左右關脈不宜兄弟</u></p>
<p>關脈頻來指下弦，更加息數不調勻。</p>
<p>須知獨立無兄弟，縱有相看是外人。</p>
<p><u>脈見六神來式</u></p>
<p>火信金財木喜情，土長田宅短墳林。</p>
<p>如逢喜合知成就，水病官司惡見刑。</p>
<p>又　火信朱雀虎兼才，土螣田宅短勾陳，如逢喜合青龍位，玄武官司病見刑。</p>
<p>火主信，其脈燥，其神為朱雀。金主財，其脈浮澀，其神為白虎。土脈長，主田地，其神為螣蛇。脈短主墳林，其神為勾陳。木主喜，其脈和平，其神為青龍水，主官訟惡事。其脈散沉，其神為玄武，凡脈先看寸口，以合五行，次取尺脈要秀。若得此等之脈，所用有成，如五行不相應，尺脈有克，所用無成，要六脈勻和，合五行相生為吉。若六脈燥疾為禍，亦論六神有克，為災害。</p>
<p><u>五臟歌</u></p>
<p>青龍若動榮歡至，若見腎脈喜進看（二字齊成），朱雀文書占口舌（動急主口舌，緩主平和），旺居白虎病多端（主父母外人災）。螣蛇怪夢主哭聲（主膀胱氣，主小腸氣），動在膀胱主禍連（浮高主官事，家人不睦喧鬧），玄武旺時憂盜賊（主外脫騙財，小便赤澀、三焦不利），曉取浮沉意自然（凡言臟者，去取高緊動皆是也）。</p>
<p>便於此位，言其災福財祿喜慶也，凡四時旺相脈，六部要帶旺，如有不見，即為有病脈也。寸口多強，腎若沉小，主傷冷浮大，主熱；半大半小，主憂危事，又主傷，青翠之物傷之。若無此，只四肢無力，百事少成多敗，本部小者，主傷冷眼冷淚。若問大高者，主有熱如春。木同大者，主有喜進財也。或頭疼上盛之症，金宜四季小主穩。若盛大，主孝服或發寒熱，若遇水火者，無子。宜平穩。若高大者，有孝，主官事。春夏高同木火者，主夏見財。</p>
<p><u>左右關脈見祟</u></p>
<p>祟脈當關見，家神及土官。寸中如有怪，功德願無還。</p>
<p><u>四時論脈觀氣色</u></p>
<p>青憂白哭哀，黑死赤多災，黃色如金旺，紫色候將來。早觀印堂色，日午看天廷，夜暮察滿面，長記在心經。</p>
<p><u>絕脈推生死年月</u></p>
<p>二十一止為心中，看看命不逾三月；十九一止並肝逢，須期半載中宵滅；二十四動正腎宮，一歲之間命必終，動正須還於肺遇，死在當年四季中，末夜須看命不存。</p>
<p><u>代脈定生死壽根</u>（五十五動無代，正壽一百二十歲）</p>
<p>欲識人命短與長，惟將代脈細推詳。五十不代為高壽，四十五動壽中當。（七十以上為上壽，五十為中壽，三十為壽夭）。四十四代三十五，四十二代十年強。（凡脈四十四動一代者，其人三十五內必死。四十三代，其人三十四內死。四十二代，其人十年內必死。四十一代，五年內死。四十動一代，四年內死。自四十以下寒數一動，准四十日死）。二十一代兩歲應，一十五動一歲殃。十動一代看八月，四動一代八朝亡。以下但看三十五，總得須知生死方。（假令腎脈三十二動一代，其人三十年後至歿，兩氣後五日內死。滑令八十日也，余仿此。故症歌假會申年，腎止代十投一歲，分明主尺部失，主鬼稱尊，其人子年夏季死，故之之下捲雲：一歲身亡去土停，便留形體四年程，尺部見之方可斷，更看形體察元情。）</p>
<p><u>太素生死靈空洞中賦</u></p>
<p>夫太素者，通天有太易、太初、太素、太始脈分陰陽之理，察禍福之機，窮天地人三才，乃脈之見矣，富貴論矣。</p>
<p>官高一品（寸脈洪長寬大）　二品（寸脈洪緩季）</p>
<p>三品（寸脈洪弦大）　四品（寸脈長大緩）</p>
<p>六品（寸脈洪弦寬）　七品（寸緩長寬）</p>
<p>八品（寸寬弦洪）　九品（寸弦寬大）</p>
<p>正從皆同此</p>
<p>有官病（寸洪不在）　有官死者（寸弦小微）</p>
<p>官死不見六親（寸滑浮短）　官遭死劫（寸濡伏臟）</p>
<p>官死屍不全（寸脈遲滑）　先官後貧（寸洪滑）</p>
<p>先貧後官（寸弦洪滑）　初為官（寸洪不絕）</p>
<p>中為官（寸弦不絕）　末為官（寸洪不絕）</p>
<p>官有子無（寸緩清辰）　官有子生旺（寸洪帶弱寬辰）</p>
<p>休官為賊（寸洪不死）　官有祖業（寸緩清秀）</p>
<p>官無祖業（寸實寬緩）　官得損財（寸弦清秀）</p>
<p>官得小人財（寸緊又三口不絕）　官得老人財（寸脈緊寬）</p>
<p>官得陰人財（寸洪清秀）　官得賊人財（子動洪清）</p>
<p>為官落水死（寸沉細絕退上）　為官棄死（寸弱不明）</p>
<p>為官癰風（寸促帶伏）　為官落馬死（寸緩虛小）</p>
<p>官夜夢驚死（寸短沉細遲下）　官軍博死（寸滑在豚）</p>
<p>有官熱死（寸洪大至）　官毒藥死（寸滯沉伏）</p>
<p>為官一世無財空費精神死者（寸或洪或滑沉）</p>
<p>官祿不絕（寸洪寬大）　先富後貧（寸脈緩洪）</p>
<p>先貧後富（寸沉滯及弦）　初發（寸洪滯清）</p>
<p>中發（寸弦洪寬秀）　末發（寸沉緩）</p>
<p>夫克妻多（心洪大散）　夫克三妻（心脈緊散不明）</p>
<p>妻克三夫（心脈沉細未定）　父克子（心脈滑）</p>
<p>母克子（心脈微細）　子克父（心脈洪弦大散）</p>
<p>子克母（心緩平散）　子多不得同力（心脈虛促不明）</p>
<p>子多得力（心脈洪分明）　女多不得力（心脈短明）</p>
<p>女多得力（心脈長微洪）　主得奴婢力（心緩明秀）</p>
<p>不得奴婢力（心促不明）　得六畜旺（心絃長明）</p>
<p>得兄弟力（心脈分明洪秀）　得妻妾旺（關滑分明秀）</p>
<p>得貴人財物田園六畜（寸弦洪大不絕或緩大寬）</p>
<p>妾生貴子（關緊寬明）　妻妾敗壞家門（關脈伏緩）</p>
<p>妻不正（關脈沉短）　夫妻同關（先細後沉濡）</p>
<p>財物破散（關脈洪弦寬）　疾盲（關澀不秀）</p>
<p>聾耳（關脈虛）　啞（關脈伏藏）</p>
<p>癱癩（關脈促急）　勞蠱（關脈緩弱）</p>
<p>咳嗽（關脈澀）　哮喘（關脈浮）</p>
<p>瘖（關脈細濡）　瘡癤（關脈不明）</p>
<p>癰疽（關脈遲）　狂驚（關脈洪沉散不定）</p>
<p>癲癇（關脈洪）　風病（關脈滑小）</p>
<p>天行時證男女（關脈短洪）　女子（關脈虛小）</p>
<p>投河井死（關脈遲浮）　餓死（關脈急伐）</p>
<p>凍死（關脈遲不見）　打死（左關中伏不見）</p>
<p>學武死（關洪大）　自縊死（關脈絕）</p>
<p>自縊不死（關弦長）　衣不蓋形（關動不見）</p>
<p>食不充口（關洪濡）　無足（關伐）</p>
<p>投井不死（關寬秀）　投河不死（關浮遲）</p>
<p>無目禿（關不定長弦）　折腰（關洪大）</p>
<p>跛腳（關浮大寬）　咽喉閉塞（關短不明）</p>
<p>牆倒死（關細不見）　囚禁（關短）</p>
<p>枷鎖（關急不明）　咒咀死（關沉短）</p>
<p>咒咀有喜（關芤不明寬秀）　上樹癲死</p>
<p>身體臭（關芤滑）　身體香（關弦秀不明）</p>
<p>有官好唱（關緊虛）　官哭（關緊短）</p>
<p>官好笑（關洪大長寬）</p>
<p>不惟尺脈定富貴、疾症於寬洪之間，而五勞七傷死者，尺中亦能變見分明、開解。比之三命五星諸家皇極數之外，六部脈大有應驗。靈通之人憂愁思慮、喜怒悲樂、起居出入、房室禍福，生旺死絕、春夏秋冬、風寒暑濕、癱癆蠱癩一切病患並皆知之。</p>
<p>有子孫為官顯達（尺澀多秀）　長子財物豐旺（尺部起秀）</p>
<p>次子為官顯達（尺澀寬明）　次子財物豐旺（尺沉寬秀）</p>
<p>為官春旺（尺弦長秀）　為官夏旺（尺弦秀明）</p>
<p>為官秋旺（尺澀滑寬）　為官冬旺（尺沉不明滑秀）</p>
<p>四季旺（尺明秀）　為官春病（尺弦緩不明）</p>
<p>夏得病（尺沉不明）　秋得病（尺促細）</p>
<p>冬得病（尺弦定不明）　官有春死（尺緩寬）</p>
<p>夏死（尺伏弱）　秋死（尺濡洪不明）</p>
<p>冬死（尺浮而秀）　大蟲傷（尺洪遲秀）</p>
<p>狗所傷（尺細數）　狗咬死（尺微細）</p>
<p>毒物傷（尺滑緩不明）　狼所傷（尺虛短）</p>
<p>蛇傷死（尺實遲）　蛇傷不死（尺沉秀）</p>
<p>鬼精靈魅（尺沉不見）　鬼魅病不死（尺浮秀）</p>
<p>瀉痢死（尺沉秀）　痞瘧吐嘔不食死（尺滑散）</p>
<p>霍亂死（尺洪伏短）　毒藥物酒物死（尺弱散）</p>
<p>婦人不下死（尺浮秀）</p>
<p>六部脈寬秀為貴，務要辨輕重聚明絕散。若六部脈浮洪飛飛，此人大熱，臥不堪問。六部沉沉有虛弱，多為處亡鬼厥害。六部俱滑命不終，六部緩緩勻勻喜。風疹之脈浮細，推詳前脈與後脈，大有神效，件件無不應驗，天高地遠，此今世人難達古聖之智，脈法於靈寶洞中，源始根機哉。</p>
<p><u>七表脈形歌</u></p>
<p>浮如指下捻蔥葉，芤則中虛有兩頭，滑似動珠來往利，實向浮中取次求，弦若爭弦時帶數，緊伏琴絃作軫留，洪舉百餘來極大，七陽為表定其由。</p>
<p><u>八里脈形歌</u></p>
<p>沉若爛綿尋至骨，微於指下細如絲，緩小於遲來往慢，澀則如刀破竹皮，遲重欲尋來隱隱，伏潛骨重似來時，濡湊指邊還怯怯，弱按輕綿重不知。</p>
<p><u>七表八里候病歌</u></p>
<p>浮風芤血滑多痰，實熱弦勞緊痛間，洪熱微寒臍下積，沉因冷痛緩膚頑，澀則傷陰並敗血，又聞遲冷伏相干，濡多虛汗偏宜老，弱足陽虛骨體酸。</p>
<p><u>九道脈形狀歌</u></p>
<p>迢迢長脈似持竿，短脈質中不及同，虛則舉尋皆不足，並居寸數促無寬。結脈緩時來一止，代求中止不能還，中實尋無按卻有，水中摩石動慢慢。細細極微知似線，脈分九道見多般，外有數脈來往速，須明大脈似洪看。</p>
<p><u>七死脈形狀歌</u></p>
<p>指下如湯湧沸時，旦占夕死定無疑。尾掉搖搖頭不動，魚翔腎絕亦如期。去疾來遲兼逼逼，命絕脈來如彈石。三陽谷氣久虛空，胃氣分明屋諞滴。散亂還同解索形，髓竭骨枯見兩尺。蝦游狀若蝦蟆遊，魂去行屍定主憂。雀啄連連來數急，脾元穀氣是難留。欲之心絕並榮絕，如刀壓刃細推求。更看肺枯並胃乏，如麻戚促至無休。指下渾然如轉豆，三九正氣已漂流。</p>
<p><u>脈隨七表一里主病</u></p>
<p>左寸浮傷風發熱，頭痛目眩風痰逆。左關脈浮主胃虛，腹脹小便又難出。浮大實兮目痛昏，溢關頭目眩肋疼。浮洪筋緩體無力，浮大腸風眩癲疾。尺浮膀胱風熱攻，小便赤澀不須說。浮緊耳聾淋秘兮，浮大陰中痛不徹。浮數小便頻熱淋，浮風虛乏氣短訣。</p>
<p>右寸肺浮感風寒，咳促鼻塞涕流長，冷汗𦡴勞臥不得，浮實咽燥有癰瘡，浮短諸氣滑走刺，浮緩不仁緊水傷。關浮浮滑疾同途，腹滿不食脾不蘇。胃熱浮緩更不食，浮實胃虛滿中憂。脾干飲水食多餓，在澀宿食滯氣留，浮滑為飲細傷飲，浮微寒熱客邪謳。尺浮大腸受風熱，大便秘腎數同途。浮滑疣瘕主男子，婦人月閉孕眉乎。</p>
<p><u>芤脈病證</u></p>
<p>左芤吐血微衄血，關緩作聲有瘀血，吐血眼暗及大芤，淋瀝便赤或有血。</p>
<p>右芤積血在胸中，關腹暴痛主腸癰，更主大便下疼血，尺芤血痢下血同。</p>
<p><u>滑脈病證</u></p>
<p>左滑心熱實大吉，關滑肝熱以同疾。滑散癱緩滑浮風，尺滑腎熱便淋瀝，血多氣少莖中疼，四肢困痹痠疼跌。滑弦腰腳痛難當，滑弱陰中痛莫說。</p>
<p>右滑嘔逆實大熱，發焦胸壅氣痰結，咽乾頭痛嗽惑時，頭目昏重涕唾滴，關熱口臭氣喘凶，粗大胃受寒變熱。滑實食吃風疣臨，大小不勻熱利泄。尺滑實熱渴飲漿，臍冰腹鳴痛利或，婦人月閉和有娠，弱大便閉數結熱。</p>
<p><u>緊脈病證</u></p>
<p>左緊頭疼緊而沉，心中氣逆冷痛臨，關緊心腹若滿痛，筋急風氣忽狂動。緊實⿸疒云癖兩尺同，腰腳臍下手摩弄。</p>
<p>右緊沉滑氣實嗽，關緊脅急脾痛到，乾干惡盛緊腹脹憂，緊滑宿食蛔吐過。</p>
<p><u>洪脈證</u></p>
<p>左洪頭痛胸痛煩，關洪肝熱遍身疼，四肢浮熱及尺洪，便赤腳疼難以動。</p>
<p>右洪發焦涕唾黏，咽燥洪緊喘急纏，關洪翻胃口干吐，洪緊為脹尺洪連，糞結洪大傷寒熱，洪緊癰疽洪實癲。</p>
<p><u>微脈病證</u></p>
<p>左微心虛寒熱憂，心胃病結盜汗流，虛勞惡寒微浮弱，關微心氣鬱滿著，肢急因昏尺微敗，男溺女崩支白帶。</p>
<p>右微上焦寒氣痞，微弱小氣中寒矣，關微胃寒脹滿侵，食少厥逆拘急耳，尺微寒氣聚腹疼，吼瀉男勞。</p>

<h2>婦人門</h2>
<p><u>貴脈</u></p>
<p>慢慢綿綿動似云，陰陽俱到旺中存，更逢指下多洪秀，少年鄉內作夫人。</p>
<p>又　清來指下秀勻勻，諸官婚姻有精神，若還水火皆相應，當年早嫁貴官人。</p>
<p><u>利益夫脈</u></p>
<p>脈到陰中卻見陽，仔細推尋事可傷，卻被父孃家業失，只榮夫主一家昌。</p>
<p><u>壽脈</u></p>
<p>陰部洪柔陰似陽，丹田血海暖如湯，不施紅粉如桃臉，百歲冰肌溫又康。</p>
<p><u>難為夫</u></p>
<p>陰陽脈大並來粗，多應未嫁哭三夫，若也動弦如急數，隨人逃走外鄉居。</p>
<p><u>賤婦</u></p>
<p>六部頻來指下寬，及到陽宮木更柔，此生父母須長別，隨夫常在外鄉遊。</p>
<p><u>孤脈</u></p>
<p>三部沉來指下遲，但尋遲脈莫為疑，三陽若見俱來斷，平生一女卻無兒。</p>
<p><u>淫脈</u></p>
<p>尺脈本沉微，俄看緊數隨，蘭房明月夜，有客笑嘻嘻。</p>
<p>又　欲識佳人一寸心，關前散亂起浮沉，任將山嶽為盟誓，不慣幽閨獨展衾。</p>
<p>又　三部弦長一寸勻，須知簾下有情人，陰多陽少非真潔，必是揚花蕩漾春。</p>
<p><u>病脈</u></p>
<p>室女如何脈不調，只因思想自然招，至今體瘦痿黃色，浮洪脈盛尺微調。</p>
<p>又　氣盛元來血積纏，通宵叫喚不曾眼，三關脈緊兼洪大，榮衛都來補未宣。</p>
<p>又　若得關脈候關中，衛氣同風頭上攻，女子只因思想患，婦人多是積其風。</p>
<p>又　婦人血氣不調和，爭奈傷風生冷多，日漸臟虛人又瘦，脈中緊滑兩相磨。</p>
<p>又　帶下之人尺部微，沉沉細澀宛如絲，論言血海多虛冷，便作崩中帶下危。</p>
<p><u>孕脈</u></p>
<p>安知有孕細推詳，洪大通弦有二三，右手脈洪須斷女，左手脈大定知男。</p>
<p>又　孕脈浮洪滑要詳，須知左右定陰陽，忽然安靜天生貴，未到中年近帝王。</p>
<p><u>胎動之脈</u></p>
<p>要知胎動在脈關，脾緊如弦仔細看，胎內嬰兒顛轉動，卻令孕婦不曾安。</p>
<p><u>產期遠近</u></p>
<p>更看產者不難知，四季脾中仔細推，遲更滑時知產近，遲而緩者定應遲。</p>
<p>凡左右覺急而緩，只須四季脾中尋之，便是產中遠近，來而緩者，日遠，近而滑者，日近。</p>
<p>又　三部脈洪夏日生，若逢弦緩在清明，脈來沉滑冬間見，浮澀須知旺在庚。</p>
<p>又　寸口脈來寬更緩，必應秋是誕生時，忽然沉滑日將近，腎細須知未可期。</p>
<p><u>定產生死</u></p>
<p>緩滑沉細定言生，緊牢弦急命須傾，沉細不絕方知活，澀疾無調定死名。</p>
<p>寸心沉細不絕者生，澀疾不調者死也。</p>
