<header data-type="book">
<h1>壽世青編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤乘</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1667">公元1667年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）；<a href="https://ctext.org/library.pl?if=gb&res=3097">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>勿藥須知</h2>
<p>臞仙曰：古神聖之醫，能療人之心，預使不至於有疾。今之醫者，惟知療人之疾，而不知療人之心，是猶捨本而逐末也。不窮其源而攻其流，欲求疾愈，安可得乎？殊不知病由心生，孽由人作。佛氏謂一切唯心造，良不誣矣。所以人之七情內起，正性顛倒，以致大疾纏身，誠非醫藥所能治療，蓋藥能治五行生剋之色身，不能治無形之七情；能治七情所傷之氣血，不能治七情忽起忽滅、動靜無端之變幻。故臞仙又曰：醫不入刑官之家，藥不療不仁者之疾。蓋福有所主，禍有所司，報復之機，無一不驗。因有天刑之疾，自戕之疾。其天刑之疾，由夙世今生所積過愆，天地譴之以致斯疾，此孽源於心也；其自戕之疾者，風寒暑濕之所感，酒色性氣之所傷，六慾七情生於內，陰陽二氣攻於外，此病生於心也。《仙經》曰：煉精化氣，煉氣化神，煉神還虛。噫！將從何處煉乎？總不出於心耳。故凡思慮傷心，憂悲傷肺，忿怒傷肝，飲食傷脾，淫欲傷腎。藥之所治，只有一半，其一半則全不繫藥力，唯要在心藥也。或曰：何謂心藥？引林鑑堂詩曰：自家心病自家知，起念還當把念醫，只是心生心作病，心安那有病來時？此之謂心藥。以心藥治七情內起之病，此之謂療心。予考歷代醫書之盛，汗牛充棟，反復詳明，其要主於卻疾。然《內經》有一言可以蔽之，曰「不治已病治未病」是也。治有病不若治於無病，療身不若療心。吾以為使人療，尤不若先自療也。</p>

<h2>療心法言</h2>
<p>《素問·天真論》曰：恬淡虛無，真氣從之，精神內守，病安從來？老子曰：人生以百年為限，節護乃至千歲。如膏之小炷與大炷耳。人大言我小語，人多煩我少記，人悸怖我不怒。淡然無為，神氣自滿。此長生之藥。</p>
<p>劉河間曰：形者生之舍也，氣者生之元也，神者生之制也。形以氣充，氣耗形病，神依氣立，氣合神存。修真之士，法於陰陽，和於術數。持滿御神，專氣抱一。以神為車，以氣為馬。神氣相合，可以長生。又曰：全生之術，形氣貴乎安，安則有倫而不亂。精神貴乎保，保則有要而不耗。故保養之道，初不離乎形氣精神。</p>
<p>達摩曰：心不緣境，住在本源。意不流散，守於內息。神不外役，免於勞傷。人知心即氣之主，氣即形之根。形者氣之宅，神形之具，令人相因而立。若一事有失，即不合於至理，可能久立焉？</p>
<p>老子曰：不見可欲，使心不亂。</p>
<p>《直指》曰：清謂清其心源，靜謂靜其氣海。心源清則外事不能擾，性定而神明；氣海靜則邪欲不能作，精全而復實。</p>
<p>《指歸》曰：遊心於虛靜，結志於微妙，委慮於無欲，指歸於無為。故能達生延命，與道為久。</p>
<p>《妙真經》曰：人常失道，非道失人。人常去生，非生去人。故養生者，慎勿失道；為道者，慎勿失生。使道與生相守，生與道相保。</p>
<p>《元道真經》曰：生可冀也，死可畏也。草木根生，去土則死。魚鱉沉生，去水則死。人以形生，去氣則死。故聖人知氣之所在，以為身寶。</p>
<p>《仙經》曰：精氣神為內三寶，耳目口為外三寶。常令內三寶不逐物而流，外三寶不誘中而擾。</p>
<p>又曰：毋勞爾形，毋搖爾精。歸心靜默，可以長生。</p>
<p>《定觀經》曰：惟令定心之上，豁然無覆；定心之下，曠然無塞。舊孽日銷，新孽不造。無所掛礙，迥脫塵病。</p>
<p>又曰：唯滅動心，不滅照心。但凝空心，不凝住心。</p>
<p>重陽祖師曰：老人於十二時中，行住坐臥，一切動中，要把心似泰山，不搖不動，謹守四門，眼耳鼻口，不令內入外出。此名養壽，要緊。</p>
<p>《真人大計》曰：奢懶者壽，慳靳者夭，放散劬勞之異也。田夫壽，膏粱夭，嗜欲多少之驗也。處士少疾，遊子多患，事務簡煩之殊也。故俗人競利，道士罕營。</p>
<p>《唐書》曰：多記損心，多言耗氣。心氣內損，形神外散，初雖不覺，久則為弊。</p>
<p>《元始真經》曰：喜怒損性，哀樂傷神，性損則害生，故養性以全氣，保神以安身，氣全體平，身安神逸。此全生之訣也。</p>
<p>《洞神經》曰：養生以不損為延年之術，不損以為有補衛生之經。</p>
<p>《天真論》曰：外不勞形於事，內無思想之患。以恬愉為務，以自得為功。形體不敝，精神不散。</p>
<p>《莊子》曰：能遵生者，雖富貴不以養傷身，雖貧賤不以利累形，又曰：吾生也有涯，而智也無涯，以有涯逐無涯，殆矣已而。為智者，殆而已矣。</p>
<p>《秋聲賦》云：奈何思其力之所不及，憂其智之所不能。宜其渥然丹者為槁木，黟然黑者為星星。此士大夫通患也。又曰：百憂感其心，萬事勞其形。有動於中，必搖其精。人常有多思多憂之患，方壯遽老，方老遽衰。反此亦長生之法。</p>
<p>孫思邈曰：多思則神殆，多念則智散，多欲則智昏，多事則勞形，多言則氣乏，多笑則傷藏，多愁則心懾，多樂則語溢，多喜則妄錯昏亂，多怒則百節不定。</p>
<p>《小有經》曰：才所不勝而強思之，傷也；力所不任而強舉之，傷也；深憂而不解，重喜而不釋、皆傷也。</p>
<p>《淮南子》曰：太喜墜陽，太怒破陰，是以君子有節焉。</p>
<p>《玄珠》曰：起居不節，用力過度，則脈絡傷，傷陽則衄血，傷陰則下血。</p>
<p>《書》曰：行走勿語，傷氣，語多則住而再語。笑多則腎轉腰疼。</p>
<p>《神仙傳》曰：養壽之道，但莫傷之而已。</p>
<p>《素問》曰：食飲有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年。</p>
<p>《真訓》曰：眼者身之鏡，耳者體之牖，視多則鏡昏，聽眾則牖閉。面者神之庭，發者腦之華，心悲則面焦，腦減則發素。精者體之神，明者神之寶，勞多則精散，營竟則明消。</p>
<p>《妙真經》曰：視過其目者明不居，聽過其耳者精不守，愛過其心者神不居，牽過於利者動則懼。</p>
<p>《真誥》曰：鏡以照面，智以照心，鏡明則塵垢不染，智明則邪惡不生。</p>
<p>《陰符經》曰：淫聲美色，破骨之斧鋸也。世之人不能秉靈燭以照迷情，持慧劍以割愛欲。流浪生死之海，害生於恩也。</p>
<p>《河圖帝視萌》曰：侮天地者凶，順天時者吉，春夏樂山高處，秋冬居卑深藏。吉利多福，壽考無窮。</p>
<p>《西山記》曰：一體之盈虛消息，皆通乎天地，應乎萬類，和之於始，和之於終，靜神災想，生之道也。</p>
<p>《衛生訣》云：凡人一日一夜，一萬三千五百息，減之一息則寒，加之一息則熱。臟腑不和，諸疾生焉。故元氣在保養，穀神在守護。</p>
<p>呂洞賓曰：寡言語以養氣，寡思慮以養神，寡嗜欲以養精。精生氣，氣生神，神自靈也。是故精絕則氣絕，氣絕則命絕也。是故精氣神，人身之內三寶也。</p>
<p>齊丘子曰：喬松所以能凌霜雪者，藏正氣也；美玉所以能犯烈火者，蓄至精也。是以大人晝運靈旗，夜錄神芝，覺所不覺，思所不思，可以冬御風而不寒，夏御火而不熱。故君子藏正氣，可以遠鬼神，伏奸佞。蓄至精者，可以保生靈，躋福壽，是以貴乎養氣也。</p>
<p>《素問》曰：謹和五味，骨正筋柔，氣血以流，腠理以密，長有天命。</p>
<p>又曰：食風者靈而延壽算，食谷者多智而勞形神，食草者癡愚而力足，食肉者勇鄙而多嗔，服氣者常存而得道。</p>
<p>《傳》曰：雜食者，百病妖邪所鍾。所食愈少，心愈開，年愈益，所食愈多，心愈塞，年愈損焉。所以服氣者千年不死，故身飛於天，食谷者千百皆死，故形歸於地。</p>
<p>《白玉蟾》曰：薄滋味以養氣，去嗔怒以養性，處卑下以養德，守清靜以養道。</p>
<p>學山曰：食飲有節，脾土不泄；調息寡言，肺金自全；動靜以敬，心火自定；寵辱不驚，肝木自寧；恬然無欲，腎水自足。</p>
<p>益州老人曰：凡欲身之無病，必須先正其心，使其心不亂求，心不狂思，不貪嗜欲，不著迷惑，則心君泰然矣。心君泰然，則百骸四體雖有病不難治療。獨此心一動，百患為招，即扁鵲華佗在旁，亦無所措手乎。</p>

<h2>林鑑堂安心詩</h2>
<p>我有靈丹一小錠，能醫四海群迷病。些兒吞下體安然，管取延年兼接命。安心心法有誰知？卻把無形妙藥醫。醫得此心能不病，翻身跳入太虛時。念雜由來業障多，憧憧擾擾竟如何？驅魔自存玄微訣，引入堯天安樂窩。人有二心方顯念，念無二心始為人。人心無二渾無念，念絕悠然見太清。這也了時那也了，紛紛攘攘皆分曉。云開萬里見清光，明月一輪圓皎皎。四海遨遊養浩然。心連碧水水連天。津頭自存漁郎問，洞里桃花日日鮮。</p>
<p>《性理》曰：夫人之心，皆明鏡也。聖人特不塵之耳。夫人之心，皆止水也，聖人特不波之耳。又朱晦菴曰：學者常要提醒此心，惺惺不昧，如日中天，群邪自息，同一旨也。</p>

<h2>養心說</h2>
<p>夫心者，萬法之宗，一身之主，生死之本，善惡之源，與天地而可通，為神明之主宰，而病否之所由系也。蓋一念萌動於中，六識流轉於外，不趨乎善，則五內顛倒，大疾纏身。若夫達士則不然，一真澄湛，萬禍消除。老子曰：夫人神好清而人擾之，人心好靜而欲牽之：常能遣其欲而心自靜，澄其心而神自清，自然六慾不生，三毒消滅。盂子曰：養心莫善於寡欲。所以妄想一病，神仙莫醫。正心之人，鬼神亦憚，養與不養故也。目無妄視，耳無妄聽，口無妄言，心無妄動。貪嗔癡愛，是非人我，一切放下。未事不可先迎，遇事不宜過擾。既事不可留住，聽其自來，應以自然，信其自去，忿懥恐懼，好樂憂患，皆得其正，此養之法也。</p>

<h2>養肝說</h2>
<p>夫肝者，魂之處也，其竅在目，其位在震，通於春氣，主春升發動之令也。然木能動風，故《經》曰：諸風掉眩，皆屬於肝。又曰：陽氣者，煩勞則張，精絕闢積於夏，使人煎厥。設氣方升，而煩勞太過，則氣張於外，精絕於內。春而邪辟之氣積久不散，至夏未痊，則火旺而真陰如煎，火炎而虛氣逆上，故曰煎厥。按《脈解論》曰：肝氣失治，善怒者名日煎厥。戒怒養陽，使生生之氣相生於無窮。又曰：大怒則形氣絕，而血菀於上，使人薄厥。菀，結也。怒氣傷肝，肝為血海，怒則氣上，氣厥則絕，所以血菀上焦，相迫曰薄，氣逆曰厥，氣血懼亂，故曰薄厥。積於上者，勢必厥而吐也。薄厥者，氣血之多而盛者也。所以肝藏血，血和則體澤，血衰則枯槁，故養肝之要在乎戒念，是攝生之第一法也。</p>

<h2>養脾說</h2>
<p>脾者後天之本，人身之倉廩也。脾應中宮之土，土為萬物之母。如嬰兒初生，一日不再食則飢，七日不食則腸胃涸絕而死。《經》曰：安穀則昌，絕谷則亡。蓋穀氣入胃，灑陳六腑而氣至和，調五臟而血生，而人資以為生者也。然土惡濕而喜燥，飲不可過，過則濕而不健；食不可過，過則壅滯而難化，病由是生矣。故飲食所以養生，而貪嚼無厭，亦能害生。《物理論》曰：穀氣勝元氣，其人肥而不壽。養性之術，常令穀氣少則病不生。穀氣且然，矧五味饜飫為為五內害乎！甚而廣搜珍錯，爭尚新奇，恐其性味良毒，與人臟腑宜忌，尤未可曉。故西方聖人使我戒殺茹素，本無異道。人能戒殺則性慈而善念舉，茹素則心清而腸胃厚。無嗔無貪，罔不由此。外考禽獸肉食，谷者宜人，不可不慎。</p>

<h2>養肺說</h2>
<p>肺者臟之長也，心之華蓋也，其藏魄，其主氣，統領一身之氣者也。《經》曰：有所失亡，所求不得，則發肺鳴，鳴則肺熱葉焦。充之則耐寒暑，傷之則百邪易侵，隨事痿矣。故怒則氣上，喜則氣緩，悲則氣消，恐則氣下，驚則氣亂，勞則氣耗，思則氣結。七情之害，皆氣主之也。直養無害，而後得其所以浩然者，天地可塞，人之氣與天地之氣可一也，道氣可配，人之氣與天地之氣可通也。先王以至日閉關，養其微也。慎言語，節飲食，防其耗也。</p>

<h2>養腎說</h2>
<p>腎者先天之本，藏精與志之宅也。《仙經》曰：借問如何是玄牝，嬰兒初生先兩腎。又曰：玄牝之門，是為天地根。是故人未有此身，先生兩腎，蓋嬰兒未成，先結胞胎，其象中空，一莖透起，形加蓮蕊。一莖即臍帶，連蕊即兩腎也，為五臟六腑之本，十二脈之根，呼吸之主，三焦之原。人資以為始，豈非天地之根乎，而命寓焉者。故又曰：命門天一生水，故曰坎水。夫人慾念一起，熾若炎火，水火相剋，則水熱火寒，而靈臺之焰，藉此以滅矣。使水先枯涸，而木無所養，則肝病。火炎則土燥而脾敗，脾敗則肺金無資，咳嗽之症成矣。所謂五行受傷，大本已去，欲求長生，豈可得乎！《莊子》曰：人之大可畏者，衽席之間不知戒者故也，養生之要，首先寡欲。嗟乎！元氣有限，情欲無窮。《內經》曰：以酒為漿，以妄為常，醉以入房，以竭其精，此當戒也，然人之有欲，如樹之有蠹，蠹甚則木折，欲熾則身亡。《仙經》曰：無勞爾形，無搖爾精，無使爾思慮營營，可以長生，智者鑑之。</p>

<h2>齋說</h2>
<p>夫世之持齋，往往以齋之說為誤，何也？茹素而已，不復知有齋之實事。意謂茹素可以弭災集福，卻病延年，則謬矣，《玉華子》曰：齋者，齊也。齊其心而潔其體也，豈僅茹素而已。所謂齊心者，澹志寡營，輕得失，勤內省，遠葷酒；潔其體者，不履邪徑，不視惡色，不聽淫聲，不為物誘。入室閉戶，燒香靜坐，方可謂之齋也。誠能如是，則身中之神明自安，升降不礙，可以卻病，可以長生，可以迪福弭罪。</p>

<h2>食忌說</h2>
<p>《太乙真人七禁文》其六曰：美飲食，養胃氣，彭鶴林雲：夫脾為臟，胃為腑，脾胃二氣，互相表裡。胃為水穀之海，主納水穀，脾在中央，磨而消之，化為氣血，以灌溉臟腑，榮養周身。所繫最重修養之士，不可不美其飲食以調之。所謂美者，非水陸畢具異品珍饈之謂也。要在乎生冷勿食，粗硬勿食，勿強食，勿強飲。先飢而食，食不過飽；先渴而飲，飲不過多。孔子曰：食饐而餲，魚餒而肉敗不食，色惡不食，臭惡不食，失飪不食，不時不食，凡此者皆損胃氣，非惟致病，亦乃傷生，欲希長年，斯宜深戒，而奉老慈幼，與觀頤者審之。</p>

<h2>食飲以宜</h2>
<p>飲食之宜，當候已飢而進食，食不厭細嚼，仍候焦渴而引飲，飲不厭細呷。毋待飢甚而食，食勿過飽。時覺渴甚而飲，飲勿過多。食不厭精細，飲不厭溫熱。五味毋令勝穀味，肉味毋令勝食氣。食必先食熱，後食冷。</p>

<h2>居室安處論</h2>
<p>天隱子曰：吾謂安處者，非華堂邃宇，重裀廣榻之謂也，在乎南面而坐，東首而寢，陰陽適中，明暗相半。屋無高，高則陽盛而明多；屋無卑，卑則陰盛而暗多。故明多則傷魄，暗多則傷魂，人之魂陽而魄陰。苟傷明暗，則疾病生焉。此所謂居處之室，尚使之然。況天地之氣，有亢陽之攻肌，淫陰之侵體，豈可不防慎哉。修身之士，倘不法此，非安處之道。曰：吾所居室，四邊皆窗戶，遇風即合，風息即開；吾所居室，前簾後屏，太明即下簾，以和其內映，太暗則捲簾，以通其外耀。內以安心，外以安目，心目俱安，則身安矣。明暗且然，況太多思慮，太多情欲，豈能安其內外哉。</p>

<h2>居處宜忌說</h2>
<p>《保生要錄》曰：人之家室，土厚水深，居之不疾。凡人居處，隨其方所，皆欲土厚水深。土欲堅潤而黃，水欲甘美而清。常坐之處，令其四面周密，勿令小有細隙，致風得入，人不易知，其傷人最重，初時不覺，久能中人。夫風者，天地之氣也，能生成萬物，亦能損人，有正有邪故耳。初入腠理，漸至肌膚，內傳經脈，達臟腑，傳變既深，為患不小。故《素問》云：夫上古聖人之教下民也，皆謂之虛邪賊風，避之有時。又《養生書》云：避風如避箭。若盛暑所居，兩頭通屋，弄堂夾道，風回涼爽，其為害尤甚，養生者當慎之。</p>

<h2>寢室宜忌說</h2>
<p>凡人臥床常令高，則地氣不及，鬼吹不幹。鬼氣侵人，常因地氣上逆耳。人臥室宇，當令潔淨，淨則受靈氣，不潔則受故氣。故氣之亂人室宇，所為不成，所依不立，即一身亦爾，當常令沐浴潔淨。</p>

<h2>臥時祝法</h2>
<p>《黃素四十四方經》云：夜寢欲閤眼時，以手撫心三過，閉目微祝曰：太靈九宮，太乙守房，百神安位，魂魄和同，長生不死，塞滅邪凶，咒畢而寢。比名九宮隱祝寢魂之法。常能行之，使人魂魄安寧，永獲貞吉。</p>

<h2>睡訣</h2>
<p>西山蔡季通云：睡側而屈，覺正而伸，早晚以待，先睡心，後睡眼。朱晦菴謂未發之妙。</p>
<p>《千金方》云：半醉酒，獨自宿，軟枕頭，暖蓋足，能息心，自瞑目。陸平泉云：每夜欲睡，必走千步始寢。</p>
<p>《論語》曰：食不語，寢不言，寢臥不得多言笑。五臟如鍾磐，不懸則不可發聲。</p>
<p>伏氣有三種眠法：病龍眠，屈其膝也：寒猿眠，抱其膝也；龜鶴眠，踵其膝也。</p>

<h2>孫真人衛生歌</h2>
<p>天地之間人為貴，頭象天兮足象地。父母遺體宜保之，箕疇五福壽為最。衛生切要知三戒，大怒大欲並大醉。三者若還有一焉，須防損失真元氣。欲求長生先戒性，火不出兮神自定。木還去火不成灰，人能戒性方延命。貪欲無窮志卻精，用心不已走元神。勞形散盡中和氣，更復何能保此身。心若太費費則竭，形若太勞勞則歇。神若太傷傷則虛，氣若太損損則絕。世人慾知衛生道，喜樂有常嗔怒少。心誠意正思慮除，順理修身去煩惱，春噓明月木扶肝，夏至呵心火自閒。秋呬定收金肺潤，冬吹腎水得平安。三焦嘻卻除煩熱，四季常呼脾化餐。切忌出聲聞口耳，其功尤勝保神丹。發宜多梳氣宜煉，齒宜頻叩津宜咽。子欲不死修崑崙，雙手揩摩常在面。春月少酸宜食甘，冬月宜苦不宜咸。夏要增辛減卻苦，秋辛可省便加酸。季月可鹹甘略戒，自然五臟保平安。若能全減身康健，滋味偏多多病難。春寒莫放綿衣薄，夏月多汗須換著。秋冬衣冷漸加添，莫待病生才服藥。惟有夏月難調理，內有伏陰忌涼水。瓜桃生冷忌少餐，免致秋來生瘧痢。君子之人守齋戒，心旺腎衰宜切記。常令充實勿空虛，日食須當去油膩。太飽傷神飢傷胃，太渴傷血並傷氣。飢餐渴飲勿太過，免致膨脝傷心肺。醉後強飲飽強食，未有此生不成疾。人資飲食以養身，去其甚者自安適。食後須行百步多，手摩臍腹食消磨。夜半雲根灌清水，丹田濁氣切須呵。飲酒可以陶性情，太飲過多防有病。肺為華蓋倘受傷，咳嗽勞精能損命。慎勿將鹽去點茶，分明引賊入其家。下焦虛冷令人瘦，傷腎傷脾防病加。坐臥切防腦後風，腦內入風人不壽，更兼醉飽臥風中，風才一入成災咎。雁有序兮犬有義，黑鯉朝北知臣禮。人無禮義反食之，天地神明俱不喜。養體須當節五辛，五辛不節損元神。莫教引動虛陽發，精竭神枯定喪身。不問在家並在外，若遇迅雷風雨至，急須端肅敬天威。靜室收心須少避，恩愛牽纏不自由，利名縈絆幾時休。放寬些子自家福，免致中年早白頭。頂天立地非容易，飽食暖衣寧不愧。思量無以報洪恩，早暮焚香謝天地。身安壽永事如何，胸次平夷積善多。惜命惜身兼惜氣，請君熟玩衛生歌。</p>

<h2>真西山衛生歌</h2>
<p>萬物惟人為最貴，百歲光陰如旅寄。自非留意修養中，未免疾苦為身累。何必餐霞餌大藥，妄意延令等龜鶴，但於飲食嗜欲間，去其甚者將安樂。食後徐行百步多，兩手摩脅並胸腹。須臾轉手摩腎堂，謂之運動水與土。仰面常呵三四呵，自然食毒氣消磨。醉眠飽臥俱無益，渴飲飢餐尤戒多。食不欲粗並欲速，寧可少餐相接續。若教一頓飽充腸，損氣傷脾非爾福。生冷黏膩筋韌物，自死牲牢皆勿食。饅頭閉氣宜少餐，生膾偏招脾胃疾。酢醬胎卵兼油膩，陳臭醃𨢇盡陰類。老弱若欲更食之，是藉寇兵毋以異，炙煿之物須冷吃，否則傷齒傷血脈。晚食常宜申酉時，向夜徒勞滯胸膈。飲酒莫教令大醉，大醉傷神損心志。酒渴飲水並啜茶，腰腳自茲成自墜。常聞避風如避箭，坐臥須當預防患。況因食後汗孔開，風才一入成癱瘓。不問四時俱暖酒，太熱太冷莫入口。五味偏多不益人，恐隨臟腑成災疚。視聽行坐不可久，五勞七傷從此有。四肢亦欲得小勞，譬如戶樞終不朽。臥不厭縮覺即舒，飽宜沐浴飢宜梳。梳多浴少益心目，默寢暗眠神晏如。四時惟夏難調攝，伏陰在內腸易滑。補腎湯丸不可無，食物稍冷休餔啜。心旺腎衰何所忌，特忌疏通泄精氣。寢處尤宜嚴密間，宴居靜慮和心氣。沐浴盥漱皆暖水，簟涼枕冷俱弗宜。瓜茄生冷不宜人，豈獨秋來作瘧痢。伏陽在內冬三月，切忌汗多泄精氣。陰霧之中莫遠行，暴雨迅雷宜速避。道家更有頤生旨，第一戒人少嗔恚。秋冬日出始穿衣，春夏雞鳴宜早起。子後寅前睡覺來，瞑目叩齒二七回。吸新吐故毋令誤，咽漱玉泉還養胎。指摩手心熨兩眼；仍更揩摩額與面。中指時時擦鼻莖，左右耳根筌數遍。更能幹浴一身間，按䏶時須扭兩肩。縱有風勞諸濕氣，何憂腰背復拘攣。噓呵呼嘻吹及呬，行氣之人分六字。果能依用口訣中，新舊有疴皆可治。聲色雖云屬少年，稍知撙節乃無愆。閉精息氣宜聞早，莫使羽苞火中燃。有能操履常方正，於利無貪名不競。縱向歌中未盡行，可保周身亦無病。</p>

<h2>養神氣銘</h2>
<p>神者氣之子，氣者神之母，形者神之室。氣清則神暢，氣濁則神昏，氣亂則神勞，氣衰則神去，神去則形腐。人以氣為道，道以氣為生，生道兩存，則長生久視。</p>

<h2>孫真人養生銘</h2>
<p>怒甚偏傷氣，思多太損神，神疲心易役，氣弱病來侵。勿使悲歡極，常令飲食均。再三防夜醉，第一戒晨嗔。亥寢鳴天鼓，晨興漱玉津。妖邪難犯己，神氣自全身。若要無諸病，常當節五辛。安神宜悅樂，惜氣保和純。壽天休論命，修形在本人。若能遵此理，平地可朝真。</p>

<h2>謹疾箴</h2>
<p>凡人富貴名利，勿強求之，而況此身父母之所遺；才情意氣，勿競爭之，而況此身妻之所仰。身之柔脆，非木與石，傷之七情，報以百疾。疾之既來，有術奚施，疾之未來，有術不知。我明告子，子尚聽之，色之悅目，惟男女之欲，思所以遠之，如脫桎梏；味之爽口，惟飲食之欲，思所以禁之，如畏鳩毒。多言則傷氣，欲養氣者，言不費，思則損血，欲養血者，思不越。憂不可積，樂不可縱。形不可太勞，神不可太用。凡此數言，終身宜誦。</p>
<p>《勿藥真言》云：獨宿之妙，不但老年，少壯亦當如此。日間紛擾，心神散亂，全賴夜間休息，以復元氣。若日內心猿意馬，狂妄馳驅，至夜又醉飽而恣情縱欲，不自愛惜，其精神血氣，何能堪此？</p>

<h2>導引卻病法</h2>
<p>老子曰：天有三寶，日月星，人有三寶，精氣神。此其旨可得而知也。余自少慕道，夙有因緣，幸遇高賢異士，得讀古聖法言，乃知性命之理，簡易淵微，舍精氣神，則別無了道之門，而老子一言，固己悉之矣。人自離母腹，三元真氣，日可生髮，後為情欲所蔽，不知保養，斫喪者多。於是古聖傳授教人修補之法，呼吸吐納，存神運想，閉息按摩。雖非大道，然能勤行積久，乃可卻病延年。若夫虛勞內損，痼疾經年，即扁鵲、盧公，難於措手。苟能積氣開關，決有回生之效，久之則任督二脈交通，水升火降乃成既濟。從前受病之根，斬刈無遺。嗣後真元之氣，蒸蒸不竭。然勿謂草木無功，遂委之命也哉。余雖不敏，嘗事於斯，以謝奇疴，諦信專行，功臻旦夕。敢以告之同志。</p>

<h2>內養下手訣</h2>
<p>《易》曰：一闔一闢謂之變，往來不窮謂之通，闔闢往來無非道也。人生以氣為本，以息為元，以心為根，以腎為蒂。天地相去八萬四千里，人心與腎相去八寸四分。此腎是內腎，臍下一寸三分是也。中有一脈，以通天息之浮沉。息總百脈。一呼則百脈皆開，一吸則百脈皆合。天地造化流行，亦不出於闔闢二字。人之呼吸，即天地之闔闢也。是乃出於心腎之間，以應天地陰陽升降之理。人能知此，養以自然，則氣血從軌，無俟乎搬運之煩，百病何自而生。如有病能知此而調之，則不治而自卻矣。下手之訣，必先均調呼吸，均調呼吸，先須屏絕外緣，順溫涼之宜，明燥濕之異。明窗淨几，滌慮清心，閉目端坐，叩齒三十六遍，以集心神。然後以大拇指背，於手掌心勞宮穴處，摩令極熱，用拭目之大小眥各九遍。並擦鼻之兩旁各九遍。又以兩手摩令熱，閉口鼻氣，然後摩面，不俱遍數，以多為上，名真人起居法。次以舌舐上齶，攪口中華池上下，取津漱煉百次，候水澄清，一口分作三次，汩然嚥下，名曰赤龍取水。又曰：玉液煉己法，最能灌溉五臟，光澤面目，潤肺止嗽，其效若神。行持時不必拘定子午，每於夜半後生氣時行之，或睡覺時皆妙。如日中閒暇時亦可。</p>

<h2>運氣法</h2>
<p>凡運氣法，當閉目靜坐，鼻吸清氣降至丹田，轉過尾閭，隨即提氣如忍大便狀，自夾脊雙關透上，直至泥丸，轉下鵲橋，汩然嚥下，仍歸丹田。初行功時，焚香一炷為度，漸增三炷，功行七日而止。凡臥病者，宜用厚褥、綿被、暖帳、重衣。不論寒暑，初行功三日，發大汗以攻陰邪之氣，進熱粥以為表汗之資。渴則漱玉泉以咽之，飢則炊熱粥以食之。飢然後食，不拘餐數。如是衣不解帶，能一月，則在床三五七年癱勞鼓膈等症，皆可刻期而愈。患在上身，收氣當存想其處；患在下身，收氣亦存想其處。放氣則歸於丹田。患在遍身，當分經絡屬上屬下，運法亦如之。女子行功，先提水門，後及穀道，運法如前。</p>
<p>（愚按：人之氣，即天地之氣。故天氣不交於地，乾坤或幾乎息矣。人之所以當運其氣者，亦體天地交泰之義也。先提穀道，勿使泄也。自背至頂，使相交也。想丹田，使歸根也。不惟有療病之功，抑且多延年之效。何況於無病乎？況微病乎？是名曰修養。）</p>

<h2>固精法</h2>
<p>《金丹秘訣》云：一擦一兜，左右換手，九九之數，真陽不走。每於戍亥二時，陰旺陽衰之候，宜解衣閉息，一手兜外腎，一手擦臍下，左右換手，各兜擦九九之數，仍盤膝端坐，手齒俱固。先提玉莖，如忍小便狀，想我身中元精，自尾閭升上，直至泥丸，復過鵲橋，降至丹田，每行七次，精自固矣。</p>
<p>（愚按：精者，人身真元之氣，五官百骸之主，而神魂附之，以生者也。夫神猶火也，精猶油也，油盡則燈滅，精竭則神亡。故精由氣生，神由精附。固精之法，宜急講也，半月固精，久行愈佳。）</p>

<h2>定神法</h2>
<p>人身入神，出入固無定在。迨病者，窮思極想，又有甚焉。若能行功，則神隨氣轉，不慮其他出，否則難乎其有定在也。故恆時必須常想玄關，思睡必須常想鼻準，如是則神不外馳而定矣。</p>
<p>（愚按：神外無心，心外無道，道即神之主，心即神之宅也。然心外無道，故收放心，即神定而道在。孟子謂：學問之道無他，求其放心而已。夫放心而知求，則志氣清明，義理昭著。此定神之功驗也。今之養病者，日思丹田，思鼻準，亦收放心之法也。不曰收放心，而曰定神。蓋遊心千里，無有定在，此皆神之外出，故曰定神。以上三條，乃卻病修養之大綱，外有導引等法，詳具於後。）</p>

<h2>十二段動功</h2>
<p><u>叩齒一</u>　齒為筋骨之餘，常宜叩擊，使筋骨活動，心神清爽。每次叩擊三十六數。</p>
<p><u>咽津二</u>　將舌舐上齶，久則津生滿口，便當咽之，嚥下嘓然有聲，使灌溉五臟，降火甚捷。咽數以多為妙。</p>
<p><u>浴面三</u>　將兩手自相摩熱，覆面擦之，如浴面之狀，則鬚髮不白，即升冠鬢不斑之法，顏如童矣。</p>
<p><u>鳴天鼓四</u>　將兩手掌掩兩耳竅，先以第二指壓中指，彈腦後骨上，左右各二十四次，去頭腦疾。</p>
<p><u>運膏肓五</u>　此穴在背上第四椎下，脊兩旁各三寸。藥力所不到，將兩肩扭轉二七次。治一身諸疾。</p>
<p><u>托天六</u>　以兩手握拳，以鼻收氣運至泥丸，即向天托起，隨放左右膝上，每行三次。去胸腹中邪氣。</p>
<p><u>左右開弓七</u>　此法要閉氣，將左手伸直，右手作攀弓狀，以兩目看右手，左右各三次。瀉三焦火，可以去臂腋風邪積氣。</p>
<p><u>摩丹田八</u>　法將左手托腎囊，右手摩丹田，三十六次。然後左手轉換如前法，暖腎補精。</p>
<p><u>擦內腎穴九</u>　此法要閉氣，將兩手搓熱，向背後擦腎堂及近脊命門穴，左右各三十六次。</p>
<p><u>擦湧泉穴十</u>　法用左手把住左腳，以右手擦左腳心，左右交換，各三十六次。</p>
<p><u>摩夾脊穴十一</u>　此穴在背脊之下，大便之上，統會一身之氣血，運之大有益，並可療痔。</p>
<p><u>灑腿十二</u>　足不運則氣血不和，行走不能爽快，須將左足立定，右足提起，灑七次，左右交換如前。</p>
<p>右十二段，乃運導按摩之法，古聖相傳，卻病延年，明白顯易，盡人可行。莊子曰：呼吸吐納，熊經鳥伸，為壽而已矣。此導引之士，養形之人，彭祖壽考者之所好也。由是傳之至今，其法自修養家書及醫經所載，種數頗多，又節取要約，切近者十六則，合前十二段參之，各法大概備矣。</p>
<p>凡行功每於子後寅前，此時氣清腹虛，行之有效。先須兩目垂簾，披衣端坐，兩手握固趺坐，當以左足後跟，曲頂腎莖根下動處，不令精竅漏泄耳。兩手當屈兩大指抵食指根，餘四指捻定大指，是為兩手握固。然後叩齒三十通，即以兩手抱項，左右宛轉二十四次。（此可去兩脅積聚之邪）。復以兩手相叉，虛空托天，反手按頂二十四。（此可除胸膈中病）。復以兩手心掩兩耳，卻以第二指彈腦後枕骨二十四。（此可除風池邪氣）。復以兩手相促，按左膝左捩身，按右膝右捩身，各二十四。（此可去肝家風邪）。復以兩手一向前一向後，如挽五石弓狀，二十四次。（此可去臂腋積邪。）復大坐展兩手扭項，左右反顧，肩膊隨，二十四次。（此可去脾胃積邪）。復以兩手握固，並拄兩肋，擺撼兩肩，二十四。（此可去腰脅間之風邪）。復以兩手交捶臂及膊，反捶背上連腰股，各十四。（此可去四肢胸臆之邪）。復大坐斜身偏倚，兩手齊向上如排天狀，二十四，（此可去肺家積聚之邪。）復大坐伸足，以兩手向前，低頭扳足十二次。卻鉤所伸足，屈在膝上，按摩二十四。（此可去心包絡間邪氣）。復以兩手據地，縮身曲脊，向上十二舉。（此可去心肝二經積邪）。復以起立據床，拔身向背後視，左右各二十四。（此可去腎間風邪）。復起立徐行，兩手握固，左足前踏，左手擺向前，右手擺向後；右足前踏，右手擺向前，左手擺向後，二十四。（此可去兩肩俞之邪）。復以手向背上相捉，低身徐徐宛轉，二十四。（此可去兩肋之邪）。復以足相扭而行，前進十數步，後退十數。復高坐伸足，將兩足扭向內，復扭向外，各二十四。（此兩條，可去兩膝兩足間風邪）。行此十六節訖，復端坐垂簾，握固冥心，以舌舐上齶，攪取華池神水漱三十六次，作嘓嘓聲嚥下，復閉氣，想丹田之火自下而上，遍燒身體內外，蒸熱乃止。</p>
<p>（愚按：老子導引四十二勢，婆羅門導引十二勢，赤松子導引十八勢，鍾離引八勢，胡見素五熟導引法十二勢，在諸法中頗為妙解。然撮其功要，不過於此。學者能日行一二遍，久久體健身輕，百邪皆除，不復疲倦矣）。</p>

<h2>四時攝生篇</h2>
<p>凡人在氣交之中，呼吸出入皆接天地之氣。故風寒暑濕，四時之暴戾，偶一中人，壯者氣行自愈，怯者則留而為病。宜隨時加攝，使陰陽中度，是謂先幾防於未病。</p>
<p>春風陽氣閉藏於冬者，漸發於外，故宜發散以暢陽氣。《內經》曰：春三月，此謂發陳，天地以生，萬物以榮。夜臥早起，廣步於庭。被髮緩形，以使志生。生而勿殺，予而勿奪，賞而勿罰。此春氣之應，養生之道也，逆之則傷肝，夏為寒變。故人當二月以來，摘取東引桃枝並葉各一握，水三碗，煎取兩碗，空心服之，即吐卻心膈痰飲宿熱。春深稍宜和平將息，綿衣晚脫，不可令背寒，寒即傷肺，鼻塞咳嗽。如覺熱即去之，冷則加之、加減俱要早起之時。若於食後日中，防恐感冒風寒。春不可衣薄，令人傷寒霍亂，消渴頭痛。春凍未泮，衣欲下厚而上薄。</p>
<p>夏三月，人身陽氣發外，伏陰在內，是精神疏泄之時，特忌下利以泄陰氣。《內經》曰：夏三月，此謂蕃秀，天地氣交，萬物華實。夜臥早起，無厭於日，使志無怒，使英華成實，使氣得泄，若愛在外，此夏氣之應，養長之道也。逆之則傷心，秋為痎瘧。故人常宜宴居靜坐，節減飲食嗜欲，調和心志。此時心旺腎衰，精化為水，至秋乃凝，尤須保嗇以固陰氣。常宜食熱物，使腹溫暖，如爪果、生冷、冰水、冷淘、豆粉、蜂蜜，尤不可食，食多秋時必患瘧痢，勿以冷水沐浴並浴面及背，使人得虛熱目病，筋脈厥逆，霍亂陰黃等疾。勿當風臥，勿眠中令人扇，汗出毫孔開，風邪易入，犯之患風痹不仁，手足不遂，言語蹇澀。年壯或不即病，已種病矣。氣衰者，未有不桴鼓相應者。酒後尤當禁之。</p>
<p>秋三月，陽氣當斂，不宜吐及發汗，犯之令人臟腑消爍。《內經》曰：秋三月，此謂容平，天氣以急，地氣以明，早臥早起，與雞俱興，使志安寧，以緩秋形。收斂神氣，使秋氣平，無外其志，使肺氣清。此秋氣之應，養收之道也，逆之則傷肺，冬為飧泄。若知夏時多食瓜果涼物，宜以童便二碗，大腹檳榔五枚，細切水煎八分，生薑汁一分，和雪水三分，作兩空早服。瀉兩三行，一夏所食冷物及膀胱宿水，悉為驅逐，不能為患。雖老年者亦宜服。如小心加慎飲食者，可不必也。瀉後以薤白粥同羊腎空心服之，勝如補劑。</p>
<p>冬三月，天地閉，氣血藏，伏陽在內，心膈多熱，切忌發汗以泄陽氣。《內經》曰：冬三月，謂之閉藏，水冰地坼，無擾乎陽。早臥晚起，必待日光，使志若伏若匿，若有私意，若己有得。去寒就溫，無泄皮膚，使氣亟奪。此冬氣之應，養藏之道也，逆之則傷腎，春為痿厥。故人當服浸酒藥以迎陽氣，雖然亦不可過暖，綿衣當晚著，使漸漸加厚，即大冷不宜向火烘炙，恐損目，且手足心能引火入內，令人心臟燥，血液耗。衣服亦不太炙，冬月天寒，陽氣內藏，若加以炙衣重裘，向火醉酒，則陽太甚矣，如遇春寒，閉塞之久，不與發散，至春夏之交，陰氣既入，不能攝運陽氣，致有時行熱症，甚而譫妄狂越，皆由冬月不善保陰之故。務宜自愛，寒熱適中，此為至要，乃攝生之大法也。</p>

<h2>十二時無病法</h2>
<p>潔一室穴南牖，八窗通明，勿多陳列玩器，引亂心目。設廣榻長几各一，筆硯焚楚，旁設小几一，掛字畫一幅，頻換。几上置得意書一二部，古帖一本，香爐一，茶具全。心目間常要一塵不染。</p>
<p><u>醜寅</u>　時，精氣發生之候，勿濃睡，擁衾坐床，呵氣一二口，以出濁氣。將兩手搓熱，擦鼻兩旁及熨兩目五七遍；更將兩耳揉卷，向前後五七遍，以兩手抱腦，手心恰掩兩耳，用食指彈中指，擊腦後各二十四，左右聳身，舒臂作開弓勢五七遍；後以兩股伸縮五七遍；叩齒七七數；漱津滿口，以意送下丹田，作三口咽。清五臟火，少息。</p>
<p><u>卯</u>　見晨光，量寒溫穿衣服，起坐明窗下，進百滾白湯一甌，勿飲茶，櫛發百下，使疏風散火，明目去腦熱。盥漱畢，早宜粥，宜淡素，飽摩腹，徐行五六十步。取酒一壺，放案頭，如出門先飲一二杯。昔有三人，皆冒重霧行，一病一死一無恙。或問故，無恙者曰我飲酒，病者食，死者空腹。是以知酒力辟邪最勝。不出門或倦，則浮白以助其氣。</p>
<p><u>辰巳</u>　二時，或課兒業，或理家政，就事歡然，勿以小故動氣。杖入園林，督園丁種植蔬果，芟草灌花蒔藥。歸來入室，閉目定神，咽津約十數口。蓋亥字以來，真氣至，巳午而微，宜用調息以養之。</p>
<p><u>午</u>　餐量腹而入，食宜美。美非水陸畢具，異品殊珍。柳公度年八十九，嘗語人曰：我不以脾胃熟生物，暖冷物，軟硬物。不生、不冷、不硬，美也。又勿強食，當飢而食，食勿過飽，食畢起行百步。摩腹又轉手摩腎堂令熱，使水土運動，汲水煎茶。飲適可，勿過多。</p>
<p><u>未</u>　時就書案，或讀快書，怡悅神氣，或吟古詩，暢發悠情。或知己偶聚，談勿及閫，勿及權勢，勿臧否人物，勿爭辨是非，當持寡言養氣之法。或共知己閒行百餘步，不衫不履，頹然自放，勿從勞苦殉禮節。</p>
<p><u>申</u>　時點心，用粉面一二物，或果品一二物，弄筆臨古帖，撫古琴，倦即止。</p>
<p><u>酉</u>　時宜晚餐勿遲，量飢飽勿過，小飲勿醉，陶然而已。《千金方》云：半醉酒，獨自宿，軟枕頭，暖蓋足。言最有味。課子孫一日程，如法即止，勿苛。</p>
<p><u>戌</u>　時篝燈，熱湯濯足，降火除濕，冷茶漱口，滌一日飲食之毒。默坐，日間看書得意處，復取閱之，勿多閱，多傷目，亦勿多思。鄭漢奉曰：思慮之害，甚於酒色。思慮多則心火上炎，火炎則腎水下涸，心腎不交，人理絕矣。故少思以寧心，更闌方就寢。湧泉二穴，精氣所生之地，寢時宜擦千遍。榻前宜燒蒼朮諸香，以闢穢氣及諸不詳。</p>
<p><u>亥子</u>　時，安睡以培元氣，身必欲側，屈上一足。先睡心，後睡眼，勿想過去、未來、人我等事。惟以一善為念，則怪夢不生，如此御氣調神，方為自愛其寶。</p>

<h2>靜功六字卻病法</h2>
<p>六字出息，治病之旨。常道從正，變道從權。</p>
<p><u>噓</u>　應肝　春行之　肝病行之</p>
<p><u>呵</u>　應心　夏行之　心病行之</p>
<p><u>呼</u>　應脾　四季行之　脾病行之</p>
<p><u>呬</u>　應肺　秋行之　肺病行之</p>
<p><u>吹</u>　應腎　冬行之　腎病行之</p>
<p><u>噫</u>　應三焦　熱病行之</p>
<p>上六字訣，《道藏玉軸經》云：言世人五臟六腑之氣，因五味熏灼，又被七情六慾所亂，積久成患，以致百骸受病。故太上憫之，以六字氣訣，治五臟六腑之病。其法行時宜靜室中，暖帳厚褥，盤足趺坐，將前動功略行一次。初學靜功，恐血脈不利，故先行動功，後及靜功。若七日後，不必行動功。行動功畢，即閉固耳目口齒，存想吾身。要身似冰壺，心如秋月，良久待其呼吸和，血脈定，然後口中微放濁氣一二口，然後照前節令行之。</p>
<p>假如春月，須低聲念噓字，不可令耳聞。聞即氣粗，粗恐氣泄耳。放噓字氣盡，即以鼻收清氣，入於本經，仍及丹田。一收一放，各二十四，或三十六。余仿此。乃時令運行之常道也。</p>
<p>假如秋月患目疾，應乎肝，當行噓字。又如春患虛黃，當行呼字，此乃權變病應之法也。</p>
<p>獨肺部之疾，肺本主氣，不得行此法。宜專行咽津功夫，降火甚捷。</p>
<p>（凡修此道，須擇子日子時起首，二十七日為期。如耳聾、虛勞、臌膈之症，頓然自愈。行之既久，腹中自聞漉漉有聲，內視自有一種景象，百病除而精神充矣。至於煉精化氣，爍氣化神，煉神還虛，則又向上功夫；茲不具述。）</p>

<h2>念六字口訣歌</h2>
<p>肝若（噓）時目睜開，肺如（呬）氣雙手擎，心（呵）頂上連叉手，腎（吹）抱取膝頭平，脾病（呼）時須撮口，三焦客熱臥（嘻）寧。</p>

<h2>四季卻病六字決</h2>
<p>春（噓）明目大扶肝，夏至（呵）心火自閒，秋（呬）定知肺金潤，冬（吹）惟令腎中安，三焦（嘻）卻除煩熱，四季常（呼）脾化餐。切忌出聲聞口耳，其功尤勝保神丹。</p>

<h2>調息</h2>
<p>調息一法，貫徹三教。大之可以入道，小用亦可以養生。靜功之最上一乘法也，故迦文垂教，以視鼻端白數出入息，為止觀初門。莊子《南華經》曰：至人之息以踵大易。隨卦曰：君子以嚮晦入宴息。王龍溪曰：古之至人，有息無睡，故曰嚮晦入宴息。宴息之法，當嚮晦時，耳無聞，目無見，四體無動，心無思慮，如種火相似。元天元神元氣，停育相抱，真意綿綿。老子曰綿綿若存是也。其開合自然，與虛空同體，故能與虛空同壽也。世人終日營營，精神困敗，藉此夜間一睡，始彀日間之用。不能調之，一點光明，盡被後天塵濁所蔽，是謂陽陷於陰也。</p>
<p>調息之法，不拘時候，平身端坐，解衣緩帶，務令適然，口中舌攪數次，微微吐出濁氣，不令有聲，鼻中微微納之，或三五遍，二七遍。有津嚥下，叩齒數通，舌抵上齶，唇齒相著，兩目垂簾，令朧朧然，漸次調息，不喘不粗，或數息出，或數息入。從一至十，從十至百，攝心在數，勿令散亂，如心息相依，雜念不生，則止勿數，任其自然，坐久愈妙。若欲起身，須徐徐舒放，手足勿得遽起，能勤行之，靜中光景，種種奇特，直可明心見性，不但養身全生而已。出入綿綿，若存若亡，神氣相依，是為真息，息息歸根，自能奪天地之造化，長生不死之妙道也。</p>
<p>蘇子瞻《養生頌》云：已飢方食，未飽先止，散步逍遙，務令腹空。當腹空時即便入室，不拘晝夜，坐臥自便，唯在攝身。使如木偶，常自念言，我今此身，若少動搖，如毫髮許，便墜地獄，如商君法，如孫武令，事在必行，有死無犯。又用佛言及老子曰：視鼻端白數出入息，綿綿若存，用之不勤，數至數百，此身寂然，此身兀然，與空虛等，不煩禁制，自然不動。數至數千，或不能數，則有一法，強名曰：隨與息俱出，復與俱入，隨之不已。一旦自住，不出不入，忽覺此息從毛竅中八萬四千，云蒸雨散，無始以來，諸病自除，諸障自滅，定能生慧，自然明悟。譬如盲人忽然有眼，此時何用求人指路！是故老人言盡於此。</p>
<p>小周天法：先將身心澄定，面東趺坐，平坐亦可，但前膝不可低，腎子不可著物。呼吸和平，以手作三昧印，掐無名指，右掌加左掌上，按於臍下，叩齒三十六通，以集心神，赤龍攪海，內外三十六遍。赤龍，舌也；內外，齒內外也。雙目隨舌運轉，舌抵上齶，靜心數息，三百六十周天畢，待神水滿，漱津數遍，用四字訣。（攝提穀道，舌抵上齶，目閉上視，鼻吸莫呼。）從任脈撮過穀道，到尾閭，以意運送，徐徐上夾脊中關，漸漸速些，閉目上視，鼻吸莫呼，撞過玉枕（頸上腦後骨），將目往前一忍，直轉崑崙（頭頂），倒下鵲橋（舌），分津送下重樓入離宮（心也），而至氣海（臍下穴也）。略定一定，復用前法，連行三次，口中之津，分三次嚥下，所謂天河水逆流也。靜坐片時，將手左右擦丹田一百八下，連臍抱住，放手時，將衣被臍腹間圍住，勿令風入。（古所謂養得丹田暖暖熱，此是神仙真妙法）。次將大指背擦熱，拭目十四遍，去心火，擦鼻三十六遍，潤肺；擦耳十四遍，補腎；擦面十四遍，健脾。兩手掩耳鳴天鼓，徐徐將手往上，即朝天揖，如是者三，徐徐呼出濁氣四五口。鼻收清氣，兩手抱肩，移筋換骨數遍，擦玉枕關二十四下，擦腰眼（即腎堂）一百八下，擦足心（即湧泉）各一百八下，謂之一周。久久行之，精神強旺，百病不生，長生耐老。</p>

<h2>清心說</h2>
<p>夫既行運氣功夫，又加以動功，再及靜功，則胸膈舒泰，氣血流行，宿疾沉疴，為之頓去。但此心不清，或預料將來，或追悔已往，或為錢財，或為聲色，或為意氣，種種妄想，纏綿糾結，雜亂其心，則欲火內生，氣血復乖，前功盡廢矣。病者於是時當自想曰：曏者我病篤時，九死一生，幾為塵下之土，無復立人間世矣。今幸得再生，此餘生也。聲色貨利，皆身外之餘物，至於意氣爭執，尤覺無謂。兒孫自有兒孫福，更無纖毫牽掛。一切世味淡然漠然，但得自在逍遙，隨緣度日足矣。即此卻病之方，即此延年之藥，又曰：錢財所以養生，若貪取之，必致傷生，聲色所以悅心，若過戀之，必致損身；意氣所以自高，若爭競之，反取自辱；酒肉所以適口，若沉酣之，反能為害。故曰：酒色財氣傷人物，多少英雄被他惑，若能打退四凶魔，便是九霄雲外客。</p>
<p>又曰：一人之身，一國之象也。胸臆之間，猶宮府焉；肢體之位，猶郊境焉，骨節之分，猶四衢焉；血脈之道，猶百川焉；神猶君也；精猶臣也；氣猶民也。故至人能理其身，猶人君能治其國。愛民安國，愛氣全身。民弊國亡，氣衰身謝。故善養生者，先除六害。一曰薄名位，二曰廉貨財，三曰少色欲，四曰減滋味，五曰屏虛妄，六曰除嫉妬。如六者尚存，不能自禁，即真經空念，其如衰朽，安得挽乎！</p>

<h2>修養余言</h2>
<p>孫真人曰：人年四十以上，勿食瀉藥。人有所怒，血氣未定，若交合，令人發癰疽。</p>
<p>遠行疲乏入房，成五勞，少子。忍小便膝冷成淋。忍大便成氣痔。水銀不可近陰，鹿豕二脂不可近陰，皆令人陰痿。養生者，發宜多梳，面宜常擦。目宜常運，耳宜常筌。</p>
<p>舌宜抵齶。齒宜常叩。津宜常咽，背宜常暖，胸宜常護，腹宜常摩。穀道宜常撮，足宜常擦湧泉。一身皮膚，宜常干浴。大小便，宜咬齒勿言。又須省多言，省筆札，省交遊，省妄想。所一息不可省者，居敬養心耳。飢勿過飽，飽食成癖病。飽食夜臥失覆，多霍亂。時病瘥，勿食膾，成痢。食膾勿食乳酪，成蟲病。食兔肉勿食姜，成霍亂。勿食父母本命所屬之肉，欲令壽永。勿食自己本命所屬肉，欲令魂魄安寧。勿食一切腦，恐損神。勿食盤面上眾人先用物。成結氣。凡食畢漱口數過，令人齒固。凡食皆熟勝生，少勝多。春天不可衣薄，令傷寒霍亂。濕衣汗衣勿著，令發瘡瘍。夜臥頭勿向北，並勿近火爐，恐損目。夜臥常習閉口，開則氣耗，又恐異氣入口，慎之。凡入夢魘，不得燃燈喚之，亦不可近而急喚。夜夢惡勿說，旦起口含涼水，向東噀之，咒曰：惡夢著草木，好夢成珠玉。即解。凡夢善惡勿說獲吉。居處切防令有小隙，小隙之風最劣，勿忍急避。凡在家在外，忽遇大風大雨，震雷昏霧，必是諸煞鬼神經過，宜入室閉戶，燒香恭默，過後乃出，否則恐招損獲咎。《瑣碎錄》云：臥處不可以首近火，恐傷腦，亦不可當風，恐患頭風。背受風則嗽，肩受風則臂疼。善調攝者，雖盛暑不當風及坐臥露下。</p>
<p>又云：戒酒後語，忌食時嗔，忍難忍事，怒不明人，口腹不節，致病之因，念慮不正，殺身之本。</p>
<p>又曰：酒不顧身，色不顧病，財不顧親，氣不顧命。當其未值，孰不明知，亦能勸人，及到自臨其境，仍復昏迷，當此之時，再思猛省。</p>
<p>《楊廉夫集》有路逢三叟詞云：上臾前致詞，大道抱天全；中叟前致詞，寒暑每節宣；下叟前致詞，百歲半單眠。嘗見後山詩中一詞亦此意，蓋出應璩，璩詩曰：昔有行道人，陌上見三叟，年各百歲余，相與鋤禾莠。往前問三叟，何以得此壽？上叟前致詞，室內姬粗醜，二叟前致詞，量腹節所受；下叟前致詞，夜臥不覆首。要哉三叟言，所以能長久。</p>
<p>保養之道，無過在於平日飲食男女之間，能自節愛，即是省身修德。若恣肆無忌，即是過惡，潛滋暗長，甚則疾病應之。雖因風寒外感，或緣內傷七情，實由人違犯聖教，以致魂魄相離，精神失守，肌體空疏，百骸不遂，風寒邪氣，得以中入。若有德者，雖處幽暗，不敢為非，雖居榮祿，不敢為惡，量體而衣，隨分而食，雖富貴不敢恣欲，雖貧賤不敢強求，是以外無殘暴，內無疾病也。蓋心內澄，則真神守其位；氣內定，則邪穢去其身。行欺詐，則神昏；行爭競，則神沮。輕侮於人，必減算；殺害於物，必傷年。行一善則神魂歡，作一惡則心氣亂。人能寬泰自居，恬淡自守，則形神安靜，災病不生，福壽永昌，由茲伊始。</p>
<p>人之遘疾者，始於心，忘其身，而病生，繼則過患其身，而病不去。忘身者，在康強時，不擇味而飽，不擇風而裸，不擇時而色，不擇醒而醉，不擇里而趨，不擇性而喜怒哀樂。故病乘吾所弗備，即至也，悔無及。</p>
<p>夫人之涕唾便溺也，必有氣焉以充之而後出，草木之華，鳥獸之羽毛也，亦必有脈焉以貫之而後榮，是故氣脈之貴乎養也。</p>
<p>已上諸仙垂訓，皆卻病良方，延年妙快，雖非金丹大旨，然由此而進，未嘗不可以入道也。嗣有大周天三煉要旨。容圖災木，就正宇內。</p>

<h1>卷下</h1>

<h2>服藥須知</h2>
<p>夫病之所由來，因放逸其心，逆於生樂，以精神殉智巧，以憂患殉得失，以勞苦殉禮節，以身世殉財利。四殉不置，心為之病也。極力勞形，躁暴氣逆，當風飲酒，食嗜辛鹹，肝為之病矣。飲食失節，溫涼失度，久坐久臥，大飽大飢，脾為之病矣。呼叫過常，辨爭陪答，冒犯寒暄，恣食酸鹹，肺為之病矣。久坐濕地，強力涉遠，縱欲勞形，三田漏溢，腎為之病矣。五病即作，故未老而羸，未羸而病，病至則重，重則必斃。嗚呼！是皆弗思而自取之也。今既病矣，而後藥之，得非臨渴掘井乎！然必以慎起居，戒暴怒，簡言語，清心寡營，輕得失，收視聽，節飲食，忌肥濃、炙煿、生冷。凡食勿頓而多，任可少而頻，食不欲急，急則傷脾，法宜細嚼緩咽，勿太熱，勿太冷，又不得雜，雜則物性或有相反，則脾與胃不大可慮哉！苟能慎之，服藥自效。設仍率性任情，不守戒忌，豈特藥力無功，而其疾更劇矣，是不可不慎。</p>

<h2>煎藥有法</h2>
<p>慎用水。按方書所載。</p>
<p><u>長流水</u>　即千里水，但當取其流長而來遠耳。不可泥於千里之外者，以取其來遠通達。用以煎治手足四肢病，及通利二便之藥也。</p>
<p><u>急流水</u>　湍上峻急之流水也，以其急速而達下，取以煎利二便及足脛之風濕藥也。</p>
<p><u>順流水</u>　其性順而下流，故亦取治下焦腰膝之病，及二便之藥也。</p>
<p><u>逆流水</u>　慢流洄瀾之水也，以其逆而倒流，取其調和發吐痰飲之藥也。</p>
<p><u>半天河水</u>　即長桑君授扁鵲飲以上池之水，乃竹籬藩頭管內所盛之水也，取其自天而降，未受下流重濁之氣，故可以煉還丹、調仙藥之用。</p>
<p><u>春雨水</u>　立春日，空中以器盛接之水，其性始得春升生髮之氣，可以煎補中氣及清氣不升之劑。古方謂婦人無子者，於立春日清晨，以器盛空中之雨水，或是日百草曉露之水，夫妻各飲一杯，還房當即有孕，取其資始資生，發育萬物之意耳。</p>
<p><u>秋露水</u>　其性稟收斂肅殺之氣，取煎祛祟之藥，及調敷蟲疥癬瘡風癩之用。</p>
<p><u>井華水</u>　清晨井中第一汲者，其天一真元之氣浮結水面，取煎滋陰之劑及修煉丹藥之用。</p>
<p><u>新汲水</u>　井中新汲未入缸甕者，取其無所混濁，用以煎藥為潔。</p>
<p><u>甘瀾水</u>　以器盛水，又以器揚濯之，使其珠沫盈於水面，約以百次為度，取其性變溫柔，能理傷寒陰症。</p>
<p><u>潦水</u>　即無根水，山谷中無人處，新坎中水也，取其性止而不流，且有土氣，清者可煎調脾胃補中氣之劑。</p>
<p><u>冬霜水</u>　陰盛則露結而為霜，霜能殺物，性隨時異也。解酒毒，治熱病。收霜法，雞羽刷，貯瓶密封候用，一方治寒熱症，秋霜一錢，熱酒送下，奇效如神。</p>
<p><u>臘雪水</u>　冬至後第三戊為臘，其水解時疫丹石毒。煎茶煮粥，止消渴，洗目赤如神，及調和殺蟲藥用。</p>
<p><u>陰陽水</u>　即生熟水，新汲水合百沸湯，和勻是也。入燒鹽飲之，消醉飽過度。霍亂肚脹者，飲一二升，吐出痰食即痊。凡霍亂嘔吐，不能令納食，其勢危者，先飲數口即定。</p>
<p><u>菊英水</u>　蜀中有長壽源，其源多菊花，而流水皆菊花香，居人飲其水者，壽皆二三百歲。故淵明好植菊花。日採其華英浸水烹茶，期延年也。夫《本草》雖有諸水之名，而未及其用，今特表而出之。</p>
<p>按《千金方》云：煎人參鬚用流水，用止水即不驗。今甚有宿水煎藥，不惟無功，恐有蟲毒，陰氣所侵，益蒙其害。即滾湯停宿者，浴面無顏色，洗身成癬。已上諸水，各有所宜，臨用之際，宜細擇焉。</p>
<p>慎火候，按方書所載。</p>
<p><u>桑柴火</u>　桑木能利關節，養津液，得火則良。《抱朴子》云：一切仙藥，不得桑煎不服。桑乃箕星之精，能助藥力，除風寒痹痛。久服不患風疾故也。</p>
<p><u>櫟炭火</u>　宜煅煉一切金石之藥，以其堅也。</p>
<p><u>金粟火</u>　即粟米殼也，煅煉丹藥用。</p>
<p><u>烰炭火</u>　宜烹煎焙炙百藥丸散。</p>
<p><u>白炭</u>　誤吞金銀銅鐵在腹，燒紅急為末煎湯呷之，甚者刮末一錢，井水調服，未效再服。又解水銀輕粉毒。</p>
<p><u>石炭</u>　今西北所燒之煤即是，不入藥用。</p>
<p><u>蘆荻火</u>　竹火　宜煎一切滋補藥。</p>
<p>按火有文武。從容和緩，不疾不徐，文火也。恐熾焰沸騰，則藥汁易涸，氣味不全耳，並用紙蘸水封器口煎之。如煎探吐痰飲之劑，當用武火，取其急速而發吐之也。</p>
<p>慎煎器。必用砂銚瓦罐。如富貴家，淨銀之器，煎之更妙。切忌油穢腥氣，銅、錫、鐵鍋。或煎過他藥者，必滌潔淨。器口用紙蘸水封之。</p>
<p>慎煎藥之人。有等魯莽者，不按水火，率意煎熬，或藥汁太多而背地傾藏，或過煎太少而私攙茶水，供應病人，惟圖了事。必擇謹慎、能識火候者，或親信骨肉，按法煎造。其去渣必用新絹濾淨，取清汁服。</p>
<p>慎服藥。凡病在胸膈以上者，先食而後藥；病在心腹以下者，先藥而後食；病在四肢血脈者，宜飢食而在旦；病在骨髓者，宜飽食而在夜。在上不厭頻而少，在下不厭頻而多。少服則滋潤於上，多服即峻補於下，其藥氣與穀氣不欲相逢，食氣下則服藥，藥氣退則進食，有食前食後服，宜審此意。</p>

<h2>服藥忌食</h2>
<p>凡服藥，不可雜食肥膩、魚酢、陳羹、犬豕諸肉，及胡荽、生蒜、蔥韭、生菜、瓜果、生冷、滑滯之物。並忌見死屍、產婦、淹穢等事。</p>
<p><u>有蒼朮</u>　忌桃、李、雀肉、青魚、蛤、菘菜。</p>
<p><u>有黃連、胡黃連</u>　豕肉、冷水並忌。</p>
<p><u>有甘草</u>　忌豕肉、海菜、菘菜。</p>
<p><u>有桔梗、遠志、烏梅</u>　忌豕肉、冷水、生蔥。</p>
<p><u>有地黃、何首烏</u>　忌一切血、蔥、蒜、菜菔。</p>
<p><u>有半夏、菖蒲、補骨脂</u>　忌羊肉、飴糖。</p>
<p><u>有細辛、常山</u>　忌生菜、生蔥。</p>
<p><u>有丹參、茯神、茯苓</u>　忌一切酸味物並醋。</p>
<p><u>有牡丹皮</u>　忌胡荽、蒜。</p>
<p><u>有仙茅、牛膝</u>　忌牛乳、羊肉。</p>
<p><u>有蒼耳</u>　忌豕肉</p>
<p><u>有吳茱萸</u>　忌豕心、肺、豕肉、慈姑。</p>
<p><u>有荊芥</u>　忌河豚，一切魚蟹。</p>
<p><u>有二冬</u>　忌鯉魚、鯽魚。</p>
<p><u>有鱉甲</u>　忌莧菜。</p>
<p><u>有澤瀉</u>　忌海蛤。</p>
<p><u>有枸杞、萆薢</u>　忌牛肉、牛乳。</p>
<p><u>有肉桂、蜂蜜</u>　忌蔥。</p>
<p><u>有厚朴、蓖麻</u>　忌炒豆。</p>
<p><u>有巴豆</u>　忌冷水。</p>
<p><u>有薄荷</u>　忌鱉肉。</p>
<p><u>有紫蘇、丹參、龍骨</u>　忌鯉魚。</p>
<p><u>有商陸</u>　忌犬肉。</p>
<p><u>有當歸</u>　忌濕面。</p>
<p><u>有附子、烏頭、天雄</u>　忌豉汁、稷米。</p>
<p><u>有土茯苓、威靈仙</u>　忌茶、麵湯。</p>
<p><u>有陽起、雲母、鍾乳、礬石、硇砂</u>　並忌羊血。</p>

<h2>飲食禁忌節要</h2>
<p>（不可同食）</p>
<p><u>食豬肉</u>　忌薑、羊肝。</p>
<p><u>豬肝</u>　忌魚酢。</p>
<p><u>豬心肺</u>　忌飴。</p>
<p><u>羊肉</u>　忌梅子、酢。</p>
<p><u>羊心、肝</u>　忌椒、筍。</p>
<p><u>犬肉</u>　忌蒜、魚。</p>
<p><u>牛肉</u>　忌薑、栗子。</p>
<p><u>牛肝、牛乳</u>　忌魚。</p>
<p><u>雞肉、雞子</u>　同忌蒜、蔥、芥、李。</p>
<p><u>鴨子</u>　忌李。</p>
<p><u>鵪鶉</u>　忌菌、木耳。</p>
<p><u>雀肉</u>　忌李、醬。</p>
<p><u>鯉魚</u>　忌雞、豬肝、葵菜。</p>
<p><u>鯽魚</u>　忌豬肝、蒜、雞、糖。</p>
<p><u>魚酢</u>　忌綠豆、醬。</p>
<p><u>黃魚</u>　忌蕎麥。</p>
<p><u>鱸魚</u>　忌乳酪。</p>
<p><u>鱘魚</u>　忌干筍。</p>
<p><u>蟹</u>　忌柿、橘、棗。</p>
<p><u>蝦子</u>　忌雞、豕。</p>
<p><u>李子</u>　忌蜜。</p>
<p><u>棗</u>　忌蔥、魚。</p>
<p><u>韭</u>　忌牛肉、蜜。</p>
<p><u>梅子</u>　忌豕肉。</p>
<p><u>胡荽、炒豆</u>　忌豕肉。</p>
<p><u>莧菜</u>　忌鱉。</p>
<p><u>楊梅</u>　忌蔥。</p>
<p><u>蕎麥</u>　忌豕、羊、雉肉、黃魚。</p>
<p><u>黍米</u>　忌牛肉、葵菜、蜜。</p>
<p><u>綠豆</u>　忌榧子，能殺人，魚酢。</p>

<h2>病有十失</h2>
<p>驕恣率性，不遵戒忌，一也。</p>
<p>輕命重財，治療不早，二也。</p>
<p>聽信巫禱，廣行殺戮，不信醫藥，三也。</p>
<p>諱疾試醫，言不由中，四也。</p>
<p>不善擇醫，信人譭譽，或從蓍卜，五也。</p>
<p>急欲速效，旦暮更張，雜劑亂投，六也。</p>
<p>索即寫方，制炮失宜，私自加減，七也。</p>
<p>侍奉不得人，煎丸失法，怠不精詳，八也。</p>
<p>寢興不適，飲食無度，九也。</p>
<p>過服湯藥，盪滌腸胃，十也。</p>

<h2>病有八不治</h2>
<p>室家乖戾，處事不和，動成荊棘，一也。</p>
<p>恣縱慆淫，不自珍重，二也。</p>
<p>憂思想慕，得失縈懷，三也。</p>
<p>今日預愁明日，一年營計百年，四也。</p>
<p>煩躁暴戾，不自寬慰，五也。</p>
<p>窘若拘囚，無瀟灑志，六也。</p>
<p>怨天尤人，廣生懊惱，七也。</p>
<p>以死為苦，難割難捨，八也。</p>

<h2>卻病十要</h2>
<p>一要靜坐觀空，萬緣放下，當知四大原從假合，勿認此身為久安長住之所，戰戰以為憂也。</p>
<p>二要煩惱現前，以死喻之，勿以爭長較短。</p>
<p>三要常將不如我者，巧自寬解，勿以不適生嗔。</p>
<p>四要造物勞我以生，遇病卻閒，反生慶幸。</p>
<p>五要深信因果，或者夙業難逃，卻歡喜領受，勿生嗟怨。</p>
<p>六要室家和睦，無交謫之言入耳。</p>
<p>七要起居務適，毋強飲食，寧節毋多。</p>
<p>八要嚴防嗜欲攻心，風露侵衣。</p>
<p>九要常自觀察，克治病之根本處。</p>
<p>十要覓高朋良友，講開懷出世之言，或對竹木魚鳥相親，翛然自得，皆卻病法也。</p>

<h2>病有七失不可治</h2>
<p>病有七失不可治者，失於不審，失於不慎，失於不信，失於怠忽過時，失於不擇醫，失於不辨藥，失於自立意見。應補責醫以瀉，畏功責醫欲補；應針欲艾，應灼欲砭。七者之中，有一於此，即為難治。非止醫家之罪，實病家之自誤也。矧有醫不慈仁，病者猜鄙二理，交馳於病，為害者不少。由是言之，醫者不可不慈仁，病者不可多猜鄙，如犯之則招禍。在醫者當以救濟為心，在病家務以精誠篤摯為念，各盡其極，乃治病求愈之大端也。</p>

<h2>老人病不同治法</h2>
<p>常見年高疾患，將同少年混投湯藥，妄行針灸，務欲速愈。殊不知老年之人，血氣已衰，精神減耗，至於視聽不至聰明，手足舉動不隨其志，身體勞倦，頭目昏眩，宿疾時發，或秘或泄，或冷或熱，皆老人之常也。勿緊用針藥，急求痊愈，往往因此別緻危殆。且攻病之藥，或汗或吐，或解或利。緣衰老之人不同年少，年少者真氣壯盛，雖汗吐轉利，未致危殆。其老弱者汗之則陽氣泄，吐之則胃氣逆，下之則元氣脫，立致不可救。此養老之大忌也。大率老人藥餌，止用扶持，只可溫平順氣，進食補虛，中和之劑，不可用市肆購買，他人惠送，未識方味者與之服餌，切須詳審。若有宿疾時發，則隨其疾狀，用和平湯劑調順，三朝五日，自然痊退，惟是調停飲食，隨其食性變饌治之。此最為良法也。</p>

<h2>治婦人病有不能盡法之弊</h2>
<p>治婦人疾，有不能盡聖人之法者。今富貴之家，居奧室之中，處幃幔之內，甚又以帛幪手臂，既不能行望色之神，又不能殫切脈之巧，四者有二缺焉。黃帝曰：凡治病察其形氣色澤。形氣相得，謂之可治，色澤以浮，謂之易已。形氣相失，謂之難治，色夭不澤，謂之難已。又曰：診病之道，觀人勇怯，骨肉皮膚，能知其情，以為診法。若病人脈病不相應，既不得見其形，醫者止據脈供藥，其可得乎！如此言之，烏能盡其術哉！此醫家之公患，世不能革，醫者不得不盡理質問，以憑調治。病家見其所問煩逮，意其脈道不精，往往得藥不服，似此甚多。扁鵲見齊侯之色，尚不肯信，況其不得見者乎，嗟哉！</p>

<h2>妄庸議病</h2>
<p>世有病人親朋故舊，交遊來問疾者，其人曾不經一事，未讀一方，自誇了了，談說異端，或言是虛，或言是實，或云是風，或云是氣。紛紛繆說，種種不同，使亂病人心意，不知孰是。遷延已久，時不待人，欻然致禍，各自走散。設有明醫，識病深淺，探究方書，熟知本草，看病不爾，大誤人事，何況妄議者乎！</p>

<h2>古方無妄用</h2>
<p>鄱陽周順，醫有十全之功，云：古方如《聖惠》、《千金》、《外臺秘要》，所論病原脈症，及針灸法，皆不可廢，然處方分劑，與今大異，不深究其旨者，謹勿妄用。有人得目疾，用古方治之，目遂突出。又有婦人因產病，用《外臺秘要》坐導方，其後反得惡露之疾，終身不瘥。曾有士人得腳弱病，方書羅列，積藥如山，而疾益甚。余今悉屏去，但用杉木為桶，盛水濯足，並令排樟腦於兩股間，以腳繃系定，月餘安健如初。南方多此疾，不可不知。順固名醫，語必不妄，故錄於此。</p>

<h2>草藥不可妄用</h2>
<p>《甲志》云：紹興十九年三月，英州僧希賜，往州南三十里洸口掃塔，有客船自番禺至，舟中士人攜一僕，病腳弱，不能行，舟師憫之曰：吾有一藥，治此病如神，餌之而瘥者，不可勝計。既賽廟畢，飲胙頗醉，乃入山求得，草漬酒，授病者，今天未明服之，如其言，藥入口即呻吟云：腸胃如刀割截痛。遲明而死。士人以咎舟師，舟師恚曰：何有此！即取昨夕所餘藥，自漬酒服之，不逾時亦死。蓋此山多斷腸草，人誤食之輒死，舟師所取藥，為根蔓所纏，醉不暇擇，徑投酒中，以此致禍。則知草藥不可妄用也。</p>

<h2>真菊野菊</h2>
<p>蜀人多種菊，以苗可以菜，花可以藥，園圃悉能植之。今人多采野菊供藥肆，頗有大誤。真菊延齡，野菊殺人。如張華言：黃精益壽，鉤吻殺人。形類相似之誤，有如此。</p>

<h2>服餌忌羊血</h2>
<p>服餌之家，忌食羊血，雖服餌數十年，一食則前功盡喪，以其能解藥力如此。</p>

<h2>論婦人病有不同治法</h2>
<p>孫真人云：寧醫十男子，莫醫一婦人。以嗜欲多於丈夫，故感病倍於男子。蓋其慈戀愛憎，嫉妬憂患，染著堅牢，情不自抑，以此成疾，非外感六氣，必內傷七情之所致也。七情之病不可醫，誠以情想內結，自無而有，思慮過當，多致勞損。是以釋氏稱說酢梅，口中水出，想蹈懸崖，足心酸楚，大都如此。若非寬緩情意，改易心志，則雖金丹大藥，亦不能已。蓋病出於五內，無有已期，藥力不可及也。法當令病者存想以攝心，抑情以養性。</p>
<p>葛仙翁曰：凡婦人病，兼治其憂恚，令寬其思慮，則疾無不愈矣。</p>
<p>凡人在病中，百念灰冷，雖有富貴，欲享不能，反羨貧賤而健者。人能於平日無病時，作是想頭，病從何來！及一切名利、得失、恩怨亦自淡然。</p>

<h2>用藥例丸散湯膏各有所宜</h2>
<p>藥有宜丸宜散者，宜水煎者，宜酒漬者，宜煎膏者，亦有一物兼宜者，亦有不可入湯酒者，並隨藥性不可過越。湯者，蕩也，煎成清汁是也，去大病用之。散者，散也，研成細末是也。丸者，緩也，作為丸粒也，不能速效，舒緩而治之也。</p>
<p>漬之者，以酒浸藥也，有宜酒浸以助其力，如當歸、地黃、知母、黃柏，陰寒之氣味，假酒力而行氣血也。有用藥銼細，如法煮酒密封，早晚頻飲，以行經絡，或補或攻，漸以取效是也。</p>
<p>細末者，不循經絡，止去胃中及腑臟之積，及治肺疾咳嗽為宜。氣味厚者，白湯調；氣味薄者，煎之，和渣服丸。治下焦之病者，極大而光且圓，治中焦者次之，治上焦者極小，麵糊者，取其遲化，直至下焦；或酒取其散；或醋取其收。如半夏、南星及利濕者，以薑汁稀糊丸，取其易化也，湯泡蒸餅，尤易化，滴水亦然。煉蜜丸者，取其遲化而氣循經絡也。蠟丸者，取其能達下焦，而治腸澼等疾。</p>
<p>凡修合丸劑，用蜜只用蜜，用飴只用飴，勿相雜用。且如丸藥，用蠟取其固護藥氣，欲其經久不失味力，且過膈關而作效也。今若投蜜相和，雖易為丸，然下咽亦即散化，如何得至腸中？若或有毒藥，不宜在上化，豈徒無益，而反為害，全非用蠟之本意。</p>
<p>凡煉蜜宜先掠去沫，令熬色微黃，試水不散，再熬一二沸作丸，則收潮而不黏成塊也。</p>
<p>冬月煉蜜，煉時要加二杯水為妙，《衍義》云：每蜜一斤，只煉得十二兩，是其度數也。和藥末要乘極滾時和之，臼內搗千百杵，自然軟熟，容易作條，好丸也。</p>
<p>凡為末，先須細切，曬燥退冷搗之，有宜合搗者，其滋潤之藥，如天麥冬、生熟地黃、當歸輩，先切曬之獨搗。或以慢火隔紙焙燥，退冷搗之，則為細末。若入眾藥，少停回潤，則和之不勻也。凡濕藥，燥皆大耗蝕，當先增分兩，待燥稱之乃准。其湯酒中不須如此。</p>
<p>凡合丸藥用蜜，絹令細篩，散藥尤宜精細，若搗丸，必於石臼中杵千百過，色理和同為佳。</p>
<p>凡欲浸酒，皆須細切，上絹袋盛，乃入酒密封，隨寒暑日數，視其濃烈，便可漉出，不須待酒盡也。渣則曝燥微搗，更漬飲之，亦可為散服。</p>
<p>凡合膏子，須令膏少之料先淹浸，先煎其汁，乃下有膏之料，煮時當杖以三上三下，以泄其火氣，勿令沸騰，不妨旋取藥汁，渣須再煮，務令力盡而已。然後漸漸慢火收厚如飴，加煉蜜，收貯瓷瓶，出火氣七日二七日，聽用。</p>
<p>凡煎摩貼之膏，或醋、或酒、或油，須令淹浸，然後煎熬，用杖三上三下，以泄其熱勢，令藥味得出。上之使咂咂沸，下之要沸靜，良久乃上之，如有蔥白及姜在內，以漸焦為度。如有附子、木鱉者，亦令焦黃，勿令枯黑。濾膏必以新布。</p>
<p>若是可服之膏，渣亦可酒煮飲之，可摩之膏，渣亦可敷，亦欲兼盡其藥力也。</p>
<p>凡湯膏中，用諸石藥皆細研之，以新絹裹之納中。《衍義》云：石藥入散，如硃砂、鍾乳之類，用水研乳極細，必要二三日乃已，以水漂澄極細，方可服餌。豈但研細，絹裹為是。</p>
<p>凡草葉之藥，如柏葉、荷葉、茅根、薊根、十灰散類，必要焦枯，用器蓋在地上，出火性，存本性，倘如死灰，則白無效矣。</p>
<p>凡有脂膏，如桃、杏、麻仁等，須另末，旋次入眾味，合研則勻。</p>
<p>凡湯劑中，用一切完物，俱破殼研之，如豆蔻、蘇子、益智、骨脂之類。不則如米之在殼，雖煮之終日，米終不熟。職是故也。</p>
<p>凡用香燥，如木香、沉香、砂仁、豆蔻，不宜久煎，點泡尤妙。</p>

<h2>藥品制度法</h2>
<p>藥之制度，食品之調和也。食品之加五味，非調和不能足其味。次藥有良毒，不藉修治，豈能奏效？假如芩、連、知、柏，用治頭面手足皮膚者，須酒炒，以其性沉寒，借酒力可上騰也。用治中焦，酒洗。下焦生用。黃連去痰火，薑汁拌炒，去胃火，和土炒；治吞酸，同吳茱萸炒。此各從其宜也。大黃用行太陽經，酒浸，陽明經，酒洗。況其性寒力猛，氣弱之人，須用煨蒸，否則必寒傷胃也。地黃、知母，下焦藥也，用之須用酒浸，亦恐寒胃。地黃用治中風，非薑汁浸炒，恐泥膈也。苦參、龍膽，酒浸者，制其苦寒也。當歸、防己、天麻，酒浸者，助發散之意也。川烏、天雄、附子，其性劣，灰中慢慢炮之裂，去皮臍及尖，再以童便浸一宿，制其燥毒也。半夏湯泡七次，南星水浸，俱於臘月冰凍二三宿，去其燥性更妙，用治風痰，俱以薑汁浸一宿。南星治驚癇，以黃牛膽釀陰乾，取壯其膽氣也。吳茱萸味惡，須湯泡七次。麻黃先煮兩沸，去沫，免令人煩悶。山梔仁用瀉陰火，炒令色變。水蛭、虻蟲、斑蝥、乾漆，非煙盡不能去其毒，生則令人吐逆不已。巴豆性最急劣，有大毒，不去油莫用。大戟、芫花、甘遂、商陸，其性亦暴，非妙用峻利不已。蒼朮氣烈，非泔浸經宿，燥性不減。凡用金石並子仁之類，須各另研細，方可入劑。但制度得法，而藥能施功矣。余見今人索方入市，希圖省儉，不顧有誤，不惟炮製失宜，抑且真偽未明，多少不合，全失君臣佐使用藥之法。大非求藥治病之心，使反力致誤，伊誰之咎耶？凡事修合，必須選料制度，一如後法，務在至誠，毋得忽也。用火煅者，必於地上取去火毒為妙。倘隨症自有製法，不拘此例。</p>
<p><u>人參</u>　去蘆，人乳拌蒸。</p>
<p><u>生地</u>　酒洗。</p>
<p><u>熟地</u>　酒洗，焙。</p>
<p><u>二門冬</u>　水潤，去心。</p>
<p><u>蒼朮</u>　米泔浸，炒。</p>
<p><u>白朮</u>　米泔浸，蒸，切片，蜜水拌炒褐色。</p>
<p><u>黃耆</u>　蜜炙。</p>
<p><u>遠志</u>　甘草湯浸透，去梗，焙。</p>
<p><u>升麻、柴胡</u>　忌火。</p>
<p><u>菖蒲</u>　去須，焙。</p>
<p><u>葳蕤</u>　蜜水蒸。</p>
<p><u>山藥</u>　蒸。</p>
<p><u>苡米</u>　炒。</p>
<p><u>當歸</u>　去根，酒洗。</p>
<p><u>二芍</u>　酒拌炒。</p>
<p><u>木香</u>　生用理氣，煨用止泄。</p>
<p><u>甘草</u>　生用瀉火，熟用補中。</p>
<p><u>石斛</u>　酒浸蒸。</p>
<p><u>牛膝、川芎</u>　酒淨。</p>
<p><u>知母</u>　去毛酒炒。</p>
<p><u>五味</u>　嗽生用，補焙用。</p>
<p><u>貝母</u>　去心焙。</p>
<p><u>紫菀</u>　水淨，蜜水焙。</p>
<p><u>澤瀉</u>　去毛酒焙。</p>
<p><u>續斷</u>　酒炒。</p>
<p><u>甘菊</u>　去蒂。</p>
<p><u>車前</u>　酒焙，研。</p>
<p><u>萆薢</u>　酒浸，焙。</p>
<p><u>苦參</u>　泔水浸，蒸曬。</p>
<p><u>白芷</u>　焙。</p>
<p><u>防風</u>　去蘆並叉者。</p>
<p><u>金銀花</u>　去枝葉。</p>
<p><u>茺蔚子</u>　忌鐵。</p>
<p><u>麻黃</u>　去根節。</p>
<p><u>黃柏</u>　去皮，酒炒。</p>
<p><u>黃芩</u>　酒蒸。</p>
<p><u>天麻</u>　酒浸，濕紙包煨。</p>
<p><u>乾葛</u>　生用墜胎，熟解酒毒。</p>
<p><u>龍膽</u>　酒炒。</p>
<p><u>香附</u>　醋、酒、童便可制。</p>
<p><u>何首烏</u>　米泔浸，黑豆蒸。</p>
<p><u>桔梗</u>　略焙。</p>
<p><u>白豆蔻</u>　去衣微炒。</p>
<p><u>草豆蔻</u>　同上。</p>
<p><u>白附</u>　炮去皮臍。</p>
<p><u>草果</u>　去殼。</p>
<p><u>肉豆蔻</u>　麵裹煨，忌鐵。</p>
<p><u>砂仁</u>　去殼炒，研。</p>
<p><u>玄胡索、莪朮</u>　酒炒。</p>
<p><u>三稜</u>　醋炒。</p>
<p><u>款冬花</u>　去枝，蜜水炒。</p>
<p><u>百部</u>　去心，酒洗，焙。</p>
<p><u>旋覆花</u>　去蒂，焙。</p>
<p><u>兜鈴</u>　水淨。</p>
<p><u>枳殼</u>　麩炒。</p>
<p><u>半夏</u>　薑湯泡，煮透。</p>
<p><u>南星</u>　炮去皮臍，冬月研末入牛膽，掛風處。</p>
<p><u>蒺藜</u>　酒炒，去刺。</p>
<p><u>大黃</u>　酒蒸用。</p>
<p><u>天雄、附子</u>　童便浸去皮，切四片，另再用童便加甘草、防風，煮乾為度。</p>
<p><u>巴戟</u>　酒浸，焙。</p>
<p><u>杜仲</u>　酥炙。</p>
<p><u>仙茅</u>　泔浸去赤水。</p>
<p><u>淫羊藿</u>　羊油拌炒。</p>
<p><u>肉蓯蓉</u>　酒洗去甲。</p>
<p><u>菟絲子</u>　酒煮，打作餅，曬為末。</p>
<p><u>補骨脂</u>　酒炒。</p>
<p><u>益智</u>　鹽水炒研。</p>
<p><u>覆盆子</u>　去蒂酒炒。</p>
<p><u>骨碎補</u>　去毛蜜蒸。</p>
<p><u>狗脊</u>　去毛酒炒。</p>
<p><u>商陸</u>　黑豆拌蒸。</p>
<p><u>芫花</u>　醋煮，曬。</p>
<p><u>大戟</u>　水煮去骨。</p>
<p><u>甘遂</u>　麵裹煨。</p>
<p><u>郁李仁</u>　去皮，研如膏。</p>
<p><u>常山</u>　去蘆酒炒。</p>
<p><u>蓖麻子</u>　去殼。</p>
<p><u>續隨子</u>　研去油。</p>
<p><u>葫蘆巴</u>　淘淨酒焙。</p>
<p><u>牛蒡</u>　酒炒，研。</p>
<p><u>桑白皮</u>　蜜水炒。</p>
<p><u>山梔子</u>　炒黑。</p>
<p><u>乾薑</u>　炮。</p>
<p><u>厚朴</u>　薑汁炒。</p>
<p><u>桃杏仁</u>　湯泡去皮尖研。</p>
<p><u>神麯</u>　炒研。</p>
<p><u>麥芽</u>　炒。</p>
<p><u>萊菔子</u>　炒研。</p>
<p><u>白芥子</u>　炒研。</p>
<p><u>紫蘇子</u>　炒研。</p>
<p><u>蓮子</u>　去心炒。</p>
<p><u>山茱萸</u>　去核焙。</p>
<p><u>吳茱萸</u>　去閉口，鹽湯泡三次，焙。</p>
<p><u>蜀椒</u>　去合口、核，炒。</p>
<p><u>訶子</u>　蒸去核，焙。</p>
<p><u>青蒿</u>　童便浸一宿，曬。</p>
<p><u>枇杷葉</u>　胃病薑汁炙，肺病蜜炙，去毛。</p>
<p><u>椿樗白皮</u>　醋炙。</p>
<p><u>雷丸</u>　酒蒸去皮。</p>
<p><u>蜜蒙花</u>　酒潤焙。</p>
<p><u>麻仁</u>　炒研。</p>
<p><u>扁豆</u>　炒。</p>
<p><u>乳香、沒藥</u>　箬上烘出油，同燈心研之，則能細。</p>
<p><u>山楂</u>　去核。</p>
<p><u>生薑</u>　去皮熱，留皮寒。</p>
<p><u>乾漆</u>　炒盡煙為度。</p>
<p><u>粟殼</u>　醋炒。</p>
<p><u>韭子</u>　炒。</p>
<p><u>蔥、蒜</u>　忌蜜。</p>
<p><u>黑白醜</u>　酒蒸研。</p>
<p><u>蘇合香</u>　酒蒸另研。</p>
<p><u>丁香</u>　忌火。</p>
<p><u>水蛭、全蠍</u>　炒去毒。</p>
<p><u>烏藥</u>　酒炒。</p>
<p><u>大腹皮</u>　水洗，曬。</p>
<p><u>酸棗仁</u>　生醒寐，熟安神。</p>
<p><u>柏子仁</u>　炒。</p>
<p><u>牡丹皮</u>　酒炒。</p>
<p><u>地榆</u>　忌火。</p>
<p><u>白芨</u>　略焙。</p>
<p><u>決明子</u>　炒研。</p>
<p><u>蟬蛻</u>　去翅足，洗。</p>
<p><u>斑蝥</u>　去頭足翅，同大米炒。</p>
<p><u>葶藶子</u>　同米炒。</p>
<p><u>連翹</u>　酒炒。</p>
<p><u>白殭蠶</u>　米泔浸經宿，待涎浮水面取起，焙乾去絲及黑口，研。</p>
<p><u>穿山甲</u>　土炙、酒炙，研。</p>
<p><u>代赭</u>　煅醋淬，水飛。</p>
<p><u>雄黃、硃砂</u>　另研水飛。</p>
<p><u>石膏</u>　煅研。</p>
<p><u>赤白石脂</u>　火煅研，水飛用。</p>
<p><u>自然銅、磁石</u>　煅醋淬九次，細研水飛。</p>
<p><u>滑石</u>　研，水飛。</p>
<p><u>爐甘石、青礞石、花蕊石、伏龍肝</u>　火煅研，水飛。</p>
<p><u>陽起石</u>　火煅，酒淬七次，水飛。</p>
<p><u>白礬</u>　煅。</p>
<p><u>龍骨</u>　火煅，水飛，酒煮。</p>
<p><u>阿膠</u>　蛤粉炒。</p>
<p><u>石決明</u>　鹽水煮，研，水飛。</p>
<p><u>牡蠣</u>　火煅，童便淬，研。</p>
<p><u>珍珠</u>　絹包入豆腐中，煮一炷香，研。</p>
<p><u>鱉甲</u>　去肋，酥炙。</p>
<p><u>鹿茸</u>　烙去毛，酥炙。</p>
<p><u>虎脛骨</u>　酥炙。</p>
<p><u>五靈脂</u>　酒飛去沙。</p>
<p><u>龜甲</u>　酒浸炙。</p>
<p><u>墨</u>　火煅，研。</p>
<p><u>發</u>　入瓦罐中，鹽泥封固，煅存性。</p>
<p><u>齒</u>　火煅水飛。</p>
<p><u>海螵蛸</u>　炙。</p>
<p><u>桑螵蛸</u>　蒸透再焙。</p>
<p><u>昆布</u>　水淨。</p>
<p><u>海藻</u>　水淨焙。</p>
<p><u>緋丹</u>　湯泡去黃水，炒令紫色，研。</p>
<p><u>石硫</u>　用豬大腸盛之，水煮三日夜，以皂角湯淘去黑水，再以紫背浮萍同煮，消其火毒。畏細辛、醋及諸般血。</p>
<p><u>香附</u>　醋、酒、童便可制。</p>
<p>土硫黃辛熱腥臭，止可入瘡科外治，不堪服餌。</p>

<h1>病後調理服食法</h1>
<p>凡一切病後將愈，表裡氣血耗於外，臟腑精神損於內，形體虛弱，倦怠少力，乃其常也。宜安心靜養，調和脾胃為要，防風寒，慎起居，戒腦怒，節飲食，忌房勞，除妄想，是其切要。若犯之，即良醫亦難奏功矣。勿以身命等蜉蝣，如燈蛾之撲焰，自損其軀哉！戒之戒之，例次如下。</p>
<p>初愈務宜衣被適寒溫，如太熱，發渴，心煩，助虛熱；如寒，則又令外邪仍入內。</p>
<p>傷寒時疫，身涼脈緩，宜進青菜湯，疏通餘邪，如覺腹中寬爽，再進陳倉米清湯，以開胃中谷氣，一二日後，可進糜粥盞許，日三四次，或四五六次，慎勿太過。或用陳豆豉，或清爽之物過口，或清水煮白鯗，醋點極妙。再漸進活鯽魚湯調理百日，方無食復勞復等症。</p>
<p>食後復發熱，宜斷谷即愈，服調脾胃之劑，切勿用驟補、熱藥，須從緩處治，能收全功。</p>
<p>切痛，忌食豬脂、濕面、雞、羊、膩滯、煎炒等物，犯之復發難治。</p>
<p>中風後，忌服辛散香燥等藥，及豬、羊、鵝、雞、魚腥、蕎麵、蛋，滯氣發病等物。</p>
<p>病後切忌房勞，犯之舌出數寸，死。</p>
<p>勞嗽發熱，水腫喘急，宜淡食，忌鹽物。</p>
<p>瘧痢後，忌飽食，及香甜、滑利、諸血之物，生冷、梨、瓜之類。</p>
<p>癰疽發背，忌同傷寒。</p>
<p>虛損喘咳骨蒸，忌用大熱溫補等藥，宜服補陰藥，培養真元，庶幾可也。</p>
<p>產後切禁寒涼等物，雖在酷暑之日，亦所不宜，世多誤用，以致傷生，特為拈出。</p>
<p>痘疹後，不善調攝，多致危殆，因其忽略保護故也。</p>
<p>凡病後，如水浸泥牆，已干之後，最怕重複沖激，再犯不救。今具食治方於下，為保身者之助，並利畏服藥者，以便於養老慈幼云。</p>

<h2>食治秘方</h2>
<p>客曰：萬病皆從口入，如何食反能治病耶？蓋草木藥石，得五行之偏氣，如人之得疾。因五臟有偏勝，則氣血有偏傾。故用偏氣之藥物，治五臟偏勝之氣血，使得歸其正。然中病則已，不可過焉，過則藥又反能生病也。是故飲食，人賴以養者，貪嗜之，所以有萬病皆從口入之說，亦猶是耳，且五穀得五行之正氣，尚有是說。蓋飲養陽氣，食養陰氣，《內經》言之詳矣。五穀為養，五果為助，血氣調和，長有天命。何況今人忽而不講，惟知藥可治病，不知飲食起居之間，能自省察，得以卻疾延年也，古人食治之方，良有深意，衛生者鑑之。</p>

<h2>風門</h2>
<p><u>蔥粥</u>　治傷風鼻塞，妊娠胎動，產後血暈。</p>
<p>用糯米煮粥，臨熟入蔥數莖，再略沸食之。</p>
<p><u>羊脂粥</u>　治半身不遂，中風。</p>
<p>用羊脂入粳米、蔥白、薑、椒、豉煮粥。日食一具，十日效。</p>
<p><u>蒼耳粥</u>　治目暗不明，及諸風鼻流清涕，兼治下血痔瘡。</p>
<p>用蒼耳子五錢取汁，和米三合，煮食。</p>
<p><u>烏雞臛</u>　治中風煩熱，言語秘澀，或手足發熱。</p>
<p>用烏雞肉半斤，蔥白一握，煮熟。入麻油、鹽、豉、薑、椒，再煮令熟，空腹食。</p>
<p><u>黃牛腦子酒</u>　治遠年近日偏正頭風。</p>
<p>用牛腦一個切片，白芷、川芎末各三錢，同入瓷器內，加酒煮熟，乘熱食之，儘量而醉，醉後即臥，臥醒疾若失。</p>
<p><u>豬胰酒</u>　治赤白癜風。</p>
<p>用豬胰一具，酒浸一時，飯上蒸熟食。不過十具愈。</p>
<p><u>又方</u>　白煮豬肚一枚，食之頓盡，三個愈。切忌房事、</p>

<h2>寒門</h2>
<p><u>乾薑粥</u>　治一切寒冷，氣鬱心痛，胸腹脹滿。</p>
<p>用白米四合，入乾薑、良薑各一兩，煮食。</p>
<p><u>生薑煎</u>　治反胃羸弱。</p>
<p>生薑切片，麻油煎過為末，煮粥調食。</p>
<p><u>生薑酒</u>　治霍亂轉筋，入腹欲死，心腹冷疼。</p>
<p>生薑三兩搗，陳酒一升，煮兩三沸服，仍以渣貼疼處。</p>
<p><u>生薑醋漿</u>　治嘔吐不止。</p>
<p>生薑一兩，醋漿兩合，銀器煎取四合，連渣嚼呷。又殺腹內長蟲。</p>
<p><u>茱萸粥</u>　治心氣痛不止，胸腹脹滿。</p>
<p>用吳茱萸二分，和米煮粥食之。</p>
<p><u>又方</u>　川椒茶（治同上）。</p>
<p><u>丁香熟水</u>　治亦同上。</p>
<p>丁香一二粒打碎，入壺傾滾水在內，其香勃然，大能快脾利氣，定痛闢寒。</p>
<p><u>肉桂酒</u>　治感寒身體疼痛。</p>
<p>用辣桂末二錢，溫酒調服。腹痛泄瀉，俗以生薑、吳萸、擂酒俱效，如跌撲傷墜疼痛，瘀血為患，宜用桂枝。</p>
<p><u>豆蔻湯</u>　治一切冷氣，心腹脹滿，胸膈痞滯，噦逆嘔吐，泄瀉虛滑，水穀不消，困倦少力，不思飲食。</p>
<p>用肉豆蔻仁四兩，麵裹煨，甘草炒一兩，白麵炒四兩，丁香五分，鹽炒五錢，共為末，每服二錢，沸湯點服，空腹妙。</p>

<h2>暑門</h2>
<p><u>綠豆粥</u>　解暑渴。</p>
<p>用綠豆淘淨，下湯煮熟，入米同煮食之。</p>
<p><u>綠豆酒</u>　治同上。</p>
<p>用綠豆蒸熟，浸酒服。</p>
<p><u>又方</u>　加黃連少許。</p>
<p><u>桂漿</u>　解暑渴，去熱生涼，益氣消痰。</p>
<p>官桂末一兩，白蜜二兩，先以水二斗煎至一斗，候冷入瓷壇中，入桂、蜜二味，攪一二百餘遍，先用油紙一層，外加綿紙數層，以繩封之。每日去紙一重，七日開之，氣香味美，或以蜜封，置井中一日，冰冷可口。每服一二杯，百病不作。</p>

<h2>濕門</h2>
<p><u>薏苡粥</u>　去濕氣腫脹，利腸胃，功勝諸藥。</p>
<p>用薏米淘淨，對配白米煮粥，入白糖一二匙食。</p>
<p><u>郁李仁粥</u>　治水腫，腹脹喘急，二便不通，體重痛痹，轉動不能，腳氣亦宜。</p>
<p>郁李仁二兩，研汁，和薏米五合，同米煮粥食。</p>
<p><u>赤豆粥</u>　利小便，消水腫腳氣，辟邪癘。</p>
<p>赤豆淘淨，同陳倉米對配煮粥，空腹食。</p>
<p><u>赤小豆飲</u>　治水氣脹滿，手足浮腫，氣急煩悶。</p>
<p>赤豆三升，樟柳枝一升，同煮豆熟為度，空心，去枝取豆食，渴則飲汁，勿食他物，自效。</p>
<p><u>桑皮飲</u>　治水腫，腹脹喘急。</p>
<p>用桑根白皮四兩，和米四合，煮爛可食。</p>
<p><u>紫蘇粥</u>　治老人腳氣。</p>
<p>用家園紫蘇細搗，入水取汁煮粥，將熟加蘇子研汁，攪勻食之。</p>
<p><u>鯉魚臛</u>　治水腫，滿悶氣急，不能食，皮膚欲裂，四肢常疼，不可屈伸</p>
<p>用鯉魚十兩，蔥白一握，麻子一升，取汁煮作羹臛，入鹽豉姜椒調和，空心慢食。</p>
<p><u>又方</u>　鯉魚二斤，陳皮二兩，煮爛，入青鹽少許，拌勻空食。</p>
<p><u>蒼朮酒</u>　治諸般風濕，瘡瘍腳氣下重。</p>
<p>蒼朮三十斤、洗淨打碎，以東流水三石，浸二十日，去渣，以汁浸曲，如家造酒法，酒熟任飲，不拘時，忌桃李。</p>
<p><u>松節酒</u>　治冷風虛弱，筋骨攣痛，腳氣緩痹。一方松葉酒，治同造同。</p>
<p>用松節煮汁，同曲米釀酒飲。松針搗煎亦可。</p>
<p><u>白石英酒</u>　治風濕周痹，肢節濕痛，腎虛耳聾。</p>
<p>白石英、磁石煅醋淬七次，各五兩，絹袋盛浸酒中五六日，溫飲、如少加酒，盡其力可也。</p>
<p><u>逡巡酒</u>　補虛益氣，去一切風痹濕氣，耐老延年，久服自效。</p>
<p>造法：三月三日，收桃花三兩三錢；五月五日，收馬蘭花五兩五錢；六月六日，收脂麻花六兩六錢，九月九日，收黃甘菊九兩九錢。已上俱陰乾，十二月八日取臘水三斗。待春分，取桃仁四十九粒，去皮尖。白麵十斤。同前花和作曲，紙包陰乾四十九日聽用。欲造酒，煮糯米飯一升，白水一瓶，曲一丸，用曲一塊封良久，酒即成矣。如淡，再加曲一丸。</p>
<p><u>五加皮酒</u>　去一切風濕痿痹，壯筋骨，填精髓。</p>
<p>五加皮洗淨去梗煎汁，和麵米釀成飲之。或切碎袋盛浸酒，煮飲。或加當歸、牛膝、地榆等。</p>
<p><u>仙靈脾酒</u>　治偏風不遂，強筋壯骨。</p>
<p>仙靈脾一斤，袋盛浸無灰酒二斗，封固三日飲之。</p>
<p><u>女貞皮酒</u>　治風虛，補腰膝。</p>
<p>女貞皮切片，浸酒煮飲之。</p>
<p><u>薏苡酒</u>　去風濕，強筋骨，健脾胃。</p>
<p>用薏米粉同曲米釀之，或將袋盛，煮酒飲之亦可。</p>
<p><u>海藻酒</u>　治癭氣。</p>
<p>用海藻一斤，洗浸，無灰酒日夜細飲。</p>
<p><u>黃藥酒</u>　治諸癭氣。</p>
<p>用萬州黃藥切片一斤，袋盛浸酒煮飲。</p>

<h2>燥門</h2>
<p><u>生地粥</u>　滋陰潤肺，及妊娠胎漏，下血目赤。</p>
<p>生地搗汁，米二合，煮熟入汁一合，調勻再煮，加熟蜜少許，空心服。</p>
<p><u>麻蘇粥</u>　治產後血暈，汗多便閉，老人血虛風閉，胸腹不快，噁心吐逆。</p>
<p>用家園蘇子、麻子各五錢，水淘淨微炒，研如泥，水濾取汁，入米煮粥食之。</p>
<p><u>百部酒</u>　治久近一切咳嗽。</p>
<p>百部切炒，袋盛浸酒，頻頻飲之。</p>
<p><u>蜜酒</u>　孫真人治風疹風癬，肌膚燥癢。</p>
<p>沙蜜一斤，糯米飯一斤，曲五兩，熟水五升，同入瓶內，封七日成酒。尋常以蜜入酒代之。</p>
<p><u>人乳粥</u>　潤肺通腸，補虛養血。</p>
<p>用壯實無疾女人乳汁，俟粥半熟，去湯下乳，代湯煮熟，置碗中，加酥油一二錢，調勻食。</p>
<p><u>槐枝酒</u>　治大麻痿痹。</p>
<p>槐枝煮油，如常釀酒法。</p>
<p><u>巨勝酒</u>　治風虛痹弱，腰膝疼痛。</p>
<p>巨勝子二升，炒薏米二升，生地半斤，袋盛浸酒飲。</p>
<p><u>蠶砂酒</u>　治風緩麻痹，諸節不遂，腹內宿痛。</p>
<p>原蠶砂炒黃，袋盛浸酒服。</p>
<p><u>紫酒</u>　治中風，口偏不語，角弓反張，鼓脹不消。</p>
<p>雞屎白一升，炒焦，投酒中，待紫色頻飲。</p>

<h2>火門</h2>
<p><u>甘蔗粥</u>　治咳嗽虛熱，口乾舌燥，涕吐稠黏。</p>
<p>用甘蔗取汁三碗，入米三合煮粥，空心食之。</p>
<p><u>竹瀝粥</u>　治痰火如神。</p>
<p>如常煮粥法，以竹瀝下半杯，食之。</p>
<p><u>綠豆酒</u>　治陰虛痰火諸疾。</p>
<p>用綠豆、山藥各二兩，黃怕、牛膝、元參、沙參、白芍、山梔、天麥冬、花粉、蜂蜜各一兩半，當歸一兩二錢，</p>
<p>甘草三錢，以好酒浸之飲。</p>
<p><u>黃連酒</u>　有火症及發熱，不宜飲酒。蓋酒性大熱，助病為瘧，多致不治。倘遇喜慶事，必欲飲用此。</p>
<p>以黃連、綠豆各一錢，枸杞三錢，浸酒飲。</p>
<p><u>黃柏酒</u>　有相火而好飲者宜。如生瘡疥及肌膚不澤，用黃柏一兩，豬胰四兩，生浸飲。</p>
<p>一味豬胰浸酒，令婦人多乳，催乳更妙。</p>
<p><u>小麥湯</u>　治五淋不止，身體壯熱，小便滿悶。</p>
<p>小麥一升，通草二兩，水煎。不時可啜，自效。</p>
<p><u>甘豆湯</u>　治一切煩渴，二便澀少及風熱入腎。</p>
<p>黑豆二合，甘草二錢，生薑七斤，水煎服。</p>
<p><u>藕蜜膏</u>　主虛熱口渴，大便燥結，小便秘痛。</p>
<p>藕汁、蜜各四升，生地汁一升，和勻，慢火熬成膏，每服半匙，口含噙化，不時用，忌煎炒。</p>
<p><u>竹葉粥</u>　治膈上風熱，頭目赤痛，止渴清心。</p>
<p>竹葉五十片，石膏二兩，水三碗，煎至兩碗，澄清去渣，入米三合煮粥，加白沙糖二錢食。</p>
<p><u>四汁膏</u>　清痰降火，下氣止血。</p>
<p>雪梨、甘蔗、鮮藕、薄荷葉各等分，搗汁，入瓦鍋，文火熬膏，頻頻飲。如無梨，秋白亦可。</p>

<h2>調理脾胃門</h2>
<p>凡病後脾胃弱，肌肉瘦，擇相宜者食之，以助藥力，絕妙。</p>
<p><u>人參粥</u>　治翻胃吐酸，及病後脾弱。</p>
<p>用粟米一合煮粥，入人參末、薑汁各五錢，和勻空心食。</p>
<p><u>門冬粥</u>　治咳嗽及翻胃。</p>
<p>用麥門冬浸汁，和米煮粥，妊婦食之亦宜。</p>
<p><u>粟米粥</u>　治脾胃虛弱，嘔吐不食，漸加尪羸。</p>
<p>粟米、白曲等分，煮粥，空心食，極養胃氣。一人病淋，性不可服藥，予令日啖此粥，絕去他味，旬日減，月餘痊。飲食妙法。</p>
<p><u>理脾糕</u>　治老人小兒脾泄水瀉。</p>
<p>用松花一升，百合、蓮肉、山藥、薏米、芡實、白蒺藜各末一升，粳米粉一斗二升，糯米粉三升，砂糖一斤，拌勻蒸熟，炙乾食之。一方加砂仁末一兩。</p>
<p><u>蘇蜜煎</u>　治噎病吐逆，飲食不進。</p>
<p>紫蘇葉二兩，白蜜、薑汁各五合，和勻，微火煎沸，每服半匙，空心細嚥。</p>
<p><u>姜橘湯</u>　治胸滿悶結，飲食不下。</p>
<p>用生薑二兩，陳皮一兩，空心水煎服。</p>
<p><u>芡實粥</u>　益精氣，強智力，聰耳目。</p>
<p>用芡實去殼三合，新者研如膏，陳者作粉，和粳米三合，煮粥食。</p>
<p><u>蓮子粥</u>　治同上，健脾胃，止泄痢。</p>
<p>蓮肉一兩，去衣煮爛，研細入糯米三合，煮粥食。</p>
<p><u>鹿豆粥</u>　益精補脾，又治霍亂吐瀉。</p>
<p>白扁豆半斤，先煮豆爛去皮，入人參二錢，下米煮粥。</p>
<p><u>山藥粥</u>　補下元，固腸止瀉。</p>
<p>懷慶山藥為末四分，配六分米煮食。</p>
<p><u>茯苓粥</u>　治脾虛泄瀉，又治不寐。</p>
<p>粳米二合，茯苓末一兩，煮好，再下苓末一兩，再煮爛食。</p>
<p><u>蘿蔔粥</u>　消食利膈。</p>
<p>蘿蔔大者一個，配米二合煮食。</p>
<p><u>胡蘿蔔粥</u>　寬中下氣，煮法同上。</p>
<p><u>蘇子粥</u>　下氣利膈。</p>
<p>紫蘇子微炒一合，研汁去渣，粥好下汁，再煮食之。</p>
<p><u>茴香粥</u>　和胃治疝。</p>
<p>用小茴香炒，煎湯去渣，入米煮粥食。</p>
<p><u>胡椒粥、吳茱萸粥</u>　並治心腹疼痛。煮法同上。</p>
<p><u>蓮肉糕</u>　治病後胃弱，不消水穀。</p>
<p>蓮肉、粳米各炒四兩，茯苓二兩共為末，砂糖調和，每用兩許，白湯送下。</p>
<p><u>豆麥粥</u>　治飲食不住口，仍易飢餓，近似中消。</p>
<p>用綠豆、糯米、小麥各一升，炒熟為末，每用末一升，滾水調服。</p>
<p><u>清米湯</u>　治泄瀉。</p>
<p>用蚤米半升，東壁土一兩，吳萸三錢，同炒香熟，去土、萸，取米煎湯飲。</p>
<p><u>米飲</u>　治咽中作哽，下食則塞，反胃不止。</p>
<p>用杵頭糠炒一兩，煮米飲，調勻，空心食。</p>
<p><u>黃雞餛飩</u>　治脾胃虛弱，少食痿黃，益臟腑，悅顏色。</p>
<p>用黃雞肉五兩，白麵二兩，蔥白二合，切作餛飩，入咸椒豉和之，煮熟空心食。</p>
<p><u>松子粥</u>　潤心肺，和大腸。同米煮粥食。</p>
<p>炒麵入粥同食，止白痢。</p>
<p>燒鹽入粥同食，止血痢。</p>

<h2>氣門</h2>
<p><u>杏仁粥</u>　治上氣咳嗽。</p>
<p>扁杏仁去皮尖二兩，研如泥，或加豬肺，同米三合，煮食。</p>
<p><u>萊菔子粥</u>　治氣喘。</p>
<p>用萊菔子，即蘿蔔子三合，煮粥食。</p>
<p><u>豬腎粥</u>　治腳氣頑痹，行履不便，疼痛不止。</p>
<p>豬腎兩枚，切碎，蔥白五莖，米三合，同煮，臨熟加鹽、豉、椒調和食之。</p>
<p><u>羊腎粥、鹿腎粥</u>　法同治同。</p>
<p><u>雞肝粥、羊肝粥</u>　並補肝明目，煮法同上。</p>
<p><u>鹿膠粥</u>　治諸虛，助元陽。煮粥入膠，熔化即是。</p>
<p><u>虎骨酒</u>　治臂脛疼痛，歷節風，腎虛膀胱氣痛。</p>
<p>虎脛骨一具，炙黃打碎，同曲米如常造酒飲。</p>
<p><u>霹靂酒</u>　治疝氣偏墜，婦女崩中下血，胎產不下。</p>
<p>用鐵錘火燒赤，淬入酒中飲之。</p>

<h2>血門</h2>
<p><u>阿膠粥</u>　止血補虛，厚腸胃，又治胎動不安。</p>
<p>糯米煮粥，臨熟入阿膠末一兩，和勻食。</p>
<p><u>桑耳粥</u>　治五痔下血，常煩熱羸瘦。</p>
<p>桑耳二兩，取汁，和粳米三合，煮熟，空心食。</p>
<p><u>槐茶</u>　治風熱下血，明目益氣，止牙疼，利臟腑，順氣道。</p>
<p>嫩槐葉蒸熟曬乾，每日煎如茶法。</p>
<p><u>柏茶</u>　止血滋陰。</p>
<p>側柏葉曬乾，煎湯代茶飲。</p>
<p><u>醍醐酒</u>　治鼻衄不止。</p>
<p>蘿蔔自然汁，入好酒一半，和勻溫服。</p>
<p><u>韭汁酒</u>　治赤痢，又治心痛，以其散氣行血。</p>
<p>連白韭菜一把，去梢取汁，和酒一杯溫服。</p>
<p><u>馬齒莧羹</u>　治下痢赤白，水穀不化，腹痛。</p>
<p>馬齒莧菜煮熟，入鹽、豉，或薑、醋，拌勻食之。</p>
<p><u>豬胰片</u>　治肺損，嗽血咯血。</p>
<p>豬胰切片，煮熟，蘸薏仁末，空心服，如肺癰，米飲調下。</p>
<p><u>羊肺肝腎</u>　治吐血咯血，損傷肺腎及肝，隨臟引用，或肺或肝或腎，煮熟切片，蘸白芨末食。</p>
<p>欲試血從何經來，用水一碗，吐入水中，浮者肺也，沉者腎也，半浮半沉者肝也。</p>

<h2>痰門</h2>
<p><u>蘇子酒</u>　主消痰下氣，潤肺止咳。</p>
<p>家紫蘇子炒研，絹袋盛之，浸酒中，日日飲之。</p>

<h2>陰虛門</h2>
<p>（忌酒）</p>
<p><u>芡實粥</u>　見前脾胃門。</p>
<p><u>枸杞粥</u>　治肝家火旺血衰，益腎氣。</p>
<p>甘州枸杞一合，米三合，煮食。</p>
<p><u>又方</u>　採鮮葉如常煮粥食，入鹽少許，空腹食佳。</p>
<p><u>鰻魚臛</u>　補虛勞，殺蟲，治肛門腫痛，痔久不愈。</p>
<p>鰻魚細切，煮作臛，入鹽、豉、薑、椒，空心食。</p>
<p><u>牛乳粥</u>　補虛羸。</p>
<p>如常粥內加入牛乳和勻食。</p>
<p>羊肝粥。雞肝粥、雞汁粥，並治虛勞。</p>

<h2>陽虛門</h2>
<p><u>羊肉羹</u>　治下焦虛冷，小便頻數。</p>
<p>羊肉四兩，羊肺一具，細切，入鹽、豉，煮作羹，空心食。</p>
<p><u>胡桃粥</u>　治陽虛腰疼及石淋五痔。</p>
<p>胡桃肉煮粥食。</p>
<p><u>又浸酒方</u>　加小茴香、杜仲、補骨脂。</p>
<p><u>桂花酒</u>　釀成玉色，香味超然，非世間物也。</p>
<p><u>羊羔酒</u>　大補元氣，健脾胃，益腰腎。</p>
<p>宣和化成殿方，用糯米一石，如常浸漿取蒸，再入肥嫩羊肉七斤，曲十四兩，杏仁一斤，同煮爛，連汁拌飯，加入木香一兩，銼同釀，勿犯水，十日熟。</p>

<h2>諸虛門</h2>
<p><u>參歸腰子</u>　治心氣虛損，自汗。</p>
<p>人參五錢，當歸四兩，豬腎一枚，細切，同煮食之，以汁送下，或用山藥搗丸，如桐子大，每服三十丸，空心溫酒下。多服乃佳。</p>
<p><u>煨腎法</u>　治腎虛腰痛。</p>
<p>豬腎一枚，薄切五七片，以椒鹽淹去腥水，以杜仲末三錢在內，包以薄荷，外加濕紙，置火內煨熟，酒下。如脾虛，加補骨脂炒末二錢。</p>
<p><u>獵腎酒</u>　治同上。</p>
<p>用童便二鍾，好酒一鍾，以瓷瓶貯之，取豬腎一對入內，黃泥封固，日晚時以慢火養熟，至中夜止五更初，以火溫之，發瓶飲酒，食腰子。病篤者只一月效。平日虛怯尤宜食，絕勝金石草木之藥也。</p>
<p><u>豬肚方</u>　治虛羸乏氣。</p>
<p>人參五錢，乾薑、胡桃各二錢，蔥白七莖，糯米三合，為末，入豬肚內紮緊，勿以泄氣，煮爛空心服，以好酒一二杯送之。</p>
<p><u>牛乳方</u>　老人最宜，補心脈，安心神，長肌肉。為人子者，常當供之，或為乳餅、乳腐，較諸物勝。</p>
<p><u>山藥酒</u>　補虛損，益顏色，又治下焦虛冷，小便頻數。</p>
<p>用酥一匙，於鐺中熔化，入山藥末熬令香，入酒一杯，調勻，空心飲。</p>
<p><u>生慄方</u>　治腳氣及腎氣損，腳膝無力。</p>
<p>用生慄蒸熟風乾，每日空心食十枚，效甚。</p>
<p><u>水芝丸</u>　補五臟諸虛。</p>
<p>蓮肉一斤去心，入豬肚內扎定，煮爛搗丸，如桐子大，每三四十丸，空心酒下。</p>
<p>以上諸方，其治病之功，勝於藥石。人但知藥能治病，而不知食能治病。孫真人有言曰：醫者先曉病原，知其所犯，以食治之，食療不愈，然後議藥。不特老人小兒相宜，凡頤養及久病厭藥者，亦未為不可也。</p>
