<header data-type="book">
<h1>珍珠囊補遺藥性賦</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>李杲</data>（疑託名）</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1250">公元1250年</data></dd></div>
<div><dt>底本</dt><dd>《濟生拔萃·潔古老人珍珠囊》，1938年上海涵芬樓影元刻本</dd></div>
</dl>
</header>

<h1>序</h1>
<p>往嘗向學，以未博醫為欠事。一日，思取古人，既目醫道類為小道，又謂人不可以不知醫。噫嘻，醫不可以不知醫也，亦不必於盡知也，非盡知不可也。顧吾所事者大。其餘所謂醫者，精神有分數，日月不長居也。君子於醫，苟知其概，以知之者付之專之者，斯固不害為知也。此吾有取於藥性賦也。雖然，吾為專於大者言也。苟有奇世之人，小大而無不知者，奚必盡守乎吾言。或曰，斯人也，吾見亦罕矣。此吾有取於藥性賦也。</p>
<p><u>元山道人識</u></p>
<p><u>。</u></p>

<h1>卷一</h1>

<h2>總賦</h2>

<h3>寒性</h3>
<p>諸藥賦性，此類最寒。犀角解乎心熱，羚羊清乎肺肝。澤瀉利水通淋而補陰不足，海藻散癭破氣而治疝何難。聞之菊花能明目而清風，射干療咽閉而消癰毒。薏苡理腳氣而除風濕，藕節消瘀血而止吐衄。瓜蔞子下氣潤肺喘兮，又且寬中；車前子止瀉利小便兮，尤能明目。是以黃柏瘡用，兜鈴嗽醫。地骨皮有退熱除蒸之效，薄荷葉宜消風清腫之施。</p>
<p>寬中下氣，枳殼緩而枳實速也；療肌解表，乾葛先而柴胡次之。百部治肺熱，咳嗽可止；梔子涼心腎，鼻衄最宜。玄參治熱結毒癰，清利咽膈；升麻消風熱腫毒，發散瘡痍。嘗聞膩粉抑肺而斂肛門，金箔鎮心而安魂魄；茵陳主黃疸而利水，瞿麥治熱淋之有血。朴硝通大腸，破血而止痰癖。</p>
<p>石膏治頭疼，解肌而消煩渴；前胡除內外之痰實；滑石利六腑之澀結；天門冬止嗽，補血冷而潤肝心；麥門冬清心，解煩渴而除肺熱。又聞治虛煩，除噦嘔，須用竹茹；通便秘，導瘀血，必資大黃；宣黃連治冷熱之痢，又厚胃腸而止瀉；淫羊藿療風寒之痹，且補陰虛而助陽；茅根止血與吐衄；石葦通淋於小腸。</p>
<p>熟地黃補血，且療虛損；生地黃宣血，更醫眼瘡。赤芍藥破血而療腹疼，煩熱亦解；白芍藥補虛而生新血，退熱尤良。若乃消腫滿，逐水於牽牛；除毒熱，殺蟲於貫眾；金鈴子治疝氣而補精血，萱草根治五淋而消乳腫。側柏葉治血山崩漏之疾，香附子理血氣婦人之用。地膚子利膀胱，可洗皮膚之風；山豆根解熱毒，能止咽喉之痛。</p>
<p>白蘚皮去風治筋弱，而療足頑痹；旋覆花明目治頭風，而消痰嗽壅。又況荊芥穗清頭目便血，疏風散瘡之用；瓜蔞根療黃疸毒癰，消渴解痰之憂；地榆療崩漏，止血止痢；昆布破疝氣，散癭散瘤。療傷寒，解虛煩，淡竹葉之功倍；除結氣，破瘀血，牡丹皮之用同。知母止嗽而骨蒸退，牡蠣澀精而虛汗收。</p>
<p>貝母清痰，止咳嗽而利心肺；桔梗下氣，利胸膈而治咽喉。若夫黃芩治諸熱，兼主五淋，槐花治腸風，亦醫痔痢；常山理痰結而治溫瘧。葶藶瀉肺喘而通水氣。此六十六種藥性之寒，又當考《圖經》以博其所治。觀夫方書以參其所用焉，其庶幾矣。</p>

<h3>熱性</h3>
<p>藥有溫熱，又當審詳。欲溫中以蓽茇，用發散以生薑。五味子止嗽痰，且滋腎水，膃肭臍療勞瘵，更壯元陽。原夫川芎祛風濕，補血清頭；續斷治崩漏，益筋強腳。麻黃表汗以療咳逆，韭子助陽而醫白濁。川烏破積，有消痰治風痹之功；天雄散寒，為祛濕助精陽之藥。觀夫川椒達下，乾薑暖中。</p>
<p>葫蘆巴治虛冷之疝氣，生卷柏破癥瘕而血通。白朮消痰壅，溫胃兼止吐瀉；菖蒲開心氣，散冷更治耳聾；丁香快脾胃而止吐逆，良薑止心氣痛之攻衝。肉蓯蓉填精益腎，石硫黃暖胃驅蟲。胡椒主去痰而除冷，秦椒主攻痛而治風。吳茱萸療心腹之冷氣，靈砂定心臟之怔忡。蓋夫腎冷，助脾胃，須蓽澄茄；療心痛，破積聚，用蓬莪朮。</p>
<p>縮砂止吐瀉安胎，化酒食之劑；附子療虛寒翻胃，壯元陽之力。白豆蔻治冷瀉，療癰止疼於乳香；紅豆蔻止吐酸，消血殺蟲於乾漆。豈不知鹿茸生精血，腰脊崩漏之均補；虎骨壯筋骨，寒濕毒風之並祛。檀香定霍亂，而心氣之痛愈；鹿角秘精髓，而腰脊之疼除。消腫益血於米醋，下氣散寒於紫蘇；扁豆助脾，則酒有行藥破血之用；麝香開竅，則蔥為通中發汗之需。嘗觀五靈脂治崩漏，理血氣之刺痛。</p>
<p>麒麟竭止血出，療金瘡之傷折；麋茸壯陽以助腎；當歸補虛而養血；烏賊骨止帶下，且除崩漏目翳；鹿角膠住血崩，能補虛羸勞絕。白花蛇治癱瘓，除風癢之癬疹；烏梢蛇療不仁，去瘡瘍之風熱。圖經云烏藥有治冷氣之理，禹餘糧乃療崩漏之因。巴豆利痰水，能破積熱；獨活療諸風，不論久新。山茱萸治頭暈遺精之藥，白石英醫咳嗽吐膿之人。厚朴溫胃而去嘔脹，消痰亦驗；肉桂行血而療心痛，止汗如神。是則鯽魚有溫胃之功，代赭乃鎮肝之劑。沉香下氣補腎，定霍亂之心疼；桔皮開胃去痰，導壅滯之逆氣。此六十種藥性之熱，又當博本草而取治焉。</p>

<h3>溫性</h3>
<p>溫藥總括，醫家素諳。木香理乎氣滯；半夏主於風痰。蒼朮治目盲，燥脾去濕宜用；蘿蔔去膨脹，下氣治曲尤堪。況夫鍾乳粉補肺氣，兼療肺虛；青鹽治腹疼，且滋腎水。山藥而腰濕能醫，阿膠而痢嗽皆止。赤石脂治精濁而止瀉，兼補崩中；陽起石暖子宮以壯陽，更療陰痿。誠以紫菀治嗽，防風祛風。蒼耳子透腦止涕，威靈仙宣風通氣。細辛去頭風，止嗽而療齒痛；艾葉治崩漏，安胎而醫痢紅。羌活明目驅風，除濕毒腫痛；白芷止崩治腫，療痔漏瘡癰。若乃紅藍花通經，治產後惡血之餘；劉寄奴散血，療燙火金瘡之苦。減風濕之痛，則茵芋葉；療折傷之證，則骨碎補。藿香葉辟惡氣而定霍亂，草果仁溫脾胃而止嘔吐。巴戟天治陰疝白濁，補腎尤滋，玄胡索理氣痛血凝，調經有助。嘗聞款冬花潤肺，祛痰以定喘；肉豆蔻溫中，止霍亂而助脾。撫芎走經絡之痛，何首烏治瘡疥之資。薑黃能下氣，破惡血之積；防己宜消腫，去風濕之施。</p>
<p>藁本除風，主婦人陰痛之用；仙茅益腎，扶元氣虛弱之衰。乃若破故紙溫腎，補精髓與勞傷；宣木瓜入肝，療腳氣並水腫。杏仁潤肺燥，止嗽之劑；茴香治疝氣，腎疼之用。訶子生精止渴，兼療滑泄之疴；秦艽攻風逐水，又除肢節之痛。檳榔豁痰而逐水，殺寸白蟲；杜仲益腎而添精，去腰膝重。當知紫石英療驚悸崩中之疾，桔核仁治腰疼疝氣之瘨。金櫻子兮澀遺精，紫蘇子兮下氣涎。淡豆豉發傷寒之表，大小薊除諸血之鮮。益智安神，治小便之頻數；麻子仁潤肺，利六腑之燥堅。抑又聞補虛弱，排瘡膿，莫若黃耆；強腰腳，壯筋骨，無如狗脊；菟絲子補腎以明目，馬藺花治疝而有益。此五十四種藥性之溫，更宜參《圖經》而默識也。</p>

<h3>平性</h3>
<p>詳論藥性平和，惟在以硼砂而去積，用龍齒以安魂。青皮快膈除膨脹，且利脾胃；芡實益精治白濁，兼補真元。原夫木賊草去目翳，崩漏亦醫；花蕊石治金瘡、血行即卻。決明和肝氣治眼之劑，天麻主脾濕祛風之藥。甘草和諸藥而解百毒，蓋以性平；石斛平胃氣而補腎虛，更醫腳弱。觀夫商陸治腫，覆盆益精。琥珀安神而破血，硃砂鎮心而有靈。牛膝強足補精，兼療腰痛；龍骨止汗住濕，更治血崩。甘松理風氣而痛止，蒺藜療風瘡而目明。</p>
<p>人參潤肺寧心，開脾助胃；蒲黃止崩治衄，消瘀調經。豈不以南星醒脾，去驚風痰吐之憂；三稜破積，除血塊氣滯之症。沒石主泄瀉而神效，皂角治風痰而響應。桑螵蛸療遺精之泄，鴨頭血醫水腫之盛。蛤蚧治勞嗽，牛蒡子疏風壅之痰；全蠍主風癱，酸棗仁去怔忡之病。嘗聞桑寄生益血安胎，且止腰痛；大腹子去膨下氣，亦令胃和。小草遠志，俱有寧心之妙；木通豬苓，尤為利水之多。蓮肉有清心醒脾之用，沒藥任治瘡散血之科。郁李仁潤腸宣水，去浮腫之疾；茯神寧心益智，除驚悸之疴。白茯苓補虛勞，多在心脾之有眚；赤茯苓破結血，獨利水道以無毒。</p>
<p>因知麥芽有助脾化食之功，小麥有止汗養心之力。白附子去面風之遊走，大腹皮治水腫之泛溢。椿根白皮主瀉血，桑根白皮主喘息。桃仁破瘀血，兼治腰痛；神麯健脾胃，而進飲食。五加皮堅筋骨以立行，柏子仁養心神而有益。抑又聞安息香辟惡，且止心腹之痛；冬瓜仁醒脾，實為飲食之資。殭蠶治諸風之喉閉，百合斂肺勞之嗽萎。赤小豆解熱毒，瘡腫宜用；枇杷葉下逆氣，蠍嘔可醫。連翹排膿瘡與腫毒，石楠葉利筋骨與毛皮。穀芽養脾，阿魏除邪氣而破積；紫河車補血，大棗和藥性以開脾。然而鱉甲治勞瘧，兼破癥瘕；龜甲堅筋骨，更療崩疾。烏梅主便血瘧痢之用，竹瀝治中風聲音之失。此六十八種平和之藥，更宜參本草而求其詳悉也。</p>

<h3>用藥發明</h3>
<p>藥性陰陽論</p>
<p>夫藥有寒熱溫涼之性，酸苦辛鹹甘淡之味，升降浮沉之能，厚薄輕重之用。或氣一而味殊，或味同而氣異，合而言之，不可混用。分而言之，各有所能。本乎天者親上，本乎地者親下。輕清成象，重濁成形。清陽發腠理，濁陰走五臟。清中清者，營養精神。濁中濁者，堅強骨髓。辛甘發散為陽，酸苦湧泄為陰。氣為陽，氣厚為陽中之陽，氣薄為陽中之陰。薄則發泄，厚則發熱。味為陰，味厚為陰中之陰，味薄為陰中之陽。薄則疏通，厚則滋潤。升降浮沉之辨，豁然貫通，始可以言醫，而司人命矣。人徒知藥之神者，乃藥之力也。殊不知乃用藥之力也。人徒知辨真偽識藥之為難，殊不知分陰陽用藥之為尤難也。</p>

<h3>標本論</h3>
<p>夫用藥者，當知標本。以身論之，外為標，內為本；氣為標，血為本；陽為標，陰為本；六腑屬陽為標，五臟屬陰為本。以病論之，先受病為本，後傳變為標。凡治病者，先治其本，後治其標。雖有數病，靡弗去矣。若先治其標，後治其本，邪氣滋甚，其病益堅。若有中滿，無問標本，先治其滿，謂其急也。若中滿後有大小便不利，亦無問標本，先治大小便，次治中滿。謂尤急也。又如先病發熱，後病吐瀉，飲食不下，則先定嘔吐，後進飲食，方兼治瀉。待元氣稍復，乃攻熱耳。此所謂緩則治其本，急則治其標也。除大小便不利及中滿吐瀉之外，皆先治其本，不可不知也。假令肝受心火之邪，是從前來者為實邪，實則瀉其子，然非直瀉其火，入肝經藥為之引。用瀉火為君，是治實邪之病也。假令肝受腎邪，是從後來者為虛邪。虛則補其母，入腎經藥為之引，用補肝藥為君是也。標本已得，邪氣乃服。醫之神良，莫越乎此。</p>

<h3>用藥法</h3>
<p>夫用藥之法，貴乎明變。如風會有古今之異，地氣有南北之分，天時有寒暑之更，稟賦有厚薄之別，受病有新舊之差，年壽有老少之殊，居養有貴賤之別。用藥之際，勿好奇，勿執一，勿輕妄，勿迅速。須慎重精祥，圓融活變。不妨沉會以期必妥，藥於是乎功成。昔先賢未有發明，後學因而弗講，其誤世也不既多乎。</p>
<p>夫病有宜補，以瀉之之道補之。病有宜瀉，以補之之道瀉之。病有宜寒劑者，以熱劑為響導之兵。病有宜熱劑者，以寒劑為類從之引。病在上者治下，病在下者治上。病同也而藥異，病異也而藥同。其義至微，學者最宜深究。</p>
<p>用藥之忌，在乎欲速。欲速則寒熱溫涼行散補瀉未免過當。功未獲奏，害已隨之。藥無次序，如兵無紀律，雖有勇將，適以勇僨事。又如理絲，緩則可清其緒，急則愈堅其結矣。</p>
<p>藥有君臣佐使，味有輕重厚薄，人盡知之矣。及其用藥也，令人復煎其渣，不知既經煎沸，則輕且薄者，業已無味。重且厚者，不減初煎。君臣佐使之宜，果安在哉。病淺者猶無大害，病深者切勿為之。</p>
<p>凡修丸劑，須每種各為細末，以末之輕重合之，則分兩方准。不然，易細者一磨無遺，難碎者三複不盡。滷莾若此，何怪其無功哉。</p>
<p>凡藥苦者直行而泄，辛者橫行而散，酸者束而收斂，咸者止而軟堅。獨是甘之一味，可升可降，可浮可沉，可內可外，有和有緩，有補有瀉。蓋土味作甘，土位居中，而能兼乎五行也。</p>
<p>凡藥之在土者，中半以上為根，其氣上行，病在中上焦者用之。中半以下為梢，其氣下行，病在下焦者用之。藥之出土者，中半以上為苗，其氣味上升。中半以下為身為干，其氣味中守下達咸宜。因其病而酌之，使弗悖乎陰陽也。</p>
<p>凡藥在上者，不厭頻而少。在下者，不厭頓而多。少服則滋榮於上，多服則峻補於下。</p>
<p>凡病在上者，先食而後藥。病在下者，先藥而後食。病在四肢者，宜飢食而在晝，病在骨髓者，宜飽食而在夜。</p>
<p>凡煎藥用水，也各有宜。如治濕腫浮脹之疾，而欲使利水道，則取長流水。以流長源遠，其性通達，直引四肢之間也。如治二便不通，及足脛以下風濕，則取急流水。以其湍縱峻急，其性速下也。如治痰飲鬱滯，而欲吐發升散，則取逆流水。以其性逆倒流，洄瀾湧決也。如治中氣不足，則取春雨水，有陽道發生之意也。如治下元不足，則取井水。蓋清晨井中天一之氣，浮結於面，以磁器輕取之，殊有補陰之功也。如治火熱陽證，則取雪水。能大退熱也。如治傷寒陰證奔豚等疾，則取甘瀾水。蓋盛之於缸，揚過千遍，水珠沫液，盈溢於面，其性柔順，其味甘溫，大能和氣也。如治脾胃虛弱、泄瀉不食等疾，則取池潦水。蓋土池中停蓄既久，不流不動，殊有土氣，能助脾元也。如治陰不升，陽不降，乖隔諸疾，則取陰陽水，河井各半，陰陽相成，可升可降，而使氣平者也。</p>
<p>古人用藥如羿之射的，不第諳其理，尤貴擇其道地者制之盡善。不然，欲以濫惡之劑，冀其功驗，雖扁鵲再起，其可得乎。</p>
<p>凡藥有畏惡相反。所謂畏者，畏其制我，不得自縱。如半夏畏生薑之類是也。所謂惡者，惡其異我，不得自盡。如生薑惡黃芩之類是也。統而論之，彼所畏者，我必惡之。我所惡者，彼亦畏我。相畏相惡之中，亦有相成者。在因病制方，輕重多寡之間耳。若所謂相反，則各懷酷毒，兩仇不共，共則必害事也。然有大毒之疾，又須用大毒之藥以劫之，如古方感應丸，用巴豆、牽牛同劑，以為攻堅破積之用。四物湯加人參、五靈脂以治血塊。二陳湯加黎蘆、細辛以吐風痰。丹溪治屍瘵蓮心散，以甘草、芫花同劑，而謂妙處在此。顧良工用之何如耳。</p>

<h3>藥性升降浮沉補瀉法</h3>
<p>（足厥陰肝經足少陽膽經）味辛補酸瀉（所以制金）。氣溫補涼瀉（手少陰心經手太陽小腸）。味鹹補甘瀉（所以制水）。氣熱補寒瀉（足太陰脾經足陽明胃經）。味甘補苦瀉（所以制土）。氣（溫涼寒熱補瀉各從其宜。手太陰肺經手陽明大腸）味酸補辛瀉（所以制水）。氣涼補溫瀉（足少陰腎經足太陽膀胱）。味苦補咸瀉（所以制火）。氣寒補熱瀉。五臟更相平也，一臟不平病。故曰安穀則昌，絕谷則亡。仲景云：水入於經，其血乃成。谷入於胃，脈道乃行。故血不可不養，衛不可不溫。血溫衛和，榮衛將行，常有天命也。</p>

<h3>五臟所欲</h3>
<p>肝欲散，急食辛以散之，以辛補之，以酸瀉之。心欲耎，急食鹹以耎之，以咸補之，以甘瀉之。脾欲緩，急食甘以緩之，以甘補之，以苦瀉之。肺欲收，急食酸以收之，以酸補之，以辛瀉之。腎欲堅，急食苦以堅之，以苦補之，以咸瀉之。</p>

<h3>五臟所苦</h3>
<p>肝苦急，急食甘以緩之。脾苦濕，急食苦以燥之。心苦緩，急食酸以收之。腎苦燥，急食辛以潤之。肺苦氣上，急食苦以泄之。</p>

<h3>五氣湊五臟例</h3>
<p>燥氣入肝。腥氣入肺。香氣入脾。焦氣入心。腐氣入腎。</p>

<h3>五行五色五味走五臟主禁例</h3>
<p>東方之木，其色青，其味酸，其臟肝。肝主筋，木曰曲直作酸，酸走肝，筋病人無多食酸。</p>
<p>南方之火，其色赤，其味苦，其髒心。心主血，火曰炎上作苦，苦走心，血病人無多食苦。</p>
<p>西方之金，其色白，其味辛，其臟肺。肺主氣，金曰從革作辛，辛走肺，氣病人無多食辛。</p>
<p>中央之土，其色黃，其味甘，其臟脾。脾主肉，土曰稼穡作甘，甘走脾，肉病人無多食甘。</p>
<p>北方之水，其色黑，其味鹹，其臟腎。腎主骨，水曰潤下作咸，咸走腎，骨病人無多食鹹。</p>

<h3>手足三陽表裡引經主治例</h3>
<p>太陽（足膀胱手小腸）上羌活，下黃柏。少陰（足腎手心）上黃連，下知母。少陽（足膽手三焦）上柴胡，下青皮。厥陰（足肝手包絡）上青皮，下柴胡。陽明（足胃手大腸）上升麻白芷，下石膏。太陰（足脾手肺）上白芍，下桔梗。</p>

<h3>諸藥瀉諸經之火邪</h3>
<p>黃連瀉心火。梔子、黃芩瀉肺火。白芍瀉脾火。柴胡、黃連瀉肝膽火。知母瀉腎火。木通瀉小腸火。黃芩瀉大腸火。柴胡、黃芩瀉三焦火。黃柏瀉膀胱火。</p>

<h3>諸藥相反例</h3>
<p>甘草反大戟、芫花、甘遂、海藻；烏頭反半夏、瓜蔞、白蘞、白芨；藜蘆反細辛、芍藥、人參、沙參、苦參、丹參、元參。</p>

<h3>十八反歌</h3>
<p>本草名言十八反，半蔞貝蘞芨攻烏，藻戟遂芫俱戰草，諸參辛芍叛藜蘆。</p>

<h3>十九畏歌</h3>
<p>硫黃原是火中精，朴硝一見便相爭。水銀莫與砒霜見，狼毒最怕密佗僧。巴豆性烈最為上，偏與牽牛不順情。丁香莫與鬱金見，牙硝難合京三稜。川烏草烏不順犀，人參最怕五靈脂。官桂善能調冷氣，若逢石脂便相欺。大凡修合看順逆，炮爁炙爆莫相依。</p>

<h3>六陳歌</h3>
<p>枳殼陳皮半夏齊，麻黃狼毒及茱萸。六般之藥宜陳久，入藥方知奏效奇。</p>

<h3>五臟補瀉主治例</h3>
<p>肝虛者，陳皮、乾薑之類補之。虛者補其母，腎者肝之母也。熟地、地黃、黃柏補之，如無他症，錢氏地黃丸主之。實則白芍藥瀉之，如無他症，錢氏瀉青丸主之。實則瀉其子，以甘草瀉心。心者肝之子也。心虛者炒鹽補之。虛則補其母，肝者心之母也。以生薑補肝，如無他症，錢氏安神丸主之。實則甘草瀉之，如無他症，錢氏方中重則瀉心湯，輕則導赤散。脾虛者甘草、大棗之類補之。實則黃連、枳實瀉之，如無他症，錢氏益元散主之。虛則補其母，心乃脾之母，以炒鹽補心。實則瀉其子，肺乃脾之子，以桑白皮瀉肺。肺虛者，五味子補之，實則桑白皮瀉之。如無他症，錢氏阿膠散主之。虛則補其母，脾乃肺之母。以甘草、大棗補脾。實則瀉其子，腎者肺之子，以澤瀉瀉腎。腎虛者，熟地黃、黃柏補之。腎無實不可瀉。錢氏只有補腎地黃丸，無瀉腎藥。虛則補其母，肺乃腎之母，以五味子補肺。</p>
<p>以上五臟補瀉，素問臟氣法時論備有之矣。欲究其祥，再著本論。</p>

<h3>用藥凡例</h3>
<p>頭角痛，須用川芎，血枯亦用。巔頂痛，須用藁本。偏身肢節痛，須用羌活，風濕亦用。腹中痛，須用白芍、厚朴。臍下痛，須用黃柏、青皮。心下痛，須用吳茱萸。胃脘痛，須用草豆蔻。脅下痛，須用柴胡，日晡潮熱寒熱往來亦用。莖中痛，須用生甘草梢。氣刺痛，須用枳殼，血刺痛，需用當歸。心下痞，需用枳實。胸中寒痞，須用去白陳皮。腹中窄，須用蒼朮。破血須用桃仁。活血須用當歸，補血須用川芎。調血須用玄胡索，補元氣須用人參。調諸氣須用木香。破滯氣須用枳殼、青皮。肌表熱須用黃芩，去痰亦用。</p>
<p>去痰用半夏。去風痰須用南星。諸虛熱須用黃耆，盜汗亦用。脾胃受濕用白朮，去痰亦用。下焦濕腫用漢防己，草龍膽。中焦濕熱用黃連，下焦濕熱用黃芩。煩渴須用白茯苓、葛根。嗽者用五味子，咳有聲無痰者，用生薑、杏仁、防風。咳有聲有痰者，用半夏、枳殼、防風。喘者須用阿膠、天門冬、麥門冬。諸泄瀉須用白芍、白朮。諸水瀉用白朮、茯苓、澤瀉。諸痢疾須用當歸、白芍藥。</p>
<p>上部見血用防風，中部見血用黃連，下部見血用地榆。眼暴發，須用當歸、黃連、防風。眼久昏暗用熟地黃、當歸、細辛。解利傷風，須用防風為君，白朮、甘草為佐。解利傷寒，甘草為君，防風、白朮為佐。凡諸風須用防風、天麻。諸瘡瘍須用黃柏、知母為君，茯苓、澤瀉為佐。瘧疾須用柴胡為君，隨所發之時，所屬經部分以引經藥導之。</p>
<p>以上諸藥，此大略言之，以為處方之階。欲究其精，於第二卷主治指掌中求之。</p>

<h1>卷二</h1>

<h2>主治指掌</h2>

<h3>羌活</h3>
<p><u>君</u>　羌活氣雄獨活氣細</p>
<p>羌活，味甘苦平，性微溫無毒。升也，陰中之陽也。其用有四：散肌表八風之邪；利周身八節之痛；排陰陽肉腐之疽；除新舊風濕之證。乃手足太陽表裡引經藥也。</p>

<h3>升麻</h3>
<p><u>形細而黑極堅者佳形大者味薄不堪用</u></p>
<p>升麻，味苦平，性微寒無毒。升也，陰中之陽也。其用有四：引蔥白散手陽明之風邪；引石膏止足陽明之齒痛；引諸藥遊行四經，升陽氣於陰之下。因名之曰升麻。</p>

<h3>柴胡</h3>
<p><u>半夏為之使惡石英畏女菀藜蘆。</u></p>
<p>柴胡，味苦平，性微寒無毒。升也，陰中之陽也。其用有四：左右兩旁脅下痛；日晡潮熱往來生；在臟調經內主血；在肌主氣上行經。手足少陽表裡四經之藥也。</p>

<h3>白芷</h3>
<p><u>臣</u>　當歸為之使惡旋覆花</p>
<p>白芷，味辛，性溫無毒。升也，陽也。其用有四：去頭面皮膚之風；除皮膚燥癢之痹；止足陽明頭痛之邪；為手太陰引經之劑。</p>

<h3>防風</h3>
<p><u>臣</u>　惡乾薑藜蘆白蘞芫花製附子毒</p>
<p>防風，味甘辛，性溫無毒。升也，陽也。其用有二：以氣味能瀉肺金；以體用通療諸風。</p>

<h3>當歸</h3>
<p><u>臣</u>　畏菖蒲海藻惡熱麩</p>
<p>當歸味甘辛，性溫無毒。可升可降，陽也。其用有四：頭止血而上行；身養血而中守；梢破血而下流；全活血而不走。</p>

<h3>獨活</h3>
<p><u>蠡實為之使</u></p>
<p>獨活，味苦甘平，性微溫無毒。升也，陰中之陽也。其用有二：諸風掉眩，頸項難伸；風寒濕痹，兩足不用。乃為足少陰之引經。</p>

<h3>木香</h3>
<p><u>君</u></p>
<p>木香，味苦辛，性溫無毒。降也，陰也。其用有二。調諸氣不可無；瀉肺氣不可缺。</p>

<h3>檳榔</h3>
<p><u>君</u></p>
<p>檳榔，味辛苦。性溫無毒。降也，陰也。其用有二；墜諸藥，性若鐵石；治後重，驗如奔馬。</p>

<h3>吳茱萸</h3>
<p><u>惡丹參硝石紫石英先以湯浸去辛味凡六七次然後可用</u></p>
<p>吳茱萸，味苦辛，性熱有小毒。可升可降，陽也。其用有四：咽嗌寒氣噎塞而不通；胸中冷氣閉塞而不利；脾胃停冷腹痛而不住；心氣刺痛成陣而不止。</p>

<h3>藿香葉</h3>
<p>藿香葉，味甘性溫無毒，可升可降，陽也。其用有二：開胃口，能進食欲；止霍亂，仍除嘔逆。</p>

<h3>川芎</h3>
<p>川芎，味辛性溫無毒。升也，陽也。其用有二：上行頭角，助元陽之氣而止痛；下行血海，養新生之血以調經。</p>

<h3>黃連</h3>
<p><u>臣，惡菊花芫花玄參畏款冬勝烏頭巴豆毒</u></p>
<p>黃連，味苦性寒無毒。沉也，陰也。其用有四：瀉心火，消心下痞滿之狀；主腸澼，除腸中混雜之物；治目疾暴發宜用；療瘡瘍首尾俱同。</p>

<h3>黃芩</h3>
<p><u>臣</u>　惡蔥實畏丹砂牡丹藜蘆</p>
<p>黃芩，味苦平性寒無毒。可升可降，陰也。其用有四：中枯而飄者，瀉肺火，消痰利氣；細實而堅者，瀉大腸火，養陰退陽；中枯而飄者，除風濕留熱於肌表；細實而堅者，滋化源退熱於膀胱。</p>

<h3>黃柏</h3>
<p>黃柏，味苦性寒無毒。沉也，陰也。其用有五：瀉下焦隱伏之龍火；安上焦虛噦之蛔蟲；臍下痛單制而能除；腎不足必炒用而能補；痿厥除熱藥中，誠不可缺。</p>

<h3>大黃</h3>
<p><u>使</u>　黃芩為之使無所畏之</p>
<p>大黃，味苦性寒無毒。其性沉而不浮，其用走而不守。奪土鬱而通壅滯，定禍亂而致太平，因名之曰將軍。</p>

<h3>玄明粉</h3>
<p>玄明粉，味辛甘酸。性微溫無毒。沉也，陰也。其用有二：去胃中之實熱；蕩腸中之宿垢，其效不可盡述。大抵用此而代盆硝也。</p>

<h3>白朮</h3>
<p><u>君</u>　蒼者米泔水浸白者陳壁土炒服二術忌食桃李雀蛤。</p>
<p>白朮，味甘性溫無毒。可升可降，陽也。其用有四：利水道有除濕之功；強脾有進食之效；佐黃芩有安胎之能；君枳實有消痞之妙。</p>

<h3>人參</h3>
<p><u>君</u>　茯苓為之使反藜蘆惡鹹鹵凡使淨去蘆頭</p>
<p>人參，味甘性溫無毒。升也，陽也。其用有三：止渴生津液；和中益元氣；肺寒則可服，肺熱還傷肺。</p>

<h3>黃耆</h3>
<p><u>惡龜甲白蘚皮蜜炒用。</u></p>
<p>黃耆，味甘性溫無毒。升也，陽也。其用有四：溫肉分而實腠理；益元氣而補三焦；內托陰證之瘡瘍；外固表虛之盜汗。</p>

<h3>甘草</h3>
<p><u>君</u>　惡遠志反大戟芫花甘遂海藻用宜去節服此忌豬肉及松菜。</p>
<p>甘草，味甘平，無毒。生之則寒。炙之則溫。生則分身梢而瀉火。炙則健脾胃而和中。解百毒而有效，協諸藥而無爭，以其甘能緩急，故有國老之稱。</p>

<h3>半夏</h3>
<p><u>使</u>　畏皂夾惡雄黃生薑乾薑秦皮龜甲反烏頭。</p>
<p>半夏，味辛平。生寒熟溫，有毒。降也，陽也。其用有四：除濕化痰涎；大和脾胃氣；痰厥及頭痛，非此莫能治。</p>

<h3>陳皮</h3>
<p>陳皮，味辛苦性溫無毒。可升可降，陽中之陰也。其用有二：留白補胃和中；去白消痰泄氣。</p>

<h3>青皮</h3>
<p>青皮，味苦性寒無毒。沉也，陰也。其用有四：破滯氣愈低而愈效；削堅積愈下而愈良；引諸藥至厥陰之分；下飲食入太陰之倉。</p>

<h3>枳殼</h3>
<p><u>使</u>　去瓤麩炒令熟用</p>
<p>枳殼，味酸苦性微寒無毒。沉也，陰也。其用有四：消心下痞塞之痰；泄腹中滯塞之氣；推胃中隔宿之食；削腹內連年之積。</p>

<h3>枳實</h3>
<p><u>臣</u>　凡用先去囊陳久者佳</p>
<p>枳實，味苦酸性微寒無毒。沉也，陰也。其用有四：消胸中之虛痞；逐心下之停水；化日久之稠痰；削年深之堅積。</p>

<h3>桔梗</h3>
<p><u>臣</u>　畏白及龍眼龍膽</p>
<p>桔梗，味苦性微寒。有小寒，升也，陰中之陽也。其用有四：止咽痛，兼除鼻塞；利膈氣，仍治肺痛；一為諸藥之舟楫；一為肺部之引經。</p>

<h3>知母</h3>
<p><u>君</u>　勿犯鐵器行經上頸酒炒用</p>
<p>知母，味苦性寒無毒。沉也，陰中之陰也。其用有四：瀉無根之腎火；療有汗之骨蒸；止虛勞之陽盛：滋化源之陰生。</p>

<h3>藁本</h3>
<p><u>臣</u>　惡䕡茹畏青葙子</p>
<p>藁本，味苦辛性微溫無毒。升也，陰中之陽也。其用有二：大寒氣客於巨陽之經；苦頭痛流於巔頂之上，非此味不除。</p>

<h3>生地黃</h3>
<p>生地黃，味甘苦性寒無毒。沉也，陰也。其用有四：涼心火之血熱；瀉脾土之濕熱；止鼻中之衄熱；除五心之煩熱。</p>

<h3>熟地黃</h3>
<p><u>君</u>　惡貝母畏蕪荑忌鐵器犯之令人腎消亦忌食萊菔令人發白</p>
<p>熟地黃，味甘苦性溫無毒。沉也，陰也。其用有四：活血氣，封填骨髓；滋腎水，補益真陰；傷寒後腰骨最痛；新產後臍腹難禁。</p>

<h3>五味子</h3>
<p><u>君</u>　蓯蓉為之使惡葳蕤勝烏頭</p>
<p>五味子，味酸性溫無毒。降也，陰也。其用有四：滋腎經不足之水；收肺氣耗散之金；除煩熱，生津止渴；補虛勞，益氣強陰。</p>

<h3>川烏</h3>
<p>川烏，味辛性熱有毒。浮也，陽中之陽也。其用有二：散諸風之寒邪；破諸積之冷痛。</p>

<h3>白芍藥</h3>
<p><u>臣</u>　惡石斛畏硝石大小薊反藜蘆</p>
<p>白芍藥，味酸平性寒有小毒。可升可降，陰也。其用有四：扶陽氣、大除腹痛；收陰氣、徒健脾經；墮其胎能逐其血；損其肝能緩其中。</p>

<h3>白茯苓</h3>
<p><u>臣</u>　惡白蘞密蒙地榆雄黃秦艽龜甲忌醋酸之物中有筋最損目宜去之</p>
<p>白茯苓，味甘淡性溫無毒。降也，陽中之陰也。其用有六：利竅而除濕；益氣而和中；小便多而能止；大便結而能通；心驚悸而能保；津液少而能生；白者入壬癸，赤者入丙丁。</p>

<h3>澤瀉</h3>
<p><u>君</u></p>
<p>澤瀉，味甘鹹性寒無毒。降也，陽中之陰也。其用有四：去胞垢而生新水；退陰汗而止虛煩；主小便淋澀為仙藥；療水病濕腫為靈丹。</p>

<h3>薄荷葉</h3>
<p><u>使</u></p>
<p>薄荷葉，味辛性涼無毒。升也，陽也。其用有二：清利六陽之會首；祛除諸熱之風邪。</p>

<h3>麻黃</h3>
<p><u>臣</u>　惡辛夷石葦凡用先煮沸去黃沫否則令人煩悶</p>
<p>麻黃，味苦甘性溫無毒。升也，陰中之陽也。其用有二，其形中空，散寒邪而發表；其節中閉，止盜汗而固虛。</p>

<h3>厚朴</h3>
<p><u>臣</u>　惡澤瀉寒水石硝石入藥去粗皮生薑汁炒用</p>
<p>厚朴，味苦辛性溫無毒。可升可降，陽中之陽也。其用有二；苦能下氣，去實滿而能消腹脹；溫能益氣，除濕滿散結調中。</p>

<h3>杏仁</h3>
<p><u>惡黃芩黃耆葛根凡用去皮尖麩炒</u></p>
<p>杏仁，味苦甘性溫有毒。可升可降，陰中之陽也。其用有二；利胸中逆氣而喘促；潤大腸氣閉而難通。</p>

<h3>巴豆</h3>
<p><u>使</u>　惡甘草畏大黃黃連用之去皮心</p>
<p>巴豆，味辛性熱有大毒。浮也，陽中之陽也。其用有二：削堅積，蕩臟腑之沉寒；通閉塞，利水穀之道路，斬關奪門之將。不可輕用。</p>

<h3>黑附子</h3>
<p><u>地膽為之使惡蜈蚣畏防風黑豆甘草黃耆人參烏韭</u></p>
<p>黑附子，味辛性熱有大毒。浮也，陽中之陽也。其性浮而不沉，其用走而不息。除六腑之沉寒，定三陽之厥逆。</p>

<h3>蒼朮</h3>
<p>蒼朮，氣味主治與白朮同。補中除濕，力不及白，寬中發汗，功過於白。</p>

<h3>秦艽</h3>
<p><u>菖蒲為之使</u></p>
<p>秦艽，味苦辛平性微溫無毒，可升可降，陰中之陽也。其用有二：除四肢風濕若神；療遍體骨疽如金。</p>

<h3>白殭蠶</h3>
<p>白殭蠶，味鹹辛平，性微溫無毒。升也，陰中之陽也。其用有二：去皮膚風動如蟲行；主面部䵟生如漆點。</p>

<h3>白豆蔻</h3>
<p>白豆蔻，味辛性溫無毒。升也，陽也。其用有四：破肺中氣滯；退口中臭氣；散胸中冷氣；補上焦元氣。</p>

<h3>地榆</h3>
<p>地榆，味苦甘酸，性微寒無毒。沉也，陰也。其用有二：主下部積熱之血痢；止下焦不禁之月經。</p>

<h3>連翹</h3>
<p><u>使</u></p>
<p>連翹，味苦平，性微寒，無毒。升也，陰也。其用有二：瀉諸經之客熱；散諸腫之瘡湯。</p>

<h3>阿膠</h3>
<p><u>君</u>　畏大黃</p>
<p>阿膠，味甘平，性微溫，無毒。降也，陽也。其用有四：保肺益金之氣；止嗽蠲咳之膿；補虛而安妊胎；治痿而強骨力。</p>

<h3>桃仁</h3>
<p>桃仁，味苦甘平，性寒無毒。降也，陰也。其用有二：潤大腸血閉之便難；破大腸久蓄之血結。</p>

<h3>生薑</h3>
<p><u>使</u>　惡黃芩黃連鼠糞去皮則熱留皮則冷製半夏毒</p>
<p>生薑，味辛性溫無毒。升也，陽也。其用有四：製半夏有解毒之功；佐大棗有厚腸之益；溫經散表邪之風；益氣止翻胃之噦。</p>

<h3>石膏</h3>
<p>石膏，味辛甘，性大寒無毒。沉也，陰也。其用有二，制火邪，清肺氣，仲景有白虎之名；除胃熱，奪甘食，易老有大寒之劑。</p>

<h3>桂</h3>
<p><u>君</u>　忌生蔥凡用刮去外皮</p>
<p>桂，味辛性熱有毒。浮也，陽中之陽也。氣之薄者，桂枝也；氣之厚者，肉桂也。氣薄則發泄，桂枝上行而發表；氣厚則發熱，肉桂下行而補腎。此天地親上親下之道也。</p>

<h3>細辛</h3>
<p><u>臣</u>　惡狼毒山茱萸黃耆畏硝石滑石反藜蘆</p>
<p>細辛，味辛性溫無毒。升也，陽也。其用有二：止少陰合病之首痛；散三陽數變之風邪。</p>

<h3>梔子</h3>
<p>梔子，味苦性大寒無毒。沉也，陰也。其用有二：療心中懊憹顛倒而不得眠；治臍下血滯小便而不得利。易老有云：輕飄而象肺，色赤而象火，又能瀉肺中之火。</p>

<h3>葛根</h3>
<p><u>臣</u>　制野葛巴豆白藥</p>
<p>葛根，味甘平，性寒無毒。可升可降，陽中之陰也。其用有四：發傷寒之表邪；止胃虛之消渴；解酒中之奇毒；治往來之溫瘧。</p>

<h3>瓜蔞根</h3>
<p><u>枸杞為之使惡乾薑畏牛膝反烏頭</u></p>
<p>瓜蔞根，味苦性寒無毒。沉也，陰也。其用有二：止渴退煩熱；補虛通月經。</p>

<h3>豬苓</h3>
<p>豬苓，甘淡平，性溫無毒。降也，陽中之陰也。其用有二：除濕腫體用兼備；利小水氣味俱長。</p>

<h3>乾薑</h3>
<p><u>臣</u>　惡黃芩黃連</p>
<p>乾薑，生則味辛，炮則味苦。可升可降，陽也。其用有二：生則逐寒邪而發表；炮則除胃冷而溫中。</p>

<h3>草龍膽</h3>
<p><u>貫眾為之使惡防葵地黃</u></p>
<p>草龍膽，味苦性寒無毒。沉也，陰也。其用有二：退肝經之邪熱；除下焦之濕腫。</p>

<h3>蘇木</h3>
<p>蘇木，味甘鹹平性寒無毒。可升可降，陰也。其用有二：破瘡瘍死血，非此無功；除產後敗血，用之立驗。</p>

<h3>杜仲</h3>
<p><u>惡蛇蛻玄參凡用炒去絲</u></p>
<p>杜仲，味辛甘平性溫無毒。降也，陽也。其用有二：強志壯筋骨；滋腎止腰痛。酥炙去其絲，功能如神應。</p>

<h3>天門冬</h3>
<p><u>君</u>　畏曾青凡用去皮心忌食鯉魚</p>
<p>天門冬，味苦平性大寒無毒。降也，陰也。其用有二；保肺氣不被熱擾；定喘促陡然康寧。</p>

<h3>麥門冬</h3>
<p><u>君</u>　惡款冬花苦瓜畏苦參凡用抽去心不令人煩</p>
<p>麥門冬，味甘平，性寒無毒。降也，陽中之陰也。其用有四：退肺中隱伏之火；生肺中不足之金；止煩躁，陰得其養；補虛勞，熱不能侵。</p>

<h3>木通</h3>
<p>木通，味甘平，性寒無毒。降也，陽中之陰也。其用有二：瀉小腸火積而不散；利小便熱閉而不通。瀉小腸火，無他藥可比，利小便閉與琥珀同功。</p>

<h3>地骨皮</h3>
<p><u>去骨用根皮。</u></p>
<p>地骨皮，味苦平，性寒無毒。升也，陰也。其用有二：療在表無定之風邪；主傳屍有汗之骨蒸。</p>

<h3>桑白皮</h3>
<p>桑白皮，味甘性寒無毒。可升可降，陽中之陰也。其用有二：益元氣不足而補虛勞；瀉肺氣有餘而止咳嗽。</p>

<h3>甘菊花</h3>
<p><u>野菊花味苦者名苦薏大傷胃不宜用又白菊花亦入藥</u></p>
<p>甘菊花，味苦甘平，性微寒無毒。可升可降，陰中之陽也。其用有二：散八風上注之頭眩；止兩目欲脫之淚出。</p>

<h3>紅花</h3>
<p>紅花，味辛，性溫無毒。陽也，其用有四：逐腹中惡血；而補虛之血；除產後敗血，而止血暈之暈。</p>

<h3>赤石脂</h3>
<p>赤石脂，味甘酸，性溫無毒。降也，陽中之陰也。其用有二：固腸胃有收斂之能；下胎衣無推蕩之峻。</p>

<h3>通草</h3>
<p><u>臣</u></p>
<p>通草，味甘平，性微寒無毒。降也，陽中之陰也。其用有二：陰竅澀而不利；水腫閉而不行。澀閉兩俱立驗，因有通草之名。</p>

<h3>烏梅</h3>
<p>烏梅，味酸平，性溫無毒，可升可降，陰也。其用有二：收肺氣除煩止渴；主泄痢調胃和中。</p>

<h3>川椒</h3>
<p>川椒，味辛，性大熱有毒。浮也，陽中之陽也。其用有二：用之於上，退兩目之翳膜；用之於下，除六腑之沉寒。</p>

<h3>葳蕤</h3>
<p>葳蕤，味甘平，性溫無毒。降也，陽中之陰也。其用有四：風淫四肢不用；淚出兩目皆爛；男子濕注腰痛；女子面黑䵟點，皆能療治。</p>

<h3>秦皮</h3>
<p><u>大戟為之使惡吳茱萸</u></p>
<p>秦皮，味苦性寒無毒。沉也，陰也。其用有四：風寒邪合濕成痹；青白色幻翳遮睛；女子崩中帶下；小兒風熱驚癇。</p>

<h3>白頭翁</h3>
<p>白頭翁，味苦性溫無毒。可升可降，陰中之陽也。其用有四：消男子陰疝偏腫；治小兒頭禿膻腥；鼻衄非此不效；痢疾全賴收功。</p>

<h3>牡蠣</h3>
<p>牡蠣，味鹹平，性寒無毒。可升可降，陰也。其用有四：男子夢寐遺精；女子赤白崩中；榮衛往來虛熱；便滑大小腸同。</p>

<h3>乾漆</h3>
<p><u>臣</u>　畏雞子又忌油脂見蟹黃則化水凡入藥搗碎炒用</p>
<p>乾漆，味辛平，性溫有毒。降也，陽中之陰也。其用有二：削年深堅結之沉積；破日久秘結之瘀血。</p>

<h3>南星</h3>
<p>南星，味苦辛，性溫有毒。可升可降，陰中之陽也，其用有二：墜中風不省之痰毒；主破傷如屍之身強。</p>

<h3>商陸</h3>
<p><u>使</u>　忌犬肉</p>
<p>商陸，味酸辛平，性寒有毒。降也，陽中之陰也。其味酸辛，其形類人。其用療水，其效如神。</p>

<h3>葶藶</h3>
<p>葶藶，味苦性寒無毒。沉也，陽中之陰也。其用有四：除周身之浮腫；逐膀胱之留熱；定肺氣之喘促；療積飲之痰厥。</p>

<h3>海藻</h3>
<p><u>臣</u>　反甘草</p>
<p>海藻，味苦鹹，性寒無毒。沉也，陰中之陰也。其用有二：利水道，通閉結之便；泄水氣，消遍身之腫。</p>

<h3>竹葉</h3>
<p><u>䈽竹淡竹為上苦竹次之餘不入藥</u></p>
<p>竹葉，味苦辛平，性寒無毒。可升可降，陽中之陰也。其用有二：闢除新舊風邪之煩熱；能止喘促氣勝之上衝。</p>

<h3>蔥白</h3>
<p><u>忌與蜜同食</u></p>
<p>蔥白，味辛性溫無毒，升也，陽也。其用有二：散傷風陽明頭痛之邪；主傷寒陽明下痢之苦。</p>

<h3>天麻</h3>
<p><u>其苗名定風草</u></p>
<p>天麻，味辛平性溫無毒。降也，陽也。其用有四：療大人風熱頭眩；治小兒風癇驚悸；祛諸風麻痹不仁；主癱瘓語言不遂。</p>

<h3>大棗</h3>
<p>大棗，味甘平性溫無毒。降也，陽也。其用有二：助脈強神；大和脾胃。</p>

<h3>威靈仙</h3>
<p><u>忌茗</u></p>
<p>威靈仙，味苦性溫無毒。可升可降，陰中之陽也。其用有四：推腹中新舊之滯；消胸中痰涎之痞；散疴癢皮膚之風；利冷疼腰膝之氣。</p>

<h3>鼠黏子</h3>
<p>鼠黏子，味辛平，性微寒無毒。降也，陽也。其用有四：主風濕癮疹盈肌；退寒熱咽喉不利；散諸種瘡瘍之毒；利腰膝凝滯之氣。</p>

<h3>草豆蔻</h3>
<p><u>麵包煨熟用</u></p>
<p>草豆蔻，味辛性溫無毒。浮也，陽也。其用有二：去脾胃積滯之寒邪；止心腹新舊之疼痛。</p>

<h3>玄胡索</h3>
<p>玄胡索，味苦辛，性溫無毒。可升可降，陰中之陽也。其用有二：活精血，能療產後之疾；調月水，亦主胎前之症。</p>
<p>以上凡藥九十品，品各賦以短章。既明以升降浮沉，復主以君臣佐使。或一味而內外兼攻。名系陰陽表裡。或一物而生熟互異，更分暑濕風寒。辭簡意周，幾無餘義。誠發前篇之所未盡也。其可不熟讀而詳記之乎。</p>

<h2>用藥須知</h2>

<h3>用藥法象</h3>
<p>天有陰陽，風寒暑濕燥火。三陰三陽上奉上，溫涼寒熱四氣是也。溫熱者，天之陽也。寒涼者，天之陰也。此乃天之陰陽也。</p>
<p>地有陰陽，金木水火土，生長化收藏下應之。辛甘淡酸苦鹹五味是也。辛甘淡者，地之陽也，酸苦鹹者，地之陰也。此乃地之陰陽也。</p>
<p>陰中有陽，陽中有陰。平旦至日中，天之陽也，陽中之陽也。日中至黃昏，天之陽，陽中之陰也。合夜至雞鳴，天之陰，陰中之陰也。雞鳴至平旦，天之陰，陰中之陽也。</p>
<p>故人亦應之，人身之陰陽，外為陽，內為陰。背為陽，腹為陰。臟為陰，腑為陽。心肝脾肺腎五臟為陰。膽胃大腸小腸膀胱三焦六腑為陽。所以知陽中之陰陰中之陽者，何也。如冬病在陰，夏病在陽，春病在陽，秋病在陰。知其所在，則施針藥也。</p>
<p>背為陽，陽中之陽，心也；背為陽，陽中之陰，肺也；腹為陰，陰中之陰，腎也；腹為陰，陰中之陽，肝也；腹為陰，陰中之至陰，脾也。此係陰陽表裡內外雌雄相輸應也。</p>

<h3>四時用藥法</h3>
<p>不問所病或溫或涼或熱或寒。如春時有疾，於所用藥內加清涼之藥。夏月有疾，加大寒之藥。秋月有疾，加溫氣之藥。冬月有疾，加大熱之藥。是不絕生化之源也。內經曰：「必先歲氣，無伐天和，是為至治」；又曰：「無違時，無伐化」。又曰：「無伐生生之氣，此皆常道用藥之法。」若反其常道而變生異症，則當從權施治。</p>

<h3>用藥丸散</h3>
<p>仲景云：銼如麻豆大，與㕮咀同意。夫㕮咀者，古之制也。古無鐵刃，以口咬細，令如麻豆，為粗藥煎之。使藥水清飲於腹中，則易升易散也，此所謂㕮咀也。今人以刀器銼如麻豆大，此㕮咀之易成也。若一概為細末，不分清濁矣。經云：清陽發腠理，濁陰走五臟，果何謂也。又曰：清陽實四肢，濁陰歸六腑，是也。㕮咀之法，取汁清易循行經絡故也。若治至高之病加酒煎，去濕加生薑煎，補元氣以大棗煎，發散風寒以蔥白煎，去膈上病以蜜煎。散者，細末也，不循經絡止去膈上病及臟腑之病。氣味厚者，白湯調服。氣味薄者，煎以和渣服。去下部之疾，其丸極大而光且圓，治中焦者次之，治上焦者則極小，稠糊面丸者，取其遲化直至下焦。或酒或醋丸者，取其收散之意也。用半夏、南星或去濕者，以生薑汁煮糊為丸，制其毒也。稀糊丸者，取其易化也。水浸一宿，蒸餅為丸，及滴水為丸者，皆取易化也。煉蜜為丸者，取其遲化而氣循經絡也。用蠟為丸者，取其難化而旋旋收功也。大抵湯者蕩也，去久病者用之。散者散也，去急病者用之。丸者緩也，不能速去其病，用藥徐緩而治之也。</p>

<h3>藥本五味歌</h3>
<p>酸為木化氣本溫，能收能澀利肝經；苦為火化氣終熱，能燥能堅心臟下；甘始土生氣化濕，能開緩滲從脾行；辛自金生氣滯燥，能散潤濡通肺竅；咸從水化氣生寒，下走軟堅足腎道；淡味方為五行本，運用須知造化要。</p>

<h3>炮製藥歌計六首</h3>
<p>芫花本利水，非醋不能通。綠豆本解毒，帶殼不見功。草果消膨效，連殼反脹胸。黑醜生利水，遠志苗毒逢。蒲黃生通血，熟補血運通。地榆醫血藥，連梢不住紅。陳皮專理氣，留白補胃中。附子救陰症，生用走皮風。草烏解風痹，生用使人蒙。人言燒煅用，諸石火烜紅。入醋堪研末，制度必須工。川芎炒去油，生用痹痛攻。炮爁當依法，方能專化工。知母桑白天麥門，首烏生熟地黃分，偏宜竹片銅刀切，鐵器臨之便不馴。烏藥門冬巴戟天，蓮心遠志五般全，並宜剔去心方妙，否則令人煩躁添。厚朴豬苓與茯苓，桑皮更有外皮生，四般最忌連皮用，去淨方能不耗神。益智麻仁柏子仁，更加草果四般論，並能去殼方為效，不去令人心痞增。何物還須湯泡之，蒼朮半夏與陳皮。更宜酒洗亦三味，蓯蓉地黃及當歸。</p>

<h3>妊娠服藥禁歌</h3>
<p>蚖斑水蛭及虻蟲，烏頭附子配天雄；野葛水銀並巴豆，牛膝薏苡與蜈蚣；三稜芫花代赭麝，大戟蟬蛻黃雌雄；牙硝芒硝牡丹桂，槐花牽牛皂角同；半夏南星與通草，瞿麥乾薑桃仁通；磠砂乾漆蟹爪甲，地膽茅根都失中。</p>

<h1>卷三</h1>

<h2>玉石部</h2>
<p>藥能治病，醫乃傳方，當明藥品貴賤良毒之異，須嘗氣味酸鹹苦辣辛甘。竊以金銀珠玉之貴，白堊石灰之賤，藥性之良則丹砂鍾乳，氣毒則信石硼砂。至於五味，酸入肝，鹹入腎，苦入心，辛入肺，甘入脾，辣則有溫涼寒熱之異。功力有急緩，性本有溫涼，且如朴硝之性急，若煎作芒硝，性乃緩矣。</p>
<p>本草之作，肇始炎皇。肇即始也，炎皇神農氏也。本草之為書，由神農嘗百草，一日而遇七十毒，始興醫藥相救之本草。</p>
<p>未言草木之品彙，且提玉石之紀綱。仿本草圖經，以玉石部為先，而草木之品次之。</p>
<p>金屑玉屑，辰砂石床，能驅邪而逼鬼祟，可定魄而制癲狂，止渴除煩，安鎮靈臺，明耳目補精益氣，依經煉服壽延長。</p>
<p>金屑，味辛平有毒。處處有之，梁益寧州最多。出水砂中得屑，謂之生金，若不煉，服之殺人。</p>
<p>玉屑，味甘平無毒，生藍田。</p>
<p>丹砂，一名硃砂，味甘微寒無毒。惟辰州者最勝，故謂之辰砂。生深山石崖間，穴地數十尺，始見其苗，乃白石耳，謂之硃砂床，即石床也。砂生石床上，亦有淘土石中得之，非生於石者。又按本草石床，自有本條，味甘溫無毒，謂鍾乳，水下凝積，生如筍狀，漸長久，與上乳相接為柱，出鍾乳堂中，謂之石床。</p>
<p>人心謂之靈臺。金屑玉屑辰砂石床四品之性主治相同，皆可依圖經法煉服食，則延年不老。</p>
<p>生銀屑，鎮驚安五臟，鍾乳粉補虛而助陽。</p>
<p>銀屑，味辛平有毒。生銀屑當取見成銀箔，以水銀消之為泥，合硝石及鹽研為粉，燒出水銀，淘去鹽石，為粉極細用之。</p>
<p>石鐘乳，味甘溫無毒。道州者最佳，須煉服之，不然，使人病淋。治咳嗽，行乳道，補髓添精，強陽道。益肺家，宜慎用之。</p>
<p>代赭石，能墜胎，而可攻崩漏。伏龍肝治產難，而吐血尤良。</p>
<p>代赭石用火煅醋淬七遍，研水飛，味甘寒無毒。出代州，其色赤，故名代赭石。養血氣，強精闢邪。畏天雄附子。</p>
<p>伏龍肝，即灶中土也。味辛溫微毒，消癰腫，催生下胎，止血崩。</p>
<p>雲母補勞傷兼明目。水銀除疥蝨與瘡瘍。</p>
<p>雲母石，味甘平無毒。安五臟，堅肌止痢，局方有法煎雲母膏，治癱疽惡毒等瘡。</p>
<p>水銀即硃砂液，能消化金銀使成泥。味辛寒有毒。一名汞。畏磁石。難產可用催生。</p>
<p>治風喉，理鼻息，功全礬石。止漏下，破癥結，用禹餘糧。</p>
<p>礬石，味酸寒無毒。出晉州者佳。化痰止痢，攻陰蝕諸瘡漏，煅過謂之枯礬，亦可生用。</p>
<p>禹餘糧，火煅醋淬七次，搗細水飛。味甘寒平無毒。出潞州，形如鵝鴨卵，外有殼重疊者是，其中有黃細末如蒲黃者，謂之石中黃。</p>
<p>朴硝開積聚，化停痰，煎作芒硝功卻緩。硝石止煩躁，除熱毒，煉之須掃地邊霜。</p>
<p>朴硝，味苦辛大寒無毒，生益州。初採掃得，一煎而成，故曰朴硝。再取朴硝淋汁煉之，有細芒者謂之芒硝，專治傷寒。</p>
<p>硝石，味辛苦寒無毒，即掃地霜淋汁煉成者。</p>
<p>打破瞳神得空青而依然復舊。胎宮乏孕，紫石英有再弄之璋。</p>
<p>空青，味甘酸寒無毒，生於有銅處，銅精氣熏則生。今信州時有之。其腹中空破之有漿者，絕難得。大者如雞子，小者如豆子。治眼翳障為最要。又有曾青銅，出處色理亦無異，但其彩累累連珠相綴，其中不空，與空青功效不相上下。</p>
<p>紫石英，味甘辛溫無毒。治女子風寒在子宮，絕孕十年無子，服之。又白石英，治風濕痹，安魂魄，強陰道，黃赤黑色皆不入藥。</p>
<p>熱渴急求寒水石，壯陽須索石硫黃。</p>
<p>寒水石，一名凝水石。味甘寒無毒。出汾州及邯鄲，即鹽之精也。治火燒丹毒。能解巴豆毒。畏地榆。</p>
<p>硫黃，味酸性溫大熱有毒，出廣州。治疥蟲䘌瘡，堅筋，療老風秘。</p>
<p>腎臟即衰，煅磁石而強陽道。膀胱不利，炒食鹽以熨臍旁。</p>
<p>磁石，味辛鹹寒無毒，有鐵處則生，惡牡丹，畏黃石脂，能吸鐵。補益勞傷。兼治耳聾。</p>
<p>食鹽，味鹹溫無毒，解州者勝。治霍亂痰癖，可用吐之。</p>
<p>水銀飛煉成輕粉，殺諸疥癬，善治兒疳，石灰風化方為勝，不堪服食，可療金瘡。</p>
<p>輕粉即水銀粉，味辛冷無毒，畏磁石。忌一切血。</p>
<p>風化石灰五月五日採百草搗汁，調煅過石灰末作團陰乾。專治金瘡刀斧傷處。不堪入藥。</p>
<p>石膏發汗解肌，去風寒熱。滑石除煩止渴，快利小腸。</p>
<p>石膏，味甘辛大寒無毒，與方解石相類。須用細理白澤者為真，治頭痛，解肌發汗。黃色者，服之使人淋。</p>
<p>滑石，味甘寒無毒，用白色軟嫩者佳，能益精除熱，療女人產難。</p>
<p>殺三蟲，破癥結，胡粉一名為粉錫。斂金瘡，治眼暗，銅青銅綠竟無雙。</p>
<p>胡粉，一名粉錫，一名定粉，俗名光粉。即今化鉛所作婦人容面者。味辛寒無毒。</p>
<p>銅青銅綠，以醋沃銅上即生。乃銅之精華也。微有毒，不可入湯藥。</p>
<p>吐痰抵痔密陀僧，兼抹䵟斑隨手沒。生肌止痛無名異，折傷可理並金傷。</p>
<p>密陀僧，即煅銀爐底也，味酸辛有毒。</p>
<p>無名異，味甘平無毒。金傷謂刀斧傷也。</p>
<p>硼砂攻喉痹，止嗽消痰直有理。膽礬除熱毒，諸癇痰氣盡消詳。</p>
<p>硼砂，一名蓬砂，味苦辛暖無毒。出南番者色重褐，其味和，其效速。出西戎者其色白，其味雜，其功緩，不堪入藥，作金銀焊藥用之。</p>
<p>膽礬，《圖經》作石膽。味酸辛寒有毒。信州有之。生於銅坑中，採得煎煉而成。消熱毒，療諸風癱瘓，可吐風痰。</p>
<p>伏火靈砂，闢鬼邪，安魂魄，明目鎮心通血脈。藏泥白堊，除泄利，破癥瘕，澀精止漏又為良。</p>
<p>靈砂，一名二氣砂。用水銀一兩，硫黃六銖，研細。二味先同炒作青砂頭，後入水火既濟爐中抽之，如束針紋者成就也。惡磁石。畏酸水。</p>
<p>白堊，即善土，味苦辛溫無毒，處處有之。採無時。</p>
<p>石燕治淋催難產。黑鉛安鎮熨蛇創。（創，傷也，平聲與瘡同）。</p>
<p>石燕，產零陵州。形似蚶，其實石也。性涼無毒。女人產難，兩手各握一枚，胎立出。</p>
<p>黑鉛，味甘無毒，有銀坑處皆有。粉錫、胡錫、光粉，皆化鉛所作。又鉛白霜，以鉛雜水銀煉作片。置醋釀中密封，經久成霜，謂之鉛白霜，性極冷。</p>
<p>黃丹乃是熬鉛作，生肌止痛。礬石特生非常熱，養就丹房。</p>
<p>黃丹《圖經》作鉛丹，又名虢丹。用時炒令赤色，研細，味辛微溫無毒。止吐逆，療癲癇，敷金瘡良。</p>
<p>礬石俗呼鎮風石。味辛甘大熱有毒。嚴寒置水中，水令不冰。性堅硬而拒火，燒之一日夜方解散。攻擊積聚痼冷之病最良。須真者，必取鸛巢中團卵而助暖氣者方真。乃修真煉丹之藥品。</p>
<p>血暈昏迷，法煉廣生花蕊石。折傷排膿，火煅醋淬自然銅。</p>
<p>花蕊石，出陝州閿鄉，性至堅硬，保金瘡止血。局方以硫黃合和花蕊石，如法煉成。專治產後血暈去惡血。</p>
<p>自然銅，味辛平無毒。出銅處有之。形方而大小不等，似銅實石也。不從礦煉，自然而生，故曰自然銅也。</p>
<p>硇砂能破癥瘕積聚。若還生用爛心腸。信石可吐膈內風痰，倘中其毒促人亡。</p>
<p>硇砂，味鹹苦辛溫有毒。能消五金。入口腐人腸胃，生服之化人心為血。</p>
<p>信石，圖經名砒霜。信州者佳，故名信石。味苦酸有大毒。主諸瘧風痰在胸膈，可作吐藥用，不宜多服，能傷人命。</p>
<p>若誤中硇砂砒霜二毒，急宜冷水調綠豆汁飲之可解。</p>
<p>梁上塵消軟癤，通喉噎，橫生立產。井泉石性寒涼，攻火熱，除翳神方。</p>
<p>梁上塵，一名烏龍尾。性微寒無毒。凡使須去煙火遠，高堂佛殿上者，拂下篩而用之。</p>
<p>井泉石，性大寒無毒，處處有之，以饒陽郡者為勝，得菊花梔子最良。</p>
<p>除痼冷，止頭痛，無遺太陰玄精石。安心志、制癲狂，誰知鐵粉和鐵漿。</p>
<p>玄精石，出解州解縣，今解地積鹽倉中方有之。其色青白龜背者良。味鹹溫無毒。</p>
<p>鐵，味甘無毒。取鐵浸之，經久色青沫出可染皂者為鐵漿，治癲狂。鐵拍作片段，置醋糟中，積久生衣，刮取為鐵粉，能安心志。</p>
<p>雄黃能殺虺蛇毒，妊娠佩帶，轉生男子。煉之久服自身輕。要生女子，佩帶雌黃。</p>
<p>雄黃、雌黃同山所生，山陽處生雄黃，山陰有金處，金精熏則生雌黃。婦人覺有孕，以雄黃二兩，絳囊盛帶之，可轉女為男，以雌黃半兩，素囊盛帶之，可轉男為女。雌黃煉服，久則輕身，可入仙家。</p>
<p>備金石之品味，治病得以推詳，總括上文諸藥，悉可對證而施治也。</p>

<h2>草部上</h2>
<p>觀夫天生䒱民，地生百草。人生不無札瘥之常，以致病於壽夭。草有治病之功，用別花苗實腦。</p>
<p>䒱、眾也。實即子，腦即根，各有所宜也。</p>
<p>菖蒲開心明耳目，去濕痹風寒。菊花消濕散痹風，主頭眩痛擾。</p>
<p>菖蒲，一名昌陽。須用生石磧上一寸九節者良。味辛溫無毒。菊花味苦甘平無毒，主胸中煩熱，明目聰耳。</p>
<p>治渴補虛安臟，快覓人參。溫中解毒性平和，無如國老（即甘草）。</p>
<p>人參，一曰人葠，味甘微寒無毒。反藜蘆、甘草，味甘平、無毒，主解百毒，為眾藥之王，故號國老，反大戟、芫花、甘遂、海藻。</p>
<p>白朮益脾止瀉嘔，若動氣不宜。蒼朮平胃壓山嵐。用米泔浸炒。</p>
<p>白朮，味甘辛無毒，主風寒濕痹，益脾胃，補虛勞，消腫，傷寒有動氣者不宜服。</p>
<p>蒼朮，用米泔浸一宿，換泔浸，炒乾去皮，味苦甘辛無毒。治傷寒痹痛，除溫瘧，可發散。</p>
<p>生地黃能行血，兼止吐衄、折傷。熟地黃能補血，更治虛勞焦躁。</p>
<p>生地黃大寒，亦治產後血攻心及女人經水閉絕。熟地黃淨洗酒浸，蒸兩三次焙乾，味甘溫無毒。熟乾則溫補，生干則平宣。熟者止崩漏，安魂魄，治驚悸，補內傷。</p>
<p>天門冬鎮心止吐血衄血，性寒而能補大虛。麥門冬解渴開結益心腸，勞熱可除煩可保。</p>
<p>天門冬味苦甘平，大寒無毒，悅人顏色。麥門冬味甘平，微寒無毒，二味並去心，焙乾用。</p>
<p>地膚子、車前子除熱去風明眼目。能使膀胱水穀分。菟絲子、巴戟天添精補髓主延年，解去腰疼誠有效。</p>
<p>地膚子，即落帚子，味苦寒無毒。車前子，味甘鹹寒無毒。能滑胎，止瀉痢。菟絲子，味辛平無毒，水洗澄去砂土，酒浸一宿，蒸過乘熱搗成膏，焙乾再入藥，方可研末。巴戟天須連珠者，去心酒浸焙乾。味辛甘微溫無毒，除風強筋益力，治夢與鬼交。</p>
<p>牛膝補虛攣膝痛、月經若閉亦能通，柴胡去熱治勞傷，主療傷寒功力到。</p>
<p>牛膝，為君味苦酸平無毒。柴胡味苦平，性微寒無毒，治濕痹拘攣，可用煎湯浴之，下氣消痰止嗽、傷寒為要。</p>
<p>草決明瀉肝熱，明目驅風兼鼻淵。草龍膽益肝虛，驚惕無憂疳蟲埽。</p>
<p>草決明味鹹苦甘平微寒無毒。草龍膽味苦寒無毒，益肝明目，最治疳。</p>
<p>菴䕡子性苦寒，風寒濕痹水皆寬。茵陳蒿性苦冷，時氣發黃淋可導。</p>
<p>菴䕡，處處有之，味苦微寒無毒，久服輕身明目。茵陳蒿，味苦平微寒無毒，治淋難小便閉澀不通。</p>
<p>遠志一名小草，堪收夢裡遺精。黃精俗字山姜，久服延年不老。</p>
<p>遠志用去骨，以甘草湯浸煮炒乾。味苦溫無毒，苗名小草。一似麻黃，但無節。令人生智慧，定心驚。黃精俗呼為山姜，味甘平無毒，然與鉤吻相似。但一善一惡，要仔細辨認，切勿誤用鉤吻，則傷人至死。</p>
<p>北五味補虛下氣，止嗽強筋。南木香止痢健脾，氣痛是寶。</p>
<p>五味子，味酸甘鹹苦辛，故名五味。性溫無毒，止渴消酒毒。木香形如枯骨者佳，不見火，味辛溫無毒，去膀胱冷氣，除癥瘕，止瀉痢。</p>
<p>金瘡止血，王不留行，是名剪金花。風疹赤丹，本草景天，即是慎火草。</p>
<p>王不留行，味苦平無毒，可催生產，利月經。景天，味苦酸平無毒，主勞煩大熱瘡。女人漏下，用花良。</p>
<p>絡石治癰瘡，消熱毒，苗似龍鱗。川芎醫頭痛，主筋攣，形如雀腦。</p>
<p>絡石，為君，即石鱗，又名龍鱗薜荔。味苦溫，微寒無毒，畏貝母菖蒲。川芎，一名川藭，明目，瘡家止痛，味辛溫無毒，蘼蕪即其苗也。白芷為之使。</p>
<p>金釵石斛，解使元陽壯，腰疼膝痛並皆驅。鬼臉升麻，能教百毒消，疹痘斑瘡寧可較。</p>
<p>石斛草，味甘平無毒，入腎壯陽平胃氣。升麻，味苦平微寒無毒，能解一切毒。除熱去風，為傷寒時氣之要藥也。</p>
<p>煙塵續斷，安胎產，療金瘡，速不可遲。染絳茜根，理風寒、止吐血，須宜乎早。</p>
<p>續斷味苦辛微寒無毒，最能接骨，因名續斷。茜根，一作蒨，即今染絳茜草根也。味苦微寒。解中蠱毒。</p>
<p>虺床蛇床同一種，治風濕癢及陰瘡。羌活、獨活本來同，頭痛筋攣風氣撓。</p>
<p>虺床即蛇床，味苦辛甘平無毒。羌活、獨活本同類，但紫色而節密者為羌活，黃色而作塊者為獨活。味苦甘平，微溫無毒。</p>
<p>細辛薯蕷，能溫中下氣，仍主腦腰疼。薏苡葳蕤，治痹弱筋攣，並醫風溼症。</p>
<p>細辛，味辛溫無毒，主拘攣風痹，明目療痿，治婦人血閉。薯蕷，俗名山藥，味甘溫平無毒，補心氣不足，鎮心神。</p>
<p>薏苡仁，味甘寒無毒，主肺氣肺癰。葳蕤，葉似黃精，味甘平無毒，切勿誤用鉤吻，誤用則傷人。</p>
<p>止瀉補虛收盜汗，黃耆奏莫大之功。消癰散腫有高能，忍冬是至賤之草。</p>
<p>黃耆，味甘微溫無毒，主虛勞，強筋，治耳聾，止痛排膿。忍冬草，即鷺鷥藤，又名金銀花。其蔓左纏，亦名左纏藤。味甘溫無毒，今處處有之。</p>
<p>澤瀉會除諸般瀉，弭渴疏淋。防風主治一切風，仍蠲痛腦。</p>
<p>澤瀉，味甘鹹寒無毒，止泄精，逐膀胱水，多服令人眼病。防風，味甘辛溫無毒，能解附子毒，明目止汗療崩。</p>
<p>蒺藜陰痛煎湯，頭痛煎酒。蒲黃行血用生，止血用炒。</p>
<p>蒺藜，味苦辛溫，微寒無毒。破血催生，若風瘡陰瘡，煎湯作浴，頭痛煎酒服。蒲黃，味甘平無毒，生則味滑，炒熟則味澀。</p>
<p>蓯蓉扶女子陰絕，與男子陽絕，補精養腎，生自馬精。黃連理大人諸熱，卻小兒疳熱，止痢厚腸，貴稱鷹爪。</p>
<p>肉蓯蓉，味甘酸鹹，微寒無毒。言是馬精落地所生，生時似肉，作羹補虛最佳。黃連，味苦寒無毒，點眼可除熱，更治消中、口瘡良。</p>
<p>漏蘆行乳汁，消瘰癧腸風。丹參補胎氣，利月經為吉。</p>
<p>漏蘆，味苦鹹寒無毒，醫瘡瘍，療眼，理損傷，續筋骨。丹參，味苦微寒無毒，除積聚，破癥瘕，益氣去煩滿。一名赤參。</p>
<p>更分佐使君臣，是曰神聖功巧。</p>
<p>望而知之謂神，聞而知之謂聖，問而知之謂功，切而知之謂巧。望聞問切，是謂醫家之四知。</p>

<h2>草部中</h2>
<p>抑又聞芍藥苦平，赤者破血通經，而白者可安胎止痛。辛姜大熱，生則嘔家聖藥，而乾者除霍亂肚疼。</p>
<p>芍藥，為臣。味苦酸平，微寒有小毒，惡石斛芒硝。畏硝石。反藜蘆。芍有赤白二種，白者補虛止汗，赤者除熱明目。姜，為使。有生用，有乾用，乾者味辛溫，大熱無毒，溫中止血，逐痹風濕；生者味辛，微溫無毒，處處有之。用熟即去皮，用生即留皮。發散傷寒下氣，為嘔家聖藥。</p>
<p>葛根止渴解酲，發散傷寒消熱毒。瞿麥開通關格宣癃、墮子更催生。</p>
<p>葛根，味甘寒無毒。瞿麥，止用實殼，不用莖葉，味苦寒無毒。</p>
<p>栝蔞曰天瓜，實治乳癰，根可止渴。蒼耳即枲耳。子能明目，葉解風纏。</p>
<p>栝蔞根，名天花粉。味苦寒無毒，實即瓜蔞。蒼耳，味甘溫有小毒。今處處有之，主攣痹濕風寒。</p>
<p>玄參攻喉痛。苦參攻腸風，並可消痹破癥結。貝母人面瘡，知母潤心肺，皆能止嗽理傷寒。</p>
<p>玄參，即山麻，味苦鹹微寒無毒。今處處有之，除風熱，明眼目。苦參味苦寒無毒，殺疳蟲治瘡毒。貝母，味辛苦平微寒無毒，專治腿膝人面瘡，及諸癰毒。知母，味苦寒無毒，除熱止渴。</p>
<p>白薇本消淋露，更治風狂，併除溫瘧。白芷能除血崩，專攻頭痛，亦用排膿。</p>
<p>白薇，味苦鹹平，大寒無毒，如蔥管者佳。白芷，味辛溫無毒，專治蛇咬，研末摻咬處，或搗汁浸傷處，並效。</p>
<p>當歸主血補虛勞。止血用頭，破血用尾。麻黃髮散攻頭痛，發汗用莖，止汗用根。</p>
<p>當歸酒浸焙，味苦辛溫無毒。麻黃，味苦溫無毒。</p>
<p>大薊功同小薊，治癰腫血崩吐衄。小青不如大青，療傷寒熱毒時行。</p>
<p>大薊小薊味甘溫，今處處有之。大青、小青味苦大寒無毒，處處有之，古方只用大青。</p>
<p>京三稜、蓬莪朮，破血消症，寧心脾腹痛。白豆蔻、蓽澄茄，溫脾健胃，能消食寬膨。</p>
<p>三稜，味苦平無毒。莪朮又曰莪蒁，味苦平溫無毒。白豆蔻，味辛大溫。蓽澄茄味辛溫無毒。</p>
<p>鬱金勝似薑黃，行經下氣。川芎貴乎藁本，頭痛皆痊。</p>
<p>鬱金，須用蜀中如蟬肚者佳，味苦辛寒無毒。薑黃說見下文。川芎，解見草部上芎藭下。藁本，俗曰土芎，味辛微寒無毒，主風入四肢，畏青葙子。</p>
<p>前胡柴胡，功無優劣，通醫熱病，主療傷寒。</p>
<p>前胡，味苦微寒無毒，下氣消痰，推陳致新，安胎止嗽。柴胡見草部上。</p>
<p>薑黃烈似鬱金功。下氣消癰，通經破血。蓽茇味如良薑辣，轉筋霍亂，心痛連顛（顛即頭頂也。）</p>
<p>薑黃處處有之，味辛苦大寒無毒。鬱金解見前。蓽茇，味辛大寒無毒，溫中下氣。高良薑，味辛溫，大熱無毒。</p>
<p>剪草入疥瘡之氣。王瓜導乳汁之泉。</p>
<p>剪草，味苦平無毒。婺州產者最良。根名白藥。治金瘡。古方以煎草末蜜和，九蒸九曬成膏。可醫一切失血。王瓜一名落鴉瓜，一名土瓜，結子如彈丸，生青熟赤。可啖。閩俗稱之為毛桃。其根止渴，散癰除疽，消症下血。</p>
<p>通草原來即木通，治淋退腫。蠡實一名馬藺子。去濕醫崩。</p>
<p>通草，味辛甘平無毒，除寒熱，出音聲，治耳聾。馬藺子，味甘平無毒，去風寒濕痹，除喉痹。</p>
<p>百合寧心，可除咳痰有血。秦艽治疽，時行勞熱猶能。</p>
<p>百合，味甘平無毒，除熱咳，攻發背瘡癰，消脹，利大小便。秦艽，味苦平微溫無毒，消浮腫，利小便。</p>
<p>黃芩解熱通淋，女子崩因熱者。紫菀化痰定喘，咳嗽吐有紅涎。</p>
<p>黃芩，味苦平大寒無毒，治黃疸。止痢，女子血崩，本性熱者用良。虛寒者不可用。</p>
<p>紫菀，味苦辛溫無毒，補虛止渴，安五臟，通結氣滯胸中。紅涎，痰中有血膿也。</p>
<p>澤蘭行損傷之血，紫草制痘疹之偏。</p>
<p>澤蘭，味苦甘，微溫無毒，消四肢浮腫，攻癰腫排膿。紫草，味苦寒無毒，通九竅，退腫通淋。</p>
<p>石葦透膀胱小便，防己治風熱拘攣。</p>
<p>石葦，味苦甘平無毒，去熱除邪，臨用刷去毛，不然令人咳嗽不已。防己，味辛苦平溫無毒，治水腫風腫，去濕止嗽。</p>
<p>肉豆蔻補脾止痢，猶調冷瀉。款冬花洗肝明目，勞嗽宜遵。</p>
<p>肉豆蔻，用麵裹煨熟。味辛溫無毒。解酒消食調中，兼治霍亂。款冬花，味辛甘溫無毒，定喘消痰。</p>
<p>淫羊藿即仙靈脾，補腎虛，與陽絕不起。補骨脂名破故紙，扶腎冷，絕夢泄精殘。</p>
<p>淫羊藿，味辛寒無毒，主治冷風勞氣。補骨脂，味辛大溫無毒，主血氣勞傷。</p>
<p>禁驚熱、殺疳蟲，蘆薈俗呼為象膽。解風纏、宣痘毒，牛蒡原來號鼠黏。</p>
<p>蘆薈，味苦寒無毒，以其味苦故名象膽。主癲癇痔瘡。牛蒡，一名惡實，又名鼠黏。明目消瘡毒，手足拘攣。味辛平，處處有之。</p>
<p>海藻海帶一般，疝氣癭瘤同有效。水萍雖分三種，熱風癮疹並權衡。</p>
<p>海藻洗去鹹水焙乾用，味苦鹹寒無毒。水萍有三種，止渴治火瘡，通小便消水氣，味辛鹹寒無毒。</p>
<p>艾葉可生可熟，漏血安胎，嘔吐衄紅還可止。阿魏有真有假，殺蟲破積，傳屍也可保天年。</p>
<p>艾葉，處處有之，味苦溫無毒，生者治下痢，止嘔血，取汁用之；熟者治漏血，可為丸灸百病。</p>
<p>阿魏，味辛平無毒，難得真者，氣極臭而能止臭氣。</p>
<p>敗醬婦人產後用，酸醬催產易於生。</p>
<p>敗醬，味苦鹹平無毒，因作敗腐豆漿氣，故名敗醬。陳良甫作婦人科方，說是苦薺菜。仲景方治腹癰。酸醬，味酸平寒無毒。處處有之，即酸醬草也。主熱除煩，通淋止崩，產難胎衣不下者。若吞其實即出。</p>
<p>茴香治霍亂轉筋，更通腎氣。昆布消癭瘤結硬，水腫為先。</p>
<p>茴香一名蘹香子。味辛平無毒，開胃調中，得酒良。</p>
<p>昆布，味鹹酸，性冷無毒，與海藻同科，治癭瘤。</p>
<p>百部除肺熱久年勞嗽，天麻逐諸風濕痹拘攣。</p>
<p>百部，味苦微寒無毒，治疥癬去風。天麻，味辛平無毒，益氣強筋。苗名赤箭。</p>
<p>牡丹可行經下血，地榆止血痢宜然。</p>
<p>牡丹，味辛苦寒無毒，止痛除邪氣，療驚癇中風，續筋骨，破癰膿。地榆，味苦甘酸，微寒無毒，惡麥門冬，止痛排膿治金瘡，女人帶下良。</p>
<p>香附縮砂，消食化氣，暖胃溫脾，皆婦人要藥。狗脊萆薢，扶老補虛，腰疼腳弱，與濕痹牽纏。</p>
<p>香附子，即莎草根。味甘微寒無毒，處處有之。縮砂，去皮取仁用，味辛溫無毒，止瀉痢炒過，除妊娠婦腹痛。狗脊，味苦甘平，微溫無毒。萆薢，川中者為道地，味苦甘平無毒。</p>
<p>紅花本能行血，白蘚瘡疥利便。</p>
<p>紅花本草作紅藍花，味辛溫無毒，主產後血暈昏迷，可作胭脂，治小兒聤耳。</p>
<p>白蘚皮，味苦鹹寒無毒，除疽通淋，主風癱手足不仁，調經水，療陰痛。</p>
<p>風寒濕痹，腎冷與遺精，當知石龍芮。勞熱骨蒸，兼兒疳驚痢，須用胡黃連。</p>
<p>石龍芮，味苦平無毒，畏蛇蛻茱萸。平胃氣，主關節不通。胡黃連，味苦平無毒，折斷起煙塵者是。</p>
<p>白茅花能止吐衄血，玄胡索可治腹心疼。</p>
<p>白茅根，味甘寒無毒，處處有之，通血除煩渴，治淋利小便；花，止吐衄血；茅針，搗敷金瘡良。玄胡索，味辛溫無毒，治女人月水不下，行腎氣。</p>
<p>甘松青浴體令香，專辟惡氣。使君子乃醫蟲藥，疳瀉如仙。</p>
<p>甘松，味甘溫無毒，善除惡氣，浴體香肌，治心腹痛。使君子，用熱灰中和殼煨，去皮殼取肉用。味甘溫無毒，消疳積，治瀉痢，除諸蟲。因郭使君用此，因名使君子。</p>
<p>斯乃稱為中品，是誠藥性鉤玄。</p>

<h2>草部下</h2>
<p>因知性甘大熱，附子烏雄，可回陽而逐冷，祛風濕而建中。</p>
<p>附子，團圓平正重一兩以上者佳。主心腹冷痛，攻咳逆，破癥結，墮胎止痢。除風寒濕痹，強陰道。烏頭，與附子同種，以原種之母為烏頭。破積除寒濕，及中風邪惡風，墮胎，攻腹痛，消積飲。天雄，似附子，但廣身長三四寸許，有須，性烈一如烏附。逐痹除風助陽。附子烏雄，味並辛甘大熱有毒。</p>
<p>半夏止吐去痰，有毒必須薑製。大黃通腸滌熱，快峻因號將軍。</p>
<p>半夏，味辛平，生微寒，熟溫，並有毒。五月夏至生，故名半夏。健脾止嘔去痰涎，熟令人下，生令人吐，合生姜和煎，方制其毒。大黃，味苦寒無毒，黃芩為之使，無所畏。宣氣消癰，除結熱，通瘀血，蕩燥屎，推陳致新，性至快。</p>
<p>木賊青葙開眼翳。羊蹄鶴蝨殺三蟲。</p>
<p>木賊，味甘微苦無毒，攻積塊腸風下痢，止女人赤白帶。青葙子，味苦微寒無毒，即白雞冠花子。主皮膚熱，瀉肝熱去風，除瘙癢殺蟲。羊蹄，俗呼為禿菜根。味苦寒無毒，攻疥癬，治女人陰蝕瘡痔。殺諸蟲。鶴蝨，味苦寒有毒，即火鍁草。主蛔蟲咬心痛。</p>
<p>與甘草相刑，甘遂能消腫破症。大戟通利水道，兼除蟲毒，與烏頭相反。白蘞治腸風癰腫。白芨破癰疽，併合跟皸。</p>
<p>甘遂，大戟，味並苦甘寒有毒，治病之功，不相上下，故並反甘草。白蘞、白芨，味並苦辛甘平無毒，同反烏頭，療疾大同小異。</p>
<p>風攻皮膚羊躑躅，熱主咳喘馬兜鈴。</p>
<p>羊躑躅，味辛有毒，羊誤食其苗葉，則躑躅而死，故得名。消蟲毒，攻諸痹賊風。馬兜鈴，味苦寒無毒，治肺熱咳嗽喘促，兼瘻瘡血痔。根名土木香，又曰青木香。結子如鈴狀，故名兜鈴。</p>
<p>劉寄奴破血行經，金瘡最妙。續隨子消症蕩滯，蟲毒尤攻。</p>
<p>劉寄奴，味苦溫，治湯火傷及金瘡最妙。因劉裕小名寄奴，取此草以療金瘡得效，故名。續隨子，即聯步。味辛溫有毒，最治蛇傷。</p>
<p>祛風逐痰，白附子。刮磨腸垢白頭翁。</p>
<p>白附子，味甘平溫無毒，能行藥勢，主心疼腹痛。白頭翁，處處有之，謂之老翁須。因其根有白茸，故名。仲景以此治溫瘧。又治金瘡衄血。</p>
<p>何首烏久服延年，可消瘡腫。骨碎補折傷克效，及耳鳴聾。</p>
<p>何首烏，味苦澀微溫無毒。昔有老人姓何，見藤夜交，遂採其根食之。白髮變黑，因此名之。骨碎補，味苦溫無毒，一名猢猻姜，根生緣樹上，能補骨碎折傷，因名之。</p>
<p>瀉肺消痰，下氣去浮葶藶子。通經、散腫、開喉、明目射干功。</p>
<p>葶藶，味辛苦寒無毒，生道旁處處有之。有甜苦二種。射干，味苦平微溫無毒，一名烏扇。俗曰仙人掌。</p>
<p>常山吐涎截瘧。莨菪止搐攔風。</p>
<p>常山，味苦辛有毒，形如雞骨者佳，苗名蜀漆。</p>
<p>莨菪子，處處有之，味苦辛有毒，一名天仙子，雖云有毒，得甘草升麻即解。</p>
<p>連翹除心熱，破癭瘤，堪行月水。桔梗瀉肺癰，清喉痛止嗽寬胸。</p>
<p>連翹，味苦平無毒，分大小二種。利小便，專治癰疽發背。桔梗，味辛苦微寒有小毒，又有一種名苦桔梗，藥性相同。</p>
<p>海金砂用日中收，攻傷寒熱病。穀精草從田中採，破翳膜遮睛。</p>
<p>海金沙，俗名竹園荽，處處有之，收金法，以紙攤之，日中曬熱，以枝擊之，其枝葉自然有沙落紙上，旋收之。專利小便。得蓬砂、梔子、馬牙硝最良。穀精草，一名鼓槌草，又曰戴星草，生田中，味辛溫、無毒，治咽喉痹，止齒痛。</p>
<p>草河車即蚤休，癰瘡至聖。商陸根名樟柳，退腫之宗。</p>
<p>草河車，名金線重樓。味苦微寒無毒，主治癲癇驚熱。商陸，味辛酸平有毒，分赤白二種，白者消水腫，根如人形者有神，赤者不入藥。</p>
<p>藜蘆為瘡疥之藥。貫眾殺寸蟲諸蟲。</p>
<p>藜蘆，味辛苦寒有毒，俗名山稷。反細辛、芍藥。可吐風痰。不入湯藥。專主疥瘡瘍蟲。貫眾味苦微寒有毒，治金瘡，破癥結，止鼻紅。</p>
<p>草蒿一本作青蒿，滅骨蒸勞熱。旋覆花草名金沸，鈍痰嗽之鋒。</p>
<p>草蒿，味苦寒無毒，處處有之。根苗子葉皆入藥。但各自使用。用子勿用葉，用根勿用苗，四者若齊用，則有損無益。得童便浸尤良。亦可煎湯洗瘡，除疥蝨。旋覆花，味鹹甘溫微冷有小毒，通膀胱水，去風濕，利痰止嘔。</p>
<p>蓖麻子善主催生，搗膏敷腳板。威靈仙能消骨鯁，熬汁灌喉嚨。</p>
<p>蓖麻子，味甘辛有小毒，瘡癢研麻油搽敷，水瘡研服良。威靈仙，味苦溫無毒，主宣氣，去冷消痰，療折傷，治諸風。</p>
<p>馬鞭草能通月水不行，破癥瘕之癖。葫蘆芭好補元陽腎冷，蠲疝氣之癃。</p>
<p>馬鞭草，味甘苦寒有小毒，其草穗類鞭梢，因名之。俗謂之鐵掃帚，治溫瘧陰瘡。</p>
<p>葫蘆芭，得茴香、桃仁同用，逐膀胱疝氣，得硫黃，附子同用。專補腎經。</p>
<p>萱草治淋，孕帶其花生男子，燈心去熱，燒灰善止夜啼童。</p>
<p>萱草，一名鹿蔥，其性涼而無毒，處處有之，孕婦佩帶其花，即生男子，故又名宜男草。燈心，性涼，破傷處搗敷良。</p>
<p>山豆根療咽痛頭瘡五痔，金沸草治丹毒發背諸癰。</p>
<p>山豆根，味甘寒無毒，消腫毒，止熱嗽。金沸草，至冬時則皆有黃星，點點成行，味苦寒無毒，解硫黃毒。</p>
<p>狼毒驅九種心痛，豨薟掃濕痹諸風。</p>
<p>狼毒，味辛平有大毒，陳而沉水者良。主咳逆，治蟲疽瘰癧結痰。豨薟，即火炊草，味苦寒有小毒，形似鶴蝨。昔有知州張詠曾進此方，治諸風。</p>
<p>夏枯草最治頭瘡、瘰癧癭瘤同可覓。天南星專能下氣，風痰腦痛止怔忡。</p>
<p>夏枯草，至夏即枯，故名。味苦辛寒無毒。天南星處處有之，味苦辛有毒。散血墮胎，消癰腫。</p>
<p>退腫消風，牽牛子第一。諸瘡解毒，山慈菇最良。</p>
<p>牽牛子，炒過用，味苦寒有毒，處處有之，下氣通腸，利大小便。墮胎，專治腰疼腳痛。山慈菇即鬼檠燈，又名金燈花。瘡腫癰疽瘰癧消毒良。</p>
<p>仙茅伸風者之腳攣，補虛堅骨。苧根涼小兒之丹毒，安護胎宮。</p>
<p>仙茅，味辛溫無毒，治虛勞，逐冷氣，益陽堅骨，生長精神。苧根，補血安胎止渴，兼治小兒丹毒。</p>
<p>茵芋理寒熱似瘧，屋遊斷齒衄之縱。</p>
<p>茵芋，味苦溫有毒，止心腹痛，通關節，主風寒濕痹。屋遊，即瓦上青苔，味苦寒無毒，逐膀胱水，止皮膚寒熱。</p>
<p>本草編成斯賦，發醫家初學童蒙。</p>

<h1>卷四</h1>

<h2>木部</h2>
<p>豈不以勞傷須桂肉，斂汗用桂枝，俱可行經破癖。炒過免墮胎兒。</p>
<p>桂，味甘辛大熱有小毒，得人參、熟地黃、紫石英良。畏生蔥。</p>
<p>五痔傷風稱槐角，瘡瘍殺疥羨松脂。</p>
<p>槐角實，味酸鹹寒無毒，今處處有之，除熱氣，主火燒瘡。皮灌漱風疳齒。松脂，味苦甘溫無毒，處處有之，道家服餌，輕身延年。松子，味甘溫無毒，可供果品，葉與根白皮，味苦溫無毒，主辟穀不飢。松節，漬酒治歷節風。</p>
<p>柏葉止血吐崩，要安臟鎮驚，去殼取仁於柏子。枸杞益陽明目，退虛勞寒熱，須用其根地骨皮。</p>
<p>柏葉，味苦微溫無毒，四時各依方向採取陰乾用。柏白皮主火燒爛瘡。枸杞，味苦寒，根大寒，子微寒，無毒，處處有之。惟陝西四川出者最佳。</p>
<p>茯苓有赤白二種，赤者通利小便，白者可補虛定悸。乾漆有生熟兩般，生則損人腸胃，熟者通月水愆期。</p>
<p>茯苓，味甘平無毒，多年松根之氣熏灼而生。有赤白二種，併除寒熱，止渴消痰，而赤者專主利小便，分水穀，白者專補虛定悸。乾漆，味辛溫有毒，須炒熟用，則無毒。去症續骨殺蟲，除心氣止痛。</p>
<p>茯神則健志收驚，開心益智。琥珀則鎮心定魄，淋病偏宜。</p>
<p>茯神，即茯苓抱根所生者，用須去心中木，味甘平無毒，多益心脾，主風虛。琥珀，味苦平無毒，是松脂入地中多年則化成。</p>
<p>職掌虛煩，斂汗必須酸棗。性行通利，消浮當用榆皮。</p>
<p>酸棗仁，味酸平無毒，安五臟，除風痹，能堅骨補中，寧心定志。榆皮，味甘平無毒，性滑，通行大小便，消浮腫，治小兒白禿，下婦人胎衣。</p>
<p>攻赤目，清頭風，堅齒輕身蔓荊子。斂金瘡，除腰痛，治風，桑上寄生枝。</p>
<p>蔓荊子，味苦辛，微寒無毒，通關竅，去寸白蟲，除筋骨中寒熱。桑寄生，一名寓木，味苦甘平無毒，並治崩中補內傷，胎前產後皆宜用。</p>
<p>瀉痢有功，訶黎勒同名訶子。頭眩鼻塞，木筆花乃是辛夷。</p>
<p>訶子，味苦溫無毒，開胃進食消痰，治崩漏及腸風下血，兼主賁豚冷氣。辛夷，味苦辛溫無毒，處處有之，南人謂之迎春木，久服輕身耐老。二月開花，色白帶紫，花落無子，至夏復開花，初出如筆，故北人呼為木筆花。主頭眩鼻塞最良。</p>
<p>烏藥主寬膨順氣。沒藥主跌撲金瘡，血氣相攻，諸疼共理。秦椒能明目通喉。蜀椒能澀精療癖，溫中下氣，風痹同醫。</p>
<p>烏藥，味辛溫無毒，處處有之，惟天台產者為勝，俗名旁箕。主心腹痛，補中益氣，攻翻胃，利小便。沒藥，味苦平無毒，按徐表南州記，生波斯國，是彼處松脂也。破血止痛，為產後最宜，推陳致新，理內傷良。秦椒，味辛，生溫熟寒，有毒，攻腹痛，祛風邪，溫中除痹，醋煎灌漱牙疼。蜀椒，去閉口者，味辛大熱有毒，出成都，逐冷風，核名椒目，利水道。</p>
<p>牙痛乳癰求莽草，腸風崩帶索棕櫚。</p>
<p>莽草，為臣，性有毒，味辛溫。善開喉痹，理諸瘡瘰癧。棕櫚，性平無毒，止痢養血治鼻衄，用燒存性入藥。</p>
<p>巴豆破結宣腸，理心膨水脹。芫花消浮逐水，系瘤痔當知。</p>
<p>巴豆，味辛溫，生溫熟寒，有毒。生巴郡，故名巴豆。性急通利，因名江子。用去皮心膜及油，然後可。畏大黃、黃連。芫花，味辛苦溫，有小毒，治咳逆喉鳴痰唾，腰腹心痛。</p>
<p>木鱉治疥瘡腰痛有準，雷丸殺三蟲寸白無疑。</p>
<p>木鱉子，其形似鱉，故名。味甘溫無毒，治乳癰肛門腫及折傷。雷丸，味苦鹹寒，有小毒，白者良，赤者有毒能殺人。</p>
<p>養腎除風石楠葉，漱牙洗目海桐皮。</p>
<p>石楠葉，味辛苦平有毒，利皮毛筋骨病。海桐皮，味苦平無毒，主痢，除疥蝨，治風痹痛。</p>
<p>牡荊子治雷頭乳腫，郁李仁蕩浮腫四肢。</p>
<p>牡荊子，味苦辛無毒，即黃荊，今官司用作笞杖，處處有之，主頭風目眩。郁李仁，味酸平無毒，俗名唐棣。通關格，去浮腫，根皮治齒痛風蛀。</p>
<p>密蒙花總為眼科之要領，蘇方木專調產後之血迷。</p>
<p>密蒙花，味甘平微寒無毒。蘇方木，味甘鹹平無毒，專能破血消癰及撲損。</p>
<p>楮實補虛明目，葉洗疹風，樹汁塗癬疥。竹皮刮下止嘔，葉解煩躁，燒瀝御風痰。</p>
<p>楮實，味甘寒無毒，主治水腫，及陰痿不起。竹皮，多種取皮，止嘔吐者，南人呼為江南竹，味辛平甘寒無毒，肉薄，今人取作竹瀝者。又謂之淡竹，其葉解煩除咳逆，今方中用淡竹葉，又是一種叢小葉，柔微有毛，其根生子如麥門冬。</p>
<p>樗白皮止痢斷疳，葉汁洗瘡除疥蝨。胡桐淚殺風牙蛀，腹膨脹滿吐堪施。</p>
<p>樗白皮，與椿白皮性同良，但樗木臭，椿木香，味苦有毒。樗木根葉俱良，南北皆有之。兩木最為無異，俗呼作虎目樹。胡桐淚，味鹹寒無毒，形似黃礬，得水便消，如硝石也。</p>
<p>結胸散痞寬膨，逐水調風宜枳殼。煩悶通淋解熱，赤眸黃疸用山梔。</p>
<p>枳殼，味苦酸，微寒無毒，能攻痔瘻、消症癖。山梔，味苦寒無毒，生於山間者為山梔，人家園圃種蒔者為黃梔，形肥壯可染物，惟緊小者為山梔，方可入藥。</p>
<p>檳榔攻腳氣殺三蟲，宣通臟腑。厚朴乃溫中除霍亂，膨脹堪調。</p>
<p>檳榔，味辛溫無毒，生海南，向日曰檳榔，形尖如雞心者良；向陰曰大腹子，平坐如饅頭。檳榔下氣除風，宜利臟腑，逐水消痰破結。厚朴，去粗皮薑汁炒過，味苦溫無毒，須用中厚有紫油者佳。通經下氣，厚腸胃，消穀食。安腹中蟲。</p>
<p>豬苓消渴利水。治傷寒中暑，龍腦清頭明目，主驚搐小兒。</p>
<p>豬苓，味甘苦平無毒，生土底皮黑作塊似豬糞，故名。治咳瘧，消腫利水，止遺精。龍腦，味辛苦微寒，一云溫平無毒，其香透頂，攻耳聾，消風氣，通九竅，即梅花片腦。若服餌過多至兩許，則身冷如醉，氣絕而非中毒，蓋性寒故也。</p>
<p>明目涼肝解熱毒，毋遺黃柏，磨症下浮行經，休缺紫葳。</p>
<p>黃檗，俗名黃柏，味苦寒無毒。除血痢，去黃疸，治癰瘡，祛脾胃熱，治女人熱崩。</p>
<p>紫葳花，一名凌霄花。味鹹微寒無毒，處處有之，治風熱毒及癇症。</p>
<p>杜仲堅筋補損傷，兼主腎虛腰脊痛。衛茅殺鬼決經閉，陰人崩帶也能醫。</p>
<p>杜仲，味辛甘平無毒，折斷多白絲，用薑汁和炒去絲良。除風冷，強心志。衛茅，即鬼箭羽，味苦無毒，攻腹痛破癥結。</p>
<p>癰腫症瘤憑虎杖，殺蟲砥痔問蕪荑。</p>
<p>虎杖，俗名斑杖根，味甘平，微溫無毒，治傷損，消瘡毒。蕪荑，味辛平無毒，逐冷除心痛，兼治皮膚骨節風，殺疥蟲治癬，攻腸風。</p>
<p>蕤仁搗膏點眼科，輒除熱赤。皂莢為末搐鼻嚏，應釋妖迷。</p>
<p>蕤仁，味甘溫，微寒無毒，通結氣、鼻紅。皂莢，味辛鹹溫，有小毒。亦有數種，或長至一二尺，惟如豬牙者良，消痰除嗽，散腫痛，去頭風。</p>
<p>沒石子主痢生肌，染烏黑髭發。益智子澀精益氣，止小便多遺。</p>
<p>沒石子，即無食子，味苦溫無毒，出西番，用有竅者良，治陰瘡陰汗。益智子，味辛溫無毒，安神定志，故謂之益智。</p>
<p>川楝子號金鈴，冷氣膀胱能作主。五倍子名文蛤，腸氣五痔效端殊。</p>
<p>川楝子，味苦寒有小毒，處處有之，蜀中者良，根皮最殺蛇蟲。五倍子，味酸平無毒，除齒䘌及瘡膿，亦可洗眼去風熱。</p>
<p>吳茱萸下氣消痰，提轉筋霍亂。山茱萸添精益腎，治風痹無疑。</p>
<p>吳茱萸，味辛溫大熱有小毒，處處有之，除咳逆，逐邪風主腳氣攻心。山茱萸，一名石棗，味酸平微溫無毒，療耳聾，調女人月水。</p>
<p>桑白皮瀉肺補虛益氣，大腹皮通腸開胃健脾。</p>
<p>桑白皮，味甘寒無毒，即桑樹根皮，利水道，消浮腫，殺寸白蟲。大腹皮，即檳榔大腹子之皮，微溫無毒，專下氣分冷熱，攻心痛。</p>
<p>金櫻子、冬青子養精益腎輕身，調和五臟。蘇合香、安息香辟惡去鬼殺蟲，蠱毒消除。</p>
<p>金櫻子，味酸澀平溫無毒，採實搗汁熬膏，久服輕身耐老。冬青子，又名女貞實，味苦平無毒，治病與金櫻子同功。蘇合香，味甘溫無毒，油能辟惡除溫瘧，久服令人不生夢。安息香，味辛苦平無毒，辟邪暖腎止遺泄。</p>
<p>秦皮洗眼除昏，男子添精，婦人收帶下。黃藥通喉豁痹，蛇傷取效，醫馬是神樞。</p>
<p>秦皮，味苦寒無毒，治風寒濕痹。黃藥，味苦平無毒，治惡腫。</p>
<p>苦菜主頭疼，痢生腹痛，同姜煎服。鉤藤蠲瘛瘲，兒生客忤，勝禱神祗。</p>
<p>苦菜，即苦茶茗，味甘苦，微寒無毒，除痰下氣消宿食。鉤藤，味甘苦平，微寒無毒。其形如鉤，故得名。舒筋活血。</p>
<p>止痛生肌麒麟竭，舒筋展痹五加皮。</p>
<p>麒麟竭一名血竭，味鹹平無毒，除血暈。五加皮，味辛苦溫，微寒無毒，治風寒濕痹，止心痛，益精神，通疝氣，治陰瘡，小兒幼小不能行，服之良。</p>
<p>丁香下氣溫中，能益脾止吐。沉香調中順氣，療痛絞心腹。</p>
<p>丁香，味辛溫無毒，散腫除風毒，更治齒痛風牙。沉香，味辛溫無毒，療腫除風去水，止霍亂轉筋，壯元陽，辟惡氣。</p>
<p>檀香藿香，止霍亂吐嘔，痛連心腹。乳香楓香，專消風止痛，瘡毒流離。</p>
<p>檀香，性熱無毒，消風腫，腎氣攻心。藿香，味辛微溫，去惡消腫，治吐逆。乳香，味辛熱無毒，辟惡除邪，補精益腎，治諸瘡，攻血氣。楓香，是楓樹脂，即白膠香也。治癮疹風，擦齒痛，去虛浮水氣。味辛平微有毒。</p>
<p>竺黃理天吊止驚風，更使清心明目。胡椒能下氣逐風冷，兼除霍亂昏迷。</p>
<p>天竺黃，味甘寒無毒，生天竺國，故名。胡椒，味辛溫無毒，去痰止痢，治心腹卒然作痛。</p>
<p>此木部之藥性，為後學之繩規。</p>

<h2>人部</h2>
<p>看方猶看律，意在精詳。用藥如用兵，機毋輕發。草木之性既陳，人物猶宜立訣。</p>
<p>律，法度也，齊之以刑，用藥猶用兵，謂醫者乃人之司命。</p>
<p>天靈蓋最主傳屍。久病虛勞，熱蒸在骨。</p>
<p>天靈蓋，乃死人頂骨十字解者，此骨是天生蓋壓一身之骨節。陽人用陰，陰人用陽。味鹹平無毒，主傳屍鬼疰人。</p>
<p>熱病乃陽毒發狂，當求人糞汁。打撲損傷並新產，快索童男溺。</p>
<p>人糞，一名人中黃，性寒無毒，專治天行大熱，勞氣骨蒸，燒末調服；解諸毒，為末湯調；治熱病發狂，絞糞汁飲之。童男溺，童子小便也，女子者不宜用，主寒熱虛勞，頭疼濕氣。</p>
<p>乳汁有點眼之功，裩襠救陰陽之易。</p>
<p>婦人乳汁，味甘平無毒，能安五臟悅皮膚。昔張倉常服，享壽百餘歲。衍義云：乳汁治眼之功何多，蓋人心主血，肝藏血，肝受血則能視。婦人之血，上為乳汁，下為月水，用以治目，不亦宜乎。裩襠，即裩褲之當陰處，剪取方圓六七寸許，燒為末服，男子病新瘥，而婦人與之交，則男病陰易；女人病新瘥，而男子與之交，則女病陽易。小腹絞痛，手足攣，目中生花，頭重不能舉，若不急治則死。男子病用婦人裩襠，女人病用男子裩襠，以水調服。</p>
<p>調諸淋，破瘀血，亂髮原來即血餘。止吐衄，理肺痿，漩垢便是人中白。</p>
<p>血餘，乃常人亂髮燒灰，味苦微溫無毒，治癰疽及轉胞。人中白，即尿桶中澄底垢積之結白者，火上燒灰，最治緊唇，及勞熱傳屍。</p>
<p>《圖經》衍義無虛，醫者可知端的。</p>

<h2>禽獸部</h2>
<p>蓋言走者屬獸，飛者屬禽。</p>
<p>禽屬陽身輕，故能飛而上。獸屬陰身重，故能走而不能上飛。</p>
<p>鹿角煎膠補瘦羸，又安胎止痛。麝香辟邪而通竅，安客忤癇驚。</p>
<p>鹿角，味苦辛，依法煎煉成膠及霜入藥用，止泄精遺尿。麝香，味辛溫無毒，攻風疰墮胎救產難。</p>
<p>安魂定魄，牛黃治風癇驚熱。生肌止汗，龍骨止瀉痢遺精。</p>
<p>牛黃，味苦平有小毒，除狂躁，治天行時氣。龍骨，味甘平微溫無毒，治女子崩，止小便遺瀝，療陰瘡。龍齒，鎮驚治癲癇。</p>
<p>牛乳補諸虛，益氣通腸，須求羊酪，獺肝開熱脹，傳屍勞嗽，有驗堪憑。</p>
<p>牛乳，味微寒，性平無毒止渴。獺肝，為君。味辛溫有毒，凡人素有冷氣虛膨者，此二味皆不宜服。</p>
<p>象牙出肉中之刺，熊膽醫痔痢之靈。</p>
<p>象牙，味甘平無毒，生煮汁飲之，利小便；燒末止遺精；磨屑敷肉中刺，凡骨鯁者，磨水服即下，更祛勞熱止頭癇。熊膽，味苦寒無毒，然難分真偽，取一粟許滴水中，一道如線不散者為真，治天行熱症諸疳。惡防風、地黃。</p>
<p>羚羊角明目去風，可保驚狂心錯亂。膃肭臍溫中補腎，何憂夢與鬼交情。</p>
<p>羚羊角，味鹹性寒無毒，可活胎易產，益氣安心辟邪。膃肭臍，味鹹性熱無毒，主驚癇，消宿血，除痃癖氣。</p>
<p>阿膠止血安胎，兼除嗽痢。犀角涼心解毒，殺鬼聞名。</p>
<p>阿膠，味甘平微溫無毒，出阿縣城北，井水煮取烏驢皮，以阿井水煎成膠為真，須用一片鹿角同煮，不爾不能成膠也。養肝虛勞極，止四肢痠疼。犀角，味苦酸鹹寒無毒，驅風明目，除心熱狂言，又治時行疫癘。</p>
<p>鹿茸益氣補虛，男治泄精，女止崩漏。虎骨驅邪辟惡，男去風毒，女保胎驚。</p>
<p>鹿茸，用茄形連頂骨者，味甘酸溫無毒，一云味苦辛。虎骨，性平味辛，微熱無毒，治惡病及風痹拘攣。</p>
<p>兔頭骨主頭疼，和水燒灰催產難。牛角腮治崩帶，燒灰入藥效如神。</p>
<p>兔頭骨，味甘平寒無毒，治頭昏痛，兔骨治熱中消渴。肉不可多食，損人陽氣。孕婦食兔肉，生子缺唇。不可與雞肉及生薑同食。牛角腮，味苦甘無毒，消血閉便血，攻冷痢。</p>
<p>瓦雀肉則益氣；卵則強陰。白丁香療癰疔腫目。雄雞烏者補中，赤者止血。黃膍胵，止遺尿難禁。</p>
<p>瓦雀肉，味甘溫無毒，雀糞直立者，名白丁香。雄雞肉，味溫無毒，烏者補中止痛，赤者止血治崩。諸雄雞膽微寒，主目不明；心主五邪；血主損傷；肺主耳聾；腸主小便數不禁；肝及左翅毛主陰痿不起；冠血能行乳汁。</p>
<p>蝙蝠經名伏翼，能開黑暗目瞑。</p>
<p>伏翼，即蝙蝠別名，味鹹無毒，主淋目昏，久服則忘憂。糞名夜明砂，可治疳。</p>
<p>藥是伐病之斤，醫實司人之命，言醫藥之治病，猶斧斤之伐木也。</p>

<h2>蟲魚部</h2>
<p>抑又聞蠢者為蟲，潛者為魚，堪行入藥，貴賤何拘。</p>
<p>蠢，動也；潛，登藏也。</p>
<p>全蠍有毒須當去，能透耳聾，療諸風驚搐。盤蝥（即斑蝥也）。熟炒不宜生。通淋墮孕，宣瘰癧之疵。</p>
<p>全蠍，宜緊小者佳，味甘辛，須去毒方可用。盤蝥，去足翅，以米同炒，至米黃色去米，若生用即令人吐瀉，味辛寒有大毒。</p>
<p>消水氣，去癭瘤，無如海蛤。安心志，磨翳障，大喜珍珠。</p>
<p>海蛤，味苦鹹平無毒，治浮腫，除咳逆，定喘消煩。珍珠，味寒無毒，出廉州。主潤澤皮膚，悅人顏色，綿包塞耳可治聾。</p>
<p>水蛭治癰疽，通經破血。田螺去目熱，反胃堪除。</p>
<p>水蛭，即螞蝗蜞。生水中名水蛭，生草中名草蛭，生泥中名泥蛭，並能著人及牛馬股脛間咂血。入藥當用水蛭之小者佳。此物極難得死，雖炙過經年，得水猶可活，必炒令極黃熟，不爾入人腹生子為害。田螺，性大寒無毒，不可多食，其肉敷熱瘡；殼主反胃；汁能醒酒止渴。田中取者為佳。</p>
<p>鼠婦通月閉，利便癃，仲景將來醫久瘧。虻蟲破堅症，磨血積，傷寒方內不曾無。</p>
<p>鼠婦，味酸溫無毒，生人家地上，處處有之。虻蟲，名土鱉，味鹹寒有毒，處處有之。</p>
<p>搜瘛瘲驚風明目催生稱蛇蛻。止喎斜口眼，墮胎點翳捉衣魚。</p>
<p>蛇蛻，味鹹苦平無毒，主纏喉風，攻頭瘡瘰癧。衣魚，味鹹溫無毒，處處有之，多見於書卷中。小兒淋閉，用以摩臍及小腹，尿即通，仍可摩瘡。</p>
<p>出箭頭入肉，醫附骨鼠瘻，蜣螂便是推車客。補打撲損傷，療兒疳昏眼，蛤蟆本草即蟾蜍。</p>
<p>蜣螂，味鹹寒有毒，療兒驚瘛瘲風癇。臨用當炙過，勿置水中，令人吐，入藥去足翅。蛤蟆肉，味辛寒無毒，主邪氣堅瘕惡瘡鼠漏。</p>
<p>殺伏屍鬼疰三蟲，地龍俗名蚯蚓。正風賊斜喎肛脫。蝸牛本是蛞蝓。</p>
<p>地龍，味苦無毒，須用白頸者良。傷寒狂熱須用汁，治痢消丹毒（用糞）。蝸牛，俗名蜞螺。處處有之，生砂石垣牆下濕處，亦治背疽，用涎塗抹。</p>
<p>蠐螬點眼翳雜科，割金瘡出肉中刺。蛤蚧傳屍堪止嗽，兼補肺邪鬼咸驅。</p>
<p>蠐螬，味鹹甘有小毒，處處有之，以背行反馱於腳，即朽木中蠹蟲。但潔白者佳。</p>
<p>蛤蚧，一名守宮，功力全在尾梢，人捕之即自咬斷其尾。用以法取之，行常一雌一雄相隨，入藥亦當用成對者良。</p>
<p>牡蠣固漏血遺精，補虛止汗。虻蟲破癥瘕血積，經閉通渠。</p>
<p>牡蠣，味鹹平微寒無毒，主瘧疾寒熱，除驚恐。虻蟲，味苦微寒有毒，咂食牛馬背血者用。須炒熟，除去足翅，方可入藥。</p>
<p>鰻鱺魚退勞熱骨蒸，殺蟲愈痔。石龍子除熱淋止血，蜥蜴殊途。</p>
<p>鰻鱺魚，味甘有毒，處處有之，雖有毒而能補五臟虛損，消項腮白駁風熱，煨骨熏蚊蝨則滅。石龍子，與蜥蜴、蝘蜓、蠑螈、守宮五種相近。</p>
<p>烏賊骨是海螵蛸，退翳殺蟲，治崩攻痢。鯪鯉鱗為穿山甲，堪醫疥癬，鬼魅遭鋤。</p>
<p>海螵蛸，味鹹微溫無毒，療陰瘡，治耳聾。其血似墨，能吸波噀墨以混水，所以自衛。有八足聚生口旁，浮泛於水面，烏見謂其必死，欲啄之，則聚足抱烏，拖入水中食之。故名烏賊魚。穿山甲，性涼有毒，主邪驚治痹。</p>
<p>勞熱骨蒸專鱉甲，脫肛狐臭尚蜘蛛。</p>
<p>鱉甲，味鹹平無毒，處處有之，治崩療瘧，主癥瘕痃癖，不可與雞子同食，合莧菜食則傷人。蜘蛛，性冷無毒，處處有之，然多種，身有毛刺、及五色並薄小者，並不可用。瘰癧背瘡蛀牙，兼治口斜喎僻，喜忘者取網著衣領中。</p>
<p>蟬蛻消風，斷小兒夜哭之鬼。蝟皮生痔，提腸風下血之徒。</p>
<p>蟬蛻，味鹹甘寒無毒，亦治婦人產難，小兒驚癇。蝟皮，味苦甘無毒，治疝氣陰蝕瘡。</p>
<p>鯉魚寬胎脹；骨止赤白之崩；膽抹青盲赤目。蟹主熱結胸；黃能化漆為水；殼燒集鼠招鼩。</p>
<p>鯉魚，味苦甘寒無毒，止渴消腫，腹有癥瘕之人不可食。蟹，味鹹寒有毒，爪能破血墮胎。</p>
<p>鯽治腸風下血，宜作膾，又宜作羹，治痢無分赤白。蛙能補損祛勞，一種水雞為美饌，專補產婦之虛。</p>
<p>鯽，味甘溫無毒，燒灰治諸瘡，補胃和中。蛙，味甘寒無毒，殺疰邪。</p>
<p>蜈蚣開小兒口噤，墮孕婦之胎，更制蛇毒。土狗催胎產難生，罨肉中之刺，退腫須臾。</p>
<p>蜈蚣，味辛溫有毒，用當炒熟，主殺三蟲，生則令人吐瀉，不堪入湯藥。土狗，即螻蛄，味鹹寒無毒，處處有之，下腫利大小便，解毒潰癰。</p>
<p>石決明瀉肝，黑障青盲終可決。桑螵蛸補腎，泄精遺溺竟無虞。</p>
<p>石決明，味鹹平涼無毒，除肝經風熱。桑螵蛸，味鹹甘平無毒，即螳螂子也。用炒黃色，不爾令人泄瀉。</p>
<p>原蠶娥主泄精，好強陰道。白殭蠶治諸風，口噤難呼。</p>
<p>蠶娥，雄者有小毒，炒去翅足，補腎療血，風痹癮疹用蠶砂。殭蠶，炒去絲嘴，味鹹平辛無毒，療驚癇崩漏病，又除口噤及喉風。</p>
<p>白花蛇主諸風，濕痹拘攣兼疥癩。五靈脂行經閉，昏迷產婦早來沽。</p>
<p>白花蛇，味甘溫咸有毒，主諸風喎斜口眼，並大風瘡，與烏梢蛇同功。五靈脂，即寒號蟲糞也，治腸風並冷氣，炒之治崩。</p>
<p>著意要行斯道，潛心細下功夫。</p>

<h2>果品部</h2>
<p>且如果品數端，亦分優劣。</p>
<p>以果品言之，如柿有數種，紅者只可生啖；烏者可焙乾入藥用，其柿功力且優；白者力薄而功亦劣。</p>
<p>入藥當知刑反忌宜，性情要辨苦甘冷熱。</p>
<p>大棗與生蔥相刑，不宜合食。烏梅與黃精相反，豈可同餐。如桃杏雙仁者，有毒能殺人。安石榴味酸者，方可入藥，苦甘者不宜多食，主損齒傷肺。又如橘味辛溫，柚味苦冷，棗味甘熱，柿味甘寒之類。</p>
<p>橘皮則理氣寬中，消痰止咳，更可止嘔定吐。大棗則養脾扶胃，助藥成功，又能補氣調脈。</p>
<p>陳皮，味辛溫無毒，主溫脾，青者破積聚。大棗，味甘平溫無毒。</p>
<p>雞豆肉名為芡實，輕身長志，好止腰疼。覆盆子即是蓬蘽，益氣強陰，養精最利。</p>
<p>芡實，味甘平無毒，補中治痹，煎和金櫻子，最益人。覆盆子，味酸平咸無毒，處處有之，補中益腎，調和臟腑，治虛損風。</p>
<p>柿干止痢澀腸，生宜解酒渴，止噦須教用蒂良。梨實除煩引飲，漿可吐風痰，乳婦金瘡如仇賊。</p>
<p>柿干，味甘寒無毒，最潤喉，通耳鼻。梨實，味甘微酸寒無毒，可止嗽，不宜多食。致成冷痢，乳婦金瘡，尤不可多食。</p>
<p>橄欖止渴生津，口唇乾燥，研敷核中仁。石榴舒筋止痢，去腹中蟲，根皮煎汁啜。</p>
<p>橄欖，味酸甘溫無毒，消酒毒。安石榴，味甘酸無毒，殼入藥，治筋攣腳痛，攻痢良。</p>
<p>藕實止痢補心脾；節除嘔衄；葉堪止渴安胎。桃仁通經破癥結，仍輟腰疼；花主下痢膿血。</p>
<p>藕實，味甘平寒無毒，處處有之。桃仁，去皮尖，味苦甘平無毒，其花通利小便更捷。</p>
<p>杏仁不用雙仁，通腸潤肺，治咳清音。烏梅即是梅實，止渴化痰，痢中莫缺。</p>
<p>杏仁，去皮尖及雙仁者，味酸甘無毒，治驚癇腹痹，及產乳金瘡。烏梅，味酸平無毒，下氣調中止渴，治骨蒸勞熱，咳嗽痰涎。</p>
<p>宣木瓜治霍亂轉筋，調理腳氣，濕痹伸舒。枇杷葉能止嘔和胃，專降肺氣，功痊口渴。</p>
<p>宣木瓜，味酸溫無毒，消腫強筋骨，止渴，並腳氣攻心。枇杷葉，用布拭去毛，炙用。味苦平無毒，主肺風。</p>
<p>胡桃肉肥肌潤肉，撲傷和酒搗來嘗。草果仁益氣溫中，好伴常山攻瘧發。</p>
<p>胡桃肉，味甘平無毒，去痔瘡，消瘰癧。草果仁，味辛溫無毒，溫脾胃，消宿食，解酒毒，攻冷氣。</p>
<p>若能熟此作筌蹄，可洗下工之陋拙。</p>

<h2>米穀部</h2>
<p>精明米穀，豆麥粟麻，雖民生之日用，充藥料於醫家。</p>
<p>谷入脾，豆入腎，麥入肝，粟入肺，麻入心。</p>
<p>粳米溫中和胃，秫米能解漆瘡，止渴除煩，須陳倉米。黃豆殺鬼辟邪，黑豆乃堪入藥，若問黃卷，便是豆芽。</p>
<p>米，味甘溫無毒。粳即常時所食之米。秫即造酒之糯米，其種數甚多，不可盡述，主除煩斷痢。豆，惟黑者入藥，宜炒熟用，味甘平無毒，其他俱不堪用。</p>
<p>祛胃熱，養腎虛，米粟可長生。填精髓利小腸，巨勝即胡麻。</p>
<p>粟，味微寒無毒，治消中。巨勝子，久服之，可長生不老，利大小腸，堅筋快產，主心驚，味甘平無毒，處處有之，即黑麻子。</p>
<p>赤小豆消水腫虛浮，研塗癰疽消熱毒。白扁豆治筋轉霍亂，葉敷蛇蟲咬最佳。</p>
<p>赤小豆，炒過用，味甘酸平無毒，治消渴，攻腳氣。白扁豆，味甘微寒無毒，消暑解毒，下氣和中。</p>
<p>小麥止汗養肝，堪除燥熱。大麥生肌消渴，長胃榮華。</p>
<p>大、小麥，味甘微寒無毒。</p>
<p>麥蘖入湯藥，真個溫中，可知消食，麥麩若調醋，敷撲損處，愈後無瑕。</p>
<p>麥蘖即麥芽也。麩，皮也。</p>
<p>去丹風解一切之毒，霍亂吐翻，取粉於綠豆。除浮疽，吐一切痰涎。開胸膈病，摘蒂於甜瓜。</p>
<p>綠豆，味甘寒無毒，除熱氣，主頭疼目暗。甜瓜，味苦寒有毒，處處有之。蒂入藥，瓜有赤白二種，入藥當用赤者。</p>
<p>言之有準，用之無差。</p>

<h2>蔬菜部</h2>
<p>既已言之五穀，又當取用蔬菜。</p>
<p>蔥主頭疼堪發散，通大小腸，白可安胎止痛。韭補腎虛益元陽，溫中下氣，子收夢泄遺精。</p>
<p>蔥，味辛溫無毒。韭，味辛溫微酸無毒。蔥韭皆不可多食，昏人精神，又不可與蜜同食。</p>
<p>搗汁止頭疼，喘嗽風痰萊菔子。酒煎噴痘體，自然紅潤說胡荽。</p>
<p>萊菔，即蘿蔔也。味甘辛無毒，根腦及嫩葉俱可食。煮熟消食和中下氣，去痰癖，肥健人。胡荽，味辛溫無毒，消穀通心竅，補五臟不足，利大小便，辟邪穢。</p>
<p>白冬瓜去躁煩止渴，白芥子寬胸膈痰拘。</p>
<p>冬瓜，味甘微寒無毒，治淋利小便，除熱散癰，通小腸醒脾，用子中仁尤良。白芥子，味辛溫無毒，青白紫數種，惟芥子粗大色白者入藥。除冷氣，攻反胃，治上氣。</p>
<p>婦人產難好催生，滑臟利泄冬葵子。霍亂轉筋心腹痛，減煩卻暑羨香薷。</p>
<p>冬葵子，味甘寒無毒，處處有之，其子是秋種，覆養經冬至春作子，故謂冬之葵子。除寒熱，治疳用根。香薷，味辛微寒無毒，下氣除煩熱，消腫止渴。</p>
<p>發病生蟲又敗陽，便是蕓薹菜。生瘡長痼精神損，少吃茄子兒。</p>
<p>蕓薹菜，味辛溫有毒，不宜多食，敗損陽氣，生腹中長蟲，主破癥瘕，通血除丹毒，消乳癰。茄子，有紫白二種，味甘寒，性冷不宜多食。茄根煎湯，洗凍瘡；蒂燒灰，治腸風。</p>
<p>婦人惡血能令下，濕痹筋攣，取豆芽黃卷。瘡疥傷寒最得宜，血風血暈，用荊芥假蘇。</p>
<p>大豆黃卷，以黑豆大者為芽蘖，生便曬乾，名黃卷，入藥用，味甘平無毒。假蘇，即荊芥，味辛溫無毒，下氣除勞，兼治頭痛。</p>
<p>馬齒莧散血敷瘡敷火丹，殺蟲磨翳。草繁縷發背瘡瘍丹風起，爛搗堪塗。</p>
<p>馬齒莧，處處有之，味酸寒無毒，止渴攻血痢，磨眼翳，利便難。草繁縷，味酸平無毒，名雞腸菜。</p>
<p>消痰定喘寬膨，當求蘇葉。風氣頭疼發散，切要薄荷。</p>
<p>紫蘇，味辛溫無毒，葉紫色而氣香者佳。消痰下氣開胃用葉；風氣頭疼發散用莖；寬喘急治咳嗽用子。薄荷，味辛苦溫無毒，發汗消食寬脹，除霍亂傷寒，可發散。</p>
<p>飴糖斂汗建中，補虛羸不小。神麯養脾進食，使胃氣有餘。</p>
<p>飴糖，味甘微溫無毒，以糯米煮粥，候冷入麥蘖，澄清再熬成飴糖，以淨器盛貯。夏天澄沉井中，免令酸，諸米可作飴，惟糯米者入藥，止渴消痰治嗽。神麯，味甘大暖，消食下氣。</p>
<p>調理產人，去瘀生新猶用醋。通行血脈，助添藥勢酒同塗。</p>
<p>醋，一名苦酒，治癰除症，消疽退腫。酒，味苦甘辛，大熱有毒，辟惡除邪破癥結。</p>
<p>香豉本食中之物，醫傷寒切不可無。</p>
<p>淡豆豉，味苦寒無毒，治頭痛發汗，止痢解熱，以酒浸搗爛，患腳敷之良。</p>
<p>不揣愚衷而作賦，是為藥性之斤銖。揣，量度也。</p>
