<header data-type="book">
<h1>軒轅黃帝治病秘法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳直</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
</dl>
</header>

<h1>軒轅黃帝治病秘法事例</h1>
<p>凡遇正月元旦，用三牲酒禮祭之，設立子亥二時祭。</p>
<p>軒轅黃帝神位禮拜，弟子某人祭文：入意思真慕道想丹華，滌盧澄心，以期輕舉濟人助國，立功為先。凡用所祈，尅獲通感，天上天下咸乞聞知。先用新筆一枝，京墨一塊，向太陽咒曰：</p>
<p>赫赫陽陽，日出東方，神筆在手，萬病消亡。</p>
<p>次用好醋研墨，染筆毫上，用筆於香菸頂燻之。咒曰：</p>
<p>日出東方毒如蛇，不作膿，不作血，隨著日氣自消滅。急急如律令。</p>
<p>某年　月　日弟子某人稽首頓首仰啟</p>
<p>祖師軒轅黃帝聖神，某切為濟人助國，立功為先，以今遵稟。</p>
<p>真科奉行秘書，傳以救人為本，同躋壽域。伏望遙降至真先生氣灌注身心，令某書篆速遂通靈。凡有禱祈，克獲通感，下情不勝皈命虔禱之至。</p>
<p>事例畢。</p>
<p>⿱𫩠⿰飠谷　⿱𫩠⿰飠臣　⿱𫩠⿰飠看　此三字治一切無名腫毒。於疾處書之。</p>
<p>⿱𫩠𩚪　此一字治蠍螫。於疾處書之。</p>
<p>⿱𫩠⿰飠食　此一字治婦人、室女經脈不通，並乳腫癰。服，貼之。</p>
<p>⿱𫩠⿰者食　此一字治人身虎咬。書紙上，燒灰，荊芥湯送下。</p>
<p>⿱𫩠⿰雍食　此一字治蛇咬。疼處書之。婦人吹奶，服之，貼之。</p>
<p>⿱𫩠⿰扌食　此一字治蛇咬。疼處書之。</p>
<p>⿱𫩠⿰嬰食　此一字治狗咬。書紙上，油煎，服之。</p>
<p>⿱𫩠𫗓　此一字治肚疼。書紙上，燒灰，服之。</p>
<p>⿱𫩠⿰飠系　此一字治婦人吹妳。或燒灰服之，或貼之。</p>
<p>⿱𫩠⿰飠眷　此一字治人遍身疼痛。書紙上，燒灰，服之。</p>
<p>⿱𫩠⿰飠化　此一字治癰疽。書紙上，燒灰，服之，貼之。</p>
<p>⿱𫩠⿰耳食　此一字治辟邪。書紙上，頂帶三日，燒灰服之。</p>
<p>⿱𫩠矝　此一字治破傷風。書紙上，燒灰，服之，並貼之。</p>
<p>⿱𫩠⿰捂食　此一字治火燒瘡。服，貼之。</p>
<p>⿱𫩠𤝰　此一字治虎咬。書紙上，油煎，貼之。</p>
<p>⿱𫩠聆　此一字治氣勞。於疼處書之。</p>
<p>⿱𫩠掩　此一字治辟邪。書紙上，帶之。</p>
<p>⿱𫩠⿰飠食　此一字治心疾。書紙上，燒灰，服之。及治腰脅疼，書之。</p>
<p>⿱𫩠⿰者食　此一字治傷熱。書紙上，燒灰，服之。</p>
<p>⿱𫩠⿰嬰食　此一字治人咬。書紙上，燒灰，服之，貼之。</p>
<p>⿱𫩠䭃　此一字治發背疔瘡。於患處書之。</p>
<p>⿱𫩠餉　此一字治小兒肚疾啼哭。於腳心、男左女右書之。</p>
<p>⿱𫩠⿰飠祭　此一字治虎咬。於疾上書之。</p>
<p>⿱𫩠餌　此一字治小兒夜啼。書紙上，男左女右腳底貼之。</p>
<p>⿱𫩠⿰飠學　此一字治虎狼辟邪。書紙上，隨身帶之。</p>
<p>⿱𫩠⿰飠勑　此一字治魑魅魍魎纏身，一切病疾。書紙上，服之。</p>
<p>⿱𫩠䭃　此一字治咽腫疾，米穀不下。書，燒灰，冷水送下。</p>
<p>⿱𫩠⿰革食　此一字治婦人難產。書紙上，燒灰，米湯送下。</p>
<p>⿱𫩠餌　此一字治小兒夜啼。書，貼腳心上。</p>
<p>⿱𫩠餘　此一字治遍身虛氣疾。書紙上，燒灰，米湯送下。又治產後經脈乳疾。</p>
<p>⿱𫩠𩚹　此一字治蛇蠍咬。書紙上，貼於疾上，立效。</p>
<p>⿱𫩠⿰飠伍　此一字治火燙瘡。書紙上，燒灰，服之、貼之。立效。</p>
<p>⿱𫩠⿰飠光　此一字治惡瘡。書上。</p>
<p>⿱𫩠⿰飠好　⿱𫩠⿰飠神　此二字治一切惡瘡。於瘡上書三次。甚妙。</p>
<p>⿱𫩠餄　⿱𫩠⿰飠禾　⿱𫩠⿰飠加　此三字治心疼。書紙上，燒灰，艾醋湯送下。</p>
<p>⿱𫩠𩚣　⿱𫩠𫗓　⿱𫩠蝕　此三字治一切病症。用桃枝作筆，書紙上，燒灰，冷水送下。如神。</p>
<p>⿱𫩠餄　⿱𫩠⿰飠休　⿱𫩠⿰飠功　此事三字治心氣疾。書紙上，燒灰，醋湯送下。立效。</p>
<p>⿱𫩠⿰飠食　⿱𫩠⿰飠卞　⿱𫩠⿰飠用　⿱𫩠⿰飠羊　此四字治一切走瘡。疼處書寫，立效。</p>
<p>⿱𫩠⿰飠斥　⿱𫩠⿰飠罰　⿱𫩠餓　⿱𫩠⿰飠龙　⿱𫩠⿰飠病　此五字治一切惡瘡。疊書六遍，醋研墨，空心寫。又治疔腫發背，繞周塗之，再用豬膽、薑汁二味合塗瘡。一夜見效。</p>
<p>⿱𫩠餘　⿱𫩠餂　⿱𫩠𩚹　⿱𫩠餽　⿱𫩠饍　⿱𫩠饠　此六字治一切疼痛。疾處書，立效。</p>
<p>⿱𫩠蝕　⿱𫩠餘　⿱𫩠餲　⿱𫩠餌　⿱𫩠⿰飠未　⿱𫩠⿰飠月　⿱𫩠⿰飠火　⿱𫩠𩚣　此九字，許真君專治惡瘡，有妙用。筆先取太陽氣，唸咒方可。</p>
<p>⿱𫩠⿰飠下　⿱𫩠⿰飠沓　⿱𫩠餼　⿱𫩠餖　⿱𫩠餘　⿱𫩠⿰飠敖　此六字治無頭瘡。</p>
<p>咒曰：</p>
<p>赫赫陽陽，日出東方，神筆在手，萬病泊亡。謹請南斗六星。</p>
<p>北斗七星，吾奉</p>
<p>太上老君急急如律令勑。</p>
<p>念三遍，用氣一口吹在筆、瘡上方可。</p>
<p>⿱𫩠𩞖　⿱𫩠䬷　⿱𫩠⿰飠居　⿱𫩠⿰飠仲　⿱𫩠𫗎　⿱𫩠⿰飠谷　⿱𫩠⿰飠土　⿱𫩠𩜼　⿱𫩠餘　此九字專治瘧疾並毒瘡。</p>
<p>焚香咒曰：</p>
<p>赫赫陽陽，日出東方，照見十方。金童灑水，玉女散香。一十八般腫毒，二十四腫惡瘡，不怕刀鏈斧斬，虎咬蛇傷。一畫不成疽，二畫不成瘡，三畫諸毒滅，四畫通靈。所有邪鬼氣即便消滅。吾奉太上老君急如律令勑。</p>
<p>用氣吹一口在身筆或患人衣上，背上亦可。</p>
<p>⿱𫩠⿰飠吏左　⿱𫩠⿰飠擯右　此二字明白書於心背上。</p>
<p>⿱𫩠⿰飠乾　⿱𫩠⿰飠元　⿱𫩠⿰飠享　⿱𫩠⿰飠利　⿱𫩠⿰飠貞　此五字書作一□，令患人往別處行走，遷延良久方歸，不要□家。下筆宜要速，快書。次日再書，如前三次。立效。又治瘧疾，於患人背上臨發日宜早書。</p>
<p>⿱𫩠𩚹　⿱𫩠𩚣　⿱𫩠⿰飠天　⿱𫩠䭣　⿱𫩠⿰飠不　⿱𫩠⿰飠許　⿱𫩠⿰飠動　⿱𫩠⿰飠轉　⿱𫩠⿰飠若　⿱𫩠⿰飠將　⿱𫩠⿰飠便　⿱𫩠⿰飠捉　此十二字書患者，好不好，即便隨身聲答應，好了。</p>
<p>⿱𫩠⿰飠弱　⿱𫩠⿰飠舉　⿱𫩠飰　⿱𫩠⿰飠用　⿱𫩠䬺　⿱𫩠⿰飠使　⿱𫩠餔　⿱𫩠⿰飠友　⿱𫩠⿰飠休　此九字乃軒轅黃帝留下治病法。系雅哥節使因修黃河堰，掘一碑，上九字人皆不識。專治一切惡瘡口。每日於瘡上畫畢後，念前咒，取太陽氣吹在筆上，每日書一字在牆上，三次用筆塗之。</p>
<p>⿱𫩠⿰飠禺　正月</p>
<p>⿱𫩠⿰飠化　二月</p>
<p>⿱𫩠餅　三月</p>
<p>⿱𫩠飯　四月</p>
<p>⿱𫩠⿰飠解　五月</p>
<p>⿱𫩠餘　六月</p>
<p>⿱𫩠餼　七月</p>
<p>⿱𫩠⿰飠若　八月</p>
<p>⿱𫩠⿰飠行　九月</p>
<p>⿱𫩠⿰飠去　十月</p>
<p>⿱𫩠𫗓　十一月</p>
<p>⿱𫩠𩛱　十二月</p>
<figure>
<img alt="圖">
</figure>
<p>⿱𫩠食　此一字書胙腮腫。</p>
<p>⿱𫩠餘　書頂上。</p>
<p>⿱𫩠⿰飠下　耳根、⿱𫩠餔　眼、⿱𫩠飦　手、⿱𫩠⿰飠笄　腹、⿱𫩠餅　腿、⿱𫩠饠　胯、⿱𫩠餇　腿肚、⿱𫩠𩚑　眶、⿱𫩠⿰飠文　背心、⿱𫩠⿰飠笑　腳節骨、⿱𫩠餌　胸，此十三字俱治腫疾。</p>
