<header data-type="book">
<h1>鄒亦仲醫案新編</h1>
</header>

<h1>序</h1>
<p>鄒君亦仲，壽世為懷。常曰：學書學劍，卻能獨善其身；不若學《易》學醫，可以□□利物。天人深究，洞悉陰陽，可謂不空到仲景堂前而歸，足為斯民耽生□□□者矣。吾儕自與研究醫學以來，諸多受益，茅塞頓開，《靈》、《素》、《金匱》諸書最難□□者，為之廣集後賢高論，以為證明。觀其臨症處方，任病情疑難複雜，均能直□其所，蛛絲馬跡，條緒立尋。其出方也，務立於不敗之地，又能直中病情，略無偏寒偏熱之弊，鮮不效同桴鼓，而沉疴多賴以起，到處有口皆碑也。值茲民生主義急圖實現，而醫道當為最切要之點，故力勸其將近年手積醫案，悉行錄出，代付石印局印行，以貢同道需覽，勿使明醫久不見聞於世起見，即可為後學臨症指南之針矣。成案雖不甚多，絕無一案不驗者。案中所論病理、脈理、藥理，均淺而易明，不待閱者多費推敲也。</p>
<p><u>民國三十一年癸未五月湘邵陽王巨臣　鄒代隆　鄒竹君同序</u></p>

<h1>自序</h1>
<p>醫乃格物致知之學，博而且淵；陰陽氣化之理，微而且隱，非費十年討求□□經驗者，何能司人生命，妄談燮理哉？亦仲幼讀儒書，長窮醫學，數十載□□□不釋卷，志在業精於勤，期無隕越。凡臨一症，務先詳其病情所在，繼乃謀□□藥適宜，原效夫喻氏先議病、後議藥之旨，豈敢一毫鹵莽塞責哉！自應診以來，療治雖多，而成案者終屬寥寥，實關夫具眼人稀，為負始終責者最鮮，偶得信任之家，付我二三調治，然後病情是否有護，方藥是否相宜，庶能洞悉原委，即可完成一案，形諸篇幅也。不信任者，日更數醫，病情方藥結果無從探悉。雖欲成案，多付缺如之恨，良用惜然，且諸案中，類多逝症，皆由抱病者徒執己見以取敗，實非病之真不能起。明明病宜攻者，自欲補之；病宜涼者，自欲熱之；病宜轉症方愈者，自欲速效之。雖予開導，置若罔聞，只有棄而不治，任其另擇高明焉耳。他如信巫不信醫之流，或重財輕命之輩，及驕矜不倫於理之子，先哲都云不治。僕亦面遇甚多，常使拂袖而往，安能與談規矩準繩之治哉？種種原因，醫欲得成一案，豈不難乎！更可嘆者，今之延醫不必識醫，作醫不必識症，箇中關係，殊非淺鮮，吾為目擊心傷者久之。因不揣譾陋，故將近年稍積經驗各案，悉錄出付梓。所說病理、藥理、脈理是否有當，惶愧時深。中有病人成見之誤，迷信之風，重財之弊，最礙生命前途。期略聞於世，或可啟聾而震聵，是猶以一葦而障狂瀾也。知我罪我，不完顧諸。</p>
<p><u>民國三十一年癸未五月湘邵陽隆回鄉鄒亦仲識於芙塘潮水屋</u></p>

<h1>久痢傷腎陽</h1>
<p>王撫臣室，妊娠八月，久患滯下，小愈旬余，病仍如前，頗甚於夜。經他醫投以補中益氣，症無增減。診得兩手脈均緩和，惟右尺沉小，乃腎陽見傷，欠於蒸動胃關，致後陰開合失度，倘關積滯為患，服補中益氣能不加劇乎。腎屬陰經，故病甚於夜之陰分也。與桂附八味，佐當歸濡血，艾葉和胎。一劑知，二劑已。</p>

<h1>久痢傷腎陰</h1>
<p>王永修，滯下月餘，腹痛後重，甚於夜間，脈象左尺沉小紊亂，寸關與右手細弦，此久痢傷乎腎陰、木失含濡、乘脾作痛之候。惟右脈之弦象可虞，中虛難受木侮也。法宜先治其腎，使根蒂不搖，方無險浪，仍與桂附八味，重陰柔而輕陽品，調水火均平，無使偏勝，方二陰之開合有節，肝木之庇廕有源，何至鬱而乘土，病當自己。因左尺為根本所在，脈象如斯，恐生不測，特預為說破休咎，以防異議，果此方有效，可冀引年，否則無以藥為也。幸服三劑，左尺紊亂之形不見。再疏補中益氣，囑其晚服，朝進八味地黃，脾腎同治，藥力方不至混互耳。數服收功，聞痢甫愈，旋又以他疾終。</p>

<h1>肝燥內傷</h1>
<p>魏肖氏，久患咳血，胸悶善怒，白帶如注，汛事不調，脈象左緩滑、右弦細。乃肝氣不疏，肝血最燥；肺氣不布，津結成痰之候也。且腎陰耗傷，滋填匪易；肝旺難馴，情性不柔。力勸其理佛參禪，可省卻謀慮，單眠息怒，勿再傷腎肝，不可徒恃□力以怡情而填空乏也。法與通陽滌飲，使胸中之板滯漸寬，介類潛陽舒郁，□肝陽之易升莫泛。以沙參、菖蒲、寸冬、蛤蜊、龜板、鱉甲、□□□□□□□芍、蓯蓉、枸杞等，出入為方，調治經年，日有起色，雖當青帝乘權之□□□□□及時浮越，現已兩度春光，究無鴛飛魚躍之患。果長此以往，預祝復康有日，不知保養毅力何如。</p>

<h1>妊娠暈脹</h1>
<p>鄭某室，胸腹脹疼，時有暈眩，診其脈緩滑調勻，似屬有子之象。詢汛事，果三月未行，殆肝血移作蔭胎之用，暫會肝燥，侮於胃而作脹疼，越於巔而作暈眩之症也。法與養血濡肝、潛陽理氣之品。二劑而安。</p>

<h1>肝腎俱敗逝症</h1>
<p>肖蕃生老人，八旬有餘，素以醫學濟世，貧富不取。壬午二月往謁其家，睹上面部色瘁枯黃，下面部亦同平昔，嗟屬老年不祿之徵。迄葭月竟患夜臥不能轉側，小溲淋瀝欠通，失眠腳軟，步履維艱，手足筋惕，舌尖頗紅，左關脈洪，右手緊大。此屬肝腎兩憊，骨損筋頹（肝主筋，腎主骨，足不任地，筋骨頹敗之象），心陽亢甚，坎離不交之象（舌尖獨紅，心火亢極，不與坎陰相媾，夜不成眠也）。再四思籌，腳軟無力，八脈之空虛宜補；小溲澀痛，木火之縱橫宜制。因老年難任苦寒，亦恐有妨胃氣，只得溫養奇經及舒筋活絡為方。一帖病無增減，脈頗緩和，二三帖可得熟眠，舌尖不赤，脈象更平，知心陽上亢下與坎陰相媾參，只筋骨頹損，須待補培，擬可暫無危險。冀就康復，方辭歸，夾旬即聞噩耗。後得家人說及此老吃甑蒸飯兩餐後，病遂加劇，不知果因此憤事否。吾考甑飯之劣性所存，無非為火氣烘蒸而熟，上升之熱性較勝也。食入胃中，自能引熱上行，況此老之心陽先亢於上，肝火又熾於下，經藥力稍為戢小者，得此上升熱性助之，何難掀發於俄頃焉。想慣吃甑飯者，當不見礙，慎口腹之人，可引為殷鑑。</p>

<h1>氣愆為病儼似外邪</h1>
<p>鄒賀氏，年六旬余，忽脘痛最急，寒熱而嘔，舌上津枯，渴不喜飲，不便不飢，呻呤不已，脈象洪數有力。詢其頭不痛，症非傷寒。診其脈不弦，□□□□。□食滯胃中，氣機凝結，上逆則為嘔吐；滯於脘間則為痛疼；滯於□□□□寒熱；失其流通輸布，則為舌燥津枯；失其升降樞轉，則為不便不飢。以上諸候，無非為氣愆其行度以釀成之。法與沙參、竹茹、花粉、枇葉、紫蘇、橘紅、薑、樸、絲瓜絡、二冬等輕展清宣，氣機得以活潑，俾氣行則熱自泄而津自生矣。丹溪所謂氣有餘即有火，於斯益信，服二劑霍然也。愈後數日，又誤食飯豆燉湯，脘痛更甚，舌燥更加，仍於前方內加麥芽、神麯而瘥。夫氣結津枯之候，昔吳頗有言及，亦屬概略，至孟英始闡發病機最廣，治法亦周，卓識真超越古人上矣。</p>

<h1>濕熱下流會陰症</h1>
<p>張某君，久患白濁，濕熱素充，甫將就愈，又傷於房事遠行，濕熱餘波，遂乘虛流入尾底會陰之穴，溺時前後二陰，牽連硬塞作痛。六脈緩滑，左尺沉小，的是腎陰先虛而濕熱乘機流入之象。方擬六味地黃以填陰，再佐黑醜、茴香以逐下竄之邪，至陰之會，非辛溫猛烈不能直搗黃龍也。二劑即慶霍然。遂減去二味，仍多服六味湯以善後。</p>

<h1>冬溫失治成癰</h1>
<p>劉青藜室，臘月間有不飢不食、便塞難出之恙。初不介意，未與治療。延至夾旬，左耳下紅腫，敷治未效，外科用刀針割破，潰爛之處最寬，臭不可近，咽喉口舌疱而腫紅，食飲難入。先是冬溫失治，釀成此癰，發於膽與三焦之絡，皮肉潰濫，尚不足慮，咽喉糜腫，最是堪虞，不惟有形之毒火宜制，尤是午後之陰熱宜防，治法當以毒熱為前提，而陰火預為潛伏，免日後延成癆怯，為患深遠也。以犀角、元參、寸冬、生地、銀花、連翹、龜板、甘草、丹皮、大云等，出入為方，調治旬余，咽舌紅腫始消，方能稍進稀粥，危險已除也。潰濫付外科敷治，後又未得延成虛損，幸甚。</p>

<h1>春溫咳甚幾成肺癰</h1>
<p>肖季瓊，素有肺燥微咳，正月初覺額角頗疼，咽喉頗燥□□□□食雞魚，漸至痰緊失音，咳甚於子夜，左手脈象數而且弦，右手浮洪□□□感春溫，又為飲食助燥。不知額角初痛，肝陽已浮，又加食物燥肺，清肅全失。前方雖數服降利肺氣之品，未得取效者，其中微雜燥熱以掣其肘耳。與石膏、黃芩，肅清肺胃為君；菖蒲、栝蔞、薤白，開通胸中之陽為臣；杷葉、竹茹、桑皮，降利肺氣為佐；金鈴、白芍、胡麻，柔肝潤血為使。一劑咳減脈和。二診以梔子易楝、芍，甘、桔易山楂，重清肺熱以開音聲，而病無進退。三診以川貝、葶藶、知母、花粉泄肺氣，清痰火，而胸膈始松，方不礙臥矣。後以訶、桔、梔、芩、沙參、花粉、蛤蜊、知、貝為治。六七劑失音始開，隻日間作咳，而子夜無之，囑其再服，毋庸另方，月餘漸護全愈。</p>

<h1>感冒重投麻桂傷陽</h1>
<p>鄒代億室，葭月間，微有寒熱頭疼眩暈，僅屬感冒風寒，難當傳經法治，醫者動投麻、桂大劑，汗後病不少減，脈象緩小，知正已被傷，而邪仍頑固，晚間顯面冷額汗之危，急於參蘇飲內，去法夏、葛根，少加生附為治。虛脫之形幸轉。後為輔正祛邪調理兼旬之久，始病減餐加。月餘，猶難起榻，一起即軟弱難支也。緣此婦素為孱弱之軀，又加過汗以重傷，正氣之難復也。如此，麻、桂可不慎投哉。</p>

<h1>瘡毒內陷危候</h1>
<p>歐陽祥日，患瘧數月，精血過傷，營熱未清，發瘡成板，膿水極形乾澀，癢痛異常，用敷藥遏住，瘡疥全收。症現發熱咳嗽，痰多痰響，渴喜熱飲，脈數而空，指下模糊，並欠胃氣，是毒火內攻，上刑肺金而為咳；中虛不攝，飲邪瀰漫而響鳴。危險萬分，實難措手。欲扶正而內熱已熾；欲苦寒則脈象難當。權宜緩急，與犀角地黃合降肺消毒之品，苦寒一概屏除，恐傷正氣也。一劑而痰響不聞，危險可免，囑多服四帖，毒熱稍清，瘡必自出，瘡出再從益血生津著手調治可也。</p>

<h1>冬溫誤治</h1>
<p>劉雄搏，葭月間，耳聾痰嗽，舌尖赤而津枯，胸膈悶而便泄，心神昏瞀，午熱渴譫（渴者口渴，譫者亂語，是兩症非一症也），六脈洪而頗數，必先傷思慮，心陽過擾（舌尖赤為心火上亢，不下交□□□□□□□□），又感溫邪，醫多誤認，前方溫燥頻投，每作傷寒漏底為治，不知溫□□□□為出路，斷不妨乎涼解，每致殆於辛溫，以寒溫之病源各異也。投以白虎合犀角地黃，再益充液通陽之品未效。良由心肝有病，難任石膏之辛涼，再與清營壯水、潛陽鎮心為治。雖有起色，而津液未生，又易甘涼濡潤，重加洋參磨兌，用甘蔗榨汁，代茶而飲。三日後舌始津潤，夜熱方減，脈象又退。余方辭歸四日，又發熱津枯如前，熱勢有倏然來去之異，知非肝火不能如是之迅速飄沒也。用龍膽瀉肝一大劑，熱勢退盡，但舌尖仍赤，乃心陽上亢，投導赤湯二帖，示以小溲之熱，較勝於前，即此火下降之兆。閱日果有溺熱之說，可慶神思清爽，解決有期矣。此後自知痛癢，舌淡安穀，耳聾轉聰，家人反以痛癢方知，疑為病進，曉日病經新退，何得健康如前哉。從此再無枝節橫生，只有日趨康復，經半月始得起榻。僕不能久耽時日，囑請他醫善後。可不僨事後詆鄙人毫無功效，均屬後醫調治而起，雖無關係，亦可笑其無知矣。</p>

<h1>肝陽及時而熾</h1>
<p>王翊臣君，春初寒熱咳嗽，頭疼偏左，脈數而洪，本似感冒風寒。城中各醫，均與疏散，麻桂肆投，甚至大汗淋漓，病不少減。僕以感冒系營衛之邪，而起居飲食，焉能如恆，縱邪輕體盛，病必難支。且知君為肝陽素旺之體，當此青帝司權，難免無鳶飛魚躍之患。故頭偏左痛者，乃肝陽上升也；寒熱時發者，冒風所致也；咳嗽不寧者，風陽沖逆也；何必營衛有邪，方能致諸種現症哉。法與潛陽降肺，油潤息風，應手而效，以鱉甲、龜板、桑葉、菊花、七釐、杷葉、石決、秦艽、青蒿、牡蠣等，出入為方，須痛懲惱怒，不服溫補，免助肝陽為要。聞說以前累發生暈冒，必留連日久方痊。諸醫有作痰飲為治，有滋補攻伐相療，藥與病勾相背而岐，豈非誅伐無過之地哉。</p>

<h1>內傷肝旺土絕逝症</h1>
<p>肖忠友，心腹聚瘕，脘痛而嘔，納食不能久停，將何以生津而□□，漸至神疲肌削，面色痿黃，其脈左手沉緊，右手弦細。木氣之披倡，土氣之□□，真陰之將竭，至如此極，預料危期必在明年春令乎。法與建中合梅連和木土之相賊，佐滋水濡肝降沖，濡木燥而降逆。三服無功，及明年春過境，聞以告急，不可救藥矣。</p>

<h1>暑濕留連症候</h1>
<p>鄒代巨，七月間，寒熱嘔吐，旋變滯下，又由滯下轉瘧，二三發，截住即已。至九月僕為診治，色似熏黃，中有暗黑，夜熱盜汗，神疲食少，溺短便濕，為暑濕留連腸胃，膠固未清，發痢轉瘧，已是好機，醫者能於此時用辛涼以祛暑，苦燥以除濕，何至邪留陰分，令有陰虛陽走之盜汗，及夜熱等患哉，又何至濕溢皮膚，色似熏黃，猝然現於面哉。且脈象細澀，陰分雖傷而滋膩宜避，氣分日弱而苦寒難投。與茵陳、滑石、釵斛、牡蠣、大云、小麥、銀花、甘草、丹骨二皮、龜板、寸冬輩，出入增損，調治三月餘久，面部之黃浮始退，暑濕瀰漫，何其深哉。</p>

<h1>老痰火脈症可虞</h1>
<p>鄒恆豫君，久年痰喘，氣滿難舒，舌上常有黃黑厚苔，數載未脫，近來精氣神之衰憊，動步之維艱，更日甚一日，左手脈象弦硬無情，右則細澀而數。肝鬱之極，精血之傷胡甚也。論症象，痰飲素積於中，陰火常烘於下，數年舌苔黃黑而厚者以此。緣痰為水液結成，以下之陰火不斷熏蒸，液氣上騰於舌而為苔垢。癥結所在，已非一朝一夕之故，病情膠固難除可知也。仿王孟英治法，與洋參、寸冬、石英、蟲草、牡蠣、建菖、竹茹、蓯蓉、歸身、遠志為方。服二帖苔垢已薄，步武稍舒，便可散步市中而不覺其苦矣。囑再進以斷根株，俟陰火淨盡，再吃溫補、健運，蠲痰，方無耗陰之患。</p>

<h1>中虛寒中吐瀉可危</h1>
<p>房侄孫甫歲余，二月吐瀉兼作，不渴溺多，眼垂常不欲開，神氣十分衰憊。稟賦素虛，又寒邪直中，為附子理中對症，因是啞科，無從問切，恐消息不的，不妨以六和湯為前茅，較為妥當。時值僕有他往，知此子先後二□極弱，料吐瀉之後，必有慢脾發生，開一附子理中湯，囑代隆弟相機而投。果至夜手足厥逆，眼吊驚煩，風狀已現，進此湯後，遂沉睡安然，該家人疑為已逝，欲置棺中，撫之則眼開聲出，始知非逝而為病退矣。殊堪一笑。亦未再投藥餌，即慶全愈。</p>

<h1>喘腫不關外邪</h1>
<p>肖君某，遭失怙之悲，患氣滿難臥，動則更甚，略不咳痰，溲熱便堅，面色暗慘，身熱又無。非時感外邪，殆悲哀傷肺之候。肺為氣之街，職司治節，失清肅則治節不行，既未咳痰咯血，肺無燥熱之傷也，不傷亦何至喘逆而為脹滿哉。然悲哀所觸，氣鬱不宣，又可壅而上逆，豈獨風寒外束、痰飲內干及形寒飲冷即可傷乎。雖無客邪症候，方仍不外降利肺氣為主，滌痰之品概可屏除。三劑腫消氣平，即能起榻、散步於外矣。但溲熱未除，又多眼糞，乃兼肝鬱生火，與龍膽瀉肝湯以清肝熱，囑服二帖即已。自以為虛，劑方終遂接吃香砂六君湯一帖，腫滿更甚於前，聞他醫用葶藶泄肺而痊。</p>

<h1>嘔脹症肝脾相賊所致</h1>
<p>匡姓婦，半年來，不吐則脹，不脹則吐，溫涼降澀，久治無功，脈象弦澀而數，乃肝鬱火生，燥而上逆，胃土被乘，故為嘔脹，豈是客邪痰飲相攻為患哉。法與小建中湯，培中土之不振以御肝強，佐以梅連酸苦，柔木氣之披猖以安胃賊。四劑而嘔吐俱平，弦澀二脈不見。奈此婦情性不柔，負擔又重，謀慮難蠲，肝氣不能長舒也，甫愈兼旬，病仍如故。益信肝為角木，龍性難馴，一有怫逆，枝節橫生，囑其頤性養情，不可專恃藥餌以舒郁。明年春又迎診於僕，詢悉嘔吐雖停，而腹脹大如抱甕矣。恐單腹脹必由此而成，較之去年嘔脹俱作者，其病更有進也。法與桂枝湯合梅連，加覆花、川楝、橘核、橘絡、橘葉，無非平肝氣、清肝火、搜肝絡為主旨。四劑而脹滿全消，旋得妊娠矣。</p>

<h1>中痰症最盛難蠲</h1>
<p>鄒恆兌君，體肥而白，氣弱痰多，久患言蹇失序，肢體麻木不仁，艱於步履，能食便堅，脈乃調勻緩滑。非風中之候，乃痰飲充滯於內外肢體，尤多痰火內發於心官，神明閉塞；此由肥白之軀，內濕素盛，中氣必衰。氣衰則不能行水布液，為血為津，所有水穀精微，散而成痰成飲，瀰漫於臟腑經脈隧絡之間，無在非飲邪所淹及，曾教從何處著手蠲除哉。幸體堅脈實，雖礞石滾痰亦不嫌其峻也。疏二陳湯合膽星、枳實、竹油、薑汁等，煎吞滾痰丸五分。服至旬余，神明頗清，步履稍活。終以滾痰之峻，再施恐至決裂，易茯苓指迷丸常服，較穩而且妥。二年再診，言語更有條緒，知痰火內發已少為蠲除也，仍以前方改吞礬郁丸，專滌心竅中之痰涎敗血，是否有效，不敢預必。但病情之膠固難除，不過勉盡人謀以圖治，只能達到小愈目的，即屬幸事。</p>

<h1>痰飲暴中壅閉可危</h1>
<p>歐陽彭氏婦，發熱而渴，痰壅氣粗，手足搐搦，目瞪不語。醫疑為傷寒，投麻杏石甘湯一劑，幸無防害。診得脈洪滑數，神思全不清爽，幸吐痰最多，症屬類中，儘可無虞。所發搐搦、目瞪之狀仍多，隧絡之痰未除，法宜搜剔餘邪，內外務盡，與溫膽湯合膽星、栝蔞、竹油、薑汁為方。一帖神思清爽，各症悉退，病者自述，有藥到即舒之快，二服遂安，未另主方矣。此婦痰飲類中起於暴，較鄒君之痰中由來緩者，治之易易也。</p>

<h1>腳腫至踝陽敗可嗟</h1>
<p>陽卓斯，患老痰火拾餘年，咳時必至面紅筋脹，苦而無奈，方得痰出始松，神衰氣減，動步多艱。壬午冬，見其腳腫至踝，面腫至項，陽虛不移之象可嗟，在法已成不治。診脈六部弦數，自述有熱氣一條，覺自下而上，其腫即甚。雖元陽將敗，而濕熱宜去也。夫四肢為諸陽之本，賴以溫肌腠，煦經脈，肢體方得活潑而康。腳之腫象如此，陽虛不移之象已露，猶望有溫煦體軀之用哉。勉擬治標一方，以知母、腹皮、桑皮、桂枝、防己、海金砂、蒼朮、廣皮等，以去濕熱為治，濕熱清，再商治本之法。三帖腫勢退去一半，再服決不再消。延至冬末，土旺十八日，且飲食增進，自以為喜。知是應土之旺氣而然，並非病減食增之兆。至立春日，果病勢漸加，食少脈微，已露陽虛水腫消息，權與金匱腎氣湯一劑，雖小有起色，亦不敢再吃，因喘咳屬肺金燥熱為病，恐附、桂辛熱上浸，別生險浪也。卓斯因方效而不再與，疑僕另有拖延用意，背余自服三帖。腫雖大退，按其腳已硬而不柔，此即病之變象所在，腫雖退有何益哉。由此足不能履地，遂臥榻不起，病情極形膠固，況吃藥又剛愎自用，即謝絕調治之責而不前矣。月餘方逝。</p>

<h1>寒濕將瘧症</h1>
<p>小兒宗字，六月間，腹痛便瀉，渴飲津枯，初與滲濕清暑未應。迄診脈緩遲，腹痛喜按，是感寒濕為病。雖舌燥津枯，乃便泄而津液下流，不可作熱灼真陰為視。與附子理中，有何妨礙。一劑而痛泄俱無矣。旬余後，日作如寒似熱之狀，知寒濕未盡，邪將傳瘧，與小柴胡湯一帖即瘥。小柴胡為風寒化瘧之劑，當此六月炎蒸，暑濕為患，似不中與，今竟取效何者。緣本年六月，冷熱無常，人多挾曠，暑濕之令，易為寒濕之時。此子之瘧，是感寒濕甚明，豈可拘泥用藥乎。</p>

<h1>寒濕症最劇可危</h1>
<p>鄒岐山，腹脹喜按，裡急便難，行坐易處，躁擾不寧，面色黃似橘皮，眼光蒙以灰翳，左右脈只兩至，短小澀滯不流。寒濕內中胡劇，脈敗堪虞，幸無汗泄虛脫之形，尚可希冀。此素體極寒，又為外濕所犯，方有如是垂危之候。急與生附一兩，乾薑、焦朮、黨參減半，漸進而脈漸多，躁擾漸定，四劑而腳冷方回，諸症均已。人初畏重劑難當，多為掉舌，不知腹內已成冰海，非重溫何克有濟。後自述在外涉水一次，歸覺不豫，由漸而劇，預料為外濕所侵，果爾不爽。</p>

<h1>產後脹痛肝鬱陰亡</h1>
<p>王階秀室，生子不祿，悲抱喪明，漸至腹痛而脹，午熱面紅，腳腫便泄，數月如茲。僕診脈象，弦洪且數，驚陽獨留而陰將竭，雖盧扁再世，將何以生。免擬輕展氣機、舒郁潛陽之法。聞為前醫駁斥，謂產後無實可醫，理誠然也。不知產後喪明，肝氣被鬱而侮土，土被木乘而為痛脹，早宜舒郁是投，和木土之相賊，兼免木鬱而火生。奈徒知產後多虛，率投溫補，肝愈補則愈橫，熱得補則愈熾，無怪痛脹至今，有加無已。倘非便泄消納其補，早以告殆，焉有今日。階亦試服其方三劑，脹痛均減。再請診視，脈象仍然，嘆木土可和而陰亡難復，病退又何益哉。故示危於工人，免再邀診，不久即逝。</p>

<h1>鬱結陰亡溫補自誤</h1>
<p>劉陽氏，抱喪明之痛，愁懷莫展，而五志之火內蘊良深。症顯午熱咳嗽，舌絳津枯，語蹇神呆，不飢不便，雖炎蒸酷暑，重裘略不知溫，又身似畏熱，常喜招涼搖扇，病情或寒或熱，難以捉摸，參之脈象，細數而虛。必由肝鬱生火，真陰被其盡灼，氣機凝結，營衛失其流通，所以重裘不溫之故，真氣不行於衛分也；熱見午後之由，陰虛火發於陰分也；津枯舌燥之症，雖為火灼，亦氣凝而液失輸布也。由氣結而津亡，其理昭昭若揭，法與楝、芍舒肝；二冬滋液；歸、地養陰；竹茹、枇葉開降肺胃；沙參、菖蒲保液通陽。服二帖舌頗津回，語言不蹇，擬重加洋參再投。洽值伊夫婿自外甫歸，大以方藥為不妥，堅欲用耆、朮、桂、附補陽。經僕再三曉以津枯熱熾，真陰將亡，如再服溫燥，幾希之陰必至立竭，焉有生理。聞之頗有覺悟，不料陽氏以所服非補，藥不洽意。往診其脈，遂以厲色相加，夫婿又不為開導，見成見之難除，病雖可治，不得不拂袖而往。旬余遂逝，非自誤而何。</p>

<h1>暑濕挾郁釀成腫脹</h1>
<p>陽某夫婦，口角爭端，旋患寒熱，發作有時，似瘧非瘧，數日即已，繼而腸脹腳腫，脈象緩和。此感暑濕，邪欲化瘧；又挾肝鬱，瘧不能宣，遂陷陰分而為腫為脹也。方擬天水散合越鞠丸，舒郁利濕清暑，以清滌其邪，或不能清滌盡淨，期化瘧而出以解決之。服三帖腫退脹消，遂停藥餌。究未成瘧，旋腫脹仍然，掩纏數月未愈。因人窘不能言聽計從，囑請他醫調治。</p>

<h1>暑熱釀毒</h1>
<p>劉姓二小孩，六月間同時發熱如烙，汗出溺多，煩渴又甚，均暑邪傳肺之侯，各與白虎湯合天水散，清暑滌熱，旋即身涼而安。該父母以為全愈，不令再方。謂曰：病退太速，恐別有蘊釀，未可遽抱樂觀。數日後均發熱如前，一於臀上生癰，一於乳上高腫。暑邪釀毒而出，較發癤瘡者深沉多矣。該父母緩不及待，毒未熟時即請外科冒用刀針，二三日收口而愈，旋又發熱更甚，於原癰之旁，又作高腫，而不紅痛，是毒蘊元虛，難以托出，戒其切忌刀針，勿蹈前轍。與竹葉黃耆湯，托裡清解為治，四劑後癰熟自潰而痊，較用刀針之結果優劣何如。此兩孩之病同治同，亦屬罕有。</p>

<h1>出痘不嘉餘毒難清</h1>
<p>陳錦星小孩，出痘不嘉，素耽葷酒，不知自節。未淨之胎毒，與膏梁厚味之蘊釀，由來已深，故眼皮常濫而流淚，頸上挾咽而生瘍，聲音已破，食入礙疼，疑是喉癰。請外科認為水蟲干蟲，須吃丹藥。值僕有梅城之行，借宿伊家，代為視之，系風陽上熾，鬱結頸上而生瘍，糜濫喉中而有穴，丹藥之治欲使喉間濫上加濫，是何居心，留贈消瘰湯而別，囑服拾帖，旬余轉身視之，瘍已消至十分之八九，咽喉紅腫、音嘶均轉。示其父母限制此兒口腹，以免助熱生風，否則風熱之為殃，將有不可向邇者。越數月又午熱音嘶，儼同癆瘵，頸瘍又大，仍系風熱使然，與楝實、芍藥、秦艽、桑皮、地骨、羚羊、桔梗、甘草、元參、浙貝、牡蠣、夏枯等藥，柔肝滌熱，消風化瘰。四劑而各恙冰釋矣。</p>

<h1>瘄疹內蘊何久</h1>
<p>外甥二歲，六月間，發熱泄渴，咳嗽睛紅，旬余不減，頗慮其危，與甘寒充液，肅肺涼肝。其父母恐藥涼傷正，只服一次，何如明日即遍身紅點如粟者最多，知風熱化疹透發，病當自己也，旋即護安。甫愈兼旬，又患滯下。值疹後真陰未復，何堪又掩沉疴，此子必難再愈，數日即殤。</p>

<h1>風陽上逆於巔</h1>
<p>歐陽氏，發熱頭暈，一身肉顫。醫以為虛，服補中益氣二帖，病本少停，越四日頭偏左痛，項背俱疼，巔頂高腫，涎沫甚多，發熱肢汗，脈緊而沉。風陽暴發，既現頭暈肉顫於先，又以補中益氣提升於後，安得不暈冒而增為頭痛，肉顫而進為巔腫乎。不知小愈數日，是風陽來去無常之徵，何必歸功於藥力以為病退耳。法與柔肝滌熱為主治。風陽上逆於巔者，佐重墜品以鎮之；風陽灼液成涎者，佐辛燥藥以祛之。囑服三帖，聞即霍然，未經善後，想風陽未嘗無時越之虞矣。</p>

<h1>脾約症候</h1>
<p>代典弟，腹頗脹痛不舒，小便頻數，大便極艱，飲食如恆，脈只三至。此喻氏所謂之脾約症也。原脾為胃行其津液者，今胃為暑濕所浸，移之於脾，脾遂失其輸津於上之職，直裹胃液，下趨膀胱，不後走大腸，此便艱溲多之由所在也。症名脾約者，是約束胃津前趨之謂。法與脾約丸合溫膽湯諸品，燥胃濕而起脾寒，俾腑氣清而樞機自運，地氣得以上升，天氣方能下降，則水穀精微不得盡走膀胱而為溺矣。欲二陰之便溺有節，亦關乎清濁之降升不乖。一帖即便通溲少，云所下白沫頗多，又是何故，示以脾家健運，未能即復，白沫乃精微清氣，未上輸於肺，乃直下大腸之故，候健運復而白沫自無，不足為患。與補中益氣合苓夏以滌飲滲濕，脾自得運而有升降矣。囑多服善後，無庸另方。</p>

<h1>風陽上逆成形可異</h1>
<p>劉奇生君，與鄙人常共居遊。見其頭面常有紅光，問其病因，頭偏左痛，咳嗽痰多，自覺風從背間而上，即發肩髃骨疼。右寸關沉緊，肺胃之氣不伸；左三部緩滑，痰飲之象瀰漫。乃風陽最熾，常戴於頭面之候也。能覺得風從背上，無形而成有形，病情固結，頗異恆常，必使慣逆於上者，務在折而使下，方稱良治。與介類潛陽為君；合降肺柔肝之品為臣佐。消風燥血各藥，概予屏除，免蹈畫蛇添足之弊。囑其多服，以面無紅光為度。幸恪信余言，數月後相晤，紅光、咳嗽俱無矣。</p>

<h1>抑鬱驚恐將發神經</h1>
<p>陽穆清君，素有怔忡，現不熟睡，左脈關部浮大，尺寸沉小，右手緩平。乃因事刺激，肝家受郁已深，且驚恐頻傷，心腎不交又極，倘不急治，竊恐蘊釀日錮，難免不病發神經。法與逍遙散以解肝鬱，佐遠志、菖蒲以交心腎。一劑知，三劑遂得熟眠，肝脈之浮大不見，尺寸之沉小亦調，不勞餘力而痊也。</p>

<h1>熱伏絡中觸之即發</h1>
<p>鄒代益弟，近年來，累患咯血咳嗽，午熱面紅，嚴似虛癆之候，清之即愈，究不為害。壬午春，偶感風寒，咯血更甚，且飲食兼進，唇若塗朱，知是外邪又觸動肺胃絡中之伏熱為病矣。飲食反多進者，乃胃風、胃火相煽於內而然。喻昌所謂風煽胃中如轉丸之捷，飲食易消，不得不借資於厚味，設虛風止熄，即清薄之味尚不易化，況肥甘乎。益竟喜食肥甘，相煽胃中之風火已足，而消化力最強也。夫胃為多氣多血之海，風熱披猖於內，胃家經道必被其動搖，經道搖，血自不安於其室，故從上溢出焉。且肺胃有子母關係，胃家有故，勢必影響於肺，經有母病傳子之訓。因肺胃有大絡相通，傳之更覺捷便，所以益於血止後，又傳咳嗽欲死，足徵胃熱上移於肺、肺失肅清故耳。與清燥救肺湯，取石膏能清肺胃，余亦甘寒油潤，可息虛風。病家疑藥大涼，恐傷正氣。再三曉以益能多食，是風煽其內之故，何得視為可喜哉。如是始肯服石膏二錢許，一帖果得咳減脈和也。倘益系虛癆咯血，乃陰虛火動，上刑肺金，石膏豈可沾唇哉。故伏熱與陰虛熱之一虛一實，大相徑庭，治法何可互混耳，或問此種伏熱何自而來。殆於外感後，邪熱未清，醫者恐虛，即投溫補以助其虐。真陰虛者，即乘虛而入，癆熱漸成；真陰足者，熱無可乘之隙，遂因循留連，如喪家之犬，只得竄入肺胃絡中，以為窠臼。既入絡矣，不觸發亦可相安無事。倘飲食寒暑，一有不慎，即此伏熱之導火線，而咯血咳嗽諸候盡萌。代益近年來，累觸累發，症似虛癆，一與清滌，旋即護痊。其根株不絕者，以熱仍伏於絡也。更有證明焉。陽卓斯昔發背疽未熟，外科肆用刀針過早，熱毒未出，仍留於內，變為老痰火，百法莫療。亦是熱入肺胃絡中，攻之不得，清之無功，補之更甚，遂永為腹心橐害矣。然則益之伏熱，果無法以剷除乎，實非消清攻奪之湯劑可能奏功，惟紫雪丹善能搜剔隧絡熱邪，庶可有效。藥屬寒涼走竄之品，無經不透，無絡不通，務在相機而投焉可也。</p>

<h1>風濕合痹症</h1>
<p>天龍禪師，一身上下，走注疼痛，頭暈善食，後重呻吟。僕以脈浮生風，脈緩主濕，風濕相合，痹而作痛也。且知平昔善飲，即是生濕之媒，今歲風氣流行，感之遂合為患。頭足腰背胸腹之間，略無不痛之處者，以氣血流行之經脈，悉作風濕走竄之道路，邪正相攻，故牽引於一身表裡上下，速如置郵而傳命，因風性善行數變故也。症兼多食者，風煽胃中也，裡急便難者風入大腸也，況挾濕為患，豈不更烈乎。與楝實、白芍、秦艽、乳、寄等，舒肝活絡；當歸、胡麻輩，油潤息風；杜仲利腰臍之氣；延胡、木香調肝家氣血為疼，一劑知，三劑已。養皿消風以善後。</p>

<h1>咳嗽狂陽莫制</h1>
<p>歐陽藝甫，稍有咳嗽，飲食步履如恆，病輕似不介意，迄診其脈象細數，不下七八至之多，方悉真陰有立竭之勢，殊為可驚，想初病即爾，非由房事過傷，即服溫燥所致，豈可作感冒咳嗽視哉。法與大補陰丸以制壯火，佐二冬、五味、洋參以救金傷。治雖合法，其如狂陽莫制，真陰已竭何。漸至腳腫溲少，咳嗽有加無已，藥無小效，月餘方逝。</p>

<h1>肺熱頗類陰火</h1>
<p>劉工保小孩，七月間發熱如烙，甚於寅時，苔黃口渴，滯下溲多。人以為癆熱骨蒸，用滋陰以培火；誰知是暑邪傳肺，須白虎以撤熱。夫十二經脈之氣血流行，與十二時辰各相吻合。寅時乃肺經司氣之際，故到時熱甚焉；肺與大腸相表裡，滯下乃肺熱下移焉；溲多而數，乃高源有熱，外水飲入，隨熱下注無少停焉。以上諸候，皆屬於肺，何必從滋陰著手施治哉。與石膏、知母、竹葉、丹皮、酒芩、釵斛、桑骨二皮、沙參等，出入為方，清肺滌熱，而痢自己，漸得護痊也。</p>

<h1>酒傷手痿症</h1>
<p>廖子穆，平生喜飲，素嗜燒酒，咳嗽痰多，潮熱身痛，漸手痿不用，腳頗可行。診其脈象澀弱，似有若無，雖為熱灼脈道乾澀不流，總屬無神可畏，疑是氣散血竭，症脈兩危，擬難護愈。尚神清音朗，似精氣神之本實未剝，試為手援。查閱前方姜附投之不輟，胡酒家濕熱滿中，醫反以辛燥助虐，安得不灼筋而致痿乎。前賢多為足痿立法，手痿一症，鮮有談及，僕試略闡其義。夫人水穀入胃，變化精微，遊溢於脾以輸肺，肺氣布津以營養經脈，方能肢體舉動自如，百骸靈活，倘陽明無清氣輸布，肢體經脈盡失所養，將何物以束骨而利機關乎。今子穆胃中，皆酒生濕熱磐據，清氣全無，肺受此濁熱輸將，故本臟自病而為咳嗽，波及經脈而為手痿也。方書曰：痿病皆因肺熱生，陽明無病不能成。旨哉言乎，致痿之由，盡括其中矣。或曰：手痿而腳頗用者，又屬何因。緣子穆素嗜燒酒，氣乃輕清上升，其熱毒必與手經上行者為患。試觀好飲水酒者多病腫脹，性乃重濁下降，其熱毒喜與足經下行者為殃。勢同性合，以此較彼，手痿之由不昭昭若揭乎。或又問身中何以疼痛，乃濕熱遍浸，邪正相攻之故；午後何以潮熱，乃濕熱最甚，灼傷陰分之由。方與芩、連清熱，羚角舒筋，歸、地活血，荊、防消風。二帖頗得熱減脈清，始知熱非陰熱，而潮熱之疑團可以冰釋。於原方再益石膏清肺胃，葛根化酒毒，知母、花粉除痰火，坐診旬余，日有起色，令將生葛蒸熟，每日如常嚼咽其汁，從緩化除積年酒毒起見也。服至三月餘久，手足方能作用，酒量亦減去十之七八矣。囑其慎重保養二年，始可轉弱為強。奈嗜好頻深，房事、口腹盡如所好，一年來枝節橫生，累為治愈，頃因同室操戈之故，先日大怒一場，異日即如前痿痛，緣怒氣激動肝火，橫猖莫制，脈象弦洪緊數，為前所未見，治以大劑龍膽瀉肝，及當歸蘆薈等湯。其脈旋平旋旺，不大減除，燎原之火，將何以撲之乎。即辭不治，越日云亡。自惜竭力維持許久，功歸烏有也。</p>

<h1>中虛將脫</h1>
<p>歐陽老母七十餘齡，久說腳軟無力，行動後退不前，多進十全大補，甫就健康。又嘔吐頭暈，眉稜骨痛，肢冷不食，脈象遲微。中氣虛寒，絕脫堪畏，急與桂附理中，生附一兩，各味均加重以進，並佐當歸益血，明麻祛風。連服三帖，始得肢溫，仍脾腎雙補善後。</p>

<h1>濕熱足痿化瘧方解</h1>
<p>魏毓章，腳痿無力，行步似拖，咳嗽痰多，飲食不減。多醫咸作虛療，補陰補陽，始已嚐遍。診脈浮洪實數，不為指撓，確屬濕熱發痿之候，但脈形數大，半系補藥釀成。方書所載骨痿一症，多屬乎虛，宜補腎填精，用全珍金剛丸為治，無不有驗。奈此症緣夙有積濕在中，又感時令濕熱以合成之。濕先流足，致足之氣血經脈，都被濕襲而不用矣。脈大如此，料將來腫滿之患難除。初與三承氣未應，繼用控涎、十棗湯以攻，便始泄而脈始衰。究病不多愈，痿軟仍然，蘊熱之深，概可想見。然脈雖大減，暫可不發腫滿，濕熱根株，又將何以剷除乎。延至二年夏，濕令重臨，腫滿始應濕而發，氣喘不舒，又添肺氣上逆問題矣。再延僕診，試與五皮飲二帖，旋得腫消，即停藥餌。示法脈轉滑細紊亂，假愈可知，而大恙將臨眉睫。初之不信，閱數日果腹大如鼓也。因信任不堅，遂辭調治之責。經草醫神方，延誤數月，幸濕熱自能化瘧，腫症漸無形消滅也。發腫雖不出余之預料，後經化瘧解邪，何曾先曉，愧甚。此症脈象難療，竟得瘧解，非毓章之理數未窮，何能免此危殆，為之慶幸不已焉。</p>

<h1>飲邪最盛症</h1>
<p>鄒季衡，平生喘滿，不輕出戶庭，或又感外邪，吐出濕痰，多至盈盆盈碗，日趨消瘦倦怠之鄉。參蘇、枳桔等湯，內將半夏摘去，服食已久，效果毫無。脈象浮緩不數，症專屬乎飲邪，二陳湯即可解決有餘，何以一無人用耳。季衡常法二陳有半夏燥肺，畏之如虎，請另擬方。曉曰：君恙為脾失健運，肺失敷布，水穀精微，脾氣不輸於肺，肺氣不能敷布於臟腑經脈，以為氣為血，完全聚液於中而為飲為痰也。幸無火熱煎熬，痰不稠黏，乃是濕飲易出，此非苓、夏滲濕，飲從何去。如有僨事，僕可獨任其咎焉。如是始肯服京半夏一錢，尤要陳之已久者。一劑知，二劑始加夏法進，三劑而飲已全蠲，遂用六君湯善後。伊母感曰：吾兒不死，老身不至鰥獨，實君所賜。其實此症易治，並未一費躊躇，可謂得個便宜矣。</p>

<h1>痢至亡陽危殆</h1>
<p>彭哲賢，九月間患痢於省垣，往湘雅醫院診治，六日即頻於危。時僕自岳州返省，方負笈入城，為乃弟季賢所見，急扯往該院視之。業已淋漓大汗，肢冷如冰，語聲難出，脈弱如無，陽將脫盡，頃刻告危，雖有重劑，恐難及救。囑乃弟急抬往原寓，以便用藥，緩則無濟矣。不料醫院發生阻撓。病者云：外無空氣，堅不肯出。不知陽亡即死，空氣豈可挽救乎。乃弟見危，決然抬出。僕先往寓所，備就回陽大劑，即制生附一枚，野參一技，煎就法候，到寓便吃。洽二時許，覺肢溫汗止，知陽未盡去，猶可招之使回。陽回，再投劑治痢，此病之標本先後，不可不知。但所下純紅，厥陰症象，參附豈可瀆用乎。後以歸、芍、阿膠、白頭、銀花、藕汁、地榆等，出入為方，月餘始護漸愈。蓋哲賢入院未久，即召亡陽之危，料是西藥克伐太過，哲賢秉賦不強，難當此峻烈也。不解病已危殆若此，西醫猶說在院無妨，出必有礙，殆有挽救妙方，尚未施用乎。又不解哲賢愛新鮮空氣可以醫病，當此九秋天氣，瑟瑟金風，吾著薄綿襖入院，似不禦寒，況病人陽氣不振，置於房中，只蓋薄被，四面窗牖盡開，放入涼風吹拂，到底是寒氣乎，果空氣乎；對病果有益乎，是有害乎。不待明者當知也。大抵潮流所及，趨向一新，西法見信於人，較勝於中法已多。不知西法只可醫強人皮肉有形之病，不可治虛人臟腑氣化之疴，病不講陰陽虛實，藥不說君臣佐使，無論強弱體軀，治法一律，故強者亦可得愈，弱者深受影響而不知。哲賢之病，不其然乎。所以用參附重劑方能救護也。</p>

<h1>痢久陰傷現象</h1>
<p>鄒王氏七月患痢，調治月餘，日趨危篤，延僕試作最後治療，兼決逝期緩速。症現兩顴發赤，渴喜熱飲，裡急後重，所下純紅，時欲搖扇招涼，六脈細數無序。閱前服方藥，辛溫較多於苦寒，相雜而投，無有紀秩。症屬久痢傷陰，辛溫助熱也，明甚。現已陰亡陽越，險象環生，試為勉盡人謀，照法施治，病之效果，斷難預期。投八味地黃，滋陰戀陽，導龍入海（即桂、附引火歸原之意）為治，重加阿膠濡血，因所下純紅耳。囑投一帖，如熱勢有減，口不加渴，可翼圖存。閱日再視，搖扇可少，各恙仍然，知陽可引之歸窟，陰可從漸滋填耳。三帖後，各恙均減，遂陸續追進，其著效甚遲者，是真陰不能驟長之故。緣重在陰傷，方致陽戴於上，顴赤身熱，乃陽越之徵；渴喜熱飲，乃內陽不足招外陽以助之象。陽越由陰虛而來，填陰似重於引陽，其理昭然也。後將原方加重地黃，減用桂、附，服至廿余帖，始得漸康，幸甚。</p>

<h1>痢症轉泄積滯將去</h1>
<p>劉香池，紅白滯下，裡急後重，腹中㽲痛，常喜按摩，脈乃澀小不調，神乃疲憊已極。所服皆痢門套方，芍藥湯加硝、黃盪滌，業經三服，現煎就一劑以待投。僕因脈象如此，精血已傷，雖積滯宜消，而中氣幾將斷絕，硝、黃豈可再沾唇哉。與附子建中湯一帖，腹痛稍減；兩進，各恙均有起色，旋易去積寬腸、調氣行血諸法。一日大下極多，遍體為之汙穢而不自覺，群驚病變，擬即更醫，對僕頗露不滿。暫從容慰曰：料是積滯大去，乃病轉機，何用慌張，候再視脈象何如。果易為緩滑調勻之象。當示法明日登廁，必可見糞，真是積去，並非病變，可不害怕。異日果自述汙垢不見，始信余言不欺也。同時香池父七十老翁，亦患痢甚重，群醫視為難起。因屬年高，難任風雨，著實脈症較美於香池甚多，豈可以老年論休咎乎。與芍藥湯二帖，遂愈。</p>

<h1>痢轉泄失治而逝</h1>
<p>田達億，患痢，脈症不逆，經僕調治，甫轉滑泄，積滯將去，可期病減就痊。不料陽悟佛備輿接診，即促就道，因田病轉泄，雖是好機，亦須照拂，方免遺誤，但陽家亦難推卸，不得不往。因留一救脫之方於伊弟手，示其相機而投，如病至泄瀉不止，及現厥逆等情，即投此附子理中湯法救其脫，囑注意勿忽。去後果不出所料，滑泄不已，該弟法所囑，早置河漢，坐視其變，及泄至數日，病不能支，始飛輿接僕。問其方是否已服。曰：未也。到時已陰陽兩脫，挽不及救，可概矣夫。</p>

<h1>痢疾脈症俱逆可危</h1>
<p>陽悟佛君，暑月患痢，真陰已傷，渴飲身熱，舌絳而干，脈甚弦細而數，所服皆溫補之方，實者實之，漸至蘊熱重重，盧扁望而驚走也。可慮者真陰為溫燥所耗，故口渴而舌絳。積滯為溫補所助，愈壅塞而難疏。水虧木旺，脈象昭然，逆症層層，恐難生效。只法逐漸清滌撤熱生津為主治，與仲景葛根黃連黃芩湯，佐生地、花粉、二冬、石膏輩，出入增損，陸續繼進，四日後略有轉機，熱減脈平，知凶危可免，後稍與盪滌而積滯方除。不解滯下之症，動與溫補，是猶溝渠未浚，土石頻堆，不至閉塞而死者幾希矣。後為陽君慶幸曰：所服補益，如參、耆均優，清解亦屬無益，幸藥品皆劣，雖至僨事，尚許僕施解救之可能，亦屬幸事。</p>

<h1>痢能多食症</h1>
<p>劉七生女孩，患痢身熱，後重、紅白頗輕，惟異常腹痛，痛時即索飯吃，可進大碗。診脈弦細兼數，系水虧木旺、脾弱肝強之候，非痢門套方可能收績。所服調氣行血諸法，與病均相背而歧，何能有功。惟建中湯補土平肝，可療腹痛而止多餐耳。夫肝木原賴腎水含濡，方不致燥而橫，今水既枯涸，母氣不能挹注，子氣拂逆，而痛生焉。土虛受制，求援於食，故餐焉。土被木乘，方有此症也。然建中必以飴糖為君，方能合法。因一時莫得，以糯稻根之亦著捷效。吾於此又欣得一經驗焉，附志以向有心耳。</p>

<h1>痢久脾腎兩傷症候</h1>
<p>王某稟賦不強，滯下二月餘久，半屬久痢傷脾無疑，醫用補中益氣，殊為有見，進至數帖，病雖減半，究一半不痊，莫明其故，商治於余，竊思積滯未去，多服參、耆必至助邪而甚，既得減半，知積已盡去也。倘徒歸咎於中虛，則進參、耆必克全功。病尚一半不愈者，必另有故存焉。忽有悟曰：參、耆奏效，已為久痢傷脾明證。脾可受傷，而腎家安得全不受損乎。脾受傷已得參、耆扶助，腎受損未將何藥維持，此症不收全功之故，胥在乎是。法與金匱腎氣，囑其早服，補中益氣，進於晚間，俾先後二天合治，藥力方不致互混無功。初進一帖，病即如失矣。夫用藥治腎，並未據何種腎虛消息，似跡近冒昧，不知腎虛之悟機，即從參、耆奏效而得，何必現先天摜象哉。修園讀仲景書，知於無字處討求奧義，僕法其意法臨症，亦曾於無症處以護其確息也。醫豈易言哉。</p>

<h1>傷於驚恐立召亡陽危殆</h1>
<p>歐陽天錫君，純純發熱，滑白舌苔，便閉食少，咳嗽痰多，脈乃浮大而遲，又無煩渴熱象，乃溫邪順傳胃腑，胃中先有痰飲盤據，邪得依附之候也。先經過之醫藥，有用防風通聖，表裡雙解者；有用小柴胡湯，和解少陽者。均屬背謬之方，毫無功效。不知便結之由，實關乎肺胃氣機不利，升降失司，何可責為熱結於腑，專事盪滌哉。又不知自苔之故，乃邪依痰飲為山險，而苔不黃燥，又何可責為少陽傳經之候，專事和解哉。訪王孟英治法，力滌痰飲，開降肺胃，俾飲消而邪無依附，肺胃開而氣得降升，便結自不通之通，溫邪自不解之解也。洽小愈幾日，偶因縣署索餉人到，不禁驚恐交集，頃即大汗淋漓，漸出漸冷，亟亟乎有亡陽漏風之險矣。時余已他往，另召醫主白虎撤熱之方，幸又召僕到，宜急投桂枝附子湯法救護殘陽，白虎決對不許沾唇。彼此聚訟良久，令病家方寸已亂，莫知所從，僕乃決然曰：如吃桂附有誤，惟余是問。再耽時機，恐陽不我留，悔之何及。聞此始敢煎服其藥。該醫亦在此坐候休咎，及見其厥回汗止，始經辭去，遂令余獨善其後，無人掣肘矣。</p>

<h1>溫症宜養陰以裕汗源</h1>
<p>房侄十齡小孩，仲春患感，發熱純純，渴飲目赤，便閉溺黃，脈象洪數。非傳經之候，乃時感溫邪也。禁投桂枝、柴、葛，免擾無辜之經，宜以甘潤養陰，辛涼清肺，候戰汗法解其邪為妙。囑曰：此孩倘忽形躁擾而渴，勿用慌張，可令靜臥，當有汗生，如呼叫頻仍，恐汗出觸轉，再難透發，邪終內伏矣。閱日果如所囑，汗如雨下，未甚作戰，解以自汗，其效亦同，病即霍然。此症倘施發表、攻裡治法，必涸汗源，病愈難期。未得誤藥，亦此兒幸事焉。</p>

<h1>外邪內熱相釀最深</h1>
<p>王永賢，身頗發熱，渴飲舌絳，溲赤便秘，咳嗽痰多，常是沉沉默默之狀，步履尚能支持，六脈實數，不為指撓。蓋由平昔善飲，積熱夙充，又加時感客邪，合而內蘊，深入營分，日灼真陰，故舌絳而渴飲也。肺金受灼，水源不清，故嗽痰而溲赤也。身熱便閉，沉沉默默諸候，無非為熱極所致而然。方與防風通聖相宜，除卻麻黃、歸、術，法避其溫燥；重加硝、黃、石膏，以遏其燎原。服一帖，登廁二次，脈象稍減，頃又數大如前矣。因下後脈躁，頗為焦慮。究屬熱蘊重重，藥不勝病，仍法大劑續進，似不畏其峻也。後又更衣數次，脈症大退，熱不復熾，遂法甘寒泄熱善後。月餘復康。</p>

<h1>將成肺癰症</h1>
<p>王文齋，年逾耳順，矍鑠體豐，患咳嗽痰多，腹痛喜按，脈實而數，右寸更洪。症似外邪新感，脈是肺癰將成。夫肺癰多成於邪熱未清，或服溫補燥肺，或喜厚味釀邪，金受火刑方成此候。問此老，先無外邪，又慎口腹，病情實難摸索也。後聞老嫗述出虎膠伴雞蒸食，方悉致病之由。蓋虎屬金，內應乎肺，膠性溫厚，非尋常草木可比，一切寒濕風痹可用以追之，他無所長。此翁平生料多肺熱，惟進清潤之品相宜。今虎膠以燥益燥，肺金清肅全失，無敷津布液可能，致有痰多咳嗽現症。非止此也，而腹痛之由，亦是肺燥而治節不行於下，致腸胃間氣均鬱悶不通，通則自無疼痛之苦也。法與肅肺祛痰、柔肝清熱諸品，頗有應驗。脈象實數如此，雖屬老年，何妨以當歸龍薈直折其火，三帖腹痛始平，守服十帖，病方痊愈。倘徒以老年懷成見，而苦寒不敢與吃，將燎原之火何藥以撲滅乎，肺癰之成也必矣，非醫所釀而何。</p>

<h1>邪傷陰絡儼似風痹</h1>
<p>劉姓小孩十二歲，云膝後大筋寸長疼痛，醫作風痹治之。熱勢漸熾，旋用硝、黃盪滌，通利兩次，熱象稍輕，恐下後傷正，即與薑、附溫之，熱渴遂有加無已，譫語搐搦之狀又蔭。僕診其脈，洪數而實，已成狂陽難制之症，似非紫雪、牛黃、至寶丹，不能搜逐其熱邪也。因藥品難得，即以犀角地黃合白虎、羚羊、芩、連輩為治，毫末無功，知燎原難以遏抑，遂辭不治。閱日云亡。緣此症為陰分素虧，熱邪乘虛，伏於陰絡。膝後筋痛，即熱伏陰絡之徵也。仲景曰：邪之傷人，有自陽受者，有自陰受者。此竟合陰受之旨乎，又何必名為風痹哉。且既知為熱，與以硝、黃，又何必即與薑、附助熱哉。譫語搐搦危候，實以熱助熱之功。大抵今成時醫世界，凡病非用薑、附不能稱大藥，嘗為目擊心傷焉。</p>

<h1>時感鬱結兩相轇轕</h1>
<p>陽某壯丁，孟春患感，醫用傳經法治之，頗愈。總熱微氣粗，久不起榻。僕診其脈，結小不調；觀吐其氣，長而不散。每次視病，隔榻十餘步遙，覺得氣來有形，症象堪奇，頗費懸揣。及細詰病中經過與環境情形，均答以傷寒方愈，又痛抱喪明，知是邪感將退，而鬱結加之，為肝氣不舒問題矣。與逍遙散三帖，病勢減半，再與略不再減。推原其故，逍遙只可解肝氣之深抑，不能調肝家之陰陽。仲景烏梅丸雖為吐蛔而設，修園謂治肝鬱有專長、不妨一試用之。囑曰：今日之方，似與症不相吻合，而實有所合者存，他人不得而知，勿聽阻擾是幸。果二帖而餘邪悉退矣。又揣其氣吐長虹之故，各臟惟肝之經最長，而肝之氣當亦如之，況鬱而後發乎。又此氣壯男兒，中氣更形長大可知也。夫烏梅丸調肝最善，修園未闡其義。殆以肝為將軍之官，體陰用陽，剛猛成性，一有拂逆，龍性難訓。馭之之法，剛藥以濟體陰，柔藥法制用陽；肝苦散用酸以收之，肝苦急用辛法散之；肝性剛有從治之道，肝性猛有逆折之能。方中寒熱互投，剛柔共濟，收散逆從之設備，可謂完全，較勝於逍遙散多矣。用治陽某取效者，肝為鬱結先傷，邪熱未清，難免無陰陽偏勝之弊，一經烏梅丸委典調停，安得不效如桴鼓乎。肝陽偏勝者，薑、附務在慎施可也。</p>

<h1>暑熱症誤治危候</h1>
<p>商人李某，途次冒暑，煩渴難眠，身熱便結，舌燥音無，與柴葛升散，已屬背謬之方，況又重加乾薑，不顧陰津被灼，所以脈象澀小而數，亦經道為熱灼不流，陰亡可畏，恐難再生。幸小溲尚有，似陰氣猶存，好如旱頃之旁，井泉未竭，可藉為溉注之資。用甘露飲加洋參、花粉、竹葉等味，旋得舌津布滿，而各症未除。繼進白虎撤熱，方有小應。究時形譫語，便結未通，知燥屎塞住胃中之候，與小承氣導之。果下結糞五六枚而安。用甘寒數帖善後，遂停藥餌。</p>

<h1>產後疏散真陽發外</h1>
<p>蔡澤配室，產後傷寒，醫用疏散法，汗出不止，其熱如烙，業頻於危，診脈浮空豁大。正氣被傷，邪熱猶熾。治法雖產後之真陰宜顧，而汗多亡陽之危，在所急救也。與桂枝附子湯收攝殘陽，固其腠理。一帖汗止熱平，遂免危殆。前此之熱如烙者，真陽發外之象也，一得附子招反其內，即得熱退汗收焉。易服四物柴胡湯，調理經旬，漸次痊愈。</p>

<h1>氣鬱暑濕嘔吐症</h1>
<p>劉陽氏，嘔吐三月之久，兼微有似熱，脈象或晝緩夜數，或晝數夜緩，均寓有神。多投旋覆赭石湯，重加牛膝為劑，翼圖下降，而嘔不少衰，該家人疑為有孕之惡阻症也。僕曰即有孕亦當為牛膝、赭石所墜，症雖相似，揆情實無。又疑脈雖陰陽顛倒，尚多緩滑，惡阻之脈，未必無影響。暫作暑濕傷胃，胃氣不降，以致上不能納為治。與平胃合越鞠丸，料加石膏清暑，法夏降沖，大有起色，且知此婦平昔多郁，肝氣不舒，土木相凌，症多發嘔，後用越鞠合四七湯以解諸郁，投八劑而嘔吐全休矣。脈象滑利可嘉，並不陰陽顛倒，真屬有子之徵，自述腹中胎已作動也。深愧嘔吐未休，認胎不確，緣學識未到之故，倘無兼症，安能偽我耳目乎，昔喻氏曾受婦孺之諷者，大都類此，醫真難為也。</p>

<h1>產後發汗真陽上戴</h1>
<p>魏某室，產後傷寒，發熱頭痛，無汗身疼。其夫自命為醫，見不汗出，數投麻桂，漸至頭面俱紅，如酒醉狀，延僕診視，乃浮長數大之脈，又是陽戴於上之症。欲為援手，奈徒執己見，謂用麻桂何妨？此喻氏所謂嬌矜不倫於理，為四不治。故又直諷之曰：君欲法千鈞之榨壓，取枯糖之油，其何可得乎。恐夫人禍不旋踵，幸咎有攸歸也。數日云亡。不知產後陰虛，汗源已涸，宜益血養陰之不暇，縱是宜發，只可以柴胡四物為抽添也。夫陰陽原有互根之義，陽無陰則越上，陰無陽亦失守。雖欲微發，宜先養陰，不養陰而徒發，安得不脫而戴上乎。既戴上矣，又不許設法招返，且用麻桂之成見難除，其何能生存哉。其實戴陽較輕於亡陽之危多矣。前治蔡陳氏，亦因疏散而召真陽發外之險，已為救護無恙，胡此婦竟釀成逝症，緣伊夫之自信力大過也，可悲也夫。</p>

<h1>疝痛自少陽傳來症</h1>
<p>陽某發熱頭疼，嘔渴口苦，少腹痛甚，徹夜呻吟，睪丸偏右墜痛。茴香、橘、荔等藥，投之無功。此必不謹房勞而受外寒，系厥、少二經臟腑經脈合病之症也。治法不謬，只標本先後未分，焉能生效。嘔渴口苦者，明明為少陽經症；少腹睪丸腫痛者，病在厥陰分野，邪由少陽傳來也。治宜先和解少陽以斷來源，則痛當自已。與小柴胡湯，君以黃芩，佐以茴香、橘荔二核，標本同治。一劑痛休，少陽諸候不見，遂護痊愈。夫疝瘕為病，原屬於肝，肝之經過小腹環陰器，陰器為宗筋之府，腫痛即宗筋為熱所縱也。幸不見囊縮之危，其熱尚淺，又未見消渴吐蛔，其治法又殊。五苓、茴香料各方，後賢均為疝瘕而設，可供擇用。何必仲景傳經法中所有者，即為採用乎。</p>

<h1>溫熱症亡陰危候</h1>
<p>鄒睛南，時感溫邪，發熱頭痛，譫語煩渴，舌絳而干，脈象又澀小欠神，殊非善症。初起禱神方治療，誤用肉桂助熱，更語蹇舌乾，煩渴日甚，幾將不起。與甘露飲為大劑，加洋參、花粉、寸冬服之，舌上頗有津回，欣幸真陰之未絕也。多進甘寒養陰，陰復得自汗而邪解，病方痊愈。迷信之誤，可不畏哉。</p>

<h1>疫症假熱真寒</h1>
<p>魏漢湘母，六十餘齡，閤家患疫，惟母獨深。視其躁擾無停，衣被不許附體，熱堪極矣，但脈數而虛，知非實熱問題，乃真陽外露假象。症雖為疫，不可再投苦寒，而溫熱亦法所宜禁。故從權與白通湯一帖，約二時許，即見凜然畏寒，知扯厚被蓋覆，陽之內返，何其速哉，遂無過寒過熱之狀也，用甘寒養陰祛邪，日趨好境，可期痊愈。不料二子疫亡，喪明之痛突上心頭，病即加劇而逝，亦亡之命也夫。</p>

<h1>傷寒假熱真寒</h1>
<p>熏琴叔八十老人，臘月感寒，發熱如烙，痛疼咳嗽，渴喜熱飲，已至痰聲曳鋸，飲邪氾濫無依，症成不治。僕從疏散著手未效。家君鶴侯老人，以烙熱與熱飲，屬真寒假熱之形，於人參敗毒散內加入生附三錢，一帖而痰鳴烙熱皆失，遂慶霍然。自漸手眼之不靈，不及家君把握遠矣。</p>

<h1>邪熱方熾口腹未慎危候</h1>
<p>歐陽某，系農家，窘而無知，咳嗽頗久，自疑為虛，聞食雞鵝可以保體，數餐之後，音聲全無，咳出皆汙黑血水，胸腹痛悶難堪，夜間躁擾，輾轉床頭，睹此危狀，實慮難生。幸脈雖躁疾，尚覺有神，且水漿猶入，生機頗在。胡燥熱傷肺之猛，肺家治節毫無，治節無而升降失司矣。所以氣愆其行度，而血亦乖其流通，吐出汙黑者，瘀而後出也。夜間躁擾者，血並於上也。胸腹疼痛者，腸胃之氣鬱悶不宣也。音嘶如啞者，肺氣鬱遏過甚也。以上見症，皆肺家一氣之愆所致。治法取泄心涼肺，早復清肅之權，君以桑皮、白芨，泄肺實兼保肺虛；臣法尖貝、栝蔞，利肺氣而開壅遏；佐二冬、黃芩，專清肺火；黃連泄心，阿膠濡液。三帖胸緊漸舒，血水亦止，語聲頗出，惟夜熱未退，肺火猶熾也（夜熱乃肺家熱，非專為陰火）。再於原方加骨皮、梔子，囑服八帖，日有起色，未另換方。食物傷肺，可不畏哉。</p>

<h1>肝陽最旺服溫補取敗</h1>
<p>鄒南熏房兄，平生喜酒，濕熱滿中，肝氣不馴，常多忿怒，症患腹痛足冷，不便不飢，又兼熱飲痰多，非虛寒現象，醫多誤會。又自信力強，吃藥只有姜附堪為對症，屢進不已，病狀漸加。僕不忍坐視其誤，曉法此症，乃肝陽最旺，肺胃不清，何可再以辛熱助肝燥肺哉。並逐條示其腹痛難忍者，乃肝木乘脾之徵；足冷畏寒者，是陽氣盡升之咎；不飢不便者，乃氣機失升降之由；最喜熱飲者，系痰得熱有暫開之快；咳嗽痰多者，是津被熱灼以成其病也。且云：六脈浮弦而數，顯非虛寒可知，薑、附豈可瀆用乎。今君之病勢急矣，不與清涼，恐將不救。如是始肯投石膏、楝、芍、知母、花粉、尖貝、竹茹、桑枇二葉、建菖、枳椇等藥為方。服後或系病藥相敵之故，先夜腹痛更甚，閱日早而脈症俱平矣。方欣得手，旋又更醫。承治者以為藥到病除，抱病者以為更醫即效，藥之是否中肯，兩不得知，僕亦何便與爭得失哉。所更之醫，竟書溫補方而去，其時未即取痙厥之禍者，以清涼先將肝氣平下也。誰意小愈兼旬，忽抱喪明之痛，肝氣被郁，病仍如前。自將更換醫生所開溫補方煎吃二帖，閱兩日即召痙厥之危，常暈倒仆地，病勢遂決裂，不可救藥矣。嗟乎，當小愈時，僕之清涼方劑已生效而不自知，反歸功於後醫溫補，所以病翻後，亦欣欣樂從，其取敗也，咎將誰歸。雖然醫之不可為也，常有過無功，又何關係。願世之執成見以服藥者，可引為殷鑑。</p>

<h1>寒邪兼房事症</h1>
<p>魏華楝君，自外奔歸，征塵甫卸，即患腳痛頭暈，咳嗽發熱，沉沉默默之狀，嗜臥懶言。醫與疏散無效，均束手不前。僕診脈象浮遲，問不知答，觀自汗頗多，大便稍結，煎有硝、黃待進。余以感冒兼房事之症，陰分已為邪乘，硝、黃盪滌，豈不立召敗亡乎。夫入房最易虛腎，外邪入之，乃邪乘無陰，熱無所制，故發熱則熱之極矣；又神識何以昏沉至此者，腎藏精與志，精與神相依，志與心相應，腎虛而邪往乘之，心神妙合者皆熱，神為熱擾，故有昏昧無知之象；嗜臥者，正仲景以「但欲寐」為少陰提綱症也。昔喻氏辨認房事兼感，大都類此，多主麻附細辛為治。此症既多自汗，以麻黃易桂枝亦無不可。雖方意不同，主治各異，究與此症暗相吻合，況又有脈遲汗冷之可據也。一帖熱平汗止，各症俱無。後以八珍湯填陰補陽，日就康復，不另生枝節也。</p>

<h1>伏暑晚發症</h1>
<p>蕭某九月間，腹脹膚腫，喘咳難安，身熱口渴，煩躁不眠，脈弦滑數之象，是伏暑晚發為殃，先失清滌，今非化瘧而出，不能解決其邪。某曰：曾於最近時已發瘧一次，醫謂體弱難當，故為截轉。真個茫昧無知，令伏邪閉塞其中，幾有盈筐倒慙之勢，治以輕展清宣法，使營衛宣通，方能邪化為瘧而解。伊聞治法如此，堅不肯從，諄諄以速解速決為囑，又曉之曰：邪由長夏而受，伏至仲秋而後發，症名伏暑。傷及肺金，故喘且咳焉；波及胃腑，渴飲難臥焉；侵及肌表中樞，故腫且脹焉。非傷寒傳經症可比，又非傳經法可速愈。汗、吐、下、和，均不得施。治之只有清滌一法也。如清滌不盡，倘自能化瘧而解，亦屬好機。奈何醫為截住，只恐再欲轉瘧而不能。其人愚窘無知，聞之反礙難而停藥餌，專務禱祈，任拖延二載，倖免於死。非秉賦堅強者，何能受此重大病魔耳。</p>

<h1>肝風症同治異</h1>
<p>歐陽松山女，初手足搐搦，漸一身震躍，暈倒無知，醒後難言。抱病二月有餘，調治多方罔效。診其脈象，結澀頗數，屬肝氣不宣，鬱則生風之症，與癇症似是而非。因無五畜之狀，治以五元散（即黎蘆、赤小豆、白礬、皂角、膽南星），壅吐痰涎而通竅隧，難言之患雖免，而各恙仍然。想風因火而發，火得風更揚，非息風清火，不克有功。用當歸蘆薈湯加蠍尾、薑、蟬為治。一劑知，三劑已，遂得霍然而停藥餌。夫此病難探處，肝風雖有明候，而肝火略未現形，只以結澀脈象，揆為木鬱生火，火生而風亦隨發，胥是當歸蘆薈湯之對症焉。同時有魏姓小孩患此，身熱一日即手足抽扯，一身震動，日必數發，涼肝諸法，投之無功，油潤息風，差堪對症。緣此孩為稚陽之體，邪得易干，真陰不充，邪熱無制，熱可灼筋，筋燥不能伸縮自如，故作搐搦之狀，治以油潤，則血可濡筋，筋舒活潑靈轉，自無抽扯之虞。此孩為肝血燥而生風，與松山女之肝鬱生風有異也，所以治法自殊。</p>

<h1>汛行崩血不止症</h1>
<p>魏蕭氏，汛行崩血極多，發熱汗出而嘔。本似血虛挾感之候，醫投四物兼疏散無功。不知血虛必至發熱，陰虛必至陽走，是以汗多雖似外邪，實非外邪。法舍引血歸經，別無良治也。欲引血而當歸即是主藥，前醫曾多投不應，因憶及唐容川解釋炙甘草湯，即當歸一味之作用，試採用之，是否有效，果二帖而諸症盡已。殆重用地黃多汁者為血基礎，少加桂枝入心化赤；人參助中氣以增進水穀；阿膠、胡麻養血濡肝；生薑辛散敷布血液，合而為湯。與當歸之生血、引血、布血、濡血功用，不約而同，所以效如桴鼓，諸醫謂僕治此症，未用當歸，不解其故，曾舉容川之說以示，不知有所悟否。容川料亦有所經驗而言焉。</p>

<h1>腎敗腹脹可危</h1>
<p>趙昇華，久患腹脹不舒，飲食步履無恙，服溫補六十餘帖，病不少衰，僕代診之。驚兩尺脈紊亂無倫，根蒂已形搖動，症雖宜補，未得其門，不知兩尺紊亂者，是犯房勞之由，治法宜從先天著手，溫補後天何與焉。且補失其所，恐土愈強而水愈弱，不惟無效，則害將及之。與金匱腎氣湯五帖，兩尺紊亂之脈象已無，欣幸根株已呈穩固矣。略伸明腎虛何以發脹，原腎與膀胱相為表裡，腎氣外輸，必賴膀胱氣化而出焉。腎受傷損，氣難收攝，輸出膀胱者無所底止，舊輸者未行，而新輸者踵至，令膀胱氣化之權不能裕如，遂郁腹中而作脹矣。經曰腎病者善脹，與此症豈不相吻合乎。腎氣湯之取效，補元陰則精氣深藏，補元陽則相火寧靜。陰平陽秘，各得權衡之妙，自無外輸敗氣而作脹滿矣。囑戒絕房事以杜後患為要。</p>

<h1>腹中瘕聚肝鬱為患</h1>
<p>劉陽氏，汛事久停，疑為有孕，延至十月之久，尚不微動，始知非胎而為病也。且腹中有塊，臥則可捫，立則難捉，症屬血瘕無疑。醫為破滯攻瘀，新血時流不止，其塊未損毫末。僕見鮮血大流，有攻之不可、不攻不能之勢。籌思竟夜，莫覓相當良方，憶唐容川注鱉甲有破癥瘕積聚專長之說，其理可憑，其物最妥。疏肝原是破積，性緩無傷。觀此婦情性不柔，常與人有鼠牙、雀角之事，肝鬱必多。鱉甲乃東方青色，內應乎肝，肝氣不疏，痰飲氣食俱可鬱而為瘕也。況肝血尤賴肝氣之疏，方能運行有度，不乖其流，否則不聚而為血瘕者鮮矣。遂於逍遙散內，重加鱉甲予服。血之已動者無妨，已結者可摧蒂而脫，較妥於攻血之物多也。囑服十餘帖，自然水到渠成，願毋期速功，免至僨事。服至十帖，忽腹痛難忍，如分娩然。俄而果下大塊，重約兩斤，劈開視之，外似豬肚皮包裹一團黑血於內。觀瘕結之堅牢，雖用峻攻，血在內深居，極形穩固，只新血受傷而已。僕幸未蹈前弊以治，易攻法而專疏肝，鱉甲乃具專長耳。又徵諸王氏妾病而有得焉，亦情性不柔，肝氣鬱結，一有忿怒，背惡寒而後發熱，年餘以來，未與治療，反時增鬱怒以更傷之，後於足肚上發生一癰，痛極難忍。魚腥發物，食之遂礙，久而試食甲魚，癰痛反安。方悟此癰殆肝氣鬱而為熱，熱蒸其血以成之乎。倘非甲魚疏肝，食之必至痛甚也。然肝鬱可以發癰，方書從無載及。僕於此曾悟到此關，可見肝鬱發生之病端，豈可限定哉。</p>

<h1>痰火症變幻無常</h1>
<p>戴建先，平生嗜酒，嗽血痰多有年，老恙頓停，發生背痛嘔痰之候，脈形兩手搏激而數，小溲或少或多，知熱在高源，水道為之不調，仍屬肺胃間痰熱變幻之症也。夫胸背者肺之分野，熱壅肺家，必分野多故。究莫外乎嗜酒生濕，積濕為熱，先由胃中不清，方後及於肺，故前之嗽血痰多者，肺胃濕熱最充，灼津以成也。今以背痛嘔痰者，雖病在肺之分野，亦屬痰熱充滿，滯而作痛，溢而外出之變幻焉。仿孟英肅肺蠲痰法，三劑而背痛頓止，易為小腹痛甚，二便不通，乃上熱下移，兼肝火為祟。與龍膽泄肝湯加硝、黃二帖，痛減便通，而小溲點滴未有，脈更弦數有加，是關乎蘊熱重重頗泄，而積熱初動，無盪滌盡淨之能，仍以前方加洋參清肺熱，溲漸通而清長也。大底痰熱初阻於肺，漸充滿三焦，往來上下而作痛。龍膽泄肝湯雖名泄肝，亦可泄三焦之熱。異哉，痰火之變幻如龍也若此。</p>

<h1>中惡症情</h1>
<p>魏憩軒妾，忽患神情恍惚，如癡如呆，為診其手，時伸時縮，難得脈情，診至數次，乍大乍小之象，知為邪祟所乘，即中惡症無疑也。投平胃散加藿木二香、辰砂、明雄諸藥，取氣香以勝邪，色陽法制陰之義。服後半日，始得清醒，問其何以至此，曾在車米房中，忽來冷風吹拂，人覺不豫，遂昏昧無知焉。夫陰邪附體，必視其陽氣不充之人方能近之，而此婦陽氣可謂不振矣。談鬼之說，並非妄誕，曾於此有實驗焉。</p>

<h1>霍亂轉筋症</h1>
<p>營勇某，六月間，忽然腹痛嘔吐，手足拘攣，兩人用力欲攀開一手，似屬不能，且口噤不開，藥不能入，症屬霍亂轉筋，危險萬狀。僕以磁鋒刺其手指尖頭各一針，出血半粒米多，人即醒愈。戒其停食一天，少食柿餅充飢，與生脈湯充養胃液，不另服藥餌矣。</p>

<h1>霍亂食復症</h1>
<p>唐姓小孩十二齡，暑月忽吐瀉不已，症屬霍亂，與正氣散除生薑投之。半日許即告痊愈。即覺飢而飲食，遂飽吃一餐，當此胃氣頓傷而未復，又飽食以累之，安得不吐食更甚乎。該家人疑是藥品有誤，發生異議，及曉以食復之由，方告無事。仍於原方內加麥芽、神麯，一帖就愈。夫霍亂乃痧氣流行之病，生薑辛散，亦流行之品，是宜屏除勿用。凡治此症，戒其愈後宜停食一天，免招食復也。</p>

<h1>虛癆逝症許其小愈</h1>
<p>歐陽洪慶，嗽痰咳血，喘滿難支，倦怠遺精，潮熱消瘦，虛癆現象，損症何多，且六脈短澀，精血多傷之形，因真臟未見，試為竭力手援，似非大補氣血，何克有濟。詢近時所服者何，乃西藥魚肝油也。考此物寒潤成性，多服必伐生生。君之肝血雖枯，頗資濡澤，奈服食經年，而肝木發生之機反為所遏，抑要知天地一年之生髮，全賴春陽，人物一身之生機，亦在肝木，只有培之而無遏之之理。《金匱》所云虛癆諸不足各候殆於君身備見矣，豈非肝木生髮消而不長乎。料君必素喜膏梁厚味、煎炒炙燔之物，熱積於中，由來有漸，灼熱成痰，布滿肺胃，治法不去痰則逆滿難當，去之則溫燥難避，咳血恐增，遵仲景甘藥進食法，與黃耆建中湯二劑。短澀脈象易為浮緩，浮乃陽象，非內傷所宜，換與都氣湯加沉香引氣入腎，期減喘滿之苦。雖有起色，又轉為沉緊之脈，緊乃木旺胃衰，所忌尤大，又改服六君加柴、芍補土平肝，痰喘稍平，脈略濡緩矣，夫脈象之變幻，即元氣之支離，吾曾經驗已累，殊非吉兆，法人參養營湯，多服二拾余帖，覺元氣頗振，潮熱倦怠均減。原賴參、術輩助脾家健運，水穀得增，四旁飽有輸溉，自無聚液成痰之患；歸、地等堪滋肝腎之陰，筋骨賴以健強，可起倦怠而無力；五味子斂木氣歸根，遠志肉補心氣不足，藥合病情處頗多，故得小效焉。雖然縱費盡深心維護，終莫奈此灼金吸髓之陰火何，惟望此火能延成老痰火，即常有煅液為痰之工作，庶不致剝削元氣於無已，此在延而或成之，不能籍藥力法作到之，奈病者無保養毅力，嗜好頻仍，完望有延成老痰火之餘地哉，仲秋遂逝。</p>

<h1>久泄症侯</h1>
<p>侄孫鄒子南，患泄三年之久，脈象數大堪驚。初以飲留肺中，令大腸不固為治。與王節齋化痰丸，加訶子、粟殼。泄勢雖減，而全效難收。再用去積清腸，亦無效果。始知根株所在，系肺家積痰、伏熱，影響於大腸作泄無疑也。用礞石滾痰丸，盪滌之後，方與補益收功，以泄止泄，期一勞永逸焉。服之大泄數日，已至疲憊難支，積當去盡，時值僕有他往，易請家君鶴侯老人，多投參、朮、耆、附而瘳，與鄙人先攻後補之旨，若合符節焉。此症參、術服於未盪滌之前，脈反數大者，系積未去之故。藥雖未效，而用泄治泄之消息已明，非護確息，能不僨事乎。</p>

<h1>久痢犯房</h1>
<p>劉某之婦，滯下純紅，㽲㽲腹痛，為患已久，經僕治療，便紅大減，可期全愈。忽然病增，倉皇迎診，脈象兩尺燔亂，餘部亦不甚調，頗為驚訝。擬為犯房勞之咎，又不便明詢。細詰其夫，直言不諱。與金匱腎氣湯，加艾葉溫胞（女子犯房，胞宮被損）而理腸風，阿膠濡血而潤肝燥，數帖康復如恆矣。大抵房勞之脈，總尺部紊亂，男女皆然。前診趙昇華腹脹，脈象亦同此。</p>

<h1>風水發腫</h1>
<p>魏姓小孩，身面浮腫，寒熱汗多，至夜渴飲心煩，脈乃浮空而數。症屬表陽最虛、風水渙散之候。法與五皮飲治水，荊、防去風，附子溫陽，桂枝實腠。一帖腫消汗止，脈亦調和矣。或疑風乃陽邪，治以附、桂，似跡近冒昧，不知寒熱汗多，衛陽已形不固，非急溫經實腠，恐亡陽漏風之險立至。倘陽實者，附、桂必增其禍也。或者之疑方釋，且風水為病，觀風水渙之卦而可知焉。即風行水上，披離渙散，不由經道也。果衛陽不虛，水行肌表，陽運有權，何許風與水搏激於經脈肌腠之間，發為腫滿哉。</p>

<h1>腎虛發腫</h1>
<p>鄒龍氏婦，身面腫大，脈象浮遲，參之仲景五水症，略無一似。擬為腎虛水泛，無據可憑，細詰平昔果有何種病患否，曰腰常痛疼，現又小水頗少，始知腎虛來歷有漸也。與濟生腎氣湯治之，一帖知，數帖已。夫腎者腰之腑也，一失作強之能，自悠悠不舉而作疼痛，乃必然之勢。又腎者胃之關也，關門大開，則水無底止，而傳為消渴；關門大合，則水無輸泄，溢於皮膚而為腫脹。惟開合有度，前陰利水，後陰利谷，胃為水穀之海，方得泰然無事矣。然前陰何以不利，實有脾、肺、腎三臟之關焉。閱景岳註解腎氣湯用能而可知矣。方中地黃、山藥、丹皮，養陰中真水；山茱、桂、附，助陰中陽運；茯苓、澤瀉，利陰水遲滯。使氣化於精，即所以治肺也；補火生土，即所以治脾也；壯水利竅，即所以治腎也。一方而兼擅數長，自令氤氳氣化充滿大空，水行三焦而不息矣。腎虛之患既無，水腫又安自來哉。龍氏病情，閱此便悉。</p>

<h1>痰飲作喘</h1>
<p>漆商張生易，與僕偶同餐宿，見其痰聲漉漉，喘息抬肩，問患此病多年，曰有生來之患也，即請與方。因痰涎吐盡後，喘息方平，明明為飲邪阻塞氣機，致有此漉漉音聲，急滿苦狀耳。與六君湯，囑其常服。越年遇於途中，果伸減喘之謝。</p>

<h1>邪感兼鬱症情</h1>
<p>孫氏婦，被雨途中，寒熱咳嗽，頭痛身疼，漸致顴紅咯血，症似虛勞，延診於僕。所著之人，備悉此婦鬱結隱情，於途中一一述出，料是邪感必挾肝鬱之症也。迄診其脈，浮空數澀，查閱前方，涼血疏解，治本不謬，何以無功。想病延三月之久，縱有外邪，必疏解盡淨，惟鬱結問題，未曾解決。問其怔忡善忘否，曰有之。參法途中所得各說，正合《內經》二陽之病發心脾之旨矣，與歸脾湯為治。伊母恐溫補助邪，決不敢服。再三曉以外邪已盡，只心脾為思慮所傷未痊，豈可再與疏散乎。勉強試服一帖，因有起色，迭進五劑，病已如失。二次診時，賀其母曰：不僅今日病情已愈，且異日熊羆有兆矣。問何以知之。令媛心脾受郁已久，發於二陽而為病，故胃少納而腸少通也。今以歸脾方，條達二臟之郁，二陽之病已除。且心主血，得補則化赤之力日足；脾主運，得補則水穀之精日充，以血生於穀也。血足則衝任強，胞宮旺，受胎自較易易，熊羆之兆由是而知。甫經一年，後遇此母於他處，詢知孫氏於最近時，果得一子，母亦信前言之不謬也。</p>

<h1>腎敗氣喘</h1>
<p>陳老翁粵東人，年已六旬，前清北京京官，久患喘滿，略不咳嗽，步行三五，氣即上奔，氣海丹田，幾同虛設，全不為臟氣之用。首經北京名醫多手，又遍訪海上及湘省名醫調治，所費不貲，終鮮效果，日頻於危。時僕在省垣應診，亦承招視，氣息止有出無入，膚冷難言，便出不覺，脈弱如無，睹此危狀，不敢主方。今即見不執管，遂寬之曰：家君病勢至此，不過聊盡人事，好否無有異議也。始敢作腎不納氣症醫之，擬都氣湯加沉香，引氣入腎。一劑知，三劑大有起色。二次延診，即能在房中行步自如，當承翁法再造為感，復診其脈，仍是無神，知病雖暫退，終歸決裂無功，原因腎傷過甚，氣不攝收，雖能引入，不能久納，實無復元希望也。此翁腎敗之由，料不出乎房事而成，詢其究竟，果有姬人甚麗，情感最濃，以召厲階也。況屬老年，先天已形不固，又加房事催折，一經敗裂，豈能收拾哉。此老恰小愈一月，竟至不起。</p>

<h1>腎虛頭痛</h1>
<p>劉芳湘，頭痛頭汗，最喜按摩，晝輕夜重，祛風補血，久治無功，脈乃細數無倫，似無胃氣，為腎虛水不含木，木燥生風，上逆於頭而為痛也，豈六淫客邪為患乎。此君素是陽虛於上之體，頭汗畏風喜按，乃其現象；病甚於夜者，因木旺由乎水虧，腎水屬陰，為陰邪甚於陰分之故。治法何必專專以風為哉。以景岳左歸飲加阿膠、蓯蓉，壯水之主法含肝木，上之陽虛，暫不兼顧。倘即與參、茸補上，豈不助肝陽上升為患乎。二帖痛止脈和，即多服此湯善後。候水含木靜，陽不升浮，再與參、茸益上可也。</p>

<h1>勞役傷氣</h1>
<p>長男宙英，十齡小孩，著其負重遠行，歸即惡寒發熱，倦怠懶言，脈浮空大，擬是客邪新感，略予疏散未效，頗形棘手。家君鶴侯老人，見其病重，遂引調治，責為己任，將先日往外經過，反復細詰，到底受何種損傷，答以任重道遠，努力方到，始知為勞役傷氣之候，投補中益氣二帖，即氣壯熱休，無有問題矣。後思此症與邪感不同處頗多，頭項不痛，脈象浮空，《金鑑》明明有內傷外感辯似之條，何曾悟及哉。此思察欠周，治難中肯，附志以為忽略之戒。</p>

<h1>勞役重傷危候</h1>
<p>農人某，初感外邪，頭疼身熱。聞出汗可以愈病，擬省醫藥經費，為人抬柩，欲借重任以壓汗出。用力大過，中氣被傷，更發熱如烙，少氣懶言，已備後事矣。僕聞前此經過，作勞役傷氣法醫，投補中益氣一帖。病無增減，又加重分量法進，吐出瘀血甚多。群疑藥必有誤，發生異議紛紛。曉以瘀血之出，確是好機。因氣傷不行，血亦痹而不動，今得益氣之品助氣以行，氣行則血亦行焉，以氣為血之帥故也。並非藥之誤，實藥之功。病家疑竇方釋，易人參養營湯善後遂愈。</p>

<h1>肝火發狂</h1>
<p>陽同壽，胃脘疼痛，漸至狂妄無知，親疏不識。診脈弦細而數，弦乃木鬱，數乃火生，細為水少，乃腎陰素虧，肝失濡澤，又因事刺激，木鬱火生，漸成此狂妄無知之症也。因詢及近日環境何如，均示有同室操戈之事，氣鬱良多，又素知稟性剛介，不肯下人，稍有拂意，最易惱羞成怒，激動肝陽。初之胃脘疼痛者，本郁凌上也。今之狂妄無知者，肝火橫發也。醫能於脘痛時，急用柔肝泄熱、開鬱補水之方，何至肝火無制，亢龍有悔哉（肝為角木龍，其性剛悍，言肝火最亢）。且前方反多投薑、附剛燥，以助肝陽，所以痰隨火生，心竅被窒，神明出入，盡失靈機，狂謬之症以成也。與龍膽泄肝湯加硝、黃盪滌，直折肝火，冀大泄幾次，方克有濟。不料病家以泄傷元氣為憂，方更衣一次，不許再泄，不得已囑磨力參服下止之。狂雖稍定，旋又如前矣，是火邪略經盪滌稍為戢小之故。僕因掣肘辭治，又堅留不許，允此後任用何藥，不再幹涉也。復與前方盪滌，始奏敷功，再以硃砂安神滋陰補水，加柴、芍平肝善後。</p>

<h1>慢脾風症</h1>
<p>陽術雲子甫三齡，六月間發熱煩渴，吐泄不休，漸至眼吊口，手足搐搦，醫見險象環生，紛辭治。僕知是慢脾危症，試為竭力手援。此子首由暑濕傷胃，胃中清濁相干，發為吐泄。緣稟賦不強，過用苦寒勝熱，熱未清而元氣被傷，豈可不屏絕苦寒言治乎。急投附子理中挽垂危之胃氣，招渙散之真陽，或可有濟，倘猶以熱渴為實邪，決無生理矣。初服一帖，無減添，加重參、附，再進兩帖，方有起色。三四日間，計吃主附四兩，野參兩支，可算重也。夫慢脾一症之成，初由吐泄罄其胃陰，又加肝風來劫，胃中濡潤全無，故胃陽失其留，浮越於外，煩熱不休。手足搐搦者，筋失濡養也。眼吊口者，陽絡風乘也。大抵生附溫，可招浮越真陽，人參甘潤，可滋燥胃液，陽反陰生，則肝風自息。慢脾之來去，大都類此。非然者，胃陰既被吐瀉所傷，再與薑、附燥之能不速敗乎。又同時劉姓外甥五歲，發熱嘔吐不泄，醫與柴、葛、芩、連等藥，又至口眼喎斜，手足抽扯，筋惕肉顫之狀不一，而診脈虛澀而數，症雖頗類慢脾，實由肝寒而筋失溫煦之咎。如謂胃津被劫，肝陽披猖，嘔、渴、煩、熱各情，都不見甚也。與資壽解語湯，取羚角舒筋，羌、防祛風，竹瀝、姜滑痰，附子溫肝。一帖風息，再帖全止。不用理中者，因未見泄瀉，只作嘔吐，中氣被傷甚也。</p>

<h1>偏風波及於目</h1>
<p>魏靜君，頭偏左痛，眼赤羞明，專科與掃血退紅、祛風清熱之品，久治無功。脈浮細數，右手溢出魚際，肝陽上熾症朗然矣。夫肝陽何以上熾，因腎水虧乏，木失含濡，故熯燥而逆。脈象細數，水虧之徵。目乃肝之竅，肝燥生熱，眼赤羞明。雖云：目為五臟六腑精，俱可得而病之。總之竅專屬於肝，其火自不離乎肝，龍膽瀉肝等法，殊為對症。二帖脈症略減，又易當歸蘆薈湯加羚角、青葙，數投之，病減去六七，總不痊愈。自述風從左眼角之皮裡膜外而上，痛時手捫可得，據此最外一層絡中，似有依山伴險之固。用藥內消，則藥性之透外幾希，追風之力，較輕且薄，且頑強高亢，潛上之道路，已成熟竇，藉據之集臼，固似負隅，欲黎庭掃穴，斷絕風火根株，實屬難事。囑其培養腎陰法含木，痛懲忿怒法養肝，即可免及時而復之苦；否則當青帝乘權，竟肝陽浮動之際，恐痛有不可響邇者。憨直之言，未必為是，竟挾資遍訪中西名醫於通衢大邑，終屬無功，至今根株未絕，間作痛楚也。</p>

<h1>奇經虛損</h1>
<p>歐陽老母，六十餘齡，久患咯血，腰腿痛疼，行動欲向前往，其腳只喜後行。以老年氣衰血弱，藥宜從補，須著手於八脈之空虛。腳向後行，總不離陰絡之受病。前賢謂陽主進，陰主退，其理確然也。與十全大補加蓯蓉、枸杞、烏側、龜鹿二膏，補八脈即補陰絡矣。數帖病除，囑制丸常服。</p>

<h1>毒熱內攻</h1>
<p>劉心田學博，臂上生癰，用藥敷治，遏毒內攻，頗作寒熱煩渴，儼似風寒。前方多主疏散，藥不外麻、桂、羌、防，僕謂傳經各候，斷不能飲食、步履如恆，為毒熱入內無疑。所服者空擾毋辜之經而已，對病情何與乎。為主芩、連清熱，芍、地養陰，銀花、甘草解毒，丹皮、牛子散腫排膿，元參、紫草入營涼血。方雖未有深意，亦是對症而施，究執迷不悟，猶以疏散為宜，漸延成火毒瀰漫，難以挽回，悲夫。</p>

<h1>蓐勞腹痛</h1>
<p>魏鄒氏，產後二十餘日，患腹痛甚劇，最喜按摩，多方未效。僕謂分娩許久，豈猶是惡露內攻，必蓐勞犯房之症，與當歸建中湯，作血虛為治未應，繼投當歸羊肉湯，又未效，調治兼旬，已窮對付。家君鶴侯老人，示以既認為蓐勞，胞宮被傷，下元受損，建中、羊肉等法，只能醫血虛腹疼，何能溫胞固下，所以不效。惟桂附八味地黃，堪為對症，遵而與之，數帖全愈。深佩家君卓識，誠不遠遜乎前賢。惜未留平生醫案以受兒曹，眼見取效者，略舉三四宗以為案也，畢生之巧發奇治，豈盡為僕所見知乎。</p>

<h1>腫脹將發脈象</h1>
<p>歐陽紹德君，平生好酒，夜寢而床下不離壺觴。時適僕診病於伊弟家，就察壽脈好否，驚至數紊亂，大小不調，指下無情已極。問其有何病苦否。答曰：無之。嘆曰：目下雖無，恐將不免，乞慎寒暑，屏除嗜好，以杜沉疴。又問將來所發何病乎。知君所好在酒，早已濕熱滿中，大抵濕熱為殃，多不外乎腫脹範圍。近所治之酒病，大都如此。所揣是否有應，勿怪贈言之不祥。談後月餘，竟如所料。又倉惶迎診，已知病不可為，不得不應召而往，與五皮飲加車前、防己利濕消脹，一帖小便不禁。嗟腎敗至如此極，安有挽回餘地哉。決然辭治。後經多醫，日就於殆。方書所謂脈病而人不病，號曰行屍。曾於紹德之脈有經驗焉。</p>

<h1>惡阻症辨認</h1>
<p>鄒魏氏嘔吐不食，胃脘痛疼，徹夜呻吟，多醫束手，試為一探原委。六脈調勻，神色無恙，讀仲景有曰：婦人得平脈，陰脈小弱，嘔不能食，無寒熱，名妊娠。謂其夫曰：明明已熊羆入夢，何以均作病治乎。倘是他恙，必有色奪脈病之徵。脘痛而嘔者，乃肝血移作蔭胎之用，則肝氣自燥，肝燥上逆，胃受影響而為嘔痛矣。不比內傷病之木盛剋土，其敗伊于胡底，難免死亡之憂。夫此惡阻一症，一俟各臟腑擔蔭胎之敢，而肝燥自除、嘔痛自已也。與四物濡肝血，法夏降逆沖，不必平肝以遏生機，不必健脾以滋血燥。服三帖即已。胎亦逐月漸大，後果一索得男，幸不出所認辨也。</p>

<h1>種子方累驗</h1>
<p>鄒辛儒為族中小房之一人，其妻四旬無出。伊親屬南熏，極為觀念，囑僕主方，為辛妻調病，期一索得男，以續嗣事。問及汛事，差忒爽期，行經腹痛等候。修園謂為氣血虛損，傅氏謂為肝腎氣鬱而然。幸兩尺脈不見衰，尚有希望。暫遵陳氏主加味四物湯，不予增損，囑服七帖。何如因家貧無力，四帖即已，逾二月再診，尺部滑利如珠，各部均調，問其汛事亦停，確是有子之象，無法方為，後果一索得男也。夫加味四物，善能種子，久為修園嘉許之方，惜未闡明其意，方中以炙甘草為君，培植後天多納水穀，以裕生血之源；四物養血而肝，即以調藏血之所；茯苓滲胞宮水濕而不滑；香附化血中氣滯而流通；陳皮疏地黃滯膩，並杜炙草甘壅，滋而不滯，補而不凝，方同有制之師矣。此修園讚美於前，吾濟效用於後，多收響應之功，但體豐多濕者，必易茯苓為君可也。吾謂種子詳法，尤以傅氏為最切焉。又胡會友妻，三十六齡無出，其夫商診於僕，問其病情，與辛妻大同小異，亦疏此方與之。洽一年許，即願得熊羆，後寄信伸謝其方，始知應驗。又陽同南妻，年三十餘，得男願切，方藥遍嘗，求診於僕，亦血虛食少關係，與加味四物，果得妊娠。奈分娩不順，幾至凶危，兒亦未育。此方取效甚多，豈僅此三人哉，不過略舉此為證焉耳。</p>

<h1>頭痛將發脈象</h1>
<p>魏鄒氏，少年失偶，鬱郁寡居，膝下無兒，負螟成祧，隱曲抑鬱之情，必較多於平人也。延僕為伊子治病，兼診自之壽脈。察脈緊大有力，不為指撓，緊為木氣有餘，良因鬱極所致。又緊生病痛，恐將有痛風發生。囑慎憂思喜怒及風寒暑濕，免召沉疴也。逾二月果患頭痛最甚，多方調治無功，至一年久，痛未少停，殊可憫惻。因藥治未效，只有參禪理佛，或可怡情，亦是條達肝氣之一法，因遵而行之。聞頭痛已愈月餘，期根株斷絕，忽為家事觸怒，遂痛甚而莫可挽救矣。預料此婦，多是發生風痹或偏枯等候，初未料及於頭痛焉，且料其一發而難以藥為也。亦屬不爽。</p>

<h1>暑濕將瘧延誤而逝</h1>
<p>鄒代欽五月間，行賈洪江，感受暑濕，寒熱頭疼，嗽痰嘔泄，醫與疏散未效，恐是虛寒而投溫補，泄雖小止，轉為嗽血，漸成不瀉則脹，不脹則泄，潮熱盜汗，小溲短少諸候。七月歸家，延僕療治，其脈左寸沉小，尺部洪大；右寸關較左更數洪。明明吸暑傷肺之症，不惟未與清滌，反以溫補治虛，病轉咳血，肺燥又加也。不知泄乃肺熱下趨，可為邪之出路，何必沾沾以虛寒是慮哉。肺熱之上，又加以溫燥助之，故清肅全無，水源日涸，將何作水液下行通調於膀胱乎，此小溲最少之由也。肺與太陽相為表裡，其燥熱有加無已，雖自走大腸而作泄，可減輕肺邪。究之泄久傷陰，陰傷致發生潮熱盜汗問題，且將延成虛損勞怯之患。法與洋參、梔、芩清肺；扁豆、滑石滌暑；牡蠣、骨皮止汗；蓯蓉、龜板顧陰；青蒿、白薇治洗洗寒熱。藥無溫燥助邪，又無苦寒傷正，陸續漸服，一俟真陰頗振，營衛自通，暑濕之邪，或化瘧而解，或清滌而瘥，病有解決之期矣。服二帖果爾畏寒，尚未作戰，化瘧之兆已萌，但未能成瘧而解，各症遂有減輕之美焉。方欣得手，病有轉機，擬促其再進原方，推瘧速成，奈病家專務祈禱，竟停醫藥。延至兼旬，病又如前之重，更醫治療，所服不離淮山、苡米，佐以常山、草果，原思健脾兼以截瘧，主治之旨如此，暑濕蘊釀，從何解決乎。坐視延誤日久，轉瞬駒光又易，除舊更新，立春後幾日，病遂有加無已，欲再轉瘧何能哉，遂逝。</p>

<h1>周痹症候</h1>
<p>劉克猷之女孩八歲，發熱頭疼汗出，醫與疏散。病易腹疼，並下身不能移動，乃左右不移上下行之周痹症也。風為六淫之首，善行數變。初苦頭痛，是風熾於上。旋變腹痛，乃風邪下行。何以不左右移乎，但隨經之上下為病，不隨絡之橫斜為殃，只得稱為風痹，其害遠遜乎風中也。與附子當歸建中湯，扶土抑木以治腹疼，溫經實腠以止汗漏。一帖諸症皆平，惟舌燥汗多，風熱餘波尚熾，再與養血生津，消風固表，漸得收功。</p>

<h1>吐血有期症</h1>
<p>廖迪凡，年少好飲，兩月吐紅一次，漸又嗽血痰多，脈象弦數，右手更洪，症屬酒家濕熱，蘊釀胃中，繼傳及肺，清肅受傷之候也。首與清肺祛痰而咳嗽有減，繼進清胃醒酒而吐紅漸除。迭投三四十帖，尚未收全績。可知蘊熱之深，已非一朝一夕之故，非戒飲斷房，欲掃除痼疾實難也。</p>

<h1>酒風戰掉</h1>
<p>袁慶喜，辛苦人，四肢戰掉，行動維艱，脈象緩滑，濕飲之徵。經曰：諸風戰掉，皆屬於肝。論症乃風淫，論脈為飲患，殆屬風陽挾飲，堵塞經脈隧絡之間，以致筋骨無清氣營養，皆濁熱所浸淹，安能有舒展自如之快哉。法與祛風滌飲、活絡舒筋為方，數帖極為得手，奈家貧無力吃藥，又不能靜養其疴，實感根株不能斷絕之困難，殊為惻然耳。</p>
