<header data-type="book">
<h1>旅舍備要方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>董汲</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1086">公元1086年</data></dd></div>
<div><dt>底本</dt><dd>出自<a href="https://ctext.org/library.pl?if=gb&res=80981">《墨海金壺》</a>第111冊第一卷</dd></div>
</dl>
</header>

<h1>原序</h1>
<p>夫醫藥之來，皆原於農、黃二帝之書，其奧博微妙，莫不符契陰陽五行消長之理，吻合君臣相與之道，則固非庸流俗輩所能鉤索之也。推聖人之心，蓋深切於蠲疴濟世，欲臍天下生靈於壽域而已矣。董君汲少服儒術，嗜閱醫經，洞徹其簡切應用者近百餘方，可以備旅舍應猝之用，編目成集，共為一卷，號曰旅舍備要方，將鏤板以廣其傳。君可謂能推究聖人之所存心者哉！誠可嘉尚，余故輒為之引云。</p>
<p><u>孟震序</u></p>

<h1>自序</h1>
<p>汲少小多病，因習醫藥，常思世人榮辱汩馳，喜怒妄作，飲食不節，興居無常，倏忽之間，疾起不測，迫於倉卒，不暇藥餌，以斯致困，可不惜哉！況宦遊南北，客涉道途，冒觸居多，邪氣易入，方藥備急，尤當究心。且如觸寒心痛，冒熱中暍，厥風涎潮，伏暑霍亂，亟來急治，方可安全。推類求之，不能悉數。汲自業醫以來，收經效奇方，計百餘道，證詳而法略，使覽之者曉然可用，目之曰旅舍備要方，為一卷。庶幾道途疾病，治療有歸，不敢私隱，具錄如下。</p>
<p><u>董汲序</u></p>

<h1>斑疹</h1>
<p><u>神仙紫雪</u></p>
<p>治大人小兒一切熱毒，胃熱發斑，消豆疱麩疹，及傷寒熱入胃發斑，並小兒驚癇涎厥，走馬急疳，黃瘦，喉痹腫痛，及瘡疹毒攻咽喉，水漿不下。</p>
<p>黃金（一百兩）　寒水石　石膏（各三斤）　犀角　羚羊角（各十兩，屑）　玄參（一斤）　沒香　木香　丁香（各五兩）　甘草（八兩）　升麻（六兩）</p>
<p>上㕮咀，以水五斗，煮金至三斗，去金，入諸藥，再煎至一斗，濾去滓，投上好芒硝二斤半，微火煎，以柳木篦攪，勿停手，候欲凝，入盆中，更下研細硃砂、真麝香各一兩，急攪勻，候冷，貯於密器中，勿令見風。每服一錢，溫水化下；小兒半錢一字。咽喉危急，捻少許乾嚥之。</p>

<h1>痰證</h1>
<p><u>小半夏湯</u></p>
<p>治痰逆，粥藥不下，胸膈不快，停痰蓄水，手足厥冷，並天行病噫不止。</p>
<p>半夏（不計多少，湯洗七遍，片切焙乾）</p>
<p>上每服一錢，水一盞半，入生薑切片半錢，同煎至一盞，去滓，溫服。若腹鳴有水聲，每服加去瓤橘皮、去皮茯苓各半錢，煎如上法。</p>
<p><u>半夏化痰丸</u></p>
<p>治痰實噁心嘔吐，頭目昏暈，心悸，背寒，臂病，涎漱，膈不快。</p>
<p>半夏（一兩，湯洗去滑）　赤茯苓（半兩，去皮）　白礬（一分，枯）　鉛白霜（半兩）</p>
<p>上為末。取生薑自然汁，煮麵糊為丸，如梧桐子大。每服十五丸，生薑湯下。</p>
<p><u>枳實丸</u></p>
<p>治風痹痰實，大便秘澀，頭旋眩暈，腹滿煩渴。傷寒胃熱有燥屎，譫言狂亂，及結胸痛痞，癰瘍瘡癤。</p>
<p>大黃（半兩）　牽牛（微炒，取末，半兩）　枳實（麩炒，去瓤）　人參（一分）</p>
<p>上為末，煉蜜為丸，如梧桐子大。每服三十丸，溫水下，未動，再加丸數服之。</p>

<h1>霍亂</h1>
<p>論曰：陰陽不順，清濁相干，氣混中焦，名為霍亂也。皆由飽食豚膾，復啖乳酪，海陸百忌，無所不食；多飲寒漿，眠臥冷席，風冷之氣，傷於脾胃，諸食結而不消，陰陽二氣，壅而不通，陽氣欲升，陰氣欲降，陰陽交錯，變成吐利不已。百脈昏亂，榮衛俱虛冷，轉於筋則令轉筋，宜服無比香薷散。方見後。</p>
<p><u>丸方</u></p>
<p>治中暑霍亂吐瀉，米穀不化，臍腹疼痛，滑瀉色白，腳轉筋，手足冷，脾胃虛冷，不思飲食，腹脹不快，及胸痹心痛，並傷寒陰經受病，不壯熱，大便清穀，脈虛弱而暈，及婦人新產內虛。</p>
<p>人參　白朮　乾薑　甘草（炙。各一兩）</p>
<p>上為細末，煉蜜和丸，如彈子大。每服一丸，湯化下，日十服。</p>
<p>吐多利少者，取枳實三枚，炙，四破，水三升，煮一升，和一丸服；吐少利多者，取乾薑一兩，水二升，煮一升，和一丸服；頻吐利乾嘔者，取半夏半兩，湯洗去滑，水二升，煮取一升，和一丸服；若體疼痛不可堪者，水三升，煮棗三枚，取一升，和一丸服；若大吐利轉筋者，以韭汁洗腹腎，從胸至足踝，勿逆，即止；若體冷微汗，腹中寒，取附子一枚，炮去皮，四破，水二升，煮一升，和一丸服。吐利悉止，脈不出，體猶冷者，可服諸湯補之。</p>
<p><u>厚朴湯</u></p>
<p>治霍亂心煩。</p>
<p>厚朴（炙）　高良薑　桂心（各三兩）</p>
<p>上㕮咀，以水六升，煮取三升，分再服。</p>
<p><u>龍骨湯</u></p>
<p>治霍亂吐利嘔逆。</p>
<p>龍骨　黃連　乾薑　赤石脂　當歸（各三兩）　枳實（五枚，炙）　半夏（一升，洗）　附子（炮，去皮臍）　人參　桂心　甘草（炙。各二兩）</p>
<p>上㕮咀，以水九升，煮取三升，分三服。</p>
<p><u>大豉湯</u></p>
<p>治氣厥嘔噦不得息。又主霍亂。</p>
<p>香豉（一升）　半夏（洗）　生薑（切。各二兩）　前胡（《外臺》是柴胡）　桂心（《外臺》無）　人參　甘草（炙。各一兩）</p>
<p>上㕮咀，以水五升，煮取二升。分三服。勿使冷。（《外臺》云：忌羊肉、餳、海藻、菘菜等。）</p>
<p><u>又方</u></p>
<p>治霍亂吐利，心煩不止。</p>
<p>豬糞如雞子大一枚，為末，以沸湯一升和之。頓服良。不差，更作。</p>
<p><u>又方</u></p>
<p>梁米粉五合，水一升半，和之如粥。頓服，須臾即止。</p>
<p><u>又方</u></p>
<p>治霍亂止吐。</p>
<p>丁香（十四枚）</p>
<p>以酒五合，煮取二合。頓服之，用水煮之亦佳。</p>
<p><u>無比香薷散</u></p>
<p>治非時霍亂，吐利，心腹撮痛，大渴煩躁，四肢厥逆，汗自出，兩腳轉筋疼痛。</p>
<p>厚朴（去皮，二兩）　黃連（二兩。二味入生薑四兩，同杵，炒令紫色）　香薷穗（一兩半）</p>
<p>上為末。每服五錢，水、酒各一盞，同煎至一盞，去滓，令極冷，頓服之。</p>
<p><u>五苓散</u></p>
<p>治中暑噁心，霍亂吐瀉，煩燥飲水。又治五淋，小便不利，臍下脹滿，及胞轉不得小便，小腹脹痛。又治瘴氣溫瘧，不伏水土，或吐或瀉。又治中酒，噁心嘔吐痰水，有入便吐，心下痞悶。又治黃疸，遍黃橘色，心中煩急，眼如金，小便赤澀，或大便自利。</p>
<p>豬苓（去黑皮，十八銖）　澤瀉（一兩）　白朮（十八銖）　茯苓（去皮，十八銖）　肉桂（去皮，半兩）</p>
<p>上為細末。每服二錢，溫水、冷水隨意調下。若治黃疸，煎茵陳湯調下，日三。</p>

<h1>腰痛</h1>
<p>論曰：腰痛之為疾，大法有四種。有腎虛，有腎著，有䐴腰，有風氣下流。腎虛者，腰胯痛，小便淋瀝，當服八味丸。腎著者，腰中冷痛，如帶五千錢，服腎著湯。䐴腰者，腰痛因俯仰即墮，墮傷腰，當服藥棋子。風氣下流者，腰痛腳重，大便秘澀，當服神功丸即愈。方如下。</p>
<p><u>藥棋子</u></p>
<p>治䐴腰疼痛氣滯。</p>
<p>牽牛（一兩，半生半炒，取半兩為末）</p>
<p>上研入硫黃末一分，再研勻，分三分。每一分用白麵一匙，以水搜和前藥，切作棋子，於五更初，以水半盞煮熟，連湯溫食，差即止。初服未除，隔日再服。</p>
<p><u>神功丸</u></p>
<p>治三焦氣壅，心腹痞悶，六腑風熱，大便不通，津液內枯，大腸乾澀，裡急後重，或下鮮血，痰唾稠黏，風氣下流，腰腳重，臍下脹痛，溺赤如金。（陳無擇《三因方》云：此藥當量虛實加減，溫湯、溫酒、米飲皆可服，食後臨臥服。）</p>
<p>大黃（三兩。趙素《風科集驗》名大腹子）　人參（半兩）　訶子皮（炮。二兩）　麻子仁（五兩，另研）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服二十丸，溫水下，日三。早起、日中，以通為度。</p>

<h1>眼</h1>
<p><u>治傷寒時氣後毒攻眼疼痛赤腫方</u></p>
<p>露蜂房（半兩）</p>
<p>上以水三盞，煎至二盞，露一夜，溫冷任洗之。</p>
<p><u>瀉肝湯</u></p>
<p>治肝熱目赤羞明，隱痛，生瘡，翳膜赤腫。</p>
<p>黃芩　黃連　防風　梔子仁（各一兩）　大黃　甘草（炙。各半兩）</p>
<p>上為散。每服三錢，水一大盞，入竹葉十片，同煎至八分，去滓，溫服。若入朴硝一錢，同煎取利，即止後服。</p>
<p><u>又方</u></p>
<p>治跋涉風土或道路，誤為細塵眯目，隱痛不能視物，隨所眯目，以手分開，自以唾搽之即愈。</p>

<h1>耳</h1>
<p><u>治蚰蜓入耳</u></p>
<p>膽礬末一字，以醋少許調灌之，須臾蟲化為水。</p>

<h1>口</h1>
<p><u>赴筵散</u></p>
<p>治心脾勞熱，口舌生瘡，或赤或白，不下飲食。</p>
<p>廣土（即赤土）　荊芥　朴硝（各一兩）</p>
<p>上同研勻，新汲水調服一錢。小兒少與。</p>
<p><u>又方</u></p>
<p>治口舌唇吻等瘡。</p>
<p>黃柏（蜜炙，一錢）　膩粉　麝香（各少許）</p>
<p>上研勻，貼之，日三四易。</p>

<h1>齒</h1>
<p><u>細辛散</u></p>
<p>治齒痛齦腫，風癢攻槽，疼痛不可忍。</p>
<p>細辛（去葉）　芎藭　香白芷　甘松（各一兩）</p>
<p>上為細末。每用半錢擦，牙痛便止。或大痛不定，以藥二錢，入好雄黃末半錢，生川烏頭末半錢，拌勻，少少擦之，良久，以鹽湯漱之。</p>
<p><u>治腎虛髓少齒痛方</u></p>
<p>生地黃　川芎（各一錢）</p>
<p>上為末，以漬齒根。</p>
<p><u>又方</u></p>
<p>治齒痛宣露，涎血臭氣。</p>
<p>川芎（一錢）　竹葉（二十片）　鹽（少許）　細辛（一錢）</p>
<p>上以水三大盞，煎兩盞，熱含漱，冷吐之。</p>
<p><u>治牙齒疼痛腮腫齦疼不能齧物風蟲疼痛</u></p>
<p>附子角（八個）　巴豆（一個，去皮）　麝香（一個）</p>
<p>上研為末，蒸餅，水浸為丸，如黃米大，以綿裹，隨痛齒隱之。</p>

<h1>中毒</h1>
<p><u>解中藥毒並蟲毒悶亂吐血煩躁</u></p>
<p>甘草（一兩，生用）　白礬（半兩，生）　延胡索（一兩）</p>
<p>上為細末。每服半錢，水一盞，煎至六分，去滓，放冷，細細呷之。</p>

<h1>婦人科</h1>
<p><u>萬安丸</u></p>
<p>治妊娠不足月，損動胎不安。或誤服藥，胎欲下，腹脹痛。</p>
<p>知母（一兩）</p>
<p>上為末，用熟棗肉為丸，如彈子大。每服一丸，以秦艽糯米湯化下。</p>
<p><u>保安散</u></p>
<p>治因漏胎胞干難產，橫逆不下。</p>
<p>蟬蛻（不計多少，燈下燒存性）</p>
<p>上入真麝香少許，研細，臨產時淡醋湯調下半錢。</p>
<p><u>四物湯</u></p>
<p>治婦人產前後百病，崩中血不止，及妊娠胎漏下血，腹痛，產後宜倍服。去宿血，養新血，療腰腳疼痛。</p>
<p>當歸　白芍藥　川芎　熟乾地黃（各一兩）</p>
<p>上為散。每服三錢，水一盞，入生薑三片，同煎至七分，去滓，溫服。</p>
<p>若漏胎及崩中，每服入炙阿膠二片，熟艾半雞子大同煎；若產後，每服入童子小便少許。</p>

<h1>小兒科</h1>
<p><u>麝香膏</u></p>
<p>治小兒諸風驚涎，寒熱發搐。（載《幼幼新書》）</p>
<p>麝香（研）　乳香（研）　青黛（各半兩）　防風（末）　硃砂（研）　龍膽（各三錢）　甘草（炙，四兩）　龍腦　膩粉（各一錢匕）　天南星（炮）　墨（燒。各半錢）</p>
<p>上研細拌勻，蜜劑成膏。每二歲兒服半皂子大，薄荷湯化下。</p>
<p><u>鉤藤飲</u></p>
<p>治小兒吐利後，臟虛慢驚，手足瘛瘲，多睡，眼上視，乳食不進。</p>
<p>鉤藤鉤（三分）　芎藭　白殭蠶（去嘴，炒）　蟬蛻（去足、翅。各半兩）　蛇皮　甘草（炙。各一分）　蜣螂（五枚，炙，去頭、翅、足）　附子（炮，去皮臍，半兩）</p>
<p>上為末。每服二錢，水一盞，煎至六分，去滓，溫分三服。急驚有熱證，去附子不用。</p>
<p><u>定命丹</u></p>
<p>治小兒急慢驚風，天瘹，臍風撮口，搐搦，奶癇，壯熱。</p>
<p>天麻　青黛（各一分半）　天南星（炮）　膩粉（各一兩半）　硃砂（研）　白附子（炮。各半兩）　麝香（二字）　蠍尾（十四個，炮）</p>
<p>上研細，拌勻，用燒粟米飯為丸，如綠豆大。每服一丸，薄荷湯化下。急驚者，水化滴入鼻中，啼即搐定。</p>
<p><u>又方</u></p>
<p>通治小兒急慢驚風，手足搐搦，日數十發，搖頭弄舌，百治不效，垂困。（已上方並載《幼幼新中》）</p>
<p>蛇蛻皮（一分）　牛黃（研，一錢）</p>
<p>上以水一盞，先煎蛇皮至五分，去滓，調牛黃，頓服。五歲以上，倍服。</p>
<p><u>利毒丸</u></p>
<p>治小兒瘡疹欲出，胃熱發溫，氣粗腹滿，大小便赤澀，睡中驚，煩渴，口舌乾，手足微冷，多睡，時漱涎，脈實沉大滑數，便宜服之。</p>
<p>大黃（半兩）　膩粉（炒，一錢）　大青（一錢）　龍腦　硃砂（各半錢）　檳榔　生牽牛（各一錢半）　黃芩　青黛（各一錢。一本作二錢）</p>
<p>上研細末，麵糊為丸，如黃米大。每二歲兒服八丸，生薑、蜜水下。不動，再服。量兒大小虛實加減。</p>
<p><u>牛黃散</u></p>
<p>治小兒瘡疹，陽毒入胃，便血，日夜無節度，腹痛啼哭。（已上二方並載《幼幼新書》）</p>
<p>牛黃（一兩）　鬱金（一兩）</p>
<p>上研細末。每二歲兒服半錢，以漿水半盞，煎至三分，和滓溫服。量大小以此增減之。日二服。</p>
<p><u>紫草散</u></p>
<p>治小兒伏熱在胃經，暴發痘疱瘡疹，一切惡候出不快，小便赤澀，心腹脹滿。（錢乙四聖散同）</p>
<p><u>黃土湯</u></p>
<p>治赤疹瘙癢，煩躁昏悶。</p>
<p>伏龍肝（即灶下黃土）</p>
<p>上研極細，每服二錢，生薑、蜜水調下。</p>
<p><u>救生散</u></p>
<p>治小兒瘡疹膿疱，惡候危困，陷下黑色。</p>
<p>豶豬血（臘月內，以新瓷罐盛，掛於房東上，陰乾為末）　馬牙硝（研。各一兩）　硃砂　牛黃　腦麝（各一錢）</p>
<p>上研極細，每二歲兒取一錢，新汲水調下。大便下惡物，瘡疱紅色為度。不過，再服。神驗無比。</p>
<p><u>玳瑁散</u></p>
<p>治小兒瘡疹，熱毒內攻，紫黑色，出不快。</p>
<p>生玳瑁（水磨濃汁，取一合）　豶豬心（一個，取中血一皂子大）</p>
<p>上合調勻，濃煎紫草湯調服。</p>

<h1>瘡科</h1>
<p>論曰：大凡瘡腫，本自畜熱，或因服金石等藥，或因父母服熱藥，並飲酒消渴，人多病此，當以涼藥下之。故孫真人《千金方》云：病癰疽人，如道途無藥，可只以大黃下之者，蓋攻其本也。近人多不達此意，至瘡腫既發而下之，使毒內陷者，失其旨矣。宜切志之。</p>
<p><u>內治散</u></p>
<p>治一切癰疽惡瘡，毒氣內熏五臟，噁心煩躁。</p>
<p>綠豆粉（一兩）　乳香（一分）</p>
<p>上研細末。每服一錢，新汲水調下。</p>
<p><u>神明膏</u></p>
<p>治癰疽癤腫毒無頭，疼痛，或有數頭，煩熱，氣毒軟癤久不效。</p>
<p>五靈脂（不計多少，微炒）</p>
<p>上為末，新水調塗於故緋絹上，貼之。</p>
<p>論曰：大凡傷瘡欲成痂時，往往頻看及不時將護，多中外風，以至背急角弓反張。有若痓病之狀。皆由風入瘡口，傳遍四肢經絡，故如是。或者便以治賊風之法攻汗，此大非也。有瘡人慎不可犯水，或白痂時，慎不可於風中看，但以背指散貼之，無不神效。若瘡出血多，其人必渴，宜忍之，並不可啖燥、食鹽、飲酒、嗜羹，只可食油及脂肥物為佳，不惟能御外風，兼可不渴。若犯諸忌，即血溢殺人。又忌嗔怒大笑思想、陰陽行動，極宜謹此。</p>
<p><u>背指散</u></p>
<p>貼一切傷瘡血出瘡痛。若早貼，不膿不痛。</p>
<p>檳榔　黃連（各一兩）　木香（半兩）</p>
<p>上為末，有傷便貼之。如研下指，血未定，速將藥裹定，便得連接。</p>
<p><u>又方</u></p>
<p>治打撲腫痛，傷折骨節，磋跌脫臼，內有瘀血，疼痛不可忍。</p>
<p>硃砂　定粉　當歸　蘇木（各半兩）</p>
<p>上研細末。每服一錢，熱酒調下，痛處熱為效。</p>

<h1>雜傷</h1>
<p>論曰：大凡湯火誤傷，害人最急，始覺熱痛，多用冷物沃之，以救其熱，切不可也。蓋火氣本陽，得水則陰氣內薄，必皮肉膿潰，仍久不成痂，使陰陽交激。微者致極，熱氣轉深，侵壞筋骨。如遇傷，但以救痛散塗之，無不即效。</p>
<p><u>治火傷</u></p>
<p>被火燒處，急向火炙之。雖大痛，強忍之，少間，不痛不膿。</p>
<p><u>治犬馬齧及馬骨刺傷人及馬血入舊瘡中方</u></p>
<p>取灰汁熱漬瘡，常令汁器有火，數易其汁，勿令爛人肉，三數日漬之。有腫者，炙石令熱熨之，日二，消即止。</p>
<p><u>治蛇咬久不效及毒氣內攻疼痛方</u></p>
<p>雄黃　白礬</p>
<p>上等分，研，就刀頭上爆令熔，便貼咬傷處，自差。　治在道途上大醉仆地或取涼地臥多為蛇入人竅方</p>
<p>見時急以手捻定，用刀刻破尾，以椒或辛物置破尾上，以綿系之，少刻，自出此蛇。有逆骨，慎不可以力拔之，須切記。</p>
<p><u>壁鏡咬人立死治之方</u></p>
<p>檳榔（不計多少）</p>
<p>上燒灰存性，先以醋淋洗，後以醋調貼之。</p>
