<header data-type="book">
<h1>金匱玉函經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張機</dd></div>
<div><dt>朝代</dt><dd>漢</dd></div>
<div><dt>底本</dt><dd>清康熙年間刻本（<a href="https://ctext.org/library.pl?if=gb&res=2853">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>重刻張仲景《金匱玉函經》序</h1>
<p>《金匱玉函經》八卷，漢張仲景論著，晉王叔和所撰次也，其標題蓋亦後人所加，取珍秘之意。仲景當漢季年，篤好方術以拯夭橫，其用心仁矣，故自《素》、《難》、《本草》、《湯液》諸書，咸抉根得髓，其為《傷寒雜病論》，實為萬世群方之祖。自叔和尊尚以後，年歲久遠，錯亂放失者屢矣。宋治平初，命諸臣校定，其目有三：曰《傷寒論》、《金匱方論》（一名《金匱玉函要略》）以及此經是也。雖未必盡復仲景本書之舊，然一家之學粗完。余幼讀二論，精微簡要，務令上口，以通思索，遍求是經，獨不可得。後檢鄱陽馬氏《經籍考》，雖列其目，而所引晁序，則實《金匱玉函要略》也。則此經蓋自元時，而不行於世矣。歲壬辰，義門何內翰以予粗習張書句讀，手抄宋本見授，拜受卒業，喜忘寢食。惜其訛脫者多，甚或不能以句。既無他本可校，乃博考眾籍，以相證佐，補亡滅誤，十得八九。稿凡數易而始可讀，則掩卷而嘆曰：「是可報命於內翰矣。」內翰嘗以古明醫多以醫案示人，見愛過實，囑刻其平生醫藥病狀之驗者。予瞿然不敢當，語云：「三折肱為良醫，」予雖老是，然處方設劑，吾斯未信。因念是經，世久未見，而內翰既得禁方，不自秘匿，雖古人尤難之。開以傳後，其弘濟豈但一師之說哉！夫岐黃之書，經也。仲景之經，律也。臨證療疾，引經案律，十不失一二，論所述略具矣。是書則兼綜兩者，而整齊形證，附類方藥，各有門部，次第不可淆亂，則知經又論之自出，尤醫門之金科玉條也。八卷之中，上順天和，以療人患，非通三才之道，而得往聖之心者不能。觀者苟能潛心玩索，而知其所以，則因病發藥，應如桴鼓。順之則能起死，畔之則立殺人。先儒以孫思邈尚為粗曉其旨，得其書者，未可謂不過與《傷寒論》及《要略》相出入，而鹵莽治之也。不揆淺陋，願與同志者熟讀而精思之。</p>
<p><u>康熙丙申陽月上海陳世杰書</u></p>

<h1>重刻《金匱玉函經》序</h1>
<p>吾宗懷三先生，自幼學儒，以多病廢，遂篤嗜方書，壯年由上海流寓吳門，坐臥一閣，近十年所。手不釋卷帙，精通諸禁方。然未嘗以醫自誇，所治輒效，益務實，不近名，名久大震。性高亮疏豁，無軟熟態。兩遊京師，貴人爭迎之，皆翩然謝歸。出入里中，乘壞肩輿，有謁必往，切脈診病，其可藥與否，常直言以對，不為挾要欺倖。富貴人或為藥所誤，垂死乃相招，或投藥有起勢，遽以庸醫間之，先生益厭苦，常謾語來者，曰：吾不能醫富貴人也。儒門單戶，有急相告，即毒熱嚴凍，隨早晚必赴，愈，不計其所酬薄厚。其學長於仲景，嘗謂綱要精微，實軒岐之繼別，而自晉唐以還，名家撰論，悉衍其緒，故讀《傷寒論》及《要略》，不但誦數，悉能心知其意。惟恨未見《金匱玉函經》，市中見杜光庭所撰書，標題恰同，喜極購歸，既啟乃知非是，於是求之益亟。義門何先生知先生最深，得宋抄本授之，窮日夜校閱，即有脫誤，以他書是正，歷三四寒溫，而後可句。尋考本序，為宋館閣秘本，元明以來，相沿以《要略》為此經，雖丹溪之精通，安道之淹貫，蓋皆未見，先生於是刻而傳之，間嘗語余，黃岐之經義深以遠，仲景之書理切而要，不深其書，而求以通經，如討源而未有楫也。然年久散失，晦蝕於諸家之說多矣。故吾讀是書，自成無己外，注凡七十有二家，皆庋而不觀，懼文多而益昧其經爾。今吾刻是，幸其久未見，不為注所厖，學者潛心刻意庶幾得之，雖然，其間條緒同於《傷寒論》者幾什之七，懼或者之，又略而弗觀，不知發凡起例，仲景別有精義存焉，讀《論》與《略》者不可闕也。余曰：經籍之顯晦存乎其人，仲景憫宗人之彫喪，拯後世之夭橫，其利溥矣。是經不絕如線，而今章之，其用心既與古密契，來者難誣其寶，而傳之決也，則仲景一家之書，自此大昭矣。</p>
<p><u>丙申長至後長洲弟汝楫書</u></p>
<p>《漢書·藝文志》載，成帝之世，詔李柱國校方技，劉氏《七略》，有醫經七家，二百一十六卷，經方十一家，二百七十四卷。其存於今，獨《黃帝內經》而已，《素問》、《難經》、《本草》之屬，皆見於鄭荀《經薄》、王阮《志錄》要之最為古，書比於六經，繼出者，東漢張仲景《傷寒論》，西晉王叔和撰次《玉函經》，二書實相表裡，評病處方，具有條理，各詣其極，乃方技中之《論語》、《孟子》書，不得其門者，末由語於生生也。《隋書·經籍志》與唐宋《藝文志》卷目時有不同，然行於世者，猶出宋治平間，三館校定，可以據信。吾友陳先生懷三，研精覃思，於張、王二書有年所矣。遇疾危急，群疑共卻，必予全濟，於是同術驚詫，目為神奇。不知惟能熟復古賢方劑，視證所宜，不肯妄行胸臆，以人之寄命為戲劇爾。以書考之，一一可覆也。先生深閔其道之闇昧，務思援古正今，謂《傷寒論》世多有，而《金匱玉函經》幾無傳，乃從藏書家訪求善本，與篋中本再三勘校，重開以通流之。蓋仁人之用心也搏與愛，其禁而戒勿泄者殊絕矣。昔東垣李明之著《傷寒會要》書，遺山元裕之為之作序。余無遺山之文辭，而此書為醫學之《論語》、《孟子》，其已試之效，亦不假予言而始張，特重先生之用心，可與進於孔孟之道也。輒書其後，蓋先生本儒者云。</p>
<p><u>康熙丁酉正月義門何焯</u></p>

<h1>校正《金匱玉函經》疏</h1>
<p>《金匱玉函經》與《傷寒論》同體而別名，欲人互相檢閱而為表裡，以防後世之亡逸，其濟入之心，不已深乎。細考前後，乃王叔和撰次之書。緣仲景有《金匱錄》，故以《金匱玉函》名，取寶而藏之之義也。王叔和西晉人，為太醫令，雖博好經方，其學專於仲景，是以獨出於諸家之右。仲景之書，及今八百餘年，不墜於地者，皆其力也。但此經自晉以來，傳之既久，方證訛謬，辨論不倫，歷代名醫雖學之，皆不得彷彿。惟孫思邈粗曉其旨，亦不能修正之，況其下者乎。</p>
<p>國家詔儒臣校正醫書，臣等先校定《傷寒論》，次校成此《經》，其文理或有與《傷寒論》不同者，然其意義皆通。聖賢之法，不敢臆斷，故並兩存之。凡八卷，依次舊目，總二十九篇，一百一十五方。</p>
<p>恭惟。</p>
<p>主上，大明撫運，視民如傷，廣頒其書，為天下生生之具，直欲躋斯民於壽域者矣。治平三年正月十八日。</p>
<p><u>太子右贊善大夫（臣）高保衡</u></p>
<p><u>尚書員外郎（臣）孫奇</u></p>
<p><u>尚書司封郎中秘閣校理（臣）林億</u></p>
<p><u>等謹上</u></p>

<h1>《金匱玉函經》卷第一</h1>

<h2>證治總例</h2>
<p>夫二儀之內，惟人最靈，稟天地精英之氣，故與天地相參。天一生水，剛柔漸形，是以人之始生，先成其精，腦髓既足，筋骨斯成，皮堅毛長，神舍於心。頭圓法天，足方象地，兩目應日月，九竅應九州，四肢應四時，十二節應十二月。五藏應五音，六府應六律。手十指應十干，足十指莖垂應十二支。三百六十節以應一歲。天有風雨，人有喜怒，天有雷電，人有音聲，天有陰陽，人有男女，月有大小，人有虛實，萬物皆備，乃名為人。服食五味，以養其生。味有所偏，藏有所勝，氣增而久，疾病乃成。諸經藏中，金木水火土，自相剋賊。地水火風，復加相乘，水行滅火，土救其母，迭為勝負，藏氣不精，此為害道。不知經脈，妄治諸經，使氣血錯亂，正氣受刑，陰陽不和，十死一生。《經》云：地水火風，合和成人。凡人火氣不調，舉身蒸熱，風氣不調，全身強直，諸毛孔閉塞，水氣不調，身體浮腫，脹滿喘粗。土氣不調，四肢不舉，言無音聲，火去則身冷，風止則氣絕，水竭則無血，土敗則身裂。愚醫不思脈道，反治其病，使藏中金木水火土，互相攻克，如火熾然，重加以油，不可不慎，又使經脈者如流水迅急，能斷其源者，此為上也。</p>
<p>凡四氣合德，四神安和，人一氣不調，百一病生，四神動作，四百四病，同時俱起。其有一百一病，不治自愈；一百一病，須治而愈；一百一病，難治難愈；一百一病，真死不治。</p>
<p>問曰：人隨土地，得合陰陽，稟食五穀，隨時相將，冬得溫室，夏遂清涼，消沴調寒暑，四季不遭傷，恐懼畏無時，忽然致不祥，肺魄不能靜，肝魂欲飛揚，心神失所養，脾腎亦乖方。六府彷徨亂，何以致安康。非針藥不定，盍自究精詳，答曰：肝虛則目暗，其魂自飛揚；肺衰則氣上，其魄自掩藏；心虛則不定，諸藏受迍殃，脾腎虛衰至，內結作癰瘡；六府病蝟集，諸脈失經常。及時加針藥，勿使及淪亡。</p>
<p>古者上醫相色，中醫聽聲，下醫診脈。診候之法，固是不易。又云：問而知之，別病深淺，命曰巧焉。上醫相色知病者，色脈與身形不得相失，黑乘赤者死，赤乘青者生之類。中醫聽聲知病者，聲合五音，火聞水聲，煩悶驚悸，木得金聲，恐畏相刑，脾者土也，生育萬物，回助四傍，善者不見，惡則歸之，太過則四肢不舉，不及則九竅不通，六識閉塞，猶如醉人，四季運轉，終而復始。下醫診脈知病者，源流移轉，四時逆順，相害相生，審知藏府之微，此為妙也。</p>
<p>夫診法：常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，精取其脈，知其逆順，必察四難而明告之，然愚醫不能如斯。逆四難而生亂階者，此為誤也。</p>
<p>肝病治肺，心病折腎，其次取俞募，不令流轉藏府。見肝之病，當瀉肺金補肝木，木子火為父報仇，故火剋金，子病以母補之，母病以子瀉之。蓋云：王者不受其邪，而為邪傳，以得奸賊之侵病，及於一藏之中，五賊相害，於彼前路，當先斷之一藏，不可再傷，精神不中數勞，次取俞募，其令五邪氣當散去之。</p>
<p>凡婦人之病，比之男子，十倍難治。考諸經言，病本一體，所以難治者，婦人眾陰所集，常與濕居，十五以上，陰氣浮溢，百想經心，內傷五藏，外損姿容，月水去留，前後交互，瘀血停凝，中路斷絕，其中傷隳，不可具論，生熟二藏，虛實交錯，惡血內漏，氣脈損竭，或飲食無度，損傷非一，或胎瘡未愈，而合陰陽，或出行風來便利穴廁之上，風從下入，便成十二痼疾。男子病者，眾陽所歸，常居於燥，陽氣遊動，強力施泄，便成勞損，損傷之病，亦眾多矣。食草者力，食谷者智，食肉者勇，以金治金，真得其真，以人治人，真得入神。</p>
<p>凡欲和湯合藥灸刺之法，宜應精思，必通十二經脈，三百六十孔穴。營衛氣行，知病所在，宜治之法，不可不通，湯散丸藥，針灸膏摩，一如其法。然愚醫不通十二經脈，不知四時之經，或用湯藥倒錯，針灸失度，順方治病，更增他疾，惟致滅亡。故張仲景曰：哀哉烝民，枉死者半，可謂世無良醫，為其解釋。</p>
<p>吾常見愚人疾病，有三不治：重財輕命一不治，服食不節二不治，信邪賊藥三不治。若主候常存，形色未病，未入腠理，針藥及時，服將調節，委以良醫，病無不愈，咸共思之。又自非究明醫術，素識明堂流注者，則身中滎俞，尚不能知其所在，安能用針藥以治疾哉。今列次第，以示後賢，使得傳之萬世。</p>
<p>張仲景曰：若欲治疾，當先以湯洗滌五藏六府，開通經脈，理導陰陽，破散邪氣，潤澤枯槁，悅人皮膚，益人氣血，水能淨萬物，故用湯也。若四肢病久風冷發動，次當用散，散能逐邪風濕痹，表裡移走，居無常處者，散當平之。次當用丸，丸能逐沉冷，破積聚，消諸堅症，進飲食，調營衛，能參合而行之者，可謂上工。醫者意也，聖道非不妙，愚醫不能尋聖意之要妙，怨嗟藥石不治者，此為謬也，非聖人之過也。又能尋膏煎摩之者，亦古之例也。虛則補之，實則瀉之，寒則散之，熱則去之，不虛不實，以經取之。虛者十補，勿一瀉之，實者瀉之，虛實等者，瀉勿太泄，膏煎摩之，勿使復也。若虛者重瀉真氣絕，實者補之重其疾，大熱之氣，寒以取之，盛熱之氣，以寒發之，又不須汗下而與汗下之者，此為逆也。仲景曰：不須汗而強與汗之者，奪其津液，令人枯竭而死。又須汗而不與汗之者，使諸毛孔閉塞，令人悶絕而死。又不須下而強與下之者，令人開腸洞泄，便溺不禁而死。又須下而不與下之者，令人心內懊憹，脹滿煩亂，浮腫而死。又不須灸而強與灸之者，令人火邪入腹，干錯五藏，重加其煩而死。又須灸而不與灸之者，使冷結重冰，久而彌固，氣上衝心，無地消散，病篤而死，又須珍貴之藥，非貧家野居所能立辦，由是怨嗟以為藥石無驗者，此弗之思也。</p>
<p>問曰：凡和合湯藥，治諸草石蟲獸，用水升合，消減之法則云何？答曰：凡草木有根莖枝葉皮毛花實，諸石有軟鞕消走，諸蟲有毛羽甲角頭尾骨足之屬，有須燒煉炮炙，生熟有定，一如後法。順方是福，逆之者殃。又或須皮去肉，或去皮須肉，或鬚根去莖，又須花須實，依方揀採，治削極令淨潔，然後升合秤兩，勿令參差。藥有相生相殺，相惡相反，相畏相得，氣力有強有弱，有君臣相理，佐使相持。若不廣通諸經，焉知草木好惡，或醫自以意加減，更不依方分配，使諸草石，強弱相欺，勝負不順，入人腹內，不能治病，自相鬥爭，使人逆亂，力勝刀劍，若調和得宜，雖未去病，猶得利安五藏。令病無至增劇。若合治湯藥，當取井花水，極令潔淨，升斗勿令多少，煮之調和，一如其法。若合蜜丸，當須看第七卷，令童子杵之，極令細熟，杵數千百下，可至千萬，過多益佳，依經文和合調勻。當以四時王相日造合。則所求皆得，穰災滅惡，病者得瘥，死者更生，表針內藥，與之令服，可調千金之藥，內消無價之病。</p>
<p>夫用針刺者，先明其孔穴，補虛瀉實，送堅付濡，以急隨緩，營衛常行，勿失其理，行其針者，不亂乎心，口如銜索，目欲內視，消息氣血，不得妄行。針入一分，知天地之氣；針入二分，知呼吸之氣；針入三分，知逆順之氣。針皮毛者，勿傷血脈；針血脈者，勿傷肌肉；針肌肉者，勿傷筋膜；針筋膜者，勿傷骨髓。經曰：東方甲乙木，主人筋膜魂；南方丙丁火，主人血脈神；西方庚辛金，主人皮毛魄；北方壬癸水，主人骨髓志；中央戊己土，主人肌肉智。針傷筋膜者，令人愕視失魂；針傷血脈者，令人煩亂失神；針傷皮毛者，令人上氣失魄；針傷骨髓者，令人呻吟失志；針傷肌肉者，令人四肢不舉失智。針能殺生人，亦能起死人。</p>
<p>凡用針之法，補瀉為先，呼吸應江漢，補瀉應星斗，經緯有法則，陰陽不相干，震為陽氣始，兌為陰氣終，坎為太玄華，坤為太陰精。欲補從卯南，欲瀉從酉北，針入因日明，針出隨月光。夫治陰陽風邪，身熱脈大者，以烽針刺之。治諸邪風鬼疰痛處少氣，以毛針去之。凡用鋒針者，除疾速也，先補五呼，刺入五分，留入十呼，刺入一寸，留二十呼，隨師而將息之。刺急者，深內而久留之；刺緩者，淺內而疾髮針。刺大者，微出其血，刺滑者，淺內而久留之，刺澀者，必得其脈，隨其逆順，久留之，疾出之，壓穴勿出其血，刺諸小弱者，勿用大針。然氣不足，宜調以甘藥，餘三針者，止中破癰堅痛結息肉也。非治人疾也。</p>
<p>夫用灸之法，頭身腹背肩臂手足偃仰側其上中諸部，皆是陰陽營衛經絡俞募孔穴，各有所主。相病正形，隨五藏之脈，當取四時相害之脈，如浮沉滑澀，與灸之人，身有大小長短，骨節豐狹，不可以情取之。宜各以其部分尺寸量之，乃必得其正，諸度孔穴，取病人手大拇指第一節，橫度為一寸，四指為一部，亦言一夫，又以文理縫縱會言者，亦宜審詳。</p>
<p>凡點灸法，皆取平正身體，不得傾側寬縱縮狹也。若坐點則坐灸之，臥點則臥灸之，立點則立灸之。反此者，不得其穴。</p>
<p>凡諸言壯數者，皆以中平論也。若其人丁壯，病重者可復一倍，其人老弱，病微者可復減半。然灸數可至二三百也，可復倍加火治之，不然則氣不下沉，雖焦而病不愈，又新生小兒，滿一朞以還者，不過一七止，其壯數多少，隨病大小也。凡灸須合陰陽九部諸府，各有孔穴，而有多少。故頭背為陽部，參陰而少，臂腳為陽部，亦參陰而少，胸為陰部，參陽而少，腹為陰部，亦參陽而少，此為陰陽營衛經脈事也。行壯多少在數，人病隨陰陽而灼灸之。若不知孔穴，勿妄灸之，使病增重。又人體腰以上為上部，腰以下為下部，外為陽部，內為陰部，營衛藏府周流，名曰經絡，是故丈夫四十以上氣在腰，婦人四十以上氣在乳，以丈夫先衰於下，婦人先衰於上。灸之生熟，亦宜撙節之，法當隨病遷轉，大法外氣務生，內氣務熟，其餘隨宜耳。頭者身之元首，人神之所注，氣血精明，三百六十五絡，皆歸於頭。頭者諸陽之會也，故頭病必宜審之灸其穴，不得亂灸，過多傷神，或陽精玄精陰魄再卒，是以灸頭止得滿百，背者是體之橫梁，五藏之繫著，太陽之會合，陰陽動發，冷熱成病，灸大過熟，大害人也。臂腳手足者，人之枝幹，其神繫於五藏六府，隨血脈出，能遠近採物，臨深履薄，養於諸經，其地狹淺，故灸宜少，過多則內神不得入，精神閉塞，否滯不仁，即手臂不舉，故四肢之灸，不宜太熟也。然腹藏之內，性貪五味，無厭成疾，風寒固結，水穀不消，灸當宜熟，若大杼、脊中、腎俞、膀胱、八窌，可至二百壯，心主手足太陰，可至六七十壯，三里、太谿、太衝、陰陽二泉、上下二廉，可至百壯，腹上、上管、下管、太倉、關元，可至一百壯，若病重者，三複之乃愈耳。若治諸沉結寒冷，必灸之宜熟，量病輕重而攻治之，表針內藥，隨宜用之，消息將之，與天同心，百年永安，終無橫夭。此要略說之，非賢勿傳，請秘而用之，今以察色診脈，辨病救疾，可行合宜之法，並方藥共成八卷，號為《金匱玉函經》，其篇目次第，列於卷首。</p>

<h1>《金匱玉函經》卷第二</h1>

<h2>辨痙濕暍第一</h2>
<p>太陽病，痙濕暍三種，宜應別論，以為與傷寒相似，故此見之。</p>
<p>太陽病，發熱無汗，而反惡寒，是為剛痙。</p>
<p>太陽病，發熱汗出，而不惡寒，是為柔痙。</p>
<p>太陽病，發熱，其脈沉細，是為痙。</p>
<p>太陽病，發其汗，因致痙。</p>
<p>病者，身熱足寒，頸項強惡寒，時頭熱面赤，目脈赤，獨頭動搖，卒口噤，背反張者，為痙。</p>
<p>脊強者，五痙之總名，其證卒口噤，背反張而瘛瘲，諸藥不已，可灸身柱、大椎、陶道。</p>
<p>太陽病，無汗，而小便反少，氣上衝胸，口噤不得語，欲作剛痙，葛根湯主之。</p>
<p>剛痙為病，胸滿口噤，臥不著席，腳攣急，其人必齘齒，可與大承氣湯。</p>
<p>痙病，發其汗已。其脈浛浛如蛇，暴腹脹大者為欲解，脈如故，反復弦者，必痙。</p>
<p>痙脈來按之築築而弦，直上下行。</p>
<p>痙家其脈伏堅，直上下。</p>
<p>夫風病，下之則痙，復發其汗，必拘急。</p>
<p>太陽病，其症備，身體強，𠘧𠘧然，脈沉遲，此為痙，栝樓桂枝湯主之。</p>
<p>痙病有灸瘡，難療。</p>
<p>瘡家，雖身疼痛，不可發其汗，汗出則痙。</p>
<p>太陽病，而關節疼煩，其脈沉緩，為中濕。</p>
<p>病者一身盡疼煩，日晡即劇，此為風濕，汗出當風所致也。</p>
<p>濕家之為病，一身盡疼，發熱，而身色似熏黃也。</p>
<p>濕家之為病，其人但頭汗出而背強，欲得被覆向火。若下之蚤則噦，或胸滿，小便不利，舌上如胎，此為丹田有熱，胸上有寒，渴欲飲而不能飲，則口燥煩也。</p>
<p>濕家下之，額上汗出，微喘，小便利者，死；若下利不止者，亦死。</p>
<p>問曰：病風濕相搏，身體疼痛，法當汗出而解，值天陰雨溜不止。師云：此可發汗，汗之而其病不愈者，何故？答曰：發其汗，汗大出者，但風氣去，濕氣仍在，是故不愈。若治風濕者，發其汗，微微似欲出汗者，則風濕俱去也。</p>
<p>病身上疼痛，發熱面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，內藥鼻中，即愈。</p>
<p>濕家身煩疼，可與麻黃湯加朮四兩，發其汗為宜，慎不可以火攻之。</p>
<p>風濕脈浮，身汗出，惡風者，防己湯主之。</p>
<p>太陽中熱，暍是也，其人汗出，惡寒，身熱而渴也，白虎湯主之。</p>
<p>太陽中暍，身熱疼重，而脈微弱，此以夏月傷冷水，水行膚中所致也，瓜蒂湯主之。</p>
<p>太陽中暍，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已，洒洒然毛聳，手足逆冷，小有勞，身即熱，口開，前板齒燥。若發其汗，惡寒則甚。加溫針，發熱益甚。數下之，則淋甚。</p>

<h2>辨脈第二</h2>
<p>問曰：脈有陰陽，何謂也？答曰：脈大為陽，浮為陽，數為陽，動為陽，滑為陽；沉為陰，澀為陰，弱為陰，弦為陰，微為陰。陰病見陽脈者生，陽病見陰脈者死。</p>
<p>問曰：脈有陽結陰結者，何以別之？答曰：其脈自浮而數，能食不大便，名曰陽結，期十七日當劇。其脈自沉而遲，不能食，身體重，大便反堅，名曰陰結，期十四日當劇。</p>
<p>問曰：病有灑淅惡寒，而復發熱者，何也？答曰：陰脈不足，陽往從之；陽脈不足，陰往乘之。何謂陽不足？答曰：假令寸口脈微，為陽不足。陰氣上入陽中，則灑淅惡寒。何謂陰不足？答曰：尺脈弱為陰不足，陽氣下陷入陰中，則發熱。</p>
<p>陽脈浮，陰脈弱者，則血虛。血虛則筋急。</p>
<p>其脈沉者，營氣微也。其脈浮，而汗出如流珠者，衛氣衰也。營氣微，加燒針，血留不行，更發熱而燥煩也。</p>
<p>脈藹藹如車蓋者，名曰陽結也。</p>
<p>脈累累如循長竿者，名曰陰結也。</p>
<p>脈聶聶如吹榆莢者，名曰散也。</p>
<p>脈瞥瞥如羹上肥者，陽氣脫也。</p>
<p>脈縈縈如蜘蛛絲者，陽氣衰也。</p>
<p>脈綿綿如瀉漆之絕者，亡其血也。</p>
<p>脈來緩時一止復來，名曰結。脈來數時一止復來，名曰促。脈陽盛則促，陰盛則結，此皆病脈。</p>
<p>陰陽相搏，名曰動。陽動則汗出，陰動則發熱。形冷惡寒者，此三焦傷也。若數脈見於關上，上下無頭尾，如豆大，厥厥動搖者，名曰動也。</p>
<p>陽脈浮大而濡，陰脈浮大而濡，陰與陽同等者，名曰緩也。</p>
<p>脈浮而緊者，名曰弦也。弦者狀如弓弦，按之不移也。脈緊者，如轉索無常也。</p>
<p>脈弦而大，弦即為減，大即為芤。減即為寒，芤即為虛。寒虛相搏，脈即為革。婦人即半產漏下，男子即亡血失精。</p>
<p>問曰：病有戰而汗出自得解者，何也？答曰：其脈浮而緊，按之反芤，此為本虛，故當戰而汗出也。其人本虛，是以發戰。以脈浮，故當汗出而解。若脈浮而數，按之不芤，此本不虛。若欲自解，但汗出耳，即不發戰也。</p>
<p>問曰：病有不戰而汗出解者，何也？答曰：其脈大而浮數，故知不戰汗出而解也。</p>
<p>問曰：病有不戰，復不汗而解者，何也？答曰：其脈自微，此以曾發汗、若吐、若下、若亡血，內無津液，陰陽自和，必自愈，故不戰不汗而解也。</p>
<p>問曰：傷寒三日，其脈浮數而微，病人身自涼和者，何也？答曰：此為欲解也，解以夜半。脈浮而解者，濈然汗出也。脈數而解者，必能食也。脈微而解者，必大汗出也。</p>
<p>問曰：脈病欲知愈未愈，何以別之？答曰：寸口、關上、尺中三處，大小、浮沉、遲數同等，雖有寒熱不解者，此脈陰陽為和平，雖劇當愈。</p>
<p>師曰：立夏得洪大脈，是其本位。其人病身體苦疼重者，鬚髮其汗。若明日身不疼不重者，不須發汗。若汗濈濈然自出者，明日便解矣。何以言之？立夏脈洪大，（一本作浮大，）是其時脈，故使然也。四時仿此。</p>
<p>問曰：凡病欲知何時得？何時愈？答曰：假令夜半得病者，日中愈。日中得病者，夜半愈。何以言之？日中得病夜半愈者，以陽得陰則解也；夜半得病日中愈者，以陰得陽則解也。</p>
<p>夫寸口脈，浮在表，沉在裡，數在府，遲在藏。假令脈遲，此為在藏。</p>
<p>趺陽脈浮而澀，少陰脈如經，其病在脾，法當下利。何以知之？脈浮而大者，氣實血虛也。今趺陽脈浮而澀，故知脾氣不足，胃氣虛也。以少陰脈弦而浮，才見此為調脈，故稱如經。而反滑數者，故知當溺膿也。</p>
<p>寸口脈浮而緊，浮即為風，緊即為寒。風即傷衛，寒即傷營。營衛俱病，骨節煩疼，當發其汗也。</p>
<p>趺陽脈遲而緩，胃氣如經也。趺陽脈浮而數，浮則傷胃，數則動脾，此非本病，醫特下之所為也。營衛內陷，其數先微，脈反但浮，其人必大便堅，氣噫而除。何以言之？脾脈本緩，今數脈動脾，其數先微，故知脾氣不治，大便堅氣噫而除。今脈反浮，其數改微，邪氣獨留，心中則飢，邪熱不殺穀，潮熱發渴，數脈當遲緩，脈因前後度數如法，病者則飢。數脈不時，則生惡瘡也。</p>
<p>師曰：病人脈微而澀者，此為醫所病也。大發其汗，又數大下之，其人亡血，病當惡寒，而發熱無休止，時夏月盛熱，而欲著復衣，冬月盛寒，而欲裸其體，所以然者，陽微即惡寒，陰弱即發熱。醫發其汗，使陽氣微，又大下之，令陰氣弱。五月之時，陽氣在表，胃中虛冷，內以陽微不能勝冷，故欲著復衣。十一月之時，陽氣在裡，胃中煩熱，內以陰弱不能勝熱，故欲裸其體。又陰脈遲澀，故知亡血也。</p>
<p>脈浮而大，心下反堅，有熱，屬藏者，攻之，不令發汗。屬府者，不令溲數，溲數則便堅。汗多則熱愈，汗少即便難，脈遲尚未可攻。</p>
<p>趺陽脈數微澀，少陰反堅，微即下逆，澀即躁煩，少陰堅者，便即為難。汗出在頭，穀氣為下。便難者令微溏，不令汗出，甚者遂不得便，煩逆鼻鳴，上竭下虛，不得復還。</p>
<p>脈浮而洪，軀汗如油，喘而不休，水漿不下，形體不仁，乍靜乍亂，此為命絕，未知何藏先受其災？若汗出發潤，喘而不休，此為肺絕。陽反獨留，形體如煙燻，直視搖頭，此為心絕。唇吻反青，四肢漐習，此為肝絕。環口黧黑，柔汗發黃，此為脾絕。溲便遺失、狂語、目反直視，此為腎絕。又未知何藏陰陽先絕？若陽氣先絕，陰氣後竭，其人死，身色必青，肉必冷。陰氣先絕，陽氣後竭，其人死，身色必赤，腋下溫，心下熱也。</p>
<p>寸口脈浮大，醫反下之，此為大逆。浮即無血，大即為寒，寒氣相搏，即為腸鳴。醫乃不知，而反飲之水，令汗大出，水得寒氣，冷必相搏，其人即噎。趺陽脈浮，浮即為虛，浮虛相搏，故令氣噎，言胃氣虛竭也。脈滑則為噦。此為醫咎，責虛取實，守空迫血。脈浮、鼻口燥者，必衄。</p>
<p>諸脈浮數，當發熱，而灑淅惡寒。若有痛處，食飲如常者，畜積有膿也。</p>
<p>脈浮而遲，面熱赤而戰惕者，六七日當汗出而解。反發熱者差遲。遲為無陽，不能作汗，其身必癢也。</p>
<p>脈虛者，不可吐下發汗，其面反有熱色為欲解。不能汗出，其身必癢。</p>
<p>寸口脈，陰陽俱緊，法當清邪中上，濁邪中下。清邪中上，名曰潔；濁邪中下，各曰渾。陰中於邪，必內慄，表氣微虛，裡氣失守，故使邪中於陰也。陽中於邪，必發熱、頭痛、項強、頸攣、腰痛、脛酸，所謂陽中霧露之氣，故曰清邪中上，濁邪中下。陰氣為慄，足膝逆冷，溲便妄出，表氣微虛，裡氣微急。三焦相溷，內外不通。若上焦怫鬱，藏氣相熏，口爛食齘。若中焦不治，胃氣上衝，脾氣不轉，胃中為濁，營衛不通，血凝不流。衛氣前通，小便赤黃，與熱相搏，因熱作使，遊於經絡，出入藏府，熱氣所過，即為癰膿。陰氣前通，陽氣厥微，陰無所使，客氣內入，嚏而出之，聲嗢咽塞。寒厥相追，為熱所擁，血凝自下，狀如豚肝。陰陽俱厥，脾氣弧弱，五液注下，若下焦不闔，清便下重，令便數難，臍築湫痛，命將難全。</p>
<p>脈陰陽俱緊，口中氣出，唇口乾燥，踡臥足冷，鼻中涕出，舌上胎滑，勿妄治也。到七日已來，其人微發熱，手足溫，此為欲解，或到八日已上，反大發熱，此為難治。設惡寒者，必欲嘔。腹痛者，必欲利也。</p>
<p>脈陰陽俱緊，至於吐利，其脈獨不解。緊去人安，此為欲解。若脈遲，至六七日，不欲食，此為晚發，水停故也，為末解。食自可者，為欲解。</p>
<p>病六七日，手足三部脈皆至，大煩，口噤不能言，其人躁擾，此為欲解。若脈和，其人大煩，目重，瞼內際黃，亦為欲解。</p>
<p>解浮而數，浮即為風，數即為虛，風即發熱，虛即惡寒，風虛相搏，則灑淅惡寒而發熱也。</p>
<p>趺陽脈浮而微，浮即為虛，微即汗出。</p>
<p>脈浮而滑，浮即為陽，滑即為實，陽實相搏，其脈數疾，衛氣失度。浮滑之脈數疾，發熱汗出者，此為不治。</p>
<p>脈散，其人形損，傷寒而咳上氣者，死。</p>
<p>脈微而弱，微即為寒，弱即發熱，當骨節疼痛，煩而極出汗。</p>
<p>寸口脈濡而弱，濡即惡寒，弱即發熱，濡弱相搏，藏氣衰微，胸中苦煩，此非結熱，而反劫之，居水漬布冷銚貼之，陽氣遂微。諸府無所依，陰脈凝聚，結在心下，而不肯移。胃中虛冷，水穀不化，小便縱通，復不能多。微則可救，聚寒在心下，當奈何。</p>

<h2>辨太陽病形證治第三</h2>
<p>夫病有發熱而惡寒者，發於陽也。不熱而惡寒者，發於陰也。發於陽者七日愈，發於陰者六日愈，以陽數七，陰數六故也。　（7）</p>
<p>太陽之為病，頭項強痛而惡寒。　（1）</p>
<p>太陽病，其脈浮。</p>
<p>太陽病，發熱汗出而惡風，其脈緩，為中風。　（2）</p>
<p>太陽中風，發熱而惡寒。</p>
<p>太陽病，或已發熱，或未發熱，必惡寒，體痛，嘔逆，其脈陰陽俱緊，為傷寒。（3）</p>
<p>傷寒一日，太陽脈弱，至四日，太陰脈大。</p>
<p>傷寒一日，太陽受之，脈若靜者為不傳，頗欲吐，躁煩脈數急者，乃為傳。　（4）</p>
<p>傷寒，其二陽證不見，此為不傳。　（5）</p>
<p>傷寒三日，陽明脈大者，為欲傳。　（186）</p>
<p>傷寒三日，少陽脈小者，為欲已。（271）</p>
<p>太陽病，發熱而渴，不惡寒，為溫病，若發汗已，身體灼熱者，為風溫，風溫之為病，脈陰陽俱浮，汗出體重，多眠，鼻息必鼾，語聲難出。若下之，小便不利，直視失溲。若被火，微發黃，劇則如驚癇，時掣縱發作，復以火熏之。一逆尚引日，再逆促命期。　（6）</p>
<p>太陽病，三四日不吐下，見芤乃汗之。</p>
<p>太陽病頭痛，至七日有當愈者，其經竟故也，若欲作再經者，當針足陽明，使經不傳，則愈。（8）</p>
<p>太陽病欲解時，從巳盡未。　（9）</p>
<p>風家表解，而不了了者，十二日愈。（10）</p>
<p>夫病身大熱，反欲得衣者，寒在骨髓，熱在皮膚，身大寒，反不欲近衣者，熱在骨髓，寒在皮膚也。　（11）</p>
<p>太陽中風，陽浮而陰濡弱，陽浮者熱自發，濡弱者汗自出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔，桂枝湯主之。　（12）</p>
<p>太陽病，發熱汗出，此為營弱衛強，故使汗出，欲解邪風，桂枝湯主之。</p>
<p>太陽病，頭痛發熱，汗出惡風，桂枝湯主之。　（13）</p>
<p>太陽病，項背強𠘧𠘧，而反汗出惡風，桂枝湯主之。《論》云：桂枝加葛根湯主之。　（14）</p>
<p>太陽病，下之，其氣上衝者，可與桂枝湯；不沖者，不可與之。　（15）</p>
<p>太陽病三日，已發汗，若吐、若下、若溫針而不解，此為壞病，桂枝不復中與也。觀其脈證，知犯何逆，隨證而治之。（16）</p>
<p>桂枝湯，本為解肌，其人脈浮緊，發熱無汗，不可與也。常須識此，勿令誤也。（16）</p>
<p>酒客不可與桂枝湯，得之則嘔，酒客不喜甘故也。（17）</p>
<p>喘家，作桂枝湯加厚朴杏仁佳。（18）</p>
<p>服桂枝湯吐者，其後必吐膿血。（19）</p>
<p>太陽病，發其汗，遂漏而不止，其人惡風，小便難，四肢微急，難以屈伸，桂枝加附子湯主之。（20）</p>
<p>太陽病，下之，其脈促，胸滿，桂枝去芍藥湯主之。（21）　若微惡寒者，桂枝去芍藥加附子湯主之。（22）</p>
<p>太陽病，得之八九日，如瘧狀，發熱而惡寒，熱多而寒少，其人不嘔，清便自調，日二三發，脈微緩者為欲愈。脈微而惡寒，此陰陽俱虛，不可復吐下發汗也，面反有熱色者，為末欲解，以其不能得小汗出，身必當癢，桂枝麻黃各半湯主之。（23）</p>
<p>太陽病，初服桂枝湯，反煩不解者，當先刺風池、風府，卻與桂枝湯即愈。（24）</p>
<p>服桂枝湯大汗出，若脈但洪大，與桂枝湯，若其形如瘧，一日再發，汗出便解，宜桂枝二麻黃一湯。（25）</p>
<p>服桂枝湯，大汗出後，大煩渴不解，若脈洪大者，白虎加人參湯主之。（26）</p>
<p>太陽病，發熱而惡寒，熱多寒少，脈微弱者，此無陽也，不可復發其汗，宜桂枝二越婢一湯。（27）</p>
<p>服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿而微痛，小便不利者，桂枝去桂加茯苓白朮湯主之。（28）</p>
<p>傷寒脈浮，自汗，小便數，頗微惡寒。論曰：心煩微惡寒，兩腳攣急，反與桂枝湯，欲攻其表，得之便厥，咽乾煩躁吐逆，當作甘草乾薑湯，以復其陽，厥愈足溫，更作芍藥甘草湯與之，其腳即伸。若胃氣不和，譫語，少與調胃承氣湯。若重發汗，復加燒針者，四逆湯主之。（29）</p>
<p>問曰：證象陽旦，按法治之而增劇，厥逆，咽中干，兩脛拘急而譫語，師言夜半手足當溫，兩腳當伸，後如師言，何以知之？答曰：寸口脈浮而大，浮即為風，大即為虛，風則生微熱，虛則兩脛攣，其形象桂枝，因加附子於其間，增桂令汗出，附子溫經，亡陽故也。厥逆咽中干，煩躁，陽明內結，譫語煩亂，更飲甘草乾薑湯，夜半陽氣還，兩足當熱，脛尚微拘急，與芍藥甘草湯，爾乃脛伸，與承氣湯微溏，止其譫語，故知其病可愈。（30）</p>
<p>太陽病，項背強𠘧𠘧，無汗惡風者，葛根湯主之。（31）</p>
<p>太陽與陽明合病，必自利，葛根湯主之。不下利但嘔者（32），葛根加半夏湯主之。（33）</p>
<p>太陽病，桂枝證，醫反下之，遂利不止，其脈促，表未解，喘而汗出，葛根黃連黃芩湯主之。（34）</p>
<p>太陽病，頭痛發熱，身體疼，腰痛，骨節疼痛，惡風，無汗而喘，麻黃湯主之。（35）</p>
<p>太陽與陽明合病，喘而胸滿者，不可下，宜麻黃湯主之。（36）</p>
<p>病十日已去，其脈浮細，嗜臥，此為外解，設胸滿脅痛，與小柴胡湯，脈浮者，與麻黃湯。（37）</p>
<p>太陽中風，脈浮緊，發熱惡寒，身體疼痛，不汗出，而煩躁頭痛，大青龍湯主之。若脈微弱，汗出惡風不可服，服則厥，筋惕肉瞤，此為逆也。（38）</p>
<p>傷寒脈浮緩，其身不疼，但重乍有輕時，無少陰證者，可與大青龍湯發之。（39）</p>
<p>傷寒表不解，心下有水氣，咳而發熱，或渴或利或噎，或小便不利，小腹滿，或微喘，小青龍湯主之。（40）</p>
<p>傷寒心下有水氣，咳而微喘，發熱不渴，服湯已，而渴者，此為寒去欲解，小青龍湯主之。（41）</p>
<p>太陽病，外證未解，其脈浮弱，當以汗解，宜桂枝湯主之。（42）</p>
<p>太陽病，下之微喘者，表未解故也，桂枝加厚朴杏仁湯主之。（43）</p>
<p>太陽病，外證未解者，不可下，下之為逆，解外者，宜桂枝湯主之。（44）</p>
<p>太陽病，先發汗不解，而下之，其脈浮不愈，浮為在外，而反下之，故令不愈。今脈浮，故知在外，當解其外則愈，宜桂枝湯。（45）</p>
<p>太陽病，脈浮緊，無汗而發熱，其身疼痛，八九日不解，其表候仍在，此當發其汗，服藥已微除。其人發煩目瞑，劇者必衄，衄乃解，所以然者，陽氣重故也，麻黃湯主之。（46）</p>
<p>太陽病，脈浮緊，發熱，其身無汗，自衄者愈。（47）</p>
<p>二陽並病，太陽初得病時，發其汗，汗先出不徹。因轉屬陽明，續自微汗出，不惡寒，若太陽病證不罷，不可下，下之為逆，如此者可小發其汗。設面色緣緣正赤者，陽氣怫鬱不得越，當解之熏之，當汗而不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣，但坐以汗出不徹故也，更發其汗即愈。何以知汗出不徹，以脈澀故知之。（48）</p>
<p>脈浮數，法當汗出而愈，若下之，身體重心悸者，不可發汗，當自汗出而解。所以然者，尺中脈微，此裡虛，須表裡實，津液自和，即自汗出愈。（49）</p>
<p>脈浮而緊，法當身疼頭痛，宜以汗解之，假令尺中脈遲者，不可發其汗，何以故，此為營氣不足，血氣微少故也。（50）</p>
<p>脈浮者，病在表，可發汗，宜麻黃湯。一云：桂枝湯。（51）</p>
<p>脈浮而數者，可發汗，宜麻黃湯。（52）</p>
<p>病常自汗出者，此為營氣和，衛氣不和故也。營行脈中，為陰主內，衛行脈外，為陽主外，復發其汗，衛和則愈，宜桂枝湯。（53）</p>
<p>病人藏無他病，時發熱，自汗出而不愈，此衛氣不和也，先時發汗即愈，宜桂枝湯。（54）</p>
<p>傷寒，脈浮緊，不發汗，因致衄者，宜麻黃湯。（55）</p>
<p>傷寒，不大便，六七日，頭痛有熱，未可與承氣湯，其小便反清，此為不在裡而在表也，當發其汗。頭痛者必衄，宜桂枝湯。（56）</p>
<p>傷寒，發汗已解，半日許，復煩，其脈浮數，可與復發汗，宜桂枝湯。（57）</p>
<p>凡病若發汗、若吐、若下、若亡血無津液，而陰陽自和者，必自愈。（58）</p>
<p>大下後，發汗，其人小便不利，此亡津液，勿治之，其小便利，必自愈。（59）</p>
<p>下之後，發其汗，必振寒，脈微細，所以然者，內外俱虛故也。（60）</p>
<p>下之後，復發其汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，而無表證，脈沉微，身無大熱者，乾薑附子湯主之。（61）</p>
<p>發汗後，身體疼痛，其脈沉遲，桂枝加芍藥生薑人參湯主之。（62）</p>
<p>發汗後，不可更行桂枝湯，汗出而喘，無大熱者，可與麻黃杏子甘草石膏湯。（63）</p>
<p>發汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。（64）</p>
<p>發汗後，其人臍下悸者，欲作賁豚，茯苓桂枝甘草大棗湯主之。（65）</p>
<p>發汗後，腹脹滿，厚朴生薑甘草半夏人參湯主之。（66）</p>
<p>傷寒，若吐、若下、若發汗後，心下逆滿，氣上衝胸，起即頭眩，其脈沉緊，發汗即動經，身為振振搖，茯苓桂枝白朮甘草湯主之。（67）</p>
<p>發其汗不解，而反惡寒者，虛故也，芍藥甘草附子湯主之。（68）　不惡寒，但熱者實也，當和胃氣，宜小承氣湯（70）。</p>
<p>發汗，若下，病仍不解，煩躁，茯苓四逆湯主之。（69）</p>
<p>太陽病，發汗後，大汗出，胃中干，煩躁不得眠，其人慾引水，當稍飲之，令胃中和則愈，若脈浮，小便不利，微熱消渴者，與五苓散主之。（71）</p>
<p>發汗後，脈浮而數，煩渴者，五苓散主之。（72）</p>
<p>傷寒，汗出而渴者，五苓散主之。不渴者，茯苓甘草湯主之。（73）</p>
<p>中風發熱，六七日不解而煩，有表裡證，渴欲飲水，水入即吐，此為水逆，五苓散主之。（74）</p>
<p>未持脈時，病人叉手自冒心，師因教試令咳，而不即咳者，此必兩耳聾無聞也，所以然者，以重發其汗，虛故也。（75）</p>
<p>發汗後，飲水多者必喘，以水灌之亦喘。（75）</p>
<p>發汗後，水藥不得入口為逆。（76）</p>
<p>發汗吐下後，虛煩不得眠，劇者反覆顛倒，心中懊憹，梔子豉湯主之。若少氣，梔子甘草豉湯主之。若嘔，梔子生薑豉湯主之。（76）</p>
<p>發汗，若下之，煩熱胸中窒者，梔子豉湯主之。（77）</p>
<p>傷寒，五六日，大下之後，身熱不去，心中結痛，此為末解，梔子豉湯主之。（78）</p>
<p>傷寒下後，煩而腹滿，臥起不安，梔子厚朴湯主之。（79）</p>
<p>傷寒，醫以丸藥大下之，身熱不去，微煩，梔子乾薑湯主之。（80）</p>
<p>凡用梔子湯證，其人微溏者，不可與服之。（81）</p>
<p>太陽病，發其汗而不解，其人仍發熱，心下悸，頭眩身瞤而動，振振欲擗地者，真武湯主之。（82）</p>
<p>咽喉乾燥者，不可發其汗。（83）</p>
<p>淋家不可發汗，發其汗必便血。（84）</p>
<p>瘡家雖身疼痛，不可攻其表，汗出則痙。（85）</p>
<p>衄家不可攻其表，汗出必額上促急而緊，直視不能眴，不得眠。（86）</p>
<p>亡血家不可攻其表，汗出則寒慄而振。（87）</p>
<p>汗家重發其汗，必恍惚心亂，小便已，陰疼，與禹餘糧丸。（88）</p>
<p>病人有寒，復發其汗，胃中冷，必吐蛔。（89）</p>
<p>本發汗，而復下之，為逆，先發汗者，治不為逆，本先下之，而反汗之，為逆，先下之者，治不為逆。（90）</p>
<p>傷寒，醫下之，續得下利清穀不止，身體疼痛，急當救里，後身疼痛，清便自調，急當救表，救里宜四逆湯，救表宜桂枝湯。（91）</p>
<p>病發熱頭痛，脈反沉，若不瘥，身體更疼痛，當救其里，宜四逆湯。（92）</p>
<p>太陽病，先下之而不愈，因復發其汗，表裡俱虛，其人因致冒，冒家當汗出自愈，所以然者，汗出表和故也。里未和，然後復下之。（93）</p>
<p>太陽病未解，脈陰陽俱停，必先振汗而解，但陽微者先汗之而解，陰微者先下之而解，汗之宜桂枝湯，下之宜承氣湯。（94）</p>
<p>血弱氣盡，腠理開，邪氣因入，與正氣相搏，結於脅下，正邪分爭，往來寒熱，休作有時，嘿嘿不欲食飲，藏府相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主之。（97）</p>
<p>服柴胡湯已，渴者，此為屬陽明，以法治之。（97）</p>
<p>得病六七日，脈遲浮弱，惡風寒，手足溫，醫二三下之，不能食，其人脅下滿痛，面目及身黃，頸項強，小便難，與柴胡湯後，必下重，本渴飲水而嘔，柴胡湯不復中與也，食谷者噦。（98）</p>
<p>中風，五六日，傷寒，往來寒熱，胸脅苦滿，嘿嘿不欲飲食，心煩喜嘔，或胸中煩而不嘔，或渴，或腹中痛，或脅下痞堅，或心中悸，小便不利，或不渴，外有微熱，或咳，小柴胡湯主之。（96）</p>
<p>傷寒，四五日，身熱惡風，頸項強，脅下滿，手足溫而渴，小柴胡湯主之。（99）</p>
<p>傷寒，陽脈澀，陰脈弦，法當腹中急痛，先與小建中湯。不差，即與小柴胡湯主之。（100）</p>
<p>傷寒中風，有小柴胡證，但見一證便是，不必悉具。（101）</p>
<p>凡柴胡湯證，而下之，柴胡證不罷者，復與柴胡湯，必蒸蒸而振，卻發熱汗出而解。（101）</p>
<p>傷寒，二三日，心中悸而煩，小建中湯主之。</p>
<p>太陽病，過經十餘日，及二三下之，後四五日柴胡證仍在，先與小柴胡湯，嘔止小安，其人鬱郁微煩者，為末解，與大柴胡湯下之，愈。（102）</p>
<p>傷寒，十三日不解，胸脅滿而嘔，日晡發潮熱而微利，此本柴胡證，下之不得利，今反利者，知醫以丸藥下之，非其治也。潮熱者實也，先再服小柴胡湯解其外，後以柴胡加芒硝湯主之。（104）</p>
<p>傷寒十三日，過經而譫語，內有熱也，當以湯下之，小便利者，大便當堅，而反下利，其脈調和者，知醫以丸藥下之，非其治也。自利者，其脈當微厥，今反和者，此為內實也，調胃承氣湯主之。（105）</p>
<p>太陽病不解，熱結膀胱，其人如狂，血自下，下者即愈，其外不解，尚未可攻，當先解其外，外解小腹急結者，乃可攻之，宜桃核承氣湯。（106）</p>
<p>傷寒八九日，下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側，柴胡加龍骨牡蠣湯主之。（107）</p>
<p>傷寒，腹滿而譫語，寸口脈浮而緊者，此為肝乘脾，名曰縱，當刺期門。（108）</p>
<p>傷寒發熱，嗇嗇惡寒，其人大渴，欲飲酢漿者其腹必滿而自汗出，小便利，其病欲解，此為肝乘肺，名曰橫，當刺期門。（109）</p>
<p>太陽病二日，而反燒瓦熨其背，而大汗出，火熱入胃，胃中水竭，躁煩，必當譫語，十餘日，振而反汗出者，此為欲解也。其汗從腰以下不得汗，欲小便不得，反嘔，欲失溲，足下惡風，大便堅者，小便當數，而反不數，及不多，大便已，頭卓然而痛，其人足心必熱，穀氣下流故也。（110）</p>
<p>太陽中風，以火劫發其汗，邪風被火熱，血氣流溢，失其常度，兩陽相熏灼，其身發黃，陽盛即欲衄，陰虛小便難，陰陽俱虛竭，身體則枯燥，但頭汗出，劑頸而還，腹滿微喘，口乾咽爛，或不大便，久則譫語，甚者至噦，手足躁擾，尋衣摸床，小便利者，其人可治。（111）</p>
<p>傷寒脈浮，醫以火迫劫之，亡陽，驚狂臥起不安，桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。（112）</p>
<p>傷寒，其脈不弦緊而弱者，必渴，被火必譫語，弱者發熱，脈浮，解之，當汗出愈。（113）</p>
<p>太陽病，以火熏之，不得汗者，其人必燥，到經不解，必清血，名火邪。（114）</p>
<p>脈浮熱盛，而灸之，此為實，實以虛治，因火而動，咽燥必吐血。（115）</p>
<p>微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，內攻有力，焦骨傷筋，血難復也。（116）</p>
<p>脈浮，當以汗解，而反灸之，邪無從出，因火而盛，病從腰以下必重而痹，此為火逆。（116）</p>
<p>欲自解者，必當先煩，乃有汗，隨汗而解，何以知之？脈浮故知汗出而解。（116）</p>
<p>燒針令其汗，針處被寒，核起而赤者，必發賁豚。氣從少腹上衝心者，灸其核上各一壯，與桂枝加桂湯。（117）</p>
<p>火逆，下之，因燒針煩躁者，桂枝甘草龍骨牡蠣湯主之。（118）</p>
<p>太陽傷寒，加溫針必驚。（119）</p>
<p>太陽病，當惡寒而發熱，今自汗出，反不惡寒而發熱，關上脈細而數，此醫吐之故也。一日二日吐之者，腹中飢，口不能食。三日四日吐之者，不喜糜粥，欲食冷食，朝食夕吐，以醫吐之所致也，此為小逆。（120）</p>
<p>太陽病，吐之，但太陽病當惡寒，今反不惡寒，不欲近衣，此為吐之內煩也。（121）</p>
<p>病人脈數，數為熱，當消穀引食，而反吐者，以醫發其汗，陽氣微，膈氣虛，脈則為數，數為客熱，不能消穀，胃中虛冷故吐也。（122）</p>
<p>太陽病，過經十餘日，心下嗢嗢欲吐，而又胸中痛，大便反溏，其腹微滿，鬱郁微煩，先時自極吐下者，與調胃承氣湯，不爾者，不可與，反欲嘔，胸中痛，微溏，此非湯證，以嘔故知極吐下也。（123）</p>
<p>太陽病，七八日，表證仍在，其脈微沉，反不結胸，其人發狂，此熱在下焦，少腹當堅而滿，小便自利者，下血乃愈。所以然者，太陽隨經瘀熱在裡故也。（124）</p>
<p>太陽病，身黃，其脈沉結，少腹堅，小便不利，為無血也，小便自利，其人如狂者，血證諦也。（125）</p>
<p>傷寒有熱，而少腹滿，應小便不利，今反利者，為有血也，當下之，不可余藥，宜抵當丸。（126）</p>
<p>太陽病，小便利者，為多飲水，心下必悸，小便少者，必苦裡急也。（127）</p>

<h1>《金匱玉函經》卷第三</h1>

<h2>辨太陽病形證治下第四</h2>
<p>問曰：病有結胸，有藏結，其狀何如？答曰：按之痛，其脈寸口浮，關上自沉，為結胸。（128）</p>
<p>問曰：何為藏結？答曰：如結胸狀，飲食如故，時小便不利，陽脈浮，關上細，沉而緊，為藏結。舌上白胎滑者，為難治。（129）</p>
<p>藏結者無陽證，不往來寒熱，一云：寒而不熱，其人反靜，舌上胎滑者，不可攻也。（130）</p>
<p>夫病發於陽，而反下之，熱入因作結胸，發於陰而反下之，因作痞。結胸者，下之早，故令結胸。（131）</p>
<p>結胸者，其項亦強，如柔痙狀，下之即和，宜大陷胸丸。（131）</p>
<p>結胸證，其脈浮大，不可下，下之即死。（132）</p>
<p>結胸證悉具，而躁者死。（133）</p>
<p>太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出，而反惡寒者，其表未解也。醫反下之，動數變遲，頭痛則眩，胃中空虛，客氣動膈，短氣煩躁，心中懊憹，陽氣內陷，心下因堅，則為結胸，大陷胸湯主之。若不結胸，但頭汗出，其餘無汗，劑頸而還，小便不利，身必發黃。（134）</p>
<p>傷寒六七日，結胸熱實，其脈浮緊，心下痛，按之如石堅，大陷胸湯主之。（135）</p>
<p>傷寒十餘日，熱結在裡，復往來寒熱，當與大柴胡湯。但結胸無大熱，此為水結在胸脅。頭微汗出，大陷胸湯主之。（136）</p>
<p>太陽病，重發其汗，而復下之，不大便，五六日，舌上燥而渴，日晡小有潮熱，從心下至少腹堅滿而痛，不可近，大陷胸湯主之。（137）</p>
<p>小結胸者，正在心下，按之即痛，其脈浮滑，小陷胸湯主之。（138）</p>
<p>太陽病，二三日不能臥，但欲起者，心下必結，其脈微弱者，此本寒也。而反下之，利止者必結胸。未止者，四日復重下之，此挾熱利也。（139）</p>
<p>太陽病，下之，其脈促，不結胸者，此為欲解。其脈浮者，必結胸。其脈緊者，必咽痛。其脈弦者，必兩脅拘急。其脈細而數者，頭痛未止。其脈沉而緊者，必欲嘔。其脈沉而滑者，挾熱利。其脈浮而滑者，必下血。（140）</p>
<p>病在陽，當以汗解，而反以水潠之，若灌之，其熱被劫不得去，益煩，皮上粟起，意欲飲水，反不渴，服文蛤散。若不差，與五苓散。若寒實結胸，無熱證者，與三物小白散。（141）</p>
<p>太陽與少陽並病，頭項強痛，或眩，時如結胸，心下痞而堅，當刺大椎第一間、肺俞、肝俞，慎不可發汗，發汗即譫語。譫語則脈弦，譫語五六日不止，當刺期門。（142）</p>
<p>婦人中風，發熱惡寒，經水適來，得之七八日，熱除而脈遲，身涼，胸脅下滿，如結胸狀，其人譫語，此為熱入血室，當刺期門，隨其虛實而取之。（143）</p>
<p>婦人中風，七八日，續得寒熱，發作有時，經水適斷者，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。（144）</p>
<p>婦人傷寒，發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀者，此為熱入血室。無犯胃氣，及上二焦，必當自愈。（145）</p>
<p>傷寒六七日，發熱微惡寒，支節煩疼，微嘔，心下支結，外證未去者，柴胡桂枝湯主之。（146）</p>
<p>傷寒五六日，已發汗，而復下之，胸脅滿，微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，心煩，此為末解也，柴胡桂枝幹薑湯主之。（147）</p>
<p>傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便堅，其脈細，此為陽微結，必有表，復有里。沉亦為病在裡，汗出為陽微，假令純陰結，不得有外證，悉入在於里，此為半在外半在裡。脈雖沉緊，不得為少陰，所以然者，陰不得有汗，今頭汗出，故知非少陰也，可與小柴胡湯。設不了了者，得屎而解。（148）</p>
<p>傷寒五六日，嘔而發熱，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯，此雖以下之，不為逆，必蒸蒸而振，卻發熱汗出而解，若心下滿而堅痛者，此為結胸。大陷胸湯主之。若但滿而不痛者，此為痞，柴胡不復中與也，半夏瀉心湯主之。（149）</p>
<p>太陽少陽並病，而反下之，結胸心下堅，利復不止，水漿不肯下，其人必心煩。（150）</p>
<p>脈浮而緊，而反下之，緊反入里，則作痞，按之自濡，但氣痞耳。（151）</p>
<p>太陽中風，下利嘔逆，表解乃可攻之，其人漐漐汗出，發作有時，頭痛，心下痞堅，滿引脅下痛，嘔即短氣，此為表解里未和，十棗湯主之。（152）</p>
<p>太陽病，醫發其汗，遂發熱惡寒，復下之，則心下痞，表裡俱虛，陰陽氣並竭，無陽則陰獨，復加燒針，因胸煩，面色青黃，膚瞤，如此者為難治。今色微黃，手足溫者，易愈。（153）</p>
<p>心下痞，按之濡，其脈關上自浮，大黃黃連瀉心湯主之。（154）</p>
<p>若心下痞，而復惡寒汗出者，附子瀉心湯主之。（155）</p>
<p>本以下之，故心下痞，與瀉心湯，痞不解，其人渴而口燥煩，小便不利者，五苓散主之。一方云：忍之一日，乃愈。（156）</p>
<p>傷寒汗出解之後，胃中不和，心下痞堅，乾噫食臭，脅下有水氣，腹中雷鳴而利，生薑瀉心湯主之。（157）</p>
<p>傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞堅而滿，乾嘔而煩，不得安，醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但胃中虛，客氣上逆，故使之堅，甘草瀉心湯主之。（158）</p>
<p>傷寒，服湯藥下利不止，心下痞堅。服瀉心湯已，復以他藥下之，利不止，醫以理中與之，利益甚。理中者理中焦，此利在下焦，赤石脂禹餘糧湯主之。若不止者，當利其小便。（159）</p>
<p>傷寒吐下後，發汗虛煩，脈甚微，八九日，心下痞堅，脅下痛，氣上衝咽喉，眩冒，經脈動惕者，久而成痿。（160）</p>
<p>傷寒汗出，若吐、若下解後，心下痞堅，噫氣不除者，旋覆代赭石湯主之。（161）</p>
<p>太陽病，外證未除，而數下之，遂挾熱而利不止，心下痞堅，表裡不解者，桂枝人參湯主之。（163）</p>
<p>大下以後，不可更行桂枝湯，若汗出而喘，無大熱者，可與麻黃杏仁甘草石膏湯。（162）</p>
<p>傷寒大下後，復發其汗，心下痞，惡寒者，表未解也，不可攻痞，當先解表，解乃可攻其痞。解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。（164）</p>
<p>傷寒，發熱，汗出不解，心下痞堅，嘔吐下利者，大柴胡湯主之。（165）</p>
<p>病如桂枝證，頭不痛，項不強，寸脈微浮，胸中痞堅，氣上衝咽喉不得息者，此為胸有寒也，當吐之，宜瓜蒂散。（166）</p>
<p>病者若脅下素有痞，連在臍傍，痛引少腹，入陰俠陰筋者，此為藏結，死。（167）</p>
<p>傷寒，若吐、若下後，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。（168）</p>
<p>傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯，渴欲飲水，無表證者，白虎湯主之。（170）</p>
<p>凡用白虎湯，立夏後至立秋前得用之，立秋後不可服也。</p>
<p>春三月病常苦裡冷，白虎湯亦不可與，與之則嘔利而腹痛。</p>
<p>諸亡血虛家，亦不可與白虎湯，得之腹痛而利者，急當溫之。</p>
<p>太陽與少陽並病，心下痞堅，頭項強而眩，當刺大椎第一間、肺俞、肝俞，慎勿下之。（171）</p>
<p>傷寒無大熱，口燥渴而煩，其背微惡寒者，白虎加人參湯主之。（169）</p>
<p>太陽與少陽合病，自下利者，與黃芩湯，若嘔者，黃芩加半夏生薑湯主之。（172）</p>
<p>傷寒，胸中有熱，胃中有邪氣，腹中痛，欲嘔吐，黃連湯主之。（173）</p>
<p>傷寒八九日，風濕相搏，身體疼煩，不能自轉側，不嘔不渴，脈浮虛而澀者，桂枝附子湯主之。若其人大便堅，小便自利，朮附子湯主之。（174）</p>
<p>風濕相搏，骨節疼煩，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫，甘草附子湯主之。（175）</p>
<p>傷寒脈浮滑，而表熱裡寒者，白通湯主之。舊云白通湯；一云白虎者，恐非。（176）（舊云以下，出叔和。）</p>
<p>傷寒脈結代，心中驚悸，炙甘草湯主之。（177）</p>

<h2>辨陽明病形證治第五</h2>
<p>陽明之為病，胃家實是也。（180）</p>
<p>問曰：病有太陽陽明，有正陽陽明，有微陽陽明，何謂也？答曰：太陽陽明者脾約（一作脾結）是也。正陽陽明者，胃家實是也。微陽陽明者，發其汗，若利其小便，胃中燥，大便難是也。（179）</p>
<p>問曰：何緣得陽明病？答曰：太陽病發其汗，若下之亡其津液，胃中乾燥，因轉屬陽明，不更衣，內實大便難者，為陽明病也。（181）</p>
<p>問曰：陽明病外證云何？答曰：身熱汗出，而不惡寒，但反惡熱也。（182）</p>
<p>問曰：病有得之一日，不惡熱而惡寒者云何？答曰：然雖一日惡寒自罷，即汗出惡熱也。（183）</p>
<p>問曰：惡寒何故自罷？答曰：陽明居中土也。萬物所歸，無所復傳，始雖惡寒，二日自止，此為陽明病也。（184）</p>
<p>本太陽初得病時，發其汗，汗先出不徹，因轉屬陽明也。（185）</p>
<p>病發熱無汗，嘔不能食，而反汗出濈濈然，是為轉屬陽明。（185）</p>
<p>傷寒脈浮而緩，手足自溫，是為系在太陰，太陰身當發黃，若小便自利者，不能發黃，至七八日便堅，為屬陽明。（187）</p>
<p>傷寒轉系陽明者，其人濈濈然微汗出也。（188）</p>
<p>陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮緊，若下之，則腹滿小便難也。（189）</p>
<p>陽明病，能食為中風，不能食為中寒。（190）</p>
<p>陽明病，中寒不能食，而小便不利，手足濈然汗出，此欲作堅瘕，必大便初堅後溏，所以然者，胃中冷，水穀不別故也。（191）</p>
<p>陽明病，初欲食，食之小便反不數，大便自調，其人骨節疼，翕翕如有熱狀，奄然發狂，濈然汗出而解，此為水不勝穀氣，與汗共並，脈緊即愈。（192）</p>
<p>陽明病欲解時，從申盡戌。（193）</p>
<p>陽明病，不能食，攻其熱必噦，所以然者，胃中虛冷故也，其人本虛，故攻其熱必噦。（194）</p>
<p>陽明病脈遲，食難用飽，飽即發煩，頭眩，必小便難，此欲作谷疸，雖下之，腹滿如故，所以然者，脈遲故也。（195）</p>
<p>陽明病久久而堅者，陽明當多汗，而反無汗，其身如蟲行皮中之狀，此以久虛故也。（196）</p>
<p>各陽明病，反無汗而但小便，二三日嘔而咳，手足若厥者，其人頭必痛，若不嘔不咳，手足不厥者，其頭不痛。（197）</p>
<p>各陽明病，但頭眩，不惡寒，故能食而咳，其人咽必痛，若不咳者，其咽不痛。（198）</p>
<p>陽明病，脈浮而緊，其熱必潮，發作有時，但浮者，必盜汗出。（201）</p>
<p>陽明病，無汗，小便不利，心中懊憹者，必發黃。（199）</p>
<p>陽明病，被火，額上微汗出，小便不利者，必發黃。（200）</p>
<p>陽明病，口燥，但欲嗽水，不欲咽者，必衄。（202）</p>
<p>陽明病，本自汗出，醫復重發汗，病已瘥，其人微煩，不了了者，此大便堅也，以亡精液胃中燥，故令其堅，當問其小便日幾行？若本日三四行，今日再行者，知必大便不久出，今為小便數少，津液當還入胃中，故知必當大便也。（203）</p>
<p>夫病陽多者熱，下之則堅，汗出多，極，發其汗亦堅。</p>
<p>傷寒嘔多，雖有陽明證，不可攻之。（204）</p>
<p>陽明病，心下堅滿，不可攻之，攻之遂利不止者死，止者愈。（205）</p>
<p>陽明病，面合赤色，不可攻之，攻之必發熱色黃，小便不利也。（206）</p>
<p>陽明病，不吐下而煩者，可與調胃承氣湯。（207）</p>
<p>陽明病，其脈遲，雖汗出不惡寒者，其身必重，短氣腹滿而喘，有潮熱，如此者其外為欲解，可攻其里也，手足濈然汗出，此為已堅，大承氣湯主之。若汗出多，微發熱惡寒者，外為末解，其熱不潮，未可與承氣湯。若腹大滿不通者，可與小承氣湯，微和其胃氣，勿令至大下。（208）</p>
<p>陽明病，潮熱，大便微堅者，可與大承氣湯，不堅者勿與之，若不大便六七日，恐有燥屎。欲知之法，可與小承氣湯，湯入腹中，轉矢氣者，為有燥屎，乃可攻之；若不轉矢氣者，此但頭堅後溏，不可攻之，攻之必脹滿不能食也。欲飲水者，與水即噦，其後發潮熱，必復堅而少也，以小承氣湯和之。若不轉矢氣者，慎不可攻也。（209）</p>
<p>夫實則譫語，虛則鄭聲，鄭聲者，重語是也。（210）</p>
<p>直視譫語，喘滿者死，若下利者亦死。（210）</p>
<p>發汗多，重發其汗，若已下，復發其汗，亡其陽，譫語脈短者死，脈自和者不死。（211）</p>
<p>傷寒，吐下後，不解，不大便五六日，上至十餘日，日晡時發潮熱，不惡寒，獨語如見鬼狀，若劇者，發則不識人，循衣撮空，怵惕不安，微喘直視，脈弦者生，澀者死，微者但發熱。譫語者，大承氣湯主之。若—服利，止後服。（212）</p>
<p>陽明病，其人多汗，以津液外出，胃中燥，大便必堅，堅則譫語，小承氣湯主之，一服譫語止，莫復服。（213）</p>
<p>陽明病，譫語，發潮熱，其脈滑而疾者，小承氣湯主之。因與承氣湯一升，腹中轉矢氣者，復與一升。若不轉矢氣，勿更與之，明日不大便，脈反微澀者，裡虛也，為難治，不可更與承氣湯也。（214）</p>
<p>陽明病，譫語，有潮熱，而反不能食者，必有燥屎五六枚也。若能食者但堅耳，大承氣湯主之。（215）</p>
<p>陽明病，下血譫語者，此為熱入血室，但頭汗出者，當刺期門，隨其實而瀉之，濈然汗出則愈。（216）</p>
<p>汗出譫語者，以有燥屎在胃中，此為風也，須下之，過經乃可下之，下之若早，語言必亂，以表虛里實故也。下之則愈，宜大承氣湯。（217）</p>
<p>傷寒四五日，脈沉而喘滿，沉為在裡，而反發其汗，津液越出，大便為難，表虛里實，久則譫語。（218）</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語遺溺，發汗則譫語甚，下之則額上生汗，手足厥冷，若自汗出者，白虎湯主之。（219）</p>
<p>二陽並病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之即愈，宜大承氣湯。（220）</p>
<p>陽明病，其脈浮緊，咽乾口苦，腹滿而喘，發熱，汗出，不惡寒，反惡熱，身重，發其汗即躁，心憒憒反譫語，加溫針必怵惕煩躁，不得眠，下之，即胃中空虛，客氣動膈，心中懊憹，舌上胎者，梔子鼓湯主之。（221）若渴欲飲水，口乾舌燥者，白虎湯主之。（222）若脈浮，發熱，渴欲飲水，小便不利者，豬苓湯主之。（223）</p>
<p>陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯複利其小便故也。（224）</p>
<p>脈浮而遲，表熱裡寒，下利清穀者，四逆湯主之。（225）</p>
<p>若胃中虛冷，其人不能食，飲水即噦。（226）</p>
<p>脈浮，發熱，口乾鼻燥，能食者即衄。（227）</p>
<p>陽明病，下之，其外有熱，手足溫，不結胸，心中懊憹，飢不能食，但頭汗出，梔子豉湯主之。（228）</p>
<p>陽明病，發潮熱，大便溏，小便自可，而胸脅滿不去者，小柴胡湯主之。（229）</p>
<p>陽明病，脅下堅滿，不大便而嘔，舌上白胎者，可與小柴胡湯。上焦得通，津液得下，胃氣因和，身濈然汗出而解。（230）</p>
<p>陽明中風，脈弦浮大，而短氣，腹都滿，脅下及心痛，久按之氣不通，鼻乾，不得汗，其人嗜臥，一身及面目悉黃，小便難，有潮熱，時時噦，耳前後腫，刺之小差，其外不解，病過十日，脈續浮者，與小柴胡湯。（231）　但浮無餘證者，與麻黃湯。不溺腹滿，加喘者，不治。（232）</p>
<p>陽明病，自汗出，若發其汗，小便自利，此為津液內竭，雖堅不可攻之，當須自欲大便，宜蜜煎導而通之，若土瓜根豬膽汁皆可為導。（233）</p>
<p>陽明病，其脈遲，汗出多而微惡寒者，表為末解，可發其汗，宜桂枝湯。（234）</p>
<p>陽明病，脈浮，無汗，其人必喘，發其汗即愈，宜麻黃湯主之。（235）</p>
<p>陽明病，發熱而汗出，此為熱越，不能發黃也，但頭汗出，身無汗，齊頸而還，小便不利，渴引水漿，此為瘀熱在裡，身必發黃，茵陳湯主之。（236）</p>
<p>陽明證，其人喜忘者，必有畜血，所以然者，本有久瘀血，故令喜忘，屎雖堅，大便反易，其色必黑，抵當湯主之。（237）</p>
<p>陽明病，下之心中懊憹而煩，胃中有燥屎者，可攻。其人腹微滿，頭堅後溏者，不可攻之。若有燥屎者，宜大承氣湯。（238）</p>
<p>病者五六日不大便，繞臍痛，躁煩，發作有時，此為有燥屎，故使不大便也。（239）</p>
<p>病人煩熱，汗出即解，復如瘧狀，日晡所發熱者，屬陽明也。脈實者，當下之，脈浮虛者，當發汗，下之宜大承氣湯，發汗宜桂枝湯。（240）</p>
<p>大下後，六七日不大便，煩不解，腹滿痛者，此有燥屎，所以然者，本有宿食故也，大承氣湯主之。（241）</p>
<p>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎故也，大承氣湯主之。（242）</p>
<p>食谷欲嘔者，屬陽明，吳茱萸湯主之。得湯反劇者，屬上焦。（243）</p>
<p>太陽病，寸緩，關小浮，尺弱，其人發熱，汗出復惡寒，不嘔，但心下痞者，此以醫下之也，若不下，其人復不惡寒而渴者，為轉屬陽明，小便數者，大便即堅，不更衣十日無所苦也，渴欲飲水者，少少與之，但以法救之，渴者，宜五苓散。（244）</p>
<p>脈陽微，而汗出少者，為自和，汗出多者為太過。陽脈實，因發其汗，出多者亦為太過。太過者，陽絕於內，亡津液，大便因堅。（245）</p>
<p>脈浮而芤，浮則為陽，芤則為陰，浮芤相搏，胃氣生熱，其陽則絕。（246）</p>
<p>趺陽脈浮而澀，浮則胃氣強，澀則小便數，浮澀相搏，大便則堅，其脾為約，麻子仁丸主之。（247）</p>
<p>太陽病，三日，發其汗，不解，蒸蒸然發熱者，屬胃也，調胃承氣湯主之。（248）</p>
<p>傷寒吐後，腹脹滿者，與調胃承氣湯。（249）</p>
<p>太陽病，吐下發汗後，微煩，小便數，大便堅，可與小承氣湯和之，愈。（250）</p>
<p>得病二三日，脈弱，無太陽柴胡證，煩躁，心下堅，至四五日雖能食，以小承氣湯，少少與，微和之，令小安，至六日，與承氣湯一升。若不大便，六七日，小便少者，雖不能食，但頭堅後溏，未定成堅，攻之必溏，須小便利，屎定堅，乃可攻之，宜大承氣湯。（251）</p>
<p>傷寒六七日，目中不了了，睛不和，無表裡證，大便難，身微熱者，此為實，急下之，宜大承氣湯。（252）</p>
<p>陽明病，發熱汗多者，急下之，宜大承氣湯。（253）</p>
<p>發汗不解，腹滿痛者，急下之，宜大承氣湯。（254）</p>
<p>腹滿不減，減不足言，當下之，宜大承氣湯。（255）</p>
<p>傷寒腹滿，按之不痛者為虛，痛者為實，當下之。舌黃未下者，下之黃自去，宜大承氣湯。</p>
<p>陽明與少陽合病，必下利，其脈不負者為順，負者為失，互相剋賊，名為負。若滑而數者，有宿食也，當下之，宜大承氣湯。（256）</p>
<p>病人無表裡證，發熱七八日，脈雖浮數者，可下之，假令下已，脈數不解，合熱則消穀善飢，至六七日，不大便者，有瘀血，宜抵當湯（257）。若脈數不解，而下不止，必挾熱便膿血。（258）</p>
<p>傷寒七八日，身黃如橘子色，小便不利，少腹微滿，茵陳蒿湯主之。（260）</p>
<p>傷寒，身黃，發熱，梔子檗皮湯主之。（261）</p>
<p>傷寒，瘀熱在裡，身必發黃，宜麻黃連軺赤小豆湯主之。（262）</p>
<p>傷寒，發其汗已，身目為黃，所以然者，以寒濕相搏在裡，不解故也，以為非瘀熱而不可下，當於寒濕中求之。（259）</p>

<h2>辨少陽病形證治第六</h2>
<p>少陽之為病，口苦、咽乾、目眩也。（263）</p>
<p>少陽中風，兩耳無聞，目赤，胸中滿而煩，不可吐下，吐下即悸而驚。（264）</p>
<p>傷寒，脈弦細，頭痛發熱者，屬少陽，少陽不可發汗，發汗則譫語，此屬胃，胃和即愈，胃不和則煩而悸。（265）</p>
<p>太陽病不解，轉入少陽者，脅下堅滿，乾嘔，不能食飲，往來寒熱，尚未吐下，其脈沉緊，與小柴胡湯（266）。若已吐下、發汗、溫針，譫語，柴胡證罷，此為壞病，知犯何逆，以法治之。（267）</p>
<p>三陽合病，脈浮大，上關上，但欲寐，目合則汗。（268）</p>
<p>傷寒六七日，無大熱，其人躁煩，此為陽去入陰也。（269）</p>
<p>傷寒三日，三陽為盡，三陰當受邪，其人反能食而不嘔，此為三陰不受邪也。（270）</p>
<p>少陽病欲解時，從寅盡辰。（272）</p>

<h1>《金匱玉函經》卷第四</h1>

<h2>辨太陰病形證治第七</h2>
<p>太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下痞堅。（273）</p>
<p>太陰病，脈浮者，可發其汗，宜桂枝湯。（276）</p>
<p>太陰中風，四肢煩疼，陽微陰澀而長者，為欲愈。（274）</p>
<p>太陰病欲解時，從亥盡醜。（275）</p>
<p>自利不渴者屬太陰，以其藏有寒故也，當溫之，宜四逆輩。（277）</p>
<p>傷寒脈浮而緩，手足自溫者，系在太陰，太陰當發身黃，若小便自利者，不能發黃，至七八日，雖暴煩，下利日十餘行，必自止，所以然者，此脾家實，腐穢當去也。（278）</p>
<p>太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝加芍藥湯主之。大實痛者，桂枝加大黃湯主之。（279）</p>
<p>太陰為病，脈弱，其人續自便利，設當行大黃芍藥者，宜減之，其人胃氣弱易動故也。（下利，先煎芍藥三沸。）（280）</p>

<h2>辨少陰病形證治第八</h2>
<p>少陰之為病，脈微細，但欲寐。（281）</p>
<p>少陰病，欲吐不吐，心煩，但欲寐，五六日自利而渴者，屬少陰也，虛故引水自救，若其人小便色白者，為少陰病形悉具，所以然者，以下焦虛有寒，不能制溲，故白也。（282）</p>
<p>病人脈陰陽俱緊，而反汗出，為亡陽，此屬少陰，法當咽痛，而復吐利。（283）</p>
<p>少陰病，咳而下利，譫語者，被火氣劫故也，小便必難，為強責少陰汗也。（284）</p>
<p>少陰病，脈細沉數，病為在裡，不可發其汗。（285）</p>
<p>少陰病，脈微，不可發汗，亡陽故也。陽已虛，尺中弱澀者，復不可下之。（286）</p>
<p>少陰病，脈緊，至七八日自下利，其脈暴微，手足反溫，脈緊去，此為欲解，雖煩下利，必自愈。（287）</p>
<p>少陰病下利，若利自止，惡寒而踡，手足溫者，可治。（288）</p>
<p>少陰病，惡寒而踡，時自煩，欲去衣被者，可治。（289）</p>
<p>少陰中風，脈陽微陰浮，為欲愈。（290）</p>
<p>少陰病，欲解時，從子盡寅。（291）</p>
<p>少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血也。（293）</p>
<p>少陰病，吐利，手足不逆冷，反發熱者，不死，脈不至者，灸少陰七壯。（292）</p>
<p>少陰病，但厥，無汗，而強發之，必動其血，未知從何道出，或從口鼻，或從目出，是名下厥上竭，為難治。（294）</p>
<p>少陰病，惡寒，身踡而利，手足逆冷者，不治。（295）</p>
<p>少陰病，下利止，而頭眩，時時自冒者死。（297）</p>
<p>少陰病，吐利，煩躁，四逆者死。（296）</p>
<p>少陰病，四逆，惡寒而身踡，脈不至，不煩而躁者死。（298）</p>
<p>少陰病，六七日，息高者死。（299）</p>
<p>少陰病，脈微細沉，但欲臥，汗出不煩，自欲吐，五六日自利，復煩躁不得臥寐者死。（300）</p>
<p>少陰病，始得之反發熱，脈沉者，麻黃附子細辛湯主之。（301）</p>
<p>少陰病，得之二三日，麻黃附子甘草湯微發汗，以二三日無里證，故微發汗。（302）</p>
<p>少陰病，得之二三日已上，心中煩，不得臥，黃連阿膠湯主之。（303）</p>
<p>少陰病，得之一二日，口中和，其背惡寒者，當灸之，附子湯主之。（304）</p>
<p>少陰病，身體痛，手足寒，骨節痛，脈沉（一作微）者，附子湯主之。（305）</p>
<p>少陰病，下利便膿血，桃花湯主之。（306）</p>
<p>少陰病，二三日至四五日腹痛，小便不利，下利不止而便膿血，桃花湯主之。（307）</p>
<p>少陰病，下利便膿血者，可刺。（308）</p>
<p>少陰病，吐利，而手足逆冷，煩躁欲死者，吳茱萸湯主之。（309）</p>
<p>少陰病，下利，咽痛，胸滿心煩，豬膚湯主之。（310）</p>
<p>少陰病，二三日，咽痛者，可與甘草湯。不差者，與桔梗湯。（311）</p>
<p>少陰病，咽中傷，生瘡，不能語言，聲不出者，苦酒湯主之。（312）</p>
<p>少陰病，咽中痛，半夏散及湯主之。（313）</p>
<p>少陰病，下利，白通湯主之。（314）</p>
<p>少陰病，下利，脈微，服白通湯利不止，厥逆無脈，乾嘔煩者，白通加豬膽汁湯主之，服湯脈暴出者死，微續者生。（315）</p>
<p>少陰病，二三日不已，至四五日腹痛，小便不利，四肢沉重，疼痛而利，此為有水氣，其人或咳，或小便自利，或下利，或嘔者，真武湯主之。（316）</p>
<p>少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或咽痛，或利止而脈不出，通脈四逆湯主之。（317）</p>
<p>少陰病，四逆，其人或咳，或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主之。（318）</p>
<p>少陰病，下利，六七日，咳而嘔渴，心煩不得眠者，豬苓湯主之。（319）</p>
<p>少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯。（320）</p>
<p>少陰病，下利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。（321）</p>
<p>少陰病，六七日，腹脹不大便者，急下之，宜大承氣湯。（322）</p>
<p>少陰病，脈沉者，急溫之，宜四逆湯。（323）</p>
<p>少陰病，飲食入口即吐，心下嗢嗢欲吐，復不能吐，始得之手足寒，脈弦遲者，此胸中實，不可下也，當吐之。若膈上有寒飲，乾嘔者，不可吐，急溫之，宜四逆湯。（324）</p>
<p>少陰病，下利，脈微澀，嘔而汗出，必數更衣，反少者，當溫其上，灸之。（脈經云：灸厥陰五十壯。）（325）</p>

<h2>辨厥陰病形證治第九</h2>
<p>厥陰之為病，消渴，氣上撞心，心中疼熱，飢不欲食，甚者食則吐蛔，下之不肯止。（326）</p>
<p>厥陰中風，其脈微浮為欲愈，不浮為末愈。（327）</p>
<p>厥陰病欲解時，從醜盡卯。（328）</p>
<p>厥陰病，渴欲飲水者，少少與之即愈。（329）</p>

<h2>辨厥利嘔噦病形證治第十</h2>
<p>諸四逆厥者，不可下之，虛家亦然。（330）</p>
<p>傷寒，先厥後發熱而利者，必自止，見厥複利。（331）</p>
<p>傷寒，始發熱六日，厥反九日，而利，凡厥利者，當不能食，今反能食，恐為除中，食以索餅，不發熱者，知胃氣尚在，必愈。恐暴熱來出而復去也。後三日脈之，其熱續在，期之旦日夜半愈，後三日脈之而數，其熱不罷，此為熱氣有餘，必發癰膿。（332）</p>
<p>傷寒脈遲，六七日，而反與黃芩湯徹其熱，脈遲為寒，而與黃芩湯復除其熱，腹中應冷，當不能食，今反能食，此為除中，必死。（353）</p>
<p>傷寒，先厥後發熱，下利必自止，而反汗出，咽中痛者，其喉為痹，發熱無汗，而利必自止。不止者必便膿血，便膿血者，其喉不痹，（334）</p>
<p>傷寒一二日，至四五日而厥者，必發熱，前熱者後必厥，厥深者熱亦深，厥微者熱亦微，厥應下之，而反發其汗，必口傷爛赤。（335）</p>
<p>凡厥者，陰陽氣不相順接便為厥，厥者手足逆冷是也。（337）</p>
<p>傷寒病，厥五日，熱亦五日，設六日當復厥，不厥者，自愈，厥終不過五日，以熱五日，故知自愈。（336）</p>
<p>傷寒，脈微而厥，至七八日膚冷，其人躁，無暫安時者，此為藏厥，非蛔厥也。蛔厥者，其人當吐蛔。今病者靜，而復時煩，此為藏寒，蛔上入膈，故煩，須臾復止，得食而嘔又煩者，蛔聞食臭出，其人當自吐蛔，蛔厥者，烏梅丸主之。（338）</p>
<p>傷寒，熱少厥微，指頭寒，嘿嘿不欲食，煩躁數日，小便利，色白者，此熱除也，欲得食，其病為愈。若厥而嘔，胸脅煩滿者，其後必便血。（339）</p>
<p>病者手足厥冷，言我不結胸，小腹滿，按之痛者，此冷結在膀胱關元也。（340）</p>
<p>傷寒發熱四日，厥反三日，復熱四日，厥少熱多，其病當愈，四日至七日熱不除，必清膿血。（341）</p>
<p>傷寒厥四日，熱反三日，復厥五日，其病為進，寒多熱少，陽氣退，故為進。（342）</p>
<p>傷寒六七日，其脈微，手足厥冷，煩躁，灸厥陰，厥不還者死。（343）</p>
<p>傷寒發熱，下利厥逆，躁不得臥者死。（344）</p>
<p>傷寒六七日，不便利，忽發熱而利，其人汗出不止者死，有陰無陽故也。（346）</p>
<p>傷寒五六日，不結胸，腹濡，脈虛，復厥者，不可下，此為亡血，下之死。（347）</p>
<p>傷寒，發熱而厥，七日下利者，為難治。（348）</p>
<p>傷寒脈促，手足厥逆者，可灸之。（349）</p>
<p>傷寒脈滑而厥者，里有熱也，白虎湯主之。（350）</p>
<p>手足厥寒，脈為之細絕，當歸四逆湯主之（351）。若其人內有久寒，當歸四逆加吳茱萸生薑湯主之。（352）</p>
<p>大汗出，熱不去，內拘急，四肢疼，又下利，厥逆而惡寒者，四逆湯主之。（353）</p>
<p>大汗出，若大下利而厥冷者，四逆湯主之。（354）</p>
<p>表熱裡寒者，脈雖沉而遲，手足微厥，下利清穀，此裡寒也，所以陰證亦有發熱者，此表熱也。</p>
<p>表寒裡熱者，脈必滑，身厥舌乾也，所以少陰惡寒而倦，此表寒也，時時自煩，不欲厚衣，此裡熱也。</p>
<p>病者手足厥冷，脈乍緊者，邪結在胸中，心中滿而煩，飢不能食者，病在胸中，當吐之，宜瓜蒂散。（355）</p>
<p>傷寒厥而心下悸者，宜先治水，當與茯苓甘草湯，卻治其厥，不爾，水漬入胃，必作利也。（356）</p>
<p>傷寒六七日，大下後，寸脈沉遲，手足厥逆，下部脈不至，咽喉不利，唾膿血，泄利不止者，為難治，麻黃升麻湯主之，（357）</p>
<p>傷寒四五日，腹中痛，若轉氣下趣少腹者，為欲自利也。（358）</p>
<p>傷寒本自寒下，醫復吐之，寒格更逆吐下，食入即出者，乾薑黃芩黃連湯主之。（359）</p>
<p>下利有微熱而渴，脈弱者自愈。（360）</p>
<p>下利脈數，有微熱，汗出者自愈，設復緊，為末解。（361）</p>
<p>下利手足厥冷，無脈者，灸之不溫，而脈不還，反微喘者死。（362）</p>
<p>少陰負趺陽者，為順也。（362）</p>
<p>下利，寸脈反浮數，尺中自澀者，必清膿血。（363）</p>
<p>下利清穀，不可攻其表，汗出必脹滿。（364）</p>
<p>下利，脈沉弦者，下重，脈大者為末止，脈微弱數者，為欲自止，雖發熱不死。（365）</p>
<p>下利，脈沉而遲，其人面少赤，身有微熱，下利清穀，必鬱冒汗出而解，病人必微厥，所以然者，其面戴陽，下虛故也。（366）</p>
<p>下利，脈反數而渴者，今自愈，設不差，必清膿血，以有熱故也。（367）</p>
<p>下利後，其脈絕，手足厥，晬時脈還，手足溫者生，不還不溫者死。（368）</p>
<p>傷寒下利，日十餘行，脈反實者死。（369）</p>
<p>下利清穀，裡寒外熱，汗出而厥，通脈四逆湯主之。（370）</p>
<p>熱利下重，白頭翁湯主之。（371）</p>
<p>下利腹脹滿，身體疼痛，先溫其里，乃攻其表，溫里宜四逆湯，攻表宜桂枝湯。（372）</p>
<p>下利慾飲水，為有熱也，白頭翁湯主之。（373）</p>
<p>下利譫語者，有燥屎也，宜小承氣湯。（374）</p>
<p>下利後更煩，按之心下濡者，為虛煩也，梔子豉湯主之。（375）</p>
<p>嘔家有癰膿，不可治嘔，膿儘自愈。（376）</p>
<p>嘔而發熱者，小柴胡湯主之。（379）</p>
<p>嘔而脈弱，小便複利，身有微熱，見厥者難治，四逆湯主之。（377）</p>
<p>乾嘔吐涎沫，而復頭痛，吳茱萸湯主之。（378）</p>
<p>傷寒，大吐大下之，極虛復極汗出者，以其人外氣怫鬱，復與之水，以發其汗，因得噦，所以然者，胃中寒冷故也。（380）</p>
<p>傷寒噦而腹滿，問其前後，知何部不利，利之即愈。（381）</p>

<h2>辨霍亂病形證治第十一</h2>
<p>問曰：病有霍亂者何？答曰：嘔吐而利，名曰霍亂。（382）</p>
<p>問曰：病發熱、頭痛、身疼、惡寒，不復吐利，當屬何病？答曰：當為霍亂。吐下利止，復更發熱也。（383）</p>
<p>傷寒，其脈微澀，本是霍亂，今是傷寒，卻四五日，至陰經上，轉入陰，當利，本素嘔下利者，不治，若其人，似欲大便，但反失氣，而仍不利，是為屬陽明，便必堅，十三日愈，所以然者，經盡故也。（384）</p>
<p>下利後，便當堅，堅則能食者愈，今反不能食，到後經中，頗能食，復過一經，能食，過之一日當愈，若不愈，不屬陽明也。（384）</p>
<p>惡寒，脈微，而複利，利止，亡血也，四逆加人參湯主之。（385）</p>
<p>霍亂，頭痛發熱，身疼痛，熱多欲飲水，五苓散主之。寒多不用水者，理中湯主之。（386）</p>
<p>吐利止，而身痛不休者，當消息和解其外，宜桂枝湯小和之。（387）</p>
<p>吐利，汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之。（388）</p>
<p>既吐且利，小便複利，而大汗出，下利清穀，裡寒外熱，脈微欲絕者，四逆湯主之。（389）</p>
<p>吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者，通脈四逆加豬膽汁湯主之。（390）</p>

<h2>辨陰陽易差後勞復病形證治第十二</h2>
<p>傷寒，陰陽易之為病，其人身體重，少氣，少腹裡急，或引陰中拘攣，熱上衝胸，頭重不欲舉，眼中生花，眼胞赤，膝脛拘急，燒裩散主之。（392）</p>
<p>大病差後勞復者，枳實梔子湯主之。若有宿食者，加大黃，如博棋子大五六枚。（393）</p>
<p>傷寒差已後，更發熱者，小柴胡湯主之。脈浮者，以汗解之，脈沉實者，以下解之。（394）</p>
<p>大病差後，從腰以下有水氣，牡蠣澤瀉散主之。（395）</p>
<p>大病差後，其人喜唾，久不了了者，胃上有寒，當溫之，宜理中丸。（396）</p>
<p>傷寒解後，虛羸少氣，氣逆欲吐，竹葉石膏湯主之。（397）</p>
<p>傷寒脈已解，而日暮微煩者，以病新差，人強與谷，脾胃氣尚弱，不能消穀，故令微煩，損谷即愈。吐下發汗後，其人脈平而小煩者，此新虛不勝穀氣故也。（398）</p>
<p>病後勞復發熱者，麥門冬湯主之。</p>

<h1>《金匱玉函經》卷第五</h1>

<h2>辨不可發汗病形證治第十三</h2>
<p>夫以為疾病至急，倉猝尋按，要者難得，故重集諸可與不可方治。比之三陰三陽篇中，此易見也，又時有不止是三陰三陽，出在諸可與不可中也。</p>
<p>少陰病，脈細沉數，病為在裡，不可發其汗。</p>
<p>脈浮而緊，法當身體疼痛，當以汗解，假令尺中脈遲者，不可發其汗，何以故？此為榮氣不足，血氣微少故也。</p>
<p>少陰病，脈微，不可發其汗，亡陽故也。</p>
<p>脈濡而弱，弱反在關，濡反在巔，微反在上，澀反在下，微則陽氣不足，澀則無血，陽氣反微，中風汗出，而反躁煩，澀則無血，厥而且寒，陽微發汗，躁不得眠。</p>
<p>動氣在右，不可發汗，發汗則衄而渴，心苦煩，飲即吐水。</p>
<p>動氣在左，不可發汗，發汗則頭眩，汗不止，筋惕肉瞤。</p>
<p>動氣在上，不可發汗，發汗則氣上衝心。</p>
<p>動氣在下，不可發汗，發汗則無汗，心中大煩，骨節苦疼，目運惡寒，食則反吐，谷不得前。（一云：谷不消化。）</p>
<p>咽中閉塞，不可發汗，發汗則吐血，氣微絕，手足逆冷，雖欲踡臥，不能自溫。</p>
<p>諸脈數動微弱，並不可發汗，發汗則小便反難，胞中反干，胃燥而煩，其形相象，根本異源。</p>
<p>脈濡而弱，弱反在關，濡反在巔，弦反在上，微反在下，弦為陽運，微為陰寒，上實下虛，意欲得溫，微弦為虛，不可發汗，發汗則寒慄不能自還。</p>
<p>咳者則劇，數吐涎沫，咽中必干，小便不利，心中飢煩，晬時而發，其形似瘧，有寒無熱，虛而寒慄，咳而發汗，踡而苦滿，腹中復堅。</p>
<p>厥而脈緊，不可發汗，發汗則聲亂，咽嘶，舌萎，其聲不能出。</p>
<p>諸逆發汗，微者難愈，劇者言亂，睛眩者死，命將難治。</p>
<p>太陽病，得之八九日，如瘧狀，發熱而惡寒，熱多寒少，其人不嘔，清便續自可，一日再三發，其脈微而惡寒者。此為陰陽俱虛，不可復發其汗。</p>
<p>太陽病，發熱惡寒，寒多熱少，脈微弱，則無陽也，不可復發其汗。</p>
<p>咽喉乾燥者，不可發其汗。</p>
<p>亡血家不可攻其表，汗出則寒慄而振。</p>
<p>衄家不可攻其表，汗出則額陷脈上促急而緊，直視而不能眴，不得眠。</p>
<p>汗家重發其汗，必恍惚心亂，小便已，陰疼，可與禹餘糧丸。</p>
<p>淋家不可發汗，發汗必便血。</p>
<p>瘡家雖身疼痛，不可攻其表，汗出則痙。</p>
<p>冬溫，發其汗，必吐利，口中爛，生瘡。</p>
<p>下利清穀，不可攻其表，汗出必脹滿。</p>
<p>咳而小便利，若失小便者，不可攻其表，汗出則厥逆冷。</p>
<p>傷寒一二日，至四五日厥者，必發熱，前厥者後必熱，厥深熱亦深，厥微熱亦微，熱應下之，而發其汗者，必口傷爛赤。</p>
<p>傷寒頭痛，翕翕發熱，形象中風，常微汗出，又自嘔者，下之益煩，懊憹如飢，發汗即致痙，身強難以屈伸，熏之即發黃，不得小便，灸即發咳唾。</p>
<p>傷寒其脈弦細，頭痛發熱，此為屬少陽，少陽不可發其汗。</p>
<p>中風，往來寒熱，傷寒五六日已後，胸脅苦滿，嘿嘿不欲食飲，煩心喜嘔，或胸中煩而不嘔，或渴，或腹中痛，或脅下痞堅，或心中悸，小便不利，或不渴，外有微熱，或咳，屬小柴胡湯證。</p>
<p>傷寒四五日，身體熱，惡風，頸項強，脅下滿，手足溫而渴，屬小柴胡湯。</p>
<p>傷寒六七日，發熱，微惡風，支節煩疼，微嘔，心下支結，外證未去者，屬柴胡桂枝湯證。</p>
<p>太陽病，發其汗，因致痙。</p>
<p>太陽與少陽並病，頭項強痛，或眩，時如結胸，心下痞而堅，不可發其汗。</p>
<p>少陰病，咳而下利，譫語，是為被火氣劫故也。小便必難，以強責少陰汗也。</p>
<p>少陰病，但厥無汗，而強發之，必動其血，未知從何道出，或從口鼻，或從耳目出，是為下厥上竭，為難治。</p>
<p>傷寒有五，皆熱病之類也，同病異名，同脈異經，病雖俱傷於風，其人自有固疾，則不得同法，其人素傷風，因復傷於熱，風熱相薄，則發風溫，四肢不收，頭痛身熱，常汗出不解，治在少陰、厥陰，不可發汗，汗出譫語獨語，內煩燥擾不得臥，善驚，目亂，無精，治之復發其汗，如此者，醫殺之也。</p>
<p>傷寒濕溫，其人常傷於濕，因而中暍，濕熱相薄，則發濕溫病，若兩脛逆冷，腹滿叉胸，頭目痛苦，妄言，治在足太陰，不可發汗，汗出必不能言，耳聾，不知痛所在，身青面色變，名曰重暍，如此者，醫殺之也。</p>

<h2>辨可發汗病形證治第十四</h2>
<p>凡發汗，欲令手足俱周，漐漐然一時間許，益佳，不可令如水流漓，若病不解，當重發汗，汗多必亡陽，陽虛不得重發汗也。</p>
<p>凡服湯藥發汗，中病便止，不必盡劑也。</p>
<p>凡云可發汗，無湯者，丸散亦可，要以汗出為解，然不如湯，隨證良驗。</p>
<p>大法，春夏宜發汗。</p>
<p>太陽病，外證未解，脈浮弱者，當以汗解，宜桂枝湯。</p>
<p>太陽病，脈浮而數者，可發汗，宜桂枝湯。（一云麻黃湯。）</p>
<p>陽明病，其脈遲，汗出多而微惡寒，表為末解，可發其汗，宜桂枝湯。</p>
<p>夫病脈浮大，問病者言但堅耳，設利者為虛，大逆，堅為實，汗出而解，何以故，脈浮當以汗解。</p>
<p>傷寒，其脈不弦緊而弱，弱者必渴，被火必譫語。弱者發熱，脈浮，解之當汗出愈。</p>
<p>病者煩熱，汗出則解，復如瘧狀，日晡發熱者，屬陽明，脈浮虛者，當發其汗，宜桂枝湯。</p>
<p>病常自汗出，此為營氣與衛氣不和也，營行脈中，為陰主內，衛行脈外，為陽主外，復發其汗，衛和則愈，宜桂枝湯。</p>
<p>病人藏無他病，時發熱，自汗出，不愈，此衛氣不和也，先其時發汗則愈，宜桂枝湯。</p>
<p>脈浮而緊，浮則為風，緊則為寒，風則傷衛，寒則傷營，營衛俱病，骨節煩疼，可發其汗，宜麻黃湯。</p>
<p>太陽病不解，熱結膀胱，其人如狂，血必自下，下者即愈，其外未解，尚未可攻，當先解其外，宜桂枝湯。</p>
<p>太陽病，下之微喘者，表未解故也，宜麻黃湯。又云：桂枝加厚朴杏子湯。</p>
<p>傷寒脈浮緊，不發其汗，因衄，宜麻黃湯。</p>
<p>陽明病，脈浮，無汗，其人必喘，發其汗即愈，宜麻黃湯。</p>
<p>太陽病脈浮者，可發其汗，宜桂枝湯。</p>
<p>太陽脈浮緊，無汗而發熱，其身疼痛，八九日不解，其表候續在，此當發其汗，服湯藥微除，發煩目眩，劇者必衄，衄乃解，所以然者，陽氣重故也，宜麻黃湯。</p>
<p>傷寒不大便，六七日，頭痛，有熱者，不可與承氣湯，其小便清者，此為不在裡，仍在表也，當發其汗，頭痛者必衄，宜桂枝湯。</p>
<p>下利腹脹滿，身體疼痛，先溫其里，乃攻其表，宜桂枝湯。</p>
<p>下利後，身體疼痛，清便自調，急當救表，宜桂枝湯。</p>
<p>太陽病，頭痛發熱，汗出惡風，屬桂枝湯證。</p>
<p>太陽中風，脈陽浮而陰濡弱，浮者熱自發，濡弱者汗自出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔，屬桂枝湯。</p>
<p>太陽病，發熱汗出，此為營弱衛強，故使汗出，欲救邪風，屬桂枝湯證。</p>
<p>太陽病，下之其氣上撞，屬桂枝湯證。</p>
<p>太陽病，初服桂枝湯，而反煩不解者，當先刺風池、風府，乃與桂枝湯則愈。</p>
<p>燒針令其汗，針處被寒核起而赤者，必發賁豚，氣從小腹上撞心者，灸者核上各一壯，卻與桂枝加桂湯。</p>
<p>太陽病，項背強𠘧𠘧，反汗出惡風者，屬桂枝加葛根湯。</p>
<p>太陽病，項背強𠘧𠘧，無汗惡風，屬葛根湯。</p>
<p>太陽與陽明合病而自利，屬葛根湯證，不利但嘔者，屬葛根加半夏湯證。</p>
<p>太陽病，桂枝證，而反下之，遂利不止，其脈促，表未解，喘而汗出，屬葛根黃芩黃連湯證。</p>
<p>太陽病，頭痛發熱，身體疼，腰痛，骨節疼痛，惡風，無汗而喘，屬麻黃湯證。</p>
<p>太陽與陽明合病，喘而胸滿者，不可下也，屬麻黃湯證。</p>
<p>太陽中風，脈浮緊，發熱惡寒，身體疼痛，不汗出而煩躁，頭痛，屬大青龍湯證，脈微弱，汗出惡風，不可服之，服之則厥，筋惕肉瞤，此為逆也。</p>
<p>陽明中風，脈弦浮大，而短氣，腹滿，脅下及心痛，久按之氣不通，鼻乾不得汗，其人嗜臥，一身及目悉黃，小便難，有潮熱，時時噦，耳前後腫，刺之小差，其外不解，病過十日，脈續浮，與柴胡湯，但浮，無餘證，與麻黃湯。不溺，腹滿，加噦者，不治。</p>
<p>太陽病，十日已去，其脈浮細，嗜臥，此為外解，設胸滿脅痛，與小柴胡湯；脈浮，麻黃湯。</p>
<p>傷寒，脈浮緩，其身不疼，但重，乍有輕時，無少陰證者，可與大青龍湯發之。</p>
<p>傷寒，心下有水氣，咳而微喘，發熱不渴，服湯已而渴者，此為寒去，為欲解，屬小青湯證。</p>
<p>少陰病，得之二三日，麻黃附子甘草湯，微發汗。脈浮，小便不利，微熱，消渴，可與五苓散，利小便發汗。</p>

<h2>辨不可吐病形證治第十五</h2>
<p>太陽病，當惡寒而發熱，今自汗出，反不惡寒發熱，關上脈細而數者，此醫吐之故也。若得病一日二日吐之者，腹中飢，口不能食，三日四日吐之者，不喜糜粥，欲食冷食，朝食暮吐，此醫吐之所致也，此為小逆。</p>
<p>太陽病，吐之，但太陽病當惡寒，今反不惡寒，不欲近衣，此為吐之內煩也。</p>
<p>少陰病，其人飲食入口即吐，心中嗢嗢欲吐，復不能吐，始得之手足寒，脈弦遲者，此胸中實，不可下也。若膈上有寒飲，乾嘔者，不可吐，當溫之。諸四逆厥者，不可吐之，虛家亦然。</p>

<h2>辨可吐病形證治第十六</h2>
<p>凡服湯吐，中病便止，不必盡劑也。</p>
<p>大法，春宜吐。</p>
<p>病如桂枝證，其頭不痛，項不強，寸口脈微浮，胸中痞堅，氣上撞咽喉，不得息，此為胸有寒，當吐之。</p>
<p>病胸上諸實，胸中鬱郁而痛，不能食，欲使人按之，而反有涎沫唾，下利日十餘行，其脈反遲，寸口微滑，此可吐之，吐之利則止。</p>
<p>少陰病，其人飲食入則吐，心中嗢嗢欲吐，復不能吐，當遂吐之。</p>
<p>宿食在上脘，當吐之。</p>
<p>病者手足逆冷，脈乍緊，邪結在胸中，心下滿而煩，飢不能食，病在胸中，當吐之。</p>

<h2>辨不可下病形證治第十七</h2>
<p>脈濡而弱，濡反在關，弱反在巔，微反在上，澀反在下，微則陽氣不足，澀則無血，陽氣反微，中風汗出而反躁煩，澀則無血，厥而且寒，陽微不可下，下之則心下痞堅。</p>
<p>動氣在右，不可下，下之則津液內竭，咽燥鼻乾，頭眩心悸。</p>
<p>動氣在左，不可下，下之則腹裡拘急，食不下，動氣反劇，身雖有熱，臥反欲踡。</p>
<p>動氣在上，不可下，下之則掌握熱煩，身上浮冷，熱汗自泄，欲水自灌。</p>
<p>動氣在下，不可下，下之則腹滿，卒起頭眩，食則下清穀，心下痞堅。</p>
<p>咽中閉塞，不可下，下之則上輕下重，水漿不下，臥則欲踡，身體急痛，復下利日數十行。</p>
<p>諸外實者，不可下，下之則發微熱，亡脈則厥，當臍握熱。</p>
<p>諸虛者，不可下，下之則渴，引水者易愈；惡水者劇。</p>
<p>脈濡而弱，弱反在關，濡反在巔，弦反在上，微反在下，弦為陽運，微為陰寒，上實下虛，意欲得溫，微弦為虛，虛者不可下，微則為咳，咳則吐涎沫，下之咳則止而利不休，胸中如蟲齧，粥入則出，小便不利，兩脅拘急，喘息為難，脛背相牽，臂則不仁，極寒反汗出，軀冷若冰，眼睛不慧，語言不休，穀氣多入則為除中，口雖欲言，舌不得前。</p>
<p>脈濡而弱，弱反在關，濡反在巔，浮反在上，數反在下，浮則為陽虛，數則為無血，浮則為虛，數則生熱，浮則為虛，自汗而惡寒，數則為痛，振而寒慄，微弱在關，心下為急，喘汗不得呼吸，呼吸之中，痛在於脅，振寒相搏，其形如瘧，醫反下之，令脈急數，發熱狂走，見鬼，心下為痞，小便淋漓，小腹甚堅，小便血也。</p>
<p>脈濡而緊，濡則陽氣微，緊則營中寒，陽微衛中風，發熱而惡寒，營緊胃氣冷，微嘔心內煩，醫以為大熱，解肌發其汗，亡陽虛煩躁，心下苦痞堅，表裡俱虛竭，卒起而頭眩，客熱在皮膚，悵怏不得眠，不知胃氣冷，緊寒在關元，技巧無所施，汲水灌其身，客熱應時罷，慄慄而振寒，重被而覆之。汗出而冒巔，體惕而又振，小便為微難，寒氣因水發，清穀不容間，嘔吐反腸出，顛倒不得安，手足為微逆，身冷而內煩，遲欲從後救，安可復追還。</p>
<p>脈浮而大，浮為氣實，大為血虛，血虛為無陰，孤陽獨下陰部，小便難，胞中虛，今反小便利而大汗出，法應衛家當微，今反更實，津液四射，營竭血盡，干煩不得眠，血薄肉消，而成暴液，醫復以毒藥攻其胃，此為重虛，客陽去有期，必下如汙泥而死。</p>
<p>趺陽脈遲而緩，胃氣如經也，趺陽脈浮而數，浮則傷胃，數則動脾，此非本病，醫特下之所為也。營衛內陷，其數先微，脈反但浮，其人必大便堅，氣噫而除，何以言之？脾脈本緩，今數脈動脾，其數先微，故知脾氣不治，大便堅，氣噫而除。今脈反浮，其數改微，邪氣獨留，心中則飢，邪熱不殺穀，潮熱發渴，數脈當遲緩，脈因前後度數如法，病者則飢，數脈不時，則生惡瘡也。</p>
<p>脈數者久數不止，止則邪結，血氣不能復，正氣卻結於藏，故邪氣浮之，與皮毛相得，脈數者不可下，下之必煩，利不止。</p>
<p>少陰病，脈微，不可發其汗，無陽故也。陽已虛，尺中弱澀者，復不可下之。</p>
<p>脈浮大，宜發汗，醫反下之，此為大逆。</p>
<p>脈浮而大，心下反堅，有熱，屬藏者攻之，不令發汗。屬府者，不令溲數，溲數則大便堅，汗多即熱愈，汗少則便難，脈遲尚未可攻。</p>
<p>二陽並病，太陽初得病時，發其汗，汗先出復不徹，因轉屬陽明，欲自汗，不惡寒，若太陽證不罷，不可下，下之為逆。</p>
<p>結胸證，其脈浮大，不可下，下之即死。</p>
<p>太陽與陽明合病，喘而胸滿，不可下，下之即死。</p>
<p>太陽與少陽合病，心下痞堅，頭項強而眩，勿下之。</p>
<p>諸四逆厥者，不可下之，虛家亦然。</p>
<p>病欲吐者，不可下之。</p>
<p>太陽病，有外證未解，不可下，下之為逆。</p>
<p>夫病發於陽，而反下之，熱入因作結胸。發於陰，而反下之，因作痞。</p>
<p>脈浮緊，而下之，緊反入里，則作痞。</p>
<p>夫病陽多者熱，下之則堅。</p>
<p>本虛攻其熱，必噦。</p>
<p>無陽陰強而堅，下之必清穀而腹滿。</p>
<p>太陰之為病，腹滿而吐，食不下，下之益甚，腹時自痛，胸下痞堅。</p>
<p>厥陰之為病，消渴，氣上撞心，心中疼痛熱，飢而不欲食，甚者則欲吐，下之不肯止。</p>
<p>少陰病，其人飲食入則吐，心中嗢嗢欲吐，復不能吐，始得之手足寒，脈遲，此胸中實，不可下之。</p>
<p>傷寒五六日，不結胸，腹濡，脈虛，復厥者，不可下，下之亡血死。</p>
<p>傷寒發熱，但頭痛，微汗出，發其汗則不識人，熏之則喘，不得小便，心腹滿，下之短氣而腹脹，小便難，頭痛背強，加溫針則必衄。</p>
<p>傷寒，其脈陰陽俱緊，惡寒發熱，則脈欲厥，厥者脈初來大，漸漸小，更來漸大，是其候也。惡寒甚者，翕翕汗出，喉中痛。熱多者，目赤睛不慧，醫復發之，咽中則傷，若復下之，則兩目閉，寒多清穀，熱多便膿血，熏之則發黃，熨之則咽燥。小便利者可救，難者危殆。</p>
<p>傷寒發熱，口中勃勃氣出，頭痛目黃，衄不可制，貪水者必嘔，惡水者厥，下之咽中生瘡。假令手足溫者，下重便膿血，頭痛目黃者，下之目閉。貪水者，下之其脈必厥，其聲嚶，咽喉塞，發其汗則戰慄，陰陽俱虛。惡水者，下之裡冷，不嗜食，大便完穀出，發其汗，口中傷，舌上胎滑，煩躁，脈數實，不大便，六七日後必便血，發其汗，小便即自利。得病六七日，小便少者，雖不大便，但頭堅後溏，未必其成堅，攻之必溏，當須小便利，定堅乃可攻之。</p>
<p>藏結者無陽證，不往來寒熱，其人反靜，舌上胎滑者，不可攻也。</p>
<p>傷寒嘔多，雖有陽明證，不可攻之。</p>
<p>陽明病，潮熱微堅，可與承氣湯，不堅勿與之。若不大便，六七日，恐有燥屎，欲知之法，可與小承氣湯。若腹中轉矢氣者，為有燥屎，乃可攻之。若不轉矢氣者，此為但頭堅後溏，不可攻之，攻之必腹滿不能食，欲飲水者，必噦，其後發熱者，必復堅，以小承氣湯和之。若不轉矢氣者，慎不可攻之。</p>
<p>陽明病，面合赤色者，不可攻之，必發熱；色黃者，小便不利也。</p>
<p>陽明病，當心下堅滿，不可攻之，攻之利遂不止者死，止者生。</p>
<p>陽明病，自汗出，若發其汗，小便自利，此為津液內竭，雖堅不可攻之，當須自欲大便，宜蜜煎導而通之，若土瓜根、豬膽汁皆可以導。</p>
<p>傷寒中風，醫反下之，其人下利日數十行，穀不化，腹中雷鳴，心下痞堅而滿，乾嘔而煩，不能得安。醫見心下痞，為病不盡，復重下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆，故使之堅，屬甘草瀉心湯證。</p>
<p>下利，其脈浮大，此為虛，以強下之故也。設脈浮革，因爾腸鳴，屬當歸四逆湯證。</p>

<h2>辨可下病形證治第十八</h2>
<p>凡服下藥，用湯勝丸，中病即止，不必盡劑。</p>
<p>大法，秋宜下。</p>
<p>陽明病，發熱汗多者，急下之，宜承氣湯。（一云：大柴胡湯。）</p>
<p>少陰病，得之二三日，口燥咽乾，急下之，宜承氣湯。</p>
<p>少陰病，六七日，腹滿不大便者，急下之，宜承氣湯。</p>
<p>少陰病，下利清水，色青者，心下必痛，口乾燥者，可下之，宜大柴胡湯、承氣湯。</p>
<p>下利，三部脈皆平。（一云：浮。）按其心下堅者，可下之，宜承氣湯。</p>
<p>下利脈遲而滑者，內實也，利未欲止，當下之，宜承氣湯。</p>
<p>陽明與少陽合病而利，不負者為順，負者失也，互相剋賊為負。</p>
<p>脈滑而數者，有宿食也，當下之，宜大柴胡湯、承氣湯。</p>
<p>問曰：人病有宿食，何以別之？師曰：寸口脈浮大，按之反澀，尺中亦微而澀，故知有宿食，當下之，宜承氣湯。</p>
<p>下利不欲食者，有宿食也，當下之，宜承氣湯。</p>
<p>下利已瘥，至其年月日時復發者，此為病不盡故也，復當下之，宜承氣湯。</p>
<p>下利脈反滑，當有所去，下之乃愈，宜承氣湯。</p>
<p>病腹中滿痛者為實，當下之，宜大柴胡湯。</p>
<p>腹滿不減，減不足言，當下之，宜大柴胡湯、承氣湯。</p>
<p>傷寒後，脈沉實，沉實者下之解，宜大柴胡湯。</p>
<p>傷寒六七日，目不了了，睛不和，無表裡證，大便難，微熱者，此為實，急下之，宜大柴胡湯、承氣湯。</p>
<p>太陽病未解，其脈陰陽俱停，必先振，汗出而解。但陽脈微者，先汗之而解，陰脈微者，先下之而解，宜承氣湯。（一云：大柴胡湯。）</p>
<p>脈雙弦而遲，心下堅，脈大而堅者，陽中有陰也。可下之，宜承氣湯。</p>
<p>結胸者項亦強，如柔痙狀。下之即和，宜陷胸丸。</p>
<p>病者無表裡證，發熱七八日，脈雖浮數，可下之，宜大柴胡湯。</p>
<p>太陽病，六七日，表證續在，其脈微沉，反不結胸，其人發狂，此熱在下焦，小腹當堅而滿，小便自利者，下血乃愈。所以然者，太陽隨經，瘀熱在裡故也，屬抵當湯證。</p>
<p>太陽病身黃，其脈沉結，小腹堅，小便不利，為無血也，小便自利，其人如狂者，血證諦也，屬抵當湯。</p>
<p>傷寒有熱，而小腹滿，應小便不利，今反利者，為有血也，當下之，宜抵當丸。</p>
<p>陽明病，發熱而汗出，此為熱越，不能發黃也，但頭汗出，其身無有，齊頸而還，小便不利，渴飲水漿，此為瘀熱在裡，身必發黃，屬茵陳蒿湯證。</p>
<p>陽明證，其人喜忘，必有畜血，所以然者，本有久瘀血，故令喜忘。屎雖堅，大便必黑，屬抵當證。</p>
<p>汗出而譫語者，有燥屎在胃中，此為風也，過經乃可下之，下之若早，譫語而亂，以表虛里實故也，下之則愈，宜大柴胡湯、承氣湯。</p>
<p>病者煩熱，得汗出即解，復如瘧狀，日晡所發熱者，屬陽明，脈實者當下之，宜大柴胡湯、承氣湯。</p>
<p>陽明病譫語，有潮熱，而反不能食者，必有燥屎五六枚，若能食者，但堅耳，屬承氣湯。</p>
<p>下利而譫語者，為有燥屎也，屬承氣湯。</p>
<p>得病二三日，脈弱，無太陽柴胡證而煩，心下堅。至四日雖能食，以承氣湯少與微和之，令小安，至六日，與承氣湯一升。不大便六七日，小便少者，雖不能食，但頭堅後溏，未定其成堅，攻之必溏，當須小便利，定堅，乃可攻之，宜大柴胡湯、承氣湯。</p>
<p>太陽中風，下利嘔逆，表解乃可攻之，其人漐漐汗出，發作有時，頭痛心下痞堅，滿引脅下痛，嘔即短氣，不惡寒，此為表解里未和，屬十棗湯證。</p>
<p>太陽病不解，熱結膀胱，其人如狂，血自下，下者即愈，其外不解，尚未可攻，當先解其外，外解小腹急結者，乃可攻之，宜桃仁承氣湯。</p>
<p>傷寒七八日，身黃如橘子色，小便不利，小腹微滿，屬茵陳湯證。</p>
<p>傷寒發熱，汗出不解，後心中痞堅，嘔而利者，屬大柴胡湯證。</p>
<p>傷寒十餘日，熱結在裡，復往來寒熱，屬大柴胡湯證。但結胸無大熱，此為水結在胸脅，頭微汗出，屬大陷胸湯證。</p>
<p>傷寒六七日，結胸熱實，其脈沉緊，心下痛，按之如石堅，屬大陷胸湯證。</p>
<p>陽明病，其人汗多，津液外出，胃中燥，大便必堅，堅者則譫語，屬承氣湯證。</p>
<p>陽明病，不吐下而心煩者，屬承氣湯證。</p>
<p>陽明病，其脈遲，雖汗出而不惡寒，其體必重，短氣腹滿而喘，有潮熱，如此者，其外為解，可攻其里。若手足濈然汗出，此大便已堅，承氣湯主之。其熱不潮，腹大滿而不大便者，屬小承氣湯，微和其胃氣，勿令至大下。</p>
<p>陽明病，潮熱微堅，可與承氣湯，不堅勿與之，言不大便六七日，恐有燥屎。欲知之法，可與小承氣湯，若腹中轉矢氣者，為有燥屎，乃可攻之。</p>
<p>陽明病，譫語妄言，發潮熱，其脈滑疾，如此者，承氣湯主之，因與承氣湯一升，腹中轉矢氣者，復與一升，如不轉矢氣者，勿與之。明日又不大便，脈反微澀，此為裡虛，為難治，不可復與承氣湯。</p>
<p>大下後六七日，不大便，煩不解，腹滿痛，此有燥屎，所以然者，本有宿食故也，屬承氣湯證。</p>
<p>病者小便不利，大便乍難乍易，時有微熱，怫鬱，不能臥，有燥屎故也，屬承氣湯證。</p>
<p>二陽並病，太陽證罷。但發潮熱，手足漐漐汗出，大便難而譫語者，下之即愈，宜承氣湯。</p>

<h1>《金匱玉函經》卷第六</h1>

<h2>辨發汗吐下後病形證治第十九</h2>
<p>發汗後，水藥不得入口，為逆。</p>
<p>發汗後，飲水多者必喘，以水灌之亦喘。</p>
<p>未持脈時，病人叉手自冒心。師因教試令咳，而不即咳者，此必兩耳無所聞也。所以然者，重發汗虛故也。</p>
<p>發汗後身熱，又重發其汗，胸中虛冷，必反吐也。</p>
<p>二陽並病，太陽初得病時，發其汗，汗先出，復不徹，因轉屬陽明，續自微汗出，不惡寒。若太陽證不罷者，不可下之，下之為逆，如此者，可小發其汗。設面色緣緣正赤者，陽氣怫鬱在表，當解之，熏之。若發汗不大徹，不足言，陽氣怫鬱不得越，當汗而不汗，其人燥煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣，但坐汗出而不徹故也，更發其汗即愈。何以知其汗出不徹？以脈澀，故知之。</p>
<p>陽明病，本自汗出，醫復重發其汗，病已瘥，其人微煩，不了了，此大便堅也，以亡津液，胃中燥，故令其堅，當問小便日幾行？若本日三兩行，今日再行者，故知大便不久出，今為小便數少，津液當還入胃中，故知必當大便也。</p>
<p>大下後發汗，其人小便不利，此亡津液，勿治之，其小便利必自愈。</p>
<p>病人脈數，數為熱，當消穀引食，而反吐者，以醫發其汗，陽氣微，膈氣虛，脈則為數，數為客熱不能消穀，胃中虛冷故吐也。</p>
<p>病者有寒，復發其汗，胃中冷，必吐蛔。</p>
<p>傷寒發其汗，身目為黃，所以然者，寒濕相搏，在裡不解故也。</p>
<p>發汗後，重發其汗，亡陽譫語，其脈反和者不死。</p>
<p>傷寒發汗已解，半日許，復煩，其脈浮數，可復發其汗，宜桂枝湯。</p>
<p>傷寒大下後，復發其汗，心下痞，惡寒者，表未解也。不可攻其痞，當先解表，表解乃可攻其痞，解表宜桂枝湯，攻痞宜大黃瀉心湯。</p>
<p>發其汗，反躁，無表證者，宜大柴胡湯。</p>
<p>服桂枝湯大汗出，若脈但洪大者，與桂枝湯。若其形如瘧狀，一日再發，汗出便解，與桂枝二麻黃一湯。</p>
<p>服桂枝湯，大汗出，大煩渴不解，若脈洪大，屬白虎湯證。</p>
<p>太陽病，發其汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸，屬桂枝加附子湯證。</p>
<p>發汗不解，腹滿痛者，急下之，宜承氣湯。（一云：大柴胡湯。）</p>
<p>發汗後，身體疼痛，其脈沉遲，屬桂枝加芍藥生薑人參湯證。</p>
<p>太陽病，發其汗而不解，其人發熱，心下悸，頭眩身瞤而動，振振欲僻地者，屬真武湯證。</p>
<p>發汗後，其人臍下悸，欲作賁豚，屬茯苓桂枝甘草大棗湯證。</p>
<p>發汗過多，以後其人叉手自冒心，心下悸而欲得按之，屬桂枝甘草湯證。</p>
<p>發汗後，腹脹滿，屬厚朴生薑半夏甘草人參湯。</p>
<p>發其汗不解，而反惡寒者，虛故也，屬甘草附子湯證。</p>
<p>不惡寒但熱者，實也，當和其胃氣，屬小承氣湯。</p>
<p>太陽病，發汗後，大汗出，胃中乾燥，煩不得眠，其人慾飲水，當稍飲之，令胃中和即愈。</p>
<p>太陽病，三日，發其汗不解，蒸蒸發熱者，屬調胃承氣湯。</p>
<p>傷寒脈浮，自汗出，小便數，頗覆微惡寒，而腳攣急，反與桂枝湯，欲攻其表，得之便厥，咽燥干，煩吐逆，作甘草乾薑湯以復其陽。厥愈足溫，更作芍藥甘草湯與之。其腳即伸，而胃氣不和，譫語，可與承氣湯。重發汗，復加燒針者，屬四逆湯。</p>
<p>傷寒汗出解之後，胃中不和，心下痞堅，乾噫食臭，脅下有水氣，腹中雷鳴而利，屬生薑瀉心湯。</p>
<p>傷寒五六日，其人已發汗，而復下之，胸脅滿，微結，小便不利，渴而不嘔，但頭汗出，往來寒熱而煩，此為末解，柴胡桂枝幹薑湯證。</p>
<p>陽明病汗出，若復發其汗，小便自利，此為津液內竭，雖堅不可攻之，當須自欲大便，宜蜜煎導而通之，若土瓜根、豬膽汁皆可以導。</p>
<p>凡病，若發汗，若吐、若下、若亡血，無津液而陰陽自和者，必自愈。</p>
<p>傷寒大吐、下之極虛，復極汗者，其人外氣怫鬱，復與之水，以發其汗，因得噦，所以然者，胃中寒冷故也。</p>
<p>傷寒，吐下、發汗後，心下逆滿，氣上撞胸，起則頭眩，其脈沉緊，發汗即動經，身為振搖，屬茯苓桂枝白朮甘草湯證。</p>
<p>發汗、吐下以後，不解煩躁，屬茯苓四逆湯證。</p>
<p>發汗、吐下後，虛煩不得眠，劇者反覆顛倒，心中懊憹，屬梔子湯。若少氣，梔子甘草湯。若嘔者，梔子生薑湯證。</p>
<p>傷寒下後，煩而腹滿，臥起不安，屬梔子厚朴湯。</p>
<p>傷寒吐下、發汗，虛煩，脈甚微，八九日，心下痞堅，脅下痛，氣上衝咽喉，眩冒，經脈動惕者，久而成痿。</p>
<p>傷寒發汗，吐下解後，心下痞堅，噫氣不除者，屬旋覆代赭湯證。</p>
<p>太陽病，吐下發汗後，而微煩，小便數，大便因堅，可與小承氣湯和之，則愈。</p>
<p>太陽病不解，轉入少陽，脅下堅滿，乾嘔不能食，往來寒熱，尚未吐下，其脈沉緊，可與小柴胡湯，若已吐下、發汗、溫針，柴胡湯證罷，此為壞病，知犯何逆，以法治之。</p>
<p>吐利發汗，其人脈平而小煩，此新虛不勝穀氣故也。</p>
<p>下已，後發其汗，必振寒，又其脈微細，所以然者，內外俱虛故也。</p>
<p>發汗，若下之，煩熱胸中塞者，屬梔子湯證。</p>
<p>下以後，復發其汗者，則晝日煩躁不眠，夜而安靜，不嘔不渴，而無表證，其脈沉微，身無大熱，屬附子乾薑湯證。</p>
<p>大汗出，若大下利，厥者，屬四逆湯證。</p>
<p>太陽病，先下而不愈，因復發其汗，表裡俱虛，其人因冒，冒家當汗出愈，所以然者，汗出表和故也，表和故下之。</p>
<p>太陽病，先發汗，不解，而下之，其脈浮，不愈，浮為在外，而反下之，故不愈。今脈浮，故在外，當解其外則愈，宜桂枝湯。</p>
<p>傷寒六七日，發熱微惡寒，支節煩疼，微嘔，心下支結，外證未去者，屬柴胡桂枝湯證。</p>
<p>發汗多，亡陽狂語者，不可下，可與柴胡桂枝湯，和其營衛，以通津液，後自愈。</p>
<p>太陽病，醫發其汗，遂發熱惡寒，復下之，則心下痞堅，表裡俱虛，陰陽氣並竭，無陽則陰獨，復加火針，因而煩，面色青黃，膚瞤，如此者為難治，今色微黃，手足溫者易愈。</p>
<p>夫病陽多熱，下之則堅，汗出多，極發其汗，亦堅。</p>
<p>太陽病重發汗，而復下之，不大便五六日，舌上燥而渴，日晡所小有潮熱，從心下至小腹堅滿而痛，不可近，屬大陷胸湯證。</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁，面垢，譫語，遺溺，發汗則譫語，下之則額上生汗，手足厥冷，自汗，屬白虎湯證。</p>
<p>傷寒服湯藥，而下利不止，心下痞，服瀉心湯已，復以他藥下之，利不止，醫以理中與之，利益甚，理中者理中焦，此利在下焦，與赤石脂禹餘糧湯，若不止者，當利其小便。</p>
<p>傷寒，醫以丸藥下之，身熱不去，微煩，屬梔子乾薑湯證。</p>
<p>傷寒中風，柴胡湯證具，而以他藥下之，若柴胡湯證不罷，復與柴胡湯，必蒸蒸而振，卻發汗出而解，此雖已下，不為逆也，若心下滿而堅痛者，此為結胸，屬大陷胸湯證。若但滿而不痛者，此為痞，柴胡不復中與也，屬半夏瀉心湯證。</p>
<p>得病六七日，脈遲浮弱，惡風寒，手足溫，醫再三下之，不能食，其人脅下滿，面目及身黃，頭項強，小便難，與柴胡湯，後必下重，渴飲水而嘔，柴胡不復中與也，食谷則噦。</p>
<p>病者無表裡證，發熱七八日，脈雖浮數者，可下之，假令已下，脈數不解，而合熱，則消穀善飢，至六七日不大便者，有瘀血，屬抵當湯證。若脈數不解，而下不止，必挾熱便膿血。</p>
<p>脈浮數，法當汗出而愈，而下之則體重心悸者，不可發其汗，當自汗出而解，所以然者，尺中脈微，此裡虛，須表裡實，津液和，自汗出愈。</p>
<p>陽明病，其脈浮緊，咽乾口苦，腹滿而喘，發熱汗出，而不惡寒，反偏惡熱，其身體重，發其汗即燥，心憒憒而反譫語，加溫針必怵惕，煩躁不得眠，下之即胃中空虛，客氣動膈，心中懊憹，舌上胎者，屬梔子湯證。若渴欲飲水，口乾舌燥者，與白虎湯。若脈浮，發熱，渴欲飲水，小便不利，與豬苓湯。</p>
<p>發汗已後，不可更與桂枝湯，汗出而喘，無大熱，屬麻黃杏子石膏甘草湯證。</p>
<p>病人脈微而澀者，此為醫所病也，大發其汗，又數大下之，其人亡血，病當惡寒，而發熱無休止，時夏月盛熱，而欲著復衣，冬月盛寒，而欲裸其體，所以然者，陽微即惡寒，陰弱即發熱，此醫發其汗，使陽氣微，又大下之，令陰氣弱。五月之時，陽氣在表，胃中虛冷，陽氣內微，不能勝冷，故欲著復衣。十一月之時，陽氣在裡，胃中煩熱，陰氣內弱，不能勝熱，故欲裸其體。又陰脈遲澀，故知亡血也。</p>
<p>傷寒吐後，腹滿者，屬承氣湯證。</p>
<p>傷寒本自寒下，醫復吐下之，寒格更逆吐，食入即出，屬乾薑黃芩黃連人參湯證。</p>
<p>傷寒吐下，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升，屬白虎湯證。</p>
<p>傷寒吐下後，未解，不大便五六日，至十餘日，其人日晡所發潮熱，不惡寒，獨語如見鬼神之狀。若劇者發則不識人，循衣妄撮，怵惕不安，微喘直視，脈弦者生，澀者死，微者但發熱譫語，屬承氣湯證，若下者勿復服。</p>
<p>太陽病，過經十餘日，心下嗢嗢欲吐，而胸中痛，大便反溏，其腹微滿，鬱郁微煩，先時自極吐下者，可與承氣湯，不爾者不可與，欲嘔胸中痛，微溏者，此非柴胡湯證，以嘔故知極吐下也。</p>
<p>太陽病，下之微喘者，表未解故也，屬桂枝湯證。（一云：麻黃湯證。）</p>
<p>太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出，而反惡寒，其表未解，醫反下之，動數則遲，頭痛則眩，胃中空虛，客氣動膈，短氣躁煩，心中懊憹，陽氣內陷，心下因堅，則為結胸，屬大陷胸湯證。若不結胸，但頭汗出，其餘無有，齊頸而還，小便不利，身必發黃。</p>
<p>太陽病，下之脈促，不結胸者，此為欲解，其脈浮者，必結胸，其脈緊者，必咽痛，其脈弦者，必兩脅拘急，其脈細而數者，頭痛未止，其脈沉而緊者，必欲嘔，脈沉而滑者，挾熱利，其脈浮而滑者，必下血。</p>
<p>太陽病，下之，其脈促胸滿者，屬桂枝去芍藥湯。若微惡寒，桂枝去芍藥加附子湯證。</p>
<p>太陽病，桂枝證，醫反下之，遂利不止，其脈促，表未解，喘而汗出，屬葛根黃芩黃連湯證。</p>
<p>太陽病，醫反下之，因腹滿時痛，為屬太陰，屬桂枝加芍藥湯證，其大實痛，屬桂枝加大黃湯證。</p>
<p>太陽病，下之，其氣上衝，可與桂枝湯，不上衝者，不可與之也。</p>
<p>太陽病，二三日，終不能臥，但欲起者，心下必結，其脈微弱者，此本寒也，而反下之，利止者，必結胸，未止者，四五日復重下之，此挾熱利也。</p>
<p>太陽病，外證未除，而數下之，遂挾熱利而不止，心下痞堅，表裡不解，屬桂枝人參湯證。</p>
<p>大下以後，不可更行桂枝湯，汗出而喘，無大熱，屬麻黃杏仁石膏甘草湯證。</p>
<p>太陽病，五日，下之，六七日不大便而堅者，屬柴胡湯證。</p>
<p>太陽病，過經十餘日，反再三下之，後四五日，柴胡湯證續在，先與柴胡湯，嘔止小安，其人鬱郁微煩者，為末解，屬大柴胡湯證。</p>
<p>傷寒八九日，下之，胸滿煩驚，小便不利，譫語，一身不可轉側，屬柴胡加龍骨牡蠣湯證。</p>
<p>傷寒，十三日不解，胸脅滿而嘔，日晡所發潮熱，而微利，此證當柴胡湯下之，不得利，今反利者，故知醫以丸藥下之，非其治也，潮熱者實也，先再服小柴胡湯以解其外，後屬柴胡加芒硝湯。</p>
<p>傷寒十三日，過經而譫語，內有熱也，當以湯下之，小便利者，大便當堅，而反利，其脈調和者，故知醫以丸藥下之，非其治也，自利者，其脈當微厥，今反和者，此為內實，屬承氣湯證。</p>
<p>傷寒五六日，嘔而發熱，柴胡湯證具，而以他藥下之，心下滿而堅痛者，此為結胸，屬大陷胸湯。</p>
<p>陽明病，下之，其外有熱，手足溫，不結胸，心中懊憹者，飢不能食，但頭汗出，屬梔子湯證。</p>
<p>陽明病，下之，心中懊憹而煩，胃中有燥屎者，可攻，其人腹微滿，頭堅後溏者，不可下之，有燥屎者，宜承氣湯。</p>
<p>陽明病，不能食，下之不解，其人不能食，攻其熱必噦，所以然者，胃中虛冷故也。</p>
<p>陽明病，脈遲，食難用飽，飽即發煩，頭眩者，必小便難，此欲作谷疸，雖下之，其腹滿即如故耳，所以然者，脈遲故也。</p>
<p>趺陽脈微弦，而如此，為強下之。</p>
<p>下利，其脈浮大，此為虛，以強下之故也。設脈浮革，故爾腸鳴，屬當歸四逆湯證。</p>
<p>傷寒，醫下之，續得下利清穀不止，身體疼痛，急當救里，後身體疼痛，清便自調，急當救表，救里宜四逆湯，救表宜桂枝湯。</p>
<p>大下後，五七日不大便，煩不解，腹痛而滿，有燥屎者，本有宿食故也。</p>
<p>大下後，口燥者，裡虛故也。</p>
<p>火逆下之，因燒針煩躁，屬桂枝甘草龍骨牡蠣湯。</p>

<h2>辨可溫病形證治第二十</h2>
<p>大法，冬宜服溫熱藥及灸。</p>
<p>師曰：病發熱頭痛，脈反沉，若不差，身體更疼痛，當救其里，宜溫藥四逆湯。</p>
<p>下利腹滿，身體疼痛，先溫其里，宜四逆湯。</p>
<p>自利不渴者屬太陰，其藏有寒故也，當溫之，宜四逆輩。</p>
<p>少陰病，其人飲食入則吐，心中嗢嗢欲吐，復不能吐，始得之手足寒，脈弦遲，若膈上有寒飲，乾嘔者，不可吐，當溫之，宜四逆湯。</p>
<p>少陰病，其脈沉者，急當溫之，宜四逆湯。</p>
<p>下利慾食者，就當溫之。</p>
<p>下利，脈遲緊，為痛未欲止者，當溫之，得冷者滿而便腸垢。</p>
<p>下利，其脈浮大，此為虛，以強下之故也，設脈浮革，因爾腸鳴，當溫之，與水者噦，宜當歸四逆湯。</p>
<p>少陰病下利，脈微澀者，即嘔，汗出必數更衣反少，當溫之。</p>
<p>傷寒，醫下之，而續得下利清穀不止，身體疼痛，急當救里，宜溫之，以四逆湯。</p>
<p>諸溫之屬，可與理中、四逆、附子湯，熱藥治之。</p>

<h2>辨不可火病形證治第二十一</h2>
<p>太陽中風，以火劫發其汗，邪風被火熱，血氣流溢，失其常度，兩陽相熏灼，其身發黃，陽盛即欲衄，陰虛小便難，陰陽俱虛竭，身體即枯燥，但頭汗出，齊頸而還，腹滿微喘，口乾咽爛，或不大便，久則譫語，甚者至噦，手足躁擾，循衣摸床，小便利者，其人可治。</p>
<p>太陽病，醫發其汗，遂發熱惡寒，復下之，則心下痞，此表裡俱虛，陰陽氣並竭，無陽則陰獨，復加火針，因而煩，面色青黃膚瞤者，難治，今色微黃，手足溫者愈。</p>
<p>傷寒，加溫針必驚。</p>
<p>陽脈浮，陰脈弱者，則血虛，血虛則筋惕，其脈沉者，營氣微也，其脈浮，而汗出如流珠者，衛氣衰也，營氣微者，加燒針，血留不行，更發熱而煩躁也。</p>
<p>傷寒脈浮，醫以火迫之，亡陽，驚狂，臥起不安，屬桂枝去芍藥加蜀漆龍骨牡蠣救逆湯。</p>
<p>問曰：得病十五六日，身體黃，下利，狂欲走，師脈之，言當清血，如豚肝乃愈，後如師言，何以知之？師曰：寸口脈，陽浮，陰濡而弱，陽浮則為風，陰濡弱為少血，浮虛受風，少血發熱，風則微寒灑淅，項強，頭眩，醫加火熏郁令汗出，惡寒遂甚，客熱因火而發，怫鬱蒸肌膚，身目為黃，小便微難，短氣，從鼻出血，而復下之，胃無津液，泄利遂不止，熱瘀在膀胱，畜結成積聚，狀如豚肝，當下未下，心亂迷憒，狂走赴水，不能自制，畜血若去，目明心了。此皆醫為，無他禍患，微難得愈，劇者不治。</p>
<p>傷寒，其脈不弦緊而弱，弱者必渴，被火必譫語。</p>
<p>太陽病，以火熏之，不得汗，其人必躁，到經不解，必清血。</p>
<p>陽明病被火，額上微汗出，而小便不利，必發黃。</p>
<p>陽明病，其脈浮緊，咽乾口苦，腹滿而喘，發熱汗出，而不惡寒，反惡熱，其身體重，發其汗即躁，心憒憒而反譫語，加溫針者必怵惕，又煩躁不得眠。</p>
<p>少陰病，咳而下利，譫語，是為被火氣劫故也，小便必難，為強責少陰汗也。</p>
<p>太陽病二日，而反燒瓦熨其背，大汗出，火熱入胃，胃中水竭燥煩，必發譫語，十餘日振而反汗出者，此為欲解，其汗從腰以下不得汗，其人慾小便不得，反嘔，欲失溲，足下惡風，大便堅者，小便當數，而反不數，及多便已，其頭必卓然而痛，其人足心必熱，穀氣從下流故也。</p>
<p>風溫為病，脈陰陽俱浮，自汗出，身重多眠，鼻息必鼾，語言難出。若被火者，微發黃色，劇則如驚癇，時瘛瘲。若火熏之，一逆尚引日，再逆促命期。</p>
<p>火逆下之，因燒針煩躁者，桂枝甘草龍骨牡蠣湯主之。</p>
<p>傷寒頭痛，翕翕發熱，形象中風，常微汗出，自嘔者，熏之則發黃，不得小便。</p>
<p>傷寒，發熱頭痛，微汗出，熏之則喘，加溫針則必衄。</p>
<p>傷寒，脈陰陽俱緊，惡寒發熱，則脈欲厥，厥者脈初來大，漸漸小，更來漸漸大，是其候也，若熏之則發黃，熨之則咽燥，小便利者可救，難者危殆。</p>

<h2>辨可火病形證治第二十二</h2>
<p>二陽並病，太陽初得病時，發其汗，汗先出不徹，因轉屬陽明，續自微汗出，不惡寒，若太陽病證不罷者，不可下，可小發其汗。設面色緣緣正赤者，陽氣怫鬱在表不得越，當解之熏之，當汗而不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣，但坐以汗出不徹故也。更發其汗則愈，何以知汗出不徹？以脈澀故知之。</p>
<p>下利，穀道中痛，當溫之，以為宜火熬末鹽熨之。（一方：炙枳實熨之。）</p>

<h2>辨不可灸病形證治第二十三</h2>
<p>微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，內攻有力，焦骨傷筋，血難復也。</p>
<p>脈浮，當以汗解，而反灸之，邪無從出，因火而盛，病從腰以下必重而痹，此為火逆。若欲自解，當須汗出。</p>
<p>脈浮，熱甚，反灸之，此為實，實以虛治，因火而盛，必咽燥唾血。</p>

<h2>辨可灸病形證治第二十四</h2>
<p>燒針令其汗，針處被寒核起而赤者，必發賁豚，氣從小腹上衝者，灸其核上各一壯，與桂枝加桂湯。</p>
<p>少陰病，得之一二日，口中和，其背惡寒者，當灸之。</p>
<p>少陰病，其人吐利，手足不逆，反發熱者，不死，脈不至者，灸其少陰七壯。</p>
<p>少陰病，下利脈微澀者即嘔，汗出必數更衣反少，當溫其上灸之。</p>
<p>諸下利，皆可灸足大都五壯，（一云：七壯。）商丘、陰陵泉皆三壯。</p>
<p>下利，手足厥冷，無脈，灸之，主足厥陰是也。灸不溫，反微喘者死。</p>
<p>傷寒五六日，脈微，手足厥冷，煩躁，灸厥陰，厥不還者死。</p>
<p>傷寒脈促，手足厥逆，可灸之，灸少陰、厥陰。</p>

<h2>辨不可刺病形證治第二十五</h2>
<p>大怒無刺（「大」一作。「新」，後同。——已刺無怒。（「已」一作「新」，下同。）</p>
<p>新內無刺　已刺無內。</p>
<p>大勞無刺　已刺無勞。</p>
<p>大醉無刺　已刺無醉。</p>
<p>大飽無刺　已刺無飽。</p>
<p>大飢無刺　已刺無飢。</p>
<p>大渴無刺　已刺無渴。</p>
<p>大驚無刺。</p>
<p>無刺熇熇之熱，無刺漉漉之汗，無刺渾渾之脈。身熱甚，陰陽皆爭者，勿刺也，其可刺者，急取之。不汗則泄，所謂勿刺者，有死徵也。</p>
<p>無刺病與脈相逆者，上工刺未生，其次刺未盛，其次刺已衰，粗工逆此，謂之伐形。</p>

<h2>辨可刺病形證治第二十六</h2>
<p>太陽病，頭痛，至七日自當愈，其經竟故也。若欲作再經者，當針足陽明，使經不傳則愈。</p>
<p>太陽病，初服桂枝湯，而反煩不解者，當先刺風池、風府，卻再與桂枝湯則愈。</p>
<p>傷寒，腹滿而譫語，寸口脈浮而緊者，此為肝乘脾，名曰縱，當刺期門。</p>
<p>傷寒，發熱，嗇嗇惡寒，其人大渴，欲飲酢漿者，其腹必滿而自汗出，小便利，其病欲解，此為肝乘肺，名曰橫，當刺期門。</p>
<p>陽明病，下血而譫語，此為熱入血室，但頭汗出者，刺期門，隨其實而瀉之，濈然汗出則愈。</p>
<p>婦人中風，發熱惡寒，經水適來，得之七八日，熱除，脈遲，身涼，胸脅下滿，如結胸狀，其人譫語，此為熱入血室，當刺期門，隨其實而取之。平病云熱入血室，無犯胃氣，及上二焦，與此相反，豈謂藥不謂針。</p>
<p>太陽與少陽並病，心下痞堅，頸項強而眩，當刺大椎第一間，肺俞、肝俞，勿下之。</p>
<p>婦人傷寒，懷娠，腹滿不得大便，從腰以下重，如有水氣狀，懷娠七月，太陰當養不養，此心氣實，當刺瀉勞宮，及關元，小便利則愈。</p>
<p>傷寒喉痹，刺手少陰，少陰在腕當小指後動脈是也，針入三分補之。</p>
<p>少陰病，下利便膿血者，可刺。</p>

<h2>辨不可水病形證治第二十七</h2>
<p>發汗後，飲水多者，必喘，以水灌之，亦喘。</p>
<p>傷寒吐下之，極虛復極汗出者，其人外氣怫鬱。復與之水，以發其汗，因得噦者，胃中寒冷故也。</p>
<p>脈浮而遲，表熱裡寒，下利清穀，胃中虛冷，其人不能食，飲水即噦。</p>
<p>下利，其脈浮大，此為虛，以強下之故也。設脈浮革，因爾腸鳴，當溫之，與水者噦。</p>
<p>陽明病，潮熱微堅，可與承氣湯，不堅勿與之。若不大便六七日，恐有燥屎，欲知之法，可與小承氣湯，若腹中轉矢氣者，此為但頭堅後溏，不可攻之，攻之必腹滿不能食，欲飲水者即噦。</p>
<p>病在陽，當以汗解，而反以水潠之，若灌之，其熱卻不得去，須臾益煩，皮上粟起，意欲飲水，反不渴，服文蛤散。不差，與五苓散。寒實結胸，無熱證者，與三物小白散。</p>
<p>身熱皮粟，不解，欲引衣自覆，若以水灌之洗之，其熱被劫，益不得去，當汗而不汗，即煩，假令汗出已，腹中痛，與芍藥三兩，如上法。</p>
<p>寸口脈浮大，醫反下之，此為大逆，浮即無血，大則為寒，寒氣相搏，則為腸鳴，醫乃不知，而反飲水，令汗大出，水得寒氣，冷必相搏，其人必噎。</p>
<p>寸口脈濡而弱，濡即惡寒，弱則發熱，濡弱相搏，藏氣衰微，胸中苦煩，此非結熱，而反搏之，居水漬布，冷銚貼之，陽氣遂微，諸府無依，陰脈凝閉，結在心下，而不肯移，胃中虛冷，水穀不化，小便縱通，復不能多，微則可救，劇則寒在心下，當奈何。</p>

<h2>辨可水病形證治第二十八</h2>
<p>太陽病，發汗後，若大汗出，胃中乾燥，煩不能眠，其人慾飲水，當稍飲之，令胃中和則愈。</p>
<p>厥陰病，渴欲飲水者，與水飲之即愈。</p>
<p>太陽病，寸口緩，關上小浮，尺中弱，其人發熱而汗出，復惡寒，欲嘔，但苦心下痞者，此為下之故也。若不下，其人復不惡寒而渴者，為轉屬陽明病，小便數者，大便必堅，不更衣十日無所苦也。欲飲水者，與之，但當如法救之，宜五苓散。</p>
<p>寸口脈洪而大，數而滑，洪大則營氣長，滑數則胃氣實，營長則陽盛怫鬱不得出，胃實則堅難，大便則乾燥。三焦閉塞，津液不通，醫發其汗，陽盛不周，復重下之，胃燥熱蓄，大便遂擯，小便不利，營衛相搏，心煩發熱，兩眼如火，鼻乾面赤，舌燥齒黃焦，故大渴，過經成壞病，針藥所不能制，與水灌枯槁，陽氣微散，身寒，溫衣覆汗出，表裡通利，其病即除，形脈多不同，此愈非法治，但醫所當慎，妄犯傷營衛。</p>
<p>霍亂而頭痛，發熱，身體疼痛，熱多，欲飲水，屬五苓散證。</p>
<p>嘔吐，而病在膈上，後必思水者，急與豬苓湯飲之，水亦得也。</p>

<h2>論熱病陰陽交併生死證二十九</h2>
<p>問曰：溫病汗出，輒復熱，而脈躁疾，不為汗衰，狂言不能食，病名為何？對曰：病名陰陽交，交者死。人所以汗出者，生於穀，穀生於精，今邪氣交爭於骨肉之間，而得汗者，是邪卻而精勝也，精勝則當能食，而不復熱，熱者邪氣也，汗者精氣也，今汗出而輒復熱者，邪勝也，不能食者，精無俾也，汗出而熱留者，壽可立而傾也。夫汗出而脈尚躁盛者死，今脈不與汗相應，此不能勝其病也，狂言者是失志，失志者死，此有三死，不見一生，雖愈必死。</p>
<p>熱病已得汗，而脈尚躁盛，此陰脈之極也，死。其得汗而脈靜者生。</p>
<p>熱病脈尚躁盛，而不得汗者，此陽脈之極也，死。脈躁盛得汗者生。</p>
<p>熱病已得汗，而脈尚躁喘，且復熱，勿膚刺，喘甚者死。熱病陰陽交者死。</p>
<p>熱病陽進陰退，頭獨汗出死，陰進陽退，腰以下至足汗出，亦死。陽陰俱進，汗出已，熱如故，亦死。陰陽俱退，汗出已，寒慄不止，鼻口氣冷，亦死。</p>
<p>熱病，所謂並陰者，熱病已得汗，因得泄，是謂並陰，故治。（一作，「活」。）</p>
<p>熱病，所謂並陽者，熱病已得汗，脈尚躁盛，大熱汗出，雖不汗出，若衄，是謂並陽，故治。</p>

<h1>《金匱玉函經》卷第七</h1>

<h2>方藥炮製</h2>
<p>凡野葛不入湯，入湯則殺人，不謂今葛根也。凡半夏不㕮咀，以湯洗十數度，令水清滑盡，洗不熟有毒也。茱萸、椒之類，不㕮咀。生薑一斤，出汁三合半，生薑皆薄切之，乃搗絞取汁，湯成乃熟煮，如升數，無生者，用乾者一兩當二兩。附子、大黃之類，皆破解，不㕮咀，或炮或生，皆去黑皮，刀刮取里白者，故曰中白。用木芍藥刮去皮。大棗擘去核。厚朴即斜削如脯法。桂削去皮，用里黑潤有味者為佳。細辛斬折之，麻黃亦折之，皆先煮數沸，生則令人煩，汗出不可止，折節益佳。用桃核、杏核，皆須泡去皮乃熬，勿取兩人者，作湯不熬。巴豆去皮心，復熬變色。瞿麥、小草，斬折不㕮咀。石葦手撲，速吹去毛盡，曝令燥，復撲之，不盡令人淋。藜蘆去頭毛。葶藶皆熬黃黑色，巴豆、桃仁、杏仁，皆不可從藥，別搗令如膏，乃稍納藥末中，更下粗羅。凡㕮咀藥，欲如大豆，粗則藥力不盡。凡煎藥皆去沫，沫濁難飲，令人煩。膠，乃成下，去滓，乃納之，飴亦然。凡丸藥，膠炙之乃可搗。用膠，炙令盡沸，凡搗丸藥，欲各異搗，藥有難易搗耳。凡煮藥用遲火，火駛藥力不出盡，當以布絞之，綿不盡汁也。凡篩藥欲細篩，篩訖更合治之。和調蜜丸者，益杵數為佳。凡散石藥，以藥計分之，下絹篩佳。散藥粗篩佳，凡作膏欲生，熟則力少。</p>
<p><u>桂枝湯方</u>（第一）</p>
<p>桂枝（三兩）　芍藥（三兩）　甘草（二兩，炙）　生薑（三兩，切）　大棗（十二枚，擘）</p>
<p>上五味，㕮咀三物，水七升，微火煮取三升，去滓。溫服一升。須臾飲熱粥一升余，以助藥力，溫覆令汗出，一時許益佳，若不汗，再服如前，又不汗，後服當小促其間，令半日許，三服盡。病重者，一日一夜服，晬時觀之，服一劑盡，病證猶在，當復作服。若汗不出者，服之二三劑，乃解。</p>
<p><u>桂枝麻黃各半湯方</u>（第二）</p>
<p>桂枝（一兩十戒嚴銖）　芍藥　生薑　甘草（炙）　麻黃（各一兩）　大棗（四枚）　杏仁（二十四枚）</p>
<p>上七味，㕮咀，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取一升八合，去滓，溫服六合。本方二湯各三合，併為六合，頓服，今裁為一方。</p>
<p><u>桂枝二麻黃一湯方</u>（第三）</p>
<p>桂枝（一兩十六銖）　芍藥（一兩六銖）　麻黃（十六銖）　生薑（一兩六銖）　杏仁（十六枚）　甘草（一兩二銖）　大棗（五枚）</p>
<p>上七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升，本方桂枝湯二分，麻黃湯一分，合為二升，分再服，今合為一方。</p>
<p><u>桂枝二越婢一湯方</u>（第四）</p>
<p>桂枝　芍藥　甘草　麻黃（各十八銖）　生薑（一兩三銖）　大棗（四枚）　石膏（二十四銖）</p>
<p>上七味，㕮咀，以水五升，先煮麻黃一二沸，去上沫，內諸藥煮，取二升，去渣，溫服一升。本方當裁為越脾湯桂枝湯合之，飲一升，今合為一方，桂枝湯二分，越脾湯一分。</p>
<p><u>桂枝加桂湯方</u>（第五）</p>
<p>桂枝（五兩）　芍藥（三兩）　甘草（二兩，炙）　生薑（二兩）　大棗（十二枚）</p>
<p>上五味，以水七升，煮取三升，去滓，溫服一升。本方桂枝湯，今加桂</p>
<p><u>桂枝加附子湯方</u>（第六）</p>
<p>桂枝　芍藥（各三兩）　甘草（二兩，炙）　生薑（三兩）　大棗（十二枚）　附子（一枚，炮，去皮，破八片）</p>
<p>上六味，㕮咀三物，以水七升，煮取三升，去滓，溫服一升。本方桂枝湯，今加附子。</p>
<p><u>桂枝去芍藥湯方</u>（第七）</p>
<p>桂枝（三兩）　甘草（二兩，炙）　生薑（三兩）　大棗（十二枚）</p>
<p>上四味，㕮咀，以水七升，煮取三升，去渣，溫服一升，本方桂枝湯，今去芍藥。</p>
<p><u>桂枝去芍藥加附子湯方</u>（第八）</p>
<p>桂枝（三兩）　甘草（二兩，炙）　生薑（三兩）　大棗（十二枚）　附子（一枚，炮）</p>
<p>上五味，㕮咀，以水七升，煮取三升，去滓，溫服一升。本方桂枝湯，今去芍藥加附子。</p>
<p><u>桂枝去桂加茯苓白朮湯方</u>（第九）</p>
<p>芍藥（三兩）　甘草（二兩，炙）　生薑（三兩）　大棗（十二枚）　茯苓　白朮（各三兩）</p>
<p>上六味，㕮咀，以水七升，煮取三升，去滓，溫服一升。小便利即愈。本方桂枝湯，今去桂加茯苓、術。</p>
<p><u>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯方</u>（第十）</p>
<p>桂枝（三兩）　甘草（二兩，炙）　生薑（三兩）　蜀漆（三兩，洗，去腥）　大棗（十二枚）　牡蠣（五兩，熬）　龍骨（四兩）</p>
<p>上七味，㕮咀，以水八升，先煮蜀漆，減二升，納諸藥，取三升，去渣，溫服一升。本方桂枝湯，今去芍藥，加蜀漆、龍骨、牡蠣。（一法以水一斗二升，煮取五升。）</p>
<p><u>桂枝加芍藥生薑人參湯方</u>（第十一）</p>
<p>桂枝（三兩）　芍藥　生薑（各四兩）　甘草（二兩，炙）　人參（三兩）　大棗（十二枚）</p>
<p>上六味，㕮咀四味，以水一斗一升煮，取三升，去滓，溫服一升。本方桂枝湯，今加芍藥、生薑、人參。</p>
<p><u>桂枝倍加芍藥湯方</u>（第十二）</p>
<p>桂枝（三兩）　芍藥（六兩）　生薑（三兩）　甘草（二兩，炙）　大棗（十二枚）</p>
<p>上五味，㕮咀，以水七升煮，取三升，去滓，溫服一升。本方桂枝湯，今加用芍藥。</p>
<p><u>桂枝加大黃湯方</u>（第十三）</p>
<p>桂枝（三兩）　芍藥（六兩）　生薑（三兩）　甘草（二兩，炙）　大棗（十二枚）　大黃（三兩）</p>
<p>上六味，㕮咀，以水七升煮，取三升，去滓，溫服一升。</p>
<p><u>桂枝人參湯方</u>（第十四）</p>
<p>桂枝　甘草（炙，各四兩）　人參　白朮　乾薑（各三兩）</p>
<p>上五味，以水九升煮四味，取五升，去滓，內桂更煮，取三升，去滓，溫服一升，日再，夜一服。</p>
<p><u>桂枝甘草龍骨牡蠣湯方</u>（第十五）</p>
<p>桂枝（一兩）　甘草　龍骨　牡蠣（熬，各三兩）</p>
<p>上為末，以水五升煮，取二升，去滓，溫服八合，日三服。</p>
<p><u>桂枝甘草湯方</u>（第十六）</p>
<p>桂枝（四兩）　甘草（二兩，炙）</p>
<p>上二味，以水三升煮，取一升，去滓，頓服。</p>
<p><u>桂枝加葛根湯方</u>（第十七）</p>
<p>桂枝（三兩）　芍藥（二兩）　甘草（二兩，炙）　生薑（三兩）　大棗（十二枚）　葛根（四兩）</p>
<p>上六味，以水九升，先煮葛根，減二升，去上沫，內諸藥煮，取三升，去滓，溫服一升，覆取微似汗，不須啜粥，余如桂枝法。</p>
<p><u>葛根湯方</u>（第十八）</p>
<p>葛根（四兩）　麻黃　生薑（各三兩）　桂枝　芍藥　甘草（各二兩）　大棗（十二枚）</p>
<p>上七味，㕮咀，以水一斗，先煮麻黃、葛根，減二升，去上沫，內諸藥煮，取一升，去滓，溫服一升，取汗，不須啜粥。</p>
<p><u>葛根加半夏湯方</u>（第十九）</p>
<p>葛根（四兩）　麻黃　生薑　桂枝　芍藥　甘草（各二兩）　大棗（十二枚）　半夏（半升，洗）</p>
<p>上八味，以水一斗，先煮葛根、麻黃，減二升，去上沫，內諸藥煮，取三升，去滓，溫服一升，取汗。</p>
<p><u>葛根黃芩黃連湯方</u>（第二十）</p>
<p>葛根（半斤）　甘草（二兩，炙）　黃芩　黃連（各三兩）</p>
<p>上四味，㕮咀，以水八升，先煮葛根，減二升，內諸藥煮，取二升，去滓，溫分服。</p>
<p><u>麻黃湯方</u>（第二十一）</p>
<p>麻黃（三兩）　桂枝（二兩）　甘草（一兩，炙）　杏仁（七十枚）</p>
<p>上四味，㕮咀，以水九升，先煮麻黃，減二升，去上沫，內諸藥煮，取二升半，去滓，溫服八合，溫覆出汗，不須啜粥，余如桂枝法。</p>
<p><u>麻黃杏子甘草石膏湯方</u>（第二十二）</p>
<p>麻黃（四兩）　杏子（五十枚）　石膏（半斤，碎，綿裹）　甘草（一兩，炙）</p>
<p>上四味，以水七升，先煮麻黃，減二升，去上沫，內諸藥煮，取二升，去滓，溫服一升。</p>
<p><u>麻黃附子甘草湯方</u>（第二十三）</p>
<p>麻黃（二兩）　附子（一枚，泡，去皮，破八片）　甘草（二兩，炙）</p>
<p>上三味，以水七升，先煮麻黃一二沸，去上沫，內諸藥煮，取二升半，去滓，溫服八合。</p>
<p><u>麻黃附子細辛湯方</u>（第二十四）</p>
<p>麻黃（二兩）　附子（一枚，去皮，破作八片，炮）　細辛（二兩）</p>
<p>上三味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥煮，取三升，去滓，溫服一升。</p>
<p><u>麻黃連軺赤小豆湯方</u>（第二十五）</p>
<p>麻黃　連軺　生薑（各二兩）　赤小豆（一升）　杏仁（三十枚，去皮尖）　甘草（一兩，炙）　大棗（十二枚）　生梓白皮（一升）</p>
<p>上八味，以潦水一斗，先煮麻黃一二沸，去上沫，內諸藥煮，取三升，去渣，溫服一升。</p>
<p><u>麻黃升麻湯方</u>（第二十六）</p>
<p>麻黃（二兩半）　升麻　當歸（各一兩六銖）　黃芩　萎蕤　知母（各十八銖）　石膏（碎，綿裹）　甘草（炙）　桂枝　芍藥　乾薑　白朮　茯苓　麥門冬（去心，各六銖）</p>
<p>上十四味，㕮咀，以水一斗，先煮麻黃一二沸，去上沫，內諸藥煮，取三升，去渣，分溫三服，一飯間，當出汗愈。</p>
<p><u>大青龍湯方</u>（第二十七）</p>
<p>麻黃（六兩）　桂枝（二兩）　甘草（二兩，炙）　石膏（雞子大，碎，綿裹）　杏仁（四十枚）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味，以水九升，先煮麻黃，減二升，去上沫，內諸藥煮，取三升，去滓，溫服一升，覆令汗出，多者溫粉撲之，一服汗者，停後服，若復服，汗多亡陽，遂虛，惡風煩躁，不得眠。</p>
<p><u>小青龍湯方</u>（第二十八）</p>
<p>麻黃　芍藥　細辛　桂枝　乾薑　甘草　五味子（碎）　半夏（各半升）</p>
<p>上八味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥煮，取三升，去滓，溫服一升。渴者去半夏加栝樓根三兩。微利去麻黃加蕘花如雞子，熬令赤色。噎者去麻黃加附子一枚炮。小便不利，少腹滿者去麻黃加茯苓四兩。喘者去麻黃加杏仁半升。（蕘花不治利，麻黃定喘，今反之者，疑非仲景意。）</p>
<p><u>小建中湯方</u>（第二十九）</p>
<p>桂枝　甘草（炙）　生薑（各三兩）　芍藥（六兩）　大棗（十二枚）　膠飴（一升）</p>
<p>上六味，以水七升煮，取三升，去滓，內膠飴，更上火消解，溫服一升。嘔家不可服，以甘故也。</p>
<p><u>小柴胡湯方</u>（第三十）</p>
<p>柴胡（半斤）　黃芩　人參　甘草　生薑（各三兩）　半夏（半升）　大棗（十二枚）</p>
<p>上七味，㕮咀，以水一斗二升煮，取六升，去滓，再煮取三升，溫服一升，日三。若胸中煩，不嘔者，去半夏、人參加栝蔞實一枚。若渴者，去半夏加人參，合前成四兩半，栝蔞根四兩。若腹中痛者，去黃芩加芍藥三兩。若脅下痞堅者，去大棗加牡蠣四兩。若心下悸，小便不利者，去黃芩加茯苓四兩。若不渴，外有微熱者，去人參加桂三兩，溫覆微發其汗。若咳者，去人參、大棗、生薑，加五味子半升，乾薑二兩。</p>
<p><u>柴胡桂枝幹薑湯方</u>（第三十一）</p>
<p>柴胡（半斤）　桂枝（三兩）　乾薑（二兩）　甘草（二兩，炙）　牡蠣（二兩，熬）　栝蔞根（四兩）　黃芩（三兩）</p>
<p>上七味，以水一斗二升煮，取六升，去滓，再煎取三升，溫服一升，初服微煩，復服汗出愈。</p>
<p><u>柴胡桂枝湯方</u>（第三十二）</p>
<p>柴胡（四兩）　黃芩　人參（各一兩半）　半夏（二合半）　甘草（一兩，炙）　桂枝　芍藥　生薑（各一兩半）　大棗（六枚）</p>
<p>上九味，以水七升煮，取三升，法滓，溫服一升。</p>
<p><u>柴胡加龍骨牡蠣湯方</u>（第三十三）</p>
<p>柴胡（四兩）　黃芩　生薑　龍骨　人參　桂枝　牡蠣（熬）　黃丹　茯苓（各一兩半）　半夏（二合半）　大棗（六枚）　大黃（二兩）</p>
<p>上十二味，以水八升煮，取四升，內大黃更煮，取二升，去滓，溫服一升。本方柴胡湯內加龍骨、牡蠣、黃丹、桂、茯苓、大黃也，今分作半劑。</p>
<p><u>大柴胡湯方</u>（第三十四）</p>
<p>柴胡（半斤）　黃芩（三兩）　芍藥（三兩）　半夏（半升）　生薑（三兩）　枳實（四枚，炙）　大棗（十二枚）　大黃（二兩）</p>
<p>上八味，以水一斗二升煮，取六升，去滓，再煎取三升，溫服一升。一方無大黃，然不加不得名大柴胡湯也。</p>
<p><u>柴胡加芒硝湯方</u>（第三十五）</p>
<p>柴胡（二兩十六銖）　黃芩（一兩）　人參（一兩）　甘草（一兩，炙）　生薑（一兩）　半夏（五枚）　大棗（四枚）　芒硝（二兩）</p>
<p>上七味，以水四升，煮取三升，去滓，分二服，以解為差，不解更作服。</p>
<p><u>柴胡加大黃芒硝桑螵蛸湯方</u>（第三十六）</p>
<p>柴胡（二兩）　黃芩　人參　甘草（炙）　生薑（各十八銖）　半夏（五枚）　大棗（四枚）　芒硝（三合）　大黃（四兩）　桑螵蛸（五枚）</p>
<p>上前七味，以水四升煮，取二升，去滓，下芒硝、大黃、桑螵蛸煮，取一升半，去滓，溫服五合，微下即愈。本方柴胡湯，再服以解其外，餘一服加芒硝、大黃、桑螵蛸。</p>
<p><u>茯苓桂枝甘草大棗湯方</u>（第三十七）</p>
<p>茯苓（半斤）　桂枝（四兩）　甘草（二兩，炙）　大棗（十五枚）</p>
<p>上四味，以甘瀾水一斗，先煮茯苓，減二升，內諸藥煮，取三升，去滓，溫服一升，日三。</p>
<p><u>茯苓桂枝白木甘草湯方</u>（第三十八）</p>
<p>茯苓（四兩）　桂枝　白朮（各三兩）　甘草（二兩）</p>
<p>上四味，以水六升煮，取三升，分溫三服，小便即利。</p>
<p><u>茯苓甘草湯方</u>（第三十九）</p>
<p>茯苓（三兩）　甘草（一兩，炙）　桂枝（二兩）　生薑（三兩）</p>
<p>上四味，以水四升煮，取二升，去滓，分溫三服。</p>
<p><u>五苓散方</u>（第四十）</p>
<p>豬苓（十八銖）　澤瀉（一兩六銖）　茯苓（十八銖）　桂（半兩）　白朮（十八銖）</p>
<p>上五味，為末，以白飲和服方寸匕，日三服，多飲暖水，汗出愈。</p>
<p><u>甘草乾薑湯方</u>（第四十一）</p>
<p>甘草（二兩，炙）　乾薑（二兩）</p>
<p>上二味，㕮咀，以水三升煮，取一升五合，去滓，分溫再服。</p>
<p><u>芍藥甘草湯方</u>（第四十二）</p>
<p>芍藥（四兩）　甘草（四兩，炙）</p>
<p>上二味，㕮咀，以水三升煮，取一升五合，去滓，分溫再服。</p>
<p><u>炙甘草湯方</u>（第四十三）</p>
<p>甘草（四兩，炙）　生薑（三兩）　人參（二兩）　生地黃（一斤）　桂枝（三兩）　阿膠　麥門冬（半升，去心）　麻子仁（半升）　大棗（三十枚）</p>
<p>上九味，酒七升，水八升煮，取三升，去滓，內膠烊盡，溫服一升，日三服。</p>
<p><u>甘草湯方</u>（第四十四）</p>
<p>甘草（二兩）</p>
<p>上一味，以水三升煮，取一升半，去滓，溫服七合，日二服。</p>
<p><u>厚朴生薑半夏甘草人參湯方</u>（第四十五）</p>
<p>厚朴　生薑　半夏（各半斤）　甘草（二兩）　人參（一兩）</p>
<p>上五味，㕮咀，以水一斗煮，取三升，去滓，溫服一升，日三服。</p>
<p><u>梔子豉湯方</u>（第四十六）</p>
<p>梔子（十四枚，擘）　香豉（四合，綿裹）</p>
<p>上二味，以水四升，先煮梔子得二升半，內豉煮，取一升半，去滓，分二服，溫進一服，得快吐，止後服。</p>
<p><u>梔子甘草豉湯方</u>（第四十七）</p>
<p>梔子（十四枚，擘）　甘草（二兩）　香豉（四合，綿裹）</p>
<p>上三味，以水四升，先煮梔子、甘草得二升半，內豉煮取一升半，去滓，分為二服，溫進一服，得快吐，止後服。</p>
<p><u>梔子生薑豉湯方</u>（第四十八）</p>
<p>梔子（十四枚，擘）　生薑（五兩）　香豉（四合，綿裹）</p>
<p>上三味，以水四升，先煮梔子、生薑得二升半，內豉煮，取一升半，去滓，分為二服，溫進一服，得快吐，止後服。</p>
<p><u>梔子厚朴湯方</u>（第四十九）</p>
<p>梔子（十四枚，擘）　厚朴（四兩）　枳實（四枚，去穰，炒）　</p>
<p>上三味，以水三升煮，取一升半，去滓，分為二服，溫進一服，得吐，止後服。</p>
<p><u>梔子乾薑湯方</u>（第五十）</p>
<p>梔子（十四枚，擘）　乾薑（二兩）</p>
<p>上二味，以水三升煮，取一升，去滓，分為三服，溫進一服，得快吐，止後服。</p>
<p><u>梔子黃檗湯方</u>（第五十一）</p>
<p>梔子（十四枚，擘）　黃檗（二兩十六銖）　甘草（一兩，炙）</p>
<p>上三味，㕮咀，以水四升煮，取一升半，去滓，分溫再服。</p>

<h1>《金匱玉函經》卷第八</h1>
<p><u>小陷胸湯方</u>（第五十二）</p>
<p>栝樓實（一枚）　黃連（二兩）　半夏（半升）</p>
<p>上三味，以水六升，先煮栝樓，取三升，去渣，內諸藥煮，取二升，去滓，分溫三服。</p>
<p><u>大陷胸湯方</u>（第五十三）</p>
<p>大黃（六兩，去皮）　芒硝（一升）　甘遂（一錢）</p>
<p>上三味，以水六升，先煮大黃，取二升，去滓，內芒硝煮一二沸，內甘遂末，溫服一升，得快利，止後服。</p>
<p><u>大陷胸丸方</u>（第五十四）</p>
<p>大黃（半斤）　葶藶　芒硝　杏仁（各半升）</p>
<p>上四味，搗和取如彈丸一枚，甘遂末一錢匕，白蜜一兩，水二升煮，取一升，頓服，一宿乃下。</p>
<p><u>又大陷胸湯方</u>（第五十五）</p>
<p>桂枝（四兩）　甘遂（四兩）　大棗（十二枚）　栝樓實（一枚，去皮）　人參（四兩）</p>
<p>上五味，以水七升煮，取三升，去滓，溫服一升，胸中無堅，勿服之。</p>
<p><u>文蛤散方</u>（第五十六）</p>
<p>文蛤（五兩）</p>
<p>上一味為散，沸湯和服，一方寸匕。</p>
<p><u>白散方</u>（第五十七）</p>
<p>桔梗　貝母（各十八銖）　芭豆（六銖，去皮心，熬黑）</p>
<p>上三味為散，白飲和服，強人半錢，羸人減之，病在膈上必吐，在膈下必利，不利進熱粥一杯，利過不止，進冷粥一杯。</p>
<p><u>大黃瀉心湯方</u>（第五十八）</p>
<p>大黃（二兩）　黃連（一兩）</p>
<p>上二味㕮咀，以麻沸湯二升漬之，須臾絞去滓，分溫再服。</p>
<p><u>附子瀉心湯方</u>（第五十九）</p>
<p>大黃（二兩）　黃連　黃芩（各一兩）　附子（一枚，炮，去皮，破，別煮，取汁）</p>
<p>上四味，㕮咀，三味以麻沸湯二升漬之，須臾絞去滓，內附子汁，分溫再服。</p>
<p><u>半夏瀉心湯方</u>（第六十）</p>
<p>半夏（半升）　黃芩　乾薑　甘草（炙）　人參（各三兩）　黃連（一兩）　大棗（十六枚）</p>
<p>上七味，以水一斗煮，取六升，去滓再煮，取三升，溫服一升，日三服。</p>
<p><u>甘草瀉心湯方</u>（第六十一）</p>
<p>甘草（四兩）　黃芩（三兩）　乾薑（三兩）　半夏（半升）　黃連（一兩）　大棗（十二枚）</p>
<p>上六味，以水一斗煮，取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p><u>生薑瀉心湯方</u>（第六十二）</p>
<p>生薑（四兩）　人參　甘草　黃芩（各三兩）　半夏（半升）　乾薑　黃連（各一兩）　大棗（十二枚）</p>
<p>上八味，以水一斗煮，取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p><u>禹餘糧丸方</u></p>
<p>闕</p>
<p><u>赤石脂禹餘糧湯方</u>（第六十三）</p>
<p>赤石脂（一斤，碎）　禹餘糧（一斤，碎）</p>
<p>上二味，以水六升煮二升，去滓，分溫三服。</p>
<p><u>旋覆代赭石湯方</u>（第六十四）</p>
<p>旋覆花（三兩）　代赭石（一兩）　人參（二兩）　大棗（十二枚）　生薑（五兩）　半夏（半升）　甘草（二兩）</p>
<p>上七味，以水一斗煮，取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p><u>瓜蒂散方</u>（第六十五）</p>
<p>瓜蒂（熬黃）　赤小豆（各六銖）</p>
<p>上二味，各別搗，篩為散，合治之，取一錢匕，以香豉一合，用熱湯七合煮，作稀糜，去滓，取汁和散，溫頓服之，不吐者少少加，得快吐乃止。諸亡血虛家，不可與瓜蒂散。</p>
<p><u>白虎湯方</u>（第六十六）</p>
<p>石膏（一斤，碎）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>上四味，以水一斗煮，米熟湯成，去滓，溫服一升，日三服。</p>
<p><u>白虎加人參湯方</u>（第六十七）</p>
<p>人參（三兩）　石膏（一斤）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>上五味，以水一斗煮，米熟湯成，去滓，溫服一升，日三服。</p>
<p><u>桂枝附子湯方</u>（第六十八）</p>
<p>桂枝（四兩）　附子（三枚，炮）　甘草（二兩，炙）　大棗（十五枚）　生薑（三兩）</p>
<p>上五味，以水六升煮，取二升，去滓，分溫三服。</p>
<p><u>朮附湯方</u>（第六十九）</p>
<p>白朮（四兩）　附子（三枚，炮）　甘草（三兩，炙）　生薑（二兩）　大棗（十五枚）</p>
<p>上五味，以水六升煮，取二升，去滓，分溫三服。一服覺身痹半日許，再服如冒狀，勿怪也，即是附子與術，並走皮中逐水氣，未得除，故使之耳，法當加桂四兩，其人大便堅，小便自利，故不加桂也。</p>
<p><u>甘草附子湯方</u>（第七十）</p>
<p>甘草（三兩，炙）　附子（二枚，炮）　白朮（三兩）　桂枝（四兩）</p>
<p>上四味，以水六升煮，取三升，去滓，溫服一升，日三服，汗出即解，能食，汗止復煩者，服五合，恐一升多者，宜服六七合為始。</p>
<p><u>芍藥甘草附子湯方</u>（第七十一）</p>
<p>芍藥　甘草（各一兩）　附子（一枚，炮）</p>
<p>上三味，㕮咀，以水三升，煮，取一升三合，去滓，分溫三服。</p>
<p><u>乾薑附子湯方</u>（第七十二）</p>
<p>乾薑（一兩）　附子（一枚）</p>
<p>上二味，以水三升煮一升，頓服之。</p>
<p><u>十棗湯方</u>（第七十三）</p>
<p>芫花（熬）　甘遂　大戟</p>
<p>上三味，等分為散，以水一升半，先煮棗十枚，取八合，去滓，內藥末，強人一錢，羸人半錢。若下少病不除，明日加半錢。</p>
<p><u>附子湯方</u>（第七十四）</p>
<p>附子（二枚，炮）　茯苓（三兩）　人參（二兩）　白朮（四兩）　芍藥（三兩）</p>
<p>上五味，㕮咀，以水八升煮，取三升，去滓，溫服一升，日三服。</p>
<p><u>大承氣湯方</u>（第七十五）</p>
<p>大黃（四兩，酒洗）　厚朴（半斤，炙，去皮）　枳實（五枚，炙）　芒硝（三合）</p>
<p>上四味，以水一斗先煮二味，取五升，去滓，內大黃煮，取二升，去滓，內芒硝更上微火一二沸，分溫再服，得下，余勿服。</p>
<p><u>小承氣湯方</u>（第七十六）</p>
<p>大黃（四兩）　厚朴（二兩，炙，去皮）　枳實（三枚大者，炙）</p>
<p>上三味，以水四升煮，取一升二合，去滓，分溫三服，初服當更衣，不爾盡飲之，若更衣，勿復服。</p>
<p><u>調胃承氣湯方</u>（第七十七）</p>
<p>大黃（四兩、清酒浸）　甘草（二兩，炙）　芒硝（半升）</p>
<p>上三味，㕮咀，以水三升煮，取一升，去滓，內芒硝更上火，微煮令沸，少少溫服。</p>
<p><u>桃仁承氣湯方</u>（第七十八）</p>
<p>桃仁（五十枚，去皮尖）　大黃（四兩）　桂枝（二兩）　甘草（二兩，炙）　芒硝（二兩）</p>
<p>上五味，以水七升，先煮四味，取二升半，去滓，內硝更煮微沸，溫服五合，日三服，微利。</p>
<p><u>豬苓湯方</u>（第七十九）</p>
<p>豬苓　茯苓　阿膠　澤瀉　滑石（碎，各一兩）</p>
<p>上五味，以水四升，先煮四味，取二升，去滓，內膠消盡，溫服七合，日三服。</p>
<p><u>蜜煎</u>（導方第八十）</p>
<p>蜜（七合）</p>
<p>上一味內銅器中，微火煎如飴，勿令焦，俟可丸，捻作挺如指許長二寸，當熱作，令頭銳，內穀道中，以手急抱，欲大便時，乃去之。</p>
<p>又大豬膽一枚，瀉汁，和醋少許，以灌穀道中，如一食頃，當大便出，宿食惡物。</p>
<p><u>麻子仁丸方</u>（第八十一）</p>
<p>麻子仁（二升）　芍藥（半斤）　大黃（一斤）　厚朴（一斤，炙）　枳實（半斤，炙）　杏仁（一斤）</p>
<p>上六味為末，煉蜜為丸桐子大，飲服十丸，日三服，漸加，以和為度。</p>
<p><u>抵當丸方</u>（第八十二）</p>
<p>水蛭（二十個，熬）　虻蟲（二十五個）　桃仁（三十個，去皮尖）　大黃（三兩）</p>
<p>上四味，杵分為四丸，以水一升煮一丸，取七合服之，晬時當下血，若不下，更服。</p>
<p><u>抵當湯方</u>（第八十三）</p>
<p>水蛭（三十個，熬）　虻蟲（三十個，熬，去翅足）　桃仁（二十個，去皮尖）　大黃（三兩，酒浸）</p>
<p>上四味為末，以水五升煮，取三升，去滓，溫服一升，不下再服。</p>
<p><u>茵陳蒿湯方</u>（第八十四）</p>
<p>茵陳蒿（六兩）　梔子（十四枚，擘）　大黃（二兩，去皮）</p>
<p>上三味以水一斗，先煮茵陳，減六升，內二味煮，取三升，去滓，分溫三服，小便當利，尿如皂角汁狀，色正赤，一宿腹減，黃從小便去也。</p>
<p><u>黃連阿膠湯方</u>（第八十五）</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　雞子黃（二枚）　阿膠（三兩）</p>
<p>上五味，以水五升，先煮三物，取二升，去滓，內膠烊盡，小冷，內雞子黃，攪令相得，溫服七合，日三服。</p>
<p><u>黃連湯方</u>（第八十六）</p>
<p>黃連（二兩）　甘草（炙，一兩）　乾薑（一兩）　桂枝（二兩）　人參（二兩）　半夏（五合）　大棗（十二枚）</p>
<p>上七味，以水一斗煮，取六升，去滓，分五服，日三服，夜二服。</p>
<p><u>桃花湯方</u>（第八十七）</p>
<p>赤石脂（一斤，一半全用，一半篩末）　乾薑（一兩）　粳米（一升）</p>
<p>上三味，以水七升煮米令熟，去滓，溫服七合，內赤石脂末方寸匕，日三服，若一服愈，余勿服。</p>
<p><u>吳茱萸湯方</u>（第八十八）</p>
<p>吳茱萸（一升，洗）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上四味，以水七升煮，取二升，去滓，溫服七合，日三服。</p>
<p><u>豬膚湯方</u>（第八十九）</p>
<p>豬膚（一斤）</p>
<p>上以水一斗煮，取五升，去滓，加白蜜一升，白粉五合熬香，和相得，溫分六服。</p>
<p><u>桔梗湯方</u>（第九十）</p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>上二味，以水三升煮，取一升，去滓，分溫再服。</p>
<p><u>苦酒湯方</u>（第九十一）</p>
<p>雞子（一枚，去黃，內苦酒於殼中）　半夏（洗，破如棗核大，十四枚，內苦酒中）</p>
<p>上以雞子殼，置刀環中，安火上，三沸，去滓，細含咽之，不差更作。</p>
<p><u>半夏散方</u>（第九十二）</p>
<p>半夏　桂枝　甘草（炙，各等分）</p>
<p>上三味，各別搗，篩合治之，白飲和服方寸匕，日三服。若不能散服，以水一升，煎七沸，內散一二方寸匕，更煎三沸，下火令小冷，少少咽之。</p>
<p><u>白通湯方</u>（第九十三）</p>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚，生用，去皮，破）</p>
<p>上三味，以水三升煮，取一升，去滓，分溫再服。</p>
<p><u>白通加豬膽汁湯方</u>（第九十四）</p>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚，生）　人尿（五合）　豬膽汁（一合）</p>
<p>上以水三升，煮一升，去滓，內入尿膽汁，和相得，分溫再服，無膽亦可。</p>
<p><u>真武湯方</u>（第九十五）</p>
<p>茯苓　芍藥　生薑（各三兩）　白朮（二兩）　附子（一枚，炮）</p>
<p>上五味，以水八升煮，取三升，去滓，溫服七合，日三服。若咳者，加五味子半升，細辛、乾薑各一兩。若小便利者，去茯苓。若下利者，去芍藥加乾薑二兩。若嘔者，去附子加生薑，足前成半斤。</p>
<p><u>烏梅丸方</u>（第九十六）</p>
<p>烏梅（三百個）　細辛（六兩）　乾薑（十兩）　黃連（一斤）　當歸（四兩）　附子（六兩，炮）　蜀椒（四兩，去子）　桂枝（六兩）　人參（六兩）　黃檗（六兩）</p>
<p>上十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核，蒸之五升米下，飯熟取搗成泥，和藥令相得，內臼中，與蜜杵二千下，丸如梧桐子大，先食飲服十丸，日三服，稍加至二十丸，禁生冷、滑物、食臭等。</p>
<p><u>乾薑黃芩黃連人參湯方</u>（第九十七）</p>
<p>乾薑　黃芩　黃連　人參（各三兩）</p>
<p>上四味，以水六升煮，取二升，去滓，分溫再服。</p>
<p><u>白頭翁湯方</u>（第九十八）</p>
<p>白頭翁　黃連　黃檗　秦皮（各三兩）</p>
<p>上四味，以水七升煮，取二升，去滓，溫服一升，不愈更服一升。</p>
<p><u>黃芩人參湯方</u>（第九十九）</p>
<p>黃芩　人參　桂枝　乾薑（各二兩）　半夏（半升）　大棗（十二枚）</p>
<p>上六味，以水七升煮，取二升，去滓，分溫再服。</p>
<p><u>黃芩湯方</u>（第一百）</p>
<p>芍藥（二兩）　黃芩　甘草（二兩，炙）　大棗（十二枚）</p>
<p>上四味，以水一斗煮，取三升，去滓，溫服一升，日再服，夜—服。</p>
<p><u>黃芩加半夏生薑湯方</u>（第一百一）</p>
<p>黃芩（三兩）　芍藥　甘草（炙，各二兩）　大棗（十二枚）　半夏（半升）　生薑（一兩半）</p>
<p>上六味，以水一斗煮，取三升，去滓，溫服一升，日再服，夜一服。</p>
<p><u>理中丸及湯方</u>（第一百二）</p>
<p>人參　甘草（炙）　白朮　乾薑（各三兩）</p>
<p>上四味，搗篩為末，蜜和丸，如雞黃大，以沸湯數合，和一丸，研碎溫服之，日三服，夜二服，腹中未熱，益至三四丸。然不及湯，湯法以四物依兩數切，用水八升升煮，取三升，去滓，溫服一升，日三服。</p>
<p>加減法</p>
<p>若臍上築者，腎氣動也，去朮加桂四兩。吐多者，去朮加生薑三兩。下多者，還用術。悸者，加茯苓二兩。渴欲得水者加朮，足前成四兩半。腹中痛者加人參，足前成四兩半。寒者加乾薑，足前成四兩半。腹滿者去朮加附子一枚。</p>
<p>服湯後如食頃，飲熱粥一升許，微自溫，勿發揭衣被。</p>
<p><u>四逆散方</u>（第一百三）</p>
<p>甘草（炙）　柴胡　芍藥　枳實（炙，各十分）</p>
<p>上四味為散，白飲服方寸匕，日三服。咳者加五味子、乾薑各五分，並主久痢。悸者加桂枝五分。小便不利者加茯苓五分。腹痛者加附子一枚炮。泄利下重者先以水五升煮薤白三升，取三升，去滓，以散三方寸匕，內湯中煮，取一升半，分溫再服。</p>
<p><u>四逆湯方</u>（第一百四）</p>
<p>甘草（二兩，炙）　乾薑（一兩半）　附子（一枚，生，去皮，破）</p>
<p>上三味，以水三升煮，取一升二合，去滓，分溫再服，強人可大附子一枚，乾薑三兩。</p>
<p><u>通脈四逆湯方</u>（第一百五）</p>
<p>乾薑（三兩，強人四兩）　甘草（二兩，炙）　附子（大者一枚，生用，破）</p>
<p>上三味，以水三升煮，取一升二合，去滓，分溫再服，其脈即出者愈。</p>
<p>面色赤者加蔥九莖。腹中痛者加芍藥二兩。嘔者加生薑二兩。咽痛者加桔梗二兩。利止脈不出者加人參二兩。</p>
<p><u>人參四逆湯方</u>（第一百六）</p>
<p>人參（一兩）　甘草（二兩，炙）　乾薑（一兩半）　附子（一枚，生）</p>
<p>上四味，以水三升煮，取一升二合，去滓，分溫再服。</p>
<p><u>茯苓四逆湯方</u>（第一百七）</p>
<p>茯苓（四兩）　甘草（二兩，炙）　乾薑（一兩半）　附子（一枚，生）　人參（一兩）</p>
<p>上五味，㕮咀，以水五升煮，取一升二合，去滓，分溫再服。</p>
<p><u>通脈四逆加豬膽汁湯方</u>（第一百八）</p>
<p>乾薑（三兩）　甘草（二兩，炙）　附子（大者一枚，生）　豬膽汁（四合）</p>
<p>上三味，以水三升煮，取一升二合，去滓，內豬膽汁，分溫再服。</p>
<p><u>當歸四逆湯方</u>（第一百九）</p>
<p>當歸　桂枝　芍藥（各二兩）　細辛（一兩）　大棗（二十五枚）　甘草（炙）　通草（各二兩）</p>
<p>上七味，㕮咀，以水八升煮，取三升，去滓，溫服一升，日三服。</p>
<p><u>當歸四逆加吳茱萸生薑湯方</u>（第一百十）</p>
<p>當歸　桂枝　芍藥　細辛　甘草（炙）　通草（各三兩）　大棗（二十五枚）　吳茱萸（二兩）　生薑（半斤）</p>
<p>上九味，㕮咀，以水四升，清酒四升煮，取三升，去滓，溫服一升，日三。</p>
<p><u>燒裩散方</u>（第一百十一）</p>
<p>上取婦人中裩近隱處，剪燒灰，以水和服方寸匕，日三服。小便即利，陰頭微腫則愈。婦人病，取男子裩當燒灰。</p>
<p><u>枳實梔子豉湯方</u>（第一百十二）</p>
<p>枳實（三枚，炙）　梔子（十四枚，擘）　豉（一升，綿裹）</p>
<p>上以清漿水七升，空煎，減三升，內枳實梔子煮，取二升，內豉更煮五六沸，去滓，分溫再服，取汗出，若有宿食，加大黃，如博棋子大五六枚。</p>
<p><u>牡蠣澤瀉散方</u>（第一百十三）</p>
<p>牡蠣（熬）　澤瀉　栝萎根　蜀漆（洗，去腥）　葶藶（熬）　商陸根（熬）　海藻（洗去咸，各等分）</p>
<p>上七味為散，白飲和服方寸匕，小便利即止。</p>
<p><u>竹葉石膏湯方</u>（第一百十四）</p>
<p>竹葉（二把）　石膏（一斤）　半夏（半升）　人參（三兩）　甘草（二兩，炙）　粳米（半升）　麥門冬（一升，去心）</p>
<p>上七味，以水一斗煮，取六升，去滓，內粳米煮，米熟湯成，去米，溫服一升，日三服。</p>
<p><u>麥門冬湯方</u>（第一百十五）</p>
<p>麥門冬（七升）　半夏（一升）　人參（二兩）　甘草（二兩，炙）　粳米（三合）　大棗（十二枚）</p>
<p>上六味，以水一斗六升煮，取六升，溫服一升，日三，夜一服。</p>

<h2>附遺</h2>
<p>調氣飲　治赤白痢，小腹痛不可忍，下重，或面青手足俱變者，用黃蠟三錢，阿膠三錢，同溶化，入黃連末五錢，攪勻，分三次熱服，神妙。</p>
<p>豬肚黃連丸　治消渴飲水，用雄豬肚一枚，入黃連末五兩，栝蔞根、白粱米各四兩，知母三兩，麥門冬三兩，縫定蒸熟，搗丸如梧子大，每服三十丸，米飲下。</p>
<p>青木香丸　主陽衰諸不足，用崑崙青木香，六路訶子皮，各二十兩，搗篩，糖和丸，梧子大，每空腹酒下三十丸，日再，其效尤速。</p>
<p>治五噎吐逆，心膈氣滯，煩悶不下，用蘆根五兩，銼，以水三大盞，煮取二盞，去渣，溫服。</p>
<p>治小兒羸瘦，用甘草三兩，炙焦為末，蜜丸綠豆大，每溫水下五丸，日二服。</p>
<p>治小兒撮口發噤，用生甘草二錢半，水一盞，煎六分，溫服，令吐痰涎，後以乳汁點兒口中。</p>
<p>治小兒中蠱欲死者，用甘草五錢，水二盞，煎五分服，當吐出。</p>
