<header data-type="book">
<h1>溫病之研究</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>源元凱</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫疫之為病。古今不同。其變態區區不可枚舉也。長沙氏述素難作傷寒論。以救當世夭橫。然於溫病。但舉一端而已千載之下。有又可氏出。發明其餘論。以著溫疫論。可謂千古活眼。能羽翼長沙氏者也。生民到今。蒙其澤誰敢不矜式之。雖然。又可氏亦有所略而不說。百年之後。發其餘論者誰。吾　先大夫溫恭府君也。天明戊申。疫氣流行。延門合戶。為之死者。不可勝計。當時疫氣一變。而上盈下虛。屬少陰證者多。初尚依又可氏法而療之。不能獲效。於是焦神覃思。求有所以救濟。適讀嶺南衛生方。始有所發。乃用附子。往往起死回生焉。自此以往。療疫數百人。豁然貫通。左右逢原。遂詳指其所因。明辨冶法。記所經驗。名曰溫病之研究。臨卒稿成。（不肖）德輿。恐其湮沒。欲與同社共之。命繡梓以播告四方。門生願與疫論並行於世。則於療疫。庶幾乎其無所過失矣。乃　先大夫之志也。嗚呼。可謂能羽翼又可氏者也矣。</p>
<p><u>文化辛未仲冬</u></p>
<p><u>（不肖）德輿謹撰</u></p>

<h1>卷上</h1>

<h2>募原（募與膜通。慕各切。舉痛論作膜原。）</h2>
<p>瘧論曰。邪氣內薄於五藏。橫連募原。（王冰曰。鬲膜之原系也。）舉痛論曰。寒氣客於胃腸之間。膜原之下。血不得散。（王冰曰。膜鬲間之膜。原鬲肓之原。）百病始生篇曰。虛邪傳舍於腸胃之外。募原之間。較此數語。膜原之地。指伏膂之內。腸胃之外。鬲膜之下。言之。又可氏曰。伏脊之內。附近於胃。正當經胃交關之所。是為半表半裡。故熱淫之氣。浮越於三陽。易陷於胃。是以全篇亶主胃實。而立論。他若戰汗、發黃、畜血、下利、二便癃閉諸症。亦為系其變移。一語無放誕之文。咸出其經驗。能解病之肯綮。然而余歷眎近世之疫。邪之所舍。同在膜原。至其所傳。屬胃實證少。而上盈下虛。及少陰症最多。有異乎又可氏所論之規範者何也。雖曰邪之所湊。其氣必虛。豈當年下虛人寡。而今下虛人多。有此二傳證乎。夫風有世運。而情無古今。私欲餐居。與其時相同。而所以其證異者。必非緣乎人事。乃厲氣之少變態也。考之針經（第一篇。）曰。肓之原出於脖胦。（按肓鬲肓。甲乙經曰。氣海一名脖胦。一名下肓。在臍下一寸五分。奇病論曰。肓之原在臍下。○脖音勃。胦音坱。脖胦臍也。）王啟玄曰。（瘧論注。）腎脈直行者。循膂伏行。謂之伏膂脈。並據此語。從膜原傳腎。行乎便道也。上盈下虛。乃分傳胃腎二藏也。又可氏謂九傳。而外如此甚者。有二傳焉。不可不講。若逢此等證。不論熱之多少。津液之涸濡。便將附子。引火歸原。通腎為要。苟不會到於此理。如無楫行舟。難矣哉治今之疫。</p>
<p>余嘗講溫病之研究。讀至募原曰。募音慕各切。與膜古通。一老醫先生。卒而厲聲曰。字書募音暮。無膜音。以余為誤讀。傲然罵不休。余從容問其說。先生驟言曰。吾有秘說不敢語。遂不答。蓋難經曰。募俞原穴之事也。與此篇之義沒交涉。固不足道。曾以有受鄉訕。聊記席上顛末。解嘲耳。</p>
<p>又可氏曰。邪之舍膜原。氣壅火積。氣也。火也。邪也。三者混一。化成邪熱。則氣消血熬。精神幾微。遂至殞命。故客邪貴乎早逐。半日不逐。有半日之蔽。一日不逐。有一日之蔽。乘其氣血未亂。肌肉未消。津液未耗。病人不至危殆。投劑不至掣肘。愈後亦易復。善醫者。不過知邪之所在。早拔去病根耳。是千歲不易之確言。莫有間然焉。今云邪之離膜原。有二三日即潰者。有半月十數日不傳者。延纏日久。愈沉愈伏。多致不起。至於此。余始疑。半月十數日。其不傳之間。晏然以達源飲。勉希邪之離膜原。而不離。徒歷日之際。藏府愈壅塞。榮衛增郁遏。邪火日熾。氣血津液。逐時煎耗。又可氏怖其煎耗。加大黃導邪陷胃家。俟其實。下而取之。是開門劫賊之義也。理亦不順。於稟賦之厚者尚可。若遇有下焦一隅之虧者。恐生不測之害耳。然則俟自離膜原耶。不然。有一術於此。及原邪無積陽之助。熱勢未漲大。將瓜蒂以搜邪之巢窟。驅之使出。自初所入之門。即與發散之義同。於理莫切焉。但未嘗試之。私思淑之已。適聽弟元隆行此法。治疫之說。契合余夙所思。姑舉按。證余說之不妄。</p>
<p>一老賈感疫。始憎寒。而壯熱無汗。嘔逆煩渴。舌胎滿白。請弟元隆治。與三消飲而不解。至於八九日。諸症增劇。病人更請曰。為與吐劑。不吐不瘳。元隆曰。子甫過知命。血液已涸。非吐之所宜。不聽。固請不已。卒與獨聖湯。得快吐三次。大汗淋漓。衣被濕透。翌日熱解胎脫。諸症霍然而治。調理數日而愈。他日詰問所以請吐。乃曰。我不知也。發病二三日以來。神氣昏蒙。無一所知覺。請吐亦讝語耳。老賈本無文。不辨醫事。而請吐不已。吐而得愈。蓋依冥護矣。又可氏記黃連條。所謂靈變同一軌耳。今就此按而視之。所謂膜原為半表裡與導之內而下。不如吐而出之外之為捷徑也。亦為一手段。若遇邪勢之劇而不潰者。孰與托之達原。曠日稽留乎。足以補本論之遺。</p>

<h2>傳變不常</h2>
<p>下氣空虛。邪熱乘之。致小便閉塞者。又可氏以承氣療之。令所視之症。一無下症。下元虛憊。陽氣不施於膀胱而閉。其症雖多。有非茯苓四逆輩不治者。其症舌上乾燥而無胎。詳見於本條。</p>

<h2>急證急攻</h2>
<p>此證多在用力過度。常勞筋骨人。用力則筋骨先受傷。肌肉畜火。血液常熱。脈絡膹興。大便燥結。皮肉緊薄。實為陽藏人。疫邪一來。有著其實。兩熱相搏。熇熇徑張乎分外之熱。妝飾出乎許多之變態。猶之燎原火。加風一時為灰燼。一日三變。殆乎類此。余嘗視三日而斃者。即夜發讝語。二日神氣惛悶。三日狂躁。病勢之暴。頗如烈火。不可向近也。</p>

<h2>熱邪散漫</h2>
<p>邪雜膜原。散漫於肌肉也。又可氏注誤。成無己去石膏專達肌表。知母石膏苦甘。以發散之語。以白虎為辛涼發散之劑。清肅肌表氣分藥也。又可氏常以此意用白虎。故全篇至言白虎。輒有多少之差。夫邪之在肌肉也。向里蒸胸腹。則煩渴。向外熏肌表。則大汗出。石膏能消肌肉之熱。熱消則渴已汗止而愈。知母消腹中散漫之熱。甘草和胃氣。粳米和石毒。又可氏於此劑加生薑。幾乎畫蛇足。</p>

<h2>內壅不汗</h2>
<p>內壅不汗者。下之便得汗而解。與服白虎。大汗而解義同。若其無下證者。可如之何。初於伏邪欲潰未潰之際。表有大熱。肌燥不汗者。得達原加茈胡。蒸蒸而振。汗出而解。間又有屬少陰者。雖論云三陰不得有汗。而投附子。反得汗而解。附子者。通腎氣引火歸元。夫邪火之混同者。得附子。正邪分離。方發微汗而解。此亦時疫之一體也。不可不記。</p>

<h2>下後脈浮</h2>
<p>此條脈證如本論。宜茈胡清燥湯。轉樞潤燥。緩緩可解已。白虎不中與。若皮燥微煩。蒸蒸熱之難解者。此為餘熱停於肌肉。宜竹葉石膏加減（減石膏分兩去半夏加知母）與之。如用白虎類。牛刀割雞。恐卻傷胃氣耳。又可氏誤會白虎。為發散之劑。間有不合其矩規。而似庸醫之為敢彈其一二解後進之紛。本論云。邪熱浮於肌表。當為肌肉邪浮肌表。應見發熱惡寒。治亦用羌葛之類。今無寒熱證。則可非肌表。又云。身微熱。即身無大熱也。（白虎麻杏甘石越婢條）又云。白虎辛涼。除肌表散漫之邪熱。當為白虎寒涼。除肌肉散漫之邪熱。此則無一味辛。何得言辛。肌表有三陽之經界。浮於太陽。則頭背熱。浮於陽明。則胸腹熱。浮於少陽。則胸脅熱。而余所可徵。言合浮於三陽。即合病證。猶熱有偏不可言之散漫也。至於肌肉。無有經絡之分界。邪入於此所。周身皆熱。是為散漫之熱。又可氏於白虎。頗覺技癢耳。</p>

<h2>下後脈復沉</h2>
<p>下後脈沉而弱。發渴者。為邪陷於少陰。經云。腎惡燥。渴自救耳。</p>

<h2>邪氣復聚</h2>
<p>又有得戰汗而解者。須與本條查看。</p>

<h2>下後身反熱</h2>
<p>下後雖身熱不休。唇舌乾燥。而脈弱食少不進。神惛不復者。為邪尚在膜原。施及少陰。宜冷香飲子。</p>
<p>冷香飲子方</p>
<p>草果　附子　陳皮　甘草　生薑</p>
<p>上五味照常煎服（丹溪心法。）</p>

<h2>下後脈反數</h2>
<p>誤下之後。口燥舌乾而渴。其脈數若數疾。額上熱者。雖心腹硬滿而痛。數日不大便。小便稀而利者。此陰證之似陽。虛陽之奔騰。陰凝不流之所致。乃屬下虛上盈。四逆加豬膽汁人尿主之。小便甚稀。神惛不省。茯苓四逆加前二味為佳。但不因誤下。亦此證常居多。（數疾脈。下虛上盈證。並見於本條。）</p>

<h2>因證數攻</h2>
<p>又有陰證似陽。而數反復者。其證熱渴共甚。口舌乾燥而無胎。（又有至生芒刺者。）或頭痛。或下利。腹候無下證。脈數而無力。與加減真武湯。二三日而熱解。渴休舌潤。錯語減咳痰輕。食增神蘇。一二日而前證復起。如此三五次而斃者。此屬陰證。雖熱解之際。仍宜與附子劑。勿忽諸。</p>
<p>周因之案中曲盡與承氣之趣。能得長沙之法。苟不度熱毒之微甚。諒精氣之多少。決正邪之勝敗。而製劑之輕重。雖證治相當。而恐招乎伐天和。誅無辜之過。豈可不慎乎。　又云。有應用柴胡清燥湯。有應用犀角地黃湯。私觀時師之為。有知用柴胡清燥者。於犀角地黃。乃非見血證之後。不敢與。類遘盜而後修門。不亦遲乎。學者須用心焉。</p>
<p>朱海中者證。四肢不舉。身臥如塑。目閉口張。舌上胎刺。問其所苦。不能答云云。其危不可言。而不死者何。第無煩躁讝語。無煩燥讝語。則神氣尚完。神氣尚完而死者未之有。況脈有神乎。與醉臥勿醒者。情態有同趣焉。又有少陰證。形狀幾相似。而舌無胎刺。但乾燥已。余嘗與真武加減方而得效。又有脫氣而爾。神彩脈狀。大異可察。</p>

<h2>病愈結存</h2>
<p>一少婦溫疫熱解後。脈證俱平。唯大便不通。少腹沿橫骨結塊。累累相連。如藤莢狀。按之不痛。無他妨害。飲食慚進。至三十七日方通。四五日塊盡而愈。</p>
<p>此條云。往來蛙聲之一證。因於中焦虛寒。下焦闔氣不通。詳見於下項本條。</p>

<h2>下格</h2>
<p>不拘大便之通否。時時作嘔。飲食不進。少得湯水。則嘔吐愈加。又有蛔厥證。詳見於下項本條。</p>
<p>下格大便不通。有陰陽二證。若無變無害者。只投本證之劑。勿拘於下格。津液既回。自潤下而愈。論曰。小便數者大便硬。不更衣十日無所苦也。又曰。今為小便數少。以津液當還入胃中。故知不久必大便也。然則大便不通。亦有因津液桔燥者也。概勿為熱閉。妄投下劑。</p>
<p>一女子。溫疫瘥後。大便三旬不行。以其疫本屬陰證。無一可下之候。荏苒與補中湯（臨時加減。）　之際。食漸進津液從回。大便得行而愈。</p>
<p>一男子。甫及強壯。輕疫之後。大便不通旬余。常苦後重。醫與承氣麻仁輩。愈不通轉加夯悶。以導藥挑之亦無功。更請治於余。診之得其脈大。大為陰虧。證屬虛燥。脈證相應。雖飲食不進。動作尚未衰。乃處腎氣丸。作湯與之已旬日。大便方行。小便從利而愈。</p>

<h2>注意逐邪條</h2>
<p>此篇說逐邪之旨趣。曲盡無遺恨。讀者貫透於此理。於療疫乎何有。非止療疫而已。百病皆然。</p>
<p>本論曰。原邪傳胃。蒸而為結。大便當不行。又有蒸作極臭。狀如黏膠。至死不結。此因其人平素。大便不實也。余較之多人。非必因其人之平素。原邪入胃。驀然暴則無暇稽留於胃。而蘊熱驟然直下走。其色初焦黃。隨利隨薄。甚至下利完穀。以承氣逐邪則便止。有止而復下利者。餘邪復聚胃也。宜下之便止。如此至於再四者。胃氣憊敗而死。又有少陰證。非同日之談。但不可下之候。正在心下與舌上。以其人下走。熱不蒸上焦。故舌無胎。以其亡津液。邪熱獨存。舌上紅滑乾燥而已。又以其下利。心下必軟。但按腹有心下一點硬痛。是毒之未盡也。並宜下之。毒盡而利止。</p>

<h2>畜血</h2>
<p>本論曰。畜血一證。盡因失下。亦有少陰證而下血者。其證初邪在膜原。其未離午後發熱。與達原飲。引日之際。精神恍惚。但欲寐。舌根白胎。唇口乾燥。腸鳴下利。或不利而微渴。小便不甚赤。發熱不止。手足時冷。全無下證。亦無畜血候。而下血如注或如崩。作片婆娑者。是少陰證。而下血也。經（舉痛論。）曰。寒氣（百病始生篇作虛邪。）客於腸胃之間。膜原之下。血不得散。血氣稽留。不得行息而成積。所謂膜原之下。即鬲肓之原。為少陰之地。衝脈屬焉。主行血。是以知原邪之傳少陰。逆走徑路也。陰證而下血。邪火相煽。暴其所屬也。由此視之。畜血之始。在邪舍膜原之際。方當此時。窮思挑撥。貴早使離膜原。早離膜原。則無傳少陰之憂。不傳少陰。固無畜血之害。若稽滯經日。及熱千血絡。留為衃血。不肯不下。其已下也。能得免者。十二三而已。</p>
<p>夫畜血之候。不論陰陽二證。迨合夜必發熱。或少腹急結按之痛。較他處其熱稍盛。或其熱連右脅。大便數日不通是也。又大便利。亦有下血。論以小便利為其候。本論云。不利亦有畜血。往往有不拘利不利。又以大便黑如漆為其候。但見此候者。不俟時日直下血。無暇預為備。至於善忘喜笑如狂之證。常不多見。畜血候如此不多。間有不見定候。不意下血而不拯者。故於此一證。余未得其襟轄。聊舉所歷試一二條取證。</p>
<p>曾見有下血。如崩如注。連日弗止者。精神未亂。言語未錯。而卒不起。此因失血過多。原氣已敗。與產後脫血而死者一理。又有精神已亂。言語已錯。煩躁不寧。比之前症。危不可言而蘇者。雖系治之巧拙。實因原氣之虛實。又有下血連日而稀少。外有熱者。與吳氏茈胡湯加生地。而血止而愈者。</p>
<p>夫下血證之發。必在耽挨延日。熱欲減不減。不食多時。精神已憊之際。便欲攻之。藏氣不勝其劑。如犀角地黃。雖能當其證。日暮途遠。倒施不及。若血下愈多。則至陽亡厥逆。而不濟於事。余依經云。脾裹血。急與單人參湯。以耑救中焦。中焦一蘇。則血隨收。其有熱者。副用童便。清熱滋陰。而擇用犀角地黃。參附養榮輩。以收全效。近頃以此法。數有效功。用攻擊劑。挽回者未之有。</p>
<p>單人參湯方　下血吐血過多。雖額上汗出。脈虛微而數。尚宜此劑。</p>
<p>人參（一錢）　以水二合半。烹取一合。分再服。</p>
<p>發黃疸是府病非經病也</p>
<p>舍弟詮曰。此論發黃初有其條目。此題發黃疸是府病非經病也之十字。蓋此本文。誤為篇目也。此條意。因於小便不利。與胃家移熱也。然則病原。不屬小腸膀胱。則屬於胃。雖黃見於外。非管於經。故謂疸是府病之二句。為此篇冒頭之語也。</p>
<p>黃曉峰本曰。舊論發黃。有從濕熱。有從陰寒者。是亦妄生枝節。學者未免有多歧之惑矣。夫傷寒時疫。既以傳裡。皆熱病也。熯萬物者。莫過於火。是知大熱之際。燥必隨之。又何暇生寒生濕。闢若冰炭。是豈容並處耶。既無其證。焉有其方。智者所不信。　古方有三承氣證。便於三承氣。加茵陳山梔。常隨證施治。方為盡善。</p>
<p>此一條劉徐二本並闕。黃本獨有此一條。條末曰。此言為吳君白珪之玷。而不說所以其為玷。徐天章就黃之言。舉陰寒濕熱。皆有發黃之說。適遺原文耳。劉方舟。未見黃本徐本。故於愚按一條云。重刻者駁正之論。不斥言其人為誰。</p>
<p>按黃家。從濕熱蒸成。又有陰黃證。雖黃口兒。猶能知之。況於又可氏乎。安不知此義。然謂無有此證者。乃就瘟疫胃實上而論之也。故上文云。傷寒溫疫。皆熱病也。何暇生寒生濕。即論三承氣加茵陳。其意自見。黃徐看原文。黭淺妄造雜駁之說。復使後學執迷焉。可嘆。</p>
<p>所云。吳氏所論。乃陽明發黃。一途而已。又有邪陷三陰。則熱與陰化。亦為陰黃。不可謂溫疫無陰黃。曾視下虛上實證發黃者。其證雖腹中硬滿。按之則痛。然勿遽治黃。宜急救下焦。下焦得復。而後治黃。未為遲也。</p>
<p>天明戊申正月晦。京師大火。嗣後洛中外。溫疫大行。至於九十月。厲氣寖衰。尋黃疸行。概以茵陳五苓散治之。其證心下微滿。小便黃如蘗汗已。若小便短少。大便秘結。眼中黃黑色者。以茵陳蒿湯下之。二三旬而得復常。醫宗金鑑曰。天行疫癘發黃。名曰瘟黃。死人最暴。是一種之黃。非令所記之比。</p>
<p>溫疫胃實失下。暴身面發黃。眼中如金。於是。與之承氣加茵陳而不及。不日告赴。又可氏所云。燥火發黃是也。蓋脾胃困極於熱。而所發。但見此證。每在瀕死之時。挽回實難。全因失下。治豈不慎耶。</p>

<h2>邪在胸膈</h2>
<p>此證與蛔厥易混。病在初起之際。為邪留胸膈。在病闌之日。多屬蛔厥。但兼善寐證。則屬少陰證。概鑑之為據。更審脈證而蒞之。可無大過矣。</p>

<h2>辨明傷寒時疫</h2>
<p>正誤中。駁冬傷於寒。春病溫云。感冒輕者。尚當即為病。不能隱容。今傷寒非細事也。反能藏伏。過時而發耶。其說甚確也。於時疫更言。感久而後發。時疫何故感不即發。久而後發。傷寒時疫等為厲氣。以榮衛之行度。視內外為一致。彼何感而即發。此何感久而後發。與正誤所說。逕庭矛盾。又可氏之言。似僻而不通矣。後更考之。夫肌表者。一身之藩屏。而衛氣護之。雖毫芒。刺膚則痛而苦楚。不除不已者。護者之固。而不隱容也。護內亦如此。而容藏便不發。何也。今有誤吞骨核之類者。入腹不覺痛。經日之後。上吐下泄。而忘少害。是內有所受之壖地。容藏而不妨。以時而出也。以此視之。膜原表裡之分界。必有遊地。邪乘其隙伏匿。陰養乎屈起之勢。故感而不覺。久而後發。或亦有之乎。</p>
<p>又可氏以傷寒。為傷於非時之風寒。故不傳染誤也。又可氏所謂傷寒。陽明曰。中寒是也。夫傷寒者。疫厲之總稱。而與熱病相類。故難經曰。傷寒有五。有中風。有傷寒。有濕溫。有熱病。有溫病。其所苦各不同。又長沙曰。余宗族素餘二百。建安紀年猶未十稔。其亡者三分有二。傷寒居其七。自非疫厲而傳染。安能如此其夥乎。長沙東南地。風氣和平。人生其地。而住其土。固習其風土。多少之寒燠。縱令能傷。豈人至於死耶。非使冀方人。移居於此之比。以此為據。則又可氏所云。幾乎屬荒唐。</p>
<p>又可氏曰。風寒疫邪。與吾身之真氣。勢不兩立。一有所著。氣壅火積。氣也。火也。邪也。三者混一。與之俱化。失其本然之面目。至是均為邪矣。但以驅逐為功。所云氣即陽氣。充身而溫和者也。若一壅塞。則鬱為火者。陽之體也。其發為熱者。火之象也。故熱之微甚。因邪之輕重。邪輕壅塞微。邪重壅塞甚。只將甚使壅塞者。以硝黃驅而除之。則鬱陽為伸。而淫邪鼠竄。是視熱施治之襟轄也。但於少陰一證。罔可驅逐之證。勉以附子通腎氣。引所混同之火。徑歸於原。則邪與藏相離。熱勢頓減。腎氣日正。邪氣隨衰。於是舍附子。耑事滋陰。以收全效。彼逐邪以救正。此通腎氣以屏邪。陰陽二證。治法之迥別。豈翅霄壤耶。</p>

<h2>戰汗</h2>
<p>（按辨脈所云戰汗由血虛。吳氏所云。戰汗由表氣內陷。二說雖異。戰之理一也。然以瘧之戰慄視之。吳氏之說為幾。）</p>
<p>戰汗狀。原病中說之。詳悉宜查看。</p>
<p>凡戰汗候。伏邪已潰。欲離不離。表無大熱。里無實證。但有肌熱。不增不減。數日不解。而津液微回。舌傍生潤。粥食不絕。脈狀帶數。如此者。多作戰汗而解。但此證不一而足。有至二三次。或五六次而方解。其間每隔五七日。勢緩者。有隔十餘日復發。病家不勝其哉。其熱。其汗。有半途生疑。更醫取敗者。又有戰汗後。神氣當爽慧。反神疲食減。經旬日才復故。故是戰汗最重而里衰。法從瘧治。以清脾輩。破膜原疏胃家。而得愈。又上盈下虛證。亦有戰汗者。翌日熱解。氣爽慧。灑然如洗。於是仍宜與真武。冷香輩。以守真護元為要。勿拘戰汗。不爾以津液從汗泄。腎精轉耗。邪氣愈陷。午後氣分沉滯。神氣惛晦。言語不與人主當。荏苒罷弊。甚者氣高。奄忽而逝。</p>
<p>又可氏曰。厥不回。汗不出者。為正氣脫。厥回無汗者。真陽尚在。言一死一愈。而為之不立治方。置之度外。舍而不顧也。余按經（陰陽應象論。）論腎曰。在變動為慄。又（五運行大論。）曰。其性為凜。據此視之。所以戰慄者。邪頓陷於腎也。腎氣實。則不受其邪。推而出之外。為發熱大汗而解。若腎有虧。則無與邪相抗之力。腎氣與戰共衰。為搐。為痙。而斃。故若逢此證。宜急與四逆輩。幫扶真元。腎氣得通。厥回神蘇。漸復前證。至於此。仍與附子。以備他日之再戰。</p>

<h2>自汗</h2>
<p>第一論云。有汗無汗。存邪結之輕重。然亦因津液之多寡。凡瘟疫首尾。漐漐有汗者。為津液有餘也。雖不亟解。竟易透表。無汗皮燥如灼。津液先虧也。必成里證。或生局外之變。　瘟疫熱大半解。而汗出不止者。餘熱從汗解。勿拘於汗。宜茈胡清燥。茈胡養榮。諸湯擇用。若熱已解食能進。而自汗盜汗者。新造榮衛。不勝穀氣也。殺穀則止。　又熱已解食不進。肢體無力。汗出不止。脈數者屬虛象。宜麥門冬飲。盜汗同法方。</p>
<p>麥門冬飲方</p>
<p>麥門冬　人參　五味子　黃耆　當歸　生地黃</p>
<p>上六味照常煎服。</p>
<p>邪入陰熱自減。有汗亦應止。（論曰。三陰不得有汗。）而汗易出者。亡陽之兆也。雖唇舌乾燥。渴而大便不通。宜急與真武四逆輩。時師畏此假熱證。不知敢行附子。所以世多冤魂也。</p>

<h2>盜汗</h2>
<p>難經曰。漏水下百刻。榮衛行陽二十五度。行陰亦二十五度。為一周也。又可氏曰。人目張則衛氣行於陽。目瞑則衛氣行於陰。行陽謂升發於表。行陰謂斂降於內。難經所說。謂榮衛之常度。又可氏以寤寐。發明此義。誠千古之確論。</p>

<h2>狂汗</h2>
<p>（傷寒陽明病。內有水寒。陽氣格而不通。則為骨節痛。若能食者。水不勝穀氣。卒然狂汗而解。按傷寒狂汗。為腹內事。吳氏以為肌表事。亦髮長沙之餘緒。）</p>
<p>狂汗候頓發狂。躁煩瞋目驚呼。其狀可怖。但其證甚稀。不知此候者。瞠然無所措手足耳。</p>

<h2>發斑</h2>
<p>（按外臺傷寒發斑。系胃爛內熱。危甚。溫疫發斑。因伏邪已潰。外出榮分為易治。輕重之間。豈翅霄壤耶。）</p>
<p>斑之所由發。詳於斑汗合論中。但斑每易內陷。急與舉斑湯。托之為要。若毒內陷者。宜副用底裡野加。</p>
<p>一人大發斑。其色濃紅。如緋桃花。三四十日不解。其際熱有潮汐。食有增減。體罷神倦。似勢難支。勉與舉斑湯。時副用半夏藿香湯。二閱月而全愈。所謂斑發。血分重濁。難化可知。　又有伏邪已潰。大半傳少陰。小半傳血分。外發斑。內下利善寐。於是舍斑護少陰。與真武加當歸。若有熱。以生地代當歸。日後斑自消。而不為害。</p>

<h2>數下亡陰</h2>
<p>陰證下利。多日不止。亦有兩目加澀。口舌乾燥。尚宜真武。甚者副用童便。如白通加人尿豬膽湯。邪盡津液回。亦是一術。</p>

<h2>解後宜養陰條</h2>
<p>溫疫解後。餘熱動支飲。痰涎湧甚。胸膈不清者。與蔞貝養榮湯。不出五七貼而有效。及十餘貼無效者。非其證也。宜更張。　又有下虛證。客氣動膈。咳痰不休者。宜主用生薑附子。其證多大便下利。脈狀不實。</p>

<h2>用參宜忌條</h2>
<p>又可氏於人參。其意中焦無虛候者。斷不可與之。今實者再三投之。即加變證云云。又可氏之所云太佳。可針砭乎時師之俗腸。但至於其謂人參行血里之補藥。不能無論。欲說之。辭涉繁衍。姑置不記。所謂變證者。腹脹不食。嘔逆趺腫。小便不利等是也。</p>
<p>一官娃甫四十餘。初患輕疫。誤治延日。幾乎一月所。請余診。身熱不食。唇燥舌燥。錯語困臥。大便滑。寸口脈微。趺陽微而不鼓。神彩甚衰。辭不治。固請。與之補中益氣湯加附子。頓奏奇效。熱減諸證良輕。尚與前劑。至於五六日。前證復起。腹脹食減。趺腫更加。神氣惛懵。知是過用參附之所致。更與安心養血湯。亦不利。前後投藥旬日。而固辭。後月餘赴聞至。私考此。非參附為害。幾微神氣。固屬不治。偶藉參附之力。挽回餘氣。暫照殘光耳。</p>

<h2>下後反痞</h2>
<p>心胸即心中。為上焦。邪留上焦。無可下之理。又可氏指心下。言心胸。一家之常言。且心下痞證。長沙禁下之。若遇此證。能可審虛實。妄勿下之。</p>
<p>一老夫。溫疫得下證。下之諸證。除去七八。精神稍蘇。言語略正。五六日。而心下更硬滿。按之痛。下證復具。雖老人不得不下。斟酌復下之。心下反逆滿。氣促急。投真武加減湯。峻補連進。毫無寸效。精神日衰而死。</p>

<h2>下後反嘔</h2>
<p>又可氏云。下後反嘔為胃寒。亦有屬蛔蟲。詳見於本條。飲家亦能發嘔。</p>
<p>一婦人。甫三十歲所。溫疫經日。身熱不已。唇口乾燥。喘咳卒甚。不食小便不利。脈滑而數。余與蔞貝養榮湯。一貼得效。二三貼。而唇舌生津。食進小便利。脈亦靜。忽發嘔時吐食。更與乾薑半夏湯。嘔吐不日而愈。按此婦。身體肥白。素為飲家。故投此湯而愈。</p>

<h2>奪液無汗</h2>
<p>又有不汗下。以奪液而無汗者。津液素不充也。雖脈浮。不可強責其汗。假今何藥。每無遺滋陰。為上策。但於滋陰藥。有膩膈妨食者。亟卻去勿與之。欲津液之回。莫善谷焉。蒞於此際。百斤地黃不如一杯飯。時師不知此理。謂熱病不食。其常事。有強滋陰。愈增不食。中焦先虧。變證百出。無遑於求津液。而噬臍者。</p>

<h2>補瀉兼施</h2>
<p>循衣摸床。撮空理線。筋惕肉瞤。肢體振戰。目中不了了等證。又可氏云。精神殆盡。邪火獨存。則致此證。將黃龍湯。冀回生於萬一。余說異之。至於此際。勿論於邪火。耑系乎神氣虛憊之極。言如雜病之無邪熱者。在瀕地之時。尚見此候。豈可言之邪火。而攻之耶。如以石投卵。未有不潰者矣。故余臨此證。輒用真武加減方。甘草以緩熱和胃。附子以引火歸原。勺藥養榮。生薑化飲回陽。茯苓定心煩。如此或有反日之功。然此證補瀉不及。兩無生理。與其仰黃龍而死。孰若服玄武而亡乎。似又可氏未會此理矣。</p>
<p>又可氏又曰。云云等證。此皆大虛之候。將危之證也。急用人參養榮湯。虛候少退。速可屏去。余按證候甚危急。藥劑甚柔緩。主八分之人參。合之多味。以欲敵之。猶之以滕薛之兵。欲掩齊師。固無可勝之理。倉公曰。病重而劑輕不治。是也。又又可氏云。虛候少退。速可屏去。恐非經驗言矣。</p>

<h2>停藥</h2>
<p>或曰。此條云。服承氣停藥。乃中氣大虧。天元幾絕。大凶之兆也。若不服承氣。恐不至於此。是非容易事。盍初商量其虛實。而後與之。與之之後方知變。用生薑人參。欲挽回焉。恐日晚途遠矣。吳氏所行。似未切矣。余曰。是失下證。不得已而攻之。傷寒陽明一條。猶有此症治。曰。陽明病。讝語發潮熱。脈滑而疾者。小承氣湯主之。因與承氣湯一升。腹中轉氣者。更服一升。若不轉氣者。勿更與之。明日又不大便。脈反微澀者。裡虛也。為難治。是便停藥證。又可氏發其餘緒耳。夫潮熱讝語實也。為大承氣證。然其脈滑而疾。滑為內熱。疾為衛氣失度。非胃實之正脈（以實若緊為胃實脈。）亦非陰證之脈。以其近實。欲先與小承氣。視其真實否。果見陰脈。故為難治。是與承氣之後。就脈狀判之。長沙氏盍斷之於未與承氣之前。而於後判之。與此條義相同。不可耑責乎又可氏也。其用參姜者。所謂發餘緒也。余於此證。異乎二公之撰說。見於脈數疾條。</p>

<h2>虛煩似狂</h2>
<p>師才診脈。將手縮去。此證間有之。未見其愈者。似非陰證。實凶兆也。特標出爾。後學勿容易下手。</p>
<p>向余療此證。始大熱。下利純臭水。數日不止。食日減。遂至虛煩無寧刻。於是請治。余診之。身熱脈數。心下硬滿。按則痛。精神疲弊。邪熱膠固。此因失下。以不治辭。請不休。遂與大承氣湯。得下四五行。腹滿減。下利止。煩躁稍定。思食而不能食。翌日腹更滿而利。煩躁復發。復下三四行。諸證隨減。精神方蘇。口生穀氣。至夜諸證復起。隨起隨下。如此四五次。腹滿愈甚。一不見虛候而斃。有如此者。全因失下日多。精神先虧之所為也。</p>
<p>肌熱略解。穀食稍進。而煩躁不定者。血液已涸。神不安乎舍。（痿論曰。心主身之血脈。調經論曰。心藏神。）實為膏肓之患。尚撰用安神養血湯加辰砂。火府丹料。辰砂六一散等。藥無效者多不起。</p>
<p>火府丹方</p>
<p>黃芩　木通　生地黃</p>
<p>上三味照常煎服。</p>
<p>辰砂六一散方</p>
<p>辰砂（一錢五分）　滑石（六錢）　甘草（一錢）</p>
<p>上三味為細末。每服五分。一日服二三次。</p>

<h2>神虛讝語</h2>
<p>煩躁者。莫不讝語。讝語者。有不煩躁。然治法不相遠。又可氏之意。以為鄭聲讝語。長沙兩立名色。暗斥長沙。是不讀古文之過也。長沙不兩立名色。故六經篇中。無復言鄭聲。余說出於傷寒論說。</p>

<h2>奪氣不語</h2>
<p>本論曰。唯向里床睡。似寐非寐。似寤非寤。呼之不應。此正氣奪。與服藥不當。莫如靜守。虛回而神思自清云云。此儼少陰確證。非附子恐不回。若果正氣之奪。非容易事。豈唯靜守而回耶。曰。服藥不當。故至於此。邪之在少陰。人參之力。豈能至焉乎。猶短綆汲井。固所不及。但此一證。有能食而死者。乃屬除中。</p>
<p>溫疫之寐與不語一類。皆因於少陰樞之不轉。（根結篇曰。少陰為樞折。則脈有所結。而不通。）而神氣不旺。附子之力。以通腎氣。則機樞轉。而精神爽慧。寐者寤焉。默者語焉耳。</p>

<h2>妄投寒涼藥</h2>
<p>疫邪之著於人身也。就其所著。驅而出之。一定之法也。其著膜原也。疏利之。外出於三陽也。發散之。浮越於分肉也。清解之。內傳於胃則下之。下入於腎則溫之。上聚於胸則吐之。又無表裡之確證。熱有休作。而難解者。茈胡以挑發之。是為常法。時師不諳此法。又不悟苦寒專清熱。而無驅邪之能。以為熱清則邪去。不識邪不去。即熱不清之義。每每連連黃連解毒湯而無效。便加石膏。或白虎加黃連。只清熱之務。既熱未消。旋隨傷胃氣。穀食愈不進。纏綿延日。氣竭血涸。遂幽泉路。亦何限矣。豈可不憫耶。又可氏所論。針砭時師之膏肓。百六十年於此。尚未有醫者。可長愾矣。本論。論妄投破氣補益劑之醫。夫蒞溫疫。擬與是等藥。固無眼者也。不敢齒錄焉。</p>

<h2>大便</h2>
<p>邪之在表也。視證觀色。較諸脈狀。而可知而療之也。邪之在裡也。燥證觀色。參之脈狀。伍之腹候。亦可知所在。其知之也。皆系表察。故每多疑慮。動執迷誤。治亦不鮮也。但於舌與大便小便。此三者。徑可親視里之體。寒熱虛實。莫不見於此。能諦此三證。昭昭乎。如照藏之鑑。洞腹之草。二豎無遁形焉。死生吉凶。於是乎判。非唯溫病而已。為百病之關轄。學者須覃思焉。</p>
<p>又可氏曰。協熱下利者。其人素大便不調。邪氣乘於胃。便作協熱下利。餘數遇此證。平素大便實者。尚作此證。由此考之。伏邪之傳胃。暴則不能稽留於胃。驀然乘勢迸出也。故其色初焦黃。寖變正黃黃白。一如虛寒下利也。是熱勢急躁。不暇乎焦著而出。當下之。宜承氣湯。勿拘色之濃淡。臭之微甚。有得湯其色卻焦黃。其臭復⿰酉宛惡。是因大黃盪滌邪熱。而除卻腐穢。下止思食。則為胃氣蘇。停湯勿與。</p>
<p>溫病初起。午後發熱數日。忽心下疼痛。而不痞硬。下利臭穢。既而腸鳴虛滿。小便稀少。唇乾舌潤。脈數而無力。跗陽少陰。脈不甚見。此為協熱下利。但以一無下證。醫為陰證。與之附子劑。毫無效驗。脈證自如。於是更方轉劑。延捱曠日之際。津液日竭。精氣日弊。耳瞶舌燥。食減神惛多臥。二便自利。或下血遂至不濟。此固非陰證。必由失下也。初心下痛者。是伏邪之傳胃也。他不見下證。及藏氣未疲。津液尚存。急下之。恐不至於此。宜達原加大黃。若承氣湯。隨證撰用。利止食進。二三日後。有復下利。為餘邪再傳胃。雖心下不甚痛。而見其機急下之。耽閣移時日。舊弊復起。神脫氣竭。非前日之比也。</p>
<p>又協熱下利。有欲下而不可不者。其腹熱而軟。其脈數而弱。延捱日久。唇口乾燥。一無下證者。宜黃連阿膠湯。若此證在初起。而無下證者。宜四逆散。（二方並見傷寒論。）所謂無下證者。毒已從下利而消。餘熱之未解也。豈必承氣湯而已乎。</p>
<p>大腸膠閉。其狀意欲大下利。蒞便則屎黏著於肛內。其所通卻此些已。（此證於雜病。亦有為難治。宜張子和木香檳榔丸。）</p>
<p>又可氏曰。溫病愈後。反腹痛裡急者。下焦別有伏邪。所發欲作滯下也。若果下焦有伏邪。初逐毒之時。藉其藥力而下爾。譬如破竹。迎刃自裂也。夫腸胃一路。何處伏留乎。今有此證者。乃大邪新除。腸胃尚薄弱。自易感時行氣。別所發之病也。但以里無宿毒。雖病亦易解耳。</p>
<p>一羈客四十餘歲。輕疫新解後。大便不行半月。穀道夯悶。日夜不休。以狀如脾約證。醫連進麻仁丸。分毫無效。愈增下重。請余診之。其脈大而不實。（脈法大為虛。不實即弱。弱為氣衰。）其舌白而無胎。（白而無胎為陽微。）亦不能幹燥。不食時嘔。病屬少陰不足。投六成湯。副用腎氣丸。諸證漸治。有故不竣事而辭去。夫此證與脾約。形態無異。但以脈狀。可別之矣。不通此義。取證舍脈。反與剛劑。徒使胃氣逆。遂至嘔不食而斃。夫脾約屬實。虛秘屬虛。霄壤之遲。而其證相同。每易致誤。豈可不慎乎。</p>

<h2>小便</h2>
<p>又可氏曰。熱結膀胱。小便閉寒。而不及陰證。（陰證下更宜有陰證字。）亦有小便不利。甚至閉寒。夫膀胱腎之府。腎和則能出。今腎受邪。則戚促不施於膀胱。而膀胱為死藏。容而不出。泄而不覺。有而如無。因腎氣之通否。經云。腎主二陰。是也。故小便閉塞。小便不利。雖利而稀。治在少陰。宜真武去朮。腎氣一通。則膀胱得蘇。而小便便利。若尚難利者。外灸石門。從內外內陽。必利焉。此證間有。時師見其大便亦秘久不通。固無意投附子。妄引開北得南風之譬。以大黃下之。速死於倏忽。亦不鮮也。豈不愾哉。</p>
<p>小便閉寒。不論陰陽二證。必少腹結塊。其塊日漸腫大。有至於臍上。每苦急迫。但陰證不急迫而苦。如無害者也。醫藥得法。雖小便利。結塊未消盡。為腎氣尚不全復。服附子勿懈。塊盡腎復。但此證神氣惛憒者。煩躁不寧者。腹滿加噦者。皆屬不治。</p>
<p>又有初小便不利。卒至於一日夜。僅一二行。通則利二三合。是膀胱津液滿而自泄也。與遺尿同趣。非腎氣通而利也。並宜真武去朮。又有陰證而小便數急淋痛者。伏邪傳腎及膀胱也。治以附子劑通少陰。以益元散解膀胱熱。不得純用豬苓輩。疏泄膀胱。恐日後有助下利之弊。</p>
<p>一婦人陰證。神氣惛悶。小便閉塞。數日不通。小腹結塊。大如氣球。醫以手術。按而出之。卒脫氣而死。</p>
<p>一貴妃陰證。神氣恍惚。大便十數日不行。已至腹滿。小便亦不利。一醫欲下之。但以無胃實證。且腹中時為水聲。余固持不攻。已而小便快利。得二三合。則便額上出冷汗。淋漓欲流。四肢逆冷。急投四逆湯。回陽而愈。</p>
<p>上件二則。尋常所不見。姑記具參考。</p>

<h2>前後虛實</h2>
<p>先實後虛。又可氏概為失下。血液搏盡證。亦有未然者。伏邪欲潰之際。熱勢日張。殆為胃實狀而不實。隱然該見少陰證。此為上盈下虛。終不可攻之。</p>

<h2>脈厥（宜與後條查看。）</h2>
<p>脈厥神色不敗。言動自如。別無怪證。此三句著眼處。如此而脈厥。果是陽證也。舌無胎。腹不硬不痛。尿不甚赤而脈厥。果是陰證也。故下條云。須以神氣形色。病證相參。以決安危是也。</p>

<h2>體厥</h2>
<p>體厥一證。施幼聲醫案中。論之詳悉。又有藏結亦體厥。厥陰篇曰。傷寒脈微而厥。至七八日膚冷。其人躁無暫安時者。此為藏結。夫藏結者。無陽證而體厥。至其困極則體厥。陽證隱焉。二者皆躁煩。殆乎難辨別。但此證常無。有所逢亦甚稀。其候難明言。特就煩躁上論之。偏在躁擾無寧刻。與有安靜之時而已。</p>

<h2>伏邪傳少陰</h2>
<p>所謂伏邪傳少陰者。初熱勢日張。微渴微煩。或大便下利。如協熱利狀。或大便秘而不通。而無所苦。心下似滿非滿。似硬不硬。按之似痛亦不覺。小便微赤而稀疏。或癃閉不通。勢如欲旦夕傳胃狀。而奄忽見善眠證。欲嘔不嘔。欲吐不吐。是少陰之確證也。人視其善眠。以為邪勢折。醫亦安焉不省。概投茈胡劑。延捱引日。遂至於危殆。若果邪勢之折。當精神微蘇。口思食飲。諸證隨衰。今熱不減利不止。舌增乾燥。胎雖薄不脫。神氣恍惚。如有如無。於是急不通腎氣。水源先涸。真氣內憊。恐有噬臍之悔矣。宜加減真武湯茯苓四逆湯輩。</p>

<h2>下虛上盈</h2>
<p>所謂伏邪分傳於胃腎二藏。名為上盈下虛。其證上中二焦。大熱大渴。口燥舌乾。黑始生芒刺。（或無胎。）耳聾不食。煩燥譫語。是逆頭痛如破。鼻衄如濺。是邪傳於胃也。亦至夜間。大便滑泄。小便稀疏。日夜僅行一二。時時腹痛為水聲。或為往來蛙鳴。惛惛善眠。手足時厥。是邪傳於腎也。二藏證兼見者。假令大熱短氣。心下硬急。與附子無辭。二藏證該見。其脈沈眩而數。或數疾如急湍。如此脈證。最為難治。就上欲攻腎。則有害於胃。欲回下虛。反助上實。將虛實兼療乎。王叔和所云。神丹甘遂。合而飲之也。言巧似是。其理實遲。夫病有淺深。治有先後。能得其法。便有一舉兩得者。夫下虛不溫。腎氣不通。則上實不降。上實不降。則大熱不減。亦非參附養榮輩緩劑之可救。故舍附子。無如之何而已。余竊考之。伏邪本雖甚。分傳之上下二藏。則熱勢不專一。自易制之理也。雖然。上熱反劇於胃家實。熇熇然勢不可當何也。夫邪入於少陰。腎氣動而不寧。上有感招之實熱。少陰之火。隨而奔騰。混同為一。以張分外之熱。但陰火之性。煽而揚之。延蔓之速。猶燎原之火。不可向近也。故欲治之。所謂先平治腎氣。引火歸原。則壯熱頗半減。胃中唯餘五分之客熱。使其勢孤弱。自易化耳。是以余於真武湯中。去朮加甘草。以療此證。所以然也。夫壯熱之氣。苦寒以清之。為治之常法。唯有於溫疫少陰證。並上盈下虛。便用常法。反激而不服。其弊逮下虛之所。轉增虛候。於是甘以緩之。則激者下降。烈焰自熄。即柔能勝剛之義也。</p>
<p>加減真武湯方</p>
<p>茯苓　芍藥　附子　生薑　甘草</p>
<p>上五味以水二合。煮取一合冷服。若熱甚。津液涸竭者。加熊膽童子小便服之。</p>
<p>甘草降火。芍藥養榮。又二味戮力。以和胃氣。茯苓利小便。治心煩。生薑化飲回陽。（所以不用幹姜嫌其燥熱也）附子通腎氣。引火歸原。歸原則津液隨生。邪氣自化。其所以冷服。資一以潤上之二焦。一以停藥力不下走。但此劑雖有甘草芍藥。以滋辛熱。猶恐有抱薪投火之弊。故至津涸者。加膽汁童便。以護燥清熱。亦長沙之遺意耳。</p>

<h2>瘖啞</h2>
<p>松峰說疫。劉秉錦曰。失瘖者。舌仍能轉運。而喉中寂然無聲也。與舌強不能言者。自難混呼矣。溫病無聲。十不救一。所謂熱病喑啞不言。三四日。不得汗出者死也。此證總由溫邪入藏。熱氣衝寒。燔灼所致。余考經文（宣明五紀篇。）曰。邪搏陰則為瘖。又（脈解篇。）曰。內奪而厥。則為瘖俳。此腎虛也。腎脈俠舌本。邪入腎經脈不流。故瘖不得言也。吳劉二氏。以為心氣耗損而然。劉又舉病因數條。果然也否。但值此證常不多。故適值亦不經意。逢變方噬臍。不知者仍恝然不介意。豈可不講乎哉。</p>

<h2>數疾脈</h2>
<p>數疾脈。狀如奔馬。又如急湍。脈法曰。脈數疾。衛氣失度。浮滑之豚數疾。發熱汗者。此為不治。夫衛氣失度。藏府經絡。四肢百骸。無所不失度。猶之天之日月星辰。纏度之有差。纏度之有差。因北極之機樞有變動也。衛氣之失度。乃下元之失守也。豈此容易之事乎。故得此脈者。病輒為難治。譬之自鳴鐘。去其雌墜。則大小諸輪。一時急轉。輷然雄墜直下。下盡至地則休。及其未至地。以雌墜掛下之。復更諸輪瑟瑟轉。常度行無舒疾。雄墜之下亦平也。所謂雌墜者。下元之守也。諸輪之轉者。榮衛之行度也。雄墜之直下者。脈之數疾也。至地則休者。其人死也。及其未至地。以雌墜掛之者。投附子以回下元之陽也。能及其時。則營衛復常。脈息得度。數疾之退。乃雄墜之平也。世醫不會到此理。隨證與茈胡投承氣。反能殺人。余每遇此脈。輒舍證取脈。候脈狀之復。而後隨餘證療之。或回生於九原下。</p>

<h2>掐陰</h2>
<p>溫疫陰證。偶有掐陰器不休者。於失下證亦有。比比皆死。但至見此證。精神已惛蒙。詰問不得何故所為然。近頃一兒染疫。六七日。煩躁讝語。神惛不寧。頻掐陰。坐臥不休。余診之。少陽孿結。連於少腹。按之至橫骨傍則蹙額。如痛難堪狀。而所掐便止。放手復掐。體作隨手。照餘證。與加減真武湯。八九日而熱解。神少蘇。所掐漸止。於是問其所以掐。兒曰。䘒痛不掐不堪。故掐。始知此藏結證。所云脅下痛連少腹。入陰筋者死。是也。余嘗療幾人不治。斯兒獨得生者。非吾之力也。蓋因精氣未散。混然天機完固也。聊記備後案。</p>

<h1>卷下</h1>

<h2>雜氣論</h2>
<p>方書云。天行時行病。而不言其所行之氣。為何等氣。又可氏乃言之雜氣。雜氣中。有一種之猛烈。言之厲氣。往哲所未闡發。卓犖确論也。然唯謂六氣之外。別有雜氣。其為氣也。無所可求。無象可見。而不言其氣之為何物。其起從安所。則泛然幾乎河漢之言已。蓋雜氣之起。當復有因焉。因明而百雜氣可辨也。余讀左氏（昭四年）申豐曰。冬無愆陽。（冬溫）夏無伏陰。（夏寒）秋無苦雨（甘霖）春無悽風（寒）雷出不震。（霆）無菑。霜雹癘疾不降。（癘惡氣也。）。民不夭札。（短折為夭。夭死為札。）據是觀之。疫癘之行。因六氣之不和。鄭玄曰。癘疫。氣不和之疾。疫癘之氣。即風寒雨陽。不正之氣所化成。非六氣之外。別有一種之癘氣者。醫和曰。淫生六疾。淫過也。過度失常即不正。不正即淫邪。淫邪之行。變幻不一。而足雜氣之作疾。變態無限。惡莫所不抵。故所謂雜氣者。即六氣不正之所釀成。非六氣外別有一氣也。故方其發也。多挾時令之氣。又可氏言之。借時氣而發。難經（五十八難。）舉五傷寒曰。有風溫。有濕溫。長沙氏作傷寒論曰。中風。中寒。風濕相搏。周官曰。四時癘疫。春時有痟首疾。夏時有癢疥疾。秋時有瘧寒疾。冬時有嗽上氣疾。皆以帶專令之氣。致有許多之名色。是古義也。故謂雜氣者。六氣不正之氣。非別有一種。亦足以證。</p>
<p>兵荒之後。疫癘大行何也。夫一氣之不和。尚有雜氣行焉。況如兵亂凶荒。由陰陽之氣。亂不調燮。且餓莩不斂。死亡無訟。怨魂殘氣。充塞其地。能合不和氣。發為癘氣。子產曰。鬼有所歸。則不為癘。其治在君子。醫巫攻之。</p>
<p>雜氣之一篇。又可氏究力。曲盡乎雜氣之情態。無得而可間然矣。但至於大麻。鶴膝。歷節。老人中風。腸風。厲癇。癰疔。流注。丹毒等之疾。以眾人所病。其證相同。言之雜氣之所謂。然其病名顯然。有因而後發。不可言之雜氣。若以眾人其證相同。言之雜氣乎。如虛勞勞瘵。亦言雜氣所為可乎。乃矯曲過正。駟不及舌也。又云。瓜瓤溫。探頭溫。疙瘩溫。幸而幾百年來。罕有之證。余於他書。未嘗見此病名。近於清人劉松峰。雜疫論中。始見載瓜瓤疙瘩之證。治須查看。備不虞。</p>

<h2>蛔厥</h2>
<p>蛔厥之一證。又可氏所說。在胃實之際。兼見蛔厥也。故治胃熱。蛔厥自愈。是發傷寒論之餘緒也。余頃年屢遇此證。從胃寒來者居多。其證不異厥陰篇所云。夫溫病及熱稍解。乃飲食應進。有忽發嘔反不食。是屬蛔厥。其證兩顩潮紅。下唇鮮紅而干。時心煩臂熱。或發熱呻吟。時靜默不語。或腹痛腹熱。心下妨悶。時唾涎沫。其脈數而弦。若浮大。是其證候也。雖口舌乾燥。大便幾日不行。宜陶氏安蛔湯。與湯數日。假令無其效。勿錯慮於其間。是蟲氣之盛。而藥力之未達也。有旬日方有效者。又有不過二三貼。而有效者。若腹痛不已。投劑無效者。宜甘草粉蜜湯救急。</p>
<p>此證每於熱稍減之際而發。有與升陽散火湯證相似。幾乎難別者。余常以舌胎之有無撿之。百無一失。理中安蛔湯方。</p>
<p>甘草粉蜜湯方</p>
<p>人參　術　茯苓　山椒　烏梅　乾薑　甘草</p>
<p>上七味照常煎服。今加甘草。乃蟲得甘則動。動者易制。椒梅以殺之。即烏梅以蜜丸之意也。若手足微冷。加附子。</p>

<h2>呃逆</h2>
<p>呃逆古曰噦是也。（又可氏亦似被注誤陶等）又可氏云。寒熱皆令呃逆。但治本證。其呃自止是也。巢源（卷九）熱病噦候曰。伏熱在胃。則令人胸滿。胸滿則氣逆。氣逆則噦。若大下已後。飲下多胃內虛冷。亦今噦也。今按不唯胃冷。屬陰證最多。又可氏所譏者。吳人每見於胃實之際噦者。亦以為胃冷治之也。噦有寒熱之別。應將餘證參考。自勿錯誤之失爾。</p>
<p>溫疫下證。具投承氣下之。煩狂已定。忽有發噦。以其脈無力。更與四逆湯。凡十有餘貼而止。以其無即效。勿半途換劑。非劑之不應。病深藥未徹其處也。</p>
<p>少陰證發噦。與四逆輩而不止者。宜天樞氣海灸之。溫疫發噦。不論寒熱。其證甚重。宜勿忽諸。故經曰。病深者其聲噦。是也。又有兼見腹鳴。為往來蛙聲。其證極危。</p>

<h2>腹鳴</h2>
<p>腹鳴與轉氣。其證自異也。轉氣屬實。雷鳴屬虛寒。考之經論。無一屬實。其甚者。為往來蛙聲。是因中焦不運。下焦不通。其狀腹內閣閣盈盈如蛙鳴。從呼吸上下。時與呼氣偕迸出。其聲濁惡而長。謂之硬氣。此因上焦不歸。上焦不歸。下焦不通。固莫可治之理。但其不至與呼氣偕迸泄。食之不絕者。或可挽回矣。</p>
<p>一男子。熱稍解。腹無宿結。心下膨悶。時為往來蛙聲。飲食俱減。小便不利。其脈無力。是欲為下利也。與補中湯（出濟世方。）加附子而愈。</p>
<p>一武弁。甫下強仕。以縱酒多欲。陰素大虧。適感溫疫。十有餘日。而及熱半解。精神隨衰。食亦日減。小便稀通。忽發噦不止。以勢危篤。請治於余。視其脈弱而無神。可維特辭。以逆施不及。固請。與四逆湯加人參無效。忽兼見往來蛙聲證。以無他策。增重劑而投之（每日所與之附子凡二十有餘錢。參姜稱此。）連日無寸效。跗上見腫而斃。聊記證治。以具參酌云。</p>

<h2>論食</h2>
<p>溫疫有首尾能食者。有從初不食者。以不食者。較能食者。其能食者。不唯胃氣和而已。津液潤澤。熱自易化。不食者。津液日涸。藏府熯燥。難治之理也。但如少陰證。間有略能食。一日不斷者。特勿恃食。忽本證焉。腎氣不通。則真氣先竭。精神恍惚。言語錯亂。遂至不濟。雖食無益也。</p>
<p>此篇須論除中證。（古云消中是也）蛔蟲證。不舉此二證。吳氏之闕典也，夫如蛔蟲證。抵熱略解之際。諸證亦減卻。飲食稍進。唯腹中微熱不減。尚時發。忽惡食不食。或心煩乾嘔而不受。強與之嘔而困悶。一二旬不食。終亡害。值此等證。不論熱之多寡。宜安蛔湯加附子。又如除中證。只食而能飢。飢而能食。雖食而津液不回。瘦弱不復。復熱不除。大便不利。或利而不止。日漸罷弊。是由脾胃之衰憊。值此等證。不問熱之劇易。宜理中輩。傷寒論論之諦矣。</p>

<h2>論飲（即論渴也。）</h2>
<p>又可氏曰。如不欲飲冷。當易百滾湯與之。乃至不思飲。則知胃和矣。凡渴欲飲者。以邪熱之焄蒸。津液為之涸。腹裡如湯涫。故渴而自救耳。其好冷水。固常事也。今畏冷好熱飲。恐以熱助熱。不可以不辨。夫傷寒溫疫之渴。概屬於陽明少陰之二證。其屬陽明者。必好冷水冰雪。白虎承氣證是也。又心下有留飲。津液為不化生。藏府失液而渴。其有熱者好冷水。無熱者好暖水。不特好冰水。乃留飲即滯水也。五苓證是也。又經曰。腎惡燥。今邪熱歸於少陰。則邪熱與陰化。下利亡津液。遂成虛寒。故渴引熱飲。而自救耳。假令其不下利。亦有渴者。以腎氣不通。津液不施也。將附子回陽。則腎氣得通。而五液並溉。熱渴自止。故渴好熱湯者。屬少陰也。</p>

<h2>清熱</h2>
<p>又可氏曰。時疫首尾。一於為熱。獨不言清熱者。是知因邪而發熱。但能治其邪。不能治其熱。而熱自已。邪之與熱。猶形影相依。形亡而影未有獨存者。又可氏此論。實不易之確論。孰敢間然焉。但其所謂治邪。言以汗吐下三法。攻之也。然間有可攻之證。而熇熇大熱。蒸蒸身熱。或時有休作。熱仍不解。不可如之何也。時師逢此證。概投升陽散火。茈白諸湯而不解。更與黃連解毒。白虎加黃連輩。妄事清熱。愈清愈熱。荏苒移時日。其際大便不秘即滑利。或小便不稀即癃閉。或內衄吐紅。不食日重。精神疲弊恍惚。言語不與人主當。是雖時師罪。然無可攻之證。則不由清熱。將何處索道乎。時師之務清熱。未可言無謂也。但診候不諦。故無效而已。苟診候診諦。乎可無大過矣。</p>
<p>夫風寒與溫疫。等是為熱邪。有一所感。其處必熱。診熱之輕重。以知邪之所在。若風寒之邪。始著太陽。故頭背熱甚。而胸腹熱微。若溫疫之邪。橫著膜原。故兩脅熱甚。而及胸腹。午後勢漸張。以與太陽不相涉。頭背熱反輕。是溫疫與風寒之別也。不識此形勢。而臨病家。失之於初。則病中生許多之禍也。及邪之入里也。診猶有若此者。假令內蓄風毒。外必不仁。內結癰膿。外必甲錯。見於外者。必根於內。推而擴之。診大表。可知邪之所在。古之法也。知邪之所在。考之脈證。瞭然歷歷可視。見而為製劑。藥無虛發。雖不中而不遠矣。</p>
<p>胸中有熱者。虛里動而臂熱。</p>
<p>胃實者。腹中熱。心下硬滿而痛。</p>
<p>少陽有熱者。右脅下熱。其經拘急。若連少腹。膨然微滿者。或下血。</p>
<p>胸腹及周身大熱。若無大熱。無甚發作。煩渴好冷水。舌上白胎。其脈洪大。若微洪大。不論有汗無汗。為熱在肌肉。</p>
<p>額骨熱如灼。少腹熱不甚。若微冷。為下虛上盈。</p>
<p>四肢厥逆。腹中反熱者。為陽氣縮退。</p>
<p>是診熱之大略也。所謂某處熱。唯某處熱。非言他處無熱。較之他處。特某處殊甚而已。啻診候不切。幾乎難得矣。是余積年覃思。私所得也</p>
<p>向余療女孺。甫五歲。系溫疫。六七日視之。證屬陽明。心下硬滿壯熱。按之輒啼。因知其痛。與小承氣湯加甘草。至夜再診。大便未利。然心下已軟。熱大減。微思食。但少腹熱反甚。是胃中之燥屎。已降腸中也。雖未得利。知不俟朝必利。其夜果得下二行。不日而愈。夫燥屎在胃。則心下壯熱。已降腸中則少腹熱甚。蓋小兒皮肉薄弱。邪之所在。玲瓏可鑑。至於大人。肌肉敦厚。雖不如此瑩徹。而於理無二。則能通其義。或有得焉矣。</p>
<p>又按法治之。熱仍不解。反求之少陰。得附子方解者。間復有之。詳見於少陰條。</p>

<h2>應下諸證</h2>
<p>舌白胎　疫邪在募原。舌上白胎。是其正候也。傷寒邪傳少陽。亦白胎。胎無二等。是熱病之所為。何以別之。少陽白胎。其證往來寒熱。疫邪白胎。便渴而無惡寒是也。又陰證之極。有白胎滑如攤肪。</p>
<p>舌黑胎　固屬胃實。下後硬黑。變軟黑。是其常事。若下後。神不蘇善寐。為餘邪入少陰。又上盈下虛。亦見黑胎。與胃實無異。</p>
<p>舌黑無胎　又可氏曰。此經氣。非下證也。妊娠多見此。陰證亦有此。並非下證。所謂經氣。在經之邪熱。不能透發於外。卻內蒸於胸中也。此證數欲漱。而不欲飲。治法宜茈胡劑。</p>
<p>妊娠多見此者。內多蓄血液。為外熱所蒸。變見其色也。猶地黃以酒蒸之。其色便黑。治法同經氣。</p>
<p>陰證。見此者。腎氣之困。見其色也。猶瘀熱在脾。便發黃。而有甚於此。又見離離灰黑色。乃腎氣之傾也。並非附子劑。不能挽回矣。</p>
<p>舌黑乾燥　伏邪日久。不離募原。則邪熱熏胸中。與心火相併。郁為大熱。津液涸竭。則白胎老。作焦黑色而乾燥。恰與胃實之舌相似。而無胎為異。且以腹無胃實候。應別之。</p>
<p>又有蛔動。蟲氣熏膈。見此候。應就本條求之。</p>
<p>舌芒刺　此候不繫於疫之輕重。人之老少。延捱引日。津液素涸者。舌上乾燥。易生芒刺。治法。雖欲為主生津潤燥。而為餘證所拘。無暇專行滋陰也。苟非慧悟於匕劑者。多失乎機會。悔而不及矣。</p>
<p>舌裂　上盈下虛。亦見此候。</p>
<p>舌短　舌硬　舌卷　陰陽二證。俱見此候。多易取敗。</p>
<p>白沙胎　下利傷津液。亦見此候。</p>
<p>舌紅滑　以大便下利。不暇熱熏胸中。故無胎。以下利亡津液。熱毫不除。故紅滑乾燥。宜急下之。失下必死。又伏邪陷於少陰。所云舌黑乾燥隨消。亦變作紅滑色。宜加減真武湯。</p>
<p>舌兩道白胎　邪尚在募原。</p>
<p>唇燥裂　唇焦色　唇口皮起　並屬胃熱。固當下。又上盈下虛。亦見此候。唇口皮起。陰證常多見此候。</p>
<p>口臭　因胃熱湧宿飲。宜下。</p>
<p>鼻孔如煙煤　又可氏曰。此疫毒在胃。下下勿辭。古人以為肺絕。見此證必死。仍應較餘證。審諦發藥。又有臥床日久。燈煙煤黑者。宜再審勿忽棄。</p>
<p>齒衄　鼻衄　胃實之溢於經也。宜下之。又上盈下虛。亦見此證。宜降火。但鼻衄有連日不止。至於二三升者。勿怪。裡熱從血解。與汗解同理。血已止。專主養榮。又力役行旅。總勞身體者。系疫或為鼻衄。鼻衄者多死所以然者。本因強力傷腎也。</p>
<p>口燥渴　此證不獨陽證而已。陰證亦每見此證。經曰。腎惡燥。邪陷少陰。五液不生。故口燥渴自救。時師不曉此義。概投清熱藥。徒延時日。過事不鮮。</p>
<p>目赤　咽乾　氣噴如火　上盈下虛。亦見此證。小便赤黑。涓滴作痛。</p>
<p>小便極臭　並熱迫下焦。脈沈實而數為裡實並可下。但無力者。未可下。</p>
<p>揚手擲足　即躁煩。有虛實之分。宜較餘證而定之。概躁煩。屬真氣幾微。尚有可治者。至身不寧危。</p>
<p>潮熱　譫語　二證並見屬胃實。固可下。又有神虛譫語。詳見於本條。</p>
<p>善大息　短氣　屬胃實。此證心下必滿。並可下。上盈下虛。亦見此證。</p>
<p>心下滿　心下高起如塊　心下痛　腹脹滿　腹痛按之愈痛　心下脹痛　並胃實之正候。固可下。但脈無力數疾。並不可下。又陰證大便不通。小便稀。亦能脹痛。不可下之。二便利。而脹痛自已。又下後下證減。而按之心下仍痛者。有水結。有積聚。不可概為胃實。</p>
<p>腹皮貼背　此以胃實失下。累日不食。胃氣失養。邪毒獨存。脹滿頓除。反作仰瓦狀。形勢甚危。似難施下。務急下之。或免鬼錄。但腹軟者。屬虛。</p>
<p>頭脹痛　頭熱　耳鳴　上盈下虛。亦有此三證。</p>
<p>小便閉　陰證每多此證。詳於本條。又有神怯恍惚。小便閉者。宜道赤散。但遺失者。不治。</p>
<p>大便閉　陰證每多此證。詳於本條。又雖閉至一二旬。而不下重。無害於小便。慎勿下之。津液回而自通。</p>
<p>大腸膠閉　協熱下利　熱結傍流　並詳於本條。</p>
<p>四逆　脈厥　體厥　並失下者。間至於此。但煩躁無寧刻者不治。又不下後。有見此證者。宜四逆輩。不及者死。詳見於本條。</p>
<p>發狂　此證特見於白虎證。其他概煩躁譫語之甚。乃作狂狀也。</p>

<h2>應補諸證</h2>
<p>又可氏曰。虛證散在諸篇。此不再贅。余檢閱諸篇。至說陰證。乃僅僅匆匆而已。此主張陽證。務唱下劑。至迄陰證。故省略之。求其意。乃曰。溫疫無陰證。故不附載。此以當年所行之疫。與今時之疫。其證有霄壤之違。詳見於下項條。今採摘類聚乎陰證。上盈下虛證。虛脫證。以便參閱。</p>

<h3>陰證</h3>
<p>善寐　仲景云。少陰為病。但欲寒。以此證所見平穩。人皆以為熱消病減。晏然不悚疑。安知少陰之始證。而陰險從此生。又邪在少陽。亦有眠者。其他無有此證。但病愈善寐者。不繫焉。</p>
<p>唇口乾燥而無胎　唇口皮起　並津液不至咽。</p>
<p>舌紅滑　邪熱入少陰。上並手少陰。則五液乾燥。上焦仍熱。故舌見紅滑。又見於前應下證中。</p>
<p>舌黑沙胎　發渴　並虛火之妄動也。詳於口燥渴條。</p>
<p>大熱而腹軟　大熱舌無胎　並診腹大熱如灼。翣時按之。手卻覺熱輕。此係虛火妄動。若手不覺熱輕。仍宜以脈參較。</p>
<p>夜間大便滑泄　此因內陽守乏。夫至夜陽氣漸退。陰氣隨長。宜以下利之時刻。度虛寒之微甚。</p>
<p>下利厥逆　此證既具在傷寒論。更不附懸。</p>
<p>噦逆　腹中蛙聲　並屬虛寒。名見於本條。</p>
<p>小便稀　小便閉　小便遺　大便閉　此皆因陽氣不充於下焦也。只將真武輩。俟陽氣還回。不勞而自利。若強欲利。用行氣利水藥。不唯無益。反招害。</p>
<p>脈沈數而弱　浮數而弱重按如無　見此脈者。屬陰證。況於微弱乎。雖熱甚不可下。</p>
<p>脈數疾　其狀如奔馬。如急湍。此衛氣失度也。得此脈者。雖諸陽證具。非附子實下焦。而不治。詳見於本條。</p>

<h3>上盈下虛證</h3>
<p>諸證附見於應下條中並本條。其他三證具下。</p>
<p>頭哄熱　下焦不治。虛火奔騰之所致。</p>
<p>短氣息疏大　吸氣不至腎。</p>
<p>周身大熱。少腹熱輕或冷。</p>

<h3>虛脫證</h3>
<p>如撮空理線。微喘盼視。髮根搔癢等。五藏絕證。人皆當所諳。更不附載。今舉所數經過證二三。以具參考。</p>
<p>白㾦　時師誤言白疹。此證因衛氣衰。而偶有治者。但精神日虛憊不治。</p>
<p>診脈牽手縮去　此。證所見雖微。而未見得生。</p>
<p>瘖不得言　見此證必死。詳見於本條。</p>
<p>屈膝仰臥　此證系真氣虛微。多不治。猶魚之將死。仰浮於水上。</p>
<p>下血如崩　此證男子每十七八死。婦人每十五六生。此以女子陰有餘也。</p>
<p>躁煩無寧刻　必死。但四肢不厥者。頭安於枕上者。或可挽回。又熱略解食稍進。而煩躁不治者。為邪乘心。雖不至無寧刻。而必死。</p>

<h2>論陰證世間罕有</h2>
<p>天明壬寅年。東西諸國。溫疫大行。其死亡者。不可勝殫。京師亦行。其證概屬胃家實。先之餘刻溫疫論。從此法療。多得全活。然世鮮傳本。雖有餘刻。而輕視不敢讀。人皆以傷寒法。發汗為要。汗出熱仍不解。愈更增取汗。是以津液先涸。未至胃實。煩躁至死。亦不為不多。是吳又可之所懼也。無幾何。東奧西肥之徒。各馳書謝曰。頃溫病大行。依吳氏法治之。其易如探囊中物。皆先生之賜也。余益信又可氏之有功於溫疫。時師亦稍稍知取而讀之。遂大布行。久之。或為余語曰。一人系疫。百療無效。服附子理中湯。得愈有諸。初余冷笑不肯也。適值腸澼病。以苦寒攻之。證候反劇。更投桂枝人參湯。脈腹俱和而愈。夫腸澼亦病屬熱。治尚如此。特於溫疫。未嘗無此理。每值溫疫難瘥證。診而不諦。思而不得。中心憒憒焉。後讀嶺南衛生方。於瘴瘧條。私心略領之。有感乎或語。</p>
<p>天明戊申春正月。京師大火。十萬之家。頓為燒土。人民落膽。彷徨於道路。無身可依。或竄居於陋巷僻地。或假寓於倉庫之存。苟且圖生者。十居其九。誠可務恤也哉。未幾何。溫疫稍行。至四五月盛行。其證如胃家實。而有所微見陰證。仍用大黃死。用附子則生。與嶺外之瘴瘧。趣相類。示後年年。所視之疫證。治略相同。但屬大黃證。每十不過二三。多用附子以免危。與所謂胃實證。霄壤懸隔。初見伏邪證。非敢有異。今證之徑庭。何其甚邪。兒德輿曰。蓋邪有剛柔也。猶熱病有中風傷寒。俱感於太陽。隨其所傳。百證變見。疫邪亦有剛柔。俱著於膜原。隨其所傳。百證變見。但剛邪勢劇。同氣相感。傳於陽明。柔邪勢緩。不能傳胃。同類相聚。徑入於少陰。下虛上盈。猶傷寒有兩感證。剛柔相半也。吳氏言溫疫無陰證。非吳氏之過。顧其時柔邪尚不行。吳氏未視疫有陰證也。此說雖無據於古。而於理未可擠根之。又余嘗歷觀。伏邪之傳胃。每不多引日。是邪離膜原之速。而輕悍也。其陷於少陰。欲離膜原。而不離。稽滯多日。方見陰證。是邪重濁也。指之言剛邪。言柔邪。似不可為河漢言。據此求之。治術亦有可為矣已。</p>
<p>寬政辛亥年。從客臈溫疫稍行。有陰證有陽證。有上盈下虛證。於一門內。虛實並行。以常慣陰證。動易執迷致誤。非能講究。而瞭然乎胸坎。安得緩急相應乎。</p>
<p>余一時療疫。大小三次。因歲氣有不同。如今所記。總系經驗。苟有所違於法。不死必危。吉凶直見。非如雜病之可左右也。讀者其思之。又可氏曰。隨其證治之。勿臆度其虛為陰證驟溫補。可也。至曰與房欲何與焉。未可也。經曰。藏於精者。春不病溫。又（玉版論要篇。）曰。病溫虛甚死。又可氏於四損證。置之度外。亦由精不足也。余久歷視。病形似不死而死。多在多欲人。少欲者。雖失下羈遲。尚有得生。學者應留意焉。謂與房欲不與。揉曲過正也。</p>
<p>又可氏曰。真陰者。始則惡寒而不發熱。四肢逆冷。其脈沈細。急投附子湯回陽。王履所云。直中傷寒是也。余按此證。是中寒之急證。猶暑時之霍亂也。吳王以此係傷寒溫疫。似徑竇相失。夫傷寒溫疫。當漸攻傳裡。而作陰證。未聞有如此之陰證。</p>
<p>又可引捷要法曰。陰陽二證。以小便赤白為據。萬不失一。若夫如此。於別陰陽乎。何難之有。以余所診視之。雖陰證小便仍赤。所以然者。本因熱邪之所內陷。與藏氣相搏。蕩摩衝擊之際。津液帶其氣而下。故其色每赤。但赤有濃淡已。若上盈下虛。其色尤甚。於其際欲區別。固為難。若俟其清白。方為陰證。豈翅遲三十里而已乎。</p>

<h2>舍病治弊</h2>
<p>一醫看此條。縱飲冷水。大熱頓解。脫然而愈。適值大渴證。今恣飲水。至二十餘盞。而渴止則腹中暴脹。發喘而死。此輕視長沙與水禁之過也。</p>

<h2>輕疫誤治條</h2>
<p>傷寒論平脈篇。脈浮而大條云。久久為痂癩。太陽篇。傷寒吐下後條云。久而成痿。陽明篇。陽明病。若中寒者條云。欲作固瘕。如此等證。皆因誤治成痼疾。又可氏於此篇。發其餘緒。示雖輕疫。不可忽視。余嘗視溫疫差後。發狂者。為虛勞者。應查看下項。主客交條。</p>

<h2>肢體浮腫</h2>
<p>下後比熱稍解。稍知食味。有跗上微腫。其人或微頭痛。此陽明氣通。非虛候也。飲食調理。不藥自愈。</p>

<h2>服寒劑反熱</h2>
<p>氣為邪阻。抑鬱為火。火邪混同。發作大熱。此邪本也。火末也。邪退氣自通。火消熱自清。故邪不除。無熱清之理。但邪非汗下不除。今無可汗可下之證。無邪可逐之路。不得已以苦寒清熱為務。不唯熱不清。反抑遏胃氣。氣益不伸。火更屈曲。所以反熱也。此又可氏之意。善道清熱之無益。而不置治方。其意任下而取之。若遇其無下證者。將如之何也。欲汗下以驅邪。無可逐之證。欲苦寒以清熱、抑遏胃氣。欲養榮以勝熱。黏膈不受。此余所疑而不決也。療多人之間。若值下焦一隅之有闕者。輒本甘下火之語。主用甘草附子降火和胃。引火歸原。大熱過半減卻。神氣少蘇。所餘小半之邪熱。此自易化。談笑可治耳。</p>

<h2>知一</h2>
<p>論感疫而熱。與飲酒而醉。其趣即一。宛然好比喻。語曰。能近取譬。是之謂也。</p>

<h2>四損</h2>
<p>吳氏曰。四損。言正氣。真血。真陰。真陽之毀損。當此之際。忽又加疫。邪氣雖輕。併為難治。以正氣先虧。邪氣自陷。故諺有云。傷寒死下虛人。所云。真陽虧損邪氣陷。死下虛並言邪氣陷少陰也。又云。氣不足以息。言不足以聽。即汲汲少氣也。欲言而不能。即瘖而無聲也。並屬下虛證。　所云。四肢厥逆。下利清穀。肌體惡寒。恆多泄瀉。至夜益甚。口鼻冷氣。即是少陰證。感邪雖重。反無發熱燥渴胎刺等證。今視少陰證。多兼此等證。（但舍此等證恃通腎氣為佳。）又云。陰凝不化。即腎氣不通也。邪留而不行。即不傳於他也。　余按。於四損中。除亡血家之外。總是少陰證也。自指陰證。不言陰證。而謂溫疫無陰證。又云。陰證散見諸篇。其言不一定。竊以似吳氏於己心。有所不安。以不置治方。是以世讀溫疫論者。不知瘟疫有陰證。而過人最多。是所以余鄭重論辨也。</p>
<p>吳氏曰。真血不足者。即亡血虛家也。真陰不足者。即津液乾涸也。津液屬腎。血屬心。雖所治異位。至於榮養四肢百骸。乃血液無貳。今血液乾涸。熱邪乘之。藏府經絡。一時乾焦。滋陰養榮。無暇施及。神氣飄蕩而死。但有真陽一點之資者。或回生於萬一。</p>

<h2>勞復　食復</h2>
<p>一少婦罹疫。以婿家少看護。移病於外家。而請治。余診證屬失下。越三十日。邪熱已解。肪證俱平。唯血氣未復。余囑父母曰。古語云。病如少愈。看護勿懈。頃之。少婦坐不堪曠閒。請行藥拜舅姑。遂去宿婿家。翌晡發大熱。煩渴口舌乾燥。不食。病勢日加重。藥無寸效。六七日而逝。又一男子病腳氣新瘥。但脈數未平。傍人曰。彼宿有合巹約定。婿在近。而難愆期。奈之何。余曰。外臺云。腳氣因腎虛。今娶必死耳。不聽遂娶。其夜衝心而死。女勞之復。如此其急。豈可不慎乎。</p>
<p>一婦人甫廿有五。病疫為下虛上實證。四十餘日。而邪熱已解。飲食漸進。時至過飽。制之不肯。一日大吃食肉。卒發大腹痛。四肢厥逆。頭汗淋漓。六脈虛微。急與四逆加人參湯。數貼方回陽。續大熱復發。飲食大減。諸如前日證。更與茈胡清燥湯。十有五日。才復舊觀。食後證。有如此甚者。</p>

<h2>溫瘧</h2>
<p>前條二則。一論瘧疾數日。而見疫證。一證疫熱已解而見瘧狀。此條所論。乃瘧而見下證。即瘧疫兼證耳。不可別建溫瘧之目。</p>
<p>一婦歲四十餘病瘧。七八發。用劫法截之。六七日後。復更發熱。勢甚於前日。連發數日。發無定期。或一日再發。及其發也。兩腳指頭焮痛。號呼動傍人。不可觸近。已及其醒。痛亦隨減。診之。舌上黑胎。大便難不食。脈微欲絕。或沈伏不應。此瘧兼微疫。失下之所致。殆為脈厥。與知母湯。（見願體廣類集。）加鱉甲大黃。取下日二三行。至六七行。瘧勢隨減。痛亦隨已。旬有餘日而愈。</p>

<h2>瘟疫腳氣兼證</h2>
<p>瘟疫十餘日。一夜心下大痛。下利三四行。嗣後痛減。而下利不止。小便日減。腳漸痹痛。經數日復熱加重。唇舌乾燥。胸腹大滿。兩腳不舉。神氣惛蒙。二便遺失。脈沈數而弱。趺陽少陰。伏而不應。時師與桂附劑。數日無效。請余診之。曰。此證因下利。下焦衰弱。腳氣乘其虛也。是為溫疫腳氣兼證。今雖表無大熱毒。引毒已薄心。危在旦夕。若不忍坐視。莫如用紫雪。幸有利。熱毒並解。為一舉兩得矣。病家怖而不服。不日而逝。又向視梅毒腳氣兼證。衝心氣急。旦不待夕。余將紫雪救燒發之急。不得全效。然延命數日。若及未瀕死。或得迴天之功爾。以其則不遠。附言於此。</p>

<h2>斑黃併發</h2>
<p>松峰疫說。舉斑黃併發證治。其證先發黃。旋即發斑。以其人素弱。用托裡舉斑湯。茵陳五苓散。於二方中採擇與之。已服一劑。次早發戰汗。而後斑黃並退。豁然而愈。隨名其方曰斑黃雙解散。茵陳豬苓茯苓澤瀉梔子生地黃甘草芍藥當歸以上九味。余未視此證。或可有之證。故採錄以備參酌。若此證有於實家。以茵陳蒿湯取一下。瘀熱以行。斑毒自透徹。如所云搏足鳥之論。</p>

<h2>婦人時疫</h2>
<p>吳氏曰。婦人時疫。與男子無二。但其所異者。獨為熱入血室。故全篇。就傷寒熱入血室三條。演其義而已。</p>

<h2>妊娠時疫</h2>
<p>經（六元正紀論。）曰。婦人重身毒之。有故無殞。亦無殞。通篇依此義立論。吳氏云。用當其證。見大黃為安胎之聖藥。孫真人以大黃。置補藥之第一。（千金翼。）又可氏之言有所祖。</p>

<h2>小兒時疫</h2>
<p>通篇善曲盡時情。　飛霞幼幼集成。論搐全依此篇。以擴充義理。頗有可觀者。</p>

<h2>主客交</h2>
<p>三甲散。從大黃䗪蟲丸拈出。但䗪蟲丸。逐瘀為主。破結滋陰為次。三甲散。破結滋陰為主。逐瘀為次。蓋又可氏煆煉之方。可與䗪蟲丸並駕也。又可氏云。男女因他病。肌肉消爍。邪火獨存。此際感疫。醫家易誤診失治。逡巡曠日。則客邪雖輕。尚膠固於血脈。主客交渾。遂作痼疾。乃謂成虛勞病也。余每值此證。度輕重深淺。隨證撰用此二方。其未至勞極。間奏殊效。</p>

<h2>正名</h2>
<p>仲景祖述熱論。而作傷寒論。業已曰熱。曰寒。至發熱而渴。不惡寒證。表裡證該見。無更可目焉。夫寒熱陰陽之偏氣。陰帶陽曰冷。陽帶陰曰溫。即有表裡相兼之義。取以命之曰溫病。蓋非有他義矣。</p>

<h2>九傳</h2>
<p>又可氏於此條。詳論伏邪有九傳。其要不過外傳於三陽。內傳於胃之二途。以歷年余所診考之。於二途外。又有二途。有伏邪徑傳於腎。有半傳於胃。半傳於腎。名曰下虛上盈。其傳胃者。大黃可下而取。傳腎者。附於可通而回。至下虛上實。乃用大黃。則胃熱可瀉。而滋損腎氣。復用附子。則腎氣可通。而增助胃熱。然則附子大黃並用乎。外臺云。神丹甘遂。合與之類也。故於此二途。下虛上盈。尤為難治。經（評熱病論。）曰陰陽交者死。此證亦可謂也。證治詳見於本條。</p>

<h2>正誤</h2>
<p>傷寒例以下。諸子不認溫疫之真。冥搜摸索。為空誤妄說。恐詿誤來學。喻嘉言擒而硬笞諸前。吳又可從而刑諸後。以二公之明。千載之滯義。一時如洗冤。仲景再出。必以龍圖見矣。</p>
