<header data-type="book">
<h1>王應震要訣</h1>
</header>

<h1>王震云先生診視脈案</h1>

<h2>一、王應震先生四十四字要訣</h2>
<p>理、固、潤、澀、通、塞、清、揚、逆、從、求、責、緩、峻、探、兼、候、奪、寒、熱、補、瀉、提、越、應、驗、滑、澀、大、細、促、結、舉、按、尋、候、逆、順、久、新、緩、急、清、濁。</p>
<p><u>理</u></p>
<p>資生萬物位坤宮，惡濕喜溫益理中，氣血源頭多此化，先天化育損為宗。</p>
<p><u>固</u></p>
<p>一點真陽寄坎宮，固根鬚用味甘溫，甘溫有益寒無補，堪笑庸醫錯用功。</p>
<p>夫先天真一之氣藏於坎中，其氣自下而上，與後天胃氣相接而生，乃人人之寶。或因勞傷過度，損竭其精，以致精不能生氣，氣不能生神，使相火無有安宅，妄動飛騰。現出有餘之症，實非有餘，乃下元不足之氣，故若用苦寒之味，真氣愈虧，而邪火易熾。凡治此症，惟當溫補於下，而火自歸其位，而病自愈矣。</p>
<p><u>潤</u></p>
<p>肺為華蓋去皮毛，金體由來畏火銷，便燥皮枯津液涸，滋營潤燥有功勞。</p>
<p>潤燥之功，不出乎滋營潤燥，流通氣血。多因嗜欲無節，致腎水受傷，兩火浮越，燥渴之疾生矣。或前後秘結，或痰在喉間乾咳，此皆津液不足，而火動元傷，理宜補養腎中真陰，使金水相生，則升降出入，濡潤宣通，何病之有？</p>
<p><u>澀</u></p>
<p>脾濕生痰滑泄，腎虛氣弱多溏，遺精不禁是行藏，濕澀補方切當。</p>
<p>澀治之要，不出乎溫補脾。濕生痰，宜補脾，治在中。腎虛失禁，或溏泄，或多溺，或精泄，宜補腎，治在下。如婦人崩漏，脫而小腹作痛者，此經信時不謹，致血凝滯漸成瘕積，故有血崩之患。亦當驗血光，察脈氣，理應去其宿積，此通因通用之法。如崩不作痛者，此虛之盛也，大宜溫補，切忌寒涼，當用血脫益氣之法。二者不可不察。</p>
<p><u>通</u></p>
<p>痢疾瀉痛通用因，驗色明分辨久新，寒則當溫熱當下，有餘不足妙如神。</p>
<p>通治之法，不出瀉痢二端。若暴痢後重，窘迫而疼，連去無度，則滯有不行，或身熱色赤，此等宜下。如有不疼而瀉，亦屬積也。其瀉者旁流而下，若用澀止藥愈深愈疼，此等亦宜下之，俱有通因通用之法。若痢久紅白不止，身冷脈弱，去雖無度，其腹微疼，切忌寒涼之劑，急用附子理中溫補為主。此屬氣不能攝血，而統於諸經也。若瀉久色如鴨溏，亦宜理中溫補為要。古云：諸積諸疼，喜溫而惡寒，誠不謬矣。</p>
<p><u>塞</u></p>
<p>塞因之法難傳，疏啟中間峻補兼，此理若能知得透，孰云醫道不通仙。</p>
<p>塞治之法，甚是駭人耳目，且氣脹無治法，人皆懼之。殊不知下氣虛乏，致中焦滯實。蓋腎乃生氣之源，若先天氣乏，焉能與後天胃氣相接，而喘脹之症生，故胸脅滿甚，不若峻補於下，疏啟於中，此王太僕之微言。且用補之法，少脹則資壅，多脹則宣通，下虛自實，中滿自除，此塞因塞用之法也，粗疏者不足以語此。</p>
<p><u>清</u></p>
<p>清肺甘寒味最良，水金滋養此源長，若加辛燥純涼劑，多使真元氣自傷。</p>
<p>肺為五臟華蓋，而統攝諸氣運行不息，乃至清之分，所畏者火之上逼耳。一或有傷，痰因火動，中焦之氣必傷，而咳嗽吐痰吐血，且肺受火制，失其乾健之能，在變生百病。藥宜甘寒滋養，使子母相生，不受火制，其氣自清矣。若用辛燥純涼之品，反傷真氣。更當察脈之虛實，脈如不足，雖有痰血，亦當溫補真元。</p>
<p><u>揚</u></p>
<p>外感風寒發嗽，身多寒熱頭痛，或兼火鬱在諸經，發熱發輕揚此定。</p>
<p>外感天時不正之氣，內因飲食失節，防礙真氣，變生諸疾，惟輕揚疏氣一法，應手而愈。</p>
<p><u>逆</u></p>
<p>人火分明勢緩然，寒涼風伏藥相兼，兩須辨莫使，差訛至倒顛。</p>
<p>《經》云：微者逆之。人火者，心火也。其勢緩，可以水滅直折，黃連之屬治也。</p>
<p><u>從</u></p>
<p>龍火飛騰太速，遇寒光焰滔天，惟其催折勢難兼，邪退正隨管見。</p>
<p>《經》云：甚者從之。龍火者，相火也。其勢速，不可以水直折，勢當從其性而伏之，惟桂附之屬可治也。</p>
<p><u>求</u></p>
<p>嘔逆聲頻氣有餘，欲餐難入費躊躇，熱因寒用無他技，薑製梔連倍竹茹。</p>
<p><u>責</u></p>
<p>寒動於中本腎虛，腎虛陽脫氣難拘，惟其地戶應勞閉，失禁終須喪厥軀。</p>
<p>《經》云：虛者責之。腎虛則寒動乎中，又真陽脫而瀉者，則不禁門戶矣。脈存者生，脈脫者死，宜峻補於下，緩則不能斡旋矣。</p>
<p><u>緩</u></p>
<p>久而增氣理悠長，緩滯中和物化常，脾胃相宜惟谷菜，藥偏勝不為良皆。</p>
<p>《經》云：久而增氣，物化之常，氣增而久，夭之由。夫胃者清純沖和之氣，惟於谷藥相宜。即參朮亦有偏勝，況寒苦辛熱之藥乎！要在察其病新緩，急當重劑治之，病勢緩以輕劑調之。苟或邪氣已退，而正氣未復，藥宜間服，加以飲食調之。緩急之道，不可不知。若過於藥，反傷中氣，則病愈綿延不休。醫者當臨機應變，庶無偏勝之患。</p>
<p><u>峻</u></p>
<p>勢急難施緩治，實虛劑童當為，理中承氣斡旋分，用著驗如神應。</p>
<p><u>探</u></p>
<p>初驗難分真偽，欲施攻補狐疑，全憑調探虛實，此為醫家上計。</p>
<p>實能受寒，虛能受熱。</p>
<p><u>兼</u></p>
<p>實虛相挾損元陽，攻補兼施用酌量，先理脾家為切效，氣行無礙補無妨。</p>
<p>兼治之法，攻補並行。倘為飲食所傷，致傷脾胃，或吐瀉，或胸脅脹痛，或怒氣挾食傷肝，皆損中氣。雖勞傷等症，頭痛發熱，務先調理脾胃，宜溫補加理氣之品，使脾氣運行，諸症平復。再授純補之藥。設有微邪，自然汗解而愈。古云：物滯氣傷。補益兼行消導，此之謂也。</p>
<p><u>候</u></p>
<p>傷寒表實汗為難，火數如逢發等閒，歷代明醫無此訣，於今識破妙機關。</p>
<p>外感有餘之象，必身熱頭痛，惡寒無汗，乃邪郁腠理，表實之故。若發汗發不出，不宜強其汗，候逢火數，必發戰汗出，亦有不戰而汗者。若戰汗時宜溫補以助，要使正勝其邪，自然汗出而愈。如數未至，強發其汗，反傷真氣，其病愈甚，此心得之妙。</p>
<p><u>奪</u></p>
<p>臨症隨機見識高，宜攻宜守在分毫，心存專主人司命，急奪乾坤造化標。</p>
<p><u>寒</u></p>
<p>惡寒戰慄非寒症，陽元陰微濟熱深，莫使差毫謬千里，也須著意箇中尋。</p>
<p>真寒之症，宜大劑溫之。熱極甚而反惡寒者，脈必有力，症有別，宜承氣下之。</p>
<p><u>熱</u></p>
<p>惡熱應非熱，元虛氣自傷，莫教從實治，須用補虛方。</p>
<p>真熱之症，其脈洪大有力，身熱譫語，大便閉結，煩渴欲飲，得水不逆，此當急下無疑。如陰虛發熱而渴者，須生熟地等藥治之。</p>
<p><u>補</u></p>
<p>陰盛陽衰氣薄，便溫惡冷通情，醫能識破箇中情，起死回生有應。</p>
<p><u>瀉</u></p>
<p>實病恆有汗下宣，脈應對症法當權，若將忽略輕生命，訣有言傳出自然。</p>
<p><u>提</u></p>
<p>氣虛下陷因何故，勞損傷神理必然，秘說兩般無所據，全憑提固法當高。</p>
<p>中虛者胃氣，下虛者腎氣，先天后天，二氣相接，氣血流通，運行不息，何病之有？一或有傷，病則生矣。致使肝腎之陰不能生，心肺之陽不能降，上下不利，正當用提固之法。如效更當用溫補真陽，其氣自然通達。如婦人血脫虛寒帶濁，並宜峻補兼提，並治下氣虛脫泄瀉等症。《經》云：出入廢則神機化滅，升降息則氣立孤危。而化化生生亦由此一氣耳。</p>
<p><u>越</u></p>
<p>食塞胃中氣不調，越因越用法為高，食如嘔出因無火，溫補中宮積自消。</p>
<p><u>應</u></p>
<p>治法中間有四應，四應之處可回生，汗溫吐下應無失，失卻相應命必傾。</p>
<p><u>驗</u></p>
<p>醫家臨症要分明，察色觀神識死生，腹滿按之虛與實，還憑驗舌聽聲音。</p>
<p>諸病之端，先難形氣，次察聲色。《經》云色之與脈，當相參驗，但五色有四季之分，惟土位居中央，四季兼有五色之中，稍帶微黃，方為佳兆，不可純見。故脈中兼緩、色中兼黃，為有胃氣，皆不至死。舌乃脾之絡，心之苗。鮮紅者屬熱，白胎而乾者亦屬熱；白胎而滑者寒也。色紫者，火熱亢極也。黑者，熱極反兼水化，少有生意，危之兆也。色黃兼利而唇口碎烈，非實熱，乃假熱也。此腎水枯竭，不能生化津液，宜大劑溫補。若用寒涼，反瀉真陽，其死必矣。</p>
<p><u>滑</u></p>
<p>往來流利各為滑，緩大相兼氣必傷，莫作痰看依古訣，當求陽分謗推詳。</p>
<p><u>澀</u></p>
<p>沾沙刮竹一般看，滑澀當分滯利間，莫作氣鬱痰血積，元精久病必傷殘。</p>
<p>澀者遲難，為少血亡汗，傷精氣鬱。</p>
<p><u>大</u></p>
<p>脈大當知病進，氣虛邪盛同行，要分濁細推情，實瀉虛溫驗症。</p>
<p>肝脈、腎脈、心脈，小急不鼓為瘕。</p>
<p><u>細</u></p>
<p>細如一縷是元虛，若帶沉弦積有餘，當辨久新求責治，依經據理莫差遲。</p>
<p>細數，真陰虛；細遲，真陽虛。</p>
<p><u>促</u></p>
<p>身熱脈來歇止，數中越促非祥，若還漸退病無妨，愈進料應多喪。</p>
<p><u>結</u></p>
<p>脈遲帶結七情傷，歇至中間細忖量，痰血滯經多此候，當分新久實虛方。</p>
<p><u>舉</u></p>
<p>輕循之法名曰舉，浮脈中間仔細看，有力有風兼表實，無神無力是虛端。</p>
<p><u>按</u></p>
<p>重取之法名曰按，按之不足是虛元，有力為痰多氣滯，宜溫宜下細推之。</p>
<p><u>尋</u></p>
<p>不輕不重曲求尋，個理機關理最深，生死實虛從此得，粗工豈辨石和珍。</p>
<p><u>候</u></p>
<p>四時當旺何為重，要識強洪沉與毛，一字同情分兩意，診值節氣乃為高。</p>
<p><u>逆</u></p>
<p>陽病見陰名為逆，形羸脈大亦皆然，有餘不足如相反，決死無疑命在天。</p>
<p><u>順</u></p>
<p>脈大形標兩得平，證餘脈大重還輕，形羸脈細無妨礙，脈症相符是順情。</p>
<p><u>新</u></p>
<p>暴病玄機在右關，右關神在豈傷殘，更將脈理來參考，莫把斯言作等閒。</p>
<p><u>久</u></p>
<p>宿病根源在絳宮，絳宮流利勢從容，若還肉脫難同例，久候雖調命亦空。</p>
<p><u>緩</u></p>
<p>迢迢胃氣喜從容，旺在中和四季中，虛實補消分兩法，若無胃氣總成空。</p>
<p>胃氣之脈，弱以滑，和而緩，似有力而不堅勁也。虛不受補，實不受消，皆胃氣有虧，危之兆也。</p>
<p><u>急</u></p>
<p>火盛脈虛脈急，有餘不足交加，醫能分辨藥無差，正復緩來邪罷。</p>
<p><u>清</u></p>
<p>清脈無邪氣自傷，藥宜溫補是良方，病從內出無他故，訣有言傳識見長。</p>
<p>清者無力屬虛。</p>
<p><u>濁</u></p>
<p>脈濁邪平氣有餘，應加疏泄莫躊躇，病因外入無他故，得訣回來好看書。</p>
<p>濁者有力屬實。</p>
<p>以上四十四字，乃王應震先生秘傳，醫中之精髓，明足以察秋毫之末。朝夕玩索，自能得之於心，而應之於手。古云不為良相，即為良醫，非醫博不足以當此言耳。</p>

<h2>二、王應震先生示子孫慎醫歌</h2>
<p>良相功名在濟民，良醫施藥亦同情，陰陽理氣須融徹，才能道術貫天人。背謬醫書休浪讀，《內經》奧旨細推尋，理會各家知採擇，儒醫名義不虛稱。博聞多識能歸約，自然詳審盡其因，效法古方毋固執，常變相臨辨要真，果能造到逢源地，信手拈來總是春。</p>

<h2>三、望聞問切</h2>
<p>望而知之者謂之神，望其五色，以知其病也；聞而知之者謂之聖，聞其五音，以知其病也；問而知之者謂之工，問其五味，以知其病也；切而知之者謂之巧，切其脈證，以察其病也。</p>

<h2>四、四大家</h2>
<p>外感法張仲景也，內傷法李東垣也；熱病法劉河間也；雜病法朱丹溪也。</p>

<h2>五、辨寒熱虛實損脈法必要</h2>
<p><u>寒症脈法</u></p>
<p>脈遲緊伏三部皆同，按之緊直如琴絃。若四至以上為寒邪，宜辛溫發散；四至以下是真寒，宜姜附之類以溫之。又云脈緊或微遲，大便溏瀉有汗，乃真寒之症。雖發熱好茶水，不可輕用涼藥，宜大劑補之。又宜溫熱藥滲利之，其瀉自止，其熱自退。</p>
<p><u>熱症脈法</u></p>
<p>脈按至骨不動，為真火症，若便秘宜下。外病脈洪數為邪熱，宜清涼發散；緊數而浮者，宜散；沉數者宜下。</p>
<p><u>虛症實症脈法</u></p>
<p>脈舉按形大，空虛而軟，無火之人。細數而軟，有火之人。脈至兼數數然，細數、浮數、弦數，俱屬虛火，大宜滋補。若洪數、沉數有力，此屬實火，宜清散降瀉。間有虛火，脈狀渾如蔥管一般粗。又云陽虛多遲，陰虛必數。</p>
<p><u>虛損辨症與脈法</u></p>
<p>脈細而浮，是氣虛也；脈大而浮，是血虛也。自汗不止，惡寒盜汗，是氣虛也；晡熱內熱，發熱不寐，是血虛也。發熱煩躁，肉瞤筋惕，是氣血兩虛；遍身皆麻，神思倦怠，晡熱作渴，自汗盜汗，亦氣血俱虛。筋攣臂軟，肌肉掣動，此元氣下陷也。肚腹喜暖，口忌冷物，此形氣病，氣不足也。飲食勞倦，起居失宜，面赤嘔吐，畏見風寒，此內真寒而外假熱也。兩足痿軟，日晡發熱，胸膈不利，飲食善消，面帶紅色，大便秘結，是三陰虛也。胸腹作脹，飲食少思，是三陽虛也。胸腹脹滿，寒出如雨，四肢逆冷，睡中驚悸，覺上升如浮，下陷如墜，脈洪大而數，重按微細，此乃屬無火，虛之極也。遺精白濁，自汗盜汗，內熱晡熱，口乾作渴，喉痛口裂，胸乳脅脹痛，頭頂或痛，眩暈目花，心神不寧，寤而不寐，小便赤澀，莖中作痛，此屬無根虛火為患也。</p>
<p><u>傷寒賦</u></p>
<p>欲治傷寒，先須識症，識症定名，處方必應。且如太陽有傷營傷衛之分，陽明有在經在腑之別，少陽在半表半裡之界，但主乎中，故曰膽為清淨之府。至三陰有傳經之不常，須究脈理而推詳。傳經者，脈急數而煩熱。真中者，脈沉細而清涼，當汗而下。為結胸痞氣，當下而汗。為厥竭元陽，腸垢鶩溏，須辨脅寒脅熱、瘀血蓄血，可知發狂發黃，癮癥斑爛。發於濕熱二症，肉瞤筋惕，起於汗下兩傷。若失風濕則喘息多眠，濕溫則妄言不食。風濕，肢體重而額汗流；中濕，肌膚黃而小便澀。陽毒則面赤而斑狂，陰毒則唇青而厥逆。發汗戰汗，身涼者喜水火既濟之功；合病並病，下利者俱木火互相為克。又聞實者為譫語，虛作鄭聲。水飲停蓄者，或嘔或噦；火邪劫奪者，或狂或驚。喘咳者水搏寒之所致，吐衄者熱逼血而妄行。單杖雙伏，此非怪脈，乃否極泰來之兆；陽易陰易，皆為危證，引男女交接之情。惡寒喘嗽者，發表自愈；惡熱喘滿者，攻裡必寧。咳逆，又名乞忒，動悸更曰怔忡。雙傳者，雙經同病；百合者，百脈一宗。懊，因心中之鬱悶；奔豚，自臍下之攻忡。腑痛引陰，名為臟結；厥利反食，號為除中。瘛瘲者，手足抽搐；怫鬱者頭面蒸紅。勞食再復，因新差之犯禁；過經不解，與溫瘧而相同。蓋傷寒傳變之不一，非雜症逢真而可攻。予茲略陳其要，學者自當變通。</p>

<h2>六、湯論</h2>
<p>治傷寒和營透表解肌湯　此桂枝湯之脫化方也。</p>
<p>當歸　桂枝　秦艽　炙草　陳皮　防風　神麯　生薑</p>
<p>身痛無汗畏寒，甚頭目痛，肢節皆痛，加羌活；如出汗，加炒白芍，減羌活、防風；如系出冷汗，加附子、茯苓；如氣虛者，加白朮；如氣滯嘔惡者，加藿香、砂仁；如痰多泄瀉者，加白朮、半夏、茯苓，去當歸；如兼陽明症，加葛根、白芷；如兼少陽經症，加柴胡。</p>
<p>以上出入加減，總要憑脈虛實，在表在裡，審症虛實，宜攻宜補，或外感挾內傷症，或內傷重挾外感症，斟酌淺深，機變增減，無不中肯綮矣。</p>
<p><u>清解風熱保肺湯</u></p>
<p>桔梗　薄荷　前胡　杏仁　甘草　枳殼　貝母　姜蠶　防風　沙參　牛蒡子</p>
<p>透發痧疹邪毒湯</p>
<p>防風　荊芥　桔梗　前胡　葛根　甘草　赤芍　連翹　升麻　蟬衣　牛蒡子</p>
<p>如口渴目赤內熱，唇燥舌苔，加石膏、生地；如體虛不甚者，去赤芍、升麻，加沙參；如挾有寒濕者，方法又當別論，不同拘泥。</p>
<p>潤養脾陰湯</p>
<p>山藥　茯苓　沙參　扁豆　陳皮　石斛　白芍　炙草　柏子仁</p>
<p>補火生土湯</p>
<p>白朮　茯苓　黑姜　陳皮　米仁　人參　炙草　補骨脂　菟絲餅</p>

<h2>七、診視脈案方法</h2>
<p><u>培養精氣充足</u></p>
<p>精生於氣，氣化於精，陰陽互根，坎離妙用，是以人之精氣充足，則寒暑不入。道書言精氣神為內三寶，耳目鼻為外三寶。人能潛視返聽，蓄養精神，則可以煉神還虛。養生者豈可舍此根蒂，而求見枝葉之末，有何益哉！脈細軟。</p>
<p>熟地（四兩）　枸杞（一兩五錢）　澤瀉（八錢）　丹皮（一兩）　山藥（二兩）　茯苓（一兩）　人參（二兩）　鹿霜（一兩五錢）　炙黃耆（一兩五錢）　山萸肉（一兩五錢）　菟絲餅（一兩五錢）　補骨脂（一兩）</p>
<p>遵雷公制末為丸。</p>
<p><u>嘔惡作瀉畏寒</u></p>
<p>先天之本在腎命，後天之本在脾胃，然有形精血亦賴後天穀氣生化，是以四時脈皆以胃氣為主。今診脈參伍不調，兩關絃動，證則嘔惡，子夜作瀉，身倦畏寒，中氣不舒等候，總由脾腎交虧，不能蒸糟粕化精微也。節屆冬至，倍加保護為主。</p>
<p>焦術　茯苓　菟絲餅　炮姜　川椒　陳皮　人參　補骨脂</p>
<p><u>嗽喘傷肺腎</u></p>
<p>《經》云：五臟皆令人咳，非獨肺也。然久嗽兼喘，亦無有不關乎肺腎兩臟，且腎為氣之根源，肺為氣之統帥，水出高源，自有以也。時當秋令，脈見浮數，皆屬虛火所致。治宜清金納氣歸腎，足為斯症綱領。</p>
<p>熟地　茯苓　北五味　山藥　沙參　白芍　石斛　菟絲餅　麥冬　枸杞　阿膠</p>
<p><u>腎虧耳聾頭眩</u></p>
<p>脈象弦數之至，肝腎大虧，自有耳聾頭眩氣怯等候，宜返觀靜養，佐以藥力，庶可杜其履霜堅決之虞。如視為泛泛，必至臨渴掘井，猶恐不及事也。</p>
<p>熟地　枸杞　山藥　山萸　茯苓　丹皮　澤瀉　石斛　龜板　菟絲餅</p>
<p><u>風寒食滯口渴</u></p>
<p>風寒傷於營衛，閉郁皮肉，陽氣不能疏暢，自見發熱之症；飲食滯於中焦，津液不運，自見口渴之候，皆非火也。溫散導滯，自可霍然。初起失於溫散，每至纏綿不解，傳變他症。</p>
<p>防風　秦艽　桂枝　杏仁　砂仁　陳皮　神麯　生薑</p>
<p><u>腎虧</u></p>
<p>腎為先天之本，又為作強之官，故人之強弱勇怯，無不關乎天稟之初。善調攝者，能悟知雄守雌，蓄陰養陽之理，亦可補先天之不足。</p>
<p>熟地　山藥　菟絲餅　山萸　澤瀉　鹿角　人參　甘枸杞</p>
<p><u>後天脾土虧弱</u></p>
<p>《經》云：中焦受氣，取汁變化而赤，是為血。可見日之生化全賴後天脾土。今病已久，中土虧敗，不能傳送藥力，神氣日見消剝，最為病家之忌。</p>
<p>人參　焦術　茯苓　陳皮　炙黃耆　炙草　當歸　益智　南桂</p>
<p><u>風寒痰嗽化熱</u></p>
<p>病因起於風寒，有失於疏散，邪氣乘虛內伏，致令內熱痰嗽口乾，腑中不利，頭眩背痛。雖經日久，病本未除，還當治本，庶免傳為虛候，慎之。</p>
<p>橘紅　半夏　炙草　桔梗　茯苓　前胡　姜蠶　秦艽　杏仁　玉竹　生薑　羌活</p>
<p><u>肝風頭搖瘛瘲</u></p>
<p>肝主通身之筋，因風熱內熾，則筋脈不柔，而頭搖瘛瘲之病作矣。幸神志不傷，語言如常，病在筋脈。治宜清肝熱，散肝風，風熱去則筋自柔，庶可望止，但此症恐成痼疾，速當早為除根。脈浮而數。</p>
<p>當歸　天麻　鉤藤　姜蠶　白芍　茯神　遠志　香附　赤芍　白芷　金器</p>
<p><u>咳嗽泄瀉腰痛</u></p>
<p>本質雖因目病，攻擊過度，氣血不無被傷，又兼怫鬱，以致失血，已經調理妥適矣，無煩再議。現在咳嗽發熱，口渴引飲，泄瀉腰痛頭眩，脈亦緊數，確有陽明新冒外因所召。若作舊病理治，恐難中肯。</p>
<p>羌活　葛根　甘草　杏仁　白芷　桔梗　前胡　當歸　秦艽　川芎　生薑</p>
<p><u>腎虧火亢焦燥</u></p>
<p>兩手脈皆澀而帶數，症則焦燥不寧，飲食微少，壯年非所宜也。此必因勞思抑鬱，搖精耗神，致令水虧火亢，變現諸病。若不早為見機保護，誠恐履冰堅霜之至矣，毋忽之。</p>
<p>熟地　山藥　麥冬　人參　山萸　枸杞　丹皮　澤瀉　石斛　龜板　菟絲子</p>
<p><u>遵雷公制末為丸</u></p>
<p>脾腎大虛，火不生土</p>
<p>脈症不虛，急宜重補，方克有濟，所謂峻補於下，疏啟於中。此遵先哲塞因塞用之法也，如或畏懼生疑，仍然治以利器之品，猶恐根荄愈傷，致蹈虛虛之候。</p>
<p>熟地　茯苓　山藥　山萸　澤瀉　丹皮　附子　肉桂　車前　牛膝　人參　菟絲</p>
<p><u>胃熱嗽血</u></p>
<p>左脈平順無恙，右脈略覺燥動，素多胃熱，可徵偶然痰嗽見血，胃火觸動肺金也。不宜作陰虛陽亢虛損調理。</p>
<p>麥冬　花粉　川貝　梔子　甘草　丹皮　瓜蔞　葛根　荊芥　石膏（熟）</p>
<p><u>久嗽傷肺失血</u></p>
<p>按脈兩手皆弦，傷血所以動血，然不數不燥，諒不至成真病。據症吐血有時發作，或由內傷外感不一，咳而兼痰，累久不休，非可全藉醫藥救療。惟有靜坐養神，少勞心，少費神，少動怒，恬淡從容，時時保衛，自然氣血安和，血不期止而自止，咳不期愈而自愈矣。萬勿以意服藥，寒熱涼散，不時常試，究竟無效，徒呷苦水，何如擯除一切，以善養之為得乎。管見如斯，高明自裁。</p>
<p>藕　雄豬胱　雪梨　西瓜　腳魚　綠豆</p>
<p>凡同類於此症者，皆可常吃。</p>
<p><u>調元養氣</u></p>
<p>《經》云：飲食自倍，腸胃乃傷。此症之所由起也，日復一日，屢服消導之劑，雖所快於一時，而胃氣重傷，脈皆短細，兩尺尤甚，將有累及其腎之象，及早圖之，庶不流為食㑊。</p>
<p>熟地　山藥　茯苓　丹皮　焦術　山萸　杜仲　補骨　人參　肉桂　木香</p>
<p><u>正氣大虛</u></p>
<p>形色脈症，無不是虛之象，不可以意猜摸。自認為氣為滯，若誤作實治，誠恐正氣日剝，蹈入虛虛之象，遷延日久，挽回非易，毫釐千里之謬，幸毋忽之。附方請教，高明政之。</p>
<p>人參　黃耆　焦術　熟地　白芍　當歸　遠志　炙草　陳皮　茯苓　五味　肉桂　生薑　大棗</p>
<p><u>百合病</u></p>
<p>年甫四十，脈則弦多胃少，諸症直如蝟毛，先哲所謂百合病也。宜以輕鬆之劑，緩緩調理，或可冀其奏功。</p>
<p>百合　沙參　石斛　炙草　橘紅　茯苓　山藥　女貞</p>
<p><u>安胎</u></p>
<p>脈息滑利，確屬有喜，急以固之，慮其勿易。</p>
<p>熟地　白芍　當歸　川芎　焦術　炙草　茯苓　艾葉　糯米　紵麻</p>
<p>怒傷肝鬱，吐血而嗽</p>
<p>病因鬱怒傷肝，既血逆上而為吐，橫侮肺金而為嗽，血去則陰虛，陰虛生內熱。按脈細而急，肝肺陰虧之象，難免不損，治宜養陰平木，保肺清金之品投之，再看轉機。</p>
<p>熟地　生地　元參　川貝　桔梗　炙草　麥冬　白芍　當歸　百合</p>
<p><u>元虧將脫</u></p>
<p>六脈浮大無根，此真元大虧，刻刻防脫，勉擬一方，以盡人事可也。急當多請高明，參酌再用。</p>
<p>人參　焦術　茯苓　炙草　陳皮　麥冬　五味</p>
<p><u>火衰土敗</u></p>
<p>尊恙總因命門真火不旺，未能熏蒸脾土，故胸痛徹背，進食維艱，防成里關外膈之症，只有八味一方補火生土，庶可奏功，再聽酌服。</p>
<p>熟地　山藥　山萸　澤瀉　丹皮　茯苓　附子　肉桂</p>
<p><u>陰竭抽搐</u></p>
<p>年及七有七矣，天癸應期不斷，非有餘也。偶一及之，蓋勉力之為耳。常苦頭筋抽搐，肝腎真陰欲盡，一點微陽上竄，瞽之微驗無疑。設能發白，庶可免煎劑。養心生血以歸脾，自可吻合病情。</p>
<p>熟地　山萸　茯苓　山藥　丹皮　澤瀉　附子　牛膝　肉桂　鉛錫</p>
<p>兩手脈細碎無神，真陰虧竭極矣。頭風貫目而瞽，乃為佳兆，否則孤陽貫頂，則無能為力矣。仍以前方，加龜板、秋石，再服二劑。</p>
<p>經衍虛熱，色淡腰痛</p>
<p>脈細急少力，三陰虛熱，且經不應期，體痛色淡，法當養營調之。</p>
<p>當歸　料豆　丹皮　茯苓　菟絲餅　丹參　杜仲　山藥　續斷　蓮子</p>

<h2>云間程氏紹南先生醫案</h2>
<p><u>腎虧勞淋</u></p>
<p>松江吳姓。患淋症半載余，初莖中痛甚，後微癢，服清熱利水之劑，勢欲轉劇，延師診視。脈得空軟，兩尺微數，左寸短小。此腎水素虧，勞心太過所致。師以勞淋治之，方擬補中益氣，加五汁治之。蓋腎為藏精之府，而實聽命於心。思慮不節，嗜欲過度，遂至水火不交，陰陽乖舛，清濁相干，以成淋症。徒事清熱利水，則氣愈陷、精愈脫、溺愈澀矣。惟治補中益氣，使陰火不致下溜，清陽得以上升，所謂病在下取之上也。然但知升清而無以降濁，猶未盡善。觀五汁之加，立法神奇，然誠有不可思議者矣。</p>
<p>真人參（四錢）　綿黃耆（一錢五分）　軟柴胡（三分）　煨升麻（三分）　白朮炭（一錢）　當歸身（一錢）　廣陳皮（一錢）　提麥冬（二錢）　淡川柏（鹽水炒，一錢）　甘草梢（五分）　肥知母（鹽水炒，一錢五分）</p>
<p>加蘆根汁、生梨汁、白果汁、甘蔗汁、茅根汁、池藕汁　亦可各汁二杯沖服。</p>
<p><u>脅痛吐酸</u></p>
<p>一婦患左脅痛吐酸，乃惱怒傷肝，木旺土虧之症。擬以柔肝調氣法，未識有合病情否。</p>
<p>真川連（三分）　淡吳萸（三分）　法半夏（薑製，一錢）　雲茯苓（二錢）　廣陳皮（一錢五分）　生白芍（一錢五分）　小青皮（炒，一錢）　制香附（二錢）　川鬱金（一錢）　石決明（煅，四錢）　加川楝子（炒，一錢）、玫瑰花（三朵）</p>
<p>氣血兩虛，足指麻痛</p>
<p>娘娘手足指時麻時痛，乃氣血兩虛之症。並年近五旬，天癸時下，擬以養營益氣、調經舒絡治之。</p>
<p>當歸全（一錢五分）　炙綿耆（一錢）　左秦艽（一錢）　天烏藥（一錢）　奎白芍（二錢）　白朮炭（一錢五分）　原生地（三錢）　金香附（二錢）　五加皮（二錢）　加酒炒桑枝（四錢）、片薑黃（五分）</p>
<p><u>怯症爛喉痹</u></p>
<p>平湖許慶陵。患怯症四肢倦怠，面色萎黃，納穀甚少，潮熱咳嗽。咽喉赤爛。診之六脈細軟，兩尺微數。此上實下虛之候，蓋水火合注則陰陽平秘，真水不足則虛火上炎，幸兩尺雖數而未浮。因早服丸方以救肝腎之不足，晚服膏方以培脾而保肺，所謂資其化源也。再用吹藥以治喉爛，乃急則治標之一法也。</p>
<p>清晨丸方：大熟地（四兩）　五味子（五錢）　懷山藥（二兩）　提麥冬（五錢）　白茯苓（一兩五錢）　湖丹皮（五錢）　人中白（五錢）　龜板膠（六錢）　西砂仁（五錢）　坎干（二條，甘草水淨）</p>
<p>烘脆研共末，用豬脊髓蒸熟，打和作丸。建蓮湯送下五錢。</p>
<p>晚服膏方：北沙參（三兩）　生苡仁（四兩）　提麥冬（一兩五錢）　金石斛（三兩）　原生地（四兩）　京川貝（五錢）　陳阿膠（二兩）　嫩百部（二兩）　款冬花（二兩）　甘枸杞（五錢）　雲茯苓（一兩五錢）</p>
<p>河水煎膏去渣，加血燕屑一兩煎收厚。開水化服一兩。</p>
<p>吹藥方：人中白（三錢）　兒茶（二分）　青黛（一錢）　牛黃（一分）　真珠（五分）　燈草灰（一分）　月石（二分）　生龍骨（一分）　共研細吹之。</p>
<p><u>喉癰</u></p>
<p>一人患喉癰之後，日夜吐痰數碗，食入即吐，六脈弦硬。</p>
<p>真人參　福花　橘紅　李仁　煅赭石　冬瓜子　法夏　珠母　阿膠　加竹瀝、梨汁、蘆汁（各三匙）、薑汁（一匙）</p>
<p><u>頑痰多語多言攣踡</u></p>
<p>一人手足攣踡，時多言語，此頑痰聚於心胞，由痰生熱，由熱生風之所致。擬用鉤藤羚羊角湯治之。</p>
<p>純鉤藤　羚角　山梔　橘紅　大熟地　赤茯苓　金沸草　天麻　竺黃　生石決　生甘草　加竹茹</p>
<p><u>兩足痿軟</u></p>
<p>一人督任為病，其氣自背環前，上衝胸腹，飲食不下，兩足痿軟。治之補腎為主，起痿。</p>
<p>真人參　熟地　蓯蓉　韭子　芡實　甘枸杞　五味　菟絲　萸肉　杜仲　鹿角膠　河車　茯神　山藥　坎炁　加人乳一杯沖服。</p>
<p><u>肛痛腸紅</u></p>
<p>浦東沈作霖。六月中旬患肛門而痛，糞後便紅。此炎暑之後，君相之火亢甚，鬱熱於血分，經絡之血滲入大腸所致。擬清上滋下法。</p>
<p>懷生地　京元參　槐角炭　肥知母　提麥冬　烏犀角　炒山梔　地榆炭　荊芥炭　丹皮炭　加荷葉、六一散</p>
<p><u>感冒暑邪作渴</u></p>
<p>一人感冒暑邪，晝夜發熱，口中作渴，小便黃赤。治以清暑化熱生津一法。</p>
<p>陳香薷　麥冬　知母　川連　花粉　淡黃芩　翹心　青蒿　赤苓　梗通　加六一散、枇杷葉、茅根</p>
<p><u>暑氣挾寒，疼痛泄瀉</u></p>
<p>一人暑氣挾寒，少腹疼痛，大便泄瀉。</p>
<p>陳香薷　會皮　廣藿　赤苓　木瓜　紫川樸　澤瀉　豬苓　扁豆　車前　加六一散、佩蘭</p>
<p><u>喉癢咳嗆，痰帶黑塊</u></p>
<p>一人患喉癢咳嗆，痰中兼帶黑塊，此陰虛火亢之症。</p>
<p>原生地　丹皮　天冬　麥冬　百部　料豆衣　元參　龜板　甘草　中白</p>
<p><u>癇症</u></p>
<p>一童女癇症，每月一二次，厥時必四肢逆冷，口吐涎沫。</p>
<p>明天麻　姜蠶　赤苓　法夏　竹黃　陳膽星　川郁　鉤藤　枳殼　橘紅　生石決　蔞全　加鮮石菖蒲</p>
<p><u>咳嗽浮腫</u></p>
<p>一人患咳嗽，遂至頭面遍身浮腫，發熱，大小便不利。此因感冒暑風，邪入肺胃，高原水竭，不得灌溉下焦，以致二便不利；肺氣不化，以致遍身浮腫。擬用枇杷葉散。</p>
<p>陳香薷　赤苓皮　宣木瓜　新會皮　廣藿梗　杜車前　桑白皮　瓜蔞仁　加枇杷葉、冬瓜皮、茅根、漂滑石</p>
<p><u>咳嗽吐血</u></p>
<p>一僧咳嗽吐血，六脈細數，乃為火旺爍金，咳傷陽絡，血隨外溢。擬以清金涼血法。</p>
<p>原生地　元參　丹參　山梔　淮藥　京川貝　茶花　丹皮　茜根　知母　蔞皮　加鮮茅根</p>
<p><u>寒熱咳嗽吐紅</u></p>
<p>一人吐紅之後，往來寒熱咳嗽。</p>
<p>軟柴胡（鱉血水炒）　首烏　黃芩　知母　青蒿　京川貝　歸身　橘紅　白芍　鱉甲</p>
<p><u>溺血</u></p>
<p>一少年初起便精，續得溺血。</p>
<p>原生地　麥冬　赤神　丹參　山梔　人中白　阿膠　小薊　茅根　金沙</p>
<p><u>風寒痰喘</u></p>
<p>一人風寒入於肺絡，郁久成熱，凝滯膈膜之間，以致痰喘不寧。細審脈象尚弦滑，雖兩尺空軟，而上焦之風熱未清，宜輕緩湧越之法。先治其標，後治其本。</p>
<p>冬瓜仁　川貝　山梔　杏仁　橘紅　料豆衣　桑皮　款冬　鉤藤　炙草　粉前胡　白芥子　葶藶　法夏</p>
<p><u>肝疝兩脅作痛</u></p>
<p>一人患肝疝，少腹之氣上衝兩脅而痛。</p>
<p>荔子核　蔞皮　川楝　橘核　柏皮　五靈脂　延胡　青皮　小茴　橘葉</p>
<p><u>瘧疾</u></p>
<p>一人年已古稀，時患瘧疾，或一二日發，或三日發，此少陽厥陰病也。</p>
<p>軟柴胡（鱉血炒）　人參　會皮　法夏　川連　制首烏　白芍（桂枝炒）　川貝　豬苓　鱉甲　粉歸全　青蒿　料衣</p>
<p><u>風痰卒倒</u></p>
<p>一人風痰入於肝絡，時時卒倒。</p>
<p>羚羊角　鉤藤　橘紅　法夏　殭蠶　刺白蒺　天麻　枳殼　川郁　草梢　天竺黃　竹瀝（五匙）　薑汁（一匙）　白芥子　菖蒲</p>
<p><u>氣喘痰火</u></p>
<p>一人咳嗽氣喘，此風入肺底，經絡阻塞，痰火已成。</p>
<p>炒山梔　淡豉　桑葉　款冬　蘇子　冬瓜子　川貝　橘紅　銀杏</p>
<p><u>兩足無力</u></p>
<p>李中翁，六脈弦硬，此年高氣血兩虛，津液不得灌溉下焦，以致兩足無力。宜慎勞節養，少飲醇醪，不致釀出虛痿也。擬以健中補腎為主。</p>
<p>花仁霜　料豆衣　菟絲子　川杜仲　川續斷　肥玉竹　黑芝麻　淡蓯蓉</p>
<p><u>肥氣作痛</u></p>
<p>一人患肥氣攻衝作痛，前服平肝藥得以稍安，今又胸膈不和。此肝脾之氣不舒，俟肝氣一平，胃氣健旺，腹自舒矣。</p>
<p>川楝子　橘核　烏藥　靈脂　吳萸　韭菜子　青皮　白芍　生薑</p>
<p>接服：生石決　會皮　法夏　白芍　香附　大腹絨　烏藥　金斛　鉤藤</p>
<p><u>淋症</u></p>
<p>高橋蔡。患淋症，莖中作痛，陽強不痿。</p>
<p>人參　石蓮　麥冬　川柏　知母　桔梗　沙參　生地　甘草　加甘蔗汁、茅根汁、白果汁</p>
<p>丸方：人中白　川黃柏　血餘炭　豬脊髓　蒸熟為丸。</p>
<p><u>產後蓐勞</u></p>
<p>杜行張連吉令媳。小產後潮熱不解，自汗泄瀉，干嗆無痰，納穀不下。細審六脈大而無倫，左關尤甚。此氣血俱傷，陰陽並虧之候，蓐勞之象，履霜已兆，速宜調理。</p>
<p>真人參　新會　云神　芡實　丹參　酸棗仁　白芍（肉桂炒）　炙草　穀芽　加砂仁、浮小麥</p>
<p>服前藥三劑後，諸症安然，白淫不止，於前方去穀芽、浮小麥，加蓮鬚、麥冬、牡蠣、五味。</p>
<p><u>血溢烘熱</u></p>
<p>潘仁杰令郎。脈帶芤澀，時有烘熱，防其血載火血溢，須戒房幃惱怒、醇酒厚味之物。</p>
<p>懷生地　麥冬　元參　川斛　湖丹　肥知母　赤苓　甘草　人中白</p>
<p><u>時邪類瘧</u></p>
<p>嘉定吳鑑明先生。感冒時邪，三經不解，六脈浮緊，四肢厥冷，頭汗稍出，至頸而還，少腹微滿，日夜寒熱往來兩次，舌胎白厚。此為陽微結，既有表而復有里也。用小柴胡湯合厚朴杏仁，先散其表裡之邪，再商調治。</p>
<p>軟柴胡　黃芩　法夏　川樸　杏仁　草豆蔻　會皮　桂枝　甘草　生薑</p>
<p>服前藥二劑，寒熱如故，但頭汗止，兩足稍有微汗，脈少斂。前方去草蔻，又服前方一劑，寒熱少減，偶爾紅痰，乃熱傷陰分所致。</p>
<p>軟柴胡（鱉血炒）　黃芩（炒）　白芍（桂枝炒）　首烏　歸身　炙鱉甲　會皮　炙草　川貝　湖丹</p>
<p><u>積瘀吐血</u></p>
<p>崑山沈如舟。失血之後，兩關芤澀。此肝胃受傷，火載血溢。據述喜飲醇醪，則平素之傷於經絡可知。刻下雖有氣急時嗆之象，緣積瘀未楚，尚阻礙升降之道路。愚意當早晚分治，補瀉並行，不致由淺入深，由腑入臟耳。</p>
<p>真人參　丹參　苡仁　茯苓　丹皮　茜草根　懷膝　小薊　犀角　童便</p>
<p>晚服丸方：西血珀　懷膝　人中白　血餘灰　側柏葉　赤丹參　大黃（韭菜制）</p>
<p>共末，煉蜜為丸。每服一錢，藕節湯送下。</p>
<p><u>二閉便結，陰虛痿弱</u></p>
<p>婁東王商言令弟。去冬兩足麻軟，抽掣胸腹，日晡潮熱，夜多盜汗，少腹有塊攻衝關元，時時作楚，漸至二便秘結，服滋腎得效。刻下二便雖通，總不如前，細按脈象，兩尺直上直下，弦緊無神。此精竭血枯之象。《經》云：北方黑色，入通於腎，開竅於二陰。又云：津液盛，則二便如常。若精血耗竭，則二便閉。此督任為病，明有驗矣。況平素中氣不足，並患血風瘡多年，今又汗出過多，頻服利水，津液枯竭，而大便努責不出，肺耗金燥，不能施化州都。合而言之，總由腎臟不充，惟宜滋養真陰，兼資氣化，不致釀成虛痿之疾。若以疏泄利氣皆為戈戟之劑，可不慎歟！</p>
<p>綿花仁　料豆衣　雲茯苓　郁李仁　懷山藥　制首烏　元武版　陳阿膠　真血珀　上沉香</p>
<p>共為末，用豬脊髓蒸熟為丸。清晨開水送下。</p>
<p>午後服麻杏湯、黑芝麻、杏霜，共末，開水調服。</p>
<p>小便秘結方：紫菀茸　冬瓜子　提麥冬　毫桔梗　甘草梢　白果肉</p>
<p>滋腎丸：黃柏　知母　肉桂</p>
<p>共研末，以豬脊髓蒸熟和丸。服至小便利即止。</p>
<p><u>流痹咽痛聲啞</u></p>
<p>王商言夫人。久患流痹，服潛行散而減。去冬忽咽痛聲啞，服清肺降氣之劑得效。刻下聲尚未清，肌膚皺揭，面浮而無潤澤，六脈尚弦緊有力，右三部尤甚。況向來血液里耗，心虛邪湊，釀成流痹，痹雖漸減，但濕去燥存，或觸惱怒，或任勞力，壯火橫乘，淫熱反克，以致手足無力，音啞咳嗆。此皆陰血不足，火熱所傷也。治宜甘寒滋腎潤，甘能生血，寒能勝熱，陰得滋而火熄，液得潤而燥除，自然金能生水，水亦能生金矣。</p>
<p>原生地　黃柏　知母　龜板　阿膠　人中白　旱蓮　百部　元參　珠母　羚羊角</p>
<p>共為末，煉蜜為丸。清晨開水送下。</p>
<p>煎方：黑元參　知母　川斛　川貝　羚角　新會皮　梗通　山梔　鉤藤　燈心</p>
<p><u>厥逆作痛</u></p>
<p>太倉錢國表夫人。厥逆作痛兩次，細審六脈沉滯。據述每痛必由大腹腸燥結，漸至左脅作楚，服左金等劑則痛止，但痛緩則天癸必至。是症因平素鬱怒傷肝，肝氣不得條達。今適少陽、厥陰司天在泉之歲，其臟腑正不足之候，木鬱縱橫，乘金則上逆作嘔，乘土則脾胃燥結。服平肝左金之後，則肝氣下注於衝任之脈，所以天癸每痛止而即來。此肝脾兩虧之候，明有驗矣。管見以甘寒鹹寒滋養腎陰，候其水能生木，不致血虛火燥，致成結腸反胃。若左金、全福、代赭諸劑，此急則治其標之法也。</p>
<p>金石斛　赤丹參　黑元參　肥知母　雲茯苓　廣陳皮　制香附　郁李仁　制首烏　加竹茹</p>
<p>丸方：原生地　石決　白芍　歸身　香附　黑山梔　阿膠　人中白　丹皮　旱蓮</p>
<p><u>紅漏</u></p>
<p>岳王舟受全甥女。童年漏經，此先後天不足，肝脾之不統接可知，皆君相之火相煽，肝風下注血海，不能納血，錯經妄行，經旬累月，漏下不止。服補氣接復之法，雖得暫停一二日，後仍淋漓不斷，至眩暈厥逆，牽引奇經之抽掣作楚。三焦大虛不能統制，以致虛症蜂起，精神倦怠。總由肝血大虧，脾陽下陷，尾閭不禁，滄海欲竭之象，急宜並補陰陽，庶有斡旋造化之功。</p>
<p>真人參　於術炭　雲茯苓　淨蓮鬚　芡實肉　奎白芍　煅牡蠣　廣陳皮　煅龍齒　嫩白薇　加金櫻子膏</p>
<p>丸方：嫩鹿茸　坎炁　人參　蓮蕊　於術　元武版　白芍　生地　阿膠　血餘</p>
<p><u>自汗盜汗</u></p>
<p>婁江蔣和九。自汗盜汗，心陽不接也。納穀不化，神氣倦怠，火衰於下，脾陽不振也。舌光無味，夜不得寐，心腎不交也。細審六脈沉緊弦硬，乃精枯血竭之象也。擬兩儀合虎骨膠、鹿茸，異類有情之物填補，庶幾有效。</p>
<p>別直參　河車膠　鹿茸膠　虎骨膠　熟地膠　人乳粉</p>
<p><u>酒濕傷絡頭痛</u></p>
<p>太倉錢國卿。醇醉醪過飲，濕熱傷於胃絡，以致上衝巔頂，眩暈頭痛。細審脈象滑大而芤，每酒後右關微見歇止。當以清胃勝濕之法，不致火載血溢。</p>
<p>川石斛　葛花　枳椇　山梔　茯苓　綠豆衣　鉤藤　茵陳　六曲　甘菊</p>
<p>丸方：紅白首烏　柏皮　沙蒺　葛米　葛粉　西茵陳　枳椇　泛丸，綠豆衣湯送下。</p>
<p><u>天癸不通成瘕</u></p>
<p>一婦人天癸經年不通，少腹有塊，攻衝作痛，以致胸隔滿悶，四肢頭面浮腫，兩足寒冷，飲食時時嘔吐。此係經水適來誤服寒冷，以致寒客下焦，血凝不運。《經》云：惡血當下不下，衃以留止，日以益大，月事不以時下，而成瘕聚。是攻衝作痛，陰血凝結於下，濁陰上干清道，乃致胸前滿悶，時時嘔吐，清陽不能下通，兩足豈有不寒冷者乎？然血凝已久，水道亦為之阻塞，水氣侵澄，所以浮腫而按之如泥也。所謂先經斷而後至腫，乃是血分為病。治法宗《內經》結者散之，寒者溫之，今後擬行血理氣之品調治，再以調經丸治其本也。</p>
<p>紫丹參　金香附　臺烏藥　炮薑炭　五靈脂　茺蔚子　延胡索　新會皮　澤蘭葉　砂仁末　川鬱金　煅瓦楞</p>
<p><u>時瘧</u></p>
<p>周浦姚岳亭令郎。時瘧四十餘日不解，六脈空軟無神，面青唇紫，陽縮，舌胎白滑。此平素肝腎不足，時邪盤踞厥陰之表、少陽之裡不解而然也。當以三甲之意，掣散其兩經之伏邪，再商調補。</p>
<p>軟柴胡　原生地　粉歸身　左秦艽　廣陳皮　京川貝　肥知母　宣青蒿　奎白芍　元武板　生鱉甲　制姜蠶　煨葛根　料豆衣</p>
<p><u>痞滿作脹便清</u></p>
<p>孫佑修。久郁不舒，肝脾氣結，清濁混於中焦，胸膈痞滿作脹，闌門之氣不利，大便旁流清水，小便時通時阻。《經》云：清陽在下，則生飧泄；濁陰在上，則生䐜脹。又少陽為樞，樞機不利，肝氣橫行決沖，因多變幻諸症。細審六脈，左三部沉細而軟，重按無神，右三部庶幾稍舒，口舌糜爛赤紫，兩足時有冷狀。此係病久陰虧，兼之君相之火亢炎，擬固本湯以清晨服，晚進滋腎丸導火下行，使其口糜舌腫即退，然後再商調理。</p>
<p>炒生地　提麥冬　淡天冬　黑元參　湖丹皮　奎白芍　炒枸杞　甘草梢　赤茯神　加燈草</p>
<p>滋腎丸：黃柏　知母　甜肉桂　用豬脊髓和為丸。</p>
<p><u>怔忡眩暈厥冷</u></p>
<p>江橋鎮金思榮。失血之後，時有怔忡，甚則眩暈，聞人聲則驚恐而悸，四肢厥冷，小腹微滿，此係咯血後恐怖傷其神志。細審六脈虛軟帶急，心腎不足，氣血不充，明有驗矣。其咳嗆無定者，亦因君相之火上炎爍肺，故寧靜則嗽亦稍安，惱怒則驚恐怔忡更甚。當以上下分治，擬血肉有情之品填補虛處，不致釀成損症。</p>
<p>河車膠　元武膠　真阿膠　大熟地　芡實肉　建蓮肉　云茯神　淡秋石　懷山藥</p>
<p>共為末，豬脊筋蒸熟和丸，參鬚湯送下。</p>
<p>晚服丸方：參鬚　人參　白茯神　為末搗蜜丸，米飲湯送下。</p>
<p><u>脾腎並虧，偏枯眩暈</u></p>
<p>錢思贊。下虛上實，眩暈不時。細審六脈尺部浮大，兩關歇止。此營衛之氣不充，脾腎之陽並虧，偏枯之象已兆，幸調攝得宜，鎮之以靜，一切有情，早已鏡花，雖類不仁之象，猶可斡旋造化，當以河車大造丸填補肝腎之不足，晚進白兔丸，以扶中氣之不足，氣血充滿，乾健轉旋，何慮不收之桑榆耶！</p>
<p>大河車　熟地　山藥　茯苓　枸杞　湖丹皮　杜仲　歸身　白芍　補骨　鹿角霜</p>
<p>為末，煉蜜為丸。</p>
<p>白菟丸：於術　菟絲　共為末為丸，米湯送下。</p>
<p><u>咳嗽小便不利</u></p>
<p>川沙陸兆麟令侄。年十五患久嗽，小便不利。余診其兩寸細數，此乃上焦肺熱，金不生水之故。</p>
<p>瓜蔞子　紫菀　麥冬　元參　甘草　加枇杷葉　一劑，小便如注。</p>
<p><u>入水小便不利</u></p>
<p>一許姓者。因冬月跌入水中，得小便不通，狂叫不絕，脈沉鬱不起。此為寒阻膀胱，氣滯下焦所致。</p>
<p>冬瓜子　柴胡梢　蟋蟀干　小木通</p>
<p>煎湯服之，即大通而愈。</p>
<p><u>嘔吐泄瀉反胃</u></p>
<p>嘉平定葛子。美飲食不能消化，每下午食後，非泄瀉即吐嘔，按六脈虛軟無神。此久郁不舒，木鬱土中，以致火土兩虛，厥陽厥陰沖逆無定，下乘脾土則泄瀉，上衝清道則嘔吐。胃虛而失納化之職，故飲食難化而作脹。《經》云：清陽下陷，則生飧泄；濁陰在上，則生䐜脹。當以連理湯胃肝合法，三白七味丸火土並補，自然正氣旺而沖逆定，火土合而諸症悉愈也。</p>
<p>廣陳皮　法半夏　雲茯苓　白朮炭　奎白芍　生砂仁　姜川連　上肉桂</p>
<p>三白七味丸：大熟地　湖丹皮　山萸肉　雲茯苓　福澤瀉　白朮炭　炒白芍　上肉桂</p>
<p><u>久嗽聲啞</u></p>
<p>王裕舟。患久嗽聲啞，六脈細數，咳嗆多痰。此肺腎兩虧，金不生水，以致陰虛陽亢，咽中作痛，水沸成痰，時壅涎沫。急當寧肺保金，滋補腎水，以冀金水相生，不致有氣喘不得歸原之慮。</p>
<p>北沙參　生苡仁　嫩百部　雲茯苓　提麥冬　炙紫菀　款冬花　生桑皮　焦蔞皮　炙甘草</p>
<p>丸方：六味內加龜鹿二膠。</p>
<p><u>產後恍惚，發狂顛厥</u></p>
<p>槎溪姚孟川夫人。素有痰厥症，春間產後正虛邪湊，痰涎乘虛而入於心胞肝絡之間。時多恍惚神亂。醫者日進養補氣血之劑，議以正虛神亂之說，服月餘後即發厥狂亂，棄衣而走，罵詈不避親疏，日夜狂叫者月餘矣。按其六脈皆洪滑脈。《經》云：顛症而得陽脈者易治。進以豁痰清火之劑，而神亂稍安，略知人事，但為補藥凝結經絡，肌肉麻木不知痛癢。此痰涎之糾結，非大進豁痰清火，痰何由得解。</p>
<p>羚角尖（摩沖，四分）　廣橘紅（一錢五分）　枳實炭（一錢五分）　明天麻（煨，八分）　純鉤藤（後下，五錢）　法半夏（一錢五分）　真川連（四分）　陳膽星（一錢）　天竺黃（研，三錢）　制姜蠶（一錢五分）　瓜蔞霜（炒，四錢）　赤茯神（三錢）　加竹油（沖，三匙）、薑汁（一匙）、漂青黛（包，一錢五分）、石菖蒲（一錢）</p>
<p><u>夾痰類傷寒</u></p>
<p>童秀三。向有痰飲內伏，今因偶觸時邪，濁痰併發，以致昏迷不省，狂走譫語。此夾痰類傷寒之症。刻下符先生疏解時邪，熱退身涼，獨內伏之痰飲與流注於心胸間之痰飲尚未清楚，所以時清時濁。治宜豁痰清火，不致釀成陰癲之疾。</p>
<p>廣橘紅　陳膽星　炒姜蠶　瓜蔞仁　川鬱金　金沸草　法半夏　純鉤藤　京川貝　炒竹茹　蛤殼粉　海浮石　引石菖蒲、黑山梔、枳實炭</p>
<p>後因大便不通，前方加郁李仁、何首烏。</p>
<p><u>痛痹</u></p>
<p>閔姓者。患手足麻腫，周身疼痛，食入即吐，六脈沉細。此即《內經》所謂風濕客於肝，淫於脾，溜於四末，而為痛痹也。當以驅風散濕、養血舒筋為要。</p>
<p>左秦艽　防風　黃柏　當歸　靈仙　漢防己　木通　川斷　萆薢　甘草　加桑枝、木瓜、淮膝</p>
<p><u>木旺脾衰，納食不化</u></p>
<p>一人高年，木旺土虛，納穀不化。此火不生土，乾健失職所致，擬以火土相生之法。</p>
<p>吉林須　茯苓　白芍　冬朮　枳實　益智仁　法夏　陳皮　炮姜　楂肉　菟絲餅</p>
<p>丸方用《金匱》腎氣丸。</p>
<p><u>挾虛感冒時邪</u></p>
<p>太蒼周徐信卿。挾虛感冒，過經二十日不解，神昏譫語，齒燥舌乾，飲食與則食，不與則不思。按其六脈微數，乃為病久元虛，寒邪易於出入，蘊伏陽明，不循表解，以致熱久傷津，肝風暗動之象。暫擬養正托邪益陰一法。</p>
<p>別直參（另燉沖，八分）　黑元參（二錢）　廣陳皮（一錢五分）　炒山梔（三錢）　真川連（四分）　提麥冬（去心，二錢）　羚角尖（摩沖，四分）　香青蒿（三錢）　懷生地（四錢）　肥知母（去毛，鹽水炒，一錢五分）　當歸身（二錢）　朱云神（三錢）　加烏犀尖（摩沖，四分）、料豆衣（三錢）、生石決（四錢）</p>
<p><u>脾虛挾濕，命門火衰</u></p>
<p>提臺林夫人。脈系六陽，所以精神矍鑠，但左關尺二部微帶虛軟。此係少陰火衰，脾受濕侵，理宜八味丸治之。所謂欲暖脾胃之陽，必先溫補命門之火也。</p>
<p>大熟地　淮藥　雲苓　萸肉　澤瀉　熟附子　肉桂　湖丹　鹿茸　砂仁</p>
<p>共為細末，煉蜜為丸。人參湯送下。</p>
<p><u>久郁傷肝，吐瘀下瀉</u></p>
<p>太倉張文蘭夫人。久郁傷肝，胸隔作楚，積瘀大吐並下瀉，所謂陽絡傷則血外溢，陰絡傷則血內溢也。細按六脈左三部沉鬱，右手芤濡。雖脈症合符，然血脫者補氣，亡陰者補陽。</p>
<p>真人參　麥冬　熟地　丹參　棗仁　云茯神　甘草　藕節　琥珀　三七　人中白　血餘炭　茅根</p>
<p><u>身熱嘔吐綠水，心疼</u></p>
<p>胡金朝夫人。據述於三月初二，患身熱噁心、心中疼熱、氣上衝胸等症，諸醫因循誤治。延至廿五清晨，嘔出綠水半杯，身熱如蒸，細審六脈浮大而軟，舌胎白滑，口不作渴，但欲寐。仲景云：厥陰之為病，氣上撞心，心中疼痛。少陰之為病，但欲寐。就是症而論，此厥陰、少陰兩經之症無疑。況舌胎白滑，厥陰之表邪未解，擬四逆散合梔豉湯以掣散其表邪，無變遷為妙。其清綠之水從膽經所來，以使其不復吐，恐傳入肝經則難為力矣。</p>
<p>軟柴胡（豬膽汁炒，七分）　枳實（七分）　炒白芍（二錢）　山梔（吳萸七粒泡湯炒，三錢）　料豆（焙，二錢）</p>
<p>加童便半杯沖服。</p>
<p><u>產後少腹脹滿，陰㿗不收</u></p>
<p>陸照明夫人。產後四五日即患少腹脹滿，陰㿗不收。醫者以補中益氣湯一劑，陰㿗即收，而腹脹更甚，惡露不通，氣急而喘，按六脈弦緊有力。此產中努力太早，更又中寒，以致惡血當下不下，流注經絡，釀成血分水分之候。擬以調經散於下。</p>
<p>當歸身　丹參　淮膝　肉桂　琥珀　川鬱金　炮姜　沒藥　茺蔚　砂仁</p>
<p><u>胸膈作痛</u></p>
<p>山西吳姓者。患胸隔作痛，已歷多年，細按六脈，左三部沉鬱不舒，右手脈弦緊而大。此肝氣抑鬱，木乘脾土，當以疏肝理氣，扶土製水，則肝脾利而痛自愈矣。</p>
<p>瓜蔞皮（炒，四錢）　法夏（一錢五分）　炒白芍（二錢）　新會（一錢五分）　烏藥（一錢五分）　制香附（三錢）　甘草（四分）　茯苓（三錢）　薤白　白酒</p>
<p><u>瘧痞成臌</u></p>
<p>一人瘧疾成痞，已及三載矣。諸醫歷治，病勢日增，以致胸腹脹大，有似痞散成臌之象。此表邪溜入於少陽半表半裡經絡之間，以致氣阻血滯，陰陽混淆於中焦。醫者不治其本，妄治其標，致病勢日增。當以瀉心湯加減，自然氣血宣通，而痞可散矣。</p>
<p>法半夏　川連　炮姜　黃芩　炙甘草　真人參　枳實　大棗　歸全　白芍　軟柴胡　青皮　鬱金</p>
<p><u>咯吐血痰</u></p>
<p>真儒桂姓者。過飲醇醪，濕熱傷於肺胃之絡，以致火載血溢，吐咯紅痰。宜戒辛熱厚味、火酒等物，佐以滋養真陰之劑。</p>
<p>黑元參　百部　知母　山梔　湖丹　冬瓜子　小薊　枳椇子　穭豆衣　茅根</p>
<p><u>關格閉結</u></p>
<p>一人積勞思慮，惱怒鬱結，誤服香燥之劑，以致津液枯槁，穀食不運，大便燥結。此闌門氣化不宣，致成關格之候。擬柏子仁加減，以冀旋轉為妙。</p>
<p>柏子仁　松子仁　沉香　當歸　廣皮　郁李仁　枳實　法夏　加人乳半杯沖服</p>
<p><u>氣喘脹滿，兩足浮腫</u></p>
<p>塘西何姓者。患病經年，歷治不效。六脈弦緊，潮熱不止，氣促而喘，兩足浮腫，漸至胸膈脹滿，飲食不入，左脅有筋掣痛引肩，立則稍舒，坐臥痛甚。此濕熱淫於肝，溜於脾，下流於足，上蒸於肺，故先腫於下，後腫於上，氣道壅塞，遂成脹滿。《經》云：肺脹者，煩滿而喘；肝脹者，脅下痛滿，而痛引經絡；脾脹者，飲食不得下。當以氣隊宣通，不致瘡瘍濕火之慮。</p>
<p>生苡仁　木瓜　茯苓　通草　廣皮　建澤瀉　法夏　藿梗　香茹　沉香　生薑衣　荷葉</p>
<p><u>食噎不下，胸脅刺痛</u></p>
<p>常熟朱姓者。患食噎不下，兩脅及胸腹不時刺痛，時吐白沫。此思慮鬱結，氣鬱成火，致令血液衰耗，胃脘枯槁，津液為痰而不生血，痰火固結，妨礙道路，所以食入即噎。</p>
<p>柏子仁　法夏　新會　金斛　杏仁　旋覆花　枳實　杏仁　川貝　遠志　郁李仁　蔗汁　茅根</p>
<p><u>產後蓐勞咳嗆</u></p>
<p>青浦一婦，妊娠六月患泄瀉，歷治不效，至產後尚未愈。今據述產後已兩月餘矣。診得六脈微細如絲，咳嗆寒熱，自汗盜汗，飲食不進，形神倦怠，氣短痰壅。又云因諸藥雜投，病勢日增。此係氣血兩虧，肝脾肺大虧之症也。誤藥則正氣日傷，邪氣日深，釀成蓐勞之候，勢甚危重，誠非旦夕可能奏效。當先疏肝保肺之品，治其諸症，以參乳丸補其脾肺，候諸症稍減，再商調補。</p>
<p>北沙參　橘紅　苡仁　川貝　金斛　人中白　麥冬　湖丹　青蒿　草節　銀柴胡　懷藥</p>
<p>丸方：人參　乳粉　云神　共末為丸。清晨蓮肉湯下。</p>
<p><u>積瘀成痞</u></p>
<p>復診六脈芤滑，兩脅下高硬而痛。此積痰蓄瘀停阻經絡，不得宣痛，致成痞滿之候。</p>
<p>廣陳皮　香附　枳殼　丹參　鬱金　五靈脂　延胡　琥珀　瓦楞</p>
<p><u>久痢足冷</u></p>
<p>痢久方愈，元氣未復，繞臍時有動氣，兩足不時逆冷，此肝脾大虛之候。</p>
<p>白朮炭　茯苓　廣皮　法夏　人參　破故紙　菟絲　炙草　砂仁</p>
<p><u>濕熱滯下成痢</u></p>
<p>真儒王姓者。泛舟夜遊，因而受寒，即患滯下之症，半載有餘，百藥不效，脈象細軟而濡，腹痛食減。此係過飲醇醪厚味，濕熱積於腸胃之間，遇寒氣內蘊，干觸穢濁，以致濕蒸熱瘀，氣滯於內，致成痢下之症。《內經》所謂飲食不節，起居不時，陽受之則入腸胃，而成滯下也。當以輕清升陽，淡味滲濕，俾清陽得升，濁陰得降，諸病自愈。然下痢腹痛者，乃肺金之氣鬱於大腸。若非參蘆之提，則痢性止而腹痛仍在。但飲食須淡泊以養正，戒厚味以逐邪，則腸胃得以清理，諸症可以全愈也。</p>
<p>青防風　桔梗　茯苓　參蘆　藿梗　生苡仁　廣皮　葛根　荷蒂</p>
<p>後去葛根，加豬苓、澤瀉、車前。</p>
<p><u>欲後受寒，腹痛呃忒</u></p>
<p>一湖洲客人，欲後受寒，左右寸關尺脈歇止，繞臍作痛，舌胎滑白。擬用溫理下焦一法。</p>
<p>當歸身　吳萸　小茴　砂仁　橘核　綿花仁　外用雞子（炙）</p>
<p>越日腹痛止而呃，即前方去當歸，加半夏、沉香、柿蒂、刀豆子、生薑。</p>
<p>又日呃止，前方去刀豆子、沉香、柿蒂，加炒黑枸杞。</p>
<p><u>內傷伏暑厥逆</u></p>
<p>程云可。內傷伏暑，厥逆自汗，服人參白虎湯後，汗斂厥回，獨小便赤色如朱。連進參連二劑，轉為深黃色，顯系蘊伏之邪得解，最為吉兆。刻下嘔惡口苦，胸脅煩滿，此樞機將出轉少陽之象。擬以人參半夏湯加減，自然寒熱嘔惡得愈矣。</p>
<p>真人參　川連（姜炒）　廣皮　法夏　鉤藤　生首烏　李仁　藿梗　枇杷葉　竹茹</p>
<p><u>時邪泄瀉蟲痛</u></p>
<p>時邪之後，蟲病復作，此元氣素虧，外邪侵染，陰分愈虛，因有肝木乘脾之候。其泄瀉不止，時結時瀉，又解柳葉蟲數次，此為蟲症之瀉，亦脾虛土濕，物腐蠹生。當以健脾清肝，升降得職，自然正旺邪除，諸虛悉愈矣。</p>
<p>青防風　桔梗　白蒺　雲苓　白芍　嫩蕪荑　乾葛　人參　烏梅　榧子肉</p>
<p>丸方：於術炭　牡蠣　生耆　白芍　鱉甲　白茯苓　蕪荑　香附　烏梅　刺蒺　使君肉　金斛　防風　桑葉　木瓜</p>
<p>上藥共為末，米飲搗和為丸。</p>
<p><u>時邪癍疹</u></p>
<p>一人時邪過經不解，舌乾齒燥，神昏譫語，斑疹未化，六脈細軟無倫。此熱邪傳入手少陰。姑擬導赤、瀉心，以圖僥倖為福。</p>
<p>川黃連　黃芩　生地　知母　元參　提麥冬　山梔　木通　犀角</p>
<p><u>臨經腹痛</u></p>
<p>何姓婦。臨經腹痛，盜汗不寐，兩足畏冷，此血虛火亢，氣不調達之故，擬四物湯加減。</p>
<p>茺蔚子　烏藥　首烏　歸全　白芍　制香附　丹參　湖丹　枸杞　艾絨</p>
<p><u>胸腹脹滿，小便尿血</u></p>
<p>一房姓婦。年過古稀，患胸腹脹滿，按之石硬而痛，上則不能飲食，下則小便尿血，按其六脈弦緊而硬。此高年氣血兩虛，土衰木旺，以致肝脾之血不能統藏，下滲胞中，所以小便尿血。中焦失健運之職，升降失權，食少腹痛，所由來也。擬左金合和中扶脾之品，俾得肝脾之氣稍和，自然諸證亦退。不然恐正虛邪實，病深藥淺也。</p>
<p>真川連（吳萸湯拌炒）　奎白芍（肉桂泡湯拌炒）　生苡仁　赤茯苓　梗通草　廣陳皮　廣藿梗　大小薊　川鬱金　焦蔞仁　加砂仁、淨石葦</p>
<p><u>外腎頑痹如石</u></p>
<p>一房姓者。患外腎堅硬如石，頑痹不仁，脹滿不順。此肝腎不足，陰寒凝滯，成為木腎之候。當以溫散逐邪，則自愈矣。</p>
<p>綿花仁　川楝　吳萸　巴戟　熟地　葫蘆巴　山楂　橘核　白芍　破故</p>
<p><u>小產發斑</u></p>
<p>何姓婦。外感症四五日，即小產，發斑目合，兩手抽掣，神昏不語，口噤不開，六脈參差。此表邪陷入陰經，病勢危重，用古拜散合四物湯，以圖僥倖。</p>
<p>荊芥炭　豆豉　當歸　白芍　熟地　紫丹參　澤蘭　羚角　鬱金　地龍（一條）　加回生丹（乙丸化沖）、鉤藤、益母全</p>
<p><u>痿躄脊骨凸起</u></p>
<p>平湖徐戟若令嬡。十二歲時忽患背脊骨凸起，並右腿骱骨亦高起，傴僂不能任地，脈細小無力。此得之風寒入於少陰腎臟並脈絡之間，用麻黃附子細辛湯，加桂枝、乾薑、薑、棗服之。用外敷乳香、沒藥、川烏、草烏、陳酒藥、南星、薑汁、蔥汁，調和作餅烘熱，扎患處，數日後平復如常。今春受病復起，比前更甚，不能坐立。延余調治，予曰：從前曾擬服補腎壯筋丸，頻服以補其損處，因痊愈之速，尚未合服，致有今日之復耳。擬建中湯服數劑後，即能行走，仍用藥餅貼患處，並服鹿角霜丸。</p>
<p>鹿角霜　鹿茸　龜板　黃柏　枸杞　大熟地　山藥　虎脛　杜仲　牛膝</p>
<p>上藥共末，以豬脊髓蒸熟，搗和為丸。</p>
<p><u>吐血咳嗽氣喘又方</u></p>
<p>平湖高礪山令嬡。春間忽吐血兩口，延醫診視，即以薑、桂、蓬朮、山稜、澤蘭、青皮、木香等劑，後繼以丸，亦用辛熱峻攻。服至四五月，肌肉盡脫，飲食不進，眩暈不能坐臥，咳嗽氣喘，自汗盜汗，周身作痛。延余診視時端節後，六脈沉伏，重按細數。細述病情，余曰：今歲厥陰司天，木氣不足，易於耳鳴眩暈，即吐血一二口，服疏肝之劑，使木得條達則愈矣。反以辛熱峻攻，使肝鬱不舒，辛熱傷筋，故周身作痛如刺，山稜、蓬朮、澤蘭、木香，此峻攻之劑，服之已久，中氣大傷。夫肝脾兩傷，自然肌肉消脫，飲食不進，胃津已涸，水精不能四布，致火炎爍金，咳嗽氣喘。擬清金保肺，佐以疏肝之品進之。</p>
<p>北沙參　苡仁　茯神　金斛　麥冬　根生地　百合　骨皮　湖丹　青蒿　京川貝　鉤藤　青黛　冬瓜子　鳳凰衣</p>
<p>服四劑前藥盡去，咳嗽猶未安寧。余因思向日之病，皆由前醫者誤投辛熱峻攻斫削，元氣已盡，精血為彼燒枯，今得舒轉如久旱之得雨，枯苗復生矣。咳嗽不寧者，此腎水枯涸，水虧火亢，金不能生水耳。因擬寧肺保金湯，清晨服以保其肺氣，氣旺灌溉四布，不受肺熱焦枯之患矣。</p>
<p>北沙參　麥冬　川貝　苡仁　茯神　川石斛　百合　紫菀　款冬　青蒿</p>
<p>再擬二地二冬湯，晚服以滋其腎水，水足則龍火自潛，不致飛騰爍金耳。</p>
<p>根生地　熟地　天冬　麥冬　骨皮　湖丹皮　茯神　元參　知母　青鉛</p>
<p>如是二方服數日，咳嗽亦寧，已能進飲食矣。一日忽寒熱往來，咳嗽不寧，按脈仍數。余曰：此惱怒傷肝所致。以黑逍遙散服一劑而諸恙霍然，但肌肉枯竭，神氣若脫，病雖稍去，豈能畢其無恙耳。因再四斟酌，擬以瓊玉膏脾腎兩補。</p>
<p>大熟地　人參　白蜜　天冬　麥冬　云茯神　枸杞　琥珀　沉香</p>
<p><u>風寒傷肺痰喘</u></p>
<p>高景山令郎。感冒受寒，氣喘而促，夜不得寐，諸藥不效。延予診視，六脈弦緊而滑。余曰：此得之寒傷肺，風熱鬱於肺家，擬以一劑而安。明目加熟半夏、橘紅。嘔出痰涎碗許後，以二陳湯調理而痊。擬五拗湯加減。</p>
<p>細麻黃　生石膏　光杏仁　干茶葉　炙甘草　粉前胡　熟蘇子　桑白皮</p>
<p><u>痰喘病</u></p>
<p>松江陸南卿令郎。幼年即患痰症，數載始痊。至二十二歲復起，每年四五次，又經六載矣。今春四月間連發數次，每發必於子時，的以半月為期。發則氣喘而促，日夜不得臥，二三日後吐出痰涎數碗，胸隔稍得舒，細按六脈沉滑而大，左手尤甚。此肝家郁痰阻塞經絡，積久成窠，所以得吐則窠空而安，積久則窠滿而發。治必拔去其病根，非順氣化痰之所能愈矣。</p>
<p>黑山梔　淡豉　橘紅　法夏　蔞霜　制姜蠶　浮石　沉香　杏仁　前胡</p>
<p>丸方：化橘紅　法夏　姜蠶　枳實　蒺藜　真川連　瓦楞　白礬　川鬱金　豆卷　風化硝</p>
<p>上藥共為末，以薑汁、竹瀝、菖蒲汁、萊菔汁泛為丸。晚間臥服時開水送下。</p>
<p><u>產後大小便不禁，厥冒自汗，兩足搖動</u></p>
<p>南翔姚孟川夫人。向有痰症，在童年驚風后起。歷年諸醫皆以消痰滾痰丸煎服，後因產後仍服豁痰清火，至春忽患大便一日夜廿次，小便七十餘次，不時厥冒自汗，臥床不起，兩足不住動搖，諸醫皆不識，仍進消痰清火之劑。曰：怪症皆屬痰火，況有痰證者乎！而病家亦信以為然，服藥後神氣欲脫，氣喘不絕，自汗厥逆不止，諸醫皆束手而去。延予診視，六脈浮空，重按無神。予曰：此症連服消痰，已傷肝脾心三臟，三陽之氣欲脫，下氣上厥，氣血兩傷之候。夫肺主氣、主衛、主敷布，今氣分受傷，故自汗。大腸傳送失職，故大便廿次。況膀胱為太陽之根底，今衛氣不能下行，膀胱司化失職，故小便頻數。心主血、主營、主舒轉，今血分受傷，故厥冒不止。兩足動搖者，肝主筋，血傷則急。《經》云：陽明主潤宗筋，宗筋者，主束骨而利機關者也。今久服滾痰丸，又兼產後氣血兩憊，中氣大損，急宜扶陽補血，遂擬六君子湯加減，晚以歸脾湯兼服，如是十日而諸恙悉平。</p>
<p>白朮炭　人參　茯苓　甘草　法夏　廣陳皮　木香　附子　枸杞　益智　煨姜</p>
<p>歸脾湯方：白朮炭　人參　茯神　棗仁　龍眼　炙綿耆　歸身　遠志　木香　炙草</p>
<p><u>咳嗽氣喘，喉痹吐紅</u></p>
<p>程南珍。腎勞吐紅，精血枯竭，已有多年。不知靜養調攝，復加斫削，以致諸虛蜂起，證曰危篤。於六月中細按六脈數而無倫，干嗆氣喘，虛炎喉痹，穀氣不納，督脈痿憊，皆由日久病深，水虧火亢，自上傳下，損症盡見，勢若勞瘵，難以治療。再四圖之，惟作三焦分治，庶可挽回。一月以來，諸恙皆退，飲食漸進，但六脈虛軟，兩尺無根。若非峻補，何能填實下焦虛損！且腎為人之命蒂，蒂固則腎水足而龍火潛，可免飛越奔騰之患。今先擬補天益陰丸以補其腎，緩商補脾保肺之方。三焦分治，自然陽生陰長，寒谷春回矣。但是症必須時時調攝，謹慎養身絕欲，三年方許收之桑榆，非徒藉草根藥餌為保命之常法也。</p>
<p>紫河車（漂淨，挑去血筋）　血餘膏（二兩）　元武膠（二兩）　淡秋石（二兩）　根生地（四兩）　大熟地（四兩）　白茯苓（三兩）　懷山藥（四兩）　山萸肉（四兩）　福澤瀉（三兩）　湖丹皮（三兩）　淮牛膝（三兩）</p>
<p>上為末，煉為蜜丸。每晨建蓮湯送下五錢。</p>
<p><u>經阻</u></p>
<p>靳道臺令嬡。氣惱經阻，誤以怯治。予與逍遙散、歸脾湯而愈。天癸四月不止，服加味逍遙散，客病盡去。刻下六脈虛軟，肝脾虧損，衝任帶三經不足，以致血少經滯。《經》云：心主血，肝藏血，脾統血。若心肝脾三經受損，則精血不能灌溉，營衛之氣不能調達，則血少而經閉。薛立齋云：肝脾和而經自通。《經》又云：太衝脈盛，月事以時下。今五臟之氣受虧，衝任之脈不足，血枯經閉之症已兆，不可不慎。擬以歸脾丸加補衝任之品調攝，自然肝脾之氣調達，不行經而天癸自至矣。若此時而用破血通經之劑，則衝任益損，不惟無益，反增其病矣。服後果經通而愈。</p>
<p>於術炭　當歸　人參　黃耆　甘草　酸棗仁　遠志　生地　茯神　杜仲　制香附　續斷　丹參　懷膝</p>
<p><u>胸腹絞痛，痞塞嘔惡</u></p>
<p>王景山。惱怒傷肝，思慮傷脾，肝脾鬱結，清濁抑遏，以致中氣受傷，升降失職，痰涎壅滯，胸隔攻刺，蔓延幾載，病勢日增。歷來常服辛溫之品，繼以參耆，愈動愈滯。今夏初按脈沉鬱而有力，胸腹絞痛，痞塞嘔惡，肝乘脾土，穀氣不納。投以疏肝解鬱之劑，諸恙皆去，病勢漸緩，而胸中嘈雜尚有未盡，乃病久藥淺，肝脾素虧之故。再擬調肝和脾之藥，使其肝木自舒，中氣自開，清濁得分，升降無礙，自然漸愈。但七情之病必須涵養性情，暢懷胸次，方得全美，非徒藉草根藥石為常法也。擬逍遙散加減。</p>
<p>粉歸身　白芍　雲苓　山梔　川貝　湖丹皮　川郁　柴胡　香附　甘草　制於術　鉤藤（二兩）　荷蒂（七枚）</p>
<p>共為末，煎湯泛丸，開水送下。</p>
<p><u>痿症</u></p>
<p>岳頤山。本屬痿症，醫者誤作大麻瘋治之。《經》云諸虛損症，一損損於肺，毛焦發落；二損損於肝，血木脈榮；三損損於胃，納穀不運，肌膚脹滿。今頤兄尊恙，即此症也。往往不察病機，從麻瘋之症，投以燥濕祛風，以致精枯而竭，病勢日增。此係陰陽虧損，水火不濟，不能水精四布，遊溢精氣，氣血兩憊，升降失職，為今不治，將來諸症蜂起，莫之能遏。惟一切諸事但作影花水月，靜養調攝，繼以藥餌，庶幾有合乎是症，擬方於下。</p>
<p>真人參　於術　茯苓　當歸　棗仁　遠志肉　生地　丹皮　秋石　白芍　提麥冬　甘草</p>
<p><u>頭痛眩暈倒僕</u></p>
<p>王建中夫人。六脈弦緊，不時頭痛，坐臥眩暈。此肝風內煽也。《經》云：諸風掉眩，皆屬於肝。擬以鉤藤羚羊角湯疏其肝風，自然獲愈。</p>
<p>羚羊角　山梔　赤苓　元參　麥冬　生白芍　川貝　鉤藤　甘草　荷蒂</p>
<p>人中白丸：提麥冬　鉤藤　赤苓　山梔　川貝　人中白　生地　生白芍　元參　甘菊</p>
<p>共為細末，用金石斛湯泛丸。</p>
<p><u>肝鬱嘔吐</u></p>
<p>宋姓者。患嘔吐，每於飲食後，胸腹及兩脅脹滿而痛，或旬日一發，或月餘一發。審其六脈沉弦而緊，此鬱症也，由思慮鬱結所致。</p>
<p>上肉桂　川連　石決　法夏　雲苓　新會皮　沉香　烏梅　川郁</p>
<p>丸方：蒸茅朮　神麯　法夏　烏梅　香附　新會皮　生芍　撫芎　山梔（薑汁炒）　蔞皮</p>
<p>用薤白頭煎湯泛丸。</p>
<p><u>血脫</u></p>
<p>楊南崗。血脫之後，六脈弦緊，胸隔填悶不快。此肝脾氣結，當以血脫補氣，亡陽補陰為要。</p>
<p>制於術　人參　黃耆　歸身　阿膠　酸棗仁　遠志　川斷　河車　五味　金石斛</p>
<p>上藥煎膏，每晨人參湯化服。</p>
<p><u>脾虛腫滿</u></p>
<p>川沙陸子梅。脾陽不振，命門火衰，以致水溢氾濫，周身浮腫，痰涎壅盛，外腎與尿管俱腫。蓋中虛則津液化痰，水虧則膀胱失化，更兼惱怒素多，肝木乘土，諸虛蜂起，細審六脈虛中帶弦。今先擬五苓散以通調水道，兼服米仁湯，淡滲之劑互服，候其脾腎之氣得旺，腫滿之勢漸消，然後再進《金匱》腎氣丸，以冀收功。</p>
<p>於術炭　澤瀉　豬苓　雲苓　砂仁　上肉桂　沉香　腹皮　姜衣　椒目　陳麥柴　人參</p>
<p>午後煎方：生米仁　雲苓　會皮　法夏　通草　赤茯苓　沉香　桑皮　姜皮　吳萸　金沸草　木瓜　加熟砂仁末</p>
<p>服藥後目腫勢減半，腎管俱收，惟大便潤而澀，口渴唇燥，舌上白膩。</p>
<p>生苡仁　茯苓　會皮　法夏　通草　冬瓜子　桑皮　沉香　郁李　川貝　生薑衣　參湯沖服。</p>
<p>服藥二十日後，腫勢大減，飲食漸進，復因惱怒下利純清水，六脈弦細，擬用健中一法。</p>
<p>制於術　廣皮　法夏　茯苓　白芍　真人參　加熟砂仁末</p>
<p>接服《金匱》腎氣丸方：大熟地　肉桂　懷膝　附子　山藥　大福澤　車前　萸肉　茯苓　丹皮</p>
<p><u>肝氣頭痛，厥陽時冒</u></p>
<p>橫沔秦介年如夫人。久患瘰癧，肝氣糾結不舒，厥陽上亢巔頂，以致頭疼耳聾目盲，左鼻作痛，右鼻出血涕，並下體冰冷，左半身似麻痹，不知痛癢。此下氣上逆，肝風不得降於九地之下，乘土乘金，縱橫無定。所喜六脈未數，天癸如期，陰分未涸。急宜平肝培土，挹癸注水，厥陽自斂，肝風自熄矣。</p>
<p>旋覆花　赭石　橘紅　法夏　人參　郁李仁　黃連　旱蓮草　吳萸　山梔　料豆衣　赤神</p>
<p>晚服方：真川連　知母　生地　肉桂　茯苓　湖丹皮　山藥　萸肉　龜板　磁石　人中白</p>
<p>共法制為末，用豬脊髓和丸。</p>
<p><u>指腫風症</u></p>
<p>一某夏間早起，必於冷水中洗手，遂患左大指腫脹而痛，繼以左中指亦然。熏洗、針灸歷治不效，日久十指俱浮腫，時出黃水。此係寒濕傷於厥陰、陽明，若再連延，恐成足指俱腫矣。擬藥酒方治之。</p>
<p>生綿耆　漢防己　川萆薢　晚蠶沙　川桂枝　嫩桑枝　白歸身　刺蒺藜　制豨薟　宣木瓜　片薑黃　青防風</p>
<p>用女貞酒一罈，入前藥隔水煮一炷香，隨時溫服。</p>
<p><u>時瘧神昏譫語</u></p>
<p>鹽官陳上林夫人。時瘧之後，胸膈微痛，夜不得寐，神昏譫語，細切六脈，左三部沉鬱，右三部弦硬。此土虛木旺之故，擬溫膽湯合左金丸之意，則神自安而痛自緩矣。</p>
<p>真人參　云神　棗仁　廣皮　半夏　淡吳萸　川連　用粳米煎湯代水。</p>
<p>復診：飲食之後，心中嘈雜。此即厥陰氣上撞心，心中疼痛，飢不欲食，擬用甲己化土，肝脾同治。</p>
<p>真人參　白芍（吳萸泡淡，同拌炒）　於術　廣皮　法夏　炙甘草</p>
<p><u>頭面浮腫、小便赤濁</u></p>
<p>太倉凌思敬。六脈兩關獨大，水溢渾濁，頭面與足浮腫。此中虛壅滯，濕熱下滲膀胱，以致小便赤濁。宜清熱補氣，諸恙自愈。</p>
<p>吉林參鬚　紫菀　雲苓　山梔　通草　料豆衣　知母　萆薢　加白果肉（搗，沖服，五枚）</p>
