<header>
<h1 hidden>中醫笈成</h1>
</header>

<h2>最新消息</h2>
<ul>
  <li>2021/07/01：更新程式，現在可從每頁頁尾的超連結連到版本庫檢視該頁面的原始碼及編輯記錄。</li>
  <li>2020/03/29：網站升級為HTTP/2及自動使用加密連線。</li>
  <li>2020/02/20：關閉舊封存站《笈成資料庫》。</li>
  <li>2018/06/19：初步整併更多來源的電子書，典籍擴增至1250部。</li>
  <li>2018/06/04：加入<a href="book/search.html">典籍檢索器</a>，可用於精細檢索。</li>
  <li>2018/05/27：原始碼版本庫公開至<a href="https://gitlab.com/jicheng">GitLab</a>。</li>
  <li>2018/03/01：新版《中醫笈成》上線。原《笈成資料庫》轉為封存。</li>
  <li>2012/07/22：站址遷移至jicheng.tw。</li>
  <li>2011/01/13：《笈成資料庫》及《<a href="https://jicheng.tw/hanzi">笈成檢字系統</a>》上線。關閉原《笈成檢閱系統小站》。</li>
  <li>2009/02/13：《笈成檢閱系統小站》上線。首次發布《笈成檢閱系統》主程式v1.2.0。</li>
</ul>

<p>中醫笈成是收集、整理中醫藥典籍的自由資料庫，也整理相關醫家、中藥、方劑、歌訣資料。</p>

<p>本站台建議使用現代瀏覽器（Firefox ≥ 52、Chrome ≥ 55、Safari ≥ 10.1、Opera ≥ 42、Edge ≥ 15）瀏覽。</p>
