<header data-type="book">
<h1>校訂願體醫話良方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>願體醫話良方序</h1>
<p>舅氏俞公桂庭，雖不業醫而喜讀軒岐之書，捐館後雄於遺篋中檢得《願體醫話》一卷，繹之皆時醫藥石之言，多急救全生之法，惜其簡略，疑非完書，庋而藏之者二十年矣。前年許子領三以搢臣先生原稿持贈，乃知本無殘闕，先舅氏僅刪陰證一條，尤為有識，增補諸方，亦皆精妙。夫《肘後》、《雞峰》世人罕讀，病來倉卒，醫輒茫然。近惟《種福堂選方》、《養生經驗》二書，最稱善本，海內風行，茲編雖簡，頗有補二書所未及者，胡敢秘耶。爰付攻木之工，以公於世。憶昔在婺，舅氏嘗遺書訓雄曰：凡病治愈，須存底稿，雄遵而行之。迨癸卯冬，故人周君光遠選刻拙案二卷，曰《回春錄》，甲辰之案，張封翁信堂題曰《仁術志》，至庚戌踵成八卷。今春楊大令素園重為刪定，詳加評點，慨捐鶴俸，合梓於宜黃縣署，總題曰《王氏醫案》，凡十卷，而舅氏皆不及見，且雄才識疏庸，不能深造，將何以慰曩時之屬望耶？校此遺編，能無於邑。</p>
<p><u>咸豐紀元辛亥閏月王士雄謹識於潛齋</u></p>

<h1>正文</h1>
<p>人之嗜好，各有不同。余每遇裝金塑像，心知好事而踴躍不前，見疾病之人，則周旋圖救，而富厚者雖得沉疴，不甚關切，遇貧寒者，縱系微疾，儼如身受。蓋富厚者延醫有資，購藥有力，主病有人，驅使有僕，何難拯救；至若貧人以身覓食，一朝染病，不但醫藥無資，甚且饘粥莫繼，病愈沉重，心愈焦勞，往往延挨莫救，與言及此，為之墮淚，但恨力薄，不能施濟，聊繼前志，延醫診脈送方，揚城施藥，不乏其人。然或詩書子弟，素封后人，一時落魄而故舊滿目，體面猶存，不肯入藥局當施捨二字，隱忍而不赴局者有之。余設法體帖，使雅俗咸宜，常署其門曰：人之最苦，無如疾病，呻吟痛楚，非藥莫愈。夫病不患無良藥，而患無良方，每見藥餌誤投，反增其病。愚久懷送藥之心，因無送藥之力，數年以來，自五月起至九月止，延請明醫，分暇半日，診病切脈，內外大小，對證立方奉送，但諸公就視，非為省其醫資，庶可免於錯誤。如肯惠然而來，每日午前接教，將此刊刷，遍貼通衢，又慮真正貧人，得方不能措藥，乃制丸散膏藥數種，再察其衣不蔽體而帶飢容，多寡量助，惟恨不能親為吮疽煮藥耳。家人哂余婆心過切，不憚勞苦。余曰不然。人無貴賤同歸土，吾非斯人之徒與而誰與。如丁巳年間，揚境瘟疫甚行，一時當事以及好義者，多捐資施藥，余因慨嘆。就醫者，皆兩城附近之人，其窮鄉僻壤，何能遠涉？縱或父兄子弟代為取討，無論未經切脈，不無有誤，且有並無親人之鰥寡孤獨，以及舉室染病之家，湯水無人接遞，況遠來求藥乎？且風俗日澆，每遇時疫，輒慮傳染，雖骨肉亦有視如陌路者，余聞之憤激，邀醫同行，令僕從肩藥，並帶藥引等類。每至一村，幾無煙火，推柴扉虛掩，守犬空鳴，召人診視，方扶攜而至，皆蓬頭垢面，蹙頞呻吟。全家病者，即就臥榻切脈，撮藥各置枕下，以錢呼鄰，煩其煎服，日涉數十里，然余固無恙也。有相愛者，謂余太輕身，余因曰嗜好不同，吾亦行吾之所好耳。雖然，天下不無同此志者，幸勿惑於傳染之妄言而廢其初心，即以余驗之，可知其妄矣。</p>
<p>俞桂庭曰：天下第一好事，莫如救人之命。醫者存心濟世，即為救命之人。救窮人一命，功勝救富人十倍。蓋富者原是養尊處優之體，而窮人趁工度日，病一日則少一日柴米之資，焉能有餘錢以延醫服藥乎？故誤藥以殺窮人，其罪亦浮於誤藥以殺富人。富人雖死，其家尚溫飽也，窮人死後，必致父母無養，妻兒離散。醫者不察，往往視貧病而疏忽，見富貴而慎重，殊不知貧病尤當慎重也。搢臣先生之話，真藹然仁者之言，切中時弊之論，惟望有力者，仿其夏秋設局。如遇時疫流行之歲，齎藥赴鄉，沿門施診，更望為醫者，實心詳慎，出心與出力，陰德相侔。吾鄉向有常年施診之局，而延請名醫，務宜崇實，勿圖脩俸之廉，勿尚虛名之輩，當求實有學識而敦品行者，庶不虛其利濟之功。若當道者能身先倡率，廣為勸募，妥立章程，行諸遐邇，仁民之政，端在斯歟。</p>
<p>一病有一藥可治，一證有一方可療，常見有病者而難遇其方，有方者而不遇其病。余謂天下奇方，頗多經驗者，縱有濟世之心，焉能逢人說項。吾意擇一廟宇，書其門曰：施藥不如施方。凡有效驗藥方，勸其抄寫明白，實貼廟內，使有方者，得以利濟，而有病者，可免沉疴。久而秘方彙集，人人皆知某處有方，對證檢用，未必非恤人疾痛之一端耳。此謬竭一得之愚，不過休慼相關之念。倘有同心，設法舉行，亦惠而不費之事也。</p>
<p>俞桂庭曰：搢臣濟世之心，可謂無微不至矣，如此求方，其法甚妥。而最可鄙者，得一良方，秘而不露，忍使靈丹湮沒，坐看奇病危亡，昧理喪心，無逾此極。更有藉此謀利，需索重酬，市井之徒，固不足怪，號已儒者，亦爾效尤，富病尚可求生，貧病使之待斃，撫心自問，罪可逃乎？宜鑑斯言，亟為造福。紀文達公云：南皮瘍醫某，藝頗精，然好陰用毒藥，勒索重資，不饜所欲則必死，蓋其術詭秘，他醫不能解也。一日其子雷震死，今某尚在，亦無敢延之者矣。或謂某殺人至多，天何不殛其身而殛其子，有佚罰焉。夫罪不至極，刑不及孥；惡不至極，殃不及世。殛其子，所以明禍延後嗣也。又云：歙人蔣紫垣，善解砒毒，因秘其方以索重價，致遭冥譴，皆可為醫鑑也。</p>
<p>嘗聞有是病，即有是藥，但些小之恙，自可藥到病除。一遇疑難之證，認為寒者，投熱而不應；認為熱者，投寒而不應；認為虛者，投補而不應；認為實者，投瀉而不應。雖廣延諸醫，而主見各異，此際吉凶反掌，令人茫無適從，萬不得已，惟有不服藥一著，聽其自然，看其動靜，再為斟酌，然又孰肯坐視不救，而竟委之大數哉？勢必朝秦暮楚，遇藥則投，直至氣絕人亡而後已。興言及此，不勝扼腕。有飾其詞曰：古人渾樸，其疾顯淺易治；今人尖巧，病證幻出難圖。余曰不然。從古及今，醫聖醫賢，無理不闡，無書不備，總由後人學識未到，審證未真，若肯以外貌應酬之工，用於內求誦讀之際，推尋奧妙，研究精微，審醫案，搜脈理，一思百慮，感而遂通，則鮮有不能取效之證。今僭創一議，無論內外大小，一年之中，豈無一二奇證，若懷之胸臆，則近於秘道不傳；若登之棗梨，又礙於少難成帙，何不於三五知己中，每於歲底，各出所治奇病，現何證，服何藥，如何療，如何愈，共成一卷，以為醫案，每年增廣，亦是不朽之舉，庶使後人有跡可循，而無識認不真之憾，其功不在盧扁下也。然近日又有一種時弊，凡遇疾病危險，諸醫會集，其中學術平常者，不過輕描淡寫而已，識見高明者，若欲另立意見，惟恐招人妒忌，萬一不效，又慮損名，瞻前顧後，亦是大同小異了事。殊不念上天賦我聰明才智，若臨證之際，不費一番思索，不用一番心血，代天宣化，救濟蒼生，止於此中求富貴，顧聲名，以他人性命痛癢無關，生死聽天。清夜思之，能無自愧！</p>
<p>俞桂庭曰：王載韓云，前醫用藥未效，後之接手者，多務翻案以求勝之，久寒則用熱，久熱則用寒，久瀉則用補，久補則用瀉，以為取巧出奇之計。然而脈與因故在也，苟據脈審因，確見前醫識力未到，自當改弦易轍以正其誤；若不據脈審因而妄生歧論，只圖求異於人而網其利，竟置病人吉凶於度外，其居心不可問矣。</p>
<p>又按：古云不服藥為中醫。不遇良醫，莫若弗藥。蓋醫理深微，非上智不能討究，以百人習醫，無十人成就，成就之中，無一人精通，得一明醫，談何容易！然事在人為，貴乎自立。如王甥孟英之銳志於醫也，足不出戶者十年，手不釋卷者永夜，邇年在婺，屢起危疴，藉有聲名，後生可畏。余每聞而喜躍，所有歷年治驗，曾令其須存底稿，而搢臣先生亦有此話，可謂先得我心。世之為醫者，遵史氏之格言，效吾甥之苦志，出而問世，必可加人一等也。</p>
<p>一本草雖有別名，而取用貴乎通俗，若圖務博矜奇，令人模糊費解，危急之際，誤事不淺，且書有急救良方、簡便奇方之稱，皆欲速取其效以救也，若反用疑難名色，豈不與救急之意相悖乎？余謂不獨字義務要淺近，而藥品之似是而非者，亦當辯別。即如象貝類川貝、薑黃類鬱金之類，難以悉舉。更有偽雜，如採樹枝充桑寄，升樟腦入冰片，染松脂以代血竭，煉白鹽以亂秋石之類，若不察真偽而誤服之，豈能療病？又如藥引中生薑幾片，燈草幾莖之類，余意須下分兩為是，蓋片有厚薄，莖有短長，過與不及，均難取效。再如煎藥，宜各藥各銚，不可同他人混雜，恐彼煎攻伐，我煎補益，彼煎溫熱，我煎清涼，豈不大有相反？譬如酒壺沖茶，雖不醉人，難免酒氣。又《本草蒙詮》云：醫藥貿易，多在市家。諺云：賣藥者兩眼，用藥者一眼，服藥者無眼。可不慎歟？</p>
<p>俞桂庭曰：陳文恭公云：史君飽諳世故，曲體人情，其言質直而透徹，智愚易曉。余謂惟有大學問，故能曲體人情；凡是大文章，無不智愚易曉。顧雨田亦云：國家徵賦，單曰易知；良將用兵，法云貴速。我儕有工於草書者，醫案人或不識，所繫尚無重輕；至於藥名，則藥肆中人豈能盡識草書乎？孟浪者，約略撮之而貽誤；小心者，往返詢問而羈延，凡我同人，書方之字，必須清爽，庶免他虞。</p>
<p>酒能傷人，好飲者，每每視為迂說。余觀戰國信陵君，得罪於魏亡趙，度不能自免，終日飲醇酒，近女色，以求速殞。可見古人藉酒自敝，其為傷人可知。今人不察，終日酕醄，夙酒未醒，新卮又進，漏盡方休，午余復集，甚至廢寢忘餐，腹中微有糟粕，其不為腐腸之藥也幾希。</p>
<p>俞桂庭曰：宋劉元城先生云：余初到南方，有一高僧教余，南方地熱而酒性亦熱，今嶺南煙瘴之地，更加以酒，必大發疾。故余過嶺，即閤家斷飲，雖遍歷水土惡劣，他人必死之地，余閤家十口皆無恙，今北歸十年矣，無一患瘴者，此其效也。蘇文忠亦云：器之酒量無敵，今不復飲矣。按此，則酒惟北方或嚴寒之令，可略飲以禦寒氣，世人誤謂可以闢瘴疫，是抱薪救火矣。又凡造酒麴者，必取諸草汁以和米糵而成，其草初出之兩葉尖者屬陽，性烈而味辛，可以造麴；初出之兩葉圓者屬陰，性涼而味或酸或苦，皆不中用也。故酒性純陽，大冷不冰，有助欲火，爍真陰，昏神明，釀濕熱之四大弊。又《吹劍錄》云：《易》惟四卦言酒，而皆在險難。需，需於酒食；坎，樽酒簋貳；困，困於酒食；未濟，有孕於飲酒。可見酒乃人生之至險也，可不戒哉！</p>
<p>焚香品茶，稱為韻事。余按本草茶性苦寒，銷厚味，解宿酲，有克無補，故能化積滯，膏粱之輩，原宜藉以宣清，藜藿之腸，曷以當其鋒鏑，伐胃傷脾，久飲必傷元氣，馴至飯食漸減，胸腹虛膨，積飲停痰，漸成錮疾，深沉日久，無藥可瘳。在西北之地，以茶療疾，因貴重而飲之者甚少，惟江浙一帶，既為出產，人多好之，聞有不飲者，即誚為俗人。而大戶女流，喜吃碗兒茶，汁未飲而渣先啖，上行下效，僕婦使女，不論老幼，盡皆酷嗜，以致面色如金，將潤澤容顏，變作焦黃面貌，豈非消耗脂膏之明證乎？但人止知酒能困人，而不知茶亦傷人，故戒茶之說，從來未有。余特敢為世告，願尊生者知茶之為害，薄其味而不過飲，俾脾胃不傷，未必非保生之一法也。</p>
<p>俞桂庭曰：既稱韻事，僅可偶爾為之，人人而癖之，旦旦而飲之，有何韻哉？況其為用也，專為解渴，渴因於火，或暑熱之外爍，或五志之內燔，或膏粱之過度，或勞役之火升，藉以消煩，何妨暫飲，苟為耽嗜，後悔徒然。</p>
<p>世間惟財與色，最是耗人精氣，速人死亡，而方士之言曰：金銀可點化以濟壽，少女可採補以延年。既快嗜欲，又得長生，何憚而不為耶？試以情理度之，恐無此太便宜事，不敢信也，不可惑也。</p>
<p>俞桂庭曰：死生有命，富貴在天，皆不能以人力謀也。既富貴矣，又欲長生，一念之貪，方士得以售其術，古來惑於爐火者，無不傾家；惑於採補者，無不喪命，愚夫接踵，可不哀哉！《呂氏春秋》云：所謂長生者，非能短而續之也，畢其數也。欲畢其數者，惟積德其庶幾乎？點化採補，皆損德之事，其得禍而速死也宜矣。</p>
<p>獨宿之妙，不但老年，少壯時亦當如此。日間紛擾，心神散亂，全藉夜間安睡以復元氣。若日裡心猿意馬，控制不定，及至醉飽，又復恣情縱欲，不自愛惜，如泥水一碗，何時得清？</p>
<p>俞桂庭曰：此從來卻病保生延壽之第一仙方也。此外並無丹藥，別求秘訣，皆是愚人。</p>
<p>服金石酷烈之藥，必至殞命，即坐功服氣，往往致疾損目，人能清心寡慾，無暴怒，無過思，自然血氣和平，卻疾多壽，譬如火爐，置風中則易滅，置靜室則難燼，此是定理。</p>
<p>俞桂庭曰：《閱微草堂筆記》云：金石燥烈，益以火力，亢陽鼓盪，血脈僨張，故筋力似倍加強壯，而消爍真氣，伏禍亦深。觀藝花者培以硫黃，則冒寒吐蕊，然盛開之後，其樹必枯。蓋鬱熱蒸於下，則精華湧於上，湧盡則立槁耳。《參同契》爐鼎鉛汞，皆是寓名，方士轉相附會，貽害無窮，而不知神仙惟有丹訣，無丹方也。觀此，則《本草經》之長生不死云云，皆後人附會也。</p>
<p>人知參能補人，不知亦能害人。貴介之家，平日淫欲，事所時有，一當病發，即疑為虛，重投人參，大寒大熱俱伏在內，始而以參治病，既而用藥治參，病可治，參難治，是兩病也。雖有扁鵲，莫措其手，慎之慎之。</p>
<p>俞桂庭曰：藥之弊，莫甚於參，富貴人之不死於參者鮮矣。史君之話，可謂洞見癥結。</p>
<p>糞清值錢，不過以其歲月久耳，人多略而不置，使每年收貯數壇，待澄清之日，廣行利濟，在受者不虛其假，與者不傷其惠，亦何憚而不為耶？於是在小莊收藏數十壇，每年臘月，以新易舊，取用源源，不獨痘門熱證之要藥，更救一切服毒，以此推廣，不費之惠，豈止一端。今將奉送金汁小引附刻於後，願同志者仿而行之。引曰：金汁一種，痘門熱證，在所必需，服毒垂危，尤難猝辦，臨時即用，重價購求，尤恐真偽莫辨，難以取效，豈不誤事？無力之家，偏僻之處，更難剋期應用，不佞曾於小莊埋制數壇，願以濟世，凡遇貧而難覓者，幸為指引，以便相贈，但為數有限，望囑其量證多寡取用，庶不致浪擲可惜耳！此乃惠而不費之舉，非敢博利濟之功也。</p>
<p>俞桂庭曰：史君孳孳為善，體貼入微，讀其書，可想見其為人。惜餘生也晚，不能負笈從遊，然千載之後，猶可聞風而與人之善心焉。所云不費之惠，豈止一端，他如膽星亦屬易制，冬月醃芥滷亦可壇埋，野菊花與木芙蓉之葉，年年可採，龍眼之核，隨時可蓄，不費錢而又不費力，皆可以治大證。諸如此類，仁者識之。</p>
<p>倉卒救人方藥，凡友人相傳用之有效者，刊之惟恐不速，惟願見余書者，廣為告布，雖客程旅舍，亦宜抄而黏壁，使人人知有救急之法，必有因此而全活者矣，傳方者豈無功乎？</p>

<h2>解砒霜毒</h2>
<p>糞清灌之最妙。</p>
<p>真綠豆粉、淨黃泥（各四兩，俱細篩），生雞子清九個，三共一處，以浸綠豆冷水和稀服。若有黑羊血，再合碗許更妙。</p>
<p>凡服砒之人，不可令其睡臥，恐毒流四肢難治，愈後百日內，忌菸酒姜椒煎炒一切辛熱之物，方無後患。</p>
<p>俞桂庭增補：</p>
<p>南天竹子四兩，擂水服之立活。如無鮮者，用乾子煎湯冷服亦可，或以防風一二兩，煎湯浸冷灌之。</p>
<p>雞子一二十個打散，入明礬末三錢，攪勻，灌下即吐出。</p>
<p>大黃（二兩）、生甘草（五錢）、白礬（一兩）、當歸（三兩），水煎數碗冷飲之，立時大吐或大瀉而生，否則毒入於臟而死。</p>
<p>黑鉛（四兩），用井水於石上磨出黑汁，隨磨隨灌，候吐盡方無患。</p>

<h2>解銀銪水毒</h2>
<p>烏梅煎濃湯服，即解。</p>
<p>俞按：銪，銀腳也。一作釉，或作黝。性主腐爛皮肉，今人每用以去痣，點之即落。此物入腸胃，非比砒藥諸毒之酷烈，並無唇齒豁裂，七竅流血之外傷可以覈驗，系黏著腸胃，漸漸腐爛，令人如患病狀，或半月一月而死，仍無傷痕可據。《洗冤錄》中如此說。</p>
<p>生羊血灌之，吐盡即解。</p>
<p>黃泥水服二碗可解。</p>
<p>每日用飴糖四兩作小丸，不時以真麻油吞下，亦可瀉其毒出，須患者服過百日外，方無慮。</p>

<h2>解鹽滷毒</h2>
<p>宜先搗肥皂汁，和水灌之即吐。如吐未盡，灌熟豆腐漿，少頃即吐如腐形而愈。</p>
<p>雞蛋一二十個打散，入生大黃末五錢攪勻，徐徐灌下，以利下即愈。（以下俞增。）</p>
<p>白糖霜多吃即解。</p>

<h2>解河豚魚毒</h2>
<p>多服金汁即解，或以香油灌之，吐出即愈。</p>
<p>橄欖煎濃湯服。（以下俞增。）</p>
<p>槐花煎服。</p>

<h2>解野蕈毒</h2>
<p>多服金汁即解，或以地漿灌之。</p>
<p>橄欖搗為泥食之。（以下俞增。）</p>
<p>甘草汁磨紫金錠服。</p>

<h2>附解鴉片毒</h2>
<p>自鴉片煙之毒流行，而於水、火、刀、繩、砒、滷之外，更添一速死之途，且近今之煙，無地無之。其死於此者，反較水、火、砒、繩為尤眾也。殊不知此物雖毒，而向吸其煙者，久已與臟腑之氣相習，即素不吸此而體氣堅強，或服煙尚少，毒不甚重者，治之得法，竟可復甦，故凡服煙而死者，雖氣絕亦多可救。邇來廣東新刻套板《洗冤錄》內，明著救治方法，曰輕者心中發躁，但用活鴨血或糞汁，或醬油，或涼水，或明礬、雄黃研末，若服皂煎湯，灌之無弗愈者。若服多毒重，身冷氣絕，似乎已死，但肢體柔軟，則藏府經絡之氣仍是流通，實在未死，速將屍安放陰冷無太陽之地。（一經日照，即不可救。）撬開牙齒，用箸橫在屍口，將金汁或涼水頻頻灌之，再以冷水在胸前摩擦，仍將頭髮解散，浸在冷水盆內，自然漸活。曾目擊救愈多人，凡七日之內，身不僵硬者，切弗棺斂云。夫《洗冤錄》為官中驗用之書，非無稽傳說可比，倘肯廣為流播，實今世活人第一要事，試思未死活埋之苦，則傳播之心不能已矣。（辛亥秋月存心堂補。）</p>
<p>雄按：身不僵硬，切勿棺斂一語，凡一切卒死之證，皆宜遵此，未死而誤斂者，豈獨服生煙之人耶？噫！再按：觀《洗冤錄》救治之法，則鴉片煙性之熱毒，等於砒鴆，故一經日照，即不可救，而世人謂其性冷，豈不妄乎？</p>
<p>附解鶴頂鴆羽毒，糯米煮粥搗爛，過量啜之，極效。</p>

<h2>魚刺鯁喉</h2>
<p>多食橄欖即下，橄欖核磨服亦可。</p>
<p>大蒜一瓣，切去大頭，鯁左塞右鼻，鯁右塞左鼻。（以下俞增。）</p>
<p>南硼砂一塊，含化咽汁。</p>
<p>象牙屑一錢，蜜水調下，並治諸刺鯁喉，即諸刺入肉者，水調敷之立出。</p>
<p>凡鯁某魚之骨，即取某魚生眼珠，以腐皮裹之，吞下即愈。</p>

<h2>諸骨鯁</h2>
<p>醋煎草果、澤瀉，飲之即下。</p>
<p>砂糖煎威靈仙亦可。</p>
<p>砂糖和馬屁勃服之亦可。</p>

<h2>竹刺鯁喉</h2>
<p>老絲瓜燒灰，酒服三錢立消。（以下俞增。）</p>
<p>食干飴糖亦可。</p>
<p>稻芒著喉，頓食飴糖即愈。</p>
<p>木屑搶喉，以鐵斧磨水灌之。</p>
<p>發繞喉，以自己亂髮燒灰一錢，白湯下。</p>

<h2>誤吞金銀銅錫</h2>
<p>先飲生鴨血杯許，再多食炒蠶豆，不切炒韭菜，其物從大便而下。（誤吞鐵亦用此方。）</p>
<p>誤吞錢。多食鳧茈即化。（鳧茈即荸臍，一名地慄。）</p>
<p>艾蒿一把，水五升，煎一升，頓服便下。（以下俞增。）</p>
<p>雞骨炭，研末三錢，砂糖調服。</p>
<p>羊脛骨燒灰，研服二錢，地慄汁調下。</p>
<p>誤吞鐵物，剝新炭皮研末，調粥三碗食之，自下。</p>
<p>誤吞水銀，麻油八兩頓服之，或拌飯食，自能解出。</p>

<h2>救縊死</h2>
<p>凡自縊之人，若繩細痕深者，最稱難救。又云：旦至夜者易救，暮到天明者難治，須急令人抱住，將結解開，切勿割斷繩子。將屍安放平地，令一人坐於頭前，腳踏其兩肩，揪髮向上，不可使頭低下，揉其頸痕，拈圓氣管，摩按胸腹，令一人以膝蓋，或手厚裹衣服緊緊塞住穀道，婦人拼抵其陰戶，勿令泄氣，若手腳已經僵直，須為屈伸摩按，再以兩管吹氣入耳內，以一人口對縊人之口接其氣，研生半夏末，或皂角末，吹鼻中。以針尖刺人中穴，以艾灸足心湧泉穴，男左女右各三壯；刺雞冠血滴入口中，以安心神，男用雌，女用雄。再以生薑湯化蘇合丸灌之，如無蘇合丸，以濃薑湯灌之。其一切治法，必待氣從口出，呼吸眼開，方可歇手。甦醒後，只宜少飲粥湯潤其咽喉，不可驟與飯食，依此拯救，雖身冷者，亦可十全二三。如有真山羊血二三分，研極細，酒調灌下立活。</p>

<h2>救刎死</h2>
<p>自刎之人，食管斷可治，氣管斷難治。蓋人之食管居前，氣管居後，刎之太深，則二管俱斷，故必死。若止食管斷，氣管微破者猶可救全。要知覺早，乘其氣未絕，額未冷，急將其頭扶住，用熟針穿絲線，縫於刀口皮內之膜上，往回間花縫。據方書用桃花散、降香末、松香末糝治，奈一時不能即得。倉卒之際，延醫莫及，急將活雄雞一二隻，扯下熱雞皮，（冷則無用。）將線縫刀口周圍纏護，外用軟絹帛並棉花扎之，再用女人舊布裹腳周圍纏五六轉，勿使泄氣，其中自然合而為一。令患者仰臥，以高枕枕之，使刀口不開，冬夏避風，衣被蓋暖，若氣能以口鼻通出，進糜粥及參湯接補元氣，再請明醫診視，待後如何解洗換藥，如何收口調治。如玉紅膏、生肌散，總聽醫家酌用，方不備載，載亦不易修合也。</p>
<p>俞按：桃花散，用石灰二升，大黃四兩切片，同炒，俟灰至桃紅色，去大黃，將灰細篩，收貯瓶內，過月餘，去火氣，方可應用。此散最能止血，為金瘡聖藥，價廉功敏，極宜制送。刎喉者，縫口即糝，後若日漸潰爛，以蔥湯洗去之，貼以象皮膏自斂。</p>
<p>又按：凡殺傷不透膜者，用烏鰂骨或龍骨為末敷瘡口上，血立止即蘇。內膜末損者，急取蔥白搗爛，熱鍋炒熟，遍敷傷處，冷則再換，雖氣絕者，猶可救活。</p>
<p>刎傷能咳一聲者，喉未斷也，慎勿用膏藥等物，止以舊氈帽邊燒灰傅之，晚間用茶洗去膿穢，自然漸愈。</p>

<h2>救溺死</h2>
<p>溺死者，夏月易救，冬月較難。撈起時用牛一隻，將溺人橫覆牛背之上，兩邊使人扶住，牽牛徐行，腹中之水自然從口中及大小便而出，以生薑擦牙即活。口噤者，撬開橫一箸於牙關，使可出水，再以竹管吹其兩耳，研生半夏末吹其鼻中，皂角末綿裹納入下部，蘇合丸或生薑汁灌入口內。若無牛，以活人仰臥，將溺人橫覆於活人身上，令活人微微搖動，水亦可出。若活人不能為之，可用水缸傾側，將溺人橫覆缸上，輕輕搖動其缸，水亦易出。或覆釜於地，以溺人臍對鍋臍俯臥，令人手托其頭，水亦可出。如在冬月，急將濕衣解去，一面炒鹽，用布包熨臍，一面厚鋪被褥，取灶內無火草灰，多多鋪於被褥之上，將溺人覆臥灰面，腹下以棉枕墊之，仍以草灰厚蓋於渾身，然後再加蓋被褥，但勿使灰迷於眼內。其撬口銜箸，吹耳鼻灌藥等治，俱照前法治之。夏月醒後，宜少飲米湯；冬月醒後，宜少飲溫酒，速令生人脫貼身衣服衣之，宜暖蓋，忌火烘。</p>

<h2>救凍死</h2>
<p>凡凍死之人，切忌熱水火烘，急用大鍋炒灰，盛布袋內，放在心口，並熨臍腹之間，袋須數個，冷即更換，灌以溫酒薑湯，或用厚棉被將凍人捲住睡臥，使二人推來轉去，俟血脈和通，一身漸溫則活。如無被，草蓆亦可。</p>

<h2>救熱死</h2>
<p>中暑昏悶，途中熱死者，不可與冷水吃，不可令臥冷地，當急移陰處，用大蒜搗爛，加路上熱土和水，去渣灌之，再掬路上熱土擁臍作窩，令眾人尿於其中，使暖氣透臍即活。</p>

<h2>救壓死</h2>
<p>摧壓跌打，從高墜下，落馬撲車，竹木所磕損傷者，皆瘀血凝滯，其大小便通者輕，不通者重，可用淡豆豉一合煎湯飲之，或用生薑汁同麻油和勻溫服之，再將淨土五升蒸熱，以舊布重裹，分為二包，更換熨之，不可太熱，恐傷破肉，痛止則已。若骨節打折脫離，搗生蟹極爛，用熱酒傾入，任量飲之，即以蟹渣敷患處，如無生蟹，干蟹燒灰，酒服亦可；或用大蟾蜍，搗如泥縛定，其骨自合；或用雄雞一隻，立刻去毛淨，以刀剖腹，裝五加皮六兩，五臟一毫莫去，乘熱速速搗爛敷患處，用棉裹暖，則血脈流通，如此一周時，即去敷藥，務要切記時辰，若遲去，則敷處反生多骨而帶疾矣。如氣絕沉重，取藥不及，擘開口，以熱尿灌之，用半夏末吹鼻，以艾灸臍，再將患人盤足坐住，將發提起，使氣從上升，則可活矣。</p>
<p>凡手足肩背壓重打傷，或青腫紫赤，血痕疼痛。不致內傷，用蘇木煎汁，磨降真香塗之。忌見水，塗數日漸愈。（以下俞增。）</p>
<p>生半夏、松香（或煮或壓去油）等分為末，不拘金石木器及騾馬咬傷見血，敷上即封口止痛。</p>
<p>墮撲損傷，瘀血在內煩悶者，用蒲黃末三錢，溫酒調下。《本事方》云：蘇合香丸研化，灌入即蘇。</p>
<p>半夏一錢八分，大黃一錢，冰片五釐，共研敷之，並治夾棍刀斧傷。</p>
<p>野苧根一兩搗碎，好酒煎，儘量飲醉。</p>
<p>青松毛、陳酒糟等分，搗爛敷患處，治跌打損傷。</p>
<p>望江青，一名天脂麻，搗汁沖酒服，渣罨傷處。</p>
<p>榆樹皮，搗爛敷之亦妙。</p>
<p>十一月採野菊花，連根葉陰乾，每服一兩，童便、醇酒各一碗煎飲，渣罨患處，瀕死者可活，神效無比。</p>
<p>跌墜毆壓馬踢刀箭諸傷，雖腎子壓出者可治，立能止血止痛，並不忌風。用白附子十二兩，白芷、天麻、防風、羌活、生南星各一兩，各研極細末，就破處敷上，傷重者黃酒浸服數錢，青腫者水調敷之立愈，價廉功大，地方官須預配合，如遇鬥毆傷者，可全兩命。</p>
<p>跌打骨已斷者，用十字路口來往多人出小便處磚一塊，入火內燒紅，再將童便一碗，以紅磚投入便中，再取磚燒紅，又入便中，如此九次，將磚研細末，每服五分，生酒沖服。酒儘量飲即效。（將磚預浸尿缸內數年，可預煅備用。）</p>
<p>市上乞兒破鞋底一隻燒灰，飛羅面焙黃，等分，好醋調成糊，敷患處，以絹束之，杉片夾定，須臾痛止，骨接有聲為效。</p>
<p>鳳仙花葉杵爛，頻頻塗上。</p>
<p>白蘆菔杵爛如泥，敷患處裹緊，過夜即瘥。</p>
<p>蜜和蔥白杵勻，厚敷患處立效，腦破者亦可用。</p>
<p>墜墮打撲，扭閃出骱諸病，用蠶砂、綠豆粉（炒黃）各四兩，枯礬二兩四錢，共為末，醋調敷之，絹包縛定，換三四次即愈，產婦避之。</p>
<p>又張蘭渚中丞云：晉人尚氣，每有事甚細微，一語不合，輒即鬥毆刃傷，較他省為多，又不善於調治，動致斃命。今訪有秘方，屢試屢驗，神效異常，特行刊發，有牧民之責者，亟須捐資慎選真實之藥材，如法制備，一有報傷之案，無論跌打損傷，金刃他物，骨折骨碎，立即給藥，照方醫治，勿臥熱炕，定有奇效。州縣仁心為質，遇有命案，往往執罪疑惟輕之論，不肯嚴辦。然與其曲為開脫，以致死者含冤，何如速加拯救，俾兩命俱得保全，功德豈不更大乎？方開於下：</p>
<p><u>十寶散</u></p>
<p>冰片　麝香（各一分二釐）　辰砂　乳香（去油各一錢二分）　子紅花　雄黃（各四錢）　血竭（一錢六分）　兒茶（二分四釐）　歸尾（一兩）　沒藥（一錢四分）　</p>
<p>共為細末，貯瓷瓶，黃蠟封口，勿使泄氣。（炳按：子紅花皆偽造，此方可易片紅花。）</p>
<p>一治跌打損傷，皮肉青腫未破者，用陳醋調敷患處，腫消即愈。</p>
<p>一治刃傷並各器械傷，皮破血出者，以藥糝上，包裹勿見風，血止立愈。</p>
<p>一治內傷骨碎，或骨已斷折，先將骨節湊准，以陳醋調藥厚敷患處，用紙裹，外加老棉絮包好，再用薄板片夾護，將繩慢慢捆緊，不可移動，藥性一到，骨自接矣。須靜養百日，如犯房事，必成殘疾。</p>
<p>一治刃傷深重，未致透膜者，先用桑皮線縫好，多糝藥末於上，以活雞皮急急貼護，如前骨損養法。</p>
<p>一跌打昏迷不醒，急用少許，陳酒沖服，自然醒轉，即便調治。</p>
<p>此方神奇，雖遇至重之傷，鮮有不起生者。</p>
<p>開通元寶錢一枚，燒而醋淬，研末酒下，能治折骨。</p>
<p>桃花散亦治跌損。狗咬者，用真麻油調敷。</p>
<p>墮車落馬，筋骨疼痛，用元胡索為末，酒服二錢，日二次。</p>

<h2>救魘死</h2>
<p>臥室原有燈者則存，本無燈者，切不可點，令人咬患者大拇指並腳後跟，頻頻呼喚其名，啐唾其面，再灌以薑湯，用生半夏末，或皂角末，或雄黃末，或韭菜汁，吹入鼻孔，或取梁塵如豆大納鼻中，以艾灸人中穴，並兩腳大拇指離指甲二三分，搖動骨節處，各三五壯。有用烏骨雞冠血，或雄鴨血滴口中者，有用尿尿其面者，有用竹筒吹其下部者，聽其隨便用之。</p>
<p>俞按：蘇合丸調灌亦可。</p>

<h2>救嚇死</h2>
<p>凡驚怖死者，以溫酒灌之即活。</p>
<p>俞按：薑汁、蘇合丸皆可用。</p>

<h2>救中惡</h2>
<p>屍喪邪氣，古廟墳塚，空房冷寓，廢署荒園，鬼神壇場，祈禱祠社，池沼苔蘚，醞濕藤蘿，樹木陰森，一經感觸，卒然昏迷，名曰中惡。急將病人移於宅內東方，以醋炭薰之，用薑湯化蘇合丸灌之，或玉樞丹亦可，再用蔥尖刺入病人耳內，出血即活，無血者重，若大吐大瀉，口鼻流血者，最稱難治。</p>
<p>又視其上唇內沿有泡如粟米粒者，以針挑破，出血即活矣。（以下俞增。）</p>
<p>又卒死暴疾，及中惡客忤鬼打，面青口噤，奄忽氣絕，用備急丸三粒，溫酒或溫水化而灌之，方用大黃、乾薑、巴豆霜各一兩，為末，蜜和搗千杵，丸如小豆大也。</p>

<h2>湯火傷</h2>
<p>湯泡火燙，急覓水中大蚌，放瓷盆中，將其口向上，少頃其口自開，預備冰片、麝香等分同研，投入蚌內，其口即合，少頃蚌肉盡化為漿，流於盆內，用雞翎掃傷處，即能止痛，恐將愈之時毒水不幹，即以蚌殼燒灰，碾篩極細，加冰麝少許糝之，蓋以綿帛，外加穰紙數層，滲去毒水即瘳。日服寧心敗毒之劑，以除其煩，無不奏效。無蚌之處，以柏油調杭粉掃之亦可，或金汁亦可，總不若用人之干糞燒灰，麻油調搽為妙，但人嫌穢汙，多不肯用耳。</p>
<p>石灰一升，入水數碗，候灰化澄清，以紙拖去水面浮油，取灰水一杯，再以香油一杯，同入碗內攪數百遍，即成糊漿，用鵝翎掃患處，即痛止腫消，三四日自愈，名清涼膏。如皮肉已破者，加豬毛燒灰、生地、熟地（各切片燒炭），等分研末，調入清涼膏內搽之甚效。（以下俞增。）</p>
<p>生大黃研末，糝湯泡，雞子清調塗火傷，止痛無瘢。</p>
<p>龍眼殼洗去薑黃，煅存性為末，桐油調塗，止痛無瘢。</p>
<p>生蘆菔搗爛塗之。</p>
<p>蕎麥麵炒焦，油調塗極妙。</p>
<p>夏月收老南瓜瓤，連子貯瓶內，久而彌佳，敷上即愈。</p>
<p>多年陳醬，緩緩塗之甚良，惟愈有黑疤。</p>
<p>秋葵花瓣，以箸攫取浸麻油內，塗上即效，兼治濕火浸淫瘡。</p>
<p>鱉甲煅存性，為末糝，或用菜油調搽。若皮膚臭爛者，以蛇蛻燒存性為末，麻油調搽，二三次即愈。</p>
<p>火傷者，若因痛用冷水浸，則火毒入內，不易治矣。須用溫酒洗潑，熱毒自出，再以不化石灰研末，不拘麻油、菜油，調勻塗之，破爛者，以杉木炭研末塗之。</p>
<p>最好以煮酒一二壇入缸中，將患人浸入，雖極重不死。</p>
<p>熱油澆傷，白蜜塗之。</p>
<p>爆竹火沖眼，令人以小便溺之，即痛定，徐用自己小便常洗自明。</p>

<h2>金刃傷</h2>
<p>刀割傷者，切勿見水，用圖書粉石糝之，滑石粉亦可，大黃炒黑研末亦可。或韭菜汁拌陳石灰陰乾研糝，或用堅實細炭，並老松香等分研篩細末，以韭菜汁拌陰乾，再篩細末糝之。若急用，不用韭菜汁拌亦可。</p>
<p>細辛、黃柏等分，研末敷。（以下俞增。）</p>
<p>茶葉研末敷。</p>
<p>菸草研末敷之。</p>
<p>壁錢，即俗名喜兒窠者，敷貼即愈。囊傷睪丸脫出者，托上，用此厚貼亦效。</p>
<p>鮮桑葉搗爛裹之，冬月用桑根白皮亦可。</p>
<p>紅棗肉搗如泥，封之。</p>
<p>口嚼燈心揜之，立能止血。</p>
<p>龍眼核去光皮，研細末糝瘡口，即定疼止血，並治磕跌傷，愈後無瘢。</p>
<p>端午日收野苧麻葉陰乾曬燥，搓熟取白絨收藏，凡金刃傷者，敷上止血，且不作膿。</p>
<p>刀割斧砍，夾剪槍箭諸傷，獨殼大慄，或土貝母，或生半夏，研末敷之，止血收口。</p>
<p>斷指者，以真蘇木為末敷之，外以蠶繭包固。</p>
<p>中槍血出如箭，原蠶蛾炒研末，敷之立效。</p>
<p>治箭鏃不出，陳年臘肉去皮骨搗爛，再以象牙末、人手指甲末各一錢，均研極細，同臘肉拌勻，厚敷箭鏃四圍，即出。</p>
<p>俞按：或以螻蛄搗取汁，滴上三五次即出，象牙末水敷亦良。</p>
<p>凡銃砲鉛子入肉，以水銀灌入傷處，鉛子即化，從水銀自患處流出。</p>
<p>中毒矢者，煮蘆根汁飲三升，或葛根汁亦可，外以雄黃末敷之，並納鹽臍中灸之。</p>
<p>竹木刺入肉者，刮人手指甲末，同紅棗肉搗爛塗之，或嚼生栗子塗之。</p>
<p>瓷鋒嵌腳，以三角銀杏仁去衣心，菜油浸透，搗餅貼之，爛多年者，四五貼必瘥，並治針刺入肉，日久而諸藥不效者，以此油灌患處即出，驗過。（俞增。）</p>

<h2>破傷證</h2>
<p>凡瘡癤潰爛，並刀槍所傷，最忌冒風染濕。冒風者，即角弓反張，痰涎湧盛，人事昏潰，則為破傷風，然傷有不同，初則在表，次則半表半裡，再則竟入里矣，證候不一，方難預定；而染濕者，即遍身腫痛，昏不知人，則為破傷濕，可用白朮一兩，酒二碗，煎一碗，熱服之。如萬不能飲酒者，以水煎亦可。無論傷風、傷濕，二者最稱難治，惟先用蝸牛搗爛，塗其傷處，內服之藥，須明眼隨證施方。</p>
<p>被毆傷風致死，在保辜限內者擬抵，有一方可全二命，以荊芥、黃蠟、魚鰾（炒黃）各五錢，艾葉三片，入無灰酒一碗，重湯煮一炷香，熱飲之，汗出即愈，惟百日內不可食雞。（以下俞增。）</p>
<p>黑魚頭，陰陽瓦上煅焦研末，每三錢，砂糖熱酒調服。</p>
<p>病人耳垢，並刮其爪甲末，唾調傅之。</p>
<p>新宰豬肉，乘熱割片貼患處，三易必愈。</p>
<p>蟬蛻研末，蔥涎調敷破處，即出惡水而平。</p>
<p>何首烏末敷之，血止腫平。</p>
<p>白麵、燒鹽各一撮，研，新汲水調塗。</p>
<p>鹽藏楊梅，連核搗如泥，捏成錠子，以竹筒收之，凡遇破傷，研末敷之，止血生肌無瘢，甚效。</p>
<p>玉真散最為妙劑，可敷可服，不但去風，亦能去濕，屢試屢效。按：南星真妙品也。癰毒瘰癧，眼疱痰核，均研末醋調，磕傷打傷，臁瘡爛足之腫，合黃丹石膏皆可參用。（蔣附。）</p>

<h2>人咬</h2>
<p>即用熱尿洗去牙黃瘀血，以蟾酥丸塗入孔內，或嚼生栗子塗之。如腫痛，用麻油紙拈火焰薰之，或用幹人糞裝荔枝殼內，安放患處，加艾圓灸之，以不痛為度。</p>
<p>蚌肉敷患處亦效。（以下俞增。）</p>
<p>豆腐店內架上淋下積成漿垢，刮下敷之甚效。</p>

<h2>虎咬爪傷</h2>
<p>蠶豆葉搗敷，無葉時以干蠶豆水浸軟，連皮搗敷。（俞增。）</p>

<h2>猴爪傷</h2>
<p>金毛狗脊焙研末糝之，或麻油調搽。（俞增。）</p>

<h2>馬咬</h2>
<p>雞冠血塗之，牝馬雄雞，牡馬雌雞。（俞增。）</p>

<h2>豬咬</h2>
<p>龜板燒研，香油調搽。（俞增。）</p>

<h2>瘋狗咬（即猘犬也）</h2>
<p>瘋狗者，乃朝夕露臥，為四時不正之氣所侵，陰陽肅殺之氣所感，舌出流涎，頭低耳垂，目赤尾拖，急走無定，多見於春末夏初之交，亦曰癲狗，亦曰癲狗，人被咬傷，即煩躁口乾，小便澀痛，最稱難治。其人頂中必有紅髮數莖，急須拔去，輕者用天南星、防風為末，各一錢五分，以酒調服；重者用斑蝥五個，去頭尾足翅，以糯米一合，同炒黃色，去米，將蝥為末，酒一盞煎半盞，空心溫服，從小便中下去惡物如小狗狀，必待皮色清白，方為毒盡，如毒未盡，須再服之。咬處輕者以生栗子嚼敷，或紫蘇葉嚼敷，重則必用男人熱糞敷之，冷即更換，待大勢平定，則用幹人糞燒灰，麻油調敷。</p>
<p>俞按：毛達可云：瘋狗咬者，最怕七日一發，發時形狀，天本無風，病者但覺風大，要入幔矇頭躲避，此非吉兆，過三七之日，無此畏風情形，方為可治。如被咬時，即於無風處以冷水洗淨齒垢，塗以杏仁泥，即服韭菜汁一碗，隔七日，再服一碗，四十九日共服韭汁七碗，再於瘡口灸之更妙，須忌鹽醋百日，忌豬肉魚腥一年，忌狗肉蠶蛹終身，方得保全，否則十有九死。徐木齋謂此方親見有效，若服斑蝥以致小便疼痛，俗云產小狗，此等無稽之談，萬不可信，欲解斑蝥毒，以冷水調六一散三錢，服三次，痛止而愈。</p>
<p>常犬咬者，亦須洗去牙垢，擠盡惡血，斫桑樹自然汁塗之。</p>
<p>蠶豆葉搗爛罨之。</p>
<p>杏仁嚼爛傅之。</p>
<p>大蒜衣燒灰，菜油調敷，再以大蒜衣貼灰上。</p>
<p>柿餅嚼爛封之。</p>
<p>白沙糖同大蔥白搗塗。</p>

<h3>蛇咬</h3>
<p>藍葉搗汁，調雄黃末敷之，或用雄黃、生礬杓內熔化，以箸頭蘸藥點患處，冷則易之，連點七次，或搗黃豆葉敷之。若毒走腫痛者，以麻油焰薰之，再用玉樞丹一錢，酒磨服之，取汗，或用半枝蓮搗爛，取汁三兩，熱酒四兩和服取汗，渣塗患處更妙。或用陰乾蒼耳草五錢，水煎一碗，熱服取汗。</p>
<p>人糞厚塗患處，牛糞亦可用。（以下俞增。）</p>
<p>搗大蒜和胡粉敷之。</p>
<p>扁豆葉杵爛絞汁，酒沖服，渣敷患處，冬間以燥葉酒煎服亦可。</p>
<p>明礬、麝香共研末糝上，以艾灸之即愈。</p>
<p>金絲荷葉草打汁塗之。</p>
<p>劈煙管，取其中煙膏塗傷處，菸葉末敷之亦可。</p>
<p>咬傷看傷處，有竅是雄蛇，無竅是雌蛇，以針挑破傷處成竅，然後以野苧麻嫩頭搗汁，和酒服三盞，絞渣敷瘡口，毒自竅中出立愈，將渣棄水中，永不再發。</p>
<p>急飲麻油一碗，免毒攻心，再用土貝母五錢研末，熱酒和服，再飲酒盡醉，安臥少時，酒化為水，從傷處噴出，候水盡，以渣敷瘡口，垂死可活。</p>
<p>萬年青搗塗之。</p>
<p>鮮梧桐葉嚼爛塗亦良。</p>
<p>毒蛇咬傷，急以利刀割去死肉為要。若傷在手足，用繩絹扎定，勿使毒氣蔓延至入心腹，再令人口含米醋或燒酒吮傷處，吸去其毒，隨吮隨吐，隨換酒醋再吮，以紅淡腫消為度。吮者不可誤咽入腹以致中毒，患者急飲麻油一二杯護心解毒。</p>
<p>五靈脂一兩，雄黃五錢，酒煎服，渣塗咬處。</p>
<p>白荷花須曬研末，酒調服一錢，再以絲瓜藤汁調搽患處。</p>

<h3>蜈蚣咬</h3>
<p>雞冠血塗之，梳篦上頭垢塗之。</p>
<p>又蜘蛛一個，安患處，使吸其毒，吸完擲蜘蛛於水內吐出毒氣，蜘蛛仍活。</p>
<p>舊竹箸，火中將頭燒黑，取下少許研細，敷患處立愈。（俞增。）</p>
<p>蜒蝣塗之立效。</p>
<p>煙油塗之亦妙。</p>

<h3>壁虎咬</h3>
<p>壁虎，即蝘蜓也，一名守宮，被咬者，以青苔塗擦，再用敗毒之劑加青苔三錢煎服。</p>
<p>俞按：刺毛螫者，以伏龍肝酸醋捏成團，在痛處搓轉，其毛皆出，最妙。</p>

<h3>百蟲入耳</h3>
<p>宜閉口勿言，以紙塞耳鼻，止留蟲入之耳，用麻油滴竅內，或出或死。如蜈蚣、蜜蜂、大蟲入耳，以肉炙香安耳邊，其蟲聞香自出；或用貓溺滴入即出，取貓溺以生薑擦鼻即溺。如蟲夜間暗入者，切勿驚慌叫喊，逼蟲內攻，宜正坐點燈，光向耳竅，其蟲見光即出，對面有人，其蟲不出，或以桃葉作枕，一夕自出。</p>
<p>雄黃研水灌之。（以下俞增。）</p>
<p>稻杆煎濃汁灌之。</p>

<h2>斷腸草毒</h2>
<p>（一名野葛，一名雷公藤，俗名菜蟲藥）</p>
<p>用雞抱雛卵擘破，以清油調勻灌之；或服生雞子二三枚；或服熱羊血碗許。總宜吐盡方蘇。</p>

<h2>誤吞水蛭</h2>
<p>水蛭一名螞蝗，用田中泥，或山黃泥丸梧子大，每服二三錢，空心開水送下，隨泥解出而愈。或用蜜半杯，調水服亦可。</p>
<p>俞按：誤吞蜈蚣者，熱雞血灌之即出；或用生雞子調勻沖酒服，服後再用生大黃末和香油飲之，頃刻瀉出。</p>

<h2>燒酒醉死</h2>
<p>解散其發，浸於新汲井水內，用熱豆腐切片遍身貼之，冷即更換，再煎葛根湯飲之；或取鍋蓋上氣汗水三杯，徐徐服之，醒後宜飲清綠豆湯。</p>

<h2>火薰悶絕狼煙煤炭毒</h2>
<p>生蘆菔搗汁灌之，重者以熱溺灌之。</p>

<h2>喉蛾</h2>
<p>輕者以杜牛膝根搗汁，加人乳些須，令病人仰臥，滴鼻孔內一二匙，不可嚥下，隨即起來，吐去痰涎即愈；重者用杜牛膝根汁入醋漱喉，吐去痰涎立愈。</p>
<p>喉痹（音秘）用真鬱金一錢，巴霜三分，明雄黃二錢，共為細末，水調為丸，如芥子大，每服十二丸，用熟水些須送下即開，遲則難效。</p>
<p>俞按：初起用食鹽自搓手心，鹽干再易新鹽，片時即消。</p>
<p>又極效方：斷燈心數莖纏指甲，就火薰灼俟黃燥，將二物研細，更用火煏臭蟲十個，一併搗入為末，以銀管吹之。</p>
<p>青魚膽臘月收掛風乾，以少許放舌上，含化立效，萬年青根水煎滴醋少許服之。</p>
<p>巴豆一粒研碎，或布或絹包好，左蛾塞右耳，右蛾塞左耳，如雙蛾，用巴豆二粒，左右並塞，一刻頭頂有泡，挑破即愈。</p>
<p>淨毛豬尾一莖，煮一滾，取其不硬不軟，徐徐插入喉內，觸破脹大之蛾，吐出膿血，再服解毒藥，此急救妙法。</p>
<p>芒硝研細一錢五分，膽礬、雄黃、明礬各八分，俱研極細，和勻吹之。</p>
<p>火硝一錢五分，官蓬砂五分，冰片三釐，共研細和勻，鵝管、蘆管、銀管俱可吹入，即吐痰涎而愈，亦可從鼻孔吹入。</p>
<p>喉閉以鴨兊、膽礬研細，釅醋調下，吐出膠痰即愈。或以牙皂搗爛，醋調灌入四五匙，痰亦即吐。</p>
<p>又方：紫金片一錢，薄荷湯磨，緩緩灌下即通。</p>
<p>又方：巴豆七粒去油，用紙包裹縛眉心上即開。</p>
<p>又方：白礬末五分、烏雞子一個，同調勻，灌入即效，甚驗。</p>
<p>又明礬二錢熔化，入巴豆仁七粒，燒至礬枯，去巴豆，研細吹入，即流涎而開。</p>
<p>又雄黃、芒硝各一錢，研細，以鵝管吹之，數吹即散。</p>
<p>咽喉戳傷不能飲食者，雞子一個鑽一小孔，去黃留白，入生半夏一個，入微火煨熟，以蛋白服之立愈。</p>

<h2>牙疳</h2>
<p>走馬牙疳，若無故起者，多由於膏粱厚味所致。亦有起自痧痘毒盛，或傷寒熱壅未經清解，火積於胃，涎流口臭，牙齦腐爛，甚至齒落者，急吹此藥於患處，再服清胃湯加黃連、蘆薈，遲則難救。若腮穿皮破者，更難救矣。吹藥用人中白五錢（煅），陳蠶繭二錢五分（煅存性），五倍子一錢（打碎），囫圇五倍子一錢，裝入明礬一錢（煅枯），川黃連末五分，蘆薈末五分，真牛黃三分，青黛五分，冰片四分，陳壁錢窠十七個（煅存性）。共研細末，先用河蚌煮湯漱口，後以此吹患處。</p>
<p>俞按：此證亦有因多服溫補藥而致者。</p>

<h2>霍亂</h2>
<p>凡人傷暑，腿肚轉筋者，名暑霍亂；傷寒腿肚轉筋者，名寒霍亂；傷食腿肚轉筋者，名食霍亂，皆上吐下瀉，雖稱危急，究是邪從吐瀉而出，尚屬可治。獨有氣機閉塞，不吐不瀉，轉筋入腹，痛不可言，名乾霍亂，若衝至心不可救矣，速用木瓜、吳茱萸各一錢，食鹽五分，水二鍾，煎一鍾，服之即愈。</p>
<p>俞按：霍亂轉筋一證，既有寒暑之分，亦有暑伏於內而寒束於外者，故服藥最宜審慎。乾霍亂，俗名絞腸痧，固由氣閉使然，亦有見轉筋者，史君所主之方，洵為妙劑。若轉筋入腹，多屬下元虛弱之人，寒暑雜受，深入陰經，宜用倭硫黃、肉桂、母丁香、吳茱萸各一錢，麝香當門子三分，各研極細，和勻，密貯小瓷瓶內，每用二三分，以蔥汁調置臍中，外以膏藥封之，一時即愈。即吐瀉太多而元氣欲脫者，亦可貼以回陽，因名曰回陽膏。若內治之法，既猝難分別證候之因寒因暑，況多利亡陰，血液已奪，雖可投熱藥者，亦恐剛烈劫陰，終於不救。此方藥雖猛峻而僅取其氣由臍入腹，自能溫通臟腑以逐寒邪，不致傷陰，誠為善策。但近年此證甚多，倉卒之間，惟恐製藥不及，願將此方廣為傳播，冀有力之家，預行修合，以應危急之需，則造福無涯矣。然藥味猛烈，止宜外治，斷不可吃，懷孕者並不可貼也。</p>
<p>又三聖丹：木香一兩（不見火），雄黃二兩，明礬三兩，共研細末，用鮮荷葉、橘葉、藿香葉各二兩搗汁，丸如梧子大，每服九分，治寒濕霍亂如神，重者再服。</p>
<p>又生芋艿治絞腸痧甚效，患此者食之味美，垂危可救。</p>
<p>乾霍亂者，俗名烏痧脹，人多不識，但北方患此者甚少，獨南方婦女及莊村農人，略染風寒暑濕之邪，則必刮痧，一刮即愈，其應如響，遂成慣病，此亦風土習俗，竟為醫藥捷經，凡鄉嫗老溫，是其手段，用齏湯一碗，或白水入香油數匙亦可，以麻蘸之，所刮之處，乃胸、脊、兩臂彎、兩膝彎、眉攢、頸下等部，所現之色，有紫、紅、黃、黑之分，飢、飽、寒、熱之別，重者必刺去惡血而後可。人若四肢無力，胸腹悶痛，凜寒困倦，眩暈嘔惡者，此即痧之將發也，宜速刮之，遲則氣機壅塞而竟有脹死者，余亦未解其故也。</p>
<p>俞按：痧脹有兼腹痛者，乾霍亂則腹痛如絞，證有分別，病源則一也，然須分別論治矣。郭右陶著《痧脹玉衡》一書，論之甚詳。若急痧欲死之證，須將病人之口撐開，看其舌底有黑筋三股，男左女右，以竹箸嵌碎瓷鋒，刺出惡血一點即愈。</p>

<h2>鼓脹</h2>
<p>其證有二：因虛寒所致者，金匱腎氣丸主之；濕熱所致者，用雞矢白炒沉香色，研篩細末一升，盛瓷瓶內，浸好酒二斤，密封煮三炷香，定清，隨意頓溫服之。或用真黃牛肉一斤，以河水煮極爛，加皮硝一兩，隨意食之，二三日其腫自消，至重者再一服，則愈矣。百日之內，忌酸、鹽、生冷、麵食、葷腥、油膩、黏硬之物。（雄按：牛肉、皮硝，消補並用之妙法也。楊素園大令嘗云：昔年治一腫證，始用溫補，而右半之病已愈，繼用芒硝三錢而左始消，與此暗合。）</p>
<p>氣虛中滿，用米鋪中破巴斗，去竹邊，將柳條連糠垢炙灰，每日送服一湯瓢，服三具即安。（以下俞增。）</p>
<p>氣鼓用陳年大麥須水煎湯服，泄氣即消。</p>
<p>又方：陳香圓四兩（去瓤），人中白三兩，共為細末，每一錢，開水空心服，忌鹽百日甚效。</p>
<p>石菖蒲一斤為末，每二錢白湯下。</p>
<p>活烏背𩺀魚一尾，愈大愈佳，再用獨核肥皂一個去子，同前魚搗爛，圍貼臍上，臍雖平而有紋影者，其氣自入，輕者貼一二日，重者貼三五日才應，氣蠱下泄，水蠱血蠱下瀉即愈。</p>
<p>水腫，以草屋上陳年稻草，煎湯傾盆內，先薰，俟溫，沃其腹，小便隨下黃水，二三次即愈，不復發。</p>
<p>又隔年西瓜一個，生芽滿腹者佳。將瓜切去蓋，用大蒜數十個去衣，裝入瓜內，仍蓋好，鹽泥封固，掘土深一尺，將瓜埋於土內，離土二三寸，上用炭火燒一晝夜，取出去火氣，以大蒜與病人食完即愈。</p>
<p>綠豆煎湯洗浴，並治黃疸甚效。</p>
<p>又西瓜一個，開蓋挖去子瓤，加雞內金不落水者四具，車前子四兩，入瓜內蓋好，瓜外遍塗爛泥，放瓦上炙存性，去泥研末，每服一錢，少加黃糖拌之，開水調服。</p>
<p>又幹絲瓜一條，去皮剪碎，入巴豆十四粒同炒，以巴豆黃色為度，去巴豆用絲瓜與陳倉米同炒，（米如絲瓜之多。）候米黃色，去絲瓜，研米為末，水法丸如桐子大，每百丸開水下，此元時杭州名醫宋會之方也。宋言巴豆逐水，絲瓜象人之脈絡，去而不用，藉其氣以引之，米則養胃以輔正，培土而勝水也。</p>
<p>又有食積停痰而腫者，以蟾蜍一隻，納胡椒一錢於其口內，外包洗淨豬肚一具，縫好煮爛丸服。</p>

<h2>小水不通</h2>
<p>新象牙末一錢，河水煎湯下立效。</p>
<p>俞按：此方久服可愈痔瘻，以象牙能消管也。</p>
<p>又向日葵根一兩，白酒煎湯服，外用蔥三斤切，炒熱分兩包，互熨少腹。</p>
<p>又麝香五釐，牙皂末一分，研勻，唾調塗溺孔上，再搐鼻取嚏即通。</p>
<p>又大田螺一個，鮮車前草一握，（無則以大蒜代之。）搗爛加麝香二三分，貼臍下水分穴，以帛束之，通即解去。尿梗病，以甘蔗青梢葉一兩，生酒煎服。</p>

<h2>瘍科</h2>
<p>（雄按：徐靈胎所批《外科正宗》、《瘍科選粹》等書，習瘍醫者皆宜究心也）</p>
<p>癰疽宜灸，疔毒宜針，明疔易治，暗疔難療。生於口耳眉目顴鼻者，顯而易見；生於身體四肢者，隱而難察。及至發作，每易混作傷寒，半日不治，毒必走黃入心，人即昏瞶，若知覺早者，急用鈹針或瓷鋒刺入二三分許，擠去惡血，當插立馬回疔丹於針孔之內，恐此丹猝不能得，可用蝸牛連殼搗爛敷之，或家菊花根葉搗爛敷之，俱內服梅花點舌丹，或蟾酥丸一二服，用菊花根葉汁和熱酒送下，出汗即愈。屢見患者怕痛拒針，殊不知一染疔毒，皮肉即僵，雖針不覺其疼，須放膽速針，切勿遲延而誤時刻也。雄按：徐靈胎曰：癰疽陽毒及生頭面者忌灸，疔瘡忌鐵，必用金針，或銀針為穩。</p>
<p><u>立消疔瘡膏</u></p>
<p>松香（以桑柴炭煎汁澄清，入松香煮爛，取出納冷水中少時，再入炭水內煮，以色白如玉為度，）二十兩；</p>
<p>白蠟二兩，切為粗末；</p>
<p>黃蠟十兩，刮為粗片；</p>
<p>明乳香三兩，研極細末；</p>
<p>沒藥三兩，研極細末；</p>
<p>銅綠五兩，研細過絹篩，再研至無聲為度；</p>
<p>百草霜（先將刮淨鍋底，專燒茅柴百草取煙煤，如以別種柴煙煤用入則不驗）研細過絹篩，再研至無聲為度，五兩；</p>
<p>麻油六兩。</p>
<p>先選吉日，擇淨室焚香齋戒，虔誠修合，忌婦人雞犬及孝服人見，用桑柴火將麻油煎滾，次下松香，候稍滾三下白蠟，候稍滾四下黃蠟，候稍滾五下乳香，候稍滾六下沒藥，候稍滾七下銅綠，候稍滾八下百草霜，滾過數次，於鍋內冷透，搓成條子，丸如龍眼核大，貯淨瓷瓶內，用時以一丸放水壺上燉軟，捻扁貼患處，頃刻止痛，次日腫消即愈，已走黃者，亦可回生。貼後忌葷腥、辛辣、沸湯、大熱、食生冷、發物、麵食、豆腐、茄子、黃瓜、酒，忌水洗，忌惱怒、憂悶、房事。（以下俞增。）</p>
<p>又方：生礬二錢，研極細末，用軟腐皮裹好，蔥頭湯吞下即愈。兼治發背、魚口、無名腫毒。</p>
<p>又活蜒蝣數十個，洗去浮黏，用清水一併吞下，三服即愈。</p>
<p>又甘菊花連根葉搗爛，熱酒沖服，渣敷患處，亦解牛肉毒。</p>
<p>指頭疔，宜先刺破，用豬膽一枚，剪去膽柄，傾去膽汁一半，加雄黃末二分，蜈蚣炙末一分，黃靈三仙丹五分，共研勻，入膽內攪勻，套指札根，數日即愈。</p>
<p>翻唇疔，多至七個者，名七星趕月，頭腫如斗，以蛔蟲搗爛塗之，頃刻瘡口流黃水而愈。如無蛔蟲，以五穀蟲熯末一錢，白礬三分，蟾酥三分，酒化烊，共調塗，即流毒水而安。</p>
<p>凡唇疔，即看大腿彎有紫筋起者，急用銀針刺出血愈。</p>
<p>諸疔以蟾蜍舌一個研爛，蟾皮蓋貼，其根即拔。</p>
<p>雄黃末一錢，烏梅肉三枚，蜒蝣二條，共搗爛塗，疔即拔出。</p>
<p>老南瓜蒂數個，焙研為末，麻油調塗，露頂。</p>
<p>灶上蟑螂杵爛敷之，其根立拔，亦可酒和內服，紅絲疔諸腫毒皆治。</p>
<p>鰟魮魚一個，杵爛塗之，疔即出。</p>
<p>諸疔誤食豬肉走黃。法在不治，急搗芭蕉根汁服之立效。誤食羊肉者，濃煎栗子殼湯飲。</p>
<p>紅絲疔走臂直上，用食鹽少許，從上擦下，待浮膚微損，紅絲旁散即愈。或更以小溲灌之尤妙。蔣附治驗。</p>
<p>痔瘡痛楚難忍者，用梓桐樹枝葉煎湯洗之，或豨薟草連根煎湯洗。（雄按：徐洄溪曰：此證切忌刀針砒滷線墜及三品一條槍等藥，誤用多致傷生，戒之！）</p>
<p>麒麟菜一兩，洗淨，天泉水煮烊，加白糖食之。（以下俞增。）</p>
<p>蕎麥麵以豬膽汁丸如綠豆大，吞服，以愈為度，極驗。</p>
<p>每日啖生荸薺三個，淡腐漿送。</p>
<p>常以柿餅湯代茶，兼能愈噎嗝。</p>
<p>絲瓜絡瓦上炙存性，研末，加冰片少許，麻油調搽。</p>
<p>韭菜不拘多少，先用盆盛熱湯，盆用有孔木蓋一個，投韭菜於湯中，卻以肛門坐對蓋孔，令熱氣薰之，候溫，用水洗瘡，不數次，腫消血止。</p>
<p>爛石榴四個，皮硝五錢，地骨皮、烏梅、槐花各一兩，煎湯薰洗。</p>
<p>翻花痔，木瓜研末，鱔魚身上黏涎調塗，以紙護之。</p>
<p>痔瘻，草本水楊柳根煎洗，有蟲出即愈。</p>
<p>又萬年青葉搗汁搽。</p>
<p>又棉花子仁、烏梅肉各六兩，共杵爛，丸梧子大，早晚三錢開水下。</p>
<p>喚痔去痔神方：如痔生肛內，以草烏研末，唾調搽肛門，痔即翻出向外，乃用花蜘蛛絲纏定，一時辰後略覺脹急，亦好忍，不甚疼，少頃反覺輕鬆，卻用大黑蜘蛛於瓶中煅枯為末，唾津調搽，漸覺作癢，以熟湯洗之，再搽，則癢定矣。如此七日，痔枯無患。</p>
<p>對口未成時，內服蟾酥丸，外用荔枝肉搗爛熬膏敷之，或調雞糞同極細胡椒末，入蜜些須調敷，或桑根白皮加桐油搗爛敷之，俱要不時更換，使藥力內達，即可消矣。</p>
<p>鮮茄蒂七個，鮮何首烏輕重等分，水二鍾，煎八分，一服出膿，再服收口。（以下俞增。）</p>
<p>對口一名梟疽，俗名落頭疽，用青蔗渣、白狗矢焙燥，為末和勻，將竹管一個，稀絹包竹管頭，入藥篩膏藥上貼之，垂死可活。</p>
<p>活金𩺀魚一尾，帶鱗腸胃，加山藥二三兩，同搗如泥，敷即漸消。</p>
<p>鱔魚四五斤置小盆內，以白糖霜糝魚上，則魚身之涎流聚一處，取而塗之，隨塗隨小而愈。</p>
<p>象貝母研末敷立效。</p>
<p>發背膏藥一方，余得之甚難，不惟去其資斧，而禮下於人者至再，設法購求，方能得之，及合藥送人，無不取效，今刊布廣傳，倘有同志修合濟人，乃余苦心求方之幸也。</p>
<p>滴乳香（箬包燒紅，磚壓去油）四兩；</p>
<p>淨沒藥（制同上）四兩；</p>
<p>白色兒茶　上好銀硃　鮮紅血竭　杭州定粉　上好黃丹各四兩　上好銅綠三錢。以上俱各碾至無聲，篩極細末，和勻，瓷瓶密貯，臨用照患之大小，用夾連四油紙一塊，以針多刺小孔，每張以藥末五錢，真麻油調攤紙上，再用油紙一塊蓋上，周圍用線將二紙合縫一處，貼患上即止痛化腐生新。過三日，將膏藥揭開，濃煎蔥湯將患上洗淨，軟絹拭乾，將膏藥翻過，用針照前刺小孔貼之。因藥品甚貴，取其又得一面之藥力也。無火之人，內服十全大補湯；有火之人，減去肉桂、薑、棗，兼以飲食滋補，無不取效。至重者用膏二張，百無一失。</p>
<p>發背初起，用生白礬三錢，大黑棗四枚（去核），同打為丸如桐子大，每服二錢，好酒下。（以下俞增。）</p>
<p>又五倍子末二兩，藤黃二錢五分，研細末，醋調圍之，一切腫毒皆治。</p>
<p>又龜板一味，去肋，塗黃蠟炙透，內服外敷有奇效。</p>
<p>背疽惡瘡，收口長肉，用青蔗渣曬燥，煅存性，研極細，以小竹管如瘡口大者一個，稀絹包其頭作篩，篩藥末填滿瘡孔，膏藥蓋之。</p>
<p>背癰及一切大毒，用大蟾蜍一個，剝取全身之皮，針刺數孔，將皮之外面向患處貼之，大能拔出毒氣，且包住瘡口不令長大。指頭疔亦可包，而瘰癧潰後口不斂者，及痘後回毒亦著奇功，但切記不可將皮裡面著肉，恐咬牢不可揭也。</p>
<p>濕痰流注，初起疼痛，漫腫無頭，皮色不變，久而不治，則發熱作膿，潰爛成漏，知覺早者，於未破頭時，急服此藥十餘劑，即能內消，醫治多人，最稱靈驗，不信服者，縱有他藥，無出其右。若虛弱之人，誤用行藥，元氣一虧，更難醫治。方用：</p>
<p>土茯苓（瓷鋒刮去皮，木棒打碎）四兩，真膽星、橘紅、秦艽、防風各二錢，真川貝、殭蠶（炒去絲）、淨銀花、槐花（炒）、五倍子（研碎）各三錢，木通一錢，防己八分，白甘遂（刮去皮碎末）七分，鮮皂角子（打碎）九個，鮮肥皂子（打碎）十個。體虛者加石斛二錢，苡仁三錢；患在頭項胸者，加夏枯草二錢；在脊背者，加羌活五分；在脅肋者，加柴胡五分；在肚腹者，加赤芍二錢，澤瀉一錢；在臀者，加獨活五分；在腿足者，加木瓜二錢，牛膝一錢五分。每劑用河水九碗，砂鍋內煎至去渣三碗，每日早、中、晚各熱飲一碗，虛弱人一劑分為二劑，極虛人分為三劑，小兒分為四劑。忌食鹽、醬、茶、醋、豬肉、魚腥、雞、鵝、雞子、一切發物、煎炒、薑、椒、煙、酒、生冷。再方中有白甘遂與甘草相反，恐別樣丸散內有甘草者切不可犯。凡已破頭者，止服此方四五劑，使氣血調活，不致流串他處，隨服十全大補湯，加川貝一錢五分，石斛二錢，煅過滴乳香四分，須服數十劑，方能全愈。若素屬多火之人，大補湯內減去薑、桂勿用。</p>
<p>俞按：此證俗呼流注串毒，而不知因痰濕入絡所致，外科皆不善治者此也。毛達可先生極推控涎丹之功，亦取其有走絡滌痰之甘遂等藥也。與史君此法若合符節，而煎劑尤易見效矣。</p>
<p>黴瘡治不得法，不但一身為害，而且殃及妻兒，甚有不嗣之虞。其治法各有不同，有遏抑其毒而不令其出者，有重用行藥而行去其毒者，有升生之劑而發出其毒者，有用解托之藥而敗去其毒者。四者之中，惟升生解托可從。至於遏抑不出，將來必至結毒，重用行藥，勢必大傷元氣。余有一方，藥止數味，既非行抑，更覺平和，且無論新久，不二十劑而能收功，不獨永除後患，亦復無礙生育，但恐收功之後視為容易，又恐恣情縱欲，豈非助紂為虐，是誰之過歟？依我狂言，當痛改前非，力行善事，挽天地之惡絕，保父母之遺體，免自己之罪孽，培子孫之福壽，所得不益多乎？方用：</p>
<p>當歸五錢，淨銀花、防風、荊芥、何首烏（不經鐵器、木棒打碎）各三錢，肥皂子（打碎）九個，土茯苓（瓷鋒刮去皮，木棒打碎）四兩，豬胰一具。</p>
<p>上以河水六碗，砂銚內煎至三碗，每早、中、晚，各食遠溫服一碗，忌鹽、醬、醋、茶、雞、魚、鵝、鴨、蝦、蛋、鮮物，葷則止宜土茯苓煨豬肉，素則止宜白菜及豆腐，他物皆有所忌，茶則以土茯苓湯代之。</p>
<p>又方：豬胰、土茯苓各二兩，芭蕉根一兩，雪裡紅五錢，銀花、五加皮各二錢，角刺、木瓜、蟬蛻、白蘚皮各一錢，炙殭蠶七分，皂莢子（打碎）、獨核肥皂仁（切片）各七粒，水三大碗，煎一碗，飢時服。年久力衰者，加苡仁五錢，綿黃耆三錢，甘草節、懷生地、西洋參各二錢；久不愈加胡黃連三錢，胡麻仁二錢，全蠍七個。（以下俞增。）</p>
<p>又方：棉花子仁研如泥，入研細生槐花末，和丸如綠豆大，每四錢，空心及午後吞。</p>
<p>結毒方用極木，一名十大功勞，一名貓兒殘，黑子者是，紅子者名樞木，亦可用，取其葉泡湯，或為末，不住服。兼治積年虛勞痰火，且能健脾進食。</p>
<p>結毒喉爛蒂舌落，上齶穿破，用極大蝸牛（煅）五個，兒茶二錢，活松樹皮（煅存性，勿沾灰塵）二錢，冰片七分，各研細粉，和勻吹之，名咽喉至寶丹。</p>
