<header data-type="book">
<h1>先哲醫話集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>長尾藻城</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>一　司命</h1>
<p>古人謂醫為司命官者。蓋本諸扁鵲之言。是不知道者耳。扁鵲之言曰。疾有骨髓。雖司命無奈之何。是雖謂司命。而不謂已為司命也。可以見已。夫死生有命。命者天之令也。孔子之所罕言。諸子之所不得聞也。醫其如夫命何。蓋醫者。掌疾病者也。謂之掌疾職則可矣。謂司命官。則所以誣扁鵲。惑來學者。莫斯為甚矣。學者思諸。（鶴沖元逸著醫斷所載吉益東洞言）</p>

<h1>二　死生</h1>
<p>死生者命也。自天作之。其唯自天作之。醫焉能死生之哉。故仁不能延。勇不能奪。智不能測。醫不能救。唯因疾病致死非命也。毒藥所能治已。蓋死生者。醫之所不與也。疾病者醫之所當治也。故曰。盡人事而待天命。苟人事之不盡。豈得委於命乎。是故術之不明。方之不中。而致死者非命矣。（中略）世醫動輒豫定其死生。彼其意謂。斃我手。則害於名矣。間有一二中者。益信其臆不爽也。夫察聲氣色。眂其死生。周官之所命也。豈不可乎。雖然。察之以臆。眂之以臆。使其生者。輒編之鬼籍。恝乎束手。以待其斃。是豈仁人之用心乎。故眂其死。猶且盡我術。以望其或生。古之道也。然而不生。然後可謂命也已矣。唯重其名。故唯眂其死。不能忘死生於執刀圭間。所以惑也。唯重其仁。故唯眂其生。所以世醫所謂死者。間有起者也。故曰死生者。醫之所不與也。（同上）</p>

<h1>三　元氣</h1>
<p>元氣之說。聖人之所不言也。大經莫有焉。蓋自漢儒創也。下至唐宋大盛。遂為醫之恆言。曰。元氣虛。曰元氣衰。曰。補元氣。夫元氣者。陰陽一元氣也。天之所賦。人之所生。所謂先天之氣也。是豈可虛衰者哉。亦豈可補乎哉。若夫隨年齒而旺衰者。天地之道。萬物之常也。非人力之所能挽回也矣。如其當強壯而衰弱者。則有所抑遏也。除其所抑遏者。則復其常矣。彼不辨之。妄以為虛衰而欲補之。可謂愚矣。又曰。行氣則病自除。蓋本之素問曰。百病生於氣。雖然。病之者毒也。毒乘之也。豈氣特病乎。又氣毒自除乎。說者不論及此。誤矣。（同上）</p>

<h1>四　脈候</h1>
<p>人心之不同。如其面也。脈亦然。古人以體肥瘦。性緩急等。為之規則。然是說其大抵耳。豈得人人而同乎。醫謂人身之有脈。猶地之有經水也。知平生之脈。病脈稍可知也。而知其平生之脈者。十之一二耳。是以先生之教。先證而不先脈。先腹而不先證也。扁鵲曰。越人之為方也。不待切脈望色聽聲寫形。言病之所在。可以見已。且如留飲家脈。千狀萬形。或無或有。不可得而詳矣。夫脈之不足以證也。如此。（中略）</p>
<p>世有隱其病。使醫診其脈。以試之者。乃恥其不知之似拙。以意推度。言其彷彿。欲以中之。自欺之甚矣。醫其思諸。（同上）</p>

<h1>五　腹候</h1>
<p>腹者。有生之本。故百病根於此焉。是以診病必候其腹。外證次之。蓋有主腹症者。有主外證焉者。因其所主。各殊治法。扁鵲曰。病應見於大表。仲景曰。隨證而治之。宜取古法而求其要矣。（同上）</p>

<h1>六　醫意</h1>
<p>醫意之說一出。而世之狡兒。以為口實。曰。醫之道。唯意以推之。何必讀書受業。而後為之邪。籲。妄者陋者。豈可與言道哉。蓋醫之為道。自有一定法。何鑿推妄行之為。其如是也。不由規矩以擬方圓。不用繩墨而置曲直。豈得不差乎。學者思諸。（同上）</p>

<h1>七　痼疾</h1>
<p>世醫以痼疾名持病。而難於治矣。至如中風。嗝噎。脹滿。痿躄等。難之益甚。是無他方不得法也。蓋方法不愆焉。則無病不愈也。今從法處方。其所難者。得治不少矣。彼已不能治。則雖千百人中起一人。不亦善乎。此非入門同道。不易論焉。（同上）</p>

<h1>八　素難</h1>
<p>素靈之書。古人以為先秦之偽作。周南先生曰。六朝以降之書。然其中間有古語可法者。學者擇焉。難經傳以為越人書也。而其言理最勝。故害道亦多。考之扁鵲傳。亦唯偽作而已。（同上）</p>

<h1>九　修治</h1>
<p>（前略）去酷烈之本味偏性之毒氣。以為鈍弱可狎之物。何能除毒治病哉。蓋毒即能。能即毒。制以益毒則可也。殺則不可矣。（同上）</p>

<h1>一○　毒藥</h1>
<p>藥者。草木變性者也。偏性之氣皆有毒。以此毒除彼毒耳。</p>
<p>周禮曰。聚毒藥以供醫事。又曰。以五毒攻之。</p>
<p>左傳曰。美疢弗如惡石。</p>
<p>古語曰。毒藥苦口利於病。</p>
<p>內經曰。毒藥攻邪。</p>
<p>古者以藥為毒。可以知也。後世自道家之說混疾醫。以藥為補氣養生之物。不知其為逐邪驅病之設也。可謂失其本矣。甚則至有延齡長年。還少不死等之說。庸愚信之。煅煉服食。以誤其身者多矣。悲夫。（同上）</p>

<h1>一一　藥產</h1>
<p>藥產有某土宜處。某土不宜處。其土之所生。性之所稟。不可不詳也。（同上）</p>

<h1>一二　名方</h1>
<p>世俗所謂名方者。間有奇效。故醫傳之。非醫者亦傳之。不審其所出。而一時施用有驗者。相傳以為名方也。蓋載書籍者。未必佳。傳俗間者。未必不佳。宜博求普問。以輔其術矣。（同上）</p>

<h1>一三　禁宜</h1>
<p>人性之所好惡不同。稱口腹者為宜。不稱者不宜。古者養精以穀肉果菜。未嘗言禁宜也。後世嚴立禁宜。曰。某物增病。其物勝藥也。然其為物所奪者。非藥也。何以勝彼病之為哉。立禁宜之弊。至進其所惡。禁其所好。不亦左乎。（同上）</p>

<h1>一四　產褥及腹帶</h1>
<p>產蓐之法。方土所習各殊。其有害者除之。無害者從之。勿為收生家法所拘束焉。恐反生他病已。蓋產後困倦。欲眠且臥。而今京師俗。數日戒之甚不可。又妊娠腹帶之法。中華固無之。本邦有之者。世謂神功皇后徵韓。妊娠擐甲。故用之非常法也。（同上）</p>

<h1>一五　醫治未病</h1>
<p>使天下狴犴無人。訟庭生莎。君相之德也。故曰。必也使無訟乎。使民人體常無病。壽考以終。醫師之德也。故曰上工治未病。（皆川淇園門人南部生著技養錄）</p>

<h1>一六　素問名義</h1>
<p>素問全元起云。素者本也。問者黃帝問岐伯也。方陳性情之源。五行之本。故曰素問。乾鑿度云。夫有形者。生於無形。故有太易。有太初。有太始。有太素。太易者未見氣也。太初者氣之始也。太始者形之始也。太素者質之始也。氣形質具。而疴瘵由是萌生。黃帝問此太素質之始也。素問之名義或由此。文獻通考經籍考云。晁氏曰。昔人謂素問者。以素書黃帝之問。猶言素書也。真仙通鑑云。天降素女以治人疾。帝問。遂作素問也。以上諸說。非牽強則迂誕。且如是當謂問素。不可謂素問也。素問注證發微云。素問者。黃帝與岐伯鬼臾區伯高少師少俞雷公六臣。平素問答之書。此解素字旨不甚遠。而猶未全是。愚按素豫也。國語夫謀必素。注韋昭曰。素猶豫也。漢書陸賈傳。將相和則士豫。附註師古曰。豫素也。是素豫互訓。蓋同義矣。又按。史記秦紀昭王曰。物不素具。不可以應卒。漢書趙充國傳曰。誠非素定廟勝之策。素字並亦當以豫看也。問者黃帝問岐伯等也。夫民庶蚩蚩。不知養生之道。暴施妄作。由以生疾。以嬰橫夭。猶如不問法禁。而自抵罪。黃帝仁智豫問岐伯以養生之道。避邪之術。以此垂世。以俾元元得全生於無窮者。亦是聖人務本之揆矣。上古天真論曰。聖人不治已病治未病。不治已亂治未亂。又曰。病已成而後藥。亂已成而後治之。譬猶渴而掘井。鬥而鑄兵。不亦晚乎。是其特於卷首。揭示之本旨者。且夫內經一部之書。獨論病理而不備藥方。其意蓋亦專在豫防故也耳。（同上）</p>

<h1>一七　醫不可不貴</h1>
<p>予嘗語同志醫曰。醫者不可不貴也。易曰。天地之大德曰生。夫風雨而潤之。日月而烜之。是見天意之在生物矣。聖王之御極。秉彝倫之道。敷禮樂之化。以利民生。乃是其奉天命行天意者矣。但人外有六淫之感。內有七情之結。民之不終命而死。其尚在疾病乎。昔者大聖神農。嘗百藥以創捄療。黃帝問岐伯以作內經。此天子之為醫者也。伊尹佐商王。論廣湯液以資醫用。此宰相之為醫者也。想古之時醫。必人人而知之。故能若是也。至周始設醫職。譬猶古者人人諫君。至漢特有諫官。雖然尚列之天官。未敢輕醫也。醫既起死肉骨。必養人天罔極之龢。以介含息無疆之壽。是故聖王好生之德。不用醫則不可為得其全矣。古人有謂曰。上醫醫國。曰生生之具。王官之一守。醫之事也。如斯其胡得置諸下卑乎。後世醫職不貴。故英材偉器。恥醫而不為。為之亦不必深學。蓋後之無良醫亦職此之由。其內或有上工者。乃亦以厥身在卑。人多不威。不威則不服。不服則不信。不信不服。神丹亦徒塵飯土羹耳。故曰醫者不可不貴。非以予身所事。強為之肸飾也矣。（同上）</p>

<h1>一八　藥氣味</h1>
<p>藥之理病。氣以制氣。而氣不空生。必因於味。國語曰。味生氣生也。（同上）</p>

<h1>一九　膽大</h1>
<p>史載。姜維死時見剖。膽大如斗。蓋是相沿俗說。余友嘗請官得刑徒之屍。解剖觀之。膽附肝臟。大不過如無花果。則雖勇敢過人。焉能有其膽如斗之理乎。又內經云。膽者中正之官。決斷出焉。竊考蘭書膽盈苦汁。主運轉氣液。消導水穀。蓋以獸膽功用推之。則蘭書之說。為協其理。則云決斷之府。乃亦空理附會耳。（同上）</p>

<h1>二○　節色欲</h1>
<p>余在京師。一再驩西依誠齋先生。先生時齡九十三。善啖健步。精神益壯。余問其壽繇。先生曰。歲四十餘失偶。人勸後妻。自謂既有儲嗣。所冀惟壽。終峻拒之。矜居至今。或此事見益也。歸鄉之後。按此索高壽之人。遽得數輩。詢之。言如出一口。足以驗先生焉。又按宋劉安世自遷謫後。懼遺父母之憂。遂舉意絕色欲。自言自是未嘗有一日之疾。三十年來。血氣意思如當時。終日接士友。劇譚雖夜不寢。精神如故。夫養生之道。又有個節色欲一事。正爾明較。（同上）</p>

<h1>二一　同藝相嫉</h1>
<p>翰墨射御醫卜。以至書計伶人。均是材藝。自古藝人。多不學道。以故其藝彌高。而娼疾彌多。卒至以相忌害。不謂不夥。亢倉子曰。同道者相愛。同藝者相嫉。凜然哉。（同上）</p>

<h1>二二　醫匠之心</h1>
<p>醫以濟生惠人。為己任者。以笏室之卑。而上無恥於槐位。故賈太傅曰。古之聖人。不居朝廷。必在醫卜之中。非謂醫之有可貴乎。醫以釣名弋利為其心者。以千鍾之富。而下有侔於奸賈。故關子曰。商賈之言。醫匠之心。非謂醫之有可賤乎。（同上）</p>

<h1>二三　利器毒藥</h1>
<p>盤根錯節。非利器則不斷。痼疴難瘼。非毒藥則弗除。但利器易傷物。毒藥易害人。是固可畏矣。而醫之良者。用毒愈多何也。蓋物有非常之性。而有非常之能。夫韓信英布詐力虐徒耳。而漢高善用之則興。假令其疑惡不用。吾未知夫鹿落乎誰手也。（同上）</p>

<h1>二四　使方法</h1>
<p>佛者曰。心迷法華轉。心悟轉法華。余亦曰。醫昧方法使。醫明使方法。（同上）</p>

<h1>二五　貴者難療</h1>
<p>貴者有疾。尤為難療。郭王對和帝。言有四難焉。見於後漢書。余謂貴者難療。其由豈止四。眾人攙和。而醫令不行。婦人執事。而將息失度。藥則先適口而不要利病。方則專補益而忌疏滌。並皆其所以謂難療也。且夫君上疊。膝於深宮之中。氣血抑遏。無從疏進。置車方溫柔之鄉。斫喪過寸。罔省節制。五鼎八珍。餖飣於前。重幌密幃。燠鬱於後。無一不為疾病之資矣。其既然矣。以是賢君舉醫。知頤生之道者。以任之獻替。此謂之治未病也。（同上）</p>

<h1>二六　醫有十四不可</h1>
<p>今之為醫者。有十四不可焉。特學而疏術。一不可也。主意而昧法。二不可也。年少而粗思。三不可也。年老而難事。四不可也。護生而遁危。五不可也。見利而忘仁。六不可也。輕生而寡惻。七不可也。畏死而多遽。八不可也。厚富而薄貧。九不可也。惈賤而憚貴。十不可也。拘例而失權。十一不可也。趕變而惑常。十二不可也。巧言而炫技。十三不可也。標己而伐人。十四不可也。若能去所不可。其可也。乃將自至。忽之無省。其不可也。乃將長不除。為醫如是。其害於人也不鮮。何其惠民濟生之云者。（同上）</p>

<h1>二七　回光反照</h1>
<p>人疾篤。俄而飲食加倍。言色俱見愈狀者。其死必近。俗謂之間晴。言如久霖中間。假見晴色也。嘗從舌官。訪之清客朱鑑池。朱答。名曰回光反照。（同上）</p>

<h1>二八　人之所病醫之所病</h1>
<p>人之所病。病疾之多。（病者憂世以下同）而醫之所病。病道之少。（石阪竿齋著扁鵲傳解）</p>

<h1>二九　病有六不治</h1>
<p>病有六不治。驕恣而不論於理。一不治也。輕身重財。二不治也。衣食不能適。三不治也。陰陽並藏氣不定。四不治也。形羸不能服藥。五不治也。信巫不信醫。六不治也。有此一者。則重難治也。（同上）</p>

<h1>三○　記性</h1>
<p>汪訒庵云。金正希先生。嘗言人之記性皆在腦中。凡人外見一物。必有一形影。留在腦中。小兒腦未滿。老人腦漸空。故皆健忘。愚思凡人追憶往事。必閉目上瞪而思索之。此即凝神於腦之意也。（出於本草備要辛夷注）王惠源醫學原始亦云。人之一身。五藏藏於身內。止為生長之具。五官居於身上。為知覺之具。耳目口鼻聚於首。最顯最高。便與物接。耳目口鼻。之所導入。最近於腦。必以腦先受其象。而覺之。而寄之。而剖之。而存之也。故云。心之記。正寄於腦耳。黃庭內景。亦言腦為泥丸宮。元神居焉。是必有本。何惑之有。予按阿蘭說。人之精神在於腦中。故人斷頭立死。亦與內景之說符矣。而五雜俎。談薈。載頭斷而不死者數則。此是人妖耳。（醫賸上卷）</p>

<h1>三一　少腹名義</h1>
<p>王冰注氣交變大論云。少腹謂臍下兩傍髎骨內也。劉熙釋云。自臍以下曰水腹。水汋所聚也。又曰少腹。少者小也。比於臍上為小也。病源候論。以少腹為𦣀腹。未詳何義。（同上）</p>

<h1>三二　初學診脈</h1>
<p>初學診脈之際。心以為弦。則如弦。既又以為緊。則如緊。除浮沉大小滑澀等之外皆為爾。譬之靜坐聞鵓鴿聲。心認脫布褲而聽之。則莫聞而不脫布褲。認德不孤而聽之。則莫聞而不德不孤。蓋心預有所期也。王叔和曰。心中易明。指下難晰。方此際洗盡胸次所蓄。寓孔神於三指頭。自然得矣。（同上）</p>

<h1>三三　病分左右</h1>
<p>王文正筆錄云。蓋人身一氣脈也。今及其感病。左癱者不及右。右瘓者不及左。麻痹亦有如此者。又有汗出偏於左右者。又有瘡瘍。左不淫於右。右不浸於左者。又有偏腹毒。自首至踵平分寒熱者。（見船窗夜話）雖則一氣脈。其有界限如是。筆錄所載。恐不虛誕也。（醫賸中卷）</p>

<h1>三四　賊風</h1>
<p>醫壘元戎。俗云。賊風者。窗牖之風也。非也。予按以窗牖之風。解經之賊風。固非也。然此攝生家之所最可避也。嘗閱明陳龍正幾亭外書云。孔隙風。名為賊風何也。曰平面風。如開口之呵。檐下之風。如嘬口之吮。呵溫而吹冷。吹已不可不避。況孔隙風乎。鐵之為物。方圓平厚。可坐可憑。惟刀錐不可近。薄與尖故。縫風如刀。隙風如錐。可謂能近取譬矣。（同上）</p>

<h1>三五　露首溫足</h1>
<p>予夜寢必覆被沒頭。否則不能穩睡。數十年以為常矣。內典云。欲得老壽。當溫足露首。又應璩詩。下叟前致詞云。暮眠不覆首。嘗日中坐地讀者。見頭上有影二三尺。蒸蒸如遊絲。蓋陽氣之從玄府上騰也。方知露首所以得壽。而下叟之言不偶然。然不能頓止。（同上）</p>

<h1>三六　左右齊診</h1>
<p>魯華祝衛藏圖識云。西藏醫。名厄木氣。其視脈。以左手執病者之右手。右手執病者之左手。一時齊診。予向得本邦古醫書一卷。其中載診脈法云。左右齊診。而脈動應於醫之手。左右動數不齊者死之兆也。此從前脈書。所未言及焉。（同上）</p>

<h1>三七　引線候脈</h1>
<p>世傳。翠竹翁引絲診脈。此醫書所未言。襄陽縣誌。載崔真人名孟傳。北人關人。從族兄授醫學。掃云留月。直得壺公妙術。萬曆朝。太后病篤。真人應召。詔自簾孔引線候脈。投劑立愈。上賜官賜金。皆不受。遂賜以真人號。後於武當羽化。自號樸庵。此恐因小說西遊記孫悟空之事傅會者。（醫賸下卷）</p>

<h1>三八　針入肉中</h1>
<p>針誤入肉。若不即出。經年累月。走趨肉中。必出從他處。予亦往往目擊焉。袁漫恬書隱業說云。鄂州武氏女。得奇疾。痛時宛轉不堪。一道之人以藥傅之。一鐵針隔皮跳出。余侄家幼婢。寤寐中手面脘間。如蟲螫之毒。若有物入於中。自後蠕蠕微動。漸漸緣臂灣。環而上。直至肘背。忽露一細頭。以指摘之。乃是一無孔鐵針。其痛始愈。計其三月之久矣。夫針之偶入膚肉亦常耳。獨異其宛轉而上。且能自穴而出。視武氏之女。又異矣。昔人之所謂蜿蜒如龍者。安知非此等耶。以是。知事理之不可測。而物性之不可知也。（同上）</p>

<h1>三九　不見前醫之發劑</h1>
<p>青囊瑣探曰。凡有病之家。延醫服藥數日。猶未見效。則信疑相半。遂又召他醫。出前醫之發劑。以問可否。予每臨如是則不見其劑。夫人心不同如其面。有誰與我意符合者乎。若見其藥。我以為不可。豈可默止乎。若吞之而為可。則失信於患者也。且以彼之所是我非之。則恐為妒婦之口。此余所以不見前醫之發劑也。若病家篤信余懇請治無二心。則披見前醫之措劑。識別其攻補奈何。然後與藥矣。呈。以辨口炫術之醫。自我乞覽前劑。漫謗其缺。當以欲奪人功。假令其不拙。殆可謂小人也。（緒方惟勝編杏林內省錄）</p>

<h1>四○　大同醫式</h1>
<p>（大同三年奉敕施行者治承元年曲藥頭所寫&lt;抄錄&gt;）</p>
<p>一醫官每朝寅時。獨考自脈。知日氣而出任。</p>
<p>一君上御惱之間。醫官不許房中之事。犯者解官。</p>
<p>一醫官診女官等。不許直問病根。</p>
<p>一御惱之時。選醫而令御藥上之。群醫有異考。則雖夜中可申之。</p>
<p>一醫官之家。不許恣居遠所。</p>
<p>一御惱之時。醫官禁酒。</p>
<p>一御惱急時不應召者。解官。</p>

<h1>四一　後藤艮山之死生診徵</h1>
<p>按腹自心下至臍。任脈突起者。病聚脈下故也。病不聚者。脈不必突然。老人肉脫。發此證者為死期。</p>
<p>虛憊症。唇色不淡白者。耳輪未萎者。可救活也。是宜熟察。</p>
<p>病至大患。目不瞬者。眼胞元氣脫也。乃為反目兆。近死期。</p>
<p>專發聲音者。多吐血而脈不數。是不足畏。真吐血者。其脈必數急。是大可恐。</p>
<p>虛勞脈細數者。脈乍見和平則為近死期。易所謂枯楊生華。何可久也。雖緩者不出五七日而死。（先哲醫話）</p>

<h1>四二　心小膽大</h1>
<p>余每稱心小膽大之語。以為醫家吃緊。（後藤艮山）</p>

<h1>四三　狂證在婦人難治</h1>
<p>狂證在婦人難治。黴毒在婦人易治。（後藤艮山）</p>

<h1>四四　痿痹之辨</h1>
<p>痿與痹易混。而詳之。則痹者主皮膚不仁。痿者主筋骨萎軟。（同上）</p>

<h1>四五　妊娠鑑別</h1>
<p>妊娠與血塊易混。然塊者。頑固沉著。無發揚之勢。妊娠者。凝結溫然。有潤澤之氣。又訊之於婦人。夜陰快寢後。小腹勃然突起者娠也。又乳頭黑者妊也。（同上）</p>

<h1>四六　求嗣法</h1>
<p>求嗣法以溫腰為主。故灸腰眼穴效。浴溫泉亦效。（同上）</p>

<h1>四七　虛勞發痔漏</h1>
<p>虛勞有直腸疼痛。大便難。或發痔漏者。此皆以肺、大陽損傷。為難治。（北山友松）</p>

<h1>四八　著述三日而成</h1>
<p>土佐翁（謂長澤道壽）隱棲西山。著醫方口訣集。三日而成。有馬氏涼及。手寫證治準繩全帙以諳記。其卓識篤志民可並稱。（先哲醫話）</p>

<h1>四九　君子有三惜</h1>
<p>夏布政字正夫。未嘗以淹屈降志。嘗曰。君子有三惜。此生不學一可惜。此日虛過二可惜。此身有敗三可惜。北山友松續之曰。有善不作四可惜。有過不改五可惜。老來怨天更可惜。（同上）</p>

<h1>五○　方者法也</h1>
<p>方者法也。如毀舊屋。而建新屋。故使方而不使於方為要。假令如以中風方治咳嗽。是使方也。若以風藥治風。以咳藥治咳。是不使於方也。況索病根而治之。諸證不治而自治。乃上乘法。（北山友松）</p>

<h1>五一　方無靈</h1>
<p>阪陽老醫。問起死回生之方。答曰。方無靈。唯求本耳。不言其他。（同上）</p>

<h1>五二　癱瘓</h1>
<p>癱瘓經年者。一旦忽然手足動。目睛爽。即急變候也。（同上）</p>
<p>病癱瘓。肩髃骨開脫。如容五指者不治。又握掌不開者不治。開而不握者治。（和田東廓）</p>

<h1>五三　病者豫後診徵</h1>
<p>一病者目赤。眼睛不轉如魚目者。為難治之候。</p>
<p>一病人不論緩急。將診之。宜隔床望見其形氣。形氣縮小。神彩枯瘁者死候。不必持脈而知之。</p>
<p>一傷寒舌圓厚者。又薄小者。皆為惡徵。又始終白苔不變者。亦為難治候。又厚者赤者。皆為虛也。</p>
<p>一臍下悸。按之與呼吸相應者。病人雖危篤。其死有間。</p>
<p>一凡大病眼中爽者惡候。不了了者。反有生意。勞瘵及雜病。眼神與病相應者為佳。</p>
<p>一診大病。鼻梁亦為要訣。醫書徒論明堂。而不及之。為缺點。</p>
<p>一病人絕脈者。暴出為惡候。微績為佳兆。不止脈如厥逆。亦然。</p>
<p>一偏枯證有治不治之辨。病者握手者決不治。試使握手仰臥。則手必開。復起之則如故。是為惡候。</p>
<p>一久病人。左右偏臥者。一朝忽得自由臥。則死期在近。</p>
<p>一病人舌上白苔。其下含紫黑色如牛舌者。為惡侯。此舌候兼面戴陽。則更為危矣。</p>
<p>一患瘵疾者。襟際肉先脫。與他病羸瘦不同。宜熟察。</p>
<p>一瘰癧成癆者。與痔漏成癆者。其理全同。但有上下分耳。（和田東廓）</p>
<p>一診病人。宜察眼中之了不了。與音聲之爽不爽。此二者清亮則不死。</p>
<p>一血證脈弦數者。有不測之變。可恐矣。（荻野臺州）</p>
<p>一病人有呼吸乍失調度乍復者。不出五六日死。（同上）</p>

<h1>五四　欲善外科先宜精內科</h1>
<p>夫欲善外科。先宜精內科。何則。瘡瘍雖百端。不能出於陰陽虛實。苟審之而施之治法。則於外科。無有間然矣。（華岡青洲）</p>

<h1>五五　活物窮理</h1>
<p>學醫者。如宋儒窮理。不先格知人身窮理。而後審疾病。則不能至極致矣。（同上）</p>

<h1>五六　蝮蛇咬療法</h1>
<p>蝮蛇咬。內服烏頭湯及紫丸。外塗柿實汁則愈。（同上）</p>

<h1>五七　破傷風豫後</h1>
<p>破傷風。其初項背強。或言語蹇澀。寒慄者可治。若至角弓反張。則多難治。產後痙病亦然。（同上）</p>

<h1>五八　乳岩之豫後</h1>
<p>乳岩有經水者易治。經水斷者難治。又乳岩者。懷孕則其核忽成大也。（同上）</p>

<h1>五九　勞瘵之豫後</h1>
<p>勞瘵不可治。似勞瘵者可治。膈噎不可治。似膈噎者可治。世醫動謂能治之。蓋其似者耳。（永富獨嘯庵）</p>

<h1>六○　遺傳黴毒</h1>
<p>黴毒稟於胚胎者。決不治。假令一旦得痊。後必發。為人父母者。可不慎之於其初乎。（同上）</p>

<h1>六一　醫制病</h1>
<p>醫為病制。則雖藥峻劑大。其病不易治也。醫制病。則雖藥慢劑小。其病可治也。醫宜謀諸未病之日。徵諸既病之日矣。（同上）</p>

<h1>六二　不治而自愈者</h1>
<p>閱諸病者。不治而自愈者。百人之內過六十。其餘四十。十人者必死證。十人者難治。十人者險證。非良醫不能救。特下工所療者十人耳。（同上）</p>

<h1>六三　食欲色欲害人孰甚</h1>
<p>食欲之害人。甚於色欲。而世人徒知色欲之害。不知食欲之害。悲夫。（惠美寧固）</p>

<h1>六四　嗝噎之豫後</h1>
<p>嗝噎。壯年者可治。四十以上者必不治。嗝證心下結塊。累累如拳者為惡候。又舌上發紫色斑者。同之。（同上）</p>

<h1>六五　水病之豫後</h1>
<p>水病脈出者死。譬之於溺水者。有生氣者必沉。既死者必浮。其元氣衰者脈自浮。元氣不衰者。脈自沉微。故水病脈滑浮為凶。沉實為吉。千古不磨也。（同上）</p>

<h1>六六　貓咬症處方</h1>
<p>瘛狗毒鼠。古今論其治。而至貓毒寥寥無聞。予曾為家貓所咬。痛楚苦惱。不可名狀。因普檢毒獸咬傷之方。將水晶一味。煎服。其病霍然如脫。後復發。乃作黃連解毒湯加虎脛骨。兼服之。數十日全愈。（同上）</p>

<h1>六七　石榴皮治汞毒</h1>
<p>余嘗見磨古鏡者。將石榴皮磨之。則銀光剝盡為銅色。乃知水銀之所忌。世解輕粉毒。專用石榴皮。洵有以也。（福島慎獨軒）</p>

<h1>六八　精神病灌泉療法</h1>
<p>發狂者。與三黃加芒硝湯。兼灌瀑布泉為妙。灌泉法。使患者著𧜞。而以麻索縛之於梯。別以手巾覆其頭。而後灌百會。又以手當額上。御眼鼻而灌天庭。次至胸間膻中。則其人易堪而克奏效。（泉水濁者不佳。宜選取清冷者也。）（同上）</p>

<h1>六九　淫腹痛之療法</h1>
<p>娼婦始入妓院。與客接十餘日。必發寒熱腹痛。俗稱曰淫腹痛。海蘿能治之。如寒熱不去者。宜小柴胡湯加海蘿。（同上）</p>

<h1>七○　醫之上工下工</h1>
<p>醫有上工。有下工。對病欲愈。執方欲加者。為之下工。臨診察機。使藥要和者。為之上工。夫察機要和者。似迂而反捷。此賢者之所得。愚者之所失也。（同上）</p>

<h1>七一　人生有自然之理</h1>
<p>人生固有自然之理。而疾病亦不外於人身。故醫審其理而治之。否則施治益謬。是以長沙氏之書。務矯其弊。可不鑿哉。（同上）</p>

<h1>七二　未診而豫擬其方</h1>
<p>醫者對病人。未診之前。問其證候。胸中預擬其方。則診畢後。反失其真諦。宜虛心精診。而後熟慮下案矣。（多紀桂山）</p>

<h1>七三　莫如善讀其治驗</h1>
<p>欲識古人臨證施治之妙。莫如善讀其治驗。予將掇其精英。類為一書。而年老未果。哀矣。（同上）</p>

<h1>七四　赤痢之豫後</h1>
<p>痢疾初起。脈數無倫。下利頻數。精神不安。額上汗出。面部肉脫者。皆為不治。（多紀茝庭）</p>

<h1>七五　腳氣之豫後</h1>
<p>腳氣。下部無水氣。胸背頸間面部。或手背浮腫者。忽至衝心。不可輕視。如水腫上盛者亦然。</p>
<p>腳氣嘔逆喘急者。為衝心之漸。不可忽諸。然復有似而非者。（同上）</p>

<h1>七六　序跋徒極稱揚</h1>
<p>近來舶齋醫書。大率蹈襲陳言。未有所發明。而其序跋徒極稱揚。顧不讀古書者之所為。要之優孟衣冠。不過追時流。釣名利耳。（同上）</p>

<h1>七七　讀醫經秘訣</h1>
<p>凡讀書經。遇訓義有確據。則舉其一二而足矣。不必取繁冗也。</p>
<p>訓詁雖精。而其義不切於治術者。未為得也。訓詁雖不精。而施不於疾病。必有實效者。乃為得經旨矣。</p>
<p>凡立說者。非通貫全經。則不可謂之盡理蘊。非該盡萬理。則不可謂之得經旨。矧乃欲以變律常者。拘於常而不通變者。皆不善讀之故也。（同上）</p>

<h1>七八　良藥苦於口利於病</h1>
<p>孔子曰。良藥苦於口。利於病。</p>
<p>吉益為則注曰。藥者皆毒也。以毒干毒。而疾乃瘳。奚藥之良之有焉。</p>

<h1>七九　不為窮困改節</h1>
<p>君子修道立德。不為窮困而改節。為之者人也。生死者命也。</p>

<h1>八○　學醫費人</h1>
<p>東坡云學書費紙。學醫費人。凡醫誤藥幾十遭。然後困心焦慮。得以成良醫之名。（高森正因）</p>

<h1>八一　吉益東洞之識見</h1>
<p>片倉鶴陵曰。芳村恂益。見聞雖博。著者雖多。其學竟不傳焉。如吉益為則。學問不博。所見亦偏。而其術至今益行。醫之於識見。不可不審也。（杏林雜話）</p>

<h1>八二　杉田玄白之詩</h1>
<p>九千里外存知己。五大洲中如比鄰。（杉田玄白）</p>

<h1>八三　手術之精煉</h1>
<p>筑前陶村醫生養樸。以眼科聞四海。常盛水於盆。浮發於其內。以燔針刺其發。發兩斷於左右。曰不如此。則不能刮眼中之筋膜。其子學之數年。其發雖兩斷。水有微聲。父曰。有聲者不可刮眼。其人不堪痛苦也。（杏林雜話）</p>

<h1>八四　醫書之虛實</h1>
<p>凡醫書。其文巧而不知倦者。多虛也。文陋辨拙。易生厭心者。卻實也。人好虛嫌實多矣。可不思乎。（醫學言志錄）</p>

<h1>八五　學之進也有漸矣</h1>
<p>學之進也有漸矣。不可急迫。古人譬之一樹之花。自蓓蕾至開坼。日進不捨。有漸而不遽。（同上）</p>

<h1>八六　易者卻難難者卻易</h1>
<p>世人以讀書窮理為難。以臨病施治為易。易者卻難。難者卻易。難易互謬。是醫之所以無上工也。（同上）</p>

<h1>八七　醫戒數則</h1>
<p>一老醫之話。不可苟聞。俗醫之方不可苟記。</p>
<p>一學醫多入揚子之門。術士遂陷墨子之阱。豈可不慎哉。</p>
<p>一醫者雖業忙無讀書之暇。心不可宜忌之。苟忘之。則只是藥鋪之徒。</p>
<p>一近世之醫。致美於衣裳。竭飾於器物。而置診法藥性於度外。豈可謂之醫哉。</p>
<p>一艱辛勞苦者。成業之良藥。</p>
<p>一醫者讒而有欲流行之念。便是不仁之根。</p>
<p>一寸塵入眼。不見大山。可不懼乎。</p>
<p>一蠶吐絲以利天下。醫用佞以計一身。可以人而不如蟲乎。</p>
<p>一方今斯道不絕猶縷。吾徒足於衣食。安於枕蓆者。其恩安在乎。</p>
<p>一所知益高。則所行愈卑。此古今之弊。</p>
<p>一凡學藝非可活用於今日者。此無益學也。聖人之死物。不若愚人之活體也。（醫學言志錄）</p>

<h1>八八　我非賣藥者何必求流行</h1>
<p>有人曰。我非賣藥者。何必求流行。此言似立一家之言。而實非也。凡有仁愛者。必有此業。有此業者。必有此功。有此功者。人必慕之。人苟慕之。則雖欲業不行而得乎。（同上）</p>

<h1>八九　師恩之厚</h1>
<p>凡人隨師受教時。崇之如天。親之如父。而及其開業立門也。昂然自得。如有生知之德而不思師恩之厚。甚則至於有誹議師說。蔑如重恩者。噫。人情之偷薄。禮儀之壞亂。何夫至於斯也。（同上）</p>

<h1>九○　為醫者在讀醫書</h1>
<p>為醫者。在讀醫書。讀而不能為醫者。有焉。未有不讀而能為醫者也。（靈樞史菘序）</p>

<h1>九一　於治術全是俗人</h1>
<p>今之所學。僅能知病人之所自知而已。不能知病人之所不自覽。故於治術。全是俗人。數十年後。而初得與俗人異。（中略）一日學之。有一日之益。是所貴於脈也。（脈經）</p>

<h1>九二　扶陰抑陽訥言疾行之戒</h1>
<p>言者乾道也。行者坤道也。故陽常有餘。陰常不足。是以有扶陰抑陽訥言疾行之戒。醫者尤可猛省焉。（醫學言志錄）</p>

<h1>九三　醫不病</h1>
<p>經云。醫不病。故為病人。平息調之。所謂枉己者。未有能正人者是也。（同上）</p>

<h1>九四　道體數則</h1>
<p>一天地以生物為心。故人心亦是一個生道而已。</p>
<p>一經云。獨出獨入。又曰獨往獨來。凡技藝至其極。則皆有此地。</p>
<p>一仁者。是醫之體也。目視五色仁也。耳聞五聲仁也。指診五脈仁也。口問證狀。亦仁也。無仁何據。</p>
<p>一吸菸吃茶。亦是拂雜念之一良藥。</p>
<p>一呼與吸。所資以始者。孰先孰後。學者以為何如。</p>
<p>一易曰。君子以虛受人。醫之道亦如此而已。</p>
<p>一在天謂之大氣。在人謂之元氣。其氣乃一矣。</p>
<p>一程子曰。天地萬物之理。無獨必有對。皆自然而然。非有安排也。以位言。則上下表里。以氣言。則動靜盈虛。進退升降。以時言。則寒熱溫涼。臥起朝暮。兩兩相對。不期然而自不能不然。是謂之自然之理。</p>
<p>一明天理。察病變。醫師之道也。痊與不痊。此亦別理。</p>
<p>一先輩曰。運氣者。醫家之大業。診治之一端。</p>
<p>一法立而能守。則道可久。業可大也。久是天地之理。大是天地之象。（同上）</p>

<h1>九五　藥物之產地</h1>
<p>（產于山者產於水者）</p>
<p>凡藥物之產于山者。多是敵風寒。生於水者。多是利水濕。藥性之成分。不能不自然矣。（同上）</p>

<h1>九六　醫之三德（智仁勇）</h1>
<p>觀人之疾患。若己有之。是仁也。責有無。以詳其診。此智也。剛決明斷。以投方劑。此勇也。該此三德。而始謂之醫。（同上）</p>

<h1>九七　嚴威儼格非愛之道</h1>
<p>嚴威儼格。非愛之道。但主愛而可初入於醫門矣。（同上）</p>

<h1>九八　愛而不勞則非醫</h1>
<p>愛而不勞則非醫。勞而不愛亦非醫。（同上）</p>

<h1>九九　醫書亦是墳典</h1>
<p>醫書亦是墳典之一。（同上）</p>

<h1>一○○　以仁為己任</h1>
<p>聖門學者。以仁為己任。吾黨之士。亦以仁為己任。（同上）</p>

<h1>一○一　為生民愈病</h1>
<p>為天地立心。為生民愈病。（同上）</p>

<h1>一○二　樹無仁則不生</h1>
<p>人無仁則道絕。樹無仁則不生。杏仁桃仁。其名不虛。（同上）</p>

<h1>一○三　有良工有粗工均是醫也</h1>
<p>有良工有粗工。均是醫也。蓋所謂小德川流。大德敦化。（同上）</p>

<h1>一○四　唯是感應而已</h1>
<p>程子曰。天地之間。只有一個感與應而已。人之體亦如是。有感而有應。見應而知感。故醫之治法。亦感應而已。（同上）</p>

<h1>一○五　醫之道在明於業</h1>
<p>凡醫之道。但明於業。則可以進仁。文辭之巧拙。不足以為患也。（同上）</p>

<h1>一○六　仁義禮智信</h1>
<p>慈惻人之病。是仁也。診候得其宜。是義也。方法適其度。是禮也。機變能處之。是智也。終身而不失。是信也。（同上）</p>

<h1>一○七　學業者本也</h1>
<p>治術者技也。學業者本也。培其本而達其技。是謂之正學。彼以治術而已者。卑矣。（同上）</p>

<h1>一○八　知藥不知方</h1>
<p>知藥而不知方。知方而不知術。知術而不知道。豈可謂之醫乎。（同上）</p>

<h1>一○九　玉帛鐘鼓者禮樂之末也</h1>
<p>玉帛鐘鼓者。禮樂之末也。脈症方劑者。醫道之用也。若其全體。乃別有真理。今之人多就於脈症方劑。而說陰陽表裡。寒熱虛實。至其所以為然之理。則曰。無益於治療。安異以玉帛鐘鼓為禮樂。而不求其所以為禮樂者乎。（同上）</p>

<h1>一一○　昔人之元素說</h1>
<p>元素者。即氣也。氣也。即陰陽也。故所謂六十元素者。分碎陰陽而言之。陰陽者。統合六十元素而言之。是以天地之間。陰陽之外。別非有元素者也。（同上）</p>

<h1>一一一　醫之修養</h1>
<p>其一　平者人身之常理</p>
<p>人者。居於遊氣紛擾之中。或從或逆。得其宜以調神。謂之平也。平者人身之常理。失常理則疾病立到。（同上）</p>
<p>其二　心緒煩冗言行亦自浮躁</p>
<p>凡心緒煩冗。則言行亦自浮躁。當斯時也。氣息以吹之。或壓之於臍下。而神氣始定。（同上）</p>
<p>其三　人身之靈猶如燈盞</p>
<p>人身之靈。恰如燈盞然。火是神。盞是體。油是飲食也。無體則不能飲食。不能飲食。則神失所養。神失所養。則欲不消滅而可得哉。是以精神飲食形體三者備。始謂之人。如其命數。乃是系燈心之長短也。故風前之燭。古人之所深戒也。（同上）</p>
<p>其四　人之生世以調神為要</p>
<p>有天地而人存其間。故曰。天地合氣。命之曰人。</p>
<p>人稟天地陰陽之氣以生。因血肉以成其形。</p>
<p>以天地為父母。</p>
<p>因念天氣者何。呼吸是也。地氣者何。飲食是也。呼吸陽也。故肺先受之。飲食陰也。故胃先受之。經曰。陽化氣。陰成形是也。是以一身氣力之根。在於呼吸。全體形肉之基。在於飲食。陰陽相合。形氣相保。而神存於其中。故人之生也。以調神為要。（同上）</p>
<p>其五　修其神養其精</p>
<p>修其神養其精者。是治未病之事也。去外誘之外。無他術矣。故外誘之不去。是百病之根。（同上）</p>

<h1>一一二　疾病</h1>
<p>一經曰。氣合而有形。因變而正名。是言盡之矣。</p>
<p>一病名不立。則治術無所施。尼山曰。名不正則言不順。</p>
<p>一虛邪中於人也。譬如虛器入水。水自然入。若以一器實水。置之於水中。水何能入來。蓋中有主則實。實則不患不能襲。</p>
<p>一夫無病者。人之常也。有病者。人之變也。故人在氣中。常而變。變而又變。變化無窮。醫豈易言乎。</p>
<p>一潮熱盜汗本是一也。潮熱如雲。盜汗如雨。</p>
<p>一人身之發熱。猶天地之溽熱也。雨降而暑去。汗出而熱解。故曰。陰之汗以天地之雨名之。</p>
<p>一論病則要明其因。論人則須識宿素。（同上）</p>

<h1>一一三　黃疸豫後（其惡證）</h1>
<p>黃疸煩渴。吐逆腹脹者為惡證。若夜不得眠。煩躁熱渴者。不出二三日而死。</p>
<p>腹中有癖塊。而一身發黃者。名曰癖黃疸。亦難治。（福井楓亭）</p>

<h1>一一四　信而後行</h1>
<p>孫真人曰。法為信者施。不為疑者說。又論曰。疑師不治病。疑藥不服之。服之即不得力。決意不疑者。大神驗。</p>
<p>物理論。有醫竘者秦之良醫也。為宣王割痤。為惠王療痔。皆愈。張子之背腫。命竘治之。謂竘曰。皆非我背也。任子制焉。治之遂愈。竘誠善治疾也。張子委制焉。夫身與國。亦猶此也。必有所委制。然後治矣。</p>

<h1>一一五　大病當委一醫</h1>
<p>大病當委一醫。</p>

<h1>一一六　醫門一業慈愛為先</h1>
<p>醫門一業。慈愛為先。常存救治之心。方集古賢之行。近來醫者診察疾病。未言理療。訾毀前醫。不量賦性庸淺。專務妒賢嫉能。利己害人。驚嚇患家。意謀厚賂。此則不亦禽獸之心乎。</p>

<h1>一一七　古之臟器療法</h1>
<p>李東壁曰。人陰莖非藥物也。輟耕錄載。杭州沈生。犯奸事露。引刀自割其勢。（勢人勢也）流血經月不合。或令尋所割勢酒服。不數日而愈。（中略）人勢一作睪丸。（原南陽）</p>

<h1>一一八　產婦側臥</h1>
<p>本邦產婦禁側臥。特子玄子著產論。令乳婦去產帶。安臥。余嘗遊其門。親炙之。其臥者。神心安靜得快睡。防暈除熱之良策也。其驗大勝於藥餌。而人皆憚之。（同上）</p>

<h1>一一九　知雨霽</h1>
<p>病者知風雨晦晴者。皆是血分之不爽也。或屬虛乏。或屬瘀滯。打撲折傷。癥瘕皆知之。云云。（同上）</p>

<h1>一二○　四季脈名</h1>
<p>春脈弦。夏脈洪。秋脈浮。冬脈沉。（察病指南）</p>

<h1>一二一　觀人形性脈法</h1>
<p>人長則脈長。人短則脈短。人肥則脈沉。（一云脈厚。一云脈細而實。）人瘦則脈浮。（一云脈急。一云脈大而長。）人壯脈欲大。人弱脈欲小。反之者為逆。形盛細少氣不足以息者死。形瘦脈大。胸中多氣者死。老人脈微。微陽羸陰者平。（一曰脈濡而緩）婦人脈當軟弱於丈夫。小兒四五歲脈。實自駃。呼吸八至。（一云幼人脈數而壯）性急脈急。性緩脈緩。（同上）</p>

<h1>一二二　察平人損至脈法</h1>
<p>凡一呼一吸為一息。一呼脈再至。一吸脈再至。是一息之間。脈四至並五至。不大不小。不短不長。是為平人之脈也。</p>
<p>一呼一吸脈不及四至者。曰敗。（一曰氣虛）其人少氣。三至者曰遲。（一曰損。）其人可治。二至者。曰敗。（一曰寒）其人難治。延時而死。一至者曰息。其人雖行。方當著床待時而死。此為陰病之損脈也。故曰。陰病脈遲。</p>
<p>一呼一吸脈六至者。曰數。為始得病。七至曰極。（一曰無魂）八至者曰脫。（一曰奪精一曰無魄）九至者曰死。十至者曰墓。（一曰困）沉細者困在夜。浮大者困在晝。十一十二至者。曰死。（一曰絕魄一曰命頏）沉細夜死。浮大晝死。此為陽病之至脈也。故曰。陽病脈數。（同上）</p>

<h1>一二三　診暴病脈法</h1>
<p>脈來急大洪直者死。細微者無害。（同上）</p>

<h1>一二四　定生死訣</h1>
<p>陽病得陰脈者死。陰病得陽脈者生。脈病人不病者死。人病脈不病者生。（同上）</p>

<h1>一二五　女孕（男女鑑定法）</h1>
<p>陽脈皆為男。陰脈皆為女。</p>
<p>陰中見陽為男。陽中見陰為女。</p>
<p>左乳先有核者為男。右乳先有核者為女。</p>
<p>又法。令妊婦面南行。於背後呼之。左回來者生男。右回來者生女。（同上）</p>

<h1>一二六　能醫人多矣</h1>
<p>能醫人多矣。能使人皆能醫人不多也。蓋以醫醫人有限。以醫教人無窮。（同上序文）</p>

<h1>一二七　學道志也行醫業也</h1>
<p>學道志也。行醫業也。不以志廢業。不為業棄志。心不可不勉焉。業不可不精焉。古之人。有抱道而隱耕漁之間者。乃以憂天下之心。為憂耒耜不利之心。以其思人民之情。為思網罟不密之情。居居然而耕。得得然而漁。然豈一日忘天下乎。故與夫乘風雲之會而顯其績。得水魚之遇。而成其效者。其跡雖異。而其志則同矣。（永富獨嘯庵）</p>

<h1>一二八　醫殺人甚於賊者有焉</h1>
<p>劫人于山野。養其口腹者。謂之賊。而其殺人通計之於生涯。雖其多者。亦不過五十人若百人。方今之醫。術拙而幸行於時。不知不識戕人。通計之於日日。三五人者。蓋不為少。生涯盛者則不知其幾千人。其心雖固不出於害人。至使某死於非命則一也。無乃其陰惡。甚於夫賊耶。嗚呼。仁之術果奚在。學醫者如之何其可不畏且勉乎。（同上）</p>

<h1>一二九　千人之治驗</h1>
<p>醫雖才氣秀出於人者。試治方於危篤之病。不過千人。則知見不明。得處難謗。（同上）</p>

<h1>一三○　醫之位置</h1>
<p>身處四民之外。或可貴。或可賤。上陪王侯不為榮。下伍乞兒不為辱。可優遊以卒歲者。唯吾技為然。而自非有確乎不拔之操。難矣。其不為油滑佞諛之人。（同上）</p>

<h1>一三一　遊惰之人腹裡結癥瘕</h1>
<p>後藤艮山曰。百年以來遊惰之人。腹裡結癥瘕。余徵之都邑市朝之人。比比皆然。蓋大平日久。民庶蕃息。金錢虛損。奢佚日盛。則知巧之民不免病氣勢也。醫人施治之日。從這處下工夫。則大有裨益矣。（同上）</p>

<h1>一三二　死生有命</h1>
<p>死生有命。聖人之言。不可誣焉。命者天之令也。自天作之。故謂之命。疾病者。醫之所治也。醫之所治。則人事也。人事與天命。判然不可混焉。醫欲司死生。以天命為私有也。不亦傲乎。醫斷既言之頗較著。而世人猶或惑焉。以不知治疾之要也。夫醫之於死生。猶將之於勝敗也。死生勝敗共在天。非人之所司也。唯盡其術而已。唯精其謀而已。源廷尉逆櫓之諍。韓淮陰背水之陣。能堪頃暫之苦辛。則能享永久之榮枯。所謂瞑眩而疾瘳者邪。故將之良否者。忘於勝敗。醫之良否者。忘於死生。得之於法。成之於習。功用既就。心不謂之亂。坦然安於命。謂之得道之真也。所以盡人事而待天命也。（續醫斷）</p>

<h1>一三三　和田東郭翁醫則</h1>
<p>醫之為任。唯察病而已矣。勿視富貴。唯病是察。勿視貧賤。唯病是察。勿劇視劇病。必也察劇中之易矣。莫輕視輕病。必也察輕中之危矣。克察之於斯。而勿視彼。亦唯醫之任也。察病之道也。醫之所可用心者。其唯變乎。揣變於未變。而以非變待變。此之謂能應變。視彼之變。而我動其變。此之謂眩乎變。眩乎變者。不翅不能處其變。亦不能全其常。能應變者。既已知其變。故其處方也不殆矣。</p>
<p>凡病之為情也。有二。故藥之用亦有二。曰剛曰柔。柔以當柔。剛以當剛。剛之制柔者有焉。柔之制剛者有焉。剛耶柔耶。二曰百。柔耶剛耶百而二。唯智者知之。而愚者反焉。易曰。剛柔相摩。我道雖小。亦復爾矣。古人之診病也。望色不以目。聽聲不以耳。夫唯不以耳目。故能察病應於大表矣。</p>
<p>古人之診病也。視彼不以彼。乃以彼為我。其既無彼我之分。是以通病之情矣。</p>
<p>用方簡者。其術日精。用方繁者。其術日粗。世醫動輒以簡為粗。以繁為精。哀矣哉。</p>
<p>欲得活路者。必陷死地。欲陷死地者。必得活路。</p>
<p>醫之臨劇病也。欲使彼活於我手者。愛我也。欲使彼死於我手者。愛彼也。愛我者。終不能盡我矣。愛彼者。誠能盡我。古語曰。不入虎穴不得虎子。余於醫亦云。（蕉窗雜話）</p>

<h1>一三四　人身小天地</h1>
<p>人身小天地。若上不知天文。下不知地理。中不知人事。豈可言醫。（儒醫精要）</p>

<h1>一三五　醫家五戒之一</h1>
<p>凡視婦女及孺婦尼僧人等。必候侍者在傍。然後入房診視。倘佯無伴。不可自看。假有不便之患。更宜真誠窺視。雖對內人。不可談此。因閨閫故也。（外科正宗所載）</p>

<h1>一三六　香月牛山先生醫訓</h1>
<p>醫者民之司命。百工之長。與宰相併言。仁之術之。豈可為小道乎。故非質實而無偽。性靜而有恆者。難與言焉。遊我門者。乃當自念人身苦楚與我無異。諸招勿遲行。勿問貴賤。勿擇貧富。專以好生為心。口不絕誦方書。手不停弄百草。不嫉人識能。不議人忝慢。不謗其醫。不評他藥。不務聲名。不貪財利。不炫術業。不諛豪富。折肱勿折腰。惟以救人為心。如病機稍有凝滯。不見藥效。則須戰戰兢兢。加診療。如僧道貧士求醫。雖謝貨一毫勿受。如寡婦室女必敬謹勿蕩。彼何證賜官。彥明免夭。人不能報而天必報之。所謂陰德。猶耳鳴己知而人不知。服之勿戰。</p>

<h1>一三七　醫八事</h1>
<p>志欲大。（欲救人）心欲小。（以人命為重。不敢妄投一劑。）學欲博。（上察氣運於天。下察草木於地。中察性情於人。）業欲專。（無外慕）識欲高。（窮理正心。見微知著。察跡知因。）氣欲下。（虛懷下氣。不棄貧賤。不嫉臭穢。（量欲宏。）凡有能則告之。有善則學之。不分爾我。）守欲潔。</p>

<h1>一三八　我命在我不在於天</h1>
<p>我命在我。不在於天。但愚人不能知此道為生命之要。所以致百病風邪者。皆由恣意極情。不知自惜。故損生也。世人不終耆壽。多夭歿者。皆由不自愛惜。（古今醫統）</p>

<h1>一三九　買藥不可爭價</h1>
<p>千金翼云。買藥不可爭價。</p>

<h1>一四○　躬有微恙則不診人</h1>
<p>奧村良築翁。躬有微恙。不診人。曰。我心不了了。診察恐不得審。（漫遊雜記）</p>

<h1>一四一　神妙則自然</h1>
<p>凡百技始乎巧。終於拙。出乎思。入不思。故巧思極。則神妙。神妙。則自然。自然者不可以巧思得。不可以歲月到。不可離巧思而得。不可外巧思而到。（永富獨嘯庵）</p>

<h1>一四二　嗚呼活人道</h1>
<p>嗚呼活人道。惟誠以為心。術何論夷夏。方豈問古今。（堀內素堂）</p>
