<header data-type="book">
<h1>虺後方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>喻政</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1634">公元1634年</data></dd></div>
<div><dt>底本</dt><dd>杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015369">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>郡伯喻公下車問民所疾苦旋定安集之不匝月而聲稱旁魄乃猶深念夫箐壑巖洞之叟悃愊款啟之民能親詣吾堂下者有幾萬一疴困之呻吟不啻冤抑之靡控也床第之輾轉不啻犴狴之罔踰也於是出虺後方付之梓人以廣其傳譬之舍利子除一切苦厄真實不虛而貧者可立辦於咄嗟愚者可諦驗於證態則其功尤偉焉故中衢致尊過者各以其分多少斟酌不足以擬其普遍也中流不虞一壺千金不足以擬其簡要也使君之為政蕩垢剔穢而公平樂易大率類此昔殷中軍妙解經脈中年都廢后一愈人百歲母便悉焚經方淵源褊態固爾此誠不足道即狄粱公以一灸立起贅龐之富人子麾千金不顧斯真相度然方書不少概見賣劍者必無獨知不知梁公何辭以解耳惟孫思邈護昆明弟子要取龍官方行於世老□心切矣又不若使君所布方則從侍其尊人疾精思旁索猝遇異人而後得之異人天所啟也向既已起其尊人於幾殆而又不秘之帳中詩曰孝子不匱永錫爾類其喻使君之謂乎異日之相業直出狄梁公上覆何疑</p>
<p><u>西陵周之夫序</u></p>

<h1>佛點頭</h1>
<p>寸浮腰腿胸頭痛沉細渾身骨節疼脾胃脈微艱飲食肺大應知水泄真尺浮無力夢渺漠尺大水火澀難行人迎洪大應先汗氣口脈洪下即輕心數腎澀癆病也縱是盧醫救不生就中遲緩猶堪救急數如弦活不成六部俱安肝獨小明春一定見閻君傷寒六日一傳變脈緩何愁藥不靈右三脈小左浮緊此是傷寒受痛因脾中浮緊亦同斷六脈緊浮癰毒深傷感風寒井隔食脾浮又緊是明徵肺若緊兮為受濕肝如弦緊瘧來侵心經浮散因傷暑春月心浮不用驚六部乍長又乍短鬼邪伏肺自無憑女寸若無月家病肝肺俱浮胸膈疼若是兩關沉細緊三更腹痛到天明如何兩尺全無氣此病分明是閉經赤白淋漓長帶下小腸澀痛刺如針如何兩尺忽然澀此是經來可放心肝大肺小應有孕肺大肝小孕不成眼見火星腰腎痛孩兒十月離娘身藥王大法誰人會佛也點頭說有靈</p>

<h1>四季正脈</h1>
<p>春貴肝弦心貴浮肺微脾緩腎宜濡夏心常大脾微緩肺短肝長腎似珠秋肺當微肝貴小心微腎伏候脾虛冬月腎沉肝要緊脾肺心經濡有餘春肝切忌澀濡浮心脈濡沉見夏憂脾土獨憂弦與急肺經洪大忌三秋嚴冬診得腎脈緩十死無人到白頭</p>

<h1>收藥法</h1>
<p>人參鬚和細辛冰片必同燈草麝香宜蛇皮里硼砂共錄豆收生薑擇老沙藏山藥用干灰窖沉香真檀香甚烈包紙須重辛烈者免走泄甘美者無蛀傷</p>

<h1>製藥解</h1>
<p>酒製升提薑製發散入鹽走腎臟仍仗軟堅用酷注肝經且資住痛童便除劣性降下米泔去燥性和中乳制滋潤回枯助生陰血蜜制甘緩難化增益元陽陳壁土製竊真氣驟補中焦麥麵皮製抑酷性勿傷上膈烏豆湯甘草湯漬曝並解毒致令平和羊酥油豬脂油塗燒咸滲骨容易脆斷有剜去瓤免脹有抽去心除煩</p>

<h1>煎湯藥解</h1>
<p>加酒煎去濕加生薑煎補元氣加大棗發散風寒加蔥白去膈病加蜜止痛</p>

<h1>為丸法</h1>
<p>凡丸藥用蜜每藥末一斤用蜜十二兩文火煎煉掠去沸沫令色焦黃滴水成珠為度再加清水四兩和勻如此勻成庶可曝乾經久不爛凡藥末入蜜和勻須令力士於石臼內杵搗千百下自然軟熟容易丸成不然或散或黏</p>
<p>凡通大便丸藥或有巴豆或加硝黃丸成者必用川蠟熔化為衣取其過膈不化能達下焦方免傷脾宵誠為良法加人體氣壯實毋以此拘</p>
<p>凡丸藥或用硃砂末或用金銀箔為衣飾者必須丸成乘濕黏上</p>

<h1>服藥法</h1>
<p>凡病在胸瞞以上者先食後服藥在心腹以下者先服藥而後食病在四肢血脈者宜空腹而在旦病在骨髓者宜飽滿而在夜在上者不厭頻而少在下者不厭頓而多少服則滋榮於上多服則峻補於下</p>

<h1>明火候法度口訣</h1>
<p>眼疾者前弦性火用鼻吸氣滿足口猛出氣</p>
<p>頭眩作痛者坎宮神火　鼻吸氣滿足氣從耳出</p>
<p>上下筋骨疼痛者後弦精火　鼻吸氣滿足氣人馬口出</p>
<p>上下皮肉生瘡者五臟火　鼻吸氣滿足氣從肛門出</p>
<p>睡臥不安飲食少進心恍忽者中央意火　鼻吸氣滿足氣從臍出</p>
<p>口瘡牙痛者陽明火　口猛吸氣滿足鼻微出氣行數十次</p>
<p>五積散　治陰陽兩感內傷生冷外傷風寒頭疼嘔吐滿身拘急腹痛增</p>

<h1>寒發熱</h1>
<p>肉桂　乾薑　當歸　白芍　半夏　枳殼　桔梗　白芷　麻黃　川芎（各等分）　右咀片　姜　棗　蔥下</p>

<h1>治傷寒發狂</h1>
<p>用好玄明粉（二錢）　珠砂（一錢）　為末冷水調服</p>
<p>救濟丹　救四時瘟疫之症</p>
<p>黃芩乙庚年為君黃梔丁壬年為君　黃柏丙辛年為君黃連戊癸年為君　甘草甲巳年為君</p>
<p>此方自制於冬至日修合此五味各隨運氣為君者多用一倍餘四味與香</p>
<p>附子紫蘇為臣者減半右七味皆生用為末用錦文大黃三倍煎濃湯去渣</p>
<p>成膏和勻如雞子大用硃砂雄黃各等分為衣金箔貼之每用一丸取泉水浸七碗可服七人天行時氣有力之家舍施陰德無量</p>

<h1>人馬平安散一切時瘟</h1>
<p>川烏草烏一枝梅（一個烏梅）豬牙皂角狗頭灰（即狗頭殼燒灰存性以上各一錢）碙砂止許一分兒麝香少許任君加張牙骨眼點眼角草結須用</p>

<h1>疫疾神效</h1>
<p>雄黃一錢　冰片（一分）　共研末麻油調之點眼四角再服薑湯一碗一身汗出即好此一料可救五六十八</p>

<h1>不染瘟方</h1>
<p>用光明雄黃細研以筆濃點鼻內兩傍中則疫氣不能入亦闢諸惡怪夢時常感冒傷熱頭運心中煩悶口苦飲食無味者只宜服益元散加石膏三錢滾水泡勻俟冷服除胃中邪熱傳變後不可服</p>

<h1>霍亂</h1>
<p>用蘆粟殼煎湯服</p>

<h1>絞腸沙</h1>
<p>樟木　陳皮　陳壁土　各等分煎湯服立止</p>
<p>薰洗遠年近日風濕筋骨疼痛等症</p>
<p>陳皮　花椒等分煎水薰出汗即以水洗頻頻加向東桃桑枝共煎</p>
<p>風寒濕氣左癱右瘓三五年不能動履如手拈效</p>
<p>蒼朮（一斤）　羌活（四兩）　獨活（半斤）　牡丹皮（四兩）　黃芩（四兩）　地茶（半斤）　各藥成片用袋盛藥水一擔封煮三香令患者坐盆內先蒸汗出候水溫和下手洗完方貼後膏（蒸時四圍用席圍住蓋密方汗出）</p>

<h1>膏藥方</h1>
<p>牛皮膠（一斤）　薑汁（半斤）　瓦上白霜（二兩）　蒼耳草汁（一碗，共熬成膏布攤貼）</p>

<h1>內服散</h1>
<p>蒼朮（四雨）　草烏　川烏（各五兩）　細辛　防風　羌活（各二錢半）　白朮（三錢共為細末調服一錢五分取汗忌風（</p>
<p>風痰牽引手足或致不仁俱可服</p>
<p>嫩桑枝每遇節候於四更時向東採如三月三日清明即於三月二日四更時去采采來寸斷砂鍋中炒過黃色香氣為度每一兩加杉木節三錢老茄子子三錢炒過桂枝三錢煮酒加童便服</p>

<h1>中風不行人事急用此通關</h1>
<p>大黃（一錢）　乾薑（五分）　巴霜（五粒去油）　煎湯灌下上即吐下即泄</p>
<p>中風不省人事及痰厥四肢氣閉隔塞</p>
<p>白礬（一兩）　牙皂角（五錢）　為末每服（一錢溫水調下（</p>
<p>又方</p>
<p>明礬二錢為末川生薑自然汁調下</p>
<p>龍蛇換骨丹治半身不遂風癱骨疼痲癢不仁等症</p>
<p>生草烏半斤去皮尖切片生薑半斤切片共入鍋內焙炒乾共為細末加麝二分加白荊皮研末與前藥等分平對每服六分酒調下如傷風寒不對白荊皮末每服三分俱臥時酒調服忌風取汗為度</p>
<p>中風痲木不仁半身不遂等風痰皆治</p>
<p>青藤根（一兩）　五加皮（三錢）　白酒煎服忌風取汗極效身作癢勿怕過二三日又一服</p>

<h1>治暴感風嗽</h1>
<p>款冬花（五分）　鵝管石（三分）　白礬（二分）　甘草（二分（</p>
<p>右為極細未以小竹筒吸入喉內臨臥時清茶送下次早再服如法此劫藥只可服三分為度雖久嗽亦可愈服藥後須數日斷厚味</p>

<h1>化痰止嗽丸</h1>
<p>寒水石（四兩火煆為未）　硃砂（五錢）　玄明粉（五錢）　共為末煉蜜丸彈子大每噙化一丸痰自化</p>

<h1>治咳嗽方</h1>
<p>蘿蔔於（一酒杯）　生薑（一大塊（</p>
<p>二味共搗爛將水煎連吃二三碗時刻立止</p>

<h1>噙⿲氵屰欠方</h1>
<p>蘄莖（二錢）　花菽（二錢）　黑豆（二錢）　連須蔥（七根共水三碗煎熟豆為度溫噙⿲氵屰欠（</p>
<p>又方</p>
<p>烏藥　炒梔子　石膏等分水煎服</p>
<p>齁疾神效斷根</p>
<p>白砒五錢用麵四兩作杷包裹火煨乾以無煙出為度搖響是的去砒用麵為末　貝母（一兩）　蘇子（一兩炒（</p>
<p>三味共末一處再川生面打糊為丸梧子大初服二十丸漸至三四十丸滾白水送下服完此料全好每服三日後服錄豆粉一次以解砒毒</p>

<h1>齁方</h1>
<p>一斤重鯽魚一個摳出膽入南星半夏貝母白附子各四錢為粗末於內仍封魚口用草筋泥固炕加炭火煆青煙盡白煙至則止火取出研末每服八分蘇子湯下神效</p>

<h1>齁疾</h1>
<p>烏梅肉（四兩）　巴豆仁（一兩）　同水煮三日取起有痰嗽者烏梅肉（二兩）　巴豆仁（一兩）　去油皮共搗爛為丸錄豆大每服七丸燒酒送下無痰者止用烏梅肉（二兩為丸滾白水下七丸一服十五丸黍米大）</p>

<h1>治痰迷心風</h1>
<p>梳膩　桐油腳</p>
<p>二味等分為丸指頂大每用丸滾白水下吐痰一盆即醒</p>
<p>治痰卒發或昏僕或膈脹或眩暈</p>
<p>生薑二兩取自然汁合童子小便調勻服之姜能開痰童便降火最妙更入竹瀝尤妙</p>

<h1>中風中痰急慢驚風</h1>
<p>初伏一日用健豬膽每個加明礬打碎入內陰乾每用二分薑湯送下</p>

<h1>驚悸化痰</h1>
<p>生薑自然汁二倍真麻油煉熟一倍調勻無時服之二日即好</p>

<h1>風痰痰火</h1>
<p>大黃（一斤）　燒酒（五斤）　煮過用車前草根搗汁浸大黃曬乾每一斤加沉香一兩煉蜜為丸彈子大每噙化一個</p>
<p>眩連者宜服礞石滾痰丸常時服六味地黃丸加人參沙參大抵真水衰不能制邪火耳</p>
<p>礞石滾痰丸　大黃酒蒸　黃片芩酒先淨（各八兩）　沉香（五錢水飛過）　礞石一兩槌碎焰硝一兩入小砂罐內及硝蓋之鐵線練定鹽泥封固曬乾火煆紅候冷取出　右為細末水丸梧於大每服四五十丸量虛實加減茶清溫水任下臨臥食後服水瀉雙身者忌服大姜（一兩）　雄黃（一錢）　共為末每服五分夏天冷水下冬天溫水服小兒減半</p>

<h1>吐血</h1>
<p>童便（二杯）　韭汁（半杯）　用鬱金磨之再加無香京墨少許服引血歸經即止</p>

<h1>陰症方</h1>
<p>用烏豆（一酒杯）　搗碎將滾燒酒沖吃極妙</p>
<p>又方</p>
<p>用艾如黃豆大灸小指外側邊頭一節上男左女右其效如神</p>

<h1>種干助陽滋腎</h1>
<p>黃柏（半斤鹽水炒）　山梔仁（六兩）　俱生為末煉蜜為丸梧子大每服七八十丸酒送下滋腎水瀉腎火</p>

<h1>治遠年近日偏正頭風諸藥不效收功如神</h1>
<p>白芷（三兩）　川芍（三兩）　右為末黃牛腦子一個搽藥在磁器內加酒熟熟乘熱和酒食之儘量一醉臥後酒醒其疾如失如無牛腦豬腦子亦可竹葉包罐煮熟將藥和丸梧子大每服三四十丸酒下食上服</p>

<h1>治頭痛　茶調散</h1>
<p>白石膏（一錢）　川芍（一錢）　白芷（一錢）　共炒為未茶調服</p>

<h1>頭痛神妙方</h1>
<p>條苓（一錢）　大黃（三分）　共為末酒調服服完即梳頭一百下即止神效</p>

<h1>洗面上酒刺赤面</h1>
<p>棗肉　白果　萆麻　白丁香　肥皂（共搗洗面）　氣主昏蒙不足虛則珠淚生花　熱則赤脈澀痛　風則腫癢便加　內瘴多因色欲　食毒脂瘴來遮　上下拳毛倒睫　脾胃風熱堪嗟　攀睛弩肉血出　酒洗心肝傷邪</p>

<h1>論熱主病</h1>
<p>心熱血灌瞳人　肝熱弩肉攀睛　胃熱時時刺痛　肺熱眵膜時生　膀胱熱生倒刺　腎熱睛痛腫疼　大陽熱生赤膜　脾熱胞腫不寧</p>

<h1>論涼主病</h1>
<p>心冷目昏氣悶肝冷冷淚常流脾冷目閉不開肺冷睛氣光瑩　腎冷瞳人大小　胃冷視物不明　膀胱冷常昏暗　大腸冷則昏沈</p>

<h1>明目丸</h1>
<p>羊肝鮮帶血的加百草霜槌為丸每服三四十丸水酒下不拘時服若干加密為丸</p>

<h1>眼藥方點三樣眼</h1>
<p>一起白蘆甘石四兩打碎　童便十碗　煮乾為度水飛研末點風眼一起蘆甘石四兩打碎用晚蠶砂四升炒研末水煮乾水飛點翳子眼一起蘆甘石四兩用草決明石決明青箱子木賊黃連穀精草蕤仁菊各等分煎水煮乾水飛研末點火眼</p>

<h1>目黑珠墜落</h1>
<p>病名肝脹不可剪斷筋脈止用單羌活一味煎湯服即止</p>
<p>又方</p>
<p>以山梔枯黃芩為君澀肝經之火連翹薄荷荊芥防風輕清之劑為臣以除頭目之熱桔梗舟楫之劑載諸藥而不下沉甘草解毒加樂為佐使再劑而安而目珠屬肝諸痛皆屬火火太盛故珠墜苦痛</p>

<h1>爛弦風眼</h1>
<p>上好蘆甘石一兩用銀罐二個仰覆盛之炭火煆紅用三黃濃湯半杯淬在內待乾又煆紅用童便半杯如此淬之再煆紅再淬一黃湯一童便如此各七次每一兩加枯礬六分研極細末點之</p>

<h1>眼目暈並垂臁脹等症</h1>
<p>川芎五錢勿犯鐵器石打碎　草決明五錢　穀精草三錢布包懸胎煮公豬肝一付湯淘飯肝食二服即安</p>
<p>洗眼方治時行害眼井風眼有淚及小兒痘內風眼四邊紅赤諸症</p>
<p>用皮硝六錢水一甌煎七分候冷澄清收磁罐內勿令染塵又用杏仁三個去皮尖銅綠七八釐二味以銅器搗爛後用新領白絹紮成彈子井水一酒鍾浸一周日臨用先以皮硝水洗三四次即用杏仁水亦洗三四次每日四五次即效用</p>

<h1>暴發眼疾</h1>
<p>黃連多用　富緊梢　防風　甘草　枯礬　水抱洗眼黃連為眼科聖藥故以為君佐以當歸梢破熱下流防風險風甘草解毒枯礬清利目眵亦解毒多效</p>

<h1>火眼藥方</h1>
<p>用皮硝一斤用黃豆五升打腐一團平腰截作上下二塊中間安硝上下蓋合腐入甑中下安一大缽火蒸之其水落缽中取起入瓦罐中候冷取硝每兩用明官硼砂三錢用少許點火眼神效若點翳障用乳香去油一錢用銅綠燒紅入童便中淬過五七次用少許共為末點之黃連（二錢）　黃柏（二錢）　大半夏（一個）　杏仁（七個去皮尖）　膠棗（五個）　用水一碗煨至半碗後濾去渣澄下面末點　如備下濟人先以前藥或日曬或火烘成膠臨時以清水調點</p>

<h1>眼藥</h1>
<p>黃連　桑白皮少許共浸水一日去渣次日用此水熬成膏後用酒杯量有一杯用雄膽（三分）　麝（三分）　調勻點之</p>

<h1>小兒害眼</h1>
<p>黃連搗水敷腳心</p>
<p>腦崩鼻息乃風寒起也</p>
<p>用艾（二兩）　將絹（一幅）　先將艾（五錢）　鋪大碗（一塊大用朝腦一兩五錢）　鋪艾上又將後艾一兩五錢蓋在上將餘絹包蓋上面安頭頂中絹外周圍用麵條圍之用索懸一茶壺滾水坐藥上待鼻中艾香即止如不香水冷再換滾水一次即好兩次斷根壺底要窩神妙神妙</p>
<p>又方</p>
<p>以甘草四兩煎湯用有嘴壺盛　以壺嘴向鼻嗅之亦效</p>

<h1>鼻血流不止</h1>
<p>用暑襪帶子一根將手指逐筋根下一路捆住獨無名指猶加緊些捆完捻拳下垂錐緊即刻住止左鼻捆右右捆左</p>

<h1>鼻息肉</h1>
<p>土木鱉（二個）　甘遂（一分）　共搗為丸塞鼻中嗅其氣息肉自化血水流出自消覺喉中痛去甘遂止用木鱉搗丸塞鼻以消為度效效年久小便缸底有霜厚者火煆過七錢黃連一兩共為極細末口疳鼻疳口中生瘡以竹筒吹進外則搽之</p>

<h1>口舌生瘡</h1>
<p>真膽礬（五錢）　入銀鍋內煆赤色出火毒次日細研每以少許傳之吐去酸涎水一二次即好</p>

<h1>口中走馬疳瘡</h1>
<p>雄黃　火硝（各等分）　先將米泔水洗淨拭乾後用藥末搽之神效好後再用生肌藥搽</p>

<h1>舌脹腫出口外</h1>
<p>用萆麻油蘸紙捻燈上燒取煙燻舌即消一用雄雞冠刺血盞盛浸舌就嚥下　又用冬青葉煎汁浸</p>

<h1>舌上瘡及日疳</h1>
<p>吳茱萸為細末酷調敷兩足心時刻見效</p>

<h1>牙痛試效方</h1>
<p>大黃（二錢）羌活（一錢五分）薄荷（一錢五分）水煎⿲氵屰欠口吐出又⿲氵屰欠</p>
<p>又方</p>
<p>青鹽　食鹽　川椒　小蜂房一個　好燒酒四兩煎⿲氵屰欠口連⿲氵屰欠即止不發不可食下</p>
<p>又方</p>
<p>朝腦（一錢）　硃砂（三分）　胡椒（三粒）　先擂椒次攄砂後攄腦共末先以清水⿲氵屰欠口後用此藥末擦牙噙少時吐去涎又以水⿲氵屰欠之極妙</p>

<h1>牙痛</h1>
<p>用樟腦為末搽患牙跟仍用花椒煎水溫⿲氵屰欠如蟲牙用細辛煎水漱不用椒</p>

<h1>牙痛內服神效</h1>
<p>當歸（八分）　生地黃酒炒（八分）　牡丹皮（去骨一錢五分）　黃連酒（炒一錢五分）　黃芩（三錢）　石琶（二錢）　細辛（三分）　防風（四分）　荊芥（七分）　薄荷（六分）　細茶（三錢）　姜（三片）　水煎服如火在上加升麻三五分在下加大黃三五分</p>
<p>又方</p>
<p>烏藥梔子炒生石膏各等分水煎服石膏宜多些</p>

<h1>牙疼常用搽牙</h1>
<p>雄鼠一個去毛去肚中腸雜內以青鹽填滿縫之用草紙水濕包裹仍用泥糊火煆過成末加當歸熟地黃細辛甘松三奈煆過石膏各等分共為末搽牙吞之</p>

<h1>扁須固齒</h1>
<p>地骨皮（一兩）　川芎　白蒺藜（各七錢）　沒石子（四錢）　香附子（三錢以上五味炒）　青鹽（一兩用紫土罐瓦火煆不響為度）　細辛（三錢）　旱蓮草（四兩二味炒黃不犯油氣共為細未）　每早擦牙嚥下至老不白亦不落極效</p>

<h1>一次散治喉腫痛並口舌生瘡</h1>
<p>白礬一兩生熟各半生礬燒枯熟者用蓬砂三錢共為細末每末一錢加冰片釐半每用少許以筆筒吹入（蘆荻筒更好）患處即愈</p>
<p>雙單蛾風先以筋挑開上牙按緊舌根看瘡有黃紫泡者將筷子破開藏針於內露針杪一分用線緊縛挑破瘡泡待血水盡用梁上揚塵煎水數碗吞⿲氵屰欠惡水後復用一次散吹之</p>

<h1>雙單蛾鵝纏喉風中風</h1>
<p>牙皂（七根去筋）　玄胡索炒（一錢）　共為未滴水為丸入筒內又將水半茶匙濕之男左女右吹入鼻中少頃吐痰即愈</p>

<h1>治喉閉</h1>
<p>雷公胚（即螳螂子如蠶繭樣禾稼上深草上時有之）用二三枚火煆存性溫水調灌服三四口即愈</p>

<h1>喉風</h1>
<p>大皂角一條瘦者去子用水煎取濃汁入麻油半盞同灌下吐去痰涎立效</p>

<h1>氣頸方舌尖散</h1>
<p>海帶　海藻　海昆布　牛掩骨　豬掩　羊掩（各二兩）　黃柏（一兩）　甘草（一兩）　共研末每用少許飯後放掌中舐食每日二三次不過一二兩全消</p>
<p>諸氣散治心胃腹痛等兼治吐血女人小腹痛</p>
<p>大薊一味水洗淨刮去皮曬乾為細末每用一二錢臨痛韭葉煎湯入炒鹽少許調服或燒酒亦可婦人紅花湯下</p>

<h1>心氣痛</h1>
<p>茜草根（三錢）　煎酒服取汗一身或吐黃涎水數口即愈且除根</p>

<h1>桃花散治心氣痛</h1>
<p>大黃末（一兩）　風化石灰（二合牛）　共炒紅色（每七分酒送下即止又能□有水瘡</p>
<p>又方</p>
<p>胡椒（七粒）　膠棗（二個去核）　入椒在內燒紙里數層煨熟研末燒酒下斷根柘樹菰（樹上生黃色者）磨酒服即愈隔食亦如此服全愈</p>
<p>治番胃即飲食不得者又治喉閉</p>
<p>大麯酒（一斤）　土牛膝草（二兩煨酒至十二兩取出草根以酒入土內一宿次日溫服小盞日服三次）</p>

<h1>香橘順氣愈胃湯治翻胃</h1>
<p>陳皮（去白八分）　茯苓（一錢）　枳殼麩（炒五分）　青皮麩（炒七分）　半夏薑汁煮（四分）　桔梗（五分）　香附童便（炒一錢）　川芎（四分）　蒼朮米泔水浸炒（一錢）　厚朴薑汁炒（五分）　神麯（八分）　甘草（炙三分（　茴香鹽水（炒八分）　引煨姜（三片胃脘痛加草豆蔻三分）</p>

<h1>胃氣痛</h1>
<p>七個烏梅七個棗寸個杏仁一處搗端午為丸梧子大鹽酒一服立時好烏梅棗俱去核杏仁去皮尖端午日搗為丸每服十二三丸鹽一匙調酒送下</p>
<p>又方</p>
<p>山梔子仁以薑汁炒褐色研末細茶煎湯每調二錢服神效</p>

<h1>膈食方</h1>
<p>廁缸中糞硝二兩用火煆過用生薑自然汁一碗煮乾每服二錢燒酒調下一服即能飲食四五服全愈</p>

<h1>肺癰</h1>
<p>茵陳（一味切碎一握加大黃六七片為一服水煎服一服即效二三服即愈盛者五六服先炒豬心肺與會若食得者箕肺管不朽可治如食不得不可洽</p>

<h1>肺風</h1>
<p>苦參一斤切片初用米泔浸一晝夜曬乾次用童便浸一晝夜三用好酒浸四用好酷浸曬乾又用火焙乾地上去火毒為未麵糊為丸每服四十丸滾白水下忌煎炒酒</p>

<h1>痰火痰革痢疾水泄心疼古靈丸</h1>
<p>多年古椒石灰愈久愈好取來研末醋炒又燒酒炒研碎醋調米糊為丸每服三錢淡米湯送下心氣疼燒酒下一錢五分外用或黃丹朱砂青黛為衣</p>
<p>遇仙丹治邪熱上攻痰涎壅滯翻胃吐食十隔五噎齁哈酒積蟲積血積</p>
<p>氣塊諸般痞積瘡熱腫痛或大小便不利婦女面色痿黃鬼胎癥瘕食吞</p>
<p>銅鐵銀物悉治之五更時用冷茶送下三錢天明可看去後之物此藥有</p>
<p>積去積有蟲去蟲不傷元氣不損臟腑功效不能盡述小兒滅半孕婦勿</p>
<p>服亦可治痢</p>
<p>白牽牛頭末四兩半炒半生白檳榔一兩　茵陳（五錢）　蓬朮（五錢酷炒）　牙皂（五錢炙去皮）　三稜（五錢醋炒）　共為細末醋糊為丸錄豆大行後隨以溫粥啖之忌食他物如前積不下再以冷茶催之</p>

<h1>遇仙丹治蠱症並氣膈脹食積等症</h1>
<p>茵陳　檳榔　牙皂　三稜　莪朮　枳殼　廣木香（各五錢）　蘿蔔子（一兩）　牽牛頭末四兩半生熟　大皂角煎水打麵糊為丸每服三錢茶送下如血蠱先服桃仁承氣湯後服此丸　紅花　桃仁　三稜　莪朮　桂枝　芒硝　大黃　甘草（各等分水煎（</p>
<p>凡看蠱症先將指按腹有壋不起者水蠱按之隨起者氣蠱也肚有紅筋者血蠱又酒蠱用血見愁草搗爛敷臍吃汁少許其水尿出以消為度</p>

<h1>治痞積血瘕方阿魏丸</h1>
<p>阿魏（五錢）　雷丸（一兩）　天竺黃（七錢五分）　蘆薈（七錢五分）　胡連（一兩）　麝香（一錢）　牙皂（一兩）　乳香（三錢去油）　沒藥（三錢去油）　硼砂（三錢）　硃砂（三錢）　鋼砂（一錢五分）　大黃（一兩酒蒸曬乾）　共為未生鵝血為丸梧子大空心每服一錢韭菜煎酒送下外貼後膏</p>

<h1>痞積血瘕膏</h1>
<p>麻油（一斤）　陀僧（半斤）　為細末將油熬滴水成珠取起冷定後加末藥阿魏（四錢）　麝香（三分）　殭蠶（四兩）　蜈蚣（四條）　全蠍（四錢去頭足）　朝腦（一兩）　甘松（二兩）　白芷（一兩）　草烏（一兩）　共為末入前膏內攪勻用狗皮攤貼痞上外以布條扎住</p>

<h1>痞疾服藥神妙單方</h1>
<p>萵藍葉並根即菜藍揚州南京俱有搗汁半酒杯用廣木香磨酒半杯共和一處再加穀精草末一茶匙攪勻如痞成形活者用棗子塞兩鼻莫使他知聞其氣恐走別處通口服其痞即落下二日又服一杯消一半三日再一服全消</p>

<h1>黃蠱症</h1>
<p>廣木香末（一錢）　捉一蝦蟆放香於口內再用一豬肚將蝦蟆放於肚內縫住煮熟去蟆食肚與湯三四日即消如常　腸胃燥澀秘結及風熱隱疹壅滯井皆治之</p>
<p>防風　川芎　當歸　赤芍　大黃　麻黃　薄荷　連翹　芒硝（各一分半（</p>
<p>石膏　黃芩　桔梗（各五分）　滑石（一錢半）　甘草（一錢）　荊芥　白朮　梔子（各一分二釐半（</p>
<p>右㕮咀作一服水地盞生薑三片蔥白一莖豆豉三十卞粒同一盞三去渣熱服其大黃麻黃芒硝三味對症旋入自利去大黃芒硝自汗去麻黃</p>

<h1>化痞</h1>
<p>野紅殼豆藤一把將半斤重小雞公一個竹刀殺死勿犯鐵器去肚內物入藤在內銅鍋水煮熟去藤食雞並湯小兒一隻大人二隻即好</p>

<h1>膽黃</h1>
<p>用螺螄不拘多少搗爛每茶鍾人姜五錢亦搗爛以滾生酒沖之去渣服酒數服即愈</p>
<p>又方</p>
<p>苦瓜蒂為末吹鼻中流盡黃水為愈</p>
<p>黃腫井吃茶一切黃者手痠腳軟氣急方</p>
<p>紅礬（五錢）　（以皂礬用荷葉包糠火煆二日以紅為度即紅礬）香附末一兩不制　無名異糠炒（三錢）　酷打麵糊為丸梧子大每日三次水酒送下五十丸吃茶葉者加針（砂三錢）</p>

<h1>水腫</h1>
<p>石干（一錢）　木香（七分）　共為細末五更空心滾水調服行三五次立消</p>

<h1>治水腫大小便不通氣逆極驗</h1>
<p>蛤粉（一錢）　和老蒜搗爛為九丸量人虛實作一二次服浸蒜醋下或以粥湯下</p>

<h1>治腫神驗方但下陰未腫破者皆可活</h1>
<p>雞糞（一斗）　用無灰酒（十斤）　同酒煎滾去渣漸次服一瀉其腫自消但忌食鹽四十日即滴鹽不可用用鹽復發不可為矣</p>

<h1>治腰痛</h1>
<p>杜仲薑汁炒　牛膝　破故紙酒炒　當歸　川芎　荊芥（各等分）　用雄豬腰（一對）　將竹刀剖開去內白膜同生酒煎服加兔絲於酒炒亦妙</p>
<p>噤口痢</p>
<p>石蓮子煨去殼（三個薑汁浸）　黃連（三錢以陳壁土炒乾焦共為末錄豆麵糊丸酒吞神效</p>
<p>又方先服通利後用此</p>
<p>黃連（五分）　人參（三分）　甘草（分半）　蓮子（四十九粒連心打碎）　水煎熟加薑汁（一匙服此治痢之神劑（</p>
<p>痢疾方</p>
<p>五倍子不拘多少為末醋炒黑色酷打米糊為丸梧子大每服一二百丸紅者白滾水白者砂糖或薑湯再紅者黑者或苦茶湯下雜色者米湯下噤口者用乳香燒煙燻鼻胃口自開</p>
<p>赤白痢訶子為末每用七分赤痢甘草湯下白痢生薑湯下</p>
<p>噤口痢</p>
<p>紅木槿花陰乾為末同面作餅熱服之</p>
<p>又方</p>
<p>人參（二錢）　蓮肉（五錢）　山藥（五錢）　茯苓（五錢俱炒）　老米陳者（半升）　水浸濕炒熟共前藥為末加白糖四兩和勻每用一匙挑入口噙化其胃即開此一料可救十數人</p>

<h1>痢疾脾泄神效樸黃丸屢試屢效</h1>
<p>用錦文大黃十斤冷水洗淨全濕透以竹刀切碎入大砂窩內將上好無灰酒浸滿用桑柴火慢慢煮三晝夜干則添酒俟黑爛成稠膏取出用用厚朴去粗皮銼碎薑汁拌炒磨成細末篩過取三斤足又用廣木香石白木杵搗細末取三兩與厚朴末和勻總入大黃膏內務搗千餘下均勻或膏或丸任意用之不拘男婦老幼寒熱紅白日久脾泄重者服二錢輕者服一錢五分小兒一錢淡薑湯下一二服即全愈若酒食熱痛一次立見消</p>

<h1>糞後出血</h1>
<p>青魚膽草七根洗淨用酒牛鍾水半鍾煎熟後下砂糖一匙入內溫服即愈</p>
<p>腸風下血</p>
<p>烏梅（一個）　艾葉（五錢用東流水煎空心服（</p>
<p>又冬瓜皮陰乾為未每服二錢空心酒送下</p>
<p>脾泄</p>
<p>響糖（四雨）　蓮肉（四雨）　鍋杷皮（八兩（</p>
<p>三味共為末滾白水調一杯每日三服一二日即止</p>
<p>水泄方</p>
<p>燒過石膏（一兩）　枯礬（六錢）　為末米糊為丸如錄豆大淡米湯睡時服四五十丸如肚腹痛加飛鹽少許</p>
<p>又方</p>
<p>黃丹不拘多少膠棗槌為丸胡豆大每一九用針穿燈上燒過為末薑湯送下即安（名燒針丸）</p>

<h1>治水瀉兼可治痢</h1>
<p>苦參　小甘草　各為細未五月初五日均分相合隨將滾水或茶調服即愈急用備之</p>
<p>脫肛</p>
<p>牛屎內蟲名推屎殼郎炕焦為末搽之即收蜘蛛燒磨搽肛口即收</p>

<h1>脫肛不收</h1>
<p>用五倍子末三錢入白礬一塊水一碗煎湯洗之立效</p>
<p>礬砒丸</p>
<p>明礬（半斤）　白砒（四兩）　二味共為細末火煆過煙盡為度為末滴水為丸痢疾冷水吞下七丸水泄木瓜湯下七丸胃院痛炒梔子湯下　久患足上頑瘡擂末搽之　筆圈癬皮略擦破用末搽之　九種心疼牡蠣粉冷水調下七丸忌熱物疥瘡用臘豬油調搽又能搽坐板及黃水瘡　忌搽頭上瘡</p>

<h1>瘧疾方</h1>
<p>桃仁（七個）　胡椒（七粒）　茄花（七個）　時酒半鍾水半鍾飯上蒸熱未來先服極妙</p>
<p>瘧疾不拘久近一服神效</p>
<p>常山（三錢）　陳皮（一錢）　檳榔（一錢）　甘草（一錢）　水半踵酒半鍾感七分頭夜先服一酒杯次日早服一杯來時又服一酒杯忌生冷雞魚一七極效極效</p>
<p>瘧疾神效方</p>
<p>公豬膽（一個）　大龍爪蔥（三科）　雄黃（少許）　揭爛極細加生面為丸小指頂大硃砂為衣臨來日早塞鼻男左女右端午日合妙</p>
<p>又方</p>
<p>黃連五錢體厚者八錢無灰好酒二鍾煎至一鍾露過一夜未來時溫服</p>

<h1>小腸偏墜疝氣等症</h1>
<p>老君須（四兩）　烏角沈香（三錢）　二味生白酒七斤文武火煮二炷香存三日出火氣每日空心將酒熱服約重二兩年久者二七日好年淺者三七日全愈</p>
<p>疝氣</p>
<p>柑子核（一錢瓦焙）　荔枝核（一錢）　小茴香（一錢）　共為末酒調服即一次止痛亦消腫</p>
<p>又方</p>
<p>用杉樹子每歲一粒酒送下斷根</p>
<p>疝氣方</p>
<p>茴香　胡椒　青鹽　共為末入豬腰子內燒熟空心同酒服效</p>
<p>治陰囊腫健井疝方</p>
<p>用陳艾於左腳內臁以手從腳板中心量至五寸處灸三壯即愈奇效（即復溜穴）</p>

<h1>氣胞木腎</h1>
<p>用黑黃豆酒麩糟浸加野芋頭同搗爛敷患處一次皮皺一次全消</p>
<p>遺精不收日夜不分者</p>
<p>蓮肉一斤去心鹽一錢將滾水泡蓮肉搓去粗皮待蓮肉脹糯米飯上布盛蒸熟取起拌陳壁土炒乾去土為末每服五錢用鮮土茯苓煮豬蹄濃湯送下日進三服三四兩見效如神豬蹄任食</p>
<p>夢遺</p>
<p>破故紙二兩炒為末　每服二錢人乳空心調服五六日即愈</p>
<p>痲症</p>
<p>槐花（二錢五分）　車前子（二錢）　小茴香（一錢五分）　牽牛（一錢）　俱炒為末每服（一錢五分水酒送下空心服完即好（</p>
<p>治小便不利及裡急後重</p>
<p>用瓦松洗淨搗爛酒浸汁飲即通</p>
<p>小便不通　荊芥（一兩）　大黃（一錢）　煎服即通</p>
<p>又方</p>
<p>車前子新葉自然汁飲之即通</p>
<p>鶴膝風</p>
<p>用杉木燒著將刀壓在上取刀上油旋擦旋消神妙</p>
<p>牛皮膏專貼鶴膝風井濕氣</p>
<p>皮膠不拘多少用生薑與蔥取自然汁溶膠攤於布上以熱貼患處要棉花包緩神效</p>

<h1>柳條風氣腳</h1>
<p>青蒿一擔搗爛童便一桶入鍋熬去渣待成膏下皮硝一斤慢火熬成膏時取用瓦器盛之油單紙攤隔紙膏刺眼貼之一日一換極癢取出即消</p>

<h1>瘦胎散</h1>
<p>人參（三錢）　當歸（二兩）　川芎　白芍　赤茯苓　枳殼（各一錢）　香附米　紫蘇葉　小茴香（各五錢）　大腹皮　陳皮（各七錢）　甘草（二錢）　每帖（姜一片巳上均作七貼看婦人受胎四個二月至五個月二貼至六個月二貼至七個月一貼方免臨產之難</p>

<h1>催生</h1>
<p>杏仁（一個去皮勿去尖勿破一邊寫日一邊寫月字）　以黃臘為皮包裹成丸男人用左手遞與孕婦婦用右手接用黃曆頭一頁燒紙灰調水送下即產其丸子手拿去</p>
<p>又方</p>
<p>用黑黃牯尿去頭尾二節祗要中節大半鍾加酒半鍾飲之即下</p>

<h1>治婦人生產已破水衣不下</h1>
<p>陳皮（三錢）　蒼朮（三錢）　米泔（水洗）　厚朴（三錢制過者）　甘草（三錢）　四味先煎夾下百草霜即鍋底灰（三錢）　芒硝（三錢）　碗內擂碎和前藥浸服如不下用原藥煎再加霜芒共（六錢）　服之即下如死胎去芒硝加焰硝（三錢）　以合成藥煎畢遞送婦人服不得換手引用燈草（七根）</p>

<h1>催生方</h1>
<p>爛鐵鎖筒或銅的不用銷須燒紅淬酒吃即了</p>
<p>又方知母去毛一兩生酒煎服即下</p>
<p>又方</p>
<p>好酒一碗蜜香油各一小盞同煎滾溫服</p>

<h1>產難方</h1>
<p>巴巴（三個）　萆麻子（七個）　麝香少許同搗爛貼臍上即產下胞衣尤速（或云三麻四豆）</p>
<p>又方</p>
<p>用萆麻子四十九粒槌碎成餅貼於腳心即產產後即忙洗去若盤腸生者烘熱貼頭頂心其腸即收</p>
<p>又方</p>
<p>用魚螵膠火燒存性每歲一分酒下或用金物磨水服立下</p>
<p>又方</p>
<p>用石鷰二枚令產婦兩手各執一枚即下</p>

<h1>桑寄生散</h1>
<p>桑寄生散除胎漏經血妄行無止時參朮芎歸膠續草茯神香附寄生隨</p>

<h1>安胎和氣飲</h1>
<p>安胎和氣便虛滑腹脹疼為胎冷因白朮丁香阿橘草良薑巧藥米須陳</p>

<h1>芩術散　安胎神效</h1>
<p>小條黃芩酒浸炒（一兩）　白朮去蘆陳壁土炒去土（一兩）　砂仁（炒三錢）　右為細末每用米湯調下二三匙每日服二次</p>

<h1>安胎飲</h1>
<p>安胎二月妊娠期惡阻常僧飲食稀胎動不安時下血心神倦怠欲扶持茯苓四物和甘草白朮阿膠地骨皮更有黃芩煎共服保全胎產及其期</p>

<h1>膠艾湯</h1>
<p>膠艾湯醫妊娠婦或因顛仆動其胎腰腹疼痛渾如產此藥和安救得回芍藥富歸併艾葉阿膠熟地草同偕黃耆又與川芍配養血安全十月胎</p>

<h1>生產胎衣不下</h1>
<p>用生雞子白三個米醋調灌下即吐胎下</p>

<h1>橫生逆產</h1>
<p>萆麻子　杏仁　半夏（各七枚一處搗貼臍下）</p>

<h1>婦人小產並常用</h1>
<p>川芍（八分）　當歸尾（一錢二分酒洗）　熟地黃（一錢酒洗）　生地黃（一錢酒洗（</p>
<p>右咀片水煎加童便一杯酒半杯服</p>

<h1>婦人產後百病</h1>
<p>四物湯加蜜炙黃耆煎服即愈</p>

<h1>通乳方</h1>
<p>用陳柑子核四十九粒炕干為末空心生酒調服其乳如雨濡若呵乳者用新柑核如前</p>
<p>又方</p>
<p>鋪地綿草煎酒服妙</p>

<h1>回乳方</h1>
<p>用烏龜殼一個燒紅放地上用碗蓋將水酒一碗在外充取起擂碎上下碗蓋充水酒服之去末</p>
<p>乳腫痛（行經者可治經斷者不可治）</p>
<p>瓜蔞（一個連殼研碎）　當歸（五錢）　乳香（二錢）　甘草節（一錢五分）　皂角刺（三錢去尖）　青皮（三錢）　共一服水二大碗煎至八分食後服之服時入酒半杯於藥內善者即散惡者不成濃止毒氣化為黃水即愈大小便俱臭</p>

<h1>乳腫內呵</h1>
<p>玄參煮酒服取汗腫自消不退再服</p>
<p>又乳癰初發者</p>
<p>梔子仁去殼用子灰面停對蔥蜜搗成膏敷之即愈</p>

<h1>婦人血氣疼</h1>
<p>白芍　吳茱萸　川芎　紅花　歸尾　白茯苓　廣木香（少許）　玄胡索　粉草（少許）　右咀片水一鍾二分煎七分食遠服服完飲酒一二杯不能飲者半杯神效</p>

<h1>婦人鬱結積滯腹痛等症</h1>
<p>香附子（一斤）　四兩酒浸四兩炒鹽水浸四兩醋浸四兩童便浸炒為末枳殼一斤　水泡去穰每個安巴豆仁二個線扎水煮三香去仁將殼曬乾為末大皂角一（斤）　去筋絲為末　烏藥半斤切片酒炒為末　醋打麵糊為丸梧子大每服十九丸盛者二十五丸或薑湯或酒送下</p>

<h1>白崩</h1>
<p>棉花子炒焦取仁為粉用酒打蕎糊為丸酒下三錢數服即愈</p>

<h1>赤崩</h1>
<p>單狗腦燒過三錢酒調空心服</p>
<p>又方四物湯加艾（一錢）阿膠（一錢）即效膠用蛤粉炒</p>

<h1>紅崩</h1>
<p>酒浸香附去毛椿粉酒為丸每日空心酒送下</p>

<h1>血崩妙方</h1>
<p>烏胞茨根（一二兩）酒煎去渣服重者不過二三服即愈亦能治糞後紅井腫毒</p>

<h1>赤白帶</h1>
<p>酸梅草取汁用好酒調勻紅者白糖白者黑糖服之甚效</p>

<h1>白帶方</h1>
<p>金線重樓即蚤休又名紫河車（四兩）為末黃荊子為末（四兩）紅山查根為末（四兩）</p>
<p>以上三味和勻煉盜為丸每服三十丸日進三服神效</p>
<p>棉花子丸　治血崩白帶筋骨痛脾泄</p>
<p>棉花子炒焦取仁米（一升）　香附子炒黑（三合）　益丹草末（三合）　血崩用紅椿樹根皮末（三合）白崩用白椿皮（三合）苦參粉少許打糊為丸梧子大空心酒下（六七十丸）筋骨痛者單棉花仁粉每（一兩）生酒調服醉取汗即愈脾泄者單棉花仁末蕎粉為丸酒下或米湯下</p>

<h1>婦人血崩</h1>
<p>干蓮房燒灰（二錢）　敗棕燒灰（二錢）　百草霜（二錢）　共為細末作二服好酒調下立止</p>

<h1>產婦血氣衝心</h1>
<p>陳艾煎湯與醋均服立效</p>

<h1>崩漏</h1>
<p>用椿樹角不拘多少燒灰存性酒調服</p>
<p>抱龍丸治小兒實症驚風</p>
<p>大南星一個重一兩以上者更清水浸剖開作兩片中間剜一小孔內藏巴豆肉三個合成線扎定外用防風（一兩）　荊芥（一兩）　簿荷（一兩）　以清水煎煮南星以南星無白點為度取出去豆不用將南星搗如泥為丸雞頭子大硃砂為衣每用淡薑湯磨服一丸</p>

<h1>臍風撮日</h1>
<p>甘遂去筋（一錢）　殭蠶去頭足（五分）　蟬蛻去頭足酒炒（三錢）　雄黃（一錢）共為末每服（三分）薑蔥湯下用棉絮封臍仿治盤腸驚</p>

<h1>小兒風寒潮熱</h1>
<p>將大人右手大指按小兒手心中雷門勿使動將在手側上直骨自手從前後擦之又於手側下處自後從前擦之又在各手指望前擦擦後每節斷筋即安（男左女右）</p>
<p>萬金散治小兒發熱口乾驚掣</p>
<p>嫩石膏（五錢）煆過者　滑石水飛過（五錢）　硃砂（二錢五分）　炙甘草（二錢五分）　金箔二十四片共為細末如熱重薄荷湯調熱微荊芥湯調一匙服（當忌葷）</p>

<h1>免痘經驗方</h1>
<p>預先養烏骨雞雄雌各一不與他雞相雜待生了蛋收起每年自立春日始將蛋頂上開一小孔取蚯蚓一條入內仍用泥封固蛋孔灰火中炙熟去蚯蚓不用將蛋與孩子吃盡永不出痘多食三五個尤妙二歲以後俱可水部郎同年景諱防山西人傳渠三世不出痘皆此方之力</p>

<h1>稀痘方</h1>
<p>純陽草又名兔兒一枝箭草搗爛煎汁熬膏或酒或滾水調二三匙服三四兩其痘止數粒</p>

<h1>製藥方</h1>
<p>三伏天烈日用大蝦蟆一個用板一片釘四釘縛蟆四足頭出板一指朱漆盤盛水入水銀（五錢）在水內令蟆看見又用珍珠硃砂各（一錢）共為末將醋調每足各搽五分烈日中曬之待口內吐出白沫水上浮之取起四足藥各記明白將前吐沫分四處為丸遇發熱時認定是痘每服用人參一分五釐同純陽草煎湯送下前丸（一分五釐）如右手先出服右前足藥則出右手不過（五七粒）別處俱無餘仿此</p>

<h1>小兒喉口有痘不能飲食</h1>
<p>用白莧菜根全連莖半節燒灰存性為末每（錢）加冰片（二釐）以荻管吹入患處即思飲食</p>

<h1>痘科退潮熱</h1>
<p>生石膏（五錢）　滑石（五錢）　寒水石（五錢）慢火煆　麝香（半分）　冰片（三釐）共為末每用一茶匙竹葉燈心湯下即退熱</p>

<h1>小兒嘔吐不定</h1>
<p>五倍子二個一生一熟甘草一握濕紙煨過同研為末每服五分米泔調下</p>

<h1>小兒疳疾</h1>
<p>風化石灰（六兩）水飛過　青黛（一兩）共為末　每（一錢）調雞蛋煎服勿用鹽空心服五六次愈</p>

<h1>治小兒牙疳</h1>
<p>真膽礬一錢匙上煆赤去火毒入麝少許為末傳齦上即效</p>

<h1>小兒p疳或破皮</h1>
<p>荔枝一個取一孔入鹽灌滿紙包燒為末將少許搽之二次節好</p>

<h1>金爪丸</h1>
<p>治小兒久患黃瘦欲成疳疾不思飲食朝暮潮熱往來手腳無力肚腹不寧腸風下血一切治之神效先服金棗丹每次半分服至三分後服此丸黃連（一兩）　黃柏（一兩）　青皮去穰（五錢）　甘草（四錢）　共為細末用牙豬膽數個將末藥和勻入磁罐盛住浮在上懸胎煮六七滾取起放當風處吹一宿加麝（三釐）用米糊為丸如黍米大每服百丸或五七十丸量人大小用之滾米湯或酒下不拘飢飽用之一月令兒肥白唇紅氣壯有痰者加硼砂（四錢）天竺黃（二錢）</p>
<p>金棗丹　治一切外科破爛寒傷流注等症</p>
<p>雄黃（一兩）　辰砂（三錢）　川鳥去皮尖（三錢）　升麻（三錢）　蜈蚣（三條）　膽酥（三分）　鬧羊花（三分）　麝（六分）共為細末醋打麵糊為丸如大棗核曬乾入罐收聽用遇疾蔥包一丸火煨蔥熟為度蔥酒送下一丸盡醉發汗忌風不拘無名隨腫者俱效如至重者腫感一塊再服二丸不取汗全消神效如久破爛者每舉丸不必取汗數服自愈</p>

<h1>大麻風</h1>
<p>蒼朮（一斤）切砰蔥（四兩）姜（四兩）三味共搗爛入缸內布扎口覆在地上春五夏三秋七冬十日生毛衣為度取出曬乾　防風（四兩）　北細辛（四兩）　白芷（四兩）　草烏去皮淨（四兩）姜甘草共入罐水煮一日一夜取出曬乾</p>
<p>右共五味為末酒打麵糊為丸梧子大每服七八十丸酒下外用菖蒲根切片曬乾為末撒席上睡其蟲即死輕者一料重者二料即愈　又方</p>
<p>全蠍半斤用米泔汁浸一七取起火焙黃連（二兩）　殭蠶（三兩）炒去絲黃色黃芩（二兩五錢）　蟬退（二兩五錢）淨去土　明天麻（三兩）　川芎（二兩）　桔梗（二兩）去頭　白芍（二兩）　羌活（三兩）　白朮（六兩）去蘆　滑石（一兩）　防風（五錢）　石膏（一兩）　荊芥（一兩）　大黃（六錢）　當歸（六兩）酒洗　梔子去殼（二兩）　細辛（六錢）　連翹去心（二兩）　黃柏（一兩）　苦參去梗用皮（一兩五錢）人參去蘆（一兩）　沉香（一兩）</p>
<p>右二十四味共為細末聽用大楓子三斤去殼用肉十二兩加少再添照後法煮</p>

<h1>煮楓子黨</h1>
<p>牙茶四兩黃柏（二兩）　滑石（二兩）共為細末每用（五錢）用瓦罐一個水十斤入罐內煮滾將楓子入罐加前藥五錢入內大火煮煮得楓子如煮赤豆開口方換水去油（法照後）</p>

<h1>換水去油法</h1>
<p>用大缸一口容三五擔水的用篾籃一個放在水中將煮楓子的藥連藥連水傾在籃內去油取入罐又煮照前法連煮二次如煮爛飯為度照依前法換水去油連煮三次照依前下藥如糊黏為度方可取起照前去油用水漂過一夜去油濾乾用石臼椿如麵糊為度用前二十四味藥入臼又椿以勻為度將米粉一升打幹糊人臼內同搗取起為丸如梧子大曬乾早服二錢五分中服三錢晚服三錢用濃湯送下忌酒色大葷牛肉蔥蒜韭薤此藥用盡三料吃清肺散十服</p>
<p>楊梅結毒粉毒耳鼻落者復生腎莖潰卸依舊</p>
<p>乳香　沒藥　雄黃　磯砂俱生用各（二錢）　白砒用綠豆水浸一夜　硫黃豆腐煮過各一錢淨　黃蠟（四錢）溶化為丸每服（七釐）土茯苓（四兩）用水五碗煎三碗渣再用水二碗煎一碗共一處用牙皂焙末三分入湯內早用此湯一碗了藥七釐每日服四次若瘡勢輕者每服一分重者反服七釐恐服多則易好留毒在內故也服至一二日止痛二四五日轉痛趕出腥臭膿水直服至臭止水清不服藥單用生肌藥若再服則生出凸肉矣如此神異若耳鼻落者加人元未（三錢）取上部的若腎莖卸者加人元下部者（三錢）室女經布童便洗下焙乾（一錢）即復原墜胎有形全者即人元火焙過用</p>

<h1>又楊梅瘡粉毒</h1>
<p>白砒（一兩）　硫黃（一兩）　當歸　地黃　川芎　芍藥（女赤男白）以上各（一兩）共入罐打火六香三文三武升盞者與墜底者各自用麵糊為丸俱綠豆大疾在上川芎升麻湯送下升盞者一粒次日服墜者一粒疾在中歸地煎湯送下疾在下用牛膝木瓜湯下或雜在當歸地黃養氣血丸內每用一粒參服免入疑亦妙</p>
<p>治楊梅瘡榻梅風毒及誤服輕粉癱瘓筋骨疼痛不能動履者服此除根</p>

<h1>永無後患效驗如神</h1>
<p>仙遺糧即硬飯糰濕者（一兩）乾者七錢白者佳紅者殺人　防風　木瓜　木通　薏苡仁　白蘚皮　金銀花以上各（五分）　皂莢子捶碎（四分）　如虛弱者加人參　當歸各（七分）　以上十味用水鍾半煎至一鍾空心一服午間一服晚一服此三服止用藥二劑二次頭煎者將二渣並煎一服共成三服病淺者十日深者一月全愈忌牛肉燒酒</p>

<h1>收口藥</h1>
<p>凡梅毒生肌藥□將完止豆許大不收口者必要烏梅燒存牲研末上之即收別樣諸瘡不收口者用油頭髮燒灰或蜈蚣燒過上之即收</p>

<h1>治楊梅瘡羊角散</h1>
<p>羊角剉末炒焦研末每服（三錢）夜間酒調服出汗次日服防風通聖散一劑去芒硝大黃加川山甲金銀花隔三日再服羊散一服取汗再服遍聖散隔三日又照前服三次即愈出汗後其瘡黑色為驗最妙</p>

<h1>棉花瘡點藥神方</h1>
<p>白砒（三錢）　精豬肉（七錢）　以砒為細未點水數點於砒上將豬肉切碎以砒拌勻入陽城罐內打火三香不動固以煙盡為度冷定取出為末遇症用些須點上數日即愈乾者水調點</p>

<h1>治梅瘡</h1>
<p>土茯苓金銀花　紫草各（三錢）白水煎臨服用酒一小盞一日一服</p>

<h1>便毒等癲</h1>
<p>槐花一碗入鍋炒焦預先燒一秤鍾待槐花焦將秤錘入鍋內上以大碗蓋定仍將水酒充待水出碗弦則止將此酒能飲服二碗不能飲者服一碗沾汗一身即消</p>

<h1>魚口</h1>
<p>草麻子肉（三錢）研爛　松香（五錢）　先將松香煎化後下萆麻肉在內攪勻取起攤膏二個左右各貼一個又用大黃末五錢　空心好酒送下又吃核桃一枚即效</p>

<h1>下疳瘡</h1>
<p>輕粉七分金箔二十二個冰片半分共為末有水者干搽無水者去殼搽之外用烏金紙貼神效　又方</p>
<p>海螵硝火炮去皮（一錢）　水粉火燒過黃色（五分）　共為末擦之　又方</p>
<p>用豬骨髓和輕粉（三分）調擦　又方</p>
<p>輕粉（七分半）　片腦（三釐）　磨鏡鏽（一分）　三味為細末擦之三日痊安</p>

<h1>便毒</h1>
<p>用肥皂一個去核加雄黃末一錢搗酒醅糟灌於皂內外用滋泥糊一指厚火煆搗敷即潰</p>

<h1>鐵箍散專敷便毒等未成頭者即消已成者即穿大黃末芙蓉葉為末用雞蛋清調敷即效</h1>

<h1>白癜風</h1>
<p>枇杷葉　芙蓉花　各等為末用白鱣油調將薴麻根蘇油火烘熱擦之白鱣蒸取油熬乾水氣用</p>

<h1>鵝掌風</h1>
<p>用魚腥草（即野蕎麥最腥氣）並蔥二味搗一丸兩手搓之即愈鼻聞其氣可治楊梅瘡極效</p>

<h1>熏鵝掌風方</h1>
<p>紅花（一兩）　花椒（五錢）　香油（二兩）　浸前二味炒枯擦掌上火烘三五次全愈</p>

<h1>便毒癰疽等</h1>
<p>甘草節（一錢五分）　大黃（四錢）　川山甲（一錢炒）　金銀花（二錢）　水煎服泄去毒好止痛後服防風通聖散數服如要速好用水膠（三錢）酒煎服神效</p>

<h1>生肌</h1>
<p>鹿角（一兩）燒紅即研碎加輕粉（三錢）生肉妙</p>

<h1>腫毒發背頑瘡任是極痛立時止</h1>
<p>虎掌草曬乾為末紙為然子點菸熏初起患處立刻止痛比前又腫些過半畫又熏一然方消腫又熏一然立愈若久不收頑破等瘡用草末（一錢）加頭垢（六分）共為然熏瘡其敗肉盡落下血變為膿自生肌甚妙</p>

<h1>發背</h1>
<p>用團魚殼燒存性為極細末真麻油調將鴨毛搽瘡四圍中留一孔且勿搽藥侍毒將裂用飛過食鹽濃茶洗之方上前藥待一七後有膿出洗一次上一次藥待膿出盡方用生肌散如毒勝藥外用鐵箍藥芙蓉葉白芨大黃天南星燒紙包燒過為末用水缸下泥淡淡醋調敷之如未開用蝦蟆取皮貼患處節開便用前藥</p>

<h1>蟾酥丸治發背乳癰疔瘡止痛</h1>
<p>蟾酥（一分）乳化開　麻黃末（三分）　同酥和調為丸雄黃為衣如黃豆大每服三丸真酥仿者止一丸酒送下出汗即止痛散毒其丸剩者曬乾可留</p>

<h1>發背</h1>
<p>扁竹根白黃花者為末水洗搽上又用作末酒服五分又凡諸瘡已出未出者俱用偏竹根搗碎取汁和滾酒有或切片煮酒服神效</p>
<p>又發背肉爛者用蝦蟆一個破開去腸肚伏著貼入患處少頃爛者盡旋生新肉奇妙</p>

<h1>發背癰疽奇方（先看四種照法明白方能下）</h1>
<p>取蚯蚓糞五錢用桐油和勻炒黑色極枯退火冷定研末再加羊油一兩和勻研用油紙捲成條又入桐油內浸濕將此點燈照看患者輕重若瘡暗黑臭氣衝鼻難療四處紅活以藥調治即痊</p>

<h1>藥方</h1>
<p>鐵甲將軍二三十個即蜣螂蟲焙乾聽用綠豆取塞三兩不炒麻黃節三錢炒黑色共三味放入大磁碗內加入乳拌濕浸過一夜次日曬乾再研細末每服一錢五分白酒送下令坐片刻其痛即止慢慢去黑敗之肉遂生新肉每日豬蹄湯洗之拭乾方上生肌藥</p>
<p>黃蜂巢（一兩）　魚膠（四兩）　二味剉碎炒黑色為度退火研細末放地上退去火毒一宿次日取出加冰片五釐和勻上藥以填滿為佳重極者亦只一月必可痊愈</p>

<h1>金銀花酒治一切癰疽發背疔瘡乳癰便毒及喉閉乳蛾等症</h1>
<p>用金銀花連莖葉搗爛取汁半鍾和熱酒半鍾溫服甚者不過三五服可保無虞如秋冬時無鮮者以收下乾者一握用水一鍾煎至五分充熱酒半鍾服之神效</p>

<h1>發背潰爛後方</h1>
<p>五月五日採菖蒲根不拘多少曬乾臨用將蒲截開作四條月青布纏裹醮真麻油於爛處四下照即愈</p>

<h1>治痔方</h1>
<p>萆麻葉揉碎煎湯先熏後洗仍用有片眼藥擦於四圍斷根　熏時用罐著藥水微溫安在肛門周圍以絹繞罐口</p>

<h1>痔瘡極效方</h1>
<p>大黃半斤切碎水酒各牛砂鍋煮二日待半乾即搓感丸每服三十丸用臘酒一壺黑鉛四兩火化開投入酒中如此七次將此酒空心送下只用一料即可斷根</p>

<h1>又牛奶外痔</h1>
<p>膽礬　青礬　明礬　芒硝各等分瓦焙枯　用少許擦於眼頭上二三次水出自消</p>

<h1>外痔方</h1>
<p>陳茶一握　蘄艾一握　煎水五六碗先將五倍子七個入盆內以前煎水傾入盆內將身坐上用衣圍住蒸之待水溫洗其瘡即斷根不發</p>

<h1>痔漏退管生肌</h1>
<p>白芷梢（一錢五分）　蝟皮（三錢）砂炒　蜣螂（一個）共為末分三服空心酒調下自燃退管極妙</p>

<h1>治面疔瘡</h1>
<p>蝸牛（一個）帶殼　白梅肉（半個）　荔枝肉（一個）　黃雞膏銀硃搗膏貼</p>

<h1>諸腫毒</h1>
<p>草烏　芙蓉葉二味各等分為末水調敷腫處即消</p>

<h1>瘰癧方</h1>
<p>用夏枯草不拘多少洗淨研自然汁熬膏將連翹枳實桔梗當歸金銀花各一兩研為末和勻入牙豬臟內兩頭用線扎定將陳火酒煮三四時取出用藥曬乾再研細末入草膏內為丸如彈子大曬乾搗爛又入奮為丸曬如此四五次後為小丸如桐子大早飯後七丸午後十四丸夜飯後二十一丸俱酒送下此方屢有神效</p>

<h1>瘰癧神效方</h1>
<p>白馬骨根（此草似木高不過尺對節開枝對節開葉葉如枸杞花白微小之甚花在節間叢生加益母草）芫花　二味各等分煎水待溫浸雞卵輕者十二個浸二三日方將藥水煮食每日一個酒下外貼草膏</p>

<h1>草膏方</h1>
<p>荔枝草一名長青草又名雪裡青味極苦多取煎濃汁去渣再熬成膏攤貼患處不拘己穿未穿俱效若未穿將先起的瘡灸一艾然後貼之若已穿者可不灸</p>

<h1>瘰癧方</h1>
<p>熟大黃（一兩）　密陀僧（五錢）　黑牽牛（五錢）　蔥白皮（五錢）　火硝（五錢）　土鱉子（六七個）炙乾</p>
<p>以上各味共為細末蜜為丸早晨取無根水在靜室不聞人言雞犬之音處送下忌發熱生冷之物半月病人少瀉此藥作一服加瘡已破即斂口如未破即消一月自然全愈</p>

<h1>瘰癧神效</h1>
<p>土茯苓鮮者用木器打碎（四兩）　防風（八分）　荊芥（七分）　蜂房（七分）　細辛（八分）　白殭蠶（十六個）　薏茲仁（二錢）　肥皂子仁（九個）　皂角茨瘡已破者（七八分）　未成形者（三分）　引經而已　若破而將好者少用燈心（三十根）水（四茶）鍾煎二鍾食後服每日飲土茯苓湯數日一服見效忌牛肉茶並房事</p>

<h1>瘰癧方白茅藤並根煎酒晚服取汗後每日服之節消極效</h1>

<h1>梅核氣</h1>
<p>薏苡仁根煎酒服一二次即愈</p>

<h1>臁瘡方名三白膏</h1>
<p>水粉（一兩）為未　白蠟（五錢）　黃蠟（一兩）　豬油（二兩）　共熬成膏　照瘡大</p>

<h1>小油紙攤貼內用搽藥方</h1>
<p>胡黃連（一錢）為細末　片腦（一錢）　輕粉（一錢）　共擂極碎搽瘡上二七痊安</p>

<h1>臁瘡久不收口並頑瘡</h1>
<p>銀硃（五分）　韶粉（一錢）　松香（一錢）　冰片（三釐）　銅緣（五分）　俱為細末用真正麻油煎一滾取起入前藥在內調勻做隔紙膏貼之極妙古石灰研末（一斤）　用韭汁和搗為餅陰乾加煆過龍骨（五錢）　赤石脂（五錢）　輕粉（三錢）　麝（一分）　象皮切片（三錢）　砂土炒　共為細末生桐油調攤膏貼之即好</p>

<h1>臁瘡及一切頑瘡久不愈者</h1>
<p>銀硃（一錢）　千年古石灰（五分）　松香（五錢）　為細末香油（一兩）　化攤紙上貼之　又方</p>
<p>松香不拘多少為細末每末四兩加冰片一分用真香油調勻搽患處外用軟紙包裹紮住三日一換即愈先用鹽茶水或蔥水洗淨　又方</p>
<p>黃臘（二兩）　桐油（半鍾）　花椒（三錢）　真輕粉（三分）　共熬成膏溫熱時用榆臘葉拖膏貼之洗同前　又方</p>
<p>黃臘（一兩）　溶化入銀硃（一兩）　攪攤紙上刺孔貼之節愈</p>

<h1>臘梨方</h1>
<p>南星半夏天花粉三味各等分為細末桐油調搽</p>

<h1>臘梨癩方</h1>
<p>枯礬（五錢）　松香（五錢）　輕粉（三錢）　香油調搽妙　又方</p>
<p>用甘柘炕焦末（一兩）　輕粉（三錢）油調</p>
<p>臁瘡方並一切頑瘡</p>

<h1>治痔方</h1>
<p>萆麻葉揉碎煎湯先熏後洗仍用有片眼藥擦於四圍斷根熏時用罐著藥水微溫安在肛門周圍以絹繞罐口韭菜下蚯蚓糞用火煆紅研碎為末又用番木鱉數個以清油煎去渣即以此油調前糞末搽於患處即愈搽時先將槐枝煎水洗淨臁瘡血風瘡</p>
<p>輕粉　百草霜即鍋底塵各一半和勻細搗為末以香油調攤油紙貼患處布包上中下緊扎一日三換妙油紙長一塊上半用針穿眼無數下半攤前藥不用針穿孔驗過立效</p>
<p>又方（不收口用姜自然汁洮之一次收一次數次全收）黃柏（四兩）　蜜（半斤）　將蜜炙柏干又炙得老黃黑色切片為末配後藥　輕粉（三錢）　兒茶（一錢）去油　乳香去油　沒藥去油　血竭各（五分）　共為末用蜜調餅貼瘡口布札次日反覆貼之輕者一個餅全愈重者不過二個如貼肉不可動愈自落神效神效　又方</p>
<p>用累輕燒過窯窒黃土研極爛入黃柏赤石脂黃丹輕粉拌勻以清油調稀用油紙盛藥傳瘡上卻以布絹縛定縱癢不可以手開動直候十數日後瘡愈卻去之再加沒藥浮香以散瘀血更妙</p>

<h1>貼無名腫毒膏藥</h1>
<p>金星鳳尾草（一兩五錢）如無鴨掌金星亦可　水竹葉（一兩）鳳尾竹葉尤佳蔥根連須頭（三十根）　朝東側柏葉（一兩二錢）　白芷（一兩二錢）</p>
<p>右剉碎用真香油（一斤二兩）浸藥一日用火熬看白芷焦黃為度用棉紙兜濾去渣拭鍋乾淨方入鍋用火再熬每油（一斤）上好鉛粉（三兩）用竹杖攪勻文武火熬沸看起黑煙再入鉛粉（一兩）用竹杖不住手攪起黑煙又入（一兩）鉛粉扔用竹杖如前攪又看黑煙起又投鉛粉（一兩）如此四次為度滴水中成珠不散巳成膏取起連鍋坐土凹中攪去火毒任用</p>

<h1>腫毒敷藥</h1>
<p>五棓子末與小粉（小麥面澄洗粉）等分共炒成團凡遇毒取些研末醋調敷之即好神效</p>

<h1>諸瘡膏止痛散血生肌</h1>
<p>苦參（半斤）　商陸根（半斤）　桐油（一斤）內加香油（四兩）　將前二味入油共慢火熬至藥枯黑去濟再將紙托布護去渣腳以鍋拭淨入前藥油再熬加陀僧細末（五兩）陸續投下頻投頻攪滴水成殊取起出火加黃白蠟各（五錢）待將冷傾入水中去火毒</p>

<h1>疥瘡洗方</h1>
<p>用蒼朮（一勺）　皮硝（一勺）　苦參（一勺）　煎水洗二三次即好有蟲加黃柏</p>

<h1>疥瘡</h1>
<p>小麥（一升）　用硫黃（二兩）　陸續投炒小麥外用川椒（二兩）　檳榔（一兩）　苦參（三兩）　藜蘆根（五兩）　番木鱉二十個　共為末雞蛋煎油調搽</p>

<h1>又搓手方</h1>
<p>杏仁（二十個）　大楓子（四十九個）　水銀（一錢）　朝腦（三錢）　共搗爛為一大丸兩手搓藥以鼻嗅之二日即愈搽亦可</p>

<h1>膿疱瘡</h1>
<p>大楓子（三四十粒）　朝腦（二錢）　水銀（一錢）　硃砂（一錢）　共為末以油核桃仁搗前藥末為一團放於手中搓之復以鼻聞之又以藥團於瘡上滾走即愈</p>

<h1>纏蛇丹　龍纏瘡</h1>
<p>口嚼糯米漿搽之即好小兒而瘡亦好</p>

<h1>坐板瘡</h1>
<p>涼沙泥水搽洗之即好用胡麻嚼爛連津貼上即好　又方</p>
<p>飛礬（一兩）　雄黃（三錢）　硫磺（三分）　共為末擦之</p>

<h1>血風瘡方煙膠散</h1>
<p>用硝皮鍋上粑為末將生桐油調油紙攤膏貼之不十日即痊（小兒頭瘡用香油調搽）　又方</p>
<p>用蚯蚓糞桐油調搽即愈</p>

<h1>腎囊風癢</h1>
<p>豬蹦殼燒灰存性煎水先洗患處後將此藥搽之亦好　又方</p>
<p>青礬煎水洗極妙（並坐板瘡亦治）</p>

<h1>諸瘡毒</h1>
<p>槐角子（一錢）　白生礬（三分）　共煎酒服即愈</p>

<h1>金瘡神效方</h1>
<p>石灰（一斤）　韭菜汗（二斤）　甘草（二兩）　為末和拌搭在壁上陰乾成末搽之</p>

<h1>棒瘡</h1>
<p>石灰不拘多少用冬青樹葉取汁加桐油少許拌石灰搽上待乾又照前三次凡棒打任破爛用熱童便洗淨將藥搽之外用熱豆腐片蓋上緊扎一夜即好如失當時止痛</p>

<h1>血箭瘡</h1>
<p>此瘡多起手足起於手足者起時即將繩匝定勿令紅筋過關將金銀針挑破頭用紫背浮萍嚼爛汁吞下其渣敷患處即愈又名紅絲瘡如不匝定紅筋手至心足至腹即死</p>

<h1>生肌散</h1>
<p>血竭　兒茶　乳香　沒藥　出過雞的蛋殼共為末搽之</p>

<h1>血風瘡</h1>
<p>枯鉛粉（一斤）　汞（四兩）　共擂不見星每患腳止用（一錢）入熱豆腐漿內洗腳一次黑水出來用傘紙裹腳包緊勿令透風次日又將前水溫洮三日又洗只洗鮮血出節愈外再□些生肌藥更妙</p>

<h1>接骨丹</h1>
<p>凡打碎跌撲刀斷等者先要好生著實拿正其骨即於乳香內揀出小朱研碎乾摻於患處即將杉樹皮夾正留一些縫乃外用骨碎補野芋頭白酒藥（節曲）乾薑各等分揚爛敷在杉皮之外扎正內服活血酒即效　又方</p>
<p>桑樹根濕皮柘樹根濕皮俱用小樹加生薑（四兩）三味搗碎用真麻油一小鍾將前藥入鍋內陸續入油拌炒攤少溫敷上外月皮裹皮外用木板夾住當時止痛對畫去藥不然則骨長大矣　又方</p>
<p>紅銅一斤燒紅淬酒一壺飲之盡醉酒醒即行走神效　又方</p>
<p>土鱉一個焙乾　自然銅（五分）　骨碎補（一錢）共為末每用（七釐）酒調服　又方</p>
<p>李樹皮（四兩）　生薑（四兩）　雞毛（一兩）　酒糟共搗一餅包上日對畫去藥若多一時恐另生骨</p>

<h1>跌傷</h1>
<p>熟糯米飯（一碗）　酒麴半個拌勻敷包患處待酒香即愈極效</p>

<h1>損傷骨痛</h1>
<p>老茄子子微炒酒煎服</p>

<h1>跌傷不能動者</h1>
<p>用松樹鮮葉搗爛熱醋調布包搽患處一二次即見效五六次全好</p>

<h1>騾馬打破皮</h1>
<p>用茜草根為末□之一次收口</p>

<h1>接骨</h1>
<p>用接骨蟲不拘多少焙乾研為末又用人土古銅錢炭火上燒紅淬於酷內以石椎杼擂碎不碎者仍用火煆醋淬醋碎如此四五次以錢爛為度將紙濾干遇跌打損傷將前藥各等分大人一分小兒半分酒調服被蓋臥少取汗即愈</p>

<h1>體氣</h1>
<p>用大田螺數個每個以水養活俟吐開梳時將筋夾定用麝香膽礬冰片巴豆各少許點人殼內將掩匝定次日螺化成水半夜時即以此水頻搽患處瀉去惡毒將惡毒埋於無人去處勿令人見即愈</p>

<h1>體氣</h1>
<p>用自己小便洗一次米泔水洗二次自然薑汁每日搽千餘次一月之後可以斷根　又方</p>
<p>枯白礬　鉛粉　松脂等分　右為末搽之　又方</p>
<p>苦蕎麵內用川烏草鳥為末入面內為粑蒸熱夾於兩脅下冷又換取去用上好金墨搽脅下夾定不動待乾看有眼處將艾作小丸安於上燒之連七次結疤痕其氣不出臭穢方止多吃生薑　又方</p>
<p>用阿魏子每用一分酒調食飽飲之藥盡即愈</p>

<h1>汗斑</h1>
<p>用紫背浮萍捶爛將酸漿草搗汁拌萍麻布包擦待汗出擦發熱洗澡一次全愈　又方</p>
<p>用自己小便洗之極效</p>

<h1>火瘡</h1>
<p>真麻油煎滾入黃葵花鮮者十數朵在內再煎一沸用罐盛油藏土中一二日去花留油凡遇火湯瘡擦上油一日即好　又方</p>
<p>絲瓜燒過□之妙</p>

<h1>火燒湯泡</h1>
<p>好大黃為末□之如干以香油調搽</p>

<h1>蜈蚣咬</h1>
<p>用胡椒嚼碎敷之妙</p>

<h1>蜈蚣蟲傷</h1>
<p>用香附子口嚼爛敷之即愈或雞冠血搽亦可</p>

<h1>風狗咬</h1>
<p>番木鱉一個炭火煨脆為末生薑一而打碎煎湯一碗調服立吐痰涎或不吐亦效　又方</p>
<p>染水一碗（染布缸中水）及清水一碗香油一碗共調服神驗</p>

<h1>風狗咬及魚口神效</h1>
<p>斑貓蟲去頭足翅或（四五個）糯米炒黃色止（二分）　牽牛（一錢）　二味和勻酒下二分只一服即安　又方</p>
<p>用番木鱉磨水即愈</p>

<h1>治狗咬</h1>
<p>用水一瓢傾於上瓦流下有土地上取濕土敷之愈　又方</p>
<p>用屋瓦一塊打二塊以打破處彼此相磨以磨下灰淹之即愈</p>

<h1>癬方</h1>
<p>硼砂（三分）　鹽精（三分）　砒（三分）　共為末外水黃芩根切片醋浸又用一長根亦浸醋中取長者蘇前藥末擦之　又方</p>
<p>用水黃芩根微曬（一兩）　砒（七分）共搗爛青布包蘇酷擦二次即愈</p>

<h1>木蝨方</h1>
<p>華撥　烏頭二味各（一兩）　雄黃（二兩）　為末加倍煉蜜為膏作一炷香臨臥時然一炷於床下木蝨自死　又方</p>
<p>元宵夜用紙然照床土各縫中自無</p>
<p>彭祖煉臍法能除百病進飲食長肌膚健下元婦人經水不調赤白帶</p>

<h1>下並效</h1>
<p>雄鼠糞五錢兩頭尖者是　乳香　沒藥各制去油　廣木香以上各（一錢）為末入青鹽（一兩）</p>
<p>五靈脂五錢麝香（一錢）　針砂（一錢）共為末一處用苦蕎麥麵水和做一圈圍定臍約八分厚中空如錢大內先用前靈脂等末填臍內一分厚次將前鼠糞等末填滿上用半分厚槐皮去粗皮剪員如面圈口大皮上針眼蓋將藥上用好陳蘄艾將棉紙捲如大指大切作一分厚餅子四十九個放槐皮上灸之每餅燒盡方上一餅再灸以四十九餅盡為度灸至八九壯覺肉熱即更換新藥新槐皮如欲煉時先將磁石磨酒服三四杯方行遇肚飢只管放下用飯後又灸此時忌油膩酒服三四次灸日　四月八　五月五　六月六　七月七　八月半祟禎甲戌秋日鳥程閔齊及遇五父</p>
