<header data-type="book">
<h1>本草害利</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>凌奐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1862">公元1862年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>古人有三不朽，曰立德，其次立功，又次立言。余何人也，豈敢妄發言哉！敢於功德自誇耶？從幼年來，體弱多病，思閱方書，因從書賈購得吾郡良醫烏鎮逸林僧所遺醫書甚夥。自軒歧仲聖逮今諸家注論，靡不收採，略得心領神會。遂棄諸子業，從我郡吳古年夫子遊，將歷代名醫著述書籍，探本窮源，隨時就正，讀破萬卷，講論偏見錯謬之處，或自昏黃達旦。先生年屆古稀，日逐臨症，得有餘暇，猶不辭倦，且諄諄訓曰：醫關性命，不可苟且，一病有一經所發，若察脈辨證，尤宜加謹，恐失之毫釐，謬於千里也。先生袖出一帙曰：本草分隊。取其用藥如用兵之意，蓋臟腑，即地理也，處方如布陣也，用藥如用兵將也。病本在於何經，即以君藥主將標於何經。為臣使之藥，即所以添兵弁。識得地理，布成陣勢，一鼓而戰，即能殄滅賊氛，即所謂病退也。然後調攝得宜，起居如常，即兵家善後事宜，民得安居樂業也。苟調度不精，一或失機，一敗塗地，即用藥不審，草菅人命也。</p>
<p>奈近時醫者，一到病家，不先看脈審證，遂聽病家自述病情，隨即寫藥數味，曰：某湯主治。粗知大略，用某藥能除某病，如此治病，則仁人必深慮而痛恨之。雖業醫臨症，有望聞問切四診之說，然望是觀其氣色，如經云：青欲如蒼碧之澤，不欲如藍也。聞是聽其聲音清濁高低，即宮商角徵羽五者，屬五臟也。問是問其老少男女，平素勞逸喜惡，起患何時，始得何病，曾服何藥，問病源也。切是最要之事，診得浮沉遲數滑澀大小長短諸脈，見於左右寸關尺部，辨明虛實表裡寒熱。何證發於何經，應用寒熱溫涼之藥，定方進藥，君臣佐使，配合得宜，如湯沃雪，諸恙若失，方能起死回生，豈有害哉！</p>
<p>凡藥有利必有害，但知其利，不知其害，如衝鋒於前，不顧其後也。餘業是道，二十餘年，遇證則慎思明辨，然後下筆，補偏救弊，貽誤者少。審識藥品出產形狀，親嘗氣味，使藥肆中不敢偽充而誤人耳。</p>
<p>先生之分隊一書，尚未刊行於世。遂集各家本草，補入藥之害於病者，逐一加註，更曰《本草害利》，欲求時下同道，知藥利必有害，斷不可粗知大略，辨證不明，信手下筆，枉折人命。用是不揣固陋，集古今名醫之說，刪繁就簡，撰述成書，以付剞劂，公諸同好，並就正於海內明眼，亦慎疾之一端云爾。</p>
<p><u>咸豐壬戌年，吳興凌奐曉五自序。</u></p>

<h1>心部藥隊</h1>

<h2>〔補心猛將〕</h2>

<h3>北五味</h3>
<p>〔害〕酸鹹為多，能斂肺氣。氣為衛。若邪風在表，痧疹初發，一切停飲，肺家有實熱者，皆當禁服之。恐閉其邪氣，多致勞嗽虛熱，蓋收補之驟也。</p>
<p>〔利〕性溫，五味具備，酸鹹為多。收肺而療咳定喘，補腎而壯水澀精，酸收而心守其液，故為補心猛將。肝腎同源，又為補肝猛將。</p>
<p>〔修治〕八月採實陰乾，凡用蜜浸焙乾，入補藥熟用，入嗽藥生用。肺寒氣逆，與乾薑同用。按五味酸斂，如勞損久咳，肺氣耗散，非此不能收其耗散之金。</p>

<h3>酸棗仁</h3>
<p>〔害〕凡肝膽心脾有實熱邪者，勿用，以其收斂故也。</p>
<p>〔利〕性平能補益肝膽，酸收而心守其液，乃固表虛有汗，肝旺而血歸其經，用療徹夜無眠。</p>
<p>〔修治〕八月採實陰乾，四十日成。生用療熱好眠。炒香熟用，療膽虛不寐、煩渴、虛汗等症。自汗為陽虛，盜汗為陰虛，斂虛即所以治盜汗也，非斂陽虛自汗也。</p>

<h3>柏子仁</h3>
<p>〔害〕仁體多油辛潤，且滑腸，泄瀉者勿服。膈間多痰，及陽道數舉，腎家有熱，暑濕作瀉，法在咸禁。</p>
<p>〔利〕甘辛香平，入心養神，入腎定志安神，定悸壯水，強陽，潤血而容顏美少，補虛而耳目聰明。</p>
<p>〔修治〕九月採子，蒸曝春礧，取仁，酒浸一宿，曬乾炒研去油用，油透者，勿入藥。</p>

<h3>遠志肉</h3>
<p>〔害〕此無補性，虛而挾滯者；同養血、補氣藥用，交通心腎、資其宣導、臻於太和。不可多用、獨用。純虛無滯者，誤服之，令人空洞懸心痛。凡心經有實火，應用黃連、生地者，禁與參、術等補陽氣藥同用也。</p>
<p>〔利〕性溫、苦泄辛散、定心氣、止驚益智、補腎氣，強志益精，善療癰毒，敷服皆可。</p>
<p>〔修治〕四月採根葉，陰乾去心，否則令人煩悶。甘草湯浸焙乾，或鹽水炒、或薑汁炒、或用炭。附小草：益精補陰氣，止虛損遺泄，交通心腎，調平水火之功。</p>

<h3>丹參</h3>
<p>〔害〕雖能補血，長於行血。設經早期，或無血經阻，及血少不能養胎，而胎不安，與產後血已暢者，皆不可犯，犯之，則成崩漏之患。凡溫熱病，邪在氣分，而誤用之，則反引邪入營，不可不慎之。久服多眼赤，故應性熱。本經云微寒，恐謬也。孕婦無故，及陰虛之人忌用。</p>
<p>〔利〕苦、微寒、入心主血，去瘀生新，安神養陰，安生胎，落死胎，胎前產後，帶下崩中需之。</p>
<p>〔修治〕北方產者良，五月採根曝乾，豬心血拌炒，或酒炒用。</p>

<h3>龍眼肉</h3>
<p>〔利〕甘平，補心虛而長智，悅胃氣以培脾，除倦忘與怔忡，能安神而熟寐。道家服龍眼肉，細嚼千餘，待滿口津生，和津汩汩而咽，此即服玉泉之法也。</p>
<p>〔修治〕七月實熟，白露後，方可採摘，曬乾，焙。生者，沸湯瀹過，食不動脾。其核去黑殼研末，止金瘡出血。</p>

<h3>麥門冬</h3>
<p>〔害〕性潤動脾，便滑者忌。</p>
<p>〔害〕性寒而潤，寒多人禁服。凡虛寒泄瀉，及痘瘡虛寒作泄，產後虛寒泄瀉者，咸忌之。徐洄溪批葉按虛勞咳嗽部云：麥冬能閉肺竅，遂致失音。愚謂咳嗽，因於濕者，濕為重濁之邪，以麥冬能膩隔，勢必濕熱壅滯、肺失清肅。肺為聲音門戶，金實則無聲也。</p>
<p>〔利〕甘、微寒、清心瀉熱、滋燥金而清水源。又為涼三焦次將，地黃車前為使，脈氣欲絕者，加五味子、人參，三味合名生脈散，補中元氣不足。（蓋心主脈，肺朝百脈，補肺清心，則氣充脈復）。</p>
<p>〔修治〕浙產甚良，四月初採根栽，夏至前一日取根曬乾，收之抽心用，不爾令人煩。近時多連心用。恐滑腸，用米炒黃。寧心，用辰砂少許拌。入丸散須瓦焙熟，即於風中吹冷，如此三四次，即易燥而不損藥力。（麥冬之功，在潤燥，非在滋陰。蓋肺熱而喜潤，故曰：清金保肺，肺與大腸相表裡。故曰：滑腸、泄瀉者忌用。）</p>

<h3>當歸</h3>
<p>〔害〕氣味辛溫，雖能補血活血，終是行血走血之性，故能滑腸。其氣與胃氣不相宜，故腸胃薄弱，泄瀉溏薄，以及一切脾胃病，惡食不思食，及食不消者，並禁用。即在胎前產後亦忌。辛溫發散，甚於麻黃細辛，氣虛血弱有熱者，犯之發痙。惡櫚茹濕面，畏菖蒲、海藻、生薑。</p>
<p>〔利〕甘辛溫去瘀生新，舒筋養營，溫中潤腸。心主血，肝藏血，脾統血，歸為血藥，故入三經。頭止血，尾破血，全和血。能引諸血歸經故名。歸尾，一稱歸鬚。</p>
<p>〔修治〕二月採根陰乾，頭尾圓多紫色，肥潤氣香，里白不油者良，以秦產馬尾歸最勝，力柔善補，川產力剛善攻，他處鑱頭當歸，只宜發散藥耳。本病用酒炒，如吐血，須醋炒，或用酒炒黑。有痰，用薑汁炒。凡曬乾乘熱紙封甕收之不蛀。按當歸炒極黑，能治血澼血痢，炒焦則味苦，苦則澀血也。</p>

<h2>〔補心次將〕</h2>

<h3>白芍藥</h3>
<p>〔害〕酸寒收斂，凡胃弱中寒作泄，腹中冷痛，及胃中覺冷等症，當禁。傷寒病在上焦之陽結忌用，血虛有熱者宜之。產後酒炒用，又曰產後忌用。</p>
<p>丹溪曰：以其酸寒，伐生髮之氣也。必不得已，酒炒用之可耳。時珍曰：產後肝血已虛，不可更瀉也。惡芒硝、石斛，畏硝石、鱉甲、小薊，反藜蘆。</p>
<p>案：肝臟病患者，不宜大量長期服用。朱顏注。</p>
<p>〔利〕苦酸微寒，斂肺而涼血，制肝以安脾。心主血，涼血故補心，酸收而守其液也。及一切血病。同白朮補脾，同參耆補氣，同歸地補血，同川芎瀉肝，同甘草名芍藥甘草湯，止腹痛。蓋腹痛，因營氣不從，逆於肉裡故也。</p>
<p>〔修治〕八九月取根曬乾，用竹刀刮去皮並頭，銼切細，蜜水拌蒸。今多生用單瓣花者入藥。用酒炒制寒，醋炒行血。下痢後重不炒用。多服則損人目。汗多人服之，亦損元氣，夭人，為其淡而滲也。中寒者勿服。</p>

<h3>茯苓神</h3>
<p>〔害〕功專行水伐腎。病人腎虛，小便自利或不禁，虛寒精滑及陰虧而小便不利者，皆勿妄投。茯苓赤筋，若誤服之，令人瞳子並黑睛點小兼盲目。二茯俱惡白蘞，畏地榆、秦艽、鱉甲，忌米醋酸物、雄黃等。馬藺為使。</p>
<p>〔利〕味甘平淡，治與茯苓同功。入心之用居多，交心腎而安神、定志、開心、益智，療心虛驚悸，多恚善忘。</p>
<p>〔修治〕搗細，於水盆中攪濁，浮者濾去之，曝乾切用。須於二八月採取陰乾。凡用去心。寧心用辰砂拌。</p>
<p>按《神農本草經》止言茯苓，《別錄》始分茯神。茯神中守，而茯苓下利，白者入肺、膀胱氣分，赤者入心、小腸。</p>
<p>茯苓木，又名黃松節，即茯神中心。松節散，乳香木瓜湯，治一切筋攣疼痛。乳香能伸筋，木瓜舒筋也。</p>
<p>茯神心木，寧心神，療諸筋攣縮，偏風喎斜，心掣健忘。</p>

<h3>豬心血</h3>
<p>〔害〕宰豬驚氣入心，絕氣歸肝，俱不可多食。</p>
<p>〔利〕用作補心藥之嚮導，蓋取以心歸心，以血導血之意。</p>
<p>〔修治〕用竹刀將豬心剖開取出，拌炒補心藥丹參之類。</p>

<h3>琥珀</h3>
<p>〔害〕淡滲傷陰，凡陰虛內熱，火炎水虧者，勿服。若血少而小便不利者，服之反致燥急之苦。</p>
<p>〔利〕甘平入心、肝、肺、膀胱四經，安神而鬼魅不侵。色赤入血分，故能消瘀血、破癥瘕、生肌。能清肺而利小便。甘淡上行，能使肺氣下降，而通膀胱，故能治五淋。又能散瘀血，而生新血，去翳障而能明目。經曰：脾氣散精，上歸於肺，通調水道，下輸膀胱。凡淡滲藥，皆上行而後下降，琥珀脂入土而成寶，故能通塞以寧心定魂，以燥脾土之功。</p>
<p>〔修治〕松脂入土年久結成。入地亦能結成。以手心摩熱拾芥者真，以柏子仁入瓦鍋同煎半日，搗末。</p>

<h3>淮小麥</h3>
<p>〔害〕小麥寒氣全在皮，故面去皮則熱，熱則壅滯動氣發渴助濕，令人體浮，皆其害也。凡大人脾胃有濕熱，及小兒食積肝脹，皆不宜服。然北人以之代飯，常御而不為患者，此其地勢高燥，無濕熱重蒸之毒。故面性溫平，其功不減於稻粟耳。東南卑濕，春多雨水，其濕熱之氣，鬱於內，故食之過多，每能發病也。夏月虐痢人，尤不宜食。</p>
<p>〔利〕甘微寒，養心除煩，利溲止血，止渴收汗。浮小麥澀斂、涼心、止虛汗盜汗，治骨蒸勞熱。麩皮與浮麥同性，止汗之功稍遜。醋拌蒸，熨腰腳折傷，風濕痹痛，胃腹滯氣。能散血止痛。麵筋甘涼，解熱和中。面甘溫，補虛養氣，助五臟、厚腸胃，北方者良。《素問》云：麥屬火、心之谷也。</p>
<p>〔修治〕秋種冬長，春秀夏實，具四時中和之氣。四月採，新麥性熱，陳麥平和。浮麥，即水淘浮起者，焙用。</p>

<h3>合歡皮</h3>
<p>〔害〕氣味平和，與病無忤。</p>
<p>〔利〕甘平安五臟，和心志，令人歡樂無憂，和血止痛，明目消腫，續筋骨，長肌肉，殺蟲，和調心脾，得酒良。</p>
<p>〔修治〕採無時不拘，去粗皮炒用，入煎為末，熬膏外治並妙。</p>

<h3>龍角</h3>
<p>〔害〕同龍骨，見肝部。</p>
<p>〔利〕辟邪治心病。</p>
<p>〔修治〕亦同。</p>

<h2>〔瀉心猛將〕</h2>

<h3>牛黃</h3>
<p>〔害〕小兒傷乳作瀉，脾胃虛寒者忌之。東垣云：牛黃入肝，治筋，中風入藏者，用以入骨追風。若中府中經者，誤用之反引風入骨，如油入面，莫之能出，為害非輕。有平素積虛，而一時驟脫者，景岳以非風名之，尤忌用之。</p>
<p>〔利〕苦甘涼，瀉心主之熱，攝肝臟之魂，利痰涼驚，通竅辟邪，治中風入臟，驚癇口噤，能入筋骨以搜風，得丹皮菖蒲良，人參為使。</p>

<h3>石菖蒲</h3>
<p>〔害〕辛香偏燥而散，陰血不足者，禁之。精滑汗多者，忌用。若多用獨用，亦耗氣血而為殃。犯鐵器，令人吐逆。惡麻黃，忌飴糖、羊肉、鐵器，惟秦艽為使。</p>
<p>〔利〕芳香利竅，辛溫達氣，宣五臟，開心孔，利九竅，明耳目，發聲音，去濕除風，逐痰消結，開胃寬中，療噤口毒痢。口噤雖是脾虛，亦有熱閉胸隔所致。用山藥、木香皆失，唯參苓白朮散加菖蒲，胸次一開，自然思食。芳香利竅，心開智長，為心脾胃之良藥。能佐地黃、天冬之屬，資其宣導。鮮菖蒲汁稍涼，而功勝於乾者。</p>
<p>〔修治〕二八月採，生水石間，不沾土，根瘦，節密，一寸九節者佳。去毛微炒。按菖蒲搗汁沖用，為斬關奪門之將，於痰火實者宜之。</p>

<h3>黃連</h3>
<p>〔害〕虛寒為病大忌。凡病人血少氣虛，脾胃薄弱，血不足以致驚悸不眠，兼煩熱躁渴；及產後不臥，血虛發熱，泄瀉腹痛；小兒痘瘡，陽虛作泄，行漿後泄瀉；老人脾胃虛寒作瀉，虛人天明飧泄，病名腎泄；真陰不足，內熱煩躁諸症；法咸忌之。犯之使人危殆。久服黃連、苦參，反熱從火化也。蓋炎上作苦，味苦必燥，燥則熱矣。且苦寒沉陰，肅殺伐傷生和之氣也。惡菊花、元參、殭蠶、白蘚皮。畏款冬、牛膝。忌豬肉，令人泄瀉。黃芩、龍骨為使，勝烏頭解巴豆毒。</p>
<p>〔利〕大苦大寒，瀉心肝火而燥濕，與官桂同行，能使心腎交於頃刻。海藏曰：瀉心實瀉脾也，實則瀉其子，或用甘草以調其苦，或加人參以節制之。</p>
<p>〔修治〕本經心火生用，肝火膽汁炒；上焦火酒炒；中焦火姜炒；下焦火鹽水炒，或童便炒；食積火土炒；濕熱在氣分，吳萸湯炒；在血分醋炒。點目，人乳浸亦可。二八月採根曝乾。川中種連色黃，軟毛無硬刺，味微苦而薄，服之無效。六七月根緊，始堪採。雅州連細長彎曲，微黃無毛有硬刺；馬湖連色黑細繡花針頭硬刺，形如雞爪，此二種最佳。按黃連苦燥，血虛有熱不可用者，入心恐助心火也。</p>

<h3>木通</h3>
<p><u>古名通草</u></p>
<p>〔害〕苦降淡滲利竅。凡精滑不固，夢遺及陽虛氣弱，內無濕熱者均忌，妊娠尤忌。</p>
<p>〔利〕辛甘淡平，入心肺小腸膀胱，瀉濕熱，降心火，清肺熱，化津液，下通大小腸，導諸濕熱由小便出。通血脈，下乳行經，催生墜胎。防己苦寒，瀉血分濕熱；木通甘淡，瀉氣分濕熱。君火為邪，宜用木通；相火為邪，宜用澤瀉；利水雖同，所用各別。又治胸中煩熱，大渴引飲，淋瀝不通，脾熱好眠。</p>
<p>〔修治〕正二月採枝陰乾，洗切片用，又與琥珀同功，但能泄熱，不能通瘀。</p>

<h3>辰砂</h3>
<p>〔害〕鎮養心神，但宜生使，若經伏火，及一切烹煉，則毒等砒硇，服之必斃，戒之。獨用多用，令人呆悶。畏鹽水，惡磁石，忌一切血。若火煉，則有毒，服餌常殺人。須細水飛三次。</p>
<p>〔利〕甘涼、體陽性陰，瀉心經熱邪，鎮心定驚，辟邪，清肝明目，祛風，解毒。胎毒痘毒宜之，色赤屬火，性反涼者，離中虛有陰也。味甘者，火中有土也。</p>
<p>〔修治〕辰產明如箭鏃者良，研末。</p>

<h3>犀角</h3>
<p>〔害〕大寒之性，非大熱者不可濫用。凡痘瘡氣虛，無火熱者，不宜用。傷寒斑疹，陰症發躁，因陰寒在內，逼其浮陽外越，失守之火，聚於胸中，上衝咽嗌，故面赤、手溫、煩嘔，喜飲涼物，下食良久後出；惟脈沉細、足冷，雖渴而飲水不多，且復吐出，為異於陽症耳，不宜誤用。犀角涼劑，孕婦服之，能消胎氣。忌鹽，升麻為使。</p>
<p>〔利〕苦酸鹹寒涼心、瀉肝、清胃中大熱，祛風、利痰，涼血、辟邪解毒、明目、定驚，治吐血下血畜血，發狂發斑，痘瘡黑陷，消癰化膿。又云：犀食百草之毒，故能解毒。</p>
<p>〔修治〕犀角有黑白二種，以西番生犀黑者，銼屑綿包，或磨汁，用入丸散，烏而光潤者良。角尖尤勝。鹿取茸，犀取角尖，現成器物，多已被蒸煮，不堪入藥。入湯劑當以綿薄紙裹，於懷中蒸燥乘熱搗之，應手如粉，又云：人氣粉犀。</p>

<h2>〔瀉心次將〕</h2>

<h3>山梔仁</h3>
<p>〔害〕稟苦寒之性，慮傷胃氣而傷血，凡脾胃虛弱，及血虛發熱者忌之。能瀉有餘之火，心肺無邪熱者忌。心腹痛不因火者尤忌。小便不通，由於膀胱虛無氣以化，而非熱結小腸者亦不可用。瘡瘍因氣血虛，不能收斂，則為久冷敗瘡，非溫暖補益之劑則不愈。所謂既潰之後，一毫寒藥不可用是也。世人每以治血，不知血得寒則凝，反為敗症。</p>
<p>〔利〕苦寒，清心肺脾胃，治胸中懊憹而安眠臥。疏臍下血滯而利小便。瀉三焦之火，使屈曲下行。梔皮苦寒性減，而清膚熱之用長。</p>
<p>〔修治〕九月採實曝乾，洗去黃漿，生用吐胃中邪熱，當以傷寒類方參看，炒黑止血，薑汁炒止煩嘔，內熱用仁，表熱用皮。苦寒之品，宜於實熱者，蓋伐生氣故也。</p>

<h3>連翹</h3>
<p>〔害〕清而無補之品，癰疽潰後勿服，火熱由於虛者勿服。苦寒礙胃，多餌即減食，脾胃薄弱，易作泄者勿服。</p>
<p>〔利〕苦寒，入心包、膽、三焦、大腸，手少陰主藥也。除心經客熱、陽明濕熱、散諸經血凝氣聚，利水通經。諸痛瘍瘡，皆屬心火，故為瘡家聖藥。翹心更苦寒，瀉心火尤勝。溫熱入心營，非此不能治。</p>
<p>〔修治〕八月採取陰乾，手搓用之。按連翹除血熱，山梔治火鬱，雖同入血分，治法兩途。</p>

<h3>通草</h3>
<p>〔害〕其氣寒降，中寒者勿服，虛脫人及孕婦均忌。</p>
<p>〔利〕色白氣寒，體輕味淡，故入肺經，引熱下行，味淡而升，故入胃經，通氣上達，而下乳汁。凡利小便，必先上清心火，而後能下行也。陰竅澀而不利，水腫閉而不行，用之立通，故名之。</p>
<p>〔修治〕採莖肥大圍數寸者，取莖中瓤正白用。</p>

<h3>車前子葉</h3>
<p>〔害〕其性冷利，專走下竅。雖有開水竅以固精竅之功，若遇內傷勞倦，陽氣下陷之病，腎虛脫者，皆在禁例。</p>
<p>〔利〕甘寒清心，利膀胱小水，以解濕熱。催生止瀉，明目益精，男女陰中有二竅，一竅通精，乃命門真陽之火；一竅通水、乃膀胱濕熱之水。二竅不並開，水竅開，則濕熱外泄，相火常寧。精竅常閉，久久精足，則目明。服固精藥，久服此，行房即有子。車前葉，涼血去熱通淋。</p>
<p>〔修治〕五月採取，洗去泥沙曬乾，炒過用。入丸散，酒浸一夜，蒸焙研。使葉，勿使莖蕊。</p>

<h3>竹捲心</h3>
<p>〔害〕竹性寒涼，胃寒嘔吐，及感寒挾食作吐者，忌用。竹能損胃氣，故虛人食筍，甚不相宜。</p>
<p>〔利〕辛淡甘寒，入心、肺、腎。清心滌煩熱，止嗽化痰涎。捲心者佳，竹葉力減。然藥力薄弱，不可持以為君，不過藉此佐使耳。</p>
<p>〔修治〕淡竹為上，甘竹次之，須用生長甫及一年者，為嫩而有力。仲景治傷寒解後，氣逆欲吐，用以竹葉石膏湯，去其三陽之餘熱，假其辛寒，以散風熱也。</p>

<h3>燈心</h3>
<p>〔害〕性專通利，虛脫人不宜用，中寒小便不禁勿服。</p>
<p>〔利〕淡平清心，瀉小腸而利水，燒灰吹喉痹，塗乳止夜啼。</p>
<p>〔修治〕入藥宜用生，干剝，取生草寧心，辰砂拌用，入丸散，以梗粉漿染過，曬乾研末，入水澄之，浮者是燈心。</p>

<h3>蓮子心</h3>
<p><u>一名蓮薏</u></p>
<p>〔害〕蓮子性澀，大便燥者勿服。生食過多，微動氣脹。</p>
<p>〔利〕蓮子中青心，苦寒，清心去熱。蓮子甘平而澀，入心、脾、腎，能交水火，媾心腎而靖君相之火邪，厚腸胃而收瀉痢之滑脫。頻用能澀精，多服令人喜。古方治心腎不交，勞傷白濁，有蓮子清心飲。補心腎有瑞蓮丸。</p>

<h3>石蓮子</h3>
<p>〔害〕沉陰之物，無濕熱而虛寒者勿服。</p>
<p>〔利〕苦寒清心，除煩，開胃進食，去濕熱，專治噤口痢，淋濁症需之。</p>
<p>〔修治〕八九月採堅黑如石者，破房得之。墮水入泥者更良。今肆中多以廣中樹上木實偽充，其味大苦，不堪入藥，真者其味甘，味淡微苦，杵碎用。</p>

<h3>安息香</h3>
<p>〔害〕病非關邪惡氣侵犯者，勿用。</p>
<p>〔利〕辛香苦平入心經，研服行血下氣，安神，蠱毒可消。心經主藏神，神昏則邪侵之，心主血，血滯則氣不宣快，安神行血故治也。</p>
<p>〔修治〕安息，國名也。或云辟邪安息諸邪，故名。出西番，樹名辟邪，其脂結成狀若桃膠，秋月採之，燒之能集鼠者真。</p>

<h3>乳香</h3>
<p><u>一名薰陸香</u></p>
<p>〔害〕辛香善竄，瘡疽己潰勿服，及諸瘡膿多勿敷。</p>
<p>〔利〕辛溫入心，通行十二經，活血舒筋，和氣治痢，托裡生肌，定諸經之痛，解諸瘡之毒，護心，外宣毒氣，是有奇功也。產難斫傷，亦治癲狂，能祛風散瘀。</p>
<p>〔修治〕出諸番，圓大如乳頭，明透者良，性黏難研，水沸過用缽坐熱水中，以燈心同研則易細。今松脂楓脂中亦有此狀者，市人或以偽之。</p>

<h3>金銀箔</h3>
<p>〔害〕生金解毒惡而有毒。不煉，服之殺人，且難解。畏水銀錫。</p>
<p>〔利〕辛平，入心、肝，安鎮靈臺，免於神魂飄蕩。闢除惡祟，搜其臟腑伏邪。金制木，故能治驚癇風熱，肝膽之病皆需之。又催生亦用之。銀用足紋，功亦相仿。丸散用箔為衣。誤吞金銀，食炒熟連長韭菜，能裹住金銀從大便而出。元絲銀有硝毒害人。</p>
<p>〔修治〕凡使金銀銅鐵，只可懸煎於藥銚中，借氣以生藥力而已，勿入藥服，能消人脂。入藥金銀用箔，或用簪環首飾，凡使銀箔，須辨銅箔。</p>

<h3>山豆根</h3>
<p>〔害〕大苦大寒，脾胃所惡。食少而瀉者，切勿沾唇，虛人亦忌。</p>
<p>〔利〕苦寒瀉心火，以保肺金，去大腸風熱，解咽喉痛蠱毒，消諸腫瘡瘍，喘滿熱咳，瀉熱解毒，治熱極所致之病。</p>
<p>〔修治〕苗蔓如豆，經冬不凋，八月採根曝乾。</p>

<h3>天竺黃</h3>
<p>〔害〕性寒涼，久用亦能寒中。</p>
<p>〔利〕甘寒入心經，祛風痰、解風熱、鎮心肝、安五臟、瀉熱豁痰、利竅養心。治大人中風不語，小兒客忤驚癇。其氣味與竹瀝同功而性稍和緩，無寒滑之患。</p>
<p>〔修治〕生南海鏞竹中，此是竹內所生，如黃土著竹成片，片如竹節者真。此竹極大，又名天竹，津氣結成，其內有黃。本草作天竺者非。採無時。</p>

<h3>黃丹</h3>
<p><u>一名鉛丹</u></p>
<p>〔害〕性味沉陰能損陽，鉛粉主治略同。內服雖能消疳、逐積、殺蟲，然其性冷善走，如脾胃虛弱者，不宜用，妊婦亦忌。</p>
<p>〔利〕鹹寒，鎮心安魂，墮痰、消積、殺蟲，治驚疳、瘧痢，外用解熱拔毒，止痛生肌長肉。凡使燥濕、墜痰、解熱，但宜外用。</p>
<p>〔修治〕黑鉛加硝、黃、鹽，礬煉成。凡用水漂淨炒紫色，出火毒。</p>

<h3>象牙</h3>
<p>〔害〕苦寒之極，不利脾胃，凡疳症、脾弱、目病、血虛者，不宜多服。</p>
<p>〔利〕甘苦涼，清心腎之火，療風癇驚悸，骨蒸痰熱瘡毒，銼屑煎服，氣和味平，於藏府無逆。象肉壅腫，以刀刺之，半日即合。治金瘡不合者，用其皮灰亦可。熬膏入散，為合金瘡之要藥，長肌肉之神丹。諸鐵及雜物入肉，刮牙屑和水敷之立出，諸物刺咽，磨水服之亦出。</p>
<p>〔修治〕出西番，象每脫牙，自埋藏之，崑崙諸國人以木牙潛易取焉。</p>

<h3>真珠</h3>
<p>〔害〕珠體最堅，研不細能損人臟府，病不由火熱者勿用。</p>
<p>〔利〕甘鹹寒，水精所蘊，入心肝二經，鎮心安魂，墜痰明目，治聾、驚、熱、痘、疔，下死胎胞衣，拔毒收口生肌。</p>
<p>〔修治〕河蚌感月而胎。取新潔未鑽織者，人乳浸三日，研粉極細如飛面用。心肝藏神魂，大抵寶氣多能鎮心安魂，瀉火定驚。如金箔、琥珀、真珠、龍齒之類，亦借其神氣也。</p>

<h3>赤小豆</h3>
<p>〔害〕最滲津液，久服令人枯燥，肌瘦身重。凡水腫脹滿，總屬脾虛，當雜補脾胃藥中用之，病已即去，勿過劑也。</p>
<p>〔利〕甘酸平，入心小腸，性下行而通，行水散血，去蟲止渴，行津液，清氣分，滌煩蒸，通乳汁，胎產最要，除痢疾，止嘔吐，脾胃最宜。治有形之病，消脹散腫，凡瘡疽潰爛幾絕者，為末敷，無不立效。雞子青調塗，性黏，干則難揭，入苧根末，則不黏。未潰者箍之，則四斂中起，已潰者敷之就瘥。相想子苦平，研服，能治心腹邪氣，風痰瘴瘧及蠱毒。</p>
<p>〔修治〕深秋八月採，以緊小而赤黯色者入藥，其稍大而鮮紅淡紅色者，並不治病。今肆中半粒黑者，是相思子，一名紅豆，有毒。</p>

<h3>鬱金</h3>
<p>〔害〕今醫用此開鬱，罕效。如真陰虛火亢吐血，不關火炎，搏血妄行溢出上焦，不關肺肝，氣逆以傷肝吐血者，不宜用也。近日鬱症，多屬血虛，用破血之藥開鬱，不能開而陰已先敗，致不救者多矣。今市中所用者，多是薑黃，並有以蓬朮偽之者，俱峻削性烈，病挾虛者大忌。</p>
<p>〔利〕苦辛微甘，氣寒，人心及包絡、肺、肝四經。開血積氣壅，生肌定痛，本入血分之氣藥。其治吐血衄血，婦人經脈逆行者。血屬火炎，此能降氣，氣降即火降。而性入血，故能導血歸經，解肝鬱，瀉火涼血破瘀。</p>
<p>〔修治〕有川產、廣產，其根體銳圓如蟬腹，外黃內赤，去皮火干，色鮮微香，折之光明豔徹，苦中帶甘者乃真，敲碎入煎，或磨汁沖。</p>

<h3>白茅根</h3>
<p>〔害〕吐血因於虛寒者，非其所宜。因寒發噦，中寒嘔吐濕痰，停飲發熱，並不宜服。</p>
<p>〔利〕甘寒，入心、脾、胃、小腸四經，涼金定喘，平血逆，清血瘀，利水濕，療淋瀝崩中。茅花止血，茅針潰癰，一針潰一孔。能瀉火消瘀，涼血止噦。</p>
<p>〔修治〕三月採針，四月採花，六月掘根，去毛用。</p>

<h3>人中黃</h3>
<p>〔害〕苦寒之極，不利於脾胃虛寒，傷寒溫疫，非陽明實熱者，不宜用。痘瘡非火熱鬱滯，因而紫黑干陷倒靨者，不宜用。</p>
<p>〔利〕苦寒入心（一作胃），清痰火，消食積，大解五臟實熱，治陽毒發狂，清痘瘡血熱，解百毒，敷疔腫。金汁主治同人中黃而功勝，瀉實熱。</p>
<p>〔修治〕用竹筒刮去青皮，納甘草末於中，緊塞其孔，冬月浸糞缸中，至春取出，洗懸風處，陰乾取末。制金汁法：棕皮綿紙，上鋪黃土淋糞，濾汁入新甕，碗覆埋土中一年，清若泉水，全無穢氣，勝於人中黃，年久彌佳。</p>

<h1>肝部藥隊</h1>

<h2>〔補肝猛將〕</h2>

<h3>枸杞子</h3>
<p>〔害〕雖為益陰除熱之要藥，若脾胃虛弱，時泄瀉者勿入。須先理脾胃，俟瀉止用之。須同山藥、蓮肉、車前、茯苓相兼，則無潤腸之患。故云，脾滑者勿用。</p>
<p>〔利〕甘微溫，滋肝益腎，填精堅骨，助陽，養營，補虛勞，強筋、明目、除煩、止渴、利大小腸，故又為溫大腸猛將。</p>
<p>〔修治〕九月採子，酒潤一夜，搗爛入藥。或用炭。以甘州河西所產，紅潤少核者佳。</p>

<h3>烏梅</h3>
<p>〔害〕病有當發表者，大忌酸收，誤食必為害非淺，食梅則津液泄者，水生木也。津液泄則傷腎，腎屬水，外為齒，故多食損齒傷筋，蝕脾胃，令人發膈上痰熱。</p>
<p>〔利〕酸澀而溫，補肝膽，入肺脾血分，定久嗽，定渴，斂肺之勳，止血痢，澀腸之力。清音去痰涎，安蛔理痰熱，消酒毒，蝕惡肉。疽愈後，有肉突起，烏梅燒敷。一日減半，二日而平，真奇方也。肝以酸為瀉，而又以本味，為補肝膽猛將。</p>
<p>〔修治〕去核微炒，或蒸熟。</p>

<h3>白梅</h3>
<p>〔害〕按《素問》云：味過於酸，肝氣以津。又云：酸走筋，筋病，無多食酸。雖能生津泄肝，然酸味斂束，違其所喜也，不宜多食。齒痛及病當發散者，咸忌之。</p>
<p>〔利〕烏梅白梅，所主諸病皆取其酸收之義，功用略同。牙閉擦齦，涎出便開，刀傷出血，研敷即止。</p>
<p>〔修治〕青梅燻黑為烏梅，鹽煮為白梅，亦曰霜梅。安吉者肉厚多脂最佳。五月採實，火干，過食而齒齼，嚼胡桃肉解之。熟者笮汁曬乾，收為梅醬，夏月渴，調水飲之。</p>

<h2>〔補肝次將〕</h2>

<h3>山茱萸肉</h3>
<p>〔害〕凡命門火熾，強陽不痿者忌之。膀胱熱結，小便不利者，法當清利，此藥味酸，主斂，不宜用。陰虛濕熱，不宜用。即用當與黃柏同加，惡桔梗、防風、防己。</p>
<p>〔利〕酸澀微溫，固精秘氣，補肝、膽、腎，強陰助陽事，暖腰膝，縮小便，閉遺泄。還耳聰而已其響。調月事而節過多。蓼實為使。</p>
<p>〔修治〕五月採實陰乾，以酒潤去核，緩火熬干方用，核能滑精不可服。</p>

<h3>菟絲子</h3>
<p>〔害〕其性溫燥偏補，凝正陽之氣，能助人筋脈。腎家多火，強陽不痿，大便燥結者忌之。</p>
<p>〔利〕甘辛溫，入肝、腎、脾，續絕傷，益氣力，強陰莖，堅筋骨。溺有餘瀝，寒精自出，勞損口苦渴，煎湯任意飲之。寒血為積，為調元上品，得酒良，山藥松枝為使。</p>
<p>〔修治〕九月採實曝乾，凡用以溫水淘去沙，酒浸一宿，曝乾搗之，不盡者再浸搗，須臾悉作餅，焙乾用。</p>

<h3>何首烏</h3>
<p>〔害〕此為益血之物，相惡與萊菔同食，令人鬚髮早白。忌與附子、仙茅、薑、桂等諸燥熱藥同用，若犯鐵器損人。</p>
<p>〔利〕苦甘澀微溫，入肝腎，收精氣，補真陰，強筋益髓，壯陽事，為滋補良藥。養血祛風，虛勞瘦、痿弱、瘰癧，補肝，瘧家要藥，補益肝腎，調和氣血，澀氣化虛痰。白雲苓為使。</p>
<p>〔修治〕秋冬取根，大者如拳，竹刀刮皮，米泔浸一夜，切片，用黑大豆拌蒸曬乾，如此九蒸九曬乃用。或生用。</p>

<h3>沙苑蒺藜</h3>
<p>〔害〕性能固精，若陽道數舉，媾精難出者勿服，反成淋濁。</p>
<p>〔利〕甘溫，補腎益肝，強陰益精，虛勞腰痛，遺精帶下。</p>
<p>〔修治〕以酒拌蒸，或鹽水炒用。今肆中所賣者，俱是花草子，真者絕無。出潼關，狀如腎子帶綠色。</p>

<h3>鱉甲</h3>
<p>〔害〕其性陰寒，肝虛無熱者忌用。鱉肉涼血補陰，陰冷而難消，脾虛者大忌。惡礬石，忌莧菜、雞子。</p>
<p>〔利〕鹹寒平屬陰，色青入肝，補陰退熱而散結，治厥陰血分之病。勞瘦骨蒸寒熱溫瘧母，及經阻難產，腸癰瘡腫，驚癇斑痘，元氣虛羸，邪陷中焦，鱉甲能益陰熱。鱉色青治皆肝症，龜色黑，主治皆腎症。同歸補陰，實有分別。龜板以自敗，大者為佳。鱉肉涼血補陰，亦治瘧痢，加生薑砂糖，煮作羹食，名鱉糖湯。鱉血如用柴胡加入數匙，而不過表。</p>
<p>〔修治〕色綠，九肋九重七雨者為上。醋炙或酒炙黃，或生用。刮白，除其腥氣，恐有倒胃之弊。治勞，童便炙亦可，熬膏良。</p>

<h3>龍骨</h3>
<p>〔害〕其性澀而收斂，凡泄利腸澼，及女子漏下、崩中、溺血等症，皆血熱積滯而為患，法當通利疏泄，不可便用止澀之劑，恐積滯瘀血在內，反能為害。惟久病虛脫者，不在所忌。畏石羔、川椒、魚腥及鐵器。</p>
<p>〔利〕甘澀平，入心、腎、肝、大腸經，能收斂浮越之正氣，澀腸益腎固精，安魂鎮驚，辟邪解毒，治多夢紛紜，斂汗收脫，縮小便，生肌肉，得人參、牛黃良。</p>
<p>〔修治〕查近世之修治方法，但煅赤為粉。亦有生用者，或酒浸一宿，焙乾研粉，水飛三次用。如急用以酒煮焙乾，或云凡入藥須水飛曬乾，每斤用黑豆一斗，蒸一伏時曬乾用，否則著人腸胃，晚年作熱也。</p>

<h3>龍齒</h3>
<p>尤能定驚，鎮心安魂。龍潛藏於水，氣入腎藏中。骨主腎病，故又益腎也。肝藏魂，能變化，魂飛不定者，治之以龍齒。</p>

<h3>金毛狗脊</h3>
<p>〔害〕其性溫燥，腎虛有熱，小水不利，或短澀赤黃，口苦舌乾，皆忌之。惡敗醬莎草。</p>
<p>〔利〕苦平，入肝腎二經，強筋壯骨，治男子腰腳軟疼，女人關節不利，萆薢為使。毛名金毛獅子，止金瘡血出良。</p>
<p>〔修治〕二八月採根曝乾，火燎去須，切細。子，酒浸一夜，蒸三時取出曬乾用，一名扶筋。</p>

<h3>川續斷</h3>
<p>〔害〕禁與苦寒藥同用，以治血病，及與大辛熱藥用於胎前。另有一種草茅根，形如續斷，誤服令人筋軟，惡雷丸。</p>
<p>〔利〕味苦辛微溫，補肝腎，通血脈，理筋骨，主勞傷，暖子宮，縮小便，止遺泄，破瘀血，腰痛、胎漏、崩帶、腸風、血痢痔毒，又主金瘡折跌，止痛生肌，癰腫宜收，胎產莫缺。地黃為使。</p>
<p>〔修治〕川產良，狀如雞腳，皮黃皺節，節斷者真。七八月採根，去向里硬筋，酒浸伏時，焙乾入藥。</p>

<h3>冬瓜子</h3>
<p><u>瓜一名白瓜</u></p>
<p>〔害〕瓜性冷利，凡臟府有熱者宜之。冷者食之瘦人，若虛寒腎冷，久病滑泄者勿食，令人反胃，須起霜食之，乃佳。</p>
<p>〔利〕甘平，補肝明目，清肺潤痰。瓜，其性寒瀉熱，甘益脾，利二便，止消渴，消水腫，散熱毒癰腫。皮，甘寒益脾，以皮行皮，故通二便，能消水腫，瀉熱毒，止消渴。葉，治消渴、瘧疾、寒熱。</p>
<p>〔修治〕七八月採，待霜降後取之，收藏彌年，可作菜，果入藥。漆、麝香及糯米觸之，必爛。其子在瓤中成列、剖取去瓤，曝乾用。凡藥中所用瓜子，皆冬瓜子也。</p>

<h3>雞</h3>
<p>〔害〕性熱動風，凡熱病初愈，癰疽未潰，素有風痰人，咸忌之。年久老雞，腦有大毒，食之能發疔。中其毒發疔者，以玉樞丹解之。冠血性溫，痘瘡虛寒者得之，固可資其起發，倘因血熱而乾枯焦黑者，誤用能更轉劇。世人屢用冠血、桑蠹蟲發痘，而不分寒熱者，誤也。雞有五色。黑雞白首者，六指者，四距者，雞死足不伸者，閹雞能啼者，並不宜食，食之害人。</p>
<p>〔利〕甘溫，屬巽屬木，補虛溫中動風，煮汁性滑而濡。烏骨雞，甘平屬水，能益肝腎，退熱補虛，治肝腎血分之病。</p>
<p>雞冠居清高之分，其血乃精華所聚。雄而丹者屬陽，故治中惡驚忤，熱血瀝口塗吹鼻，本乎天者親上，故塗口眼喎斜。</p>
<p>雞子甘平，鎮心安五臟，益氣補血，散熱定驚，止嗽止痢，多食令人滯悶。</p>
<p>哺雞蛋殼，主傷寒勞復，研敷下疳，麻油調搽痘毒神效。</p>
<p>鳳凰衣，主久咳結氣失音。雞屎白微寒，下氣消積，通利大小便。內經用治蠱脹，合米炒治症，醋和塗蚯蚓蜈蚣咬毒。</p>
<p>雞肫皮，一名雞內金，一名肶胵（音皮鴟），甘平性澀，雞之脾也。消水殺蟲，除熱止煩，通小腸膀胱，治瀉痢，便數，遺溺，溺血，崩帶，腸風，膈消，反胃，小兒食瘧。男用雌，女用雄。</p>
<p>雞腸治遺溺，小便數不禁。</p>
<p>雞肝治肝虛目暗，治氣噎食不消。</p>
<p>四月勿食抱雞肉，令人作癰成漏，男女虛乏。小兒五歲以下，食雞生蛔。雞肉不可合胡蒜、芥李、犬肝、犬腎及兔食之，恐泄痢。同魚汁食成心瘕，同鯉魚食成癰癤，同獺肉食成遁口，同生蔥食成蟲痔，同糯米食生蛔。</p>
<p>〔修治〕雞雖屬木，分而配之，則丹雄雞得離火陽明之象，白雄雞得庚金太白之象，故辟邪惡者宜之。烏雄雞屬木，烏雌雞屬水，故胎產宜之。黃雌雞屬土，故脾胃宜之。而烏骨者，又得水木之精氣，故虛熱者宜之。反毛雞治反胃，各從其類也。</p>

<h3>牛筋</h3>
<p>〔害〕老病及自死牛，食之損人。</p>
<p>〔利〕甘溫，補肝，強筋，益氣力，續絕傷，鹿筋同功。</p>
<p>〔修治〕臘月收採，風乾用，鮮者力勝。</p>

<h3>羊肝</h3>
<p>〔害〕羊食毒草，凡瘡家及痼疾者食之即發，宜忌之。反半夏、菖蒲。</p>
<p>〔利〕色青，補肝而明目。膽，苦寒，點風淚眼，赤障白翳。羊肉熱屬火，補虛勞益氣力。壯陽道，開胃，健力，強陰，通氣，發瘡。肺，通肺氣，止咳嗽，利小便；腎，益精助陽。胲，除翻胃；角，明目殺蟲；血，主產後血運悶絕，生飲一杯即活。中金銀、丹石、砒硫一切諸毒，生飲即解也。</p>
<p>〔修治〕以竹刀切片用，忌銅器及醋。</p>

<h3>吐鐵</h3>
<p>〔害〕海味鹹寒，中寒者忌。</p>
<p>〔利〕甘酸鹹寒，補肝腎，益精髓，明耳目。</p>
<p>〔修治〕產寧波鄞縣南田者，大而多脂，為第一。為海錯上品，一名麥螺，一名梅螺，用鹽滷醃，或用甜酒釀，可帶出遠，不入煎劑。閩中者，肉磈礧無脂膏，不中食。</p>

<h3>血餘膠</h3>
<p>〔害〕發灰走血分而帶散，其主諸血證者，是血見灰則止，乃治標之義。若仗其補益，未必能也。經熬煅成末後，氣味不佳，胃弱者勿服。</p>
<p>〔利〕苦溫平，入肝腎，兼補陰消瘀，能去心竅之血。治諸血病，吐衄血痢，血淋崩帶。父發與蛋黃同煎，治小兒驚熱。已發與川椒共煅，令本體烏頭，胎髮尤良。入芎歸湯，宜用婦人頭髮，產婦本發尤妙。</p>
<p>〔修治〕將發以皂莢水洗淨入罐固煅存性。</p>

<h3>五加皮</h3>
<p>〔害〕下部無風寒濕邪而有火，及肝腎虛而有火者，勿服。惡元參、蛇皮。</p>
<p>〔利〕辛，順氣而化痰；苦，堅腎而益精；溫，祛風而勝濕。療筋骨之拘攣，逐皮膚之瘀血，治陰痿囊濕，女子陰癢，明目縮便，愈瘡療疝，釀尤良，遠志為使。</p>
<p>〔修治〕十月採根，剝皮陰乾，煮根莖釀酒飲益人。</p>

<h3>海螵蛸</h3>
<p><u>一名烏賊骨</u></p>
<p>〔害〕氣味鹹溫，血病多熱者勿服，惡附子、白芨、白蘞。</p>
<p>〔利〕咸走血，溫和血，入肝腎血分，通血脈，去寒濕，治血枯，止腸風崩漏，澀久虛瀉痢，腹痛環臍，陰蝕腫痛。肉，酸平，益氣強志，通月經。</p>
<p>〔修治〕出東海，亦名墨魚。取骨魚滷浸，炙黃或漂淡用。</p>

<h3>桑寄生</h3>
<p>〔害〕雜樹上者，氣性不同，恐反有害。寇宗奭云：向有求此於吳中諸邑，採不得，以他木寄生服之，逾月而斃，可不慎哉。</p>
<p>〔利〕苦，堅腎，助筋骨，而固齒長髮；甘，益血，止崩漏，而下乳安胎，舒筋絡而利關節，和血脈而除痹痛。</p>
<p>〔修治〕三月採根枝莖葉，銅刀細切，陰乾用，勿見火。</p>

<h3>紫石英</h3>
<p>〔害〕石藥終燥，只可暫用。婦人絕孕，由陰虛火旺，不能攝受精氣者，忌用。</p>
<p>〔利〕甘辛溫、潤以去燥回枯，重以鎮寧心神，養肝血不足，血海虛，不孕者宜之，暖子宮之要藥。白石英甘辛微溫，潤以去燥，利小便、實大腸、治肺痿、吐膿、咳逆、上氣。十劑曰：潤可去燥枯，二英之屬是也。潤藥頗多，而徐之才取二紫白石英為潤劑，存其意可也。石英五色，各入五臟。俱畏附子、惡黃連。</p>
<p>〔修治〕紫石英色淡，瑩徹五稜，火煅醋淬七次，研末水飛，白石英如水晶者良。</p>

<h2>〔瀉肝猛將〕</h2>

<h3>左顧牡蠣</h3>
<p>〔害〕凡病虛而多熱宜之，虛而有寒者忌之。腎虛無火，精寒自出者非宜。惡吳萸、細辛、麻黃。</p>
<p>〔利〕咸以軟堅化痰，澀以收脫，微寒以清熱，補水、利濕、止渴，海水化咸，潛伏不動，故體用皆陰，為肝腎血分之藥，用左者以平肝也。貝母為使，得蛇床、遠志、牛膝、甘草良。</p>
<p>〔修治〕鹽水煮一伏時，煅粉或生用。</p>

<h3>海蛤蜊殼</h3>
<p>〔害〕蛤粉善消痰積血塊，然脾胃虛寒者宜少用，或加益脾胃藥同用為宜。肉氣味雖冷，與服丹石人相反，食之令腹結痛，凡使海蛤，勿用遊波，蟲骨相似只是面上無光，誤餌令人狂走，欲投水如鬼祟，惟醋能解之。</p>
<p>〔利〕與牡蠣同功，肉鹹冷，止渴解酒。大抵海屬鹹寒，功用略同。江湖蛤蚌，但能清熱利濕，不能軟堅。蜀漆為使。畏狗膽、甘遂、芫花。</p>
<p>〔修治〕四五月淘沙取之，炭煅火研成粉，或生搗碎。</p>

<h3>木瓜</h3>
<p>〔害〕下部腰膝無力，由於精血真陰不足者不宜用。其味酸澀，傷食脾胃未虛，積滯多者不宜用。愚謂性溫必燥，腎惡燥，故久服損齒及骨。針經云：多食之，令人癃（閉溺者為癃），忌鐵器。</p>
<p>〔利〕酸澀而溫，和脾理胃，斂肺伐肝，氣脫能收，氣滯能和，故筋急能舒，筋緩能利，攻濕痹，治腳氣，但酸收能閉小便，須與車前子同用。</p>
<p>〔修治〕八月採實，切片曬乾入藥。宣州瓜陳生者良。桃仁</p>
<p>〔害〕性善破血，散而不收，瀉而無補，過用之及用之不得其當，能使血下不止，損傷真陰。凡經閉不通，由於血虛，而不由於瘀滯；產後腹痛，由於血虛空痛，而不由於留血結塊；大便不通，由於津液不足，而不由於血燥閉結；誤用之大傷陰氣。雙仁有毒，不可用。桃梟，其功專於辟邪去瘀，病值虛者忌，與桃仁用同。桃花攻決為用，但可施於氣實有餘之症，若無故而因除百病、美顏色諸謬說而服之，為害不少。耗人陰血，損元氣。勿用千葉花，令人鼻衄不止、目黃。藏器乃言，食之患淋。</p>
<p>桃葉苦平，殺蟲發汗，採嫩者，名桃心。入藥尤勝。</p>
<p>桃子辛酸甘熱、微毒，多食令人有熱癰癤。</p>
<p>〔利〕桃仁苦甘平，入肝大腸兩經。破諸經血瘀，潤大腸血燥，肌有血凝，而燥癢堪除；熱入血結，而狂言可止。香附為使。</p>
<p>〔修治〕桃仁，去皮尖炒黃用。或麩炒，或燒存性。潤燥活血，宜湯浸。行血宜連皮尖生用。以六七月採桃核，敲碎取仁陰乾，採之千葉者，勿用。以絹袋盛，懸檐下陰乾用。桃梟，是桃實在樹經冬者，正月採之，實者良，酒拌蒸焙乾去核用。主辟邪祛祟。桃為五木之精，故能解邪殺鬼，亦可殺蟲。桃花苦平，峻利通攻，瀉痰飲滯血，下宿水，療風狂。</p>
<p>黃帝書云：食桃飽，入水浴，令人成淋，及寒熱病。桃實多食，令人膨脹，及生癰癤，有損無益。與鱉肉同食，患心痛。服術人，忌食之。</p>

<h3>青橘皮</h3>
<p>〔害〕性最酷烈，善破脅下小腹之滯氣，然誤服之，立損真氣，為害不淺。凡欲施用，必與補脾藥同用，庶免遺患，必不可單用也。肝脾氣虛者，概勿施用。辛能發汗，氣虛及有汗者，禁用。</p>
<p>〔利〕苦辛溫，色青氣烈，入肝膽氣分，疏肝瀉肺，引諸藥至厥陰之分，下飲食入太陰之倉。最能發汗。柴胡疏氣，青皮平下焦肝氣，皮能達皮，辛能發汗，故又為瀉三焦猛將。破滯氣，愈低愈效，削堅積，愈下愈良。</p>
<p>〔修治〕八月採，青橘皮乃橘之未黃而青色者，薄而光，其氣芳烈。今人多以小柑、小柚、小橙偽之，不可不慎辨之。入藥以湯浸去瓤，切片醋炒少用。</p>

<h3>蓬莪朮</h3>
<p>〔害〕凡經事先期，及一切血熱為病忌之。若崩中淋露，皆應補氣血，涼血清熱則愈。一切辛走之藥，法當所禁，虛人服之，積未去而真氣已竭，兼以參朮，或庶幾耳。</p>
<p>〔利〕辛苦，而辛入肝經，治氣中之血，破血行氣，消瘀止痛。若須用與健脾、補元之藥同用，無損耳。得酒醋良。</p>
<p>〔修治〕根如生薑，莪生根下，似卵不齊，堅硬難搗。九月採，削去粗皮，蒸熟曝乾。入氣分，灰火煨透，乘熱搗之，入血分醋酒磨。</p>

<h3>沉香</h3>
<p>〔害〕凡冷氣逆氣，氣鬱氣結，殊為要藥。然而中氣虛、氣不歸元、氣虛下陷，忌之。心經有實邪者，忌之。非命門真火衰者，不宜入下焦藥用，陰虧火旺者，切勿沾唇。</p>
<p>〔利〕性沉燥辛溫，平肝降氣，調中氣而胃開，補下焦而腎暖，理家痰涎，故入腎、命門，暖精助陽行氣，去肌膚水腫，通大腸虛閉，治小便氣淋。</p>
<p>〔修治〕待燥碾碎，若入劑，惟磨汁，臨時衝入。須要色黑不枯，硬重沉於水，油熟者為上，半沉者次之。不可見火，嚼之香甜者性平，辛辣者性熱，入丸散以紙裹置懷中。</p>

<h2>〔瀉肝次將〕</h2>

<h3>香附</h3>
<p>〔害〕性燥、苦溫之品，而能耗血散氣，氣虛血弱服之，恐損氣而耗血，愈致其疾。凡月事先期，因於血熱，法當涼血，勿用此藥。誤犯則愈先期矣。</p>
<p>〔利〕氣香，味辛能散，微苦能降，微甘能和，乃血中氣藥，通行十二經八脈氣分。又為入金木之宮，開鬱化氣，發表消痰藥也。統領諸藥，隨用得宜，乃氣病之總司，女科之主帥，故胎產神良。得童便、醋、芎藭、蒼朮良。</p>
<p>〔修治〕二八月採根下子，陰乾火燎去毛，以水洗淨，石上磨去皮須。生用上行胸膈，外達皮膚，或磨汁。熟則下走肝腎，外徹腰足。潤燥補虛，童便浸炒；入血分鹽水炒；行經絡酒浸炒；消積聚醋炒；制燥蜜炒；化痰薑汁炒；入腎氣鹽炒；炒黑止血。故統治三焦，勿犯鐵器，稻草煮之，味不苦。</p>

<h3>木香</h3>
<p>〔害〕香燥而偏於陽，肺虛有熱者，血枯而燥者忌之。元氣虛脫，及陰虛內熱諸病腫痛，屬火者皆禁用。丹溪曰：味辛氣升，若陰火衝上者，反取火邪。</p>
<p>〔利〕辛苦溫三焦氣分之藥，泄肺氣，疏肝氣，和脾氣，開諸郁，溫中而治心疼。生用理氣，煨熟止瀉，以其降氣開鬱，故又為瀉三焦猛將。畏火。</p>
<p>〔修治〕冬月採根，曬乾為藥，以其形如枯骨，味苦黏牙者良。凡入理氣藥，只生用，不見火，或磨汁。若實腸止瀉，宜麵裹。東垣用黃連制，亦有蒸用。</p>

<h3>延胡索</h3>
<p>〔害〕辛溫，走而不守，經事先期，虛而崩漏，產後虛運，均忌之。</p>
<p>〔利〕辛苦而溫，入心包、肺、脾、肝，能行血中氣滯，氣中血滯，調經脈，利產後暴血上衝，折傷積血，療疝舒筋，理通身諸痛，止腸痛心疼，為活血利氣之藥也。</p>
<p>〔修治〕立夏掘取，今多出浙江筧橋。根如半夏，黃色而堅。產東陽者，粒頭細，生用破血，炒用調血，酒炒行血，醋炒止血。</p>

<h3>柴胡</h3>
<p>〔害〕柴胡為陰，必陰氣不舒，致陽氣不達者，乃為恰對。若陰已虛者，陽方無倚而欲越，更用升陽發散，是速其斃矣。故凡元氣下脫，病屬虛，而氣升者，忌之。嘔吐及陰虛發熱，火熾炎上，不因血凝氣阻為寒熱者，近此正如砒鴆之毒也。瘧非少陽經者勿用。治瘧必用柴胡，其說誤解。惡皂角，畏女菀、藜蘆。</p>
<p>〔利〕苦微寒，入肝、膽、三焦、心包四經，為少陽表藥，故治瘧發表和里退熱，主清陽上行；解鬱調經，宣暢氣血，主陽氣下陷。治上焦肝氣，前胡半夏為使；行三焦膽經，黃芩為佐；行心包肝經，黃連為佐。</p>
<p>〔修治〕二月八月採得，去須及頭，用銅刀削去赤薄皮少許，以粗布拭淨，切用。勿令犯火，立使無效也。酒炒則升，蜜炒則和。按柴胡有二種：色白黃而大者，為銀胡，以勞瘧骨蒸虛勞疳熱；色微黑者，以解表發散。本經無分別，但用銀州者為最，則知其優於升散，而非除虛熱之藥明矣，衍義所載甚詳，故表而分之。</p>
<p>〔附錄一〕</p>
<p>李中梓云：柴胡，少陽經半表半裡之藥。病在太陽者，服之太早，則引賊入門；病在陰經者，復用柴胡，則重傷其表。世俗不知柴胡之用，每遇傷寒傳經未明，以柴胡湯為不汗不吐不下，可以藏拙，輒混用之，殺人不可勝數矣。勞證惟在肝經者用之。若氣虛者不過些小助參耆，非用柴胡退熱也。若遇勞證，便用柴胡，不死安待。惟此一味，貽禍極多，表而出之。</p>
<p>〔附錄二〕</p>
<p>溫病忌用柴胡論（山陽丁壽昌撰）溫病四時皆有而春令尤甚。經云：冬傷於寒春必病溫。凡冬令受寒，即時發者為傷寒；不即時發，留連於經絡，至春則寒化為熱而為病溫。傷寒者，傷於寒也，是為陰傷陽，當助其陽，治以辛溫。溫病者，傷於溫也。是為陽傷陰，當救其陰，治以甘寒。凡溫病初起或外感風寒，如荊防薄杏之類不妨少用，而佐以甘寒之品，清熱養陰。外感本輕，而身熱不退、或初起脈洪、口中作渴，則是溫病而非傷寒。一切辛溫解表之藥，皆不可用。輕者用桑菊飲，重者用銀翹散，溫病夾有斑疹者用犀角地黃湯，口渴脈洪壯熱日甚者用白虎湯，脈虛者加人參，舌有芒刺、身熱脈沉、神昏譫語、六七日不大解者用大小調胃承氣湯。視人之強弱，病之緩急，酌量用之。此在淮陰吳鞠通先生所撰《溫病條辨》中言之最悉。醫家但留心此書，按症服藥，自無差謬。《溫病條辨》中力戒溫病不可用辛溫發表，而柴胡為尤甚，何也？柴胡入足少陽，為發表升陽之劑。溫病初起，在太陽，而本病則在陽明，用柴胡則引入少陽，謂之誅伐無過。且當春少陽司令之際，人多病溫。溫病者，陽傷陰也。當救其陰，而反以柴胡升少陽之氣，益助其陽，陽火上騰，則陰水下涸。是以柴胡下咽，則大汗神昏，遂成不治之症。汗者陰液。汗能亡陽，亦能亡陰。無汗而強發其汗，傷陰而重亡其陰。溫病用柴胡，殺人不旋踵。余目擊心傷，因撰此論以示人。惟願留心斯道者，不吝改過。普發慈心，少用一劑柴胡即多活一人性命。即不得已而用表散，柴胡之外，藥品尚多，治以辛涼，佐以甘寒，庶不至重傷其陰，致變他症。有病之家，亦宜慎重。凡藥用柴胡及辛溫發表重劑，皆棄而不用，亦保全性命之一道也。</p>
<p>〔附錄三〕</p>
<p>案：柴胡之有副作用，與不同品種之有毒性，近年來屢有報道。如《煤礦醫學》（３-４）２５，１９８０，載柴胡注射液過敏反應報告。《中華內科雜誌》（８１２）１３０-１９７９，藥物不良反應的綜合報道中，亦載柴胡注射液之毒性反應。又如《黑龍江醫藥》１５∶４８，１９７８，談到大葉柴胡有毒，曾引起死亡事故。黑龍江祖國醫學研究所，曾有大葉柴胡毒性之探討，記載有三例因嚴重中毒而死亡。特附錄於此，提起有關方面注意。</p>

<h3>芎藭</h3>
<p>〔害〕其性辛散，走泄真氣。上行頭目，下行血海。凡病氣升痰喘，虛火上炎、嘔吐、咳逆、自汗，易汗、盜汗，咽乾口燥，骨蒸發熱，作渴煩躁，及氣弱人均不宜用。單服久服，令人暴亡，亦泄其真氣使然也。畏黃連、硝石，惡黃耆、山茱萸。</p>
<p>〔利〕辛溫升浮，入心胞、肝、膽、三焦。潤肝燥，補肝虛，乃血中氣藥。升清陽而開諸郁，為搜風散瘀止痛調經。小者名撫芎，止痢開鬱，為上升辛散之力也。白芷為使，伏雌黃。</p>
<p>〔修治〕八月根下始結，乃可掘取曝乾。凡用以川中大塊，里色白不油，嚼之微辛甘者佳，酒炒。其苗作菜頗香，俗呼香芹菜。余西北道上曾食之。</p>

<h3>金鈴子</h3>
<p><u>一名苦楝子</u></p>
<p>〔害〕苦寒，若脾胃虛寒者，大忌。</p>
<p>〔利〕苦寒，能導小腸膀胱之熱，因引心包相火下行，通利小便，為疝氣要藥。亦治傷寒熱厥腹痛，療瘡疥，殺三蟲。茴香為使。根皮微寒，殺諸蟲，通大腸，採無時。</p>
<p>〔修治〕苦楝子，以川中者為良。十二月採得，熬干酒拌，蒸軟去皮核，取肉用。凡使肉不使核，使核不使肉，如使核，搗碎用。近惟酒炒，亦有去肉取皮用，則苦寒性減。子如小鈴，熟則黃色，故名金鈴子。</p>

<h3>赤芍藥</h3>
<p>〔害〕赤芍破血，凡一切血虛病，及泄瀉產後，惡露已行，少腹痛已止，癰疽已潰，並不宜服。惡芒硝、石斛、鱉甲，畏龜甲、小薊。反藜蘆。</p>
<p>〔利〕苦酸微寒，瀉肝火，專行惡血，兼利小腸。治腹痛、脅痛、堅積、血痹、疝瘕、經閉、腸風癰腫、目赤。能於土中瀉木，赤散邪，能行血中之滯，雷丸為使。</p>
<p>〔修治〕分栽時，根氣味全厚，八九月掘取，切片酒炒，單瓣紅芍藥入藥。</p>

<h3>栝蔞</h3>
<p><u>一名瓜蔞</u></p>
<p>〔害〕寒胃滑腸，胃虛少食，脾虛泄瀉，勿投。畏牛膝、乾漆，惡乾薑，反烏頭。</p>
<p>〔利〕苦甘，潤肺疏肝，滑腸涼脾，為治肺熱咳嗽要藥。清上焦之火，使痰氣下降，止一切血熱，又能盪滌胸中鬱熱垢膩，生津，止渴，清咽良劑，亦能治結胸，為脾熱之主藥。</p>
<p>〔修治〕九月採取，栝圓黃皮厚蒂小，蔞則形長赤皮蒂粗。陰人服蔞，陽人服栝，並去殼皮革膜及油。土瓜蔞，功用相仿，惟實熱壅滯者宜之。稍挾虛切勿妄投。去油搗霜，潤肺之性減，而涼脾之功勝，利水瀉熱，行血墮胎。</p>

<h3>白蒺藜</h3>
<p>〔害〕細審其質性，不過瀉氣破血之品。故能墮胎。古方俱用以為補腎者，乃誤傳也。愚按補腎者，系潼關蒺藜，今肆中所用，蓋不分也。</p>
<p>〔利〕苦辛而溫，瀉肺疏肝，散風勝濕，破血催生，通乳閉，消癥瘕。</p>
<p>〔修治〕七八月採子，酒炒研，去刺用。</p>

<h3>佛手柑</h3>
<p>〔害〕單用多用，亦損正氣。</p>
<p>〔利〕辛苦溫、性中和，理上焦肺氣而平嘔，健中州脾運而進食，疏氣平肝，除痰止嗽。</p>
<p>〔修治〕去白或炒，鮮者尤佳。產閩廣，古方枸椽，或蒸露用。</p>

<h3>鉤藤</h3>
<p>〔害〕但性稍寒，無火者勿服。除驚癇、眩暈，平息肝風相火之外，他無所長。凡病風溫，邪未入營，尚在上中二焦衛分者，誤服之恐致昏譫。以其輕揚入肝，未免激動肝陽上升，升則濁邪上蒙清竅故也。</p>
<p>〔利〕甘寒，舒筋，除眩暈，心熱、煩躁，下氣寬中，治小兒驚癇、客忤胎風，祛肝風而不燥，庶幾和中。今去梗，純用鉤，功加倍。</p>
<p>〔修治〕三月採，有刺類釣鉤，古方多用皮，久煎則無力。俟他藥煎就，方入鉤藤，三沸即起，頗得力也。時珍曰：苦寒過服，恐傷胃中生髮之氣，反取火邪。亦久服黃連，反從火化之義也。</p>

<h3>合歡皮</h3>
<p>（見心部）</p>

<h3>血竭</h3>
<p><u>一名麒麟竭</u></p>
<p>〔害〕善收瘡口，卻能引膿，性急，不可多用，無瘀積者忌之。</p>
<p>〔利〕甘鹹平，性急色赤，入心肝血分，散瘀生新，除血痛，治金瘡折跌，瘡口不合，止痛生肌。</p>
<p>〔修治〕出南番，磨之透甲，燒之有赤汁湧出，久而灰不變色者真。嚼之不爛，如蠟為上。假者，是海母血，味大咸，有腥氣。須另研作粉篩過。若同眾藥搗，則化塵飛也。</p>

<h3>玫瑰花</h3>
<p>〔害〕畢竟伐氣之品，婦人血枯氣上逆者，不可多用。</p>
<p>〔利〕甘苦平，香而不散，色紫入肝，能引血中之氣，肝病用之多效。</p>

<h3>木蝴蝶</h3>
<p>〔害〕氣味淡薄，與病無害。</p>
<p>〔利〕治肝氣，諸書不載，近多用之。蓋取木喜疏，蝴蝶善動之意爾。</p>
<p>〔修治〕形如皂莢，里多白瓤，剖開取出，如蝴蝶狀。每張有子一粒，又名千張紙，錢塘趙學敏，己採入本草綱目拾遺。</p>

<h3>鐵落</h3>
<p>〔害〕辛平有毒，《素問》治陽氣太盛，病狂妄善怒者，用生鐵落，正取伐木之義。《本草》載大清服法，言服鐵傷肺者，余疑肝字為準。畏磁石皂莢。</p>
<p>〔利〕辛平，鎮心平肝，定驚療狂，消癰解毒。鐵屑、鐵精、鐵鏽、鐵華，大抵借金氣以平木墜下解毒，無他義也。鐵砂，消水腫黃疸，散癭瘤，重以鎮墜，能傷氣，肝腎氣虛者，忌用。</p>
<p>〔修治〕煅砧上打落者，名鐵落，即鐵屑。如塵飛起者，名鐵精。器物生衣者，名鐵華。針砂，是作針家磨鑢細末也。須真鋼砂乃堪用，人多以柔鐵砂雜和之，飛為粉，人莫能辨。</p>

<h3>銅綠</h3>
<p><u>一名銅青</u></p>
<p>〔害〕服之捐血，味酸平有微毒。</p>
<p>〔利〕酸平，色青入肝，內科吐風痰之聚，外科止金瘡之血，女科理血氣之痛，眼科主風熱之疼，善殺蟲療疳。</p>
<p>〔修治〕以醋製銅刮用。</p>

<h3>綠礬</h3>
<p><u>一名皂礬</u></p>
<p>〔害〕綠礬礬紅，雖能消食肉堅積，然能令人作瀉，胃弱人不宜多用。服此者，終身忌食蕎麥，犯之立斃。</p>
<p>〔利〕酸湧、涼散、澀收、燥濕化痰，解毒殺蟲，利便，消食積，散喉痹。主治同白礬。煅赤名絳礬，能入血分，伐肝木，燥脾濕。同蒼朮、酒麴、醋和為丸，酒下，治木來剋土，心腹中滿，或黃腫如土色者，名伐木丸，乃上清金蓬頭祖師傳方。</p>
<p>〔修治〕皂礬，以其可染皂色故名，深青瑩潔者良。</p>

<h3>澤蘭</h3>
<p>〔害〕性雖和緩，終是破血之品，無瘀者勿輕用。</p>
<p>〔利〕苦泄熱，甘和血，辛散郁，香舒脾，微溫行血，入肝脾，通九竅，利關節，化宿血，通月經，消癥瘕，散水腫，消蠱，氣味和平。入血海，攻擊稽留，其消水腫者，乃血化之水，非脾虛停濕之水也。防己為使。</p>
<p>〔修治〕三月採苗陰乾，古方澤蘭丸甚多。近今稟賦漸薄，不可常用也。</p>

<h3>明天麻</h3>
<p>〔害〕凡病人覺津液衰少，口乾舌燥，咽乾作痛，大便閉澀，火炎頭暈，血虛頭痛及無風者，忌用。</p>
<p>〔利〕辛溫，入肝經氣分，通血脈，疏痰氣，治諸風掉眩，頭旋眼黑，語言不遂，風濕諸痹，小兒驚癇。子名還筒子，定風補虛，功同天麻。</p>
<p>〔修治〕三四月採苗，七八月採根，根類王瓜莖，名赤箭，明亮實者佳。濕紙包，於糠火中煨熟取出，切片酒浸一宿，焙乾用。</p>

<h3>花蕊石</h3>
<p><u>一名花乳石</u></p>
<p>〔害〕大損陰血，凡虛勞吐血，多由火炎迫血上行，當用滋降陰火者，不宜服。無瘀血停積，胸膈不板痛者，亦忌之。</p>
<p>〔利〕酸澀氣平，專入肝經血分，能化瘀血為水，止金瘡出血，下死胎胞衣，惡血化則胞胎無阻。</p>
<p>〔修治〕出陝華諸郡，體堅色黃，採得，罐固濟頂，火煅過，出火毒，研細，水飛，曬乾用。</p>

<h3>青蒙石</h3>
<p>〔害〕其功消積滯，墜痰涎，誠為要藥。然攻擊太過，性復沉墜，凡積滯癥結，脾胃壯實者可用。如虛弱者忌用。小兒驚痰，食積實熱，初發者可用，虛寒久病者忌之。王隱君制滾痰丸法，謂百病皆生於痰，虛實寒熱概用，殊為未妥。不知痰有二因：因於脾胃不能運化，積滯生痰，或多食酒面濕熱之物，以致膠固稠黏，咯吐難出者用之，豁痰利竅，除熱泄結，應如桴鼓；因於陰虛火炎，煎熬津液，凝結為痰，或發熱聲啞，痰血雜出者，如誤服之，則陰愈虛，陽火反熾，痰熱未退，而脾胃先為敗矣。前人立方，不能無弊，在後人善於簡擇耳。</p>
<p>〔利〕甘鹹平，入肺胃大腸，能平肝下氣，化頑痰痞結，行食積停留。</p>
<p>〔修治〕出江北諸山，有青白二種，以堅細青黑，中有白星點者為佳。用坩鍋一個，以蒙石打碎，入硝石等分拌勻，炭火簇定，煅至消盡，其石色如金為度，取出如無金星者，不入藥。研末水飛，去火毒，曬乾用。</p>

<h3>蜈蚣</h3>
<p>〔害〕惟有毒，善走竄。凡小兒慢驚風，口噤不語，大人溫瘧，非煙瘴氣所發，心腹積聚，非蟲結蛇瘕，便毒成膿將潰，咸忌用之。畏蜘蛛、蜒蚰、雞矢、桑皮、戎鹽。</p>
<p>〔利〕辛溫，入肝經，善走能散。治臍風撮口、驚癇、瘰癧、去風殺蟲，墮胎，瘡疥蛇症，瘴瘧。</p>
<p>〔修治〕七八月採，取赤足黑頭者，火炙，去頭足尾甲，將薄荷葉火煨用。</p>

<h3>蠍</h3>
<p>〔害〕有毒，此乃風藥。凡似中風，及小兒慢脾風，病屬於虛者，法咸禁之。</p>
<p>〔利〕甘辛，色青屬木，故治諸風眩暈、驚癇搐掣、口眼喎斜、瘧疾、風瘡、耳聾、帶疝、厥陰風木之病。</p>
<p>〔修治〕採無時，青州形緊小者良，全用，謂之全蠍。去足焙尾，名蠍稍。其力尤緊。</p>

<h3>水蛭</h3>
<p><u>一名馬蟥</u></p>
<p>〔害〕有毒，破瘀血之藥盡多，奚必用此難制之物，戒之可耳。用時，須煅煙出。畏石灰白鹽。</p>
<p>〔利〕鹹苦平，治惡血積聚，能通經墮胎。赤白丹腫，瘰癧結核，腫毒初起，入竹筒中，令咂病處有功。</p>
<p>〔修治〕五六月採，以水中馬蟥齧人，腹中有血者，曝乾為佳。當展其身令長，腹中有子者去之。性最難死，雖以火炙經年，得水猶活。必炒枯黃入藥，諸小者不堪用。</p>

<h3>虻蟲</h3>
<p>〔害〕有毒，專啖牛馬之血，逐瘀甚疾。傷寒發黃，脈沉細，少腹鞕，如小便不利者，為無血也。症非蓄血不宜用。若瘀未結者，尤不宜用也。女子月水不通，由於脾胃薄弱，肝血枯竭，而非血結閉塞者，不宜用，孕婦腹中有瘕聚，不宜用。凡病氣血虛甚者，形質瘦損，非氣足之人，實有蓄血者，勿可妄投。惡麻黃。</p>
<p>〔利〕苦寒，攻血，遍行經絡，墮胎只在須臾。色青入肝，瀉血破瘀。</p>
<p>〔修治〕五月蜚蟲啖馬牛血者，伺其腹滿，掩取干之，去翅足，炒熟用。</p>

<h3>豬肝</h3>
<p>〔害〕《延壽書》云：豬臨宰絕氣歸肝，不可多食，必傷人，餌藥人不可食。合魚鱠食，生癰疽，合鯉魚腸子食，傷人神。</p>
<p>〔利〕苦入肝，諸藥中用為嚮導，瀉肝明目。治小兒驚癇，打擊青腫，炙貼。作膳常食，有損無益。</p>
<p>〔修治〕用時以竹刀切片。</p>

<h3>穿山甲</h3>
<p><u>一名鯪魚</u></p>
<p>〔害〕性猛善竄，用宜斟酌。癰疽已潰，痘瘡挾虛，元氣不足，不能起者，不宜用。</p>
<p>〔利〕鹹寒有毒，專能行散，通經絡，達病所，入肝胃二經。治風濕冷痹，通經下乳，消腫潰癰，為外科要藥。</p>
<p>〔修治〕深山大谷皆有，如龜而小，如鯉有足尾，甲力更勝。或生用，或酥炙、醋炙、童便炙、油煎、土炒、蛤粉炒，當各隨本方制用。</p>

<h3>王不留行</h3>
<p>〔害〕其性行而不住，失血後，崩漏家及孕婦，並忌之。</p>
<p>〔利〕甘苦平，入陽明衝任之經，走血分，通血脈，利便通經，催生下乳汁，止金瘡癰瘍疔毒。</p>
<p>〔修治〕花如鈴鐸，實如燈籠，子殼五稜，取苗子蒸，漿水浸，焙用。</p>

<h2>〔涼肝猛將〕</h2>

<h3>龍膽草</h3>
<p>〔害〕苦寒，大損胃氣，無實火者忌之。雖能除實熱，泄肝膽，然胃虛血少者，不可輕試。凡病脾胃兩虛，虛而有熱者，皆忌服。亦勿空腹服，令人溺不禁，以其泄太甚故也。</p>
<p>〔利〕大苦大寒，沉陰下行，入肝膽而瀉火，兼入膀胱腎經，除下焦濕熱，能明目。柴胡為主，龍膽為使，目疾要藥。若目疾初起，宜發散，忌用寒涼；治小兒客忤驚疳，忌地黃。赤小豆，貫眾為使。</p>
<p>〔修治〕二、八月，十二月，採得陰乾，甘草湯浸一宿，漉出曝乾用，或酒浸炒。</p>

<h3>胡黃連</h3>
<p>〔害〕性味苦寒之極，設使陰血不足，真精耗竭，而脾陰胃氣俱弱，切勿妄投。須與健脾胃等藥同用，乃可無弊，慎之。忌畏惡，俱同黃連。</p>
<p>〔利〕苦寒，入胃肝膽三經，主虛家骨蒸，初起可用。久痢，胃氣實可用。醫小兒疳積驚癇，其性味功用，似黃連。</p>
<p>〔修治〕不拘時月收採，折之塵出如煙者真。</p>

<h2>〔涼肝次將〕</h2>

<h3>羚羊角</h3>
<p>〔害〕性寒，能伐生生之氣，凡肝心二經有熱者，宜之。無火熱勿用。</p>
<p>〔利〕苦鹹，瀉心肝肺邪熱，下氣降火，解毒散血，祛風舒筋。故能明目去障，治驚癇搐搦，亦治狂越僻謬夢魘，傷寒，伏熱，氣逆食噎不通。羚之性靈而精在角，故又辟邪，散瘀血而療痘瘡，解諸毒也。</p>
<p>〔修治〕出西地，似羊而大，角有節，最堅勁，能碎金石，明亮而不黑者良，多兩角，一角者更勝。鎊片綿包，或磨汁用，入丸散須要不拆原對，繩縛，鐵銼銼細，搗篩更研萬遍入藥，免刮人腸。</p>

<h3>夏枯草</h3>
<p>〔害〕久服亦傷胃家。</p>
<p>〔利〕辛苦微寒，緩肝火，解內熱，散結氣，治瘰癧、鼠瘻、癭瘤、乳癰、乳岩，目珠夜痛，能散厥陰之鬱火故也。土瓜為使，伏汞砂。</p>
<p>〔修治〕此草夏至後即枯，四月採，曬乾用。</p>

<h3>石決明</h3>
<p>〔害〕多服令人寒中。永不得食山龜，令人喪目。</p>
<p>〔利〕咸涼，墜肺肝風熱而明目，內服療青盲內障，外點散赤膜外障，除目疾及肝火外，他用甚稀。亦治骨蒸勞熱，通淋。</p>
<p>〔修治〕採無時，七孔九孔者佳。或煅研，或生搗，或鹽水煮用。</p>

<h3>青蒿</h3>
<p>〔害〕苦寒之藥，多與胃家不利。凡產後氣虛內寒作瀉，及飲食停滯泄瀉勿用。產後脾胃薄弱，忌與歸地同用。雷公曰：使子勿使葉，使根勿使莖，子葉根莖四件若同使，翻然成痼疾。</p>
<p>〔利〕苦寒入肝膽腎，治三焦，清暑，治骨蒸勞瘦，骨間伏熱，殺鬼疰傳屍。苦寒之藥，多與胃家不和。惟青蒿芬芳襲脾，宜於血虛有熱之人，取其不犯中和之氣耳。</p>
<p>〔修治〕四五月採莖葉，八九月採子，蒿梗功用相同，曬乾入藥，或熬膏，或蒸露。</p>

<h3>菊花</h3>
<p>〔害〕苦寒之品，非胃家所宜。《牧豎閒談》云：真菊延齡，野菊泄人。故丹溪曰：野菊服之，大傷胃氣是也。</p>
<p>〔利〕甘苦微寒，補益金水，善制風木，去胸中之熱，祛頭目之風，白朮、枸杞、地骨皮、桑白皮為使。</p>
<p>〔修治〕滁州菊，單瓣色白味甘者為上。杭州黃白茶菊，微苦者次之。其餘苦菊，單不入藥，或炒黑，或煨炭，或生用。九月採摘曝乾。野菊苦辛慘烈有小毒，調中破血，治癰腫疔毒，連莖葉搗，敷服皆效。</p>

<h3>青黛</h3>
<p>〔害〕性涼，中寒者勿使，即陰虛有熱者，亦不宜用。解毒治火，固其所長，古方多有用於諸血證者。使非血分實熱而病，由於陰虛內熱，陽無所附，火空上炎，發為吐衄咯血唾血等證，用之非宜，愈增其病，宜詳辨之。</p>
<p>〔利〕鹹寒清肝火，解鬱結，治中下焦蓄蘊風熱，吐血，理幼稚驚疳，敷熱毒惡腫。染靛功同。</p>
<p>〔修治〕真者從波斯國來，不可得也。今用干靛花，取嬌碧者，每斤淘取一兩亦佳，內多石灰，故須淘淨。</p>

<h3>蘆薈</h3>
<p>〔害〕苦寒之性，脾胃虛者犯之，洞泄不止。故凡小兒脾胃虛弱，不思食，及泄瀉者，禁用。</p>
<p>〔利〕大苦大寒，功專清熱殺蟲，涼肝明目，鎮心除煩，治驚癇，敷䘌齒濕癬。</p>
<p>〔修治〕出波斯國，狀似黑錫，乃樹脂也。採之不拘時月，味苦色綠者真。密蒙花</p>
<p>〔利〕甘微寒，潤肝燥，治目中赤脈，青盲雲翳（音義，眼疾也），赤腫眵眼，小兒疳氣攻眼。善療眼疾，外無他用也。</p>
<p>〔修治〕產蜀中，樹高丈餘，葉冬不凋，其花繁密蒙茸，故名。二三月採花，揀淨酒潤焙用。</p>

<h2>〔溫肝猛將〕</h2>

<h3>肉桂</h3>
<p>〔害〕其氣大熱，偏勝陽氣，表裡俱達。和營氣，散表邪，出汗，實腠理，則桂枝為長。故仲景以治冬月傷風寒，病邪在表者。肉桂、桂心實一物也，只去皮耳，此則走里行血，除寒、破血、平肝，入右腎命門，補相火不足。然大忌於血崩，血淋，尿血，陰虛，吐血，咯血，鼻衄，齒衄，汗血，小便因熱不利，大便因熱燥結，肝熱咳嗽，肺熱，氣不下行，每上見熱症，下見足冷，產後去血過多，產後血虛發熱，小產後血虛寒熱，陰虛五心煩熱，似中風，口眼歪斜，失音不語，語言蹇澀，手足偏枯，中暑昏暈，中熱腹痛，婦人陰虛，少腹痛，一切溫病，熱頭疼，口渴，陽症發斑發狂，小兒痧疹，腹疼作瀉，痘瘡血熱，乾枯黑陷，婦人血熱，經行先期，婦人陰虛內熱經閉，婦人陰虛，寒熱往來，口苦舌乾，婦人血熱，經行作痛，男婦陰虛，內熱外寒，中暑瀉利，暴注如火，一切滯下純血，由於心經伏熱，腸風下血，臟毒便血，陽厥似陰，夢遺精滑，虛陽數舉，脫陰目盲等三十餘症，法並忌之。誤投則禍不旋踵。謹察病因，用舍在斷，行其所明，無行其所疑，其慎毋嘗試也。忌生蔥、石脂。</p>
<p>〔利〕甘辛大熱大溫，氣厚純陽，入肝腎血分，補命門相火之不足。益陽消陰，治痼冷、沉寒、平肝、降氣、引火歸元，益火救元陽，溫中扶脾胃，通血脈，下焦腹痛能除，奔豚疝瘕立效。宣通百藥，善墮胞胎，得人參、甘草、麥冬良。</p>
<p>〔修治〕去粗皮用，或研末衝入藥煎，勿令泄氣，或用米糝搗和為丸，先吞，或用棗肉糊丸，如前法吞，隨症施用。去肉外皮，為桂心，枝小氣薄者，為桂枝。又有一種觀賓桂，今書官桂，但能溫里和營。</p>

<h3>桂枝</h3>
<p>〔害〕同前。</p>
<p>〔利〕甘辛而溫，入肺膀胱，溫經通脈，發汗解肌，無汗能發，有汗能止。亦治手足痛風、脅風，為手臂之引經，故列於溫肝。用桂枝發汗，乃調其營，則衛自和，風邪無容，遂自汗而解。故用治風寒、咳嗽有奇功，非桂能發汗也。汗多用桂枝者，調和營衛，則邪從汗解，而汗自止，非若麻黃之開腠理髮汗也。肉桂在下，主治下焦，桂心在中，主治中焦，桂枝在上，主治上焦。</p>
<p>〔修治〕桂之氣味最薄者為桂枝，亦稱桂木，或密炙用。</p>

<h3>吳茱萸</h3>
<p>〔害〕陽厥似陰，手足雖逆冷，而口多渴喜飲水，大小便閉結，小便或通，亦赤澀短少，此火極似水。《內經》謂"諸噤鼓慄，如喪神守，皆屬於火"是也。此與桂、附、乾薑之類同禁忌。嘔吐咳逆上氣，非風寒外邪，及冷痰宿水所致者不宜用。腹痛屬血虛有火者不宜用。小腸疝氣，非驟感寒邪，及初發一二次不宜用。霍亂轉筋，由於脾胃虛弱，冒暑所致，非寒濕生冷干犯腸胃者不宜用。一切陰虛之症，及五臟六腑有熱無寒之人，法所咸忌。損氣動火，昏目發瘡，非寒滯有濕者勿用。即有寒濕者，亦宜酌量少用。</p>
<p>〔利〕辛苦大熱，疏肝燥脾，溫中下氣，除濕解鬱，去痰殺蟲，逐寒。主厥陰頭疼，嘔逆吞酸，痞滿噎膈食積，瀉痢血痹，陰疝奔豚癥瘕，治陰寒攻心痛，腳氣水腫，所謂衝脈為病，逆氣裡急，又為溫膀胱之猛將也。惡丹參硝石，畏紫石英。蓼實為使。</p>
<p>〔修治〕九月九日採實，開口陳久者良，陰乾須滾湯泡去苦烈汁七次，始可焙用。治疝鹽水炒，治血醋炒，止嘔薑汁炒，疏肝胃黃連木香汁炒。</p>

<h3>細辛</h3>
<p>〔害〕其性升燥發散，凡病內熱及火升炎上，上盛下虛，氣虛有汗，血虛頭痛，陰虛咳嗽，法皆禁用。即入風藥，亦不可過五分，服過一錢，使人悶絕，因其氣厚而性烈耳。雙葉者，服之害人。惡黃耆、狼毒、山茱萸，忌生菜，畏硝石、滑石。反藜蘆。</p>
<p>〔利〕辛溫香燥，善開竅，散風寒，入心肺腎三經，能行心下水停，宣通遊風浮熱，口瘡喉痹，利九竅。</p>
<p>〔修治〕二八月採根純陽，切去頭子，以瓜水浸一宿，曝用。北產華陰者，細而香最佳。南產者，名土細辛，稍大而不香，又名馬辛。</p>

<h3>胡椒</h3>
<p>〔害〕辛熱之物。如血分有熱者，與夫陰虛發熱，咳嗽吐血，咽乾口渴，熱氣暴沖，目昏口臭，齒浮鼻衄，腸風臟毒，痔漏泄澼等症，切勿輕餌，誤服能令諸症即時劇作，慎之。世人因其快膈，嗜之者眾，然損肺走氣，動火動血，損齒昏目，發瘡痔臟毒，必陰氣至足者方可用。</p>
<p>〔利〕辛熱，入脾、胃、肝、大腸四經，溫中下氣，快膈消痰，治寒痰食積。蓋此藥猶如附桂，使與陰虛火衰，必與歸地同用，則無偏勝之弊也。畢澄茄，即胡椒之大者。</p>
<p>〔修治〕五月採收，曝乾乃皺。</p>

<h3>骨碎補</h3>
<p><u>一名猴姜，又名申姜</u></p>
<p>〔害〕勿與風藥同用，以其苦堅腎，腎藏惡燥，再加風藥溫燥，反傷血液，是為太過。</p>
<p>〔利〕苦溫，入肝腎二經，主骨碎折傷，去瘀生新，治腎虛泄瀉，耳鳴牙痛。</p>
<p>〔修治〕冬採根，以銅刀刮去黃毛，細切蜜拌，蒸後曬乾用。急用只焙乾，不蒸亦得也。</p>

<h2>〔溫肝次將〕</h2>

<h3>菟絲子</h3>
<p>（見前補肝部）</p>

<h3>艾葉</h3>
<p>〔害〕純陽香燥，凡血燥生熱者，禁用。與炙火，亦大損陰血，虛者宜慎。胎動不安，由於熱而不由於寒；妊娠下利膿血，由於暑濕；腸胃熱甚，而非單濕為病；崩中由於血虛內熱；經事先期，由於血熱；吐衄血由於血虛；火旺由於鬼擊中惡；霍亂轉筋，不由於寒邪，而由於脾胃虛弱凝滯，或於暑濕所致；不孕由於血虛，而不由風冷襲入子宮者，法並忌用。</p>
<p>〔利〕生溫熟熱，辛可利竅，苦能舒通，入肺、脾、肝、腎四經，氣血交理。安胎氣，暖子宮，故婦科帶下調經多需之。理血痢腸風，治崩吐衄，外用灸除百病，陳者良。醋香附為使。</p>
<p>〔修治〕三月三日，五月五日，採葉乾曝，揉搗如綿，謂之熟艾，陳久者可用。蘄州艾為上，煎服宜鮮者。生用，或燒成炭。入女科丸，醋煮搗成餅子烘乾，再搗為末用。</p>

<h3>山茱萸</h3>
<p>（見本臟補部）</p>

<h3>茴香</h3>
<p>〔害〕其性溫燥，能昏目發瘡，若胃腎多火，陽道數舉，得熱則吐者，均戒。大茴香，性熱功用略同。</p>
<p>〔利〕辛溫香，入胃、肝、腎、膀胱四經，主腹痛疝氣，平霍亂血逆，得酒良。</p>
<p>〔修治〕八九月採實陰乾，小如粟米者，謂之小茴香，力薄，酒炒黃用。自番舶來者，實大如柏，裂成八瓣，一核大如豆，黃褐色，有仁，味更甜，俗呼舶茴香，又曰八角茴香，又名大茴香，入下焦藥，鹽水炒用。</p>

<h1>脾部藥隊</h1>

<h2>〔補脾猛將〕</h2>

<h3>白朮</h3>
<p>〔害〕五臟皆陰，世人但知補脾，此指脾為濕土之臟，術能燥濕，濕去則脾健，故曰補也。不知脾無濕邪者用之，反燥脾家津液，是損脾陰也，何補之有？此最易誤，故特表而出之。凡血少、精不足，內熱骨蒸口乾唇燥，咳嗽吐痰吐血，齒衄鼻衄咽塞，便秘滯下者咸宜忌之。肝腎有築築動氣者勿服。術性燥而閉氣，劉涓子癰疽論云：潰瘍忌白朮，以其燥腎閉氣，而反生膿作痛也。</p>
<p>〔利〕苦甘溫，健脾進食，消穀補中，化胃中痰水，理心下急滿，利腰臍血結，祛周身濕痹，君枳實以消痞，佐黃芩以安胎。茯苓為使。</p>
<p>〔修治〕野朮、於潛朮、仙居術為勝。臺產術力薄，只可調理常病，若生死關頭，斷難恃以為治。江西術，與浙江野術相似，苦劣不堪用。陳壁土炒，或人乳拌蒸，糯米泔浸。</p>

<h3>黃精</h3>
<p>〔害〕生用，則刺人咽喉。</p>
<p>〔利〕甘平，入脾，補中益氣，安五臟，潤心肺，填精髓，助筋骨，除風濕，殺下三尸蟲。似玉竹而稍大，故俗呼玉竹黃精。又一種似白芨，俗呼白芨黃精，又名山生薑，則恐非真者。溪水洗淨，九蒸九曬用。</p>

<h2>〔補脾次將〕</h2>

<h3>山藥</h3>
<p><u>一名薯蕷</u></p>
<p>〔害〕忌同麵食。</p>
<p>〔利〕甘平，入脾、肺、腸胃四經，益氣強陰，治虛損勞傷心脾，長肌安神，清其虛熱，除瀉利，止遺精。</p>
<p>〔修治〕洗淨，切片曬乾，或炒黃用。入脾胃土炒，入腎鹽水炒。</p>

<h3>白扁豆</h3>
<p>〔害〕多食壅氣，患寒熱者不可食，蓋邪瘧未盡，及傷寒外邪方熾，不可服此補益之物耳。如脾胃虛及傷食，勞倦，發寒熱者，不忌。</p>
<p>〔利〕甘溫，補脾胃，降濁升清，消暑除濕，止渴止瀉，專治中宮之病。衣，清皮膚之濕熱。葉，利暑濕。</p>
<p>〔修治〕炒研，或生用，或去皮炒。時珍曰：凡用取硬殼扁豆子，連皮炒熟入藥。</p>

<h3>薏苡仁</h3>
<p><u>一名米仁</u></p>
<p>〔害〕此除濕燥脾之藥，凡病人大便燥結，小水短少，因寒轉筋，脾虛無濕者忌。妊婦禁用。</p>
<p>〔利〕甘淡微寒，入胃土勝水，淡滲濕瀉水，故能健脾。腳氣疝氣，泄痢熱淋，益土所以生金，故補肺清熱，治肺癰、肺痿、咳吐膿血等症。</p>
<p>〔修治〕凡使每一兩，以糯米一兩同炒熟，去糯米用。亦有更以鹽湯煮過者，或炒，或生用。</p>

<h3>大棗</h3>
<p>〔害〕雖能補中而益氣，然味過於甘，甘令人滿，脾必病也。故中滿勿服。凡風痰、痰熱及齒痛，俱非所宜。小兒疳病亦禁。生者尤為不利，多食致寒熱。熱渴膨脹，動臟腑，損脾元，助濕熱。凡形羸瘦者，不可食。殺烏附毒。忌蔥魚同食。</p>
<p>〔利〕甘平，調中益氣，滋脾土，潤心肺，和營衛，緩陰血，生津液，悅顏色，和百藥。紅棗，功用相仿，差不及爾。</p>
<p>〔修治〕擘去核用，青州棗，核細形大，多膏甚甜特佳。曬。晉州棗，肥大甘美，次之。頻食生蟲損齒，貽害多矣。紅棗益脾胃，余者止可充食。入和解藥，薑汁炒香，入醒胃藥，但去核炒香糊丸，藥蒸透，乘熱去皮核搗爛。</p>

<h3>甘草</h3>
<p>〔害〕甘，令人中滿。有濕之人，若誤用之，令成腫脹。故凡諸濕腫滿脹病，及嘔家酒家，咸不宜服。</p>
<p>〔利〕甘平，入心肺脾胃。生用氣平，補脾胃不足，而瀉心火；炙用氣溫，補三焦元氣。若入和劑則補益，入汗劑則解肌，入涼劑則瀉邪熱，入峻劑則緩正氣。姜附加之，恐其潛上；硝黃加之，恐其峻下；皆緩之之意，稍止莖中作痛，節醫毒腫諸瘡。</p>
<p>〔修治〕以大徑寸，而結緊斷文者為佳，謂之粉草。細者名統草，補中炙用宜大者，瀉火生用宜細者。白朮、苦參、乾漆為使。惡遠志，反大戟、芫花、甘遂、海藻，然亦有並用者。胡洽治痰癖，十棗湯加甘草。東垣治結核，與海藻同用。丹溪治勞瘵，與芫花同行。非妙達精微者，不能知此理也。余疑遠志與甘草相惡，必誤載，以遠志用甘草水浸用可知。</p>

<h3>枳實</h3>
<p>〔害〕惟專消導，破氣損真。丹溪云：瀉痰，有沖牆倒壁之力，其為勇悍之氣可知。凡中氣虛弱，勞倦傷脾發為痞滿者，法當調中益氣，則食自化，痞自消，若再用此破氣，是速其斃也。脹滿，非實邪結於中下焦，手不可按，七八日不更衣者，必不可用。挾熱下利，亦非燥糞留結者，必不可用。傷食停積，多因脾胃虛，不能運化所致，慎勿妄投。如元氣壯實，有積滯者，不得已用一二劑，病已即去之。若不識病之虛實，一概施用，損人真氣，為厲不淺。誤投，雖多服參耆補劑，亦難挽其克削之害也。故特表以為戒。孕婦尤忌。</p>
<p>〔利〕苦酸微寒，入肺、脾、胃、肝、大腸五經。破積有雷厲風行之勢，瀉痰有推牆倒壁之威。解傷寒結胸，除心下急痞。按枳實枳殼，性效不同。</p>
<p>〔修治〕皮厚而小者為枳實，完大者為枳殼，皆以翻肚如盆口狀，陳者為良。採破，除核，微炙令乾，切片，小麥麩炒焦去麩用。</p>

<h3>萊菔子</h3>
<p>〔害〕萊菔惟專下氣，復能耗血，久食澀營衛，白人鬚髮。服地黃首烏者，不可食。子，消痰下氣更速。凡虛弱者服之，氣難布息。</p>
<p>〔利〕辛溫，入肺、脾、胃，長於利氣。炒熟下氣定喘，消食除膨。生研堪吐風痰。醋調能消腫毒。治痰之功，有以沖牆倒壁為喻者。誤服參耆，此能消之。萊菔辛甘平，生食宣氣，熟食降氣，寬中消食，化痰散瘀。葉（亦稱菜）辛苦溫，功用略同，亦甚消伐，檐上過冬經霜者，治喉痹黃疸有神功。煙薰垂死，嚼汁嚥下。</p>
<p>〔修治〕煮食過多，停滯成溢飲，生則噫氣，熟則泄氣，多食滲人血，白鬚發，非獨因其下氣，澀營衛也。</p>

<h2>〔瀉脾次將〕</h2>

<h3>六神麯</h3>
<p>〔害〕辛溫燥烈之品。凡脾陰虛，胃火盛者，不宜用。能落胎，孕婦不宜用。近今藥肆中，多酒藥曲，其性酷烈，傷人臟腑，斷不可服。</p>
<p>〔利〕甘平溫，入脾胃二經。健脾消穀，食停腹痛無虞，下氣行痰，泄利反胃有藉，亦能損胎。</p>
<p>〔修治〕六月六日，五月五日，以白曲百斤，青蒿、蒼耳、野蓼，各取自然汁三升，杏仁泥、赤小豆末各三升，以配青龍、白虎、朱雀、玄武、勾陳、騰蛇六神，通和作餅，麻葉或楮葉包裹，如造醬黃蒸法，待生黃衣，曬乾收之，陳久者良。研細炒黃。建神麯力勝，出福建泉州，範志吳一飛所造百草曲，每塊重不過兩，曲中大麥，囫圇不碎，劈取咬之，口中覺清香者真。炒研末服。如其麥粒淡無氣味者，偽品也。近今各地用酒麴入諸藥草及毒藥造成，其性酷烈，斷不可用。</p>

<h3>麥芽</h3>
<p>〔害〕有積消積，無積消人元氣，墮胎。</p>
<p>〔利〕甘鹹溫，入脾胃二經。熟腐五穀，消導而無停；運行三焦，宣通而不滯。快脾寬腸，和中下氣，散結祛痰，尤善通乳，亦催生而墜胎。</p>
<p>〔修治〕今以大麥發芽，炒焦用。古方麥芽，實穬麥為芽耳。</p>

<h3>山查</h3>
<p>〔害〕性能克伐，化飲食，若胃家無食積，及脾虛不能運化，不思食者服之，反致克伐脾胃生髮之氣，令人嘈煩易飢。如脾胃虛，兼有積滯者，當以補氣藥同施，亦不宜過用也。《物類相感志》云：煮老雞硬肉，入山查數顆即易爛，其消食克伐之力，則愈彰矣。凡服人參不相宜者，服山查即解。一補氣，一破氣也。又能損齒，齒齲人尤不宜也。</p>
<p>〔利〕酸甘微溫，入脾胃二經。健脾行氣，消食磨積，化痰散瘀，善去肉食腥膻油膩之積，與麥芽之消穀積者不同。佐以茴香治疝氣，砂糖調服，治兒枕痛，發小兒痘疹，行乳食停留，炒成炭，則健脾消食之功良，而酸收之性減。</p>
<p>〔修治〕九月霜降後，取熟者去核，曬乾炒用。</p>

<h3>枳殼</h3>
<p>〔害〕泄肺走大腸，而能損至高之氣，肺氣虛弱者忌之。脾胃虛，中宮不運，而痰壅喘急者忌之。咳嗽不因於風寒入肺而氣壅者服之，反能增劇。咳嗽由陰虛火炎者服之，立致危殆。</p>
<p>〔利〕苦微寒，入肺、脾、胃、肝、大腸五經，破至高之氣，除咳逆停痰，助傳導之官，消水留脹滿，兼能清膀胱，枳實性急，枳殼性緩，俱可磨汁用，而力更迅。</p>
<p>〔修治〕去瓤切片，麩皮炒用。</p>

<h3>大腹皮</h3>
<p>〔害〕性與檳榔相似，病人稍涉虛者，概不可用。</p>
<p>〔利〕辛微溫，泄脾下氣，寬胸行水，通大小腸，治水腫、腳氣、痞脹、痰膈、瘴瘧。</p>
<p>〔修治〕去子洗淨，如絨，用其子，近今肆中，偽充檳榔入藥。孫思邈曰：「鴆鳥多棲檳榔樹上，凡用檳榔大腹子皮，宜先以酒洗，以大豆汁再洗過，曬乾入灰火燒煨，切用。</p>

<h3>厚朴</h3>
<p>〔害〕辛溫大熱，性專消導，散而不收，脫人元氣，略無補益之功。故凡嘔吐不因寒痰冷積，而由於胃虛火氣炎上；腹痛因於血虛脾陰不足，而非停滯所致；泄瀉因於火熱暴注，而非積寒傷冷；腹滿因於中氣不足，氣不歸元，而非氣實壅滯；中風由於陰虛火炎，猝致僵仆，而非西北真中風；寒邪傷寒發熱頭痛，而無痞寒脹滿之候；小兒吐瀉乳食，將成慢驚；大人氣虛血槁，延為膈症；老人脾虛不能運化，偶有停積；娠婦惡阻，水穀不入，娠婦胎氣升眩暈，娠婦傷食停冷，娠婦腹痛瀉痢，娠婦傷寒傷風，產後血虛腹痛，產後中滿作喘，產後泄瀉反胃；以上諸症，法所咸忌。若誤投之，輕病變重，重病必危。不究其源一概濫用，雖一時未見其害，而清純沖和之氣，默為之耗，娠婦服之，大損胎元，可不慎哉。惡硝石澤瀉，忌豆。</p>
<p>〔利〕苦降能瀉實滿，辛溫能散濕滿。入脾胃二經，平胃氣，調中，消痰，化食，行結水，破宿血，散風寒，調胸腹而止痛，殺臟蟲，治反胃，嘔逆喘咳，瀉利冷痛共主，乃結者散之之藥也。乾薑為使。</p>
<p>〔修治〕七八月採之，味甘美，取皮陰乾，薑汁炒，刮去粗皮，用生薑汁炒炙，或浸炒用。味苦，不以薑製，則棘喉舌。梓州龍州者為上，皮極鱗皺而紫色多潤，味辛者佳。薄而白者，不堪入藥。</p>

<h3>使君子</h3>
<p>〔害〕無蟲積者勿食，凡小兒泄瀉，是暑氣所傷者，禁與肉果、訶子等澀熱藥同用。服使君子後，亦忌食熱物熱茶，犯之即作泄瀉。</p>
<p>〔利〕甘溫，入脾胃二經。殺蟲消積，治五疳、便濁、瀉痢澼瘡。為小兒科要藥。</p>
<p>〔修治〕出嶺南州郡。七月採子殼，生用或蒸熟食，或以殼煎湯嚥下，或云七生七煨合服。</p>

<h3>白芷</h3>
<p>〔害〕燥能耗血，散能損氣，有虛火者忌。凡嘔吐因於火者禁用。漏下赤白，由陰虛火熾，血熱所致者勿用。癰疽已潰，宜漸減。</p>
<p>〔利〕辛溫，入肺、脾、大腸三經。通竅發汗，除濕散風，皮膚燥癢，風熱為病；及血崩血閉，腸風痔瘻，濕熱為病；尤治頭風齒痛，目淚眉疼宜之。</p>
<p>〔修治〕二八月採根曝乾，以黃澤者為佳。洗刮寸截，以石灰拌勻曬收，為其易蛀並欲色白，入藥微焙切片用，勿用四條一處生者，名喪公藤，又勿用馬蘭根。</p>

<h3>雞內金</h3>
<p>〔害〕同麥芽。</p>
<p>〔利〕甘平性澀，入脾去煩熱，消水穀，通大小腸，治遺溺便數。</p>
<p>〔修治〕剖取，不可落水，去宿食，瓦上炙入藥。男用雌，女用雄。</p>

<h3>橘皮</h3>
<p>〔害〕氣味辛溫，能耗真氣。凡中氣虛，氣不歸元，忌與耗氣藥同用。胃虛有火嘔吐，不宜與溫熱香燥藥同用。陰虛咳嗽生痰，不宜與半夏、南星等同用。化州陳皮，消伐太峻，不宜濫用。</p>
<p>〔利〕苦辛溫，入肺、脾、胃三經。止嗽定嘔清痰，理氣和中妙品。留白補胃偏宜，去白疏通專掌。化州陳皮，苦能泄氣，又能燥濕，辛能散氣，溫能和氣，同補氣藥則補，同瀉藥則瀉，同升藥則升，同降藥則降。橘絡辛溫，宣氣通絡，治絡用為引經，酒炒用。橘紅以皮行皮，兼能治表寒。橘皮性溫，柑柚皮性冷。</p>
<p>〔修治〕廣東新會皮為勝，陳久者良，故名陳皮。福建產者名建皮，力薄。浙江衢州出者名衢皮，更次矣。去白名橘紅，痰嗽童便浸曬，痰積薑汁拌，入下焦鹽水炒濟，和蜜炙。去紅曰橘白，疏通滯氣，鹽水炒用。化州陳皮，消痰甚靈，真者絕少，無非柚皮而已。橘皮下氣行痰，橘肉生痰聚氣，一物也，而相反如此。橘皮紋細，色紅而薄，內多筋絡，其味苦辛。柑皮紋粗色黃而厚，內多白膜，其味辛甘。柚皮最厚而虛，紋更粗色黃，內多膜無筋，其味甘多辛少。但以此別之，則不差矣。柑皮猶可用，柚皮則懸絕矣。</p>

<h3>檳榔</h3>
<p>〔害〕能墜諸氣，至於下極，氣虛下陷者，所當遠避。如脾胃虛，雖有積滯者不宜用。下利非後重者不宜用。心腹痛無留結及非蟲積者勿用。瘧非山嵐瘴氣者不宜用。凡病屬陰陽兩虛，中氣不足，而非腸胃壅滯，宿食脹滿者，悉在所忌。多食亦發熱。嶺南多瘴，以檳榔代茶，損泄真氣，所以居人多病少壽。</p>
<p>〔利〕苦辛溫，入脾、胃、大腸三經。降至高之氣，疏後重之急，攻痰癖，去腫脹，消食積而治瘧，療腳氣而殺蟲，辛能破氣，苦能殺蟲。</p>
<p>〔修治〕浸透切片，近時方藥，亦有以火煨焙用。然出生白檳榔，須本境可得，若他處者，必經煮薰，安得生者耶？</p>

<h2>〔涼脾猛將〕</h2>

<h3>大黃</h3>
<p>〔害〕經曰：實則瀉之。此大苦大寒峻利之性，猛烈之氣，長驅直搗，一往直前，苟非血分熱結，六脈沉實者，切勿輕與推蕩。大黃乃血分之藥，病在氣分，及胃寒血虛，並胎產而用之者，是為誅伐無過矣。凡病血閉由於血枯，而不由於熱積；寒熱由於陰虛，而不由於血積；癥瘕由於脾胃虛弱，而不由於積滯停留；便秘由於血瘀、血燥、腸燥，而不由於飲食停滯；女子少腹痛，由於厥陰血虛，而不由於經阻老血，瘀結滯下者不宜用。初起即屬胃虛，當以補養胃氣，清消濕熱為本，而不可妄加推蕩，當謹慎分別。若輕發誤投，損傷胃氣，多至危殆，戒之戒之！</p>
<p>〔利〕大苦大寒，入脾、胃、心、肝、大腸五經。瀉有形積滯，水食痰結者宜之。有撥亂反正之功，得峻快將軍之名。清血分實熱，血瘀血逆者宜之。仲聖瀉心湯，治心氣不足而吐衄，乃心氣不足而包絡肝膽與胃之邪火有餘，雖曰瀉心，實瀉經血中伏火也。又心下痞滿，按之濡者，用大黃黃連瀉心湯，亦瀉脾胃濕熱，非瀉心也。病發於陰，下之則痞滿，乃寒傷營血，邪氣乘虛結於上焦。胃之上脘當心，故曰瀉心，實瀉胃也。病發於陽，下之則結胸，乃熱邪陷入血分，亦在上脘，大陷胸湯丸皆用大黃，亦瀉脾胃血分之邪。若結胸在氣分，只用小陷胸湯，痞滿在氣分，只用半夏瀉心湯。</p>
<p>〔修治〕川產如錦紋者良。洗切片，浸取汁，衝入藥。制用酒浸，或酒拌蒸，則性緩而能上行。邪熱之在上者，借酒行之，以成勳也。生熟之力不同，生用更峻。欲取通利者，不得驟進穀食。大黃得穀食，不能通利也。</p>

<h3>黃芩</h3>
<p>〔害〕凡苦寒性燥，功能除熱，而非補益之品。但無濕者，如脾肺虛熱，及中寒作泄，中寒腹痛，肝腎虛水腫，血枯經閉，肺受寒邪喘嗽，及血虛胎不安，陰虛淋漏皆忌。胎前若非實熱而服之，因損胎元矣。</p>
<p>〔利〕苦寒，中虛而大者曰枯芩，瀉肺火，清肌表之熱，並理目赤，疔癰。堅實而細者曰條芩，即子芩，瀉大腸火，治澼痢腹痛，兼可安胎，亦治上焦風熱濕熱，利水。二芩俱兼入脾經，苦能燥濕，泄熱下氣也。輕飄者上行，堅重者下降，不可不別也。柴胡退熱不及黃芩，柴胡苦以發之，散火之標，黃芩寒以勝熱，折火之本。若飲食受寒，腹中痛，及飲水心下悸，小便不利，而脈不數者，是里無熱也。</p>
<p>〔修治〕得酒炒則上行，得豬肝汁炒，除肝膽火，得柴胡退寒熱，得芍藥治下痢，得桑白皮瀉肺火，皆取苦寒瀉有餘之邪。</p>

<h3>栝蔞</h3>
<p>（見肝部瀉將）</p>

<h2>〔涼脾次將〕</h2>

<h3>川黃柏</h3>
<p>〔害〕固能除熱益陰，然陰陽兩虛之人，病兼脾胃薄弱，飲食少進，及食不消，或兼泄瀉，或嘔惡冷物，及好熱食，腎虛天明作瀉，上熱下寒，小便不禁，少腹冷痛，子宮寒冷，血虛不孕，陽虛發熱，瘀血停滯，產後血虛發熱，金瘡發熱，癰疽潰後發熱，傷食發熱，陰虛小水不利，痘後脾虛，小水不利，血虛不得眠，血虛煩躁，脾陽不足作泄等症，法並忌服。必尺脈洪大，按之有力方用之。苦虛火誤服，有寒中之變。</p>
<p>〔利〕苦寒，入脾、腎、膀胱、大腸四經。統涼三焦，瀉龍火而救水，利膀胱之濕熱。佐以蒼朮，理足膝之痹痛。漬以蜜水，嗽口舌之生瘡。</p>
<p>〔修治〕川產肉厚色深者良。生用降實火，炒黑止崩帶。酒製治上，蜜制治中（蜜炙，庶不傷胃），鹽制治下。</p>

<h3>山梔子</h3>
<p>（見心部瀉將）</p>

<h3>知母</h3>
<p>〔害〕傷胃滑腸，令人作瀉，凡陽痿及易舉易泄，脾弱，飲食不消化，胃虛不思食，腎虛溏泄等症，法並禁用。士材云：苦寒肅殺，非長養萬物者也。世以其滋陰，用治虛損，則如水益深矣。</p>
<p>〔利〕辛苦寒滑，清肺熱，瀉腎火之有餘，入二經氣分。潤腎燥滋陰，消痰定嗽，止渴除煩，兼能安胎，利二便，消腫，為涼脾胃大腸之品。知母須，其根也，力薄而苦寒性減。</p>
<p>〔修治〕二八月採根，凡用揀肥潤里白者，去毛切，得酒良。上行酒浸焙乾，下行鹽水拌焙。忌鐵。</p>

<h3>淨銀花</h3>
<p>〔害〕其氣寒涼，凡虛寒體及脾胃薄弱者勿服。恐有寒中腹痛，便溏泄瀉之患。癰疽潰後宜少用。經謂寒則血澀，不易收斂也。</p>
<p>〔利〕甘平，入脾肺，解熱化毒，療風養血，除利寬膨。淨銀花性加涼而解熱化毒之力更勝。忍冬藤，甘寒無毒，祛風解毒，而舒筋結。</p>
<p>〔修治〕四月採花陰乾，不拘時採。藤乾者不及生者力速，釀酒、代茶、熬膏並妙，蒸露尤佳。</p>

<h3>武夷茶</h3>
<p>〔害〕寒胃消脂。酒後飲茶，引入膀胱腎經，能令人腰腳膀胱冷痛。患瘕疝水腫拘攣，空心尤忌多食。發黃消瘦，使人不睡，多成飲症。</p>
<p>〔利〕苦甘微寒，入心、肺、脾三經。下氣消食，去痰熱，除煩渴，清頭目，利小便，解炙爆油膩之毒，消痔漏等瘡。武夷茶，消食偏長，飲之宜熱。冷則聚痰。與榧肉同食，令人身重。</p>
<p>〔修治〕三四月採，焙乾，芽尖入藥。</p>

<h2>〔溫脾猛將〕</h2>

<h3>製附子</h3>
<p>〔害〕大熱純陽，其性浮多沉少。若內真熱，而外假寒，陰虛內熱，血液衰少，傷寒，溫疫，熱霍亂，陽厥等症，投之靡不立斃。謹列其害於後。醫師令命，宜深鑿之，亦人之大幸也。凡病人一見內熱口燥，咽乾口渴，渴欲引飲，咳嗽痰多，煩燥，五心煩熱，惡寒，陰虛內熱外寒，虛火上攻齒痛，脾陰不足，以致飲食無味，小便黃赤短澀及不利，大便不通或燥結，腹內覺熱悶，喜飲冷漿及鮮果，畏火及日光，兼畏人聲及木聲，及虛陽易興，夢泄不止，產後發熱，產後血行不止，及惡瘡臭穢，小產憎寒壯熱，中暑厥暈，陰虛頭暈，中暑暴泄，利下如火，赤白帶下，小兒中暑傷食作泄，小便短赤，口渴思飲，血虛腹痛，按之即止，火炎欲嘔，外類反胃而惡熱焦煩，得寒暫止，中熱腹中絞痛，中暑霍亂吐瀉，或乾霍亂，或久瘧寒熱並盛，或赤白濁，赤白淋，尿血便血，血崩，吐衄，齒衄，舌上出血，目昏神短，耳鳴，盜汗，汗血，多汗，惡熱，老人精絕陽痿，少年縱欲傷精，以致陰精失守，婦人血枯無子，血枯經閉，腎虛小便餘瀝，血虛大便燥結，陰虛口苦，舌乾，心經有熱，夢寐紛紜，下部濕熱，行履重滯，濕熱痿痹，濕熱作瀉，濕熱腳氣，小兒急驚內熱，痘瘡乾焦黑陷，痘瘡火閉不出，痘瘡皮薄嬌紅，痘瘡因熱咬牙，痘瘡挾熱下利，痘瘡餘毒生癰，中風僵仆不語，口眼歪斜，語言蹇澀，半身不遂，中風痰多神昏，一切癰疽未潰，金瘡失血發痙，血虛頭痛，偏頭風痛，以上男女內外小兒約數十症，屬陰虛及諸火熱，無關陽弱，亦非陰寒，法所均忌。倘誤犯之，輕變為重，重者必死。臨症施治，宜謹審之！世徒見其投之陽虛之侯，服之功效甚捷，而不知其用之陰虛如上諸病，亦復下咽莫救，枉害人命，可不慎諸。好古云：用附子以補火，必防涸水，若陰虛之人，久服補陽之藥，則虛陽易熾，真陰愈耗，精血日枯，而氣無所附麗，遂成不救者多。</p>
<p>〔利〕甘辛熱，入脾腎，通行諸經。補元陽，益氣力，堅筋骨。治心腹冷痛，寒濕痿躄，足膝癱瘓，堅瘕症積。能墜胎，熱而善走，益火之源，以消陰翳。稟雄壯之質，有斬關之能；引補氣藥，以追散失之元陽；引補血藥，以養不足之真陰；引發散藥，以驅在表之風寒；引溫運藥，以逐在裡之冷濕。退陰益陽，祛寒濕之要藥也。生附子，毒緊功烈。附子尖，宣吐風痰，其性銳達。制川烏，性稍緩於附子。生川烏，毒緊功烈。制天雄，辛熱入肺腎二經，除寒濕痿躄，強陽壯筋骨。生用則發散，熟用則峻補，生用須如陰制之法，去皮臍入藥。</p>
<p>〔修治〕十一月播種，春苗生，九月採根者乃佳。初種之小者為烏頭；附烏頭旁而生為附子；又左右附而偶生者，為鬲子；附而長者，為天雄；陽而尖者為天錐附；附而上出者為側子；附而散生者，為漏藍子；皆脈絡連貫，如子附母，而附子以貴，故專附名也。川產為勝，土人以鹽醃之，則減其性。陝西出者名西附，體堅而外皮光潔；四川出者名川附，體松而外皮多細塊，以皮黑體圓底平，八角頂大者良。煎甘草湯，浸令透，然後切片，慢火炒黃，而干放泥地上出火毒。有用水浸、麵裹、煨令發折，則雖熟而毒仍未去，非法之善者。有用黑豆煮者，有用甘草、鹽水、薑汁、童便煮者，恐煮之氣味煎出，其力尤薄。且制之不過欲去其毒性耳，若用童便，是反抑其陽剛之性矣。尤非法之善者。惟用甘草湯泡浸，則毒解而力不減，尤為盡善矣。市醫淡漂用之，是徒用附子之名爾。</p>

<h3>乾薑</h3>
<p>〔害〕性大辛，辛能僭上，亦能散氣動血，損陰傷目。凡陰虛內熱，咳嗽吐血，表虛有熱汗出，自汗盜汗，臟毒痛漏下血，因熱嘔惡，火熱腹痛，法並忌用。孕婦尤忌。癰疽人多食，則生惡肉突出。八九月多食姜，至春多患眼損壽，減筋力。又云秋不食姜，令人瀉氣。</p>
<p>〔利〕辛熱，宣肺氣，燥脾濕，溫經逐寒，開胃扶脾，消食去滯，理翻胃腹痛，具消痰破血之功，除積脹瘕症，有下氣溫中之效。炮姜乾薑本辛，泡之則苦，大熱大燥，守而不移，非若附子行而不守也。除胃冷，祛寒濕，能去臟腑沉寒痼冷，能止血。所謂止血者，血虛則熱，熱則妄行，炒黑則能引補血藥入陰分，血得補則陰生熱退，此陽生陰長之義。且黑為水色，故血不妄行也。能去惡血，生新血。血寒者多用，血熱者宜少用，不過三四分，為嚮導而已。引附子，則入腎能通脈回陽，多用則耗散元氣。生則逐寒邪而發表，炮則除胃冷而守中。</p>
<p>〔修治〕九月採母姜，曬乾姜，白淨結實者良。如懼其散，炒黃用，或炒微黑。市醫將乾薑泡淡用之，殊屬可笑。乾薑炮黑，為炮姜，一名黑姜。</p>

<h3>巴豆霜</h3>
<p>〔害〕元素曰：巴豆乃斬關奪門之將，不可濫用。鬱滯雖開，真陰隨損。從正曰：傷寒風濕，痘瘡，產後用之，下膈不死亦危。觀二公之言，則巴豆之為害，可畏也。此稟火烈之氣，觸人肌膚，無有不灼爛。試以少許，輕擦完好之肌，須臾即發出一泡。況腸胃柔脆之質，下咽徐徐而走，無論下後耗真陰，及臟腑被其熏灼，能免潰爛之患耶？凡一切湯劑丸散，切勿妄投。即不得已急症，欲借其開通道路之力，亦須炒熟，壓令油極淨，入少許，中病即止。</p>
<p>〔利〕辛熱，入肺、脾、胃、大小腸五經。蕩五臟，滌六腑，幾於煎腸刮胃，攻堅積，破痰癖，真可斬關奪門；氣血與食，一攻而殆盡；痰蟲及水，傾倒而無遺；立墜胎兒，善拔疔毒。</p>
<p>〔修治〕八月採，陰乾去心皮，此物不去膜則傷胃，不去心則作嘔，或用殼、用仁、用油、生用、炒用、醋炙，燒存性用。壓去油，名巴豆霜，如去心、去膜油、生用、炒用，為急治水穀道路之劑。炒去煙令紫黑用，為緩治消堅磨積，可以止瀉也。</p>

<h3>肉豆蔻</h3>
<p>〔害〕香燥偏陽，大腸素有火熱，及中暑熱泄暴注，腸風下血，胃火齒痛，及溫熱積滯方盛，瀉利初起，皆不宜服，多服則泄氣。</p>
<p>〔利〕辛溫，入肺、脾、胃、大腸四經。功專溫中，亦能下氣，脾得補而善運，氣自下也。又能澀大腸，止虛瀉冷痢。</p>
<p>〔修治〕六七月採，出嶺南，似草蔻，外有縐紋，內有斑紋，糯米粉裹，或麵煨熟，須去油淨，忌鐵。</p>

<h3>草果</h3>
<p>〔害〕辛熱破氣，若瘧不由於嵐瘴，氣不實、邪不盛者，並忌。市醫不審病源，用以截痰瘧，則成氣虛膨脹者，比比矣。</p>
<p>〔利〕辛溫，入脾胃二經，破瘴厲之瘧，消痰食之愆，氣猛而濁，用宜慎之。</p>
<p>〔修治〕形如訶子，皮黑厚而稜密，子粗而辛臭，麵裹煨熟，取仁用，忌鐵。</p>

<h3>草豆蔻</h3>
<p>〔害〕辛燥犯血，陰不足者遠之。凡瘧不由瘴氣，心胃痛由於火而不由於寒，泄瀉暴注口渴，而由於暑氣濕熱，法咸忌之。</p>
<p>〔利〕辛溫，入肺、脾、胃三經。散寒止心腹痛，下氣驅逆滿之疴，開胃而理霍亂吐瀉，攻堅而破噎膈癥瘕。辛能破滯，香能達脾，溫能散寒。</p>
<p>〔修治〕形如龍眼而微長，皮黃白，薄而稜峭。仁辛香，氣和，去膜微炒用。滇廣所產名草果，閩產名草豆蔻也。氣異而功用亦別矣。</p>

<h3>蒼朮</h3>
<p>〔害〕辛溫燥烈，大便燥結多汗者忌用。余與白朮禁例同。</p>
<p>〔利〕苦辛溫，入脾胃二經。燥濕消痰，發汗解鬱，除山嵐瘴氣，弭災沴惡疾。</p>
<p>〔修治〕出茅山，堅小有硃砂點者良。糯米泔浸焙乾，同芝麻炒，以制其燥。本草經不分蒼白。陶隱居分兩種施用。</p>

<h3>胡椒</h3>
<p>（見肝部）</p>

<h2>〔溫脾次將〕</h2>

<h3>木香</h3>
<p>（見肝部）</p>

<h3>煨姜</h3>
<p>〔害〕見前乾薑條。</p>
<p>〔利〕辛溫燥散未甚，止嘔和中，溫脾胃最平安。並棗用，宜煨姜。</p>
<p>〔修治〕取生薑洗淨，用粗紙包裹，浸濕入火灰中，煨熟切片入藥。</p>

<h3>烏藥</h3>
<p>〔害〕辛溫，散氣之品。病屬氣血虛，而內熱者忌之。時醫多以香附同用，治女子一切氣病。然有虛實寒熱，冷氣暴氣，用之固宜；虛氣熱氣，用之貽害。故婦人月事先期，小便短赤，及咳嗽、內熱、口渴、口乾、舌苦，不得眠，一切陰虛內熱之病，皆不宜服。</p>
<p>〔利〕入肺、脾、胃、膀胱，通溫三焦，辛溫芳馥，下氣溫中，治膀胱冷氣攻衝，胸腹積停為痛，天行疫瘴，鬼犯蟲傷。</p>
<p>〔修治〕八月採，根有車轂紋，形如連珠，天台者香白，不及南海之力大，酒浸一宿炒，亦有煅研用者。</p>

<h3>藿香</h3>
<p>〔害〕芳烈升陽，雖能止嘔，治吐逆，若胃熱作嘔，法並禁用。中焦火盛，及陰虛火旺，溫病熱病，陽明胃家邪實，作嘔作脹並禁。</p>
<p>〔利〕辛微溫，溫中開胃，行氣止嘔，稟清和芳烈之氣，治心腹絞痛，霍亂吐瀉，為脾肺達氣要藥。梗達氣為長，而芳烈遜之。</p>
<p>〔修治〕出交廣，方莖有節葉，微似茄葉，古惟用葉。今枝梗亦用，因葉多偽也。六七月採，曬乾，乃芬香。</p>

<h3>益智仁</h3>
<p>〔害〕其氣芳香，惟性本燥熱，病屬血燥有熱，而崩帶遺濁者，皆當忌之。凡嘔吐由於熱，而不因於寒；氣逆由於怒，而不由於虛；小便餘瀝，由於水涸精虧內熱，而不由於腎氣虛寒；泄瀉由於濕火暴注，而不由於氣虛腸滑；法並忌用。</p>
<p>〔利〕補腎扶脾胃，溫中進飲食，攝涎唾，縮小便，安心神，止遺濁。辛能開散，使鬱結宣通，行陽退陰之藥也。</p>
<p>〔修治〕出嶺南，形如棗核，取仁鹽水炒。五六月熟，其子如筆頭，兩頭尖，長七八分。</p>

<h3>砂仁</h3>
<p>〔害〕辛竄性燥，血虛火炎者勿用。胎婦多服耗氣，必致難產。凡腹痛屬火，泄瀉得之暑熱；胎動由於血熱；滯下由於濕熱；上氣咳逆，由於火沖迫肺，而不由於寒氣所滯；皆須詳察鑑別。誤則有損無益，宜慎之。</p>
<p>〔利〕芳香歸脾，辛能潤腎，下氣化食，治心疼欲嘔，開脾胃要藥，和中氣正品。若腎氣不歸元，非此嚮導不濟，胎喜疏利，故主之。陽春砂仁，即縮砂仁，其性同，而長於開胃。砂仁殼力緩。</p>
<p>〔修治〕出嶺南，七八月採，炒去衣，研入藥。</p>

<h3>白蔻仁</h3>
<p>〔害〕辛熱燥烈，流行三焦，凡嘔吐不因於寒及陽虛者，皆不得入。如火升作嘔，因熱腹痛氣虛諸症，法咸忌用。</p>
<p>〔利〕辛溫，入脾胃，通溫三焦，寬中氣滯，溫中除吐逆，開胃消飲食，治瘧症，除目翳。蔻殼力稍遜。</p>
<p>〔修治〕番舶來者良，去衣微焙研細用。</p>

<h3>米穀</h3>
<p>甘平，得天地中和之氣，平和五臟，補益氣血，除煩清熱，利便止渴，是無害於病症。惟患霍亂之後，忌粥及米飯。有早中晚者，得金氣，多性涼，尤能清熱。</p>
<p>北粳涼，南粳溫，赤粳熱，白粳涼，新粳熱，陳粳涼，秈糯溫，陳廩平。</p>
<p>除霍亂症外，余皆有益於人，而無損也。</p>

<h3>焦穀芽</h3>
<p>甘溫消食，與麥芽同功，而性不損元。溫中偏長，為消食建脾，開胃和中之要藥。生穀芽，長於開胃。</p>

<h3>蜀椒</h3>
<p>〔害〕純陽之氣，雖除寒濕，散風邪，然肺胃素有火熱，或咳嗽生痰，或大腸積熱下血，咸不宜用。凡泄瀉由於火熱暴注，而非積寒虛冷者忌之。陰痿腳弱，由於精血耗竭，而非命門火衰虛冷所致者，不宜入下焦藥用。一切陰虛陽盛，火熱衝上，頭目腫痛，齒浮口瘡，衄血耳聾，咽痛舌赤，消渴、肺痿、咳嗽、咯血、吐血等症，法所咸忌。陰虛火旺之人，在所大忌。</p>
<p>詵曰：五月食椒，損氣傷心，令人多忘。</p>
<p>別錄曰：大熱多食，令人乏氣喘促。閉口椒有毒，能殺人。</p>
<p>〔利〕辛熱，入脾、肺、右腎、命門，溫脾胃而擊三焦之冷滯，補元陽而蕩六腑之沉寒。燥濕發汗，消食除脹；治腎氣上逆，能導火歸元；止嘔吐瀉利，消痰飲水腫，通血脈而消痿痹，行肢節而健機關，破癥瘕，安蛔蟲，蟲聞椒即伏。</p>
<p>椒稟純陽之性，乃除寒濕，散風邪，溫脾胃，暖命門之要藥。</p>
<p>椒目苦辛少毒，善消水脹腫滿定喘，可塞耳聾。塞耳聾者，通關補腎之功也。</p>
<p>〔修治〕蜀產，肉厚皮皺，為川椒，比秦椒略小。去目及閉口者，微炒去汗，搗去裡面黃殼，取紅用，名椒紅，得鹽良。中其毒者，用涼水麻仁漿解之。</p>
<p>秦椒，俗名花椒。比川椒味短，紋低，禁忌俱同川椒。</p>

<h1>肺部藥隊</h1>

<h2>〔補肺猛將〕</h2>

<h3>黃耆</h3>
<p>〔害〕按黃耆極滯胃口，胸胃不寬，腸胃有積滯者勿用。實表，有表邪及表旺者勿用。助氣，氣實者勿用。病人多怒，則肝氣不和勿服。能補陽，陽盛陰虛，上焦熱甚，下焦虛寒者均忌。恐升氣於表，而里愈虛耳。痘瘡血分熱者禁用。</p>
<p>〔利〕甘微溫，補脾胃三焦而實肺，生用固表斂汗，熟用益氣補中。</p>
<p>〔修治〕八月採根，陰乾。達表生用或酒炒，補氣水炙捶扁，以蜜水塗炙數次，以熟為度。亦有以鹽水湯潤透熟切用。產山西沁州綿上者，溫補。陝西同州白水耆，涼補。味甘，柔軟如綿，能令人肥。今人多以苜蓿根假作黃耆。折皮亦似綿，頗能亂真。但堅而脆，俗呼土黃耆，能令人瘦，用者宜審。</p>
<p>丹溪云：肥白而多汗者為宜，若面黑形實而瘦者服之，令胸滿。</p>

<h3>人參</h3>
<p>〔害〕助氣、閉氣、屬陽，陽旺則陰愈消，凡酒色過度，損傷肺胃真陰，陰虛火動，肺有火熱，咳嗽吐痰，吐血衄血，齒衄內熱，骨蒸勞瘵，均在禁例。實表，表有邪者傷寒始作，形症未定，而邪熱方熾，痧痘斑毒初發欲出，但悶熱而不見點者，若誤投之，以截阻其路，皆實實之害，非藥可解。經云：實實虛虛，損不足，補有餘。如是者醫殺之耳，可不慎哉。</p>
<p>〔利〕甘溫微苦，大補肺中元氣，其性主氣，凡臟腑之氣虛者，皆能補之，生津除煩，聰明耳目，安精神，定魂魄，止驚悸，通血脈，氣壯而胃自開，氣和而食自化。</p>
<p>參條，一名小參，條參味性同而力薄，補氣生津，橫行手臂，指臂無力者，服之有效。參鬚，力更薄於參條。</p>
<p>參蘆性宣湧吐，亦有補性。</p>
<p>太子參，即孩兒參，功媲大參。</p>
<p>高麗參，功仿大參，性稍寒。</p>
<p>東洋參，功同大參，其性溫，以種硫黃故也。</p>
<p>苦參，苦寒損氣敗血，性與參反，服之有害，今人用以代茶葉，暗受其損。</p>
<p>〔修治〕得火薰則軟，或飯鍋內蒸軟，乘熱軟時，用銅刀切片，連湯燉透，衝入諸煎劑湯和服。獨參湯加入陳皮數分，或佛手柑玫瑰花之類亦可用。燉湯服，則不滯氣也。按秋冬採者堅實，春夏採者虛軟。治勞金汁拌浸，或用淡秋石拌入藥。入參惟納新器中與細辛相間，收之密封，可經年不壞。</p>

<h2>〔補肺次將〕</h2>

<h3>潞黨參</h3>
<p>〔害〕同人參。</p>
<p>〔利〕甘平，補中氣，和脾胃，補肺，益氣升津，微虛者宜之。</p>
<p>〔修治〕八月上旬採根，竹刀刮曝乾，勿令見風。上黨（即今潞州）所出者良。</p>

<h3>西洋參</h3>
<p>〔害〕其性苦寒，臟寒者服之，反作腹痛。鬱火服之，火不透發，反生寒熱。北沙參</p>
<p>〔害〕臟腑無實熱，寒客肺中作嗽者，犯之成劫。</p>
<p>〔利〕苦微寒。人參甘溫體重，專益肺氣，補陽而生陰。沙參甘寒體輕，專清肺熱，補陰而制陽。</p>
<p>南沙參。功同北沙參，而力稍遜。</p>
<p>〔修治〕八九月採根，白實長大者良。南參色稍黃，形稍瘦，小而短。近因有一種味帶辣者，不可用，產亳州。</p>

<h3>百合</h3>
<p>〔害〕善通二便，中寒下陷者勿服。</p>
<p>〔利〕甘微寒，保肺止咳，清心安精，又補大腸，肺與大腸相表裡也。</p>
<p>〔修治〕一莖直上，四向生葉，似短竹葉而闊，莖端五六月開大白花者佳。五月開紅花者，名山丹，其根微苦，食之不甚良，是不及白花也。山丹者，主治瘡腫驚邪，女人崩中。二月八月採根陰乾，近道山谷處處有之。</p>

<h3>燕窩</h3>
<p>〔害〕海味多寒，寒哮冷嗽不宜用，食之恐增病。</p>
<p>〔利〕甘淡平潤，大養肺陰，化痰止嗽，補而能清，治肺氣不能清肅下行之症。又能開胃氣，已勞痢。可入煎，或單煎汁服。若以煮粥，或雞汁煮，則亂其清氣補陰之本性矣。用冰糖煎則甘溫矣，能助肺氣清肅下行也。</p>
<p>燕窩腳，又名燕窩根，色紅紫，名血燕，功用相仿。性重能達下，微咸能潤下，治噎膈甚效。</p>
<p>〔修治〕閩漳海邊，近生番處，燕銜小魚，黏之於石，久而成窩。又云燕銜麒麟菜嫩芽成窩。有烏、白、紅三色，烏色最下，紅色最難得，能益小兒痘疹，白色能愈痰疾，色如糙米者最佳。入煎藥，須用陳久者良。先用清水浸透胖開，用小鉗拑去毛，潔淨，更換清水養好，仍將原燕浸水，澄清去腳煎服。如用毛燕窩，須入石灰壇內收燥，研細，在風口篩簸，則毛吹淨，再用鉗揀去毛管，如粉、則煎服。如用毛燕燕根燕屑入煎，須用棉包，或絹包好入煎，則無毛。恐毛不淨，礙肺為患。</p>
<p>假燕窩無邊無毛，色白，或微有邊毛，甚有白如銀絲者，皆偽為之。</p>

<h3>阿膠</h3>
<p>〔害〕膠性黏膩，胃弱作嘔吐者勿服。脾虛食不消者，亦忌之。</p>
<p>〔利〕甘鹹平，清肺養肝，滋腎補陰，止血去瘀，除風化痰。驢皮主風，善理風淫。取其烏色屬水，以制熱則息風之義。潤燥定喘，利大小腸，調經安胎，又兼治利，傷暑伏熱成痢者必用。妊娠血痢尤宜。大抵補血與液，為肺、大腸要藥。烏驢皮膠。功用略同。</p>
<p>黃明膠，即牛皮膠。甘平補陰，潤燥活血，功同阿膠，可以權代。補虛用牛皮膠，去風用驢皮膠，同蔥白煮服，可通大腸，癰疽初起，酒燉分服四兩，則毒不內攻。</p>
<p>〔修治〕山東東阿縣，東北六十里有阿井。自十月至二三月，收取烏驢皮。用狼溪河純陽水，浸四五日透，去毛洗刮潔淨，入銅鍋內，用阿井至陰之水熬煮，時時攪之，恆添水至極爛。提去浮面渣穢，待極清熬成膏，對光明透照，如琥珀色或光如壁漆黑色氣味清香，並無皮臭臊氣，夏月亦不溫軟，陳者良，此真阿膠也。</p>
<p>驢皮膠，取烏驢皮，浸消熬膠。黃明膠，用黃牛皮，浸消熬膏。其氣濁臭，而不清香。</p>
<p>今市中膠物，製作不精，故不堪用。今方法用麵炒成珠，化痰，蛤粉炒止血，蒲黃炒或童便和化，以解其氣。如真阿膠，得趨下至靜之性，凡血熱則沸郁妄行，諸見血症，遇此即止。故用水溶化為佳。炒珠，恐亂其性也。井乃濟水所注，取井水煮膠，用攪濁水則清，故人服之，下膈疏痰止嘔，蓋濟水清而重，其性趨下，故治瘀濁及上逆之痰也。</p>

<h3>懷山藥</h3>
<p>（見脾部）</p>

<h3>訶子</h3>
<p>〔害〕苦澀性溫，卻又泄氣，病人氣虛，咳痢初起者勿服。凡咳嗽因於肺經實熱，泄瀉因於濕熱所致，氣喘因於火逆衝上，帶下因於虛熱，而不因於虛寒，及腸澼初發，濕熱正盛，小便不禁，因於腎家虛火，法並忌之。至於帶下本於濕熱，喘嗽實由肺火，用之立致殺人，宜當深戒其弊。</p>
<p>〔利〕酸澀苦溫，斂肺金而止咳喘，固大腸而已泄利，利咽喉而通津液，下食積而除滿膨。</p>
<p>〔修治〕嶺南皆有，而廣州最盛。七八月採子，六稜者佳。波斯舶上來者，六稜黑色，肉厚者良，酒浸後蒸一伏時，刀削去皮肉，銼焙用，用核則去肉，生用清金，煨熟固腸。</p>

<h3>麥冬</h3>
<p>（見心部）</p>

<h3>冰糖</h3>
<p>〔害〕甘能滿中，中滿者勿服。多食助熱損齒，生長蟲，發疳䘌，如出斑疹，誤食膩膈壅氣，毒不能出，遂致氣逆悶迷。沙糖與鯽魚同食，則成疳蟲，與葵子同食，生流澼，與筍同食，不消成症，身重不能行。今醫家用作湯下小兒丸散，殊為未當。赤糖其性較白糖更溫，生胃火、助濕、損齒、生蟲，多食令人心痛。</p>
<p>〔利〕白沙糖甘溫，蔗寒，糖經煎煉則變溫，補脾緩肝，潤肺和中，消痰治嗽，凝結作餅塊如石者，為石蜜。輕白如霜者，為糖霜。堅白如冰者，為冰糖。赤砂糖，功用相仿，和中獨長。甘蔗汁甘寒和中，而下逆氣，助脾而利大腸，亦能除熱消渴，治噎膈酒毒，稍通小便。</p>

<h2>〔瀉肺猛將〕</h2>

<h3>葶藶</h3>
<p>〔害〕雖為瀉肺，利小便，治腫滿之要藥，然味苦大寒，性峻走而不守，泄肺而易傷胃，不宜於脾胃虛弱，及真陰不足者。凡腫滿由於脾虛不能制水，水氣氾濫，小便不通由於膀胱虛無氣化者，法所咸忌。犯之，輕病重，重病危，須慎之。敷頭瘡，藥氣入腦殺人，有甜苦二種，苦者力峻，甜者稍緩，更宜大棗輔之，氣虛人誤服之，禍不旋踵。</p>
<p>〔利〕苦辛寒，入肺、心、脾、膀胱四經，疏肺下氣，消痰平喘，而理脹通經利水。</p>
<p>〔修治〕立夏後採實，陰乾，以糯米相合，微焙，待米熟，去米搗用，或酒炒。</p>

<h3>麻黃</h3>
<p>〔害〕其性輕揚善散，發表最速，若表虛自汗，飲食勞倦雜病；自汗肺虛有熱，多痰咳嗽，以致鼻塞；痘瘡倒靨，不因寒邪所郁，而因熱甚；虛人傷風，氣虛、發喘，陰虛火炎，以致眩暈頭痛；南方類中風癱瘓，及平日陽虛，腠理不密之人，皆禁用。汗多亡陽，能損人壽，戒之戒之！春深夏日，以至秋初，法同禁。惟冬月在表，真有寒邪傷營見證者宜之。若非冬月，或無寒邪，或寒邪在裡，或風傷於衛等症，雖發熱惡寒，不頭痛身痛而拘急，六脈不浮緊者，皆不可用。雖可汗之症，亦不宜過劑。汗為心液，過汗則心血為之動，或亡陽，或血溢，而成大患。</p>
<p>中牟產麻黃，地冬不積雪，其性熱可知。</p>
<p>〔利〕苦辛溫，入心、肺、膀胱、大腸四經。專司冬令寒邪，頭疼身熱脊強，去營中寒邪，泄衛中風熱，輕可去實，為發散第一藥。麻黃乃太陽經藥，兼入肺經，肺主皮毛。葛根乃陽明經藥，兼入脾經，脾主肌肉。二藥皆輕揚升發，而所入不同，瘡家用生麻黃，與甘草等分，或配犀角地黃湯，或配竹葉石膏湯，或配大生地，能令人不出汗，使膿水走多，其愈乃速。誤用者，熟地解之，一兩解一錢。麻黃根節，能止汗，其性走表，能引諸藥至衛，而固腠理。</p>
<p>〔修治〕今滎陽中牟者為勝，立秋後收莖陰乾，其根皮色黃赤近尺者用之，折去節根，水煎十餘沸，以竹片掠去上沫，沫令人煩。或用醋泡，或蜜炙則和，亦有生用，須煎去沫。</p>

<h3>白芥子</h3>
<p>〔害〕辛熱泄氣，昏目動火傷精。經云：辛走氣，氣病無多食辛，多食則筋急爪枯。即此類也。凡肺經有熱，與陰虛火炎，咳嗽生痰，氣虛久咳者，法在所忌。切勿誤投。莖葉動風，動氣，有瘡瘍，痔疾，便血者忌。</p>
<p>芥葉久食則積溫成熱，辛散太甚，耗人真元，昏目發瘡。同兔肉食，成惡邪病，同鯽魚食，發水腫。</p>
<p>陸金云：望梅生津，食芥墜淚，為肝木受病也。大葉者良，細葉有毛者害人。</p>
<p>〔利〕辛溫，入肺胃二經，通行經絡，發汗散寒，利氣疏痰，溫中消冷滯，辟邪伏祟魔。酒服治反胃，醋塗散癰疽，痰在皮裡膜外者，非白芥子不能達。</p>
<p>〔修治〕四月收子，曬乾入藥。</p>

<h3>苦桔梗</h3>
<p>〔害〕畢竟升藥，凡病氣逆上升，不得下降，若下焦陰虛而浮，及邪在下焦者，攻補下焦藥中勿入。誤用之，定致喘逆變端。病屬上焦實症，而下焦無病者，須與甘草同用。</p>
<p>〔利〕苦辛平，色白屬金，入肺氣分，瀉熱兼入手少陰心，足陽明胃二經，開提氣血，瀉火散寒邪，清利頭目喉咽，開胸膈滯氣，肺火鬱於大腸，宜此開之，舟楫之劑，引諸藥上至高之分以成功，風症鬱熱肺經，皆不可缺。凡痰壅喘促，鼻寒目赤，喉痹咽痛，齒痛口瘡，乾咳胸痛腸鳴，皆宜苦梗開之。</p>
<p>甜桔梗，一名薺苨，又名空沙參。寒而利肺，甘而解毒。</p>
<p>〔修治〕二月採根曝乾，薺苨苗甘，桔梗苗苦，本經無分別。苦梗米泔水浸一夜，切片微炒用。古法每桔梗四兩，用生百合二兩五錢，搗膏投水中，浸一伏時，濾出，緩火熬令乾用。升麻</p>
<p>〔害〕性主升發，凡下元肝腎不足，若用此升之，則下元愈虛。若陰虛火動，咳嗽多痰，氣逆嘔吐，驚悸怔忡，癲狂等症，及小兒斑疹痘瘡，見標之後，法咸忌之。誤用多致殆。吐血鼻衄者誤服血隨氣升，湧出不止。</p>
<p>〔利〕甘辛微苦，入脾、胃、大腸、肺四經。表散風邪，升散火鬱，能升陽氣於至陰之下，引清氣上行。凡氣虛下陷者，須其升提陽氣，陽氣升，故能殺精鬼，闢瘴而解百藥毒，治寒熱下痢脫肛，崩中帶下，透痘疹，陰虛火升者，忌用。</p>
<p>〔修治〕蜀川者為勝。二八月採根，曬乾刮去粗皮，用黃精自然汁浸一宿曝乾。去須及頭蘆銼蒸，再曝用，如嫌過升，蜜水炒或醋炒用。</p>

<h3>陳膽星</h3>
<p>〔害〕按南星辛而不守，燥而有毒，與半夏之性同，而烈則過矣。非西北人真中風者勿服。陰虛燥痰大忌。半夏治濕痰，南星治風痰，是其異矣。</p>
<p>〔利〕辛溫，入肝、脾、肺三經之藥。風痰麻痹堪醫，破血行胎可慮，生南星毒緊而功更烈。古人用生南星、生附、生烏、皆四錢五錢，非識力精到者，不可輕試。得防風則不麻，得牛膽則燥性減，故名膽星。即仗製法緩其性。得火炮則緩，治風痰有效。</p>
<p>〔修治〕九月採根，似芋而圓扁，陰乾，須用一兩以上者佳，必以溫湯洗淨，仍以白礬湯或入皂角汁浸三日夜，日日換水，曝乾用。若熟用者，須於黃土地掘一小坑，深五六寸，以炭火燒赤，以好酒沃之，按南星於內，瓦盆覆定。灰泥固濟一夜取出用，急用即火濕紙包於煻灰火中炮裂。一法，治風熱痰，以酒浸一宿，桑柴火蒸之，常灑酒入甑內，令氣猛，一伏時取出，竹刀切開，不麻舌為熟，如未熟再蒸，至不麻乃止。脾虛多痰，則以生薑渣和黃泥包南星，煨熟去泥焙用。造膽星法：以南星生研為末，臘月取黃牛膽汁和劑，納入膽中，系懸風處干之，年久者彌佳。</p>

<h2>〔瀉肺次將〕</h2>

<h3>紫蘇</h3>
<p>〔害〕其味辛溫，純陽之草，凡病氣虛表虛者，及由陰虛寒熱，火炎頭疼，火升作嘔，慎勿投之。俗喜其芳香，旦暮資食，不知泄真元之氣，若脾胃寒人，多致滑泄，往往不覺。古稱芳草致豪貴之疾，此類是也。</p>
<p>〔利〕辛溫入肺、脾、胃三經。溫中發表，解散風寒，寬中利氣，又解魚蟹毒，梗能下氣安胎，子可消痰定喘。</p>
<p>〔修治〕夏採莖，秋採子，五六月連根採收。以火煨其根陰乾，則經久葉不落。九月半枯時收子，子炒研用，宣通風毒則單用。莖去節尤良。</p>

<h3>牛蒡子</h3>
<p>〔害〕其性冷而滑利，痘家惟宜血熱便閉之症，若氣虛色白，大便自利，或泄瀉者，切勿妄投。痧疹不忌，泄瀉用之不妨，癰疽已潰，非便閉亦不宜服。</p>
<p>〔利〕辛苦而寒，瀉熱散結除風，宣肺氣，清咽喉，理痰嗽，通行諸經，開毛竅除熱毒，散諸腫瘡瘍為痘疹要藥。</p>
<p>〔修治〕七月採子，十月採根。凡用子，揀淨以酒拌蒸，待有白霜重出，以布拭去，焙乾搗粉。用根，以竹刀刮去土，生布拭了，搗絞取汁用。</p>

<h3>杏仁</h3>
<p>〔害〕性溫有毒，而沉墜降止，散肺經風寒滯氣殊效，第有濕痰者勿服，以其性潤，陰虛咳嗽便閉，肺家虛有熱痰者忌。風寒外邪，非壅逆肺分，咳嗽氣急者不得用。雙仁者有毒殺人。</p>
<p>〔利〕苦甘辛溫，瀉肺氣之逆，而平喘咳，潤大腸之燥，面通氣秘，散肺經風寒滯氣，故能解肌滌煩熱，而降氣行痰。余功消積，消狗肉，制錫毒。</p>
<p>巴旦杏仁（即甜杏仁）甘平溫，止咳下氣，消心腹逆悶。</p>
<p>〔修治〕南苦杏，北甜杏，皆五月採之。凡用湯浸去皮尖炒黃，或用面麩炒過研，治風寒肺病藥中，亦有連皮尖用者，取其發散也。千金云：杏仁作湯，如白沫不解者，食之令氣壅身熱，湯浸隔宿者，動冷氣。</p>

<h3>前胡</h3>
<p>〔害〕此散有餘邪熱實痰之藥，不可施之少血氣虛之病。凡陰虛火熾，煎熬真陰，凝結為痰，而發咳嗽，真虛而氣不歸元，以致胸脅逆滿，頭疼不因於痰，而由陰血虛，內熱心煩，外現寒熱，而非實熱，與外感者均忌。</p>
<p>〔利〕苦甘辛寒，入肺、脾、肝、膀胱四經。宣散風寒而解表，下氣降火以消痰。前胡主降，柴胡上升，性有不同。前胡治風痰，與半夏治濕痰，貝母治燥痰者各別。</p>

<h3>紫苑</h3>
<p>〔害〕辛散性滑，暫用之品，陰虛肺熱者，不宜專用及多用。即用亦須天冬、百部、麥冬、桑皮等藥參用，則無害。</p>
<p>〔利〕苦能下氣，辛溫潤肺益金，故保肺治吐血，為下氣化痰潤肺，治血痰勞嗽聖藥。能開喉痹，取惡涎，雖入至高善於下趨，使氣化及於州都之府，小便自利。然性溫，陰虛肺熱者，不宜多用。如獨用，須地黃、麥冬共濟，根作節紫色潤軟者良。白者名女苑，入氣分。</p>
<p>〔修治〕二三月採根，陰乾去頭及上，用東流水洗淨，以蜜浸一宿，焙乾用。一兩用蜜二分。</p>

<h3>桑白皮</h3>
<p>〔害〕甘寒瀉肺，肺中有水氣，及肺火有餘者宜之。性不純良，不宜多用，肺虛無火而小便自利者，及因風寒而發咳嗽者勿服。桑根見地上者，名馬額，有毒殺人。</p>
<p>〔利〕甘辛而寒，瀉肺金之有餘，止咳定喘，疏小腸之閉滯，逐水寬膨、消腫，治膚脹，散瘀血，主降氣，能止渴下氣清痰。</p>
<p>〔修治〕採無時，凡使採十年以上，向東畔嫩根，銅刀刮去青黃薄皮一重。取里白皮切焙乾用，或蜜炙入藥，其皮中涎勿去之，但藥力俱在其上也。忌鐵及鉛。</p>

<h3>殭蠶</h3>
<p>〔害〕其功長於祛風化痰，散有餘之邪。凡中風口噤，小兒驚悸夜啼，由於心虛，神魂不寧，血虛經絡勁急所致，而無外邪為病者忌之。女子崩中，產後余痛，非風寒客入者，亦忌之。今世治小兒驚風，不問虛實，一概混施，誤甚。</p>
<p>〔利〕鹹辛平宣，入肺脾肝。氣味俱薄，輕浮而升，得清化之氣，故能去風化痰，散結行經，治中風失音，頭風齒痛，喉痹咽腫，丹毒瘙癢等風熱為病。消瘰癧，拔疔毒，下乳汁，滅瘢痕，治男子陰癢，女子崩淋。血病因風熱乘肝者宜之，血虛勿用也。即蠶之病風者，用以治風，殆取其氣相感歟。</p>
<p>蠶蛹炒食，治風及勞瘦，為末飲服，治小兒疳瘦，長肌肉，退熱，除蛔蟲，敷惡瘡。</p>
<p>蠶繭甘溫，能瀉膀胱相火，引清氣上潮於口，止消渴。一名蠶蛾，燒灰酒服，治癰腫無頭次日即破。又療諸瘡及下血崩淋。煮取汁飲，止渴反胃，除蛔蟲。</p>
<p>蠶蛻（一名馬明退）甘平無毒，治諸血症，療喉痹風癲，解諸藥及蟲毒，婦人難產斷產皆需之。</p>
<p>原蠶蛾　氣熱性淫，固精強陽。</p>
<p>原蠶沙　甘辛溫，蠶屬火，其性燥，燥能勝風去濕，主療風濕之病。淘淨曬乾，炒黃浸酒，治支節不遂，皮膚頑痹，腰腳冷痛，冷血瘀血諸病。</p>
<p>繅絲湯　能抑心火，而治消渴。</p>
<p>繭中蛹汁　於繭甏下收之，繭滷汁，治百蟲入內，䘌蝕瘙疥。</p>
<p>白肚蠶及烏爛死蠶　敷赤白遊丹，斬蝕瘡有根。</p>
<p>〔修治〕四月收採，凡使殭蠶，不拘早晚，但用白色條直者佳。先以糯米泔浸一日，待蠶桑涎出，如蝸涎浮水上，然後灑出。微火焙乾，以布拭淨黃肉毛並黑口甲了，用入丸散，搗篩如粉入藥。</p>

<h3>竹茹</h3>
<p>〔害〕竹性寒涼。胃寒嘔吐，及感寒挾食作吐者忌用。</p>
<p>〔利〕甘辛淡寒，入心、肺、胃，疏氣逆而平嘔吐噎膈，清血熱而療吐衄崩中。</p>
<p>淡竹茹為上，甘竹皮次之，凡用竹茹、葉、瀝，須生長甫及一年者，為嫩而有力。刮去青皮，用第二層為鮮竹茹。入平嘔逆藥，薑汁炒用。</p>

<h3>川貝母</h3>
<p>〔害〕凡風寒濕滯諸痰並禁用貝母。故云能入肺治燥，非脾家所喜也。及食積痰火作嗽，濕痰在胃，噁心欲吐，痰飲作寒熱，脾胃濕痰作眩暈，及痰厥頭痛，中惡吐嘔，胃寒作泄，法以辛溫燥熱之藥，如南星、半夏、天麻、二朮、茯苓之類治之者。</p>
<p>〔利〕苦辛微寒，消痰潤肺，滌熱清心，故能解鬱結，咳嗽，上氣，吐血，咯血，肺癰，肺痿，喉痹。</p>
<p>淅貝，一名象貝，體堅味苦，去時感風痰。</p>
<p>川貝化虛痰，土貝形大味苦，治外科化痰毒。應用有別，俱去心。</p>
<p>〔修治〕八月採根，根有瓣子黃白色，形如聚貝子，名曰貝母。曝乾。先於柳木灰中炮黃，擘去內口鼻中有米許大者心一顆後，糯米拌炒，待米黃，去米用。</p>

<h2>〔涼肺猛將〕</h2>

<h3>石膏</h3>
<p>〔害〕本解實熱，祛暑氣，散邪熱，止渴除煩之要藥。極能寒胃。溫熱病多兼陽明，若頭痛，遍身骨痛而不渴，不引飲者，邪在太陽，未傳陽明，不當用。七八日來邪已結里，內有燥屎，往來寒熱，宜下之，勿用。暑氣兼濕作泄，脾胃弱者勿用。瘧邪不在陽明則不渴，亦不宜用。產後寒熱，由於血虛，或由惡露未盡；骨蒸勞熱，由於脾胃虛寒，陰精不足，而不由於外感者，並勿誤用。傷寒陰盛格陽，內寒外熱，便青舌黑，屬寒者，誤投之，不可救也。宜詳察之，黃色者令人淋。</p>
<p>〔利〕寒能清熱降火，辛能發汗解肌，甘能緩脾生津止渴。清肺胃之熱，故又為斑疹之要品。煨石膏。經火則寒性減，而不甚傷胃。</p>
<p>〔修治〕有軟硬二種，軟石膏大塊生於石中，作層如壓扁米糕形，每層厚數寸，有紅白二色，紅者不可服，瑩白者良。研細甘草水飛淨。因其寒胃，用火煅，則不甚傷胃，但用之甚少，則難見功，冰糖拌過，則不妨脾胃矣。</p>

<h3>黃芩</h3>
<p>（見脾部）</p>

<h3>竹瀝</h3>
<p>〔害〕寒，滑腸，有寒痰、濕痰及飲食生痰者，勿用。</p>
<p>〔利〕甘辛淡寒，若熱痰在皮裡膜外者，直達以宣通，痰在經絡四肢者，屈曲而搜剔，開失音不語，舒肢體攣蜷、風痱等證</p>
<p>〔修治〕伐取淡竹，俗謂之光竹，須生長甫及一年者嫩而有力，多汁而甘，去枝葉，截去節，對劈開，架磚上，中間火炙，兩頭用磁盆承取。</p>

<h3>馬兜鈴</h3>
<p>〔害〕肺虛挾寒者，畏之如螫。凡咳嗽由於肺家虛寒，或寒痰作喘者，勿服。湯劑中用之，多作吐，故能吐蠱毒。</p>
<p>〔利〕苦寒，清肺滌痰，平喘定咳。土青木香。辛苦冷，治鬼疰積聚，塗諸毒，熱毒熱腫，不可多服，吐利不止。</p>
<p>〔修治〕七八月採，如大棗狀，實如鈴。去葉及蔓，以生絹袋盛，於東屋角畔，待乾，劈開去草膜，取淨子焙用，採根曝乾用。</p>

<h3>山慈菇</h3>
<p>〔害〕寒涼之品，不得過服。</p>
<p>〔利〕甘辛寒，入肺、胃二經。瀉熱。癰疽疔毒酒煎服。瘰癧瘡痍醋拌塗，治毒蛇狂犬之傷，敷粉滓斑點之面。</p>
<p>〔修治〕四月初苗枯即掘取，葉如蒜，根如慈菇及小蒜，遲則苗腐難尋，去毛殼，今人俱稱毛茹菇。</p>

<h2>〔涼肺次將〕</h2>

<h3>西洋參</h3>
<p>（見前補陣）</p>

<h3>元參</h3>
<p>〔害〕苦寒性滑，血少目昏，停飲寒熱支滿，血虛腹疼，脾虛泄瀉者，並不宜服。</p>
<p>〔利〕苦鹹寒，壯腎水以制心火，清肺金，善瀉無根浮游之火，兼能明目滋陰，色黑味鹹，腎家要藥。</p>
<p>〔修治〕三八月採根曝乾，或蒸過曬乾用。勿犯銅器，餌之噎人喉，喪人目。</p>

<h3>山梔</h3>
<p>（見心部）</p>

<h3>天花粉</h3>
<p>〔害〕純陰之品，脾胃虛寒者，忌之。</p>
<p>〔利〕苦寒，入心、肺、脾、胃四經。清痰解熱能使血不為瘀。</p>
<p>〔修治〕秋冬採根，去皮、寸切、水浸。逐日換水，四五日取出搗泥，以絹衣濾汁，澄粉曬乾用。今惟去皮切片曝乾用。</p>

<h3>天門冬</h3>
<p>〔害〕大寒而苦，不利脾胃，虛而泄瀉惡食者，大非所宜。陰虛精竭之病，全賴脾胃氣強，能納能消，以滋精氣。若脾胃先困，後天源絕，丸餌雖佳。總仗於食，湯液雖妙，終屬於飲。又以苦寒損其胃氣，致泄瀉惡食，則危殆矣。若脾胃虛寒人，單餌既久，必病腸滑，反成痼疾。以此物性寒而潤，能利大腸故也。</p>
<p>〔利〕甘寒，保肺潤燥，補腎養陰，肺腎虛熱之要藥也。</p>
<p>〔修治〕二三七八月採根，蒸剝去皮，四破去心，必須曝於日中，或火烘乾用。</p>

<h3>地骨皮</h3>
<p>〔害〕中寒者勿用。</p>
<p>〔利〕甘淡而寒，涼血清三焦，降肺中伏火，除肝腎虛熱，治在表無定之風邪，主傳屍有汗之骨蒸。去風邪者，肝有熱則風自內生，熱退則風息，與外感之風不同。能退內潮，人所知也。能退外潮，人實不知。病感風寒，散而未盡，作潮往來，非柴葛所能治，惟用地骨皮走表又走里之藥，消其浮游之邪，服之未有不愈者。故以青蒿佐之。地骨皮退熱，屢有奇功，盡扶精氣充足，而邪火自退。何得以芩、連、知、柏之苦寒，而傷元氣哉。鮮地骨皮汁。治吐血尿血。</p>
<p>天精草。苦甘涼，清上焦心肺客邪，代茶止消渴。</p>
<p>〔修治〕冬採根，春夏採葉莖實，凡使根，掘得，以東流水浸刷去土，捶去心，以熟甘草湯浸一宿，焙乾用。</p>

<h3>知母</h3>
<p>（見脾部）</p>

<h3>麥冬</h3>
<p>（見心部）</p>

<h3>薄荷</h3>
<p>〔害〕辛香伐氣，多服損肺傷心，虛者遠之。凡病新瘥勿服，以表氣虛也，令人虛汗不止。，咳嗽由肺虛寒客而無熱症者勿服。陰虛人發熱勿服，恐出汗則易竭其津液也。及血虛頭疼，小兒身熱，由於傷食疳積者禁用。每見小兒多食薄荷糕者，汗多體弱，瘦弱人久食之動消渴病。</p>
<p>〔利〕辛溫（一作涼），入肺肝，芳香開氣，發汗解表，能下氣，故消食，治貓咬與蛇傷，傷寒舌苔，和蜜擦之。</p>
<p>〔修治〕處處有之，蘇產為勝，夏秋採莖葉曝乾。</p>

<h3>海浮石</h3>
<p>〔害〕大寒潤下。咳逆由於虛氣上衝者勿用。痰飲由於脾胃元虛者忌之。多服損人血氣。</p>
<p>〔利〕鹹寒，入肺。清金降火，能潤下，止濁淋，化積塊止痰，消癭瘤結核。</p>
<p>〔修治〕浮石，乃水沫結成，色白體輕，海中者味鹹，入藥為良。</p>

<h2>〔溫肺猛將〕</h2>

<h3>麻黃</h3>
<p>（見前）</p>

<h3>天南星</h3>
<p>（見前）</p>

<h3>五味子</h3>
<p>（見心部）</p>

<h2>〔溫肺次將〕</h2>

<h3>蘇梗</h3>
<p>（見前）</p>

<h3>款冬花</h3>
<p>〔害〕古今方用為治嗽要藥。以其辛溫散而能降，於肺無忤，無分寒熱虛實，皆可酌而施用。</p>
<p>〔利〕辛溫，化痰而咳喘何憂，清肺則癰痿有賴。</p>
<p>〔修治〕十一月採花蕊，未舒者佳，陰乾，或蜜水炒用。</p>

<h3>製半夏</h3>
<p>〔害〕其性燥而辛溫有毒。雖能祛濕分水實脾，及開寒濕氣鬱結痰，而其所忌者，惟陰虛血少，津液不足諸病，故古人有立禁者，謂血家渴家汗家是也。故凡一切吐血、衄血、齒衄、舌上出血、金瘡，產後失血過多，尿血、便血、腎水真陰不足發渴，陽虛自汗，陰虛盜汗，內熱煩燥出汗諸症，皆當禁者也，三禁之外，應忌者尚多。茲更詳列於後：凡咳嗽由於陰虛，而不由於濕痰寒飲；嘔吐由於火動胃熱，而不由於寒濕痰壅；飲食不化，由於脾陰不足，不由於脾濕少運；嘔噦眩悸，由於胃弱，不由於寒濕痰飲；霍亂腹脹，由於邪熱客中焦，不由於寒濕食滯；咽痛由於陰虛火炎，不由於傷寒；少陰病邪熱不解氣喘，由於氣虛，不由於風寒所郁；頭痛由於血虛，不由於痰厥；不寐由於心經血少，不由於病後膽虛；如上諸症，法所同禁。其誤最易而難明者，醫以其能去痰也，故凡見咳嗽，莫不先投。殊不知咳嗽吐痰，寒熱骨蒸，皆陰虛肺熱，津液不足之候，誤服則損其津液，而肺家愈燥，陰氣愈虛，濃痰愈結，必致聲嗄而死。若合參朮，禍不旋踵，蓋以其本為脾胃藥，而非肺腎藥也。寒濕痰飲作咳，屬胃者固宜，然亦百之一二。其陰虛火熾，煎熬真陰，津液化為結痰，以致喉癢發咳者，往往由之。故凡痰中帶血，口渴咽乾，陰虛咳嗽者，大忌。服之又有似中風痰壅失音偏枯拘攣及二便閉澀，血虛腹痛，於法並忌。犯之過多，則非藥可救。孕婦服之，能損胎，若與參朮並行，但有開胃之功，亦不損胎。</p>
<p>〔利〕辛溫，化痰，入肺、脾、胃。消痰燥濕，開胃健脾，宣通陰陽，和胃安臥，能墜胎。宋製半夏，性和而力亦遜。</p>
<p>戈製半夏，內有參附，治真中風，寒濕痰飲，立見奇功。近有仙露半夏。得七七仙露之氣，用之甚可通和陰陽，若陰虛火熾，切勿妄投。生薑半夏曲，治淺近諸痰。</p>
<p>〔修治〕八月採根，曝乾，浸七日，逐日換水，瀝去涎切片，薑汁拌炒，以黃牛肉汁煉膏，即霞天膏，和半夏末為曲，名霞天曲。治沉疴痼疾。造麴法，草菴七日，待生黃衣，懸掛風處，愈久愈佳。</p>

<h3>生薑</h3>
<p>〔害〕見脾部溫陣，乾薑條下。</p>
<p>〔利〕辛溫，入肺胃，發表發汗，開胃止嘔，破血滯痰凝，平氣脹腹痛。</p>
<p>中風，中氣，中暑，中毒，中惡，霍亂，一切猝暴之症，用薑汁和童便服。</p>
<p>薑汁能開痰，童便能引火下行。</p>
<p>姜皮　辛涼，和脾行水，腫家必用。</p>
<p>〔修治〕九月採，曝乾，白淨結實者良。去皮則熱，留皮則冷。古方以薑茶飲治痢，熱痢留皮，冷痢去皮，或用蜜炙。</p>

<h3>煙</h3>
<p>〔害〕火氣薰灼，最爍肺陰，耗血損年，衛生者宜遠之。今人患喉風咽痛，嗽血失音之症甚多，未必不由嗜煙所致。</p>
<p>〔利〕辛溫，入肺，行氣辟邪，治風寒濕痹，滯氣停痰，山嵐瘴霧，為宣散之品，煙管中水能解毒。</p>
<p>煙油殺蟲最捷，諸蟲咬傷塗之病失。</p>
<p>〔修治〕六月採為伏片，七月採者，則滋膏足而辛甚。南人用油窨鑤為絲燒吸，北人惟將煙片搓碎，納煙筒中燒吸其氣。</p>

<h1>腎部藥隊</h1>

<h2>〔補腎猛將〕</h2>

<h3>大熟地</h3>
<p>〔害〕按熟地乃陰滯不行之藥，大為脾胃之病所不宜。凡胸膈多痰，氣道不利，升降窒塞，藥宜通而不宜滯，湯液中應避地黃，故用宜斟酌。胃虛氣弱之人，過服歸地，必致痞悶食減，病安能愈。</p>
<p>〔利〕甘微溫，補脾、肝、腎，養血滋陰，為壯水之主藥。</p>
<p>〔修治〕二八月採根，揀取肥地黃沉水者數十斤，洗去沙土，略曬乾，別以揀下瘦小者數十斤，搗絞取汁，投石器中，浸漉令浹入柳木甑，放瓦鍋上，蒸一日，曬幾日，令極干，又曬又蒸，如是九次，鍋內倘有淋下地黃余汁，亦必拌曬，使汁盡而干。其地黃光黑如漆，味甘如飴，須瓷器收之，以其脂柔喜潤也。蓋熟地性泥，得之香竄砂仁，合和五臟沖和之氣，歸宿丹田，故用好酒入砂仁末在內，拌蒸晾九蒸九晾乃止，入藥為良。今肆中多用水煎，必得酒炒，砂仁末拌搗用。</p>

<h3>枸杞子</h3>
<p>（見肝部補陣）</p>

<h3>淫羊藿</h3>
<p>〔害〕虛陽易舉，夢遺不止，溺赤口乾者並忌。若誤服之，則病強中淋濁之患。</p>
<p>〔利〕辛溫，入腎。補大腸、三焦，強筋骨，起陽事衰，利小便，除莖中痛。</p>
<p>〔修治〕五月採葉莖曬乾，根亦可用，每一斤用羊脂四兩拌抄，待盡為度。別名仙靈脾，千兩金，棄杖草，皆矜其功力也。</p>

<h3>北五味</h3>
<p>（見心部補陣）</p>

<h2>〔補腎次將〕</h2>

<h3>乾地黃</h3>
<p>〔害〕性寒而潤，陰虛咳嗽，內熱骨蒸，或吐血等候，一見脾虛泄瀉，胃虛食少，或天明腎泄，產後泄瀉，產後不實，俱禁用。凡產後惡食作瀉，惡露作痛，雖見發熱不可用，誤用則瀉不止。凡見此症，宜多加炮薑、桂心、人參，必自愈。忌鐵銅器、蔥、蒜、蘿蔔、諸血，令人腎消，榮衛澀，發須白。</p>
<p>〔利〕甘寒，入心、肝、腎、小腸，去瘀生新，補陰涼血，養陰退陽。</p>
<p>〔修治〕二八月採根曝乾，以懷慶肥大而短，糯體細皮，菊花心者佳。大生地，亦稱原生地，小生地力薄於大生地。</p>
<p>薑汁浸，則不泥膈；酒製，則不妨脾。</p>

<h3>巴戟天</h3>
<p>〔害〕與淫羊藿同。凡病相火熾盛，思欲不得，溺赤口苦，目昏目痛，煩躁口渴，大便燥閉，法咸忌之。</p>
<p>〔利〕甘溫，入腎。安五臟以益精，強筋骨而起陰。</p>
<p>〔修治〕二八月採根，打去心陰乾，以連珠多肉厚者為勝。用酒浸一宿，銼焙入藥。</p>

<h3>何首烏</h3>
<p>（見肝部補陣）</p>

<h3>杜仲</h3>
<p>〔害〕腎雖虛，而火熾者不用。</p>
<p>〔利〕甘辛溫，入肝腎。強筋壯骨，益腎添精，治腰膝疼痛，利遍體機關，亦治陰下濕癢，小便淋瀝。</p>
<p>〔修治〕二、五、六、九月採皮，凡使削去粗皮銼，或酥炙、酒炙、蜜炙、鹽酒炒、薑汁炒、斷絲用。產湖廣，湖南者佳。色黃，皮薄，肉厚，如色黑、皮厚、肉薄，不堪用。</p>

<h3>龜板</h3>
<p>〔害〕新刮之甲有毒，不宜頻使，妊婦不宜用。病人虛而無熱者，不宜用。凡入丸散，須研極細，不爾留滯腸胃，能變癥瘕。</p>
<p>〔利〕鹹寒至陰，屬金與水，補心增智慧，益腎陰，治陰虛血弱，勞熱骨蒸等症。又能固大腸，止瀉利。龜膠補陰之力更勝。</p>
<p>龜鹿皆長年，龜首藏向腹能通任脈，取下甲以補腎，補血，皆陰也。鹿鼻反向尾，能通督脈，取上角以補火，補氣，皆陽也。</p>
<p>〔修治〕採無時，以自敗大者力勝，得陰氣更全也。酥炙，或酒炙，醋炙，豬脂炙，煅灰用。龜板洗淨，捶碎水浸三日，用桑柴火熬成膠名龜膠，合鹿角膠，一陰一陽，名龜鹿二仙膠。治真元虧損，精氣枯竭，瘦弱少氣，目視不明，夢遺泄精，腰腿無力。此能大補精髓，益氣養神。</p>
<p>龜尿走竅，透骨染鬚髮，治啞聲。取龜尿法，以鏡照之，龜見其影，則淫發而尿出，今人或以豬棕、松毛刺其鼻，溺亦出。</p>

<h3>女貞子</h3>
<p>〔害〕純陰至靜之品，若虛寒人服之，則腹痛作瀉。</p>
<p>〔利〕苦甘涼，益肝腎，補中，黑鬚發，明目，養精神。</p>
<p>〔修治〕立冬後採取，陰乾，去梗葉，酒浸一日夜，袋擦去皮，蒸透曬乾用。</p>

<h3>黑大豆</h3>
<p>〔害〕小兒以豆與豬肉同食，必壅氣致死，十有八九。如十歲以上，則無害也。服萆麻子者，終身忌炒豆，犯之脹滿致死。服厚朴者亦忌之，最能動氣故也。</p>
<p>〔利〕甘平，補心腎而明目，活血散風，除熱解毒，能消水腫，可稀痘瘡。黑豆之小者，曰馬料豆，鹽水煮食，尤能補腎。料豆之皮，曰穭豆衣，補腎涼血止汗，亦稱黑豆衣。</p>
<p>〔修治〕九月採取大豆莢，用生豆。炒食極熱，煮食甚寒，作豉極冷，造醬及生黃卷則平，牛食之則溫，馬食之冷，一體之中，用之數變。</p>

<h3>胖海參</h3>
<p>〔害〕海味鹹溫，血病多熱者勿用。</p>
<p>〔修治〕遼海產者良，膠州所出，生北海鹹水中，色又黑，以滋腎水，從其類也。有刺者名刺參，無刺者名光參。以水瀹胖，剖開去肚中雜泥沙用。</p>

<h2>〔瀉腎猛將〕</h2>

<h3>豬苓</h3>
<p>〔害〕淡滲利濕，引水有功，多用能亡津液，久服必損腎氣，昏人眼目，無濕證者勿服。</p>
<p>〔利〕甘淡平，入腎、膀胱二經。分消水腫，淡滲濕痰，利水諸藥，無如此快。</p>
<p>〔修治〕是楓樹下苓，其皮黑色，肉白而實者佳。二八月採陰乾，銅刀削去粗皮，薄切。</p>

<h2>〔瀉腎次將〕</h2>

<h3>澤瀉</h3>
<p>〔害〕扁鵲云：多服令人眼昏，凡病人無濕無飲，而陰虛及腎氣乏絕，陽衰精自流，腎氣不固，精滑目痛，虛寒作泄等症，法咸禁用。以其淡滲利水，久服則降令太過，清氣不升，真陰潛耗，安得不病目耶？</p>
<p>〔利〕甘鹹微寒，通腎膀胱水道，善去胞胎，能止泄精。</p>
<p>〔修治〕八月採根，不計多少，細銼酒浸一宿，取出曝乾，任用。</p>

<h3>知母</h3>
<p>（見脾部）</p>

<h3>赤茯苓</h3>
<p>〔害〕見心部補陣茯神條下。</p>
<p>〔利〕甘淡平，瀉腎小腸膀胱濕熱，功同茯苓而稍遜，利水偏長。</p>
<p>〔修治〕大山山谷大松下附根而生，二八月採，掘取陰乾。凡用皮去心，搗細，於水盆中攪濁，浮者濾去之，此是茯苓赤筋，若誤服餌，令人瞳子並黑睛點小，兼盲目。</p>

<h3>生米仁</h3>
<p>（見脾部）</p>

<h2>〔涼腎猛將〕</h2>

<h3>朴硝、芒硝</h3>
<p>〔害〕生於鹵地，刮取煎煉，在底者為朴硝，在上為芒硝，有牙者為馬牙硝。置風日中，消盡水氣，清白如粉，為風化硝。若經甘草水煅過，即元明粉。究其功用，無堅不磨，無結不散，無熱不蕩，無積不推，可謂直往無前，無留礙之性也。非邪結下焦，堅實不可按者不用，恐誤伐下焦真陰故也。病不由於邪熱深固，閉結難通，斷勿輕投。至於血涸津液枯竭，以致大腸燥結，陰虛精乏以致大熱，骨蒸火炎於上，以致頭痛、目昏、口渴、耳聾、咽痛、吐血、衄血、虛極類實等症，切戒勿施，庶免虛虛之咎。</p>
<p>〔利〕鹹辛微寒，瀉腎火，治陽強，能蕩三焦腸胃實熱，大瀉下泄，與大黃功同。破血攻痰，軟堅消食，又能通經墮胎。</p>
<p>〔修治〕採無時，青白者佳，黃者損人，赤者殺人。元明粉功緩力少輕，明目清燥，推陳致新。朴硝，即皮硝。朴硝在下最粗而濁，芒硝在上質稍清，元明粉再經甘草水煎煉，尤為精粹。</p>

<h3>苦參</h3>
<p>〔害〕雖能泄腎中之熱，除濕熱生蟲為厲，然氣味苦寒，能損腎氣，肝腎虛而無熱者勿服。火衰精冷，真元不足，及年高之人，皆不宜服。</p>
<p>沈括《夢溪筆談》云：久用苦參擦牙，遂病腰痛，由其氣傷腎故也。</p>
<p>〔利〕苦寒，入腎。除熱祛濕，治癰腫瘡瘍，腸澼下血，兼能利水，固齒明目，祛風殺蟲。苦參子，一名鴉膽子。治腸風下血，能清肝明目，功同槐實。</p>
<p>〔修治〕八月採子，十月採根，曝乾，糯米濃泔一宿，其腥穢氣並浮在水面上，須重重淘過，即蒸三時，取曬切用。</p>

<h2>〔涼腎次將〕</h2>

<h3>鮮生地</h3>
<p>〔害〕大寒涼潤，必燥結有實火者，方可用。否則恐寒中，餘同乾地黃。</p>
<p>〔利〕苦寒微甘，大瀉心腎實火，平血逆，除大熱。</p>
<p>〔修治〕掘取鮮根洗淨，竹刀切片，或搗汁用。</p>

<h3>牡丹皮</h3>
<p>〔害〕氣香而濁，極易作嘔，胃弱服之即吐，涼血通瘀，故胃氣虛寒，婦人血崩，經行過期不淨，並妊娠者並忌之。若無瘀而血熱妄行，及血虛而無外感者，皆不可用。</p>
<p>〔利〕苦辛微寒，入手足少陰厥陰血分，涼血去瘀生新，瀉血中伏火，退無汗骨蒸。治相火之功，勝於黃柏。紅花者利，白花者補，宜分別之。</p>
<p>〔修治〕牡丹惟取白紅單瓣者入藥。二八月採根陰乾，以銅刀劈破去骨，肉厚者佳。銼如大豆許，用酒細拌蒸乾用，或切片酒炒用。</p>

<h3>知母</h3>
<p>（見脾部）</p>

<h3>滑石</h3>
<p>〔害〕性沉重降，能泄上氣令下行，本利竅清暑之藥。若病人脾虛下陷，及陰精不足內熱，以致小水短少赤澀或不利，煩渴身熱，由於陰虛火熾水涸者，皆禁用。脾腎俱虛者，雖作泄勿服。傷寒病當發表者，尤忌。表有邪，得此滲泄重降之品，必愈陷入里，而成敗症矣。</p>
<p>〔利〕甘淡寒，入肺、脾、腎、膀胱四經。利小便，行積滯，宣九竅之閉，通六腑之結。滑石利竅，非獨小便也。上能利毛竅，下能利精竅，為蕩熱燥濕之劑，故清暑需之。</p>
<p>〔修治〕採無時。凡用滑石，白而潤者良。先以刀刮淨研粉，以丹皮同煮一伏時，去牡丹皮，取滑石，以東流水淘過，曬乾用。惟青黑綠色有毒，不入藥，用能殺人。</p>

<h2>〔溫腎猛將〕</h2>

<h3>破故紙</h3>
<p><u>一名補骨脂</u></p>
<p>〔害〕此性燥助火，凡病陰虛火動，陽道妄舉，夢遺尿血，小便短澀，及目赤口苦舌乾，大便燥結，內熱作渴，火升嘈雜，濕熱成痿，以致骨乏無力者，皆忌服。能墮胎。孕婦忌。</p>
<p>〔利〕辛溫，入腎大腸。興陽事，止腎泄，固精氣，止腰疼。暖則水臟固，壯火益水之要藥也。</p>
<p>〔修治〕出南番者色赤，嶺南者色黑。九月採，以酒浸一宿濾出。以東流水浸三日夜，蒸之三時，乾用。一法以鹽同炒過，曝乾用。又有童便人乳浸，或胡桃肉拌用等法。</p>

<h3>鹿茸</h3>
<p>〔害〕升陽性熱，陰虛而陽浮越者，目擊誤用而血脫於上以隕者多人矣。而不可嗅之，有蟲恐入鼻顙傷腦。腎虛有火者，不宜用，以其偏於補陽也。上焦有痰熱，胃家有火者亦勿用，凡吐血下血，俱陰虛火熾者，概不可服。</p>
<p>〔利〕甘鹹溫，入腎。健骨生齒，強志益氣，治肢體痠疼，腰脊軟痛，虛勞仙劑，崩漏神丹。</p>
<p>〔修治〕鹿角初生長二三寸，分岐如鞍，紅如瑪瑙，破之如朽木者良。太嫩者血氣未足無力。獵人得鹿，縶之取茸，然後斃鹿，以血未散也。最難得不破未出血者。四月五月解角時，取陰乾，酥塗灼去毛微炙，不塗酥則傷茸，亦有酒炙者。</p>

<h3>鹿角</h3>
<p>〔害〕同鹿茸</p>
<p>〔利〕鹹溫，補腎生精髓，強筋骨，壯腰膝，止崩中與衄血，除腹痛而安胎。</p>
<p>生角散熱行血，消腫毒，逐惡血。</p>
<p>熬膏煉霜，則專於滋補。</p>
<p>肉甘溫，補中強五臟，通脈益氣力。</p>
<p>鹿腎氣有餘，足於精者也。</p>
<p>茸較佳於角，肉有益於脾。</p>
<p>〔修治〕七月採角，以鹿年久者，其角更好，煮以為膠，入藥彌佳。造膠霜法：取新角寸截，河水浸七日刮淨，桑火煮七日，入醋少許，取角搗成霜用，其汁加無灰酒熬成膠用。</p>

<h3>麋茸麋角</h3>
<p>功用與鹿相仿，而溫性差減。鹿補右腎，精氣不足者宜之。麋補左腎，血液不足者宜之。</p>
<p>〔修治〕鹿角堅而麋角大，鹿角單而麋角雙。凡用麋角，可五寸截之。中破、炭火燒過，搗末，水和成團，以絹袋三五重盛之，再煅再和，如此五度，以牛乳和，再燒過研用。</p>

<h2>〔溫腎次將〕</h2>

<h3>山茱萸</h3>
<p>（見肝部）</p>

<h3>菟絲子</h3>
<p>（同上）</p>

<h3>大茴香</h3>
<p>（同上）</p>

<h3>艾葉</h3>
<p>（同上）</p>

<h1>胃部藥隊</h1>

<h2>〔補胃猛將〕</h2>

<h3>白朮</h3>
<p>（見脾部）</p>

<h3>綿耆</h3>
<p>（見肺部）</p>

<h3>大棗</h3>
<p>（見脾部）</p>

<h2>〔補胃次將〕</h2>

<h3>白扁豆</h3>
<p>（見脾部）</p>

<h3>懷山藥</h3>
<p>（同上）</p>

<h3>炙甘草</h3>
<p>（同上）</p>

<h3>龍眼肉</h3>
<p>（同上）</p>

<h3>紅棗</h3>
<p>（見脾部）</p>

<h2>〔瀉胃猛將〕</h2>

<h3>石菖蒲</h3>
<p>（見心部）</p>

<h3>枳實</h3>
<p>（見脾部）</p>

<h3>雷丸</h3>
<p>〔害〕赤色者能殺人，細揀去用。殺蟲之外，無他長，能令人陰痿。</p>
<p>〔利〕苦寒，入胃、大腸二經。殺臟腑諸蟲，除嬰兒百病，有蟲者宜之。</p>
<p>〔修治〕竹之餘氣，得霹靂而生，故名之。大小如慄，竹刀刮去黑皮，甘草水浸一宿，酒拌蒸或炮。</p>

<h3>白芥子</h3>
<p>（見肺部）</p>

<h3>萊菔子</h3>
<p>（見脾部）</p>

<h3>六神麯</h3>
<p>（同上）</p>

<h2>〔瀉胃次將〕</h2>

<h3>蘇梗</h3>
<p>（見肺部）</p>

<h3>枳殼</h3>
<p>（見脾部）</p>

<h3>蔓荊子</h3>
<p>〔害〕頭痛目痛，不因風邪，而於血虛有火者忌之。胃虛人不可服，恐生痰疾。</p>
<p>〔利〕苦辛平，入胃、肝、膽、膀胱四經。搜頭風，除濕痹。</p>
<p>〔修治〕六、七、八月採子，去蒂子下白膜一重，用酒浸一伏時，蒸之三時，熬乾用，尋常只去膜，打碎用之。</p>

<h3>麥芽</h3>
<p>（見脾部）</p>

<h2>〔涼胃猛將〕</h2>

<h3>石膏</h3>
<p>（見肺部）</p>

<h3>犀角</h3>
<p>（見心部）</p>

<h2>〔涼胃次將〕</h2>

<h3>天花粉</h3>
<p>（見肺部）</p>

<h3>葛根</h3>
<p>〔害〕傷寒頭痛，兼項強腰脊痛，及遍身骨疼者，是太陽病也。邪未入陽明，故無渴症，不宜服。誤服則邪氣反引入陽明，為引盜入門也。斑疹已見紅點，不宜用，恐表虛反增斑爛也。五勞七傷，上盛下虛之人，暑月雖有脾胃病，亦不宜服，當用亦宜少用，多則反傷胃氣，以其升散太過也。夏月表虛汗多尤忌。</p>
<p>葛根風藥也。風藥皆燥，本經言其生津止渴，生乃升字筆誤，非葛根獨能止渴，以其升胃氣入肺，能生津爾。設非清陽下陷，而火炎津耗之渴，誤服此藥，則火借風威，燎原莫遏。即非陰虛火炎之證，凡胃津不足而渴者，亦當忌之。</p>
<p>張司農《治暑全書》序云：柴胡劫肝陰，葛根竭胃汁。二語可謂開千古之群蒙也。故凡汗多勿用，前人已論及之。無汗亦勿用。</p>
<p>愚謂陽明胃經多血之所，火病燥熱，無汗煩渴，胃液已傷，汗乃血液所化，奪汗則無血之戒，用者審之。</p>
<p>〔利〕甘辛平，入胃、大腸二經。輕宣解肌，發汗升陽，生用能墮胎，蒸熟散鬱火，化酒毒，止血痢。能舞胃氣上行，治虛瀉之聖藥。</p>
<p>鮮葛根汁大寒，治溫病火熱，吐衄諸血。</p>
<p>葛花，解酒毒尤良，酒毒濕甚而為毒也。</p>
<p>葛殼（即子也）甘平。治下痢，解酒毒。葉，止金瘡血出。蔓，消癰腫喉痹。</p>
<p>〔修治〕五月採根曝乾。生用或蒸熱用，以入土深者為佳。今人多作粉食。七月採花曬乾，八、九月採子曝乾，冬月掘取生根，搗爛入水中，揉出澄粉，名玉露霜。</p>

<h3>香薷</h3>
<p>〔害〕辛散，乃夏月解表之藥。表無所感，而中熱為病，何假於此。誤則損人表氣，故無表邪者戒之。其性溫熱，暑寒宜用，若暑熱宜清涼，誤服之，反成大害。有處高堂大廈，納涼太過，飲冷太過，陽氣為陰邪所遏，反中入內，遂病頭痛惡寒，煩燥口渴，吐瀉霍亂宜用之。以發越陽氣，散邪和脾則愈。若飲食不節，勞役斫喪之人，傷暑汗出如雨，煩躁喘促，或瀉或吐者，乃內傷之症，宜從東垣清暑益氣湯。不吐瀉者，宜人參白虎，桂苓甘露飲之類，以瀉火益元。若用香薷，是重虛其表，而益其熱矣。</p>
<p>〔利〕辛微溫，入肺、胃二經。理暑氣、霍亂、腹痛。乘涼飲冷，陽氣為陰邪所遏雲云，則愈。若勞役受暑用之，則大誤矣。</p>
<p>〔修治〕八、九月開花著穗時採得。去根留葉，銼，曝乾，勿令犯火，陳久者佳。宜待冷服，如熱服作瀉。經所謂治溫以清涼而行之也。</p>

<h3>石斛</h3>
<p>〔害〕長於清胃除熱，惟胃腎有虛熱者宜之。虛而無火者，不得混用。長、虛、味大苦者，名木斛，服之損胃。</p>
<p>〔利〕甘淡微寒，清胃除虛熱，補腎澀元氣，療腳膝。川石斛，少遜鮮石斛，性加寒，尤退虛熱，虛證宜干，實證宜鮮。</p>
<p>〔修治〕蜀中者為勝。七、八月採莖陰乾，以桑皮沃之。色金、形如蚱蜢髀者佳。金石斛，凡使去根頭用，酒浸一宿曝乾，以酥拌蒸之五時，徐徐焙乾用，入補藥乃效。或熬膏用。</p>

<h3>川萆薢</h3>
<p>〔害〕若下部無濕，陰虛火熾，以致溺有餘瀝，莖中痛，乃真陰不足之候也，無濕腎虛腰痛，並不宜服，以腎惡燥故也。</p>
<p>〔利〕甘平，入胃、肝、膀胱三經。主風寒濕痹，既可除膀胱宿水，又能止失溺便頻。祛風濕，補下元。小便頻，莖內痛，必火府熱閉，只就小腸，火府愈加燥竭，因強忍房事，有瘀腐壅於小腸，故痛，此與淋症不同，宜鹽水炒萆薢一兩煎服，以蔥湯頻洗穀道，即愈。腎受土邪，則水衰，肝挾相火，來復母仇，得萆薢滲濕，則土安其位，水不受侮矣。撥葜，土茯苓，形雖不同，而主治之功不相遠矣。除濕祛風，分清去濁，化毒除惡瘡，又能補下焦，忌茗醋。</p>
<p>〔修治〕二、八月採根，利刀切片，曝乾用。</p>

<h3>知母</h3>
<p>（見脾部）</p>

<h3>蘆根</h3>
<p>〔害〕性味寒涼，因寒霍亂作脹，因寒反胃嘔吐，勿服。</p>
<p>〔利〕甘寒，清煩熱，亮喉嚨，治煩渴嘔逆，噎膈反胃。利小腸筍性更佳，解河豚毒。</p>
<p>〔修治〕二、八月掘取肥厚根，曬乾，去須節並赤黃皮，用逆水中鮮者力遜，或搗汁取用。</p>

<h3>竹葉</h3>
<p>（見心部）</p>

<h2>〔溫胃猛將〕</h2>

<h3>高良薑</h3>
<p>〔害〕如胃火作嘔，傷暑霍亂，火熱注瀉，心虛作痛，咸忌之。以其辛熱性燥，故虛寒人須與參朮同行，若單用多用，犯沖和之氣也。</p>
<p>〔利〕辛溫熱，入脾、胃、肝三經。溫胃去噎膈，療心腹之疼痛，下氣除邪，攻嵐瘴之瘧疾。治心脾疼，多用良薑，寒者用之二錢，熱者用四五分。於清火劑中，取其辛溫下氣，止痛有神耳。</p>
<p>〔修治〕出嶺南高州，二、三月採根，炒過入藥，亦有同吳茱萸、東壁土拌炒過用者。紅豆蔻溫肺散寒，醒脾燥濕，消食解酒。禁忌制用同上。</p>

<h3>乾薑</h3>
<p>（見脾部）</p>

<h3>益智仁</h3>
<p>（同上）</p>

<h3>肉豆蔻</h3>
<p>（同上）</p>

<h3>草果</h3>
<p>（同上）</p>

<h3>丁香</h3>
<p>〔害〕辛熱而燥，一切有火熱症者忌之。非屬虛寒，概勿施用。</p>
<p>〔利〕辛溫，入肺、胃、腎三經。溫脾胃而止嘔呃，理壅滯而消脹滿，除䘌齒疳，發灰白痘。</p>
<p>〔修治〕八月採子曝乾，方中多用雌者，為母丁香，即雞舌香。若用雄者，顆小為丁香，須出去丁，蓋乳子發人背癰也。不可見火。</p>

<h3>木香</h3>
<p>（見肝部）</p>

<h3>胡椒</h3>
<p>（見肝部）</p>

<h3>辛夷</h3>
<p>〔害〕辛香走竄之性，氣虛人偶感風寒而鼻塞者，禁之。頭腦痛，屬血虛火熾，及齒痛屬胃火者，服之轉甚。毛射入肺中，令人咳。</p>
<p>〔利〕入肺胃二經。宣散上焦風熱，辛溫開竅，鼻塞與昏冒咸宜。清陽解肌，壯熱與憎寒並選。味薄而散，能助胃中清氣，上達高巔頭面九竅，皆歸治平也。</p>
<p>〔修治〕九月採實，曝，去心及外皮毛，入藥微焙。</p>

<h2>〔溫胃次將〕</h2>

<h3>藿香</h3>
<p>（見脾部）</p>

<h3>砂仁</h3>
<p>（同上）</p>

<h3>白叩仁</h3>
<p>（同上）</p>

<h3>製半夏</h3>
<p>（見肺部）</p>

<h3>烏藥</h3>
<p>（見脾部）</p>

<h3>開口川椒</h3>
<p>（見脾部）</p>

<h3>煨姜</h3>
<p>（見脾部）</p>

<h3>厚朴</h3>
<p>（見脾部）</p>

<h1>膀胱部藥隊</h1>
<p>補膀胱猛次將，藥性略與補腎之藥性同，蓋腎氣化，則小便自行矣。</p>

<h2>〔瀉膀胱猛將〕</h2>

<h3>羌活、獨活</h3>
<p>〔害〕此風藥也。為祛風、散寒、除濕之要品。若血虛頭痛，遍身疼痛，骨痛，因而作寒熱者，俱屬內傷症，二活皆是風藥，能燥血，均忌。誤用必反劇。</p>
<p>〔利〕皆苦辛平，治風寒濕痹，筋骨攣腫，頭痛眩掉，頸項難伸。本入手足太陽表裡引經，又入足厥陰氣分，小無不入，大無不通，故既散肌表八風之邪，兼理周身百節之痛。中國者為獨活，色黃氣緩，可理伏風。西羌者為羌活，色紫氣雄，可理遊風，羌性猛，獨性緩。</p>
<p>獨活不搖風而治風，浮萍不沉水而利水，因其所勝而為制也。</p>
<p>〔修治〕二八月採根，曝乾去皮，或焙用。</p>

<h3>麻黃</h3>
<p>（見肺部）</p>

<h3>漢防己</h3>
<p>〔害〕下焦血分濕熱之要藥。然其性悍氣猛，走竄決防，苦傷胃。凡胃虛陰虛，自汗盜汗，口苦舌乾，腎虛小水不利，及胎前產後血虛，雖有下焦濕熱，慎勿用之。</p>
<p>東垣云：防己大苦大寒，瀉血中濕熱，亦瞑眩之藥也，服之使人心身煩亂，飲食減少。若虛人用防己，其害有三：穀食已虧，復泄大便，則重亡其血，此不可用，其害一也；如人大渴引飲，是熱在上焦肺經氣分，而防己乃下焦血分藥，此不可用之者，其害二也；外傷風寒邪傳肺經氣分而小便黃赤，乃至不通，此上焦氣病，禁用血藥，此不可用者，其害三也。大抵上焦濕熱者，皆不可用也。</p>
<p>〔利〕苦辛寒，入膀胱，亦通行十二經。祛下焦血分之濕熱，通二便，木防己用治風症。</p>
<p>〔修治〕二八月採陰乾，以車前草根相對蒸半日，曬乾用。今惟去皮銼，酒洗曬乾用。</p>

<h3>木通</h3>
<p>（見心部）</p>

<h3>葶藶</h3>
<p>（見肺部）</p>

<h3>豬苓</h3>
<p>（見腎部）</p>

<h2>〔瀉膀胱次將〕</h2>

<h3>獨活</h3>
<p>（見前）</p>

<h3>防風</h3>
<p>〔害〕升浮之性，易動肝木。若似中風，產後血暈痙急諸病，頭痛因於血虛不因於風寒，泄瀉不因於寒濕，及二便閉澀，小兒脾虛發搐，慢驚脾風，氣升作嘔，火升作嗽，陰虛盜汗，陽虛自汗等病，法所同忌。能瀉肺實，誤服瀉人上焦元氣。叉頭者，令人發狂，叉尾者，發人痼疾。</p>
<p>〔利〕甘辛溫，入肺膀胱二經。治大風惡風，風邪周痹，頭面浮風，眼赤，多淚，能防禦外風，故名。卑賤之職，隨所引而至，乃風藥中之潤劑也。</p>
<p>〔修治〕青州黃潤者良，軟蘆糯體。登州萊陽次之，關東者性硬，不佳。十二月採根，曝乾切用。</p>

<h3>蒲黃</h3>
<p>〔害〕性滑動血，一切勞傷發熱，陰虛內熱無瘀血者，禁用。瘀因寒滯者忌投，多食令人自利，極能虛人。</p>
<p>〔利〕甘平，生用行血，炒黑止血，入東方血海，兼入州都，故又能利小便。</p>
<p>〔修治〕凡使勿用松黃並黃蒿。真蒲黃鬚隔三重紙，焙令色黃，蒸半日，卻再焙乾用之妙。此即香蒲花中蕊屑，湯成入藥。生，滑破血，炒，澀止血。</p>

<h3>川楝子</h3>
<p>（見肝部）</p>

<h3>前胡</h3>
<p>（見肺部）</p>

<h3>藁本</h3>
<p>〔害〕氣雄上升，能耗血液。凡溫病頭痛，發熱口渴，或骨疼，及傷寒發於春夏，陽證頭疼，產後血虛火炎，皆不宜服。</p>
<p>〔利〕辛溫，理大腸、小腸、膀胱寒濕，治風家巔頂作痛，女人陰腫疝疼。</p>

<h3>澤瀉</h3>
<p>（見腎部）</p>

<h3>蔥白</h3>
<p>〔害〕發散之品，病人表虛易汗者，勿食。病已得汗，勿再進。多食蔥，令人神昏，損發須，虛氣上衝。同蜜食，下利，壅氣殺人，名甜砒霜。同棗食，令人病。正月食生蔥，令人面上起遊風。</p>
<p>〔利〕辛散輕平，入肺、胃、肝、膀胱。發汗解肌，通上下陽氣，氣通則血活，故治諸血。通氣則解毒，故殺諸毒。宣風濕，利耳鳴，通二便，宣解用白鬚，通竅用青蔥管。</p>
<p>〔修治〕大管冬蔥入藥為良，蔥白連須用，採無時。</p>

<h3>甘遂</h3>
<p>〔害〕其性陰毒。雖善下水除濕，然能耗損真陰，虧竭津液。元氣虛人，除傷寒水結胸不得不用外，其餘水腫鼓脹，小便頻多，脾陰不足，土虛不能制水，以致水氣氾濫者皆不宜用。河間云：諸濕腫滿，皆屬脾土，法應補脾實土，兼利小便，而反用甘遂下之，是重虛其本也。水既暫去，復腫，必死矣。必察病屬濕熱有飲有水，而元氣尚壯，乃可一施，不然多致不起，戒之須慎。</p>
<p>〔利〕苦甘寒，瀉腎、膀胱及隧道水濕，逐留飲水脹，攻痞結疝瘕。仲景治心下留飲，與甘草同行，取其相反以立功。凡水脹，以甘遂塗腹繞臍，內服甘草湯，其腫便消。二物相反，而感應如神。</p>
<p>〔修治〕二、八月採根陰乾，用東流水浸去黑水，麵裹煨熟用，以去其毒，入丸散，搗為末。</p>

<h2>〔涼膀胱猛將〕</h2>

<h3>龍膽草</h3>
<p>（見肝部）</p>

<h2>〔涼膀胱次將〕</h2>

<h3>車前子</h3>
<p>（見心部）</p>

<h3>綿茵陳</h3>
<p>〔害〕按茵陳雖為黃疸主藥，須分陰黃陽黃，陽黃宜茵陳，陰黃宜溫補。若用茵陳，多致不救，蓄血發黃，不可誤用。</p>
<p>〔利〕苦寒，入膀胱。除濕熱，利小腸。鈴子茵陳，山陰茵陳，力俱峻。〔修治〕五、七月採莖陰乾，去根細銼，勿令犯火。</p>

<h3>海金沙</h3>
<p>〔害〕淡滲無補，小便下利及諸淋，由於腎水虧真陰不足者，勿服。</p>
<p>〔利〕苦寒，入小腸膀胱。除濕熱，消腫滿，清血分，利水道。惟熱在太陽經血分者宜之。</p>
<p>〔修治〕七月收其全料，於日中曝小干，以紙襯承，以杖擊之，有細沙落紙上，且暴且擊，以盡為度。其沙及草，皆可入藥。</p>

<h3>黃柏</h3>
<p>（見脾部）</p>

<h2>〔溫膀胱猛將〕</h2>

<h3>淡吳萸</h3>
<p>（見肝部）</p>

<h2>〔溫膀胱次將〕</h2>

<h3>烏藥</h3>
<p>（見脾部）</p>

<h3>茴香</h3>
<p>（見肝部）</p>

<h1>膽部藥隊</h1>

<h2>〔補膽猛將〕</h2>

<h3>烏梅</h3>
<p>（見肝部）</p>

<h2>〔補膽次將〕</h2>

<h3>棗仁</h3>
<p>（見心部）</p>

<h2>〔瀉膽猛將〕</h2>

<h3>桔梗</h3>
<p>（見肺部）</p>

<h3>青皮</h3>
<p>（見肝部）</p>

<h3>香附</h3>
<p>（見肝部）</p>

<h2>〔瀉膽次將〕</h2>

<h3>秦艽</h3>
<p>〔害〕泄散疏利之品，凡下部虛寒，小便不禁，大便滑者勿服。</p>
<p>〔利〕苦寒平，入胃、肝、膽、大小腸五經。祛風活絡，養血舒筋，退熱退黃，利濕通淋。</p>
<p>〔修治〕二八月採根，曝乾用，形作羅紋相交，長大白左紋者良。</p>

<h3>川芎</h3>
<p>（見肝部）</p>

<h3>火麻仁</h3>
<p>〔害〕多食損血脈，滑精氣，痿陽事。婦人多食，即髮帶疾，以其滑利下行，走而不守也。腸滑者尤忌。</p>
<p>〔利〕甘平，入脾胃，潤五臟，通大腸，滑利下行，走而不守，宣風利關節，催生療難產。</p>
<p>〔修治〕七月七日採，良。九月採入土者損人，極難去殼。裹沸湯中待冷，懸井中一夜，曬乾就新瓦上，去殼用。</p>
<p>麻仁一物，詢之藥肆所備，每每誤用，須分別書之。潤燥通腸閉，催生，則用火麻仁，即大麻仁。如滋陰養肝，則用黑芝麻。又一種四方稜而小者，名巨勝子，味苦，平肝明目。又一種大胡麻，名胡麻仁，一名壁蝨胡麻，一名亞麻，能祛風濕、瘡癬、疥癩。又小胡麻，一名三角胡麻，即茺蔚子，一名益母子，通經活血，平肝祛風。用者宜審。</p>

<h3>升麻</h3>
<p>（見肺部）</p>

<h3>紫草茸</h3>
<p>〔害〕苦寒性滑，通利九竅，痘瘡家氣虛，脾胃弱，泄瀉不思食，小便清白者，俱禁用。痘疹若出而紅活及白陷，大腸利者，切宜忌之。</p>
<p>〔利〕苦寒，入心包、肝、大小腸四經。涼血和血，通大小腸，宣發痘疹，清解瘡瘍。</p>
<p>〔修治〕二月採根陰乾，其根頭有白毛如茸，未花時採，則根色鮮明。去頭，並兩畔髭，以石壓扁，曝乾細銼用。</p>

<h2>〔瀉大腸次將〕</h2>

<h3>秦艽</h3>
<p>（見膽部）</p>

<h3>旋覆花</h3>
<p>〔害〕走散之藥。病人涉虛者，不宜多服。冷利大腸，虛寒人禁用。</p>
<p>〔利〕味鹹微溫，兼苦，入肺、肝、大腸三經。咸能軟堅，能祛老痰結積，溫能解散，咸可潤下，故治風氣濕痹，大腸燥結，又能通脈。草名金沸，功用相仿。</p>
<p>〔修治〕六月至九月採花，去蕊並殼及蒂子，蒸曬乾用。有細毛，恐射肺，令人嗽，須用絹包好，入煎劑。</p>

<h3>郁李仁</h3>
<p>〔害〕性專下降，善導大腸燥結，利周身水氣。然下後令人津液虧損，燥結愈甚，乃治標急救之藥。津液不足者，慎勿輕投。</p>
<p>〔利〕味苦甘、辛平，入脾、大腸二經。潤燥行水，下氣破血，得酒入膽，治不寐。</p>
<p>〔修治〕五月採核，搗碎取仁，先以湯浸去皮尖，用生蜜浸一宿，漉出陰乾，研如膏用。</p>

<h3>杏仁</h3>
<p>（見肺部）</p>

<h3>大腹皮</h3>
<p>（見脾部）</p>

<h3>白芷</h3>
<p>（見脾部）</p>

<h2>〔涼大腸猛將〕</h2>

<h3>黃芩</h3>
<p>（見脾部）</p>

<h3>黃柏</h3>
<p>（同上）</p>

<h2>〔涼大腸次將〕</h2>

<h3>梨子</h3>
<p>〔害〕寒冷涼中，肺寒咳嗽，脾家泄瀉，腹痛冷積，寒痰痰飲，婦人產後，小兒痘後，胃冷嘔吐，西北真中風證，及金瘡，法咸忌之。經云：形寒飲冷則傷肺，此之謂也。又云：寒則血凝泣，多食成冷痢。</p>
<p>〔利〕味酸甘寒，入心、肺、脾、肝、大腸五經。外宣風氣，內滌狂煩，消痰醒酒，人知清火消痰，不知散風之妙。生食可清六腑之熱，熟食可滋五臟之陰，虛火宜熟，實火宜生，梨汁潤腸清痰止嗽。治痰嗽，宜加入薑汁蜜水。</p>
<p>〔修治〕七月採，今北人每於樹上包裹，過冬乃摘，亦妙。</p>

<h3>地榆炭</h3>
<p>〔害〕性寒而下行，凡脾胃虛寒作泄，法並禁用。白痢久而胃弱，胎產虛寒，泄瀉血崩，脾虛作泄等症，亦在禁例。</p>
<p>〔利〕味苦寒，入肝、大腸二經。止血痢腸風，除帶下五漏，善主下焦血症，兼去濕熱。</p>
<p>〔修治〕二八月採，似柳根，外黑裡紅，取上截切片炒黑用。</p>

<h3>槐角</h3>
<p>（見膽部）</p>

<h3>知母</h3>
<p>（見脾部）</p>

<h3>連翹</h3>
<p>（見心部）</p>

<h2>〔溫大腸猛將〕</h2>

<h3>胡椒</h3>
<p>（見肝部）</p>

<h3>破故紙</h3>
<p>（見腎部）</p>

<h3>枸杞子</h3>
<p>（見肝部）</p>

<h2>〔溫大腸次將〕</h2>

<h3>當歸</h3>
<p>（見心部）</p>

<h1>小腸部藥隊</h1>

<h2>〔補小腸猛將〕</h2>

<h3>生地</h3>
<p>（見腎部）</p>

<h2>〔瀉小腸猛將〕</h2>

<h3>木通</h3>
<p>（見心部）</p>

<h2>〔瀉小腸次將〕</h2>

<h3>瞿麥</h3>
<p>〔害〕善下逐，性猛利，能墜胎，孕婦忌。胎前產後，一切虛人患小水不利者禁用。水腫蠱脹脾虛者，並忌之。小腸無火熱者，忌服。</p>
<p>〔利〕味苦寒，入小腸膀胱二經。利水破血，出刺墜胎，八正散用為利小便之主藥。若心經雖熱，而小腸虛者忌用。恐心熱未除，而小腸復病矣。當求其屬以衰之。</p>
<p>〔修治〕七月採，凡使只用蕊殼，不用莖葉，若一時同使，即空心令人氣噎，小便不禁也。用時以竹瀝浸一伏時，漉曬。</p>

<h3>海金沙</h3>
<p>（見膀胱部）</p>

<h3>川楝子</h3>
<p>（見肝部）</p>

<h3>薏苡仁</h3>
<p>（見脾部）</p>

<h3>赤芍</h3>
<p>（見肝部）</p>

<h3>茯苓</h3>
<p>（見腎部）</p>

<h3>燈芯</h3>
<p>（見心部）</p>

<h1>三焦部藥隊</h1>

<h2>〔補三焦猛將〕</h2>

<h3>淫羊藿</h3>
<p>（見腎部）</p>

<h3>嫩黃耆</h3>
<p>（見肺部）</p>

<h2>〔瀉三焦猛將〕</h2>

<h3>青皮</h3>
<p>（見肝部）</p>

<h3>木香</h3>
<p>（見肝部）</p>

<h2>〔瀉三焦次將〕</h2>

<h3>柴胡</h3>
<p>（見肝部）</p>

<h3>香附</h3>
<p>（見肝部）</p>

<h2>〔涼三焦次將〕</h2>

<h3>梔子</h3>
<p>（見心部）</p>

<h3>麥冬</h3>
<p>（見心部）</p>

<h3>川黃柏</h3>
<p>（見脾部）</p>

<h3>地骨皮</h3>
<p>（見肺部）</p>

<h3>青蒿子</h3>
<p>（見肝部）</p>

<h3>連翹</h3>
<p>（見心部）</p>

<h2>〔溫三焦次將〕</h2>

<h3>臺烏藥</h3>
<p>（見脾部）</p>

<h3>白蔻仁</h3>
<p>（見脾部）</p>

<h3>紫衣胡桃</h3>
<p>〔害〕動風痰，助腎火，肺家有痰熱，命門火熾，陰虛吐衄等症，皆不宜施。多食動風生痰，傷肺，脫人眉，令人噁心吐水吐食物，同酒食，多令人咯血。</p>
<p>〔利〕味甘熱而潤，入肺、肝、腎三經。溫肺補腎，而通命門，峻補下焦。潤腸胃，悅肌膚，兼胡粉而白髮變黑，佐補骨而治痿強陰。又云：能解虛弱幼兒痰喘，服人參胡桃湯，喘即定，連皮服，蓋皮有斂汗之功也。但用一味，空腹時連皮食之，最能固精。</p>
<p>〔修治〕秋冬熟時採之，漚爛皮肉，取核為果。</p>
