<header data-type="book">
<h1>筆花醫鏡</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>江秋</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1834">公元1834年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2916">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>鍾序</h1>
<p>天地陰陽。風寒暑濕。冷暖虛實。各因其人體氣以受病。各因其地時氣以致疾。原非一概而論。即如兩人同一病。致病受病。就有不同。並有一人一身前後同一病。而筋絡臟腑之行。又有不同。命之理微。地之理微。醫之理亦微。所謂失之毫釐。謬以千里。誠不我欺。迥乎難挽。甚未容易言醫。其故或在認症之不真。學問所不到。譬之行兵臨陣。有所不久。不久而即不熟。且人之受病。有內有外。有虛有實。有火有寒。有陰有陽。有暑濕而似乎虛弱。有虛弱而類乎風邪。是凡醫家不可以不細加體察。予風塵薄宦。無濟世之力。有救人之心。無論其力之能與不能。而心之再無下盡其到也。偶與友人沈月枝論及世道人心。因而就病談醫。於是乎渠欣欣然出示筆花醫鏡一書。書系抄本。予捧而翻閱。恐不克久而不忘。且此等書果可以濟世救人。何妨共諸同好。予驟然付梓刊印。布告同人。或為醫家之一助。不沒江公一片婆心云爾。是為序。</p>
<p><u>道光十四年仲冬之月上浣皖江古舒鍾承露謹序</u></p>

<h1>自序</h1>
<p>天下之至變者病也。天下之至精者醫也。欲極其精以窮其變。雖千萬言不足以發明其緒。是以岐雷貸季而後。名家輩出。議論紛如。而合諸病情變幻。有難以按圖而索驥者。暾何人斯。而敢以一二淺言。謂足以罄乃事乎。然至變者病。而可見者恃乎形。至精者醫。而可據者恃乎理。以形求理。即以簡馭繁。達乎此。通乎彼。固有千萬言所不能盡。而一二語足以賅之矣。暾自中歲究心醫學。往來於江浙之間。深知其難。亦不敢自安於拙。迨服官東粵。學漸荒蕪。而習見此邦醫士。如文家相題布局。理法未清。其何以司活人之柄耶。病家固不甚講求。但以神鬼為福。即偶延醫診。而默受其誤者。亦終莫之知。是誠不服藥為良矣。可嘅也夫。暾久思引救。礙於官箴。茲將引退還山。略舉其要。鐫為一編。俾人人得有簡要之方。偶遇一症。自可按對病情。審為何臟何腑。是陰是陽。不乖乎表裡虛實寒熱之真。即知為心肝脾胃肺腎之疾。症既洞澈。藥自效靈。較諸授命於瞽。以身為鵠者。其損益可昭然判也。誠願有志者熟玩是編。據為要領。而旁參諸大家之說。自可一覽瞭然。將近以事親。遠以濟眾。於生靈不無稍補焉。是為序。</p>
<p><u>時道光四年孟夏之月上浣浙江歸安江涵暾自序</u></p>

<h1>例論</h1>
<p>數頁書豈能療千萬病。然有綱舉目張之法。蓋病總由臟腑。總不外虛實寒熱。審知其為何臟何腑之虛症實症。寒症熱症。而聯其病類以集之。則藥歸同路。療一病可。療千萬病亦無不可。固不在多立病名。多立方書也。此所謂鏡也。</p>
<p>凡人不願知醫者。以卷帙浩繁。見而生畏。不知從何學起也。茲但言其現何病象。系何臟腑。作何治法。寥寥數語。亦易知矣。其一切經絡源委。概不縷敘。避繁賾也。若欲究其全。則自有諸名家書在。</p>
<p>用藥如用兵。須量其材力之大小。蓋有一利。即有一弊。如大補大攻。大寒大熱之品。誤用即能殺人。各部後分為猛將次將。俾閱者不敢輕用。即用亦必斟酌分量。庶知利害。</p>
<p>人生一小天地。病之輕者。如日月之食。不轉瞬自必回和。斷不可輕易服藥。恐益乎此則損乎彼也。暾閱歷既久。悉知其故。寧受眾怨。不輕狥情。此事如老將臨陣。大賈航海。愈歷煉而愈知畏耳。</p>
<p>是書淺近。說法別無精意。不過願人人稍知醫理。不為庸醫所誤。以延壽命。且鄉僻間不及延醫者。亦可對症自醫。取其便耳。至醫家讀書少而閱歷淺者。得此亦有頭緒。稍知把握。便可活人。</p>
<p>醫家首在立品。古人云。行欲方而智欲圓。心欲小而膽欲大。人之性命在我掌握中。專心揣求。尚虞有失。此事豈同兒戲乎。若一涉利心。則貧富歧視。同道相攻。偽藥欺售。置人命於腦後矣。試仰觀蒼蒼者何物耶。而為病家者。亦宜以上賓禮貌相待。須思此人為我父母妻子救命而來。豈可任我招之來麾之去也。</p>
<p>是編大半採仲景、東垣、景岳、鍾齡諸家之說。亦述而不作之意。</p>
<p>凡古人立方。寓有精意。然斷不可呆用。余嘗見淺醫。未經閱歷。遇暑倦輒用清暑益氣湯。而不知黃耆之悶。遇熱喘輒用生脈散。而不知五味子之斂。卒至暑熱伏留。纏綿床蓐而斃。甚可哀也。他如六味地黃湯及麻黃湯桂枝湯等。必須斟酌萬穩而進。或用次將之品代之。否則一誤之下。不可挽回。歸咎古人。古人豈任受哉。</p>

<h1>卷一</h1>

<h2>診脈歌</h2>
<p>病人雙腕仰。高骨定為關。（住掌後之高骨定為關脈）寸脈量虎口。尺脈准臂彎。（關前距虎口一寸故曰寸關後距臂彎一尺故曰尺）左寸心包絡。左關膽與肝。左尺司何職。膀胱腎系焉。右寸胸中肺。胃脾屬右關。要知大腸腎。右尺自昭然。</p>
<p>口鼻一呼吸。脈來四五跳。此是無病者。平和氣血調。三至為遲候。六至作數教。遲則寒之象。數則熱之標。一二寒愈盛。七八熱更饒。</p>
<p>輕舉得皮面。表邪脈故浮。若是病在裡。重取須沉求。洪長征實健。細弱識虛柔。水濕並痰飲。滑利又弦遒。緊促氣內亂。伏澀氣凝留。妊娠中止代。失血中空芤。（代脈中止芤脈中空）只此尚易見。其他渺以幽。</p>

<h2>望舌色</h2>
<p>舌者心之竅。凡病俱現於舌。能辨其色。症自顯然。舌尖主心。舌中主脾胃。舌邊主肝膽。舌根主腎。假如津液如常。口不燥渴。雖或發熱。尚屬表症。若舌苔粗白。漸厚而膩。是寒邪入胃。挾濁飲而欲化火也。此時已不辨滋味矣。宜用半夏、藿香。迨厚膩而轉黃色。邪已化火也。用半夏、黃芩。若熱甚失治則變黑。胃火甚也。用石膏、半夏。或黑而燥裂。則去半夏。而純用石膏、知母、麥冬、花粉之屬以潤之。至厚苔漸退。而舌底紅色者。火灼水虧也。用生地、沙參、麥冬、石斛以養之。此表邪之傳裡者也。其有脾胃虛寒者。則舌白無苔而潤。甚者連唇口面色俱痿白。此或泄瀉或受濕。脾無火力。速宜黨參、焦朮、木香、茯苓、炙草、乾薑、大棗以振之。虛甚欲脫者。加附子、肉桂。若脾熱者。舌中苔黃而薄。宜黃芩。心熱者。舌尖必赤。甚者起芒刺。宜黃連、麥冬、竹捲心。肝熱者。舌邊赤或芒刺。宜柴胡、黑山梔。其舌中苔厚而黃者。胃微熱也。用石斛、知母、花粉、麥冬之類。若舌中苔厚而黑燥者。胃大熱也。必用石膏、知母。如連牙床唇口俱黑。則胃將蒸爛矣。非石膏三四兩。生大黃一兩。加糞金汁、人中黃、鮮生地汁、天冬麥冬汁、銀花露大劑之投。不能救也。此唯時疫發癍及傷寒症中多有之。余嘗治一獨子。先後用石膏至十四斤余。而癍始透病始退。此其中全恃識力。再有舌黑而潤澤者。此係腎虛。宜六味地黃湯。若滿舌紅紫色而無苔者。此名絳舌。亦屬腎虛。宜生地、熟地、天冬、麥冬等。更有病後舌絳如鏡。發亮而光。或舌底嗌乾而不飲冷。此腎水虧極。宜大劑六味地黃湯投之。以救其津液。方不枯涸。</p>

<h2>望聞問切論</h2>
<p>望者看形色也。聞者聽聲音也。問者訪病情也。切者診六脈也。四事本不可缺一。而唯望與問為最要。何也。蓋聞聲一道。不過審其音之低高。以定虛實。嗽之悶爽。以定升降。其他則無可聞者。切脈一道。不過辨其浮沉以定表裡。遲數以定寒熱。強弱以定虛實。其他則胸中了了。指下難明。且時大時小。忽浮忽沉。六脈亦難定準。故醫家謂據脈定症。是欺人之論也。惟細問情由。則先知病之來歷。細問近狀。則又知病之深淺。而望其部位之色。望其唇舌之色。望其大小便之色。病情已得八九矣。而再切其脈。合諸所問所望。果相符否。稍有疑義。則默思其故。兩兩相形。虛與實相形。寒與熱相形。表與里相形。其中自有把握之處。即可定斷。慎斯術也以往。其無所失矣。</p>

<h2>表裡虛實寒熱辨</h2>
<p>凡人之病。不外乎陰陽。而陰陽之分。總不離乎表裡虛實寒熱六字盡之。夫里為陰。表為陽。虛為陰。實為陽。寒為陰。熱為陽。良醫之救人。不過能辨此陰陽而已。庸醫之殺人。不過錯認此陰陽而已。假如發熱惡寒。鼻塞咳嗽。頭痛。脈浮。舌無苔。口不渴。此病之在表者也。如或潮熱惡熱。口燥。舌黃。腹痛便澀。脈沉。此病之在裡者也。假如氣短體弱。多汗驚悸。手接心腹。四肢畏冷。脈來無力。此病之本虛者也。若病中無汗。或狂躁不臥。腹脹拒按。脈實有力。此病之又實者也。假如唇舌俱白。口不渴。喜飲熱湯。鼻流清涕。小便清。大便溏。手足冷。脈遲。此病之犯寒者也。若舌赤目紅。口渴喜冷。煩躁。溺短便秘。或唇燥舌乾。此病之患熱者也。凡此皆陰陽之分也。至於邪盛正衰。陰虛火亢等。則又陰中之陽。陽中之陰。其間毫釐千里。命在反掌。辨之者安得而不慎。</p>
<p>表治宜發散也。如初感風寒。發熱頭痛。但用蘇梗一錢五分。荊芥一錢五分。防風一錢。川芎一錢。甘草五分。生薑二片以散之。頭痛甚。加羌活六分。如鼻塞或流清涕。加半夏一錢五分。茯苓、陳皮各一錢。如咳嗽。則加桔梗七分。杏仁三錢。前胡一錢之類。一劑得汗而熱即退。不必再服。但避風寒。忌油膩。未得汗則再劑而止。若寒熱往來。欲作瘧狀。宜用柴胡八分。酒芩八分。赤芍一錢。製半夏一錢五分。甘草五分。大棗三枚。生薑三片以和之。虛者加防黨二錢。此其症在表。切勿妄用枳殼、神麯、麥芽消導之藥。引邪入內。</p>
<p>里治宜歸經也。有虛實。有寒熱。宜辨其病在何臟腑而治之。法詳臟腑門。惟喜怒憂思悲恐驚謂之七情。此里症之最難治者。但寬其心而藥始效。否則無益也。然症在於里。大忌發散。散之則虛者汗脫。熱者煽熾。醫家動輒用表。可懼哉。</p>
<p>虛治宜補也。然有陰虛。有陽虛。血虛者為陰虛。宜補其血。輕者用生地四錢。首烏二錢。歸身一錢五分。酒芍一錢五分。炙鱉甲二錢。穭豆皮三錢。海參三錢。北沙參三錢之類。重者用熟地五錢。枸杞三錢。五味七分。萸肉一錢。菟絲一錢以填之。氣虛者為陽虛。宜補其氣。輕者用黨參三錢。白朮二錢。山藥二錢。茯苓一錢五分。炙草六分。紅棗六枚。生薑一片之類。重者用人參一錢。黃耆一錢五分以振之。氣欲脫則並加附子二錢。乾薑二錢以回陽。若氣血兼虛。則陰陽並補。八珍湯、十全大補湯。皆聖藥也。實治宜瀉也。心有火邪。肺有風寒。脾有食積、蟲痞、濕熱。肝有鬱怒之氣。膽胃包絡膀胱大小腸各能受邪。皆為實症。治法詳各臟腑門。然治實以速為功。苟遷延日久。病未去而元氣虛。則難以消導矣。寒治宜溫也。寒在表則惡風寒。宜蘇葉一錢。藿梗二錢。荊芥、防風各一錢。前胡一錢五分。杏仁三錢。生薑三片之屬。以散其邪。甚則桂枝五分。麻黃五分。細辛六分。寒在裡則喜熱湯。宜制夏二錢。藿香一錢五分。焦術一錢五分。制樸一錢。吳茱萸八分。焦穀芽三錢。煨姜二片。砂仁二粒之屬。以暖其中。甚則附子六分。肉桂六分。乾薑六分。凡寒症唇舌必白。脈遲便利。腹或冷痛。一投寒涼。入口立脫。慎之。熱治宜涼也。然熱症有實火。有虛火。實火之症。或因外感。或因內郁所致。宜分臟腑治之。火之微者。黑山梔一錢五分。石斛三錢。地骨皮二錢。青蒿一錢五分。丹皮一錢。連翹一錢五分。麥冬二錢。花粉一錢五分。銀花三錢。竹葉五分。燈心一握之屬。甚者加黃連七分。黃芩一錢五分。或石膏四錢。知母一錢五分。極甚則用大黃一錢五分。龍膽草七分等。虛火之症。或陽虛外熱。口不渴。唇不紅。脈不數。宜四君子湯。以補其陽。若陰虛內熱。舌或絳。頭或痛。目或干。過午便熱。宜四物湯、六味地黃湯。以補其陰。</p>

<h2>內傷外感雜治說</h2>
<p>前言表裡虛實寒熱六字。病已盡在其中矣。而表裡之中。又有內傷外感之治焉。內傷者里症也。而有氣血痰鬱四字之分。外感者表症也。而有風寒暑濕燥火六字之別。再詳其治法。醫無餘蘊矣。</p>
<p><u>內傷</u>　一曰氣。氣虛者四君子湯。若氣實而滯者。宜香蘇散、平胃散。二曰血。血虛者四物湯。若血實而凝者。宜手拈散。三曰痰。痰輕者二陳湯、六君子。若頑痰膠固。變生怪症。或停飲膈間。宜滾痰丸、小半夏加茯苓湯之類。四曰郁。凡喜怒憂思悲恐驚皆能致郁。郁小者越鞠丸、逍遙散。若五郁互結。腹膨腫滿。二便不通。宜神佑丸、承氣湯之類。此內傷之治也。</p>
<p><u>外感</u>　一曰風。真中風是也。非表治中之偶感風寒也。風有中腑中臟中血脈之殊。中腑者與傷寒同。太陽用加味香蘇散。陽明用葛根湯。少陽用小柴胡湯。中臟者眩僕昏冒。痰聲如鋸。內有熱風寒風二種。熱閉則先用搐鼻散。次以牛黃丸灌之。便結脹用三花湯。冷脫則汗珠頭搖。以附子理中湯急救之。或三生飲。中血脈者。口眼喎斜。半身不遂。大秦艽湯加竹瀝、薑汁、鉤藤。二曰寒。傷寒是也。寒在表。則與風之中腑治同。寒入里。用附子理中湯法。詳傷寒論。三曰暑。暑輕者但煩渴。益元散足矣。暑重者汗喘昏悶。消暑丸灌之。寒包暑者。頭痛惡寒而煩渴。四味香薷飲加荊芥、秦艽。若暑天受濕而霍亂。藿香正氣散主之。更有乾霍亂症。吐瀉不得。俗名絞腸痧。粥飲入口即敗。危症也。陳香丸煎湯救之。四曰濕。或受潮。或食冷。面黃身重。平胃散治之。若黃疸則目溺色黃。茵陳大黃湯、茵陳五苓散、茵陳姜附湯。若發腫。五苓散、五皮飲。若滲入筋絡。肩背臂痛。用秦艽天麻湯、蠲痹湯。五曰燥。此症惟秋冬時久晴有之。而嗜鴉片者更易犯。其症鼻乾口渴咽痛。舌燥目火。便秘乾熱。不宜發表。宜用生地、天冬、麥冬、花粉、沙參、元參、歸身、梨藕蔗汁之類以潤之。六曰火。治法詳於前熱治中。更審其臟腑。投涼則得矣。然中寒則暴痛。中暑則猝悶。中濕則痰塞。中火則竅閉。皆能猝然昏倒。非中風而似中風。謂之類中。勿概作中風治。此外感之治也。</p>

<h2>傷寒論治</h2>
<p>傷寒之症。與春溫夏熱不同。溫熱症頭痛發熱。必不惡寒而口渴。若傷寒則異是。其症由表而入里。初起時邪在太陽膀胱經。則頭痛惡寒發熱。脈浮。宜加味香蘇散。或桂枝湯、麻黃湯、柴葛解肌湯。繼傳陽明胃經。則目痛鼻乾。唇焦不渴。宜葛根湯。再傳少陽膽經。則目眩耳聾。胸滿脅痛口苦。寒熱往來。頭汗。脈弦。宜小柴胡湯。此三陽傳經之表症也。失治則傳入三陰矣。其傳入太陰脾經者。則腹滿痛。下利。脈沉。宜大柴胡湯。其傳入少陰腎經者。口燥咽乾。痛利清水。目不明。危矣。宜小承氣湯、大承氣湯。至傳入厥陰肝經者。小腹滿。舌卷囊縮。厥逆。用大承氣湯。或有得生者。亦有不傳三陰而傳入太陽膀胱者。則口渴溺赤。宜五苓散。傳入陽明胃腑者。則譫語狂亂。燥渴便閉。轉失氣。自汗。不得眠。宜白虎湯、調胃承氣湯。以上為傳經傷寒。因寒化火也。其有初起寒邪直中三陰者。其症腹冷痛。吐清沫。利清穀。蜷臥肢冷。囊縮吐蛔。舌黑而潤。脈沉細。此寒症也。中太陰脾。理中湯。中少陰腎。四逆湯。中厥陰肝。白通加豬膽汁湯。急投勿緩。此係醫中第一要症。故專論之。</p>

<h2>虛勞論治</h2>
<p>虛勞之症。大症也。固由真陰虧損。虛火鑠金而然。而其始大半由於外感。感邪在肺。則作咳嗽。治失其宜。則咳不已。久咳則傷肺金。金傷不能生水。則腎水日枯。腎火日熾。上灼於肺。再復嗜色欲受。外邪。以竭其水。而虛勞成矣。間有本元不足。思慮太過。而心血耗。心火旺。腎水乾。肺金痿者。其受病不同。及其成勞一也。此等症多兒吐血痰湧。發熱夢遺。經閉。以及肺痿肺疽。咽痛音啞。側臥。傳屍鬼注諸疾。唯在屏棄一切。不近女色。調飲食。慎風寒。息嗔怒。靜養二三年。服藥可。不服藥亦可。自然生機徐轉。復其天和。非旦夕所能效也。然既有症必有治。列方備擇。仍在其人之能自養耳。</p>
<p>咳嗽初起用止嗽散加蘇梗以散之。如或不已。變生虛熱者。佐以團魚丸。若病勢漸深。更佐以月華丸。若吐血。先用四生丸。繼用生地黃湯、逍遙散之類。元氣虛。五味異功散。如氣血虛而發熱。八珍湯、人參養榮湯均可。咽痛。用百藥煎散。音啞。用通音煎。如遺精。用秘精丸。經閉。澤蘭湯。至五臟虛損。則補天大造丸。用藥之法。不過如斯而已。此症十存一二。其能存者。皆自養之功。非藥力也。</p>

<h2>疫痢瘧腫論治</h2>
<p>疫痢瘧三症最多。腫最難治。故合提而論。疫有由天時者。有由人染者。由天時則邪從經絡入。為頭痛發熱咳嗽。頸腫發頤。大頭天行之類。用香蘇散、普濟消毒飲治之。由人染則邪從口鼻入。為憎寒壯熱。胸膈滿悶。口吐黃涎之類。用神朮散、藿香正氣散治之。此兩路之邪。若傳入臟腑。漸至譫語腹脹。唇焦口渴者。宜治疫清涼散、承氣湯治之。總不越乎發散解穢清中攻下四法而已。痢症則生死所關。良由夏秋之際。暑熱在中。而為風寒生冷所遏。火不得舒。迫而為痢也。熱者為赤。寒者為白。熱傷血分者為赤。寒傷氣分者為白。初起時不宜妄攻。宜葛根治痢散以解之。餘邪未已。裡急後重。則用治痢奇方以清之。腹脹痛。有堅積。則用樸黃丸下之。日久脾虛。五味異功散加白芍、黃連、木香清補之。氣虛下陷者。補中益氣湯升提之。如邪穢塞胃。嘔逆不食者。開噤散啟之。此一定之治法也。瘧則輕於痢矣。寒邪入內。陰陽相搏。初起寒熱往來。用香蘇散逐之。隨用小柴胡湯和之。三四發後。止瘧丹加白蔻仁、醋炒鱉甲以截之。久瘧元虛。六君子湯加柴胡補之。中氣下陷。補中益氣湯舉之。此易治也。唯腫脹一症。目胞與足先腫者。水也。先腹大後四肢腫者。臌脹也。鼓脹症用和中丸。虛者白朮丸。水腫症四肢腫而腹不腫者。表也。腹亦腫者。里也。腰以上腫。邪在表也。宜汗。五皮飲加蘇葉、素艽、防風、荊芥。腰以下腫。邪在裡也。宜利小便。五皮飲加赤小豆、赤苓、澤瀉、車前、萆薢、防己。且煩渴便閉者陽水。熱也。五皮飲加連翹、黃柏、黃芩。不煩渴者陰水。寒也。五皮飲加附子、乾薑、肉桂。先腫而後喘。或但腫而不喘者。胃經蓄水也。五皮飲照前加減治之。若先喘而後腫者。腎經聚水也。金匱腎氣丸治之。此症最難收功。慎勿誤治。更有中風後熱傷經絡。足不任地。腿腫脹痛者。此脈痿也。用蒼朮、黃柏、芩、連、冬、斛、當歸、地黃、苡仁、牛膝、寄生、萆薢、丹參之類。又有腫痛在腳。名曰腳氣。風濕勝也。用檳榔、防己、秦艽、天麻、獨活、牛膝、桑枝、木瓜之類。</p>

<h2>附列諸方</h2>
<p>六味地黃湯　滋水制火。專治血虛。亦可為丸。</p>
<p>大熟地（四錢）　山萸肉　山藥（各二錢）　丹皮　茯苓　澤瀉（各一錢五分）</p>
<p>八珍湯　治氣血並虛。即四君四物相併。</p>
<p>大熟地（四錢）　西黨參（三錢）　白朮　當歸（各二錢）　茯苓（二錢）　白芍（一錢五分）　川芎（一錢）　炙甘草（五分）　加大棗二枚</p>
<p>十全大補湯　治陰陽並虛而畏冷</p>
<p>即八珍湯加黃耆二錢。肉桂六分。</p>
<p>四君子湯　治氣虛脾胃不足之症。</p>
<p>人參（三錢）　土炒白朮（二錢）　茯苓（二錢）　炙甘草（五分）　加生薑二片大棗三枚</p>
<p>古方用人參。如無力。以西黨參代之。</p>
<p>六君子湯　治氣虛挾痰。</p>
<p>即四君子湯加製半夏一錢五分。陳皮一錢。</p>
<p>香砂六君子湯　治胃寒吐瀉。</p>
<p>即六君子湯加藿香一錢。砂仁二粒。</p>
<p>五味異功散　治氣虛。</p>
<p>即四君子湯加陳皮一錢。</p>
<p>四物湯　治血虛肝腎不足之症。</p>
<p>大熟地（四錢）　歸身　白芍（各二錢）　川芎（一錢）</p>
<p>香蘇散　治時邪感冒。頭痛發熱等症。</p>
<p>蘇葉（一錢五分）　陳皮　香附（各一錢二分）　荊芥　秦艽　防風　蔓荊子（各一錢）　川芎（五分）　甘草（七分）　加生薑（三片）</p>
<p>平胃散加減　治脾胃不和。脹滿嘔吐霍亂等症。</p>
<p>藿香（一錢五分）　厚朴（一錢二分）　蒼朮（八分）　陳皮（一錢）</p>
<p>二陳湯　治肺胃寒痰。</p>
<p>製半夏　陳皮　茯苓（各一錢五分）　炙草（八分）　加生薑一片棗二枚</p>
<p>手拈散　治血滯。心腹作痛。</p>
<p>元胡索（醋炒）　五靈脂（醋炒）　草果　沒藥（各等分）</p>
<p>上為細末。每服三錢。熱酒調下。</p>
<p>滾痰丸　治老痰變生怪症。</p>
<p>大黃　炒黃芩（各四兩）　青礞石　沉香（各三錢）　辰砂（二錢）</p>
<p>以水為丸。辰砂為衣。每服一二錢。開水下。</p>
<p>小半夏加茯苓湯　治飲停膈間。</p>
<p>半夏（姜炒）　白茯苓（各三錢）　炙甘草（一錢）　生薑（三片）　加蒼朮更效</p>
<p>越鞠丸　治郁膈痞滿。</p>
<p>香附　山楂　炒神麯　炒麥芽　川芎　蒼朮　炒梔子（各等分）</p>
<p>上為末。水調。丸如桐子大。每服五七十丸。開水下。</p>
<p>逍遙散　治肝經血虛木鬱。</p>
<p>柴胡　甘草　茯苓　白朮　當歸　白芍　丹皮　黑山梔（各一錢）　薄荷（五分）</p>
<p>神佑丸　治沉積變病。氣血壅滯。濕熱風痰鬱結。</p>
<p>黑醜（二兩）　大黃（一兩）　芫花　大戟　甘遂（各五錢）　輕粉（一錢）</p>
<p>上為末。用皂角去子。煎濃湯糊丸。每服必瀉。勿可輕用。</p>
<p>大承氣湯　治邪熱閉結。或食積堅硬。宜下之。</p>
<p>大黃（三錢）　枳實（一錢五分）　厚朴（一錢）　芒硝（三錢）</p>
<p>小承氣湯　治前症稍緩者。</p>
<p>即前大承氣湯去芒硝。</p>
<p>葛根湯　治邪傳陽明。以此解肌。</p>
<p>葛根（二錢）　升麻　秦艽　荊芥　赤芍（各一錢）　蘇葉　白芷（各八分）　甘草（五分）　生薑（二片）</p>
<p>小柴胡湯　治寒熱往來。少陽瘧疾。口苦耳聾。胸滿肋痛。</p>
<p>柴胡（二錢）　赤芍（一錢五分）　甘草　半夏（各一錢）　黃芩（一錢五分）　人參（五分）　生薑（二片）　大棗（三枚）</p>
<p>搐鼻散　治一切悶症。不省人事。吹入鼻中。有嚏者生。</p>
<p>細辛　皂角（各一兩）　生半夏（五錢）</p>
<p>上為細末。入瓷瓶。勿泄氣。</p>
<p>牛黃丸　治中風痰火閉結。或喘嗽痰壅。不省人事。</p>
<p>牛黃　麝香　龍腦（以上各六錢另研）　羚羊角　當歸　防風　黃芩　柴胡　白朮　麥冬　白芍（各七錢半）　桔梗　茯苓　杏仁　川芎　大豆黃卷　阿膠（各八錢五分）　蒲黃　人參　神麯（各一兩二錢五分）　雄黃（另研四錢）　甘草（二兩五錢）　白蘞　肉桂（各三錢七分）　乾薑（三錢七分）　犀角（一兩）　山藥（三兩五錢）　大棗（五十枚）　金箔（一百五十片為衣）</p>
<p>上為細末。煉蜜同棗膏丸。每兩作十丸。金箔為衣。</p>
<p>三化湯　治中風入臟。熱極閉結。</p>
<p>厚朴　大黃　枳實　羌活（各一錢五分）</p>
<p>水煎服。</p>
<p>附子理中湯　治臟寒將脫之症。用以回陽。</p>
<p>人參　白朮（各二錢）　附子　乾薑　炙甘草（各一錢）</p>
<p>三生飲　治寒風中臟。六脈沉細。</p>
<p>生南星　生烏頭　生附子（各一錢五分）　生薑（五片）　生木香（五分）　此方用人參兩許同投更有益</p>
<p>大秦艽湯　治風中經絡。口眼歪斜等症。</p>
<p>秦艽（一錢五分）　炙草　川芎　當歸　芍藥　生地　熟地　茯苓　羌活　獨活　白朮　防風　白芷　黃芩（各八分）　細辛（二分）</p>
<p>如陰雨。加生薑三片同煎。</p>
<p>益元散　利竅清暑。</p>
<p>甘草（一兩）　滑石（六兩）</p>
<p>消暑丸　治中暑昏悶。</p>
<p>製半夏（四兩）　茯苓　甘草（各二兩）</p>
<p>共為末。生薑汁糊丸。</p>
<p>四味香薷飲　治風寒閉暑之症。</p>
<p>香薷　扁豆　厚朴（各一錢五分）　炙甘草（五分）　若兩足轉筋加木瓜茯苓</p>
<p>藿香正氣散</p>
<p>藿香　砂仁　厚朴　茯苓　紫蘇　陳皮（各一錢）　白朮　製半夏　桔梗　白芷（各七分）　炙甘草（五分）</p>
<p>茵陳大黃湯　治黃疸熱閉。</p>
<p>茵陳（三錢）　梔子　大黃（各二錢）</p>
<p>茵陳五苓散　治陰黃小便不利。</p>
<p>茵陳　白朮　茯苓（各一錢五分）　豬苓　澤瀉（各七分）　薄桂（五分）</p>
<p>茵陳姜附湯　治陰黃小便自利。</p>
<p>茵陳（一錢）　白朮（二錢）　附子　乾薑（各五分）　炙草（一錢）　肉桂（三分）</p>
<p>五苓散　治小便不通。</p>
<p>茯苓（三錢）　豬苓　澤瀉（各八分）　白朮（一錢五分）　桂枝（一錢）</p>
<p>四苓散　治伏暑小便不通。</p>
<p>即五苓散去桂枝</p>
<p>五皮飲　治胃經蓄水。發為水腫。</p>
<p>大腹皮　茯苓皮　陳皮　桑白皮（各一錢五分）　生薑皮（八分）</p>
<p>秦艽天麻湯　治寒濕入絡。肩背臂痛。</p>
<p>秦艽（一錢五分）　天麻　羌活　陳皮　當歸　川芎（各一錢）　炙草（五分）　生薑（三片）　炒桑皮（三錢）　挾寒加桂枝</p>
<p>蠲痹湯　治風寒濕三氣成痹</p>
<p>羌活　獨活（各一錢）　桂心（五分）　素艽（一錢）　當歸　桑枝（各三錢）　川芎（七分）　海風藤（二錢）　炙甘草（五分）　乳香　木香（各八分）</p>
<p>桂枝湯　治太陽中風寒。</p>
<p>桂枝　芍藥　生薑（各一錢五分）　甘草（炙一錢）　大棗（四枚）</p>
<p>麻黃湯　治太陽傷寒無汗。此方宜於西北。</p>
<p>麻黃（四錢）　桂枝（二錢）　甘草（炙一錢）　杏仁（十二枚）</p>
<p>柴葛解肌湯　治溫熱症發熱頭痛。不惡寒。與傷寒異。</p>
<p>柴胡（一錢二分）　葛根（一錢五分）　赤芍　知母（各一錢）　貝母（一錢）　生地（二錢）　黃芩　丹皮（各一錢五分）　甘草（五分）</p>
<p>大柴胡湯　治傷寒邪入太陰。</p>
<p>柴胡（一錢五分）　半夏（七分）　黃芩　芍藥（各二錢）　枳實（一錢）　大黃（二錢）</p>
<p>白虎湯　治陽明胃腑大熱。</p>
<p>生石膏（五錢）　知母（三錢）　甘草（二錢）　粳米（一撮）　若熱甚者倍之</p>
<p>調胃承氣湯　治胃熱譫語便閉。繞臍硬痛。</p>
<p>大黃（三錢）　芒硝（二錢）　甘草（五分）</p>
<p>四逆湯　治少陰中寒肢冷厥逆。</p>
<p>附子（五錢）　乾薑（五錢）　炙甘草（二錢）</p>
<p>白通加豬膽汁湯　治陰盛格陽。熱藥不入。</p>
<p>附子（五錢）　乾薑（五錢）　蔥白（二錢）　人尿（半杯）　豬膽汁（五茶匙）</p>
<p>止嗽散　治一切咳嗽。</p>
<p>桔梗　荊芥　紫菀　百部　白前（各二斤）　甘草（炙十二兩）　陳皮（一斤）</p>
<p>共為末。每服三錢。初感風寒生薑湯下。</p>
<p>團魚丸　治久咳將成癆瘵。</p>
<p>川貝　知母　前胡　柴胡　杏仁（各四錢）　大團魚（一個重十二兩以上者去腸）</p>
<p>上藥與魚同煮熟。取肉連汁食之。將藥渣焙乾為末。煮魚骨汁為丸如桐子。麥冬湯日下三服。</p>
<p>月華丸　滋陰保肺平肝。為治癆之聖藥。</p>
<p>天冬　麥冬　生地　熟地　山藥　百部　沙參　川貝　真阿膠（各一兩）　茯苓　獺肝　廣三七（各五錢）</p>
<p>用白菊花二兩。桑葉二兩熬膏。將阿膠化入和藥。煉蜜為丸。日三服。每服一丸。</p>
<p>四生丸　治熱血妄行。而為吐衄。</p>
<p>生地黃　生荷葉　生側柏葉　生艾葉（各等分）</p>
<p>同搗極爛。為大丸如雞子。每服一丸。水煎去渣。</p>
<p>生地黃湯　治腎火鑠金。</p>
<p>生地（三錢）　牛膝　丹皮　黑山梔（各一錢）　丹參　元參　麥冬　白芍（各一錢半）　鬱金　廣三七　荷葉（各七分）　加陳墨汁清童便各半杯沖服</p>
<p>人參養榮湯　治氣虛榮衛不固。</p>
<p>白芍（二錢）　人參　蜜炙黃耆　當歸　白朮　熟地（各一錢五分）　炙甘草　茯苓　遠志（各七分）　北五味　桂心　陳皮（各四分）　加姜一片棗二枚</p>
<p>百藥煎散　治咽痛。</p>
<p>百藥煎（五錢）　硼砂（一錢五分）　甘草（二錢）</p>
<p>共為末。米飲調下。</p>
<p>通音煎　治音啞。</p>
<p>白蜜（一斤）　川貝（二兩）　款冬花（二兩）　胡桃肉（十二兩去皮研爛）</p>
<p>上將川貝款冬為末。四味和勻。飯上蒸熟。開水服。</p>
<p>秘精丸　理脾導濕。治濁固精。</p>
<p>白朮　山藥　茯苓　茯神　蓮子肉（各二兩）　芡實（四兩）　蓮花須　牡蠣（各一兩五錢）　黃柏（五錢）　車前子（三兩）</p>
<p>共為末。金櫻膏為丸。</p>
<p>澤蘭湯　治經閉調血脈。</p>
<p>澤蘭（二錢）　柏子仁　當歸　白芍　熟地　牛膝　茺蔚子（各一錢五分）</p>
<p>補天大造丸　補五臟虛損。</p>
<p>人參（二兩）　蜜炙黃耆　蒸白朮（各三兩）　炒棗仁　當歸　山藥　茯苓（各一兩五錢）　枸杞子　大熟地（各四兩）　河車（一具）　鹿角（一斤）　龜板（八兩與鹿角共熬膏）</p>
<p>以龜鹿膠和藥。煉蜜為丸。</p>
<p>普濟消毒飲　治大頭疫症。喉風發癍等症。</p>
<p>甘草　桔梗　酒芩　酒黃連（各二錢）　馬勃　元參　橘紅　柴胡（各五分）　薄荷（六分）　升麻（二分）　連翹　牛蒡子（各八分）</p>
<p>神朮散　治時行不正之氣。滿悶吐瀉。發熱傷食。</p>
<p>蒼朮　陳皮　厚朴（各二斤）　炙甘草（十二兩）　藿香（八兩）　砂仁（四兩）</p>
<p>共為末。每服二三錢。</p>
<p>治疫清涼散　治疫邪入里。脹悶譫狂諸症。</p>
<p>秦艽　赤芍　知母　貝母　連翹（各一錢）　荷葉（七分）　丹參（五錢）　柴胡（一錢五分）　人中黃（二錢）</p>
<p>葛根治痢散　治痢初起。赤白皆效。</p>
<p>葛根（一錢五分）　酒炒苦參（八分）　陳皮（一錢）　赤芍　陳松蘿茶　炒麥芽　山楂（各一錢二分）</p>
<p>上為細末煎服。有火者加川連五分。</p>
<p>治痢奇方　治暑痢。</p>
<p>川連（六分）　酒芩　厚朴　歸身　白芍（各一錢五分）　山楂（三錢）　甘草（五分）　桃仁　青皮　紅花（各八分）　枳殼　地榆（各一錢）　檳榔（一錢二分）　如白痢加木香六分</p>
<p>樸黃丸　治堅積作痢。腹痛拒按。</p>
<p>陳皮　厚朴（各十二兩）　大黃（一斤四兩）　廣木香（四兩）　荷葉水為丸。</p>
<p>補中益氣湯　中氣下陷。以此升之。</p>
<p>黃耆（一錢五分）　土炒白朮　人參　當歸　炙草（各一錢）　柴胡　升麻（各三分）　陳皮（五分）　加生薑一片大棗二枚</p>
<p>開噤散　治噤口痢。</p>
<p>人參　薑汁炒黃連（各五分）　石菖蒲（七分）　丹參（三錢）　石蓮子　茯苓　陳皮　冬瓜仁（去殼各一錢五分）　陳米（一撮）　荷葉蒂（二個）</p>
<p>止瘧丹　治瘧二三發後。以此止之。</p>
<p>火酒炒常山　草果仁（去殼）　半夏曲（姜炒）　香附米（酒炒）　青皮（醋炒各四兩）　真六神麯（姜炒二兩）</p>
<p>上為末。用米飲糊丸。清晨服。</p>
<p>和中丸　治腹脹食積。</p>
<p>土炒白朮（四兩）　炒扁豆（三兩）　茯苓　砂仁（各一兩五錢）　半夏（薑汁炒一兩）　麵炒枳實　炒神麯　炒麥芽　炒山楂　薑汁炒香附　丹參（酒蒸各二兩）　陳皮　五穀蟲（炒焦黃色各三兩）</p>
<p>上為末。荷葉一枚煎水為丸。</p>
<p>白朮丸　治氣虛中滿。</p>
<p>白朮　茯苓　陳皮（各二兩）　砂仁　神麯（各一兩五錢）　五穀蟲（四兩）</p>
<p>用荷葉老米煎水為丸。</p>
<p>金匱腎氣丸　治腎經聚水。</p>
<p>此即六味丸加附、桂、車前、牛膝。</p>
<p>大熟地（八兩）　山藥（四兩）　山萸肉　丹皮　澤瀉　車前子　牛膝（各二兩）　茯苓（六兩）　肉桂（一兩）　附子（一兩）</p>
<p>如水腫用五加皮八兩煮水。煉蜜為丸。</p>

<h1>卷二</h1>

<h2>臟腑證治</h2>

<h3>心部</h3>
<p>（手少陰屬臟）</p>
<p>心體屬火。位南方。色現赤。胸下歧骨陷處其部位也。凡額上手足心。皆其所轄。得血以養之。方能運慧思。用才智。心無表症。皆屬於里。</p>
<p>心之虛。血不足也。脈左寸必弱。其症為驚悸。為不得臥。為健忘。為虛痛。為怔忡。為遺精。驚悸者。惕惕然恐。神失守也。七福飲、秘旨安神丸主之。不得臥者。思慮太過。神不藏也。歸脾湯、安神定志丸主之。健忘者。心腎不交。神明不充也。歸脾湯、十補丸主之。虛痛者。似𩞄似飢。似手摭心。喜得手按。洋參麥冬湯主之。怔忡者。氣自下逆。心悸不安。歸脾湯主之。遺精者。或有夢。或無夢。心腎不固也。清心丸、十補丸主之。</p>
<p>心之實。邪入之也。心不受邪。其受者胞絡耳。脈左寸必弦而大。其症為氣滯。為血痛。為停飲。為痰迷。為暑閉。為蟲齧。</p>
<p>氣滯者。或食脹。或怒沖。煩悶而痛。沉香降氣散主之。血痛者。血凝於中。痛有定處。轉側若刀針刺。手拈散主之。停飲者。乾嘔吐涎痛。作水聲。小半夏加茯苓湯主之。如有飲囊。則加蒼朮。名倒倉法。痰迷者。頑痰壅閉。不省人事。清膈煎灌之。暑閉者。汗喘昏悶。先以消暑丸灌之。再用香薷飲加益元散。</p>
<p>蟲齧者。飢時作痛。面白唇紅。化蟲丸主之。</p>
<p>心之寒。脈左寸必遲。其症為暴痛。</p>
<p>暴痛者。肢冷氣冷。綿綿不休。姜附湯加肉桂主之。</p>
<p>心之熱。火迫之也。脈左寸必數。舌尖赤。其症為目痛。為重舌、木舌。為煩躁。為不得臥。為癲狂。為譫語。為赤濁。為尿血。</p>
<p>目痛者。赤腫羞明。導赤散加連翹、菊花、蟬蛻主之。重舌、木舌者。瀉心丸主之。煩躁者。瀉心丸加竹捲心主之。不得臥者。暑熱乘心也。導赤散加益元散主之。癲狂者。棄衣罵詈。生鐵落飲主之。譫語者。邪熱攻心也。瀉心丸主之。赤濁者。萆薢分清飲加燈心、丹參主之。尿血者。阿膠散主之。</p>
<p><u>心部藥隊</u></p>
<p>〔補心猛將〕北五味〔次將〕棗仁、柏子仁、遠志、丹參、龍眼、麥冬、當歸、白芍、茯神</p>
<p>〔瀉心猛將〕石菖蒲、黃連、木通、硃砂、犀角〔次將〕山梔仁、連翹心、通草、車前子、竹捲心、燈心、蓮子心</p>
<p><u>心部列方</u></p>
<p>七福飲　治心血虛而驚悸者。</p>
<p>人參　熟地（各三錢）　當歸　棗仁（各二錢）　白朮（炒一錢五分）　炙甘草（一錢）　遠志（五分）</p>
<p>秘旨安神丸　治驚悸神魂失守者。</p>
<p>人參　棗仁　茯神　製半夏（各二錢）　當歸　炒白芍　橘紅（各一錢五分）　五味子（十粒）　炙草（五分）　生薑（三片）</p>
<p>歸脾湯　養血安神。</p>
<p>人參　白朮　當歸　白芍　棗仁（各一錢五分）　黃耆（一錢半）　遠志（七分）　炙草（五分）　龍眼肉（五枚）</p>
<p>安神定志丸　治心惕不臥。</p>
<p>茯苓　茯神　人參　遠志（各一兩）　石菖蒲　龍齒（各五錢）</p>
<p>煉蜜為丸。以辰砂為衣。每服二錢。</p>
<p>十補丸　治氣血大虧之症。</p>
<p>黃耆　白朮　萸肉　杜仲　續斷　棗仁（各一兩）　大熟地（三兩）　人參　當歸　白芍　遠志（各一兩）　茯苓　山藥（各一兩五錢）　北五味　龍骨　牡蠣（各七錢五分）</p>
<p>洋參麥冬湯　治心經虛熱而痛者。</p>
<p>洋參　麥冬　當歸（各二錢）　生地（三錢）　白芍　丹參　釵石斛（各一錢五分）　犀角　甘草（各五分）</p>
<p>清心丸　清心火。止夢泄。</p>
<p>生地（四兩）　丹參（二兩）　黃柏（五錢）　牡蠣　山藥　炒棗仁　茯苓　茯神　麥冬（各一兩五錢）　北五味　車前子　遠志（各一兩）</p>
<p>用金櫻膏為丸。每服三錢。</p>
<p>沉香降氣散　治氣滯心痛。</p>
<p>沉香（三錢）　砂仁（七錢）　炙草（五錢）　鹽水炒香附（五兩）　酒炒元胡索（一兩）　煨淨川楝子（一兩）</p>
<p>共為末。每服二錢。淡薑湯下。</p>
<p>清膈煎　治痰壅心膈。</p>
<p>制膽星（一錢）　白芥子（二錢）　海石（三錢）　陳皮　木通　川貝（各一錢）</p>
<p>化蟲丸　治蟲積心腹諸痛。</p>
<p>蕪荑　白雷丸（各五錢）　檳榔（二錢五分）　雄黃（一錢五分）　木香　白朮　陳皮（各三錢）　炒神麯（四錢）</p>
<p>以百部二兩熬膏糊丸。每服一錢五分。米飲下。</p>
<p>姜附湯　治寒厥心痛。又真心痛手足青至節。宜用本方大劑飲之。或救十中之一二。痛而喜按者。更加人參。</p>
<p>乾薑　熟附子（各三錢）</p>
<p>水煎服。</p>
<p>導赤散　治熱閉小便不通。</p>
<p>麥冬（三錢）　木通（一錢）　生地（三錢）　甘草（四分）　竹葉（十片）　車前　赤茯苓（各一錢五分）</p>
<p>瀉心丸　治心火。</p>
<p>川黃連五錢為末。燈草湯下。</p>
<p>生鐵落飲　治心熱。</p>
<p>天冬　麥冬　川貝（各三錢）　膽星　橘紅（各一錢）　遠志　石菖蒲　連翹　茯苓　茯神（各一錢）　元參　鉤藤　甘參（各一錢五分）　辰砂（三分）</p>
<p>用生鐵落煎熬三炷線香。取此水煎服。</p>
<p>萆薢分清飲　治心移熱膀胱。而為赤濁者。並治諸淋。</p>
<p>川萆薢（二錢）　炒黃柏　石菖蒲（各五分）　茯苓　白朮（各一錢）　蓮子心（七分）　丹參　車前子（各一錢五分）</p>
<p>阿膠散　治尿血。</p>
<p>阿膠（一錢）　丹參　生地（各二錢）　黑山梔　血餘　丹皮　麥冬　當歸（各八分）</p>
<p>手拈散　小半夏加茯苓湯　消暑丸　香薷飲　益元散（以上諸方俱見卷一）</p>

<h3>肝部</h3>
<p>（足厥陰屬臟）</p>
<p>肝與膽相附。東方木也。其性剛。賴血以養。自兩脅以下及少腹陰囊之地。皆其部位。最易動氣作痛。其風又能上至巔頂而痛於頭。色屬青。常現於左顴目眥。於婦人為尤甚。肝無表症。皆屬於里。肝之虛。腎水不能涵木而血少也。脈左關必弱或空大。其症為脅痛。為頭眩。為目干。為眉稜骨眼眶痛。為心悸。為口渴。為煩躁發熱。</p>
<p>脅痛者。血不營筋也。四物湯主之。頭眩者。血虛風動也。逍遙散主之。目乾者。水不養木也。六味地黃丸主之。眉稜骨眼眶痛者。肝血虛。見光則痛。逍遙散主之。心悸者。血少而虛火煽也。七福飲主之。口渴者。血虛液燥也。甘露飲主之。煩躁發熱者。虛火亢也。六味地黃丸主之。</p>
<p>肝之實。氣與內風充之也。脈左關必弦而洪。其症為左脅痛。為頭痛。為腹痛。為小腹痛。為積聚。為疝氣。為咳嗽。為泄瀉。為嘔吐。為呃逆。</p>
<p>左脅痛。肝氣不和也。柴胡疏肝散、栝蔞散並主之。頭痛者。風熱也。清空膏主之。或柴胡疏肝散。腹痛者。肝木乘脾也。芍藥甘草湯主之。小腹痛者。癥瘕之氣聚也。奔豚丸主之。有熱者去附桂。積聚者。肝積在左脅下。名曰肥氣。和中丸加柴胡、鱉甲、青皮、莪朮主之。疝氣者。氣結聚於下也。橘核丸主之。寒則加吳茱萸、肉桂。咳嗽者。木火刑金也。止嗽散加柴胡、枳殼、赤芍主之。泄瀉者。木旺剋土也。四君子湯加柴胡、木香主之。嘔吐者。木火凌胃也。二陳湯加炒黃連主之。呃逆者。氣鬱火沖也。橘皮竹茹湯主之。肝寒之症。脈左關必沉遲。其症為小腹痛。為疝瘕。為囊縮。為寒熱往來。</p>
<p>小腹痛者。寒結下焦也。暖肝煎、奔豚丸主之。疝瘕者。寒氣結聚也。橘核丸加吳茱萸、肉桂主之。囊縮者。寒主斂。故縮也。奔豚丸、四逆湯主之。寒熱往來者。欲化瘧也。小柴胡湯主之。</p>
<p>肝熱之症。脈左關必弦數。其症為眩暈。為目赤腫痛。為口苦。為消渴。為頭痛。為脅痛。為瘰癧。為聤耳。為筋痿拘攣。為氣上衝心。為偏墜。為舌卷囊縮。為小便不禁。</p>
<p>眩暈者。風熱上升也。逍遙散主之。目赤腫痛者。風熱入目也。蟬花無比散主之。口苦者。膽味苦。肝熱膽亦熱也。小柴胡湯主之。消渴者。風燥其液也。一柴胡飲主之。頭痛者。火上衝也。柴芩煎主之。脅痛者。肝火鬱也。柴胡疏肝散加栝蔞霜主之。左金丸亦可。瘰癧者。血燥筋急而生也。消瘰丸主之。兼服逍遙散。聤耳者。風熱相搏。津液凝聚而癢痛也。逍遙散去白朮。加荷葉、木耳、貝母、香附、菖蒲主之。筋痿拘攣者。血氣熱也。五痿湯加黃芩、丹皮、牛膝主之。氣上衝心者。火逆也。柴芩煎主之。甚則小承氣湯。偏墜者。熱而睪丸舒縱也。柴胡疏肝散主之。舌卷囊縮者。邪入厥陰。血涸也。大承氣湯主之。小便不禁者。肝氣熱。陰挺。失職也。逍遙散主之。</p>
<p><u>肝部藥隊</u></p>
<p>〔補肝猛將〕枸杞、北五味、烏梅〔次將〕山茱萸、菟絲子、首烏、當歸、白芍、沙苑蒺藜、鱉甲、龍骨、牡蠣、木瓜</p>
<p>〔瀉肝猛將〕鬱金、桃仁、青皮、莪朮、沉香〔次將〕香附、木香、延胡索、柴胡、山梔、川芎、川楝子、赤芍藥、栝蔞殼、白蒺藜、陳佛手、鉤藤</p>
<p>〔涼肝猛將〕龍膽草、胡黃連〔次將〕羚羊角、夏枯草、石決明、青蒿、菊花</p>
<p>〔溫肝猛將〕肉桂、桂枝、吳茱萸、細辛、胡椒、骨碎補〔次將〕菟絲子、艾葉、山茱萸、茴香</p>
<p><u>肝部列方</u></p>
<p>甘露飲　治血虛胃熱。</p>
<p>枇杷葉　生地　熟地　天冬　麥冬　黃芩　石斛（各一錢）　甘草（五分）　枳殼（八分）</p>
<p>柴胡疏肝散　治肝氣左脅痛。</p>
<p>柴胡　陳皮（各一錢二分）　川芎　赤芍　枳殼　醋炒香附（各一錢）　炙草（五分）</p>
<p>栝蔞散　治肝氣燥急而脅痛。</p>
<p>大栝蔞（一枚連皮搗）　甘草（二錢）　紅花（七分）</p>
<p>水煎服</p>
<p>清空膏　治肝經風熱入升為頭痛。</p>
<p>羌活　防風（各六分）　柴胡（五分）　黃芩（一錢二分）　川芎（四分）　炙草（一錢）　薄荷（三分）　酒炒黃連（六分）</p>
<p>芍藥甘草湯　治木侮土而腹痛。</p>
<p>酒炒白芍（三錢）　炙甘草（一錢五分）</p>
<p>奔豚丸　治小腹氣結作痛。</p>
<p>川楝子（一兩）　茯苓　橘核（各一兩五錢）　肉桂（三錢）　附子　吳茱萸（各五錢）　荔枝核（八錢）　小茴香　木香（各七錢）　橘核丸　通治七疝。</p>
<p>鹽酒炒橘核（二錢）　小茴香　川楝子　桃仁</p>
<p>醋炒香附　山楂（各一兩）　木香　紅花（各五錢）</p>
<p>以神麯三兩。打糊為丸。</p>
<p>二陳湯　治胃經寒痰。</p>
<p>半夏　茯苓　陳皮（各一錢）　炙草（五分）　生薑（二斤）　大棗（二枚）</p>
<p>橘皮竹茹湯　治氣鬱火沖呃逆。</p>
<p>陳皮（二錢）　竹茹（一團）　半夏　人參　甘草（各一錢）</p>
<p>暖肝煎　治肝腎陰寒。小腹疼痛疝氣。</p>
<p>當歸　枸杞（各三錢）　茯苓　小茴香　烏藥（各二錢）　肉桂　沉香（各一錢）　加姜（三斤）</p>
<p>蟬花無比散　治目赤腫痛。</p>
<p>蟬蛻（二兩）　羌活（一兩）　川芎　石決明　防風　茯苓　赤芍（各一兩五錢）　白蒺藜（八兩）　炙甘草　當歸（各三兩）　米泔浸蒼朮（一兩）</p>
<p>為末。開水服。</p>
<p>一柴胡飲　治外有邪而內有火。及肝燥胃渴。</p>
<p>生地（三錢）　白芍（二錢）　黃芩（一錢五分）　柴胡　陳皮（各八分）　甘草（五分）</p>
<p>柴芩煎　治內火上衝。或為痢瘧頭痛諸症。</p>
<p>柴胡（二錢）　黃芩　梔子　澤瀉（各一錢五分）　木通　枳殼（各一錢）</p>
<p>左金丸　治肝氣痛。</p>
<p>川黃連（一錢）　吳茱萸（七分）</p>
<p>消瘰丸　治瘰癧。初起即散。久服亦消。</p>
<p>蒸元參　醋煅牡蠣　蒸川貝母（各四兩）</p>
<p>蜜為丸。每服三錢。</p>
<p>五痿湯　治五臟受熱而痿。</p>
<p>人參　白朮　茯苓（各一錢）　炙草（四分）　當歸（一錢五分）　苡仁（三錢）　麥冬（二錢）　黃柏　知母（各五分）</p>
<p>四物湯　逍遙散　六味地黃湯　和中丸　止嗽散　四君子湯　小柴胡湯　四逆湯　大承氣湯　小承氣湯（以上諸方俱見卷一）　七福飲（見心部方）</p>

<h3>脾部</h3>
<p>（足太陰屬臟）</p>
<p>脾屬土。中央黃色。後天之木也。下受命門之火。以蒸化穀食。上輸穀食之液。以灌溉臟腑。故人生存活之原。獨脾土之功為最大。然其性喜燥而惡濕。一受濕漬。則土力衰。而肝木即乘以侮之。位中焦。眼胞鼻準及四肢。皆其分野。與胃相表裡。故其藥略同。脾無表症。皆屬於里。</p>
<p>脾虛者。右關脈必細軟。其症為嘔吐。為泄瀉。為久痢。為腹痛。為肢軟。為面黃。為發腫。為肌瘦。為鼓脹。為惡寒。為自汗。為喘。為積滯不消。為飲食化痰。為脫肛。為腸血。</p>
<p>嘔吐者。中空也。六君子湯加煨姜主之。泄瀉者。土不勝濕也。五味異功散加木香主之。久痢者。氣虛下陷也。補中益氣湯主之。腹痛者。肝木乘脾也。芍藥甘草湯加木香主之。肢軟者。脾屬四肢也。五味異功散主之。面黃者。本色虛現也。六君子湯主之。發腫者。皮不亮。手按成窟。補中益氣湯去升、柴主之。肌瘦者。脾主肌肉也。十全大補湯主之。鼓脹者。中空無物。氣虛也。六君子湯主之。惡寒者。陽虛不達於表也。附子理中湯主之。自汗者。脾主肌肉。表虛不攝也。五味異功散加黃耆、五味主之。喘者。土不生金也。五味異功散加北五味、牛膝主之。積滯不消者。化谷無力也。六君子湯加穀芽、砂仁、肉桂主之。飲食化痰者。土不勝濕也。六君子湯主之。脫肛者。氣虛下陷也。補中益氣湯主之。腸血者。脾不統血也。歸芍六君子湯主之。</p>
<p>脾實者。右關必洪實。其症為氣積。為血積。為食積。為痞積。為蟲積。為痰飲。為蠱脹。為腹痛。為不能食。</p>
<p>氣積者。氣鬱發悶也。沉香降氣丸主之。血積者。蓄血作痛如刺。有定處也。澤蘭湯主之。食積者。堅滯脹滿也。大和中飲主之。痞積者。血滯成痞。癥瘕痃癖可按也。太無神功散、和中丸主之。蟲積者。濕熱所化也。唇內有白點。化蟲丸主之。痰飲者。或停心下。伏兩脅有聲。咳則痛。小半夏加茯苓湯主之。蠱脹者。中實有物。非蠱即血也。和中丸主之。腹痛者。中有滯也。香砂二陳湯加山楂、麥芽、厚朴主之。不能食者。食未消也。保和丸主之。</p>
<p>脾寒之症。右關必沉遲。唇舌必白。其症為嘔吐。為泄瀉。為白痢。為腹痛。為身痛。為黃疸。為濕腫。為肢冷。為厥脫。</p>
<p>嘔吐者。食不消而反胃也。平胃散主之。泄瀉者。土失職也。六君子湯加炮姜主之。白痢者。積寒傷氣也。六君子湯加木香主之。腹痛者。綿綿不減。香砂理中湯主之。如挾食拒按。木香丸。身痛者。拘急為風。重墜為濕。風用香蘇散。濕用蒼白二陳湯。黃疸者。土為濕制。有陰寒之象。熏黃色黯。茵陳五苓散。濕腫者。不煩渴。喜熱。五苓散主之。肢冷者。陽氣不營於四末也。附子理中湯主之。厥脫者。氣衰火息也。附子理中湯加大劑人參主之。</p>
<p>脾熱之症。右關必數。舌苔薄而黃。唇赤。其症為熱吐。為流涎。為洞泄。為瀉渤。為赤痢。為腹痛。為目胞腫痛。為酒疸。為眩暈。為陽黃疸。</p>
<p>熱吐者。食不得入也。橘皮竹茹湯加薑汁炒黃連主之。流涎者。睡中出沫。脾熱蒸濕也。黃芩芍藥湯主之。洞泄者。暑濕勝土。一泄如注也。四苓散加益元散主之。瀉渤者。暑濕內搏。利如蟹渤。將變痢也。黃芩芍藥湯主之。赤痢者。暑熱傷血也。治痢奇方主之。或葛根治痢散。噤則開噤散。腹痛者。乍作乍止。芍藥甘草湯加黃連清之。目胞腫痛者。火上升也。柴芩煎主之。酒疸者。酒濕積而為疸也。加味枳朮湯加茵陳、葛根主之。眩暈者。酒濕生熱上蒸也。葛花清脾湯主之。陽黃疸者。黃如橘皮有光。目溺皆黃。梔子柏皮湯主之。如便閉。茵陳大黃湯。</p>
<p><u>脾部藥隊</u></p>
<p>〔補脾猛將〕白朮、黃精〔次將〕山藥、扁豆、苡仁、大棗、炙甘草</p>
<p>〔瀉脾猛將〕枳實、萊菔子〔次將〕神麯、麥芽、山楂、枳殼、厚朴、大腹皮、使君子、白芷、雞內金、陳皮、檳榔</p>
<p>〔涼脾猛將〕大黃、黃芩、栝蔞霜〔次將〕黃柏、山梔、知母、銀花、武夷茶</p>
<p>〔溫脾猛將〕附子、乾薑、巴豆、肉豆蔻、草果、蒼朮、胡椒〔次將〕木香、煨薑、烏藥、藿香、益智仁、砂仁、白蔻仁、蕪荑、焦穀芽、川椒</p>
<p><u>脾部列方</u></p>
<p>歸芍六君子湯　治脾陰虛弱。下血。</p>
<p>歸身　白芍（各二錢）　人參　白朮　茯苓（各一錢五分）　陳皮　半夏（各一錢）　炙草（五分）</p>
<p>大和中飲　治食積脹悶。</p>
<p>枳實（一錢）　厚朴（一錢五分）　麥芽　楂炭（各二錢）　陳皮（一錢）　砂仁（八分）　澤瀉（一錢）</p>
<p>太無神功散　治一切痞積。</p>
<p>地萹蓄　瞿麥穗　麥芽（各五錢）　神麯（二錢五分）　沉香　木香（各一錢五分）　炙草（五錢）　酒蒸大黃（二兩）</p>
<p>共為末。每服二三錢。燈心竹葉湯下。女人紅花當歸湯。</p>
<p>香砂二陳湯　治脾滯腹痛。</p>
<p>木香（一錢）　砂仁（一錢）　製半夏　陳皮　茯苓　炙草（各一錢五分）　加生薑一片大棗二枚</p>
<p>蒼白二陳湯　治受濕身痛。</p>
<p>即前方去木香、砂仁。加蒼朮、白朮各一錢。</p>
<p>保和丸　治傷食。</p>
<p>麥芽　山楂　萊菔子　厚朴　香附（各一錢）　炙草　連翹（各五分）　陳皮（一錢五分）</p>
<p>水煎服亦可。</p>
<p>香砂理中湯　治脾寒腹痛。</p>
<p>木香（一錢）　砂仁（一錢）　人參　白朮（各二錢）　乾薑　炙草（各一錢）</p>
<p>木香丸　治寒積腹痛拒按。名曰陰結。</p>
<p>木香　丁香（各一錢五分）　乾薑（三錢）　炒麥芽（五錢）　陳皮（三錢）　巴豆（三十粒）</p>
<p>以神麯煮糊為丸。每服十丸。</p>
<p>黃芩芍藥湯　治脾熱流涎。利如蟹渤等症。</p>
<p>黃芩　白芍（各二錢）　生甘草（一錢）</p>
<p>四苓散　治伏暑泄瀉。</p>
<p>白朮　豬苓　木通（各一錢）　赤苓（三錢）　車前　澤瀉（各二錢）</p>
<p>水煎。用益元散三錢沖服。</p>
<p>加味枳朮湯　治酒疸。濕熱發黃。</p>
<p>白朮（二錢）　枳實　陳皮　麥芽　山楂　茯苓　神麯　連翹（各一錢）　茵陳　荷葉（各一錢五分）　澤瀉（五分）　如傷酒加葛根一錢</p>
<p>葛花清脾湯　治酒濕生熱生痰。頭眩頭痛。</p>
<p>葛花（一錢）　枳椇子（三錢）　赤苓（三錢）　澤瀉　茵陳　酒芩（各二錢）　山梔　車前子（各一錢五分）　甘草（五分）　橘紅　厚朴（各一錢）</p>
<p>梔子柏皮湯　治鬱熱在裡而發黃疸。名曰陽黃。</p>
<p>梔子（三錢）　黃柏（二錢）　炙草（一錢）</p>
<p>六君子湯　五味異功散　補中益氣湯　十全大補湯　附子理中湯　澤蘭湯　和中丸　小半夏加茯苓湯　平胃散　香蘇散　五苓散　茵陳五苓散　益元散　葛根治痢散　治痢奇方　開噤散（以上諸方俱見卷一）　沉香降氣丸　化蟲丸（二方見心部）　芍藥甘草湯　橘皮竹茹湯　柴芩煎（三方見肝部）</p>

<h3>肺部</h3>
<p>（手太陰屬臟）</p>
<p>肺主氣。屬西方而色白。其形如華蓋。為諸陽之首。凡聲之出入。氣之呼吸。自肺司之。其性嬌嫩。故與火為仇。其體屬金而畏燥。故遇寒亦咳。凡目白及右頰鼻孔。皆其分野。然肺氣之衰旺。關乎壽命之短長。全恃腎水充足。不使虛火爍金。則長保清寧之體。而壽臻永固。</p>
<p>肺有里症。亦有表症。肺主皮毛故也。邪在表。右寸脈必浮。其症為發熱。為噴嚏鼻塞。為咳。為嗽。為畏風。為胸滿痛。為喉疼。為鼻燥。為傷暑風。為中時疫。</p>
<p>發熱者。腠理閉也。香蘇散主之。噴嚏鼻塞者。肺竅受邪也。二陳湯加蘇葉、生薑主之。咳者。無痰而有聲。氣為邪遏也。桔梗前胡湯主之。嗽者。有聲而有痰。液已化痰也。止嗽散主之。喘者。風寒閉塞也。加味甘桔湯主之。畏風者。邪在皮毛也。香蘇散主之。胸滿痛者。氣鬱而脹也。加味甘桔湯主之。</p>
<p>喉疼者。邪化火而內焰也。加味甘桔湯主之。鼻燥者。邪化火而液干也。貝母栝蔞散主之。傷暑風者。惡寒頭痛而煩渴。香薷飲加荊芥、秦艽主之。中時疫者。初頭痛發熱。漸嘔惡胸滿。或脹悶譫狂。唇焦口渴。先用香蘇散。次則神朮散。又治疫清涼散。便閉加大黃。</p>
<p>肺虛之症。右寸脈必細。其症為自汗。為咳嗽。為氣急。為咯血。為肺痿。為虛勞。</p>
<p>自汗者。氣虛表不固也。八珍湯加黃耆、北五味、麥冬主之。咳嗽者。肺虛不寧也。五味異功散主之。氣急者。金不生水而虛火上炎也。知柏八味丸主之。咯血者。陰虛動火也。初用四生丸。兼用生地黃湯。肺痿者。火刑金而葉焦也。五痿湯加天冬、百合主之。或紫菀散、人參燕窩百合湯亦可。虛勞者。吐血而成。月華九、歸脾湯、六味地黃湯並主之。</p>
<p>肺實之症。脈右寸必有力。其症為氣閉。為痰閉。為暑閉。為水閉發喘。為風閉。為火閉。為咽痛。為右脅痛。為肺癰。</p>
<p>氣閉者。氣壅塞其絡而滿悶也。加味甘桔湯主之。痰閉者。頑痰壅塞也。清膈煎主之。暑閉者。暑邪中肺而煩渴也。消暑丸加香薷、木通主之。水閉發喘者。胃經蓄水作腫而浸肺也。五皮飲主之。風閉者。風鬱於肺而哮嗽也。麻黃湯主之。火閉者。火鬱於肺而喘脹也。白虎湯加桑皮、葶藶主之。咽痛者。諸閉皆能作火也。加味甘桔湯主之。右脅痛者。肝移邪於肺也。推氣散主之。肺癰者。隱隱而痛。吐痰腥臭也。桔梗湯主之。</p>
<p>肺寒之症。外感居多。脈右寸必遲。其症為清涕。為咳嗽。為惡寒。為面色痿白。清涕者。寒搏其液也。二陳湯加蘇梗主之。咳嗽者。金畏寒也。止嗽散主之。惡寒者。陰忌其類也。香蘇散主之。面色痿白者。寒傷正氣也。六君子湯主之。</p>
<p>肺熱之症。脈右寸必數。其症為目赤。為鼻衄。為咽痛。為吐血。為咳嗽濃痰。為酒積。為龜胸。為小便不利。為便血。</p>
<p>目赤者。火剋金也。瀉白散加黃芩、菊花、連翹主之。鼻衄者。血熱妄行也。茜根湯主之。咽痛者。火逼咽道也。加味甘桔湯主之。吐血者。火動其血也。四生散、犀角地黃湯主之。咳嗽濃痰者。火刑金而灼肺液也。黃芩知母湯主之。酒積者。鼻赤鼻瘡。濕熱內蒸也。黃芩清肺飲加葛花主之。龜胸者。肺熱而脹也。白虎湯主之。小便不利者。火鑠金而化源窒也。黃芩清肺飲加鹽豉主之。便血者。肺與大腸相表裡。火迫血行也。芍藥甘草湯加黃芩、丹皮、生地主之。</p>
<p><u>肺部藥隊</u></p>
<p>〔補肺猛將〕黃耆、人參〔次將〕黨參、沙參、百合、燕窩、阿膠、懷山藥、訶子、麥冬、冰糖</p>
<p>〔瀉肺猛將〕葶藶、麻黃、白芥子、桔梗、升麻、膽星〔次將〕蘇子、牛蒡、杏仁、前胡、紫菀、桑白皮、殭蠶、竹茹、貝母</p>
<p>〔涼肺猛將〕石膏、黃芩、竹瀝、馬兜鈴、山慈菇〔次將〕洋參、元參、山梔、花粉、天冬、地骨皮、知母、麥冬、薄荷、海石</p>
<p>〔溫肺猛將〕麻黃、天南星、北五味〔次將〕蘇梗、款冬花、制牛夏、生薑、煙</p>
<p><u>肺部列方</u></p>
<p>桔梗前胡湯　治肺氣閉塞悶咳。</p>
<p>桔梗（一錢）　前胡　蘇子　赤芍　桑白皮（蜜炙）　陳皮（各一錢五分）　杏仁（三錢）　薑汁炒竹茹（一錢）　生甘草（五分）</p>
<p>加味甘桔湯　治肺郁哮喘等症。</p>
<p>甘草（五分）　桔梗　川貝　百部　白前　橘紅　旋覆花　茯苓（各一錢五分）</p>
<p>貝母栝蔞散　治肺熱液干。</p>
<p>貝母（二錢）　栝蔞仁（一錢五分）　膽星　黑山梔（各五分）　黃芩　橘紅　炒黃連（各一錢）　甘草（五分）</p>
<p>知柏八味丸　滋水降火。</p>
<p>知母　黃柏（各一錢五分）　大熟地（四錢）　萸肉　山藥　茯苓（各一錢五分）　丹皮　澤瀉（各一錢）</p>
<p>紫菀散　潤肺止嗽。並治肺痿。</p>
<p>人參（五分）　紫菀　知母　川貝　桔梗　茯苓　阿膠（各一錢）　五味子　炙草（各三分）</p>
<p>人參燕窩百合湯　潤肺清金。</p>
<p>人參（一錢如無力以洋參沙參二三錢代之）　燕窩（三錢）　百合（五錢）</p>
<p>共燉爛食之。</p>
<p>推氣散　治右脅氣痛。</p>
<p>枳殼　鬱金（各一錢）　桂心　炙草（各五分）　桔梗　陳皮（各八分）　生薑（二片）　大棗（二枚）</p>
<p>桔梗湯　治肺癰。</p>
<p>桔梗　白芨　橘紅　炒甜葶藶（各八分）　甘草　貝母（各一錢五分）　苡仁　金銀花（各五錢）</p>
<p>瀉白散　治肺熱。</p>
<p>蜜炙桑白皮（二錢）　地骨皮（三錢）</p>
<p>茜根湯　治衄血神煩。</p>
<p>茜根　黃芩　阿膠　側柏葉　生地（各二錢）　甘草（一錢）</p>
<p>犀角地黃湯　治血熱妄行及癍疹。</p>
<p>犀角尖（鎊先煎）　丹皮　麥冬　白芍（各一錢五分）　生地（四錢）</p>
<p>黃芩知母湯　治火嗽煩熱。</p>
<p>黃芩　知母　桑白皮　杏仁　天花粉　山梔　川貝　桔梗　生甘草（各一錢）</p>
<p>黃芩清肺飲　治肺熱。小便不利。</p>
<p>梔子（二錢）　黃芩（一錢）</p>
<p>香蘇散　止嗽散　香薷飲　神朮散　八珍湯　治疫清涼散　五味異功散　生地黃湯　月華丸　六味地黃湯　消暑丸　五皮飲　麻黃湯　六君子湯　四生丸　白虎湯（以上諸方俱見卷一）　歸脾湯　清膈煎（二方見心部）　二陳湯　五痿湯　芍藥甘草湯（三方見肝部）</p>

<h3>腎部</h3>
<p>（足少陰屬臟）</p>
<p>腎者。天一之水。先天之本也。位北方故黑。其體常虛。處腰左右。介其中者。有命門火蒸化穀食。名曰真陽。腎水充足。自多誕育。享大壽。凡夙夜宣勞。耄而不倦者。皆腎氣之固也。好色之流。先竭腎水。喪其本矣。瞳神下頦兩腰。皆其部位。望氣者覘之。腎無表症。皆屬於里。腎之虛。脈左右尺常細軟。其症為頭痛。為耳鳴。為耳聾。為盜汗。為夜熱。為健忘。為咳嗽。為喘。為吐血。為腰痛。為腿痠足軟。為目視無光。為大便結。為小便不禁。為戴陽。為久痢久瘧。頭痛者。血不能充髓海也。六味地黃丸主之。耳鳴者。血虛火旺也。六味地黃丸加牛膝、知母主之。耳聾者。虛閉也。六味地黃丸加枸杞、人參、石菖蒲、遠志主之。盜汗者。虛熱也。生地黃煎、八珍湯加黃耆、北五味並主之。夜熱者。虛火也。四物湯加丹皮、地骨、青蒿主之。健忘者。心腎不交也。歸脾湯、十補丸主之。咳嗽者。虛火鑠金也。六味地黃丸加白蜜、胡桃主之。喘者。水虧火炎也。知柏八味丸主之。吐血者。血虛血熱也。生地黃湯主之。腰痛者。水不足也。六味地黃丸加杜仲、川續斷主之。腿痠足軟者。血不營筋也。十全大補湯主之。目視無光者。水不足也。六味地黃丸主之。大便結者。血虛液枯也。六味地黃丸加白蜜、胡桃主之。小便不禁者。腎氣不約也。十補湯主之。戴陽者。陰火上亢。陰躁似陽躁也。金匱腎氣丸主之。久痢久瘧者。脾腎皆虛也。王母桃主之。</p>
<p>腎無實症。</p>
<p>腎之寒。腎之虛也。脈左右尺必遲沉。其症為命門火衰。為不欲食。為雞鳴泄瀉。為天柱骨倒。為蜷臥厥冷。為奔豚。</p>
<p>命門火衰者。虛象百出。左歸飲、右歸飲主之。不欲飲食者。火力微也。八味地黃丸主之。雞鳴泄瀉者。腎虛也。加味七神丸主之。天柱骨倒者。督脈空也。右歸飲主之。蜷臥厥冷者。火衰也。右歸飲、理中湯並主之。奔豚者。腎氣上衝也。奔豚丸主之。</p>
<p>腎之熱。水將涸也。傷寒門有之。而雜症罕見。左尺右尺必沉數。或浮而空。舌黑無液。其症為口燥咽乾。為目不明。為小便不利。為小便濁。為小便出血。為大便秘。</p>
<p>口燥咽乾者。水涸也。大承氣湯主之。目不明者。目無血養也。知柏八味丸主之。小便不利者。水少也。滋腎丸主之。小便濁者。濕熱結於下焦也。萆薢分清飲主之。小便出血者。腎水熱也。生地黃湯主之。大便秘者。液涸也。大承氣湯主之。</p>
<p><u>腎部藥隊</u></p>
<p>〔補腎猛將〕熟地、枸杞、淫羊藿、北五味〔次將〕生地、巴戟天、首烏、杜仲、龜板、女貞、穭豆皮、海參</p>
<p>〔瀉腎猛將〕豬苓〔次將〕澤瀉、知母、赤苓、苡仁</p>
<p>〔涼腎猛將〕朴硝、元明粉、苦參〔次將〕生地、丹皮、知母、滑石</p>
<p>〔溫腎猛將〕破故紙、鹿茸、鹿角膠〔次將〕山茱萸、菟絲子、大茴香、艾葉</p>
<p><u>腎部列方</u></p>
<p>生地黃煎　治陰火盜汗。</p>
<p>生地　當歸　炙黃耆　麻黃根　浮小麥　炙草　黃連　黃芩　黃柏（各一錢）</p>
<p>水煎服。</p>
<p>王母桃　培補脾腎。</p>
<p>炒冬白朮　大熟地（各二兩）　何首烏　炒巴戟　枸杞子（各一兩）</p>
<p>共為細末。煉蜜為丸。如圓眼大。每用三四丸。飢時服。</p>
<p>左歸飲　壯水之劑。</p>
<p>熟地（五錢）　山藥　枸杞（各二錢）　茯苓（一錢五分）　山茱萸　炙草（各一錢）</p>
<p>右歸飲　補命門真火不足。</p>
<p>熟地（五錢）　山藥　枸杞　杜仲（各二錢）　山茱萸　肉桂　製附子　炙甘草（各一錢）</p>
<p>八味地黃丸　治命門火衰。</p>
<p>製附子　肉桂（各一錢）　大熟地（四錢）　山藥　萸肉　茯苓（各一錢五分）　丹皮　澤瀉（各一錢）</p>
<p>加味七神丸　治腎虛雞鳴泄瀉。</p>
<p>肉豆蔻　吳茱萸　廣木香（各一兩）　蒸茯苓　補骨脂（鹽酒炒）　車前子（蒸各二兩）　土炒白朮（四兩）</p>
<p>大棗煎湯為丸。每服三錢。</p>
<p>滋腎丸　治下焦血熱。用此滋陰化氣。</p>
<p>黃柏　知母（各二兩）　肉桂（一錢）</p>
<p>煉蜜為小丸。</p>
<p>六味地黃湯　八珍湯　四物湯　十全大補湯　歸脾湯　生地黃湯　金匱腎氣丸　理中湯　大承氣湯（以上諸方俱見卷一）　十補丸　萆薢分清飲（二方見心部）　奔豚丸（見肝部）　知柏八味丸（見肺部）</p>

<h3>胃部</h3>
<p>（足陽明屬腑）</p>
<p>胃屬中土。司受化穀食。經云。得谷者昌。失谷則亡。其能受與否。生死系焉。其性與脾同。而畏木侮。舌之中及牙床並環唇口而交人中。皆其分野。色現黃。</p>
<p>胃為陽明。有經有腑。故有表症。右關脈必浮。傷寒邪入陽明經。其症為目痛鼻乾唇焦。嗽水不欲咽。若他表症。為面浮腫而痛。為癍疹。</p>
<p>目痛鼻乾唇焦者。邪熱作火也。葛根湯主之。面浮腫而痛者。風也。葛根湯主之。癍疹者。邪熱所化也。葛根湯加牛蒡子主之。</p>
<p>胃之虛。其唇必白。脈右關必軟弱。其症為吐。為噎膈。為不能食。為胃脘痛。為停滯。為濕腫。為痰。為嘈雜。</p>
<p>吐者。土虛木侮也。香砂六君子湯加柴胡主之。噎膈者。胃脘乾槁也。上脘槁。能飲水而食難進。下脘槁。食可入而久復出。啟膈散主之。佐以四君子湯。有鬱則逍遙散。不能食者。胃氣虛而難受也。六君子湯主之。胃脘痛者。心悸怔忡喜按。歸脾湯或四君子加柴胡、木香。停滯者。土虛不化也。枳朮丸主之。濕腫者。土不勝濕也。香砂六君子湯主之。痰者。土衰濕化也。六君子湯主之。嘈雜者。躁擾不寧。得食暫已。氣促食少。中虛挾痰也。五味異功散主之。</p>
<p>胃之實。脈右關必洪。按胸則痛。其症為結胸。為痞氣。為食積。為痰飲。為水腫。為胸脹悶。為胸脹痛。為胸痛嘔膿。為不得臥。為便閉譫語發狂。</p>
<p>結胸者。傷寒下早。邪熱結聚也。大小陷胸湯主之。痞氣者。脾之積。在胃脘。腹大如盤。和中丸加厚朴主之。食積者。脹痛拒按也。保和丸主之。痰飲者。咳則痛。轉側有聲。小半夏加茯苓湯主之。外臺茯苓飲尤效。水腫者。先腫後喘。或腫而不喘。胃經蓄水也。五皮飲主之。甚則金匱腎氣丸。胸脹悶者。積滯也。保和丸主之。胸脹痛者。蓄血也。澤蘭湯主之。胸痛嘔膿者。胃脘癰也。不必治而自愈。不得臥者。胃不和則臥不安也。二陳湯加砂仁主之。便閉譫語發狂者。胃有燥矢也。大承氣湯主之。</p>
<p>胃之寒。唇舌必白。脈右關必沉遲。其症為胃脘痛。為嘔吐。為霍亂。為吞酸噯腐。</p>
<p>胃脘痛者。肢冷氣冷。綿綿不休。姜附湯加肉桂主之。如吐蛔。加川椒、烏梅、川連、焦朮、川楝。嘔吐者。食入復出也。平胃散加煨薑、砂仁主之。霍亂者。寒濕傷胃也。和胃飲主之。吞酸噯腐者。寒不消食也。香砂二陳湯主之。胃之熱。唇舌紅口臭。脈右關必洪數。其症為三消。為嘈雜。為吐血。為齒痛。為黃胖面腫。為自汗。為舌黑燥渴。為癍疹。為便閉。為呃逆。為頭痛。</p>
<p>三消者。燥熱結聚也。口渴消水為上消。二冬湯主之。消穀易飢為中消。生地八物湯主之。口渴小便如膏為下消。六味地黃湯加生脈散主之。嘈雜者。煩擾不寧。口燥唇焦。痰火為患也。二陳湯加山梔、黃連主之。吐血者。胃火迫血妄行也。白虎湯主之。齒痛者。陽明有餘。少陰不足也。玉女煎主之。黃胖面腫者。濕熱也。和中丸主之。自汗者。熱而蒸溽也。抽薪飲主之。舌黑燥渴者。胃火熾甚也。白虎湯主之。發癍疹者。火鬱而化也。初用葛根湯加牛蒡子以散之。次用犀角大青湯加石膏。或三黃解毒湯。甚則白虎湯、調胃承氣湯。呃逆不止者。胃火上衝也。安胃飲主之。頭痛者。頭筋扛起。胃火上衝也。加味升麻湯主之。</p>
<p><u>胃部藥隊</u></p>
<p>〔補胃猛將〕白朮、黃耆、大棗〔次將〕扁豆、山藥、炙甘草、桂圓、紅棗</p>
<p>〔瀉胃猛將〕石菖蒲、枳實、雷丸、白芥子、萊菔子、神麯〔次將〕蘇梗、枳殼、蔓荊子、麥芽</p>
<p>〔涼胃猛將〕石膏、犀角〔次將〕花粉、葛根、香薷、石斛、萆薢、知母、蘆根、竹葉</p>
<p>〔溫胃猛將〕乾薑、高良薑、益智仁、肉豆蔻、草果、丁香、木香、胡椒、辛夷〔次將〕藿香、砂仁、白蔻仁、半夏、烏藥、煨薑、厚朴、川椒</p>
<p><u>胃部列方</u></p>
<p>枳朮丸　除脹消食。</p>
<p>炒枳實（一兩）　炒白朮（二兩）</p>
<p>大陷胸湯　服小陷胸湯不效。以此治之。</p>
<p>大黃（六錢）　芒硝（四錢）　甘遂（二分五釐研沖）</p>
<p>小陷胸湯　治結胸少腹滿痛。手不可近。</p>
<p>半夏（二錢）　黃連（一錢五分）　栝蔞仁（大者一個杵）</p>
<p>和胃飲　治霍亂。</p>
<p>厚朴　陳皮（各二錢）　乾薑（一錢）　炙草（六分）</p>
<p>二冬湯　治上消。</p>
<p>天冬（二錢）　麥冬（三錢）　花粉　黃芩　知母（各一錢）　人參　甘草（各五分）</p>
<p>生地八物湯　治中消。</p>
<p>生地　麥冬（各三錢）　山藥　知母　丹皮（各一錢五分）　黃芩　黃連　黃柏（各一錢）　荷葉（二錢）</p>
<p>水煎服</p>
<p>玉女煎　治陽明有餘。少陰不足。</p>
<p>熟地（四錢）　石膏　麥冬（各三錢）　知母　牛膝（鹽水炒各一錢五分）</p>
<p>抽薪飲　治一切火盛。</p>
<p>黃芩　石斛　木通　梔子　黃柏（各二錢）　枳殼　澤瀉（各一錢五分）　甘草（三分）</p>
<p>犀角大青湯　治胃火發癍。大渴大熱。或咽痛不利。</p>
<p>犀角尖　大青　元參　甘草　升麻　黃芩　黃連　黃柏　人中黃　黑山梔（各一錢五分）</p>
<p>或加石膏一兩同煎</p>
<p>三黃解毒湯　治火毒內盛。</p>
<p>黃連（二錢）　黃芩　黃柏　黑山梔（各一錢五分）</p>
<p>安胃飲　治胃火呃逆。</p>
<p>石斛　麥芽（各三錢）　黃芩　澤瀉　山楂（各二錢）　陳皮　木通（各一錢）</p>
<p>知味升麻湯　治胃火上衝。頭痛甚熾。</p>
<p>升麻　葛根　赤芍　甘草（各一錢）　石膏（三錢）　薄荷（五分）　加燈心二十寸</p>
<p>外臺茯苓飲</p>
<p>即異功散加枳實二錢。生薑三片。用真人參。</p>
<p>葛根湯　香砂六君子湯　四君子湯　逍遙散　異功散　六君子湯　和中丸　小半夏加茯苓湯　五皮飲　金匱腎氣丸　澤蘭湯　六味地黃丸　大承氣湯　平胃散　白虎湯　調胃承氣湯（以上方見卷一）　歸脾湯　姜附湯（二方見心部）　二陳湯（方見肝部）　保和丸　香砂二陳湯（二方見脾部）</p>

<h3>膀胱部</h3>
<p>（足太陽屬腑）</p>
<p>膀胱者。州都之官。津液藏焉。氣化則能出矣。然腎氣足則化。腎氣不足則不化。入氣不化。則水歸大腸而為泄瀉。出氣不化。則閉塞下焦而為癃腫。小便之利。膀胱主之。實腎氣主之也。傷寒傳經之邪。每自膀胱入。一見太陽頭痛等症。即宜發散。不使邪氣入為諸經害。則膀胱為第一關隘矣。</p>
<p>膀胱為太陽腑。有表症。左尺脈必浮。其症為頭痛。為項脊強。為身痛。四肢拘急。為發熱。為惡寒無汗。為喘嗽。</p>
<p>頭痛者。頭腦痛而連項脊也。加味香蘇散主之。甚者加羌活、蔥白。項脊強者。太陽經所過之地也。香蘇散主之。身痛四肢拘急者。風傷衛。寒傷營。寒主收引也。桂枝湯主之。發熱者。腠理閉塞也。香蘇散主之。惡寒無汗者。寒乘表也。麻黃湯主之。喘嗽者。寒邪客於皮毛。肺氣不得升降也。麻黃湯主之。輕者。止嗽散。膀胱之虛。腎氣不化也。脈左尺必細沉。其症為小便不禁。為勞淋。為老淋。</p>
<p>小便不禁者。氣虛不能統攝也。十補湯主之。勞淋者。勞力辛苦。氣虛不化也。補中益氣湯主之。老淋者。老人思色。精不出而內敗。大小便牽痛如淋。宜萆薢分清飲。去黃柏。加菟絲、遠志以去其精。再服六味地黃丸。</p>
<p>膀胱之實。脈左尺必洪大。其症為氣淋。為血淋。為關格。為膀胱氣。</p>
<p>氣淋者。氣滯。水道阻塞。臍下脹痛也。假蘇散主之。血淋者。蓄瘀莖中。割痛難忍也。生地四物湯加紅花、桃仁、花蕊石主之。關格者。溺閉而吐逆也。假蘇散主之。膀胱氣者。一名胞痹。氣結膀胱少腹。熱澀於小便也。橘核丸主之。</p>
<p>膀胱之寒。左尺必沉遲。其症為冷淋。</p>
<p>冷淋者。寒氣堅閉水道。肢冷喜熱也。金匱腎氣丸主之。</p>
<p>膀胱之熱。左尺必數。其症為小便不通。為膏淋。為石淋。為便膿血。為發狂。</p>
<p>小便不通者。渴則熱在上焦。四苓散加山梔、黃芩。不渴則熱在下焦。滋腎丸主之。膏淋者。滴液如膏也。萆薢分清飲主之。石淋者。下如沙石也。益元散加琥珀主之。便膿血者。心氣移熱於膀胱也。阿膠散主之。發狂者。傷寒熱結膀胱。下焦蓄血。少腹硬滿也。調胃承氣湯主之。</p>
<p><u>膀胱部藥隊</u></p>
<p>補膀胱藥。即補腎之藥。腎氣化則小便自行。</p>
<p>〔瀉膀胱猛將〕羌活、麻黃、防己、木通、葶藶、豬苓〔次將〕獨活、防風、蒲黃、川楝子、前胡、藁本、澤瀉、蔥</p>
<p>〔涼膀胱猛將〕甘遂、龍膽草〔次將〕車前子、茵陳、海金沙、川黃柏</p>
<p>〔溫膀胱猛將〕吳茱萸〔次將〕烏藥、茴香</p>
<p><u>膀胱部列方</u></p>
<p>假蘇散　治氣淋。</p>
<p>荊芥　陳皮　香附　炒麥芽　瞿麥　木通　赤苓（各二錢）</p>
<p>生地四物湯　治血淋。</p>
<p>生地（三錢）　歸身　赤芍（各一錢五分）　川芎（一錢）</p>
<p>香蘇散　桂枝湯　麻黃湯　止嗽散　益元散　補中益氣湯　六味地黃丸　金匱腎氣丸　調胃承氣湯（以上諸方俱見卷一）　十補丸　萆薢分清飲　阿膠散（三方見心部）　橘核丸（見肝部）　四苓散（見脾部）　滋腎丸（見腎部）</p>

<h3>膽部</h3>
<p>（足少陽屬腑）</p>
<p>膽者。清虛之府。居半表半裡之交。與肝為表裡。氣血足則膽氣壯。氣血虛則膽氣怯。膽受邪即陰陽交戰。而寒熱往來。故瘧症之來不一。而總不離乎少陽也。然其擔事之力。猶中正之官。不偏不倚。決斷出焉。</p>
<p>膽有表症。左關脈必浮而弦。其症為頭汗。為寒熱往來。</p>
<p>頭汗者。寒邪將化火也。小柴胡湯加丹皮主之。寒熱往來者。陰陽相爭也。小柴胡湯主之。</p>
<p>膽之虛。左關脈必細軟。其症為驚悸。為太息。</p>
<p>驚悸者。心血不足以壯之也。安神定志丸主之。太息者。氣虛也。四君子湯主之。</p>
<p>膽之實。左關脈必洪。其症為胸滿。為脅痛。為耳聾。</p>
<p>胸滿者。邪氣結聚也。小柴胡湯加枳殼、桔梗主之。脅痛者。邪入膽經。布之脅下也。小柴胡湯加山梔、枳殼主之。耳聾者。氣火上衝而閉也。逍遙散加蔓荊、石菖蒲、香附主之。或小柴胡湯。</p>
<p>膽之寒。脈左關必遲。其症為精滑。為嘔吐。為舌苔滑。</p>
<p>精滑者。肢腫食少。心虛煩悶。坐臥不安。溫膽湯主之。嘔吐者。邪正相爭也。小柴胡湯加藿香湯主之。</p>
<p>舌苔滑者。邪未化火也。二陳湯主之。</p>
<p>膽之熱。脈左關必弦數。其症為口苦。為嘔吐。為盜汗。為目眩。</p>
<p>口苦者。熱在膽。膽汁泄也。小柴胡湯主之。嘔吐者。膽移熱於胃也。小柴胡湯加姜炒竹茹主之。盜汗者。熱開腠理也。小柴胡湯加丹皮主之。目眩者。膽附於肝。肝竅在目。熱故眩也。小柴胡湯加山梔主之。</p>
<p><u>膽部藥隊</u></p>
<p>〔補膽猛將〕烏梅〔次將〕棗仁</p>
<p>〔瀉膽猛將〕桔梗、青皮〔次將〕柴胡、香附、秦艽、川芎</p>
<p>〔涼膽猛將〕龍膽草〔次將〕青蒿、槐實</p>
<p>〔溫膽猛將〕肉桂、細辛〔次將〕山茱萸</p>
<p><u>膽部列方</u></p>
<p>溫膽湯　治膽氣虛寒。夢遺精滑等症。</p>
<p>製半夏（一錢五分）　枳實（八分）　陳皮　茯苓（各一錢五分）　人參（一錢）　熟地　炒棗仁（各三錢）　遠志（一錢）　五味子（一錢）　甘草（炙五分）　生薑（三片）　棗（一枚）</p>
<p>小柴胡湯　四君子湯　逍遙散（以上三方俱見卷一）　安神定志丸（見心部）　二陳湯（見肝部）</p>

<h3>大腸部</h3>
<p>（手陽明屬腑）</p>
<p>大腸者。腎陰之竅。傳道之官。受事於脾胃。而與肺金相表裡。故肺氣虛則腸若墜。而氣為之陷。腸液少則肺亦燥而鼻為之干。其呼吸甚密邇也。然腸口上接小腸。下通穀道。為諸臟泄氣之門。啟閉一失職。而諸臟困矣。大腸無表症。皆屬於里。</p>
<p>大腸虛者。氣虛也。脈右尺必沉弱。其症為久痢。為脫肛。</p>
<p>久痢者。氣血不足也。歸脾湯、十全大補湯、補中益氣湯加烏梅均可。脫肛者。氣虛下陷也。補中益氣湯加荷葉主之。</p>
<p>大腸實者。胃實移熱也。脈右尺必洪實。其症為便閉。為臟毒。為燥渴譫語發狂。為腸癰。</p>
<p>便閉者。實火閉也。小承氣湯主之。臟毒者。腸胃不清。下如魚腸。如豆汁也。芍藥甘草湯主之。燥渴譫語發狂者。燥屎不出也。小承氣湯主之。腸癰者。當臍而痛。溺數如淋。千金牡丹皮散主之。</p>
<p>大腸寒者。積冷也。脈右尺必沉遲。其症為久痢。為便血。</p>
<p>久痢者。腹綿綿痛。寒積在腸也。鴉膽子包粉團吞之。便血者。肢冷喜熱。寒在腸也。附子理中湯加歸、芍主之。</p>
<p>大腸熱者。肺經移熱居多。脈右尺必數。其症為便血。為腸風。為脫肛。</p>
<p>便血者。口燥唇焦。熱在腸也。芍藥甘草湯加黃芩、丹皮、生地。腸風者。臟腑有熱。風邪乘之。故下血而腹不痛。清魂散主之。脫肛者。腸有火則脫出難收。腫而痛也。三黃解毒湯加知母、荷葉主之。</p>
<p><u>大腸部藥隊</u></p>
<p>〔補大腸猛將〕淫羊藿、罌粟殼〔次將〕訶子肉、百合</p>
<p>〔瀉大腸猛將〕大黃、桃仁、雷丸、麻仁、升麻、紫草〔次將〕秦艽、旋覆花、郁李仁、杏仁、大腹皮、白芷、梨汁</p>
<p>〔涼大腸猛將〕黃芩、黃柏〔次將〕地榆、槐實、知母、連翹</p>
<p>〔溫大腸猛將〕胡椒、破故紙、枸杞〔次將〕當歸</p>
<p><u>大腸部列方</u></p>
<p>千金牡丹皮散　治腸癰。</p>
<p>丹皮　苡仁（各五錢）　栝蔞仁（一錢五分）　桃仁（十二粒研）</p>
<p>水煎服。如大便閉。加大黃錢半。當歸三錢。</p>
<p>鴉膽子方　治久痢。寒積在腸。</p>
<p>用鴉膽子一個蒸透。將米粉包作糰子蒸熟。以開水囫圇吞下。空心服。</p>
<p>清魂散　治腸風下鮮血。而腹不痛者。</p>
<p>荊芥（炒黑三錢）　當歸（五錢）</p>
<p>十全大補湯　補中益氣湯　附子理中湯　小承氣湯（以上諸方俱見卷一）　歸脾湯（見心部）　芍藥甘草湯（見肝部）　三黃解毒湯（見胃部）</p>

<h3>小腸部</h3>
<p>（手太陽屬腑）</p>
<p>小腸者。受盛之官。化物出焉。其上口即胃下口。水穀由此而入。其下口即大腸上口。此處泌別清濁。俾水液注入膀胱。滓穢流入大腸。是腑中之有鑑別者。故與心相表裡。脈附於膀胱而在左尺。小腸無表症。皆屬於里。</p>
<p>小腸虛。左尺脈必細軟。其症為溺赤短。為腰痛。</p>
<p>溺赤短者。水不勝火也。生地黃湯主之。腰痛者。水不足也。六味地黃丸主之。</p>
<p>小腸實。左尺脈必洪弦。其症為小腸氣。為交腸。</p>
<p>小腸氣者。氣滯下焦。臍下轉痛。失氣則快也。橘核丸主之。交腸者。陰陽拂逆。大小腸交也。五苓散主之。</p>
<p>小腸寒。左尺脈必遲。其症為咳嗽失氣。</p>
<p>咳嗽失氣者。小腸嗽也。止嗽散加芍藥主之。</p>
<p>小腸熱。左尺脈必數。其症為溺澀溺短。</p>
<p>溺澀溺短者。濕熱壅滯也。導赤散主之。</p>
<p><u>小腸部藥隊</u></p>
<p>〔補小腸猛將〕生地</p>
<p>〔瀉小腸猛將〕木通〔次將〕瞿麥、海金沙、川楝子、苡仁、赤芍、赤茯苓、燈草</p>
<p><u>小腸部列方</u></p>
<p>生地黃湯　六味地黃丸　五苓散　止嗽散（俱見卷一）　導赤散（見心部）　橘核丸（見肝部）</p>

<h3>三焦部</h3>
<p>（手少陽屬腑）</p>
<p>三焦者。人生三元之氣。臟腑空處是也。上焦心肺居之。中焦脾胃居之。下焦肝腎膀胱大小腸居之。其氣總領臟腑營衛經絡。內外左右上下之氣。三焦通則竟體調和。斯其職已。</p>
<p>三焦之病。屬於臟腑。並無另立病名。</p>
<p><u>三焦部藥隊</u></p>
<p>〔補三焦猛將〕淫羊藿、黃耆</p>
<p>〔瀉三焦猛將〕青皮、木香〔次將〕柴胡、香附</p>
<p>〔溫三焦次將〕烏藥、白豆蔻、胡桃</p>
<p>〔涼三焦次將〕山梔、麥冬、黃柏、地骨、青蒿、連翹</p>

<h3>心包絡部</h3>
<p>（手厥陰屬腑）</p>
<p>心包絡者。即膻中。與心相附。居膈上。代君行事。臣使之官。喜樂出焉。其見證有手中熱。心中大熱。面黃目赤。心中動諸端。而要之包絡之病。即心部之病也。言心不必更言包絡矣。</p>

<h1>卷三</h1>

<h2>兒科證治</h2>

<h3>兒科論治</h3>
<p>小兒之病。百倍難於方脈。其疾痛疴癢不能自言。旁人又不能代言。全恃醫家以意揣之。揣之不合。殺人易於反掌。即揣得其當。而小兒純陽之體。易虛易實。藥一過分。變幻百端。此非絕頂聰明。好學深思。心知其意者。未易勝任也。至於護惜之深。姑息之至。則飽暖失宜。果物恣食。畏苦廢藥。或求速雜投。則又非醫家之咎矣。然揣之之法。不過辨其表裡虛實寒熱。其法與方脈無異。其症亦與方脈同。方脈中之病。小兒亦無不有也。故不能兒科者。或能治方脈。不能方脈者。必不能治兒科。</p>

<h3>初生保治</h3>
<p>初生三朝。即用三黃湯解其胎毒。服三四日後。每日投金銀花湯。至彌月而止。可保其痘稀。而少瘡疹之患。若遇寒冬之月。或小兒體寒質薄。則專用金銀花湯亦可。彌月間聲直髮搐。撮口臍風。是胎風也。俗名腹裡驚。因其母肝氣素郁。兒稟受之。再浴時斷臍時。或有進風。得外風則內風動。此症發之太早。泣不出聲。泣而無淚者。皆難治。治法。痰盛者先治痰。火盛者先清火。或用益黃散治之。視其牙齦有泡。急以綿裹指擦破之。用青黛、冰片。略塗口內為妙。至三歲以前。形質微弱。無脈可憑。但察其脈之強弱緩急而已。須更審其食指寅卯辰三關。男左女右。食指近手第一節為寅關。次節為卯關。上節為辰關。凡兒有病。必有脈紋外現。如現紋在寅關。不過卯關者易治。連卯關者難治。過辰關者更難治。若一條紋。從寅關直透卯透辰者必死。其紋青色為風。紫為瀉利。青紫為肝木乘脾。紅則為熱。合之唇舌面色。亦可得其大概也。三歲後六七至為平脈。四五至為寒。九十至為困。脈弦急為氣不和。沉緩為傷食。促結為虛驚。浮為風。沉細為寒。脈亂者不治。</p>

<h3>外熱內熱辨</h3>
<p>外熱與內熱不同。外熱者。身終日發熱。或拘束肢冷。外有清涕咳嗽。頭痛鼻塞之象。內則脈浮而不渴。此外解之症也。不可用涼藥。宜荊防散表之。得汗自愈。內熱者。如夜熱潮熱。晝輕夜重。病最纏綿。或口渴。或腹脹。或盜汗。其症有因傷食停痞。伏燥伏火。陰虛陽虛等異。宜分別而治。此內解之症也。不可用表藥。傷食者。保和丸加地骨皮消之。停痞者。和中丸加鱉甲、牡蠣消之。伏燥者。貝母栝蔞散潤之。伏火者。黃芩芍藥湯加山梔、丹皮等清之。陰虛者。蒿皮四物湯退之。陽虛者。四君子湯養之。此等熱久必傷陰。日漸削瘦。成為疳癆。慎勿忽視。</p>

<h3>非驚論</h3>
<p>方脈中有中寒中暑諸症。時醫混以為中風。東垣、景岳以非風別之。善矣。兒科有急驚風慢驚風二症。不惟驚字全無干涉。即風字亦未可混稱。乃自有驚風之名。而濫以丸子相投。從此小兒之遭其劫者。不知萬萬矣。試思驚字何解。凡受嚇者謂之驚。嚇則神魂失守。心神恍惚。惕惕悸動。唯心虛者易犯此。在方脈中亦有之。兒科中大驚猝恐一症。即此候也。是真驚也。故用藥以人參、五味、棗仁、丹參等安神定魂為主。斷無有攻痰散風而能治驚症者。且風字亦有二義。在外感則為風邪。宜用表散。在內病則為肝風。宜用鎮息。今混言之曰風。究竟外風乎。內風乎。治外風之藥不可以治肝。治肝風之藥不可以解表。甚矣哉其混也。蓋時俗所謂急驚風者。痰火閉也。小兒受暑熱則生火。乳積則生痰。痰火相搏。則血虛而肝失所養。肝主筋。筋脈乾熱則抽搐。故外作拘攣。面現青色。是肝燥而風內動。非外風也。是痰火閉其竅。而目竄牙緊發厥。非嚇驚也。但利其竅。清其火。降其痰。則神醒矣。此症即不醫亦能自醒。而漫以驚風名之可乎。世俗所謂慢驚風者。脾虛生風也。小兒或吐或瀉。久則脾虛。肝木乘之。手足微搐。是內風侮土。非外風也。陽衰神怠。氣息短促。是中氣脫乏。非嚇驚也。宜補其脾。回其陽。則土振而木靜矣。此症不補必死。而謬以驚風名之可乎。且急驚為實火症。慢驚為虛寒症。如水火然。治急驚藥不可以治慢。治慢驚藥不可以治急。而世俗竟有以一粒丹丸。名之曰治急慢驚風。欺人乎。欺天乎。茲特並揭之曰非驚。而分為痰火閉症。木侮土症。則為實為虛。當各求其病源而治之。而小兒庶不至於枉死。</p>

<h3>痰火閉症</h3>
<p>痰火之症。即俗所謂急驚風也。小兒或感風寒。或積乳食。皆能生痰。痰積則化火。或受暑熱亦生火。失於清解。則火升而痰亦升。痰火上壅。閉其肺竅。則諸竅皆閉。其症目直氣喘。昏悶不醒。且火甚則肝燥筋急。為搐搦掣顫反引竄視。而八候生焉。總因痰火鬱結。肝風內動而成。當其拘攣弓仰之時。但以手扶。勿可用力抱緊。傷其筋絡。致成廢疾。初起以通關散開其嚏。得嚏則醒。輕者利火降痰湯。重者清膈煎加石菖蒲、竹茹。或抱龍丸。醒後清熱養血湯。</p>

<h3>木侮土症</h3>
<p>木侮土症。即俗所謂慢驚風也。小兒受暑受寒。或傷乳食。皆能作吐作瀉。或吐瀉交作。久則脾土虛弱。肝木乘之。其瀉漸見青色。面部痿白帶青。手足微搐無力。神氣懨懨不振。而慢脾成矣。初起即宜異功散。吐則加藿香、煨姜。若病已數日。糞見青色。即加木香或肉桂。若手足皆冷。脈息微細。唇舌痿白。此將脫之症。宜急用附子理中湯。以溫中回陽。尚有可救。諸臟之症皆緩。獨脾病之變甚速。盡有吐瀉一晝夜而即脫者。慎勿緩視也。</p>

<h3>大驚猝恐</h3>
<p>大驚猝恐。真驚也。小兒氣血未充。心神怯弱。一遇驚嚇。則神魂震怖。舉動失常。夜則跳醒。晝則驚惕。治宜安神魂。斂心氣。七福飲、秘旨安神丸、安神定志湯皆可。心有蘊熱而驚悸者。七味安神丸。神定後。氣虛者。四君子湯以補其陽。血虛者。六味地黃丸以補其陰。若妄投以硃砂鎮驚丸子。耗其心血。則愈發愈盛。肝風乘虛而亢。其勢不可複製矣。慎之。</p>

<h3>夜啼</h3>
<p>夜啼之症有二。一曰脾寒。一曰心熱。若僅胃停乳食。則不能安寐而已。不啼也。脾寒者。溫其脾而啼止。藿香和中湯主之。心熱者。清其心而啼亦止。導赤散加川連主之。或花火膏亦可。切勿亂投消痰破氣之藥。致損真元。</p>

<h3>吐瀉</h3>
<p>小兒吐瀉之症最多。或專吐。或專瀉。或吐瀉交作。其因傷食而吐瀉者。腹必硬。所吐所瀉。必有酸臭氣。保和丸消之。因伏暑而吐瀉者。小水必不利。必兼煩渴。吐則香薷飲。瀉則四苓散加益元散。或導赤散加川連清之。因受寒而吐瀉者。唇舌面色必痿白。口不渴。四肢或冷。此症易成慢脾。始則平胃散、二陳湯加煨姜。以溫其中。繼則六君子湯。以補其脾。若虛寒甚。則附子理中湯。不可稍緩。其因伏火而吐瀉者。身必熱。唇舌必赤。清中飲導之。火退後。仍宜四君子湯。以養其脾。蓋火吐則乳飲不得入。一入即出。寒吐則乳飲受而後出。此其辨也。然吐瀉久則脾胃必虛。肝木必侮。無論因何而起。凡大吐大瀉之後。即有火亦清。有食亦出。速宜培補脾陽。勿使氣脫。</p>

<h3>傷暑</h3>
<p>小兒性秉純陽。不受火迫。一染邪暑。熱焰沸張。其症肌熱煩躁。口渴唇紅。溺澀。急宜香薷飲調服益元散以解之。且暑中有濕。濕易傷脾。故每作瀉利。甚者兼吐。治法詳吐瀉門。若受暑風而清涕頭痛者。用香薷飲加秦艽、荊芥主之。若熱動肝風而發搐厥。宜用清熱湯利其暑熱。而風自息。昏悶者。通關散啟其嚏。切勿輕用治驚化痰之品。戕其正氣。變生他症。</p>

<h3>食積痞積蟲積痰積水積</h3>
<p>諸積皆屬於脾。脾土果旺。則何物不化。至於成積。脾力之弱可知已。然積既已成。勢不能不用藥以消。夫欲消困脾之積。必更傷受困之脾。願治積者。必時時顧念脾土而後可。食積者。肚腹必硬。膨脹拒按。吞酸噯腐。不思飲食。保和丸、大和中飲等消之。脾虛者。六君子湯參用。痞積者。或瘧後痰結。或血裹肝氣。伏於脅下。時痛時止。和中丸消之。外貼消痞膏。氣虛者。六君子湯參用。蟲積者。濕熱所化也。蟲有九而血鱉最狠。蝤蟲最馴。寸白蟲上能蝕肺。柳葉蟲下能蝕肝。凡患蟲症。則唇內起白點。若蟲長一尺。貫胃則危。衝心則死。其人日漸消瘦。蟲則吸血自肥。當以化蟲丸下之。腹痛則服花椒湯。蟲聞椒則伏也。下後。仍以異功散養脾。痰積者。飲食所積。脾不能化。則釀而為痰。其症初起時。兩脈皆弦。腹漸脹大而軟。急宜六君子湯加厚朴、麥芽、萊菔子等以消之。若遷延日久。則痰積愈多。一旦上湧。發為厥逆。則吐之不能。下之不得。無藥可治也。水積者。即水腫之症。治法具詳卷一。</p>

<h3>疳症</h3>
<p>疳者干也。久熱傷陰。津液乾涸之症。俗名童子癆。其症總因飲食不節。積滯化火。漸或生痞生蟲。致成骨蒸。內熱銷灼其陰。其症腹大青筋。髮直毛焦。肌膚枯燥。唇舌絳紅。而疳症成矣。此症陰血既槁。勢已難回。況又有熱未清。積未去乎。善治者。必乘其陰血未槁之時。清其火。消其積。育其陰。調其脾胃。尚克有濟。初治宜清熱導滯湯。有蟲者。唇內起白點。以化蟲丸間服。若陰分既虛。則用理陰和中煎。胃口不開。則並用異功散調其胃。俾得陽生陰長。庶幾有救。大約此症腹軟者。雖虛可治。為其能受補也。腹硬者難治。為其不可消也。</p>

<h3>盜汗自汗</h3>
<p>盜汗為陰虛。自汗為陽虛。然亦有秉質如此。終歲習以為常。此不必治也。若平日並無此症。又非夏秋暑月。而無端盜汗者。宜四物湯加龍骨、牡蠣、浮小麥、北五味之屬。以養其陰。無端自汗者。宜四君子湯加北五味、牡蠣。以養其陽。或加玉屏風散亦可。</p>

<h3>咳嗽</h3>
<p>小兒咳嗽。半由於風寒。初起以杏蘇煎散之。痰薄者。加半夏、生薑。痰濃者。加川貝、花粉、栝蔞仁之屬。肺有火邪。則瀉白散。此一定之治法也。若秋冬燥令。肺受火刑。則咳而無痰。甚者咳血。宜以貝母栝蔞散潤其肺。清肅之氣下行。則咳自止。</p>

<h3>解顱龜胸龜背</h3>
<p>解顱者。腦蓋未滿。頭顱不合。中陷而四角起。如古錢之形。此先天不足所致。暑月服六味地黃丸。冬春之月補天大造丸。俟氣虛漸充。則自合矣。龜胸者。肺熱作脹。胸骨高起。須白虎湯加瀉白散。以涼肺氣。若喘急者。難治也。龜背者。背骨高突如龜。此先天不足。督脈為病。補天大造丸加金毛狗脊治之。</p>
<p>此外諸症治法。與方脈同。故不贅敘。</p>
<p><u>兒科列方</u></p>
<p>三黃湯</p>
<p>黃芩　黃柏　川黃連　大黃（各一錢）</p>
<p>濃煎。將絲綿作乳頭狀。蘸藥時時令吮。每日五六回。不必盡劑。</p>
<p>益黃散</p>
<p>陳皮（一錢）　青皮　訶子肉　炙草（各五分）　丁香（三分）</p>
<p>荊防散</p>
<p>荊芥（一錢）　防風　蘇梗　川芎　陳皮（各八分）　杏仁（二錢）　甘草　姜皮（各三分）</p>
<p>保和丸</p>
<p>山楂炭　茯苓　萊菔子（各一錢五分）　神麯　半夏　陳皮　連翹（各一錢）</p>
<p>和中丸</p>
<p>白朮（二兩）　扁豆　茯苓　砂仁　半夏（各一兩）　枳實　神麯　炒麥芽　楂炭　香附　丹參（各一兩五錢）　陳皮　五穀蟲（各二兩）</p>
<p>共為末。每服三錢。</p>
<p>貝母栝蔞散</p>
<p>川貝（二錢）　栝蔞仁（一錢五分）　山梔　黃芩　橘紅（各一錢）　甘草（五分）　熱甚加川連八分痰多加膽星五分</p>
<p>黃芩芍藥湯</p>
<p>黃芩　白芍（各二錢）　生甘草（一錢）</p>
<p>蒿皮四物湯</p>
<p>生地（三錢）　北沙參　炙鱉甲（各二錢）　歸身　白芍　青蒿（各一錢）　地骨皮（一錢五分）　丹皮（八分）　甘草（五分）</p>
<p>四君子湯</p>
<p>人參　茯苓（各一錢）　白朮（一錢五分）　炙甘草（五分）　大棗（三枚）</p>
<p>通關散</p>
<p>細辛　皂角（各三錢）　生半夏（二錢）</p>
<p>共研末。吹入鼻孔取嚏。</p>
<p>利火降痰湯</p>
<p>黃連（八分）　連翹（一錢五分）　山梔　滑石（各二錢）　木通　黃芩　枳實　栝蔞霜　車前（各一錢）　鉤藤（四錢）　柴胡（六分）　甘草（三分）</p>
<p>清膈煎</p>
<p>制膽星　木通（各一錢）　白芥子　川貝（各二錢）　海石（三錢）　陳皮（一錢五分）</p>
<p>抱龍丸</p>
<p>膽星（二錢）　天竺黃（一錢五分）　雄黃　辰砂（各一錢）　麝香（三分）</p>
<p>共為末糊丸。燈心湯下。</p>
<p>清熱養血湯</p>
<p>細生地（三錢）　丹參（一錢五分）　黑山梔　青蒿　丹皮（各一錢）　赤芍（八分）　生甘草（五分）</p>
<p>異功散</p>
<p>即前四君子湯加陳皮一錢。</p>
<p>附子理中湯</p>
<p>人參　白朮（各二錢）　附子　乾薑　炙草（各一錢）</p>
<p>七福飲</p>
<p>人參　熟地（各三錢）　歸身　棗仁（各二錢）　白朮（一錢五分）　炙草（一錢）　遠志（五分）</p>
<p>秘旨安神丸</p>
<p>人參　棗仁　茯神　半夏（各二錢）　歸身　白芍　橘紅（各一錢五分）　北五味　炙草（各五分）　生薑（三片）</p>
<p>安神定志丸</p>
<p>茯苓　茯神　人參　龍齒（各一錢）　遠志（五分）</p>
<p>七味安神丸</p>
<p>黃連　當歸　麥冬　茯苓　甘草（各二錢）　硃砂（三錢）　冰片（二分）</p>
<p>共研末為丸。燈心湯下一錢。</p>
<p>六味地黃湯</p>
<p>熟地（四錢）　山藥　萸肉（各二錢）　丹皮　澤瀉　茯苓（各一錢五分）</p>
<p>藿香和中湯</p>
<p>藿香（八分）　厚朴　砂仁　陳皮　炙草（各五分）　生薑（二片）　此方加蒼朮白芷蘇梗川芎香附楂炭麥芽治感寒停食</p>
<p>導赤散</p>
<p>生地（二錢）　木通　麥冬　車前　竹葉（各一錢）　甘草（三分）　加燈心三十寸虛者加人參五分</p>
<p>花火膏</p>
<p>燈花三顆煎湯。</p>
<p>香薷飲</p>
<p>香薷　扁豆　厚朴（各一錢五分）　炙草（五分）</p>
<p>四苓散</p>
<p>白朮（一錢）　赤苓（三錢）　木通　豬苓（各一錢）　車前　澤瀉（各一錢五分）</p>
<p>益元散</p>
<p>滑石粉（六錢）　生甘草（一錢）</p>
<p>平胃散加減</p>
<p>藿香　厚朴（各一錢五分）　蒼朮（八分）　陳皮（一錢）</p>
<p>二陳湯</p>
<p>製半夏　陳皮　茯苓（各一錢五分）　炙甘草（五分）　生薑（二片）</p>
<p>六君子湯</p>
<p>即前四君子湯加半夏一錢五分。陳皮一錢。</p>
<p>清中飲</p>
<p>川連（五分）　釵石斛　生穀芽（各三錢）　赤苓　車前（各二錢）　酒芩　藿香（各八分）　加薑汁炒竹茹一錢五分</p>
<p>清熱湯</p>
<p>鉤藤（四錢）　山梔　連翹　青蒿（各一錢五分）　殭蠶　赤芍　香薷（各一錢）　滑石（二錢）　川連　柴胡（各五分）</p>
<p>大和中飲</p>
<p>炒麥芽　楂炭（各三錢）　枳實　砂仁（各六分）　陳皮　厚朴　澤瀉（各一錢）</p>
<p>化蟲丸</p>
<p>蕪荑　雷丸（各五錢）　檳榔　本香　白朮　陳皮　神麯（各三錢）　雄黃（一錢五分）</p>
<p>共為末糊丸。使君子肉三錢煎湯。送下三錢。</p>
<p>清熱導滯湯</p>
<p>胡黃連（五分）　地骨皮　楂炭（各二錢）　青蒿　山梔　大腹皮（各一錢五分）　炒麥芽（三錢）　檳榔　厚朴　丹皮　生甘草（各一錢）　加紅棗五枚</p>
<p>理陰和中煎</p>
<p>生地　北沙參　生穀芽（各三錢）　地骨皮　首烏　青蒿子　炒麥芽　穭豆皮　牡蠣（各二錢）　白芍　楂炭（各一錢五分）　厚朴　丹皮（各一錢）</p>
<p>四物湯</p>
<p>熟地（四錢）　歸身　白芍（各一錢五分）　川芎（一錢）</p>
<p>玉屏風散</p>
<p>生黃耆（二錢）　防風（八分）</p>
<p>杏蘇煎</p>
<p>杏仁（二錢）　蘇梗　前胡　赤芍　荊芥（各一錢）　陳皮（八分）　桔梗　甘草（各五分）</p>
<p>瀉白散</p>
<p>桑白皮（蜜炙一錢五分）　地骨皮（二錢）</p>
<p>白虎湯</p>
<p>生石膏（四錢）　知母（一錢五分）　粳米（一撮）　甘草（五分）</p>
<p>補天大造丸</p>
<p>人參（二兩）　黃耆　白朮（各三兩）　當歸　棗仁　山藥　茯苓（各一兩五錢）　熟地　枸杞（各四兩）　河車（一具）</p>
<p>用鹿角一斤。龜板八兩熬膏。同為丸。</p>

<h1>卷四</h1>

<h2>女科證治</h2>
<p>天台程鍾齡女科一卷。悉從諸大家論說中斟酌盡善而出之。字字毫髮無憾。並無近世臨證指南等纖巧習氣。故依治每收實功。茲卷大半宗此。以為女科正範。此外諸症。與方脈同治者。概不贅敘。</p>

<h3>婦女證論</h3>
<p>婦女之症。不肯對人言。與小兒之不能自言。其難治一也。醫家又未便逐細詢間。則更暗中摸索矣。然大要不離乎中情鬱結者近是。蓋婦女陰嗇之性。識見拘墟。一有逆意。即牢結胸中。又不能散悶於外。則鬱久而成病矣。主治之法。審無外感內傷別症。唯有養血疏肝四字。用四物湯、逍遙散之類。可以得其八九。其一切雜症。與方脈同治。茲不贅敘。若胎前產後。此生死交關處。詳敘於後。慎勿忽諸。</p>

<h3>室女</h3>
<p>室女天癸未至。有病從幼科論。天癸既行。則與婦人同治矣。然其神完氣足。經水應無愆期。其有時經閉者。若非血海乾枯。必其經脈逆轉。血枯則內熱咳嗽。漸成怯症。經逆則為吐為衄。血必妄行。皆非輕候也。須速治之。如或經水適來。偶阻溺竅。則小便不通。腹脹欲死。急宜通其經而便自利。用調經飲。</p>

<h3>月經</h3>
<p>經者常也。月行有常度。經水有常期。其愆乎常者。皆病也。方書以趲前為熱。退後為寒。此說亦難盡信。要之。察其色總以紅為正。其變為紫黑者。熱也。黃如米泔者。濕也。淺淡紅白者。虛也。或成塊而紫黑。色黯者。寒凝也。成塊而紫黑。色明者。熱結也。將行而腹痛拒按者。氣滯血凝也。既行而腹痛喜按者。氣虛血少也。經前發熱者。為血熱。經後發熱者。為血虛。腹脹者。為氣滯。腹痛者。為血滯。泄瀉者。是脾虛。溏瀉者。是寒濕。凡逆行上溢而吐衄。錯行下流而暴崩。皆屬血熱妄行。而亦有絡脈傷損。瘀積肝旺所致。若經水過多者。色淡為虛。色深為熱。或兼赤白帶而下者。臭者為濕熱。腥者為寒濕。血枯與經逆者。並用益母勝金丹加牛膝主之。經阻溺竅者。調經飲並澤蘭湯主之。經水紫黑者。生地四物湯加丹參、丹皮、益母草。淡紅者。八珍湯主之。黃如米泔者。六君子湯加苡仁、扁豆。寒凝成塊者。四物湯加桂心、牛膝。熱結成塊者。生地四物湯加丹參、丹皮、益母草。氣血凝滯而作痛脹者。調經飲或四物湯加延胡、香附、木香。氣虛血少。而或痛或熱者。四物湯加人參、白朮。泄瀉溏利者。六君子湯主之。血熱而上下妄行者。四物湯加丹皮、阿膠、黃芩、黑山梔。絡脈傷而妄行者。或喜怒。或過勞。八珍湯主之。瘀血積則血不歸經。獨聖丸主之。肝火旺不能藏血者。逍遙散主之。其兼赤白帶者。五苓散加減治之。</p>

<h3>肝氣</h3>
<p>肝氣者。婦女之本病。婦女以血為主。血足則盈而木氣盛。血虧則熱而木氣亢。木盛木亢。皆易生怒。故肝氣唯婦女為易動焉。然怒氣泄則肝血必大傷。怒氣鬱則肝血又暗損。怒者。血之賊也。其結氣在本位者。為左脅痛。移邪於肺者。右脅亦痛。氣上逆者。頭痛目痛。胃脘痛。氣旁散而下注者。手足筋脈拘攣。腹痛小腹痛。瘰癧乳岩。陰腫陰癢陰挺諸症。其變病也不一。隨症而治之。</p>
<p>左脅痛。肝氣不和。柴胡疏肝散。若七情鬱結。用逍遙散、解恨煎。右脅痛。用推氣散。如肝燥而皮泡脹痛者。栝蔞散。頭痛者。痛或連眉稜骨眼眶。逍遙散主之。目痛者。蒺藜湯加柴胡、山梔。胃脘痛者。沉香降氣散、柴胡疏肝散並主之。手足筋脈拘攣者。肝氣熱也。五痿湯加黃芩、丹皮。腹痛者。木乘土也。芍藥甘草湯主之。小腹痛者。疝瘕之氣。橘核丸主之。</p>
<p>瘰癧者。血燥有火也。消瘰丸散之。兼服逍遙散。乳岩者。逍遙散、歸脾湯二方間服。陰腫陰癢陰挺諸症。逍遙散主之。甚則龍膽瀉肝湯。</p>

<h3>帶下</h3>
<p>帶症有青黃赤白黑之分。亦不必分屬五臟。總之不外乎脾虛有濕而已。用五味異功散加扁豆、苡仁、山藥、澤瀉等。無不愈者。倘挾五色。則加本臟藥一二味亦可。若有熱。加黃柏、蓮心為得。</p>
<p>青色屬肝。異功散加柴胡、山梔。黃色屬脾。加石斛、荷葉、陳米。赤色屬心。加丹參、當歸。白色屬肺。倍加苡仁。黑色屬腎。加杜仲、續斷。</p>

<h3>嗣孕</h3>
<p>求嗣之法別無他術。只有實心待人。廣行善事而已。男子葆精。女子調經。詩曰。婦人和平。則樂有子。男女有病。或氣血不足。隨症調理。無不得子者。至有孕之脈。左寸心脈動甚。為孕子之兆。心主血。心脈旺則血旺。故知有子。若兩尺脈旺。與兩寸迥別。亦為有子。若流利雀啄。亦為孕脈。蓋經脈閉塞不行。故脈疾而歇至。此數月之胎也。或謂兩寸皆浮大。主生二男。兩手皆沉實。主生二女。若經斷三月。以川芎末煎艾湯。空心服之。腹內微動者。即胎也。葆精之道。首宜寡欲。次宜服藥。</p>
<p>真水虛而左尺無力者。六味丸合五子丸。或左歸丸。真火衰而右尺無力者。八味丸合五子丸。或右歸丸。兩尺俱無力者。十補丸合五子丸。精薄不凝者。六味丸合五子丸。加魚鰾、鹿角膠之屬。氣虛不能射遠者。贊育丹主之。</p>
<p>調經之法。見於月經篇。</p>
<p>血熱者。益母勝金丹加生地、丹皮。血寒者。益母勝金丹加肉桂。氣滯腹痛者。四物湯加延胡、香附、木香。或調經飲。氣虛者。四物湯加人參、白朮、黃耆。氣血並虛者。毓麟珠主之。</p>

<h3>胎前諸症</h3>
<p>妊娠之月。宜節欲食淡。勿過勞。亦勿過佚。日常走動。以活其胎。屏絕嗔怒。以靜其性。自然易生易育。兒亦聰明多壽矣。然兒在腹中。為時又久。一切皆能致病。備舉其症。以示治法。</p>
<p>惡阻者。濁氣閉塞中脘。停痰眩暈。嘔吐滿悶。宜二陳湯加枳殼主之。脾虛者。六君子湯加蘇梗、砂仁、香附。</p>
<p>胎動不安者。起居不慎也。安胎飲主之。</p>
<p>胎漏者。經水忽下。血瀝盡則胎不保。四物湯加防風、黃芩主之。如血虛。加茯苓、阿膠、艾葉。氣虛下陷者。補中益氣湯。</p>
<p>子懸者。胎上逼也。紫蘇飲加減主之。更有氣逆而厥暈者。名曰子眩。其症甚危。亦用前藥。如脾虛挾痰者。六君子湯。</p>
<p>胎不長者。產母宿疾所致。五味異功散。或八珍湯主之。</p>
<p>子煩者。煩心悶亂也。四六兩月居多。火盛而煩。淡竹葉湯。若氣滯而悶。宜二陳湯加白朮、黃芩、蘇梗、枳殼。</p>
<p>子癇者。血虛受風。忽然口噤反張。其症最暴。受風者。羚羊角散定之。若怒動肝火者。佐以逍遙散。胎氣上逆者。佐以紫蘇飲。</p>
<p>子鳴者。小兒口中脫出胞乳。腹內哭聲也。須曲腰就地。如拾物狀。一二刻。疙瘩仍入兒口。即止。用四物湯加白朮、茯苓。以安胎氣。</p>
<p>子喑者。腎脈系舌本。為胎氣壅閉。故不能言。不須服藥。分娩後自能言矣。</p>
<p>小便不通者。小腸有熱也。四物湯加黃芩澤瀉主之。然有胞胎墜壓。胞系繚亂。點滴不通者。名曰轉胞。其禍最速。茯苓升麻湯主之。或服補中益氣湯。隨服而探吐之。</p>
<p>胎水腫滿者。名曰子腫。由胞胎壅遏。水飲不流所致。五皮飲加白朮、茯苓主之。脾虛不能制水者。六君子湯。</p>
<p>乳自出者。名曰乳泣。生子多不育。八珍湯補之。</p>
<p>熱病損胎者。病熱而胎損腹中也。古方用黑神散下之。或平胃散加朴硝五錢下之。更穩。產母面赤舌青。其子已損。若面青舌赤。母亦難全。慎哉。</p>
<p>小產者。未足月而欲生。總因勞傷所致。急用安胎飲以安之。既產而腹痛拒按者。瘀血也。當歸澤蘭湯主之。</p>
<p>小產後血不止。或煩渴面赤。脈虛微者。氣血大虛也。八珍湯加炮姜補之。若腹痛嘔瀉。脾胃虛也。香砂六君子湯加薑、桂。</p>

<h3>臨產將護法</h3>
<p>臨產之月。一宜善養。勿呆坐。勿多睡。勿飽食。常食糜粥。以解飢渴。天熱則擇涼處。天寒則擇暖室。二宜選穩。須預請老練穩婆。備辦需用之物。臨產時但用老婦二人撐扶。不許多人喧鬧。三宜服藥。懷孕八月。宜服保產無憂湯二三劑。臨產時再服此劑。撐開道路。則兒易生。如或連日不產。用力太早。宜服加味八珍湯。以助其力。人生人系天生人。有自然之造化。不假人力強為。其有調護失宜而為逆產者。則命在呼吸。備列方法。以保兩全。</p>
<p>凍產者。天寒氣血凝滯。難以速生。須暖其室。厚其衣服。</p>
<p>熱產者。暑月過熱。恐頭目昏眩。而生血暈。宜就涼處。若水閣風雨。更宜謹避。</p>
<p>橫生者。兒方轉身。用力太急也。產母宜安然仰睡。令老練穩婆先推兒身順直。以中指探兒肩。不令臍帶扳羈。然後用脫花煎催之。產母努力。兒即順生。</p>
<p>倒產者。兒未轉身。努力太早。手腳先出也。令穩婆輕手推入。若良久不生。穩婆手入產戶。就一邊撥轉兒頭。服脫花煎。</p>
<p>偏產者。兒已轉身。母努力太急。逼兒頭偏一邊。雖露頂。非也。乃額角耳。令穩婆輕手扶正其頭。兒即下。若兒頂後骨偏注穀道。露額。穩婆輕手於穀道外旁托正。產母努力即生。</p>
<p>礙產者。兒轉身時。臍帶絆其肩。以致不生。穩婆輕手推兒向上。以中指按兒肩。脫去臍帶。即生。</p>
<p>盤腸產者。臨產子腸先出。然後生。子腸出時。以潔淨漆器盛之。用蓖麻子四十九粒研爛。塗產母頂。腸即收。急洗去其藥。其腸若干。以磨刀水少許溫潤之。又有用麻油紙燃點燈。吹熄。以煙燻其鼻。腸即上。交骨不開。有鎖骨者。有血虛不能運達者。令穩婆以麻油調滑石。塗入產門。或用兩指緩緩撐開。服加味歸芎湯、脫花煎。</p>
<p>產門不閉。氣血虛也。八珍湯補之。如不應。十全大補湯。</p>
<p>胞衣不下者。因力乏不能努力。宜用物系定。再服歸芎湯。即下。或血入胞衣。脹大不下。心腹脹痛。喘急。急用清酒送失笑丸三錢。其衣自下。如不應。花蕊石散、牛膝散亦得。</p>

<h3>產後諸症</h3>
<p>產後最宜將護。一曰倚坐。上床以被褥靠之。暑月以橙靠之。不可遽然睡倒。須至十日後。方可平睡。常以手從心摩至臍下。俾瘀露下行。二曰擇食。初生後宜專食粥。半月後方可食打開雞蛋。滿月後可食羊肉、豬蹄等物。三曰避風。養神。少言語。大忌梳頭濯足。恐招風濕。四曰服藥。初產畢。即用生化湯或歸薑湯。以驅瘀血。自然安吉。其有變生他症者。隨症治之。產後血暈者。瘀血上攻。胸腹脹痛拒按。宜歸芎湯下失笑丸。若去血過多。心慌自汗。用歸姜飲加人參。甚則加熟附子。</p>
<p>產後不語者。由心腎不交。氣血虛弱所致。七珍散、歸脾湯並主之。若虛火上炎。六味地黃丸。產後發熱者。若無風寒表邪之象。則血虛也。四物湯加黑姜補之。或加童便為引更效。如有脾虛傷食。用異功散加神麯、麥芽。大凡風寒發熱。晝夜不退。若血虛與傷食發熱。則晡熱晨退。然傷食更必吞酸噯腐滿悶。以此為別。更有氣血大虛。陰躁作渴者。乃陽隨陰散之危候。十全大補湯救之。</p>
<p>狂言如見鬼神者。有敗血上衝。胸腹脹痛。宜澤蘭湯並失笑丸。若血虛神不守舍。則心慌自汗。宜安神定志丸加人參、歸、芎治之。歸脾湯亦得。</p>
<p>心神驚悸者。心血空虛也。七福飲、秘旨安神丸之類。</p>
<p>汗多變痙者。陽氣大虛也。十全大補湯主之。</p>
<p>產後身痛。若遍身手按更痛者。瘀血凝滯也。四物湯加黑薑、桃仁、紅花、澤蘭化之。若身痛喜按者。血虛也。四物湯加黑薑、參、術補之。若兼風寒。必頭痛鼻塞惡寒。宜古拜散加當歸、川芎、秦艽、黑姜散之。</p>
<p>產後腰痛。若上連脊背。下連腿膝者。風也。獨活寄生湯主之。若專腰痛者。虛也。八珍湯加杜仲、續斷、肉桂。若惡露不盡。痛如錐剌者。速用桃仁湯化之。免作癰腫。</p>
<p>產後心腹諸痛。受風寒者。口鼻氣冷。停食者。吞酸噯腐。俱用二香散。惟瘀血作痛。若刀錐之刺。失笑丸主之。其中氣虛寒。腹中冷痛。得熱則止者。理中湯加桂心。若小腹痛處有塊。不可手按者。此名兒枕痛。瘀滯也。失笑丸主之。</p>
<p>惡露不絕者。因肝氣不和。用逍遙散。因脾不統血。用歸脾湯。若因瘀滯而新血不得歸經。必腹痛拒按。歸芎湯下失笑丸。</p>
<p>蓐勞者。寒熱食少頭脹肢痛。最難調治。八珍湯養之。</p>
<p>喘促者。榮血暴竭。衛氣無依。最為難治。六味地黃湯加人參。若脾肺兩虛。四君子湯加黑薑、當歸。若瘀血入肺。口鼻起黑氣及鼻衄者。此肺胃將絕之候。急服參蘇飲。如厥冷自汗。更加附子。間有得生者。</p>
<p>產後乳少。由元氣虛弱。八珍湯主之。若乳房焮脹。是未通也。速宜吮通。服王不留行湯。若為兒口吹氣。壅腫不通。不急治即成乳癰。速服栝蔞乳香散。敷香附餅。若兒飲不盡。留乳作腫者。亦如前法。亦有鬱怒而乳腫者。於栝蔞乳香散內加柴胡、赤芍、橘葉、甘草。</p>
<p>乳癰初起。由膽胃熱毒。服栝蔞乳香散。敷香附餅即消。如已成膿。則以神仙太乙膏貼之。吸盡膿則愈矣。</p>
<p>乳岩初起。內結小核。不赤不痛。漸大而潰。形如熟榴。內潰深洞。此脾肺鬱結。氣血虧損。最為難治。初起用加味逍遙散、加味歸脾湯。二方間服。亦可內消。及其病勢既成。雖有盧扁。亦難為力。</p>
<p>乳卸者。乳頭拖下一二尺。此肝經風熱發泄。用小柴胡湯加羌防主之。蓖麻子四十九粒。麝香一分。研塗頂心。俟乳頭收上。即洗去。</p>

<h3>女科列方</h3>
<p>益母勝金丹　調經行血。</p>
<p>砂仁拌熟地　酒蒸當歸　酒蒸茺蔚子　土炒上白朮　酒炒香附（各四兩）　酒炒白芍　酒蒸丹參（各三兩）　酒蒸川芎（二兩五錢）</p>
<p>以益母草八兩。酒水各半熬膏。蜜丸。開水下。</p>
<p>獨聖丸　去瘀積。</p>
<p>五靈脂去土。炒煙盡。為末。醋丸。酒送下。</p>
<p>蒺藜湯　治目赤腫痛。</p>
<p>白蒺藜（一錢五分）　荊芥　赤芍（各一錢）　羌活　防風（各七分）　甘草（五分）　加有須蔥白二段</p>
<p>龍膽瀉肝湯　治肝經濕熱。</p>
<p>龍膽草　澤瀉（各一錢）　車前子　木通　生地　山梔　酒炒當歸　黃芩　甘草（各五分）</p>
<p>解恨煎　治暴怒傷肝。氣逆脹滿。</p>
<p>陳皮　半夏　厚朴　茯苓（各一錢五分）　蘇葉　芍藥（各一錢）　砂仁（七分）</p>
<p>如脅肋脹痛加白芥子一錢。如胸膈氣滯加枳殼、香附、藿香。</p>
<p>調經飲　治經阻氣滯而作痛者。</p>
<p>當歸（三錢）　牛膝　山楂　香附（各二錢）　青皮　茯苓（各一錢五分）</p>
<p>五子丸　此方同六味丸八味丸合成。為種子之方。</p>
<p>枸杞子　菟絲子（各四兩）　五味子　車前子　覆盆子（各二兩）</p>
<p>石斛六兩熬膏。蜜丸。開水下四錢。</p>
<p>贊育丹　治男子精衰陽痿。而艱子息。</p>
<p>熟地　白朮（各八兩）　當歸　枸杞（各六兩）　杜仲　仙茅　韭子　巴戟肉　山茱萸　淫羊藿　肉蓯蓉（各四兩）　蛇床　附子　肉桂（各二兩）</p>
<p>毓麟珠　治婦人氣血虛。而經不調不孕者。</p>
<p>人參　白朮　茯苓　芍藥　川芎　炙草　杜仲　鹿角霜　川椒（各二兩）　熟地　當歸　菟絲子（各四兩）</p>
<p>蜜丸。空心服。</p>
<p>安胎飲</p>
<p>當歸　川芎　白芍　熟地　茯苓　阿膠（各一錢）　白朮（三錢）　炙草　艾葉（各三分）</p>
<p>紫蘇飲</p>
<p>當歸　川芎　紫蘇（各一錢）　炙草　人參　白芍（各五分）　大腹皮（八分）　加姜一片蔥白一寸</p>
<p>淡竹葉湯</p>
<p>淡竹葉（七片）　黃芩　知母　麥冬（各一錢）　茯苓（二錢）</p>
<p>羚羊角散</p>
<p>羚羊角　獨活　當歸（各二錢）　川芎　茯神　防風　炙甘草（各七分）　鉤藤（三錢）　桑寄生（二錢）　人參（八分）</p>
<p>茯苓升麻湯　治妊娠小便不通。</p>
<p>茯苓（赤白各五錢）　升麻（一錢五分）　當歸（二錢）　川芎（一錢）　苧根（三錢）</p>
<p>或調琥珀末二錢服更佳</p>
<p>黑神散　隆冬寒月。及體氣虛寒者用此。</p>
<p>桂心　當歸　芍藥　炙草　乾薑　生地（各一兩）　黑豆（二兩）　附子（炮去皮五錢）</p>
<p>當歸澤蘭湯</p>
<p>當歸　澤蘭　酒芍　川芎　熟地（一錢五分）　延胡索　紅花　香附　丹皮（各五分）　桃仁（七粒）</p>
<p>保產無憂湯　臨產日。先服一二劑。</p>
<p>酒洗當歸（一錢五分）　川貝（一錢）　黃耆（八分）　艾葉（七分）　酒芍（一錢二分）　菟絲子（一錢四分）　薑汁炒厚朴（七分）　荊芥（八分）　枳殼（六分）　川芎（一錢三分）　羌活（五分）　甘草（五分）　姜（三片）</p>
<p>加味八珍湯</p>
<p>人參　白朮（各一錢）　茯苓（八分）　當歸（五錢）　炙草（三分）　川芎（一錢五分）　酒芍（二錢）　熟地（一錢五分）　乳香（五分）　酒炒丹參（三錢）　益母草（二錢）</p>
<p>加味歸芎湯</p>
<p>當歸（五錢）　川芎（三錢）　龜板（童便炙三錢）　婦人頭髮（一握燒灰存性）</p>
<p>脫花煎　凡將產。先服此藥催生最佳。胎死腹中。加朴硝三錢即下。</p>
<p>當歸（八錢）　肉桂（二錢）　川芎　牛膝（各二錢）　車前子（一錢五分）　紅花（一錢）</p>
<p>失笑丸　治瘀血脹胞。並治兒枕痛。</p>
<p>五靈脂（去土炒）　蒲黃（炒）</p>
<p>等分為末。醋丸。每服三錢。酒下。</p>
<p>花蕊石散　服此瘀血化水。其人即蘇。</p>
<p>花蕊石（一斤）　上色硫黃（四兩）</p>
<p>為末和勻。入瓦罐封固。用炭煅二炷香。取研。童便酒下。</p>
<p>牛膝散　治胎衣脹急。緩則不救。</p>
<p>牛膝　川芎　炒蒲黃　丹皮（各一兩）　桂心（四錢）　當歸（一兩五錢）</p>
<p>共為末。每服五錢。水煎。</p>
<p>生化湯　產後去瘀要藥。</p>
<p>當歸（三錢）　黑姜（五分）　川芎（一錢五分）　益母草（一錢）　桃仁（七粒研）　</p>
<p>歸薑湯　產後心慌自汗。</p>
<p>當歸（三錢）　黑姜（七分）　炒棗仁（一錢五分）</p>
<p>七珍散</p>
<p>人參　石菖蒲　生地　川芎（各一兩）　防風　辰砂（各五錢）　細辛（一錢）</p>
<p>為末。薄荷湯調下。</p>
<p>古拜散　產後受風諸症。</p>
<p>荊芥穗為末。每服三錢。生薑湯調下。</p>
<p>獨活寄生湯</p>
<p>獨活　桑寄生　防風　秦艽　威靈仙　牛膝　茯苓（各一錢）　桂心（五分）　細辛　炙草（各三分）　當歸　金毛狗脊（各二錢）</p>
<p>桃仁湯</p>
<p>桃仁（十粒炒）　當歸（三錢）　牛膝（二錢）　澤蘭（三錢）　蘇木（一錢）</p>
<p>二香散　散寒消食。</p>
<p>砂仁　木香　黑姜　陳皮　炙甘草（各一兩）　香附（三兩）</p>
<p>共為末。</p>
<p>參蘇飲</p>
<p>人參（一兩）　蘇木（三錢）</p>
<p>王不留行煎</p>
<p>王不留行（一錢五分）　通草（一錢）　赤芍（一錢五分）　蔥白頭（五個）　炒麥芽（三錢）</p>
<p>栝蔞乳香散</p>
<p>栝蔞（一個）　明乳香（二錢）</p>
<p>酒煎服。</p>
<p>香附餅</p>
<p>香附（一兩）　麝香（二分）　</p>
<p>共研勻。以蒲公英二兩。酒調藥敷之。</p>
<p>神仙太乙膏　治一切癰疽。</p>
<p>元參　白芷　當歸　肉桂　生地　赤芍　大黃（各一兩）　黃丹（十三兩炒篩）</p>
<p>用麻油二斤熬藥。去渣成珠。入黃丹再熬為膏。</p>
<p>四物湯　逍遙散　澤蘭湯　八珍湯　六君子湯　生地四物湯（即四物湯去熟地用生地）　五苓散　異功散　六味丸（即六味地黃湯）　二陳湯　補中益氣湯　五皮飲　平胃散　香砂六君子湯　十全大補湯　理中湯（即附子理中湯）　小柴胡湯（以上諸方俱見卷一）　柴胡疏肝散　栝蔞散　五痿湯　芍藥甘草湯　橘核丸　消瘰丸（以上諸方見肝部）　推氣散（見肺部）　沉香降氣丸　歸脾湯　十補丸　安神定志丸　七福飲　秘旨安神丸（以上見心部）　左歸丸　八味丸　右歸丸（以上見腎部）</p>
