<header data-type="book">
<h1>新刻圖形枕藏外科</h1>
</header>

<h1>原序</h1>
<p>余少學琴書，雅不請醫術，自己未篆渠歲華五，易年來頻與四物六君於交，跡復染瘡恙，問醫渠城，罕得明效。偶於友人篋中，胠獲《枕藏外科》一書，傳者未審誰何，而依方調治，輒致痊愈，猶以為偶己，而患瘡症者靡不各收奇效，始嘆是書之妙而神也！萬世之若瘡患者甚夥，脫僅秘之私囊，毋乃非薄濟之。□□□□□□昔袁了凡先生功過格云：傳人一方，□□□□□□不淺。遂有刊播志。客有詰者□□□□□□人用心已。但古醫書之傳，必出□□□不朽。故叔和扁鵲輩，至今膾炙人口。此書□□□名，或尋常方士，浪傳世中，似未刊付梓，而□□□□□□知方無音乎！期於響應。古來方書充棟，鮮有如□□□□□□指畫覼縷而靈應不爽者，則非庸手能辨可決，奚必標名榜字，始號神醫哉！客唯而退，力請公世。余因於薄書之暇，照式繪形，注病於前，注方於後，捐金鐫板，葺為一書，俾患者觸目朗然，仿依療治，自收成效，未必非濟世之一助也。其中字跡間有舛訛，姑存而不論，庶幾郭公夏五之遺意云。</p>
<p><u>長夏河扎李云驌良齋氏謹識</u></p>

<h1>一、枕藏外科諸症</h1>

<h2>第一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖內有二病，上名肝脾肺發背，下名蓮子穿心發背。肝脾肺發背長一尺，闊八寸，深五寸三分，雖潰至骨而膜不穿者，不死。此症因飲食受濕熱之毒，在脾膜之間，然脾至內，易作臭惡膿血，急服追疔奪命湯，次用化毒消腫托裡散，再用內托千金散，中敷解毒生肌定痛散，外四邊甫鐵箍拔毒散，以雞蛋青或蜜調貼，不時用水濕淘，不可令圍藥乾燥。暑熱天日洗數次，急須內外夾攻，後收口用生肌膏。蓮子穿心發背，發於中背右脾，毒若攻心十無一生，急用千金化毒湯日服三四貼，外加圍藥，不令攻心，一或走透，通背皆腫則不可救，小者可治。夫諸痛瘡癢皆發於心火，蓋心主血而行氣。凡走透瘡互，皆有至養成病，急於至癘上打火針三四次為妙。急用化毒消腫托裡散，加南星、草烏、木鱉、貝母、大蒜、生薑汁、米醋、日夜敷之，留中頭，時以醋潤濕，二三日即消。</p>
<p>蓋心至血而行氣，氣滯血凝而或癰疽也。癰，壅也；疽，陷也。癰屬陽，大而高竇，六腑不和之所致也；疽屬陰，平而內陷，五臟不不和之所成也。</p>

<h2>第二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名蜂窠發背，宜急治，不急治則穿膜必死。此症頭在上發，最為逆惡，十不治一，務要仔細用藥，不得緩視切須查忌生冷毒物。急用千金托裡散三四帖，復用化毒消腫托裡散，外四邊用鐵箍散，內用生肌定痛散，恐毒攻入心膜也。</p>

<h2>第三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名散走流注發背，症因風盛生熱熱極所致。毒因熱極乖風而四面沸騰，急宜疏風散熱則血和氣順，毒自止矣。然用藥如救然援溺，若流走四肢及穿膜必死。</p>

<h2>第四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名兩頭髮背，似滿天星斗，十不救一。此症受飲食之毒致之。氣與食沖相合，因虛而成，氣虛而走，散，所以瘡口開闊，急須內消，亦宜補陽也。外敷神方鐵箍散，後用千金內托散，又用二十四味化毒流氣飲。瘡須用乳香定痛散，亦用仙方紅子膏收其膿。</p>

<h2>第五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名腎俞發背，亦名穿心發背。此症受濕熱邪氣而成毒，及氣怒酒色過度，或飲熱酒傷腎，腎中濕熱毒壅流於腎俞。急須內外夾攻，服藥數帖以解之。後用生肌藥。</p>
<p>若陰發而傷腎膜者難治。服藥當以柴胡獨活湯。</p>

<h2>第六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有二症，上名脾癰，下名腎俞雙發脾癰。發於左膊之間，用燈火粹，打破後服追疔奪命湯，汗出為效。腎俞雙發，酒色過度，苦於惱怒，受濕熱而成毒。陽發外腫可治，陰發內陷而潰腎膜膿清稀者難治，當服艽活歸芍湯。</p>

<h2>第七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖右搭手，發於右肩骨上動轍之處若串左肩難治。宜用摻敷藥於外，服湯藥於內。或真人活命飲，或千金內托止痛散。</p>

<h2>第八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>形圖左搭肩，發於左肩能動之處，可治難愈，串於右肩尤為難矣。用雞黃皮及絮焙焦研末，有膿乾摻，無膿清油和敷。湯藥同於右。雞黃皮即肫內之黃皮，絮，即雞之裝食肐袋也。</p>

<h2>第九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有三症，曰穿心發，曰左肋疽，曰右腸疽。治法俱同。但穿心發發於心，名曰井疽。方書云，井疽如豆大，三四日起，不急治，下流入腹，十日當危。此症因食生冷及自死牛馬豬羊毒肉，即結熱毒於臟腑，若以氣塊氣癖治之，誤矣。此蓋寒抑熱極而腫也。急用千金托裡散，外用神方鐵箍散甫定，再用二十四味化毒活血流氣飲。</p>

<h2>第十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖背後對心發，蓋心火熱盛而食生冷，若寒柳熱毒，鬱極而流走及串肩者，急用疏導心火活血通氣之劑，然後用清心定痛生肌藥敷之，又服化毒消腫湯，次用千金托裡內消散，外四邊敷鐵箍拔毒散。</p>

<h2>第十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖男乳蜂窠發胸，通心乳之間。心火盛，熱毒迅，急用疏導心火，稍遲則熱毒攻心必死。先服化毒消腫散，外敷拔毒鐵箍散。忌刀針。再服千金內托散，當歸連翹散，瘡頂以保生錠敷之，生肌定痛散洗之。</p>

<h2>第十二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名後心蜂窠發背，灼赤腫痛者可治，若流注兩肩則難治矣。內服外敷治法，與男乳蜂窠發背相同。</p>

<h2>第十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名兩脅發疽，因內傷而氣虛，切忌補陽助熱之劑，恐熱太盛傷骨及膜。宜服柴胡青皮桔梗飲。</p>

<h2>第十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖鬢際及頸後兩邊與左右鬢邊。初起如核者，急宜取去病根；若腦心發者，熱毒上及於腦，四邊掀赤腫硬，連於耳項，寒熱疼痛，不急救則氣血滯，毒熾膿潰頭面腐矣。此圖五發，為疽，右為瘦，宜服追疔奪命湯四五帖，後服生肌定痛托裡散。</p>

<h2>第十五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖乳發，即乳癖，有兒外吹，有孕內吹。有孕以內托流氣飲用之，無孕用千金化毒湯，敷以鐵箍散，若出膿用生肌定痛散敷之。此症受於肝肺憂怒之郁，悲恩之氣及飲食之毒，凡寒暑濕之所成也。</p>
<p>番花榴髮乳，曰崖崩者，乳房傷壞矣。三十二三可治，四十以上不急治則危。急用流氣飲、托裡散、上宣湯，中用解毒生肌散，再服復元通氣散。</p>

<h2>第十六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖腦後發疽，大而紫黑色，不急救則熱毒流於淵腋，前傷任脈，內攻心肝肺臟，十日危矣。急用化毒消腫托裡散及內托千金散，生肌定痛散，痛甚再加乳香定痛散，瘡頭上敷生肌長肉散，四邊敷鐵箍散。</p>

<h2>第十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖耳後友，離耳一寸三分，一名揩口疽又名發頤，其毒其銳，生於致命之處也。以其毒攻喉下，故曰銳毒。其毒上攻連頤而穿口者必穿喉而死。急用千金化毒湯、乳香定痛散，又用二十四味活血流氣飲，外敷鐵箍散。</p>
<p>石、氣、筋、血等瘦，生於頭面等處，大如拳小如慄，或軟或硬，不疼痛，不發寒熱，切忌刀針砭炙，宜服海藻散、破血散，忌一切毒物及生冷、甘辛魚腥藥物。</p>

<h2>第十八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名九發：曰中府，曰巨闕，曰中脘，曰期門，曰章門，曰天樞，曰丹田，曰關元，曰京門。驗其膜之穴而審部其所食何物，看其氣之虛實，毒之淺深大小，穿潰出處可治，內傷膜腸大便出膿者難矣！急用千金托裡散，化毒湯，追疔奪命湯，二十四味活血流氣飲。</p>

<h2>第十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖人面瘡，生肘關節與膝頭處。急服流氣飲、外不愈者以苦參湯補其腎，又敷解毒生肌定痛散，後用膏藥並生肌散甫之。</p>

<h2>第二十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有三症。臀上生疽，近大小便處難治，生於實處可治，急服內托流氣飲。腿上生血□風瘡，男上生下，女下生上，頑毒難愈其瘡遊走，上腳即腳發背，急用鐵箍散、苦參丸、二十四味活血流氣飲。外臁瘡，腎虛，濕熱之毒下注，亦脾腎濕熱，用苦參丸，敷以解毒生肌定痛散，後用隔紙膏。</p>
<p>附臁瘡方：黃蠟五錢，玲珍珠二分，象牙燒質五分，花椒少許，潮腦、香油適量、煎膏，用油紙攤膏，帖上神效。</p>
<p>又經驗臁瘡神方。頭髮灰，小酒粬，百草霜，銅綠，以上四味各半酒盅，惟銅綠略少，共和勻調香用桑麻紙攤膏藥帖之，不可露藥，一張即愈多年成漏者三五日一換，先用茶洗淨，帖藥四圍遮嚴，切勿漏藥，慎之！</p>

<h2>第二十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有二病。懸癰腎陰發，乃腎受寒濕，日久鬱熱，邪凝經絡，氣血阻礙。宜服托裡散。若陰囊腫硬者，雖屬膀胱經受病，大約治法亦同，但加車前子、木通、淡竹葉、牽牛、何首烏。</p>
<p>發背脊上長者為黃瓜毒，園者為甜瓜毒，長尺二三寸，皮不紅，高突二寸，急痛。上頭大者為逆，下頭大者為順。急用千金化毒湯以散熱毒，不使成膿，又用鐵箍散，以雞蛋清、蜂蜜、廣膠同和黏之，留口泄毒。</p>

<h2>第二十二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有二症，上兩搭，下雙搭。即上兩搭和臀腿雙搭。上搭病源治法列於二十四圖內。下雙搭若略生上些即腎俞雙發，因酒色肆欲，濕鬱化熱。主陽發在外可治，如發寒熱為陰發，陰發傷腎膜，膿水清稀者為血氣虛，難治。宜服追疔奪命湯、柴胡獨活湯。左右臀腿雙發，初起可用燈火打破，急服追疔奪命湯，用千金托裡散。</p>

<h2>第二十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖左上搭，亦名上串，若偏於右脅之間即名脾癰。脾胃不和，氣血凝滯。故發肩背脊間能動之處可治，連肩骨串右者難治。老弱者，十不治一。急用千金化毒湯，消腫托裡散，後用流氣飲，外敷鐵箍散、解毒生肌定痛散。瘡頭用紅子膏收其膿水。熱天用蔥椒湯日洗二三次，再用雞肫內黃皮及嗉袋烙干為末，濕則揩乾，調麻油塗之。</p>

<h2>第二十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖右上搭，亦名串上，連肩骨串左者難治。治法與左上搭大同。</p>
<p>附：背搭一切惡瘡危者，用鮮桑葉連枝袁煙，將人置板上，板鑿一孔，露瘡在外，薰片時即化水而愈。</p>

<h2>第二十五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有二症，上名兩搭肩，下名左右脅疽。蓋因胃虛氣虛而成，切忌補陽助熱之藥，蓋虛而得熱，藥熱虛熱愈盛，傷其脾膜也。急用追疔奪命湯，化毒活血湯，外敷鐵箍散，頂敷生肌定痛散。日用七寶湯煎洗二三次。</p>

<h2>第二十六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有二症，上名肩癰搭肩，病源治法參二十五圖。</p>
<p>下名穿脅疽，但因風毒入骨日久，覺皮膚麻，骨痛，發於腰脅間。急用化毒消腫托裡散，外用鐵散，次用千金托裡散，上敷生肌定痛散，膿多可用收膿消毒膏。遲則不救。</p>

<h2>第二十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖對口疽，又名頭後蜂窠發，流串肩者名上搭肩，流串背者名偏搭背，難治。上搭肩病源治法列於二十三形圖內，偏背搭病源治法列於第一形圖內。此對口疽發於腦後，焮赤腫突，急用鐵箍散，服追疔奪命湯一二帖，消腫化毒湯、活血化毒湯二三帖。</p>

<h2>第二十八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖佛腦疽，生頂門上，又名魚眼疔。外敷鐵箍散，內服追疔奪命湯二三帖，出汗為度。無汗，可用保生錠，再用飛龍奪命丹。若毒攻心肺三日必死。</p>

<h2>第二十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖發腦疽，因風前久睡，熱毒入腦，發腫，五六日可治，半月二十日遲危矣，恐穿膜通腦也。急用追疔奪命湯、千金托裡散，化毒消腫散，外敷鐵箍散，中敷生肌定痛散。切忌風入瘡口歹毒食發物。入風不治。初起如粒水，四邊焮腫醒毒，連於耳頂，寒熱苦痛，不急治，毒攻內，血肉腐爛作膿從頭中出者必死。</p>

<h2>第三十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖鰍肚疔，在上天蛇頭，在腳地蛇頭，中節鰍肚疔，指頭蛇頭指，頭側蛇腮，骨節處為寸，手足通於心腹。急用鐵箍散，追疔奪命湯。若三節黑爛必落，或傷命。總之，毒氣攻一面，發毒黃者難治。</p>
<p>一方：生黃豆口嚼極爛敷患處，一切蛇頭惡毒自愈。疔疽腫毒加綠豆。</p>

<h2>第三十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖紅絲疔又名急疔，先生於手足心腋間，如黃豆大，其色紅白，水泡樣，根行如箭，一日夜行一尺二三寸，紅絲之延，生至口中者死。急用針刺絲頭，入四五分，出黑紫血可安。急服追疔奪命湯三四帖除根。</p>

<h2>第三十二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此名脈骨疔，又名魚口疽。生於臂為指疽，往下為魚口，在手掌後即脈骨疔。根行紅絲者為疽，黑者為疔。急用鐵箍散，千金化毒湯，中敷生肌定痛散。</p>

<h2>第三十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖手發背，生筋服之處。十指連心，痛不可忍。色黑而臭者，毒攻心矣，必死；紅者可治。先用蔥椒湯洗去爛黑肉，敷乳香定痛散，貼乳香拔毒膏，再敷生肌定痛散，服乳香化毒湯三四帖，又用千金托裡散排膿生肌。</p>

<h2>第三十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖腳發背，色黑者死。色赤，消渴病久者生。治法與手同。腳發生於腳後，脫甲疽生於腳趾。甲疽色赤，面不黑，有膿水者可治。初發時急用流氣飲，苦參丸、解毒生肌散。</p>
<p>又，用桐油煎無名異一沸，入花椒一撮，次入蓼葉七日取用。</p>

<h2>第三十五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖穿心疔，又名丹疽，生腳底心，串腳面者十不治一。外用鐵箍散，中敷乳香定痛散，服追疔奪命湯、千金托裡散化毒祛風；如出膿散氣者愈，不出膿用血竭點破之。</p>

<h2>第三十六圖形</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有三疽，上名腐骨疽，下名貼骨疽又名魚肚疽。腐骨疽生大腿，其骨硬腫如石，此多風濕之毒，亦因久坐久眠，受風濕，日久不得發散，其血被汙濁而結滯，宜及早治之，遲必腐爛成膿。服千金托裡散，若骨外現，高出其皮，不太發熱，按之不隨手起者，即有膿矣，即用三稜針刺入三四寸，到骨至根。放膿後服下宣散五七帖，見有黃水出即愈。注意病後調養，謹忌百日可也。</p>
<p>貼骨疽（魚肚疽），久坐久眠、久處濕地，風濕透骨而出，經半月不治，毒必攻心，難矣；若至一月內外不出者，用火針刺出膿血。治法同上。</p>
<p>腳生血風瘡、頑毒難愈。其瘡遊走上腳即腳發背，急用鐵箍散，內服苦參丸，活血解毒丸，後用二十四味流氣飲。日用蔥椒湯洗二三次；桔梗袖葉煎湯浸泡，溺後服九仙散。</p>

<h2>第三十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名青蛇咬，又名咬骨疽。生小腿股上，頭向上生，攻走入肚者不治，尾向上易治。急宜表治，服二十六味救苦化堅湯，外敷鐵箍散，用薑汁、陳醋、豬膽和調，蛇頭上用三稜針刺入二寸，出黑紫血方可出針，再將保生錠用酒送入自消。</p>

<h2>第三十八形圖</h2>
<p>此圖肉烏龜，生腹、背、脅。開皮不紅，離起二寸。頭向上攻，心口疼痛，向下滿足如刀割，頭左右亦其疼痛。其用針刺其四足尾尻上。用艾炙之，頭上多炙。二十四壯即不疼不痛，其龜死矣！但針不可便去，待炷香盡，去之。再服消氣化毒湯。</p>

<h2>第三十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖黃鰍癰，又名黃鰍。生小腿肚皮裡。膜外或腿上皮面不紅，里硬如石，長七八寸，頭大尾小。急用三稜針刺中腹，後刺尾上二寸之處，再刺其頭。艾炙頭上二三十壯，炷香消盡，方可去尾針。左右背針五七次，不疼不痛便起針。如再動而痛，照前針、灸。治法與三十七形圖大同。</p>

<h2>第四十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖老鼠攢，又名脾癰，生於肩脅間，色不紅，如鼠，大小不一，七八日不成膿者可治，成膿者十不治一。多生於小兒，蓋因受胎毒而又失乳，多啖食不節，米麵發氣不能克化。此作寒作熱，日夜骨蒸，久不安寧，遂生此症。發於皮裡膜外，如流注狀。先用流氣發散之藥，後用二十四味化毒流氣飲。</p>

<h2>第四十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖肉蝴蜂，肉刺生遍身或於足間，不紅。此蜂一痛，直攻入心口。用七味硇砂散敷之，外用萬應膏貼之，勿著好肉。貼三日後取下，其蜂如臭，而後再以萬應膏貼之。</p>

<h2>第四十二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖盤蛇癧，又名沿朱癧。因吃刺激物，或吃被蛇蟲鼠蠍爬過的隔夜食物而受其毒，遂生此癧。先服三屑散二帖，引從小水出，再服清生散、靈砂散三四帖，如不消再用四五帖。</p>

<h2>第四十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖小腹癰，又名丹毒癰。生於小腹陰交相對小腹側縫間，不穿膜可治，與橫痃同，若穿必成漏矣。急用千金化毒湯，金龍十宣湯，生肌解毒定痛散，再用乳香隔紙膏，一日換二三次，去其膿。用蔥椒湯，天熱洗二三次，天涼洗一次。</p>

<h2>第四十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此魚口疽又名橫痃，生腿腕縫間，內臁膀胱上。因色欲過度，走動勞苦或垢精穢氣不淨，毒攻心肝腎臟，然肝經之傷也。先生下疳，先生便毒，媾精房勞也。其勞動者，先痃作動而後成。急用千金敗毒飲，後用當歸瓜蔞散內消之，成膿用乳香拔毒膏，不用刀針。</p>

<h2>第四十五形圖</h2>
<p>此圖有二症，上名囊癰，又名腎疽，下名撩膝疽，腳骨疔。腎疽，陰囊下硬腫，受腎、膀胱之寒濕而成。急用千金托裡散，外用紅子膏。撩膝疽，腳骨疔皆發於腎，治法大同。</p>

<h2>第四十六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有五症：上名腦心發，鱔貢頭，頸後雙發，中背搭，下名腎俞命門毒。腦心發，此熱毒上攻，四邊焮赤腫硬，連於耳項，寒熱疼痛，乃毒入腦，血腐腦頂門而出，不住者死。發時急服追疔奪命湯四五帖，後服千金托裡散。總之，頭中出血，氣急痰發者危。鱔貢頭又名白禿瘡，頭匕少節，愈而復發，或濕或干，如諸不應，即用仙方二青草末飛丹散，杆成膏貼，吸出膿，不五七日連藥自落，水乾再貼。頸後雙發，治法與對口疽同。中背搭治法與右上搭同。腎俞命門毒治法與第六形圖同。</p>

<h2>第四十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有四症，名曰枷口疽，又名馬刀瘡，又名缺盆疽，又名鎖骨疽。總之，自肩至頭或流缺盆，乃手足少陽經，在頰下或頰車乃陽明經受心脾之邪而作也。此貪酒色及怒氣之郁，榮衛虛衰，日夜骨蒸，熱攻至面、頸項、胸間。急用二十四味流氣飲，外敷鐵箍散，再服連翹散、化堅湯；如不散，再服千金化毒湯，乳香、沉香、丁香、木香、麝香五香散。</p>

<h2>第四十八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖共十二症，逐一開列於後。頂門癰，受毒攻心，陰陽不和，熱氣上壅，風熱傷於督脈太陽，急用追毒流氣飲，後用內托流氣飲，或當歸連翹散、解毒散，瘡上用蟾酥丸，四邊敷木香拔毒散，如潰爛用追毒烏金散去其惡肉，以桃花散收功。</p>
<p>赤面疔，脾經受毒，血凝氣滯，傷於筋骨，毒氣傷肝，風熱塞盛，先用狗寶丸，次用追毒流氣飲，外用白玉膏貼之。</p>
<p>耳風毒，肝腎風熱上壅，先服清肝流氣飲、定痛流氣飲，若耳痛目暈，先用針刺破耳，後用紅玉膏貼之。</p>
<p>肩疽，肝腎膀胱受邪，氣血凝，不得流散，先用流氣飲、千金內托飲，四邊以清涼膏敷貼，中間用追毒膏。</p>
<p>眉發疽，肝腎受邪，血凝氣滯，治法同上。</p>
<p>螻蛄串，有上中下三種。濕毒傷腎，怒氣傷肝，先用加味流氣飲，經服三香內托飲後，用乳香定痛散。</p>
<p>肚肋癰，大小腸受毒而成。內用加味內托清氣飲。腎氣遊毒膀胱，氣欲傷腎，腎實不受，複流膀胱，蓋風毒也。用定痛流氣飲，內托散。</p>
<p>鞋帶癰，寒濕受於下部，用定痛流氣頌、內托散、檳榔丸。</p>
<p>腳心疽，濕氣凝於腎經，服定痛流氣飲、檳榔丸。</p>

<h2>第四十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖上發背，心肝鬱結，怒氣傷肝，熱毒出背，先服敗毒流氣飲，不效用護心托裡散，再不效急用內托流氣飲。</p>
<p>中發背，心經熱毒以致肝血凝結，先用敗毒流氣飲，次用內托流氣飲。</p>
<p>下發背，肝脾風熱結滯入腎，先用敗毒流氣飲，次服內托流氣飲。</p>
<p>腰疽，胸隔受濕熱之邪，注於肝，治法同下發背。</p>
<p>痄腮痛，在耳根後，通於脾腎，因血氣凝滯結於夾腮，乃風熱之毒也。服清肝流氣飲，內托流氣飲。</p>
<p>騎馬癰，因腎虛，受濕熱邪毒於腸經，發即成漏。急服敗毒流氣飲、內托流氣飲、追毒流氣飲。</p>

<h2>第五十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖眉風毒，太陽風熱，上壅脾經，壅結而成。急用敗毒流氣飲，次用內托清肝飲及乳定痛散。</p>
<p>耳門癰，肝經風毒，流注陽明，用敗毒清氣飲，清肝流氣飲。</p>
<p>耳根毒，用敗毒流氣飲，內托清肝飲。</p>
<p>胺癰，怒氣傷肝，肝風熱毒，塞流入心腎，用敗毒流氣飲，內托清肝飲。大腰帶毒，心肝風濕熱毒，注於膀胱、腎經，用清肝流氣飲，敗毒流氣飲，不可用敷藥。</p>
<p>臍痛，心脾濕熱流入小腸，發於臍中，用內托流氣飲，定痛三香飲。</p>
<p>中肘疽，肝經氣血凝滯，用內托流氣飲，定痛消毒飲。</p>
<p>丁刺毒，心邪結滯，風毒壅血，先用內托流氣飲，次用定痛消毒飲。</p>
<p>腿癰，濕熱窒結腎經，用敗毒流氣飲，內托流氣飲。</p>
<p>外臁瘡，心脾腎之濕熱也。先用紫蘇流氣飲，次用三香和氣飲。</p>
<p>里臁瘡，浸濕熱三邪，陰經血分受傷，急用紫蘇流氣飲，三香和氣飲，外用隔紙膏。</p>
<p>腳發背，腎經受濕，血氣凝滯，用定痛消毒飲，鵝油透骨膏。</p>

<h2>第五十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖腦疽，腎虛熱上壅結，急用三香內托散，再用定痛消毒飲。</p>
<p>對口疽，太陽督脈，風熱相乘，用三香內托散，定痛消毒飲。</p>
<p>上中下搭手，久憂暴怒傷於內，風熱暑濕感於外，心火無肺，氣結血凝，用三香內托散，內托流氣飲，消毒內托散。</p>
<p>委中毒，腎經寒濕，用加減紫蘇流氣飲，敗毒流氣飲。</p>
<p>腎癰，心腎濕熱，結聚於腹下入腎而成，用敗毒流氣飲，清心流氣飲。</p>
<p>天蛇癰，心熱風濕下行，發於腳趾或手指，治法與腎癰同。不可犯鐵。</p>

<h2>第五十二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖項疽，風熱犯太陽督脈，心火上炎之極，先用敗毒流氣飲，次用內托流氣飲。</p>
<p>鬢疽，心腎肺胃風熱而生，用敗毒流氣飲，清肺飲。</p>
<p>血風毒生於鼻上，因心脾受濕熱，致風熱併發，用敗毒流氣飲。</p>
<p>瘰癧有四種，風、痰、寒、熱壅結，用清肺流氣飲，不效，消毒流氣飲。</p>
<p>結喉癰，因風熱結滯在外，獨可相喉之門則難治矣。急用敗毒流氣飲，不效，再用內托流氣飲。</p>
<p>臀疽，腎經虛，濕熱壅結，急用敗毒流氣飲，次用內托流氣飲。</p>
<p>貼骨疽，肝腎風濕熱毒聚於筋骨，腫痛無膿足不任地。用敗毒、紫蘇二流氣飲，不退，再用內托流氣飲。</p>
<p>腿遊風，小腸受濕熱風邪，赤腫遊走腿間，用紫蘇流氣飲，不效，再用內托流氣飲。</p>
<p>指刺，風寒熱，擊搏於心，心血受毒，用定痛流氣飲，不效，用托裡流氣飲。</p>
<p>上下脅癰，肝經風熱寒濕伏於腸胃，用敗毒流氣飲，不效，用內托流氣飲。</p>

<h2>第五十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖破面癰，用追毒流氣飲，外用透骨膏貼於面腮紅腫處。</p>
<p>鎖牙疔，用內托流氣飲，亦用追骨膏。</p>
<p>蜂窠毒，病源治法列於十一形內。</p>
<p>對心癰，甚難治，急用內托追毒飲，外用透骨膏。</p>
<p>臍下互，用內托流氣飲。</p>
<p>魚口便毒用土苓散。</p>
<p>左右血海毒，脾腎受邪，用敗毒流氣飲。</p>
<p>本圖內，遺缺破腳癰一症（原注）</p>

<h2>第五十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖馬刀毒，又名鼻疔，防毒攻頂門，急用追毒流氣飲。</p>
<p>麻子疔，亦用追毒流氣飲。</p>
<p>蚯蚓疔，先用透骨膏，急用追毒流氣飲，久延，毒入難治。</p>
<p>穿心疔，乃危急之症，用內托流氣飲，稍效用清肺飲。</p>
<p>偏胸毒，用內托流氣飲，久延，毒入心難治。</p>
<p>櫻桃瘡，用消毒流氣飲。</p>
<p>手心疔，用內托流氣飲。</p>
<p>石榴瘡，用消毒流氣飲。</p>
<p>人面瘡，治法十九形圖內。</p>

<h2>第五十五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖破腮疔，鵝掌風俱用追毒流氣飲。</p>
<p>鼠盆疽用消毒流氣飲。</p>
<p>脅肋疽、肚癰俱用內托流氣飲。</p>
<p>腎芒爛至疽用清心流氣飲。</p>
<p>腿面癰，用敗毒流氣飲。</p>
<p>石丹毒，用定痛流氣飲。</p>
<p>腸痔糞水通流，用地榆槐花湯。</p>

<h2>第五十六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖租珠癰，用清心流氣飲。</p>
<p>鼻痔、血風癬俱用消毒流氣飲。</p>
<p>左腿癰，用定痛流氣飲。</p>
<p>外便毒，用托裡流氣飲。右肘根用追毒流氣飲。</p>
<p>鶴膝癰，用敗毒流氣飲。</p>
<p>牛皮癬，用消毒流氣飲。</p>

<h2>第五十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖膏珠癰、右臀癰俱用定痛流氣飲。</p>
<p>棘心癰用清心流氣飲。</p>
<p>臂腕毒，用內托流氣飲。</p>
<p>內便毒，用托裡流氣飲。</p>
<p>念珠毒，用敗毒流氣飲。</p>

<h2>第五十八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖念珠癧，用敗毒流氣飲。</p>
<p>偏胸毒，用定痛流氣飲。</p>
<p>腰癰即蜘蛛癰、漏灶、左子刺，三症俱用消毒流氣飲。</p>
<p>櫻桃痔，用清肝流氣飲。</p>

<h2>第五十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖頸癰，用內托流氣飲。</p>
<p>左脅便毒，用內托流氣飲。</p>
<p>交骨疔，難治，先用透骨膏去其毒，後用追毒流氣飲。</p>
<p>撲招疽，用敗毒流氣飲。</p>
<p>血絲疔，急用追毒流氣飲，仍用透骨膏貼其兩頭，勿使走串。</p>
<p>氣血流注，用透骨膏貼兩頭，再用追毒流氣飲。</p>

<h2>第六十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖肩疔，用內托流氣飲。</p>
<p>左肩疽，用敗毒流氣飲。</p>
<p>右脅便毒，治法同肩疔、臂疔，用追毒流氣飲。</p>
<p>鐵索疔，先用透骨膏貼兩頭，後服追毒流氣飲。</p>
<p>濕毒流注，腿癰俱用消毒流氣飲。</p>
<p>腎癰，用內托流氣飲。</p>

<h2>第六十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖影疽，用內托流氣飲，不效，用追毒流氣飲。</p>
<p>對口，用清心流氣飲。</p>
<p>蜂房發背，危急之症，初起必用開破瘡頭，急用內托流氣飲，仍用透骨膏。</p>
<p>通肝發背、左右牛厄，俱用消毒流氣飲。</p>
<p>天蛇頭治法列五十一形圖內。</p>
<p>內懸疽，一名鴨蛋癰，用內托流氣飲，追毒流氣飲。</p>
<p>腳心疔用定痛敗毒飲，即內消沃雪湯，即乳香化毒湯。</p>

<h2>第六十二形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖面上疔，一名冷疔，感於手足久冷，受寒風而發，長如粒米，久成疔毒，用狗寶丸、流氣飲，不效，再服追毒托裡散。</p>
<p>上下眼毒，心肝風熱而成，用清心流氣飲。</p>
<p>髭、髯、須三毒，脾胃心肺，因風痰火之邪而生，急用清心流氣飲，不效，再服內托流氣飲。</p>
<p>胝毒、夾毒、心、肺、三焦濕熱痰滯，用內托流氣飲，不效，用定痛流氣飲。</p>
<p>手心癰，在右，太陰。陽明邪氣流於右足厥陰；在左，太陽、少陰火流於左足太陰、陽明，複流注於上而生。蓋因喜怒憂愁，風寒濕熱，氣血凝滯，經絡不通，俱用定痛消毒飲，不效，用內托流氣飲。</p>
<p>左乳癰，因肝怒血滯，孔竅不利，用內托流氣飲，不效，用定痛流氣飲。</p>
<p>右乳癰，因風熱濕痰搏於脾胃肝肺之間，用清心流氣飲，不效，用內托流氣飲。</p>
<p>心臟癰，心經熱毒奎結，結絡不通，用定痛流氣飲，內托流氣飲。</p>
<p>手腕毒生於掌後，心經受風寒暑熱，喜怒驚恐，經絡結滯，用敗毒流氣飲，定痛流氣飲，內托流氣飲。</p>
<p>便毒，鯉魚毒，生於腿之左右縫間，此膀胱濕熱受於肝腎，用消毒流氣飲，內托流氣飲，定痛流氣飲。</p>
<p>膝腿毒，膀胱受邪，流於脾胃，用紫蘇流氣飲，若結久成癰，再服內托流氣飲，走痛流氣飲。</p>
<p>鶴膝風，憂鬱濕氣，傷於肝脾經骨之間，流傳脾胃，用紫蘇流氣飲，內托流氣飲。</p>
<p>腳指毒，腎經受邪，傳於陽明經聚處，用紫蘇流氣飲，內托流氣飲，定痛流氣飲。</p>

<h2>第六十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖瘤者，風寒濕熱，傷於心肝脾肺腎，傳於六腑，壅結經絡，留於腠理，血結氣滯，日漸增長，或有內潰，自破開裂，將梅花散敷之，外敷以白玉膏，待七日後，取去，即用透骨膏貼之，服流氣飲。</p>
<p>粉瘤、面頰瘤受風寒濕熱上攻頭面，用消毒流氣飲，以透骨膏貼之。</p>
<p>肩瘤、乳瘤，憂怒鬱結，氣血不和，用內托流氣飲，鵝油透骨膏。不可開刀。</p>
<p>血瘤，血結氣滯，經絡不通，熱聚而血出不止。用梅花散、白玉膏、透骨膏。</p>
<p>肉瘤，脾邪傳聚，毒氣逆於肉裡，用清肝流氣飲。</p>
<p>脅瘤，腸胃變邪，壅滯肉裡，用消毒流氣飲，貼透骨膏，亦可開刀。</p>
<p>筋瘤，肝經受風熱之邪，傳脾，逆於筋骨之間，用清肝流氣飲。</p>
<p>臂瘤、腿瘤、腳瘤、發疽瘤，四者皆因脾胃濕熱，流注於手足之經，用消毒流氣飲，貼透骨膏。</p>

<h2>第六十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖大麻風，邪中血脈，若皮膚不裂，四肢不壞，用花蛇丸，消毒流氣飲，以追毒水銀膏敷之。不可輕治，切忌色欲、酒、醋、鹽、醬、蔥、蒜、油、面、膩、食、雞、鵝、鮮腥之物。淡食淡飲。若眉脫，遍身盡癩，用換骨膏、蠻王酒又名酒仙散、胡麻丸、烏蛇丸、秦艽丸、如聖散。</p>

<h2>第六十五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖發背者，憂苦、寒濕，榮衛兩虛，風熱邪毒注於筋骨，氣血壅阻，濕痰壅滯，元氣衰敗，用當歸連翹散，解毒丸，乳香黃耆散，瘡口敷蟾酥丸，四邊腫處貼乳香拔毒散，如潰敷追毒烏金散，後用桃花收口散。對口疽治法列二十七形圖內。</p>

<h2>第六十六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖發腦者，陽熱伏結督脈，毒氣上壅，在枕骨端，或風池、天柱之上，赤腫潰痛，逆則黃水，順則稠膿，與對口、發背同治。外貼神應膏。</p>

<h2>第六十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖髮鬢者，風熱壅於陽明、少陽會合之間，連於百會，漸漸赤腫生膿，頭眩吐逆，生寒熱，蓋脾胃濕熱毒也。用當歸連翹散、解毒丸、追毒散、追風流氣飲。</p>

<h2>第六十八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖發髭者，脾胃虛熱，心肺風熱流注三焦，上攻禾髎之端、承漿之側，如芒刺，四邊腫硬，時麻痹，黃水流，憎寒吐逆。先服當歸連翹散，瘡口略擦破，貼針頭散、神應膏、乳香拔毒散，後服乳香黃耆散。</p>

<h2>第六十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖䯒臁，腎虛，風寒濕攻於三里之旁，陰交之側，漸漸膿淫，先用洗毒散洗淨，敷麝香輕粉散，外用神應膏，再服當歸黃耆散。</p>

<h2>第七十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖紫疥，風濕熱中於心肺，發於皮膚，或痛或癢，遍身如疥癬，頂黑心陷，精神昏倦，恍惚似繩牽，生於胸腹，毒盛，嘔逆，治法與疔同，已列於六十形圖內。</p>

<h2>第七十一形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖名火赤瘡，又名紅絲瘡。</p>
<p>火赤瘡者，血氣虛，風熱盛，初如赤疥火燎之形，膿漿黃水流時，沾皮即破爛，先用洗毒散洗之，後服當歸連翹散，乳香黃耆散。</p>
<p>紅絲瘡者，心、小腸風熱上乘肺金，瘡頭紅絲貫穿，或痛或癢，血箭紅絲到心必死。宜砭刺出血，紅絲頭行處亦刺出血。貼針頭散，服當歸連翹散、解毒丸。</p>

<h2>第七十二形圖</h2>
<p>此圖二症：魚脊瘡，骨疽瘡。</p>
<p>魚脊瘡，臟中精冷，虛熱傳筋骨之中，初如癬，破則黃水流，沿生白泡，似魚脊。先服當歸連翹散，乳香黃耆散，瘡上貼針頭散，烏金追毒散。</p>
<p>骨疽瘡，腎經風熱，血凝氣滯，徹骨腫痛，癢痛煩悶，日久成膿，以針破之，用溫經活血湯、黃耆丸、乳香黃耆散，成膿針破，入蟾酥丸、追毒散。</p>

<h2>第七十三形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有四疳，病源治法列於後。</p>
<p>臟腑寒虛，風熱注皮而生冷疳。外跡臁□，膿水不幹，日久潰深必害人，宜服消風散。</p>
<p>赤暈起因為紫疳，致四肢疥癬而為風疳，風熱侵肌而成血疳。治法俱用當歸連翹散，乳香輕粉散。</p>
<p>風疳生於穀道之旁，注於豕山之側，初如癬疥，破時黃水成瘡，風濕相搏，遍身皆生，不治之症，用黃耆丸，如聖膏。</p>

<h2>第七十四形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖鴉陷疳，胎中邪熱氣虛，初如錢眼，後潰深如鴉陷，先服解毒丸，以鴉陷麝香輕粉散敷之。</p>

<h2>第七十五形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖於發背，風熱相侵，血氣凝滯經絡，發於左手背上，如粟米大，風毒攻心，或痛或癢，遍身麻木，寒熱，頭眩吐逆，四肢煩亂，神昏目暗，先用當歸連翹散、解毒丸，乳香黃耆散去其毒，以桃花散收口。</p>

<h2>第七十六形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖有五疔。黑疔，膀胱虛熱，腎受風邪，外攻兩耳端，初起黑色，麻木，硬如鐵石，紫黑，嘔吐神昏，心驚恍惚，困倦多睡。先用當歸連翹散，外敷透骨膏。</p>
<p>赤疔，心火邪熱毒盛，發驚狂，先疏通內毒，用白馬蹄香散。</p>
<p>白疔，肺火腸風，熱乘虛入，初起白色，外暈泡，咳唾連聲，痰涎稠黏，口鼻乾，咽喉燥。先服乳香黃耆散，外貼針頭散，蟾酥丸，痛甚，用追毒烏金散。</p>
<p>青疔，肝膽風火注於經絡，傳入於心，火盛燥，以致心驚舌強，神昏語澀，腎水虛寒作熱。用清肝流氣飲，清心流氣飲，追毒烏金丸，外貼神應膏。</p>
<p>黃疔，風濕熱毒在脾胃，起於唇齒口端、人中之側，色黃，四邊麻木，四肢懈怠，煩燥心驚，嘔逆。服黃耆湯，乳香黃耆散。</p>
<p>足生火疔，蓋膏染之變濕熱，風毒安於手足太陰，流注膝下，初如米粒，漸潰成瘡，血如敗血，又如煤涅，經年骨節疼，累歲不收口，成陰疳瘡。先服黃耆湯，乳香黃耆散，瘡口敷鐵粉散，追毒散，去惡肉，以桃花散收口，痛則用洗毒散洗之。</p>

<h2>第七十七形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖陰疳瘡，治法與上腳生火疔同。</p>
<p>貼骨疽，治法列於五十形圖內。或云，以凌霄花藤敷之。一神方惟取其根，名烏鴉根，敷之可愈。俗名為懶藤是也。</p>

<h2>第七十八形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖漏睛瘡，肝腎小腸風熱上攻，復注於睛內，初起癢痛，漸成膿水流，眼棄日久，睛昏氣散，先以黃耆、地骨皮煎湯洗之，服黃耆湯，外貼神應膏。</p>
<p>耳疳，風熱入腦，注於小腸經，腎虛寒，浸潰膿水，連年腥穢，以麝香、枯礬、輕粉，研細末吹之。</p>
<p>骨槽風，大腸風熱，牙齒疳腐，血流咽喉，連塊腫痛，服乳香蓽拔散，當歸連翹散。</p>
<p>鎖喉風，心經熱火，小腸風痰壅肺，發於聽會之間，注於懸骨之側，初如瘰癧，後側痛腫浸淫，服當歸連翹散，乳香蓽拔散，外用神應骨貼之。</p>
<p>肝熱盛，風癧；肺虛寒，膿癧；脾骨風熱，實癧；風熱攻心，血癧。不破可灸。貼如聖餅，神應膏。</p>

<h2>第七十九形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖髮乳者，內有濕熱結郁，外感風熱，生核塊在乳房，久結成癰疽，先用當歸連翹散，黃耆湯次之，外貼追毒散，神應膏。</p>

<h2>第八十形圖</h2>
<figure>
<img alt="圖">
</figure>
<p>此圖外感風邪於血脈之中，名曰火殞，心經內熱而成此毒，初生赤色，漸腫串皮，先用當歸連翹散，再煎洗毒湯洗之。</p>
<p>纏腰者，腸內血凝氣滯，結成癰腫於小腹，先服當歸連翹散，解毒丸，次用乳香黃耆散。若已成膿刺破用膏貼；但服乳香黃耆散，自然膿從大小便出，即愈。</p>
<p>水流麻根，腎、膀胱陰虛，心火盛，發於血脈，隨處生之。及皮膚破，潰膿嘔逆，頭痛，痛連百節，用當歸連翹散、解毒丸。痛甚，服乳香黃耆散，解毒散。</p>
<p>疥癬，風濕熱，心火盛，生蟲燥癢，先用升麻和氣飲，再用如聖散。</p>

<h1>二、枕藏外科諸方</h1>

<h2>內托千金散</h2>
<p>人參　肉桂　甘草節（各五分）　連翹（一錢二分）　當歸　赤芍　白芷　川芎　羌活　黃連　皂刺（炒黃）　穿山甲（炒黃各九分）　酒二三盅煎服。</p>

<h2>千金化毒湯</h2>
<p>歸尾（一錢五分）　赤芍（一錢）　白芷（一錢）　大黃（三錢）　木鱉（去殼）　穿山甲（炒）　乳香　沒藥　瓜蔞　天花粉（各一錢）　酒水各半同煎服。</p>

<h2>干金托裡散</h2>
<p>連翹　鼠黏子（各一兩二錢）　黃耆（二兩五錢）　厚朴　川芎　白芷　官桂（各三錢）　赤芍（二兩）　防風　乳香　沒藥　當歸　人參（各三錢）　每劑五錢酒，水煎服。</p>

<h2>乳香定痛散（即內托清肝散）</h2>
<p>人參　黃耆　當歸　川芎　白芷　甘草　乳香　烏藥　防風　桔梗　枳殼　厚朴　生薑　大棗　各等分煎服。</p>

<h2>柴胡獨活湯</h2>
<p>柴胡（八分）　獨活（一錢）　秦艽（一錢）　赤芍（一錢五分）　青皮（八分）　當歸（一錢）　貝母（一錢二分）　銀花（一錢五分）　天花粉（一錢）　水煎服。</p>

<h2>真人活命飲</h2>
<p>貝母（一錢）　防風（六分）　歸尾（一錢）　陳皮（一錢五分）　天花粉（三錢）　銀花（三錢）　皂角（八分）　甘草節（六分）　乳香（一錢）　沒藥　白芷　赤芍（各六分）　穿山甲（炒，一錢）　好酒一碗煎服，能飲酒者服後可再飲適量，以助藥力。</p>

<h2>內消散</h2>
<p>歸尾（一錢五分）　赤芍（一錢）　白芷（一錢）　大黃（三錢）　乳香（一錢）　沒藥（一錢）　甘草（五分）　殭蠶（一錢）　瓜蔞（一錢）　銀花（二錢）　天花粉　皂角刺　木鱉（去殼）　穿山甲（壁土炒各一錢）　酒水各半煎服。、</p>
<p>化消腫托裡散（即消毒內托飲）</p>
<p>當歸　黃耆　天花粉　川芎　桔梗（炒，各二錢）　陳皮（一錢）　紅花（一錢）　白芷　厚朴（薑汁炒）　防風（各一錢）　穿山甲（炒，一錢）　水酒共三碗，煎七分，不飲酒者水煎服。</p>

<h2>解毒生肌定痛飲</h2>
<p>乳香　沒藥　輕粉　幾茶　青黛（各五錢）　血竭（一兩）　龍骨（一錢）　胎骨（二錢）　冰片（五分）　黃連（一錢）　麝香（三分）</p>

<h2>追疔奪命湯</h2>
<p>歸尾　乳香　皂角刺（各一錢）　沒藥（一錢二分）　防風（一錢五分）　貝母　赤芍　陳皮　白芷（各一錢五分）　甘草（一錢）　穿山甲（炒，一錢）　銀花（一錢三分）　天花粉（一錢五分）　上十三味為片，用無灰陳酒二碗，煎七分。紙餬口，勿令走氣；煎藥須避雞犬。病在上，食後服；病在下，食前服。</p>
<p>此方出華佗青囊書中，今刊袖珍方內。人皆忽之，是可惜也。</p>

<h2>加減鐵箍散</h2>
<p>大黃　白芷　薑黃　天花粉　連翹　急性子　元參　黃柏　黃芩　白芨　白蘞　赤芍　秋華（經秋芙蓉葉）　上十三味等分為末。</p>

<h2>二十四味流氣飲</h2>
<p>（加薑棗為二十六味救苦化堅湯）</p>
<p>人參　木香　甘草　黃耆　厚朴　柴胡　紫蘇　桔梗　枳殼　官桂　檳榔　川芎　白芷　赤芍　藁本　歸尾　防風　芍藥　元胡　茯苓　五靈脂　陳皮　半夏　黃芩　上各等分用水數升，大沙鍋煎服。</p>

<h2>紅子膏（即神應膏）</h2>
<p>血餘　蓖麻子　巴豆（去殼，各二兩）　當歸（一兩五錢）　松香（五兩）　木鱉子（去殼，四十粒）　穿山甲（六七十片）　川芎　連翹　槐子　大黃　苦參　沉香（各三錢）　杏仁　川楝　花椒（各五分）　乳香　沒藥　丁香　木香（各三錢）　麝香（一分）　俟滴水或珠方可下之。麻油三斤，頭髮一兩，化去渣，柳枝攪勻，入黃丹十八兩，成膏。</p>

<h2>艽活歸芍湯</h2>
<p>秦艽　獨活　赤芍　當歸　貝母　黃芩　連翹　銀花　白芷　羌活　各等分，水煎服。</p>

<h2>千金內托止痛散</h2>
<p>人參　黃耆　防風　川芎　桔梗　厚朴　薄荷　官桂　當歸（酒浸）　銀花　甘草　以上十二味等分，大劑煎服。如不進飲食加香附、砂仁，痛甚加乳香、沒藥，毒水不幹加知母、貝母，咳嗽加陳皮、半夏、杏仁，不便加大黃、枳殼，小便不利加麥冬、車前、木通、燈芯。</p>

<h2>青皮柴胡桔梗飲</h2>
<p>青皮　柴胡　桔梗　歸尾　白芷　貝母　黃芩　連翹　枳殼　秦艽　獨活</p>

<h2>加減內托流氣飲</h2>
<p>人參　黃耆　柴胡　桔梗　白芷　陳皮　半夏　貝母　乳香　連翹　等分水煎，飯後服。</p>

<h2>復元通氣散</h2>
<p>木香　茴香　青皮　穿山甲炙　陳皮　白芷　貝母　香附　甘草　上各等分煎服。</p>

<h2>附一方易滿蘆</h2>
<p>青皮　陳皮　生地　熟地　白芷　甘草（各一兩）　穿山甲（五錢）　連翹（一兩）　瓜蔞（五錢）　銀花（一兩）　陳酒煎服。</p>

<h2>海藻散（又名三因破結散）</h2>
<p>海藻（酒炒）　龍膽草（酒炒）　海蛤粉　通草　枯礬（各三錢）　昆布（酒洗三錢）　松蘿茶（三錢）　麥面（四錢）　貝母（去心，三錢）　半夏（三錢）　上藥研為細末，每服二錢，陳酒送下。忌鯽魚、豬肉，五辛生果諸毒物。</p>

<h2>流氣飲</h2>
<p>紫蘇　桔梗　枳殼　甘草　防風　柴胡　川芎　羌活　白芷　芍藥　犀角　連翹　獨活　當歸　各等分水煎服。</p>

<h2>隔紙膏</h2>
<p>白芷　川芎　黃丹（炒）　龍骨（煅灰）　螵蛸（用油熬就老松香）　輕粉（少許）　上藥共和油成膏。</p>

<h2>又方</h2>
<p>黃耆末（五錢）　輕粉　乳香　沒藥（各一錢）　血竭（五分）　銅綠（一分）　上為末，真香油調成膏，攤油紙上，再用單油紙一層，以針刺孔數十，搏膏藥上貼之。一日一換其膏。</p>

<h2>再方</h2>
<p>石膏（煅）　桔礬　等分為末，用桐油調成膏，用作隔紙膏。</p>

<h2>化毒活血湯（即萬金奪命湯）</h2>
<p>歸尾　穿山甲　皂角刺　陳皮（各一錢五分）　赤芍　甘草　防風　白芷　天花粉　銀花　貝母　乳香　沒藥（各五分）</p>
<p>另一味，毒在上部用桔梗，毒在下部用牛膝，已潰者用參耆。</p>

<h2>飛龍奪命丹</h2>
<p>穿山甲　皂角刺　陳皮　金銀花（各三錢）　乳香　沒藥　赤芍　歸尾　貝母　甘草節（各一錢）　天花粉（八分）　白芷（五分）　上藥水煎服。</p>

<h2>化毒祛風散</h2>
<p>（即定痛流氣飲，加香附、桔梗、紫蘇）</p>
<p>人參　黃耆　當歸　川芎　茯苓　枳殼　乳香　防風　白芷　芍藥　香附　紫蘇　桔梗</p>

<h2>九仙奪命丹（又名九仙散）</h2>
<p>南星（薑製五錢）　半夏（薑製五錢）　枯礬（五錢）　厚朴（薑製五錢）　根光（炒，五錢）　木香（四錢）　人參（三錢）　豆豉（一兩）　甘草（三錢）　阿魏（五錢）　糟糠子（五錢）　上研末、糊為餅，瓦上焙乾，每服一餅，細嚼，薑湯送服。</p>

<h2>七味硇砂散</h2>
<p>辰砂（二分）　銀珠（二分）　甘石（一分）　瑪瑙（一分）　麝香（一分五釐）　冰片（一分五釐）　硇砂（二分）　煉硇砂法：硇砂一兩，掘地坑一尺五寸，安鏡坑底，留空，上以碗蓋之。泥周圍築實，三七日鏡下空中結黑塊，以刀割下；豆腐內蒸化，將湯煎乾，則結成六錢。</p>

<h2>上宣湯</h2>
<p>人參　黃耆　白朮　當歸　防風　白芷　甘草　川芎　官桂　芍藥　茯苓　生地　連翹　等分煎服。如身熱去官桂加黃芩、柴胡。</p>

<h2>破血散（即南星膏）</h2>
<p>大南星杵黏手，滴好醋為膏。依瘤大小貼之，覺癢，切忌手去抓搔。若紙上藥干，又換之，頻頻貼效。</p>

<h2>苦參丸</h2>
<p>苦參（四兩）　荊芥（一兩）　防風　白芷　川烏　赤芍　何首烏　獨活　梔子　牙皂　蔓荊子　茯苓　山藥　蒺藜　川芎（各四兩）　白附子（四兩）　上面糊為丸，梧子大，空心服，臨臥時酒送五十丸。</p>

<h2>清心流氣飲</h2>
<p>茯苓　豬苓　木通　澤瀉　青皮　防風　柴胡　羌活　香附　川芎　紫蘇　赤芍　麥冬　甘草　水煎服。</p>

<h2>七寶湯</h2>
<p>鵝管石　明礬　甘草　白芷　黃柏　歸尾　銀花　上各等分水煎服。</p>

<h2>乳香化喜湯（即內消沃雪湯）</h2>
<p>當歸　青皮　黃耆　甘草節　麝干　連翹　穿山甲　貝母　陳皮　乳香　沒藥　皂角刺　天花粉　金銀花　木香　上各等分水酒煎服。痛甚加大黃二錢。又方用白芷、白芍各八分。</p>

<h2>又化毒丸</h2>
<p>硇砂　辰砂　雄心（各二分）　冰片　麝香（各五分）　輕粉（三分）　蟬退（二十一個）　上藥研極細，加蟾酥，丸如綠豆大，每服一丸，放舌上噙自化。</p>

<h2>如聖餅</h2>
<p>雄黃（三錢）　人信（五分）　乳香（五分）　酒米糊和餅，如錢大，貼之；如瘡破只貼瘡邊。</p>

<h2>二青草末飛丹散</h2>
<p>青黛　銅青　甘草末　飛丹　上各等分為末。</p>

<h2>敗毒流氣飲（即內托追毒散）</h2>
<p>當歸　川芎　前胡　羌活　獨活　白芷　柴胡　秦艽　連翹　桔梗　紫蘇　防風　芍藥　甘草　上各等分，薑棗引，水煎服。</p>

<h2>蟾酥丸</h2>
<p>蟾酥（大豆許）　白丁香（五十粒）　寒水石（少許）　巴豆霜（五粒）　寒食饅（少許）　蜜丸，綠豆大，每服五六粒。</p>

<h2>狗寶丸</h2>
<p>蟾酥（二錢）　麝香（一錢）　狗寶（健康狗內取為妙）　用酒為丸，如粟米大，每服蔥白三寸，酒送下。</p>

<h2>白玉膏</h2>
<p>甘石（煉末四錢）　龍骨（煉末六錢）　明礬　乳香　沒藥（各一錢（　白蠟　滑石　石膏（末，各四錢）　豬油（二兩）　白膠香（四錢）　將油膠煉化，入眾藥末為膏。</p>

<h2>紅玉膏</h2>
<p>龍骨　赤石脂　兒茶　血竭　沒藥　乳香（各一錢）　輕粉（五分）　冰片（二分）　上藥，先將麻油二兩，當歸五錢，煎枯去渣，再入骨、石、茶、竭四味，又煎一二沸入乳香、沒藥，煎片刻後入黃丹五錢，溶化冷定，入輕粉、冰片攤貼。</p>

<h2>三番內托散</h2>
<p>乳香　木香　丁香　人參　黃耆　紫蘇　厚朴　桔梗　枳殼　防風　烏藥　當歸　芍藥　白芷　川芎　官桂　川烏　甘草　上等分，水煎服。</p>

<h2>敗毒流氣飲</h2>
<p>人參　芍藥　前胡　柴胡　桔梗　防風　川芎　白芷　羌活　獨活　枳殼　各等分，水煎服。</p>

<h2>內托流氣飲</h2>
<p>人參　黃耆　甘草　厚朴　蘇葉　桔梗　防風　官桂　枳殼　烏藥（各七分）　木香　檳榔　當歸　白芍　白芷（各五分）</p>
<p>水煎，食遠服。</p>

<h2>連翹散</h2>
<p>黃耆（一錢）　人參（三錢）　甘草（五分）　漏蘆（一錢）　升麻（一錢）　乾葛（五分）　連翹（一錢）　丹皮（一錢）　當歸（二分）　生地　熟地　白芍（各三錢）　肉桂（三分）　柴胡（八分）　大力子（八分）　防風（五分）　獨活（五分）　羌活（一錢）　昆布（三分）　三稜（二分）　莪朮（二分）　益智（一分）　麥芽（一錢）　神麯（三分）　黃連（二分）　厚朴（五分）　黃柏（三分）</p>
<p>如馬刀毒，去獨活、漏蘆、升麻、乾葛，加瞿麥。</p>

<h2>桃花散</h2>
<p>寒水石（煅，一兩）　白芨　白蘞　白石脂　赤石脂（各五錢）　地骨皮（五錢）</p>

<h2>追風流氣飲（即追毒流氣飲）</h2>
<p>紫蘇　桔梗　前胡　羌活　防風　甘草　升麻　白芷　益母草　各等分，水煎服。</p>

<h2>清肝流氣飲</h2>
<p>降心火，生腎水。</p>
<p>桔梗　枳殼　甘草　防風　前胡　連翹　羌活　獨活　赤芍　川芎　石羔　荊芥　薄荷　白芷　上各等分，水煎服。</p>

<h2>加味流氣飲</h2>
<p>蘇葉　桔梗　枳殼　烏藥　甘草　防風　官桂　白芷　芍藥　厚朴　川芎　木瓜　香附　川楝　上各等分，加薑棗引煎服。</p>

<h2>檳榔丸</h2>
<p>枳殼　厚朴　檳榔　紫蘇　甘草　防風　芍藥　陳皮　香附　大腹皮　上各等分，加薑棗水煎服。</p>

<h2>護心托裡散</h2>
<p>乳香　木香　人參　黃耆　當歸　川芎　白芷　甘草　烏藥　官桂　防風　桔梗　枳殼　上各等分，水煎服。</p>

<h2>追毒流氣飲（即內托追毒加減）</h2>
<p>紫蘇　桔梗　枳殼　甘草　防風　羌活　柴胡　白芷　芍藥　犀角　連翹　獨活　當歸　川芎　上各等分，水煎服。</p>

<h2>定痛三香散</h2>
<p>乳香　木香　香附　人參　當歸　川芎　烏藥　防風　甘草　官桂　黃耆　桔梗　枳殼　厚朴　白芷　玄胡　芍藥　上各等分，水煎服。</p>

<h2>土苓散</h2>
<p>土茯苓（二兩）　五靈脂（一錢）　大黃（五錢）　薑黃（三錢）　穿山甲（土炒，一錢）　木通（一錢）　木瓜（一錢）　米仁（一錢）　防風（一錢）　人參（三分）　歸尾　牛膝　生地（各一錢）　皂角（一錢）　赤芍（七分）　上水煎服取汗為效。</p>

<h2>清肺飲</h2>
<p>連翹　川芎　白芷　黃連　黃芩　荊芥　桑皮　苦參　山梔　貝母　甘草　上各等分，水煎服。</p>

<h2>地榆槐花湯</h2>
<p>升麻　陳皮　甘草　連翹　生地　秦艽　蒲黃　荊芥　當歸　天花粉　槐花　地榆　上等分，水煎服。</p>

<h2>白花蛇丸</h2>
<p>白花蛇（去頭尾，酒浸三日去骨）　白附子　牛膝　當歸（酒浸，各一兩）　何首烏（三兩）　羌活　殭蠶　防風　獨活　蓽撥　蔓荊子（酒浸，各一兩）　石菖蒲（二兩）　赤芍　蒼耳子（各四兩）　甘草（炙，七錢）　川芎　雷丸　威靈仙（各二兩）　枳殼　烏藥　皂角（各一兩）　雄黃（五錢）　苦參（酒浸一兩）　上藥曬乾為末，蜜刃如梧桐子大，每服五十丸，空心，酒送下。</p>

<h2>換骨散</h2>
<p>白花蛇　烏蛇　地龍（福建蚯蚓）　當歸　細辛　天麻　白芷　荊芥　威靈仙　蔓荊子　菊花　苦參　沙參　木賊　不灰木　蒺藜　甘草　天冬　赤芍　菖蒲　定風草　胡麻　木鱉　何首烏　蒼朮　川烏　上藥各等分為細末，每服五錢，空心酒送下。</p>

<h2>胡麻丸</h2>
<p>胡麻（十二兩）　苦參　荊芥（各八兩）　何首烏　防風　靈仙（各八兩）　甘草（六兩）　菊花　蔓荊子　石菖蒲　蒺藜（各八兩）　上藥研末，每日服三次酒送下。</p>

<h2>秦艽丸</h2>
<p>秦艽　川椒　人參　茯苓　蔓荊子　細辛　草河車　蜂房　麻黃　白附子　乾薑　木香　桔梗　桂心　獨活　當歸　羌活　黃芩　天雄　石楠　杜仲　白芥子　柴胡　豬膏骨　烏豆　甘草　川芎　防風　上各等分，酒浸，日飲三次。</p>
<p>另用白附子，川芎，荊芥各等分，馬鬃灰五錢，和香油熬，擦頭面即生鬚髮。</p>

<h2>當歸連翹散</h2>
<p>當歸　花粉　連翹　大黃　芍藥　金銀花　黃花地丁　生地　劉寄奴　上各等分，姜三片為引，取瀉。</p>

<h2>乳香黃耆散</h2>
<p>乳香　沒藥　黃耆（各五分）　丁香（二錢）　蘆花（四錢）　沉香（三錢）　木香（五錢）　上藥為細末，每服三錢，溫開水一盅。或煎六分，空心服。若口渴喉干，大便乾小便赤，則去丁香加大黃、川楝各一錢。</p>

<h2>柴蘇流氣飲</h2>
<p>紫蘇　桔梗　枳殼　厚朴　甘草　芍藥　白芷　陳皮　檳榔　香附　大腹皮　上各等分，水煎服。</p>

<h2>透骨膏</h2>
<p>蟾酥（五分）　大茴香（一個）　鋼砂（三錢）　麝香（一分）　巴豆（十粒）</p>
<p>上為細末，用小瓷瓶收藏，每用藥刺破瘡頭，點。不效，可加輕粉二錢，同入為末。</p>

<h2>又方</h2>
<p>蟾酥　硼砂　輕粉　巴豆（各一錢）　蝸牛（二錢）　麝香（一分）　先將巴豆研如泥，次入蝸牛、麝香，再研後入各藥。研極細末，以小瓷瓶收貯。每用少許，以乳汁化開，先用針輕輕撥破毒頭，挑藥粒納干瘡口，外用清涼膏貼之。此潰膿藥外科不可缺者。</p>

<h2>梅花散</h2>
<p>寒水石（一兩）　龍骨（二錢）　黃丹（三錢）　血竭（一錢）　上研為末，收藏備用。</p>

<h2>追黴水銀膏</h2>
<p>水銀（一兩）　皂礬（七錢）　白鹽（五錢）　硃砂　膽礬　火硝　鵝管石　滑石（以上五味各三錢）　上藥研極細，置廣鍋內，上以土碗蓋好，酒水各半細泥封口，不可露縫，上放瓦一片。鍋底用文武火煉三炷香，提出候鍋冷，或火炭化了不可提鍋，以刀輕輕刮下，鵝毛掃之。鍋中異有不盡者，又用水銀、皂礬　白鹽，同研再異，其下腳亦可同入再異。干則少加水幾點，不可太濕。其鍋底粗者，可擦疥癬，小者以火煅寒水石、石膏充之。</p>

<h2>蠻王酒（又名酒仙散）</h2>
<p>麻黃　木鱉　胡黃連　鼠黏子　枸杞　防風　蔓荊　蒺藜　瓜蔞　苦參　輕粉　上各等分，然若前藥用一兩五錢，只可入輕粉一錢。每服五分，服三次，鼻氣出即效。</p>

<h2>烏蛇丸</h2>
<p>烏蛇肉（酒浸，四兩）　露蜂房（炙，一兩）　苦參　檳榔　桃仁（各五錢）　白蒺藜（炒，五錢）　硃砂（二錢五分）　無名異　雷丸　雄黃（各五錢）　皂角（炒，五錢）　胡麻（四兩）　黃耆（一兩）　蛤蟆頭（一個）</p>
<p>上為末，用皂角十片煎膏和丸，如梧子大，空心服，每次四十丸，酒送下。</p>

<h2>如聖散</h2>
<p>荊芥　蔓荊子　大力子　苦參　玄參　厚朴　枸杞　白芷　防風　木鱉　胡麻　威靈仙　桃柳枝水浸洗之。</p>

<h2>解毒丸</h2>
<p>大黃　黃芩　連翹　梔子（各五錢）　滑石（一兩）　上為末，水丸，薑湯送下。</p>

<h2>麝香蟾酥丸</h2>
<p>麝香（五分）　明信（二錢）　雄黃（一錢）　輕粉（五錢）　乳香（五錢）　巴豆（十五粒，去油）　白凌飯石（三錢）　上為末，用水和丸如綠豆大。服用量多少視人大小而定，每服薑湯下之。</p>
<p>白凌飯石，如雞鵝蛋大，黑白青紅點相間，甚鬆脆，惟岳陽樓下有之，澗溪亦有。</p>

<h2>乳香拔毒散</h2>
<p>黃柏（二錢）　黃芩（二錢）　地骨皮（一兩）　乳香（一錢）　沒藥（一錢）　上為細末，井水調敷。</p>

<h2>追風流氣飲</h2>
<p>紫蘇　桔梗　枳殼　當歸　川芎　白芷　柴胡　防風　羌活　獨活　犀角　芍藥　連翹　甘草　上等分，水煎服。</p>

<h2>洗毒散</h2>
<p>麻黃　地骨皮　蛇床子　紫花地丁　煎湯溫沐。</p>

<h2>當歸黃耆散</h2>
<p>噹噹　黃耆　銀花　芍藥　大黃　陳皮　紫花地丁　甘草　上等分，姜三片，水煎服。</p>

<h2>乳香輕粉散</h2>
<p>乳香（一兩）　白礬（三錢）　輕粉（五錢）　沒藥（一兩）　麝香（五分）　上共為末，敷瘡口。</p>

<h2>消風散</h2>
<p>荊芥穗　炙草　人參　白殭蠶　白茯苓　防風　川芎　藿香　蟬退（各二兩）　陳皮　厚朴（薑製）　羌活（各五分）　上共為細末，每服三錢，清茶調下。</p>
<p>此藥治一切風熱癬疥，瘙癢發熱，或頭皮腫痛，頭目昏眩，鼻流清水，噴嚏聲重，耳嗚諸疝。</p>

<h2>鴉陷麝香輕粉散</h2>
<p>枯礬（五分）　輕粉　紅丹（各一錢）　麝香（少許）　老鴉毛燒灰存性（五分）　上為末敷之。</p>

<h2>鐵粉散</h2>
<p>紅丹（一兩）　生鐵粉（二兩）　輕粉（五錢）　松香（五錢）　麝香（一分）</p>
<p>上為細末，清油調貼。</p>

<h2>追毒烏金散</h2>
<p>巴豆（五錢）　寒食麵（一兩）　金墨（一錠）　面用水調糊狀，包於巴豆之外，文武火燒黑，研末干敷。</p>

<h2>追毒散</h2>
<p>巴豆（五錢）　雄黃（三錢）　綠豆粉（一兩）　共為細末調敷。</p>

<h2>針頭散</h2>
<p>人信（五分）　乳香（三錢）　沒藥（二錢）　上為細末敷瘡口</p>

<h2>麝香輕粉散</h2>
<p>輕粉（五錢）　乳香（一兩）　沒藥（一兩）　麝香（五分）　飛礬（五錢）　上為末敷之。</p>

<h2>黃耆丸</h2>
<p>黃耆（一兩）　附子（四錢）　茴香（七錢）　兔絲子（一兩五錢）　上細末，酒糊為丸。</p>

<h2>如聖膏</h2>
<p>巴豆（三錢）　當歸（五錢）　輕粉（二錢）　上細末，清油八兩，熬至滴水成珠；去渣，入黃丹三兩，文武火收之。</p>
<p>此膏治一切風疳疥癬，痛癢惡瘡，終年不愈者。</p>

<h2>乳香蓽茇散</h2>
<p>乳香　天麻　防風　草烏　蓽茇　細辛　川芎　硼砂　薄荷　麝香　上水煎，口噙。</p>

<h2>升麻和氣飲</h2>
<p>當歸　陳皮（各一錢五分）　枳殼（麵炒）　芍藥（酒炒）　半夏（制）　桔梗（炒）　白芷　乾葛　白茯苓　炙草（各一錢）　乾薑（炒）　大黃（各五分）　升麻（三分）　蒼朮（米泔麥酒炒，一錢）　水煎服。</p>

<h2>又乳香黃耆散</h2>
<p>乳香　沒藥（各五分）　黃耆（去殼）　人參　甘草　川芎　歸身　芍藥　陳皮　麻黃（各一錢）　粟殼（去筋膜蜜炒，一錢）　上煎服。</p>
<p>此方治一切癰疽發背，諸毒疔瘡，疼痛不可忍者。未成者速散，已成者速潰，腐敗膿毒，不假刀砭，其惡肉自然脫落。並治打撲損傷，筋骨疼痛。</p>

<h2>神應膏</h2>
<p>蛇退（三條）　發灰　乳香　沒藥　雄黃　血竭（各一兩）　當歸　防風　羌活　獨活　木鱉（各一兩）　上入油一斤，加豬脊髓，桃柳槐枝，熬油焦黑，濾起，再入鍋內加黃丹半斤，收好備用。</p>

<h2>又如聖散</h2>
<p>川芎　桔梗　薄荷　硼砂　甘草　上為末，敷瘡口。</p>

<h2>玉屑妙靈散</h2>
<p>滑石（研細為粉）　每服一錢，煎木通湯送下。</p>

<h2>香膽散</h2>
<p>木香（一錢）　黃丹　枯礬（各五錢）　輕粉（二錢）　上藥為細末，用豬膽汁拌勻，曬乾，再研細搽患處。</p>

<h2>黃耆湯（治瘡，退風濕熱）</h2>
<p>黃耆（銼）　黃芩（去黑心）　麥冬（去心，焙）　芍藥（各一兩）　甘草（炙銼，五錢）　生地（四兩）　半夏（五錢）　當歸（四兩）　大黃（銼炒）　石膏（碎）　川芎　人參（各一兩）　上銼如麻豆，每服五錢，用水一盞半竹葉七片，煎至一盞去渣，空心溫服。</p>

<h2>又乳香定痛散</h2>
<p>治諸瘡疼痛、潰爛諸藥不應，有效。</p>
<p>乳香　沒藥（各二錢）　滑石　寒水石（煅，各四錢）　冰片（一分）　上為細末搽患處，痛即止。</p>

<h2>又內消散</h2>
<p>銀花　知母　貝母　天花粉　白芨　半夏　穿山甲　皂角刺　乳香（各一錢）　上水酒各一碗，煎八分，病在上飯後服，病在下飯前服。藥渣搗爛加芙蓉葉細末一兩，白蜜五匙，同調敷瘡上，一宿自消，重者再用一服，忌口立效。</p>

<h2>附羅氏保主錠</h2>
<p>治疔瘡發背瘰癧及一切惡瘡。</p>
<p>金腳信　輕粉（各二錢）　雄黃　硇砂（各三錢）　麝香（一錢五分）　蟾酥（一錢）　巴豆（四十九粒，另研，文武火炮。）　上藥研細末，用黃蠟五錢熔開，將藥末和成錠子，冷水浸片時，取出錠子捏作餅子，如銅錢大。將瘡頭撥破，每用一餅，次用種應膏，後用托裡散，若瘡毒入腹危者，服破骨丹。</p>
<p>世傳疔瘡心有一條紅線，所至之處針出血，然後敷藥。</p>
