<header data-type="book">
<h1>脈象統類</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈金鰲</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1773">公元1773年</data></dd></div>
<div><dt>底本</dt><dd>清乾隆三十九年甲午刻本</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>（直看橫推）</p>
<p>提綱要脈，不越浮、沉、遲、數、滑、澀六字，以足該表裡陰陽、冷熱虛實、風寒燥濕、臟腑氣血也。蓋浮為陽、為表；沉為陰、為里；遲為在臟，為冷、為虛、為寒；數為在腑，為熱、為燥、為實；滑為血有餘；澀為氣獨滯。能於是縷晰以求之，而疢疾莫能逃矣。顧浮沉以舉按輕重言，若洪、芤、弦、虛、濡、長、散，皆輕按而得之類，故統於浮；短、細、實、伏、牢、革、代，皆重手而得之類，故統於沉。遲數以息至多少言，若微、弱、緩、結，皆遲之類，故統於遲；緊、促、動，皆數之類，故統於數。至如滑雖似數，澀雖似遲；而其理自殊，緣遲數以呼吸察其至數，滑澀則以往來察其形狀，且滑澀二脈，多主氣血故也，故此二脈，雖無所統，亦平列於後，以為六綱云。</p>
<p><u>浮</u>　浮以候表（其象輕手乃得，重手不見，動在肌肉以上。）</p>
<p>浮為風虛眩掉之候。陽脈浮，表熱。陰脈浮，表虛。秋為正，肺脈宜，久病則忌。</p>
<p>左寸（傷風、發熱、頭疼、目眩、風痰。兼虛遲，心氣不足、心神不安。兼散，心耗虛煩。兼洪散，心熱。）</p>
<p>左關腹脹。兼數，風熱入肝經。兼促，怒氣傷肝，心胸滿逆。</p>
<p>左尺（膀胱風熱，小便赤澀。兼芤，男子尿血。女子崩漏。兼遲，冷疝，臍下痛。）</p>
<p>右寸（肺感風寒，咳喘、鼻寒、清涕、自汗、體倦。兼洪，肺熱而咳。兼遲，肺寒喘嗽。）</p>
<p>右關（脾虛，中滿不食。兼大澀，宿食。兼遲，脾胃虛。兼滑，痰飲。）</p>
<p>右遲（風邪客下焦，大便秘。兼數，下焦風熱，大便秘。兼虛，元氣不足。）</p>
<p>浮而有力為洪　</p>
<p>（即大脈，又名鉤脈。其象極大而數，按之滿指，如群波之湧，來盛去衰，來大去長也。）</p>
<p>洪為經絡大熱，血氣燔灼之候，夏為正，心脈宜。</p>
<p>血久嗽忌。形瘦多氣者死。凡脈洪則病進。</p>
<p>（為表裡皆熱，為大小便秘，為煩，為口燥咽乾。）</p>
<p>左寸（心經熱，目赤、口瘡、頭疼痛、心內煩。）</p>
<p>左關（肝熱，身痛、四肢浮熱。）</p>
<p>左尺（膀胱熱，小便赤澀。）</p>
<p>右寸（肺熱，毛焦、唾黏、咽乾。）</p>
<p>右關（胃熱，反胃、嘔吐、口乾。兼緊，胸中脹滿。）</p>
<p>右尺（腹滿、大便難或下血。）</p>
<p>浮而無力為芤　</p>
<p>（其象浮大而軟，按之中有兩邊無，中空兩邊實，指下成窟，診在浮舉重按之間得之。）</p>
<p>芤為失血之候，大抵氣有餘血不足，血不足以載氣，故虛而大，為芤之狀。火犯陽經，血上溢，火侵陰絡，血下流，三部脈芤，久病生，卒病死。</p>
<p>左寸（心血妄行、吐衄。）</p>
<p>左關（脅間血氣動，腹中瘀血、吐血，目暗而常昏。）</p>
<p>左尺（小便血、女子月事為病。）</p>
<p>右寸（胸有積血，或衄或嘔。）</p>
<p>右關（腸癰瘀血，嘔血不食。）</p>
<p>右尺（大便血。）</p>
<p>（古人云，前大後細，脫血也，夫前大後細，非芤而何。）</p>
<p>浮而端直為弦　</p>
<p>（其象按之不移，舉之應手，端直如新張弓弦之狀。）</p>
<p>弦為血氣收斂，為陽中伏陰，或經絡間為寒所滯之候。弦緊數勁為太過，弦緊而細為不及；弦而軟病輕，弦而硬病重；輕虛以滑者平，實滑如循長竿者病；勁急如新張弓弦者死。春為正，肝脈宜，若肝木剋土而至不食難治。瘧病自弦。</p>
<p>（凡脈弦，為痛，為瘧，為疝，為飲，為冷痹，為勞倦，為拘急，為寒熱，為血虛盜汗，為寒凝氣結。兼數，勞瘧。兼長，中有積滯。雙弦，脅急痛。）</p>
<p>左寸（頭疼、心惕、勞傷、盜汗、乏力。）</p>
<p>左關（脅肋痛、痃癖。兼小，寒冷癖。兼緊，瘀血、疝瘕。）</p>
<p>左尺（小腹痛。兼滑，腰腳痛。）</p>
<p>右寸（肺經受風寒，咳嗽胸膈間有寒痰。）</p>
<p>右頭（脾胃傷冷、宿食不化、心腹冷痛，又為飲。）</p>
<p>右尺（臍下急痛不安，下焦停水。）</p>
<p>浮而遲大為虛　</p>
<p>（其象遲軟散大，舉按少力，豁然空，不能自固。）</p>
<p>虛為氣血俱虛之候，氣血虛則脈虛，主多在內不足之症，久病脈虛，多不治。</p>
<p>（凡脈虛，為傷暑，為虛煩，為自汗，為小兒驚風。）</p>
<p>寸（血不榮心、怔忡、恍惚、驚悸。）</p>
<p>關（腹脹、食不易化。）</p>
<p>尺（骨蒸、痿痹、精血虧損。）</p>
<p>浮而遲細為濡　</p>
<p>（即軟脈。其象虛軟無力，應手細散，如綿絮之在水中，輕手相得，重手按之，即隨手而沒。）</p>
<p>濡為氣血兩虛之候，亦主脾濕，病後產後可治，平人脈濡難治。</p>
<p>（凡脈濡，為疲損，為自汗，為痹，為下冷，為無血少氣。）</p>
<p>左寸（心虛易驚、盜汗、短氣。）</p>
<p>左關（榮衛不和、精神離散、體虛懶、少力。）</p>
<p>左尺（男傷精女脫血、小便數、自汗多。）</p>
<p>右寸（烘熱憎寒、氣乏體虛。）</p>
<p>右關（脾弱，食不化；胃虛，食不進。）</p>
<p>右尺（下元冷憊、腸虛泄瀉。）</p>
<p>浮而迢亙為長　</p>
<p>（其象不大不小，迢迢自若，指下有餘，過於本位。）</p>
<p>長為氣血皆有餘之候，有三部之長，有一部之長，按之如牽繩，則病矣。長屬肝，宜於春，診無病肝脈自見。</p>
<p>（凡脈長，為壯熱，為癲癇，為陽毒內蘊，為三焦煩熱，為陽明熱甚。）</p>
<p>浮而虛大為散　</p>
<p>（其象有表無里，有陰無陽，按之滿指，散而不聚，來去不明，漫無根柢，如渙散不收。）</p>
<p>散為氣血耗散，臟腑氣絕之候，在病脈主虛陽不斂，又主心氣不足，大抵非佳兆也。心浮大而散，肺短澀而散，猶為平脈。若病脈見代散，必死。產婦脈散，臨盆之兆，如未到產期，必致墮胎。</p>
<p>寸（怔忡、雨汗。）</p>
<p>關（溢飲、胻腫。）</p>
<p>尺（腎絕。）</p>
<p><u>沉</u>　沉以候里（其象輕手不見，重手乃得，按至肌肉以下，著於筋骨之間。）</p>
<p>沉為陰逆陽虛之候，主陰經、主氣、主水、主寒、主骨，太過病在外，不及病在內，冬為正，女寸男尺俱宜。</p>
<p>（凡脈沉，為停飲，為癖瘕，為脅脹，為厥逆，為洞泄。兼細，少氣。兼滑，宿食停滯。兼遲，痼冷內寒。兼伏，霍亂吐瀉。兼數，內熱甚。兼弦，心腹冷痛。）</p>
<p>左寸（心內寒邪痛、胸中寒飲、脅痛。）</p>
<p>左關（伏寒在經，兩脅刺痛。兼弦，痃癖內痛。）</p>
<p>左尺（腎臟寒，腰背冷痛、小便濁而頻、男為精冷女為血結。兼細，脛酸陰癢、溺有餘瀝。）</p>
<p>右寸（肺冷，寒痰停蓄、虛喘少氣。兼緊滑，咳嗽。兼細滑，骨蒸寒熱、皮毛焦乾。）</p>
<p>右關（胃中寒積，中滿吐酸。兼緊，懸飲。）</p>
<p>右尺（病水，腰腳痛。兼細，下利、小便滑、臍下冷痛。）</p>
<p>沉而不及為短　</p>
<p>（其象兩頭無，中間有，不及本位，應手而回。）</p>
<p>短為氣不足以前導其血之候，俱主不及之病。短脈只見寸尺，若關部短，則上不通寸，下不能尺，是陰陽絕脈，必死，故關不診短。短屬肺，宜於秋，診無病肺脈，其形自可見。</p>
<p>（凡脈短，為三焦氣壅，為宿食不消。兼浮，血澀。兼沉，痞塊。兼滑數，酒傷腸胃。）</p>
<p>寸（頭痛。）</p>
<p>尺（腹痛。）</p>
<p>沉而微軟為細　</p>
<p>（其象小於微而常有，細直而軟，指下尋之，往來如蠶絲狀。）</p>
<p>細為血冷氣虛不足以充之候，故主諸虛勞損，或濕侵腰腎，應病則順，否則逆。吐衄得之生，春夏與少年不利，秋冬與老弱可治。憂勞過度者脈亦細，凡細脈，病俱在內、在下。</p>
<p>（凡脈細，為元氣不足，乏力，無精，內外俱冷，痿弱，洞泄，為積，為痛。）</p>
<p>寸（嘔吐。）</p>
<p>關（胃虛，腹脹。）</p>
<p>尺（丹田冷，泄痢、遺精。）</p>
<p>沉而弦長為實　</p>
<p>（其象舉按不絕，迢亙而長，不疾不徐，動而有力。）</p>
<p>實為三焦氣滿之候，俱主有餘之病。</p>
<p>（凡脈實，為嘔，為痛，為利，為氣寒，為氣聚，為食積、為伏陽在內。）</p>
<p>左寸（心中積熱，口舌瘡、咽喉痛。兼大，頭面熱風、煩躁、體痛、面赤。）</p>
<p>左關（腹脅痛滿。兼浮大，肝盛，目暗、痛而赤色。）</p>
<p>左尺（少腹痛、小便澀。兼滑，莖中痛、淋瀝不止、溺赤色。兼大，膀胱熱結，小便難。兼緊，腰脊疼痛。）</p>
<p>右寸（胸中熱，痰嗽、煩滿。兼浮，肺熱，咽燥而疼、喘嗽、氣壅。）</p>
<p>右關（伏陽蒸內、脾虛食少、胃氣壅滯。兼浮，脾熱，消中善飢、口乾、勞倦。）</p>
<p>右尺（臍下痛、便難或時下利。）</p>
<p>沉極幾無為伏　</p>
<p>（其象極重按之，至於透筋著骨，指下始覺隱隱然。）</p>
<p>伏為陰陽潛伏，關格閉塞之候，關前得之為陽伏，關後得之為陰伏，脈伏者不可發汗，痛甚者脈必伏。</p>
<p>（凡脈伏，為積聚，為瘕癥，為霍亂，為水氣，為食不消，為榮衛氣閉而厥逆。）</p>
<p>左寸（心氣不足、神不守常、憂鬱。）</p>
<p>左關（血冷、腰腳痛、脅下寒氣。）</p>
<p>左尺（腎寒精虛、瘕疝寒痛。）</p>
<p>右寸（胸中冷滯、寒痰積冷。）</p>
<p>右關（中脘積塊作痛、脾胃間停滯痞積。）</p>
<p>右尺（臍下冷痛、下焦虛寒或痛、腹中痛冷、少腹痛。）</p>
<p>沉而有力為牢　</p>
<p>（其象似沉似伏，實大而長，少弦，按之動而不移，若牢固然。）</p>
<p>牢為裡實表虛，胸中氣促，勞傷痿極之候。大抵牢脈近乎無胃氣者，故為危殆之脈。如失血人宜沉細，若浮大而牢，必死，以虛病反見實脈也。</p>
<p>（凡脈牢，為氣居於表，為骨節疼痛。）</p>
<p>寸</p>
<p>關（木乘土而心腹寒疼。）</p>
<p>尺（㿗疝、癥瘕。）</p>
<p>沉失常度為革　</p>
<p>（其象沉伏實大，如按鼓皮一般。）</p>
<p>革為虛寒失血之候，其實即芤弦二脈相合之象，芤為虛，弦為寒，虛寒相搏，故主男子亡血失精，女子半產漏下，又為中風感濕之症。久病死，卒病生。脈來渾濁變革，急如湧泉，出而不反，病進而危，去如弦絕者死。</p>
<p>寸</p>
<p>關</p>
<p>尺</p>
<p>沉而更代為代　</p>
<p>（其象動而中止，不能自還，因而復動，由是復止，尋之良久，乃復強起而動。）</p>
<p>代為臟氣多衰，形容羸瘦，口不能言之候。若不病而羸瘦，脈代止，是一臟無氣，他臟代之，必危；若因病而氣血驟損，致元氣卒不相績，或風家痛家，只為病脈，故傷寒亦有心悸而脈代者（復脈湯主之。）腹心疼亦有結澀止代不勻者，久痛之脈，不可准也；妊娠脈代，必懷胎三月，代脈有生有死，非定為死脈，宜辨之。</p>
<p>（凡脈代，為腹痛，為便膿血，為泄利吐瀉，為下元虛損。）</p>
<p><u>遲</u>　遲以候臟（其象呼吸之間，脈僅三至，去來極慢。）</p>
<p>遲為陰盛陽虛之候，陽不勝陰，故脈來不及也。居寸為氣不足，氣寒則縮也；居尺為血不足，血寒則凝也。</p>
<p>（凡脈遲，為寒，為虛。兼浮，表寒。兼沉，裡寒。）</p>
<p>左寸（心上寒、精氣多慘。）</p>
<p>左關（筋寒急、脅下痛、手足冷。）</p>
<p>左尺（腎虛便溺、女人不月。）</p>
<p>右寸（肺感寒、冷痰、氣短。）</p>
<p>右關（中焦寒，脾胃傷冷物。不食，食不化。兼沉為積。）</p>
<p>右尺（臟寒泄瀉、小腹冷痛、腰腳重。）</p>
<p>遲而細軟為微　</p>
<p>（其象極細而軟，若有若無，多兼於遲，按之如欲絕。）</p>
<p>微為久虛血弱之候，又主陰寒或傷寒蓄熱在裡，脈道不利，亦微細濡弱，不可為寒者，當以標本別之，總之氣血微脈即微。</p>
<p>（凡脈微，為虛弱，為虛汗，為泄瀉，為少氣，為崩漏不止。兼浮，陽不足，必身惡寒冷。兼沉，陰不足，必臟寒下利。）</p>
<p>左寸（心虛憂惕、榮血不足。）</p>
<p>左關（胸滿氣乏、四肢惡寒、拘急。）</p>
<p>左尺（男子傷精尿血，女子崩漏敗血不止或赤白帶下。）</p>
<p>右寸（上焦寒、痞痛、冷痰凝結不化、中寒少氣。）</p>
<p>右關（胃寒氣脹、食不能化、脾虛噫氣、心腹冷痛。）</p>
<p>右尺（臟寒泄瀉、臍下冷痛。）</p>
<p>遲而無力為弱　</p>
<p>（其象極軟而沉細，怏怏不前，無息以動，按之如欲絕，略舉手即無。）</p>
<p>弱為陽陷入陰，精氣不足之候，亦主筋。脈弱以滑，是有胃氣，脈弱以澀，是為久病；陽浮陰弱，應為血虛筋急、惡寒發熱之病。老得之順，壯得之逆。</p>
<p>（凡脈弱，為痼冷，為烘熱，為泄精，為虛汗，為元氣虧耗，為痿弱不前。）</p>
<p>左寸（陽虛心悸、自汗。）</p>
<p>左關（筋痿無力，女人主產後客風面腫。）</p>
<p>左尺（小便頻數、腎元虛、耳鳴或聾、骨肉間痠疼。）</p>
<p>右寸（身冷多寒、胸中短氣。）</p>
<p>右關（脾胃虛、食不化。）</p>
<p>右尺（下焦冷痛、大便滑泄不禁。）</p>
<p>遲而有力為緩　</p>
<p>（其象比浮而稍大，似遲而小疾，一息四至，來往紆緩，呼吸徐徐。）</p>
<p>緩為氣血向衰之候。若不沉不浮，從容和緩，乃脾家之正脈。四季亦為平脈，非時即病。和緩而勻，無浮沉徐疾微弱之偏，即為胃氣脈。</p>
<p>（凡脈緩，為風，為虛，為痹，為弱，為疼。在上為項強，在下為腳弱。兼浮，感風。兼沉，血氣弱。）</p>
<p>左寸（心氣不足，怔忡、健忘。亦主項背拘急而痛。）</p>
<p>左關（風虛眩暈、腹脅氣結。）</p>
<p>左尺（腎元虛冷、小便頻數，女人主月事過多。）</p>
<p>右寸（肺氣浮、言語短氣。）</p>
<p>右關（胃弱、氣虛。兼浮，脾虛。）</p>
<p>右尺（下寒腳弱、風氣秘滯。兼浮，腸風泄瀉。兼沉，小腹感冷。）</p>
<p>遲而時止為結　</p>
<p>（其象來時遲緩，時一止，復又來。）</p>
<p>結為陰獨盛而陽不能相入之候，此為陰脈之極。按之累累如循長竿曰陰結，藹藹如張車蓋曰陽結，又有如麻子動抽、旋引旋收、聚散不常之結，此三脈，名雖同而實則異。</p>
<p>（凡脈結，為亡陽，為汗下，為疝瘕，為癥結，為老痰滯結，為氣血凝結，為七情鬱結，內為積聚，外為癰腫。兼浮，寒邪滯結。兼沉，積氣在內。</p>
<p>又為氣，為血，為痰，為飲，為食，蓋先因氣寒脈緩，五者有一留滯其間，因而為結，故仲景謂促結皆病脈。）</p>
<p><u>數</u>　數以候腑（其象一息六至，數數然來。）</p>
<p>數為君相二火炎熱之候，陰不勝陽，故脈來太過，小兒吉，肺病秋深皆忌。</p>
<p>寸（頭疼、上熱咽喉口舌瘡、上血咳嗽。）</p>
<p>關（胃火，脾熱口臭、煩滿、嘔逆；肝火，目赤。）</p>
<p>尺（腎火熾，小便黃赤，大便秘澀。兼浮，表熱。兼沉，裡熱。）</p>
<p>數而弦急為緊　</p>
<p>（其象來時動急，按之長，左右彈指，舉之若牽繩轉索之狀。）</p>
<p>緊為寒風搏急，伏於營衛之間之候。凡緊脈皆主寒與痛，內而腹，外而身，有痛必見緊象。亦有熱痛者，必兼實數，熱為寒束，故急數如此，但須有神氣為妙。</p>
<p>（凡脈緊，人迎傷寒、氣口傷食。兼浮，傷寒而身痛。兼沉，腹中有寒，或為風癇。）</p>
<p>左寸（頭熱目痛，項強。兼沉，心中氣逆，或多寒冷。）</p>
<p>左關（心腹滿痛、腰痛、脅痛、筋急。緊甚，傷寒渾身痛。兼實，痃癖。）</p>
<p>左尺（腰連臍下及腳痛，小便難。）</p>
<p>右寸（鼻塞、膈壅。兼沉滑，肺實咳嗽或多痰。）</p>
<p>右關（吐逆、脾腹痛。緊太盛，腹脹傷食。）</p>
<p>右尺（下焦築痛。）</p>
<p>數而時止為促　</p>
<p>（其象來時數，時一止，復又來，徐疾無一定之狀。）</p>
<p>促為陽獨盛而陰不能相和之候。怒氣逆上，亦令脈促。此陽脈之極。</p>
<p>（凡脈促為氣痛，為狂悶，為毒疽，為瘀血發斑，為三焦鬱火，為痰積咳嗽或喘逆。）</p>
<p>（又為氣，為血，為食，為痰，為飲，蓋先因氣熱脈數，五者有一留滯其間，則因之而促。此促與結，非定為惡脈也，雖然，有加即死，能退則生。）</p>
<p>數見關中為動　</p>
<p>（其象數見關中，形圓如豆，無頭無尾，厥厥動搖，尋之有，舉之無，不往不來，不離其處。）</p>
<p>動為陰陽相搏之候，關位前半屬陽，後半屬陰，陰與陽搏，陽虛則陽動，陰虛則陰動。動脈即滑數二脈相兼為極甚者，故女人心脈動甚妊子。</p>
<p>（凡脈動，為痛，為驚，為泄利，為拘攣，為崩脫，為虛勞體痛，陽動汗出，陰動發熱。）</p>
<p><u>滑</u>　滑以候氣（其象往來流利，如珠走盤，不進不退。）</p>
<p>滑為血實氣壅之候，血不勝於氣也，主痰飲諸病。脈為血府，血盛則脈滑，惟腎宜之。女人脈滑斷絕不勻，經閉之驗，諸脈調，尺獨滑，必有胎。上為吐逆，下為氣結，滑數為熱結。</p>
<p>左寸（心獨熱。兼實大，心驚舌強。）</p>
<p>左關（肝熱，頭目為患。）</p>
<p>左尺（尿赤、莖中痛、小便淋漓。）</p>
<p>右寸（痰飲、嘔逆。兼實，肺熱、毛髮焦、膈壅、咽乾、痰嗽、頭目昏、涕唾稠黏。）</p>
<p>右關（脾熱，口臭、吐逆、宿食不化。兼實，胃熱。）</p>
<p>右尺（因相火炎而引飲多，臍冷、腹鳴或時下利。女人主血熱氣壅、月事不通，若和滑，為有孕。）</p>
<p><u>澀</u>　澀以候血（其象虛細而遲，往來極難，或一止復來，三五不調。）</p>
<p>澀為氣多血少之候，故主血少精傷之病，蓋氣盛則血少，脈因澀，惟肺宜之。女人有孕而脈澀，為胎病；無孕而脈澀，為敗血（凡脈滑為無汗，或為血痹痛。）</p>
<p>左寸（心肺虛耗不安、冷氣心痛。）</p>
<p>左關（肝虛血散、肋脹脅滿、身痛。）</p>
<p>左尺（男子傷精、㿗疝，女人月事虛敗。若有孕，主胎漏不安。）</p>
<p>右寸（榮衛不和、上焦冷痞、氣短、臂酸。）</p>
<p>右關（脾弱不食、胃冷多嘔。）</p>
<p>右尺（大便秘、津液不足、少腹寒、足脛逆冷。經云：滑者傷熱，澀者傷霧露。）</p>

<h2>附載人迎氣口脈法</h2>
<p>（以上統類所載二十七脈，皆按各脈之寸關尺三部診候。人迎、氣口二脈，無從列入，故特附於後。</p>
<p><u>人迎</u>　人迎候天六氣（左手關前一分為人迎。寸關尺，每部各有前中後三分，關前一分者，乃是關部上之前一分，非言關部之前寸部上之一分也，切勿誤認。氣口同。）</p>
<p>六淫之邪，襲於經絡而未入胃腑，致左手人迎脈緊盛，大於氣口一倍，為外咸風寒，皆屬表，陽也，腑也。人迎之脈浮傷風，緊傷寒，虛弱傷暑，沉細傷濕，虛數傷熱，洪數傷火，皆屬外因，法當表散滲泄。又陽經取決於人迎，左人迎脈不和，病在表為陽，主四肢。士材曰：左關前一分，正當肝部，肝為風木之臟，故外傷於風者，內應風臟而為緊盛也。又曰：但言傷於風，勿泥外因，而概以六氣所傷者，亦取人迎也。</p>
<p><u>氣口</u>　氣口候人七情（右手關前一分為氣口。）</p>
<p>七情之氣，鬱於心腹不能散，飲食五味之傷，留於腸胃不得通，致右手氣口脈緊盛，大於人迎一倍，為內傷七情飲食，皆屬裡，陰也，臟也。氣口之脈，喜則散，怒則濡，憂則澀，思則結，悲則緊，恐則沉，驚則動，皆屬內因。診與何部相應，即知何臟受病，法宜溫潤以消平之。又陰經取決於氣口，右氣口脈不和，病在裡為陰，主腹臟。士材曰：右關前一分，正當脾部，脾為倉廩之官，故內傷於食者，內應食臟而為緊盛也。又曰：但言傷於食，勿泥內因，而概以七情所傷者，亦取氣口也。</p>
<p>人迎氣口俱緊盛，則為夾食傷寒，內傷外感俱見。</p>

<h2>附載奇經八脈</h2>
<p>（此八脈亦以不能混列統類二十七脈中，故又附人迎氣口二脈之後。八脈不拘制於十二正經，無表裡相配，故名曰奇。凡診，八脈所見，統兩手皆然，其從寸部斜至外、斜至內者，左手之外，即右手之內，左手之內，即右手之外，相反推之自見。）</p>
<p><u>陽維</u>　陽維候一身之表（以左手為主，其脈從寸部斜至外者是也。右手反看，下同。）</p>
<p>本脈起於諸陽之會，所以維於陽，蓋人身之衛分即是陽，陽維維陽即維衛，衛主表，故陽維受邪為病亦在表，寸為陽部，外亦為陽位，故陽維之脈，從寸斜至外，不離乎陽也。</p>
<p><u>陰維</u>　陰維候一身之裡（以左手為主，其脈從寸部斜至內者是也。右手反看。）</p>
<p>本脈起於諸陰之交，所以維於陰，蓋人身之營分即是陰，陰維維陰即維營，營主裡，故陰維受邪為病亦在裡，寸雖為陽部，內實為陰位，陰維之脈，從寸斜至內，是根於陽而歸於陰也。</p>
<p><u>陽蹺</u>　陽蹺候一身左右之陽（其脈從寸部左右彈者是也。不論左右手。）</p>
<p>本脈為足太陽經別脈，起跟中，循外踝上行於身之左右，所以使機關之蹺捷也。陽蹺在肌肉之上，陽脈所行，通貫六腑，主持諸表，故其為病，亦表病里和。</p>
<p><u>陰蹺</u>　陰蹺候一身左右之陰。（不論左右手，其脈從尺部左右彈者是也。）</p>
<p>本脈為足少陰經別脈，起跟中、循內踝上行於身之左右，所以使機關之蹺捷也。陰蹺在肌肉之下，陰脈所行，通貫五臟，主持諸里，故其為病，亦裡病表和。</p>
<p><u>督</u>　督候身後之陽（不論左右手，其脈三部中央俱浮，直上直下者是也。）本脈起腎下胞中，循背而行於身之後，為陽脈之總督，故曰陽脈之海，故其為病，往往自下衝上而痛。</p>
<p><u>任</u>　任候身前之陰（不論左右手，其脈丸丸，橫於寸口者是也。）</p>
<p>本脈起腎下胞中，循腹而行於身之前，為陰脈之承任，故曰陰脈之海，故其為病，亦往往自下衝上而痛。</p>
<p><u>沖</u>　沖候身前之陰（不論左右手，其脈來寸口中央堅實，徑至關者是也。）</p>
<p>本脈起腎下胞中，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經脈之海。又以其為先天精血之主，能上灌諸陽，下滲諸陰，以至足跗，故又曰血海，而其為病，多氣逆而裡急。</p>
<p><u>帶</u>　帶候諸脈之約束（不論左右手，其脈來關部左右彈者是也。）</p>
<p>本脈起少腹之側，季脅之下，環身一周，絡腰而過，如束帶狀，所以總約諸脈，故名曰帶。而衝任二脈　，循腹脅，夾臍旁，傳流於氣街，屬於帶脈，絡於督脈，衝任督三脈，同起而異行，一源而三岐，皆絡帶，因諸經上下往來，遺熱於帶脈之間，客熱鬱抑，白物淫溢，男子隨溲而下，女子綿綿而下，皆濕熱之過，故帶脈為病，即謂之帶下。</p>
