<header data-type="book">
<h1>外科傳薪集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬培之</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1892">公元1892年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521058">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>余素不習外科。壬辰歲初。就鄧羹和先生讀內科書。知其胞侄星伯。從孟河馬培之徵君。徵君擅長外科。有方書備載外科諸方。即傳薪集也。許恆氏曾從星伯君學。故得是書。余向之假錄一過。什襲藏之。會丁酉。家慈背患搭手。重如負數千錢。因家境艱難未延專科治。自外敷出毒收口止。均將此書檢方用藥。化重為輕。幸而獲痊。故將得書緣由。識之如上。</p>
<p><u>無錫周鎮小農別署伯華識</u></p>

<h1>冰梅丸</h1>
<p>（治咽喉風痰緊閉。不能言語。紅腫疼痛。用之立效。）</p>
<p>大青時梅（二十個）　大梅片（一錢）　川雅連（一錢）　西瓜霜（二錢）　硼砂（一錢半）　水飛青黛（一錢）　細薄荷（一錢半）　苦甘草（一錢）　荊芥穗（二錢）　象貝（去心四錢）　制殭蠶（四錢）　淡黃芩（鹽水炒一錢半）　上雄精（三錢）　製半夏（三錢）</p>
<p>上十三味。各研細末。將大青梅去核。納以明礬。放瓦上煅至礬枯。去礬。將梅肉搗爛。和上藥末為丸。如龍眼核大。以瓷瓶收貯。臨症用一丸。放舌上化下為度。</p>

<h1>陽和丸</h1>
<p>上桂心（一兩）　麻黃（五錢）　炮薑炭（五錢）　共為細末。灑水為丸。（新增白芥子三錢。鹿角霜五錢。）</p>

<h1>西黃丸</h1>
<p>（治乳癰瘰癧。痰核流注。肺癰。小腸癰毒等。每服三錢。陳酒送下。上部臨臥服。下部空心服。）炙淨乳香沒藥（各一兩）　麝香（一錢半）　西牛黃（三分）　雄精（五錢）</p>
<p>上藥共研末。取飯一兩。打爛。入末藥。再打為丸。如蘿蔔子大。曬乾忌烘。每服三錢。熱陳酒送下。醉蓋取汗。酒醒。癰消痛息。</p>

<h1>琥珀蠟丸</h1>
<p>（治癰疽發背。已成未膿之際。恐毒氣不能外出。必致內攻。預服此丸。護膜護心。散血解毒。功效甚大。每服在日晚三十丸。白湯送。甚者日二次。）</p>
<p>白明礬（一兩五錢）　黃蠟（一兩）　雄黃（一錢二分）　琥珀（一錢另研極細）　硃砂（一錢二分）　蜂蜜（二錢）</p>
<p>先將礬、雄、珀、砂四味。先研細末。再將蜜蠟入銅勺內溶化。離火片時。四邊稍凝。入上藥末攪勻。共成一塊。以一人將藥火上微烘。眾人急丸。如小綠豆子大。用硃砂為衣瓷罐收貯。</p>

<h1>三黃丸</h1>
<p>（治懸癰紅腫。熱毒疼痛。大癰楊梅。廣瘡結毒等症。速服十次。甚險全愈。）</p>
<p>熟大黃（三兩）　乳香沒藥（去淨油各二兩）　雄精（五錢）　麝香（一錢五分）　西黃（三分）　新增雅連（三錢）　淡芩（酒拌曬乾一兩）　先將熟大黃酒浸透。入碗。隔湯蒸軟。搗爛。然後以乳香、沒藥、雄、麝、犀。五味末和入。再打千捶為丸。如梧子大。每服五錢。</p>

<h1>通聖丸</h1>
<p>（治一切陽毒。小兒禿瘡。）</p>
<p>防風　桔梗　麻黃（去節）　甘草（各一兩）　當歸　川芎（酒炒）　滑石（各一兩）　白芍（酒炒）　石膏（煨）　白朮（土炒）　芒硝（酒浸焙乾）　連翹　黃芩（酒炒）　黑梔　薄荷　荊芥（各二錢五分）　共為細末。水泛為丸如綠豆大。</p>

<h1>蛇咬解毒丸</h1>
<p>（甚效。）</p>
<p>白礬（一兩）　甘草（五錢）　雄黃（一兩）　三七（一兩）　白芷（一兩）　青木香（五錢）　川貝（一兩）　五靈脂（一兩）　硃砂（一錢）　共為細末。飯糊為丸。硃砂為衣。</p>

<h1>金龍丸</h1>
<p>（治一切疔腫。並跌僕損傷。筋攣。貼骨癰疽兼治男婦大小頭項瘰癧。及乳串流核。痰氣滯凝。痘後發癰。）</p>
<p>番木鱉（四兩。以米泔水浸三日。刮去毛皮。切曬。麻油炒透。）　甲片（一兩五錢炒斷絲）　共為末。以黃米飯搗勻為丸。桐子大。每服五分。量人酌減。按部位用引經藥。煎湯送下。宜暖睡。勿冒風。如冒風覺周身麻木。或發抖。不必驚慌。過片時即安。初起一二服即消已成膿者。服此自能出毒。不必咬頭開刀。誠外科家第一妙方也。　引經。</p>
<p>頭面（川芎五分羌活五分）　腰間（杜仲五分）　足膝（牛膝五分木瓜五分）　肩背（角針五分）　兩臂（桂枝五分）　兩脅（柴胡五分）　咽頭（桔梗五分甘草五分）　跌僕（紅花五分歸身五分）　年老氣血衰。只服（四分）。新產半月內。只服（四分）　滿月服（五分）。　男婦瘰癧痰毒。（夏枯草湯服。或酒送。）　小兒周歲以內。服（九粒）。　周歲以外服（十一粒）。　三歲服（十五粒）。　四五歲服（十九粒）。　六七歲服（二十一粒）。　八九歲服（三十一粒）。　十歲服（三分）。　十五歲服（四分）。　二十歲照大人服法。小兒不能吞服。以開水送。或甜酒調化送下。</p>

<h1>五龍丸</h1>
<p>（即散流注丸，治半陰半陽及眼癰、魚口、便毒、鶴膝風症。）</p>
<p>甲片（土炒）　全蠍（酒炒）　槐末（炒）　殭蠶（炙）　土貝母（研各一兩）　麵糊為丸。每服三錢。陳酒送下。</p>

<h1>自制霹靂丸</h1>
<p>（專治一切吐瀉。冷麻痧。）</p>
<p>桂枝（三兩）　川椒（二兩五錢）　良薑（五錢）　乾薑（一兩半）　苡仁（二兩五錢）　小茴香（二兩）　公丁香（二兩）　防己（一兩五錢）　降香（二兩五錢）　附子（一兩五錢）　蔥白頭（二兩）　檳榔（二兩）　烏藥（一兩五錢）　木香（二兩）　蓽澄茄（二兩）　草果（一兩）　吳萸（一兩）　菖蒲（一兩）　細辛（一兩）　生曬研末。水泛為丸。每服三錢。開水送下。小兒減半。孕婦忌服。</p>

<h1>琥珀射星丸</h1>
<p>（治痰迷心竅。）</p>
<p>辰砂　琥珀　射干　真陳膽星（各一錢。研細末。用豬心血和丸。金箔為衣。如小梧桐子大。</p>

<h1>回陽散</h1>
<p>（治癰疽陰瘡。皮色不變。漫腫無頭。堅硬疼痛。風痹腳氣。手足麻木。筋骨不舒。寒熱流注。鶴膝風等。一概敷之。）</p>
<p>煨姜（三兩）　肉桂（五錢）　赤芍（炒三兩）　南星（一兩）　草烏（炒三兩）　白芷（一兩）　共為細末。以熱酒調敷。</p>

<h1>拔疔散</h1>
<p>（治一切疔瘡。以膏蓋之。未膿即散。或用荔枝肉打爛敷之。亦效。）</p>
<p>月石（一錢）　雄精（二錢）　千金霜（一錢）　巴散（二錢）　鐵鏽（二錢）　活磁石（炒五錢）　麝香（三分）　梅片（二分）　硃砂（五分）　蟾酥（三分）　研極細。以瓷瓶收貯。</p>

<h1>黑虎散</h1>
<p>（治一切無名腫毒。以膏蓋之。）</p>
<p>麝香（五分）　梅片（五分）　公母丁香（各二錢）　蜈蚣（七條）　大全蠍（七個）　穿山甲（七片）　大蜘蛛（七個以瓦焙）　加硇砂（三分）　更妙。共為細末。用瓷石器收貯。</p>

<h1>金黃散</h1>
<p>（治癰疽發背。諸般疔瘡。跌僕。濕痰流注。大頭時腫。漆瘡火丹。風熱天泡。肌膚亦腫。乾溼腳氣。婦女乳癰。小兒丹毒等。）</p>
<p>天花粉（一兩）　黃柏（五兩）　薑黃　大黃（各五錢）　白芷（五錢）　紫川樸　陳皮　甘草　蒼朮（各二兩）　天南星（二兩）</p>
<p>曬乾為末。以瓷器收貯。凡遇紅腫。及夏月火令時。用茶湯同蜜水調敷。如微熱欲作膿者。以蔥湯同蜜水調敷。如漫腫無頭。皮色不變。附骨癰疽鶴膝等。俱以蔥酒並調。如天泡火赤遊丹。黃水瘡。俱以板藍根葉。搗汁調和。燙傷麻油調。其次諸引。又在臨用之際。順合天時調。窺病勢也。</p>

<h1>麝香散</h1>
<p>川草烏（各二錢）　細辛（二錢）　肉桂（二錢）　麝香（五分）　乳香（五分）　沒藥（五分）　丁香（二錢）　附子（二錢）</p>

<h1>雄麝散</h1>
<p>（治一切癰疽發背。初潰時用之。化腐定痛之要藥也。楊梅初方。）</p>
<p>頂字麝香（三錢）　真雄精（五錢）　淨巴霜（三錢）</p>
<p>上研細末。將瓷器收貯。勿令出氣。</p>

<h1>二味拔毒散</h1>
<p>（治風濕諸腫。痛癢疥瘡。）</p>
<p>雄精　明白礬（各等分。為細末。用茶調。以鵝翎蘸掃患上。）</p>

<h1>四虎散</h1>
<p>（治癰疽硬腫。厚如牛領之皮。不作膿腐。用此甚效。）</p>
<p>天南星　草烏　半夏　狼毒（各等分。細研。用豬腦子同搗敷。留頂出氣。）</p>

<h1>鐵箍散</h1>
<p>（治發背。將潰已潰時。根腳走散。不收透者用此。）</p>
<p>銅綠（五錢）　明礬（四錢）　膽礬（三錢）　五倍子（微炒一兩）　白芨（五錢）　輕粉　鬱金（各二錢）　麝香（三分）　研細末。用陳米醋一碗。勺內慢火熱至一小杯。候起金色為度。待溫。用上藥末攪入膏內。每用燉溫。用新筆塗。以棉紙蓋上。根自全收不散。</p>

<h1>推車散</h1>
<p>（去多骨。又治瘡出血。香油調。）</p>
<p>蜣螂蟲（煅存性為末。摻於骨上。骨自出。）</p>

<h1>移毒消腫散</h1>
<p>（生於骨際及膝上。不急治。難以收功。以此藥移之。）</p>
<p>紫槿皮（炒五兩）　赤芍（炒一兩）　香白芷（一兩曬燥不可炒）　石菖蒲（一兩曬不可炒）　獨活（炒一兩五錢）</p>
<p>共為細末。以好酒和蔥白五莖。煎滾調搽。不必留頂。一日一換。以消為度。</p>

<h1>追瘡散</h1>
<p>（用治一切瘡痍疥癩。）</p>
<p>大黃　石膏　黃柏　蛇床子（各五錢）　硫黃（七分）　明礬（二錢）　樟冰（八分）　金爐底（三分）　椒目（二分）　共為細末。用桐油調搽。　新增苦參人中黃。</p>

<h1>勝金散</h1>
<p>（好醋塗。痛患消。又治刀傷吐衄。調服）</p>
<p>臺參　野山膝（各一兩）　研極細末。</p>

<h1>螵蛸散</h1>
<p>（治破爛諸瘡。）</p>
<p>海螵蛸　人中白（煅各一兩）　共為細末。摻之神效。</p>

<h1>退管散</h1>
<p>豬肺管（兩個。不可傷。將管上油膜去淨。以瓦焙乾。）　鵝管石（一錢）　白砒（四分）　槍硝（三分）　共為細末。以白掃蔥水。麵漿為藥條插入管內。如此三次。其管退出。</p>

<h1>平瘡散</h1>
<p>（專治白泡瘡。膿窠肥瘡。痛癢立效。）</p>
<p>寒水石（二兩）　東丹（一兩）　掃盆（一錢）　硫黃（五錢）　明礬（七錢）　川椒（一錢）　黃柏（五錢）　牛煙膠（五錢）　人中黃（二錢）　為細末。以板豬油。雞腳。大黃根同打爛。擦立效。</p>

<h1>截瘡散</h1>
<p>（治一切疥癩膿窠諸瘡。）</p>
<p>嫩松香（一兩）　雄精（一錢）　共為細末。入竹瀝。紙捲成條。浸菜油一宿。取出。倒掛火燒。滴油塗之即愈。</p>

<h1>枯礬散</h1>
<p>（治一切風火。開痰閉。吹之立效。加麝香少許更妙。</p>
<p>枯礬（一錢）　制蠶（一錢）　硼砂（三分）　薄荷（三分）　大梅片（一分）　雄精（一錢）　加膽礬（一分）　山豆根（二分）　苦甘草（一分）　研</p>

<h1>吹喉散</h1>
<p>（治纏喉風痹。乳蛾。喉痹。重舌等。吹之神效。）</p>
<p>殭蠶　薄荷　青黛　朴硝　白礬　火硝　黃連　硼砂（各五錢）</p>
<p>共為細末。以豬膽七個袋之。埋於土下。久之取出。搗爛。干為末。</p>

<h1>柳青散</h1>
<p>（治口舌破碎。先用薔薇根湯漱口。後吹之。）</p>
<p>薄荷（五分）　兒茶（八分）　黃連（四分）　青黛（三分）　冰片（一分）　共為細末。</p>

<h1>金烏散</h1>
<p>（治頭耳眉癬。燕窩瘡。）</p>
<p>皂莢炭（一兩）　枯白礬（一錢）　共為細末。香油調敷。</p>

<h1>天瘡散</h1>
<p>（治天泡瘡。）</p>
<p>滑石（一兩）　粉草（五錢）　枯礬（三錢）　綠豆粉（五錢）　共為細末。</p>

<h1>吹耳散</h1>
<p>（治耳疳膿水不止。）</p>
<p>水龍骨（煅一錢）　海螵蛸（一錢）　飛青黛（一錢）　枯礬（三分）　五倍子（炒黃一錢）　黃魚齒（煅五分）　細薄荷（五分）　梅片（三分）　川雅連（三分）　蛀竹屑（三分）　石榴花瓣（炙脆一錢）　為末。（必細末）</p>

<h1>平安散</h1>
<p>（即烏龍散去胬肉。）</p>
<p>烏梅（一兩）　煅存性。為末摻之。又方。膽礬燒敷上。</p>

<h1>代刀散</h1>
<p>（去頑肉。亦可代開刀。）</p>
<p>金頂砒（五分）　潮腦（一錢）　螺螄肉（曬乾二兩）　輕粉（三錢）　巴豆仁（去油五錢）　為末。用麻油調搽。</p>

<h1>硇砂散</h1>
<p>（治鼻痔耳挺及菌。）</p>
<p>硇砂（一錢）　輕粉（三分）　冰片（五分）　雄黃（三分）　共為細末。每日點五六次。漸漸化水為愈。</p>

<h1>五龍散</h1>
<p>（治癰疽。疔毒。瘰癧初起。調塗。火盛以芙蓉汁調。寒重用薑汁調。）</p>
<p>生南星（一兩）　生半夏（五錢）　全當歸（五錢）　生大黃（五錢）　陳小粉（一斤四兩炒黑）　共為細末。</p>

<h1>聖金散</h1>
<p>（治咽喉紅腫痛。微碎。痰涎喉痹等。吹之。）</p>
<p>淡秋石（三錢）　淡黃芩（一錢半）　川雅連（五分）　滴乳香（一錢）　真西黃（一分）　燈心炭（五釐）　薄荷頭（三分）　大梅片（三分）　共為細末吹之。</p>

<h1>中白散</h1>
<p>（治喉中腐爛。）</p>
<p>人中白（一兩）　兒茶（五錢）　黃柏（三錢）　薄荷（一錢半）　青黛（三分）　大梅片（二分半）　研為末。</p>

<h1>清陽散</h1>
<p>（治咽喉腫痛脹痛紅腫。）</p>
<p>月石　飛青砂（各二錢）　大梅片（一分半）</p>
<p>上藥研為末。</p>

<h1>清涎散</h1>
<p>（專治牙痛。）</p>
<p>月石（一兩）　元明粉（三錢）　大梅片（三分）</p>

<h1>平安散</h1>
<p>（與前別散膏用。專消火症痰核。）</p>
<p>牛黃（二分）　火硝（三錢）　煅月石（三錢）　雄黃（三錢）　原寸香（三分）　大梅片（二分）</p>

<h1>清涼散</h1>
<p>（此藥未注，大約用火症。）</p>
<p>熟石膏（一兩）　黃柏（二錢）　為末。</p>

<h1>涼血散</h1>
<p>（專長肉收功。）</p>
<p>熟石膏（一兩）　黃丹（二錢）　為末。</p>

<h1>生肌散</h1>
<p>滑石（一兩）　冰片（二分）　硃砂（一錢）　為末。</p>

<h1>清陽柳華散</h1>
<p>（治咽喉一切紅腫。）</p>
<p>黃柏（一兩）　青黛（一兩）　月石（一兩）　人中白（煅一兩）　為末。</p>

<h1>牛黃冰連散</h1>
<p>[專治（未注）大約亦咽喉藥也。]　</p>
<p>牛黃（一分）　黃連（二錢）　冰片（一分）　為末。</p>

<h1>丁桂散</h1>
<p>（治頭痛　在傷膏內用之神效也。）</p>
<p>丁香（三錢）　肉桂（一兩）　為末。</p>

<h1>姜芷散</h1>
<p>（專治火濕毒。）</p>
<p>薑黃　白芷（各一斤）　為末。</p>

<h1>清涼膏</h1>
<p>桐油（一斤）　菜油（一斤）　鉛粉（一兩）　頭髮（散瘀血，四兩）　熬至發盡。入丹收膏。先發油燒。燒至化後。鉛粉和入。再用丹收。</p>

<h1>陽和解凝膏</h1>
<p>（專治寒症。）</p>
<p>附子　桂枝　官桂　大黃　歸身　川烏　烏　地龍　殭蠶　赤芍　白芷　白蘞　白芨（各二兩）　續斷　防風　荊芥　五靈脂　木香（二團）　陳皮　鮮牛蒡草（三斤）　活白鳳仙花梗（四兩）　麻油（十斤）　先將牛蒡鳳仙二味。入油煎枯。去渣。再將上藥入煎。至枯瀝渣。隔宿油冷。見過斤兩。每斤油加炒黃丹七兩。攪勻。文火熬。至滴水成珠為度。以油鍋移陽處。再以乳香。沒藥。各二兩。細研。蘇合香四兩。麝香一兩。入膏攪勻。半月後攤貼。</p>

<h1>背疽夾青</h1>
<p>炙乳香　炙沒藥　銀硃　黃丹　血竭　兒茶（各一兩）　銅綠（八分）　共為細末。</p>

<h1>化腐丹</h1>
<p>紅升藥（一斤）　銅綠（八錢）　石膏（一斤煅）　炙乳沒（各三兩二錢）　降藥（一兩八錢）　上為細末。以瓷器藏。</p>

<h1>九一丹</h1>
<p>（拔毒生肌。）</p>
<p>尿浸石膏（九兩）　三仙丹（一兩）　共為細末摻之。</p>

<h1>赤靈丹</h1>
<p>（治疔毒腐毒。不透敷之立起。）</p>
<p>上血竭（一錢）　月石（一兩）　為末。</p>

<h1>三黃丹</h1>
<p>（治風毒黃水瘡。）</p>
<p>大黃（三兩）　黃柏（一兩）　黃連（三錢）　石膏（煅二兩）　爐底（少許）　共研。川連水調敷。</p>

<h1>金素丹</h1>
<p>（治背疽。腐肉黑黯。死肌。臭氣難聞。以此摻之。）</p>
<p>生明礬（六錢）　枯礬（三錢）　腰黃（一錢）　共為細末。如霜。</p>

<h1>黑龍丹</h1>
<p>（去突出肉。治陰虛或脫肛。以此摻之。）</p>
<p>先用防風升麻（各一錢）　煎湯調搽。立收入熟地（炒炭一兩）　烏梅（炙三錢）　為末摻。</p>

<h1>蛭蟾丹</h1>
<p>（治漏管。）</p>
<p>蠣蝗（十條。以泥封罐。納入炭火煅之。）　蟾酥（一錢）　熊膽（八分）　麝香（五分）　冰片（二分）　共為細末。飯糊為條。插入。其管退後。用生肌藥。</p>

<h1>蟾酥散</h1>
<p>蟾酥（一錢）　沒藥（炒四錢）　乳香（炙二錢）　甲片（一錢）　蜈蚣（二錢）　雄黃（二錢）　麝香（五分）　川草烏（各二錢）　藤黃（二錢）　為末。</p>

<h1>補脬丹</h1>
<p>（治產後尿胞傷損。）</p>
<p>白牡丹根（一錢）　黃絹（一尺）　白芨（一錢）　煎濃半碗。徐服之後。忌言語。</p>

<h1>八寶丹</h1>
<p>（一切不收口可摻。）</p>
<p>大濂珠（同豆腐煮過三錢）　真青龍骨（一兩）　上血竭　嫩兒茶（各一兩）　石膏（童便浸百日漂二兩）　西血珀（五錢）　上浮甘石（煅二兩）　雞內金（炙一兩）　共為細末如霜。瓷瓶藏貯。</p>

<h1>四寶丹</h1>
<p>（治臁瘡。）</p>
<p>川黃柏　赤石脂　大貝母（去心）　青黛（飛）　共為細末摻之。</p>

<h1>黑虎丹</h1>
<p>（治一切無名腫毒。同膏貼。）</p>
<p>麝香（五分）　頂梅片（五分）　公母丁香（各一錢）　蜈蚣（大，七條）　靈磁石（煅一錢半）　大全蠍（七個）　炙甲片（七片）　大蜘蛛（煅七個）　制蠶（七條）　紅硇砂（三分）　研細如霜。瓶貯。不可泄氣。</p>

<h1>八將丹</h1>
<p>（治疽毒不起。疔毒不透。腐肉不脫。用此提毒。）</p>
<p>西黃（三分）　火泥（三分）　蟬衣（烘一錢）　大蜈蚣（七條）　炙甲片（三錢）　麝香（三分）　大全蠍（炙七條）　五倍子（焙三錢）　共為細末摻之。以膏蓋貼。</p>

<h1>十寶丹</h1>
<p>（治久不收口。）</p>
<p>花龍骨（一兩）　童便浸石膏（二兩）　血竭（五錢）　制爐甘石（一兩）　龍眼核（煅五錢）　水龍骨（煅五錢）　炙乳沒（各三錢）　雞內金（炙三錢）　人中白（煅三錢）　大梅片（一錢）　共為細末。瓷瓶盛之。</p>

<h1>消疳丹</h1>
<p>（治一切牙痛。臭爛不止。吹之立效。）</p>
<p>胡連（五分）　膽礬（三分）　兒茶（五分）　銅綠（五分）　麝香（一分）　綠礬（一錢）　滑石（一錢）　杏仁霜（五分）　西黃（五分）　青黛（一錢）　雞內金（五分）　冰片（一錢）　乾蟾炭（三分）　上蘆薈（五分）　皂礬（五分）　人中白（煅一錢）　葶藶子（五分）　雄黃（一錢）　共為細末。</p>

<h1>三星丹</h1>
<p>（治走馬牙疳。黑腐不去。近腮穿腫。危險不堪。吹之。）</p>
<p>北棗（三個）　白砒（二分）　雄黃（五分）　膽礬（三分）　將棗去核。三味研。入棗內。濕紙包。於炭火煨脆。冷定。研細。加梅片二分。為末收貯。</p>

<h1>文星丹</h1>
<p>（治走馬牙疳。）</p>
<p>五倍子（一個）　入烏梅肉（一個）　白礬（一錢）　南星（一個）　雄黃（一塊）　皆用麵裹。煅。納入大梅片三分。麝香五釐。研。</p>

<h1>輒馬丹</h1>
<p>（治牙疳作癢。）</p>
<p>胡連（二錢）　川柏（二錢）　硼砂（一分）　雄精（一錢）　川連（一錢）　兒茶（五分）　薄荷（一錢）　人中白（煅一錢）　冰片（八分）　共為細末。（附法）此症熱瘟而起者。當以綠豆飲濃汁頻用。</p>

<h1>斂疳丹</h1>
<p>（治腐肉不脫。吹之生肌。）</p>
<p>真西黃（一錢）　血珀（二錢）　大濂珠（一錢）　青龍骨（三錢）　雞內金（一錢）　梅片（八分）　研。</p>

<h1>金丹</h1>
<p>（治走馬牙疳腐爛。吹之立效。）</p>
<p>黃牛糞（煅）　黃柏　人中白（鹽泥固封煅各一兩）　大梅片（一錢）　研。</p>

<h1>金不換</h1>
<p>（治痘疳。牙疳。喉蛾。喉間潰爛。吹入神效。</p>
<p>西瓜霜（六錢）　青黛（六錢半）　人中白（煅五錢）　川黃柏（三錢）　硼砂（三錢）　元明粉（一錢半）　大梅片（五分）　共為細末。</p>

<h1>大金丹</h1>
<p>（治咽喉聖藥。虛火上升。吹之神效。）</p>
<p>硃砂（三錢）　雄精（一錢）　硼砂（一錢）　川連（三錢）　西黃（一分）　甘草（一錢）　枯礬（三分）　黃精（三錢）　淡秋石（一錢）　制熟附（一錢半）　共為細末。</p>

<h1>家寶丹</h1>
<p>（治咽喉。風喉。吹之神效。）</p>
<p>薄荷頭（二錢）　槍硝（二錢）　燈心灰（二分）　雄精（五分）　大梅片（三分）</p>

<h1>五寶丹</h1>
<p>（治諸瘡腐爛。定痛。又治疔毒腐爛。摻。）</p>
<p>靈磁石（一兩二錢）　飛硃砂（六錢）　上雄精（三錢）　梅片（三分）　麝香（三分）　共為細末。</p>

<h1>九轉丹</h1>
<p>（出膿後用。）</p>
<p>紅升（一兩）　熟石膏（四兩）　共為細末。</p>

<h1>去解丹</h1>
<p>（拔毒去膿。）</p>
<p>熟石膏（一兩）　黃升（一錢五分）　青黛（三錢）</p>

<h1>去腐丹</h1>
<p>（頑腐不脫。不可常用。）</p>
<p>黃丹（一兩）　熟石膏（一兩）</p>

<h1>海浮散</h1>
<p>（長肉。止血定痛。傷科亦用卻效。）</p>
<p>炙淨乳沒各等分。研極細末。</p>

<h1>二仙丹</h1>
<p>（馬氏療久不斂。四圍顏色多好肉。孔中無管用之。）</p>
<p>明礬（一兩）　銀硃（一兩）　研極細末。</p>

<h1>青敷藥</h1>
<p>（馬氏方）</p>
<p>大黃（八兩）　薑黃（四兩）　黃柏（四兩）　白芷（二兩）　青黛（二兩）　白芨（二兩）　花粉（一兩）　陳皮（二兩）　甘草（一兩）</p>

<h1>黃敷藥</h1>
<p>大黃（四兩）　薑黃（四兩）　花粉（半斤）　黃柏（四兩）　蒼朮（二兩）　陳皮（二兩）　白芷（四兩）　甘草（二兩）</p>

<h1>黑敷藥</h1>
<p>大黃（四兩）　陳小粉（炒黑一斤）　毛菇（二兩）　白芨（二兩）　陳皮（二兩）　南星（二兩）　花粉（四兩）　白芷（三兩）　厚朴（四兩）　甘草（一兩）　血竭（二兩）　芙蓉葉（四兩）　五倍子（炒半斤）</p>

<h1>八寶丹</h1>
<p>（馬氏方）</p>
<p>煅龍骨（六錢）　檳榔（二錢）　水飛甘石（六錢）　白占（六錢）　煅石膏（八錢）　寒水石（六錢）　東丹（二錢）　鉛粉（二錢）</p>

<h1>五寶丹</h1>
<p>（又馬氏方）</p>
<p>熟石膏（一兩）　上白占（二兩）　赤石脂（二錢）　黃丹（二錢）　冰片（二分）</p>

<h1>東坡方</h1>
<p>（癬瘡蔓延。）</p>
<p>草決明子（一兩）　研末。入水銀輕粉少許研。擦破塗之。</p>

<h1>秘藥加料</h1>
<p>（治爛喉。及喉痛實火。）</p>
<p>上犀黃（一分）　滴水石（五分）　硼砂（三分）　川雅連（二分）　淡芩（二分）　大梅片（一分）</p>

<h1>小兒頭瘡</h1>
<p>（胎毒及頭癢等。）</p>
<p>川黃柏（五錢）　烏金散（五錢）　人中白（三錢）　以研細後。菜油調。</p>

<h1>定心化痰丸</h1>
<p>明礬（四兩）　鬱金（九兩）　共為細末。飯粒丸。</p>

<h1>青黛散</h1>
<p>（專治耳腫痛。初起用之吹耳。）</p>
<p>青黛　薄荷　木鱉子（煅去皮）　冰片　等分。</p>

<h1>參末散</h1>
<p>苦參（一斤）　研。</p>

<h1>定痛丸</h1>
<p>（馬氏方。立止諸痛。）</p>
<p>炙沒藥　炙乳香（各二錢）　甘草（一錢）　真綠豆（一兩）　共為細末。硃砂為衣。</p>

<h1>又方</h1>
<p>加洋菸灰少許更靈。（許云。星伯常用此藥。）　一方無甘豆二物。有洋菸。和棗肉為丸。如桐子大。每服二丸。硃砂為衣。</p>

<h1>馬氏八將散</h1>
<p>五倍子（四錢）　雄黃（二錢）　乳香（三錢）　角針（二錢）　全蠍（二錢）　蜈蚣（二條）　麝香（一分）　冰片（一分）</p>

<h1>秘製白龍丹</h1>
<p>（專治肺癰。）</p>
<p>真川貝母（一斤）　淡蜜水為丸。又方。　真川貝母（一錢）　柿霜（五分）</p>

<h1>止嗽散</h1>
<p>（馬氏，專治咳嗽。）</p>
<p>宋半夏（研五錢）　白冰糖（箍碎三錢）</p>

<h1>解毒散</h1>
<p>熟石膏（一兩）　青黛（二錢）</p>

<h1>和中丸</h1>
<p>木瓜（一兩）　人參（三兩）　白朮（三兩）　炙草（一兩）　陳皮（一兩）　乾薑（一兩）　清水泛丸。</p>

<h1>收痔散</h1>
<p>五倍子（研細）　用麻油調敷。</p>

<h1>三黃丸</h1>
<p>川雅連（五錢）　黃芩（一兩）　製大黃（三兩）　白蜜為丸。</p>

<h1>蛇咬洗方</h1>
<p>白凡榆　莧菜松花　川椒　蒲公英　青麻皮葉　荷葉　豆葉　蔥白</p>

<h1>牙痛散</h1>
<p>蓽撥　石膏　研末摻。</p>

<h1>移花散</h1>
<p>[（馬氏方。）小兒痘出眼中。左眼吹右耳。右眼吹左耳。]</p>
<p>東丹　輕粉　豬牙皂（各一錢）　大梅片（五分）　為細末。</p>

<h1>燥濕丹</h1>
<p>蛇床子　研末。</p>

<h1>定痛丹</h1>
<p>三七末</p>

<h1>截瘧丹</h1>
<p>威靈仙　研末。貼臍。</p>

<h1>白靈丹</h1>
<p>石膏（一錢）　白占（二錢）　冰片（二分）</p>

<h1>止血丹</h1>
<p>生蒲黃（炒黑）　研。</p>

<h1>太乙丹</h1>
<p>大戟（一兩五錢）　五倍子（一兩）　毛菇（二兩）　硃砂（三錢）　麝香（五錢）　千金子（一兩）　雄黃（三錢）</p>

<h1>截瘧丸</h1>
<p>巴霜（六分）　冰片（一分）　雄黃（六分）　斑蝥（十四個）　白土（二分）　麝香（一分）　硃砂（六分）　輕粉（六分）　研細末。糯米丸。約一百粒。</p>

<h1>陽和丸</h1>
<p>麻黃　肉桂　炮姜（各等分蜜丸。）</p>

<h1>治目多眵淚藥</h1>
<p>鯽魚膽（一個）　人乳（一盞）　和勻。飯上蒸一二次。點眼。淚自收也。</p>

<h1>治螳螂子方</h1>
<p>（即妒乳）</p>
<p>青黛（一錢）　元明粉（三錢）　硼砂（一錢）　薄荷（四分）　冰片（一分）　同研細末。擦口內。一日三五次。</p>

<h1>仿西洋眼藥</h1>
<p>豬苦膽取出。東丹拌勻。加冰片青黛少許。搓成條於盤中。（大約磨搽）（賣者如此）</p>

<h1>傷丸</h1>
<p>淮牛膝（一兩）　參山七（三錢）　當歸（一兩）　落得打（一兩）　杜仲（一兩）　骨碎補（一兩）　山羊血（二錢）　白芨（五錢）　自然銅（二錢）　兒茶（一錢）　甜瓜子（二兩）　紅花（五錢）　厚朴（三錢）　乳香（三錢）　木瓜（五錢）　川續斷（二兩）　肉桂（二錢）　硃砂（三錢）　原寸香（八分）　研細末。稀粥為丸。硃砂為衣。彈子大。每服一丸。陳酒送下。</p>

<h1>哮喘神效丸</h1>
<p>青皮一枚去穰。入巴豆一粒去殼。煅仁。研末服。亦可泛丸。</p>

<h1>五癇丸</h1>
<p>魚線膠（一兩）　飛硃砂（三錢）　明礬（一兩）　鉛粉（一兩）　明雄黃（三錢）　煅皂礬（五錢）　用皂角水泛為丸。每服一錢。</p>

<h1>五香丸</h1>
<p>廣木香（一兩）　沉香（二兩）　降香（二兩）　肉桂（六錢）　檀香（一兩）</p>

<h1>王九峰治吐血丸</h1>
<p>大生地（八兩）　犀角（一兩）　懷山藥（四兩）　丹皮（三兩）　當歸（二兩）　大白芍（三兩）　雲茯苓（二兩）　女貞（二兩）　豬肺（一個）　童便浸洗。煨化再用藕汁一碗熬膠。加粳米粉八合。糯粉四合。和前藥搗丸。每服五錢。開水下。</p>

<h1>兌金丸</h1>
<p>黑醜（二錢）　大黃（二錢）　雄黃（三分）　黃連（三分）　神麯（五分）　膽星（五分）　青黛　熟石膏（各二兩）　飛滑石（一兩）　胡黃連（三分）　黑大蝦蟆一個。泥包蝦蟆。煅存性。為丸。</p>

<h1>哮喘丸</h1>
<p>杏仁（三錢）　馬兜鈴（三錢）　蟬衣（二錢）　桑皮（二錢五分）　白果肉（二錢五分）　白礬（五分）　白信（三分）　上藥為末。紅棗肉為丸。如綠豆大。食後冷茶送下。男七丸。女六丸為止。即刻吐痰。神效無比。</p>

<h1>蟾酥丸</h1>
<p>蟾酥（二錢）　膽礬（一錢）　銅綠（一錢）　寒水石（一錢）　掃盆（五分）　雄黃（一錢）　硃砂（二錢）　枯礬（一錢）　乳香（一錢）　沒藥（一錢）　麝香（一錢）　蝸牛（二十六個）　加白芨（一錢）　蜈蚣（一條）（即飛仙奪命丹）</p>

<h1>醒消丸</h1>
<p>乳香沒藥末（各一兩）　麝香（一錢五分）　雄精（五錢）　共研和。取黃米飯一兩搗爛。入末再搗為丸。如蘿蔔子大。曬乾。忌烘。每服三錢。熱陳酒送。酒醒痛息。</p>

<h1>貴金丸</h1>
<p>大黃（一斤）　白芷（一兩）</p>

<h1>平安丸</h1>
<p>黃沉香（二錢）　丁香（一錢）　寸香（三分）　蟾酥（一錢）　牛黃（五分）　硃砂（一錢）　木香（五分）　月石（一錢）　冰片（三分）　蒼朮（一錢）　雄黃（一錢）　明礬（一錢）　共研細末。粽尖為丸。</p>

<h1>琥珀多寐丸</h1>
<p>（治健忘恍惚。神虛不寐。）</p>
<p>琥珀　羚羊角　茯神　人參　白朮　遠志　甘草</p>

<h1>胡連追毒丸</h1>
<p>蝟皮（炙去刺一兩）　胡連（薑汁炒一兩）　原寸香（二分）　爛飯為丸。每服一錢。酒下。</p>

<h1>胡連閉管丸</h1>
<p>（遍身諸漏。皆妙。）</p>
<p>石決明（五錢煅）　槐米（五錢微炒）　炙甲片（麻油炒五錢）　胡連（淨末一兩）　蜜丸。每服空心米湯下。早晚兩服。如漏之四邊有硬肉突出者。加蠶繭二十個炒末。和入藥中。</p>

<h1>七香丸</h1>
<p>香附（三兩）　麥芽（一兩）　甘松（一兩）　甘草（二兩五錢）　烏藥（二兩）　藿香（三兩）　木香（二兩）　上藥為末。水疊為丸。如彈子大。</p>

<h1>保童肥兒丸</h1>
<p>參葉（五錢）　金櫻子（去核一兩）　山楂肉（二兩）　麥芽（一兩）　建蓮（四兩）　五穀蟲（二兩）　茯苓（一兩）　芡實（一兩）　薄橘紅（一兩）　白朮（二兩）　使君子（五錢）　肥知母（一兩）　雞內金（一兩）　砂仁（五錢）　青皮（一兩）　地骨皮（一兩炙）　共為細末。蓮子粉搗爛為丸。彈子大。米湯化服。　腸風下血。石榴皮燒灰調服。</p>

<h1>祛風換肌丸</h1>
<p>馬齒莧（二兩炒）　熟軍（一兩）　蔓荊子（四兩）　連翹（六兩）　浮萍草（一錢半）　防風（八兩）　淡芩（四兩）　荊芥（八兩）　苦參（一錢半）　白蒺藜（一錢半）　大胡麻（一錢半）　黃柏（八兩）　川膝（四兩）　蘚皮（八兩）　粉皮（三兩）　白芷（三兩）</p>

<h1>神效種子丸</h1>
<p>（此方云寡婦服下。且有孕。神驗方也。）</p>
<p>大熟地（二兩四錢）　肉蓯蓉（二兩四錢）　萆薢（四錢）　燈草（五尺）　木香（二兩四錢）　山萸肉（二兩四錢）　澄茄（二兩）　大茴香（二兩）　馬蘭實（陰乾研八分）　乾漆（二兩）　巴戟肉（二兩）　蛇床子（一兩四錢）　龍骨（二兩）　全當歸（一兩）　牡蠣粉（二兩）　母丁香（二兩）　桑螵蛸（二兩二錢）　全蠍（去毛五錢）　茯苓（一兩半）　蜘蛛（十四個）　威靈仙（二兩）　菟絲子（二兩）　沉香（二錢）　車前子（二兩）　木通（二兩四錢）　遠志肉（二兩）</p>
<p>上各味。研細末煉蜜丸。如綠豆大。每日清晨服一二錢。開水下。</p>
<p>又煎藥（每於經期轉時。服一劑。煎方如下。）　桂枝（三分）　白芍（二錢）　甘草（二錢）　姜皮（三錢）　再加玉盆二錢棗三枚。</p>

<h1>蠟礬丸</h1>
<p>白占（一兩二錢）　黃占（一兩）　雄黃（一錢三分）　琥珀（一錢）　硃砂（一錢二分）　白蜜（一錢）　煉之為丸。</p>

<h1>青龍丸</h1>
<p>（治疔腫。內傷貼骨疽。瘰癧。乳串。痰氣硬塊。）</p>
<p>番木鱉（去皮切片四兩）　炙甲片（一兩五錢）　殭蠶（一兩五錢）　研末。飯糊為丸。桐子大。每服五分。勿冒風。臨臥時服。　頭面（羌活川芎五分）　肩背（角針五分）　兩臂（桂枝五分）　胸腹（枳殼五分）　腰（杜仲五分）　足（牛膝四分木瓜四分）　咽頸（甘草四分桔梗四分）　跌僕攣筋（當歸五分紅花五分）　酒製為引。婦人新產（服五分。）一日服（五分）瘰癧（桑枝炒酒送服）　小兒一歲九丸。三歲十丸。四五歲十九丸。五六歲二十一丸。八九歲二十三丸。十四歲一分。十四歲以上四分。</p>

<h1>雀斑丸</h1>
<p>玉蘭花瓣　肥皂　皮硝　上藥搗爛為丸。日日洗面時搽。</p>

<h1>龜背丸</h1>
<p>兒茶（一錢）　阿魏（二錢）　乳香（五分）　沒藥（五分）　肉桂（二分）　冰片（一分）　各研細末。用豬尿和丸。貼突處亦可。</p>

<h1>通音丸</h1>
<p>川貝母（一兩）　款冬花（二兩）　炒桃肉（去皮十二兩）　白蜜　上藥研末打丸。如龍眼大。飯上蒸。用水沖服。</p>

<h1>消管丸</h1>
<p>苦參（四錢）　川連（酒炒二兩）　當歸　槐花　蓽澄茄（各一兩）　五倍子（五錢）　各為細末。用小鱉二個。（大約八九斤）　真柿餅四錢。二味共煮。以日搗爛。入前藥末搗丸。每日空心服四錢。開水送下。其管自出。</p>

<h1>鯉鱗丸</h1>
<p>（治無名腫毒。瘰癧尤妙。）</p>
<p>歸尾（五錢）　大黃　荊芥（去梗）　乳香　沒藥（各二錢）　黃芩　連翹（各三錢）　防風　羌活（各三錢半）　全蠍（一錢）　蟬衣（二十個）　殭蠶（二十四條）　牛皮膠（一兩）　雄精（土炒七分）　金頭蜈蚣（四條。去頭足。）　一條（用薑汁塗。焙乾。）　一條（用酥炙。）　一條（用香油。）　一條（用醋）　穿山甲（四兩）　一兩用細紅花五錢煎湯土炒焙乾。一兩用皂角五錢。煎湯煮。一兩用蘇木五錢。煎湯煮。一兩用當歸八分。煎湯煮。焙乾為末。米醋打糊為丸。硃砂為衣。貯瓶。麝香五分養之。每服一丸。滾酒下。未成內消。已成出膿。神效。</p>

<h1>蜜犀丸</h1>
<p>（治半身不遂。言語不利。小兒驚風夢搐。）</p>
<p>槐花（四兩）　當歸　元參　川烏（各二兩）　炒麻黃　茯苓（乳拌）　防風　薄荷　甘草（各一兩）　牙皂（去皮淨子炒五錢）　冰片（五分）　蜜丸如櫻桃大。每服一丸。小兒半丸。茶下。</p>

<h1>仙桃丸</h1>
<p>（治手足麻痹。癱瘓疼痛。跌僕損傷。腰膝痹痛。甚效。）</p>
<p>川烏（四兩）　五靈脂（四兩）　威靈仙（五錢）　洗曬為末。酒糊丸。如梧子大。或七丸。或十丸。鹽湯下。忌藥。</p>

<h1>治老人不寐丸</h1>
<p>六味地黃丸（一料）　加麥冬（四兩）　黃連（三錢）　炒棗仁（五兩）　肉桂（五兩）　當歸（三兩）　甘菊花（三兩要家種者）　白芥子（三兩）　共為細末。蜜丸。每日白滾水送下五錢。服後用飯。此丸老人可服至百歲云。</p>

<h1>致和丸</h1>
<p>熟地（五兩）　厚朴（二兩）　胡桃肉（十一兩）　茅朮（二兩）　川椒（一兩）　當歸（二兩）　甘草（二兩）　烏附（四兩）　砂仁（一兩）　廣皮（黑棗煮丸一兩）</p>

<h1>戒菸丸</h1>
<p>黨參（二錢）　玉竹（二錢）　粟殼（二錢）　橘紅（一錢二分）　沉香（五分）　黃耆（炙二錢）　茯苓（二錢）　炮姜（二錢）　杜仲（一錢二分）　肉桂（五分）　棗仁（一錢二分）　製半夏（一錢五分）　益智仁（一錢二分）　覆花（一錢二分）　紅棗（二兩）　同煎。用布瀝汁。再入菸灰三錢。赤砂糖二兩同煎。薑汁和在一處。熬五日為丸。此平淡之方。看體質用。煙癮重者。加煙。</p>

<h1>痧丸</h1>
<p>茅朮（五錢）　天麻（六錢）　硃砂（五錢）　麻黃（六錢）　麝香（六分）　甘草（四錢）　雄黃（六錢）　丁香（一錢）　大黃（一兩）　蟾酥（一錢五分）　醋泛丸</p>

<h1>衛生丸</h1>
<p>（廣東陳利濟出）</p>
<p>熟地　川芎　炙黃耆　砂仁　香附　橘紅　歸身　野於朮　條芩　元胡索　茯苓　肉桂　白芍　木香　人參　麻黃　益母草　炙甘草</p>

<h1>胃靈丹</h1>
<p>木香　延胡</p>

<h1>白眼藥</h1>
<p>月石（一兩）　薺粉（三錢）　冰片（五分）　麝香（五分）　研令極細。不細則痛。</p>

<h1>水眼藥</h1>
<p>甘石（一兩）　月石（五錢）　螵蛸（一錢）　冰片（四分）　硃砂（一錢）</p>

<h1>眼藥</h1>
<p>珊瑚（三分）　硃砂（三分）　薺粉（二分）　珠子（四分）　琥珀（四分）　原寸香（三分）</p>

<h1>止嗽散</h1>
<p>（本氏）</p>
<p>法半夏（八兩）　冰糖（六兩）　鹽（一兩）　井水煎服。</p>

<h1>桃花散</h1>
<p>熟石膏（四兩）　黃丹（四錢）　治火燙爛腿瘡。用菜油調。又能長肉生肌。</p>

<h1>八寶丹</h1>
<p>熟石膏（一兩）　冰片（一分）　西黃（七分）　血竭（三錢）　拔肉長肉。</p>

<h1>吹藥</h1>
<p>上西黃（二分）　大梅片（三分）　西月石（二兩）</p>

<h1>吹藥</h1>
<p>西月石（一兩）　冰片（二分）　青黛（五分）</p>

<h1>解毒丹</h1>
<p>青黛（三錢）　熟石膏（四兩）　治同桃花散。</p>

<h1>翠雲散</h1>
<p>熟石膏（五錢）　牛黃（一錢）　銅綠（一錢）　治小兒耳中漏膿。用蔥管一根。（約一寸半長）一頭置菜油中。然後再蘸此藥置耳中。每日換二次。</p>

<h1>珍珠散</h1>
<p>濂珠（五錢）　石膏（煅五錢）　西黃（一分）　冰片（二分）　生肌長肉。</p>

<h1>梅花丹</h1>
<p>（治一切癰腫。）</p>
<p>每服一分半。多至三分。丸黃豆大。研末。又能敷對口瘡。　麝香（三分）　冰片（三分）　乳香（炙去油七錢）　蜈蚣（五條）　寒水石（三錢）　同燒酒浸爛。打膩如漿丸。　輕粉（一錢）　腰黃（一兩）　炙沒藥（七錢）　血竭（三錢）　杜蟾酥（二錢）　金箔十張為衣。</p>

<h1>虛痰方</h1>
<p>蝙蝠（瓦上炙為末二隻）　冰片（二分）　摻膏上貼。</p>

<h1>化毒丹</h1>
<p>金銀花（二兩）　夏枯草（四兩）　共研細末。白蜜為丸。解熱毒如神。</p>

<h1>枬藥</h1>
<p>（治一切火毒。）</p>
<p>熟石膏（四兩）　大黃（生曬不可炙炙則無力二兩）　天花粉（一兩）</p>
<p>上方治一切熱毒。或用馬菜根汁調。或絲瓜葉汁。或側柏葉汁調。隨時揀擇。又治疔溫火等症。菊花葉打汁調。</p>

<h1>眼癬用</h1>
<p>乾眼藥三十五文。熬雞子油。調搽。</p>

<h1>蛇床子散</h1>
<p>（治濕毒膿滾疥瘡。）</p>
<p>蛇床子（二斤）　川黃柏（二斤）　生石膏（四斤）　濕毒瘡。小青油調。膿滾疥瘡。麻油調。</p>

<h1>提泡藥</h1>
<p>（治骱穴痠疼。膏藥上貼之。約二點鐘時即起泡。然後用針挑之。其酸即休。）</p>
<p>斑蝥一物　研細。摻膏藥上貼之。</p>

<h1>紅膏藥</h1>
<p>蓖麻子（去殼二斤）　老松香（一斤）　緯丹（五錢）　先將蓖麻研爛。加松香打和再加麝香二錢。再打。看老嫩。老者加蓖麻子。嫩者加松香。</p>

<h1>黑瘡藥</h1>
<p>皂莢子　煅極透。研末調搽。</p>

<h1>白瘡藥</h1>
<p>蛇床子　石膏　對半研細。用麻油調敷。比黑瘡藥靈。</p>

<h1>臁瘡膏</h1>
<p>膽礬（二錢）　輕粉（三錢）　爐甘石（二錢）　黃白占（各四兩）　板豬油（一兩）　以上三味為細末。先將豬油熬烊。又入黃白占化透。再入末藥。然後調攤於油紙。</p>

<h1>黃連膏</h1>
<p>（治多年臁瘡濕毒。鼻瘡結毒等症。治之神效。）</p>
<p>黃連（五錢）　黃柏（五錢）　薑黃（三錢）　歸尾（三錢）　白芷（三錢）　丹皮（三錢）　赤芍（三錢）　生地（一兩）　合歡皮（一兩）　大黃（一錢）　黃芩（三錢）　秦艽（三錢）　紫草（一兩）　白蘚皮（五錢）</p>
<p>上藥用麻油二十兩。炸枯撈去渣。下黃白蠟各二兩。溶化收膏。入瓷瓶內。以油紙攤貼患處。</p>

<h1>夾紙膏</h1>
<p>（治多年新起臁瘡並效。）</p>
<p>紫草　歸身　細生地　黃柏　白芷　冬青桑　川椒（各一兩）　黃白占　飛丹　密陀僧　血竭（各二兩）　輕粉（三錢）　銀粉（一兩）　銅綠（五錢）　乳沒藥（各五錢）　冰片（二錢）　用麻油一斤。入前七味煎枯。去渣。入二占溶化。再將後藥研細和勻。攤紙上貼之。如干加公豬油調亦可。</p>

<h1>又方</h1>
<p>煅石膏（一兩）　爐甘石（一兩童便浸煅）　龍骨（醋煅三次）　輕粉　寒水石（煅各五錢）　嫩松香（五錢）　放銅勺內。熬至黑色起煙。倒在水內候冷。用蔥白煮滾。（上味為末。以公豬油調勻。作夾膏。以蔥湯洗淨貼之。將裹腳緊緊縛定。開看黑色即換。）</p>

<h1>烏金膏</h1>
<p>（治足三陰濕熱。腿腳紅腫。皮破脂膿。類乎血風瘡。浸淫不止。痛癢非常者。）</p>
<p>先用桐油一斤。入鍋熬。起白星為度。加黃蠟一兩五錢溶化。入研細炒大黃末一斤。攪勻。再入冰片二分。攤貼。</p>

<h1>清涼膏</h1>
<p>（專治一切熱毒瘡癤。此方是正。其前抄是又方。）</p>
<p>長頭髮（一斤）　菜油（四斤）　煎枯去渣。再以活牛蒡。　甘菊　金銀藤　馬鞭草　蒼耳草　仙人對坐草（各一斤）入菜油十斤煎枯瀝出。再加白芷　甘草　五靈脂　當歸（各八兩）　煎枯去渣。再將煎熬髮油併入。共見斤兩。每一斤油。入桃丹七兩。熬膏攤貼。熬嫩膏再添丹四兩。煮和。</p>

<h1>又方</h1>
<p>（即已抄清涼膏，日前已抄一方又得後方。就以備應用。甚好。熬法。先將油發用文火漸漸熬至發化為水。約要大半日功夫。次得鉛粉和入。後用丹收膏。師曰。頭髮消瘀止血。生肌長肉甚妙。若熬膏。無用別藥雜入。）</p>

<h1>玉仁膏</h1>
<p>當歸（一兩）　白芷（五錢）　紫草（二錢）　甘草（一兩二錢）　用真麻油一斤。將煎藥浸五日。煎至藥枯。去渣。將油再熬至滴水成珠。下血竭細末四錢。攪勻。再下白蠟二兩溶化。離火微冷。再下輕粉四錢。研細。攪和成膏。</p>

<h1>北庭丹</h1>
<p>人中白　番硇（各五分）　溏雞糞　瓦上青苔　瓦松（各一錢）　用傾銀罐子二隻。將藥裝內。將口封用鹽泥固濟。炭火燒三炷香為度。候冷。用罐取出。入冰片麝香各一分。共研細末。用針破舌菌。以丹少許點上。以蒲黃末蓋之。</p>

<h1>蛇咬解毒丹</h1>
<p>（潰爛摻之神效。）</p>
<p>野三七（一兩）　膽礬（一錢）　麝香（三分）　白芷（五錢）　五靈脂（五錢）　雄黃（五錢）　雄鼠糞（三錢）　千金霜（二錢）　小茴（一錢）　白枯礬（二錢）　川貝母（一兩）　上味共為細末。</p>

<h1>又洗方</h1>
<p>（即抄在牙痛散上者）</p>

<h1>人參胎產金丹</h1>
<p>（馬氏方）</p>
<p>人參（一兩）　全當歸（一兩）　丹皮（一兩）　川芎（一兩）　元胡索（一兩）　白芷（一兩）　野於朮（一兩）　生甘草（一兩）　藁本（一兩）　上桂心（一兩）　白薇（一兩）　赤石脂（煅一兩）　懷山藥（一兩）　沒藥（一兩）　女貞子（蒸二兩）　白蒺藜（去刺三兩）　春砂仁（二錢）　白茯苓（一兩）　白芍（一兩）　杜仲（二兩鹽水炒）</p>
<p>上藥為末。白蜜為丸。如龍眼核大。硃砂為衣。以蠟固封。</p>
<p>一、臨產。參湯化服。　一、產後。童便陳酒化服。　一、經後。當歸湯化服。　一、懷孕後。每日白朮條芩化服三五丸。　一、胎動不安。白蓮花湯化服。　一、屢經小產不受孕。當歸熟地湯化服。永無墜胎之患。　一、勞役虛弱。中氣不足。人參湯化服。　一、勞役虛損。小黃米湯化服。　一、胎漏下血。藉節棕灰湯化服。　一、妊孕。腹痛脹滿。木香磨水化服。　一、妊孕赤帶。紅雞冠花湯化服。如白帶。白雞冠花湯化服。　一、妊孕。腰腿痠痛。桑寄生湯化服。　一、產後兒枕痛。山楂煎陳酒。黑糖化服。　一、橫生逆產。並子死腹中。當歸川芎湯化服。　一、胞衣不下。紅花益母草湯化服。　一、頭胎交骨不開。龜板湯化服。　一、產後乳汁不得。以好酒當歸山甲煎湯化服。　一、妊孕轉胞。小便不通。琥珀磨水化服。　一、妊孕四肢浮腫。桑皮湯化服。　一、妊孕子脹。香附腹皮湯化服。　一、妊孕子癇抽搐。鉤鉤湯化服。　一、經脈不調。月事參差。有餘不足。諸虛百損。癥瘕積聚。乾血勞傷。子宮虛冷。血海枯涸。一切婦人女子百病。俱用煮陳酒化服。</p>

<h1>秘藥餅</h1>
<p>秘藥餅六枚三錢。臨用時研極細末。每二分加後藥七味。　大梅片（四分）　珍珠（四分）　西黃（二分）　麝香（六分）　輕粉（一釐）　硼砂（二分）　共為細末。和勻收貯。吹之。　此餅誠不可解。七味又只六味而云臨用再加。則似尚有上藥數味也。</p>

<h1>神燈照</h1>
<p>上雄精　硇砂　血竭　沒藥（各二兩）　麝香（四分）　共為細末。</p>

<h1>專治頭項瘰癧痰核馬刀失榮等症方</h1>
<p>蛇床子草（五兩）　燒酒（五斤）　先將瓶酒曬熱。然後入草浸之。每日早晚。照量大小服之。若症勢年數未久。服之一年。即可全愈。</p>

<h1>一掃光</h1>
<p>（小兒頭瘡等。治一切瘡疥。破皮者不用。）</p>
<p>煙膠（二斤）　苦參（二斤）　明生礬（半斤）　川椒（炒半斤）　升藥底（半斤）　硫黃（半斤）　樟冰（四兩）　枯礬（半斤）　紅砒（一兩）　蛇床子（炒半斤）　大楓子肉（八百粒八合）</p>

<h1>紅銅片</h1>
<p>（專治油膿窠瘡。）</p>
<p>硫黃（四兩）　明礬（二錢）　紅砒（五分）　土朱（一錢）　共為細末。將藥入鍋溶化。傾出。做成錠子。每用以毛缽。用香油磨下。塗瘡上。</p>

<h1>貼散膏方</h1>
<p>升麻（三錢）　甘遂（三錢）　貫眾（三錢）　斑蝥（二十隻）　白芷（三錢）　苦參（三錢）　昆布（三錢）　羌活（三錢）　全蠍（三錢）　蜂房（三錢）　商陸（三錢）　海藻（三錢）　白芨（三錢）　赤芍（三錢）　瞿麥（三錢）　竹箬（三錢）　白蘞（三錢）　大薊（三錢）　蛇蛻（三錢）　花粉（三錢）　蒼朮（三錢）　防風（三錢）　荊芥（三錢）　白附子（三錢）　薑黃（三錢）　細辛（三錢）　澤蘭（三錢）　稜術（各三錢）　香附（三錢）　川草烏（各三錢）　遠志（三錢）　官桂（三錢）　延胡（三錢）　河車（三錢）　蓖麻子（三錢）　水仙根（七錢）　生首烏（五錢）　金星草（三錢）　野薔薇根（七錢）　蒲公英（三錢）　地丁草（三錢）　角針（三錢）　穿山甲（五錢）　牛蒡（三錢）　皂莢（二塊）　夏枯草（三錢）　忍冬藤（七分）　芙蓉花（二十朵）　巴豆肉（三錢）　野菊花（三錢）　蒼耳子（三錢）　血見愁（三錢）　防已（三錢）　川椒（三錢）　歸尾（三錢）　寄生（三錢）　王不留行（三錢）　草大戟（三錢）　木鱉子（一兩）　白蘚皮（三錢）　威靈仙（三錢）　五靈脂（三錢）　紫草（三錢）　殭蠶（三錢）　童子發（三錢）　透骨草（三錢）　生薑（三錢）　用大麻油十五斤。浸七日。下鍋內。熬至藥渣枯。濾去渣再熬。滴水成珠。然後投下炒黃丹六斤收膏。</p>

<h1>爛喉痧方</h1>
<p>斑蝥（去足翅米炒）　麝香（三分）　白芨（三分）　全蠍（三分）　玄參（三分）　冰片（四分）　京川貝（一兩）　白蜜（五錢）　此方斑蝥不開分兩。又用白蜜。不知如何用法。</p>

<h1>五效丸</h1>
<p>（治帶下腸風尿血等症。）</p>
<p>豆腐鍋粑　曬乾或焙新瓦上炙焦研細每兩加黃連一錢。共研細末。加飯共搗為丸。每服五錢。赤帶蜜湯下。白帶砂糖湯下。</p>

<h1>頭耳諸瘡方</h1>
<p>（眉癬及燕窩瘡。）</p>
<p>用肥皂煅存性一錢。枯礬一錢研細。香油調塗。</p>

<h1>瘌痢頭瘡方</h1>
<p>（不拘大人小兒。）</p>
<p>獨核肥皂。去核。填入砂糖及巴豆二枚。以泥包煅。存性。入檳榔輕粉五六分。研細。香油調塗。</p>

<h1>小兒頭瘡方</h1>
<p>皂角煅黑為末。去痂敷之。不三次即愈。白禿肥瘡皆效。（即筆峰衛生雜典）</p>

<h1>狼毒膏</h1>
<p>狼毒　川椒　硫黃　檳榔　文蛤　蛇床子　大楓子　枯白礬（各三錢）　共研細末。用茶鍾取香油一鍾。煎滾。下公豬膽汁一枚和勻。調前藥。搽患處。</p>

<h1>治囊漏</h1>
<p>（皮厚而出水寶方。）</p>
<p>蒼朮　川芎　吳茱萸（炒）　歸身（各一錢）　官桂　木通（各八分）　青木香（一錢半）　黃耆（二錢）　白朮　花粉（各八分）　蛇盤果（二錢如無甘草代之）　龍膽草（五分）　白酒煎服。</p>

<h1>專治腎囊風</h1>
<p>（去風消癢除濕。）</p>
<p>威靈仙（五錢）　蛇膽子（五錢）　當歸尾（五錢）　縮砂殼（三錢）　土大黃（五錢）　苦參（五錢）　老蔥頭（七個）　用水五碗。煎數滾。傾入盆內。先熏。候溫浸洗。</p>

<h1>敷藥方</h1>
<p>炙乳沒　海螵蛸　赤石脂　各等分研末。和黃蠟化開。作餅敷之。紮好。</p>

<h1>藥絲線</h1>
<p>芫花（五錢）　壁錢（二錢）　草烏（五錢）　白蔻線（三錢）　水一碗。瓷罐內慢火煮乾。不曬。陰乾。遇症將絲線紮緊。每日收緊。其患自然枯黑。</p>

<h1>耳出臭膿</h1>
<p>龍骨（煅）　五倍子（炒）　乳香（去油）　枯礬　血餘炭（各等分）　共研細末。卷盡膿水摻之。</p>

<h1>耳中膿水不幹方</h1>
<p>胭脂　蛀竹屑　石榴花瓣（炙）　冰片共研細末。摻之。</p>

<h1>專治頸項怪症丸</h1>
<p>花椒（一錢）　熟礬（二錢）　火硝（一錢）　雄黃（一錢）　麝香（六分）　共研細末為丸。</p>

<h1>摻舌黑虎散（泰梅初秘方）</h1>
<p>麝香（一錢）　大蜘蛛（七個）　大蜈蚣（七個）　大梅片（一錢）　公母丁香（各一錢）　穿山甲（七個）　天蠶（七條）　全蠍（七隻）　靈磁石（一錢半）　火症加犀黃五分。　大濂珠五分。</p>

<h1>癬藥</h1>
<p>槿末　參末　姜芷散　和勻。摻之神效。</p>

<h1>活絡丹</h1>
<p>制（川草）烏（各六兩）　膽星（六兩）　地龍（二兩三錢）　乳香（三兩三錢）　沒藥（三兩三錢）　酒化旦心為丸。每重五分。（旦心疑似膽星）</p>

<h1>林文忠公戒菸靈丹</h1>
<p>明黨參（二錢）　玉竹（二錢）　半夏（二錢）　黃耆（二錢）　杜仲（一錢半）　茯苓（二錢）　粟殼（二錢）　杞子（二錢）　益智（一錢半）　炮姜（二錢）　棗仁（一錢半）　橘紅（一錢半）　沉香（一錢）　炙草（一錢半）　覆花（二錢）　加上桂心五分。薑棗砂糖湯為丸。</p>

<h1>長肉商紅膏</h1>
<p>老松香（四錢）　潮腦（二錢）　輕粉（八分）　銅綠（一分半）　銀硃（七分）　冰片（一分半）　麝香（一分）　蓖麻仁（二錢）</p>

<h1>生地膏</h1>
<p>細生地（四兩）　白占（一兩半）　麻油（八兩）</p>

<h1>百部膏</h1>
<p>百部　白蘚皮　鶴蝨　蓖麻仁　生地黃　黃柏　當歸（各一兩）　麻油（半斤）　各藥熬枯。去渣。入黃占。</p>

<h1>厲瘋膏</h1>
<p>大楓子肉（五錢）　木鱉子（五錢）　當歸（一兩）　小生地（一兩）　防風（五錢）　紫草（五錢）　黃柏（五錢）　元參（五錢）　麻黃（五錢）　黃占　麻油（八兩）</p>

<h1>消瘤散</h1>
<p>南星</p>

<h1>英夷戒菸丸</h1>
<p>高麗參　西洋參　東洋參　北沙參　路黨參　韭菜子　淮牛膝　粉草（各五錢）</p>
<p>上藥用陳酒四斤浸服。癮到時服三四杯。即不知所苦。初服七日。忌豬肉。後忌醋、鴨子、蝦、蟹、生冷麵食。斷癮方可食。</p>

<h1>法制半夏</h1>
<p>（蘇州戈氏）</p>
<p>大半夏（十斤）　用陳石灰（十斤）　滾水泡化。待溫。投半夏。日曬夜露。頻攪之。七日取出。換清水浸三日。取出曬乾。再明礬（五斤）　皮硝（二斤）　用滾水泡化。　待溫投半夏。如前製法。曬乾。　甘草　薄荷　茯苓（各一兩）　陳皮（三兩）　白蔻仁　枳實　大砂仁　木香　青皮　川芎　五味子　上桂心（各五兩）　丁香　沉香（各三兩）　生薑（十斤）</p>
<p>上藥用滾水泡。待溫。投半夏。浸十四日。日曬夜露。頻攪之。至期滿後。揀出半夏。將余藥煎濃汁。去渣澄清。即將藥汁。煮半夏。收干為度。或為丸。或為塊。收貯聽用。</p>
<p>一、凡有痰飲者。開水送服。痰從大便出。如魚鰾即愈。　一、凡有老年積痰。陳皮茯苓湯服。　一、凡中風痰厥。羌活前胡湯服。　一、凡寒痰嘔惡。生薑陳皮湯服。　一、冷哮痰飲。蘇子陳皮湯服。　一、肝胃厥氣。青蒿陳皮湯服。　一、三陰久瘧。生薑湯服。　一、小兒寒閉。前胡陳皮湯服。　一、酒濕。砂仁湯服。　一、痰迷癡癲。石菖蒲葉沖湯服。　一、寒濕疝氣。荔枝核炙灰沖湯服。</p>

<h1>小蟾酥丸</h1>
<p>（抄硯農選錄中）</p>
<p>蟾酥（一分）　明雄（三分）　蜈蚣（一條）　研細。酒糊丸。桐子大。每服五丸。蔥湯下。</p>

<h1>清涼散</h1>
<p>（抄白紅紙）</p>
<p>煅石膏（九錢）　陳黃升（一錢）</p>

<h1>八寶丹</h1>
<p>煅龍骨（六錢）　輕粉（二錢）</p>

<h1>藥兜肚方</h1>
<p>（抄靜香樓案下）</p>
<p>乾薑（八分）　官桂（一錢半）　白芥子（一錢半）　枳實（一錢）　阿魏（四分）　半夏（一錢）　水仙子（一錢半）　麝香（五分）　上藥共為粗末。用艾綿拌勻。大紅沙布作夾兜肚一個。將藥置於中。</p>

<h1>鐵箍散</h1>
<p>三年陳小粉四兩。炒黑至煙出。取出研細。篩去粗頭。用好醋調。如薄漿樣。然後敷之。善治一切紅白腫毒。其效如神。無膿即散。有膿即潰。使其不致蔓延。故名鐵箍。此方雲系坊前倪氏秘方。不可以小粉輕賤之物。置而勿信。惜之惜之。</p>

<h1>紅膏藥</h1>
<p>（即外科至寶千捶膏。倪氏家藏之方。）</p>
<p>老松香（半斤）　東丹（三錢）　銀硃（一錢）用蓖麻子去殼。打成膠。</p>

<h1>許恆君傳用法（附）</h1>
<p>外科要用　銅舂筒　鐵碾[（鐵研船）皂角等必碾。]　石臼　小篩子　藥線木　大黃切片（曬脆。然後放鐵船中研篩。篩後再放研盂中研。余可類推。）　石膏（火爐一隻。將石膏放煅。其色雪白。然後置船中研。）又（石膏必須煅至極熱透。熱透要雪白。研時要去頭腳粗滓。）　炒藥剷刀。（煉膏用。）　鐵丫勺　絞渣藥布（煉膏火煎。急蓋之。否則藥枯。）　瓶（一共總要三四元。末藥五十個。大丸瓶葫蘆三四個。小丸者五個。）　煉膏者。必須場上用行灶鐵鍋。先配料。東丹宜用真。叫藥店人值事。大約數百文。（藥是蘇辦）</p>
<p>九一丹（即清涼藥加青黛。名生解。且又賤又靈。）　用石膏十成。黃升一成。長肉甚良。研要細。（有毒拔毒。無毒長肉。）　馬氏八寶丹（發背長肉。必須用。甚靈。）　陳小粉（炒至黑如漆。用醋調搽陰症合宜。如痰塊立小。手掌大者。可收至手心樣。）　症候好時。如發毒背症。上半有膿。下半無膿。半長半拔。白腐者。毒也。紅鱗者。新肉也。拔毒長肉之藥。要研至無聲為度。不然。非但痛。且不靈。　舌齒出血。炒蒲黃末吹之靈。</p>
<p>大欞架一隻（下木架之。硬木為之。高與人高。如方方各式。臨地作抽屜。架心陷以放缽。架左右立兩木。上橫木架之中饋。圓空柄杆承之。）圓藥缽（大一小二）個小帚三把。研藥線木　秤二根　針一隻　匾一對（曬丸者。黴潮及僵腐等用。）　做攤膏藥布　先買青紅之布。大約三四。十一尺。以洋皮紙糊。榆白皮面帚掃揩之。以二層為度。　厚者一層。背後貼向牆壁上。待乾用。　攤膏藥法　小鐵鍋一隻（下放爐。在中底。放鐵盞。一點燃燈草熏。洋鐵針卷攤。）　剪油紙刀一把。薄油紙（十張。照小大裁。）　白紙（五十張。包藥用。裁好。針穿掛。）　膏藥用法（傷濕風痛等用紅。除毒流注用青。）　白銅匙（大四把。小二把。）　藥瓶塞頭（爆竹店做結實者百個。需百文。）　敷藥（多攪則黏滯。撮軟而不烈。去敷藥看去。汗孔有汗乃藥氣散。）　毒門不看。</p>
<p>凡貼傷膏（用生薑擦再貼。則藥氣速。無他慮。）　除毒貼膏（亦宜如上。外食鹽噴炒。散在膏上。摩運及薑片艾灸等。）　熬膏先備柳木棍。俟藥須攪時。入攪之。以膏黑如漆為度。其亮如鏡矣。攪勻。傾於水內。要用扯一塊用之。　大蓋缸（綠者。敷藥貯三隻。）　小蓋缸（四隻。碗店取。則貯去解涼血。）　毛缸盆（置長肉膏。百部膏。）　頭風膏（以肉桂。丁香攪膏貼。熱痛薄荷末。白芷末入之。烘熱用。）　陽和膏（另鍋爐。）　瘄腐小膏用油紙（貼散膏場面用布。）　灸法（方磚小座。新瓦仰如盂。瓦下注火。磚需用七八塊。）　煉蜜（蜜注銅勺。下放蘆片煬之。）　牙片（一根。壓舌看喉。及調敷藥。）　代刀藥（闊則口大。厚則口深矣。）　敷藥（似成留頂。未成偏敷。瘙癢之瘡已開者。不宜用。）　摻藥筆（舊筆去頭。染著摻。）　大毒未盡。不可生肌。生肌逼毒內攻。或別生瘍矣。半腐半肌。即去腐生肌。　凡腫高赤痛。（敷涼藥。）漫腫不紅不痛。似有頭。（敷溫散。）　生管者忌。（走動下部。）　疔。（以銀針刺頭。然後以拔疔散用之。根腳易之。）</p>
<p>燒膏藥。桐油一斤。鉛粉頭髮。五日可做。先武火。後文火。不然要燒焦。宜丫叉擊鍋蓋上。防燒成焦塊。空地上防失慎。　有油之巴豆蕤仁。宜紙包。石壓去油。</p>
<p>外症如乳岩。內疽。發背。對口。宜三複詳看。然後用藥。　勢大躋。求功效。聽別就。　瘍先發散。後托補。虛則用之助膿。　膿未成宜消者。按之堅。不熱多紅。</p>
<p>用膏藥法　瘍堅而屢塗難陷。突者不用。如深而膿左右注乃用。</p>
<p>瘍潰　膏藥不可嫩。宜老而薄。庶易於貼耳。惟貼傷要嫩。</p>
<p>瘍虛漫輕。　實高腫。　熱腫紅堅。　寒瘍木黯。　濕腫按如爛棉。（破則流黃水）風腫皮皺紅。微熱。痰腫軟如棉。硬如鰻。（不紅不熱）　氣腫按之皮緊肉軟。（遇喜則軟怒則長。不紅不熱）　跌僕瘀血。腫（不熱不紅。）　暴腫已成。如潰。其色必紫。</p>
<p>瘍屬陽。十四日熟屬陰。念一日熟。　無膿不軟。膿熟方軟。未成按之即起。已成深按速起。則有黃水。　深按緩起。內有汙膿。</p>
<p>按之實痛。是血。　按之實而不疼。是氣。輕按即疼。是膿成。</p>
<p>重按方痛。膿深。胖人膿宜多。瘦人膿宜少。膿出後。切忌用寒涼。屬火者。去膿後。宜平性藥。　近筋處。凡症起癢者。宜灸之。</p>
<p>癭瘤結核。不宜開刀。　近毛髮之瘡。須剪去毛髮。貼膏。以免黏疼。</p>
<p>諸瘡及跌打。一經室房。立時作痛。婦人刀傷。遇經來。瘡必痛。四物柴胡湯。　打傷皮不破。必內有瘀。宜攻之通之。　痛十日。好期二十日。毒氣攻心。護心散不及。急服白沙糖三四兩亦可。</p>
<p>王洪緒有言。惟疔用刺。禁用升降二丹。以防腐爛。</p>
<p>癰疽遺精者。須看好而治。痔病亦然。　大癰須戒汙積。如行經婦人近前。腫痛更甚。難以收功。如婦人自想。適經來。醫治鮮效。經後始能見功。亦忌房。　長肉藥少許。即結靨。若多蓋。就硬。反要攻膿。　症未軟者。不可敷寒涼。若半腫半黯。宜帶辛熱。</p>
<p>其症腫痛起。渴大便秘。或是陽。專治寒涼藥。　焮腫作痛。寒熱頭痛者。皆在表也。發散之。　焮痛作痛甚者。邪在經絡也。和解之。　漫腫痛而不潰者。血氣虛弱也。急托補之。　急黯而不潰。或潰。或不斂。陽氣衰也。溫補之。若大便結。邪在內也。疏利之。</p>
<p>薛立齊謂。形傷痛。氣傷腫。皆因厚味炙煿。食毒所致。無問何部。但赤腫者必消。　若煩躁飲冷。赤痛發熱。二便不通。火熱內熾也。（四味清涼飲。或活命飲加大黃。）　微腫紅腫痛。陽氣虛弱也。參耆內托散。微黯惡寒。不作膿。或熟而不潰。陽虛寒也。千金托裡散。如此則未成立消。</p>
<p>潰瘍若膿潰後。二便仍閉者。毒未解也。（清熱消毒湯。）熱退而渴不退。津液不足也。（八珍加麥冬。）　熱不止。腫痛反甚。虛熱內作也。（保元湯清心淨血之品。）</p>
<p>熱退。肌肉不生。（十全大補。）　瘡白下陷。寒氣烈也。（五味異功。）　手足並冷。（六君子加薑桂等。）</p>
<p>[骨槽風]清胃散　牛蒡解肌湯　（又方）鮮石斛　元參　羚羊角</p>
<p>[牙漏]　玉女煎（牙咬牙宣牙疳）清胃散　玉女煎　犀角地黃湯　涼膈飲　牛蒡解肌湯　蘆薈消毒飲　（又方）鮮石斛　炒山梔　元參　桑葉　杏仁　花粉　連翹　薄荷　麥冬　雪梨汁　荊芥　羚羊角　淡芩　淡豆豉　栝蔞　忍冬藤　鮮薄荷根（牙菌牙岩）犀角地黃湯　甘露飲　玉女煎　瀉黃散　清胃散（加石決明）　[走馬牙疳]（犀角地黃湯。）　（又方）鮮石斛　荊芥　元參　前胡　忍冬藤　牛蒡　連翹　葛根　豆豉　薄荷　六一散　香薷　蟬衣　青蒿　黑梔　丹皮　白薇　茅根</p>
<p>[肺癰腸癰方]　竹燈臺一隻。燒紅時。　悶息之。研為細末。陳酒送下。</p>
<p>[癰疽煎方]　金銀花（六兩）　甘草（二兩）　皂角刺（五錢）　水酒煎。一劑立消。</p>
<p>[乳癰方]　白芷　貝母（八兩）　為末。酒服之。</p>
<p>[疔瘡初起]　白芷　生薑（一兩）　擂酒一盞。溫服。</p>
<p>[喉症方]　鮮竹葉一把。煎湯常服。　重症鮮石斛五錢半。醋少許。冷飲。</p>
<p>[口舌瘡方]　黃柏（一錢）　殭蠶（一錢）　枳殼灰（五分）　炙草末（五分）　薄荷末（五分）　冰片（三釐）　山豆根（五分）　各為末。一日拌三次。明日愈。</p>
<p>[中焦統治方]　金銀花　元參　生草　白芍　炒梔子　荊芥　連翹　桑寄子　如屬陰。去梔子。加桂末。</p>
<p>[下焦統治方]　天花粉（三錢）　生草（二錢）　銀花（三錢）　蒲公英（五錢）</p>
<p>[上下統治方]　生甘草（二錢）　蒲公英（一兩）　黃芩（一錢）　銀花（三錢）　煎乳香沒藥各一錢調服。</p>
<p>[上消癰毒散]　金銀花（一兩）　當歸（一兩）　川芎（五錢）　蒲公英（三錢）　生甘草（五錢）　桔梗（三錢）　黃芩（一錢）　荊芥（一錢）　連翹（二錢）　牛蒡（一錢半）　芙蓉葉（一片）</p>
<p>[上中下皆治方]　金銀花（四兩）　蒲公英（一兩）　當歸（三兩）　元參（一兩）</p>
<p>[疹痧方]　草麻（三錢）　元參（一兩）　乾葛（二兩）　青蒿（二兩）　黃耆（三兩）</p>
<p>[喉痛方]　生地（一兩）　粉丹皮（四錢）　白芍（二錢）　麥冬（六錢）　川貝（三錢）　甘草（三錢）　元參（五錢）　薄荷（二錢）　青果（五個打）</p>
<p>[乳岩方]（初生可治）青皮　石膏（行汙）　生甘草節（消腫導毒）　栝蔞　橘絡（行經絡）　皂角刺　銀花　（此症不可用刀）因寒痰結凝。當用陽和湯。外敷宜留意。不可寒涼。</p>
<p>[乳癰方]　金銀花（五錢）　白芍（二錢）　青皮（一錢）　蜜耆（三錢）　柴胡（一錢）　連翹（一錢半）　當歸（三錢）　蒲公英（五錢）　生草（一錢）　鮮橘葉（十片）　砂仁末（沖四分）</p>
<p>（又方）加浙貝　白芷　靈仙　夏枯草　天冬</p>
<p>[肺癰方]　元參（八錢）　麥冬（八錢）　生草（一錢）　銀花（一兩）</p>
<p>[女人羞隱治方]　白芍（三錢）　川芎（一錢）　熟地（五錢）　當歸（三錢）　甘草（一錢）　柴胡（一錢）　白芥（四錢）　黃芩（三分）　炮姜（三分）　症熱加梔子三錢。</p>
<p>（又方）痛癢兼治。　當歸（五錢）　梔子（三錢）　白芍（五錢）　柴胡（一錢）　茯苓（五錢）　楝樹根（五分）　有火加黃芩一錢。有寒加桂一錢。</p>
