<header data-type="book">
<h1>四科簡效方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1854">公元1854年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>天下之難事莫如醫，同一證也，所因各異，傳變攸殊，況體有虛實，病有淺深，臟性有陰陽，天時有寒燠，雖方與病合，尚須隨證損益，以期無纖毫之杆格，庶可藥到病除，而無遺人夭殃之誤。苟非守經達權之士，惡足以語此，此成方之不可執也。古名臣大儒，錄單方以便民用，洵屬利濟為懷。第單方藥力既專，取效尤速，設不知區別而浪施，則傷人亦更易也。且自秦政漢武以後方書，輒以神仙服食諸說傅會其間，而《肘後》、《千金》諸書，則以毒藥為常用之品，後人無其識見，紙上談兵，能無人費之慨哉！夫以蘇文忠公之淹雅，猶過信傳聞，將聖散子、黑神丹等方，極口表章，不免貽誤後世，矧其他乎？良由選方者未必知醫，而知醫者非視單方為瑣屑不足道，則矜為枕秘而不傳，故行世單方，竟無善本。余未嘗學問，為繼先君志，童年即究心醫籍，三十年來，凡見聞所及，固美不勝收，竊念窮鄉旅宦，疾病陡來，無藥無醫，莫從呼籲，爰不自揣，選其藥廉方簡，而用之有奇效無險陂者，集為四卷，題曰《四科簡效方》，以俟仁心為質者，版以流傳，然限於卷帙，遺漏良多，用質通方，毋嗤淺陋。</p>
<p><u>咸豐四年甲寅秋八月杪杭州王士雄書於鴛鴦湖舟次</u></p>

<h1>重刊四科簡效方序</h1>
<p>世人常謂有一病必有一藥可治，有一證必有一方可療。雖然亦有有其病而難遇其方，有其方而不遇其病，通都大邑猶如此，若僻居鄉曲，或旅行舟車，病發倉卒，何以處之？轉不如將已試驗之方，積錄成書，以公諸世，俾病家不及延醫之處，得以按症選用，其利益為尤普。王君孟英邃於醫者也，有見於斯，爰集是編，或得於見聞所及，或曾經親手試驗，擇其平易可用之方，編為四卷，曰內科，曰外科，曰婦科，曰兒科，題曰《四科簡效方》。書成未及刊印，烏程汪謝城先生，手錄副之藏之，先生歸道山，藏書散布人間，是編為田杏邨舍人所得。閱其方，抉擇精審，簡明且備。讀孟英《歸硯錄》有云：余近採簡妙單方一帙，名曰《蓬窗錄驗方》，多醫家宜備之藥，可以應世，可以濟貧，吾鄉蔣生沐廣文，見而善之，已梓彙刊經驗方矣云云。此編所採較多，而仍不失簡妙，且易於購辦，誠仁人之用心也。余謂天下奇方之有經驗者，原不恃藥之珍貴，在用方者之對證耳。用得其當，雖牛溲、馬勃，亦足以起危疴；用失其宜，雖犀、羚、冰、麝，或反至於僨事。彙集秘方，苟能對證檢用，未始非拯人疾痛之一助。無如近來市井之徒，得一驗方，往往秘而不露，或留作家藏鴻寶，視為奇貨可居，忍使良方湮沒，奇病危亡，昧理喪心，莫逾於此，在富貴尚可求生，而貧病只堪待斃，撫心自問，罪可逃乎？余近為孟英刊遺書，而《四科簡效方》紹興徐氏雖有刻本，在遠方仍無流傳，爰取汪氏手校本，重為校訂，加以圈點，列於叢書之內，同付石印，與其秘藏於一人，不如公布於天下，偏利於一隅，何如共利天下後世之為愈乎！</p>
<p><u>中華民國七年二月四明後學曹炳章赤電氏序於紹興之和濟藥局</u></p>

<h1>甲集</h1>

<h2>內科通治</h2>

<h3>截煙引</h3>
<p>按吳青壇侍郎曰：自臺灣蕩平之後，薄海內外，皆為一家，江浙閩廣，設立海關，裕國便民，誠萬世之利也。而平湖陸義山閣學，以為利小而害大，深抱杞憂，有「防患議」一篇，附載《說鈴》。迨道光間，許青士太常奏議云：乾隆以前，海關則例，鴉片煙列於藥材項下，每百斤稅銀三兩，以其本屬藥材，即《本草綱目》之阿芙蓉也。惟吸食必應其時，謂之上引，則廢時失業，莫此為甚，其後遂入例禁。嘉慶初年，食鴉片者，罪以枷杖，今遞加至徒流絞候各重典，而食者愈多，幾遍天下。然例禁愈嚴，流弊愈大，閉關不可，徒法不行，計惟仍用舊例，文武員弁，士子兵丁，或效職趨公，或儲材待用，不可聽其沾染惡習，致蹈廢時失業之愆。第用法過嚴，轉恐互相容隱，如有官員士子兵丁私食者，應請立即斥革，免其罪名，寬之正所以嚴之也。該管上司，及統轄各官，有知而故縱者，仍分別查議。（凡生童應試，必先具勿食鴉片甘結，始准赴考。）其民間販賣吸食者，一概勿論。（但不準考試，已與樂籍惰民等矣。）或疑弛禁，於政體有關，不知觴酒衽席，皆可伐生，巴豆烏頭，豈無毒性，從未聞有禁之者。且弛禁僅屬愚賤無事之流，若官員士子兵丁，仍不在此數，似無傷乎政體云云。梁芷林中丞，謂此奏甚可行，惜不知彼時大吏，如何會議覆奏也。夫鴉片煙之消爍脂膏，天下胥受其病矣，首錄讜論，用備留心。國計民生者之採擇。後列數方，以為知有身家性命者之悔悟焉。</p>
<p>甘草一味，熬成濃膏，調入煙內，吸食二三日，即漸不欲吸矣。方簡價廉，又不損人，且無後患。極深之引，一月可截，但必痛悔堅心，無不神效。並望遞相傳述，俾海內之煙引全蠲，豈非快事？</p>
<p>隨體氣之虛實，用一藥方，（如虛人宜補中益氣湯，實人宜蘇合香丸之類。）以煙膏為丸，如綠豆大，如每次吸菸一錢者，但服丸藥之中，約有煙膏一分，即可不吸矣，數明丸藥若干粒，逐次減服一丸，減完引斷極效。</p>
<p>虛人用一味棗肉，和煙膏杵丸。實人用製半夏、陳皮二味研末，和煙膏杵丸並妙。服法遞減如前，亦甚效。凡煙引截斷一二年內，多食南瓜，或多啖棗，或甘草湯，或砂糖湯頻飲，永無後患。</p>

<h3>塞酒源</h3>
<p>按王朗川先生曰：子弟幼時，總不令飲酒，到大來不戒而自不飲矣。每見父母舐犢之愛，自幼誘之使飲，縱之暢飲，及至長大，遂不能禁其不飲，每於逢場登席，獻酬豪舉，自以能飲為長，因而失儀亂德，多言僨事，或強詞奪理，戲謔傷人，皆酒之所使也。由是習與性成，即不赴席延賓，亦以杯中物為不可少。性本聰明，而讀書之智，以酒而昏；材非愚蠢，而奮往之神，以酒而惰，所謂如醉如癡，醉生夢死者，皆自嗜酒漸漬而成也。愚謂帝王甘酒，可以亡國；貧人甘酒，可以亡家；富人甘酒，可以亡身。為父兄者，能早塞其源，庶可以保身家，杜疾病。昔賢如阮步兵、李學士之流，因不容於世，乃托跡於酒，以自汙而求免也，後人何必效之！錄戒酒方。</p>
<p>酒七升置瓶中，以透明硃砂五錢，研細入酒內，緊閉塞瓶口，安豬圈中，用短繩繫於欄，俾不傾倒，任豬搖動，經七日取出頓飲之。</p>
<p>白豬乳一升飲之。</p>

<h3>救飢</h3>
<p>凡固窮糧絕，或奔走失道，及墮墜溪谷空井深塚之中，四顧迥絕，無可藉口者，宜閉口以舌攪上下齒，取津液而咽之，一日得三百六十咽便佳，漸習乃可至千，自然不飢。三五日小疲極，過此便漸輕強。廉夫介士，不可不知此法也。</p>
<p>若伏處山澤間者，但取松柏葉實，細嚼水服。初覺苦澀，稍後便習，服久並不畏寒暑矣。或掘取白茅根暨紫花地丁，洗淨嚼服。草中更有朮、黃精、萎蕤、門冬之類，或生或熟，皆可單食。</p>
<p>飯干曬透，永遠不壞，飢者嚼一撮，得米氣便可不死，真至寶也。每年各家留飯一斗，曬透入甕，存放乾燥處，並不費事，若得家家如此，勝積穀備荒多矣。或取糯米一斗，淘淨，百蒸百曬，搗細入甕，存乾燥處，日服三勺，渴則飲之，鬥米可度一月，家有老人，不能嚼飯乾者，宜儲之。</p>

<h3>解渴</h3>
<p>旱道無水，嚼蔥白，或甘草一寸，可當水一升。</p>
<p>烏梅肉　鹽梅肉　甘草　薄荷腦（各一錢）　麥冬　木瓜（各二兩）　飛滑石（三兩）</p>
<p>以上七味為細末，煉白蜜丸，如芡實大，口噙一粒，雖徂暑長途，可以不飲。凡行水土惡劣之地，不可不備也。</p>
<p>粟谷一升，以水一斗，煮取五升，去滓，入白玉十兩，煮至三升，頻呷，治火炎煩渴如神。</p>

<h3>養老</h3>
<p>北五味（八兩，夏月再加四兩）　百部（酒宿，浸焙）　菟絲子（酒宿，浸焙）　淡肉蓯蓉（酒宿，各二兩。四季土旺，蓯蓉再加六兩）　甘枸杞（二兩，秋月再加六兩）　杜仲（炒）　巴戟肉　遠志肉（各二兩，冬月遠志再加六兩）　防風（無叉枝者）　白茯苓　蛇床子（炒）　柏子仁（另研）　干薯蕷（各二兩）</p>
<p>以上十三味，用甘泉水、桑柴火、裡面有黝之砂鍋，次則銅鍋，煎至味盡去滓，將藥汁慢熬成膏，瓷器收盛，封置泥地上，拔去火氣，每晨淡鹽湯化服一大匙，春月用棗湯化服。此平補上丹，服之輕健耐老，明目加餐。</p>
<p>西洋參（刮去皮，飯鍋內蒸九次，日中曬九次）　甘枸杞　懷牛膝（酒蒸）　天冬　麥冬　懷生地　懷熟地　仙靈脾</p>
<p>以上八味等分，照前法熬膏，白湯或溫酒點服，此峻補真陰集靈膏。人年五十，陰氣先衰，老人陰虧者多，服之筋骨柔和，駐顏耐老。</p>
<p>茅山蒼朮（泔水浸，刮去皮，飯鍋上酒蒸透）　川椒紅（各四兩）　懷熟地　干薯蕷（各三兩）　炙甘草　茯苓（各二兩）　茴香（二兩，鹽水炒）　川烏（制，一兩）</p>
<p>以上八味，將六味研細末，而且熟地杵膏，薯蕷煮糊為丸，梧子大，每服三十丸，空心淡鹽湯下，以干食物壓之。此溫補真陽草靈丹，老人陽氣偏虛，便溺不禁者，服之進食耐寒，精神強固。</p>

<h3>安神</h3>
<p>凡心神過擾，營血耗傷，不寐善忘，悲愁不樂，用甘草（一錢），小麥（三錢），紅棗（七枚，每枚以銀針刺七孔），野百合（七錢），蓮子心（七分），水煎去滓，入青鹽（一分）服。</p>
<p>生川連（五錢）　肉桂心（五分）　研細，白蜜丸，空心淡鹽湯下。治心腎不交，怔忡無寐，名交泰丸。</p>
<p>透明辰砂（一兩），以玉器盛，露四十九夜，遇陰雨不算，令研極細，入西牛黃一錢，研勻，煉蜜丸，如豌豆大，名露珠丹。又透明辰砂研極細，每砂一兩，用生甘草一兩，煎湯飛淨，去頭底曬乾，再研再飛，三次為度。用豶豬心中血，絲棉絞去滓，凡砂一兩，用心血三個，每次一個，拌砂曬乾，再研再拌，再曬，三個用訖，再研極細，以糯米粉糊，和搗萬杵為丸，每重七分，陰乾得五分，瓷瓶裝好，名正誠丹，並治殫慮勞神，火升心悸，震惕不寐等證。凡臨文應事心動，或臨臥用一丸，噙化極妙。</p>

<h3>辟邪</h3>
<p>飛屍鬼擊，名曰客忤。客者，客也；忤者，犯也。謂鬼魅惡厲之氣，乘人衰歇而犯之也。苟不即治，則邪氣由經腑侵臟而死。救愈猶宜調治，以消其餘勢，不爾恐留後患，有時輒發。蘇合香丸調服良，玉樞丹亦妙。</p>
<p>搗生菖蒲根，絞汁灌之，以渣納鼻兩孔中。</p>
<p>以綿漬好酒中，須臾置病人鼻間，擠汁入鼻中，並以艾灸人中三壯。</p>
<p>猝死而壯熱者，礬石半斤，水一斗半，煮消，以漬病人腳，令沒踝。</p>

<h3>逐疫</h3>
<p>杜赤豆（非半紅半黑之相思子），新布囊盛之，置井中三日，取出，舉家男服十粒，女服二十粒。</p>
<p>雄黃（三兩）　雌黃　羚羊角（各二兩）　礬石　鬼箭羽（各一兩）　搗為散，以三角絳囊盛藥一兩，帶心前，並掛門戶上，月旦用青布裹一刀圭，燒於中庭。若於病人榻前燒熏之即瘥。</p>
<p>密以艾灸病人床四角各一壯，勿令病者知，即愈。</p>

<h3>癲狂（俗謂癲曰文瘋，狂曰武瘋）</h3>
<p>治癲癇法：用艾於陰囊下，穀道正門當中間，隨年數灸之。</p>
<p>甜瓜蒂不拘多少，細碾為末，壯年用二分半，十五以下及老怯者減半，早晨井華水下，一食頃含砂糖一塊，良久涎如水出，涎盡食粥，一兩日愈。如涎出太多，覺困甚者，麝香少許研細，溫水調下即止。</p>
<p>又治狂法：臥其人著地，以冷水淋其面，須終日為之自愈。</p>
<p>又治狂發無時，披頭大叫欲殺人，不避水火，以苦參研細，蜜丸，梧子大，每服十丸，薄荷湯下。</p>

<h3>虛弱</h3>
<p>按：汪纘功詳論虛勞，而所立治法，惟保陰煎一方，蓋以人身之陰難長而易傷也。凡稟賦虛弱，真陰不足之人宜仿此，預為補救，加以保養，則人定自可勝天，苟不知此，直待勞損已成，恐盧扁亦無妙術矣。其方用生地、熟地、天冬、麥冬、萎蕤、牛膝、薯蕷、茯苓、龍眼肉、龜板（各藥分兩量體斟酌）十味，甘泉水煎，或石斛煎湯代水，臨服和入現擠濃白人乳一小杯，亦可熬膏服。若內熱有汗加地骨皮，內熱無汗加丹皮；腰痛加枸杞、杜仲；盜汗加棗仁、五味子；怔忡不寐加棗仁；咳嗽加桑白皮、枇杷葉、百合；有痰加竹茹、貝母；有血加藕汁、童便；食少加生苡仁；泄瀉去生地、天冬，加扁豆、蓮子、芡實、菟絲子；肺脈按之無力者，量加人參（黨參、洋參酌宜而代）、炙黃耆（各三兩），白朮（六兩），熟地（八兩），歸身、白芍、川芎（各二兩），炙甘草（一兩）。按法熬膏，將成，入鹿角膠（四兩）、龜板膠（三兩）收之，瓷器盛之，窨去火氣，每服三錢，開水點下。</p>
<p>女貞子　旱蓮草　干桑葉　黑脂麻　鮮菊花　甘杞子　歸身　白芍　熟地　黑豆　南燭葉　白茯神　萎蕤　橘紅（各四兩）　沙蒺藜　炙甘草（各二兩）</p>
<p>以上十六味，用天泉宿水、桑枝火煎至味盡，去滓，緩火熬膏，將成，入黑驢皮膠、煉白蜜各三兩收之，瓷瓶封盛，窨去火氣，每日卯時，開水點服五六錢，名滋營養液膏，為悅性怡情之妙藥。貞、蓮二味，法二至以暗轉陰陽；佐以桑、麻，為調風氣，應候播植生機；助以杞、菊，為升降之春秋，亦承流以宣化；歸、芍辛酸，一通一泄，使無壅滯之情；地黃、蒺藜，一填一養，不致肌虛之困；黑豆滋水息肝，南燭培元益氣；茯神、萎蕤，為營衛報使；橘紅、甘草，為喉舌真司；驢膠濟水造成，激濁揚清之凜冽；蜂蜜百花釀就，和風甘雨之仁慈。服之不特調元卻疾，且以見天地之生生有如是也。（炳按：此薛生白先生生平得意之驗方，載《三家醫案》。）</p>

<h3>勞疰（俗呼傳屍勞）</h3>
<p>獺肝一具，陰乾搗末，水服方寸匕，日三。甚者兩具必愈。</p>
<p>大蒜　杏仁（各一兩）　合杵如泥，加雄黃一兩，入乳缽內同研勻，日曬至可丸，即丸如梧子大，每服二十一丸，凌晨空心，清米飲下。服後勿洗手，頻看十指甲中有毛出，逐漸拭去，至辰時方可洗手，名出毛丸。</p>
<p>鰻鱺充饌，久啖自瘥。外以元參一斤，甘松六兩為末，每日焚之。</p>

<h3>外淫（風寒暑濕之感也）</h3>
<p>蔥白（十四莖）　淡豆豉（三錢）　水煎頓服，此名蔥豉湯，乃解散風寒之神劑。寒重者加蘇葉、杏仁、橘皮、生薑之類。兼感溫熱之氣者，可加蘆根、桑葉、滑石、竹葉之類。</p>
<p>滑石（六兩）　甘草（一兩）　二味研細末，每服三錢，溫水調下，熱甚者新汲水下，名六一散，通解暑濕之仙方，功難縷述。若外挾風寒者，以蔥白五寸，淡豆豉五十粒，煎湯調服。</p>

<h3>番痧</h3>
<p>痧在肌表未發出者，以燈照之，隱隱膚間且慢焠。若既發出，狀如蚊咬，粒如㾦麩，疏則累累，密則連片。更有發過一層，復發兩三層者。焠法看頭額及胸前兩邊，或腹上與肩膊處，照定紅點，以紙拈條，或粗燈草微蘸香油，點著焠之，即時爆響。焠畢，便覺胸腹寬鬆，痛亦隨減。</p>
<p>痧在膚里發不出者，則用刮，若背脊頸骨上下，及胸前脅肋，兩肘臂膝腕，用棉紗線或苧麻繩，或青錢，或瓷碗口，蘸油自上向下刮之，以紅紫色綻方止。項下及大小腹軟肉處，用食鹽以手擦之，或以指蘸清水撮之，痧出體即輕矣。</p>
<p>《玉衡》書云：東南卑濕，利用砭，以針刺放毒血，即砭之道也。然痧毒忌鐵，須用銀針。凡痧重者，必刺出毒血，始可望生。兩臂灣名曲池穴，兩腿灣名委中穴，先蘸溫水拍打，露出紫紅筋，然後刺之。余穴非手法精者，恐其誤刺，不悉載。</p>
<p>生黃豆細嚼，不腥者痧也。既可試病，亦解痧毒。生芋亦然，再以大雄雞一隻，放病人腹上，雞即伏而不動，痛止則雞自跳下。</p>
<p>晚蠶砂為末，冷開水調服。或以玉樞丹，涼開水調服。若停食者，須以明礬末四分，冷開水下，吐出之。</p>

<h3>瘴氣</h3>
<p>羚羊角末，水絞一錢，或以犀角磨水服，或用麝香三分水服，或以玉樞丹磨水服。</p>
<p>預闢瘴癘，用桃仁一斤，吳茱萸、青鹽各四兩，同炒熟，以新瓶密封七日，取出揀去萸、鹽，將桃仁去皮尖收藏，每晨嚼三十粒，任行煙瘴之鄉，不受病矣。</p>

<h3>祛瘧</h3>
<p>（瘧之為病，所因不一，藥宜隨證而施，切勿拘守成方，擅用薑棗，尤勿強食，痛戒葷膻，自然易愈。）</p>
<p>取蜘蛛一枚，納蘆管中，密塞管口，綰於頸上，過發時乃解去。</p>
<p>蛇蛻研末，塞兩耳內效。</p>
<p>未發之前，抱一大赤雄雞，時時驚動，令作大聲，無不愈。</p>

<h3>中風</h3>
<p>牙關不開者，先以烏梅擦齒令開。有痰聲者，隨研白礬末一錢，生薑汁調灌立醒；無痰聲者，以黑大豆三升炒焦，用清酒三升，淋取汁，灌之即活。亦治頭風，及產後風痙並效。</p>
<p>半身不遂，用蠶砂二石熟蒸，分裝三直袋，以一袋熱著患處，冷即輪流，炒熱易之，自能漸瘥。</p>
<p>南燭枝葉，細銼，五升，水五斗，慢火煎取二斗，去滓，熬如稀餳，瓷瓶盛之，開水點服一匙，日三。能治一切風疾，或以嫩桑枝熬膏亦佳。</p>
<p>因痰而中者，二陳湯加菖蒲、膽星、竹瀝、蘆菔汁、梨汁之類。</p>
<p>因飽食填塞胸中者，名食厥，用礬湯引吐即愈。</p>
<p>因怒而中者，名曰氣厥，順氣即愈，如四磨飲、七氣湯之類也。</p>
<p>余如中寒宜散寒，中暑宜清暑，雖類中風，皆不可誤以中風治之也。更有大虛暴脫，口開目閉，手撒遺溲，油汗痰聲，急投參附溫補，十不救一，張景岳所謂非風是也。</p>

<h3>霍亂</h3>
<p>吐瀉腹痛，用桃葉煎汁，服一升立止。冬月用桃樹皮，又蘆蓬茸一大把，濃煮，飲二升瘥。</p>
<p>又燒梔子十四枚，研末服之佳。</p>
<p>轉筋以醋煮青布熱搨之，冷即易。</p>
<p>轉筋入腹欲死，以四人持手足，灸臍上一寸十四壯，又灸股里大筋，去陰一寸良。</p>

<h3>發黃</h3>
<p>甜瓜蒂一兩，炙為末，男左女右，每日搐鼻數次，有黃水流出自愈。</p>
<p>甘草（一尺）　梔子（十五枚）　黃柏（三錢）　水四升，煮取一升半，分二次服。</p>
<p>柳枝煎湯服。（以上治濕熱疸。）</p>
<p>酒疸，用小麥苗，水和絞汁，每服六七合，日三。此治沉湎發黃。</p>
<p>谷疸用豬脂一小升，溫熱頓服之，日三。燥矢下即愈。此治失飢大食，腹中脹熱之黃，體實者，可用茵陳大黃湯下之。</p>
<p>女勞疸，用亂髮如雞子大一團，豬膏半斤，煎令消盡，分二服愈。此由交接後入水，故發黃也。</p>
<p>大勞汗出入水，則為黃汗，其人遍身微腫，汗出如柏汁是也。用鮮茅根一把細切，合豬肉一斤，作羹頻食之良。</p>
<p>陰黃，則身面雖黃，小便色如故，大解不實，此寒濕疸也，不可誤用涼藥。以半夏四錢，生薑六錢，水煎分三服，甚者理中湯加茵陳。</p>
<p>用力勞傷，神疲黃腫者，乃脫力虛黃，俗云黃胖是也，當服小建中湯、六君子湯之類。</p>

<h2>上部諸證</h2>

<h3>頭風</h3>
<p>服荊瀝不限多少，以瘥為度，外以甘菊花裝枕，枕之良。</p>
<p>荊芥穗、石膏，等分為末，每服二錢，茶調下。</p>
<p>山豆根為末，油調塗兩太陽。</p>

<h3>偏頭風</h3>
<p>生蘆菔汁一蜆殼，仰臥，隨左右注鼻中，大效。</p>
<p>久不除根者，晴明時將發分開，用麝香五分，皂角末一錢，薄紙裹置患處，以布包炒鹽於上熨之，冷則易，如此數次，永不再發。</p>

<h3>頭風畏冷</h3>
<p>蕎麥粉二升，水調作二餅，更互合頭上，微汗即已。</p>

<h3>頭痛</h3>
<p>殭蠶末，每服二錢瘥。</p>
<p>藜蘆一莖研末，入麝香少許，吹鼻，並服甘草湯。</p>
<p>蠶砂（二兩）　川芎（五錢）　殭蠶（如患者年歲之數）　水五碗，煎至三碗，就砂鍋厚紙糊滿，中間開錢大一孔，取藥氣熏痛處，每日一次，久痛者三五次除根。</p>

<h3>頭暈</h3>
<p>生白果肉二枚杵爛，開水沖服。至重者五次必愈。</p>

<h3>頭響（即腦鳴也）</h3>
<p>甘菊花濃煎頻服。</p>
<p>女貞子、旱蓮草等分為末，橄欖汁為丸，桑葉湯下。</p>
<p>桑葉、黑芝麻、丹皮、梔子等分研末，蜜丸，陳細茶煎湯送服。</p>

<h3>頭上白屑</h3>
<p>桑柴灰淋汁沐頭良。</p>

<h3>發禿不生</h3>
<p>麻子炒焦研末，豬脂和塗，發生為度，或以甜瓜葉杵汁塗之。</p>

<h3>病後落髮</h3>
<p>骨碎補、野薔薇嫩枝，煎汁刷之。</p>

<h3>發不長</h3>
<p>桑葉、麻葉，二味煮泔水頻沐，或以桑葉生麻油煎過，去滓，潤髮長黑。</p>

<h3>發槁不澤</h3>
<p>桑根白皮、柏葉煎汁沐之，木瓜浸油潤之。</p>

<h3>蒜髮</h3>
<p>乾柿五枚，以茅香湯煮熟，枸杞子酒浸焙研，等分，杵丸，梧子大，每服五十丸，茅香湯下，日三。</p>

<h3>少年發白</h3>
<p>黑芝麻九蒸九曬，末之，以棗肉丸，久服之，外以鉛梳日梳之。</p>

<h3>發臭</h3>
<p>薄荷汁，或燒灰淋汁沐之，或以槿樹葉搗汁沐之。</p>

<h3>發䐈（結而不通也）</h3>
<p>竹瀝，少加麻油和勻潤之，梳之即通。</p>

<h3>面赤</h3>
<p>杏仁去皮尖杵泥，雞子清調塗，早晨以鹽湯洗之。</p>

<h3>面皺</h3>
<p>春取桃花，夏取荷花，秋冬取芙蓉花，並以冬雪水煎湯久洗。</p>

<h3>面瘰</h3>
<p>枇杷葉、梔子等分為末，每服二錢，開水下，日三。並治酒皶鼻赤。</p>

<h3>面皰</h3>
<p>紫背浮萍（四兩）　防己（一兩）　濃煎汁洗之，仍以萍於患處日擦三五次。</p>

<h3>面𪒟</h3>
<p>枸杞子（十斤）　生地（三斤）　為末蜜丸，每服麥冬湯下三錢，日三。</p>
<p>白蘆菔煮粥飯常食，能令面白如玉，並戒厚味。</p>

<h3>面上雀斑</h3>
<p>每夜以漿水溫洗，隨將布巾揩赤，用白檀香磨汁塗之。</p>
<p>白石脂（六兩）　白蘞（十二兩）　為末，雞子清和，夜塗旦洗。</p>

<h3>面上瘢靨</h3>
<p>蒺藜子、山梔子等分為末，醋和，夜塗旦洗。</p>

<h3>面腫</h3>
<p>赤豆、芙蓉葉等分研末，和蜜塗之。</p>
<p>冬瓜煮湯恣飲。</p>

<h3>眉毛脫落</h3>
<p>垂柳葉陰乾為末，以生薑汁於鐵器中調，夜夜摩之。</p>

<h3>癩風眉落</h3>
<p>生半夏　羊屎（燒焦）　等分為末，薑汁日調塗之。</p>

<h3>眉落不生</h3>
<p>烏麻花陰乾為末，烏麻油浸之，日塗。</p>
<p>芥菜子、生半夏等分為末，生薑自然汁調搽。</p>

<h3>眼睛突出</h3>
<p>無故突出一二寸者，新汲水灌漬眼中，數易之自入。因物傷突出者，但得目系未斷即納入，急搗生地黃，綿裹傅之，另以避風膏藥護其四邊。</p>

<h3>眼被築傷胬肉出</h3>
<p>生杏仁七枚，去皮細嚼，吐於掌中，及熱，以棉裹箸頭，蘸點胬肉上，數次即愈。</p>

<h3>眼傷青腫</h3>
<p>生豬肉或生羊肉貼之。</p>

<h3>飛絲入目</h3>
<p>石菖蒲捶碎，左目塞右鼻，右目塞左鼻。</p>
<p>菘菜（即白菜）　揉爛帕包，滴汁二三點入目即出。</p>

<h3>塵物入目</h3>
<p>刮左手爪甲末，燈草蘸點之自出。</p>

<h3>砂芒入目</h3>
<p>蠶砂揀淨，空心，以新汲水吞下十枚，勿嚼破。</p>

<h3>麥芒眯目</h3>
<p>大麥煮汁洗之。</p>

<h3>竹木屑眯</h3>
<p>蠐螬搗，塗之即出。</p>

<h3>眯目欲瞎</h3>
<p>地膚子白汁，頻注目中。</p>

<h3>斑瘡入目</h3>
<p>白柿日日食之良。</p>

<h3>赤眼腫痛</h3>
<p>以古銅錢刮生薑取汁於錢唇點之，雖久患但未生翳者，今日點，明日愈，極效。</p>
<p>侵曉以自己小溲，乘熱抹洗。</p>
<p>生薑汁調飛礬末，塗眼皮上。</p>

<h3>風眼爛弦</h3>
<p>淨皮硝一盞，水二碗煎化，露一夜濾淨澄清，朝夕溫洗，三日即瘥，雖半世者亦愈。</p>
<p>真麻油浸蠶砂二三宿研細，以蓖子塗患處，不問新舊神效。</p>

<h3>眼目赤爛</h3>
<p>緊閉目，以熱湯沃之，湯冷即止，頻沃取痊。或從薄荷、荊芥、防風煎湯沃亦妙。</p>
<p>五月取老黃瓜一條，開一小孔去瓤，入芒硝令滿，懸陰處，待硝透出，刮下點之。</p>

<h3>赤目眥痛</h3>
<p>龍膽草一味，熬膏點之。</p>

<h3>赤目生翳</h3>
<p>枸杞子搗汁，日點數次。</p>
<p>荸薺杵汁，澄粉點。</p>
<p>秦皮一兩，水一升半，煮七合，澄清頻洗。</p>

<h3>目生赤脈</h3>
<p>貫瞳神者，元參為末，以米泔煮豬肝，日蘸食之。</p>

<h3>睡起目赤</h3>
<p>生地黃汁浸粳米半升，曬乾，三浸三曬，每夜以米煮粥食一盞，數日自愈。</p>

<h3>拳毛倒睫</h3>
<p>木鱉子仁捶爛，以絲棉包作條，左目塞右鼻，右目塞左鼻。</p>
<p>石斛、川芎等分為末，口內含水，隨左右搐鼻，日二次。</p>

<h3>目生翳障</h3>
<p>芒硝一兩，置銅器中，急火上煉之，放冷後，以生絹細羅，每夜臥時點眼角中。</p>
<p>馬牙硝光淨者，用厚紙裹令按實，安在懷內著肉處，養一百二十日取出，研如粉，入少冰片同研細，不計年歲深遠，眼生翳膜，遠視昏暗，但瞳神不破者皆治，以兩米許點之。</p>
<p>臘月取羯羊膽十餘枚，以白蜜裝滿紙套籠住，掛檐下，待霜出掃下點之。</p>

<h3>胬肉攀睛</h3>
<p>雄雀矢和首生男子乳點之。</p>
<p>杏仁去皮尖研膏，人乳化開，日點三次。</p>
<p>海螵蛸（一錢）　辰砂（五分，乳細水飛澄取）　以黃蠟少許，化和成劑收之，臨臥時，火上旋丸黍米大，揉入眥中，睡至天明，溫水洗下，未退再一次即效，名照水丹。亦治外障之極厚者，甚效。</p>

<h3>目內起星</h3>
<p>橘葉、菊葉、白豆仁、川芎，皆可搗細，綿裹塞鼻內，病久者頻塞取效。</p>

<h3>目生珠管</h3>
<p>生蜜塗目仰臥，半日乃可洗之，日一次。</p>

<h3>眼皮生瘤</h3>
<p>櫻桃核磨水頻搽。</p>

<h3>風邪眼寒</h3>
<p>煅石膏　川芎（各二兩）　炙甘草（五錢）　為末，每服一錢，蔥白茶湯下，日二次。</p>

<h3>雀目夜盲</h3>
<p>石膏末（一錢），豬肝一片薄批，糝藥在上縛定，砂瓶煮熟，切食之，一日一服。</p>

<h3>內障青盲</h3>
<p>白羊子肝（一具）　黃連（一兩）　熟地（二兩）　同搗丸，梧子大，食遠茶服七十丸，日三次。</p>
<p>夜明砂　糯米（炒黃）　柏葉（炙）各一兩　為末，羊膽汁丸，梧子大，每夜臥時，竹葉湯下二十丸。至五更，米飲下二十丸，瘥乃止。</p>

<h3>病後青盲</h3>
<p>日近者可治，仙靈脾（一兩），淡豆豉（百粒），水一碗半，煎一碗，頓服即愈。</p>
<p>青羊肝切薄片，水浸吞之。</p>

<h3>瞽目重明</h3>
<p>冬至日取大蘆菔一枚，開蓋揠空，入新生紫殼雞卵一個在內，蓋仍嵌好，埋淨土中，約四五尺深，到夏至日取出，用女人衣具包裹，藏瓷器內，否則恐遇雷電，龍即攝去，謹之。卵內黃白俱成清水，名賽空青，乃神方也。用點諸目疾，雖瞽者可以復明。</p>

<h3>耳暴聾</h3>
<p>細辛末熔黃蠟丸，如鼠矢大，以一丸棉裹塞之，數次即愈，須戒惱怒。</p>
<p>巴豆一粒，蠟裹，針刺令通透，用塞耳內。</p>
<p>燒針令赤，投酒中飲之，外以磁石塞耳中，日易，夜去之。</p>

<h3>病後耳聾</h3>
<p>生菖蒲汁滴之，童子小溲乘熱滴之亦可。或以龜溺滴之。</p>

<h3>耳鳴</h3>
<p>鹽五升蒸熱，布裹枕耳，冷復易之，亦治耳痛。</p>
<p>椒目、巴豆、石菖蒲，等分研末，以松脂、黃蠟熔和為鋌納耳中，抽之日易。</p>

<h3>耳痛</h3>
<p>菖蒲、附子各一錢為末，和烏麻油煉，滴之立止。</p>
<p>磨刀鐵漿滴耳中。</p>

<h3>耳腫痛</h3>
<p>經霜青箬露在外，將朽者燒存性，為末敷之。</p>

<h3>底耳</h3>
<p>黃箬燒過，棉裹塞之，或以筆管吹入。</p>
<p>桑螵蛸一枚燒存性，麝香二分半同研，每用分余糝入，有膿先絞淨。</p>

<h3>聤耳</h3>
<p>桃仁熟杵，以舊緋絹裹塞之，日三易，以瘥為度。</p>
<p>乾結不出者，用白頸蚯蚓，入蔥管內化為水，滴耳令滿，不過數次，即易挑出。</p>
<p>廣陳皮一個，重二錢外者，炒黑，不可過性，生龍骨一錢，冰片、麝香、枯礬各二分。共為細末，濕爛者燥吹，干痛燥癢者麻油調塗。</p>

<h3>耳中有核</h3>
<p>如棗核大，痛不可動者，以火酒滴之，仰之半時，即可箝出。</p>

<h3>耳內流膿</h3>
<p>雞冠血滴之。</p>

<h3>耳中有物</h3>
<p>麻繩剪令頭散，著膠黏上，徐徐引出之。</p>

<h3>水銀入耳</h3>
<p>能蝕人腦，以金枕耳邊即出。</p>

<h3>百蟲入耳</h3>
<p>生油調銅綠滴之。</p>
<p>桃葉搗汁滴之。</p>
<p>椒末浸醋灌之。</p>

<h3>凍耳</h3>
<p>橄欖核燒研，油調塗。</p>
<p>生薑自然汁，熬膏塗。</p>

<h3>耳後出血</h3>
<p>耳後髮際瘙癢，小竅出血，名曰發泉，以穿山甲片炒研罨之。並治諸處出血。</p>

<h3>耳腮痄腫</h3>
<p>蝸牛同面研傅之。亦治喉下諸腫。</p>

<h3>鼻衄</h3>
<p>生蘆菔搗取汁，每服半盞，入鹽少許，攪勻飲之。</p>
<p>龍骨末少許，吹鼻中。</p>
<p>石榴花乾研末，吹鼻中。</p>

<h3>鼻流涕血</h3>
<p>以醋和土塗陰囊，干即易。</p>

<h3>鼻流清涕</h3>
<p>蓽茇研末吹之。</p>

<h3>鼻流臭水（病名鼻淵）</h3>
<p>孩兒茶研末吹之。</p>
<p>辛夷蕊塞之。</p>

<h3>鼻滴腥水</h3>
<p>勞倦則發名腦漏，與鼻淵涓涓不絕而臭屬於風熱者不同，彼則清散，此宜滋養。外用石菖蒲搗塞，再以生附子末、蔥涎調塗湧泉穴，或以大蒜切片，貼湧泉穴。</p>

<h3>諸物入鼻作痛不出</h3>
<p>羊脂一棗核大納鼻中，吸入脂消則物隨出也。</p>

<h3>鼻擦破傷</h3>
<p>貓頸上毛剪碎，唾黏傅。</p>

<h3>鼻痛</h3>
<p>倭硫黃研細，冷水調傅。</p>

<h3>鼻赤</h3>
<p>白蘞、杏仁、白石脂等分研末，雞子清調塗，旦洗。</p>
<p>雄黃、硫黃等分，鉛粉減半，共研，人乳調傅。</p>

<h3>鼻塞（即鼻齆）</h3>
<p>乾柿、粳米，煮汁常服。</p>
<p>鐵鎖磨石上取末，豬脂調之，棉裹塞鼻中。</p>

<h3>鼻瘜</h3>
<p>燒礬研末，豬脂和棉裹塞之，數日即落。</p>
<p>細辛為末，時時吹之。</p>

<h3>鼻瘡</h3>
<p>生大黃、杏仁，等分研末，豬脂和塗。</p>
<p>元參末塗之，或以水浸軟塞之。</p>
<p>桃葉嫩心，杵爛塞之。</p>

<h3>控腦砂（鼻流臭黃水而腦痛也）</h3>
<p>用絲瓜藤近根三五尺，燒存性研，每服一錢，溫酒下，以愈為度，外以陳細茶研末吹鼻，或云宜兒茶末吹之。</p>

<h3>口臭</h3>
<p>甜瓜子杵末蜜丸，每旦漱口後含之。</p>
<p>藿香洗淨煎湯，時時噙漱。</p>
<p>食韭、薤、蔥、蒜口臭，砂糖湯解之。</p>

<h3>口瘡</h3>
<p>黃柏（五錢）　青黛（二錢）　同研細末，色如碧玉，名綠雲膏，臨臥以二三分置舌下，咽津無礙；遲明愈。凡口瘡不可失睡，否則藥不見功。</p>
<p>吳茱萸研末，醋和塗湧泉穴。</p>
<p>蘆菔自然汁，頻漱去涎。</p>

<h3>吻瘡</h3>
<p>燕窠泥傅之。</p>
<p>縮砂殼煅研搽之。</p>

<h3>唇瘡</h3>
<p>黃柏研末，薔薇根搗汁調塗。</p>
<p>新瓦為末，生油調搽。</p>

<h3>唇腫</h3>
<p>痛癢色黑者，用四文大錢，於石上磨豬脂塗之，數次即瘥。</p>

<h3>唇裂</h3>
<p>桃仁杵爛，豬脂和塗。</p>
<p>豬胰浸酒搽。</p>

<h3>唇緊</h3>
<p>五倍子、訶子等分為末，傅之。</p>
<p>青布燒灰，酒調下。</p>

<h3>唇衄</h3>
<p>栗子一個，連殼燒灰，硫黃等分，同研傅。</p>

<h3>固牙法</h3>
<p>青鹽（二兩），白鹽（四兩），以川椒四兩煎汁，拌鹽炒乾，日用擦牙，永無齒疾，並可洗目，至老不昏。</p>
<p>糯米糠燒取白灰，日用擦牙，則齒黃變白。</p>

<h3>齒疏</h3>
<p>蘆甘石（煅）、寒水石，等分為末，每日指蘸擦之，久久自密，忌用刷牙。</p>

<h3>齒搖</h3>
<p>乾地黃、羌活（去蘆）等分為粗末，每服二錢，水一盞，酒少許，煎十餘沸，去滓，溫漱冷吐。</p>

<h3>齒損</h3>
<p>因磕傷打動者，蒺藜子為末，日日揩之。</p>
<p>骨碎補銅刀細切，慢火炒黑為末，如常揩齒，良久吐之。此方並治元氣不足，牙齒浮痛。</p>

<h3>齒齼</h3>
<p>胡桃肉細嚼食之。</p>

<h3>齒蛀</h3>
<p>花椒、牙皂醋煎漱之。</p>
<p>雄黃為末，和棗肉丸，塞孔中。</p>
<p>冰片、硃砂，等分，擦之。</p>

<h3>齦衄（俗呼牙宣，其實血自齦出也）</h3>
<p>鮮竹茹二兩，醋浸一宿，含漱三四次愈。童溲熱漱亦佳。</p>
<p>枯礬敷擦。五倍子燒存性，研敷亦妙。</p>
<p>松針熬汁，入飛面少許，攪勻澄飲。</p>

<h3>齦痛</h3>
<p>（俗呼齒痛。其實齦是肉，故知痛；齒是骨，刺之刮之亦不痛也。不腫者屬虛火）</p>
<p>甘松、硫黃等分為末，泡湯漱之。淫羊藿煎湯頻漱亦妙。</p>
<p>西洋參切片貼之，龍眼肉亦可貼。</p>
<p>長出礙於嚼物者，常服乾地黃良。</p>

<h3>齦腫（腫痛畏風者，風火也）</h3>
<p>白芷焙乾為末，蜜丸，櫻桃大，硃砂為衣，每服一粒，荊芥煎湯嚼下。</p>
<p>蘆菔子十四粒生研，人乳和之，左痛點右鼻孔，右痛點左鼻孔。</p>
<p>荔枝殼燒存性，研末頻擦之。</p>

<h3>又（腫痛喜吸涼風者，濕熱也）</h3>
<p>槐樹枝煎濃汁二碗，入鹽一斤，煮乾炒研，日用揩牙，或用生絲瓜一個，擦鹽，火燒存性，研末頻擦，涎盡即愈。腮腫以水調傅之亦效。</p>
<p>孩兒茶、硼砂等分為末，頻擦，涼水漱吐，勿咽。</p>

<h3>齦爛</h3>
<p>生地一斤，鹽二合，搗和成團，以濕麵包煨，令煙盡去面，入麝香一分研勻，日夜貼之。</p>
<p>絲瓜藤一握，川椒一撮，燈心一把，水煎濃汁漱吐。</p>

<h3>牙疳</h3>
<p>黃柏　青黛（各一錢）　冰片（一分）　研細擦。</p>
<p>雄黃（一錢）　銅綠（二錢）　為末搽。</p>
<p>五倍子、青黛、枯礬、黃柏，等分為末，先以鹽湯漱淨，糝之。</p>

<h3>牙關緊</h3>
<p>白礬、鹽，等分擦之，涎出自開。</p>

<h3>牙骱脫</h3>
<p>烏梅一個含之即止。或紙拈搐鼻，取嚏亦妙。</p>
<p>南星研末，生薑汁和塗兩頰，一夜即上。</p>

<h3>咽喉猝噎</h3>
<p>羚羊角研末，飲服方寸匕。</p>
<p>橘紅研末，水一盞，煎減半，熱服。</p>
<p>炭末蜜丸，含之咽汁。</p>

<h3>失音</h3>
<p>豬脂一斤，煉過去滓，入白蜜一斤，再煉少頃，濾淨冷定，不時挑服，或用梨汁頻飲，或以人乳、竹瀝和服，或以蘆菔汁少加生薑汁和服。</p>
<p>馬屁勃、馬牙硝等分研末，砂糖丸，如芡子大含之。</p>

<h3>不語</h3>
<p>美酒半升，人乳半合和服，或煮淡豆豉湯，加美酒服之。</p>
<p>因驚而猝不能語者，密陀僧末一匕，茶調下。</p>

<h3>喉間瘜肉</h3>
<p>綿裹箸頭，蘸鹽點之，日五六次。</p>

<h3>喉間結塊</h3>
<p>不通水食，危困欲死者，百草霜蜜和丸，芡子大，新汲水化服一丸灌下，甚者二服必效，名百靈丸。</p>

<h3>喉癰（俗呼喉蛾）</h3>
<p>荊瀝徐徐咽之。</p>
<p>頭髮、指甲煅存性，研，吹之。男右用女左指、發，女左用男右指、發；男左用女右指、發，女右用男左指、發。燈心（一錢），黃柏（五分），並燒存性，白礬（七分，煅），冰片（三分），共研，每以一二分吹之。</p>

<h3>喉風</h3>
<p>壁錢（即蟢兒窠）數個，瓦焙，研細吹之，即血散痰消而愈。黃瓜去瓤，入生礬末裝滿，仍將瓜口蓋好，外以紙封之，掛有風無日處陰乾，過驚蟄後七日取下，研細收藏，吹入患處立瘥。實火牙痛，擦之立止。兼治急心痛欲死，但口有微氣者，用點眼四角立愈。</p>
<p>蘇薄荷（十四兩）　柿霜（五兩）　桔梗（四兩半）　甘草（三兩半）　川芎（二兩八錢）　川百藥煎（五錢）　防風（一兩六錢）　砂仁（四錢半）　建青黛（三錢）　冰片　元明粉　白硼砂（各二錢）　研細末，蜜丸，芡子大，名玉液上清丸。治喉風痛，口舌生瘡，風痰上壅，頭目不清諸證，每服一丸，噙化妙。</p>

<h3>喉爛</h3>
<p>紫蘇葉八分，蘆菔湯煎服。</p>
<p>蘇薄荷葉研細絹篩（三分）　兒茶末（二分半）　黃柏（以荊芥穗、細甘草煎濃湯，浸至柔軟取起，攤瓦上，慢火炙至金黃色，如黑色者去之，再以白蜜湯漉過曬乾，研取末一釐用）　白龍骨末（二釐）　堅細白芷末（二釐半，腫痛者用四釐）　生甘草末　珍珠細末（各五釐）　共研極細粉，加梅花冰片（三釐），再研勻，入瓷瓶封固，吹之即愈。若初起腫而熱甚者，多加薄荷，取其辛涼，能發散也。若腫熱已退，但宜長肉者，可加兒茶、龍骨。此方兼治各種口疳甚效。</p>
<p>飛青黛　蘇薄荷（各八分）　飛淨雄黃　白硼砂　真珠（各三分）　兒茶（五分）　冰片（一分）　西牛黃（分半）　各為極細末，研勻，瓷瓶封固，勿令泄氣，吹之即愈，並治喉腫喉痛，乃杭州定水寺秘方也。一方有膽星無真珠，名牛黃解毒丸。</p>

<h3>谷賊（稻芒刺咽也）</h3>
<p>咽中痛癢，用芝麻炒研，白湯下。</p>
<p>硼砂、馬牙硝等分為末，蜜和五分含咽。</p>

<h3>發繞咽</h3>
<p>舊木梳燒灰服。</p>

<h3>竹木刺咽</h3>
<p>故鋸燒赤漬酒，乘熱飲之。</p>

<h3>金銀釵鐶鯁咽</h3>
<p>鵝羽燒存性研，白湯下。</p>
<p>多食餳糖自下。亦治錢鯁、魚骨鯁。</p>

<h3>銅鐵物鯁咽</h3>
<p>南燭根燒細研，水調一錢服。</p>
<p>大蒜塞鼻中即出。</p>

<h3>諸骨鯁咽</h3>
<p>鹿角為末，含津嚥下。</p>

<h3>魚骨鯁咽</h3>
<p>臘月取鱖魚（即鯽魚）膽，懸北檐下令乾，每一皂子許，酒煎化溫呷，以吐出為度。即鯁物已在臟腑，久而黃瘦腹痛者，服此皆出。若無鱖魚之處，則蠡魚（即黑魚）、鯇魚（即草魚）、𩺀魚之膽，臘月皆可收之。</p>

<h3>雜物鯁咽</h3>
<p>解衣帶，目窺下部，不下即出。</p>

<h3>舌瘡</h3>
<p>延胡索（一錢）　黃連　黃柏（各五分）　青黛　密陀僧（各三分）　研細吹。</p>
<p>羊脛骨中髓，和鉛粉塗。</p>

<h3>舌蕈</h3>
<p>先以醋漱，再用茄母燒灰，飛鹽等分，米醋調稀，時時搽之。</p>

<h3>重舌</h3>
<p>黃連　黃柏（各三錢）　牙硝　青黛　硃砂（各六分）　雄黃　牛黃　硼砂（各三分）　冰片（一分）　各為細末，研勻，先用薄荷末抹口，再以藥糝。此方兼治喉瘡。</p>
<p>生蒲黃末搽之。</p>

<h3>舌腫</h3>
<p>甘草濃煎，熱漱頻吐。</p>
<p>生蒲黃研細糝之，或以釜底煤，醋和，厚傅舌之上下。</p>
<p>秤錘燒赤，淬醋一盞飲之。</p>

<h3>木舌</h3>
<p>硼砂末、生薑片蘸揩。</p>
<p>殭蠶研末吹之，吐痰即愈。</p>
<p>蚯蚓一條，以鹽化水，塗。</p>

<h3>舌縮</h3>
<p>生艾搗傅之。無生艾，以干艾浸濕搗。</p>

<h3>舌苔</h3>
<p>薄荷自然汁，和白蜜、薑汁擦之。</p>
<p>薄荷　黃柏　硼砂等分，冰片減半，蜜丸彈子大，含化。兼治口舌粟瘡。</p>

<h3>舌衄</h3>
<p>海螵蛸、蒲黃炭等分研糝。</p>

<h3>割舌將斷</h3>
<p>急用雞子白軟皮袋好，以花粉（三兩）　赤芍（二兩）　薑黃　白芷（各一兩）　研極細，蜜調塗舌斷處，血即止。再以蜜調蠟稀稠得所，敷在雞子皮上，蓋性軟能透藥性故也。當勤添敷，三日舌接住，方去雞子皮，只用蜜蠟勤敷，七日全安。</p>

<h3>舌頭咬斷</h3>
<p>先以乳香、沒藥，煎水含口中，止痛後，急將水銀、寒水石、黑鉛、輕粉、硼砂研細粉，頻抹以長全為度。</p>

<h3>痄腮</h3>
<p>濃煎蔥湯頻洗。</p>
<p>赤豆為末，醋和塗。</p>
<p>蝸牛同面研傅。</p>

<h3>項強</h3>
<p>殭蠶炒為末，每五分或一錢，酒泡薄荷湯下，日三。</p>

<h3>項軟</h3>
<p>五加皮為末，酒調塗項骨上，干則易。</p>

<h3>烏須</h3>
<p>真烏骨小牝雞二隻，以黑脂麻一味，同水飼之，放卵時，取先放者一枚開孔，用硃砂末填入封好，同眾卵抱之，出雛時取起，其藥已自結實，研細粉，蒸餅丸，綠豆大，每酒下五七丸。</p>
<p>生柏葉末，豬脂和丸，彈子大，每以布裹一丸，納泔水中化開，沐之，一月色黑而潤矣。</p>

<h3>噯氣</h3>
<p>旋覆花（三錢）　蘇葉（三分）　煎湯呷。</p>

<h3>呃逆</h3>
<p>濃煮蘆根汁飲之，或以枇杷葉濃煎服。</p>
<p>橘皮、竹茹等分煎服。</p>

<h3>噁心（乾嘔也）</h3>
<p>苔白不渴者，寒也，橘皮或生薑煎湯服。口苦或燥者，火也，黃連煎汁飲。</p>

<h3>吐酸</h3>
<p>黑山梔（三錢）　煎濃汁，入生薑汁少許和服。</p>
<p>黃連（六分）　吳茱萸（一分）　煎湯飲。</p>
<p>生黑脂麻嚼咽，或生瓜子亦可，或爛嚼胡桃肉，淡生薑湯下。</p>

<h3>嘔吐</h3>
<p>蘇葉（一分）　黃連（二分）　煎汁徐呷下。（此治火證。）</p>
<p>蘆菔、蜜餞細嚼咽。（此治氣證。）</p>
<p>乾紅蓮子細嚼咽。（此治虛證。）</p>

<h3>咳（燥嗆也）</h3>
<p>豬胰一具，薄切煮食，不過二服。</p>
<p>甘梨恣啖，老人無齒者加白蜜蒸服。</p>
<p>胡桃肉不去衣，甜杏仁去皮尖，大棗肉共搗為丸，彈子大，臥時嚼服。</p>

<h3>嗽（有痰而嗆也）</h3>
<p>浮海石為末，蜜丸服。</p>
<p>蘆菔子（炒）　杏仁（去皮尖炒）　等分，蒸餅丸，麻子大，每服三五丸，時時津咽。</p>
<p>苧根煅存性研，生豆腐蘸三五錢食之。</p>

<h3>哮</h3>
<p>每晨飲豆腐漿，以愈為度。</p>
<p>白前研末，溫酒調服二錢匕。</p>
<p>蘆菔子一合研，煎湯頻服。</p>

<h3>喘</h3>
<p>胡桃肉（不去衣）　杏仁（去皮尖）　生薑（各一兩）</p>
<p>研膏，入煉蜜丸，彈子大，臥時嚼服。</p>
<p>人參為末，每服三錢匕，雞子清調之，五更初服，便可仰臥，年久者再服必愈。</p>
<p>因奔馳勞瘁，驟飲冷水成喘者，用竹葉三斤，橘皮三兩，水一斗，煮取三升，去渣，分三日服，一劑愈。</p>

<h3>肺痿（頻吐涎沫，煩躁而不渴者）</h3>
<p>甘草二兩，水三升，煮取半升，分再服。</p>
<p>天門冬搗取汁（一斗）　醇酒（一斗）　飴糖（一升）　紫菀末（四合）　盛銅器內，隔湯煎至可丸，每服杏子大一枚，日三。</p>
<p>梨汁　地黃汁（各一升）　酥　蜜（各一兩）　緩火煎沸，和勻待涼，細細含咽。</p>

<h3>肺癰（咳吐膿血臭痰，胸膈痛悶者是也）</h3>
<p>淡竹瀝二合，日三五服。</p>
<p>白花百合洗淨搗汁，日服一盞，七日全愈。</p>
<p>桔梗（一兩）　甘草（二兩）為末，每服二錢，水一盞，煎六分去渣，細細溫呷。亦治咽喉生瘡。</p>

<h3>咯血</h3>
<p>杏仁（牡蠣粉拌炒）　青黛（各一兩）　研勻，黃蠟化和，作三十餅子，每服一餅，以乾柿半個夾定，濕紙包煨香，窨去火氣，嚼食，粥飯送下，日三。</p>
<p>紅棗肉（二斤），砂糖（一斤），麻油（四兩），共搗爛，每晚服一兩良。蘆菔和羊，或𩺀魚煮熟頻食。</p>

<h3>吐血</h3>
<p>糯米（五錢），蓮子心（七枚），研末，陳墨汁丸如梧子大，童便下。又方：紅蓮子同豬肚煮爛，不可放鹽，每日五更恣啖，以愈為度。</p>
<p>藕節、荷蒂各七枚為末，米飲下二錢，日二。</p>

<h3>嘔血</h3>
<p>黃柏蜜塗炙為末，麥冬湯下二錢。</p>
<p>側柏葉研末，米飲調服二錢。</p>
<p>鰾膠長八寸，廣二寸，炙黃，刮二錢，以甘蔗節三十五個，取汁調服。</p>

<h3>唾血</h3>
<p>甜梨（酸者不用，取汁二十杯）　藕汁　生地汁　茅根汁（各十杯）　蘆菔汁　麥冬煎取濃汁（各五杯）　六汁和勻，重濾去渣，火上煎煉，入煉白蜜一斤，飴糖、柿霜（各八兩），生薑汁半小杯，攪勻，火上再熬如稀糊收好，窨去火氣，每日點服三次，名元霜紫雪膏。</p>
<p>童溲頻服。</p>
<p>海螵蛸研粉，驢皮膠丸如綠豆大，藕節湯下三錢。</p>

<h3>上消（飲不解渴也）</h3>
<p>白茅根洗淨，搗汁恣飲。</p>
<p>甜梨汁或蘆菔汁熬稠，入蜜同收，點湯飲。</p>
<p>冬瓜瓤或苗葉，不論鮮干，並煮汁飲，頻食生梨亦妙。</p>

<h2>中部諸證</h2>

<h3>腋氣（即狐臭）</h3>
<p>生薑汁頻塗。</p>
<p>龍眼核（六枚）　胡椒（十四粒）　共研勻，頻擦之。</p>
<p>白豆仁　丁香　藿香葉　零陵香　青木香　白芷　桂心　沉香（各一兩）　香附（二兩）　甘松　當歸（各五分）　檳榔（二枚）　為末，煉蜜丸如豆大，瓷器封盛，每日三夜一，含一丸咽汁，五日口香，十日體香腋氣除，二七日衣被香，以後只須每夜含一丸，三七日下風人聞香，四七日洗手水落地香，五七日把他人手亦香，忌五辛。此宋時宮方也，治腋氣身臭極效，但須戒炙煿之物，兼服二冬膏，庶久餌不耗真氣。</p>

<h3>臂痛</h3>
<p>當歸浸醇酒頻飲。</p>
<p>桑枝熬膏服。</p>
<p>體肥痰入於絡者，指迷茯苓丸。</p>

<h3>掌痛</h3>
<p>椒鹽末等分，醋和塗。</p>

<h3>鵝掌風</h3>
<p>艾湯乘熱熏洗。</p>
<p>豆腐泔水日日洗之。</p>

<h3>手背皸裂</h3>
<p>生白果嚼爛塗之。</p>
<p>老絲瓜燒存性研，豬油和塗。</p>
<p>蘆菔煮熟搗傅。</p>

<h3>凍指欲墮</h3>
<p>馬糞煎湯漬半日。</p>
<p>凡患凍前瘃者，初夏取極熟櫻桃數十枚，入瓦罐內，聽其化爛成汁，俟五月五日午時，塗向患各處，永不發矣。</p>

<h3>指腫痛</h3>
<p>防患毒，漿水入鹽熱漬之，冷則易。</p>

<h3>指痛木癢</h3>
<p>防患毒，以蜒蚰、銀硃共搗搽之。</p>

<h3>指麻</h3>
<p>不知痛癢者，經霜桑葉煎濃湯頻洗。</p>

<h3>指甲軟薄</h3>
<p>殭蠶燒煙燻之。</p>

<h3>膈食</h3>
<p>乾柿飯上蒸熟，同乾飯頓頓嚼食之，不飲湯水，半月必愈。</p>
<p>冰片（一分）　硼砂（二分）　飛金（三十頁）　共研細，紅糖一兩，拌服即通。</p>
<p>油透舊木梳，燒灰酒調下。</p>

<h3>胃脘痛</h3>
<p>香附子（略炒，三兩）　烏藥（略泡，二兩）　共研細，水醋煮，蒸餅糊丸，如梧子大，名青囊丸，每服二三錢，白湯下。並治氣鬱諸病。</p>
<p>胡桃肉一枚，以大棗肉一枚夾之，濕紙裹，煨熟細嚼，生薑湯下。</p>
<p>鰻鱺淡煮（薑蔥酒皆可用，但勿入鹽醬），飽啖三五次瘥。</p>

<h3>脅痛</h3>
<p>地膚子為末，酒服二錢。</p>
<p>元胡索去皮，金鈴子去核，等分為末，旋覆花湯下二錢。</p>

<h3>腰痛</h3>
<p>黑脂麻熬香研末，溫酒下，服至一斗永瘥。</p>
<p>栗子不拘生熟細嚼服，以愈為度。</p>
<p>羊腎恣啖良。</p>

<h3>腹痛</h3>
<p>鹽炒熱，布裹熨痛處。</p>
<p>烏藥水磨汁一盞，入橘皮一片，紫蘇一葉，煎服。</p>
<p>白沙糖水調服。</p>

<h3>小腹痛</h3>
<p>鴿糞一合研，極熱酒一盅和勻，澄清服。</p>
<p>干黃土煮數沸，去渣溫服。</p>
<p>黃芩、木通、甘草各一錢煎服。</p>

<h3>腹脹（氣病）</h3>
<p>香附子一斤，童便浸三日，焙為末，丸如梧子大，旋覆花湯下四五十丸，日二。</p>
<p>陳香櫞（四兩，去瓤）　人中白（三兩）　共研末，每服一錢，白湯下，忌鹽百日。</p>
<p>肉蓯蓉（三兩）　紅棗　青礬各一斤，入罐內煅煙盡為末，再將香附（童便制），麥芽（半炒）各一斤為末，和前末糊丸，每酒下二三十丸。治單腹脹大，四肢極瘦，名諸蠱保命丹。</p>

<h3>腹腫（水病）</h3>
<p>白茅根一大把，赤豆三升，水三升煮乾，食豆，水隨小便下。</p>
<p>五苓散三錢，白滾湯下，日三。</p>
<p>冬瓜恣啖。</p>

<h3>臍間出水</h3>
<p>附子（二錢）　甘遂（錢半）　蛇床子（一錢）　麝香（五釐）　各研細末和勻，填臍中，外加膏藥封之。</p>

<h3>癖塊（痰凝氣滯之病，在皮裡膜外者）</h3>
<p>延胡索為末，豬胰一具，切塊炙熟，蘸藥食之。</p>
<p>臭椿樹皮內肉，打碎煎膏貼患處，塊即下行而消。生芋艿一升敲裂，醇酒五升，漬半月飲之。</p>

<h3>積聚（此結塊於腹內者）</h3>
<p>陳醬茄燒存性，入麝香、輕粉少許，豬油調貼。</p>
<p>雄黃、白礬各一兩，共研，麵糊調膏，攤貼患處，重者再貼必消。</p>
<p>皮硝（一兩）　大黃末（八分）　獨蒜一個，搗餅貼之，以消為度。</p>

<h3>腹內生蟲</h3>
<p>空腹食榧，以愈為度。</p>
<p>生蕪荑　生檳榔等分為末，蒸餅丸，梧子大，每白湯下二十丸。</p>
<p>雷丸煎服。</p>

<h3>中蠱（含白礬不澀而反甘，嚼生豆不腥者是也）</h3>
<p>濃煎石榴皮飲。</p>
<p>鬱金末三錢，米飲下。</p>
<p>畜刺蝟則蠱毒不入。</p>

<h3>中毒</h3>
<p>毒之為毒，暗藏於服食起居中，更有令人不可方物者，如日用飲食，其物性相反，不知誤食，以及庖人不善烹飪，未得其法，食之即為中毒，不必服砒鳩始雲中毒也。</p>

<h3>解諸藥毒</h3>
<p>濃煎甘草湯涼飲，或飲地漿水。</p>
<p>白扁豆研末，涼水調服。</p>

<h3>解蒙汗藥毒（令人身不能動，目瞪不言，口吐涎沫，忌服姜）</h3>
<p>飲冰水。</p>
<p>白茯苓（五錢）　生甘草（二錢）　甜瓜蒂（七個）　陳皮（五分）　煎冷服，大吐而愈。</p>

<h3>解誤服相反藥</h3>
<p>蠶退紙燒灰，冷水服。</p>

<h3>解冰片毒</h3>
<p>飲新汲水。</p>

<h3>解椒毒</h3>
<p>（令人身冷而麻，口吐白沫）</p>
<p>飲地漿水或新汲水，或吃大棗三枚。</p>

<h3>解桐油毒</h3>
<p>食乾柿餅。</p>

<h3>解巴豆毒</h3>
<p>芭蕉葉搗汁服。</p>
<p>石菖蒲搗汁服。</p>
<p>大黃、黃連煎湯冷服。</p>

<h3>巴豆貼肉潰爛</h3>
<p>生黃連末，水調傅。</p>

<h3>解諸熱藥</h3>
<p>綠豆煎湯冷服。</p>
<p>甘草煎湯冷飲。</p>

<h3>解誤服人參</h3>
<p>蘆菔搗汁服，或搗蘆菔子煎湯服。</p>

<h3>解多服犀角</h3>
<p>麝香一字，水調服。</p>

<h3>解石藥毒</h3>
<p>芹菜或葵菜搗汁飲。</p>

<h3>解水銀毒</h3>
<p>開口花椒吞二兩。</p>

<h3>解銀黝毒</h3>
<p>（銀腳也，性主腐爛皮肉，今人每用以去痣，此物入腸胃，非比砒藥諸毒之酷烈，並無唇齒豁裂、七竅流血之外傷，系黏著腸胃，漸漸腐爛，令人如患病狀，或半月一月而死）</p>
<p>以生羊血灌之，吐盡即愈，或黃泥水亦效。</p>

<h3>解鉛粉毒（面青腹中墜痛欲死者是）</h3>
<p>蘆菔搗汁飲。</p>
<p>麻油、蜂蜜、飴糖和服。</p>
<p>生荸薺恣食。</p>

<h3>解輕粉毒</h3>
<p>川椒去目，白湯吞服。</p>
<p>生扁豆浸胖，搗汁服。</p>

<h3>解吞金銀毒</h3>
<p>紅棗煮爛恣食。</p>
<p>飴糖一斤，一頓食盡。</p>
<p>雞屎半升，水淋取汁一升服之，日三，已死者可活。</p>

<h3>解吞銅鐵錫毒</h3>
<p>木賊草研末，雞子清調服。</p>
<p>麵筋置新瓦煅炭研，開水調服。</p>
<p>蓮根蔥煮汁，麻油和服。</p>

<h3>吞針入腹</h3>
<p>磁石研末，黃蠟和揉如針樣，涼水送下。</p>
<p>黑砂糖和，黃泥吞下。</p>

<h3>銅錢銅鉤入腹</h3>
<p>鵝毛、象牙等分燒灰，磁石皂子大一塊煅，共研末，新汲水下五分。</p>

<h3>瓷鋒入腹</h3>
<p>生紅蘆菔搗爛吞。</p>
<p>干飴糖頻吞。</p>

<h3>玉石入腹</h3>
<p>蔥白煮濃汁服之。</p>

<h3>解鍾乳毒</h3>
<p>豬肉煮食。</p>

<h3>解雄黃毒</h3>
<p>防己煎服。</p>

<h3>解皂礬毒</h3>
<p>麥面打糊頻服。</p>

<h3>解鹽滷毒</h3>
<p>生甘草三兩，煎汁冷服。</p>
<p>殺鴨，以鴨頸塞口中，飲其熱血即活。</p>
<p>生黃豆以水研，絞汁服。</p>

<h3>解砒霜毒（煩躁如狂，心腹㽲痛，頭旋，欲吐不吐，面色青黑，四肢極冷者是）</h3>
<p>硼砂一兩研末，雞子清七枚，調灌。</p>
<p>柏樹根，或冬青葉，或夏枯草，搗汁服。</p>
<p>明礬、大黃研末，新汲水調灌。</p>

<h3>中砒毒渾身紫瘰者</h3>
<p>急作地漿頻灌，待瘰散盡，一吐即蘇，雖冬月亦須此法。若砒霜敷身，患處痛潰，以濕泥頻塗。設毒氣入內而作吐瀉，飲冷米醋解之，或生綠豆研末，麻油調服。</p>

<h3>解野蕈毒</h3>
<p>生甘草（二兩）　白芷（三錢）　煎服，以鵝翎探喉，不吐即瀉。</p>
<p>金銀花搗汁服。</p>
<p>綠豆生研，新汲水攪之，澄清服。</p>

<h3>解鉤吻毒</h3>
<p>（即斷腸草，一名胡蔓草，又名火把花、黃藤、水莽藤）</p>
<p>麻油或桐油，或韭菜汁，灌之。</p>
<p>白礬化末服。</p>
<p>金銀花　甘草（各一兩）　大黃（一錢）　煎服。</p>

<h3>解草烏射罔烏頭附子天雄毒</h3>
<p>綠豆或黑豆，煎湯冷服。</p>
<p>甘草、黑豆同煎冷飲。</p>

<h3>解藜蘆毒</h3>
<p>雄黃一錢，研水服。藜蘆傅肉，毒氣入內，煎蔥湯服。</p>

<h3>解芫花毒</h3>
<p>防風煎湯服。</p>

<h3>解仙茅毒</h3>
<p>大黃、朴硝煎服。</p>

<h3>解藤黃毒</h3>
<p>齏菜水溫服。</p>

<h3>解黃蠟毒</h3>
<p>冬葵子或白菜，煎湯服。</p>

<h3>解斑蝥蚖青毒</h3>
<p>六一散涼水調服。</p>

<h3>解蛙毒</h3>
<p>車前子搗汁服。</p>

<h3>解鱔魚毒</h3>
<p>食蟹解之。吃鱔魚犯荊芥，作地漿水飲之。吃鮎魚忌犯甘草。</p>

<h3>解河魨毒</h3>
<p>茅根　蘆根（各一兩）　瓜蒂（一個）　煎服。</p>
<p>紫蘇或薄荷煎濃汁飲。</p>
<p>麻油灌之。</p>

<h3>解蝦毒</h3>
<p>淡豆豉一合，新汲水浸濃汁，燉服。</p>
<p>橘皮煎湯飲。</p>

<h3>解蟹毒</h3>
<p>生薑汁，或藕汁，或蘆根汁灌之。誤犯荊芥，誤同柿食，均濃煎木香飲之。</p>

<h3>解鱉毒</h3>
<p>靛青水灌之。</p>
<p>鹽化水飲之。</p>

<h3>解田螺毒</h3>
<p>鴨涎灌之。</p>
<p>冰片三分，水化服。</p>

<h3>解鳩毒</h3>
<p>（凡中此毒者，白眼朝天，身發寒顫，心中明白，口不能言，一閉目即死）</p>
<p>犀角磨汁服。</p>
<p>金銀花八兩，煎汁二碗，入白礬、寒水石、花粉（各三錢），石菖蒲（二錢），麥冬（五分）煎灌。待目不上視，口中能言，照方減半，再服二帖愈。</p>

<h3>解雄雞毒</h3>
<p>磨犀角服。</p>
<p>醋飲之。</p>

<h3>解牛馬肉毒</h3>
<p>飲人乳。</p>
<p>石菖蒲研水服。</p>
<p>蘆根或菊花連根搗汁，酒和服。</p>

<h3>解羊肉毒</h3>
<p>栗子殼濃煎服。</p>
<p>甘草煎服。</p>

<h3>解豬肉毒</h3>
<p>白沙糖一兩，白湯調服。</p>
<p>芭蕉根搗汁服。</p>

<h3>解狗狼肉毒</h3>
<p>蘆根搗汁服。</p>
<p>杏仁去皮尖，四兩，研，開水和，分三服。</p>

<h3>解馬汗毒</h3>
<p>豬骨灰或淡豆豉，或頭垢，並水調服。</p>
<p>服豬脂一斤佳。</p>

<h3>解白果毒</h3>
<p>（驟然一聲，即暈去者是也）</p>
<p>白果殼煎服。</p>
<p>白鯗頭煎湯頻灌。</p>
<p>滾水磨木香，入麝香少許灌。</p>

<h3>解苦杏毒</h3>
<p>杏樹皮煎服。</p>

<h3>解櫻桃毒</h3>
<p>青蔗漿灌。</p>

<h3>解諸果毒</h3>
<p>豬骨燒灰煎服。</p>
<p>玉樞丹水調服。</p>

<h3>解鴉片毒</h3>
<p>文魚（即金魚）活搗，和水灌之。</p>
<p>肥皂杵爛，和水絞汁灌之。</p>
<p>生南瓜搗汁頻灌。</p>

<h3>飲水停中</h3>
<p>五苓散白湯調服二三錢，以愈為度。</p>

<h3>飲茶成積</h3>
<p>蒼朮（一兩）　制南星　青皮　橘紅（各三錢）　醋煮蒸餅丸，梧子大，淡薑湯下二三十丸。</p>

<h3>酒醉</h3>
<p>蔥白、豆豉煎湯飲。</p>
<p>菊花煎濃汁服。</p>
<p>大醉不醒者，人乳、熱黃酒和服，外以生熟湯浸其身，則湯化為酒而人醒矣。瓜果過度者，亦可用此法。</p>

<h3>燒酒醉</h3>
<p>蘆菔汁、青蔗漿隨灌。</p>
<p>綠豆研水灌，或以枳椇子煎湯灌。大醉不醒，急以熱豆腐遍貼之，冷即易，以醒為度，外以井水浸其發，並以故帛浸濕，貼於胸膈，仍細細灌之，或重溲灌之，至蘇為度。凡燒酒醉後，吸咽則酒焰內燃而死。亦有醉後內火如焚，而反惡寒者，厚加衣被亦能致死。即口渴飲冷，只宜徐徐飲之，以引毒火外達，若連飲過多，熱毒反為驟冷所遏，無由外達，亦多閉伏不救。</p>

<h3>酒積</h3>
<p>雞膍胵、乾葛等分為末，蒸餅丸，梧子大，每酒下五十丸。</p>

<h3>飲食過多</h3>
<p>橘皮五錢，濃煎細呷。</p>
<p>蘆菔生嚼數片。</p>

<h3>米穀食積</h3>
<p>大麥芽煎服。</p>

<h3>麵食不消</h3>
<p>生蘆菔恣啖，或以子煎湯服。</p>

<h3>食肉過度</h3>
<p>山楂四兩濃煎服。</p>

<h3>牛肉過飽</h3>
<p>稻草濃煎服。</p>

<h3>過食鴨</h3>
<p>糯米泔水溫服。</p>

<h3>過食蛋</h3>
<p>蘇子煎服。</p>
<p>飲醋。</p>

<h3>過食魚</h3>
<p>燒魚鱗研末，水服一錢。</p>
<p>啜芥醋。</p>

<h3>過食蟹</h3>
<p>蘇葉煎湯，入白沙糖服。</p>

<h3>過食豆腐</h3>
<p>蘆菔汁服。</p>

<h3>過食荔枝</h3>
<p>荔枝殼煎服。</p>

<h3>過食菱</h3>
<p>飲酒或薑汁。</p>

<h3>過食萵苣蘆菔</h3>
<p>薑汁服。</p>

<h3>過食瓜</h3>
<p>飲酒或飲鹽湯。</p>

<h3>過食紫菜</h3>
<p>飲醋。</p>

<h3>過食木耳</h3>
<p>冬瓜汁飲。</p>

<h3>過食筍</h3>
<p>生薑汁合麻油服。</p>

<h3>過食索粉</h3>
<p>啖杏仁良。</p>

<h3>諸果成積</h3>
<p>桂心（五錢）　麝香（五分）　研細，飯丸綠豆大，大人十五丸，小兒七丸，白湯下。</p>

<h3>中消（食不充飢也）</h3>
<p>綠豆、小麥、糯米各一斗，炒熟磨粉，每白湯服一杯，三五日效。</p>
<p>羊肚爛煮，空腹食之。</p>
<p>雄豬肚一具洗淨，以黃連（五兩），花粉、麥冬、知母（各四兩），為末，入肚內線縫口，蒸爛搗細，入蜜少許，丸如梧子大，每百丸米飲下，名黃連豬肚丸。</p>

<h2>下部諸證</h2>

<h3>痿</h3>
<p>（手足痿弱不能運動，俗名軟癱是也，而腿為甚，故列於下部）</p>
<p>羊腎一枚煮熟，和米粉六兩煉成乳粉，空腹食之，以愈為度。</p>
<p>杜仲一兩切碎，酒水各半煎服，三日能行，又三日愈矣。虛而挾濕者，萆薢（十二兩），杜仲（四兩），搗末，每旦酒服三錢效，忌牛肉。</p>

<h3>痹</h3>
<p>（病在陰曰痹，痹者氣閉不通，或痛或癢，或頑麻，或緩弱，與痿相似，但痿屬虛，而痹屬實，乃風寒濕三氣入於陰分，久則亦有化火者）</p>
<p>川芎（一兩）　生薑（三兩）　蔥（一把）　水煎熏洗。</p>
<p>燒酒糟初出瓶時，乘熱將腿足插入，熏洗數次即止。病久化熱者，黃柏酒浸透，焙乾為末，每服溫酒下一二錢，名潛行散。</p>

<h3>鶴膝</h3>
<p>別無所因，而膝骨日大，上下肌肉日枯，乃肝腎大虛也，宜服虎潛丸。因虛而風濕外襲者，十全大補湯加杜仲、牛膝、獨活。風濕盛者，四物湯加荊芥、牛膝，送服大活絡丹。（小活絡丹方中只用草烏、川烏、乳、沒、地龍數味者，勿服。）</p>
<p>下利後膝腫痛，乃風邪乘虛入三陰也，宜用雷火針法，每日焠之，不可著傷肌肉。方用陳艾（五錢），丁香（五分），麝香（二分），合研勻，入紙筒中，痛處襯厚紙三五層，點火焠之，以筋脈活動為度，數日自效。（粗工所傳雷火針用藥甚雜，針法亦謬，不可信也。）若初起漫腫不紅，屈伸不利者，防其潰破，急用陳年芥菜子研細，以生薑汁、蔥白汁和白蜜調塗，一炊時患處起疱，疱干脫皮自愈。上二法若膿成者不可用也。</p>

<h3>腳氣</h3>
<p>田螺搗敷兩股，便覺冷氣下趨至足而安。</p>
<p>鹽擦腿足至足甲，旋用熱水浸洗，或用鹽滷煮熱，置深桶內浸之。</p>
<p>甘遂末水調傅，內服濃煎甘草湯，常以杉節或蘆菔煎湯洗之可除根。</p>
<p>腳氣入腹，威靈仙為末，酒服二錢，痛減一分，藥亦減一分。</p>
<p>腳氣衝心，白檳榔（十二個）為末，分二服，熱童便調下，外用附子末，鹽滷調塗湧泉穴。</p>

<h3>腳腿紅腫</h3>
<p>熱如火炙，俗名赤遊風，用鐵鏽水塗之。</p>

<h3>腳心腫痛</h3>
<p>因遠行久立所致者，水調蚯蚓糞塗一夕。</p>
<p>因毒熱而痛欲脫者，苦參煮酒漬之。</p>

<h3>腳冷難行</h3>
<p>白酒或酒腳，盛大口甕中，灰火溫之，漬腳至膝，時加灰火勿令冷，三日止。</p>

<h3>濕氣腳腫</h3>
<p>蔥湯日漬三五次。</p>

<h3>腳多濕汗</h3>
<p>楊花著鞋襪內。</p>

<h3>腳椏濕爛</h3>
<p>茶葉嚼爛傅之。</p>
<p>黃丹、花蕊石研末糝。</p>
<p>蚌蛤粉研細糝。</p>

<h3>趾縫出水</h3>
<p>病中過飲涼水，愈後見此，即俗云脫腳傷寒也。亟用薏苡仁（三兩），茯苓（二兩），白朮（一兩），車前子（五錢），桂心（一錢），水煎服十劑，永無後患，名驅濕保脫湯。外用土蜂房煅研末，醋調搽。</p>

<h3>腳上凍瘃</h3>
<p>以醋洗足，研藕傅之，或蒸熟藕搗爛塗。</p>
<p>鵝掌上黃皮焙研，油調塗，或濃煎黃蠟塗。</p>
<p>桐油（一碗），發（一握），熬化瓶收，每熱湯洗後搽之。</p>

<h3>屍腳坼裂</h3>
<p>不分冬夏者，雞屎煮湯，漬半日，取瘥乃止。</p>

<h3>腳底木硬</h3>
<p>牛皮膠、生薑汁化開，調南星末塗，烘物熨之。</p>

<h3>嵌甲</h3>
<p>趾甲入肉，不能行履，濃煎陳皮湯浸良久，甲肉自離，輕剪去，以虎骨膠搽之。已成瘡者，蛇蛻一條燒灰，雄黃一彈丸大同研，以溫漿水洗瘡，針破貼之。</p>
<p>胡桃皮燒灰貼。</p>
<p>礬石燒灰傅之，蝕惡肉，生好肉，細細割去甲角，不旬而愈，亦治割甲成瘡。</p>

<h3>遠行足趼</h3>
<p>水調半夏末塗一夕。</p>
<p>舊草鞋浸溺桶內半日，以新磚燒紅，取草鞋放紅磚上，以腳踏之，令火逼溺氣入內即消，此名腳墊毒，失治能潰爛殺人，故遠行人息足時，宜浸足於溺桶中，可免諸患也。起疱者，水調生面塗一夕。凡遠行者，以蘆菔子炒研，和白礬末鋪鞋內則不疼。</p>

<h3>腳跟腫疼不能著地</h3>
<p>黃牛屎入鹽，烘熱罨之。</p>

<h3>轉筋</h3>
<p>大蒜擦足心令熱即安，再以冷水吞蒜一瓣。</p>
<p>釜底墨研細，酒和服一錢。</p>
<p>鹽滷煮熱，以長桶盛而漬之。</p>

<h3>泄瀉</h3>
<p>車前子為末，米飲下二錢匕。</p>
<p>生薑連皮切如粟大，細茶等分煎服，亦治痢疾。</p>
<p>久瀉不止者，以生薑（四兩），黃連（一兩），銼如豆大，慢火同炒，令姜乾脆深赤色，去姜取黃連為末，每一錢，空腹臘茶清下，甚效。</p>

<h3>滯下（俗名痢疾）</h3>
<p>鮮荷葉燒研，每服二錢，陳皮甘草湯下。</p>
<p>黃連　白芍（各一錢）　吳茱萸（五分）　水煎服。</p>
<p>風菱殼煎濃汁飲。</p>
<p>乾薑、黃連、當歸、黃柏等分，皆炒為末，每服二錢，烏梅一個煎湯下。赤痢加黃柏，白痢加姜，後重腸痛加黃連，腹中痛加當歸，名四神散。若治泄瀉，則等分用亦佳。</p>

<h3>便血</h3>
<p>（此為血脫於下，稍久即黃瘦，宜補澀）</p>
<p>臭椿根白皮洗淨，曬研細末，飯糊丸梧子大，每三錢，荷葉蒂煎湯下。</p>
<p>烏梅肉、紅棗肉等分杵丸，梧子大，米飲下三錢，日二。又方：五倍子研末，艾湯下一錢。</p>

<h3>痔血</h3>
<p>（此乃濕熱蘊於大腸，血出不爽，或如箭射。亦有肛門熱痛者，雖久延而人不憔悴，治當清化，與便血迥殊。世人不為分別，往往誤治）</p>
<p>歸身（二錢），地榆炭（一錢），水煎服。</p>
<p>老絲瓜全燒存性，每服二錢，酒下。</p>
<p>新槐花炒研，酒服三錢，日三。</p>

<h3>脫肛</h3>
<p>蟬蛻研末，菜油調敷。</p>
<p>磁石煅研極細，米飲下一錢，外以鐵屑煎湯洗之。　貫眾、朴硝、橘皮等分為粗末，每用五錢，煎湯淋洗後，以木賊燒存性，研糝。</p>

<h3>肛門腫痛</h3>
<p>木鱉子肉四五枚，研細泡湯洗，另用少許塗之。作癢者，杏仁杵爛傅。</p>
<p>凡便燥努掙肛痛異常者，以冰片、硼砂研末，雄豬膽汁調，圊後搽之。</p>

<h3>大便不通</h3>
<p>連須蔥白三莖，淡豆豉七粒，共搗爛貼臍上，系定，良久自通。</p>
<p>草烏為極細末，以蔥一莖切去根，將蔥頭蘸草烏末納肛門內即通。此名霹靂箭，又名提盆散。</p>
<p>巴豆仁、乾薑、韭子、良薑、硫黃、甘遂、檳榔等分研末，飯丸如雞子黃大，早晨先以椒湯洗手，麻油塗手掌，男左女右，握藥一丸，移時便通，欲止則開握去藥，以冷水洗手，此名宣積丸。杭人以出便溺為解手，蓋本於此。</p>

<h3>二便不通</h3>
<p>白礬末填滿臍中，以新汲水滴之，覺冷透腹內即通。臍平者以厚紙作環圍之。</p>
<p>甘遂末麵糊，調傅臍中及丹田，以艾炷灸三壯，內飲甘草湯。</p>

<h3>小便不通</h3>
<p>白蘆菔子炒香，白湯下數錢，外以紙拈搐鼻，取嚏立通。</p>
<p>犀角、玳瑁等分，磨水沖服。</p>
<p>蔥白三斤細切，炒熱分二包，互熨小腹，仍以手擦掌心及湧泉穴。</p>
<p>諸藥不效者，以麝香少許，和患者頂心頭垢作條，入溺莖，紙封馬口，使氣透進莖內，須臾即通。</p>

<h3>癃淋</h3>
<p>（小溲不利而管痛也）</p>
<p>細白砂三升，熬令極熱，以酒三升淋取汁，服一合，治諸淋。冬瓜煮湯恣飲亦佳。</p>
<p>浮海石一大把研篩，以水三升，醋一升，煮取二升，澄清服一升，三服愈，治石淋。</p>
<p>白茅根四斤，以水一斗五升，煮取五升，服一升，日三夜二，治熱淋。</p>
<p>蒲黃、滑石等分末之，酒服方寸匕，日三，治血淋，苧根煎湯服亦良。</p>
<p>淡豆豉五錢，水一碗，煎一沸去渣，入鹽一捻和服，治氣淋。</p>
<p>海金沙、滑石（各一兩），甘草（二錢半），為末，每服二錢，鹿角霜、麥冬、燈心煎湯下，治膏淋。（此敗精阻塞溺竅也。）</p>

<h3>溺血（管痛者為血淋，不痛者為溺血）</h3>
<p>牛膝一味煎膏，不時服之。炳按：（杜牛膝更佳。）</p>
<p>生綠豆浸濕，搗絞取汁，隔水微溫，日服一碗。</p>
<p>人參、黃耆等分為細末，以白蘆菔切片蜜炙，不時蘸末食之，名玉屑散。</p>

<h3>遺溺</h3>
<p>鹿角霜研末，溫酒下三錢。</p>
<p>雞膍胵炙研，糯米湯服二錢。</p>

<h3>疝</h3>
<p>七種疝氣，痛不可忍，灸大敦穴，穴在足大拇指聚毛處，去甲一韭葉，灸七壯，屬厥陰井也，須用厚蒜瓣襯，不可貼肉，貼肉則傷指甲。</p>
<p>睪丸腫痛名木腎，用荊芥穗（一兩），朴硝、蘆菔（各三兩），蔥（七莖），煎湯淋洗。</p>
<p>偏墜初起用穿山甲、茴香二味為末，酒調服，乾物壓之，若患久者，用牡蠣灰、良薑末等分，唾津調塗腫大一邊，須臾如火熱而痛已。</p>
<p>小腹腫痛不得小溲者，名膀胱氣。用五苓散加楝子、茴香、蔥白，煎成，入鹽少許熱服。更有肺氣不化，膀胱為熱邪所滯，而小便不通，小腹與睪丸脹痛，一味沙參，大劑煎服，肺氣化而小溲通，覆杯可愈，但溲不閉者勿用。</p>
<p>小腹引睪丸連腰脊而痛，名小腸氣，用四制香附、鹽水炒茴香等分為末，空心酒下三錢。寒疝引急，痛連小腹，及睪丸偏縮者，以胡椒十餘粒，研細糝膏藥上，烘熱貼陰囊上，痛即已。若偏縮者，須貼偏小半邊。蓋縮即寒，而墜即熱也。</p>
<p>熱疝痛處如火，溲赤便艱，口乾畏熱，多露火象，熱藥禁施，用芙蓉葉、黃柏（各三錢）為末，以木鱉子仁一個，磨醋調塗囊上即效。</p>

<h3>囊腫</h3>
<p>蔥白汁調飛面塗。</p>
<p>水調牡蠣粉塗。</p>
<p>杉木焙灰，熟雞子黃炒油調搽。</p>

<h3>囊腫痛</h3>
<p>蛇床子研末，雞子黃調塗。</p>

<h3>囊脹痛</h3>
<p>蔥白汁調乳香末塗。</p>

<h3>囊濕</h3>
<p>石斛二錢，生薑一片，煎湯代茶。</p>
<p>蛇床子研末糝，並以代茶。</p>

<h3>囊癢</h3>
<p>川椒、杏仁研膏塗。</p>

<h3>囊濕癢</h3>
<p>海螵蛸、蒲黃研末糝。</p>
<p>先以蔥椒煎湯洗，再以五倍子、臘茶研末，少加鉛粉搽。</p>
<p>滑石（一兩），煅石膏（五錢），白礬（少許），共研糝。</p>

<h3>陰冷</h3>
<p>冷氣入腹，滿悶殺人，以椒炒熱，布裹包囊下，熱氣大通，日夜易之，以消為度。</p>

<h3>陰毛生蝨</h3>
<p>檳榔煎湯頻洗。</p>
<p>燒酒浸百部擦。</p>
<p>桃仁杵爛搽。</p>

<h3>莖濕癢</h3>
<p>肥皂燒存性，去火氣研末，麻油調搽。</p>

<h3>莖腫</h3>
<p>羊屎、黃柏煎汁洗。</p>
<p>兒茶、冰片研末各三分，甘草湯洗過搽。</p>

<h3>莖痿</h3>
<p>羊腎煮粥食。</p>
<p>鹿角霜、茯苓等分為末，酒糊丸，梧子大，每三十丸，鹽湯下。</p>

<h3>遺精</h3>
<p>蓮子心（一兩）　辰砂（一分）　各研細和勻，每服一錢，白湯下，日二。</p>
<p>北五味烈日曝乾研末，每一錢，酒或百沸湯調服，日二，名元及散。</p>
<p>白茯苓（二兩）　縮砂仁（一兩）　為末，入鹽（二錢），精羊肉批片糝藥炙食，以酒下。</p>

<h3>赤白濁</h3>
<p>赤濁用菟絲子、麥冬等分為末，蜜丸梧子大，鹽湯下七十丸。</p>
<p>又幹紅蓮子連心衣（六兩）　炙甘草（一兩）　共研末，每一錢，燈心湯下。</p>
<p>白濁用干冬瓜子炒研末，每服五錢，米飲下。</p>
<p>又生白果仁二十枚，擂水飲，日一服，取效止。</p>

<h3>強中</h3>
<p>甘草、黑大豆煎湯頻飲。</p>
<p>破故紙、韭子等分為末，每服三錢，水煎服。</p>

<h3>下消</h3>
<p>（下焦火熾，精液受爍，悉隨溺出而不覺也）</p>
<p>懷慶直生地　直熟地（俱用竹刀切）　麥冬（淡酒浸一日，鹽湯浸二日）　天冬（各一斤，醇酒浸三日）　西洋參（刮去皮，八兩，飯鍋上蒸極熟）　以甘泉水於沙鍋，煎至味盡去渣，慢火熬成膏，和入薯蕷粉搗丸，梧子大，每晨淡鹽湯服五七十丸，名固本丸。六味丸加知、柏，或丹溪大補陰丸亦可服。</p>

<h1>乙集</h1>

<h2>外科通治</h2>

<h3>癰瘍初起（焮赤腫痛為癰，陽證也）</h3>
<p>生大黃研末篩細，醋和塗之，燥即易，不過三次即消散，不復作膿。</p>
<p>花粉、赤豆等分研末，醋調圍之。</p>
<p>木芙蓉（花、葉、根皆可用，或採花浸鹽滷內，藏以待用。）杵爛（乾者研末，蜜調亦可。）圍之，中間留頭，干則頻易。初起者即消散，已成者即膿聚而潰，已潰者易斂生肌。或加赤豆末同圍，其功更大。除陰毒貼骨疽之外，無不神效。</p>

<h3>已成未成</h3>
<p>牛皮膠（一名黃明膠）一片，水漬軟，當頭開孔貼之。未膿自消，已膿潰出。</p>

<h3>已成不潰</h3>
<p>取白雞兩翅下第一羽各一莖，燒灰研末，水調下。雀屎取堅硬者，酒塗之即破。</p>
<p>蠶繭已出蛾者，燒灰酒服，用一枚出一頭，二枚出二頭。</p>

<h3>膿淨不合</h3>
<p>先以槐枝、蔥白煎湯洗，後用瓦松陰乾為末傅，或用經霜桑葉研傅，或秦艽研末糝。</p>
<p>濃煎棗湯洗之，再以鱉甲煅存性，研末糝。</p>
<p>絲瓜杵汁頻塗。</p>

<h3>癰生數處</h3>
<p>牛糞燒灰研，雞子清或醋調塗。</p>

<h3>遍體火瘡</h3>
<p>初起似痱，漸如水泡，熱似火燒，瘡色紫赤，不治殺人。蕓薹葉（即油菜）搗汁，調大黃、芒硝、生鐵鏽等分塗。</p>

<h3>遍體浸淫</h3>
<p>凡猝得毒氣攻身，瘡赤癢痛，上下周匝，煩悶欲死，此浸淫瘡也。起於心下者最險，不早治殺人，以雞冠血塗之，日四五次。</p>
<p>新羊糞絞汁塗。</p>
<p>胡燕窠中土研末，水和敷。</p>

<h3>身面熱瘡</h3>
<p>榆白皮研末，油和塗。</p>
<p>苦參末，粟米飲丸梧子大，每五十丸，空心米飲下。</p>

<h3>身面疥瘡</h3>
<p>樺樹皮（燒灰）　枳殼（去穰，各四兩）　荊芥穗（二兩）　炙甘草（五錢）　杏仁（水煮過，去皮，三兩）　各研，和勻再研，每二錢，食遠溫酒下，瘡甚者日三服。</p>
<p>菖蒲煎湯洗，並研鋪席臥。</p>

<h3>遍身風癩</h3>
<p>濃煮浮萍湯頻浴，浴須半日，俾毒氣外泄，再以苦參五兩切片，好酒三斗，漬三十日，每飲一合，日三服，常服不絕自瘥。</p>

<h3>洋黴瘡</h3>
<p>土茯苓（一兩），生苡仁、銀花、防風、木瓜、木通、白鮮皮（各五分），皂角子（四分），氣虛者加人參（七分），血虛者加當歸（七分），水二大碗煎飲，日三。忌飲茶，及牛、羊、雞、鵝、魚肉、燒酒、法面、房事半月，即愈。病深者月餘必愈。若誤服輕粉，以致筋骨攣痛、癱瘓不能動履者，服此亦效。</p>
<p>鮮生地　生苡仁（各五錢）　銀花（三錢）　花粉　連翹　白鮮皮　威靈仙　角刺　蟬蛻（各二錢）　白芷（一錢）　生甘草（錢半）　生白果仁　紅棗肉（各十四枚）　以鮮土茯苓四兩，水六碗煎減半，取水煎藥。毒甚者，加大黃三錢；發在頭者，加升麻五分；發在足者，加川牛膝三錢，日服一劑，以愈為度。此病萬不可服升丹隱藥以圖速效，誠恐引毒入臟，後發莫救，惟此二方最穩最效，余詳《願體醫話》。</p>

<h3>結毒</h3>
<p>紅棗（五斤），以杉木作柴煮之熟，去皮核，即取杉柴炭研細末，和棗肉杵勻，丸彈子大，每日任意食之，不可間斷，雖瘡毒滿身，或服過輕粉及丹石隱藥，以致穿頂穿鼻，腐爛不已，多年不愈者，服此大效，且極穩當，然愈後須再服一二月，以刈根株。忌醋辣椒（即食茱萸，一名辣茄。）及一切發物。</p>

<h3>多年惡瘡</h3>
<p>鉛粉、硃砂等分為末，蜜和塗。</p>
<p>諸藥不瘥者，馬齒莧搗爛傅之。</p>

<h3>翻花瘡</h3>
<p>柳枝葉三斤，水五升，煎汁二升，熬如餳，日三塗之。蒼耳葉搗汁塗，日二。</p>

<h3>癰瘡胬肉</h3>
<p>烏梅肉燒存性，研傅惡肉上，一夜可消大半，再上一日而平。</p>
<p>凡擠膿用力太過，以致胬肉突出如梅如慄，久不縮入，乃損傷氣脈使然。若用降藥，雖腐去其小者，復又突出大者，屢蝕屢突，經年不愈，宜以大熟地炒枯（一兩），大烏梅肉炒炭（三錢），共研細，糝膏藥上貼之，不過數日即收，再用粉霜收口。並治陰虛脫肛，用防風、升麻各一錢，煎湯調搽即收。</p>

<h3>諸瘡生蛆</h3>
<p>綠礬研末，糝之即化為水。</p>
<p>生麻油渣貼之。</p>
<p>柏枝節燒瀝，取油塗之，數次即愈，亦治牛馬疥。</p>

<h3>諸瘡成管</h3>
<p>大蒜梗燒灰搽即脫。</p>

<h3>瘡爛成孔</h3>
<p>糯米甑上氣汗水，以瓷盤承滴，頻搽。</p>

<h3>瘡久成漏</h3>
<p>金銀花浸酒常飲。</p>

<h3>瘡痕不滅</h3>
<p>燕蓐草燒灰，鷹屎白等分研，人乳和塗。</p>
<p>鮮橄欖切斷，蘸麝香少許，擦之無瘢。</p>

<h3>漆瘡</h3>
<p>嚼川椒塗口鼻則免患。</p>
<p>杉木、紫蘇、莧菜、白礬、乾荷葉、川椒，皆可煎湯洗。</p>

<h3>疔</h3>
<p>（以生黃豆與病人嚼之不腥者是疔）</p>
<p>金銀花或菊花連莖葉搗絞自然汁半碗，煎八分服之，以渣敷患處。或嚼生黃豆塗之，或取煙桿中煙油厚敷四圍，留頭不敷、少刻疔破出水而痊。</p>
<p>青石末同荔枝肉杵爛，以雌雞屎調塗，其根自拔。水疔色黃，麻木不痛；暗疔瘡凸色紅，使人昏狂。並以三稜針（疔瘡忌鐵，或金針、銀針皆可用。）刺患處四畔，後用銀杏去殼浸油中，年久者杵爛罨之。（此藥甚簡易，而功效甚大，須預浸以濟世。兼治針刺入肉，諸藥所不能出者，及勞苦遠行人，瓷鋒嵌入腳內皆效。）</p>

<h3>魚臍疔</h3>
<p>（四面赤，中央黑凹者是）</p>
<p>臘豬頭燒灰，雞子清調敷，日數易。</p>
<p>蔥白、蜂蜜杵，塗四圍。</p>

<h3>疽（毒自髒髮，外不焮腫，陰證也）</h3>
<p>獨蒜杵爛，麻油和厚敷之。</p>
<p>初起未成者，先以艾灸為妙。其法用濕紙搨上，先干處是頭，便用大獨蒜切如錢厚，放毒頂上，以陳艾揉熟作炷灸之，三壯一易。蒜片不計壯數，以痛者灸至不痛，不痛者灸至極痛為率。此法一使瘡不開大，二使內肉不壞，三使瘡口易合，功難盡述。惟頭項之毒不可灸，陽證癰瘍不可灸耳。</p>

<h3>已成未成</h3>
<p>草烏、南星等分為末，少加肉桂和勻，生薑汁熱酒調塗，未成者內消，已成者即潰，久潰者能去腐爛。</p>

<h3>石疽（如石堅硬不作膿者）</h3>
<p>醋五升，以粗黃石如鵝卵者，猛火燒赤，焠之取出，再燒再焠，至醋減半，將焠過之石搗細末，即以此醋和厚塗患處，以消為度。</p>
<p>黃耆、人參（各一兩）為末，入冰片（一錢），生藕汁丸，綠豆大，每二十丸，溫水下。</p>

<h3>疔疽內陷</h3>
<p>凡疔疽最慮毒不外達而反內攻，初起三日內，用真綠豆粉（一兩），乳香（五錢，燈心同研，）和勻，每一錢，濃煎生甘草湯調，時時呷之，使常在膈間，若兼嘔逆，即毒氣內攻之漸，尤宜亟服。設鼻生瘡菌，飲食不進即危矣。四五日後，猶宜間服之。</p>

<h3>移毒法</h3>
<p>凡毒生要害不便出膿之處，此藥能移之，或上或下，俾無後患。用白及（一兩六錢），紫花地丁（八錢），五倍子（二錢），好硃砂、明雄黃、輕粉（各一錢），牙皂（八分），烏雞骨（一錢，煅），共研末，以醋調敷毒之上截，即能移至下截，敷下則移上，極效。</p>
<p>雄黃、飛面、蚯蚓糞，共研細醋調，漸漸塗而逼之，自能移過要害處也。</p>

<h3>隔皮取膿法</h3>
<p>凡疽毒深遠，膿難直取，或患人畏用刀針者，膿熟時用此法甚妙。驢蹄皮（即腳底剔下者，炒），蕎麥麵（各一兩），草烏（刮去皮，四錢），共研勻，加食鹽（五錢），水調和成薄餅，瓦上炙微黃，再研細，醋調攤白紙上貼患處，膿即從毛孔而出，蓋以草紙，滲濕即換，膿淨紙燥，腫亦自消。如膿不從毛孔出，則塗藥之旁，自然潰出一孔，神妙無比。</p>

<h3>疽瘡骨出</h3>
<p>黃連、牡蠣等分研末，先以鹽酒洗過，敷之。</p>
<p>密陀僧研末，桐油調勻攤貼。</p>

<h3>白駁（俗名癩花風，又名蛇皮癬）</h3>
<p>先以布擦透，後用醋磨石硫黃、附子塗之，或硫黃、白礬擦之。</p>
<p>先以皂角湯洗，再煎茵陳湯洗，後以醋調蛇蛻灰搽。若頭面先起，漸長如癬，急用穿山甲片刮令燥痛，以炙熱豬脂頻擦即愈。</p>

<h3>瘙癢</h3>
<p>（身面赤腫癢痛也）</p>
<p>茵陳煎濃汁洗。</p>
<p>鐵鏽磨水塗。</p>
<p>荊芥穗、赤豆等分研，雞子調塗。</p>

<h3>丹毒</h3>
<p>（遊風赤疹也）</p>
<p>無名異研末，蔥汁調塗。</p>
<p>芭蕉搗爛塗。</p>
<p>羚羊角燒灰，雞子清和塗。</p>

<h3>諸癬</h3>
<p>五倍子去蟲，白礬燒過，等分研末，濕者糝之，乾者油調。</p>
<p>生白果仁或薑黃頻擦。</p>
<p>韭根炒存性研，豬油和塗。</p>

<h3>牛皮頑癬</h3>
<p>藜蘆末，生油和塗。</p>
<p>煙膠、寒水石（各三錢），白礬（二錢），花椒（錢半），共研末，豬油調塗。</p>

<h3>赤白癜風</h3>
<p>貝母、南星等分為末，生薑帶汁擦之。</p>
<p>豬胰一具，酒浸一時，飯上蒸熟食，不過十具愈。</p>
<p>桑枝（十斤），益母草（三斤），水熬成膏，每臥時酒服一二兩。</p>

<h3>赤癜</h3>
<p>醋磨知母擦之，日三。</p>

<h3>白癜</h3>
<p>白蒺藜六兩，生研末，每服二錢，日二，半月白處見紅點，一月絕根。</p>
<p>生胡麻研末，每用酒服一兩，日三，至五斗瘥。忌生冷、雞、豬、魚、蒜等百日。</p>

<h2>上部諸證</h2>

<h3>頭瘡</h3>
<p>先用醋少許和水，淨洗去痂，再用溫水洗裛干，百草霜細研，入鉛粉少許，生油調搽。</p>
<p>五倍子、白芷等分研末，青油調敷上，濕者糝之。</p>
<p>鴿屎研末，醋調搽最妙。用生蘆菔杵爛，米醋泡透敷。</p>

<h3>禿瘡</h3>
<p>殺豬時取其肚，破去屎，乘熱反罨頭上，須臾蟲出著肚，若不盡再作至無蟲。以皂角湯熱洗，次用藜蘆末豬油調塗。如嫌肚穢，則用羊肉切大厚片，如常炙香，乘熱遍貼亦可取蟲，蟲盡以鹽湯洗之，再用雄黃末和豬膽汁塗之。</p>

<h3>肥瘡</h3>
<p>鉛粉（煅）　松香（各三錢）　飛礬（二錢）　黃丹（一錢）　共研，麻油二兩熬膏塗。</p>
<p>雞子黃熬油搽。</p>

<h3>天泡瘡</h3>
<p>生百合搗塗。</p>
<p>蓮蓬殼燒存性研，井泥調塗。</p>

<h3>眉疽</h3>
<p>生綠豆、五倍子等分研末，醋調搽。</p>

<h3>偷針</h3>
<p>南星、地黃（各三錢），研成膏，貼兩太陽。</p>

<h3>耳後月蝕</h3>
<p>蚯蚓屎煅研，豬油調搽。</p>

<h3>玉枕瘡</h3>
<p>原蠶蛾（炒）、石韋，等分為末搽之。</p>

<h3>鼻瘡膿臭</h3>
<p>苦參、枯礬（各一兩），生地汁（三合），水二盞，煎至三合，少少滴之。</p>

<h3>鼻蝕穿唇</h3>
<p>銀屑（一兩），水三升，銅器內煎至一升，日洗三四次。</p>

<h3>唇瘡</h3>
<p>旋覆花煅存性研，麻油調搽。</p>

<h3>口瘡</h3>
<p>五倍子（八錢），密陀僧（四錢），黃柏（二錢），銅綠（一錢），研末和勻糝。色赤者花粉研末糝；色白者黃柏、蓽茇，等分研糝。</p>

<h3>羊鬚瘡</h3>
<p>舊綿絮煅灰，麻油調搽。</p>

<h3>對口</h3>
<p>枸橘（三枚），瓦焙存性，黃酒沖服，儘量飲微醉，臥蓋厚被，得汗即解。</p>
<p>白菊花、甘草（各四兩），水煎服。</p>

<h3>天柱瘡</h3>
<p>生脊大椎上，大如錢出水，用驢蹄甲（二片，煅），鉛粉（熬，二錢），麝香少許，為末，醋和塗，干則糝。</p>

<h3>痄腮</h3>
<p>蔥煎濃湯盡洗。</p>
<p>赤豆研末醋調敷。</p>

<h3>頸項結核</h3>
<p>野菊花搗爛，煎酒服，渣敷患處。</p>
<p>連翹、脂麻等分為末，時時頻服。</p>
<p>生薯蕷（一挺），蓖麻子（二粒），各去皮，研勻攤貼。</p>

<h3>瘰癧馬刀</h3>
<p>胡桃劈開去肉，入去鉤全蠍一尾，合好紮緊，瓦上炙存性研，每日一枚，溫酒調下，至愈即止。</p>

<h3>瘰癧已潰</h3>
<p>牛皮油鞋底燒灰，麻油調塗。</p>
<p>陳年破明角燈燒存性研，菜油和塗。</p>
<p>牆上白螺螄殼研末敷。</p>

<h3>癭氣</h3>
<p>昆布、海藻等分研，蜜丸龍眼大，時時含之咽汁。針砂入水缸浸之，飲食皆用此水，十日一換砂，半年自愈。</p>

<h3>贅疣</h3>
<p>密陀僧、桑白皮等分研，新汲水調塗。</p>
<p>生南星大者一枚，研爛醋調，先以針刺，令氣透貼之。</p>
<p>疣破出血，用陳京墨（煅）、百草霜等分罨之。</p>

<h3>點痣</h3>
<p>石灰一兩（熬），桑柴灰淋汁熬成膏，刺破點。</p>
<p>血痣潰血，五靈脂炒研糝之。</p>

<h2>中部諸證</h2>

<h3>肩疽</h3>
<p>吳萸鹽淹過炒研，醋調塗。</p>

<h3>腋癰</h3>
<p>池塘爛泥（一杯），桐油（三杯），和勻，以鵝翎時時掃塗，勿令乾。</p>

<h3>腋疣</h3>
<p>長柄葫蘆燒存性，研末搽。</p>

<h3>瘭疽</h3>
<p>肩臂累累如赤豆者，剝去瘡痂，以酒和麵敷。</p>

<h3>臂疔</h3>
<p>紅絲疔多生臂肘，先用針挑斷紅絲，隨將多年糞坑上碎椽木，煅灰研細，飴糖和塗紅絲，並疔四圍，中留小頭，疔即拔出，治遲無救。</p>
<p>煙桿中煙油離絲三分處敷之，絲即不走。</p>

<h3>蛇頭</h3>
<p>雄黃、蜈蚣、全蠍（各一錢），共研，瘡口開入藥在內，以小帛抹油拴住，干則頻以油潤。</p>

<h3>代指（俗名⿸疒貢爪）</h3>
<p>烏梅入醋，研浸患處。</p>
<p>生雞子開一孔，將指浸之，浸三個愈。</p>
<p>忍冬藤、蒲公英煎濃汁浸，或以甘草濃湯漬。</p>

<h3>發背</h3>
<p>大甘草（一兩），微炙搗碎，水一大升浸之，器上橫一小刀子置露中經宿，平明以物攪令沫出，吹沫服之。兼治一切瘡腫。</p>
<p>紫荊皮為末，酒調箍住，自然撮小不開，再用干柞木葉、乾荷蒂、干萱草根、地榆、甘草節（各四兩），細銼，每服五錢，水二碗，早晚各一服，未成即散，已成亦漸干，乃救貧良劑。忌一切飲食毒物。</p>
<p>冬瓜一個，切去一頭合患處，瓜爛切去一圈再合之，瓜未完而即愈，此仙方也。發背欲死者可治。</p>

<h3>乳癰</h3>
<p>蔥白杵敷，並絞汁服。</p>
<p>苧根搗敷之。</p>

<h3>脅瘡</h3>
<p>如牛眼狀者，以鹽少許入牛耳，取其垢敷之。</p>

<h3>脅疽見臟</h3>
<p>赤豆、苧根為末，水調塗。</p>

<h3>脅腰丹毒</h3>
<p>赤腫如霞者，榆白皮研末，雞子清和塗。甚至遍身青紫者，羚羊角煅研，雞子清和塗。</p>

<h3>蛇纏</h3>
<p>雄黃末醋調敷。</p>
<p>糯米嚼爛和鹽敷。</p>
<p>舊糞桶箍煅研，麻油調塗。</p>

<h3>腸癰</h3>
<p>（小腹腫痛，小便似淋，或大便艱澀下膿，腳不能伸者是）</p>
<p>大棗連核煅存性，百藥煎等分為末，每一錢，濕酒下。</p>
<p>甜瓜子（一合）　當歸（炒，一兩）　蛇蛻（一條）　㕮咀，每服四錢，水盞半，煎一盞，食前服，取下惡物。</p>

<h2>下部諸證</h2>

<h3>便癰</h3>
<p>（凡便毒、黴瘡皆發於外腎上橫骨，乃督任二脈之病也）</p>
<p>俗謂左魚口右便毒，又統名曰騎馬癰。雄黃、乳香（各二錢），黃柏（一錢），共研，新汲水調塗。</p>
<p>牛皮膠醋煮烊塗。</p>
<p>瓦松研末，雞子清和塗。</p>

<h3>囊癰</h3>
<p>銀花（六兩）　甘草（一兩）　川楝子（二枚，去核）</p>
<p>水煎服，能飲者加酒更妙。</p>
<p>生地、當歸（各一兩），以麻油二兩，煎至藥枯黑去渣，入白蠟溶化攪勻，冷即成膏，已潰者貼之即愈。兼治一切癰疽發背、湯火傷皆效。若加乳香、沒藥、龍骨、血竭、兒茶、輕粉，則生肌長肉，尤著其神。</p>

<h3>囊瘡</h3>
<p>川椒（七粒），蔥頭（七個），煎湯洗。</p>
<p>甘草湯洗過，臘茶為末糝，或油和塗。</p>

<h3>莖瘡</h3>
<p>炙甘草研末，頻頻塗之。</p>
<p>鱉甲煅研，雞子清和敷。</p>

<h3>下疳</h3>
<p>甘草（三兩），蔥（三莖），槐枝（一把），黑豆（一合），水煎豆熟為度，濾清汁乘熱淋洗，冷則易。</p>
<p>牝豬糞，黃泥包煅存性為末，先以米泔水洗淨，搽之立效。</p>
<p>泔水洗後，以兒茶研末敷。</p>

<h3>懸癰</h3>
<p>（生於肛前囊後，俗名偷糞老鼠）</p>
<p>連節粉甘草（四兩），以東流水一碗，將甘草浸而炙，炙而浸，水完為度，研末，入皂角灰少許，分四服，白湯下，或酒煎服，頻服自消。</p>
<p>瓦上曬白貓屎，研細酒下，並蜜和塗。</p>

<h3>痔</h3>
<p>槐根，或桃根，或蘆菔，或冬瓜，皆可煎湯頻洗。又每登圊後，取河水或井水冷沃良久，雖年久諸藥不瘳者，頻沃漸愈。</p>
<p>蜒蚰杵爛搽立效。</p>
<p>明礬（五錢），蠍梢（七條），皂礬（煅赤，五釐）　共入銀罐內，文火煅末，入硃砂（四分），冰片（五釐），同研細，麻油調敷，十八日瘳。此枯痔秘方也，然非外科所樂聞者。</p>

<h3>痔漏</h3>
<p>痔漏臟毒成管者，用胡黃連（薑汁炒）　刺蝟皮（炙，各一兩）　為末，入麝香二分研勻，飯丸麻子大，每服一錢，名追管丸。服完後，再用胡黃連（炒，取淨末二兩）　穿山甲（麻油炒黃，取淨末）　石決明（煅，取淨末）　槐米（微炒，取淨末，各一兩）　共研勻，煉蜜丸麻子大，每早晚服一錢，清米湯下，至重者四十日愈，名消管丸。如瘡口四邊有硬肉突出者，方中加蠶繭二十枚，炒研和入。</p>
<p>若服追管、消管二丸，愈後不守禁忌，或食豬肝、番薯，犯酒色，而瘡患復萌者，急用夏枯花（十兩），連翹殼、甘草節（各五兩），淨銀花（四兩），共研細末，另以淨銀花一斤熬濃汁，法丸綠豆大，每晨空腹淡鹽湯送三錢。起漏一二年者服一料，三五年者服二料，病可斷根不發，名完善丸。</p>

<h3>坐板瘡</h3>
<p>生脂麻嚼敷。</p>
<p>滑石、生大黃、人中白、密陀僧共研糝。</p>

<h3>臀癰</h3>
<p>蔥白杵爛，蜜和敷。</p>
<p>芙蓉葉入鹽、冰片各少許，杵爛圍。</p>

<h3>附骨疽</h3>
<p>槲樹皮燒存性研，米飲下三錢。</p>

<h3>臁瘡</h3>
<p>棉花子炒脆取末，填滿瘡內紮好，不可開看，自然痂愈。</p>
<p>馬齒莧煎汁一鍋去渣，入黃蠟五兩，慢火熬膏塗之。</p>

<h3>腿肚瘡</h3>
<p>先以貫眾煎湯洗之，後用百藥煎研末，唾和圍之，人乳、桐油等分和掃。</p>

<h3>毒熱足腫</h3>
<p>酒煮苦參湯，漬之痛即止。</p>

<h3>足跟瘡</h3>
<p>鹽漿水溫洗，後以白朮研細糝。</p>

<h3>甲疽</h3>
<p>硼砂　乳香　黃丹（各一錢）　鉛粉（五分）　橄欖核（三枚，燒存性）　共研，麻油調搽，先用鹽湯洗淨拭乾，再上藥。</p>
<p>黃柏、烏頭尖等分研，洗淨敷貼。</p>
<p>陳皮嚼爛貼之，干即易。</p>

<h3>肉刺</h3>
<p>因穿窄履而生，足趾礙痛不能著履，以大棗肉杵貼，候爛剔去。</p>

<h3>趾潰</h3>
<p>芒硝煎湯洗淨，以烏梅核中仁為末，醋調成膏塗之。</p>
<p>豬脂調蚯蚓糞敷。</p>

<h2>跌打傷</h2>

<h3>通治</h3>
<p>熱童便先灌，再以麻油、醇酒各一碗，同煎數沸服之。臥於暖炕，厚蓋衣被，一夜痛止腫消，並無傷痕，採桑椹封置瓶內，取塗患處立愈。亦治杖傷。</p>
<p>干冬瓜皮、牛皮膠（各一兩），銼，入鍋內炒存性研末，每五錢熱酒下，能飲者酒宜多飲，厚蓋取微汗痛即止，一宿而痊。</p>
<p>瓜兒　血竭（一兩）　粉口兒茶（二錢四分）　淨乳香　淨沒藥　子紅花（各一錢五分）　飛淨上硃砂（一錢二分）　梅花冰片　麝香當門子（各一分二釐）　於端午日午時各研極細，再研勻藏瓷瓶內，蠟封口，陳久愈佳，每服七釐，童便溫酒隨下，名七釐散。不可多服，孕婦忌服，亦可外敷患處。</p>

<h3>傷筋</h3>
<p>絲瓜開花時，侵晨日未曬過，不老不嫩肥厚之葉，採取陰乾，研末收藏，糝。跌打傷筋雖斷者可續，且消腫止疼。兼治金瘡並惡瘡癤，皆妙。</p>
<p>生蟹一隻，搗絞汁，微熬塗之，筋自續。亦治金刃斷筋。</p>

<h3>傷骨</h3>
<p>南星後　木鱉（各四兩）　乳香　沒藥　官桂（各一兩）　研末，生薑一斤，去皮搗汁，入醋少許，加白麵共調為糊，攤紙上貼之，外以帛纏，杉木夾縛。</p>
<p>糯米（一升）　皂角（切碎，半升）　青錢（百枚）　同炒焦黑，去錢研末，酒調貼之。</p>
<p>人中白醋淬為末，每五分酒下，若自然銅之類，雖有接骨之功，而燥散之害烈於刀劍，用者慎之。</p>

<h3>傷腦</h3>
<p>凡跌打傷而腦子偏者最難治，其人頭暈嘔吐，看其頭左右偏大者，即腦偏也。急將人頭扶正，挽起立直，用細帶一條圈頭，所餘之帶須約三四尺長，系在柱上，仍將人身扶直，以細棍敲帶之中，一時即正，此蒙古治法，最妙。</p>
<p>腦骨破者，蔥白和蜜杵勻厚封。</p>

<h3>傷眼</h3>
<p>青紫腫痛者，用大黃為末，生薑汁調敷。</p>

<h3>擦落耳鼻</h3>
<p>以亂髮燒灰研，乘急將所落耳鼻蘸發灰綴定，用軟帛縛定。被人獸咬下者亦治。</p>

<h3>穿斷舌心</h3>
<p>以雞翎蘸醋刷患處血即止，隨用硼砂、杏仁、蒲黃炭研末，蜜調含化。</p>

<h3>腸出</h3>
<p>急以麻油潤瘡口，輕手納入，再搐鼻取嚏，或冷水噀其面，其腸自收，隨以桑白皮線將腹皮縫合，外用生肌藥敷貼。</p>

<h3>囊破</h3>
<p>睪丸墜出者，宜緩緩托入，多取壁錢（即蟢兒窠），厚貼傷處。</p>

<h3>破傷風（金瘡傷同）</h3>
<p>魚鰾煅存性研細，每一錢溫酒下，外以自己小便頻洗。</p>
<p>蟬蛻研細，蔥汁和塗患處。</p>
<p>南星、防風等分為末，溫酒服一錢，重者童便調灌二錢，雖已死但心口尚溫者亦可活。外即以此藥敷之。</p>

<h3>閃挫腰疼</h3>
<p>西瓜青皮陰乾，研末收藏。每三錢鹽酒調下。</p>
<p>蒔蘿研末，酒服二錢。</p>

<h3>閃拗手足</h3>
<p>當歸、荊芥、蔥白煎湯洗。</p>
<p>生薑、蔥白搗爛，和麵炒熱罨之。</p>

<h3>杖傷</h3>
<p>（凡受傷後，忌臥草竹蓆及熱炕）</p>
<p>白蠟一兩細切，滾酒泡服，預服之，受杖不疼。既杖，先以童便、醇酒各一碗和服。</p>
<p>杖後腫痛，鳳仙葉杵爛貼，干則易。（或取葉陰乾，研末藏之，用時水和塗。）</p>
<p>蔥白杵爛炒熱罨，冷即易。</p>
<p>杖後青腫，用濕棉紙鋪傷處，將燒酒糟杵爛，厚鋪紙上，或用豆腐切片貼。</p>
<p>杖瘡未破，用干黃土、童溺，入雞子清和塗，干即以熱水洗去，復刷復洗數十次，以色紫轉紅為度，仍刷兩胯，防血攻陰。</p>
<p>杖瘡已破，用雞子黃熬油搽。</p>
<p>杖瘡出血，用豬油一升，石灰七升和煅，再以水和丸，煅凡三次，研敷。</p>
<p>夾傷用小蝦膜（五個），生薑（一兩），芒硝（三分），酒糟（一碗），搗敷。飛面、梔子末水和塗，外護以紙。</p>
<p>綠豆粉炒令紫色，以熱酒或熱醋調塗。</p>

<h2>金刃傷</h2>

<h3>通治</h3>
<p>石膏煅研敷。</p>
<p>韭菜、石灰杵，和貼牆上，曬乾研末收藏，糝上即愈。蔥白、砂糖搗爛封之，或以鮮桑葉杵爛封，（冬月取桑根白皮亦可。）凡金瘡血去過多，其人必渴，宜忍之，但宜干食，或啖肥脂，以止其渴，若恣飲湯粥，必致血溢，又忌飲冷水，恐血凝也。其熱酒、熱羹、鹽醋、喜怒、勞動、房事，則人皆知禁也。</p>

<h3>出血不止</h3>
<p>白芍炒研，米飲或酒服二錢，漸加之，仍以末敷患處。</p>
<p>飛面和白沙糖罨之。</p>

<h3>瘀血內漏</h3>
<p>好雄黃半豆大納之，再以童便調服五錢，血皆化水。丹皮為末服亦可。</p>

<h3>瘀血在腹</h3>
<p>蔥白（二十莖）　麻子（三升，杵碎）　水煎服。</p>

<h3>血出悶絕</h3>
<p>蒲黃末五錢，熱酒調灌。</p>

<h3>發腫疼痛</h3>
<p>薔薇根煅研，白湯下一錢，日三。</p>
<p>桑柴細灰敷。</p>

<h3>指斷</h3>
<p>急宜接上，以蘇木末敷之，裹以蠶繭紮好，數日全愈。</p>

<h3>腸出</h3>
<p>小麥五升，水九升，煮四升，棉濾淨，汁待極冷，含汁噀其背，則腸自入。噀時勿令病者知，及多人在旁言語。如未入，抬病者臥席，四角輕搖，則自入。若腸已斷者，以桑白皮線或麻線，均用麻油潤過，從里縫之，縫好，再用麻油潤腸活滑，推入腹內，乃縫肚皮，（不可縫外重皮。）縫好以血竭末敷之。若傷破肚皮，腸與脂膏並出者，先服芎歸湯，用手臂去脂膏，（此是閒肉，放心去之。）然後推腸入腹，用線縫之，縫好後，均以闊帛扎束，慎勿驚動，使瘡口復迸，更須頻服通潤藥，勿令大小便閉，最為吃緊。</p>

<h3>莖斷</h3>
<p>瘡口流血不合，即以斷莖煅研，酒調服下。蠶室者治亦同。</p>

<h3>箭傷</h3>
<p>女人月經布燒灰敷。</p>
<p>若拔箭無血者最危，急宰一羊，取出熱心割一口子，對傷口吸住，其血自流。</p>
<p>中藥箭者，才傷皮肉，便覺悶膿沸爛，宜急服糞清，並以人糞塗之。或急飲麻油數碗。</p>
<p>藕、蘆根、生地、黑豆皆可煮汁飲。</p>

<h3>箭簇不出</h3>
<p>丹皮、白蘞等分研細，酒服三錢，日三。</p>
<p>瓜蔞根杵塗患處。</p>
<p>干莧菜同砂糖搗塗。</p>

<h3>槍子入肉</h3>
<p>南瓜瓤敷之。</p>

<h3>針折入肉</h3>
<p>刮象牙末，水和罨患處，或熱小便漬之。竹木刺，以頭垢罨之。</p>

<h2>湯火傷</h2>

<h3>通治</h3>
<p>好燒酒冷淋之。</p>
<p>泡過茶葉，不拘粗細，用壇盛放朝北地上，磚蓋好，愈陳愈妙，不論未潰已潰，搽之即愈。</p>

<h3>遍體傷者</h3>
<p>缸注酒浸之，並內飲麻油。</p>

<h3>未起泡者</h3>
<p>陳醬塗。</p>
<p>鹽敷。</p>
<p>溺漬洗。</p>

<h3>已起泡者</h3>
<p>龍眼殼焙灰研，桐油和敷。</p>
<p>生蘆菔或梨杵罨。</p>
<p>生大黃、地榆等分研，油調塗。</p>

<h3>泡破</h3>
<p>西瓜皮入瓷瓶，埋土中化水收藏，塗上即愈。</p>
<p>豬油杵米粉，或杵飛面塗。</p>
<p>白蜜、雞子清、生豆漿皆可塗。</p>

<h3>爛見骨</h3>
<p>百草霜（二兩），輕粉（一兩），研勻，麻油調搽。</p>
<p>鐵鏽磨水搽。</p>

<h3>滾油潑傷</h3>
<p>陳麵糊或白蜜塗之。</p>
<p>麩皮炒黑研敷。</p>
<p>蟹殼煅灰，麻油調搽，並宜飲童便。</p>

<h3>爆竹炸傷</h3>
<p>鮮柏枝搗爛，麻油和敷。</p>

<h3>火藥傷</h3>
<p>石炭（即煤炭）燒紅研末，醋和塗。</p>
<p>生南瓜杵爛塗。</p>

<h3>煤炭毒</h3>
<p>房中置清水一盆則無患。</p>
<p>新汲水或蘆菔汁灌之。</p>

<h3>煙燻悶絕</h3>
<p>蘆菔汁灌，或溫水調蜜灌。</p>

<h3>灸瘡</h3>
<p>血出不止，酒炒黃芩二錢為末，酒調下。</p>
<p>腫痛者，伏龍肝煮汁淋洗。</p>
<p>火毒入內，兩股生瘡者，薄荷汁塗之。</p>

<h2>人物傷</h2>

<h3>人咬</h3>
<p>熱溺洗去牙黃瘀血，再取溏雞屎塗。生慄、生白果、柿餅，皆可嚼爛塗。</p>
<p>豬脊髓、蔥白、鼠屎，共搗敷。</p>
<p>蘆菔葉嚼敷。</p>

<h3>馬咬</h3>
<p>豬肉同飯自嚼敷。</p>
<p>薄荷汁搽。</p>
<p>皂角子燒灰，麻油和塗。</p>

<h3>豬咬</h3>
<p>松香熬貼。</p>
<p>龜板燒研，麻油調搽。</p>

<h3>犬咬</h3>
<p>紫蘇葉嚼敷。</p>
<p>婦人溺淋洗。</p>
<p>白沙糖杵蔥白塗。</p>
<p>猘犬（即瘋犬）咬者，急於無風處冷水洗淨，隨服韭汁一碗，七日又服一碗，四十九日共服七碗，百日忌鹹酸，一年忌魚腥，終身忌狗肉、蠶蛹。</p>
<p>傷處無血，用雞屎搽；有血用砂糖、明礬末研勻搽。再猘犬咬者，頂心必有紅髮，務必拔去，渴煎陳麥稈，或綠豆湯代茶。</p>

<h3>貓咬</h3>
<p>薄荷汁塗。</p>
<p>雄鼠屎燒灰，麻油調敷。</p>

<h3>鼠咬</h3>
<p>貓頭毛燒灰，油調敷。</p>
<p>麝香罨。</p>
<p>香椿樹皮，搗汁一杯，黃酒和服。</p>

<h3>虎咬</h3>
<p>酒恣飲，嚼慄塗。</p>
<p>砂糖恣服，並塗傷處。</p>
<p>真麻油灌，並洗患處。</p>

<h3>虎熊狼爪傷</h3>
<p>生鐵煮水洗，再嚼小米塗，或乾薑末敷。</p>

<h3>蛇咬</h3>
<p>稻草或菱白燒灰，菜油調塗。</p>
<p>婦人尿或暖酒淋洗，隨用扁豆葉，或金絲荷葉，或大蒜杵爛塗。</p>
<p>紫蘇葉搗汁飲，外以人糞塗之。</p>

<h3>蛇纏不解</h3>
<p>熱湯淋之即脫，纏足者，令人就蛇尿之即解。</p>

<h3>蛇入人竅</h3>
<p>刀割蛇尾，納川椒數粒，裹定即出。</p>

<h3>蛇骨刺人</h3>
<p>鐵精粉一豆許，吹入瘡內。</p>

<h3>闢蛇法</h3>
<p>畏蛇者，麝香、雄黃、乾薑等分搗勻，絳囊盛佩，男左女右。</p>
<p>階庭種鳳仙花。</p>
<p>房中燒雄黃，或龍眼殼核。</p>

<h3>壁虎咬</h3>
<p>青苔塗。</p>
<p>礬末敷。</p>

<h3>蠍螫</h3>
<p>麻油塗。</p>
<p>白砂糖按揉。</p>
<p>芋頭、荷梗皆可擦。</p>

<h3>蜈蚣咬</h3>
<p>菖蒲、桑皮、獨蒜皆可擦。</p>
<p>雄雞冠血、蚯蚓糞、頭垢皆可搽。</p>
<p>竹瀝、薄荷汁、桑葉汁皆可塗。</p>

<h3>蜘蛛咬</h3>
<p>雄黃研擦。</p>
<p>油和鹽糝。</p>
<p>身上生絲者，飲羊乳或牛乳。</p>

<h3>壁鏡咬</h3>
<p>醋磨雄黃或大黃塗。</p>

<h3>蠶咬</h3>
<p>苧根煎汁飲，外以麝香蜜和塗。</p>

<h3>蜂螫</h3>
<p>熱尿淋洗，菜油搽之。</p>
<p>嚼青蒿或頭垢封之。</p>
<p>芋梗擦之。</p>

<h3>蟻螫</h3>
<p>梳垢封。</p>

<h3>蛓螫毒（一名楊辣，一名瓦辣）</h3>
<p>菜油塗，忌用熱湯洗。</p>

<h3>蚯蚓呵</h3>
<p>濃煎鹽湯頻洗。</p>

<h3>諸蟲咬</h3>
<p>生脂麻嚼敷。</p>
<p>南星末醋和塗。</p>
<p>生榧子頻食。</p>

<h1>丙集</h1>

<h2>女科通治</h2>

<h3>室女虛勞</h3>
<p>（尼姑、寡婦同）</p>
<p>（其證心熱煩悶，如嘈如飢，倦怠懨懨，起於鬱火，漸至咳嗽發熱吐紅，與尋常男婦虛勞有別。）</p>
<p>嫁不失時，是為大樂。若溺愛久留，或擇婿過備，或不知體貼，或送入空門，飲恨以終，情殊可慘。為父母者，宜鑑斯言，否則草木根荄不能怡其心志也。聊籌補救，謹採二方。</p>
<p>青松針　側柏葉　藕（吐血者用節，各一斤）　天冬　生地　葳蕤（各八兩）　女貞子　旱蓮草（各四兩）　用甘泉水煎至味盡去滓，慢火熬膏，瓷瓶收置，泥地上窨去火氣，每晨白湯化服。咳嗽者加枇杷葉（八兩），不寐者加蓮子心（二兩），食少便溏加生薏苡（一斤），寢汗者加鮮竹葉（一斤），汛愆者加丹參（四兩），名清芬耐歲膏。</p>
<p>西洋參（刮去皮，蒸透）　白朮（泔浸，刮皮蒸透）　茯神　甘草　生地　丹參　棗仁（炒）　遠志肉　北五味　麥冬　元參　柏子仁　黃連　香附（童便制）　川貝母　桔梗　硃砂　龍眼肉　凡十八味，分兩量人酌用，照前熬膏服。經云：女子以心脾為立命之根。凡心脾氣鬱，鬱則從火，久久不解，漸耗五陰，惟此方有通有補，以甘草、洋參養心氣，龍眼補心血，麥冬益心津，生地、元參、丹參益心神，茯神、柏子、遠志安心神，五味、棗仁收心液，黃連瀉心陽，桔梗開心郁，硃砂鎮心怯，白朮健脾陽，香附暢脾陰，川貝舒脾郁。特重其數，以對待心脾二臟，故名曰心脾雙補膏。</p>

<h3>肝鬱脘痛</h3>
<p>（婦女本坤陰吝嗇之性，而又受制於人，凡事不能自主，氣鬱不舒，多成此證）</p>
<p>香附（倍用）　黃連（減半）　擇淨料製為極細末，水糊丸梧子大，陳皮湯下一二錢。火盛者薑汁炒梔子煎湯下。</p>

<h3>粉滓</h3>
<p>（亦名粉刺，因粉中有鉛，鉛性燥而有毒故也）</p>
<p>平時敷粉，須單用中指研調，切記勿用食指，則永不生滓。畫家用此法，則粉面人物，久藏不黯。</p>
<p>桃花、冬瓜仁等分研，蜜和，夜塗旦洗。</p>
<p>滑石　輕粉　杏仁（去皮）　等分為末，蒸過，入冰片、麝香少許，以雞子清調勻，靧面畢敷之，久用面色如玉。</p>

<h3>鬢脫</h3>
<p>川椒（四兩），浸酒，密室內日日搽之自生。</p>
<p>煨石膏研末，糖調搽之，治吃髮癬。</p>
<p>木樨花同麻油蒸熟，潤髮則香，余與男子同治者，詳見內科上部。</p>

<h3>纏足</h3>
<p>女子纏足，究不知始自何人，或云起於妲己者，乃村瞽之談也。或云肇於漢唐，而元人伊世珍輯《嫏環記》引《修竹閣女訓》謂範睢言裹足不入秦用女喻也。然則戰國時，已有此事矣。意彼時不過略為裹束，不似男子之任其放大耳。故漢唐諸詩詠美人者，並無弓履之同。迨李後主宮人窅娘，始作新月之形，矯揉造作，卒致亡國，此袁簡齋所以罪其作俑也。仁和沈文浦亦云：後人習之，沿為錮疾，母毒其女以為慈，姑虐其媳以為愛，遂成億萬世億萬人無窮之孽。或曰不然，古人為此，非飾美麗也，為拘遊走也。按《修竹閣女訓》亦引桑中之行，臨邛之奔為言。嗚乎！豈理也哉！未嫁則父母拘之，既嫁則丈夫拘之，謹其閨門，嚴其出入，養其羞惡，課其女紅，於以拘遊走也，何難之有？而顧為此戕賊形軀之事，忍莫甚矣！拙莫甚矣！況古來貞靜者，豈盡由步之纖？淫奔者，豈盡由履之大？奈之何如就三木，如受刖刑，遂令髫齡弱質，罹鞠凶於早歲，遭荼毒以終身，每見負痛飲疼，因此而瘠病者有之，由是而夭亡者有之，幽閨暗獄，魄滯魂冤，哀乎哉！想我國家平成以來，風同道一，男子剃頭辮髮，則晨夕免梳網之煩，暑月受清涼之福，德莫大焉，何獨女子而不普沾其澤乎？儻亦遵路遵道，順天地之自然，極官骸之得所，豈不休歟？愚謂相習成風，陋俗難革，錄方於下，庶易效蓮鉤之式，聊紓玉趾之疼云爾。</p>
<p>桑根白皮（四錢），杏仁（一錢），水五碗，新瓶煎至三碗，入朴硝（五錢），乳香（一錢），封口煎烊，置足於上，先熏後洗，三日一作，十餘次後軟若束棉，毫無痛苦。束時以羅細生白礬，少加白洋糖糝之，束成後濯足宜頻，每於湯中入鹽滷一杯，終身用之，可免一切足疾，不生⿰嗇皮⿰齒皮，以滷能去風火濕熱垢濁，而有潤皮膚、舒筋骨之功。（男子濯足亦宜用之。）此閨閣中秘方也。</p>
<p>纏足生瘡，先以甘草湯洗，隨用荊芥燒灰，蔥白汁和敷。</p>
<p>雞眼肉刺，用枯礬、黃丹、朴硝等分研搽，次日濯之，二三次即愈。又法：先以滷湯浸濯，刮去一層，用木耳浸軟貼之，消爛不疼。</p>
<p>甲疽於趾甲內生瘡，惡肉突出不愈，以蜈蚣一條，焙研敷上，外用南星末醋調，塗其四圍。又法：用皂礬日曬夜露，每一兩煎湯浸洗，再以礬末（一兩），雄黃（二錢），硫黃、乳香、沒藥（各一錢），共研勻搽。</p>
<p>香蓮散：白芷、黃柏、防風、細辛、烏藥、甘松等分研末，襯於鞋屜中，數日一濯足，濯後換藥，蓮瓣生香。</p>

<h3>帶濁</h3>
<p>（女人之帶濁，即男子之遺濁也。天癸未至之年，亦有此病，故列於調經之前）</p>
<p>陳冬瓜仁或白扁豆炒研末，每空心米飲服五錢。</p>
<p>葵花陰乾為末，每空心溫酒服二錢。（白帶用白葵，赤帶用紅葵。）</p>
<p>虛寒白帶白淫，用糯米、花椒等分研，醋糊丸，梧子大，每三四十丸，醋湯下。</p>

<h3>調經</h3>
<p>經候不準，或先或後，用丹參曬研，每二錢溫酒下。</p>
<p>經行腹痛，用香附（炒，四兩）　橘紅（二兩）　茯苓　甘草（炙，各一兩）　為末，每二錢沸湯下。</p>
<p>經事不行，用絲瓜絡煅研，每三錢，酒下。久閉者，用蠶砂四兩，砂鍋炒半黃色，入醇酒一壺煮沸，澄去砂，每溫服一盞。</p>
<p>經事逆行，口鼻出血，先以童便，或磨陳京墨汁止之，次用歸尾、紅花（各三錢），水煎服。又方魚鰾（炒），新綿（煅），等分研末，每二錢米飲調下。</p>
<p>經行黃色，用老茄子陰乾，研末酒下。</p>

<h3>崩淋</h3>
<p>（崩，血大至也；淋，血出淋漓不斷也。此淋字與男子血淋不同，男子血淋由溺竅出，此淋由衝脈出。若女人溺血，不可謂之淋，治法亦與男子溺血同）</p>
<p>荊芥穗於麻油燈上燒焦研末，每二錢童便下，或用甜杏仁之皮（但用皮，不用仁），煅存性研，每三錢溫酒下。</p>
<p>香附去毛，炒焦研末，溫酒下二錢。極重者三錢，米飲下亦可。</p>
<p>黃芩末三錢，以鐵秤錘燒紅淬酒中，取酒調服，血熱妄行者宜此。</p>

<h2>胎前諸證</h2>

<h3>保胎</h3>
<p>紅蓮子　青苧麻（洗去膠）　白糯米（各三錢）　水一鍾煎減半，每日侵晨服，自懷妊兩月服起，至六個月，無墜胎之虞，名安胎飲子。</p>
<p>頭二蠶繭，黃陰陽瓦煅微焦，（不可過性。）研細，每三錢龍眼湯下，每月飲一服，保無墜胎之虞。</p>

<h3>胎動</h3>
<p>淡竹瀝服一杯。</p>

<h3>胎熱</h3>
<p>紋銀（五兩），蔥白（三寸），水煎去滓，入阿膠（五錢）烊服。</p>

<h3>腰痛</h3>
<p>當歸、川芎（各三錢），切如米，銀器中煎三四沸，入青竹茹（一錢），再煎三四沸去滓，入阿膠（錢半），俟烊服。</p>

<h3>胎漏</h3>
<p>生地黃煎服。</p>

<h3>溺血</h3>
<p>豆醬（熬干）　生地　等分研，每一錢米飲下。</p>
<p>夫指甲煅研酒下。</p>

<h3>吐衄</h3>
<p>馬勃研細末，米飲下一錢。</p>

<h3>惡阻（嘔吐也）</h3>
<p>香附（二兩），藿香葉、甘草（各二錢），為末，每二錢淡鹽湯下。</p>
<p>又方：竹茹（三錢），陳皮（一錢），煎服。</p>

<h3>心痛</h3>
<p>鹽燒赤酒服一錢。</p>

<h3>子煩</h3>
<p>黃連末酒服二錢。</p>

<h3>子嗽</h3>
<p>川貝母（去心），麩皮同炒黃，去麩研，砂糖丸彈子大，含咽。</p>

<h3>子腫</h3>
<p>冬瓜湯恣飲，或用冬瓜皮煎湯服。</p>

<h3>子懸</h3>
<p>香附炒研，紫蘇湯下一二錢。</p>

<h3>子癇</h3>
<p>縮砂仁帶殼炒黑研，米飲下二錢。</p>

<h3>子淋</h3>
<p>（小溲淋閉也）</p>
<p>地膚子或冬葵子煎湯飲。</p>

<h3>熱病護胎</h3>
<p>伏龍肝研，水調塗臍方寸，干再上。</p>

<h3>毒藥傷胎</h3>
<p>生白扁豆去皮研，米飲下三錢，或煎濃汁飲。</p>

<h3>胎上衝心</h3>
<p>蔥白十四莖，煎濃飲之，生胎即安，死胎即下。</p>
<p>蒲桃一兩煎汁服，或用其根葉亦可。</p>

<h3>胎墮腹痛</h3>
<p>（此非正產，故列胎前）</p>
<p>血出不止，羚羊角燒灰，豆淋酒調服三錢。</p>
<p>丹參五錢煎服。</p>

<h3>半產善後</h3>
<p>屢屢半產者，產後即用桂枝、丹皮、赤芍、桃仁、茯苓等分，生研，醋曲糊丸梧子大，每二十丸，紫花益母草三錢煎湯下，名蕩瘀丸。服至七朝，再用生地（切碎，同姜炒，去姜）　丹參（去頭尾，酒洗，炒，各四兩）　全當歸（醋炒）　阿膠（蒲黃炒，各三兩）　四制香附　赤芍（酒炒，各二兩）　川芎（童便炒）　陳艾絨（雞子二枚同煮，水乾炒黑，各一兩）　共研末，酒麵糊丸梧子大，每服二十丸，名玉環丸。八朝起服至十四朝，嗣後有孕，宜服安胎飲子。</p>

<h2>臨產諸證</h2>
<p>（暑月房中宜置清水一二盆，嚴寒宜置火盆）</p>

<h3>調氣易生</h3>
<p>香附（制，四兩）　縮砂仁（炒，三兩）　甘草（炙，一兩）　為末，每二錢米飲下，氣滯者臨月服之，名福胎飲。</p>

<h3>滑胎易產</h3>
<p>車前子或冬葵子為末，酒服二錢。</p>
<p>白蜜（一兩），麻油（五錢），煎數十沸溫服。</p>

<h3>難產不下</h3>
<p>雲母粉（五錢），溫酒服，入口即產，不順者即順。</p>
<p>魚鰾五錢，煅存性研，酒下。</p>
<p>當歸（一兩五錢），川芎（五錢），為末，以黑豆炒焦，入流水、童便各一盞煎減半調服。</p>

<h3>產時不順</h3>
<p>手足先出者，急令產母仰臥，略以鹽半分，塗兒手心，（足出者塗足心，）仍抹油輕輕送入，推上扶正，待兒身轉，頭出自下。</p>

<h3>娩時腸出</h3>
<p>（俗名盤腸生）</p>
<p>半夏末搐鼻中，腸自上。</p>
<p>麻油潤大紙拈，點火吹滅，以煙燻鼻，亦上。</p>
<p>濃煎黃耆湯浸其腸，亦自上。</p>

<h3>息胞</h3>
<p>（俗曰胞衣不下）</p>
<p>小麥、赤豆煮濃汁飲，兼治橫生逆產。</p>
<p>草紙燒煙燻產母鼻。</p>
<p>荷葉炒香為末，沸湯或童便下二錢，亦可煎服。兼治產後瘀血上衝，心痛欲死。</p>

<h3>死胎不下</h3>
<p>牛屎熱塗產母腹上臍下，立出。</p>
<p>以艾炷如谷大，灸右足小指立下。</p>
<p>生半夏、白蘞等分為末，水丸梧子大，榆白皮煎湯下五十丸。</p>

<h2>產後諸證</h2>

<h3>止暈</h3>
<p>半夏末丸如豆大，納鼻中。</p>
<p>熱童溺灌之。</p>
<p>鐵器燒赤，淬醋熏之，凡產婦房中必須備醋也。</p>

<h3>行瘀</h3>
<p>生藕搗汁燉溫服。</p>
<p>益母草煎湯，和熱童溺服。</p>
<p>痛甚者，山楂兩許煎服。</p>

<h3>鼻衄</h3>
<p>荊芥穗焙研，熱童便調下二錢，並治產後迷悶。</p>

<h3>痙</h3>
<p>（角弓反張，俗名產後驚風）</p>
<p>荊芥穗焙研，每服二錢，以黑豆炒焦，乘熱入醇酒中，取酒調下。口噤者，撬開齒灌之，甚則灌其鼻中。</p>

<h3>煩悶寒熱</h3>
<p>羚羊角燒研，酒服二錢。</p>

<h3>不語</h3>
<p>生白礬末一錢，熟水下。</p>

<h3>搐搦</h3>
<p>不可作中風治，以魚鰾（蛤粉拌炒焦，去粉），研末，每三錢，蟬蛻煎湯下。</p>

<h3>產門不閉</h3>
<p>石灰炒熱，焠湯熏之。</p>

<h3>產門受風</h3>
<p>紅腫作痛，以羌活、防風、陳艾各一兩，煎湯熏洗，次用蔥白杵爛，入乳香末烘熱貼患處，勿洗去。（若非夏月不洗而貼亦可，恐洗時復受風也。）</p>

<h3>產門受傷</h3>
<p>亦作腫而疼，此由兒大，或收生不妥，或天時暑熱亦有此患。然此則產下即患，不比受風者數日後始覺也。取蚌肉濕草紙包煅，研末糝之。</p>
<p>輕者桃仁煅研敷。</p>

<h3>陰脫</h3>
<p>硫黃、海螵蛸（各五錢），五倍子（二錢五分），研敷。</p>

<h3>脬墜</h3>
<p>黃連、狗脊、五倍子、澤蘭、枯礬（各一錢），為末，煎湯，先熏後洗，乘熱輕輕托進。</p>

<h3>子宮墜</h3>
<p>先用淡竹根煎湯洗淨，次以五倍子、白礬為末糝之。</p>

<h3>帶下</h3>
<p>羊肉（二斤），淡豆豉、大蒜（各三兩），水一斗，煮減半，去渣，入酥（一升），更熬至二升，頻服。</p>

<h3>遺溺</h3>
<p>豬脬、豬肚（各一具，洗淨），糯米（五合），入脬內，更以脬入肚內，加鹽醬煮食。</p>

<h3>血多不止</h3>
<p>烏雞子（三枚），醋（半盞），酒（二盞），和攪，煮取汁（一盞），分四服。</p>
<p>百草霜三錢，研酒下。</p>

<h3>崩中</h3>
<p>蓮蓬殼（五個），香附（二兩），各煅存性研，每服二錢，米飲下，日二。</p>

<h3>煩渴</h3>
<p>煉白蜜，白湯調服即止。</p>

<h3>虛羸</h3>
<p>羊脂（二斤），生地汁（一斗），薑汁（五升），白蜜（三升），煎如飴，溫酒服一杯，日三。</p>

<h2>乳病</h2>

<h3>無乳</h3>
<p>黃耆（五錢），七星豬蹄（一隻），煮爛食。</p>
<p>赤沙糖煮豆腐，以醇酒下之。</p>
<p>羊肉（二斤），黃耆（八兩），乾地黃、歸身、川斷（各四兩），牛膝（二兩），同煮爛絞濃汁，入白蜜（四兩），再熬如飴，每溫酒服一匙，日三。</p>

<h3>乳塞</h3>
<p>絲瓜連子煅存性研，酒服三錢，被覆取汗即通。</p>
<p>萵苣子、糯米（各一合），研細，水一碗，入甘草末三分攪勻煎，頻頻細口呷服。</p>

<h3>妒乳（乳塞不通而皮癰也）</h3>
<p>蒲公英煎濃汁服，並搗敷患處。</p>
<p>黃柏研細，雞子清和厚塗之。</p>
<p>雄鼠屎二十一粒，豆腐皮包，酒吞下，日三。</p>

<h3>吹乳成癰</h3>
<p>豬板油一斤，冷水浸貼，熱即易。</p>
<p>鮮蟹一隻，搗爛，醇酒燙熱沖服。</p>
<p>橘紅麵炒令黃，研末二錢，加麝香二釐酒下。</p>

<h3>乳癤</h3>
<p>梳垢丸如梧子五枚，豆腐皮包，溫酒下。</p>

<h3>乳毒</h3>
<p>龜板燒研酒服，四服。</p>

<h3>乳瘡</h3>
<p>脂麻炒焦研末，燈盞油調塗。</p>

<h3>乳結</h3>
<p>百藥煎研末，每三錢，酒一盞，煎數沸服。</p>

<h3>乳岩</h3>
<p>青皮四錢，水或酒一盞半，煎一盞，徐徐服之，日一服。</p>

<h3>乳裂</h3>
<p>丁香末敷。</p>
<p>胭脂、蛤粉等分研敷。</p>

<h3>回乳</h3>
<p>大麥芽炒為末，每五錢白湯下。</p>

<h2>癥瘕</h2>

<h3>內治</h3>
<p>五靈脂（一斤），香附（去淨毛，一斤，水浸一日），牽牛（黑白各取頭末，二兩），以一半於末研之，先微火炒熟，一半生用，共研細末和勻，醋糊丸，蘆菔子大，每七八分或一錢，臨臥薑湯下，次早再服，其病即愈。兼治痰積食積，氣滯成瘕，蠱膈腫脹，實痢初起，諸般痞聚，有形攻痛之證，名五香丸。孕婦忌服，小兒減半，虛人慎用。</p>
<p>香附（槌碎，童便浸，四兩）　青皮（切，四兩，用硝石五錢化水浸）　丹參（切，二兩，薑汁浸）　鬱金（敲碎，二兩，以生礬五錢化水浸）　共研末，醋糊丸麻子大，曬乾灑上阿膠水，搖令光澤，再將人參、當歸、川芎（各一兩），白朮、茯苓、半夏（各二兩），陳皮、炙甘草（各五錢），研末，用米飲泛在丸上作外廓，曬乾，每三錢開水下。此治虛弱人患癥痞痃癖，不堪攻下者，用此緩消之法，不傷正氣，乃女科之要方也。蓋婦人多患此證，粗工妄用峻劑，每致傷人，庸流偏於養正，病不能除，往往為終身之患，而不能受孕，再錄外治諸方如下，以便採用。</p>

<h3>外治</h3>
<p>蛇床子（四錢），母丁香、肉桂、杏仁、白及、吳萸、菟絲子、北細辛、薏苡仁、砂仁、牡蠣、川椒（各三錢），麝香（少許），研末，生蜜丸櫻桃大，每一丸納入玉門中，名金鳳銜珠。兼治行經腹痛，虛寒帶下，經遲色淡，玉門寬濕，並男子陽事不舉，遺濁精寒諸證。</p>
<p>川椒、皂角（各一兩），細辛（一兩五錢），為末，以三角囊大如指者，長二寸，貯之，納陰中，欲便則出之，便已復納之，癥化惡血而下，以溫湯洗之，三日弗近男子。</p>
<p>青鹽、皂角（炙，各五錢），細辛（一兩），治法如前，癥化如菜汁而下，養亦如前。</p>
<p>大黃、當歸（各五錢），皂角、山茱萸（各一兩），細辛、青鹽（各二錢半），研末，豬脂丸指大，每一丸棉裹納陰中，正坐良久，癥即化。</p>
<p>辣蓼（須極大者一株，連根帶子銼碎）　京三稜　石三稜　草三稜（各一兩，並銼）　亂髮（二斤）　鱉甲（大者十二具，敲碎）　藍青（十二株，連根帶葉杵爛，無則以靛青腳曬乾代）　共曬乾水氣，以麻油十斤浸之，春秋二十日，夏十日，冬一月，熬至藥枯為度，凡油一斤，配飛淨血丹四兩，多少看天時增減，桃柳枝不住手攪至滴水成珠，傾入冷水內，拔去火氣，捻作大團，堆三尺土下百日，後可攤貼，以消諸痞。</p>
<p>陳醬茄煅存性，入麝香、輕粉少許，研勻，豬油調貼。</p>

<h2>隱疾</h2>

<h3>陰冷</h3>
<p>乾薑、牡蠣（各一兩），為末，火酒調稠，搽兩手上揉兩乳，男子則揉外腎。</p>
<p>白礬（一錢），黃丹（八分），胡椒（二分），焰硝（一分），共研細，醋調塗，右手合隱處，男子陰冷則塗，左手合之。</p>
<p>川椒、吳萸為末，煉蜜丸彈子大，棉裹納陰中，日再易之。</p>

<h3>陰脫</h3>
<p>蛇床子（五兩），烏梅（十四枚），煎湯，日洗五六次。</p>

<h3>陰腫</h3>
<p>甘菊葉杵爛，煎湯熏洗。</p>

<h3>陰痛</h3>
<p>青布裹炒鹽熨之。</p>
<p>枯礬、甘草等分為末，棉裹納陰中。</p>

<h3>陰腫痛</h3>
<p>生地、當歸、川芎、白芍、乳香等分，搗成餅，納陰中。</p>

<h3>陰癢</h3>
<p>蛇床子（一兩），白礬（二錢），煎湯頻洗。</p>
<p>桃仁泥或雄黃末，棉裹納陰中。</p>

<h3>陰瘡</h3>
<p>桃葉杵爛，棉裹納陰中。</p>

<h3>陰蝕</h3>
<p>肥豬肉煮汁頻洗。</p>

<h3>陰䘌</h3>
<p>甘草、乾漆（各三錢），黃芩、生地、當歸、川芎（各二錢），炙鱉甲（五錢），煎湯頻洗。</p>
<p>桃仁（一錢），雄黃、苦參、青葙子、黃連（各二錢半），研末，生艾汁丸如小指大，納陰中。</p>

<h3>下疳</h3>
<p>先用荊芥、蛇床子煎湯洗拭，次以黃丹、枯礬、萹蓄、藁本（各一兩），硫黃、荊芥、蛇床子（各五錢），蛇蛻（一條，煅），共為末，麻油調搽。</p>

<h3>陰痔（俗名茄子疾）</h3>
<p>枳殼煎湯熏洗，並研枳殼末，棉裹納陰中。</p>

<h3>陰㿗</h3>
<p>隨證之左右，取穿山甲之左右邊者，炒為末，酒下二錢。</p>

<h3>陰挺</h3>
<p>藜蘆為末，豬油調塗，日易，兼消一切胬肉，如菌突出。</p>
<p>冰片（五錢），鐵粉（一錢），水調塗。</p>
<p>茄根燒存性研，油調塗紙上，捲筒插陰中，日易。</p>

<h3>陰傷</h3>
<p>交接違禮，及他物所傷，血出不止者，青布燒灰，或五倍子末，或發灰，或釜底墨，皆可糝之。</p>

<h1>丁集</h1>

<h2>幼科通治</h2>

<h3>初生</h3>
<p>欲斷臍帶，必以艾絨為燃，麻油浸濕，熏洗臍帶至焦方斷。束臍用厚綿軟帛束緊，勿令沾濕，可免臍風。冬寒浴不宜早。浴兒湯中用豬膽汁一枚，永不患瘡。</p>

<h3>無皮</h3>
<p>粳米粉周身撲之，若夏月但於泥地上臥之。</p>

<h3>囟腫</h3>
<p>黃柏末，水調貼兩足心。</p>

<h3>無竅</h3>
<p>穀道無竅，兒啼不止者，竅在膜里也，以金刀（銀刀亦可。）割開外膜即愈。女子有前陰無竅者治同。更有鼓女，前陰膜鞔如鼓，雖有小孔通溺，礙於人道，又名實女，古人列為五種不男之一。幼時宜用鉛作鋌，日日紝之，久久自開，無異常人。</p>

<h3>便閉</h3>
<p>大小便不通，用麻油一兩，入芒硝少許，煎滾冷定，徐徐滴入口中，嚥下即通。</p>
<p>以溫水漱口，吸咂小兒前後心，並兩手足心，得紅赤色即通。</p>

<h3>開口</h3>
<p>落地周時（足一日也，）方可開口，先以大黃、黃連、甘草（各五分），煎汁，滴入口中數匙，次以豬乳燉飲之，（月內常飲豬乳最良。）如口內上齶牙根，看有白泡子，即以銀針挑破，再用京墨搽之，遲則不救。三朝用濃米飲哺數口，以助穀神。</p>

<h3>鵝白</h3>
<p>白礬、硃砂（各二錢半），馬牙硝（五錢），研極細，先拭淨兒口，以水調塗之。</p>

<h3>臍風</h3>
<p>全蠍（二十一個，去頭尾，酒塗炙），麝香（少許），各研細和勻，每二分半，麥冬湯調服。</p>

<h3>臍瘡</h3>
<p>黃柏或龍骨末敷。</p>
<p>胭脂、海螵蛸研末，油調搽。</p>

<h3>臍瘡變癇</h3>
<p>黃連（二錢半）　鉛粉　龍骨（煅，各一錢）　各研細和勻，頻以少許敷臍中。</p>

<h3>臍突囊腫</h3>
<p>大黃、牡蠣（各五錢），朴硝（二錢），研末，每一二錢，以田螺一枚，洗淨浸一宿，取水調塗。</p>

<h3>臍風撮口</h3>
<p>生地、生薑、蔥白、蘆菔子、田螺肉共搗爛，塗臍四圍一指厚，抱住，泄矢氣而愈。</p>
<p>若噤口者，用蜈蚣（一條，酒炙），蠍梢（四條），殭蠶（七條），瞿麥（五分），為末，每少許吹鼻中取嚏，啼哭者可治，即以薄荷湯二分半。</p>

<h3>臍爛</h3>
<p>哆囉呢、羽毛緞、嗶吱、絨洗、絨褐子，皆可燒灰研末，厚糝包好，勿使見風，如濕再糝。用大紅色者尤良。</p>
<p>杏仁去皮研敷。</p>

<h3>遊風</h3>
<p>生麻油塗。</p>
<p>生綠豆（五錢），大黃（二錢），為末，蜜調塗。</p>
<p>丹從臍起，醋調檳榔末敷。</p>

<h3>胎毒</h3>
<p>初生時以韭汁少許灌之，即吐出惡血惡水，永無諸疾。</p>
<p>淡豆豉煎濃汁，與三五口，其毒自下，又能消乳食。已發瘡者，用麻油（三兩），煎鮮嫩槐枝（六兩），熬枯去渣，以鉛粉（一兩），石膏（煨，三錢），輕粉（一錢），研勻，入油內蒸熟調搽，或用輕粉研細，桐油和塗。</p>

<h3>胎熱</h3>
<p>黑豆（二錢），甘草（一錢），燈心（七寸），鮮竹葉（一片），水煎服。</p>
<p>眼瞎者，蚯蚓泥杵爛塗囟門，干則易。</p>

<h3>胎寒</h3>
<p>晝夜啼哭不止成癇，當歸末一小豆大，乳汁灌之，日夜三四度。</p>
<p>白礬煅半日研末，棗肉丸黍米大，每乳下一丸，愈乃止。</p>

<h3>乳癖</h3>
<p>乳停不化，膈下硬如有物，用白芥子研末，水調攤膏貼之。</p>
<p>飲乳過多，脹悶欲睡，用麥芽煎濃汁服。</p>

<h3>吐逆</h3>
<p>黃丹研末，紅棗肉丸芡實大，每以一丸，銀針簽於麻油燈上燒過，研細，乳汁調下。</p>
<p>半夏（三錢），糯米（一錢），生薑（一片），紅棗（三枚），煎服。</p>

<h3>吐瀉</h3>
<p>口渴者，芹菜切細，煮濃汁飲。</p>
<p>不渴者，橘紅、丁香等分研，煉蜜丸黃豆大，米飲化服一丸。</p>

<h3>癇</h3>
<p>緊小乾蠍（四十九枚），每一蠍以四葉薄荷包合，棉線系之，火炙焦去線研末，每服三豆許，金銀湯下。三歲者用六豆許，以此遞加。若以硃砂、麝香少許調服更良，亦治胎驚。</p>

<h3>痰火閉（俗名急驚風）</h3>
<p>若搐搦身仰之時，不可用力緊抱，但以手扶，聽其自抽自止，庶不傷筋絡而成廢人。先用通關散吹鼻取嚏，次以竹瀝，或梨汁，或石菖蒲汁，皆可灌之，火降痰消則病自已。或取貓尾血數匙，開水沖服。</p>
<p>天竺黃、石菖蒲等分研末，甘草、木通湯下一二錢。</p>
<p>芭蕉、薄荷各搗汁煎，勻塗頭頂，留囟門，塗四肢，留手足心勿塗。</p>

<h3>木侮土（俗名慢驚風）</h3>
<p>此由吐瀉之後，脾胃虛弱，肝木乘之，故神氣懨懨不振，手足微搐無力，糞色青白，面色痿黃，宜用參苓白朮散，或異功散加藿香、煨姜，甚者加木香、肉桂。若手足冷，唇白息微，元氣欲脫也，急用附子理中湯尚可挽回，然變之速者，用藥稍緩，即不濟事，未可概云其慢也。莊氏《福幼編》所論正是此證。惟此等證必用此法，世俗執一方而謂可治急慢驚風，不可信也。</p>

<h3>驚嚇</h3>
<p>猝遇大驚大嚇，小兒氣血未足，神魂震怖，舉動失常，此真驚也，宜服鎮心化痰之藥。陳膽星（九分），辰砂（水飛，一分），同研，以竹瀝半杯，生薑汁一小匙調勻。另用麥冬（一錢），橘紅（八分），薄荷腦（一分），煎湯衝入和服。</p>
<p>密陀僧研細末，茶清調服一錢。</p>
<p>鵝腹毳毛，為衣被絮柔暖，宜於小兒，可闢驚癇。</p>

<h3>囟陷</h3>
<p>烏頭、附子並生用，去皮臍，（各二錢），雄黃（八分），為末，蔥白汁和貼陷處。</p>

<h3>解顱</h3>
<p>天南星炮去皮，為末，醋調緋帛上，貼顱門，炙手頻熨之。</p>

<h3>發遲</h3>
<p>陳香薷煎濃膏，和豬脂頻塗。</p>

<h3>語遲</h3>
<p>赤豆研末，酒調塗舌下。</p>

<h3>行遲</h3>
<p>五加皮（五錢），牛膝、木瓜（各二錢），生研為末，每五分，米飲入酒二三滴，調服。</p>

<h3>食積</h3>
<p>五穀蟲研末，入甘草末少許，米糊丸梧子大，每十丸，米飲下或調服。</p>

<h3>疳</h3>
<p>疳者，干也，小兒忌食香燥乾硬諸物。疳字從甘，弗食甘酸果品諸雜物，自不成疳。惟柿樹不生蟲，故小兒初進穀食，宜以乾柿飯上蒸熟嚼飯喂之，則無疳蟲脹瀉諸疾。</p>
<p>立秋後取大蟾蜍去手足、皮、腸，麻油塗之，陰陽瓦炙熟，食五六枚，並殺蟲積。</p>
<p>綠礬煅赤，醋淬三次研末，棗肉丸綠豆大每十丸，白湯下，日三。</p>

<h3>疳瘡</h3>
<p>身面爛成孔臼者，蒸糯米取滴下氣汗水掃之。</p>
<p>嚼脂麻敷。</p>
<p>鉛粉研末，豬油調搽。</p>

<h3>牙疳</h3>
<p>五倍子一個，不破者於頂上開一孔，去其穰，以蘆薈研細填滿，更入生蟾酥少許，以厚紙面糊封好，文武火煅存性，放泥地去火氣，以雄黃、麝香（各少許），共研細末，每用少許糝之。咽津無妨。</p>
<p>蘆薈、青黛、黃柏、雄黃等分為末，加麝香少許糝貼。</p>
<p>銅綠、杏仁、滑石等分為末，擦之。</p>

<h3>疳眼</h3>
<p>海螵蛸、牡蠣等分為末，每三錢同豬肝一兩，泔水煮食。</p>

<h3>蟲積</h3>
<p>每月上旬，日食生榧肉最妙，殺蟲而不傷元氣也，蠶蛹炒食亦良。</p>

<h3>溺床</h3>
<p>龜溺滴臍中。</p>

<h2>痘疹諸證</h2>

<h3>免痘</h3>
<p>白鴿卵一對，入竹筒內封，置糞缸中半月，取出以卵白和辰砂二錢，丸綠豆大，每三十丸，三豆湯下。雞子十五枚，於冬至日屋內掘坑埋之，立春日取起，每日綠豆湯煮食一枚，依法服三年。</p>
<p>橄欖三斤，連核焙乾研細，每日拌粥飯食之。</p>

<h3>稀痘</h3>
<p>當歸、川芎、升麻、甘草（各六兩），銼粗末，於臘月初八日，取東流水（井水、天泉皆不用。）七大碗，煎至三大碗，去渣，再選明淨完體辰砂四兩，盛細絹袋內，以線扎口，懸系新砂鍋內，約離鍋底一指，將藥汁入鍋，用桑柴慢火，煮至汁盡，取起研細末，瓷瓶收藏。另用淘淨好糯米半升，控干米泔，以鹽滷和黃土包米為團，入炭火內煅令通紅，取出冷定劈開，揀米粒色黃有性者，亦為細末，別裝瓷瓶收置。凡小兒一歲足者，用辰砂末、米末各一分，（分數依歲遞加，）白蜜一茶匙，米湯半杯，醇酒三匙，合二末調勻，以茶匙徐徐喂服，未出者兔出，已見點者出亦稀少，陷沒者片時即起，合藥一料，施送可救數百人，名順流丹。惟合時須焚香齋沐淨室吉人，勿令雞犬、陰宦、孝服、殘疾、穢病人見，慎之珍之。</p>

<h3>預解</h3>
<p>時痘流行，恐其舉發，用生麻油一盞，以水一盞，旋傾入油內，柳枝攪稠如蜜，每服二三蜆殼，大人服一盞，但使大便快利，毒自去矣。</p>
<p>雞子一枚，童溺浸七日，水煮食之。</p>
<p>老絲瓜近蒂者三寸，連皮煅存性研，砂糖湯調服，即出亦稀。</p>

<h3>痘發不快</h3>
<p>韭根煎湯服。</p>
<p>蘆菔子生研，米飲服二錢。</p>
<p>荸薺汁、白酒釀，調勻溫服。</p>

<h3>煩渴</h3>
<p>炙甘草、天花粉等分煎服。</p>

<h3>狂亂</h3>
<p>六一散加硃砂（二分），冰片（三分），麝香（一分），燈心湯下。</p>

<h3>黑陷</h3>
<p>生犀角、生玳瑁（各一錢），同磨汁，入豬心血少許，紫草湯五匙和服。</p>
<p>箬葉灰（一錢），麝香少許，酒調服。</p>

<h3>作癢</h3>
<p>房中燒茶葉熏之。</p>
<p>蟬蛻（二十一個），甘草（炙，一錢），水煎服。</p>
<p>上好白蜜湯，和以翎頻刷。</p>

<h3>潰爛</h3>
<p>枇杷葉煎湯洗。</p>
<p>黑大豆研末敷。</p>
<p>蕎麥粉敷。</p>

<h3>生蛆</h3>
<p>嫩柳葉鋪席上，臥之蛆盡出。</p>

<h3>痘發咽喉</h3>
<p>生蒡子（二錢），桔梗（一錢），甘草（七分），煎服。</p>

<h3>目生翳障</h3>
<p>黑大豆、綠豆、赤豆（各三斤），枸杞子、甘菊花（去蒂，各八兩），俱洗淨，用甘泉水煎三次去渣，重綿將汁濾清，瓷罐內慢火熬膏，收淨水氣，入煉白蜜四兩攪勻，收瓷瓶內，每服一瓢，挑於口內，開水下。</p>
<p>白菊花、穀精草、綠豆皮等分為末，每一錢，以乾柿餅一枚，粟米泔一盞，同煮乾，食柿，日三。極重者半月而痊。亦治疹後目疾。</p>
<p>豬蹄爪甲煅灰，泡湯濾淨洗之。</p>

<h3>痘疔</h3>
<p>雄黃（一錢），紫草（三錢），為末，胭脂汁調，先以銀簪挑破搽之。</p>

<h3>痘毒</h3>
<p>初起用綠豆、黑豆等分為末，醋調頻塗。</p>
<p>已爛者，桕樹根皮為末，麻油調搽。</p>
<p>糯米粽尖，焙灰冷定，同百草霜研勻糝之。</p>

<h3>痘後生瘡</h3>
<p>生黃豆研末，麻油調搽。</p>

<h3>痘不落痂</h3>
<p>白砂糖湯點服。</p>
<p>雞子黃炒油，雞翎蘸掃。</p>

<h3>痘瘢</h3>
<p>密陀僧研細，人乳調，夜塗旦洗。</p>

<h3>麻疹不起（杭人呼為瘄子）</h3>
<p>脂麻（五合），杵碎，沸水泡，乘熱熏頭面。</p>

<h3>疹後咳嗽</h3>
<p>枇杷葉煎濃汁，點白蜜少許服。</p>

<h3>疹後㾩瘡</h3>
<p>鹽酒浸桃葉擦之。</p>

<h3>麻勞</h3>
<p>（疹瘄後不慎口腹，或誤服溫補所致）</p>
<p>秫米煎湯頻服。</p>

<h3>將養</h3>
<p>陳米（清胃）、黃土（養脾）、嫩竹葉（清熱）、蘆菔子（化積）、薄荷葉（去風）、燈心（降火）、麥芽（運食），以上隨證所主者多用，其餘次之。每服三錢，袋盛煮湯，任意渴飲，名七味保嬰湯，調養脾胃，善治泄瀉。凡小兒痘疹諸病後，皆宜仿此調理，切弗浪施溫補，致釀他證。如大便燥結者，可於湯內調入白蜜少許。</p>
