<header data-type="book">
<h1>劍慧草堂醫案</h1>
<dl class="元資料" hidden>
<div><dt>作者</dt><dd>臥雲山人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>咳嗆</h2>
<p>（案1）肺移熱於大腸，咳嗆便溏，身熱渴飲，舌糙，脈右數帶滑。仍以宣豁。</p>
<p>鮮金斛　知母　鬱金　象貝　蘇子　葶藶　蘆根　甜花粉　生草　杏仁　枳殼　萊菔　茯神　絲瓜絡</p>
<p>（案2）痰濕內留絡道失宣，咳嗆肋痛。痰出不爽，脈沉弦。由氣虛飲勝所致，法以通絡導痰。</p>
<p>旋覆　橘絡　冬瓜子　杏仁　蘇子　川貝　枳殼　歸鬚　新絳　苡仁　鬱金　半夏　雲苓　竹茹　絲瓜絡</p>
<p>（案3）陰虛生熱，肺金失肅，咳嗆肋痛，氣滯輒脹，脈小數。從金鬱泄之、木鬱達之治法。</p>
<p>川鬱金　川貝　橘紅絡　苡仁　桑葉　茯苓　荷葉　川樸花　川斛　炒蘇子　佩蘭　山梔　澤瀉　竹茹（玫瑰花制）</p>
<p>（案4）肺虛火盛，咳嗆氣促，脅肋引痛，胃納式微，便結溲澀，脈小數。法當降肺氣以清痰火。</p>
<p>紫石英　海石　粉沙參　白前　知母　淡草　枇杷葉　茯苓　靈磁石　代赭（旋覆拌）　黛蛤散　紫菀　石膏（冰糖煅）　牛膝　絲瓜絡</p>
<p>（案5）久咳不已，肺元自虛，陽明生氣因此不振，杳不思納，舌白膩，脈濡小。姑先降肺理胃</p>
<p>粉沙參　白前　冬瓜子　杏仁　知母　佩蘭　茯苓　黛蛤散　紫菀　苡仁　川貝　川斛　生穀芽　竹茹（玫瑰花制）　枇杷葉</p>
<p>（案6）痰熱內留，肺胃失宣。</p>
<p>冬瓜子　杏仁　扁石斛　佩蘭　蘇子　橘紅　蘆根　苡仁　象貝　茯苓神　山梔　萊菔　半夏　竹茹</p>
<p>（案7）痰火留肺，肺失清肅。</p>
<p>旋覆　淡草　冬瓜子　杏仁　茯神　橘紅絡　代赭　蘇子　苡仁　川貝　鬱金　枇杷葉　竹茹</p>
<p>（案8）濕熱不澈，陽明受灼，咳嗆痰少，脈濡弦。當治少陰、陽明。</p>
<p>桑葉　山梔　扁斛　苡仁　半夏　青陳皮　天麻　丹皮　旱蓮　佩蘭　枳殼　澤瀉　茯苓神　竹茹　忍冬藤</p>
<p>（案9）痰火留肺，肺氣膹郁，咳嗆氣粗，脈沉弦。以瀉肺法。</p>
<p>葶藶　淡草　蘇子　橘紅絡　雲苓　海石　枇杷葉　杏仁　旋覆（代赭拌）　萊菔　黛蛤散川貝　牛膝　竹茹</p>
<p>（案10）痎瘧復感咳嗆，身熱脘悶，脈右數。治先宣上。</p>
<p>前胡　杏仁　冬瓜子　象貝　蘇子　鮮斛　橘紅絡　枯芩　鬱金　苡仁　牛蒡　萊菔　鉤鉤　絲瓜絡　蘆根</p>
<p>（案11）迭歲咳嗆，肺氣膹郁，氣滯成疝，少腹攻痛，脈濡弦。以肝肺同治。</p>
<p>旋覆　蘇子　冬瓜子　苡仁　象貝　豬茯苓　川楝　鬱金　歸鬚（茴香八分拌）　橘紅絡　杏仁　澤瀉　車前子　竹茹</p>
<p>（案12）痰濕內留，肺胃失宣。絡道被蒙，脅肋抽痛，脈弦小數。以通絡導痰法。</p>
<p>旋覆　橘絡　杏仁　蘇子　知母　冬瓜子苡仁　歸鬚　新絳　鬱金　鼠黏子　川貝　絲瓜絡　竹茹</p>
<p>（案13）陰虛濕鬱化熱，肺金失肅，咳嗆自汗，脈右數。以千金方。</p>
<p>冬瓜子　苡仁　桑葉　川石斛　知母　茯苓　橘紅絡　廣鬱金　杏仁　旱蓮　穭豆衣　川貝　地骨　竹二青</p>
<p>複方　久咳不已，肺火自旺，清肅失司，脈右數。以西昌法。</p>
<p>粉參　炒杏仁　蘇子　黛蛤散　桑葉　知母　豬牙皂　石膏（冰糖煅）　生甘草　葶藶　炙紫菀　白前　川貝　枇杷葉</p>
<p>（案14）內有鬱火，外易招風，風活相煽，肺胃受灼，咳嗆痰多，脈右滑數。治宜宣豁。</p>
<p>冬瓜子　杏仁　知母　鬱金　蘇子　佩蘭　忍冬藤花　苡仁　象貝　瓜蔞（仁杵）　原斛　橘絡　牛蒡　竹二青</p>
<p>（案15）咳嗆不已，肺火自旺，脈右數。由陰虛生熱所致。以瀉白法。</p>
<p>桑皮　地骨　銀胡　蒿子　川貝　穭豆　苡仁　生草　知母　竹茹　功勞子</p>
<p>久咳不已，肺陰自耗而咳逆，身熱盜汗，脈右小數。當以瀉白法。</p>
<p>桑皮　地骨　葶藶　蘇子　知母　鬱金　秦艽　苡仁　淡草　杏仁　蒿子　川貝　旋覆　鱉甲　功勞子</p>
<p>複方　咳嗆已平，嘔逆較減，近復感寒，著食腹痛便血，脈弦小數。先治其標，後治其本。</p>
<p>藿香　芸曲　鬱金　訶子　銀胡　蒿子功勞子　制樸　橘紅　炒杏仁　川貝（炒黃）　白芍　地骨　竹茹</p>
<p>（案16）濕困太陰，身熱咳嗆，脘悶腹脹，脈濡數。當治肝肺。</p>
<p>生白朮　煨枳實　冬瓜子　杏仁　梔皮　鉤鉤　葶藶　生小樸　青陳皮　苡仁　象貝　蟬衣　茯苓　蘇子　竹茹</p>
<p>（案17）濕熱內留，肺胃失宣，咳嗆身熱，脈濡弦。以千金方。</p>
<p>冬瓜子　杏仁　鮮斛　牛蒡　象貝　橘紅絡　山梔　苡仁　鬱金　連翹　鉤鉤　蘇子　辰茯神　蘆根　絲瓜絡</p>
<p>（案18）久咳不已，肺元自虛，痰入絡隧，脅肋抽疼，脈右數。以千金方。</p>
<p>冬瓜子　苡仁　芥子　萊卜　川貝　橘紅絡　廣鬱金　杏仁　蘇子　旋覆　雲苓　絲瓜絡　竹茹</p>
<p>（案19）濕阻氣滯，火爍肺金。</p>
<p>冬瓜子皮　苡仁　鬱金　佩蘭　枳殼　滑石　茯苓（連皮）　竹茹　焦山梔皮　杏仁　原斛　知母　川貝　桑皮　地骨　車前</p>
<p>（案20）衛陽薄弱，外感易侵。</p>
<p>防風　生白朮　杏仁　象貝　牛蒡　茯苓　耆皮　冬瓜子　鬱金　蘇子　苡仁　蘆根　橘紅絡</p>
<p>（案21）傷於風者，上先受之，咳痰薄白，形寒裡熱，脈右小數。當治肺胃。</p>
<p>冬瓜子　杏仁　知母　蘇子　瓜蔞　前胡　蘆根　苡仁　鬱金　川貝　鼠黏子　橘紅　枯芩　竹茹</p>
<p>（案22）痰阻絡痹，咳嗆右脅肋痛，氣逆不能平枕，脈滑數，苔膩。防昏喘。</p>
<p>旋覆　橘紅絡　白芥子　萊卜　杏仁　鮮斛　蘆根　歸鬚　川楝子　炒蘇子（水降香拌）　桃仁（紅藤拌）　浙貝　鬱金　知母　冬瓜絡</p>
<p>（案23）暑風襲肺，肺氣膹郁。</p>
<p>冬瓜子　杏仁　蘇子　牛蒡　通草　知母　蘆根　苡仁　象貝　鬱金　橘紅　六一散　瓜蔞　竹茹</p>
<p>（案24）咳久肺元自虛，痰火膹郁，木叩金鳴，脈右數左弦。以金鬱泄之，木鬱達之。</p>
<p>粉沙參　白前　川貝　橘紅　桑葉　珍珠母　川鬱金　黛蛤散　紫菀　杏仁　淡草　石膏（冰糖煅）　枇杷葉　茯苓</p>
<p>（案25）迭感咳嗆，熱灼飲泛，脈濡弦。當治肺胃。</p>
<p>川鬱金　川貝　橘紅　半夏　滑石　蘇子　薑汁竹茹　川樸花　杏仁　雲苓　枳殼　海石　牛膝　絲瓜絡　白芥子</p>
<p>（案26）傷於風者，上先受之，咳嗆形寒，身熱頭疼。</p>
<p>荊芥　薄荷　杏仁　丹皮　蘇子　炒牛蒡　蘆根　連翹　鉤鉤　鬱金　山梔　滑石　大豆卷　萊菔</p>
<p>（案27）傷於風者，上先受之。</p>
<p>前胡　杏仁　鮮斛　牛蒡　蘇子　象貝蘆根　黑山梔（大豆卷拌）　枯芩　鬱金　連翹　鉤鉤　萊菔　橘紅絡　竹茹　絲瓜絡</p>
<p>複方　痰火上留，肺氣膹郁。</p>
<p>冬瓜子　杏仁　鮮斛　牛蒡　蘇子　萊菔　蘆根　苡仁　鬱金　連翹　鉤鉤　象貝　枳殼　竹茹　蔞仁</p>
<p>（案28）久咳肺火自旺，肺元自虛。</p>
<p>粉沙參　紫菀　桑葉　冰糖煅石膏　川貝　葶藶　茯苓　黛蛤散　白前　玄參　生甘草　杏仁　鬱金　枇杷葉</p>
<p>（案29）肺有鬱火，自覺形寒，脈右數。以西昌法。</p>
<p>玄參　石膏（冰糖煅）　川貝　粉參　桑葉　銀胡　葶藶　知母　淡草　炒杏仁　山梔　丹皮（焙）　白芍　茯苓</p>
<p>（案30）陰虛生熱，肺胃升降失調，脈右數。治以清泄。</p>
<p>玄參　石膏（冰糖煅）　桑葉　山梔　女貞　龜板　茯苓神　知母　生草　丹皮　生地　旱蓮　澤瀉　車前子</p>
<p>藝成診　木火內燔，凌心擾肺，時或咳逆，時或舌疼，脈小弦數。還須怡養。</p>
<p>西洋參　元參　黛蛤散　桑葉　山梔　川連　炒杏仁　連心麥冬　生草　白石英　丹皮　知母　竹茹　枇杷葉</p>
<p>（案31）平木清金，降氣化痰。</p>
<p>紫石英　海石　川貝　蘇子　粉沙參　仙鶴草　旋覆　靈磁石　代赭　杏仁　鼠黏黛蛤散　枇杷葉　淡草　牛膝</p>
<p>前方先錄　自投通絡導痰，疏泄厥陰，如合符節，脈沉濡弦。再從原議出入。</p>
<p>白芥子　蘇子　川鬱金　川楝　生梔皮　通草　扁斛　橘紅絡　萊菔　川樸花　茵陳　川柏皮　滑石　車前</p>
<p>（案32）暑風外襲，引動宿飲，咳嗆痰薄，形寒身熱，脈右數。治以宣上。</p>
<p>荊芥　牛蒡　豆卷　蘇子　杏仁　象貝雲苓　連翹　鉤鉤　黑山梔　萊菔　鬱金　橘紅　蘆根　竹茹</p>
<p>（案33）氣虛濕勝，濕鬱化火，火爍肺金，咳而嘔逆，氣粗肋痛，舌膩，脈弦而數。以千金方。</p>
<p>冬瓜子　杏仁　旋覆（代赭拌）　川貝　橘紅絡　蘇子　澤瀉　苡仁　鬱金　淡草　半夏　茯苓　葶藶　竹茹　絲瓜絡</p>
<p>（案34）肺虛火盛，咳嗆痰稠，時或咯血，脈弦帶芤。當清肺胃。</p>
<p>冬瓜子　杏仁　知母　茯神　桑葉　旱蓮　苡仁　鬱金　川貝　蘇子　丹皮　蔞仁　竹茹</p>

<h2>音嘶</h2>
<p>（案1）風火上凌，金實無聲。</p>
<p>空沙參　元參　桑葉　知母　杏仁　炒蘇子　蘆根　蟬啼殼　生草　石膏（冰糖煅）　象貝　鬱金　鼠黏子　生地　絲瓜絡</p>
<p>二診　再降肺氣，以清痰火。</p>
<p>冬瓜子　杏仁　玄參　石膏（冰糖煅）　蘇子　鼠黏子　蘆根　苡仁　象貝　知母　生草　桑葉　鬱金　丹皮　絲瓜絡</p>
<p>（案2）痰火上凌，肺氣膹郁，音嘶咳逆，脈右數。發當宣泄。</p>
<p>空沙參　玄參　冬瓜子　鬱金　知母　桑葉　蘆根（灌入麻黃三分，兩頭紮緊）　蟬啼殼　生草　苡仁　杏仁　川貝　茯苓　竹茹</p>
<p>（案3）咳嗆不已，肺胃失宣。</p>
<p>粉沙參　白前　旋覆　淡草　川貝　葶藶　橘紅絡　黛蛤散　紫菀　代赭　蘇子　杏仁　竹茹　枇杷葉</p>
<p>二診　肺虛火盛，咳嗆音嘶，脈右數。法當平木清金。</p>
<p>空沙參　白前　玄參　蟬啼殼　川貝　蘇子　西藏果（八分）　黛蛤散　紫菀　石膏（冰糖煅）生甘草　炒杏仁　茯苓　枇杷葉</p>
<p>（案4）久咳肺陰延虛，音嘶氣粗氣促，脈細數。切宜怡養。</p>
<p>北沙參　根地（秋石一錢同搗）　川貝母　炒杏仁　金果欖　茯苓　京竹衣（一片）　淡天冬　淡草　蟬啼殼　鬱金　橘紅絡　桑葉　枇杷葉</p>
<p>（案5）久咳不已，肺虛火旺，脈右數。以西昌法。</p>
<p>空沙參　玄參　桑葉　知母　生地　炒蘇子　鬱金　蟬啼殼　生草　石膏（冰糖煅）　川貝　丹皮　鼠黏子　竹葉</p>
<p>（案6）痰火留肺，肺氣膹郁，音嘶咳逆，脈右數。以西昌法。</p>
<p>空沙參　玄參　桑葉　知母　葶藶　杏仁　鬱金　蟬啼殼　生草　石膏（冰糖煅）　川貝　蘇子　丹皮　蘆根（灌入麻黃三分，兩頭紮緊）　枇杷葉</p>
<p>複方　痰蒙肺竅，咳嗆音嘶。</p>
<p>蜜炙麻黃　杏仁　冬瓜子　苡仁　玄參　鬱金　蘆根　石膏（冰糖煅）　生草　空沙參　蟬啼殼　丹皮　川貝</p>
<p>（案7）痰火留肺，肺氣膹郁，音嘶咳逆，脈右滑數。法以開上。</p>
<p>元參　蟬啼殼　麻黃（蜜炙）　杏仁　生地　鬱金　蘆根　知母　生草　石膏（冰糖煅）　象貝　丹皮　蘇子　竹葉</p>

<h2>哮喘</h2>
<p>痰火內蒙，肺氣膹郁，哮嗽氣促，脈沉小弦。法當降肺氣，以清痰火。</p>
<p>葶藶　生草　桑皮　苡仁　知母　石膏（冰糖煅）　絲瓜絡　杏仁　蘇子　地骨　蒿子　鬱金　萊菔　枇杷葉</p>
<p>改方　北沙參　根地　川貝母　海石　煅蛤殼　紫菀　雲苓神　淡天冬　龜板　炒杏仁　牛膝　淡甘草　白前　枇杷葉</p>

<h2>痰飲</h2>
<p>（案1）脾肺氣虛，痰飲偏勝。近復下氣上逆，動輒氣促，脈沉弦。以《金匱》方。</p>
<p>蜜炙桂枝　雲苓　紫石英　海石　牛膝　化橘紅　桑葉　蒸冬朮　淡草　靈磁石　代赭　蛤殼　宋半夏　牡蠣　枇杷葉</p>
<p>二診　下氣上逆，痰飲偏勝。自汗盜汗，胃鈍納，力懈，脈沉弦。仍宗原議。</p>
<p>旋覆　淡草　雲苓　川貝　牛膝　蜜炙桂枝　海石　代赭　橘紅　半夏　牡蠣　小麥　蒸冬朮　竹茹（薑汁炒）　枇杷葉</p>
<p>三診　中陽不足，濕邪挾飲為患，哮嗽氣促，脈沉弦。以《金匱》方。</p>
<p>蜜炙桂枝　雲苓（連皮）　橘紅　蛤殼　旋覆　（代赭拌）　牛膝　枇杷葉　蒸冬朮　淡草　半夏　川貝　海石　白石英　薑汁竹茹</p>
<p>（案2）脾肺氣虛，痰飲偏勝，咳嗆氣粗，脈沉弦。以《金匱》方。</p>
<p>芥子　萊菔　雲苓　海石　蛤殼　杏仁　竹茹（薑汁炒）　蘇子　橘紅　半夏　牛膝　川貝　旋覆（代赭拌）　枇杷葉</p>
<p>二診　投《金匱》方，痰飲較平，脈沉弦。再宗原議增刪。</p>
<p>藿香　陳皮　芥子　萊菔　牛膝　川貝　旋覆（代赭拌）　枳殼　半夏　蘇子　海石　蛤殼　杏仁　竹茹</p>
<p>背擬方　風燥上凌陽明，通降失司，腑陽失曠，素勝痰飲乘間升擾。擬以清泄陽明，通腑滌飲，懸擬易謬，還希裁酌。</p>
<p>扁斛　佩蘭　雲苓　海石　杏仁　麻仁　桑葉　苡仁　橘紅　半夏　川貝　蔞仁　枳殼　竹茹</p>
<p>複方　脾肺氣虛，痰飲偏勝，脈沉弦。以《金匱》方。</p>
<p>扁斛　佩蘭　橘紅　半夏　川貝　海石　生穀芽　苡仁　枳殼　雲苓　桑葉　杏仁　竹茹　白蔻衣</p>
<p>三診　陽虛飲聚，濕留不澈，癬疥叢生，脈濡弦。以補氣逐濕。</p>
<p>耆皮　生白朮　橘紅　半夏　桑葉　地膚　池菊　防風　炒枳殼　雲苓　苡仁　天麻　原斛　佩蘭（川連拌）　竹茹</p>
<p>又膏方　中氣不足，痰飲偏勝，動輒氣急。以祛痰補氣法。</p>
<p>黨參（三兩）　橘紅（八錢）　淮藥（二兩）　蛤殼（五兩）　麥冬（去心，二兩）　枸杞（鹽水炒，二兩）　白芍（一兩半）　蒸冬朮（一兩半）　半夏（一兩半）　牛膝（三兩）　川貝（研末，一兩）　紫石英（四兩）　紅棗（三十枚）　池菊（一兩半）　茯苓（三兩）　熟地（沉香末炒，二兩）　煅牡蠣（四兩）　玉竹（二兩）　香附（二兩）　制首烏（三兩）　竹茹（薑汁炒，一兩半）　炙草（五兩）　炙西耆（二兩）　海石（四兩）　桑葉（二兩）　砂仁（入煎，四錢）　歸身（一兩半）</p>
<p>留出川貝粉，加陳阿膠二兩，鹿角膠、冰糖八兩收膏。</p>
<p>（案3）中陽不足，飲痰瘀聚，咳嗆氣促，動則眩旋，睡中驚惕，舌黃膩，脈沉弦。以《金匱》方。</p>
<p>蜜炙桂枝　雲苓神　半夏　川貝母（二錢）　海石　桑葉　旋覆（代赭拌）　蒸冬朮　廣橘紅　天麻　珍珠母（八錢）　牛膝　滁菊　淡草　竹茹</p>
<p>背擬方　眩旋生於風，飲痰聚於脾肺，咳痰不爽，痰飲為患也。小溲頻行，氣化不調也。委改當從此著想。</p>
<p>桑葉　半夏　川杏仁　蜜炙桂枝　雲苓　海石　蛤殼　天麻　川貝　旋覆花　蒸冬朮　芥子　牛膝　橘紅　枇杷葉</p>
<p>（案4）中陽不足，濕痰內凝。</p>
<p>炙橘紅　茯苓　竹瀝製半夏　淡草　枳殼　川鬱金　白芍　杏仁　蔞仁　香附　竹茹（薑汁炒）</p>
<p>（案5）痰濕阻於膽胃，以溫膽湯。</p>
<p>竹瀝製半夏　枳殼　杭菊　豆卷　苡仁　通草　橘紅　茯神　鉤鉤　佛手　山梔　佩蘭　滑石　車前</p>
<p>（案6）外感風寒，引動宿飲，哮嗽氣促，身熱口渴，舌白膩，脈沉弦小滑。法當降氣滌痰，須防喘汗。</p>
<p>旋覆　淡草　蘇子　雲苓　杏仁　海石　鮮金斛　代赭　白芥子　萊菔　半夏　鬱金　牛膝　橘紅絡　蘆根</p>
<p>（案7）顧　嗜酒傷陽，陽虛飲聚，咳嗆痰稠，神疲納懈，脈濡弦。以桑麻溫膽。</p>
<p>桑葉　橘紅　雲苓　蔻衣　川貝母　川鬱金　原斛　滑石　天麻　半夏　枳殼　苡仁　炒杏仁　佩蘭　竹茹（薑汁炒）</p>
<p>顧複方　中陽不足，痰飲內凝，投溫膽湯眩旋稍減，脈沉弦。曾經失血，防厥冒。</p>
<p>桑葉　山梔　天麻　橘紅　川貝　佩蘭　白蔻衣　丹皮　旱蓮　半夏　枳殼　鬱金　雲苓　水炙竹茹（玫瑰花制）</p>
<p>（案8）濕火下趨，致成肛瘍，痰飲內凝，咳嗆氣促。</p>
<p>橘紅　雲苓　海石　蛤殼　枳實　丹皮　旋覆（代赭拌）　半夏　川貝　牛膝　白芥　蔞仁　麻仁　香附</p>

<h2>風溫（附　濕溫、暑溫、秋溫、冬溫）</h2>
<p>（案1）風溫外襲，肺胃先受，咳嗆痰音，顴紅目赤，頭疼氣粗，脈弦數。防發風痧，以辛散法。</p>
<p>荊芥　豆卷　銀花　牛蒡　杏仁　象貝　鉤鉤　蘆根　薄荷　山梔　連翹　蟬衣　鬱金　蘇子　楂肉　燈芯</p>
<p>（案2）勞倦陽弛，溫邪乘襲，釀痰化熱，引動素勝痰飲上泛，致矇蔽清竅，肺胃失宣，神識乍清乍糊，痰出頗多，夜寐欠安，胃納式微，舌白糙根膩尖絳，脈右沉弦小滑，右關帶數。論治當宣肺滌痰，寧神清竅，毋使昏喘諸變，蒞商。</p>
<p>遠志（甘草水浸）　石菖蒲　上犀黃　鬱金　鐵皮斛　膽星　石決　礞石　辰茯神　天竺黃　川貝　化橘紅（八分）　桑葉　知母</p>
<p>改方　鐵皮斛　知母　天竺黃　川貝　滑石　鬱金　竹茹　天花粉　生草　萊菔子　杏仁　茯神　橘紅　燈芯　山梔</p>
<p>遠孚診　風溫郁肺，肺氣失降，身熱煩疼，咳嗽咽痛，痰出不爽，少寐溺赤，舌苔黃糙且膩，脈弦滑數。惟恐由氣入營，昏憒堪虞。</p>
<p>鐵皮斛　翹殼　杏仁　桑葉　蔞皮　苡仁　蘆根　煨石膏　元參　象貝　滑石（粉甘草四分拌）　山梔　冬瓜子　竹瀝</p>
<p>（案3）風溫外襲，由肺衛逆入心肝，肢厥目直，形同痙厥；咳嗆痰鳴，氣促壯熱，脈弦數。是肺風痰喘險候，防喘厥變幻。</p>
<p>蜜炙麻黃　杏仁　鬱金　象貝　鉤鉤　蟬衣　辰茯神　冰糖煅石膏　生草　菖蒲　蘇子　萊菔　雞金　羚羊角　蘆根</p>
<p>（案4）昨投犀角地黃湯以清營分之邪，神識漸清，嘔吐已止，便溏未已，舌絳尖刺，脈沉弦略起。局勢初定，徐圖轉環。</p>
<p>銀花　牛蒡　鬱金　鐵皮斛　生地　山梔　藿香　蘆根　翹心　鉤鉤　菖蒲　茯神心　丹皮　桑葉　小樸　燈芯</p>
<p>（案5）勞倦挾感，先起寒熱如瘧，繼則咳嗆純熱，痰戀不徹，杳不思納，陰分延虛，大便濡溏，煩渴恣飲，有時神糊，舌糙尖絳，脈細弦小數。證脈合參，是正氣先虛，邪未盡徹，亟以養陰泄熱，兼清痰火，毋使熱極生風，痙厥變幻，蒞商。</p>
<p>老山西洋參　杏仁　知母　茯神　桑葉　鬱金　穀芽　煨透石膏　生草　川貝　扁斛　石決　石菖蒲　燈芯　竹捲心</p>
<p>（案6）勞倦風溫乘襲，肺胃先受，壯熱神糊，咳嗆痰少，肋疼氣阻，舌糙尖絳，脈弦數。治當清解。</p>
<p>天竺黃　萊菔　杏仁　象貝　蘇子　山梔　蘆根　鐵皮斛　茯神（辰拌）　鬱金　橘絡　牛蒡　鉤鉤　菖蒲　絲瓜絡</p>
<p>（案7）外感風寒，肺胃先受，形寒身熱，咳嗆有痰，脈右數。當治上焦。</p>
<p>荊芥　連翹　杏仁　山梔（大豆卷拌）　蘇子　蔞仁　竹茹（薑汁炒）　牛蒡　鉤鉤　鬱金　象貝　萊菔　枳實　蘆根</p>
<p>複方　春溫化熱釀痰，肺胃失宣，咳逆引痛，胸脘懊憹，脈小數，苔黃膩。再以清泄上焦。</p>
<p>鮮金斛　牛蒡　杏仁　象貝　天竺黃　萊菔　桑葉　連翹心　橘絡　鬱金　菖蒲　絲瓜絡　薄荷（川連拌）　竹葉　蘆根</p>
<p>三診　自投清泄上焦，諸恙愈而咳逆引痛依然，胸脘懊憹漸平，脈仍小弦，舌苔黃膩。治法仍踵原議增刪。</p>
<p>扁斛　生穀芽　鬱金　蘇子　橘紅絡　穭豆衣　絲瓜絡　苡仁　杏仁　象貝　萊菔　冬桑葉　浮小麥　路路通</p>
<p>複方，前方先錄　素嗜茶酒，聚濕成飲，濕蒸熱鬱，灼傷陽絡。去冬失血，繼於咳嗆，交春木升泄，肝之左升太過，肺之右降不及，咯血雖止，咳嗆不已，是木火刑金使然。近復肝邪挾飲為患，痰熱因斯膠固，清靈為之矇昧，以致神識昏糊，杳不思納，渴不恣飲，咳痰不出，小溲短赤，大便時堅時溏，舌糙尖絳，脈右小弦而數。昨投芳香宣泄，諸恙略有松機，論治仍以宣竅豁痰，希圖轉環，附方蒞裁。</p>
<p>礞石　桑葉　鬱金　遠志　霍石斛　旱蓮　燈芯　膽星　丹皮　菖蒲　茯神　橘紅絡　澤瀉　竹茹　川貝</p>
<p>（案8）風溫外襲，肺胃先受，脈右數。法當宣上。</p>
<p>玄參　蟬啼殼　鮮斛　茯神　蘇子　杏仁　蘆根　知母　生甘草　翹心　象貝　橘紅絡　鬱金　竹茹　葶藶</p>
<p>複方　風溫外泄，咳嗆身熱，脈右弦數。當治肺胃。</p>
<p>鮮斛　天花粉　冬瓜子　杏仁　元參心　山梔　滑石　蘆根　知母　生甘草　苡仁　象貝　茯神心　鬱金　枳殼　燈芯</p>
<p>（案9）風寒外襲，肺胃先受，身熱形寒，脈弦數。治以辛散。</p>
<p>荊芥　牛蒡　大豆卷　青蒿　杏仁　枳實　蘆根　連翹　鉤鉤　黑山梔　半夏　鬱金　蔞仁　忍冬藤</p>
<p>（案10）風溫挾濕，肺胃失宣。</p>
<p>荊芥　牛蒡　杏仁　丹皮　銀花　蒿梗（川連拌）　蘆根　連翹　鉤鉤　鬱金　蟬衣　山梔　薄荷　忍冬藤</p>
<p>（案11）風溫挾濕，上犯肺胃，咳嗆頭疼，身熱鼻衄，舌糙，脈右數。法當清解。</p>
<p>銀花　鉤鉤　冬瓜子　苡仁　蘇子　鬱金　連翹　丹皮　光杏仁　象貝　萊菔　蘆根</p>
<p>（案12）溫邪內陷心營，有昏閉之危。</p>
<p>犀角盤　丹皮　天竺黃　蘇子　銀花　牛蒡　鮮活蘆根　鮮生地　元參　萊菔　鬱金　連翹　歸鬚　連子絲瓜絡</p>
<p>（案13）風寒外襲，食滯內停，嘔吐身熱，咳嗆痰音，舌糙尖刺，脈右細數。首先開泄。</p>
<p>紫蘇　連翹　杏仁　象貝　牛蒡　菖蒲　蘆根　荊芥　鉤鉤　鬱金　橘紅　枯芩　桑葉　燈芯　黑山梔</p>
<p>（案14）風溫襲肺，痰熱內蒙。</p>
<p>荊芥　牛蒡　杏仁　蘇子　知母　蘆根　連翹　鉤鉤　鬱金　萊菔　瓜蔞　山梔</p>
<p>複方　再清肺熱，以化痰火。</p>
<p>鮮斛　知母　蘇子　鬱金　葶藶　生草　連翹　瓜蔞　萊菔　山梔　杏仁　鉤鉤　蘆根</p>
<p>（案15）風溫上受，鼻塞耳脹。</p>
<p>荊芥　牛蒡　焙丹皮　杭菊　薄荷　桑葉　連翹　鉤鉤　山梔　滑石　蔓荊　制天蟲</p>
<p>（案16）痰熱內蒙，肺胃受灼，脘悶氣逆壯熱，脈弦數。開嗆出痰乃吉，治以清解。</p>
<p>天竺黃　鮮斛　鬱金　牛蒡　山梔　蟬衣　玄參　地蛄螻　翹心　杏仁　鉤鉤　薄荷　蘇子　蘆根　辰茯神</p>
<p>複方　濕溫復感，熱勢轉劇，脈滑數。尚慮昏憒。</p>
<p>鐵皮斛　知母　天竺黃　杏仁　牛蒡　山梔　銀花　天花粉　鉤鉤　萊菔子　鬱金　滑石　生地　茯神（辰拌）　蘆根</p>
<p>三診　肺胃痰熱未澈，再以甘涼。</p>
<p>桑葉　杏仁　生地　山梔　知母　天花粉　竹葉　石膏（冰糖拌）　生草　丹皮　鉤鉤　萊菔　天竺黃　銀花　辰茯神</p>
<p>（案17）勞倦濕溫釀痰熱，化熱灼傷陽絡，壯熱鼻衄，咳逆無痰，脅肋抽痛，有時神糊，舌尖絳苔糙，脈弦滑大。局勢非輕，尚防昏憒入營。</p>
<p>羚羊　牛蒡　大豆卷　生地　杏仁　鮮菖蒲　萊菔　蘆根　連翹　鉤鉤　黑山梔　鬱金　天竺黃　橘絡　茯神（辰拌）　絲瓜絡</p>
<p>複方　潮熱起伏，汗出不衰，神識乍糊，痰出不多，便秘溲赤，舌尖絳糙罩灰，脈弦小滑。再以甘涼。</p>
<p>鐵皮斛　知母　甘中黃　銀花　鬱金　龍齒　竹卷芯　甜花粉　生地　天竺黃　山梔　菖蒲　桑葉　辰燈芯　茯神</p>
<p>（案18）濕溫一候，欲瘧不達，邪留氣分，身熱有汗，少寐拒納，脈弦數，舌黃膩。法當輕清透達。</p>
<p>羚羊　牛蒡　大豆卷　蒿梗　枳殼　茯神　蘆根　連翹　鉤鉤　黑山梔　半夏　鬱金　滑石　鮮斛　燈芯</p>
<p>（案19）濕溫挾食滯，乘勞倦而發，壯熱汗少，脘格嘔吐，舌黃糙，脈弦數。成瘧乃吉，尚防昏重。</p>
<p>紫蘇　半夏　大豆卷　連翹　枳實　杏仁　羚羊　蘆根　絲瓜絡　川連　鉤鉤　黑山梔　牛蒡　蔞仁　鬱金　鮮斛　燈芯</p>
<p>（案20）勞倦濕溫乘襲，欲瘧不達，脈弦數。防轉重。</p>
<p>紫蘇　豆豉　蒿梗　陳皮　通草　鮮斛　蘆根　鉤鉤　山梔　半夏　枳殼　滑石　牛蒡　燈芯</p>
<p>（案21）濕溫三候，白㾦沛露，空殼無神，喉間痰音漉漉，壯熱汗出不衰，汗出式微，神識模糊，舌光絳無苔，脈小弦滑數。是陰虛之體，正虛不能載邪外達，有熱極生風痙厥變幻。</p>
<p>老山西洋參　知母　生草　青金散　鬱金　葶藶　桑葉　石菖蒲　鮮鐵皮斛　川貝　杏仁　天竺黃　龍齒　犀黃　茯神（辰拌）　竹捲心</p>
<p>改方　葶藶　生草　煅石膏　知母　銀花　天竺黃　辰燈芯　杏仁　川貝　鐵皮斛　生地　茯神　冬桑葉　竹捲心</p>
<p>（案22）濕溫旬余，從氣分外泄為㾦，壯熱煩渴，舌糙，脈弦數。治以甘涼。</p>
<p>桑葉　知母　銀花　鮮地　山梔　枳殼　竹葉　石膏（冰糖煅）　生草　翹心　鮮斛　青蒿　茯神　燈芯</p>
<p>複方　知母　天花粉　銀花　玄參心　鐵皮斛　丹皮　竹葉　生草　煅石膏　翹心　茯神心　鮮生地　山梔　燈芯　火麻仁</p>
<p>（案23）勞倦濕溫乘襲，飲邪氾濫，矇蔽清竅，神識氣促，脈沉弦，防喘變。</p>
<p>礞石　石菖蒲　茯神　半夏（竹瀝制）　鉤鉤　枳殼　海石　蘆根　鬱金　化橘紅　桑葉　芥子　天麻　瓜蔞　鮮斛　燈芯</p>
<p>改方　去礞石、石菖蒲、辰燈芯，加蘇子、萊菔。</p>
<p>（案24）勞倦陽馳，食滯不化，體素氣虛濕勝，感受時令風溫，濕與溫合，即是濕溫，釀痰化熱，矇蔽清竅，旬余來既不開嗆出痰，又不外泄為㾦，郁遏不達，由肺衛漸入心營，見證目直，且志妄笑撮空，但熱不寒，脘悶氣促，寤寐不安，神識譫語，按脈右部滑大，左寸關弦數，舌苔干灰邊絳尖刺，脈證合參，有風動閉厥之險。即以芳香宣竅，佐以甘寒存津，以顧目前之急，附方蒞裁。</p>
<p>上犀黃　犀尖　菖蒲　鐵皮斛　礞石　鬱金　茯神　桑葉　竹葉　濂珠粉　生地　遠志　枳實粉（分沖）　蔞仁　杏仁　滑石　燈芯</p>
<p>複方　自投芳香宣竅豁痰，佐以通腑潤腸，神識漸清，大便依然不通，陽易上浮，痰熱矇蔽不澈，寤難成寐，口渴恣飲，但熱不寒，形同癉瘧，由陰氣先傷陽邪獨發所致。頃診脈象右滑且大，左部弦數，舌絳苔糜，灰色已退。花甲高年罹此重症，雖逾險嶺，未入坦途。論治當以甘涼承津通腑熄風，希圖轉機，仍請指政。</p>
<p>桑葉　知母　天竺黃　萊菔　杏仁　菖蒲　蔞仁　石膏（冰糖煅）　生草　鐵皮斛　茯神　鬱金　生地　滑石　燈芯</p>
<p>藝成診　濕溫不從表解，化熱釀痰，由肺衛逆入心肝，機竅被蒙，神魂不藏，病經半月，陰液自傷，邪火燎原，風陽旋動，曾經妄言罵詈，哭笑無常，驚惕瘛瘲，手肢蠕動，便閉，又經一候，時或躁煩擾冤，齒板唇焦，語言蹇澀，近旦陽升顴紅，腮齶起糜，舌苔燥黑無津，脈象弦數左大，痰蒙熱戀，風木鴟張，暴變有閉痙之虞，糾纏有癲癇之累。治法宜宣滌機竅錮蔽之痰，佐介類潛陽，甘寒救液。</p>
<p>上犀黃　礞石　龍齒　桑葉　知母　大生　地露　燈芯　濂珠粉　遠志　蠍尾　玄參　石膏　朱茯神　川貝</p>
<p>改方　擬甘寒存津救液。以宣滌機竅，清泄肝膽。</p>
<p>西洋參　玄參　礞石　遠志　九孔石決明　蠍尾　辰茯神　生地露（和水煎湯）　秋石　膽星　菖蒲（飯蒸）　經霜冬桑葉　茯神（辰拌）　金器（一具）</p>
<p>（案25）濕溫釀痰化熱，由陽明逆犯厥陰，機竅被蒙，風陽旋動，由形寒發熱，胸痹泛嘔漸至神識昏糊，語言蹇澀，咳痰不爽，大便不通，時或躁渴煩冤，時或筋抽顴赤，舌苔曾灰，今則絳剝苔花，脈象沉弦，輕取虛細而數，白㾦雖經露布，邪已解而陰液大傷，勢涉危途，行將痙閉。勉擬甘寒承津救液，佐滌痰宣竅以熄風陽。</p>
<p>上犀黃　大生地露十兩（代水煎藥）　知母　川貝　桑葉　遠志　川鬱金　濂珠粉　西洋參　花粉　茯神（辰拌）　蠍尾　龍齒　竹瀝（浸入橘紅兩片，分沖）</p>
<p>改方　仍擬存津泄熱，佐以通腑滌痰。</p>
<p>西洋參　知母　桑葉　山梔　麻仁　川杏仁　川貝　甜花粉　生草　丹皮　生地　遠志　辰茯神　竹茹</p>
<p>（案26）濕溫類傷寒陽明證，潮熱已經兩候，汗出不多，大便先溏後結，夜寐尚安，脘悶氣粗，舌尖絳苔灰，脈右弦數未靜。治以甘涼，徐圖恢復。</p>
<p>玄參心　翹心　煅石膏　鬱金　鐵皮斛　枳殼　竹葉　茯神心　知母　生甘草　光杏仁　黑山梔　蔞仁　燈芯　丹皮</p>
<p>改方　犀角盤　丹皮　知母　青金散　石決　菖蒲　桑葉　鮮生地　茯神　生草　鐵皮斛　翹心　鬱金　竹葉　燈芯</p>
<p>（案27）濕溫未達，防昏重。</p>
<p>紫蘇（川連拌）　牛蒡　杏仁　知母　山梔（淡豆豉拌）　半夏　蘆根　連翹　鉤鉤　鬱金　鮮斛　枳殼　滑石　燈芯</p>
<p>（案28）春濕上襲，熱迫大腸，灼傷陰絡，咳嗆便血，舌糙，脈細。法當清泄。</p>
<p>鮮斛　牛蒡　天竺黃　萊菔　生地　鬱金　桑葉　連翹　橘紅　茜根炭　山梔　丹皮　光杏仁　蘆根　燈芯</p>
<p>（案29）勞倦陽弛，痰熱乘發，症勢雖屬轉機，而津液被劫，未足全恃，脈細滑，苔薄。茲仿痰門之法為主。</p>
<p>扁斛　蘇子　水栙香　橘絡　半夏　生枳殼　茯苓　生苡仁　萊菔　川樸花　光杏仁　川鬱金　天竺黃　芥子　竹茹</p>
<p>（案30）風溫外襲，上焦先受咳嗆，痰稠喉痛音嘶，脈右滑數。治宜清肅。</p>
<p>元參　蟬啼殼　桑葉　杏仁　冬瓜子　鬱金　知母　生甘草　石膏（冰糖拌）　象貝　苡仁　蘇子　蘆根</p>
<p>（案31）濕溫旬余，熱迫便泄，脈弦滑。防昏重。</p>
<p>鐵皮斛　知母　杏仁　天竺黃　萊菔　橘絡　山梔　煨透石膏　淡草　鬱金　辰茯神　蘇子　滑石　牛蒡　竹葉</p>
<p>藝成診　濕溫挾食滯，表裡均已宣通，今反便閉痰音，熱熾於裡，脈弦滑左甚，木旺而金鬱失宣也。當治肝肺。</p>
<p>桑葉　池菊　丹皮　鮮斛　橘紅　杏仁　燈芯　石決　茯神　山梔　鬱金　象貝　瓜蔞　竹茹</p>
<p>（案32）濕溫已從㾦化，㾦後熱戀不澈，痞聚肢腫腹膨，神識昏糊，耳聾鼻衄，脈弦數。恐病傷不復。</p>
<p>老山西洋參　知母　生地　生梔皮　青皮　茯苓皮　青蒿　竹捲心　煅石膏　生草　牛膝　遠志肉　鱉甲　生小樸　鬱金　辰燈芯</p>
<p>改方　去青蒿、鬱金，加石菖蒲、龍齒、牡蠣。</p>
<p>（案33）伏暑郁遏不達，寒微熱甚，汗出不多，脘悶便結，少寐煩渴，舌尖絳苔白糙，脈弦滑數。成瘧乃佳，否防發㾦神糊。</p>
<p>羚羊　牛蒡　大豆卷　蒿梗　鬱金　枳實　竹茹（薑汁炒）　連翹　鉤鉤　黑山梔　半夏　茯神　蔞仁　蘆根</p>
<p>（案34）暑濕外侵，肺胃受困。</p>
<p>荊芥　鉤鉤　豆卷　半夏　藿梗（川連拌）　佩蘭　荷葉　連翹　枳殼　山梔　陳皮　苡仁　滑石　車前　佛手</p>
<p>（案35）伏暑未達，發㾦乃吉。</p>
<p>鮮斛　牛蒡　鬱金　茯神　通草　佩蘭　連翹　鉤鉤　山梔　知母　滑石　蘆根　燈芯</p>
<p>（案36）暑濕鬱遏不達，尚宜清解。</p>
<p>鮮斛　牛蒡　山梔（大豆卷拌）　通草　苡仁　杭菊　荷葉　連翹　鉤鉤　蒿梗　滑石　佩蘭　澤瀉　佛手</p>
<p>（案37）濕溫化熱釀痰，絡道失宣，咳嗆肋痛，夜寐不安，口渴氣粗，脈弦數。尚防昏重。</p>
<p>旋覆　橘紅　鮮斛　天竺黃　鬱金　牛蒡　辰茯神　歸鬚　新絳　翹心　萊菔子　杏仁　鉤鉤　絲瓜絡　蘆根</p>
<p>（案38）素有濕熱，復感秋溫，釀痰化熱，阻痹絡道，咳逆無痰，脘肋抽疼，身熱形寒，舌黃，脈弦數。以通絡導痰法。</p>
<p>旋覆　橘絡　光杏仁　蘇子　鉤鉤　鮮斛　蘆根　歸鬚　新絳　廣鬱金　牛蒡　山梔（大豆卷拌）　茯神　萊菔　絲瓜絡</p>
<p>二診　熱勢依然，痰蒙絡道，咳逆抽疼，脘悶泛嘔，肢痠頭痛，夜少安寐，舌黃糙，脈弦滑數。濕鬱化熱釀痰，以開嗆出痰為上。</p>
<p>天竺黃　萊菔　鬱金　牛蒡　歸鬚　橘絡　茯神（辰拌）　蘆根　鮮金斛　翹心　光杏仁　鉤鉤　新絳　旋覆　山梔　絲瓜絡</p>
<p>三診，心孚診　秋溫外襲，伏濕內蘊，兩邪併發，是為濕溫化熱釀痰，阻痹絡隧，陽明失通降之司，四日來身熱不衰，胸痹嘔惡，咳痰難爽，兩肋引痛，舌黃根膩，脈濡滑數。治法亟須宣上豁痰，冀寒出痰熱減，庶無昏喘變端。</p>
<p>羚羊　牛蒡　杏仁　象貝　天竺黃　萊菔　蘆根　連翹　鉤鉤　鬱金　蘇子　鮮斛　橘絡　滑石　絲瓜絡</p>
<p>四診，藝成診　濕溫痰熱阻蔽絡隧，肺衛失宣，發熱肋疼，深夜神昏，邪漸逼近心胞，大便未通，腑陽失曠耳，脈弦滑。宜宣絡導痰，預防喘厥。</p>
<p>旋覆　橘絡　芥子　萊菔　膽星　鬱金　絲瓜絡　歸鬚　川楝　蘇子　翹心　遠志（甘草水浸）　天竺黃　蘆根　另用牛黃丸</p>
<p>五診　濕痰阻絡，肺胃宣降失司，肋痛雖衰，出痰未爽，泛嘔胸痹，大便欠通，脈弦滑且數。仍宜宣泄上焦，佐以通腑。</p>
<p>芥子　萊菔　枳實　杏仁　半夏（竹瀝制）　象貝　雲苓神　蘇子　旋覆　瓜蔞　鬱金　橘絡　蘆根　絲瓜絡</p>
<p>六診　肝火挾痰入絡，絡瘀阻蔽，肋痛乍劇乍輕，倏寒倏熱，脈弦滑而數。亟以通絡導痰，平肝逐瘀。</p>
<p>桑葉　烏勒草　桃仁（一錢）　歸鬚　橘絡　路路通　絲瓜絡　丹皮　川鬱金　紅花（二錢）　旋覆　川楝　紫雪丹（四分）　辰燈芯</p>
<p>七診　肋痛減而未止，呼吸輾轉尤劇，抽掣口渴，內熱神煩，肝火挾痰擾絡，絡瘀而風勝也。脈小滑而數，防痙厥。</p>
<p>桃仁　歸鬚　桑葉　山梔　茯神　白芥子　絲瓜絡　紅花　川楝　丹皮　橘絡　羚羊　烏勒草　路路通</p>
<p>八診　熱勢退而痛勢亦緩，風火較平，濁痰未出，舌苔糙黃而燥，脈象滑數且弦。陰液漸傷，伏邪邪猶盛，今夜不再反復乃佳。</p>
<p>鐵皮斛　桑葉　旋覆　川楝　紅花　杏仁　連子絲瓜絡　石決明　丹皮　橘絡　茯神　桃仁　鬱金　路路通</p>
<p>九診　濕溫已將二候，屢經肋痛神昏，肝火挾痰入絡，內風日益焮旋，抽掣瘛瘲，寤則驚惕。病從鬱怒而起，怒則傷肝也。今右脈參伍不調，精神大憊，舌將起腐，苔尚糙黃。形勢險惡，厥脫堪虞，勉宗風淫於內，立以甘寒治法。</p>
<p>鐵皮斛　知母　桑葉　池菊　旋覆　川貝　（去心）　絲瓜絡　天花粉　茯神　蠍尾　石決　橘絡　川鬱金　紫雪丹（三分）</p>
<p>另用霍石斛一錢代茶。</p>
<p>十診　《內經》云：風淫於內，治以甘寒。昨方遵經措法，抽掣瘛瘲較減，內熱神迷，右脈數大而滑。陽明燎原不熄，液涸風升尚在險途，仍以甘涼為主。</p>
<p>西洋參　知母　鐵皮斛　茯神　池菊　蠍尾　青金散　桑葉　遠志肉　石決　橘絡　竹葉　絲瓜絡</p>
<p>十一診，七孫偕診　伏邪晚發，熱傷津液，肝風鴟如顯，痙厥，神志時清時昏，胸悶氣逆，脈滑數促，苔黃尖絳。防昏喘，勢頗危險。</p>
<p>西洋參（一錢）　青金散（一兩）　桑葉（二錢）　鉤鉤（六錢）　炒杏仁（三錢）　川貝（二錢）　丹皮（二錢五分）　知母（二錢）　石決明（一兩）　生地（一兩）　翹心（三錢）　廣鬱金（二錢五分）　菖蒲（二錢五分）　蘆根（尺許）　竹葉（三十片）　旋覆花（代赭石六錢拌，二錢五分）　竹茹（玫瑰花二朵同煎）</p>
<p>另用紫雪丹一元，羚羊八分，鐵皮斛一兩。</p>
<p>（案39）秋溫伏暑釀痰化熱，矇蔽清靈。</p>
<p>知母　杏仁　鐵皮斛　橘絡　茯神（辰拌）　山梔　滑石　石膏（煨透）　生草　天竺黃　萊菔　鬱金　象貝　竹葉　絲瓜絡</p>
<p>（案40）伏暑乘秋涼而發，古人名之曰晚發。道遠氣深不克，逕從膜原外騰為瘧充斥表裡，瀰漫三焦。一月來白㾦疊見層出，伏邪雖有出路，而汗出不多，釀痰化熱，矇蔽肺胃，陣咳不已，出痰稠韌，正氣日漸摧殘，形瘦裡熱，夜不安寐，舌苔黃糙尖絳，脈右浮滑而數。仿喻氏西昌法，以清上焦痰火，毋使喘汗變幻乃吉，蒞商。</p>
<p>老山西洋參（霍石斛同煎沖）　杏仁　知母　葶藶　桑葉　生地露　旋覆　冰糖煅石膏　生草　川貝　川鬱金　茯神（辰拌）　橘紅絡　石決</p>
<p>（案41）秋溫引動飲痰，上蒙包絡，肝風升動，精氣俱傷，已見神呆目定，喘促痰潮，甚則循衣摸床，語言昏亂，舌苔灰膩，脈細而沉。脫象漸萌，恐難挽治。</p>
<p>上犀黃（一分）　川貝　淡甘草　生地　海石　洋參　竹瀝　濂珠粉（一分）　牛膝　煅石膏　橘絡　鉤鉤　羚羊　絲瓜絡</p>
<p>（案42）伏暑一症，大抵受病於夏，發病於秋。此症起於秋，初因感伏邪而發，郁遏氣分，竊踞膜原間，瘧三度即止，邪由膜原轉出氣分，壯熱不解，汗出不衰，頸項胸次㾦點微露，煩渴恣飲，肢痠脘悶，舌乾糙少津，脈弦滑大。治當輕清透達，以冀白㾦沛露，方是邪化之機，附方蒞裁。</p>
<p>羚羊　牛蒡　鬱金　山梔　辰茯神　銀花　青蒿　連翹　鉤鉤　菖蒲　薄荷　鮮斛　滑石　蘆根　燈芯</p>
<p>（案43）秋溫化熱，釀痰阻痹絡道，咳嗆肋痛，壯熱有汗，夜寐稍安，舌糙，脈弦滑大。法當通絡導痰。</p>
<p>天竺黃　萊菔　鬱金　杏仁　橘絡　牛蒡　鐵皮斛　茯神　菖蒲　山梔　蘇子　鉤鉤　歸鬚　蘆根　燈芯　絲瓜絡</p>
<p>另服清心萬氏牛黃丸。</p>
<p>改方　旋覆　橘絡　天竺黃　萊菔　杏仁　菖蒲　茯神（辰拌）　歸鬚　新絳　鐵皮斛　知母　鬱金　生地　蘆根　絲瓜絡</p>
<p>（案44）伏暑乘秋涼而發，先賢名之曰晚發。道遠氣深不克，逕從膜原外騰為瘧，充斥表裡，瀰漫三焦，起時形寒身熱，熱甚神糊，汗出不多，漸致神昏譫語，妄笑搓空，徹夜不寐，脘格泛嘔，食滯便結。是伏邪由氣入營，顯然如繪。按脈濡澀不固，確是邪陷不宣，正不敵邪所致。舌乾灰尖絳，急變有內閉外脫之險。以芳香宣竅，輕清透達，以圖萬一。</p>
<p>犀尖　翹心　菖蒲　丹皮　山梔（大豆卷拌）　鐵斛　枳實　蘆根　羚羊　鬱金　茯神（辰拌）　蟬衣　牛蒡　鉤鉤　蔞仁</p>
<p>另用至寶丹。</p>
<p>（案45）冬溫化熱，釀痰矇蔽清竅，脈弦滑。尚防昏憒。</p>
<p>天竺黃　鮮斛　杏仁　牛蒡　蘇子　橘絡　蘆根　萊菔子　連翹　鬱金　鉤鉤　象貝　菖蒲　茯神（辰拌）</p>
<p>另用清心萬氏牛黃丸。</p>
<p>（案46）冬溫化熱，釀痰絡道失宣，咳嗆肋痛，脈滑數。當清肺胃痰熱。</p>
<p>天竺黃　萊菔　杏仁　象貝　生地　葶藶　竹捲心　鐵皮斛　知母　鬱金　蘇子　橘絡　茯神（辰拌）　元參心　絲瓜絡</p>
<p>（案47）秋溫伏暑，郁遏不達，形寒壯熱，汗出神糊，熱迫便泄，脈濡弦。成瘧乃吉。</p>
<p>紫蘇　山梔　銀花　薄荷　藿香　枳殼　藿梗　淡豆豉　鉤鉤　蟬衣　牛蒡　半夏　鬱金　茯神（辰拌）　蘆根</p>
<p>（案48）病後餘燼復燃，心肝神魂不藏，目直耳聾，神糊譫語，舌白糙尖絳，脈右數左弦。論治首先熄風，最防厥變。</p>
<p>羚羊　蠍尾　川連　牡蠣　生地　知母　鬱金　桑葉　石決（青黛拌）　生芍　龍齒　丹皮　遠志（甘草水浸）　燈芯</p>
<p>二診　前方先錄　面黃未退，熱勢轉劇。昨日寒熱三次，口渴恣飲，舌黃罩灰，脈弦滑數。防昏重。</p>
<p>鐵皮斛　銀花　鬱金　半夏　桑葉　益元散　穭豆衣　連翹心　鉤鉤　山梔　白芍（桂枝錢半拌）　通草　茯苓皮　水炙竹茹</p>
<p>三診　藝成診　肝強犯胃，營衛不和，脈右弦，防厥脫。</p>
<p>白芍（桂枝分半拌）　川連　浮小麥　川鬱金　茯神　橘絡　淡草　穀芽　穭豆衣　半夏　歸鬚　桑葉　石決</p>
<p>（案49）風溫外襲，身熱鼻衄，少腹作痛拒按，嘔吐瘀沫，脈弦數。是屬傷生，小腸症非輕小。</p>
<p>銀花　茯神　生地　延胡　桃仁　乳香　瓜蔞仁　連翹　山梔　丹皮　歸尾　甲片　沒藥　車前子</p>
<p>（案50）夙患腫脹，近復外風引動內風，以致半身不能活動，神識昏迷，脈右弦滑。防閉脫。</p>
<p>礞石　遠志肉　桑葉　牡蠣　石決（青黛拌）　牛膝　鉤鉤　竹瀝　膽星　石菖蒲　鬱金　龍齒　川貝　生地　茯神（辰拌）</p>
<p>另用至寶丹一粒。</p>
<p>複方　神識漸清，右手足舉動漸仁，惟精衰視異，痰火尚蒙心肝，大便已通，氣促亦平，舌灰已退，苔黃厚膩，脈右小滑而濡。再以芳香宣豁，佐熄肝陽，以圖轉機。</p>
<p>鐵斛　天竺黃　鬱金　遠志（甘蘋水炙）　橘紅　膽星　牛膝　知母　地蛄螻　石菖蒲　生地　半夏（竹瀝制）　石決（青黛拌）　桑葉　茯神（辰拌）</p>
<p>改方　生地　山梔　石菖蒲　膽星　橘紅　益元散　原斛　丹皮　茯神　鬱金　桑葉　半夏（竹瀝制）　石決明（青黛拌）　佩蘭　川貝</p>
<p>三診　痰火漸平，神識已清，素有伏濕，流入太陰，由目窠浮腫漸及一身，氣促，痰戀不澈，大便溏泄，脘悶少寐，舌黃膩，脈濡弦。勢頗糾纏，恐成腫脹。</p>
<p>椒目　茄皮　桂枝　豬茯苓（連皮）　葶藶　青陳皮　牛膝　防己　巴戟　生白朮　福澤瀉　杏仁　冬瓜皮　蒲殼　香櫞皮</p>
<p>改方　葶藶　生草　枳殼　豬茯苓（連皮）　椒目　加皮　蒲殼　杏仁　生白朮　陳皮　澤瀉　防己　巴戟　冬瓜皮</p>

<h2>疹㾦</h2>
<p>（案1）白㾦微露，邪從氣分外泄，純熱不涼，舌糙，脈弦滑。治以甘涼。</p>
<p>銀花　鮮金斛　甜花粉　鬱金　山梔　枳殼　蘆根　翹心　辰茯神　知母　菖蒲　鉤鉤　生地　竹茹　辰燈芯</p>
<p>（案2）白㾦微露，邪從氣分外泄，脈弦數。治以甘涼。</p>
<p>銀花　鐵皮斛　茯神　煅石膏　杏仁　山梔　蘆根　連翹　甜花粉　知母　生草　鬱金橘絡　竹葉　絲瓜絡</p>
<p>（案3）暑邪由氣入營，重複轉出氣分，紅白痦遍體沛露，病經旬餘熱勢反劇，是溫邪散漫無序，以致神識乍清乍糊，反覺煩悶口渴，脈弦數大，尚慮昏憒。</p>
<p>銀花　鐵斛　知母　生地　鬱金　茯神　竹葉　翹心　鉤鉤　花粉　丹皮　菖蒲　山梔　燈芯　益元散</p>
<p>複方　暑必夾濕，自呼吸而入氣分不解，漸次傳入營分，始則純熱不涼，汗出不衰，繼則邪灼肝膽，神糊譫語。昨投清營泄熱法，與病機若合符節，紅白㾦胸項依然沛露，手足背腹漸漸及隱，神識漸清，夜寐得安，溲赤便難，舌白苔糙，邊絳尖刺，脈左弦、右部滑數。脈證相參，營分邪熱尚未清澈。再以甘涼承津，希冀熱退㾦回，方是邪化之機，附方候裁。</p>
<p>甜花粉　知母　鐵皮斛　茯神心　通草　生地　鬱金　捲心　煅石膏　生草　連翹心　玄參心　滑石　銀花　丹皮　燈芯</p>
<p>另用霍石斛代茶。</p>
<p>三診　此暑濕症也，曾經發熱汗多，紅白㾦沛露，濕熱既可潛清，暑邪亦當默化。無如兩候來，熱戀便結，煩渴嘔逆，脘格不舒，寤寐欠安，種種見證都屬陰傷熱戀，陽明不司通降致也。按脈右部弦滑，左寸關帶數，厥陰氣火升騰也。舌糙邊絳，是屬正不勝邪。治法當通降陽明，熄肝化熱，毋使呃脫變端，勉擬候商。</p>
<p>桑葉　青金散　生地　銀花　鬱金　麻仁　燈芯　旋覆（代赭石三錢合煎）　知母　鐵皮斛　石決　生草　茯神　蔞仁　捲心</p>
<p>另用西洋參、西楓斛代茶。</p>
<p>（案4）㾦點密布，枯暗無神，鼻衄神糊，肝厥汗出，舌乾唇焦，脈弦小數。病在營陰，最防厥脫。</p>
<p>老山西洋參　知母　牡蠣　牛膝　生地　銀花　鐵皮斛　生石膏　生草　龍齒　花粉　丹皮　菖蒲　辰茯神　竹捲心</p>
<p>（案5）瘧發不暢，暑邪從膜原轉出氣分，白㾦微露，頭疼泛嘔，舌黃，脈弦數，法當清透。</p>
<p>銀花　鐵皮斛　山梔　半夏　鬱金　茯神　蘆根　翹心　知母　鉤鉤　枳殼　菖蒲　青蒿　燈芯　益元散</p>
<p>邪從㾦化，再以清透。</p>
<p>銀花　牛蒡　杏仁　象貝　鮮斛　枳殼　蘆根　連翹　鉤鉤　鬱金　萊菔　茯神　蔞仁　竹茹</p>
<p>（案6）瘧發不暢，濕留膽胃，舌糙，脈弦。防轉出氣分，發為白㾦。</p>
<p>翹殼　蟬衣　杏仁　牛蒡　蒿梗　枳實　蘆根　梔皮　鉤鉤　鬱金　銀花　益元散　鮮斛　竹茹　燈芯</p>
<p>（案7）暑邪由膜原轉出氣分，先瘧後㾦已經旬余，熱迫便瀉，神糊氣粗，舌尖絳苔糙，脈弦滑數。局勢未定。</p>
<p>鐵皮斛　知母　鬱金　山梔　藿香　銀花　竹葉　煅石膏　生草　菖蒲　枳殼　生地　辰茯神　燈芯　丹皮</p>
<p>改方　銀花（炒）、石膏（煨透），去枳殼，加制小樸、香穀芽。</p>
<p>二診　毒㾦密如蠶種，熱迫便溏，病經兩候，熱勢稍退，便瀉不已，神疲氣粗，舌尖絳苔糙，脈弦而數。病在氣營，當再涼解，局勢非輕。</p>
<p>洋參　石膏（冰糖煅）　銀花　山梔　生地　茯神（辰拌）　桑葉　知母　生草　川連　鐵斛　丹皮　石決　淡芩　綠豆衣</p>
<p>改方　桑葉　知母　藿香　山梔　原斛　焦芍　綠豆衣　米炒西洋參　石膏（煨透）　生草　制樸　炒條芩　炒銀花　陳皮　香穀芽</p>
<p>另加竹葉三十片。</p>
<p>又改方　桑葉　知母　銀花　嫩條芩　生地　山梔　竹葉　煅石膏　生草　翹心　綠豆衣　丹皮　澤瀉　燈芯</p>
<p>三診　暑濕夾溫毒從氣分外泄為㾦，遍體密如蠶種，熱迫便瀉，火升喉腐，吞嚥梗痛，脘悶拒納，舌尖絳苔浮，脈小弦而數。病經二旬，昨見鼻衄，溫邪由氣入營之勢，尚慮昏憒。</p>
<p>老山西洋參　知母　犀角盤　生地　銀花　甜花粉　竹葉　青金散　生草　元參心　丹皮　鬱金　綠豆衣　燈芯　茯神</p>
<p>改方　老山西洋參　知母　生地　銀花　茯苓神　滑石　竹葉　冰糖煅石膏　生草　丹皮　元參　天花粉　澤瀉　燈芯　桑葉</p>
<p>又改方　老山西洋參　知母　生地　銀花　桑葉　生穀芽　燈芯　冰糖煅石膏　牛膝　丹皮　元參　佩蘭　抱茯神　竹葉　綠豆衣</p>
<p>複方　前方先錄　秋溫伏暑已經兩候，痰留熱戀，汗出不衰，㾦現不多，舌灰，脈弦滑。望六之年，復元不易。</p>
<p>老山西洋參　知母　杏仁　川貝　生地　滑石　竹葉　青金散　生草　鬱金　銀花　鐵斛　茯神　燈芯　牛膝</p>
<p>（案8）伏暑晚發，已經兩旬，白㾦層出頗密，潮熱起伏，汗出不衰，舌絳苔糜，脈弦而數。以參白虎。</p>
<p>老山西洋參　知母　鐵皮斛　生地　銀花　元參心　竹葉　青金散　淡草　天花粉　丹皮　翹心　茯神心　燈芯　桑葉</p>
<p>（案9）秋溫伏暑，名曰晚發。先厥後熱，逆入營陰，昏狂譫語，唇焦齒黑，徹夜不寐，無汗肢厥，舌灰已退，苔浮中剝，脈弦數疾。白㾦胸次雖露，營分之邪尚郁遏不宣，有閉厥之虞。</p>
<p>銀花　牛蒡　菖蒲　蟬衣　鉤鉤　丹皮　鐵皮斛　茯神（辰拌）　蘆根　翹心　鬱金　遠志　山梔　生地　知母　天花粉　羚羊五分</p>
<p>另用犀尖四分、牛黃丸。</p>
<p>（案10）紅疹白㾦遍體密布，昨投芳香宣竅，清營泄熱，神識依然乍清乍糊，厥漸不致舉發，咳嗆有痰，脅肋引痛，舌黃糙罩灰尖絳，脈弦小數。不固局勢未定，尚在險途。</p>
<p>甘中黃　翹心　鬱金　遠志　生地　天竺黃　知母　天花粉　淨銀花　鉤鉤　菖蒲　茯神　鐵斛　光杏仁　石決　絲瓜絡</p>
<p>改方　去煅石膏、遠志。</p>
<p>膏方</p>
<p>病後氣陰未復，周以窒礙，時覺腿麻肢痠，脈小弦。冬藏投以滋補。</p>
<p>黨參（三兩）　姜夏（一兩五錢）　熟地（五兩，砂仁拌）　歸身（二兩）　桑葉（二兩）　甘杞（二兩）　苡仁（四兩）　冬朮（蒸，一兩五錢）　陳皮（一兩五錢）　淮藥（二兩）　炙西耆（二兩）　煅牡蠣（四兩）　川斷（酒炒，三兩）　紅棗（二十枚）　茯苓（三兩）　制首烏（三兩）　官桂（五錢）　良薑（八錢）　脊片（二兩）　白蒺藜（三兩）　吳萸（五錢）　炙草（五錢）　麥冬（剖心，二兩）　白芍（二兩）　沉香（四錢）　牛膝（三兩）　柏皮（八錢）</p>
<p>加陳阿膠二兩，冰糖八兩收膏。</p>
<p>寒熱不達，防生髮痦，先以清透法。</p>
<p>鐵皮斛　牛蒡　生地　大豆卷　蒿葉　知母　橘紅　連翹　荊芥　粉丹皮　黑山梔　益元錠　杏仁　車前</p>
<p>（案11）風濕竄經入絡，左半身痠痛，麻木不仁。腿膝經針灸後漫腫紅痛，遍體發斑，白㾦隱約無常，舌黃膩，脈弦數。邪在氣營，尚防昏變。</p>
<p>銀花　丹皮　犀角盤（四分）　川連　鐵皮斛苡仁　川牛膝　翹心　赤芍　鮮生地　蟬衣　抱茯神　獨活　忍冬藤　鉤鉤</p>

<h2>風燥</h2>
<p>（案1）風燥上凌，陽明受灼。</p>
<p>生地　山梔　元參　生草　桑葉　橘紅　蘆根　丹皮　象貝　知母　杏仁　旱蓮　川斛　車前</p>
<p>（案2）風燥上凌，肺胃先受，舌黃糙，脈小數。治以宣泄。</p>
<p>荊芥　薄荷　杏仁　蘇子　元參　土貝　蘆根　連翹　鉤鉤　鬱金　萊菔　知母　牛蒡　絲瓜絡</p>
<p>（案3）風燥上凌，陽明受灼。</p>
<p>元參　生草　生地　山梔　桑葉　橘紅　蘆根　知母　杏仁　丹皮　象貝　旱蓮　川斛　車前子</p>
<p>（案4）陰虛火旺，陽明被灼。</p>
<p>元參　生草　丹皮　鉤鉤　通草　骨碎補　煅石膏　知母　桑葉　山梔　杭菊　牛膝　益元散　竹葉</p>

<h2>暑濕</h2>
<p>感寒著濕，陽明受困，形寒身熱，舌黃，脈濡弦。以三焦分利法。</p>
<p>紫蘇　山梔　蒿梗　枳殼　通草　苡仁　忍冬藤　大豆卷　鉤鉤　半夏　陳皮　滑石　全瓜蔞　車前</p>

<h2>瘧疾（附　間瘧、脾胃瘧）</h2>
<p>（案1）著寒停食從膜原外騰為瘧，寒少熱甚，汗出不爽，腹痛拒按，脈弦小數。治以和解，兼以導滯。</p>
<p>蒿梗　宋半夏　山梔　藿香（川連拌）　枳實　志曲　砂仁　淡芩　青陳皮　鉤鉤　鮮斛　雞金　滑石　竹茹（薑汁炒）</p>
<p>（案2）瘧發不暢，濕留膽胃，脈濡弦。法當和解。</p>
<p>蒿梗（川連三分拌）　半夏　扁斛　佩蘭　山梔　通草　滑石　淡芩　陳皮　苡仁　枳殼　鉤鉤　赤苓　忍冬藤</p>
<p>複方　瘧濕漸化，胃氣似有來復之機，脈濡弦。仍以清滲。</p>
<p>扁斛　佩蘭　藿香　陳皮　通草　六一散　鮮佛手　苡仁　山梔　枳殼　半夏　赤苓　香穀芽　忍冬藤</p>
<p>（案3）風寒外襲，寒熱如瘧，肢痠頭疼，脈濡弦。以河間三焦分理法。</p>
<p>紫蘇　半夏　杭菊　鉤鉤　蒿梗　赤苓　竹茹（薑汁炒）　豆豉　陳皮　山梔　枳殼　藿香　滑石　蔥白</p>
<p>（案4）濕著膽胃，瘧發連枝，汗出不多，脈濡弦。當達成正瘧乃吉。</p>
<p>紫蘇　山梔　蒿梗　半夏　通草　赤苓　澤瀉　豆卷　鉤鉤　淡芩　陳皮　滑石　枳殼　車前　薑汁竹茹</p>
<p>（案5）濕著不化，陽明通降失司，脈濡弦。法以清滲。</p>
<p>扁斛　佩蘭　藿香（川連三分拌）　陳皮　通草　六一散　鮮佛手　苡仁　山梔　枳殼　半夏　青蒿　白蔻衣　忍冬藤</p>
<p>（案6）過食發氣，寒熱如瘧，熱甚神煩，胃鈍妨食，舌糙苔黃，脈小弦。以仲景法。</p>
<p>白芍（桂枝拌）　新會皮　扁斛　佩蘭　知母　枳殼（常山拌）　茯苓神　半夏　小青皮　苡仁　山梔　草果　杭菊　鮮佛手</p>
<p>（案7）感寒引動伏濕，脈濡弦。以河間三焦分理法。</p>
<p>紫蘇　山梔　蒿梗　青陳皮　通草　赤苓　忍冬藤　豆卷　鉤鉤　半夏　白蔻衣　滑石　枳殼　薑汁竹茹</p>
<p>（案8）寒食互滯，輸運失職。</p>
<p>紫蘇（川連拌）　山梔　蒿梗　半夏　枳實　楂肉　蘆根　豆卷　鉤鉤　藿香　陳皮　瓜蔞　茯神　竹茹（薑汁炒）</p>
<p>（案9）瘧久陰傷，營衛迭偏，痞聚輒脹，身熱鼻衄，勞倦則寒熱自作，舌黃膩，脈弦數。法當養陰泄熱，兼和營衛。</p>
<p>珠兒參　白芍　根地　鱉甲　女貞　青陳皮　川貝　制首烏　黃柏　龜板　知母　旱蓮　茯苓神　半夏　桑葉</p>
<p>濕鬱化熱，表分未宣。</p>
<p>豆卷　蒿梗　杏仁　苡仁　鉤鉤　通草　絲瓜絡　山梔　淡芩　鬱金　佩蘭　橘絡　滑石　車前草</p>
<p>（案10）脾胃濕瘧，發必吐瀉腹脹，氣悶，肢痠頭疼，脈弦數。治以疏和。</p>
<p>柴胡（水炙）　藿梗　半夏　鮮斛　炒淡芩　通草　六曲　白芍　制樸　枳殼　連翹　炒銀花　陳皮　竹茹（薑汁炒）　荷葉</p>
<p>（案11）寒涼傷中，引動濕邪。</p>
<p>紫蘇　豆卷　蒿梗　陳皮　鉤鉤　苡仁　生薑　連翹　山梔　枯芩　枳殼　藿梗（川連拌）佩蘭　車前</p>
<p>（案12）濕著膽胃，發為間瘧，脘悶嘔惡，頭疼腰痠，舌黃糙，脈弦數。法以和解。</p>
<p>柴胡（水炙）　半夏　藿梗（川連拌）　苡仁　狗脊　通草　淡芩　陳皮　枳殼　佩蘭　鉤鉤　滑石</p>
<p>（案13）伏邪從膜原外騰為間瘧，熱時神昏，身熱不涼，頭疼嘔吐，腹痛便溏，舌糙黃，脈弦數。當以和解。</p>
<p>柴胡（水炙）　半夏　鮮斛　茯神　藿香　佩蘭　麥芽　淡芩　陳皮　連翹　鉤鉤　苡仁　澤瀉　竹茹　車前</p>
<p>二診　瘧來便溏是伏邪由表入里，熱甚神昏，腸中㽲痛，舌糙黃，脈仍弦數。最慮瘧邪內陷入營。</p>
<p>羚羊　制樸　楂肉　炒鬱金　蒿梗　澤瀉　竹茹（薑汁炒）　連翹　藿梗　茯神　炒淡芩　陳皮　鮮斛　車前</p>
<p>便瀉稍減，熱勢亦緩。據述昨夜寤寐不安，瘧潮定然復來，舌黃膩，脈弦微和。治法仍宗原擬，佐以疏和。</p>
<p>蒿葉　鮮斛　藿梗　陳皮　通草　苡仁　佛手　淡芩　茯神　制樸　神麯　滑石　澤瀉　車前</p>
<p>寒食互滯，引動痧穢傷中，腹痛吐瀉，脈濡弦。尚須疏和和運。</p>
<p>紫蘇　枳殼　藿梗　焦芍　吳萸　烏藥　半夏　六曲　制樸　陳皮　木香　滑石</p>
<p>複方　濕著膽胃，從膜原外騰為瘧，脈小一弦。法宜和解。</p>
<p>蒿梗　半夏　桑葉　山梔　杭菊　通草　碧玉散　淡芩　陳皮　丹皮　旱蓮　鉤鉤　茯神　車前草</p>
<p>濕著膽胃，間瘧四度，寒熱俱甚，脘膈輒噯，飲啖式微，舌黃糙，脈弦數。法當和解少陽、陽明。</p>
<p>柴胡（水炙）　半夏　銀花　鮮斛　山梔　枳殼　藿香（川連拌）　淡芩　陳皮　連翹　鬱金茯神　益元散　蔻衣　佛手</p>
<p>（案14）濕著不化，深伏三陰為痎瘧，脈濡弦。陰虛之體，曾經失血。姑先搜剔絡邪三陰。</p>
<p>銀胡　蒿子　秦艽　靈仙　扁斛　佩蘭　香穀芽　白芍　地骨　淡鱉甲　草果　苡仁　知母　桑葉　功勞子</p>
<p>（案15）上焦伏暑殊甚，治以清滲。</p>
<p>蒿梗　半夏　鮮斛　天花粉　藿梗　佩蘭　山梔　淡芩　橘紅　知母　茯神　苡仁　枳殼　鉤鉤　竹茹</p>
<p>（案16）濕著膽胃，治以和解。</p>
<p>柴胡（水炙）　半夏　藿梗　佩蘭　杭菊　鉤鉤　佛手　淡芩　陳皮　苡仁　枳殼　山梔　通草　車前　六一散</p>
<p>（案17）暑邪從膜原外騰為間瘧，脈弦數。法當和解。</p>
<p>柴胡（水炙，川連拌）　半夏　杭菊　鉤鉤　鮮斛　連翹　忍冬藤　淡芩　陳皮　山梔　知母　益元散　通草　瓜蔞</p>
<p>（案18）寒濕阻中，形寒便瀉，脈弦數。成瘧乃吉。</p>
<p>水炙柴胡　藿梗　條芩　木香　半夏　六曲　滑石　炒白芍　制樸　銀花　茯神　陳皮　鉤鉤　荷葉</p>
<p>（案19）濕伏三陰，痎瘧久擾。</p>
<p>柴胡（鱉血炒）　秦艽　陳皮　山梔　扁斛　佩蘭　白芍　靈仙　半夏　枳殼　苡仁　茯苓　忍冬藤</p>
<p>（案20）濕伏三陰，痎瘧連枝，不分經界，身熱神疲，脈濡弦。法當搜剔絡邪。</p>
<p>柴胡（鱉血炒）　秦艽　半夏　橘紅　通草　赤苓　忍冬藤　白芍　靈仙　川貝　佩蘭　滑石　扁斛　生熟苡仁</p>
<p>寒熱甚重，汗出頗爽，咳嗆肋痛，舌黃糙，脈弦數。治以和解。</p>
<p>蒿梗　宋半夏　杏仁　象貝　赤苓　山梔　鮮斛　淡芩　橘紅絡　鬱金　蘇子　滑石　旋覆　蘆根　絲瓜絡</p>
<p>投分利法，寒熱依然不達，氣滯失調，肢痠腹脹，脈小弦。再以疏泄。</p>
<p>原斛　穀芽　枳實　青陳皮　半夏　蔻衣　白芍（桂枝分半拌）　苡仁　藿梗　佩蘭　川鬱金　樸花滑石　佛手</p>
<p>（案21）瘧久氣陰延虛，濕留太陰，肢腫腹膨，神疲力懈，舌淡絳，苔膩，脈右濡弦左關兼滑。病在肝脾，由正虛濕邪留戀所致。花甲高年，難持重任。</p>
<p>吉林須　白朮（土炒）　茄皮　川貝　青陳皮　志曲　枳殼　紅棗　茯苓皮　防己　巴戟　半夏　生小樸　雞金　澤瀉</p>

<h2>霍亂</h2>
<p>（案1）寒邪痧穢，格拒中樞，吐瀉交作，霍亂轉筋，肢厥脈伏，汗多煩渴。亟以仲景法。</p>
<p>桂枝　木瓜　紫蘇　木香　六曲　吳萸　枳殼　白芍　蠶砂　制樸　藿香　半夏　陳皮　竹茹（薑汁炒）　來復丹（八分）</p>
<p>（案2）寒邪痧穢挾食，格拒中樞，泛嘔腹瀉，形寒腹痛，舌黃膩，脈小弦。是屬霍亂，亟以疏和。</p>
<p>紫蘇　吳萸　姜夏　生白芍　藿梗　赤苓　竹茹（薑汁炒）　制樸　六曲　枳殼　新會皮　木香　蠶砂　蔻衣　荷葉</p>
<p>（案3）寒邪痧穢，格拒中樞，先瀉後吐，形寒身熱，舌黃糙，脈弦數。治以疏和。</p>
<p>紫蘇　六曲　藿香　半夏　黑山梔（大豆卷拌）　吳萸（川連拌）　竹茹（薑汁炒）　制樸　陳皮　枳殼　蒿梗　純鉤鉤　蠶砂　忍冬藤</p>
<p>（案4）霍亂轉筋，肢厥脈伏。防厥脫。</p>
<p>桂枝　木瓜（二錢）　藿香　六曲　紫蘇　牡蠣（附子四分，煎汁煅）　姜半夏　白芍　蠶砂（三錢）　川樸　陳皮　木香　吳萸　姜竹茹</p>
<p>（案5）寒邪痧穢，格拒中樞，上吐下瀉，脘格腹痛肢厥，脈細，治以溫運。高年局勢未定。</p>
<p>桂枝　木瓜　藿梗　六曲　姜夏　木香　茯苓　白芍　蠶砂　制樸　陳皮　吳萸　牡蠣（製附子四分煎汁煅）　竹茹（薑汁炒）　來復丹（八分入煎）</p>
<p>（案6）寒邪痧穢，格拒中樞，致清濁升降不調，上吐下瀉，四肢厥冷，額汗脘悶，脈細近伏，舌尖絳根苔黃膩。局勢非輕，有厥脫之險。</p>
<p>桂枝（五分）　木瓜　藿香　半夏　木香　牡蠣（附子四分煎汁煅）　茯苓神　白芍　蠶砂　制樸　陳皮　澤瀉　竹茹（薑汁炒）　來復丹</p>
<p>（案7）寒邪痧穢，引動暑濕，肢麻嘔吐，形寒發熱，舌白糙，脈弦濡數。成瘧乃佳。</p>
<p>白芍（桂枝拌炒）　川連（萸汁炒）　木瓜　枳殼　藿香　白蔻衣　通草　忍冬藤　紫蘇　山梔　蠶砂　姜夏　佛手　竹茹（薑汁炒）　滑石</p>
<p>二診　痧穢已止，暑濕未消，口渴裡熱，舌根黃膩，脈弦而數。再以芳香滲濕。</p>
<p>藿梗　半夏　黑山梔　苡仁（生熟各）　佩蘭　滑石　佛手　枳殼　陳皮　純鉤鉤　原斛　通草　澤瀉　荷葉　赤白茯苓</p>
<p>改方　去原金斛、佩蘭、生熟苡仁、佛手，加煨木香川連拌、制小樸、煨葛根、炒銀花。</p>
<p>三診　痧後復瀉，是暑邪下注，身熱口渴，舌白糙，脈弦滑數。餘邪未澈，尚慮轉瘧。</p>
<p>原斛　藿香　銀花　山梔　蒿梗（川連拌）　通草　澤瀉　苡仁　枳殼　連翹心　鉤鉤　益元散　茯神　佛手</p>
<p>四診　痧後暑邪尚盛，轉為脾胃濕瘧，發必吐瀉交作，間日而發已經兩度，脈弦滑而數。治以疏和。</p>
<p>水炙柴胡　藿香　銀花　鮮斛　茯神　半夏　葛根　炒焦白芍　制樸　連翹心　山梔　益元散　陳皮　竹茹（薑汁炒）</p>
<p>（案8）寒邪痧穢，格拒中樞，霍亂轉筋，肢厥脈伏，上吐下瀉，舌白糙。法以溫運。</p>
<p>桂枝　木瓜　紫蘇　陳皮　半夏　木香　滑石　白芍　蠶砂　制樸　六曲　枳殼　砂仁　竹茹（薑汁炒）</p>
<p>（案9）寒邪痧穢，格拒中焦，脈濡弦。防成急驚。</p>
<p>紫蘇　半夏　蠶砂　白芍　通草　赤苓　竹茹（薑汁炒）　川連　枳殼　木瓜　藿香　益元散　山梔　車前</p>

<h2>泄瀉</h2>
<p>（案1）濕勝濡泄，陽明受困。</p>
<p>炒白朮　芸曲　藿香　陳皮　雲苓　吳萸　（赤苓拌）　炒紅棗　制樸　扁豆　木香　半夏　枳殼　砂仁　薑汁竹茹</p>
<p>（案2）姚初診　體本陰虛木旺，脾失健運，便溏身熱，肝失疏泄，腹痛疝氣，脈濡弦。法當疏運。</p>
<p>白朮（土炒）　炮薑炭　焦白芍　扁豆　肉果　原斛　茴香（歸尾一錢五分拌）　茯苓　炙草　青陳皮　芸曲　炒澤瀉　穀芽　紅棗　荔枝核</p>
<p>（案3）中氣不足，溲便為之變。便溏溲澀，脈濡小弦。法當疏滲</p>
<p>焦芍　於術（土炒）　木香（川連拌）　芸曲　通草　川萆薢　車前子　陳皮　茯苓　砂仁　澤瀉　滑石　生熟苡仁　炒紅棗</p>
<p>（案4）濕著運滯，腹痛便瀉。</p>
<p>藿梗　六曲　葛根　炒銀花　通草　澤瀉　香穀芽　制樸　陳皮　木香　焦白芍　滑石　砂仁　荷蒂</p>
<p>（案5）㾦後氣陰俱虛，咳嗆便溏。</p>
<p>藿梗　訶子　原斛　穀芽　焦芍　杏仁　橘紅絡　制樸　川貝（炒黃）　石蓮　茯神　桑葉　洋參（米炒）　糯稻根鬚</p>
<p>（案6）濕熱下注，腹痛便瀉。</p>
<p>藿香　芸曲　原斛　佩蘭　炒白朮　炒銀花　砂仁　制樸　陳皮　苡仁　穀芽　茯苓皮　杭菊　車前</p>
<p>（案7）寒濕阻中，腸胃乃傷，腹痛便瀉，身熱肢痠，脈弦滑。法當疏滲。</p>
<p>紫蘇（川連拌）　六曲　藿梗　半夏　木香　穀芽　竹茹（薑汁炒）　制樸　陳皮　枳殼　茯苓　砂仁　澤瀉　車前</p>
<p>複方　濕止而上焦濕熱未清，脈弦滑。尚須清滲。</p>
<p>生白朮　芸曲　原斛　苡仁　茯苓　藿梗　扁豆　制小樸　陳皮　牛蒡　枳殼　半夏　穀芽　竹茹</p>
<p>（案8）體素陰虛里熱，氣無依附，腹痛氣滯，食積便溏，脈弦數，舌黃膩。陰虛而兼陽亢也，先治其標。</p>
<p>香附　白朮（土炒）　焦芍　原金斛　半夏曲　銀胡　穀芽　砂仁　扁豆　陳皮　省頭草　雲苓神　蒿子　澤瀉　川楝子</p>
<p>（案9）濕困太陰，得食便溏。</p>
<p>香附炭　芸曲　陳皮　焦芍　桑葉　石決明　炮薑炭　縮砂仁　於術（土炒）　茯苓　扁豆　池菊　陳佩蘭　煨肉果　炒香紅棗</p>
<p>姚複方　便溏已止，疝氣漸消，惟厥陰疏運失司，時覺腹脹矢氣，脈濡弦。再以疏氣滲濕。</p>
<p>白朮（土炒）　焦芍　茯苓　原金斛　穀芽　扁豆　藿香　制樸　陳皮　佩蘭　益元散　澤瀉　枳殼　紅棗（炒香）</p>
<p>複方，前方先錄　便瀉已緩，胃鈍神疲，夜寐欠安，腹痛且脹，舌糙，脈弦小數。當治脾胃。</p>
<p>焦芍　於術（土炒）　木香　芸曲　石蓮　原斛　紅棗（炒香）　陳皮　茯苓　砂仁　扁豆　穀芽　半夏　竹茹（薑汁炒）　炮薑炭</p>

<h2>痢</h2>
<p>（案1）暑濕下迫大腸，痢下赤白，夜寐欠安，飲食式微，脈濡弦。恐成噤口痢。</p>
<p>升麻炭　赤白芍　條芩炭　歸身炭　藿香　芸曲　陳皮　葛根炭　淡甘草　銀花炭　茯苓神　制樸　木香（川連拌）　荷蒂</p>
<p>複方　痢次已減，腹痛後重未已，脈濡弦。腸胃積濕未清，治以疏滲。</p>
<p>原斛　穀芽　藿香　焦芍　益元散　銀花　制樸　石蓮　芸曲　半夏　陳皮　茯苓神　木香（川連四分拌）　荷蒂</p>
<p>（案2）暑濕熱挾食滯，蒸傷腸腑氣血，為赤白下痢。</p>
<p>楂炭　焦六曲　葛根　條芩炭　赤苓　枳實　貫仲　制樸　新會皮　木香　銀花炭　藿香　滑石　荷蒂</p>
<p>（案3）咳嗆身熱，熱迫便積，腹痛後重，脈弦滑數。局勢非輕。</p>
<p>訶子　葛根　芸曲　橘紅　原斛　穀芽　益元散　川貝（炒黃）　制樸　銀花　茯苓神　石蓮　藿香　水炙竹茹　荷蒂</p>
<p>（案4）由瀉變痢，痢下赤白，是暑濕熱挾食滯，蒸傷腸腑氣血所致，腹痛後重，脘滿輒噯，舌黃膩，脈濡弦。法當疏導腸胃。</p>
<p>楂炭　六曲　葛根炭　條芩炭　藿香　枳實　貫仲　制樸　陳皮　煨木香　銀花炭　半夏　滑石　荷蒂</p>
<p>改方　投疏理法，痢次較減，胃鈍謝谷。再以疏氣養胃，希冀納穀則昌。</p>
<p>歸身炭　條芩炭　赤白芍　陳皮　藿梗（川連拌）　芸曲　延胡　葛根炭　銀花炭　制小樸　木香　原斛　穀芽　石蓮　貫仲</p>
<p>複方　由赤痢轉為便血，陰絡受傷也。</p>
<p>升麻炭　赤白芍　槐米炭　銀花炭　茯苓　原斛　香穀芽　葛根炭　淡甘草　歸身炭　焙丹皮　澤瀉　石蓮　白苧根</p>
<p>藝成診　下痢傷脾，土虛木賊，脾失運行之職，肝先乏疏泄之權，遂致遍體虛浮，腹笥䐜脹。飲啖入胃，脹甚難消，矢氣乃舒，便通較適。形消神憊，溲少口乾，膀胱氣化失司，津液不能敷布，苔浮白質光，脈右弦左細，氣隨血竭，脾土敗壞。調治法程，當養營培氣，崇土泄肝，佐益腎治水，預防水溢高源，變生喘厥，擬仿景岳一貫煎加減之。</p>
<p>吉林參　白芍　土炒於術　瓦楞　八月札　牛膝　合歡皮　紫丹參　川楝　茯苓皮　大腹　玉蝴蝶　萼梅　滋腎丸</p>
<p>改方　疊投兩培氣血，以崇土御木，益腎逐水尚合病機，委改當宗原法增刪。</p>
<p>西黨參　茯苓　八月札　巴戟　歸鬚　紫丹參　綠萼梅　土炒於術　白芍　玉蝴蝶　牛膝　瓦楞　合歡皮　滋腎丸</p>
<p>（案5）由瘧轉痢，是經邪入腑，脈小弦。再以疏和。</p>
<p>葛根　六曲　藿梗　炒銀花　通草　赤苓　荷蒂　制樸　陳皮　枳殼　條芩炭　滑石　木香（川連三分拌）　忍冬藤</p>
<p>（案6）痢久脾傷及腎，關閘大開，腎敗胃陰亦敗，已見謝谷不納，痢次頗多，舌苔剝尖絳，脈小弦而數。治以參苓白朮散。</p>
<p>吉林須　茯苓　炒澤瀉　升麻炭　餘糧石（三錢）　霍斛　炒香穀芽　土炒於術　焦芍　陳皮（熱水潤）　赤石脂（一錢五分）　咸半梅（二片）　石膏糯稻根鬚</p>
<p>（案7）赤痢已經兩月，腹痛後重依然，痢次漸減，舌絳苔糙，脈濡數。防成休息痢。</p>
<p>歸身炭　阿膠　焦芍　土炒於術　香附炭　石蓮　茯苓　炮薑炭　炙草　陳皮　地榆炭　縮砂仁　原斛　穀芽　樗根白皮</p>
<p>（案8）陰虛之體感受暑濕，蒸傷腸腑為赤白下痢，痢經兩旬，腹痛後重，胃陰受劫火升，鼻衄喉顙起糜，裡熱自汗，舌絳苔薄，脈細而數。姑以酸甘化陰，仿生脈大意。</p>
<p>西洋參（米炒）　北五味　陳皮（熱水潤）　原斛　香穀芽　茯苓　焙丹皮　全麥冬（米炒）　焦白芍　於術（土炒）　石蓮　炒扁豆　澤瀉　車前子　糯稻根鬚</p>
<p>改方　加煅牡蠣四錢。</p>
<p>（案9）休息痢經年，是脾虛有濕，右臂麻木不仁，脈濡弦。姑先疏運。</p>
<p>焦芍　炒白朮　原斛　炒香穀芽　山藥　木香　雞血藤　陳皮　防風炭　石蓮　扁豆　茯苓　砂仁　絡石藤</p>

<h2>疸</h2>
<p>（案1）濕阻中焦，氣機失展。</p>
<p>茵陳　蒿梗　生白朮　赤苓　滑石　青陳皮　枳殼　通草　山梔　生小樸　澤瀉　苡仁　忍冬藤　車前</p>
<p>（案2）黃疸，脈濡，治以疏和。</p>
<p>鈴茵陳　焦梔皮　蒿梗　苡仁　赤白茯苓　澤瀉　仙人對坐草　炙柴胡　川柏皮　通草　佩蘭　青陳皮　滑石　紫背浮萍草</p>
<p>（案3）濕阻氣滯，脾胃失調。</p>
<p>鈴茵陳　山梔　藿梗　青陳皮　大腹　滑石　苡仁　炙柴胡　通草　制樸　豬茯苓　澤瀉　忍冬藤　車前</p>
<p>（案4）濕鬱留而不澈，太陰受困，純熱無汗，脈小弦。再以清滲。</p>
<p>鈴茵陳　通草　生白朮　枳殼　川連　滑石　車前子　炙柴胡　山梔　豬茯苓（連皮）　桑葉　黃芩　澤瀉　紫背浮萍草</p>

<h2>濕熱</h2>
<p>（案1）濕阻中焦，陽明通降失司，脈小弦。法以疏和。</p>
<p>扁斛　苡仁（生熟各）　藿香　半夏　銀胡　川貝　桑葉　佩蘭　穀芽　枳殼　橘紅　白芍　茯神　竹茹（玫瑰花制）　紅棗</p>
<p>（案2）風寒外襲，濕濁內留。</p>
<p>銀花　大豆卷　桑葉　杭菊　萊菔　通草　象貝　翹心　黑山梔　紫蘇　鉤鉤　橘絡　滑石　蘆根</p>
<p>（案3）濕著不化，痰氣交阻，脈濡弦。治以疏滲。</p>
<p>半夏　橘紅絡　沉香　知母　桑葉　山梔　佩蘭（川連拌）　絲瓜絡　枳殼　茯苓神　白芍　川貝　天麻　鉤鉤　竹茹</p>
<p>（案4）濕阻氣滯，腹痛便赤，脈濡弦。治以疏滲。</p>
<p>木通　草梢　沉香　檳榔　豬茯苓　澤瀉　淡竹葉　生地　滑石　烏藥　枳實　廣木香（川連拌）　砂仁　車前子</p>
<p>（案5）便血已止，陽明余濕未清，小溲短赤，脈小數。再以清滲</p>
<p>扁斛　佩蘭　通草　赤苓　藿香　丹皮　鮮荷葉　苡仁　山梔　滑石　澤瀉　枳殼　佛手　車前子</p>
<p>（案6）濕鬱化熱，陽明受困。</p>
<p>連翹　杭菊　藿梗　佩蘭　通草　蒿梗　山梔　鉤鉤　苡仁　枳殼　滑石　瓜蔞</p>
<p>（案7）濕困太陰，肺胃失降。</p>
<p>原斛　佩蘭　杏仁　炒蘇子　通草　赤苓　苡仁　桑葉　鬱金　橘紅絡　六一散　車前　竹茹</p>
<p>（案8）陽明被灼，濕熱熏蒸，目糊微熱，舌糙脈數。尚須清滲。</p>
<p>桑葉　石決　川斛　佩蘭　通草　碧玉散　佛手　滁菊　鉤鉤　苡仁　川連　丹皮　肥知母　車前</p>
<p>再治太陰伏濕，以清膽胃濕熱痰。</p>
<p>萆薢　澤瀉　泔浸茅朮　橘紅　赤苓　半夏　忍冬藤　苡仁　山梔　川柏皮　生樸　滑石　枳殼　竹茹</p>
<p>再理陽明，以清濕復熱。</p>
<p>冬瓜子　杏仁　原斛　藿梗　橘紅　赤苓　竹茹　薏苡仁　象貝　佩蘭　枳殼　半夏　滑石　荷葉</p>
<p>寒邪已化，濕熱尚留肺胃。</p>
<p>冬瓜子　杏仁　桑葉　山梔　知母　通草　蘆根　薏苡仁　象貝　丹皮　青蒿　元參　碧玉散　竹茹</p>
<p>濕鬱不達，法當清滲。</p>
<p>青蒿　通草　杭菊　大豆卷　陳皮　苡仁　蘆根　益元散　鉤鉤　枳殼　黑山梔　連翹　佩蘭　車前</p>
<p>濕著不化，痰濁上擾，舌垢，脈小數。治先分利三焦。</p>
<p>藿香　佩蘭　豆卷　半夏　蘇子　杏仁　冬瓜子　苡仁　枳殼　山梔　鉤鉤　萊菔　滑石　水炙竹茹</p>
<p>（案9）氣虛濕勝，健運失職，以致消化不良，得食易滯，脾胃受濕所困，神疲力懈，自汗盜汗，舌黃膩，脈濡數。治先疏運中樞，滲濕滌痰。</p>
<p>橘紅　半夏　苡仁　生白朮　焦梔皮　桑葉　白芍（桂枝二分拌）　茯苓　枳殼　佩蘭（川連拌）　生小樸　穭豆衣　瓜蔞　竹茹（薑汁炒）　佛手花</p>
<p>（案10）氣虛飲勝濕勝，交春內蘊，濕毒萌動。</p>
<p>麻仁　蔞仁　苡仁　牛膝　半夏（竹瀝制）　木通　赤白茯苓　李仁　杏仁　獨活　橘紅　生地　草梢　忍冬藤花　車前子</p>

<h1>卷中</h1>

<h2>虛損</h2>
<p>（案1）年近花甲，中陽衰餒，肝木乘間，橫克脾胃，因斯受困。脾受之則輸運失職，胃受之則通降無權，素勝痰飲，易聚難化，嘔惡噯滿，類似呃逆。營衛不和，寒熱往來，杳不思納，夜寐欠安。按脈沉弦小軟，舌絳苔剝。證脈合參，病在脾胃，後天生生之氣日漸摧殘。論治當以補土生金，佐以通降陽明，希冀得谷則昌，附方蒞裁。</p>
<p>旋覆　淡草　橘紅　霍斛　茯苓神　銀胡　秫米　代赭　半夏　竹茹　穀芽　制冬朮　白芍　佩蘭　柿蒂</p>
<p>二診　投補土生金，佐以通降陽明，與病機若合符節。據述嘔惡漸平，寒熱漸退，飲啖式微，寤寐稍安，此皆轉危為安之兆，惟高年中虛，痰飲氾濫，陽明容納無權，賁門窄小，吞嚥時或作梗。頃診脈象沉弦，重按稍振，舌絳苔糜，種種見證不外乎脾胃兩經。脾宜升則健，胃宜降則和，脾胃升降調和，氣機自然活動。治法當從此著想，無使胃敗脾傷，如無他變，錄方仍請高明主政。</p>
<p>霍斛　茯苓　橘紅　半夏　旋覆（代赭拌）　香穀芽　竹茹（玫瑰花制）　蒸冬朮　淡草　白芍　扁豆　佩蘭　八月札　紅棗　柿蒂</p>
<p>三診　腎為先天，脾為後天，脾胃少元陽之助，脾不能為胃行其津液，水穀精微徒釀痰濁，以致濁飲上泛，嘔逆頻仍，營衛不和，寒熱往來，舌絳苔糜，脈沉弦，較前略振。治法仍以脾胃兩顧，扶過春分，自有消息。</p>
<p>人參　白芍　霍斛　半夏　佩蘭　八月札　竹茹（玫瑰花制）　制首烏　茯神　橘紅　甘草　生穀芽　玉蝴蝶　柿蒂</p>
<p>（案2）血後陰傷木旺，金被火刑，脈虛弦。已經延入損途。</p>
<p>粉參　黛蛤散　桑葉　川貝　蘇子　炙橘紅　藕節　白前　白石英　秋石（二錢五分）　炒杏仁　桃仁　淡草　枇杷葉</p>
<p>（案3）脾陽虛弱，將入損途。</p>
<p>生白朮　淮藥　肉果　石蓮　茯苓　志曲　罌粟殼　益智仁　扁豆　訶子　穀芽　炒澤瀉　炒香紅棗　車前子</p>
<p>（案4）疰夏消渴，腹痛便泄，暑熱傷陰，脾虛夾滯。</p>
<p>炒青蒿　楂炭　制樸　胡連　檳榔　紅棗　益元散　扁豆　麥芽　白芍　百部　榧子肉</p>
<p>（案5）陰虛生熱，水不涵木。</p>
<p>細地（蛤粉炒）　知母　西洋參　麥冬　丹皮　桑葉　茯苓神　龜板　川柏　制首烏　生草　山梔　川斛　炒白芍</p>
<p>（案6）濕蒸熱鬱，肺金受灼，絡道被蒙，咳嗆肋痛，脈右數。久咳陰虛，延成損怯。</p>
<p>旋覆　橘絡　冬瓜子　杏仁　知母　粉沙參　枇杷葉　歸鬚　新絳　苡仁　鬱金　川貝　黛蛤散　絲瓜絡</p>
<p>（案7）煩勞傷陽，氣虛濕勝，初起兩腿發痠，是屬濕熱下注，迄今兩月有餘，氣陰延虛，種種見證不外肝腎兩虛，君相不寧。治法以育陰潛陽，兩調肝腎。</p>
<p>細地　知母　花龍骨　川貝　秫米　桑葉　仙夏　紅棗　龜板　川柏　牡蠣　白芍　茯神　原麥冬　澤瀉</p>
<p>另用參鬚代茶。</p>
<p>（案8）降肺氣以清肺火，滋腎水以涵肝木，仿子母同調治，下藥淨素。</p>
<p>桑葉　知母　根地　川貝　茯苓　丹皮　粉沙參　石膏（冰糖煅）　生草　天冬　杏仁　澤瀉　竹茹　枇杷葉</p>
<p>（案9）水不制火，消渴大症。</p>
<p>珠兒參　首烏　細地　知母　丹皮　川連　半夏　紅棗　青梅肉　麥冬　龜板　川柏　白芍　淡草　雲苓</p>
<p>（案10）病後復感，津液受劫，時交濕令，濕鬱化熱，神疲納懈，舌中剝，脈小弦。當治陽明。</p>
<p>西洋參　白芍　知母　半夏（竹瀝制）　丹皮　茯苓神　桑葉　制首烏　原斛　川貝　滁菊　佩蘭　生穀芽　石決　秫米</p>
<p>二診　病傷不復，復勞復感，發熱形寒，脘悶泛嘔，脈弦數。先治其標，後顧生本。</p>
<p>蒿梗　山梔（大豆卷拌）　半夏　原斛　通草　枳殼　紫蘇（川連拌）　淡芩　鉤鉤　陳皮　茯神　滑石　瓜蔞　竹茹（薑汁炒）</p>
<p>三診　感邪已化，裡熱未澈，胃氣似有來復，夜寐稍安，舌仍中剝，脈濡而弦。再以通降陽明。</p>
<p>原斛　佩蘭　枳殼　杏仁　丹皮　茯神　冬瓜子　苡仁　藿香　橘紅　鬱金　山梔　瓜蔞　生穀芽　竹茹</p>
<p>病傷不復，已經數月，內風暗動，夾感風邪，頸項強痛，肢厥類痙，自汗滂沱，脈左弦大。是積虛成損，厥變堪虞。</p>
<p>牡蠣　石決　廣鬱金　遠志（甘草水炙）　生地蠍尾　煅石膏　龍齒　桑葉　石菖蒲　茯神（辰拌）　池菊　鉤鉤　竹葉　阿膠（蛤粉炒成珠）</p>
<p>改方　桑葉　山梔　橘紅　杏仁　原斛　冬瓜子　蔞仁　丹皮　茯神　半夏　鬱金　佩蘭　薏苡仁　麻仁　竹茹</p>
<p>四診　餘熱漸清，胃氣漸復，惟神疲力懈，便難腰痠，脈小弦。由病後氣陰未復所致，尚須清滲。</p>
<p>知母　杏仁　原斛　冬瓜子　桑葉　珍珠母　蔞仁　川貝　苡仁　佩蘭　茯苓神　丹皮　生穀芽　竹茹</p>
<p>（案11）病後元氣未復，裡熱未澈，交陰微寒，脈小弦。首先清養，徐圖恢復。</p>
<p>西洋參　桑葉　銀胡　蒿子　仙夏　茯神　川斛　制首烏　細地　白芍　地骨　秫米　龜板　紅棗</p>
<p>（案12）陰虛火旺，肺胃受灼。</p>
<p>桑葉　山梔　根地　知母　苡仁　茯苓　川貝　丹皮　川斛　龜板　川柏　佩蘭　橘紅　紅棗　水炙竹茹</p>
<p>複方　肺胃痰熱殊甚，大腸濕火留連，脈右小滑而數。是屬陰虛火旺，以滋清互施。</p>
<p>根地（砂仁制）　知母　川貝（二錢）　冬瓜子　茯苓神　澤瀉　川斛　龜板　川柏　杏仁　苡仁　炙橘紅　丹皮　佩蘭　紅棗</p>
<p>（案13）失血咳嗆，肺元自虛，肺火偏旺，喉疼氣粗，舌絳，脈芤弦。勞損之基，切宜怡養。</p>
<p>元參　蟬啼花　金果蘭　川貝　茯苓　原麥冬　粉沙參　知母　冰糖煅石膏　黛蛤散　杏仁　淡草　細生地　西藏果（八分）　枇杷葉</p>
<p>（案14）脾肺氣虛，飲痰內凝，曾經失血。近復面浮腹膨，脈弦滑數，舌絳。防延入損途。</p>
<p>葶藶　淡草　生地　牛膝　生白朮　椒目　五茄　杏仁　茯神　丹皮　枳實　豬茯苓（連皮）　防己　旋覆（代赭拌）　蒲殼</p>
<p>複方　咳緩喘平，腹膨漸消，脈弦小數。仍宗原議增刪。</p>
<p>白朮　陳皮　冬瓜皮　川貝　防己　葶藶　桑葉　枳殼　大腹　茯苓皮　杏仁　苡仁　蘇子　竹茹</p>
<p>（案15）陰虛痞聚，屏傷陽絡，咯血盈盆，便溏身熱，癆損之基。</p>
<p>白朮（土炒）　陳皮　原斛　茯苓　桑葉　仙鶴草　香穀芽　枳殼　焦芍　佩蘭　扁豆　旱蓮　焙丹皮　碧玉散</p>

<h2>鼻衄</h2>
<p>陽明胃火有餘，上干清道而為鼻衄，脈弦數。當清營熱。</p>
<p>生地　山梔　旱蓮　知母　懷牛膝　通草　丹皮　茜根　茯神　桃仁　碧玉散　桑葉　竹葉</p>

<h2>失血</h2>
<p>（案1）震傷陽絡，血隨氣載。</p>
<p>紫降香　茜根　生地　旱蓮　川貝　炒蘇子　枇杷葉　懷牛膝　桑葉　丹皮　仙鶴草　杏仁　鼠黏子　藕節</p>
<p>（案2）濕鬱化火，蒸爍肺金，咳嗆痰紅，身熱盜汗，脈弦數。姑先清燥救肺法。</p>
<p>桑葉　杏仁　蘇子　知母　生地　茜根　枇杷葉　石膏（冰糖煅）　生草　牛蒡　蔞仁　丹皮　仙鶴草　絲瓜絡</p>
<p>（案3）咳嗆失血，木火刑金，爍絡使然，脈右數。法當平木清金。</p>
<p>粉沙參　白前　川貝　淡甘草　旱蓮　茯苓神　枇杷葉　黛蛤散　紫菀　杏仁　八月札　仙鶴草　鬱金　竹茹</p>
<p>複方　投平木清金法，氣促較平，咳嗆依然，脈右數。再以清降。</p>
<p>經霜桑葉　淡甘草　粉沙參　白前　川貝　茯苓神　澤瀉　冬蟲夏草　仙鶴草　黛蛤散　紫菀　炒杏仁　枇杷葉　竹茹</p>
<p>（案4）失血咳嗆，身熱氣粗，脈右數。法當和絡清金。</p>
<p>降香　三七　生地　山梔　桑葉　旱蓮　藕節　牛膝　茜根　丹皮　茯神　川鬱金　仙鶴草　竹茹　絲瓜絡</p>
<p>（案5）木火刑金爍絡，絡破血溢，咳嗆痰紅，脈小數。法當平木清金，兼調氣火。</p>
<p>桑葉　杏仁　旱蓮　生地　丹皮　枳殼　川貝　藕節　石膏（冰糖煅）　生草　仙鶴草　山梔　茯神　澤瀉　茜根　竹茹</p>
<p>二診　熱灼陽絡，血從上溢，咳嗆痰紅，脈芤弦。以和絡清金法。</p>
<p>生地　山梔　桑葉　仙鶴草　川貝　炒蘇子　藕節　丹皮　茜根　茯神　旱蓮　杏仁　鼠黏子　茅根</p>
<p>三診　再和陽絡，以清痰火。</p>
<p>生地　山梔　桑葉　仙鶴草　杏仁　炒蘇子　藕節　丹皮　茜根　茯神　旱蓮　鬱金　鼠黏子　橘紅　枇杷葉</p>
<p>（案6）久熱傷絡，絡破血溢，咳嗆氣促，脈芤弦。法當和絡清金。</p>
<p>降香　紫石英　生地　茜根　仙鶴草　海石　桑葉　橘紅絡　牛膝　靈磁石　丹皮　茯神　旱蓮　代赭　藕節</p>
<p>（案7）咳逆傷絡，血從上溢，咳痰腥臭，脈弦小數。恐成肺痿。</p>
<p>粉沙參　粉草　川貝　紫菀　蘇子　鼠黏子　枇杷葉　粉丹皮　蛤粉　杏仁　白前　茯神　青金散　姜竹茹</p>
<p>（案8）熱灼陽絡，肺胃先受困。</p>
<p>生地　山梔　桑葉　知母　通草　蔞仁　川貝　丹皮　茜根　茯神　旱蓮　碧玉散　澤瀉　杏仁　茅根</p>
<p>複方　桑葉　山梔　玄參　石膏（冰糖煅）　杏仁　茯神　丹皮　旱蓮　知母　生草　鬱金　竹茹　枇杷葉</p>
<p>（案9）久咳傷絡，絡破血溢，血隨氣載，咯血盈盞，身熱氣粗，脈芤弦。勞損之基。</p>
<p>紫降香　三七　生地　桑葉　茯神　海石　紫石英　懷牛膝　茜根　丹皮　仙鶴草　川貝　代赭　靈磁石　藕節</p>
<p>二診　失血咳嗆，肺胃火熾，脈芤弦。以喻氏法。</p>
<p>桑葉　粉沙參　旱蓮　茯神　白前　雲苓　黛蛤散　石膏（冰糖煅）　淡甘草　仙鶴草　丹皮　紫菀　藕節　枇杷葉</p>
<p>（案10）木火刑金，失血咳嗆，脈右數。以平木清金法。</p>
<p>粉沙參　白前　旱蓮　淡草　石膏（冰糖煅）　知母　豬牙皂　黛蛤散　紫菀　仙鶴草　蘇子　鼠黏子　橘絡　枇杷葉</p>
<p>（案11）木火刑金，失血咳嗆，脈芤弦。以平木清金法。</p>
<p>粉沙參　白前　川貝　蘇子　仙鶴草　淡草　連子絲瓜絡　黛蛤散　紫菀　杏仁　鼠黏子　旱蓮　旋覆（代赭拌）　枇杷葉（去毛）</p>
<p>（案12）血隨氣載，咯血盈盞，脈芤弦。切宜怡養。</p>
<p>紫石英　海石　桑葉　橘紅絡　丹皮　牛膝　藕節　靈磁石　代赭　生地　仙鶴草　茜根　雲苓　荷葉　枇杷葉</p>
<p>（案13）熱灼陽絡，血從上溢。</p>
<p>降香　茜根　丹皮　紫石英　仙鶴草　知母　旋覆（代赭石拌）　牛膝　生地　山梔　靈磁石　旱蓮　川貝　海石　桑葉</p>
<p>（案14）木火刑金，失血咳嗆，脈左弦。以平木清金法。</p>
<p>粉沙參　白前　桑葉　仙鶴草　川貝　海石　丹皮　黛蛤散　紫菀　旱蓮　淡甘草　杏仁　牛膝　川斛　枇杷葉</p>
<p>（案15）木火刑金，氣促咳血。</p>
<p>粉參　白前　川貝　蘇子　紫石英　旋覆　洋青鉛　蛤粉　紫菀　杏仁　淡草　懷牛膝　代赭　枇杷葉</p>
<p>（案16）木火刑金，失血咳嗆。</p>
<p>粉沙參　白前　川貝　蘇子　桑葉　旱蓮藕節　黛蛤散　紫菀　杏仁　鼠黏子　丹皮　仙鶴草　枇杷葉</p>
<p>（案17）血後餘熱未清，肺金失肅，咳嗆痰少，身熱便難，舌糙，脈芤弦。再以清泄。</p>
<p>川斛　桑葉　旱蓮　苡仁　知母　佩蘭　川貝　丹皮　仙鶴草　杏仁　山梔　藕節　冬瓜子</p>
<p>（案18）陰虛肺熱，肅降失司，脈細數。治以清泄。</p>
<p>桑葉　山梔　仙鶴草　淡草　川斛　知母　丹皮　杭菊　旱蓮　桃仁　苡仁　佩蘭　藕節</p>
<p>（案19）咳嗆痰紅，是木火刑金，脈滑數。法當和絡清金。</p>
<p>桑葉　山梔　冬瓜子　杏仁　石膏（冰糖煅）　生草　鮮藕節　丹皮　茜根　苡仁　象貝　鼠黏子　蘇子　絲瓜絡（連子）</p>
<p>（案20）熱傷陽絡，血從上溢，脈芤弦。當清陽明，以和陽絡。</p>
<p>桑葉　旱蓮　生地　山梔　通草　川斛　知母　茯神　仙鶴草　丹皮　茜根　滑石　佩蘭　藕節</p>
<p>（案21）勞倦陽弛，絡傷血溢，咯血盈盆盈盞，胃絡抽疼，氣逆脘悶裡熱，脈左芤弦。當和陽絡以清營熱，惟怡養功夫尤當加意於藥餌之預。</p>
<p>犀角二分（磨研沖）　丹皮（二錢）　降香　旱蓮　茜根　茯神　川鬱金　生地（一兩）　牛膝　三七　仙鶴草　桃仁　藕節　白茅根</p>
<p>複方　咯血初止，陽絡未和，咳痰薄白，脈沉芤弦。再以清營和絡。</p>
<p>生地　山梔　牛膝　蘇子　旱蓮　川鬱金　桑葉　川連　丹皮　茜根　桃仁　鼠黏　仙鶴草　川貝母　茯神</p>
<p>（案22）濕鬱化火，熏灼胃絡，絡破則血從上溢。喉癬則吞嚥作梗，脈濡弦。舌黃膩。由陰分不足所致，調養為上。</p>
<p>元參　空沙參　炒杏仁　生地　淡草　仙鶴草　茯苓　川貝　蟬啼殼　黛蛤散　丹皮　通草　金果蘭（八分）　海石　枇杷葉</p>
<p>（案23）失血咳嗆，肺胃火熾，出痰薄白，脈右濡數。是熱灼陽絡所致，切宜怡養。</p>
<p>粉沙參　白前　桑葉　早蓮　川貝　蘇子　石膏（冰糖煅）　黛蛤散　紫菀　茯神　仙鶴草　淡草　鼠黏子　丹皮　枇杷葉</p>
<p>複方　血止咳緩，熱熾於裡，出痰仍薄，脈弦數。仍治肺胃。</p>
<p>桑葉　旱蓮　知母　丹皮　炙橘紅　生地　藕節　茯神　仙鶴草　川貝　川斛　冰糖煅石膏　淡草　竹茹</p>
<p>（案24）久咳不已，肺元自虛，木火閃爍，咳嗆失血，脈弦。以平木清金。</p>
<p>粉沙參　白前　桑葉　淡草　川貝　茯苓　海石　黛蛤散　紫菀　仙鶴草　橘紅　杏仁　丹皮　牛膝　枇杷葉</p>
<p>複方　血止咳嗆未已，脈小弦。再以肝肺同治。</p>
<p>經霜桑葉　淡草　北沙參　橘紅絡　海石　紫菀　茯苓　冬蟲夏草　仙鶴草　麥冬　黛蛤散　牛膝　白前　枇杷葉</p>
<p>（案25）濕熱傷絡，絡血上溢，咳血屢發，脈芤弦。勞損之基。</p>
<p>紫石英　海石　生地　旱蓮　橘絡　黛蛤散　茜根　靈磁石　代赭　丹皮　仙鶴草　牛膝　抱茯神　藕節</p>
<p>（案26）陽絡受傷，血從上溢，咯血脘悶，微覺咳逆，舌尖絳苔膩，脈弦芤而數。以和絡清金法。</p>
<p>降香　三七　生地　山梔　川連　淡草　桑葉　牛膝　茜根　丹皮　茯神　旱蓮　仙鶴草　藕節</p>
<p>複方　咯血未止，木火偏旺，氣衝咳逆，火升頭眩，嘈雜心悸，脈仍芤弦帶數。再以和絡清金，佐平木火。</p>
<p>生地　山梔　紫石英　牛膝　桑葉　淡草　茯神　藕節　丹皮　茜根　參三七　石決（青黛拌）　仙鶴草　川連　旋覆（代赭拌）</p>
<p>三診　咯血已止，陽絡未和，虛里穴呼吸抽疼，是血去氣無依附所致。脈右小數。法以和絡調氣，佐平木火。</p>
<p>旋覆　橘絡　生地　山梔　知母　仙鶴草　絲瓜絡　歸鬚　新絳　丹皮　茯苓　川貝　旱蓮　路路通　茜根</p>
<p>（案27）頓嗆不已，挾感屢發，咳甚則痰中帶紅，脈右數。體素陰虛內熱，由熱留痰戀所致。以喻氏西昌法。</p>
<p>粉沙參　白前　石膏（冰糖煅）　知母　炒杏仁　丹皮　枇杷葉　黛蛤散　桑葉　淡草　川貝　葶藶　茯苓　絲瓜絡　旋覆（代赭拌）</p>
<p>（案28）肺胃火熾，陽明受灼，失血咳嗆，脈芤弦。以和絡清金法。</p>
<p>桑葉　杏仁　生地　山梔　蘇子　仙鶴草　知母　石膏（冰糖煅）　生草　丹皮　茜根　鼠黏子　旱蓮　瓜蔞　藕節</p>
<p>（案29）久咳不已，陽絡震傷，失血氣促，脈芤弦。切宜怡養。</p>
<p>紫石英　海石　桑葉　仙鶴草　川貝　旋覆　橘紅絡　靈磁石　代赭　旱蓮　淡甘草　雲苓　牛膝　枇杷葉</p>
<p>（案30）痰火爍絡，咳嗆失血，脈小弦。以和絡清金法。</p>
<p>桑葉　杏仁　知母　蘇子　仙鶴草　茜根　藕節　石膏（冰糖煅）　生草　川貝　鼠黏子　旱蓮　茯神茅根</p>
<p>前方先錄　二診　自投疏運中室，便溏漸減，咯痰帶紅，胃絡受灼，脈小弦。當治脾胃。</p>
<p>桑葉　山梔　旱蓮　藿香　扁斛　佩蘭　竹茹（水炙）　丹皮　茜根　茯神　橘紅　苡仁　穀芽　紅棗（炒香）</p>
<p>複方　三診　濕氣漸化，陽明熱灼，大便由溏轉結，痰中時或帶紅，脈弦小數。當治陽明，佐和陽絡。</p>
<p>桑葉　山梔　旱蓮　川貝　川斛　佩蘭　川鬱金　丹皮　茜根　茯神　橘紅　苡仁　穀芽　鮮藕節　竹茹（玫瑰花制）</p>
<p>（案31）熱灼陽明，血從上溢，咯血咳嗆，脈芤弦。以和絡清金法。</p>
<p>降香　三七　生地　山梔　仙鶴草　旱蓮　藕節　牛膝　茜根　丹皮　桑葉　川鬱金　茯神　竹茹</p>
<p>（案32）迭感咳嗆宿恙，失血復萌，脈芤弦而數。治以和絡清金。</p>
<p>生地　山梔　仙鶴草　茯神　蘇子　川貝　藕節　丹皮　茜根　旱蓮　橘絡　鼠黏子　牛膝　絲瓜絡</p>
<p>（案33）屏傷陽絡，失血咳嗆，脈芤弦。以和絡清金。</p>
<p>桑葉　知母　粉沙參　白前　生地　仙鶴草　茯神　石膏（冰糖煅）　淡草　黛蛤散　紫菀　丹皮　旱蓮　茜根　藕節</p>
<p>複方　血止咳嗆未已，肺胃痰熱未澈，以喻氏法。</p>
<p>冬瓜子　杏仁　桑葉　知母　川貝　旱蓮　鮮藕節　苡仁　鬱金　石膏（冰糖煅）　淡草　丹皮　茯神　連子絲瓜絡</p>
<p>（案34）陽絡受傷，血從上溢，咯血盈盞，脈芤弦。以和絡清金法。</p>
<p>生地　山梔　降香　三七　旱蓮　茯神　川鬱金　丹皮　茜根　牛膝　桃仁　仙鶴草　桑葉　藕節</p>
<p>（案35）久咳傷絡，絡破血溢，脈芤弦。以和絡清金法。</p>
<p>生地　山梔　川鬱金　橘絡　旱蓮　茯神　淡草　丹皮　茜根　川貝母　牛膝　仙鶴草　葶藶　炒杏仁　藕節</p>
<p>複方　失血咳嗆，肺火自旺，肺元自虛，脈芤弦。以西昌法。</p>
<p>桑葉　炒杏仁　粉沙參　白前　旱蓮　丹皮　懷牛膝　石膏（冰糖煅）　生草　黛蛤散　紫菀　仙鶴草　葶藶　絲瓜絡</p>
<p>（案36）熱灼陽絡，血從上溢，咯血盈盞，咳嗆痰多，脈芤弦。切宜怡養。</p>
<p>粉沙參　白前　仙鶴草　桑葉　川鬱金　川貝母　丹皮　絲瓜絡　黛蛤散　紫菀　旱蓮　茯神　懷牛膝　茜根　枇杷葉　淡草</p>
<p>（案37）陰虛生熱，熱灼陽絡，絡破血溢，鼻衄咯血俱至，脈弦數，舌黃膩。以和絡清金。</p>
<p>生地　山梔　桑葉　牛膝　川斛　通草　藕節　丹皮　茜根　旱蓮　茯神　佩蘭（川連拌）碧玉散　茅根</p>

<h2>便血（附　腸紅）</h2>
<p>（案1）便血雖止，陰絡漸和，惟陽明生氣受戕，飲啖式微，少寐神疲，眩暈盜汗，脈虛芤弦。正氣已傷，汗脫堪虞。</p>
<p>吉林須　茯苓神　焦芍　槐米　原斛　牡蠣　柏子仁　炒白朮　清炙草　陳皮　桑葉　穀芽　龍骨　合歡皮　竹瀝製半夏</p>
<p>心孚診　陰虛則生內熱，脾不統血，交陰身熱盜汗，便溏腸紅，脈小數。藥難速效。</p>
<p>秦艽　蒿子　銀花　陳皮　艾葉　地榆炭　功勞子　上甲　地骨　槐米　條芩　桑葉　焦白芍　炒紅棗</p>
<p>（案2）濕火下趨蒸傷腸，腸紅腑時紅，便積溲澀，脈細弦。勢頗糾纏。</p>
<p>川連　炮姜　歸身炭　地榆　赤白芍　於術（土炒）　升麻炭　阿膠（蒲黃炒成珠）　炙草　血餘炭　澤瀉　豬茯苓　陳皮　車前子</p>
<p>（案3）赤痢經久不已，腹痛後重，腸風氣陷，脈濡弦。腸紅是憂。</p>
<p>歸身炭　阿膠（蒲黃炒成珠）　焦芍　陳皮　香附（炒炭）　豬茯苓　樗根白皮　炮薑炭　炙草　白朮（土炒）　防風（炒炭）　砂仁　地榆炭　炒香紅棗</p>
<p>（案4）腸紅腹痛，後重氣陷，脈濡弦。病在腸胃，難許速效。</p>
<p>歸身炭　阿膠（蒲黃炒成珠）　焦芍　土炒白朮　香附（炒炭）　豬茯苓　樗根白皮　炮薑炭　炙草陳皮　防風炭　砂仁　地榆炭　炒香紅棗</p>
<p>（案5）宿恙腸紅，歷久年數，幸胃納尚可，力能支持，脈濡弦。以駐車丸、臟連丸兩種早晚頻服，斷根極難。駐車丸早晨開水送，二錢五分；臟連丸晚臥開水送，八分。</p>
<p>（案6）濕火下灼陰絡，為腸癖。</p>
<p>川連　炮薑炭　赤白芍　白朮（土炒）　血餘炭　豬茯苓　樗根白皮　阿膠（蒲黃炒成珠）　清炙草　防風炭　陳皮　地榆炭　槐米炭　香附炭</p>
<p>另用駐車丸、臟連丸。</p>

<h2>痔血</h2>
<p>（案1）陰分不足，濕火下趨，為痔血漏卮，脈弦數。以滋清法。</p>
<p>根地　知母　川鬱金　槐米　茯苓神　銀花　苡仁　龜板　川柏　川樸花　川貝　青陳皮　川斛　佩蘭　柿霜</p>
<p>複方　投滋清法，諸恙較減，脈濡弦。再宗原議增刪。</p>
<p>根地（砂仁末炒）　知母　桑葉　槐米炭　苡仁　炒歸身　升麻炭　龜板　川柏　丹皮（焙）　銀花炭　陳皮　焦白芍　側柏炭　柿霜</p>
<p>（案2）濕火下灼陰絡，而為痔漏便血，脈濡弦。以滋清法。</p>
<p>根地（蛤粉炒）　龜板　歸身炭　丹皮（焙）　茯苓　苡仁　赤白芍　阿膠（蒲黃炒）　槐米（炒）　銀花炭　陳皮　澤瀉　柿霜　側柏炭</p>

<h2>淋濁（附　溲血）</h2>
<p>（案1）濕火下趨，蒸精化濁。</p>
<p>生地　草梢　苡仁　生牡蠣　瞿麥　石韋　淡竹葉　木通　萆薢　澤瀉　淡苦參　萹蓄　丹皮車前子</p>
<p>（案2）濕火下注膀胱，蒸傷氣血為赤淋，脈濡數。治以通利。</p>
<p>西珀　生地　生牡蠣　澤瀉　瞿麥　木通　豬茯苓　小薊　丹皮　淡苦參　石韋　萹蓄　草梢　淡竹葉</p>
<p>（案3）勞倦挾濕，蒸精化濁，肢痠頭疼，鼻衄身熱，脈濡數。當治濕火，兼清陽明。</p>
<p>木通　草梢　生牡蠣　澤瀉　青蒿　旋覆　茯神苓　川楝　生地（大豆卷拌）　山梔　淡苦參　歸鬚　苡仁　橘絡　絲瓜絡　車前</p>
<p>（案4）濕火下注，蒸精化濁，脈濡弦。以劉松石法。</p>
<p>生牡蠣　苦參　瞿麥　石韋　木通　丹皮　鮮荷梗　豬茯苓　澤瀉　萹蓄　草梢　生地　滑石　車前子</p>
<p>（案5）氣虛濕勝，濕火下趨，膀胱溲濁尿血，脈濡弦。治以清滲。</p>
<p>西珀（三分）　生地　苡仁　丹皮　橘紅　半夏　益元散　小薊　萆薢　澤瀉　山梔　茯苓　佩蘭　竹二青</p>
<p>（案6）濕火下趨，君相火熾，遺泄淋濁並至，脈弦數。治先清泄。</p>
<p>生牡蠣　茯苓　木通　丹皮　石韋　知母淡　竹葉　淡苦參　澤瀉　生地　草梢　瞿麥　川柏　車前子</p>
<p>（案7）濕火下趨膀胱，蒸精化濁。</p>
<p>生牡蠣　澤瀉　木通　苡仁　瞿麥　石韋　豬茯苓　淡苦參　生地　草梢　滑石　萹蓄　金沙　車前子</p>
<p>（案8）濕火下趨，灼傷陰絡，溲血並不刺痛，脈左弦。治以清泄。</p>
<p>生地　山梔　川萆薢　澤瀉　血餘炭　生草　丹皮　茜根　苡仁　桑葉　赤白苓　銀花　忍冬藤</p>
<p>肝腎下虛，龍相火熾。</p>
<p>龍骨　桑葉　根地　知母　丹皮　茯苓　旱蓮草　牡蠣　石決　龜板　川柏　萸肉　澤瀉　白螺螄殼（三錢）</p>

<h2>肝陽</h2>
<p>（案1）水虧木旺，火爍肺金，身熱盜汗，肢痠眩旋，脈弦小數。陰虛之體，法宜清熄。</p>
<p>桑葉　珍珠母　知母　炒杏仁　麻仁　苡仁　車前子　滁菊　穭豆衣　川貝　川石斛　李仁　茯神　絲瓜絡　澤瀉</p>
<p>二診　自投清熄厥陰之熱，以潛陽斂汗，諸恙依然，脈小數。再從血虛生熱治。</p>
<p>銀胡　蒿子　桑葉　牡蠣　蔞仁　李仁　忍冬藤　白芍　地骨　池菊　石決　麻仁　川貝　車前子　知母</p>
<p>（案2）肝升太過，胃降不及。</p>
<p>桑葉　石決　枳殼　半夏　扁斛　佩蘭（川連拌）　姜竹茹　天麻　鉤鉤　池菊　茯苓　苡仁　陳皮　白蔻衣</p>
<p>複方　胃氣得降，厥陽未平，有時眩旋，脈小弦。以鉤麻溫膽。</p>
<p>鉤鉤　桑葉　陳皮　白芍　雲苓　扁斛　蔻衣　天麻　池菊　半夏　佩蘭（川連二分拌）　枳殼　石決　竹茹（玫瑰花制）</p>
<p>（案3）肝陰不足，氣火風陽上僭，以致嘈雜眩旋，脈左弦。當治厥陰。</p>
<p>桑葉　真池菊　半夏　丹皮　白芍　棗仁（川連四分拌）　狗脊片　天麻　石決明　橘紅　淡草　牡蠣　苡仁　茯苓神　忍冬藤</p>
<p>複方　痰蒙肝膽，心腎失交，氣火風陽乘間升擾，脈左弦。切宜怡養。</p>
<p>桑葉　石決　橘紅　茯神　膽星　龍骨　潼白蒺藜　竹茹（玫瑰花制）　池菊　白芍　半夏　川貝　秫米　牡蠣　合歡皮</p>
<p>三診　心肝神魂不藏，厥陽易僭，少寐惕怵，脈小弦。當治厥陰少陰。</p>
<p>玄丹參　遠志　桑葉　龍骨　石決　橘紅　益智　熟棗仁　茯神　白芍　牡蠣　枳殼　半夏　鬱金　竹茹</p>
<p>（案4）無痰不作眩，由木鬱不達，內風暗動所致，脈左弦。以桑麻溫膽湯。</p>
<p>桑葉　真池菊　橘紅　雲苓　白芍　原斛　竹茹　天麻　珍珠母　半夏　枳殼　澤瀉　佩蘭（川連拌）　荷葉邊</p>
<p>（案5）痰濁上泛，肝陽逆舉，頭疼耳鳴。治以柔熄泄。</p>
<p>桑葉　石決　竹瀝製半夏　橘紅絡　枳殼　川貝　旋覆　天麻　池菊　飯蒸荷葉　茯苓神　鉤鉤　杏仁　竹茹</p>
<p>二診　肝腎下虛，飲泛眩旋，耳鳴遺泄，君相不寧。</p>
<p>龍骨　桑葉　半夏　白芍　橘紅絡　蔞仁　旋覆　牡蠣　天麻　歸鬚　枳殼　茯苓神　鉤鉤　竹茹　絲瓜絡</p>
<p>（案6）血虛生風，眩旋肢痠。</p>
<p>桑葉　石決（青黛拌）　川鬱金　白芍　半夏　省頭草　扁金石斛　池菊　牡蠣　茯苓神　橘紅　枳殼　白蒺藜　水炙竹茹（玫瑰花制）</p>
<p>（案7）無痰不作眩，肝家氣火挾痰濁上升，勞倦後眩旋屢作，時有遺泄，脈左弦右部小數。當治厥陰少陰。</p>
<p>桑葉　半夏　橘紅　雲苓神　川鬱金　丹皮　佩蘭（川連拌）　天麻　枳殼　澤瀉　石決明　川樸花　鉤鉤　竹茹（水炙）</p>
<p>（案8）木鬱不達，龍相火熾。</p>
<p>黃芩　山梔　桑葉　石決（青黛拌）　半夏（竹瀝制）　丹皮　枳殼　燈芯　黃連　橘紅　天麻　膽星　菖蒲（飯蒸）　川鬱金　雲苓神　竹葉</p>
<p>（案9）驚怖動心，以致眩旋驚惕，脘悶納減，脈來絃動不和，是心肝之陽失以潛藏也。姑以半夏瀉心湯主之。</p>
<p>川連　茯苓神　枳殼　石決明（青黛拌）　池菊　飯蒸菖蒲　半夏　遠志肉　橘紅　桑葉　陳膽星　丹皮　水炙竹茹　白芍</p>
<p>（案10）氣虛飲聚，風陽逆舉，肢痠流涎，脈沉小弦。是中風之漸。</p>
<p>天麻　半夏　雲苓　原斛　川貝　佩蘭　首烏藤　桑葉　橘紅　枳殼　石決　白芍　炒苡仁　薑汁竹茹</p>

<h2>肝胃氣痛（附　關格、反胃）</h2>
<p>（案1）中陽不足，肝木犯胃。</p>
<p>官桂　炙草　旋覆　姜夏　刀豆子　丁香　吳萸　青陳皮　白芍　沉香　代赭　雲苓　山奈　柿蒂　竹茹（薑汁炒）　刺蝟皮</p>
<p>（案2）血虛肝旺，陽明被劫，脘滿輒脹，甚則作痛，脈左弦。當治肝胃。</p>
<p>川連　姜夏　官桂　沉香　熟棗仁　蓽茇　佛手花　吳萸　雲苓　白芍　瓦楞　青陳皮　炒丹參　姜竹茹（玫瑰花制）</p>
<p>（案3）濕阻氣滯，機軸不運。</p>
<p>薤白（三錢）　枳實　半夏　檳榔　沉香　通草　薑汁竹茹　栝蔞　青陳皮　雲苓　鱉甲　原斛　滑石　忍冬藤</p>
<p>前方先錄　疊投仲景大建中湯加減法，嘔吐幸未舉發，而痛減脹刪，納食轉增，便通瘕伏。論現狀漸入佳境，委法當守舊章。</p>
<p>東洋參　上上桂心　白芍　半夏　杜仲　青陳皮　飴糖　關虎肚　刀豆子　炙草　雲苓　瓦楞　補骨脂　紅棗</p>
<p>（案4）中陽不足，腸為之苦鳴。濕阻氣滯，脘滿則噯，脈濡弦。當治肝胃。</p>
<p>川連　姜夏　川鬱金　白芍　通草　佩蘭　吳萸　雲苓　川樸花　蔻衣　滑石　青陳皮　薑汁竹茹（玫瑰花三朵同制）</p>
<p>感寒食滯，肝胃乘擾，腹痛嘔吐，舌糙，脈左小數右弦。法當疏和。</p>
<p>紫蘇　半夏　廣木香　蔻衣　藿梗　白芍　青陳皮　川連（吳萸同搗）　枳殼　砂仁　茯神　大腹　佛手　薑汁竹茹</p>
<p>（案5）脘痛嘔吐，防成關格。</p>
<p>官桂　淡草　丁香　吳萸　關虎肚　青陳皮　白芍　沉香　山奈　蓽茇　戌腹糧　雞谷袋　刺蝟皮</p>
<p>（案6）肝木犯胃，脘痛輒脹。</p>
<p>官桂　沉香　姜夏　川連　枳實　川楝　青陳皮　白芍　良薑　雲苓　吳萸　蓽茇　竹茹（薑汁炒）　刺蝟皮</p>
<p>（案7）胃有寒濕，肝邪乘擾。</p>
<p>薤白　煨枳實　姜夏　丁香　沉香　吳萸（川連拌）　竹茹（薑汁炒）　栝蔞　青陳皮　雲苓　山奈　白芍　蔻衣　鮮佛手</p>
<p>（案8）胃脘當心而痛，痛及少腹，肢厥汗多出，脈小弦。法當溫運。</p>
<p>上上桂心　青陳皮　沉香　檳榔　蔞仁　川楝　九香蟲　白芍　烏勒草　烏藥　枳實　麻仁　佛手　吉梅肉（吳萸拌）</p>
<p>徐複方　再以疏運肝胃，以清積滯。</p>
<p>官桂　沉香　姜夏　吳萸（川連拌）　旋覆　青陳皮　竹茹（薑汁炒）　白芍　淡草　雲苓　丁香　代赭　刀豆子　佛手</p>
<p>（案9）中陽不足，肝木犯胃。</p>
<p>官桂　炙草　姜夏　青陳皮　川連（吳萸拌）　旋覆（代赭拌）　薑汁竹茹　白芍　沉香　雲苓　戌腹糧　良薑　蝟皮　雞谷袋（一具）　虎肚</p>
<p>複方　陽虛胃寒，肝木上擾，得食運遲，甚則泛嘔輒痛，脈左弦。防成關格。</p>
<p>沉香　檳榔　官桂　炙草　關虎肚　良薑　雲苓　烏藥　枳實　白芍　姜夏　戌腹糧　吳萸（川連拌）　蝟皮　青陳皮</p>
<p>（案10）胃脘當心而痛，痛甚肢厥，脈左弦。以仲景法。</p>
<p>白芍（上上桂心三分，酒製）　沉香　蘆巴　良薑　川楝　山奈　煨姜　炙草　雲苓　澄茄　蓽茇　吳萸　飴糖　紅棗　青陳皮</p>
<p>（案11）濕阻氣滯，健運失司，腹痛喜按，脈弦小數。治以辛通。</p>
<p>白芍（上上桂心三分拌）　香附　沉香　檳榔　川楝　鱉甲　青陳皮　半夏　砂仁　烏藥　枳實　吳萸　志曲　香櫞皮</p>
<p>（案12）瘧母聚於左腹，氣失疏泄，輸運無權，得食易滯，以致胃脘輒痛，舌黃膩尖絳，脈弦小數。是陰虛而兼陽亢也，治先疏和。</p>
<p>紫蘇　枳殼　白芍　苡仁　青陳皮　雲苓　香附　半夏　吳萸（川連拌）　扁斛　佩蘭　白蔻衣　栝蔞　砂仁</p>
<p>複方　形寒甚，胃痛未已，脘滿輒噯，納食漸增，舌仍黃膩，脈右弦數。再以疏清互施。</p>
<p>枳實　半夏　川鬱金　沉香　八月札　雲苓　桑葉　瓜蔞　白芍　青陳皮　炙鱉甲　玉蝴蝶　元參　川斛</p>
<p>（案13）嗜酒傷陽，脘格泛嘔。</p>
<p>官桂　炙草　姜夏　旋覆花　代赭　丁香　刺蝟皮　白芍　沉香　雲苓　青陳皮　吳萸（川連同搗）　山柰　薑汁竹茹</p>

<h2>脅痛（附　臍痛）</h2>
<p>（案1）氣滯血鬱，絡道失宣，左脅抽疼，脈濡弦。通絡調氣法。</p>
<p>旋覆　橘絡　藏紅花　青陳皮　通草　路路通　歸鬚　川楝　川鬱金　川牛膝　枳殼　絲瓜絡</p>
<p>（案2）濕阻氣滯，腹痛輒噯，脈左弦，舌黃糙，足跗浮腫，濕注於下。治當疏滲互施。</p>
<p>香附　青陳皮　藿香　沉香　澤瀉　豬茯苓　砂仁　炒白芍　枳殼　廣木香　苡仁　佛手花　滑石</p>

<h2>腫脹</h2>
<p>（案1）濕阻中焦，肝脾失運。</p>
<p>雞金　志曲　生白朮　枳實　椒目　五茄　炙桂枝　香櫞皮　麥芽　牛膝　生小樸　青陳皮　防己　巴戟　豬茯苓（連皮）　陳蒲殼</p>
<p>（案2）濕阻中焦，肝脾不運，脘痛腹脹，面目俱黃，脈濡弦。法當疏運。</p>
<p>雞金　志曲　白朮（土炒）　枳實　焦梔皮　香附　豬茯苓皮　麥芽　澤瀉　制樸　青陳皮　川柏皮　砂仁　陳香櫞皮</p>
<p>（案3）濕阻中焦，肝脾疏運失司，腹膨且脹，脈濡弦。腫脹是憂。</p>
<p>雞金　志曲　生白朮　煨枳實　香附　豬茯苓（連皮）　巴戟　香櫞皮　麥芽　大腹　生小樸　青陳皮　砂仁　澤瀉　蒲殼</p>
<p>（案4）濕阻於中，氣滯於下，腹脹跗腫，脈濡小弦。再治疏滲。</p>
<p>防己　川牛膝　苡仁　川鬱金　樸花　青陳皮　枳殼　五加　川萆薢　澤瀉　川楝子　半夏　豬茯苓　竹茹　蒲殼（煎湯代水）</p>
<p>（案5）風濕相摶，面浮跗腫，脈濡弦。腫脹是憂。</p>
<p>椒目　五加　葶藶　生草　生白朮　桂枝　蒲殼　防己　巴戟　杏仁　桑皮　冬瓜皮　澤瀉　車前　豬茯苓（連皮）</p>
<p>（案6）血阻氣滯，腹膨如鼓，近復陰陽兩絡俱傷，血從上下溢出，腹笥消而復大，較前尤甚，脈濡弦。從腫脹治。</p>
<p>雞金　志曲　生白朮　枳實　椒目　五茄豬茯苓皮　香櫞皮　麥芽　巴戟　生小樸　澤瀉　防己　砂殼　冬瓜皮　陳蒲殼</p>
<p>（案7）濕阻中焦，肝脾疏運失司，得食輒脹，肢節痠楚，脈濡弦。當治太陰陽明。</p>
<p>生白朮　煨枳實　沉香　檳榔　豬茯苓　滑石　原斛　生小樸　青陳皮　烏藥　砂仁　川牛膝　澤瀉　苡仁　香櫞皮</p>
<p>（案8）腫脹勢減而少腹䐜脹，肝脾疏運失司也，脈小弦。再以疏運。</p>
<p>歸身　延胡　大腹　青陳皮　茯苓皮　澤瀉　陳蒲殼　白芍　金鈴　川樸　川鬱金　五加皮　枳殼　香櫞皮</p>
<p>複方　姚　濕著肝脾，疏運失職，足跗浮腫，漸入少陰。曾投五皮飲，腫勢漸消，脈小弦，仍宗原議增刪。</p>
<p>白朮　青陳皮　大腹　扁豆衣　川鬱金　歸尾　陳蒲殼　制樸　四制香附　砂仁　茯苓皮　炒白芍　延胡　香櫞皮</p>
<p>三診　肝失疏泄，脾失運行，跗腫腹脹，脈濡弦。當治厥陰太陰。</p>
<p>香附　青陳皮　歸尾（茴香拌）　延胡　白朮　茯苓皮　砂仁　川鬱金　白芍　金鈴　制樸　陳蒲殼　枳殼</p>
<p>（案9）濕阻中焦，肝脾疏運失司，腹脹跗腫，脈濡弦。防成腫脹。</p>
<p>泔浸茅朮　枳實　焦梔皮　防己　豬茯苓（連皮）　滑石　桂枝　生小樸　青陳皮　川柏皮　川牛膝　範志曲　澤瀉　蒲殼　香櫞皮</p>
<p>投五皮飲腫勢稍退，腹脹依然，脈濡弦。仍宗原議。</p>
<p>椒目　五加　桂枝　豬茯苓皮　生小樸　志曲　川牛膝　防己　巴戟　生白朮　青陳皮　枳實　澤瀉　香櫞皮　蒲殼</p>
<p>三診　濕阻中焦，肝脾失運，得食輒脹，跗腫便溏，脈濡弦。防成中滿。</p>
<p>雞金　志曲　生白朮　枳實　木防己　五茄　香櫞皮　麥芽　桂枝　生小樸　青陳皮　豬茯苓（連皮）　澤瀉　陳蒲殼</p>
<p>三診　姚　腫勢漸消，肝脾疏運依然失職，得食輒脹，脈濡小弦。是濕阻氣滯，切宜調養。</p>
<p>延胡　川鬱金　土炒白朮　大腹　桑葉　茯神　青陳皮　金鈴　白芍　制樸　五茄　丹參　砂仁　四制香附</p>
<p>（案10）濕隨氣阻，肝脾不運。</p>
<p>炒白朮　青陳皮　枳殼　豬茯苓（連皮）　香附　澤瀉　生小樸　大腹皮　蔻仁　川鬱金　砂殼　車前　鮮佛手</p>
<p>（案11）濕阻中焦，肝脾不運，萎黃痞聚，單臌是憂。</p>
<p>泔茅朮　西茵陳　鱉甲　生樸　青蒿　甲片　砂仁　青陳皮　福澤瀉　龜甲　大腹　通草　山梔　香櫞皮</p>
<p>（案12）濕阻氣滯，腹膨如鼓，脈濡弦。恐成中滿。</p>
<p>雞金　志曲　生白朮　枳實　砂仁　冬瓜子皮　制香附　中滿分消丸　麥芽　檳榔　生小樸　青陳皮　桑皮　瓜蔞皮　香櫞皮</p>
<p>濕阻中焦，肝脾疏運失司，跗腫腹脹，色㿠形寒，脈濡弦，腰圓臍凸，調治不易。</p>
<p>生白朮　煨枳實　雞金　葶藶　桑皮　冬瓜子皮　桂枝　生小樸　青陳皮　志曲　杏仁　澤瀉　豬茯苓皮　蒲殼　香櫞皮</p>
<p>（案13）陰虛濕鬱化熱，厥陰疏泄失司。</p>
<p>銀胡　蒿子　鱉甲　大腹　苡仁　柏子仁　瓦楞　白芍　地骨　青陳皮　川斛　佩蘭（川連拌）　功勞子　紅棗</p>
<p>（案14）濕阻氣滯，腹膨且脹。</p>
<p>雞金　志曲　白芍　青陳皮　生白朮　砂仁　炙鱉甲　麥芽　枳實　大腹　豬茯苓　生小樸　蔻衣　香櫞皮</p>
<p>（案15）肝脾疏運失司，腹膨且脹，脈左弦。法當健運。</p>
<p>雞金　志曲　生白朮　枳殼　青陳皮　香附　香櫞皮　麥芽　大腹　生小樸　白芍　川鬱金　砂仁　佛手</p>
<p>（案16）瘧發連枝，身熱痞聚，腹膨且脹，脈濡軟。防成單臌。</p>
<p>生白朮　枳實　瓦楞　青陳皮　雞金　志曲　香櫞皮　生小樸　大腹　澤瀉　豬茯苓　麥芽　滑石　瓜蔞</p>
<p>複方　瘧止痞聚，腹膨稍軟，脈沉濡弦。再以疏導法。</p>
<p>雞金　志曲　生白朮　枳實　青陳皮　香附　香櫞皮　麥芽　澤瀉　生小樸　滑石　豬茯苓　砂仁　車前草</p>
<p>（案17）寒涼傷中，中陽虛餒，肝脾失運，腹脹如鼓，舌光絳，脈弦數。單脹是憂。</p>
<p>雞金　志曲　生白朮　煨枳實　香附　原斛　焙丹皮　麥芽　檳榔　生小樸　青陳皮　砂仁　雲苓　香櫞皮</p>
<p>（案18）濕阻中焦，肝脾疏運失司，便溏腹膨，腫脹是憂。</p>
<p>生白朮　枳實　青陳皮　半夏　雞金　志曲　香櫞皮　生小樸　檳榔　茯苓皮　砂仁　麥芽　滑石　陳蒲殼</p>
<p>（案19）脾肺氣虛，咳嗆肢腫。</p>
<p>椒目　五加　生白朮　枳實　冬瓜皮　川貝　陳蒲殼　防己　巴戟　生小樸　青陳皮　茯苓皮　澤瀉香櫞皮</p>
<p>（案20）失血咳嗆，肢腫面浮，勞損之基。</p>
<p>葶藶　淡草　桑皮　冬瓜皮　椒目　生白朮　巴戟　炒杏仁　川貝　五茄　豬茯苓（連皮）　防己　生小樸　澤瀉　蒲殼</p>
<p>（案21）陽虛飲勝，聚痰濕內留，脾失運行，腹膨跗腫，脈沉弦，腰部痠楚，病在脾腎，以仲景法。</p>
<p>桂枝（炒白芍拌）　豬茯苓（連皮）　防己　牛膝　川斷　橘紅　薑汁竹茹　川貝　生白朮　五茄　狗脊　杜仲　半夏　雞血藤</p>
<p>（案22）濕困太陰，氣機失展，腫脹便積，恐成中滿。</p>
<p>白朮（土炒）　枳實　雞金　大腹　香附　澤瀉　豬茯苓（連皮）　制樸　青陳皮　志曲　防己　砂仁　蒲殼　香櫞皮</p>
<p>（案23）傷於濕者，下先受之。由足跗浮腫漸及一身，脈濡弦。病名風水，以開鬼門潔淨府法。</p>
<p>椒目　五茄　炙桂枝　豬茯苓　澤瀉　葶藶　生草　防己　巴戟　生白朮　冬瓜皮　桑皮　杏仁　大腹　蒲殼</p>
<p>複方　前方先錄　濕阻中焦，肝脾疏運失司，自投疏運中室，腫勢漸消，脈濡弦。再以溫中利濕。</p>
<p>生白朮　煨枳實　雞金　志曲　香附　滑石　陳香櫞皮　生小樸　青陳皮　麥芽　豬茯苓　砂仁　澤瀉　小溫中丸（二錢五分）</p>
<p>三診　濕鬱不達，肝脾失運，疊投疏氣滲濕，脹勢漸消，脈濡弦。仍宗原議。</p>
<p>生白朮　煨枳實　鱉甲　雞金　香附　麥芽　陳香櫞皮　生小樸　青陳皮　大腹　志曲　砂仁　豬茯苓　中滿分消丸（二錢五分）</p>
<p>（案24）濕阻氣滯，瘕聚腸鳴，脈濡弦。恐成中滿。</p>
<p>白朮　枳實　香附炭　砂仁　雞金　志曲　煅瓦楞　小樸　青陳皮　川鬱金　白芍　麥芽　沉香　香櫞皮</p>
<p>耀庭診　傷於濕者，下先受之。跗腫麻木，似屬腳氣。</p>
<p>防己　巴戟　冬瓜皮　澤瀉　蠶砂（五錢）葶藶　桑皮　苡仁　五加　商陸　豬茯苓皮　牛膝　木瓜　杏仁　姜皮（三分）　蒲殼</p>
<p>（案25）濕阻中焦，肝脾失運，腹膨且脹，脈濡弦。單脹是憂。</p>
<p>雞金　志曲　生白朮　枳實　香附　滑石豬　茯苓皮　麥芽　檳榔　生小樸　青陳皮　砂仁　澤瀉　陳香櫞皮　五加皮</p>
<p>河白證輸運未復，脈濡弦，當疏運。</p>
<p>銀胡　陳青蒿　枳殼　茯苓皮　原斛　扁豆衣　苡仁　白芍　生白朮　陳皮　澤瀉　山梔　佩蘭葉　紅棗</p>
<p>（案26）濕阻氣滯，肝脾失運。</p>
<p>雞金　志曲　生白朮　煨枳實　香附炭　砂仁　煅瓦楞　麥芽　大腹　生小樸　青陳皮　焦白芍　木香　香櫞皮</p>
<p>複方　木乘土位，腹脹便溏。</p>
<p>土炒白朮　制樸　檳榔　香附炭　砂仁　原斛　青陳皮　志曲　枳實　扁豆衣　石蓮　紅棗　香櫞皮</p>
<p>（案27）胎瘧跗腫面浮，防成河白。</p>
<p>翹殼　蟬衣　半夏　青蒿　茯苓皮　防己　焦梔皮　鉤鉤　陳皮　澤瀉　五加皮　蒲殼　車前</p>
<p>（案28）宿恙肝胃，近復濕困太陰，腹膨如鼓，脈小弦。難許完善。</p>
<p>雞金　志曲　生白朮　煨枳實　滑石　香附　豬茯苓　麥芽　檳榔　生小樸　青陳皮　澤瀉　砂殼　陳香櫞皮</p>
<p>（案29）濕阻氣滯，肝脾失調，脘滿輒脹，神疲力懈，脈濡弦。治先疏滲。</p>
<p>生白朮　枳實　香附　豬茯苓　原斛　生熟苡仁　藿香（川連拌）　青陳皮　大腹　砂仁　滑石　佩蘭　香穀芽　半夏　澤瀉</p>
<p>（案30）失血後肝氣被痰濕所阻，腹膨且脹，脈弦滑，防成中滿。</p>
<p>雞金　志曲　生白朮　枳實　茯苓（連皮）　蔞皮　澤瀉　麥芽　大腹　生小樸　青皮　橘紅　半夏　防己　香櫞皮</p>
<p>（案31）體肥多濕多痰，嗜酒傷陽傷氣，陽虛不能通調水道，下輸膀胱。氣虛之處即濕濁灌塞之所，以致脾不運行，由足跗浮腫漸及面部。曾經便血血泄，腫勢稍退。頃診脈象，右寸關小弦而數，左關尚弦，兩尺微見數象。症脈相參，脾胃之濕濁尚盛，肝家氣火多升少降。論治當淡滲太陰陽明之伏濕，佐以調氣疏肝，惟年逾花甲，氣血難免受虧，至怡養功夫尤當加意於藥餌之預，附方呈請裁改。</p>
<p>川連（三分）　枳殼　防己　豬苓（二錢）　澤瀉　川牛膝　佩蘭　半夏　陳皮　加皮　茯苓皮　生熟苡仁（各二錢）　巴戟（二錢五分）　合歡（二錢）</p>
<p>複方　水腫一候，大都屬於太陰，脾經主四肢而司健運。脾弱濕生，濕阻中室，真陽不運，寒氣乘之，濁陰凝聚而為噦為腫也。夫脾與胃為表裡，胃不和則水飲氾濫，上泛為口湧，下注為便溏。前投黃連半夏湯加減，適值腫勢消退之際，僅滲脾胃之伏濕，熱潮起伏，是肝家氣火上升。按脈右寸關小數，左關尚弦，舌苔黃膩，是肝升太過，胃降不及也。治先和胃平肝，以顧水飲，使陰平陽秘，精神乃治。</p>
<p>橘皮（二錢）　半夏（一錢五分）　扁豆衣（三錢）　豬茯苓（各三錢）　旋覆（二錢）　炒香紅棗（兩枚）　竹茹（薑汁炒，一錢五分）　白芍（炒焦，三錢）　土炒白朮（三錢）　炒澤瀉（三錢）　石決（八錢）　飯蒸荷葉（乙角）</p>
<p>另用　防己二錢五分，巴戟一錢五分，冬瓜皮三錢，豬苓三錢，車前三棵導水。</p>
<p>（案32）濕阻中焦，肝脾不運，宿恙臌脹時起時伏，已歷年數，近復濕注膀胱，下部遍腫，脈濡數。調治不易。</p>
<p>生白朮　煨枳實　椒目　防己　豬茯苓（連皮）　滑石　陳香櫞皮　生小樸　青陳皮　加皮　巴戟　細木通　澤瀉　車前子　志曲</p>
<p>（案33）投疏運肝脾，腹部腫脹依然，脘滿食減，脈仍濡數。是濕阻氣滯，臌脹是憂。</p>
<p>雞金　志曲　檳榔　防己　加皮　青陳皮　香櫞皮　麥芽　厚朴　枳實　椒目　巴戟　豬茯苓（連皮）　全瓜蔞（仁杵）　澤瀉</p>

<h2>蠱</h2>
<p>（案1）久患腸紅，瘀聚成蠱。</p>
<p>歸尾　甲片　三稜　川鬱金　牛膝　延胡　香櫞皮　桃仁　白芍　蓬朮　九香蟲　香附　砂仁　青陳皮　䗪蟲</p>
<p>（案2）濕阻中焦，肝脾疏運失司，下灼陰絡，腹膨便血，脈濡弦。蠱脹是憂。</p>
<p>歸尾　甲片　雞金　麥芽　白朮（土炒）　香附炭　青陳皮　桃仁　延胡　枳實　志曲　制樸　縮砂仁　豬茯苓（連皮）　香櫞皮</p>
<p>（案3）血隨氣阻，脾失運行，熱自內生，銷爍肌肉。</p>
<p>鱉甲　甲片　桃仁　乳香　九香蟲　白芍　䗪蟲　龜甲　歸鬚　紅花　沒藥　青陳皮　川楝　香櫞皮</p>
<p>（案4）陰陽兩絡俱傷，血從上下溢出，瘀聚腹膨，血蠱是憂。</p>
<p>歸尾　甲片　大腹　川鬱金　三稜　延胡　桃仁　牛膝　茜根　紫石英　蓬朮　麻仁　䗪蟲</p>
<p>（案5）血阻氣滯，肝脾失運，瘕攻腹脹，舌白糙，脈弦數。防成蠱疾。</p>
<p>歸尾（一錢）　甲片（一錢）　乳香　三稜　澤蘭　香附　九香蟲　桃仁（二錢）　白芍（八錢）　沒藥　蓬朮　牛膝　䗪蟲　茺蔚子</p>

<h2>肺痿</h2>
<p>（案1）品珠診　咳痰如桃膠，是熱傷膈絡所致。眩旋而心悸，乃營陰虧乏使然。脈小弦而滑。先宜治肺為急，擬千金方。</p>
<p>冬瓜子　杏仁　粉沙參　粉草　桑葉　生地　蘆根　苡仁　象貝　粉丹皮　蛤粉　茯苓神　橘絡　連子絲瓜絡</p>
<p>（案2）病傷不復，咳嗆痰稠，氣粗身熱，舌絳苔剝，脈弦滑數。防入損途。</p>
<p>粉沙參　粉草　白前　川貝　炒杏仁　生地　石膏（冰糖煅）　粉丹皮　蛤粉　紫菀　苡仁　冬瓜子　牛膝　連子絲瓜絡　枇杷葉</p>
<p>複方　痰火留肺，肺失肅降。</p>
<p>冬瓜子　杏仁　粉沙參　粉草　知母　石膏（冰糖煅）　苡仁　川貝　粉丹皮　蛤粉　鬱金　連子絲瓜絡　生地</p>
<p>（案3）咳逆傷絡，血從上溢，咳痰腥臭，脈弦小數。恐成肺痿。</p>
<p>粉沙參　粉草　白前　川貝　蘇子　青金散　茯神　粉丹皮　蛤粉　紫菀　杏仁　鼠黏　子　枇杷葉　竹茹（薑汁炒）</p>
<p>（案4）肺熱葉焦，咳痰臭穢，脈右滑數。恐成肺痿。</p>
<p>粉沙參　粉草　冬瓜子　杏仁　石膏（冰糖煅）　鮮蘆根　粉丹皮　蛤粉　薏苡仁　象貝　白及　枇杷葉　連子絲瓜絡</p>
<p>（案5）失血咳嗆，肺熱葉焦，出痰腥穢，脈弦。防成痿躄。</p>
<p>粉沙參　蛤粉　冬瓜子　杏仁　象貝　白及　竹茹　粉丹皮　粉草　苡仁　鬱金　知母　生地　石膏（冰糖煅）　連子絲瓜絡</p>
<p>（案6）肺熱葉焦，乃生痿躄。</p>
<p>粉沙參　蛤粉　冬瓜子　杏仁　知母　葶藶　生地　粉丹皮　粉草　苡仁　白及　瓜蔞　象貝　蘆根　連子絲瓜絡</p>

<h2>痹症</h2>
<p>（案1）風濕相摶，肢節脈絡痠楚，神疲力懈，胃鈍納減，脈濡弦。以仲景法。</p>
<p>桂枝　苡仁　木瓜　薑黃　赤白芍　半夏　豬茯苓　歸尾　獨活　寄生　牛膝　橘紅絡　滑石　雞血藤</p>
<p>（案2）年逾花甲，中陽漸衰，肝木犯胃為脘痛，痰阻絡道則絡痹。脈小弦，苔根膩中剝。姑先疏理肝胃，佐以和絡。</p>
<p>扁斛　佩蘭　川鬱金　樸花　桑葉　枳殼　雞血藤　苡仁　生穀芽　橘紅絡　半夏　滁菊　竹茹　絡石藤　茯苓神</p>
<p>（案3）體肥多濕多痰，氣虛飲勝風勝，痰飲凝聚，內風暗動，偶受感觸，語塞神糊，脈沉弦，舌膩。花甲年邁，怡養為宜。</p>
<p>橘紅　竹瀝製半夏　天麻　桑葉　雲苓　膽星（八分）　石決　滁菊　飯蒸菖蒲（八分）　川貝　佩蘭　制冬朮　枳殼　淡草</p>
<p>（案4）血虛筋拘，麻木不仁。</p>
<p>元丹參　當歸　薑黃　牛膝　丹皮　桑葉　桑寄生　大生地（砂仁末炒）　焦白芍　木瓜　川斷　池菊　制首烏　野桑刁（一尺）　絡石藤</p>
<p>複方　血不榮筋，防成偏枯。</p>
<p>首烏（九制）　歸身　寄生　薑黃（八分）　半夏　桑葉　雞血藤　白芍　川斷　天麻　牛膝　獨活　絡石藤</p>
<p>震澤汪子敬診　便前血病經半載，營陰內耗，致大腑燥結，腹踹浮腫，眩暈耳鳴。火升心悸少寐，脈弦舌絳。治宗柔養。</p>
<p>左牡蠣（六錢）　生地（杵，一兩）　料豆衣（三錢）　橘白（三錢）　芝麻（研，絹包，三錢）　歸身（炒炭，三錢）　煅龍齒（四錢）　白芍（三錢）　生料扁衣（三錢）　茯神（辰拌，三錢）　麻仁（杵，三錢）　石決（一兩）　棗仁（上川連二分拌杵）</p>
<p>複方　腸痹腹脹，胃納尚振，腰痠帶淋，心惕耳鳴，脈弦，舌淡絳。嗌非跗腫，脾臟傷矣。</p>
<p>生地（杵，一兩）　芝麻（絹包，四錢）　龍齒（四錢）　赤小豆（三錢）　澤瀉（鹽水炒，三錢）　山藥（三錢）　麻仁（杵，三錢）　當歸（酒炒）　石決（一兩）　帶皮苓（三錢）　黃柏（鹽水炒，二錢）　炙草（三分）　生料扁衣（三錢）</p>
<p>（案5）風濕竄經筋入絡，右臂及膝紅腫痠疼，脈濡弦。兼有寒熱，屬流火一類，以木防己湯。</p>
<p>防己　川牛膝　加皮　焦梔皮　半夏　通草　枳殼　苡仁　獨活　鉤鉤　川柏皮　滑石　赤苓　忍冬藤</p>

<h2>怔忡</h2>
<p>（案1）驚怖動心，心悸目直，脈遲弦。是心肝神魂不藏，防成怔忡。</p>
<p>飯蒸菖蒲　紫丹參（豬心血拌）　礞石　遠志　桑葉　鬱金　牡蠣　杏仁　酸棗仁　柏子仁　膽星　茯神　白芍　枳殼　龍骨　知母</p>
<p>品珠診　血虛木旺，心腎失交，頭眩心悸，瘛瘲怵惕，症屬怔忡。怡養為宜。</p>
<p>紫丹參（豬心血拌）　茯神　柏子仁　半夏　膽星　牡蠣　雞血藤　飯蒸菖蒲　遠志　酸棗仁　秫米　石決　龍齒　夜交藤</p>
<p>又初診　無痰不作眩，眩旋心悸，脈濡弦。以桑麻溫膽湯。</p>
<p>桑葉　半夏　膽星　飯蒸菖蒲　遠志　牡蠣　枳殼　天麻　橘紅　茯神　真滁菊　石決　龍齒　竹茹（玫瑰花制）</p>
<p>（案2）操勞過度，營陰受耗，心肝之陽偏亢，以致語言錯亂，神識時糊，脈左弦。是怔忡之漸，切須怡養。</p>
<p>礞石　菖蒲　石決（青黛拌杵）　牡蠣　白芍　知母　半夏（竹瀝制）　竹瀝（浸入橘紅五分沖，一兩）　膽星　遠志（甘草水浸）　桑葉　龍齒　川貝　茯神（辰拌）　鬱金　合歡</p>

<h2>痞聚</h2>
<p>（案1）病後元虛，氣無依附，痞聚腹痛，痛甚肢厥，汗出舌糙，脈弦滑數。以三甲飲子。</p>
<p>鱉甲　甲片　銀胡　胡連　青陳皮　檳榔　生小樸　龜甲　百部　白芍　砂殼　開口椒　枳實　陳香櫞皮</p>
<p>改方　鱉甲　甲片　銀胡　檳榔　青陳皮　砂仁　龜甲　瓜蔞　白芍　枳實　吉梅肉（吳萸五分拌）　紅棗　生小樸</p>
<p>（案2）形寒身熱，痞聚腹脹，脈濡弦。由寒濕氣滯，以仲景法。</p>
<p>白芍（桂枝二分拌）　桑葉　山梔　半夏　炙鱉甲　扁斛　青陳皮　苡仁　池菊　大腹　雲苓　佩蘭　竹茹　香櫞皮</p>

<h2>骨蒸</h2>
<p>（案1）陰虛骨蒸，脾虛腹脹。</p>
<p>銀胡　蒿子　秦艽　龜板　香附　青陳皮　香櫞皮　白芍　地骨　鱉甲　甲片　砂仁　炒枳殼　功勞子　茯苓皮</p>
<p>（案2）陰虛濕鬱化熱，熱迫大腸，營衛迭偏，身熱便溏，鼻衄盜汗，脈弦小滑。以清骨散。</p>
<p>銀胡　蒿子　藿香　青陳皮　炙鱉甲　桑葉　炒紅棗　白芍　地骨　制樸　茯苓神　旱蓮　穭豆衣　功勞子</p>
<p>複方　投清骨散熱勢較減，瘧退便溏亦止，脈小數。仍宗原議增刪。</p>
<p>桑葉　浮小麥　銀胡　蒿子　女貞　枳殼　功勞子　牡蠣　穭豆衣　白芍　地骨　旱蓮　茯神　紅棗</p>
<p>三診　瘧久陰虛，身熱盜汗，脈小弦。法當清養。</p>
<p>珠兒參　麥冬　制首烏　根地（蛤粉炒）　桑葉　茯苓　蒿梗　功勞子　制女貞　旱蓮　白芍（銀胡八分拌）　龜板　牡蠣　澤瀉　地骨　青陳皮　癟桃</p>
<p>四診　陰虛得食運遲，身熱便溏。</p>
<p>藿香　焦芍（銀胡八分拌）　女貞　蒿子　桑葉　穀芽　茯苓神　制樸　陳皮　旱蓮　地骨　牡蠣　澤瀉　功勞子　炒紅棗</p>
<p>（案3）陰分不足，骨蒸勞熱，盜汗咳嗆，痞聚腹痛，脈小弦。以清骨散。</p>
<p>銀胡　蒿子　秦艽　青陳皮　桑葉　女貞　紫菀　白芍　地骨　鱉甲　川貝母　茯神　旱蓮　紅棗　功勞子</p>
<p>壹診　陰分不足，肺失清肅，咳嗆盜汗，身熱納減，脈右數。法當清泄肺胃。</p>
<p>銀胡　蒿子　桑皮　川貝　鬱金　穭豆衣　茯苓　白芍　地骨　苡仁　杏仁　桑葉　旱蓮草　淡草　功勞子</p>
<p>複方　投瀉白法，身熱漸退，咳嗆亦緩，脈右小數。仍宗原議增刪。</p>
<p>桑皮　地骨　川貝　杏仁　桑葉　旱蓮　生穀芽　苡仁　生草　川斛　鬱金　茯神　佩蘭　竹二青</p>
<p>（案4）陰虛生熱，火爍肺金，咳嗆盜汗，脈右數。法當清泄。</p>
<p>粉參　黛蛤散　桑皮　地骨　浮小麥　川貝　竹茹　白前　紫菀　苡仁　生草　穭豆衣　杏仁　牙皂</p>
<p>（案5）陰虛生熱，脾弱便溏，脈數。以清骨散大意。</p>
<p>銀胡　蒿子　桑葉　橘紅　知母　鱉甲　紅棗　白芍　地骨　丹皮　茯苓　川貝　扁豆　竹茹</p>
<p>陰虛生熱，脾弱運遲。</p>
<p>銀胡　蒿子　桑皮　扁豆　生熟苡仁　採芸曲　白芍　地骨　川斛　制樸　淡鱉甲　炒紅棗　功勞子</p>
<p>（案6）陰虛骨蒸內熱，痞聚腹脹，鼻衄肢痠，脈小數。調治不易，以清骨散。</p>
<p>銀胡　蒿子　秦艽　龜板　青陳皮　桑葉　珠兒參　白芍　地骨　鱉甲　甲片　功勞子　川斛　制首烏</p>
<p>複方　投清骨散，寒熱已止，痞聚漸消，脈仍小數。再以毓陰泄熱。</p>
<p>鱉甲　甲片　銀胡　蒿子　女貞　青陳皮　茯神　功勞子　龜甲　秦艽　白芍　地骨　旱蓮　焙丹皮　山梔　紅棗</p>
<p>（案7）陰虛里熱，外感易侵，脈右數。以清骨散佐玉屏風散主之。</p>
<p>銀胡　蒿子　秦艽　耆皮　生白朮　苡仁穭豆衣　白芍　地骨　上甲　防風　炙桑皮　淡草　功勞子</p>
<p>（案8）痠瘧後陰分延虛，裡熱盜汗，脈小數。以清骨散。</p>
<p>銀胡　蒿子　秦艽　珠兒參　青陳皮　女貞　桑葉　白芍　地骨　鱉甲　制首烏　黑山梔　旱蓮　茯神　功勞子</p>
<p>投清骨散，裡熱減而未澈，盜汗痞聚，脈小數。仍宗原議增刪。</p>
<p>根地（蛤粉炒）　知母　茯苓　焙丹皮　蒿子　白芍（銀胡拌）　秦艽　龜板　川柏　澤瀉　青陳皮　地骨　女貞（旱蓮拌）　炙鱉甲　自加紅棗</p>
<p>（案9）陰虛火旺，喉疼且腫，脈小弦。當治太陰陽明。</p>
<p>元參　生草　川貝　冬瓜子　藿香　生地　澤瀉　知母　茯苓　杏仁　薏苡仁　煅石膏　鮮斛　竹葉</p>
<p>（案10）陰分不足，熱自內生，痞聚盜汗，脈小數。以清骨散。童癆是憂。</p>
<p>銀胡　蒿子　龜甲　甲片　女貞　焙丹皮　青陳皮　白芍　地骨　鱉甲　茯苓　旱蓮　山梔　功勞子　桑葉</p>
<p>二診　投清骨散，裡熱稍減，痞聚腹痛，脈小數。治以疏運。</p>
<p>龜甲　甲片　蒿子　白芍（銀胡拌）　歸身炭　地榆炭　旱蓮　鱉甲　秦艽　地骨　丹皮　血餘炭　青陳皮　功勞　自加炒紅棗</p>
<p>三診　陰虛生熱，熱灼營絡，骨蒸便溏有血。以滋清法。</p>
<p>秦艽　銀胡　炒黑歸身　焙丹皮　女貞　地榆炭　陳阿膠　鱉甲　地骨　赤白芍　山梔　旱蓮　血餘炭　功勞子　炒香紅棗</p>
<p>四診　赤痢已止，裡熱未澈。際斯冬藏，稍投滋補。</p>
<p>根地　知母　銀胡　蒿子　女貞　茯苓　炙鱉甲　青陳皮　龜板　川柏　白芍　地骨　旱蓮　澤瀉　紅棗　功勞子</p>

<h2>蛔厥</h2>
<p>（案1）陰分不足，熱自內生，飲食不節，物腐生蟲，腹膨如鼓，脈細數。童癆是憂。</p>
<p>銀胡　蒿子　秦艽　檳榔　枳實　志曲　水飛雄黃　白芍　地骨　鱉甲　百部　青陳皮　內金　榧子肉　胡連</p>
<p>（案2）陰虛生熱，得食易滯，物腐生蟲，腹膨且脹，脈小弦。治以疏化。</p>
<p>銀胡　蒿子　秦艽　開口椒　檳榔　胡連　功勞子　白芍　地骨　鱉甲　使君肉　百部　蕪荑　榧子肉</p>
<p>複方　腹膨且脹，筋露臍凸，腹痛瀉蛔，身熱食滯，脈小數。恐成疳瘵。</p>
<p>雄黃　胡連　雞金　生白朮　銀胡　蒿子　功勞子　檳榔　百部　志曲　青陳皮　白芍　地骨　榧子肉　枳實</p>
<p>三診　投馮氏法，下蛔不多，腹膨稍減，身熱依然，脈小數。調治不易。</p>
<p>銀胡　蒿子　雞金　生白朮　胡連　開口椒　功勞子　白芍　檳榔　志曲　青陳皮　枳實　茯苓皮　榧子肉</p>

<h2>鼻淵</h2>
<p>濕鬱化熱，上熏陽明，鼻塞流涕，脈濡弦。由陰分不足所致，從九竅不和咸推胃病治。</p>
<p>辛夷　丁茶　知母　桑葉　青陳皮　山梔　碧玉散　蒼耳子　川斛　川貝　丹皮　茯苓神　杭菊　車前子通草</p>

<h2>串癧</h2>
<p>（案1）陰分不足，熱自內生，失血咳嗆，串癧盜汗，脈小弦。切宜怡養。</p>
<p>桑葉　杏仁　知母　粉沙參　葶藶　旋覆（代赭拌）　昆布　石膏（冰糖煅）　生草　川貝　仙鶴草　旱蓮　茯神　海藻　海蜇</p>
<p>（案2）陰分不足，熱自內生，頸項串癧，脈右數。以咸以軟堅。</p>
<p>昆布　海蜇　銀胡　蒿子　桑葉　黑山梔　海藻　川斛　白芍　地骨　丹皮　功勞子</p>
<p>（案3）陰虛生熱，火煉成痰，頸項串癧。治以鹹寒。</p>
<p>桑葉　山梔　銀花　知母　通草　昆布　海蜇　丹皮　生地　鉤鉤　川貝　生草　海藻　澤瀉</p>

<h2>痙厥</h2>
<p>痰熱病已經一月，肺郁不宣，肝熱不退，日必痙厥數次，脈弦數。疾急變恐厥而不返，久延防成癇疾。</p>
<p>礞石（三錢）　遠志肉（六分）　桑葉　石決　龍骨　生地露（一兩）　膽星（六分）　石菖蒲（八分）　鉤鉤　茯神（辰拌）　牡蠣　上犀黃（六釐，濂珠粉六釐拌）　竹捲心</p>

<h2>唇風</h2>
<p>熱灼陽明，唇風咳嗆。</p>
<p>生地　黑山梔　銀胡　地骨　銀花　杏仁　桑葉　蟬啼殼　丹皮　赤白芍　蒿子　知母　旱蓮　鬱金　淡草　石膏（冰糖煅）</p>

<h2>耳</h2>
<p>濕熱熏灼，耳鳴作脹，身熱胃鈍，脈濡弦。從九竅不和咸推胃病治。</p>
<p>辛夷（二錢）　丁茶（八分）　扁斛　佩蘭（川連拌）　桑葉　石決　丹皮　蒼耳（二錢五分）　鉤鉤　苡仁　山梔　滁菊　枳殼　蔞仁　荷葉</p>

<h2>瘄痘</h2>
<p>（案1）瘄後餘毒未清，熏灼陽絡，身熱胃鈍，脈小數。治宜清解。</p>
<p>桑葉　知母　生地　山梔　元參　原斛　煅石膏　淡草　丹皮　鬱金　銀花　茯神　竹葉</p>
<p>（案2）時瘄初回，毒火殊甚。</p>
<p>葶藶　生草　銀花　知母　生地　象貝　茯神（辰拌）　杏仁　蘇子　元參　石膏（冰糖煅）　丹皮瓜蔞　竹葉</p>
<p>（案3）時令溫痘已露三朝，點粒稀朗，咳嗆鼻衄，脈弦數。治以清透。</p>
<p>當歸　荊芥　生地　象貝　制天蟲　元參　杏仁　糯米　川芎　蟬衣　丹皮　鉤鉤　生草　蘆根　筍尖　銀花</p>
<p>初診　風溫外襲，肺胃先受，寒熱脘悶，氣粗咳逆，舌黃糙，脈弦數。尚防發瘄。</p>
<p>羚羊　牛蒡　鬱金　蘇子　蟬衣　西河柳（一錢五分）　蘆根　連翹　鉤鉤　杏仁　象貝　山梔　櫻子核（二錢）　楂肉</p>
<p>三診　復診先錄　溫痘初露，面部繁密，四肢稀朗，壯熱煩躁，便溏口渴，微咳神糊，舌尖絳，苔糙罩垢，脈弦數。疾俾得以漿充滿，粒點放白，方是邪化之機，否防昏喘。</p>
<p>荊芥　防風　炒歸身　鉤鉤　生楂肉　生草（三分）　蘆根　連翹　銀花　川芎（六分）　蟬衣　熟牛蒡　茯神　筍尖（三個）</p>
<p>改方　炒歸身　鮮生地（五錢）　蟬衣　鉤鉤　杏仁　生楂肉　蘆根　川芎（三分）　制天蟲（三錢）　生草（三分）　象貝　銀花　白糯米（一撮）　茯神</p>
<p>（案4）瘄後毒火尚留肺胃，咳嗆鼻衄，脈右數。治以清解。</p>
<p>元參　石膏（冰糖煅）　杏仁　象貝　生地　鮮斛　山梔　知母　生草　鬱金　葶藶　丹皮　蔞仁　茯神　竹葉</p>

<h2>膏方</h2>
<p>氣血雙調，兼疏厥陰之氣，以隸肝腎。作冬藏滋補。</p>
<p>生地（蛤粉炒，三兩）　枸杞（鹽水炒，二兩）　黨參（三兩）　半夏（一兩五錢）　龍骨（三兩）　潼白蒺藜　熟地（砂仁末炒，五兩）　炙西耆（二兩）　冬朮（蒸，一兩五錢）　巴戟（二兩）　牡蠣（四兩）　建蓮肉（三兩）　淮藥（二兩）　麥冬（去心，二兩）　炒歸身（一兩五錢）　五味（蒸，三錢）　川斷（酒炒，三兩）　小茴香（炒，八錢）　萸肉（一兩五錢）　天冬（一兩五錢）　白芍（一兩五錢）　香附（二兩）　杜仲（鹽水炒，三兩）　奎南棗（二十枚）　茯苓神（各三兩）　炙草（五錢）　陳皮（一兩五錢）　橘核（二兩）　龜板（五兩）　荔枝核（煅，三兩）　加鹿角膠（一兩）、陳阿膠（二兩）、冰糖（二兩）收膏。</p>
<p>平補氣血，以固肝腎，滌痰利氣，通補陽明。際斯冬藏，以備滋補。</p>
<p>生地（蛤粉炒，四兩）　黨參（二兩）　麥冬（二兩）　桑葉（二兩）　炒歸身（一兩五錢）　葛花（二兩）　芡實（三兩）　熟地（砂仁末炒，三兩）　別直（一兩五錢）　炙西耆（二兩）　天麻（八錢）　白芍（一兩五錢）　雞距子（二兩）　紅棗（三十枚）　淮藥（二兩）　炙草（五錢）　橘紅（八錢）　牡蠣（四兩）　知母（鹽水炒，一兩五錢）　沙苑子（二兩）　萸肉（一兩五錢）　蒸冬朮（一兩五錢）　半夏（一兩五錢）　龍骨（三兩）　川柏（鹽水炒，八錢）　潼、白蒺藜（各三兩）　澤瀉（三兩）　茯苓（三兩）　川貝（研末，二兩）　枸杞（鹽水炒，二兩）　制首烏（三兩）　金櫻子（一兩五錢）</p>
<p>留出川貝粉，加阿膠（一兩五錢）、龜板膠（一兩）、冰糖（八兩）收膏。</p>
<p>平補三陰，作投補之預備。</p>
<p>生地　淮藥　茯苓　知母　黨參　炙草　丹皮　萸肉　澤瀉　川柏　冬朮　陳皮　紅棗</p>

<h2>外科腸癰</h2>
<p>（案1）佩宜診　吊腳腸癰，恐難消退。</p>
<p>王不留行（三錢）　延胡（三錢）　丹皮（二錢五分）　枳殼（二錢五分）　瓜蔞（四錢）　乳香（三錢）　穿甲片（三錢）　桃仁（二錢五分）　大黃（三錢）　歸尾（三錢）　赤芍（二錢）　沒藥（二錢）</p>
<p>複方　初診　薤白（四錢）　枳實（二錢五分）　李仁（三錢）　王不留行（二錢五分）　元胡（二錢）　甲片（二錢）　全瓜蔞（四錢）　麻仁（三錢）　皂子（五粒）　風化硝（二錢五分）　烏藥（二錢五分）　山梔（二錢五分）</p>
<p>（案2）腹痛映及少腹，痛甚拒按，身熱畏寒，脈小數。久痛不已，恐成腸癰。</p>
<p>王不留行　乳香　桃仁　甲片　丹皮　延胡　生赤芍　全瓜蔞　沒藥　歸尾　枳實　澤蘭　茯神　制香附　茺蔚子</p>
<p>二診　少腹痛勢稍緩，脈弦未和。仍宗原議增刪。</p>
<p>全瓜蔞　麻仁　歸尾　甲片　乳香　赤芍　王不留行　煨枳實　山梔　桃仁　延胡　沒藥　茺蔚子</p>

<h1>卷下</h1>

<h2>女科咳嗆</h2>
<p>（案1）諸氣膹郁，皆屬於肺。咳嗆喉疼，嘔吐痰涎，脈右數。從三焦咳狀，咳而嘔逆治。</p>
<p>旋覆　淡草　沉香　川貝　橘紅　半夏　刀豆子　代赭　蘇子　白芍　杏仁　茯苓　竹茹（水炙）　戌腹糧</p>
<p>複方　咳嗆依然，嘔逆稍緩，火升喉疼，脈右數。當治肺胃。</p>
<p>玄參　生草　川貝（炒黃）　白芍　原金斛　旋覆　扁豆　杏仁　茯苓　訶子　白朮　香穀芽　代赭　竹茹（水炙）</p>
<p>（案2）痰火留肺，肺氣膹郁，咳嗆氣促，脈右數。治以降氣滌痰。</p>
<p>粉參　黛蛤散　川貝　蘇子　桑葉　茯苓　鬱金　白前　炙紫菀　杏仁　鼠黏　石膏（冰糖煅）　淡草　牙皂（二錢五分）　竹茹</p>
<p>（案3）病後復感，肺胃失宣。</p>
<p>老山西洋參　知母　葶藶　川貝　旋覆　鬱金　扁金斛　石膏（冰糖煅）　生草　蘇子　杏仁　代赭　茯神　天花粉　竹葉</p>
<p>（案4）周。血虛生熱，火爍肺金，形寒身熱，咳嗆痰稠，舌白糙，脈右弦數。是木火刑金使然，人咳恐見痰紅。　</p>
<p>柴胡（酒炒）　白芍　丹皮　川貝　蘇子　白前薇　黛蛤散　紫菀　當歸（酒炒）　桑葉　山梔　杏仁　鼠黏子　川鬱金　枇杷葉</p>
<p>（案5）胎前咳嗆，繼以產後，肺元自虛，音嘶面浮，脈弦小數。是木火刑金，以西昌法。</p>
<p>粉沙參　白前　知母　杏仁　葶藶、石膏（冰糖煅）　白石英　黛蛤散　紫菀　川貝　淡草　雲苓　蟬啼殼　枇杷葉　西藏果（八分）</p>
<p>（案6）體本血虛肝旺，近挾暑風，咳嗆身熱，脈小數，先治其標。</p>
<p>鮮斛　山梔　冬瓜子　苡仁　川貝　炒枳殼　蘆根　連翹　鉤鉤　橘紅絡　杏仁　鬱金　益元散　竹茹</p>
<p>（案7）寒熱咳嗆，得之產後，脈右小數。防成蓐勞。</p>
<p>白芍（炙桂枝二分拌）　香附　川貝母　旋覆（代赭石炒）　橘紅絡　原斛　水炙竹茹　枳殼　砂仁　炒杏仁　歸鬚　茯苓神　蔞仁　絲瓜絡</p>
<p>（案8）產後咳嗆，肺虛火盛，脈右數。當養肺陰，以清肺火。</p>
<p>川貝　白前　知母　蘇子　黛蛤散　冬瓜子　絲瓜絡　杏仁　紫菀　茯苓　鼠黏　橘紅絡　淡甘草　枇杷葉</p>
<p>（案9）產後挾感，身熱咳嗆。</p>
<p>葶藶　生草　蘇子　旋覆　川楝子　茯苓皮　扁斛　杏仁　鬱金　川貝　大腹　橘紅絡　茺蔚子　竹茹</p>
<p>（案10）子嗽　居經七月，胎火上衝，肺金咳嗆氣逆，脈右數。治以宣泄。</p>
<p>蘇子梗　鬱金　知母　葶藶　旋覆　淡草　橘絡　絲瓜絡　炒枳殼　杏仁　川貝　條芩　代赭　地骨</p>
<p>複方　胎火上灼陽明。治以清泄。</p>
<p>元參　石膏（冰糖煅）　川貝　蘇子　條芩　山梔　茯神　知母　淡甘草　杏仁　川連　寄生　原斛　竹葉</p>
<p>（案11）痰火上留，肺氣膹郁。</p>
<p>葶藶　生草　耆皮　生白朮　旋覆　蘇子　蔞仁　杏仁　川貝　防風　橘紅絡　代赭　茯神　竹茹　枇杷葉</p>
<p>（案12）暑風襲肺，肺氣膹郁，近復飲食不節，痰阻絡道，右脅肋抽痛，發熱形寒，舌糙，脈弦滑數。法當通絡導痰，兼疏氣滯。</p>
<p>旋覆　橘絡　杏仁　蘇子　鮮斛　麥芽　青蒿　歸鬚　新絳　鬱金　萊菔　牛蒡　楂肉　蘆根　絲瓜絡</p>
<p>（案13）血虛生熱，痰火蒙肺，音嘶咳逆，脈右數。以清燥救肺。</p>
<p>空沙參　元參　知母　川貝　生地　蘇子　冬瓜子（六錢）　蟬啼殼　生草　石膏（冰糖煅）　杏仁　鬱金　地骨　鼠黏子　蘆根</p>
<p>複方　陰虛生熱，火爍肺金。</p>
<p>桑葉　知母　杏仁　川貝　旱蓮　苡仁　冬瓜子　石膏（冰糖煅）　生草　鬱金　元參　茯神　丹皮　竹二青</p>
<p>（案14）病傷不復，咳嗆不已，脈小弦。以喻氏法。</p>
<p>桑葉　粉沙參　白前　通草　川貝　鬱金　竹二青　蘇子　黛蛤散　紫菀　滑石　杏仁　鼠黏子　枇杷葉</p>
<p>（案15）肺失清肅，咳嗆痰多。</p>
<p>冬瓜子　杏仁　元參　蘇子　炙橘紅　連翹　蘆根　薏苡仁　川貝．鬱金　鼠黏子　旋覆　鉤鉤　竹茹</p>
<p>（案16）衛陽薄弱，外感易侵，身熱咳嗆，脈右數。以玉屏風散。</p>
<p>耆皮　生白朮　苡仁　川貝　桑葉　扁斛　蘆根　防風　冬瓜子　杏仁　鬱金　丹皮　茯神　竹茹</p>
<p>（案17）木火刑金，氣粗咳逆，痰出薄白，脈左弦。以平木清金。</p>
<p>粉沙參　白前　桑葉　穭豆衣　茯苓　淡草　黛蛤散　紫菀　川貝　炒杏仁　澤瀉　竹茹　枇杷葉</p>
<p>複方　肺陰延虛，木火偏旺，入夜身熱尤甚，是不耐炎暑蒸逼，脈小弦，癆損之漸。</p>
<p>桑葉　杏仁　粉沙參　白前　川貝　茯苓　白石英　石膏（冰糖煅）　生草　黛蛤散　紫菀　橘紅　竹茹　枇杷葉</p>
<p>（案18）失血咳嗆，裡熱形寒，月事愆期，時覺腹痛，脈右數。治先和絡清金。</p>
<p>桑葉　仙鶴草　葶藶　蘇子　川鬱金　桃仁　澤蘭　旱蓮　茜根　杏仁　茯神　川貝母　丹皮　竹茹（玫瑰花炒）　茺蔚子</p>
<p>複方　癸停三月，失血已止，咳嗆未已，時覺形寒，脈右數。似屬孕象，姑以紫蘇飲。</p>
<p>蘇梗（川連四分拌）　大腹　條芩　知母　銀胡　青蒿　杏仁　枳殼　橘紅絡　艾葉　川貝　白芍　地骨　桑葉　水炙竹茹</p>
<p>（案19）臨產遭感，形寒發熱，熱甚即產，產後熱勢不退，兼有咳嗆脘滿，腹脹便結口渴，舌絳苔剝，脈右小滑而數。亟以清魂之屬。</p>
<p>炒荊芥　川芎　原斛　焙丹皮　桑葉　樸花　穭豆衣　當歸　桃仁　元丹參　山梔　鉤鉤　茯神　益母草　竹茹（薑汁炒）</p>
<p>複方　產後感邪漸化，餘熱未澈，腰部痠痛，飲食式微，脈小數。再以疏泄。</p>
<p>原斛　桑葉　茯神　當歸　川斷　穭豆衣　牛膝　焙丹皮　山梔　川芎　桃仁　杜仲　雞血藤　茺蔚子</p>
<p>（案20）流行性感冒，肺胃吸受，咳嗆頭疼，脘悶肢痠，舌糙根膩，脈弦而數。以銀翹散。</p>
<p>銀花　荊芥　杏仁　蟬衣　山梔　象貝　蘆根　翹心　牛蒡　鬱金　薄荷　鉤鉤　茯神　忍冬藤</p>

<h2>女科痰飲</h2>
<p>氣虛飲勝，哮嗽氣促，身熱痰稠，脈沉弦。以《金匱》方。</p>
<p>白前　萊菔　雲苓　海石　蛤殼　旋覆（代赭拌）　枳殼　蘇子　橘紅　半夏　牛膝　川貝　炒杏仁　淡草　枇杷葉</p>

<h2>女科風溫（附　濕溫、秋溫、冬溫）</h2>
<p>（案1）春溫乘勞倦而發，化熱釀痰，邪鬱氣分，白㾦層出，咳嗆痰稠，汗多氣促，便難食懈，舌剝尖絳，脈弦而滑。是正虛邪戀，亟以甘涼承津，佐以清養。</p>
<p>桑葉　石膏（冰糖煅）　川貝　橘紅絡　鐵皮斛　生地　葶藶　知母　生草　杏仁　辰茯神　甜花粉　銀花　竹葉　絲瓜絡</p>
<p>前方先錄　投輕清透達法，寒熱如瘧，㾦點微露，胸脘略爽，汗出頗多，舌糙黃膩罩灰，脈弦滑數。病是濕溫胎氣，尚在險途。</p>
<p>羚羊　牛蒡　杏仁　菖蒲　蒿梗　枳實　山梔　連翹　鉤鉤　鬱金　鐵皮斛　淡芩　蔞仁　蘆根　燈芯</p>
<p>（案2）春溫襲肺，化熱釀痰，頭疼形寒，身熱咳嗆，舌黃糙，脈右弦滑。姑以宣豁。</p>
<p>荊芥　牛蒡　前胡　杏仁　象貝　橘紅絡　蘆根　連翹　鉤鉤　枯芩　鬱金　蘇子　辰茯神　竹茹</p>
<p>（案3）秋溫失表，病經兩旬，邪郁不達，既不成瘧，也不發㾦，頃則汗出滂沱，肢厥煩渴，神識昏迷，胸次紅疹隱約未露。據述病起天癸適至，邪入血室無疑。舌乾絳苔少，脈細而沉。虛弱之體，厥脫堪虞。</p>
<p>洋參　參鬚（同煎沖）　知母　青金散　犀角盤　桑葉　遠志　茯神　生草　霍石斛　生地露　石決　龍齒　燈芯　捲心</p>
<p>二診　紅疹隱而未露，厥潮起伏無常，汗出滂沱，脈沉虛細。脫象已萌，難圖萬一。</p>
<p>桂枝　淡草　龍齒　桑葉　遠志　生石膏　牛膝　牡蠣　石決　麥冬　生地露（煎湯代水，八兩）</p>
<p>三診　自投桂枝白虎合龍、蠣、復脈，四肢得溫，厥潮已止，自汗未至，止形神稍振，脈仍虛細，重按稍有神韻，左關微弦。雖逾險嶺，未入坦途。</p>
<p>老山西洋參　吉林參鬚（同前沖）　麥冬　霍斛　桑葉　知母　淡甘草　牡蠣　五味　茯神　石膏（冰糖煅）　川貝　生地露　龍齒　竹葉</p>
<p>（案4）勞倦陽弛，秋溫乘襲，咳嗆痰稠，氣促脘悶，少腹䐜脹，大便不通，形寒身熱，舌黃膩，脈右滑大。高年逆象。法當宣肺滌痰，佐和肝胃。</p>
<p>沉香　象貝　杏仁　牛蒡　橘紅絡　蔞皮　茯神（辰拌）　蘆根　蘇子　鉤鉤　鬱金　連翹　小青皮　山梔（大豆卷拌）　鮮斛</p>
<p>複方　高年以右脈滑大為逆，肺胃痰熱依然矇蔽，寤醒時轟熱懊憹，便溏不爽，舌光苔浮。有昏喘之虞。</p>
<p>天竺黃　萊菔　鬱金　白前　橘紅絡　礞石　川貝母　鮮金斛　杏仁　茯神（辰拌）　蘇子　竹瀝製半夏　遠志　蘆根　菖蒲（飯蒸）</p>
<p>（案5）痰阻絡道，咳痰抽疼，身熱煩渴，便通且溏，脈弦數，舌黃糙。再以清解。</p>
<p>天竺黃　萊菔　杏仁　蟬衣　山梔　象貝　茯神（辰拌）　路路通　鮮金斛　翹心　鬱金　牛蒡　鉤鉤　蘇子　蘆根　絲瓜絡</p>
<p>（案6）冬溫痰熱上蒙肺胃，宿飲氾濫，咳痰氣促，脈滑數。防昏喘。</p>
<p>天竺黃　萊菔　杏仁　象貝　橘絡　辰茯神　枳殼　鐵皮斛　知母　鬱金　蘇子　白芥　天花粉　竹葉　絲瓜絡</p>
<p>（案7）冬溫痰熱膠固，肺胃失宣。</p>
<p>桑葉　石膏（冰糖煅）　元參　蟬啼花　生地　葶藶　鐵皮斛　知母　生草　杏仁　天花粉　丹皮　天竺黃　辰茯神　蘇子</p>
<p>二診　痰熱漸化，音嘶未復。</p>
<p>元參　蟬啼花　石膏（冰糖煅）　象貝　生地　鐵皮斛　葶藶　知母　生甘草　杏仁　銀花　蔞仁　茯神（辰拌）　竹葉　空沙參</p>
<p>三診　熱灼肺胃，咳嗆音嘶。</p>
<p>空沙參　元參　葶藶　萊菔　知母　杏仁　丹皮（二錢）　蟬啼花　生草　蘇子　生地　象貝　鬱金　竹葉　石膏（冰糖煅）</p>
<p>改方　去空沙參、蘇子、萊菔，加天花粉、鮮金斛。</p>

<h2>女科（附　風痧）</h2>
<p>（案1）伏暑旬日，先從膜原外騰為瘧，復又轉出氣分為白㾦，壯熱多汗，脘悶氣粗，舌灰，脈弦滑數。居經六月，胃府司胎，亟以甘涼。</p>
<p>桑葉　知母　銀花　鐵皮斛　山梔　枳殼　鬱金　生石膏　生草　翹心　桑寄生　鉤鉤　草果　茯神　竹葉</p>
<p>（案2）體素肝胃不和，近復勞倦感寒，挾時令暑濕，由脘痛而致嘔吐，胸次白㾦微露，瞀悶神疲，額汗煩渴，舌黃糙，脈細而軟。是正虛邪戀，虛弱之體，汗脫堪虞。</p>
<p>鐵皮斛　銀花　旋覆　桑葉　滑石　藿香（川連拌）　丹皮　糯稻須　翹心　山梔　代赭　茯神　淡草　川鬱金（枳殼拌）　竹茹（水炙）</p>
<p>複方　紅白㾦沛露，胸項潮熱起伏，肝胃不和，嘔逆頻仍，脘悶神倦，口渴躁煩，舌糙罩灰，脈右小數。邪未盡澈，正氣先虛。論治當以肝胃立法。</p>
<p>鐵皮斛　知母　桑葉　銀花　藿香（川連拌）　生地　滑石　煅石膏　生草　石決（青黛拌）　川鬱金（枳殼拌）　丹皮　山梔　茯神　竹葉</p>
<p>三診　紅㾦漸隱，白㾦透露，暑濕由氣分外泄。潮熱起伏，汗出不多，惟肝胃通降失調，時有嘔惡，舌絳灰色已退，脈小弦而數。治以甘涼，佐以芳香，希圖轉機。</p>
<p>鐵皮斛　知母　銀花　丹皮　藿香（川連拌）　佩蘭　桑葉　西洋參　淡草　翹心　石決（青黛拌）　枳殼　山梔　茯神　生白芍</p>
<p>（案3）素來體虛，挾感秋溫，引動伏暑，病經兩旬，紅白㾦遍體沛露。厥陽風木乘間升擾，熱迫便溏，嘔惡頻仍，潮熱起伏，汗出滂沱。舌黃膩尖絳，脈弦滑數，時覺腹痛，恐瘀凝氣滯也。有風動痙厥之險。</p>
<p>鐵皮斛　銀花　桑葉　山梔　龍齒　西洋參　焦芍　茺蔚子　茯神（辰拌）　翹心　石決（青黛拌）　延胡　牡蠣　炒黃川貝　西珀　水炙竹茹（玫瑰花制）</p>
<p>複方　便瀉已止，腹痛依然，紅白㾦沛露胸項，連及四肢，厥潮起伏，汗出滂沱，舌黃膩尖絳，脈小數。勢頗凶險。</p>
<p>桂枝　知母　牡蠣　老山西洋參　生白芍　銀花　生地露　糯稻根鬚　煅石膏　淡草　龍齒　霍山石斛　辰茯神　石決　辰燈芯　蘇合香丸</p>
<p>（案4）伏暑一症，大抵受病於夏，發病於秋。《己任編》名之曰晚發。道遠氣深，往往不克，逕從膜原外騰。病起天癸適至，加以悲鬱傷肝，驚怖動心，伏邪不自外達，逆入血室。一候成潮熱起伏，汗出不衰，㾦點微露，氣分之邪雖從外泄，營陰之熱盤踞不澈，症見徹夜不寐，驚惕抽掣，煩渴恣飲，神識乍清乍糊，舌黃膩罩垢，脈右小數，左關微弦，體肥多濕多痰，症屬濕重於熱，每易化燥傷津，有液涸風動昏憒之變。姑以芳香宣竅，清營泄熱，俾得疹㾦沛露，方是邪化之機，附方候裁。</p>
<p>犀尖　生地　西珀　桑葉　膽星　茯神（辰拌）　石決　竹卷芯　羚羊　丹皮　銀花　翹心　遠志　菖蒲　鬱金　辰燈芯</p>
<p>（案5）風寒外襲，先起喉痛，繼則頸項兩臂風痧沛露，熱甚有汗，並不咳嗆，舌尖起刺，脈右滑數。天癸適至，尚防邪入血室。</p>
<p>黑荊芥　丹皮　牛蒡　銀花　杏仁　鮮斛　蔞仁　川鬱金　山梔　鉤鉤　翹心　蟬衣　澤蘭　麻仁　蘆根</p>

<h2>女科瘧疾</h2>
<p>（案1）濕伏三陰，發為痎瘧，頭疼泛惡，肢痠腰痛，脈濡弦。法當搜剔絡邪。</p>
<p>柴胡（鱉血炒）　秦艽　扁斛　佩蘭　桑葉　青陳皮　忍冬藤　白芍　威靈仙　苡仁　枳殼　半夏　茯苓神　穀芽</p>
<p>（案2）瘧發不暢，邪留不澈，潮熱起伏，汗出不衰，脈弦數。治以清透。</p>
<p>銀花　牛蒡　鮮斛　山梔　藿香（川連拌）　鬱金　枳實　蘆根　連翹　鉤鉤　茯神　半夏　蒿梗　滑石　蔞仁　竹茹（薑汁炒）</p>
<p>改方　去枳實、蔞仁、竹茹，加小樸。</p>
<p>（案3）瘧發不暢，濕留膽胃，擾動肝邪，脘格泛惡，脈弦數。仍以和解少陽陽明。</p>
<p>蒿梗　半夏　藿香　山梔　通草　益元散　竹茹（薑汁炒）　淡芩　陳皮　枳殼　鉤鉤　赤苓　白蔻衣　佛手</p>
<p>（案4）瘧發太多，氣陰延虛，眩旋耳鳴，神疲力懈，脈虛弦。高年尚防熱象。</p>
<p>桂枝　牡蠣　知母　雲母　半夏　原斛　桑葉　白芍　龍骨　草果　枳殼（常山拌）　陳皮　佩蘭　茯神　紅棗</p>
<p>複方　瘧止氣陰未復，精神委頓，脈濡弦。徐圖恢復。</p>
<p>扁金斛　佩蘭　藿香　陳皮　秦艽　生穀芽　紅棗　生熟苡仁　山梔　枳殼　半夏　白芍　茯苓神　忍冬藤　另加西洋參、霍石斛煎湯沖服。</p>
<p>（案5）懷珍足月，偶感寒邪，腰痠腹脹，形寒發熱，舌糙，脈弦滑。以紫蘇飲。</p>
<p>蘇梗　半夏　黑山梔　蒿梗　寄生　大腹忍冬藤　川連　枳殼　純鉤鉤　陳皮　條芩　茯神　薑汁　竹茹</p>
<p>改方　去鉤鉤，加艾葉、藿香。</p>
<p>（案6）外感風寒，內停食滯，引動伏濕，形寒發熱，脘格泛惡，舌乾絳尖糙，脈弦滑數。法以辛散。</p>
<p>紫蘇（川連拌）　山梔（大豆卷拌）　杏仁　半夏　蒿梗　鮮斛　蘆根　連翹　鉤鉤　鬱金　枳殼　銀花　茯神　竹茹（薑汁炒）</p>
<p>（案7）瘧後震傷胎元，腰痠帶下，脈弦小滑。防半產。</p>
<p>蘇梗　大腹　條芩　川斷　菟絲　當歸　青陳皮　枳殼　寄生　艾葉　杜仲　茯神　白芍（桂枝二分拌炒）　忍冬藤</p>
<p>（案8）平素嗜茶，陽氣久耗，近復感寒，引動伏暑，濕從膜原外騰為瘧。瘧發連枝，肝邪上擾，蓋瘧必動肝也。大便時結時溏，是中氣不足也。半月來瘧魔退舍，厥陽未平，有限津液已受劫奪，渴喜熱飲，煩躁脘滿，潮熱起伏無常。舌絳苔剝尖浮白，脈右小弦而數，左關弦象尤甚。症脈合參，病在肝胃，最慮液涸風動變幻，附方蒞商。</p>
<p>老山西洋參　知母　淡草　石決（青黛拌）　八月札　茯苓神　竹捲心　霍山石斛　煅石膏　桑葉　滁菊　玉蝴蝶　生穀芽　辰燈芯</p>
<p>（案9）瘧後余濕未澈，肝木偏旺，右脅抽痛，形寒脘滿，脈濡弦。治以辛酸。</p>
<p>白芍（桂枝拌）　姜夏　青陳皮　沉香　扁斛　佩蘭　澄茄　蓽茇　雲苓　川鬱金　枳實　苡仁　吳萸　佛手</p>
<p>（案10）濕著膽胃，寒熱繼於間瘧，是邪從膜原外騰，脈弦數。治以和解。</p>
<p>蒿梗　半夏　扁斛　佩蘭　通草　赤苓　竹茹　淡芩　陳皮　苡仁　山梔　滑石　枳殼　忍冬藤</p>
<p>耀庭診　產後月餘，營氣不充，八脈、太衝亦憊，致惡露久停。痎瘧十發無汗，寒熱並甚，肢節痠楚，脈細弦數搏指，苔薄糙，擬充三陰之營氣，兼固八脈之太衝。</p>
<p>歸身　西耆　炒丹參　川斷　菟絲　生首烏　紅棗　白芍　桂枝　生草　杜仲　茯神　生薑（一片）　蔗漿（一瓢）</p>
<p>（案11）瘧發漸重，膽胃濕熱尚甚，法當清解。</p>
<p>生地　山梔　蒿梗　鮮斛　鉤鉤　石菖蒲　蘆根　丹皮　佩蘭　淡芩　連翹　澤蘭　川鬱金　碧玉散</p>
<p>複方　瘧止而餘熱未清。再理陽明。</p>
<p>桑葉　丹皮　原斛　佩蘭　通草　澤瀉　佛手　杭菊　山梔　苡仁　鉤鉤　益元散　藿梗　車前</p>
<p>（案12）胎前寒熱，熾傷胎元，不足月而產，產後寒熱復來，反增咳嗆便泄，瘀凝少腹攻痛，脈弦數，汗多，勢非輕藐。</p>
<p>白芍（桂枝三分拌）　當歸　桃仁　生蒲黃　藿香　草果　原金斛　半夏　川芎（二錢）　炮姜　五靈脂　制樸　茯神　青陳皮　益母草</p>
<p>複方　瘧退，小有寒熱，是營衛迭偏，瀉止瘕散，惟咳嗆，少腹抽痛，臥醒時轟熱，舌膩，脈小弦。再以通絡導痰，佐和營衛。</p>
<p>白芍（桂枝二分拌）　川芎　橘絡　川鬱金　原斛　益母草　川貝　川楝　歸鬚　桃仁　炮黑姜　茯神　絲瓜絡</p>
<p>改方　去桂枝、川楝、歸鬚，加當歸、砂仁、四制香附。</p>

<h2>女科伏暑</h2>
<p>（案1）勞倦引動伏暑，但熱不涼，咳嗆少痰，熱迫便溏，舌黃膩，脈弦數。法當清解。</p>
<p>藿香　鮮斛　杏仁　象貝　枳殼　山梔　制樸　連翹　鬱金　蘇子　萊菔　茯神（辰拌）蘆根　絲瓜絡</p>
<p>複方　熱勢轉劇，白㾦隱約，咳嗆痰少，熱迫便瀉，舌黃垢罩灰，脈弦滑數。有昏喘之險。</p>
<p>羚羊　牛蒡　鬱金　天竺黃　鐵皮斛　藿香（川連拌）　山梔　蘆根　翹心　鉤鉤　茯神　石菖蒲　炒銀花　制樸　燈芯　竹茹</p>
<p>（案2）寒邪外襲，濕熱內留，舌垢脈濡。以梔豉湯。</p>
<p>大豆卷　紫蘇　桑葉　杏仁　通草　苡仁　荊芥穗　黑山梔　鉤鉤　連翹　鬱金　澤瀉　佩蘭　竹二青</p>

<h2>女科霍亂</h2>
<p>宿飲哮喘，挾感穢痧，痰飲氾濫，喘促不相接續，吐瀉腹痛未已，肢厥汗出，脈沉弦。喘脫堪虞。</p>
<p>炙桂枝　木瓜（一錢）　藿梗　化橘紅　雲苓　旋覆（代赭石拌）　白朮（土炒）　紫石英　焦白芍　蠶砂（三錢）　制樸　宋半夏　海石　磁石　竹茹（薑汁炒）　益元散</p>
<p>改方　橘紅　半夏　海石　蛤殼　紫石英　蘇子葉　代赭（旋覆拌）　雲苓　川貝　牛膝　藿香　靈磁石　芥子　荷葉</p>

<h2>女科便瀉</h2>
<p>（案1）食滯不化，消導過度，脾胃受戕，便瀉腹痛。刻下雖便瀉已止，脾胃生氣未醒，脈小弦。高年切宜調養。</p>
<p>藿香　陳皮　白芍　白朮（土炒）　川貝　海石　炒香紅棗　枳殼　半夏　扁豆　雲苓　穀芽　牛膝　薑汁竹茹</p>
<p>複方　瀉後轉為便結，濁飲氾濫，氣促咳痰不爽，夜寐欠安，舌白膩，脈弦滑數。治以降氣滌痰。</p>
<p>紫石英　牛膝　海石　旋覆　葶藶　生草　橘紅絡　云茯神　知母　代赭　川貝　杏仁　竹茹　絲瓜絡</p>
<p>前方先錄　自投理中湯合生化、失笑之屬，惡露已通，嘔逆得止，腹痛便瀉依然，脈虛弦。局勢非輕。</p>
<p>於術（土炒）　炮薑炭　焦芍　扁豆　香附炭　砂仁　石蓮　炙草　茯苓神　陳皮　肉果　歸身炭　原斛　穀芽　茺蔚子</p>
<p>複方　產後泄瀉，自胎前得來，已經月餘，腹痛已緩，夜寐不安，交陰身熱口渴，舌光絳苔剝，脈來弦滑而數。當顧脾胃。</p>
<p>於術（土炒）　茯苓神　焦芍　桑葉　原斛　穀芽　丹皮炭　炙草　炮薑炭　陳皮　半夏　石蓮　枳殼　炒香紅棗　竹茹（水炙）</p>
<p>背擬方　據述種種病情，腹瀉已經兩月，是脾傷及腎，胃陰受傷，厥陰疏泄失司。年高體弱，得之調治不易，懸擬易謬，還希裁酌。</p>
<p>於術（土炒）　茯苓　焦芍　扁豆　訶子　原斛　穀芽　炮薑炭　炙草　陳皮　肉果　川貝（炒黃）　石蓮　芸曲　炒香紅棗</p>
<p>（案2）產後挾感，初起嘔吐，繼則身熱便溏，惡露少通，少腹攻痛，神疲少寐，舌白膩，脈弦小數。亟以健脾逐瘀，徐圖轉機。</p>
<p>於術（土炒）　茯苓神　歸身　焦白芍　陳皮　蒲黃　川貝（炒黃）　扁豆　炮薑炭　川芎　香附炭　半夏　靈脂　竹茹（薑汁炒）　茺蔚子</p>
<p>複方　便瀉已止，形寒身熱，脘悶氣粗，少腹作痛，惡露少通，舌糙尖絳，脈弦小數。得之產後，調治不易。</p>
<p>歸尾（茴香拌）　川芎　川鬱金　原斛　穀芽　牛膝　四制香附　白芍（桂枝二分拌）　延胡　青陳皮　茯神　大腹　山梔　茺蔚子</p>
<p>（案3）土不生金，咳嗆便溏，寅早尤甚，脈小弦。當治脾肺。</p>
<p>桔梗（六分）　制樸　焦芍　白朮　茯苓　葶藶　大腹　杏仁　扁豆　陳皮　川貝（炒黃）　澤瀉　淡草　竹茹　炒香紅棗</p>
<p>（案4）居經五月，迭感寒邪，腹痛便溏，脈弦滑。治以疏和。</p>
<p>紫蘇　大腹　藿梗　寄生　半夏　木香　竹茹　枳殼　陳皮　制樸　條芩（酒炒）　神麯　砂仁　佛手</p>
<p>（案5）胎前咳嗆，繼於產後，是木火刑金。近復脾土受侮，腹痛便溏，脈小弦。恐成蓐勞。</p>
<p>焦芍　於術（土炒）　香附炭　炒川貝　原斛　八月札　石蓮　陳皮　扁豆　縮砂仁　訶子　茯苓　香穀芽　竹茹（水炙）　糯稻根鬚</p>
<p>（案6）產後肝脾失運，腹痛便溏，跗腫面浮，脈濡弦。治以疏和。</p>
<p>於術（土炒）　茯苓皮　焦芍　扁豆　香附　肉果　生炒穀芽　炙草　炮薑炭　陳皮　芸曲　砂仁　原斛　炒紅棗</p>

<h2>女科痢疾</h2>
<p>（案1）前方先錄　痢次稍緩，腹痛後重，脘滿輒脹，眩旋腰痠，脈濡小弦。再以疏滲。</p>
<p>藿香　六曲　葛根炭　銀花炭　茯苓　原斛　木香（川連拌）　制樸　陳皮　條芩炭　六一散　澤瀉　炒香穀芽　枳殼　車前子</p>
<p>（案2）居經七月，赤痢後重。</p>
<p>葛根炭　陳皮　香附炭　木香（川連拌）　藿香　芸曲　原金斛　赤白芍　淡草　縮砂仁　白朮（土炒）　制樸　大腹　焦穀芽　荷蒂</p>
<p>（案3）痢下赤白，腹痛後重，身熱脫肛，煩渴泛嘔，舌乾絳，苔起糜點，脈弦小。痢久脾傷，胃陰劫奪，治難速效。</p>
<p>於術（土炒）　茯苓皮　焦芍　扁豆衣　原斛　香穀芽　水炙竹茹（玫瑰花二朵同制）　炙草　炮薑炭　陳皮　升麻炭　石蓮　西洋參（米炒）　炒香紅棗　吉梅炭（吳萸五分拌）</p>
<p>複方　痢次漸減，腹痛後重，氣陷脫肛，舌剝干絳少津，脈小弦。再以補中益氣之屬。</p>
<p>白朮（土炒）　赤白芍　香附炭　砂仁　炙柴胡　原斛　豬茯苓　陳皮　淡甘草　歸身炭　石蓮　炙升麻　芸曲　香穀芽</p>
<p>（案4）居經六月，腹脹且痛，便積後重，脈弦小滑。治以疏和，防胎墜。</p>
<p>藿香　芸曲　焦芍　木香　炒銀花　原斛　香附炭　制樸　茯苓　陳皮　砂仁　炒條芩　枳殼　焦荷蒂</p>
<p>（案5）大腸積滯未清，肝木乘攻。</p>
<p>木香　楂炭　半夏　條芩炭　焦芍　青陳皮　川連（吳萸拌）　大腹　枳殼　銀花炭　延胡　川楝子　荷蒂</p>
<p>（案6）暑濕熱挾食滯，蒸傷腸腑氣血，為赤白下痢，腹痛後重，脈濡弦。治以疏和。</p>
<p>當歸炭　桃仁　條芩炭　赤白芍　陳皮　原斛　芸曲　葛根炭　延胡　銀花炭　香穀芽木香（川連拌）　石蓮　砂仁　荷蒂</p>
<p>改方　當歸炭　條芩炭　赤苓　赤白芍　原斛　穀芽　藿香　葛根炭　銀花炭　陳皮　煨木香（川連拌）　石蓮　芸曲　荷蒂</p>
<p>複方　復感食滯，赤痢復作，腹痛後重，脈濡弦。恐成腸紅。</p>
<p>升麻炭　赤白芍　歸身炭　延胡　原斛　豬茯苓　陳皮　葛根炭　淡甘草　香附炭　砂仁　石蓮　樗根白皮　紅棗（炒香）</p>

<h2>女科腫脹</h2>
<p>（案1）前方先錄　二診　瀉止，惡露亦停，脘滿噯酸，得食輒脹，脈濡弦。胃失通降，肝失疏泄，防延中滿。</p>
<p>生白朮　煨枳實　官桂　沉香　良薑　蓽茇　雲苓　生小樸　青陳皮　白芍　大腹　胡蘆巴　姜半夏　姜竹茹　左金丸</p>
<p>複方　三診　投疏運中室，腹脹漸消，便瀉復作，寅卯尤劇，脈小弦。當培土抑木治法。</p>
<p>焦芍　白朮（土炒）　骨脂　山藥　原斛　穀芽　炒黃川貝　陳皮　扁豆　肉果　吳萸　石蓮　茯苓　炒香紅棗</p>
<p>（案2）濕阻中焦，疏運失司，腹膨且脹，面浮肢腫，脈濡小弦，苔黃膩。腫脹已成，調治極難。</p>
<p>桂枝（蜜炙）　五加　豬茯苓　澤瀉　枳實　雞金　志曲　防己　巴戟　川牛膝　大腹　制樸　麥芽　蒲殼　冬瓜皮</p>
<p>（案3）咳嗆肢腫，身熱氣粗，脈濡弦。當治脾肺。</p>
<p>葶藶　生草　海石　桑皮　豬茯苓皮　防己　川貝母　杏仁　蘇子　牛膝　冬瓜皮　橘紅絡　巴戟　枇杷葉</p>
<p>（案4）居經七月，陽明司胎。脘痛輒脹，脈弦滑，肝邪乘擾也。治以疏和，佐安胎元。</p>
<p>蘇梗　半夏　寄生　艾葉　大腹　香附　青陳皮　川連（萸汁炒）　枳殼　條芩　川斷　茯神　蔞仁　薑汁竹茹</p>
<p>（案5）濕著不化，肝脾不運，面浮膚腫，脈濡弦。當治肝脾。</p>
<p>椒目　五加　生白朮　煨枳實　香附　大腹　茯苓皮　防己　巴戟　生小樸　青陳皮　砂仁　蒲殼　香櫞皮</p>
<p>（案6）血虛生熱，癸停齒衄，腹膨且脹，肢腫面浮。是血熱妄行，氣無依附，防成腫脹。</p>
<p>歸尾　甲片　生白朮　茯苓皮　川鬱金　丹皮　大腹　桃仁　牛膝　生小樸　青陳皮　澤蘭　延胡　茺蔚子　香櫞皮</p>
<p>（案7）血不養肝，肝橫輒脹，腹膨如鼓，脈濡數。恐成單脹。</p>
<p>雞金　志曲　生白朮　枳實　青陳皮　滑石　香櫞皮　麥芽　檳榔　生小樸　梔皮　豬茯苓　澤瀉　砂殼</p>
<p>複方　投疏泄肝脾，腹脹依然，熱熾於裡，脈弦小數。再治厥陰、太陰。</p>
<p>香附　川鬱金　柴胡（酒炒）　桃仁　牛膝　麥芽　茺蔚子　砂仁　炒白芍　歸尾　甲片　雞金　志曲　香櫞皮</p>

<h2>女科虛損</h2>
<p>（案1）木鬱不達，肺金失肅，肢腫腹脹，咳嗆失血，脈小弦。從經旨金鬱泄之，木鬱達之治法。</p>
<p>川鬱金　川貝　雞金　志曲　生白朮　枳實　竹茹（玫瑰花制）　茯苓皮　澤蘭　麥芽　防己　生小樸　青陳皮　蒲殼　茺蔚子</p>
<p>（案2）年已二七，天癸未至。陰虛夜熱，汗從盜泄，近且白帶時下，苔白膩，脈細數。取效非易，慮成童癆。</p>
<p>銀胡　蒿子　秦艽　菟絲　川斛　佩蘭　紅棗　白芍　地骨　鱉甲　茯神　苡仁　當歸　功勞子</p>
<p>（案3）營虛生熱，風木有餘。</p>
<p>銀柴　蒿子　川鬱金　鱉甲　桑葉　川斛　茺蔚子　白芍　歸尾　白蒺藜　杜仲　瓦楞　川斷　功勞子</p>
<p>（案4）木火刑金，咳嗆氣促，時或痰紅，脈小數。防成損怯。</p>
<p>粉沙參　白前　桑葉　知母　川貝母　炒蘇子　旋覆花（代赭拌）　黛蛤散　紫菀　石膏（冰糖煅）　淡草　炒杏仁　鼠黏子　枇杷葉　毛燕（二錢五分）</p>
<p>癸停載余，血液枯涸，身熱咳嗆，脈右小數，恐成癆損。</p>
<p>銀胡　蒿子　秦艽　丹參　川斷　茯神　川鬱金　白芍（桂枝二分拌）　地骨　鱉甲　茯神菟絲　桑葉　茺蔚子</p>
<p>複方　寒熱已止，月事未通，咳嗆有痰，脈小數。防延入損途。</p>
<p>粉沙參　白前　川貝　炒杏仁　橘絡　炒丹參　茺蔚子　黛蛤散　紫菀　川楝　川鬱金　澤蘭　茯神　枇杷葉</p>
<p>（案5）產多傷血，煩勞傷氣，氣血兩耗，營血迭偏，心悸眩旋，瘕攻腹脹，肉瞤驚惕，形寒轟熱，厥陽時僭，四肢麻木，舌糙，脈細虛帶軟。是虛損之末，似非草木所能獲效。</p>
<p>龍骨　桑葉　白芍（桂枝拌）　八月札　丹參　茯神　柏子仁　牡蠣　石決　瓦楞　青陳皮　棗仁　川斷　白蒺藜　雞血藤</p>
<p>改方　龍骨　桑葉　白芍（桂枝拌）　八月札　丹參　茯神　柏子仁　麻仁　牡蠣　石決　瓦楞　青陳皮　棗仁　川斷　穭豆衣　雞血藤</p>
<p>又改方　花龍骨　桑葉　白芍（桂枝二分拌）　柏子仁　丹參　茯神　真滁菊　牡蠣　石決（青黛拌）　瓦楞　青陳皮　棗仁　川斛　雞血藤</p>
<p>（案6）胎前咳嗆，繼於產後，是木火刑金，近復脾土受侮，腹痛便泄，脈細弦，恐出蓐勞。</p>
<p>焦芍　扁豆　訶子　原斛　穀芽　香附炭　砂仁　陳皮　於術（土炒）　川貝（炒黃）　石蓮　茯苓八月札　竹茹（水炙）　糯稻根鬚</p>
<p>複方　咳緩便溏，後重腹痛腸鳴，舌剝脈細。是產後蓐勞，調治極難。</p>
<p>於術（土炒）　焦芍　香附炭　砂仁　扁豆　原斛　穀芽　茯苓　陳皮　歸身炭　牡蠣　肉果　石蓮　炒川貝　糯稻根鬚</p>
<p>（案7）產後營虛，氣無依附，腹笥臌膨脹，神憊裡熱，脈小弦。久防延成蓐勞。</p>
<p>香附（四制）　山梔　生白朮　炒枳殼　當歸　桑葉　酒炒柴胡　撫芎　志曲　生小樸　青陳皮　白芍　丹皮　陳香櫞皮</p>
<p>（案8）居經四月，身熱形消，有時腹痛，脈細，左右部小數。是血虛氣滯，難憑孕象。</p>
<p>銀胡　白芍（桂枝分半拌）　四制香附　砂仁　白朮（土炒）　扁豆衣　川鬱金　當歸　沉香　青陳皮　瓦楞　制樸　八月札　合歡皮　綠萼梅</p>
<p>複方　血虛肝旺，木乘土位，營衛迭偏，致脘痛便溏，跗腫寒熱，脈小數。調治不易。</p>
<p>焦芍　青陳皮　砂仁　原斛　穀芽　茯苓皮　扁豆衣　白朮（土炒）　香附炭　芸曲　石蓮　大腹　八月札　綠萼梅　合歡皮</p>
<p>腹脹且痛，便溏後重，納減胃鈍，裡熱跗腫，脈小數。當治扶土抑木法。</p>
<p>土炒於術　茯苓（連皮）　陳皮　香附炭　原斛　穀芽　採芸曲　炮薑炭　焦芍　扁豆　縮砂仁　石蓮　大腹　陳香櫞皮</p>
<p>改方　土炒白朮　枳殼　香附炭　砂仁　原斛　桑葉　茯苓皮　青陳皮　大腹　扁豆衣　焦芍　防己　穀芽　糯稻根鬚</p>
<p>四診　病由血虛癸停而起，繼則肝旺腹脹，脹甚則痛，克脾為便溏肢腫，面㿠帶浮。歷經數月，病勢有增無減，頃又痛甚，汗出不已，時覺形寒，舌變光剝，脈來右軟，左部小弦而數，是為陽虛自汗無疑。論治當疏肝之氣以斂陽，養胃之陰以健脾，希冀汗止納增，以圖苟延。</p>
<p>吉林須　五味子　牡蠣　桑葉　扁豆衣　八月札　糯稻根鬚　米炒麥冬　茯苓神　龍齒石蓮　焦白芍　玉蝴蝶　霍斛　穀芽</p>
<p>汗出時，另以牡蠣粉二兩撲粉。</p>
<p>改方　據述自汗已止，余恙均減，惟胃脘作脹，杳不思納，舌仍光剝，諒系胃陰被劫。委改當從通降陽明著手，佐和肝脾，再服三劑，自有消息。</p>
<p>吉林須　穀芽　焦芍　桑葉　穭豆衣　茯神苓　陽春砂仁　霍石斛　白朮（土炒）　陳皮（桂枝分半拌）　香附（四制）　八月札　扁豆衣　黑石蓮</p>
<p>五診　前投生脈散合龍牡救逆，自汗已止，胃納漸增。節屆處暑，重複汗出不已，形神愈見疲憊，四肢有時厥冷，幸痛勢不舉，瀉次漸減，厥潮不致舉發。頃診脈象左右上部俱見沉細而數，舌苔光剝，尖刺以將起糜，是胃陰日漸敗壞，肝家氣火升騰無制，太陰輸運無權，致一身盡腫。據色脈而商治法，仍以急則治標，斂浮陽以顧胃陰。奈脫象已萌，難圖萬一。</p>
<p>牡蠣　桑葉　吉林須（霍斛一錢五分同煎）　北五味　白芍（桂枝分半拌）　茯苓神　澤瀉　龍齒　珍珠母　米炒麥冬　穭豆衣　大腹　香穀芽　炒紅棗　糯稻根鬚</p>
<p>（案9）熱灼肺胃，失血咳嗆，脈右數。防延入損途。</p>
<p>紫石英　知母　海石　白前　川貝　牛膝　粉沙參　黛蛤散　淡草　代赭　紫菀　橘絡　石膏（冰糖煅）　枇杷葉</p>
<p>（案10）產後營虛，陽不潛藏，脈小弦而軟。恐成蓐勞。</p>
<p>當歸　根地（砂仁末炒）　西黨參　蒸冬朮　甘枸杞　元丹參　桑葉　制首烏　白芍　川芎　茯苓神　炙草　潼白蒺藜　煅牡蠣　丹皮</p>
<p>（案11）平昔勤事內政，不但心營肺衛迭交損，而肝家氣火升逆莫制。夫肝與肺為左右升降之道，肝之左升太過，肺之右降不及，以致木叩金鳴，咳嗆痰紅，歷有年數。近年來失血屢發，加以操勞過度，心肝之陽偏亢，時有心悸少寐，自汗盜汗。營衛迭偏，寒熱往來，舌苔剝根膩尖絳，脈得左右六部俱見細數。症脈合參，是氣血兩虛，厥陽氣火偏旺，當遵經旨金鬱泄之，木鬱達之，佐寧心神治法，而怡養功夫尤當加意藥餌之預，蒞商。</p>
<p>川鬱金　川貝　桑葉　棗仁（川連三分拌）　珍珠母　女貞　焙丹皮　炒丹參　川楝子　川斛　牡蠣　茯神　八月札　旱蓮　山梔　合歡皮</p>
<p>（案12）由瘧致產後復瘧，咳嗆面浮氣促，脈右滑小數。防成蓐勞。</p>
<p>白芍（炙桂枝三分拌）　川貝　粉沙參　白前　茯苓（連皮）　知母　桑葉　橘紅　炒杏仁　黛蛤散　紫菀　淡草　草果　竹茹　穭豆衣</p>
<p>（案13）病傷不復，迭感咳嗆，脈右數。久延防損。</p>
<p>粉沙參　白前　川貝　炒杏仁　旋覆　淡草　枇杷葉　黛蛤散　紫菀　茯苓　橘紅絡　代赭　扁豆　絲瓜絡</p>
<p>複方　咳嗆漸減，裡熱未澈，得之病後，調養為宜。</p>
<p>銀胡　蒿子　秦艽　青陳皮　知母　歸身　桑葉　白芍　地骨　川斛　淡鱉甲　川貝　茯神　佩蘭</p>
<p>（案14）去秋產後裡熱，咳嗆迄今，形神日漸消瘦，脈弦滑。恐延成蓐勞。</p>
<p>銀胡　蒿子　川斛　川貝　茯神　川鬱金　竹茹（玫瑰花拌制）　白芍　地骨　佩蘭（川連拌）　炒杏仁　旱蓮　四制香附　山梔　功勞子</p>

<h2>女科失血</h2>
<p>（案1）失血咳嗆，已歷三載，肺火盛也，脈右數。以和絡清金法。</p>
<p>粉沙參　白前　川貝　蘇子　旋覆　茯苓　橘紅絡　黛蛤散　紫菀　炒杏仁　淡草　代赭　竹茹　枇杷葉</p>
<p>複方　肺虛火盛，咳嗆身熱。曾經失血，天癸延期，脈右小數。切宜怡養。</p>
<p>元參　石膏（冰糖煅）　川貝　旋覆（代赭拌）　粉沙參　白前　絲瓜絡　知母　淡草　炒杏仁　橘絡　黛蛤散　紫菀　枇杷葉　竹茹</p>
<p>（案2）失血咳嗆，身熱脘悶，脈芤弦。當以和絡清金法。</p>
<p>降香　茜根　生地　旱蓮　川貝　蘇子　藕節　川鬱金　牛膝　茯神　丹皮　仙鶴草　杏仁　鼠黏子　竹茹</p>
<p>（案3）陰虛濕鬱化熱，肺金受灼，咳嗆失血，月事先期，腰痠帶下，舌黃糙，脈右數。當以和絡清金，兼調八脈。</p>
<p>桑葉　旱蓮　粉沙參　川貝　旋覆　淡草茯苓神　丹皮　仙鶴草　白前薇　杏仁　代赭　山梔　枇杷葉</p>
<p>（案4）咳嗆經久不已，肺火自旺，痰火尚留，身熱痰紅，脈右數。治以清滲降。</p>
<p>桑葉　知母　杏仁　蘇子　粉沙參　白前　旋覆花（代赭拌）　石膏（冰糖煅）　生草　鬱金　鼠黏子　黛蛤散　紫菀　枇杷葉</p>
<p>（案5）失血咳嗆，形寒發熱，脈右滑數。是勞損之基，調治不易。</p>
<p>粉沙參　白前　桑葉　茜根　川貝　知母　仙鶴草　黛蛤散　紫菀　丹皮　生地　炒杏仁　茯神　白茅根（代茶）　枇杷葉</p>
<p>（案6）木火刑金爍絡，絡破血溢，咳嗆痰紅，形寒身熱，脈弦滑數，舌尖絳苔糙。以喻氏西昌法。</p>
<p>桑葉　煅石膏　粉沙參　白前　生地　葶藶　豬牙皂　知母　淡草　黛蛤散　丹皮　遠志　炒杏仁（研）　枇杷葉　絲瓜絡</p>
<p>複方　投喻氏法，咳嗆依然，熱熾於裡，形瘦氣促，脈芤弦而數，舌黃中剝。似屬勞損之基，切宜怡養。</p>
<p>紫石英　海石　粉沙參　白前　牛膝　川貝　葶藶　枇杷葉　靈磁石　代赭（旋覆拌）　黛蛤散　紫菀　石膏（冰糖煅）　炒杏仁　淡草</p>

<h2>女科便血</h2>
<p>熱灼陰絡，血從下溢為便血，瘀衃肛門痠痛。熱熾於裡，兼有咳嗆少寐口渴，舌尖絳苔糙，脈弦而數。當和陰絡以清營熱。</p>
<p>歸身炭　銀花炭　烏鰂骨　血餘炭　焙丹皮　茯神　青陳皮　赤白芍（炒焦各）　地榆炭　茜根炭　槐米炭　炒川貝　山梔　香附炭　椿樹根</p>
<p>複方　便血漸止，咳嗆未已，脈右數。再以清解。</p>
<p>生地　山梔　銀花　炒槐米　川貝　茯苓　焙丹皮　桑葉　炒條芩　旱蓮　杏仁　竹茹　忍冬藤</p>

<h2>女科尿血</h2>
<p>（案1）濕火下趨，熱結膀胱，氣化窒礙，脈濡數。治以疏泄厥陰。</p>
<p>小薊　木通　桑葉　池菊　銀花　茯苓神　黑山梔　生地　草梢　丹皮　石決　澤瀉　青陳皮　車前子</p>
<p>（案2）經來後期，崩漏尿血，是奇經衝任少貯，脈小弦。切宜調養。</p>
<p>歸身炭　生地炭　烏鰂骨　血餘炭　川斷　菟絲　陳棕炭　焦白芍　紫丹參　茜根炭　制香附　杜仲　茯神　蓮房炭</p>
<p>複方　小溲涓滴，兼有尿血，脈小弦。諒系熱迫膀胱，沖海受灼。</p>
<p>西珀　生地　木通　赤芍　茜根炭　川斷　車前子　小薊　丹皮　草梢　澤瀉　茯苓神　菟絲</p>

<h2>女科癃閉</h2>
<p>懷孕四月，二便倏閉，脈弦數。以葵子湯主之。</p>
<p>冬葵子（二錢五分）　白芍　茯苓　當歸（二錢）　炙升麻　生白朮　車前子　甘草梢　木通　滑石　瓜蔞　大腹　嫩條芩　淡竹葉</p>

<h2>女科肝火</h2>
<p>血液不足，肝木偏旺，乳旁結核並不紅腫痠疼，脈右弦。是肝鬱不達，氣失疏泄所致生。惟怡養功夫尤當加意藥餌之先。</p>
<p>八月札　蒲公英　橘葉（五片）　炒丹參　四制香附　丹皮　桑葉　玉蝴蝶　川鬱金　白芍　茯神　青陳皮　山梔　白薇　樸花</p>

<h2>女科肝胃氣痛</h2>
<p>（案1）血不養肝，肝旺輒脹，脘痛脹及肩背，甚則嘔吐，脈左弦。治以辛酸。</p>
<p>沉香　蓽澄茄　蓽茇　良薑　香附（四制）　姜夏　竹茹（薑汁炒）　枳實　青陳皮　吳萸（川連拌）　白芍（桂枝二分同煎）　菟絲　雲苓　刺蝟皮</p>
<p>（案2）中陽不足，肝木犯胃，晨起嘔吐，得食尤甚，甚則脘痛徹背，脈左弦右部小滑。病在肝胃，切宜怡養。</p>
<p>官桂　炙草　雲苓　丁香　旋覆（代赭拌）　戌腹糧（二錢）　姜竹茹　白芍　姜夏　青陳皮　山柰　吳萸　川楝子　刺蝟皮</p>
<p>（案3）血虛肝旺，中氣虛餒，瘕攻脘痛，腹脹氣滯，脈小弦。治以辛酸，仿仲景法。</p>
<p>白芍（上桂心二分酒製）　青陳皮　瓦楞　沉香　蓽茇　姜夏　蓽澄茄　雲苓　胡蘆巴　良薑　枳實　吳萸　香附　綠萼梅　佛手</p>
<p>（案4）寒熱互滯，引動肝氣，脘痛肢厥，鼻衄便結，舌糙，脈細弦。當先散寒疏氣，得能痛定乃吉。</p>
<p>紫蘇　白芍　沉香　檳榔　牛膝　香附（四制）　青陳皮　川連（吳萸同搗）　姜夏　烏藥　枳實　焙丹皮　佛手　側柏炭</p>
<p>（案5）中陽不足，肝木犯胃，脘痛嘔酸，腹脹且痛，脈左弦。由血虛所致，以仲景辛酸法。</p>
<p>官桂　炙草　姜夏　青陳皮　山柰　香附（四制）　薑汁竹茹　白芍　丹參　雲苓　熟棗仁（川連拌）　蓽茇　川楝　刺蝟皮</p>
<p>（案6）木鬱不達，肺金失肅。法當肝肺同治。</p>
<p>川鬱金　川楝　川斛　佩蘭　瓦楞　青陳皮　桑葉　川樸花　川貝　苡仁　茯神　白芍　半夏曲　炒杏仁　竹茹</p>
<p>（案7）中陽不足，肝木犯胃。</p>
<p>官桂　炙草　烏藥　枳實　姜夏　青陳皮　砂仁　白芍　沉香　檳榔　瓦楞　雲苓　四制香附　橘紅　薑汁竹茹</p>
<p>（案8）胃脘痛，痛傷膽汁，面目俱黃，痛甚肢厥汗出，便閉咳逆，脈左弦。治以苦辛。</p>
<p>官桂　青陳皮　沉香　川連（吳萸同搗）　淡芩胡蘆巴　枳實　白芍　川鬱金　歸鬚　川柏　蓽茇　蓽澄茄　瓜蔞　刺蝟皮</p>
<p>（案9）血不養肝，肝木犯胃，脘痛徹背，肢節痠楚，脈小弦。以仲景法。</p>
<p>官桂　青陳皮　良薑　丹參　枳實　川斷　雞血藤　白芍　茯苓神　蓽茇　歸鬚　姜夏　杜仲　絡石藤　木瓜</p>
<p>複方　脘痛緩而未止，血不榮筋，肩背腰疼，脈左弦。治肝首先養血。</p>
<p>沉香　檳榔　當歸　川斷　木瓜　川貝　炒丹參　烏藥　枳實　白芍　杜仲　首烏　雲苓　竹茹（薑汁炒）　雞血藤</p>

<h2>女科眩旋</h2>
<p>（案1）中陽不足，肝胃失調，耳鳴眩旋，脈濡弦。當治厥陰陽明。</p>
<p>辛夷　丁茶　青陳皮　姜夏　吳萸（川連拌）　枳殼　竹茹（玫瑰花制）　蒼耳　白芍　川鬱金　雲苓　川斛　佩蘭　桃夾（二錢）</p>
<p>（案2）新產血去太多，虛厥眩暈，不省人事，脈細類伏，防脫。</p>
<p>黨參（一錢）　茯苓（一錢）　大熟地（三錢）　白芍（一錢）炙耆（一錢）　白朮（土炒，一錢）　炙草（三分）　全當歸（五錢）川芎（一錢）　桂心（三分）　炮姜（四分）</p>

<h2>女科心悸</h2>
<p>（案1）驚怖動心，心悸眩旋，得食則脹，脘痛徹背，脈左弦。是心肝之陽偏亢也，切宜怡養。</p>
<p>紫栙丹參（豬心血拌）　茯神　桑葉　珍珠母　牡蠣　香附　白芍　熟棗仁　遠志　滁菊　青陳皮　龍齒　川鬱金　菟絲　吳萸（川連拌）</p>
<p>（案2）血不養肝，氣火風陽上僭，以致眩旋心悸，脘滿輒脹，舌糙，脈右弦。當養血潤肝，兼和營衛。</p>
<p>銀胡　當歸　熟棗仁（川連拌）　遠志（甘草水浸）　香附（四制）　廣木香　合歡　白芍　桑葉　紫丹參　茯神　砂仁　川鬱金　川斛</p>

<h2>女科腎積</h2>
<p>（案1）少腹積聚攻痛，痛甚肢厥汗出，上噯下矢乃快，舌乾絳中剝，脈虛弦而數。是屬腎積，難許完善。</p>
<p>歸尾（茴香拌）　白蒺藜　八月札　炒青皮　吳萸（川連拌）　酒炒川斷　枳實　原斛　白芍　上沉香　玉蝴蝶　廣木香　杜仲　豬茯苓　瓜蔞　霍斛（煎代茶）</p>
<p>（案2）從腎積奔豚治，攻痛積稍緩，少腹輒脹，大便不通，脈小弦。仍宗原議增刪。</p>
<p>煅瓦楞　沉香　牛膝　枸杞（二錢）　延胡　吉梅（吳萸五分同搗，五分）　青陳皮　白芍　蓯蓉（二錢）蘆巴　金鈴　茯苓皮　制金柑（乙只）</p>

<h2>女科痹</h2>
<p>血不榮筋，風淫熱鬱，四肢痠楚，脈濡弦。治先養血舒筋，再商補調。</p>
<p>制首烏　當歸（三錢）　寄生（三錢）　炒丹參　青陳皮　川斷　雞血藤　白芍（酒炒）　川芎（二錢五分）　木瓜（二錢五分）　茯神　菟絲子　杜仲　絡石藤</p>
<p>改方　去首烏，加川斛、枳殼。</p>
<p>複方　血虛肝旺，氣滯腹痛。</p>
<p>香附　青陳皮　炒丹參　歸身　寄生　沉香　香櫞皮　砂仁　川鬱金　茯神　白芍　木瓜　枳實　雞血藤</p>
<p>改方　大地（砂仁末炒）　知母　歸身　首烏　四制香附　丹參　寄生　龜板　川柏　白芍　川斷　青陳皮　茯神　木瓜　雞血藤</p>

<h2>女科調經</h2>
<p>（案1）血液不足，周行失度，月事愆期，經來悉紫，脈小弦。從後期屬寒例治。</p>
<p>當歸　川芎　川鬱金　川斷　丹參　桑葉　茯神　白芍　銀胡　澤蘭　杜仲　延胡　香附　牛膝　茺蔚子</p>
<p>（案2）張　初診　血虛肝旺，衝任失調，月事先後無序，脈小弦。當治奇經。</p>
<p>銀胡　白芍　桑葉　丹皮　紫丹參　菟絲子　茺蔚子　當歸　香附　茯神　山梔　青陳皮　熟棗仁　合歡皮　竹茹</p>
<p>（案3）桂　肝腎下虛，經遲帶多，濕阻氣滯，脘痛輒脹，脈濡弦。法當養血潤肝，兼疏氣滯。</p>
<p>當歸　川芎　川鬱金　川斷　延胡　茯苓神　鮮佛手　白芍（桂枝二分拌）　香附　澤蘭　菟絲　金鈴　青陳皮　茺蔚子</p>
<p>（案4）血液不足，熱自內生。</p>
<p>柴胡（酒炒）　白芍　元丹參　茯神　川鬱金　桑葉　川斷　當歸　川芎　熟棗仁（川連拌）　香附　青陳皮　山梔　砂仁　茺蔚子</p>
<p>張　二診　木鬱不達，肺金失肅，咳嗆身熱，腹痛腰痠，脈小弦。當金鬱泄之，木鬱達之治法。</p>
<p>川鬱金　川貝　柴胡（酒炒）　白芍　川斷　茯神　白前薇　川樸花　川斛　當歸　丹皮　菟絲　桑葉　茺蔚子　竹茹（玫瑰花制）</p>
<p>桂　複方　血虛肝旺，沖帶少貯。</p>
<p>八月札　川鬱金　澤蘭　川斷　菟絲　當歸　四制香附　玉蝴蝶　炒白芍　丹參　川楝茯神　川芎　茺蔚子</p>
<p>通經方</p>
<p>當歸　川芎　川鬱金　澤蘭　乳香　延胡　青陳皮　白芍　香附（四制）　九香蟲　牛膝　沒藥　金鈴　茺蔚子　川斷</p>
<p>（案5）血液不足，熱自內生，瘕攻腹脹，交陰寒熱，脈小弦而數。當治奇經。</p>
<p>柴胡（酒炒）　當歸　元丹參　丹皮　砂仁　茯神　川鬱金　香附　白芍　川芎　青陳皮　白薇　瓦楞　菟絲　香櫞皮　茺蔚子</p>
<p>（案6）血液不足，熱自內生，衝任失調，月事兩三月一至，腰栙腹痛，脈遲弦。當治奇經。</p>
<p>當歸　川芎　桑葉　川鬱金　香附　牛膝　青陳皮　白芍　丹參　茯神　澤蘭　砂仁　川斷　石決明　茺蔚子</p>
<p>（案7）血虛生熱，臨期腹痛，腰痠帶下，脈小數。當治奇經。</p>
<p>當歸　川芎　川鬱金　澤蘭　川斷　菟絲　乳香　白芍　茯神　青陳皮　香附　杜仲　九香蟲　沒藥　茺蔚子</p>
<p>複方　自投養陰潤肝，兼以通經，月事依然不至，並不腹痛，脈濡弦。是血虛氣滯，難憑孕象。</p>
<p>當歸　川芎　川鬱金　澤蘭　熟棗仁　桑葉　合歡皮　菟絲　白芍　根地　青陳皮　香附　丹參　茯神　茺蔚子</p>
<p>（案8）半產後沖帶少貯，形寒身熱，脈小弦。當治八脈。</p>
<p>銀胡　當歸　川斷　菟絲　丹參　川鬱金　白芍（桂枝拌）　桑葉　杜仲　茯神　香附（四制）　青陳皮　茺蔚子</p>
<p>（案9）血液不足，熱自內生，交陰身熱。以加味逍遙散主之。</p>
<p>柴胡（酒炒）　當歸　丹皮　白薇　桑葉　樸花　川鬱金　白芍　川芎　山梔　茯神　川斷　炒丹參　野薔薇露（一兩）</p>
<p>（案10）血液不足，熱自內生，心悸眩旋，倏寒倏熱，脈小數，舌白糙。以加味逍遙散主之。</p>
<p>柴胡（醋炒）　當歸　山梔　桑葉　珍珠母　丹參（豬心血拌炒）　牡蠣　白芍　丹皮　白薇　滁菊　酸棗仁（川連拌）　茯神　菟絲</p>
<p>（案11）血液不足，熱自內生，營衛不和，寒熱往來，月事愆期，經來腹痛，脈濡弦數。當治奇經。</p>
<p>柴胡（酒炒）　白芍　丹皮　香附　川貝　川斷　青陳皮　當歸　川芎　山梔　白薇　茯神　菟絲　茺蔚子　旱蓮</p>
<p>複方　投逍遙散，寒熱止而復來，腹痛依然，脈小數。仍和營衛，兼顧奇經。</p>
<p>銀胡　當歸（三錢）　香附　丹皮　菟絲　茯神　青陳皮　白芍　川芎　砂仁　山梔　川斷　茺蔚子　綠萼梅</p>
<p>（案12）血液不足，木失潤養，癸停氣滯，腰痠腹疼，脈小數。法當養血潤肝。</p>
<p>歸身　川芎　川鬱金　澤蘭　香附　丹參　青陳皮　白芍　川斷　川樸花　牛膝　砂仁　茯神　八月札　茺蔚子</p>
<p>（案13）血虛肝旺，衝任失調，月事先期，身熱形寒，脈小數。當治八脈。</p>
<p>銀胡　當歸　丹皮　白薇　炒丹參　香附（四制）　川斷　白芍　川芎　山梔　桑葉　茯神　池菊　石決　鮮荷葉邊</p>
<p>（案14）產後營虛，肝脾失運，沖帶無隸，腹痛便難，月事不調，脈右弦。治以疏肝調沖。</p>
<p>當歸　川芎　川鬱金　半夏曲　沉香　茯神　佛手花　白芍　香附　砂仁　青陳皮　川斷　大腹　姜竹茹（玫瑰花制）</p>
<p>複方　腹痛未已，脘脹氣滯，舌膩，脈濡弦。治再疏和。</p>
<p>香附　山梔　青陳皮　沉香　丹參　大腹　生白朮　撫芎　志曲　川鬱金　白芍（銀胡八分拌）茯神　佛手　薑汁竹茹</p>
<p>（案15）體本骨蒸裡熱，二九天癸未至。近復熱灼陽絡，咯血脘悶，脈右數。防成倒經。</p>
<p>歸尾　牛膝　丹皮　川鬱金　桑葉　山梔　茺蔚子　桃仁　生地　茜根　澤蘭　旱蓮　茯神　藕節</p>
<p>（案16）血虛生熱，咳嗆鼻衄。</p>
<p>銀胡　白芍　丹皮　白薇　苡仁　旱蓮草　茯神　當歸　地骨　山梔　桑皮　延胡　青陳皮　竹茹　寶珠山茶花</p>
<p>（案17）血虛有熱，衝任失調，氣滯腹痛，脈小數。當氣血兩調。</p>
<p>香附　山梔　柴胡（酒炒）　白芍　鬱金　砂仁　川斷　撫芎　六曲　當歸　丹皮　大腹　茯神　半夏　青陳皮</p>
<p>（案18）產後崩漏，營陰不足，熱自內生，月事不調，脈細數。法當養血調沖。</p>
<p>當歸　川芎　桑葉　山梔　川鬱金　菟絲　川斷　白芍　銀胡　丹皮　白薇　澤蘭　茯神　茺蔚子</p>
<p>（案19）去歲崩漏，近復癸停兩月，裡熱咳嗆，脈小弦而數。防其復萌。</p>
<p>當歸　川芎　川鬱金　川貝母　延胡　香附　黛蛤散　茺蔚子　白芍（酒炒）　丹參　澤蘭　茯神　白前　炙紫菀　竹茹（玫瑰花制）</p>
<p>（案20）血不養肝，肝失疏泄，腹痛帶下，脈小弦，當調肝腎。</p>
<p>香附　歸身　銀胡　川斷　茯神　青陳皮　牡蠣　撫芎　白芍　沉香　菟絲　杜仲　雞血藤　蓮鬚</p>

<h2>女科崩</h2>
<p>（案1）產後營陰不足，奇經沖帶失調，月事不以時下，脈小弦。當治八脈。</p>
<p>歸身炭　白芍　烏鰂骨　炒丹參　菟絲　陳阿膠（蒲黃炒）　陳棕炭　生地炭　川芎　茜根炭　茯神　川斷　血餘炭　蓮房炭</p>
<p>（案2）血虛生熱，沖帶少貯，月事先期，腹痛腰痠，脈小弦。當治奇經。</p>
<p>烏鰂骨　血餘炭　歸身　柴胡　香附　川斷　白薇　茜根炭　青陳皮　白芍　丹皮　大腹　桑葉　山梔　茯苓皮</p>
<p>（案3）營虛生熱，迫血妄行，經漏脈弦。當調八脈。</p>
<p>歸身炭　白芍　炒條芩　血餘炭　川貝　山梔　炙橘紅　茜根炭　烏鰂骨　丹皮　川鬱金　炒杏仁　茯神　陳棕炭</p>
<p>（案4）血虛生熱，氣不攝血，上升則齒血咳逆，下注則崩漏帶下。舌白膩，脈細弦。切宜怡養。</p>
<p>黑歸身　白芍　烏鰂骨　川貝　桑葉　炒丹參　陳棕炭　生地炭　川芎　茜根炭　杏仁　丹皮　川斷　蓮房炭</p>
<p>藝成診　煩勞動血，血熱妄行，經訊淋漓，腹笥䐜脹，脈右小滑。兼挾外感也，當標本兼顧。</p>
<p>黑歸身　白芍　焙丹皮　熟棗仁　元丹參　黑荊芥　桑葉　海螵蛸　茜根　山梔　茯神　炒杏仁　陳棕炭　艾炭</p>
<p>複方　沖血因熱妄行，營陰虛耗，帶脈不固，氣機失展，脈沉小。當養營陰，以調八脈。</p>
<p>陳阿膠（川連末二分炒成珠）　香附　烏鰂骨　炒白芍　熟棗仁　杜仲　桑葉　歸身炭　茯神　茜根炭　生地炭　柏子仁　菟絲　丹皮</p>
<p>（案5）居經四月，屏傷胎元，致令半產，胎留匝月始落。下部及衝任難免受傷，瘀下如崩，月餘不斷，帶多有汗，兼挾感邪咳嗆逆，寒熱，舌膩罩灰，脈右小滑而數。血去過多，氣陰俱傷，最慮汗脫變端。</p>
<p>歸身炭　焦白芍　烏鰂骨　血餘炭　川斷　菟絲　陳棕炭　陳阿膠（蒲黃炒）　生地炭　茜根炭　五花龍骨　牡蠣　茯神　蓮房炭　川貝</p>
<p>複方　投四物湯合龍蠣救逆，瘀露白帶俱止，自汗亦斂。惟營衛迭偏，寒熱往來，神疲善臥，脈右虛弦而數，舌薄糙尖淡絳，灰苔已退。惟逾險嶺，未入坦途。</p>
<p>白芍（桂枝分半拌）　生地炭　原斛　烏鰂骨　桑葉　炒杏仁（研）　銀胡　石決（青黛八分拌）　歸身（炒黑）　丹皮炭　茯神　茜根炭　牡蠣　川貝　荷葉　柏子仁　另用吉林須（八分）代茶</p>
<p>此症正值千鈞一髮，萬死一生，經業師診後，一劑而崩帶俱止，自汗亦斂。二劑而寒熱皆無，精神漸振，如此之得心應手，藥到病除，真不愧華佗再世扁鵲復生也。樂時志。</p>
<p>改方　寒熱已止，精神已振。若無翻覆，方保無虞。</p>
<p>桑葉　山梔　佩蘭　菟絲　川貝　牡蠣　荷葉　焙丹皮　原斛　苡仁（生熟各）　茯神　白芍（銀胡八分拌）　池菊　紅棗　生穀芽</p>
<p>三診　食復體熱復作，寒多帶下。</p>
<p>銀胡　炒黑歸身　桑葉　牡蠣　菟絲　烏鰂骨　石決（青黛拌）　蓮鬚　白芍　生地炭　焙丹皮　花龍骨　茯神　茜根炭　穀芽　陳棕炭</p>
<p>四診　便溏已止，腹痛未已，崩後體虛。切宜調養。</p>
<p>桑葉　山梔　原斛　仙夏　茯神　白芍　香附（四制）　焙丹皮　牡蠣　佩蘭　秫米　菟絲　丹參　砂仁</p>

<h2>女科帶</h2>
<p>（案1）營不足，氣有餘，肝脾失運。腹有瘕氣，或留著為痛，或逆行為脹，妨礙飲食，阻滯隧道，便艱脘悶，皆由來也。而衝任稟麗不當，任脈又不約束，是以經訊常遲，色紫而淡，白帶綿綿，腰脊時楚。近來時有小瘧，從中夾雜濕邪。治法宜宗逍遙，以調和肝脾之氣營，參入固澀，以收攝八脈之漏卮。</p>
<p>柴胡（鱉血炒）　白芍　四制香附　川楝（延胡拌）丹皮　蓮鬚　八月札　綠萼梅　歸身（茴香五分拌）丹參　柏子仁　青皮　澤蘭　牡蠣　香櫞皮　潼白蒺藜</p>
<p>複方　血虛生熱，沖帶失貯，氣無依附，瘕聚腹脹，月事愆期，色紫帶多，時或寒熱，脈小弦。以養血潤肝，兼顧奇經。</p>
<p>柴胡（酒炒）　當歸　瓦楞　青陳皮　八月札　丹皮　茯苓神　白芍　香附　菟絲　花龍骨　潼白蒺藜　丹參　柏子仁　茺蔚子</p>
<p>前方先錄　心學診　任脈為病，女子帶下瘕聚。溯其源乃營虛血虧以致，木火涵養治法，仍宗原議，略為增刪。</p>
<p>海螵蛸　川斷　菟絲　龍骨　歸身　瓦楞　炒丹參　金櫻子　杜仲　茯神　牡蠣　白芍　陳皮　芡實　川鬱金</p>
<p>（案2）居經五月，裡熱帶下，脈弦而滑，曾經兩次半產。亟以千金保孕之屬，防踏覆轍。</p>
<p>杜仲（四錢）　菟絲　當歸（二錢五分）　老蘇梗（八分）艾葉　枳殼　川斷　茯神　炒淮藥（二錢）　嫩條芩　寄生　山梔　薑汁竹茹</p>
<p>另服保產無憂散、千金保胎丸（……川斷　杜仲　當歸　山藥）。</p>

<h2>女科瘕</h2>
<p>（案1）經停兩月，瘕攻腹痛，腰痠帶下，脈小弦，預防孕象。</p>
<p>蘇梗　大腹　寄生　山梔　香附　青陳皮　竹茹（水炙）　枳殼　白芍　條芩　茯神　砂仁　菟絲餅　佛手</p>
<p>（案2）瘧後氣陰兩虛，肝木偏旺，瘕攻腹脹，甚則脘痛，營衛不和，倏寒倏熱，脈小弦。治以辛酸。</p>
<p>銀胡　瓦楞　四制香附　八月札　川鬱金　扁斛　茯神　白芍（桂枝分半拌）　半夏　青陳皮　玉蝴蝶　川樸花　佩蘭　大腹　竹茹（玫瑰花制）</p>
<p>（案3）血虛肝旺，衝任失調，瘕攻腹痛，癸停身熱，兼有咳嗆，脈小弦。切宜怡養。</p>
<p>元丹參　銀胡　歸身　瓦楞　川鬱金　青陳皮　川貝　熟棗仁（川連拌）　白芍　茯神　香附　白前薇　八月札　竹茹（玫瑰花制）　茺蔚子</p>
<p>（案4）寒邪傷中，瘕攻腹痛，脈左弦。以仲景方。</p>
<p>牛膝　青陳皮　瓦楞　白芍（上桂心飯丸藥送）　姜夏　葫蘆巴　沉香　蓯蓉　蓽澄茄　吳萸（川連三分拌）　淡草　雲苓　良薑　竹茹（薑汁炒）</p>
<p>（案5）木鬱不達，瘕攻咳逆。</p>
<p>瓦楞　青陳皮　元丹參　茯神　川貝　八月札　白芍　川鬱金　烏勒草　川楝　香附　上沉香（蘇子二錢五分拌）　竹茹（玫瑰花三朵同制）</p>

<h2>女科子懸</h2>
<p>居經七月，少腹作痛，氣滯輒脹，身熱口渴，舌淡絳，脈弦滑。是胎氣上逼，厥陰氣滯也。以紫蘇飲子佐安胎元。</p>
<p>蘇梗　大腹　桑葉　山梔　寄生　半夏　青陳皮　枳殼　砂仁　鉤鉤　香附　條芩　原斛　鮮佛手</p>

<h2>女科惡阻</h2>
<p>（案1）居經三月，脘滿泛嘔，得食輒脹，身熱形寒，舌糙，脈弦小滑。似屬孕象，以紫蘇飲子大意，還祈裁酌。</p>
<p>蘇梗（川連拌）　大腹　條芩　半夏　扁斛　桑葉　白蔻衣　枳殼　寄生　艾葉　陳皮　茯神　山梔　薑汁竹茹</p>
<p>（案2）漏胎嘔逆，脘滿泛嘔，肝胃不和，沖虛有熱。</p>
<p>紫蘇　寄生　烏鰂骨　歸身（炒黑）　香附　川鬱金　枳殼　川斷　茜根炭　白芍　淮藥　陳棕炭　淡芩</p>
<p>（案3）居經月餘，身熱嘔惡。</p>
<p>蘇梗（川連拌）　條芩　銀胡　當歸　菟絲　山梔　川斷　枳殼　半夏　白芍　川芎　茯神　蔻衣　白薇　青陳皮</p>
<p>（案4）居經四月，挾感寒邪，脈弦數。治以疏和。</p>
<p>蘇梗　半夏　寄生　大腹　知母　山梔　川連　枳殼　條芩　茯神　原斛　鉤鉤　薑汁　竹茹</p>
<p>（案5）經停嘔吐，肝胃升降不調，脈弦小滑。似屬惡阻。</p>
<p>川連　姜夏　蘇梗　山梔　條芩　艾葉　竹茹（薑汁炒）　吳萸（同搗）　雲苓　蔻衣　鉤鉤　寄生　陳皮　白芍　旋覆（代赭拌）</p>

<h2>女科產後瘀阻</h2>
<p>（案1）產後八朝，惡露少通，復感寒邪，寒熱俱甚，腹痛嘔逆，頭疼汗多，脈弦小數。治以辛散，兩和營衛，兼通惡露。</p>
<p>歸身　桃仁　蒲黃　白芍（桂枝二分拌）　淡草　川鬱金　茺蔚子　川芎　黑姜　五靈脂　半夏　香附　青陳皮　薑汁竹茹</p>
<p>（案2）初產兩朝，惡露稀少，腹大不收，瘕攻作痛，脈小弦。以生化湯加失笑散，防血瘀上衝。</p>
<p>當歸　桃仁　蒲黃　牛膝　川楝　四制香附　抱茯神　川芎　黑姜　五靈脂　白芍（桂枝二分拌）　大腹　青陳皮　益母草</p>
<p>（案3）新產三朝，瘀凝少通，少腹瘕攻作痛，脈小弦。以生化、失笑之屬。</p>
<p>當歸（三錢）　桃仁　蒲黃　川斷　九香蟲　牛膝　四制香附　川芎　黑姜　五靈脂　瓦楞　青陳皮　鬱金　益母草</p>
<p>痛甚加肉桂三分（飯丸。）</p>
<p>（案4）胎前便瀉，繼於產後。新產惡露少通，腹痛脹及少腹，舌糙苔膩，脈弦小數。法當健運中室，兼以逐瘀。</p>
<p>當歸　於術（土炒）　茯苓　陳皮　蒲黃　扁斛　荷蒂　川芎　炮姜（炒炭）　焦芍　扁豆　靈脂　穀芽　木香　益母草</p>
<p>（案5）產後百日，惡露少通，少腹攻痛，腰痠帶下，眩旋脘悶，舌糙，脈弦小數。瘀聚於內，尚防崩漏。</p>
<p>歸尾（小茴香拌）　甲片　川鬱金　澤蘭　菟絲　香附　白芍（上桂心二分拌）　茺蔚子　桃仁　茯神　青陳皮　牛膝　川斷　延胡　川芎</p>
<p>（案6）產後瘀凝不通，月事五月不下，少腹攻痛，聚塊形似癥瘕，脈小弦。並無弦滑之象，難憑孕象徵。</p>
<p>歸尾（茴香拌）　香附　青陳皮　川芎　延胡　牛膝　九香蟲　白芍　澤蘭　川鬱金　川斷　金鈴　竹茹　茺蔚子</p>
<p>（案7）新產五朝，偶感風寒，身熱脘悶，腹痛汗多，舌黃膩，脈小弦。以清魂、失笑之屬。</p>
<p>黑荊芥　川芎　桃仁　川鬱金　浮小麥　枳殼　冬桑葉　當歸　炮姜　蒲黃　五靈脂　穭豆衣　陳皮　益母草</p>
<p>改方　當歸　桃仁　川鬱金　澤蘭　原斛　茯神　川芎　炮姜　益母草　牛膝　新會皮　枳殼</p>
<p>（案8）產後瘀月餘，惡露早斷，少腹攻痛，脈弦數。恐成腸癰。</p>
<p>白芍（上桂心二分酒製）　桃仁　蒲黃　乳香　川鬱金　澤蘭　川芎（一錢）　歸尾　甲片　五靈脂　沒藥　九香蟲　牛膝　茺蔚子</p>
<p>（案9）產後瘀阻，少腹攻痛，營衛不和，寒熱往來。</p>
<p>白芍（桂枝二分拌炒）　半夏　牛膝　歸尾　生蒲黃　川鬱金　川楝　淡草　青陳皮　桃仁　甲片　五靈脂　澤蘭　茺蔚子</p>
<p>複方　產後腹痛已止，再調氣血。</p>
<p>當歸　川芎　川鬱金　樸花　桑葉　原斛　白芍　細地（砂仁末炒）　青陳皮　香附（四制）　茯神　川斷</p>
