<header data-type="book">
<h1>醫經大旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>賀岳</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1556">公元1556年</data></dd></div>
<div><dt>底本</dt><dd>明刊本（<a href="https://www.digital.archives.go.jp/file/1079600">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
