<header data-type="book">
<h1>丹溪治法心要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>高叔宗</data>輯校</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1543">公元1543年</data></dd></div>
</dl>
</header>

<h1>高刻丹溪治法心要原序</h1>
<p>醫學之有丹溪，猶吾儒之有朱子，朱子蓋惟深於其道，而有□□□真獨得之妙，則凡立言成□，足以繼住開來，師法百世，莫之或違□丹溪之□□□□□為醫□□□南者多矣。成化間又有《心法》之刻，弘治間又有《醫要》之刻。此外，又有《心要》一書，則所家藏而未出者，近歲雖已刊行，而魯魚亥豕，訛舛特甚。吾侄子正潛心斯道之久，而常寤寐于丹溪之心，故於是書尤注意焉。又誠不忍坐視其謬，以誤天下也，遂加手校而重刻之，俾同於人以共躋斯民於仁壽之域，雖極勞費所不辭焉，可尚也已。吾因錯伍三書而互觀之，《心法》言心而不曰要，《醫要》言要而不曰心，此則曰心又曰要焉。蓋雖一家之言，互相出入，而此書之視二書，則尤精且備焉。蓋實溪精神心術之微，鑿鑿乎流出肺腑者矣，此《心要》之所由名也。後世求丹溪之心者，舍是書何以哉？雖然，尚有說焉。輪扁曰：不疾不徐，得之於手而應之於心，臣不能授之於子，臣之子亦不能授之於臣，正謂上達，必由心造，非可以言傳也。書之所存，特妙用之跡爾，認以為心則誤矣。求丹溪之心者，在吾心有丹溪之心，而後可以妙丹溪之用，極深研幾，察微知著，虛明朗徹，觸處洞然，此丹溪之心，妙用之所從出者，亦必由學而後至也。人必研精覃思，學焉以至乎其地，則丹溪之心，不難一旦在我矣。使不求心其心，而徒求其跡，吾恐是書不免仍糟粕爾。吾故為讀是書者，又致丁寧如此云。</p>
<p><u>嘉靖癸卯歲十一月朔旦江陰林下繭翁高賓撰。</u></p>

<h1>重印丹溪治法心要序</h1>
<p>是書為明高叔宗原刻，海內絕少流傳，戊戌夏澍於舊篋檢獲之，反復尋玩，粗識其意，按法施治，常獲奇效，士大夫稍稍有推澍知醫者，實是書之力居多。坊間僅有《心法》一書，《醫要》已少概見，先生晚年，取二書所未盡者，斟酌損益，成此定本。雖一家之言，不無先後出入，其精粹自非二書可比，時論以醫家之有丹溪，比之吾儒之有考亭朱子，著書幾歷年所，誠意一章，至暮年而始定，可知古人立言垂世，未敢苟焉而已也。惟原書沉鬱日久，邊角頗遭蠹蝕，幸字跡爛然，一開卷間英光寶氣，奕奕紙上，非有神靈呵護不及此。適蘇省大吏創設醫學研究所於城南，吳中名醫悉萃焉。澍備員其間，偶稱引及之，咸以未睹是書為憾，且懼其歷久而湮沒也，爰為集資重印，以公同好，世之講丹溪學者或有取焉。</p>
<p><u>宣統元年己酉孟夏之月後學錢塘蕭澍霖謹識。</u></p>

<h1>卷一</h1>

<h2>中風（第一）</h2>
<p>大率主血虛、有痰，以治痰為先，次養血行血，或作血虛挾火與濕。大法去痰為主，兼補薑汁不可少。《內經》曰：邪之所湊，其氣必虛。劉河間以為內傷熱病；張仲景以為外邪之感。風之傷人，在肺臟為多。半身不遂，大率多痰（詳見《醫要》）。痰壅盛者，口眼歪斜者，不能言者，法當吐；輕者，醒者，瓜蒂散、稀涎散。或以蝦半斤入醬、蔥、椒等煮，先吸蝦，後飲汁，探吐之，引出風痰。然亦有虛而不可吐者。一時中倒者，法當吐。氣虛卒倒，參、耆補之。遺尿者，屬氣虛，當以參、耆補之。氣虛有痰，濃煎參湯加竹瀝、薑汁。血虛，宜四物湯補之，俱用薑汁炒，恐泥痰再加竹瀝、薑汁，兼治挾痰者。治痰氣實，能食者用荊瀝；氣虛，少食者用竹瀝。此二味去痰，開絡，行血氣，入四物湯等中用，必加薑汁少許助之。凡中風之人，行動則筋痛者，是無血養筋，名曰筋枯，決不可治也。肥白人多痰濕，用附子、烏頭行經。初中倒時，掐人中至醒，然後用去痰藥，二陳、四君子、四物湯等，加減用之。瘦人陰虛火熱，四物湯加牛膝、竹瀝、黃芩、黃柏，有痰加痰藥。一肥人中風，口喎手足麻木，左右俱作痰治，貝母、栝蔞、南星、半夏、陳皮、白朮、黃芩、黃連、黃柏、羌活、防風、荊芥、威靈仙、薄、桂、甘草、天花粉。多食麵，加白附子、竹瀝、薑汁、酒一匙行經。一婦人年六十餘，左癱手足，不語健啖，防風、荊芥、羌活、南星、沒藥、乳香、木通、茯苓、厚朴、桔梗、甘草、麻黃、全蠍、紅花，上末之，溫酒調下效。時春脈伏微以淡鹽湯齏汁，每早一碗，吐之。至五日，仍以白朮、陳皮、茯苓、甘草、厚朴、菖蒲，日進二帖。後以川芎、山梔、豆豉、瓜蒂、綠豆粉、齏汁、鹽湯，吐甚快，不食。後以四君子湯服之，復以當歸、酒芩、紅花、木通、厚朴、鼠黏子、蒼朮、姜南星、牛膝、茯苓，酒糊丸，如桐子大，服十日後，夜間微汗，手足動而言。　一人中風，貝母、栝蔞、南星、半夏、酒連、酒芩、酒柏、防風、荊芥、羌活、薄、桂、威靈仙。一人體肥中風，先吐，後以蒼朮、□□、酒芩、酒柏、木通、茯苓、牛膝、紅花、升麻、厚朴、甘草。一肥人口喎手癱，脈有力，南星、半夏、薄、桂、威靈仙、酒芩、酒柏、天花粉、貝母、荊芥、栝蔞、白朮、陳皮、生薑、甘草、防風、羌活、竹瀝。　一人右癱，用：酒連　酒柏　防風（各半兩）　半夏（一錢）　羌活（五錢）　酒芩　人參　蒼朮（各一兩）　川芎　當歸（各五錢）　麻黃（三錢）　甘草（一錢）　南星（一兩）　附子（三片）　上丸如彈子大，酒化服。一肥人憂思氣鬱，右手癱，□□補中益氣湯。有痰，加半夏、竹瀝□□。中風證，口眼喎斜，語言不正，口角流涎，或全身、或半身不遂，並皆治之。此皆因元氣平日虛弱，而受外邪，兼酒色之過所致。用人參、防風、麻黃、羌活、升麻、桔梗、石膏、黃芩、荊芥、天麻、南星、薄、桂、葛根、赤芍藥、杏仁、當歸、川芎、白朮、細辛、豬牙皂角等分，薑、蔥煎服。更加竹瀝半盞同飲，加以艾火灸之，得微汗而愈。　一人年近六十，奉養膏粱，仲夏久患滯下，而又犯房勞，忽一日如廁，兩手舒撒，兩目開而無光，尿自出，汗下如雨，喉如鋸，呼吸甚微，其脈大而無倫次，部伍可畏之甚，此陰先虧，而陽暴絕也。急令煎人參膏，且與灸氣海穴，艾炷如小指，至十八壯，右手能動，又三壯，唇微動，所煎膏亦成，遂與一盞，至半夜後，盡三盞眼能動，盡二斤，方能言而索粥，盡五斤而利止，至十數斤而安。婦人產後中風，切不可作風治，而用小續命湯，必須大補氣血，然後治痰，當以左右手脈，分氣、血多少治之。治中風大法，瀉心火，則肺金清，而肝木不實，故脾不受傷；補腎水，則心火降，故肺不受熱；脾肺安，則陽明實，陽明實，則宗筋潤，能束骨而利機關矣。杜清碧通神散，白殭蠶七個，焙乾研末，生薑汁半盞調服，立吐出風痰，少時又用七個，依法再吐盡，仍用大黃兩指大，紙包煨熟，噙津液嚥下。食頃，再用大黃，若口閉緊，用蠶煎汁，以竹管灌鼻中，男左女右。中風之疾，《內經》以下皆謂外中風邪，然地有南北，不可一途，而取河間作將息失宜，水不制火極是。自今言之，外中風者，亦有，但極少耳，又不可全謂將息失宜，而非外中也。許學士謂氣中者，亦有，此七情所傷，脈浮而數，或浮而緊，緩而遲，皆風脈也。遲浮可治，大數而急者死。若果外中，即東垣中血脈、中腑、中臟之理，觀之甚好。四肢不舉，亦有與痿相類者，當細分之。《局方》中風、痿同治，此大謬。《發揮》詳之，張子和三法，的是邪氣卒中、痰盛、實熱者可用，否則不可用也。</p>

<h2>癩風（第二）</h2>
<p>大風病是受得天地間殺物之氣，（已見《醫要》）治法：在上者醉仙散，在下者通天再造散，出《三因》方中，後用通神散，即防風通聖散。仍用三稜針委中出血。不能禁口絕房勞者不治。醉仙散（已見《醫要》）須量大小、虛實加減與之。證重而急者，須先以再造散下之，候補養得還，復與此藥。吃服此藥，須斷鹽、醬、醋、諸般魚肉、椒料、果子、煨燒炙爆等物，止可吃淡粥，及煮熟時菜，亦須淡食，如茄不可食，惟烏梢蛇、菜花蛇，可以淡酒煮食之，以助藥力。一本云：醉仙散之功固至矣，然必以銀粉為使。蓋銀粉乃是下膈通大腸之要劑，所以用其驅諸藥入陽明經，開其風熱怫鬱痞膈，遂出惡氣臭穢之毒，殺所生之蟲，循經上行至齒，嫩薄之分，而出其臭毒之涎水。服此藥，若有傷齒，則以黃連末揩之。或先固濟，以解銀粉之毒。通天再造散，用川錦紋大黃一兩，炮；獨生皂角刺一兩半，炮，須經年黑大者，上為細末，每服二錢，臨夜冷酒調服。以淨桶候瀉蟲，如蟲口黑色，乃是多年蟲；口赤色，乃是近年者。至數日又進一服，直候無蟲方絕根也。一本云：先生言通天再造散中，更有鬱金半兩，生用；白牽牛六錢，半生半炒。治麻風方：四物湯加羌活、防風、陳皮、甘草。又方：大黃、黃芩、雄黃三味，上為末，用樟樹葉濃煎湯，入前藥蒸洗。治麻風脈大而虛者，蒼耳、牛蒡，酒蒸各三兩；黃精、浮萍一兩；苦參七錢半。上末之，烏蛇肉酒煮，如無蛇，用烏鯉魚亦可，為丸服之，候脈實，卻用通天再造散取蟲。治癘風方：蒼耳、葉浮萍、鼠黏子，豆淋酒炒，各等分，上為末，豆淋酒下。一方有蛇肉。黃精丸：蒼耳、葉浮萍、鼠黏子，各等分，炒。蛇肉減半，酒浸去皮骨，秤黃精倍前，蒼耳等三味，生搗。以蒼耳雜搗，焙乾，上末之面丸。身上虛癢，血不榮肌腠，所以癢也。四物湯加黃芩、調浮萍末。治遍身癢，以凌霄花一錢為末，酒調。一本云：服通天再造散於日未出時，面東，以無灰酒下，儘量為度。輕者止利，如魚腸臭穢之物，忌毒半月，但食稀粥軟飯，漸生眉毛髮皮膚如常矣。甚者不過三兩次，須慎加將理，不可妄有勞動，及終身不得食牛、馬、驢、騾等肉，犯者死不救。</p>

<h2>傷寒（第三）</h2>
<p>主乎溫散，有卒中天地之寒氣，口傷生冷之物，外感無內傷用仲景法。若挾內傷，補中益氣湯加發散之藥，必先用參耆托住正氣。中寒胃氣大虛，法當溫散理中湯，甚者加附子。中寒倉卒受感，其病即發而暴。蓋中寒之人，乘其腠理疏豁，一身受邪，難分經絡，無熱可散，溫補自解。此胃氣之大虛，若不急治，去死甚近。　戴云：此謂身受肅殺之氣，口食冰水、瓜果冷物病者，必脈沉細，手足冷，息微身倦，雖熱亦不渴，倦言語，或遇熱病誤用此法，輕者至重，重者至死。凡脈數者，或飲水者，煩躁動搖者，皆是熱病。寒熱二證，若水火也，不可得而同治，誤則殺人，學者慎之？　或曰：既受邪即有餘之病，何謂補？內經云：邪之所湊，其氣必虛，內傷者極多，外感間或有之，有感冒等輕症，不可便認為傷寒妄治。傷寒為病，必須身犯寒氣，口食寒物者，是必從補中益氣湯出入加減，加發散藥。傷寒挾內傷者（已見《醫要》），凡外感不問如何，先必參耆托其正氣，然後用發散之藥。有感冒等證，輕疾不可便認為傷寒妄治。西北二方，極寒肅殺之地，故外傷甚多；東南二方，溫和之地，外傷極少，所謂千百而一二者也。雜病有六經所見之病，故世俗混而難別。凡證與傷寒相類極多，皆雜證也，其詳出《內經·熱論》自長沙以下諸家推明，甚至千載之下，能得其粹者，東垣之言也。其曰內傷極多，外傷者間或有之，此發前人所未發，欲辨內外所傷之脈，東垣詳矣。後人徇俗不見真切雷同，指為外傷極謬。其或可者，蓋亦因其不放肆，而多用和解，或和平之藥散之耳。若粗率者即殺人，切戒！</p>

<h2>內傷（第四）</h2>
<p>專主東垣內外傷辨甚詳，世之病此者為多。但有挾痰者，有挾外邪者，有鬱於內而發者，皆以補元氣為主，看其所挾，而兼用藥耳。挾痰以補中益氣湯，多用半夏、薑汁以傳送。</p>

<h2>暑（第五）</h2>
<p>暑氣或吐瀉、霍亂，黃連香薷飲。挾痰加半夏；乘氣虛加參耆。或暑病內傷者，清暑益氣湯。發渴者，生地黃、麥門冬、川牛膝、炒黃柏、知母、乾葛、生甘草。治一切暑玉龍丸：赤亭、倭硫黃、硝石、滑石、明礬一兩，好面六兩，末之，無根水丸。氣虛少食，身熱自汗倦怠，清暑益氣湯；氣虛少食，自熱自汗，脈細弱或洪大者，補中益氣湯中加麥門冬、五味子、知母。暑氣煩渴脈虛者，竹葉石膏湯；暑病日夜煩躁，飲水無度，至天明便止，渾身作腫，胞囊水滴下，不渴，入夜要扇，冷香飲子治之。一人年五十餘，六月間發熱，大汗、惡寒、戰慄不自禁，持且煩渴，此暑病也。脈皆虛微，細弱而數。其人好賭，致勞而虛，遂以人參作湯，調人參四苓散，八帖而安。戴云：暑乃夏月炎暑也，盛熱之氣著人。有冒、有傷、有中，三者有輕重之分，虛實之辨。或腹痛水瀉者，胃與大腸受也；噁心者，胃口有痰飲也。此二者，冒暑也。可用黃連香薷飲，蓋黃連退暑熱，香薷消蓄水。或身熱頭疼，躁亂不寧者，或身如針刺者，此為熱傷在肉分也。當以解毒白虎湯加柴胡；氣虛者加人參；或咳嗽發寒熱，盜汗出，脈數不止，熱著肺經，用清肺湯、柴胡天水散之類。急治則可，遲則不可治矣。盛火乘金也，此為中暑。凡治病須要明白辨別，不可混同施治，春秋間亦或有之，不可執一，隨病處方為妙。一方香薷濃煎汁成膏丸，去暑利小水。暑有陽症，有陰症，只用黃連香薷飲、清暑益氣湯。五苓散等。有挾痰者，有乘虛者，挾痰加半夏，乘虛加參耆之類。脈法微弱，按之無力，又脈來隱伏，又脈虛。</p>

<h2>注夏（第六）</h2>
<p>屬陰虛元氣不足。戴云：秋初夏末，頭痛腳軟，食少體倦，身熱者是，脈弦而大，補中益氣湯去柴胡、升麻，加炒柏；宜生脈散，麥門冬、五味子、人參，出《千金方》；或補中益氣湯中去柴胡、升麻，加炒柏、芍藥；挾痰加半夏、南星、陳皮之類。</p>

<h2>暑風（第七）</h2>
<p>暑風是痰用吐。挾火、挾痰，實者可用吐法。夫治暑風用吐法者，即中暑是也。其人必內先有火熱痰實之故，因避暑納涼，八風襲之，鬱而成身熱。或昏冒，吐中有汗，火鬱得汗則解，風得汗則散，痰得汗湧則出，一舉三得。此當時治挾痰實者，非通治暑風大法也。夫暑風無所挾者，宜汗以散之。</p>

<h2>胃風（第八）</h2>
<p>胃風脈，右關弦而緩帶浮，初飲食訖，乘風涼而致。其症飲食不下，形瘦腹大惡風，頭多汗，膈塞不通，胃風湯正治此。亦看挾症加減。</p>

<h2>濕（第九）</h2>
<p>《本草》蒼朮治濕，上下都可用。二陳湯加酒芩、羌活、蒼朮、散風行濕。二陳湯治濕，加升提之藥，能使大便潤，而小便長。上濕蒼朮功烈，下濕升提，外濕宜表散，內濕宜淡滲。淡滲治濕，在上中二焦，濕在上，宜微汗而解，不欲汗多，故不用麻黃葛根輩。濕淫諸症治法，並見各病條下。戴云：夫治濕之藥，各有所入，苟切於治功，便為要藥，豈蒼朮一味便都可用哉。先生寧肯語此，以示人耶。戴云：濕之為病，有自外入者，有自內出者，必審其方土之病源。東南地下，多陰雨地濕，凡受必從外入，多自下起，是以重腿腳氣者多，治當汗散，久者宜疏通滲泄；西北地高，人多食生冷濕面，或飲酒後寒氣怫鬱，濕不能越，作腹皮脹疼，甚則水鼓脹滿，或周身浮腫如泥，按之不起，此皆自內而出者也，審其元氣多少，而通利其二便，責其根在內者也。然方土內外，亦互相有之，但多少不同，須對證施治，不可執一也。一男子三十五歲，九月間早起，忽目無光，視物不見，急欲視，片時才見人物，竟不能辨，飲食減平時之半，神思極倦，已病五日，脈之緩大四至之上，作受濕處治。詢之，果因臥濕地半月而得，以白朮為君，黃耆、陳皮為臣，附子為佐，十餘帖而安。諸濕客於腰膝重痛，足脛浮腫，除濕丹方，見腳氣條下。</p>

<h2>火（第十）</h2>
<p>陰虛火動難治。虛火可補，實火可瀉，輕者可降，重者則從其性而升之。火鬱可發，當看何經。凡氣有餘便是火，火過甚重者必緩之，以生甘草兼瀉兼緩，參朮亦可。有可發者二，風寒外來者可發，郁者可發。有補陰則火自降者，炒黃柏、地黃之類。凡火盛者，不可驟用寒涼藥，必用溫散。左金丸治肝火：黃連（二兩）　昊茱萸（一兩）　上末之為丸，每服五十丸，溫湯送下。陰虛證難治，用四物加黃柏為降火補陰之妙劑。龜板補陰，乃陰中之至陰。治陰火四物湯加白馬脛骨，用火煅過，降陰火可代芩、連。黃連、黃芩、梔子、大黃、黃柏降火，非陰中之火不可用。梔子仁屈曲下行，以瀉陰中之火，從小便中泄去，其性能下行降火，人所不知，亦治痞塊中火。生甘草緩火邪。木通下行瀉小腸火。人中白瀉肝火，亦降陰火，須風露二、三年者。人中黃降陰火，治溫病多年者佳。小便降火極速。氣從左邊起，乃肝火也；從臍下起者，陰火也；從腳上起入腹者，乃虛極也。至於火起於九泉之下，此病十不救一。一法，以附子末塞其湧泉內，以四物湯加降火之藥服妙。一婦人氣實多怒不發，忽一日大發，叫而欲厥，蓋痰閉於上，火起於下，上衝故也。與香附末五錢，生甘草三錢，川芎七錢，童便、薑汁煎；又以青黛、人中白、香附，末為丸，稍愈後，大吐乃安。後以導痰湯加姜炒黃連、香附、生薑湯，下龍薈丸。一人小腹下，常唧唧如蟹聲，作陰火處治。用敗龜板酥炙，鹽酒灸亦得。側柏用酒九蒸九焙，酒黃柏、酒知母、酒川芎、酒當歸，上各等分糊丸，每服八十丸，淡鹽湯送下。</p>

<h2>郁（第十一）</h2>
<p>氣血沖和，萬病不生，一有怫鬱，諸病生焉。人身萬病皆生於郁，蒼朮、撫芎，總解諸郁，隨症加入諸藥。凡郁皆在中焦，以蒼朮、撫芎，開提其氣以升之。如食在氣上，提其氣則食自降矣，余仿此。氣鬱用香附橫行胸臆間，必用童便浸，否則性燥，蒼朮下行，米泔水浸。濕鬱用赤茯苓、蒼朮、撫芎、白芷。痰鬱用海石、香附、南星、薑汁、栝蔞。熱鬱用青黛、香附、蒼朮、撫芎、梔子炒。血鬱用桃仁去皮、紅花、青黛、香附、撫芎。食鬱用蒼朮、香附、山楂、神麯，針砂醋製七次，研極細。春加撫芎；夏加苦參；秋冬加茱萸。越鞠丸解諸郁：蒼朮　香附　撫芎　神麯（炒）　梔子（炒）　各等分，末之為丸。一方治氣鬱食積痰熱用：香附（一兩）　黃芩（一兩）　栝蔞　貝母　南星　神麯　山楂（以上各一兩）　風硝（三錢）　上為丸服。一方治氣鬱：白芍藥（一兩半）　香附（一兩）　生甘草（一錢半）　上末之糊丸，白朮湯下。一方治抑氣：白芍藥（一兩半）　香附（一兩半）　貝母炒　黃芩（各五錢）　生甘草（三錢）　上丸服之。一婦人，體肥氣鬱，舌麻眩運，手足麻，氣塞有痰，便結，涼膈散加南星、香附、臺芎開之。東垣流氣飲子，治男子、婦人一切氣喘、浮腫、腹脹。氣攻肩脅，走注疼痛，用紫蘇、青皮、當歸、芍藥、烏藥、茯苓、桔梗、半夏、甘草、黃耆、枳實、防風、檳榔、枳殼、大腹皮，上俱用薑汁製，焙乾各半兩。心脾疼入菖蒲；婦人血虛入艾；五膈氣入陳皮少許。戴云：郁者結聚，而不得發越，當升者不得升，當降者不得降，當變化者不得變化，所以傳化失常，而六郁之病見矣。鬱氣者胸脅疼；濕鬱者，周身疼，或關節痛，遇陰寒則發；痰鬱者，動則氣喘，寸口脈沉滑；熱鬱者，昏瞀，小便赤，脈沉數；血鬱者，四肢無力，能食，食鬱者，噯酸、腹飽、不能食，左寸脈和平，寸脈緊盛。蒼沙丸調中散郁：蒼朮（四兩）　香附（四兩）　黃芩（一兩）　上為末，炊餅丸，薑湯下三十丸，食後服。</p>

<h2>傷風（第十二）</h2>
<p>屬肺者多。一本云：專主乎肺。一男子素嗜酒，因冒風寒衣薄，遂覺倦怠，不思食者半月，至睡徒大發熱，疼如被杖，微惡寒，天明診之，六脈浮大，按之豁豁然，左為甚，作極虛受風寒治之。以人參為君，白朮、黃耆、當歸身為臣，蒼朮、甘草、陳皮、通草、葛根為佐使，與之，至五貼後，周身汗出如雨，凡三易被，覺來諸證悉除。</p>

<h2>時病（第十三）</h2>
<p>謂之溫病、眾人病，有一般者，是又謂之天行時疫。治有三法，宜補、宜散、宜降。入方：大黃、黃連、黃芩、人參、桔梗、防風、蒼朮、滑石、香附、人中黃，上末之，神麯糊為丸，每服五七十丸。分氣、分血、分痰，作湯使。氣虛以四君子湯；血虛以四物湯；痰多以二陳湯送下，熱甚者童便。一方治時病：半夏　川芎　茯苓（各半錢）　陳皮　山楂　白朮（以上各一錢）　甘草（一錢）　蒼朮（一錢半），上作一服。頭疼加酒芩；口渴加乾葛；身痛加羌活、桂枝、防風、芍藥。一方治溫病，亦治食積，痰熱，降陰火，以人中黃飯丸，每服十五丸。凡天行時病，須分內外，從外而入者，頭疼體痛，見風怕寒，遇暖則喜，脈皆沉數，在上必得大汗而愈，不問日數，用六神通解散：麻黃（一錢半）　蒼朮　甘草（以上一錢）黃芩　石膏　滑石（以上二錢）　上作一帖，生薑、蔥頭煎熱服。如譫語神思不寧，熱邪在裡，而汗不能盡解，又加人參、黃連二味即安。夫六神通解散，此乃張戴人所制之法，用藥雖輕微，人多不曉，易而忽之，不知其中自有神妙。如解汗未通，更加紫蘇葉、乾葛、白芷等，助其威風，得汗其病如掃。傷寒因勞苦，又感寒濕過多，患熱而不食，數日後不省人事，語言妄亂，神思昏迷，面青齒露，人以為必死之證，其脈沉細，先用小柴胡等湯不效，急以四君子湯加製附子數片，留盆水中，剝其熱性，少時，令溫飲。其脈與神思即回，方可用別藥治之，此為陰證傷寒。傷寒怫鬱不解，三陽併入三陰，臟腑結燥，面赤口渴，心驚譫語，內熱多而外少，此當從里解。三一承氣湯下其燥屎；或木香檳榔丸，兩服吞下；或加玄明粉一錢在藥中。用下藥、汗藥未能除其熱勢，用梔子豉湯加減煎服；或涼膈散加減飲之。表裡不解，只用瓜蒂散飲之，吐痰乃得汗，病邪俱退。傷寒傳陰，或熱併入臟腑，而下痢急，用和中之劑，如人參、白朮、厚朴、陳皮、之類；急者用煨肉豆蔻、炒神麯，從權施之，痢止用藥除其餘熱。邪之所湊，其氣必虛。內傷者，補中益氣湯加麻黃、柴胡，熱甚加附子。傷寒壯熱，脈實顛狂者，有餘之證也。當用大承氣湯。一人本內傷，汗下後譫語，初能認人，後三五日，語後更妄言，此神不守舍，慎勿攻戰，脈多細數，不得睡，足冷氣促，面褐青色，口乾燥，用補中益氣湯加人參半兩，竹葉三十片，煎服效。一人內弱，本勞苦得，汗下後大虛，脈細數，熱如火灸，氣短促，人參、當歸、白朮、黃耆、甘草、五味子、知母、竹葉、水與童便煎服，兩帖而安。大病虛脫，本是陰虛，用藥灸丹田以補陽，陽生陰長故也。不可用附子止，可用人參多服。疫病，惟《三因方》治法可用。解諸熱病，用粉草五兩，重切細微炒，搗細，隨病人酒量多少，以無灰好酒一處研，去渣，溫服。須臾大瀉，毒亦隨出。雖十分渴，不得飲水，飲水則難救矣。治溫病方，以人中黃療時行熱毒為主，蒼朮、香附、散郁為臣，黃連、黃芩、降火，人參補虛，桔梗、防風利氣行經為佐，熱鬱結，則內外氣液不通成燥，大黃苦寒而能盪滌燥熱，滑石性滑味淡，將以利竅解結，通氣液以潤燥，二者一陰一陽為使。夫溫病，有冬傷於寒者；有冬不藏精者，明虛實之異。有四時不正之氣鬱者；有君相二火加臨者，分主客之殊。有五運六氣當遷，正值所勝折之不得升降者，則必辯其所發之氣，治之豈可均用治熱乎哉！</p>

<h2>斑疹（第十四）</h2>
<p>斑屬風熱挾痰而作，自里而發於外，通聖散中消息之，當以微汗解散，切不可下。內傷發斑者，胃氣虛，一身之火遊行於外所致，宜補以降之，當於《陰證略例》中求之。陰證發斑本內傷證，汗下後病愈甚者，補中益氣湯；飲冰水，煩躁神昏脈數足冷者，加附子。胃熱胃爛失下、下早發斑者，《拔萃方》有詳說。黃瓜水調真伏龍肝，去風熱紅點斑。一人發斑面赤，昏憒譫語，脈洪而虛，按之無力，用人參、生地各半兩，附子一錢，大黃一錢半，煎服之。不甚瀉，夏月用之效。疹屬熱與痰在肺，當清肺火降痰，或以汗解。亦有可下者，通聖散加減。</p>

<h2>大頭天行病（第十五）</h2>
<p>此濕氣在高巔之上，從兩頤頰熱腫者是也，俗云鸕鷀溫。東垣有方，羌活、酒芩、酒蒸大黃，隨病加減，切勿用降藥。十五、六日服小柴胡湯。不效仍用發散，紫蘇、陳皮治效。東垣云：陽明邪熱太甚，資實少陽相火而為之，視其腫勢何部，隨經取之，治之當緩，勿令重劑，過其病所，陽明為邪首，大腫少陽為邪本，於耳前後，以酒芩、酒連、炙甘草、水煎，少少不住服。或劑畢，再用鼠黏子，於新瓦上炒香，同大黃煎成，去渣，納芒硝等分，亦時時呷之，毋令飲食在後。微利及邪氣已，只服前藥；未已，再同前次第服之，取大便邪氣已則止。陽明渴，加滑石、石膏；少陽渴，加栝蔞根：陽明行經，升麻、芍藥、葛根、甘草；太陽行經，羌活、荊芥、防風，並與上藥相合用之。</p>

<h2>冬溫為病（第十六）</h2>
<p>非其時而有其氣者，冬氣君子當閉藏，而反泄於外，專用補藥帶表散，如補中益氣湯之屬。入方：以竹筒兩頭留節，中開一竅，納大粉草銼碎於中，仍以竹木釘、油灰閉竅，立冬日浸於大糞缸中，待至立春先一日取出，於有風無日處，干二十一日，愈久益好，卻破竹取草為細末，大治陽證疫毒。一云亦治腫毒，並治金瘡水調敷之。其脈左寸大於右寸，浮緩而盛，按之無力。</p>

<h2>瘧（第十七）</h2>
<p>有風、有暑、有食、有痰、有老瘧、有瘧母。老瘧病者，此係風暑入在陰臟也，用血藥引出陽分而散，一補一發，川芎、紅花、當歸，加蒼朮、白朮、白芷、黃柏、甘草，煎露一宿，次早服之。無汗要有汗，散邪為主帶補。有汗要無汗，補正氣為主帶散。散邪發汗，紫蘇、麻黃之屬。補正氣，人參、黃耆之類。有瘧母多在脅下，令人多汗、脅痛，以丸藥消導。醋煮鱉甲為君，三稜、蓬朮、海粉，醋煮香附、青皮、桃仁、紅花、神麯、麥蘖、隨證加減用之。一本自香附以上俱用醋煮。三日一發者，受病一年；間日發者，受病半年；一日一發者，受病一月；連二日發住一日者，氣血俱受病。一日間一日發者，補藥帶表藥，後以截瘧丹截之。在陰分者，用藥徹起在陽分，方可截。入方：川常山、草果、知母、檳榔、烏梅、穿山甲炒，甘草炙，以水一大碗煎至半碗，露一宿，臨發日早，或發前二時，溫服之。如吐則順之。大法暑風必當發汗。夏月多在風涼處歇，遂閉竅不泄；惡食者，必從飲食上得。瘧而虛，須先用參、術一、二帖托住其氣，不使下陷，後用他藥治之。內傷挾外邪同發，內必生痰，外必以汗解，二陳湯加草果、常山、柴胡、黃芩之劑。瘧而甚者，發寒熱，頭痛如破，渴而飲水，自汗，可與人參、黃耆、白朮、黃芩、黃連、梔子、川芎、蒼朮、半夏、天花粉等治。久病瘧者，二陳湯加川芎、蒼朮、柴胡、白朮、乾葛。一補一發，近午時發者；近午發而汗多煩渴者，黃耆三白湯加芩連。寒多、脈弱、體倦、食少，局方人參養胃湯。瘧因勞役，或憂思而作，汗多食少，倦甚懶言語補中益氣湯。痰滯胸滿，熱多寒少，大便燥實大柴胡湯。瘧病能食而痰伏者，小胃丹。瘧大渴大熱之甚，小柴胡湯去半夏，加知母、麥門冬、黃連。大率暑瘧，多用小柴胡湯、人參白虎湯之類。瘧渴，生地黃、麥門冬、天花粉、川牛膝、知母、炒柏、乾葛、生甘草。瘧後，白朮　半夏（各一兩）　黃連（五錢）　白芍藥（三錢）　陳皮（五錢）　上末之，粥丸。</p>
<p>久瘧不得汗，二陳加檳榔，倍蒼。白朮。一人瘧後手戰，此痰鬱格涎吐後好。截瘧青蒿丸：青蒿（一斤）　冬瓜葉（二兩）　官桂（二兩）　馬鞭草（二兩）　上將三葉焙乾，為末，丸如桐子大，每一兩分四服，當發日前一時服盡。又方：檳榔　陳皮　白朮　常山（以上各二錢）　茯苓　烏梅　厚朴（以上各一錢）　上作二帖，每服酒水各一盞，煎至半盞，當發前一日進一帖，臨發日進一帖，服後少睡片時效。瘧必數發之後，便以截藥除之，最為好法。若發得中氣虛弱，病邪愈深，或數月、周歲者，雖神醫亦不能愈。雖治而暫安，或因飲食與外邪所傷，又復舉發，近世多苦於此，用好常山一兩，檳榔五錢為末，麵糊丸，如桐子大，每丸當發前一日兩服，即效。或常山飲子亦可。截法，用守真先生丸子，雄黃一兩，人參五錢，五月五日用粽子尖為丸，桐子大，於未發早，面東，井華水送下一丸，忌諸熱味。（人參一云人言）　又方大黑豆（七錢）　雄黃（一錢）　輕粉（五分）　人參（一錢）　薄荷（五分）　甘草（一錢）　上為末，滴水丸如小豆大，雞鳴時新汲水面東吞一丸。（人參一云人言）　又羅謙甫方紫河車丸用：紫河車（一兩）　生甘草（五錢）　綠豆（一兩）　人言（一錢另研）　上為細末，每服五分，新汲水少許送下。如隔日發夜服；頻日發者，則夜睡深時服。忌葷腥、瓜果、酒面、魚雞等肉，並生冷等物。三兩日一發者；受邪氣深者，只一服。十歲以上服一字，三歲半字，孕婦勿服。一人年六十，稟壯味厚，春病瘧，先生教以卻欲食淡，不聽。醫與劫藥三、五帖而安，旬後又作又與，綿延至冬求治，先生知其久得汗，惟胃氣未完，時天大寒，又觸冒為寒熱，非補不可。以一味白朮為末，粥丸，與二斤令其飢時，且未與食，取一二百丸熱湯下，只以白糜粥調養，盡此藥，當大汗而安。已而果然如此者多，但藥略有加減耳。一人久瘧腹脹，脈不數而微弦，重取則來不滑利，輕取則無力，遂與三和湯索氏者三倍，加白朮入薑汁服之，數服，而小便利一、二行，腹脹稍減，又隨小便短少，作血氣兩虛治，於藥中入人參、牛膝、當歸身，作大劑，服四十餘帖而愈。一婦人病瘧，間兩日一發，飲食絕少，經脈不行已三月矣。診其脈，兩手俱無，見其梳妝不異平時，言語行步並無倦怠。因悟經不行非無血也，乃痰所礙而不行也；無脈者，非血衰少而脈絕，實由積痰生熱結伏，而脈不見耳。當作實熱治之，遂以三花神祐丸與之。旬日後食稍進，脈亦稍出，一月後六脈俱出，但帶微弦，瘧猶未愈。蓋胃氣既全，春深經血自旺，便自可愈，不必服藥。教以淡滋味，節飲食之法，半月，瘧愈而經亦行矣。一老人患瘧半載，脈之兩尺俱數而有力，色稍枯，蓋因服四獸飲等劑，中焦濕熱下流，伏結於腎，以致腎火上運於肺，故瘧嗽俱作，用參、朮、芩、連、升麻、柴胡調中，一、二日與黃柏丸服之，兩夜夢交通，此腎中熱解無憂，次日瘧嗽頓止。一富人年壯病瘧，自卯時寒，至酉方熱，至寅初休，一日一夜止蘇一時，因思必為入房感寒所致。用參、術大補，附子行經，加散寒以取汗。數日不得汗，病如前。因誤足腑之道遠，藥力難及，用蒼朮、芎、桃枝煎湯以器盛之，扶坐浸足至膝，一食頃以前，所服之藥飲之，其汗通身大出，病即愈。久病者，不可直截，必用一補一發，凡砒霜等藥不可輕服，以其有毒故也。在陰分者，難治；在陽分者，易治。瘧母必用毒藥消之，行氣削堅為主。東垣謂寒瘧屬太陽當汗；熱瘧屬陽明當下；寒熱瘧屬少陽當和。在三陰即不分，總為溫瘧，此言甚是。但三陰經之說不明，作於子午卯酉日少陰瘧，寅申巳亥日厥陰瘧，辰戌丑未日太陰瘧。其脈弦，熱則弦而帶數；寒則弦而帶遲。亦有久病此，而脈極虛，微而無力，似乎不弦，然必於虛微之中，見弦，但不搏手耳，細察可見。</p>

<h2>咳嗽（第十八）</h2>
<p>有風寒、有火、有痰、有勞、有肺脹，風寒行痰開腠理，二陳湯加麻黃、杏仁、桔梗之類。火主降火，清金化痰。　勞主補陰清金四物湯加薑汁、竹瀝。肺脹而嗽者，主收斂，用訶子、青黛、杏仁。訶子能治肺氣，因火傷極，遂成郁遏脹滿，取其味酸苦，有收斂降火之功，佐以海粉、便浸香附、栝蔞、青黛、半夏曲、姜蜜調噙之。痰飲嗽主豁痰，隨證加減。肺脹嗽，左右不得眠，此痰挾瘀血，礙氣而病，養血以降其火，疏肝以清其痰，四物湯加桃仁、訶子、青皮、竹瀝。血礙氣作嗽者，桃仁、大黃、薑汁為丸。食積痰作嗽發熱者，半夏、南星為君，栝蔞、蘿蔔子為臣，青黛、石鹼為使。婦人形瘦，有時夜熱嗽痰，經事不調，青黛、栝蔞仁、便浸香附為末，姜蜜調噙。清金丸治食積火鬱嗽，知母、貝母各半兩，巴豆霜五分上末，薑汁丸，青黛為衣，每服五、七粒，食後溫湯下。勞嗽吐紅，人參、白朮、茯苓、百合、紅花、細辛、五味子、官桂、阿膠、黃耆、半夏、門冬、杏仁、白芍藥、甘草，上件服，熱則去桂、耆用桑皮、麻黃和節、杏仁和皮用。火鬱嗽者，訶子、海石、栝蔞仁、青黛、半夏、香附。咳嗽聲嘶者，此血虛受熱也，用青黛、蛤粉，蜜調噙化。久嗽風入肺者，宜用煙筒法。乾咳嗽者難治，此係火鬱之症，乃痰鬱火邪在肺中，用苦梗以開之下，用補陰降火藥不已，則成勞。用倒倉法好，此症不得志者，有之。肺郁痰嗽，睡不安寧，清化丸：貝母、杏仁，末之，砂糖入薑汁、炊餅丸噙。定嗽劫藥，訶子、百藥煎、荊穗，末之，姜蜜調噙化。嗽而脅痛，用青皮，挾痰須用白芥子。又方二陳加南星、香附、青黛、薑汁。痰喘嗽，杏仁、萊菔子炒，等分研，糊丸服。嗽而口燥咽乾，有痰不用半夏、南星，而用栝蔞、貝母。水飲者不用栝蔞、貝母，恐泥膈不快。治心煩咳嗽等症，以六一散加辰砂。上半日嗽多者，有胃火，知母、石膏。午後嗽多者，陰虛，四物加炒柏、知母。五更嗽多者，此胃中有食積，至此時流入肺經，以知母、地骨皮、降肺火。黃昏嗽多者，火氣浮於肺，不宜用涼藥，宜用五味子斂而降之。有痰，因火動逆上，先治火，後治痰。肺虛甚而嗽者，用人參膏以陳皮、生薑佐之，此好色腎虛者有之大概。有痰者加痰藥。知母止嗽清肺，滋陰降火，夜嗽宜用。飲酒傷肺痰嗽，以竹瀝煎紫蘇入韭汁，就栝蔞、杏仁、黃連，末丸服之。吐血嗽血：紅花　杏仁（去皮）　紫菀　鹿茸　枇杷葉（去毛）　桑皮　木通（以上各一兩）　大黃（半兩）　上為末，煉蜜為丸，噙化。久嗽痰喘，杏仁去皮尖，用來復丹炒，等分為末，粥丸如麻子大，每服十五丸，白湯下。陰虛氣喘，四物湯加陳皮、甘草些少，以降其氣，補其陰，納白芍藥須用酒浸日乾。濕痰帶風喘嗽，一味苦寒不可，宜服千緡湯、墜痰丸。一方：皂角、卜子、杏仁、百藥煎，共為末，姜蜜為丸，噙之。痰嗽方：酒洗黃芩（一兩半）　滑石（五錢）　貝母　南星（各一兩）　白芥子（五錢去殼）　風化硝（二錢半，取其輕浮追降）　上為末，湯浸炊餅丸，青黛為衣。治嗽痢者，多用粟殼，不必疑，但要先去病根，此乃收後藥也。陰分嗽者，多屬陰虛。有嗽而肺脹壅遏不得者，難治。治嗽有痰，天突、肺俞二穴灸之，能泄火熱，大瀉氣，一作火瀉。肺熱穴在三椎骨下，各橫過一寸半是穴，多灸壯數。痰積嗽，非青黛、栝蔞不除。有食積人，面青、白、黃色，常面上蟹爪路，一黃一白者是。咳逆嗽，非蛤粉、青黛、栝蔞、貝母不除。治嗽煙筒法：佛耳草（一錢）　款冬花（一錢）　鵝管石　雄黃（各五錢）　艾鋪燒煙吸，茶湯送下。治嗽劫藥：五倍子（一錢）　五味子（五錢）　甘草（二錢半）　風化硝（一錢）　上為細末，蜜丸噙化。氣虛喘嗽，或肥人面白色，脈細弱，氣弱，少食，有汗，蒼朮調中湯。熱症加黃苓、紫蘇；痰多加半夏、貝母、栝蔞。肺痿嗽者，人參平肺散。血虛喘嗽，或瘦人面紅色，脈弦數者，久嗽陰虛者，少食涕唾稠黏者，初嗽成勞者，痰蘇帶紅者皆主之。熱甚加黃芩、紫蘇、半夏。氣虛喘嗽倦懶者，不食不睡，自汗發熱，脈洪大而虛，或沉細弱，或喘，或嗽，補中益氣湯。甚者加五味子、知母、麥門冬；汗多者，去升麻、柴胡；喘嗽甚者，加桑白皮、地骨皮。陰虛喘嗽或吐血者，四物湯加知母、黃柏、五味子、人參、麥門冬、桑白皮、地骨皮；脈細數痰盛，或加栝蔞瀉之；食少加白朮、陳皮。風寒鬱熱於肺夜嗽者，三拗湯加知母；脈大而浮有熱加黃芩、生薑。氣血俱虛咳嗽吐紅者，八物湯加麥門冬、知母，並瀉肺氣藥。喘嗽遇冬則發此，寒包熱也，解表則熱自除。用桔梗枳殼湯，枳、桔、橘、半，再加防風、麻黃、紫蘇、木通、黃芩。冬寒咳甚加杏仁去黃芩。感冷則嗽，膈上多痰，二陳湯加炒、枳殼、黃芩、桔梗、蒼朮、麻黃、木通，姜水煎。久熱嗽人壯氣實，能食多酒熱，脈實數者，涼膈散；夏月熱嗽而咽痛者，加桔梗、荊芥、枳殼。虛嗽以四君子湯加當歸、芍藥、炙甘草。寒熱交作而痰嗽者，小柴胡湯加知母之類。一方加白芍藥、五味子、桑白皮。一方治形寒飲冷，傷肺喘嗽，煩心胸滿，氣不得通暢者，參蘇溫肺湯：陳皮、紫蘇、人參、桑白皮、生薑。又方用四君子湯加紫蘇、桑白皮、陳皮、半夏、肉桂、五味子、木香。如冬寒加去節麻黃、蒼朮。陰氣在下，陽氣在上，咳嗽嘔吐喘促，用瀉白散。桑白皮（炒三兩）　黃芩（三兩）　地骨皮（一兩）　炙甘草（五錢）　加陳皮、青皮、五味子、人參、茯苓、粳米二十一粒。喘不得臥，臥則喘少，氣逆上，乘於肺，肺得水而浮，使氣不得通流，以神秘湯：白茯苓（五錢）　木香（五錢）　桑白皮　紫蘇（葉）　橘皮（炒）　人參（以上各七錢。）其脈沉而大，喘嗽加生薑。裡虛或冒風寒，又兼內事過度，咳嗽惡風因勞：人參（四錢）　麻黃連根節者（一錢半）二、三帖止，此丹溪先生之神方也。氣血俱虛咳嗽，兼治一切咳嗽：人參　款冬花　桑白皮　桔梗　五味子　阿膠　烏梅（以上各一兩）　貝母（五錢）　御米殼（八兩去頂以蜜炒黃）　此名九仙散。脾虛肺寒，痰涎咳嗽紫蘇飲子，以三拗湯加紫蘇、桑白皮、青皮、陳皮、五味子、人參、半夏、生薑煎。熱嗽胸滿，小陷胸湯。好色人元氣虛，久嗽不愈者瓊玉膏。好酒人嗽者，青黛、栝蔞，姜蜜丸，噙化以救肺。治嗽大抵多用薑汁以辛散也。一男子，年二十歲，因連夜勞倦不得睡，感寒嗽痰，痰如黃白膿，嗽聲不出，時初春大寒，與小青龍四帖，覺咽喉有絲，血腥氣逆上，血線自口中左邊一條，頃遂止。如此每晝夜十餘次。其脈弦大散弱，左大為甚，人倦而苦於嗽，予作勞倦感寒。蓋始因強與甘辛燥熱之劑，以動其血，不急治恐成肺痿，遂與人參、黃耆、當歸身、白朮、芍藥、陳皮、炙甘草、生甘草、不去節麻黃，煎熟入藕汁治之。兩月而病減嗽止，卻於前藥去麻黃，又與四帖而血止。脈大散尚未收斂，人亦倦甚食少，遂於前藥去藕汁，加黃芩、縮砂、半夏，至半月而安。戴云：風寒嗽者，鼻塞聲重，畏寒；火嗽者，有聲痰少，面赤；勞嗽者，盜汗出；兼痰者，多作寒熱；肺脹嗽者，動則嗽，喘滿氣急；痰嗽者，嗽動便有痰聲，痰出嗽止。五者大概明其是否而施治耳。一婦人積嗽，腹有塊，內蒸熱：貝母　栝蔞　南星　香附（各一兩）　薑黃　藍實（各二錢五分）　白朮（一兩）。一婦人積痰嗽：黃芩、黃連、香附、貝母、栝蔞、生甘草、陳皮、茯苓、白朮、知母、杏仁、桑白皮。一人痰積鬱嗽：貝母、黃芩、香附、栝蔞、青皮（各一兩半）。一人體肥，膏粱飲酒，當勞倦發咽痛鼻塞痰嗽，涼膈散加桔梗、荊芥、南星、枳實。</p>

<h1>卷二</h1>

<h2>痰（第十九）</h2>
<p>有濕、有熱、有寒、有風、有老、有食積。脈浮當吐，膈上痰必用吐，痰在經絡中，非吐不出，吐中就有發散之義。假如癇病，因驚而得，驚則神出於舍，舍空則痰入也；痰入在舍，而拒其神，神不得而歸焉。痰在腸胃間，可下而愈。濕痰蒼、白朮類；熱痰青黛，芩、連類；寒痰二陳類；風痰南星、白附類；老痰海石、栝蔞類；食積痰神麯、麥蘖類。氣實痰熱結，吐難得出，或成塊，或吐咯不出，氣滯者，難治。在上膠固稠濁者，必用吐。吐法多用芽茶、齏汁、薑汁、醋少許，蘆瓜蒂散少許，加桔梗、防風、皆升動其氣便吐也。又法用附子尖、桔梗、蘆人參、瓜蒂、藜蘆。砒不甚用，非危急不用，艾葉、末茶此皆自吐，不用手法，但藥、但湯皆可吐也。吐法先以布搭膊勒腰，於不透風處行此法，用蘿蔔子半升，擂，和以漿水一碗，濾去渣，入少油與蜜，燉至半溫服，以鵝翎探吐之。鵝翎浸以桐油，卻以皂角水洗去油，曬乾方用。又蝦汁吐法亦好。吐不止，須用解藥，麝香解藜蘆、瓜蒂，蔥白解瓜蒂，水與甘草總解。凡人身結核，不紅、不痛、不作膿，皆痰注也。病人諸藥不效，關脈伏而大者，痰也。眼胞、眼下如煙燻黑者，亦痰也。凡人身上、中、下有塊，是痰，問其平日好食何物，吐下後用相製藥消之。實脾土，燥脾濕，是治痰之本法也。許學士云：用蒼朮治痰飲成窠囊，行痰極有效，痰挾血遂成窠囊。痰病久得澀脈，卒難得開，必費調理。二陳湯加升麻、柴胡能使大便潤而小便長，胸膈寬。內傷挾痰，必用參、耆、白朮之類，多用薑汁傳送，或加半夏之類，虛甚者加竹瀝。痰熱者，多挾風，外證為多；或成塊吐咯不出，兼郁者難治。濕痰多軟，如身倦體重之類。風痰多見奇證。食積痰，必用攻兼；氣虛者，用補氣藥送之。因火盛逆上者，以治火為先，白朮、黃芩、石膏之類；中氣不足，則加白朮、人參，然後治痰。痰之為物，在人身隨氣升降，無處不到，無所不之，百病中多有兼此者，世所不識。脾虛者，清中氣以運痰降下，二陳湯加白朮之類，兼用升麻提氣。凡虛人中焦有痰，胃氣亦賴所養，不可盡攻；若攻之，盡則愈虛也。眩運嘈雜乃火動其痰，用二陳湯加梔子。黃芩、黃連之類。痰結核在咽，喉開燥不能出者，化痰藥加鹹味軟堅，栝蔞、杏仁、海石、桔梗、連翹，少佐以風硝、姜，蜜丸噙。痰在皮裡膜外及經絡中，非薑汁、竹瀝、荊瀝不可治。痰在四肢，非竹瀝不行。喉中如有物，咯不出，咽不下，此是痰。重者吐之，輕者用栝蔞輩，氣實必用荊瀝。血滯不行，中焦有飲者，用韭汁冷飲三、四酒盞，必胸中煩躁不寧，無妨，但服後即愈。海粉熱痰能降，濕痰能燥，結痰能軟，頑痰能消，可入丸內，勿入煎藥。黃芩能治痰熱，以易降火也。枳實瀉痰，能沖牆壁。天花粉大治膈上熱痰。五倍子佐他藥，大治頑痰。栝蔞、滑石大治食積痰，洗滌臟腑。油炒半夏，大治濕痰，亦治喘嗽心痛。粥丸薑湯下三十丸。小胃丹能損胃氣，食積痰者，用之不宜多服。治濕痰方：黃芩、半夏、香附、貝母，若加栝蔞、青黛，能治熱痰，作丸服。痰之清者，二陳湯之類，凡治風痰，必用白附子、天麻、雄黃、牛黃、殭蠶、豬牙皂角之類。中和丸治濕痰氣熱，蒼朮、黃芩、半夏、香附等分，為末，粥丸。燥濕痰方：南星（一兩）　半夏（二兩）　蛤粉（三兩）　上為末，蒸餅丸，青黛為衣。治陰虛，內多食積痰方：真川芎（七錢）　黃連　栝蔞仁　白朮　神麯　麥芽（上各一兩）　青黛（五錢）　人中白（三錢）　上為末，薑汁蒸餅為丸。竹瀝治膈間有痰，或顛狂，或健忘，或風痰，亦能養血，與荊瀝同。小胃丹治濕熱痰積，兼治白帶，用甘遂以水濕面為衣，長流水煮令面透，再用水洗，曬乾，大戟以長流水煮一時，再用水洗，曬乾，芫花好醋拌勻，過一宿，瓦器內炒，不住手攪，炒令黑色，不要焦了。大黃紙裹，水濕，灰火煨，勿令焦，去紙切焙乾，再以酒潤炒，令熱倍前藥，黃柏炒倍大黃，各研秤末，用粥丸，麻子大，每服十二丸。又方：甘遂、大戟減三分之一，硃砂為衣，名辰砂化痰九。痰方：南星、半夏（各一兩），蛤粉（二兩），專治濕痰。熱加青黛，濕加蒼朮，食積加神麯、麥蘖、山楂。又方：黃芩、香附、半夏、栝蔞、貝母、青黛，末之，粥丸。治食積痰火，又能大瀉胃火，軟石膏細末，酷丸，如綠豆大，每服十丸。青礞石丸：解食積，去濕痰，看病冷熱虛實，作湯使，青礞石（半兩，依法煅）　半夏（七錢）　南星　茯苓　片芩（各半兩）　法制硝（三錢）　以硝共蘿蔔水煮化，去蘿蔔，以綿濾過，令結風化，末之，麵糊丸。一加蒼朮、滑石。又方：半夏（二兩）　白朮（一兩）　茯苓　陳皮（各七錢半）　黃芩　礞石（各半兩）　風化硝（二錢）。　痰喘方：皂角灰（半兩）　海粉　蘿蔔子（蒸）　南星（用白礬一錢半泡湯曬乾各一兩）　栝蔞仁（一兩）　上末之，姜蜜丸，噙化。又方：南星、半夏、杏仁、栝蔞、蘿蔔子、青黛、香附，曲糊丸。清金丸去肺火，下膈上熱痰，與清化丸同用，以黃芩炒末，水丸。清化丸方，苦能燥濕熱，輕能治上，專治熱嗽，及治咽痛。細末，以醋調敷咽喉間。用燈籠草葉炒末，蒸餅丸。茯苓丸治痰，半夏（四兩）　茯苓（二兩）　枳殼（一兩）　風化硝（五錢）治郁痰，白殭蠶、杏仁、栝蔞仁。訶子、貝母、五倍子。導飲丸：吳茱萸（制三錢）　茯苓（一兩）　黃連（五錢）　滑石（七錢半）　蒼朮（一兩半甘水浸），上末之，曲糊丸，每服百丸，薑湯下。白玉丸，江子（三十個）　南星　半夏　滑石　輕粉（各三錢）為末，皂角仁浸濃汁丸，桐子大，每服五、七丸。栝蔞丸：治食積，痰壅滯喘，栝蔞仁　半夏　山楂肉　神麯（各等分）　上為末，以栝蔞水丸，薑湯入竹瀝，下二十丸。又方：半夏（一兩）　蒼朮（二兩）　香附（二兩半）　黃芩　黃連　栝蔞（各一兩）　上末之，曲糊丸。清膈化痰方：黃連（一兩）　黃芩（一兩）　黃柏（五錢）　山梔（五錢）　香附（二兩半）　蒼朮（二兩）　上為末，曲糊丸。搜風化痰丸：人參　殭蠶　槐角子　白礬　天麻　陳皮（去白）　荊芥（一兩）　半夏（四兩薑汁浸）　辰砂（半兩）　上末之，薑汁炊餅丸，陰乾，辰砂為衣，薑湯下四十丸。墜痰九：治痰飲效。枳實　枳殼（半兩炒去穰）　黑牽牛（半斤，取頭末）　豬牙皂角（二錢酒炒）　明礬（三錢，飛一半）　朴硝（三錢，風化為末）　上末之，用蘿蔔汁丸，每服四十丸，雞鳴時服，初則有糞，次則有痰。治濕痰：蒼朮（一錢）　白朮（六錢）　香附（一錢）　酒白芍藥（二錢）　上末之，炊餅丸。治肥人濕痰：苦參　半夏（各一錢半）　白朮（二錢半）　陳皮（一錢）　上作一服，姜三片，入竹瀝與水共一盞煎，食遠，吞三補丸十五丸。治上焦風痰：栝蔞仁　黃連　半夏　豬牙皂角（各等分），上末，薑汁炊餅丸。治痰氣：片黃芩　陳皮　半夏（各五錢）　白朮　白芍藥（各一兩）　茯苓（三錢）　上為末，薑汁炊餅丸。祛風痰，行濁氣：防風　川芎　牙皂　白礬　鬱金（各一兩）　赤白蜈蚣（各一條）　上末之，炊餅丸，桐子大，每服二十五丸，食前茶清湯下，春以芭蕉湯探吐痰。利膈化痰丸，治胸膈痰氣最妙：貝母　半夏（各半兩）　天南星　蛤粉（各一兩）　栝蔞仁　香附（各半兩），童便浸，以上併為細末，上用豬牙皂角十四挺敲碎，水一碗半煮，杏仁（去皮尖一兩）煮，水將干去皂角，擂杏仁如泥，入前藥搜和，再入生薑汁，炊餅丸如綠豆大，青黛為衣曬乾，每服五十六十丸。清痰丸專主胸中痰積，一云專主中宮痰積：烏梅（五錢）　枯明礬（五錢）　南星　半夏（各一兩）　黃芩（五錢）　蒼朮（五錢）　神麯（一兩）　棠梂（一兩）　青皮　陳皮（各五錢）　香附（一兩）　滑石（炒五錢）　乾生薑（一兩）　枳實（一兩）　上為末，炊餅丸。一男子年七十九歲，頭目昏而重，手足無力，吐痰口口相續，左手脈散大而緩，右手脈緩而大不及，於左重按皆無力，飲食稍減而微渴，大便三四日一行，若與風藥至春深必死，此大虛證，當以補藥作大劑服之。與黃耆、人參、當歸身、芍藥、白朮、陳皮，濃煎作湯，使下連柏丸三十丸，服一年半，精力如少壯時。連柏丸冬加乾薑少許，作令藥，餘三時皆依本法。連柏皆以薑汁炒為末，用薑汁糊丸。一男子年近三十，厚味多怒，秋間於髀樞左右發痛，一點延及膝骭，晝靜夜劇，痛處惡寒，口或渴或否。醫與治風，並補血藥，至次春，膝漸腫痛甚，食漸減，形羸瘦，至春末，膝漸腫如碗，不可屈伸，其脈弦大頗實，率皆數短，其小便必數而短，遂作飲食痰積在太陰、陽明治之。半夏（五錢）　黃柏（一兩酒炒）　生甘草梢（三錢）　蒼朮（三錢鹽炒）　川芎（三錢）　生犀角屑（三錢）　陳皮　牛膝　木通　芍藥（以上五錢），遇喧熱加條芩二錢，上為末，每服三錢重，與薑汁同研細適中，以水湯起令沸，帶熱食前服之，一日夜四次與之，半月後，數脈漸減，痛緩，去犀角，加牛膝、敗龜板半兩，當歸身尾半兩，如前服之。又與半月餘，腫漸減，食漸進，不惡寒，惟膝痿軟，未能久立久行，去蒼朮、黃芩，時夏月，加炒柏至一兩半，余依本方內加牛膝，春夏用梗，秋冬用根，惟葉汁用尤效，須絕酒肉、濕面、胡椒，中年人加生地半兩，冬加茱萸、桂枝。一人面上才見些少風，如刀刮者，身背皆不怕冷，能食，脈弦，起居如常，先以川芎、桔梗、生薑、山梔、細茶，吐痰後，服黃連導痰湯。外弟一日醉飽後，亂言妄見，且言伊亡兄生前事甚的。乃叔叱之曰：食魚腥與酒太過，痰所為耳，灌鹽湯一大碗，吐痰一升，汗因大作，困睡一宵而安。金氏婦壯年暑月赴筵回，乃姑詢其坐次失序，自愧因成病，言語失倫，又多自責之言，兩脈皆弦數，予曰非鬼邪乃病也，但與補脾導痰清熱，數日當自安。其家不信，以數巫者噴水而恐之，旬余而死。一婦年五十餘，夜多怒，因食燒豬肉，次早面脹不食身倦，六脈沉澀而豁大，此體虛，痰膈不降，當補虛利痰，每早服二陳加參朮大劑，服後探吐，令藥出，辰時後與三和湯三倍加朮二帖，至睡後服神祐丸七丸，逐其痰去牽牛，服至一月而安。傅憲幕子，暑月因勞而渴，恣飲梅水，又連得大驚三四次，妄言妄見，病似鬼邪，兩脈皆虛弦而沉數，予曰：數為有熱，虛弦是大驚，又酸漿停於中脘，補虛清熱，導去痰滯，病可安，與參、朮、陳皮、芩、連、茯苓，濃煎湯，入竹瀝薑汁與服，浹旬未效，眾尤藥之未對，予知其虛未回，痰未導，仍與前方加荊瀝，又旬而安。一人陰虛有痰，神麯　麥芽　黃連　白朮（各一兩）　川芎（七錢）　栝蔞仁　青黛　人中白（各半兩）　上末之，薑汁擂，炊餅丸。一人濕熱勞倦，新婚胸膈不快，覺有冷飲，脈澀大，先多得辛溫導散藥，血氣俱傷。蒼朮　半夏　白朮　陳皮（以上五錢）　白芍藥（六錢）　龜板（七錢半）炒柏（一錢半）　黃芩（三錢）　砂仁　甘草（各一錢）　上末之，炊餅丸，食前薑湯下，四五十丸。服後膈間冷痰未除，用小陷胸湯加少茱萸作嚮導為丸服。一人氣實形壯，常覺胸膈氣不舒，三一承氣湯下之，及與導痰之類。一人食積，痰氣脾弱：貝母　連翹　麥芽　陳皮（各半兩）　南星　黃芩　白朮（各一兩）　萊菔子（二錢半）　上末之，炊餅丸。一老人，嘔痰、胸滿、寒熱，因傷食起用二陳導飲，白朮補脾，柴胡、黃芩退寒熱，蒼朮解表寒，砂仁定嘔下氣。一婦人舌上長起厚胎、並痛，心下時堅，陽明痰熱：黃柏　知母（俱蜜炙）　貝母各（二兩）　栝蔞　枳實　麥芽　薑黃　牛膝（各半兩）　為末，可留於舌上，再用白朮（二兩）　蓽澄茄　萊菔子　連翹　石膏（各半兩）　青子　風硝　升麻（各三錢），上末，炊餅丸服。二陳治痰要藥，世多忽之，且平胃散為常服之藥，二陳湯反不可服乎？但能隨證加減，用之無不驗。　世人貴耳賤目不特此也。</p>

<h2>喘（第二十）</h2>
<p>有短氣、有火炎、有痰、有陰火上逆。凡久喘未發，以扶正氣為要；已發，以攻邪為主；氣短者，參耆補之；火炎上者，降心火，清肺金；有痰者，降痰下氣為主；陰火上逆者，補陰降火；有氣虛短氣而喘，有痰亦短氣而喘；有陰虛自小腹下火起而上者。喘急而有風痰者，《婦人大全良方》：千緡湯加導痰湯。陰虛挾痰喘急者，補陰降火，四物湯加半夏、枳殼。氣虛者，人參（蜜炙）、黃柏、麥門冬、地骨皮之類。大概喘急者，不可用苦藥、涼藥，火氣盛故也，導痰湯合千緡湯妙。諸喘不止者，用劫法，只一二服則止。氣虛人少用。劫定之後，因痰治痰，因火治火，用椒目研極細末，用二錢生薑湯調下止之。丸、末皆可用。又法蘿蔔子蒸熟為君，皂角燒灰分為末，生薑汁蜜為丸，如小桐子大，每服用五七十丸，噙化止之。元氣虛而喘，喘而氣短者生脈散。上氣喘而躁者，屬肺脹；欲作風水，發汗即愈。秋冬之間，風痰作喘，搜風化痰丸。肺濕作喘，以甜葶藶研細末，棗肉為丸服之。人臥則氣浮於肺，凡上升之氣，大概用香附、黃連、黃芩、山梔、青皮、以降之。戴云：有痰喘者、有氣急喘者、有胃虛喘者、有火炎上喘者。夫痰喘者，乍進乍退，喘便有痰聲；氣急喘者，呼吸急促而無痰聲；火炎上喘者，乍進乍退，得食則減，食已則喘，大概胃中有實火，膈上有稠痰，得食入咽，墜下稠痰，喘即止，稍久，食已入胃，反助其火痰再升上，喘反大作，俗不知此，作胃虛治，用燥熱之藥，以火濟火，昔葉都督患此，諸醫作胃虛治之，不愈，後以導水丸利五七次而安。又有胃虛喘者，抬肩擷肚，喘而不休是也。治氣逆氣喘上氣，紫金丹可用，須三年後者乃可，忌豬肉並酒。一子二歲患痰喘，見其精神昏倦，病氣深，決非外感，此胎毒也。蓋其母孕時，喜辛辣熱物所致，勿與解利藥，因處以人參、連翹、芎、連、生甘草、陳皮、芍藥、木通煎，入竹瀝，數日安。一婦人，六七個月痰嗽喘急不臥，專主肺：北柴胡（一錢）　麻黃（二錢）　石膏（二錢）　桑白皮（一錢）　甘草（半錢）　黃芩（一錢半）　一汗而愈。後服五味子、甘草、桑皮、人參、黃芩。</p>

<h2>哮（第二十一）</h2>
<p>哮專主乎痰，宜吐法。亦有虛而不可吐者。治哮必須薄滋味專主乎痰，必用大吐，吐藥中多用醋，不可全用涼藥，必帶表散，此寒包熱也。半夏、枳殼炒、桔梗、片黃芩、炒紫蘇、麻黃、杏仁、甘草，天寒加桂。一法小胃丹以二陳湯去甘草，加蒼朮、黃芩作湯送下，看虛實用之。治哮積方，用雞子略損殼勿損膜，浸尿缸中三四日，夜煮吃效，蓋雞子能去風痰也。治哮紫金丹，以精豬肉三十兩，切骰子大，用信一兩明者，研極細，拌在肉內，令極勻，分作六分，用紙筋黃泥包之，火烘令乾，又用白炭火，於無人遠處煅之，以青煙出為度，出火毒放地上一宿，研細，用湯浸蒸餅為丸，如綠豆大，食前茶清下，大人二十丸，小兒十丸，量虛實與之。一人哮喘，南星、半夏、杏仁、栝蔞仁、香附、橘紅、青黛、萊菔子、皂角灰，上末之，曲丸，薑湯送下。</p>

<h2>泄瀉（第二十二）</h2>
<p>有濕、有氣虛、有火、有痰、有積。世俗類用澀藥治痢與瀉，若積久而虛者，或可行之；而初得者，必變他證，為禍不小。殊不知多因於濕，惟分利小水，最是長策。治濕燥濕宜滲泄，四苓散中加蒼朮、白朮，甚者二術皆炒。氣虛用人參、白朮、芍藥、炒升麻；火宜伐火，利小水用黃芩、木通，入四苓散；痰宜豁痰，用海石、青黛、黃芩、神麯，作丸服，或用吐法吐之，以升提其清氣；食積宜消導之、疏滌之，神麯或大黃等；泄瀉水多者，必用五苓散。止瀉方：肉豆蔻（五兩）　滑石（青冬一兩二錢半，夏二兩半，秋二兩）　上用薑汁曲糊丸。又方姜曲丸：姜（二兩）　陳曲（六兩炒），用一二年。陳者、新者、發熱不可用，陳麥亦可用茴香半兩。治脾泄方，用炒白朮、炒神麯、炒芍藥，或湯或散作丸子。尤切當治脾泄，當大補脾氣而健運復常。治久病大腸氣泄：熟地黃（五錢）　白芍藥（炒）　知母（各三錢）　乾薑（二錢）　炙甘草（一錢）　上末服。泄瀉或嘔吐，用六一散、生薑汁湯調服。積痰作泄宜下之。青六丸去三焦濕，治泄瀉多與他丸同用，並不單用，若欲治血痢，或產後腹痛，或自痢者，補脾補血藥送之。久病氣虛，泄瀉不止，灸百會三壯。一老人，奉養太過飲食傷脾，常常泄瀉，亦是脾泄：白朮（炒二兩）　白芍藥（酒炒一兩）　神麯（炒二兩）　山楂（一兩半）　半夏（一兩湯浸）　黃芩（炒半兩）　上為末，青荷葉燒飯為丸。一老人年七十，面白，脈弦數，獨胃脈沉滑，因飲白酒作痢下血，淡水膿，腹痛，小便不利，裡急後重，以人參、白朮為君，甘草、滑石、檳榔、木香、蒼朮為佐，下保和丸二十五丸。第二日證減，獨小便不利，只以益元散服之效。一男子，因辛苦發熱，腰腳痛，吐瀉交作，以：白朮（二錢）　人參（一錢）　滑石（二錢）　木通（一錢半）　甘草（半錢）　陳皮（二錢）　柴胡（一錢）夏月水瀉，桂苓甘露飲：官桂　人參（各五錢）　木香（一分）　茯苓　白朮　甘草　澤瀉　葛根　石膏　寒水石（以上各一兩）　滑石（二兩）　脾胃不和泄瀉並傷食用胃苓湯；積聚肚瀉勝紅丸；腸鳴泄瀉久不愈者，訶黎勒丸；泄瀉下積身熱水泄者，大柴胡湯；水瀉白朮、蒼朮、厚朴、陳皮、炒曲、茯苓、豬苓、澤瀉、地榆、甘草，冬月加乾薑等分。治老人水瀉：白朮（一兩）　蒼朮（一兩）　厚朴（半兩）　炒曲（一兩）　肉豆蔻（一兩）　陳皮（五錢）　炒芍藥（一兩）　滑石（一兩炒）　甘草（三錢炙）　樗皮（一兩炒）　上飯丸，食前米飲下八十粒。一人胸滿泄瀉不止，當消食補脾，則泄止；若積病亦有胃壯而泄不止，當下去積則泄止。凡內外之邪，有傷於生化之用，則陰陽失其居處之常，臟腑失其所司之政，以致腸胃腐熟，而敷化之職不修，所以瀉也。一人氣脫而虛，頓瀉不知人，口眼俱閉，呼吸甚微，殆欲死者，急灸氣海，飲人參膏十餘斤而愈。陰虛而腎不能司禁固之權者，峻補其腎。痰積在肺，致其所合大腸之氣不固者，湧出上焦之痰，則肺氣降下，而大腸之虛自復矣。憂思太過，脾氣結而不能升舉，陷入下焦而泄瀉者，開其鬱結，補其脾胃，而使穀氣升發也。戴云：凡瀉水而腹不痛者，是濕；飲食入胃不住，完穀不化者，是氣虛；腸鳴瀉水，痛一陣瀉一陣，是火；或瀉或不瀉，或多或少，是痰；腹痛甚而瀉，瀉後痛減者，是食積。治水瀉方：乾薑（一錢）　當歸（二錢半）　烏梅（三個）　黃柏（一錢）　黃連（二錢）　或云各等分水煎。</p>

<h2>霍亂（第二十三）</h2>
<p>內有所積，外有所感，見成吐瀉，不徹者，還用吐，提其氣起，吐用二陳湯加減或鹽湯或鹽水皆可吐。治霍亂：蒼朮　厚朴　陳皮　葛根（以上各一錢半）　滑石（三錢）　白朮（二錢）　木通（一錢）　甘草（炙）　又法用薑湯下保和丸四十粒。治乾霍亂大法，發汗吐亦不妨，此係內有所傷，外為邪氣所遏；有用吐法者，則兼發散之義；有用溫藥解散者，其法解散，不用涼藥。二陳湯加川芎、蒼朮、防風、白芷等劑。夏月霍亂吐瀉，大欲飲水或狂亂奔走，薑製厚朴、官桂、乾薑、茯苓、半夏。霍亂方：藿香、蒼朮、厚朴、陳皮、縮砂、白芷、甘草、半夏、茯苓、人參、炒神麯等分。遇寒加乾薑，寒甚加附子。吐瀉霍亂，夏月以冰水調益元散加薑汁服之。又以地漿清水調桂苓甘露飲，新汲水亦可，所以至陰之物能生陽中之陰。霍亂微煩躁渴，錢氏白朮散，以上二方俱見《寶鑑》中。夏月吐瀉，黃連香薷湯，井中浸冷服。霍亂脈多伏或絕，大法理中湯好。陽不升陰不降，乘隔而成霍亂，切不可與米湯飲，即致死。夏月多食瓜果飲冷乘風，以致食留不化，因食成痞，隔絕上下，遂成霍亂，以六和湯倍藿香。揮霍撩亂而不得吐瀉，名乾霍亂。干亂最難治，須以鹽湯吐之。治攪腸沙，用樟木屑煎濃湯，呷一碗，須臾吐瀉即可。（一云乾霍亂俗名攪腸沙也。）又法，就委中穴，有紫處刺出血即安；或於十指頭出血，亦是良法。一法治霍亂已死，腹中尚有暖氣，用鹽納臍中，灸七壯仍灸氣海。</p>

<h2>痢（第二十四）</h2>
<p>分在氣、在血治，赤屬血，白屬氣。身熱、後重、腹痛。身熱者，挾外邪，法當解表，不惡寒用小柴胡去參；後重，積與氣鬱墜在下之故，兼升兼消；腹痛者，是肺金之氣鬱在大腸之間，以苦梗發之，然後用治痢藥。氣用氣藥，血用血藥。下痢腹痛人實者，宜用劉氏之法下之，然後隨氣血用治痢之藥。下血多主食積與熱，當涼血活血，當歸、桃仁、黃芩之類，或有用朴硝者。青六丸治血痢效，以六一散一料炒紅曲半兩，能活血，以飯為丸。腹痛者，宜溫散藥，如薑桂之屬以和之。如有熱，用黃芩、芍藥之類。壯者與初病者。宜下之；虛弱衰老者，宜升之。一痢初得之時，一二日間，法當利，大小調胃承氣湯下之，看其氣血而用藥。氣病用參朮，血病用四物湯為主，有熱先退熱。後重者，當和氣，木香、檳榔之類。因積作後重者，保和丸主之。五日後不可下，脾胃虛故也。保和丸方：山楂肉（三兩）　神麯（二兩）　陳皮　半夏　茯苓（以上各一兩）　連翹（五錢）　萊菔子（五錢）　上炒七味為末，粥丸，薑湯下，或加白朮二兩。下痢初發熱，必用大承氣湯下之，後隨證用藥。下痢久不止發熱者，屬陰虛，用寒涼藥，必兼升藥熱藥用。一本云：血久不止，發熱者，屬陰虛，四物為主。下痢後，身發熱者，有外感。初下腹痛，不可用參朮，雖氣虛胃虛者，皆不可用。下血有風邪下陷，宜升提之，蓋風傷肝，肝主血故也。有濕傷血，宜行濕清熱。後重者，積與氣墜下，當和氣，兼升兼消，木香、檳榔之類。不愈，用皂角子煨大黃、當歸、桃仁、黃連、枳殼作丸，蓋後重大腸風盛故也。下痢病，有半死半生者，二下如魚腦者，半死半生；身熱脈大者，半死半生。有不治證者五：下血者死；下如塵腐色者死；下如屋漏水者死；下痢唇如硃砂紅者死；下痢如竹筒者不可治。夫痢而能食，胃未病也。若脾胃濕熱之毒，熏蒸清道而上，以致胃口閉塞，遂成禁口證。一方治禁口痢，香蓮丸與蓮肉各半，研末，半湯調下。治禁口痢，臍中用田螺人麝香少許，搗爛盒之，以引其熱就下，熱去則欲食也。治痢方：蒼朮、白朮、條芩、當歸、白芍藥、生地黃、青皮、黃連、滑石、甘草，作一服，白水煎，裡急後重，炒連、滑石，加桃仁、檳榔，甚者加大黃，嘔者加半夏姜煎。又方：乾薑（一錢）　當歸（二錢半）　烏梅（三個）　黃柏（一錢半）　黃連（二錢）　上作一服，白水煎。孫郎中因飲食過多，腹膨滿，痢帶白色，用蒼朮、白朮、厚朴、甘草、茯苓、滑石，煎下保和丸三十粒。又方有炒曲。痢後腳弱漸細：蒼朮（二兩）　酒芍藥（二兩半）　龜板（三兩）　酒柏（半兩）　上末之，粥丸，以四物湯加陳皮、甘草煎湯吞之。痢後腰痛，兩腳無力：陳皮　半夏　白芍藥（以上各一錢）　茯苓　蒼朮　當歸　酒芩（以上各半錢）　白朮（一錢）　甘草（二錢）　上作一服，姜三片煎，食前服。一人泄瀉，辛苦勞役，下利白積，滑石末炒陳皮、芍藥、白朮、茯苓、甘草，上煎，食前服。一婦人痢後，血少肚痛，以川芎、當歸、陳皮、芍藥，上煎，調六一散服。一方治久痢：罌粟殼（半兩）　樗白皮（一錢）　黑豆（二十一粒）　上同煎，食前服。痢時氣發熱，蒼朮、厚朴、赤芍藥、當歸、黃芩、黃柏、地榆、粟殼、枳殼、檳榔、木香、甘草、乾薑，鮮血痢加黃連，小便不通加滑石、車前子，痢下血水奈何？加阿膠。治痢丸子，側柏葉、黃連、黃柏、黃芩、當歸、芍藥、粟殼、生地黃、地榆、枳殼、香附、木香、檳榔，米糊丸，下七八十丸。有食有積、腹痛加莪朮、三稜、縮砂。飲酒之人臟毒，如血痢狀，乃平日飲酒之過，遂成此病，先宜戒酒而藥可愈：蒼朮（一錢）　赤芍藥（二錢）　炒槐花（一錢半）　地榆（二錢）　枳殼（一錢）　炙甘草（三分）　黃連（炒五分）　乾葛（二錢）　當歸（五分）　上作一帖，清水煎，食前頓服，愈。又方：樗皮（二兩）　神麯（炒五錢）　白芍藥（一兩）　滑石（炒一兩）　枳殼（五錢）　上為末，爛飯丸，桐子大，米飲下七十丸。久下痢數月不能起床，飲食不進，憊弱之甚以：人參（五分）　白朮（一錢）　黃耆（五分）　當歸（六分）　芍藥（一錢）　炙甘草（三分）　粟殼（三錢）　實地榆（五分）　木香（三分）　縮砂（五分）　陳皮（一錢）　升麻（三分）　白豆蔻仁（三分）　澤瀉（五分）　上作一帖。有熱加黃芩，脈細，四體惡寒加乾薑或煨肉豆蔻、川附數片，服數帖漸自進食。濕熱下痢，小便澀少，煩渴能食，脈洪大緩，腹痛後重，夜多痢下，桂苓甘露飲送保和丸三十丸。一作胃苓湯送下。濕多熱少，脾胃不和，食少腹痛，後重，夜多利下，胃苓湯送保和丸三十丸。一作桂苓甘露飲送下。氣虛面色黃白，或體肢倦懶之人，頻並痛，後重不食，脈細弱，或有汗出，黃耆建中湯吞保和丸三十丸。濕熱不渴者，建中湯如蒼朮、茯苓，吞保和丸。脾胃不和，食少腹脹痛，後重痢下，脈弦緊，平胃散加芍藥、官桂、葛根，或白朮茯苓湯送保和丸。下痢白積，黃芩芍藥湯加白朮、陳皮、甘草、滑石、桃仁。下痢赤積，身熱，益元散加木通、炒芍藥、炒陳皮、白朮、煎，送下保和丸。一老人因飲白酒，作痢下，淡血水膿，腹痛，小便不通，裡急後重，人參、白朮、滑石、蒼朮、檳榔、木香、甘草，上煎下保和丸二十五丸。第二日前證俱減，惟小便不利，用益無散。仲景治痢，凡言可下，率用承氣湯，大黃之寒，其性善走，佐以厚朴之溫，善行滯氣，緩以甘草之甘，飲以湯液，灌滌腸胃，滋潤輕快，無所留礙，積行即止。劉河間發明滯下證，尤為切要。有曰：行血則便自愈，調氣則後重自除，此實盲者之日月，聾者之雷霆也。一人患利不進飲食，四君子加芎、歸、藥、陳皮、炒曲、黃連、砂仁、半夏、生薑煎服。東易胡兄年四十餘，患痢病已百日，百藥治不效。時九月初，其六脈急促，沉弦細弱，左手為甚，日夜數十行，視瘀物甚少，惟下清滯，有紫黑血絲，食全不進，此非痢，當作瘀血治之。間瘀血何由而致？如飽後急走，極力叫罵，毆打攧撲，多受疼痛，一怒不泄，補塞太過，火酒火肉，皆能致之。蓋此人去年枉受杖責，經涉兩年，有此瘀血，服藥後，得瘀血則生矣。遂以乳香、沒藥、桃仁、滑石，佐以木香、檳榔，以曲糊為丸，米湯下百餘粒，夜半又不動，又依前法下二百粒，至天明大下穢物，如爛魚腸，約一二升，困頓終日，漸與粥而安。一人患痢後甚逼迫。一人患痢，善食易飢已見《醫要》，世俗類用澀藥治痢與瀉，若積久而虛者，或可行之，而初得者，必變他證，為禍不小。殊不知多因濕，惟分利小水，最是長策。《內經》謂：下身熱，卻死；寒、即生。此大概言之耳，必兼證詳之方可。今豈無身熱而生寒、而死者乎？脈沉小流連或微者，易治；浮洪大數者，難治。脈宜滑大，不宜弦急。仲景治痢，可溫者五法；可下者十法；或解表或利小便或待其自己區分易治、難治極密，但與瀉同，立論不分，學者當辨之。大孔痛，一曰溫之，一曰清之。按久病身冷，自汗，脈沉小者，宜溫；暴病，或身熱，脈浮洪者，宜清；身冷自汗，用溫藥；有可吐者，有可汗者，有可下者。初得時，元氣未虛，必推蕩之，此通因通用法，稍久，氣虛則不可也。赤痢乃小腸來，白痢自大腸來，皆濕熱為本，赤白帶，赤白濁同。先水泄，後膿血，此脾傳腎，賊邪難愈；先膿血，後水瀉，此腎經傳脾，是謂微邪易愈。下如豆汁者，濕也，蓋脾胃為水穀之海，無物不受，常兼四臟，故如□□之相染，當先通利，此迎而奪□□義如虛，宜審之。因熱而作不可用巴豆等藥，如傷冷物者，或可用，宜謹之。又有時疫作痢，一方一家之內，上下相傳染者相似，此卻宜用運氣之勝伏以治之。禁口痢，此胃口熱結，用黃連多加人參，濕煎呷之，如吐了又呷；當開以降之。人不知此，多用溫藥甘味，以火濟火，以滯益滯也。亦有誤服熱藥，毒氣犯胃，當推明而祛其毒。</p>

<h2>嘔吐噦（第二十五）</h2>
<p>分氣血多少而治。胃中有熱有痰。胃中有熱，膈上有痰，用二陳湯加薑汁炒山梔、黃連、生薑煎服。久病嘔吐者，胃虛不納穀也。生薑、人參、黃耆、白朮、香附。注船嘔吐大渴，飲水即死，童便好。嘔吐若脾胃虛損之人，或非夏月見者，服理中湯。見其虛甚，庶可用之，亦宜冷與之飲，以順其性。痰飲為患，或嘔或吐噁心，或頭眩，或中脘不快，或發寒熱，或食生冷，脾胃不和，二陳湯加丁香、烏梅、生薑七片，痞痛加草豆蔻。胃氣虛弱，不能飲食嘔吐，藿香安胃散，藿香、丁香、人參、陳皮、生薑同煎。肝火出胃，逆上嘔吐，抑青丸。痰熱嘔吐，氣盛者，導痰湯加縮砂、姜連、竹茹。痰嘔吐不止，陳皮、半夏、薑汁。夏月嘔吐不止，五苓散加薑汁。嘔吐煎藥，忌栝蔞仁、杏仁、桃仁、萊菔子、山梔，皆要作吐。如藥中帶香藥，行散不妨。泄瀉或嘔吐者，生薑汁湯調益元散。一人早嘔酒，以栝蔞、貝母、山梔（炒）、石膏（煅）、香附、南星、薑製神麯、炒山楂子（各一兩）、枳實（炒）、薑黃、萊菔子（蒸）、連翹、石鹼（各半兩）、升麻（二錢半）　上末之，薑汁炊餅丸。一人飢飽勞役成嘔吐病，時作時止，吐清水，大便或秘或溏，腹痛上攻心背，脈弦：白朮（一兩半）　山梔（一兩用茱萸二錢炒，去茱萸不用）　黃連（一兩用茱萸二錢炒，去茱萸不用）　神麯　麥芽　桃仁（各一兩去皮，用巴豆二十粒炒，去巴豆不用）　薑黃　杏仁（各一兩去皮，用巴豆二十粒炒，去巴豆不用）　蓬朮（一兩用巴豆二十粒炒，去巴豆不用）　香附（一兩）　三稜（一兩用巴豆二十粒炒，去巴豆不用）　白豆蔻　砂仁　木香　萊菔子　陳皮（以上各五錢）　南星（一兩薑製）　山楂（一兩）　大黃（一兩蒸）　青皮（五錢）　上末之，薑汁飲餅丸，每服二三十丸。朱奉議以半夏、橘皮、生薑為主。孫真人誤以噦為咳逆。凡病人慾吐者，切不可下逆故也。劉河間謂嘔者，火氣炎上，此特一端耳。有痰隔中焦，食不得下者；又有氣逆者；又有寒氣鬱於胃中者；又有食滯心肺之分，不得下而反出者；然胃中有火與痰而致嘔吐者多；又有久病嘔者，此胃虛不納穀也。生薑、人參、黃耆、白朮、香附之類。</p>

<h2>噁心（第二十六）</h2>
<p>有痰、有熱、有虛，皆用生薑，隨證用藥。痰飲為患，而嘔吐噁心者，二陳湯加丁香、烏梅、生薑七片，煎服。戴云：噁心者，無聲無物、但心中欲吐不吐，欲嘔不嘔，雖曰噁心，非心經之病，皆在胃口上，宜用生薑，蓋能開胃豁痰故也。</p>

<h1>卷三</h1>

<h2>翻胃（第二十七）</h2>
<p>翻胃即膈噎也，膈噎乃翻胃之漸發揮。詳言之，大約有四：有血虛、有氣虛、有熱、有痰。又有兼病者，血虛者，脈必數而無力；氣虛者，脈必緩而無力；血氣俱虛者，口中多出沫，但見沫大出者必死；有熱者，脈數而有力；有痰者，脈滑數，二者可治。又曰：翻胃脈，血虛，左手脈無力；氣虛，右脈無力；有痰寸關沉，或伏而大。血虛以四物為主，氣虛以四君子為主，熱以解毒為主，痰以二陳為主。必入童便、薑汁、竹瀝、韭汁、牛羊乳。糞如羊矢者，不治；年高者，雖不治，須用參、術，關防氣虛、胃虛。有陰火上炎而翻胃者，作陰火治。有氣結者，其脈寸關沉而澀，宜開滯導氣之藥。有積血在內者，當消息以遂之。大便澀者，難治，常食兔肉則便利。翻胃病，若痰實火盛之人，先以瓜蒂散吐之，後用大黃、皂角、黑牽牛、朴硝，為末糊丸，薑湯下十五丸。一方，治翻胃積飲，通用益元散，以薑汁澄白腳為丸，時時服之。一方，以黃連、茱萸、炒貝母、栝蔞、陳皮、白朮、枳實、牛轉草。但有嚥下塞住不寬，項背轉側，欠伸不得，似乎膈噎之證，飲食不下，先有心疼，疼發一身盡黃，先以川芎、桔梗、山梔、細茶、生薑齏汁，吐痰二碗，後用導痰湯加羌活、黃芩、紅花，人壯者用此法。一老人翻胃，栝蔞、貝母、白朮、陳皮、吳茱萸、黃連、生甘草、人參、茯苓、枳實。年少者，以四物湯清胃脘，血燥不潤便，故澀，《格致餘論》甚詳。檳連丸治翻胃，或朝食而暮出者，或下咽而吐者，或胃脘作痛者，或必得盡吐而爽者，或見食即吐者：白朮　黃連　砂仁　陳皮　半夏曲　神麯　蓬朮（各一兩）　藿香　檳榔　青皮　丁香　麥蘖　三稜　薑黃　良薑　白豆蔻　茯苓　桂花　連翹　山楂（各五錢）　川附（半隻）　吳茱萸（二錢）　上藥末之，姜糊丸，每服七八十丸，薑湯或白湯下，日三服。一人年壯病翻，益元散加陳皮、半夏、生薑、自然汁浸，曬乾為末，竹瀝甘蔗汁調服。一人但能食粥一匙，吃下，膈有一菜雜於其間，便連粥俱不能下，魚肉俱不可咽，止能食稀粥，其人起居如常，用涼膈散加桔梗。若面常覺發熱，大便結，此咽膈燥痰所礙，加白蜜飲之。治翻胃，未致於胃脘乾槁者。一男子壯年，食後必吐出數口，隙不盡出，膈上時作聲，面色如平人，病不在脾胃，而在膈間。問其得病之由，乃因大怒未止輒吃麵，即有此症。蓋怒甚，則血鬱於上，積在膈間，有礙氣之升降，津液因聚而為痰、為飲，與血相搏而動，故作聲也。用二陳加香附、萊菔、韭汁服一日，以瓜蒂散、酸漿吐之，再一日，又吐，痰中見血一盞，次日復吐，見血一鍾乃愈。一中年人，中脘作痛，食已則吐，面紫霜色，關脈澀澀，乃血病也，因跌僕後中脘即痛，投以生新推陳血劑，吐片血碗許而愈。一婦人因七情，咽喉有核如綿，吐不出，咽不下，及兩脅心口作痛，飲食少，胎已三月矣。用香附　砂仁　茯苓　陳皮（各二錢）　麥冬　厚朴　白朮　人參　甘草（各五分）　枳殼　芍藥　白豆蔻（各八分）　竹茹（二錢）　姜（五片）煎服。心痛不止加草豆蔻。一人先因膈噎後食羊肉，前疾大作及咽酸，用二陳湯加蒼朮、白朮、香附、砂仁、枳殼、吳茱、黃連、神麯、生薑煎服，后里急後重加木香、檳榔。痰氣結核在咽間吐咯不出，此七情所致也。及痰火炎上，胸膈不寬，以二陳加香附、砂仁、栝蔞、白朮、厚朴、蘇子、黃連、吳茱、枳殼、生薑煎服。頭眩加前胡。因食欲過甚，遂成膈氣，作死血治之，二陳加當歸、桃仁、香附、砂仁、白朮、枳實、藿香、姜連，吐不止加丁香煎，臨服加韭汁、薑汁、竹瀝各少許，加牛乳尤佳。一人痰火噎塞，胸膈不寬，二陳加紫蘇、厚朴、香附、砂仁、姜連、木香、檳榔、白豆蔻、吳茱萸、生薑煎服。嘔吐胸膈疼，二陳加薑黃、香附、砂仁、丁香、藿香、白朮、白豆蔻、枳殼、姜連：心腹痛及咽酸去枳殼加吳茱萸，發熱去枳殼、吳茱，加甘葛、竹茹、枇杷葉、薑汁炒，熱盛者，加連翹仁姜煎服。</p>

<h2>疸（第二十八）</h2>
<p>不必分五種，同是濕熱，如盦面相似。渴者，難治；不渴者，易治。脈浮宜吐，脈沉宜下。輕者小溫中丸，重者大溫中丸，脾虛者以白朮等藥作湯使。脾胃不和，黃疸，倦怠，少食，胃苓湯。小便赤加滑石。濕熱黃疸小便赤澀，茵陳五苓散。濕寒黃疸，脾胃不和，不食，脈沉細，小便清利者，理中湯。甚者加附子，所謂陰黃疸也。脾濕積黃心腹疼痛，胃苓湯。濕熱因倒胃氣，服藥而大便下利者，參、術等加茵陳、山梔、甘草。熱多，溫中丸加黃連。濕多，茵陳五苓散加食積藥。面色黃，肢體倦，小便清，謂之木勝於中，土走於外故也，黃耆建中湯。用茵陳之藥過劑，乃成陰證，身目俱黃，皮膚冷，心下疼，眼澀不開，自利，茵陳附子乾薑湯。谷疸為病，寒熱不能食，食則頭眩，心胸不安，久則發黃，用茵陳、梔子、大黃亦治傷寒發黃。氣實人，心痛，發黃，撫芎散吐之。疸發寒熱、嘔吐、渴欲飲冷、身體面目俱黃、小便不利，全不思食，夜間不臥，茯苓滲濕湯。以茵陳四苓散內加芩、連、梔子、防己、蒼朮、青皮、陳皮，一方加枳實，用長流水煎服。黃疸方：黃連（炒）　黃芩（炒）　山梔（炒）　豬苓　澤瀉　蒼朮　茵陳　青皮　龍膽草（各一錢）　勞食疸加三稜、蓬朮（各一錢），砂仁、陳皮、神麯（各五分）。茵陳附子乾薑湯：附子（炮）　乾薑（炮）　茵陳　白茯苓　草豆蔻　枳實　半夏　澤瀉　白朮　陳皮　上姜煎涼服。小溫中丸治黃疸與食積：蒼朮（炒）　神麯（炒）　針砂（醋煅）　半夏（各二兩）　川芎　梔子（各一兩）　香附（四兩）　春加川芎，夏加苦參或黃連，冬加茱萸或乾薑，上末醋糊丸。大溫中丸即暖中丸，治食積黃疸腫，又可借為制肝燥脾之用：陳皮　蒼朮（米泔浸炒）　厚朴（薑製）　三稜（醋炒）　蓬朮（醋炒）　青皮（各五兩）　甘草（二兩）　香附（一斤醋炒）　針砂（十兩醋煅）　上為末醋糊丸，空心薑湯下，午飯、晚飯前酒下。脾虛者，以白朮、人參、芍藥、陳皮、甘草等藥作湯使，忌大肉果菜。又方小溫中丸，治脾胃停濕，水穀不分，面色痿黃：針砂（八兩醋炒）　香附　神麯（八兩炒）　白朮（五兩炒）　半夏（五兩洗）　甘草（二兩）　陳皮（五兩和白）　黃連（二兩）　苦參（三兩）　上為末，醋糊丸，每服五十丸，白朮、陳皮湯下，冬去黃連加厚朴。</p>

<h2>消渴（第二十九）</h2>
<p>消渴之證，乃三焦受病也，東垣有法，分上、中、下治。上消者，肺也，多飲水而少食，大小便如常，或云小便清利，其燥在上焦也，治宜流濕潤燥；中消者，胃也，渴多飲水，而小便赤黃，宜下至不飲而愈；下消者，腎也，小便濁淋如膏之狀，宜養血而肅清，分其清濁而自愈。大法養肺降火生血為主。消渴泄瀉，先用白朮、白芍藥炒為末，調服後，隙服白蓮藕汁膏。內傷病，退後燥渴不解，此有餘熱在肺家，以人參、黃芩、甘草少許同煎，加薑汁冷服。或以茶匙挑藥，漸漸服之。虛者，亦可服獨參湯。消渴而小便頻數，宜生津甘露飲，瓊玉膏亦妙。口乾舌乾，小便赤數，舌上赤裂，地黃飲子。一孕婦當盛夏渴思水，與四物湯加黃芩、陳皮、生甘草、木通數帖愈。白藕汁膏：黃連末　生地汁　牛乳汁　白蓮藕汁（各一斤）　上將諸汁，慢火熬膏，入連末和丸，每服二三十丸，溫水下，日服數次。繅絲湯：天花粉、蘆根汁、淡竹茹、麥門冬、知母、牛乳，皆消渴之要藥也。</p>

<h2>水腫（第三十）</h2>
<p>因脾虛不能行濁氣，氣聚則為水，水潰妄行，當以參、術補脾，使脾氣得實，則自能健運，自然升降運動其樞機，而水自行，非五苓神祐之行水也。大抵宜補中行濕，利小便，切不可妄下，以二陳湯加人參、蒼朮、白朮為主，佐以黃芩、麥冬、梔子制肝木，土氣得平，以制其水。若腹脹少佐厚朴，氣不運加木香、木通，氣陷下加柴、升，隨證加減可也。經曰：諸氣膹郁皆屬於肺；諸濕腫滿皆屬於脾；諸腹脹大皆屬於熱。蓋濕者土之氣，土者火之子也，故濕病每生於熱，熱氣亦不能自濕者，子氣感母，濕之變也。凡治腫病，皆宜以治濕為主，所挾不同，治法亦異。或以治腫，以治水立說，而欲導腎，以決去之，豈理也哉。蓋脾土衰弱，內因七情，外傷六氣，失運化之職，清濁混淆，鬱而為水，滲透經絡，流注溪谷，濁腐之氣，窒礙津液，久久灌入隧道，血亦化水，欲藉脾上以制之，殊不知，土病則金氣衰，木寡於畏而來侮土，脾欲不病不可得矣。治法，宜清心經之火，補養脾土，全運化之職，肺氣下降，滲道開通。濁敗之氣，其稍清者，復回而為氣、為血、為津液；其敗濁之甚者，在上為汗，在下為溺，以漸而分消矣。又曰：開鬼門，潔淨府。鬼門，膚腠也，屬肺；淨府，膀胱也，屬腎，未聞有導腎之說。仲景云：治濕利小便，即經潔淨府之意；錢仲陽云：腎無瀉法，請以此視之腎其可易導之乎？水腫本自中宮，諸家只知治濕利小便之說，而類用去水之藥，此速死之兆也。蓋脾極虛而敗，愈下愈虛，雖或劫效目前，而陰損正氣，然病亦有不旋踵而至者。治宜大補中宮為主，看所挾加減，不爾則死。脈來沉遲，色多青白，不煩不渴，小便澀少而清，大便多泄，此陰水也，治宜溫暖之劑；脈來沉數，色多黃赤，或煩或渴，小便澀少而赤，大腑多閉，此陽水也，治宜清平之劑。有久病氣虛而浮，手足皆腫，是虛氣妄行也。產後與經事過多而病腫，血虛也。腰以上腫宜汗，腰以下腫宜利小便，此仲景法。防己治腰以下濕熱腫，如內傷胃弱者，不可用。孕婦水腫，名曰子腫。水腫，痢後浮者，內服益腎散，外用甘草湯淋洗。產後水腫，必用大補氣血為主。水腫五不治者，五臟齊損故也。出血水者不治。虛弱人浮腫，大便泄瀉，用四君子湯加陳皮、甘草、白芍藥、升麻、炒曲、澤瀉、木通、砂仁、姜煎服之。婦人因月經不行，遍身水腫，噁心，惡血凝滯，腹痛，用當歸、赤芍、青皮、木通、牡丹皮、玄胡索、滑石、沒藥、血竭。面浮，因元氣衰少，力弱脾虛所致，用當歸、白朮、木通、蒼朮、甘葛各一錢，參、耆、白芍各五分，柴胡四分。濕勝作腫或自利少食，胃苓湯加木通、麥門冬。面目或遍身虛浮，用五皮散加紫蘇、麻黃、桔梗。治濕腫，用蒼朮、厚朴、陳皮、萊菔子、豬苓、澤瀉、車前、滑石、茯苓、枳殼、木通、大腹皮、檳榔，上煎服。喘急加苦葶藶，小便不利加牽牛，又重者加浚川散，其濕毒自消。瘧疾後發浮腫，四苓散加青皮、木通、腹皮、木香、檳榔。腳面浮腫，咳嗽紅痰，二陳加木通、澤瀉、芩、朮、桑皮、貝母、麥冬、五味、蘇子。一方治水腫，山梔仁炒為末，米飲下一手勺許。一云：胃脘熱病在上者，帶皮用之。又方：山梔（五錢）　木香（一錢）　白朮（二錢半）　以急流水煎服。水腫劫藥，以大戟為末，棗肉丸，服十一丸，可劫氣實者，虛者不可用。</p>

<h2>臌脹（第三十一）</h2>
<p>有實、有虛。實者，按之堅而痛；虛者，按之不堅不痛。實者，宜下之、削之，次補之；虛者，溫之、升之，補為要。朝寬暮急者，血虛；暮寬朝急者，氣虛；日夜急者，氣血俱虛。臌脹又名曰蠱，即所謂單腹脹也。（其詳在《格致餘論》中。）治法大補中氣，行濕為主，此脾虛之甚，必須遠音樂，斷厚味。有氣虛者，大劑參、術，佐以陳皮、茯苓、黃芩、蒼朮之類；有血虛者，以四物為主，隨證加減。實兼人壯盛者，或可用攻藥，便用收拾，以白朮為主。氣虛中滿，四君子加芎、歸、芍藥、黃連、陳皮、厚朴、生甘草。胃虛腹脹，調中湯：人參、白朮、陳皮、甘草、半夏、厚朴、生薑。腹脹挾虛分消丸治之。寒而腹脹挾虛者，分消湯治之。寒脹，沉香尊重丸治之。腹脹挾內傷虛證，木香順氣湯並沉香交泰丸。傷寒、痞滿、燥實四證，而人壯者，或雜證腹滿如四證者，用大承氣湯。太陰病，腹脹滿，四肢腫，或一身腫，胸痞，不食，小便少，大便難或溏，或脾脹善噦，大滿體重，服索矩三和湯。脾濕而腹脹滿，面黃溺澀，胃苓湯。下虛腹脹氣上，四物加人參、陳皮、木通、甘草、連翹；有食積者，吞保和丸。飲酒人脹，小便渾濁，夜發足腫，桂苓甘露飲加人參。甘葛、藿香、木香。腹脹不覺滿，食肉多所致者，黃連（一兩為末）　阿魏（半兩醋浸）研如糊，為丸，同溫中丸白朮湯下。食肉多腹脹，三補丸起料，加香附、下甲，炊餅丸服。厚朴治腹脹，因其味辛也，須用薑製。一云：脹病必用參、耆、白朮大劑補脾，則其氣自動，白朮又為君主之藥，必帶厚朴寬滿。一人氣弱腹膨浮腫，用參、歸、茯苓、芍藥各一錢，白朮二錢，川芎七分半，陳皮、腹皮、木通、厚朴、海金沙各五分，紫蘇梗、木香各三分，數服後浮腫盡去。餘頭面未消，此陽明氣虛，故難得退，再用白朮、茯苓。一婦人，腹久虛脹單脹者，因氣餒不能運，但面腫手足，或腫氣上行，陽分來應，尚可治，參、朮、芎、歸為主，佐以白芍藥之酸斂脹，滑石燥濕兼利水，大腹皮斂氣，紫蘇梗、萊菔子、陳皮泄滿，海金沙、木通利水，木香運行，生甘草調諸藥。一婦，氣虛單脹面帶腫，參、朮、茯苓、厚朴、大腹皮、芎歸、白芍、生甘草、滑石。一人嗜酒，病瘧半年，患脹腹如蜘蛛；一人嗜酒，便血後患脹，色黑而腹大形如鬼狀（俱見《醫要》）。上二者，一補其氣，一補其血，余藥大率相出入，而皆獲安。</p>

<h2>自汗（第三十二）</h2>
<p>屬氣虛、陽氣。有痰亦自汗，濕亦自汗，熱亦自汗。大法宜人參、黃耆，少佐以桂枝。陽虛者，附子亦可用；氣虛自汗，黃耆建中湯；氣虛寒熱自汗，勞倦少食脈弱者，補中益氣湯；勞役大虛，脈沉細，汗大出，舌上潤，不煩躁，但驚動亦汗出，似傷寒虛脫者，補中益氣去柴加五味、麻黃根；火氣上蒸胃中之濕，亦能作汗，宜涼膈散主之，或用粉撲法；胃實並手足兩腋多汗，大便澀結，大承氣湯主之；痰實膈滯，寒熱自汗，能食而大便秘結，脈實者，大柴胡湯主之，大抵氣熱汗出，多是有餘證也。飲食，便汗出慓悍之氣，按而收之，安胃湯。汗大泄者乃津脫，宜急止，用人參、黃耆、麥冬、五味、炒柏、知母；濕熱自汗，衛氣虛弱不任風寒者，調衛湯；傷寒虛脫自汗，真武湯，外用撲法。</p>

<h2>盜汗（第三十三）</h2>
<p>屬陰虛、血虛。小兒盜汗不須治，宜服涼膈散。盜汗發熱屬陰虛，用四物湯加黃柏；若氣虛加人參、黃耆、白朮。別處無汗，獨心頭一片有汗，思慮多則汗亦多，病在用心，名曰心汁，宜養心血，以艾湯調茯苓末服。當歸六黃湯，盜汗之聖藥也。黃耆加倍用之，余各等分，上為末，每服五錢，小兒減半。又方：本方內再加知母、參、朮、甘草、地骨、浮麥、桑葉，汗不止加赤根牡蠣，驚不睡加遠志，間服硃砂安神丸。一方治盜汗四炒白朮散甚效，（方見《醫要》。）一人憂鬱出盜汗，胸膈不寬，當歸六黃湯加防風、青皮、枳殼、香附、砂仁。</p>

<h2>吃逆（第三十四）</h2>
<p>有痰、有氣虛、有陰火。吃逆即咳逆，咳逆者，氣逆也，氣自臍下直衝上出於口而作聲之名也。視有餘不足治之，（詳見《格致餘論》。）有餘並痰者，吐之，人參蘆之類；不足者，人參白朮湯下大補丸。痰礙氣而吃逆，此燥痰不出故也，用蜜水探吐之。大概有痰，用陳皮、半夏；氣虛，用參、術；陰火，用黃連、滑石、黃柏。痰多，或用吐或用行痰，虛甚者，用參膏之類。內傷病吃逆不止，補中益氣加丁香。虛寒吃逆，丁香柿蒂湯，灸期門穴。氣熱痰熱者，青箬頭七十二個煎服。傷寒血證吃逆不止，舌強短者，桃仁承氣湯主之。痰多吃逆不止，半夏、茯苓、陳皮、桃仁、枇杷葉、薑汁煎服。咳逆自利，人參、白朮、芍藥、陳皮、甘草、滑石、黃柏、竹瀝。心痛飲湯水下作吃逆者，是有死血在中，桃仁承氣湯下之。咳逆無脈，二陳加參、朮、麥冬、五味、竹茹、姜煎服；甚者，加柿蒂、丁香；虛人吃逆無脈，加黃柏、知母。治吃逆，黃臘燒煙燻而咽之；寒者，用硫黃燒煙咽之。一人年近七十患滯下後發吃逆；一女子暑月因大怒而發吃逆；一人年近五十因怒得滯下病後發吃逆（治法俱見《醫要》）。</p>

<h2>頭風（第三十五）</h2>
<p>有痰、有熱、有風、有血虛。諸家止言偏頭風，而不知所屬，故治之多不效。　左屬風，荊芥、薄荷；屬血虛，芎、歸、芍藥；上屬痰，蒼朮、半夏；屬熱，酒炒黃芩；有屬濕痰者，川芎、南星、蒼朮。偏正頭風，以瓜蒂散搐鼻內。瘦人搐藥，軟石膏、朴硝各五錢，腦子、檀香皮、荊芥、薄荷各一錢，白芷、細辛各二錢。一粒金治偏正頭風，妙在蓽茇、豬膽。天香散治遠年頭風（二方俱見《醫要》）。搐藥有單用蓽茇、豬膽者。頭風方：酒片芩（一兩）　蒼朮　防風　羌活（各五錢）　蒼耳（三錢）　細辛（二錢）　上末之，姜一片搗細，和藥末三錢，同擂勻，茶調，湯蕩起服之。一本：酒芩（一兩半）　羌活　蒼朮　川芎（各五錢）　蒼耳　細辛（各三錢）　制如上法。又方：酒片芩　蒼耳　羌活　酒連　生甘草（各一錢半）　蒼朮（二錢半）　半夏曲（炒三錢半）　川芎（一錢）　制如上法。濕痰頭風方：酒片芩（三錢）　蒼朮（一兩）　酒炒川芎　細辛（各二錢）　甘草（少許），上末之，制服如上法。又頭風方：荊芥、防風、草烏尖、甘草、臺芎、蔓荊子、桔梗、麻黃為末，茶調服。頭癢風屑發黃，酒炒大黃末，茶調服。一人頭風鼻塞涕下，南星、蒼朮、酒芩、辛夷、川芎。一膏粱人，頭風發即眩重痠痛，二陳加荊芥、南星、酒芩、防風、蒼朮、臺芎，姜水煎服。後復以酒芩　南星　半夏（各一兩）　皂角灰（一錢）　烏梅（二個）　用巴豆（十粒）同梅煮過，去豆不用，將梅同前藥為末，姜曲丸，津嚥下。</p>

<h2>頭痛（第三十六）</h2>
<p>多主於痰，痛甚者火多。有可吐者，有不可吐者，有可下者。痰熱當清痰降火；風寒外邪者，當解散。血虛頭痛，自魚尾上攻頭目者，必用芎歸湯；氣虛頭痛、痰厥頭痛，或眩運、脈弱、少食，挾內傷病者，半夏白朮天麻湯。頭旋眼黑頭疼，陰虛挾火，安神湯。頭痛如破，酒炒大黃半兩為末，茶調。頭疼連眼，此風熱上攻，須白芷開之。一方：用雨前茶、芎、歸、防、芷、臺烏、細辛。壯實人，熱痛甚，大便結燥，大承氣湯。蔥白治頭痛如破，通上下陽氣。痛引腦巔，陷至泥丸宮者，是真頭痛也，無治法。清空膏治諸般頭痛，惟血虛頭痛不治（方見《醫要》）。小清空膏治少陽頭痛，並偏頭痛，或痛在太陽經者，片黃芩酒浸透，曬乾為末，或酒或茶清下。一人頭疼，有風痰、熱痰，酒芩、連翹、南星、川芎、荊芥、防風、甘草。夫用芎帶芩者，芎一升而芩便降，頭痛非芎不開，荊芥清涼之劑，頭痛用川芎，腦痛用臺芎。　一人形實而瘦，有痰頭疼，黃芩、黃連、山梔、貝母、栝蔞、南星、香附。一人筋稍露，體稍長，本虛又作勞，頭疼甚，脈弦而數，以人參為君，川芎、陳皮、為佐治之，六日未減，更兩日當自安，忽自言病退，脈之，似稍充，又半日膈滿其腹；文已隱詢之，乃弟自於前方加黃耆已三帖矣，遂以二陳湯加厚朴、枳殼、黃連瀉其衛，三帖而安。</p>

<h2>頭眩（第三十七）</h2>
<p>痰挾氣虛與火。治痰為主，及補氣降火藥。此證屬痰者多，無痰則不能作眩。又有濕痰者，有火多者。左手脈數多熱，脈澀有死血；右脈實痰積，脈大必是火病。一本云：火病當作久病，蓋久病之人，氣血俱虛而痰濁不降也。濕痰者，二陳湯；火多者，二陳加酒片芩；挾氣虛與相火者，亦治痰為主，兼補氣降火，如半夏、白朮、天麻湯之類。一老婦患赤白帶一年半，只是頭眩，坐立不久，睡之則安，專治帶，帶病愈，其眩亦愈。</p>

<h2>眩運（第三十八）</h2>
<p>痰在上，火在下，火炎上而動其痰也。有氣虛挾痰者，四君、二陳，耆、芎、荊芥。風痰眩運，二陳湯加芩、蒼、防、羌治之。眩運不可當者，以大黃酒浸，炒三次為末，茶調服。氣實人有痰，或頭重或眩運者，皆治之。壯實人熱痛甚，大便結燥大承氣湯。</p>

<h2>頭重（第三十九）</h2>
<p>此濕氣在上，用瓜蒂散鼻內搐之。紅豆散治頭重如山，此濕氣在頭也：麻黃（五錢）　苦丁香（五分）　羌活（三分）　連翹（三分）　紅豆（十五粒）　為末搐鼻。</p>

<h2>頭面腫（第四十）</h2>
<p>頭面腫壅，有熱，而脈弦數，涼膈散去硝黃加桔梗、枳殼、荊芥、薄荷。面上紅腫，因氣實而作者，用胃風湯。面腫生瘡，調胃承氣湯加薄荷、荊芥。</p>

<h2>眉稜骨痛（第四十一）</h2>
<p>屬風熱與痰。作風痰治，類痛風證，用白芷、酒片芩，等分為末，每服二錢，茶清調下。又方：川烏、草烏、童便浸炒去毒各一錢為君，細辛、羌活、酒芩、甘草各半分為佐，為細末，分作二三服，茶清下。一加南星，薑茶調服。一方選奇湯，防、羌、酒芩、甘草煎服。</p>

<h2>心痛（第四十二）</h2>
<p>即胃脘痛，須分久、新治，若明知是寒，初當溫散；病久成郁，郁生熱而成火，故用山梔為君，以熱藥為嚮導。胃口有熱而作痛者，非梔子不可，須佐以薑汁，多用臺芎開之，或用二陳湯加川芎、蒼朮，倍加炒山梔；如痛甚者，加炒乾姜，從乎反治之法。如平日喜食熱物，以致死血留於胃口作痛者，用桃仁承氣湯下之；若輕者，以韭汁、桔梗，能開提氣血藥中兼用之。以物拄按痛處而痛定者，挾虛也，用二陳湯加炒乾姜和之，有蟲痛者，面上白斑、唇紅、能食是也，以苦楝根、黑錫灰之類。痛後便能食，時作時止。上半月蟲頭向上易治，下半月向下難治。先以肉汁或以糖蜜吃下，引蟲向上，然後用藥。打蟲方：楝根、檳榔、鶴蝨，夏取汁飲，冬煎濃湯下萬靈丸最好。脈實不大便者，下之痛甚者，脈必伏，宜溫藥，如附子之類。勿用參、術，諸痛不可補氣故也。氣虛入胃脘作痛，草豆蔻丸。心胃腹脅疝痛，二陳湯加參、術，並諸香藥治效。心脅痛，乾薑微妙，芫花醋炒，等分為末，蜜丸，每服數粒。熱飲痛，黃連、甘遂作丸服之。停飲心胃痛，或冬寒痛，桂黃丸。心極痛，古方用生地黃汁調面煮食，打下蟲甚效。胃虛感寒，心腹痛甚，氣弱者，理中湯。內傷發熱不食，胃虛作痛，補中益氣湯加草豆蔻。心氣痛，天香散方：白芷、川烏、南星、半夏。老人心腹大痛，脈洪大而虛，昏厥不食，不勝一味攻擊之藥，四君子湯加當歸、麻黃、沉香。心膈大痛，攻走腰背發厥，藥食不納者，就吐中探吐，出痰積碗許而痛自止。肥人胃脘當心痛，或痞氣在中脘不散，草豆蔻丸：白豆蔻（三錢）　白朮　三稜　草豆蔻　半夏（各一兩）　砂仁　片薑黃　枳實　青皮　良薑（一作乾薑）　陳皮　桂皮　丁香　蓬朮　木香　藿香　小草（各五錢）　薑汁蒸餅丸，每服六七十丸，白湯下。黑丸子，治胃脘疼：烏梅（去核）　杏仁（去皮尖）　巴豆（去皮膜心油）　砂仁（各十四枚）　百草霜（二錢）　半夏（二十一枚）　上杵為丸，每服十數粒。備急丸，治心腹厥痛食填胸膈：大黃（一錢）　巴豆（去油五分）　乾薑（五分）　上蜜丸，每服三五粒。藥下咽便速行心痛，飲湯水下作噦者，有死血在中，桃仁承氣湯下之。左手脈數熱多，脈澀有死血，右手脈實痰積，脈大，必是久病。心痛方：茱萸（湯洗）　山梔（炒去殼）　黃連（炒）　滑石（各五錢）　荔核（燒存性三錢）　上末之，薑汁蒸餅丸服。又方：炒山梔仁為末，薑湯服丸亦可，如冷痛加草豆蔻炒為末丸服之。又方：白朮（五錢）　白芍藥　砂仁　半夏（湯泡）　當歸（各三錢）　桃仁　黃連（去須）　神麯（炒）　陳皮（各二錢）　吳茱萸（一錢半）　殭蠶（炒）　茱萸（一錢）　山梔（去殼炒焦六錢）　上末炊餅丸，如椒粒大，以生地黃酒洗淨，同生姜煎湯下二十丸。別用蓽茇半兩為末，醋調捏成糰子吞之。又方：桂枝、麻黃、石鹼等分為末，薑汁浸，炊餅為丸，用熱辣薑湯下十五丸，多治餅痛。又方：黃荊子炒焦為末，米飲調下。又方：蛤粉、香附末，以川芎、山梔煎湯，入薑汁調，令熱辣服之。又方：半夏切碎，香油炒為末，薑汁炊餅丸，薑湯下二十丸，亦治吼喘。凡治氣痛，一身腔子里痛，皆須用些少木香於藥中，方得開通。草豆蔻丸，客寒犯胃痛者宜此，熱亦可止，可一二服：草豆蔻（麵裹煨一錢四分）　吳茱萸（洗焙）　益智仁　人參　黃耆　白殭蠶　橘皮（各八分）　生甘草　炙甘草　當歸身　青皮（各六分）　片薑黃　神麯（炒）　柴胡（各四分）　半夏（湯泡）　澤瀉（各一錢）　麥芽（炒一錢半）　桃仁（七枚湯泡，去皮尖）　上除桃仁另研如泥外，余為細末，同和勻，湯浸蒸餅為丸，如梧桐子大，每服五七十丸，食遠白湯下。看病勢斟酌用之，小便多澤瀉減半，柴胡詳脅下痛多少用。草豆蔻丸，治氣餒弱人心痛，甚妙。青黛治心熱痛、蟲痛，與薑汁入湯調服，或以藍葉杵汁與薑汁和服之。如遇無藥去處，用一小瓶貯水，將鹽放刀頭上，火中燒紅淬水中，令患人熱飲之。心痛或用山梔並劫藥，止後復發，用前藥必不效，服玄明粉一服立止。海粉加香附末，同薑汁服，能治心痛，不可入煎藥。內傷發熱不食，胃口作痛者，補中益氣加草豆蔻，熱痛加梔子。心痛氣實者，用單味牡蠣，煅為粉，酒調二錢服之。有食傷胃口而痛者，當消導之。有瘀血留滯胃口作痛者，用破血藥。心疼或有痰者，以明礬溶開就丸，如芡實大，熱薑汁吞下一丸。一人脈澀，心脾常疼，白朮、半夏、蒼朮、枳實、神麯、香附、茯苓、臺芎、上末之，神麯糊丸服。一人心痛、疝痛，炒山梔　香附（各一兩）　蒼朮　神麯　麥芽（各五錢）　半夏（七錢）　烏梅　石鹼（各三錢）　桂枝（一錢五分）　上末之，薑汁炊餅為丸，每服百丸，薑湯下。冬去桂枝。一人飲熱酒食物，梗塞胸痛，有死血，用白朮、貝母、麥芽、香附、栝蔞、桃仁、杏仁、牡丹皮、生甘草、葛根、山梔、黃芩、紅花、蓽澄茄，上為末，或丸或散，任意服。其餘治法詳見《醫要》。</p>

<h2>腰痛（第四十三）</h2>
<p>腎虛、瘀血、濕熱、痰積、閃挫。腰痛之脈必弦而沉。弦者，為虛；沉者，為滯。若脈大者，腎虛澀者，是瘀血；緩者，是濕；滑與伏者，是痰。腎虛者，用杜仲、龜板、黃柏、知母、枸杞、五味，一加補骨脂、豬脊髓，丸服。瘀血作痛者，宜行血順氣補陰丸加桃仁、紅花之類。更刺委中穴出血，以其血滯於下也。濕熱作痛者，宜燥濕行氣，用蒼朮、杜仲、川芎、黃柏之類，宜子和煨腎散。因痰作痛者，二陳加南星，佐以快氣藥，使痰隨氣運。閃挫諸實痛者，當歸承氣等下之。腎著為病，腰冷如水，身重不渴，小便自利，飲食如故，腹重如有物在腰，治宜流濕兼用溫暖藥以散之。寒濕作痛者，摩腰膏治之。腰痛不能立者，針人中穴。久患腰痛，必官桂以開之，方止股痛，脅痛亦可用。諸痛，勿用參補氣，氣不通則愈痛。凡諸痛多屬火，不可峻用寒涼藥，以溫散之可也。濕痰腰痛作泄：龜板（炙一兩）　樗皮（炒）　蒼朮　滑石（各五錢）　炒芍、香附（各四錢）　上粥丸，如內傷白朮、山楂湯下。腰腿濕痛：酒炙龜板　酒炙柏（各五錢）　青皮（三錢）　生甘草（一錢半）　上末之，搗姜一片，入藥末二錢重，研細，以蒼耳汁調，蕩起令沸服之。腰腳濕痛：龜板末（二兩酒炙）　酒炙柏　蒼耳　蒼朮　威靈（酒洗各一兩）　扁柏（半兩）上末之，以黑豆汁煎四物湯、陳皮、甘草、生薑，去渣調服前藥二錢。摩腰膏治老人虛人腰痛，並治白帶：烏附　南星（各二錢半）　雄、砂（各一錢）　樟腦　丁香　乾薑　吳茱（各錢半）　麝（五粒）　上為末，蜜丸，如龍眼大，每一丸薑汁化開，如粥，厚火烘熱放掌中摩腰上，候藥盡黏腰上為度，烘綿衣縛定，腰熱如火，間二日用一丸。治濕熱腰腿疼痛，兩脅搐急，露臥濕地，不能轉側蒼朮湯：蒼朮、黃柏、柴胡、防風、附子、杜仲、川芎、肉桂作湯服之。若寒濕氣客身，體沉重腫痛，面色痿黃加麻黃。一人年六十，因墜馬腰疼不可忍，六脈散大，重取則弦小而長稍堅，此有惡血未可逐之，且以補接為先，以蘇木煎參、歸、芎、陳皮、甘草服之。半月後，脈漸斂，食漸進，遂以前藥調下自然銅等藥，一旦而安。治腰痛並筋骨冷痛：當歸、赤芍藥、羌活、酒炒黃柏、酒炒杜仲各一錢、白朮、川芎、木香、檳榔、防風、白芷、蒼朮、八角茴香各半錢、甘草三分，作湯，調乳香一錢，食前服。外用摩腰膏亦好。</p>

<h1>卷四</h1>

<h2>脅痛（第四十四）</h2>
<p>肝火盛，木氣實，有痰流注，有死血。若肝急木氣實，用川芎、蒼朮、青皮，水煎，下龍薈丸。肝火盛，用生薑汁下當歸龍薈丸，此瀉火要藥也。當歸龍薈丸方，蜜丸，治脅痛行痰，曲丸，降肝火，行遲治雜證：當歸　草龍膽　山梔仁　黃柏　黃芩　黃連（各一兩）　大黃　蘆薈（各半兩）　木香（一錢半）　麝香（五分）。一有柴胡、青皮各半兩；一方有青黛者，又治濕熱，兩脅痛尤妙，先以琥珀膏貼痛處，又以生薑汁吞此丸，痛甚者，須炒令熱服之；一方入青黛，每服三十丸，薑湯下。又方，小龍會丸：當歸　草龍膽　山梔　黃連　黃芩　柴胡　川芎（各半兩），蘆薈（三錢）。死血用桃仁、紅花、川芎；痰流注者，用二陳湯加南星、川芎、蒼朮，實，用控涎丹下痰；肝苦急（已見《醫要》），急食辛以散之，撫芎、蒼朮；脅痛甚者，用生薑汁下龍薈丸，肝火盛故也；咳嗽脅痛者（已見《醫要》），二陳加南星、香附、青皮、青黛、薑汁。左金丸治肝火：黃芩（六兩）　茱萸（五錢）。又方推氣散，治右脅痛甚不可忍：片薑黃　炒枳殼　炒桂心（各半兩）　炙甘草（三錢）　上末，每服二錢，酒服下。控涎丹治一身氣痛，及脅走痛，痰挾死血加桃仁泥丸。治心脅痛：乾薑（微炒）　芫花（醋炒，各等分）蜜丸，每服十二丸，大效。氣弱人，脅下痛、脈細緊或弦，多從勞役怒氣得之，八物湯：人參、白朮、白茯苓、甘草、當歸、熟地黃、川芎、白芍藥，加木香、官桂、青皮。脅痛、大便秘實，脈實者，木香檳榔丸：木香（五錢）　青皮（二錢）　陳皮（二錢）　枳殼（一錢）　檳榔（二錢）　川連（二錢）　黃柏（四錢）　大黃（四錢）　香附（一錢）　牽牛頭末（八錢）　上為末，滴水為丸，如桐子大，每服六七十丸，空心薑湯下。濕熱腰腿疼痛，兩脅搐急，露臥濕地，不能轉側，蒼朮湯，（方見腰痛條下）。一人脅下痰氣攻痛，以控涎丹下；如面之狀，用白芥子下痰，辛以散痛。一人胸右一點刺痛虛腫，自覺內熱攻外，口覺流涎不止，怨成肺癰，貝母、栝蔞、南星去涎，紫蘇梗瀉肺氣，芩、連姜炒、陳皮、茯苓，導而下行，香附、枳殼寬膈痛，皂角刺解結痛，桔梗浮上，不食加白朮，凡吐水飲不用栝蔞，恐泥用蒼朮之類。一人左脅應胸氣痛：栝蔞（一兩）　貝母（一兩）　南星（一兩）　當歸（五錢）　桃仁（五錢）　川芎（五錢）　柴胡（五錢）　黃連（炒五錢）　黃芩（炒五錢）　山梔（炒五錢）　香附（五錢炒）　薑黃（五錢炒）　蘆薈（三錢）　青皮（三錢）　陳皮（三錢）　青黛（一錢五分）　草龍膽（炒五錢）。心胸腹脅疼痛，二陳湯加人參、白朮、並諸香藥治效；有瘀血，當用破血行氣藥，留尖桃仁、香附之類；火盛當伐肝，肝苦急，宜食辛以散之，或小柴胡湯亦可治。木走土中，脅痛嘔吐乃風邪羈絆於脾胃之間也。用二陳湯加天麻、白芍藥、炒曲、枳殼、香附、白朮、砂仁。多怒之人，腹脅時常作痛者，小柴胡加川芎、芍藥、青皮之類；痛甚者，就以煎藥送下當歸龍薈丸，其效甚速。一人脾疼帶脅痛，口微干，問已多年，時尚秋熱，以二陳加甘葛、川芎、青皮、木通，煎下龍薈丸。一人元氣虛乏，兩脅微痛，補中益氣加白芍、龍膽、青皮、枳殼、香附、川芎。一人脅疼，每日至晚發熱，乃陰虛也，用小柴胡湯合四物湯，加龍膽、青皮、甘葛；陰虛甚加黃柏、知母。</p>

<h2>腹痛（第四十五）</h2>
<p>有寒、有熱、死血、食積、濕痰。清痰多作腹痛，大法用臺芎、蒼朮、香附、白芷為末，薑汁入熱湯調服。痰因氣滯而阻隘道路，氣不通而痛者，宜導痰解鬱。氣用氣藥，木香、檳榔、枳殼、香附之類；血用血藥，川芎、當歸、紅花、桃仁之類。在上者多屬食，宜溫散之，如乾薑、蒼朮、川芍、白芷、香附、薑汁之類。寒痛者，理中湯、建中湯。一云：小建中加薑、桂、臺芎、蒼朮、白芷、香附，嘔加丁香。熱痛者，二陳加芩、連、梔，甚者加乾薑。一云：調胃承氣加木香、檳榔。醉飽有欲，小腹脹痛，用當歸、芍藥、川芎、柴胡、青皮、吳茱萸、生甘草、桃仁，煎服之。如胸滿及食少，加茯苓、半夏、陳皮。治酒積腹痛，寬氣要緊，三稜、莪朮、香附、官桂、蒼朮、厚朴、陳皮、甘草、茯苓、木香、檳榔。木實腹痛，手不可近，六脈沉細，實甚有汗，大承氣湯加桂強壯，痛甚再可加桃仁，再甚加附子。小腹虛寒作痛，小建中湯入方：芍藥（六兩）　桂枝（二兩）　甘草（二兩）　大棗（七枚）　生薑（三兩）　膠飴（一升）。脾濕積黃，心腹疼痛，胃苓湯；胃虛感寒，冷而心腹疼痛氣弱者，理中湯；腹大痛，脈沉實，附子理中湯合大承氣湯，煎冷服。一老人心腹大痛，而脈洪大，虛痛昏厥，不食不勝攻系者，四君子湯加當歸、麻黃、沉香。一婦人寡居，經事久不行，腹滿少食，小腹時痛，形弱身熱：用當歸（一錢酒浸）　熟地黃（一錢姜炒）　香附（一錢）　川芎（一錢半）　白芍藥（一錢半）　陳皮（一錢半）　黃柏（炒五分）　生甘草（三錢）　知母（炒五分）　厚朴（五分薑製）　玄胡索（五分）　白朮（二錢）　大腹皮（三錢）　紅花頭（火酒浸九個）　桃仁（研九個）　上㕮咀水煎。脾胃濕而有寒，常虛痛者，理中湯；心腹大痛，寒熱嘔吐，脈沉弦者，大柴胡湯。縮砂治腹中虛痛。戴云：寒痛者，綿綿痛而無增減者是；時痛時止者，熱也；死血痛者，每痛有處，不行移者是；食積痛者，痛甚欲大便，利後痛減者是；濕痰痛者，凡痛必小便不利。食作痛宜溫散，勿大下之，蓋食得寒則凝，得溫則化，更兼行氣、快氣藥，助之無不可者。或問：痰豈能作痛？曰：痰因氣滯而聚，即聚則礙道路，氣不得運，故作痛矣。腹中鳴者，乃火擊動其水也，蓋水欲下流，火欲上炎，相觸而然。亦有臟寒有水而鳴者，宜分三陰部分而治，中脘太陰，臍腹少陰，小腹厥陰。</p>

<h2>脾胃不調（第四十六）</h2>
<p>補脾丸，脾虛惡湯藥者，宜以此服之：白朮（八兩）　蒼朮　陳皮　茯苓（各四兩）　上末之，粥丸服。一有芍藥半兩。白朮丸，治同上：白朮（八兩）　芍藥（四兩）　上末之，粥丸服。大安丸，健脾胃消飲食：山楂　白朮（各二兩）　茯苓　神麯（炒）　半夏（各一兩）　陳皮　萊菔子（炒）　連翹（各五錢）　上末之，炊餅丸。一方無白朮，名保和丸。</p>

<h2>背項痛（第四十七）</h2>
<p>心膈大痛，腰背攻走，大痛發厥，諸藥不納。大吐者，就吐中以鵝翎探吐之，出痰積一大碗而痛止。一男子項強，不能回顧，動則微痛，診其脈弦而數實，右手為甚，作痰熱客太陽經治，以二陳湯加黃芩、羌活、紅花服之，後二日愈。一男子，忽患背胛縫有一線疼起，上跨肩至胸前側脅而止，其疼晝夜不歇，不可忍。其脈弦而數，重取大豁，左大於右。夫胛小腸經也，胸脅膽也，此必思慮傷心，心上未病，而腑先病也，故痛從背胛起，及慮不能決，又歸之膽，故痛上胸脅而止，乃小腸火乘膽木，子來乘母，是為實邪。詢之，果因謀事不遂而病。以人參四錢，木通二錢，煎湯下龍薈丸，數服而愈。一人脾臂痛，二陳湯加酒浸黃芩、蒼朮、羌活，用鳳仙葉搗貼疼處。</p>

<h2>臂痛（第四十八）</h2>
<p>是上焦濕，橫行經絡。治用二陳湯加蒼朮、香附、威靈仙、酒芩、南星、白朮，上生薑煎服。一方加當歸、羌活、名活絡湯。在左屬風濕，柴胡、芎、歸、羌、獨、半夏、蒼朮、香附、甘草。在右屬痰濕，南星、蒼朮之類。</p>

<h2>痛風（第四十九、癢附）</h2>
<p>風熱、風濕、血虛、有痰。大法用蒼朮、南星、芎、歸、白芷、酒芩。在上者，加羌活、威靈仙、桂枝；在下者，加牛膝、防己、木通、黃柏。血虛者，多用芎、歸，佐以桃仁、紅花；風濕，蒼、白朮之類，佐以竹瀝、薑汁行氣藥；風熱，羌活、防風之類，佐以行氣藥。痰，以二陳加南星之類。薄、桂治痛風，乃無味而薄者，燭此能橫行手臂，引領南星、蒼朮等至痛處。下行用炒柏，引領南星、蒼朮等治。治上中下痛風方：南星（二兩薑製）　臺芎（一兩）　白芷（五錢）　桃仁（五錢）　神麯（三錢）　桂枝（三錢，橫行手臂）　漢防己（五錢，下行）　草龍膽（五錢，下行）　蒼朮（米泔水浸一宿炒，二兩）　黃柏（酒炒一兩）　紅花（酒洗一錢）　羌活（三錢，走通身骨節，一作三兩）　威靈仙（酒洗去蘆三錢，上行）　上末之，曲糊丸，食前湯下百粒。張子原氣血兩虛，有痰便濁，陰火痛風方：人參（一兩）　白朮（二兩）　熟地黃（二兩）　山藥（一兩）　海石（好者一兩）　川黃柏（炒黑色二兩）　鎖陽（五錢）　南星（一兩）　敗龜板（酒炙二兩）　乾薑（燒灰五錢，取其不走）　上為末，粥丸服之。痛風方：糯米一盞，黃躑躅根一把，黑豆半盞，上件用酒水各一碗煮，徐徐服之。大吐大瀉，一服住，便能行動。控涎丹治一身及脅走痛，痰挾死血加桃仁泥丸。痰帶濕熱者，先以舟車丸，或導水神芎丸下，後服趁痛散，入方：乳香、沒藥、桃仁、紅花、當歸、地黃、酒炒五靈脂、酒浸牛膝、羌活、香附、便浸生甘草，痰熱加酒芩、酒柏，上為末，酒調二錢。二妙散治筋骨疼痛，因熱因濕者，有氣加氣藥，血虛加補血藥，痛甚者須以生薑、自然汁，熱辣服之，黃柏炒，蒼朮炒，制去皮為末，生薑研入湯，上二味煎沸服，二物皆有雄壯之氣，表實者少酒佐之。龍虎丹治走注疼痛，或麻木不遂，或半身痛：蒼朮（一兩）　白芷（一兩）　草烏（一兩，三味共為粗末，水拌濕，盒器內發熱過，再入後藥）　乳香（二錢）　沒藥（二錢）　當歸（五錢）　牛膝（五錢）　上俱作末，酒糊丸，如彈子大，溫酒化下。八珍丸治一切痛風，腳氣頭風：乳香（三錢）　沒藥（三錢）　代赭石（三錢）　穿山甲（三錢生用）　川烏（一兩，不去皮尖生用）　草烏（五錢，不去皮尖生用）　羌活（五錢）　全蠍（二十一個，頭尾全者）　上末之，醋糊丸，桐子大，每服十一丸。治痛風走注痛：黃柏（二錢酒炒）　蒼朮（二錢酒炒）　上作一服煎就，調威靈仙末為君，羊角灰為臣，蒼耳為佐，芥子為使，用姜一片，入藥末一錢，擂細，以前藥再溫服。飲酒濕疼痛風：黃柏（酒炒五分）　威靈仙末（酒炒五分）　蒼朮（二錢炒）　陳皮（一錢）　芍藥（一錢）　甘草（三錢）　羌活（二錢）　上為末服。痢後腳軟，骨疼或膝腫者，此亡陰也，宜芎、歸、地黃等補藥治之。氣虛加參、耆：挾風濕加羌、防、白朮之類。若作風治反燥其陰。氣實表實骨節痛方：滑石（六錢）　甘草（一錢）　香附（三錢）　片芩（三錢）　上為末，薑汁糊為丸。治食積肩腿痛：酒板（一兩）　酒霄葉（五錢）　香附（五錢）　辣芥子　凌柏花酒糊丸，四物加陳皮甘草湯下。治肢節腫痛，痛屬火，腫屬濕，此濕熱為病，兼之外受風寒而發動於經絡之中，濕熱流注肢節之間而無已也：蒼朮（五分）　麻黃（一錢去根節）　防風（五分）　荊芥穗（五分）　羌活（五分）　獨活（五分）　白芷（五分）　歸鬚（三分）　赤芍藥（一錢）　威靈仙（五分）　片芩（五分）　枳實（五分）　桔梗（五分）　葛根（五分）　川芍（五分）　甘草（三分）　升麻（三分）　上煎服。病在下，加酒炒黃柏，婦人加酒紅花，腫多加檳榔、大腹皮、澤瀉，食前服。更加沒藥一錢尤妙，定痛故也。通身疼痛或風濕：葳靈仙（一錢）　赤芍藥（一錢）　麻黃（去節一錢）　羌活　獨活　歸鬚　芎藭　防風　白芷　木香（以上各一錢半）　蒼朮（一錢）　桃仁（七個）　甘草（三分）　上煎服。肢節煩疼，肩背沉重，胸膈不利，及遍身疼痛，下注於足脛腫痛，當歸拈痛湯。一男子年三十六，業農而貧，秋深忽渾身發熱，兩臂膊及腕，兩足及胯皆痛如鍛，日輕夜重。醫加風藥則愈痛，血藥則不效，以待死而已，兩手脈皆澀而數，右甚於左，其飲食如平日，因痛而形瘦如削。用蒼朮（一錢半）　生附（一片）　生甘草（二錢）　麻黃（五分）　桃仁（九個研）　酒黃柏（一錢半）　上作一帖煎，入薑汁些少，令辣，服至四帖後去附子，加牛膝一錢重，八帖後氣上喘促，不得睡，痛卻減意，其血虛必服麻黃過劑，陽虛祛發動而上奔，當補血而鎮之，遂以四物湯減芎加人參五錢、五味子十二粒，以其味酸，收斂逆上之氣，作一帖服，至二帖喘定而安。後三日脈之數減大半，澀如舊，問其痛，則曰不減，然呻吟之聲卻無，察其氣似無力，自謂不弱，遂以四物湯加牛膝、白朮、人參、桃仁、陳皮、甘草、檳榔、生薑三片，煎服至五十帖而安復。因舉重痛復作，飲食亦少，亦以此藥加黃耆三錢，又十帖方全愈。大率痛風，因血受熱。一老人性急作勞，兩腿痛甚；一婦性急味厚，病痛風數月；一少年患痢，服澀藥，效致痛風（俱見《醫要》），一人足跟痛，有痰，有血熱，治用四物湯加黃柏、知母、牛膝之類。身虛癢痛四物加黃芩煎，調萍末服。凡治痛風，分在上、在下者治。因於風者，小續命湯極驗；因於濕者，蒼朮、白朮之類，佐以行氣藥；因於痰者，二陳湯加減用之。諸癢為虛，蓋血不榮肌腠，所以癢也。當以滋補藥，以養陰血，血和肌腠，癢自不作矣。</p>

<h2>傷食（第五十）</h2>
<p>惡食者，胸中有物，導痰補脾，二陳湯加白朮、山楂、川芎、蒼朮。飲食所傷，強胃消食，氣虛者枳朮丸。因酒為病或嘔吐，或腹脹，用葛花解酲湯。飲食多傷，為痞滿不食，寬中進食丸。一人因酒肉多發熱，青黛、栝蔞仁、薑汁，上三味搗，每日以數匙入口中，三日愈。一人因吃麵內傷吐血，熱頭疼：以白朮（一錢半）　白芍藥（一錢）　陳皮（一錢）　蒼朮（一錢）　茯苓（五分）　黃連（五分）　黃芩（五分）　人參（五分）　甘草（五分）　上作一服，姜三片煎。如口渴加乾葛二錢。再調理：白朮（一錢半）　牛膝（二錢半）　陳皮（一錢半）　人參（一錢）　白芍藥（一錢）　甘草（二分）　茯苓（五分）　又復調胃：白朮（二錢）　白芍藥（一錢半）　人參（一錢）　當歸（一錢）　陳皮（炒一錢）　黃芩（五分）　柴胡（三分）　升麻（二分）　甘草（些少）　一人因吃麵，遍身疼發熱，咳嗽有痰，用：蒼朮（一錢半）　陳皮（一錢）　半夏（一錢）　羌活（五分）　茯苓（五分）　防風（五分）　黃芩（五分）　川芎（五分）　甘草（二分）　上作一服，姜三片煎，半飢半飽時服。一人老年嘔吐痰飲，胸大滿，寒熱，因傷食起，半夏、陳皮、茯苓導飲，白朮補脾，柴胡、生甘草、黃芩退寒熱，加蒼朮散表寒，縮砂仁定嘔下氣。傷食藥：棠梂（三兩）　半夏（一兩）　茯苓（一兩）　連翹（五錢）　陳皮（五錢）　萊菔子（五錢）　上粥丸服。</p>

<h2>痞（第五十一）</h2>
<p>心下滿而不痛，謂之痞。食積兼濕，心下痞，須用枳實、黃連。痞挾痰成窠囊，用桃仁、紅花、香附、大黃之類。食已心下痞，橘皮枳朮丸。治痞滿方：黃芩（酒浸一兩）　黃柏（酒浸一兩）　滑石（五錢）　甘草（二錢）　上末之，水丸，午後至夜，不食不睡。治痞枳朮丸：白朮（二兩）　枳實（一兩）　半夏（一兩）　神麯（一兩）　麥芽（一兩）　山楂（一兩）　薑黃（五錢）　陳皮（五錢）　木香（二錢半）　上末之，荷葉飯丸。又枳朮丸助胃消食，寬中去痞滿：白朮（四兩）　枳實（二兩）　末之，荷葉燒飯為丸。大消痞丸：黃連（炒六錢）　黃芩（六錢）　薑黃（一兩）　白朮（一兩）　人參　陳皮（各二錢）　澤瀉（二錢）　甘草（炙）　砂仁（各一錢）　乾生薑（一錢）　神麯（炒一錢）　枳實（炒一錢）　半夏（四錢）　厚朴（三錢）　豬苓（一錢半）　上末之，蒸餅為丸。飲食多傷，為久滿不食，用寬中進食丸；心下痞，用消痞丸；食已不餓，皆屬於寒，此戊土已衰，不能腐熟水穀所致，用丁香爛飯丸；夏郁傷脾，不思飲食，炒黃連、酒芍藥、生莎末、青六末，用薑汁餅丸；濕痰氣滯，不喜谷，三補丸加蒼朮倍香附。回令丸，瀉肝火行濕為熱，甚之反佐開痞結，治肝邪補脾：黃連（六兩）　吳茱萸（一兩）　上末之粥丸。一人內多食積，心腹常膨脹：南星（薑製一兩）　半夏（栝蔞制一兩半）　其法，以栝蔞仁研和潤之，香附（便浸一兩）　青礞石（硝煅一兩）　蘿蔔子（蒸五錢）　橘紅（五錢）　麝香（少許）　上末之，曲糊丸。一飲酒人，胃大滿，發熱，夜譫語，類傷寒，右脈不如左大，補中益氣湯去耆、柴胡、升麻，加半夏。以耆補乘作滿，柴胡、升麻又升，故去之。服後病愈，因食涼物心痛，於前藥加草豆蔻數粒。一婦人痞結，膨脹不通，坐臥不安，用麥芽末酒調服，良久自通。</p>

<h2>噯氣（第五十二）</h2>
<p>胃中有火、有痰，入方：南星、半夏、香附、軟石膏，或湯或丸服之。一方：炒山梔。噫氣吞酸，此係食鬱有熱，火氣上衝動，以黃芩為君，南星、半夏為臣，橘紅為佐，熱多加青黛。</p>

<h2>吞酸（第五十三）</h2>
<p>濕熱鬱積於肝之久，不能自湧而出，伏於肺胃之間，必用糲食蔬菜以自養，必用茱萸順其性而折之，反佐法也。咽酸方：茱萸（五錢去梗煮少時，浸半日曬乾用）　陳皮（五錢）　蒼朮（七錢半泔浸）　黃連（一兩陳壁土炒，去土）　黃芩（五錢陳壁土炒，去土）　上為末，神麯糊為丸。治吞酸用黃連、茱萸，各炒隨時令造為佐使，蒼朮、茯苓為輔助，湯浸，蒸餅為小丸吞之，仍蔬菜自養則病易安。茱萸丸，治濕熱之帶氣者，濕熱甚者，用為嚮導，上可治吞酸，下可治自利，六一散一料，吳茱萸一兩煮過。一方去茱萸加乾薑一兩，名溫清丸；又方六一散七錢，茱萸三錢，消痰。一人數年嘔吐酸水，時作時止，便澀腸鳴：白朮、枳實、茱萸、蒼朮、縮砂、陳皮、茯苓、香附、貝母、生甘草、白豆蔻、滑石，上煎服。</p>

<h2>嘈雜（第五十四）</h2>
<p>痰因火動。有食、有熱。　梔子炒，並姜炒黃連不可無。食脘有熱，炒山梔、黃芩為君，南星、半夏、陳皮、甘草為佐，熱多者，加青黛。肥人嘈雜，宜二陳加蒼、白朮、梔、芎。心腹中脘水冷氣，心下嘈雜，腸鳴，多唾清水自出，脅肋急脹痛，不飲食，其脈弦、遲、細，半夏溫肺湯：細辛　陳皮　半夏　桂心　旋覆花　甘草　桔梗（以上各五錢）　赤茯苓（三錢）　芍藥（五錢）　生薑（七片），上作胃氣虛冷主治。</p>

<h2>勞瘵（第五十五）</h2>
<p>此陰虛之極，痰與血病，多有蟲者。虛勞身瘦屬火，因火燒爍故也。肉脫甚者，難治；不受補者，亦難治。治法以大補為主，四物湯加竹瀝、童便、薑汁。一加炒檗。陽虛者，四君子加麥冬、五味、陳皮、炒檗、竹瀝、童便、薑汁。虛勞即積熱做成，始健可用子和法；後羸憊四物加減送消積丸。熱助氣，不做陽虛，蒸蒸發熱，積病最多。調鼎方，紫河車丸治傳屍勞瘵；青蒿煎治勞瘵（二方俱見《醫要》）。傳屍勞瘵寒熱交攻，久嗽咯血，日見羸瘦，先以三拗湯，次以連心散。一男子勞弱，潮熱往來，咳嗽痰血，日輕夜重，形容枯瘦，飲食不美，腎臟虛甚：參　耆　白朮　鱉甲（各一錢）　當歸　五味　炒芩　炒柏　軟柴　地骨　秦艽　炒連　茯苓　半夏（各五分）　麥冬（七分半）　姜煎服就送下三補丸。一婦人勞瘵，四物加參、耆、柴胡、黃芩、鱉甲、地骨、甘葛、五味、甘草，水煎服。虛勞大熱之人，服芩、連寒藥不得者，用參、耆、歸、朮、柴胡、地骨、麥冬、五味、秦艽、芍藥、青蒿、半夏、甘草、胡連，上用生薑、烏梅煎服。一人年三十五，患虛損，朝寒暮熱，四君子湯加軟柴胡、黃芩、當歸、芍藥、川芎、地骨皮、秦艽。一人氣血兩虛，骨蒸寒熱交作，大便如常，脈細數，少食，八物湯加柴胡、知母、黃柏。</p>

<h2>諸虛（第五十六）</h2>
<p>大補丸去腎經火，燥下焦濕，治筋骨軟，氣虛補氣藥下，血虛補血藥下，黃柏酒炒褐色為末，水糊丸服。五補湯補心、肝、脾、肺、腎。蓮肉（去心）　乾山藥（蒸）　枸杞子　鎖陽（酒洗等分），上末之，加酥油少許，白湯點服。沉香百補丸：熟地（六兩酒洗）　黃柏（酒炒）　知母（酒炒）　人參（各二兩）　杜仲（炒）　當歸（各三兩）　菟絲（四兩酒浸）　沉香（一兩）　上末之，蜜丸，鹽湯下。下焦補藥，龍虎丸大效：上甲（醋炙六兩）　藥苗（酒蒸焙乾二兩）　側柏（二兩）　黃柏（酒炒半斤）　知母（鹽酒炒二兩）　熟地黃（二兩）　芍藥（二兩）　瑣陽（酒搗五錢）　當歸（酒浸五錢）　陳皮（去白二兩）　虎骨（酒浸酥炙一兩）　龜板（酒浸酥炙四兩）　上為末，酒煮羊肉為丸。冬月加乾薑。補腎丸治酒色痿厥之重者，湯使與大補丸同，冬月依本方，春夏去乾薑：乾薑（一錢）　黃柏（炒一兩半）　龜板（酒炙一兩半）　牛膝（一兩酒焙）　陳皮（半兩去穰）　上末之，姜糊丸，酒糊丸亦可，服八九十丸。補天丸，氣血兩虛甚者，以此補之，與補腎丸並行。虛勞發熱者，又當以骨蒸藥佐之。其方，以紫河車洗淨，以布拭乾，同補腎丸搗細，焙乾研末，酒米糊丸。夏加五味子半兩。虎潛丸治痿與補腎丸同：黃柏（酒炒半斤）　龜板（酥炙四兩）　知母（酒炒三兩）　熟地黃（二兩）　陳皮（二兩）　白芍藥（二兩）　鎖陽（一兩半）　虎骨（炙一兩）　乾薑（半兩）　上為末，酒糊丸，或粥丸。一方加金箔十片；一方加生地黃；懶言語加山藥。補血丸：炒黃柏、酒炒知母、酥炙敗龜板，各等分，乾薑三分之一，上末之，酒糊為丸。補虛丸：參、朮、山藥、杞子、鎖陽，為末糊丸。補陰丸：側柏（二兩）　黃柏（二兩）　山藥（二兩）　龜板（酒炙三兩）　黃連（半兩）　苦參（三兩）　上末之，冬加乾薑，夏加縮砂，以地黃膏為丸。又方：下甲（二兩）　黃柏（五錢）　牛膝（五錢）　人參（五錢）　香附（一兩）　白芍藥（一兩）　甘草（三錢）　縮砂（三錢，春不用）　上末之，酒糊為丸。又方：下甲（三兩）　黃柏（一兩）　上地黃細切，酒蒸擂碎為丸。又方：酒板（二兩）　黃柏（七錢半）　知母（半兩）　人參（三錢半）　川牛膝（一兩）　上為末，酒糊丸。又方：酒板（一兩）　黃柏（半兩）　知母（三錢）　五味子（二錢）　上末之，酒糊丸。抑結不散：下甲（五兩）　側柏（一兩半）　香附（二兩）　上末之，薑汁浸地黃膏丸，空心服之。三補丸，治上焦積熱，泄五臟之火，黃芩、黃連、黃柏，上為末，炊餅為丸。又方治酒色過度，傷少陰：黃柏（炒一兩半）　黃連（炒一兩）　條芩（炒半兩）　龜板（酒炙三兩）　上末之，冬加炒黑乾薑（三錢），夏加縮砂三錢，五味子半兩，蒸餅為丸，如桐子大，每服三十丸，食前白湯下。治陰虛：人參（七錢）　白朮（三錢）　麥門冬（半兩）　陳皮（一錢）　作一服，煎湯吞三補丸。治體弱肥壯，血虛脈大：龜板（三兩）　側柏（酒蒸七錢半）　生地黃（一兩半）　白芍藥（炒一兩）　烏藥葉（酒蒸七錢半）　上末之，以生地黃煮為膏，搗末為丸，以白朮四錢，香附一錢半煎湯吞之。益少陰經血，解五臟結氣，此方甚捷：山梔子炒，令十分有二分黑，為末，以薑汁入湯內同煎，飲之。五補丸：枸杞（五錢）　鎖陽（五錢）　續斷（一兩）　蛇床（微炒一兩）　兩頭尖（二錢半）　上為細末，酒糊為丸，淡鹽湯下三十六丸。鎖陽丸：龜板（一兩酒炙）　知母（酒炒一兩）　黃柏（酒炒一兩）　虎骨（酒炙二錢半）　杜仲（薑汁炒半兩）　鎖陽（酒浸半兩）　當歸（半兩）　地黃（半兩）　牛膝（酒浸二錢半）　破故紙（二錢半）　續斷（酒浸二錢半）。諸補命門之藥，須入血藥則能補精，陽生陰長之道故也，陽藥蓋散火多。補心丸：硃砂（二錢半）　栝蔞（半兩）　黃連（三錢）　當歸身尾（三錢半）　上末之，豬心血為丸。寧心益志丸：人參　茯神　牡礪　遠志　酸棗仁　益智仁（以上各五錢）　辰砂（二錢半）　上末之，棗肉為丸。安神丸：硃砂（一錢）　黃連（酒製一錢半）　甘草（炙半錢）　生地黃（五分）　當歸（一錢）　上為末，炊餅丸。男子補益脾胃腎虛弱：川附（炮一兩）　人參　白朮　五味子　當歸　續斷　山茱萸（去梗）　破故紙　肉蓯蓉（酒浸）　白芍藥（炒）　蓮肉（各一兩）　菟絲子（二兩）　鹿茸（酥炙）　沉香　肉桂（各二錢）　上末之，酒糊丸，空心鹽湯下。補陰丸：熟地（八兩酒洗）　黃柏（四兩酒洗）　當歸（酒洗）　菟絲子　肉蓯蓉（酒洗）　知母（酒洗）　枸杞（各三兩）　天門冬　龜板（酥炙）　山藥（各二兩）　五味（一兩半）　上末之，用參四兩，耆八兩熬膏，再用豬腎酒煮搗爛，同和為丸。固本丸：人參　生地　熟地　天冬　麥冬（各二兩）　黃柏　知母　牛膝　杜仲　龜板　五味　茯神　遠志（各一兩）　上末之，酒糊丸。（脾胃怯加白朮，明目加枸杞子。）</p>

<h2>寒熱（第五十七）</h2>
<p>寒熱病，凡陰虛者難治。久病惡寒，當用解鬱。惡寒，陽虛也，用人參、黃耆之類，甚者少加附子，以行參、耆之氣。背惡寒甚者，脈浮大無力者，是陽虛。虛勞冬月惡寒之甚，氣實者可下，亦宜解表，用柴胡、葛根。用蒼朮恐燥。陰虛發熱，四物湯加炒柏，兼氣虛者，加人參、白朮、黃耆；陽虛發熱，補中益氣湯；濕痰夜發熱，三補丸加白芍藥；氣虛發熱，參蘇飲。久病陰虛氣鬱，夜熱：酒芍藥（一兩二錢）　香附（一兩）　蒼朮（五錢）　片芩（三錢）　甘草（一錢半）　蒸餅為丸服。發熱有休止，或夜發晝止，晝發夜止，或巳午間發，或申未間發，小柴胡加參、術；渴加栝蔞根。如脈弱服前藥不減，補中益氣湯倍加參、耆、歸、術，多服自愈。發熱惡寒宜解表，發熱用柴胡，惡寒用蒼朮。氣稍虛，骨蒸發熱，或發寒，大便澀，脈實，能食，大便利則熱除，柴胡飲子。氣實表熱能食，脈弦無汗，而能睡者，或痰積寒熱，小柴胡湯。一人六月得患惡寒，大便結燥，不敢見風，人肥實，起居如常，大承氣湯。一婦人惡寒，用苦參、赤小豆各一錢為末，齏水吐後，用川芎、蒼朮、南星、酒芩，酒麴糊丸服之。一男子年二十三，因飲酒發熱，用青黛、栝蔞仁，研入薑汁，日飲數匙，三日而愈。一人，天明時發微寒便熱至晚，兩腋汗出，手足熱甚，則胸滿拘急，大便實而能食，似勞怯病者，脈不數，但弦細而沉，詢知因怒氣得者，但用大柴胡湯，惟胸背拘急不除，後用二陳湯加羌活、防風、黃芩、紅花。進士周本道年三十餘，得畏寒病，服附子數百而病甚，求治，脈弦而似緩，予以江茶入薑汁、香油些少，吐痰一升許，減綿太半，及與防風通聖散去大黃、芒硝，加地黃，百餘帖而安。周甚喜，予曰：未也燥熱，已多血傷，亦深須淡食以養胃，內觀以養神，則水可生而火可降，彼方勇於仕進，一切務外，不守禁忌。予曰：若多與補血涼藥亦可稍安，內外不靜，腎水不生，附毒必發病，安之後官於婺城巡夜，胃寒非附子不可療，而性怕生薑，只得豬腰子作片，煮附子三帖愈。予曰：可急歸，知其附毒易發，彼以為迂。半年後，果疽發背而死。一人年二十餘，九月間發熱頭痛，妄言見鬼，醫與小柴胡湯十餘帖，而熱愈甚。其形肥，脈弦大而數，左大甚，遂作虛治之。以人參、白朮為君，茯苓、芍藥為臣，黃耆為佐，加附子一片為使，與二帖證不減。或言脈數大，狂熱，又大渴，附子恐誤。予曰：虛甚，誤投寒涼之藥，人肥，而左大於右，事急矣，非附子一片，行參、術，烏能有急救乎？再與一帖，乃去附子而作大劑，與五十餘帖，得大汗而愈，自又補養兩月，氣體猶未安。一男子年十九，凡農作不憚勞，忽一日大發熱而渴，恣飲水數碗，次早熱退，目不識人，言謬誤自言，腹肚不能轉側，飲食不進，身轉掉不能。又至二日來告急。脈兩手澀而大，右為甚，於氣海灸三十壯，用白朮二錢、黃耆二錢、熟附一片、陳皮半錢，與十帖不效，反增發微渴，餘證仍在，卻進少粥，此氣豁和而血未應也。於前藥去附子，加酒歸以和血，因有熱加人參一錢半，與三十帖而安，鄭兄年二十餘，秋初發熱，口渴妄言，病似鬼邪。八日後，兩脈洪數而有力，形肥而白，筋骨稍露，脈搏手，必涼藥所致，此勞倦病，溫補自安。已得柴胡七八帖矣，未效，因與黃耆附子湯，冷與飲之，三帖後，微汗得睡，脈亦軟，後又繼之，以黃耆白朮湯調補十日安，又加陳皮，與半月復舊。呂親善飲不固，且好色，年半百，一日大惡寒，發戰，渴不多飲，脈大而弱，右關稍實略數，重則澀，蓋酒熱內郁，由表實而下虛也。以黃耆倍乾葛煎湯與之，盡五六帖，大汗而安。一婦人虛羸盜汗，惡寒，用吳茱萸雞子大，酒三升浸半日，煮服。面寒面熱，面寒，是胃熱，寒鬱熱也；面熱，是火起，困鬱而熱也。人有病，面上忽見紅點者，多死。</p>

<h1>卷五</h1>

<h2>咳血（第五十八）</h2>
<p>痰盛身熱，多是血虛，入方：青黛、栝蔞仁、訶子、海石、山梔，上為末，薑汁蜜丸，噙化。嗽甚者，加杏仁，後以八物湯調理。痰帶血絲出者，用童便、竹瀝。先吐紅，後吐痰，多是陰虛，火逆痰上，四物湯起料，加痰火藥。先痰嗽，後見紅，多是痰積熱，降痰火為急。肥人咳嗽，發寒熱，吐血，以瓊玉膏。一人因憂患病，咳吐血，面黧黑色，藥之十日不效，謂其兄陳狀元曰：此病得之失志而傷腎，必用喜解乃可愈，即求一足衣食地處之，於是大喜，即時色退，不藥而愈，所以言治病必求其本，雖藥得其所病之氣，宜苟不得其致病之情，則方終不效也。</p>

<h2>吐血（第五十九）</h2>
<p>火載血上，錯經妄行，脈大者發熱，喉中痛者是氣虛，用參、耆蜜炙、黃柏、荊芥、生地黃、當歸治之。嘔血用韭汁、童便、薑汁，磨鬱金同飲。火載血上，錯行妄行，用四物湯加炒山梔、童便、薑汁。山茶花、鬱金末，入童便、薑汁、酒，治吐血。經血逆行，或吐，或唾衄，或血腥，以韭汁服立效。痰帶血絲出，用童便、竹瀝，後用犀角地黃湯。又方：用韭汁、童便二物，另用鬱金細研，入二物內服之，其血自清。又方：治吐衄血上行，鬱金為末、薑汁、童便、好酒調服。如無鬱金，則以山茶花代之。吐血挾痰，吐出一碗、兩碗，只補陰降火，四物湯加火劑之類。挾痰者，用血藥，則泥而不行，治火即自止，吐血，火病也。或暴吐紫血一兩碗者，無慮，吐出好，此熱傷血死於中，用四物湯加解毒之類。吐血不止，炒黑乾薑末、童便調服。喉脘痰血，用荊芥散。舌上無故出血如線，槐花炒研末，干糝之，胃中清血，非藍實不除。山梔最清胃脘之血。吐血，覺胸中氣塞上，便吐紫血者，桃仁承氣湯下之。治吐血，以趾桂五錢為末，冷水調服。痰涎帶出血，此胃口中清血，為熱蒸而出。重者，用山梔；輕者，用藍實。治吐血以童便一分，酒半分，擂柏葉溫飲，非酒不行。咳嗽吐血，雞蘇丸或作湯服。血妄行，解毒四物湯。甚者，入炒乾姜數片。吐血用童便調香附末，或白芨末服之。吐血咳嗽：紅花　杏仁（去皮尖）　枇杷葉（姜炙去毛）　紫菀茸　鹿茸　炙桑白皮　木通（各一兩）　大黃（半兩），用蜜丸，噙化。血從上出，皆陽盛陰虛，有升無降，陽盛陰虛，故血不得下行，因炎上之勢，而上出，脈必大而芤。大者，發熱；芤者，血滯與失血。大法：補水抑火，使復其位，四物湯加炒山梔仁、童便、薑汁、鬱金、竹瀝。《大全良方》四生丸甚妙。不咳不唾血，散見口中從齒縫舌下來，每用益腎水、瀉相火治之，不旬日愈。一壯年患嗽（已見《醫要》）。</p>

<h2>咯血（第六十）</h2>
<p>用薑汁、童便、青黛入血藥中用，如四物湯、地黃膏、牛膝膏之類。傳屍勞瘵，寒熱交攻，久嗽咯血，日見羸瘦，先以三拗湯與蓮心散煎，萬不失一。又治咯血，用黑豆、陳皮、甘草煎服。</p>

<h2>衄血（第六十一）</h2>
<p>大抵與吐血同。大概是血被熱氣所逼，而隨氣上行，以散氣退熱為主。涼血行血為主。入方：以犀角地黃湯入鬱金同用，犀角、赤芍藥、牡丹皮、生地黃、如無犀角，升麻代之。經血錯行，或血腥，或吐血、唾血，用韭葉汁服之立效。大凡用犀角能解毒。衄血不止，以養胃湯煎服一帖見效。鼻衄嘔血，及傷寒強發少陰汗者，犀角地黃湯加黃芩。內傷病似傷寒證，汗下後衄血大出不止，真武湯。若煩躁吸水，脈沉細而微，足冷，面脫白紅色，此陽脫陰虛。</p>

<h2>溺血（第六十二）</h2>
<p>屬熱。血虛。溺血屬熱，炒山梔煎服，或小薊、琥珀。有血虛者，四物湯加牛膝膏。尿血實者，可下，當歸承氣湯下之，後以四物湯加炒山梔服之。婦女無故尿血，龍骨一兩，酒調方寸匕。大抵溲血、淋血、便血三者，雖以前後陰所出之不同，然於受病則一也，故治法分標本亦一也。其散血、止血，無殊於數十品之間，惟引導佐使，各得其鄉者，為少異耳。</p>

<h2>下血（第六十三）</h2>
<p>有熱、有虛。治血不可純用寒涼藥。當寒因熱用，必於寒涼藥中用辛味升溫之藥，如酒浸炒涼藥，酒煮黃連丸之類。有熱，四物湯加炒山梔、升麻、秦艽、膠珠。大腸濕熱下血，久屬虛，當溫散四物湯加炮乾薑、升麻。又方：用白芷、五倍子末，飯丸。又方：乾柿燒灰存性，米飲下二三錢。積熱便血：蒼朮（一兩半）　陳皮（一兩半）　黃連　黃柏　條芩（以上各七錢半）　連翹（五錢）　上末之，以生地黃膏六兩搜丸。又方：蒼朮　地黃　上同擂碎為細末，以飯為丸，忌鐵器。治便血過多，四物湯加蝟皮。又方：茄蒂燒灰存性，山梔炒研末，飯丸，每服百丸，米湯清早下。便血人，久遠傷血致虛，並麻風面生癬瘡：龜板　升麻　香附（以上各五錢）　白芍藥（一兩半）　側柏（一兩）　椿根皮（七錢半）　上末之，以粥為丸，用四物湯加白朮、黃連、甘草、陳皮等煎湯下之。脈緩大，口渴便血，月經紫色，勞傷而挾濕者：白朮（五錢）　地黃（三錢）　黃柏（炒三錢）　白芍藥　香附　地榆（以上各二錢）　黃芩（一錢）　上末之，炊餅丸。治大便下血效甚，《宣明方》地榆散。陽虛陰乏之人，久年便血，不時面帶黃柏皮色者，理中湯加附子，百草霜為丸服。戴云：咳血者，嗽出痰內有血者是也；嘔血者，嘔全血也；咯血者，每咯出皆是血疙瘩也；衄血者，鼻中出血也；溺血者，小便出血也；下血者，大便出血也。雖有名色之分，俱是熱證，但有虛實、新舊不同，或妄言寒者，誤也。</p>

<h2>腸風（第六十四）</h2>
<p>獨在胃與大腸出，多用黃芩、秦艽、槐角、升麻、青黛。有兼風者，蒼朮、秦艽、芍藥、香附。腸風方：蒼朮、滑石、當歸、生地、黃芩、甘草，定腸痛多用之。一方：大黃（煨過三錢）　當歸（半兩）　桃仁（三錢去皮尖）　蝟皮（一兩炙）　黃連（一兩炒）　秦艽（一兩）　槐角子（一兩）　檳榔（半兩）　皂角仁（五錢）　黃柏　荊芥穗（以上各五錢炒）　枳殼（五錢）　上為末，糊丸，如梧桐子大，每服五十粒，食前白湯下。鮮血下者，加棕毛灰、蓬房灰，上專治臟毒下血。腸癖下血，濕熱兩感，起居不節，為餐泄腸澼，涼血地黃湯。濕毒下血當歸和血散。腸風脫落車局鳩五七個，火焙乾為末，醋調刷上。</p>

<h2>痔漏（第六十五）</h2>
<p>專以涼血為主。漏瘡先服大劑補藥，以生氣血，參、耆、歸、朮、芎為主，外以附子末，津和作餅，如錢厚，安患處灸之，只令微熱，不可令痛，干則易之，再以乾者研末如前，作餅炙之。困倦且止，次日再炙，直至肉平為效，仍用前補氣血藥煎膏藥貼，或用附子片灸亦可。肢體上癰疽瘡癤，久不收口者，亦宜用此法。痔瘡大法，用條芩涼大腸，人參、黃連、生地、槐角、涼血生血，芎歸和血，枳殼寬腸，升麻升舉，外用五倍、朴硝、桑寄生、蓮篷，煎湯熏洗。腫者，用木鱉子、五倍子為末敷。一方：黃連二兩煎膏，更加等分芒硝，冰片一錢加入，痔瘡敷上即消。原有痔漏，就肛門又生一塊，皮厚腫作膿，就在痔孔出，作食積注下治之，黃連、阿魏、神麯、山楂、桃仁、連翹、槐角、犀角作丸服之。痔頭向上，是大腸熱甚，收縮而上，四物湯解毒，加枳殼、白朮、槐角、秦艽洗，用荊芥、朴硝、桑寄生，定痛、去風、解毒、涼大腸熱。如腫加五倍子、木鱉子。痔漏，涼大腸血，寬大腸，枳殼去穰入巴豆，鐵線纏煮透，去巴豆入藥，用丸子搗爛，用煎藥曬乾用。一方漏瘡：川芎（五錢）　細辛　白芷（以上各二錢半）　上為末，每日作湯服之。病在下則食前服，病在上則食後服。看瘡大小，取隔年黃麻根，刮去皮，捻成繩子入孔中，至不可入則止，日淺瘡外膏藥貼之。一人肛門生痔後不收口，有針竅三孔，勞力有膿，黃條芩、連翹、秦艽，上末之，曲丸。治痔方：雄、膽、片腦和勻貼之。治翻花痔，用荊芥、防風、朴硝，煎湯洗之，次用木鱉子、鬱金，研末入龍腦些少，水調敷。又方：用大蒜一片，以頭垢捻成餅子，先安頭垢餅於痔頭上，外安蒜片，艾灸之。取朽骨久疽，及痔漏中有孔者，取烏骨雞脛骨，以上等砒霜實之，鹽泥固濟，火煅通紅，取出，地上出火毒去泥，以骨研細為末飯丸，如粟大，以紙捻送入竅內，更以膏藥貼之。</p>

<h2>夢遺（第六十六）</h2>
<p>專主乎熱。脫精、帶下，與夢遺同法，青黛、海石、黃柏。內傷氣血，不能固守，以八物加減吞椿根丸。思想而得，其病在心，宜安神帶補。寒則堅凝，熱則流通，故遺精專主乎熱，用炒柏、蛤粉、青黛，夢遺加知母。夢遺帶便濁，時作時止者，心虛也。真珠粉丸和局方定志丸。一方補腎丸：陳皮（半兩）　黃柏（炒一兩半）　牛膝（一兩）　敗龜板（酒炙一兩半）　乾薑（二錢，春夏不用）　上末之，薑汁糊為丸。勞心大過者，鄭叔魯年二十餘，攻舉業，夜讀書，每四鼓猶未已，忽發病臥間，但陰著物，便夢交接脫精，懸空則無夢，飲食日減，倦怠少氣。蓋以用心太過，二火俱起，夜不得眠，血不歸腎，腎水不足，火乘陰虛，入客下焦，鼓其精房，則精不得聚藏而欲走，故於睡臥之間，因陰著物，由厥氣客之，遂作接內之夢，於是，上補心安神，中調脾胃升舉其陽，下用益精生陰固陽之劑，不三月而病安矣。有陰邪所著者，蔣右丞子每夜有夢，招予視之，連二日，診脈，觀其動止，終不舉頭，但俯視不正當人，此蓋陰邪相感，叩之，不肯言其所交之鬼狀，因問隨出入之僕，乃言一日至廟中，見一塑侍女，以手於其身摩之，三五日遂聞病此，於是即令人入廟，毀其像，小腹中泥土皆濕，其病即安。</p>

<h2>精滑（第六十七）</h2>
<p>專主乎濕熱。炒黃柏堅腎，知母降火，牡蠣、蛤粉燥濕。一方治精滑：良薑（三錢）　芍藥　黃柏（各二錢，燒灰存性）　椿根白皮（一兩半）　為末，糊丸，每服三十丸。</p>

<h2>濁（第六十八）</h2>
<p>主濕熱。雖有赤白之異，終無寒熱之分。河間云：天氣熱，水則渾濁，寒則澄澈清冷。由此觀之，濁之為病，濕熱明矣。赤濁屬血與熱；白濁屬氣與痰。赤由小腸，屬火故也；白由大腸，屬金故也。小便渾濁熱也，赤者心虛，多因思慮而得；白屬腎虛，過於嗜欲而得。治法，燥濕降火，珍珠粉丸好。又有升提之法甚妙。寒則堅凝，熱則流通，大率皆是濕痰流注，宜燥中宮之濕，用二陳湯加蒼朮、白朮，燥去其濕。赤者，乃是濕傷血，加白芍藥，仍用珍珠粉丸加椿根皮、滑石、青黛等，以曲糊作丸。一方加乾薑炒黑色，固而不走。珍珠粉丸：珍珠（二兩）　真蛤粉（一斤）　黃柏（一斤，新瓦上炒赤色）　上為末，丸如桐子大，每服百丸，空溫酒送下。脈弦者，是肝病，用青黛以瀉肝。半苓丸治白濁，半夏炒燥濕，茯苓分水。一本作豬苓。白濁久不止，此係火不守耳，炒知母、炒黃柏、附子，各等分，上末之，水丸。虛勞者用補陰丸，大概不用涼藥、熱藥。若肥白人，必多濕痰，以二陳湯去其濕，胃弱者兼用人參，以柴胡、升麻，升胃中之氣，丸藥用青黛、黃柏炒微褐色、滑石、炒乾姜炒微黑色、蛤粉，上末之為丸。胃中濕濁氣，下流為赤白濁，用柴胡、升麻、蒼朮、白朮入二陳煎服丸藥，宜用樗根末、蛤粉、乾薑、炒黃柏。專主胃中濁氣，下流滲入膀胱，青黛、蛤粉。一方治赤白濁：黃柏（炒黑一兩）　生黃柏（二錢半）　海石（三兩）　神麯（半兩）　上末之，水丸。有熱者，黃柏、滑石、青黛之類，上為末，水丸。燥濕痰方：南星、海石、神麯、半夏，各等分為丸，青黛為衣。張子原氣血兩虛，有痰，痛風時作，陰火間起，小便白濁或帶下赤白，方在前痛風中。治赤濁，五苓散合妙香散、二冬湯下定志丸方：遠志（去心苗二兩）　石菖蒲（三兩）　人參（三兩）　白茯苓（去皮三兩）　上末之，蜜丸，如桐子大，硃砂為衣，每服二十丸，食前米飲湯下，加至三十丸。凡濁氣即是濕痰，入方丸藥，用青黛、樗皮末、蛤粉、滑石、乾薑炒、黃柏炒褐色、上炒神麯，糊為丸。仍用前燥濕痰丸子，亦能治帶下病。戴氏論云：滑石利竅，黃柏治濕熱，青黛解熱，蛤粉鹹寒入腎，炒乾姜味苦，領肺氣下降，使陰血，生乾薑鹽制。一人便濁，常有半年，或時夢遺，形瘦作心虛，主治：定志丸與珍珠粉丸同服。一人健忘、白濁，治法同。嘗聞之先生論曰：白濁多因濕氣下流膀胱而成，赤白濁《靈樞經》所謂：中氣不足，溲便為之變是也。先須補中氣，使升舉之，而後分其臟腑氣血，赤白虛實以治，與夫其他邪熱所傷者，固在瀉熱補虛，設腎氣虛甚者，或火熱亢極者，則不宜峻用寒涼，必以反佐治之，要在權量輕重而已。</p>

<h2>淋（第六十九）</h2>
<p>淋有五，皆屬熱，解熱利小便為主。山梔子之類同虎杖、甘草，煎湯服。小薊湯，治下焦熱結血淋。又有腎虛極而淋者，當補腎精及利小便，不可獨瀉。　淋證不可發汗，汗之必便血。老人亦有氣虛者，人參、白朮中帶木通、山梔。亦有死血作淋者，牛膝膏亦能損胃不食，不宜多服。治淋，山梔去皮一兩炒，白湯送下。治氣虛淋，八物湯加黃耆同虎杖、甘草，煎湯服諸藥，中加牛膝。一方益元散加山梔、木通。夏月，以茴香煎湯調益元散服之。痰熱隔滯，中焦淋澀不通，玄明粉。血氣中有熱者，八物湯加黃柏、知母。婦人、男子淋閉，血藥不效者，川黃柏新瓦上焙，牡蠣火煅，上為細末，食前調服，或小茴香湯亦可。</p>

<h2>小便不禁（第七十）</h2>
<p>小便不禁遺失者，屬熱、屬虛。東垣謂：肺氣虛，宜安神養氣，禁勞役。安神養氣，用參、耆補之，不愈則有熱加黃柏、生地。</p>

<h2>小便不通（第七十一）</h2>
<p>氣虛、血虛、實熱、有痰，吐之以提其氣，氣升則水自降下，蓋氣承載其水也。氣虛，人參、黃耆、升麻等，先服後吐，或參、耆藥中，探吐之；血虛，四物湯先服後吐，芎歸湯亦可探吐；痰多者，二陳湯加木通、香附探吐；實熱者，當利。一婦人脾疼後，患大小便不通，此是痰隔中焦，氣聚下焦，用二陳湯加木通，初服，渣煎服探吐。氣壯實熱之人八正散，大便動，小便自通。小便因熱鬱不通，赤茯苓、黃芩、澤瀉、車前子、麥門冬、桂、滑石、木通、草梢。氣虛痛者，加木香、黃耆；淋痛者，加黃柏、生地黃，夏月調益元散。痰隔中焦，二陳湯煎大碗頓服，調其真氣而吐之。否則用沙糖湯，調牽牛頭末二錢服之。傷寒後，脫陽而小便不通，茴香調生薑自然汁敷小腹上，服益志茴香丸，並益元散服之。一人燥熱傷下焦，致小便不利，當養陰，當歸、地黃、知母、黃柏、牛膝、茯苓、生甘草、白朮、陳皮之類。一婦人年五十，患小便澀，與八正散，則小腹轉急脹不通，身如芒刺，余以所感霖淫雨濕，邪在上表，因用蒼朮為君，附子佐之發其表，一服即汗，小便即時便通。一男子年八十，患小便短澀，因服分利藥太過，遂致閉塞，涓滴不出。余以飲食太過傷胃，其氣陷於下焦，用補中益氣湯，一服小便即通，因先服多利藥損其腎氣，遂至通後遺溺，一夜不止息，補其腎然後已。有熱宜清；有濕宜燥；有氣結於下宜升。有隔二隔三之治。如因肺燥不能生水，則清肺金，此隔二；如不因肺燥，但膀胱有熱，則直瀉膀胱火，此正治；如因脾濕不運，精氣不升，故肺不能生水，則當燥脾，此隔三也。清肺用車前子、茯苓之類；瀉膀胱用黃柏、知母之類；健脾燥脾用蒼朮、白朮之類。又諸法治不通，則用吐法，蓋氣承載其水耳吐之則氣升，氣升則水降。</p>

<h2>大便秘結（第七十二）</h2>
<p>有虛、有風、有濕、有火、有津液不足、有寒、有氣結。有此者，多面黃可候，切不可一例用硝黃等藥；巴豆、牽牛亦不宜例用，當審大法，陽方主潤燥，陰方主開結。用郁李仁、桃仁、羌活、大黃、當歸、麻子仁，上為末，或少加木香、檳榔亦可。大腸燥結不通，潤腸湯，一名當歸潤腸湯。幽門不通，上衝吸門噎塞，大便燥秘，通幽湯。又有脾胃中伏火，便秘乾燥，不思飲食，及風結、血結，皆令閉塞也，以潤燥、和血、疏風自通，治以潤腸丸。濕熱為病，大便燥結，神芎丸。大便秘，不通燥結，活血潤燥主之。有熱者，大承氣湯。胃中停滯寒冷之物，大便不通，心腹作痛者，備急丸；食傷太陰，氣滯不運為病者，木香檳榔丸。大腸虛秘而熱，白芍藥（一兩半）　陳皮　生地　當歸身（以上各一兩）　甘草（五錢）　上末之，粥丸，白湯下。論中有治腹脹而不通者，用杏仁、蔥白、鹽，於臍上摩之；又有皂莢、白梅肉蜜丸納之，或用其汁入蜜熬為丸，或用汁和糯米炒，燥存性，以糖為丸，或止用蜜烏梅肉，皆可納肛門中，皆開風熱結燥之藥故也。</p>

<h2>關格（第七十三）</h2>
<p>關則不得小便，格則吐逆。此證多死，寒在上，熱在下。必用吐，提其氣之橫格，不必出痰亦可，蓋用二陳湯吐之，吐中有降之義。有中氣虛不運者，補氣藥中升降，脈兩寸俱盛四倍以上。戴云：關格者，調膈中覺有所礙，欲升不升，欲降不降，飲食不下，此為氣之橫格。</p>

<h2>癇證（第七十四）</h2>
<p>癇不必分五等，專主在痰，多用吐法。有驚、有痰、有火，大率行痰為主。入方：黃連、南星、半夏、栝蔞。尋痰、尋火，分多少治，無有不愈者。分痰與熱，有熱者，以涼藥清其心；有痰者，必用吐藥，後用東垣硃砂安神丸。大概此證必用吐，吐後用平肝之藥，青黛、柴胡、川芎之類，一本或龍薈丸。假如癇因驚而得，驚則神出其舍，舍空則痰聚也。錢氏瀉青丸、牛黃清心丸俱治癇。</p>

<h2>健忘（第七十五）</h2>
<p>主心脾，宜歸脾湯、定志丸。精神短少者，多用安神丸之類，亦有痰迷心竅者。戴云：健忘者，為事有始無終，言談不知首尾，此為病之名，非比生成愚頑不知世事者也。</p>

<h2>怔忡（第七十六）</h2>
<p>大概屬血虛，有憂慮便動。屬虛血少者，多時作時止者，痰因火動。瘦人多因是血少；肥人屬痰。尋常者多是痰；真覺心跳者，是血少。四物湯、安神丸之類。怔忡者，心不安，惕惕然如人將捕者。</p>

<h2>驚悸（第七十七）</h2>
<p>血虛，用硃砂安神丸治之。一方治驚悸，定志丸加琥珀、鬱金。痰迷心膈，治痰藥皆可。</p>

<h2>煩躁（第七十八）</h2>
<p>大率血少不能潤澤，理宜養陰為最，治煩躁不得眠者，六一散加牛黃服之。內傷病似真傷寒，至五七日汗後復熱，入夜煩躁喚水者，補中益氣湯加附子。內傷病似傷寒，三戰後，勞乏煩躁昏倦，四君子湯加當歸、黃耆、知母、麥門冬、五味子。如甚者，脈細數無序，三更後吃水直至天明，此元氣虛，用竹葉湯，煎此藥，大劑服之。內傷似傷寒，煩躁不絕聲，汗後復熱，脈細數，五七日不睡，補中益氣加人參一兩，用竹葉同煎。甚加麥門冬、五味子、知母。火入肺為煩，入腎為躁，俱在於上，皆心火為之。火旺，則金爍水虧，惟火獨在，故肺腎合而為煩躁。</p>

<h2>心病（第七十九）</h2>
<p>心氣虛怯之人，怔忡或煩亂，或健忘，或失心後，神癡不清，辰砂安神丸。心風氣熱痰盛者，滾痰丸。心病，鬱金、豬牙皂角、白礬、蜈蚣。人壯氣實，火盛癲狂者，可用正治，或朴硝冰水飲之。虛火盛狂者，以薑湯與之，若投冰水，立死。火急甚者，生甘草緩之能瀉火，參朮亦可。凡氣有餘，是火；不足，是氣虛。一人年壯肥實，心風癡，吐後與此：貝母　栝蔞　南星　黃連（各一兩）　鬱金　天麻　青子　生甘草　枳實　連翹　苦參（各半兩）　白礬　皂角（各二錢）　上作丸，服後用蜈蚣黃、赤各一條（香油炙黃）　芎　防南星　白附　白礬　牙皂（各一兩）　鬱金（半兩）　上丸，硃砂為衣。癲狂病，癲屬陰，多喜狂；屬陽，多怒。脈實，死；虛者，可治，大概多因痰結心胸間，治當鎮心神，開痰結。亦有中邪而為此疾者，則以治邪法治之。然《原病式》所論尤精，蓋世以重陰為癲，重陽為狂，誤也，大概皆是熱耳。</p>

<h2>塊（一名積瘕第八十）</h2>
<p>塊，在中為痰飲；在右為食積；在左為死血。氣不能作塊，成聚塊乃有形之物。痰與食積、死血，用藥醋煮海石、醋煮三稜、醋煮蓬朮、桃仁、紅花、五靈脂、香附，石鹼為丸，白朮湯下。一本有針沙。瓦龍子能消血塊、亦有痰。凡治塊，降火消食積，積即痰也。行死血塊去，必用大補。咸治痰積，有塊用之，洗滌垢膩。一方治一切積聚癥瘕，用蜀葵根煎湯去粗，再煎人參、白朮、陳皮、青皮、甘草梢、牛膝成湯，入細研桃仁少許及玄明粉，熱飲之，二服可見積塊下。病重者，補接之後，加減再行法。大法，咸以軟之，削以消之，行氣開痰為要。一方貼積聚塊，大黃二兩，一本一兩，朴硝一兩各為末，用大蒜搗和成膏，貼之，後乾用醋調，再貼。塊在皮裡膜外，須補氣藥兼香附開之，兼二陳。婦人死血、食積、痰飲成塊，或在兩脅，動作腹鳴、嘈雜、眩暈、身熱，時發時止：黃連（一兩，半兩用吳茱萸同炒，半兩用益智炒，去二藥只用連）　山梔（半兩炒）　臺芎（半兩炒）　香附（一兩或作半兩，童便浸）　蘿蔔子（一兩半炒）　山楂肉（一兩）　三稜（五錢）　蓬朮（半兩醋煮）　桃仁（半兩，留尖去皮）　青皮（半兩，或作麥皮曲半兩）　上為末，蒸餅丸。一方有神麯五錢，白芥子一兩半，瓦龍子一兩醋煅。凡積病下亦不退，當用消積藥融化，開則消。治脅痛有塊：龍薈丸（二錢半）　片薑黃（半兩）　桃仁（半兩）　上末之，蜜丸。又方，龍薈丸和白鴿糞，能大消食積。或入保和丸治塊，看在何部分。諸塊虛中，塊攻脹，無可奈何，不可用攻戰之藥，四君子湯加半夏、陳皮，作大劑服之，候元氣平復，卻用攻藥。治痞塊，木鱉，一云殼二十一個，用獖豬腰子批開煨熟，搗爛，入黃連末三錢，為丸，如綠豆大，每服三十丸。腹中臍下氣作痛：木香　檳榔　三稜　莪朮　青皮（各半兩）　木通（半兩）　黃連（炒半兩）　陳皮（半兩）　縮砂　紅豆（各三錢）　香附（一兩）。血分肝經塊痛，末子藥服亦好，丸子尤好：當歸（半兩）　紅花（炒一錢）　桃仁（二十個去皮尖）　玄胡索（擂半兩）　赤芍藥（半兩）　沒藥（三錢）　乾漆（半兩炒煙盡）　或大便燥，加熟大黃。凡人上、中、下有塊，是痰，問其平日好食何物，以相制之藥消之，吐後用藥。一人心胸痰滿如一塊，攻塞不開：白朮（一兩）　南星　貝母　神麯　山楂　薑黃　陳皮　茯苓（以上各五錢）　山梔（半兩）　香附（一兩）　蘿蔔子　皂角刺（以上各三錢）　上末之，薑餅丸。一人小腹塊：栝蔞　貝母　黃芩　南星　白朮（各一兩，以上一作各半兩）　香附（醋煮一兩）　熟地黃　當歸　玄胡索　桃仁（以上各五錢）　三稜　蓬朮（以上醋煮各五錢）　上末之，曲丸。千金硝石丸磨塊，三聖膏貼塊（俱效）。嘗記先生治一婦人小腹中塊，其脈澀，服攻藥後脈見大，以四物湯倍白朮、陳皮、甘草為佐使，脈充實，間與硝石丸，兩月塊消盡。一人年六十，素好酒，因行暑中得疾，冷膝上，上脘有塊，如掌牽引，脅痛不得眠，飲食減，不渴，已自服生料五積散三帖，六脈俱沉澀而小，按之不為弱，皆數，右甚，大便如常，小便赤，遂用大承氣湯減大黃之半而熟炒，加黃連、芍藥、川芎、乾葛、甘草作湯，栝蔞仁、半夏、黃連、貝母為丸，至十二帖，足冷退，塊減半，遂止藥，至半月病悉除。積聚當分陰陽，積者，其發有根，其痛有常處，脈結伏；聚者，其發無根，其痛無常處，脈浮結，由陰陽不和，臟腑虛弱，四氣、七情失常所致也。</p>

<h2>茶癖（第八十一）</h2>
<p>石膏、黃芩、升麻，上為末，沙糖調服之。一人愛吃茶、白朮、軟石膏、片芩、白芍藥、薄荷圓葉大者，膽星研末，沙糖調作膏，食後津液化下。</p>

<h2>疝（第八十二）</h2>
<p>濕熱痰積流下作痛，大概因寒鬱而作，即是痰飲食積並死血，專主肝經，與腎經絕無相干，不宜下。㿗疝濕多，灸大敦穴。食積與瘀血成痛者，梔子、桃仁、山楂、橘核、一作枳實、茱萸，以生薑汁，順流水作湯調下。按之痛不定者，屬虛。用桂枝、山梔（炒）、烏頭（必細切，炒為末），薑汁丸，薑湯服三五十丸，以劫痛。治諸疝方，定痛速效：橘核（五十個）　山梔（炒）　山楂（炒）　茱萸（炒），濕勝者加荔核，等分，丸服之。凡治㿗要藥不痛者：蒼朮（一兩）　南星（一兩）　白芷（一兩散水）　山楂（一兩）　川芎（三錢）　枳子（一作枳實三錢）　半夏（三錢）　上為末，神麯糊丸。有熱加炒山梔一兩，堅硬加朴硝半兩，秋冬加茱萸三錢半（一作三錢半）。治疝荔核、枸橘核，燒灰為末，酒下。治諸疝發時，海石、香附，二味為末，以生薑汁調下，亦治心疼。治疝：橘核、桃仁、梔子、茱萸、川烏，上研末，煎服之。枳核散單止痛，枸橘核能治木腎。疝病有水氣。濕熱兩種。而腫者又有挾虛而發者，當用參、術為君，佐以疏導之藥，其脈沉緊豁大者是。或問，治一人病後飲水，患左丸痛甚，灸大敦，適有摩腰膏，內用烏、附子、麝香，將以摩其囊上，抵橫骨端，多濕帛覆之，痛即止，一宿，腫亦消。予舊有柑橘積後，山行飢甚，遇橘芋食之，橘動舊積，芋復滯氣，即時右丸腫大，寒熱。先服調胃藥一二帖，次早注神，使氣至下焦，嘔逆覺積動，吐復吐後，和胃氣疏通經絡乃愈。治木腎方：採雄楮樹葉曬乾為末，酒糊為丸，空心鹽湯下。外以一法，枇杷葉、野紫蘇葉、蒼耳葉、水晶葡萄葉、椒葉、濃煎湯熏洗。治木腎不痛，南星、半夏、黃柏酒炒、蒼朮鹽炒、山楂、白芷、炒曲、炒滑石、茱萸、昆布、枸橘。疝病、黃病久者，皆好倒倉。疝氣作痛，小便秘澀，五苓散加川楝子為細末，空心服二錢。有人請問下部㿗氣不痛之方，彼時實許之矣。細思，若非痛斷厚味與房事，不可用藥，惟促其壽。若蒼朮、神麯、白芷、山楂、川芎、枳子、半夏，皆要藥也，其藥皆鄙賤之物，以啟其慢心，人不能斷欲，以愛護其根本，反陷其病，陳彥正之禍，得罪多矣。且藥隨時月令，況更換君臣佐使，由是不敢僭寧犯食言之罪，因筆及之。治疝痛方：山楂（炒四兩）　枳核　茴香　山梔（以上炒各二兩）　柴胡（一兩）　牡丹（一兩）　桃仁（炒一兩）　大茴香（炒一兩）　吳茱萸（炒半兩）　上作丸服。治疝時作急痛方，蒼朮鹽炒、香附鹽炒、黃柏酒炒，為君；青皮、玄胡索、桃仁為臣；茴香為佐；益智、附子鹽炒、甘草為使，上為末，作湯服，後一痛過，再不復作矣。治腎氣方：茴香　破故紙（以上各五錢）　吳茱萸（鹽炒五錢）　胡蘆巴（七錢半）　上為末，用蘿蔔子擂汁為丸，鹽湯下。肥人腫疝作痛者，外熱內寒，五苓散加茴香。一人㿗疝：山梔　山楂　枳實　香附　南星　川楝（以上各一兩）　海藻　桃仁（以上各七錢半）　吳茱萸（二錢半）　上末之，薑餅丸。一人疝痛心痛：山梔（炒二兩）　香附（一兩）　蒼朮　神麯　麥芽（以上各五錢）　半夏（七錢）　烏頭　石鹼（以上各三錢）　桂枝（一錢半，春去之）　上末之，炊餅丸，如綠豆大，每服百丸，薑汁鹽湯下。一人疝，痛作腹內塊，痛止則塊止：三稜（醋煮一兩）　蓬朮（醋煮一兩）　神麯　麥芽（以上炒各一兩）　薑黃（一兩）　南星（薑製一兩）　白朮（二兩）　木香　沉香（以上各三錢）　山梔　枳核（以上各五錢炒）　上末之，薑餅丸。劫藥神妙，烏頭細切炒，梔子仁炒，宜加減用。此蓋濕熱，因寒鬱而發，用梔子仁以去濕，用烏頭以破寒鬱，況二味皆下焦之藥，而烏頭又為梔仁所引，其性急速，不容停留胃中也。</p>

<h2>耳（第八十三）</h2>
<p>耳聾、耳鳴，有痰、有火、有氣虛。耳聾，少陽、厥陰熱多，皆屬於火，宜開痰散風熱，通聖散、滾痰丸之類。大病後耳聾，須用補陰與降火，有陰火動而耳聾者，同法，四物湯加黃柏之類。一方，雄鼠膽汁滴入耳中。聾病必用龍薈、四物養陰。亦有濕熱痰者，檳榔、神芎。耳中哄哄然，亦是無陰者。耳因鬱而聾，以通聖散，納大黃用酒煨，再用酒炒三次，然後入諸藥，通用酒炒。多飲酒之人耳鳴，木香檳榔丸。耳鳴因酒過者，用大劑通聖散加枳殼、柴胡、大黃、甘草、南星、桔梗、青皮、荊芥，不愈四物湯。耳鳴必用當歸聲薈丸，食後服。氣實人檳榔、神芎下之。耳濕腫痛，涼膈加酒炒大黃半兩、酒浸黃芩、防風、荊、羌，吹以腦多麝少，濕加白枯礬。耳膿不幹，輕粉、黃柏末、海飄硝吹入。耳爛，貝母未乾滲。耳中出膿用桃花散，其方以枯白礬、胭脂各一錢，麝香一字，上末之，用綿杖子蘸藥，捻之取干。耳熱暴痛，枯白礬吹入耳中，青箬燒灰，吹入尤妙。</p>

<h2>鼻（第八十四）</h2>
<p>酒齄鼻，血熱入肺，以四物湯加陳皮、酒紅花、酒炒黃芩，煎，入好酒數滴就調，炒五靈脂末服之，效。又方：用桐油入黃連，以天吊藤燒油，熱敷之。或問酒齄病為名，必飲熱酒所致乎？曰：不然，非飲酒者亦病之。蓋鼻者肺之竅，而足陽明挾鼻上至目內眥，其位居面之中，中又屬土，為呼吸氣息出入之門戶。然氣血之精明，皆上注於面，入於其竅，是故胃中濕熱，與中焦所化之血，上輸其肺，隨呼吸之息，熏蒸鼻端，凝結皮膚，遂成紅赤，甚則盈面不獨在鼻也。予嘗用凌霄花為末，和密陀僧用唾調敷，甚驗。又方用蒼耳葉，酒蒸為末調服，最解熱毒。治鼻淵，南星、半夏、蒼朮、白芷、神麯、酒芩、辛夷、荊芥。鼻息肉，胃中有食積，熱痰流注，治本當消食積，外以胡蝶礬二錢，細辛一錢、白芷半錢，納鼻中，每用少許。面鼻得冷而黑，須用清熱化滯，滋生新血，血能自運，色乃可改，以四物湯酒製過，加酒片芩、陳皮、生甘草、酒紅花、生薑煎，下五靈脂末，飲之。氣弱形肥者，加酒黃耆亦效。</p>

<h2>腳氣（第八十五）</h2>
<p>須用提其濕在下之藥，隨氣血用。入方：生地黃、酒洗黃柏、酒炒蒼朮、鹽炒黃連、白朮、防己、檳榔、川芎、木通、陳皮、甘草梢、犀角屑。有熱加芩連；有痰加竹瀝、薑汁；大熱及時令暑熱，加石膏；大便實難者，加桃仁；小便澀者，加杜牛膝。有食積流注用蒼朮、黃柏、漢防己、南星、川芎、白芷、犀角、檳榔，上末為丸。血虛加牛膝、敗龜板，曲糊丸。如常腫者，專主乎濕熱，朱先生另有方。有腳氣衝心者，乃血虛而有火氣上行，宜四物湯加炒黃柏，再於湧泉穴用附子為末，津拌如小錢大，貼之，以艾火灸，泄引其熱。轉筋皆屬血熱，左金丸降肝火。腳氣腫者，枳實、大黃、當歸、羌活。肢節煩疼，肩背沉重，胸膈不利，及遍身疼痛下注於足脛腫痛，當歸拈痛湯。諸濕客於腰膝重痛，足脛浮腫，除濕丹：乳香　沒藥（以上各一兩研）　牽牛頭末（半兩）　檳榔　威靈仙　赤芍藥　澤瀉　葶藶　甘遂（以上各二兩）　大戟（三兩）　陳皮（六兩去白）　上末之，糊丸。腳氣從濕從下，以治濕治氣，紫蘇、炒柏、芍藥、木瓜、澤瀉、木通、防己、檳榔、蒼朮、枳殼、甘草、香附、羌活。痛多加木香；腫多加大腹皮；發熱加黃連。腳弱筋痛：牛膝（二兩）　白芍（一兩半）　酒柏　知母　甘草（炒各五錢），酒糊丸服。濕痰腳氣，大便滑泄：蒼朮（二兩）　防風　檳榔　滑石（各一兩）　香附（八錢）　川芎（六錢）　條芩　木通（各四錢）　甘草（三錢）　或丸或散皆可。健步丸方：生地（一兩半）　歸尾　陳皮　芍藥　牛膝　蒼、白朮（各一兩）　茱萸　條芩（各五錢）　大腹子（三錢）　桂枝（二錢）　為末作丸，每服百丸，通草湯食前下。一婦人足痛腫者，生地、炒柏、南星、芎、蒼、牛膝、龍膽、紅花酒洗。一人筋動於足大指，漸漸上□□□至近腰結了，奉養厚，因飲□□□濕熱傷血，四物加黃芩、紅花□□。一男子年近三十，厚味多怒，□□□髀樞左右發痛一點，□靜□□□處惡寒，或渴或不渴，膈或□□□風藥無血補藥至次春膝□□□甚食減，形瘦至春末，膝腫□□□可屈伸，脈弦大頗實寸澀□□□皆數短，其小便數少，遂作□□□積在太陰陽明，治之其詳□□□條下。</p>

<h1>卷六</h1>

<h2>痿（第八十六）</h2>
<p>有熱、濕痰、血虛、氣虛。專主養肺氣，養血清金，不可作風治。濕熱，東垣健步丸，加芩、柏、蒼朮。健步丸方：羌活　柴胡（以上各五錢）　滑石（五錢炒）　甘草（炙五錢）　天花粉（酒洗五錢）　防風（二兩）　澤瀉（三錢）　防己（酒洗一錢）　川烏（一錢）　苦參（酒炒一錢）　肉桂（半錢）　上末之，酒糊丸，每服七十丸，空心煎，愈風湯下。濕痰，二陳加蒼朮、白朮、芩、柏、薑汁、竹瀝。血虛，四物加芩、柏、蒼，下補陰丸。氣虛，四君子加芩、柏、蒼朮之類。亦有死血者，亦有食積妨礙不得降者，大率屬熱，用參、朮、四物、黃柏之類。壯人痿，涼膈散；老人並虛人痿，八味丸。一村夫背傴僂而足攣（見《醫要》）。《素問》）痿有五等，諸痿皆起於肺，熱入五臟，散為諸症，大抵只宜補養。若以外感風邪治之，寧免虛虛實實之禍乎？或問治痿之法，取陽明一經何也？先生曰：諸痿生於肺熱，只此一句便見治法大意，經曰：東方實，西方虛，瀉南方，補北方，以此，因就生克言補瀉，而大經大法不外於此。蓋東方木，肝也；西方金，肺也；南方火，心也；北方水，腎也。五行之中，惟火有二，腎雖有兩，水居其一，陽常有餘，陰常不足，故經曰：一水不勝二火，理之必然。金，體燥而居上，主氣，畏火者也；土，性濕而居中，主四肢，畏木者也。火性炎上，若嗜欲無節則水失所養，火寡於畏而侮所勝，肺金得火邪而熱矣；木性剛急，肺受邪熱，則金失所養，木寡於畏而侮脾土，得木邪而傷矣。肺熱則不能管攝一身，脾熱則四肢不為用，而諸痿之病作矣。瀉南方肺金清，而東方不實，何脾傷之有？補北方則心火降，而西方不虛，何肺傷之有？故陽明實，則宗筋潤，能束骨而利機關矣。治痿之法無出於此。絡氏亦曰：風火相熾，當滋腎水。東垣取黃柏為君，黃耆等補藥為輔佐，而無一定之方。有兼痰積者，有濕多者，有熱多者，有濕熱相半者，有挾寒（一作氣）者，臨病制方。其善於治痿乎，雖然藥中肯綮矣，若將理失宜，聖醫不治也。夭產作陽，厚味發熱，先哲格言。但患痿之人，若不淡泊食味，吾知其必不安全也。大補丸去腎經火，燥下焦濕，治筋骨軟。如氣虛用補氣藥下，血虛補血藥下，並不單用。補腎丸、虎潛丸皆治痿，服法與大補丸同。黃柏、蒼朮治痿之要藥也。一人陽痿：知母　黃柏（以上各炒一兩）　枸杞（一兩）　牛膝（酒浸一兩）　杜仲（姜炒一兩）　人參（一兩）　山藥（一兩）　龜板　虎骨（以上炙一兩）　續斷（酒洗一兩）　鎖陽（二兩）　當歸（二兩）　菟絲子　五味子　陳皮（以上各五錢）　白朮（一兩）　一方有蓯蓉二兩，去白朮、陳皮　上末之，糊丸。一人年二十餘，前陰玉莖挺長腫而痿，皮塌常潤，磨股不能行，兩脅氣上，手足倦弱。先以小柴胡大劑，加黃連行其濕熱，次略與黃柏降其逆上之氣，其腫收減及半，但莖中有一塊硬未消，遂以青皮一味為君，少加散氣（一作散風）之劑，未服，外以絲瓜汁調五倍末，敷之而愈。</p>

<h2>痓（第八十七）</h2>
<p>大率與癇相似，比癇為虛，治宜帶補。氣虛有火兼有痰，人參、竹瀝之類，切不可作風治而兼用風藥。治酒多風搐：白朮（五錢）　人參（二錢半）　甘草（三錢）　陳皮　蒼朮（以上各一錢）　天麻（細切，酒浸一錢）　白芍藥（酒浸一錢）　防風（五分）　川芎（五分）　上為末，作丸。如小便多加五味子。</p>

<h2>手足心熱（第八十八）</h2>
<p>屬熱鬱，用火鬱湯。葛根　柴胡　白芍藥（以上各一兩）　甘草（炙一兩）　防風（五錢）　升麻（一兩）　每服三錢，入蔥白三寸，煎，稍熱服。又方：梔子、香附、白芷、蒼朮、半夏、川芎，上末之，麵糊丸。火鬱，手足心發骨蒸，草還丹。</p>

<h2>手足麻木（第八十九）</h2>
<p>麻是氣虛，木是濕痰死血。東垣云：麻木，氣不行也，當補肺中之氣。一婦人，體肥氣鬱，舌麻眩暈，手足麻，氣塞有痰，便結，涼膈散加南星、香附、臺芎開之。</p>

<h2>厥（第九十）</h2>
<p>有陽厥，有陰厥。陽衰於下即寒，陰衰於下即熱。《原病式》中詳之。以氣血虛為主，有痰、有熱。治痰，白朮竹瀝；治熱，承氣湯，因外感解散加薑汁酒。氣虛，脈細；血虛，脈如蔥管；熱厥，脈數；外感，脈浮；實痰脈弦。一婦人年三十餘，面白形長，心中常有不平事。忽半夜誕子，才分娩便暈厥，不知人，遂急於氣海灼火十五壯，而蘇後以參、術等藥兩月而安。一婦人年十九，氣怒事不發，一日忽大發，叫而欲厥，蓋痰閉於上，火起於下而上衝，始用：香附（五錢）　生甘草（三錢）　川芎（七錢）　童便　薑汁煎服　後又用青黛、人參、白附子為丸，少愈不除，後用大吐乃安。吐後用導痰湯加姜炒黃連、香附、生薑下龍薈丸。</p>

<h2>諸目疾（第九十一）</h2>
<p>至寶膏，治暴發熱壅有翳者甚效，用：蕤仁（去油）　硼砂（各一錢）　辰砂（三分）　冰片（一分）　共為極細末，蜜調點之。治爛眶眼用：薄荷、荊芥、細辛，等分，為粗末，燒取煙燼，點眼。其法如香燒之，以青碗塗蜜少許覆煙上，待煙燼為度，以瓷器收藏，凡眼有風熱多淚者，皆可點之。平風止淚散，歌曰：風熱淚更兼疼，蒼附芎辛荷芷停，木賊夏枯防國老，煎湯服餌即安寧。又方點藥，用寒水石捶碎，以童便浸七日，曬七日，再浸七日研末，每一兩加真輕粉五分，再研極細，又夜露七宿，曬七日，臨用加冰片少許，點之。治血虛眼，用生熟地黃丸：生、熟地黃（各二兩）　石斛　玄參（各一兩）　末之，蜜丸。冬月眼暴發痛，亦當解散不可用涼藥。黑睛有翳，皆用黃柏、知母。眼睛痛，知母、黃柏瀉腎火，當歸養陰，羌活引經。眼中風淚，食後吞龍薈丸數粒，日三服。一人病眼，至春夏便發，當作郁治：黃芩（二兩酒浸）　南星（薑製二兩）　香附　蒼朮（以上便浸二兩）　連翹（二兩）　山梔（炒一兩）　導芎（便浸一兩半）　陳皮（酒浸半兩）　草龍膽（酒蒸半兩）　蘿蔔（半兩）　青黛（半兩）　柴胡（三錢）　上末之，曲糊丸。一人眼內陷：生地　熟地（各一斤）　杏仁（四兩）　石斛　牛膝（以上各半斤）　防風（六兩）　枳殼（五兩）　蜜丸服之。治暴發血熱壅腫作痛，四物湯加草龍膽、防己、防風、羌活。眼眶澀爛因風而作，用風藥燥之。柴胡散：柴胡、羌活、防風、生地黃、赤芍藥、甘草、桔梗、荊芥。勞役飲食不節，內障昏暗蔓荊子湯。治內障，四物湯加酒炒黃芩、黃連、黃柏，並服者，可用噙藥，霜梅、殭蠶、白礬和丸，綿裹噙化。喉痹方，以白梅入蚰蜓令化，噙梅於口內。治風熱喉痹，先以千緡湯，後以四物湯加黃柏、知母，養陰則火降。又方，以豬牙皂角末、霜梅為丸，噙化。又方，茜草一兩，作一服，降血中之火。又方：焰硝（半錢）　枯礬（一錢）　硼砂（一錢）　共為細末，用杜、牛膝搗汁，調下。潤喉散治氣鬱夜熱，咽乾哽塞：桔梗（二錢半）　粉草（一錢）　紫河車（四錢）　香附子（三錢）　百藥煎（一錢半）　上為細末，敷口內。咽喉生瘡損了，不用生薑折辣痛，又能散不收。咽痛，必用荊芥；陰火炎者，必用玄參。咽痛，硼砂或和膽礬、殭蠶、白礬為末，霜梅搗和，噙之。治一切咽喉痛，用倒摘刺根，淨洗，入些少好醋同研，滴入喉中、耳中，癢即愈。咽喉生瘡並痛，屬熱，多是虛火遊行無制，客於咽喉。實火，用人參、黃柏蜜炙、荊芥；虛火，用人參、竹瀝。熱用黃連、荊芥、薄荷、硝石，以蜜調噙。血虛者，以四物湯加竹瀝。治喉痹，或有鼻中垂血絲，結成小血珠垂在咽喉中，用杜牛膝，即鼓槌草直而獨條者，搗碎，用好米醋少些和研，取汁三五滴滴入鼻中，即破。一人體肥，膏粱飲酒，常勞倦發咽痛，鼻塞痰嗽，涼膈散加桔梗、荊芥、南星、枳實。杜清碧通神散，治喉痹吐出風痰甚效方，見風條下。喉風吐劑，殭蠶、牙皂、白礬為末，黃齏汁調嚾，探吐。針法，以三稜針於少商穴刺之，出血立愈。</p>

<h2>口瘡（第九十二）</h2>
<p>服涼藥不愈者，此中焦氣不足，虛火泛上無制，理中湯，甚者加附。實熱口生瘡，涼膈散、甘桔湯。赴筵散。口糜爛，野薔薇根煎湯漱之。酒色過度，勞倦不睡，舌上光滑而無皮者，或因憂思，損傷中氣，不得睡臥勞倦者，理中湯加附子，冷飲之。口瘡，若因中焦土虛且不能食，相火衝上無所阻礙，用理中湯者，參、朮、甘草以補土之虛，乾薑以散火之熛，甚者加附子。又方，黃連、青黛、黃柏為末，噙。治滿口白爛：蓽茇（一兩）　厚黃柏（一兩火炙）　上為末，用米醋煎，數沸後，調上藥，漱。再時，用白湯漱口即愈，重者二次。一人唇上生瘡，以白荷花瓣貼之。治重舌，用好膽礬研細，貼之。蔓荊子湯。血弱陰水虛陽火旺，瞳子散及損視物昏花，用熟地黃丸又名滋陰地黃丸。暴發赤腫，用守真散，熱飲子。大便秘結加大黃；痛加當歸、地黃；煩而少臥加梔子。歲久眼發，灸大指甲外本節橫紋盡，七壯住火，飲黃土蜜水。</p>

<h2>骨骾（第九十三）</h2>
<p>桑螵蛸掛干，為末吹之。解魚骨骾方，用沙糖白炭灰末、紫蘇葉、滑石末，上和丸，綿裹含之口中，咽津液其骨自下。</p>

<h2>咽喉（第九十四）</h2>
<p>喉痹大概多是痰熱，治以李實根一片，噙口內，更用李實根研水，敷項上一遭，立有效。李實根鬚新採園中者，重者，用桐油探吐之。一用射干、逆流水吐。纏喉風屬痰熱，宜用桐油以鵝翎探吐之。治咽痛，荊芥、當歸、桔梗、甘草，煎湯嗽服。喉乾燥痛，四物湯加桔梗、荊芥、黃柏、知母，立已。咽喉熱痛，甘桔湯加荊芥。有熱加黃芩、枳殼，半邊頭痛，鼻流不絕，咽痛，甘桔湯加荊芥、薄荷、枳殼、麻黃，服後汗而解。在半邊腫者加紫蘇；冬月風寒，郁在半邊。</p>

<h2>天泡瘡（第九十五）</h2>
<p>用通聖散及蚯蚓泥，略炒，蜜調，敷患處為妙。若從肚腹上起者，裡熱發外，還服通聖散。</p>

<h2>齒痛（第九十六）</h2>
<p>牙痛，用南星為末，霜梅盦過，取其引涎。以荊芥、薄荷散風熱，青鹽入腎、入骨，常擦噙之。蛀牙，以蘆薈、白膠香為末，塞孔中。陽明風熱牙疼，大黃、香附各燒存性，等分，入青鹽少許，上為細末，無時擦之。牙齒疏闊，用白羊脛骨燒灰存性一兩，升麻一錢，黃連半錢，為末擦之。口噤牙關不開，霜梅蘸白礬、殭蠶末，一擦便開。寒熱腫牙疼，調胃承氣湯加黃連。蟲蛀牙用蟾酥。牙痛，用梧桐律少加麝香擦之。牙大痛，必用糊椒、蓽茇，能散其中浮熱，監以升麻、寒水石，佐以辛涼薄荷、荊芥、細辛之類，制木。又方，用涼藥使痛不開，宜從治，蓽茇、川椒、薄荷、荊芥、細辛、樟腦、青鹽。牙痛甚者，防風、羌活、青鹽入內，細辛、蓽茇、川椒定痛。又方：蒲公英燒灰，香附、白芷、青鹽。陰虛牙出鮮血氣鬱，以四物湯加牛膝、香附、生甘草節、側柏葉。牙腫痛，升麻、白芷、防風、荊芥、薄荷、甘草、桔梗之類。上牙痛灸三里穴，下牙疼灸三間穴。蟲蛀牙，用巴豆熏之，否，用玉線子綠豆粉半兩，人言一錢，麝香半錢。固齒方：羊脛骨（燒灰存性三錢）　當歸（二錢）　白芷　豬牙皂角　青鹽（以上各一錢）　上為末擦之。</p>

<h2>脫肛（第九十七）</h2>
<p>氣熱、氣虛、血熱、血虛。氣熱者，黃芩（條子者）六兩，升麻一兩為末，曲丸；氣虛者，補氣用人參、黃耆、川芎、當歸、升麻之類；血虛，四物湯；血熱者，涼血，以四物湯加炒黃柏。一方，治脫肛用五倍為末，托而上之。一次未收，至五七次必收，乃止。</p>

<h2>癭氣（第九十八）</h2>
<p>先須斷厚味，用海藻一兩二錢，黃連一兩，上為末，以少許置掌中；時時舐之，津液嚥下，如消三分之二，須止後服。</p>

<h2>吐蟲（第九十九）</h2>
<p>用黑錫炒成灰，檳榔末同和，米飲下。</p>

<h2>肺癰（第一百）</h2>
<p>已破入風者，不可治。搜風湯吐之，出《醫壘元戎》，本方止有搜膿湯方。收斂瘡口，同合歡皮並飲白蘞濃湯。肺痿者，服人參平肺散。治肺痿，專在養肺、養氣、養血、清金。嘗治一婦人，年二十餘，胸膺間潰一竅，於口中所咳膿血與竅相應而出，以人參、黃耆、當歸補氣血劑，加退熱排膿等藥。</p>

<h2>腸癰（第一百一）</h2>
<p>作濕熱食積治，大腸有痰積，死血流注，用桃仁承氣湯加連翹、秦艽。近肛門破者，入風難治，用防風之類主之。</p>

<h2>乳癰（第一百二）</h2>
<p>入方：青皮、栝蔞、橘葉、連翹、桃仁留尖、皂角刺、甘草節，破，多參、耆。乳慄破，少有生者，必大補，人參、黃耆、川芎、當歸、青皮、白朮、連翹、白芍藥、甘草。一方有栝蔞。乳岩未破，加柴胡、臺芎。治乳有小核：南星　貝母　甘草節　栝蔞（以上各一兩）　連翹　青皮（以上各五錢）。乳癰、奶勞、焮腫，煅石膏、燒樺皮、栝蔞子、甘草節、青皮。治吹奶，金銀花、天蕎麥、紫葛藤，各等分，上以醋煎洗，或以金銀花一味亦可。乳癰，用生地黃汁敷，熱即易之，無不效。又方，老栝蔞一個搗，酒一斗煮四升，日三服。又方，詩曰：女人吹奶是如何，皂角燒灰蛤粉和，熱酒將灰調一字，須臾拍手笑呵呵。又方，益母草搗盦之，或乾末水調塗。又方，濃磨鹿角汁塗之。又方，栝蔞子炒為末，臨睡酒服二錢。乳頭裂破，丁香末敷，如燥以津調。婦人產後患乳癰：白芷　當歸鬚　連翹　赤芍藥　荊芥穗　青皮（各五分）　貝母　天花粉　桔梗（各一錢）　栝蔞（半個）　甘草節（一錢半）　上水煎，半飢半飽服，細細呷之。有熱加柴胡、黃芩，忌酒肉椒料。敷藥用南星、寒水石、皂角、貝母、白芷、草烏、大黃為末，醋調塗。乳房陽明所經，乳頭厥陰所屬，乳子之母，或厚味，或忿怒，以致氣不流行，而竅不得通，汁不得出，陽明之血，熱而化膿。亦有兒之口氣焮熱，吹而結核，於初起時，便須忍痛揉令軟，氣通自可消散。失此不治，必成癰節。若疏厥陰之滯，以青皮清陽明之熱，以石膏行去汙血，以生甘草節消腫毒，以栝蔞子或加青橘葉、沒藥、皂角刺、金銀花、當歸頭，或散或湯加減，佐以少酒，仍加艾火三二壯於腫處，甚效，勿妄用針刀引惹拙病。又有積憂，結成隱核，有如鱉棋子，不痛不癢，十數年方為瘡陷，名曰奶岩，以其凹似巖穴也，不可治矣。若於生時便消釋病根，使心清神安，施以治法，亦有可安之理。予侄婦，年十八時得此證，性急、脈實，所難者後故耳。遂以青皮單煮湯與之，間以加減四物湯，兩月而安。</p>

<h2>騎馬癰（第一百三）</h2>
<p>用大粉草帶節四兩，長流水一碗，以甘草炙淬浸，水盡為末，皂角灰少許，作四服，湯調頓服，大效。又方：甘草節、白芷、黃連各等分，㕮咀，水煎。破者，龍骨、枯白礬、赤石脂敷。一人上嗽下腎癰破，玄參、黃柏炒、青黛、犀角、山楂、甘草節、神麯、麥蘖、桃仁、連翹，上末之作丸。治便毒方：山梔　大黃　乳香　沒藥　當歸（各五分）　栝蔞仁（二錢）　代赭石（一錢）　上作一服煎。又方：木鱉子、大黃、栝蔞仁、草龍膽、桃仁，上濃煎，露一宿，清早頓溫服。又方：白殭蠶、槐花，共為末，酒調服之。一方加酒大黃。又方，蠡實根三寸，同生姜等分研細，熱湯調，空心服。又方：大黃、牡蠣各二錢半，栝蔞一個去皮，甘草去皮，上銼作一帖，水煎，空心服。</p>

<h2>附骨癰（第一百四）</h2>
<p>熱在血分之極，初覺時先以青皮、甘草節，後當養血。初腿腫以人參、黃耆、茯苓各二錢，栝蔞仁四十八粒，作二帖，入竹瀝，熱飲之。環跳穴痛不已，防生附骨癰（詳見《醫要》）。</p>

<h2>腫毒（第一百五）</h2>
<p>鐵圈散治癰疽腫毒：乳香　沒藥（各半兩）　大黃　黃連　黃柏　南星　半夏　防風　羌活　皂角　甘草節　草烏　阿膠（另入，以上各一兩）　上末之，醋調成膏，沙石器火熬黑色，鵝翎敷之患處。寒者熱用，熱者寒用。疔瘡根深，須用針刀鏇破，頭上以蟾酥敷之，後用藥餌。野菊為末，酒調飲醉，睡覺即痛定熱除，不必去疔自愈也。隔皮取膿法治諸般腫毒：驢蹄（炒一兩細切）　喬麥面（炒一兩）　白鹽（半兩）　草烏（四錢去皮）　上為末，水調，捏作餅子，慢火炙微黃色，出火毒，研末，醋調成膏，用白紙攤貼患處，水自毛竅而出，其腫自退。治天蛇頭，用野落蘇，即黃絲草，金銀花藤，即羊兒藤，五葉紫、葛藤、天喬麥，切細各十分，好米醋濃煎，先熏後洗。又方，用人糞雜黃泥搗之，裹在患處即安。治天火丹，用曲蟮泥炒研細，香油調敷。又方，雉雞毛及鵝毛燒灰，香油調敷皆可。治一切疔瘡，紫梗菊根，莖、葉、花皆可，研碎取汁，滴口中飲之。白蠟稟收斂（已見《醫要》），治癰疽，以露蜂房一層，入白礬在內安石上，以火溶飛過為末，油調敷之。一方，糞浸甘草大治腫毒，其詳在冬溫條下。凡治癰疽當分經絡，六陽經、六陰經，有多氣少血，有多血少氣，不可一概論也。少陽多氣少血，肌肉難長，理宜預防驅毒，利藥亦難輕用。予之從叔，多慮神勞，年近五十，左膊外側紅腫如慄，予曰勿輕視，且先與人參濃湯，得微汗乃佳，與數十帖而止。旬余，值大風拔木，瘡上起一紅線，繞背抵右肋，予曰必大料人參湯加芎、術補劑，與之兩月而安。李兄子年三十，連得憂患，且好色又有勞，左腿外側廉一紅腫如慄。一醫與承氣湯兩帖下之矣，又一醫教以解毒湯下之，予乃視之曰脈大實，後果死。臀居小腹之後，又在下，此陰中之至陰，其道遠。其位僻，雖太陽多血，然氣難久運，血亦罕到，中年後生者，須預補之。若無積補之功，其禍多在瘡成痂之後，或半年間乃病。粗工不察，或致失手，慎之戒之。治癰腫，當分腫、瘍而施治，不可遽以五香連翹湯等用之。未潰之前，托裡帶散；已潰之後，補氣補血。用手按腫上，熱則有膿，不熱則無膿。</p>

<h2>結核（第一百六）</h2>
<p>治大人、小兒，或在項上，或在頸，在脛，在臂。如腫毒者，多在皮裡膜外，多是痰注作核不散，問其平日好食何物，吐下後用藥散結。在頭項，殭蠶、炒大黃、酒浸青黛、膽星為末，蜜丸噙化。在頦頰下生痰核，二陳湯加連翹、防風、川芎、皂角刺、酒芩、蒼朮、殭蠶。一婦人年四十餘，面白形瘦，性急，因有大不如意，三月後房下脅骨作一塊，漸漸長掩心，微痛膈悶，飲食減四之三，每早覺口苦，兩手脈微而短澀（詳見四卷血氣為病條）。</p>

<h2>瘰癧（第一百七）</h2>
<p>氣血痰熱，用椹子黑熟者，搗爛熬膏，湯調服。紅者，曬乾為末，服亦效。又方，用大田螺連肉燒灰存性，為末，入麝香少許，濕則干糝，干則油調敷。又方，用夏枯草大能散結氣，而有補養厥陰血脈之功，能退寒熱，虛者，儘可倚仗；若實者，以行散之藥輔佐之，外施艾灸，亦漸取效。</p>

<h2>破傷風（第一百八）</h2>
<p>破傷風、血凝心、針入肉遊走，三證如神方，鴉翎燒灰一錢，研細酒服。防風、全蠍之類，皆是要藥。破傷風多死，非全蠍不開，用十個末之，酒下，日三次。破傷風發熱：栝蔞仁（九錢）　滑石（一錢半）　南星　蒼朮　炒柏　赤芍藥　陳皮（以上各一錢）　黃連　黃芩　白芷（以上各五錢）　生甘草（少些）　上㕮咀，生薑三片，煎服。</p>

<h2>膁瘡（第一百九）</h2>
<p>膏藥方，乳、沒、水銀、當歸各五錢，川芎、貝母各一兩，黃丹二兩半，麻油六兩，上㕮咀，除黃丹、水銀外，先將余藥用麻油熬黑色，去粗，下黃丹、水銀，又煎黑色，用桃、柳枝攪成膏。又方：用生龍骨、血竭、赤石脂三味共一兩，血餘如指大，黃臘一兩，白膠香一兩，香油量用。上先以香油煎三五沸，去血餘，入黃蠟、白膠香，卻入龍骨、血竭、赤石脂，攪勻，安在水盆內，候冷取起，以瓷器盛之，每遇一瘡，捻一薄片貼瘡口，以竹箬貼在外，三日後翻過再貼，仍服活血藥。又方，用沙糖水煮冬青葉，三五沸撈起，石壓干，將葉貼在瘡上，日換二遍。又方，以頭垢燒灰和棗肉搗作膏，先以蔥椒湯洗冷，以輕粉糝上，卻用前藥膏，以雨傘紙作膏貼之。又方，蛤粉、臘茶、苦參、青黛、密陀僧，上先以河水洗淨瘡，卻以臘月豬脂調敷。又方：地骨皮（一兩）　甘草節（半兩）　白臘（半兩）　上以香油四兩，入地骨、甘草，文武火熬熟，去粗，入黃丹一兩半並白臘，緊火熬黑，白紙攤貼。又方，用冬青葉，醋煮過，貼之。婦人腳脛膁瘡，多主血凝，服《局方》中補損黃耆丸。膁瘡方，輕粉、定粉、瓦粉、玄明粉，上等分為末，無根水調塗碗底，以北熟之艾五兩熏之，艾盡為度，上為細末，用羯羊腳筒骨髓，調塗油紙上，蔥椒湯洗過貼之，緋帛纏定。又方，黃連一兩，切，水二盞，煎一盞，去粗，用油紙一張，入內煮乾取出，以黃臘磨刷過，縛瘡上。</p>

<h2>攧撲損瘡（第一百十）</h2>
<p>薑汁、香油各四兩，入酒調服。用蘇木以活血，黃連以降火，白朮以和中，童便煎服妙。在下者可下，但先須補托，後下瘀血；在上者宜飲韭汁或和溺吃，切忌不可飲冷水，血見水寒則凝，但一絲血入心即死。接骨散：沒藥（五錢）　自然銅（五兩醋淬）　滑石（二兩）　龍骨（三錢）　赤石脂（三錢）　麝香（一字另研）　上為末，好醋沒頭，煮多為上，俟干就炒燥為度，臨時入麝香在內，抄放舌上，溫酒下，病分上下，分食前後。若骨已接尚痛，去龍骨、赤石脂，而服多盡好，極效。又方，冬瓜皮、阿膠等分，炒乾為末，以酒調服，醉為度。治攧傷骨折入血黯者：滑石（六分）　甘草（一分）　為末，人參湯調飲之。次用生薑、自然汁一盞，好米醋一盞，用獨子肥皂四個，敲破挼於薑汁、米醋之中，以紗濾去粗，煎成膏藥貼之，遍身者亦可。</p>

<h2>杖瘡（第一百十一）</h2>
<p>黃柏、生地黃、紫荊皮，皆要藥也，治血熱作痛。涼藥，去瘀血為先，雞鳴散之類，生地黃、黃柏為末，童便調敷，或加韭汁。不破者，以韭菜、蔥頭搗碎，炒熱貼，冷則易之。膏藥，用紫荊皮、乳香、沒藥、生地黃、黃柏、大黃之類。又方，以木耳盛於木杓內，沸湯浸爛，攪水乾，於沙盆擂細，敷瘡上。又方，以生苧麻根嫩者，不拘多少，洗淨同鹽擂，敷瘡上，神效。傷重者多用鹽。又方，以大黃、黃柏為末，生地黃汁調敷，干再敷上，甚妙。</p>

<h2>短朵（第一百十二）</h2>
<p>海金沙、滑石、甘草，粥丸服。別用煎藥，就吞絳宮丸五十粒（此與治瘰癧法同）。絳宮丸方：連翹（一兩）　川芎（一兩）　當歸（一兩酒洗）　麥芽　山楂（各一兩）　桃仁（一兩）　蘆薈（一兩）　甘草節（一兩）　蕓薹子（一兩）　黃連（一兩半酒炒）　南星（一兩半）　片芩（一兩半）　升麻（一兩半）　海藻（一兩半酒洗）　羌活（五錢）　桔梗（五錢）　防風（半兩）　白朮（二兩）　大黃（一兩酒蒸三次）　上為末，曲糊丸。已破者加人參一兩；膏藥，用甘草節、殭蠶煎。</p>

<h2>凍瘡（第一百十三）</h2>
<p>用煎熟桐油，調密陀僧末敷之。</p>

<h2>下疳瘡（第一百十四）</h2>
<p>用蛤粉、臘茶、苦參、青黛、密陀僧，上先以河水洗瘡淨，卻以臘月豬脂調敷。又方，用頭髮以鹽水洗去油，再用湯洗，曬乾燒灰，先以清水泔洗淨瘡，卻用發灰研細敷上，即時結靨。一人舊患下疳瘡，夏初患自痢，膈微悶，得治中湯，遂昏悶若死，兩脈皆澀重，略弦似數，此下疳之重者，與當歸龍薈丸五帖，利減，又與小柴胡去半夏加黃連、芍藥、川芎，煎五六帖而安。</p>

<h2>湯火瘡（第一百十五）</h2>
<p>用臘月豬脂塗黃柏，炙乾為末敷之。又方，用苦杖為末，水調敷。又方，柿漆水，鵝翎蘸掃數次。</p>

<h2>金瘡（第一百十六）</h2>
<p>治金瘡並治狗咬方，五月五日午時，用石灰一斤，韭一斤，同搗細研作汁，和成餅，為末敷之。又方：治金瘡，五倍子、紫蘇各等分，為末敷之。又方：白膠香三錢，龍骨一錢，為末敷之。又方，五倍子、燈心草，各燒灰存性，等分為末敷之。一方，用大粉草銼碎，入青竹中浸糞缸內，乾末敷之（其詳在冬溫條下）。</p>

<h2>風狗咬（第一百十七）</h2>
<p>治風狗咬，取小兒頭髮炒新香附、野菊，碾細酒調服，盡醉而止。狗咬方，用紫蘇口嚼碎塗之。又方，用烰炭打碎為末敷之。</p>

<h2>瘡癬（第一百十八）</h2>
<p>治癬瘡方，用輕粉、雄黃、蛇床子、川槿皮，共為末，將癬刮破，醋磨羊蹄根汁調塗。治癬瘡方，用蘆薈、大黃為末敷之。又方，用羊蹄禿菜根，好醋磨敷。又方：用巴豆、草麻子皆去殼，各十四個，斑貓七個，以香油二兩熬黑色，去粗，入蘆薈末三錢，白蠟五錢，慢火再熬成膏，瓷器收貯。用時將癬微刮破，然後塗藥過夜略腫則愈。治大人、小兒疥瘡，豬牙皂角去皮，白礬枯過，輕粉胡椒各少許，共為末，加樟腦、燭油同搗勻，臨晚搽擦。若是櫻桃瘡、膿窠瘡去胡椒。瘡有三種，膿胞瘡治熱為主：黃芩　黃連　大黃　寒水石　蛇床（各三錢）　硫黃　黃丹（各五分）　枯礬（一錢）　無名異　白芷（各七分）　檳榔（一個）　輕粉（一錢二分）　木香（如痛用少許）　上末，香油調敷；沙瘡殺蟲為主：蕪荑（二錢）　剪草（一錢）　蛇床子（二錢）　白礬（一錢）　枯礬（一錢）　吳茱萸（一錢）　蒼朮（半兩）　厚朴皮（五分）　雄黃（五分）　寒水石（二錢）　黃柏（一錢）　輕粉（十盝）　上為末，油調搽；癩疥瘡春天發，焦疥開鬱為主，宜抓破敷：白礬（二錢）　吳茱萸（二錢）　樟腦（五分）　輕粉（十盝）　寒水石（三錢五分）　蛇床子（三錢）　黃柏（一錢）　大黃（一錢）　硫黃（一錢）　檳榔（一個）　上為末，油調搽敷。疥瘡：蕪荑（半兩）　管仲（一兩）　枯白礬（五錢）　軟石膏（五錢）　大黃（五錢）　硫黃（二錢半）　雄黃（二錢半）　樟腦（半兩另入）　上末之，香油調敷，須先洗瘡去痂，敷之。</p>
<p>瘡藥，膿窠治熱燥濕為主，用無名異；干癢開鬱為主，用吳茱萸；蟲瘡如癬狀，退熱殺蟲為主，用蕪荑、黑狗脊、雄黃、硫黃、水銀殺蟲，白礬除癢，樟腦透肉一分，松香頭上多加大黃、方解石一分，黃連、蛇床定癢殺蟲。膿腫，濕多加松皮灰；腫多加白芷開鬱；痛多加白芷、方解石；蟲多加藜蘆、斑貓；癢多加飛礬，濕多加香油調。陰囊瘡，多加茱萸；乾疥出血，多加大黃、黃連，豬脂調；蟲多隨意加錫灰、蕪荑、檳榔殺蟲；紅色加黃丹；青色加青黛。瘡在上多服通神散；瘡在下多在臟，須用下。腳腫，用血分濕熱藥。治濕多瘡藥：牡蠣（二兩）　蛇床（一兩）　白芷一兩）　川椒（三錢）　寒水石（五錢）　輕粉（二十盝）　雄黃（五錢）　吳茱萸（二錢半）　上為細末，香油調敷。貼人身灸瘡不收口膏藥：黃連　甘草節　白芷　丹油。疥藥：蛇床（一兩）　硫黃（一錢半）　輕粉（二十帖）　青礬（一錢半）　明礬（一錢）　黃丹（一錢半）　五倍（一錢半略炒黃色）　上為細末，香油調敷，忌見燈火，大效。疥瘡藥，用丹黃、肉豆蔻為末，香油調敷。治馬鞍上打破成瘡，雞卵清攤作膏藥，貼之，令其愈後自脫。治癬方，川槿皮、檳榔，先抓破，用好醋磨塗。又方，治腎囊濕癢，用密陀僧、乾薑、滑石為末，糝上。又方，先以吳茱萸煎湯洗，次用後藥：茱萸（五錢）　寒水石（三錢）　黃柏（一錢半）　大黃（二錢半）　樟腦（三錢）　蛇床子（三錢）　輕粉（一盝）　枯礬（三錢）　硫黃（二錢）　檳榔（三錢）　白芷（三錢）　上為末，敷之。治頭瘡方：豬油（二錢半，半生半熟）　雄黃（二錢半）　水銀（二錢半）　上研和勻，敷瘡上。又方：川芎　酒芩（五錢）　芍藥（五錢酒）　陳皮（五錢）　白朮（五錢酒）　當歸（一兩半酒）　天麻（七錢半酒）　蒼耳（七錢半）　黃柏（四錢酒）　粉草（四錢酒）　防風（三錢）　上末之，水蕩起，煎服，日四五次服之，服了睡片時。</p>

<h2>蟲毒（第一百十九）</h2>
<p>治九里蜂毒即瓠蜂是也。用皂莢鑽孔，貼在蜂釘處，就皂莢孔上，用艾灸三壯，即安。治蜈蚣咬，用全蠍炙，如九里蜂法。治一切蛇，用金線重樓，以水磨少許，敷咬處，又為細末酒調飲之。又方，用烏桕樹葉、魚鯹草、地松即皺面草、草決明，但得一件細研，敷咬處亦佳。治吳蚣毒嚼，人參塗之。又方，蜘蛛安傷處，效急，將蛛投水中以活其中。</p>

<h2>中毒（第一百二十）</h2>
<p>解蕈毒，用木香與青皮等分，作湯飲之。解眾藥毒，用五倍子二兩重，研細，以無灰酒溫調服之。如毒在上即吐，在下即瀉。食毒馬牛肉，用大甘草四兩，研末，以無灰酒調服盡，病人須臾大吐大瀉。如渴，不可飲水，飲水必死。又方，治蕈毒，石首魚頭服之，即白鯗頭也。</p>

<h2>胡氣（第一百二十一）</h2>
<p>治胡氣方，硇砂、密陀僧、明礬、銅青、白附、辰砂，上先以皂角湯洗二三次後，敷上不□□□□□。又方，於前藥中加黃丹、水銀，用白梅肉蘸末擦之。又方，飛黃丹、密陀僧、枯白礬以蒸餅蘸末擦之。</p>

<h1>卷七　婦人科</h1>

<h2>經病（第一）</h2>
<p>經水，陰血也，陰必從陽，故其色紅，稟火色也。上應於月，其行有常，名之曰：經為氣之配，因氣而行。成塊者，氣之凝；將行而痛者，氣之滯；來後作痛者，氣血俱虛；淡色者，亦虛血少，而有水以混之也；錯經妄行者，氣之亂；紫者，氣之熱；黑者，熱之甚也。今見紫黑作痛者，成塊者，率指為風冷所乘，而行溫熱之劑，誤矣。設或有之，亦千百之中一二耳。經水黑者，水之色，紫者黑之，漸由熱甚必兼水化，此亢則害，承乃制也。經候將來而作痛者，血實也，一雲氣滯，用桃仁、香附、黃連之類。未及期而作疼者，亦氣滯也。過而作疼者，虛中有熱也。四物加芩、連。一雲氣血虛也，八物湯加減。過期而作疼者，亦虛而有熱也。不及期而來者，血熱也。一雲氣血俱虛，四物加芩、連之類。肥人兼痰治。過期者，血少也，芎、歸、參、術及痰藥。經不調而血水淡白者，宜補氣血，參、朮、芎、歸、黃耆、香附、芍藥，腰痛加膠珠、艾葉、玄胡索。經水過期，紫黑有塊者，血熱也，必作痛。四物加香附、黃連之類。經水過期，淡色者，痰多也。用二陳湯加川芎、當歸。經水紫色成塊者，熱甚也。四物湯加黃連之類。經事過期不行，杜、牛膝，搗汁大半鍾，以玄胡索末一錢，香附末、枳殼末各半錢，調，早服。臨經之時肚痛，用抑氣散，其方以四物湯加陳皮、玄胡索、牡丹皮、甘草。如痛甚者，豆淋酒，痛少，童便煮莎，入少條芩，為丸子服。經水黑色，口渴倦怠，形短色黑，脈不勻似數，用炒黃芩三錢，甘草二錢，赤芍藥、香附五錢，作丸服。又方，伏龍肝、百草霜末之，糊為丸。有痰多佔住血海地位因而下多者，目必漸昏，肥人如此，用南星、香附、川芎、蒼朮作丸服。肥人不及日數而多者，痰多血虛有熱，南星、白朮、蒼朮、黃連、香附、川芎，末之為丸。血枯經閉者，四物湯加桃仁、紅花。肥人身軀脂滿經閉者，導痰湯加川芎、黃連，不可用地黃，泥膈故也，如以生薑汁炒之。交加地黃丸，治婦人經水不調，血塊氣痞，肚腹疼痛：生地黃（一斤）　老生薑（一斤）　玄胡索　當歸　川芎　白芍藥（各二兩）　沒藥　木香（各一兩）　桃仁（去皮尖）　人參（各一兩半）　香附子（半斤）　上為末，先以薑汁浸地黃，姜渣以地黃汁浸，各以汁盡為度，上十一味作一處，日乾為細末，醋糊為丸，空心薑湯下。月水不通：厚朴（三兩）　水（三升）　煎一升　分三服，空心服。經水不通，皆因寒搏於內，四物湯加蓬朮，制乾薑各一塊，生薑三片，煎服，室女去乾薑。經候多如崩者，四物湯一帖，香附末三錢，炮乾薑一塊，甘草少許，粟米百餘粒煎，分二服，空心服。經候行先腹痛，局方七氣湯送來復丹半帖。經水去多不能住者，以三補丸加莎根、龜板、金毛狗脊。經水過多：黃芩（炒）　白芍藥（炒）　龜板（炙各一兩）　黃柏（炒三錢）　椿皮（七錢半）　香附（二錢半）　上末之　酒糊丸。經血逆行，或血腥，或唾血，或吐血，用韭菜汁服立效。一人積痰，傷經不行，夜則妄語，以：栝蔞子（一錢）　黃連（半錢）　吳茱萸（十粒）　桃仁（五個）　紅曲（些少）　砂仁（三錢）　山楂（一錢），上末之，以生薑汁炊餅丸。一人陰虛，經脈久不通，小便短澀，身體疼痛，以四物湯加蒼朮、牛膝、陳皮、生甘草，又用蒼莎丸加蒼耳、酒芍為丸，煎前藥吞之。因熱經候先行於常時，用四物湯加芩連、香附。經行之先作痛者，小烏沉湯加枳殼、青皮、黃芩、川芎，氣實者用之，上煎空心服。</p>

<h2>胎孕（第二）</h2>
<p>一婦人，但有孕至三個月左右必墮，其脈左手大而無力，重則澀，知其血少也。以其妙年，只補中氣，使血自榮，時初夏，教以濃煎白朮湯下黃芩末一錢，與數十帖得保全而生。因思之墮於內熱而虛者，於理為多，日熱日虛，當分輕重，蓋孕至三月，上屬相火，所以易墮，不然何以黃芩、熟艾、阿膠等為安胎藥邪？婦人經候三月驗胎，法川芎生末，空心濃湯調，下一匙，腹中微動是有胎。產前當清熱養血，產婦胎前八九個月，因火動胎逆上作喘者，急可用條芩、香附之類為末，調下。將條芩更於水中，取沉重者用。固胎：地黃（半錢）　當歸身尾　人參　白芍藥　陳皮（以上各一錢）　白朮（一錢半）　黃芩　川芎（各半錢）　黃連　炒柏（各少許）　甘草（三分）　桑上羊兒藤（七葉圓者，即金銀藤）　糯米（十四粒），上㕮咀煎服。血虛不安者，用阿膠，痛者用縮砂。束胎丸，第八九個月服之：黃芩（夏一兩，春秋七兩，冬半兩，酒炒）　陳皮（一兩）　白朮（二兩忌火）　茯苓（七錢半，忌火）　上為末，粥丸。束胎飲：大腹皮（三錢）　人參（半錢）　陳皮（半錢）　白朮（一兩）　白芍藥（一錢）　紫蘇莖葉（一錢）　炙甘草（三分）　當歸身尾（一錢）　或加枳殼、縮砂，上作一帖，入青蔥五葉，黃楊樹葉梢七個，煎，食前服，於第八九個月服十數帖，甚得力。或夏加黃連，冬不必加，春加川芎，或有別證以意消息之。第九個月服：黃芩（一兩宜涼怯弱人不藥減半用）　枳殼（炒七錢半）　白朮（一兩）　滑石（七錢半）臨月十日前，小便少時，加此一味，上為末，粥丸，桐子大，每服三十丸，空心熱湯下，不可多服。恐損元氣，中加炙甘草二分煎，食前服，亦名束胎飲。達生散，九個月服起，亦不妨服三五十帖，腹不痛而易產：黃芩、人參、白朮、滑石、枳殼、黃楊頭、香附米、陳皮、甘草、大腹皮、紫蘇、白芍藥。春加川芎，氣虛倍參、術，氣實倍香附、陳皮，血虛倍當歸、地黃，形實倍紫蘇，性急倍黃連，熱多倍黃芩，濕痰倍滑石加半夏，食積倍加山楂，食後易飢倍黃楊頭，有熱加芩，夏亦加之，有痰加半夏，腹痛加木香、官桂，監以黃芩，冬月不用芩。安胎丸，白朮、黃芩、炒曲、用粥丸。黃芩安胎，乃上、中二焦藥，能降火下行也；縮砂安胎治痛行氣故也。產前安胎，白朮、黃芩、妙藥也。茺蔚子活血行氣，有補陰之妙，故名曰益母草，胎前無滯，產後無虛，以其行氣中有補也。妊娠四五月，忽腹絞痛，大棗十四個燒焦為末，童便調下。胎動不安，或但腰痛，或胎轉搶心，或下血不止，艾葉，雞子大，酒四升，煮二升，分二服，大妙。胎動腹痛，子死不知，服此藥，活則安，死則下：當歸（四兩）　川芎（九兩）　酒（四升），煮三升服之。胎氣不和上湊，心腹脹滿疼痛，謂之子懸，又治臨產驚恐氣結，連日不下，一方，紫蘇飲用：紫蘇　連莖（一兩）　當歸（七錢）　人參　川芎　白芍藥　陳皮（各半兩）　甘草（三錢）　大腹皮（半兩）　姜（四片）　蔥（七寸），煎，空心服。妊娠衝動不安，縮砂不以多少，慢火炒熟，去皮為末，熱酒調下，覺腹中胎動處極熱，即胎安，神效。胎死腹中，其母氣絕，□□□□服之，又益母草汁服之立下。倒產子死腹中，當歸末酒調服。子死腹中，母欲氣絕，以伏能肝為末，水調服。又方，硃砂一兩，水煎數沸，為末，酒調服立效。日月未滿欲產，搗菖蒲汁二升，灌喉中。妊娠從腳連腹腫滿，小便不利，微渴，豬苓五兩為末，熟水服方寸匕，日三服。妊娠咳嗽，貝母炒為末，砂糖和末丸，夜含化妙。妊娠傷食，難為用藥，惟木香丸、白朮散穩當，須忌口。經聚而孕成者，恐有胎氣不安，或腹微痛，或腰間作疼，或飲食不甘美，以安胎飲療之：白朮（一錢）　人參（半錢）　當歸（一錢）　白芍藥（一錢）　熟地黃（一錢）　川芎（五分）　陳皮（五分）　甘草（三分）　縮砂（二分）　紫蘇（三分）　條芩（五分）　上作一帖，姜一片，水煎，食前服。此藥五七個月後常服數帖，可保全產婦始終，七八個月服此藥或加大腹皮、黃楊頭七枚，尤妙。坐褥之月：全身當歸（一錢）　川芎（一錢）　白芷（五分）　條芩（一錢）　陳皮（一錢）　香附（一錢）　甘草（三分）　上煎湯，調益元散一錢，體虛人加人參一錢。子懸腹脹及肚痛胎痛，護胎紫蘇飲。子腫濕多，山梔炒一合，米湯吞下。《三因方》中有鯉魚湯，治妊娠腹大，間有水氣者：白朮（五兩）　白芍藥　當歸（各三兩）　茯苓（四兩）　上銼，以鯉魚一尾，修事如食法，煮取汁，去魚不用，每服四錢，入魚汁一盞半，姜七片，陳皮少許，煎服。初覺有娠，雄黃一兩，縫絳囊帶之轉女為男；又方，始以弓弩絃縛腰間，滿二月解卻，轉女為男，秘法不傳。胎漏屬氣虛、血虛、血熱。妊娠安胎，大麥蘖二兩水一盞半，煎一盞溫服，分三服，或用蜜調亦可。又方，四物湯加牛膝、蓬朮、炮官桂、紅花等分，用水七分，煎至一半，空心服。又方，棗一個，入韶粉一指大，濕紙包煨熱，空心無灰酒嚼下，一日三四枚，亦下死胎。下死胎方，以佛手散煎加麝香、當門子三粒，大黃末一錢，重者加瓦上焙虻蟲、水蛭末服。子腫鯉魚湯加參朮五苓散。惡阻從痰治，多用二陳湯入白朮末，水丸，隨所好，湯水下。又方，香附子二錢，砂仁、茯苓、甘草各一錢，喜辛加丁香，為末干服。懷孕愛物，乃一臟之虛，假如肝臟虛，其肝止能養胎，無餘用也。不能榮肝，肝虛故愛酸物。胎熱將臨月，以三補丸加香附炒、白芍藥，炊餅丸。又抑熱，以三補丸用地黃膏為丸。有孕八九月，必須順氣，枳殼、紫蘇莖。一婦人年近三十，懷孕兩月，病嘔吐，頭眩目暈，不可禁持，以參、朮、芎、陳皮、茯苓之藥，五七日愈沉重，脈弦，左為甚而且弱，此是惡阻病。因怒氣所激，肝氣既逆，又挾胎氣，參朮之補，大非所宜。只以茯苓湯下抑青丸二十四粒，五帖稍安，其脈略有數狀，口乾苦，稍食少粥則口酸，蓋因膈間滯氣未盡行，教以川芎、陳皮、山梔、生薑、茯苓，煎湯下抑青丸五十粒，十餘帖，餘證皆平，食及常時之半，食後覺易飢，蓋由肝熱未平，則以白湯下抑青丸二十粒，至二十日而安。脈之，兩手雖平和而左弱甚，此胎必墮，此時肝氣既平，參、術可用矣，遂以始之參、術等兼補之，預防墮胎以後之虛，服之一日，其胎自墮，卻得平穩無事。一婦人，形瘦性急，體本無熱，懷孕三月，當盛夏，渴思水，因與四物湯加黃芩、陳皮、生甘草、木通，數帖而安。其後得子，二歲頓有痎瘧，蓋孕中藥少，胎毒未消，若生瘡疥，其病自痊已而驗。黃芩乃安胎之聖藥也，俗人不知以為寒，而不敢用，謂溫藥可養胎，殊不知以為產前當清熱，清熱則血循經不妄行，故能養胎。產前用四物湯，若血虛瘦弱之人，勿用芍藥能伐肝故也，如壯盛者亦可用之。產難氣血虛故也。《格致餘論》甚詳，《大全良方》有藥可選用之。產難之由，有八九個月內不謹者，亦有氣滯而不能轉運者。產婦產畢須令有力，婦人坐於床上，令產婦靠定，坐三兩時，待惡露盡，方可睡下，不然惡血入心即死矣。又灸法治婦產難，於婦人右腳小指尖頭上，用熟艾炷如小麥，灸五壯即下。催生方，用白芷、百草霜、滑石為末，芎歸湯下。亦治胞衣不下，薑汁或酒調，《婦人大全良方》別有藥。易產方，用益母草，六月帶根曬乾為末，蜜丸，彈子大，臨產時熟水化下，或熬成膏服之亦妙。催生方，白芷、百草霜等分為末，坐褥之際，白湯調服。或與益元散同服尤妙。又治橫生逆產，以童便滴醋調下，更以滾湯浸之，止於一服。頃刻活兩人之命。又方，車前子為末，酒調服二錢。逆產子死腹中，當歸末，酒調服。催生方，煎佛手散調益元散，臨時服，寸金散治產難，敗免筆頭一枚，燒灰研細，藕汁一盞調下，立產。如產婦虛弱，恐藕汁動風，即用銀盞盛，於火上頓熱飲。又方，用油、蜜、小便，三味打勻，下產難。或調益母草末，尤妙。產難方，縮砂、醋煮香附、枳殼、甘草、滑石，湯調服。脈細勻者，易產；浮大緩者，氣散難產。生產如拖船過堰一般。又牛膝膏、地黃膏治產難。臨產下痢，梔子不以多少，燒灰細末，空心熱水調一匕，甚者不過五服。當產寒月，臍下脹滿，手不可犯寒，入產門故也，服仲景羊肉湯二服愈。催生方，將產時吞下馬檳榔，須臾兒生，兩手各掌一粒而出。世之難產者，往往見於鬱悶、安逸、富貴奉養之人，貧賤者鮮有之。古方瘦胎飲一方恐非至論。予族妹，苦於難產，遇胎則觸去之，予甚憫焉。視其形肥，而動於女工，知其氣虛久坐，氣不運而愈弱。兒在胞胎，因母氣虛，不能自運耳。當補其母之氣，則兒健易產。令其有孕至五六個月來告，遂於《大全良方》紫蘇飲加補氣藥與之數十帖，因得男甚快。因以此方，隨母之性稟與時令加減，服者無不應，臨蓐時不覺痛，產母亦無病，因名其方曰達生散云。</p>

<h2>產後（第三）</h2>
<p>至哉坤元，萬物資生，理之常也。初產之婦，好血未必虧，汙血未必積，臟腑未必寒，何以藥為？飲食起居，勤加調護，何病之有？或有他病，當求起病之因，病在何經，氣病治氣，血病治血，何《局方》不審，而海制黑神散之方哉！予每見產婦之無疾者，必教以卻去黑神散與大雞子、火鹽，諸般肉食，且與白粥將理，間以些少石首魚，煮令甘淡食之。至一月之後，方與少肉，雞子亦須豁開煮之，大能養胃祛痰。產後調理藥：當歸（一錢）　川芎（一錢）　白芷　官桂　莪朮　牡丹皮（俱五分）　茯苓（一錢）　甘草（三分）　上煎服之，腹痛加玄胡索，發熱加黃芩、柴胡，食不進加縮砂、陳皮。清魂散治產後血暈：蘇木（半兩）　人參（一兩）　童便　上三味，以水酒共煎服。產後血暈，乃虛火載血漸漸而來，用鹿角燒灰出火毒，研極細末，好酒調，灌下即醒，行血極快。又方，韭葉細切，盛於有嘴瓶中，以熱醋沃之，急封其口，以嘴塞產婦鼻中，可愈目眩。產前母滯，產後母虛，產後當大補血，雖有雜證以末治之。產後，一切病不可發表。產後補虛：人參　白朮（各一錢）　黃芩（半錢，一本作黃耆）　陳皮（五分）　川芎（五分）　炙甘草（三分）　當歸身尾（五分）　有熱加乾薑三分，茯苓一錢。產後消血塊：滑石（三錢）　沒藥（三錢）　麒麟竭（二錢，無麒麟竭牡丹皮代之用一錢）　上為末，醋糊丸。產後惡露不下，以五靈脂為末，神麯糊丸，白朮、陳皮湯下。麒麟竭、五靈脂消產後血塊極好。產後惡露不盡，小腹痛，用五靈脂、香附末和醋為丸，甚者入桃仁，不去尖。產後腹痛發熱，必有惡血，當去之。產後發熱增損四物湯。產後七八日，因大驚恐而發熱，嘔逆嘔吐，痰甚多，嘔則汗出，八物湯加黃耆，小腹並痛加桂。產後中風，切不可作風治。產後中風，用荊芥穗、炒當歸，等分為末，每服二三錢，豆淋酒下。（亦治血暈。）產後血迷血暈，服清魂散：澤蘭葉　人參（各二錢半）　荊芥（一兩）　川芎（半兩）　甘草（二錢）　上末之，湯酒各半，調服。產後腹痛，或自利者，服青六丸，用補脾、補血藥湯送下。產後泄，用白朮、川芎、茯苓、乾薑、黃芩、滑石、陳皮、白芍藥，炒㕮咀，煎服。產後大發熱，必用乾薑，輕用茯苓淡滲其熱，一應苦寒發表之藥皆不可用。或曰：大熱而用乾薑何也？曰：此熱，非有餘之熱也，引血藥生血，勿獨用，必與補陰藥同用。此造化自然之妙，非天下之至神，其孰能與於此！產後發熱惡寒，皆血氣虛。左手脈不足，補血藥多於補氣藥；右手脈不足，補氣藥多於補血藥。產後惡寒發熱腹痛者，當去惡血，益母草即茺蔚子治胎前產後諸病。產後，如服四物湯，勿用白芍，以其酸寒，伐生髮之氣也。壯盛者，亦可用。產後無乳，通草、瞿麥、桔梗、青皮、柴胡、白芷、赤芍藥、天花粉、連翹、甘草，水煎，食後帶飽細呷，以一手摩乳房。產後惡寒，發熱無乳者，無子，當消乳，麥蘖二兩炒研末，湯調作四帖服。產後水腫，必用大補氣血為主，少佐蒼朮、茯苓，使水自利。產後，敗血乘虛流注經絡，腐壤成水，四肢面目浮腫，切不可用導水氣藥，先用五皮散加牡丹皮三五服，次以局方調經散二三十帖，效，其血自行而腫消也。五皮散，五加皮、地骨皮、生薑皮、桑白皮、茯苓皮加牡丹皮煎服。調經散：當歸　肉桂　琥珀（各一錢）　麝香　細辛（各五分）　沒藥（一錢）　赤芍（一錢）　上末，五分，薑汁少許，溫酒調服。產後血不止，蒲黃三兩，水三升，煎一升服。產後血暈，心悶氣絕，紅花一兩，上研為末，分二服，酒二盞，煎一盞並服。口噤者，斡開灌之。產後諸風，蒼耳草汁半盞，溫服。牙疼亦可治。產後遍身起粟米粒，熱如火，桃仁爛研臘月豬脂，敷之。產後血暈欲絕者，半夏末水丸，如大豆大，入鼻孔中即蘇。下死胎及生子後胞衣未下，麝香半錢，官桂末三錢，溫酒送下，須臾如手推出。一人小產，有形物未下，四物湯加硝。一婦人，年十八難產，七日後產，大便泄，口渴氣喘，面紅有紫斑，小腹脹，小便不通，用牛膝、桃仁、當歸、紅花、木通、滑石、甘草、白朮、陳皮、茯苓，煎湯，調益母草膏，不減後以杜牛膝，煎濃膏一碗，飲之，至一更許，大下利一桶，小便通，而愈。口渴，四君子湯加當歸、牛膝，調益母膏。一婦人，產後驚憂得病，頭重，心胸覺一物重墜，驚怕，身如在波浪中恍忽不寧，用：枳實　麥芽　神麯　貝母　侯莎（各一錢半）　薑黃（一錢半）　半夏（二錢）　桃仁　牡丹皮　栝蔞子（各一錢）　紅花（五分）　上末之，薑餅丸。服後胸物消，驚恍未除，後用：辰砂　鬱金　黃連（各三錢）　當歸　遠志　茯神（各二錢）　真珠　人參　生甘草　菖蒲（各一錢半）　牛黃　熊膽　沉香（各一錢）　紅花（五錢）　金箔（一片）　膽星（三錢）　上末之，豬心血丸。服後驚恍減，後用：枳實　半夏　薑黃　山楂　神麯　麥芽　陳皮　山梔（各五錢）　白朮（一兩）　上末之，薑餅丸，服此助胃消食痰，後用：牛黃（二錢）　菖蒲（二錢半）　硃砂　鬱金（各三錢）　遠志　琥珀（各二錢半）　珍珠　紅花　沉香（各一錢）　黃連　人參　膽星（各五錢）　當歸　上末之，豬心血丸。服此鎮心安神，後用：乾漆（三錢炒煙盡）　三稜　莪朮（各七錢半）　蒼朮　青皮　陳皮　針沙（各一兩）　厚朴　當歸（各半兩）　生香附（二兩）　上末之，炊餅丸。設此方不曾服，倒倉後服煎藥：白朮（四錢）　陳皮　黃芩　白芍藥　香附子（各二錢）　茯苓（一錢半）　當歸　麥門冬　青皮（各一錢）　枳殼（六分）　沉香　生甘草（各五分）　上分作六帖，除胸滿清熱淡滲。治婦人兒枕痛，濃煎棠梂子，入沙糖調服，立效。胎前產後，多是血虛。一婦人年近三十餘，正月間新產，左腿右手發搐，氣喘不得眠，口鼻、面部黑氣起，脈浮弦而沉澀，右手為甚，意其脾受濕證遂。問：懷胎時曾大渴思水否？彼云：胎三月時，嘗喜湯茶水。遂以黃芩、荊芥、木香、滑石、白朮、檳榔、陳皮、蒼朮、甘草、芍藥，至四服，後加桃仁，又四服，腹有漉漉聲，大便下者，視皆水晶塊，大者，如雞子黃，小者，如科斗數十枚，遂搐定喘止。遂於藥中，去荊芥、檳榔、滑石，加當歸身、茯苓，與其調理血脈，服至十帖而安。嘗見尿胞因收生者之不謹，以致破損而得淋瀝病。徐氏婦，壯年得此，因思，肌骨破傷在外者，且可補完，胞雖在腹，恐亦可治。診其脈虛甚，因悟曰：難產之人多是血虛，難產之後，氣血尤虛，因用峻補之藥，以朮、參為君，桃仁、陳皮、黃耆、茯苓為佐，而煎以豬、羊胞中湯，於極飢時與之，每劑用一兩，至一月而安。恐是氣血驟長，其胞可完，若稍遲緩，恐難成功。</p>

<h2>血氣為病（第四）</h2>
<p>一婦人死血，食積痰飲成塊，或在兩脅間動，或作腹鳴嘈雜，眩運身熱，時發時止（方見第五卷塊條下）。治婦人血海疼痛：當歸（一錢）　甘草　木香（各五錢）　香附（二錢）　烏藥（一錢半）　作一帖，水煎食前服。女人血氣痛，酒磨莪朮服之。一婦人血塊如盤，有孕難服峻劑：香附（四兩）　醋煮桃仁（一兩去皮尖）　海石（醋煮二兩）　白朮（一兩）　神麯糊為丸。女人血氣刺心痛不可忍，木香末，酒調服。血氣入腦頭，旋悶不知人，蒼耳嫩心，陰乾為末，酒調服之。一婦人，腹中癥瘕作痛者，或氣攻塞用：香附（一兩醋煮）　當歸（一兩）　白三稜（一兩炮）　黑三稜（一兩炮）　黑莪朮（一兩）　沒藥　乳香　川芎（各五錢）　昆布　海藻（以上各一兩炒）　檳榔（五錢）　青皮（一兩去穰）　乾漆（五錢炒盡煙）　木香　沉香　縮砂（各五錢）　上為末，米醋打糊為丸，如桐子大，每服六七十丸，空心白湯、鹽湯隨下，忌生冷油膩。治血氣腰腹痛，當歸、玄胡，等分為粗末，每服三錢，姜三片煎服。治一切瘀血為病方：香附（四兩醋煮）　桃仁　瓦龍子（二兩，醋煮一日一夜，煅）　牡丹皮　大黃（酒蒸）　當歸　川芎　紅花（各五錢）　上為末，炊餅丸。月水不通、腹中撮痛：臺烏（二兩）　當歸　莪朮（各一兩）　為末，空心酒下二錢。一婦人，兩月經不行，腹痛發熱，行血涼血，經行病自愈。四物湯加黃芩、紅花、桃仁、香附、玄胡索之類。一婦人，年四十餘，面白形瘦性急，因有大不如意，三月後，乳房下肋骨作一塊，漸漸長掩心，微痛膈悶，飲食減四分之三，每早覺口苦，兩手脈微而短澀，予知其月經不來矣，為之甚懼，勿與治。思至夜半，其婦尚能出外見醫，梳妝言語如舊，料其尚有胃氣，遂以人參、朮、歸、芎，佐以氣藥，作一大服，盡夜與四次，外以大琥珀膏貼塊上，防其塊長。得一月餘，服補藥百餘帖，食及平時之半，仍用前藥。又過一月，脈漸充，又與前藥吞潤下丸百餘粒，月經行不及兩日而止，澀脈減五分之四，時天氣熱意，其經行時必帶，紫色，仍與前藥加三稜，吞潤下丸，以抑青丸十五粒佐之。又經一月，忽塊已消及一半，月經及期，尚欠平時半日，飲食甘美如常，但食肉不覺爽快，予令止藥，且待來春木旺時，再為區處。至次年六月，忽報，一夜其塊又作，比舊又加指半，脈略弦，左略怯於右，至數平和。自言飽食後，則塊微悶，食行卻自平，予意必有動心事激之，問而果然。仍以前藥加炒芩、炒連，以少木通、生薑佐之，去三稜，煎湯吞潤下丸，外以琥珀膏貼之，半月經行，氣塊散。此是肺金，因火所爍，木稍勝土，土不能運，清濁相干，舊塊輪廓尚在，皆由血氣未盡復也。濁氣稍留，舊塊復起，補其血氣，使肺不受邪，木氣伏而土氣正，濁氣行而塊散矣。一婢，性沉多憂，年四十，經不行三月矣。小腹當中一塊，漸如炊餅，脈皆澀重，稍和塊按則痛甚，試捫之高半寸，與千金消石丸至四五次。彼忽自言：乳頭黑且有汁，恐是孕。予曰：澀脈無孕之理，又與兩帖，脈稍大豁，予悟曰：大峻矣！令止藥，以四物湯倍白朮，以陳皮、炙甘草為佐，至三十帖，候脈充，再與硝石丸四五次，忽自言塊消一暈，便令勿與。又半月，經行痛甚，下黑血近半升，內有如椒核者數十粒，而塊消一半，又來索藥，曉之曰：塊已破，勿再攻，但守禁忌，次月經行當自消盡，已而果然。</p>

<h2>崩漏（第五）</h2>
<p>氣虛、血虛、血熱、血崩，東垣有治法，但不言熱，其主在寒，學者宜再思之。經曰：陰虛陽搏謂之崩。觀此可知矣。急則治其標，白芷湯調百草霜，甚者，棕櫚皮灰極妙。後用四物湯加甘草、生薑調理。因勞者，用參、耆帶升補藥；因寒者，乾薑；因熱者，黃芩。崩過多者，先用五靈末一服，當分寒熱。五靈脂能行能止。一婦血崩，用白芷、香附，等分為末，作丸服。又方，用生狗頭骨燒灰存性，酒調服，或入藥服之。又方，五靈脂半生半熟，為末，酒調服。氣虛、血虛者，皆以四物湯加參、耆。漏下，乃熱而虛，四物湯加黃連。治崩漏四物湯加香附、白芷、黃芩、阿膠、乾薑。又有血熱崩者，大劑解毒湯。治血崩，四物湯調蒼耳灰服之。有大驚恐而崩漏者，多因氣所使而下：香附（炒至黑一錢）　白芍藥（一錢炒）　川芎（五分）　熟地黃（一錢）　黃耆（五分）　白朮（一錢）　地榆（五分）　蒲黃（五分炒）　人參（五分）　升麻（三分）　當歸（一錢）　煎服。甚者，調棕毛灰一錢服。崩中血不止，生薊根汁服半升，定止。又方，香附炒焦黑色為末二兩，連翹五個，燒灰為末，每服三錢，陳米湯調送局方震靈丹十數粒。又方，黃芩為末，燒秤錘淬酒調下。無故尿血，龍骨末之，酒調下方寸匕。</p>

<h2>淋澀（第六）</h2>
<p>諸淋不止，小便赤澀，疼痛轉胞，用酸漿草嫩者，洗淨絞汁一合，酒一合和，空心服之，甚妙。小便澀病，牛膝五兩，酒三升，煮半升去滓，作三服。亦兼治血結堅痛。血淋，竹茹一握，煎湯空心溫服，立效。</p>

<h2>轉胞（第七）</h2>
<p>過忍小便，致令轉胞，滑石末，蔥頭湯調下二錢。一婦人年四十，懷妊九個月轉胞，小便不出三日矣。下腳急腫，不堪存活，其脈悴，右澀而左稍和，蓋由鮑食，而氣傷胎系，弱不能自舉，而下遂壓著膀胱，轉在一偏，氣急為其所閉，所以竅不能出也。轉胞之病，大率如此，予遂制一方補血養氣，既正胎系自舉而不墜，方有可安之理。用人參、當歸身尾、白芍藥、白朮、帶白陳皮、炙甘草、半夏、生薑，濃煎湯，與四帖，至次早天明，以四帖藥滓作一服煎，強令頓飲之，探喉令吐此藥湯，小便大通黑水後、遂以此方加大腹皮、枳殼、青蔥葉、縮砂仁，作二十帖與之，以防產前、產後之虛，果得就蓐平安，產後亦健。一婦人懷胎，患轉胞病，兩脈似澀，重則弦，左稍和，此得之憂患，澀為血少氣多，弦為飲。血少則胎弱，而不能自舉，氣多有飲，中焦不清而隘，則胎知所避而就下，故喜墜。以四物湯加參、朮、半夏、陳皮、生甘草、生薑煎，空心飲，隨以指探喉中出藥汁，候少頃氣定又與一帖，次早亦然，至八帖安。此法恐不中，後又治數人，亦效，未知果何如也。</p>

<h2>帶下赤白（第八）</h2>
<p>主濕熱。赤屬血，白屬氣、屬痰。帶漏，俱是胃中痰積流下，滲入膀胱，宜用升舉，無人知此。肥人多是濕痰，海石、半夏、南星、蒼朮、炒柏、川芎、椿根皮、青黛；瘦人帶病少，如有帶者是熱，黃柏、滑石、椿皮、川芎、海石、青黛，作丸服。又方，椒目為末，米飲調下。甚者，上必用吐，以提其氣，下用二陳湯加蒼朮、白朮，仍用瓦楞子。又云，赤白帶皆屬於血，但出於大腸、小腸之分。一方，黃荊子炒焦為末，米飲調，治白帶，亦治心痛，羅先生法或十棗湯、或神祐丸、或玉燭散，皆可用。不可峻攻。實者，可用此法；血虛者，加減四物湯；氣虛者，以人參、陳皮、白朮間與之；濕甚者，固腸丸：樗根白皮（二兩）　炒滑石（一兩）　為末，研粥為丸；相火動者，諸藥中少加炒黃柏；滑者，加龍骨、赤石脂；滯者，加葵花；性躁者，加黃連。寒月少入姜附，隨機應變，必須斷厚味。又方用：良薑　芍藥　黃連（各二錢半，燒灰）　入椿皮（一兩）　上為末，粥丸，米飲下。痰氣帶下者，蒼朮、香附、滑石、蛤粉、半夏、茯苓。一婦人白帶兼痛風，半夏、茯苓、川芎、陳皮、甘草、蒼朮，米泔浸南星、黃柏，酒洗曬乾，牛膝酒洗。一婦人上有頭風鼻涕，南星、蒼朮、酒芩、辛夷、川芎；下有白帶，南星、蒼朮、黃柏、炒焦白朮、滑石、半夏、牡蠣。粉白帶方：龜板　梔子（各二兩）　炒柏（一兩）　白芍藥（七錢半）　香附（五錢）　乾薑（二錢半）　山茱萸　苦參　椿皮（各五錢）　貝母（三錢半）　上末之，酒糊丸。赤白帶方：酒炙龜板（二兩）　炒柏（一兩）　炒姜（一錢）　梔子（二錢半）　上末之，酒糊丸，日服二次，每服七十丸。有孕白帶方：蒼朮（三錢）　白芷（二錢）　黃連（炒一錢半）　黃芩（三錢炒）　黃柏（一錢炒）　白芍藥（二錢半）　椿根皮（一錢半炒）　山茱萸（一錢半）。治結痰白帶以小胃丹，半飢半飽津液下數丸，候鬱積開，卻宜服補藥：白朮（一兩）　黃芩（五錢）　紅白葵花（半錢二）　白芍藥（七錢半）　上末之，蒸餅丸，空心煎四物湯下二十丸。白帶須用滑石、南星、黃柏、條芩。固腸丸，治濕氣下利，大便血，白帶，去胃腸陳積之候，用此以燥下濕，亦不可單用，看病作湯使椿白皮炒為末，糊丸。又方，涼而燥：椿白皮（四兩）　滑石（二兩）　為末粥丸。治白帶因七情所傷而脈數者：黃連（五錢炒）　扁柏（五錢酒蒸）　黃柏（五錢炒）　香附（一兩醋炒）　白朮（一兩）　白芷（二錢燒灰存性）　椿皮（二兩炒）　白芍藥（一兩）　上粥丸服。治赤白帶濕勝而下者：蒼朮（一兩鹽炒）　白芍藥（一兩）　枳殼（三錢）　椿白皮（三兩炒）　乾薑（二錢煨）　地榆（五錢）　甘草（三錢）　滑石（一兩炒）　上末之，粥丸，米飲下。治婦人赤白帶下，先以四物湯加減與之，次用破舊漆器燒灰存性，為末，無灰酒調五錢，空心一服止。又方，治帶病年深久不瘥者：白芍藥（三兩）　乾薑（五錢）　上炒黃色為末，空心米飲服二錢，帶病漏下五色羸瘦者，燒鱉甲令黃色為末，空心米飲調二錢。一婦人體肥帶下：海石（四兩）　南星　黃芩　蒼朮　香附（各三兩）　白朮　椿根皮　神麯（各一兩半）　當歸（二兩）　白芷（一兩二錢）　川芎（一兩二錢半）　茯苓（一兩半）　白芍藥　黃柏（各一兩）　滑石（一兩半）　上末之，神麯糊丸。帶下病主乎濕熱，白葵花治白帶，赤葵花治赤帶。帶下病多者與久者，當於濕熱藥中兼用升舉，性躁者加黃連。</p>

<h2>子嗣（第九）</h2>
<p>肥者不孕，因軀脂閉塞子宮而致，經事不行，用導痰之類；瘦者不孕，因子宮無血，精氣不聚故也，用四物養血、養陰等藥。予侄女形氣俱實，得子之遲，服神仙聚寶丹，背發癰疽，證候甚危。診其脈數大而澀，急以四物湯加減，百餘帖補其陰血，幸其質厚，易於收救，質之薄者，悔將何及！</p>

<h2>斷胎法（第十）</h2>
<p>用白麵曲一升，無灰酒五升，煮至三升半，絹濾去滓，分三服。候前月期將來日，晚間一服，次早五更一服，天明又一服，經即行，終身絕孕矣。</p>

<h2>婦人雜病（第十一）</h2>
<p>大凡一應雜病，與男子同治。婦人陰腫，用枳實半斤，銼炒令熱，故布帛裹熨，冷則易之。陰中惡瘡，好硫黃末敷之極妙。濕泡可加鉛粉。又方，枯礬為末敷之。男陰亦用此也。婦人隱處疼痛，炒鹽以青布裹熨之。陰冷，用母丁香為末，縫紗囊如小指大，實藥末，納陰中，愈。溫中藥，蛇床子末，白粉少許和勻，如棗大，綿裹納之。小便出大便，五苓散分利水穀。夢與鬼交，鹿角末酒調服。婦人發不黑，芭蕉油塗之。婦人風瘙癢癮疹，庠不止，用蒼耳、花果子為末，豆淋酒飲二三錢。《大全良方》論婦人夢與鬼交通者，由臟府虛，神不守，故鬼氣得為病也。其狀不欲見人，如有對語，時獨言笑，時或悲泣是也。脈息遲伏，或為鳥啄，皆鬼邪為病。又脈來綿綿不知度數者，顏色不變，此亦是其候也。夫鬼無形，感而遂通。蓋因心念不正，感召其鬼，附邪氣而入體，與神相接，所以時見於夢。故治之之法，大抵用硃砂、麝香、雄黃、鬼箭、虎頭骨，辟邪之屬可愈也。</p>

<h1>卷八（小兒科）</h1>
<p>錢氏方乃小兒方之祖，其立例極好，醫者能守而增損之，用無不驗。治小兒雜病，其藥品與大人同者多，但不可過劑耳，茲故不贅。乳下小兒，常濕熱多。小兒食積痰熱，傷乳為病，大概肝與脾病多。小兒易怒，故肝病最多，肝只有余，腎只不足。病因有二，曰飽曰暖。小兒冬月易受寒，夏月易受熱。</p>

<h2>初生（第一）</h2>
<p>兒在胎中，口有惡物，生下啼聲未出，急用綿裹指拭淨後，用甘草法。小兒初生，休與乳，取甘草一指節長，炙脆以二合煎，蘸兒口中，可蜆殼止，兒當快吐胸中惡汁，待後兒飢渴更與兩服，不吐盡一合止，得吐惡汁後，兒智慧無病。兒生三日開腸胃，研粳米濃水飲，如乳兒先與豆許含之，頻與二豆許，六七日可與哺之。兒生下時以豬膽一個，水五升煎四升，澄清浴兒無瘡疥。生下不飲乳，小便不通，乳汁三合，蔥白一寸，分四破，銀石器煎濃，灌之立愈。小兒生下七日，忽患臍風撮口者，百無一活。凡此時，當舌上有泡子，如粟米狀，以溫湯蘸帛乾擦破便安，如神。生下舌有膜如榴子連於舌根，令兒語言不發，可摘斷，微有血，如血不止，燒發灰滲之。又白礬灰、釜底墨，酒調敷。生十日口噤，牛黃少許細研，淡竹瀝調一字，豬乳和酒滴入口中。兒生百日之內，傷風鼻塞，服藥不退，乃是出浴時被風吹，所以有此，用天南星末、薑汁調，貼囟門上，鼻不塞去之。</p>

<h2>急慢驚風（第二）</h2>
<p>鎮驚丸，鎮驚寧神，退熱化痰止嗽：珍珠（一錢）　琥珀（三錢）　金箔（十片）　膽星（五錢）　牛黃（二錢）　麝香（五分）　天竺黃　雄黃（各三錢）　辰砂（三錢半）　上末之，姜糊丸，梧子大，每服六丸，薄荷、姜蜜湯下。大天南星丸，治急慢驚風，涎潮發搐，牙關緊急，口眼相引等症：膽星（五錢）　天麻　人參　防風（各二錢半）　牛黃　乳香（各一錢）　硃砂（二錢）　全蠍（十四枚）　麝香（一錢）　腦子（五分）　煉蜜為丸，芡實大，荊芥、薄荷湯下。急慢驚風，發熱口噤，手足心伏熱，痰熱，痰嗽，痰喘，並用湧法重劑，用瓜蒂散輕劑，用苦參、赤小豆末，復用酸齏汁調服之，後用通聖散，蜜丸服之，間以桑樹上桑牛，陰乾研末服，以平其風。桑牛比楊牛則色黃白者是。治小兒驚而有熱者，人參、茯苓、白芍藥、酒炒白朮、生薑煎服。夏月加黃連、生甘草、竹葉。世有一藥，通治二驚，切不可妄用。驚有二證，一者，熱痰主急驚，當宜瀉之；一者，脾虛乃為慢驚所主，多死，治當補脾。急者，只宜降火、下痰、養血；慢者，只用硃砂安神丸，更於血藥中求之。東垣云：慢驚先實脾土，後散風邪。黑龍丸治急慢二證：膽星（一兩）　礞石（一兩）　辰砂（三錢）　蘆薈　天竺黃（各五錢）　蜈蚣（一錢半燒灰）　殭蠶（五錢）　青黛（五錢）　上以甘草膏和丸，如雞頭大，急驚用姜蜜薄荷湯化下，慢驚用桔梗白朮湯化下。小兒未滿月驚欲作，中風即死，硃砂新水調濃塗五心神驗。驚風，用全蠍一個去翅足，薄荷四葉裹合，於火上炙令葉焦，同研為末，作四服，湯下。大人風涎，只作一服。胎中受驚，未滿月發驚，用硃砂研細，用牛黃少許，豬乳汁調稀，抹入口中，入麝香尤妙。初驚用防風導赤散，生乾地黃、川芎、木通、防風、甘草等分，用三錢，竹葉煎服。款用寧神膏：麥門冬去心（一兩）　淨麝香（一錢）　茯苓　硃砂（各一兩）　上為末，煉蜜丸小餅子，臨臥薄荷湯化下，夜一餅。老醫嘗言，小兒驚搐，多是熱證，若便用驚風藥，白附子、全蠍、殭蠶、川烏之類，便是壞證。後有醫科驚藥，只用導赤散加地黃、防風，進三服，導去心經邪熱，其搐便止，次服寧神膏神效。治急慢驚風奪命散，痰涎潮壅滯於咽間，命在須臾，服此無不愈，神效不可盡述，用青礞石一兩，入坩鍋內，同焰硝一兩，炭火煅通紅，硝盡為度，候冷，藥如金色，取研為末。急驚風，痰發熱者，薄荷、自然汁調服；慢驚風，脾虛者，以青州白丸子研，煎成稀糊，入蜜調下。治急慢驚風垂死者，亦可教灸法。男左女右，於大指上，半肉半甲，如箸頭大，艾灸三壯。卻用：辰砂　薄荷　輕粉（各半錢）　全蠍（一個去翅）　巴豆（一粒去油盡）　同為末，每服半字，用米糕屑煎湯調服。如牙關緊者，挑開灌之，口吐涎痰，腹中瀉即愈。吐瀉後成慢驚，昏睡，手足搐搦，以金液丹五錢，青州白丸子三錢，同研為末，生薑米飲調下三分。驚風，子母俱可服四君合二陳加薄荷、天麻、細辛、全蠍。日月丹，治小兒急慢驚風：硃砂（一兩）　輕粉（一兩）　蜈蚣（一條）　上為末，青蒿節內蟲為丸，如黍米大，每一歲一丸，乳汁送下。小兒急慢驚風，熱痰壅盛發熱：北薄荷葉　寒水石（各一兩）　青黛　白殭蠶　辰砂（以上各一錢）　全蠍（二枚炒）　豬牙皂角（五分炒）　槐角（五分）　防風（半錢梢）　上為末，燈心湯調乳汁灌之。角弓反張，眼目直視，因驚而致，南星、半夏、竹瀝、薑汁灌之，灸印堂。急慢驚風致死者，母丁香一粒口嚼細，人中白刮少許，以母中指血調，擦牙上即蘇。又方，用白烏骨雄雞血，抹唇上立蘇。</p>

<h2>疳病（第三）</h2>
<p>治疳病腹大：胡黃連（一錢，去果子積）　阿魏（一錢半，醋浸，去肉積）　神麯（二錢，去食積）　炒黃連（二錢，去熱積）　麝香（四粒）　上為末，豬膽丸，如麻子大，每服二十丸，白朮湯下。香蟾丸，治疳，消蟲積、食積、肉積。腹脹：三稜（炮）　蓬朮（炮）　青皮　陳皮　神麯（炒）　麥蘖（炒）　龍膽草　檳榔（各五錢）　胡黃連　川楝子　使君子　黃連（各四錢）　白朮（一兩）　木香（二錢）　乾蟾（五個）　上為末，將蟾醋煮燜搗，再入醋，糊為丸，粟米大，每服二十丸，米飲下。肥兒丸，治小兒諸疳積病：蘆薈（另研三錢）　胡黃連（三錢）　神麯（炒四錢）　黃連（炒）　白朮　山楂（炒各五錢）　蕪荑（炒二錢半）　上為末，豬膽丸，粟米大，每服十五粒。蘆薈丸，治五疳羸瘦，蟲咬肚疼。腹脹：蘆薈　胡黃連　木香（各二錢半）　檳榔（二枚）　青黛（二錢）　蕪荑（一錢）　麝香（一字）　使君子（二十枚）　乾蟾（一個酒炙）　青皮（去穰切，二錢半，用巴豆仁十個同炒焦，去豆不用）　上豬膽丸，黍米大，米飲下十五粒。治疳黃食積：白朮　黃連　苦山楂，等分為末，曲糊丸，白湯下十五粒。疳口，用五疳保童丸五帖，加蕪荑（二錢）　使君子　苦楝根（各三錢）　同為末，粥糊丸，麻子大，每服三十丸，米飲下。又方，端午日取蝦蟆眉脂，以硃砂、麝香末和丸，麻子大，空心乳下一丸。疳瀉，用赤石脂末，米飲調，服半錢。腦疳眉癢，毛髮作穗，面黃瘦，用鯽魚膽滴鼻中，三五日效。走馬疳，蠶蛻紙燒存性，入麝香少許為末，蜜和敷。加枯礬少許尤妙。牙疳：龍骨（三錢）　輕粉（五分）　銅綠（五分）　麝香（一字）　枯礬（二錢）　上研細，敷之。牙疳，口內並牙齦爛：輕粉（一錢）　枯礬（二錢）　柏末（三錢，先以帛蘸水洗拭患處，令淨用藥，干糝）上。一富家子年十四歲，面黃善啖，易飢，非肉不食，泄瀉一月，脈之兩手皆大，惟其不甚疲倦，以為濕熱當疲睏而食少，今反形瘦而多食，且不渴，此必病蟲作痢也，視大便果蛔蟲所為，予教去蟲之藥，勿用去積之藥當愈。次年春夏之交，瀉腹不痛，口乾，此去年治蟲不治疳故也，遂以去疳熱之劑，濃煎白朮湯之三日而瀉止半。復見其人甚瘦，教以白朮為君，芍藥為臣，川芎、陳皮、黃連、胡黃連，入少蘆薈為丸，煎白朮湯下之，禁食肉與甜物，三年當自愈。</p>

<h2>痘疹（第四）</h2>
<p>分氣虛、血虛，補之。氣虛，用參、朮、苓、甘加解毒藥；血虛，四物加解毒藥，酒炒黃連是解毒藥，但見紅點便忌，升麻葛根湯發得表虛也。吐瀉少食為裡實，裡實而補，則結癰陷伏靨灰白為表虛，或用燒人中黃子和方，黑陷甚者燒人屎，紅活錠凸為表實，表實復用表藥，則潰爛不結痂，吐瀉、陷伏二者俱見，為表裡俱虛。痘瘡初出或未出時，見人有患者宜預此藥，多者可少，重者可輕，其方用絲瓜近蒂者三寸，連瓜子皮都燒灰存性，為末，沙糖拌干吃，入硃砂未亦可。解痘瘡毒方，絲瓜、升麻、酒芍藥、生甘草、棠梂、黑豆、犀角、赤小豆。又方，解痘瘡已出未出皆可用，硃砂為末，蜜水調服，多可減少，少者可無。小兒豆瘡泄瀉發渴，切不可與蜜水、西瓜、紅柿生冷之物，可進木香散，陳文中小兒方內求之。瘡疹未發出證的，以胭脂塗眼眶不生痘瘡。痘瘡膿潰沾衣者，可用臘月黃牛糞燒灰挹睡，免生痘瘡癰。頭面豆痂剝去膿血出，以真酥油潤之，免成癬。痘斑瘡，心躁，眠不安，升麻汁綿蘸洗拭。痘瘡氣虛而發不出者，黃耆、人參、酒芍藥、當歸、川芎、酒紅花，如豆許，木香、紫草。氣實痰鬱而不發者，蒼朮、白芷、防風、升麻、黃芩、赤芍藥、連翹、當歸鬚。血熱而發得勢甚者，下焦成瘡，無皮口渴，天花粉、黃芩、芍藥、葛根、甘草、石膏、滑石。血氣俱弱而黑陷者，酒芍藥、人參、黃耆、白芷、木香、桂皮、川芎、當歸。血為濕，頭靨而灰白者，紅花、蘇木、白朮、蒼朮、芍藥、當歸、川芎，加酒少許。發後為外惡氣所傷而倒靨，人參、芍藥、連翹、黃耆梢、甘草梢、白芷、酒當歸、川芍、木香少許。凡痘瘡，須分人之清濁，就形氣上取勇怯。黑陷二種氣虛而不能盡出者，用酒炒黃耆、人參、酒紫草。顏色正，如上法欲成就卻淡；色不正者，用芎，歸，芍藥、紅花酒之類，欲成就卻紫色屬熱，用升、葛、芩、連、桂、翹之類。甚者，犀角屑大解痘毒。爐灰白色，靜者、怯者作寒看；齊者、勇者、躁者、焮發者作熱看。全白色將靨時如豆殼，蓋因初起時飲水過多，其靨不齊，俗呼為倒靨，不妨，但服實表之劑。消息他大小便，如大便秘，則通大便；如小便閉，則通小便。有初起煩躁譫語，狂渴引飲，若飲水，則後來靨不齊，急以涼藥解其標，如益元散之類亦可用。癢塌者，於形色脈上分虛實。實，則脈有力氣壯；虛，則脈無力氣怯。虛癢，以實表之劑加涼血藥；實癢或大便秘者，以大黃寒涼藥少與之，下其結糞。氣怯輕者，用淡蜜水調滑石末，以羽潤瘡上。疏則無毒，密則有毒，用涼藥解之，雖十數帖亦不妨，後無害眼之患。乾者，便用退火，濕者，便用瀉濕。退火，用輕劑，荊芥、升麻、甘、葛之類；瀉濕乃肌表間濕，用風藥，白芷、防風之類。痘瘡傷眼，必用山梔、決明、赤芍藥、當歸鬚、黃芩、黃連、防風、連翹、升麻、桔梗，為末，作小劑調服。如無光，過百日後氣血復，當自明。痘癰多是表實、血熱所成，分上下治，一日不可緩也。成膿，必用出涼藥為主，赤芍藥、甘草節、連翹、桔梗，上引用升麻、葛根，下引用檳榔、牛膝，助以貝母、忍冬草、白芷、栝蔞之類。大便燥用大黃；發熱用黃芩、黃柏。痘瘡黑屬血熱，涼血為主；白屬氣虛，補氣為主。中黑陷而外白，起得遲，則相兼而治。初起時，自汗不妨，蓋濕熱熏蒸而起故也。痘分氣、血、虛、實，以日子守之，多帶氣血不足處。虛則黃耆，生血活血之劑助之，略佐以風藥；實則白芍藥、黃芩為君，白芷、連翹佐之。若屬寒者，陳氏方亦可用。已發未發並與參蘇飲為當。調解之法，大率活血調氣，安表和中，輕清消毒，溫涼之劑二者得兼而已，溫如當歸、黃耆、木香輩；涼如前胡、甘葛、升麻輩。佐之以川芎、芍藥、枳殼、桔梗、木通、紫草、甘草之屬。初起時自汗不妨，蓋濕熱熏蒸而然。痘癰敷藥：貝母　南星　殭蠶　天花粉　白芷　草烏　大黃　豬牙皂角等分　寒水石倍用　上為末，醋調敷。一男子，年二十餘患痘瘡，靨謝後，忽口噤不開，四肢強直，不能舒屈，時繞臍痛，痛一陣則冷汗出如雨，痛定則汗止，時止時作，其脈弦緊而急，如直絃狀，詢知此子極勞苦，意其因勞倦傷血，且山居多風寒乘虛而感，之後，因痘出其血又虛，當用溫藥養血，辛涼散風，遂以當歸身、白芍藥為君，以川芎、青皮、鉤藤為臣，白朮、陳皮為佐，甘草、桂皮、南木香、黃芩為使，加以紅花少許，煎服而愈。予從子，六七歲時出痘，身熱，微渴，自利，醫用木香散加丁香十粒。予觀其出遲，固因自利而氣弱，然其所下皆臭滯，蓋因熱蒸而下，恐未必寒，急止之，已投一帖矣，與黃連解毒湯加白朮，近十帖以解之，利止，痘亦出。其肌常微熱，手足生腫，又與涼補，一月安。一人年十七，出痘發熱而昏倦甚，脈大而似數，與參、朮、耆、歸、陳皮，大料濃湯飲之，二十帖痘出，又與二十帖，則膿胞成，身無全膚，或用陳氏本方與之，予曰但虛無寒，又與前方，至六十帖而安。</p>

<h2>吐瀉（第五）</h2>
<p>小兒吐瀉，以錢氏益黃散、白朮散為主，隨證加減。小兒夏月吐瀉，益元散最妙。小兒吐瀉不止，恐成慢驚。錢氏五瀉、五補藥俱可用。治吐瀉及黃疸：三稜、莪朮、陳皮、青皮、神麯、麥芽、黃連、甘草、白朮、茯苓，上末，米湯調服。傷乳食吐瀉者，加山楂；時氣吐瀉者，加滑石；發熱者，加薄荷。吐瀉腹痛，吐乳瀉者，亦是寒，調脾胃，平胃散入熟蜜，加蘇合香丸相半，名萬安膏，米飲下。萬安丸壯胃進食，止吐瀉：白朮　茯苓　人參（各一錢半）　陳皮　蒼朮　厚朴　豬苓　澤瀉（各五錢）　乾薑（三錢）　官桂（二錢）　甘草（二錢半）　上為末，煉蜜丸，梧桐子大，每服五丸，食前米湯化下。</p>

<h2>痢（第六）</h2>
<p>小兒痢疾，黃連、黃芩、陳皮、甘草煎服。赤痢加桃仁、紅花；白痢加滑石末。治小兒食積，痢下純血，炒曲、蒼朮、滑石、白芍藥、黃芩、白朮、陳皮、甘草、茯苓，煎湯下保和丸。小兒久痢不止，水穀不消，枳殼為末，米飲調服二錢。小兒赤痢，青鹽搗汁，每服半盞。</p>

<h2>諸蟲（第七）</h2>
<p>蛔蟲攻心，薏苡仁極濃煎汁服。又方，使君子以火煨，任意食之，以殼煎湯送下。蛔蟲疼痛，湯氏方云，詩云：本為從來吃物粗，蟲生腹內瘦肌膚，盛吞甜物多生痛，怕藥愁啼肉漸枯。形候只看人中上，鼻頭唇下一時烏，沫干痛定蟲應退，取下蛔蟲病卻無。其方用安神散：乾漆（二錢炒令煙出）　雄黃（五錢）　麝香（一錢）　上為末，三歲半錢，空心苦楝根湯下。凡取蟲之法，須是月初服藥，蟲頭向上藥必效。治寸白蟲，以東行石榴根一握，洗銼，水三升煎至半碗以下，五更初溫服，如蟲下盡，以粥補之。化蟲丸：鶴蝨（炒）　檳榔　胡粉　苦楝根（五錢）　白礬（半生半枯共三錢）　上為末，糊丸，小豆大，每服三十丸，酒漿生油下。又治蛔蟲咬心吐水，鶴蝨為末，蜜丸，空心蜜湯或醋湯下三十丸。治蛔蟲方，以楝樹根為君，佐以二陳湯煎服。小兒冬月吐蛔蟲，多是胃寒胃虛而出，錢氏白朮散加丁香二粒。治蟲丸：胡黃連（一錢）　檳榔（一錢）　陳皮（一錢）　神麯　鬱金　半夏　白朮（各二錢）　雷丸（一錢）　上為末，糊丸。</p>

<h2>腹脹痛（第八）</h2>
<p>蘿蔔子、紫蘇梗、乾葛（一作乾薑）、陳皮，等分，甘草減半，食少加白朮煎服。小兒食積腹硬，必用紫蘇、蘿蔔子。小兒好食粽成腹痛，用黃連、白酒藥服愈，或為末作丸。黑龍丸治小兒腹痛。伏龍肝（一兩）　人參　茯苓　白朮　百草霜（各五錢）　甘草（二錢）　乾薑（三錢）　上粥糊丸、如桐子大，每服五丸，陳皮湯下。</p>

<h2>諸積（第九）</h2>
<p>宣藥治小兒諸般積滯：莪朮　青皮　陳皮（五錢）　芫花（三錢）　江子（十五粒去油另研）　檳榔（五錢）　為末，入江子霜，用醋為丸，如粟米大，每一歲七粒，薑湯下。消積丸去小兒積塊：石燕（五錢七次醋淬）　木鱉子（五錢去油）　密陀僧（一兩）　丁香　膩粉（各四錢）　上神麯糊丸，如粟米大，每服十五丸，米湯下。乳兒瘧疾痞塊：川芎（二錢）　生地黃　白朮（各一錢半）　陳皮　半夏　黃芩（各一錢炒）　甘草　上作一帖，姜三片煎就，下甲末五分。小兒食積、胃熱熏蒸，用白朮（一兩）　半夏　黃連（各五錢）　上末之，加平胃散和勻，粥丸，每服一二十丸，白湯下。</p>

<h2>風痰喘嗽（第十）</h2>
<p>白附丸止嗽化痰退熱，用半夏（二錢）　南星（一兩）　白附子（五錢）　白礬（四錢）　上為末，薑汁糊丸，如梧桐子大，每服八九丸，薄荷薑湯下。紫金丹治小兒痰積咳嗽、祛風鎮驚：半夏（一兩），南星、鐵孕粉、白附子（各五錢），枯礬（二錢），上末之，神麯糊丸，桐子大，每服四丸，薑湯下。又方，治風痰，南星半兩研，水厚一指浸，曬乾研細末，入白附子二兩，飛面為丸，如雞豆大，每服一丸或兩丸，姜蜜薄荷湯下。風涎潮塞不通，用不蛀肥皂角（炙一兩）　生白礬（五錢）　膩粉（半錢，即輕粉也）　水調灌一二錢，但過咽則吐涎矣。白礬者，分膈下涎也。治小兒痰喘痰盛，枳、桔、大腹，二陳湯服之。小兒咳嗽，用生薑四兩煎湯沐浴。小兒咳嗽，六脈伏，五味子、人參、茯苓、桑皮、黃芩、甘草。小兒因傷風邪，喘嗽而發熱，肺氣不平，麻黃、桔梗、紫蘇、枳殼、半夏、黃芩、甘草、茯苓，數帖愈。</p>

<h2>癇狂（第十一）</h2>
<p>小兒癇狂，用甘遂末一錢，豬心血和煨熟，加硃砂末一錢搗為丸，麻子大，每服十數粒。小兒多熱狂言欲作驚，以竹瀝飲之，大人亦然。小兒驀然無故大叫作聲者，必死。是火大發，其氣虛甚故也。</p>

<h2>夜啼（第十二）</h2>
<p>小兒夜啼者，邪熱乘心，黃連以薑汁炒，甘草，竹葉煎服。又用燈心灰塗乳上，令小兒吮之。腸寒多啼成癇者，當歸末乳汁調灌。又方，以雞窠草安臥席下，毋令母知。又方，以干牛糞如掌大，著席下。又方，兒啼不止如鬼狀，用蟬蛻下半截，去上半截為末，炒一字，薄荷湯下。小兒驚哭不止，有淚是肚痛，用蘇合香丸酒服。如是天吊，用天吊藤膏。一方，治夜啼用：人參（一錢半）　黃連（一錢半薑汁炒）　炙甘草（五分）　竹葉（二十片）　姜（一片）　水煎。</p>

<h2>口糜（第十三）</h2>
<p>一方，苦參、黃丹、五倍子、青黛等分。又方，江茶、粉草為末敷。小兒口瘡，白礬末糝之。小兒白屑滿口，狀如鵝口，用發纏指，蘸井水拭舌上。煅黃丹亦可敷。</p>

<h2>口噤（第十四）</h2>
<p>搐鼻藥，用鬱金、黎蘆、瓜蒂等分，為末，用水調，搐鼻內。</p>

<h2>中風（第十五）</h2>
<p>小兒中風，蘇合香丸，薑汁灌之，次用局方省風湯、小續命湯加麝香依法煎服。又方，先以酒化蘇合香丸，加薑汁少許灌之，次用八味順氣散，後用小續命湯。甚者只用木香、天南星、生薑十片，煎服。無南星，木香濃煎服。小兒中風，局方術附湯，生薑二十片調蘇合香丸，口進多服。或氣短頭暈、手足厥逆者，以前藥送養正丹五十丸至百丸，必效。小兒三歲中風不效者，松葉一斤，酒一斗，煮取三升，頓服。汗出立瘥。</p>

<h2>歷節風（第十六）</h2>
<p>忽患病，手足攣痛，盡靜夜劇，此歷節風也。先進蘇合香丸，次用生烏藥順氣散及五積散，水酒各半盞，煎服，入麝香一字。腰痛腿痛，口眼喎斜，半身不遂，手足不能屈伸，中氣中風，氣順則風散，用白朮（四兩面煨）　沉香（五錢）　天麻（一兩）　天台烏藥（三兩）　青皮　白芷　甘草　人參（各五錢，一云三錢）　上姜三片，紫蘇五葉煎，空心服，名順氣散甚妙。大風歷節，手指拘攣，痛不可忍，蒼耳莖、葉、根、實，皆可為末，丸服。</p>

<h2>赤遊丹毒（第十七）</h2>
<p>赤遊在上，涼膈在身，用二蠶沙細研，以剪刀草根搗自然汁調勻，先塗腹上，卻塗患處，須留一面出處，患處移動為效。剪刀草根即野慈姑。治赤遊風，用伏龍肝和雞子清敷，內用赤土水調服。治赤溜，生地黃、木通、荊芥、芍藥、桃仁，苦藥中帶表之類，以芭蕉油搽患處，一作以芭蕉搗塗患處，主熱傷血也。小兒天火丹齊腰起者，名赤溜。用蚯蚓泥油調敷。治冷風丹，車前子葉搗汁調伏龍肝敷之，或服尤妙。治小兒丹毒，以藍靛敷之。又方，用寒水石、白土為末，米醋調敷，冷即易之。治丹毒惡瘡，五色無常，乾薑末蜜調敷之。又方，地龍屎水調敷之。或以水中苔焙乾，末敷，淬水飲，良。諸熱丹毒，水磨蜣螂，功勝紫雪。又丹毒，水調芒硝塗之。赤游上下，至心即死，急搗芭蕉根汁，煎，塗之。</p>

<h2>身體痿痹（第十八）</h2>
<p>十月後小兒精神不爽，身體痿痹，伏翼燒灰細研，粥飲下半錢，日五服。若炙香熟，哺亦好。小兒頭項軟，五加皮末酒調，敷項骨上。</p>

<h2>身熱（第十九）</h2>
<p>小兒身熱：白芍藥（炒）　香附　滑石（各一兩）　甘草（三錢）　黃芩（一錢）　上作四服，每用姜三片，水盞半煎，乳母服。盜汗潮熱，黃連、柴胡等分，蜜丸，如雞豆大，酒化二丸。小兒一月至五月，乍寒乍熱，炮冬瓜絞汁服。亦止大人渴。小兒肌膚髮熱，升麻、葛根、芍藥、白朮、甘草、黃芩、柴胡、茯苓，煎湯灌之。小兒痰熱骨蒸：陳皮（二錢）　半夏（二錢）　甘草（五錢）　茯苓（三錢）　升麻（二錢）　葛根　白芍藥（各一錢半）　人參（一錢）　五味子（三十粒）　上作三帖，薑棗煎服。</p>

<h2>解顱（第二十）</h2>
<p>因母氣虛與熱多也。以四物合四君，有熱加酒連、生甘草，煎服，外以白蘞末敷，軟帛緊束。</p>

<h2>小兒雜病（第二十一）</h2>
<p>外腎腫硬及陰瘡，地龍末津調塗。脫囊即腫大，用木通、甘草、黃連、當歸、黃芩，煎服。又方，紫蘇葉末水調敷之，荷葉裹之，陰囊腫痛，生甘草汁調地龍糞，輕輕敷之。中蚯蚓毒陰囊腫痛，以蟬蛻半兩，水一碗，洗煎，其痛立止，以五苓散服之。脫肛，東北方壁土泡湯，先熏後洗。木舌及重舌，用針刺去血即愈。戴云：木舌者，腫硬不和軟也。又言此類蓋是熱病，用百草霜、滑石、芒硝為末，酒調敷之。吃泥，胃毒熱也，用軟石膏、黃芩、甘草、白朮煎服。龜胸用蒼朮、酒炒黃柏、酒炒芍藥、陳皮、防風、威靈仙、山楂、當歸。又痢後加生地黃。龜背用龜尿點其背上骨節，其法，以龜放荷葉上，候龜頭四顧，急以鏡照之，其尿自出。治胎痢，用雞蛋敲去清留黃，入黃丹一錢，將黃泥固濟，煨火中候乾，用米飲調下。治白瀉，雄黃一錢，炒熟面八錢，和勻，薑湯調服。治白禿瘡，用通聖散去硝，酒製為末，調服出汗。鱔攻頭，先用牆上風露草、蒼耳草煎湯，炭火淬入，洗後搽藥，以松香為主。治癩頭，用臘月馬脂搽之。又方，治癩頭，用紅白炭調長流水，令熱洗之。又服酒製通聖散末，大黃另用酒炒外，以胡荽子、懸龍尾（即梁上塵）、伏龍肝、黃連、白礬，為末調敷。又方，用：松樹厚皮（燒灰二兩）　白膠香（二兩熬沸□□上）　黃丹（一兩水飛）　枯礬（一兩）　軟石膏（一兩研細）　黃連　大黃（五錢）　輕粉（四盝）　上末之，熬熟油調，敷瘡上，須先洗去痂，乃可敷之。小兒頭瘡，用苦竹葉燒灰，和雞子白調敷。又方，用：木香（三錢）　黃連（一兩）　檳榔　雄黃（各半兩）　上為末，濕則干糝，干則以油調敷之。小兒初生多啼哭，臍中忽出血，白石脂細末貼之，未愈，炒過再貼，不得揭剝冷貼。治小兒臍久不幹，當歸焙末糝臍，或膿出清水，或尿入成瘡皆可。又方，用白枯礬為末敷之，或用伏龍肝加黃柏末敷。又方，用白礬、白龍骨煅，等分為末敷。或用少許綿子灰亦可。</p>

<h2>斷乳方（第二十二）</h2>
<p>山梔子三個燒存性，雄黃、硃砂、輕粉各少許，共為末，生麻油調勻，兒睡著時，以藥抹兩眉，醒則不食乳矣。</p>

<h2>雜方（第二十三）</h2>
<p>治黃疸，用香油一盞，熬熟入綠礬一兩，紅棗一斤，去核搗入鍋內，同拌勻透，取出擂爛得所為丸，如梧桐子大，每服七丸，隨分湯汁送下，但不用茶，一日七次。治痔，用魚虎子一個，黃泥裹煅過，為末，空心米飲調下。又方，用豬臟頭一個，納胡荽縛之煮熟，露一宿，空心服之。治鱔攻頭，用雞子殼煅存性，為末，香油調圍塗之。治疝，用陳年鵝子殼為末，空心酒服。治臟毒，用花箬燒灰煮，酒調下。又方，柿花連蒂燒灰，酒服。治乳癧，用青皮、陳皮為末，食後或湯或酒調服。治轉食嘔吐，用豬肚帶連屎，用生炭火煅過，為末，棗肉為丸，服之。治瘰癧，車前草一大握，湯內撈過，姜醋拌吃，後以枸杞根，煎服之。稻芒入喉中，取鵝涎灌之立出。諸骨入肉不出，煮白梅肉爛研，和象牙末厚敷骨刺處，自然出。</p>

<h1>附：醫案拾遺</h1>
<p>一人年三十六，平日好飲酒，大醉一時暈倒，手足俱麻痹，用黃耆一兩，天麻五錢，水煎加甘蔗汁半盞服。一人患中風，雙眼合閉，暈倒不知人，四君子湯加竹瀝、薑汁服之愈。一人患中風，四肢麻木，不知痛癢，乃氣虛也。大劑四君子湯加天麻、麥冬、黃耆、當歸。一人好色有四妾，患中風，四肢麻木無力，半身不遂，四物湯加參、耆、朮、天麻、苦參、黃柏、知母、麥冬、殭蠶、地龍、全蠍。一人患中風，滿身如刺疼，四物加荊芥、防風、蟬蛻、蔓荊子、麥門冬。一人年四十二，指盡麻木，面赤麻，乃氣虛證，補中益氣湯加木香、附子各半錢，服之愈。又加麥冬、羌活、防風、烏藥，服之全愈。一人年二十九患中風，四肢麻木，雙足難行，二陳加參、朮、當歸、黃柏、杜仲、牛膝、麥冬。一人年五十六，好飲酒，患傷寒，發熱口乾，似火燒，補中益氣湯加雞距子、當歸、川芎、芍藥、地黃汁、甘蔗汁。一人年三十四，患傷寒，發熱身如芒刺痛，四物湯加參、耆、朮、生地、紅花。一人患傷寒，腰疼左腳似冰，小柴胡加黃柏、杜仲、牛膝。一人患傷寒，發熱如火，口乾飲水，小柴胡去半夏加甘葛、天花粉。一人年二十九患傷寒，頭疼脅疼，四肢疼，胸膈疼，小柴胡湯加羌活、桔梗、香附、枳殼。一人年三十六患傷寒，咳嗽夜發晝可作陰虛治之，補中益氣加天冬、麥冬、貝母、五味。一人患傷寒，冷到膝，補中益氣湯加五味子，倍用人參服之愈。一人年三十患濕氣，四肢疼痛，兩足難移，補中益氣加牛膝、杜仲、黃柏、知母。五味子。一人五十三歲患發熱如火，此人平日好酒色，補中益氣加黃柏、知母、多用參、術。一人患虛損，咳嗽吐血，四物湯加參、朮、黃芩、款花、五味、黃柏、知母、貝母、天冬、麥冬、桑皮、杏仁。一人患虛損發熱，盜汗夢遺，四物湯加參、朮、黃耆、地骨皮、防風。一人患虛損，身發潮熱，四肢無力，小柴胡合四物加耆、朮、麥冬、五味。一人年四十六能飲酒，患虛損症，連夜發熱不止，四物湯加甘蔗汁、雞距子、甘葛、白豆蔻、青皮。一人虛損吐臭痰，四君子加白芷、天冬、麥冬、五味、知母、貝母。一人患虛損，四肢如冰冷，補中益氣湯加桂心、乾薑各一錢。一人五十一歲，患虛損，咳嗽吐血如紅縷，四物湯換生地加黃柏、知母、黃芩、貝母、桑皮、杏仁、款花、天冬、麥冬、五味、紫花、小薊汁一合，白蠟（七分）。一老人口極渴，午後躁熱起，此陰虛，老人忌天花粉，恐損胃。四物去芎加知、柏、五味、參、朮、麥冬、陳皮、甘草。一人患虛損，一身俱是塊，乃一身俱是痰也。二陳湯加白芥子研入，並姜炒黃連同煎服之。一人患虛損大吐血，四物湯換生地黃，加大黃、人參、山茶花、青黛。一人患虛損，手足心發熱不可當，小柴胡湯加前胡、香附、黃連。一人年六十患虛損症，身若麻木，足心如火，以參、耆、歸、朮、柴胡、白芍藥、防風、荊芥、羌活、升麻、牛膝、牛蒡子。一婦人產後泄瀉不禁，用人參五錢，白朮七錢，附子一錢半，二服而愈。一人患泄瀉，四肢強直，昏不知人，呼不回顧，四君子湯加木香、附子、乾薑、烏藥，服之愈。一人患泄瀉，手足如冰，身如火，四君子加附子、乾薑、芍藥、澤瀉，六帖愈。</p>
