<header data-type="book">
<h1>黃帝經世素問合編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張志聰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1672">公元1672年</data></dd></div>
<div><dt>底本</dt><dd>清康熙間勤思堂刻本（<a href="https://lccn.loc.gov/2012402064">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
