<header data-type="book">
<h1>傷寒捷訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="嚴則庵">嚴則庵纂輯</data>，<data value="裘慶元">裘慶元輯</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1908">公元1908年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521054">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>傷寒捷訣者。予祖宮方則菴公之所著也。自古以來。傷寒之書。何啻充棟。而或失則泛。或失則雜矣。且其間各執所見。建詞立論。往往不同。問津者恆苦之。予祖上自黃帝素問。下及仲景河間東垣丹溪諸書。無不研究。沉潛之久。恍然自得。蓋素問以足六經分經論治。然未嘗不通乎義也。仲景立三百九十六法。垂一百一十三方。可詢而訣也。河間以傷寒為熱病。經曰。熱病者。皆傷寒之類是也。東垣以內傷寒悉類傷寒。而丹溪之書。則云傷寒屬內傷寒者。十居八九。是皆殊途而同歸。百慮而一致者也。於是釀花為蜜。集腋成裘。不漏不支。作歌成訣。斯誠後學之津梁矣。獨惜註釋未詳。而粗淺者流。或第奉行故事。未審證之源委。立方之分寸。是猶吾祖之深憂也。予不自揣。因其耳熟。更參前賢章疏節解。務使分證立方之妙。瞭如指掌。非敢祖作而孫述。亦冀不負吾祖之苦心焉爾。</p>
<p>按仲景訣。未免汗漫。初學讀之。如涉海問津。以三陽三陰編訣捷簡。一誦瞭然矣。且各加註釋。庶各經不混。脈絡分明。不毋小補於萬一云爾。讀注全集。更有深心。知者鑑之。</p>

<h1>總論</h1>
<p>欲治傷寒。先須識症。診脈定名。處方必應。且如太陽有傷榮傷衛之分。陽明有在經在腑之病。少陽但主乎中。故曰膽為清淨。至三陰有傳經直中之不常。須究脈理而推詳。傳經者。脈沉數而煩熱。直中者。脈沉細而清涼。當汗而下。為結胸痞氣。當下而汗，為厥竭亡陽。腸垢鶩溏。須辨協寒協熱。瘀熱蓄血。可知發黃發狂。癃疹斑爛。起於濕熱二毒。筋惕肉瞤。由於汗下兩傷。若夫風溫濕溫。風濕中濕。風溫則喘息多眠。濕溫則妄言不食。風濕肢體重而額汗流。中濕肌膚黃而小便赤。溫病發於春時。熱病生於夏月。陽毒則面赤而狂斑。陰毒則唇青而冷厥。發汗戰汗。身涼者喜水火既濟之功。合病並病。下利者俱土木互相為克。又聞實為譫語。虛作鄭聲。水氣停蓄者。或嘔或噦。火邪劫奪者。或狂或驚。蛔厥狐惑。總是蟲症之號。剛痙柔痙。併為風病之名。霍亂乃暑濕相搏。寒熱是邪正交爭。喘咳者。水搏寒而所致。吐衄者熱迫血而妄行。單伏雙伏。此非怪脈。乃否極泰來之兆。陽易陰易。皆為危症。犯男交女接之情。惡寒喘嗽者。發表自愈。惡熱喘滿者。攻裡必寧。咳逆又名呃忒。動悸更曰怔忡。雙傳者雙經同病。百合者。百脈一宗。懊惱因心中之鬱悶。煩躁是內熱之薰蒸。臍痛引陰。名為臟結。厥利能食。號曰除中。瘛瘲者。手足抽搐。怫鬱者。頭面蒸紅。勞食再復。緣新瘥之狂禁。過經不解。與溫瘧之相同。蓋傷寒傳變之不一。非雜病徑直而可攻。予茲略陳其要。學者自宜變通。</p>

<h1>傷寒總訣治法</h1>
<p>一二日可發表而散。三四日宜和解而痊。五六日便實。方可議下。七八日不愈。又復再傳。日傳二經。病名兩感。經傳六日。應無不痊。太陽無汗。麻黃為最。太陽有汗。桂枝為先。小柴胡為少陽之要領。大柴胡行陽明之秘堅。至三陰則難拘定法。或可溫而可下。宜數變以曲全生意。或可方而可員。</p>

<h1>太陽經傷寒</h1>
<p>惡寒發熱身無汗。頭痛腰痛屬太陽。此是傷寒邪在表。急宜發散最為良。</p>
<p>按傷寒初起一二日內。乃足太陽膀胱經受之。其脈起於目內眥睛明穴。上腦下項。循肩。挾脊。抵腰。行身之後。終於足小指。至陰穴也。其症則頭項痛。腰脊強。以及周身病是也。然太陽為表之表。其脈尺寸俱浮而緊者。寒傷榮。故無汗也。急宜發散。則汗出而諸症愈矣。宜羌活湯及麻黃湯主之。若浮而緩者。風傷衛。故有汗也。宜桂枝湯主之。若傷寒見風。傷風見寒。此為風寒兼受。榮衛兩傷也。宜大青龍湯主之。他如發熱煩渴。小便不利。此為熱入膀胱之本。宜五苓散主之。</p>
<p>麻黃湯中用桂枝。杏仁甘草四般見發熱畏寒身體痛。須知一服汗淋漓。傷寒發表用羌防。蘇葉川芎白芷蒼。甘草生薑蔥共引。冬時無汗用麻黃。</p>
<p>按羌活防風。為足太陽發表藥也。佐以蘇葉川芎白芷蒼朮諸味之辛溫。則能助陽氣而發表矣。和以甘草。使以薑蔥。俾腠理通而寒邪散。至冬月傷寒。必須麻黃之辛熱以汗之。斷不可少也。他如春夏秋。謂非時感冒。未可輕用。</p>

<h1>太陽經傷風</h1>
<p>傷風約略似傷寒。有汗須知救表先。此是風邪傷在衛。桂枝斟酌自安全。桂枝湯內藥三般。芍藥甘草一處攢。若是麻黃相合用。方名各半治傷寒。大青龍湯桂麻黃。杏仁石膏甘草藏。棗子生薑乘熱服。風寒兩解此為良。五苓散內用豬苓。白朮雲苓澤瀉群。肉桂少加為引導。功能利水更生津。</p>

<h1>陽明經分在經在腑</h1>
<p>太陽不解入陽明。邪入陽明勢漸深。目痛鼻乾人少睡。在經在腑卻宜分。</p>
<p>陽明者，陽氣正盛。故曰陽明。其脈尺寸俱長。長而微洪。經病也。長而沉數。腑病也。脈有寸關尺三部。此止言尺寸者。關在其中矣。</p>

<h1>陽明經經病</h1>
<p>在經發熱尚憎寒。目痛難眠鼻孔干。症屬太陽猶未罷。葛根白虎應居先。</p>
<p>按傷寒二三日內。乃足陽明胃經受之。其脈起於鼻承泣穴。絡於目。循於面。行身之前。終於足次指。屬兌穴也。其症則身熱目痛鼻乾不得眠。然陽明為表之裡。其脈尺寸俱長。長而微洪。經病也。乃太陽症未罷。猶有惡寒在也。宜解肌湯葛根湯及白虎湯主之。長而沉數。腑病也。乃太陽經症已罷。不惡寒。專發熱也。宜大承氣湯及調胃承氣湯主之。若表症未除。里症又急者。宜大柴胡湯合表裡而兼治之。他如病在膈上者可吐。宜瓜蒂散主之。此重劑也。汗下後虛煩懊惱者可吐。宜梔子豉湯主之。此輕劑也。</p>
<p>解肌湯內芍甘羌。乾葛陳皮桔梗良。白芷黃芩姜共棗。陽明經病可煎嘗。葛根湯內用麻黃。二味加入桂枝湯。輕可去實因無汗。有汗加葛去麻黃。白虎湯中用石膏。甘草知母本乃抄。人參加上生津液。熱渴虛煩入米熬。</p>

<h1>陽明經腑病</h1>
<p>在腑不寒專發熱。咽乾作嘔心煩渴。發狂譫語大腸堅。大小三承湯可啜。</p>
<p>按不惡寒者，邪不在表也。咽乾煩渴，並作嘔者。皆胃熱甚也。胃火上衝。故心神失守。譫語狂言。大便堅燥。皆里症也。急宜下之。陶節菴曰。傷寒邪熱傳裡。須看氣勢淺深用藥。若三焦俱傷。則痞滿燥實堅全見。宜大承氣湯。邪在中焦。只有燥實堅三症。宜調胃承氣湯加甘草和中。去枳實者。恐傷上焦氤氳之氣也。邪在上焦。則痞而滿。宜小承氣湯去芒硝者。恐傷下焦真陰也。若表症未除。里症又急。不得不下者。則用大柴胡湯通表裡而緩治之。大承氣最緊。小承氣次之。調胃又次之。大柴胡又次之。蓋恐硝性急燥。不可輕用也。</p>
<p>大承氣湯用朴硝。大黃等分不須饒。厚朴倍加並枳實。通腸利便有功勞。小承氣湯三件藥。枳實大黃並厚朴。結胸譫語大腸堅。每服五錢功易覺。</p>
<p>大黃　厚朴　枳實　名厚朴三物湯　又厚朴大黃兩味治太陽病腹痛而閉。</p>
<p>調胃承氣有硝黃。甘草同加用最良。腹滿便堅兼口渴。心煩譫語總相當。大柴胡湯用大黃。半夏枳實共為良。更有黃芩與芍藥。薑棗同煎利大腸。瓜蒂散中赤小豆。二味勻平有傳授。豆豉一合水同煎。膈上停痰須此吐。梔子豉湯梔子先。更加豆豉水同煎。病後虛煩眠不得。心中懊惱吐之痊。</p>

<h1>少陽經主中宜和解</h1>
<p>少陽寒熱往來頻。口苦咽乾脅下疼。目眩耳聾頭角痛。小柴湯是頂門針。</p>
<p>按傷寒三四日內。及足少陽膽經受之。其脈起於目銳眥。瞳子髎骨、上頭角、絡耳、循胸、脅、行身之側。終於足四指之竅陰穴也。其症則胸脅滿而耳聾。往來寒熱。然少陽為半表半裡。其脈尺寸俱弦。弦而數者。病在中也。宜小柴胡湯和之。凡治有三禁。不可發汗。發汗則譫語。不可吐下。吐下則悸而驚。只宜和之。以柴胡湯。至病人嘔而不渴。加半夏。渴而作嘔。加薑汁竹茹。或渴或不渴。或嘔或不嘔。在隨症而加減之。</p>
<p>小柴胡湯祇五般。半夏人參共交攢。更有黃芩與甘草。生薑棗子水同煎。</p>

<h1>三陰經分傳經直中</h1>
<p>三陽傳罷入三陰。轉入陰經勢轉深。若是陰經名直中。沉寒錮冷卻宜溫。</p>
<p>所以三陰有傳經直中之不常。須究脈理而推詳。傳經者。脈沉數而煩熱。直中者。脈沉細而清涼。</p>

<h1>太陰經傳經熱症</h1>
<p>陽邪傳入太陰經。腹滿咽乾手足溫。尺寸俱沉時常數。桂枝加入大黃平。</p>
<p>按傷寒四五日內。乃足太陰脾經受之。其脈起於手足大指之隱白穴。上行至腹。絡於嗌。連舌本。行身之前。終於大包穴也。其症則腹滿或痛。咽乾自利。然三陽為表。三陰為里。其脈尺寸俱沉。沉而有力。傳經熱症也。宜桂枝加大黃湯下之。沉而無力。直中寒症也。宜理中四逆湯溫之。若本是陽症。或重受風寒。或過食生冷。或誤服涼藥。遂變成陰症。此為害熱未已。寒病復起。始病熱症。末傳寒中也。亦宜理中四逆湯溫之。他如傷寒入三陰。尚有在經表邪。如太陰有桂枝加芍藥湯。少陰有麻黃附子細辛湯。厥陰有當歸四逆湯之類。皆陰經表藥也。</p>
<p><u>當歸四逆湯</u></p>
<p>當歸　白芍　桂枝　細辛　通草　甘草　大棗</p>
<p>桂枝大黃甘草芍。枳實柴胡薑棗著。檳榔大腹用水煎。太陰實熱須臾卻。桂枝加芍減甘草。更用生薑及大棗。表症未除因誤下。太陰腹痛斯安好。</p>

<h1>太陰經直中寒症</h1>
<p>直中陰經不發熱。腹痛惡寒四肢厥。唇青面黑是真陰。四逆理中真妙訣。（此太陰直中寒症其脈沉細無力宜溫之）</p>
<p>四逆湯中姜一兩。生附減半去皮尖。一兩甘草水煎服。厥而下利用之痊。理中甘草用乾薑。白朮人參是的當。若是內中加附子。更名附子理中湯。</p>

<h1>少陰經傳熱症</h1>
<p>陽邪傳入少陰中。口燥咽乾譫語同。便實繞臍時硬痛。腑中燥屎卻宜攻。</p>
<p>按傷寒五六日內。及足少陰腎經受之。其脈起於足之湧泉穴。上行貫脊。循喉嚨。絡舌下。注心中。行身之前。終於腧府穴也。其症則口燥咽乾。便實譫語。或繞臍腹痛。是腑中燥屎使然。與直中全無干涉。宜下之。如大承氣及調胃承氣湯是也。</p>
<p>麻黃附子細辛湯。發表溫經兩法彰。若非表裡相兼治。少陰反熱曷能康。</p>

<h1>少陰經直中寒症</h1>
<p>惡寒無熱厥如冰。吐瀉交加腹內疼。六脈沉遲陰毒盛。身如被杖爪唇青。</p>
<p>此少陰直中寒症也。其脈沉細無力。宜溫之。如四逆湯理中湯之類是也。</p>

<h1>厥陰經傳經熱症</h1>
<p>舌卷囊拳消渴甚。四肢厥冷乍還溫。煩滿便堅多屬熱。六一順氣可旋吞。</p>
<p>按傷寒六七日內。乃足厥陰肝經受之。其脈起於足大指之大敦穴。循陰器。抵小腹。絡於肝。行身前之側。終於期門穴也。其症則煩滿而囊縮。筋急而唇青。在男子則囊拳。在女子廷孔急痛。痛引小腹。廷孔者。陰之深處也。亦宜分傳經直中治之。其脈沉實有力當下。如六一順氣湯之類是也。沉遲無力當溫。如回陽救急湯之類是也。</p>
<p>六一順氣芍藥標。柴胡枳實大黃硝。黃芩厚朴同甘草。可代三黃功更高。</p>

<h1>厥陰經直中寒症</h1>
<p>口吐涎沫不作渴。嘔逆腹疼四肢厥。爪唇青黑是真寒。回陽救急功尤捷。（此足厥陰直中寒症也。其脈沉遲無力宜溫之）</p>
<p>回陽救急半甘苓。熟附乾薑肉桂參。白朮陳皮五味子。治寒直中厥陰經。</p>
<p>夫傷寒三陰有傳經之熱症。有直中之寒邪。自是兩途。豈容混治。其可用不可用之理。果何哉。若能辨其因。正其名。察其形。治法焉有不當者乎。</p>

<h1>結胸</h1>
<p>結胸五種須分別。大小結胸並水結。熱實結胸煩躁多。寒實結胸渾不熱。</p>
<p>按傷寒太陽經症。表未解而醫遽下之。表邪乘虛入里。在五六日便堅口渴。日晡潮熱。上至心下。下至小腹硬滿而痛不可按者。乃大結胸也。宜大陷胸湯主之。或心下硬滿。按之則痛。是必待按。然後作痛。況止在心下。則小腹之不硬痛可知矣。熱徵於前。故曰小結胸也。宜小陷胸湯主之。或水飲停胸。水結胸也。小半夏加茯苓湯主之。或熱多煩躁。熱實結胸也。如大柴胡六一順氣湯。皆可選用也。或寒多無熱。寒實結胸也。枳實理中湯主之。</p>
<p>大陷胸湯大黃硝。甘遂同煎力更饒。邪在胸中宜陷下。體虛胃弱漫輕調。小陷胸湯半夏連。栝蔞實共水同煎。苦能泄熱辛能散。利下黃涎即便安。小半夏加茯苓湯。行水散痞有生薑。加桂去夏治悸厥。茯苓甘草湯名彰。</p>

<h1>血結胸</h1>
<p>血結胸中不可按。如狂嗽水不欲咽。大便黑色小便通。犀角地黃湯最善。</p>
<p>按傷寒經病。熱極而蓄血積於胸中。硬痛而不可按者。為血結胸也。宜犀角地黃湯、及桃仁承氣湯主之。活人云。大抵結胸症固當下。須看氣之虛實。脈之盛衰。若脈來浮大者。猶帶表邪不可下。下之則死。下後而復反結者亦死。結胸症悉具。而煩躁者亦死。下後而舌反黑裂者亦死。下後而譫言讝語者亦死也。</p>

<h1>痞氣</h1>
<p>滿而不痛名為痞。枳桔頻投是妙方。更有瀉心湯可服。大黃附子半甘姜。</p>
<p>按傷寒心下痞硬而痛者。為結胸。為實。硬滿而不痛者。為痞氣。為虛。凡傷寒痞氣。輕者通用枳桔湯。其行氣下膈也。若心下痞。按之濡。關上浮者。大黃黃連瀉心湯主之。若心下痞。而復惡寒汗出者。附子瀉心湯主之。若寒多熱少。胸滿而不痛。脈濡者半夏瀉心湯主之。若干嘔有水氣者。生薑瀉心湯主之。若干嘔下利腹鳴者。此非結熱。但以胃虛客氣上逆。故使硬也。甘草瀉心湯主之。大抵傷寒之痞。與雜症不同。傷寒之痞。從外之內。故宜苦瀉。雜症之痞。從內之外。故宜辛散。</p>
<p>附子瀉心用三黃。寒加熱藥以維揚。痞乃熱邪寒藥治。惡寒加附始相當。半夏瀉心黃連芩。乾薑甘草與人參。大棗和之治虛痞。法在降陽並和陰。（去人參即甘草瀉心湯加姜即生薑瀉心湯）</p>

<h1>下厥上竭</h1>
<p>少陰但厥身無汗。強發之時血不安。或從口鼻或目出。下厥上竭實難全。</p>
<p>按傷寒傳入少陰而身厥者。乃榮衛俱虛。不當發汗也。若強發其汗。致血妄行。或從口鼻。或從目出。此名為下厥上竭。主不治也。</p>

<h1>亡陽</h1>
<p>過汗亡陽症不輕。三焦上下及周身。桂枝加減苓甘附。真武湯兼附瀉心。</p>
<p>亡陽者。謂發汗過多而汗不止也。然有衛外之陽。為周身榮衛之主。此陽虛遂有汗漏不止。惡寒身痛之症。宜桂枝加附子湯主之。有膻中之陽。為上焦心肺之主。此陽虛遂有叉手冒心。及奔豚之症。宜桂枝甘草湯及茯苓桂枝甘草湯主之。有腎中之陽。為下焦真元之主。此陽虛遂有發熱眩悸。瞤振擗地之症。宜真武湯主之。有胃中之陽。為中焦水穀生化之主。此陽虛遂有腹脹滿。胃不和。而成心下痞之症。宜生薑瀉心湯主之。大抵傷寒亡陽。病本不輕。救誤者須觀脈症。知犯何逆以法治之。</p>
<p>真武湯中芍藥煨。雲苓浙術炙甘隨。附子炮來加減用。生薑五片總相宜。</p>

<h1>腸垢鶩溏</h1>
<p>傷寒下利多般數。要識陰陽勿差誤。三陽利時身必熱。三陰但溫無熱俱。合病自利葛根湯。或用黃芩湯可愈。自利不渴屬太陰。少陰必渴身虛故。外審證兮內憑脈。內外並觀斯兩得。脈大由來卻是虛。脈滑而數有宿食。協熱而利臍下熱。譫語而利燥屎結。少陰心痛口燥煩。卻與利之斯要訣。</p>
<p>按利與痢不同。利者。瀉也。不因攻下而泄瀉也。此即傷寒自利之症。俗名漏底傷寒是矣。凡傷寒自利。有因三陽傳陰經而下利者。為協熱利。協熱利者。曰腸垢。臍下必熱。宜黃芩湯葛根湯主之。有因陰寒直中陰經而下利者。必協寒利。協寒利者。曰鶩溏。臍下必寒。宜理中四逆湯主之。原病式曰。瀉白為寒。青黃紅黑皆熱也。大抵陽熱之利。與陰寒不同。宜細辨而詳治之。凡自利不可發汗。以下利為邪氣內攻。走津液而胃虛也。</p>
<p>黃芩湯用甘芍並。傷寒自利棗和烹。此方遂為治痢祖。後人加味或更名。</p>

<h1>發黃</h1>
<p>溫熱在裡不能散。蓄積脾中成此患。頭面有汗至頸還。渴飲水漿曾莫閒。茵陳五苓湯最奇。滲濕除黃功有贊。瘀血之症亦相類。大便必黑此其異。下焦有熱或加狂。桃仁須加入承氣。</p>
<p>脾胃有濕熱則發黃。黃者、脾胃之色也。此即傷寒瘀熱、發黃之症。瘀熱即陽黃也。經曰。陽明病發熱汗出。此為熱。越則不發黃。若但頭汗。身無汗。小便不利。渴飲水漿。此為痰熱在裡。必發黃。宜以茵陳蒿湯主之。如初起發者。則以茵陳五苓散主之。亦有太陽瘀熱在裡發黃者。此亦為陽黃。宜以麻黃連翹赤小豆湯主之。若身如橘色。小便不利。腹微滿者。亦宜茵陳蒿湯主之。若身黃髮熱者。則熱外出而不內入矣。宜以梔子柏皮湯主之。亦有寒濕發黃者。身熏黃而色暗。此為陰黃。宜茵陳附子湯主之。亦有瘀血發黃者。小便利。大便黑。此蓄血症也。宜桃仁承氣湯及犀角地黃湯主之。大抵傷寒發黃。與雜症不同。宜參症治之。經曰。中濕與發黃。不利小便非其治也。</p>
<p>茵陳蒿湯用大黃。濃煎去疸善毆黃。梔子柏皮兼可用。五苓加上又為良。桃仁承氣五般奇。甘草硝黃並桂枝。血症發黃瘀內結。狂言妄語總相宜。滲濕湯中蒼白朮。陳皮澤瀉豬苓茯。厚朴香砂甘草同。燈心姜引水煎服。犀角地黃芍藥湯。血升胃熱火邪干。斑黃湯毒皆堪治。或益柴苓總伐肝。</p>

<h1>發狂</h1>
<p>煩躁狂言仍面赤。熱潮咽痛號重陽。便於陽毒經中治。承氣黃連白虎詳。陰燥發狂宜附子。血瘀承氣地黃湯。</p>
<p>發狂者。謂濕毒在胃。併入於心。遂使神志不定而發狂也。狂之發作。少臥不飢。妄語笑。妄起行。登高而歌。棄衣而走。甚則逾垣上屋。此傷寒陽毒發狂之症也。經曰。邪入於陽則狂。又曰。重陽則狂。是也。宜以大承氣湯倍加芒硝急下之。有身熱煩躁。不得發狂者。表裡俱熱。宜三黃石膏湯。雙解散治之。又有乾嘔、面赤、發斑、咽痛、下利黃赤、壯熱不得汗者。宜葶藶苦酒湯治之。亦有陰燥發狂者。此非狂也。為陰極發燥。周身之火。浮游於外。或欲坐井中。或欲投泥水中臥。或欲向陰涼中坐。煩躁不安。亦如狂也。但手足逆冷。脈息沉微遲細。雖煩躁不能飲水者也。宜附子湯救之。不可一例以陽狂治也。亦有瘀血發狂者。血上逆則喜忘。血下蓄則如狂。宜桃仁承氣湯及犀角地黃湯主之。其或重熨迫汗。灼艾燒針。令人煩躁臥起不安。則謂之火邪驚狂凡是數者。各有條例。或狂言目反直視。為腎絕。汗出輒復狂言。不能食。死症也。非藥石所能及矣。</p>
<p><u>附子湯</u></p>
<p>附子（炮二枚）　茯苓（三兩）　人參　白朮　芍藥</p>
<p>黃連解毒湯四味。黃柏黃芩梔子是。退黃清熱更祛煩。吐血便紅皆可治。</p>

<h1>發斑</h1>
<p>身如塗朱眼如火。發斑狂叫無人我。血熱不散出乘虛。三黃青黛湯最妥。</p>
<p>發斑者。謂熱傷血。血熱不散。裡實表虛。發於皮膚而為斑也。或渴症誤溫。或當汗失汗。當下失下。或汗下未解。或下早熱邪入胃。或下遲熱留胃中。皆致發斑。輕如疹子。重如錦紋。若色紫黑。熱極而胃爛者必死。此即傷寒陽毒發斑之症也。凡斑疹將發未發之時。宜以升麻葛根湯先透其毒。如熱甚者。再以犀角地黃湯主之。如青黛大青知母石膏黃連黃柏黃芩之類。以斑盡為度。如汗吐下後。虛極發斑者。宜以人參白虎湯主之。亦有溫毒發斑者。冬時感寒。至春始發也。宜以元參升麻湯解之。凡斑疹不可發汗。發汗則重令開泄。更增斑爛。亦不可遽下。遽下。則重損其陰。恐斑毒內陷。多致不救。不可不慎也。</p>
<p>升麻葛根湯四味。攢上芍藥甘草是。傷寒發熱與頭痛。痘疹初熱為要劑。</p>

<h1>筋惕肉瞤</h1>
<p>病人肉瞤並筋惕。汗出過經真無敵。不然邪入大經中。狀如瘛瘲癲癇疾。發汗動經身振搖。宜用茯苓桂枝術。動氣在左誤下之。忽爾肉瞤最為逆。</p>
<p>筋惕肉瞤者。皆由汗下太過。表邪未解。血氣虛奪。筋肉失養所致。不然邪入大經者。謂不因發汗。而邪熱搏於血脈之中。故惕惕而跳動也。張仲景特立真武湯以救其誤。又腹中上下左右有動氣。俱不可汗下。否則必筋惕肉瞤。其在左邊動氣者。俱不可汗下。若汗下則筋惕肉瞤。其在右邊動氣者。尤當以汗下為戒也。</p>

<h1>風溫</h1>
<p>風溫熱汗脈多浮。喘渴癡眠體不收。病在二陰無發汗。人參敗毒散宜投。</p>
<p>風溫者。謂先傷於風。因而傷熱。風與熱搏。即發風溫也。其脈尺寸俱浮。其症則身熱自汗。頭痛、喘息、發渴、昏睡。或體重不仁。其病則在少陰厥陰二經。宜以人參敗毒散治之。凡風溫不可發汗。發汗則譫語煩躁。目亂無精。如此死者。醫殺之耳。</p>
<p>人參敗毒散桔梗。甘草川芎茯苓等。枳殼前胡獨活羌。柴胡十味性涼冷。</p>

<h1>濕溫</h1>
<p>濕溫譫熱汗流頻。腹滿脛寒頭目疼。病在太陰無發汗。加蒼白朮效如神。</p>
<p>濕溫者。謂傷於濕。因而中暑。濕與熱搏。即發濕溫也。其脈寸濡而弱。尺小而急。其狀胸滿。頭目痛。發壯熱。若妄言。身上汗多。而脛逆冷。其病則在太陰經。宜以白虎加蒼朮湯治之。凡濕溫不可發汗。發汗則使人不能言。耳聾不知痛處。其身青面色變。是名重暍。如此死者。醫殺之耳。</p>

<h1>風濕</h1>
<p>風濕浮兮額汗微。腫疼發熱毒重衣。桂枝附子專能治。甘附湯中悉可醫。</p>
<p>風濕者。先傷濕而後傷風也。其脈浮虛而澀。其症肢體重痛。不能轉側。額上微汗。怯寒而不欲去衣。大便難。小便利。宜以桂枝附子湯及甘草附子湯治之。凡風濕不可發汗。若發汗則風去濕在。非徒無益。而反害之。</p>

<h1>中濕</h1>
<p>中濕身黃熱痛頻。腸稀便澀緩而沉。五苓除濕專能治。甘附湯中悉可寧。</p>
<p>中濕者風雨襲虛。潤澤蒸氣。人多為濕所傷也。其脈沉而緩。其症一身盡痛。重著發黃。關節煩痛。發熱鼻塞。時或脹滿。大便利。小便難。宜以五苓散除濕湯及甘草附子湯治之。凡中濕不可發汗。發汗則病熱而痙者死亦不可下下之則額汗胸滿微喘而噦。小便不利。經曰治濕之道。不利小便。非其治也。</p>

<h1>溫病熱病</h1>
<p>傷寒溫病發於春。夏月傷寒熱病臨。羌活沖和湯可治。防風通聖散能平。</p>
<p>傷寒即病者。謂之傷寒。不即病者。謂之溫暑。及冬時傷寒。至春變為溫病。至夏變為熱病也。其原不殊。故一稱為傷寒。其類則殊。施治不得相混。今人或疑麻黃桂枝湯不可用。不知傷寒冬寒之時。寒邪在表。開其腠理。非辛溫不能散之。此麻黃桂枝等劑。所以必用也。溫病熱病。發於暄熱之時。鬱熱自內達外。無寒在表。故非辛涼寒苦酸之劑。不能解。此麻黃桂枝所以不可用。而後人所處九味羌活湯、防風通聖散之類。兼治內外者之所以可用也。</p>
<p>九味羌活湯防風。黃芩白芷與川芎。蒼朮生地細辛甘。煎法還用薑棗蔥。防風通聖將軍芍。薄荷歸芎草朴硝。梔翹芩桔並白朮。麻黃荊芥滑石膏。</p>

<h1>陽毒</h1>
<p>陽毒狂言面赤紅。身斑煩躁數弦洪。黃連承氣專能治。犀角升麻湯可攻。</p>
<p>陽毒者。謂邪氣深重。或失汗。或失下。或誤服熱藥。遂變成陽毒。其脈弦洪促數。其症面目俱赤。發斑如錦紋。心下結悶煩躁咽痛。甚則狂言奔走。逾垣上屋。宜以升麻葛根湯、犀角地黃湯、大承氣湯、黃連解毒湯詳症治之。五日者可治。過六七日不可治矣。</p>

<h1>陰毒</h1>
<p>陰毒唇青厥冷頻。腹痛陰燥疾而沉。回陽四逆專能治。真武和陰悉可平。</p>
<p>陰毒者。謂腎本虛寒。或傷冷物。或感寒邪。或汗下失宜。遂變成毒。其脈沉細而疾。其症爪唇青黑。四肢厥冷。身如被杖。腹中絞痛。甚則陰極發燥。精神恍惚。宜以四逆真武湯詳症治之。五日可治。過六七日不可治矣。</p>

<h1>發汗</h1>
<p>太陽發汗用青龍。誤服之時腎氣空。厥逆身瞤何藥救。方名真武可收功。</p>
<p>發汗者。謂發汗過多。乃誤服大青龍湯所致。仲景曰。若脈微弱。汗出惡風。不可服此。服之則厥逆筋惕肉瞤。此為逆也。此亦少陰過汗亡陽之症。故俱用真武湯以救其誤。蓋取固腎為義也。</p>

<h1>戰振慄</h1>
<p>戰動於身慄動心。二邪勝負兩般尋。振振汗出將全愈。鼓頷虛寒四逆平。</p>
<p>戰者。身為之搖也。慄者。心戰而惕也。此傷寒欲解。將汗之時。邪正相爭。故戰振而股慄也。然戰慄有屬陽者。真氣來復。正氣鼓動。外爭而勝。故身為振搖。遂大汗而解也。有屬陰者。陽微陰勝。邪氣內爭。而正不勝。故心寒足蜷。鼓頷厥冷。而一身戰搖也。宜四逆湯溫之。</p>

<h1>合病</h1>
<p>太陽合胃脈浮長。若是浮弦合少陽。膽合胃時弦不短。黃芩承氣葛根詳。</p>
<p>合病者。謂二陽經。或三陽經同病。病之不傳者也。凡三陽合病。必互相下利。如太陽陽明合病下利。脈浮長者。葛根湯主之。如太陽少陽合病下利。脈浮弦者。黃芩湯主之。如少陽陽明合病下利。脈弦長者。小承氣湯主之。若脈長大而弦。利不止。不食。病名曰負。負者失也。土敗木賊則死也。</p>

<h1>並病</h1>
<p>太陽原與陽明並。復病歸來作一家。尚有太陽宜各半。太陽症罷大承瘥。</p>
<p>並病者。謂一經先受病。又過一經病之傳者也。如太陽陽明若並而未盡。是謂未過。仲景所謂太陽病不罷。面赤。陽氣怫鬱。在表不得越。煩躁短氣是也。猶當汗之以各半湯。若並之已盡。是謂傳過。仲景所謂太陽病罷。潮熱。手足汗出。大便硬而譫語是也。法當下之。以大承氣湯。是知傳則入腑。不傳則不入腑。並病傳變有如此。</p>

<h1>譫語</h1>
<p>譫語證本非一類。或因下利或胃實。三陽合病或瘀血。或是熱入於血室。大抵發熱陽脈生。反見陰脈斯為逆。血室血瘀承氣宜。柴胡白虎地黃合。</p>
<p>譫語者。數數更端。聲高脈洪而數。蓋由胃熱乘心。神識昏冒。妄言不休。經曰。實則譫語是也。然譫語症非一端。有因胃有燥屎而譫語者。宜承氣湯治之。有因過汗亡陽而譫語者。宜柴胡加桂枝湯治之。以和榮衛而通津液也。有因三陽合病而譫語者。宜白虎湯治之。有因熱入血室而譫語者。宜桃仁承氣湯及犀角地黃湯治之。大抵譫語屬實。故宜解清熱。然亦有陽虛氣脫而譫語者。宜用參朮歸耆等劑。他如脈短則死。脈自和則愈。又身微熱。脈浮大者生。逆冷脈沉。或氣上逆而喘滿。或氣下奪而自利。皆為逆。</p>

<h1>鄭聲</h1>
<p>鄭聲脈細是虛形。一語頻言脈更沉。大小便稀手足冷。急煎附子理中湯。</p>
<p>鄭聲者。只將一事一語。鄭重諄復。聲低脈細而沉。經曰虛則鄭聲是也。其證大便稀。小便利。手足冷。此陽虛氣脫之狀也。宜急煎附子理中湯以救之。大抵鄭聲屬虛。本非實證。他如神昏氣促。呃逆不止。不知人事者死。</p>

<h1>嘔吐</h1>
<p>胃家有熱難停食。胃冷無和納水漿。二證皆令人嘔逆。嘔家聖藥是生薑。若是上行為氣逆。胃家由是不安康。</p>
<p>有物有聲謂之嘔。有物無聲謂之吐。蓋由表邪傳裡。裡氣上逆。則為嘔吐水穀不下是也。然嘔吐症本不同。有因氣逆而嘔者。宜小柴胡湯加生薑主之。有因水停心下而嘔者。宜茯苓甘草湯主之。有因胃熱而吐者。宜竹葉石膏湯加生薑汁主之。有因胃寒而吐者。宜理中湯加生薑主之。大抵嘔吐清水。即為寒症。若胃中有熱。必是涎液酸水。病機云。諸嘔吐酸。及水液渾濁。皆屬於熱。諸病水液澄徹清冷。皆屬於寒。此可見矣。</p>
<p>竹葉石膏湯用參。麥冬半夏更加臨。甘草生薑加粳米。虛煩自利熱能清。</p>

<h1>乾嘔</h1>
<p>陽明胃絡從頭走。氣上逆行須便嘔。少陽嘔苦小柴胡。胸中有熱黃連候。小停心下茯苓甘。先嘔後渴五苓散。汗後虛煩竹葉湯。梔子豆豉尤堪啖。</p>
<p>有物無聲謂之嘔。即海藏東垣所謂乾嘔是也。然乾嘔症亦不同。有因太陽自汗而乾嘔者。桂枝湯主之。有因水氣在表而乾嘔者。小青龍湯主之。有因水氣在裡而乾嘔者。十棗湯主之。有因少陰下利而乾嘔者。姜附湯主之。有因厥陰吐沫而乾嘔者。吳茱萸湯主之。大抵乾嘔與嘔吐不同。宜分別治之。</p>
<p>小青龍湯桂麻草。半夏細辛芍藥炒。乾薑五味可同煎。水停心下斯方好。十棗湯中用大棗。芫花大戟甘遂好。乾嘔脅痛宜煎服。伏飲停痰醫莫少。吳茱萸湯人參棗。重用生薑溫胃好。陽明寒嘔少陰利。厥陰能解痛皆保。</p>

<h1>火邪驚狂</h1>
<p>火邪劫奪或驚狂。迫汗燒針更走陽。煩躁不安何藥治。柴胡龍骨可煎嘗。</p>
<p>火邪驚狂者。醫家用火熏熨迫汗。及燒針灼艾而然也。其人亡陽躁臥起不安。宜柴胡加龍骨牡蠣湯主之。蓋柴胡龍骨牡蠣能除煩斂氣而鎮驚也。</p>

<h1>蛔厥</h1>
<p>胃冷仍加重汗出。因成蛔厥吐長蟲。病源本屬厥陰症。宜用烏梅與理中。</p>
<p>蛔厥者。病在厥陰也。蛔入上膈則痛。須臾復止。得食則嘔。而又煩。蛔聞食臭復出也。此為臟寒當自吐蛔。與烏梅溫臟安蛔。亦有胃冷吐蛔者。此因發汗所致。病在陽明也。宜用理中湯加炒川椒五粒。檳榔五分。吞烏梅丸。蓋烏梅丸於辛酸入肝藥中微加苦寒。納上逆之陽邪。而順之使下也。名曰安蛔。實是安胃。故病主久利。見陰陽不相順接。而下利之症。皆可以此方括之也。</p>
<p>烏梅丸用細辛桂。人參附子椒姜繼。黃連黃柏及當歸。溫臟安蛔寒厥劑。</p>

<h1>狐惑</h1>
<p>咽乾聲啞名狐惑。狐則食肛下唇瘡。上唇有瘡或食臟。黃連犀角可煎嘗。</p>
<p>狐惑者。謂傷寒失汗所致。食少胃虛。蟲齧五臟。故唇口生瘡。蟲食其臟。則上唇生瘡為惑。蟲食其肛。則下唇生瘡為狐。喉咽干。聲啞齒燥。惡食、面目乍赤、赤白、乍黑。舌上白苔。唇黑喜眠。四肢沉重。宜以黃連犀角湯主之。</p>

<h1>剛痙柔痙</h1>
<p>元來痙病屬膀胱。口噤如癇身反張。此是傷風感寒濕。故分兩痙有柔剛。無汗為剛須易識。惟有葛根湯第一。有汗為柔見端的。桂枝葛根湯救急。二經皆宜續命湯。剛痙去桂用麻黃。柔痙去麻當用桂。只依此法最為良。</p>
<p>痙者。太陽中風。重感寒濕而致也。凡太陽過汗。濕家發汗。產後血虛。以及破傷風。皆致發痙。經曰。身熱足寒，頭項強急、惡寒、頭熱、面赤、背反張、口噤。脈沉細。如發痙狀是也。若先受風。復感寒。無汗惡寒。為剛痙。先受風。復感寒。惡風有汗。為柔痙。古方通用小續命加減治之。有汗去麻黃。無汗去桂枝。然剛痙屬陽。每多急滿之症。宜大承氣湯下之。柔痙屬陰。每多厥逆之症。宜桂心白朮散附子防風散溫之。大抵剛痙易治。柔痙難治。神而明之。存乎其人耳。</p>
<p>小續命湯防己桂。杏仁黃芩芍藥配。甘草參芎與麻黃。附子防風一同會。</p>

<h1>霍亂</h1>
<p>嘔吐而利名霍亂。四肢逆冷成斯患。寒多不渴理中湯。熱多而渴五苓散。暑月忽然心撮痛。兩腳轉筋多冷汗。上吐下利並燥煩。水浸香藿吞數盞。霍亂者。謂揮霍亂也。外有所感。內有所傷。陰陽爭膈。邪正交爭。故上吐下瀉。而腹中痛也。邪在上焦。則吐。邪在下焦。則瀉。邪在中焦。則吐瀉交作。此濕霍亂。症輕易治。若上不能吐。下不能瀉。則邪不能出。壅塞正氣。關格陰陽。此乾霍亂。俗名絞腸痧。其死甚速。切勿與穀食。即米湯下咽亦死。然霍亂主治。亦有不同。如熱多口渴而吐利者。五苓散主之。寒多不渴而吐利者。理中湯主之。若挾中濕而吐利者。藿香正氣散主之。若挾中暑而吐利者。三物香薷飲主之。大抵霍亂有挾外感者。有挾內傷者。主治最難分別。古方通用鹽熬熱童便調飲。極為得治。近時通用陰陽水最為穩當。服之有神工。</p>
<p>藿香正風用紫蘇。大腹陳皮桔梗咀。甘草雲苓半夏曲。厚朴白芷棗姜投。香薷飲內藥四般。厚朴相參扁豆攢。加上黃連為絕妙。和中祛暑頗能安。</p>

<h1>寒熱往來</h1>
<p>往來寒熱鬥陰陽。大小柴胡及桂姜。熱結心煩仍喜嘔。渴而頭汗用之良。</p>
<p>寒熱往來者。陰陽相勝。邪正相爭而作也。蓋寒為陰。熱為陽。里為陰。表為陽。邪客於半表半里。陰出與陽爭。陰勝則寒。陽出與陰爭。陽勝則熱。陽不足則先寒。陰不足則先熱。是以寒熱往來而無定時也。然寒熱往來亦有不同。有因熱結在裡。而寒熱往來者。宜大柴胡湯主之。有因汗吐下後。不嘔而渴。但頭微汗而寒熱往來者。宜柴胡桂薑湯主之。</p>

<h1>發喘</h1>
<p>傷寒喘急最宜詳。專論陽明及太陽。太陽無汗麻黃症。陽明潮熱小承湯。水停心下喘而咳。加減青龍必可當。陰症喘時肢逆冷。理中四逆用為良。</p>
<p>夫喘者。肺病也。經曰。肺主氣。肺氣逆而上行。沖沖而上。喝喝而息。數張口、抬肩、搖身、滾肚、是為喘也。凡傷寒發喘。有因太陽無汗而喘者。此為邪氣在表。心腹必濡而不堅。當用麻黃湯主之。有因水停心下而喘者。此為即水為邪。宜小青龍湯散之。有因陽明潮濕而喘者。此為邪氣在裡。心腹必脹而為滿。法當用小承氣湯下之。若陰症喘則必促。脈浮而厥。宜理中四逆湯溫之。大抵諸喘為惡症。以邪氣因盛。正氣將脫也。他如直視譫語。及汗出如油。喘不休。俱不治也。</p>

<h1>咳嗽</h1>
<p>太陽咳嗽用青龍。里水還須十棗攻。寒熱柴胡加減治。陰邪真武總收功。</p>
<p>有聲無痰曰咳。有痰無聲曰嗽。經曰。肺主氣。形寒飲冷則傷之。使氣逆而不散。衝擊咽膈。今喉中淫淫如癢。習習如梗。而咳嗽也。凡傷寒咳嗽。有因太陽水氣在表而咳者。宜小青龍湯主之。有因太陽水氣在裡而咳者。宜十棗湯主之。有因少陽寒熱往來而咳者。宜小柴胡湯加減治之。有因少陰水氣在裡而咳者。宜真武湯主之。大抵傷寒以嗽為輕。不與雜症同。須斟酌治之。</p>

<h1>吐血</h1>
<p>皆因邪熱中三焦。當汗醫家失審量。熱毒入深成吐血。桃仁承氣地黃湯。</p>
<p>吐血者。諸陽受熱。其邪在表。當汗不汗。致使熱毒入腑。積瘀於內。迫血妄行而吐也。宜以桃仁承氣湯主之。亦有服桂枝湯而吐血者。宜犀角地黃湯主之。大抵吐血衄血。有陽乘陰者。有陰乘陽者。陽乘陰者。血熱妄行是也。陰乘陽者。血不歸經是也。</p>

<h1>衄血</h1>
<p>太陽衄血病將瘳。犀角黃芩芍藥搜。漱水陽明犀角進。當歸四逆少陰授。</p>
<p>衄血者。經絡熱甚。迫血妄行。出於鼻者為衄。其熱在表。欲名紅汗是也。凡傷寒衄血。有因太陽衄血。及服桂枝湯後而衄者。此皆陽氣盛長病欲解也。宜犀角地黃湯。及黃芩芍藥湯。茜根湯。茅花湯。加減主之。有因少陰發汗而動衄者。此症難治。亦可用當歸四逆湯主之。大抵吐血衄血。脈滑小者生。脈實大者死。脈微者易治。若熱甚。脈反數急者死也。衄而頭汗出。或身上有汗。不至足者。皆難治也。凡衄血亡血家不可發汗。發汗則陰陽俱虛。針經曰。奪汗者無血。奪血者無汗。此之謂也。</p>
<p>當歸四逆桂枝芍。細辛甘草木通合。直加大棗治陰厥。脈細陽虛由血弱。</p>

<h1>單伏雙伏</h1>
<p>傷寒脈伏是何緣。陽極如陰大汗全。更有夾陰沉伏見。須投姜附灸關元。</p>
<p>傷寒一手脈沉曰單伏。兩手脈沉曰雙伏。不可以陽症見陰為診。乃火邪內郁。不得發越。陽極似陰。故脈伏。必有大汗而解。正如久旱將雨。六合陰晦。雨後庶物皆蘇之義。又有夾陰傷寒。先有伏陰在內。外復感寒。陰盛陽衰。四肢厥冷。六脈沉伏。須投姜附及灸關元。脈乃復出也。若太谿衝陽。皆無脈者必死。</p>

<h1>陰陽易</h1>
<p>陰陽易即女勞復。痛引陰中熱上衝。通用燒裩男女易。須知豭鼠亦收功。</p>
<p>男病新瘥。女與之交曰陽易。女病新瘥。男與之交曰陰易。細考之即女勞復也。有謂男病愈後。因交而女病。女病愈後。因交而男病。於理未然。古今未嘗見此症也。其脈離經。其狀體重少氣。小腹裡急。或引陰中拘攣。熱上衝胸。頭重不欲舉。眼中生花。膝脛拘急。古方通用燒裩散。取女人裩襠近隱處。煎燒灰。水調。方寸匕。日三服。女病用男裩。亦有用豭鼠湯者。皆治女勞復之方也。</p>

<h1>咳逆</h1>
<p>陽明咳逆熱寒生。水飲停痰氣逆行。半夏生薑皆可治。橘皮柿蒂總堪平。</p>
<p>咳逆者。氣上逆而呃忒也。仲景作咳逆。即此症也。切勿誤作咳。咳者嗽也。亦勿誤作噦。噦者嘔也。今從俗作呃逆者是也。凡傷寒呃逆。有因胃熱而呃者。橘皮竹茹湯主之。有因胃寒而呃者。丁香柿蒂湯主之。有因水飲停痰而呃者。半夏生薑湯主之。大抵呃在中焦。穀氣不運。其聲短小。得食即發。呃在下焦。真氣不足。其聲長大。不食亦然。若咳逆不止者。不可救藥矣。</p>
<p>橘皮竹茹治嘔咳。參甘半夏枇杷麥。赤茯再加薑棗煎。方由金匱此方闢。丁香柿蒂人參姜。呃逆因寒中氣戕。濟生香蒂僅二味。或加橘竹用皆良。</p>

<h1>心動悸</h1>
<p>心悸三陽證自詳。水停苓甘小柴湯。冒旋甘桂瞤真武。小建中建炙甘方。</p>
<p>悸者。心中築築動。怔忡不安也。凡傷寒動悸。有因太陽水停心下。厥而悸者。火畏水。故悸也。經曰先治其水。後治其厥。宜茯苓甘草湯主之。有因太陽發汗過汗。冒旋而悸者。宜桂枝甘草湯主之。有因發汗過多。瞤動而悸者。宜真武湯主之。有因陽明壯熱往來而悸者。宜小柴胡湯主之。有因少陽發汗。譫語而動悸者。亦宜小柴胡湯主之。有因傷寒三四日心悸而煩者。此陽氣虛也。宜小建中湯主之。有因傷寒脈結代而心動悸者。宜炙甘草湯主之。</p>
<p>小建中湯芍藥多。桂姜甘草大棗和。更加飴糖和中臟。虛勞腹痛效無過。炙甘草湯參薑桂。麥冬生地火麻仁。大棗阿膠加酒服。虛勞肺痿效如神。</p>

<h1>兩感傷寒</h1>
<p>陰陽俱病終難起。兩感傷寒慢料理。一日太陽與少陽。頭痛口乾煩飲水。二日陽明合太陰。腹滿身熱如焚燬。不欲飲食鼻中干。讝言妄語終難睡。三日少陽合厥陰。耳襲囊縮不知人。厥逆水漿不入口。六日為期是死辰。</p>
<p>兩感者。雙經同病也。其症一日太陽與少陰俱病。二日陽明與太陰俱病。三日少陽與厥陰俱病。此陰陽表裡俱病。欲汗之則有里症。欲下之則有表症。經曰。其兩感於寒者必死。故仲景亦有治法。然仲景又曰。兩感俱作。治有先後。如表症急者。當先救表。里症急者。當先救里。故易老為制大羌活湯。意謂傳經者。皆為陽邪。一於升陽。散熱滋養陰藏。則感之淺者。尚或可平也。</p>
<p>大羌活湯即九味。己獨知連白朮暨。散熱培陰和表裡。傷寒兩感差堪慰。</p>

<h1>百合</h1>
<p>百合一宗皆病形。無復經絡最難明。欲臥又卻不得臥。欲行還復不能行。飲食有美有不美。雖如強健步難勝。如有寒熱復如無。口舌小便還赤澀。藥才入口即吐利。如有神靈來作孽。病後虛勞多變成。百合地黃湯可啜。</p>
<p>百合者。百脈一宗也。其症行住坐臥不安。如有鬼神狀。此是傷寒病後。虛邪所致。宜以百合知母湯、百合雞子湯、百合代赭湯、百合地黃湯主之。</p>

<h1>懊憹（憹讀惱古字通用）</h1>
<p>傷寒懊惱勝怔忡。或實或虛皆胃中。結胸下早陽邪陷。陽明誤下胃虛空。客氣動膈心中燥。梔子湯兼大陷胸。胃中燥屎宜承氣。腹滿頭堅不可攻。</p>
<p>懊憹者。謂鬱悶不舒也。凡傷寒懊惱。有因短氣煩躁。胸中懊惱。心下因硬則為結胸者。宜大陷胸湯主之。有因舌上白苔。虛煩不得眠。心下懊惱者。此邪熱鬱於胸中也。宜梔子豉湯吐之。有因陽明無汗。小便不利。心中懊惱者。必發黃。宜茵陳蒿湯主之。有因陽明病下後。懊惱而煩。胃中有燥屎者。此邪熱結於胃中也。宜承氣湯攻之。</p>

<h1>奔豚動氣</h1>
<p>奔豚動氣有奇方。左右高低細揣量。去朮理中兼用桂。不堪汗下應須詳。</p>
<p>奔豚者。腎積也。動氣者。謂臟氣不調。肌膚間築築跳動。遂藏所主。見於臍之左右上下。獨不言當臍者。脾為中州。以行四臟之津液。左右上下皆不可汗下。何況中州。其敢輕動乎。古通用理中湯去朮加桂苓為主。以茯苓利水。桂泄奔豚。故宜加用。白朮滯氣。故去之。</p>

<h1>臟結</h1>
<p>臟結無陽舌白苔。陰筋急痛引臍來。雖然飲食全如故。下利頻頻不可回。</p>

<h1>除中</h1>
<p>厥而下利當不食。反能食者號除中。此為胃氣無餘候。縱有良師莫奏功。</p>

<h1>瘛瘲</h1>
<p>瘛為引縮瘲為伸。熱極風生並在經。滌熱祛風猶可望。防風通聖散能平。</p>
<p>筋急而縮為瘛。筋緩而伸為瘲。伸縮不已。為瘛瘲。俗謂之搐搦是也。此皆熱極生風。風主動。故瘛瘲。宜以防風通聖散治之。以滌熱而祛風也。</p>

<h1>怫鬱</h1>
<p>怫鬱陽蒸聚體膚。便堅為實噦為虛。二陽並病容顏赤。承氣參枝各半舒。</p>
<p>怫鬱者。謂陽氣蒸越。形見於頭面體膚之間。聚赤而不散也，凡傷寒怫鬱。有因小便不利。時有微熱。大便乍難。怫鬱而不得臥者。此為燥屎囊實也。宜承氣湯下之。有因吐下後極虛。其人怫鬱。復與水發汗。因而得噦者。此胃中虛也。宜桂枝人參湯主之。有因太陽初得病發汗不徹。並歸陽明。續自微汗面赤者。此陽氣怫鬱也。宜各半湯主之。</p>

<h1>勞復食復</h1>
<p>傷寒瘥後熱還生。因食因勞輒動經。脈實下之浮即汗。大柴鼠糞氣溫平。</p>
<p>勞復食復者。謂傷寒新瘥。血氣未平。餘熱未盡。因勞動而復作者。名曰勞復。以枳實梔子豉湯及小柴胡湯主之。宜和中以退其熱也。又有因過餐而復發者。名曰食復。以梔子大黃湯及大柴胡湯主之。通其陽以退其熱也。</p>

<h1>過經不解</h1>
<p>壞病多緣汗下差。過經不解咎醫家。柴胡湯內加硝治。解表還兼瀉里佳。</p>
<p>過經不解者。謂傷寒十二日當愈不愈。則再傳。是謂過經。此即傷寒壞病。多因汗下失宜所致。宜柴胡加芒硝湯治之。以解表而攻裡也。</p>

<h1>溫瘧</h1>
<p>溫瘧多因壞病成。後寒先熱往來頻。小柴加桂專能治。白虎人參實可平。</p>
<p>溫瘧者。冬受寒邪。復感春寒而發也。其脈尺寸俱盛。其症先熱後寒。或寒熱往來。此亦傷寒壞病也。宜小柴胡湯少加薄桂主之。如熱多倍加柴胡。寒多倍加桂枝。若熱甚而煩躁者。宜人參白虎湯主之。大抵傷寒溫瘧。不與雜症同。宜參證治之。</p>

<h1>渴症</h1>
<p>大渴飲時能一斗。常令止與二三升。若還不與非其治。強飲無疑別病生。脈浮而渴太陽病。有汗而渴陽明症。渴而自利屬少陰。三者不同須審定。自非大渴莫與飲。小渴惟宜滋潤爾。若是劇飲心下滿。變成水結難調理。</p>

<h1>漱水不欲咽</h1>
<p>陽明口渴苦頭痛。水不下咽將衄血。瘀血停留定發狂。病家外症無寒熱。</p>
<p>按陽明內有熱者。欲飲水。今漱水不欲咽。是熱在經而里無熱也。陽明經氣血俱多。經中熱盛。逼血妄行。故知必作衄也。宜犀角地黃湯及茅花湯主之。無表症。不寒熱。胸腹滿。口燥渴。漱水不欲咽。小便多者。此為瘀血。必致發狂。宜桃仁承氣湯。甚者抵當丸。取盡黑色為度也。又少陰脈沉細。手足冷。或時煩躁作渴。欲漱水不欲咽者。宜四逆湯主之。又下利厥逆。無脈乾嘔、煩渴、欲漱水不欲咽。宜白虎加豬膽汁人尿主之。及唇時不欲咽者。宜理中湯加烏梅主之。大抵陰症發燥煩渴。不能飲水。或有勉強飲下。良久復吐。或飲水而嘔。或噦逆皆內寒也。蓋無根失守之火。遊於咽嗌之間。假作燥渴。則不能飲。或有能飲水不吐。復欲飲者。熱也。</p>

<h1>背惡寒</h1>
<p>背上惡寒人少會。少陰之病口中和。三陽合病口乾燥。以此區分免致訛。</p>
<p>背惡寒者。謂身體不惡寒。獨在背上也。經云。背為陽。腹為陰。背惡寒者。陽不足也。然有陰陽二證。若邪熱陷內。消耗津液。故口中乾燥。全無滋吐。宜用人參白虎湯主之。又中暑亦有背惡寒症。但面垢自汗。脈虛而伏。亦宜服之。若脾胃素虛之人。遇暑月飲冰水。啖生冷。寒氣蓄聚。陰上乘陽。致寒從背起。冷如掌大。當以溫藥主之。大順散之類是也。</p>
<p>大順散內用乾薑。桂杏還同甘草良。中暑卻宜專服此。井花調服自安康。</p>

<h1>惡寒</h1>
<p>惡寒發熱發於陽。陰病憎寒身體涼。解表桂枝並越婢。溫中須索理中湯。</p>
<p>惡寒一症。即前云寒邪外束。則惡寒也。此復舉以言之。分別三陽三陰之不同也。若在三陽、則必發熱。若在三陰、則專惡寒而不發熱。在三陽則宜解表。如羌活湯、解肌湯、小柴胡湯、各隨證用之。如中三陰則宜理中湯、或四逆湯、皆可選用也。如桂枝湯越婢湯未可輕用。</p>

<h1>汗後惡寒</h1>
<p>汗後惡寒宜芍藥。脈沉發熱下尤良。四肢疼痛仍兼利。厥冷須投四逆湯。</p>
<p>傷寒汗後。則寒邪自散。不當惡寒。然汗後猶惡寒者。何也。蓋陽微則惡寒。須芍藥湯以收斂之。倘脈沉屬裡。發熱惡寒者。恐內有積熱。宜下之為良也。若四肢疼痛瀉利厥冷。此陰症也。宜四逆湯溫之。</p>

<h1>陽經發熱</h1>
<p>太陽發熱惡風寒。汗出陽明胃燥干。（有燥屎而乾枯）嘔逆項疼身發熱。醫家當作少陽看。（太陽當汗陽明當下少陽當和解）</p>

<h1>陰經發熱</h1>
<p>太陰厥陰皆不熱。惟有少陰間發熱。陽經發熱脈浮大。四肢遇暖便閉塞。陰經發熱脈必沉。下利四肢恆厥逆。</p>

<h1>下後有熱</h1>
<p>曾經下後身發熱。漸覺胸中成痛結。香豉梔子卻相宜。去病每如湯沃雪。</p>

<h1>頭痛</h1>
<p>三陽往往病頭痛。隨證須知識病因。太陽惡寒宜解表。羌和湯中倍用芎。蒸蒸發熱陽明熱。調胃承氣方最真。少陽受病脈弦細。痛連項角耳中疼。或加口苦兼寒熱。小柴胡症自分明。三陰本沒頭疼痛。頭若疼時屬厥陰。更有停痰能作祟。四肢厥逆痛難禁。</p>

<h1>咽痛</h1>
<p>咽痛陰陽迥不同。咽喉腫痛熱邪攻。脈浮散大或吐血。隨方用藥自然通。陰毒咽痛喉不利。寒邪伏在少陰中。脈來微弱當溫散。半夏桂湯是先鋒。須用四逆加桔梗。治不可紊自見功。</p>

<h1>脅痛</h1>
<p>少陽膽經循脅過。邪入此經痛無那。心下堅滿引脅痛。十棗醫治定須可。陽明堅滿大便結。項強不食並潮熱。因而轉入少陽經。惟小柴胡湯最功。</p>

<h1>腹滿痛</h1>
<p>腹中滿痛別陰陽。裡實須知下最良。脈實有力陽明實。大柴小承總一方。三陽腹滿而急痛。脈沉微細裡寒藏。附子理中並四逆。對證服藥自然康。三陰下利純清穀。（　水瀉洞泄完穀也）裡虛已極四神湯。腸鳴泄瀉而腹痛。虛痛還宜小建良。</p>

<h1>燥咽乾</h1>
<p>（脾為胃行津液熱則枯）</p>
<p>脾中有熱胃乾枯。口燥咽乾津液無。宜用白虎加參治。少陽口苦小柴胡。咽乾慎不可發汗。發汗無津氣愈虛。少陰火威水欲涸。口苦卻宜承氣需。</p>

<h1>循衣摸床</h1>
<p>傷寒吐下仍不解。大便不利寒熱在。循衣摸床殊不安。獨語猶如見鬼怪。微喘直視不識人。譫語狂言不可駭。大承服後脈強生。忽若清兮死難待。</p>

<h1>煩躁</h1>
<p>傷寒煩躁症如何。陽明經與少陰科。陽明脈長大便秘。傷寒之候太陽多。陰盛陽虛亦煩躁。少陰之症勿會訛。汗之而煩醫者誤。病解而煩氣不和。更有虛煩宜竹葉。依方調治莫蹉跎。</p>

<h1>晝夜偏劇</h1>
<p>衛氣循環不暫停。晝則行陽夜在陰。衛獨留陽陽蹺盛。陽盛陰虛夜不寧。衛若留陰陰蹺滿。陰滿陽虛晝卻寧。暮譫晝了陰虛症。晝燥陽虛夜氣清。須要調胃各歸分。二氣和諧可漸平。</p>

<h1>多眠</h1>
<p>多眠思症病形殊。風溫狐惑及柴胡。更有少陰當慎別。須知四者病何如。風溫身熱當自汗。小柴脅滿項強拘。少陰自利但欲寐。狐惑多眠非一途。</p>

<h1>不得眠</h1>
<p>傷寒何事不得眠。汗過胃中乾燥煩。或因吐下虛煩致。或因大熱語言顛。小便不利正發渴。心煩少氣苦憂煎。若其水停心下滿。但與豬苓可保痊。傷寒瘥後熱還在。陰來復時陽使然。</p>

<h1>小便不利</h1>
<p>胃中干則無小便。慎勿利之強使然。下焦有熱不通泄。量病時須泄與宣。咳而有水青龍候。項強無汗桂枝痊。大抵中遇發黃者。先利小便當使快。陽明汗多津液無。卻以小便利為戒。陽若湊之陰分虛。小便難出熱邪拘。傷風不止桂加附。陽明風中小柴胡。</p>

<h1>小便自利</h1>
<p>太陽下焦有熱秘。小腹必滿便不利。小便不利反自利。此是抵當血症諦。陽明自汗小便結。忽若利時津液竭。屎難堅硬不可攻。蜜導用之斯要訣。又問小便何故數。腎與膀胱虛熱作。虛不故令小便頻。熱則遲澀相擊搏。有汗不可服桂枝。趺陽浮澀是脾約。胃中不和譫語時。調胃承氣宜斟酌。</p>

<h1>大便不利</h1>
<p>大便堅硬或不通。柴胡承氣可收功。亦有不可攻擊者。歌載篇章里症中。寒則溏泄熱則垢。可揣陰陽虛實候。藏火不及大寒行。民病鶩溏腸胃訛。</p>

<h1>陰症</h1>
<p>陰症身涼二便清。病初自汗不頭疼。也無煩躁也無渴。脈息沉微自可明。</p>

<h1>陽症</h1>
<p>陽症身熱頭疼痛。體痛咽乾難臥動。或有譫語及尋衣。脈急洪長宜審用。</p>

<h1>表症</h1>
<p>傷寒表症是如何。無汗惡寒身熱多。頭項俱疼脈浮取。施方審症汗之和。</p>

<h1>里症</h1>
<p>傷寒里症心腹痛。不惡寒而惡熱蒸。其脈沉數兼自汗。二便秘少下之生。</p>

<h1>陰厥</h1>
<p>陰厥身涼熱不由。二便清滑不煩時。脈來沉浮如端的。三建湯兼四逆宜。</p>

<h1>陽厥</h1>
<p>陽厥時時指爪溫。心煩便閉口乾論。脈來沉細中還疾。承氣柴胡最可吞。</p>

<h1>陰症似陽</h1>
<p>陰症似陽面色紅。小便清滑大便通。渾身微熱沉遲脈。真武湯兼用理中。</p>

<h1>陽症似陰</h1>
<p>陽症身涼冷四肢。小便赤少大便稀。心煩口燥脈沉數。白虎湯兼竹葉奇。</p>

<h1>婦人傷寒</h1>
<p>婦人此病當區別。身重身輕不同例。產前身重且安胎。產後血虛先補血。惟有柴胡四物湯。庶可調和便安悅。</p>

<h1>婦人熱入血室</h1>
<p>婦人中風六七日。身熱續續發寒慄。經水適來或適斷。熱隨陰血居其室。晝則明瞭暮讝語。狀如見鬼似瘧疾。無犯胃氣及三焦。小柴胡湯尤為的。更刺期門似瀉肝。邪去自然保安吉。切須急療莫遲遲。變症來時恐莫及。</p>

<h1>傷寒有時氣瘟疫不同</h1>
<p>春氣溫和夏暑熱。秋氣清涼冬凜冽。四時正氣自調勻。不犯寒邪無病孽。冬時嚴寒欲周密。君子深藏宜入室。中而即病曰傷寒。觸冒寒邪成此疾。毒氣入深不即病。至春與夏邪方出。春為溫病夏為暑。變態無端病非一。若乃時行自不同。蓋是非時之氣失。春時應暖反大寒。夏時應熱偏寒慄。秋氣清涼大熱來。冬月嚴寒如春日。少長一般病相似。此是時行歸瘟疫。防風通聖扶正氣。九味羌和湯檢一。</p>

<h1>傷寒有四症相類</h1>
<p>食積寒痰並腳氣。更兼亦有患勞煩。要識四般相類症。不與傷寒一例看。</p>
<p>寒痰者。中脘停痰。自中胸滿。但頭不痛。項不強。與傷寒異耳。宜二陳湯主之。食積者謂胃中停食。發熱頭痛。但身不痛氣口緊盛。與傷寒異耳。宜平胃散主之。腳氣者。足受寒濕。頭痛、身熱、肢節痛、便秘、嘔逆。但腳痛。或腫滿。或枯細。與傷寒異耳。宜加減小續命湯主之。勞煩者。氣血俱虛。燥煩發熱。但身不痛。頭不痛。不惡寒。脈不浮緊。與傷寒異耳。宜補中益氣湯主之。李東垣內傷外感辨曰。傷於飲食勞復。七情六慾。為內傷。傷於風寒暑濕為外感。內傷發熱。時熱時止。外感發熱。熱甚不休。內傷惡寒。得暖便解。外感惡寒。雖厚衣烈火不除。內傷惡風。不畏甚風。反畏隙風。外感惡風。見風便惡。內傷頭痛。乍痛乍止。外感頭痛。連痛不休。直待表邪傳裡方罷。內傷有濕。或不作渴。或心火乘肺。亦作燥渴。外感須一二日外。表熱傳裡。口方作渴。內傷則熱傷氣。四肢沉困無力。倦怠嗜臥。外感則風傷筋。寒傷骨。一身筋骨疼痛。內傷則短氣不足以息。外感則喘壅氣盛有餘。內傷則手心熱。外感則手背熱。天氣通於肺鼻者。肺之外候。外感傷寒。則鼻塞。傷風則流涕。然能飲食。口知味。腹中和。二便如常。地氣通於脾口者。脾之外候。內傷則懶言惡食。口不知味。小便黃赤。大便或秘或泄。左人迎脈主裡。內傷則氣口大於人迎。內傷證屬不足。宜溫。宜補。宜和。外感證屬有餘。宜汗。宜吐。宜下。若內傷之症。誤作外感。妄發其表。重虛元氣。禍如反掌。故立補中益氣湯主之。又有內傷外感兼病者。若內傷重者。宜補養為先。外感重者。宜發散為急。惟上焦痰嘔。中焦濕熱。傷食膈滿者。皆不服補中益氣湯。明醫雜著云。世間發熱症。類傷寒者數種。治各不同。張仲景論傷寒傷風。此外感也。風寒之邪。感於外。自表入里。故宜發表以解散之。此麻黃桂枝之義也。以其感於冬時之令。寒冷之月。即時發病。故謂之傷寒。而藥用辛熱以勝寒。若時非寒冷。則藥當有變矣。如春溫之月。則當變以辛涼之藥。夏暑之月。則當變以甘寒苦之藥。又有一種冬溫之病。謂之非其時而有其氣。蓋冬寒時也。而反病溫焉。此天時不正。陽氣反泄。用藥不可溫熱。又有一種時行寒疫。卻在溫暖之時。當溫暖而寒反為病。此亦天時不正。陰氣反逆。用藥不可寒涼。又有一種溫疫熱病。多發於春夏之間。沿門合境相同者。此天地之癘氣。當隨時令。參氣運。而施治。宜用劉河間辛涼甘苦寒之藥。以清熱解毒。以上諸症。皆為感天地之邪者。若夫飲食勞倦為內傷元氣。此則真陽下陷。內生虛熱。故東垣發補中益氣之論。用參耆等甘溫之味。大補其氣。而提其下陷。此用氣藥以補其不足也。又若勞心好色。內傷真陰。陰血既傷。故陽氣偏勝而變為火矣。是謂陰虛火旺。勞瘵之症。故丹溪發陽有餘。陰不足之論。用四物加黃柏知母補其陰。而火自降。此用血藥以補血之不足也。補氣補血。皆內傷症也。一則因陽氣之下陷以升提之。補其氣。一則因陰火之上升。滋其陰。以降下之。一升一降。迥然不同矣。又有夏月傷暑之病。雖屬外感。卻類傷寒。與傷寒大異。蓋傷寒則寒邪客表有餘之症。故宜汗之。暑傷氣。元氣為熱所傷。而耗散不足之症。故宜補之。東垣所謂清暑益氣是也。又有因時暑熱而多食冷物以傷其內。或過取涼風以傷其外。此非暑傷人。乃因暑而自致之病。治宜辛熱解表。或辛溫理中之藥。卻與傷寒治法相類者也。凡此數症。外形相似。實有不同。治法多端。不可或謬。故必審其果為傷寒及寒疫也。則用仲景法。果為溫病及瘟疫也。則用河間法。果為氣虛也。則用東垣法。果為陰虛也。則用丹溪法。如是。則庶無差誤以害人矣。今人但見發熱之症。一皆認作傷寒外感。率用汗藥以發其表。汗後不解。又用表藥以涼其肌。設是虛症。豈不死哉。間有頗知發熱屬虛。而用補藥。則又不知氣血之分。或氣病而補血。或血病而補氣。誤人多矣。故外感之與內傷。寒病之與熱病。氣虛之與血虛。如冰炭相反。治之若差。則輕病必重。重病不救矣。醫貫曰。讀傷寒而不讀東垣書。則內傷不明。而殺人多矣。讀東垣書而不讀丹溪書。則陰虛不明。而殺人多矣。東垣脾胃論。深明飢飽勞役發熱等症。俱是內傷。悉類傷寒。切戒汗下。以為內傷多而外感少。只須溫補。不必發散。如外感多而內傷少。溫補中少加發散。以補中益氣湯為主。如內傷兼寒者。加麻黃。兼風者加桂枝。兼暑者加黃連。兼濕者加羌活。此特陽虛發熱之一門也。然陰虛發熱者十有六七。亦類傷寒。今人一見發熱。則曰傷寒。須用發散而致死。則曰傷寒之法已窮。余嘗於陰虛發熱者。見其大熱、面赤、口渴、燥煩、與六味地黃丸一劑。即愈。如下部惡寒。足冷。上部渴甚。燥極。或飲而反吐。即如肉桂五味。甚則加附子冷飲。以此活人多矣。此丹溪發明陰虛發熱之外。尚遺未盡之旨也。</p>
