<header data-type="book">
<h1>此事難知</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>地域</dt><dd>真定（今河北省保定市）</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM030</dd></div>
</dl>
</header>
<h2>此事難知序</h2>
<p>予讀醫書幾十載矣，所仰慕者，仲景一書為尤焉，然讀之未易洞達其趣，欲得一師指之，遍國中無有能知者，寤而思，寐而思，天其勤恤，俾我李公明之授予，及所不傳之妙，旬儲月積，浸就編帙，一語一言，美無可狀，始而終之，終而始之，即無端之圜壁也，或有人焉厭聞而惡見者，豈公徒使之然哉，彼未嘗聞未嘗見，恥夫後於人之過也，因目之曰：此事難知，以其不因師指也，人徒見是書為傷寒之法，而不知上合軒岐之經，中契越人之典，下符叔和之文，茲又言，外不傳之秘，具載斯文矣，時至大改元秋七月二十有一日，古趙王好古識。</p>
<h2>此事難知後序</h2>
<p>東垣先生醫書一帙，予府已鋟梓，傳於世矣，今又得一書，亦東垣治疾之法，名曰：此事難知，蓋醫之為道，所以續斯人之命，而與天地生生之德，不可一朝泯也，秦焚六經而廢周公孔子之道，幸而醫書存世，考諸經者，則知黃帝與岐伯之論辯，反覆推明五運七氣之秘，以立補泄之法，所以拯斯人之疾，而人之死生繫焉，岐黃既遠，求能推諸五運七氣而察陰陽升降之候，定臟腑虛實之所因，合經絡上下之所屬，而能起死回生者鮮矣，噫，克紹明之者，其惟東垣先生乎，先生是書，乃言外不傳之秘，誠為人所難知，然方劑雖載其妙理，有不可得而明言者，在乎心領而神會耳，唐許胤宗曰：醫者，意也，思慮精則得之，此之謂歟，而孟軻氏曰：梓匠輪輿能與人規矩，不能與人之巧，亦此謂也，予用壽行，而與四方之士共焉，則濟人利物之一端末，必無小補云，成化甲辰歲仲夏，既望荊南一人識。</p>
<h2>東垣先生此事難知集目錄</h2>
<p>卷上</p>
<p>醫之可法，或問手足太陽手足陽明手足少陽俱會於首故，曰六陽會於首者亦有陰乎，經脈終始，日用，人肖天地，問脾寄於坤如何是損至第三若從脾為第二從腎為第四請言脾數，明經絡之數有幾，問三焦有幾，問藏府有幾，傷寒之源，冬傷於寒春必溫病，春傷於風夏生飧泄，夏傷於暑秋必痎瘧，秋傷於濕冬生咳嗽，問兩感邪從何道而入解利大羌活湯附，清氣為榮，濁氣為衛，其用在下膽胃膀胱大腸小腸，其用在上兩目兩耳鼻口舌，格則吐逆，九竅，五藏，關則不便，六府，下竅，三陽氣血多少，氣血之體，辯表裏中三證，辯陰陽二證，辯表傷陰陽二證，辯內外傷，辯傷寒言足經不言手經，六經傳足傳手經則愈，太陽六傳。</p>
<p>太陽證：</p>
<p>桂枝麻黃各半湯，桂枝二麻黃一湯，太陽頭痛，治三陽則不可越經，問桂枝湯發字，太陽禁忌不可犯，太陽證當汗，太陽證不當汗，當汗而不汗生黃，當汗而發汗過多成痓，不當汗而汗成畜血，血證見血自愈，知可解，知不可解，脈知可解不可解，易老解利法，九味羌活湯，當汗而下之成協熱利，太陽一下有八變，裏傳表，傷寒雜證誤下變有輕重，五苓散為下藥，當服不服則生何證，不當服服之則生何證，酒毒小便赤澀宜五苓散，五苓散以瀉濕熱，表之裏藥，裏之表藥，加減涼膈退六經熱。</p>
<p>陽明證：</p>
<p>陽明證禁忌不可犯，汗多亡陽，下多亡陰，汗無太早，下無太晚，白虎加桂枝湯，白虎加梔子湯。</p>
<p>傷暑有二：</p>
<p>白虎加人參湯，白虎加蒼朮湯，梔子豉湯，煩躁，問邪入陽明為譫語妄言錯失此果陽明乎，傷寒雜證發熱相似藥不可差，二證相似藥不可差，狂言譫語鄭聲辯，嘔吐噦胃所生各有經乎，陽證發斑，傷寒之經有幾，三陽從中治，經言胃中有燥屎五六枚何如，如何是入陰者可下，評熱論藏字，大承氣湯，小承氣湯，調胃承氣湯，大柴胡湯。</p>
<p>少陽證：</p>
<p>小柴胡湯，少陽證禁忌不可犯，如何是半表半裏，半表半裏有幾，問婦人經病大人小兒內熱潮作並瘧疾寒熱其治同否，熱有虛實外何以別，少陽雜證，陽盛陰虛發寒者何，平旦潮熱，日晡潮熱。</p>
<p>太陰證：</p>
<p>太陰證可汗，太陰證可溫，太陰證有可下者，知可解，太陰證禁忌不可犯，腹痛部分。</p>
<p>少陰證：</p>
<p>走無形證，走有形證，少陰證下利辯，少陰證口中辯，少陰證嘔辯，少陰證咽喉辯，白虎湯，少陰證禁忌不可犯。</p>
<p>卷下：</p>
<p>前後虛實圖，諸經皆言大則病進者何，難經仲景合而為一，仲景叔和合而為一，表裏所當汗下，仲景浮汗而沉下，難經沉汗而浮下，傷寒入裏見標脈則生，雜病出表見標脈則死，察色脈以定吉凶，弦有浮沉，鍼經，相合脈經，四證脈傷圖，脈當有神，治病必當求責，更有手足經或一經非本家病而自他經流入者亦當求責，治病必求其本，形不足者溫之以氣，精不足者補之以味，痛隨利減，抑本，虛實，問兩手寸關弦疾脾弱火勝木旺土虧金爍當作何治，六月大熱之氣反得大寒之病氣難布息身涼脈遲二三至何以治之，素問欬論一十一證各隨藏府湯液之圖，素問五藏瘧候湯液之圖，治當順時，素問六經瘧證湯液之圖，素問難經銅人經絡所病各異者何用鍼當從何法，寒病服熱藥而寒不退熱病脹寒藥而熱不退其故何也，疾有自誤，病有變怪，喘論，桔梗枳殼湯，尋衣撮空何藏所主，三法五治論：一治有五，五五二十五治，如火之屬，衰於戌，金之屬衰於辰是也，面部形色圖，天元圖，地元圖，人元例，陰陽例，配合例，子母例，兄妹例，接經（手足經同），平經說象（七十九難），拔元例，接經補遺，天元圖，地元圖，大接經從陽引陰，大接經從陰引陽。</p>
<p>附錄：</p>
<p>諸經頭痛（已下係東垣二十五論），治目（地芝丸定志地黃丸），治精滑（固真丸），脾胃虛渴不止腹脹便血內寒（硃砂丹），藏府實秘（麻仁丸），胃虛而秘（厚朴湯），內外諸瘡所主方，三焦寒熱用藥圖，大頭痛論，六經發渴各隨經藥治之，治鐮刃腳膝瘡方，定癰疽地方，問三焦有幾（血海異同），許先生論梁寬甫證，論史副使病證，王太醫圓明膏。</p>
<p>此事難知目錄終。</p>
<h2>此事難知集卷上  江陰朱氏校刊本  金  真定李杲著</h2>
<h3>醫之可法</h3>
<p>自伏羲神農黃帝而下，名醫雖多，所可學者有幾人哉，至於華氏之剖腹，王氏之炙鍼術，非不神也，後人安得而傚之，非岐伯之聖經，雷公之炮炙，伊贄之湯液，箕子之洪範，越人之問難，仲景之傷寒，叔和之脈訣，士安之甲乙，啟玄子之傳註，錢仲陽之論議，皆其活法，所可學者豈千方萬論，印定後人眼目者所能比哉，其間德高行遠奇才異士，與夫居縉紳隱草莽者，然有一法一節之可觀，非百代可行之活法，皆所不取也，豈予好辯哉，欲使學者觀此數聖賢而知所可慕而已，或有人焉徒能廣覽泛涉，自以為多學而用之無益者，豈其知本。</p>
<h3>或問手足太陽手足陽明手足少陽俱會於首，然六陽會於首者，亦有</h3>
<p>陰乎？</p>
<p>答曰：有六府者，六陽也，五藏者，五陰也，肺開竅於鼻，心開竅於舌，脾開竅於口，肝開竅於目，腎開竅於耳，是五陰也，又有厥陰與督脈會於巔，是六陰也，耳者，腎也，復能聽聲，聲為金，是耳中有肺也，鼻者，肺也，復能聞臭，是鼻中有心也，舌者，心也，復能知味，是舌中有脾也，目有五輪，通貫五藏，口為脾，脾為坤土，主靜而不動，故無所兼，言耳鼻舌各兼一，目兼四，此與督脈，共計十三陰也，腦為諸體之會，即海也，腎主之，是為十四陰矣。</p>
<h3>經脈終始</h3>
<p>寅，手太陰肺，始於中焦，終於大指內廉出其端。</p>
<p>卯，手陽明大腸，始於大指次指之端，終於上俠鼻孔。</p>
<p>辰，足陽明胃，始於鼻交頞中，終於人大指間出其端。</p>
<p>巳，足太陰脾，始於大指之端，終於注心中。</p>
<p>午，手少陰心，始於心中，終於循小指之內出其端。</p>
<p>未，手太陽小腸，止於小指之端，終於抵鼻至目內眥，斜終於顴。</p>
<p>申，足太陽膀胱，始於目內眥，終於小指內側出其端。</p>
<p>酉，足少陰腎，始於小指之下，終於注胸中。</p>
<p>戌，手厥陰心包，始於胸中，終於循小指次指內其端。</p>
<p>亥，手少陽三焦，始於小指次指之端，終於至目兌眥。</p>
<p>子，足少陽膽，始於目兌眥，終於小指次指循大指內出其端，貫瓜甲出三毛。</p>
<p>丑，足厥陰肝，始於大指聚毛之上，終於注肺中。</p>
<p>手之三陽，從手走頭，足之三陽從頭走足，是高能接下也。</p>
<p>足之三陰，從足走腹，手之三陰，從腹走手，是下能趨上也。</p>
<p>故上下升降而為和，易曰：天道下濟而光明，地道卑而上行，易曰：山澤通氣，故氣寄於辛，用於寅，平旦始從中焦注，循天之紀，左旋至丑而終，晝夜通行五十度，周流八百一十丈，夫倡則婦隨，血隨氣而上行，殊不見潤下之意，經云：氣主煦之升也，血主濡之潤也，書云：水曰潤下，如何說得，從氣之血有不行之體，如百川右行，東至於海，請示。</p>
<h3>日用</h3>
<p>復臨泰壯夬乾姤，遁否觀剝坤二六，青白正分開與闢，赤黑往來通道路。</p>
<p>泰即居艮否居坤，乾作天門巽地戶，氣終於丑始於寅，血諦辛陰從下去。</p>
<p>丙潛壬內卻從高，順至乙穴還上注，婦隨夫唱幾曾停，萬派千流無暫住。</p>
<p>血氣包含六子中，晝夜行流五十度，食時骸理敬修行，玄府身周勻閉拒。</p>
<p>排山倒海毒非常，撩鼻撚髭心不怖，天長地久太虛持，不虧八一元來數。</p>
<p>休說乘虛謾履空，嬴取康寧三六足，知之非難行之難，造次顛沛宜常慮。</p>
<h3>人肖天地</h3>
<p>且天地之形如卵，橫臥於東南西北者，自然之勢也，血氣運行，故始於手太陰，終於足厥陰，帝曰：地之為下否乎？岐伯曰：地為人之下太虛之中也，曰馮乎？曰大氣舉之也，是地如卵黃在其中矣，又曰：地者，所以載生成之形類也，易曰：坤厚載物，德合無疆，信乎？天之包地形如卵焉，故人首之上為天之天，足之下為地之天，人之浮於地之上，如地之浮於太虛之中也，地之西始於寅，終於丑，血之東，根於辛，納於乙，相隨往來不息，獨缺於乾巽，為天地之門戶也，啟玄子云：戊土屬乾，己土屬巽，遁甲曰：六戊為天門，六己為地戶，此之謂也，經云：天地者，萬物之上下左右者，陰陽之道路，氣血者，父母也，父母者，天地也，血氣周流於十二經，總包六子於其中，六氣五行是也，無形者，包有形，而天總包地也，天左行而西氣隨之，百川並進而東血隨之。</p>
<h3>問腰寄於坤如何是損至第三若從脾為第二從腎為第四請言脾數</h3>
<p>答曰：脾雖寄於坤，實用於己，從上肺心，從下腎肝，脾中得三數也，如氣寄於辛，而用於寅，包絡三焦寄於丑而用於申也，此人之所以肖天地而生，易曰：乾為首，坤為腹，震為足，巽為股，坎為耳，离為目，艮為手，兌為口。</p>
<h3>明經絡之數有幾</h3>
<p>答曰：十二大經之別，並任督之別，脾之大絡脈別名曰大包，是為十五絡，諸經皆言之，予謂：胃之大絡，名曰虛思，貫膈，絡出於左乳下，其動應晨脈宗氣也，是知絡有十六也。</p>
<h3>問三焦有幾</h3>
<p>答曰：手少陽者，主三焦之氣也，靈樞經云：足三焦者，太陽之別也，並太陽之證，入絡膀胱，約下焦，是知三焦有二也。</p>
<h3>問藏府有幾</h3>
<p>答曰：肝心脾肺腎兼包絡，一名命門，為六藏，膽小腸胃大腸膀胱兼三焦為六府，計之十二矣，故包則為一府矣，是為十三矣，經曰：胞移熱於膀胱則癃溺血，又云：胞痹者，少腹膀胱按之內痛者，若沃以湯，注云：膀胱胞內居之內外二境圖云，膀胱者，胞之室也，以是知為十三藏府矣。</p>
<h3>傷寒之源</h3>
<p>冬傷於寒，春必溫病，蓋因房室勞傷，與辛苦之人，腠理開泄，少陰不藏，腎水涸竭而得之，無水則春木無以發生，故為溫病，至長夏之時，時強木長，因絕水之源，無以滋化，故為大熱病也，傷寒之源如此。四氣調神論曰：運冬氣則少陰不藏，腎氣獨沉，廣成子云：無勞汝形，無搖汝精。金匱真言曰：夫精者，身之本也，故藏於精者，春不病溫。註云：冬不按蹻，精氣伏藏，陽不妄升，故春不病溫，又經云：不妄作勞。又云：不知持滿。又云：水冰地折無擾乎陽。又云：無泄皮膚，使氣亟奪。啟玄子云：腎水王於冬，故行夏令則腎氣傷，春木王而水廢，故病於春也，逆冬則傷腎，故少氣以奉春生之令也，是以春為溫病，夏為熱病，長夏為大熱病，其變隨乎時而已，邪之所感淺者，其病輕而易治，深者其病重而難治，尤深者其病死而不治。</p>
<h3>冬傷於寒春必溫病</h3>
<p>冬傷於寒者，冬行秋令也，當寒而溫，火勝而水虧矣，水既已虧，則所勝妄行，土有餘也，所生受病，水不足也，所不勝者侮之，火太過也，火土合德，濕熱相助，故為溫病，使民腠理開泄，少陰不藏，惟房室勞傷辛苦之人得之，若此者，皆為溫病，所以不病於冬而病於春者，以其寒水，居卯之分，方得其權，大寒之令復行於春，腠理開泄，少陰不藏，房室勞傷辛苦之人，陽氣泄於外，腎水虧於內，當春之月，時強木長，無以滋生化之源，故為溫病耳，故君子周密於冬，少陰得藏於內，腠理以閉拒之，雖有大風苛毒，莫之能害矣，何溫病之有哉，人肖天地而生也，冬時陽氣俱伏於九泉之下，人之陽氣俱藏於一腎之中，人能不擾乎？腎則六陽安靜於內，內既得以安，外無自而入矣，此傷寒之源，非天之傷人，乃人自傷也，傷於寒者，皆為病熱，為傷寒氣乃熱病之總稱，故曰：傷寒知寒受熱邪，明矣。六陰用事於冬，陽氣在內，周密閉藏可矣，反勞動之而泄於外，時熱已傷於水矣，至春之時，木當發生，陽已外泄，孰為鼓舞，腎水內竭，孰為滋養，此兩者，同為生化之源，源既已絕，水何賴以生乎？身之所存者，獨有熱也，時強木長，故為溫病矣。</p>
<h3>春傷於風夏生飧泄</h3>
<p>木在時為春，在人為肝，在天為風，風者，無形之清氣也，當春之時，發為溫令反為寒折，是三春之月行三冬之令也，以是知水為大過矣，水既太過，金肅愈嚴，是所勝者乘之而妄行也，所勝者乘之則木虛明矣，故經曰：從後來者，為虛邪，木氣既虛，火令不及，是所生者受病也，故所不勝者侮之，是以土來木之分，變而為飧泄也，故經曰：清氣在下則生飧泄，以其濕令當權，故飧泄之候，發之於夏也，若當春之時，木不發生，溫令未顯，止行冬令，是謂傷衛，以其陽氣不出地之外也，當以麻黃湯發之，麻黃味苦之薄者，乃陰中之陽也，故從水中補木而瀉水，發出津液為汗也，若春木已生，溫令已顯，陽氣出於地之上，寒再至而復折之，當以輕發之，謂已得少陽之氣，不必用麻黃也，春傷於風，夏生飧泄，所以病發於夏者，以其木絕於夏，而土王於長夏，濕本有下行之體，故飧泄於夏也，不病於春者，以其春時，風雖有傷木，實當權，故飧泄不病於木之時，而發於濕之分也，經曰：至而不至，是為不及，所勝妄行，所不勝者，薄之所生者受病，此之謂也。</p>
<h3>夏傷於暑秋必痎瘧</h3>
<p>暑者，季夏者，濕土也，君火持權不與之子，暑濕之令不行也，濕令不行，則土虧矣，所勝妄行，木氣太過，少陽王也，所生者受病則肺金不足，所不勝者侮之，故水得以乘之土分，土者，坤也，坤土，申之分，申為相火，水入於土，則水火相干，而陰陽交爭，故為寒熱兼木氣，終見三焦，是二少陽相合也，少陽在濕土之分，故為寒熱，肺金不足，洒浙寒熱，此皆往來未定之氣也，故為痎瘧，久而不愈，瘧不發於夏而發於秋者，以濕熱在酉之分，方得其權，故發於大暑已後也。</p>
<h3>秋傷於濕冬生咳嗽</h3>
<p>秋者，清肅之氣，收歛下行之體也，為濕所傷，是長夏之氣不與秋令也，秋令不及，所勝妄行，故火得以炎上而剋金，心火既形於肺，故肺氣逆而為欬，所不勝者侮之，木氣上行與火同得動而不息也，所生者受病，故腎水虧也，長夏已亢，三焦之氣盛也，命門者，三焦之舍也，故迫腎水上行與脾土濕熱相合為痰，困痎而動於脾之濕也，是以咳嗽有聲有痰，咳嗽不發於秋而發於冬者，以其六陰之極，肅殺始得其氣，故肺不咳嗽於秋而咳嗽於冬也，咳嗽者，氣逆行上也，氣上行而逆，故面目發微腫，極則身體皆腫，變為水氣，故曰：濁氣在上，則生䐜脹。又曰：諸氣膹鬱皆屬肺金，此之謂也。春傷於風，夏傷於暑，冬傷於寒，辭理皆順，時字傷令字也，獨秋傷於濕，作令字傷時字，讀者不疑也，此四者，皆無所亢而害其所乘之子也，邪從後至，言歲之主氣，各差其分而為病一定之法也，若說秋字傷濕字，其文與上三句相通，其理與法不相通，大抵理與法通，不必拘於文也，故說詩者，不以文害辭，不以辭害意，以意逆志為得之矣，故曰：春傷於風，說作人為風所傷，非也，若是則止當頭痛惡風自汗，何以言夏為飧泄哉？今言春傷於風，即是時傷令也，明矣，經云：東方來者為嬰兒風，其傷人也，外在於筋，內舍於肝，又曰：春甲乙所傷，謂之肝風，用此二句以較前文，則辭理自通矣。</p>
<h3>問兩感邪從何道而入</h3>
<p>答曰：經云，兩感者，死不治，一日太陽與少陰俱病，頭痛發熱，惡寒口乾煩滿而渴，太陽者，府也，自背俞而入，人所共知，少陰者，藏也，自鼻息而入，人所不知也，鼻氣通於天，故寒邪無形之氣從鼻而入，腎為水也，水流濕，故腎受之，經曰：傷於濕者，下先受之，同氣相求耳，又云：天之邪氣，感則害人五藏，以是知內外兩感，藏府俱病，欲表之則有裏，欲下之則有表，表裏既不能一治，故死矣，故云：兩感者，不治，然所稟有虛實，所感有淺深，虛而感之深者，必死，實而感之淺者，猶或可治之，而不救者，有矣，夫未有不治而獲生者也，予嘗用此間，有生者，十得二三，故立此方以待好生君子用之，解利兩感神方。</p>
<p>大羌活湯：</p>
<p>防風，羌活，獨活，防己，黃芩，黃連，蒼朮，白朮，甘草（炙），細辛（去土各三錢），知母（生），川芎，地黃（各一兩）。</p>
<p>右㕮咀，每服半兩，水二盞煎至一盞半，去柤，得清藥一大盞，熱飲之，不解再服三四盞解之亦可，病愈則止，若有餘證，並依仲景，隨經法治之。</p>
<h3>清氣為榮</h3>
<p>清者，體之上也，陽也，火也，离中之陰降，午後一陰生，即心之生血，故曰清氣為榮。</p>
<h3>濁氣為衛</h3>
<p>濁者，體之下也，陰也，水也，坎中之陽升，子後一陽生，即腎陽舉而使之，故曰濁氣為衛，地之濁不升，地之清能升，為六陽舉而使之上也，天之清不降，天之濁能降，為六陰驅而使之下也，經曰：地氣上為雲，天氣下為雨，雨出地氣，雲出天氣，此之謂歟。</p>
<h3>其用在下膽胃膀胱大腸小腸</h3>
<p>天六府氣表，其體在上，其用在下。</p>
<h3>其用在上兩目兩耳鼻口舌</h3>
<p>地五藏血裏，其體在下，其用在上。</p>
<h3>格則吐逆–九竅–五藏</h3>
<p>陰極自地而升，是行陽道，乃東方之氣，金石之變，上壅是也，極則陽道不行，反閉於上，故令人吐逆，是地之氣不能上行也，逆而下降，反行陰道，故氣填塞而不入，則氣口之脈大，四倍於人迎，此清氣反行濁道也，故曰：格。</p>
<h3>關則不便–下竅–六府</h3>
<p>陽極自天而降，是行陰道，乃西方之氣，膏梁之物下泄是也，極則陰道不行，反閉於下，故不得小便，是天之氣不得下通也，逆而上行，反行陽道，故血脈凝滯而不通，則人迎之脈大，四倍於氣口，此濁氣反行清道也，故曰：關。</p>
<h3>三陽氣血多少</h3>
<p>寅為少陽，何以復為太陽，一陽初出地之外，即嫩陽也，故謂之少陽，二陽過卯，故謂之陽明，三陽至巳，故謂之太陽之氣，升至極之分，便是太陽也，三陽俱為太陽之氣，居其底卻為少陽也，以此推之，三陽所呼之名異，非有二體也，以其從多少而言之耳。</p>
<p>陽氣之極，舉陰於九天之上，故水自天而降，故太陽即為寒水也，所以血多而氣少，陽明居太陽少陽之中，二陽合明，故曰陽明，陰陽等也，所以氣血俱多，少陽者，初出之氣少而不能鼓舞陰氣，陽伏地中尚多，故為龍火，為震為雷為足俱屬地之下也，所以氣多血少，少陽極舉陰於九天之上，肺為衛，天之極表也，所以上氣，故肺受之，至高者，肺也，故為手太陰，陰於此，為秋氣而復降，重陽補下焦元氣，重陰補上焦元氣，辛為天之味，能補地之分，自上而降於下也，苦為地之味，能補天之分，自下而升於上也，此二者，皆從其源也，六陽俱極，舉陰於九天之上，故陰自天而降，是陰降於九天之上，而姤卦之陰，復何以從下生，蓋陰之首，雖從天而降，其陰之尾已至地矣，故陰從地而生，所以一陰從五陽之下也，凡所生者，從下皆從乎地也，故地為萬物之母，又云：非母不生，從地而生者，為春氣，從天而降者，為秋氣，九天之上為夏，九天之下為冬。</p>
<h3>氣血之體</h3>
<p>以上下言之，有若立輪外焉，天道左旋而西中焉，地道右旋而東，似不相侔，大抵血隨氣行，夫唱婦隨是也，血雖從氣，其體靜而不動，故氣血如磨之形，上轉而之西，下安而不動，雖云不動，自有東行之意，以其上動而下靜，不得不爾也，天地之道如故，漢守所言，從乎天也，自艮而之巽，晉令所言，從乎地也，自乾而之坤，是以乾坤之用備矣，言天道者，從外而之內也，言地道者，從內而之外也，從外之內者，傷寒也，從內之外者，雜病也。</p>
<h3>辯表裏中三證</h3>
<p>假令少陽證頭痛，往來寒熱，脈浮弦，此三證但有一者，是為表也，口失滋味，腹中不和，大小便或閉而不通，或泄而不調，但有一者，是為裏也，如無上下表裏證，餘者皆虛熱也，是在其中矣。</p>
<h3>辯陰陽二證</h3>
<p>陰證身靜，重語無聲，氣難布息，目睛不了了，鼻中呼不出吸不入，往來口與鼻中氣冷，水漿不入，大小便不禁，面上惡寒有如刀刮；陽證身動，輕語有聲，目睛了了，鼻中呼吸出入能往而能來，口與鼻中氣皆然。</p>
<h3>辯表傷陰陽二證</h3>
<p>身表涼知在陰經也，名曰陰證，身表熱知在陽經也，名曰陽證。</p>
<h3>辨內外傷</h3>
<p>傷風，鼻中氣出麤，合口不開，肺氣通於天也；傷食，口無味，涎不納，鼻息氣勻，脾氣通於地也。</p>
<p>外傷，一身盡熱，先太陽也，從外而之內者，先無形也。</p>
<p>內傷手足不和，兩脇俱熱，知先少陽也，從內之外者，先有形也。</p>
<p>內外俱傷，人迎氣口俱盛，或舉按皆實大，表發熱而惡寒，腹不和而口液，此內外兩傷也。</p>
<p>凡診，則必捫手心手背，手心熱則內傷，手背熱則外傷，次以脈別之。</p>
<h3>傷寒言足經　手經皆有餘</h3>
<p>春溫病，足少陽甲足厥陰乙，足陽明胃足太陰脾。</p>
<p>夏熱病，手太陽丙手少陰丁。</p>
<p>長夏大熱病，手少陽戊手厥陰己。</p>
<p>秋手陽明庚手太陰辛。</p>
<p>冬傷寒，足太陽壬足少陰癸，足少陽甲足厥陰乙。</p>
<p>不言手經圖　足經皆不足。</p>
<p>冬傷於寒者必溫病，夏為熱病，長夏為大熱病，蓋因房室勞傷與辛苦之人得之，水虧無以奉春生之令，故春陽氣長而為溫病也，夏為熱病者，是火先動於火未動之時，水預虧於水已王之日，故邪但藏而不為病也，夏令炎蒸，其火既王，與前所動者，客邪與主氣二火相接，所以為熱病也，長夏為大熱病者，火之方與秋之分，皆手經居之木之方與春之分，皆足經居之所傷者，皆足經不足及夏火王，客氣助於手經，則不足者愈不足矣，故所用之藥，皆泄有餘而非足經藥，何以然，泄有餘則不足者，補矣，此傷寒本足經，只言足經而不言手經也，大意如此，至於傳手經者亦有之，當作別論，與夫奇經之病，亦在其中矣。</p>
<h3>六經傳足傳手經則愈</h3>
<p>陽中之陰水，太陽是也，為三陽之首，能巡經傳，亦越經傳。</p>
<p>陽中之陽土，陽明是也，夫陽明為中州之土，主納而不出，如太陽傳至此，名曰巡經傳也。</p>
<p>陽中之陽木，少陽是也，上傳陽明，下傳太陰，如太陽傳至此，為越經傳也。</p>
<p>陰中之陰土，太陰是也，上傳少陽為順，下傳少陰為逆，此為土下傳也，如太陰傳太陽為誤下傳也。</p>
<p>陰中之陽水，少陰是也，上傳太陰為順，下傳厥陰為生，如太陽傳至此，乃表傳裏也。</p>
<p>陰中之陰木，厥陰是也，上傳少陰為實，再傳太陽為自愈也。</p>
<h3>太陽六傳</h3>
<p>太陽者，乃巨陽也，為諸陽之首，膀胱經病若渴者，自入於本也，名曰傳本。</p>
<p>太陽傳陽明胃土者，名曰巡經傳，為發汗不徹，利小便餘邪不盡，透入於裏也。</p>
<p>太陽傳少陽膽木者，名曰越經傳，為元受病，脈浮無汗，當用麻黃而不用之，故也。</p>
<p>太陽傳少陰腎水者，名曰表傳裏，為得病急，當發汗而反下，汗不發所以傳也。</p>
<p>太陽傳太陰脾土者，名曰誤下傳，為元受病，脈緩有汗，當用桂枝而反下之所致也，當時腹痛，四肢沉重。</p>
<p>太陽傳厥陰肝木者，為三陰不至於首，唯厥陰與督脈上行，與太陽相接，名曰巡經得度傳。</p>
<h3>太陽證</h3>
<p>太陽證，頭項痛，腰脊強，發熱惡寒，無汗，脈尺寸俱浮而緊，是發於陽，陽者，衛也，麻黃湯主之：</p>
<p>麻黃（一兩半去節），桂枝（一兩去皮），杏仁（二十粒湯浸去皮尖），甘草（半兩炙）。</p>
<p>右剉每服五錢，水一盞煎溫服。</p>
<p>太陽證，頭項痛，腰脊強，發熱惡寒，自汗，脈尺寸俱浮而緩者，榮也，桂枝湯主之：</p>
<p>桂枝（去皮），芍藥，甘草（各等分）。</p>
<p>右剉每服八錢，水一盞半薑棗同煎溫服。</p>
<p>桂枝麻黃各半湯：</p>
<p>太陽證，頭痛發熱，自汗惡風，脈當緩而反緊，傷風得傷寒脈也。</p>
<p>太陽證，頭痛發熱，無汗惡寒，脈當急而反緩，傷寒得傷風脈也。</p>
<p>二證脈不同本經，大青龍湯主之，易老桂枝麻黃各半湯，此言外之意，楊氏云：非明脈者，不可用大青龍湯，以其有厥逆，筋惕肉瞤及亡陽之失也，故易老改為九味羌活湯，而不用桂枝麻黃也，羌活湯不論有汗無汗悉宜服之，但有緩急不同矣，九味羌活湯，藥證加減服餌，緩急具見於後。</p>
<p>桂枝二麻黃一湯：</p>
<p>太陽證，發熱惡寒，自汗脈緩。</p>
<p>太陽證，發熱惡風，無汗脈緩。</p>
<p>此易老元將麻黃一桂枝二，治上二證後，復改用羌活湯。</p>
<h3>太陽頭痛</h3>
<p>太陽膀胱脈浮緊，直至寸口，所以頭痛者，頭與寸口俱高之分也，兼厥陰與督脈會於巔，逆太陽之經，上而不得下，故壅滯為頭痛於上也，左手浮弦，胸中痛也，沉弦，背愈痛，右手浮弦者亦然，頭痛者，木也，最高之分，惟風可到，風則溫也，治以辛涼，秋剋春之意，故頭痛皆以風藥治之者，總其體之常也，然各有三陰三陽之異焉，故太陽則宜川芎，陽明則宜白芷，少陽則宜柴胡，太陰則宜蒼朮，少陰則宜細辛，厥陰則宜吳茱萸也。</p>
<h3>治三陽則不可越經</h3>
<p>假令治太陽陽明，不可遺太陽而只用陽明藥，餘倣此，用三陽經解藥後，身番覆重者，若煩則是有陽明也，若不煩而番覆輕者，知不傳三陰也，不傳三陰則為解也，大抵三陰之體靜重與濕相同，傷寒五日後無汗，謂穀消，水去形亡，故下之；三日前，謂內有水穀，故汗之。</p>
<h3>問桂枝湯發字</h3>
<p>發汗或云當得汗解，或云當發汗更發汗並發汗，宜桂枝湯者，數方是用桂枝發汗也，復云無汗不得服桂枝，又曰汗家不得重發汗，又曰發汗過多者，卻用桂枝甘草湯，是閉汗也，一藥二用如何說得，仲景發汗與本草之義相通，為一答曰本草云：桂味辛甘熱無毒，能為百藥長，通血脈，止煩出汗者，是調血而汗自出也，仲景云：藏無他病，發熱自汗者，此衛氣不和也，又云：自汗者，為榮氣和，榮氣和則外不諧，衛氣不與榮氣相和諧也，榮氣和則愈，故皆用桂枝湯調和榮衛，榮衛既和則汗自出矣，風邪由此而解，非桂枝能開腠理發出汗也，以其固閉榮血，衛氣自和，邪無容地而出矣，其實則閉汗孔也，昧者不解，閉汗之意，凡見病者便用桂枝湯發汗，若與中風自汗者合，其效桴鼓，因見其取效而病愈，則曰此桂枝發出汗也，遂不問傷寒無汗者，亦與桂枝湯，誤之甚矣，故仲景言：無汗不得服桂枝，是閉汗孔也，又云：發汗多，叉手冒心，心悸欲得按者，用桂枝甘草湯，是亦閉汗孔也，又曰：汗家不得重發汗，若桂枝湯發汗，是重發汗也，凡桂枝條下言發字，當認作出字，是汗自然出也，非若麻黃能開腠理而發出汗也。本草出汗二字，上文有通血脈一句，是非三焦衛氣皮毛中藥，是為榮血中藥也，如是則出汗二字，當認作榮衛和自然汗出，非桂開腠理而發出汗也，故後人用桂治虛汗，讀者當逆察其意則可矣，噫，神農之作於其前，仲景之述於其後，前聖後聖其揆一也。</p>
<h3>太陽禁忌不可犯</h3>
<p>小便不利，不可更利之，利之是謂犯本，犯本則邪氣入裏不能解，此犯之輕也，以是五苓散不可妄用。</p>
<p>大便不可易動，動之是謂動血，動血是謂犯禁，此犯之重也，表在不可下，下之是為犯禁，此犯之尤重也，下之為惡風惡寒頭痛，待表證悉罷，方可下之也，脈浮緊者，犯之必結胸，脈浮緩者，犯之必痞氣。</p>
<h3>太陽證當汗</h3>
<p>不咽乾不衄不淋不渴，小便自利，不經發汗則當發之。</p>
<h3>太陽證不當汗</h3>
<p>咽乾淋渴鼻衄，小便不利，已經發汗不得重發，如無已上忌證，雖發汗邪氣未盡，亦得重發之。</p>
<h3>當汗而不汗生黃</h3>
<p>其證為風寒所傷，陽氣下陷入於內，而排寒水上行於經絡之間，本當發汗因以徹其邪，醫失汗之，故生黃也，脾主肌肉四肢，寒濕與內熱相合而生黃也。</p>
<h3>當汗而發汗過多成痓</h3>
<p>其證因發汗太過，腠理開泄，汗漏不止，故四肢急難以屈伸。</p>
<h3>不當汗而汗成畜血</h3>
<p>畜血，其證燥火也，當益津液為上，而反汗以亡其津液，其毒擾陽之極則侵陰也，故燥血而畜於胸中也。</p>
<h3>血證見血自愈</h3>
<p>太陽病入膀胱，小便利而赤，畜血證也，血自下者愈也。</p>
<h3>知可解</h3>
<p>戰而汗解者，太陽也；不戰有汗而解者，陽明也；不戰無汗而解者，少陽也；若先差經必不爾矣。</p>
<p>太陽傳陽明，其中或有下證，陽明證反退而熱，兼不渴卻退，顯少陽證，是知可解也。</p>
<p>太陽證知可解者，為頭不痛項不強，肢節不痛則知表易解也。</p>
<p>陽明知可解者，為無發熱惡寒，知裏易解也。</p>
<p>少陽證知可解者，寒熱日不移，時而作，邪未退也，若用柴胡而移其時，早移之於晏，晏移之於早，氣移之於血，血移之於氣，是邪無可容之地，知可解也。</p>
<p>知不可解服解藥而去沉困，只頭痛目悶，是知濕去而風不去，則欲解也，若風去而濕不去，則不解，何以然，風則高，濕則下而入裏也。</p>
<h3>脈知可解不可解</h3>
<p>可解之脈浮而虛，不可解之脈浮而實，浮而虛者，只是在表，浮而實者，知已在裏也，汗多不解者，轉屬陽明也，傷寒不頭痛，知邪不在經，若頭痛者，知邪在經也。</p>
<h3>易老解利法</h3>
<p>經云：有汗不得服麻黃，無汗不得服桂枝，若差服則其變不可勝數，故立此法，使不犯三陽禁忌，解利神方。</p>
<p>九味羌活湯：</p>
<p>羌活（治太陽肢節痛，君主之藥也，然非無以為主也，乃撥亂反正之主，故大無不通，小無不入，關節痛非此不治也），防風（治一身盡痛，乃軍卒中卑下之職，一聽軍令而行，所使引之而至），蒼朮（別有雄壯上行之氣，能除濕，下安太陰，使邪氣不納傳之於足太陰脾），細辛（治足少陰腎苦頭痛），川芎（治厥陰頭痛在腦），香白芷（治陽明頭痛在額），生地黃（治少陰心熱在內），黃芩（治太陰肺熱在胸），甘草（能緩裏急調和諸藥）。</p>
<p>已上九味雖為一方，然亦不可執，執中無權猶執一也，當視其經絡前後左右之不同，從其多少大小輕重之不一，增損用之，其效如神（即此是口傳心授），㕮咀水煎服，若急汗熱服，以羹粥投之，若緩汗溫服而不用湯投之也。</p>
<p>脈浮而不解者，先急而後緩。</p>
<p>脈沉而不解者，先緩而後急。</p>
<p>九味羌活湯不獨解利傷寒治雜病有神：</p>
<p>中風行經者，加附子；中風秘澀者加大黃；中風並三氣合而成痹等證，各隨十二經上下，內外寒熱溫涼，四時六氣加減補瀉用之，煉蜜作丸尤妙。</p>
<h3>當汗而下之成協熱利</h3>
<p>當各隨三陽本證，表藥發之，發之表解，下利自愈，若不愈者，方可以利藥治之。</p>
<h3>太陽一下有八變</h3>
<p>太陽病下之，其脈促不結胸者，此為欲解也，脈浮者，必結胸，脈緊者，必咽痛，脈弦者，必兩脇拘急，脈細數者，頭痛不止，脈沉緊者，必欲嘔，脈沉滑者，協熱利，脈浮滑者，必下血。</p>
<h3>裏傳表</h3>
<p>太陽病反下之，因而腹滿時痛者，屬太陰也，桂枝加芍藥湯主之，至於元實痛者，胃也，桂皮加大黃湯主之，已傳戊，婦告夫也，所以為裏傳表，即名誤下傳也。</p>
<h3>傷寒雜證誤下變有輕重</h3>
<p>或問曰：傷寒雜證一體，若誤下之，甚者，變大，答曰：非一體也，傷寒誤下，變無定體，雜病誤下，變有定體，何以然？傷寒自外而入，陽也，陽主動，雜病自內而出，陰也，陰主靜，動者犯之，其變無窮，靜者犯之，其變止痞與腹脇痛而已，故變無窮者，為重痞與腹脇痛者，為輕也。</p>
<h3>五苓散為下藥</h3>
<p>五苓散為下藥，乃太陽裏之下藥也，太陽高則汗發之，下則引而竭之，渴者，邪入太陽本也，當下之使從膀胱出也。</p>
<p>相火濕合。</p>
<p>腎燥膀胱熱，小便不利，此藥主之，小便利者不宜用，然太陽病熱而渴，小便雖利亦宜五苓散下之。</p>
<h3>當服不服則生何證</h3>
<p>答曰：當服不服則穀消水去形亡，必就陽明燥火戊胃發黃，故有調胃湯證，此太陽入本失下也，由不曾服五苓散。</p>
<h3>不當服服之則生何證</h3>
<p>答曰：不當服而服之，是為犯本，小便強利，津液重亡，侵陽之極則侵陰而成血證也，輕則桃仁承氣湯，重則抵當湯，故五苓散調和陰陽者也，乃太陽陽明之間，故為調和之劑。</p>
<h3>酒毒小便赤澀宜五苓散</h3>
<p>若熱在中焦，未入太陽之本，小便自利而清，是津液已行，若與五苓散利之，是重涸腎水也，不惟重涸腎水，酒毒之熱亦不能去，故上下不通而溺澀則為發黃也，若入血室則為畜血也。</p>
<h3>五苓散以瀉濕熱</h3>
<p>假令太陽證，傷寒自外入標本，有二說，以主言之，膀胱為本，經絡為標，以邪言之，先得者為本，後得者為標，此標先受之，即是本也，後入於膀胱，本卻為標也，此乃客邪之標本也，治當從客之標本。</p>
<h3>小腸火為本　膀胱水為本</h3>
<p>寒毒之氣從標入本，邪與手經相合而下至膀胱，五苓散主之，桂枝陽中之陽，茯苓陽中之陰，相引而下入於本道出邪氣。</p>
<p>　　手經　　自上之下　　足經。</p>
<p>丙火　　　　　　　　壬水</p>
<p>　　小腸　　自下之上　　膀胱。</p>
<p>火邪之氣從下之上，以內為本，水中有火，火為客氣，當再責其本，兩腎相通，又在下部，責在下焦，下焦如瀆，相火明也，生地黃黃柏主之，邪從本受下焦火邪，遺於小腸，是熱在下焦，填塞不便，自內而之外也。</p>
<p>表之裏藥：桂朮，澤瀉，豬苓，茯苓，為陽中之陰。</p>
<p>裏之表藥：生地黃，黃柏，黃連，為陰中之陽。</p>
<p>治酒病宜發汗，若利小便，炎焰不肯下行，故曰火鬱則發之，辛溫散之，是從其火體也，是知利小便利濕去熱，不去動大便，尤為疏遠，大便者，有形質之物，酒者，無形水也，從發而汗之最為之近，是濕熱俱去，治以辛溫，發其火也，佐以苦寒，除其濕也。</p>
<h3>加減涼膈退六經熱</h3>
<p>易老法涼膈散減大黃芒硝加桔梗，同為舟楫之劑，浮而上之治，胸膈中與六經熱，以其手足少陽之氣俱下，胸膈中三焦之氣同相火遊行於身之表，膈與六經乃至高之分，此藥浮載亦至高之劑，故能於無形之中，隨高而走，去胸膈中及六經熱也。</p>
<h3>陽明證</h3>
<p>陽明證，身熱目疼，鼻乾不得臥，不惡風寒而自汗，或惡熱，脈尺寸俱長，白虎湯主之：</p>
<p>石膏辛寒入肺，知母苦寒入腎，甘草，粳米之甘（居中挽二藥上下）。</p>
<h3>陽明證禁忌不可犯</h3>
<p>不當發汗，不當利小便，若發汗利小便，竭其津液則生畜血證也，唯當益津液為上，以其火就燥也，益津液者，連鬚蔥白湯是也，汗多亡陽，下多亡陰，小便重利之走氣，三者雖異為言，少津液則一也。</p>
<h3>汗多亡陽</h3>
<p>汗者，本所以助陽也，若陽受陰邪，寒結無形，須當發去陰邪以復陽氣，所謂益陽而除風寒客氣也，陰邪已去而復汗之，反傷陽也，經曰：重陽必陰，故陽氣自亡，汗多亡陽此之謂也。</p>
<h3>下多亡陰</h3>
<p>下者，本所以助陰也，若陰受陽邪，熱結有形，須當除去已敗壞者，以致新陰，此所謂益陰而除火熱邪氣也，陽邪已去而復下之，反亡陰也，經曰：重陰必陽，故陰氣自亡，下多亡陰，此之謂也。</p>
<h3>汗無太早</h3>
<p>非預早之早，乃早晚之早也，謂當日午以前，為陽之分，當發其汗，午後陰之分也，不當發汗，故曰汗無太早，汗不厭早是為善攻。</p>
<h3>下無太晚</h3>
<p>非待久之晚，乃當日已後，為陰之分也，下之謂當已前為陽之分也，故曰下無太晚，下不厭晚，是為善守，汗本亡陰，以其汗多陽亦隨陰而走，下本瀉陽，以其下多陰亦隨陽而走，故曰：汗多亡陽，下多亡陰也。</p>
<p>若犯發汗多，畜血上焦為衄。</p>
<p>若犯利小便多，畜血下焦為發狂（其人如狂也）。</p>
<p>白虎加桂枝湯：</p>
<p>傷寒，脈尺寸俱長，自汗大出，身表如冰，石至脈傳入於裏細而小，其人動作如故，此陽明傳入少陰，戊合癸即夫傳婦也，白虎加桂枝湯主之，然脈雖細小，亦當以遲疾別之，此證脈疾而非遲，故用此法。</p>
<p>白虎加梔子湯：</p>
<p>治老幼及虛人，傷寒五六日，昏冒譫語，或小便淋或澀，起臥無度，或煩而不眠也，並宜此藥。</p>
<p>傷暑有二。</p>
<p>白虎加人參湯：</p>
<p>動而傷暑，心火大盛，肺氣全虧，故身熱，脈洪大，動而火勝者，熱傷氣也，白虎加人參湯主之，辛苦人多得之，不可不知也。</p>
<p>白虎加蒼朮湯：</p>
<p>靜而傷暑，火乘金位，肺氣出表，故惡寒脈沉疾，靜而濕勝者，身體重也，白虎加蒼朮湯主之，安樂之人多受之，不可不知也。</p>
<p>春不服白虎為瀉金也，秋不服柴胡為瀉木也。</p>
<p>梔子豉湯：</p>
<p>煩者，氣也，躁者，血也，氣主肺，血主腎，故用梔子以治肺煩，用香豉以治腎躁，煩躁者，懊憹不得眠也，少氣虛滿者，加甘草；如若嘔噦者，加生薑橘皮；下後腹滿而煩者，梔子厚朴枳實湯；下後身熱微煩者，梔子甘草乾薑湯。</p>
<h3>煩躁</h3>
<p>火入於肺，煩也，火入於腎，躁也，煩躁俱在上者，腎子通於肺母也，髮潤如油，喘而不休，總言肺絕，鼻者，肺之外候，肺氣通於鼻，鼻中氣出麤大，是肺也，髮者，血之餘，腎氣主之，髮潤如油，火迫腎水至高之分，是水將絕也，仲景以髮潤喘大為肺絕，兼其腎而言之，髮在高巔之上，雖屬腎，肺為五臟之至高，故言肺絕兼腎也，大抵肺腎相通，肺既已絕，則腎不言而知其絕矣，或曰煩者，心為之煩，躁者，心為之躁，何煩為肺，躁為腎，即夫心者，君火也，與邪熱相接，上下通熱，金以之而躁，水以之而虧，獨存者，火爾，故肺腎與心合而為煩躁焉，此煩雖肺，躁雖腎，其實心火為之也。</p>
<p>若有宿食而煩燥者，梔子大黃湯主之。</p>
<h3>問邪入陽明為譫語妄言錯失此果陽明乎</h3>
<p>答曰：足陽明者，胃也，豈有其言哉，傷寒始自皮毛入，是從肺中來，肺主聲，入於心，則為言，胃即戊也，戊為火化，下從腎肝。</p>
<h3>傷寒雜證發熱相似藥不可差</h3>
<p>傷寒表證，發熱惡寒而渴，與下證同，但頭痛身熱自疼，鼻乾不得臥，白虎湯主之，乃陽明經病也，正陽陽明氣病，脈洪大，先無形也，雜病裏證，發熱惡熱而渴，但目赤者，病藏也，手太陰肺不足，不能管領陽氣也，宜以枸杞生地黃熟地黃之類主之，脈洪大，甚則嘔血，先有形也。</p>
<h3>二證相似藥不可差</h3>
<p>氣病在表，誤用血藥，無傷也，為安血而益陰也，血病在裏，誤用氣藥，白虎湯者，非也，為瀉肺而損陰也。</p>
<h3>狂言譫語鄭聲辯</h3>
<p>狂言者，大開目與人語，語所未嘗見之事，即為狂言也。</p>
<p>譫語者，合目自言，言所日用當見當行之事，即為譫語也。</p>
<p>鄭聲者，聲戰無力，不相接續，造字出於喉中，即鄭聲也。</p>
<h3>嘔吐噦胃所主各有經乎</h3>
<p>答曰：胃者，總司也，內有太陽陽明少陽三經之別，以其氣血多少，而與聲物有無之不同，即吐屬太陽，有物無聲，乃血病也，有食入即吐嘔。</p>
<h3>食已則吐食久則吐之別</h3>
<p>嘔屬陽明，有物有聲，氣血俱病也，仲景云：嘔多雖有陽明證，不可下。</p>
<p>噦屬少陽，無物有聲，乃氣病也，以此推之，則大便亦各有經耳，但察其有物無聲，有物有聲，無物有聲，則知何經也，至於脾病後出餘氣，以五臭分之，則知何藏入中州而病也。</p>
<h3>陽證發斑</h3>
<p>有下之早而發者，有失下而發者，有胃熱胃爛而發者，然得之雖殊，大抵皆戊助手少陽心火入於手太陰肺也，故紅點如斑，生於皮毛之間耳，白虎湯瀉心湯調胃承氣湯從所當而用之，及當以肺脈別也。</p>
<h3>傷寒之經有幾</h3>
<p>答曰：有九太陽陽明少陽太陰少陰厥陰是為六也，有太陽陽明有少陽陽明有正陽陽明，是為三也，非九而何，陽明者太陽少陽俱入於胃，故曰正陽陽明也，前三經者，陽明自病不入於裏者，謂之在經，不為正陽陽明矣。</p>
<h3>三陽從中治</h3>
<p>太陽陽明，大承氣湯，少陽陽明，小承氣湯，正陽陽明，調胃承氣湯，以汗證言之，以少陽居其中，謂太陽證為表當汗，陽明證為裏當下，少陽居其中故不從汗下，和之以小柴胡湯，從少陽也，以下證言之，陽明居其中，謂太陽經血多氣少，陽明經氣血俱多，少陽經氣多血少，若從太陽下則犯少陽，從少陽下則犯太陽，故止從陽明也，此三陽合病，謂之正陽陽明，不從標本從乎中也，緣陽明經，居太陽少陽之中，此經氣血俱多，故取居其中，是以不從太陽少陽而從陽明也，陽明自病，調胃承氣湯主之，三陽併病，白虎湯主之，是從乎中也。</p>
<h3>經言胃中有燥屎五六枚何如</h3>
<p>答曰：夫胃為受納之司，大腸為傳導之府，燥屎豈有在胃中哉，故經言穀消水去形亡也，以是知在大腸而不在胃中明矣。</p>
<p>胃實者，非有物也，地道塞而不通也，故使胃實，是以腹如仰瓦，註曰：難經云：胃上口為賁門，胃下口為幽門，幽門接小腸上口，小腸下口即大腸上口也，大小二腸相會為闌門，水滲泄入於膀胱，柤滓入於大腸，結於廣腸，廣腸者，地道也，地道不通，土壅塞也，則火逆上行至胃，名曰胃實，所以言陽明當下者，言上下陽明經不退也，言胃中有燥屎五六枚者，非在胃中也，通言陽明也，言胃是連及大腸也，以其胃為足經，故從下而言之也，從下而言，是在大腸也，若胃中實有燥屎，則小腸乃傳導之府，非受盛之府也，啟玄子云：小腸承奉胃，司受盛糟粕，受已復化，傳入大腸，是知燥屎在大腸之下，即非胃中有也。</p>
<h3>如何是入陰者可下</h3>
<p>答曰：陽入於陰者，可下，非入太陰少陰厥之三陰也，乃入三陽也，三陽者，非太陽少陽陽明之三陽也，乃胃與大小二腸之三陽也，三陽皆為府，以其受盛水穀，傳導有形，故曰入於陰也，仲景云：已入府者，可下，此之謂也。</p>
<h3>評熱論藏字</h3>
<p>黃帝問傷寒，或愈或死，其死皆以六七日，其愈十日已上者何？岐伯對以熱雖甚，不死，兩感者，死，帝問其狀，岐伯云：一日太陽，二日陽明，三日少陽，繼之三陽經絡皆受病，而未入於藏者，可汗而已，此藏物之藏，非五臟之臟也，若三陽經入於藏物之藏，是可泄也，可泄一句於此不言，便言四日太陰，五日少陰，六日厥陰，於此卻不言可泄，但言三陰三陽五臟六腑皆受病，榮衛不行，五臟不通則死，此一節是言兩感也，故下文卻言兩感於寒者，七日巨陽衰，至十二日，六經盡衰，大氣皆去，其病已矣，是通說上文六日所受之病也，以此知前文，四日太陰五日少陰六日厥陰皆在經絡，故十二日愈也，豈可便以太陰少陰厥陰為可泄乎？帝問治，岐伯對以治之各通其藏，脈日衰已矣，是通說上文六日所受之病，並十二日衰已之意盡矣，終復言其未滿三日汗而已，又言其滿三日可泄而已一句，只是重前文三陽受病未入於藏者，可汗，其滿三日已入於藏物之藏者可泄也，後三陰經，岐伯雖不言可汗可泄，止是在經者，便可汗，在藏物之藏者，便可下也，何必穿鑿無已，以前三日為三陽，後三日為三陰耶？若認藏字為五臟之臟，則前後顛倒不通，若認藏字作藏物之藏，則前後辭理皆順矣，故仲景曰：已入於府者，可下，新校正云：府字當作藏字，太元亦素云：作府何疑之有？</p>
<p>仲景太陽陽明大承氣，少陽陽明小承氣，正陽陽明調胃承氣，是三陽已入於藏者，泄之也，太陰桂枝湯，少陰麻黃附子細辛湯，厥陰當歸四逆湯，是三陰未入於藏者，汗之也。</p>
<p>大小調胃三承氣湯，必須脈浮頭痛，惡風惡寒，表證悉罷而反發熱惡熱，譫言妄語，不大便者，則當用之，凡用下藥，不論大小，若不渴者，知不在有形也，則不當下，若渴者，則知纏有形也，纏有形是為在裏，在裏則當下，大承氣湯主之：</p>
<p>大黃（用酒浸，治不大便，地道不通，行上引大黃至顛而下），厚朴（薑汁製治腸脇䐜脹滿），芒硝（治腸轉失氣，內有燥屎，本草云：味辛以潤腎燥，今人不用辛字只用鹹字，鹹能軟堅與古人同意），枳殼（麩炒，至心下痞按之良久，氣散病緩，此并主心下滿，乃肝之氣盛也）。</p>
<p>六府受有形，主血陰也。</p>
<p>大黃　　芒硝　　大實　　燥屎</p>
<p>浮　手足陽明大腸　胃</p>
<p>沉　手足太陰肺　　脾</p>
<p>　痞　　　　　大滿</p>
<p>枳實　　　厚朴</p>
<p>五臟主無形，是氣陽也。</p>
<p>小承氣湯：治實而微滿，狀若飢人食飽飯，腹中無轉失氣，此大承氣只減芒硝，心下痞，大便或通，熱甚，須可下者，宜用此。</p>
<p>大黃（生用），厚朴（薑製），枳實（麩炒）。</p>
<p>張仲景曰：雜證用此，名曰三物厚朴湯。</p>
<p>調胃承氣湯：</p>
<p>治實而不滿，不滿者，腹狀如仰瓦，腹中轉而失氣，有燥屎不大便而譫語者。</p>
<p>大黃（酒浸，邪氣居高，非酒不至，譬如物在高巔人力之所不及，則射以取之，故以酒炒用大黃，生者，苦泄峻必下，則遺高之分邪熱也，是以愈後，或目赤或喉痹或頭腫或膈食，上熱疾生矣），甘草（炙，經云，以甘緩之），芒硝（以辛潤之又曰以鹹軟之）。</p>
<p>已上三法，不可差也，若有所差，則無形者有遺，假令調胃承氣證用大承氣下之，則愈後元氣不復，以其氣藥犯之也，大承氣證用調胃承氣下之，則愈後神癡不清，以其氣藥無力也，小承氣證若用芒硝下之，則或下利不止變而成虛矣，三承氣豈可差乎。</p>
<p>大柴胡湯：治有表復有裏，有表者，脈浮或惡風或惡寒頭痛四證中，或有一二尚在者，乃是十三日過經不解是也，有裏者，譫言妄語擲手揚視，此皆裏之急者也，欲汗之則裏已急，欲下之則表證仍在，故以小柴胡中藥調和三陽，是不犯諸陽之禁，以芍藥下，安太陰，使邪氣不納，以大黃去地道不通，以枳實去心下痞悶或濕熱自利，若裏證已急者，通宜大柴胡湯小柴胡減人參甘草加芍藥枳實大黃是也，欲緩下之，全用小柴胡加枳實大黃亦可。</p>
<h3>少陽證</h3>
<p>少陽證，胸脇痛，往來寒熱，嘔或欬而耳聾，脈尺寸俱弦，小柴胡湯主之：</p>
<p>柴胡少陽，半夏太陽，黃芩陽明，人參太陰，甘草太陰，薑棗辛甘發散。</p>
<p>右各隨仲景本條下加減用之則可矣，藥如本法。</p>
<h3>少陽證禁忌不可犯</h3>
<p>忌發汗，忌利小便，忌利大便，故名三禁湯，乃和解之劑，若犯之，則各隨上下前後本變及中變與諸變，不可勝數，醫者宜詳之。</p>
<h3>如何是半表半裏</h3>
<p>答曰：身後為太陽，太陽為陽中之陽，陽分也，身前為陽明，陽明為陽中之陰，陰分也，陽為在表，陰為在裏，即陰陽二分，邪在其中矣，治當不從標本，從乎中治，此乃治少陽之法也，太陽膀胱，水寒也，陽明大腸，金燥也，邪在其中，近後膀胱水則惡寒，近前陽明燥則發熱，故往來寒熱也，此為三陽之表裏，非內外之表裏也，但不可認裏作當下之裏，故以此藥作和解之劑，非汗非下也。</p>
<h3>半表半裏有幾</h3>
<p>邪在榮衛之間，謂之半表裏也，太陽陽明之間，少陽居身之半表裏也，五苓散分陰陽膀胱經之半表裏也，理中湯治瀉吐上下之半表裏也。</p>
<h3>問婦人經病大人小兒內熱潮作並瘧疾寒熱其治同否</h3>
<p>答曰：帝問病之中外者何？岐伯對曰：從內之外者，調其內，若盛於外者，先治內而後治外，從外之內者，治其外，若盛於內者，先治外而後治內，此言表裏所出之異也，又云：中外不相及，則治主病者，中外不相及者，半表半裏也，自外入者有之，自內出者亦有之，外入內出雖異，邪在半表半裏則一也，此中外不相及，為少陽也，治主病者，治少陽也，帝問寒熱之病，惡寒發熱如瘧，或發一日或發間日，岐伯對以勝復之氣，會遇之時有多有少，陰多陽少其發日遠，陽多陰少其發日近，此勝復相薄，盛衰之節，瘧亦同法，瘧者，少陽也，少陽者，東方之氣也，逆行則發寒，順行則發熱，故分之氣異往來之不定也，婦人經水適斷，病作少陽，治之傷寒雜病一體，經云：身有病而有邪脈，經閉也，又云：月事不來者，胞脈閉也，經閉者，尺中不至，胞閉者，生化絕源二者皆血病也，厥陰主之，厥陰病則少陽病矣，累及其夫也，小兒外感內傷，若有潮作寒熱等證，並同少陽治之，男女同候，已上男子婦人小兒閨女，或實作大熱或變成勞，脈有浮中沉之不同，故藥有表裏和之不一，察其在氣在血，定其行陰行陽，使大小不失其宜，輕重各得其所，逆從緩急舉無不當，則可以萬全矣，此少陽一治不可不知也。</p>
<h3>熱有虛實外何以別</h3>
<p>答曰：五臟，陰也，所主皆有形，骨肉筋血皮毛是也，此五臟皆陰足，是為實熱，陰足而熱不能起理也，陰足而熱反勝之，是為實熱，若骨痿肉爍，筋緩血枯，皮聚毛落，五陰不足，而為熱病，是虛熱。</p>
<h3>少陽雜病</h3>
<p>婦人先病惡寒，手足冷全不發熱，脈八至，兩脇微痛，治者便作少陽治之，或曰是則然矣，論猶未也至，如無寒熱無脇痛，當作何經治？或者不敢對惡寒為太腸，脈八至且作陽治，當不從標本從乎中也，治此者，少陽也，若曰脈八至作相火，亦少陽也，兼又從內而之外也，是又當先少陽也，此不必論兩脇痛與不痛，脈弦與不弦，便當作少陽治之。</p>
<h3>陽盛陰虛發寒者何</h3>
<p>答曰：為陽在內，侵於骨髓，陰在外，致使發寒，治當不從內外從乎中治也，宜小柴胡湯調之，倍加薑棗。</p>
<h3>平旦潮熱</h3>
<p>熱在行陽之分，肺氣主之，故曰白虎湯以瀉氣中之火。</p>
<h3>日晡潮熱</h3>
<p>熱在行陰之分，腎氣主之，故用地骨皮飲以瀉血中之火。</p>
<p>白虎湯，其脈洪故抑之，使秋氣得以下降也，地骨皮飲，其脈弦故舉之，使春氣得以上升也。</p>
<p>肺氣石膏辛，肺血黃芩苦，腎氣知母，腎血黃柏。</p>
<p>地骨皮瀉腎火，總治熱在外，地為陰，骨為裏，皮為表，牡丹皮治胞中火無汗而骨蒸，牝牡乃天地之稱也，牡為群花之首，葉為陽發生也，花為陰成實也，丹者，赤也，火也，能瀉陰中之火，四物湯加上二味，治婦人骨蒸，知母瀉腎火有汗而骨蒸。</p>
<h3>太陰證</h3>
<p>腹滿咽乾，手足自溫，自利不渴，時腹痛，脈尺寸俱沉細。</p>
<h3>太陰可汗</h3>
<p>太陰病，脈浮者，可汗，宜桂枝湯。</p>
<h3>太陰可溫</h3>
<p>自利不渴者，屬太陰，以其藏有寒故也，當溫之，宜四逆輩，此條雖不言脈，當知沉遲而弱也。</p>
<p>仲景理中湯丸，暨易老人參黃耆湯量其輕重，或溫或熱，人之強弱虛實所可宜者，選而用之。</p>
<h3>太陰有可下者乎</h3>
<p>答曰：有經云，本太陽證醫反下之，因爾腹滿時痛者，太陰也，桂枝芍藥湯主之，大實痛者，桂枝加大黃湯，易老云：此非本有是證，以其錯下，脾傳於胃，故誤下傳。</p>
<h3>知可解</h3>
<p>太陰中風，四肢煩痛，陽微陰澀而長者，欲愈表少裏和，脈長者，為陽漸生也，此一證太陰便從外感，太陰病欲解時，從亥至丑上也。</p>
<h3>太陰證禁忌不可犯</h3>
<p>太陰之為病，腹滿而吐，食不下，自利，益甚時，腹自痛，若下之則胸下結鞭，太陰為病，脈弱，其人續自便利，設當行大黃芍藥者，宜減之，以其人胃氣弱易動故也，傷寒而脈浮緩，手足自溫者，繫在太陰，小便自利者，則不發黃，日久利益甚，必自止者，便硬乃入府傳陽明也。</p>
<h3>腹痛部分</h3>
<p>中脘痛，太陰也，理中建中黃耆湯類主之。</p>
<p>臍腹痛，少陰也，四逆真武附子湯類主之。</p>
<p>少腹痛，小腹痛，厥陰也，重則正陽回陽丹之類，輕則當歸四逆湯。</p>
<p>太陰傳少陰痛甚者，當變下利不止。</p>
<p>雜證而痛，四物苦楝湯酒煮當歸丸增損當歸丸之類。</p>
<p>夏肌熱惡熱脈洪疾手太陰足陽明主之，黃芩芍藥湯。</p>
<p>秋肌熱惡寒脈沉疾足少陰足太陰主之，桂枝芍藥湯。</p>
<p>腹痛，腹痛者，芍藥甘草湯主之。</p>
<p>脈弦傷氣，洪傷金，緩傷水，濇傷血，遲傷火。</p>
<p>加　黃芩，　芍藥　，桂枝，　當歸，　乾薑。</p>
<p>生薑。</p>
<p>腹不滿者加棗，若滿者不加。</p>
<p>脾虛滿者黃耆湯，芍藥停濕。</p>
<p>中滿者，分食甘二藥，用甘引至滿所，脾實。</p>
<p>平胃散蒼朮泄濕，小便不利者利之。</p>
<p>大便秘，實痞，厚朴，枳實。</p>
<p>大便利，虛痞，芍藥，陳皮。傷食滿者，傷厥陰，是以腹脹滿者，皆屬木。</p>
<h3>少陰證</h3>
<p>少陰證，口燥舌乾而渴，脈尺寸俱沉疾，則大承氣湯，沉遲則四逆湯。</p>
<p>少陰邪入於裏，上接於心，與火俱化而剋金，惡候或見氣死，入胃脈沉細而疾，疾則大承氣下之，下於本與水俱化而為寒，厥逆或見身冷靜重，脈沉細而遲，遲則四逆湯溫之，疾雖可下，若疾而無力者亦不可下，為陽將盡也。</p>
<p>少陰證口燥舌乾而渴，身表涼，脈沉細而虛，瀉心湯主之，此有形無形之藥也。</p>
<p>傷寒外證全在，下證大熱而脈反細小，不可下，瀉心湯主之，少陰受病，身涼無汗，體沉或體輕，脈沉，有頭痛不厥，麻黃附子瀉心湯主之。</p>
<h3>走無形證</h3>
<p>其人病身熱而煩燥不寧，大小便自利，其脈浮洪而無力，按之全無者，附子瀉心湯主之。</p>
<h3>走有形證</h3>
<p>其人病上吐下瀉不止，當渴而反不渴，其脈微細而弱，理中湯主之，渴而脈沉有力，而疾者，五苓散主之，少陰證，發熱脈沉者，必當汗。</p>
<p>緩汗之：麻黃附子細辛湯。</p>
<p>微汗之：麻黃附子甘草湯。</p>
<h3>少陰證下利辨</h3>
<p>色青者當下，色不青者當溫。</p>
<h3>少陰證口中辨</h3>
<p>口中和者當溫，口乾燥者當下。</p>
<h3>少陰證咽喉辨</h3>
<p>熱者甘草湯，寒者半夏湯，寒熱者桔梗湯。</p>
<p>通脈四逆湯：</p>
<p>薑附加甘草為脈沉細而遲弦，薑附以治寒，甘以緩之，為汗苦急也，其證小便自利，子能令母實，自東之非為逆行也。</p>
<p>薑附加蔥白為脈沉細而遲濇，薑附以治寒，辛以潤之，為腎惡燥也，其證大便自利，冷主氣，自北而西，此亦以為逆行也。</p>
<h3>少陰禁忌不可犯</h3>
<p>脈細沉數，病為在裏，不可發汗。</p>
<p>脈微者，不可發汗。</p>
<p>尺脈微弱澀者便不可下。</p>
<p>麻黃附子細辛湯：</p>
<p>體沉加防己，蒼朮，乃勝濕也。</p>
<p>體輕加石膏，知母，乃勝熱也。</p>
<p>此事難知集卷上終。</p>
<h2>此事難知集卷下</h2>
<p>前後虛實圖。</p>
<p>肝春王心傳，心夏王肝傳，脾季夏王肺傳，肺秋王腎傳，腎冬王脾傳。</p>
<p>假令脾肺虛則補其母，謂肺病而補其脾也，則腎自平矣。</p>
<p>假令脾肺實則瀉其子，謂脾病而瀉其肺也，則心自平矣，難經云：從前來者為實邪，從後來者為虛邪，從所不勝來者為賊邪，從所勝來者為微邪，自病者為正邪。</p>
<p>假令心病中風得之為虛邪，傷暑得之為正邪，飲食勞倦得之為實邪，傷寒得之為微邪，中濕得之為賊邪。</p>
<p>假令心病得脾脈，土在火之分也，剋火之水退而不敢至，火獨王於南方，是從前來者為實邪也。</p>
<p>假令心病得肝脈，木在火之分也，土退而不敢至，土退而不至，則剋火之水隨木而至，是從後來者為虛邪也。</p>
<p>假令脾肺虛，脾母能令肺子虛也，用理中湯，非補脾也，脾中補肺也，故曰虛補其母，以其脾為生肺之本，則用人參白朮之類，大經曰：滋苗者，必固其根，此之謂也。</p>
<p>假令脾肺實，肺子能令脾母實也，用瀉黃散，非瀉脾也，脾中瀉肺也，故曰：實則瀉其子，以其脾為生肺之上源，則用梔子石膏之類，大經曰：伐下者，必枯其上，此之謂也。</p>
<p>天和六脈，六甲王脈，四時平脈合而用之，則天地人三才之道備矣。</p>
<h3>諸經皆言大則病進者何也</h3>
<p>答曰：散而浮大者，心也，心主無為，相火用事，是為相應以五服言之，王畿中也，以王畿言之，九重中也，君主無為，當靜以養血，若浮大而出於外，非其所宜也，以王道言之，書云：外作禽荒，未或不忘，經云：主不明，則十二官危矣，此散而浮大者，君主兼臣下之權而不知反，故曰大則病進。</p>
<p>南政甲已所臨之歲，司天在泉，但見君火在上者上不應，在下者下不應。</p>
<p>北政但見君火在上則下不應，在下則上不應，在左則右不應，在右則左不應，當沉而浮，當浮而沉也。</p>
<p>南政以前為左，以後為右，君也，北政以前為右，以後為左，臣也。</p>
<p>啟玄子云：天地陰陽視之可見，何必思諸冥昧，演法推求，智極心勞而無所得耶？</p>
<h3>難經仲景合而為一</h3>
<p>仲景先太陽，次陽明，後少陽，自無形傳有形，從外而之內者也，仲景之所言，天令而暴至者也，難經：先少陽，次陽明，後太陽，自有形傳無形，從內而之外者也，故難經之言，言雜病而久疾者也。</p>
<h3>仲景叔和合而為一</h3>
<p>張仲景，王叔和，論弦濇圖。</p>
<p>弦陽分陰，洪陽正，濇陰分陽，沉陰正。</p>
<p>仲景言弦濇為陰，叔和言弦濇為陽，何意，大抵弦濇，東西也，以南北分之，故有陰陽之別，濇本燥火，弦本水少，雖有南北之分，總而言之，則不離諸數為熱，諸遲為寒，仲景叔和言本兩途，非相違背，合而論之皆是也，仲景所言，言傷寒自外而入者，叔和所言，言五藏自內而出者。</p>
<p>傷寒從氣而入，故仲景以弦脈為陰，自艮而之內，從外入，先太陽也，位在東北。</p>
<p>雜病從血而出，故叔和以弦脈為陽，自巽而之外，從內出，先少陽也，位在東南。</p>
<p>北弦，胸中痛，寒在胃，停水滿丹田，南目赤。</p>
<p>叫呼煩躁　　　大腸　　胃　　　三焦寒</p>
<p>右　　　　　　寸肺　　關脾　　尺命門</p>
<p>左　　　　　　寸心　　關肝　　尺腎</p>
<p>引飲脈八九至　小腸　　膽弦　　膀胱</p>
<p>南弦，理中湯，子能令母實，北固衛之陽（桂枝人參甘草湯）。</p>
<p>在右者皆受左剋。</p>
<p>裏　　自右之左　　　　　　　　　　主從客變</p>
<p>右　（大腸庚肺辛）濇　（胃戊脾己）緩　　（命門相火）洪</p>
<p>左　（心丁小腸丙）洪　（肝乙膽甲）弦　（腎癸膀胱壬）沉　</p>
<p>表　　自左之右　　　　　　　　　　客從主變　</p>
<p>凡在左者皆剋諸右</p>
<p>浮剋浮　沉剋沉。</p>
<p>表裏所當汗下。</p>
<p>　手太陰復主表證卻當汗　</p>
<p>右（行陰二十五度）　肺（大腸）　脾胃　命門　心包三焦（八裏主下）</p>
<p>左（行陽二十五度）　心（小腸）　肝膽　腎　　膀胱　　（七表主汗）</p>
<p>　足厥陰復主血證卻當下　</p>
<p>仲景浮汗而沉下。</p>
<p>右手沉實，調胃，承氣。</p>
<p>左手沉實，桃仁，抵當。</p>
<p>難經沉汗而浮下。</p>
<p>右手浮實，枳實，牽牛。</p>
<p>左手浮實，桃仁，四順。</p>
<p>右手，雜病是為之表，傷寒是為之裏。</p>
<p>左手，雜病是為之裏，傷寒是為之表。</p>
<p>傷寒入裏見標脈則生。</p>
<p>假令胃病下之，脈浮而汗出是也。</p>
<p>雜病出表見標脈則死。</p>
<p>假令脾病補之，脈弦而面青是也。</p>
<h3>察色脈以定吉凶</h3>
<p>脈，地也，色天也，地生天則順，天生地則逆。</p>
<p>假令得弦脈而面赤色，地生天也，地生天則順也，兒扶母兮，瘥速也。</p>
<p>假令得弦脈而面黑色，天生地也，天生地則逆也，母抑子兮，退遲也。</p>
<p>色者，陰中之陽氣也，本乎天。</p>
<p>脈者，陽中之陰氣也，本乎地。</p>
<h3>弦有浮沉</h3>
<p>浮為甲化　　素言天　化　　泄土　</p>
<p>沉為乙不化　難言地　不化　泄木　</p>
<p>泄土者，梔子，黃藥。</p>
<p>泄木者，防風，羌活。</p>
<p>洪浮者為丙，便有水化從其變也。</p>
<p>洪沉者為丁，只是火化從其常也。</p>
<h3>鍼經</h3>
<p>甲丙戊庚壬皆變，乙丁己辛癸不變（並只言木），雜病元無表證者，不可言左手，有下證只當於右手足陽明中求之，傷寒元有表證者，可言左手有下證，下證者，血證也，當於足厥陰中求之。</p>
<h3>相合脈經</h3>
<p>脈之相合，各有虛實，不可作一體觀之，假令洪弦相合，洪，客也，弦主也，子能令母實也，弦洪相合，弦客也，洪主也，母能令子虛也，餘藏可以類推之，至於手足之經亦相合，假令傷寒脈浮緊而帶洪者，即手經丙也，餘倣此，假令侟所不勝者，挾其勢也，脈弦而入金之分，非挾火之勢，則不敢侵金之分。</p>
<p>弦而帶數，甲終於甲也。</p>
<p>弦而帶洪，壬終於丙也。</p>
<p>四正脈傷之圖。</p>
<p>庚浮辛沉，脈濇傷血，剋東方也。</p>
<p>壬浮癸沉，脈遲傷火，剋南方也。</p>
<p>甲浮乙沉，脈弦傷氣，剋西方也。</p>
<p>丙浮丁沉，脈洪傷木，剋北方也。</p>
<h3>脈當有神</h3>
<p>脈之不病，其神不言當自有也，脈既病，當求其中神之有與無焉，謂如六數七極，熱也，脈中有力即有神也，三遲二敗，寒也，脈中有力即有神也，熱則有神當泄其熱，則神在焉，寒則有神當去其寒，則神在焉，寒熱之脈，無力無神將何藥以泄熱去寒乎？苟不知此而遽泄去之，將何依以生？所以十亡八九，故經曰：脈者，血氣之先，又云：血氣者，人之神，可以不謹養乎？不可不察其有無乎。</p>
<h3>治病必當求責</h3>
<p>假令治病無問傷寒畜血結胸發黃等病諸證，並一切雜證，各當於六經中求責之，謂如發黃證或頭痛腰脊強惡寒即太陽證也，或身熱目疼鼻乾不得臥，即有陽明證也，餘皆倣此。</p>
<h3>更有手足經或一經非本家病而自他經流入者亦當求責</h3>
<p>謂如手陽明流入足陽明，是上流下也，本非足經病，當於手經中求之，是知治足經者非也，亦有下而流上者，其餘諸經相貫通者皆然，更有支別流入者，亦有同鄰而病者，合為表裏者，鄰也，亦有夫婦各相傳受者，甲傳己之類，脾傳胃之類亦是，皆當求責之，凡言虛實皆當於子母中求責之。</p>
<h3>治病必求其本</h3>
<p>假令腹痛，桂枝加芍藥大黃，桂枝加大黃，何為不只用芍藥大黃之屬，卻於桂枝湯內加之，大抵治病必求其責，知從太陽中來，故以太陽為本也，又如結胸證，自高而下，脈浮者不可下，故先用麻黃湯解表已，脈沉，然後以陷胸湯下之，是亦求其本也，至於蓄血至焦血結膀胱，是亦從太陽中來，侵盡無形之氣，乃侵膀胱中有形血也。</p>
<p>形不足者，溫之以氣，精不足者，補之以味。</p>
<p>謂寒傷形，熱傷氣，形氣能自傷也，此云不足者皆太過也，以其太過則自傷，自傷則不足矣。</p>
<p>心血榮血之主，肺氣衛氣之主，金燥無形，火熱有形，水寒有形。</p>
<p>金匱真言云：冬按蹻，四時各有病者何？蓋五藏之陽氣皆伏於腎中，動有深淺，隨行動而病，故於四時而各異也。</p>
<h3>痛隨利減</h3>
<p>諸痛為實，痛隨利減，世皆以利為下之者，非也，假令痛在表者，實也，痛在裏者，實也，痛在血氣者，亦實也，在表者，汗之則痛愈，在裏者，下之則痛愈，在血氣者，散之行之則痛愈，豈可以利字只作下之乎？但將利字訓作通字或訓作導字則可矣，是以諸痛為實痛，隨利減，汗而通導之利也，下而通導之亦利也，散氣行血皆通導而利之也，故經曰：諸痛為實，痛隨利減，又曰：通則不痛，痛則不通，此之謂也。</p>
<h3>抑本</h3>
<p>假令高者，抑之，非高者，固當抑也，以其本下而失之太高，故抑之而使下，若本高，何抑之有？</p>
<p>假令下者，舉之，非下者，固當舉也，以其本高而失之太下，故舉之而使高，若本下，何舉之有？</p>
<h3>虛實</h3>
<p>假令水在木之分，是從後來，從後來者為虛邪，雖在水為虛邪，則木本虛矣，經曰：母能令子虛。</p>
<p>假令火在水之分，是從前來，從前來者為實邪，雖在火為實邪，則木本實矣，經曰：子能令母實。</p>
<p>假令兩手脈中弦，無表證，乃東方實也，是西方肺氣大不足也，緣母虛所致也，當大補其脾，微補其肺，大泄其火，微泄其水，雜證諸論云：先調其氣，次論諸疾，況此乃本經不足之證也，難經云：東方實，是西方虛也，又云：欲泄其邪，先補其虛，此之謂也，如是之證，當以溫藥補脾，以氣藥燥劑為用，如正氣已勝，當以泄火泄風之藥清高涼上，勿令入胃中，此為全治，益黃白朮半夏茯苓甘草，酒病得之，加澤瀉，手足陽明二燥用益黃者，燥濕而補其氣也，實泄黃也，泄火木泄青之類，羌活防風生地黃黃連等分，黃芩倍之，凡用藥補，即用各方之生數，理中丸建中湯是也，瀉即用各方之成數，七宣丸七聖丸是也。</p>
<h3>問兩手寸關弦疾脾弱火勝木旺土虧金爍當作何治</h3>
<p>答曰：不從標本從乎中治也，木，標也，土，本也，火中也，爍金虧土旺木者，皆火也，仲陽安神丸主之，山藥門冬益金之氣，金氣勝則木自平，凝水石牙硝，火中添水使變為濕熱也，濕熱者，季夏之令也，非上而何故，用硃砂以墜火下行，是已將退與子權，行濕令也，是以弦得除而土自王也，秋喘加人參與丹砂等，夏則不加，養氣者加沉香，欲發汗者臨臥先服白粥一盃，後藥之則汗也，寒熱神少，振搖，小便淋或多或少，大便走，完穀不化，口乾舌縮，唇吻有瘡，心下痞，大渴引飲，惡乾喜濕，目花，四肢無力，怠墮嗜臥，食不入，皮膚燥澀，面色黧黑，肌肉銷鑠，胸腹中急，額上汗出，此法泄火益濕補氣，脈弦浮沉同治，氣不化，小便不利，濕潤肌滑，熱蒸陰少，氣不化。</p>
<p>氣走，小便自利，燥肌燥澀，為迫津液不能停，离硃丹主之，弦數者，陽陷於內，從外而之內也，弦則帶數，甲終於甲也，緊則帶洪，壬終於丙也。</p>
<p>若弦虛則無火，細則無水，此二脈從內之外也，不宜离硃丹。</p>
<p>泄瀉壬血，火（子能令母實，乘所勝也）。</p>
<p>土（火令逆行而土虛，土虛則長夏不至，難經曰：虛則補其母，經曰：資其化源，當瀉火于火中）。</p>
<p>木（併火之勢剋脾侮金，當金中瀉火），侮所不勝（弦欺），金補土是也。</p>
<p>（右寸顯弦數脈是東方，實乃乘子勢也，既瀉其火，木自虛矣，以寒藥瀉火，是補北方水也。）</p>
<p>（木既乘火勢而來侮金，當金中瀉火，火退則木無所主而自退也，是實則瀉其子），水。</p>
<h3>六月大熱之氣反得大寒之病氣難布息身涼脈遲二三至何以治之</h3>
<p>答曰：病有標本，病為本，令為標，用寒則順時而失本，用熱則從本而逆時，故不從標本而從乎中治，中治者，用溫也，然則溫不能救大寒之病，用薑附則不可，若用薑附似非溫治之，不然，衰其大半乃止，脈反四至，餘病便天令治之，足矣，雖用薑附是亦中治也，非溫而何？經曰：用熱遠熱，雖用之不當，然勝主可化，亦其理也。</p>
<p>秋溫，桂枝，冬熱，乾薑附子，春涼，麻黃，夏寒，黃連大黃。</p>
<p>東南二方用麻黃，謂開腠理發汗也，西北二方用桂枝，謂閉腠理止汗也。</p>
<p>表，實麻黃湯，虛桂枝湯。</p>
<p>中，實調胃承氣湯，虛小建中湯。</p>
<p>沉，實大承氣湯，虛四逆湯。</p>
<h3>素問欬論一十一論各隨藏府湯液之圖</h3>
<p>欬：</p>
<p>久欬不已，三焦受之，其狀欬而腹滿不欲食，餘此皆聚於胃，關於肺，使人多涕唾，面浮腫氣逆也，錢氏異功散。</p>
<p>肝，小柴胡湯，（膽經膽汗），黃芩加半夏生薑湯。</p>
<p>心，桔梗湯，（小腸失氣），芍藥甘草湯。</p>
<p>脾，升麻湯，（胃吐虫出）烏梅丸。</p>
<p>肺，麻黃湯，（大腸遺矢）赤石脂禹餘糧桃仁湯不止，豬苓湯分水。</p>
<p>腎，麻黃附子細辛湯，（膀胱遺溺），茯苓甘草湯。</p>
<p>五藏低，六府高，藥不爾。</p>
<h3>素問五藏瘧證湯液之圖</h3>
<p>肝，令人色蒼蒼然太息，其狀若死者，四逆湯通脈四逆湯。</p>
<p>心，令人煩心，甚欲得清水，寒多不甚熱，桂枝黃芩湯。</p>
<p>脾，令人寒中痛，熱則腸中嗚，嗚已汗出，小建中湯芍藥甘草湯。</p>
<p>肺，令人心寒，寒甚熱，熱則善驚，如有見者，桂枝加芍藥湯。</p>
<p>腎，令人洒淅腰脊痛，宛轉大便難，目眴眴然手寒，桂枝加當歸芍藥湯。</p>
<p>胃，令人且病善飢而不能食，食而脹滿腹痛，理中湯丸。</p>
<p>瘧之為病，以暑舍於榮衛之間，得秋之風寒所傷而後發，亦有非暑感冒風寒而得之者，邪並於陽則發熱，冰水不能涼，邪並於陰則發寒，湯火不能溫，並則病作，離則病止，作止故有時，在氣則發早，在血則發晏，淺則日作，深則間日，或在頭項，或在背中，或在腰脊，雖上下遠近之不同，在太陽一也，或在四肢者，風淫之所及，隨所傷而作，不必盡當風府也，先寒而後熱者，謂之寒瘧，先熱而後寒者，謂之溫瘧，二者不當治水火，當從乎中治，中治者，少陽也，渴者，燥勝也，不渴者，濕勝也，瘧雖傷暑，遇秋而發，其不應也，秋病寒甚，太陽多也，冬寒不甚，陽不爭也，春病則惡風，夏病則多汗，汗者，皆少陽虛也，其病隨四時而作，異形如此，又有得之於冬而發之於暑，邪舍於腎，足少陰也，有藏之於心內，熱蓄於肺手太陰也，至於少氣煩冤，手足熱而嘔，但熱而不寒，謂之痹瘧，足陽明也，治之柰何？方其盛矣，勿取，必毀，因其衰也，事必大昌，治法，易老瘧論備矣。</p>
<h3>治當順時</h3>
<p>夏天氣上行，秋天氣下行，治者當順天道，謂如先寒後熱，太陽陽明病，白虎加桂也，此天氣上行宜用之，若天氣下行則不宜瀉肺，宜瀉相火命門則可矣，亦有內傷冷物而作者，當先調中，後定瘧形，治隨應見，乃得康寍，亦有久而不差者，當求虛實，以脈為期，虛補實瀉，可使卻疾，此之謂也。</p>
<h3>素問六經瘧候湯液之圖</h3>
<p>足瘧經。</p>
<p>太陰（令人不樂，好大息，不嗜食，多寒熱，汗出，病至則善嘔，嘔已乃衰，小建中湯異功散）。</p>
<p>太陽（令人腰痛頭重，寒從背起，先寒後熱，熇熇暘暘然，熱止汗出難已，羌活加生地黃湯，小柴胡加桂湯）。</p>
<p>陽明（令人先寒洒淅洒淅，寒甚久乃熱，熱去汗出，喜日月光，火氣乃快然，桂枝二，白虎，黃芩芍藥加桂湯）。</p>
<p>少陰（令人悶，嘔吐甚多，寒熱，熱多寒少，欲閉戶調而處，其病難已，小柴胡半夏湯）。</p>
<p>厥陰（令人腰痛，少腹滿，小便不利如癃伏，非癃也，數便意，恐懼氣不足，腹中悒悒，四物玄胡苦楝附子湯）。</p>
<p>少陽（令人身體解亦，寒不甚，熱不甚，惡見人，見人心惕惕然，熱多汗出甚，小柴胡湯）。</p>
<h3>問素問難經銅人經絡所病各異者如用鍼當從何法</h3>
<p>答曰：素問者，從天之六氣言也，難經者，從地之血脈言也，銅人者，從經言人也，從天而言，先氣而後血，從地而言，亦先氣而後血，從人而言，在天地之間，從地之病而言，即地中之氣病，故血從而病也，從天而言，先是動後所生，從地而言，亦先是動而所生之病後也。</p>
<h3>問寒病服熱藥而寒不退熱病服寒藥而熱不退其故何也</h3>
<p>啟玄子云：熱不得寒，是無水也，寒不得熱，是無火也，寒之不寒，責其無水，熱之不熱，責其無火，經云：滋其化源，源既已絕，藥之假不能滋其真水火也。</p>
<h3>疾有自誤</h3>
<p>或始不早治，日數久淹或困乃求醫，法不及用，病勢已盈，豈為天命。</p>
<h3>病有變怪（仲景平脈法第二）</h3>
<p>及診得脈形證相應，因與服湯食，頃變大吐下腹痛，是為變怪，或有舊時服藥，今乃作發，是亦謂之災怪耳。</p>
<h3>喘論（此論當以經言，邪氣盛則實，斷之）</h3>
<p>華佗云：盛而為喘，減而為枯，故活人亦云：發喘者，氣有餘也，凡看文字，須得會得本意，盛而為喘者，非肺氣盛也，喘為肺氣有餘者，亦非氣有餘也，氣盛當認作氣衰，有餘當認作不足，肺氣果盛又為有餘則當清肅下行而不喘，以其火入於肺，衰與不足而為喘焉，故言盛者，非言肺氣盛也，言肺中之火盛也，言有餘者，非言肺氣有餘也，言肺中之火有餘也，故瀉肺以苦寒之劑，非瀉肺也，瀉肺中之火，實補肺氣也，用者不可不知。</p>
<h3>桔梗枳殼湯</h3>
<p>活人書言：治痞當知是痞宜先用桔梗枳殼湯，非用此以治心下痞也，審知錯下必成痞證，是氣將陷而遏於胸中，故先用此使不致於痞也，若已成痞而用此，則失之晚矣，不惟不能消痞，胸中之氣反病矣，先之一字，預早之意也，先用枳殼湯，若不應，後以仲景痞藥治之則可，若執枳殼湯以治痞，其害亦深矣，先之一字，不可不知也。</p>
<h3>尋衣撮空何藏所主</h3>
<p>尋衣撮空，許學士說：作肝熱風淫末疾，故手為之尋衣撮空，此論雖然，莫若斷之為肺熱似為愈矣，其人必讝語妄言，經曰：肺入火為讝言，兼上焦有疾，肺必主之，手經者，上焦也，二者皆當其理，果何如哉？天地互為體用，此肺之體，肝之用，肝主諸血，血者，陰物也，此靜體，何以自動？蓋肺主諸氣，為氣所鼓舞，故靜得動，一者說肝之用，一者說肺之體，此天地互為體用，二者俱為當矣，是知肝藏血，自寅至申，行陽二十五度，諸陽用事，氣為肝所使，肺主氣，自申至寅，行陰二十五度，諸陰用事，血為肺所用。</p>
<h3>三法五治論</h3>
<p>若五治不分，邪僻內作，工不能禁，夫治病之道，有三法焉，初中末也。</p>
<p>初治之道，法當猛峻者，謂所用藥勢疾利猛峻也，緣病得之新暴，感之輕得之重，皆當以疾利猛峻之藥急去之。</p>
<p>中治之道，法當寬猛相濟，為病得之非新非久，當以緩疾得中之養正去邪相兼濟而治之，養正去邪者，假令如見邪氣多正氣少，宜以去邪藥多正氣藥少，凡加減藥法如此之類，更以臨時對證消息增減用藥，仍依時令行之，無忌也，更加鍼灸，其效甚速。</p>
<p>末治之道，法當寬緩寬者，謂藥性平善，廣服無毒，惟能養血氣安中，蓋為病證已久，邪氣潛伏至深，而正氣微，治故以善樂廣服養正多而邪氣自去，更加以鍼灸，其效必速，夫療病之道有五治法焉，和取從折屬也。</p>
<h3>一治各有五五五二十五治如火之屬衰於戌金之屬衰於辰是也</h3>
<p>一治曰和，假令小熱之病，當以涼藥和之，和之不已，次用取，二治曰取，為熱勢稍大，當寒藥取之，取之不已，次用從，三治曰從，為勢既甚，當以溫藥從之，為藥氣溫也，味隨所為，或以寒因熱用，味通所用，或寒以溫用，或以發汗之不已，又再折，四治曰折，為病勢極甚，當以逆制之，逆制之不已，當以下奪之，下奪之不已，又用屬，五治曰屬，為求其屬以衰之，緣熱深陷在骨髓間，無法可出，鍼藥所不能及，故求其屬以衰之，緣屬之法，是同聲相應，同氣相求，經曰：陷下者，衰之，夫衰熱之法，同前所云：火衰於戌，金衰於辰之類是也，如或又不已，當廣其法而治之，譬如孫子之用兵，若在山谷，則塞淵泉，在水陸，則把渡口，在平川廣野，當青野千里塞淵泉者，刺俞穴，把渡口者，奪病發時，前青野千里者，如肌羸瘦弱，宜廣服大藥以養正，夫病有中外，治有緩急，在內者，以內治法和之。</p>
<p>氣微不和以調氣法調之，在外者，以外治法和之，其次大者，以平氣法平之。</p>
<p>盛甚不已，則奪其氣，令其衰也，故經曰：調氣之方，必別陰陽，定其中外，各守其鄉。</p>
<p>內者內治，外者外治，微者調治。</p>
<p>其次平治，盛者奪之，汗者下之。</p>
<h3>面部形色之圖</h3>
<p>　察色分位　坤胃（遺散至腎死）　兌肺　乾大腸（遺散至肝死）　</p>
<p>額　　　　离心　　　　　　　　　　坎腎頤　</p>
<p>　精明五色　巽膽（遺散至脾死）　震肝　艮小腸（遺散至肺死）。</p>
<h3>天元圖</h3>
<p>七十四難曰：從其首，繫其數。</p>
<p>問象　在表　　　　　　　　　　五化疊元　　　　　　　　　　以應望聞</p>
<p>肝青（大敦木井）臊（白泉水合）酸（中封金經）呼（太衝土俞）泣（行間火榮）。</p>
<p>心赤（少府火榮）焦（少衝木井）苦（少海水合）言（靈道金經）汗（神門土俞）。</p>
<p>脾黃（太白土俞）香（太陰火榮）甘（隱白木井）歌（陰靈泉水合）涎（商丘金經）。</p>
<p>肺白（經渠金經）腥（大淵土俞）辛（魚際火榮）哭（少商木井）涕（天澤水合）。</p>
<p>腎黑（陰谷水合）腐（復溜金經）鹹（太谿土俞）呻（然谷火榮）液（湧泉木井）。</p>
<h3>地元圖</h3>
<p>六十八難曰：元證脈合，腹生五象。</p>
<p>井（心下滿）　膽（元證）　　身熱　體重（節痛）喘嗽（寒熱）逆氣（泄）　</p>
<p>榮（身熱）　　心下滿（小腸）元證　體重　　　　寒熱　　　　逆氣　</p>
<p>俞（體重節痛）心下滿（胃）　身熱　元證　　　　寒熱　　　　逆氣　</p>
<p>經（喘欬寒熱）心下滿（大腸）身熱　體重　　　　元證　　　　逆氣　</p>
<p>合（逆氣而泄）心下滿（膀胱）身熱　體重　　　　寒熱　　　　元證　</p>
<p>假令膽病善潔，面青善怒（元證）得弦脈（脈合），又病心下滿（當刺膽井），如見善潔面青善怒，脈又弦，又病身熱（當刺膽榮），又病體重節痛（當刺膽俞），如見善潔面青善怒，脈又弦，又病喘咳寒熱（當刺膽合），餘經例倣，此假令肝經淋溲，便難轉筋，春刺井，夏刺榮，秋刺經，冬刺合。</p>
<h3>人元例</h3>
<p>六十五難說合，七十三難說榮，在經木火土金水，再分七象以應切脈，獨包七法，有陰陽，配合，父子，兄妹，接經，平經說象，拔源。</p>
<h3>陰陽例</h3>
<p>陰陽者，子午也，謂榮合水火之稱，名曰陰陽也，十二經皆有之，或感得父氣，或感得母氣而病焉，子午者，乾坤也，乾坤包六子，六子附乾坤也，故七十難云：春夏各致一陰，秋冬各致一陽，春夏刺井榮，秋冬刺經合，是各致一陰一陽之義，亦謂井經近乎子午，然當微瀉其井，大瀉其榮，微補其經，大補其合，或補瀉反作，是寒則留之，熱則疾之，故微大補瀉以應春食涼，夏食寒，秋食溫，冬食熱，假令膽病善潔，面青善怒，脈得浮之實大，沉之損小，是感得父氣為陽中之陽，當於本經中瀉火補水，卻得浮之損小，沉之實大，是感得母氣為陰中之陽，當於本經中瀉水補火。</p>
<h3>配合例</h3>
<p>七十七難曰：上工治未病者，見肝之病，則知肝當傳於脾，故先實其脾氣，無令受肝之邪氣也，假令見肝病，欲實其脾者，先於足太陰經中補土字一鍼，又補火字一鍼，後於足厥陰肝經內瀉木字一鍼，又瀉火字一鍼。</p>
<h3>子母例</h3>
<p>假令見肝病，滿悶淋溲，便難轉筋，又見心病，煩心心痛，掌中熱而噦，當於足厥陰肝經內木火二字各一鍼。</p>
<h3>兄妹例（已上子母兄妹名曰四針象）</h3>
<p>假令見足厥陰肝之經太過，又兼見膽之證太過，是為兄妹，當瀉肝經內木火二字各一針，又瀉膽經內木火二字各一針，此五法乃人元法也。</p>
<h3>接經（手足經同）</h3>
<p>內經曰：留瘦不移節而刺之，使十二經無過絕，假令十二經中是何經略不通行，當刺不通行凝滯經，俱令接過節，如刺之，無問其數，以平為期，如諸經俱虛，補十二經，如諸經俱實，瀉十二經，補當隨而濟之，瀉當迎而奪之。</p>
<h3>平經說象（七十九難）</h3>
<p>為見諸經中，無過與不及之病而有病。</p>
<p>八十難曰：有見如入，謂左手見氣來至，乃內鍼針入，見氣盡，乃出鍼，非用迎隨補瀉之法，不虛不實，不虛謂真氣未虛，不實謂邪氣未實，以此故自取其經施其法也。</p>
<h3>拔源例</h3>
<p>假令鍼本經病了，又於本經原穴亦鍼一針，如補肝經原穴上補一鍼，如瀉肝經來亦於肝經原穴上瀉一鍼，如餘經有補瀉，鍼畢放此例亦補瀉各經原穴。</p>
<h3>接經　補遺</h3>
<p>又補其母，亦名隨而濟之，又瀉其子，亦名迎而奪之，又隨呼吸出內，亦名迎隨也。</p>
<p>兩脇痛，少陽丘虛。心痛，少陰太谿（並湧泉足厥陰原穴）。腰痛，崑崙委中出血。喘滿痰實如膠，太谿，嘔噦無度，手厥陰大陵。頭痛，手足太陽原，熱無度，不可止陷谷出血。</p>
<p>小腸疝氣痛，足厥陰大衝。百節痠疼，實無所知，三稜刺絕骨出血。</p>
<p>婦人血不止，刺足太陰井。喉閉，手足少陽井（並少商手足太陰井）。大煩熱不止，晝夜無力，刺十指間出血，謂八陽大節眼，發睛欲出，亦須大刺。目痛大眥痛，刺太陽井。頭中痛不可忍，卒疝痛，婦人陰中痛，皆刺足厥陰井。目痛小眥痛，刺少陽井。心痛脈沉腎原穴。脈弦肝原穴。濇脈肺原穴。緩脈脾原穴。身之前足陽明原穴。身之後足太陽原穴。身之側足太陽原穴。灸，一身之內，分為八方（臍已上至鳩尾，以年為壯，大椎已下至腰中，以年為壯），手足四分，自並為一榮，為二至，合為五之類，自膽中分四向，如並榮數倍之，百會為一分，亦如膽中法，凡欲灸者，先診其脈，若浮者，不可灸，灸之必變。</p>
<p>月晦前後各二日屬坤　為癸乙　月缺　無瀉　</p>
<p>月望前後各二日屬乾　為甲壬　月滿　無補　</p>
<p>初三日至上弦　　　　屬震仰盂　　　為庚　</p>
<p>上弦日至月望　　　　屬兌上缺　　　為丁　</p>
<p>月望日至下弦　　　　屬巽為風　　　為辛　</p>
<p>下弦日至月晦　　　　屬艮納雨　　　為丙</p>
<h3>天元圖</h3>
<p>七十四難曰：從其首，繫其數，間象，在表，五化疊元，並見前圖（拾遺）。夫天元法者，謂之五化疊元，當從其首，繫其數，首者，寅方春也，在人為肝，是從東方，順天輪數至所主之處，計從幾數，卻於所受病一方倒疊回去，數至依前數盡處，便於元受病一方穴內瀉所止之方來路穴也，不得於所主之方內經中瀉之，勿誤。</p>
<p>假令病者聞香臭二者，心主五臭也，入脾為香臭，從東數至所主之處，所主五臭者，心也，東一南二，計得二數，卻當於受病之方，倒疊回去，脾一心二，元數二也，是數至心，心者，榮火也，當於受病之方內瀉榮火，是脾經瀉火都是也，或曰：何以倒疊數，對曰：此從地出為天輪所載，右遷於天，不當於所顯之虛治之，此舟行岸移之意也。</p>
<h3>地元圖</h3>
<p>六十八難曰：元證脈合，復生五象。</p>
<p>在表間象以應望聞（及肝膽名五法）並見前圖。</p>
<p>人元法例（前圖已載七象七法見前人元例後），並見前圖。</p>
<h3>大接經從陽引陰</h3>
<p>足太陽膀胱經之脈，出於至陰小指外側，去瓜甲角如韭葉，為井金，足小指之端也（十呼）。</p>
<p>足少陰腎之脈，湧泉足心也，起於小指之下斜趣（三呼）。</p>
<p>手厥陰心包脈，其真者，循中指出其端，去瓜甲如韭葉，陷中為井，中衝穴也，其支者，別掌中循小指次指出其端。</p>
<p>手少陽三焦之脈，起於小指次指之端，去瓜甲角如韭葉，為井（三呼）。</p>
<p>足少陰膽之脈，出於竅陰，小指次指之端，去瓜甲如韭葉，為井，其支者，上入大指岐骨肉出其端，還貫瓜甲出三毛（三呼，二十呼）。</p>
<p>足厥陰之脈，起於大指之端，入聚毛之際，去瓜甲如韭葉，為井，大敦穴也，及三毛中（十呼六呼）。</p>
<p>手太陰肺之脈，起於大指之端，出於少商大指內側也，去瓜甲如韭葉，為井，其支者，出次指內臁出其端。手陽明大腸之脈，起於大指次指之端，入次指之內，去瓜甲角如韭葉，為井（一呼），中指內交（三呼）。</p>
<p>足陽明胃之脈，起於大指次指之端，去瓜甲如韭葉，為井，其支者，大指間出其端（一呼）。</p>
<p>足太陰脾之脈，起於足大指端，循指內一側，去瓜甲角如韭葉，為井，隱白也（十呼）。</p>
<p>手少陰心之脈，起於小指內出其端，循指內臁之端，去瓜甲角如韭葉，為井（三呼）。</p>
<p>手太陽小腸之脈，起於小指之端，循指之端，去瓜甲一分，陷中為井（五呼）。</p>
<h3>大接經從陰引陽</h3>
<p>手太陰肺之脈，起於大指端，出於少商大指內側也，去瓜甲角如韭葉，為井，其支者，出次指內臁出其端。</p>
<p>手陽明大腸之脈，起於大指次指之端，入次指內側，去瓜甲如韭葉，為井（一呼）。</p>
<p>足陽明胃之脈，起於大指次指之端，去瓜甲如韭葉，為井（一呼），其支者，大指出其端。</p>
<p>足太陰脾之脈，起於足大指端，循指內側，去瓜甲角如韭葉，為井，隱白也。</p>
<p>手少陰心之脈，起於小指內出其端，循指內臁之端，去瓜甲角如韭葉，為井。</p>
<p>手太陽小腸之脈，起於小指之端，去瓜甲下一分陷中，為井。</p>
<p>足太陽膀胱之脈，出於至陰，小指外側，去瓜甲角如韭葉，為井金，足小指之端也。</p>
<p>足少陰腎之脈，起於小指之下，為井，湧泉穴也。手厥陰心包之脈，其直者，循中指出其端，去瓜甲角如韭葉，陷中為井，中衝穴也，其支者，別掌中，循小指次指出其端。</p>
<p>手少陽三焦之脈，起於小指次指之端，去瓜甲角如韭葉，為井。</p>
<p>足少陽膽之脈，出於竅陰，足小指次指之端，如韭葉，為井，其支者，上入大指岐骨內出其端，還貫瓜甲出三毛。</p>
<p>足厥陰肝之脈，起於大指之端，入聚毛之際，去瓜甲如韭葉，為井，大敦及三毛中（六呼）。</p>
<p>凡此大接經從陰引陽，從陽引陰。</p>
<p>東垣二十五論後錄。</p>
<h3>諸經頭痛</h3>
<p>陽明頭痛，自汗發熱，白芷。</p>
<p>少陽頭痛，脈弦，往來寒熱，柴胡。</p>
<p>太陽頭痛，惡風惡寒，川芎。</p>
<p>太陰頭痛，痰實體重，腹痛，半夏。</p>
<p>少陰頭痛，手三陰三陽經不流行而足寒逆，為寒厥頭痛，細辛。</p>
<p>厥陰頭痛，項痛，脈微浮緩，欲入太陽，其疾痊矣，然而亦當用，川芎。</p>
<p>氣虛頭痛，黃耆；血虛頭痛，當歸。</p>
<p>諸氣血俱虛頭痛，黃耆當歸。</p>
<p>傷寒頭痛（無汗，麻黃湯，有汗，桂枝湯）。</p>
<p>太陽經所發，陽明頭痛，白虎湯。</p>
<p>少陽頭痛，柴胡湯。</p>
<p>太陰頭痛（脈浮，桂枝湯，脈沉，理中湯）。</p>
<p>少陰頭痛（脈沉微熱，麻黃附子細辛湯）。</p>
<p>厥陰頭痛（外傷本經，桂枝麻黃各半湯）。</p>
<p>嘔而微吐水（吳茱萸湯，內亦病也）。</p>
<p>易老曰：非白朮不能去濕，非枳實不能消痞，非天雄不能補上焦之陽虛，非附子不能補下焦之陽虛。</p>
<p>治目不能遠視能近視，或亦妨近視，或脈風成癘，地芝元主之：</p>
<p>生地黃（爆乾四兩），天門冬（湯炮去心），枳殼（麵炒去穰二兩），甘菊花（未開者秤二兩）。</p>
<p>右為細末，煉蜜丸如梧桐子大，如能飲食，茶清湯下，不能飲食，溫酒下，食後改熟地黃亦可（此說亦見病機氣宜目門下亦有）。</p>
<p>治目不能近視反能遠視，服局方定志丸。</p>
<p>目能遠視，責其有火，不能近視，責其無水，法當補腎；目能近視，責其有水，不能遠視，責其無火，法當補心，補腎補足少陰，補心補手少陰，補腎六味地黃丸加牡蠣，補心定志丸加茯苓。</p>
<p>不能近視晨服地黃丸，不能遠視臥服定志丸，手足少陰經。</p>
<p>治精滑久不愈，固真丸：</p>
<p>單牡蠣，不以多少，砂鍋子內煆，醋淬七遍為末，醋糊為丸如梧桐子大，每服五十丸，空心鹽湯下。</p>
<p>六脈俱弦，指下又虛，脾胃虛弱痛也，食少而渴不已，心下痞，腹中痛，或腹中狹窄如繩束之急，小便不利，大便不調，精神短少，此藥專治，大渴不止，腹中窄狹，所食減少，大有神效：</p>
<p>白茯苓（去皮），陳皮（去白），人參，生薑（先用滾湯掠過，焙乾各秤一兩），秋時減薑一半，如脈弦或腹中急甚加甘草（三錢）。</p>
<p>右同為末，煉蜜為丸如彈子大，每服一丸，白湯化下，食前空心，細嚼白湯送下亦可，忌生冷硬物及怒發思慮過節。</p>
<p>六脈沉緊，按之不鼓，膀胱勝小腸也，或瀉利不止而腹脹，或純便血赤血，或雜膿血便雖多而不渴，精神短少，或面白脫色，此失血之故，或面黃而氣短，此元氣損少之故，且小腸者，手太陽經丙火也，膀胱者，足太陽經壬水也，是壬水來丙小腸之位，小腸為壬所剋而外走也，諸手經短而足經長，兼以五行相剋論之，俱是足經，此火投於水，大寒之證，宜溫之則愈，其與難經一證，寒熱相反亦名曰小腸瀉，亦作泄，海藏云：此雜病，火投於水變為寒證，又外傷足太陽膀胱經，左脈俱浮，表陽之候也，忽變為內寒，亦旺火投盛水，而屈丙就壬，化脈反不浮而微沉，此內病與外病俱有，此火投水例，非精於脈診者，孰能知之？</p>
<p>薑附赤石脂硃砂丹：</p>
<p>生附子（半兩），生乾薑（半兩不炮），硃砂（一兩另炒），赤石脂（一兩半水飛）。</p>
<p>右為細末，酒糊丸如黑豆大，每服十五丸至二三十丸，米飲湯下，茯苓煎湯下尤妙。</p>
<p>東垣云：因看盧氏醫鏡，見此一藥，味數分兩同，惟丹砂用伏火者及治病有差，所治者小便數而不禁，怔忡多忘，魘夢不已不同耳，見其不同，審而詳之，乃得此之治法不差且泛舉之，經言：腎主大小便，肝主小便淋溲，難經云：小腸為赤腸，是面赤色及便溺赤色者，皆出心與小腸，南方赤色顯於外也，經言：下焦如瀆者，正謂大小便也，大便為陰為有形，乃下焦之下者也，腎藏病為腎主大便，不言大腸者，明子行父之道，小便為氣所化，乃下之高者也，謂肝主小便淋溲，亦是子行父道，為府病，諸氣化者皆府諸有形，血化者皆藏病所主，此府言膀胱病二證俱在下焦，則同染有形無形及在府在藏有殊，俱是丹田衰敗，不言及心火者，以其相火化行君之令故也，細分之，則膀胱壬水勝丙小腸者，是不傳入陰，故洩血，洩血利不禁為有形質病，且不傳陰，則陰不病，何為有形病，此為陰之體也，為府之用也，天地陰陽互為體用，以斯可見，是明五藏為六府所用，六府為五藏所用，明矣，是有形皆為傳陰也，夫小便不禁，是膀胱不約，為遺溺，此不傳陰也，是丹田胞絡受寒，為壬所剋，大抵諸府皆盛，有形物有形病者在府，責其所來皆在藏也，用伏火丹砂者，去其寒性耳，治法同者，以其俱在下焦，補諸形火，在胞絡耳，以其胞與腎相對，有渠相通故也，腎主大便，肝主小便，所治安得不殊，經曰：腎肝同歸一治，經又云：少陽主骨所生病，膀胱卻主節所生病，亦可知也，小便不禁，茯苓湯下，大便有病，米飲湯送下，凡藏府之秘，不可一例治，有虛秘，有實秘，實秘者，能飲食小便赤，麻仁丸七宣丸之類主之，胃虛而秘者，不能飲食，小便清，厚朴湯主之：</p>
<p>厚朴（生薑製），白朮（五兩），枳實（麥皮炒一兩），陳皮（三兩），甘草（炙三兩），半夏麯（三兩）。</p>
<p>右為麤末，每服五錢，水一盞半生薑五片棗三枚煎至一盞，空心服。</p>
<p>實秘者，物也，虛秘者，氣也。</p>
<p>脈中少有力浮則似止，胸中元氣不及也，加</p>
<p>人參，五味子，麥門冬，益智仁，沉香，丁香，川芎，白荳蔻。</p>
<p>氣血弱者，不可服枳穀以損其氣也；氣血盛者，不可服丁香以盛其益氣也。</p>
<p>脈弦而虛，不可損氣；脈大而實，不可益氣。</p>
<p>氣虛則生脈散；氣實則三才元。</p>
<p>地之濕氣，感則害人皮肉筋脈，內托散主之，以其外受也；膏梁之變，足生大丁，辛甘之過也，七聖散主之，以其內發也（去桂加當歸），瘡腫消者，生薑自然汁調輕粉塗之，諸瘡有惡肉者，膏藥內火巴豆雄黃少許，不傷良肉，止去惡肉，不惟惡瘡，若癰疽有死肉不能去者，巴豆霜上之，深則絍之，淺則乾摻之，以膏藥護之大效。</p>
<p>上焦熱：梔子，黃芩，黃連，經云：無陽則陰無以生，無陰則陽無以化。</p>
<p>中焦熱，下焦熱：小便不利，芍藥，黃柏，大黃，又云：膀胱者，津液之府，氣化則能出矣。</p>
<p>上焦寒：陳皮，厚朴。中焦寒：大小便通，藿香，白芷，有一身盡熱。</p>
<p>下焦寒：乾薑，丁香，肉桂，附子，沉香，有一身盡寒。</p>
<h3>大頭痛論</h3>
<p>夫大頭痛者，雖為在身在上，熱邪伏於巳，又感天地四時非節瘟疫之氣所著，所以成此疾至於潰裂膿出而又染他人，所以謂之疫癘也，大抵足陽明邪熱大甚，資實少陽相火為之熾，多在少陽或在陽明，甚則逆傳太陽，視其腫勢在何部分，隨其經而取之，濕熱為腫，木盛為痛，此邪發於首，多在兩耳前後，所先見出者為主，為根治之，宜早藥不宜速，恐過其病，上熱未除，中寒已作，有傷人命矣，此疾是自內而之外也，是為血病，況頭部受邪，現見於無形之處，至高之分，當先緩而後急，先緩者，謂邪氣在上，所著無形之分，既著無形，所傳無定，若用重劑大瀉之，則其邪不去，反過其病矣，雖用緩藥，若急服之，或食前或頓服，咸失緩之體，則藥不能騰升徐潰無形之邪，或藥性味形狀擬象服餌，皆須不離緩體，及寒藥或炒或酒浸之類，皆是也，後急者，謂前緩劑已經高分瀉邪氣入於中，是到陰部入於中，染於內之有形質之所，若藥不速去，反損陰分，此中治卻為客熱所當急也，治客以急，此之謂也，治主以緩，先緩謂也，謂陽邪在上，陰邪在下，各為本家病，不從先後，錯其緩急，不惟不能解其紛而復致其亂矣，此所以治主當緩，治客當急，謂陽分受陽邪，陰分受陰邪者，主也，陽分受陰邪，陰分受陽邪者，客也，凡所謂急者當急去之，此治客以急也，假令少陽陽明之為病，少陽者，謂邪出於耳前後也，陽明者，首面大腫也，先以黃芩黃連甘草，通炒剉煎，少少不住服呷之，或一劑畢，再用大黃或酒浸或煨，又以鼠粘子新瓦上炒，㕮咀，煎成去柤，納芒硝各等分，亦時時呷之，食後用，徐得微利並邪氣已，只服前藥，如不已，再服後藥，依前次第用之，取利已卻止，如陽明渴者加石膏，少陽渴者加栝蔞根湯，陽明行經加升麻葛根芍藥之類選而加之，太陽行經加羌活荊芥防風之類選而加之，並與上藥相合用之，不可獨用，散者散也，此一節亦見病機氣宜，治洪長浮三脈，風癇驚癇，發狂惡人與火者，灸第三顀第九顀，服局方妙香丸，以鍼投眼子透令水內少浸，少時服之，如本方法。治弦細緩三脈，諸癇似狂，李和南五生丸，大凡治雜病，先調其氣，次療諸疾，無損胃氣，是其要也，若血受病，亦先調氣，謂氣不調則血不行，又氣為之綱夫也，夫不唱婦不隨也，如婦人病經，先柴胡以行經之表，次四物以行經之裏，亦先氣而後血也，不能飲而渴，不能食而小便黃或澀，皆因胃氣虛而生熱，有形之物不入，火炎上而渴，入就癸而化，所以小便黃赤如棗汁，法當補胃，以錢仲陽白朮散乾葛木香藿香等藥治之。</p>
<p>上焦渴，小便自利，白虎湯。</p>
<p>中焦渴，大小便不利，調胃承氣湯。</p>
<p>下焦渴，小便赤澀，大便不利，大承氣湯。</p>
<h3>有六經發渴各隨經藥治之</h3>
<p>表熱惡熱而渴者，白虎湯。</p>
<p>皮膚如火燎，而以手重取之，不甚熱者，肺熱也，或目白睛赤，煩燥引飲，單黃芩一物。</p>
<p>兩脇肌熱，脈浮弦者，柴胡飲子。</p>
<p>一身熱，或日晡潮熱，皆血熱也，四順飲子。</p>
<p>夜則行陰，若發熱者，血熱也，四順飲桃仁湯選而用之，當視其由表入裏，腹痛血刺，腹痛中無轉失氣之類，晝則明了，夜則讝語，熱入血室，無犯胃氣及上三焦不治自愈，若甚，則四順飲子桃仁承氣湯證相似，當下者用之。</p>
<p>寅申發熱，兩脇不盛，亦為柴胡證。</p>
<p>表裏內外俱熱者，大柴胡湯。</p>
<p>畫則行陽氣也，柴胡，夜則行陰血也，四順，治項後側，少陽經中疙瘩不變，肉色不問大小及月日深遠，或有赤硬腫痛：</p>
<p>生山藥（一挺去皮），蓽麻子（二箇去殼）。</p>
<p>右二味研勻，攤帛上貼之如聖。</p>
<p>兩手大熱為骨厥，如在火，可灸湧泉三壯或五壯立愈。</p>
<p>治臁刃及腳膝生瘡，局方虛損門黃耆丸服之則愈，定癰疽死之地方。</p>
<p>一伏兔，二腓腨，三背，四五藏俞，五項上，六腦，七髭，八鬢，九頤。</p>
<h3>問三焦有幾（血海異同）</h3>
<p>手少陽三焦之經，起於小指次指之外側出其端，終於目銳眥，足少陽膽之經，起於目銳眥，終足大指三毛。頭至心為上焦，心至臍為中焦，臍至足為下焦，此又足太陽之別也，又靈樞云：臍下膀胱至足為足三焦，右手尺脈為命門，包絡同胗，此包絡亦有三焦之稱，為命門之火遊行於五藏之間，主持於內也，手三焦主持上也，足三焦主持下也，上中下三焦通為一氣，衛於身也，為外護既已，頭至心，心至臍，臍至足為狀也，呼為三焦，有名也，以為無狀可呼，經云：三焦者，水穀之道路也，卻是有形狀，何以然，上焦者，主內而不出，中焦者，主腐熱水穀，下焦者，主出而不納，故經曰：上焦如霧，中焦如漚，下焦如瀆也，手經者，主持上也，足經者，主持下也，命門者，主持中也，為衛者，護持外也，三焦元氣為父之氣散也，包絡相從母也，並行而不相離，母之元氣也，故俱會於胸中，經云：膻中之分，父母居之，氣之海也，如天地之尊，不係五形清邪中於上焦，名曰潔也，頭痛項強，腰脊痛，濁邪中於下焦，名曰渾也，陰氣為慄，便溺妄出，表虛裏急，上焦下焦與中焦相混，上焦怫鬱，藏氣相薰，中焦不治，胃氣上衝，榮衛不通，血凝不流，若衛氣前通者，小便赤黃，與熱相搏，因熱作使游於經絡，出入藏府，陰氣相通，陽氣後微，陰無所使，客氣內入，嚏而出之，聲溫（音兀）咽塞，寒厥熱壅，必然下血，陰陽俱厥，脾弱液下，下焦不闔，清便下重，便數而難，臍腸湫痛，命將難全，此命門之脈診在右手尺也，經曰：五藏不和，五液注下，當闔不闔，便溺俱脫，生氣絕矣，所以腹臍湫痛也，故曰：命將難全，前三焦自外而入，後三焦自內而出，如霧不散而為喘滿，此出而不內也，漚不利而為留飲，留飲不散，久為中滿，上不能內，下不能出也，瀆不利而為腫滿，此因上內而下不出也，此三焦之所不歸也，三焦有藏而無府，在內則游行，是在血也，在外則固護，是在氣也，上焦如霧者，氣也，下焦如瀆者，血也，中焦者，氣血分之也，下焦在臍下膀胱上口，主分別清濁，出而不內，即傳道也，治在臍下，名曰三焦，其府在氣衝中，又云：有藏無府，成氏云：血室者，血之所居也，榮衛停止之所，經脈流會之處，衝脈是矣，衝者，奇經之一也，起於腎，下出於氣衝，並足陽明經夾臍上行至胸中而散為諸經之會，啟玄子云：衝為血海，諸經朝會，男子則運而行之，女子則停而止之，皆謂之血室，內經曰：任脈通，衝脈盛，男既運而行，女既停止，故運行者，無積而不滿也，停止者，有積而能靜也，不滿者，陽也，氣也，能滿者，陰也，血也，故滿者以時而溢，為之信有期也，溢動也，乾道成男，坤道成女，故運行者，陽之象也，停止者，陰之象也，氣血榮衛，男女皆有，內外諧和，其脈同，診脈者，血之府也，故為氣血之先室，為藏物之舍，亦為府也，三焦之府，在氣衝中為男女血海之府，經又曰：有藏而無府，從無形而言之，有藏有府，從有形而言之也，清邪濁邪所傷，三焦齊病，亦同兩感，經云：心包絡主之脈，出胸中下膈歷絡三焦，此其所以相與相火並行，與命門之脈同診於右尺中也。</p>
<p>陳氏五運六氣後有君火二論（即陳蓬運氣圖也）。</p>
<h3>許先生論關中梁寬甫證</h3>
<p>右腋，肺部也，咳而唾血，舉動喘促者，肺胗也，發熱脈數，不能食者，火來刑金，肺與脾俱虛也，肺脾虛而火乘之，其病為逆，如此者，例不可補瀉，蓋補金則慮金與火持而喘咳益增，瀉火則慮火不退位而痃癖反盛，正宜補中益氣湯也，先扶元氣，少少以治病藥和之，聞已用藥而不獲效，意必病勢苦逆而藥力未到也，當與寬甫熱論，遠期秋涼，庶就使平復，蓋肺病惡春夏，火氣至秋冬則退也，正宜於益氣湯中，隨四時陰陽升降浮沉溫涼寒熱，升降浮沉則順之，寒熱溫涼則反之，順其理，和其氣為治之大方也，及見有證，增損服之，或覺氣壅，間服加減枳朮丸，或有服間服加減枳朮湯，數月後，庶逆氣稍回，逆氣回則治法可施，但恐已至色青色赤，脈弦脈洪則無及矣。</p>
<p>近世論醫，有主河間劉氏者，有主易州張氏者，蓋張氏用藥，依准四時陰陽升降而增損之，正內經四氣調神之義，醫而不知，此是妄行也，劉氏用藥，務在推陳致新，不使少有怫鬱，正造化新新不停之義，醫而不知，此是無術也，然而主張氏者，或未盡張氏之妙，則瞑眩之藥，終莫敢投，至失機後時而不救者多矣，主劉氏者，未悉劉氏之蘊，則劫效，目前陰損正氣，遺禍於後日者多矣，能用二家之長而無二家之弊，則治法其庶幾乎。</p>
<h3>論史副使病證</h3>
<p>史副使病不見色脈不能解料，然以既愈，復發言之，則亦恐宜取張氏，依準四時陰陽升降用藥，以扶元氣，庶他日既愈而遂愈也，寬甫病候，初感必深，所傷物恐當時消導不盡，停滯淹延，變生他證，以至於今，恐亦宜倣劉氏推陳致新之意，少加消導藥於益氣湯中，庶有漸緩之期也。</p>
<p>圓明膏：太醫王教授傳。</p>
<p>槐英（半斤，河水四斤浸二宿，熬槐英取汁二升），黃連（四兩），川芎，防風（各一兩），當歸，秦皮（各二兩）。</p>
<p>已上五味，剉如綠豆大，用河水六升浸一宿，熬取汁三升，將槐英柤並此五味柤，再用水四升熬取二升，通前共五升相合，銅鍋內用木炭文武火熬，入去䗶淨蜜四斤，淨蜜法取蜜四升，入鍋內微熬，勿令滾，其䗶沬盡浮在面上，急取，下以紙覆蜜面，候冷取紙，䗶自隨紙去，再溫蜜熱，以綿攄入藥汁，內同煎一時許，入下項飛石一十三兩。</p>
<p>金星石，銀星石，代赭石，菩薩石，寒水石，紫石英，雲母石（並白礬少許同搗細），滑石，井泉石，玄精石（各一兩另為細末），黃丹（三兩研令極細）。</p>
<p>已上一十一味相合，再研水飛焙乾，共得一十三兩，研開入藥汁內，又熬一時，入後淬爐甘石二兩，淬法爐甘石，不以多少，用木炭火煆紅，童子小便醮，再煆紅，再淬，凡七次，以碎為度，再研水飛焙乾淨秤二兩入藥汁內，又熬一時，入下項藥，銅綠（半兩研），青鹽（半兩研），雄豬膽（七枚取汁），白丁香（一合水浸，研取清汁），鷹條（三錢如取上汁用）。</p>
<p>已上藥同熬萬轉成膏，凡熬時，用槐柳枝不住手攪，勿令塵入鍋中，須於淨室內熬膏，盛入磁器中，假冷，入下項細末藥，不可熱，熱則藥力去矣。</p>
<p>乳香，沒藥，輕粉，蕤仁，杏仁（去皮，各半兩用），牛黃，腦子，血竭，硃砂，南硼砂（各一錢）。</p>
<p>右件各別研令極細。</p>
<p>珍珠，珊瑚，紫貝，碙砂，石蟹，白礬，綠礬，朴硝（各一錢），盆硝（半錢）。</p>
<p>右用預留元熟清藥汁，同研極細爛，攪入藥中令勻，如常法點之神效。</p>
<p>此事難知集卷下終。</p>
