<header data-type="book">
<h1>臟腑證治圖說人鏡經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="佚名">作者不詳</data>，<data>錢雷</data>增補</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1606">公元1606年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆間刻本（<a href="https://lccn.loc.gov/2012402172">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
