<header data-type="book">
<h1>溫隱居海上仙方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>溫大明</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1216">公元1216年</data></dd></div>
<div><dt>底本</dt><dd>《四庫全書》本</dd></div>
</dl>
</header>

<h1>海上仙方序</h1>
<p>余家世南京，高祖因宦遊寄跡四明。所謂醫書奧旨，初得醫師王承宣心傳之妙，更歷三世，至先君制干，隨侍魏丞相入都城，遂以儒醫名於時。余讀父書，密受奧旨。自淳熙改元始續先業，遍遊京邑，才七八年，因已出入士大夫之門，而朝野以是草木知己。迨今四十餘載，備見先輩後輩，初學末學，興廢不一。蓋由用藥治病僥倖於目前，故福善禍淫，報應於身後，籲！可憫也！餘日迫桑榆之景，心棄利名，隱居求志，恨無以惠人，輒取五世家傳名方，並生平行醫應效圓散，與夫古今聖賢諸方，歷學請問四方名士，海上良法，集為一冊，計詩七十七首。的有起死還生之效，活人以代耕。設或私藏，則所濟者狹矣。謹錄施以傳，非惟世人有疾者一展卷而識之，得此者亦可以自助，豈曰小補之哉？</p>
<p><u>保義郎差充殿前司提點諸班醫藥飯食兼和劑局監收買藥材官溫大明謹序</u></p>

<h1>新刻溫隱居海上仙方前集</h1>
<p><u>第一證</u></p>
<p>中風氣逆有痰涎，蘇合姜調灌下咽，</p>
<p>次用省風兼續命，多增木麝二香煎。</p>
<p>往往中風之證，多因喜怒不常，或飲食停滯，或怒氣傷神，思慮過多，損於心臟。用《局方》蘇合香丸三粒，生薑自然汁化開，灌下咽喉。次用《局方》省風湯、小續命湯，各加麝香、木香，依法煎服。</p>
<p><u>第二證</u></p>
<p>瘡毒年深變癩風，眼圓鼻陷遍身紅，</p>
<p>風油惡使烏沉和，兩月調停有大功。</p>
<p>切詳大風，或年深瘡疾，或鼻梁崩倒，頭面生瘡，不能已者，《局方》烏沉湯五貼，真大風油一兩半，用微火化大風油成汁，和烏沉湯，又用麥麵糊為丸，如梧桐子大。每服三十丸至四十丸，食後茶清吞下，空心臨睡服之。一月二月必見神效。</p>
<p><u>第三證</u></p>
<p>中寒中氣厥而僵，朮附加煎蘇合香，</p>
<p>惟有老人多氣弱，須吞養正助元陽。</p>
<p>中寒中氣之候，四肢厥逆，口噤，牙關緊急，痰涎壅盛，如中風狀者，用《局方》朮附湯一貼，生薑二十片，水二盞，煎八分，去滓後調蘇合香丸二粒，並進二服。或氣短頭暈，手足厥逆，未遠者，可送養正丹五十粒至百粒，奇效必愈。</p>
<p><u>第四證</u></p>
<p>風中須將氣飲詳，姜調蘇合橘皮湯，</p>
<p>省風續命徐徐進，二藥仍須入木香。</p>
<p>往往中風之證，多因心腎虧虛，喜怒不常，或服食停飲，或怒氣傷神，過慮損心之所致也。先用《局方》蘇合香丸，薑汁調數丸，分為三服，卻用陳皮湯點服之。次服省風湯、小續命湯、那木香，依法煎服之。</p>
<p><u>第五證</u></p>
<p>口眼喎斜是中風，筋痛煩熱遍身中，</p>
<p>急煎五七加芍藥，蘇合香丸速有功。</p>
<p>風寒濕氣留滯經絡，忽然手足頑麻，口眼喎斜，項強筋疼，遍身煩熱，未可，便用風藥，宜煎《局方》三五七散，加芍藥三錢，用水三盞，生薑十片，煎取一盞半，去滓，作三次，調蘇合香丸三粒，服餌，留滓再煎。</p>
<p><u>第六證</u></p>
<p>肺風赤鼻最難醫，我有良方付與之，</p>
<p>但用硫礬為細末，調塗茄汁甚為奇。</p>
<p>肺風赤鼻者，乃是酒渣之病也。其病最難治療。但用硫黃、白礬二味，等分為末，用水茄子汁調塗鼻上。如無水茄子汁，將水茄子焙乾為末，同煎藥，用水調塗患處。</p>
<p><u>第七證</u></p>
<p>老病之人腳無力，補虛滋養能何益，</p>
<p>不如朮附木瓜香，送下震靈有功績。</p>
<p>治老少久病，弱人行步乏力，筋寒骨痛冷疼者，可用朮附湯二貼，木瓜、木香一塊，用刀剉碎，用水三盞，生薑二十片，煎取一盞半，去滓，分二次下震靈丹五丸至十丸，食前服之。如腳重疼者，又加白芍藥二條，約二寸，剉碎，同煎為妙。</p>
<p><u>第八證</u></p>
<p>老人心腎俱不足，下部痿衰陽氣促，</p>
<p>黑錫丹交定志丸，卻將附益煎湯服。</p>
<p>老人心腎虧虛，膀胱既寒，下部痿弱，用《局方》黑錫丹三百粒，定志丸二百粒，同研為末，再用糯米糊為丸，如梧桐子大，陰乾。每用附子半隻，炮，去皮尖，分作二服，每用益智二十粒，入鹽少許，同煎，取八分，去滓，送下前藥三十丸加至四十丸，服之甚妙。</p>
<p><u>第九證</u></p>
<p>背肩手足痛如搥，濕在脾經故若斯，</p>
<p>四物湯加烏沉木，更兼蓬朮最為奇。</p>
<p>脾經受濕，令人走注疼痛，肩背手足俱疼。《局方》四物湯一貼，加蓬朮二塊，如錢大，搥碎，木香、烏藥、沉香各一錢，細剉，用水三大盞，生薑十片，同煎，取一盞二分，去滓，分作二服，留滓再煎，亦作二服。如藥味苦澀，加甘草二寸，剉，同煎為妙。</p>
<p><u>第十證</u></p>
<p>喘滿生痰治療難，諸醫用藥未能痊，</p>
<p>須將滑石同半夏，皂子生薑立便安。</p>
<p>切詳喘滿，皆因肺氣不利，氣道上逆，令人喘滿不安，膈脘生痰。可用滑石、半夏片各一兩，同為細末。每服三錢，水二盞，入皂莢子三個，銼作六段，入生薑十五片，煎至八分，去滓，入蜜少許，再煎，令化服之。</p>
<p><u>第十一證</u></p>
<p>積年痰飲漸成風，口眼喎斜語不通，</p>
<p>蘇合香涎調半盞，青州丸子有神功。</p>
<p>久年痰飲停滯胸膈，忽然痰涎壅盛，手足頭體口眼喎斜，言語不正，用《局方》麝香蘇合香丸三粒，用生薑汁調開，送下《局方》青州白丸子五十丸。如不能吞，將丸子乳細，灌下為妙。</p>
<p><u>第十二證</u></p>
<p>腦寒頭痛有風痰，晝夜呻吟不得安，</p>
<p>白芷太陽同碾末，水調貼上勝靈丹。</p>
<p>腦寒之病，皆因風邪攻於上焦，令人頭疼，晝夜引痛，不能安寧。用《局方》太陽丹一貼，加香白芷末半兩，用水調塗患處。</p>
<p><u>第十三證</u></p>
<p>痰飲氣𡇼及結胸，頑涎停滯不能通，</p>
<p>銀硃礬石熔為劑，薑汁調咽大有功。</p>
<p>飲結氣結結胸，皆因邪痰停積，胸滿氣噎。方用銀硃、白礬二味等分，熔化作劑，每服一丸，如彈大，用生薑自然汁化下。</p>
<p><u>第十四證</u></p>
<p>勞心膽冷夜無眠，棗柏仁加定志丸，</p>
<p>研和再為梧子顆，更加朱乳甚相安。</p>
<p>勞心膽冷之病，夜臥不能閤眼者，每用《局方》定志丸一貼，次用酸棗仁半錢，炒，去殼用仁，又用柏子仁半錢，亦炒熟，二味為末，和定志丸，如梧桐子大，硃砂、乳香為衣，每服五十丸用棗湯送下，不以時候。</p>
<p><u>第十五證</u></p>
<p>胸滿生痰要早看，克教咳嗽肺傷殘，</p>
<p>白礬半夏加罌殼，薑汁為糊可作丸。</p>
<p>風痰邪痰，令人胸膈痞滿，噎塞不通。方用半夏、白礬、粟殼三味，等為細末，用生薑自然汁打糊為丸，如梧桐子大，每服三十丸，薑湯送下，食後臨睡服之。</p>
<p><u>第十六證</u></p>
<p>白濁遺精最損人，茯苓益智煮烏沉，</p>
<p>生薑一片水一盞，煎服何憂歲月深。</p>
<p>白濁之病，皆因心氣不足之所致也。每用《局方》烏沉湯一貼，益智二十枚，茯苓一錢，水二大盞，生薑五片，煎八分，去滓，空心食前，日進二服。</p>
<p><u>第十七證</u></p>
<p>心腎虛成消渴患，水漿晝夜渾無筭，</p>
<p>連膠八味和為丸，數服須教減一半。</p>
<p>消渴之病，皆因腎氣虛弱，又因少年服乳石過度，其病大渴引飲。方用黃連阿膠丸一貼，乳為末，八味丸二貼，合和為丸，如梧桐子大。每服三十丸至四十丸。煎蓮肉、北棗、粟殼、陳木各二錢，重用水一大碗，煎至七分碗，去滓，分作四五服，送下前合丸子。若病久，胃虛飲食減少，更加陳皮二片，砂仁二十粒，捶碎，同煎取滓，再煎尤妙。</p>
<p><u>第十八證</u></p>
<p>腹脹脾疼怎抵當，椒姜之外有丁香，</p>
<p>三般等分羅教細，次入些鹽點白湯。</p>
<p>脾疼之病，皆因寒氣停滯，積於胸膈，或時嘔吐酸水，不思飲食。用胡椒、良薑、丁香三味，等分為細末，每服一大錢二錢，入鹽少許，白湯點服，不拘時候。</p>
<p><u>第十九證</u></p>
<p>濕氣周遊腿腳疼，香蘇飲煮鷺鷀藤，</p>
<p>木香芍藥仍增入，功效如神不可言。</p>
<p>且如濕氣之證，腿腳痠疼，足面赤腫，步履不能。用《局方》香蘇飲一貼，加鷺鷀藤、木香、赤芍藥各二錢，用水四盞，入生薑十片，煎至二盞，去滓，分為四服，食前二服，食後二服，其效如神。</p>
<p><u>第二十證</u></p>
<p>多年腳氣不曾安，膝痛筋寒步履難，</p>
<p>朮附宣瓜同南木，煎湯送下石南丸。</p>
<p>久年腳氣，或年老膝疼，不能行步者，可用《局方》朮附湯，倍用附子，加南木香一錢，水三盞，生薑五片，宣木瓜三片，煎取一盞二分，去滓，送下《局方》石南丸五十粒，數服立愈。或元氣弱者，煎前飲子送下震靈丹十粒為妙。</p>
<p><u>第二十一證</u></p>
<p>脾黃腹脹服連翹，酒食紅圓始可消，</p>
<p>並煮香蘇來送下，更加草果自和調。</p>
<p>如患食積酒積，胸滿刺痛，脾疼，可食者，煎《局方》香蘇飲一貼，加草果二個，灰火炮，細剉，用水三盞，生薑十片，同煎，取一盞半，分為三次，送下紅丸子，數服。或腹脹脾黃，可食，中滿噁心，用前項飲子送下連翹丸尤妙。</p>
<p><u>第二十二證</u></p>
<p>脾疼腹脹惱心腸，痞悶多因食氣傷，</p>
<p>快取縮砂三和散，煎湯調下理中湯。</p>
<p>久患腹脹脾疼，中滿痞悶，可食，大小便或澀，小腹脹急，可用《局方》三和散二貼，縮砂仁二十粒，搥碎，用水三大盞，生薑十片，燈心十莖，同煎，取一盞，去渣，分為三次。每用煎藥調理中湯末半貼，立效。</p>
<p><u>第二十三證</u></p>
<p>腹痛多因脾積干，元來大小便艱難，</p>
<p>治中加縮吞神保，諸證無憂立見安。</p>
<p>腹痛之病，皆因寒氣停積，連旬不已，大便虛澀，小便赤急痛者，用《局方》治中湯加縮砂仁二十顆，搥碎，水二大盞，生薑十片，同煎，取八分，去渣，分作二服。先用四分盞送下《局方》神保丸十粒。少頃，更量病人虛實，加減神保丸，服之立愈。</p>
<p><u>第二十四證</u></p>
<p>脾腎俱虛寒氣堅，胸間腹下痛相連，</p>
<p>多因食飽傷飢得，須用烏沉送正丸。</p>
<p>脾腎氣虛，臍腹下疼，或胸膈滿悶，用《局方》小烏沉湯一貼，秀王府正元丹一貼，次用烏沉湯半貼，卻用鹽湯點烏沉湯，送下正元丹五十粒，如心胸痛者，嚼胡椒十粒，同服甚妙。</p>
<p><u>第二十五證</u></p>
<p>多時瀉痢腹中寒，晝夜應須數十番，</p>
<p>但把縮砂並粟米，煎湯送下駐車丸。</p>
<p>連月腹痛，瀉痢頻並，不能安跡，或病後肚疼，泄痢不止，可用《局方》駐車丸一貼，分作二服煎，搥碎，縮砂二十粒，粟米約二百粒，陳皮一片，生薑十片，北棗二個，水三盞，同煎，取一盞半，分作二服，送下駐車丸五十粒。如病不頗深，連進數服，其效必愈，不必盡述。</p>
<p><u>第二十六證</u></p>
<p>久痢腸虛腹痛時，局方有藥可修治，</p>
<p>縮砂陳米陳皮煮，一盞湯調赤石脂。</p>
<p>下痢之病，皆因腸胃虛弱，或時腹痛，用《局方》赤石脂湯二貼，分三服煎。縮砂二十粒，搥碎，陳皮一大片，陳米百餘粒，生薑十片，大棗二枚，水二大盞，煎取一盞半，去滓，分作三次，調赤石脂湯，立效。</p>
<p><u>第二十七證</u></p>
<p>喘嗽何憂遠近年，橘皮半夏紫蘇煎，</p>
<p>更加罌粟七枚殼，氣急痰涎日下痊。</p>
<p>凡喘嗽之病，皆因肺感寒邪，氣道不利，上迫喘嗽，或時喘急，可用《局方》橘皮半夏湯一貼，加罌粟殼七個，製法依四味湯方，水二盞，生薑十片，烏梅一個，同煎，取八分，去滓，臨臥服。</p>
<p><u>第二十八證</u></p>
<p>老人病喘治尤難，半夏湯吞養正丹，</p>
<p>更用紫蘇並粟殼，服時須把重輕言。</p>
<p>如老人及宿病喘滿，氣道不通，痰涎壅盛者，可用《局方》橘皮半夏湯一貼，加赤茯苓一錢，水二盞，生薑十片，烏梅一隻，紫蘇二葉，同煎至八分，去渣，一服分作二次，送下養正丹五十粒，連進二三服。又方，甚者，煎前方半夏湯，加罌粟殼，煎湯送下養正丹，妙。</p>
<p><u>第二十九證</u></p>
<p>感風感冷思昏沉，寒熱痠疼力不禁，</p>
<p>半夏薑茶煎五積，渾身清健值千金。</p>
<p>風寒傷於形體，令人頭目不爽，寒熱俱發，百節痠疼，可用《局方》五積散一貼，半夏曲一塊，如錢大。搥碎，生薑一大片，水一盞半，煎至八分，去滓，溫服。頭痛甚者，臨時入江茶少許。或小便亦，加燈心十莖，烏梅二個，煎。</p>
<p><u>第三十證</u></p>
<p>傷風微嗽聲還重，發熱頭疼身又痛，</p>
<p>白芷薑汁調消風，或塗或服雙行用。</p>
<p>傷風之病，令人頭疼聲重，發熱微嗽，可用《局方》消風散一貼，分為二服，用香白芷二塊，煎湯調服。如頭疼發熱，用薑汁一蛤殼調消風散，卻用白湯八分盞點服之。如頭疼甚者，用薑汁調消風散成膏子，塗兩太陽尤妙。</p>
<p><u>第三十一證</u></p>
<p>身疼體倦感寒邪，口渴頭昏熱更加，</p>
<p>面赤須煎和解散，仍添赤芍病須瘥。</p>
<p>感寒發熱，頭痛體痛者，可用《局方》和解散一貼，加赤芍藥二錢，水三盞，生薑五片，烏梅二個，煎取一盞半，去滓，作二次服之。如頭疼甚者，臨時入江茶少許服之。</p>
<p><u>第三十二證</u></p>
<p>月候不調緣恚怒，食少腹中常痛楚，</p>
<p>四物乾姜並橘皮，縮砂甘草為同侶。</p>
<p>婦人經候不調，可用《局方》四物湯一貼，加乾薑一塊，用灰火炮，甘草寸半，微炙，剉，同四物湯烣粟二大盞，入生薑三片，煎取八分，去滓，服之。如腹痛甚者，加乾薑一塊如小錢大，陳皮、縮砂同煎服之。</p>
<p><u>第三十三證</u></p>
<p>粟草加煎四物湯，更兼香附與乾薑，</p>
<p>月經若要調勻好，減半川芎與地黃。</p>
<p>婦人月候頗多，如崩狀者，用《局方》四物湯一貼，炒香附子三錢，灰火微炮，乾薑一塊，甘草一寸，粟米百餘粒，水三大盞，煎取一盞半，去滓，分為二次，空心食前服之。</p>
<p><u>第三十四證</u></p>
<p>月經已過不曾通，四物湯中減半芎，</p>
<p>蓬朮乾薑仍添入，連煎數服有神功。</p>
<p>婦人經月不通，皆因寒搏於內，宜服《局方》四物湯，加蓬朮一塊，剉碎，乾薑一塊，灰火微炮，剉。如室女退半乾姜，婦人全用，水二盞，生薑三片，同煎，取八分，去滓，空心食前溫服。</p>
<p><u>第三十五證</u></p>
<p>婦人冷病沒人知，面色痿黃力漸微，</p>
<p>牡蠣乾薑並芡殼，同和龍骨赤石脂。</p>
<p>婦人冷病乃是赤白帶下也。一方用赤石脂二兩，火煅牡蠣一兩，火煅乾薑一兩，灰火微炮，龍骨一兩，雞頭殼一兩，如無雞頭殼，以雞頭代之。上件五味併為細末，酒糊為丸，如梧桐子大，每服五十丸，用艾醋湯送下，食前服。</p>
<p><u>第三十六證</u></p>
<p>乍寒乍熱漸成癆，膈噎胸迷食不消，</p>
<p>樂令建中加草果，連進數服自和調。</p>
<p>虛勞寒熱之病，皆因形體虧虛，血氣不足，可用《局方》樂令建中湯二貼，草果二個大者，灰炭微炮，剉碎，用水三大盞，生薑十片，烏梅、北棗各三個，同煎，取一盞半，去滓，分作二次服之。</p>
<p><u>第三十七證</u></p>
<p>病後傷脾胸膈滿，老人強食氣虛短，</p>
<p>雖然可食又噁心，草果頻加五積散。</p>
<p>病後傷動脾經，致令胸滿氣短，每用《局方》五膈寬中散二貼，草果二個，灰火炮，剉，用水一中碗，生薑十片，同煎，取半碗，去渣，分作三四次服之。</p>
<p><u>第三十八證</u></p>
<p>或寒或熱定無准，體倦身疼渴思飲，</p>
<p>半夏門冬果與柴，加煎四物能安寢。</p>
<p>寒熱之病最難治療，但用四物湯二貼，加柴胡，去蘆頭、橘皮、半夏、麥門冬去心、草果，各一錢，用水三大盞，生薑十五片，烏梅、北棗，各二個，同煎，取一盞半，去滓，分作二服，留滓再煎服。</p>
<p><u>第三十九證</u></p>
<p>脾冷不磨停水穀，腹痛膈滿脹心胸，</p>
<p>但將五膈煎三服，可下尋常小理中。</p>
<p>脾臟主磨於水谷，令脾氣虛弱，飲食停滯，胸膈痞滿，可煎《局方》五膈寬中散二貼，作二服，送下小理中丸半貼，其效甚速。</p>
<p><u>第四十證</u></p>
<p>口乾心躁小便急，邪熱攻人要水吃，</p>
<p>姜梅芍藥與門冬，冷點五苓其病釋。</p>
<p>邪熱攻心，令人小便赤，渴欲飲引，可用《局方》五苓散加白芍藥三寸，三段，剉碎，用麥門冬五十粒，去心，水三盞，生薑五片，烏梅一個，煎取一盞半，去渣，作三服。每用五分盞，調五苓散半服，留滓再煎服。</p>
<p><u>第四十一證</u></p>
<p>身疼體倦感寒邪，口渴頭暈熱更加，</p>
<p>面赤藿香和解散，仍添赤芍病須瘥　。</p>
<p>感寒發熱，頭疼體痛者，可用《局方》和解正氣各半貼，赤芍藥三段，二寸長，以水三盞，入生薑五片，烏梅二個，煎取一盞半，去渣，一服二次。如頭痛甚者，臨時入江茶少許，在藥內合勻服之。</p>
<p><u>第四十二證</u></p>
<p>感風頭痛體昏沉，寒熱痠疼力不禁，</p>
<p>一塊茯苓加五積，茶姜燈草黑梅煎。</p>
<p>風寒傷於形體，令人頭目不爽，寒熱俱發，百處痠疼，可用《局方》五積散一貼，赤茯苓一塊如錢大，搥碎，生薑十大片，水一盞半，煎至八分，去滓，溫服。頭疼甚者，臨時入江茶少許服之。或小便赤，加燈心十一莖，烏梅二個，煎服。</p>
<p><u>第四十三證</u></p>
<p>脾腎俱虛冷氣奔，衝心絞痛體無溫，</p>
<p>更兼下部都穿注，青木香丸智散吞。</p>
<p>脾腎虛而心腹疼甚者，可煎《局方》益智散一貼，水二盞，生薑五片，入鹽少許，同煎，取八分，去滓，食前送下《局方》青木香丸四十粒，連進二服。</p>
<p><u>第四十四證</u></p>
<p>肉桂乾薑同蓽茇，良薑四味研為丸，</p>
<p>腹疼冷泄能收效，和劑方名大已寒。</p>
<p>大治男子婦人，腹肚冷疼，泄瀉不已者，用《局方》續已寒丸一貼，依法服餌，果見神效。</p>
<p><u>第四十五證</u></p>
<p>氣弱脾虛嘔且吐，才吞粥藥難留住，</p>
<p>胡椒雞舌送靈砂，縱使胃翻無憂懼。</p>
<p>往往脾虛胃冷，嘔吐不止，諸藥不效者，用胡椒五十粒，雞舌香十粒，如無雞舌香，以母丁香代之，二味併為細末，白湯半盞，浸藥，送靈砂數粒，立便愈。</p>
<p><u>第四十六證</u></p>
<p>暑中妙劑孰為宜，官局方中有縮脾，</p>
<p>甘草乾姜加草果，烏梅煎冷服何疑。</p>
<p>切詳暑月之際，天氣炎隆，暑邪侵犯，宜用《局方》縮脾飲三貼，加乾薑三塊，如小錢大，灰火炮，甘草三寸，微炙，水二碗，生薑二十片，同煎，取大碗，去滓，分為五六次，隨意冷熱用，果有奇效。</p>
<p><u>第四十七證</u></p>
<p>血海崩來是幾年，諸般調治不能痊，</p>
<p>炒香附子燒連殼，搃下震靈一十丸。</p>
<p>往往婦人血崩不止，以香附子二兩，炒令赤色，連殼五個，燒灰存性，二味併為細末，每服三錢，陳飯飲湯調送《局方》震靈丹十丸。重者，三五服。</p>
<p><u>第四十八證</u></p>
<p>人參荊芥入門冬，半夏乾薑亦有功，</p>
<p>能療婦人寒熱病，更除痰嗽快心胸。</p>
<p>婦人寒熱，多因經候不調所致也。可用《局方》荊芥散一貼，加乾薑一塊，如小錢大，灰火炮，麥門冬二十粒，去心，半夏曲一塊，如錢大，用水三盞，生薑十片，烏梅一個，同煎，取一盞半，去滓，分作二次服之，留滓再煎。婦人有孕不宜服之。</p>
<p><u>第四十九證</u></p>
<p>氣閉能令血不通，那堪寒熱遍身中，</p>
<p>柴胡蓬朮兼甘草，四物同煎立有功。</p>
<p>大凡室女血閉不通，或寒或熱者，用四物湯二貼，蓬朮一塊如小錢大，柴胡去蘆頭一錢，甘草三寸，炙用，水三盞，生薑五片，同煎，取一盞半，分二次，食前服之。</p>
<p><u>第五十證</u></p>
<p>胞胎忽動是勞傷，或痛或疼用早防，</p>
<p>但取局方膠艾服，更加烏藥與乾薑。</p>
<p>婦人胎動不安，皆因胞絡勞傷，宜服《局方》膠艾湯一貼，乾薑二塊如小錢大，烏藥一塊如錢大，並剉為飲，以水二盞，生薑十片，煎至八分，去滓，食前服之。如身熱體痛，更加當歸半錢，速效。</p>
<p><u>第五十一證</u></p>
<p>小兒瘡疹最難醫，紅潤分明不必疑，</p>
<p>若見數枚黑點子，酒煎紫草灌孩兒。</p>
<p>小兒瘡疹，發時根紅活者為妙；如發時，間有黑點者，乃邪毒歸內也。可用紫草茸三二錢，醇酒半盞，煎至三分，可濾去滓，灌入兒口，待發出為妙。</p>
<p><u>第五十二證</u></p>
<p>久吐嬰兒不易醫，多因痰嗽及傷脾，</p>
<p>但加十粒丁香子，半夏湯中煮橘皮。</p>
<p>往往小兒最不可吐，如有吐者，每用《局方》橘皮半夏湯一貼，加丁香十粒，槌碎，生薑七片，甘草一寸半，微炙，水二盞，煎取八分，去滓，令乳母食後服之。次留一小蛤殼藥，令兒作五次服，或調青州白丸子一二粒，或調《局方》來復丹一二粒，更量兒大小加減服之。</p>
<p><u>第五十三證</u></p>
<p>面黃童子身常熱，多是乳孃食不節，</p>
<p>常宜降氣及烏沉，免得嬰童生病孽。</p>
<p>切詳小兒之病，多是乳母百日周歲內，欲心太熾，酒肉亂食，或喜怒憂鬱，皆從脈而行，致小兒不能轉化，乳母宜服《局方》烏沉湯，降氣調勻乳脈，致小兒異日無病也。</p>
<p><u>第五十四證</u></p>
<p>小兒冷熱成泄痢，乳食不消何曾睡，</p>
<p>縮砂粟米送香連，更有橘皮方可意。</p>
<p>小兒泄痢，可於《局方》中小兒香連丸二十粒至二五十粒，量兒大小用縮砂十粒，搗碎，粟米約二百餘粒，橘皮三片，剉碎，水二盞，生薑五片，北棗二個，同煎，至一盞，分為數服，送下《局方》香連丸，度長幼服。</p>
<p><u>第五十五證</u></p>
<p>虛熱攻人口發瘡，舌間腐爛滿涎囊，</p>
<p>江茶細末同甘草，摻入瘡瘍清且良。</p>
<p>口瘡之候，因服熱過度，或虛熱上攻，滿口生瘡，疼痛不已，方用江茶末、甘草末，等分和勻，摻入口中。又方更加好礬，入內尤佳，奇效如神。</p>
<p><u>第五十六證</u></p>
<p>熱毒多因酒麴傷，咽喉腫痛口生瘡，</p>
<p>白梅須把江茶和，噙化多番便復常。</p>
<p>往往咽喉口瘡，非是小病，但用白梅數個，去核，以江茶末和為丸，如圓眼大，每服一丸，食後含化服。</p>
<p><u>第五十七證</u></p>
<p>連夜不眠病宿眼，見燈強視眶淫爛，</p>
<p>但將湯浸當歸洗，血氣調和無此患。</p>
<p>往往連旬不睡，強視燈燭，目損光明，眼眶赤爛。蓋目者，五臟六腑之精華，一身之珍寶，若用服藥，多令目昏者，十有八九。今按《道藏經》云：當歸活血。今用當歸一寸，泡湯洗眼，奇效甚妙。先洗去土用之。</p>
<p><u>第五十八證</u></p>
<p>盜汗多因心體虛，防風牡蠣術耆麩，</p>
<p>同煎薑棗調香散，補助身心樂有餘。</p>
<p>盜汗之候，皆因心神不足，形體虧虛，可服《局方》妙香散一貼，分作二服，煎防風、牡蠣、白朮、黃耆各二錢，麩皮炒用黃色，水二盞，生薑五片，棗三枚，同煎，至一盞半，去渣，分二次，調妙香散為佳。</p>
<p><u>第五十九證</u></p>
<p>臟寒膨脹是脾虛，丁木檳榔等分拘，</p>
<p>卜子牽牛同研末，丸如梧子病能除。</p>
<p>腹脹之病，皆由脾胃虛寒，其證面目虛浮，時時腹脹者，是也。可用《楊氏家藏方》消脹丸，內用木香、檳榔、黑牽牛、蘿蔔子，加丁香五粒，等分，滴水為丸，每服十五丸，煎紫蘇湯送下，食前服之。</p>
<p><u>第六十證</u></p>
<p>腿痛腰疼屬老人，骨寒髓冷最難禁，</p>
<p>鹿茸炮附棠梂子，為飲為丸病自輕。</p>
<p>老人腰痛，皆因陽氣衰弱，腎臟虛寒之所致。用鹿茸半兩，塗酥炙，附子，炮烈，去皮臍，一隻，棠梂子，名山果子五十粒，並剉碎，每服三錢，水二大盞，生薑十片，煎取八分，去滓，溫服。如作丸子，併為細末，用薑汁糊為丸，如梧桐子大，每服三十丸，溫酒、鹽湯送下，甚有奇功。</p>
<p><u>第六十一證</u></p>
<p>不伏水土忽寒熱，似瘧不似證難決，</p>
<p>姜調蘇合少黃丹，連進數盞精神悅。</p>
<p>不伏水土者，皆因脾胃虛弱，觸冒寒邪，致令寒熱發作如瘧狀，用薑汁一蛤殼，調黃丹半錢，更用《周方》麝香蘇合香丸三粒，用白湯浸服之，必獲愈矣。</p>
<p><u>第六十二證</u></p>
<p>鼻衄從來最損人，皆因熱毒蘊心經，</p>
<p>蒲黃青黛勻平秤，水和為膏貼耳邊。</p>
<p>鼻衄之候，皆因熱毒蘊積心經，不能已者，宜用蒲黃、青黛各半兩，水調成膏子，貼耳後，立愈。</p>
<p><u>第六十三證</u></p>
<p>鼻衄無時整桶流，祈神問卜遍哀求，</p>
<p>但用南康真蛤粉，半塗半服便無憂。</p>
<p>鼻衄發作，整桶流出不能自已，但用南康真蛤粉二兩為細末，冷白湯調下，用少許塗入鼻中，立效。</p>
<p><u>第六十四證</u></p>
<p>多年鼻衄不曾休，涼藥無功熱藥投，</p>
<p>養正神丹同黑錫，更兼三里艾丸燒。</p>
<p>鼻衄之病久不得已，但取涼藥而不止者，可用《局方》養正丹、黑錫丹依法服，更兼灸三里二十一壯。</p>
<p><u>第六十五證</u></p>
<p>婦人室女血山崩，冷熱未分何治決，</p>
<p>荊芥蓮蓬燒作灰，湯調一劑偏奇絕。</p>
<p>婦人室女但崩中下血，不論冷熱之病，可用荊芥、蓮蓬，二味各等分，燒為灰，研為細末，每服二大錢，空心用米湯調服，立應。</p>
<p><u>第六十六證</u></p>
<p>急慢驚風有等差，蛇頭蠍麝及辰砂，</p>
<p>防風滴乳蜈蚣炙，更入星烏效特嘉。</p>
<p>小兒驚風多有等殊，或急或慢，或虛或實，或吐或瀉，以致生驚者，但用花蛇頭一枚，燒作灰用，如無花蛇，以烏蛇代之，全蠍二錢，麝香一字，辰砂一大錢，防風、乳香各半錢，赤腳蜈蚣一條，用火炙，南星一錢，灰火炮，川烏尖半錢，生用，上件併為細末，水煮棗肉為丸，如雞頭大，陰乾，每服一丸，薄荷湯下。</p>
<p><u>第六十七證</u></p>
<p>暑月炎蒸不可當，嬰童發搐意慌忙，</p>
<p>抱龍丸子三五貼，金銀薄荷煎作湯。</p>
<p>小兒發搐在於夏月，皆因暑邪入心，不能已者，可於《局方》抱龍丸三五粒，用金銀薄荷湯化下。所有金銀薄荷者，貓兒薄荷，又有龍腦薄荷者，是也。</p>
<p><u>第六十八證</u></p>
<p>疳病尫羸是小兒，保童丸內入蕪荑，</p>
<p>更兼苦楝並君子，等得孩兒日漸肥。</p>
<p>小兒疳病，令兒日漸羸瘦，飲食不為肌膚，可於《局方》內五疳保童丸五貼，加蕪荑三大錢，苦楝根三錢，使君子三錢，同保童丸為細末，麵糊為丸，如梧桐子大，每服三十丸，用米飲送下，甚有功效。</p>
<p><u>第六十九證</u></p>
<p>老人腎弱齒浮疼，涼藥頻施不斷根，</p>
<p>肥皂藏鹽燒煅黑，揩牙常用白如銀。</p>
<p>老人齒痛，皆因腎氣虛弱，或因常涼藥揩於牙根。但用肥皂一枚，去核，入鹽在內，用鐵線扎合，以鹽泥固封於爐內，火煅令黑，研為細末，每日於晨朝，常用揩牙，固齒定疼，效如神。</p>
<p><u>第七十證</u></p>
<p>牙齒浮疼腎氣虛，每回發作不能除，</p>
<p>𤛑君黑錫排風送，固齒牢牙痛卻祛。</p>
<p>牙齒浮疼者，皆因血氣衰弱，陽明脈虛，用《局方》排風湯一貼，水二盞，入生薑三片，煎至一盞，去滓，分作二服，送下《局方》黑錫丹半貼，其效有若神功矣。</p>
<p><u>第七十一證</u></p>
<p>風熱攻衝眼目暗，神方火煅石爐甘，</p>
<p>細末黃連同合和，熱湯浸洗便為良。</p>
<p>夫眼者，五臟六腑之精華，一身之珍寶。風熱攻衝，令人眼目昏暗，可用爐甘石二兩，火燒一晝夜，須是真者，研令極細，又用黃連二兩，揀淨同為細末，每用白湯浸藥洗眼，更用青末搐鼻，列之於後。</p>
<p><u>第七十二證</u></p>
<p>目赤頭風疼且癢，藿香晉礬各一兩，</p>
<p>朴硝香麝及螺青，搐入鼻中痛必減。</p>
<p>頭風之病，皆因風邪注於腦戶，令人眼目昏疼，羞明怕日，或腫或癢。每用晉礬、藿香各一兩，螺青、朴硝各三錢，同為細末，入麝香半錢，又研令勻，每用少許搐入鼻中，其效必減。又方，又良薑三錢，甚妙。</p>
<p><u>第七十三證</u></p>
<p>冷淚眸昏多腦寒，先因涼藥損於肝，</p>
<p>每朝洗面湯揩捊，豁眼勝將妙藥餐。</p>
<p>老人目昏者，皆因先用涼藥過度，損於肝經，以致眼目昏暗，腦冷寒淚，可於每日洗面之水，先用湯豁眼，自然明亮，此法勝如服藥，更難盡述。</p>
<p><u>第七十四證</u></p>
<p>口瘡發熱腫連喉，百法醫之病不瘳，</p>
<p>爛細自然蘿蔔汁，吐涎頻漱病難留。</p>
<p>咽喉口瘡之病，皆因熱邪熏於上焦，腫痛不止，但用蘿蔔研爛細汁，頻嗽吐涎，用之甚妙。</p>
<p><u>第七十五證</u></p>
<p>五痔皆因腸癖生，忽然疼痛不能行，</p>
<p>全蠍三枚燒香餅，煙燻患處必去根。</p>
<p>痔疾之病，皆因腸間癖結，其證有五，若有斯證，但用全蠍三個，香餅一個，桶一個，先盛灰一半，後燒香餅紅井全蠍入在內，燒煙燻痔，此方百發百中，其效果然頗異。</p>
<p><u>第七十六證</u></p>
<p>金瘡出血湧如泉，龍骨黃連功未全，</p>
<p>一味紫蘇為細末，用時封扎自安痊。</p>
<p>金瘡出血，有如湧泉，不能止者，但用多年陳紫蘇為末，在患處後用帕兒封扎為妙。</p>
<p><u>第七十七證</u></p>
<p>風寒冷凍損皮間，腳裂開皸步履難，</p>
<p>五倍為末加牛髓，萬人傳了萬人安。</p>
<p>腳裂之患，因風寒吹裂皮膚，用五倍子半兩，為末，牛骨髓調成膏子，傅患處立愈。如無牛髓，往做梳兒處回買為妙。</p>
