<header data-type="book">
<h1>醫學要數</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
</dl>
</header>

<h1>一息</h1>
<p>呼者因陽出，吸者隨陰入。呼出心與肺，吸入腎與肝。呼吸之間，脾受穀味，其脈在中也。一呼一吸為一息。呼吸定息，脈行六寸。一日一夜，凡一萬三千五百息，脈行八百一十丈，周於身，漏水下百刻，榮衛行陽二十五度，行陰亦二十五度，為一周。此平人之息數也。</p>

<h1>二儀</h1>
<p>天為陽，主腰以上之事；地為陰，主腰以下之事。清陽為天，濁陰為地；地氣上為云，天氣下為雨；雨出地氣，云出天氣。清陽出上竅，濁陰出下竅；清氣發腠理，濁陰走五臟；清陽實四肢，濁陰歸六腑。此天地陰陽，人身應之也。</p>

<h1>二陽病</h1>
<p>經曰：二陽之病發心脾，有不得隱曲，女子不月。釋之者謂：男子則脾受之，而味不化，故少精；女子則心受之，而血不流，故不月。分心脾為男女各受立說。竊獨謂不然。夫二陽，陽明也，胃與大腸之脈也。腸胃有病，心脾受之，發心脾猶言延及於心脾也。雖然脾胃為合，胃病而及脾，理固宜矣，大腸與心本非合也，今大腸而及心，何哉？益胃為受納之府，大腸為傳化之府，食入於胃，濁氣歸之，飲入於胃，輸精幹脾者，以胃之能納，大腸之能化耳。腸胃既病，則不能受，不能化，心脾何所資乎？心脾既無所資則無以運化而生精血矣。故腸胃有病心脾受之，則男為少精，女為不月矣。心脾當總言，男女不當分說，至隱曲、不月方可分說耳。若如釋者之言，則男之精獨資於脾，而不資於心；女之血獨資於心，而不資於脾，有是理耶？益男女精血，皆由五臟六腑之相養而後成，可謂之男精資於脾，女血資於心乎？經本曰男女皆有心脾之病，但在男子則隱曲之下利，女子則月事之不來耳。</p>

<h1>三才</h1>
<p>天地人為之三才。上配天為至陽，以陽極變陰，故卦體坤上配；地為至陰，以陰極變陽，故卦體乾以成。天地泰也，鼻之下口之上為中，以配人，得陰陽交泰之位，居中故曰人中也。惟賢人上配天以養頭，下象地以養足，中傍人事以養五臟。故天氣通於肺，地氣通於嗌，風氣通於肝，雷氣通於心，穀氣通於脾，雨氣通於腎。六徑為川，腸胃為海，九竅為水注之氣也。</p>

<h1>三部</h1>
<p>自魚際至高骨得一寸，故名曰寸部；從寸至尺澤得一尺，故名曰尺部；寸後、尺前以高骨為關，故名曰關部。上部法陽，主胃以上至頭之有疾，則是寸得之病在上；中部法人，主膈下至臍上之有病，則是關得之病在中；下部法陰，主臍以下至足之有疾，則是尺得之病在下也。</p>

<h1>三焦</h1>
<p>三焦者，水穀之道路，氣之所終始也。上焦者，自心至膈，在胃上口，主納而不出，其治在膻中（玉堂下一寸六分，直兩乳間陷者是）。中焦者，在胃中脘不上不下，主腐熟水穀，其治在臍膀。下焦者，在臍下當膀胱上口，主分別清濁，出而不納，以傳水穀，其治在臍下二寸。蓋三焦者，通三氣而言之。其下焦者，原氣之府，五臟六腑之本，十二經脈之根。臍下右門穴，為三焦之幕，幕者諸氣之所以會聚，聚而復分於十二經，為手少陽合手厥陰，為表裡，其在六氣為之相火，其所王稟住居臍下，當臨膀胱上口，清濁由此而分，出而不納，粹然熏和之氣上入於中。中焦之位居於中脘，位成土德，發越沖和，翕受五穀，腐熟於中，變化精微，內養於神，外為柔軟，以固於筋。中焦既治，具氣上烘，入於膻中而為上焦。其位居於胃之上口，司於入納，氣宇平寧，襟膺開豁，喜樂由此而生，其氣之上，上窮必返，循環無已，則水穀之所入者，自上而中，自中而下，至於糟粕轉輸，傳而下，一無底滯，故云水穀之道路，氣之所終始。《脈經》曰：「三焦無狀空有名，寄在胸中膈相應」是也。</p>

<h1>三神</h1>
<p>精者神之本，氣者神之主，形者神之宅，故神大用則歇，精大用則竭，氣大勞則絕。但能謹於保守，何致若此之竭絕也。</p>

<h1>三因說</h1>
<p>蓋六氣者，風、寒、暑、濕、燥、熱也；七情者，喜、怒、憂、思、悲、恐、驚也。若將獲得宜，則怡然安泰；調理失節，百病生焉。病疹既成，須尋所由，故前哲示教，謂之病源。夫六淫，天之常氣也，冒之則先自經絡流於內，合於臟腑，為外所因；七情，人之常性也，動之則先自臟腑郁發，外形於肌體，為內所因；其如飲食飢飽，叫呼傷氣，盡神度量，疲極筋力，房勞傷血，陰陽違逆，乃至虎狼毒蟲，金瘡痤折，症忤魘溺等，有背常理，為不內外因。千般疾疢，不越三條，以此詳治，病源愈矣。</p>

<h1>四氣調神</h1>
<p>春三月，此謂發陳，天地俱生，萬物以榮，夜臥早起，廣步於庭，披髮緩形，以使志生，生而勿殺，予而勿奪，賞而勿罰，此春氣之應，養生之道也。逆之則傷肝，夏為寒變，奉長者少。夏三月，此謂蕃秀，天地氣交，萬物華實，夜臥早起，無厭於日，使志無怒，使華英成秀，使氣得泄，若所受在外，此夏氣之應，養長之道也。逆之則傷心，秋為痎瘧，奉收者少，冬至重病。秋三月，此謂容平，天氣以急，地氣以明，早臥早起，與雞俱興，使志安寧，以緩秋形，收斂神氣，反秋氣平，無外其志，使肺氣清，此秋氣之應，養收之道也。逆之則傷肺，冬為飱泄，奉藏者少。冬三月，此謂閉藏，水冰地折，無擾乎陽，早臥晚起，必待日光，若伏若匿。若為咳，謂之上逆。夫肺為諸氣之主，今既有病，則氣不外運，又濕滯經絡，故四肢痿弱無力，而或厥冷也。後篇所謂：冬生咳嗽，既言過時，則與前篇之義頗不同矣。夫濕氣久客不散，至冬而寒氣大行，肺惡寒而或受傷，故濕氣得以乘虛上侵於肺，發為咳嗽也。觀者以此意求之經旨，其或著乎。</p>

<h1>四知</h1>
<p>望而知之者，望見其五色以知其病，故謂之神也；聞而知之者，聞其五音以別其病，故謂之聖也；問而知之者，問其取因、取欲、五味以知其病，取起所在，故謂之工也；切脈而知之者，診其三部，視其虛實，以知其病在何臟腑，故謂之巧也。</p>

<h1>四損</h1>
<p>遠唾損氣，多睡損神，多汗損血，疾行損筋。</p>

<h1>四肢</h1>
<p>四肢者，手足是也，為諸陽之本。若調攝得宜，元氣充和，則手足皆遂。倘或飲食失節，勞役取傷，脾氣一病，則不能為胃行其津液，四肢不能稟水穀氣，日以衰，脈道不利，筋骨肌肉皆無氣以生，故四肢不用，脾精不行，則四肢懈惰也。</p>

<h1>四海</h1>
<p>肝為血海，若有餘則常想其身大，怫然不知其取病；不足亦常想其身小，狹然不知其取病也。膻中為氣海，若有餘則氣傷胸中，悅息而赤；不足則氣少不足以言也。腦為髓海，若有餘則輕勁有力，自過其度；不足則腦轉耳鳴，脛癥眩冒，目無所見，懈怠嗜臥也。胃為水穀之海，若有餘則腹脹滿；不足則飢不受穀食也。</p>

<h1>四失</h1>
<p>經脈十二，絡脈三百六十五，此皆人之取明，知工之所循用也，取以不十全者，精神不專，志意不理，外內相失過時疑殆，診不知陰陽逆從之理，此治之一失也；受師不卒，妄作難術謬言，為道更名自攻，妄用針藥，後遺身咎，此治之二失也；不適貧富貴賤之居，生之厚薄，形之寒溫，不適飲食之宜，不別人事之勇怯，不知此類足以自亂，不足以自明，此治之三失也；診病不問其始，憂慮飲食之失節，起居之過度，或傷於毒，不先言此，卒持寸口，何病能中，妄言作名，為粗取竅，此治之四失也。</p>

<h1>五臟主病</h1>
<p>五臟各有取主，至其病證，莫不隨取主而見焉。面青多怒，肋下痛硬，咳逆目眩，肢節攣急，轉筋溲難，臍下有動氣者，肝家病也。面赤喜笑，舌破口乾，躁煩掌熱，心痛而惋，膈上有動氣者，心家病也。面黃善思、善噫、善嗜，中脘脹滿，飲食不消，身體腫重，肢節癥疼，怠惰嗜臥，四肢不收，當膈有動氣者，脾家病也。面白善嚏，憂愁啼哭，喘嗽氣逆，咽喉不利，灑淅惡寒，時作寒熱，膈右有動氣者，肺家病也。面黑而恐，呵欠呻吟，齒痛骨痿，耳鳴精泄，足脛寒，腰脊病，少腹急疼，瘕泄而裡急後重，膈下有動氣者，腎家病也。肝受病，則目不能視；心受病，則舌不能舉；脾受病，則不能飲食；肺受病，則鼻為不利；腎受病，則耳不能聽。經曰：臟病難治也。蓋肝惡風者，風則筋燥急也；心惡熱者，熱則脈潰濁也；脾惡濕者，濕則肉傷而痿腫也；肺惡寒者，寒則氣留滯也；腎惡燥者，燥則精涸竭也。若乃憂愁思慮，易耗心神；恚怒氣逆，易損肝氣；縱懸強志，腎之牋；形寒飲冷，肺之害；飢飽勞役，脾之傷。至若怒則肝氣乘矣；憂則心氣乘矣；恐則脾氣乘矣；悲則肺氣乘矣；因而喜大虛則腎氣乘矣。此五志發無常分，觸遇則發，故視面黑，脾絕而臍突唇反，肺絕而毛焦氣出，腎絕而腰折骨枯，此五臟之氣絕，絕則死不復生矣。五臟已敗其命必夭，夭必死矣。</p>

<h1>五臟虛買</h1>
<p>心實之候，口乾喜笑，身熱汗出，肋下、兩臂、膽助、膺背間痛；肝實之候，目赤多怒，頭眩耳聾，痛引手、兩脅、小腹之下；脾實之候，肢體重著而不舉，肉痿足不收，行善瘛，腳下痛，腸脹尿秘而若飢；肺實之候，喘促咳嗽，上氣鼻張，肩背疼，胸中滿，汗出，尻陰、股膝、脾腨、胻足皆痛；腎實之候，腹脹脛腫，喘咳身重，寢汗出，憎寒，少氣不言，骨痛飱泄，小便黃。此臟氣有餘，謂之實也。心虛之候，則恍惚多驚，憂煩少氣，咳唾舌強，胸滿腹大，腳下與腰背痠疼；肝虛之候，目𥉂𥉂無所見，耳聵聵無所聞，胸脅痛，筋拘攣，恐懼面青，如人將捕之；脾虛之候，吐逆泄利，飲食不消，腹脹腸鳴，四肢無力；肺虛之候，呼吸少氣，不能挨怠，鼻涕嗌乾，鼻中聲鳴，喘乏咳血；腎虛之候，心懸如飢，胸痛引脊，腹大，小腹痛清，厥意不樂，溲變，䏚冷，耳鳴。此臟不足，謂之虛也。脈盛、皮熱、腹脹、前後不通、悶瞀是五實。皆得汗解便利，則實者活。脈虛、皮寒、氣少、前後泄利、飲食不進，此是五虛。若得糜粥入胃，泄止則虛者生矣。</p>

<h1>五臟脈氣</h1>
<p>春脈弦，來時厭厭聶聶，如循榆葉，曰平；益實而滑，如循長竿，曰病；急而勁，益強如新張弓弦，曰死。春脈微弦，曰平；弦多胃氣少，曰病；但弦無胃氣，曰死。</p>
<p>夏脈鈞，來時壘壘如環，如循琅玕，曰平；來而益數，如雞舉足，曰病；前曲後踞，如揉帶鉤，曰死。夏脈微鈞，曰平；鉤多胃氣少，曰病；但鉤無胃氣曰死。</p>
<p>秋脈毛，來時藹藹如車蓋，按之益大，曰平；不上不下，如循雞羽，曰病；按之消索，如風吹毛，曰死。秋脈微毛，曰平；毛多胃氣少，曰病；但毛無胃氣，曰死。</p>
<p>冬脈石，來時上大下銳，濡滑如雀之啄，曰平；啄啄連屬，其中微曲，曰病；來如解索，去如彈石，曰死。冬脈微石，曰平；石多胃氣少，曰病；但石無胃氣，曰死。四者反者為病。然氣來實強，是為太過，病在外；氣來虛微，是為不及，病在內。</p>
<p>脾者州，脈來和緩，其平和不可得見，衰乃見爾。來如雀之啄，如水之下漏，是脾之衰見也。胃者水穀之海，主稟四時，故皆以胃氣為本，是四之變病、死生之要會也。</p>
<p>假令得肝脈，其外證面潔、善青、善怒：其內證臍左有動氣，按之牢若痛，其病四肢、滿閉、淋溲、便難、轉筋。有是者肝也，無是者非也。</p>
<p>假令得心脈，其外證面赤、口乾、喜笑；其內證臍左有動氣，按之牢若痛；其病煩心心痛，掌中熱而惋。有是者心也，無是者非也。</p>
<p>假令得脾脈，其外證面黃、善噫、善思、善味；其內證當臍有動氣，按之牢若痛；其病腹脹滿，食不消，體重節痛，怠惰嗜臥，四肢不收。有是者脾也，無是者非也。</p>
<p>假令得肺脈，其外證面白善嚏，愁不樂，慘淒欲哭；其內證臍右有動氣，按之牢若痛；其病喘咳、灑淅寒熱。有是者肺也，無是者非也。</p>
<p>假令得腎脈，其外證面黑、善恐、善欠；其內證臍下有動氣，按之牢若痛；其病逆氣，少腹急痛，泄水下重，足脛寒而逆。有是者腎也，無是者非也。</p>

<h1>五臟生成</h1>
<p>肝之合筋也，其榮爪也，其主肺也。心之合脈也，其榮色也，其主腎也。脾之合肉也，其榮唇也，其主肝也。肺之合皮也，其榮毛也，其主心也。腎之合骨也，其榮發也，其主脾也。是故多食辛，則筋急而爪枯；多食鹹，則脈凝泣而變色；多食酸，則肉胝䐢而唇揭；多食苦，則皮槁而毛拔；多食甘，則骨痛而發落，此五味之所傷也。生於肝，如縞裹紺；生於心，如縞裹朱；生於脾，如縞裹栝蔞實，生於肺，如縞裹紅；生於腎，如縞裹紫，此五臟所生之外榮也。諸脈皆屬於目，諸髓皆屬於腦，諸筋皆屬於節，諸血皆屬於心，諸氣皆屬於肺，此四肢八溪之朝夕也。故人臥歸血於肝，目受血而能視，足受血而能步，掌受血而能握，指受血而能攝。臥出而風吹之，血凝於膚而為痹，凝於脈為泣，凝於足為厥，此三者，血行而不得反其空故也。五臟之象可以類推，五臟因音可以意識，五色微診可以目察，故察脈色，可以萬全。故肝應春，屬東方甲風乙木，其氣溫，其味酸，其音角，其數三，其藏魂，其竅目，其液淚，其脈弦，其臭臊，其志怒，其聲呼，其主筋，其畜雞，其穀麥，其變動為握，其色青如翠羽者生，如草滋者死，為罷極之本，魂之居也，其華在爪，其充在筋，以生血氣，為陽中之少陽也。心應夏，屬南方丙熱丁火；其氣熱，其味苦，其音徵，其數二，其藏神，其竅音，其液汗，其脈洪，其臭焦，其誌喜，其聲言，其主血，其畜羊，其谷黍，其變動為憂，其色赤如雞冠者生，如⿰草力血者死，主生之本，神之居也，其華在面，其充在血脈，為陽中之太陽也。脾應長夏，屬中央戌濕已土；其氣平，其味甘，其音宮，其數五，其藏意與智，其竅口，其液涎，其脈緩，其臭香，其志思，其聲歌，其主肉，其畜牛，其谷稷，其變動為噦，其色黃如蟹股者生，如枳殼者死；為倉廩之本，營之居也，名曰器，能化糟粕，轉味而出入者也；其華在唇四白，其充在肌。此至陰之類，通於土氣也。肺應秋，屬西方庚燥辛金；其氣燥，其味辛，其音商，其數四，其藏魄，其竅鼻，其液涕，其臭腥，其志憂，其聲哭，其主皮毛，其畜馬，其谷稻，其變動為咳，其色白如豕膏者生，如枯骨者死，主氣之本，魄之處也，其華在毛，其充在皮，為陰中之太陰也。腎應冬，屬北方壬癸水；其氣寒，其味鹹，其音羽，其數一，其藏志與精，其竅上通耳、下二陰，其液唾，其脈沉，其臭腐，其志恐，其聲呻，其主骨髓，其畜彘，其谷粱，其變動為慄，其色黑如鳥羽者生，如炲煤者死；主蟄封藏之本，精之處也，其華在發，其充在骨，為陰中之少陰也。</p>

<h1>五臟損益</h1>
<p>五臟以五穀為養，五果為助，五畜為益，五菜為充，五味為喜。氣味合而服之，以補精益氣，勿使過焉，過則傷其正矣。是故陰之所生，本在五味，陰之五宮，傷在五味。肝欲酸，過之則肝氣以肆，脾氣乃絕。酸走筋，筋病人無多食酸，宜食甘，粳米、棗、牛肉、葵皆甘也。心欲苦，過之則脾氣不濡，胃氣乃厚。咸走血，血病人無多食鹹，宜食酸，小豆、犬肉、李、韭皆酸也。脾欲甘，過之則心氣喘滿，色黑，腎氣不足，甘走肉，肉病人無多食甘，宜食鹹，大豆、豕肉、慄、蘆皆咸也。肺欲辛，過之則筋脈沮弛，精神乃耗。辛走氣，氣病人無多食辛，宜食苦，二麥、羊肉、杏、薤皆苦也。腎欲咸，過之則大骨氣勞，短肌，心氣抑。苦走骨，骨病人無多食苦，宜食辛，黃黍、雞肉、桃、蔥皆辛也。</p>

<h1>五臟苦欲補瀉</h1>
<p>肝苦急，急食甘以緩之，甘草；欲散，急食辛以散之，川芎；以辛補之，細辛；以酸瀉之，芍藥。虛則陳皮、生薑之類補之，虛則補其母，水能生木，腎乃肝之母，以熟地黃、黃柏補之，如無他證，錢氏地黃丸主之。瀉則白芍藥瀉之，如無他證，錢氏瀉青丸主之。實則瀉其子，心乃肝之子，以甘草瀉心。</p>
<p>心苦緩，急食酸收之，五味子；欲軟，急食鹹以軟之，芒硝；以咸補之，澤瀉；以甘瀉之，甘草。虛以炒鹽補之，虛則補其母，木能生火，肝乃心之母，以生薑補肝，如無他證，錢氏安神丸主之。實則甘草瀉之，如無他證，錢氏方中重則瀉心湯，輕則導赤散。</p>
<p>脾苦濕，急食苦以燥之，白朮；欲緩急，食甘以緩之，甘草；以甘補之，人參；以苦瀉之，黃連；虛則甘草大棗之類補之，如無他證，錢氏益黃散主之。虛則補其母，心乃脾之母，以炒鹽補心。實則以枳實瀉之，如無他證，錢氏瀉黃散瀉之。肺乃脾之子，以桑白皮瀉肺。</p>
<p>脾苦氣上逆，急食苦以瀉之，訶子皮，一作中枯黃芩；欲收急食酸以收之，白芍藥；以辛瀉之，桑白皮；以酸補之。虛則補其母，脾乃肺之母，以甘草補脾，如無他證，錢氏阿膠散補之。實則桑白皮瀉之，如無他證，瀉白散主之。腎乃肺之子，以澤瀉瀉腎。</p>
<p>腎苦燥，急食辛以潤之，知母、黃柏；欲堅，急食苦以堅之，知母；以苦補之，黃柏；以咸瀉之，澤瀉。虛則熟地黃、黃柏補之。腎本無實，不可瀉，錢氏只有補腎地黃丸，無瀉腎之藥。肺乃腎之母，以五味子補肺。</p>

<h1>五臟氣味補瀉</h1>
<p>肝膽，味辛補酸瀉；氣溫補涼瀉。肝膽之經，前後寒熱不問，進順互換，入求責法。心小腸，味鹹補甘瀉；氣熱補寒瀉。三焦命門補瀉同。</p>
<p>脾胃，味甘補苦瀉；氣溫涼寒熱各從其宜，逆從互換，入求責法。</p>
<p>肺大腸，味酸補辛瀉；氣涼補溫瀉。</p>
<p>腎膀胱，味苦補咸瀉，氣寒補熱瀉。</p>

<h1>五臟相平</h1>
<p>五臟交相平也。一臟不平，所勝平之。如木欲實，金當平之之類是也。故云安穀則昌，絕谷則亡，水去則榮散，谷消則衛亡，榮散衛亡神無所居。仲景云：水入於經，其血乃成，谷入於胃，脈道乃行，故血不可不養，衛不可不溫，氣溫血和，榮衛將行，常有天命。</p>

<h1>五臟別論</h1>
<p>腦、髓、骨、脈、膽、女子胞，此六者，地之所生也，皆藏於陰而象於地，故藏而不瀉，名曰奇恆之府。胃、大腸、小腸、三焦、膀胱，此五者，天之所生也，其氣象天，故瀉而不藏，此受五臟濁氣，名曰傳化之府，此不能久留輸瀉者也。魄門亦為五臟使，水穀不得久藏。所謂五臟者，藏精氣而不瀉者也，故滿而不能實。六腑者，傳化物而不能藏，故實而不滿也。所以然者，水穀入口，則胃實而腸虛；食下，則腸實而胃虛，故曰實而不能滿，滿而不能實也。氣口何以獨為五臟主？夫胃者，水穀之海，六腑之大源。五味入口，藏於胃以養五臟氣。氣口亦太陰也，是以五臟六腑之氣味，皆出於胃，變見於氣口。故五氣入鼻，藏於心肺，心肺有病，而鼻為之不利也。凡治病，必察其目下所見可否也，調適其脈之盈虛，觀量志意之邪正，及病深淺成敗之宜，乃守法以治之也。</p>

<h1>五精所並</h1>
<p>精氣並於心則喜，並於肺則悲，並於肝則憂，並於脾則畏，並於腎則恐，是謂五並，虛而相併者也。如肺虛而心精並之故喜，余藏仿此。</p>

<h1>五郁</h1>
<p>夫五郁法者，經雖為病由五運之郁所致而立，然擴而充之，則未嘗不可也。且凡病之所起也，多由於郁。郁者滯而不通之義。或因所乘而為郁，或不因所乘而本氣自郁，皆郁也，豈惟五運之變能使然哉。郁既非五運之變可拘，則達之、發之、奪之、泄之、折之之法固可擴而充之矣。可擴而充其應變不窮之理也歟，姑陳於下：木鬱達之，達者通暢之也。若肝性急，怒氣逆怯，脅或脹，火時上炎，治以苦寒辛散而不愈者，則用升發之藥，加以厥陰報使而縱治之。又加之風入中為飱泄，固不為外風之入，而清氣在下為飱泄，則以輕揚之劑舉而散之。凡此之類，皆達之之法也。王氏謂吐之令其條達，為木鬱達之。東垣謂食塞胸中，食為坤土，胸為金位，金主殺伐，與坤土俱在於上而旺於天，金能剋木，故肝木生髮之氣伏於地下，非木鬱而何？土玄上焦，陰土之物，木得舒暢，則鬱結去矣，此木鬱達之也。竊意王氏以吐訓達，此不能使人無疑者也。以為肺金盛而抑制肝木歟，則瀉肺氣舉肝氣可矣，不必吐也。以為脾胃濁氣下流，而少陽清氣不升歟，則益胃升陽可矣，不必吐也。雖然木鬱固有吐之之理，令以吐字總該達字，則是凡木鬱皆當用吐矣，其可乎哉？至於東垣取謂食塞肺分，為金與土在於上而剋木，又不能使人無疑者。夫金之剋木，五行之常道，固不待夫物傷而後能也。且為物所傷豈有反旺之理。若曰吐去其物以伸木氣，乃是反為不鬱而施治，非為食傷而施治矣。夫因食塞胸中用吐，正《內經》所謂其高者因而越之之義耳，恐不勞引木鬱之說汨之也。火鬱發之，發者汗之也，升舉之也。如腠理外閉，邪熱怫鬱則解表取汗以散之。又加龍火鬱甚於內，非苦寒降沉之劑可治，則用升浮之藥，佐以甘溫，順其性而從治之，使勢窮則止，如東垣升陽散火湯是也。凡此之類皆發之之法也。土鬱奪之，奪者攻下也，卻而衰之也。如邪熱入胃，用鹹寒之劑以攻去之。又如中滿腹脹，濕熱內甚，其又壯氣實者，則攻下之。其或勢盛而不能頓除者，則劫奪其勢而使之衰。又如濕熱為痢，非力輕之劑可治者，則或攻或劫以致其平而已。凡此之類，皆奪之之法也。金鬱泄之，泄者滲泄而利小便也，疏通其氣也。如肺金為腎水上源，金受火爍，其令不行，原鬱而滲道閉矣，宜肅清金化，滋以利之。又如肺氣䐜滿，胸憑仰息，非利肺氣之劑不足以疏通之。凡此之類，皆泄之之法也。王氏謂滲泄、解表、利小便，為金鬱泄之。夫滲泄利小便，固為泄金鬱矣，無解表二字莫曉其金，得非以人之皮毛屬肺無受邪，為金鬱而解表為泄之乎？竊為如此則凡筋病便是木鬱，肉病便是土鬱，解表二字未當於理，今刪去。且解表間於滲泄利小便之中，是滲泄利小便為二治矣。若以滲泄為滋肺主求，以利小便為直治膀胱，則直治膀胱既責於在肺，何為金鬱乎？是亦不通。故予易之，曰滲泄而利小便也。水鬱折之，折者制御也，伐而挫之也，斬殺其勢也。如腫脹之病，水氣浮溢，是滲道以塞。夫水之取不勝者土也，金土氣衰弱不能制之，故反受其侮，治當實其土，資其運化，俾可以制水而不敢犯，則滲道達而後愈。或病勢既旺，非上法取能遽制，則用泄水之藥，以伐而挫之。或去宛陳莝，開鬼門，潔淨府，三治備舉，迭用以潮平之。王氏取謂抑之制其沖逆，正欲折挫其氾濫之勢也。夫實者，土守也，泄水者攻也，兼三治者，廣略而決勝也。守也，攻也，廣略也，雖俱為治水之法，能不審病者之虛實，久近，淺深集焉，而妄施治之，其不傾踣者寡矣。且夫五郁之病，固有法以治之矣。然邪氣久客，正氣必損，金邪氣雖去，正氣豈能達乎哉？苟不調正氣使各安其位，復其常，於治郁之餘，則尤未足以盡治法之妙，故曰調其氣。苟調其氣，尤或過而未服，則當益其所不勝以制之。如木過者，當益金，金能制木，則木斯服矣。所不勝者，所畏者也，故曰過者折之以其畏也。夫制物者，物之所欲也；制於制者，物之所不欲也。順其欲則喜，逆其欲則惡。今逆之以所惡，故曰所謂瀉之。王氏以咸瀉腎、酸瀉肝之類為說，未盡厥旨。雖然，自調其氣以下，益經之本旨。故余推其意如此，若擴充為應變之用，則不必盡然也。</p>

<h1>五臟正病</h1>
<p>憂愁思慮則傷心；怒氣逆上而不下則傷肝；飲食勞倦則傷脾；停寒飲冷則傷肺；久坐濕地，強力入水，恣情縱欲，則傷腎，此是五臟所傷正病也。</p>

<h1>五邪為病</h1>
<p>假令何以知中風然？肝主色，謂肝受風邪，故其色當青也；其病身熱，脅下滿痛；其脈浮大而弦。何以知傷暑然？心主臭，故知心病傷暑當惡臭也；其病身熱而煩心痛；其脈浮大而散。何以知飲食勞倦然？脾主味，虛不欲食，實為欲食；故知脾病飲食勞倦當喜甘也；其病身熱、體重、嗜臥、四肢不收；其脈浮大而緩。何以知傷寒然？肺主聲，故知肺病傷寒當哭也；其病身熱，洒洒惡寒，甚則喘咳；其脈浮大而澀。何以知傷濕然？腎主液，故知腎邪入心為汗出不可止也；其病身熱，小腹痛，足脛寒而逆；其脈沉濡而大。且如心病，從後來者是中風；肝病為虛邪，從前來者是飲食勞倦；脾病為實邪，從所勝來者是傷寒；肺病為微邪，從所不勝來者是傷濕；腎病為賊邪自病者。</p>

<h1>五絕病治</h1>
<p>一曰自縊死，氣已絕；二曰牆壁屋崩死，氣已絕；三曰溺水死，氣已絕；四曰鬼魔死，氣已絕；五曰產乳死，氣已絕，並能救治。可用半夏為末，水丸令乾，入鼻中則活，為末吹鼻尤好。若卒死，凍死，心中溫者，此法亦活。</p>

<h1>五勞</h1>
<p>久視傷血，勞於心；久臥傷氣，勞於肺；久坐傷肉，勞於脾；久立傷骨，勞於腎；久行傷筋，勞於肝，是謂五勞。所傷又有五勞極，見於虛勞類中。</p>

<h1>五過</h1>
<p>凡未診病者必問嘗貴後賤，雖不中邪，病從內生，名曰脫營。嘗富後貧，名曰失精。五氣留連，病有所並。醫工診之，不審臟腑，不變軀形，診之而疑，不知病名，身體日減，氣虛無精，病深無力氣，灑然時驚。病深者，以其外耗於衛，內奪於榮。良工所失，不知病情，此亦治之一過也。凡欲診病者，必問飲食居處，暴樂暴苦，皆傷精氣，精氣竭絕，形體毀沮。暴怒傷陰，暴喜傷陽，厥氣上行，滿脈去形。愚醫治之，不知補瀉，不知病情，精華日脫，邪氣乃並，此治之二過也。診有三常，必問貴賤，封君敗傷，及欲侯王。故貴勢脫，雖不中邪，精神內傷，身必敗亡。始富後賤，雖不傷邪，皮焦筋屈，痿癖為攣。醫不能嚴，不能動神，外為柔弱，亂至失常，病不能移，問名，當合男女。離絕菀結，憂恐喜怒，五藏空虛，血氣難守，工不能知，何術之語。嘗富大傷，斬筋絕脈，身體復行，令澤不息，故傷敗結，留薄歸陽，膿積寒炅。粗工治之，亟刺陰陽，身體解散，四肢轉筋，死日有期，醫不能明，不問所發，唯言死日，亦為粗工，此治之五過也。凡此五者，皆受術不通，人事不明也。</p>

<h1>五病所發</h1>
<p>陰病發於骨，陽病發於血，陰病發於肉，陽病發於冬，陰病發於夏，是謂五發，各隨其宜也。</p>

<h1>五邪所亂</h1>
<p>邪入於陽則狂，邪入於陰則痹，陽則為顛疾，搏陰則為瘖病，陽入之陰則靜，陰入之陽則怒，是謂五亂。</p>

<h1>五邪所見</h1>
<p>春得秋脈，夏得冬脈，長夏得春脈，秋得夏脈，冬得長夏脈，是謂五邪，皆曰命死不治。</p>

<h1>五行相剋</h1>
<p>木得金而伐，火得水而滅，土得木而達，金得火而缺，水得土而絕，言物類雖不可竭盡，而數要之，皆如五行之氣，而有勝負之性分耳。</p>

<h1>五法</h1>
<p>一曰治神，蓋魂、魄、神、意、志以為神主，知此五者，以為攝養，可得長生也。二曰知養身，蓋身當作形，男女飲食，節之以限，風寒暑濕，攝之以時，有異單豹外調之害，即內養形也；實慈恕以愛人，和塵勞而不跡，有殊張毅高門之傷，即外養形也。內外之養周備，則不期生而久生，無期壽而長壽，此則咸布養形之極也。三曰知毒藥為貞，蓋毒藥攻邪，順宜而用，正貞之道，其在茲乎！四曰制砭石小大，蓋砭石用小大之形，與病相當也。五曰知臟腑血氣之診，此論六經血氣多少，聞見於後。但刺多則出少，則惡也。精知多少，補瀉萬全。</p>

<h1>六經氣血多少</h1>
<p>太陽經，常多血少氣。少陽經，常少血多氣。陽明經，常多氣多血。少陰經，常少血多氣。厥陰經，常多血少氣。太陰經常少血多氣。此天理之常數也。</p>

<h1>六不治</h1>
<p>驕恣不論於理，一不治。輕身重財，二不治。衣食不能適，三不治。陰陽並，臟氣不定，四不治。形羸不能服藥，五不治。信巫不信醫，六不治。有一於此，則難治也。</p>

<h1>六腑</h1>
<p>小腸者，心之腑。膽者，肝之腑。胃者，脾之腑。大腸者，肺之腑。膀胱者，腎之腑。臟惟有五，腑獨有六者，謂三焦也。三焦者，為原氣之別焉，主持諸氣，位著而形隱，其經屬手少陽，此外腑也。臟亦有六，謂腎有兩臟也，其左為腎，右為命門。命門者，精神之所舍，男子以藏精，女子以系胞，其氣與腎通，故言臟亦有六。凡病感於六腑者，則易治之。</p>

<h1>七情藥性</h1>
<p>夫藥之七情，有單行者，有相須者，有相使者，有相畏者，有相惡者，有相反者，有相殺者。凡此七情和合之時，用意審視，當用相須、相使者，忌相惡、相反者。若有毒宜制，可用相畏，相殺者勿合用也。故諸品之藥，有陰陽配合、子母兄弟、根莖花實草石骨之用。古者日月長遠，藥在土中自養經久，氣味真實，百姓少欲，稟氣中和，感病輕微，用亦詳審，易為醫療。合明日月短促，藥在土中不容久養，採取失法，人亦巧詐，感病厚重，況又用之失審，故難醫療。但知診脈取方，不委採藥時節、出處土地、新陳虛實之宜亦度，審度七情，故無全功，實由於此。</p>

<h1>七衝門</h1>
<p>唇為飛門，齒為戶門，會厭為吸門，胃為賁門，太倉下口為幽門，大腸小腸為闌門，下極為魄門，此為七沖也。</p>

<h1>七診</h1>
<p>七診之法，一靜其心；二忌外慮，三均呼吸；四輕指於皮膚間，探其腑脈；五微重指於肌肉間，取其胃脈；六沉指於骨上，取其臟脈；七察病人氣數之來也。又法獨大者，病獨小者，病獨疾者，病獨遲者，病獨熱者，病獨寒者，病獨陷下者。病凡相失之該診有七者，此之謂參互不調，隨其獨異以言其病爾。</p>

<h1>七表脈狀</h1>
<p>浮脈者，按之不足，舉之有餘。芤脈者，中央空虛兩邊實，如蔥管。滑脈者，來往流利以數，如珠狀。實脈者，大而長，浮沉皆得。弦脈者，舉之有餘，按之如箏弦。緊脈者，按之實數，似切繩狀。洪泳者，極大指下，舉按皆滿。</p>

<h1>八里脈狀</h1>
<p>微脈者，若有若無。沉脈者，按之似有，舉之全無。緩脈者，往來時緩，少於遲脈。澀脈者，尋之似有，舉之若無，前虛後實，如輕刀刮竹。遲脈者，呼吸三至，往來極遲。伏脈者，重按著骨乃得。濡脈者，軟而細散，如按水帛。弱脈者，形似爛綿，按之欲絕，輕手乃得，重手全無。</p>

<h1>奇經八脈</h1>
<p>凡屯八脈，不拘於經，故曰奇經。經有十二，絡有十五，相隨上下，何獨不拘於經？然聖人圖設溝渠，通利水道，以備不然。天雨下降，溝渠滿溢，當屯之時，滂沛妄行，聖人不能復圖也；屯絡脈滿溢，諸經不能復拘也。然督脈起於下極之腧，並於脊裡，上至風府，入屬於腦。任脈者，起於中極之下，以上毛際，循環里，上關元，至咽喉。衝脈者，起於氣衝，並足陽明之經，夾臍上行，至胸中而散。帶脈者，起於季肋，圍身一周。陽僑脈者，起於跟中，循外踝，上行於風池。陰蹻脈者，亦起於跟中，循內踝上行，至咽喉，交貫衝脈。陽維陰維者，維絡於身，蓄溢不能環流，溉灌諸經者也。故陽維起於諸陽之會，陰維起於諸陰之交，比於聖人圖設溝渠，渠滿溢流於深湖，故聖人不能拘通也。人脈隆盛，入於經脈而不環周，故十二經亦不能拘之。其受邪氣，蓄則腫熱，砭射之也。然陽維維於陽，陰維維於陰，陰陽不能相維，則恨然失志，溶溶不能自收持。陰蹻為病，陽緩而陰急；陽蹻為病，陰緩而陽急。衝脈為病，逆氣裡急。督脈為病，脊強而厥。任脈為病，其內苦結，男子七疝，女子瘕聚。帶脈為病，腹滿腰滯，溶溶若生水中。陽維為病，苦寒熱。陰維為病，苦心疼。此奇經八脈之為病也。</p>

<h1>八風</h1>
<p>從東方來，名嬰兒風。其傷人也，外在於筋，內舍肝也。從東南方來，名曰弱風。其傷人也，外在肌肉，內舍於胃。從南方來，名曰大弱風。其傷人也，外在於脈，內舍於心。從西南方來，名曰謀風。其傷人也，外在於肉，內舍於脾。從西方來，名曰剛風。其傷人也，外在於皮，內傷於肺。從西北方來；名曰折風，其傷人也，外在手太陽之脈，內舍於小腸。從北方來，名曰大剛風。其傷人也，外在於骨，內舍於腎。從東北方來，名曰凶風。其傷人也，外在腋肋，內舍於大腸也。</p>

<h1>八會</h1>
<p>腑會太倉，臟會季肋，筋會陽陵泉，髓會絕骨，血會膈腧，骨會大杼，脈會太淵，氣會上焦外一筋遁兩乳內。熱病在內，取其冗之氣冗也。</p>

<h1>九道脈狀</h1>
<p>長脈屬陽，按之如持長竿，過於本位。短脈屬陰，指下尋之不及本位。虛脈屬陰，指下尋之不足，舉之亦然。促脈屬陽，指下尋之極數，並居寸口，漸加即死，漸退即生。結脈屬陰，指下尋之或來或去，聚而即還。代脈屬陰，指下動而復起，再再不能自還。牢脈屬陰，指下尋之即有，按之即無。動脈屬陽，指下尋之似有，舉之全無；再再尋之不離，其處不往不來。細脈屬陰，指下尋之細細如線，來往極微。</p>

<h1>九候</h1>
<p>一者天，二者地，三者人，因而三之，三三成九，以應九野。色外為郊，郊外為甸，甸外為牧，牧外為林，林外為垌，垌外為野，言其遠也。九野為九藏。上部天，兩額之動脈，在額兩旁足少陽脈，以候頭角之氣。上部人，耳前之動脈，以候耳目之氣。上部地，兩頰之動脈，在鼻孔中兩旁足陽明，以候口齒之氣。中部天，手太陰肺脈，在掌後寸口中，以候肺。中部人，手少陰心脈，在掌後銳骨之端，神門之分，以候心。中部地，手陽明大腸脈，在手大指次指岐骨間，合骨之分，以候胸中之氣。下部天，足厥陰肝氣，在毛際外，趺陽下一寸半，女子在太衝，足大指本節後，以候肝。下部人，足太陰脾脈，在魚腹上越筋間，直五里箕門之分，以候脾胃之氣。下部地，足少陰腎脈，在足內踝後，跟骨上陷中，以候腎氣。</p>

<h1>九藏</h1>
<p>神藏者，肝藏魂，心藏神，脾藏意與智，肺藏魄，腎藏精與智志，以其皆神氣居之，故云神藏五也。形藏者，一頭角，二耳目，三口齒，四胸中也。所謂形藏者，皆如器，外皆虛而不屈，合藏於物，故云形藏四也。合之為九，而為九藏也。</p>

<h1>九針</h1>
<p>虛實之要，九針最妙者，為其各有所宜也。然在頭身，宜鑱針。肉分氣滿，宜員針。脈氣虛少，宜鍉針。瀉熱出血，發泄痼病，宜鋒針。破癰腫，出膿血，宜䤵針。調陰陽，去暴痹，宜員利針。治經絡中痛痹，宜毫針。痹深居骨解腫脊節腠之間者，宜長針。虛風舍於骨解皮膚之間，宜大針。此之謂各有所宜也。其形狀在《濟生拔萃方》中。</p>

<h1>九蟲</h1>
<p>一曰伏蟲，長四分，為群蟲之長。二曰白蟲，長一寸，相生至多，其母最長，則殺人。三曰肉蟲，狀如爛杏，令人煩滿噁心。四曰肺蟲，其狀如蠶，令人咳嗽。五曰胃蟲，狀如暇蟆，令人吐逆嘔噦。六曰弱蟲，狀如瓜瓣，令人多唾。七曰赤蟲，狀如生肉，令人腸鳴。八曰繞蟲，至微細，狀如菜蟲，居洞腸間，多則為痔漏、癰疽、諸瘡，無所不為。九曰蛔蟲，長一尺，實心則殺人。又有屍蟲，與人俱生，狀如馬尾，或如薄筋，依脾而居，長三寸許，大害於人。然諸蟲多因臟氣虛弱勞熱而生。有血鱉蟲，亦因胃虛，食物消化不盡，瘀積而生，食人心腹，疼甚噁心，口吐清水，面黃體瘦，好吃泥灰、生米、茶、鹽、薑、椒等物，用殺蟲藥餌治之。其蟲自初一日至初五日頭向上，服之最驗。惟有肺蟲居肺葉間，蝕肺系，故成勞瘵咯血聲嘶，及屍蟲，通神，藥所不到，治之為難。又有應聲蟲，每語，喉中如有物和聲相應者。有人教誦本草，至雷丸則無聲，乃頓服數枚而愈，後人俱以是法治效。</p>

<h1>九竅</h1>
<p>夫五藏者，上下開於九竅也。故陽竅七，在上；陰竅二，在下。以鼻為肺之閶闔，吸引五氣，內藏和平香臭。必辨目為肝之竅，臟氣充實，精明全備，目舉而黑白分。口為脾之候，脾氣和而忻知穀味。舌者，心之應，神宇泰定，食入於口，五味皆知。腎氣上通於耳，下貫二陰。元氣內充，上而五音必辨，下則傳送，安調其五臟，各得其平者然也。倘失其和，則氣壅而九竅不通矣。若六腑之氣澀滯不流，榮血壅聚，發為癰疽也。</p>

<h1>九氣為病</h1>
<p>怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，熱則氣泄，驚則氣亂，勞則氣耗，思則氣結。九氣不同，何病之生也？怒則氣逆，甚則嘔血及飱泄，故氣上矣。喜則志和氣達，榮衛通泰，故氣緩矣。悲則心系急，肺布葉舉，而上焦不通，榮衛不散，熱氣在中，故氣消矣。恐則精卻，卻則上焦閉，閉則氣遠，遠則下焦脹，故氣下矣。寒則腠理閉，氣不行，故氣收矣。熱則腠理開，榮衛通，汗大泄，故氣泄矣。驚則心無所倚，神無所歸，慮無所定，故氣亂矣。勞則喘息，自汗出，外內皆越，而氣耗矣。思則心有所存，神有所歸，故氣結矣。</p>

<h1>十變</h1>
<p>一脈為十變者何？五邪剛柔相逢之義也。假令心脈急甚，肝邪干心；心脈微急者，膽邪干小腸也；心脈大甚者，心邪自干心；心脈微大者，小腸邪自干小腸；心脈緩甚者，脾邪干心；心脈微緩者，胃邪干小腸；心脈澀甚者，肺邪干心；心脈微澀者，大腸邪干小腸；心脈沉甚者，腎邪干心；心脈微沉者，膀胱邪干小腸。五臟各有剛柔邪，故今一脈軋變為十也。</p>

<h1>十法治病</h1>
<p>下，則疏豁閉塞；補，則益助虛乏；灸，則起陰通陽；針，則行榮引衛；導引，則可以逐客邪於關節；按摩，則可以驅浮淫於肌肉；蒸熨，則闢陰；澡洗，則宣陽；悅豫，則爽神；和緩，則安氣。</p>

<h1>十二經絡</h1>
<p><u>手少陰心經絡之脈</u></p>
<p>起於心中，出屬心系，下膈，絡小腸；其支者，從心系上俠咽，系目系。其直者，復從心系卻上肺，出腋下，下循臑內後廉，行太陰心主之後下肘內廉，循臂內後廉，抵掌後兌骨之端，入掌內後廉，循小指之內，出其端。</p>
<p><u>手太陽小腸經絡之脈</u></p>
<p>起於小指之端，循手外側上腕骨，出踝中，直上循臂骨下廉，出肘內側兩骨之間，上循臑外後廉，出肩解，繞肩胛，交肩上，入缺盆，絡心，循咽，下膈，抵胃，屬小腸；其支別者，從缺盆循頸上頰，至目銳眥，卻入耳中；其支者，別頰上䪼，抵鼻，至目內眥，斜絡於顴。</p>
<p><u>足厥陰肝經之脈</u></p>
<p>起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰入毛中，環陰器，抵小腹，俠胃，屬肝，絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與腎脈會於巔；其支者，從目系下頰裡，環唇內；其支者，復從肝別貫膈，上注肺中。</p>
<p><u>足少陽膽經之脈</u></p>
<p>起於目銳眥，上抵頭角，下耳後，循頸，行手少陽之前，至肩下，卻交出手少陽之後，入缺盆；其支別者，從耳後入耳中，出走耳前，至目銳眥後；其支者，別目銳眥，下大迎合手少陽，抵於䪼，交頰車，下頸，合缺盆，下胸中，貫膈，絡肝，屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中；其直者，從缺盆下腋，循胸，過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外轉骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間；其支者，從跗上，入大指，循岐骨內，出其端，還入爪甲，出三毛。</p>
<p><u>足太陰脾經絡之脈</u></p>
<p>起於大指之端，循指內側白肉際，過覈骨後，上內踝前廉，上腨內，循胻骨後，交出厥陰之前，上循膝股內前廉，入腹，屬脾，絡胃，上膈，俠喉，連舌本，散舌下；其支別者，復從胃別上膈，注心中。</p>
<p><u>足陽明胃經絡之脈</u></p>
<p>起於鼻交額中，下循鼻，外入上齒中，還出俠口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前過客主人，循髮際，至額顱；其支別者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃，絡脾；其直行者，從缺盆下乳內廉，下俠臍，入氣街中；其支者，起胃下口，循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝臏中，下循胻外廉，下足跗，入中指內間；其支者，下膝下三寸而別，以下人中指外間；其支者，別跗上，入大指間，出其端。</p>
<p><u>手太陰肺經絡之脈</u></p>
<p>起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中，循臂內上骨下廉，入寸口，上魚，循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端。</p>
<p><u>手陽明大腸經絡之脈</u></p>
<p>起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，循臑內前廉，上肩，出髃骨之前廉，上出柱骨之會上，下入缺盆，絡肺，下膈，屬大腸；其支者，從缺盆上頸，貫頰，下入齒縫中，還出俠口，交人中，左之右，右之左，上俠鼻孔。</p>
<p><u>足少陰腎經絡之脈</u></p>
<p>起於小指之下，斜移足心，出然谷之下，循內踝之後，別入跟中，上腨內，出膕內廉，上股內後廉，貫脊，屬腎，絡膀胱；其直者，從腎上貫肝膈，入肺中，循喉嚨俠舌本；其支者，從肺出絡心，注胸中。</p>
<p><u>足太陽膀胱經絡之脈</u></p>
<p>起於目內皆，上額，交巔上；其支別者，從巔至耳上角；其直行者，從巔入絡腦，還出別下項，循肩轉內，俠脊，抵腰中，入循膂，絡腎，屬膀胱；其支別者，從腰中下會於後陰，下脊，貫臀，入膕中；其支別者，從髆內左右，別下，貫胛，俠脊內，過髀樞，循髀外後廉，下合膕中，以下貫腨內，出外踝之後，循京骨，至小指外側端。</p>
<p><u>手厥陰心包絡之脈</u></p>
<p>起於胸中，出屬心包，下膈，歷絡三焦；其支者，循胸出脅，下腋三寸，抵腋，下循腨內，行太陰少陰之間，入肘內，下臂，行兩筋之間，入掌中，循中指出其端；其支者，從掌循小指次指，出其端。</p>
<p><u>手少陽三焦經絡之脈</u></p>
<p>起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外，上肩，交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦，其支者，從膻中上出缺盆，上項，俠耳後直上，出耳上角，以屈下頰至䪼；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳。</p>

<h1>十二經見證</h1>
<p><u>足太陽膀胱經見證</u></p>
<p>頭苦痛，目似脫，頭兩邊痛，淚出，膀皮出，下腫，便膿血，肌肉痿，項似拔，小腹脹痛，按之欲小便，不得。</p>
<p><u>足陽明胃經見證</u></p>
<p>惡人與火，聞木聲則驚狂，上登而歌，棄衣而走，顏黑不能言，唇䐢，嘔，呵欠，消穀善飲，頸腫，胸旁過乳痛，口喎，膺乳、沖股、伏兔、胻外廉、足跗皆痛，腹大水腫，奔響腹脹，跗內廉肘痛，髀不可轉，咽似結，腨似裂，膝臏腫痛，遺溺失氣，善伸數欠，癲疾退浸，心欲動則閉戶獨處，驚，身前熱，身後寒慄。</p>
<p><u>足少陽膽經見證</u></p>
<p>口苦，馬刀挾癭，足外熱，寢寒憎風，體無膏澤，胸中、脅肋、髀膝外至胻、絕骨、外踝前諸節痛，善太息。</p>
<p><u>手太陽小腸經見證</u></p>
<p>面白，耳前熱，苦寒，頞頷腫不可轉，腰似折，肩臑肘臂外後廉腫痛，臑臂內前廉痛。</p>
<p><u>手陽明大腸經見證</u></p>
<p>手大指次指難用，耳聾，煇煇焞焞，耳鳴嘈嘈，耳後、肩臑、肘臂外皆痛，氣滿皮膚間，殼殼然，堅而不痛。</p>
<p><u>足太陰脾經見證</u></p>
<p>五泄注下五色，大小便不通，面黃，舌本強痛，口甘，食即吐，食不下咽，怠惰嗜臥，搶心，善飢，善味，不嗜食，不化食，尻陰股膝臑胻足皆痛，煩悶，心下急痛，有動痛，按之若牢，痛當臍，心下苦痞，腹脹腸鳴，飱泄不化，足不收，行善瘛，腳下痛，九竅不通，溏泄水下，余出後氣則快然，飲發中滿，食減善噫，形醉，皮膚潤而短氣，肉痛，身體不能動搖，足胻腫若水。</p>
<p><u>足少陰腎經見證</u></p>
<p>面如漆，眇中清，面黑如炭，咳唾多血渴，膈左脅下、背肩、髀頭痛，大便難，胸中滿，大小腹痛，飢不欲食，心懸如飢，腹大脛腫，咳嗽，脊臂股痠痛，足痿厥，脊中痛，脊股內後廉痛，腰冷如水及腫，臍下氣逆，小腹急痛泄下，腫足胻寒而逆，腸澼，陰下濕，四肢正黑，手指清厥，足下熱，嗜臥坐而欲起，凍瘡下痢，善思善恐，四肢不舉。</p>
<p><u>足厥陰肝經見證</u></p>
<p>頭痛脫色，善潔耳無聞，頰腫肝逆，頰腫面青，目赤腫痛，兩脅下痛，小腹胸痛，背下側兩脅腫痛，婦人小腹痛，腰痛不可俛仰，四肢滿悶挺長熱，嘔逆，血暈，腫睪疝，足逆寒胻，善瘛，節時腫，遺瀝，淋溲，便難，眩冒，癃狐疝，洞泄，大人頹疝，轉筋，陰縮，兩筋攣，善恐，胸中喘，罵言，血在脅下喘。</p>
<p><u>手太陰肺經見證</u></p>
<p>善嚏，缺盆中痛，臍上肩痛，肩背痛，臍右小腹脹引腹痛，小便數溏泄，皮膚痛及麻木，喘少氣，頰上氣，見交兩手而瞀，悲愁欲哭，灑淅寒熱。</p>
<p><u>手少陰心經見證</u></p>
<p>消渴，兩腎內痛，後廉腰背痛，浸淫，善笑，善驚，善凶，上咳，吐下，氣泄眩僕，身熱而腹痛，悲。</p>
<p><u>手厥陰別脈經見證</u></p>
<p>笑不休，手心熱，心中大熱，面黃，目赤，心中動。</p>
<p><u>手足陰陽經合生見證</u></p>
<p>頭頂痛，足太陽手少陰。</p>
<p>黃疸，足太陰少陰。</p>
<p>面赤，手少陰厥陰手足陽明。</p>
<p>目黃，手陽明少陰太陽厥陰足太陽。</p>
<p>耳聾，手太陽陽明少陽太陰足少陰。</p>
<p>喉痹，手足陽明手少陽。</p>
<p>鼻鼽衄，手足陽明太陽。</p>
<p>目𥉂𥉂無所見，足少陰厥陰。</p>
<p>目瞳人痛，足厥陰。</p>
<p>面塵，足厥陰少陽。</p>
<p>咽腫，足少陰厥陰。</p>
<p>嗌乾，手太陰足少陰厥陰足少陰太陽。</p>
<p>噦，手少陽足太陰。</p>
<p>膈咽不通，不食，足陽明太陰。</p>
<p>胸滿，手太陰足厥陰手厥陰。</p>
<p>胸支滿，手少陰厥陰。</p>
<p>腋腫，手厥陰足少陽。</p>
<p>脅痛，手少陰足少陽。</p>
<p>胸中痛，手少陰足少陽。</p>
<p>善嘔汁，足少陽足陽明。</p>
<p>逆少氣咳嗽，喘渴上氣，手太陰足少陰。</p>
<p>喘，手陽明足少陰手太陰。</p>
<p>臂外腫，手少陽太陽。</p>
<p>掌中熱，手太陽陽明厥陰。</p>
<p>心痛，手太陰厥陰足少陰。</p>
<p>肘攣急，手厥陰太陰。</p>
<p>瘧，足太陰足三陽。</p>
<p>痔，足太陽手足太陰。</p>
<p>悽悽振寒，足陽明少陽。</p>
<p>如人將捕，足少陰厥陰。</p>
<p>汗出，手太陽少陰足少陽陽明。</p>
<p>身體重，手太陰少陰。</p>

<h1>十二原</h1>
<p>肺之原，出於大淵。心之原，出於太陵。肝之原，出於太衝。脾之原，出於太白。腎之原，出於太谿。大腸之原，出於合谷。小腸之原，出於腕骨。膽之原，出於丘虛。胃之原，出於衝陽。膀胱之原，出於京骨。少陰之原，出於兌骨。三焦之原，出於陽池。十二經皆以會為原者，何然？五臟俞者，三焦之所行，氣之所以留止。三焦所行之俞為原者，臍下腎間動氣，人之生命，十二經之根本也，故命曰原。三焦者，原氣之別使也，主通行三氣，經歷臟腑；原者，三焦之尊號也，故所止軋為原。臟腑之有病者，皆取其原也。</p>

<h1>十二官</h1>
<p>心者，君主之官，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中者，臣使之官，喜樂出焉。脾胃者，倉廩之官，五味出焉。大腸者，傳導之官，變化出焉。小腸者，受盛之官，化物出焉。腎者，作強之官，伎巧出焉。三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出焉。凡此十二官者，不得相失也。故主明則下安，以此養生則壽，歿世不殆，以為天下則大昌。主不明則十二官危，使道閉塞而不通，形乃大傷，以此養生則殃，以為天下，則其宗大危，戒之戒之！</p>

<h1>十二月人氣所在</h1>
<p>正月二月，天氣始方，地氣始發，人氣在肝。</p>
<p>三月四月，天氣正方，地氣正發，人氣在脾。</p>
<p>五月六月，天氣盛，地氣高，人氣在頭。</p>
<p>七月八月，陰氣始殺，人氣在肺。</p>
<p>九月十月，陰氣始冰，地氣始閒，人氣在心。</p>
<p>十一月十二月，冰復，地氣合，人氣在腎。</p>

<h1>十二多</h1>
<p>多思，則神枯；多念，則志散；多欲，則忘昏；多事，則形勞；多語，則氣乏；多笑，則臟傷；多愁，則心懾；多樂，則語嗌；多喜，則志錯昏亂；多怒，則盲脈不定；多好，則專迷不理；多惡，則憔悴無歡。</p>

<h1>十二經水</h1>
<p>足太陽外合於清水，內屬於膀胱，而通水道焉。</p>
<p>足少陽外合於渭水，內屬於膽。</p>
<p>足陽明外合於海水，內屬於胃。</p>
<p>足太陰外合於湖水，內屬於脾。</p>
<p>足少陰外合於汝水，內屬於腎。</p>
<p>足厥陰外合於澠水，內屬於肝。</p>
<p>手太陽外合於淮水，內屬於小腸，而水道出焉。</p>
<p>手少陽外合於漯水，內屬於三焦。</p>
<p>手陽明外合於江水，內屬於大腸。</p>
<p>手太陰外合於河水，內屬於肺。</p>
<p>手少陰外合於濟水，內屬於心。</p>
<p>手心主外合於漳水，內屬於心包。</p>
<p>凡此五臟六腑十二經水者，外有源泉而內有所稟，此皆內外相貫，如環無端，人經亦然。</p>

<h1>十二經脈之終</h1>
<p>太陽之脈，其正終也，戴眼，反折，瘛瘲，其色白，絕汗乃出，出則死矣。少陽終者，耳聾，百節皆縱，目環絕系，一日半死，色先青白，乃死。陽明終者，口目動作，善驚，妄言，色黃，其上下經盛，不仁則終矣。少陰終者，面黑，齒長而垢，腹脹閉塞，上下不通而終矣。</p>
<p>太陰終者，腹脹閉不得息，善噫，善嘔，嘔則逆，逆則面赤，不逆則上下不通，上下不通則面黑皮毛焦而終矣。</p>
<p>厥陰終者，中熱嗌乾，善溺心煩，甚則舌卷，卵縮而終矣。此十二經之所敗也。</p>
<p><u>十二經是動所生之病</u></p>
<p><u>手太陰肺之經</u></p>
<p>是動病氣。</p>
<p>肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，是謂臂厥。主肺。</p>
<p>所生病血，咳嗽，上氣喘渴，心胸滿，臑臂內前廉痛，掌中熱。氣盛有餘，則肩背痛風汗出中風，小便數欠。氣虛則肩背痛寒，少氣不足以息，溺色變，卒遺失無度。</p>
<p><u>手陽明大腸經</u></p>
<p>是動病。</p>
<p>齒痛䪼腫。主津。</p>
<p>所生病。</p>
<p>目黃口乾，鼽衄，喉痹，肩前臑痛，大指次指痛不可用。氣有餘則當脈所過者熱腫，虛寒慄不復。</p>
<p><u>手少陰心之經</u></p>
<p>是動病</p>
<p>嗌乾心痛，渴而欲飲。是謂臂主心。</p>
<p>所生病</p>
<p>目黃脅痛，臑臂內後廉痛厥，掌中熱。</p>
<p><u>手太陽小腸經</u></p>
<p>是動病</p>
<p>嗌乾頷腫，不可回顧，肩似拔，臑似折。主液。</p>
<p>所生病</p>
<p>耳聾目黃頰頷腫，肩臑肘臂外後廉痛。</p>
<p><u>手厥陰心包絡經</u></p>
<p>是動病</p>
<p>手心熱，肘臂攣急，腋腫，甚則胸脅支滿，心中澹澹大動，面赤目黃，喜笑不休。主心包脈。</p>
<p>所生病</p>
<p>煩心心痛，掌中熱。</p>
<p><u>手少陽三焦經</u></p>
<p>是動病</p>
<p>耳聾渾渾焞焞，嗌腫喉痹。主氣。</p>
<p>所生病</p>
<p>汗出，目銳眥皆痛，耳後肩臑肘臂外皆痛，小指次指不用。</p>
<p><u>足太陰脾之經</u></p>
<p>是動病</p>
<p>舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣，則快然如衰，身體皆重。主脾。</p>
<p>所生病</p>
<p>舌本痛，體不能動搖，食不下，煩心，心下急痛寒瘧，溏、瘕、泄，水閉，黃疸，不能臥，強立，股膝內腫，足大指不用。</p>
<p><u>足陽明胃之經</u></p>
<p>是動病</p>
<p>洒洒振寒，善伸數欠，顏黑，病至則惡人與火，聞木音則惕然而驚，心欲動，閉戶牖而獨處，甚則登高而歌，棄衣而走，賁鄉腹脹，是為骭厥。主血。</p>
<p>所生病</p>
<p>狂瘧溫淫汗出，⿰鼻丸衄，口喎唇胗，頸腫喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、骭外廉、足跗上皆痛，中指不用。</p>
<p>氣盛則身以前皆熱，則有餘於胃，則消穀善飢，溺色黃。氣不足則身以前皆寒慄，胃中寒則脹滿。</p>
<p><u>足少陰腎之經</u></p>
<p>是動病</p>
<p>飢不欲食，面黑如炭色，咳唾則有血，喉鳴而喘，坐而欲起，目𥉂𥉂無所見，心懸若飢狀，氣不足則善恐，心惕惕若人將捕，是謂骨厥。主腎。</p>
<p>所生病</p>
<p>口熱舌乾，咽腫上氣，嗌乾及痛，煩心心痛，黃疸，腸澼，脊股內後廉痛，痿厥嗜臥，足下熱而痛。</p>
<p><u>足太陽膀胱經</u></p>
<p>是動病</p>
<p>頭痛，目似脫，項似拔，脊痛，腰似折，髀不可以曲，膕似結，腨似裂，是為踝厥。主筋。</p>
<p>所生病</p>
<p>痔瘧狂癲疾，頭腦項痛，目黃，淚出，項背腰尻膕腨腳背痛、小指不用。</p>
<p><u>足厥陰肝之經</u></p>
<p>是動病</p>
<p>腰痛不可以俛仰，丈夫潰疝，婦人少腹腫，甚則嗌乾，面塵脫色。主肝。</p>
<p>所生病</p>
<p>胸滿嘔逆洞泄，狐疝遺溺癃閉。</p>
<p><u>足少陽膽之經</u></p>
<p>是動病</p>
<p>口苦，善太息，心脅痛不能轉側，甚則面色微塵，體無膏澤，足外反熱，是為陽厥。主骨。</p>
<p>所生病</p>
<p>頭角痛，頷腫，目銳眥皆痛，缺盆中腫痛，腋下腫，馬刀挾嬰，汗出振寒，瘧，胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛，小指次指不用。</p>
<p><u>十二經絡始終流注</u></p>
<p>十二經，其實一脈也，界而為十二分主，行血氣，通陰陽，以榮一身者也。其必始於中焦手太陰，終於足厥陰，而復會於手太陰。故知血氣運行，交通相貫，未嘗間斷，終而復始，循環無端，轉相灌溉，云為流注。何以始於中焦？焦者，原也。人受天地之中以生，所謂沖和其天五之氣，始自中原，播於百脈，正難經所謂肺朝百脈是也。故手太陰經脈起於中焦，入大指內廉，出其端。手陽明大腸經起於大指次指之端，俠鼻孔。足陽明胃經起於鼻之交頞中，入大指間，出其端。足太陰脾經起於大指之端，注心中。手少陽心經起於心中，入掌後廉小指之內，出其端。手太陽小腸經，起小指之端，抵鼻至目內眥，斜絡於顴。足太陽膀胱經，起於目內眥，至小指外側，出其端。足少陰腎經，起於小指之下，注胸中。手厥陰心包絡經，起於胸中，循小指次指出其端。手少陽三焦經，起於小指次指之端，至目銳眥。足少陽膽經，起於目銳眥，入大指循岐骨內，貫爪甲，出三毛。足厥陰肝經，起於大指聚毛之際，上注肺中，是以寅時注於肺，卯時注於大腸，辰時注於胃，巳時注於脾，午時注於心，未時注於小腸，申時注於膀胱，酉時注於腎，戌時注於心包絡，亥時注於三焦，子時注於膽，丑時注於肝，寅時復注於肺。上合雞鳴，下應潮水，其氣與天地同流。加一至則熱，減一至則寒，上魚際為溢，入尺為覆。手之三陽從手走頭，足之三陽從頭走足，是高能接下也。足之三陰從足走腹，手之三陰從腹走手，是下能走上也。故上下升降而為和。易曰：天道下濟而光明，地道卑而上升。又曰：山澤通氣，望氣寄於辛，用於寅。平旦始，從中焦注循天之紀，左旋至五，而晝夜通行五十度，周行八百一十丈，血隨氣而上行，殊不見又有潤下之意。經云：氣主響之，升也；血主濡之，潤也。書曰：水曰潤下。故血亦有下行之體，如百川右行，東至於海也。蓋天地之形，如卵橫於東南西北，自然之熱。岐伯曰：地為人之下，太虛之中。又曰：大氣舉之也。是地如卵黃在其中矣。又曰：地者，所以載生成之形類。易曰：坤厚載物，德合無疆。信乎！天包地形如卵焉。人首之上，為天之天；足之下，為地之天。人之浮於地之上，如地之浮於太虛之中也。氣之西，始於寅，終於子醜。血之東，根於辛，納於乙，相隨往來不息。獨缺於乾巽，為天地之門戶也。戌土屬乾，巳土屬累，故曰六戌為天門，六巳為地戶。經云：天地者，萬物之上下；左右者，陰陽之道路。氣血者，父母也；父母者，天地也。氣血周流於十二經，總包六子於其中，六氣，五行是也，無形者，包有形也，而天總包地。天左行，而西氣隨之；百川並進，而東血隨之。是以處百病，決死生，候此而已。</p>

<h1>十二經治法</h1>
<p>手少陽三焦經與足少陽膽經脈，如箏絃無力時時帶數，法用通因通用。立此意者，謂少陽春也，生化萬物之始，金石、草木、羽毛、鱗介，乃陰陽生化之端也。故因有春分停刑之禁，十二經有取決於膽之戒，履端於始序則不愆。故中於風者，乃氣血閉而不行，凡治風之藥，皆用辛溫，上通天氣，以發散為體，是元氣始出地之根蒂也。此二經治有三禁：不得發汗，為風證多自汗也；不得下，下之則損陰，絕其生化之源也；不得利小便，利之則使陽氣下陷，反行陰道也。其脈沉細，按之洪大，鼓甚而盛，是內則心火為本，則脈鼓甚洪大；外則真陰為標，其脈沉細，乃寒水之體也。此經標寒本熱，用大黃、芒硝辛苦大寒之氣味，以瀉本熱也。足太陽膀胱之經，其本真陰，其經老陽。標有陽之名，無陽之實，謂其將變陰也。其脈緊而數，按之不鼓而空虛，是外見虛陽，而內有真陰也，仲景以姜附湯久熟煎，不溫服而寒服，是熱因寒用。蓋姜附氣味俱陽，加之久久熟煎，重陽之熱瀉純陰之寒，是治其本；以寒服者，借寒治太陽標之假陽，故為其假相對之治法也。按其脈空虛，則內伏陰寒之氣，外顯大渴引飲，目赤口乾，面赤身熱，四肢熱如火，真陽將絕於外，則為寒所逐而欲先絕，其躁曰陰躁，欲坐井中也。手太陰肺之經，以歲氣言之，主秋主收。況足太陰脾經內傷飲食，其物有形，亦屬於陰，所主納而不出，故物寒其中，以食藥寒令下行也。心下有痞氣，仲景皆用黃連以泄之。舉斯二者是寒因寒用，又寒因寒也，上許納豬腸中炮熟，或魚腸煨熟飼之。貓猴為人踏死者，以蘇木依煎湯灌之。狗病，水調平胃散灌之。</p>
<p>又方巴豆去殼，調平胃散灌之。狗卒死者，以葵根塞鼻，可活。狗遍身濃癩，濃煎百部汁塗之。狗為蟲蠅齧者，取麻油滓遍按其身，立去。雞病，用真麻油灌之。養雞不抱法，每下卵時，食內夾麻子沖之，自然常時下蛋。養生雞，以淨溫水洗濯雞腳，放自然不走。養雞鴨，以土硫黃研細，同飯拌勻，喂不數日即肥。豬病，割去尾尖，出血即愈。豬瘴疫者，以蘿萄或葉食之，不食則難救。魚遭毒，急流去毒水，別引新水沖之，多取芭蕉搗碎，置新水來處，使吸之，可解；或以糞清澆池面，亦隹。</p>
<p><u>新增諸證雜方一類</u></p>
<p>治燒酒醉傷不醒者，急用綠豆粉湯皮切片，將筷開口牙，用冷水送粉片，下喉即醒。</p>
<p>治背發癰瘡，用溫水洗淨，用桑柴燒取紅炭，炙瘡口待乾，用白麵槎繩圍瘡口四弦，上用雞子清，翎毛刷傳數次即安。如瘡內肉腫出易治，塌內難治。</p>
<p>治骨塞喉，宿喉，宿砂、威靈仙、沙糖冷水煎，請君進一服，諸骨軟如綿。</p>
<p>中亦非中上下之中，是中庸所謂君子而時中之意也。</p>

<h1>十三陰</h1>
<p>肺開竅於鼻，心開竅於舌，脾開竅於口，肝開竅於目，腎開竅於耳。耳者腎也，復能聽聲，聲肺主之，屬金，是耳中有肺也。鼻者肺也，復能聞臭，臭心主之，屬火，是鼻中有心也。舌者心也，復能知味，味脾主之，屬土，是舌中有脾也。此三經各兼一臟。目者肝也，有血氣筋精，肉為五輪，所以貫五臟而能視也，惟此經兼四臟。口為脾，脾屬坤土，土主靜而不動，故無所兼，及厥陰與腎脈會於巔，故云陰有十三。腦為諸髓之會，即海也，腎主之，故知陰表裡受邪，故難治也。</p>

<h1>十五絡</h1>
<p>經有十二，絡有十五。餘三絡者，有陽絡，是陽蹻之絡，其脈起於跟中，循外踝申脈穴，上至風池，行於背；應照海穴，上至咽喉，交貫衝脈，行於腹應乎陰。蹻者捷疾也，言此脈之行，如動足之行步而捷疾。除小絡之外有一大絡，名曰大包，是脾之絡，故絡有十五。更有胃之大絡，名曰虛里，貫膈絡出於左乳下，其動應衣，脈宗氣也，是知絡又有十六焉。</p>

<h1>十九問選</h1>
<p>一問曰：傷寒有兩感，其形何似？其危使速可治否乎？曰傷寒為證，明是寒邪傷人，傳足不傳手，其始必自足太陽，次陽明，次少陽，次太陰，次少陰，次厥陰，自表及里，循序相傳。其兩感則不然，因邪之表不停經，入於裡一日，就太陽膀胱與少陰腎俱受，故見身熱煩滿而渴，舌上乾燥，其脈沉而大；二日之傳陽明胃與太陰脾，故鼻乾妄言，中滿不食，其脈沉而長；三日之傳少陽膽與厥陰脾，故耳聾、囊縮、厥逆，水漿不入口，其脈沉而弦；三日而死，再傳止於六日矣。仲景無治法，但云身體疼痛，下利清穀，急當救里，宜四逆湯；清便自調，急當救表，宜桂枝湯。又云治有先後，則知先救里，才覺溫急當救表，是或有可生之理。濟生拔萃中雖有兩感大羌活湯治之，所活者百之一二，以其陰陽雙傳，脈經本草針灸三世之書者，子今從何是與？曰聖賢謂世次相承，意其授受，習諸脈藥病候之情偽，而無妄誤之失。宋公謂：徒恃世醫，不究歷代經書，昧乎醫之義理，必有庸謬之禍。又難經云：色、脈、皮膚三者，知一為下工，知二為中工，知三為上工，據之於理，為兩有焉。</p>
<p>五問曰：李元象傷寒賦，云誤服湯丸者食不及新，特犯禁戒者死必不臘，此二者何喻也？曰按春秋傳云：成公十年，晉公夢大曆披髮及地，搏膺而踴環門入戶，曰：殺余，余得請於帝。靈公覺而問桑田巫，示而殺之公將食，如廁，陷而卒。僖公五年，晉賂虞，假道以伐虢。宮之奇諫曰：虢虞之表也，虢亡，虞必從之。公弗聽，宮之奇曰：虞不臘矣。是冬，晉滅虢師還，館於虞，晉遂襲滅之。竊意二者，喻醫有犯禁戒，誤投藥餌，以其不仁，似二公之不久也。</p>
<p>六問曰：本草公三品藥為君臣佐使；東垣謂主病藥為君，余為臣，為佐，為使，二者之殊子何為據？曰大全本草云：上品藥一百二十種為君，主養命，以應天；中品藥一百二十種為臣，主養性，以應人；下品藥一百二十種為佐使，主養病，以應地。東垣云：表實麻黃、表虛桂枝、熱者黃連、寒者附子之類為君，不可令臣過於君，君臣有序，相與宣攝，可以御邪除病矣。參之於內經至真要大論云：有毒無毒，隨治為主。又云：主病之謂君，佐君之謂臣，應臣之謂佐使，非上中下三品藥之類也。愚見本草之主意，所以異喜惡之名位；內經之立論，所以贊成方用也。以攻疾之法，當從內經東垣為是。</p>
<p>七問曰：張長沙用大承氣湯，必轉失氣則可服，此失字之義，其意何也？曰：仲景云傷寒潮熱，大便六七日不行，先服小承氣湯，若腹中轉失氣，此有燥糞，方服大承氣湯。蓋轉失氣，是下泄氣，俗云去屁也。考之篇韻，屎失通用。竊恐傳寫者誤矢為失，今從轉矢氣為文，理或頗順，若誠失字，則於義為難訓矣。</p>
<p>八問曰：何謂病要？何謂治失？可得聞乎？曰：病有虛實，冷熱，邪正，內外，謂之八要。曰虛，是亡血，失精，泄痢，少食之類也。曰實，是狂妄，燥熱，大小便秘結之類也。曰冷，臟腑受寒也。曰熱，臟腑受熱也。曰邪，非臟腑正病也。曰正，非外邪所傷也。曰內，病不在外也。曰外，病不在內也。若失於不審，失於不識，失於不信，失於過時，失於不知藥，失於不擇醫，謂之六失。六失之中有一於斯，病無可去之理。但能審察，是當無有不可治之疾，苟或不然，非特醫之過咎，病家亦不得辭其責也。</p>
<p>九問曰：七損八益，何謂也？曰：老陽之數極於九，少陽之數次於七，女子為少陰之氣，以少陽之數偶之，故其數七；老陰之數極於六，少陰之數次於八，男子為少陽之氣，以少陰數合之，故其數八。蓋女子二七，天真之氣降，壬癸之水合，月事以時而下；男子二八，天癸至，陰陽和，精氣溢瀉。然陰七可損者，謂女子至期海滿而血自下，欲其經水以時通也；陽八宜益者，謂男子陰陽交會，俾其中節而能固密陽氣；可以保益真元，由此則七損八益理可知矣。</p>
<p>十問曰：臟腑要害，乃刺之禁數，請詳言之。曰：肝生於左，象木，旺於春，春陽發生，且為少陽陽長之始，故曰生也。肺藏於右，象金，旺於秋，秋陰收殺，且為少陰陰藏之初，故曰藏也。心部於表，陽氣主外，象火，且為五臟部主，故曰部也。腎治於裡，陰氣主內，象水，主治五臟，故曰治也。脾謂之使，水穀之入運動不已，故曰使也。胃謂之市，水穀所歸，五味皆入，如市之集，故為市也。鬲肓之上，氣海居中，氣者，生之原；生者，命之主，故氣陰為人之父母。又云心上鬲下為肓，心為陽父，肺為陰母。肺主於氣，心主於血，榮衛於身，故為父母也。七節之傍，中有小心，是謂真心，神靈之宮室。此八者，人之所以生，形之所以成，故順之則福延，逆之則咎至。</p>
<p>十一問曰：刺傷臟腑，真死之期可能必乎？曰：心為君主，傷之一日死；肺為相傅，傷之三日死；肝為將軍，傷之五日死；脾為倉廩，傷之十日死；腎為作強，傷之六日死；膽為中正，傷之一日半死；中腦者，立死；中鬲者，皆為傷、死；中鬲傷，則為五臟之氣互相剋伐，其病難愈，不過一歲而死。非特此而然，凡傷風寒，並撲跌中犯者亦是也。</p>
<p>十二問曰：血、氣、形、脈、谷五者，皆有常、有反，請子明以告之曰：血實脈實，血虛脈虛，氣實形實，氣虛形虛，谷盛氣盛，谷虛氣虛，此其常也。氣盛身寒，氣虛身熱，脈小血多，脈大血少，谷入多而氣少，谷入少而氣多，此是失常，故為反也。蓋氣盛身寒，得之傷寒；氣虛身熱，得之傷暑；脈小血多，留飲脾胃之中也；脈大血少，脈有風氣，水將不入也；谷入多而氣少，得之有所脫血；濕千下也；谷入少而氣多，邪在胃及肺也。</p>
<p>十三問曰：鄭聲與譫語，何以別之？曰：鄭聲，對人言語鄭聲重，淫亂，恍惚不定，此是精神元氣虛脫，病屬陰也。譫語，口中呢喃自言，人問不答，乃邪熱入里，屬於陽也。</p>
<p>十四問曰：醫分十三科，何以然也？曰：古之聖賢，念民疾疹之苦，設立醫藥，起危蠲疴，恐人不能專精緻志，故有大小方脈、婦人科、產科、風科、眼科、口齒科、咽喉科、正骨科、金鏃科、瘡腫科、針灸科、祝由科，則數之分，蓋欲其精一不二之意也。</p>
<p>十五問曰：運氣精華一帙於五運六氣等，論傷寒，何他證而不論，及其理安在。曰：謹按天元紀大論暨至真要大論七篇，備述運氣變化，勝復於病，平治未嘗全論傷寒；又按熱論至評熱論二篇，皆明傷寒源流，俱不演及運氣。若以運氣全因傷寒而設，必有乖於經意，子當講究內經，方知孰是孰非。</p>
<p>十六問曰：醫家何謂五科七事，請詳言之。曰：脈、病、證、治，及其所因，謂之五科；因又分外、分內、不外不內，為三，總謂之七事。蓋醫之視疾，必先診候患者之三部，何臟腑見乎脈之表裡虛實情狀，然後審是有何因寒熱秘泄之病，推辨是由何因而成其證，方可用何汗吐下補之法治之，則能盡乎。原脈以識病，因病以辨證，隨證以施治之良規也。</p>
<p>十七問曰：病有正治，有反治，其意何也？曰：病與歲之六氣主客，所臨寒熱衰旺，相從相逆而然也。蓋厥陰風木為歲初氣，主春分前六十日，其氣以溫；少陰君火為二氣，主春分後六十日，其氣以暄；少陽相火為三氣，主夏至前六十日，其氣以熱；太陰濕土為四氣，主秋分前六十日，其氣以蒸；陽明燥金為五氣，主秋分後六十日，其氣以涼；太陽寒水為六氣，主冬至前後六十日，其氣以寒，六位旋相主氣，以成一歲。此地之陰陽，所謂靜而守位者也。客氣者，以當年在泉後一氣為客，初氣至司天為客，三氣每年轉居於其上，以行歲中之天命，此天之陰陽，動而不息者也。天命所在，則有六氣之化。主氣則當抵奉客之天命，客勝則從，主勝則逆，由是天時民病應焉。故病氣逆則正治，從則反治。正治者，以寒攻熱，以熱攻寒，補以治虛，瀉以推實是也。反治者，寒因熱用，熱因寒用，通因通用，塞因塞用是也。夫逆其氣以正治，使其從順也；從其病以反取，令彼和調也。又一說，假使人受寒氣，或傷冷物，心腸作疼，內投熱藥，外用火熨，內外熱通，寒伏熱勝，其疼尤甚，及以涼劑治。或患熱證，久服寒藥，藥性之寒，以挾陰火，其熱愈甚，反以溫藥和之。自汗之證，數服參耆等扶陽實表之藥，汗反不止，以解發而愈。瀉利之疾，以固實腸胃藥餌服之不效，反行消導而止。心腹痞滿，見其妨於飲食，急求快利，多用枳橘峻急之劑愈塞不通，反用參朮等佐以香藥服之遂寬。如斯之類，亦反治之法，尤為可法，言以義治之之謂正，尤不獲則權之意。唯醫之聰明志達，素所更嘗，則其臨機，療無施不可也。</p>
<p>十八問曰：醫之視病，望而知之者謂之神，聞而知之者謂之聖，問而知之者謂之工，切脈而知之者謂之巧，何謂也？曰：此醫家之四教也，蓋望而知之者，謂觀其神色以辨病候。凡人飲食人胃，變其精華之氣，五味各走所喜以養五臟，而五臟之精華，色澤之善惡，皆見乎面。肝色青，如翠羽、如蒼壁之澤者吉；如藍、如草滋者危。心色赤，如雞冠、如帛裹朱者吉；如衃血、如赭者危。脾色黃，如蟹腹、如羅裹雄黃者吉；如枳殼、如黃土者危。肺色白，如豕膏、如白璧之澤者吉；如堊、如枯骨者危。腎色黑，如烏羽、如漆色者吉；如炭、如煤炲者危。此五色之吉凶也。春色青，夏色赤，長夏色黃，秋色白，冬色黑，此五色之從四時也。春得白色，夏得黑色，長夏得青色，秋得赤色，冬得黃色，此五色之逆四時也。素問云：色澤以浮謂之易已，色夭不澤謂之難已。五臟乃神之舍，五色乃神之表。五臟之敗，神氣已衰，其色必夭，夭者枯槁之謂，能察其色以斷吉凶，可謂神矣。聞而知之，謂聽其聲音而知其病之所在。腎為聲音之根，心為聲音之主，肺為聲音之竅。然五臟各有聲，而肺屬金以司之，乃聽命於心，以發揚其聲耳。肝音角，聲直以柔；心音徵，聲高以長；脾音宮，聲大以緩；肺音商，聲清以揚；腎音羽，聲深以滑，此五臟聲音之等者也。肝喜叫怒，心喜言笑，脾好樂歌，肺好哭泣，腎好呻吟。此五臟聲音之為疾者也。聞是聲即與某臟之病，相參別其五行勝負，以決死生，不其聖乎？問屬君火，正化於午，對化於子，是以心手少陰腎足少陰主之，水隨腎至，故太陽為腑，則手太陽小腸足太陽膀胱也。太陰之經主脾與肺，蓋脾屬太陰土，土生金，子隨母居，是以脾足太陰肺手太陰主之，金隨肺至，故陽明為腑，則手陽明大腸足陽明胃也。厥陰之經主肝與心包絡，蓋肝屬木，木生火，子隨母居，故少陽為腑，則手少陽三焦、足少陽膽也。心包絡非臟，三焦非腑，且三焦為決瀆之官，有名無形，上合於心，下合於腎，主通道諸氣，多為使者，是故與心包絡為表裡。劉溫舒曰：心、肺、心包絡在上，手經其脈從兩手起；脾、肝、腎在下，曰足經其脈從兩足起，蓋手足經所以起上下也。</p>
