<header data-type="book">
<h1>續名醫類案（四庫本）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>魏之琇</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1770">公元1770年</data></dd></div>
<div><dt>底本</dt><dd>清同治間（1862－1874）錢塘丁氏當歸草堂綠格鈔本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=ef00dcb9b94942fda3af5eb4303597b6fDcyMzA20&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·續名醫類案》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0096/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
