<header data-type="book">
<h1>內經博議</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅美</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1675">公元1675年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2762">北京大學圖書館掃描本</a>；《珍本醫書集成》第一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521051">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>題辭</h1>
<p>儒可無用乎。耳目心思等之木石。百年為可悼也。儒可有用乎。兵刑錢穀紹之職司。一時為可鄙也。居今之世。志古之道。求所謂卓然自命。上不溷君王而下不委諸草莽者。其在岐黃之業乎。夫岐黃之業。談何容易。不知陰陽消長之理者。不可與言醫。不知死生變化之故者。不可與言醫。不知草木蟲魚邱陵牝牡之性情者。不可與言醫。不知古今異宜剛柔互用應變合於秒忽者。不可與言醫。若是則五經四子之書。醫之宗旨也。二十一史前後成敗君臣興廢之所由。醫之證據也。與夫諸子百家零星傳記雜出於飲食藥石之書醫之雜俎也。宰相須用讀書人。國醫須用讀書人。如是而儒之一生。無用不等之木石。有用不綴之職司。休德令聞而擅其美。豈不重賴夫醫也耶。醫之不可易言。儒之不可易言也。余性鄙寡交。不樂輕與人。人不屑吾與。猶憶總角時。郡中得交羅君淡生。即今之東逸也。探所得細繹胸中經史袞袞可聽。旁及古文字學。皆可法知其非常人。未幾陵谷變遷。隱見於煙雨蓬茨之下。名可得聞。跡不可得見。如是者三十年。君之讀書樂道。視壯年又何如。而內經博議諸書出矣。人謂與東逸先生同時朝夕討論不倦。所重豈在區區。余曰。儒之無用者如彼。有用者又如此。百歲而後。其欲尚有東逸者。非博議諸書。又焉足千古哉。</p>
<p><u>友弟石年趙汝揆拜書。</u></p>

<h1>卷之一</h1>

<h2>天道部</h2>

<h3>天地陰陽大論</h3>
<p>或問於余曰。軒岐述天地之道。明陰陽之本。終以三合為治。帝臣若鬼臾區。猶曰上候而已。未能明其事也。今二千年來。學者如眾盲摸象。紛紛以運氣治病。卒無一驗。而粗心守陋之傳。謂此且置之高閣。略無省思。不知乾坤鼓鑄萬類。人在氣交。如魚在水。民知所生。而不知所以生。今子沉潛內經。發憤而欲明之。其於造物生天生地生人生物之本。不可不挈其要領。而為後學一明之乎。余曰唯唯。經曰其生五。其氣三。三而成天。三而成地。三而成人。三而三之。合為九氣。九氣具。而天地人三才之體用備矣。夫所謂其生五者。合天地人萬類。皆生於五行之氣也。乃不曰其氣五。而曰其氣三。則所謂一陰一陽之謂道。以一陰一陽而運行之。鼓舞之。其間陰陽各一。而所以能運行鼓舞者。則又有一也。此一合二以成三。而始布五行於陰陽剛柔之間。人在氣交而兩受之。此所以三而成天。三而成地。三而成人也。三才既立。五常備行。而天地人之體用遂分。立天之道。曰陰與陽。則日月四時。運行不息。此其大運也。而又有其總持者。複列五運。首土以持歲功。本六元於司天，以正六次。於以主時主歲主次。各不同也。此天之分用也。立地之道。曰柔與剛。則山川水土。五方陰陽各奠。此其定體也。而又有其遷次者。三陰三陽。各以司年。奉六元司天在泉。各以上下正歲氣。於以紀方紀步紀歲。各不同也。此地之分用也。由是而天地之氣。必三合為用矣。然其間氣化分行。其體則奠定而不移。其事則博濟而不雜。其神則妙用而無方。其道則循環而補救。是故陰陽之氣。有所為各止。而不相凌躥者。如大氣之舉。風寒在下。燥熱居上。濕氣居中。火遊行於其間。是以少陰厥陰在下。太陽陽明在上。太陰居中。少陽通乎上下。於人稟之為體。亦猶是也。此雖六氣交互布濩之相輸。而上中下之定位不移也。又有夾輔而行。參伍為用者。少陽之上。火氣治之。中見厥陰。陽明之上。燥氣治之。中見太陰之類。原其然者。三陽悉起於三陰。陽之所起。陰亦從之而見。少陽起於厥陰。乃中見厥陰。陽明起於太陰。乃中見太陰。以其根底所在。恆相比而不離。故參伍以為用也。又有亢害承製者。相火之下。水氣承之。水位之下。土氣承之。六者皆有承製。陰為循環相救。以消彌其亢甚。而不至於毀裂。是則三合之內。三合之外。又有妙用如此者。無非其氣三之為用。而鼓舞運行於天地人之間。乃天地造物之根。而非人之所能為也。蓋天地之氣。無不有分。亦無不有合。此天地之本。陰陽之朕也。</p>

<h3>其氣三論</h3>
<p>天地陰陽一氣而已。自太虛而有太乙之生氣。由是動靜焉而陰陽分。陰陽分而五行具。是五行之生者。不離陰陽之一氣也。而經曰其氣三。且曰三而成天。三而成地。三而成人。是三氣者。天地人之本始也。試明之。太極無形。靜則為陰。動則為陽。易曰一陰一陽之謂道。此一陰一陽者。非各一之一。乃道之妙用。而合一之一也。唯其合一。乃能各一。則是其本一而已。有三氣存乎其間矣。是故動與靜各一也。而所以能動靜者又一也。由此觀之。太乙之所施生。造化之所鼓鑄。必得三而成物。氣不得三。則無以布行於五。而五非得三。又不能各合夫一也。三者一之用也。五者三之成也。故三而成天。立天之道。曰陰與陽。天總陰陽。而又積陽以自剛也。三而成地。立地之道。曰柔與剛。地具剛柔。而又積陰以自奠也。三而成人。立人之道。曰仁與義。然理以宰氣。而氣以載理。故人之成也。本乎氣交。稟天之陽動為氣。本地之陰靜為精。而有神存乎其間。以立性命之基。是精氣神三者。合而不離也。此所謂三而成人也。且太極用此三氣以生五行。而五行之生。又莫不各用夫三氣。試就人之五臟言之。心為太陽。而主血脈。是合陰陽而自為陽也。腎為太陰。而涵命門真火。是合水火而本為陰也。肺主治節。而水出高源。是合金木水以行氣也。肝為血海。而生一陽以升太衝。是合水木火而總於厥陰也。脾上承火。而下涵水。以奠乎中。火以腐熟。水以滋灌。而土以歸藏。是合水火土而養四臟也。是知陰陽之功。相待為用。陰陽之根。互藏其宅。而五行之變化。皆非一氣偏至之所成。蓋一有偏至。而合三則無偏。至一無鼓動。而合三則能鼓動。人徒知為三。而不知合三。而後致夫一也。徒知生於一。而不知用三。而後全夫生也。自軒岐指出三氣。而造化之妙用始彰。故三五與一。太上之玄閫。養生之奧關也。</p>

<h3>六節五制生五論</h3>
<p>天以六為節。地以五為制。其生五。（天元紀大）</p>
<p>河圖之教五十有五。而總其數為天五地六。分其數為天五地五。天五者、一三五七九。五奇也。地五者、二四六八十。五耦也。奇以五乘五。五五二十五。耦以六乘五。五六三十。此所以天五地六也。然而陰陽交互。氣運相乘。則天氣反以六。地氣反以五。此六節五制之旨。軒岐所述也。蓋兩儀既奠。而後天以陽而化氣。氣本無形。凡六合無形化氣之陰陽。皆本於天氣。以陰而成質。質處有形。凡六合有形成質之陰陽。皆本於地氣。所謂五者。生長化收藏。而成木火土金水是也。所謂六者。少陽陽明太陽厥陰少陰太陰。以奉寒暑燥濕風火是也。所謂六為節者。天以一元布行於地。即本地之六位以分化氣。是天以六為節也。所謂五為制者。地以坤順承之化。即本天之五行以作成物。是地以五為制也。總之天以五而干生。地以六而支生。以五加六而甲子生。天以五用六。地以六承五。此天施地生之大致。而六節五制之妙義也。其生五者。原其初則五行實生於一氣。由其後則萬類皆生於五行。故五行有本生之理。有制用之道。其始也天一生水。天一者純剛之氣也。純剛之氣為全體。故生水。水之為物。一陽居二陰之間。由靜而動。由陰而陽。動而之陽。故地二生火。水火既濟。則形成而物暢。故天三生木。陽既暢發。則陽後生陰。自舒而斂。故地四生金。土居中位。成乎四氣。而成功位次反居其後者。土為萬物之母。奉天而不居。故必於四氣之既成。而後見之也。然土為中宮。為爐鼎。能以水火為用。水火不得則相射。是以戊己之位。藏於水火。此坎納六戊。離納六己。所自來也。故戊己中宮為最尊。布氣育靈。為生物元始。所謂資生於坤也。故以是為南政。君臨於上。而水木火金四臟之氣環拱之。以其環拱。故謂之北政。如臣面君也。至其地支辰戌丑未。居四餘之偏。兼為四庫者。蓋以奠定四氣。所以始萬物終萬物而告成功於物後也。故天雖以五生土。而常以一先四。而首萬物。一先四者。即五數之一。而首以土運之義也。此萬物所以資始也。地雖以十成土。而恆以二居五而終陰陽。二居五者。戊癸化火。而適終於地二之數也。此萬物所以資生也。生生之本。制用之道盡矣。</p>

<h3>正六氣說</h3>
<p>初氣厥陰風木。大寒立春雨水驚蟄。二氣少陰君火。春分清明穀雨立夏。三氣少陽相火。小滿芒種夏至小暑。四氣太陰濕土。大暑立秋處暑白露。五氣陽明燥金。秋分寒露霜降立冬。六氣太陽寒水。小雪大雪冬至小寒。各至六十日。</p>
<p>顯明之右。君火之位也。君火之右。退行一步。相火治之。相火之右。復行一步。土氣治之。復行一步。金氣治之。復行一步。水氣治之。復行一步。木氣治之。（六微旨大論）</p>
<p>六氣內經無正文。而於加臨明明見之本文者。止有六節氣位一章。發明司節之位。而於六節之陰陽上下未之詳也。故後學每以六氣一氣呼之。又不辨司天六元不同。一概改著。為說以詳之。夫天氣之行於地。既布之以五行。分之以四時。歷以日月之行。而成歲功。此萬古不易。所謂天地合氣也。然為氣行其間。每不得與日月朔望相齊。故古聖更以斗杓紀氣於十二宮。而祀之以二十四以會周天。後分統以六氣。凡六十日以分一氣。周而復始。所謂四時之止也。然其為氣上下不同。標本各異。初氣為厥陰風木者。一陽也。於卦為復。覆在九地之下。正當兩陰交盡之時。是以上為厥陰。下為風木。故風木本陽而標陰也。二氣為少陰君火。君火見於卯。所謂顯明之位。其時為春分清明。正三陽出地之時。乃不名之少陽。而號之為少陰。不名風木。而名以君火者。以此時三陽雖出地。而其上仍屬三陰春寒猶屬是氣。尚為陰之少。故曰少陰。君火見於此者。易所謂帝出乎震也。帝主十二辰。於時無所不統。而於此分時者。前此一陽尚在九地之下。而人歷於顯明。則聖作物睹。是以首出之於此也。其火主照臨。不主熱物。亦不奪春令。故曰君火不用。君火之右。即為夏令。為三氣之陽相火。相火當巳午為南離君位。非相火之所當。唯君火不用。故退行一步。使相火當之。俾為夏官。以供臣職。故名以相火。明其無犯上之嫌也。相火當六陽之盛。正為太陽。乃不曰太。而曰少者。以陽雖盛。而尚在地上。未亢未高。故猶曰少陽也。四氣為太陰濕土。濕土在未坤也。坤為太陰。位在未上。又當未月。坤正臨事。故以太陰名之。又其時自大寒一陽生。以及於六陽。為上半年乾之行事。自夏至一陰生。至亥以盡於六陰。為下半年坤之行事。陽以順行。陰以逆行。故一陰之生。不名一陰。以其生由太陰坤德。故即以太陰名之。時雖溽暑酷烈。六陽極盛。而總曰太陰者。以陽已退職也。且當此之時。使非土潤溽暑。則南離火旺。燥金安生。唯坤居其間。以土合火。而騰其濕氣。則大雨時行。而得以御火。使金氣生。而氣進與六陽代禪。非太陰之為而誰為耶。五氣為陽明燥金。陽明者。以其時去溽蒸而清明。退矇昧而揫斂。堅潔清肅。陽在上而方明。故曰陽明。金氣堅而且洌。是以為燥。六氣為太陽寒水。寒水於時為亥。水屬三陰。乃其上為太陽者。此時陽退而在上。為亢為高。在五陰之上。於卦為剝。居停而不用事。故以太陽名。而納之寒水也。寒水本陰。而標陽者。以此總之。正六氣進氣居下。退氣居上。春夏陽自下升。故厥陰少陰在上。秋冬陰亦自下而上。故陽明太陽在上。在下者為進氣。在上者為成功。而進退之氣。標本之說。於是可見矣。此為主氣司天。所加為客氣。主客之分以此。</p>

<h3>為運為氣五六說</h3>
<p>自陰陽二氣交易鼓舞。以化生五行為萬物。而三才之成全奠其中。然所謂陰陽交易鼓舞者。二而已矣。二而有無息之用。萬而仰致一之道。以譬明之。五行為銅。二氣為炭。此生生之本。由於交易鼓舞之妙。從無而有。從有而生也。乃五行者。不明所自。請得言之。天一生水。陽始交於陰也。地二生火。陰始交於陽也。得陽而生火。得陰而生水。此陰陽定交之始。故所生二子。仍肖父母。是以乾道成男。坤道成女。道本斯矣。然以二氣之鼓舞言之則水火生而萬類之胚胎具也。故曰水火者。陰陽之徵兆也。自茲而天三生木。地四生金。則陰陽既交。而互生互長。萬類成形而堅定。成形為木。堅定為金。生矣成矣。故曰金木者。生成之終始也。然而能終之始之。必有為之先者。而使二氣為之鼓之舞之。則造化之藏用自成壚鞴。非中宮奠其元氣。曷能不渝。此土之龐厚。為天五而居中。天五者。非以次而為五。乃攝四而為五也。地之十承焉者耳。由斯言之。天地之施生。定於五行。盈天地之物生。莫非五行。四時之更。莫非五行。五方之位。莫非五行。而五者之運。行於天地之間。為天為地。為人為物。為形為氣。有一不在運中者乎。至於所以為六者。亦自有說。本然二氣三分而六。因陰陽之氣。有初中末。有少壯老。其氣各有盛衰。故各分而為三。是以為六也。以六乘五。以五成六。於是五行物類之生成消殺。恆乘於六氣之進退盛衰。故六氣者。所以節宣五運。而成其化育者也。無一物不成於六氣之中。無一時不被六氣之化。豈止五運六氣為加臨之說乎。是以帝問。而岐伯曰。五運陰陽者。天地之道也。萬物之綱紀。變化之父母。生殺之本始。神明之府也。又曰陰陽之氣。各終期日。非獨主時也。今觀於甲子。而陰陽之紀以立。於是歲立。而年月日時陰陽之氣各立。無非五六者。請更言之。時一日有十二。十二者。陰陽兩從六也。以五乘六。故五日一周甲子為一候也。一周甲子。氣亦一周矣。故可以為候。此小周也。推之為七十二。而大周矣。此從時而起者也。日者。甲乙至癸為旬日。天數五。故二五為小周。以五加六。故六十日為備一周。又歷六甲子。為大一周成歲矣。。此以日為起者也。月者。歷十二辰恆主。今以紀時。又用五行以紀六氣。而四時始備。凡五歲一周。歷三十年而備周。此以日為起者也。歲者。十二年一紀。六十歲一周。此一周者。又合年月之大而周之也。以五加六。小者為小周。大者為大周。然應天之氣。動而不息。故五氣而右遷。應地之氣。靜而守位。故六期而環會。此五運六氣。主歲之常期。起於天地之自為六氣也。由日時月而言。為陰陽生物之合氣。由五運六氣主歲而言。為陰陽成物之分氣。有分有合。有從合而分。有從分而合。此之所謂必以三合為治也。然而天主動。為五行之主。故運居其中而常先。地主靜。六氣以不遷為會。故司天在泉。各有其故。要而言之。合氣以專生物。分氣以節成物。三合為治。人在氣交之中。內稟其合氣。而嘗外應其交氣。此歲氣五運之加臨。何時而可廢之也。其未可驗者。南北剛柔。陰陽向背。未可一齊。岐伯亦列其如是焉耳。使後之學者。通天地之秘。而行其活法。未嘗印板文也。至後世加臨尋病。而又不能知三合相交所乘臨之盛衰。而懜為鈴法。貽笑千古耳。</p>

<h3>五運說</h3>
<p>五運以土為首。而加甲終復加己。循環十干。而不用正干之本氣。說者謂甲己合土。此為化氣。夫所謂化者。逢合乃化。不逢合則不化。五運之加。甲己相去五歲。豈有逢合而化之理。又曰此本天氣定位非加臨也。經曰丹天之氣。經於鬥牛女戊分。黅天之氣。經於心尾己分。蒼天之氣。經於危室柳鬼。素天之氣。經於亢氐畢昴。玄天之氣。經於張翼婁胃。其戊己分者。則奎壁角軫也。五天五行之守氣。各有所橫以加於宿度。臨於十干之上。如黅氣經於心尾己分。心尾當甲。角軫當己。故土位甲己也。以下皆然。此說最為近似。而其實不然。蓋天動而虛。其氣圓通。而初無定氣。其臨御五行。自有本然當然之則。而初非有守氣以期之也。岐伯述天元冊曰。大虛寥廓。肇基化元。萬物資始。五運始終。布氣育靈。總統坤元。夫肇基化元。而布氣育靈。乃云總統於坤元。是坤元為萬物之母也。坤元既為萬物之母。而總統之。則天亦必有以先用之。天之十干。以代戊己居中宮。而先用水火。然後成於木金。豈非總統坤元。而以土為首之義乎。是以天之御化。首以土為甲。而甲遂為土。仍順布五行於乙丙丁戊之上。而以本氣化之。遂以金加乙。水加丙。木加丁。火加戊。畢又再傳。而土加己。金加庚。水加辛。木加壬。火加癸。而其本氣之陰陽。仍有不能從化。而依之以為用者。如加陽干為氣有餘。加陰乾為氣不足。又未嘗不因值年以佐用也。五運立。則年氣有所統。故運之所臨。每居中而常先。如土運之歲。上見太陰。則其氣先。而與司天會。是謂天符。與歲支同氣。則先而與歲會。是謂歲會與天符。歲會三合。是謂太乙天符。所謂貴人者。司天與值歲朝拱之所在也。是以惡所不勝。歸所同和。隨運歸從。而生其病。故五運為該年之根本也。</p>

<h3>司天說</h3>
<p>天有六氣。寒暑燥濕風火，即四時之主氣。候至而布之。以分六氣也。至於司天。則從地上六位之專精。而正對以居之。以主期年。而名之為司天者。依於甲子值歲之氣。仍以地上不遷之氣。會天之元。而立為監司也。其為六氣。一以甲子為序。而異於地上之四時。蓋既以主持一歲。則自當以甲子為序也。其三陰三陽。上奉之者。六元在天。則三陰三陽不自主氣。所以正對皆奉之也。首少陰君火者。君火位午對子。令甲始子。與君為對。故遂名君火。尊君之出令也。其令主熱。不與顯明卯位之君火同。彼以方春行令。止以照臨。此在午宮。所對本屬夏令也。次丑未為太陰濕土。太陰在地。每與厥陰少陰合三陰而不離。故其位必次少陰。又坤土位未對醜。為土之官旺。是以上奉濕令也。又次寅申為少陽相火。火之精。本生於寅。寅對於申。申尚有餘暑。故以寅申奉火令。不當午者。午當君火。不敢侵也。又次卯酉。為陽明燥金之臨。旺於酉對卯。故奉燥令也。又次辰戌。為太陽寒水。寒水本位亥子。而亥屬風木。子為午對。唯辰為水庫。戌當水冠帶。為進氣。故即以辰戌奉寒令。終巳亥為厥陰風木。風木於正六氣。本在醜子及寅司天。移位於巳亥者。木長生在亥。其對巳。故即以此奉風令也。蓋其所司以為一歲之令。唯六元主之。三陰三陽不能盡合。故唯上從而奉之。唯帶有本位本氣。則有本標太過不及之說。經曰少陰所為標也。厥陰所為終也。是巳有其所司。即有其在泉者。以天包地下。地在天中。地居天之半。而天氣之行於地者。亦半行於地上。半抑於地下。在前三氣行於地上。故屬司天。後三氣抑於地下。故屬在泉。在泉之氣沉而不上。故前揚後抑。前宣後郁。恆與司天為對。司天子午。則在泉卯酉。司天丑未。則在泉辰戌。司天寅申。則在泉巳亥。恆相對而輸轉之。故有在天在泉之異也。司天極於三氣。以天施之至也。在泉居於六氣。以地沉之至也。然總以司天為本。故本文不設在泉之歲。以司天統之也。</p>

<h3>地上三陰三陽說</h3>
<p>司天以地上三陰三陽。奉天六元。然上下不類。而以奉之。未解何義。又不解地上三陰三陽。何以定位。內經未之發明。請試論之。予前既明六元之著。盛於三陰三陽之定位矣。此六元之正義也。乃於其對。亦必三陰三陽奉之。豈三陰三陽未有定義定位乎。夫天地之大氣涵於宇宙。大概藏於北。生於東。長於南。收於西。則三陰在北。三陽在東。三陰在南。三陽在西。可知也。在易東北俱為陽方。而此北陰東陽。西南俱為陰方。而此南陰西陽者。要此即兩儀四象之義。所謂天以陽生陰長。地以陽殺陰藏者也。蓋氣必先藏而後生。此乃靜藏之地。故三陰先奠位於亥子醜。而太少厥皆聚者。所以全乎陰以為藏也。藏而後生。而生必於東。故三陽遂正位於寅卯辰。而少明太皆聚者。亦所以全乎陽而為生也。至於南離陽位。君火居之。而又總為三陰者。蓋巳午未皆長氣也。有生則必有長。長者實氣也陰也。北陰無以實長。故三陰亦聚於南。所謂天以陽生陰長者此也。西為蓐收正位。燥金居之。故西為陰方。為成為收。而三陽又居之者。蓋藏物必自下。收物必自上。生物必自下。殺物必自上。且自暑而涼。自秀而實。皆自上而下。上者陽也。而其時之肅殺者、亦陽也。申酉戌為肅殺之方。故三陽亦聚於此。所謂地以陽殺陰藏者此也。蓋天之二氣。分為四象。北為陰。西為陰中之陽。此地之二象。東為陽。南為陽中之陰。此天之二象。而生長收藏之理。備著於此矣。</p>

<h3>天道或問五則</h3>
<p>問曰、五行各有正氣。天地所合。干支所同。而陰陽之用。各有變遷。又參錯不同何也。曰、此正所謂三合之治也。三合而治。必將合氣。必為主用。或從本氣。或從標氣。或因乎其盛。或由乎其化。雖有不同。要皆取用以崇體。而不以體勞物也。如五運以土為首而加甲。自甲為土以下。皆不用幹矣。而甲丙戊庚壬值年。仍為氣太過。乙丁巳辛癸值年。仍為氣不及。其干雖變。而陰陽不變。則原非不用幹也。司天亦變支矣。而火當午。土當丑未。金當酉。與歲為會。則為當其位而合其氣。是皆不變本位。亦不廢本支也。大約陰陽之用。合兩而成。以三為用。故陰陽之行。雖一體。而動變則各由其道。各由其道者。所以妙陰陽之用也。一切三合變氣皆如此。知其用則不疑其變矣。</p>
<p>問曰、司天運氣合用。而有天符歲會。乃有小五運。復參於司天在泉。運氣之間。則又何也。曰五行三合之治。無往而不用。亦無往而不三合也。如辰戌太陽司天矣。而辰戌備歷甲丙戊庚壬之五位。則五運亦盡歷寒水之一位矣。寒水唯一。而有五變。五變之中。所運行以周一歲者。亦各有五運。猶司天之間立紀步也。既以大五運與司天為乘臨。則亦有小五運與間步為乘臨。此亦陰陽自然之道也。歲氣必以木為主。故以太少角為初。以太少羽為終。五運之生序不可紊也。然其用微。不及間步之劇。故經不著病。要使人知之爾。</p>
<p>問曰、五行五用。而各為首。六氣首風木。司天首火。五運首土。五行本生首水。其成首金。循環而能為首者。豈有義乎。曰、此陰陽造化之妙用。不可思議者也。由其初而言生物之始。始於天一。天一水也。水得暖而升。故火繼之。火水鼓盪而形成。故木繼之。木長而堅。故金繼之。四者非土不成。故成必以土也。洪範之序如此。蓋生物之原也。若四時六氣。必以歲德為首。歲德在木。故木起厥陰。而臨官於寅。所以達生氣通人事也。自木而火。而土而金。以止於水。四時之序。生長化收藏之事。五運之首土者。天之氣自中而運。而戊己居中以生養萬物。故即此中宮推之。以四正環而拱之。以行其生生之用。此在天之事也。若司天以火為首者。少陰君火。有帝之尊。於以出治。孰不歸仰焉。然唯斗杓初指。帝乃臨之。帝出乎震。故以火為首。而以厥陰為終。蓋三陰為朋。今少陰居中。而厥陰在前。則必俟歷三陽。而厥陰為後矣。厥陰位亥。亦終之義也。由其成功而言。金木者生成之終始也。顯萬類之成。而列萬形之質。此不唯其始。而唯其終。故必見其堅成。而後水木火土四形備具也。此成物之序。以其致用而言之也。</p>
<p>問曰、四時陰陽順逆之行。有左右之辨何也。曰、陽自下而上。故左旋而為春夏。陰自上而下。故右旋而為秋冬。是以春為生氣而西行。變其收氣而為暄。夏為長氣而北行。變其臟氣而為熱。秋為收氣而東行。斂其生氣而為涼。冬為藏氣而南行。斂其長氣而為寒。西北行為順。東南行為逆。春夏日躔北陸而長。秋冬日躔南陸而短。亦陰陽順逆之序也。</p>
<p>問曰、經謂陰中有陽。陽中有陰。何也。曰、陰陽本合一者也。自太極動而生陽。靜而生陰。立之以兩。而相為對待。此各一之一。人所易知也。以動靜為鼓舞。以陰陽為妙用。無形而致有形。同體而立異體。陰陽合作。而鼓化機。此合一之一。人所難知也。是故本其太始而言。陰陽之原。由於一機。靜極而陽生。動極而陰生。陰陽互相生也。本其成位而言。陰陽之根。互藏其宅。火胎子中。水胎午中。陰陽互相宅也。人能悟陰陽之本一。乃能知陰陽之能兩也。</p>

<h3>天道六氣中見論</h3>
<p>帝曰。願聞天道六氣之節盛何也。岐伯曰。上下有位。左右有紀。故少陽之右。陽明治之。陽明之右。太陽治之。太陽之右。厥陰治之。厥陰之右。少陰治之。少陰之右。太陰治之。太陰之右。少陽治之。此所謂氣之標。蓋南面而待之也。少陽之上。火氣治之。中見厥陰。陽明之上。燥氣治之。中見太陰。太陽之上。寒氣治之。中見少陰。厥陰之上。風氣治之。中見少陽。少陰之上。熱氣治之。中見太陽。太陰之上。濕氣治之。中見陽明。所謂本也。本之下。中之見也。見之下。氣之標也。本標不同。氣應異象。（六微旨大論）</p>
<p>天以五行降行於地。因用地之三陰三陽。推移治節。而為六位。於是天之五行。亦分之六氣。六氣者、寒暑燥濕風火。為天之六元也。南面而閱地之六位。則六元為本。六位為標。其標本之從。有正對之化。有根源之治。故本標不同。氣應異象。所謂不同者。如少陰君火在午。太陰濕土在未。厥陰風水在亥。少陽相火在寅。陽明燥金在酉。太陽寒水在戌。此為旺氣。其沖為對化。而三陰三陽。又隨而上奉之。故本標不同。予於司天。已推言之矣。此章明天地本然之六位。於三陽之定位。則始少陽。中陽明。終太陽。三陽合為初終而不離。於三陰之定位。則始厥陰。中少陰。終太陰。三陰亦合為初終而不離。此陰陽之定氣也。原其根本。則三陰在北。亥子醜為正位。三陽在東。寅卯辰為正位。然以此氣奉天。而歷其生長收藏。則其氣之承天者。三陰亦在南之陽。故臨乎巳午未。三陽亦在西之陰。故加乎申酉戌。凡地之三陰三陽。其氣有本有從天之六元。其化有正有對。於以歷十二宮而合之。此所以標本不同。氣應異象也。今曰中見者。則於其本氣標氣之間。合而有之。故曰中見。所以節宣本氣。而參和標氣也。然此氣為天地本來之元氣。自有之而本不相離。故條理有自。而不妄參合。何以言之。三陽皆起於三陰。三陰固為三陽之根也。而各有義焉。厥陰陰盡而生一陽。於陽為少。而成風水之氣。是少陽生於厥陰。而合為一體也。太陰以濕土孕金。而為陽明。雖為二陽而成燥金之用。是陽明生於太陰。而合為一體也。太陽由於少陰。本以秋金而生寒水。是太陽生於少陰。而合為一體也。蓋陰陽之相隨。必以其氣之相次。故相貫而不離也。然其正對不同之間。更有參和之妙。又不可不察也。少陽之上。火氣治之。相火烈矣。而見厥陰純陰。此上下相濟也。陽明之上。燥氣治之。燥亦亢矣。而中見太陰濕土。既能生金。亦能治燥也。太陽之上。寒氣治之。而中見少陰金水和調。不使太陽亢也。而三陰又異焉者。厥陰之上。風氣治之。而中見少陽天和。不使厥陰蔽也。少陰之上。熱氣治之。此少陰乃奉天之君火也。中見太陽君火。為太陽之主。不得有雜也。然其間有寒水。亦既濟之理也。太陰之上。濕氣治之。中見陽明。前以濕治燥。茲以燥勝濕也。其參和節宣如此。是則所謂本也。</p>

<h3>地理六節位下六承論</h3>
<p>相火之下。水氣承之。水位之下。土氣承之。土位之下。風氣承之。風位之下。金氣承之。金位之下。火氣承之。君火之下。陰精承之。亢則害。承乃制。制則生化。化則盛衰。害則敗亂。生化大病。（六微旨大論）</p>
<p>此章王馬滑張諸家。尋其說而不得。乃以氣交之變釋之。謂少陽火生。終為溽暑。不知此專氣之次。非承製之的義。夫承製者。皆元氣之所本有。即其所生之理。備有生化之道。初非矯強挽回也。陰陽動靜。皆涵天地之元貞。故其生物也。貴其專精。尤忌其一往。是以陰中有陽。陽中有陰。如易卦之飛伏。飛下即伏。伏上即飛。故乾卦六陽。其下皆坤。坤卦六陰。其下皆乾。陰陽之精義。本是如此。吾故於天道之六氣。各有中見。而知地節之六位。自亦有為之內者。以為參和。是故位之下即內之義也。相火於節。主四五月。為六陽之元。而其時之水氣正盛。前為穀雨。後及芒種。皆有水澤流溢。以助調相火。是水承之義也。至於水位。則大雪冬至小寒之日矣。時當寒沍。而正為物所歸藏。其所以歸藏者土也。有藏而後有生。故有下起元。而得回地中之一陽。是土承之義也。若夫土生萬物。而亢則有水火二至。亢於濕。則水至而流。亢於燥。則火至而堅。苟非風木和柔之氣。內居其間。何以使土脈和動。故土旺長夏。而木正向榮。是其義也。風為春木。由甲坼條舒。以至於長茂堅成。必有金氣以收之。是以榆莢之落。見於春時。亦其義也。金位兌說。而神主蓐收。若無火氣之微布。則淒冽之氣。即申酉而寒沍矣。乃由白露方涼。漸於寒露。暨於霜降。於時生物。及多至於成。但火猶有存者。此知金下有火也。至若君火所承。則不曰水氣。而獨曰陰精。陰精者。生氣之華也。地上三陰之全氣也。其火不主夏令。而首出顯明。當三月之和。地氣騰上。陰精所奉。莫備於此。是猶眾職效用。而君自端拱也。蓋亢者專氣之一往。承者相濟之參和。非以其相反而相犯為制也。唯其內有以相承相濟則元氣足。而生生厚。故曰制。生則化。蓋生而無制則化偏。生而有制則化備也。自此而列一任加臨交變。有餘不足。至與未至。雖外有此列。以乘除其間。而其本生之氣。自不敗不亂。故曰外列盛衰也。若專氣一往而之厥所。承則本氣已見敗亂。安得不為生化大病乎。</p>

<h3>辨君火以明兼退行一步不司氣化論</h3>
<p>火性炎上。次列五行之一。初無君相之名。唯主宰之帝。以神明為居。以照臨為用。而同於炎上高明之施。此君之所以為體也。然君雖以火為體。而火非君德。故君火不用。要其為不用者。以君有君之德以為用。而非以火用也。經曰。君火以明。以明者。謂其照臨之不爽也。諸家循其不用。見為徒立空名。遂改其文曰。君火以名。豈知此義者哉。地節六位章曰。顯明之右。君火之位也。君火之右。退行一步。莫知其故。此有說焉。顯明之右。在卯辰之間。辰為天門。乃帝之明堂。布政宣化之所。易所謂出震齊巽者也。凡帝之施化其德為大生。其用為太和。其體為純乾。備元亨利貞之四德。以體元首出。雖主氣於春分之一時。而終不奪春之施。此君之所以不用也。況以火用乎。然既不用矣。而曰退行一步何也。少陰君火之後。為巳午之火令。使君以火用。則復行一步。巳午正當其令。豈復有相火之令。唯君不以火用。而斂藏以退行於位前之寅。因起長生之丙火。使主巳午夏令。為夏官而治之。此相火所以欲其不愆於位。而代君之行事也。自是而下。凡諸復行一步。悉皆臣職。則悉皆效用於君。此君之始終不以火用也。若夫司天。則君火既首出於甲子。而該年則曰在天為熱化。在地為苦化。居氣為灼化。此既司化矣。而又曰不司氣化。亦未有明其說者。豈知君火雖屬子午。而所謂熱化苦化。一皆子午之化。而總非君主之司此氣化也。君自穆清耳。豈遽改其德而司熱令乎。所云灼化者。君德在步而不宣。然威行自近而不可犯。故當其居氣則有步逼之。逼之既近。安有不灼者耶。然此要非君火之用也。</p>

<h2>人道部</h2>

<h3>人道大陰陽疏</h3>
<p>人道大陰陽有六。以立人紀。其一為先天奠位立體之陰陽。經曰。聖人南面而立。前曰廣明。後曰太衝。太衝之地。名曰少陰。少陰之上。名曰太陽。廣明之下。名曰太陰。太陰之前。名曰陽明。少陰之前。名曰厥陰。厥陰之表。名曰少陽。夫人以神立以精存。而行之以氣。是以神為大君。精為儲養。而氣充以輔立神。必有建極之處。廣而明者。所以立極也。前之者。神君以臨照接物。故前之也。後為太衝。沖以升騰為義。升其精氣以濟乎上。以奉神君。故即以為後。後之者。此氣從乎水位。故後之也。由太衝之地。即為少陰。少陰水位也。為藏精之腑。既藏精以自固。復升陽以騰驤。故其上為太陽。太陽居上，充乎巔頂。為陽之極盛。要即衝脈而上之。故同衝脈。俱從少陰也。而前廣明之下。復次太陰。其前為陽明者。陽明太陰同為中土。定為國儲倉廩。以賦中邦。是以太陰次廣明也。少陰之前。即為厥陰。厥之云者。絕盡之義也。厥陰居少陰之前。當太陰之下。兩陰交盡而厥。而一陽即來復於此。故其表即為少陽。此少陽生九地之下也。先立前後者。奠水火之位也。於是終太陰以司會。後少陰以宅精。底厥陰以成終成始。此三陰之正也。太陽居華蓋之上。陽明充中土之貢。少陽起太和之氣於絕蘇之會。此三陽之正也。三陽皆三陰者。陰為陽宅也。</p>
<p>其二為形氣致用之陰陽。經曰。三陽為經。二陽為維。一陽為遊部。三陰為表。二陰為里一陰絕作朔晦。夫陽有氣而無質。陰有質而有部。故陽能主陰。而陰得奉陽。陽者人之生氣也。生氣莫盛於三陽。三陽為生人之大主。其氣能貫臟腑。而立十二經。故三陽為經。所謂經者。大經大本也。二陽充滿在中。所以會肌膚。束筋體。扼四關。繳四末。故為維。維。維繫之也。遊部者。初陽起下。其氣輕柔。升其和德。進臨諸經。而無所不達。故為遊部。蓋陽以氣為主。而其用則自下而上。分為三部。少陽自下。陽明在中。太陽尊盛在上。其體用如是也。三陰則有形質矣。外而官體。內而臟腑。以及精液血肉骨脈。凡屬有形質者。皆陰為之。是以得分表裡焉。陰之大總為三陰。宅中而主形軀肌肉。故為表。二陰為受精之宅。受五臟六腑之精而藏之。是以得主臟腑而主內。故為里。一陰絕者。在下之窮陰也。陰盡則陽生。象晦而復朔。故云作晦朔也。三陰既有質有部。則其形層如是。蓋三陽為縱。三陰為橫。合之形氣。所以致用也。</p>
<p>其三為上下倡和。雌雄相應之陰陽。經曰。三陽為父。三陰為母。二陽為衛。二陰為雌。一陽為紀一陰為獨使。易曰。一陰一陽之謂道。夫陰陽必兩相倡和而能鼓舞。一則神。兩故化也。是以言三陽之尊。必及三陰之親者。有其尊必不容廢其親也。二陽二陰。言衛與雌者。衛以營其外。雌以繕其內。其居中用事譬猶處家之道。必夫婦親之也。紀與獨使者。遊繳之任。在一陽罷極之肩。在一陰相合而始。備行役傳宣之用。譬之行旅。有車騎必給芻茭也。此陰陽之輸應。不可不合兩也。</p>
<p>其四為自相鼓盪。以各成一致之陰陽。經曰。太陽為開。陽明為闔。少陽為樞太陰為開。厥陰為闔。少陰為樞。陰陽既以合兩為功。又以一致為和。合兩則共為開闔。各一則自為開闔。蓋陰陽之用。總以鼓鑄為事。三陰三陽。雖各處形層部位。而要其共氣。則陽與陽對。陰與陰伍。必自相得以為和。故亦自為開闔。各有樞以持其間者。所以致開闔之用也。太陽盛於衛外。故為開。陽明充於營中。故為闔。少陽能與之參和。故為樞。必三者備而合為陽之用。乃以成其一致。而其脈乃搏而勿浮也。太陰健運。而其氣不藏。故主開。厥陰潛藏。而其氣不揚。故主闔。少陰蓄水藏火。獨兼二氣。故主樞。有樞而兩陰始不迫促。是以能合而致一陰之用。而其脈乃搏而勿沉也。其五為臟腑立職之陰陽。先天陰陽既有部位。則設官分職以守之臟腑者以五。五行部署。應天之官。而分之以職者也。臟以藏神。腑以備器。其貴賤相使。各殊其位。經曰。心為君主。為陽中之太陽。肺為相傅之官。為陽中之少陰。心主夏。肺主秋。二臟位胸中膻中。所謂陽而在上。即應天之燥熱在上者也。脾胃者。倉廩之官。為陰中之至陰。主季夏。陰中者。脾屬足部。至陰者中土坤德。以順天承。而不以陽居也。胃為水穀之海。當兩陽合明。以合乎太陰。故亦同居中土。即應天所謂土居其中也。腎為蟄藏之官。為陰中之太陰。肝為將軍之官。為陰中之少陽。一主冬。一主春。腎既藏精。為先天寒水。與心太陽為對。故即名太陰。肝從一陽來復。而起風木主令。故為少陽。二臟居足陰部。而又在下。即應天之風寒在下也。膽為中正之官。十一臟皆取決焉。以一陽之生氣。為太和之元神。而遊部三焦。出入經絡。即應天所為大遊行其間者也。外此則膀胱為州都。大小腸為傳送。以備器致用。經云。此皆至陰之類。通乎土氣。而不得以應天矣。前廣明章。陰陽奠其地分。而此臟腑分其守職。故謂五臟能立陰陽則可。謂地分陰陽即五臟則非也。凡內經論陰陽病。不拈臟腑。職是故耳。其六為營氣隧道。並行出入之陰陽。此為經絡也。經絡者。以其經連屬五絡。以通部分。為隧道以出陰入陽。出陽入陰。總為通衢。而每經隧道。又各交屬互絡。通乎上下。所以各經有表裡之名。此表裡要非太陰陽所主之表裡也。足三陰從足入腹。手三陰從腹出手。六陰皆以次相接於腹中。手三陽從手走頭。足三陽從頭走足。六陽皆以次相接於頭上。腹中者。以陰接陰。頭上者。以陽接陽。其至於手。則以內陰接外陽。其至於足。則以外陽接內陰。所謂隧道也。而各經並行者。在手則太陰肺。出臂內上廉。陽明大腸。即出臂外上廉。少陰心。出臂內下廉。太陽小腸。即出臂外下廉。厥陰心包。出臂內中道。少陽三焦。即出臂外中道。足三陰三陽亦然。茲則以其隧道並行。所謂表裡也。若不識臟腑陰陽體用。又不知經絡。此表彼里。是猶眾盲摸象也。是以得條列而著之。</p>

<h3>心腎論</h3>
<p>經曰。心者。生之本。神之變也。腎者。主蟄封藏之本。精之處也。夫神精之用。為人身之大主。精以養神。神藏於精。而以氣行乎其間。惟其有以居之。有以藏之。而人道以立。此心腎所以為人之大主也。陰陽離合論曰。聖人南面而立。前曰廣明。後曰太衝。廣明者。心也。居心必於開廣之地。清明之座。所以建極也。前之者。神君坐照嚮明接物也。然其用為火。火之體亢而不下。若以昭明為事。而無真精真氣以養之濟之。則必有自焚之患。此太衝之由。未有不能不為之後焉者也。太衝者、生氣之所由來。起升之而不息者也。太衝之地。即為少陰。少陰腎之宅也。腎為先天之根。藏精之腑。天根之處。乃生氣之原。其精內蘊。則其氣上騰。故聖人首揭之。以此為養心存神之物。而特云後者。唯此可奉於前也。然則以精養神。真道自主於腎。而凡儲精之處。以為養神者。抑又無所不備。不特太衝之下。臟為精海以匯之。而又於六陽華蓋之上。以太衝之精。結為泥丸髓海。而為玄珠以覆之。又於任處地道之道。復有關元黃庭。孕結金水之氣以蘊之。此正所謂君火之下。陰精承之者也。顧人之心為神之主。前後上下。既能積精以養神。而歸於太衝所起之腎矣。又謂腎為蟄藏之本。惟甚吝嗇。此何以言之。蓋人之陰精。藏氣於腎。而其精泉難充。最後成女子必二七。男子必二八。而後天癸至。天癸者。非精非血。天乙之真氣也。故其至也必久。養之而精血充。充則男子始瀉。女子始月。至其盈數。女子不過七七。男子不過八八。故精難成而易虧。此腎所為蟄藏之官而吝嗇也。若使腎家無主。不蟄不藏。命門水火兩亡。則精衰而神耗。精已而神去矣。不特此也。腎之所主。受五臟六腑之精而藏之。必五臟盛乃能瀉。是腎主人身一盤五行之全局。而合之以為精者也。故五臟若有一衰。則腎精即已不茂。蓋腎精所以養神而藏氣。實以化精。故曰精食氣。氣歸精也。</p>

<h3>君相二火論</h3>
<p>火於八卦居一。於六氣司天獨居二。人之臟腑亦二。蓋天之帝人之心。皆以照臨為德。其居神之物。有火象焉。此所謂君火也。是故在天之君火。本不以火用。特以明乎帝德。故主十二辰而首出之。在人之君火。亦非以火用。特以建極廣明。故主十二官而臨照之。初非以灼燔為令也。經曰。君火以明。明者。明其為照也。天之君火。臨於卯。位於午。而於司火不無熱人者。以午在夏。正令自熱也。人之君火。正於廣明。廣明之地膻中也。膻中為神明喜樂之官。清明廣大之地。為生之本。營之居。唯無精以養。則或有神飛而自焚之患。否則。清靜寧謐。何熯爆之有。而君火之不用。從可知矣。相火者、在天則生巳午。其官為火。正奉行天職以立暑令。不得同於君火。故謂之相火。相火雖烈。實為萬物盛長之氣。若無相火。是在天之六化廢其長令也。於人亦然。心胞代君行事。在三焦之中。處兩陽合明之地。以應天之夏令。而主腐熟水穀。經曰。陽明者。午也。蓋以陽明當相火夏令。不言心胞。而心胞在其中。今言心胞。而不言胃。以胃歸土也。而相火之義。亦從可識矣。蓋人之相火。起少陽膽。遊行三焦。督署於心胞。為陽明胃腐熟水穀之功。是火之能相在少陽耳。先輩丹溪諸公。倡言厥陽五志之火為五火。而無其名。遂以龍雷之陰火為相火。而起其說。承訛至今。至趙獻可又為相火說。喻如鰲山之燈。人物跳擲。皆賴中心之火。而大七節之旁。中為小心。為火之主。而十二官以聽命焉。不知七節之旁。中有小心者。非當腎之命門。乃心俞之出背。不可針灸。故內經提出以戒學者。非謂相火也。且鰲山之火。本以出風。故必取之於焰。以轉其輪。若據此為論。非惟不知相火。並亦不知真火矣。曇氏曰。性火真空。性空真火。陰符曰。火生於木。禍發必克。蓋陽燧真形。即在陰陽奠宅之中。而此火又在君相有形之外。於人則隱胎坎水。朕兆風木。是謂龍雷。無事則不現。而亦不用。故水濡木柔。雖激之而不起。唯水涸木枯。氣逆血沸。則勢遂焚巢燎原而不可止。此火若起。是猶反君滅相。豈君相治平之火哉。緣此火不起於子半。不循行於少陽膽。猝犯之而猝起。正所謂火生於木。禍發必克者也。相火雲乎哉。</p>

<h3>衛氣論</h3>
<p>有問於予曰。衛氣晝行陽夜行陰。其行皆以傳經行度。此義不疑乎。曰。有。軒岐本經本無誤詮之文。獨於論衛氣。遠引宿度。別列其所行之經絡。若猶然營氣行度者。然於氣之剽悍不循經之說不合。而諸家未能洞悉其故。泥以行度為二十五周。是不可以不辨。蓋衛氣者。即太陽之盛氣。所以衛外而為固。其氣則剽悍不循經隧。內薰肓膜。外溢皮毛。其所出入陰陽皆滿。所以名衛。若待以次而行陽行陰。則已有不衛者矣。要其氣為純陽之大氣。半入經隧之中以和營。而半溢經隧之外以為衛。是即所謂體之充也。經文明言其出下焦。而人言為水穀之悍氣。蓋謂水穀之氣能出衛猶去脈。得食則高。而要非所以為衛之由也。唯其為下焦先天之本。故能出入陰陽。而無所不至。經曰。平旦陰盡而陽受氣。日入陽盡而陰受氣。則常從足少陰入。其於陽目張。則氣上行於頭。以下六陽。入足心以下陰分。復合於目。於陰則從少陰內注六陰。是以晝行陽二十五度。夜行陰亦二十五度。此若以經度分之。則衛將為一路之路。抑其未至而不衛者多矣。故言五十度者。盡晝夜十二時而言也。行陽二十五。極晝六時也。行陰二十五。極夜六時也。平旦陽動而動。即與陽俱出於目。以下六陽。然非不下陰分也。日入陰靜而靜。即與少陰同息於諸陰。以遍六陰。然非舍陽而去也。及夜半而大會於子中者。以腎氣動少陽於子。故陰陽相見而會也。總之其氣為太陽有餘之氣。陽明溢滿之氣。而一本於下焦。故於太陽陽明之守氣外。更有此剽悍以常護於脈外。日得以效用於陽。夜得以效用於陰。其行陽而衛於陽也。如列營然。卒乘居前。非謂中軍無衛也。其行陰而亦為陰之衛也。如宿值然。戒嚴肘腋。非謂壁壘無軍。要其晝夜二十五。各盡六時言之耳。必若循次而傳。何謂之剽氣。又何以名衛乎。</p>

<h3>五臟五主論</h3>
<p>心之合脈也。其榮色也。其主腎也。肺之合脈也。其榮毛也。其主心也。肝之合脈也。其榮爪也。其主肺也。脾之合肉也。其榮肌也。其主肝也。腎之合骨也。其榮發也。其主脾也。</p>
<p>五臟藏神主用。而職有貴賤。事有相使。內經明之矣。而於五行之相剋。臟之受制。經反以為主而用之。則何也。蓋五行之妙。每以相製為生。故內經於此特明五臟之養。受生之本。其道固有以逆而不以順者。乃非以為克而以為生也。夫心藏血脈。自當以合脈為主。而偏主於所畏之水。此養心之法也。何則。心以神用。則必取金多而用物宏。苟非太衝之精騰上而調護之。則神空而無所麗。是神之所麗。唯有陰精承之。以為之濟也。所以然者。心本純陽。而其象反為奼女。內自含陰。故其象又為月窟。參同為奼女之性冤而最神。得火則飛。不見埃塵。必使清靜有匹以鎮之。俾嬰兒諧於奼女。而後月窟天根通其往來也。天使奼女之有匹者。非其主之者耶。老氏云。上善若水。水善下而不爭。此持心之道也。天根月窟之往來。奼女嬰兒之諧偶。此養心之妙也。此可知腎之為心主矣。肺主氣。而其象應秋。揫斂清肅。肺之性與用也。若寒涼過甚。則太和失而元氣遂傷。此必有所相濟以生其和。而後元氣得行。能生其和者。非心德之暖乎。唯有火德之暖。以益金體之清。是以金為麗澤。而沛雨露於天河之上。凡金之不燥不溢。得以治節體元加於眾物之表。而不若氣上逆者。此物此志也。肝厥陰。而職風木。其氣兆甲於艮。而凋落於兌。則燥金固所畏也。然肝之少陽。其少也苦稚。其盛也苦怒。其橫溢也苦逆。調之者唯在其金。而輕重治之。使稚者漸堅。怒者遽平。逆者斂緝。而後乃成其為少陽之盛德。故其主肺也。至若太陰脾土。以厚德載物。而育之長之。嘗苦於木之剋制。是木為脾讐也。然土澤而滯。每有水火二窒。水濕則土泥而不生。火燥則土堅而不榮。唯有厥陰之氣。以疏通之。而達其升德。則水不為濡。火不為燥。而後能奔走諸經。以行津液。是脾不可一日不主肝也。至於土為腎主。則更有妙於此者。夫水由地中行者也。以流為性。以險為習。惟是生於天。而涵於土。故源泉不竭。而泛溢無虞。是土能制水。正土能養水也。知乎此。則知腎之所以能蟄藏者。固非土莫主也。由是言之。養心者莫若補腎。保肺者莫若寧心調肝者在於斂肺。扶脾者在於達肝。而滋腎者在於葆脾。相剋之道。轉而相生。此五行五德之妙也。</p>

<h3>五臟苦欲論</h3>
<p>肝苦急。急食甘以緩之。欲散。急食辛以散之。用辛補之。酸瀉之。心苦緩。急食酸以收之。欲耎。急食鹹以軟之。用鹹補之。甘瀉之。脾苦濕。急食苦以燥之。欲緩。急食甘以緩之。而苦瀉之。甘補之。肺苦氣上逆。急食苦以泄之。欲收。急食酸以收之。用酸補之。辛瀉之。腎苦燥。急食辛以潤之。欲堅。急食苦以堅之。用苦補之。咸瀉之。五臟苦欲藥味補瀉。前人王好古有論。然鑿住藥味。膠柱鼓瑟。其於五臟之性情。五味之即瀉即補未之知也。夫肝為少陽木。其性疏達而不能屈抑。故常過中而苦急。急則以剛乘剛。其發暴怒。故不耐鬱而欲散。苦急欲散者。肝之性情也。甘味性和而緩。肝急得之。可以平其中。而制其有餘。故當甘以緩之。辛味發散。與肝同性。為肝之所欲。故當辛以散之。然肝既欲散。而辛適投其所欲。是不唯散之。正以補之矣。故曰以辛補之也。酸為木之本味。而云瀉之者。蓋以酸先入肝。故即借其先入之勢。以巽入而漸以斂焉。則木不急而肝可和。故謂之瀉也。甘緩酸瀉者。皆以制其有餘。甘以緩其前。酸以瀉其後。辛散辛補者。皆以益其不足。散以充其力。而去其鬱。補以順其性。而養其神。此調肝之法也。心為太陽火。其用則明。其官則思。而每苦離照之不充。是以病常苦緩。治之者。以酸味飲之。使安於內而不外馳也欲耎者。思慮之極。猝難安妥。每喜和靖以鎮之。咸。水味也。能濟火之有餘。故當咸以耎之。心耎。而後心不虛。是即咸能補之也。甘瀉者。以其神用不休。乃以甘性之和緩。即用其神而休之。故曰甘能瀉之也。蓋神明之用。常見不足。苦緩欲耎者。皆不足之為也。酸收咸耎者。皆補心之法也。故即甘之為瀉。亦不過少為緩之。以使神明之克安。而要非實有事於瀉也。脾為土德喜燥。而主乎健運。故常苦濕。苦能下滯。滯去則濕去也。土性乎奠而和緩故欲緩。維稼穡作甘。是其本性。故甘可用以緩。亦可用以補也。甘以益其元。苦以散其滯。是之謂苦瀉甘補也。肺主治節。得職則其氣下行。失職則其氣上行。故苦氣上逆為火。苦性清寒而能下。故瀉之以苦。肺金居上。其性常散而不能聚。故欲收。惟酸味能收。以此收之。自使清肅之令。底於容平。此以酸收。即以酸補也。蓋苦氣上逆。為肺氣上不足。苦瀉其火。所以制外來之侮。酸收且補。所以益不斂之金。若本家自壅。則直以本金之辛味而瀉之可也。腎主藏真水。而行客水。燥則真水自病。故苦燥。辛以潤之者。辛為金味。金能生水而兼溢。又能活水也。然腎雖得潤。而或腎氣不堅。則與客水相汨。勢必使相火煽。而精不守。此蟄藏之本。所以必欲其堅也。苦之性味寒而且清。寒能靜龍火之出入。清能別淄澠之本源。故苦之味可以堅可以補也。王氏謂無瀉法。則本經以咸瀉之之謂。何不知腎司行水。客水不行。則真水不藏。古方補腎填精。必兼行水之品。有補必有瀉也。唯不護其精而瀉之。乃為不可耳。但腎家有水火二守。水減則火炎。火衰則水泛。燥與不堅。兩病俱甚。則壯水之主。與益火之源。乃治腎之要也。</p>

<h3>六腑說</h3>
<p>六腑皆以出入名陽。而有重輕之別。其得與於三陽者。唯陽明胃。與少陽膽。連及三焦。他若大小腸膀胱。皆使器傳道受盛之官。不得列於陽數。其以六腑名者。以其同為形臟。同有出入。故名之耳。後學不察。以為生人之陽在此。而加諸五臟之上。以經絡表裡之故。遂從而夫妻之。此大謬不然。試明之。夫陽明胃能合於二陽者。以胃為水穀之海。六腑之大源也。五味入口。以養五臟氣。是以五臟六腑之氣。皆出於胃。而即為五臟之藏耳。五臟不得胃氣。則不能至於手太陰。與胃氣。腎能為營衛周身臟腑之主。而其脈同變見於氣口。故陽明獨得列一位於五陰之間。本經曰。氣口亦太陰也。診胃氣者。亦得以右寸與關上。當肺氣寧靜。而右寸獨盛者。此胃脈之盛也。且胃腑之位。為兩陽合明。其經屬相火。夏氣當乎二陽。經為二陽為衛。二陽為維。以其氣用之大也。知氣用之大。則知陽明之大矣。次則少陽膽。膽列中正之官。決斷出焉。又指為中精之腑。則其所主已異乎形臟。而其腑之氣。直得先天甲氣。而起於少陰。發於厥陰。是二陰之真精所生。以為一陽之妙也。經曰。少陽連腎。腎上連肺。夫少陽起於夜半之子。為腎之天根。其氣上升。以應肺之治節。是所謂中和。極通之上下。故得遊行於三焦。而即三焦之所治。以致用於陽明。凡諸腑臟不得此氣。則不能以為和。是膽之為用。能起九地。而升其地德。亦能出三陽。而布其天德。不止為中正之官。五神之決斷。凡十一臟皆取決於膽。經之所謂謂此也。要其為腑。雖微有出入。勞則有之。而其體則獨居於清靜之腑。以沖和之氣。溫養諸臟。故有中精之目也。若膀胱者。其邪雖大。而其本則州都之官。津液藏焉。待氣化而後能出。夫州都之下邑。絕遠京師。且津液必待化而出。則膀胱之為器。絕不得與諸陽並。而其經反納太陽者。以太陽起於少陰。今歸之以陽。故借納之於此也。其實太陽為三陽之主。為經為父。膀胱雖其本臟。而要不得竟以為父之太陽目之也。後學不詳本經。皆謂膀胱為太陽寒水。以主寒令。豈知六氣寒水之所主。本為少陰腎。人身太陽之經。實非寒令。而膀胱之水。亦非寒水也。二腸者。受盛傳化之官。為胃之器使。亦供役動用之物耳。其腑無靈。其經亦非當陽之用。要以營氣之隧道與心肺相接。故經絡得與心肺為表裡。非曰此二物能與心肺為互用也。脈經以其絡列寸口心肺之上。其說遺誤後學。莫此為甚。夫心肺為陽。在上主諸關前。以主夏秋。此豈可使二腸當之。即脈經偽揆種種。竟無二腸脈狀。知其無以加心脈之浮大。肺脈之浮澀。而別撰二腸絡矣。經又曰。脾胃大小腸三焦膀胱者。倉廩之本。營之居也。名曰器。能化糟粕轉味而出入者也。此皆至陰之類。通乎土氣。內經明指其陰。叔和以其為陽。讀書無眼耳。</p>

<h3>太衝三焦論</h3>
<p>太衝三焦。內經之論備矣。後世知沖督任分三脈。而不知後曰太衝之義。知中焦起營衛。而不知其為匡濟於陽明。必欲求其為腑之形。以為三焦無狀。空有名。是以其說紛紛。皆拘文牽義之徒也。經曰。衝脈者。五臟六腑之海也。五臟六腑皆稟焉。夫為五臟六腑之海。而臟腑皆稟焉者。豈為一線之沖。而與督脈無關哉。至論三焦。則經曰上焦出於胃口。並咽之上。貫膈而布胸中。中焦亦並胃中出上焦之後。下焦別迴腸注於膀胱。而於陽明胃之經絡。則曰循喉嚨入缺盆。下膈屬胃。其直者。缺盆下乳內廉。其支者。起胃口下循腹裡。下至氣街。此與三焦同行在前。故知三焦者。特胃部上下之匡廓。三焦之地。皆陽明胃之地。三焦之所主。即陽明胃之所施。其氣為腐熟水穀之用。與胃居太陰脾之前。實相火所居所遊之地也。故焦者以熟物為義。上焦如霧者。狀陽明化物之升氣也。中焦如漚者。狀化時沃溢之象也。下焦如瀆者。狀濟泌分別流水之象也。是以名為三焦者。特為兩陽合明之胃。與相火之所職言之耳。其為後天穀神。出化之本。以出營衛。以奉生身。使腎之氣上升於肺。下輸膀胱。後天之能事畢矣。然人受生以來。其真元一由先天而起。則少陰為之根柢。厥陰為之沖發。其氣皆挾津液以上。歷五臟而上之。其氣在中後之間。滲灌脊腸。名為太衝。實居陽明三焦之後。故云後為太衝。太衝之太者。其盛為十二經之海。五臟六腑亦皆稟之。與陽明胃。並是臟腑之根柢也內經又謂為血海。與少陰之大絡。起於腎下。出於氣街。又與陽明會於宗筋。於是其後輸出大杼。其前會氣街。大杼在督。氣街在任。是衝脈之盛。灌三陽。滲三陰。包陽明三焦。凡督任陰陽之會脈。皆沖為之也唯沖為之。故太衝之精氣。常得與三焦營衛之行。合行隧道。而繞周身。充微皮毛。而灌臟腑。人知營衛之出於三焦。而不知先天脈氣有與之偕行者。日夜五六十周。蓋先後之天齊至也。人疑衛為水穀之悍氣。決出上焦。而經獨云衛出下焦。遂疑為誤文。不知前言者。特言飲食之能出衛。而實則衛為真陽。能衛外為固。非可以一時之飲食當之。必先天根柢之盛氣。與此為合而當之也。則衛之出下焦何疑。蓋知沖之為義。益知衛之為出矣。</p>

<h3>奇經八脈原</h3>
<p>人身陰陽元氣。皆起於下。故內經以廣明之後。即為太衝。太衝之地。屬之少陰。少陰之前。乃為厥陰。其部為血海。常與太衝騰精氣。而上灌滲陰陽。斯則人之元氣精氣。皆起於下也。而由下而起。則分三道而上。其陽者。從少陰之後。行太陽夾脊之中道。以總統諸陽。其名為督。其陰者。由前陰地道。而上行陽明之表中。以總統諸陰。其名為任。而中央一道。則脈起血海。騰精氣而上積於胸中。為宗氣以司呼吸。其名為沖。是氣則與陽明胃氣俱住中州。亦與營俱行十二經者也。蓋嘗考之督脈起胞中。上巔歷百會神庭。任脈起中極之下胞中。循關元歷承漿。上與督脈會。衝脈起胞中。上行伏臍。會於咽喉。三脈同起於下極。一源而三歧。故聖人不曰沖督任。而總名曰太衝。是太衝者、以一身之精氣上升言之。不獨為血海言之也。中外之間。橫者為帶脈。帶脈橫於季脅。統於章門五樞。總束諸脈。使上下有常。而要約營束之。毋令懶散。其脈如人束帶而前垂。亦精氣關鎖也。此處為膂。人之全力出焉。膂力不衰。殆為此也。二維者。維持維繫之義。人身陽脈統於督。陰脈統於任矣。而諸陽諸陰之散見而會。又有所必維繫而持之。故有陰維以維於諸陰。陽維以維於諸陽。然而能為維者。必從陰陽之根柢。具盛氣之發。而後能維。陽維從少陰至太陽。發足太陽之金門。而與手足少陽陽明。五脈會於陽白。陰維從少陰斜至厥陰。發足少陰之築賓。至頂前而終。少陰少陽。為陰陽根柢之氣。維於陽者。必從少陰以起之。是陰為陽根也。維於陰者。必從少陽而起之。是陽為陰致也。故二脈又為營氣之綱領焉。兩蹺脈者。蹺以矯舉為義。其脈之剽悍同於衛氣。而皆上於目。然有孔道與衛不同。其脈則陰出陽而交於足太陽。陽入陰而交於足少陰。其氣其行。每從陰陽根柢和合。以為矯舉而上榮。大會於目。故目之瞑開皆宜。其曰陰脈榮其臟。陽脈榮其腑者。入陰則榮臟。入陽則榮腑也。男女脈當其數者。男子陽用事。其蹺在陽。故男子數斷其陽。女子陰用事。其蹺在陰。故女子數斷其陰。總之八脈唯帶脈橫束手膂。而七脈皆自下柱而上。雖有孔道宗眾會。然當起於太陽少陰。則皆所謂太衝之義也。故聖人止言太衝。而不及督任維蹺。蓋有分之而不分者矣。</p>

<h3>二十七氣疏</h3>
<p>十二經十五絡經正六合五輸六原四關十二經筋</p>
<p>所謂經絡者。直行為經。旁行為絡。直行而通。統內外左右上下通行無滯。如江河之流。而為日夜五十營者。斯為經。其回行交絡。互屬臟所。不當道行者為絡。靈樞曰。手之三陰。從腹走手。手之三陽。從手走頭。足之三陽，從頭走足。足之三陰。從足走腹。腹為陰之會。頭為陽之腑。以陰接陰於腹。以陽接陽於頭。三陰轉而入陽。於手之指。三陽轉而入陰。於足之指。此以陰入陽。以陽入陰。無所不到。所謂通行直行為經者也。乃其間有交絡者。為支分者。則六陽經之自頭。每各下入缺盆。內屬以絡五臟。而五臟之經。亦每各上行至喉至目系。至舌本。至巔頂。此為屬正經之旁行。不當隧道之沖。即所以為絡也。然而旁行之絡。實交於身。而五臟六腑又有其專精盛氣之所會。其會又各有所至。如公孫大包虛里期門等為經。別之五十絡。此絡之大且盛。未嘗不如經。而以其旁行別出。不當隧道。故為經別。亦為絡也。經正六合者。經正以臟腑。各有本經。地方自隧道通行外。其旁地分正自有餘。其他更有交流分委。或自屬本經。亦自與本經之表裡陰陽相接。此自為表裡之合。其合凡六。臟腑自會也。此合既不當隧道。特以本經地分壤地。相屬而合。故非經別。乃經正也。由前十二經暨十五絡。與各經之六相合。共二十七氣。以通行周遍於一身。而凡迴環之氣。盛會之所。皆在斯矣。至於五輸六原四關。從其手足正隧道扼要之處。蓋十二經原皆起於手足之十指。此皆各臟腑專精之所起所淄所入也。於是各為井滎輸經原合。臟五腑六以紀之。而總不出四關。以治臟腑之有疾。則所謂扼要者名關耳。大約經絡脈絡兼行二義。一以呼行三寸。吸行三寸。其流行日夜為五十營者。法以五十動而不一代者為占。此候其流行者言也。其起發井滎輸原者。以五臟六腑之地分為占。此與氣口之寸關尺同占其病者。以卜無藏。此候其不流者言也。唯脈之精。是流者與不流者俱見。足以獨守經隘。以佔百病。固莫精於此矣。此外人有十二經筋者。筋布散於身。而為一身之維繫。本皆屬肺。以分維各經地分。故為十二經筋。屬陽者於外而堅剛。其有病必以在外之風寒濕入之而成痹。故病各以脈序。屬陰者於內而柔細。然布散樞要。常與經脈合同。故病或痰滯營阻。則亦能主顛癇瘛瘲。與外筋不同。此筋病之大較也。張子和謂凡醫必明經絡根結始終。所環所會所交所過。而後知陰陽臟腑之出入虛實。不知此者。如面牆矣。</p>

<h3>十二經不並拈說</h3>
<p>十二經絡之表裡。特以隧道之故。舉其並行互絡者而言。初不以職列也。人之陰陽皆起於足。故足之六經地分闊。而職司要所。主一身之間。唯足六經也。手六經則地分狹。所行兩臂頭面之間。其兩臂常動。頭面肉堅風寒之所不得入。故仲景條貫傷寒。止拈足六經。而無外傷手經之條。正以手經之所合。皆在足六經之中。非謂其不與於斯也。請申之。太陽之經起於足。上於巔腦。以及額顱內。下於膺。中包心肺。皆太陽經也。太陽居六陽之盛。故為巨陽。而為諸陽主氣。然以同沖氣起於少陰。乃以其陽而借納膀胱。其下膺中者。少陰心。太陰肺。一君一相。並居其間。而肺主皮毛。心部於表。皆與太陽合。是以寒邪一犯太陽。遂傷肺及心。以犯皮毛血脈。為心肺之所合。若皮毛凜慄。鼻塞聲重畏寒無汗。以及心煩。皆太陽症。而心肺為之變。仲景設麻黃湯發汗疏肺。桂枝湯和表止煩寧心。豈非發太陽即發手太陰少陰耶。是手之太陰少陰，已兼於足太陽之一經矣。若手太陽小腸經者。其氣用豈能及足。特以與心絡並行隧道。表裡又與足太陽連經。故亦以三陽歸之。非曰其職能與足太陽並列也。後學亦察一拈太陽。使以小腸與膀胱雙舉。豈知要者哉。足陽明自額顱而下繞夾鼻。口下人迎。下乳內廉。下挾臍。其脈齊太陽。皆五道。至氣街中屬胃絡脾。凡面之全部。膺胸與腹內外。至足脛外廉。皆陽明也。經為兩陽合明。合明者。太陽少陽共明於此也。其經氣盛血多熱甚。其地位闊。其職司要。又主中部穀神之所升。皆衛之所出。若大腸者。為胃化物之器。受盛之官。其絡與足陽明接。經故亦謂之手陽明。亦非謂其能有陽明之職事也。故大腸小腸之經。即同於胃。其病與否。皆與胃同。而初無與於肺心。若經絡自病延及肺心。亦止在經絡。不若傷寒之傳經也。足少陽膽之經。由耳頰下脅。下膝外廉。居身之兩側。合身後之太陽。身前之陽明。接壤密布於內。為半表裡。故少陽居之。為陽明之次。皆以地分形層分職言也。其經與職遊行三焦。攝於心胞。心胞三焦。總同一職。此無復手少陽手厥陰之別矣。三陰正位。唯足太陰脾。為六經之所主。心地德居中而主裡。若太陰肺。以其朝百脈主元氣故亦有太陰之名。其實為陽中之少陰。初非居三陰之職。而分太陰脾位之司也。三陰之正。惟少陰腎。能正位於坎。配心之離。而心為太陽。故腎亦名陰中之太陰。其實天之少陰從火。人之少陰從水。此少陰心。不奪少陰腎之用也。一陰本厥陰肝。其經胞絡亦與並稱。然心胞本非交盡之厥。以經相接。故亦名之。心胞則相火。厥陰則風木。所不得混列也總之風寒邪之入三陰者。皆在足三陰。而病在手三陰者。皆在足三陽。故風寒之入與傳。止有足六經。而無用手六經。即人身三陰三陽之正病。亦斷不以經絡手足並拈。凡以為是也。</p>

<h1>卷之二</h1>

<h2>脈法部</h2>

<h3>脈原</h3>
<p>脈為人之神。氣血之本。而見於營之行。營之行也。其根原有二。一出於中焦之穀神。化精液以輸肺。以治節施之隧道。故營血之能通流。實胃氣為之充澈。此脈之本於胃氣也。一起於太衝。而出少陰腎。下匯血海於厥陰。上發真陽於太陽。此太衝之精氣。能灌溉十二經。得與陽明胃之盛氣。同駐中焦。共為宗氣。故亦得與營。俱行十二經。而備五十營。脈至五十營。則先後天之氣合。而五臟之真備矣。以是上朝於肺。肺統行之。故曰氣口成寸。以決死生。決死生者。以氣口能顯胃氣形藏真。佔四時度六部。有諸中者。必形諸外。而無差忒。此脈之所以為人之神也。內經論脈必自下而上推。始於季脅。以次附上。定其部位。自肘中曲池。量至神門。得一尺為尺。自尺至寸。得一寸為寸。其診先尺後寸。先陰後陽者。以人身陰陽。皆起於足下。五臟之氣。會於章門。章門在季脅之次。脈從三陰起足三陽而上之。先會於此。故內經詔人以脈必自下而上也。至於診之精微。其占亦有二。一呼脈行三寸。一吸脈行三寸。呼吸脈行六寸常流無間。晝夜六時。而為五十營。此以流行者占之也。五十動不一代。乃為生人之太和。不及是者。為臟無氣。命曰狂生。狂生者。反太和也。左以候左。右以候右。上以候上。下以候下。前以候前。後以候後。六部一定。候之不移。而以五臟為占。此以部位占之也。原其然者。肺統元氣。為心血脈之相。非惟能朝百脈。亦能顯百脈。脈雖藉營氣之行而充滿之。而其所以能充滿者。皆肺神藏真之所渟泓。此其中之胎涵映澈。行者居者。各為充滿。非以一流行而盡之也。蓋其元神能常照百脈。為五臟鏡。以顯其純疵。故太淵一脈。五臟之全體俱現。是以上下左右可占。六部可診也。然人之陰陽必奉天而應四峕。故春弦夏鉤秋毛冬石。雖六脈各為臟主。而有不得不聽令於時者。此由天人葆合。故人氣有不離如此也。乃人又有平生之診者。陰陽之稟。氣態各不同。則其脈亦異。如六陰六陽。以至老少肥瘦。脈必不一。善脈者。必先察其本元之候。其胃氣藏真。與四時之正反。老少之攸分。而後及其病脈。以茲四診。兼之望聞問謂之七診。而脈之道得矣。今世以左手為人迎。此出自難經。叔和祖之。不知人迎者。陽明胃之本。輸在結喉兩旁動脈者。是此六陽之所迎。古人以候六腑之陽。而察其盛衰。若以左之寸口當之。豈人迎之所候哉。趺陽者。乃穴之動脈。在足趺三寸之間。是胃脈之下行。復上與太衝之脈合。故得先後天並符之氣會合於此。為人之根蒂。死生之診。於是最切。故仲景法趺陽與少陰同診。一診先天。一診後天。每並取以決百病。今人廢之。此仲景所斥。為按手不及足之庸工也。</p>

<h3>脈診總論</h3>
<p>經云、微妙在脈。不可不察。今察脈之精。莫過內經。內經於診法甚詳。於脈法甚約。自叔和脈經興。而脈象繁為二十四。撰出七表八里九道之名。以為診脈之法。莫盡於此。不知名象愈繁。診道愈莫准。將求精而愈失之也。夫脈為胃氣之本源。其陰陽精要。即相為對待。相去懸絕之間。而有甚精之察。固不必多名象以求之也。且診脈求病。求其為病之表裡虛實寒熱順逆而已。故內經設脈。止於浮沉緩急大小滑澀八脈。特於對待微甚懸絕。著其相去之三等。而脈之情變已察之極精。及仲景又兼以陰陽著脈為十。以浮大滑動數為陽。沉弱澀弦微為陰。而察陰陽之法。莫過於此。於是診脈之精。至此大備。何以言之。人之先天稟於陰陽。而陰陽復生於胃氣。唯穀神興。而營氣足。故脈行焉。中涵先天四時五臟之正。而養於胃氣。以微見其間。是以脈常有神。而可診以陰陽逆從之法。而陰陽逆從之法。必首診其胃氣。以及五臟四時。診胃氣者。診其力。診五臟者。診其神。診四時者。診其順。何謂力。胃之在三陽搏而勿浮。在三陰搏而勿沉。其為洪圓有力。而陰陽兩和。是平胃脈也。四至而閏以太息為五至。於何有病。此謂有力。若胃氣衰耗。則必先見不搏而浮沉矣。何謂神。五臟以五神而主五行。則恆見微弦微鉤微耎微毛微石之平衡。所謂藏真也。此謂有神。過則相凌。弱則受克。而臟神失。再過則真藏現矣。何謂順。五臟以胃氣各自主時而奉天令。故春肝夏心秋肺冬腎。如天之被物生長化收藏。以一旺主時。而群藏從。毋得以錯迕爭見者。此謂以順反順則為逆矣。逆時則逆藏。並逆胃矣。是三者病本之診也。於是審其陰陽以別柔剛。而知其逆順之所在。是以別於陽者。知病起時。別於陰者。知死生之期。此診之大源。不可不知也。嗣是乃有相去之三診。則並於其病情而知之。一法為對待。如浮沉緩急大小滑澀。各為對待。皆兩不相侔。判然可識者也。一法為微甚。從對待而推之。或甚浮微浮。甚沉微沉之過不及。可以從容而知之也。一法為懸絕。如太過之三倍四倍。不及之迥絕絕無之殊。此為關格。真藏出見。脈可察而辨也。辨其對待。以察生克。辨其微甚。以察間甚。辨其懸絕。以察死生。而又參仲景之陰陽十脈。合而察之。前三法為經。後四法為緯。不待多脈之名象。而死生順逆之機。燎若指掌矣。</p>

<h3>胃脈論</h3>
<p>人之常氣稟於胃。胃者平人之常氣也。人無胃氣曰死。春胃微弦曰平。弦多胃少曰汗腐。但弦無胃曰死。胃而有毛曰秋病。毛甚曰今病。藏真散於肝。肝藏筋膜之氣也。（以下五節）</p>
<p>人自有生而後。全藉穀氣為養。故一日不再食則飢。七日不食則死。可見平人之常氣稟於胃。無胃氣則死也。經曰。飲食入胃。脈道乃行。又曰脈得食即高。故知脈道之行。必待此而起。夫脈者氣血之府。精神之舍。而胃氣者。乃精氣神三寶之神糧。而營衛之淵源也。其氣流營溢衛合精。而行神於脈。雖五臟各稟。四時各正。有必見必應之時。而於人之保合太和。必以胃氣為本。是五臟四時。皆必待此而得其平也。故辨脈必先辨於胃脈。胃脈者和而大。搏而有力。於三陽則搏而勿浮。三陰則搏而勿沉。雖本五臟應四時。而不受五臟四時之沮抑裁損。此所謂平人之元氣元神也。昌大於春夏。收藏於秋冬。使五臟之正氣。得以主時而奉令。故肝得主春而脈弦。心得主夏而脈鉤。脾得主季夏而脈耎。肺得主秋而脈毛。腎得主冬而脈石。而皆曰微者。正以明胃氣之充壯鼓行。使五臟外循天令。而得以其和者主之也。其於五臟皆曰藏真者。蓋謂五臟所藏之本真氣也。真氣之本。雖起於先天所稟之陰陽。而不得胃氣。則不能充之壯之以為真。故五臟所藏。而能散能濡能高能下能通者。皆賴胃氣之聚精待用。而五臟始得行其職事也。肝藏筋膜之氣。心藏血脈之氣。脾藏肌肉之氣。肺行營衛陰陽之氣。腎藏骨髓之氣。其各得贍舉以固生身。以奉天令。皆胃氣之常充常行耳。故必胃多而微見弦鉤耎毛石者為無病。稍有衰颯。則弦鉤等多見而胃少矣。夫弦鉤等脈得四時而見。何嘗非五臟之正。而胃氣不勝。遂成臟病。況此五脈之單見耶。單見則胃絕。而真臟之脈見。故曰死也。至若春之胃而見毛。毛與弦反。而乃見之於春。是胃不能相為於肝以存弦令。而反受克於毛。則胃之衰敗已徵矣。而曰至秋病者。前此春夏三陽得令。尚能扶我至秋。則胃不能勝而為病也。若毛甚則胃家之太和已戕。命曰今病。即今已不能掩其惡也。夫人之生。天地合德。得陰陽五行之全。然自孩提毀齒以來。天癸未至。腎元弗充。要有待於後天之穀神以充之。故持之又久。而後先天之元氣以昌。精神之運量以足。皆胃氣也。自中焦出營衛以行隧道。謂之經氣合元氣而積於胸中。謂之宗氣。是故巨陽謂之主氣。此氣之至。能先天而天弗違。故入五臟為藏真。使總攝五官百骸。能後天而奉天時。故歷四時五運司天之令。以為之應而無忒。是以胃氣之脈。為人之主。自有不為四時五臟之氣所掩者。內經首提而言之。此脈家根本第一義。而東垣丹溪諸公。競謂其和如春風楊柳。不知此特為春胃微弦之一喻耳。若微鉤微石。尚有所不能喻也。至於微耎。更有妙義。胃本不耎。以長夏濕土主政。蒸其溽氣。火濕相搏。使正氣不能高舉。故其象為耎，然正唯微耎。則胃氣之壯可知。此正所謂在三陽則搏而勿浮。三陰則搏而勿沉者。胃氣之實象也。知此則知真藏見而主死之故矣。</p>

<h3>診法論</h3>
<p>經曰、聖人之治病也。必知天地陰陽。四時經紀。五臟六腑。雌雄表裡。從容人事。以明經道。貴賤貧富。各異品理。問年少長勇怯之理。審於分部。知病本始。夫內經所貴色脈。而診法又極詳盡如此。蓋以人病所屬。雖存乎陰陽臟腑表裡虛實之間。而致病之由。所病之故。終非一律。故又以內經之十診論列之。一曰度人。人有五臟六氣之分。五形五性。體態各異。厚薄不同。或耐春夏。不耐秋冬。或耐秋冬。不耐春夏。或壽或不壽。又兼六氣參差。陰陽不適。其筋骨氣血各不相等。於是別其五色。凡形勝色。色勝形。至其勝時。年氣加感。則病行矣。是可望而知之者也。二曰度脈。則審其大小浮沉滑澀。別其左右上下前後。以求五臟四時之逆從。得神者昌。失神者亡。故微妙在脈。不可不察。所謂切而知之者也。三曰度臟。凡五臟之藏神。其性情體用之生氣。或不合於四時之理。而有五情傷敗之事。是人之大神已不立。而外感內傷皆其後焉者也。是以度臟為亟亟也。四曰度肉。人之形氣所呈。肌腠分理。皮肉形質。或相得或不相得。則壽夭判焉。以此察病。則或雖輕而重。或雖重而輕。如薄膚蒼理之耐病不耐病。其相去各不同也。五曰度筋。筋有大小堅脆之別。則燔針劫刺之不可不審也。六曰度俞。俞有井滎俞原經合。而又募原之歸。此備四時之到。明於五俞疾徐所在。則屈伸出入。皆有條理。豈曰按譜而求。拘執而取乎。七曰度陰陽。陰陽之變。不可勝理。人知經絡表裡。臟陰腑陽。而不知人有大陰陽。如三陽為經為父。及為部為紀。三陰亦然。而又有奇恆之陰陽。正月二月人氣在肝。三月四月人氣在脾。五月六月人氣在頭。七月八月人氣在肺。九月十月人氣在心。十一十二人氣在腎。此先天陰陽之應。恆自下而上。亦自上而下。初未嘗失其性理。而於臟腑所主則已不同。而況加以運氣之乘除勝復也。此陰陽又在所必講也。七者診人備矣。至於從容人事。不失人情。則又有三診。曰八度君。九度民。十度卿。君者王公大人。其驕恣縱欲。氣志之順逆。各有差等。民則有苦樂暴久貧富之異。卿則有嘗貴後賤。敗傷脫勢。乃欲侯王之類。此謂人情。得其情而從容於其間。亦診道之在所必備也。</p>

<h3>附論</h3>

<h4>陽密乃固論</h4>
<p>天藏德。而以日為光明。人心藏神。而以陽氣為固密。陰陽之道。必有所先養生之本。亦必有所謹。此內經原病之所起。必眷眷於陰陽之論也。而又曰陰陽之要。陽密乃固。夫人身之陰陽皆欲固也。而必曰陽密乃固。其道維何。蓋陽者皆氣而近浮。浮則在上。故曰陽因而上。然陽有高明之體。高明在上。此為真陽。而不可謂之浮陽必散而在外。散則周遍。故曰陽以衛外。然陽有純一之道。純一而健。此為純陽。而不可謂之外。非浮與外。則陽有元亨之隆也。不外不浮。則陽有利貞之用也。是故陽之積。運之以生神明。而充奉之。是以精則養神。陽之運。倡之以為物先。而煦嫗之。是以柔則養筋。斯則陽之所事也。而必以密為固者。陽非不能固也。其失在不密也。致不密者有三。起居如驚。而神氣乃浮也。措情躁擾。與物駘宕。陽乃飛越而不歸。則內之恬愉失。而元府不閉。風寒暑濕遂乘之以起。故外無禦侮。內必受兵。此不密之故一。煩勞則張而精絕也。夫陰為精。藏精而起。亟以赴陽。人若不知節息。每強力用之。且煩且勞。煩則不靜。勞則不息。而陽乃張矣。張如弓之久滿。而不知弛。則弓力竭而筋干為傷。故精絕。馴致其道。必至目盲耳背。潰若壞都。此不密之故二。大怒則形氣絕。而血菀於上也。大怒則傷陽。陽既郁逆。則無所行。而菀於上。故有吐血數升而殞者。有疽發於背者。皆薄厥之至也。此不密之故三。三者一起於外。而外得侮之。一困於內而內竭。為一乘於猝而暴厥焉。則何能精則養神。而柔則養筋哉。然則如何而密。曰陽氣者若天與日。天藏德而以日光明。則當清謐以寧心。固精以養神。節勞以養筋。而陽倡陰和矣。陽健運則陰奠定。夫是之謂能固。</p>

<h4>氣歸權衡論</h4>
<p>人之所以舉一身者以氣耳。氣之所至為運。運氣之所煦為和暖。以至腐熟水穀。給散精血。上下之所充。肌膚之所衛。無非是氣。然是氣者。必有宗主焉。本根焉。以統攝之而不亂。然後能為神明之共給指使而不傾。此氣之所以必歸於權衡也。本經謂食氣入胃。散精於肝。淫氣於筋。濁氣歸心。淫精於脈。脈氣流經。經氣歸於肺。肺朝百脈。輸精於皮毛。毛脈合精。行氣於腑。腑精神明。留於四臟。氣歸於權衡。此謂食氣之能生氣血。贍養臟腑。故肺得其職。而五臟之氣齊平。氣乃歸於權衡也。然大要舉其得氣之養如是耳。其所以然則猶未之詳焉。何則。人身之氣。根本於太衝。太衝者。先天之根柢。其氣上升而為巨陽。下散於三焦。積於膻中。此元氣之本也。原其始則氣之未動時。起於先天坎中之陽。而動於子半。以為少陽膽家之氣。而遊部於膽家之間。此所謂生氣。亦所謂和氣也。然後胃家以飲食倉廩。積其精華。騰其穀神。於以供給臟腑經絡之用。以為之副。此則後天之穀氣。於以配先天之生氣。而合之為一。先天能始之。後天能終之。其功用未嘗有分焉。要其能如是者。殆有權衡存乎其間。所謂權衡者。肺腎是也。肺主上焦。腎主下焦。肺主降。腎主升。肺主呼。腎主吸。肺主出氣。腎主納氣。凡一身之氣。其經緯本末出納之序。皆二臟為之。一散氣而持其平。若衡然。輕重緩急出入不差累黍。一鎮氣而歸其根。若權然。上下升降不使斷續間歇。是二臟權衡之用也。難者曰。營衛本出中焦胃氣。衛以充體。營循隧道。脾以㪚之膽。以行之。亦各舉其職以為平耳。何曰氣歸於權衡。權衡以平。氣口成寸。以決死生也。曰。太衝為十二經之海。統十二經以使之皆升。而肺以一臟秉相傳之權。持其平而不使之亢而不下。是氣升於上者。使非肺為上之衡。則必有愆陽之患矣。手太陰為元氣治節之主。亦既指使循環。節宣百節經隧。使非腎臟以納氣之原。藏其用而歸於精之宅。不使為無本之施。是無其權。而氣不歸下。則必有絕陰之事矣。唯其上不愆上。下有守下。而後氣歸於權衡。權衡以平。則氣口成寸以決生死也。是義者實人身之大權。醫家之定衡。而養氣之旨亦從可知也。</p>

<h4>神轉不回論</h4>
<p>經曰。出入廢則神機化息。又曰陰陽不測之謂神。是神者不測之道。而為陰陽氣血出入之主。所謂神也。神不可見。從其機見之。如水之行。如環之轉。而莫之所遏。夫唯順而已矣。唯順乃轉。唯轉乃順。其出入往復皆合於機。而以為人之神。故古人之神。必有妙於其轉者焉。然有數大端。不可不察也。一者經絡營衛之轉。衛。衛外而為固也。平旦目開。而下行六陽。日入注少陰。而夜行六陰。其氣與陽俱動。與陰俱靜。而不越其候。亦如天地之生息無間。若稍回則滯於陰而陽病。壅於陽而陰病。經所謂謹察衛氣。為百病母是矣。營之行。亦自平旦出手太陰。內外次傳。日五十營而無回迕。故見之於脈。五十動而無一代者。名曰平人。不滿十動一代者。五臟無氣予之。短期代者。歇至與變更也。此所謂回矣。一者臟腑授氣。相生之轉。脾散精於肝以為血。濁氣歸心以為脈。脈氣流經歸肺。肺輸精於皮毛。毛脈合精而行氣於腑。腑精神明留於四臟。氣歸權衡以成氣口。故脾散精氣。肺為行氣。腎主納氣。受五臟之精而藏之以養心君。此臟腑相生而轉之次也。不轉而回。則相剋侵陵之禍起矣。一者為四時五行之轉。其為天氣所在。則正月二月。人氣在肝。三四在脾。五六在頭。七八在肺。九十在心。十一十二在腎。其氣自地氣始發。自下而上。故由肝及脾。自脾上頭。七八陰氣始進。自上而下。故由肺及心。自心歸腎。以為終始。其為脈應所在。則當春而弦。當夏而鉤。秋毛冬石。而一歸於微平者。以胃氣先壯。略帶令氣。乃為相和。而餘歲余時。亦無不奉令。此所謂轉也。一者回逆。則胃氣不營。而臟已病矣。一者為陰陽開闢之轉。三陽之開闢樞。合為一陽。陽所以能倡。三陰之開闢樞。合為一陰。陰所以能和。若其次稍失。則陰陽之內神有不和。而太過不及之氣見矣。故一身之氣。經絡之會。四時之應。臟腑之用。皆有神以為之轉。如天行之健。地氣之生。環不失次。而機之出入乃無或廢。故曰神轉不回也。回則不轉。而神機之化息矣。於此察病。而觀其死生間甚。思過半矣。</p>

<h2>針刺部</h2>

<h3>十二原臟井木腑井金釋</h3>
<p>經曰。五臟有六腑。六腑有十二原。十二原主治五臟之有疾。乃其名之為原者。其穴即藏之太淵太陵太衝太谿。屬腑而名之為原。而六腑又別有六原。學者矇昧不識原義。竊嘗釋之。原者。陽之名也。十二原出於四關。四關屬手足踝骨以上。其地各尺。為手足諸陽之本。而陰臟之井營俞經合。從是起焉。以其起於陽不起於陰。則雖五臟之專精。皆可以陽屬之。而治五臟之有疾者。必先針此。以候氣之陽。而歸之陰。此本以陽治陰。以腑治臟。故云五臟有六腑。六腑有十二原也。若六腑之原。則又五腧之外。別立六名。斯則六腑之正。原以陽治陽者也。至本經釋五腧曰為井木。釋六原曰為井金。金木古今未曉。王太僕而下及馬元臺。皆以乙木庚金。為乙與庚合。而為臟腑之合。殊無義理。滑伯仁又謂陰木生陰火。陰火生陰土。陽金生陽水。陽水生陽木釋之。張介賓亦仍其說。其陰生陰陽生陽。姑置勿論。亦何見而陰臟起於木。陽腑起於金。且為乙與庚之說耶。如見木之在臟也。以為陰也而乙之。金之在腑也。以為陽也而庚之。而其所以起於木起於金者。則仍蒙然未之辨也。經曰。守經據治。無失俞理。則針有候。俞有理焉。針法以四時各取井俞。是四時之針法。必以木金為候也。而臟腑之本俞。亦各自分金木。夫金木者生成之終始也。五臟藏精。其氣皆陰。然化氣必生於陽。故五臟雖陰。而其起恆同起於少陽之生木。六腑致用。其氣皆陽。然氣盛必歸於精。故六腑雖陽。而其氣為成。皆因於西成。說物之兌金。夫是以臟為井木。腑為井金也。生氣在臟。成氣在腑。如四時之春秋。此陰陽之定理。針法之所必究也。不失俞理。非是之謂乎。</p>

<h3>十干納臟腑之謬辨</h3>
<p>內經針法。必合天地陰陽日月。而同以求於人之部位。以合於天者。著為用針之宜忌。此針道之所在。要非經絡之故也。身形應九野篇曰。左足應立春。其日戊寅己丑。左脅應春分。其日乙卯。左手應立夏。其日戊辰己巳。膺喉首頭應夏至。其日丙午。於右則手脅足腰尻下竅應秋冬。六腑膈下三臟應中州。大禁太乙所在之日。及諸戊己。以為天忌。此針家之忌所必求也。又以腰以下為地為陰。以足之十二經。以應十二月。腰以上為天為陽。以手之十指應十日。合之於脈。則以寅為正月之生陽。主左足之少陽。未者六月。主右足之少陽。卯者二月。主左足之太陽。午者五月。主右足之太陽。辰者三月。主左足之陽明。巳者四月。主右足之陽明。此兩陽合明。故曰陽明。申為七月之生陰。主右足之少陰。醜為十二月。主左足之少陰。酉者八月。主右足之太陰。子者十一月。主左足之太陰。戌者九月。主右足之厥陰。亥者十月。主左足之厥陰。此兩陰交盡。故曰厥陰。要此陽明厥陰。又自一說。合十二月為一歲之氣。候之於足。此亦為針家而言。非以臟腑體用當如是也。針家候氣故不可缺。而最無理者。後世以十干納臟腑。而為陰陽夫妻。既非針家之所為。又悖臟腑之恆理。其說起於少陽膽。膽誠為東方少陽之初氣。然甲氣當起於子。臨官於寅。茲皆厥陰風木之所起也。蓋氣雖在膽。而始於厥陰。且乙為柔木居卯位。是正所謂膽氣也。而今之納甲者。以甲剛歸膽。乙柔歸肝。是何說歟。丙火日也。心之神明也。其主太陽也。丁火日用之火也。相火也。故相火在陽明三焦。丙火在廣明之地。今曰丙屬小腸。丁屬心。豈丁可以屬君火乎。經曰。小腸為心之使。豈使當屬丙。而主反屬丁乎。且於夫妻之說。又豈主反為妻。而使反為夫乎至若以戊屬胃。以己屬脾。脾以燥為健運。而反謂為己。胃為水穀之海。而反謂為戊。然猶曰脾為胃行其津液。其於為妻之說。或無辭也。至以庚歸大腸。辛歸肺。則尤無理之甚者。夫肺居乎上。承心之夏。而立秋又為元氣之主。而反屬柔金。大腸何物。能主蓐收之令。而當庚金之剛。以主秋之臨官也。壬為天源水。癸為江河水。腎為太陰。天水之主也而癸之。膀胱蓄水也而壬之。是雜客之水。反出真元之上矣。不亦顛倒紕謬耶。所以然者。大約以臟陰腑陽誤之。不知臟亦何嘗不生陽。而必以六腑為夫也。後學不悟。仍其訛舛。曰為從事。吾不知此說倡於何人。緣不讀內經故至斯耳。</p>

<h2>病能部</h2>

<h3>手太陰肺臟病論</h3>
<p>肺居西方金位。上應陽明燥令。其與足太陰脾同名太陰者。以其為一身元氣之主。出治節以佐君。其位居華蓋之頂。其職與太陰脾。同行氣以給眾臟。故名之也。而其實為陽中之少陰。主秋令以成萬物。秋令清肅揫斂。肺以麗水之金。生形而居天河之上源。以沛雨露。故嘗病躁與寒熱。最為嬌臟也。其氣恆下行。靜則下沉於腎宮。而與水相通。所謂母隱子胎也。以其外應皮毛。皮毛屬太陽之部。故太陽之傷風傷寒。與汗出中風。兼形寒飲冷。皆傷肺見症。如鼻塞聲重。氣逆喘嗽。肩背痛。嚏嘔胸滿煩心等證。多與太陽同。至若五志之火上炎。陰虛內鑠。肝火抉心而刑金。則亦傷肺。其證為肺癰、肺痿、痿躄、吐血、聲嘶、息有音、鼽衄、掌中熱、喘不休、白血出、皮毛焦。此皆火燥焦枯之症。虛則少氣。不能報息。耳聾嗌乾。治之之法。傷於外者。與足太陽同法。其邪氣盛。而閉塞憤郁。必於足太陽瀉之。傷於內者。正氣衰而金被傷。必於足少陰養之。而於足太陰培之。補水培土。養金之善法也。然以金性下沉。隱於子胎。腎家水火兩病。亦能使肺兩症同受。故有時水泛而為喘壅。有時水沸而為痰鳴。皆以氣上逆。而有水火虛實之不同。而要其治。總不出足太陽及少陰太陰三經之法耳。</p>

<h3>手少陰心臟病論</h3>
<p>心臟應天少陰君火。為神明之主。生之本。神之居。十二經皆拱向聽命。而咸輸其氣以應之。貢其精以養之。故心為血之主。脈之宗。蓋神以氣存。氣以精宅也。其精常滿。故能分神於四臟。其氣常充。故能引精於六腑。而腎家一臟。又實為心居之尾閭。經云。心舍脈其主腎也。腎為心主。則必腎水足而後心火融。故養心之法有二。寡思慮。守恬愉。使心無過量之用。無留根之事。此養之以氣也。常握固戒多欲。使腎無淫佚之失。無相火之乘。此養之以精也。若用神無方。則傷其氣。傷其氣並傷其精。而神遂歸於空飛。守腎無節。則傷其精。傷其精遂傷其氣。而水不能制火。陰不為陽宅。而水氣遂至凌心。是心病之始始於此也。是以心氣未嘗不有餘。稍失血則為不足。心之不足有餘。皆系乎血之盛衰。血盛則耳目聰明。而神能寂照。血衰則慮易志耗。而昏妄交集。故凡火有餘之症。皆為血不足。而血不足之候。又皆能使火不足。其有餘不足。皆不得與運氣司天之火。淫火鬱從乎火者同候。治要在養陰凝神。守精馭氣。以匡政其有餘不足而已矣。經曰。心病者。胸中痛。脅支滿。脅下痛。肩背胛悶痛。兩臂內痛。虛則胸腹大。脅下與腰相引而痛。蓋心為血脈之主。其神明不受病。故或實或虛。皆不見本臟。而唯在血脈。其在血脈。必先以在經絡者病之。如胸中痛以及腹腰脅之間。皆手少陰手厥陰脈之所及。故先病於本經也。若當其虛則胸腹大。脅下與腰相引而痛。又緣脾胃之不上輸氣。腎之不上貢精。故病亦相連耳。又非止經脈之故也。若心經絡病者。為是動則嗌乾心痛。渴而欲飲。以及所生病。目黃脅痛。臑臂內後廉痛厥。掌中熱痛。此皆正經絡病也。而其病又能及心。要其本末然也。嗌乾者。其支脈挾咽也。心火炎故心痛。火炎則陰耗。而心液干。且心部在陽明。心痛而熱及陽明。故渴而欲飲也。目黃以下至掌中熱痛。皆心脈熱逆也。又精氣並於心。則喜驚而奪精。汗出於心。與憂思傷心者。心喜勝而惡負。並於心。則心有餘故喜。乃心之浮陽也。若驚者肝膽失不利。能為心捍。而心氣內涸。故奪精。神不守營。故汗出。心之官則思。思而不勝則憂。甚而不已則神明內空。空而不已。則神明內亂。故憂思皆足以傷心也。</p>

<h3>足陽明胃腑病論</h3>
<p>頭腫、喉痹、斑黃、狂亂、譫妄、潮熱。登高而呼。棄衣而走。罵詈不避親疏。凡其在經在絡在腑。無不以氣實血熱顯症。此仲景所謂胃家實也。然亦有虛與寒者。則必以相火之虛。故胃怯而不支。為病洒洒振寒。善申數欠。顏黑。病至則惡人與火。聞木聲則惕。然而驚心欲動。獨閉戶牖而處。身以前皆寒慄。胃中寒脹。此則陽明之虛。不可不察也。要之胃家為營衛之大主。五臟之宗主。其氣騰而上盛。則脈倍見於人迎。其精充以下輸。則脈湧盛於趺陽。仲景察病必先診兩夾喉動脈之人迎。及兩足趺之衝陽。以知人之死生間甚。蓋以足陽明及足少陰為先後天之根本故也。故胃雖與腑為陽明。胃土也。而當相火居止之地。其地為兩陽合明。合明者。太陽少陽二部之地分。相合於此而明之也。凡三焦少陽膽之所遊部。手心主胞絡之所總督。皆與陽明為腐熱水穀之用。故本經曰。陽明者午也。午為夏令之中氣。而相火之本職。又三陽合之氣也。其腑氣旺。血多熱盛。故能應夏令而主相火。凡心胞絡之代心而主相火者。其建功緻用。皆以陽明也。仲景曰。陽明之為病。胃家實也。夫胃家之實。非謂大便之硬。與中下焦之燥。陽堅實。蓋謂其腑為兩陽合明之盛。得病必為氣血兩實之症耳。是以凡胃病之來。其病氣無有不實。而其熱甚則為狂。瘧、濕淫、汗出、鼽衄、口喎唇胗。而其脈能大見於寸口。而立一陽藏於五陰之間。凡以此也。</p>

<h3>足太陰脾病論</h3>
<p>脾位三陰。為六經之內主。以地德而上承乎天。故廣明之下。即為太陰太陰掌太倉之出入。為心君儲精待用之府。所以散精微贍運用。為胃行精液者也。其職主運。故以升為德。其部當水穀之海。故以濕為苦。若有餘不足。而為病淫與郁。則水火二氣皆能病之。水病則壅。壅則傷氣。虛而不運。腹滿脹。胃脘痛。腸鳴飧泄。食不化。身體皆重。上為大寒。火病則不濡。不濡則傷血。血枯而燥。胃氣乃厚。善飢肉痿。足不收行。善瘛。腳下痛。舌本強。食則嘔。食不下。煩心。水閉黃疸脾約。必也常使少陽和氣常動於其中。則土潤而升。不傷於燥。土健而運。不傷於濕。斯為得其平矣。然其居中央孤臟。以灌四旁。而主四末。病則必淪於四臟。而四臟有病。亦必待養於脾。若脾絕、則四臟即無以為生。是後天之本絕。較捷於先天之根絕也。故治四臟者。不可以不養脾。調停脾胃。醫中之王道也。其曰腹滿䐜脹。支膈胠脅。下厥上冒。以為過在太陰陽明者。太陰土壅。則本經不運。而陽明之氣不騰。是以不能出營衛以升達於上下。不達於下。則腎氣獨沉。故下厥。不升於上。則肺氣不行。故上冒。此為中氣不足。中州之病。是以甚則入脾也。</p>

<h3>足少陰腎臟病論</h3>
<p>腎在人身為陰中之少陰。應天時而主冬令。故太陽寒水司氣。不歸膀胱而歸腎。蓋以腎之為氣。主蟄伏。主歸藏。天地斂藏之氣。必歸於此。是以寒水唯腎得主之也。顧其臟位為先天根柢。與心火為對待。故又為陰中之太陰。而先天真火亦涵於此。是雖各以為體。寒為位。而實以火為用也。易象坎。畫一陽入二陰之間。為體陽而用陰。其性流行。又體陰而用陽。人身之腎。其堅滑者水之體。其流動者火之用。得水火兩具。而藏命門真火於至陰之中。坎之象也。夫陽氣生於陰中。靜極而動。能升陰精以上奉離宅。所謂升坎填離之妙。乃先天之大本大源也。以其火藏水中。水昇天上。故常以水為海。火為龍。水暖而龍潛。水寒而龍起。是以腎家之病。不止水衰為土所克。而又有水火兩病也。如濕淫寒淫所勝。則胕腫、骨痛、陰痹、頭項痛、時眩、飢不欲食。寒氣自傷。則清厥。意不樂。腹大脛腫。喘嗽身重。寢汗出。龍火為患。則面如漆紫。咳吐則有血。喝喝而喘。心如懸。口熱咽乾。煩心之類。皆腎家寒濕之淫。與水空火騰之為患也。至於水藏土中。而所以為蟄藏者。實藉土封之力。經云、腎合精其主脾。是封藏必在脾氣。故不曰克而曰生。此前人補腎。用六味入茯苓山藥之妙理也。先哲之言曰。腎家水不足。勿熄其火。須滋陰之源以配火。腎家火不足。勿傷其水。須益火之主以配水。有旨哉。</p>

<h3>足厥陰肝臟病論</h3>
<p>厥陰肝臟。在人身居太陰脾之下。少陰腎之前。為人身下部之中。故其位在少腹。其地為血海。其臟微偏左。故其部在兩脅兩胠。其經氣起足上膕內廉。循股陰。環陰器。抵小腹。上貫膈。循喉嚨之後。上入頏顙。與督脈會於巔。是以厥陰通乎巔頂。然其臟為兩陰之交盡。乃陰之絕陰。其表為少陽。絕而復甦。一陽來復。故少陽起於厥陰。一陽發生之氣由此而起。故其藏為木德。主春屬甲乙。而與膽氣為表裡。又其臟主藏血。為血家之部。故其職為血臟而攝血。又主筋。在兩陰之間為獨使。故能任筋骨勞役之事。為罷極之本。其精上榮於目。而旁通於耳。以木為德。故其體柔和而升。以象春。以條達為性。故其氣常苦急。而激暴以發怒。及其病也。其症多逆。逆則頭痛。耳聾不聰。頰腫。狥蒙招尤。目瞑。及兩脅下痛引少腹。令人善怒。虛則目𥉂𥉂無所見。耳無所聞。善恐。如人將捕之。以至經病。則腰痛不可俛仰。丈夫㿉疝。婦人少腹腫。甚則嗌乾面塵脫色。溺道癃閉。其鬱與勝。必使及所勝。勝則脾土受邪。故胸滿嘔逆飧泄。此其大較也。然於其五臟為獨使。而合少陽膽為遊部。又為將軍之官。則於一身上下。其氣無所不乘。和則為諸臟之贍養。衰與亢則為諸臟之殘賊。凡弦脈所見者皆是也。是以肝家之逆證最多。其與寒熱虛實邪氣使克。本經自病。與經氣相加。凡三十有餘症。要為肝之不足。此不必言也。即肝之有餘非有餘也。肝之陰不足也。或謂肝無補法。此昔人之謬也。夫肝氣之逆。由肝志之郁。經曰。以辛散之。以辛補之。豈曰伐之乎。肝火之實。由肝血之虛。經曰。以酸瀉之。以酸收之。豈廢滋養乎。至若陰邪犯入。則陰厥。陰厥宜溫。是補其氣也。陰虛不榮。則陽厥。陽厥宜清。是涼其血也。近代薛立齋立論。清肝火。補肝血。矯前人之弊。其得之矣。</p>

<h3>太陽經絡及膀胱病論</h3>
<p>內經云。太陽者三陽也。其氣最尊。唯心君得主之。故心為陽中之太陽。要為元氣之極厚。是以為經為父。而為十二經之綱維。人生於陽。陽氣一絲未斷不死。是以有取於純陽。而要其所以為陽。即神明之氣故也。其氣高而在上。故六陽之氣。皆從而上於頭。自額顱巔頂。及後之風府。皆太陽也。其氣本於少陰腎。又自太衝而上。總於督脈。而極於背之五行。故自頂脊及腰背膂。皆太陽也。其氣浮而充滿與衛氣俱。經云。陽因而上。衛外者也。唯其衛外。故主一身之充膚澤毛。凡為外之衛者。皆太陽也。主內而專精。故精則養神。主外而固密。故宜靜。而躁則消亡。若此氣稍有不精不密。則內外之病皆舉矣。內之為病也。發寒熱壅腫痿厥腨痛。及為結隔。亢則如霹靂風雨。外之為病也。風寒襲之。為傷寒中風。其在經絡部位受病。則頭痛項強。肩背腰膂骨節疼痛。通身發寒熱。傷寒畏寒。傷風畏風。寒則傷營。風則傷衛。其所以納膀胱。而病不歸膀胱者。以膀胱為州都之官。主表非其所事。唯日久而行其經盡。則有犯及膀胱。為渴而小便不利。是從其經之本也。乃傷寒諸家競以脈浮為太陽膀胱病而絕不計太陽為何物。動指膀胱當之。而抑知膀胱固非病之所主也。</p>

<h3>氣交外感病論</h3>
<p>四時六氣。五運司天。是為三合。緣其三合。故為氣交。氣交則變而人應之。是以外感百病生焉。人在氣交之中故也。四時六氣之正。內經全不列證。其不列證者。以正六氣。本五行四時之順。陰陽升降之宜。果合氣宜。何嘗有病。其所以有病者。以其氣之至。常有太過不及之差。或有加臨乘除。主客勝負。以參合其間。則亦恆能變本氣之用。而為太過不及之異。是運氣司天。苟相值相加。斯不能無病也。若謂不關於人。則該年之生息凡物類之盛育衰耗。草木之發榮黃落。每年不同。此非其氣交而變者乎。人在氣交之中。豈無相感之故。蓋外有所感。而內之所應。苟失其和。病於是乎作也。夫外之所感。本與內傷七情不同。內傷從素性偏僻。煎迫之有素。臟腑稟受。厚薄之不一而得。然由此而外感。原各有內氣之應。非可止以外邪治之也。內經別有奇恆一門。以收內傷。其法雖與運氣之外感霄壤。而觀運氣七篇。其病叢列。帝以條緒紛紜。復詢岐伯。以致一之道。而岐伯答病機十九條以約之。其致病皆由歲氣交加。外淫而甚。其中火熱獨多者。以二火司天故也。岐伯恐帝未得圓通。首戒以無失氣宜。而繼之以無者求之。虛者責之。蓋謂有內證夾之。當更加之意。初不以外感之有餘。印定後人眼目也。劉守真高明之士。亦復不察。而執以為臟腑內外百病。皆盡於此。衍為原病式一書。盡以有餘屬之火甚之症。十恆八九。特信寒涼攻瀉之法。立方以誤後人。極於張子和儒門事親一書。專以汗吐下三法。從事峻劑法。以為邪祛正立。否則關門閉盜。後學不察。仍其偏說。由於不讀內經。而未遡奇恆之一門耳。夫人臟腑陰陽之氣。有有餘不足。邪之所湊。其氣必虛。盜乘其虛入劫衄其主。當是之時。攻盜乎。救主乎。若救主而用攻。殺其主而已矣。故要而論之。運氣加臨為病者。不越運氣之有餘不足。以補瀉之。而必須內固其臟腑。臟腑之有餘不足。而內為病者。縱有運氣之感。仍當治以臟腑之內傷。而略祛其微邪。以靖內氣。所謂養正則邪自去者此也。然則治外感之純用攻者。要非為善法也。</p>

<h3>厥陰歲氣病疏</h3>
<p>按厥陰本氣。為風為木。在歲序為十一月。冬至一陽生之後。於時則兩陰交盡於上。於氣則風木升動於下。是以風木為本。厥陰為標。標屬沉陰。本乃少陽。少陽方起於沉陰而未著。故不曰少陽。而曰厥陰。於時風木而未勝乎陰。而厥陰用事。是以凡厥陰時氣。及歲氣司天在泉所至。雖屬風木。而標之所在。皆風木不足。陰寒有餘。在人應之。外動於風。內感於肝。而恆起於陰。故其病在筋。所至為裡急。陰乘木而木鬱也。為支痛脅痛。陰乘本經絡。而木不伸也。為緩戾。風動筋而筋轉也。為嘔泄。風木上達下克也。此皆所至而病也。然司天恆氣。從六元天氣司之。若己亥歲。雖厥陰司天。乃風氣在上。厥陰下奉之。則風宣而動。風行地上。必脾土受克。勢必病脾。是以病胃脘。當心而痛。上支兩脅鬲咽不通。食飲不下。舌本強。食則嘔。此時脾之部位經絡。兩為所乘。故病如是。至若胃膈如塞。腹脹。溏冷泄水閉瘕之反見者。則又風兼陰寒。陰寒動脾。而厥陰之標見也。然而風氣在上。又中見少陽。則風與少陽搖動。當其淫勝。又必本肝先病。故耳鳴頭眩。憒憒欲吐。胠脅氣並化而為熱。小便黃赤。胃脘當心而痛。腸鳴飧泄。少腹痛。注下赤白。皆風與熱並。而搖動肝脾之間也。風木之動必兼寒熱二者。是以寒熱二症。亦出於肝也。若當不運不及。則恆從金氣所化。而為搖動注恐。搖動者筋病。注恐者肝膽俱病。又其病為支廢。且壅腫瘡瘍。木被金刑。清燥傷榮。而壅溪谷關節。故支廢且壅腫瘡瘍也。然以在天之氣。豈容盡克。於是有郁。郁與燥傷異。燥傷為乘所勝。鬱則為內不伸。蓋其氣將發而伏也。惟伏而不發。則鬱特甚。所以民病亦胃脘當心而痛。上支兩脅鬲咽不通。飲食不下。症與風勝同。彼以木逆。此以木伏也。抑久而伏。必將上拒於鬲。故遂支兩脅而鬲咽不通也。甚則耳鳴目眩。轉不識人。善暴僵仆。不郁生火。而相煽於心腎之間。使神魂不守。而卒中暴厥也。故所謂郁者。非不及也。受制而莫之發。則怒而自相乘也。此其治必發而伸之乃快耳。病機曰。諸風掉眩。皆屬於肝。諸暴強直。皆屬於風。諸風掉眩。皆兼火與寒。諸暴強直。皆兼勝與郁。總之皆厥陰風木外淫之為也。內氣不足。而與之逢合者有之。時氣太過。而臟氣不能御者有之。是以有主客之分治。客以急治。主以緩治。主勝逆。客勝緩。從此治六氣之權衡也。</p>

<h3>少陰歲氣病疏</h3>
<p>少陰君火。在正六氣居卯辰之位。木方用事。火氣方舒。而木出於陰。故君火之出為少陰。然君者帝也。出於顯明卯位。所謂帝出乎震者是也。本候為木。主春用事。所以君火不用。其在司天。則當子午。午本南離。故為熱化。居氣為灼化。灼與熱異。熱則臨之。灼則近之也。天之六元。火在上。少陰在下。火為本。少陰為標。亦本陽而標陰也。是以少陰所至。本標之間。心火與氣相乘。或至而不足。或至而有餘。凡為驚惑惡寒譫妄。又或悲妄衄蔑。皆火不足。而陰乘之。熱收於內也。其為瘍疹身熱語笑。皆火有餘。而自乘於心神。並及血脈也。若在戊癸火運。位戊午戊子。為天符。為赫曦。則火太過動為炎灼妄擾。其病笑瘧瘡瘍血流狂妄。此亦君火自乘。而傷神魄血脈也。鼓行刑金。則金肺受邪。是以民病瘧、少氣喘咳、血溢、血泄、注下、嗌燥、耳聾、中熱、肩背熱。蓋肺氣不行。木火交煽。而寒熱爭。故瘧。壯火食氣刑金。故少氣喘咳。火逼血妄行。使陰陽兩傷。故上嗌口鼻。下泄二陰。火急逼。故奔迫注下。火盛水涸而傷腎。故嗌燥耳聾。火炎上焦。故肩背熱。皆金木足而不能救。以致傷及諸臟也。甚則胸中痛。脅支滿。脅痛。膺背肩胛間痛。兩臂內痛。身熱骨痛。而為浸淫。皆心經及手心主所行之處。火盛為邪。而遍及本經也。又值二火司天。則心將自焚而神亂。故譫妄狂亂。以至喘咳息鳴。下甚者金水俱敝。而下元不歸也。血溢血泄不已。陰傷盡矣。此太過之病也。若火不及。則火不能施化。少陰標病鬱於經絡。故於經所行之處皆病此。寒乃大行。陰邪入而營脈傷也。如鬱冒矇昧者。寒濕之氣冒明也。心主言。故暴喑也。心為太陽。而主諸陽之氣。今寒淫病。火則並納於寒水。之生陽亦虛。故屈伸不能。髖髀如別也。然至寒淫所勝。則寒臨於上。而內陽居中。所謂凡傷於寒。則為病熱。寒熱更勝。是以癰瘍嘔血鼽衄腹痛。乃陽熱中盛之症。心痛眩僕。面赤目黃。色炲善噫。乃寒凌心火。逼熱上炎之故。水火寒熱交爭。則神門脈絕。而心氣滅矣。所謂郁者。火不外發。必將內盛。病為少氣。瘡瘍壅腫。脅腹胸背。面首四肢。䐜膹臚脹疿。嘔逆瘛瘲。骨節痛。乃有動皆火。實蘊隆而外不得宣。故每見憤盈之症。傷於經及筋。故所過所動如此也。又若火奔迫則注下。與少陽搏則溫瘧。以至腹中暴痛。血溢流注。精液乃少。目赤心熱。黃則瞀悶懊憹。善暴死。則傷陰之盡。自焚之患。並傷五內矣。此郁與火不足之異狀也。病機曰。諸痛瘡瘍。皆屬於心。諸熱瞀悶。諸躁狂越。皆屬於火。此即火有餘。火鬱之症。諸痛胕腫。疼酸驚駭。諸禁鼓慄。如喪神守。此即火不足。寒氣內乘之病。要皆以火之有餘。或郁與不足。受乘之至。故皆謂之屬火也。劉守真見屬火屬熱諸條。皆以有餘釋之。豈知病情者哉。</p>

<h3>太陰歲氣病疏</h3>
<p>太陰當溽暑。六陽正盛。而曰太陰者。天道陰陽分治。時值夏至。乾之六陽已極。而坤氣見。故一陰生。一陰之所以生。賴坤之全體也。又其時溽暑煩蒸。地氣溢滿。能大雨時行而濕物。是以謂之濕土。濕土為坤之全氣。而居於西南。故正位季夏。在司天則丑未主之。上為濕土。下為太陰。標本一同。唯濕之化乘於脾。故太陰所至。則濕重積。為不運。為積飲。痞隔蓄滿中。霍亂吐嘔為重。胕腫。及其太過。則懦積並稸。皆脾氣壅而不運。土壅則必水。故其臟脾腎。其病腹滿。四肢不舉。脾主四肢。壅而不行。故不舉也。是以土運太過之歲。腎水受邪。民病腹痛清厥。意不樂。體重煩冤。此水土相汨。濕甚滅火之證也。甚則肌肉痿。足痿不收。行善瘛脅下痛。土濕傷內。並傷於筋也。飲食中滿食減。燥則易化。濕則不化也。至其變生得位。則腹滿溏泄腸鳴。及下甚。三焦土滿。濕火不揚。故內蘊而證如是也。此皆雜傷脾胃。然濕在中宮而已。至濕淫所勝。則微有異。為濕勝則濕之。浸淫所及。亦無不病。故病胕腫骨痛陰痹。濕傷血也。腰膝頭項痛時眩。浸淫之至。木令不行。氣與火兩壅也。大便難。前云溏。此云難。以肺氣阻絕。不得治節大腸也。陰器不用。陰藏精而起亟。濕傷陰不能起亟。故不用也。飲不欲食。為胃有餘。而浮火壅。咳唾則有血。為心火鬱而刑肺。心如懸。則並傷心之陰矣。此傷腎之至。與腎始受邪微有別耳。若夫土之不及。風乃大行。民病飧泄。霍亂體重腹痛。風能勝濕。宜無飧泄霍亂。然土氣為木所剋制。風行其間。善行數變。則脾氣有不及運者矣。筋骨繇復肌肉瞤痠善怒。風氣專行而燥。脾之散精皆所不及。不及則並不能養肝。故善怒也。至夫土鬱。則病心腹脹。腸鳴而為數後。土壅而陷下。氣不得伸也。甚則心痛脅䐜嘔吐土壅而逆上。氣不得下也。霍亂飲發注下胕腫身重。則上之郁也深矣。凡司天在泉。為主為客。觀之有餘不足。或淫或郁。而其理盡矣。病機曰。諸濕腫滿。皆屬於脾。諸痙項強。皆屬於濕。夫腫滿屬太過與郁。則誠然矣。若痙一症。有出於少陰陰虛者。有起於陽明火劫者。今屬太陰之濕壅而為痙。是太陽寒水所乘。與厥陰風木所勝。於醜未之歲。土不堪水與木之侵。故有是症。此特從運氣言之。而要不可例少陰陽明之痙也。</p>

<h3>少陽歲氣病疏</h3>
<p>相火當乎巳午。巳為五陽。午為六陽。此太陽之正候。所以主夏令者也。而曰少陽者。其時雖六陽出地。而未極乎上。故猶曰少陽。非以春生之少陽為少陽也。在司天則本於寅申。火長生於寅。而六陽極於申。此專以暑熱從事者也。暑熱為本。少陽為標。少陽所至。為嚏嘔瘡瘍。驚躁瞀昧。暴病。喉痹耳鳴。嘔湧暴注。瞤瘛暴死。暑熱所乘。必暴速。故其為病暴烈。亦以其為無陰也。若暑乘所勝。則與陽明胃為應。故熱客於胃。煩心心痛。目赤欲嘔。嘔酸善飢。耳痛溺赤。善驚譫妄。暴熱銷鑠。少腹痛。下沃赤白。夫熱客於胃。上蒸於心。故煩心心痛。少陽標在膽。起目銳眥。故目赤欲嘔。嘔酸者。膽亦熱也。胃強故善飢。少陽脈入耳。故耳痛。陽明熱浸淫水道。故溺赤。陽明當心部。又著入心。故使心驚而語妄。暴熱銷鑠者。溽暑使然矣。少腹痛。下沃赤白者。二腸絡為陽明太陽。故俱受暑也。若相火在下而不升。則必內乘三焦。而傷血分。民病注泄赤白。少腹痛溺赤。甚則便血者。即今所謂時行痢也。血便有痢純血與尿血之證。皆病在中下二焦。而內傷血分使然也。此所謂在泉也。大概熱淫所勝。雖肺金受病。而胸中煩熱。血乾右胠滿。血泄溺色變。腹大滿等症。實陽明三焦病。又不止血溢鼽嚏。皮膚痛寒熱喘咳等為傷肺也。惟其暴速。故其病主掉眩驚駭。上熱鬱。血溢血泄心痛。而乘於土金水。則又體重胕腫。痞飲病肩背胸中寒浮腫。是以病機曰。諸腹脹大。皆屬於熱。諸病有聲。鼓之如鼓。。皆屬於熱。諸轉反戾。水液渾濁。皆屬於熱。諸嘔吐酸。暴注下迫。皆屬於熱。由是觀之。諸腹脹大。聲如鼓。火乘陽明也。諸轉反戾。水液渾濁。火乘少陽太陽也。諸嘔吐酸。奔迫下注。火乘三焦也。蓋相火外發。則丹疹丹熛。瘡瘍喉痹。嗌腫瞤瘛暴死。內淫則腹脹如鼓。水液渾濁。諸嘔吐酸。暴迫下注。皆火之奔迫。而正氣不得行也。然此等症為遇相火所臨。水運所阨。故有如是。若非司天非值年。而概有是證者。則又系乎內傷臟腑相乘。不可不察也。蓋腹脹有寒有熱。反轉戾有肝寒筋急。水液渾濁。有氣化不及州都。或由相火之衰。大約相火之部病。初非一定於熱。凡此諸條。岐伯特發明運氣司天使然耳。可不察而蹈粗工之說乎。</p>

<h3>陽明歲氣病疏</h3>
<p>燥金秋令。屬處暑後寒露前。而其上為陽明者。前此濕土溽蒸埃昏。陽而不明。至處暑則氣物斂收。陽氣已高。天晶地明。故曰陽明。非在人兩陽合明於胃之陽明也。胃應相火。旺於巳午。故曰陽明者午也。若在主令司天。則為燥金。屬七八月。在人屬肺。故肺主秋令也。燥金者生於濕土母腹。至此則出三庚伏後。涼風至而秋斂成。故曰燥金司天。則標本同氣。人以手太陰肺應之。故陽明所至為浮虛。金氣過斂。陰營不副。外傷表氣故也。為鼽肺主鼻也。為尻陰股膝腨胻足病。燥傷腎也。為脅痛皴揭。燥傷肝也。自病皮毛。甲錯而皴揭。皆燥病也。為鼽嚏。金寒而肅斂也。要以燥勝則乾。故諸病起也。是以歲金太過。邪傷肝木。民病兩脅下少腹痛。目赤眥傷。耳無聞。木不能舒。氣斂不營。反生火就燥。劫其本氣。故見諸症。甚則體重煩冤。體重者。肅殺之甚。無生動之氣也。煩冤者。肝氣逆而不舒也。經曰。腎虛脾虛肝虛。皆令人體重煩冤。又肝不及。令人胸痛引背。兩脅滿。痛引少腹。前言兩脅下少腹痛者。病肝臟之氣也。此復言兩脅滿且痛引少腹者。病肝臟之經也。蓋臟氣外應運氣。故所感必先病臟氣。而後及經脈。諸臟皆然。與四時猝然感冒。先皮毛而次入經脈者不同也。甚則喘咳逆氣。肅殺太甚。則金氣自虛。而火氣來復也。肩背痛。尻陰股膝髀腨胻皆病。金氣虛其經。而又下及所生之水臟也。暴痛胠脅。不可反側。金收則木生令收氣峻而生氣伏。故肝膽病也。至夫燥淫所勝。筋骨肉變。民病左胠脅痛。傷肝甚也。寒清於中。感而成瘧。金木相搏。寒熱格拒。故成瘧也。咳腹中鳴。注泄鶩溏。咳為肺家自傷。腹鳴為肺氣揫隘。中焦不治。注泄鶩溏。為寒清過甚。而傷中也。心脅暴痛。不可反側。木干火抑。火木俱損。故痛不可轉也。嗌乾面塵。燥傷廉泉。故干。血不華色。故塵。腰痛㿗疝。肝感寒清。而下蘊結也。目昧眥傷瘡痤。皆木鬱而火遏於經也。蓋陽和者物之生。揫斂者物之死。金燥過。則肺心脾腎皆病。不止肝病矣。若金不及。而火乘之。則又病肩背瞀重鼽嚏。肩背之重。由肺氣之失位也。鼽嚏之來。寒乘則見。熱乘亦見也。至若血便注下。火傷二腸。金化不能及也。若乃金鬱者。咳逆脅滿。引小腹。善暴痛。不可反側。皆肺氣自壅也。故滿引小腹。脈氣不行於下也。痛不可反側。金不行。則木氣不達也。又嗌乾面塵色惡。皆燥勝則乾也。病機曰。諸氣膹郁。皆屬於肺。膹郁者。若咳喘鳴仰息胸脅痛。支滿引少腹之類。諸氣則諸經之氣也。又曰。諸痿喘嘔。皆屬於上。金燥其榮傷筋。故痿屬肺上焦。鬱而不通故喘。且嘔唯肺氣不行。故胃氣乃逆。所以屬上也。金燥之令。大概如此。司天與此略同。而主客乘除皆可察矣。</p>

<h3>太陽歲氣病疏</h3>
<p>寒水主令。在立冬後冬至前。於時為六陰。故為寒水。太陽為之上者。此時陽退而在上。為卦之剝。老陽在上一畫。其下五陰。故太陽之下為寒水也。寒水為冬之正令。在人唯足少陰腎得以應之。而太陽反納膀胱者。膀胱與腎表裡。同主寒水。故太陽以陽從陽。而納膀胱也。雖納膀胱。而主令則以少陰為主。故太陽為標。寒水為本。本寒而標熱。本勝而標不勝。是以太陽所至。為屈伸不利。腰痛。寢汗。痙流泄禁止。屈伸不利。寒病在骨也。腰痛腎寒也。寢汗寒水凌心。而氣微汗不收於陰也。痙病支體強直。筋急反戾。腎虛而寒凝相襲也。三焦寒不化為流泄。陰凝結陽不化。能使二便不通。為禁止。其病即所謂陰結也。夫水太過。其動漂泄沃湧。若水不及。則病痿厥堅下。此即禁止之謂。從土化也。其為歲水太過。邪害心火。民病身熱煩心。躁悸陰厥。上下中寒。譫妄心痛身熱者。以寒氣止迫其火氣外炎故熱也。煩心躁悸。水氣凌心火。抑而內寇也。陰氣寒甚。故厥逆於上。三焦之火衰。故上下中寒。心失其居而不寧。故譫妄。水寒剋火。故心痛。甚則水淫而內傷。為腹大脛腫。此寒濕交流。水汨土也。喘嗽寒搏於肺也。寢汗出憎風。衛陽衰。而營不守也。上臨太陽。則兩寒並至。為腹滿腸鳴溏泄。食不化。所謂漂泄沃湧也。渴而妄冒。膽中心憤盈也。若夫寒淫所勝。則流禍更遠。蓋太陽為諸陽之首。即君火之陽也。今從在下之寒水寒氣。及從上而至足。上下皆寒。而太陽運居於中。是內陽居中。正所謂凡傷於寒。則為病熱者也。寒熱更勝。是以血變於中。發為癰瘍。厥心痛。嘔血血泄鼽衄。善悲時眩僕運。斯皆陽熱中盛之證也。胸腹滿手熱時攣。寒乘於中而不運。格於外而不榮也。衝心澹澹大動。寒水作逆。並胸脅胃脘不安也。面赤六陽格而不下。目黃脾土濕而不升。善噫心氣不昌。嗌乾氣不上潮。色炱渴而欲飲。皆病本心逼之。故其中雖有與心同病者。要皆心火抑而失職使然也。至若水不足則濕。乃大行民病腹滿身重濡泄。寒瘍流水。寒瘍者。陰疽也。陰不成膿。故流水。腰股痛發膕腨。股膝不便。煩冤足痿。清厥腳下痛。正所謂痿厥堅下。甚則胕腫水汨土也。若水鬱則又不然。水瀦而不流。則上下三焦筋骨。皆水氣為患而勝火。故善病寒厥心痛。腰脽痛。大關節不利。屈伸不便。善厥逆。痞堅腹滿。夫動轉歸火。今火失其居。故病若此。病機曰。諸寒收引。皆屬於腎。諸病水液澄澈清冷。皆屬於寒。諸寒收引已見前矣。澄澈清冷。此三焦無火。不能攝水也。又曰諸厥固泄。皆屬於下。經曰。少陰不至。則厥陰結下焦為固。寒傷土濕為泄。皆自下焦腎氣為之。故曰皆屬於下也。</p>

<h3>奇恆病論</h3>
<p>黃帝問曰。余聞揆度奇恆所指不同。岐伯對曰。揆度者。度病之淺深也。奇恆者。言奇病也。夫恆之為道。謂胃氣五臟。各得其所。上順天時。內調營衛。故神轉不回。轉、流動也。回、逆曲也。回則不轉。乃失其機。於是臟腑曲逆。剋制凌犯。神機之運用失矣。失則不循恆道。有非恆道所可得而揆度也。於是岐伯又設奇恆一門。以度奇病。其文本六十首。書闕簡脫。今可論者十之二耳。如五臟別論。奇病論。大奇論。脈解篇。氣厥論。腹中論。逆調論。病能論諸篇。俱從運氣臟腑經絡而外。拈其病之厥逆錯雜。所謂回則不轉。乃失其機者也。此開後世內傷雜證之大經大法也。乃為綱領。其說曰行奇恆之法。以太陰始。夫手太陰為元氣之主。足太陰為六經之主。奇病之作。必變於元氣神機之失。不失必占於元氣。故雖奇病之千變萬化。而一以太陰為準。此又治奇恆之大宗也。乃內經又有拈臟腑本來之奇恆者。此原其所以奇之故也。經曰、腦髓骨脈膽女子胞。此六者地氣之所生也。皆藏於陰。而象於地。故藏而不瀉。名曰奇恆之府。又曰魄門。為五臟使。與前為七。而唯膽屬少陽。特曰中精之府。此七者之有病。其受病不與臟腑之主時者同。是臟腑之一異也。有出於臟腑體要之奇恆者。如腹中論。諸病外不涉於形身。內不關於臟腑。病在宮城空廓之中。或氣或血。或風或熱。以至女子妊娠。皆在空腹之中。雖膽中三焦督任五臟之散絡悉在。而其病止屬肝脾。以肝脾為腹中之主故也。此體要之一異也。有臟腑交加之奇恆者。如氣厥論。寒熱之相移。不論順傳逆傳。而以氣之所之相併為病。逆調論。寒熱陰陽之所相勝而為病。調經論。表裡上下陰陽氣血之相併。互相勝負而為病。夫陰陽氣血寒熱之相併相勝。不繫四時。不緣感召。要皆積漸之所致。迨病至而相勝相併。此實內傷不足之所由。所以異於恆者也。是病源之一異也。又有臟腑頗僻之奇恆者。如大奇論。臟腑脈各見頗僻以成病。有腫滿偏枯癇瘛。風水腸澼之證。而皆非臟腑主時之恆病。則厥逆之由來既久。必須揆度脈氣病由。而治之有別。是又疾病之一異也。又有六氣錯出。互為體用之奇恆者。如脈解篇。太陽主寅。少陽主戌。厥陰主辰。太陰主子。又云四月五月。人氣在頭。八月九月。人氣在心。原其然者。人身恆常之氣。由下而上。由上而下。故正月人氣在肝。而三陽初出於寅。故太陽主寅。厥陰木火主氣。故厥陰為辰。九月人氣在心者。以氣由肺而下始。次至心少陽。為心表為相火。故亦次心而主九月戌。太陰為陰中之至陰。十一月陰盡而純坤見。故太陰主子。此又與本經三月四月人氣在脾者不同。凡陰陽乘除。每各一道。並行不悖。俱非恆道。而要不可背之為道。是又陰陽之一異也。又有八奇經見病之奇恆者。如刺腰篇。十二經皆有腰。蓋以帶脈之為諸經鈐束故也。若陰陽兩蹺。出陽入陰。出陰入陽。而機關於目。陰陽二維。別為部於陰陽之會。而主指之內外。沖督任脈一源而三歧。而各統陰陽之海。所得之病。既非十二經之恆常。而十二經每與之俱病。又奇道之一異也。是故人之一身。其為陰陽臟腑五行恆轉。而神機攸序。乃既有前七者。臟腑之孤陰。不倫於恆等。有部位之關要。不涉於眾流。又有病源之乘。痼疾之積。陰陽錯出之異。奇經為病之別。苟非揆度執之恆理。而不求其所由然。安能使神機之轉而不回耶。</p>

<h3>沖病論</h3>
<p>衝脈為病逆氣而裡急上衝。作躁熱咳吐。手足厥逆。氣從少腹上衝胸腋。咽燥面翕然熱如醉。下流陰股。小便難持。暑月病甚。則傳腎肝為痿厥。四肢如火。或如冰。心煩。寒氣客脈不通。氣因喘動。應手起關元。隨腹直上。疝瘕遺溺脅肢滿煩。女子絕孕。運氣在上下左右。不可發汗與下。</p>
<p>衝脈病凡數條。散見諸篇。及仲景書。合而觀之。衝脈既為十二經之海。而下為血海。又與督脈為十二經之道路。及與任脈陽明會於氣衝。則舉一身督任二脈皆沖也。要其主血海。是以為先天精氣之主。能上灌諸陽。下滲諸陰。以至足胕。故其治常在血海。唯其陰陽調和。而精氣充足。則陽和之精自升。運於一身之間。若稍有不調。即本根不茂。必逆而上僭。其為上僭有二。陰不足者火逆。火逆則咳吐躁熱。上搶心眩僕。四肢如火。心煩恍惚狂癡。陽不足者寒逆。寒逆則少腹痛。中滿暴脹。瘕疝遺溺。脅支滿煩。女子絕孕。而其脈之來也。若火逆則陰陽俱盛。兩手浮之俱有陽。沉之俱有陰。氣逆則脈來中央實堅勁。至關尺寸俱牢。直上直下。證見胸中寒疝。大約皆沖之病。則見此等脈也。而仲景云。動氣在左右上下。俱不可發汗與下。發汗與下。右則犯肺。於上則氣躁而逆。故衄渴苦煩氣喘。飲水即吐。於下則精竭而不止。故頭眩咽燥。鼻乾心悸。左則犯肝。於上則傷血。而引肝上逆。故頭眩。筋惕肉瞤。難治。於下則傷氣。腹裡拘急不止。動氣反劇。雖有熱而欲卷。上則犯心。汗之則氣上衝在心端。下之則掌握熱煩汗泄。欲水自灌。蓋汗下則心液泄。故如是也。下則犯腎。故汗之而寒起。且無汗大煩。骨節疼頭痛。目眩惡寒。吐谷。太陽虛也。下之而氣竭。上下兩隔。則腹滿卒起。頭運清穀。心下痞堅。亦少陰氣不足且厥也。所以然者。沖治血海。治在臍之左右上下。大約沖氣不足。則陰精虛。陰精虛則陽氣竭。其可發汗與下乎。然其氣起少陰。發於厥陰。若三陰之開闔失職。則本源之真水真火兩虛。而為患種種。必犯於沖。則又不止痿厥二證為沖之致然矣。</p>

<h3>任病論</h3>
<p>任脈為病。男子內結七疝。女子帶下瘕聚。脈來寸口緊細。實長至關者。任脈也。動苦少腹繞臍下引橫骨。陰中切痛。又若腹中有氣。如指上搶心。不得俯仰拘急。</p>
<p>任脈為陰脈之海。起於會陰上中極。而同足厥陰太陰少陰並行。循關元歷石門氣海。而會足少陽衝脈於陰交。歷建里而會手太陽少陽之陽明於中脘。以上喉嚨。會陰維於天突廉泉。至目下之中央承泣而終。其脈之起真陰也。地道也。然地道之能通。必由天氣之下降。故天癸者。天之元氣降而為精氣。以充於地。而後真陰生。真陰充。然後地道通。於是太衝脈盛。而月事以時下。若任脈虛。太衝脈衰。天癸竭。而地道不通。則形壞而無子也。然陰在內。雖為陽之守。而真陰之充。必由穀神之滿足。年歲之時至。然後天元堅定。所謂天癸至。而地道始通也。是以真陰必由於真陽。及年四十。而陰氣自半。則以陽之盛極而衰。為陰所襲。而所襲之陰。乃窮陰而非真陰矣。是雖真陰之衰。而實真陽之衰也。要之任脈之為病。病在陰中無陽。故男子內結七疝。女子帶下瘕聚。此為結陰。若夫脈來緊細。實長至關者。則所謂陰氣之襲也。故病動苦少腹繞臍下陰中切痛。又苦腹中有氣。如指上搶心。拘急不得俯仰。此雖為無陰之症。實為無陽之症。蓋陰中苟有真陽。則真陰充滿。和順自得。上會三陰三陽。以至於兩目之間。而無病矣。</p>

<h3>二維病論</h3>
<p>陽維為病。苦寒熱。陰維為病。苦心痛。陰陽不能相維。則悵然失志。溶溶不能自收。陽維動苦肌肉痹癢。皮膚痛。下部不仁。汗出而寒。又苦顛仆羊鳴。手足相引。甚者失音不能言。陰維動苦顛癇僵仆。羊鳴失音。肌肉痹癢。應時自發。汗出惡風。身洗洗然。陽維脈浮。暫起目眩。陽盛實者。若肩息洒洒如寒。陰維脈沉大而實者。苦胸中痛。脅下支滿心痛。其脈如貫珠者。男子兩脅下實。女子陰中痛。如有心狀。</p>
<p>陽維維於諸陽。其所謂維者。起於諸陽之交。發於足太陽之金門。而與手足少陽陽明。會於陽白。陰維維於諸陰。起於諸陰之交。發於足少陰之築賓。上至頂前而終。是二維者。雖有經絡之別。而實為陰陽之盛氣所持。蓋陽莫盛於太陽。是以能維持諸陽。陰莫盛於少陰。是以能維持諸陰。故二維之盛。其盛不在絡而在氣。二維之病雖在絡。而實亦在氣。蓋唯本陽本陰有衰耗之氣。則必至總見於諸陽諸陰。是以陽維為病。必太陽衰於下。失升騰之和氣。而先見於少陽。故苦寒熱。陰維為病。必少陰竭於裡。而見窮陰之厥逆。故苦心痛。若陰陽不能相維。是謂陰陽兩虛。其證心腎不交。水火兩乖。神明無所主。故悵然失志。溶溶不能自收。以水散渙。無相養之道也。又陽維苦肌肉痹癢者。陽衰則衛不行而氣滯。氣滯則陽不能率先。而陰行遲。故痹癢。又令人身如蟲行。如是則陽氣不攝。而陰氣獨滯。故皮膚痛。陽衰於本起。故下部不仁。並汗出而寒。此陽之不固不至。而營亦不行。是以陰襲之也。他若顛仆羊鳴。手足相引者。陽去則經絡凝澀。停濕在經而為痰。異時陰襲之。則經阻而筋掣。故迫而相引。又阻其氣道。故聲溢而不能發。若羊鳴也。至若陰維之不維。是陰不副陽。而不能為陽守。則陽離而不入於陰。重陰充塞隧道。九竅皆沉故亦病顛癇僵仆羊鳴。或失音也。若肌肉痹癢。汗出惡風。似若稍輕於前症。要亦營虛無陽而畏寒。衛亦不能為之衛。故陰維之虛為陰虛。而實亦無陽之虛。特少異於陽維云耳。</p>

<h3>帶病論</h3>
<p>腹滿。腰溶溶如坐水中。婦人小腹痛。裡急後重瘛瘲。月事不調。赤白帶下。左右繞臍腰脊痛。衝心腹。</p>
<p>經云、身半已上。天氣主之。身半已下。地氣主之。中為天樞。天樞則在氣交之分。毋論一身二十七氣之上下流行。於此關鎖。而又必有氣焉以堅持而整束之。以牢持於上下之間。是以能聚而為強有力。故凡人之力出於膂。膂在季脅之下。正所謂帶脈也。故衝任二脈。傳於氣街。即屬於帶脈。而絡於督脈太衝之脈。所以能上養心肺者。亦賴於帶脈之持之也。及帶之為病。其證皆下而不上者。下之腎肝虛。而真陰不榮。上為心脾之郁。氣不上下行而不運。於是停濕而為熱。而下注於小腸血海之間。則病作矣。故赤白帶者。上為心脾鬱抑。下為腎肝陰虛。邪熱留連。即為帶淫之病也。腹滿者中分之不運也。腰溶溶如坐水中者。陰陽兩虛。中分弱而力不能鎮定也。左右繞臍腰脊痛衝心腹者。陰氣襲於下也。陽不能勝。而不能固守於天樞。是以陰得而襲之。為厥逆之事也。蓋鍵束關鎖機關。全在於帶脈。苟帶不能自持其氣。其證皆陷下而不上矣。治之有標有本。其升降補瀉。在求其本而治之可耳。</p>

<h1>卷之三</h1>

<h2>述病部上</h2>
<p>古人察病之源。推病之自。審病之確。莫過內經。後世務為支離。故昧厥所由。而不能知陰陽臟腑之所以然。今聚內經十六卷之文。總其散見。合而述之為病情八章。使後學得所指歸焉。</p>

<h3>陰陽第一</h3>
<p>病之大綱。不外陰陽。陽衛外者也。陽不密則不能衛外而為固。故風寒六淫之邪得以入之。入之則外感之諸症生焉。陰為陽守者也。陰弗營則不能宅陽以藏神。故內傷神志筋骨之病居之。居之則內傷臟氣之有餘不足種種興焉。識病必先辨陰陽。陰陽辨而後能察病矣。</p>
<p>所謂陽者。欲如運樞。運樞者。開閤和調而不凝滯也。若起居如驚。則自致煩擾。而神氣乃浮矣。浮則神內散而出。邪外伺而入。於是有因寒因濕因暑因氣之外感。內經先舉此四端。而一切外感六淫之邪俱可知也。因於寒者。則為病熱。故體若燔炭。必汗以散之。是以外感風寒。必以發表為第一義。蓋以風寒之入。始於牢持衛氣而不得散。若不發其汗。勢且從而犯內也。因暑則別。人傷火熱之邪矣。火熱入則直入臟腑。而劫心劫肺劫胃。故煩汗喘渴四症。一齊俱見。靜則多言者。心主言。心不勝外火。而神不舉。故靜失其守而多言也。因濕者。濕既從表。先犯太陽。故首如裹。既而入內。必鬱於陽明。陽明鬱則不能行太陰之氣於三陽三陰。此必先病筋膜。故大筋緩短。小筋弛長。為拘為痿之症生矣。若夫因氣。氣固非外至也。然以內之陽氣不能振其綱。則將紐解而失其維。是以四維相代為用。所謂左枝而右梧也。四維如是。內氣之餒敗可知矣。夫外感之起。千條萬緒而內經先揭此四端者。蓋以明陽不衛外。遂有外感之患也。</p>
<p>蒼天之氣清靜。順之則陽氣固。若陽不固。不止易於外感。而亦已內傷。故曰陽氣者。煩勞則張。精絕。張者如弓之張。精絕者。陰精之絕也。弓矢張則干強筋疲。弓之體必脫。陽之煩勞而張象之。故精絕也。夫陽欲固以衛外。乃以煩勞敝之。陰之起亟者。將何以副。故既失其所以固陽之道。則闢積於夏矣。闢。偏也。陽擾陰虧。已成偏熱。故至夏益甚。所謂甚者。五心煩熱。如煎如熬。此孤陽外浮而真氣內奪也。故曰煎厥。如是則肝血不榮而為目盲。腎精不致而為耳閉。身若壞都。散解而不可憑藉。凡此者陽張而至敗。斯陰絕而失守也。</p>
<p>陽氣者。喜氣也。和氣也。好和而惡奸。若大怒則形氣絕而血菀於上。使人薄厥。大怒者。陽之厲氣也。肝寒主之。其橫溢之至。能使十二官失職。氣窒則菀血。故鬱於上也。薄。迫也。厥。逆也。大怒則氣遂於上而不下。故薄厥也。且陽氣者精則養神。柔則養筋。今薄厥則不精不柔。眾禍方起。何以言之。失其柔則傷筋。筋所以束骨而利機關。今有傷於筋則縱緩不收。手足無措。若不客者矣。失其柔則又偏於為剛。而汗出偏沮。偏沮者。半與營和而半否也。偏枯之症起矣。又衛氣不固則玄腑方開。寒水乘之。熱鬱玄腑。甚則痤癤。微亦疿疹。或膏粱肥甘。剛而傷陰。與陽為亢。則變生大疔。而受如持虛者。以陽不能柔而與陰為剛也。況乃形勞汗出當風。使寒氣薄之。自當液凝為鼓急。甚則痤矣。此非陽氣之不固使然歟。不特是也。陽不能柔則開合不得。寒氣從而陷脈為痿。至於留連肉腠。使經絡俞穴合之氣化薄。則不精之至。而內傳之為善畏驚駭。蓋俞有傳送之義。今使寒陷經俞。氣化為迫。侵及臟腑。所謂氣一能動志也。善畏驚駭。非神志之動乎。而不精之至微焉矣。夫陽氣被傷而不柔不精。遂至廢筋骨。亂神明。皆不密之為也。</p>
<p>所謂陰者。體魄五官百駭筋骨血肉津液皆陰也。養陰之道。在和五味。經曰。陰之所本在五味。陰之五官。傷在五味。原其然者。陰食味。陽食氣。五味出於地。故能生五臟之陰。然一或偏與不節。則所刺反能傷陰。傷陰亦能病及於陽。何以言之。凡在內者皆陰為之主也。不惟陽密足以固陰。而亦陰強乃能壯陽。故岐伯極言養陽而後。續言養陰。以備陰陽之全義。其言味以養陰。而受傷於偏。至此固其大者矣。而如煩勞大怒。飲食起居之不節。至於煎厥。與形氣絕。要豈細故哉。陰不養則不可以扶陽。若其本不和則陽氣破散。陰氣乃消亡矣。此養陰之義也。</p>
<p>失於陰陽。則四時之氣更傷五臟。是以春傷於風。則邪氣留連。乃為洞泄。洞泄者。外傷於風。則內之風木亦動。合內風與外風交煽。是以留連至久。必侵脾土而為洞泄也。夏傷於暑。秋為痎瘧。夏以淒滄水寒感之而鬱熱。秋風乘之則瘧病成矣。秋傷於濕。上逆為咳。發為痿厥。秋濕者。濕土用事未退。肺金感之。不得清肅。故氣逆為咳。肺氣不勝不行。則五臟鬱熱亦不退。必將發為痿厥。冬傷於寒。春必病溫。蓋冬不臟精。是以寒邪易入。寒氣既藏於陰分。至春陽氣上升。新邪外應則為溫病。夫風暑寒濕。迭相勝負。而皆感之者。內氣不守。故外邪皆得以犯之。況病久則傳化耶。若陰平陽秘。骨正筋柔。豈至有是。</p>
<p>陰陽不和。陰爭陽擾。則害及表裡。爭者。五臟氣爭也。陰氣營於五臟。而九竅皆稟五臟之氣。爭則陰邪獨盛。所謂陰無陽則戰者是也。擾者。魄汗不藏也。陽氣起於四末。陽擾則四逆而起。蓋陰爭則必陽擾也。一為臟病於內。一為經病於外。內外交病。而肺為五臟六腑之長。元氣之主。內外兩非。則必肺獨受之。故喘鳴之候興焉。皆以營衛下竭。孤陽獨浮。斯不能克耳。後學不辨其疾在陰陽。而動以發肺治肺朦矣。</p>
<p>有三陰三陽之氣各病者。內經不拈臟腑絡經。緣三陰三陽。先天各有分部位次所由。以立臟腑。而要非臟腑經絡之所出。故病止從陰陽氣血生。不因經絡臟腑生也。然其間有單病。有合病。有並病。單病。一氣病也。合病。陰陽齊病也。並病。此勝而並其負也。此皆人之大陰陽病。其病未嘗不及臟腑。而要非經絡臟腑之為病。後學不明正陰陽所病。動以表裡臟腑陰陽混詮。矇昧千載。可嘆也。</p>
<p>單病者。如二陽之病發心脾。有不得隱曲。女子不月。二陽。陽明也。陽明。位太陰之表而居中於腑。則胃當之。非大腸之以經絡為陽明比也。其病發心脾者。胃與心。為生土之母子。而脾與胃。為行津液之表裡。發者。發足之義。人之情欲。本以傷心。勞倦憂思。本以傷脾。母既病則必連及於子。臟既傷則必連及於腑。故凡內以傷精。外而傷形。皆能病及於胃。此二陽之病。發自心脾也。夫陽明為生化之本。其氣盛。其精血下行化營衛而潤宗筋。今化源既病。則陽道外衰。故不得隱曲。在女子為不月。此其候也。病久而傳。則傳為風消。又傳為息賁。死不治。蓋陽明既病。則表邪起而勝之。邪勝則精血不榮。故肌體風消。又胃病則肺失其養。故氣息奔迫。氣竭於上。精虧於下。陽虛生外寒。陰虛生內熱。風消息賁。勢必敗及五臟。故曰死不治也。蓋人身有真陰。有真陽。心脾為真陰之主。胃為真陽之主。傷及真陰。必使真陽無守。二陽既病。則倉廩匱乏。餉道絕運。是胃實為生死之關也。而要必自真陰之傷為之。故心脾之病。不待好色之傷而始。有不得隱曲與不月也。</p>
<p>三陽為病。發寒熱。下為癰腫。及痿厥腨痛。傳為索澤癩疝。三陽太陽也。太陽為三陽主氣。起少陰而居其上以主巔頂。又主衛外為固。以陽盛且浮。故在上又在外也。夫太陽主表。於經則膀胱納之。而內經拈其病。終不言膀胱者。以膀胱止州都之官主表。既非其事。而太陽體用。終不歸於膀胱也。然則此云發寒熱者。以太陽主表。虛則不能捍風邪而衛外。是以邪入而發熱。若下為癰腫等。則為犯本及膀胱耳。糜爛為癰。凝結為腫。失力曰痿。冷逆曰厥。足肚痠疼曰腨痛。此皆由太陽經之衰颯而留寒壅熱之所至也。至於傳為索澤者。陽絡既虛。久為諸陰所不容。則皮膚潤澤之氣也皆消散。是為索澤。索澤未嘗不與風消同。但彼出於內。陰消而陽散之。此則在其經之陽衰而陰枯也。至若㿗疝。本厥陰病。而太陽經之傷寒亦能致之。此為三陽之傳也。</p>
<p>一陽發病。少氣善咳善泄。一陽。少陽也。少陽為厥陰之表。起厥陰而遊行三焦。繞於心胞。故少陽為遊部為相火。其氣安則柔和。失守則火壯。火壯則食氣。故少氣火壯。則三焦之氣上逆傷肺。故善咳。少陽為木。木強必侮土。故善泄。然土以木為達。若木失其既達之職。則土必寒而不運。亦善泄也。病久而為心掣為膈者。相火與君火同氣。火亢失職。勢必熏心。心動不寧。若有所引。是名心掣。遊部失職。陽明腐熟無權。散精不得。壅滯不行。日久則三焦上下熱盛而血槁。是以上焦不行。下脘不通。是名曰膈。故膈病有二。一為元氣虛而中不運。則痰湧胃脘而脈微。一為血分乾枯。則熱鬱當胸而脈弦大。此皆素傷少陽之行令故也。</p>
<p>按三陽為人身大氣。所以綱維振作為生氣為生理者也。一及於病。則群陰受病。故傷陽必傷陰也。仲景著三陽之病曰。太陽病。頭項強痛而惡寒。陽明病。胃家實。少陽病。口苦咽乾目炫。與內經不同。蓋以外感起論。故必以形層部位先之。不暇及本氣也。何為本氣。如少陽則一陽生於下。遊行三焦而上之。其氣無所不遍。仲景則屬之半表半裡。於經則兩脅及耳也。陽明為兩陽合明。主中氣而為身之維。仲景則屬之太陽之內一層。主在經及腑也。三陽則統主上下。以及衛外為固。此以身之衛氣當之。仲景則以其經之顛頂項背分部也。仲景論外感。故舉以形層。內經論大氣。故究及體用。各有攸當耳。</p>
<p>二陽結。謂之消。此所謂結。乃結於本氣。陽明氣盛熱壯。然血多津守。未嘗有所結也。今言結者。則以陽邪盛而傷陰。枯其津液。故結在中焦也。陽明亢甚。必消穀善飢。食而不飽。又熱亢能消。津液不榮肌肉。故名曰消。此所謂中消症也。消有三。此其一。</p>
<p>三陽結。謂之隔。三陽氣盛而為周身大氣之經。其氣磅薄四達。故有並至如風雨之證。而此云結者。是並於陰分也。經又曰。並於陰則上下無常。薄為腸澼。是蓋陽郁陰中。陰不敢遏。故上下無常。鬱而為熱。薄於大腸。故為腸澼。是亦並於陰也。而其氣尚未結也。其氣若結。則必結於小腸膀胱。此則並於陰而甚焉者也。蓋小腸膀胱為三陽之本經。其邪既結。則傳化之官失用。而升降之通乃隔。上為陽不化氣。下為津液不行。故與少陽失職。俱名為隔。以上皆所謂單病者也。</p>
<p>有合病者。陰陽兩病也。或兩氣同病。偶然相合。或兩致其虛。因而相合。皆合病也。二陽一陰發病。主驚駭背痛。善噫善欠。名曰風厥。二陽。陽明。一陰。厥陰也。俱病則二部本氣俱逆而不下。陽明逆。聞木聲則惕然而驚。厥陰逆。主發驚駭。是二者。皆主驚駭矣。況合病。又木強土疏乎。故主驚駭也。厥陰。陰之根。陽明。陽之本。根本俱病。則下逮沖督。上虛胃氣。背痛善欠者沖督病。善噫者胃病。皆氣逆而不引不下也。名曰風厥者。厥陰病則木強而風起。陽明病則又不能下行三陽。於是逆者。兼內風鼓而逆上。故名風厥也。</p>
<p>二陰一陽。發病善脹。心滿善氣。二陰。少陰為里。一陽。少陽為遊部。然一陰為先天生氣之原。是為生陰。一陽為地雷之後。是為生陽。俱在下而能上騰精氣。以養火金土者也。二者交病。是人之根柢病也。根柢既病。則所謂升者不升。而火金土皆遂矣。是故木氣欠和則脾不疏達。故善脹。真陰不升則心無所養。轉見寒決。故心滿。三焦少氣。則肺亦失其治節。故善氣。此陰陽兩虛之症也。</p>
<p>三陽三陰。發病為偏枯痿易。四肢不舉。三陽。太陽。三陰。太陰脾也。此條為人之太陰陽兩虛之症。三陽太陽主表。不能衛外而為固。三陰太陰主裡。不能出營衛。行津液而灌溉肢肌。故為偏枯痿易。四肢不舉。不識此者。謂為中風癱瘓。而非也。內經明拈此條以示後學。後人尋諸中風之門。謂之菑人耳。</p>
<p>結陽者。腫四肢。六陽皆起於四肢。故四肢為諸陽之本。結者。聚而不行也。陽未有不行者。今其氣結而不行。是陽不用也。陽不用。必壅於所起。故腫必於四肢。四肢皆腫。以知諸陽之結矣。</p>
<p>結陰者。便血一升。再結二升。三結三升。陰主血。邪結六陰。其傷在血。而足三陰為根柢。蓋足三陰皆主於下。故當便血。言一升者。去血之多也。去血如是。其結當解。若不解而再結。則其邪必盛。故便二升。又不解則邪為尤甚。故曰三結三升。此與陰絡傷則血內溢。相似不同。此以邪壅。彼以衝任脫也。又與腸澼下血相承而不同。腸澼下血不多而徐。此以邪甚驟下而多也。二條偏病陰陽。然實諸陰諸陽合病。亦致合病也。</p>
<p>陰陽斜結。多陰少陽曰石水。少腹腫。斜。邪同。陽結腫四肢。乃在陽之發處。結陰使血病在陰之聚處。今邪交入陰陽。而交結之勢必結於陰陽之所共生處矣。生陰唯腎。生陽唯膽。皆根源下焦。而腎職行水。若兩家交壅。正所謂不能通調水道也。然陰多陽少。則腎病為多。腎病則陰之真水沉寒。而無陽以化氣。此病固不在膀胱而在腎。腎既流水不能化精。故石堅一處而不及他所。唯見少腹腫耳。此亦水證之別也。</p>
<p>三陰結。謂之水。三陰為六經之主。三陰邪結。是坤土不能運精矣。土不運精。則二陰之水氣益甚。勢必反來侮土。且水氣盛則陽不得入。陽不得入則肺氣不得通調。斯寒水不行而為壅。故為水也。蓋中州結則氣壅而關門不利。不利則聚水而從其類。類者。本在腎。末在肺也。</p>
<p>一陰一陽結。謂之喉痹。厥陰。少陽。一主風木。一主相火。膽肝心胞三焦皆所共也。均為熱化而風煽之。四結之脈。皆絡於喉。風火逆上而不得發。必於喉乎結之。是成喉痹也。</p>
<p>有並病者。凡人之陰陽內外雌雄。必相輸應。是以陰陽相致。得其和平。若既兩病。則各經之陰陽。必錯迕違逆。相遇則搏而敗。必並於勝。故不謂之合病。而謂之並病。並者有所歸也。</p>
<p>二陽一陰。陽明主病。不勝一陰。脈耎而動。九竅皆沉。陽明全有穀神營衛之盛氣。厥陰則任獨使而布行之。合兩家同病。而中州氣餒。是陽明主病矣。乃中州氣餒。而風木失和。將厥陰之戾。反克於中州。嗣此陽明之脈不復搏大而見耎。氣不昌而內郁見動。則所以宣之九竅無俾也。故皆沉。此則陽明之病甚矣。是謂並病也。</p>
<p>三陽一陰。太陽脈勝。一陰不能止。內亂五臟。外為驚駭。一陰主筋膜之氣。又主三陰之闔。能為太陽之守。莫一陰若也。乃三陽一陰俱病。而太陽之脈且勝。夫太陽之病。在脈浮。病而脈勝。則浮大中空。無陰可知。無陰則太陽之上下無常方。風雨並至而為病。而豈無氣之一陰能止之乎。於是內氣不守。則內亂五臟。本臟神怯。則外為驚駭也。二陰二陽。病在肺。少陰脈沉。勝肺傷脾。外傷四肢。二陰主裡而藏精。病則真精內虛。二陽起穀神而朝津液。病則津液枯竭。於是氣逆火盛。必傷於肺。故曰病在肺。若見少陰脈沉者。是謂腎氣不衡。而無根之浮火逆而上乘。則上勝於肺。中州不能遏其逆。則熱燥傷脾脾病則不能授氣於四關。故並外傷四肢也。</p>
<p>二陰二陽皆交至。病在腎。罵詈妄行。顛疾為狂。前證明陽氣虛內熱。腎氣不衡。故有勝肺傷脾之見。今內傷之氣皆交至。而定為病在腎者。此係腎家水空火不守。而上發與陽明熱邪相併。使心無所主。故神惑志失。而罵詈妄行。太陽無內。故顛疾。神明內亂。故為病狂。此症之見。似宜皆在陽明。然實腎精不守。不能主裡。使心火自焚。與陽明並也。</p>
<p>二陰一陽。病出於腎。陰氣客遊於心脘下。空竅堤閉不通。四肢別離。一陽連腎。上至肺。外連脾胃。然其根本出於二陰。今二陰腎家寒虛。少陽不足。故病出於腎。腎與膽氣皆寒虛。是以陰氣客遊於心脘下。陰氣既盛於中脘。則所以行津液出營衛以灌溉四末者。皆空竅堤閉不通矣。不通者。無陽則不通也。不通則四肢乃別離矣。此證近於單腹脹。而四肢如削者也。一陰一陽。代絕。此陰氣至心上下無常。出入不知。喉咽乾燥。病在脾土。一陰之陰。為作朔之陰。一陽之陽。為生生之陽。二脈皆代絕。是陰不為陽根。陽不為陰生矣。兩俱失職。則所以為遊部。為獨使者。皆無根之陰氣也。心之下。自膻中至三焦。皆少陽生髮遊行上下之位。二部之生氣既已無根。故陰氣至心而上下無常。出入不知也。咽喉膽之使也。故干。脾土之沖和。亦賴膽肝之舒達。若脈皆代絕。是以死氣乘脾矣。其為中氣不續。中土衰敗可知。</p>
<p>二陽三陰。至陰皆病。陰不過陽。陽氣不能止陰。陰陽並絕。沉為血瘕。浮為膿胕。二陽三陰。本脾胃也。而後云至陰者。以明此三陰屬於太陰肺。故分別言之。夫陽明居二陽中州氣盛。太陰脾常為之行氣於三陰。而陽明亦自能達氣於三陽。則手太陰肺常能為治節於其間。是以陰陽和同。陽倡陰隨。陰守陽中。陽指陰使。今二陽三陰至陰皆病。其病氣皆見於其脈。則其象為陽浮而不能沉。陰沉而不能浮。是以陰不過陽。陽亦不能止陰。是陰陽離絕也。如是則沉伏於內者。有陰寒之病。血聚為瘕。浮顯於外者。有陽毒之病。壅盛膿胕。舊文作沉為膿胕。浮為血瘕。有吳鶴皋正之。按內經無並病之文。然陰陽不和。兩戾相遇。勢必相戰。戰有勝負。則其病更有所歸。或歸勝。或歸負。必有為之主者。終非合病之條也。故另出言之。乃內經舉一隅耳。此陰陽之錯迕。臟腑之乘除。可不辨明乎。</p>

<h3>虛實第二</h3>
<p>虛實者。百病之定體。所謂邪氣盛則實。精氣奪則虛。二者而已。然而標本逆從之治。皆起於此。不可無緩急有無之辨。以進求其詳也。緩急者。察虛實之緩急也。無虛則急在邪氣。多虛則急在正氣。微實則雖治實而當固守根本。微虛則雖治虛而當兼防不測。有無者。察邪氣之有無也。表裡臟腑。邪有所居。永得其本。而直取之。是有為。邪之實也。情欲傷內。勞倦傷外。非邪似邪。病在元氣。而明辨之。是無為。真之虛也。苟不審此。以逆為從。以標作本。傾人命矣。</p>
<p>虛有脈象。岐伯曰。氣虛。肺虛也。氣逆者。足寒也。人之元本。主在元氣。而元氣之主在肺。故氣虛則肺虛。肺虛而一身之元氣。無不皆虛矣。虛則必見氣逆。其氣逆者。足寒也。人之陰陽。其氣皆起於足。若足寒則陽不足而陰乘之可知矣。凡虛宜以此為斷也。</p>
<p>有重虛者。經曰、脈虛上虛尺虛。是謂重虛。脈虛者。不象陰也。氣虛者。言無常也。尺虛者。行步恇然。重虛蓋謂陰陽兩虛。故引此條為兩虛之榜樣。其一在脈。而云不象陰者。脈出於陰分之營。營衰則神脫。神脫則不能如五臟應四時之象。其不應時而反應病。甚至不應病而又不應時。則全失其陰象矣。故曰。不象陰也。其一在上。即謂肺虛。肺虛則氣逆。恆見之上而脈氣不定。故言無常。其一在尺。尺腎脈也。腎主骨與精。所以固肌膚之會。筋骸之束。今行步恇然。將根本傾撥。不能立矣。占虛者以此三事。所謂虛者盡此矣。</p>
<p>內經言百病之生。皆有虛實。皆生於五臟。而必皆見於神氣血肉志凡五者。至於邪之入。亦即此五者而診其先後次第焉。凡根本虛實。與邪入虛實。莫不從此辨治。故心藏神者也。若有餘則笑不休。不足則悲肺藏氣者也。有餘則喘咳上氣。不足則息利少氣。肝藏血者也。有餘則怒。不足則恐。脾主內以為形也。有餘則腹脹涇溲不利。不足則四肢不用。腎藏志者也。有餘則腹脹飧泄。不足則厥。此其有餘。所謂邪氣盛則實。此其不足。所謂正氣奪則虛也。至若風邪之猝入。亦必先犯此五者。而自其形層次第以入之。仲景分六經以治傷寒。稟此法也。是以經於邪入之。又每曰血氣未並。五臟安定。見邪必自外而入。不遽內並也。故曰。邪客於形。則灑淅起於毫毛。以未入經絡也。故命曰神之微。夫心部於表。腎部於裡。自神至腎。所部有表裡之分。方邪客之灑淅起毫毛。則神先覺。是故命曰神微。次則入皮膚。皮膚微病。犯肺之氣矣。命曰氣微泄。又次則邪入孫絡。孫絡外溢。犯肝之血矣。所謂動其營也。故曰維有留血。又次則邪犯肌肉。肌肉蠕動。此犯在分肉之間。脾之所主矣。命曰微風。又次骨節有動。則邪入經而動骨節。惟志覺之。所謂動志也。邪入乃深矣。然所謂神先覺者。愴然悽然。不快不樂之謂。所謂氣者。畏寒畏風之類。所謂血者。翕翕發熱之類。所謂形者。轉輾疼痛之類。所謂志者。煩而不安之類。皆邪之次也。內經按次五層以針法。循次五治。豈非後世所謂表法解法耶。觀其虛實。則五臟之有餘不足如彼。循其治法。則形層之淺深次第如此。後之治邪。思過半矣。</p>
<p>有相併之虛實。陰陽相傾。氣血以並。氣亂於衛。血逆於經。氣血離居。一實一虛。所以然者。血氣喜溫而惡寒。寒則留滯。溫則消散。此相傾以並之因也。故氣之所併為血虛。血之所併為氣虛。是以有者為實。無者為虛。如血並於陰。氣並於陽。為驚狂者。血並陰。是重陰也。氣並陽。是重陽也。重陰者顛。重陽者狂。故為狂驚。血並於陽。氣並於陰。為炅中者。陰在表則陰內虛。陽在裡則陽內熱。故為炅中。炅。熱也。血並於上。氣並於下。心煩惋善怒者。血並上則陰邪抑心。故煩惋。氣並下則火動於肝。故善怒。血並於下。氣並於上。神亂而喜忘者。血並下則陰氣不升。氣並上則陽氣不降。陰陽離散。故神亂而喜忘。血之與氣並走於上。則為大厥。厥則暴死。氣復反則生。不反則死。蓋血與氣相失則為血虛。與氣相併則為實。至夫氣血並走於上則上實下虛。下虛則陰脫。陰脫則根本離絕。下厥上竭。是為大厥。所以暴死。若氣極而反。陰可漸回。一去不反。不能生矣。此相併之大概也。</p>
<p>有外感內傷之為虛實者。邪生於陽。得之風雨寒暑。此生於外也。為外感。邪生於陰。得之飲食居處陰陽喜怒。此生於內也。為內傷。外感多有餘。內傷多不足。然有內傷而致外感者。則虛中微實。外感而仍內傷者。則實處多虛。此中之虛實。固當細辨。而要即外感內傷。亦各自有虛實。如風雨傷人。客毛滿絡。極於分腠。其脈堅大。此則為實。而寒濕之傷人。必傷衛氣。致皮膚不收而縱緩。肌肉堅緊而削瘦。營澀脈中。衛去脈外。此則為虛。又如內傷之喜怒不節。則陰氣上逆。上逆則陰虛於下。而陽邪湊之。此則為實。然實因於虛。則實為假實也。若夫喜則氣下。悲則氣消。下與消則脈空虛。或因飲食寒氣薰滿。則血澀氣去。此則為虛。此外感內傷之大概也。</p>
<p>有主乎虛實之大要者。其一在氣。人之元氣。所以充形而統血。故氣實則形實。氣虛則形虛。若形氣相反。則偏實偏虛之病生矣。其一在穀氣。谷盛氣盛。谷虛氣虛。所謂食入於陰。長氣於陽者也。五臟六腑。皆已受氣。谷之謂矣。其一在脈。脈為血之府。脈實血實。脈虛血虛。常相應也。而時有反者。岐伯曰。氣盛身寒。此謂反也。氣虛身熱。此謂反也。夫氣盛為熱。虛為寒。今反寒反熱。此陽內鬱而陰外襲。陰內虛而邪外盛。皆形氣之相逆。故謂之反也。又其反者。谷入多而氣少。谷不入而氣多。一則二陽有餘。三陰不足。一則邪並肺胃也。又其反者。脈盛血少。脈小血多。一為陽實陰虛。一為陽虛陰實也。</p>
<p>有診虛實之大概者。氣充滿於內。所為氣入。實也。氣滿泄於外。所謂氣出。虛也。氣為陽氣。實則陽實。必熱也。虛則陽虛。必寒也。此虛實寒熱之見於氣者。可診矣。</p>
<p>五實五虛。以決死生。何謂五實。脈盛皮熱腹脹及前後不通悶瞀。是也。何謂五虛。脈細皮寒氣少及前後泄利飲食不入。是也。備此者皆死。而有不死者。粥漿入胃泄注止。則虛者活。身汗得後利。則實者活。此其候也。</p>

<h3>寒熱順逆第三</h3>
<p>病之體以陰陽。病之勢以寒熱。而寒熱必有由。然陽虛則外寒。陰虛則內熱。陽盛則外熱。陰盛則內寒。原夫陽受氣於上焦以溫分肉皮膚。寒威卒襲之。使上焦不通。斯內陽無所出而寒獨留於外。此陽虛外寒也。勞倦形衰則傷肝氣。木鬱而乘脾。致穀氣不盛。穀氣不盛。而上焦不行。下脘不通。則胃氣熱而留於胸中。是脾不行而內熱也。此陰虛生內熱也。又情欲不節。五臟失守而傷精。精傷則水虧。此亦陰虛之內熱也。陽盛外熱者。寒邪既壅上焦。則肌表固閉。衛氣鬱聚而為外熱。以其能盛格寒而為外熱也。陰盛內寒者。厥氣上逆。寒留中焦。陽氣乃去。其脈盛大以澀。寒邪壅中。故脈盛大滯。而不行故澀。皆陰盛所致。故陰盛生內寒也。</p>
<p>寒傷形。熱傷氣。氣傷痛。形傷腫。寒陰能傷血。故傷形。熱陽能傷氣。故傷氣。氣無形。故傷之而病痛。血有形。故傷之而病腫。</p>
<p>寒極生熱。熱極生寒。寒氣生濁。熱氣生清。寒氣生濁陰。熱氣生清陽。此其正也。乃清陽在下。則生飧泄者。邪熱不殺穀。完穀而出。是為飧泄。濁氣在上。則生䐜脹者。濁邪實於膻中。膻中不能化氣。是謂腹脹。所謂陰陽反作者也。</p>
<p>陰勝則寒。陽勝則熱。重寒則熱。重熱則寒。陰陽以不相勝為和平。陰勝是水襲而火滅。陽勝是火灼而水乾。寒極則熱。熱極則寒。陰極則陽生。冬至是也。陽極則陰生。夏至是也。此可知其旨矣。</p>
<p>寒熱相傾。有所以感之不同。有所以受之不同。則亦其所感所受之多少而分焉。有熱而煩滿者。以其人陰氣少。陽氣勝。故陽邪實於陰分也。有寒從中生者。以其人正氣素不行而多痹。是以陽氣少。陰氣多。營衛不能充達。故寒從中生。所謂寒痹也。有四肢逢風寒而如炙如火者。其人陰氣虛。陽氣盛。四肢之陽與外相得。而少水不能滅盛火。故陽獨勝而止耳。是其如炙如火當肉爍也。更有奇者。前寒中為痹病矣。乃更有身寒。而湯火不能熱。厚衣不能溫。然不凍凓者。以其人之素恃以水為事。使太陽氣衰。腎脂枯涸不長骨髓。不充氣。外內皆涸。故令寒。甚至骨。然腎家一水既竭。肝心兩火獨存。是陰氣已虛於內外。而浮陽獨持於中。故雖寒而不凍凓。是名骨痹。骨痹。當攣節也。生於病熱而有所痛者。則以陽明入陰也。病熱者。陽脈人迎一盛少陽。二盛太陽。至三盛極於陽明矣。陽明盛極。必入於陰。夫陽入於陰。則陰與陽俱盛。是以病在頭與腹。乃腹脹而頭痛也。</p>
<p>有氣厥而臟腑寒熱皆能相移者。人氣和則陰陽和。陰陽和則氣血不至淖與剛。至淖與剛。則陰陽不相入而相勝矣。所謂回則不轉而氣皆厥也。故淖與淖。剛與剛遇必致相移。相移者相傾也。止一氣厥而諸病生焉。故篇名氣厥。其移者如下文所云也。</p>
<p>腎移寒於脾。壅腫少氣者。所謂淖與淖也。腎中內蘊真火。不惟能溫寒水。而亦能為土母以使之化物。所謂命門真火也。今止存寒水之氣。反傳所勝。侵汨脾土。是脾土亦久失溫燥之氣矣。故壅腫少氣。蓋寒盛則陽微無以化氣也。</p>
<p>脾移寒於肝。壅腫筋攣。肝之木。溫達而疏脾也。然木食米於土。亦賴中州之養。今中土寒勝。是土既失其震發。而木乃無氣以升。勢必移寒於肝。土寒故壅腫。木廢則筋寒。故為拘攣。</p>
<p>肝移寒於心。狂。隔中。心藏神。而其火受生於肝。是肝之藏榮。正心之為榮也。今乃受其寒逆。則榮與神俱失。是以亂而為狂。且心主血脈為陰。抑而不行。則將壅於膻中。是為屯膏。故又隔中也。</p>
<p>心移寒於肺。肺消。肺消者。飲一溲二。死不治。肺主氣。而通調水道。其能調之有制者。賴溫氣以行不也。故內經曰。肺之合皮也。其主心也。豈非賴心時與以溫氣。而為之主以潤燥金者耶。今心火不足。不惟不能溫養肺金。而移之以寒。寒與金化則金冷矣。金冷則氣沉而不得升。下有溝瀆而上無雨露。故飲一溲二也。肺氣以下而枯索。是肺消。死不治。夫心肺主膻中為君相之尊。神明之輔。今兩寒失志。此豈特本原日竭。門戶失守而已哉。肺移寒於腎。謂之湧水。湧水者。水氣客於大腸。如囊盛漿也。夫形寒飲冷。肺氣不足則肺寒。母病傳子。則寒可移於腎。腎為寒水。以寒濟寒。故水氣不升而為湧。湧不於腎而客於大腸者大腸為肺之下流。歸於腑也。如囊者裹而不能散也。</p>
<p>寒可移。熱亦可移。所謂以剛乘剛。陽氣散破也。故脾移熱於肝。則為驚衄。脾移熱於肝。為反傳所勝。此土燥木枯。熱之甚也。肝不足。病主驚駭。今土燥移木。傷其藏血。故主驚又主衄也。</p>
<p>肝移熱於心則死。肝藏血而以熱。是肝枯不能貢榮於心也。今乃以風熱相移。則心榮亦枯。而木火相燔。是腎水之所不能救。而唯君火自焚而已。故死也。</p>
<p>心移熱於肺。傳為鬲消。肺本燥金。心復以熱移之。是火燥相即也。因而鬲上焦煩。飲水多而善消也。上文肺消因於寒。此言鬲消因於熱。可見消有陰陽。不可不辨。</p>
<p>肺移熱於腎。傳為柔痙。腎主骨。為作強之官。肺以熱移之。則必精鑠而骨痠。是精無裨也。故為柔痓。</p>
<p>腎移熱於脾。傳為虛。腸澼。死不可治。腎移熱於脾者。陰火上炎也。邪熱在下。真陰虧損。而上挾勢熱以扶脾。是陰虛反克。水土俱敗。故為腸澼。若是者。其始傳已虛。而又淫熱傷脾。何不敗之有。</p>
<p>胞移熱於膀胱。則癃溺血。胞。子宮也。男為精海。女為血室。命門火盛。則胞宮移熱於膀胱。故小便不利為癃。甚則溺血。蓋相火妄動。逆而不通。多患此也。</p>
<p>膀胱移熱於小腸。鬲腸不便。上為口糜。膀胱之熱不解。則移於小腸。小腸之經。循咽下鬲。故受熱為鬲腸不便。如是則否塞不通。壅遏於經。上侵咽頰。為口糜也。</p>
<p>小腸移熱於大腸。為虙瘕。為沉。小腸之熱下行。則移於大腸。將下焦之滯熱不散。必留鬱於曲折之處。是為虙瘕。沉者。沉而在下也。</p>
<p>大腸移熱於胃。喜食而瘦。又謂之食㑊。大腸移熱於胃。燥熱上行也。故善消穀。陽明主肌肉。今陽明燥熱故瘦。是謂食㑊。</p>
<p>胃移熱於膽。亦曰食㑊。膽以少陽和氣遊行三焦。為胃腐熟水穀。乃陽明本經熱甚。反移熱於膽。此為木火合邪。豈能生脾。故亦當食多而瘦。為食㑊也。</p>
<p>膽移熱於腦。則辛額鼻淵。鼻淵者。濁涕下不止也。辛額者。下時額痠。乃下也傳為衄蔑瞑目。膽以其經上抵頭角。腦者。玄珠之府。腎之精也。少陽連腎。故其熱隨沖督。並其經以入腦。腦不勝。則辛額辣氣先在額戶。乃有濁涕注下。或濁黃水者。皆鼻淵也。熱而不止。則傳為蔑衄瞑目矣。凡此以上寒熱數條。皆得之氣厥也。</p>
<p>凡陰陽之勝有見證。陽勝身熱。腠理閉。喘粗。為之俯仰。汗不出而熱。齒乾以煩冤腹滿死。陰勝身寒。汗出常清。淅然厥。厥至腹滿死。陽邪作實。內外皆邪。是為陰絕。故死。陰寒用事而至腹滿。又為陰邪作實。內外皆陰。是為陽絕。故死。蓋諸證而至腹滿。則陽明亦絕。無復能支矣。故皆死也。</p>
<p>諸病皆有順逆。察病必先於此。不可不知也。岐伯曰。腹脹身熱脈大。是一逆也。身熱脈大。邪盛於外也。而加以腹脹。是表裡之邪充塞也矣。即上章所謂腹滿死也。</p>
<p>腹鳴而滿。四肢滿泄。其脈大。是二逆也。腹鳴且滿。四肢清兼泄。陰證備矣。脈不宜大而大者。格陽也。為二逆。衄而不止。脈大。是三逆也。鼻衄在陰脈大為陽。陽實陰虛。是為三逆。</p>
<p>咳且溲血脫形。其脈小勁是四逆也。咳溲血脫形。正氣已衰。脈勁急。邪氣仍在。邪正不相當。是謂四逆。</p>
<p>咳脫形身熱。脈小以疾。是五逆也。脫形身熱。真陰已虧而火猶不清。其脈細小疾數。邪盛正衰之候也。為五逆。</p>
<p>其腹大脹。四末清脫泄甚。一逆也。腹大脹者。最忌中虛。見四肢清脫又泄甚。是脾元已敗。陽氣去也。此一逆。</p>
<p>腹脹便血。其脈大時絕。二逆也。脹與便血。陰病也。脈大時絕。孤陽將脫也。此二逆。</p>
<p>咳溲血形肉脫。脈搏。三逆也。咳而溲血。氣血俱病。形肉脫敗在脾。搏為真藏見。敗在胃。此三逆。</p>
<p>嘔血胸滿引背。脈大而疾。四逆也。嘔血胸滿引背。藏氣連於背也。脈見細小。尚留陰在。今大而疾。真元已虧矣。</p>
<p>咳嘔腹脹且飧泄。其脈絕。是五逆也。如是者不及一時而死矣。上為嘔逆。中為腹脹。下為飧泄。三焦俱病。而脈至於絕者。有邪無正也。工不察此。是為逆治。</p>

<h3>風寒邪氣熱病第四</h3>
<p>風。八風。得其正則無邪。唯不得其正。則為邪氣。而能中於人。然其中者。要各以四時之勝氣襲之。故春勝長夏。長夏勝冬。而於所勝之入。則又必隨臟隨時而為病。以內氣不守。外疾得入也。故春氣病在頭。夏氣病在臟。在臟者心通夏氣。為諸臟之主。故病在臟。秋氣病在肩背。冬氣病在四肢。唯病在頭。故春善鼽衄。夏邪通心。故善病胸脅。長夏犯脾。土氣動擾。積風為寒。故善病洞泄。寒中。秋暑汗不出而風襲膚腠。故善病風瘧。冬寒邪犯四肢。故善病痹厥。原其然者。人身之精。真陰也。為元氣之本。唯冬能藏精。則根本內實。而邪不易犯。雖夏之暑邪。亦得汗出而邪不入矣。若冬不藏精。與夏暑汗不出。則兩失其疏泄閉藏之道。故春當病溫。秋必風瘧。所以隨時隨臟而病也。此則風邪所犯之由也。</p>
<p>風善行而數變。苟一襲於人。則所傷為病。變態不一。是以或為寒熱。或為熱中。或為寒中。或為癘風。或為偏枯。病雖異名。皆風之變。為寒熱者。風藏皮層之間。內不得通。外不得泄。又善行數變。俟腠理開則衛失守。而灑然寒。玄府閟則陽內壅而熱煩悶。此所以為寒熱也。其寒則能衰飲食。其熱則能消肌肉。至使怢慓不食。此寒熱交作之劇也。其為寒中熱中者。風與陽明入胃。胃居中焦。其脈上行至目眥內。其人肥則邪不得出。留為熱中。而目黃。其人瘦則外泄而寒。為寒中。而泣出也。風氣與太陽俱入。行諸脈俞。散行分肉之間。與衛相干。故能使肌肉憤䐜而有瘍。若氣凝不行。則又能能使肉有不仁也。至夫癘者。營氣熱胕。其氣不清。故能使鼻柱壞而色敗。皮膚瘍潰。風寒客於脈而不去。名曰癘風。則風之入深矣。若風中五臟六腑之俞。則亦各入其門戶。故隨俞之左右。而偏中之則為偏風。循風府而上入腦戶。則為腦風入於眼系則為目風。酒飲後玄府易開而中之。汗漏不止則為漏風。入房汗出。內耗春精。而中之則為內風。新沐而中之則為首風。風不外散。傳變而入。則為腸風。熱則下血。寒則飧泄。在腠理而汗泄不止。亦為泄風自循風府。至此凡七種。所以明其成為風也。</p>
<p>風入五臟。變為諸症。其受病形狀各有不同。肺受風之狀。多汗惡風而色皏然白。凡傷風必惡風其多汗者。風開腠理。凡風入而傷。皆皏然微白貌。肺色也。肺變動為咳。為風所迫。必短氣。晝日差。暮則甚。晝猶與衛氣相和。暮則與陰入內。故甚也。其診在眉上色白。心受風狀。則多汗惡風。焦絕善怒。赤色。蓋風木心火相薄。木與火交熾。神志潰亂。故或為善怒。赫赤甚。則言不可快。心病則舌本強也。心和則能知味。故診在口。肝受風狀。則多汗惡風。善悲。色微蒼。嗌乾。善怒。肝為風而風反勝之。則內氣不勝。故善悲。動其本氣。故又善怒。時憎女子者陰器強則好色。病則妒。陰也。目乃為肝之官。故診在目下。脾受風狀。則多汗惡風。身體怠惰。四肢不欲動。脾為風木所克也。色微黃。黃為土也。不嗜食。風勝則土疏不能化也。鼻為面主。故以此診之。腎受風狀。則多汗惡風。面龐然浮腫。脊痛不能正立。蓋邪入則腎挾水氣上升。故面浮腫。在其部故脊痛不能正立。色炲。腎枯也。隱曲不利。腎氣傷也。診在肌上。水挾風行。又乘土也。此五臟受風不同。而病由以異也。而諸症又有異焉者。首風之狀。頭面多汗。惡風。先風一日則病甚。頭痛不可以出。內至其次日則少愈。蓋因沐中風者。則中於頭面。故多汗惡風。首風止作無時。故凡於風氣將發先一日而必甚。頭痛以陽性先而且速也。先至必先衰。故次日則少愈。漏風之狀。常多汗。不可單衣。食則汗出。蓋風邪挾酒則陽氣散越故多汗。陽勝則身熱惡寒。故不可單衣。食長陽氣。故食則多汗。甚則陽獨盛於上。故喘息汗出不止。故衣濡。陽盛陰虛。故口乾善渴。身不能勞也。泄風之狀。多汗泄衣。口乾不能勞事。身體盡痛。則寒。蓋表既不固。而汗出如潰。則津涸故口乾液涸。血虛故不能勞事而身盡痛。且汗多亡陽。故令人寒也。此風之所部。而受病不同也。</p>
<p>風為百病之長。其中於人也。治必當早。遲則傳入不已以至於死。蓋其所以傳者。皆不早治者也。當風寒客於人。使人毫毛畢直。皮膚閉而為熱。是時當以汗發之而已。即或痹不仁腫痛。亦可湯熨及火灸刺而去之。弗治。病遂入舍於肺。以風寒自表入里。必先於肺也。風寒閉於此而不行。名肺痹。發咳。上氣者。變之為咳而喘急也。此尚在可發之時。弗治。即傳之於肝。從所克也。亦曰肝痹。以肝氣厥而上逆。故脅痛且厥。而犯胃故出食。可按若刺。是可治也。弗治。再傳之脾。為肝木乘土。風熱入脾。病名脾痹。其在內則中熱煩心。在外則肌體出黃。然尚可按可藥可浴。以解表與里之風熱也。弗治。脾又傳之腎。名曰疝瘕。疝瘕聚氣而痛之。名少腹冤熱而痛出白。冤熱。煩熱也。邪聚下焦。溲出白濁。以熱結不散。虧蝕真陰。如蟲之吸血。故名曰蠱。然此猶可及治也。弗治。腎傳之心則筋脈相引而急。病名曰瘛。心主血脈。心病則血燥。故筋脈相引。手足攣掣。是以瘛名。邪氣至心。其病已極。使天千一周。則五臟之氣皆息。故死。此病之次也。</p>
<p>有病痝然如有水狀。切其脈大緊。身無痛者。形不瘦。不能食。食少。此病在腎。名為腎風。如有水狀。謂痝然浮腫。似水而非也。脈大者。陰虛也。脈緊者。寒氣也。身無痛。形不瘦者。邪氣不藏。不在表也。腎邪反克於脾。故不能食。腎既克脾。勢必至犯心。犯心則神氣失守。故善驚。驚而心氣痿弱。不能復。是水火俱困矣。故死也。</p>
<p>有內傷而適與風邪會。因加而發者。不離屏蔽而病。此皆常有所傷也。或傷濕而留於分肉血脈。或墮恐惡血。留而不去。或卒然喜怒不節。則氣有所逆。或飲食失宜。則內有所傷。或寒溫不時。致腠理閉而衛氣不通。其開而冒露於風寒。則邪在前。風寒繼之。二者相值。則血氣凝結。故為寒痹。其或有因熱而汗出受風者。雖非外感之賊風。而邪氣因加而發。亦所謂合邪也。</p>
<p>邪氣傷人。各有所入。要歸於三部。三部之風。各不同。或起於陰。或起於陽。喜怒不節則傷臟。臟傷則病起於陰。清濕襲虛則病起於下。風雨襲虛則病起於上。至於淫佚不可勝數。然受病之始。只此三部。故風雨寒暑。不得虛邪。不能獨傷人。兩虛相得。乃客其形。是以氣有定舍。因處為名。上下中分為三員。</p>
<p>寒　按內經風門所述病機。委曲詳盡。理宜復有寒門以悉病源。今書止存熱病一章。且以為熱病者。皆傷寒之類。以為類傷寒。則知前此有正傷寒可知。緣其所失三卷。與奇恆六十首者。並失之。後人見仲景法與熱病不合。而所以治寒者。亦不止傳經。蓋仲景時必見全書。而叔和不察。遂以熱病條冠仲景傷寒之首。而以傳經之法。混亂諸條。由今於本經散見者。有曰氣盛身寒。得之傷寒。風邪篇曰。中於面。則下陽明。中於項。則下太陽。中於頰。則下少陽。此豈在傳經之例。寧謂風然而寒獨不然歟。仲景曰。太陽病或已發熱。或未發熱。必惡寒體痛嘔逆。脈亦陰陽俱緊者。名曰傷寒。此與氣盛身寒。得之傷寒合符。寒為陰邪。故不能即熱。寒令氣逆。故體痛嘔吐以營中寒。故脈陰陽俱緊也。又曰。一日太陽受之。脈若靜者為不傳。二三日陽明少陽證不見者。為不傳也。觀此則奈何以熱病一條冠傷寒哉。叔和不能述仲景而以己意亂其文。引此條以壓之。使後人不知內經之文亡。而仲景補之之妙。豈非千載之罪人乎。</p>
<p>熱　熱病一門。帝問以為傷寒之類。其非謂傷寒止於熱病。特帝以熱起見而問傷寒之變熱者耳。蓋六日遍六經者。熱之勢盛而易於入經者也。熱病不止傷寒。而以傷寒為重。故首舉六經傳變之條。然傷寒變熱為有陽氣。熱雖盛不死。此見傷寒之未變熱者。陰寒慘毒不可言無事。況兩感於寒則表裡陰陽俱受哉。後人又有言兩感不死而可以有治法者。以此人內傷極重。適與外感寒會故如是耳。然亦危矣。若真兩感則必無治法也。</p>
<p>有熱勝而陰虛。正氣虛不能勝熱者。病亦死。內經曰。有病溫。汗出輒復熱。而脈躁疾。不為汗衰。狂言不能食。病名陰陽交。交者死也。陰氣不守而陽邪入之。則陰已散越。故曰陰陽交。又有汗出復熱不能食。脈躁盛狂言。此亦死。蓋汗生於精。精生於穀。令邪氣爭而得汗。是精勝也。精勝當能食而不復熱。乃輒復熱者。邪勝也。邪勝不能食。是精無裨也。如是而脈躁盛。狂言。脈不勝病。故躁盛。失言故狂言。所謂見三死而不見一生。何以生耶。</p>
<p>熱病其脈色相勝。見真陰不守。病若兩感者亦必死。為其無內也。太陽之脈。色榮顴骨。熱病也。榮未交。其榮顴者。太陽熱。赤色當見於顴。而榮未交。以傷衛而未及於營。其時若與厥陰脈爭見者。死期不過三日。蓋其所以然者。太陽之脈浮。厥陰之脈弦而細。以病言。太陽為頭痛腰脊強。厥陰為煩滿囊縮。今以太陽熱病。與厥陰爭見。此為陰陽俱病。夫六經熱病之序。始太陽。終厥陰。今始終爭見。故當不及期而死。</p>
<p>熱病。內連腎。外見少陽之脈色。少陽之脈色。榮顴頰前。此熱病也。榮未交。可得汗而已。若與少陰脈爭見者。死期不過三日。熱病連腎。本經連腎也。其熱之脈色榮頰前。是少陽外見。汗之可已。而獨與少陰脈爭見。夫少陽之脈弦。少陰之脈沉微。與上條皆所謂陽病見陰脈也。厥陰作晦明。少陰主裡。二陰為陰之根柢。兩陰脈見於熱病。則真陰絕矣。真陰絕則不待行其經盡之三日者。半期也。</p>
<p>五臟熱病。在經不已而犯及臟。則臟病見。臟病見遂有死期。如肝熱病。小便先黃腹痛多臥身熱。厥陰之熱。起於下焦。故小便先黃。上逆於腹。故必致腹痛筋弛。故多臥。火生於木。故身熱。此厥陰之在經者也。不已則邪入於臟。於是邪正相勝而爭。氣爭於肝則肝氣亂。故狂言而驚。以肝病主驚駭也。肝脈布脅。故脅滿痛。熱極陽勝而淫於四末。故手足躁擾。其邪乘土犯胃。則胃不和而臥不安。此則肝病甚矣。庚辛死者。邪進而勝正敗於克也。</p>
<p>心熱病。則下脈厥而上。上則下脈虛。虛生脈痿。樞折挈脛縱而不任地。夫心主血脈。心為血養則不熱。不熱則心脈恬和而得下交於足三陰。今心氣熱則火獨上炎。其下行於陰之脈皆逆而上。故下虛而生脈痿。凡四肢關節之處。其樞杻折而不能提挈。足脛縱緩而不能任地也。</p>
<p>脾熱病者。先頭重頰痛。煩心。顏青。欲嘔。身熱。脾熱。熱必上行。令陽明經之在頭面者必先病。此頭重頰痛也。煩心者。脾熱及胃及心也。顏青者。木邪勝而見侵於陽明之部也。脾燥不運。則胃亦不和。故欲嘔。身熱者。一身之肌肉熱也。熱至此。則熱淫所勝而乘腎。故熱爭則腰痛不可俯仰。腹滿泄者。土壅故滿。協熱故泄。兩頷痛者。陽明絡也。若逆甚。甲乙死。</p>
<p>肺熱病者。先淅然厥。起毫毛。惡風寒。舌上黃。身熱。肺主皮毛。熱則畏寒。故起毫毛。惡風寒。肺絡胃。中焦熱入胃。故舌黃。身熱。至熱甚而與臟氣爭。則氣逆喘咳。痛走膺背。且不得太息。頭痛不堪。蓋喘逆在肺。則肺氣不得下行。而三陽俱壅於上。故痛苦不堪也。又汗出而寒者。以熱邪在肺。皮毛不斂也。</p>
<p>腎熱病者。先腰痛胻痠。苦渴欲飲。身熱。熱至於腎。其熱深矣。水失其職。必先見其部。腰與胻。腎部也。無水故腰痛胻痠。熱而虛則必引水自救。故苦渴欲飲。身熱陰鑠而營熱也。熱爭則項痛而強。胻寒且痠。足下熱。不欲言。其逆則頭痛員員澹澹然。戊己死。蓋熱爭則外及於表之太陽。故項強痛。內甚於里之少陰。故胻寒且痠。此痠復加以寒者。陰無氣以充也。足下熱者。熱起湧泉。水空之候也。不欲言者。丹田之氣不贍也。員員澹澹。無所依薄之貌。陰虛無氣。傷及心神也。</p>

<h1>卷之四</h1>

<h2>述病部下</h2>

<h3>厥逆痹病第五</h3>
<p>厥　厥之有寒熱者。陽氣衰於下則為寒厥。陰氣衰於下則為熱厥。人之陰陽元氣皆起於下。故少陰之上。名為太陽。以真陽之生本於陰也。太衝之地。名曰少陰。以真陰之歸根在腎也。夫陽氣自上而下。今衰於下是不下矣。不下是寒獨治也。陰氣自下而上。今衰於下是不上矣。不上是陽獨勝也。然陽勝而又必起於下者。足五指之表為三陽之所起。而足下足心。又為三陰之所聚。足心則少陰腎之湧泉也。陰氣既衰而陽勝。陽乘陰位。故熱厥必從足下也。凡人病陰虛者。足心必熱。此其證也。寒厥起於足下。久必從五指而上於膝者。以陰氣起於五指之裡。集於膝下而聚於膝上。陽氣衰則陰氣勝。陽不勝陰。其厥反從陽分而上。故必超於五指而上寒至膝。然其寒也非從外入。皆由內而生也。凡人病陽虛者。必手足多寒。皆從指端始。此其症也。顧二厥之成。遡其由則皆以陰虛。寒厥之故。以其人質壯。秋冬奪於所用。既於陰盛時多欲不休。以奪質中之精氣。則精虛於下。而其氣將取足於上。是以下氣上爭。上而不下。故不能復其陽氣。於是氣去則陽虛。寒氣因而上逆。又以精虛無火。不能固脾元。而氣衰於中。中氣不能滲榮其經絡。於是陽氣日損。陰氣獨在。故手足為之寒也。熱厥之由。以酒入於胃而傷脾陰。脾陰傷則陽氣入而精氣竭。精氣日竭。不能榮其四肢。而又數醉飽以入房。使氣聚脾中而不得散。酒氣穀氣相搏。熱盛於中。故熱遍於身。內熱而溺赤也。要此寒熱二厥。一由恃壯奪於所用。故陽衰而為寒。一由數醉入房故精竭而為熱。唯其傷真元。乃有是病。後世不詳。但以手足寒或以腳氣為厥者大謬。今人多不知此證。而指為中風。夫風病多經絡之受傷。厥逆由真精之內奪。若以風治厥。更謬之謬矣。</p>
<p>厥有腹滿而暴不知人者。以陰氣盛於上。則不守於下，而脾腎肝足三陰之氣不化。故腹滿脹。陽氣盛於上。則下氣並上而邪氣逆。逆則陽氣亂而神明失守。故暴不知人。</p>
<p>陰陽不從則氣逆而上。故手足十二經皆有寒熱之厥。若巨陽之厥。腫首頭重。足不能行。發為眴僕。太陽為陽之極盛。其根起於足少陰。其氣必得陰而下行於足。令虛則逆而上盛。故腫首頭重。上逆則不能下行。故足不能行而發為眴僕也。眴僕。目眩猝倒也。</p>
<p>陽明之厥。癲疾欲走呼。腹滿不得臥。面赤而熱。妄見妄言。陽明乃氣盛血多之經。令氣勝其血則陽邪實。陽邪實則神明亂。故癲疾走呼也。氣盛不行而在腹。故腹滿胃逆。故不得臥面赤而熱。陽明脈在面也。妄見妄言。神明之亂。更甚於走呼矣。</p>
<p>少陽之厥。暴聾頰腫脅痛。胻不可以運。少陽起於下而與厥陰之氣並行。故其經和而無病。今少陽之厥。是相火上炎而無陰也。其脈入耳故暴聾。脈下頰車故頰腫。皆火症也。脅痛。其部氣逆而不和也。胻不可以運。則少陽不能及下矣。</p>
<p>太陰之厥。腹滿䐜脹。後不利。不欲食。食則嘔。不得臥。陰為陽根。而陽為陰使。三陰不能副陽。則三陽厥。三陽不為陰使。則三陰亦厥。太陰雖陰盛。而常秉少陽之氣以為和。今太陰獨陰無陽而不能下行。則陰自上逆。脾既不運。胃氣亦留而不行。故腹滿䐜脹也。不能行氣於三陰。則腎氣亦不效用。故後不利也。不欲食者。中氣壅也。食則嘔者。氣壅金逆也。不得臥者。胃不和則臥不安也。</p>
<p>少陰之厥。口乾。溺赤。腹滿心痛。少陰兼水火陰陽二氣。若失其所以涵藏。其氣必偏發而上。故少陰恆兼寒熱二厥。且又為十二經厥逆之主也。經曰。少陰不至者。厥也。不至亦兼水火。今此厥者。陰虛火厥也。少陰脈循喉。故口乾。與膀胱相絡。故熱入膀胱而溺赤。不為胃關而上行。故腹滿。不貢精於心而反上乘於心。故心痛。</p>
<p>厥陰之厥。少腹腫痛。腹脹涇溲不利。好臥屈膝。陰縮腫。胻內熱。厥陰陰之絕。晝而不絕者。為陽生也。今虛而為純陰則無氣。是以當其部位。少腹腫痛。純陽結而不舒。故腹脹。不舒則下焦之氣亦不化。故涇溲不利。肝主筋。筋無氣故足軟好臥而屈膝。脈環陰器。故陰縮腫。當所過脈不行。故胻內熱。蓋鬱則熱也。</p>
<p>手太陰厥逆。虛滿而咳。善嘔沫。手太陰為元氣之主。虛則不能治節而苦氣上逆。故虛滿而咳。虛滿者。上焦之滿。虛而無實也。滿則咳矣。善嘔沫者。其脈循中焦胃口。逆則精不能散。故嘔沫也。</p>
<p>手心主少陰厥逆。心痛引喉。身熱死不可治。二經屬火。為神明之府。血脈之主。今俱厥逆則陰精無以承陽矣。陽獨亢則自焚。故心痛也。其系皆上挾喉。故痛引喉也。身熱者。血脈膹脹也。心為臟腑之大主。逆之則死。</p>
<p>手太陽厥逆。耳聾泣出。項不可以顧。腰不可以俯仰。小腸經為心之下流。屬帶脈之間。其氣若逆則必使其經俱逆。小腸經主目之內外眥。故泣出。又皆入耳。故耳聾。從缺盆循頭。故項不可顧。小腸連睪丸屬脊。故腰不可俯仰。</p>
<p>手陽明少陽厥逆。發喉痹。嗌腫。痙。手陽明為胃之下流。手少陽為胃之孔道。其氣皆逆。必從其經上逆。大腸之脈。上頭貫項。三焦之脈。出缺盆上項。故皆發喉痹。嗌腫。痙。以致手臂肩背強直也。</p>
<p>有厥逆而為頭痛數噦不已者。以其人所犯大寒。內至骨髓。髓以腦為主。故寒逆而沍於腦。今頭痛齒亦痛。是邪之逆於上也。故亦名厥逆。</p>
<p>有厥逆而病在太陰。盛在胃。頗在肺者。其為痛。死不治。太陰脈細如髮而身熱如炭。頭膺如格。人迎躁盛。喘息氣逆。一日數十溲。夫太陰脈微細如髮。而又一日數十溲。此臟氣不足。中氣不攝。溲便為之變也。乃熱留在胃。陽明方盛。見於人迎。身膺則如炭如烙。此為陽不入陰。故盛在胃。惟陽不入陰。故太陰細微喘息氣逆。頗在肺也。欲瀉其邪。則陰虛於裡。欲補其虛。則陽實於外。所謂不表不里。陽證陰脈之類也。故死不可治。</p>
<p>有病膺腫頸痛胸滿腹脹。此厥逆也。治之須並其氣而治之。腫痛滿脹。皆在上中二焦。此為陰並於陽。下逆於上。正所謂厥逆也。治之之法。不可灸。以有餘於上。灸之則以火濟火。陽極乘陰。陰不能支。當失聲為喑。亦不可石。以陽並上則下虛。刺之則陽氣去。上下俱虛。神失其守。故必為狂。惟俟其既逆之後。其氣並而漸通。然後隨其盛衰而調之。庶可無偏絕之患也。</p>
<p>痹　內經曰。病在陽曰風。病在陰曰痹。故痹也者。風寒濕雜至。犯其經絡之陰。為合而痹。痹者閉也。三氣雜至。壅閉經絡。血氣不行。故名為痹。以風勝者為行痹。行痹者走注歷節疼痛之類也。寒氣勝者為痛痹。以寒凝氣聚壅而不行。痛不可忍。所謂痛風也。濕氣勝者為著痹。重著不移。或頑木不仁。多發於肌肉。濕從土化也。然而三氣之合。有輕有重。故有或痛。或不痛或不仁。或寒或熱。或燥或濕之異。其痛者。寒多則血脈凝滯。故必為痛。其不痛不仁者。痛久入深。營衛行澀。經絡時疏。則血氣衰少而滯逆亦少。故不痛。皮膚不榮。血氣不至故不仁。其寒者。其人陽氣少而陰氣多。與病相益故寒。其熱者。其人陽氣多而陰氣少。陽與病氣勝而陰不勝故熱。陽勝其陰而陰不能榮故燥。其逢濕之甚。與寒相感者。則陽少而陰盛。故多汗而濡也。而其不痛者。則又有五痹。在於骨則重。在於脈則血凝而不流。在於筋則屈而不伸。在於肉則不仁。在於皮則寒。蓋筋皮肉血脈之間。得痹則氣緩。故雖痹而不得為痛也。是以凡痹之類。逢寒則筋攣如蟲縮。逢熱則弛縱筋緩也。然痹之所由成。其風寒濕三氣每各以時而遇。冬氣在骨。以冬遇為骨痹。春氣在筋。以春遇為筋痹。夏氣在脈。季夏氣在肌。秋氣在皮。皆以主時之氣相遇而受。而皮肉筋骨脈又各有五臟之合。苟五者受而不去。則必內舍於其合。而五臟之痹起矣。</p>
<p>五臟痹者。皮肉筋骨脈。痹不已將復感於邪而內舍五臟。遂為五臟之痹。肺痹者。煩滿喘嘔。痹既入臟。則臟氣閉而不通。本氣不能升舉。肺職治節。痹則上焦不通而胃氣逆。故煩滿喘而嘔也。</p>
<p>心痹者。脈不通。煩則心下鼓暴。上氣而喘。嗌乾善噫。厥氣上則恐。心合脈而痹入之則脈不通。不通則心氣鬱。故心下鼓暴。鼓暴則上氣而喘也。嗌乾善噫。以心脈起心中。上挾胃挾咽也。厥氣上則恐。心火衰而邪乘之。故神怯而恐也。</p>
<p>肝痹。夜臥則驚。多飲數小便。上為引如懷。肝藏魂。血和則魂安。今肝痹則氣血兩衰。故魂不歸而多驚也。肝內熱而脾不淫精於肝。故渴而多飲。肝熱下乘膀胱。故數小便也。上為引如懷者。經絡有氣無血。故上下相引而血不得赴。若結於中而如有所懷也。</p>
<p>脾痹。四肢解惰。發咳嘔汁。上為大塞。又經曰、太陰有餘病肉痹。寒中不足病脾痹。四肢解惰。則肉痹之類也。脾痹者。本臟不足。不能散精。反上壅於肺。故發咳。上焦不通故嘔汁。甚則痞塞為大塞也。</p>
<p>腎痹。善脹。尻以代踵。脊以代頭。善脹者。陽明之氣下行。腎為胃之關。痹氣在腎。腎氣不行。是陽明逆也。故善脹。腎為作強之官。痹則足攣而不能伸。故尻代踵。身僂而不能直。故脊代頭。</p>
<p>腸痹者。數飲而水出不得。中氣喘爭。時發飧泄。腸痹兼大小而言。二腸病痹。則下焦之氣熱鬱不化。故雖數飲而水不得出。水不出則本末俱病。故與中氣喘爭。其清濁不分。故時發飧泄。</p>
<p>胞痹者。少腹膀胱按之內痛。若沃以湯。澀於小便。上為清涕。胞。膀胱之胞也。氣閉故按之內痛。水閉不行故蓄熱若沃湯。且小便澀也。太陽之脈。從巔絡腦。故上為清涕也。</p>
<p>凡七情過用。則亦能傷臟氣而為痹。不必三氣入舍於其合也。所以然者。陰氣靜則神藏。躁則消亡。故氣不養而上逆喘息。則痹聚在肺。憂思過用。則痹聚在心心。不謹而遺熱陰莖以成淋。則痹聚在腎。用力不息而致乏竭。則痹聚在肝。營衛之氣不行以致肌絕。則痹聚在脾。蓋七情過用。而淫氣能聚而為痹。以躁則消陰故也。其客於六腑者。亦以飲食居處為其病本。然後風寒中其俞而內應之。是以循其俞而各舍於其腑也。諸痹惟風勝者易已。寒濕留滯不已。亦益入內不易行也。入臟者死。真陰已傷也。留連筋骨脂而痛久邪深也。留皮膚者易已邪淺也。</p>
<p>十二經筋之病。支轉筋痛。皆曰痹者。緣其經筋在外。其病不及經隧之營氣。故臟腑亦無涉焉。此惟風寒濕三氣得以病之。故按為四季之痹以見其所感之由。然而三陰手足之筋。皆內結於胸腹肓膜之間。其為病則有異焉。如足少陰筋主癇瘛及痙。足厥陰之陰器不用與不起不收。手厥陰之舌卷。手太陰之息賁脅急吐血。手少陰之伏梁吐膿血。雖屬筋痹病。而已動臟腑之氣矣。</p>
<p>諸痹不已。亦益入內而傷臟氣。然有三陰三陽應之。而為有餘不足者。有曰厥陰有餘病陰痹。不足病生熱痹。滑則病狐風疝。澀則少腹積氣。澀與滑者。其脈之現於其部。而知其有餘不足者也。厥陰位下焦而總諸筋。有餘則為陰痹者。不壅而不升。則邪郁陰分故病陰痹也。若不足則虛而生熱。故病熱痹也。其脈見滑。是邪有餘也。病狐風疝。其疝如狐而數變如風也。疝在前陰少腹之間。肝氣鬱於此。正當其部。蓋即陰痹也。其脈見澀。為氣虛血滯。故邪氣留止而為積聚。亦所謂熱痹也。</p>
<p>少陰有餘。病皮痹。癮疹。不足病肺痹。滑則病肺風疝。澀則病積溲血。少陰為君火之氣。有餘則剋金。肺合皮故皮痹。癮疹不足。則不能溫金。故病肺痹。若脈滑則心火不勝水。邪使鬱而實於肺。故病肺風疝。風則肺動。疝則肺聚也。脈澀則為心血不足。火收於內而入胞絡與小腸。故病積與溲血也。</p>
<p>太陰有餘。病肉痹寒中。不足病脾痹。滑則病脾風疝。澀則病積心腹時痛。至陰為濕土之氣。位處中焦。邪入之而有餘。是濕壅於中。脾主肉。脾濕不運。故為肉痹。中風濕則陽明之火不能揚。故寒中。若不足則脾自受之。故成脾痹。蓋本氣窒而不行也。脈滑者水濕壅土。當為㿗腫重墜之病。亦病在濕也。脈澀者積而不運。滿於中州。故心腹時滿也。</p>
<p>陽明有餘。病脈痹身時熱。不足病心痹。滑則病心風疝。澀則病積時善驚。陽明為燥金之氣。肺應之。而燥有餘則傷及血脈。故病脈痹。燥傷陰。則病內熱。故身熱。肺為心行脈者也。若不足則心脈反窒。故病心痹。脈滑者風燥合邪而傷肺傷血。將心氣抽掣而不得散。故病心風疝。澀則金揫斂而不舒。而脈為之不行。故病積善驚者。木侮金也。</p>
<p>太陽有餘。病骨痹身重。不足病腎痹。滑則病腎風疝。澀則善時巔疾。腎氣應太陽。太陽之氣有餘。則浸淫及骨。故為骨痹。水邪盛則作強之官弛。故身重。不足則本臟先受。故為腎痹。腎痹者。足緩脈緩而精不固也。滑脈見則太陽之風寒合邪。故病腎風疝也。澀則邪痹太陽經脈。當見有積而又善時巔疾也者。陽氣不通巔頂。故常風痛也。</p>
<p>少陽有餘。病筋痹脅滿。不足病肝痹。滑則病肝風疝。澀則病積時筋急目痛。相火之氣犯陰則肝受之。若邪有餘則火風傷筋。故筋痹。部在脅肋。故脅滿。不足是肝臟本虛。故成肝痹。肝痹者。肝氣鬱而血不榮筋之症也。脈滑為風熱合邪。故病肝風疝。淫氣聚筋而寒熱往來。抽掣相引者是也。澀則血滯故病積。肝主筋而開竅於目。故筋急目痛。</p>
<p>以上六氣犯陰犯陽之痹症也。人身陰陽。外應六氣。則六氣有時而內淫。亦因臟腑陰陽之有餘不足。而外邪得以留之。此於運氣之外。又有所留為陰陽之痹也。脈滑為邪氣有餘。故留滯為風疝。風謂其動。疝謂其聚也。澀為本氣不足。故不能勝邪而為積。疝與積。概指其聚。而積者非特前陰少腹之病也。</p>

<h3>瘧痿咳病第六</h3>
<p>瘧　瘧疾皆生於風。得之夏。傷於暑。暑氣舍於營。令人汗孔疏。腠理開。因得秋氣汗出遇風。及得之以浴淒滄水。寒舍於皮膚之內。與衛氣並居。衛氣者。晝行陽。夜行陰。此氣得陽而外出。得陰而內入。是以日作。作則陰陽上下交爭。虛實相傾。故陽並於陰則陰實而陽虛。陽明虛則寒慄鼓頷。巨陽虛則腰背頭項痛。三陽俱虛則陰氣勝。陰勝則骨寒而痛。此寒生於內故中外皆寒。陰氣逆極。則後出之陽。並於陽則陽勝。陽盛則外熱。陰虛則內熱。外內皆熱。則喘而渴。故欲冷飲也。有間日而作者。氣之舍深。內薄於陰。陽氣獨發。陰邪內著。陰與陽爭不得出。是以間日。其日晏日早者。邪客於風府。循膂而下。其衛氣一日一夜大會於風府。其明日邪則日下一節故作晏。二十五日下至骶骨。二十六日入於脊。內注於伏膂之下。其氣復上行。九日出缺盆之中。其氣日高。故作日早也。其間日作者。邪氣內薄。五臟橫連募原。道遠氣深。故其行遲而不得與衛皆出。唯衛氣之所在。與邪氣相合則病作。故不論日與間日。唯瘧氣隨經絡以內薄。必俟衛氣應乃作。是以早晏隨之也。其先寒後熱者。遇夏氣悽愴之水寒。寒者陰氣也。秋傷於風。風者陽氣也。先傷於寒而後傷於風。故先寒後熱。名曰寒瘧。其先熱後寒者。先傷於風而後傷於寒。故先熱後寒。名曰溫瘧。有但熱不寒者。陰氣先絕。陽氣獨發。則少氣煩冤。手足熱而欲嘔。名曰癉瘧。其病之發。如火熱如風雨不可當也。故經言毋刺熇熇之熱。毋刺渾渾之脈。毋刺漉漉之汗。以其病逆不可治也。唯當其未發陰陽未並。因而調之。真氣得安。邪氣乃已。然瘧亦有不必應暑者。其病異形反四時也。以秋病者寒甚。以冬病者寒不甚。以春病者惡風。以夏病者多汗。以四時之氣。寒熱各有相反。皆能為瘧也。</p>
<p>溫瘧者。得之冬。中於風寒。氣藏骨髓之中。至春而陽氣大發。邪氣不能自出。因遇大暑。腠理發泄。兼有用力。邪乃與汗皆出。斯時陰虛陽盛。陽盛則熱矣。衰則氣復反。人入則陽虛。陽虛則寒矣。故溫瘧先熱後寒也。</p>
<p>癉瘧者。肺素有熱。氣盛於身。厥逆上衝。因有所用力。腠理開。風寒入舍之。陽氣盛而不衰。其氣不及於陰。故但熱不寒。氣內藏於心而外合分肉之間。令人銷鑠肌肉。故為癉瘧也。</p>
<p>瘧之所發。六經皆有見症。足太陽之瘧。腰痛頭重。寒從背起。先寒後熱。熇熇暍焰然。熱止汗出難已。邪在三陽。盛於表。汗不易收。故曰難也。</p>
<p>足少陽之瘧。身體解㑊。寒不甚。熱不甚。惡見人。見人心惕惕然。熱多汗出甚。解㑊。謂倦甚。不耐煩勞。不甚寒熱者。病在半表裡也。惕惕邪在膽而怯也。少陽主木火。故並多於寒。且汗出甚。足陽明之瘧。先寒灑淅。寒甚久乃熱。熱去汗出。喜見日月光火氣乃快然。陽明熱盛之腑。而寒反勝之。故先寒久乃熱。熱去則邪衰。故汗出。喜見日月火者。陽明而受陰邪。故喜暖也。</p>
<p>足太陰之瘧。不樂好太息。不嗜食。多寒熱汗出。病至則善嘔。嘔已乃衰。脾喜樂。病則否。上焦痞塞。故好太息而不嗜食。太陰主裡。邪不易解。故多寒熱而汗出。脾病及胃。故病至善嘔。嘔已乃衰。</p>
<p>足少陰之瘧。嘔吐甚。多寒熱。熱多寒少。欲閉戶牖而處。其病難已。少陰主裡。病則陰邪上衝。故嘔吐甚。腎病見陰虛。陰虛則熱多寒少。在陰則欲閉戶牖而處。腎為至陰之臟。而邪居之。故病難已。</p>
<p>足厥陰之瘧。腹痛。少腹滿。小便不利如癃狀。意恐懼。氣不足。腹中悒悒。厥陰環陰器。抵少腹。布脅肋。故為腰腹小便之病。凡小水不利。為癃如癃狀者。病不在水而在邪氣之陷。急欲數便也。肝氣不足則恐懼。悒悒者。不暢之貌。</p>
<p>瘧邪之深。亦能為五臟瘧。肺瘧者令人心寒。寒甚熱。熱間善驚。如有所見。肺為心之蓋。邪寒乘所不勝。故令人心寒。寒甚復熱。心氣受傷。故善驚而有所見。</p>
<p>心瘧者。煩心甚。欲得清水。反寒多不甚熱。瘧邪在心。故煩心欲得水以解也。心本陽臟。為邪所居。則陽虛陰盛。故反寒多不甚熱。</p>
<p>肝瘧者。色蒼蒼然。善太息。其狀若死。蒼肝色也。肝鬱則氣逆。故太息。木病則強。故狀若死。</p>
<p>脾瘧者。令人寒。腹中痛。熱則腸中鳴鳴也。汗出。脾至陰。而瘧邪居之。故令人寒而腹痛。寒已而熱。則脾氣行。故腹中鳴鳴也。熱則陽氣外達。故汗出而解也。</p>
<p>腎瘧者。洒洒然。腰脊痛。宛轉大便難。目眴眴然。手足寒。洒洒。寒慄貌。腎脈背脊開竅於二陰。故腰脊痛而大便難也。眩眩。視不明貌。水虧也。手足寒。陰之厥也。</p>
<p>胃瘧者。善飢而不能食。食而支滿腹大。胃為六腑之長。故獨言之邪。在陽明則胃痛及脾。故善飢而不能食。支滿腹大也。</p>
<p>凡治瘧先發如食頃。過之則失時也。</p>
<p>痿　痿為五臟皆有之症。熱傷血脈。則皆能發為皮毛血脈肌肉骨髓之痿。然其證必以肺為主。肺為一身元氣之主。而職行治節。苟金清而氣行。則一身之皮血筋肉骨皆得其宜。何痿之有。唯邪熱乘金。肺先受克。則肺熱葉焦。徵之於外則為皮毛虛弱急痹而著。是則熱邪傷肺。必及於筋脈肉骨而痛生痿躄也。而其所以得之者。以肺為臟之長。為心之蓋。凡一應煩勞房室傷精。必至傷氣。傷氣則唯肺受之。且心火上乘。肺氣虛而受乘於火。則金病而發為喘鳴。金失肅清。火留不去。故肺熱葉焦。五臟因肺熱自病。而氣不得行。故發為痿躄也。然痿以肺為主。而經論治痿獨取陽明者何也。蓋陽明為肺之母。而為五臟六腑之海。主潤宗筋。宗筋主束骨而利機關。又衝脈為十二經之海。主滲灌溪谷。與陽明合於宗筋。而陽明為之長。皆屬於帶脈而絡於督脈。唯其陽明虛。則宗筋弛。故致足痿不用。是以欲除肺熱。必先除陽明之熱。而養其陰。調其虛實。和其逆從。則病自已矣。</p>
<p>五臟痿症。自肺熱葉焦皮薄著而下。有脈痿肉痿筋痿骨痿之不一。脈痿者。心氣熱則脈下厥而上。樞折挈脛縱不任地。又得之悲哀太甚。陽氣內動。則心下崩。數血溲。肉痿者。胃干而渴。肌肉不仁。又漸於濕而有所留。亦痹而不仁。筋痿者。筋膜乾。筋急而攣。又入房太甚。宗筋弛縱。亦發筋痿。及為白淫。骨痿者。腎氣熱骨枯而髓減。腰脊不舉。及遠行勞倦。陽氣內伐。則足不任身。此五痿者。必外徵之於色。肺熱色白而毛敗。心熱色赤而絡脈溢。肝熱色蒼而爪枯。脾熱色黃而肉蠕動。腎熱色黑而齒槁。</p>
<p>咳　咳之一症。內經以皮毛為肺之合。皮毛受邪。入而從其合。又內則寒飲食。入胃從肺。上至於肺則肺寒。肺寒則內外合邪。因而客之則為咳。然肺為五臟之華蓋。五臟各以時受病。雖非肺之所受。而皆能各傳以與之。故五臟時盛於寒。邪氣雖微。必傳於肺而為咳。咳之則六腑所受之。是以五臟六腑皆有咳。而肺咳乃兼有五臟六腑之證也。肺咳者。咳而喘息有音。甚則吐血。肺主氣而司呼吸。故病則喘息有音。吐血者。隨咳而出。其病在肺。嘔與血不同。心咳者。咳則心痛。喉中介介然如梗狀。甚則嗌腫喉痹。本經既病。上挾於咽。故喉中妨礙而梗介。甚則為腫痹也。肝咳者。咳則兩脅下痛。甚則不可以轉。轉則兩胠下滿。咳在肺而肝部本經之病仍見。故名肝咳。肝脈布脅肋。故脅下痛不可轉。轉則氣逆而胠下滿也。</p>
<p>脾咳者。咳則右脅下痛。陰陰引肩背。甚則不可以動。動則咳劇。痛引肩背者。脈從胃別上鬲也。陰土之氣應坤而出於西南。故右脅下痛也。動則咳劇者。脾喜靜而不欲動也。</p>
<p>腎咳者。咳則腰背相引而痛。甚則咳涎。腰背相引。腎脈貫脊也。腎主涎而脈循喉嚨。故甚則咳涎。</p>
<p>五臟之咳。更能移於六腑。脾咳不已。則胃受之。咳而嘔。嘔甚則長蟲出胃受脾邪而不能客。必氣逆作嘔。長蟲。蚘也。嘔甚則蟲隨氣上也。肝咳不已。則膽受之。咳嘔若汁。肺咳不已。則大腸受之。咳而遺矢。心咳不已。則小腸受之。咳而失氣。與咳俱失。腎咳不已。則膀胱受之。咳而遺溺。久咳不已。則三焦受之。咳而腹滿不欲飲食。咳而不已。則上中下三焦俱病。出納升降。皆失其宜。故腹滿不能飲食。此皆聚於胃。關於肺。使人多涕唾而面浮腫氣逆也。聚胃關肺者。胃為五臟六腑之本。肺為皮毛之合。自外自內。皆不能去此二臟也。陽明脈起於鼻。會於面。肺亦開竅於鼻而主氣。故使人多涕吐。而面浮腫。又氣逆也。然內經之咳。皆謂風寒傷皮毛。寒飲食傷胃。傳肺使肺寒而內外合邪。又五臟非時受邪。亦能傳以與之諸條。皆以外邪傷肺。傳肺而咳。則凡五臟內傷。非待之熱而火上炎。亦必傳於肺無疑矣。又腎水與肺金為子母。則病每相關為本末。於是有寒熱水火兩症。如腎火虛。水泛則侮肺溢肺。而為寒痰上壅之咳。腎水虛。火沸則挾肝刑金。而為肺痿喉瘖之咳。他若龍火起肝挾心火上逆而咳。脾氣不運上焦不通而咳。胃受飲食之火上通於咽而咳。以火移肺而咳。此又五臟非時之熱。能移於肺之咳。其發亦兼五臟之見症。與風邪不殊。不可不察也。治之之法。自表入者。宜辛溫發散。自內傳者。其陰已傷。陰虛於下。則陽浮於上。水涸金枯。治宜甘以養陰。潤以養肺。而兼治根本之真陰。則肺自寧矣。然形氣病氣俱虛者。又當培補其中氣。而命門陽虛不能納氣者。則亦當溫氣以化水。不然無濟也。</p>

<h3>脹卒痛腸澼如瘧積消癉病第七</h3>
<p>脹　鼓脹之因經以病。厥氣在下。營衛留止。寒氣逆上。真邪相攻。兩氣相搏。乃合為脹。又曰。五臟陽已竭。又曰合之於真。三合乃得。夫厥氣在下者。此病根也。人身上下。陽布陰生則肺行而腎納。何有厥。厥氣在下。此肺不行而腎失納也。大氣既厥。則營衛之流行經絡者留止。而無根之陰氣於是逆上。與真氣相搏。寒氣留而不行。乃合為脹也。又藏陽即光氣運之氣。今藏陽已竭。則諸停而不行可知也。又曰合之於真三合而得。經既以脹為衛逆於營。而曰三合而得。則雖在血脈而合經絡合臟合腑。固陰陽俱有矣。然而要言之。則厥氣在下。此脹之本也。故診之其脈大堅以澀者。脹也。大者。邪氣之盛。堅者。邪氣之實。兩氣相攻。脹而已成。故其脈大堅。此厥於陽而實也。澀者氣血之虛不能流利。此陰氣之衰。陰氣。真氣也。此厥於陰而虛也。陰虛陽堅。中氣已損。其脹必矣。是以澀而堅者。知其為陰在臟。大而堅者。知其為陽在腑。皆以三合而得。於是有脈脹。膚脹。五臟脹。六腑脹。而又有水脹。鼓脹。腸覃。石瘢。石水之別。要在明知逆順。補虛瀉實。所謂其道在一也。</p>
<p>五臟六腑。各有畔界。其病各有形狀。營色循脈衛氣之逆為脈脹。衛氣並脈循分為膚脹。夫營行脈中。其精專。未必即脹。衛則悚疾滑利而行分肉。故必由衛氣之逆而後病及於營。則為脈脹。是以凡脹皆發於衛。若衛氣逆而並於脈。復循分肉之間。則為膚脹。然脹無常所。既脹於皮膚。則排臟腑而廓胸脅。凡膻中心主之宮城。胃之太倉。咽喉小腸之傳逆。胃之閭里門戶。及五竅廉泉玉英之津道無不受脹也。故心脹者。煩心短氣臥不安。肺脹者。虛滿而喘嗽。肝脹者。脅下滿而痛引小腹。脾脹者。善噦。四肢煩悗體重。不勝衣。臥不安。腎脹者。腹滿引腎。央央然腰髀痛。胃脹者。腹滿胃脘痛。鼻聞焦臭妨於食。大便難。大腸脹者。腸鳴而痛濯濯。冬日重感於寒則飧泄不化。小腸脹者。少腹䐜脹引腰而痛。膀胱脹者。少腹滿而氣癃。三焦脹者。氣滿於皮膚中。輕輕而不堅。膽脹者。脅肋下痛。口中苦。善太息。</p>
<p>水脹之始起也。目窠上微腫。如新臥起之狀。其頸脈動時咳。陰股間寒。足腫脹。腹乃大。其水已成矣。以手按其腹。隨手而起如裹水之狀。此其候也。水與膚脹。下六事病異而形相似。宜有以別之。目之下為目窠。頸脈之陽明人迎也。水邪乘胃。故頸脈動。水之標在肺。故時咳。劂陰邪結於陰分。故陰股間寒。按水囊必隨手而起。故病水者亦若是。</p>
<p>膚脹者。寒氣客於皮膚之間。𪔣𪔣然不堅。腹大身盡腫皮厚。按其腹窅而不起。腹色不變。此其候也。寒氣客於皮膚。則陽氣不行。氣在氣分。故有聲若鼓。氣本無形。故不堅。氣無所不至。故腹大身盡腫。若因於水。則有水處腫。無水處不腫。然有水則皮澤而薄。無水則皮厚。氣在膚腠。按而散之。不能猝聚。故窅而不起。腹色不變者。皮厚故也。</p>
<p>鼓脹者。腹脹身皆大。大與膚脹等。色蒼黃腹筋起。此其候也。色蒼黃者。赤皮厚腹也。即不變之義。但腹有筋起為稍異耳。此病亦在氣分。故名鼓脹也。</p>
<p>腸覃者。寒氣客於腸外。與衛氣相搏。因有所繫。著惡氣乃起。瘜肉乃生。大如雞卵。及其成也。如懷子之狀。大者離臟。按之則堅。推之則移。月事以時下。覃延布而深也。寒氣與衛氣蓄積不行。汁沫所聚。留於腸外。致癖積瘜肉生。離臟者越臟也。然邪客於腸外。不在胞中。故無妨於月事。</p>
<p>石瘕者。生於胞中寒氣客於子門。子門閉塞。氣不得通。惡血當瀉不瀉。衃血留止。日以益大。狀如懷子。月事不行。皆生於女子。可導以下。胞即子宮也。男女皆有。男謂精室。女謂血海。寒既相搏。則子門閉塞。衃血留止。其堅如石。故曰石瘕。此妨月事。唯女子有之。</p>
<p>石水一症。岐伯本章無答。必闕文也。陰陽別論曰。陰陽結斜。多陰少陽曰石水。少腹腫。其義即此。述見陰陽中。</p>
<p>按內經治腫脹。首義以去菀陳莝。開鬼門。潔淨府。去菀陳莝者。開其鬱積也。開鬼門。發汗也。潔淨府。利水也。其治以表裡上下分消為主。而至真大要論曰。諸濕腫滿。皆屬於脾。水熱穴論曰。其本在腎。其末在肺。皆聚水也。又曰。腎者。胃之關也。關不利故聚水。而從其類也。內經之言鼓脹。不惟五臟六腑。凡五運六氣。司天在泉。勝復淫郁。無不皆有。然無有不幹於脾肺腎三臟者。蓋脾主運化精微。肺主氣而行治節。腎主五液而行水。故五氣所化之液。悉屬於腎。五液所行之氣。悉屬於肺。轉輸二臟。利水生金。悉屬於脾。所以腫脹之生。無不由三者之失職。然又必先由腎氣不足。下氣厥上。三合而成。故其症虛實不倫。實中有虛。虛中有實。行其實當顧其虛。補其虛毋忘其實。而卒歸於大補脾腎以培根本。則得之矣。張介賓脹論。可以熟玩。姑舉其要附此。</p>
<p>卒痛　卒痛諸症。種種不同。皆本寒邪之入經脈。環周不休。變而積留凝泣。或在脈外。或在脈中。或在腸胃膜原。或在衝脈。或在厥陰。或在小腸。膜原絡血之中。或五臟陰氣厥逆。或從腸胃厥逆而上。或留為痹熱堅干於小腸。是以其證多端。在脈外者。卒然而痛。得炅則痛立止。惟重中於寒則痛久不散。在脈中者。與炅氣相薄則脈滿。故痛不按。甚則寒氣稽留。炅氣從上則脈充大而血氣亂。故痛甚不可按。在膜原之下血不得散。小絡急引故痛。按之則血氣散而痛止。在衝脈者。隨腹直上。寒逆而不通。故喘動應手。其在夾脊者。其氣深。按亦不及。按無益也。其客背俞者。脈泣血虛。血虛則痛。而其俞注於心。故相引而痛。若按之則熱氣至而痛亦止。客於厥陰之脈者。厥陰部脅肋小腹。血泣脈急。故脅肋與小腹相引而痛也。客於陰股上及少腹上下相引。故腹痛引陰股。若寒氣客於五臟。其陰氣厥逆上泄。陽氣未入。故卒然痛。死不知人也。至氣復反則乃生矣。客於腸胃。則厥逆上出。故痛而嘔。客於小腸。不能成聚。故腹痛後泄。又稽留其熱於小腸。則痹熱焦渴。腸中痛而堅幹不得出。故痛而閉不通。然此皆寒氣也。寒不入則脈不澀。脈不澀而氣乃流通矣。其徵於色部者。白為寒。青黑為痛。亦視而可知也。其痛處脈堅而泣。及陷下亦捫而可得也。治此者。溫之而已。其熱而閉者。斟酌下之而已。然有裡虛而痛者。陰不足也。非養陰不可。上虛而痛。心脾傷也。非補中不可。下虛而痛。脫泄亡陽也。非速救溫補命門不可。此又以溫而兼補之治也。孰云痛無補法哉。</p>
<p>腸澼　腸澼之成。以陰不勝陽。陽入陰而乘之。使熱鬱下焦。傳道之官失職。久而乃成。成則數欲大便而不得快。或刮積而痛。或下澼澼聲。聚如蟹𣺖。其病如今之痢。實痢之別種也。痢以暑邪及夏月飲食滯膩停積而成。及秋而發。亦有非時而發者。此非腸澼之厲也。腸澼。起足三陰厥熱。留滯與手少陰手厥陰熱邪移下而大腸受之。故其症雖與痢同。而實為諸陰根柢之邪所致。何則。陰者地氣也。其氣主內。若起居不時。飲食不節。積慮房勞。皆足傷陰。陰傷則一身之陽襲而下陷。因入五臟而乘陰位。陽陷於陰而不得舒升。則䐜滿閉塞。久為腸澼。夫下氣厥而上。陽不勝陰則為䐜脹。陰自乘陰。寒氣聚沫留著則為澼積。唯五臟陰傷。陰不勝陽。遂致陽陷下焦而阻其傳道。是以為腸澼也。經曰。因而飽食。筋脈橫解。腸澼為痔。此症以熱鬱食塞。陽氣不能流散而下乘尻陰。故為痔。痔亦腸澼之類也。推此可以知矣。然其症傷陰特甚。故多下血。而唯腎傳脾者為最甚。以酒色兩傷之故也。顧心肝澼亦下血。而以酒傷脾者為酒積。所謂下白沫者。如酒積之類。下純血者。如手少陰足厥陰則乘之類。下膿血者。如腎移脾之類也。大約治法。腸胃自傷者。調節飲食。升其陽氣以和其陰。自肝來者。於土中瀉水。自腎來者。溫養命門。以升中土。此其法矣。</p>
<p>如瘧　如瘧者。內因正氣不足。肝脾相乘。傷於營衛。而厥陰少陽心主寒熱。又以司天六氣勝復會遇之時因而感發。如有瘧狀。或一日發。或間日發。大約陰氣多而陽氣少。其發日遠。陽氣多而陰氣少。其發日近。此勝復相搏。盛衰之節。應亦同法。蓋寒熱者陰陽之氣也。遲速者。陰陽之性也。人之陰陽。則水火也。營衛也。內而心腎不交。木土相剋。則水火營衛。偏勝不和。陰陽和則血氣勻。表裡治。陰陽不和。則勝復之氣。會遇之時刻制見矣。陽入之陰。則陰不勝陽而為熱。陰出之陽。則陽不勝陰而為寒。以陰陽之多少。為發作之遲速。然所謂正瘧亦同者。陰陽出入之理也。其不同者。有邪無邪之辨也。有邪則但由營衛之相會以為止作。無邪則直由水火之爭勝以為盛衰。一在治邪。一在持正。症同而治各不同矣。</p>
<p>積　積之始生。得寒乃生。厥乃成積。又曰。卒然多飲食則腸滿。起居不節。用力過度。則絡脈傷。陽絡傷則血外溢。陰絡傷則血內溢。為役血。故腸胃之絡傷則血溢於腸外。有寒汁沫與血相搏。則併合凝聚。不得散而積成矣。又曰。內傷於憂恐。則氣上逆。逆則六輸不通。溫氣不行。且外中下寒。與此偕厥。凝血蘊里而不散。津液澀著而不去。則積皆成矣。夫經絡之氣。得寒則厥。內傷肝腎脾。外厥寒氣。兩厥別先逆於下。而為足悗悗。肢節痛而不便利也。於是足脛寒血氣凝澀。漸入腸胃。陽不化氣。而腸外汁沫迫聚不散。兼卒暴多食。使腸胃運化不及。汁溢膜外。與血相搏。又或起居用力過度。絡傷血動。瘀血得寒。則食積血積所不免矣。</p>
<p>消癉　消癉之名。消則消鑠肌肉。癉為內有鬱熱。五臟之脈皆以微小者為消癉。是五臟之精氣不能充滿於營。而內有鬱熱以鑠之也。故診以脈實大者為順。雖病久可治。若脈虛小堅則精枯血竭。不能耐久矣。蓋消癉之疾。皆起於不足。是以靈樞言五臟皆柔弱者。善病消癉。夫皆柔弱者。云是天元形體不充也。大氣不足。五臟氣餒。則陰虛生內熱。內熱不解。則外消肌肉。若肥貴人則膏粱甘脆發熱以致之。亦謂之消癉。此病與三消異。蓋此以心腎肝三經之陰虛生熱所致。故所謂熱中消中者。其不可服芳草石藥也。若服之則攖其發癲發狂。使急疾堅勁之氣。激之為剽悍。不重使木剋土盡乎。故經以為服此者。甲乙日更論也。</p>
<p>內經消自為一種。即後世所謂三消也。如氣厥論之肺消鬲消。奇病論之消渴。此上消也。多飲而渴不止者也。脈要精微論。痹成為消中。師傳篇胃中熱則消穀。令人善飢。此中消也。溲便頻而膏濁不禁。肝腎主之。此下消也。夫三消之成。皆以水火不交。偏勝用事。燥熱傷陰之所致。而要之五行之氣相乘。陽勝固能消陰。陰勝亦能消陽。如風木乘二陽胃為肌肉風消。心移寒於肺飲一溲二為肺消。則亢陽之衰而金寒水冷之為也。故由其燥熱傷陰而氣不化水為消。亦由陰邪偏盛。陽不帥陰而水不化氣為消。其謂一也。</p>
<p>癉又為一症。有脾癉。有膽癉。脾癉者。口甘肥美之所發也。肥令人內熱。甘令人中滿。中滿鬱熱。其氣上溢。轉為消渴。內經治之以蘭。除陳氣也。蘭草性味甘寒。能利水道。其清氣能生津止渴。可除陳積蓄熱也。膽癉者。口苦。以肝取決於膽。而數謀慮不決則膽氣虛。虛則其氣上溢。而口為之苦。膽之脈會於咽也。</p>

<h3>疝伏梁狂癲癇黃疸血枯病第八</h3>
<p>疝　六經皆有風疝。疝者。痹氣不行而聚起之謂。其脈必滑。而症必兼風者。疝症必動而聚。動則兼風。而聚則為疝。故脈必滑也。然內經獨拈任脈為病。男子內結七疝。女子帶下瘕聚。則後世之言疝者本此。而疝亦不一也。有狐疝。以其出入不常也。有㿗疝。以其頑腫不仁也。有沖疝。以其自少腹衝心而痛也。有厥疝。以積氣在腹中而氣逆為疝也。有瘕疝。以少腹冤熱而痛出白。名曰蠱者也。凡此諸疝症。皆病在中極之中。少腹之間總諸陰之會。而上於關元。無不由任脈為之原。夫前陰少腹之間。乃足三陰陽明任沖督脈之所聚。故其疝症。又有少陽有餘病筋癉而及肝風疝者。此少陽相火犯陰。傷筋而動肝木之風。因聚為肝疝者也。又太陽與腎風寒合邪傷陰而聚於腎為腎風疝。又厥陰有餘病陰痹。滑則病狐疝。厥陰位下焦。總諸筋。其氣壅而不升。則陰痹。而脈見滑為狐風疝。蓋諸症其來不一。而總見於任脈之間。以任總諸陰之所聚故也。乃其症一由於熱。一由於寒。一由於虛。一由於勞。而犯陰傷筋則同。故其病皆在陰。其傷皆在筋。其動如風。其結如山。所以有疝之名也。後世妄立疝名。而不明其所由。若靜究所以。則治法固可瞭然矣。</p>
<p>伏梁　經中有伏梁二種。皆居肓之原而當腸胃之外。連三陰沖帶之間。一為裹大膿血。一為寒厥成積。以其伏而在下。故名曰伏。強梁堅硬。故名曰梁。又以天樞之中。橫居其際。故亦名為梁。其裹大膿血。在少腹上下左右。皆有根系。延積既久。根結自深。其下行者。能下膿血。上行者。能迫胃脘。苟居臍上。則漸逼心肺。故為逆。唯居臍下者。其勢猶緩。故為從。此不易治。若妄攻以奪胃氣。徒傷無益。而又害之也。一症身體髀䯒皆腫。環臍而痛。此亦在衝脈之分。而結於臍腰。病在肓之原。所謂下氣海也。其病為風根。即寒氣而厥之成積者也。其積之成。使腎家水寒之氣。壅而不得行。故身體髀䯒皆腫。而又環臍痛也。此為陰陽之積。不當妄動妄下。妄下則愈傷其陰。陰傷則積氣愈壅。而水道不利矣。</p>
<p>狂　狂之為病。先自悲也。善忘善怒善恐。少臥不飢。已而自高賢也。自辨智也。自尊貴也。善罵詈。日夜不休。又好歌樂。妄行不休。多食。善見鬼神。此則得之有所大恐大憂大喜失神之所致也。至若陽明之外感病。亦能發狂。上屋登高而呼。棄衣而走。罵詈不避親疏。此則邪並於陽則狂。亦曰重陽則狂也。然彼以心疾。此以熱病。陽明為心君之所居。熱並其部。勢必及之。故亦失神也。又以心腎不交。二陰二陽皆交。至病為腎之水窒而龍火逆上。與陽明之熱交併。亦能使神惑志失而為癲疾為狂。罵詈妄行。此所謂腎精不守。不能主裡。使心火自焚也。又有所謂怒狂者。陽氣因暴折而難決。故善怒而狂。亦所謂陽厥也。治之以生鐵落為之飲。且奪其食則病已。以奪食則不長氣於陽。而鐵落能下氣已。</p>
<p>癲　癲疾始生。先不樂。頭重痛。視舉目赤。啼呼喘悸。反僵而及骨與筋脈皆滿。故骨顛疾者。顑齒諸俞分肉皆滿而骨居。汗出煩冤。筋顛疾者。身卷攣急。脈顛疾者。暴僕四肢之脈皆脹而縱脈滿。苦嘔多沃沫。氣下泄者皆不治。顛頗與癇瘛相似。而不同者。以無暫止也。大約肝病居多。先不樂。肝乘心也。頭重痛。肝氣上癲也。視舉。肝之目系急也。目赤。火也。啼呼喘悸。肝滿乘心而惑志失神也。反僵則急在筋也。其筋骨脈皆滿。則與癇瘛同。但無止時耳。乃脈大滑者。久自已。脈小堅急。死不治者。陽搏於陰。而脈滑陰猶盛也。故久自已。小堅急。肝之真藏見矣。故不治。嘔多。沃沫。氣下泄者。嘔多為胃氣逆。沃沫為脾已弛。氣下泄。則腎關已不守。二者俱無胃氣。故死不治。又曰。虛則可治。實則死。虛者謂脈緩而不堅急也。實則弦急生機絕矣。</p>
<p>癇　考內經癇症之條。二陰急為癇厥。心脈滿大。癇瘛筋攣。肝脈小急。癇瘛筋攣。足少陰筋病生癇瘛及痙。是其症在腎氣之厥。而邪傷在陰與筋也。腎氣主少陰與樞。少陰逆而樞失則氣塞於經而上行。少陰脈系舌本。塞則喉音隘不容發。故聲若羊豕。然經時必止者。氣復反則已。是以不與顛同也。其為心脈滿大而癇瘛者。腎逆而心火鬱。故滿大。逆於肝者。緣肝陰先不足而腎氣逆之。故肝脈小急。亦癇瘛筋攣。肝陰虛。故小。腎逆於肝。故急。凡癇必兼瘛。而曰二陰急為癇厥者。以少陰厥而後癇也。又陽維從少陰至太陽。動若肌肉痹及下部不仁。又若顛仆羊鳴。甚者失音。不能言。陰維從少陽斜至厥陰。動若顛癇僵仆羊鳴失音。蓋陽維維於諸陽。而從少陰至諸陽。是陰為陽根也。根出少陰。故能維於諸陽。而少陰陰邪從而至於諸陽。故能塞諸陽之會。而動若肌痹不仁。又若顛癇羊鳴失音。失音者。少陰不至則為喑也。陰維從少陽至厥陰。是陽為陰鼓也。動在少陽。故能鼓諸陽而為維。而少陽既衰。陰邪遂壅。亦能全塞諸陰之會。而筋絡相引。故亦動若癲癇僵仆羊鳴失音。此雖不拈少陰而厥陰之方。亦少陰之失樞也。觀此則諸癇可以意識矣。</p>
<p>黃疸　疸以目黃。已食如飢。溺黃赤。安臥者。名曰黃疸。而論疾診尺篇曰。身病而色微黃。齒垢黃。爪甲上黃。黃疸也。然疸有三。其候心中熱。足下熱。為酒疸。已食如飢。善消穀食。為胃疸。所謂谷疸也。又有谷疸脈小而澀。不嗜食者。言中寒也。其女勞疸者。額上黑。微汗出。手足中熱。薄暮即發熱。膀胱急。小便自利。女勞疸也。三疸證稍異。而以目黃身黃為中州瘀熱不行。外痹中熱。溺黃赤為主。然其膀胱急而小便自利者。乃為傷陰傷腎。其治當別。不可以酒疸谷疸同治也。</p>
<p>血枯　血枯一症。內經述一病源以為榜樣。而曰胸脅支滿。妨於食。病至先聞腥臭出清液。唾血。四肢清冷。頭目眩暈。時時前後血。此名血枯。支滿。滿如支鬲也。肺主氣。其臭腥。肝主血。其臭臊。肺氣不能平肝。則肝肺俱遂於上。濁氣不降。清氣不升。故聞腥臭而吐清液也。唾血。血不歸經也。四肢清冷。氣不能周也。頭目眩暈。失血多而氣隨血去也。血氣既亂。故前後陰血不時見。而月信反無期也。夫腎主閉藏。肝主疏泄。此症不惟傷腎。而且傷肝。至其久則三陰俱虧。所以有先見諸症。終必至於血枯月信斷也。丈夫犯此。亦不免為精枯。所謂勞損之屬也。然其症與血隔相似。皆經閉不通之候。而枯與隔相反。隔病發於暫。或痛或實。通之則血行。枯則衝任內竭。必不可通者也。唯養陰補氣。使其血充可耳。</p>

<h1>附錄</h1>

<h2>張子和九氣感疾論</h2>
<p>萬物之在天地間也。咸以氣而生。及其病也。莫不以氣而得。夫天地之氣。常則安。變則病。而況人稟天地之氣。五運迭侵於其外。七情交戰於其中。是以聖人嗇氣如持至寶。而軒岐所以論諸痛皆因於氣。百病皆生於氣。遂有九氣不同之說。氣本一也。</p>
<p>因所觸而為九。所謂九者。怒喜悲恐寒暑驚勞思也。其言曰怒則氣逆。甚則嘔血及飧泄。故氣逆上。王注曰。怒則陽氣逆上而肝木乘脾。故甚則嘔血及飧泄也。喜則氣如志達。營衛通利。故氣緩。悲則心系急。肺布葉舉而上焦不通。榮衛不散。熱氣在中。故氣消。恐則精卻。卻則上焦閉。閉則氣還。還則下焦脹。故氣不行。王注云。恐則使精卻上而不下流。下焦陰氣亦迴環而不散。故聚而脹也。然上焦固禁。下焦氣還。故氣不行也。寒則腠理閉。氣不行。故氣收。王注云。身涼則衛氣沉。故皮膚之理及滲泄之處皆閉密。而氣不流行。衛氣收斂於中而不散也。暑則腠理開。營衛通。汗大出。故氣泄。王注云。人在陽則舒。在陰則慘。故熱則膚腠開發。營衛大通。津泄而汗大出也。驚則心無所依。神無所歸。慮無所定。故氣亂。勞則喘息汗出。內外皆越。故氣耗。王注云。疲勞役則氣奔速。故喘息氣奔。速則陽外發。故汗出。內外皆逾越於常紀。故氣耗損也。思則心有所存。神有所歸。正氣留而不行。故氣結。王注云。繫心不散。故氣亦停留。素問論九氣甚明。其論所感之疾則甚略。惟靈樞論思慮悲哀喜樂愁憂盛怒恐懼而言其病。其言曰。心怵惕思慮則傷神。神傷則恐懼自失。破膕脫肉。毛瘁色夭。死於冬。脾憂愁而不解則傷意。意傷則悗亂。四肢不舉。毛瘁色夭。死於春。肝悲哀動中則傷魂。魂傷則狂妄不精。不精則不正。當人陰縮而攣筋。兩脅不舉。毛瘁色夭。死於秋。肺喜樂無極則傷魄。魄傷則狂。狂者意不存。人皮萃焦。毛瘁色夭死於夏。腎盛怒而不止則傷志。志傷則善忘其前。腰脊不可俛仰屈伸。毛瘁色夭。死於季夏。腎恐懼不解則傷精。精傷則骨痿厥。精時自下。是故五臟主藏精者也。不可傷。傷則失守而陰虛。虛則無氣。無氣則死矣。靈樞論神意魂魄志精所主之病。然無寒暑驚勞四症。余以是推而廣之。怒氣所至。為嘔血。為飧泄。為煎厥薄厥陽厥。為胸滿脅痛。食則氣逆不下。為喘陷煩心。為消癉。為肥氣。為目暴盲。耳暴閉。筋解發於外。為疽癰。喜氣所至。為笑不休。為毛髮焦。為內病。為傷氣不收。甚則為狂。悲氣所至。為陰縮筋攣。為肌痹脈痿。男為數便血。女為血崩。為酸鼻為辛額目昏。為少氣不足以息。為泣則臂麻。恐氣所至。為破膕脫肉。為骨酸痿厥。為暴下汗水。為面熱膚急。為陰痿。為懼。而脫頤。驚氣所至。為潮涎目睘口呿。為癡癇不省人僵仆。久則為痛痹。勞氣所至。為咽嚏。為病促促。為嗽血。為腰痛骨痿。為肺鳴。為高骨壞。為陰痿。為唾血。為冥視耳閉。男為少精。女為不月。衰甚則漬漬乎若壞都。汨汨乎不可止。思氣所至。為不眠。為嗜臥。為昏瞀。為中痞。三焦閉塞。為咽嗌不利。為膽脾嘔苦。為筋痿。為白淫。為得後與氣則快然如衰。為不嗜食。寒氣所至。為上下所出水液澄澈清冷下利清白。吐利腥穢。食已不飢。堅痞腹滿。急痛癥㿗疝。屈伸不便。厥逆禁固。熱氣所至。為喘嘔吐酸。暴注下迫轉筋。小便渾濁。腹脹大而鼓之有聲如鼓。瘡疽瘍疹。瘤氣結核。吐下霍亂。瞀郁腫脹。鼻窒鼽衄。血溢血泄。淋閉。身熱惡寒。甚則瞀瘛目不明。耳鳴或聾。躁擾狂越。罵詈驚駭。禁慄如喪神守。氣逆衝上。嚏腥湧溢。食不下。跗腫痠疼。暴喑暴死。暴病暴注。凡此九者。內經有治法。但以五行相勝之理治之。夫怒傷肝。肝為木。怒則氣並於肝。而脾土受邪。木太過。則肝亦自病。喜傷心。心為火。喜則氣並於心。而肺金受邪。火太過則心亦自病。悲傷肺。肺為金。悲則氣並於肺。而肝木受邪。金太過則肺亦自病。恐傷腎。腎屬水。恐則氣並於腎。而心火受邪。水太過則腎亦自病。思傷脾。脾屬土。思則氣並於脾。而腎水受邪。土太過則脾亦自病。寒傷形。形屬陰。寒勝熱則陽受病。寒太過則陰亦自病。熱傷氣。氣屬陽。熱勝寒則陰受病。熱太過則陽亦自病。凡此七者。更相為治。故悲可以治怒。以愴惻苦楚之言感之。喜可以治悲。以謔浪狎褻之言娛之。恐可以治喜。以迫遽死亡之言怖之。怒可以治思。以汙辱欺罔之言觸之。思可以治恐。以慮彼忘此之言奪之。此凡五者。必詭詐譎怪。無所不至。然後可以動人耳目。易人視聽。若非有材有識之人。亦不能用此五法也。炅可以治寒。寒在外者。以焠針熨灸汗之。寒在內者。以熱食溫劑平之。寒可以治熱。熱在外者。以清房涼榻薄衣。乃清利汗之。熱在內者。以寒飲寒劑平之。唯逸可以治勞。經曰。勞者溫之。溫謂溫存而養之。若以為溫藥誤矣。岐伯曰。以平為期。亦謂休息之也。唯習可以治驚。經曰。驚者平之。平謂平常也。夫驚以其忽然而遇之也。使習見習聞則不驚矣。此九者。內經自有是理。庸工廢而不行。今代劉河間治五志獨得言外之意。謂五志所發。皆從心造。故凡見喜怒悲恐思之症。皆以平心火為主。至於勞者傷於動。動便為陽。驚者駭於心。心便屬火。二者亦以平心為主。今之醫者。不達此旨。遂起寒涼之謗過矣。</p>

<h2>繆仲醇陰陽臟腑虛實論治</h2>
<p>陽虛。即真氣虛。其證惡寒。或發熱。自汗。汗多亡陽。然陽虛不發熱。單惡寒者居多。治宜甘補溫熱。陰虛。即精血虛。其證為咳嗽多痰。吐血咯血嗽血。鼻衄齒衄。盜汗自汗。發熱寒熱潮熱。骨乏無力。不眠氣急。腰背痛。治宜生精補血。氣清虛熱斂攝。酸寒甘寒甘平鹹寒。略兼苦寒。</p>
<p>表虛。其證自汗惡風。灑淅寒熱。善就溫暖。脈浮無力。治宜甘酸補斂。益氣實表。</p>
<p>裡虛其證洞泄或完穀不化。心腹痛。按之即止。或腹脹。或傷寒下後痞滿。治宜溫補。甘溫佐以辛熱。</p>
<p>陽實。即表邪熱盛。其症頭痛寒熱。遍身骨痛無汗。治宜辛寒發散。天寒略加辛熱辛溫佐之。</p>
<p>陰實。即裡實外感證。屬邪熱內結者。其症胸腹硬痛。手不可近。大便七八日不行。或挾熱下利。治宜下。苦寒鹹寒甘辛。</p>
<p>陽厥。即熱厥。其證四肢厥。身熱面赤。唇燥大渴。口乾舌苦。目閉或不閉。小便赤澀短少。大便燥結。不省人事。治宜下。清熱。甘寒苦寒鹹寒。有挾虛有痰者。宜麥冬竹瀝蘆根汁梨汁牛黃童便。如婦人熱入血室。因而厥者。藥中以童便為君。加赤芍生地牛膝丹皮桃仁。甚者大便燥結。加芒硝大黃下之。通即止。</p>
<p>陰厥。即寒厥。其證四肢厥逆。身冷麵青。嗜臥。手指爪青黯。腹痛。大便溏或完穀不化。小便自利。不渴。不省人事。治宜補氣溫中。甘溫辛熱。</p>
<p>上盛下虛。屬陽盛陰虛。治宜降。益陰。甘寒酸寒。佐以鹹寒苦寒。下盛上虛。屬陰盛陽虛。治宜益氣升陽。甘溫甘辛。</p>
<p>心虛八證。治宜補血。甘溫酸斂。佐以鹹寒。鎮墜。驚邪屬心氣虛。經曰。驚者平之。宜降。清熱豁痰。平癲癇屬心氣虛。有熱亦宜降。清熱豁痰。不得眠屬心血虛。有熱治宜斂。養陰血清熱。心煩屬心家有熱。宜清。兼生津液。甘寒甘平甘酸。參用不得眠中諸藥。怔忡屬心血不足。心澹澹動。盜汗屬心血虛。汗者心之液也。宜補斂。清虛熱。甘酸甘平甘寒。苦寒鹹寒。伏梁屬心經氣血虛。以致邪留不去。治宜活血涼血。散熱通結。辛鹹。</p>
<p>心實。即實火實熱五症。治宜降火清熱。苦寒以折之。辛寒以散之。甘寒以緩之。鹹寒以潤之。譫語屬心家初熱。舌破屬心火。煩躁屬心家邪熱。及心內火炎。自笑屬心家有熱邪。發狂屬心家有邪熱甚。（煩屬心躁屬腎）</p>
<p>肝虛十證。治宜辛散甘緩。胸脅痛屬肝血虛與肝氣實。。因而上逐。宜降氣養血和肝。辛甘平緩。轉筋屬血虛。宜酸辛甘平。目光短屬肝血虛。及腎水不足。真陰虧。宜補肝兼滋腎。甘溫益血。甘寒除熱。目昏屬肝血虛。有熱。兼腎水真陰不足。目翳屬肝熱。兼腎水不足。宜補肝血。除熱退翳。亡血過多角弓反張屬肝血虛。有熱宜補血清熱。甘寒甘溫酸寒鹹寒辛潤。少腹連陰作痛按之則止屬足厥陰經血虛。宜同角弓反張。偏頭痛屬血虛。肝家有熱。不急治之。久之必損目。宜養血清虛熱。甘寒酸寒辛寒。目黑暗眩暈屬血虛。兼腎水真陰不足。宜養血補肝清熱。甘寒甘平酸寒苦寒。肥氣屬氣血兩虛。肝氣不和。逆氣與瘀血相併而成。宜和肝散結氣。兼行氣血凝滯。甘溫甘平。肝實五證。宜清熱降氣。苦寒辛寒甘寒酸寒。善怒。怒則氣上逆。甚則嘔血反飧泄。宜降氣清熱。甘寒鹹寒酸寒。且佐以辛散。善太息。忽忽不樂。脅痛嘔血屬肝氣逆。肝火盛。肝血虛。發搐屬肝家邪熱。熱則生風。風主掉眩故也。宜清熱降氣。利小便緩中。目赤腫痛屬血熱。宜涼血清熱。甘寒苦寒酸寒。</p>
<p>脾虛十二證。宜甘溫。佐以辛香酸平。飲食勞倦傷脾。發熱。宜補中益氣。甘溫升酸。飲食不消化屬脾氣虛。宜益其氣。甘溫甘辛。傷食必惡食。宜健消導。甘溫辛香。如腹痛大便不通。宜下。枳實檳榔厚朴大黃。元氣虛人不可下。宜加參朮。傷內食。輕者。宜蒜。山楂兼黃連。重者。宜礬。紅棗肉為丸服二錢。不可過。終身忌蕎麥。傷麵食。宜炒萊菔子。停飲為恣飲湯水或冷茶冷酒所致。宜健脾利水。淡滲兼辛散。水腫屬脾氣虛。宜補脾益氣。燥濕利水。辛香甘溫。佐以淡滲。脾虛中滿屬脾氣虛兼脾陰虛。晝劇夜靜屬脾氣虛。宜補氣健脾。甘溫淡滲。佐以辛香。夜劇晝靜屬脾陰虛。宜補脾陰。兼制肝清熱。甘平酸寒淡滲。噎膈屬氣血兩虛。由於血液衰少而作。痰氣壅遏所成。宜降。清熱潤燥。甘溫甘平以益血。略佐辛香以順氣。脾泄屬氣虛。宜溫中。補氣升清。甘溫甘平。佐以辛香。兼有濕及痰。經年不愈。糞色白者。須服九制松脂。健忘屬氣血兩虛。宜益脾陰兼補氣。酸斂甘溫甘寒辛平以通竅。倦怠嗜臥屬脾氣不足。宜補氣兼健脾。甘溫辛香。腹痛按之則止屬脾血虛。宜益氣補血。甘溫酸平。痞氣屬脾虛及氣鬱所致。宜健脾兼散結滯。甘溫辛香。</p>
<p>脾實。即濕熱邪勝六證。宜除濕清熱。利小便。辛散風燥苦寒。蠱脹由於脾家濕熱積滯。或內傷瘀血。停積而成。宜除濕清熱。利小便。消穀易飢屬脾家邪火。宜清火除熱。生津液。益脾陰。甘寒苦寒酸寒。口唇生瘡宜甘寒酸寒苦寒辛寒。口糜宜同唇瘡。中消屬脾家實火。宜同唇生瘡加人參。濕熱腹痛按之愈甚。宜利小便。兼升提。苦寒不愈者。加熟大黃。即土鬱則奪之義也。</p>
<p>肺虛七證。宜清熱降氣。酸斂潤燥。齁喘屬肺虛有熱。因而壅痰。宜降氣消痰。辛涼甘寒苦平。咳嗽吐血痰屬肺熱甚。宜降氣清熱。潤肺生津液涼血益血。甘寒甘平鹹寒。佐以苦寒。聲啞屬肺熱甚。宜同咳治。咽喉燥痛屬水涸。火炎肺熱之極也。此症法所難治者。肺痿屬肺氣虛有熱。龜胸屬肺熱有痰。息賁屬肺氣虛。痰熱壅結所致。宜降氣清熱。開痰。佐以散結。參東垣息賁丸治之。</p>
<p>肺實八證。宜降氣散閉。甘寒苦寒。佐以辛散。喘急屬肺有實熱及肺氣上逆。宜同肺實。加桔梗甘草栝蔞仁玄參青黛。氣壅屬肺熱氣逆。同肺實。聲重痰稠屬肺熱。肺癰屬肺熱極。宜清熱消痰。降火解毒散結。甘寒苦寒辛寒。肺脹悶屬肺熱。同肺實。吐膿血血痰咳嗽嗽血屬肺家火實熱甚。此正邪氣勝則實之謂。宜清熱降氣。涼血豁痰。喉癬屬肺熱。宜同肺實。加鼠黏子玄參射干。上消屬肺家實及上焦熱。宜降氣清熱。補肺生津。甘寒苦寒酸寒辛寒。</p>
<p>腎虛。即腎水真陰不足十八證。宜滋陰潤燥。生精補血除熱。甘寒酸寒苦寒鹹寒。腎虛腰痛屬精氣虛。骨乏無力屬陰精不足。腎主骨故也。骨蒸潮熱屬精血虛極。以致陽無所附。虛火上炎諸症。皆同腎虛。傳屍勞。宜除熱益陰殺勞蟲兼清鎮。五心煩熱為真陰不足。夢遺泄精屬腎虛有火。宜滋陰生精。補血除熱。酸斂佐以澀精。小便短澀。熱赤頻數。屬腎虛有火。宜同腎虛。溺有餘瀝屬氣虛。宜同腎虛。以五味子黃柏人參為君。加菟絲子覆盆子為臣。益智為佐。如覺平日肺家有熱。或咳嗽有火者。忌人參。用沙參。溺血血淋屬腎虛有火。熱傷血。不宜同腎虛。加側柏阿膠茅根地黃戎鹽蒲黃之類。傷精白濁屬房勞過度。以致精傷流出似白濁症。宜同腎虛。五淋屬腎虛兼有濕熱。宜同腎虛。加清濕熱。精塞水竅不通屬房欲不禁。或思欲不遂。或懼泄忍精。或老人氣不足以逐精出竅。宜行敗精。壯實人兼泄火。老人宜兼補氣血。外治用吮法。齒浮真牙搖動。及下齦軟或齒衄。腎虛有熱。宜益陰涼血固腎。應以地黃黃柏五味子為君。桑椹牛膝沙蒺藜鹿茸天冬為臣。龍骨牡蠣為使。下滑屬腎陰虛火伏下焦。宜清熱及峻補真氣。潤兼酸斂。宜以黃柏五味子。生地天門冬人參為君。石斛牛膝知母人乳及童便為臣。地骨皮青蒿側柏葉為佐。善恐屬腎氣虛。腎藏志故也。宜補。強氣志。辛平甘溫。佐以辛香。陰竅湧氣屬腎氣虛不固。腎主納氣。虛則不能納。故見是證。宜補真氣。酸斂固澀。參用腎虛諸藥。疝屬腎虛。寒濕邪乘虛客之所致。丹溪謂與腎經絕不相干者誤也。又有先因濕邪為病。後成濕熱者。藥宜分寒熱先後二途。宜補氣通腎氣除濕。又有陰虛有熱之人病此。兼宜除熱。虛寒而痛。加桂茴香補骨脂仙茅。虛熱而痛。加黃柏車前子。濕盛者加朮。奔豚屬腎虛。脾家濕邪下傳客腎所致。宜補氣健脾。辛溫散結。參用東垣奔豚丸治之。</p>
<p>腎無實。故無治法。</p>
<p>命門虛。治元陽真火不足四證。宜益真陽之氣。甘溫鹹溫甘熱酸斂。陰痿為命門火衰。下焦虛寒。宜同命門虛加海狗腎蛇床子原蠶蛾狗陰莖等。精寒精薄屬命門火衰。陽氣不足。宜同陰痿。腎泄即五更及黎明泄瀉者是也。亦名火瘕泄。屬命門真火不足。宜益氣。甘溫酸斂畏寒足冷。宜同命門虛。命門實二證。宜苦寒甘寒鹹寒。強陽不倒屬命門火實。孤陽無陰所致。此證多不治。宜同命門實加五味子童便生地黃。水竅澀痛屬命門實火。宜清熱利竅甘寒苦寒咸佐以淡滲。小腸虛宜補氣。甘溫酸溫。遺尿屬小腸氣虛兼腎氣虛。宜同小腸兼固澀。小腸實。宜通利淡滲。苦寒甘寒鹹寒。小水不利及赤或澀痛尿血。宜同小腸實。</p>
<p>膽虛二證。宜甘溫甘平酸斂佐以微辛。易驚屬膽氣虛。宜補膽氣。甘溫辛溫酸平。病後不得眠屬膽虛。治同膽虛。</p>
<p>膽實二證。宜和解。辛寒甘寒辛溫苦寒。口苦耳聾脅痛。往來寒熱。宜小柴胡湯隨所見兼症加減。鼻淵屬膽移熱於腦。宜清熱補腦。甘寒甘平佐以辛寒。</p>
<p>胃虛七證。宜益氣。甘平甘淡酸。胃弱不納食。及不思飲食。宜同胃虛。仍分寒熱治。胃虛嘔吐宜分寒熱。霍亂轉筋為胃虛猝中邪惡氣及毒氣兼有停滯所致。此轉筋與肝經血虛不同。宜調氣和中。辛散消導。由於暑必口渴或口乾。齒燥口苦。小水短赤。由於寒則小水清白。不渴不熱。絞腸痧屬胃氣虛。猝中天地邪惡穢汙之氣也。鬱於胸腹之間。上不得吐。下不得泄。以致腸胃絞痛異常。胸腹驟脹。遍體紫黑。頭頂心必有紅髮。急尋出拔去之。急以三稜針刺委中擠出熱血。即可甦醒。次用新汲涼水投入鹽兩許恣飲。得吐瀉即止。委中穴在兩膝下彎橫紋中間兩筋之中。刺入一分。切忌火酒姜蒜。及穀氣米飲熱湯。入口即死。宜通竅辟惡。辛散鹹寒。煎藥亦宜冷服。中惡腹中㽲痛屬胃氣虛。惡氣客之所致。宜辟惡氣通腸胃。用辛散。反胃屬胃氣虛。宜補氣降氣。和胃清熱。酸斂以制肝。若因虛寒而得者。加生薑。中酒屬胃弱。宜養胃。酸辛散淡滲。</p>
<p>胃實六證。宜下。如邪未結宜清熱發散。苦寒辛寒甘寒。譫語發狂發斑。棄衣而走。登高而歌。屬胃家邪熱實。宜同胃實。如大便結者。加芒硝亟下之。發斑者。加鼠黏子玄參栝蔞根。多用石膏為君。便結亦加大黃下之。口臭數欲飲食屬胃火。宜清熱降火。苦寒甘寒辛寒。嘈雜屬胃火。宜同口臭。略兼消導。口淡屬胃熱。宜同口臭。嘔吐屬胃火者。必面赤。小便短赤或澀。大便多燥。口苦或乾渴。宜同胃實加枇杷竹茹木瓜蘆根橘皮通草白茯苓。吞酸者屬胃火。宜同嘈雜。</p>
<p>大腸虛四證。宜補氣潤燥。甘溫。虛熱便閉不通屬血虛。津液不足。宜生津液潤燥。涼血益血。虛寒滑泄不禁屬氣虛。宜補氣升提。甘溫酸斂。腸鳴屬氣虛。宜同大腸虛。加柴胡升麻以佐之。脫肛為氣虛兼有濕熱。宜補氣升提。險濕熱。外用五倍子敷之。</p>
<p>大腸實四證。宜潤下苦寒辛寒。便硬閉。宜同大腸實。加芒硝豬膽檳榔郁李仁石蜜。腸風下血屬大腸濕熱。宜清熱涼血兼升。甘寒苦寒。臟毒屬血熱。宜同腸風。加忍冬麥冬地榆蒲黃。腸癰屬大腸實火。宜下。苦寒解毒。膀胱虛三證。宜補氣。酸斂。小便不禁屬氣血虛。宜同膀胱虛加牡蠣龍骨鹿茸桑螵蛸雞䏶胵。頻數不能少忍。加麥冬五味子黃柏山茱枸杞等。遺尿屬本經氣虛。見小腸虛條內。因膀胱虛亦能致遺尿。故複列此。膀胱氣宜同疝。</p>
<p>膀胱實宜潤。淡滲。癃閉屬膀胱實熱。同膀胱實。佐以升提。三焦虛二證。宜補中益氣。佐以辛溫。腹寒屬中氣虛。同三焦虛。短氣少氣屬氣虛。宜補氣益精。甘溫甘寒酸溫。三焦實三證。宜降。清熱調氣。甘寒苦寒鹹寒。喉痹即纏喉風。屬少陽相火少陰君火併熾。經曰。一陰一陽結為喉痹。一陰者少陰君火也。一陽者少陽相火也。宜辛散。佐以苦寒鹹寒。急則有針法吹法吐法。急治用膽礬朴硝牛黃為末和勻。吹入喉中。又法用明礬三錢。巴豆七粒去殼。同礬煅。礬枯。去巴豆。取礬細末。吹入喉中即寬。頭面赤熱屬上焦火升。宜降。清熱。甘緩佐以酸斂。赤白遊風屬血熱。熱則生風。故善遊走。俗名火丹。小兒多患此。大人亦時有之。宜清熱涼血。兼行血。辛寒甘寒苦寒鹹寒。宜兼外治。砭出熱血。及用漆姑草。慎火草。搗爛敷之。即易愈。東逸。曰認證精詳。治法穩當。但權衡臟腑上下互取之法。不在是例耳。</p>
