<header data-type="book">
<h1>退思集類方歌註</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1897">公元1897年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>《退思集類方歌注》《醫方證治彙編歌訣》二書，吾邑王旭高先生所著也。先生名泰林，字旭高，晚號退思居士。江陰柳寶詒嘗選刊先生醫案，稱先生讀書，上自軒岐，下迄清季諸家，無不精心灌注，於古書則研求古訓，於後人書則必分別疑似。所著有《西溪書屋夜話錄》《醫方歌訣串解》《環溪草堂醫案》諸書，均未梓行雲。今醫案經方君耕霞、柳君寶詒選刊，流行於世，其餘數書屢求不得。乙卯冬，華君松岩惠余稿本一束，云已藏棄多年。先是東房橋有先生之門人，年老忽發狂易，以鈔錄各書沉之水中。華君僅撈得方歌二種，殘缺不完。余不諳詩韻，乃郵寄魯省陸君晉笙處，托為補正。據謂首尾尚幸完善，僅少梔子豉湯前一頁，即照《傷寒》《金匱》方補之。詳閱《退思集類方》，本徐靈胎氏《傷寒類方》化裁編輯，以《金匱》方、後人方附麗之，分為二十四類。其《醫方歌訣》亦本《蘭臺軌範》通治方而作，故所注多遵徐書，而博採群書，間有先生新注，及自制數方附見，去取頗屬審慎，註釋亦極明白。余尤佩其雖一以仲聖方為宗，而能集仲聖以下醫方之長，絕不拘泥一家言，觀其治案可知也。惟此書尚非定本，故上有王先生所批「此方宜入某類」、「宜改從某注」、某方可刪」語。又如麻黃湯類之神朮散，注云：「又有太無神朮散、叔微神朮散，俱編入平胃散類。」瀉心湯類之進退黃連湯，注云：「崔氏八味丸編入腎氣丸類。」今無此二類。梔子豉湯下注有「余義見卷四雜說」云云，亦經散佚。又小青龍湯下注，尚著有《古方餘論》，則不止柳氏所謂三種，可知年愈遠，而書愈有闕，惜哉！惜哉！乃蓄意訪求，知先生故里去余家僅數十武，先生裔孫某君云：「高祖昆季五人，旭高最少，享高壽，無嗣，故歿後無紹其業者；門弟子各走一方，無從追考。其著述六十年來散佚無一存矣。」則是二書雖非全璧，亦足覘王先生學問之一斑也。道、咸之間固享名於蘇、浙者，何其著述竟無存耶！且此本得之沉水之餘，字跡有剝落之處，急謀付梓，以廣流傳；復以少時錄存先生所編著之《西溪書屋夜話錄》《醫方歌括》及《增訂醫方歌訣》《薛氏濕熱論歌訣》各一卷，合為一冊，洵屬醫學家之要書，不可再使抱殘守缺，湮沒不彰，此付刊之舉，不容或緩者已。</p>
<p><u>庚申冬月無錫周鎮小農別署伯華謹識於惜分陰軒</u></p>

<h1>退思集類方歌注</h1>
<p>《傷寒》《金匱》方　後漢張仲景著《傷寒》《金匱》兩書，為後世醫方之祖。其方治病，雖千頭萬緒，而條理不紊。方中之藥，少者僅一二味，而又無所不包括；多者至二三十味，而又無一味不緊切，所以謂之「方祖」。此卷所輯，皆其方也。間附後世數方，使人從流溯源，知夫熔古化新之妙。學者能於此卷諸方，精思而熟讀之，應變無窮矣。</p>

<h2>麻黃湯類</h2>

<h3>麻黃湯</h3>
<p>治太陽病風寒在表，頭項強痛，身疼腰痛，骨節疼痛，發熱惡寒，惡風無汗，胸滿而喘，其脈浮緊或浮數者，宜此發汗。若脈浮弱，汗自出，或尺脈微遲者，俱不可服。若風、寒、濕三氣成痹，及冷風哮嗽，最效也。</p>
<p>麻黃（三兩去節）　桂枝（二兩去皮）　杏仁（七十個去皮尖）　甘草（一兩炙）　以水九升，先煮麻黃減二升，去上沫，納諸藥，煮取二升半，去滓，溫服八合。復取微似汗，不須啜粥。</p>

<h3>麻黃加朮湯</h3>
<p>治濕家身煩疼。</p>
<p>麻黃湯原方加白朮四兩。</p>
<p>麻黃髮汗之峻劑，監以桂草斯無弊。（麻黃開竅發汗，性最猛烈，故以桂枝監之，不使其大汗亡陽，甘草和之，不使其劫陰脫營，如馭馬防其放逸耳。）麻黃入肺杏入心，發汗必通營與衛。（麻黃輕清入肺，杏仁重濁入心。仲景治太陽初病，必從心營肺衛立方也。）先煮麻黃取力專，（麻黃先煮，取其力專，不僅為去上沫已也。）不須啜粥恐留滯。（不須啜粥，恐留戀麻黃之性也。）減去大棗與生薑，恐礙杏麻升降制。（仲景發汗方中，每加薑、棗，此不用者，以生薑橫散解肌，礙麻黃之上升，大棗緩中膩膈，礙杏仁之下降故耳。其精切又如此。）要知麻桂性辛溫，仲景原為風寒制。無論傷寒與中風，衛實麻黃表虛桂。（麻黃湯治衛實，桂枝湯治表虛，在有汗無汗上分，不在風寒上分也。）後人妄用治溫暑，無怪下咽人即斃。（麻黃、桂枝二方，原為冬月即病之正傷寒而設，後人誤以之治溫暑，無怪乎下咽即斃也。）傷寒初病在太陽，頭項強痛此經系。（頭項強痛，為太陽經的證。）發熱惡寒無汗喘，脈浮而緊麻黃諦。（以上為麻黃湯的證要訣。麻黃治無汗，杏仁治喘，桂枝治惡寒，甘草和諸藥，無一味不緊切，故謂「經方」。）寸關浮弱（表虛）尺遲微（裡虛），誤汗亡陽禍不細。（若浮弱微遲之脈，誤用麻黃，必召亡陽之禍。）三氣成痹用亦靈，（風、寒、濕三氣成痹，非麻、桂溫通關節，宣發寒邪不效。虛者，同補氣血藥服。）冷風哮嗽還堪濟。（冷風哮證，由風寒客於背俞，屢止屢作，用此散寒利肺最效。病哮喘，雖服麻黃而不作汗也。）《金匱》麻黃加朮湯，濕家身體煩疼詣。（濕外盛者，陽必內郁，故煩疼也。）寒濕在表汗之宜，麻術相須功益濟。（麻黃得術，自不至於過汗；術得麻黃，並可以行表裡之濕。此治寒濕在表之正法也。）發散方中白朮加，海藏神術（湯）從此例。（發散方中加白朮，潔古謂之「開鬼門」。王海藏仿此意而制神朮散，以代麻、桂，自云神妙。）安道辨論頗精明，（王安道著《醫經溯洄集》，辨傷寒溫熱甚悉。）《活人》加減休拘泥。（朱肱《類證活人書》載夏至後用麻黃湯，須加知母、石膏、黃芩，後學多宗其說，亦見之不明，可見暑濕何可更用麻黃。）此乃傷寒第一方，讀書勿被書瞞蔽。（旭高按：麻黃湯或謂專治傷寒，或謂通治雜病，只緣未識正旨也。若知明為寒傷營之主劑，非惟溫暑不取用，即邪淺在衛，亦何至於誤用。而凡寒邪在營者，何不以通用也。）</p>

<h3>麻黃杏仁甘草石膏湯</h3>
<p>治太陽溫病，無汗而喘，大熱大渴。</p>
<p>麻黃（四兩去節）　杏仁（五十個去皮尖）　甘草（二兩炙）　石膏（半斤打碎綿裹）　以水七升，先煮麻黃減二升，去上沫，納諸藥，煮取二升，去滓，溫服一升。</p>

<h3>麻黃杏仁薏苡甘草湯</h3>
<p>治風濕一身盡疼，發熱，日晡所劇者。</p>
<p>麻黃（半兩去節）　杏仁（十個去皮尖）　薏苡仁（半兩）　甘草（一兩炙）　銼麻豆大，每服四錢匕，水一盞半，煎八分，去滓，溫服。有微汗，宜避風。（此方分兩甚輕，疑類唐人校訂《金匱》，加減仲景之方，非原方也。不然，漢時四錢匕，以今秤計之，只得八九分，而欲以治發熱身疼之證，有杯水車薪之誚矣。）</p>
<p>麻杏甘草石膏湯，泄肺存陰定熱喘。（麻黃湯，治寒喘也；此去桂枝而重用石膏，治熱喘也。）無汗汗出休拘泥，（按：《傷寒論》原文本作「汗出而喘，無大熱者」，柯韻伯《傷寒來蘇集》改作「無汗而喘，大熱者」，頗屬理正辭明。蓋汗出何可更用麻黃，無大熱何可更用石膏，其說良是。然以余閱歷，喘病肺氣內閉者，往往反自汗出。外無大熱，非無熱也，熱在裡也，必有煩渴、舌紅見證。用麻黃是開達肺氣，不是發汗之謂。重用石膏，急清肺熱以存陰，熱清喘定，汗即不出而陽亦不亡矣。且病喘者，雖服麻黃而不作汗，古有明訓，則麻黃乃治喘之要藥，寒則佐桂枝以溫之，熱則加石膏以清之，正不必執有汗無汗也。）暴病多從實證看。（此要訣也。不獨喘病，百病皆然。）雖未明言治溫病，此湯清散頗相安。（太陽病發熱而渴，不惡寒者為溫病。仲景雖未出方治，而此湯清散，正是治溫之法也。）除去石膏加薏苡，（名麻黃杏仁薏苡甘草湯）發熱身疼風濕搏。此與麻黃加朮法，大同小異別風寒。（麻黃加朮湯治寒濕，麻黃杏仁薏苡甘草湯治風濕。）</p>

<h3>越脾湯</h3>
<p>治風水惡風，一身悉腫，面目腫，大有熱色，發熱無汗，脈洪浮而渴，續自汗出，無大熱者。</p>
<p>麻黃（六兩去節）　石膏（半斤打）　甘草（炙）　生薑（各二兩）　大棗（十二枚）　以水六升，先煮麻黃，去上沫，納諸藥，煮取三升，分溫三服。</p>

<h3>越脾加朮湯</h3>
<p>治里水一身面目黃腫，脈沉，小便自利而渴者；並治風寒客於脈而不去，營氣熱腐而肉極熱，則身體津脫，腠理開，汗大泄，癘風氣，下焦腳弱。</p>
<p>越脾湯原方加白朮四兩。</p>

<h3>越脾加半夏湯</h3>
<p>治肺脹咳喘脈浮大者。越脾湯原方棗加三枚，姜加一兩，加半夏半升。</p>
<p>越脾湯越脾中氣，發汗生津涼散委。（越脾者，發越脾中之津氣而為汗，是涼散法也。）麻石甘草棗生薑，《金匱》以之治風水。惡風身腫脈洪浮，面赤熱渴乃堪使。（旭高按：《金匱》此條頗有舛錯，今方下主治，是旭高從《水氣門》校正刪改者。肺主皮膚，脾胃主肌肉，是風水者，乃肺、脾、胃三經受風熱之陽邪，痹其營衛之氣，升降不得自如，斯水飲入胃，不能輸脾歸肺，下達膀胱，而反外溢肌膚，故一身悉腫。其證惡風發熱，脈洪浮而渴，故知為風熱，亦嘗驗之矣。然必兼有無汗而喘見象，與此湯一服，亦未必汗出，其水反從小便去，真匪夷所思者。）里水黃腫其脈沉，便利亡津加朮餌。（名越脾加朮湯　旭高按：水在裡，當不渴，渴則可徵水去。今渴而黃腫不去，是水未去也。水未去，何以渴？小便自利，亡津液故也。蓋脾氣實者，小便利則水去；脾氣虛者，小便利則亡津，亡津令渴。病雖始於里水，其實里已無水，水只在皮膚中，故亦用越脾，使從表解。但加白朮一味，補脾氣生津液，以固其里，則意無不到矣。）營氣熱腐為癘風，俗號「大麻瘋」即是。清疏營衛最相宜，加朮緣其腳弱爾。（按：癘風因風客久而化熱，營氣被其煽灼，血肉腐壞，故使鼻柱壞而色敗，皮膚瘍潰，即俗所謂「大麻瘋」是也。喻嘉言有見及此，故曰「汗宜頻發，血宜頻刺」，但未有其方。旭高觀此湯清疏營衛，與嘉言之說合符。石膏清熱生津液，麻黃疏風通血脈，甘草解熱毒，薑、棗和營衛，若不腳弱，則白朮亦可不加。後人遇此證，絕不知用此湯，何也？）溫邪挾飲填肺中，為脹為喘加半治。散邪清熱越脾佳，蠲飲消痰半姜美。（名越脾加半夏湯　肺脹咳喘，為外邪內飲相搏之證。越脾湯散邪清熱之功多，蠲飲消痰之力少，故加半夏輔其未逮，更加姜一兩以助半夏之功，周密之至矣。）此與青龍加石膏，佐使寒溫相對峙。（此與小青龍加石膏湯相為對峙。小青龍湯中有半夏無石膏，越脾湯中有石膏無半夏，觀二方所加之意，全重在石膏、半夏二物協力建功。石膏清熱，借辛溫亦能豁痰，半夏豁痰，借辛涼亦能清熱。前越脾加朮湯生津止渴，借白朮入清熱藥中；此越脾加半夏湯下氣定喘，又借半夏入清熱藥中。仲景加減成方，無非化裁後學矣。）又與越脾加朮湯，下氣生津分彼此。千古醫方仰仲師，一加一減皆精義。</p>

<h3>大青龍湯</h3>
<p>治太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁，無少陰證者。若脈微弱，汗出惡風者，不可服，服之則厥逆筋惕肉瞤，此為逆也。</p>
<p>麻黃（六兩去節）　桂枝（去皮）　甘草（各二兩炙）　杏仁（四十枚去皮尖）　生薑（三兩切）　大棗（十二枚）　石膏（雞子大一塊打）　以水九升，先煮麻黃減二升，去沫，納諸藥，煮取三升，去滓，溫服一升。取微似汗。汗出多者，溫粉撲之。一服汗者，停後服。汗多亡陽，遂虛，惡風、煩躁、不得眠也。</p>
<p>大青龍湯桂麻黃，杏草石膏薑棗藏。發熱惡寒太陽病，無汗煩躁力能攘。（「發熱惡寒無汗煩躁」八字，是大青龍著眼。）一服汗出停後服，汗多溫粉撲之良。（仲景溫粉方失，成無己《傷寒明理論》用白芷、藁本、白朮、川芎、米粉撲之。）寒之淺者僅傷衛，風而甚者營亦傷。中風衛實因煩躁，清火發汗此方強。（按：風傷衛，寒傷營，中風脈浮緩，傷寒脈浮緊，是大法也。此大青龍脈證俱屬傷寒，而去中風者，全在煩躁上看出。若寒邪，則但嘔逆，惟風為陽邪，乃煩躁耳。然既屬中風，而得傷寒之脈證，又何也？</p>
<p>蓋風寒中傷，各有淺深，又各隨其人之體氣虛實而為病。是以寒之淺者，僅傷於衛，風而甚者，並及於營；衛之實者，風亦難泄，衛而虛者，寒猶不固。正是互文見意處。此湯治中風衛實之法，乃清火發汗之重劑也。）證較麻黃為尤重，預保陽明聖法彰。（柯韻伯《傷寒來蘇集》曰：「此麻黃證之劇者，故於麻黃湯倍麻黃以發汗，加石膏以除煩。」「諸證全是麻黃，而有喘與煩躁之別：喘是寒鬱其氣，升降不得自如，故多用杏仁之苦以降氣；煩躁是熱傷其氣，無津不能作汗，故特加石膏之甘以生津。」「用石膏以清胃火，是仲景於太陽經中，預保陽明之先著。加薑、棗以培中氣，又慮夫轉屬太陰。」「一汗而表裡雙解，風熱兩除，此大青龍清內攘外之功，所以佐麻、桂二方之不及也。」）少陰煩躁脈微弱，惡風汗出不相當。（少陰亦有煩躁證，以脈微弱，汗出惡風為辨，不可服此。仲景立此方，即垂此戒，叮嚀之意深矣。）熱因寒用方堪救，誤服青龍陽必亡。（少陰煩躁，當熱因寒用，如四逆湯加豬膽之例，方可救其萬一。若誤服青龍，必召亡陽之禍，慎之。）</p>

<h3>小青龍湯</h3>
<p>治傷寒表不解，心下有水氣，咳而微喘，乾嘔，發熱不渴，或渴或利，或小便不利，少腹滿者；並治溢飲，身體重痛，肌膚悉腫。麻黃（去節）　芍藥　細辛　乾薑　甘草　桂枝（各三兩）　半夏　五味子（各半升）　水一斗，先煮麻黃減二升，去沫，納諸藥，煮取三升，去滓，溫服一升。（此方有加減法，另詳余所著《古方餘論》中。</p>

<h3>小青龍加石膏湯</h3>
<p>治肺脹咳而上氣，煩躁而喘，脈浮者，心下有水氣也。</p>
<p>小青龍湯原方加石膏二兩。煮法同。強人服一升，虛人減之。</p>
<p>小青龍湯治水氣，喘咳不渴嘔利慰。（凡水停心下之證，多喘咳而不渴，此要訣也。其餘下利與小便不利，或然或不然也。）薑桂麻黃芍藥甘，細辛半夏兼五味，備舉辛溫散水寒，兼用酸苦以安肺。（此方專治水氣。蓋汗為水類，肺為水源，邪汗未盡，必停於肺胃之間。</p>
<p>病屬有形，非一味發散所能除，故備舉辛溫以散水，兼用酸苦以安肺，於麻、桂二湯內，不但留白芍之酸收，拘其發散之猛，再復五味、乾薑攝太陽之氣，監製其逆，細辛、半夏溫散水寒，從陰出陽，庶幾水從汗解而不傷陰，此發汗散水之聖方也。）溢飲水腫服之奇，發汗散水此所謂。（溢飲者，水腫也。水飲外溢於肌膚，旁流於四肢，故一身悉腫。然亦必有喘咳見證，用此發汗散水，其效乃奇。）肺脹煩躁加石膏，寒溫並進斯為貴。（肺脹咳喘，多因水飲，而煩躁則挾熱邪，故於小青龍湯加石膏，寒溫並進，水熱俱蠲，於法尤為密矣。）</p>

<h3>甘草麻黃湯</h3>
<p>治里水脈沉，面目黃腫，小便不利。</p>
<p>甘草（二兩炙）　麻黃（四兩）　水五升，先煮麻黃，去上沫，納甘草，煮取三升，溫服一升。慎風寒。</p>

<h3>麻黃附子湯</h3>
<p>治里水脈沉小者，屬少陰也。</p>
<p>麻黃（三兩去節）　甘草（二兩炙）　附子（一枚炮）　水七升，先煮麻黃一二沸，去上沫，納諸藥，煮取三升，去滓，溫服一升，日三服。</p>
<p>甘草麻黃（湯）治里水，水從汗解斯方美。（《金匱要略·水氣病篇》云：「水病發其汗即已。」）脈沉小者屬少陰，溫固必須加附子。（名麻黃附子湯）麻得甘草緩中焦，汗不傷陰厥有旨。（王晉三《古方選注》曰：「甘草緩麻黃於中焦，取水穀之津為汗，則內不傷陰，邪從表散。」深得厥旨。）水之為病殊多端，表裡陰陽非一致。腰以上腫當發汗，腰以下腫當分利。單單腹脹最難醫，青筋突起無生理。（旭高按：前一方用甘草，內助土氣，後一方用熟附，溫固腎液，而外散水氣，則皆君以麻黃。蓋麻黃氣味輕清，無微不入，故能透出肌膚毛孔之外，又能深入積痰凝血之中，凡藥力所不到之處，惟此能達之，故不特在表之風水可用，而在裡在腎之水，咸可用之也。《金匱要略·水氣病篇》云：「水病發其汗即已。」而發汗之法，又各有淺深不同如此，可謂簡而該矣。然又云：「諸有水者，腰以下腫，當利小便，腰以上腫，當發汗乃愈。」可見水病利小便一法，原不可缺，但以腰上半為陽，及一身悉腫者為表，當發汗耳。若單腹脹青筋突起，為土敗木賊之候，難治。）</p>

<h3>麻黃附子細辛湯</h3>
<p>治少陰病始得之，無汗惡寒，頭不痛，但欲寐，反發熱脈沉者。</p>
<p>麻黃（去節）　細辛（各二兩）　附子（一枚炮）　以水一斗，先煮麻黃減二升，去上沫，納諸藥，煮取三升，去滓，溫服一升，日三服。麻黃附子細辛湯，發表溫經兩法彰。無汗惡寒（與太陽同）頭不痛，脈沉欲寐（俱少陰證）少陰殃。若無發熱當溫補，（用附子湯）反熱邪猶連太陽。故用麻辛兼發表，溫經熟附恐亡陽。（少陰主裡，應無表證，今始受風寒，即便發熱，則邪猶連太陽，未盡入陰，猶可引之外達，故用細辛引麻黃入於少陰，以提始入之邪，仍從太陽而解。然恐腎中真陽隨汗外亡，必用熟附溫經固腎，庶無過汗亡陽之慮。此少陰表病無里證者發汗之法也。）</p>

<h3>麻黃連翹赤小豆湯</h3>
<p>治傷寒瘀熱在裡，但頭汗出，小便不利，身發黃者。</p>
<p>麻黃（去節）　連翹（各二兩）　赤小豆　生梓白皮（各一升）　杏仁（四十枚）　甘草　生薑（各二兩）　大棗（十二枚）　以潦水一斗，先煮麻黃再沸，去沫，納諸藥，煮取三升，去滓，分溫三服。（降注雨水，謂之潦水，取其味薄，不助濕熱也。）</p>
<p>麻黃連翹赤小豆（湯），杏仁甘草梓皮湊，煮以潦水加薑棗，瘀熱身黃功克奏。泄濕從陰出太陽，（此表裡分解法。或太陽之熱，或陽明之熱，內合太陰之濕，乃成瘀熱發黃，病雖從外之內，而黏著之邪，當從陰以出陽也。杏仁、赤小豆泄肉裡濕熱，生薑、梓白皮泄肌表濕熱，仍以甘草、大棗奠安太陰之氣，麻黃使濕熱從汗而出太陽，連翹導濕熱從小便而出太陽，潦水助藥力從陰出陽。經云：「濕上甚為熱。」若濕下行則熱解，熱解則黃退也。）黃從汗解無留垢。緣其有表此方施，若無表證茵陳究。（本方使黃從汗解，茵陳蒿湯使黃從下解，乃有表無表之分也。）</p>

<h3>麻黃升麻湯</h3>
<p>治傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，唾膿血。泄利不止者，為難治也。麻黃（二兩半）　升麻　當歸（各一兩一分）　知母　黃芩　葳蕤（各十八銖）　白朮　石膏　乾薑　芍藥　天冬　桂枝　茯苓　甘草（各六銖）　水一斗，先煮麻黃，去沫，納諸藥，煮取三升，分溫三服。</p>
<p>麻黃升麻湯桂枝，芍草苓冬薑朮知，玉竹黃芩歸與石，辛溫寒潤互兼施。厥陰錯雜邪難解，陰中升陽用此宜。（此方升散寒潤，收緩滲泄具備，推其所重，在陰中升陽，故麻黃、升麻名湯也。膏、芩、知母苦辛清降上焦之津，芍藥、天冬酸苦收引下焦之液，苓、草甘淡，歸、術甘溫，玉竹甘寒，緩脾胃以致津液。獨是十味之藥，雖有生津泄熱之功，不能提出陰分熱邪，故以麻、桂、升、姜，開入陰分，與寒涼藥從化其熱，庶幾在上之燥氣除，在下之陰氣堅，而厥陰錯雜之邪可解。）吐血咽疼肢厥逆，泄利不止頗難醫。此乃傷寒之壞病，下寒上熱涉危疑。（此乃傷寒之壞病，寒熱互見，上下兩傷，故藥亦照證施治。病證之雜，藥味之雜，古方所僅見，觀此可悟古人用藥又有此一格。）</p>

<h3>厚朴麻黃湯</h3>
<p>治咳而脈浮者。</p>
<p>厚朴（五兩）　麻黃（四兩去節）　石膏（雞子大一塊）　杏仁（去皮尖）　半夏　五味子（各半升）　細辛　乾薑（各二兩）　小麥（一升）　水一斗二升，先煮小麥熟，去滓，納諸藥，煮取三升，溫服一升，日三服。</p>
<p>厚朴麻黃湯石膏，細辛杏半味姜邀，還加小麥宜先煮，下氣祛邪止咳標。小麥甘平緩心氣，用醫心咳法殊超。咳而心痛為心咳，仿此臨時加減調。（《金匱》此方，不詳見證，而但云「脈浮」。浮為邪氣居表，固宜驅之外散，然觀其藥品，泄熱下氣、散邪固本之功皆備，或者為外邪鼓動下焦之水氣，故方即從大、小青龍變法歟。余嘗以此湯加減，治心咳頗有效，並附及之。</p>

<h3>〔附〕心咳湯</h3>
<p>（旭高新制）　治心咳，咳則心痛，喉中介介如梗狀，甚則咽腫喉痹。</p>
<p>北沙參（三錢）　石膏（三錢同薄荷頭研）　牛蒡子（錢半）　杏仁（三錢去皮尖）　桔梗（五分）　甘草（五分）　麥冬（三錢去心）　半夏（一錢）　茯神（三錢）　遠志（五分）　小麥（五錢）　水三盞，先煮小麥減一盞，納諸藥，煎至一盞服。（痰多加川貝母，咽喉腫痛去半夏，汗多加五味子。）</p>
<p>心咳湯用北沙參，牛蒡甘桔石杏仁，茯神遠志麥冬夏，小麥煎醫心咳珍。（按：五臟六腑皆令人咳，究不離乎肺經。此心咳一證，雖屬心火上逆，以余驗之，其始多由外感。夫外感溫邪，必先肺衛而及心營，觀經文「咳則心痛」句，義可推矣。逮至咳嗆不已，震動心胞之火，勢必上逆，而為咽腫喉痹。前人謂生脈散加茯神、遠志，能治心咳，遵用不甚見效，余因參入開泄肺經之藥，重用小麥煎湯代水，治之乃驗。蓋小麥甘平，為心之谷，緩心寧氣，大有殊功，即從厚朴麻黃湯意化出，故附於此，以就正於當世。）</p>

<h3>射干麻黃湯</h3>
<p>治咳而上氣，喉中如水雞聲者。</p>
<p>射干　細辛　紫菀　款冬花（各三兩）　半夏　五味子（各半升）　麻黃　生薑（各四兩）　大棗（七枚）　水一斗二升，先煮麻黃兩沸，去沫，納諸藥，煮取三升，分溫三服。</p>
<p>射干麻黃湯細辛，紫菀款冬味夏朋，薑棗同煎療肺冷，咳而上氣水雞聲。酸收苦泄兼辛散，肺氣宣通痰自平。（此治形寒飲冷傷肺之要方也。喉中水雞聲者，痰氣出入而嗘咯也。由肺中冷，陽氣不能宣其液，鬱於肺而生聲，乃復用《本經》主治咳逆上氣之品，大泄陰液，宣通肺氣。射干、紫菀，以苦泄之也，麻、辛、款、夏、生薑，以辛瀉之也，五味子酸以收其正氣，大棗甘以緩其下行，則射干、細辛、五味之性，從麻黃外達肺經，內通肺臟，泄肺之苦，遂肺之欲，補肺之正，溫肺之陽，俾氣道平而肺得陽和之致，自無嗘咯之聲矣。）</p>

<h3>《古今錄驗》續命湯</h3>
<p>治中風痱身體不能自收持，口不能言，冒昧不知痛處，或拘急不得轉側；並治咳逆上氣，但伏不得臥，面目浮腫者。</p>
<p>麻黃　桂枝　石膏　甘草　乾薑　人參　當歸（各三兩）　川芎（一兩五錢）　杏仁（四十枚）　以水一斗，煮取四升，溫服一升。當小汗。薄復脊，憑几坐，（坐則升發陽氣，足以敵邪外散。）汗出則愈。不汗，更服無所禁，勿當風。（此亦唐人校訂《金匱》附方，非仲景方也。然其方頗合仲景之旨，故選之。）</p>
<p>《錄驗》續命（湯）麻桂姜，芎歸杏草石參勷。中風拘急（風邪入絡）成風痱，（「痱」，廢而不用也。）今古相傳此法良。（方名「續命」者，有卻病延年之功也。）風入絡中痰火壅，驅風自必佐清涼，兼調氣血扶其正，絡痹通而拘急康。（風入經絡，則內風與外風相煽，以致痰火一時壅塞。惟宜先驅其風，繼清痰火，而後調其氣血，則經脈可以漸通。此方即從大青龍加減，借川芎佐桂枝以治風痹，乾薑佐麻黃治寒痹，杏仁佐石膏治熱痹，更用人參補氣，當歸活血，甘草和諸藥。蓋邪風中人身痱，必由表虛，絡脈弛縱，必由裡熱，故氣宜固，血宜活，風寒宜散，絡脈宜涼，自當內外施治，以辟邪風，非處方之冗雜也。）證既屬風風藥主，因人加減法當商，誤投溫補將邪斂，輕則偏枯重必亡。（凡古人定病之名，必指其實，既曰「中風」，則其病屬風可知。既為風病，則主病之方，必以治風為本；其中或有陰虛、陽虛、感熱、感寒之別，則於治風方中，隨所現之證加減之。即使正氣內虛，亦宜於驅風藥中少加扶正之品，以助驅邪之力，從未有純用溫補者。今人一遇此證，即用參、地、桂、附等溫補，將風火痰涎盡行補住，輕者變重，重者必死。或有元氣未傷，而感邪淺者，亦必遷延時日，以成偏枯永廢之人。此非溫補誤之耶！）續命（湯）中風之祖劑，若無絕證用皆臧。口開眼合兩手撒，直視搖頭面赤妝，遺溺汗淋俱絕證，陰陽離決命難長。（續命為中風之祖方，苟非中臟之絕證，皆可治之。惟口開眼合，手撒鼻鼾，遺尿吐沫，直視搖頭，面赤如妝，汗出如珠，此為絕證，則難挽救耳。）</p>

<h3>〔附〕小續命湯</h3>
<p>（孫思邈《千金要方》）　治中風喎斜不遂，語言謇澀，及剛柔二痙，厥陰風泄。此六經中風之通劑。</p>
<p>防風（一兩半）　生薑（五兩）　桂心　麻黃　杏仁　川芎　白芍　人參　甘草　黃芩　防己（各一兩）　附子（一枚）　水一斗二升，先煮麻黃三沸，去沫，納諸藥，煮取三升，分三服。（筋急語遲，脈弦，倍人參，加薏苡、當歸，去白芍。煩躁不大便，去桂、附，倍芍藥，加竹瀝。</p>
<p>身痛發搐，加羌活。日久不大便，胸中不快，加大黃、枳殼。口渴，加麥冬、花粉。臟寒下利，去防己、黃芩，倍附子，加白朮。汗多，去麻黃，加朮。嘔逆，加半夏。語言謇澀，手足戰掉，加菖蒲、竹瀝。煩渴多驚，加犀角、羚羊角。舌燥，去桂、附，加石膏。）</p>
<p>小續命湯桂附芎，麻黃參芍杏防風，黃芩防己兼甘草，六經風中此方通。（麻黃、杏仁，麻黃湯也，治寒。桂枝、芍藥，桂枝湯也，治風。參、草補氣，芎、芍養血，生薑散寒，防風治風淫，防己治濕淫，附子治寒淫，黃芩治熱淫，故為治中風之通劑。劉宗厚《玉機微義》曰：「此方無分經絡，不辨寒熱虛實，雖多亦奚以為。」汪訒庵《醫方集解》曰：「此方今人罕用，然古今風方，多從此方損益為治。」旭高按：此方即從《古今錄驗》續命湯加減。蓋病來雜擾，故藥亦兼該也。）</p>

<h3>〔附〕定喘湯</h3>
<p>（張時徹《攝生眾妙方》）　治肺虛感寒，氣逆膈熱而作哮喘。</p>
<p>麻黃　半夏　款冬花　桑白皮（各三錢蜜炙）　蘇子（二錢）　杏仁　黃芩（各一錢五分）　甘草（一錢）　白果（二十一枚炒黃）　加姜煎。</p>
<p>定喘（湯）白果與麻黃，款冬半夏白皮桑，蘇杏黃芩兼甘草，肺寒膈熱喘哮嘗。（此定喘之主方也。凡病哮喘，多由寒束於表，陽氣並於膈中，不得泄越，故膈間必有痰熱膠固，斯氣逆聲粗而喘作矣。治之之法，表寒宜散，膈熱宜清，氣宜降，痰宜消，肺宜潤，此方最為合度。白果收澀，二十一枚恐太多，宜減之。）</p>

<h3>〔附〕九味羌活湯</h3>
<p>（張元素方）　治傷寒傷風，憎寒壯熱，無汗，頭項腰脊強痛，嘔吐口渴，及感冒四時不正之氣，溫病熱病。此解表之通劑。</p>
<p>羌活　防風　蒼朮（各錢半）　細辛（五分）　川芎　白芷　生地　黃芩　甘草（各一錢）　加生薑、蔥白煎。（自汗，去蒼朮，加白朮。胸滿，去生地，加枳殼、桔梗。喘，加杏仁。夏月，加石膏、知母。汗下兼行，加大黃。藥備六經，治通四時，用者當隨證加減，不可執一。）</p>
<p>九味羌活（湯）張元素，辛防蒼芷蔥姜互。（羌活入足太陽理遊風，細辛入足少陰散伏寒，蒼朮入足太陰去濕，白芷入足陽明散風，防風、蔥、姜通發周身之汗）。益以芩草監辛溫，（諸藥氣味辛溫，恐其僭亢，故用黃芩苦寒以監製之，甘草以調和之。）地芎入血調營故。（生地、川芎引諸藥入血祛邪，即藉以調營。徐靈胎嫌生地寒滯，易以當歸。甚是，宜遵之。）三陽解表通用靈，四時感冒兼能顧。此方原以代麻黃，氣弱陰虛人禁哺。（汪訒庵《醫方集解》引張元素曰：「有汗不得用麻黃，無汗不得用桂枝，若差服，則其變不可言，故立此方，使不犯三陽禁忌，為解表效方。冬可治寒，夏可治熱，春可治溫，秋可治濕，是諸路之應兵，代麻黃等湯，誠為穩當，但陰虛氣弱之人在所禁耳。」）</p>

<h3>〔附〕大羌活湯</h3>
<p>（張元素方）　治兩感傷寒。</p>
<p>羌活　獨活　防風　細辛　防己　黃芩　黃連　蒼朮　白朮　甘草（各三錢）　知母　川芎　生地（各一兩）　每服五錢，水煎熱飲。</p>
<p>大羌活湯即九味，己獨知連白朮暨。（即九味羌活湯去白芷，加上藥。）散熱培陰表裡和，（羌、獨、蒼、防、細辛發表散邪，芩、連、防己、知母、芎、地清裡培陰，白朮、甘草以固中州而和表裡。）傷寒兩感差堪慰。（兩感傷寒者，一日太陽與少陰俱病，則頭痛口乾而煩滿；二日陽明與太陰俱病，則腹滿身熱，不欲食，譫語；三日少陽與厥陰俱病，則耳聾囊縮而厥，水漿不入，不知人，六日死，蓋以表裡陰陽俱病，故必死也。吳鶴皋《醫方考》曰：「易老意謂：證雖有表裡之殊，而無陰陽之異，傳經者皆為陽邪，一於升陽散熱、滋陰養臟，則感之淺者，尚或可平也。」按錢禎曰：「兩感者，本表裡之同病，似若皆以外感為言，而實有未必盡然者，正以內外俱傷，便是兩感。今見有少陰先潰於內，而太陽繼之於外者，即縱情肆欲之兩感也；太陰受傷於裡，而陽明重感於表者，即勞倦竭力、飲食不調之兩感也；厥陰氣逆於臟，而少陽復病於腑者，即七情不慎、疲筋敗血之兩感也。」此言最切此病，誠發前人所未發。或謂兩感不多見者，蓋亦見之不明耳。其治法亦在乎知其由而救其本也。）</p>

<h3>〔附〕神朮散</h3>
<p>（王好古《陰證略例》　治外感寒邪，內傷生冷，發熱而無汗者，此代麻黃湯；並治脾泄腸風。</p>
<p>蒼朮（二兩制）　防風（二兩）　甘草（一兩炙）　生薑、蔥白，水煎服。（如前證有汗者，去蒼朮、蔥白，加白朮二兩，名白朮湯，代桂枝湯。按：二術主治略同，特有止汗、發汗之異耳。）</p>

<h3>〔附〕神朮散</h3>
<p>（《太平惠民和劑局方》）　治傷風頭痛，無汗鼻塞，及風寒咳嗽，時行泄瀉。</p>
<p>蒼朮（五兩）　川芎　白芷　羌活　藁本　細辛　炙草（各一兩）　每服四錢，加蔥、姜煎。（又有太無神朮散、叔微神朮散，俱編入《平胃散類》。鎮按：今缺《平胃散類》。）</p>
<p>海藏神術（散）蒼草防，蔥姜發汗代麻黃，除卻蒼蔥加白朮，太陽有汗此為良。（喻嘉言《醫門法律》曰：「此王海藏得意之方，蓋不欲無識者輕以麻黃、桂枝之熱傷人也。」汪訒庵《醫方集解》曰：「按神術、白朮二湯，乃海藏所制，以代桂枝、麻黃二湯也。」然此是太陰之劑，可以理脾胃之風濕，而不可治太陽之風寒，《素問·陰陽應象大論》所謂「春傷於風，夏生飧泄者」宜之。若所謂「冬傷於寒，春必病溫」者，則非所宜也。今人恐麻、桂峻猛，得此平和之劑，恃為穩當。不知營衛不和，非調和脾胃者所可代；胃家之實者，非補虛之品所能投；肝膽之相火往來，少陰之水火相射者，不得以燥劑該攝也。用方者審諸。）《局方》神術（散）蒼羌芷，芎辛藁草與蔥姜，各走一經祛風濕，（太陰蒼朮，少陰細辛，厥陰、少陽川芎，太陽羌活、藁本，陽明白芷，各走一經，祛風發汗而勝濕。加薑、蔥者，助其散；用甘草者，緩其中也。）風寒泄瀉總堪嘗。（風藥升清，故兼能治泄瀉。）</p>

<h3>〔附〕神白散</h3>
<p>（《衛生家寶》）　治一切風寒初起，皆可服。</p>
<p>白芷（一兩）　甘草（五錢）　淡豉（五十粒）　姜（三片）　蔥白（三寸）　水煎。</p>

<h3>〔附〕蔥豉湯</h3>
<p>（葛洪《肘後備急方》）治傷寒初覺頭疼身熱，脈洪，便當服此。</p>
<p>蔥白（一握）　豉（一升）　水煎服。</p>
<p>神白（散）芷甘薑蔥豉，一切風寒皆可施。《肘後》單煎蔥白豉，（名蔥豉湯）用代麻黃功不慚。（蔥通陽發汗，豉升散發汗，邪初在表，宜先服此，以解散之，可代麻黃之用。《衛生家寶》加入白芷、甘草、生薑，其功尤捷，勿以平淡忽之。）</p>

<h3>〔附〕麻黃人參芍藥湯</h3>
<p>（李東垣《脾胃論》）　治虛人傷寒。</p>
<p>麻黃　白芍　黃耆　炙甘草（各一錢）　人參　麥冬（各三分）　當歸　桂枝（各五分）五味子（二粒）　水煎服。</p>
<p>麻黃人參芍藥湯，桂枝五味麥冬襄，歸耆甘草汗兼補，虛人外感服之康。（東垣治一貧士，內蘊虛熱，外感大寒而吐血，法仲景麻黃湯加補劑，制此方一服而愈。原解曰：「麻黃散外寒，桂枝補表虛，黃耆實表益衛，人參益氣固里，麥冬、五味保肺氣，甘草補脾，芍藥安太陰，當歸和血。」後人用治虛人感冒頗效。若吐血、衄血，麻、桂究在所忌，勿因東垣之偶效，而遂信之以誤施也。）</p>

<h3>〔附〕再造散</h3>
<p>（陶節庵《傷寒六書》）　治陽虛傷寒，不能作汗。</p>
<p>人參　黃耆　甘草　桂枝（各一錢）　附子（炮五分）　羌活　防風　川芎（各八分）　細辛（五分）　煨姜（五片）　棗（二枚）　加炒白芍一撮。（夏加黃芩、石膏，冬月不必加。）</p>
<p>再造散用參耆甘，桂附姜防芎芍參，細辛加棗煨姜煮，陽虛無汗法當諳。（陶節庵《傷寒六書》曰：「頭痛發熱，惡寒無汗，用發汗藥二三劑汗不出者，庸醫不識此證，不論時令，遂以麻黃重劑劫取其汗，誤人死者多矣。殊不知陽虛不能作汗，故有此證，名無陽證。」因立此湯。以參、耆、甘、薑、桂、附，大補其陽氣。佐芎、羌、防、辛，散寒發表。加芍藥者，陽中斂陰，散中有收也。又云：「人第知參、耆能止汗，而不知其能發汗，以在表藥隊中，則助表藥而解散也。」此是節庵明見處。）</p>

<h3>〔附〕麻桂飲</h3>
<p>（張介賓《新方八陣》）　治傷寒陰暑，邪不能散。此麻、桂二湯之變方也。</p>
<p>官桂（一二錢）　麻黃（二三錢）　當歸（三四錢）　甘草（一錢）　陳皮（隨宜用或不用亦可）　生薑（五七片或十片）　水一鍾半，煎八分，去浮沫，不拘時服。若元氣大虛，陰邪難解者，當以大溫中飲更迭為用。</p>
<p>〔附〕大溫中飲（張介賓《新方八陣》）　治陽虛傷寒；並一切四時勞倦寒疫之證，身雖發熱，時猶畏寒，即在夏月，亦欲衣被覆蓋，或喜熱湯，或兼嘔泄，但六脈無力者。此為元陽大虛，正不勝邪之候，所謂「溫中自可散寒」，即此方也。</p>
<p>熟地（三五七錢）　人參（二五七錢甚者一兩或不用亦可）　肉桂（一二錢）　白朮（三五錢）　當歸（三五錢如泄瀉者不宜用或以山藥代之）　柴胡（二三四錢）　麻黃（一二三錢）　炙草（一錢）</p>
<p>乾薑（炒熟一二錢或用煨生薑三五七片亦可）　水二鍾，煎七分，去浮沫，溫服，或略蓋取微汗。（如氣虛甚，加黃耆二三錢。如寒甚陽虛者，加附子一二錢。按：方中柴胡、熟地，與溫中之義不符，嘔惡泄瀉者，非所宜也，必與附子同用，庶乎不寒不滯。）</p>
<p>麻桂飲中歸草陳，加姜煎服汗津津。（但取津津微汗透出為度）傷寒陰暑邪難散，用此醫之效甚佳。（旭高按：此亦麻、桂二湯之變方，較海藏神朮散尤為得旨。當歸、陳皮入發汗藥中，是調血而理氣。蓋汗由血化，亦必氣機通達，而後能透出。凡患傷寒體氣稍虛者，當引用之。）大溫中飲再加朮，人參熟地柴胡倫。（大溫中飲即麻桂飲加參、柴、地、術。）脈細畏寒陰氣勝，陽虛溫托始回春。（凡陽虛陰勝，非用溫中托邪，則寒凝日深，必致不救。）</p>

<h2>桂枝湯類</h2>

<h3>桂枝湯</h3>
<p>治中風傷寒，太陽病頭項強痛，發熱惡風惡寒，鼻鳴乾嘔，脈浮弱，汗自出者；雜病自汗盜汗，虛瘧虛痢，皆可治之。若脈浮緊而無汗者，不可用；酒客及亡血家，雖病風寒而汗出者，亦忌之。</p>
<p>桂枝（去皮）　芍藥（各三兩）　甘草（二兩炙）　生薑（三兩）　大棗（十二枚擘）　水七升，微火煮取三升，去滓，溫服一升。服已須臾，啜熱稀粥以助藥力。</p>
<p>桂枝湯方是解肌，（《傷寒論·太陽篇》云「桂枝本為解肌」，明非發汗也。）芍藥甘草薑棗維。啜粥漬形充胃氣，（桂枝本不能發汗，故須助以熱粥，充胃氣以達於肺，肺主皮毛，汗所從出，是漬形為汗也。觀於此，可知傷寒不禁食矣。）調和營衛汗斯滋。（此方桂、芍相須，薑、棗相得，是調和營衛之方。營衛和則汗自出，故曰「解肌」。）中風傷寒太陽病，虛瘧（調和營衛之功）虛痢（和陽斂陰之效）悉治之。大凡發熱脈浮弱，惡寒汗出最相宜。（桂枝一味，治太陽發熱惡寒之的藥。因脈浮弱汗自出，故加白芍斂陰護營，生薑佐桂以解表，大棗佐芍以和里，更用甘草和諸藥。凡發熱惡寒，脈浮弱，汗自出者，合此證即用此湯，勿拘風寒雜證也。）若然無汗脈浮緊，（是麻黃證）酒客血家切忌施。（無汗忌酸斂，酒客忌甘，血家忌辛熱，故皆不可用。）夏月黃芩加入劑，改名陽旦湯宜知。（夏月用桂枝湯加黃芩，名陽旦湯。）</p>

<h3>桂枝加桂湯</h3>
<p>治傷寒燒針令其汗，針處被寒核起而赤者，必發奔豚，氣從少腹上衝心者。灸其核上各一壯，與此湯。桂枝湯原方桂加二兩。</p>
<p>桂枝加桂（湯）治奔豚，氣從少腹上衝心。（奔豚病象如此）太陽藥（桂枝湯乃太陽經藥也。）治少陰病，（奔豚病，少陰腎邪上逆也。）病起燒針寒氣侵。水邪實由外寒召，重散外寒便泄陰。（用太陽經藥治少陰病者，水邪上逆，實由燒針外召寒入，故仍從表治。惟加桂二兩，不特禦寒，且制腎氣。又藥味重則能達下。凡奔豚病，此方可加減用之。）</p>

<h3>桂枝加芍藥湯</h3>
<p>治太陽病下之後，因而腹滿時痛者，屬太陰也。桂枝湯原方芍藥加三兩。</p>

<h3>桂枝加大黃湯</h3>
<p>治太陽病下之後，腹中大實痛者，屬陽明也。桂枝加芍藥湯內更加大黃二兩。</p>
<p>桂枝加芍湯和里，（此用陰和陽法）升舉陽邪出太陰。病本太陽醫誤下（誤下引邪入於太陰）因而腹痛此方斟。（雖見太陰證，而太陽之證尚未罷，故仍用桂枝湯，但加芍藥三兩，監桂枝深入陰分，升舉太陽陷入太陰之邪。）大實痛者陽道實，（腹滿時痛，不過傷太陰之氣，大實痛，則邪氣結於太陰，而轉屬陽明之燥實矣。）桂枝湯內大黃臨。（名桂枝加大黃湯，此雙解表裡法也。大黃入於桂枝湯中，欲破脾實而不傷陰也。大黃非治太陰之藥，脾實腹痛，是腸中燥屎不去，顯然太陰轉屬陽明，故以薑、桂入太陰升陽，分殺太陰結滯，則大黃入脾，反有理陰之功，俾燥屎去而陽明之內道通，則太陰之經氣出注運行，而腹痛減。不因誤下而禁下，見症施治，無不盡然。凡妄下必傷胃氣。胃氣虛則陽邪襲陰，故轉屬太陰；胃氣實則兩陽相搏，故轉屬陽明。太陰則滿痛不實，陰道虛也；陽明則大實而痛，陽道實也。滿而時痛，下痢之兆；大實而痛，燥屎之徵。桂枝加芍藥，小試建中之劑；桂枝加大黃，微示調胃之方。）</p>

<h3>桂枝加附子湯</h3>
<p>治太陽病發汗太過，遂漏不止，其人惡風，小便難，四肢拘急，難以屈伸者；並治寒疝腹痛，手足冷，身疼不仁。</p>
<p>桂枝湯原方加附子一枚（炮）。</p>
<p>桂枝加附（湯）急溫經，止汗回陽即救津。（此治外亡陽而內脫液。熟附雖能補陽，終屬燥液。仲景以桂枝湯輕揚力薄，必借附子剛烈之性，直走內外，急急溫經復陽，使汗不外泄，正以救液也。）漏汗（汗出不止）仍復惡風（表邪未盡）者，溲難（津液少）肢急（陽虛液脫，而骨屬不利。）可回春。（「漏不止」與「大汗出」同，若無他變證，仍與桂枝湯。若形如瘧，是玄府反閉，故加麻黃。此玄府不閉，故加附子。若大汗出後而大煩渴，是陽陷於裡，急當滋陰，故用白虎加人參。此漏不止而小便難，四肢拘急，是陽亡於外，急當扶陽，故用桂枝加附子。仲景辨證之確、用藥之精如此。）</p>

<h3>桂枝加黃耆湯</h3>
<p>治黃汗發熱，兩脛自冷，身體疼重，汗出而渴，從腰以上有汗，腰下無汗，汗沾衣色正黃如柏汁，腰臗弛痛，如有物皮中狀，劇者不能食，身重而煩躁，小便不利，宜此主之；並治諸病黃家脈浮者。</p>
<p>桂枝湯原方加黃耆三兩。</p>
<p>桂枝加耆（湯）治黃汗，（因汗色黃，故病即名黃汗。）身熱脛冷心煩亂。（濕傷於下，故脛冷。濕上甚為熱，故身熱心煩。）腰臗弛痛（腰下無汗之故）小便難，（濕熱交混，氣機不化。）汗出但從腰上半。和其營衛以祛邪，濕鬱皮中從汗散。（此方治濕鬱皮中，陽氣內郁，而又表氣不固，故用黃耆固表氣，桂枝湯宣陽氣和營衛，令黃從汗解也。）假令諸黃其脈浮，此方亦可相參贊。（浮為在表，當從汗解。若脈沉者，又當利其小便。）黃汗沾衣色正黃，致病之由濕熱斷。歷節風水頗相同，臨證推求理自判。（黃汗與歷節相似，但歷節一身盡熱，黃汗則身熱而脛冷；又與風水相似，但風水惡風，黃汗不惡風為異。且歷節、風水，汗色不黃，為可辨也。）</p>

<h3>黃耆桂枝五物湯</h3>
<p>治血痹陰陽俱微，寸口關上微，尺中小緊，外證身體不仁，如風痹狀。</p>
<p>桂枝湯去甘草，加黃耆三兩，生薑加三兩。</p>
<p>耆桂五物（湯）治血痹，黃耆芍藥桂薑棗。脈微細緊是陽虛，臥出風吹病之旨。（《素問·五藏生成篇》曰：「臥出而風吹之，血凝於膚者為痹。」）狀若風痹身不仁，（風痹則走注疼痛，血痹則不痛，而但不仁為異，所謂「營氣虛則不仁」也。）因其脈細宜煎此。祛風固表和營衛，陽氣宣通痹自已。（旭高按：此方以桂枝湯加重生薑，佐桂枝領黃耆行陽通痹，既以祛風，且以固表，庶幾血中之風出，而血中之陽氣不與之俱去。不用甘草者，欲諸藥周衛於身，不欲留頓於中也。然《金匱·血痹虛勞篇》又別出一條云：「宜針引陽氣，令脈和緊去則愈。」蓋血中之邪，始以陽氣傷而得入，終必得陽氣通而後出；而痹之為證，血既以風入而痹於外，陽亦以血痹而止於中，故必針引陽氣，令脈和緊去乃愈，以是知血分受痹，必以宣通陽氣為首務矣。此五物湯和營之滯，助衛之行，亦針引陽氣之意。以脈陰陽俱微，故不可針而可藥，經所謂「陰陽形氣俱不足者，勿刺以針，而調以甘藥」也。）</p>

<h3>桂枝加厚朴杏仁湯</h3>
<p>治太陽病下之後，微喘者，表未解故也。</p>
<p>桂枝湯原方加厚朴二兩（炙去皮），杏仁五十枚（去皮尖）。桂枝（加）樸杏（湯）治寒喘，（麻黃湯治表寒之喘，此湯治裡寒之喘。）下氣消痰溫散攢，寒氣留中邪在表，（此因下後寒氣留中，肺氣失降，猶幸表邪未解，故只微喘，仍用桂枝湯解表，但加厚朴溫胃散寒，杏仁定喘下氣。）鼻鳴不渴始相安。（按：此方治喘，必外有頭痛鼻鳴、形寒畏冷、口無燥渴等因，始可服之。）</p>

<h3>桂枝去桂加苓朮湯</h3>
<p>治太陽病服桂枝湯或下之，仍頭項強痛，翕翕發熱，無汗，心下滿痛，小便不利。</p>
<p>桂枝湯去桂枝加茯苓、白朮各三兩。（此方宜入《五苓散類》。）</p>
<p>桂枝去桂加苓朮（湯），約陰利水行陽綴。（苓、芍約陰利水，甘、棗培土製水，薑、術行陽化水，為利中焦水氣之法。）汗下亡津水飲停，胸滿溺澀病之訣。以其無汗去桂枝，（頭痛發熱，桂枝證仍在也，而去桂枝者何也？以解肌或下，邪未能去，而津液已傷，故反無汗，則不宜更用桂枝辛溫燥液以發其汗矣。心下滿則加白朮，小便不利則加茯苓，此乃亡津液而有停飲者也。）小便通時汗斯徹。（凡表未解者，必當先解其表。此因小便不利，故專利其小便，俾小便利則邪亦從而解矣。所謂發汗利小便為治太陽兩大法門，以此夫！）</p>

<h3>桂枝加芍藥生薑人參新加湯</h3>
<p>治傷寒發汗後身疼痛，脈沉遲者。</p>
<p>桂枝湯原方芍藥、生薑各增一兩，加人參三兩。</p>
<p>桂枝新加人參湯，（曰「新加」者，申明表邪未解，無補中法，今因脈沉遲而始加，故曰「新加」。更妙在薑、芍各加一兩，不使人參有實邪之患，仍是和營衛法。仲景方一絲不亂如此。）補中益氣以和陽。（人參補中益氣，桂枝和陽解肌。）身疼（表邪未盡）脈息沉遲者，（氣虛已甚）體虛過汗始堪嘗。（邪未盡宜表，而氣虛不能勝散藥，故用人參。凡素體虛而過汗者方可用。）</p>

<h3>桂枝加葛根湯</h3>
<p>治太陽病項背強𠘧𠘧，汗出惡風者。</p>
<p>桂枝湯原方加葛根四兩（先煮）。</p>
<p>桂枝湯中加葛根，（名桂枝加葛根湯）太陽邪乍及陽明。（喻嘉言曰：「太陽而略兼陽明，則以方來之陽明為重，故加葛根。」）𠘧𠘧（音殊，引頸難伸之象。）汗出惡風者，斷入陽明是定評。（張元素曰：「桂枝湯加葛根，所以斷太陽入陽明之路，若太陽初病便服葛根，是反引邪氣入陽明也。慎之。」余義詳葛根湯。）</p>

<h3>桂枝去芍藥湯</h3>
<p>治太陽病下之後，脈促胸滿者。</p>
<p>桂枝湯原方去芍藥。</p>

<h3>桂枝去芍藥加附子湯</h3>
<p>治太陽病下之後，脈促胸滿而微惡寒者。</p>
<p>桂枝湯去芍藥，加附子一枚（炮）。</p>
<p>桂枝去芍湯和陽，誤下中焦陽氣傷。（芍藥專益陰氣，桂枝湯去芍藥者，誤下陽虛，濁陰必僭於中焦，故去芍藥之酸寒，存一片陽和甘緩之性，得以載還中焦陽氣，成清化之功。）胸滿脈促邪猶在，（中虛而表邪仍在，故仍用桂枝。）微惡寒加附子良（名桂枝去芍藥加附子湯微惡寒則陽亦虛矣，故加附子，以杜亡陽之機。）</p>

<h3>栝蔞桂枝湯</h3>
<p>治太陽病身體強𠘧𠘧然，脈反沉遲，此為痙也，宜此主之。</p>
<p>桂枝湯原方加栝蔞根二兩。（喻嘉言謂「栝蔞為君，分兩當重，桂枝為臣，分兩當減」，其意頗通。）栝蔞桂枝湯治痙，桂枝湯內栝蔞進。太陽證備項背強，脈反沉遲痙將振。太陽之脈本浮，今脈沉遲，故曰「反」。沉遲非內寒，乃營衛之行不利，津液少而經脈滯，（故知將欲作痙也。）痙為風病亦津傷，（古稱「痙」為「風強病」，然風行必燥，津液必傷。）風自宜驅津必潤。（桂枝湯和營衛以驅風，栝蔞根濡津液而治痙。按：傷寒項背強𠘧𠘧，汗出惡風者，用桂枝加葛根湯，其脈必浮數，為邪風盛於外也；此身強𠘧𠘧然，脈反沉遲，為風淫於外，而津傷於內，故用桂枝則同，而一加葛根以散表，一加栝蔞根以滋內，則不同也。）</p>

<h3>桂枝甘草湯</h3>
<p>治發汗過多，其人叉手自冒心，心下悸，欲得按者。</p>
<p>桂枝（四兩去皮）　甘草（二兩炙）　水三升，煮取一升，頓服。</p>
<p>桂枝甘草（湯）補心陽，止汗除煩功獨良。（此方採取桂枝之半，便另有精義。桂枝復甘草，是辛從甘化，為陽中有陰，故治胸中陽氣欲失；且桂枝輕揚走表，佐以甘草，留戀中宮，載還陽氣，仍寓一表一里，故得外止汗而內除煩。）發汗過多心下悸，悸而欲按是陽亡。（發汗不誤，誤在過多。汗為心之液，多則心氣虛，故悸而欲按，此乃陽虛之輕者；甚而振振欲擗地，則當用真武湯矣。）</p>

<h3>半夏散及湯</h3>
<p>治少陰咽痛。</p>
<p>半夏（洗）　桂枝（去皮）　甘草（炙各等分）　各別搗篩已，合治之，（各研另秤，則分量准。）白飲和服方寸匕，日三服。若不能散服者，（咽痛能咽者用散，不能咽者用湯。）以水一升，煎七沸，納散兩方寸匕，更煎三沸，下火令小冷，少少咽之。</p>
<p>半夏散（及）湯（此一方二法：咽痛能咽者用散，不能咽者用湯。）桂甘草，少陰咽痛服之好。（此即桂枝甘草湯加半夏一味，但分兩不同，便治證迥別，後人何得以古方輕於加減也。）身不發熱脈細微，惡寒欲吐方堪搗。（按「少陰病」三字，所該者廣，必從少陰諸現證細細詳審，然後咽痛知為少陰之咽痛，否則何以知其非君相火炎與風溫燥火之咽痛耶？此方所主咽痛，脈必緊細，身不發熱，必惡寒欲吐，咽雖痛而不紅腫。蓋陰寒之氣上逆，濁痰痹阻咽喉，故用半夏之辛溫，豁其痹阻之痰濁，桂枝之辛熱，散其上逆之陰寒，緩以甘草之甘平，和以白飲之穀味，使少陰之邪由經脈而出肌表，悉從太陽開發，則桂枝、半夏治咽痛，庶無劫液之虞。）</p>

<h3>芍藥甘草湯</h3>
<p>治傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急者；並治腹中不和而痛。</p>
<p>芍藥（四兩）　甘草（四兩炙）　水三升，煮一升五合，分溫再服。</p>

<h3>芍藥甘草附子湯</h3>
<p>治傷寒發汗病不解，反惡寒者，虛故也。</p>
<p>芍藥　甘草（各三兩炙）　附子（一枚炮）　水五升，煮一升五合，分溫三服。</p>
<p>芍藥甘草湯平劑，（此亦桂枝湯之變，偏於營分，純一不雜之方也。）和營止（腹）痛功無比。（氣血不和，肝木乘脾則腹痛。白芍酸收苦泄，能行營氣而瀉肝木，甘草甘緩，能和逆氣而補脾土，甘酸相合，甲己化土，故治腹痛。）芍藥功專止汗煩，（芍藥和營益陰，功專止煩，煩止汗亦止，故《傷寒論》反煩、更煩、心悸而煩者，皆用之。）心煩腳攣陰虛致。腳筋攣急屬陽明，（兩足脈陽明居其六行，故腳攣急屬陽明。）不從標本從中治。（芍藥止煩汗，甘草緩攣急，斯合乎陽明不從表本，從乎中治之法。）又有芍甘附子湯，汗後而反惡寒使。（腳攣急與芍藥甘草湯，是治陰虛；此汗後反惡寒，是陰陽俱虛，故加附子。）</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯　治傷寒脈浮，誤以火迫劫之，亡陽驚狂者。</p>
<p>桂枝湯原方去芍藥，加蜀漆三兩（洗去腥），牡蠣五兩（熬），龍骨四兩，為末，以水一斗二升，先煮蜀漆減二升，納諸藥，煮取三升，去滓，溫服一升。</p>

<h3>桂枝甘草龍骨牡蠣湯</h3>
<p>治火逆下之，因燒針煩躁者。</p>
<p>桂枝　甘草（各一兩）　龍骨　牡蠣（各二兩）　水五升，煮取二升半，去滓，溫取八合，日三服。</p>
<p>桂枝龍骨牡蠣湯　治失精家少腹弦急，陰頭寒，目眩發落。脈極虛芤遲，為清穀亡血失精；脈得諸芤動微緊，男子失精，女子夢交。</p>
<p>桂枝湯原方加龍骨、牡蠣各三兩，水七升，煮三升，分三服。</p>
<p>桂枝去芍加蜀漆，龍骨牡蠣救逆湯，火迫（古人治傷寒有火熨、水攻之法。）心經陽欲越，肢寒汗出必驚狂，（按亡陽驚狂，必有肢寒汗出見證。）神明散亂行將脫，固脫安神此劑彰。（火迫心經之陽，非酸收可安，故去芍藥，而用龍、牡鎮攝，借桂枝、蜀漆疾趨陽位，以救猝然散亂之神明，故先煮蜀漆，使其飛騰，劫去陽分之痰，並賴其急性，引領龍、牡，從陽鎮驚固脫。方寸無主，難緩須臾，故曰「救逆」。徐靈胎《傷寒論類方》曰：此與少陰汗出之亡陽迥別：蓋少陰之亡陽，乃亡陰中之陽，故用四逆輩，回其陽於腎中；今乃火逼汗，亡其陽中之陽，故用安神之品，鎮其陽於心中。各有至理，不可易也。」）桂甘龍牡湯同意，火逆燒針煩躁良。（鎮其陰氣，散其火邪，上下同治。前方驚狂，治重在心，故用蜀漆；此無驚狂，故蜀漆不用。其證大段相同。）《金匱》桂龍牡蠣湯，失精亡血夢交嘗，脈微遲芤陰陽弱，鎮攝精神使斂藏。（此心腎不交，精傷氣竭，神不斂藏之證。桂枝湯外感用之能祛邪和營衛，內傷用之能補虛調陰陽，加龍骨、牡蠣，收斂其浮越之神，固攝其散亡之精。）</p>

<h3>小建中湯</h3>
<p>治虛勞裡急，悸衄，腹中痛，夢失精，四肢痠疼，手足煩熱，咽乾口燥等證；並治黃疸小便自利，及傷寒陽脈澀、陰脈弦，腹中急痛；又傷寒二三日，心中悸而煩者，並主之。</p>
<p>桂枝湯原方芍藥加三兩，加膠飴一升，水七升，煮三升，去渣，納飴，更上微火消解，溫服一升，日三服。</p>

<h3>黃耆建中湯</h3>
<p>治虛勞裡急諸不足，及傷寒汗後身疼，表虛惡寒，脈遲弱者。</p>
<p>小建中湯原方加黃耆一兩半。</p>

<h3>〔附〕當歸建中湯</h3>
<p>（孫思邈《千金要方》）　治產後諸虛不足，腹中痛引腰背，少腹拘急者。</p>
<p>小建中湯原方加當歸三兩。</p>

<h3>〔附〕樂令建中湯</h3>
<p>（《太平惠民和劑局方》）　治臟腑虛損，潮熱自汗，將成勞瘵。</p>
<p>前胡　細辛　黃耆　人參　桂心　橘皮　當歸　白芍藥　茯苓　麥門冬　甘草　半夏　薑、棗水煎。</p>

<h3>〔附〕十四味建中湯</h3>
<p>（《太平惠民和劑局方》）</p>
<p>當歸　白芍藥　白朮　甘草　人參　麥門冬　川芎　肉桂　附子　肉蓯蓉　半夏　黃耆　茯苓　熟地黃　薑、棗水煎。</p>
<p>小建中湯芍藥多，桂姜甘草大棗羅，更用飴糖建中氣，（於桂枝湯重用芍藥，加飴糖，義偏重於酸甘，專和血脈之陰。僅能建中焦營氣，故曰「小」。）陽虛勞損（徐靈胎《蘭臺軌範》曰：「此方治陰寒陽衰之虛勞，正與陰虛火旺之病相反，庸醫誤用，害人甚多。此咽乾口燥，乃津液少，非有火也。」）疸黃瘥。（此脾虛發黃之證，觀方下所云「小便自利」，非濕熱可知矣。）陽澀陰弦腹急痛，（中宮之陽氣虛，則木來乘土，故陽澀陰弦而腹痛。）不瘥更與小柴和。（腹痛服建中治太陰，不愈者，更與小柴胡治其少陽，疏土中之木也。以陰脈弦，故用此法。）悸煩無熱方堪服，（悸而煩，為虛煩可知，故用建中，以補心脾之氣。蓋梔子湯治有熱之虛煩，此治無熱之虛煩也。）嘔家禁與用毋訛。（酒家忌甘，嘔家亦忌甘。）黃耆建中（湯）補不足，表虛身痛效無過。（此因過汗虛其衛陽，故汗後身痛，用此湯固衛氣以和營則愈。）又有當歸建中法，產後諸虛屬婦科。（黃耆建中，補中益衛氣；當歸建中，補中益營氣。）樂令建中（湯）退虛熱，（此藥大能退虛熱，生氣血。）柴胡歸芍細辛多，參耆苓草陳半夏，肉桂門冬薑棗和。更有建中十四味，陰斑勞損起沉疴，（亦有陰證發斑者，淡紅隱隱，散見肌表，此寒伏於下，逼其無根之火熏肺而然，誤服寒藥立斃。）十全大補（湯）加附子，麥夏蓯蓉仔細哦。（喻嘉言《醫門法律》曰：「十四味建中湯治臟氣素虛，以之兩建其脾腎之陰陽。蓋虛勞病多本脾腎，故引伸建中之法以治之。乃後人超出之方也。」又曰：「樂令建中湯，柴胡、細辛為君，意在退熱，而陰虛之熱則不可退；十四味建中湯，用附、桂、蓯蓉，意在復陽，而陰虛之陽未必可復，又在用方者之善為裁酌耳。」）</p>

<h3>桂枝芍藥知母湯</h3>
<p>治諸節疼痛，身體尪羸，腳腫如脫，頭眩短氣，溫溫欲吐。</p>
<p>桂枝（四兩）　芍藥（三兩）　甘草　麻黃（各二兩）　附子（二枚炮）　防風　知母（各四兩）　白朮　生薑（各五兩）　水七升，煮二升，溫服七合，分三服。</p>
<p>桂枝芍藥知母湯，甘術麻黃姜附防。（此桂枝湯合朮附湯，去大棗，加麻黃、防風、知母。）濕熱外傷肢節痛，上衝心胃嘔眩攘。腳氣衝心為惡候，漢時已有此方詳。（旭高按：此與腳氣衝心之候頗同。諸家謂唐以前無腳氣，勿致思爾。《金匱要略·中風歷節病篇》云：「諸肢節疼痛，身體尪羸，腳腫如脫。」後人不知「脫」字之音義，遂置此條於不論，故此方從未有詮釋之者。抑知「脫」字北音讀作「腿」字，試一提出，則形瘦、頭眩、短氣，豈非多因腳腫之所致耶？腳腫至如腿，則病非一日矣。揆其致病之由，《金匱》於此方左右，論列數條：一則由汗出入水，熱為寒鬱；一則由風血相搏，血為風動；一則由飲酒汗出當風，風濕相合；更推及筋骨並傷，營衛俱微，身體羸瘦，獨足腫大一條；而殿之曰：「假令發熱，便為歷節。」則知風、寒、濕三氣，無不因虛阻襲筋骨，而歷節、腳氣，總由風、寒、濕三氣而成，為同源異流之證，但以獨足腫為腳氣，諸節痛為歷節焉耳。是方用麻、防、薑、桂，宣發衛陽，通經絡以驅外入之風寒；附子、白朮，暖補下焦，壯筋骨而祛在裡之寒濕。然三氣雜合於筋骨血脈之中，久必鬱蒸而化熱，而欲束筋利骨者，必須滋養陽明，故又用芍、甘、知母，和陽明之血，以致太陰之液，斯宗筋潤、機關利，而腳氣歷節可平，平則眩嘔悉已矣此為濕熱外傷肢節，而復上衝心胃之治法也。）</p>

<h3>〔附〕桂枝黃耆鱉甲湯</h3>
<p>（旭高新制）　治久瘧營虛衛弱，汗多灑淅惡風。</p>
<p>桂枝　白芍　黃耆（生）　防風　秦艽　當歸（各一錢）　鱉甲（酥炙）　浮小麥（各三錢）　炙草（五分）　姜（一片）　棗（一枚）　水煎。</p>
<p>桂枝黃耆鱉甲湯，秦艽芍藥草歸防，浮麥棗姜療久瘧，營虛衛弱汗多嘗。（旭高治一人，病後元氣未復，復感風邪，舍於腠理，與衛氣並居，而病為瘧，發於夜而汗多。余思瘧發於夜，是邪在營分，營氣不能與衛氣和諧，故多汗惡風。宗仲景桂枝湯，合玉屏風散，參入秦艽鱉甲湯意，一服而汗減，三劑而瘧輕。轉方減去黃耆、防風、秦艽，復入四君，調理十日全愈。後凡用治久瘧營衛虛微，而邪仍留戀者，隨證加入補氣血藥一二味，少佐柴胡以提之，無不應手輒效。然其中用法，自有操縱之妙：有連服數劑者；有間日服一劑者；或有今日服此方，明日服消導藥一劑，後日再服此方者。蓋久瘧之人，脾胃虛薄，飲食稍有不節，便生脹滿，故藥必疏補兼施，此又管窺之一得，敢以質之高明。）</p>

<h2>桂麻各半湯類</h2>
<p>兩方合為一劑，《內經》謂之「複方」。</p>

<h3>桂枝麻黃各半湯</h3>
<p>治太陽病得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度發，脈微者，正虛也；面色反有熱色，身癢如蟲行皮中，邪未解也。以其不得小汗出故也，宜此汗之。</p>
<p>桂枝湯、麻黃湯各取三分之一，合為半服。</p>

<h3>桂枝二麻黃一湯</h3>
<p>治太陽病服桂枝湯後，大汗出，風乘汗入，玄府反閉，形如瘧狀，日再發者。</p>
<p>桂枝湯二升，麻黃湯一升，合為三升，分再服。</p>

<h3>桂枝二越脾一湯</h3>
<p>治太陽病發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗。</p>
<p>桂枝湯二分，越脾湯一分，合二升，溫服一升。</p>
<p>桂枝麻黃湯各半，助正驅邪小發汗。太陽如瘧脈雖微，熱多無汗仍須散。（太陽如瘧脈微，為陰陽俱虛，汗、吐、下皆在所禁。然熱多寒少，面有熱色，身無汗，膚癢如蟲行皮中，以邪氣怫鬱在表，欲自出不得，雖脈微不可發汗，而熱多無汗，又不得不汗，故立此法。助正之力，侔於散邪，但取小汗即已，庶無大汗亡陽之慮。）風瘧緣何屬太陽，因其止作無間斷。（太陽如瘧，一日二三度發，不似少陽之瘧一日一發也。因風邪客於皮膚中，欲出不出，故止作無定，後人因名之曰「風瘧」。）又有桂二麻一湯，主治略同微有判。此因有汗桂枝多，發散之功更和緩。（此與各半湯意略同。但此因大汗出之後，故桂枝略重而麻黃略輕。）若夫桂枝（二）越脾（一）法，體虛邪亦輕微按。無陽是亡陽分津，脈弱熱多義當玩。（此無陽與亡陽不同。無陽者，即陽分亡津之謂。蓋其人本非壯盛，而邪氣亦輕，故身有寒熱，而脈微弱，若發其汗，必致有叉手冒心、臍下悸之變，故用桂枝湯四分之二以行陽，越脾湯四分之一以行陰。行陰者，發越脾氣而行胃中之津，俾陽和津生而脈復，令得似汗而解。蓋凡暴病發熱，脈雖弱而治從外感；久病脈弱，熱雖盛而治從內傷，此其要也。尤在涇《傷寒貫珠集》曰：「桂枝湯不特發散邪氣，亦能補助正氣，以其方甘酸辛合用，具生陽化陰之妙。與麻黃合劑，則能盡麻黃之力，而並去其悍；與石膏同用，則能資石膏之益，而不撓乎權。是雖麻、石並行，而實以桂枝為主，蓋非滋養營衛，則無以為發汗散邪之地耳。凡正氣不足，邪氣亦微，而仍須得汗而解者，宜於此三方取則焉。後人不能盡桂枝之用，而求之人參、歸、地之屬，立意則同，而用藥懸殊矣。」）</p>

<h3>桂枝去芍藥加麻附細辛湯</h3>
<p>治氣分，心下堅，大如盤，邊如旋杯，水飲所作。</p>
<p>桂枝去芍藥湯合麻黃附子細辛湯。水七升，煮麻黃去沫，納諸藥，煮二升，分溫三服，當汗出如蟲行皮中則愈。</p>
<p>桂枝麻附細辛湯，去芍原來是複方。心下如盤堅大者，水寒結聚此能攘。又方枳朮為湯飲，（枳朮湯亦治此證，歌訣另編。）法別陰陽義益彰。（喻嘉言謂「心下」即胃之上也。胃中陽氣不布，心下乃為水飲之陰占據，雖總一陽氣之權不伸所致，然有陰陽二候。陽氣虛而陰氣乘之，結於心下，必用桂枝湯去芍藥之酸寒，而加麻黃、附子、細辛，共散胸中之水寒。以少陰主內，水寒上入，即從少陰溫經散寒之法而施治也。所以方下云「當汗出如蟲行皮中則愈」，可見胃中之陽不布，即胸中之陽亦虛，胸中陽虛，並衛外之陽亦不固，故其汗出時如蟲行皮中，尚顯陽氣滯澀之象，設非桂、麻、辛、姜協附子之大力，心下水寒能散走皮中乎？水寒散斯重云見睍，而心下之堅大者，豁然空矣。其有陽邪自結於陽位，陰寒未得上入者，但用枳、術二味，開其痰結，健其脾胃，而陽分之陽邪，解之自易易耳。《金匱》雖未明言，究竟氣分之水，不越此陰陽二治也。）</p>

<h3>柴胡桂枝湯</h3>
<p>治傷寒六七日，發熱微惡寒，肢節煩疼，微嘔，心下支結，外證未去者。</p>
<p>柴胡（四兩）　黃芩　人參　桂枝　芍藥　生薑（各一兩半）　甘草（一兩）　半夏（二合半）　大棗（六枚）　水七升，煮三升，溫服一升。</p>
<p>小柴胡合桂枝湯，（名柴胡桂枝湯）太少二陽合病方。和其營衛通津液，（二湯合用之功如此）肢節煩疼（太陽證）痞嘔（少陽證）康。太陽熱重寒輕者，脈弱陽微宜此匡。陽微切勿重發汗，誤汗傷津陽必亡。（太陽熱多寒少，脈弱無陽之證，仲景主以桂枝二越脾一湯。柯韻伯曰：「脈弱陽微，不可發汗，何得更用麻黃、石膏，重竭其陽。審證用方，惟柴胡桂枝湯為恰當。」）</p>

<h2>葛根湯類</h2>

<h3>葛根湯</h3>
<p>治風寒在表，頭項強痛，背亦強，牽引𠘧𠘧然，脈浮，無汗惡風，而下利者；並治太陽病無汗而小便反少，氣上衝胸，口噤不得語，欲作剛痙。</p>
<p>葛根（四兩）　麻黃（三兩）　桂枝　芍藥　甘草（各二兩）　生薑（三兩）　大棗（十二枚）　水一斗，先煮麻黃、葛根減二升，去沫，納諸藥，煮取三升，去滓，溫服一升。覆取微汗，不須啜粥。</p>

<h3>葛根加半夏湯</h3>
<p>治太陽陽明合病，必自下利而兼嘔。</p>
<p>葛根湯內加半夏半升（先煎）。</p>
<p>葛根湯內麻黃勷，二味加入桂枝湯。（即桂枝湯加麻黃、倍葛根以去營實，小變麻、桂之法。）輕可去實因無汗，（徐之才曰：「輕可去實，麻黃、葛根之屬是也。」）有汗加葛無麻黃。（即桂枝加葛根湯一條，治證與此同。但彼因汗出，故無麻黃；此因無汗，故加麻黃也。）項背𠘧𠘧太陽病，才及陽明用此方。（此治太陽之邪才及陽明之方）此方並可醫剛痙，（無汗為剛痙，有汗為柔痙。）口噤頭搖背反張。（痙病之象如此）表有風寒下利者，（解表則下利自止，此為表實下利，而非裡實故也）。兼嘔宜加半夏良。（名葛根加半夏湯　太陽陽明合病下利，用葛根湯兼解兩經之邪。若嘔者，加入半夏一味以止嘔。隨證立方，各有法度。）《本草》葛根除大熱，（大熱乃陽明之證，故用之耳。）升津止渴利相當。（葛根甘涼生津，體輕而升，能引胃中清氣上行，故凡口渴下利多用之。）正陽明病何嘗用，（葛根為治陽明經病表藥，若陽明腑病，當下不當汗，故仲景於《正陽明病篇》中無葛根之方。）易老東垣尚未詳。（易老東垣分經定藥，以葛根為陽明主藥，未分經腑，是其說尚有未詳也。）</p>

<h3>葛根黃芩黃連湯</h3>
<p>治太陽病桂枝證，醫反下之，利遂不止，脈促表未解，喘而汗出者。</p>
<p>葛根（八兩）　甘草（二兩）　黃芩　黃連（各三兩）　水八升，先煮葛根減二升，納諸藥，煮取二升，分溫再服。</p>
<p>葛根黃芩黃連湯，甘草四般治二陽。（太陽誤下，邪入陽明。）解表（葛根）清裡（黃芩黃連）兼和胃（甘草），喘汗脈促利為良。（此條喘汗為輕，下利不止為重，故藥亦先治其利。但下利乃寒熱虛實俱有之證。脈促急者，則為熱邪無疑，表雖未解，則不當用桂枝之辛熱，故用葛根之甘涼以解表。因喘汗而利，用芩、連之苦以堅陰。甘草不特和胃，且以和表裡也。若脈微弱，則屬桂枝人參湯證矣。）</p>

<h3>〔附〕柴葛解肌湯</h3>
<p>（陶節庵《傷寒六書》）　治太陽陽明合病，目痛鼻乾不得臥，頭痛惡寒無汗，脈浮而洪。</p>
<p>柴胡　乾葛　羌活　白芷　黃芩　赤芍　桔梗　甘草　石膏　生薑　棗</p>
<p>柴葛解肌湯節庵，（節庵自云「此代葛根湯」）羌膏芷桔芍芩甘。三陽經病邪居表，合解三陽法可參。（按：此湯以羌、葛、柴胡並用，而石膏、黃芩等為佐，乃統治三陽經表證、寒將化熱之法。若謂太陽陽明合病，則柴胡尚不宜用，而節庵用之，何也？）</p>

<h3>〔附〕升麻葛根湯</h3>
<p>（錢仲陽《閻氏小兒方論》）　治陽明傷寒，中風頭疼身痛，發熱微惡寒，無汗口渴，目痛鼻乾不得臥，及陽明發斑，欲出不出，寒暄不時，人多疫證。</p>
<p>升麻　乾葛（細銼）　芍藥　甘草（銼炙各等分）　同為粗末，每服四錢，水一盞半，煎至一盞，量大小與之，溫服無時。〔頭痛，加川芎、白芷（川芎為通陰陽氣血之使，白芷專治陽明頭痛）。身痛背強，加羌活、防風（此兼太陽，故加二藥）。熱不退，春加柴胡、黃芩、防風（春為少陽司令，柴、芩少陽經藥），夏加黃芩、石膏（清降火熱）。頭面腫，加荊芥、防風、連翹、白芷、川芎、牛蒡、石膏（升散解毒）。咽痛，加桔梗（清肺利咽膈）。斑出不透，加紫草茸（紫草涼血，用茸取其升發）。脈弱，加人參。胃虛食少，加白朮。腹痛，倍芍藥。〕</p>
<p>升麻葛根（湯）芍藥草，（此即仲景葛根湯去麻、桂加升麻，轉溫散為涼散，乃後人超出之方也。）升散陽明表證好。（葛根湯治太陽將入陽明之表，此湯治陽明自病之表。）微寒壯熱與頭疼，（太陽表病初起則惡寒甚，且發熱而仍畏寒；陽明表證初起則微惡寒，及至壯熱則寒不復惡矣。又太陽則頭項痛，陽明則頭額眉稜骨痛，此為辨也。）熱迫下利均堪保。（暴注下迫皆屬於熱。此因邪熱內陷於太陰，是表實裡虛，故用升、葛升陽散表，白芍斂陰，甘草和里，表解里和，下利自止。）亦治時疫與陽斑，（升麻、甘草解毒之功。）痘疹已出慎勿搗。（痘疹初起，熱自內達表，故亦宜於涼散；若已出者勿用，恐升散重虛其表也。）</p>

<h3>〔附〕歸葛飲</h3>
<p>（張介賓《新方八陣》）治陽明溫暑，大渴大熱，津液枯涸，陰虛不能作汗等證。</p>
<p>當歸（三五錢）　乾葛（二三錢）　水煎。以冷水浸涼，徐徐服之，得汗即解。</p>
<p>歸葛飲須冷水浸，陽明溫暑時邪甚。陰虛無汗渴而煩，服此汗流功獨任。（旭高按：葛根湯用芍藥收陰，是監麻、葛之發汗也；此用當歸養血，是助乾葛以為汗也。葛根湯證，表尚惡寒，故藥以溫散；此證表裡俱熱，故以藥冷飲，所謂生津自能作汗，清裡亦能解表，為治溫暑之大法。此葛根湯之變局，又白虎湯之先著也。）</p>

<h2>瓜蒂散類</h2>

<h3>爪蒂散</h3>
<p>治實積寒痰，填塞上脘，胸中痞硬，寸脈微浮，氣逆上衝咽喉不得息；或心下滿而煩，飢不能食，手足厥冷，脈乍緊者；或飲食入口即吐，心中溫溫欲吐，復不能吐，始得之手足寒，脈弦遲者；及猝然發黃，胸滿氣喘，命在須臾。皆宜用此。</p>
<p>瓜蒂（熬黃）　赤小豆（各等分）　別搗為末，取一錢匕，以香豉一合，用熱湯七合，煮作稀糜，去滓，取汁和散，溫，頓服之。吐時須令閉目，緊束肚皮。吐不止者，蔥白湯解之。良久不吐者，含砂糖一塊即吐。諸亡血虛家、老人、產婦，俱不可服。（此為峻劑，故詳審叮嚀如此。按：瓜蒂時珍《綱目》不載，故後人不知為何物，遂致此藥廢棄，遇當吐之證不吐，因而夭枉者多矣。可勝悼哉！不知瓜蒂即《神農本草》苦瓠之蒂，治面目四肢浮腫，下水令人吐，正是此物，即今夏月之菜瓜帶苦味者一種是也。去瓤及蒂，漬於醬內，為家常啜粥之小菜。但有甘、苦二種，苦瓜之蒂則吐耳。無錫東門楊氏，貨水腫黃疸藥，令㗜鼻中，出黃水則愈，甚有奇效，疑即是此。今世所謂名醫者，反不知用，即知之而亦不敢用。噫！是誠何心哉？）</p>
<p>瓜蒂散中赤豆豉，逐邪湧吐堪稱奇。（此酸苦湧泄重劑，以吐胸寒者。邪結於胸，不涉太陽表實，只以三味為散，煮作稀糜，留戀中焦以吐之，能事畢矣。瓜蒂性升，味苦而湧，赤豆性酸斂，味苦而泄，恐其未必即能宣越，故復以香豉湯陳腐之性，開發實邪，定當上越而吐矣。真奇方也！）實積寒痰填上脘，胸中痞硬脈弦遲，（脈弦遲或乍緊者，寒實也。）飢不欲食手足冷，欲吐不吐無寧時。（皆寒格於上，熱不得越之故。）此皆瓜蒂之見證，亡血虛家切忌施。（亡血虛家而吐之，則虛陽上越，有厥脫之危。）又有急黃（猝然發黃，名曰「急黃」。）與水腫，可將此藥鼻中吹。（或加丁香吹鼻更妙）上者越之為效捷，（「病在上者，因而越之」，比汗下為效為捷。）長沙以後少人知。（仲景以後之醫，但知汗下而不知吐法；知吐法之妙者，不過數人而已。）</p>

<h3>〔附〕三聖散</h3>
<p>（張子和方）　治猝中痰迷壅盛，癲狂煩亂，人事昏沉，五癇痰潮痰厥，頭痛；及食填太陰，欲吐不出。</p>
<p>瓜蒂　藜蘆　鬱金等分　為末，酸齏水調。（量人虛實服之，以鵝翎探吐。）</p>

<h3>〔附〕參蘆散</h3>
<p>（李時珍《本草綱目》）　治虛人痰潮壅塞。</p>
<p>人參蘆研末，水調下一二錢。或加竹瀝和服。</p>

<h3>〔附〕燒鹽探吐方</h3>
<p>（孫思邈《千金要方》）　治傷食痛連胸膈，痞硬不通，手足逆冷，尺脈全無；通治霍亂蠱毒，冷氣中惡。</p>
<p>食鹽（燒）　以熟湯調飲，以指探吐。或用熱童便調服更佳。三聖（散）瓜蒂除豉豆，（瓜蒂散中去香豉、赤小豆。）加入藜蘆鬱金湊。此吐實熱與風痰，（瓜蒂吐實熱，藜蘆鬱金吐風痰。）五癇癲狂痰厥咎。（五癇昏迷，癲狂迷亂，皆痰之咎。）虛者參蘆一味投，（名參蘆散　人參補陽中之陰，蘆反瀉陰中之陽，亦猶麻黃之根、節不同。）劇痰烏附尖方透。（丹溪治許白雲，用瓜蒂、三聖之屬，屢吐不透，後以漿水和烏附尖服，始得大吐。）《千金》尚有燒鹽方，一切積聚功能奏。（鹽能軟堅，可破頑痰宿積；燒之則苦，故能湧吐。更用童便引火下行。上越下行，塞者通矣。《千金》云：「凡病積聚，宜先服此，大勝用藥。」）吐法從來誰擅長，子和張氏為魁首。《張子和長於用吐。據《儒門事親》云：「吐痰之法，自有操縱卷舒，不得浪用。一吐不已，而再而三，非有膽敢者，不能知也。」又云：「諸汗法古方多有之，惟以吐發汗者，世罕知之，不知吐中就有發散之義，故余嘗曰吐法兼汗，以此。」</p>

<h3>〔附〕霹靂散</h3>
<p>（王燾《外臺秘要》　治癡癲病痰迷心。）</p>
<p>雄黃　雌黃　冰片　牛黃（各五分）　人言（四分）　生山梔（二十枚）　急性子（一錢）　生綠豆（一百八十粒）　先將綠豆冷水洗去皮，同餘藥各生曬乾為末。大人用七分，十五六歲者用四分。或粉面糕餅令其食，少頃吐出頑痰為妙。晚以稀粥補之。</p>
<p>霹靂散治癡癲病，湧吐風痰泄濁陰。（《內經》癲病分骨、筋、脈三種，《難經》謂「《重陰者癲」。明系癡癲是臟病，多由肝經風痰上逆於心，迷亂神明，故宜湧而吐之，破泄陰霾之氣。）雌雄西黃冰急性，人言綠豆山梔尋。（重用綠豆、山梔，所以解砒毒也）。若然不吐吞糕餅，鼓舞陽明氣上臨。（方中雖用綠豆解人言毒，然有服之其毒內攻而不吐者，又必以食物，如粉面糕餅鼓舞胃氣，則無不吐者矣。山梔輕揚上浮，急性子下氣透骨，雄黃入肝之陽分，殺精闢邪，雌黃入肝之陰分，祛風殺蟲，牛黃入肝臟，引風外出，冰片入骨髓，搜風可盡，人言燥烈劫痰善吐，剛猛毒藥，無微不入，即有固結頑痰，亦必倒倉吐出，其神明得以歸舍而清矣。）</p>

<h3>〔附〕稀涎散</h3>
<p>（許叔微《普濟本事方》引孫兆方）　治中風暴僕，痰涎壅盛，氣閉不通。先開其關，令微吐稀涎，續進他藥。亦治喉風牙關緊閉。</p>
<p>皂角（四挺去皮弦炙）　白礬（一兩）　共為末，溫水調下五分。或加藜蘆。</p>

<h3>〔附〕通關散</h3>
<p>（朱震亨《丹溪心法附余》）　猝中痰迷，用此吹鼻。</p>
<p>皂角　細辛（等分）　研末吹。</p>
<p>稀涎（散）皂角白礬班，或益藜蘆微吐間。（不可令大吐，但使咽喉疏通，能進湯藥便止。若盡攻其痰，則無液以養筋，令人攣急偏枯，此其禁也。）風中痰升人眩僕，當先服此通其關。（白礬酸苦能湧泄，咸能軟頑痰；皂角辛能通竅，咸能去垢，專制風木；藜蘆吐風痰，善通頂，令人嚏。此奪門之兵也。風初中時，痰盛宜先用此，令吐稀涎，續進他藥。）通關散用細辛皂，吹鼻得嚏保生還。（有嚏者可治；無嚏者為肺氣已絕，不治。）</p>

<h3>〔附〕甘草常山散</h3>
<p>（汪訒庵《醫方集解》引張子和方）　吐瘧痰。</p>
<p>稀涎散加甘草、常山、藜蘆。</p>

<h3>〔附〕如聖散</h3>
<p>（汪訒庵《醫方集解》　治纏喉風痹，牙關緊閉。</p>
<p>前方去甘草、常山，加雄黃為末㗜鼻。（或以杜牛膝搗汁灌之）</p>
<p>甘草常山（散）吐瘧痰，（常山善吐瘧痰，得甘草則功更捷。）藜蘆皂角白礬參。若除常草雄黃入，（名如聖散）喉風痰壅此能探。（喉風脹急，湯水難進，必先吐去其痰，續進他藥。余友陳正陽謂白礬酸澀難堪，不如易以月石。甚有道理，並識之。）</p>

<h3>〔附〕吐法</h3>
<p>（張介賓《新方八陣》　代瓜蒂、三聖之屬。</p>
<p>蘿蔔子搗碎，以溫湯和攪，取淡湯徐徐飲之，少頃即當吐出。即有吐不盡者，亦必從下行矣。吐法新方最平穩，搗研卜子用宜生，溫湯和攪徐徐飲，上越還能使下行。（按：景岳此方，凡邪實上焦，或痰或食，或氣逆不通等證，皆可以此吐之，最為平穩。然恐未必即吐，必以指探之，乃能上越而吐。愚意加入香豉、橘紅，激而行之，則無有不吐者矣。）</p>

<h2>梔子湯類</h2>

<h3>梔子豉湯</h3>
<p>治發汗吐下後，虛煩不得眠，反覆顛倒，心中懊憹者。</p>
<p>梔子（十四枚生用擘）　香豉（四合綿裹）　以水四升，先煮梔子得二升半，納豉，煮取升半，去滓，分為二服，溫進一服。得吐，止後服。</p>

<h3>梔子生薑豉湯</h3>
<p>治梔子豉湯證中，若加嘔者，此湯主之。</p>
<p>梔子豉湯原方加生薑五兩。先煮梔子、生薑，余如前法。</p>

<h3>梔子甘草豉湯</h3>
<p>治梔子豉湯證中，若少氣者主之。</p>
<p>梔子豉湯原方加炙甘草二兩。先煮梔子、甘草，余如前法。</p>

<h3>梔子乾薑湯</h3>
<p>治傷寒，醫以丸藥大下之，身熱不去微煩者。</p>
<p>梔子（十四枚）　乾薑（二兩）　以水三升半，煮取一升半，去滓，分二服，溫進一服。得吐，止後服。</p>

<h3>梔子厚朴枳實湯</h3>
<p>治傷寒下後，心煩腹滿，臥起不安者。</p>
<p>梔子（十四枚）　厚朴（四兩姜炙）　枳實（四枚水浸去瓤炒）　以水三升半，煮取一升半，去滓，分二服，溫進一服。得吐，止後服。</p>

<h3>枳實梔子豉湯</h3>
<p>治大病瘥後勞復者。</p>
<p>枳實（三枚）　梔子（十四枚）　豉（一升）　以清漿水七升，空煮（又一煮法。漿水即淘米之泔水，久貯味酸為佳。）取四升，納枳實、梔子，煮取二升，下豉，更煮五六沸，去渣，溫分再服。覆令微似汗。若有宿食者，加大黃如博棋子大五六枚。</p>

<h3>梔子大黃湯</h3>
<p>治酒疸，心中懊憹或熱痛者。</p>
<p>梔子（十四枚）　大黃（一兩）　枳實（五枚）　豉（一升）　以水六升，煮取二升，分溫三服，取微利。（此不取吐而取下）</p>

<h3>梔子柏皮湯</h3>
<p>治傷寒身黃髮熱者。</p>
<p>梔子（十五枚）　甘草（一兩）　黃柏（二兩）　水四升，煮一升半，去滓，分溫再服。</p>

<h3>〔附〕豉薤湯</h3>
<p>（汪訒庵《醫方集解》引張文仲方）　治傷寒下利，如爛肉汁赤滯，伏氣腹痛。</p>
<p>梔子豉湯原方加薤白一兩。</p>
<p>梔豉湯治陽明表，（太陽之表證當溫散，陽明之表證當清泄。葛根湯治太陽傳入陽明之表而無汗者，桂枝加葛根湯治太陽傳入陽明之表而有汗者，升麻葛根湯治陽明自病之表而無汗者，此梔豉湯治陽明自病之表而有汗者。）脈浮緊而咽口燥，發熱汗出不惡寒，氣喘胸滿心懊憹，（以上皆陽明表證，非因誤治而得者。）虛煩反覆不得眠，胸中窒痛舌胎皓。（此因汗下之後，虛其正氣，而邪熱仍擾於上焦，故胸中滿者，變為窒痛，心中懊憹者，變為虛煩不得眠，然仍不出陽明之表，觀舌胎白，邪熱在上焦可知。）以上皆宜梔豉療，（《本經》：梔子清胃中熱氣。《綱目》：豉能調中下氣。）便溏勿與當參考。（按：梔子豉湯清泄上焦熱邪，與腸胃亦無大害，而《傷寒論》云「病人舊微溏者，不可與服」，未知何故。想因大腸之氣滑脫者，肺氣不可更泄也。）此治溫邪之的方，（按：溫邪上受，首先犯肺，肺與胃近，故溫邪之證，初起便在陽明，不似傷寒之必始於太陽而後及陽明也。夫溫則宜清宜泄，而葉天士《溫熱論》未出主方，但云「挾風加入薄荷、牛蒡之屬，挾濕加入蘆根、滑石之流」，試思加入何方之內，當知主治不出此方矣。但世俗治時證，不辨傷寒、溫熱，不分有汗、無汗，開手輒用梔、豉，則又大失制方之義矣。）清泄陽明是其要。（旭高謂梔子豉湯是陽明清泄之法，不是上湧之劑，觀《傷寒論》梔豉湯證數條，並未言及「吐」字，但云「病人舊微溏者不可與」，則梔子之性可明矣。至其方末之「得吐止後服」一句，焉知非衍文錯簡，編書者誤收之耶！柯韻伯謂梔子之性，苦寒泄熱，並非吐藥，惟豉之腐氣，上熏心肺，能令人吐，以瓜蒂散取用豉汁和服為證據。不知瓜蒂本為吐藥，其用豉汁和服者，以豉能調中下氣，恐過吐傷其中氣耳，非瓜蒂必得豉而吐也。按：瓜蒂散證，心下痞硬而煩，欲食不食，欲吐不吐，是寒食並結於胸中，故引而越之；梔豉湯證，心中懊憹虛煩，與舌胎頭汗，是濕熱鬱蒸於心下，故苦以泄之。一屬有形而可吐，一屬無形而不可吐，何得混同為吐劑哉！試令單煮瓜蒂服必吐，但服香豉則不吐，不辨可知矣。余義見卷四《雜說》。）前證（懊懷、虛煩、舌胎等證。）兼嘔加生薑，（名梔子生薑豉湯）若然少氣加甘草。（名梔子甘草豉湯　嘔則加生薑以止嘔，少氣便加甘草以益氣，見證施治，古人每不出此。）梔子乾薑湯去豉，下後微煩熱不了。（下後寒氣留中，故用乾薑。身熱微煩，故用梔子。不懊懷，故去豉。）又有梔子樸實湯，下後心煩（梔子）腹滿飽。（厚朴、枳實以泄腹滿。）枳實梔豉（湯）勞復宜，（勞復乃病後氣虛，餘邪猶未清楚，因勞即發，其證不一，故不著其病形，惟輕清泄卻上焦之邪足矣。後人以補為治，反致變證百出。）食復再加大黃討。（此指食復之重者言耳。若宿食不甚，枳實已能為效。）酒疸心中熱（痛）懊懷，梔子大黃湯亦好。（治疸之法甚多，此治心中懊憹熱痛者。）傷寒發熱身為黃，梔子柏皮甘草妙。（名梔子柏皮湯　梔子、柏皮以寒勝熱，以苦燥濕，已得治黃之要，而乃緩以甘草者，黃必內合太陰之濕化，若發熱者，熱已不瘀於裡，有出表之勢，汗下皆所不必，但當奠安脾土，使濕熱分解，其黃自除。梔子厚朴湯言熱，梔子乾薑湯言寒，治皆在裡，此章之治則在表也。）張文仲方豉薤梔，下利穢臭用之效。（薤白辛通滑利，上能開胸痹，下能泄大腸氣滯，蓋肺與陽明藥也。前云「舊微溏者不可服梔子」，是指脾虛寒滑者言；此下利穢臭如爛肉汁，是為熱邪，故可用也。）</p>

<h3>〔附〕越桃散</h3>
<p>（劉完素《素問病機氣宜保命集》　治下利後，腹中虛痛不可忍者。</p>
<p>越桃（即山梔之大者）　高良薑（各三錢研）　每服三錢，米飲或酒調下，痛立止。</p>
<p>越桃（散）梔子與良薑，等分研和酒服良。痢後腹中虛痛甚，溺紅短數始相當。（痢後腹中虛痛，非有實邪。若小便清利者，此下焦有寒也。若小便短赤者，明是肺氣下鬱於大腸，積而成熱，寒熱混而痛也。）寒熱混淆因作痛，通陽泄熱痛斯忘。（山梔從肺入腸泄其鬱熱，良薑宣發胃陽，闢除冷氣，陰陽和，痛立止。）</p>

<h2>白虎湯類</h2>

<h3>白虎湯</h3>
<p>治陽明病脈洪大而長，不惡寒，反惡熱，舌上乾燥，而煩躁不得臥，渴欲飲水數升者；及脈滑而手足逆冷，此熱厥也，亦主之。若表未解而無汗者，忌服。</p>
<p>石膏（一斤碎綿裹）　知母（六兩）　甘草（二兩）　粳米（六合）　以水一斗，煮米熟湯成，去滓，溫服一升，日三服。</p>

<h3>白虎加人參湯</h3>
<p>治傷寒服桂枝湯後，大汗出，大煩渴不解，脈洪大者；並治太陽中暍，汗出惡寒，身熱煩渴，及火熱傷肺，傳為膈消，最良。</p>
<p>白虎湯原方加人參三兩，煮服同前法。</p>
<p>白虎湯清氣分火，（白虎湯清陽明氣分之熱邪，調胃承氣湯導陽明血分熱邪。）石膏知母甘草佐，再加粳米煮成湯，（石膏清火，知母滋陰，甘草緩陽明之津氣。因石膏性重，知母性滑，恐其疾趨於下，另設煎法，以米熟湯成，俾辛寒重滑之性，得粳米、甘草，載之於上，逗留陽明，而成清肅肺胃之功。）止渴除煩功用播。汗多熱盛最相宜，（汗多熱盛，是白虎之的證。）無汗惡寒大不妥。（無汗惡寒，是白虎之大禁。）脈滑洪長舌燥干，陽明邪熱之為禍。縱使肢寒亦用清，此名熱厥醫休左。（脈滑而四肢厥冷，內有煩渴譫語等見證，此謂熱厥，治宜清解，誤用熱藥則死。）病久津枯胃火焚，原方加入人參可，（名白虎加人參湯）補虛清火以生津，（白虎加參，功用若此。）中暑膈消力能荷。（中暑即中暍，暍者暑熱之氣也。膈消即上消，消者為能消水也。）</p>

<h3>白虎加桂枝湯</h3>
<p>治溫瘧，其脈如平，身無寒但熱，骨節煩疼時嘔者。</p>
<p>白虎湯原方少粳米四合，加桂枝三兩，煮服法同。</p>
<p>白虎（加）桂枝治溫瘧，但熱無寒白虎酌。（但熱是陽明經熱，故用白虎清泄之。）骨節煩疼加桂枝，（寒在骨節，故加桂枝。）通營泄衛邪斯卻。（白虎清氣分之熱邪，加桂枝一味，通營泄衛，則白虎並能清營分之熱，方義原在心營肺衛立法也。）嘔因胃熱舌無胎，白虎湯中薑汁著。（胃熱作嘔，舌必無胎而口渴，《集驗》於白虎湯中加薑汁七匙，後人遵用效。癉瘧、溫瘧，俱無寒但熱，俱嘔，而因不同。癉瘧者，肺素有熱，而加外感，為表寒裡熱之證，緣陰氣內虛，不能與陽相爭，故不作寒也。溫瘧者，邪氣內藏腎中，至春夏而始發，為伏氣外出之證，寒蓄久而變熱，故亦不作寒也。）</p>

<h3>〔附〕蒼朮白虎湯</h3>
<p>（劉完素《素問病機氣宜保命集》　治濕溫病兩脛逆冷，胸腹滿，身疼重，發熱汗多，譫語苦渴，渴不多飲，脈沉細而數者。</p>
<p>蒼朮（五錢）　石膏（三錢）　知母（一錢五分）　甘草（一錢）　水二盞，煎一盞服。</p>
<p>蒼朮白虎（湯）治濕溫，（立夏後濕土司令，暑濕相搏，病成濕溫，不可發汗，治在太陰。）脈沉細（為濕）數（為熱）好推論。身疼脛冷（為濕）胸腹滿，（濕熱瀰漫三焦，氣機不達。）發熱汗多苦妄言，（濕上甚為熱。熱與濕合，鬱蒸肌表，則多汗；蒙痹清竅，則苦妄言矣。）口燥渴而不欲飲，（雖渴而不欲多飲，濕溫之義尤明。）剛柔相濟此方尊。（方中甘草佐蒼朮，知母佐石膏，剛柔相濟，用以燥濕清熱，不傷臟腑之正氣。前白虎加桂枝湯，治寒化為熱，乃太陽陽明同治之方；此蒼朮白虎湯，治濕化為熱，乃太陰陽明同治之方。雖一味之轉旋，其義各有微妙。）</p>

<h3>竹葉石膏湯</h3>
<p>治傷寒解後，虛羸少氣，氣逆欲吐者；並治三陽合病，脈浮大在關上，但欲睡眠，合目則汗；亦治傷暑發渴，脈虛。</p>
<p>竹葉（二把）　石膏（一斤）半夏（半升）　人參（二兩）　麥冬（一升）　甘草（二兩）　粳米（半升）　以水一斗，煮取六升，去滓，納米，煮米熟湯成，去米，溫服一升，日三服。</p>
<p>竹葉石膏湯粳米，麥冬半夏草人參。三陽合病（太陽頭項痛，陽明目痛鼻乾，少陽口苦咽乾脅痛，一時並見，謂之合病。）關脈大，（邪在陽明居多，故關脈浮大。）寐則盜汗此能任。（三陽合病而盜汗出，是胃火盛而肝火乘之也。厥陰為里之闔，陽明為表之闔，二經有火，則反開而不闔，故盜汗出。是方即人參白虎加減，大清胃火以生津，用竹葉瀉肝火，半夏通陰陽，引衛氣從陽入陰，則開闔而汗即止。）傷寒病後留餘熱，少氣虛煩吐逆尋。（此仲景治傷寒愈後調養之方也。其法專於滋養肺胃之陰氣，以復津液。蓋大病之後，必有餘熱留於肺胃之間，總宜清解。後人概用峻補，以留其邪，則元氣不能驟復，愈補愈虛矣。）止嘔或加姜更效，（《集驗》載此方加生薑止嘔，最良。）脈虛傷暑渴宜斟。（暑病有虛熱者宜之。若吐逆瞀亂之證，則誤矣。）</p>

<h3>〔附〕瀉黃散</h3>
<p>（錢仲陽《小兒藥證直訣》）　治脾胃伏火，口燥唇乾，口瘡口臭，煩渴易飢，熱在肌肉。</p>
<p>石膏（五錢）　藿香（七錢）　防風（四兩）　黑山梔（一兩）　甘草（三兩）　為末，微炒香，蜜、酒調服。</p>
<p>瀉黃（散）甘草與防風，石膏梔子藿香充，炒香蜜酒調和服。（梔子、石膏瀉肺胃之火，藿香辟惡去臭，甘草調中瀉熱。重用防風者，能發脾中之伏火，又能於土中瀉木也。諸藥微炒香，則能皆入於脾。用蜜、酒調服，則能緩於中上。蓋脾胃伏火，宜徐徐而瀉卻，非比實火當急瀉也。）口臭唇瘡胃火沖，煩渴易飢（即中消證）肌肉熱，（脾胃主肌肉）脾中伏火併為功。（按：脾中伏火，何以不用黃連？吳鶴皋謂惡其燥者，非也，乃惡其遏也。蓋白虎湯治肺胃燔灼之火，身大熱煩渴而有汗者；此治脾胃鬱蒸之火，肌肉熱煩渴而無汗者，故加防風、藿香，兼取火鬱則發之義也。）</p>

<h3>〔附〕玉女煎</h3>
<p>（張介賓《新方八陣》）　治水虧火盛，六脈浮洪滑大，少陰不足，陽明有餘，煩熱乾渴，頭痛牙疼，失血等證。若大便溏者非宜。</p>
<p>生石膏（三五錢）　熟地（三五錢或一兩）　麥冬（二錢）　知母　牛膝（各一錢半）　水一鍾半，煎七分，溫服或冷服。</p>
<p>玉女煎方熟地膝，麥冬知母石膏集。（此寓補陰於清火之中。瀉黃散用防風，欲其火從上散；此用牛膝，欲其火從下達。）水虧火盛脈浮洪，（《脈訣》：「浮洪為虛火，浮滑為痰熱。」）煩熱渴干徵效必。頭痛牙疼失血餘，少陰不足陽明實。（失血之餘，雖有煩熱渴乾等證，總由陰虛火亢，治之必須滋其陰氣；若虛甚者，加人參尤妙。此方治少陰陰虛、陽明火盛之法；若少陰陽虛、陽明胃實，當用附子瀉心湯。）若然大便泄而溏，此劑非宜臨證悉。</p>

<h2>承氣湯類</h2>

<h3>大承氣湯</h3>
<p>治傷寒陽明腑證，熱邪入里，胃實不大便，潮熱譫語，自汗出，不惡寒，反惡熱，痞滿燥實堅全具；雜病三焦大熱，脈沉實滑數者；及少陰病，自利清水，色純青，心下結痛，口乾舌燥者；亦治陽明剛痙，胸滿口噤，臥不著席，腳攣急，必齘齒。</p>
<p>大黃（四兩酒洗）　厚朴（半斤炙）　枳實（五枚炙）　芒硝（三合）　以水一斗，先煮樸、實取五升，去滓，納大黃，煮取二升，去滓，納芒硝，更上微火一兩沸，分溫再服。得下，止後服。大承氣湯用芒硝，枳實大黃厚朴饒。（大黃治大實，芒硝治大燥大堅，二味治有形血藥；厚朴治大滿，枳實治痞，二味治無形氣藥。蓋腸胃燥實，氣必不通。故攻積之劑，必用氣分之藥。其煎法先煮枳、樸，次納大黃，再入芒硝，取生則氣銳而先行，熟則氣純而和緩。仲景欲使芒硝先化燥屎，大黃繼通地道，而後枳、樸除其痞滿，俾燥屎去，地道通，則陰氣上承，故方名曰「承氣」。）救陰瀉熱功偏擅，急下陽明有七條。（《傷寒論·陽明篇》中雲急下之者，共有七條，當知奪陰者芒硝，而通陰者亦芒硝，故仲景既有下多亡陰之大戒，而復著急下存陰之活法。蓋陽明燥結日久，腎中真水為熱邪吸引，告竭甚急，急瀉其熱，正以急救其陰也。）痞滿燥實堅潮熱，（此用承氣之要訣。胸悶不食為痞，胸腹膨脹為滿，大便乾結為燥，腹滿痛不大便為實，按之石硬為堅，日晡發熱為潮熱。）雜病傷寒通治療。（有是證則用是方，為千古心法。）熱利清水口乾燥，（凡口乾舌燥，皆當作熱治。下利而用硝、黃，是通因通用法。）剛痙腳攣齘齒要。（陽明之脈，下行至足，上入齒中。腳攣齘齒，是陽明邪火極盛，加以胸滿口噤，熱邪充斥三焦矣。《靈樞》謂「熱而痙者死」，而仲景云「可與此湯」，乃死裡求生之法。陰氣不盡為陽熱所劫，因而得生者多矣。）病須過經乃可下，（病至七八日為過經）下之若早語昏囂。（下早則引邪入里，語言昏亂。）承氣原為燥屎設，燥屎之證當詳標，汗出譫語（陽明本自汗出，加以譫語，胃中燥結矣。）不能食，（腸胃實極，故穀食全不能入。）喘冒不臥舌乾焦，（下既不通，必反上逆而為喘冒不得臥，舌乾焦黑，土燥水竭也。）脈滑數（為有宿食）而轉矢氣，（「矢氣」，屁氣也，燥糞下攻之徵。）此皆承氣湯宜調。（以上為用承氣之法）惡寒（病在表）嘔噦（病在上焦）俱禁用，直視喘高命不牢。（直視喘高，陽氣欲脫，雖不大便，下之必死。戒之！）</p>

<h3>小承氣湯</h3>
<p>治傷寒陽明腑證，譫言，便硬，潮熱，上中二焦痞滿不通。</p>
<p>大黃（四兩）　厚朴（二兩姜炒）　枳實（三枚麩炒）　水四升，煮取一升二合，分溫服。小承氣湯樸實黃，胸腹痞硬上中強。（大承氣湯通治三焦，小承氣湯不犯下焦，調胃承氣湯不犯上焦。）犯治胃實故曰「小」，（大承氣湯破中焦竟犯下焦，故稱曰「大」；小承氣湯獨治胃實，故曰「小」。）去硝恐令下焦傷。（不用芒硝者，恐傷下焦真陰也。）潮熱譫言（為胃家實）不欲食，（為有宿食）雖利仍為胃實殃。（下利而仍譫語不欲食，乃燥屎宿食不因下利而去，仍為胃實。醫見下利，遂不復敢議下，豈未讀仲景書乎？）又有初硬後溏者，（若腹不滿，不轉矢氣，此但初頭硬，後必溏，不可攻之；攻之必脹滿，不能食也。）宜否之間好審量。（一則下利譫語，仍宜攻下；一則便硬腹不滿，戒不可攻。仲景立法，詳審如此。）益以羌活名三化，（《機要》加羌活，名三化湯。）中風閉實可消詳。（用承氣通二便，加羌活散風邪，中風體實者可偶用，虛者不可輕投。）</p>

<h3>調胃承氣湯</h3>
<p>治熱邪結胃，胸痛心煩，口渴便秘，譫語。</p>
<p>大黃（四兩酒浸）　甘草（二兩炙）　芒硝（半升）　水三升，煮一升，納芒硝化服。</p>
<p>〔附〕當歸承氣湯（劉完素《素問病機氣宜保命集》　治裡熱火鬱，或皮膚乾燥，或咽燥鼻乾，或便溺秘結，或瘀血發狂。</p>
<p>當歸　大黃（各一兩）　甘草（半兩）　芒硝（九錢）　薑、棗煎。</p>

<h3>大黃甘草湯</h3>
<p>治食已即吐。</p>
<p>大黃（四兩）　甘草（一兩）　以水三升，煮取一升，分溫再服。</p>
<p>調胃承氣（湯）硝黃草，甘緩微和將胃保。（用甘草緩硝、黃留中泄熱，微和胃氣，勿令大泄下，故曰「調胃」，非惡硝、黃傷胃而用甘草也。）胸痛（熱邪已結）不滿（痛而不滿，邪結在血分而不在氣分。）心中煩，熱結在胃陰津燥。（故心煩也）不用樸實傷上焦，（不用厚朴、枳實，恐傷上焦氤氳之氣，且恐辛燥重劫胃津也。）中焦燥實服之好。便秘膚燥瘀血（發）狂，當歸承氣湯宜討。（加當歸入血潤燥，與桃仁承氣同意。）《金匱》大黃甘草湯，食已即吐義當考。（《素問·至真要大論》曰：「諸逆衝上，皆屬於火。」此食已即吐，是有火也。升而不降，則當逆而折之，引令下行，故用此法。若朝食暮吐，仍然完穀，是無火也，忌服。）</p>

<h3>桃仁承氣湯</h3>
<p>治太陽病不解，熱結膀胱，少腹脹滿，大便黑，小便利，燥渴，忽忽如狂，至夜發熱；及瘀血胃痛，血結胸中痛，瘧疾實熱夜發，痢疾畜血急痛；並能治敗血留經，通月事。</p>
<p>桃仁（五十枚去皮尖）　桂枝（二兩去皮）　大黃（四兩）　芒硝　甘草（各二兩）　水七升，煮二升半，去滓，納硝，更上火微沸，分溫三服，當微利。</p>
<p>桃仁承氣（湯）　五般奇，甘草硝黃並桂枝。（硝、黃、甘草，本皆入血之品，即調胃承氣湯也。熱甚搏血，故加桃仁潤燥緩肝，直達血所而攻之。加桂枝者，以表未解故耳。）熱結膀胱（太陽之邪，由經入腑，結於膀胱之部。）小腹滿，（小腹中央為膀胱之部，左右為肝之部。凡胸腹脹滿，按之不痛者為氣結，痛者為血結。）如狂畜血最相宜。（心主血，熱與血結，則心神不寧，故昏亂而如狂。）畜血之證大便黑，（熱極則黑，血凝之色亦黑。）小便自利（小便利而少腹仍滿，故知為畜血。蓋血病而氣化無病也。）脈沉遲，（血結則脈不流利，故沉微而遲。）但欲漱水不欲咽，（津不上承，故唇口乾燥，畜血在中，故不能容水，與濕熱為病，雖渴而不欲飲同。但濕熱則舌有胎，畜血則舌無胎為別。）此皆血證諦宜知。（以上皆畜血現證）死血瘀凝胃脘痛，（脈必澀，飲下作呃。）善飢（胃火）經閉（血積）並能醫。小便不利（膀胱有濕熱，非畜血也。）肢寒者，（少腹滿，手足寒，此為冷結在膀胱關元也。當用溫藥。）非關畜血莫輕施。</p>

<h3>抵當湯及丸</h3>
<p>治傷寒畜血；並治癥瘕，追蟲攻毒甚佳。</p>
<p>水蛭（熬）　虻蟲（去翅足熬各三十枚）　桃仁（二十枚）　大黃（三兩酒浸）　水五升，煮三升，去滓，溫服一升。不下，再服。抵當丸方即以四味搗，分為四丸，以水一升，煮一丸，取七合，服之晬時當下血。不下，更服。</p>
<p>抵當（湯）直抵當攻處，破血攻堅仗銳師，虻蛭桃仁大黃制，（畜血久積，真氣運行不入，故草木不能獨治其邪，必以靈動嗜血之蟲，為之嚮導，飛者走陽絡，潛者走陰絡，引領桃仁攻血，大黃下熱，破無情之血結，誠有奇功，毋懼乎藥之險也。）峻攻畜血效稱奇。（桃仁承氣治畜血之初結者，此方治畜血之久瘀者。病有淺深，故攻有緩急。）婦人石瘕咸堪治，對證投劑莫遲疑。（按：石瘕之證，因寒氣客於子門，氣不得通，惡血留止，其始生也，少腹有塊，大如雞卵，日以益大，狀如懷子，月事不以時下，可導而下，經有明文。世醫治此證，終不敢議導下，但用養血和營，以為穩當；不知瘀血不去，新血終不得生，若徒養血，適以添瘀，是猶養虎為害也。余嘗遇此證，令服此丸，下汙泥血塊升許，其腹脹痛稍松。）</p>

<h3>〔附〕代抵當丸</h3>
<p>（王肯堂《證治準繩》）　治畜血、瘀血、血痛。</p>
<p>大黃（四兩酒洗）　桃仁（六十枚）　生地　歸尾　穿山甲　玄明粉（各一兩）　桂（三錢或五錢）蜜丸。</p>
<p>代抵當丸（水蛭即螞蝗，虻蟲即蚊蟲，因二物善食人血，故用以治血積。但性猛有毒，人皆畏服，故更制代抵當丸。）首大黃，桃仁歸尾生地勷，玄明肉桂穿山甲，攻瘀可代抵當湯。（桃仁、歸尾、生地潤以通之，桂心熱以動之，大黃、玄明粉苦寒咸以推蕩之，加山甲引之以直達瘀所也。）</p>

<h3>大陷胸湯</h3>
<p>治傷寒發熱，不發汗而反下之，表熱乘虛入於胸中，與不得為汗之水氣結而不散，令心下至少腹石硬而痛不可近者，名大結胸證。其人身無大熱，但頭汗出，或潮熱燥渴，脈沉而緊。</p>
<p>大黃（六兩酒洗）　芒硝（一升）　甘遂（一錢匕）　水六升，先煮大黃取二升，去滓，納芒硝，煮一二沸，納甘遂末，溫服一升。得快利，止後服。</p>

<h3>大陷胸丸</h3>
<p>治結胸項強，如柔痙狀者；並治陽明熱喘，及水腫初起形實者。</p>
<p>大黃（半斤）　葶藶子（熬）　芒硝　杏仁（各半升去皮尖熬黑）　先搗葶藶、大黃為末，納杏仁、芒硝合研如脂，和散，取如彈丸一枚；別搗甘遂末一錢匕，白蜜二合，水二升，煮一升，溫，頓服之，一宿乃下。不下，更服。</p>
<p>大陷胸（湯）治大結胸，大黃（滌熱蕩實）芒硝（軟堅破結）甘遂（逐水消飲）從。心腹石硬（結胸之的證）痛拒按，（心下至少腹石硬而痛不可近，較承氣證為尤甚。）便秘焦煩燥渴供。（與承氣證同）但頭汗出脈沉緊，（結胸因下早，致熱與水結，熱不外泄，而但上蒸，故頭有汗而身無汗。脈沉緊者，水遏熱伏，陽病（反見陰脈。）水結胸中治亦同。（結胸本無他物，熱與水氣結也。）項若強如柔痙狀，更加葶杏蜜丸攻。（名大陷胸丸　結胸項強，邪據太陽之高位矣，故於前方加葶藶、杏仁，從高陷下其邪。蜜丸者，欲其緩攻於下也。）此泄水邪並熱實，（此陷胸湯丸之總訣）太陰寒實勿相蒙。（寒實結胸，治宜溫下，誤服寒藥則死。）後人通變斯方治，熱喘水腫有殊功。（按：大陷胸丸，王海藏以之治陽明熱喘，柯韻伯以之治水腫初起形實者，均收奇效。可知古方貴於活用，觸類旁通，醫之能事畢矣。）</p>

<h3>麻仁丸</h3>
<p>治脾約，大便難，小便數，關脈浮澀者。此潤腸之主方。</p>
<p>大麻仁（二升）　杏仁（一斤去皮尖）　白芍（半斤）　大黃（一斤）　厚朴（一尺炙）　枳實（半斤）為末，煉蜜丸如桐子大，飲服十丸，日二服。漸加，以利為度。</p>
<p>麻仁丸方治脾約，枳樸大黃麻杏芍。土燥津亡大便難，養液通幽蜜丸嚼。（脾約為脾土過燥、胃液日亡，故以麻、杏潤脾燥，白芍安脾陰，而後以枳、樸、大黃承氣法勝之，則下不亡陰。法中用丸漸加者，脾燥宜用緩法，滋柔潤下，以遂脾欲，非比胃實當急下也。）</p>

<h3>大黃黃連瀉心湯</h3>
<p>治心下痞，按之濡，大便硬，不惡寒，反惡熱，脈關上數者；心火亢盛，吐衄不止，甚良。</p>
<p>大黃（二兩）　黃連（一兩）　以麻沸湯二升，漬之須臾，絞去滓，分溫服。（此法之最奇者，不取煎而取泡，欲其輕揚清淡，以滌上焦之邪。）</p>

<h3>附子瀉心湯</h3>
<p>治心下痞，大便硬，心煩不得眠，而復惡寒汗出者。</p>
<p>大黃（二兩酒浸）　黃連（炒）　黃芩（各一兩炒）　附子（一枚去皮別煮取汁）　以麻沸湯二升，漬三黃鬚臾，絞去滓，納附子汁，分溫再服。（此法更精。附子用煎，三味用泡，扶陽欲其熟而性重，開痞欲其生而性輕也。）</p>

<h3>大黃附子湯</h3>
<p>治脅下偏痛，脈弦，大便難，發熱惡寒。</p>
<p>大黃（三兩）　附子（三枚）　細辛（二兩）　水五升，煮二升，分溫三服。</p>
<p>大黃黃連瀉心湯，心痞惡熱乃堪嘗，（若心下痞惡寒者，表未解也，不可攻痞，當先解表，表解乃可攻痞。）按之自濡為虛痞，數（脈）在關上君火強，瀉火通陰痞自化，（痞有不因誤下而成者。關上脈數，繫心火亢盛，不得下交於陰，而中宮受其燔灼，氣失升降而為痞。按之自濡，是無形者也，故獨任苦寒，便可泄卻，如大黃瀉營分之熱，黃連泄氣分之熱，且大黃有攻堅破結之能，其泄痞之功，即寓於瀉熱之內。以麻沸湯漬絞其汁，取其氣不取其味，治虛痞不傷正氣也。）火炎吐衄最為良。（按：吐衄之證，世醫率用寒涼止血，不知血得寒則凝，血止之後，必有瘀凝胃絡，或為胸脅疼痛，或至夜微熱不除，而貽余患者多矣。審其果為實火迫血妄行，不若竟用此方，瀉火通陰，行瘀止血之為美備也。）更加黃芩與附子，附子瀉心湯法彰，惡寒汗出亡陽兆，（故用附子）便硬心煩痞熱殃，（故用三黃）痞乃熱邪寒藥治，（傷寒痞滿，從外之內，滿在胸而不在胃，多屬熱邪，故宜苦寒瀉之；若雜病之痞，從內之外，則又宜辛散也。）陽虛加附始相當。（附子非瀉心之藥。心下痞而復惡寒汗出，陽氣外撤矣。若但以苦寒瀉痞，恐其虛寒驟脫，故用三黃撤三焦而瀉熱，即用附子徹上下以溫經。三黃用麻沸湯漬，附子別煮汁，是取三黃之氣輕，附子之力重，其義仍在乎救亡陽也。）大黃附子湯同意，溫藥下之妙異常，主治脅疼脈弦緊，便難寒熱互參詳。（按《金匱要略·腹滿寒疝宿食篇》云：「脅下偏痛，發熱，其脈緊弦，此寒也，以溫藥下之，宜大黃附子湯。」又云：「趺陽脈微弦，法當腹滿；不滿者，必便難，兩脅疼痛，此虛寒從下上也，當以溫藥服之。」又曰：「寸口脈弦者，即脅下拘急而痛，其人嗇嗇惡寒也。」合三條觀之，見脅下偏痛，脈弦緊，為陰寒成聚；大便難，發熱惡寒，為陽氣被郁。故以附子破陰寒，細辛散浮熱，大黃通便難，共成溫下之功。夫附子瀉心湯用芩、連佐大黃，以祛膈上之熱痞，即兼附子之溫以散之；大黃附子湯用細辛佐附子，以攻脅下之寒結，即兼大黃之寒，導而下之。）寒則宜溫積宜下，後人效法好商量。（許學士溫脾湯，治寒積腹痛泄瀉，即效仲景溫藥下之之法也。）</p>

<h3>大黃䗪蟲丸</h3>
<p>治五勞虛極羸瘦，腹滿不能飲食，食傷，憂傷，飲傷，房室傷，飢傷，勞傷，經絡營衛氣傷，內有乾血，肌膚甲錯，兩目暗黑者，用此緩中補虛。</p>
<p>大黃（十分蒸）　黃芩（二兩）　杏仁　桃仁（各一升）　地黃（十兩）　乾漆（一兩）　虻蟲（一升）　水蛭（百枚）　蠐螬（一升）　䗪蟲（半升）　芍藥（四兩）　甘草（三兩）　蜜丸小豆大，酒服五丸，日三服。</p>
<p>䗪蟲丸（䗪蟲破堅通絡行傷，大有功效，故方名表之。）治乾血勞，（喻嘉言《醫門法律》曰：「此乾血勞之良治也。血結在內，手足脈相失者宜之。」）大黃（從胃絡宣瘀潤燥）地黃（滋腎燥）芩（清肺衛）杏（潤心營）桃，（補肝虛）芍藥（扶脾補虛）甘草（緩中解毒）與乾漆，（破脾胃關節之瘀血）虻蟲（性升入陽絡破血）水蛭（性潛入陰絡逐瘀）並蠐螬。（去脅下之堅血）血既瘀干攻必潤，潤補兼投瓊玉膏。（按：五勞虛極痹而內成乾血者，悉皆由傷而血瘀，由瘀而為乾血。假如食傷脾，憂傷肺，醉飲傷肝，房室傷腎，勞傷心，飢傷胃，是諸傷者，總皆傷其經絡營衛之氣也。細繹本文云「腹滿不能飲食，肌膚甲錯，兩目暗黑」，明是不能納穀以通流營衛，則營衛凝泣。瘀積之血，牢不可破，即有新生之血，亦不得暢茂條達，惟有日漸羸瘦，而成內傷乾血勞，其有不死者幾希矣。仲景另出手眼而制此方，以緩中補虛。緩者，舒也，綽也，指方中寬舒潤血之品言也。故喻嘉言《醫門法律》謂兼入瓊玉膏潤補之藥同用尤妙，勿以耆、術補中，失卻寬舒胃氣之義。仲景妙法，得喻氏之言而益彰，活人無算矣。）</p>

<h3>〔附〕百勞丸</h3>
<p>（吳昆《醫方考》）　治一切勞瘵積滯，未經藥壞者。</p>
<p>當歸　乳香（去油）　沒藥（去油）　人參（各一錢）　虻蟲　水蛭（各十四枚）　大黃（四錢）　為細末，煉蜜丸桐子大，每服百丸，五更用百勞水（即甘瀾水，以杓揚百遍者也。）下，取下惡物為度。服白粥十日。（一方有桃仁十四枚）百勞丸用大黃歸，虻蛭參桃乳沒揮。乾血沉疴勞瘵服，未經藥壞別從違。（百勞丸，許州陳大夫流傳出自仲景方，治一切勞瘵積滯，未經藥壞者。細繹是方，無非氣血並補，和營逐瘀，其緩中補虛之義，毫不相關，較之《金匱》䗪蟲丸方，卻遜一籌。惟用百勞水不助腎邪，以藥留頓中宮，導去脾胃絡之瘀血，使其納穀流通營衛，亦乾血勞之良治。）</p>

<h3>大黃牡丹湯</h3>
<p>治大腸癰，其候少腹腫痞，按之即痛如淋，小便自調，發熱惡寒，汗出。其脈遲緊，膿未成者，可下之，當有血；脈洪數者，膿已成，不可下也。</p>
<p>大黃（四兩）　牡丹皮（一兩）　桃仁（五十枚）　甜瓜子（半升）　芒硝（三合）水六升，煮取一升，去滓，納芒硝，再煎沸，頓服之。有膿當下膿，無膿當下血。</p>
<p>大黃牡丹湯下劑，桃仁瓜子與芒硝。少腹腫痞按之痛，痛即如淋（大腸之熱下注也）小便調。（病不在小腸水道，故小便自調。）身皮甲錯（營血痹聚之故）右足屈，（大腸癰初起，便右足屈而不伸，小腸癰則左足屈而不伸，以此為區別。）大腸癰腫此能消。脈沉緊者未成膿，脈洪數者膿已饒。膿未成斯宜下奪，膿成排膿散（排膿散另編《甘桔湯類》）宜邀。（大腸癰者，其人平素嗜醇酒炙煿，濕熱鬱蒸，肺氣不得宣通，下結於大腸之頭，氣血壅遏而成病。在下者因而奪之，故重用大黃、芒硝，開大腸之結，桃仁、丹皮下將敗之血，瓜子清肺潤腸，以肺與大腸為表裡也。方後云服之「當有血」，下未化膿之血也。若膿已成，形肉已壞，又當用排膿散治之，故曰「膿已成，不可下也」。）</p>

<h3>〔附〕黃龍湯</h3>
<p>（陶節庵《傷寒六書》）　治熱邪傳裡，胃有燥屎，心下硬痛，身熱、口渴、譫語，下利稀水，色純青。</p>
<p>大承氣湯方內加人參、當歸、甘草、桔梗，薑、棗煎。</p>
<p>黃龍湯即大承氣（湯），加人參歸甘桔比。煎加薑棗治陽明，證實體虛熱結利。（按：體質氣血虛人，而得陽明胃實之證，或因病誤治致虛，而燥屎猶未去者，不下則邪氣壅實而死，下之又恐正氣益虛而即脫。此方攻補兼施，庶幾不犯虛虛之禍。曰「黃龍」者，大黃得人參為佐，則能神其功用，如龍得云助，升騰上下，莫能測其變化也。）胃有燥屎心下堅，譫語下利純清水。（按：胃有燥屎，何以又下清水？陶氏《傷寒六書》曰：「此利非內寒而利，乃日逐自飲湯藥而利也，直急下之，名曰結熱利證。」又曰：「庸醫妄謂漏底傷寒，而便用熱藥止之，猶如抱薪救火，誤人死者多矣。」）攻補兼施此法良，老年除去芒硝餌。（老人氣血虛甚者，去芒硝，恐重劫其陰也。）</p>

<h3>〔附〕溫脾湯</h3>
<p>（許叔微《普濟本事方》）　治痼冷在腸胃間，泄瀉腹痛。</p>
<p>厚朴　桂心　附子　乾薑　甘草（各半兩）　大黃（四錢）　㕮咀，取一兩，水二鍾，煎六分，頓服。</p>

<h3>〔附〕溫脾湯</h3>
<p>（孫思邈《千金要方》）　治久痢赤白，脾胃冷積，臍腹絞結痛甚。</p>
<p>人參　附子　芒硝　甘草（各二兩）　大黃（五兩）　當歸　乾薑（各三兩）㕮咀，以水七升，煮取三升，分服，日三。</p>
<p>溫脾湯里大黃少，桂附姜甘厚朴多。（許叔微此方，仿仲景溫下之法，以下腸胃之冷積。夫冷積腹痛泄瀉，而仍下之者，以錮冷積滯，久留腸胃而不去，徒用溫補無益也。今此方以乾薑、桂、附為君，復入承氣湯法，其大黃止用四錢，更為有見。蓋不用則溫藥必不能下，而久留之積，非攻不去；多用則溫藥恐不能制，而洞泄之勢，或至轉增。裁酌用之，真足為法矣。）痼冷久留腸胃瀉，宜先取去勿蹉跎。（許叔微《普濟本事方》曰：「痼冷在腸胃間，連年泄瀉腹痛，休作無時，服諸藥不效，宜先取去，然後調治易瘥。不可畏虛以養病也。」旭高按：畏虛養病，為千古之通弊。叔微此語，頂門一針，醫當猛省。）或益參歸除桂樸，亦號溫脾治不訛。寒熱並行下寒積，臍腹絞結痛難過。（《千金》此方，重用大黃，略兼溫補，與《本事方》重用溫通，略加大黃，法有殊矣。蓋《本事方》治冷積泄瀉，故大黃宜少用；此治滯下赤白，是其始原由於熱積，故重用大黃，因痢久脾胃虛寒，而積仍未去，故加參、甘、薑、附，溫補中宮。同一大黃，而佐使君臣不同，則治證亦因之而異，後人烏得以古方輕於加減也。按：古方中多硝、黃、芩、連，與薑、茱、桂、附寒熱並用者，亦有參、朮、硝、黃補瀉兼施者，亦有大黃、麻黃汗下同行者，今人罕識其旨，姑錄數方於上，以見治療之妙，不一端也。）</p>

<h3>〔附〕檳榔丸</h3>
<p>（《聖濟總錄》）　治虙瘕，積聚腹痛，大便堅澀，或時通者。</p>
<p>檳榔　大黃（炒）　枳殼（各二兩麩炒）　桃仁（去皮尖麩炒）　大麻仁　木香（各一兩）蜜丸，每服十丸，溫酒下。</p>
<p>《聖濟》檳榔（丸）治虙瘕，（《素問·氣厥論》曰：「小腸移熱於大腸為虙瘕。」）腹中瘕痛時寬窄。大腸熱結（大）便時堅，虙者伏也瘕者瑕。「（大腸為傳導之腑，熱則氣結液耗，腹痛便澀，然或有時而通，故腹雖有形，聚散靡常，是為虙瘕。虙者，伏也。」瘕「與」「瑕」通，女病恆有之。）潤腸泄熱必通幽，大黃枳殼無多寡，木香桃仁大麻仁，（檳榔、木香、枳殼泄決大腸之氣，大黃、桃仁、麻仁潤下大腸之熱，與潤腸通幽二方同義。）宣通其腑奪其下。（治在腑者，宣而通之；病在下者，因而奪之。）</p>

<h3>〔附〕木香檳榔丸</h3>
<p>（張子和《儒門事親》）　治胸腹積滯，痞滿結痛，二便不通，或泄瀉下痢，裡急後重，食瘧實積。</p>
<p>木香　檳榔　莪朮　陳皮　青皮　黃柏（各一兩）　黃連　大黃（各三兩）　香附　黑牽牛（各四兩）　為細末，水丸如小豆大，每服三十丸，食後，生薑湯送下。（一方有三稜、枳殼，芒硝水丸。）</p>
<p>木香檳榔（丸）青陳皮，三黃莪朮附（香附）牽牛，一切實積能推蕩，瀉痢食瘧用鹹宜。（此子和經驗方也，善能推陳致新，破結散積。大人食積瘧痢，黃疸腫脹，小兒驚疳積熱，皆可隨宜服之。木香、香附、青、陳利氣寬腸，而牽牛、檳榔下氣尤速，氣行則無痞滿後重之患矣。連、柏燥濕清熱，莪朮行氣破血，硝、黃去血中伏熱，併為推堅峻品。濕熱積滯去，則二便調而三焦通泰矣。蓋宿垢不淨，清陽終不得升，故必假此以推蕩之，亦通因通用之法也。）</p>

<h3>〔附〕枳實導滯丸</h3>
<p>（李東垣《內外傷辨惑論》）　治傷濕熱之物，不得施化，痞悶不舒，腹中硬痛，積滯泄瀉等證。</p>
<p>大黃（一兩）　枳實（麩炒）　神麯（炒各五錢）　黃芩（酒炒）　黃連（酒炒）　白朮（土炒）　茯苓（各三錢）　澤瀉（二錢）　研細末，湯浸蒸餅為丸，量服。（程玠《松崖醫徑》加檳榔、木香，名木香導滯丸，治同。）</p>
<p>枳實導滯（丸）首大黃，芩連曲枳朮苓勷，澤瀉蒸餅糊丸服，濕熱積滯力能攘。（大黃、枳實盪滌實熱，芩、連燥濕清熱，苓、瀉利濕泄熱，神麯消食和中，白朮補脾，濕熱積滯自化。）若還後重兼氣滯，木香導滯（丸）加檳榔。（汪訒庵《醫方集解》引滑伯仁曰：「腸胃，陽明燥金也。後重之用木香、檳榔，行燥金之郁也。」）</p>

<h3>〔附〕涼膈散</h3>
<p>（《太平惠民和劑局方》）　治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂，吐血衄血，大小便秘，諸風瘛瘲，胃熱發斑發狂；及小兒急驚，痘瘡黑陷。</p>
<p>連翹（四兩）　大黃（酒浸）　芒硝　甘草（各二兩）　黑山梔　黃芩（酒炒）　薄荷（各一兩）　為末，每服三錢，加竹葉、白蜜煎。（加青黛、藍根，名活命丹。）</p>

<h3>〔附〕轉舌膏</h3>
<p>（李梃《醫學入門》）　治中風舌強不語。</p>
<p>即涼膈散加菖蒲、遠志各一兩。</p>
<p>涼膈（散）硝黃梔子翹，黃芩甘草薄荷饒，竹葉蜜煎療膈上，中焦燥實服之消。（此上中二焦瀉火藥也。熱淫於內，治以鹹寒，佐以苦甘，故以連翹、黃芩、竹葉、薄荷升散於上，而以大黃、芒硝推蕩其中，使邪熱上散下行，而膈自清矣。用甘草、白蜜者，病在膈，甘以緩之也。）溫邪吐衄斑狂要，幼稚驚風痘陷邀。（皆上中二焦之火為患）減去硝黃加桔梗，上焦風熱總堪調。（李東垣曰：「易老減硝、黃，加桔梗上浮之藥，以治胸膈與六經之熱。」）中風不語加菖遠，此又名為轉舌膏。（喻嘉言曰：「中風證大勢風木合君相二火主病，古方用涼膈散居多。蓋風火上炎，胸膈正燎原之地，所以轉舌膏、活命丹皆從而加味，不可以宣通腸胃輕訾之也。」汪訒庵《醫方集解》曰：「轉舌膏散心經之蘊熱也，活命丹散肝經之鬱火也。」）</p>

<h3>〔附〕防風通聖散</h3>
<p>（劉完素《宣明論方》）　治風熱壅盛，氣血怫鬱，表裡三焦皆實者；並治瘡瘍腫毒。</p>
<p>防風　連翹　麻黃　薄荷　川芎　當歸　白芍　大黃　芒硝（各五錢）　白朮　荊芥　黑山梔（各一分）　黃芩　石膏　桔梗（各一兩）　甘草（二兩）　滑石（三兩）　為末，每服二錢，加生薑煎。（汪訒庵《醫方集解》去大黃、芒硝，名雙解散。）</p>
<p>防風通聖（散）即涼膈（散），去竹蜜兮更加闢。（此即涼膈散變法，去竹葉、白蜜，而加發表和氣血藥。）麻桔荊防滑石膏，芎歸術芍生薑益。（荊、防、麻黃、薄荷發汗而散熱搜風，梔子、滑石、硝、黃利便而降火行水，芩、桔、石膏清肺瀉胃，川芎、歸、芍養血補肝，連翹散氣聚血凝，甘、術能補中燥濕，生薑通徹表裡，汗不傷表，下不傷里。名曰「通聖」，極言其用之效耳。）風熱壅盛此方通，表裡交攻為效碩。（此為表裡，氣血、三焦通治之劑。）瘡瘍癰毒總能消，（瘡瘍腫毒，亦由風熱壅盛，氣血怫鬱而成。）除卻硝黃雙解亦。（去硝、黃亦能雙解表裡，大便不硬者宜此。）</p>

<h2>十棗湯類</h2>

<h3>十棗湯</h3>
<p>治太陽中風，下利嘔逆，表解者乃可攻之，其人漐漐汗出，頭痛，心下硬滿，引脅下痛，乾嘔短氣，汗出不惡寒者，為表解里未和也。並治飲後水流脅下，咳唾引胸中痛，謂之懸飲，脈沉而弦，不猝死，至百日或一歲者。</p>
<p>芫花（炒黑）　甘遂　大戟（等分）　大棗（十枚）　各別搗為散，以水一升半，先煮大棗取八合，去滓，納余藥末。強人服一錢，虛人服五分。得快利後，糜粥自養。</p>

<h3>〔附〕三花神祐丸</h3>
<p>（劉完素《宣明論方》）　治實熱積痰，翻胃噎膈，濕熱腫滿。十棗湯原方加大黃一兩，黑牽牛二兩，輕粉一錢，滴水為丸。</p>
<p>十棗湯用芫遂戟，峻攻水氣威靈赫。下利胸脅痞硬痛，汗出短氣乾嘔逆。（諸證皆水氣為患。仲景利水之方，種種不同，此其最峻者也。芫花、甘遂、大戟為決水之猛藥，故用大棗甘以緩之，欲其緩循經絡，不欲其徑走腸胃也。緩攻則從心及脅之水飲，皆從二便出矣。）咳唾引（胸脅）痛為懸飲，飲踞久必成囊癖。搗囊破癖飲斯蠲，（懸飲者，如懸物也。水飲痰涎，久踞經絡，結成窠囊，懸於脅下，惟此三味，能直達水飲窠囊隱僻之處，非他藥所能及。本論云「懸飲不猝死，至百日或一歲者，宜十棗湯」，可知其證之來有漸矣。）羸弱虛人勿輕擲。河間三花神祐丸，大黃輕粉牽牛益。善通壅塞劫痰涎，（牽牛、大黃大瀉血氣之壅塞，輕粉劫痰，無竅不入。）積痰噎膈能開闢。（劉完素云：「積痰翻胃噎膈，服此藥三丸後，轉加痛悶者，此痰涎壅塞，頓攻不開，再服自利也。」）</p>

<h3>〔附〕控涎丹</h3>
<p>（陳言《三因極一病證方論》）治人忽患胸背手足腰項筋骨牽引釣痛，走易不定；或手足冷痹。此乃痰涎在胸膈上下，非風證也。</p>
<p>甘遂（去心）　大戟（去皮）　白芥子（各等分）　為末糊丸，每服五、七丸，加至十丸，臨臥薑湯下。</p>
<p>控涎丹治痰之本，（痰之本，水也，濕也，得氣與火，則結為痰。）痰涎變證悉能醫。（李時珍《本草綱目》曰：「痰涎之為物，隨氣升降，無處不到：入於心，則迷竅而成癲癇，妄言妄見；入於肺，則塞竅而成咳唾稠黏，喘急背冷；入於肝，則留伏蓄聚而成脅痛乾嘔，寒熱往來；入於經絡，則麻痹疼痛；入於筋骨，則頸項胸背腰脅手足牽引隱痛。陳言《三因方》並以控涎丹主之，殊有奇效。」）走注麻痹牽引痛，胸背腰項或四肢，或噎或喘或癲癇，癰腫瘰癧並主之。臟腑水濕大戟泄，經隧水濕甘遂推，皮裡膜外消痰氣，芥子之功信甚奇。（白芥子色白入肺而達上焦，消皮裡膜外之痰；甘遂色黃入脾而行中焦，決經隧之水濕；大戟色黑入腎而走下焦，泄臟腑之水濕。三者引經各異，而令三焦之水濕痰涎流出於水道則同，故復用成方。惟善用者，能收奇功也。）</p>

<h2>備急丸類</h2>
<p>備急丸　治食停腸胃，冷熱不調，腹脹氣急，痛滿欲死；及中惡客忤，猝暴諸疾病。</p>
<p>巴豆（去皮心膜研如脂出油取霜）　大黃　乾薑（各一兩）　上藥各須精新，先搗大黃、乾薑為末，納巴豆霜，合治一千杵，用為散，蜜和丸亦佳。密器中貯之。以暖水苦酒，服大豆許三四丸。或不下，捧頭起灌令咽，須臾當瘥；如未瘥，更與三丸，當腹中鳴，即吐下，便瘥。若口噤，亦須折齒灌之。</p>

<h3>三物白散</h3>
<p>治寒實結胸，無大熱者。</p>
<p>巴豆霜（一分）　川貝母　桔梗（各三分）　研末，納巴豆霜更杵之，以白飲和服。強人半錢匕，羸者減之。病在膈上必吐，在膈下必利。不利，進熱粥一杯；利過不止，進冷粥一杯。（巴豆得熱則行，得冷則止。）</p>
<p>備急丸醫猝暴疾，中惡欲死腹脹急。大黃乾薑巴豆霜，斬關奪門而直入。（大黃苦寒下熱結，巴豆辛熱下寒結，二藥性味相畏，同用瀉人反緩。更妙在乾薑之辛散，引領巴、黃，內通神明，外辟惡忤，助其斬關奪門之勢，而成撥亂反正之功。）神昏口噤齒不開，折齒灌之猶可及。（中惡客忤，神昏口噤，折齒灌之立蘇。）寒實結胸（與大結胸證相似，但無熱渴煩躁見象。蓋彼因熱實，此屬寒實也。）三白散，貝母桔梗巴霜翕。（貝母、桔梗開提肺氣以消痰散結，巴豆劫寒破實以開結胸。作散服者，欲其散中焦之寒實也。）藥不瞑眩疾不瘳，此等諸方宜佩給。（預先修合，佩帶在身，以救倉猝之證。）</p>

<h3>〔附〕感應丸</h3>
<p>（《太平惠民和劑局方》）　治冷積瀉痢之良方。</p>
<p>木香（二兩半）　肉豆蔻（二十個）　丁香（一兩半）　乾薑（炮一兩）　百草霜（細研二兩）　杏仁（一百四十粒去皮尖別研極爛如膏）　巴豆（七十粒去心皮膜研如脂出油）　除巴豆粉、百草霜、杏仁外，餘四味搗為細末，共和合研令細，用好蠟匱和。先將黃蠟六兩溶化，重絹濾去渣，以好酒一升於砂鍋內煮數沸，候酒冷蠟浮，取蠟秤用。凡春夏修合，用清油一兩，入銚熬熟，取蠟四兩，同化成汁，就銚內和前藥末，乘熱拌勻，丸如豆大，每服三十丸，空心薑湯下。　感應（丸）肉蔻丁木香，巴杏乾薑百草霜。（肉豆蔻逐冷消食，丁香、木香暖胃和脾，杏仁消肉積而降氣，乾薑逐痼冷而散痞，巴豆善破沉寒，奪門宣壅，寒積深痼，非此莫攻，百草霜和中溫散，亦能消積，統計諸藥，同成溫下之法。）蠟丸空腹薑湯下，（用黃蠟之義最精。凡治積，新病宜急下，久病宜緩下。此治久積痼冷，乃緩下法也。）冷積瀉痢真奇方。（趙獻可《醫貫》曰：「此方妙不可言，雖有巴豆，不令人瀉，其積自然消化。」李時珍《本草綱目》曰：「一老婦年六十餘，病溏瀉已五年，肉食油物生冷犯之即作痛，服調脾升提止澀諸藥，入腹則瀉反甚。延余診之。脈沉而滑，此乃脾胃久傷，冷積凝滯所致，王太僕所謂『大寒凝內，久利溏泄，愈而復發，綿歷數年'者，法當以熱下之，則寒去痢止。遂以蠟匱巴豆丸藥五十丸與服，二日大便不通，亦不利，其泄遂愈。自是每用治泄痢積滯諸病，皆不泄。」）</p>

<h3>〔附〕太平丸</h3>
<p>（張介賓《新方八陣》）　治胸腹疼痛脹滿，及食積、氣積、血積、蟲積、氣疝血疝、膨脹、癥瘕、邪實秘滯痛劇等證。</p>
<p>陳皮　厚朴　木香　烏藥　白芥子　草豆蔻　三稜　莪朮（煨）　乾薑　牙皂（炒）　澤瀉（各三錢俱研細）　巴豆（用滾湯泡去皮心膜秤足一錢）</p>
<p>先將巴豆用水一碗，微火煮至半碗，將巴豆撈起，用乳缽研極細，仍將前湯攙入研勻，然後量藥多少，入蒸餅浸爛，搗丸前藥如綠豆大，每用三分或五分，甚者一錢，用熱薑湯下。瀉多不止，飲冷水一二口即止。如未利，再服。</p>
<p>太平（丸）莪朮芥三稜，樸瀉姜陳牙皂朋，烏藥木香草豆蔻，些微巴豆力能勝。（此方借些微巴豆，以行群藥之力，去滯最妙。如欲其峻，須用巴豆二錢。）食蟲氣血諸停積，脹痛難過總可憑。（按：《金匱》備急丸治冷熱交結之積，《局方》感應丸治寒凝之積，景岳此方治氣食停滯秘實之積，其蟲積與血積，乃藉以為治也。）隨證用湯為引下，（凡傷食停滯，即以所傷之物，煎湯送下；婦人血氣痛，當歸湯下；氣實痛，陳皮湯下；疝氣，茴香湯下；寒氣，生薑湯下；氣濕實滯臌脹，用燒酒加白糖少許送下；蟲痛，檳榔湯下。）利多飲冷效堪徵。（巴豆瀉人，得冷則止，故服巴豆丸散，利多不止者，飲冷粥一二口即止也。）</p>

<h2>柴胡湯類</h2>

<h3>小柴胡湯</h3>
<p>治傷寒中風，少陽病口苦咽乾，目眩耳聾，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，或胸中煩而不嘔，或渴，或腹中痛，或脅下痞硬，或心下悸、小便不利，或不渴、身有微熱，或咳，或汗後餘熱不解，或瘧發寒熱，婦人傷寒，熱入血室，暮則讝語；並治傷寒陽微結，頭汗肢寒，脈細便堅，亦半表裡也。</p>
<p>柴胡（半斤）　黃芩　人參　炙草　生薑（各三兩）　半夏（半升）　大棗（十二枚）　以水一斗二升，煮取六升，去滓再煎，（此方為和解之劑。去滓再煎，則藥性和合，不相捍格矣。）取三升，分溫三服。</p>

<h3>柴胡加芒硝湯</h3>
<p>治陽明病潮熱，大便溏，小便利，胸脅滿而不去。先服小柴胡一劑乃進。</p>
<p>柴胡（二兩十六銖）　黃芩　炙草　人參　生薑（各一兩）　半夏（二十銖）　大棗（四枚）　芒硝（二兩）　水四升，煮取二升，去滓，納芒硝，更煮微沸，分溫再服。不解，更作服。　小柴胡湯和解供，（少陽為半表半裡，汗、吐、下皆在所禁，法當和解，此方主之。）半夏人參甘草從，更用黃芩與薑棗，少陽百病此為宗。（此和解少陽之主方。柴胡升陽達表，黃芩退熱和陰，半夏和胃而通陰陽，參、甘、薑、棗補中氣，調營衛，經言「交陰陽者，必和其中」是也。）往來寒熱（太陽之寒熱，寒時亦熱，熱時亦寒；少陽之寒熱，寒已而熱，熱已而寒，故曰「往來」；若陽明則但熱不寒，以此為別。）胸脅滿，（少陽行身之側，故胸脅苦滿。）喜嘔心煩（木火上逆，故煩而嘔；嘔則木火兩舒，故喜之也。）或眩聾，（少陽清氣不升，故目眩耳聾。）或咳或悸或腹痛，（木邪干肺則咳，犯心則悸，侮脾則腹痛，可見少陽有病，三焦皆不得寧。蓋少陽在人身為遊部，凡表裡經絡之罅，皆能隨其虛而見之，故有或然之證。）咽乾口苦（耳聾目眩，口苦咽乾，貼切少陽樞機病象。）白胎濃。（舌上白胎，邪在半表半裡；若全入里，則焦黃矣。）諸證不必皆全具，雜病風寒俱可庸。（《傷寒論·太陽篇》云：「傷寒中風，有柴胡證，但見一證便是，不必悉具。」太（陽）少（陽）並病略兼表，（合病一時俱見，並病以次相傳。）陽明兼少（陽）但柴通。（少陽之外為太陽，里為陽明，而少陽居其間，故少陽而兼太陽者，用小柴胡微加桂枝以解表；陽明而兼少陽者，但用柴胡以和之，邪氣從樞轉出矣。）服湯潮熱不止者，才把芒硝入劑中。（名柴胡加芒硝湯　服小柴胡湯潮熱不止者，胃家實也，故加芒硝，通六腑積聚，乃少陽、陽明同治之方也。）熱入血室如瘧狀，讝語硬滿如結胸，（血室為中焦營氣之所聚，肝藏血，心主血，血因熱結而成瘀，則肝氣與心經之氣亦凝，故胸脅滿而神昏讝語，日輕夜劇，發作有如瘧狀。）小柴兼刺期門法，（期門在乳下第二肋端，去乳頭約四寸，肝募也，厥陰陰維之會，刺入四分。蓋血結為有形之證，湯劑一時難效，更刺期門，以瀉厥陰有餘之熱，則尤親切而易散。）或益桃仁海蛤攻。（按：王海藏治熱與血結之證，每用此二味。蓋海蛤鹹寒，佐桃仁入血散瘀泄熱，頗有奇功，因附及之。婦人傷寒，經水適來適斷，邪熱陷於血室，胸脅及少腹滿痛，至暮則譫語，此證最多。更參看葉天士《溫熱論》中，治法益明。）又有柴胡疑似證，醫當詳辨莫通融，便堅脈細陽微結，（大便硬謂之「結」。脈浮數能食曰「純陽結」，脈沉細不能食曰「純陰結」。此陽微結與陰結相似，但頭汗出為有表證，具如下文。）頭汗肢寒（陽微結者，熱雖結而不甚也。陽氣不能四達而從上冒，故手足冷而頭汗出。）胸滿同，（惟胸滿與柴胡證同）頭汗知非少陰病，（此要訣也。三陰脈不至頭，其汗在身。《傷寒論·少陰篇》云：「脈陰陽俱緊，反汗出者，亡陽也，法當咽痛吐利。」此不吐不利，而大便硬，則陽微結之汗與亡陽之汗，大有別矣。）脈雖沉細勿相蒙。（程郊倩曰：「凡陽熱鬱結不舒，雖手足冷，脈沉細，不得謂陰證。」可見陽氣一郁，不但陽證似陰，陽脈亦似陰矣。）此為有表復有里，（脈沉為里，頭汗為表。）可與柴胡以建功。（此條為少陰、少陽疑似證，反復講明頭汗之義，可與小柴胡而不疑。凡審證皆當如此。）面赤氣喘溏泄者，設教誤用反成凶。（面赤氣喘，為陽氣上越之候，若誤用柴胡以提之，上越者因而外脫，立見凶危。大便溏因於虛寒者忌之，否則不忌。）</p>

<h3>柴胡加龍骨牡蠣湯</h3>
<p>治傷寒八九日，下之，胸滿煩驚，小便不利，讝語，一身盡重，不能轉側者。</p>
<p>柴胡（四兩）　黃芩　人參　甘草　生薑　茯苓　鉛丹　龍骨　牡蠣（各一兩半）　大黃（二兩）半夏（二合半）　大棗（六枚）　水八升，煮取四升，納大黃更煮一二沸，（大黃只煮一二沸，取其生而流利也。）去滓，溫服一升。（一方有桂枝，無甘草，非。蓋外無太陽之表證，則不得用桂枝，無甘草則不成和劑矣。）</p>
<p>柴胡加龍骨牡蠣（湯），茯苓鉛丹大黃繼。胸滿（下後邪陷胸中）煩驚（熱邪擾亂神明）讝語多，（熱邪入胃）一身盡重（少陽三焦氣機不利）小便秘。（津液少）現證錯雜藥亦雜，墜痰鎮驚是主劑。（此方用柴胡湯全方，治胸滿身重之半表裡；加鉛丹、龍、牡以鎮煩驚，茯苓以利小便，大黃以止讝語；心煩讝語而不去人參者，以驚故也。此乃正氣虛耗，邪已入里，而復外擾三陽，故現證錯雜，藥亦隨證施治。）肝膽驚痰用此方，以治癲癇必有濟。（徐靈胎《傷寒論類方》曰：「此方能下肝膽之驚痰，以之治癲癇必效。」）</p>

<h3>柴胡桂枝幹薑湯</h3>
<p>治傷寒五六日，已發汗而復下之，胸脅滿微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，心煩者；並治瘧疾寒多微有熱，或但寒不熱，服一劑便效。</p>
<p>柴胡（半斤）　桂枝　黃芩（各三兩）　乾薑　牡蠣　甘草（各二兩）　花粉（四兩）　水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。初服微煩，復服汗出便愈。</p>
<p>柴胡桂枝幹薑湯，花粉芩甘牡蠣藏。邪在三陽陽氣結，從樞轉出易通陽。（揭出三陽經藥以名湯者，病在少陽，而太陽、陽明猶未罷，緣其津液內虧，故陽氣結而不通。用桂枝散太陽餘邪，乾薑開陽明痞結之氣，使以花粉佐牡蠣，入陰分升津液，以救三陽之熱，重用柴、芩、草轉少陽之樞，則三陽結邪，一一從樞轉出矣。）胸痞（乾薑）頭汗（桂枝牡蠣）小便少，（甘草花粉）寒熱往來（柴胡黃芩）煩渴將。（煩，故去人參；不嘔，故去半夏；渴，故加花粉。）瘧發寒多微有熱，（風、寒、濕痹於肌表，陽氣鬱伏於營血之中，故瘧發寒多，或但寒無熱也。）只消一劑妙非常。（瘧寒多微有熱，顯然陰陽無爭，營衛俱病，故和陽即當和陰：用柴胡和少陽之陽，即用黃芩和里；用桂枝和太陽之陽，即用牡蠣和里；用乾薑和陽明之陽，即用花粉和里；使以甘草，調和陰陽，和之得其當，故一劑便效。喻嘉言《醫門法律》曰：「柴胡本陰陽兩停之方，可隨瘧邪之進退以為進退者，加桂枝、乾薑，則進而從陽，痹著之邪，可以開矣；更加牡蠣以軟其堅壘，則陰陽豁然貫通，而大汗解矣，所以服一劑便效。其加芩、連以退而從陰，即可以類推矣。」）</p>

<h3>柴胡去半夏加栝蔞根湯</h3>
<p>治勞瘧口渴。</p>
<p>小柴胡湯原方去半夏，加栝蔞根四兩。</p>
<p>柴胡去半夏加栝蔞（湯），止渴升清（此方功效如此）勞瘧瘳。（瘧不離乎少陽，故用柴胡；勞瘧陰虧口渴，故去半夏，加花粉。）勞瘧病緣中氣弱，補中益氣亦相投。（遇勞即發名「勞瘧」，中氣虛也。後人用補中益氣湯治之，亦效。）</p>

<h3>四逆散</h3>
<p>治少陰病，四逆，泄利下重，其人或咳，或悸，或小便不利，或腹中痛者。</p>
<p>柴胡　白芍　枳實　甘草（炙）　等分為末，白飲和服方寸匕。四逆散治少陰樞，（小柴胡湯，少陽樞機之劑也；四逆散，少陰樞機之劑也。）枳實柴胡甘芍俱。等分研和白飲服，斂陰泄熱兩相須。（少陰為三陰之樞，猶少陽為三陽之樞也。此四逆散與小柴胡制方之義略同，特以樞有陰陽之異，故用藥亦分氣血之殊，而其輔正逐邪，和解表裡，則兩方如一方也。蓋彼用黃芩泄肺熱，恐金勝木也；此用枳實泄脾實，恐土勝水也。彼用人參補脾氣，恐少陽之邪，傳入於太陰也；此用芍藥益肝陰，恐少陰之邪，傳入於厥陰也。而樞機為病，必以和解，故柴胡、甘草，在所不易矣。）泄利下重（枳實）腹中痛，（芍藥甘草）熱邪厥逆（柴胡芍藥）保無虞。（《傷寒論·厥陰篇》曰：「陰陽氣不相順接，便為厥。厥者，手足逆冷是也。」徐靈胎《傷寒論類方》曰：「此（四逆）乃少陰傳經之熱邪，並無脈微惡寒等陰證，即下利一端，並非清穀，而反下重，故不得用溫熱。」）</p>

<h3>大柴胡湯</h3>
<p>治傷寒發熱，汗出不解，熱結在裡，心下痞硬，嘔吐而下利，復往來寒熱，脈沉實或弦數者。</p>
<p>柴胡（半斤）　半夏（半升）　黃芩　芍藥（各三兩）　生薑（五兩）　枳實（四枚）　大棗（十二枚）以水一斗二升，煮取六升，去滓再煎，取三升，溫服一升，日三服。一方加大黃二兩，若不加，恐不為大柴胡也。</p>
<p>大柴胡湯芩夏芍，枳實薑棗共煎嘗。（此小柴胡、四逆散二方合用者也。除去人參、甘草者，蓋熱邪已結在裡，不可更實其脾也。前小柴胡湯獨治陽樞，故曰「小」；此則陰陽二樞並治，故稱曰「大」。）表有寒熱（柴胡）裡熱結，（黃芩枳實）痞硬（枳實）微煩（黃芩）嘔（半夏生薑）利（黃芩芍藥大棗）良。（此下氣分無形之熱結，故不用大黃。）或有加入大黃者，表裡兼攻便秘將。（按：前證下利，是地道已通，且不腹滿，不口乾燥渴，故原方不用大黃。大黃乃王叔和所加，必見煩渴、譫語、腹滿、大便硬者方宜。）柴胡芒硝（湯）義亦爾，仍有桂枝大黃湯。（見《桂枝湯類》。按：大柴胡加大黃，乃合用小承氣；小柴胡加芒硝，乃合用調胃承氣。皆少陽、陽明同治之方。桂枝加大黃湯為太陽、陽明同治之方。皆雙解表裡法也。）</p>

<h3>〔附〕柴胡飲子</h3>
<p>（張子和《儒門事親》）　治肌熱、蒸熱、積熱、汗後餘熱，脈洪實弦數；亦治瘧疾。</p>
<p>小柴胡湯去半夏，加當歸、白芍、大黃。</p>
<p>柴胡飲子即小柴（胡湯），去夏加黃歸芍偕。略施汗下兼攻補，熱積三焦瘧亦佳。（此方治三焦積熱，略施攻補，深中肯綮。）</p>

<h3>〔附〕清鎮丸</h3>
<p>（劉完素《素問病機氣宜保命集》）　治嘔吐脈弦，頭痛及熱嗽。</p>
<p>小柴胡湯內人參加倍，加青黛半兩，麵糊丸，生薑湯下。</p>
<p>清鎮丸治熱咳嗽，嘔吐脈弦頭痛究。（弦為少陽之脈。木火凌金則咳，乘胃則嘔，上衝則頭痛。）小柴（胡湯）青黛麵糊丸，木火上衝功克奏。（木鬱則達之，火鬱則發之，則柴胡為要藥。加青黛直折肝膽之火，生薑湯衝開格拒以止嘔豁痰，允稱良藥。）</p>

<h3>〔附〕一柴胡飲</h3>
<p>（張介賓《新方八陣》）　凡感四時不正之氣，或為發熱，或為寒熱，或因勞因怒，或婦人熱入血室，或產後經後因冒風寒，以致寒熱如瘧等證，但外有邪而內兼火者，須從涼散，宜此主之。</p>
<p>柴胡（二三錢）　芍藥（二錢）　黃芩　生地　陳皮（各一錢半）　甘草（八分）　水一鍾半，煎七八分，溫服。</p>
<p>一柴胡飲從寒散，（「一」為水數，從寒散也。）地芍黃芩陳草贊，內有火而外有邪，四時不正皆能判。（此大柴胡變局也。去半夏、枳實、薑、棗，加陳皮、甘草調氣，生地涼營分之熱。如邪結在胸而痞滿者，仍宜去生地加枳實為妙。）</p>

<h3>〔附〕二柴胡飲</h3>
<p>（張介賓《新方八陣》）　凡遇四時外感，或其人元氣充實，臟氣素平無火，或時逢寒勝之令，本無內熱等證者，皆不宜妄用涼藥，以致寒滯不散，則為害非淺，宜此主之。</p>
<p>柴胡（一錢半或二三錢）　陳皮（一錢半）　半夏（二錢）　厚朴（一錢半）　生薑（三五七片）　細辛（一二錢）　甘草（八分）　水一鍾半，煎七八分，溫服。</p>
<p>二柴胡飲散從溫，（「二」為火數，從溫散也。）厚朴細辛陳夏存，甘草生薑解外感，內無熱渴此方尊。（此小柴胡變局也。去人參、黃芩、大棗，加陳皮、厚朴、細辛，則和解之方，轉為溫散之劑。）</p>

<h3>〔附〕三柴胡飲</h3>
<p>（張介賓《新方八陣》）　凡人素稟陰分不足，或肝經血少而偶感風寒者，或感邪不深，可兼補而散者，或病後產後感冒，有不得不從解散，而血氣虛弱，不能外達者，宜此主之。</p>
<p>柴胡（二三錢）　芍藥（一錢半）　陳皮　炙甘草（各一錢）　生薑（三五片）　當歸（二錢溏泄者易以熟地）　水一鍾半，煎七八分，溫服。</p>
<p>三柴胡飲三為木，（「三」為木數，從肝經血分也。）歸芍陳姜炙草六，素稟陰虛外感因，肝經血少咸宜服。（此從四逆散加減。以生薑佐柴胡，以當歸佐芍藥，以陳皮佐甘草，兼調氣血而散外邪，亦和平之劑。）</p>

<h3>〔附〕四柴胡飲</h3>
<p>（張介賓《新方八陣》）　凡人元氣不足，或忍飢勞倦，而外感風寒，或六脈緊數微細，正不勝邪等證，必須培助元氣，兼之散邪，庶可保全，宜此主之。</p>
<p>柴胡（一二錢）　人參（二三錢或五七錢酌而用之）　生薑（三五七片）　當歸　炙甘草（一錢）　水二鍾，煎七八分，溫服。如胸膈滯悶者，加陳皮一錢。四柴胡飲四為金，（「四」為金數，從氣分也。）姜草當歸鬚用參，加入陳皮寬膈滯，氣虛外感此能任。（此亦小柴胡變局，去黃芩、半夏，而加當歸、陳皮。本方雖治從氣分，而略兼營分，蓋氣虛者，營血必不足，故補氣亦必兼補血也。）</p>

<h3>〔附〕五柴胡飲</h3>
<p>（張介賓《新方八陣》）　凡中氣不足，而外邪有不散者，宜此主之。</p>
<p>柴胡（一二錢）　當歸（二三錢）　熟地（三五錢）　白朮（二三錢）　芍藥（一錢半炒用）　陳皮（酌用或不必用）　炙甘草（一錢）　水一鍾半，煎七分，食遠熱服。</p>
<p>五柴胡飲從脾胃，（「五」為土數，從脾胃也。）地芍歸陳術草匯，徒散外邪非善全，兼培氣血斯為貴。（此逍遙散變方也。去茯苓、薄荷、生薑，加陳皮、熟地，則補多散少矣。此與四柴胡飲相表裡。但四柴胡飲調氣分之藥為多，此則兼培氣血為異。按：以上五方，皆出柴胡治例，錄出聊為加減成方之一助。然畢竟後世之方，總不免籠統之弊，若病在太陽，便用柴胡，古有引賊入門之戒，用者審之。）</p>

<h3>〔附〕清脾飲</h3>
<p>（嚴用和《濟生方》）　治瘧疾熱多寒少，口苦嗌乾，小便短赤，脈來弦數。</p>
<p>柴胡　黃芩　半夏　甘草　白朮　厚朴　青皮　茯苓　草果（各等分）　水一盅，生薑一片，棗一枚，煎八分。（熱減時服，忌生冷油膩。）</p>
<p>清脾飲用青樸柴，芩半甘苓白朮偕，更加草果兼薑棗，熱多陽瘧服之佳。（夏月納涼飲冷過度，先傷脾胃之陽，寒氣藏於肌肉之間，至秋復感涼風，郁遏腠理，引動伏邪，而病為瘧。發必先寒後熱，所謂先傷於寒，而後傷於風，則先寒而後熱也。雖瘧不離乎少陽，而脾胃受傷者實多，故嚴氏宗仲景小柴胡湯加減而立此方。名曰「清脾」，是明從脾胃論治。方中苓、朮、夏、草，皆脾胃藥，復以厚朴、青皮、草果，盪滌膜原之邪，劫痰截瘧。其治少陽，惟柴、芩二味而已。）瘧由痰積風寒作，解表除痰永不差。（古云「無痰不成瘧」、「無積不成瘧」，然雖有痰積，若不兼感風寒，亦未必便成瘧疾。故治瘧之方，解表除痰，每相須為用也。）此治瘧邪通用劑，隨宜加減總堪諧。（此治瘧之通劑。方中黃芩、草果，可隨寒熱以為進退，勿拘陽瘧一端也。外如石膏、大黃、桂枝、附子、人參、熟地、當歸、白芍等，皆可隨證加入。如瘧久不止，加常山、烏梅截之。）</p>

<h2>瀉心湯類</h2>

<h3>半夏瀉心湯</h3>
<p>治傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯。若心下滿而不痛者，此為痞，柴胡不中與也，宜此主之。</p>
<p>半夏（半升洗）　黃連（一兩）　黃芩　人參　炙甘草　乾薑（各三兩）　棗（十二枚）　水一斗煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>

<h3>生薑瀉心湯</h3>
<p>治傷寒汗解後，胃中不和，心下痞硬，乾嘔食臭，脅下有水氣，腹中雷鳴下利者。</p>
<p>半夏瀉心湯加生薑四兩，乾薑只用一兩，余同法。</p>

<h3>甘草瀉心湯</h3>
<p>治傷寒中風，誤下之後，其人下利日數十行，穀不化，腹中雷鳴，心下痞硬而滿，乾嘔，心煩不安。醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆，故使硬也，宜此湯。</p>
<p>半夏瀉心湯去人參，甘草加一兩，余各同法。</p>
<p>半夏瀉心（湯）黃連芩，乾薑甘草棗人參。（瀉心者，實瀉胃也。蓋胃居心下，「心下痞」，即胃痞也。此實則瀉子之法。）但滿不痛為痞氣，（心下滿而硬痛者為結胸，但滿而不痛者為痞氣。）法在降陽而和陰。（瀉心者必以苦，故用芩、連；散痞者必以辛，故用薑、夏；欲交陰陽通上下者，必和其中，故用參、甘、大棗。）生薑瀉心（湯）生薑入，甘草瀉心（湯）甘草臨。（按：半夏瀉心湯治寒熱交結之痞，故苦辛平等；生薑瀉心湯治水與熱結之痞，故重用生薑以散水氣；甘草瀉心湯治胃虛氣結之痞，故加重甘草，以補中氣，而痞自除。俗以甘草滿中，為痞嘔禁用之藥，蓋不知虛實之義者也。）痞硬雖同虛實異，（同一心下痞硬，生薑瀉心證屬實，甘草瀉心證屬虛。）腹鳴下利細推尋。（同一腹鳴下利，生薑瀉心證則下利稀水，而未至於日數十行，甘草瀉心證則下利日數十行而穀不化，虛實可別矣。）水氣（故用生薑）乾嘔必食臭，（胃中濁氣不降，故食臭。）胃虛（故用甘草）乾嘔必煩心。（胃虛客氣上逆，故心煩不安。同一乾嘔，而虛實不同又如此。）生薑辛散甘草補，倒置人參疑誤深。（按：生薑瀉心湯辛散破滯開痞，痞由水氣而結，乾嘔食臭為實邪，則不當用人參。甘草瀉心湯甘緩補虛化痞，痞由兩次誤下而得，且下利不止而穀不化，中虛極矣，正當用人參以輔甘草。則甘草瀉心湯中無人參，生薑瀉心湯反用人參，兩方倒置，疑必有誤。）三（瀉心）湯皆本柴胡立，虛實之間法律森。（凡瀉心證，皆已汗、已下、已吐之餘疾。以上三湯，總不離乎開結、導熱、益胃，大半皆本於柴胡湯立法。以乾薑易生薑，以黃連易柴胡，彼以和表裡，此以徹上下，故其所治之證，多與柴胡證相同，但加苦辛治痞之藥耳。然其或虛或實，有邪無邪，處方之變，則各有微妙，攻補兼施，寒熱互用，內中有一藥治兩證者，亦有兩藥合治一證者，其藥性又與《神農本草》所載無處不合，學者能於此等方，講求其理而推廣之，則操縱在我矣。）</p>

<h3>乾薑黃連黃芩人參湯</h3>
<p>治傷寒本自寒下，醫復吐下之，寒格食入口即吐者。</p>
<p>乾薑　黃連　黃芩　人參（各三兩）　水六升，煮取二升，去滓，分溫服。</p>
<p>姜連芩參湯治嘔，苦勝於心義宜剖，（並非寒熱平調之法，乃治寒格拒熱之方。）寒熱格拒在中焦，食入即吐緣斯咎。（寒格者，寒與熱格也。寒故用乾薑，熱故用芩、連；因吐下而傷其中氣，故用人參；食入口即吐，是火逆上衝，故苦寒倍於辛熱；不食則不吐，是心下無水氣，故不用半夏、生薑。要知寒熱相阻則為格，寒熱相結則為痞，故此方得瀉心之半，源同而流異也。）宣陽（乾薑宣陽散寒）泄熱（芩連通陰泄熱）以和中，（人參補中和胃）格拒通時吐自否。嘔家挾熱此為良，水飲寒痰嘔非偶。（按：此格雖因於寒，而嘔則因於熱。蓋寒格於中，則拒熱於上而為吐，是宜大用苦寒，泄去陽熱，略用辛通，開其寒格，則嘔自止。故凡嘔家挾熱，不利於香、砂、橘、半者，此方最為合度。若因於水飲寒痰而嘔者，則宜純用辛溫，此方又非所宜。）</p>

<h3>黃連湯</h3>
<p>治傷寒胸中有熱，胃中有邪，腹中痛，欲嘔吐者。濕家下之，丹田有熱，胸中有寒，舌上如胎亦主之。</p>
<p>黃連　乾薑　炙草　桂枝（各三兩）　人參（二兩）　半夏（半升）　棗（十二枚）　水一斗，煮取六升，去滓，溫服一升。日三服，夜二服。</p>
<p>黃連湯內用乾薑，半夏人參甘草藏，更入桂枝兼大棗，寒熱平調上下匡。（證因上下相格，治亦寒熱並施。）熱在胸中寒在胃，腹痛嘔吐保安康。（胸中熱，欲嘔吐，腹中痛者，全因胃中有邪，阻遏陰陽升降之機，故用參、甘、薑、夏、大棗，專和胃氣，使飲入胃中，聽胃氣上下敷布，交通陰陽；再用桂枝，宣發太陽之氣，載引黃連，但從上焦陽分泄熱，不使其入太陰，有礙虛寒腹痛。）濕家舌上如胎者，下熱上寒亦此湯。此亦柴胡之變劑，從中升降和陰陽。（前上熱下寒，為嘔吐腹痛，用此湯以升降陰陽，固然矣；而濕家下之，舌上如胎者，以丹田有熱，胸中有寒，亦用此湯，何耶？蓋傷寒分表、里、中三治，表裡之邪俱盛，則從中而和之，故有小柴胡之和法；至於丹田胸中之邪，則在上下而不在表裡，即變柴胡為黃連湯，以桂枝易柴胡，以黃連易黃芩，以乾薑易生薑，亦從中而和之法，故不問上熱下寒，上寒下熱，皆可治之也。）表裡之邪柴芩使，上下之邪連桂當。（表裡之邪則用柴胡、黃芩，上下之邪則用桂枝、黃連，表裡之邪則用生薑辛以散之，上下之邪則用乾薑辣以開之，仲景大法灼然矣。）又與瀉心湯法似，（諸瀉心法，皆治心胃之間寒熱不調，全屬裡證；此方以黃芩易桂枝，去瀉心之名，而曰黃連湯，乃表邪尚有一分未盡，胃中邪氣尚當外達，故加桂枝一味，以和表裡，則意無不到矣。）後人比類好推詳。（「比類」二字，最為醫家之要旨，如瀉心湯、黃連湯皆柴胡之變法，而一味轉旋，便治證各異，故不知比類，則不能盡方之變，又烏能盡病情之變哉！）</p>

<h3>〔附〕進退黃連湯</h3>
<p>（喻嘉言《醫門法律》）　治關格。</p>
<p>黃連（薑汁炒）　乾薑（炮）　人參（人乳拌蒸）　半夏（薑製各一錢半）　桂枝（一錢）　大棗（二枚）　如格則吐逆，用進法，本方七味皆不制，水三茶盞，煎減半，溫服。如關則不得小便，用退法，除去桂枝，加肉桂五分，黃連減半，如上逐味制服，但空心服崔氏八味丸三錢，（方見《醫方證治彙編歌訣》）半飢時服煎劑耳。如關而且格者，照全方制服。</p>
<p>進退黃連（湯）喻氏擬，下關上格均堪治。姜連參夏錢五分，桂枝一錢棗二枚。（此即仲景黃連湯，喻嘉言旁通其旨，而加進退之法，擬治關格，獨超千古。蓋關格之證，上下不通，其營衛陰陽，各造其偏矣。是惟求之於中，和其胃氣，以調營衛，不偏陰偏陽，聽胃氣自為敷布，以漸透於上下，乃始得協於平也。）格則吐逆用進法，本方七味皆不制。（如格則吐逆，則進桂枝，和衛通陽，俾陽氣由中漸透於上，藥以生用而升。）關不小便退桂枝，（桂枝但能通上焦胸中之陽，而不能啟腎關之秘，故退法中不用之。）黃連減半薑汁製，人參乳拌乾薑炮，（如關則不得小便，則退桂枝減黃連，俾陽氣由中漸透於下，藥以熟用而降。）還加肉桂通關秘。（肉桂通下焦腎中之陽，故退法加之。）關而且格用全方，制服法兼進退例。（如關而且格，則用全方制服，俾陰陽由中而漸透於上下，藥以生熟並用，而兼進退之法。）若夫五志厥陽升，進退桂枝在所忌。（若五志厥陽之火亢而為格，則桂枝又不可用，用之則以火濟火，頭有汗而陽脫矣。）五志陽升何藥宜，宜將資液救焚（湯）使。（資液救焚湯編入《炙甘草湯類》）至於崔氏八味丸，（編入《腎氣丸類》）退法之中所有事。（少陰主闔，而為胃關，少陰之氣不上，胃之關必不開，則小溲亦從何而出耶！故必以八味丸蒸動腎陽而通胃關，以利小便，是則退法之中，有不得不用之理矣。）生升熟降為進退，進退次第義若此。從中漸透於上下，聽其胃氣為敷布。營氣先通加意營，衛氣先通加意衛。不以才通而變法，斯治關格之要旨。（營氣者，陰氣也，陰氣不通則為關。衛氣者，陽氣也，陽氣不通則為格。陰陽之氣俱不相通則為關格，與之短期，此百難愈一之證，故治此證者，必有堅確不拔之志，庶幾十愈一二。若營氣才通，即求之於衛，衛氣才通，即求之於營，是謂喜功生事，終無益也。）關格從來治法稀，云岐略示其端倪。嘉言因是費經營，擬此二方非得已。聊與時師作樣看，變化生心無定體。（關格之證，自《靈》《素》以及《難經》、仲景脈法皆深言之，然無其方也。惟宋云岐子，有治關格九方，用腦、麝者，十居六七，不達成方之理，漫圖弋獲，不足為法。喻氏必不得已擬此二方，為治關格之榜樣。至於病變無方，生心化裁，初非以是印定後人眼目也，須善會之。）</p>

<h3>〔附〕左金丸</h3>
<p>（朱震亨《丹溪心法》）　治肝經火鬱，吞吐酸水，左脅作痛，少腹筋急為疝。</p>
<p>黃連（六兩薑汁炒）　吳萸（一兩鹽水炒）　水泛丸，或蒸餅糊丸。</p>

<h3>〔附〕左金加陳米湯</h3>
<p>（汪氏方）　治噤口痢湯藥入口即吐。</p>
<p>黃連（薑汁炒三錢）　吳萸（鹽水泡五分）　陳倉米（一撮）　水煎濃服，但得三匙下咽，即不復吐矣。</p>

<h3>〔附〕戊己丸</h3>
<p>（《太平惠民和劑局方》）　治熱瀉熱痢。</p>
<p>黃連　吳萸　白芍（各五兩）　為細末，麵糊為丸桐子大，每服二十丸，濃煎米飲下，空心，日三服。</p>

<h3>〔附〕連附六一湯</h3>
<p>（虞摶《醫學正傳》）　治胃脘痛。</p>
<p>黃連（六錢）　附子（一錢）　水煎。</p>
<p>左金（丸）茱連六一湯，肝經火鬱吐吞酸，（吐酸者，嘔吐酸水也。吞酸者，喉間沃沃然，酸味刺心也。吐酸屬熱，吞酸屬寒。吞吐俱酸，熱與寒格也。）少腹筋急左脅痛，（厥陰肝脈布脅肋，抵少腹，絡陰器，肝邪鬱結，故筋急而痛。）開其鬱結直清肝。（此瀉肝火之正劑。肝之子心也。實則瀉子，故用黃連為君，直折其上炎之勢；吳萸從類相求，引熱下行，並以辛溫開其鬱結，懲其捍格，故以為佐，然必木實而土不虛者始宜。左金者，木從左而制從金也。）此乃瀉心之變法，（此瀉心之變法。川連與乾薑同用，瀉胃家之痞結，令熱從中散；與吳萸同用，則瀉肝家之痞結，令熱從下達。）逍遙（散）越鞠（丸）好相參。（此方與逍遙散、越鞠丸可出入加減用之。）大凡雜證多肝病，（雜證之中，肝病十居六七。）圖治還宜隨證觀。（肝之治有數種：水衰而木無以生，地黃丸乙癸同源是也；土衰而木無以植，參苓白朮散緩肝培土是也。本經血虛有火，用逍遙散清火；血虛無火，用歸脾湯養營。至於補火之法，亦下同乎腎；而瀉火之治，則上類乎心。總而言之，肝之體陰而用陽，是故養肝之體，必借酸甘，泄肝之用，苦辛為要。）或加陳米和胃氣，（名左金加陳米湯）噤口痢疾服之安。（噤口痢由濕熱積滯於腸胃，清濁混淆，陰陽格拒所致。黃連清熱燥濕厚腸，為治痢之聖藥，吳萸衝開格拒而止嘔，加陳米和中養胃，此噤口痢之良治。）戊己丸中加芍藥，但逢熱痢盡宜餐。（糞色黃臭為熱痢。戊為胃土，己為脾土，加芍藥瀉木，使不剋土。）連附六一（湯）治胃痛，寒因熱用理一般。（瀉心用黃連、乾薑，左金用黃連、吳萸，此用黃連、附子，皆寒因熱用，陰陽相濟，最得制方之妙。）</p>

<h3>〔附〕香連丸</h3>
<p>（李絳《兵部手集方》）　治下痢白赤，膿血相雜，裡急後重。</p>
<p>黃連（二十兩與吳茱萸十兩同炒去吳茱萸用）　木香（四兩八錢忌見火）　醋糊丸，米飲下。</p>

<h3>〔附〕治痢四神丸</h3>
<p>治一切痢疾初作，腹痛裡急後重，推陳致新，大有奇效。</p>
<p>香連丸加酒蒸大黃一斤，檳榔八兩，醋丸，米飲下三十丸。未效，再服。</p>

<h3>〔附〕治噤口痢方</h3>
<p>（吳昆《醫方考》）</p>
<p>香連丸加石蓮子肉八兩，水煎服。</p>

<h3>〔附〕斷下丸</h3>
<p>治久痢。</p>
<p>香連丸加訶子、龍骨、烏梅。</p>
<p>香連丸治赤白痢，茱炒黃連又木香。治痢必用苦辛寒，李絳此方得其義。（劉完素《素問玄機原病式》謂：「泄痢皆由濕熱甚於腸胃，氣液不得宣通，必用苦辛寒之藥，微加辛熱，開發腸胃之鬱結，使氣液宣通，如此方之類是已。」）黃連苦燥澀大腸，初痢宜通勿輕試。（初痢宜通，久痢宜澀，黃連味苦而燥，能厚胃澀腸，若痢方初起，忌用。晉注：此注尚宜更改。上八字系王君原舊自注，甚然，甚然。黃連厚腸胃之說，《本經》有誤，不可從。初痢胃口濕熱盛可用，痢久而中虛忌用矣。）益以檳榔與大黃，（名治痢四神丸）推陳逐垢斯無忌。（黃連與大黃同用則不澀，故初痢亦可用。）噤口痢方加石蓮，清心開胃其功異。（噤口痢由熱邪壅塞胃口，心火亢而上逆，故湯藥入口即嘔。石蓮子清心火、開胃口。）久痢滑脫澀之宜，斷下（丸）烏龍訶子使。（烏梅、龍骨、訶子，澀大腸以固其滑脫。）</p>

<h3>小陷胸湯</h3>
<p>治小結胸病，正在心下，按之則痛，脈浮滑者。</p>
<p>黃連（一兩）　半夏（半升）　栝蔞（大者一枚）　水六升，先煮栝蔞取三升，去滓，納諸藥，煮取二升，去滓，分溫三服。解下黃涎便安也。</p>
<p>小陷胸湯泄痰熱，黃連半夏及栝蔞。（程應旄《傷寒論後條辨》曰：「黃連滌熱，半夏導飲，栝蔞潤燥，合之以開結氣。亦名曰『陷胸』者，攻雖不峻，而一皆直泄胸中之實，則邪亦從此奪矣。」王晉三《古方選注》曰：「僅陷中焦脈絡之邪，不及下焦，故曰『小'。」）</p>
<p>痛在心下（小結胸病，上不至心上，下不及少腹，必按之方痛，非手不可近，與大陷胸證迥別。）脈浮滑，（浮滑為痰熱）少陽痞熱亦能瘳。（王海藏以此方治少陽熱痞，甚有道理。蓋黃連、半夏本為瀉心散痞之藥，栝蔞生於蔓草，能入絡滌熱消痰，痰消結散，痞熱自清。）</p>

<h3>厚朴生薑甘草半夏人參湯</h3>
<p>治汗後腹脹滿。</p>
<p>厚朴（炙）　生薑（各八兩切）　半夏（半升洗）　甘草（二兩炙）　人參（一兩）水一斗，煮取三升，去滓，溫服一升，日三服。</p>
<p>樸姜夏草人參湯，理氣調中補泄勷。汗後虛邪為腹脹，補虛泄滿此方良。（發汗後則邪氣已去，而猶腹脹滿，乃虛邪入腹，故以厚朴、生薑消脹滿，余則補虛助胃和中也。）</p>

<h3>旋覆代赭湯</h3>
<p>治傷寒汗吐下解後，心下痞硬，噫氣不除者。</p>
<p>旋覆花（三兩）　代赭石（一兩）　生薑（五兩切）　大棗（十二枚）　人參（二兩）　半夏（半升）　甘草（三兩炙）　水一斗，煮六升，去滓再煎，取三升，溫分日三服。</p>
<p>旋覆代赭湯人參，半夏姜甘大棗臨，重以鎮逆（代赭石）咸軟痞，（旋覆花）痞硬噫氣力能禁。</p>
<p>（《靈樞·口問篇》曰：「寒氣客於胃，厥逆從下上散，復出於胃，故為噫。」《素問·宣明五氣篇》曰：「心為噫。」噫者，上焦病聲也。脾失升度，肺失降度，陰盛走於胃，屬於心而為聲，俗名「噯氣」。故用旋覆咸降肺氣，代赭重鎮心包絡之氣，半夏以通胃氣，生薑、大棗以宣脾氣，而以人參、甘草奠安陽明，俾陰陽升降，合其常度，則痞硬噯氣悉除矣。）噫氣俗名為噯氣，若兼下利瀉心尋。（此與前諸瀉心法大略相近。汪訒庵《醫方集解》引《本草綱目》云：「病解後，痞硬噫氣，不下利者用此湯，下利者生薑瀉心湯。」）鎮陰宣陽扶胃弱，呃逆反胃並宜斟。（此鎮陰宣陽方也。呃逆反胃，皆上、中二焦氣逆不降所致，用此鎮其陰氣，宣發胃陽，則上、中二焦皆得致和矣。）</p>

<h2>黃芩湯類</h2>

<h3>黃芩湯</h3>
<p>治太陽與少陽合病，自下利者。</p>
<p>黃芩（三兩）　甘草（炙）　芍藥（各二兩）　大棗（十二枚）　水一斗，煮取三升，去滓，溫服一升，日二服，夜一服。</p>

<h3>黃芩加半夏生薑湯</h3>
<p>治前證兼嘔者；亦治膽咳，咳嘔苦水如膽汁。</p>
<p>黃芩湯原方加半夏半升，生薑三兩，余同法。</p>
<p>黃芩湯用甘芍並，二陽合利棗加烹。（按：太、少二陽合病，何以不用太、少兩經之藥？蓋合病而兼下利，是熱邪已入少陽之裡，膽熱移脾，故自下利，則所重在裡矣。故用黃芩酸苦，泄少陽之熱，甘、芍、大棗酸甘，和太陰之氣，使半里清而半表自解，和解之法，非一端也。合病者，謂有太陽之證頭項痛、腰脊強，又有少陽之證耳聾、脅痛、口苦、寒熱往來也。自利者，不因攻下而泄瀉也。成無己《註解傷寒論》曰：「太陽陽明合病自下利為在表，當與葛根湯發汗。陽明少陽合病自下利為在裡，可與承氣湯下之。此太陽少陽合病自下利為在半表半裡，非汗下所宜，故與黃芩湯，以和解半表半裡之邪。」）此方遂為治痢祖，（利，泄瀉也。痢，滯下也。）後人加味或更名。（劉完素黃芩芍藥湯、芍藥湯，皆從此方化出，遂為萬世治痢之祖方矣。）再加生薑與半夏，（名黃芩加半夏生薑湯）下利兼嘔此能平。（下利即專於治利，不雜以風寒表藥，此亦急當救里之義。若嘔亦即兼以止嘔之藥，見證施治，古人每不出此。倘服藥後而本證愈，續見他證，則仍見證施治，可推而知也。）亦治膽咳嘔苦汁，（胃氣逆則嘔，膽汁熱則苦。）苦泄辛通法最精。（酸苦泄熱，辛甘和胃，胃氣和，膽熱清，咳而嘔苦自已。）</p>

<h3>〔附〕黃芩芍藥湯</h3>
<p>（劉完素《素問病機氣宜保命集》）　治熱痢腹痛後重，身熱，膿血稠黏，及鼻衄不止，脈洪數者。</p>
<p>黃芩　芍藥（各一兩）　甘草（五錢）　水煎，溫服。</p>

<h3>〔附〕白朮芍藥湯</h3>
<p>（劉完素《素問病機氣宜保命集》）　治脾濕水瀉，身重困弱。</p>
<p>芍藥　白朮（各一兩）　甘草（五錢）　水煎，溫服。</p>
<p>黃芩芍藥（湯）療熱痢，火升鼻衄均能治，（熱痢鼻衄，陽明火盛極矣。黃芩色黃，正清陽明腸胃之藥。白芍專益陰氣，赤芍兼和營血，故熱痢後重，宜用赤芍為良。）瀉痢腹痛屬太陰，芍藥（此是白芍）甘草所必使。若將白朮易黃芩，（名白朮芍藥湯）脾濕水瀉身重餌。（劉完素《素問病機氣宜保命集》曰：「諸瀉痢久不止，或暴下者，皆太陰為病，故不可離於芍藥。若不受濕，不能下痢，故須用白朮。」又曰：「若四時下痢，於芍藥、白朮內，春加防風，夏加黃芩，秋加厚朴，冬加桂、附。」）</p>

<h3>〔附〕芍藥湯</h3>
<p>（劉完素《素問病機氣宜保命集》）　治下痢膿血稠黏，腹痛後重。</p>
<p>芍藥（一兩）　歸尾　黃芩　黃連（各五錢）　大黃（三錢）　木香　檳榔　甘草（炙各二錢）　桂（一錢半）　每服五錢，水煎服。（如血痢，則漸加大黃。）</p>

<h3>〔附〕導滯湯</h3>
<p>（劉完素方）　治前證兼渴者。</p>
<p>芍藥湯去桂、甘草，加枳殼。</p>
<p>芍藥湯中芍藥君，（重用芍藥為君，瀉木安土。）香連芩草桂將軍，（大黃號曰「將軍」）檳榔行氣歸行血，滯下（痢疾古稱「滯下」）之方迥出群。（此治痢之專劑，蓋本仲景黃芩湯而加行血調氣之藥。後世治痢之方，多從此昉也。）濕熱鬱蒸成膿血，腹痛後重服之欣。（下痢皆屬濕熱，赤為傷血，白為傷氣。膿血稠黏，氣血兩傷也；腹痛後重，氣血皆滯也。朱丹溪《平治會萃》曰：「行血則膿血自愈，調氣則後重自除。」）若兼渴者除甘桂，枳殼加之導滯（湯）稱。（因渴故去桂，因有滯故去甘草之滿中，而加枳殼以破滯。蓋濕熱鬱積腸胃，不得宣通，因成滯下。故濕宜燥，熱宜清，郁宜散，積宜消，自當苦、辛、寒雜用，稍佐溫而行之，甘以和之，治痢之法盡之矣。）痢久依然後重者，去檳連枳入荷升。（此方今人多用之。大法治痢以甘、芍和中止腹痛，熱痛加芩、連，寒痛加薑、桂，以木香、檳榔行氣除後重，氣分加枳殼、滑石寬腸，血分加當歸、桃仁和血，以秦艽、皂角子祛腸風，以黃芩、黃連清熱毒，以白朮、陳皮調胃，茯苓、澤瀉滲濕，大黃蕩積。若氣虛加參、耆，血虛加芎、歸、阿膠、黑薑、柏葉，痢久後重不解去檳榔、黃連、枳殼，加荷葉、升麻舉之。）</p>

<h3>〔附〕東風散</h3>
<p>（姜體乾方）　治一切痢疾，或赤或白，或赤白相兼，以及裡急後重，腹痛噤口等證，咸宜服之。</p>
<p>黃芩　白芍　當歸　檳榔　枳殼　青皮（炒）　厚朴（炒各一錢）　木香（煨五分）　甘草（三分）查炭（一錢半）　水煎服。（加減法即編入歌中。）</p>
<p>東風散（東風和暢，主生長萬物。此劑和平而卻有起死回生之效，故取以名方。）用芍甘青，木枳檳查歸樸芩。（此即芍藥湯之變法）此劑能醫一切痢，痢剛初起急煎斟。老年寒藥當煨制，延久脾虛加朮參。（此方一切痢疾初起者，服之立效；惟老年衰弱者，寒藥當用煨制，如延久脾虛者亦然，更宜加入人參、白朮，以補脾氣。）腹痛黃芩須酒炒，柴胡又在瘧兼侵。（瘧痢並見，加柴胡六分。）痢而熱甚黃連入，（痢而發熱甚者，加黃連薑汁炒四分。）肢冷虛煩肉桂臨。（虛煩手足冷者，加肉桂四分。）白痢橘紅香附使，（白痢加橘紅七分，香附生研一錢。）若然紅痢地榆任，澀滯還加桃紅引，（紅痢加地榆炭八分。若紅痢澀滯者，加桃仁一錢，紅花酒洗三分。）赤白相兼兩法紝。（赤白兼見者，如地榆、香附等，宜並用之。）純血膠姜連側柏，〔下痢純血加阿膠（以黃連末拌炒）一錢，炮姜三分，側柏炒一錢。〕舌黃後重大黃擒。（舌胎黃厚，裡急後重者，加酒炒大黃三錢。）假如孕婦投斯劑，檳樸桃紅桂共禁。（如孕婦痢疾用此方，宜去桃仁、紅花、檳榔、厚朴、肉桂，以及半夏、神麯等礙胎藥。）痢疾多由於濕熱，誤投溫補禍延深。（痢疾之證，惟夏末秋初最多，多由於夏暑濕熱，伏於腸胃，蒸腐水穀之精氣而化為膿血，治之必以苦、辛、寒藥，此河間之要訣。若初起誤投溫補，致濕熱膠固不解，必受其害，延至月餘，形體骨立，不思飲食，則難挽救。）此為姜氏傳心秘，加減圓通仔細吟。（此方見香山吳濟亨家藏抄本中，其徒張鏡如雲是華墅姜體乾先生所著，未知果否。然姜氏賢聲素著，為常州府屬之名醫，生平著述頗多，惜未梓行於世。）</p>

<h3>〔附〕治痢奇方</h3>
<p>（葉應昌《袖中金》）　治噤口下痢，純血穢腐，身熱脈大，大孔如竹筒，諸般惡證，並可主之。但恐服之已遲，毒邪攻壞臟腑，則難救耳。</p>
<p>黃連（酒炒六分）　赤芍藥（酒炒一錢）　木香（煨三分）　青皮（醋炒）　枳殼（麩炒）　檳榔（各八分）　山楂肉（炒一錢半）　黃芩（酒炒一錢）　地榆（醋炒五分）　紅花（酒洗三分）　桃仁（去皮尖炒研一錢）　當歸（酒洗五分）　厚朴（薑汁炒八分）　甘草（炙五分）　水煎服。</p>
<p>如痢初起，在十日內外者，諸藥俱不必制；如半月以後者，宜去檳榔，加陳皮（鹽水炒）四分，諸藥照方逐味制服；如延至月餘，脾胃虛弱者，去楂肉、青皮、檳榔，加人參五分，白朮（土炒）五分。如白痢，去桃仁、地榆，加陳皮四分，木香加三分。〕</p>
<p>治痢奇方出葉氏，東風散里加紅花，桃仁黃連地榆炭，（此方即東風散加味）青出於藍尤足誇。（葉應昌，即姜體干之門人，著有《袖中金》。）下痢純紅兼噤口，十天內外用無差。方中若去桃紅地，加木香陳白痢嘉。或益大黃因澀滯，（澀滯後重，必加大黃。）逐除腐穢以攻邪。期逾半月宜加減，炒法頻將酒醋拿。（酒以和之，醋以斂之。）大熱脈洪雖忌款，（下痢身涼脈小為順，易治；若大熱脈洪，大孔如竹筒，為逆，難治。）但投此劑莫驚訝。（此方治痢，雖見諸般惡證，若早治之，亦能挽救。）惟經溫補難為效，雖有奇方亦可嗟。（葉氏自云：此方隨用輒效，間不效者，必其初投參、術等補劑太早，補塞邪熱在內，久而正氣已虛，邪氣獨盛，纏綿不已，欲補而澀之則助邪，欲清而疏之則愈滑，遂至於不可救藥，雖有奇方，亦無如之何矣。此非溫補害之耶！用者審之。）</p>

<h2>五苓散類</h2>

<h3>五苓散</h3>
<p>治太陽病發汗後，汗出惡寒，脈浮，小便不利，微熱消渴，及中風發熱，六七日不解而煩，有表裡證，渴欲飲水，水入即吐，名曰水逆，宜此主之。通治水腫，霍亂身疼，胸中滿，臍下悸，吐涎，頭眩等證。此利水之祖方也。</p>
<p>豬苓　茯苓　白朮（各十八銖）　澤瀉（一兩六銖）　桂（五錢）　為末，以白飲和服方寸匕，日三服。多飲暖水，汗出愈。（除桂名為四苓散）</p>

<h3>〔附〕辰砂五苓散</h3>
<p>（汪訒庵《醫方集解》）　治暑熱。</p>
<p>五苓散加硃砂。</p>

<h3>〔附〕蒼朮五苓散</h3>
<p>治寒濕。</p>
<p>五苓散加蒼朮。</p>

<h3>茵陳五苓散</h3>
<p>治黃疸。</p>
<p>五苓散加茵陳蒿。</p>

<h3>〔附〕春澤湯</h3>
<p>（汪訒庵《醫方集解》）　治無病而渴，與病瘥後渴者。</p>
<p>五苓散加人參。（再加甘草，亦名春澤湯。）</p>
<p>五苓散治太陽腑，（王好古《此事難知》曰：「五苓散為下藥，乃太陽里之下藥也。太陽高則汗而發之，下則引而竭之；渴者，邪入太陽本也，當下之，使從膀胱出。腎燥膀胱熱，小便不利，五苓散主之；小便利者，不宜用。」）桂術澤瀉豬茯苓，多飲暖水取微汗，雙解表裡煩渴清，（二苓、澤瀉，為利水之主藥。用白朮者，培土以制水也。加桂枝者，因表未全解也。服後多飲暖水，取其氣散營衛，令得似汗而表裡雙解矣。）小便不利而渴飲，飲蓄胸中水氣停。（胃中乾燥而渴飲，此無水也，與水則愈，宜白虎湯。小便不利而渴飲，此蓄水也，利水則愈，宜五苓散。）水入即吐名水逆，（胸中有水，則不能容水，故水入則吐。水入即吐，名曰「水逆」，宜五苓散。食入即吐，名曰「寒格」，宜乾薑黃連黃芩人參湯。）二條合看益分明。（按：五苓證，一則曰「傷寒脈浮，小便不利，微熱消渴」，一則曰「中風發熱而煩，渴欲飲水，水入即吐」，二條合看，益知五苓為利水而設，非治煩渴也。）故用五苓（散）通水道，不然煩渴豈堪烹。（水氣蒸騰，為煩，為渴，與五苓以利水，水去則煩渴自除，此治病必求其本也。若煩渴非因水氣者，豈五苓所可治哉！）身疼霍亂分寒熱，表裡陰陽辨別行。（霍亂身疼，須分寒、熱二證：若熱多欲飲水者，宜五苓散和太陽之表裡；若寒多不用水者，宜理中丸理中臟之陰陽。）若以桂枝更肉桂，（此本一方二法。治傷寒用桂枝，治雜病用肉桂，乃有表無表之分。）吐涎眩悸水邪聽。（臍下悸，吐涎沫，水氣自下而上逆頭眩者，精氣不布於上也。惟利其水，則眩悸吐涎悉愈。）水邪內著誠能卻，外溢肌膚腫亦靈。（此方治內著之水，誠為合度，即里水外滲於肌肉而為腫滿者，亦靈。）除桂名為四苓散，無寒但渴服之寧。（周揚俊曰：「但小便不利而渴，只用四苓足矣。」蓋外無惡寒發熱身痛之表證，則不必用桂枝；內無眩悸吐涎之裡證，則不必用肉桂。）辰砂清熱蒼除濕，黃疸茵陳不改名。（五苓散加辰砂清熱，名辰砂五苓散，加蒼朮勝濕，名蒼朮五苓散，加茵陳治疸，名茵陳五苓散，皆仍五苓之名。）春澤（湯）加參名便易，病前病後渴能平。（五苓散加人參，名春澤湯，取古詩「春水滿泗澤」意，明言此湯治胸中有蓄水之渴也。一因無病而津氣先虛，一因病後而津氣未復，故加參以生津益氣。）五苓（散）利水之專劑，作散方能布水精。（五苓為利水之專劑，作散服者，取其停留胸中，緩循經絡，以輸脾歸肺，下達膀胱，水精四布，五經並行，則水得盡去，而津液不傷，此仲景之微意也。）寧靜水邪從下竭，（小青龍治動而上逆之水，故汗而散之；五苓散治靜而不行之水，故引而竭之。）變湯鮮效古來評。（徐靈胎《蘭臺軌範》曰：「此乃散方，近人用以作湯，往往鮮效。」終當從古法為是，用者審之。）</p>

<h3>豬苓湯</h3>
<p>治陽明病脈浮發熱，渴欲飲水，小便不利者；並治少陰病下利六七日，咳而嘔渴，心煩不得眠者。</p>
<p>豬苓（去皮）　茯苓　澤瀉　滑石（研）　阿膠（各一兩）　水四升，先煮四味取二升，去滓，納膠烊化，溫服七合，日三服。</p>
<p>豬苓湯內二苓全，澤瀉阿膠滑石研。利水育陰兼瀉熱，（此即五苓散去桂、術，加阿膠育陰，滑石瀉熱，以治陽明、少陰二經之水熱，寓育陰於利水之中，為利小便之潤劑。與五苓散利水雖同，寒溫迥別，惟明者知之。）溺秘心煩嘔渴痊。（心煩為熱，小便不利屬濕，濕熱鬱蒸，則嘔而口渴。）汗多胃燥非宜用，恐令亡津大便堅。（《傷寒論·陽明篇》云：「汗多胃燥者，不可與豬苓湯，恐亡津液，令大便硬也。」然則大便硬者，豬苓湯更不可與，明矣。）</p>

<h3>茯苓甘草湯</h3>
<p>治傷寒汗出，厥而心下悸，口不渴者。</p>
<p>茯苓　桂枝（各二兩）　甘草（炙一兩）　生薑（三兩）　水四升，煮取二升，分溫服。</p>
<p>茯苓甘草（湯）桂生薑，泄水（茯苓生薑）扶陽（桂枝甘草）厥悸嘗。（水停心下則悸，陽氣不布於四末則厥。）先治水而後治厥，不然下利卻須防。（《傷寒論·厥陰篇》曰：「傷寒厥而心下悸者，宜先治水，當服茯苓甘草湯，卻治其厥，不爾，水漬入胃，必作利也。」）汗出厥悸口不渴，亡陽輕證此能匡。（旭高按：此方《傷寒論》一治厥悸，一治汗出不渴，諸家不知兩相綰照，故注之多不得其理，若能互文以會意，則此方之義瞭然矣。蓋汗出而厥，為陽氣外亡，悸而不渴，為水氣停中，猶幸脈不細微，身不振惕，此水氣亡陽之輕者也，故用茯苓、生薑散水氣，桂枝、甘草以扶陽；若稍重者，當與苓桂朮甘湯；尤重者，當與真武湯。何以知之？以三方同用茯苓知之。蓋汗大泄，必引腎水上泛，非茯苓不能制之，故亡陽之證必多汗；若陽未全亡，則用桂枝、甘草以斂汗；若陽已外亡，必用附子以回陽，而茯苓則為主藥。此方與苓桂術甘及真武湯，皆治水氣亡陽之證，而分淺深次第以為治也。嗟乎！使非統會全經，安能窺仲景之堂奧哉！）</p>

<h3>茯苓桂枝甘草大棗湯</h3>
<p>治傷寒發汗後，其人臍下悸，欲作奔豚者。</p>
<p>茯苓（半斤）　桂枝（四兩）　甘草（二兩炙）　大棗（十二枚）　以甘瀾水一斗，先煮茯苓減二升，納諸藥煮取三升，溫服一升，日三服。</p>
<p>苓桂甘草大棗湯，草棗培土苓制水，還加桂枝保心陽，茯苓重用法先煮，（凡方中重用之藥，法必先煮。）腎氣奔豚宜泄制，（王晉三《古方選注》云：「腎氣奔豚，治宜泄之、制之。茯苓、桂枝通陽滲泄，保心氣以御水凌，甘草、大棗補脾土以制水泛，則奔豚臍悸之勢緩。是方即茯苓甘草湯，惡生薑性升而去之，其義深且切矣。」）水邪臍悸力能攘。（按：心下悸，是水已凌心，故茯苓甘草湯用生薑散心胸間水氣。此臍下悸，是水方上逆，猶未至於凌心，故去生薑之升散，而加大棗之緩中，以制其上逆之勢也。凡水邪作悸，茯苓為必用之藥，人皆知之，而仲景二方，皆佐以桂枝者，何也？蓋下焦腎水，必挾肝邪而後能上逆，惟桂能伐木，而又可以扶陽散寒，故亦必用之也。余友陸覲揚云：「治心下悸宜用桂枝，臍下悸宜用肉桂。」其說甚是，姑志之。）</p>

<h3>苓桂朮甘湯</h3>
<p>治心下有痰飲，胸脅支滿，目眩，及傷寒吐下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，發汗則動經，身為振振搖者。</p>
<p>茯苓（四兩）　桂枝　白朮（各三兩）　甘草（二兩炙）　水六升，煮取三升，分溫三服。苓桂術甘（湯）蠲飲劑，崇脾以利膀胱氣。（膀胱氣鈍則水蓄，脾不行津液則飲聚。白朮、甘草崇脾土以運津液，茯苓、桂枝利膀胱以布氣化，則痰飲悉蠲矣。）飲邪上逆氣衝胸，胸脅支滿眩暈既。（胸脅支滿，頭目眩暈，是痰飲之的證。）病痰飲者藥當溫，（病痰飲者，當以溫藥和之，此治痰飲要訣。）水飲旋從小便去。（《金匱·痰飲篇》云：「夫短氣有微飲，當從小便去之，苓桂朮甘湯主之，腎氣丸亦主之。」尤在涇《金匱要略心典》曰：「氣為飲抑則短，欲引其氣，必蠲其飲。飲，水類也。治水必自小便去之。」趙以德《金匱玉函經二注》曰：「苓桂朮甘湯主飲在陽，呼氣之短；腎氣丸主飲在陰，吸氣之短。蓋呼者出心肺，吸者出腎肝。茯苓入手太陰，桂枝入手少陰，皆輕清之劑，治其陽也；地黃入足少陰，出萸入足厥陰，皆重濁之劑，治其陰也。一證二方，豈無故哉！」）誤汗動經身振搖，陽虛輕者斯能御。（誤汗動經，身振振搖，此亦陽虛而挾水飲之證，即真武證之輕者，故此法亦仿真武之意。）</p>

<h3>〔附〕桂苓甘露飲</h3>
<p>（劉完素《宣明論方》）　治中暑受濕，引飲過多，頭痛煩渴，濕熱小便秘。</p>
<p>茯苓　澤瀉（各一兩）　豬苓　白朮　肉桂（各五錢）　滑石（四兩）　甘草　石膏　寒水石（各二兩）　為末，每服三錢，溫酒下，生薑湯尤良。</p>

<h3>〔附〕桂苓甘露飲</h3>
<p>（張子和《儒門事親》）　治伏暑煩渴，渴欲飲水，水入則吐，脈虛者。</p>
<p>即河間方中去豬苓，減三石一半，加人參五錢，乾葛一兩，藿香五錢，木香一分。河間桂苓甘露飲，五苓散加三石甘，（此即五苓散加滑石、石膏、寒水石、甘草。）中暑煩渴小便秘，清熱利濕所宜諳。（王晉三《古方選注》曰：「消暑在於消濕去熱，故用五苓去濕，三石解熱。濕熱既去，一若新秋甘露降而暑氣潛消矣。」）三石減半豬苓去，加參葛藿木香參，此是子和（桂苓）甘露飲，脈虛水逆（水入則吐，名曰「水逆」。）服之堪。霍亂轉筋煩渴者，益虛去濁用無慚。（程扶生曰：「吐瀉亡津煩渴，法宜補脾胃，生津液，升清降濁，分消濕熱，此方最為合度。」喻嘉言《醫門法律》曰：「河間之桂苓甘露飲，用五苓、三石，意在生津液以益胃之虛；子和之桂苓甘露飲，用人參、葛根、甘草、藿香、木香，益虛之中，又兼去濁。」）</p>

<h3>〔附〕六一散</h3>
<p>（劉完素《傷寒標本心法類萃》）　治暑邪表裡俱熱，煩躁口渴，小便不通，砂淋石淋，吐瀉瘧痢；又能下乳滑胎，解酒食毒。</p>
<p>滑石（六兩）　甘草（一兩）　為末，每服三錢，新汲水調下。（汪訒庵《醫方集解》加辰砂名益元散）</p>

<h3>〔附〕清六散</h3>
<p>（朱震亨《丹溪心法》）　治赤痢。</p>
<p>即六一散一料加紅曲五錢。（一云二兩半）</p>

<h3>〔附〕溫六散</h3>
<p>（吳昆《醫方考》）　治白痢。</p>
<p>即六一散一料加乾薑五錢。</p>

<h3>〔附〕三生益元散</h3>
<p>（吳昆《醫方考》）　治血淋。</p>
<p>即益元散三錢加生扁柏葉、生車前、生藕節汁各一杯調服。</p>
<p>六一（散）滑石同甘草，（取天一生水，地六成之之義，故名「六一」。又名天水散。）解肌行水兼清燥，統治表裡及三焦，熱渴暑煩瀉痢保，（滑石氣輕能解肌，質重能清降，寒能勝熱，滑能通竅，淡能行水，使肺氣降而下通膀胱，故能祛暑止瀉，解煩除渴而利小便。加甘草者，和其中氣，又以緩滑石之寒滑也。）下乳通淋能滑胎，（皆取「滑可去著」之義）津虧無熱非宜討。（河間此方，統治表裡、上下、三焦濕熱，然惟體盛濕多之人宜服之，以解暑利水，使濕熱從小便出。若無濕熱之人，而多服此，則反耗其津液，而渴轉甚，又當服生脈散。）加辰砂號益元散，（滲泄而不損元氣，故曰「益元」。）清心消暑尤為好。（辰砂清鎮心神，則暑熱易卻。）紅曲清六（散）赤痢靈，（赤屬熱傷血分，紅曲能調六腑之血。）乾薑溫六（散）白痢寶。（白屬熱傷氣分，乾薑能散濕熱之氣。）三生益元（散）治血淋，側柏車前藕節搗。（加入三味，俱用鮮者佳，搗汁調服，有涼血、止血、通淋之功。）</p>

<h3>〔附〕大橘皮湯</h3>
<p>（劉完素《宣明論方》）　治濕熱小便不利，大便泄瀉，及水腫等證。</p>
<p>滑石（六兩）　甘草（二錢）　赤苓（一兩）　豬苓　澤瀉　白朮　肉桂（各五分）　陳皮（一兩）　木香（一分）　檳榔（三錢）　加姜煎，每服五錢。</p>
<p>大橘皮湯治濕熱，五苓（散）六一（散）二方綴，陳皮木香檳榔增，能消水腫及瀉泄。（小水併入大腸，致小便不利，而大便泄瀉。五苓散、六一散二方，皆行水瀉熱之藥。加檳榔峻下，陳皮、木香理氣以利小便而實大便也。水腫亦濕熱為病，故皆治之。）</p>

<h2>理中湯類</h2>

<h3>理中湯</h3>
<p>治太陰病自利不渴，寒多而嘔，腹痛，脈沉而細；以及中寒霍亂，胃中寒飲，喜唾涎沫，並宜服之。</p>
<p>人參　甘草（炙）　白朮　乾薑（各三兩）　水八升，煮取三升，去滓，溫服一升，日三服。（加附子一枚，名附子理中湯，治證同上，而手足厥冷者宜之。）</p>
<p>理中湯主理中鄉，（理中者，理中焦之氣，以交於陰陽也。）甘草人參術乾薑，（人參、甘草，甘以和陰，白朮、乾薑，辛以和陽，辛甘相輔以處中，則陰陽自然和順矣。此溫補中焦之主方也。）嘔利腹痛脈沉細，口無燥渴此為良。（以上皆中宮虛寒之證。自利不渴者為寒，若渴者為熱。）手足厥冷陰寒甚，或加附子總扶陽。（手足厥冷，陽氣虛而陰寒極矣，故加附子以扶陽氣。）</p>

<h3>桂枝人參湯</h3>
<p>治太陽病外證未除，而數下之，遂協熱而利，利下不止，心下痞硬，表裡不解者。</p>
<p>理中湯原方加桂枝四兩，甘草加一兩，以水九升，先煮四味取五升，納桂枝，更煮取三升，去滓，溫服一升，日二夜一服。</p>
<p>桂枝人參（湯）甘術姜，太陽協熱利煎嘗，必因數下傷中氣，里已虛寒用此方。（此必因數下之後而傷中氣，外雖協熱，而里已虛寒，故仍用溫補。）利不止而心下硬，脈來微弱始相當。（下利不止，脈微細弱，中宮之陽氣虛矣，雖心下痞硬，亦屬虛痞。）先煎四味後煎桂，溫補之中解表勷。（先煮四味，後納桂枝，欲其於溫補藥中越出於表，以散餘邪。此太陽、太陰同治之方，與桂枝加芍藥湯相表裡，同治太陽誤下，邪陷入於太陰之證。亦觀其表證里證之孰多孰少，故治各有別。）</p>

<h3>桂枝附子湯</h3>
<p>治傷寒八九日，風濕相搏，身體煩疼，不能自轉側，不嘔不渴，脈浮虛而澀者。</p>
<p>桂枝（四兩）　附子（三枚）　甘草（二兩）　生薑（三兩）　大棗（十二枚）　水六升，煮取二升，去滓，分溫三服。（此即桂枝去芍藥加附子湯。但彼桂枝用三兩，附子用一枚，以治下後脈促胸滿惡寒之證；此桂枝加一兩，附子加二枚，以治風濕身疼脈浮澀之證。彼編入《桂枝湯類》，此入於《理中湯類》，各有其理也。一方而治病迥殊，分兩之不可忽如此。）</p>

<h3>朮附湯</h3>
<p>治證同前，而大便硬、小便自利者宜此。</p>
<p>桂枝附子湯去桂枝，加白朮四兩，煎服法同。初服，其人身如痹，半日許服三服盡，其人如冒狀，勿怪。以朮、附並走皮中，逐水氣未得除，故使然耳。虛家及產婦，宜減服之。甘草附子湯　治風濕相搏，骨節疼煩掣痛，不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者。</p>
<p>甘草（炙）　白朮（各二兩）　桂枝（四兩）　附子（二枚炮）　以水六升，煮取三升，去滓，溫服一升，日三服，取微汗。</p>
<p>桂枝附子湯甘草，薑棗煎之風濕嘗，身重難於自轉側，（濕邪重著）脈虛不渴（內外之陽俱虛）始相當。（風濕外持，衛陽不振，用此振陽氣而敵陰邪。）大便硬而小便利，去桂加朮朮附湯。（桂枝通太陽之氣化，白朮生腸胃之津液。大便硬是腸胃之津液乾枯，故加白朮；小便利則太陽之氣化自利，故去桂枝。）若除薑棗留桂術，甘草附子湯名彰，骨節煩疼（濕滯關節）並短氣，（濕滯於中）惡風汗出（風淫於表）服之良。風勝於濕桂附治，濕勝於風朮附匡。風濕俱勝宜甘附，總之三法盡通陽。（王晉三《古方選注》謂：「桂枝附子湯治風勝於濕，白朮附子湯治濕勝於風，甘草附子湯治風濕俱勝。」雖非仲景心法，然其說頗通，姑志之。）</p>
<p>甘姜苓朮湯（一名腎著湯）　治腎著之病，其人身體重，腰中冷，如坐水中，形如水狀，反不渴，小便自利，飲食如故。病在下焦。此身勞汗出，衣里冷濕，久久得之，腰以下冷痛腹重，如帶五千錢，此湯主之；並治胞痹，少腹膀胱按之內痛若沃以湯，澀於小便，上為清涕。</p>

<h3>甘草</h3>
<p>白朮（炒各二兩）　乾薑（炮）　茯苓（各四兩）　水五升，煮取三升，分溫三服，腰中即溫。腎著甘姜苓朮湯，濕傷脾腎此為良。腰中冷痛食如故，足見非關精氣傷。身重腹重俱濕甚，甘溫淡滲已能匡。（喻嘉言《醫門法律》曰：「腰冷如坐水中，非腎之精氣冷也，故飲食如故，便利不渴，且與腸胃之腑無涉，況腎臟乎？故但用甘溫通陽，淡滲行水之藥足矣。」按：腰為腎腑，冷濕之邪著而不移，是著痹也。甘、薑、苓、術，暖土勝濕，所以制水也。）《宣明》（完素）用治胞痹證，少腹膀胱若沃湯，小便不利鼻流涕，通陽行水義當量。（按：風、寒、濕邪，客於胞中，則太陽膀胱之氣不能化，故水道不通。按之若沃以湯，形容小水脹極之情切著矣。其上為清涕者，足太陽經上絡額腦，太陽經氣不得下行，而但上入於腦，流出於鼻，故為清涕。《宣明論方》用此湯治之，固取其通陽行水，究不若五苓散徹上徹下、表裡兼施之為當也。用者審之。）</p>

<h3>甘草乾薑湯</h3>
<p>治肺冷唾涎沫而不渴，必遺尿小便數，宜以此溫之；並能回中焦之陽氣。</p>
<p>甘草（四兩炙）　乾薑（二兩炮）　水三升，煮取一升半，去滓，分溫再服。</p>
<p>甘草乾姜（湯）溫肺氣，唾涎（唾涎沫者必有寒飲）溲數（氣化失令）且遺尿，（膀胱不藏）口無燥渴（知非熱邪）方宜服，水冷金寒此劑司。（此方之治肺痿，乃肺中有水飲寒邪者。若火灼金傷之肺痿，與此相反，不可誤施。）陽氣溫和津自化，（陰自陽生，津由氣化，若陽氣不布，陰津亦不得上供。此乃溫陽氣以回津之法，非真能救肺液枯痿也。）亡陽輕證亦堪施。（乾薑苦辛，守而不走，故君以甘草，使辛從甘化，則能守中復陽。此得理中之半方，是回中焦陽氣之輕劑。）</p>

<h3>吳茱萸湯</h3>
<p>治陽明胃寒，食谷欲嘔，及少陰吐利，手足逆，煩躁欲死者；又厥陰乾嘔，吐涎沫而頭痛者，並主之。</p>
<p>吳茱萸（一升洗）　人參（三兩）　生薑（六兩）　大棗（十二枚）　水七升，煮取二升，去滓，溫服七合，日三服。（加附子一枚，名吳茱萸加附子湯，治寒疝腰痛，牽引睪丸，脈沉遲者。）</p>
<p>吳茱萸湯人參棗，重用生薑溫胃好。（吳萸、生薑溫胃散寒，人參大棗緩脾益氣，亦中焦之治法。）食谷欲嘔（必食而嘔，受病在納穀之處。）吐涎沫，（胃中有寒飲）厥利煩躁皆能保。（吐利而手足厥冷，煩躁欲死，少陰之陽並露矣。吳茱萸為厥陰之主藥，上可溫胃寒，下可救腎陽，故能統治以上諸證。）又吳萸加附子湯，寒疝脈沉所宜搗。（疝為肝病，故用吳萸以直溫肝經，加附子以散寒溫腎。）</p>

<h3>附子粳米湯</h3>
<p>治腹中寒氣，雷鳴切痛，胸脅逆滿嘔吐。</p>
<p>附子（一枚炮）　甘草（一兩）　大棗（十枚）　半夏　粳米（各半升）　以水八升，煮米熟湯成，去滓，溫服一升，分三服。</p>
<p>附子粳米（湯）半甘棗，益胃通陽溫腎好，（此益胃通陽溫腎之劑。半夏、甘草、粳米、大棗皆脾胃藥，加入附子一味，通徹上下，上可散寒止嘔，下可溫經定痛。）雷鳴切痛（四字著眼）腹中寒，胸脅逆滿嘔能保。（腎虛寒動於中，胃陽為寒凝窒，故下為雷鳴切痛，上為逆滿嘔吐。）</p>

<h3>大建中湯</h3>
<p>治心胸中大寒痛，嘔不能飲食，腹中滿，上衝皮起，出見有頭足，上下痛而不可觸近者。</p>
<p>蜀椒（二合炒去汗）　乾薑（四兩）　人參（二兩）　水四升，煮取二升，去滓，納膠飴一升，微火煎取一升半，分溫兩服。如一炊頃，可飲粥二升。溫覆之。</p>
<p>大建中湯建中陽，（大建中臟之陽，以勝上逆之陰。）蜀椒乾薑（溫中散寒）參飴糖。（建立中氣）心胸大寒痛嘔吐，不能飲食腹滿膨，（陰寒氣盛，中土無權。）上衝皮起有頭足，（陰凝成象）痛不可近此能攘。（前附子粳米證尚未至於不能食，胃氣未傷，故只用甘、棗、粳米和胃氣，半夏、附子止嘔痛；此證痛嘔而至於不能食，脾胃大虛，故用人參、飴糖建立中氣，蜀椒、乾薑溫中散寒，其證大段相同，而此重於彼耳。）</p>

<h3>〔附〕吳茱萸湯</h3>
<p>（《聖濟總錄》）　治「濁氣在上，則生䐜脹」。</p>
<p>吳茱萸（洗炒）　官桂　厚朴（薑汁製）　乾薑（炮各二兩）　蜀椒（炒去汗）　陳皮（去白）　白朮（各五錢）　為末，每服三錢，水一大盞，生薑三片，同煎至八分，空心去滓溫服。</p>
<p>《聖濟》吳萸湯術樸，椒姜陳桂七般藥。濁氣在上生䐜脹，是亦陰陽之反作。（《素問·陰陽應象大論》云「寒氣生濁，濁氣在上，則生䐜脹」，是亦陰陽反作也。）宣布五陽驅濁陰，濁降胃和脹自卻。（此溫散降濁之法。吳萸入肝，官桂入心，乾薑入脾，橘紅入肺，蜀椒入腎，皆氣厚性輕，芳香開發之品，用以宣布五陽，驅散濁陰；更以白朮、厚朴，溫中和胃，濁降胃和，䐜脹立已，真有捷於影響之妙。）</p>

<h3>〔附〕連理湯</h3>
<p>（汪訒庵《醫方集解》）　治傷暑瀉而作渴。</p>
<p>理中湯原方加黃連、茯苓。（原注云：「外感盛暑，內傷生冷者，非此不可。」）</p>
<p>連理湯方即理中（湯），黃連更與茯苓充。外傷盛暑內生冷，瀉而作渴可為功。（理中湯，治中氣虛寒之方也。太陰病自利不渴，為臟有寒，固宜以此溫之。若渴則為有熱矣，乃連理湯但加黃連、茯苓二味，以治傷暑瀉而作渴。觀原注云「外感盛暑，內傷生冷，非此不可」，可知其義仍責重於中臟有寒，故得用理中為主，加黃連所以清暑，茯苓所以滲濕，殊非因渴而加也。然則凡病渴者，皆當作熱治，而瀉而作渴者，半屬亡津，仍當主以甘溫生津止渴，與夫本濕標熱，雖渴而不欲飲者，治宜苦辛雜用，寒熱兼施，均不得專恃苦寒也，審矣。且黃連性大寒而味極苦，苦屬火而寒屬水，以治水火相亂，濕熱為病之渴則可；若燥火之渴，而過服黃連，則火從苦發，恐反益其燥矣。故《神農本草》但云「黃連主腸澼腹痛自利」，並未言及能止渴也。或謂黃連因渴而加，淺矣淺矣，故余辨論若此。）</p>

<h3>〔附〕枳實理中丸</h3>
<p>（《太平惠民和劑局方》）　治寒實結胸，胸膈高起，手不可近者。</p>
<p>理中湯原方加枳實（麩炒）一兩，茯苓二兩，水泛丸。</p>
<p>枳實理中丸茯苓，參甘薑朮互調停，寒痰凝結胸中痛，破結通陽此法靈。（按：寒實結胸，無熱證者，仲景用三物白散以溫下之，惟體實者相宜。若體虛者，當先理氣，此丸深中肯綮。然觀是方，補中散寒，滌痰蠲飲具備，以治脾胃虛寒，痰飲並結於胸，胸膈滿痛者，必獲效驗，用者知之。）</p>

<h3>〔附〕治中湯</h3>
<p>（李東垣）　治憂思鬱結，脾虛氣滯，胸腹痞滿，兼食積者。</p>
<p>理中湯加青皮、陳皮各一兩。（更加厚朴，名溫胃湯，治同。）</p>
<p>治中湯制自東垣，鬱結能舒痞滿寬，大法理中湯作主，青陳破滯帶疏肝。（鬱結傷中，則木來乘土，胸中痞滿，不思飲食，是肝實脾虛也。故用理中湯補土和中，加青皮、陳皮以破滯而平肝氣。）憂思氣結脾虛脹，厚朴加之溫胃安。（厚朴溫胃氣，消脹滿。）</p>

<h3>〔附〕理陰煎</h3>
<p>（張介賓《新方八陣》）　治真陰不足，脾腎虛寒等證。若素多勞倦之人，忽感寒邪，不能解散，用此溫托最良；婦人經遲腹痛並效。</p>
<p>熟地（三五七錢或一二兩）　當歸（二三錢或五七錢）　乾薑（炒黃色一二三錢）　炙甘草（一二錢）　或加桂肉（一二錢）　水二鍾，煎七八分，熱服。（若勞倦感寒，可加麻黃。甚則加細辛、附子；經遲腹痛，加肉桂、玄胡索。若但加附子，名附子理陰煎，治命門火衰。）</p>

<h3>〔附〕六味回陽飲</h3>
<p>（張介賓《新方八陣》）　治陰陽將脫垂危諸證。</p>
<p>人參（一二兩或數錢）　製附子（二三錢）　炮姜（二三錢）　炙草（一錢）　熟地（五錢或一兩）　當歸身（三錢如泄瀉者或血動者以冬朮易之多多益善）　水二鍾，武火煎七八分，溫服。</p>
<p>理陰（煎）歸草乾姜地，此是理中之變義。脾腎中虛陰又虧，忌投剛燥宜斯治。（景岳自云「此理中之變方也。凡脾腎中虛等證，宜剛燥者，當用理中、六君之類；宜溫潤者，當用理陰、大營之類。欲知調補，當先察此。」）勞倦傷寒溫托良，散邪加入麻辛使。（凡勞倦感寒，邪不能散，發熱身疼頭痛，背心肢體畏寒，但脈數無力，或雖口渴，亦是假熱之證，若用寒涼攻之必死，宜速用此方以溫補陰分，托散表邪，連進數劑，使陰氣漸充，則汗從陰達，而寒邪不攻自散，其效甚佳。若寒凝陰勝，而邪有難解者，必加麻黃。若在嚴寒之令，更加細辛，或再加附子。此寒邪初感，溫散第一方也。但仲景溫散，首重麻黃、桂枝，景岳溫散，即以理陰煎及大溫中飲為增減，此雖一從陽分，一從陰分，其跡若異，然一逐於外，一托於內，而用溫則一也。當因所宜而酌用之。）經遲腹痛嘔因寒，或益延胡肉桂餌。（延胡、肉桂，散營分之寒，通月事，止腹痛。）陰陽將脫證垂危，六味回陽（飲）參附致。（人參、附子，以回陽氣。）</p>

<h2>四逆湯類</h2>

<h3>四逆湯</h3>
<p>治少陰病下利清穀，裡寒外熱，手足厥冷，汗出而厥，及膈上有寒飲乾嘔者；又治太陽發熱，頭痛脈沉，雖身疼痛，當救其里；又太陽病發汗後，大汗出，熱不去，內拘急，四肢疼，下利厥逆而惡寒者，均宜以此主之。</p>
<p>甘草（二兩炙）　乾薑（一兩半）　附子（一枚生切）　水三升，煮取一升二合，去滓，分溫再服。強人可大附子一枚，乾薑三兩。</p>

<h3>通脈四逆湯</h3>
<p>治證同上，而脈微欲絕者宜此。</p>
<p>四逆湯原方乾薑用三兩，加蔥九莖。</p>

<h3>通脈四逆加豬膽汁湯</h3>
<p>治陰盛格陽，手足厥冷，脈微欲絕，面赤咽疼煩躁者宜此。</p>
<p>通脈四逆湯加豬膽汁半合。（諸藥煎成，去滓，納膽汁和服。）</p>

<h3>四逆加人參湯</h3>
<p>治惡寒脈微而複利，利止亡血也。</p>
<p>四逆湯原方加人參一兩。</p>

<h3>茯苓四逆湯</h3>
<p>治發汗，若下之，病仍不解，煩躁者。</p>
<p>四逆加人參湯內更加茯苓四兩。</p>
<p>四逆湯中姜附草，四肢逆冷急煎嘗。（按：方名「四逆」，必以之治厥逆。《傷寒論·厥陰篇》云：「厥者，陰陽氣不相順接，手足逆冷是也。」）臟寒吐利脈沉細，（上吐下利而脈沉細，口不渴，以其臟有寒故也，溫之無疑。）飲邪乾嘔亦相當。（寒飲無實物，溫之則寒散而飲去嘔止。凡治飲皆用溫法。）身疼清穀先溫里，（凡病皆當先表后里，惟下利清穀，則以扶陽為急，而表證為緩，雖身疼痛，亦當先救其里，俟清穀止而身疼未除者，仍從表治可也。）不論三陰與太陽。（王晉三《古方選注》曰：四逆湯「凡三陰一陽證中有厥者皆用之，故少陰用以救元海之陽，太陰用以溫臟中之寒，厥陰薄厥，陽欲立亡，非此不救。至於太陽誤汗亡陽亦用之者，以太少為水火之主，非交通中土之氣，不能內復真陽，故以生附子、生乾薑，徹上徹下，開闢群陰，迎陽歸舍，交接於十二經。反復以炙草監之者，亡陽不至於大汗，則陽未必盡亡，故可緩制留中，而為外召陽氣之良法。」）表熱裡寒多汗出，更兼煩躁厥須防。（多汗煩躁，陽氣外亡，最有厥脫之慮。）厥而脈絕加蔥白，（名通脈四逆湯蔥入營通脈）面赤咽疼豬膽勷。（名通脈四逆加豬膽汁湯　豬膽汁苦滑之極，能引陽藥直達下焦，所謂「熱因寒用」也。）亦有加入人參者，（名四逆加人參湯）亡陽脫血此為良。（此亡陽而更脫血，故加人參以生津益血。）更益茯苓療腎躁，（腎躁，即陰躁也。必引腎水上泛，故加茯苓鎮之。）茯苓四逆湯名彰。（此即真武湯之變方，重用茯苓鎮泄腎水。）</p>

<h3>白通湯</h3>
<p>治少陰病下利脈微，惡寒蜷臥。</p>
<p>蔥白（四莖）　乾薑（一兩）　附子（生切一枚）　水三升，煮取一升，去滓，分溫兩服。服後脈暴出者死，微續者生。（「暴出」乃藥力所迫，藥力盡則氣仍絕；「微續」乃正氣自復，故生。）</p>

<h3>白通加人尿豬膽汁湯</h3>
<p>治少陰病下利不止，厥逆無脈，乾嘔煩者。</p>
<p>白通湯內加入人尿五合，豬膽汁一合，沖和服。</p>
<p>白通（湯）姜附兼蔥白，（此四逆湯去甘草，加蔥白。）少陰下利脈微給。（少陰下利脈微，但用薑、附扶陽止利，蔥白通脈；不用甘草監製薑、附者，欲其直至下焦，急溫少陰之臟也。）厥逆無脈嘔且煩，加入人尿豬膽汁。（無脈厥逆，嘔而且煩，則上下俱不通，陰陽相格，故加人尿之鹹寒，豬膽之苦滑，引辛熱之藥，達於至陰而通之，《內經》所謂「反佐以取之」是也。）熱因寒用妙義深，陰盛格陽此宜緝。（陰寒內盛，格陽於外者，純與熱藥，則寒氣格拒不得入，必於熱劑中加寒藥以為引用，使得入陰而回陽，此類是已。）</p>

<h3>當歸四逆湯</h3>
<p>治手足厥寒，脈細欲絕者；並治寒入營絡，腰股腿足痛甚良。</p>
<p>當歸　桂枝　芍藥　細辛（各三兩）　甘草　木通（各二兩）　大棗（二十五枚）　水八升，煮取三升，去滓，分溫三服。</p>

<h3>當歸四逆加吳茱萸生薑湯</h3>
<p>治證同當歸四逆湯。若其人內有久寒者宜此。</p>
<p>當歸四逆湯加吳茱萸二升，生薑半斤，以水六升，清酒六升，煮取五升，去滓，分溫五服。當歸四逆（湯）桂枝芍，細辛甘草木通著，再加大棗治厥陰，脈細陽虛由血弱。（此四逆乃太陽之邪，傳入厥陰，而表證猶未罷，故用桂枝湯，加當歸和肝血，細辛散裡寒，木通通陰陽、利血脈。周揚俊曰：「四逆湯全從回陽起見，四逆散全從和解表裡起見，當歸四逆湯全從養血通脈起見，同名四逆，而治各不同如此。」）內有久寒加姜茱，（名當歸四逆加吳茱萸生薑湯）發表溫中通脈絡。（吳茱萸溫中達下，生薑溫中發表，清酒和營通絡，合入當歸四逆湯，為溫經復脈之良劑。）不用附子及乾薑，助陽過劑陰反灼。（當歸四逆不用薑、附者，陰血虛微，恐反灼其陰也。）</p>

<h3>乾薑附子湯</h3>
<p>治下後復汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身無大熱者。</p>
<p>乾薑（一兩）　附子（一枚生切）　水三升，煮取一升，去渣，頓服。（當與茯苓四逆湯參看，歌訣更當互編。）</p>
<p>乾薑附子（湯）回陽劑，晝躁夜安陰亦虧。（按：陽虛有二證：有喜陽者，有畏陽者；大抵陰亦虛者畏陽，陰不虛者喜陽。此證陽將欲亡，陰無所依而亦虛，故反畏陽也。）此證須知不嘔渴，脈沉無熱始堪推。（王晉三《古方選注》曰：「此治太陽壞病轉屬少陰者，由於下後復汗，一誤再誤，而亡其陽，致陰躁而見於晝日，是陽亡在頃刻矣。當急用生乾薑助生附子，純用辛熱走竄，透入陰經，比四逆之勢力尤峻，方能驅散陰霾，以復渙散真陽。若猶豫未決，必致陽亡而後已。」）</p>

<h3>真武湯</h3>
<p>治少陰傷寒腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣，其人或咳或嘔，此湯主之；又治太陽病發汗，汗出不解，仍發熱，心下悸，頭眩，筋惕肉瞤，振振欲擗地者。</p>
<p>茯苓　芍藥　生薑（各三兩）　白朮（二兩）　附子（炮一枚）　水八升，煮取三升，去滓，溫服七合，日三服。</p>

<h3>附子湯</h3>
<p>治少陰病身體痛，手足寒，骨節痛，脈沉，口中和，背惡寒者。</p>
<p>附子（二枚生切）　人參（二兩）　茯苓　芍藥（各三兩）　白朮（四兩）　水八升，煮取三升，去滓，溫服一升，日三服。</p>
<p>真武湯中用熟附，茯苓朮芍生薑互。崇土扶陽泄水邪，少陰水逆陽虛故。（按：腎之真陽盛，則水皆內附，而與腎氣同其蟄藏。惟腎之陽虛不能制水，則水得氾濫而為病。苓、朮、芍、姜，皆脾胃藥，崇土以鎮伏腎水，附子以挽回陽氣。方名「真武」，蓋取固腎為義。）腹疼嘔利四肢沉，（皆脾胃病，蓋水反侮土故也。）悸眩（水氣凌心）瞤惕（陽氣欲亡）兼能顧。（按：真武主治，在於崇土扶陽，以泄水邪，故不但里鎮少陰水泛，兼可外御太陽亡陽。）又治虛寒附子湯，（此治虛寒證之主方）其方大段同真武。（附子湯藥品，與真武湯大段相同，惟附子生熟分兩各異；其補陽鎮陰之分岐，只在參、姜一味之轉旋。於此等處，大宜著眼。）但以人參易去姜，溫散之功轉溫補。（真武湯用姜而不用參，是溫散以逐水氣。附子湯去姜而用參，是溫補以壯元陽。）骨痛身疼手足寒，脈沉不渴宜煎取。（純是少陰虛寒之證，故一惟溫補。）</p>

<h3>〔附〕漿水散</h3>
<p>（劉完素《素問病機氣宜保命集》）　治虛寒水瀉，冷汗脈微，甚則嘔吐，此為急病；夏暑暴瀉亡陽亦宜。</p>
<p>附子　乾薑　炙甘草　官桂（各五錢）　高良薑（二錢半）　半夏（二兩）</p>
<p>為細末，每服三五錢，漿水二盞，煎至一盞，去滓熱服。</p>
<p>河間漿水（散）治吐瀉，脈微汗冷亡陽者。附姜夏草桂良薑，（此即四逆湯加官桂佐附子，加良薑佐乾薑，加半夏佐甘草，治上吐下瀉，裡虛寒而外亡陽者，頗有殊功。）地漿隨時為取捨。須知漿水消暑邪，暑瀉方宜加入寫。（按：地漿水於牆陰處地下掘坎，以水傾入攪混，澄清用。取其為陰中之陰，能瀉陽中之陽，以之治水土相混之病，仍自還於清，故伏暑濕熱，吐瀉煩渴有奇效。惟暑月吐瀉亡陽者，用姜附等回陽藥，宜以地漿水煎之。若非暑月，不宜用也，須知之。）</p>

<h3>〔附〕回陽返本湯</h3>
<p>（陶節庵《傷寒六書》）　治陰盛格陽煩躁。</p>
<p>附子　乾薑　人參　麥冬　五味子　炙甘草　臘茶　水一鍾煎之，臨服入蜜五匙，頓冷服之，取汗為效。（若面赤戴陽者，加蔥白七莖，黃連少許。）</p>
<p>回陽返本湯陳皮，四逆生脈二方披。（此四逆湯合生脈散，回陽而兼復陰。加陳皮以理氣也。生脈散編《炙甘草湯類》。）臘茶白蜜加煎服，（茶甘寒，蜜甘潤，皆以監薑、附燥熱也。）陰盛格陽煩躁宜。（陰盛格陽，手足厥冷，脈微欲絕，身反不惡寒而煩躁，是其候也。）戴陽（《傷寒論·厥陰篇》曰：「面赤戴陽，下虛故也。」）蔥白（蔥白通上焦之陽，下交於腎。）黃連入，（黃連與附子同用，能交水火於頃刻。）但躁不煩不可醫。（內熱曰「煩」，謂心中懊憹煩悶，為有根之火，故但煩不躁，及先煩後躁者，皆可治也。外熱曰「躁」，謂身體手足擾動，欲坐臥裸衣入井，為無根之火，故但躁不煩，及先躁後煩者，皆不可治也。）</p>

<h3>〔附〕附姜白通湯</h3>
<p>（喻嘉言《醫門法律》）　治猝暴中寒，厥逆，嘔吐瀉利，色清氣冷，肌膚凜慄無汗，陰盛沒陽之證。</p>
<p>附子（炮）　乾薑（炮各五錢）　蔥白（五莖取汁）　豬膽（大者半枚）　水二大盞，煎附、姜二味至一盞，入蔥汁、豬膽汁，和勻溫服。再用蔥一大握，以帶輕束，切去兩頭，留白二寸許，以一面熨熱，安臍上，用熨斗盛炭火熨蔥白上面，取其熱氣從臍入腹；甚者連熨二三餅；又甚者，再用艾炷灸關元、氣海各二三十壯。內外協攻，務在一時之內，令得陰散陽回，身溫不冷為善。</p>

<h3>〔附〕附薑湯</h3>
<p>（喻嘉言《醫門法律》）　治猝暴中寒，其人腠理素疏，自汗淋漓，身冷，手足厥逆，或外顯假熱躁煩，乃陰盛於內，逼其陽亡於外，即前方不用蔥白也。</p>
<p>附子（炮）　乾薑（炮各五錢）　水二大盞，煎至一盞，加豬膽汁一蛤殼，和溫冷服。不用蔥熨及艾灼。</p>

<h3>〔附〕附姜歸桂湯</h3>
<p>（喻嘉言《醫門法律》）　治中寒用附薑湯後，第二服隨用此方繼之。因寒邪入中，必傷營血，故用此兼理營分之寒。</p>
<p>附子（炮）　乾薑（炮）　當歸　肉桂（各二錢五分）　水二大盞，煎減半，入蜜一蛤殼，溫服。</p>

<h3>〔附〕附姜歸桂參甘湯</h3>
<p>（喻嘉言《醫門法律》）　治陽氣將回，陰寒少殺，略有端緒，第三服即用此方。</p>
<p>附子（炮）　乾薑（炮）　當歸　肉桂（各一錢半）　人參　甘草（炙各二錢）　水二大盞，煨姜三片（自汗不用），大棗二枚，煎至一盞，入蜜三蛤殼，溫服。</p>

<h3>〔附〕辛溫平補湯</h3>
<p>（喻嘉言《醫門法律》）　治中寒服前三方後，陽已回，身溫色活，手足不冷，吐利漸除，第四方即用此平調臟腑營衛。</p>
<p>附子（炮）　乾薑（炮）　肉桂（各五分）　當歸　人參　甘草（炙）　黃耆（蜜炙）　白朮（土炒）　白芍（酒炒各一錢）　五味子（十二粒）　水二大盞，煨姜三片，棗二枚，煎至一盞，入蜜五蛤殼，溫服。</p>

<h3>〔附〕甘寒補氣湯</h3>
<p>（喻嘉言《醫門法律》）　治中寒服前藥後，諸證盡除，但經絡間微有頑痰窒塞，辛溫藥服之不能通快者，第五方用此。</p>
<p>人參　麥冬　白芍（酒炒各一錢）　黃耆（蜜炙一錢二分）　生地黃（二錢）　甘草（炙七分）　丹皮（八分）　淡竹葉（七分）　水二大盞，煎減半，入梨汁少許，熱服。</p>
<p>附姜白通（湯）治中寒，吐瀉厥冷身無汗。還須艾炷灸關元，（臍下一寸五分名「氣海」，二寸名「丹田」，三寸名「關元」。）少緩須臾必失算。（喻嘉言《醫門法律》曰：「寒中少陰，行其嚴令，埋沒微陽，肌膚凍裂，無汗而喪神守，急用附子、乾薑，加蔥白以散寒，加豬膽汁引入陰分。然恐藥力不勝，熨蔥灼艾，外內協攻，乃足破其堅凝。少緩須臾，必無及矣。」）魄汗淋漓陽外亡，但將附子乾薑喚，（名附薑湯）此即前方除去蔥，專主回陽勿兼散。（若其人腎陽素擾，腠理素疏，陰盛於內，必逼其陽亡於外，魄汗淋漓，脊項強硬，用附子、乾薑、豬膽汁，即不可加蔥及熨灼，蓋恐助其散，令氣隨汗脫，而陽無由內返也。宜撲止其汗，陡進前藥，隨加固護腠理。不爾，恐其陽復越也。）寒邪入中必傷營，當歸肉桂宜參贊。（名附姜歸桂湯　附、姜專主回陽，而其所中寒邪，必先傷營血，故服附薑湯後，即須當歸、肉桂，以驅營分之寒，才得藥病相當也。）俾得陽和陰少衰，附姜歸桂參甘（湯）灌。（服前方後，陽氣將回，陰寒少殺，即須加入人參、甘草，調元轉餉，收功帷幄。不爾，薑、附之猛，直將犯上無等，必墮前功也。）利止身溫汗亦收，辛溫平補湯宜按，耆朮芍味入前方，平補陰陽毋間斷。（服附姜歸桂參甘湯二三劑後，覺其陽明在躬，運動頗輕，神情頗悅，更加黃耆、五味、白芍、白朮大隊陰陽平補，不可歇手。蓋重陰見睍，浪子初歸，斯時搖搖靡定，若怠緩不為善後，必墮前功也。）經絡之間微有痰，休養其陰痰乃渙，甘寒補氣（湯）麥參甘，耆地芍丹梨竹爨。（用平補後，已示銷兵放馬，偃武崇文之意。茲復有頑痰留積經絡，但宜甘寒助氣開通，不宜辛辣助熱壅塞。蓋辛辣之味，始先不得已而用其毒，今陽既安堵，即宜休養其陰，故但宜甘寒補氣，緩緩調之，斯為善後之計耳。）次第編成共六方，嘉言煞費深心纂。長沙《猝病論》雖亡，從此尋求思過半。（漢張仲景先師著《傷寒論》十卷，治傳經陽病，《猝病論》六卷，治猝暴陰病。生民不幸，《猝病論》當世即已失傳。嗣後，英賢輩出，從未有闡揚之者。惟韓祗和於中寒一門，微有發明，誨人以用附子、乾薑為急，亦可為仲景之徒矣。清季喻嘉言尚論仲景《傷寒論》，凡於陰病見端，當以回陽為治者，一一表之。乃復著《陰病論》，並度金針，暢言妙蘊，觀其所訂六方，次第精詳，深合仲景心法。且《猝病論》亡，難以徵信。然取《傷寒》《金匱》治虛寒之方繹之，見治熱病雜病之虛寒者，用藥且若此，而治暴病中寒之說，可深信不疑矣。嗟乎！猝中寒邪，陽微陰盛，最為危急之候，設非薑、附之猛，斬關直入，何以迅掃陰氛，挽回陽氣，百中能有一活耶！邇年以來，霍亂盛行，頃即肢冷脈伏，面青音啞，旋見煩躁而死。雖當夏暑，詎非陰邪入中三陰之危證乎？余有感於斯，故纂喻氏方論，約編歌訣，表彰厥功，以鑑世之得失，且以自警也。）</p>

<h3>〔附〕益元湯</h3>
<p>（陶節庵《傷寒六書》）　治面赤身熱，不煩而躁，飲水不入口，名戴陽證。</p>
<p>附子（炮）　乾薑　艾葉　黃連　知母　人參　麥冬　五味子　甘草　加入薑、棗、蔥白煎，入童便三匙，冷服。</p>
<p>益元（湯）艾附與乾薑，麥味知連參草將，薑棗蔥煎入童便，（薑、附、艾葉回陽，協人參、甘草補氣，黃連以折泛上之火，知母以滋在下之陰，以靜其躁，蓋陽無陰則孤陽無所附麗，故扶陽亦兼和陰。麥冬、五味補肺清心，合人參以生脈。加童便冷服者，熱因寒用也。）赤面肢寒名戴陽。（此虛火上越之候，譬如燈將滅而復焰也。）</p>

<h3>〔附〕回陽救急湯</h3>
<p>（陶節庵《傷寒六書》）　治三陰中寒，初病身不熱，頭不痛，惡寒戰慄，四肢厥冷，引衣自蓋，蜷臥沉重，腹痛吐瀉，口中不渴，或指甲、唇青，口吐涎沫，或無脈，或沉遲無力。</p>
<p>附子（炮）　乾薑　肉桂　人參　白朮　茯苓　半夏　陳皮　甘草　五味子　水二鍾，姜三片，煎之，臨臥入麝香三釐調服。中病以手足溫和即止。（無脈者，加豬膽汁一匙。）</p>
<p>回陽救急（湯）用六君，（參、苓、朮、草、半夏、陳皮，名六君子湯。）桂附乾薑五味群，加麝三釐或膽汁，三陰寒厥見奇勳。（寒中三陰，陰盛陽微，故以附子、薑、桂辛熱之藥，祛其陰寒。而以六君子溫補之藥，助其陽氣；五味子合人參，以生其脈。加麝香者，以通其竅；加膽汁者，熱因寒用也。）</p>

<h3>〔附〕四維散</h3>
<p>（張介賓《新方八陣》）　治脾腎虛寒，滑脫之甚，或泄痢不止，或氣虛下陷，二陰血脫不能禁者，無出此方之右。</p>
<p>人參（一兩）　製附子（二錢）　乾薑（炒黃二錢）　甘草（炙一二錢）　烏梅肉（五分或一錢酌其味之微甚隨病人之意而用之或不用此即四味回陽飲也）　為末和勻，以水拌濕，蒸一飯頃，取起烘乾，再為末，每服一二錢，溫湯調下。</p>
<p>四維散治痢無休，脾腎虛寒滑脫瘳，參附烏梅姜炙草，二陰脫血並堪投。（參、附、薑、甘，溫補脾腎。加烏梅酸收，以固滑脫也。）</p>

<h2>烏頭湯類</h2>
<p>烏頭湯　治歷節，不可屈伸，疼痛。</p>
<p>烏頭（五枚切以蜜二升煮一升即出烏頭）　麻黃　芍藥　黃耆　甘草（炙各三兩）　以水三升，煮四味，取一升，去滓，納蜜煎中更煎之，溫服七合。不知，盡服之。</p>

<h3>大烏頭煎</h3>
<p>治寒疝繞臍痛，發則白汗出，手足厥冷，其脈沉緊者。</p>
<p>烏頭大者五枚）　用水三升，煮取一升，去滓，納蜜二升，煎令水氣盡，取二升，強人服七合，弱人服五合。不差，明日更服。不可一日服盡。</p>
<p>烏頭湯方用蜜煎，麻黃耆芍甘草聯，寒留關節難伸屈，非此溫經不易痊。（按：方中餘四味用水煮，烏頭用蜜煎，蜜煎則烏頭之性出，而烏頭之氣不散，正取其氣味俱全，而雄入之勢更壯，非徒以蜜能解烏頭之毒之謂也，故以烏頭名方。細剖其義，耆、芍、甘草牽制麻黃之表散，白蜜牽制烏頭以溫經，無非欲使寒濕之邪，從關節徐徐而解耳。）大烏頭煎治寒疝，麻耆芍草盡除捐。（寒疝發則汗出手足厥冷，陰寒極矣。故以烏頭一味，單行不加監製，乃足破其陰霾之氣，而寒疝可除矣。）</p>

<h3>烏頭赤石脂丸</h3>
<p>治心痛徹背，背痛徹心。</p>
<p>烏頭（炮一分）　蜀椒　乾薑（各一兩）　附子（炮五錢）　赤石脂（一兩）　為末，煉蜜丸梧子大，先食服一丸，日三服。不知，稍加之。</p>
<p>烏頭石脂丸《金匱》，蜀椒附子乾薑配。寒邪從背注於心，背痛徹心心徹背。（經曰：「寒氣客於背俞之脈，其俞注於心，故相引而痛也。」）散寒填孔安心神，胸背相引痛斯退。（烏頭、附子、椒、姜振陽氣、逐寒邪，赤石脂安心氣，填塞厥氣橫衝之孔道，俾胸背之氣各不相犯，其患乃除。）</p>

<h2>栝蔞薤白湯類</h2>

<h3>栝蔞薤白白酒湯</h3>
<p>治胸痹喘息咳唾，胸背痛，短氣，寸口脈沉而遲，關上小緊數者。</p>
<p>栝蔞實（一枚搗）　薤白（半升）　白酒（七升）　同煮，取二升，分溫再服。</p>
<p>栝蔞薤白半夏湯　治胸痹不得臥，心痛徹背者。</p>
<p>栝蔞實（一枚搗）　薤白（三兩）　半夏（半升）　白酒（一斗）　同煮，取四升，溫服一升，日三服。</p>

<h3>枳實薤白桂枝湯</h3>
<p>治胸痹心中痞氣，氣結在胸，胸滿，脅下逆搶心。</p>
<p>枳實　厚朴（各四兩）　薤白（半升）　桂枝（一兩）　栝蔞實（一枚搗）　以水五升，先煮枳、樸，取二升，去滓，納諸藥，煮數沸，分溫三服。（若虛者，宜人參湯主之。）</p>
<p>栝蔞薤白白酒湯，辛溫滑利以通陽。（薤白滑利通陽，栝蔞潤下通陰，佐以白酒熟谷之氣，上行藥性，助其通經活絡，而痹自開。）胸痹喘咳胸背痛，脈緊沉遲用此良。（胸中，陽也，而反痹，則陽不用矣。陽不用則氣上下不相順接，其津液必凝滯而為痰，故喘息咳唾，胸背痛，短氣等證見矣。脈緊沉遲為陽虛之驗，故主以通陽。）若兼不臥半夏入，（名栝蔞薤白半夏湯）蠲飲開痹力更強。（胸痹而至於不得臥，其痹為尤甚矣。所以然者，有痰飲以為之援也，故於前方加半夏，逐其痰飲。）氣逆搶心胸脅滿，（非但氣結陽微，而陰氣並上逆矣。）枳樸栝薤桂枝勷。（名枳實薤白桂枝湯　枳、樸先破陰氣；桂枝之辛，佐薤白、栝蔞實，行陽開痹。）虛者人參湯主治，人參湯即理中（湯）方。（人參湯即理中湯也。按：枳實薤白桂枝湯是急通其痹急之氣；人參湯是速復其不振之陽。蓋去邪之實，即以安正，養陽之虛，即以逐陰，是在審其病之久暫虛實而用之。喻嘉言《醫門法律》曰：「蓋胸中如太空，其陽氣所過，如離照當空，曠然無外，設地氣一上，則窒塞有加，故知胸痹者陽不主事，陰氣上逆之候也。仲景微則用薤白、白酒以通其陽，甚則用附子、乾薑以消其陰。諸家之習用豆蔻、木香、呵子、三稜、神麯、麥芽等藥，坐耗其胸中之陽者，亦相懸矣。」）</p>

<h2>當歸羊肉湯類</h2>

<h3>當歸生薑羊肉湯</h3>
<p>治寒疝腹中痛，及脅痛裡急者；並治產後腹中㽲痛，虛勞不足。</p>
<p>當歸（三兩）　生薑（五兩）　羊肉（一斤）　以水八升，煮取三升，溫服七合，日三服。（若寒多者，加生薑成一斤；痛多而嘔者，加陳皮二兩，白朮一兩。加生薑者，亦加水五升，煮取三升二合服之。）</p>

<h3>〔附〕當歸羊肉湯</h3>
<p>（孫思邈《千金要方》一名歸姜參耆羊肉湯）　治產後發熱，自汗身痛，名曰「蓐勞」。</p>
<p>黃耆（一兩）　人參　當歸（各七錢）　生薑（五錢）　羊肉一斤煮汁去肉，入前藥煎服。（若惡露不盡，加桂；惡露下多，加川芎。）</p>

<h3>〔附〕羊肉湯</h3>
<p>（孫思邈《千金要方》）</p>
<p>川芎　當歸　白芍　熟地　羊肉　桂　姜　甘草</p>
<p>當歸生薑羊肉湯，產後腹痛蓐勞匡，（蓐，草蓐也。產後發熱自汗身痛，因坐蓐致病，因名「蓐勞」。腹中㽲痛者，瘀血未盡，兼下焦有寒也。）虛勞寒疝皆堪治，痛嘔陳皮白朮勷。（王晉三《古方選注》曰：「寒疝為沉寒在下，由陰虛得之。陰虛則不得用辛熱燥烈之藥重劫其陰，故仲景另立一法，以當歸、羊肉，辛甘重濁，溫暖下元，而不傷陰，佐以生薑五兩，加至一斤，隨血肉有情之品，引入下焦，溫散冱寒。若痛多而嘔，加陳皮、白朮，奠安中氣以禦寒逆。本方三味非但治疝氣逆沖，移治產後下焦虛寒，亦稱良劑。」）亦有加入參耆者，（名當歸羊肉湯）蓐勞身痛汗多良。（身痛汗多，表氣虛矣，故加參、耆兼補其氣。）《千金》羊肉湯四物（湯），桂姜甘草治證同。</p>

<h3>〔附〕羊肉湯</h3>
<p>（韓祇和《傷寒微旨論》　治傷寒汗下太過，亡陽失血，惡人蜷臥，時戰如瘧，及產婦血去過多而厥脫者。</p>
<p>當歸　白芍　牡蠣（煅各一兩）　龍骨（煅五錢）　附子（炮二個）　桂枝（二分）</p>
<p>每服二兩，用羊肉四兩，生薑二兩，蔥白五寸，同銼爛，煮服。</p>
<p>羊肉湯方出韓氏，採取仲景方法制。（此即仲景當歸生薑羊肉湯合桂枝龍骨牡蠣救逆湯、白通湯三方合一。）歸芍龍蠣附桂姜，亡陽脫血稱良劑。（汪訒庵《醫方集解》引韓祇和曰：「亡陽脫血，若止救逆，效必遲矣，與羊肉湯為效甚速。病人色雖見陽，是熱客上焦，中下二焦陰氣已盛，若調得下焦有陽，則上焦陽氣下降丹田，知所歸宿矣。」）</p>

<h3>〔附〕天真丸</h3>
<p>（喻嘉言《醫門法律》）　治一切亡血過多，形槁肢羸，飲食不進，腸胃滑泄，津液枯竭，久服生血益氣，暖胃駐顏。</p>
<p>精羊肉（七斤去筋膜脂皮批開入後藥）　當歸（十二兩酒洗）　鮮山藥（十兩去皮）　肉蓯蓉（十兩去甲水浸淡灑干）　天冬（去心焙一斤）　後四味共搗烘燥磨末，安羊肉內裹縛，用無灰酒四瓶煮令盡，再入水二升煮，候羊肉糜爛，再入黃耆末五兩，人參末三兩，白朮末二兩。用熟糯米飯焙乾作餅，將前後藥末和丸梧子大，一日二三次，服三百丸，溫酒下。如難丸，用蒸餅五七枚，焙乾，入臼中杵千下，丸之。</p>
<p>天真丸用天門冬，當歸山藥肉蓯蓉，為末安於羊肉內，無灰酒煮爛堪舂。為丸加入參耆朮，如若難丸蒸餅充。精虛味補形溫氣，此藥堪為補法宗。（經云：「形不足者溫之以氣，精不足者補之以味」，養形補精以全神，故名「天真」。人參、黃耆、白朮養其形也，當歸、山藥、羊肉補其精也，肉蓯蓉暖腎中之陽，引精氣以歸根，天門冬保肺中之陰，致高源於清肅。嘗按古方溫燥藥中，必復滋陰保肺，亦恐未得補陽之功，先傷肺中陰氣爾。喻嘉言力贊此方，可謂長於用補，其製法尤精，允為補方之首。）</p>

<h3>〔附〕羊肉粥</h3>
<p>（陳直《養老奉親書》）　補衰弱，壯筋骨，老人常服甚宜。</p>
<p>人參（二兩）　黃耆（生）　茯苓（各一兩）　大棗（五枚）　羊肉（二斤去脂皮取精肉四兩切細餘一斤十二兩以水五大盞入參耆等煎汁三盞去滓）　粳米（三合入羊肉汁內煮粥）　臨熟入精羊肉四兩，生薑少許，胡桃三枚（去殼衣以解膻氣），空心服。</p>
<p>羊肉粥出《養老書》，參耆茯棗粳米俱。補弱扶陽壯筋骨，（十劑云：「補可去弱，人參、羊肉之屬是也。」）衰年常服保無虞。（此古人服食之方，存之以備養老之一助。）</p>

<h2>防己湯類</h2>

<h3>防己茯苓湯</h3>
<p>治皮水脈浮，四肢跗腫，按之沒指，不惡風，其腹如鼓，不渴，水氣在皮膚中，四肢聶聶動者。</p>
<p>防己　黃耆（生）　桂枝（各三兩）　茯苓（六兩）　甘草（二兩）　水六升，先煮茯苓減二升，去滓，納諸藥，煮取二升，分溫三服。</p>

<h3>防己黃耆湯</h3>
<p>治風濕脈浮身重，汗出惡風；亦治風水脈浮，其人頭汗出，表無他病，但腰以下當腫及陰，難以屈伸；又治濕痹麻木。</p>
<p>防己（一兩）　甘草（炙半兩）　白朮（七錢半）　黃耆（一兩一分）　銼麻豆大，每抄五錢匕，生薑四片，大棗一枚，水盞半，煎八分，去滓，溫服；良久再服。服後當如蟲行皮中，從腰下如冰，暖坐被上，又以一被繞腰下，令微汗瘥。（以被繞腰，接令取汗，以通陽氣，是外護之法。）</p>
<p>防己茯苓湯桂枝，更兼甘草與黃耆。脈浮（浮為表）腹滿四肢腫，（滿腫為水濕）皮水陽虛不渴宜，（不渴為津液未亡）水在皮中陽必汩，宣陽泄水是方推。（水在皮膚，衛陽必虛而汩沒，故用桂枝宣衛陽以解肌；君茯苓泄皮中水氣；黃耆益衛氣，生用亦能達表，治風注膚痛；漢防己大辛苦寒，通行十二經，開腠理，泄濕熱。此治皮水之主方也。里無水氣，故不須白朮以固里。）防己黃耆（湯）除桂茯，再加白朮棗姜隨。此治風水與諸濕，身重（為濕）汗出（濕邪多汗，傷於風者，必自汗出。）惡風吹。（風在表，故惡風。按風水惡風，皮水不惡風為別。）四肢麻木（氣虛濕滯）腰髀痛，參用前方效乃奇。（王晉三《古方選注》曰：「漢防己太陽經入里之藥，泄腠理，療風水，通治風濕、皮水二證，《金匱》汗出惡風者佐白朮，水氣在皮膚中聶聶動者佐桂枝，一以培土，一以和陽，同治表邪，微分標本。」蓋水濕之陽虛，因濕滯於裡而汗出，故以白朮培土，加薑、棗和中，胃不和再加芍藥。皮水之陽虛，因風水襲於表，內合於肺，故用桂枝解肌散邪，兼固陽氣，不須薑、棗以和中也。黃耆湯方下云「服藥當如蟲行皮中，從腰下如冰」，可知其汗僅在上部而不至於下，即用白朮內治其濕，尤必外用被圍腰下，接令取汗，以通陽氣也。余治太陽腰髀痛，審證參用兩方，如鼓應桴，並識之。）</p>

<h3>木防己湯</h3>
<p>治膈間支飲，喘滿，心下痞堅，面色黧黑，其脈沉緊，得之數十日，醫吐下之不愈者。</p>
<p>木防己（三兩）　石膏（如雞子大二枚）　桂枝（二兩）　人參（四兩）　水六升，煮取二升，溫服。虛者即愈，實者三日復發，復與。不愈者，去石膏，加茯苓四兩，芒硝三合（烊化），微利則愈。</p>
<p>木防己湯治支飲，（咳逆倚息不得臥，其形如腫，謂之「支飲」。）喘滿痞堅脈沉緊，（支飲上入於膈，阻其氣則逆於肺間而為喘滿，阻其血則雜揉心下而為痞堅。）面色黧黑為血凝，（腎氣上應，其色黑；血凝之，色亦黑。）先從肺衛求其診。（此方姑緩心腎之治，而先治其肺，俾肺之氣行，則飲不能逆而俱解矣。）定喘補肺石膏參，散飲開痞桂防迅。（桂枝、防己，一苦一辛，並用能行水散結。而痞堅之處必有伏陽，吐下之餘定無完氣，故又加石膏除熱，人參益氣。）邪留氣分此能平，若連血分還宜訊，可把原方去石膏，加入芒硝茯苓進。消痰破血後方強，淺深次第醫當審。（支飲在氣分者，服木防己湯即愈。若飲在血分，深連下焦，必愈而復發。以其既散復聚，則有堅物留作澼囊，故去石膏氣分之藥，加芒硝消痰結破血癖，合之茯苓去心下堅，且伐腎邪也。此治支飲淺深次第之法，醫宜細審。）</p>

<h3>防己椒目葶藶大黃丸</h3>
<p>治腹滿口舌乾燥，腸間有水氣之證。</p>
<p>防己　椒目　葶藶　大黃（各一兩）　為末，蜜丸如梧子大，先食飲服一丸，日三服。稍增，以知為度。</p>
<p>防椒葶藶大黃丸，水客腸間口舌乾，（水聚於下而不上潮，則口舌反乾燥。）腹滿如囊為湧水，（湧水之候，腹滿不堅，疾行則鳴濯濯，如囊裹漿，是水在大腸也。）從腸泄水此方安。（肺與大腸為表裡，腸間水氣不行於下，以致肺氣膹鬱於上，而燥熱之甚。用防己療水氣，椒目治腹滿，葶藶瀉氣閉，大黃瀉血閉，急決大腸之水，以救肺金之膹郁。不治上而治下，故用丸劑也。按：《聖濟》湧水十三方，亦有從大腸溫下者，然內用牽牛、大黃，太峻，不若此方為穩。）</p>

<h3>防己地黃湯</h3>
<p>治病如狂狀，妄行，獨語不休，無寒熱，其脈浮者。</p>
<p>防己　甘草（各一分）　桂枝　防風（各三分）　以酒一杯漬之，絞取汁；用生地黃二斤，㕮咀蒸之，如斗米飯久，以銅器盛其汁；更絞地黃汁和，分再服。（煮法奇）</p>
<p>防己地黃湯桂枝，防風甘草五般施，桂草二防俱酒漬，地黃蒸汁沖服之。（桂、草、二防，酒漬絞汁，取其輕清歸於陽分，以散血中之風。生地甘寒，熟蒸使歸於陰，以除血中之熱。蓋藥生則散邪，熟則補虛，此等煮法，最宜細玩。）妄行獨語如狂狀，（邪並於陽，則狂而妄行，並於陰則獨語，此即癡病之屬。）無熱無寒（病不在表，故無寒熱。）浮脈司。（浮為風為虛）風入心經營氣熱，疏風涼血此方奇。（心主血而藏神，風入心包絡中，則營氣熱而心神矇昧，故古稱癡病為心風癲疾。此方重用地黃涼血補陰，略用疏風之藥，以酒引入血分，大有巧妙。此係《金匱》附方，人多不識，故特表而出之。蓋風行必燥，凡疏風必兼涼血。余嘗以此湯，借治風濕之病過服溫燥之藥而化為熱，腿足或遍體肌膚忽發紅暈疼痛如遊火之狀者，甚效，並識之。）</p>

<h3>〔附〕防己飲</h3>
<p>（汪訒庵《醫方集解》）　治濕熱腳氣，足脛腫痛，憎寒壯熱。</p>
<p>防己　木通　檳榔　生地（酒炒）　川芎　白朮（炒）　蒼朮（鹽水炒）　黃柏（酒炒）　甘草梢　犀角（磨沖）　食前服。</p>
<p>濕熱腳氣防己飲，黃柏檳榔與木通，生地川芎蒼白朮，草梢犀角用磨沖。（防己、蒼朮、白朮、川芎行血燥濕，生地、黃柏、草梢、犀角涼血清熱，木通通關節、利濕熱，檳榔下行疾速，墜諸藥入下焦、消腫痛也。）腳氣宜通忌補塞，清熱燥濕此為功。（腳氣無不由濕熱而成，其證憎寒發熱，狀類傷寒，但足脛腫痛為異耳。此病忌用補劑，以濕熱得補增劇也；亦不宜大瀉以傷元氣，但喜通而惡塞。若腳氣衝心，喘急嘔吐者死，水凌火故也。又分干、濕二種：若足腫而痛者，名濕腳氣，宜燥濕為主，清熱佐之；若不腫而痛者，名乾腳氣，宜清熱為主，燥濕佐之。「清熱燥濕」四字，是治腳氣之大法也。）</p>

<h2>甘桔湯類</h2>
<p>甘桔湯（一名桔梗湯）　治少陰病咽喉痛者。</p>
<p>甘草（生二兩）　桔梗（一兩）　水三升，煮取一升，分溫再服。</p>

<h3>〔附〕紫苑湯</h3>
<p>（陳實功）　治肺癰濁唾腥臭，五心煩熱，壅悶喘嗽。</p>
<p>甘草　桔梗　紫苑　川貝母　杏仁　水煎。</p>
<p>甘草甘涼桔梗辛，（名甘桔湯）咽喉疼痛此為珍。（此治咽痛之主方，非獨治少陰咽痛也。甘草生用則涼，故可泄熱解毒緩痛；佐以桔梗苦辛，載引甘草於上，清利咽喉，則鬱熱散而痛自平矣。）肺癰濁唾痰腥臭，（亦熱鬱上焦之所致）紫苑湯加貝杏仁。（紫苑降氣，貝母潤肺，杏仁消痰，合甘、桔散風泄熱。蓋肺癰始作，多從風熱壅遏而成。此方輕平和穩，治初起者有效。）</p>

<h3>排膿散</h3>
<p>枳實（十六枚）　赤芍藥（六分）　桔梗（二分）　杵為散，取雞子黃一枚，以藥散與雞子黃相等，揉和令相得，飲和服之，日一服。</p>

<h3>排膿湯</h3>
<p>甘草（二兩）　桔梗（三兩）　生薑（一兩）　大棗（十枚）　以水三升，煮取一升，溫服五合，日再服。</p>
<p>排膿散湯方有二，湯草棗姜散芍枳，其中桔梗二方俱，可知排膿先提氣。氣不開提血不通，一言說破瘍科秘。（排，斥也。膿，血肉所化也。前方枳實、赤芍佐以桔梗，直從大腸泄氣破血，斥逐其膿。後方甘、桔、薑、棗，仍從上焦開提肺氣，調和營衛，俾氣行而膿自下。《素問·生氣通天論》曰：「營氣不從，逆於肉理，乃生癰疽。」故欲消其腫，必先行血；欲排其膿，必先提氣。舉此以推，瘍科之要可知矣。）</p>

<h3>〔附〕甘草黑豆湯</h3>
<p>（蘇頌《圖經本草》）　解百藥毒；兼治陰莖挺長，脹痛不堪，此名「筋疝」。</p>
<p>甘草　黑大豆</p>
<p>甘豆湯解百藥毒，性味和平功足錄。（《重修政和經史證類備用本草》引蘇頌曰：孫思邈稱「大豆解百藥毒，嘗試之不效，乃加甘草，為甘豆湯，其驗更速。」）陰莖脹痛亦能醫，此名筋疝由淫欲。（筋疝陰莖挺長掣痛，由肆於淫欲得之，用此方者，亦取其解毒。甘草當用梢，以梢能徑達莖中也。）</p>

<h2>百合湯類</h2>

<h3>百合地黃湯</h3>
<p>治百合病。百合病者，百脈一宗，悉致其病也。意欲食，復不能食，常默然，欲臥不能臥，欲行不能行，飲食或有美時，或有不欲聞食臭時，如寒無寒，如熱無熱，口苦，小便赤，諸藥不能治，得藥則劇吐利，身形如和，其脈微數。每溺時頭痛者，六十日乃愈；若溺時頭不痛，淅淅然者，四十日愈；若溺快然，但頭眩者，二十日愈。其證或未病而預見，或病四五日而出，或病二十日或一月後見者，各隨證治之。若未經吐、下、發汗，病形如初者，此方主之。</p>
<p>百合（七枚）　生地黃汁（一升）　先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓，納地黃汁，煎取一升五合，分溫再服。中病，勿更服。大便當如漆。</p>

<h3>百合知母湯</h3>
<p>治百合病發汗後者。</p>
<p>百合（七枚煎同前法）　知母（三兩別以泉水兩升煮取一升）　二汁各去滓，合和共煎之，取一升五合，分溫再服。</p>

<h3>百合滑石代赭湯</h3>
<p>治百合病下之後者。</p>
<p>百合（七枚煎同前法）　滑石（三兩碎綿包）　代赭石（如彈丸大一枚碎綿包）　以泉水二升，煮二石，取一升，去滓，和百合汁重煎至一升五合，溫服。</p>

<h3>百合雞子黃湯</h3>
<p>治百合病吐之後者。</p>
<p>百合（七枚）　雞子黃（一枚）　先煮百合如前法了，納雞子黃攪勻，煎至五分，溫服。</p>

<h3>百合洗方</h3>
<p>治百合病一月不解，變成渴者。</p>
<p>百合（一升）　以水一斗，漬之一宿，以洗身。洗已，食煮餅，勿以咸豉也。</p>

<h3>栝蔞牡蠣散</h3>
<p>治百合病渴不瘥者。</p>
<p>栝蔞　牡蠣（熬等分）　為細末，飲服方寸匕，日三服。</p>
<p>百合地黃（湯）泉水煎，甘寒清肺熱邪宣。（此治百合病正法。百合清肺經氣分之熱，地黃清心經營分之熱；地之泉水，猶人之血脈，甘寒清冽，能沁心肺經脈之熱邪。服後大便如漆，熱除之驗也。）熱邪散漫於百脈，百脈屬心會太淵。（太淵，肺經脈也。按：諸脈皆屬於心，而大會於肺。熱邪散漫，百脈悉致其病，故百脈不可治，而可治其心肺。且心主營而肺主衛，營行脈中，衛行脈外，一理貫通，故余以百合病指心營肺衛為解。王晉三專主肺說，詳具下文。）其證口苦小便赤，脈微數而形默然，欲食不食臥不能，如寒無寒熱無熱。（按：百合病惟口苦小便赤，脈微數為定證，余則欲食不能食，欲臥不能臥，如寒熱而無寒熱，全屬恍惚難憑。良以百脈悉病，熱邪散漫無統，故無循經現證可據爾。）因是病名為百合，即將百合治之痊。（李士材云：「行止坐臥不定，謂之百合病，仲景以百合治之，是亦清心安神之效歟。」按：士材又以百合病指心說。）百合一味為君藥，（按：百合色白入肺，其形象心，性味甘寒，能清熱生津，入心、肺二經，然則百合病為心肺鬱熱所致無疑矣。）余則隨機為轉旋。若經汗後加知母，（名百合知母湯　按：傷寒誤汗則亡陽，熱病誤汗則亡陰。葉天士《溫熱論》云「救陰不在血，而在津與汗」，故加知母以養津液。）下後滑石代赭添，（名百合滑石代赭湯　傷寒誤下則亡陰，熱病誤下則亡陽。《溫熱論》云：「熱病救陰猶易，通陽最難。通陽不在溫，而在利小便」，故加滑石利竅。復入代赭石者，晉三所謂「重鎮心經之氣」是也。）吐後雞子黃參入，（名百合雞子黃湯誤吐傷膻中之陰，故以雞子黃補心安神。）主方百合地黃專。（未經汗、吐、下者，此方主之。）渴者栝蔞牡蠣散，（栝蔞苦寒，生津止渴；牡蠣鹹寒，引熱下行。）更有百合洗方傳。（皮毛為肺之合，外洗皮毛，亦可內除其渴。洗已，食煮餅，勿啖咸豉，恐鹹味耗水而增渴也。王晉三《古方選注》曰：「通章言百合病百脈一宗，不但主於營衛，而手足六經悉能致其病，汗、吐、下皆非所宜。本文云『百脈一宗』，明言病歸於肺，君以百合，甘涼清肺，即可療此疾，故名『百合病』。再佐以各經清解絡熱之藥，治其病所從來，當用先後煎法，使不悖於手足經各行之理，期以六十日，六經氣復而自愈。若太陰、太陽無病，惟少陰、少陽、厥陰、陽明四經為病，期以四十日愈。若僅屬厥陰、陽明二經為病，期以二十日愈。讀『未經汗吐下』條，治以百合地黃湯，中病勿更服，大便如漆，熱邪已泄，再服恐變證也。論證以溺時頭痛為辨，蓋百脈之所重在少陰、太陽，以太陽統六經之氣，其經上循巔頂，下通水道，氣化不行，乃下溺而上頭痛；少陰為生水之源，開闔澀乃溺而淅然。若誤汗傷太陽者，溺時頭痛，以知母救肺之陰，使膀胱水臟，知有母氣，救肺即所以救膀胱，是陽病救陰之法也；誤下傷少陰者，溺時淅然，以滑石上通肺，下通太陽之陽，恐滑石通腑利竅，仍蹈出汗之弊，乃復代赭石重鎮心經之氣，使無汗泄之虞，救膀胱之陽，即所以救肺之陽，是陰病救陽之法也；誤吐傷陽明者，以雞子黃救厥陰之陰，以安胃氣，救厥陰即所以奠陽明，救肺之母氣，是亦陽病救陰之法也。以百合一味，引伸諸方，總不外乎補陰補陽之理，舉此可以類推，學者宜自得之。」旭高按：王氏此論，於病愈之期，並救陰救陽之理，明晰入細，為諸解所莫能及，故備錄之。）</p>

<h2>黃連阿膠湯類</h2>

<h3>黃連阿膠湯</h3>
<p>治少陰病得之二三日，心中煩而不得臥者。</p>
<p>黃連（四兩）　黃芩　芍藥（各二兩）　阿膠（三兩）　雞子黃（二枚）　水六升，先煮芩、連、芍三味，取二升，去滓，納阿膠烊盡，俟小冷，納雞子黃，（小冷而納雞子黃，則不致凝結而相和。）攪令相得，溫服七合，日三服。</p>

<h3>〔附〕黃連阿膠湯</h3>
<p>（《醫方集解》引王好古方）　治傷寒熱毒入胃，下利膿血者。</p>
<p>黃連（炒四兩）　黃柏　阿膠（炒各一兩）　山梔（五錢）　每服四錢，水煎服。</p>

<h3>〔附〕駐車丸</h3>
<p>（孫思邈《千金要方》）　治冷熱不調，下利赤白，裡急後重，臍腹疼痛，口燥煩渴，小便不利，此濕熱鬱於大腸，故為此證。</p>
<p>黃連（六兩）　阿膠（炒三兩）　乾薑（炮二兩）　當歸（炒一兩）　水泛丸，空朝米飲下三錢。仲景黃連阿膠湯，黃芩芍藥雞子黃。少陰心煩不得臥，傳經熱灼致陰傷。酸甘鹹苦收陰氣，君火清寧煩自康。（此少陰傳經之熱邪，擾動少陰之陰氣，故心煩不得臥。以芩、連直折少陰之熱，阿膠、雞子黃滋少陰之陰，交合心腎。第四者沉陰滑利，恐不能留戀中宮，故再佐芍藥之酸斂，從中收陰，而後清熱止煩之功得建。此酸甘鹹苦，收攝欲亡之陰，與四逆湯收攝亡陽，一水一火，為不同矣。）好古（黃連阿膠湯）　連膠梔子柏，下利膿血堪煎嘗。（連、柏、阿膠鹹苦堅陰，山梔清熱毒也。）駐車丸治冷熱痢，連膠當歸與乾薑。（此以黃連、阿膠堅陰止痢，當歸和血，少佐乾薑之苦辛，炮黑則能去瘀攝血。前二方治熱迫傷陰動血，此治濕熱瘀積久而陰傷，故佐使加減不同。）</p>

<h2>炙甘草湯類</h2>
<p>炙甘草湯（一名復脈湯）　治傷寒脈結代，心動悸者；又虛勞不足，汗出而悶，脈結心悸，雖行動如常，不出百日，若危急者，十一日死矣；又治肺痿涎唾多，心中溫溫液液者。</p>
<p>炙甘草（四兩）　生薑（三兩）　人參（二兩）　生地黃（一斤）　桂枝（三兩）　麥冬（半斤）　阿膠（二兩）　大棗（三十枚）　大麻仁（半升）　以清酒七升，水八升，先煮八味，煮取三升，（水酒煎去五分之四，即今所謂膏子藥矣。）去滓，納膠烊盡，溫服一升，日三服。炙甘草湯參薑桂，麥冬生地大麻仁，大棗阿膠加酒服，虛勞（凡虛勞脈結心悸而更汗出，陰氣消亡，孤陽無附，故雖行動如常，斷云不出百日；若復危急，則過十日必死，知其陰亡而陽絕也。）肺痿（此與陰虛火旺之肺痿不同。如陰虛火旺，咳血音啞，不得復用薑、桂。此涎唾多，乃肺中冷也，故得與是湯，不可誤也。）效堪誇。傷寒心悸脈結代，（此傷寒邪盡之後，氣血兩虛，故現此證。王叔和《脈經》云：「脈來緩時一止復來者，名曰『結』。」又曰：「陰盛則結，脈來動而中止，不能自還，因而復動者，名曰『代』，幾動一息亦曰『代』。」皆血氣兩虛，經隧不通，陰陽不交之故。）益血生津復脈遵。（王晉三《古方選注》曰：「此湯仲景治心悸，王燾治肺痿，孫思邈治虛勞，三者皆是津涸燥淫之證，《至真要大論》云：『燥淫於內，金氣不足，治以甘辛』也。第藥味不從心肺，而主乎肝脾者，是陽從脾以致津，陰從肝以致液，各從心肺之母以補之也。人參、麻仁之甘以潤脾津，生地、阿膠之鹹苦以滋肝液，重用地、冬濁味，恐其不能上升，故君以炙甘草之氣厚，桂枝之輕揚，載引地、冬上潤肺燥，佐以清酒，芳香入血，引領地、冬歸心復脈，仍使以薑、棗和營衛，則津液悉上供於心肺矣。」喻嘉言曰：「此仲景傷寒門中之聖方也。仲景方每多通利，於此處特開門戶，重用生地，再借用麥冬手經藥者，麥冬與地黃、人參，氣味相合，而脾胃與心經，亦受氣相交。脈絡之病，取重心經，故又名『復脈湯』。」）</p>

<h3>〔附〕生脈散</h3>
<p>治熱傷元氣，倦怠，口乾出汗。</p>
<p>人參（五錢）　麥冬（三錢）　五味子（三錢）　水二鍾，煎八分，隨時服。</p>
<p>生脈（散）麥味與人參，保肺清心治暑淫。（李東垣曰：「夏月火旺剋金，當以保肺為主。清晨服此，能益氣而祛暑也。」徐靈胎《蘭臺規範》曰：「此治傷暑之後，存其津液，庸醫即以之治暑病，誤甚。觀方下治證，並無一字治暑邪者。近人不論何病，每用此方收住邪氣，殺人無算。」）氣少汗多兼口渴，病危脈絕急煎斟。（汪訒庵《醫方集解》曰：「人有將死脈絕者，服此能復生之，其功甚大。」柯韻伯曰：「仲景治傷寒，有通脈、復脈二法：少陰病裡寒外熱，下利清穀，脈微欲絕者，制通脈四逆湯，溫補以扶陽；厥陰病外寒內熱，心動悸脈結代者，制復脈湯，涼補以滋陰。同是傷寒，同是脈病，而寒熱異治者，一挽坎陽之外亡，一清相火之內熾也。生脈散本復脈立法，外無寒，故不用薑、桂之辛散；熱傷無形之氣，未傷有形之血，故不用地黃、阿膠、麻仁、大棗，且不令其泥膈而滯脈道也；心主脈而苦緩，急食酸以收之，故去甘草而加五味矣。脈資始於腎，資生於胃，而會於肺，仲景二方重任甘草者，全賴中焦穀氣以通之復之，非有待於生也。此欲得下焦天癸之元氣以生之，故不借甘草之緩，必取資於五味之酸矣。」王晉三《古方選注》曰：「凡曰『散』者，留藥於胃，徐行其性也。脈者，主於心而發源於肺。然脈中之氣所賴以生者，尤必資借於腎陰。故以麥冬清肺經治節之司，五味收先天癸水之源，人參引領麥冬、五味都氣於三焦，歸於肺而朝百脈，故曰『生脈』。」）</p>

<h3>〔附〕資液救焚湯</h3>
<p>（喻嘉言《醫門法律》）　治五志厥陽之火亢而為關格者。</p>
<p>生地黃（三錢取汁）　麥冬（二錢取汁）　人參（一錢五分人乳拌蒸）　甘草（炙）　阿膠　胡麻仁（各一錢炒研）　柏子仁（七分炒）　五味子（四分）　紫石英（打碎）　滑石（打碎）　寒水石（各一錢打碎）　犀角（三分磨沖）　生薑汁（二匙）　西黃（五釐研末）</p>
<p>除四汁及阿膠、西黃，共八味，用泉水四茶杯，緩火煎至一杯半，去渣，入四汁及阿膠，再上火略煎，至膠烊化斟出，調入西黃末，日中分二三次熱服，清晨先服崔氏八味丸（方見《醫方證治彙編歌訣》）三錢。</p>
<p>資液救焚湯喻氏，五志陽升關格餌。生脈復脈二方兼，除卻桂枝加柏子，寒水滑石紫石英，犀角西黃薑汁使。清晨先服八味丸，（八味丸編《腎氣丸類》。陸晉笙注　全書二十四類，無《腎氣丸類》，然則此書為類不止二十四類，尚非全帙也。）日中泉水煎斟此。（此即復脈湯合生脈散，去桂枝加余藥。方中大意，「資液救焚」四字足以該之。而佐以八味丸者，取其通腎關之閉也。余義詳見前進退黃連湯。然愚嘗謂此方治上焦火炎液涸諸證，皆為合式，不特關格一端也。）</p>
