<header data-type="book">
<h1>醫宗金鑑·四診心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-996936">香港中文大學圖書館掃描本</a>），卷三十四；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷三十四（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>四診心法要訣（上）</h1>
<p>醫家造精微，通幽顯，未有不先望而得之者。近世惟事切巧，不事望神，大失古聖先賢之旨。今採醫經論色診之文，確然可法者，編為四言，合崔嘉彥《四言脈訣》，名曰：四診要訣，實該望、聞、問、切之道。使後之為醫師者，由是而教；為弟子者，由是而學。熟讀習翫，揣摩日久，自能洞悉其妙。則造精微通幽顯也，無難矣。</p>
<p>望以目察，聞以耳占，問以言審，切以指參。明斯診道，識病根源，能合色脈，可以萬全。</p>
<p>【注】此明望、聞、問、切為識病之要道也。經曰：望而知之謂之神，是以目察五色也；聞而知之謂之聖，是以耳識五音也；問而知之謂之工，是以言審五病也；切而知之謂之巧，是以指別五脈也。神、聖、工、巧四者，乃診病要道。醫者明斯，更能互相參合，則可識萬病根源。以之療治，自萬舉而萬當矣。</p>
<p>五行五色，青赤黃白，黑復生青，如環常德。</p>
<p>【注】此明天以五行，人以五臟，化生五色，相生如環之常德也。木主化生青色，火主化生赤色，土主化生黃色，金主化生白色，水主化生黑色，肝主化生青色，心主化生赤色，脾主化生黃色，肺主化生白色，腎主化生黑色。</p>
<p>變色大要，生克順逆。青赤兼化，赤黃合一，黃白淡黃，黑青深碧，白黑淡黑。白青淺碧，赤白化紅，青黃變綠，黑赤紫成，黑黃黧立。</p>
<p>【注】此明五色生克順逆，相兼合化之變色也。五色相兼合化，不可勝數，而其大要，則相生之順色有五，相剋之逆色亦有五：青屬木化，赤屬火化，黃屬土化，白屬金化，黑屬水化，此五行所化之常色也。木火同化，火土同化，土金同化，金水同化，水木同化，金木兼化，木土兼化，土水兼化，水火兼化，火金兼化，此五行所化之變色也。如青赤合化，紅而兼青之色。如赤黃合化，紅而兼黃之色。如黃白合化，黃而兼白，淡黃之色。如白黑合化，黑而兼白，淡黑之色。如黑青合化，黑而兼青，深碧之色。皆相生變色，為病之順也。如白青兼化，青而兼白，淺碧之色。如赤白兼化，白而兼赤之紅色。如青黃兼化，青而兼黃之綠色。如黑赤兼化，黑而兼赤之紫色。如黃黑兼化，黃而兼黑之黧色。皆相剋變色，為病之逆也。醫能識此，則可推五臟主病、兼病，吉凶變化之情矣。</p>
<p>天有五氣，食人入鼻，藏於五臟，上華面頤。肝青心赤，脾臟色黃，肺白腎黑，五臟之常。</p>
<p>【注】此明色之本原出於天，徵乎人，五臟不病常色之診法也。天以風、暑、濕、燥、寒之五氣食人，從鼻而入。風氣入肝，暑氣入心，濕氣入脾，燥氣入肺，寒氣入腎，藏於人之五臟，蘊其精氣，上華於面。肝之精華，化為色青；心之精華，化為色赤；脾之精華，化為色黃；肺之精華，化為色白；腎之精華，化為色黑也。</p>
<p>臟色為主，時色為客。春青夏赤，秋白冬黑，長夏四季，色黃常則，客勝主善，主勝客惡。</p>
<p>【注】此明四時不病常色之診法也。五臟之色，隨五形之人而見，百歲不變，故為主色也。四時之色，隨四時加臨，推遷不常，故為客色也。春氣通肝，其色當青；夏氣通心，其色當赤；秋氣通肺，其色當白；冬氣通腎，其色當黑；長夏四季之氣通脾，其色當黃，此為四時常則之色也。主色者，人之臟氣之所生也。客色者，歲氣加臨之所化也。夫歲氣勝人氣為順，故曰客勝主為善，人氣勝歲氣為逆，故曰主勝客為惡。凡所謂勝者，當青反白，當赤反黑，當白反赤，當黑反黃，當黃反青之謂也。</p>
<p>色脈相合，青弦赤洪，黃緩白浮，黑沉乃平。已見其色，不得其脈，得克則死，得生則生。</p>
<p>【注】此明色脈相合相反，生死之診法也。凡病人面青脈弦，面赤脈洪，面黃脈緩，面白脈浮，面黑脈沉，此為色脈相合，不病平人之候也。假如病人已見青色，不得弦脈，此為色脈相反，主為病之色脈也。若得浮脈，是得克色之脈，則主死也；得沉脈，是得生色之脈，則主生也。其餘他色皆仿此。</p>
<p>新病脈奪，其色不奪。久病色奪，其脈不奪。新病易已，色脈不奪。久病難治，色脈俱奪。</p>
<p>【注】此以色脈相合，診病新久難易之法也。脈奪者，脈微小也。色奪者，色不澤也。新病正受邪制，故脈奪也。邪受未久，故色不奪也。久病受邪已久，故色奪也。久病不進，故脈不奪也。若新病而色脈俱不奪，則正不衰而邪不盛也，故曰易已。久病色脈俱奪，則正已衰而邪方盛也。故曰難治。</p>
<p>色見皮外，氣含皮中。內光外澤，氣色相融。有色無氣，不病命傾。有氣無色，雖困不凶。</p>
<p>【注】此以五色合五氣之診法也。青、黃、赤、白、黑，顯然彰於皮之外者五色也，隱然含於皮之中者五氣也。內光灼灼若動，從紋路中映出，外澤如玉，不浮光油亮者，則為氣色並至，相生無病之容狀也。若外見五色，內無含映，則為有色無氣。經曰：色至氣不至者死。凡四時、五臟、五部、五官百病，見之皆死，故雖不病、命必傾也。若外色淺淡不澤，而內含光氣映出，則為有氣無色。經曰：氣至色不至者生。凡四時、五臟、五部、五官百病，見之皆生，故雖病困而不凶也。</p>
<p>縞裹雄黃，脾狀並臻，縞裹紅肺，縞裹朱心，縞裹黑赤，紫豔腎緣，縞裹藍赤，石青屬肝。</p>
<p>【注】此明氣色並至，容狀之診法也。縞，白羅也。如白羅裹雄黃，映出黃中透紅之色，是脾之氣色並至之容狀也。如白羅裹淺紅，映出淺紅罩白之色，是肺之氣色並至之容狀也。如白羅裹硃砂，映出深紅正赤之色，是心之氣色並至之容狀也。如白羅裹黑赤，映出黑中透赤，紫豔之色，是腎之氣色並至之容狀也。如白羅裹藍赤，映出藍中揚紅，石青之色，是肝之氣色並至之容狀也。</p>
<p>青如蒼壁，不欲如藍。赤白裹朱，衃赭死原。黑重炱漆，白羽枯鹽。雄黃羅裹，黃土終難。</p>
<p>【注】此明四時百病，五臟、五部、五官、五色生死之診法也。蒼壁，碧玉也。藍，藍靛葉也。經曰：青欲如蒼壁之色。即石青色，生青色也。不欲如藍，即靛葉色，死青色也。衃血，死血也。赭，代赭石也。經曰：赤欲如白裹朱，即正赤色，生紅色也。不欲如衃赭，即死血赭石之色，死紅色也。重漆，光潤紫色也。炱，地上蒼枯黑土也。經曰：黑欲如重漆，即光潤紫色，生黑色也。不欲如負，即枯黑土色，死黑色也。白羽，白鵝羽也。枯，枯骨也。鹽，食鹽也。經曰：白欲如鵝羽，即白而光澤如鵝羽之色，生白色也。不欲如枯鹽，即枯骨、食鹽之色，死白色也。經曰：黃欲如羅裹雄黃，即黃中透紅之色，生黃色也，不欲如黃土，即枯黃土之色，死黃色也。</p>
<p>舌赤卷短，心官病常。肺鼻白喘，胸滿喘張。肝目眥青，脾病唇黃，耳黑腎病，深淺分彰。</p>
<p>【注】此以五色合五官主病虛實之診法也。舌者，心之官也，舌赤，心之病也。色深赤焦卷者，邪實也；色淺紅滋短者，正虛也。鼻者，肺之官也，鼻白，肺之病也。色淺白，喘而不滿者，正虛也；色深白，喘而胸滿者，邪實也。目者，肝之官也，目眥青，肝之病也。色深青者，邪實也；色淺青者，正虛也。口唇者，脾之官也，唇黃，脾之病也。色深黃者，邪實也；色淺黃者，正虛也。耳者，腎之官也，耳黑，腎之病也。色深黑者，邪實也；色淺黑者，正虛也。所謂深淺分彰者，即下之所謂淺淡為虛，深濃為實，分明彰顯也。</p>
<p>左頰部肝，右頰部肺，額心頦腎，鼻脾部位。部見本色，深淺病累，若見他色，按法推類。</p>
<p>【注】此以五色合五部，主虛、實、賊、微、正，五邪之診法也。左頰，肝之部也。右頰，肺之部也。額上，心之部也。頦下，腎之部也。鼻者，脾之部也。本部見本色，淺淡不及，深濃太過者，皆病色也。假如鼻者，脾之部位，見黃本色，則為本經自病，正邪也。若見白色，則為子盜母氣，虛邪也。若見赤色，則為母助子氣，實邪也。若見青色，則為彼能克我，賊邪也。若見黑色，則為我能克彼，微邪也。所謂按法推類者，謂餘臟准按此法而推其類也。</p>
<p>天庭面首，闕上喉咽，闕中印堂，候肺之原，山根候心，年壽候肝，兩傍候膽，脾胃鼻端。頰腎腰臍，顴下大腸，顴內小腑，面王子膀。當顴候肩，顴外候臂，顴外之下，乃候手位。根傍乳膺，繩上候背，牙車下股，膝脛足位。</p>
<p>【注】此以上部候頭，下部候足，中部候臟腑，合五色主病之診法也。闕中者，兩眉之間，謂之印堂，中部之最高者，故應候肺之疾也。印堂之上，名曰闕上，闕上至髮際，名曰天庭。天庭為上部之上，故應候頭面之疾也。闕上為上部之下，故應候咽喉之疾也。山根者，兩目之間，即下極也，在肺下之部，故應候心之疾也。年壽者，下極之下，即鼻柱也，在心下之部，故應候肝之疾也。面傍者，年壽之左右，膽附於肝，故應候膽之疾也，鼻端者，年壽之下，謂之面王，即準頭鼻孔也，在肝下之部，故應候脾之疾也。鼻孔者，即方上也，脾胃相連，故應候胃之疾也。耳前之下，謂之兩頰，四臟居腹而皆一，惟腎居脊而有兩，故兩頰應候腎之疾也；與腰臍對，故又應候腰臍之疾也。頰內高骨，謂之兩顴之下，在腎下之部，故應候大腸之疾也。顴內者、即兩顴之內也，小腑者，謂小腸之腑也，小腸在大腸之上，故應候之也。準頭上至於庭，皆謂之明堂，準頭下至於頦，皆謂之面王。面王者、即人中承漿之部也。膀胱者、腎之腑也，子處者、即精室血海也，皆居腎之下，故面王應候子處膀胱之疾也。此臟腑上下、內外之部位也。五部以頦候腎者，以水居極下，且子處中通兩腎也。以天庭候心者，以火居極上故也。以左頰候肝者，以木位居左故也。以右頰候肺者，以金位居右故也。以鼻候脾者，以土位居中故也。當顴者，當兩顴骨之部也。顴為骨之本，而居外部之上，故應候肩之疾也。肩接乎臂，故顴骨之外，應候臂之疾也。臂接乎手，故顴外之下，應候手部之疾也。根傍者，山根兩傍，兩目內眥之部也，而居內部之上，故應候膺乳胸前之疾也。兩頰候腰腎，頰外從頰骨上引曰繩骨，故應候背之疾也。頰外從頰骨下引曰牙車骨，故應候股下膝脛足部之疾也。此肢體上下、內外之部位也。</p>
<p>庭闕鼻端，高起直平。顴頰蕃蔽，大廣豐隆。骨胳明顯，壽亨遐齡。骨胳陷弱，易受邪攻。</p>
<p>【注】此明五官、五部、強弱、壽夭之診法也。天庭闕中至鼻之端，皆高起直平，面顴、兩頰、蕃蔽、耳門，皆大廣豐隆，去之十步，皆見於外，則為骨胳明顯也。其人不但不病，且享遇齡之壽也。若天庭、顴、頰、耳門諸處，骨卑肉薄，則為骨胳陷弱也。其人不但不免於病，且不壽也。</p>
<p>黃赤風熱，青白主寒，青黑為痛，甚則痹攣。恍白脫血，微黑水寒，痿黃諸虛，顴赤勞纏。</p>
<p>【注】此以五色隨其所在五官、五部、內部、外部、上部、下部主病之診法也。黃赤為陽色，故為病亦陽，所以主風也，熱也。青白黑為陰色，故為病亦陰，所以主寒也，痛也。若黑甚，在脈則麻痹，在筋則拘攣。恍白者，淺淡白色也，主大吐衄、下血、脫血也；若無衄吐下血，則為心不生血，不榮於色也。微黑者，淺淡黑色也，主腎病水寒也。痿黃者，淺淡黃色也，主諸虛病也。兩顴深紅赤色者，主陰火上乘，虛損勞疾也。</p>
<p>視色之銳，所向部官。內走外易，外走內難。官部色脈，五病交參，上逆下順，左右反阽。</p>
<p>【注】此以五色傳乘官部之診法也。色之尖處為銳。凡病相傳相乘，當視其色之銳處所向何官、何部，則知起自何官、何部，傳乘何部、何官，生克順逆，自然明矣。銳處向外，是內部走外部，則為臟傳腑，腑傳表，易治之病也。銳處向內，是外部走內部，則為表傳腑，腑傳臟，難治之病也。內走處走，固有難易，然更當以五部、五官、五色、五脈、五病交相推參，則又有微甚生死之別焉。凡病色從下衝明堂而上額，則為水剋火之賊邪，故逆也。從上壓明堂而下頦，則為火侮水之微邪，故順也。反，相反也。阽，危也。男子以左為主，女子以右為主。男子之色，自左衝右為從，自右沖左為逆。女子之色，自右沖左為從，自左衝右為逆。逆者相反也，相反故危也。前以內外部位分順逆，後以上下、左右分順逆，不可不知。</p>
<p>沉濁晦暗，內久而重。浮澤明顯，外新而輕。其病不甚，半澤半明。雲散易治，摶聚難攻。</p>
<p>【注】此以五色晦明聚散，別久、重、新、輕之病，易治、難治之診法也。色深為沉，主病在內，若更濁滯晦暗，主久病與重病也。色淺為浮，主病在外，若得光澤明顯，主新病與輕病也。若其色雖不枯晦，亦不明澤，主不甚之病也。凡諸病之色，如雲撤散，主病將愈，易治也；摶聚凝滯，主病漸進，難治也。上以內外、上下、左右分順逆，此以淺深、晦明、聚散分順逆也。</p>
<p>黑庭赤顴，出如拇指，病雖小愈，亦必卒死。唇面黑青，五官黑起，擦殘汗粉，白色皆死。</p>
<p>【注】此明非常之色，診人暴死之法也。出如拇指，謂成塊成條，摶聚不散也。黑色出如拇指於天庭，赤色出如拇指於兩顴，此皆水火相射之候，故病者雖或小愈，亦必卒然而死也。病者唇面青黑，及五官忽起黑色白色，如擦殘汗粉之狀，雖不病，亦皆主卒死也。</p>
<p>善色不病，於義誠當，惡色不病，必主凶殃，五官陷弱，庭闕不張，蕃蔽卑小，不病神強。</p>
<p>【注】此明見其色不見其病之診法也。善色者，氣色並至之好色也，其人於理當不病也。惡色者，沉深滯晦之色也，其人即不病，亦必主凶殃也。凶殃者，即相家所謂紅主焦勞口舌，白主刑罰孝服，黑主非災凶死，青主憂訟暴亡之類也。五官陷弱者，謂五官骨陷肉薄也。庭闕不張者，謂天庭、闕中不豐隆張顯也。蕃蔽卑小者，謂頰側耳門卑低不廣也。此皆無病而有不壽之形，若加惡色，豈能堪哉！其有不病者，必其人神氣強旺素稱其形也。</p>
<p>肝病善怒，面色當青，左有動氣，轉筋脅疼。諸風掉眩，疝病耳聾，目視䀮䀮，如將捕驚。</p>
<p>【注】此下五條，皆明色病相合，本臟自病，虛實之診法也。怒者，肝之志，故病則好怒也。青者，肝之色，故病則面色當青也。肝之部位在左，故病則左脅有動氣而脅疼也。肝主筋，故病則轉筋也。掉者，動搖抽搐也。眩者，昏黑不明也。肝主風。故病則掉眩也。疝主肝，故病疝也。肝與膽為表裡，故病耳聾也。此皆肝實之病。若肝虛，則目視䀮䀮無所見，以肝開竅於目也。肝虛則膽薄，故不時而有如人將捕之驚也。</p>
<p>心赤善喜，舌紅口乾，臍上動氣，心胸痛煩。健忘驚悸，怔忡不安，實狂昏冒，虛悲悽然。</p>
<p>【注】喜者心之志，故病則好喜也。赤者心之色，故病則面色赤也。心開竅於舌，故病則舌赤紅也。心主熱，故病則口乾心煩也。心之部位在上，故病則臍上有動氣也。胸者心肺之宮城也，故病則心胸痛也。健忘、驚悸、怔忡，皆心神不安之病也。熱乘心實，則發狂昏冒也。神怯心虛，則悽然好悲也。</p>
<p>脾黃善憂，當臍動氣，善思食少，倦怠乏力，腹滿腸鳴，痛而下利，實則身重，脹滿便閉。</p>
<p>【注】黃者脾之色，故病則面色黃也。憂思者，脾之志，故病則好憂思也。脾之部位在中，故病則當臍有動氣也。脾主味，故病則食少也。脾主四肢，故病則倦怠乏力也。脾主腹，故病則腹滿腸鳴痛而下利也。此皆脾虛之病也。脾主肉，故實則病身重、腹脹滿、便閉也。</p>
<p>肺白善悲，臍右動氣，灑淅寒熱，咳唾噴嚏，喘呼氣促，膚痛胸痹，虛則氣短，不能續息。</p>
<p>【注】白者肺之色，故病則面色白也。悲者肺之志，故病則好悲也。肺之部位在右，故病則右脅有動氣也。肺主皮毛，故病則灑淅寒熱膚痛也。咳嗽唾痰，噴嚏流涕，喘呼氣促，皆肺本病也。胸者肺之府也，故病則胸痹而痛也。肺虛則胸中氣少，故喘咳皆氣短不能續息也。</p>
<p>腎黑善恐，臍下動氣，腹脹腫喘，溲便不利，腰背少腹，骨痛欠氣，心懸如飢，足寒厥逆。</p>
<p>【注】黑者腎之色，故病則面色黑也。恐者腎之志，故病則好恐也。腎之部位在下，故病則臍下有動氣也。腎主水，故病則水蓄腹脹、腫滿、喘不得臥也，腎開竅於二陰，故病則溲便不利也。腎主骨，腎與膀胱為表裡，故病則少腹滿，背與骨俱痛也。腎主欠，故病則呵欠也。腎邪上乘於心，故病則心空如飢也。諸厥屬下，故病則足寒厥逆也。</p>
<p>正病正色，為病多順，病色交錯，為病多逆。母乘子順，子乘母逆。相剋逆凶，相生順吉。</p>
<p>【注】此以五色合五病順逆生死之診法也。假如肝病色青，是正病正色。若反見他色，是病色交錯也。若見黑色，為母乘子，相生之順也。若見赤色，為子乘母，相生之逆也。若見黃色，為病克色，其病不加，凶中順也。若見白色，為色克病，其病則甚，凶中逆也。曰相剋逆凶者，謂相剋為凶，凶中順尚可也。凶中逆必凶也。曰相生順吉者，謂相生為吉，如子乘母，為吉中小逆也，如母乘子，為吉中大順也。其餘四臟皆仿也。</p>
<p>色生於臟，各命其部。神藏於心，外候在目。光晦神短，了了神足。單失久病，雙失即故。</p>
<p>【注】此以色合二目之神，診病生死之法也。五色生於五臟，各命其部而見於面。神藏於心，雖不可得而識，然外候在目，視其目光晦暗，此為神短病死之候也。若目睛清瑩，了了分明，此為神足不病之候也。單失者，謂或色或神，主久病也。雙失者，神色俱失，故主即死也。</p>
<p>面目之色，各有相當，交互錯見，皆主身亡，面黃有救，眥紅疹瘍，眥黃病愈，睛黃髮黃。</p>
<p>【注】此以色合二目之色，診病之法也。面目之色，各有相當之色，如面之色，肝青、心赤、脾黃、肺白、腎黑；目之色，如睛瞳黑、烏珠青、白珠白、兩眥紅也。若目青、目赤、目白、目黑，與面色但有不同，皆為交互錯見，病者皆主身亡也。惟面色黃者，為土未敗，五行有救，皆不死也。若傷寒兩目眥紅，則為發疹瘍之兆。兩目皆黃，則為病將愈之徵。若兩睛通黃，則為主發黃疸之候也。</p>
<p>閉目陰病，開目病陽，朦朧熱盛，時瞑衄常，陽絕戴眼，陰脫目盲，氣脫眶陷，睛定神亡。</p>
<p>【注】此診目陰陽生死之法也。凡病者閉目，則為病在陰也；開目，則為病在陽也。朦朧昏不了了，非開目也，則為熱盛傷神也。視而時瞑，非開目也，則為衄血之常候也。目上直視，謂之戴眼，則為陽絕之候也。視不見物，謂之目盲，則為陰脫之候也。目眶忽陷，則為氣脫之候也。睛定不轉，則為神亡之候也。</p>
<p>五色既審，五音當明。聲為音本，音以聲生。聲之餘韻，音遂以名。角徵宮商，並羽五聲。</p>
<p>【注】此明五音，乃天地之正氣，人之中聲也。有聲而後有音，故聲為音本，音以聲生也。聲之餘韻則謂之音，非聲之外復有音也。五色命乎五臟，診人之病，既已審矣；而五音通乎五臟，診人之病，亦當明也。角屬木通乎肝，微屬火通乎心，宮屬土通乎脾，商屬金通乎肺，羽屬水通乎腎也。</p>
<p>中空有竅，故肺主聲。喉為聲路，會厭門戶。舌為聲機，唇齒扇助。寬隘銳鈍，厚薄之故。</p>
<p>【注】此明聲音各有所主之診法也。凡萬物中空有竅者皆能鳴焉，故肺象之而主聲也。凡發聲必由喉出，故為聲音之路也。必因會厭開闔，故為聲音門戶也。必借舌為宛轉，故為聲音之機也。必資之於牙齒唇口，故為聲音之扇助也。五者相須，故能出五音而宣達遠近也。若夫喉有寬隘，寬者聲大，隘者聲小。舌有銳鈍，銳者聲辨，鈍者不真。會厭有厚薄，厚者聲濁，薄者聲清。唇亦有厚薄，厚者聲遲，薄者聲疾。牙齒有疏密，疏者聲散，密者聲聚。五者皆無病之聲音，乃形質之稟賦不同也。以此推之，在喉、在會厭、在舌、在齒、在唇之故，當有別也。</p>
<p>舌居中發，喉音正宮，極長下濁，沉厚雄洪。開口張齶，口音商成，次長下濁，鏗鏘肅清。撮口唇音，極短高清，柔細透徹，尖利羽聲。舌點齒音，次短高清，抑揚詠越，徵聲始通。角縮舌音，條暢正中，長短高下，清濁和平。</p>
<p>【注】此明五臟聲音不病之常之診法也。經曰：天食人以五氣，五氣入鼻藏於心肺，上使五色修明，聲音能彰。故五臟各有正聲，以合於五音也。如舌居中，發音自喉出者，此宮之正音也；其聲極長、極下、極濁，有沉洪雄厚之韻，屬土入通於脾。開口張齶，音自口出者，此商之正音也；其聲次長、次下、次濁，有鏗鏘清肅之韻，屬金入通於肺。撮口而發，音自唇出者，此羽之正音也；其聲極短、極高、極清，有柔細尖利之韻，屬水入通於腎。以舌點齒成音者，乃徵之正音也；其聲次短、次高、次清，有抑揚詠越之韻，屬火入通於心。內縮其舌而成音者，乃角之正音也；其聲長短、高下、清濁相和，有條暢中正之韻，屬木入通於肝。此五臟不病之常聲也。齶者，齒本肉也。</p>
<p>喜心所感，忻散之聲。怒心所感，忿厲之聲。哀心所感，悲嘶之聲。樂心所感，舒緩之聲。敬心所感，正肅之聲。愛心所感，溫和之聲。</p>
<p>【注】前以咽喉、會厭、舌、齒、口唇稟賦不同，以別非病之音。此又復以人之情、感物成聲，以明非病之聲也。如為喜感於心者，則其發聲必忻悅以散也。怒感於心者，則其發聲必忿急而厲也。哀感於心者，則其發聲必悲悽以嘶也。樂感於心者，則其發聲必舒暢不迫也。敬感於心者，則其發聲必正直肅斂也。愛感於心者，則其發聲必溫柔以和也。醫者於此比類而推不病之音，自可識有病之音也。</p>
<p>五聲之變，變則病生，肝呼而急，心笑而雄，脾歌以漫，肺哭促聲，腎呻低微。色克則凶。</p>
<p>【注】此以五聲變而生病之診法也。五聲失正，則謂之變，變則病生也。肝呼而聲急，肝聲失正，故知病生肝也。心笑而聲雄，心聲失正，故知病生心也。脾歌而聲漫，脾聲失正，故知病生脾也。肺哭而聲促，肺聲失正，故知病生肺也。腎呻而低微，腎聲失正，故知病生腎也。所謂色克則凶者，假如肝病呼急，得相剋之白色，主凶也。餘臟仿此。</p>
<p>好言者熱，懶言者寒。言壯為實，言輕為虛。言微難復，奪氣可知。譫妄無倫，神明已失。</p>
<p>【注】此以聲音診病寒熱、虛實、生死之法也。《中藏經》曰：陽候多語、熱也，陰候無聲、寒也。發言壯厲，實也；發言輕微，虛也。若言聲微小不能出喉，欲言不能復言者，此奪氣也。譫言妄語，不別親疏，神明失也，皆主死候。</p>
<p>失音聲重，內火外寒。瘡痛而久，勞啞使然。啞風不語，雖治命難。嘔歌失音，不治亦痊。</p>
<p>【注】此明失音為病不同之診也。失音聲粗重，乃內火為外寒所遏，鬱於肺也。若不粗重，且瘡爛而痛，日久流連者，是因勞啞使然也。小兒抽風不語，大人中風不語，皆謂之啞風，雖竭力治之，而命則終難挽回，以金不能制木也。謳歌失音者，是因歌傷喉，不治亦可痊也。</p>
<p>聲色既詳，問亦當知，視其五人，以知起止。心主五臭，自入為焦，脾香腎腐，肺腥肝臊。脾主五味，自入為甘，肝酸心苦，肺辛腎咸。腎主五液，心汗肝泣，自入為唾，脾涎肺涕。</p>
<p>【注】此明五入問病之診法也。肺主五聲，肝主五色，前已詳明，而問之之道，亦所當知也。經曰：治之極於一。一者，問其因而得其情也。其要在視其五入，即可以知病情之起止也。假如心主五臭，凡病者喜臭、惡臭，皆主於心，此統而言之也。若分而言之，則自入喜焦，病生心也；入脾喜香，病生脾也；入腎喜腐，病生腎也；入肺喜腥，病生肺也；入肝喜臊，病生肝也。脾主五味，凡病者喜味、惡味，皆主於脾，此統而言之也。若分而言之，則自入喜甘，病生脾也；入肝喜酸，病生肝也；入心喜苦，病生心也；入肺喜辛，病生肺也；入腎喜咸，病生腎也。腎主五液，凡病者多液、少液，皆主於腎，此統而言之也。若分而言之，則自入出而為唾，病生腎也；入心出而為汗，病生心也；入肝出而為淚，病生肝也；入脾出而為涎，病生脾也；入肺出而為涕，病生肺也。其聲之微壯，色之順逆，法同推也。</p>
<p>百病之常，晝安朝慧，夕加夜甚，正邪進退。潮作之時，精神為貴，不衰者實，困弱虛累。</p>
<p>【注】此以問知精神盛衰、虛實之診法也。凡病朝慧者，以朝則人氣始生，衛氣始行，故慧也。晝安者，以日中則人氣長，長則勝邪，故安也。夕加者，以夕則人氣始衰，邪氣始生，故加也。夜甚者，以夜半則人氣入臟，邪氣獨居於身，故甚也。此百病消長，邪正進退之常也，凡病來潮發作之時，精神為貴者，以病至精神不衰，則為邪氣不能勝正，正氣實也；病至精神困弱，則為正氣不能勝邪，正氣虛也。</p>
<p>晝劇而熱，陽旺於陽。夜劇而寒，陰旺於陰。晝劇而寒，陰上乘陽。夜劇而熱，陽下陷陰。晝夜寒厥，重陰無陽。晝夜煩熱，重陽無陰。晝寒夜熱，陰陽交錯，飲食不入，死終難卻。</p>
<p>【注】此以問知晝夜起居，診病陰陽、氣血、生死之法也。晝，陽也；熱，陽也。凡病，晝則增劇煩熱，而夜安靜者，是陽自旺於陽分，氣病而血不病也。夜，陰也；寒，陰也。凡病，夜則增劇寒厥，而晝安靜者，是陰自旺於陰分，血病而氣不病也。凡病，晝則增劇寒厥而夜安靜者，是陰上乘於陽分之病也。凡病，夜則增劇煩熱而晝安靜者，是陽下陷於陰分之病也。凡病，晝夜俱寒厥者，是重陰無陽之病也。凡病晝夜俱煩熱者，是重陽無陰之病也。凡病，晝則寒厥，夜則煩熱者，名曰陰陽交錯。若飲食不入，其人之死，終難卻也。</p>
<p>食多氣少，火化新痊。食少氣多，胃肺兩愆。喜冷有熱，喜熱有寒，寒熱虛實，多少之間。</p>
<p>【注】此以問知飲食之診法也。食多氣盛，此其常也。若食多氣少，非胃病火化，即新愈之後貪食，而穀氣未足也。食少氣少，此其常也。若食少氣多，則必是胃病不食，肺病氣逆，兩經之愆也。喜冷者，中必有熱。喜熱者，中必有寒。虛熱則飲冷少，實熱則飲冷多，虛寒則飲熱少，實寒則飲熱多，故曰寒熱虛實，辨在多少之間也。</p>
<p>大便通閉，關乎虛實，無熱陰結，無寒陽利。小便紅白，主乎熱寒，陰虛紅淺，濕熱白泔。</p>
<p>【注】此以問知大、小二便之診法也。大便之利不利，關乎里之虛實也。閉者為實，若內外並無熱證，則為陰結便閉也。通者為虛，若內外並無寒證，則為陽實熱利也。小便之紅與白，主乎里之寒熱也。紅者為熱，若平素淺紅淡黃，則為陰虛也。白者為寒，若平素白渾如米泔，則為濕熱所化也。</p>
<p>望以觀色，問以測情。召醫至榻，不盼不驚，或告之痛，並無苦容，色脈皆和，詐病欺矇。</p>
<p>【注】此以色合問，診病真偽之法也。望色只可以知病之處，非問不足以測病之情也。凡病者聞醫至榻，未有不盼視而驚起者也，若不驚起而盼視者，非無病必驕恣之輩也。若病者或告之痛，醫視其面並無痛苦容狀，診其色脈皆利，此乃詐病欺矇醫士也。</p>
<p>脈之呻吟，病者常情。搖頭而言，護處必疼。三言三止，言謇為風。嚥唾呵欠，皆非病徵。</p>
<p>【注】此以聲合情，診病真偽之法也。醫家診脈，病者呻吟，以其為病所苦，無奈之常情也。凡欲言而先搖頭者，是痛極艱於發聲，搖頭以意示緩故也。若以手護腹，則為里痛，護頭則為頭痛，但有所護之處，必有所痛也。持脈之時，病人三言三止者，謂欲言不言，不言欲言，如此者三也。言謇不能言者，風病也。若非言謇風病而三言三止者，是故為詐病之態也。或脈之而嚥唾，或脈之而呵欠，皆非有病之徵。以嚥唾者裡氣和，呵欠者陰陽和故也。舉此二事，以診別其情之真偽，則其他可推廣矣，蓋意在使病者不能售其欺，醫者不致為其所欺而妄治也。</p>
<p>黑色無痛，女疸腎傷，非疸血蓄，衄下後黃。面微黃黑，紋繞口角，飢瘦之容，詢必噎膈。</p>
<p>【注】此以色合問，診病之法也。黑色當主痛，詢之無痛病，或為腎傷女勞疸也，察之又非女疸，其為血蓄於中，顏變於外可知，然血蓄之黑，則必或吐衄、或下血，而後即轉黃色，以瘀去故也。面微黑黃者，即淺淡之黧色也，視其壽帶紋短，若纏繞口角，亦非蓄血，即相家所謂螣蛇入口，主人餓死，更視其人有飢餓削瘦之容，可知病不能食，詢問必是噎膈也。</p>
<p>白不脫血，脈如亂絲，問因恐怖，氣下神失，乍白乍赤，脈浮氣怯，羞愧神蕩，有此氣色。</p>
<p>【注】此以色合情之診法也。白者脫血虛色也，察之並無脫血之證，問之始知因恐怖也。恐則血隨氣下，故色白也。怖則神隨氣失，故脈如亂絲也。乍白乍赤，氣血不定之色也，脈浮氣怯，神氣不安之象也。問之始知中心羞愧，有此氣色也。羞則氣收，故氣怯也。愧則神蕩，故脈浮也。舉此情色二端，一以診病，一以診情，他可類推，總在臨病者神而明之也。</p>
<p>眉起五色，其病在皮。營變蠕動，血脈可知。眥目筋病，唇口主肌，耳主骨病，焦枯垢泥。</p>
<p>【注】此以色合皮、脈、肉、筋、骨，診病之法也。凡眉間起五色，主病在皮者，以肺主皮毛也。營變五色，蠕蠕然動，主病在脈者，以營行血脈也。眥目起五色，主病在筋者，以肝主筋也。唇口起五色，主病在肌者，以脾主肉也。耳起五色，主病在骨者，以腎主骨也。焦枯垢泥者，乃枯骨不澤，不能外榮也。此下皆診病之雜法也。</p>
<p>發上屬火，須下屬水，皮毛屬金，眉橫屬木，屬土之毫，腋陰臍腹。髮直如麻，毛焦死故。</p>
<p>【注】此明毛髮診病之法也。發屬心而上長，故屬火也。須屬腎而下長，故屬水也。通身之毛，屬肺而生皮，故屬金也。眉屬肝而橫長，故屬木也。腋下、陰下、臍中、腹中之毫，屬脾以應四維，故屬土也。凡毛髮雖屬五臟，然皆血液所生，故喜光澤，若髮直如麻，鬚毛焦枯，皆死候也。</p>
<p>陰絡從經，而有常色。陽絡無常，隨時變色。寒多則凝，凝則黑青。熱多則淖，淖則黃紅。</p>
<p>【注】此以色合絡脈之診法也。絡有陰陽，隨陰經之絡為陰絡，隨陽經之絡為陽絡也。陰絡深而在內，陽絡浮而在外，在內者不可得而見也，惟從經常之色而治之，故曰有常色也。在外者可得而見，則隨四時推遷變色而治之，故曰陽絡無常也。然陽絡之變色，亦不外乎診色之寒熱也。寒多則脈凝，凝則色青黑也，熱多則脈淖，淖則色黃紅也。</p>
<p>胃之大絡，名曰虛里，動左乳下，有過不及，其動應衣，宗氣外泄，促結積聚，不至則死。</p>
<p>【注】此明宗氣診病法也。胃之大絡，名曰虛里，貫膈絡肺，出於左乳之下，動不應衣，以候宗氣。若動之微而不見，則為不及，主宗氣內虛也。若動之應衣而甚，則為太過，主宗氣外泄。若三、四至一止，或五、六至一止，則主有積聚也。若絕不至者，則主死矣。</p>
<p>脈尺相應，尺寒虛瀉，尺熱病溫，陰虛寒熱，風病尺滑，痹病尺澀，尺大豐盛，尺小虧竭。</p>
<p>【注】此明診尺之法也。尺者，謂從關至尺澤之皮膚也。經曰：脈急尺之皮膚亦急，脈緩尺之皮膚亦緩，脈小尺之皮膚亦減而少氣，脈大尺之皮膚亦賁而起，脈滑尺之皮膚亦滑，脈澀尺之皮膚亦澀。故曰脈尺相應也。若診尺之皮膚寒，則主虛瀉也。診尺之皮膚熱則主病溫也；非病溫則主陰虛寒熱勞疾也。凡風病則尺之膚滑也。痹病則尺之膚澀也，氣血盛則尺之肉豐盛，氣血虛則尺之肉虧竭也。</p>
<p>肘候腰腹，手股足端，尺外肩背，尺肉膺前，掌中腹中，魚青胃寒，寒熱所在，病生熱寒。</p>
<p>【注】此明肘臂之診法也。肘上曰膊，肘下曰臂，膊臂之節曰肘，臂內曰尺，尺外曰臂。肘上候腰腹，手主候股足，臂主候肩背，尺主候胸膺，掌中主候腹中。手大指本節後名曰魚，或有青色，或現青脈，主候胃中寒也。診其寒熱所在，何處主病生寒熱也。</p>
<p>診臍上下，上胃下腸，腹皮寒熱，腸胃相當。胃喜冷飲，腸喜熱湯。熱無灼灼，寒無滄滄。</p>
<p>【注】此明診臍之法也。臍之上主候胃也。臍之下主候腸也。捫其上、下之腹皮寒熱，則知胃腸有寒熱相當之病也。胃中有病，每喜冷飲，腸間有病，多喜熱湯，是其徵也。然與之飲熱，不可過於灼灼之熱；與寒，不可過於滄滄之寒，蓋恐其恣意有失，惟當適其寒溫之宜也。</p>
<p>胃熱口糜，懸心善飢。腸熱利熱，出黃如糜。胃寒清厥，腹脹而疼。腸寒尿白，饗瀉腸鳴。</p>
<p>【注】此明胃腸寒熱為病之診法也。胃中有熱，則上發口糜，心空善飢。腸中有熱，則瀉出之物亦熱，色黃如粥。胃中有寒，面清冷厥，則腹脹而疼。腸中有寒，則小便尿白，饗瀉腸鳴也。</p>
<p>木形之人，其色必蒼，身直五小，五瘦五長。多才勞心，多憂勞事。軟弱曲短，一有非良。</p>
<p>【注】此下五條，皆以色合形之診法也。木形之人，其色合青，貴乎如碧蒼之潤也。身直者，象木之干直也。五小者，謂頭小手足小，象木之巔枝也。五瘦五長者，謂身肢象木之條細而長也。多才者，象木之用隨斫成材也。多才之人，必勞於心也。多憂者，象木之性不能自靜也；多憂之人，必勞於事也。若一有形質軟弱曲短，皆非良材也。</p>
<p>火形赤明，小面五銳，反露偏陋，神清主貴。重氣輕財，少信多慮，好動心急，最忌不配。</p>
<p>【注】火形之人，其色合赤，貴乎明也。五銳者，謂頭、額、鼻、面、口，象火上之尖銳也。五反五露者，謂五官反外、露外也，象火之性，張顯外露也。五偏五陋者，謂五官不正醜陋也，象火寄體，隨物難定也。凡此反露偏陋，皆火敗形，若神清而明，是為得火之神，則反主貴也。重氣者，象火屬陽，多氣也。輕財者，象火之性，多散也。少信者，象火之性，易變也。多慮者，象火之明，燭物也。好動者，象火之用，不靜也。心急者，象火之性，急速也。最忌神癡、氣濁、色悖，則為不配，皆敗形也。</p>
<p>土形之狀，黃亮五圓，五實五厚，五短貴全。面圓頭大，厚腹股肩，容人有信，行緩心安。</p>
<p>【注】土形之人，其色合黃，貴乎亮也。五圓者，象土之形圓也。五實五厚者，象土之質實厚也。五短者，象土之形敦短也。圓、實、厚、短，五者俱全，各成一形，皆為土之正形，則主貴也。面圓、頭大、厚腹、美肩、美股，皆土厚實之狀也。客人有信，行緩心安，皆土德性之厚也。</p>
<p>金形潔白，五正五方，五朝五潤，偏削敗亡。居處靜悍，行廉性剛，為吏威肅，兼小無傷。</p>
<p>【注】金形之人，其色合白，貴乎潔也。五正五方者，象金之形方正也。五朝者，金主骨，骨胳貴內朝明堂也。五潤者，象金之藏於水也。偏則不方正，削則骨露陷，敗亡之形也。居處靜悍者，象金靜而悍也。行廉性剛者，象金性潔而剛也。為吏威肅者，象金之性肅殺也。兼小無傷者，謂方正朝潤，雖小無傷，金之正形也。</p>
<p>水形紫潤，麵肥不平，五肥五嫩，五秀五清。流動搖身，常不敬畏，內欺外恭，粗濁主廢。</p>
<p>【注】水形之人，其色合紫，貴乎潤色。麵肥不平者，象水之面廣而有波也。五肥者，象水之形廣大也。五嫩者，象水之性滋潤也。五秀五清者，象水之質清徹也。肥嫩之質，發行常流動搖身，象水之流動不居也。常不敬畏者，象水之性趨下不上也。內欺外恭者，象水之質內虛無實也。若神氣粗濁，皆主廢形也。</p>
<p>貴乎相得，最忌相勝。形勝色微，色勝形重。至勝時年，加感則病。年忌七九，猶宜慎恐。</p>
<p>【注】此明得其形不得其色之診法也。假如木形之人，法當色青，是為形色相得，不病而貴之形也。若見黃色或見白色，是為相勝，主病而最忌者也。見黃色者，則為形勝色，主病微；見白色者，則為色勝形，主病重也。然其生病，必至於勝木之時之年，加感外邪則病也。年忌者，謂五形之人，形色相勝者，凡至七歲，是為年忌。積九遞加至十六歲、二十五歲、三十四歲、四十三歲、五十二歲、六十一歲，皆年忌之年也。當此之年，加感為病則甚。故曰尤宜戒慎恐懼也。</p>
<p>形有強弱，肉有脆堅，強者難犯，弱者易干。肥食少痰，最怕如綿。瘦食多火，著骨難全。</p>
<p>【注】此明形肉生死之診法也。五形之人，得其純者，皆謂之強，得其駁者，皆謂之弱。強者加感之邪難犯，弱者加感之邪易干也。能食形肥者、強也；若食少而肥者，非強也，乃痰也。肥人最怕按之如綿絮，謂之無氣，則主死矣。食少而瘦者，弱也；若食多而瘦者、非弱也，乃火也。瘦人最怕肉乾著骨，謂之消瘦，亦主死矣。</p>
<p>形氣已脫，脈調猶死。形氣不足，脈調可醫。形盛脈小，少氣體治。形衰脈大，多氣死期。</p>
<p>【注】此以形合脈，診生死之法也。經曰：形氣已脫，九候雖調猶死者，謂形脫無以貯氣也。形氣俱虛，寸口脈調可醫者，謂形氣未相失也。形盛而肥，脈小少氣者，謂氣不能勝形也。形衰而瘦，脈大多氣者，謂形不能勝氣也。故皆主死也。</p>
<p>頸痛喘疾，目裹腫水，面腫風水，足腫石水。手腫至腕，足腫至踝，面腫至項，陽虛可嗟。</p>
<p>【注】此明形腫生死之診法也。視其病者，人迎頸脈大動。主喘不得臥之疾也。目裹上、下腫者，主有水氣之病也。從面腫起者，名曰風水，陽水也。從足脛腫起者，名曰石水，陰水也。若手腫至腕，足腫至踝，面腫至項，非水也，乃陽氣虛結不還之死證也。</p>
<p>頭傾視深，背曲肩隨，坐則腰痿，轉搖遲迴，行則僂俯，立則振掉，形神將奪，筋骨虺頹。</p>
<p>【注】此明形憊死候之診法也。經曰：夫五臟者，身之強也。頭者，精明之府，頭傾視深，精神將奪矣。背者，胸中之府，背曲肩隨，府將壞矣。腰者，腎之府，轉搖艱難，腎將憊矣。膝者，筋之府，屈伸不能，行則僂俯，筋將憊矣。骨者，髓之府，不能久立，行則振掉，骨將憊矣。凡此形神將奪，筋骨虺頹之形狀，故皆主死候也。</p>
<p>太陰情狀，貪而不仁，好入惡出，下意貌親，不隨時務，後動於人，長大似僂，其色黮黮。</p>
<p>【注】此明陰陽之人之情狀，以別陰陽盛衰法也。太陰，陰盛而過柔，故貪而不仁也。好入惡出，陰性藏也。下意貌親，陰性卑柔也。不隨時務，陰喜靜也。後動於人，陰性遲也。長大者，陰盛之形也。似僂者，好曲身傴僂下意之態也。其色黑黮黮，陰盛之色也。此太陰人之情狀也。</p>
<p>少陰情狀，小貪賊心，喜失慍得，傷害無恩，立則險躁，寡和無親，行如伏鼠，易懼易欣。</p>
<p>【注】少陰，陰微而殘忍，故貪小而賊心也。喜失慍得，陰性嫉妒也。傷害無恩，陰性殘忍也。立則險躁，陰性危險也。寡和無親，陰性冷落也。行如伏鼠，陰性隱伏也。易懼易欣，謂如鼠之得失，忻然而進，懼然而退也。此少陰人之情狀也。</p>
<p>太陽情狀，自大軒昂，仰胸挺腹，足高氣揚，志大虛說，作事好強，雖敗無悔，自用如常。</p>
<p>【注】太陽，陽盛而過剛，故自大軒昂，仰胸挺腹，足高氣揚也。好志大者，陽性好剛強也。好虛說者，陽性好誇張也。作事好強，雖事敗而不悔者，以其常好自用自是，亦陽過剛，果於斷也。此太陽人之情狀也。</p>
<p>少陽情狀，諟諦自貴，志小易盈，好外不內，立則好仰，行則好搖，兩臂兩肘，常出於背。</p>
<p>【注】少陽，陽微而明小，故諟諦小察，自貴小官，志小易盈滿也。好外交而不內附者，陽之性外也。立則好仰，陽之性上也。行則好搖，陽之性動也。兩臂兩肘常出於背者，亦陽之性喜露而不喜藏也。此少陽人之情狀也。</p>
<p>得陰陽正，平和之人，無為懼懼，無為忻忻，婉然從物，肅然自新，謙謙君子，藹藹吉人。</p>
<p>【注】此明陰陽和平人之情狀也。無為懼懼者。中心有所主，而威武不能屈也。無為忻忻者，外物不能惑，而富貴不能淫也。婉然從物者，謂豁然而大公，物來而順應也。肅然自新者，謂尊嚴以方外，恭敬以直內也。夫如是之人，天必祐之，人必愛之，福祿綏之，焉得不謂之謙謙君子，藹藹吉人也哉！明此五者，其人之陰陽盛衰，自可見矣。</p>

<h1>四診心法要訣（下）</h1>
<p>四言脈訣，始自漢張仲景平脈法，宋崔嘉彥衍之，明李時珍刪補。及李中梓又補其缺略，刪其差謬，復加註釋，固已文簡義該矣。然猶有與經義不合者，今皆刪去，其未備者補之。</p>
<p>脈為血府，百體貫通，寸口動脈，大會朝宗。</p>
<p>【注】經曰：脈者，血之府也。周身血脈運行，莫不由此貫通，故曰百體貫通也。《難經》曰：十二經中皆有動脈，獨取寸口，以決死生。寸口者，左右寸、關、尺，手太陰肺經動脈也；為脈之大要會也。故曰：寸口動脈，大會朝宗也。</p>
<p>診人之脈，高骨上取，因何名關，界乎寸尺。</p>
<p>【注】凡診人之脈，令仰其手，視掌後有高骨隆起，即是關部脈也。醫者覆手取之，先將中指取定關部，方下前後二指於寸、尺之上。病人長，則下指宜疏；病人短，則下指宜密。因其界乎寸、尺二部之間，故命名曰關。</p>
<p>至魚一寸，至澤一尺，因此命名，陽寸陰尺。</p>
<p>【注】從高骨上至魚際，長一寸，因此命名曰寸。從高骨下至尺澤，長一尺，因此命名曰尺。寸部候上，故為陽也。尺部候下，故為陰也。</p>
<p>右寸肺胸，左寸心膻。右關脾胃，左肝膈膽。三部三焦，兩尺兩腎。左小膀胱，右大腸認。</p>
<p>【注】右寸浮候胸中，沉以候肺。左寸浮候膻中，沉以候心。右關浮以候胃，沉以候脾。左關浮候膈膽，沉以候肝。兩尺沉俱候腎，左尺浮候小腸、膀胱，右尺浮候大腸。膻，膻中即包絡也。五臟皆一，惟腎有二，故曰兩尺候兩腎也。然《內經》言腑不及膽者，以寄於肝也。不及大、小腸、膀胱者，以統於腹中也。不及三焦者，以寸候胸中，主上焦也；關候膈中，主中焦也；尺候腹中，主下焦也。此遵《內經》分配三部診脈法也。至偽訣以大、小腸配於寸上，以三焦配於左尺，以命門配於右尺，其手厥陰包絡，竟置而不言，悉屬不經。滑壽以左尺候小腸、膀胱前陰之病，右尺候大腸、後陰之病，可稱千古隻眼也。浮外候腑，沉內候臟之說，詳於卷末。</p>
<p>命門屬腎，生氣之原，人無兩尺，必死不痊。</p>
<p>【注】兩腎之中，名曰命門。命門居兩腎之中，故兩尺屬之。命門之少火，即腎間動氣，是為生氣之原也。人若無兩尺脈，則生氣絕矣，病者必死不能痊也。</p>
<p>關脈一分，右食左風，右為氣口，左為人迎。</p>
<p>【注】陰得尺中一寸，陽得寸內九分。一寸九分，寸、關、尺脈三分分之。今日關脈一分，乃關上之一分也。左關一分名人迎，肝膽脈也。肝膽主風，故人迎緊盛，主乎傷風。右關一分名氣口，脾胃脈也。脾胃主食，故氣口緊盛，主乎傷食。此創自叔和，試之於診，每多不應，然為後世所宗，不得不姑存其說。觀《內經》以足陽明胃經、頸上之動脈為人迎，手太陰肺經高骨之動脈為氣口，足知其謬矣。</p>
<p>脈有七診，曰浮中沉，上竟下竟，左右推尋。</p>
<p>【注】浮者，輕下指於皮脈間所得之脈也。沉者，重下指於筋骨間所得之脈也。中者，不輕不重，下指於肌肉間所得之脈也。上者，兩寸也；竟者，即《內經》上竟上者，胸喉中事也。下者，兩尺也；竟者，即《內經》下竟下者，少腹、腰、股、脛、足中事也。左右者，左右手脈也。此七診者，乃推尋取脈之法也，非謂《內經》獨大、獨小、獨寒、獨熱、獨遲、獨疾，獨陷下七診之脈也。</p>
<p>男左大順，女右大宜，男尺恆虛，女尺恆實。</p>
<p>【注】天道陽盛於左，地道陰盛於右。故男左女右，脈大為順，宜也。天之陽在南，陰在北，地之陽在北，陰在南，陽道常饒，陰道常虧。故男寸恆實，尺恆虛，女寸恆虛，尺恆實也。</p>
<p>又有三部，曰天地人，部各有三，九候名焉。額頰耳前，寸口歧銳，下足三陰，肝腎脾胃。</p>
<p>【注】此遵《內經》三部九候，十二經中皆有動脈之診法也。三部，謂上、中、下也。曰天、地、人，謂上、中、下三部，有天、地、人之名也。部各有三，九候名焉，謂三部各有天、地、人，三而三之，合為九候之名也。額、頰、耳前，謂兩額、兩頰、耳前也。上部天，兩額之動脈，當頷厭之分，足少陽脈氣所行，以候頭角者也。上部地，兩頰之動脈，即地倉、人迎之分，足陽明脈氣所行，以候口齒者也。上部人，耳前之動脈，即和髎之分，手少陽脈氣所行，以候耳目者也。寸口歧銳，謂寸口歧骨銳骨也。中部天，乃掌後經渠之次，寸口之動脈，手太陰脈氣所行，以候肺者也。中部地，乃手大指次指歧骨間、合谷之動脈，手陽明脈氣所行，以候胸中者也。中部人，乃掌後銳骨下神門之動脈，手少陰脈氣所行，以候心者也。下足三陰，謂五里、太谿、箕門、肝、腎、脾、胃也。下部天，乃氣衝下三寸，五里之動脈，足厥陰脈氣所行，以候肝者也。下部地，乃內踝後跟骨傍，太谿之動脈，足少陰脈氣所行，以候腎者也。下部人，乃魚腹上越筋間，箕門之動脈，足太陰脈氣所行，以候脾胃者也。</p>
<p>寸口大會，五十合經。不滿其動，無氣必凶。更加疏數，止還不能。短死歲內，期定難生。</p>
<p>【注】寸口動脈，五十一止，合於經常不病之脈也。若四十動一止，一臟無氣，主四歲死。三十動一止，二臟無氣，主三歲死。二十動一止，三臟無氣，主二歲死。十動一止，四臟無氣，主一歲死。不滿十動一止，五臟無氣，若更乍數乍疏，止而不能即還，則可期短死，一歲之內，必難生也。</p>
<p>五臟本脈，各有所管，心浮大散，肺浮澀短，肝沉弦長，腎沉滑軟，從容而和，脾中遲緩。</p>
<p>【注】此言五臟各有所管之本脈，必皆不大不小，從容而和，始為五臟不病之脈也。</p>
<p>四時平脈，緩而和勻，春弦夏洪，秋毛冬沉。</p>
<p>【注】此言四時各有應見之平脈，必皆不疾不徐，緩而和勻，始為四時不病之脈也。</p>
<p>太過實強，病生於外。不及虛微，病生於內。</p>
<p>【注】外因六氣——風、寒、暑、濕、燥、火之邪，脈必洪大緊數，弦長滑實而太過矣。內因七情——喜、怒、憂、思、悲、恐、驚之傷，脈必虛微細弱，短澀濡芤而不及矣。</p>
<p>飲食勞倦，診在右關，有力為實，無力虛看。</p>
<p>【注】凡病外不因六氣，內不因七情，為不內外因，內傷飲食勞倦也。飲食傷胃，勞倦傷脾，故診在右關。飲食傷形為有餘，故右關脈有力。勞倦傷氣為不足，故右關脈無力也。三因百病之脈，不論陰、陽、浮、沉、遲、數、滑、澀、大、小，凡有力皆為實，無力皆為虛。經曰：諸陽脈按之不鼓，諸陰脈按之鼓甚。此之謂歟！</p>
<p>凡診病脈，平旦為準，虛靜寧神，調息細審。</p>
<p>【注】經曰：常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，乃可診有過之脈。又曰：診脈有道，虛靜為寶。言無思無慮，以虛靜其心，惟神凝於指下也。調息細審者，言醫家調勻自己氣息，精細審察也。</p>
<p>一呼一吸，合為一息，脈來四至，平和之則。五至無疴，閏以太息。三至為遲，遲則為冷。六至為數，數則熱證。轉遲轉冷，轉數轉熱。</p>
<p>【注】醫者調勻氣息，一呼脈再至，一吸脈再至，呼吸定息，脈來四至，乃和平之準則也。然何以五至無疴乎？人之氣息，時長時短，凡鼓三息，必有一息之長，鼓五息，又有一息之長，名為太息；如三歲一閏，五歲再閏也。言脈必以四至為平，五至便為太過；惟正當太息之時，始曰無疴。此息之長，非脈之急也；若非太息，正合四至也。至於性急之人，五至為平脈，不拘太息之例，蓋性急脈亦急也。若一息而脈三至，即為遲慢而不及矣；遲主冷病。若一息而脈遂六至，即為急數而太過矣，數主熱病。若一息僅得二至，甚而一至，則轉遲而轉冷矣。若一息七至，甚而八至、九至，則轉數而轉熱矣。一至、二至、八至、九至，皆死脈也。</p>
<p>遲數既明，浮沉須別。浮沉遲數，辨內外因。外因於天，內因於人。天有陰陽，風雨晦明。人喜憂怒，思悲恐驚。</p>
<p>【注】浮脈法天，候表之疾，即外因也。沉脈法地，候里之病，即內因也。外因者，天之六氣：風（風淫末疾）、寒（寒淫陰疾）、暑（暑淫心疾）、濕（濕淫腹疾）、燥（燥淫涸疾）、火（火淫陽疾）是也。內因者，人之七情：喜傷心，怒傷肝，憂思傷脾，悲傷肺，恐傷腎，驚傷心也。</p>
<p>浮沉已辨，滑澀當明。澀為血滯，滑為氣壅。</p>
<p>【注】此上六脈，為諸脈之提綱。以浮沉統諸浮上沉下之部位也，以遲數統諸三至、六至之至數也，以滑澀統諸滑流澀滯之形狀也。脈象雖多，然不屬部位，則屬至數，不屬至數，則屬形狀，總不外此六脈，故為諸脈之提綱也。</p>
<p>浮脈皮脈，沉脈筋骨，肌肉候中，部位統屬。</p>
<p>【注】皮脈取之而得者，謂之浮脈。筋骨取之而得者，謂之沉脈。此以上、下部位而得名也。凡脈因部位而得名者，皆統乎浮沉，故曰部位統屬也。心肺俱浮，以皮毛取之而得者，肺之浮也；以血脈取之而得者，心之浮也。故曰浮脈皮脈。肝腎俱沉，以筋平取之而得者，肝之沉也；以至骨取之而得者，腎之沉也。故曰沉脈筋骨。肌肉在浮沉之間，故曰候中也。</p>
<p>浮無力濡，沉無力弱，沉極力牢，浮極力革。</p>
<p>【注】浮而無力謂之濡脈，沉而無力謂之弱脈，浮而極有力謂之革脈，沉而極有力謂之牢脈。</p>
<p>三部有力，其名曰實。三部無力，其名曰虛。</p>
<p>【注】浮、中、沉三部俱有力，謂之實脈。浮、中、沉三部俱無力，謂之虛脈。</p>
<p>三部無力，按之且小，似有似無，微脈可考。</p>
<p>【注】浮、中、沉三部極無力，按之且小，似有似無，謂之微脈。</p>
<p>三部無力，按之且大，渙漫不收，散脈可察。</p>
<p>【注】浮、中、沉三部極無力，按之且大，渙漫不收，謂之散脈。</p>
<p>惟中無力，其名曰芤，推筋著骨，伏脈可求。</p>
<p>【注】浮、沉有力，中取無力，謂之芤脈。推筋著骨，按之始得，謂之伏脈。以上十脈，皆以部位而得名者，故皆統於浮沉也。</p>
<p>三至為遲，六至為數。</p>
<p>【注】一呼一吸，謂之一息。一息三至，謂之遲脈。一息六至，謂之數脈。此以脈之至數而得名也。凡脈因至數而得名者，皆統乎遲數也。</p>
<p>四至為緩，七至疾脈。</p>
<p>【注】一息四至謂之緩脈，一息七至謂之疾脈。</p>
<p>緩止曰結，數止曰促。凡此之診，皆統至數。動而中止，不能自還，至數不乖，代則難痊。</p>
<p>【注】四至緩脈，時而一止，謂之結脈。六至數脈，時而一止，謂之促脈。結促之脈，動而中止，即能自還。若動而中止，不能自還，須臾復動，或十至或二、三十至一止，其至數不乖，謂之代脈。難痊、謂不滿五十動而止，合經難痊之死脈也。以上五脈，皆以至數而得名者，故皆統於遲數也。</p>
<p>形狀如珠，滑溜不定。往來澀滯，澀脈可證。</p>
<p>【注】形狀如珠，滑溜不定，謂之滑脈。進退維艱，往來滯澀，謂之澀脈。此以脈之形狀而得名也。凡脈以形狀而得名者，皆統乎滑澀也。</p>
<p>弦細端直，且勁曰弦。緊比弦粗，勁左右彈。</p>
<p>【注】狀類弓弦，細而端直，按之且勁，謂之弦脈。較弦則粗，按之且勁，左右彈指，謂之緊脈。</p>
<p>來盛去衰，洪脈名顯。大則寬闊，小則細減。</p>
<p>【注】上來應指而盛，下去減力而衰，謂之洪脈，脈形粗大闊然，謂之大脈。脈形細減如絲，謂之小脈，即細脈也。</p>
<p>如豆亂動，不移約約。長則迢迢，短則縮縮。</p>
<p>【注】其形如豆，亂動約約，動搖不移，謂之動脈。來去迢迢而長，謂之長脈。來去縮縮而短，謂之短脈。以上八脈，皆以形狀而得名者，故皆統於滑澀也。</p>
<p>浮陽主表，風淫六氣，有力表實，無力表虛。浮遲表冷，浮緩風濕，浮濡傷暑，浮散虛極，浮洪陽盛，浮大陽實，浮細氣少，浮澀血虛，浮數風熱，浮緊風寒，浮弦風飲，浮滑風痰。</p>
<p>【注】浮，陽脈主表。風邪六氣外因之病，皆從表入，故屬之也。浮而有力，表實風病也；浮而無力，表虛風病也。遲，寒脈也，故曰表冷。緩，濕脈也，故曰風濕。濡，氣虛脈也，氣虛則傷暑，故曰浮濡傷暑也。散，氣散脈也，氣散則虛極，故曰浮散虛極也。浮洪，陽盛脈，故曰陽盛也。浮大，陽實脈，故曰陽實也。細，氣少脈，氣少不充，故曰氣少也。澀，血少脈，血少枯滯，故曰血虛也。數，熱脈也，故曰風熱，緊，寒脈也，故曰風寒。弦，飲脈也，故曰風飲。滑，痰脈也，故曰風痰。</p>
<p>沉陰主裡，七情氣食。沉大里實，沉小裡虛，沉遲里冷，沉緩里濕，沉緊冷痛，沉數熱極，沉澀痹氣，沉滑痰食，沉伏閉郁，沉弦飲疾。</p>
<p>【注】沉，陰脈主裡。七情氣食內因之病，皆由里生，故屬之也。大，有餘脈也，故曰裡實。小，不足脈也，故曰裡虛。遲，寒脈也，故曰里冷。緩，濕脈也，故曰里濕。緊，寒脈也，故曰冷痛。數，熱脈也，故曰熱極。澀，血滯脈，故曰痹氣。滑，痰食脈，故曰痰食。伏，痛甚不得吐瀉脈也，故曰閉郁。弦，飲脈也，故曰飲疾。</p>
<p>濡陽虛病，弱陰虛疾，微主諸虛，散為虛劇。</p>
<p>【注】濡，為陽分無力脈，故主諸陽虛之病。弱，為陰分無力脈，故主諸陰虛之病。微，為陰陽血氣不足脈，故主諸虛。散，為元氣散之脈，故曰虛劇也。</p>
<p>革傷精血，半產帶崩。牢疝癥瘕，心腹寒疼。</p>
<p>【注】革，內空之脈，故主男子亡血、傷精之病，婦人半產、崩、帶之疾。牢，內堅之脈，故主諸疝、癥瘕，心腹寒冷，疼痛之病也。</p>
<p>虛主諸虛，實主諸實，芤主失血，隨見可知。</p>
<p>【注】虛，為三部無力脈，故主諸虛。實，為三部有力脈，故主諸實。芤，為營空之脈，故主失血。然此三脈，皆隨所見之部位，可知其上下、內外之病也。</p>
<p>遲寒主臟，陰冷相干，有力寒痛，無力虛寒。</p>
<p>【注】遲，陰脈也，臟屬陰，故主之。凡陰冷之病，皆屬之也。有力為寒實作痛，無力為寒虛痛也。</p>
<p>數熱主腑，數細陰傷，有力實熱，無力虛瘡。</p>
<p>【注】數，陽脈也，腑屬陽，故主之。凡陽屬之病，皆屬之也。數為陽盛，細為不足，故曰傷陰。有力為實熱，無力為虛熱。數亦主瘡，故曰虛瘡。</p>
<p>緩濕脾胃，堅大濕壅。促為陽郁，結則陰凝。</p>
<p>【注】緩，脾胃脈，又主濕邪，故緩主濕邪脾胃之病。若搏指堅大，則為濕邪壅脹之病。促，為陽盛而鬱之脈，結，為陰盛而凝之脈也。</p>
<p>代則氣乏，跌打悶絕，奪氣痛瘡，女胎三月。</p>
<p>【注】代者，真氣乏而求代之脈也。若不因跌打氣悶、暴病奪氣、痛瘡傷氣、女胎氣阻者，而無故見之，則必死也。</p>
<p>滑司痰病，關主食風，寸候吐逆，尺便血膿。</p>
<p>【注】滑，陽脈，陽盛為痰，故司痰病。右關候胃，故主痰食。左關候肝，故主風痰。寸候上焦，故主吐逆。尺候下焦，故主便血膿也。</p>
<p>澀虛濕痹，尺精血傷，寸汗津竭，關膈液亡。</p>
<p>【注】澀，血少滯澀脈也，六脈見之，則主營虛受濕痹之病。若兩尺見之，則主傷精傷血之病。兩寸見之，則主汗多津傷之病。兩關見之，則主噎膈反胃，液亡結腸之病也。</p>
<p>弦關主飲，木侮脾經，寸弦頭痛，尺弦腹疼。</p>
<p>【注】弦，陰脈，陰盛為飲；弦，木脈，木旺侮土，土虛不能制濕，故飲病生焉。寸弦，陰乘陽也，故主頭痛。尺弦，陰乘陰也，故主腹疼。</p>
<p>緊主寒痛，洪是火傷。動主痛熱，崩汗驚狂。</p>
<p>【注】緊，寒實脈，故主寒痛。洪，熱實脈，故主火傷。動，為陰陽相搏之陽脈，故主諸痛；陽動主發熱、主驚狂，陰動主汗出、血崩也。</p>
<p>長則氣治，短則氣病，細則氣衰，大則病進。</p>
<p>【注】長者，氣之暢也，故曰氣治，短者，氣之縮也，故曰氣病。小者，正氣衰也。大者，邪病進也。</p>
<p>脈之主病，有宜不宜，陰陽順逆，吉凶可推。</p>
<p>【注】病有陰陽，脈亦有陰陽。順應則吉，逆見則凶。此以下至其死可測句，凡二十七節，詳分某病見某脈吉，某病見某脈凶也。</p>
<p>中風之脈，卻喜浮遲，堅大急疾，其凶可知。</p>
<p>【注】中風虛見虛脈，以浮遲為順。若反見堅大急疾為逆，決無生理。</p>
<p>傷寒熱病，脈喜浮洪，沉微澀小，證反必凶。汗後脈靜，身涼則安，汗後脈躁，熱甚必難。陽證見陰，命必危殆，陰證見陽，雖困無害。</p>
<p>【注】此節皆言傷寒之順逆也。傷寒熱病傳裡屬熱，脈以浮洪陽脈為吉；若見沉、微、澀、小陰脈，是證與脈反，故凶。汗後邪解，便當脈靜身涼，若躁而熱，所謂汗後不為汗衰，名曰陰陽交，必難治矣。陽證而見沉、澀、細、微、弱、遲之陰脈，則脈與證反，命必危殆；陰證而見浮、大、數、動、洪、滑之陽脈，雖脈與證反，在他證忌之，獨傷寒為陰邪還陽，將解之診，病雖危困，無害於命也。</p>
<p>勞倦傷脾，脈當虛弱，自汗脈躁，死不可卻。</p>
<p>【注】勞倦傷脾，脈當虛弱，為順也。若自汗出而脈反躁疾，則逆矣，安得不死？</p>
<p>瘧脈自弦，弦遲多寒，弦數多熱，代散則難。</p>
<p>【注】瘧為寒熱之病，弦為少陽之脈。少陽主病寒熱往來，凡寒熱之病，多屬少陽半表半裡之界，故瘧脈自應得弦象也。遲多寒，數多熱，理自然也。若得代、散二脈，邪尚未解，正氣已衰，命則難生矣。</p>
<p>泄瀉下利，沉小滑弱，實大浮數，發熱則惡。</p>
<p>【注】瀉痢裡虛，宜見沉小滑弱之脈為順。若反見實大浮數之脈，則身必發熱而成惡候也。</p>
<p>嘔吐反胃，浮滑者昌，沉數細澀，結腸者亡。</p>
<p>【注】嘔吐反胃，脾虛有痰也。浮為虛，滑為痰，是為順脈，故曰昌也。若沉數細澀，則為氣少液枯，遂致結腸，糞如羊屎，死不可救矣。</p>
<p>霍亂之候，脈代勿訝，舌卷囊縮，厥伏可嗟。</p>
<p>【注】霍亂之診，陽脈為佳，若見代脈，因一時清濁混亂，故脈不接續，非死候也。如脈伏不見，四肢厥逆，舌卷囊縮，為陰寒甚，則有可嗟之變也。</p>
<p>嗽脈多浮，浮濡易治，沉伏而緊，死期將至。</p>
<p>【注】嗽乃肺疾，脈浮為宜，兼見濡者，病將退也。若沉伏與緊則相反而病深矣。不死何待？</p>
<p>喘息抬肩，浮滑是順，沉澀肢寒，切為逆證。</p>
<p>【注】陽喘多實，風與痰耳，故脈以浮滑為順。陰喘多虛，寒與虛也，故脈沉澀，四肢寒者，均為不治逆證。</p>
<p>火熱之證，洪數為宜，微弱無神，根本脫離。</p>
<p>【注】熱證而得洪數，乃正應也。若見微弱，證脈相反，根本脫離，藥餌不可施矣。</p>
<p>骨蒸發熱，脈數而虛，熱而澀小，必殞其軀。</p>
<p>【注】骨蒸者，腎水不足，壯火僭上，虛數二脈，是正象也。若澀小之脈，所謂發熱脈靜，不可救耳。</p>
<p>勞極諸虛，浮軟微弱，土敗雙弦，火炎細數。</p>
<p>【注】虛證宜見虛脈，若兩關脈弦，謂之雙弦。弦乃肝脈，右關見之，是肝木乘脾，故曰土敗。勞證之脈，若見細數，乃陰虛火盛，上刑肺金，便不可治。</p>
<p>失血諸證，脈必見芤，緩小可喜，數大堪憂。</p>
<p>【注】蓀有中空之象，失血者宜爾也。緩小亦為虛脈，順而可喜，若數且大，謂之邪勝，故可憂也。</p>
<p>蓄血在中，牢大卻宜，沉澀而微，速愈者稀。</p>
<p>【注】蓄血者，有形之實證，見牢大之脈，脈證相宜。倘沉澀而微，是挾虛矣。既不能自行其血，又難施峻猛之劑，安望速愈也？</p>
<p>三消之脈，數大者生，細微短澀，應手堪驚。</p>
<p>【注】渴而多飲為上消，消穀善飢為中消，渴而便數為下消。三消者，皆燥熱太過，惟見數大之脈為吉耳。細微短澀，死不可救也。</p>
<p>小便淋閉，鼻色必黃，實大可療，澀小知亡。</p>
<p>【注】鼻頭色黃，必患小便難。六脈實大者，但用攻病之劑必愈。若逢澀小，為精氣不化，死亡將及矣。</p>
<p>癲乃重陰，狂乃重陽，浮洪吉象，沉急凶殃。</p>
<p>【注】癲狂二證，皆以浮洪為吉，取其病尚淺也。若沉而急，病已入骨，雖有扁倉，莫之能救矣。</p>
<p>癇宜浮緩，沉小急實，但弦無胃，必死不失。</p>
<p>【注】癇本風痰，脈見浮緩，自應然也。若沉小急實，是病深也，或但弦無胃；則肝之真臟脈見矣，安望其更生耶？</p>
<p>心腹之痛，其類有九，細遲速愈，浮大延久。</p>
<p>【注】九種心腹之痛，皆宜遲細，易於施療，如浮而大，是為中虛邪盛，不能收捷功也。</p>
<p>疝屬肝病，脈必弦急，牢急者生，弱急者死。</p>
<p>【注】肝主筋，疝則筋急，故屬肝也。肝脈弦急，是其常也。疝系陰寒之咎，牢主裡寒之脈，亦其常也。如且弱且急，必有性命之憂矣。</p>
<p>黃疸濕熱，洪數便宜，不妨浮大，微澀難醫。</p>
<p>【注】濕蒸熱瘀，黃疸生焉，洪數浮大，皆所宜也。一見微澀，虛衰已甚，必食少瀉多，無藥可療矣。</p>
<p>腫脹之脈，浮大洪實，細而沉微，岐黃無術。</p>
<p>【注】水腫脹滿，有餘之證，宜見有餘之脈，浮大洪實是矣。沉細而微，謂之證實脈虛，難言生矣。</p>
<p>五臟為積，六腑為聚，實強可生，沉細難愈。</p>
<p>【注】積聚皆實證也，實脈強盛，是所當然。沉細為虛，真氣敗絕，不可為矣。</p>
<p>中惡腹脹，緊細乃生，浮大為何？邪氣已深。</p>
<p>【注】中惡者，不正之氣也。緊細則吉，浮大則凶也。</p>
<p>鬼崇之脈，左右不齊，乍大乍小，乍數乍遲。</p>
<p>【注】鬼崇犯人，左右二手，脈象不一，忽大忽小，忽數忽遲，無一定之脈形也。</p>
<p>癰疽未潰，洪大脈宜，及其已潰，洪大最忌。</p>
<p>【注】未潰屬實，洪大為正脈也。潰後則虛，若仍見洪大，則為邪脈，最所忌也。</p>
<p>肺癰已成，寸數而實。肺痿之證，數而無力。癰痿色白，脈宜短澀，數大相逢，氣損血失。腸癰實熱，滑數相宜，沉細無根，其死可期。</p>
<p>【注】肺癰而寸口數實，知膿已成矣。肺葉焦痿，為火傷也，是以數而無力。肺癰、肺瘦得白色者，肺之本色，得短澀者，肺之本脈，均相宜也。若逢數大，是火來剋金，賊邪之診，故氣損血失也。腸癰實也，滑數相宜，沉細虛也，證實脈虛，死期將至矣。</p>
<p>婦人有子，陰搏陽別，少陰動甚，其胎已結，滑疾而散，胎必三月，按之不散，五月可別。左男右女，孕乳是主，女腹如箕，男腹如釜。</p>
<p>【注】此一節明女科胎前之脈也。陰搏陽別者，寸為陽，尺為陰，言尺陰之脈，搏指而動，寸陽之脈，則不搏指，迥然分別，此有子之診也。或手少陰心脈獨動而甚者，蓋心主血，血主胎，故胎結而動甚也。動者，謂往來流利之動而滑，非厥厥搖動為病之動也。疾即數也，滑而且數，按之而散，三月之胎也；按之不散，五月之胎也。左為陽，故左疾為男胎；右為陰，故右疾為女胎。五六月後，孕婦之乳房有核，吮之有乳者，則主有子也。女胎腹形，狀如箕之圓也。男胎腹形，狀如釜之上小而下大也。</p>
<p>欲產離經，新產小緩，實弦牢大，其凶不免。</p>
<p>【注】此一節明產中之脈也。欲產脈離經者，謂見離乎經常之脈也。蓋胎動於中，脈亂於外，勢所必然也。產後氣血兩虛，見小緩之虛脈為吉，若見實大弦牢，其凶不免矣。</p>
<p>經脈病脈，業已昭詳，將絕之形，更當度量。</p>
<p>【注】經常之脈，主病之脈，皆明於前矣。而死絕之脈。亦不可不察也，分列於後。</p>
<p>心絕之脈，如摻帶鉤，轉豆躁疾，一日可憂。</p>
<p>【注】經曰：脈來前曲後居，如摻帶鉤，曰心絕。前曲者，謂輕取則堅強而不柔。後居者，謂重取則牢實而不動，如持革帶之鉤，全失沖和之氣，但鉤無胃，故曰心死。鉤，即洪脈也。轉豆者，即經所謂如循薏苡子、累累然，狀其短實堅強，真臟脈也。又曰：心絕，一日死。</p>
<p>肝絕之脈，循刃責責，新張弓弦，死在八日。</p>
<p>【注】經曰：真肝脈至，中外爭如循刃。又曰：脈來急溢，勁如新張弓弦，曰肝死，又曰：肝絕，八日死。</p>
<p>脾絕雀啄，又同屋漏，覆杯水流，四日無救。</p>
<p>【注】舊訣曰：雀啄連來四五啄，屋漏少刻一點落，若杯覆，若水流，皆脾絕也。經曰：脾絕，四日死。</p>
<p>肺絕維何？如風吹毛，毛羽中膚，三日而號。</p>
<p>【注】經曰：如風吹毛，曰肺死。又曰：真肺脈至，如以毛羽中人膚。皆狀其但浮而無胃氣也。又曰：肺絕，三日死。</p>
<p>腎絕伊何？發如奪索，辟辟彈石，四日而作。</p>
<p>【注】經曰：脈來如奪索，辟辟如彈石，曰腎死。又曰：腎絕，四日死，舊訣云：彈石硬來尋即散，搭指散亂如解索。正此謂也。石，即沉脈也。</p>
<p>命脈將絕，魚翔蝦游，至如湧泉，莫可挽留。</p>
<p>【注】舊訣云：魚翔似有又似無，蝦游靜中忽一躍。經曰：渾渾革至如湧泉，綿綿其去如弦絕。皆死脈也。</p>
<p>脈有反關，動在臂後，別由列缺，不幹證候。</p>
<p>【注】反關脈者，脈不行於寸口，出列缺絡，入臂後手陽明大腸之經也。以其不順行於關上，故曰反關。有一手反關者，有兩手反關者，此得於有生之初，非病脈也。令病人側立其手，診之方可見也。</p>
<p>歧黃脈法，候病死生，太素脈法，陰陽貴清。清如潤玉，至數分明，濁脈如石，模糊不清。小大貧富，澀滑窮通，長短壽夭，詳推錯綜。</p>
<p>【注】脈法倡自歧黃，所以候病死生。至楊上善為風鑑者流，託名「太素脈法」，以神其說，每多不驗。然其中有近理可採者，如論六陽六陰之脈，以清主貴，以濁主賤。清脈之狀，似玉潤淨，至數分明；濁脈之狀，如石粗澀，至數模糊。小脈主貧，大脈主富，澀脈主窮，滑脈主通，長脈主壽，短脈主夭。如質清脈濁，貴中賤也；質濁脈清，賤中貴也。清脈兼大，貴而富也；兼滑，貴而通也；兼長，貴而壽也。濁脈兼小，賤而貧也；兼澀，賤而窮也；兼短，賤而夭也。清脈兼小，貴而貧也；兼澀，貴而窮也；兼短，貴而夭也。濁脈兼大，賤而富也；兼滑，賤而通也；兼長，賤而壽也。詳推錯綜者，即詳推此質清脈清，質濁脈濁，質清脈濁，質濁脈清，錯綜等說之理耳。</p>
<p>附：訂正《素問·脈要精微論》一則備考</p>
<p>尺內兩傍，則季脅也。尺外以候腎，尺裡以候腹中。中附上，左外以候肝，內以候膈；右外以候胃，內以候脾。上附上，右外以候肺，內以候胸中；左外以候心，內以候膻中。前以候前，後以候後。上竟上者，胸喉中事也；下竟下者，少腹、腰、股、膝、脛、足中事也。</p>
<p>【注】「內、外」二字，前人有以尺部一脈，前半部脈、後半部脈為訓者；有以內側曰內，外側曰外為訓者，皆非也。蓋脈之形，渾然純一，並不兩條，亦不兩截。若以前半部、後半部為是，則視脈為兩截矣。若以尺內側、尺外側為是，則視脈為兩條矣。故知二說皆非也。熟玩通章經文，自知其為傳寫之訛。豈有獨於脾胃，則曰：右外以候胃，內以候脾者耶？蓋外以候腑，內以候臟，《內經》脈書，確然可考，故當以「外以候胃，內以候脾」之句為正。其尺外之「外」字，當是「里」字；尺裡之「里」字，當是「外」字。中附上、左右之「內」、「外」字，上附上左、右之「內」、「外」字，皆當改之。故不循舊圖所列，以符外候腑、內候臟之義也。前以候前，謂關之前寸也；後以候後，謂關之後尺也。上竟上者，謂上盡魚際也；下竟下者，謂下盡尺澤也。</p>
<figure>
<img data-orig-src="urn:270:09948.jpg" alt="訂正《素問》脈位圖">
</figure>
