<header data-type="book">
<h1>家塾方與方極</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吉益為則</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>方極序</h1>
<p>書曰。皇建其有極。不建有極。民何乎遵守。醫亦然。漢張仲景著傷寒論。於是乎極建。然二千載尚矣。其書雖存。文之闕也。簡之錯也。非仲景之古。於是錯綜諸篇。夕考而朝試。如有得焉。於是友人云門曾先生曰。夫醫之掌疾病者。治之也方已。今諸家之處方也。師弟子不必同。何故耶。曰無定極也。夫仲景之為方也有法。方證相對也。不論因也。建而正於毒之中。此之謂極也。賢愚無違。可違非法。治乎在茲。不乎在茲。習乎在茲。教乎在茲。此法之不可以忽也。猶兵之有法。如先後之與取捨。則存於其人。此之謂略也。略不可傳也。法可傳矣。曾先生曰。法之可傳也方已。何不記以傳焉。曰未盡也。曰記其所得焉。於是使品玄左記方之所之也。名曰方極。</p>
<p><u>寶曆五年乙亥仲秋日　藝陽　吉益為則公言甫撰</u></p>

<h1>方極敘</h1>
<p>醫方之祖仲景也。後世莫不述焉。其載方之所之於書也。多歧易迷。故能得仲景之正路者。天下鮮矣。蓋假途之鹵莽。而不知所準據也。吉益先生顛沛造次於仲景。參伍其方。能知所準據。故得其正路。而不迷多歧。不迷多歧。故行之於病者。不由徑也。得其正路。故授之門人。有準據也。余締交先生有年。於此乃語之曰。先生之業。美則美矣。而猶未大也。教之所及。僅入門之士耳。安在其能大也。古昔聖人之立極也。以為民之準據。不則聖人之才。猶無奈天下後世何。假令先生取諸方之所之於仲景。建其正路。以為準據於天下後世。不迷多歧。是先生立極此醫也。豈不亦大哉。先生曰。諾。余遂從臾其門人品玄左者。乃與其事。於是先生之授於口也。玄左之受於筆也。以成其方極。友人云門曾原子泉作敘云爾。</p>
<p><u>寶曆五年秋七月</u></p>

<h1>東洞先生家塾方</h1>
<p>第一方。太簇丸。　乃人參大黃丸。治腹滿心下痞鞕。飲食停滯。大便難。</p>
<p>大黃（四十錢）　黃芩　人參（各二十錢）</p>
<p>上三味。搗篩為末。糊丸如梧桐子大。每服三十丸。白湯下之。</p>
<p>第二方。夾鍾丸。　乃硝石大丸。今去當歸。治腹中有結毒或心下痞鞕者。</p>
<p>大黃（二十四錢）　硝石（十八錢）　人參　甘草（各六錢）</p>
<p>上四味。各別杵。為散。以苦酒三合。先內大黃。煮作二合。內諸藥。如飴狀。下火冷。內硝石。杵之。為膏丸。如梧桐子大。每服三十丸。飲服之。杶按。今古方家稱用硝石以煙消之硝石者。非也。此硝者水消之硝石也。</p>
<p>第三方。姑洗圓。　乃控涎丹。治諸痰飲水毒。</p>
<p>甘遂　大戟　白芥子（各等分）</p>
<p>上三味。杵節為末。蜜丸如梧桐子大。每五十丸。以生薑湯服之。</p>
<p>第四方。仲呂丸。乃如神丸。治水毒大小便不通者。</p>
<p>大黃（六兩）　甘遂　牽牛子（各三兩）</p>
<p>上三味。杵節為末。糊丸。如綠豆。每服二十丸。白湯下之。</p>
<p>第五方。蕤賓丸。乃平水丸。治腳氣腫滿不大便者。</p>
<p>商陸（四兩）　甘遂（二兩）　芒硝　芫花　吳茱萸（各三兩）</p>
<p>上五味。為末。蜜丸如梧桐子大。飲服三丸。日三。</p>
<p>第六方。林鐘丸。乃甘連大黃丸。治心煩不大便者。</p>
<p>大黃（六兩）　甘草　黃連（各二兩）</p>
<p>上三味。杵篩為末。糊丸如梧桐子大。每服三十丸。白湯送下之。</p>
<p>第七方。夷則丸。乃海浮石丸。治腹不滿其人言我滿者。</p>
<p>海浮石　大黃　桃仁（各等分）</p>
<p>上三味。杵篩為末。糊丸如梧桐子大。每三十丸。白湯服之。不知稍加之。</p>
<p>第八方。南呂丸。乃滾痰丸。今以甘遂代沉香。治諸痰飲咳嗽。大便不利者。</p>
<p>黃芩（四兩）　甘遂　青礞石（各二錢）　大黃（八錢）</p>
<p>上四味。杵篩為末。糊丸如梧桐子大。每服二十丸。日三。或至三四十丸。溫水下之。</p>
<p>制礞石法。青礞石焰硝各等分。土器中煅過。以金色為度。研飛。曬乾用。</p>
<p>第九方。無射丸。乃牡蠣角石散。治諸瘡瘍膿出不止者。</p>
<p>牡蠣　鹿角霜（各一錢）　輕粉（五分）</p>
<p>上三味。杵篩二味為末。以輕粉合治雞子白。煉為膏。黏瘡上。</p>
<p>第十方。應鐘散。乃芎黃散。治諸上衝轉變不治者。</p>
<p>大黃（二兩）　川芎（六兩）</p>
<p>上二味。杵篩為末。每服六分。酒或湯送下。不治稍加一錢。以至下為度。若有結毒痼疾者。每夕臨臥服之。</p>
<p>第十一方。黃鐘丸。乃三黃丸。治大便難煩悸而心下痞者。</p>
<p>大黃（四十錢）　黃芩　黃連（各二十錢）</p>
<p>上三味。杵篩為末。糊丸如梧桐子大。每服二三十丸。白湯送下。以下為度。若急下之。則酒服之。</p>
<p>第十二方。大呂丸。乃備急丸。今以糊丸。</p>
<p>大黃　乾薑　巴豆（各等分）</p>
<p>上三味。先杵二味為末。別研巴豆。合治。糊丸。如綠豆大。每服一二丸。以下為度。不知稍加。</p>
<p>以上十二方。先師家塾嘗以十二律命方。銘皆是塾生憾方名之不著而命之者也。恐非先師意。雖然海內通稱。而以律呼之。故今仍舊以為目。冒以第一第二分之。井杶記。</p>
<p>紫丸。本以蜜煉之。今糊丸之。或蜜丸用之。治胸腹結毒或胸滿大便難有水毒者。</p>
<p>代赭石　赤石脂　巴豆（各二十錢）　杏仁（四錢）</p>
<p>上四味。先杵二味為末。別研巴豆杏仁。內中合治。糊丸。如綠豆大。量病證淺深服之。一二分至一錢為度。若有不差者。每日服之。或五丸或十丸。若無赤石脂。則以鹽藏鐵粉代之。</p>
<p>製鹽藏鐵粉法。上鐵屑二錢。食鹽二分。攪之。密器貯之。封藏十日。</p>
<p>置諸床下地上。取出研之。水飛。曬乾。以代赤石脂。</p>
<p>梅肉霜。治諸惡瘡結毒及下疳毒。</p>
<p>梅諸（鹽藏者燒為霜）　梔子霜（各七分五釐）　巴豆　輕粉（各二分五釐）</p>
<p>上四味。別研巴豆。作泥。內三味為散。每服二分或三分。病重者服一錢。熱湯送下之。</p>
<p>伯州散。乃大同類聚方伯耆藥。治毒腫又有膿者。</p>
<p>蝮蛇　蟹（江河中生者）　鹿角（各等分）</p>
<p>上三味。各燒為霜。合治酒。每服九分。</p>
<p>七寶丸。治梅瘡結毒及痼疾骨節疼痛諸不能治者。</p>
<p>牛膝　輕粉（各二錢）　土茯苓（一錢）　大黃（八分）　丁子（五分）</p>
<p>上五味。合杵。篩為末。糊丸如綠豆大。一日八分。分為二服。每四分。朝夕白湯服之。凡六日。又七日。詰朝服後方。</p>
<p>後七寶丸。</p>
<p>巴豆　丁子（各二分五釐）　大黃（四分）</p>
<p>上三味。先丁子大黃為末。別巴豆研。內中。合冶。糊丸如綠豆大。凡服前方六日乃至七日。詰朝服此方。一服一錢。白湯下之。</p>
<p>制丁子法。丁子一錢內粳米六七粒。別研之。悉為細末。不然黏不能末之。</p>
<p>杶嘗見今稱古方家者。用七寶丸之法。凡六日而至七日。詰朝不用此方。後而唯用紫丸或備急丸以取其瀉下為法。是大不然也。夫巴豆大黃雖取其瀉下。與乾薑亦何所預乎。況又三味等分。則於其分兩亦有不然者。且丁子之取輕粉之毒。人未知其妙用。唯以紫丸或備急丸取其瀉下。亦後方所誤多參。口舌糜爛。飲食不下咽者。皆是粉毒所致也。此後方者。唯取下輕粉之毒而已。豈有他乎。</p>
<p>續七寶丸。今多用之。</p>
<p>水銀（二錢半）　硝石礬石（各六錢）　鹽（二錢）</p>
<p>上四味。先碎硝石礬石。乃合四味。內瓦盆中。以茗碗覆之。以泥封之。安架火。而自下燒之。半日許。既而取其所屬眷茗碗之霜。以棗肉為丸。服之如前七寶丸之法。至第七日服後方丸亦如前。</p>
<p>承氣丸。治腹滿或燥屎不通者。</p>
<p>大黃（八錢）　硝石（十二錢）</p>
<p>上二味。為末。糊丸。如梧桐子大。以枳實厚朴湯服之。每服八分。</p>
<p>枳實厚朴湯。</p>
<p>枳實（一錢二分）　厚朴（一錢八分）</p>
<p>上二味。以水一合五勺。煮取六勺。送下承氣丸八分。</p>
<p>礬石大黃丸。治無名毒腫及癜風疥癬。</p>
<p>礬石　大黃（各等分）</p>
<p>上二味。杵篩為末。每一錢。以溫湯服之。日一。</p>
<p>滑石礬石甘草散。治淋痛小便不利者。</p>
<p>滑石　礬石（各六兩）　甘草（三兩）</p>
<p>上三味。杵篩為末。每服一錢。溫湯下之。</p>
<p>鐵砂散。治黃胖病。</p>
<p>鐵砂　蕎麥粉（各十二錢）　大黃（六兩）</p>
<p>上三味。杵篩二味為末。和蕎麥粉。以水煉之。丸如綠豆大。每服一錢。以清酒下之。日三。</p>
<p>桃花湯。治浮腫大小便不通者。</p>
<p>桃花（二錢）　大黃（一錢）</p>
<p>上二味。以水二合。先內桃花。煮取一合二勺。內大黃。煮取六勺。頓服。</p>
<p>小瘡摺方。治諸疥癬及膁瘡。</p>
<p>巴豆（去殼）　萆麻子（各一錢）　大黃（五分）</p>
<p>上三味。先研二味為泥。內大黃末。綿包。浸暖酒中。攝之一日五度。至七日而止。八日詰朝浴溫湯。一日七回愈。若不愈如前法。</p>
<p>薏苡仁丸。治小兒頭瘡及胎毒諸瘡。大人亦得治。</p>
<p>薏苡仁（十錢）　大黃（五錢）　土茯苓（二十錢）</p>
<p>上三味。杵散為末。蜜丸。彈子大。每一丸。日三。</p>
<p>以上十三方。先師東洞翁家塾方也。余嘗受之。而試之十數年。無一方不效者。然海內傳方之人。唯受其方。而分兩服度。無所考定。有錯誤者。今詳校索之。以傳永世。入門之士。宜秘之耳。</p>
<p>安永九年庚子仲夏。肥後村井杶謹識</p>

<h1>方極</h1>
<p>桂枝湯。治上衝、頭痛、發熱、汗出、惡風者。</p>
<p>桂枝加桂湯。治本方證、而上衝劇者。</p>
<p>桂枝加芍藥湯。治桂枝湯證、而復拘攣甚者。</p>
<p>桂枝去芍藥湯。治桂枝湯證、而不拘攣者。</p>
<p>桂枝加葛根湯。治本方證、而項背強急者。</p>
<p>栝蔞桂枝湯。治桂枝湯證、而渴者。</p>
<p>桂枝加黃蓍湯。治本方證、而黃汗、若自汗、盜汗者。</p>
<p>桂枝加芍藥大黃湯。治桂枝加芍藥湯證。而有停滯者。</p>
<p>桂枝加厚朴杏仁湯。治桂枝湯證。而胸滿微喘者。</p>
<p>烏頭桂枝湯。治腹中絞痛、手足逆冷、或不仁、或身疼痛者。</p>
<p>桂枝加附子湯。治本方證、而惡寒、或支節微痛者。</p>
<p>桂枝去芍藥加附子湯。治桂枝去芍藥湯證、而惡寒者。</p>
<p>桂枝附子湯。治桂枝去芍藥湯證、而身體疼煩、不能自轉側者。</p>
<p>桂枝附子去桂加朮湯。治前方證、而大便硬、小便自利、不上衝者。</p>
<p>桂枝去桂加芩術湯。治桂枝湯證。而悸、小便不利、不上衝者。</p>
<p>桂薑棗草黃辛附湯。治桂枝去芍藥湯麻黃附子細辛湯二方證相合者。</p>
<p>桂枝去芍藥加皂莢湯。治桂枝去芍藥湯證、而吐濁、垂涎沫者。</p>
<p>桂枝加龍骨牡蠣湯。治桂枝湯證而胸腹有動者。</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣湯。治桂枝去芍藥湯證。而胸腹動劇者。</p>
<p>桂枝加芍藥生薑人參湯。治桂枝湯證、而心下痞鞕、或拘攣、及嘔者。</p>
<p>桂枝二麻黃一湯。治桂枝湯證多。麻黃湯證少者。</p>
<p>桂枝二越婢一湯。治桂枝湯證多。越婢湯證少者。</p>
<p>桂枝麻黃各半湯。治桂枝湯麻黃湯二方證、相半者。</p>
<p>小建中湯。治裡急腹皮拘急、及急痛者。</p>
<p>黃蓍建中湯。治小建中湯證、而盜汗、或自汗者。</p>
<p>黃蓍桂枝五物湯。治桂枝湯證、而嘔、身體麻痹、不急迫者。</p>
<p>黃蓍桂枝苦酒湯。治身體腫。發熱、汗出、汗沾衣、色正黃如藥汁者。</p>
<p>桂枝甘草湯。治上衝急迫者。</p>
<p>半夏散及湯。治咽喉痛、上衝急迫者。</p>
<p>桂枝甘草附子湯。治桂枝甘草湯證、而骨節煩疼、小便不利者。</p>
<p>桂枝甘草龍骨牡蠣湯。治胸腹有動急迫者。</p>
<p>桂枝人參湯。治人參湯證、而上衝急迫劇者。</p>
<p>人參湯。治心下痞鞕。小便不利。或急痛、或胸中痹者。</p>
<p>茯苓甘草湯。治心下悸上衝而嘔者。</p>
<p>茯苓杏仁甘草湯。治悸而胸中痹者。</p>
<p>茯苓戎鹽湯。治心下悸。小便不利者。</p>
<p>葵子茯苓散。治小便不利。心下悸。腫滿者。</p>
<p>苓薑朮甘湯。治心下悸、小便自利、腰中冷如坐水中、若疼、重形如水狀者。</p>
<p>苓桂朮甘湯。治心下悸、上衝、起則頭眩、小水不利者。</p>
<p>苓桂甘棗湯。治臍下悸、而攣急上衝者。</p>
<p>苓桂五味甘草湯。治心下悸、上衝、咳而急迫者。</p>
<p>苓甘五味姜辛湯。治前方證、而不上衝痰飲滿者。</p>
<p>苓甘姜味辛夏湯。治前方證、而謳者。</p>
<p>苓甘姜味辛夏仁湯。治前方證、而微浮腫者。</p>
<p>苓甘姜味辛夏仁黃湯。治前方證。而腹中微結者。</p>
<p>茯苓澤瀉湯。治心下悸。小便不利、上衝、及嘔吐、渴欲飲水者。</p>
<p>澤瀉湯。治苦冒眩、小便不利者。</p>
<p>五苓散。治消渴、小便不利、若渴欲飲水、水入則吐者。</p>
<p>茵陳五苓散。治發黃兼前方證者。</p>
<p>豬苓湯。治小便不利、若淋瀝、若渴欲飲水者。</p>
<p>豬苓湯。治渴而心下悸小便不利者。</p>
<p>牡蠣澤瀉散。治身體水腫、腹中有動、渴而小便不利者。</p>
<p>八味丸。治臍下不仁、小便不利者。</p>
<p>栝蔞瞿麥丸。治心下悸、小便不利、惡寒而渴者。</p>
<p>麻黃湯。治喘而無汗、頭痛、發熱、惡寒、身體疹者。</p>
<p>麻黃加朮湯。治本方證、而小便不利者。</p>
<p>麻黃甘草湯。治喘急迫。或自汗、或不汗者。</p>
<p>麻黃附子甘草湯。治前方證、而惡寒、或身微痛者。</p>
<p>麻黃附子細辛湯。治麻黃附子甘草湯證、而不急迫、有痰飲之變者。</p>
<p>麻黃杏仁甘草石膏湯。治麻黃甘草湯證、而咳煩渴者。</p>
<p>麻黃杏仁薏苡甘草湯。治前方證、而不煩渴、有水氣者。</p>
<p>牡蠣湯。治麻黃甘草湯證、而胸中有動者。</p>
<p>麻黃醇酒湯。治喘而發黃、或身疼者。</p>
<p>半夏麻黃丸。治喘而嘔者。</p>
<p>小青龍湯。治咳喘。上衝、頭痛、發熱、惡風、或乾嘔者。</p>
<p>大青龍湯。治喘及咳嗽、渴欲飲水、上衝、或身疼、惡風寒者。</p>
<p>文蛤湯。治煩渴而喘咳急者。</p>
<p>越婢湯。治大青龍湯證。而不咳嗽上衝者。</p>
<p>越婢加朮湯。治本方證、而小便不利者。</p>
<p>越婢加半夏湯。治本方證而嘔逆者。</p>
<p>葛根湯。治項背強急、發熱、惡風、或喘、或身疼者。</p>
<p>葛根加半夏湯。治本方證而嘔者。</p>
<p>葛根黃芩黃連湯。治項背強急、心悸、而下利者。</p>
<p>小柴胡湯。治胸脅苦滿、或寒熱往來、或嘔者。</p>
<p>柴胡加芒硝湯。治小柴胡湯證、而苦滿難解者。</p>
<p>柴胡去半夏加栝蔞湯。治小柴胡湯證、而渴不嘔者。</p>
<p>柴胡桂枝湯。治小柴胡湯與桂枝湯二方證相合者。</p>
<p>柴胡桂枝幹薑湯。治小柴胡湯證、而不嘔、不痞、上衝而渴、腹中有動者。</p>
<p>大柴胡湯。治小柴胡湯證。而心下不痞鞕、腹滿拘攣、或嘔者。</p>
<p>白虎湯。治大渴引飲、煩躁者。</p>
<p>白虎加人參湯。治本方證、而心下痞鞕者。</p>
<p>白虎加桂枝湯。治白虎湯證、而上衝者。</p>
<p>小承氣湯。治腹滿而大便鞕者。</p>
<p>厚朴七物湯。治腹滿發熱、上逆、嘔者。</p>
<p>大承氣湯。治腹堅滿、若下利臭穢、若燥屎者。（凡有燥屎者。臍下必磊砢也。肌膚苦燥。）</p>
<p>大黃黃連瀉心湯。治心煩、心下痞、按之濡者。</p>
<p>瀉心湯。治心氣不定、心下痞、按之濡者。</p>
<p>附子瀉心湯。治瀉心湯證、而惡寒者。</p>
<p>大黃附子湯。治腹絞痛、惡寒者。</p>
<p>大黃甘遂湯。治小腹滿如敦狀、小便微難、或經水不調者。</p>
<p>抵當湯。治瘀血者。（凡有瘀血者二焉。少腹鞕滿。小便快利者。一也。腹不滿。其人言我滿者。二也。急則以湯。緩則以丸。）</p>
<p>抵當丸。</p>
<p>橘皮大黃樸消湯。治心胸間有宿滯而結者。</p>
<p>大黃硝石湯。治發黃、腹中有結塊者。</p>
<p>大黃牡丹湯。治臍下有堅塊、按之即痛、及便膿血者。</p>
<p>大黃甘草湯。治便秘急迫者。</p>
<p>調胃承氣湯。治大黃甘草湯證、而實者。</p>
<p>桃核承氣湯。治血證、小腹急結、上衝者。</p>
<p>下瘀血湯。治臍下毒痛、及經水不利者。</p>
<p>土瓜根散。治少腹拘急、經水不利。或下白物者。</p>
<p>甘草湯。治病逼迫、及咽急痛者。</p>
<p>桔梗湯。治甘草湯證、而有膿、或黏痰者。</p>
<p>排膿湯。治膿血及黏痰急迫者。</p>
<p>芍藥甘草湯。治拘攣急迫者。</p>
<p>甘遂半夏湯。治芍藥甘草湯證、而心下鞕滿者。</p>
<p>芍藥甘草附子湯。治芍藥甘草湯證、而惡寒者。</p>
<p>甘麥大棗湯。治急迫、而狂驚者。</p>
<p>甘草粉蜜湯。治吐涎、吐蟲、心痛、發作有時者。</p>
<p>生薑甘草湯。治咳唾、涎沫不止、心下痞鞕、急迫者。</p>
<p>乾薑甘草湯。治厥而煩躁、多涎唾者。</p>
<p>四逆湯。治四肢逆厥、身體疼痛、下利清穀、或小便清利者。</p>
<p>四逆加人參湯。治四逆湯證、而心下痞鞕者。</p>
<p>茯苓四逆湯。治前方證、而悸者。</p>
<p>附子粳米湯。治腹中雷鳴、切痛、或嘔吐者。</p>
<p>薏苡附子散。治胸中痹、惡寒者。</p>
<p>薏苡附子敗漿散。治身甲錯、腹皮急、按之濡如腫狀、腹無積聚者。</p>
<p>大烏頭煎。治毒繞臍絞痛、或自汗出、手足厥冷者。</p>
<p>烏頭湯。治骨節疼痛、不可屈伸、若自汗、或盜汗、若腹絞痛者。</p>
<p>赤丸。治心下悸、有痰飲、惡寒、或微厥者。</p>
<p>真武湯。治心中燥。身瞤動、振振欲擲地、小便不利、或嘔、若下利、若拘痛者。</p>
<p>附子湯。治身體攣痛、小便不利、心下痞鞕、若腹痛者。</p>
<p>天雄散。治小便不利、上逆、臍下有動、惡寒者。</p>
<p>梔子豉湯。治心中懊憹者。</p>
<p>梔子甘草豉湯。治本方證。而急迫者。</p>
<p>梔子生薑豉湯。治梔子豉湯證、而嘔者。</p>
<p>枳實梔子豉湯。治梔子豉湯證而胸滿者。</p>
<p>梔子大黃湯。治前方證、而閉者。</p>
<p>茵陳蒿湯。治一身發黃、大便難者。</p>
<p>梔子蘗皮湯。治身黃、發熱、心煩者。</p>
<p>梔子厚朴湯。治胸腹煩滿者。</p>
<p>梔子乾薑湯。治心中微煩者。</p>
<p>大陷胸湯。治結胸若從心下至少腹鞕滿者。</p>
<p>大陷胸丸。治結胸、若項背強者。</p>
<p>小陷胸湯。治小結胸者。</p>
<p>栝蔞薤白白酒湯。治胸背痛、喘息、咳唾者。</p>
<p>栝蔞薤。白半夏湯。治前方證、而嘔者。</p>
<p>瓜蒂散。治溫溫欲吐者。</p>
<p>文蛤散。治渴者。</p>
<p>大半夏湯。治嘔吐、而心下痞鞕者。</p>
<p>小半夏湯。治吐而不渴者。</p>
<p>生薑半夏湯。治似喘不喘、似嘔不嘔、似噦不噦、心中憒憒然無奈何者。</p>
<p>小半夏加茯苓湯。治小半夏湯證、而眩悸者。</p>
<p>半夏苦酒湯。治咽中生瘡、音啞者。</p>
<p>半夏厚朴湯。治咽中如有炙臠、或嘔、心下悸者。</p>
<p>半夏乾薑散。治乾嘔吐逆涎沫者。</p>
<p>乾薑人參半夏丸。治嘔吐不止、心下痞鞕者。</p>
<p>半夏瀉心湯。治心下痞鞕、腹中雷鳴者。</p>
<p>甘草瀉心湯。治前方證。而心煩、不得安者。</p>
<p>生薑瀉心湯。治半夏瀉心湯證、而嘔者。</p>
<p>吳茱萸湯。治胸滿、心下痞鞕、嘔者。</p>
<p>厚朴生薑半夏甘草人參湯。治胸腹滿而嘔者。</p>
<p>黃連湯。治心煩、心下痞、欲嘔吐、上衝者。</p>
<p>乾薑黃連黃芩人參湯。治心煩、心下痞鞕。吐下者。</p>
<p>六建中湯。治腹大痛、嘔不能食、腹皮起如有頭足者。</p>
<p>黃連阿膠湯。治心中悸、而煩不得眠者。</p>
<p>黃芩湯。治下利腹拘急者。</p>
<p>黃芩加半夏生薑湯。治本方證、而嘔逆者。</p>
<p>大物黃芩湯。治心下痞鞕、乾嘔、下利、上衝者。</p>
<p>三物黃芩湯。治心胸苦煩者。</p>
<p>白頭翁湯。治熱利、下重、而心悸者。</p>
<p>白頭翁加甘草阿膠湯。治前方證、而有血證急迫者。</p>
<p>木防己湯。治心下痞鞕、煩渴者。</p>
<p>木防己去石膏加茯苓芒硝湯。治心下痞堅、而悸者。</p>
<p>防己茯苓湯。治四肢聶聶動、水氣在皮膚、而上衝者。</p>
<p>防己黃蓍湯。治水病、身重、汗出、惡風、小便不利者。</p>
<p>枳實芍藥散。治腹滿拘攣、或痛者。</p>
<p>枳朮湯。治心下堅滿、小便不利者。</p>
<p>排膿散。治瘡家、胸腹拘滿、若吐黏痰、或便膿血者。</p>
<p>桂枝生薑枳實湯。治胸滿上逆、或嘔者。</p>
<p>枳實薤白桂枝湯。治胸中痹滿、痛者。</p>
<p>橘皮枳實生薑湯。治胸中痹滿、而嘔者。</p>
<p>茯苓飲。治心下痞鞕、而悸、小便不利、胸滿而自吐宿水者。</p>
<p>橘皮竹茹湯。治胸中痹吃逆者。</p>
<p>橘皮湯。治胸中痹、嘔噦者。</p>
<p>桂枝茯苓丸。治拘攣、上衝、心下悸、經水有變或胎動者。</p>
<p>芎歸膠艾湯。治漏下腹中痛者。</p>
<p>旋覆花代赭石湯。治心下痞鞕、噯氣不除者。</p>
<p>赤石脂禹餘糧糧湯。治毒在臍下、而利者。</p>
<p>桃花湯。治便膿血者。</p>
<p>蜜煎導。治肛中乾燥、大便澀者。</p>
<p>酸棗仁湯。治煩躁不得眠者。</p>
<p>葶藶大棗瀉肺湯。治浮腫、咳逆、喘鳴、迫塞、胸滿、強急者。</p>
<p>麻仁丸。治平日大便秘者。</p>
<p>己椒藶黃丸。治腹滿、口舌乾燥、二便澀滯者。</p>
<p>蜀漆散。治寒熱發作、有時臍下有動者。</p>
<p>十棗湯。治病在胸腹掣痛者。</p>
<p>桔梗白散。治毒在胸咽、或吐下如膿汁者。</p>
<p>走馬湯。洽胸腹有毒、若心痛、若腹痛者。</p>
<p>備急丸。治心腹卒痛者。</p>
<p>礬石湯。治腳氣、痿弱、不仁、及上入搶心者。</p>
<p>硝礬散。治一身悉黃、腹脹、如水狀、大便黑、時溏者。</p>
<p>礬石丸。治經水不利、下白物者。</p>
<p>蛇床子散。治下白物、陰中癢、或有小瘡者。</p>

<h1>方極後序</h1>
<p>夫醫之學也方而已。其義乃法仲景也。推功實也。仲景已沒也。王叔和之徒出焉。乃始拔功之實乃逐理之末。歧之又歧。以為百端也。噫。亦已甚矣。往者可往。其奈毒於千載之下。其奈夫後世喜方之徒。恢恑憰怪。猶以為不足。必斷略於憶。於是彼醫路之廢也。不可再興也。雖百世可知也。獨予家翁生於千載之下。憂彼醫路之廢也。不可再興也。以為己任也。乃謂予曰。夫醫之學也方而已。故功實所處。雖則今世之方。壹是皆取之。如其取之臆也。其斷去之。此之謂法仲景之古。既而集其所試之方。名之曰方極。蓋極也者。取洪範皇極之義也。建極於醫路。家翁又謂予曰。此書行之與不行。乃在命而已。世醫其罪我乎。吾豈畏世醫所不容乎。予終欲贊父之業。議之諸友。諸友曰。子志善矣。於是謹作之跋。</p>
<p><u>寶曆十二年冬十二月</u>　別猷之謹撰</p>

<h1>方極跋</h1>
<p>墨子悲絲。楊子泣歧。蓋為失其末也。絲之青黑。歧之東西。所以悲且泣者耶。叔和王氏撰次傷寒之論。其所以攙入也。雖云羽異於長沙。亦猶東西其道。而青黑之。嗚呼。叔和乎。欲傳長沙之道者。而或後之人。時乎命乎。將非其人乎。滔滔乎後之人也。我東洞先生崛起東方於數千載之下。跋涉之勤矣。始得取道於長沙。吾從而遊者久矣。乃語余曰。長沙之道也。莫大乎醫焉。三代而下。秦及漢。雖有聞人。斯道不可知矣。獨有長沙。其骨雖朽。其道存焉。雖道之則存。乃東西而青黑之。所使楊墨悲且泣也。不為不少矣。吾將擇其正路之與素絲。汝記之。余曰敬諾。於是數十旬而成也。名曰方極。取義於中極已。</p>
<p><u>寶曆五年乙亥冬十月</u>　長門品丘明謹撰</p>
