<header data-type="book">
<h1>幼科切要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王錫鑫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1847">公元1847年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫醫者意也，謂以己之意迎合伊之病也。故善醫者必待望聞問切而後詳理開方，此古今一定不易之理也。蓋幼稚小兒，天真渾噩，無識無知，肌肉瑩澈，脈絡分明。其病不過風寒暑濕燥火，飲食停聚而已，舉目可見。豈如壯者之人或因酒色過度，或由思慮受傷之紛紜雜沓，難為措手哉。故觀其面色，聞其啼聲，即可知其病之所從來，與夫藥之所宜用，而無毫釐或爽也。無如世之庸醫，不察夫體屬嬰孩，一染微疴，並不細心體貼，概以驚風險劑投之，往往有誤。不知實而誤補，不過增病，虛而誤攻，不可救藥，故全生者少而垂斃者多矣。王君亞拙，醫道高明，慈愛為懷，不殫勞瘁，合選古今方而斟之酌之，匯為一冊。適予過訪，蒙以見示。見其理精法密，指點親切，較諸幼科所傳方書，倍加詳明透徹，亟勸其付諸棗梨，以公諸世。將見此書一出，可以指庸醫之迷，延幼稚之命，其為益豈淺鮮哉，是為敘。</p>
<p><u>時道光二十七年歲次丁未桂月朔日江陰廩生杜價祿賓五氏拜序</u></p>

<h1>自序</h1>
<p>鑫曩者從事覺來先生有年，倏一日問於先生曰：醫書以幼科為啞科，謂其有疾，不能自言也，豈不難乎?先生曰：夫幼子者精神未受七情六慾之攻，臟腑未經八珍五味之漬，投之以藥，易為見功，猶膏粱之變難窮，而藜藿之腹易效也，有何難哉。但今之醫，見小兒燒熱，未審關紋浮沉，悉用表藥以汗之；睹稚子號啼，不按胸腹強弱，盡行消藥以攻之。不知胎嬰元氣微薄，用藥一誤，變證百出矣，可不慎乎?繼而訓曰：凡看小兒先觀元氣厚薄，手探口息寒熱，次察唇舌潤燥，再看關紋色氣，問其飲食二便，方才酌方調治，庶不有誤。余體先生之訓，不敢自私。至於暇日，將歷來幼科善本，摘其切實認證之法，選其當要歷驗之方，每證之下，專變陰陽諸方之中，悉論虛實，故顏之曰《幼科切要》。意欲公諸同人，使窮鄉僻壤得見是篇。見小兒有恙，輕者不必求醫，病重者不為醫誤。能讀而習之，終身知醫。奈歷年來蝟務鞅掌，有志未逮。迄丁未余客渝城，幸遘傅君怡如、艾君頊堂、邱君東山並坐談心，與言及此，遂毅然有倡助之意，實先得我心之所同，然者遂將諸科亦同付之剞劂。不數月書成，惟冀四方樂善君子，廣為印布，於保赤子之意，不無小補，庶不負覺來先生訓誨之心，而諸公公世之忱，亦不致湮沒矣，是為序。</p>
<p><u>時道光二十七年丁未歲桂月朔日魚泉王錫鑫亞拙氏謹識</u></p>

<h1>小兒要略論</h1>
<p>古人云，寧治十男子，莫治一婦人，寧治十婦人，莫治一小兒。此言小兒號曰啞科，治之甚難。景岳先生又謂其甚易，何以見之。蓋小兒之病無脈可診，血氣未充故也。病之痛癢又不能以言傳，惟有望聞切而已，難乎不言。而獨言其易者，抑亦以小兒之病不過外感風寒、內傷飲食、驚風吐瀉之類，並無七情六郁色欲憂思之患。故予治小兒，表病不過香蘇散、惺惺散之類；治小兒里病，不過平胃散、藿香散之類；治小兒虛痰諸症，不過二陳湯、六君子湯之類；治小兒實熱諸症，不過小兒牛黃丸、瀉青丸之類。凡此表裡虛實之病，解表攻裡，只宜輕劑，毋容大表大下以傷元氣。至於驚風吐瀉各種雜症，則分入門別例而治之矣。</p>

<h1>看小兒病狀歌</h1>
<p>（內附望聞問切）</p>
<p>小兒有病令人憐，全仗醫生仔細觀。令人抱出光明處，先將面部用心看。額屬心兮鼻屬脾，左肝右肺兩腮前。頦乃腎經為主宰，五經辨色要心虔。白有氣虛黃有積，赤者為熱青主寒。鼻塞聲重傷風重，眼下青色主飲痰。口唇赤白辨陰陽，赤者胃熱白者寒。蟲積唇內生白點，疳氣鼻燥體態干。有痛啼哭總不止，有積襁褓不耐煩。抱出探涼欲赴冷，此是內熱使之然。若是當風急畏縮，必是傷風與陰寒。鼻冷瘡疹耳冷熱，遍身發熱是風寒。手足心熱口發渴，紋沉食積是真詮。若是下午手心熱，陰虛盜汗夜生煩。倘若手指梢頭冷，便是驚風一例看。只有中間一指熱，小兒亦定是傷寒。中指微微獨自冷，定然麻痘恐相纏。復看指紋記歌訣，浮沉色氣審的端。要看指紋風氣命，三關內推細心研。三關部位寅卯辰，病之吉凶在此間。初起風關病無礙，氣關紋現恐纏綿。乍臨命位誠危急，射中通關命難全。指紋何故浮然樣，邪在皮膚病易蠲。腠理不通名表證，急行疏解汗之先。忽爾關紋沉沉狀，已知入里病盤旋。莫將風藥輕相試，須向陽明裡證宣。身安定見紅黃色，紅豔本來是傷寒。淡紅隱隱虛傷寒，定將深紅作熱看。關紋見紫熱之兆，青色為風是的端。傷食紫青痰氣送，三關青黑恐難安。指紋淡淡不必悅，氣質薄弱稟先天。脾胃本虛中氣微，切防攻伐損嬰元。關紋滯澀本因積，邪遏陰營衛氣連。食鬱中焦風熱熾，不行推蕩病何遷。腹痛紋入掌中里，彎內自然是風寒。紋向外彎痰食熱，水形脾胃兩傷焉。復診掌後關中脈，浮沉遲數審的端。七至八至為數熱，四至五至為遲寒。浮脈主表病在外，沉脈至里病內潛。數脈六至腑有熱，遲脈三至主臟寒。浮而有力風與熱，無力中虛宜培元。沉而有力痰積食，沉而無力氣滯間。遲而有力乃為痛，遲而無力是虛寒。數而有力本實熱，無力瘡瘍恐熬煎。此是切脈真口訣，靜心審的要心專。再看舌苔分表裡，紅黃有火清即安。白滑裡寒溫中急，白澀裡熱黃滑寒。若是舌黑辨陰陽，氣息冷熱用手探。口中氣熱小便赤，舌黑必燥下為先。氣微便清手足冷，參耆桂附妙如仙。小兒陰虧舌亦黑，滋陰潤燥無不痊。又看胸腹堅與軟，虛實此中可細參。望切之理諒如是，聞聲問證豈可偏。言厲聲粗知病實，氣衰體虛必微言，肝病怒聲心病笑，脾病發聲如歌然。肺病出聲有若哭，腎主呻吟恐共間。陽證身輕言響亮，陰證昏逆閉眼眠。陽症發狂喜飲水，陰證鄭聲話懶言。一問寒熱二問汗，三問頭身與胸前，四問飲食病新久，五問二便與渴煩，六問前服藥寒熱，七問痘麻與後先。用藥細心諒虛實，有積體虛兼培元。熱清溫濕風疏散，久瀉當澀固先天。如斯診治細斟酌，藥到病除福無邊。少者懷之遵聖意，惟願赤子壽百年。若問是編何人輯，亞拙山人在魚泉。</p>

<h1>虎口三關</h1>
<p>小兒三歲以下有病，須看男左女右手。虎口三關從第二指側向內推看，第一節名風關，第二節名氣關，第三節名命關。辨其紋色，紫者屬熱，紅者屬寒，青者驚風，白者疳病，黑者中惡，黃者脾之困也。若現於風關為輕，氣關為重，過於命關，則難治矣。</p>

<h1>古人辨色</h1>
<p>察見形色先分部位，左頰青龍屬肝，右頰白虎屬肺，天庭高而離陽心火，地角低而坎陰腎水。鼻在面中，脾應唇際。紅色見而熱痰壅盛，青色露而肝風怔忡。如煤之黑，為痛中惡逆傳；似橘之黃，食傷脾虛吐利。白乃疳癆，紫為熱熾。青遮日角難醫，黑掩太陽不治。年壽赤光，多生膿血。山根青黑，每多災異。朱雀貫於雙瞳，火入水鄉；青龍達於四白，肝乘肺位。瀉痢而戴陽須防，咳嗽而拖藍可忌。疼痛萬殷，面青而唇口嘬；肝風欲發，面赤而目直視。火光焰焰，外感風寒；金氣浮浮，中藏積滯。乍黃乍白，疳積連綿；又赤又青，風邪瘲瘛。氣之囟門成坑，血衰頭毛作穗。肝氣眼生眵淚，脾冷流涎滯頤。面目虛浮，定腹脹而上喘；眉毛頻蹙，必腹痛而多啼。左右兩頰似青黛，知為客忤；風氣二池如黃土，無乃傷脾。風門黑主疝，青為風；方廣光滑吉，昏暗危。手如數物兮，肝風將發；面若塗朱兮，心火燃眉。坐臥愛暖，風寒之入；伸縮就冷，煩躁何疑。肚大腳小，脾欲困而成疳；目瞪口張，勢似危而必斃。噫!五體以頭為尊，一面惟神可恃。況聲之輕重不同，啼之乾溼頓異。呵欠連綿，知病之欲作，忽然驚叫，識火之將煒。此察證之規繩，幸拳拳而不悖。</p>

<h1>看危症法</h1>
<p>小兒渾身熱似火，手足如冰真難過。黑掩太陰口角青，盧醫一見也須驚。黑色如針垂眼下，醫如扁鵲也須怕。黑色目中總不良，小兒十日必然亡。水腫之病準頭黑，此兒應知腎氣絕。咳嗽最忌白入眉，肺虛氣絕報君知。目暗無光不轉睛，三朝必定命難存。眼似開而又不開，能言也是死之媒。嘔吐不止止又吐，胃虛脾敗何須顧。搖頭咬齒欲齧入，看看定是鬼為鄰。囟門或腫或深沉，元氣虧而命難存。蛇蟲吐出腐而敗，脾絕小兒終是害。五心忽腫為何因，假火發外實驚人。四肢無事忽搖動，醫人到此無藥用。此是小兒危急症，說與醫人莫須情。</p>

<h1>小兒正面</h1>
<p>左腮屬肝經，其色青者為順，白者為逆。</p>
<p>右腮屬肺經，其色白者為順，赤者為逆。</p>
<p>額上屬心經，其色赤者為順，黑者為逆。</p>
<p>鼻準屬脾經，其色黃者為順，青者為逆。</p>
<p>頦下屬腎經，其色黑者為順，黃者為逆。</p>

<h1>初生門</h1>
<p>小兒初生下地，不宜久沐浴，恐冒風寒，必患臍風發熱等症。</p>
<p>小兒初生，勿先服乳，用黃連甘草煎湯，以軟棉包二指頭上蘸藥水拭口，去口中惡血穢氣；或以藥湯灌之，待惡沫吐盡，然後食乳。</p>
<p>一方陳茶京墨洗口，或服：</p>
<p><u>萬安湯</u>　治小兒下地，先服此藥，永無驚風，少生瘡疾。</p>
<p>連翹　西風　荊芥　蟬蛻　鉤藤（各一錢）　蘇荷　赤芍　甘草（各五分）　銀花（二錢）　燈芯（引）</p>
<p>或在腹中過夏者加熟軍一錢。</p>
<p>小兒洗三　生子過三日或九日，俟天氣溫和，冬日必在暖室中燒柴火，於室內用苦楝子一兩，煎水，小兒遍身洗擦，不生瘡癢。若能每月洗一二次，可免痘麻，縱出必稀。</p>
<p>一方蒼耳子煎湯洗之。</p>
<p>一方烏魚煎湯洗之。</p>

<h1>臍風門</h1>
<p>小兒臍風，腹脹四肢硬直，多啼不乳，唇青口撮，或吐白沫，肚生青筋，上行分岔，細心審詳，行至心者不治。看青筋盡頭處，用燈火散之。或以艾火灸臍，先用薑切片。或蒜切片，隔臍上加艾火灸之。或元宵燈火散之。或看小兒上齶，有白泡者用銀針輕輕挑破。若出血必愈。</p>
<p><u>小兒臍風馬牙奇方</u></p>
<p>枯礬（二錢）　硼砂（五分）　洋片　寸香（各五釐）　共為細末，凡小兒下地洗過，即用此末摻臍眼上，換尿布時仍然摻上，摻完一料，永無臍風等症。</p>
<p><u>元宵燈火</u>　治小兒臍風撮口風或面青黑角弓反張，兩目斜視。一切風閉火閉痰閉，乍然卒死者，急宜以此燈火散之。惟久病虛弱，形骸消瘦，自汗盜汗，吐瀉痘麻，失血之後，精神疲倦者，切忌此火攻。</p>
<p>元宵燈火歌：元宵燈火本十五，囟門眉心兩合骨，臍輪臍心共七焦，鞋帶四焦救兒苦。又驚風燈火仰向後者，燈火焠其囟門、兩眉心、臍之上下。眼翻不下者，焠其臍之上下。不省人事，焠其手足心，心之上下。手拳不開，口往上者，焠其頂心。兩手心撮，口出白沫者，焠其口上下，手足心。出驚風秘訣。</p>
<p>臍風服藥，看小兒口中氣熱，唇紅眼生眵結，關紋紫青，粗浮。速用：</p>
<p>鉤藤　蟬蛻　天麻　僵蟲　黃芩　西風　廣皮　連翹　甘草（各一錢）　膽星（三分）　車前草引，水煎服。</p>
<p>若是面青唇白，手足厥冷，口中氣冷，牙關緊急，眼上視，關紋青黑不浮而淡者，速用：</p>
<p>黨參　箭耆　天麻　懷山藥（各二錢）　雄片　乾薑　法夏　廣皮　茯苓　僵蟲　當歸（各一錢）　甘草（五分）　大棗（二枚，為引）</p>

<h1>驚風門</h1>
<p>急驚風之症，小兒氣體壯實，前數日發燒，令口鼻中氣熱，大便結，小便臊，驚風大作，喉中有熱痰者，速服：</p>
<p><u>怯風敗毒散　</u></p>
<p>羌活　防風　獨活　前胡　蟲蛻（去足）　天麻　蘇荷　荊芥　桔梗　黃芩（各一錢）　甘草　膽星　白芥（各三分）　燈芯（引）</p>
<p>大便不通加大黃，小便不通加木通，痰喘加蘇子、萊菔子。</p>
<p><u>抱龍丸</u>　治急驚發搐。</p>
<p>膽南（一兩）　竺黃（三錢）　辰砂（飛過，一錢五分）　雄黃（一錢五分）　麝香（二分）</p>
<p>甘草湯為丸，蘇荷湯下，服後吐痰即愈。</p>
<p><u>瀉青丸</u>　治急驚，木旺生風，口眼歪斜；並治小兒內熱，火瀉若醬色者，神效。</p>
<p>當歸　川芎　梔仁　熟軍　羌活　防風　膽草（各等分）</p>
<p>酒水為丸，茶清下，煎湯亦可。</p>
<p>慢驚之症，緣小兒吐瀉之後得之者多，或久病之後，或急驚用藥攻降太甚，皆原脾胃虛損。其症神昏氣喘，或大熱不退，或乍寒乍熱，或面色淡白，青黃，二便清白，甚至吐瀉，四肢厥冷，喉內痰鳴，角弓反張，手足抽掣等狀，速服：</p>
<p><u>逐寒蕩驚湯</u>　治小兒氣體本虛，或誤寒涼，泄瀉嘔吐，轉為慢驚。必致手冷、唇白，便清者，最宜並治發痧腹痛等症。</p>
<p>白胡椒　乾薑炒　肉桂（各一錢）　丁香（十粒）　上四味共為細末，以灶心土煎水澄清，煎藥大半茶杯，頻灌之，服後理中方，定獲奇效。</p>
<p>逐寒蕩驚湯最宜多配真為至寶靈丹丸。有危症，探小兒口中氣息冷熱，小便青黃。無論小兒口渴，舌燥，手探口中氣息微冷，便清者，速用如神，功難盡述。余手經驗，已治多人。惟火極似水者，必眼眵乾結，小便赤色，口渴氣壯，身輕目張者，切勿服此。</p>
<p><u>加味理中地黃湯</u>　此方助氣補血，卻病回陽。專治小兒精神已虧，血氣大壞，瘦弱至極，皆可挽回，真有參天回元之功。</p>
<p>熟地　當歸　枸杞　棗仁　箭耆炙　焦術　黨參（炙。各二錢）　棗皮　肉桂　故紙　乾薑（炒）　炙草（各一錢）　生薑（三片）　大棗（三枚）　胡桃（一個）　為引，外用灶心土二兩煮水煎藥，加雄片五分亦可。如咳嗽，加百合、金櫻子各一錢，大熱不退加白芍一錢，泄瀉不止，加丁香六分。</p>
<p><u>景岳胃關煎</u>　治慢驚脾虛泄瀉不止，及腹中時有微痛。</p>
<p>熟地（三錢）　山藥　扁豆炒　焦術（各二錢）　黑姜　吳萸　炙草（各六分）</p>
<p><u>景岳六味回陽飲</u>　治慢驚四肢厥冷。</p>
<p>黨參　附子　乾薑（各一錢）　熟地（四錢）　當歸（土炒，二錢）　汗多者加箭耆二錢，泄瀉者加焦術二錢。</p>

<h1>胎熱門</h1>
<p>小兒胎熱，身上濕爛者，用泥蜂土研細摻之。</p>
<p>一方江西碗泥研摻之。一方蕎米粉摻之。一方草房上青苔焙乾研細摻之。</p>
<p><u>五福化毒丹</u>　治胎熱胎毒口瘡等症。</p>
<p>玄參　桔梗（各一錢）　洋參　青黛（各三分）　赤芍　甘草（各四分）</p>
<p>以上俱為細末，再用馬牙硝二分，寸香三釐，另研和前藥用蜜為丸，薄荷煎湯下。</p>
<p>遊風丹毒。小兒初生後身上或起一片，或數片，或時紅腫，或時消散是也。急宜速治，遲則無救也。</p>
<p><u>消毒飲</u>　治小兒丹毒。</p>
<p>牛蒡子（炒）　荊芥　西風　黃芩（各一錢）　升麻　甘草（各五分）　伏龍肝為引。小便不利加車前、木通，大便結加熟軍。</p>
<p><u>敷毒丹　</u></p>
<p>伏龍肝　黃連　地榆　燕子泥（各五錢）　明雄（三錢）　共細末，調冷水敷之。</p>
<p><u>變蒸考</u>　凡小兒生後，必有變蒸之期，其發熱吐瀉與病無異。若誤認為疾，妄投藥餌，以致蒸長之氣全消，無疾而成有疾，誤事不小。自生之日起至三十二日一變蒸，三百六十零五日滿十變，骨節成矣。專此之時，宜保護之。若逢變蒸之期，必額多微汗，唇生泡，耳冷吐乳，真可信也。宜服：</p>
<p><u>惺惺散</u>　治小兒變蒸，發熱咳嗽，痰涎鼻塞，身重。</p>
<p>沙參　白朮　茯苓　甘草　白芍　花粉　桔梗（各一錢）　細辛　蘇荷（各三分）　水煎服。</p>

<h1>發熱門</h1>
<p>小兒發熱非一端，或因食積或因寒，有實有虛有積熱，說與醫人仔細看。</p>
<p>發熱面紅，氣粗口渴，啼哭煩躁，唇紅，小便赤色，解表即退。宜服：</p>
<p>黃芩　紫蘇　蘇荷　防風　柴胡　蟲蛻　連翹　木通　車前　荊芥（各五分）　燈芯為引。</p>
<p>發熱面白，眼青氣微，神倦，溫補即退。宜服：</p>
<p>洋參　白朮　茯苓　半夏　蟲蛻　骨地　廣皮　天麻（姜炒）　甘草（各五分）</p>
<p>發熱面赤，氣促，兩鼻扇動，汗多，此肺竅不通，肺火有餘。宜服：</p>
<p>牛蒡子（炒）　枳殼　蘇子　北芥　萊菔子　鉤藤　茯苓　蘇荷　桔梗　云皮　廣香　蒲黃（各一錢）　北辛　牙皂（各二分）</p>
<p>微熱面白，氣促，兩鼻扇動，體虛者。宜服：</p>
<p>黨參（二錢）　雲苓　陳皮　半夏（各一錢）　肉桂（五分）　炙草　黑姜（各六分）　當歸（一錢）　大紅棗（二枚為引）</p>
<p>虛熱日久，手足心熱，下午益甚，時熱時退，虛煩口渴，宜服：</p>
<p>生地　棗皮　懷山藥　茯苓　當歸　地骨皮　熟地　丹皮　澤瀉　麥冬（去心。各一錢）　北味（七粒）　烏梅　紅棗（各一枚）　為引。</p>
<p>疳積發熱，肌瘦，大便艱澀，汗下不能，積熱也。宜服：</p>
<p>鬱金　膽星　熟軍　使君（去殼）　紅曲（各二錢）　共為末，紅糖水調服。</p>
<p>發熱咳嗽，鼻塞聲重，宜服：</p>
<p>前胡　桑皮　蘇荷　桔梗　乾葛　紫蘇　知母（各一錢）　北辛（三分）　杏霜（去油，一錢）　水煎服。</p>
<p>久熱，面目浮腫，鼻流清涕，此體虛覆冒風寒，宜服：</p>
<p>黃耆　白朮　當歸　升麻　柴胡　陳皮　黨參　桂枝　防風（各一錢）　甘草（三分）　薑、棗為引。</p>
<p>發熱，鼻中出血，宜服：</p>
<p>桑皮　杏仁　丹皮　白芍　骨皮　側柏葉（炒）　甘草　荊芥（各一錢）　不用引，水煎服。</p>
<p>小兒夜啼　用燈花五朵研爛，塗娘乳上，令小兒食乳自安。一方青黛研水服之。一方五倍子研末水調，填臍上即安。</p>

<h1>感冒門</h1>
<p>傷寒感冒病尤輕，微微發熱自然平，一錢紫蘇姜二片，豆豉十粒自安寧。</p>
<p>天保采薇丹　勿論大人小兒，四時感冒，薑湯下，或身無汗，加蔥白，化服二三錢，小兒一二錢，或七八分。如未愈再服即效。惟小兒質嫩氣嬌，一受外邪，風驚癇瘧遂致痰火併泛，壅塞肺竅，手足抽掣，聲音難出，先以此方開提肺竅，表散外邪，利氣疏痰，安和脾胃，則病已去大半矣。</p>
<p>羌活　獨活　前胡　赤芍　升麻　葛根　半夏　廣皮　茯苓　紫樸　枳殼　霍香　甘草川芎　蒼朮　桔梗（各等分）</p>
<p>上為末，神麯糊丸。</p>

<h1>傷風門</h1>
<p>小兒傷風頓覺頭痛鼻塞，呵欠喘急，身熱脈浮者是也。蓋肺主皮毛，風入皮毛，多為咳嗽。其指紋紅紫而長，外感候也。又有傷風自利，腹脹而手足冷者，脾怯也，當與和脾而兼發散。又有潮熱多唾，氣粗嘔吐，乳食不消，大便黃白而嗽者，脾肺受寒，不能受納而吐也。若傷風多淚，脅痛目腫而咳者，兼肝症也。汗多而嗽者，心症也。面黃唇腫，少食噁心，兼脾症也。面白眼腫，上氣喘急，為肺虛也。嗽而腰痛兼腎症也。</p>
<p><u>人參敗毒散</u>　治小兒四時感冒，傷風咳嗽，凡咳嗽痰不應者，每二三服，不拘劑數，以痰豁為度。</p>
<p>沙參　桔梗　枳殼　川芎　甘草　茯苓　羌活　獨活　前胡　柴胡　防風　荊芥（各一錢）</p>
<p>生薑一片為引，水煎熱服，忌油。</p>
<p>脾怯者倍茯苓加懷山藥、扁豆、焦朮、藿香；兼肝症倍柴胡加白芍，微加青皮；兼心症，倍獨活，加連翹、木通；兼脾症加大麴、山楂、麥芽；兼肺症實者，倍加枳殼、白芥子；兼腎症，倍加獨活。</p>

<h1>傷寒門</h1>
<p>小兒傷寒有五法：</p>
<p>一曰發表：其症脈浮，發熱身痛，惡寒脊項強，氣喘咳嗽，頭痛，四肢拘急，口舌和，脈不沉，口不渴，二便如常。方用麻黃桂枝青龍之屬。</p>
<p>一曰解肌：脈尺寸俱長，目痛鼻乾，漱水不欲咽。方用葛根湯、升麻葛根之屬。</p>
<p>一曰和解：脈不浮不沉，往來寒熱，嘔吐脅痛，胸前脹滿，耳聾，頭汗盜汗，目眩口苦。方用大小柴胡之屬。</p>
<p>一曰攻裡：脈至沉而有力，潮熱惡熱，腹痛下利，手足心液有汗出，咽乾齒燥目不明，譫語發狂，小腹滿，下利清黃水，不得眠，小便多，自汗，外證頭痛發熱俱罷。方用白虎、小承氣、六一順氣之屬。</p>
<p>一曰救里：脈沉無力，下利清穀，小便清長，四肢厥冷，嘔吐清水涎沫，背惡寒，蜷臥多眠，囊縮，爪甲青，吐蛔，乾嘔，舌卷，手足拘急，身體痛如被杖。方用理中、四逆、真武、白通之屬。</p>
<p><u>麻黃湯</u>　治太陽經傷營，發熱無汗惡寒。</p>
<p>麻黃（體虛少用）　桂枝　杏仁　炙草（各等分）　水煎服，得汗而解。</p>
<p><u>桂枝湯</u>　治太陽經風傷衛，發熱自汗惡風。</p>
<p>桂枝（一錢五分）　白芍　生薑（各二錢）　紅棗（五枚）　甘草（一錢）　水煎溫服。</p>
<p><u>大青龍湯</u>　治太陽症見風脈。</p>
<p>麻黃（八分）　石膏（二錢）　桂枝（一錢）　杏仁（七粒）　炙草（五分）　水煎溫服。</p>
<p><u>小青龍湯</u>　治表不解，心下有水氣，乾嘔或咳或噎或喘。</p>
<p>麻黃　桂枝　白芍　半夏（各一錢）　甘草　乾薑　北辛（各五分）　五味（十二粒）　水煎涼服。</p>
<p><u>葛根湯</u>　治陽明胃經目痛鼻乾不眠。</p>
<p>粉葛（二錢）　赤芍　桂枝　麻黃　炙草（各五分）　蔥白（三莖）　生薑（三片）　紅棗（二枚）　為引，水煎服。</p>
<p>如惡寒倍加麻黃，惡風倍加桂枝。如陽明腑病，不惡寒，有汗而溫，當白虎湯。</p>
<p><u>升麻葛根湯</u>　治邪在陽明經　無汗惡寒發熱。</p>
<p>升麻　粉葛　赤芍　炙草（等分）　水煎服。</p>
<p><u>小柴胡湯　</u></p>
<p>柴胡（三錢）　沙參　黃芩　法夏　炙草（各一錢）　生薑（一片）　紅棗（三枚，為引）　水煎服。</p>
<p>按此經無出入路，不可汗下，止此方和解之。如兼陽明症，方加葛根、芍藥。如尚有惡寒等症，用大柴胡湯。</p>
<p>太陽經，表之表也，行身之背；陽明經，表之裡也，行身之前；少陽經，半表半裡也，行乎兩脅之傍。過此則少陰、太陰、厥陰，俱入臟而為里。</p>
<p><u>大柴胡湯</u>　治表症未除，里症又急，汗下兼行。</p>
<p>柴胡　黃芩　白芍（各一錢）　法夏（八分）　大黃（七分）　枳實（四分）　生薑（三片）　紅棗（三枚）　水煎服。</p>
<p><u>白虎湯</u>　治身熱大渴而有汗，脈洪大者服此，無渴者不宜。</p>
<p>熟石膏（二錢）　知母（二錢）　甘草（一錢）　粳米（一撮）　水煎服。</p>
<p><u>調胃承氣湯</u>　治太陽陽明不惡寒，反惡熱，大便秘結而嘔，日晡潮熱。</p>
<p>大黃（二錢）　芒硝　甘草（各一錢）　生薑（五片）　水煎熱服。</p>
<p><u>大承氣湯</u>　治陽明太陰譫語五六日，不大便，腹痛，煩渴，並少陰舌乾，口燥，日晡發熱，脈沉實者。</p>
<p>大黃（三錢）　紫樸　枳實　芒硝（各二錢）　生薑（五片）　水煎服。</p>
<p><u>小承氣湯</u>　治六七日不大便，腹脹滿悶，症在太陰，無表症，汗後不惡寒，潮熱狂言而喘者。</p>
<p>大黃（三錢）　紫樸　枳殼（各二錢）　水煎服。</p>
<p><u>桃仁承氣湯</u>　治外症已解，大便黑，小便利，為瘀血症。</p>
<p>大黃（二錢）　桃仁（七粒）　桂枝　芒硝　炙草（各一錢）　水煎服。</p>
<p>凡用三承氣湯，須以手按小兒自胸至腹，果有硬處，手不可近，又看其舌之燥滑如何，然後分別。當急下者，宜用大承氣渴；可少與者，宜小承氣湯；宜微和胃氣者，宜調胃承氣湯。</p>
<p><u>小建中湯</u>　治傷寒腹中急痛，陰陽相乘。</p>
<p>桂枝（一錢）　白芍（三錢）　炙草　飴糖（各一錢）　生薑（三片）　紅棗（三枚）　水煎服。</p>
<p>陰症腹痛，不大便，桂枝芍藥湯；腹痛甚，桂枝大黃湯；腹痛自利，小便清白，宜四逆湯、理中湯。</p>
<p><u>黃耆建中湯</u>　治傷寒汗後身痛脈遲弱者。</p>
<p>箭耆（蜜，三錢）　白芍（二錢）　安桂　炙草（各一錢）　生薑（三片）　紅棗（五枚）</p>
<p>水煎好，入飴糖二匙，再煎一沸，或瀉者飴糖不用。汗多耗損，陰氣不能榮養筋骨，故痛。陽虛故脈遲，汗後故脈弱。此乃建立中氣，使生長榮衛，通行津液，則表不虛而身痛自愈。</p>
<p><u>理中湯</u>　治太陰病自利不渴，寒多腹痛。</p>
<p>條參　焦術（各二錢）　乾薑　炙草（各一錢）　水煎溫涼服。</p>
<p><u>真武湯</u>　治汗發過多，心下驚悸，頭眩身瞤，振振欲擗地者。</p>
<p>熟附子（二錢）　白芍（一錢）　茯苓（二錢）　焦術（一錢五分）　生薑（一片）　水煎溫涼服。</p>
<p><u>白通湯</u>　治少陰下利無脈。</p>
<p>熟附子（三錢）　乾薑（一錢五分）　蔥白（三莖）　水濃煎冷服。</p>
<p><u>麻黃附子細辛湯</u>　治少陰病始得發熱脈沉。</p>
<p>麻黃　熟附子（各二錢）　細辛（一錢）　水濃煎溫服。</p>
<p><u>四逆散</u>　治陽元極，血脈不通，四肢厥冷，在臂脛之下。若陰症，則上過平肘，下過夫膝也。</p>
<p>柴胡　白芍　枳實　甘草（等分）　水濃煎熱服。</p>
<p><u>玄參升麻湯</u>　治發斑咽痛。</p>
<p>玄參（一錢五分）　升麻　甘草（各一錢）　水濃煎熱服。</p>
<p><u>陽毒升麻湯</u>　治赤癍狂言吐膿血。</p>
<p>升麻（一錢五分）　犀角　射干　黃芩（各一錢）　揀參（二錢）　甘草（八分）　水煎熱服。</p>
<p><u>桃仁湯</u>　治狐惑聲啞。</p>
<p>桃仁（十粒）　槐花子（二十粒）　艾葉（一錢）　紅棗（二枚）　水濃煎，空心熱服。</p>
<p><u>黃連犀角湯</u>　服桃仁湯後服。</p>
<p>犀角　川連（各二錢）　川烏（四個）　木香（三錢）　水煎服。</p>
<p><u>牛蒡湯</u>　治發熱不透，餘毒在心包絡，令瘥後昏煩，甚至手足搐搦或寒或熱。</p>
<p>牛蒡根　升麻　牛膝　南星（各六錢）</p>
<p>上為末，每服五分，酒調下，每日三次。</p>
<p><u>牡蠣澤瀉湯</u>　治前證腰以下浮者。</p>
<p>牡蠣（煅）　澤瀉　葶藶　花粉（等分）</p>
<p>上為末，每服一錢，米飲調下。</p>
<p><u>黃龍湯</u>　治發熱不退，或寒熱往來。</p>
<p>柴胡（三錢）　黃芩　赤芍　甘草（各二錢）　生薑（三片）　紅棗（二枚）　水煎熱服。</p>

<h1>傷暑門</h1>
<p>凡治傷暑證，最當辨其陰陽虛實。若外中熱邪、內亦煩躁而熱者。此表裡俱熱，方是陽症，治宜清熱解暑。</p>
<p>若脈虛無力，或為惡寒背寒，或為吐惡，或為腹痛泄瀉，或四肢鼻尖微冷，或不喜冷茶冷水，或息促氣短無力，皆陽中之陰也。凡見此類，但當專顧元氣，四君子為主治，或理中湯加白芍。若虛寒甚者，則合時令而從證，必用桂附參耆等藥，切不可因暑熱之名，而熱用寒涼解暑，則禍不可勝言矣。</p>
<p><u>五積散</u>　治陰暑受寒，頭痛無汗，惡寒身體拘急，四肢痠疼，以此溫之。</p>
<p>白芷　廣皮　紫樸　枳殼　桔梗　川芎　白芍　茯苓　蒼朮　當歸　法夏　桂枝　黑姜炙草（各五分）　生薑（三片）　棗（二枚）　水煎服。</p>
<p><u>清暑益氣湯</u>　治傷暑寒熱，自汗口渴，惡寒發熱。</p>
<p>條參　箭耆　焦術　建曲（各一錢）　澤瀉　黃柏　青皮　乾葛　五味　炙草（各五分）　姜（一片）　棗（二枚，為引）</p>
<p><u>人參白虎湯</u>　治中暑不惡寒而發熱。</p>
<p>沙參　石膏　知母（各一錢）　炙草（五分）</p>
<p>粳米一撮，水煎服。口渴加麥冬一錢，五味七粒。</p>
<p><u>調元生脈散</u>　平肝木，益脾土，瀉邪火，補元氣，小兒要藥。</p>
<p>黨參　箭耆　麥冬（各二錢）　五味（一分）　炙草（一錢）　姜（三片）　大紅棗（二枚，為引）</p>
<p><u>加味五苓散</u>　治暑症要藥。</p>
<p>焦術　茯苓（各二錢）　豬苓　澤瀉　安桂　藿香　木瓜　西砂（各一錢）　姜（三片）　紅棗（三枚）　燈芯為引。</p>
<p><u>四君子湯</u>　治脾胃虛弱，四肢無力，咳嗽傷暑等症。</p>
<p>條參　焦術　茯苓（各二錢）　炙草（一錢）　姜（二片）　棗（二枚）　水煎服。</p>
<p>吐加西砂一錢；水瀉加前仁一錢；食積加神麯、麥芽各一錢。</p>
<p><u>理中湯</u>　治陰暑嘔吐、瀉利腹痛。</p>
<p>條參　黑姜（各一錢）　炙草（七分）　焦術（三錢）　大棗（二枚）　水煎服，為丸亦可。</p>
<p><u>生脈散</u>　固中氣，清火熱，保肺金，並止口渴。</p>
<p>洋參（二錢）　麥冬（三錢）　五味子（五分）　水煎服。</p>
<p><u>香苓湯</u>　治陽暑脈虛兼吐瀉。</p>
<p>焦術　茯苓　扁豆（各二錢）　香薷　豬苓　澤瀉　安桂　紫樸　甘草（各一錢）　大棗（二枚）　生薑（三片）　燈芯（十莖，為引）　水煎服。</p>

<h1>傷食門</h1>
<p>凡小兒傷食，關紋沉滯，胸腹飽脹疼痛，手足心熱，或下午熱，口渴。兼風者，咳嗽燒熱，兼寒者吐瀉。凡傷食輕者，以神麯、麥芽、焦楂各二錢，水煎服。傷飯食者，加炒穀芽二錢，老米二錢；傷麵食者，加萊菔子一錢，小酒麴一個（燒）；傷肉食者，倍加焦楂或蕪荑各一錢；宿食者，加香附一錢；食重者，加枳殼、伏皮各二錢，或少加谷蟲數粒亦可；脾虛者，以四君子湯加枳殼、西砂各二錢；傷食咳嗽，服平胃、二陳湯；傷食吐瀉者，服洪氏寸金丹，再兼證各自加減。小兒稟賦甚薄，切勿妄用三稜莪朮，以傷元氣。</p>
<p><u>平胃二陳湯</u>　治傷食腹痛，停食咳嗽。</p>
<p>蒼朮　陳皮　甘草　紫樸　茯苓　半夏　山楂　神麯（各八分）　水煎服。</p>
<p><u>洪氏寸金丹</u>　治小兒食滯、感冒無不應驗，價廉而功大也。</p>
<p>藿香　蒼朮　紫樸　廣皮　神麯　紫蘇　白芍　赤苓　桔梗　法夏　白芷　砂仁　廣皮（各八分）　姜（三片）　水煎服。加分細末為丸亦可。</p>

<h1>咳嗽門</h1>
<p>小兒之咳，謂有聲無痰者，肺傷也。嗽則有痰無聲者，肺濕也。咳嗽則有虛實、風寒、濕食、停痰、陰虛等症。但因痰而嗽者，痰為重，主治在脾；因咳而動痰者，咳為重，主治在肺。以時而言之，清晨咳者屬痰火，午前嗽者屬胃火，午後嗽者屬陰虛，黃昏嗽者火浮於肺，二更嗽者食積滯於三焦。嗽而抱首面赤反食者，肺實也。氣逆虛鳴，面白餐食者，肺虛也。痰腥而稠，身熱喘滿，鼻乾面赤者，肺熱也。嗽多清痰，面白而喘，惡風多涕者，肺寒也。感冒風寒，發熱鼻塞，聲重者，服參蘇飲。因火痰熱，咳嗽面赤，心煩咽痛，鼻血者，服清熱導痰湯。傷食停痰，吐嘔腹痛者，服平胃二陳湯。久咳氣虛，四肢怯冷，氣血不足者，服補中益氣湯。</p>
<p>水泛為痰，五心發熱，食減神昏，痰如水泡者，服八仙長壽飲。日間咳少，夜間甚者，服金水六君湯。</p>
<p><u>參蘇飲</u>　治四時感冒，頭痛發熱，咳嗽痰盛。</p>
<p>茯苓（一錢）　揀參　枳殼　法夏　前胡　蘇葉　乾葛　廣皮　桔梗（各一錢）　炙草（五分）　生薑（三片）　蔥白（三寸）　水煎溫服。</p>
<p><u>人參敗毒散</u>　此方辛平升散，為咳嗽第一神方，舉世少有。知者凡有咳嗽，無論內傷外感風寒，夾濕夾毒，不拘男婦、大小，胸緊氣急咽痛口苦，痰不相應，即用此方升散之。或感冒重者，服此其咳愈甚，不知者以為藥不相符，棄而不服。不知正是升散之力佳兆也，再服之漸次輕減。不拘劑數，只以痰為度，聲響痰出，是其效也。枯燥之人，數劑之後，略加沙參、尾參、當歸、白芍、生地、麥冬之類，以滋其陰，無不愈者。再有叮嚀，凡咳嗽初起，切不可誤用寒涼及滋陰之藥，閉其肺竅，為害不小，但以辛散之藥為先著。俟痰應之後，漸加滋陰則得也。</p>
<p>揀參　川芎　枳殼　茯苓　前胡　柴胡　蘇荷　芥穗　西風　連翹（各一錢）　桔梗（一錢二分）　羌活（七分）　獨活　甘草（各五分）　生薑（一片）　水煎服。</p>
<p><u>清肺飲</u>　治氣逆而咳，面白有痰。</p>
<p>前胡　枳殼　知母　川貝　茯苓　桔梗　麥冬　井膠（各一錢）　柴胡　蘇荷（各七分）　桑皮（五分）　甘草（五分）　水煎服。忌油。</p>
<p><u>葶藶丸</u>　治乳食沖脾，傷風咳嗽，身熱痰多喘嗽。</p>
<p>葶藶（去土，隔紙略炒）　牽牛（炒）　杏仁（去皮尖，炒黃色另研）　防己（炒）</p>
<p>上藥等共為末，入杏仁泥和蒸，棗紅為丸，如綠豆大，每服六七丸，薑湯送下，量小兒大小加減。</p>
<p><u>清寧丸</u>　治心肺有熱而令咳嗽，宜從小便利出。</p>
<p>桑皮（炙）　葶藶（炒）　赤苓（酒炒）　前仁（炒。各等分）　甘草（減半）</p>
<p>上為末，每服五分，生薑大棗湯送下。</p>
<p><u>清熱導痰湯</u>　治火咳熱痰結胸。</p>
<p>白茯苓　陳皮　半夏　南星　枳實　桔梗　黃芩　栝蔞仁（捶去油）　甘草（各七分）　桑皮　川貝（各八分）　杏仁（七粒，去皮尖）</p>
<p><u>平胃二陳湯</u>　治傷食腹痛，停痰咳嗽。</p>
<p>蒼朮　陳皮　甘草　厚朴（薑汁炒。各一錢）　茯苓　半夏　楂肉　神麯（炒。各八分）</p>
<p><u>加減補中益氣湯</u>　治咳嗽氣虛，以此升之。</p>
<p>蜜耆　人參　當歸　白朮（土炒）　茯苓（各一錢）　廣皮　炙草　蜜升麻　蜜柴胡（各五分）</p>
<p>以上原方，虛咳者加酒芍、麥冬（各一錢），五味（七粒）。</p>
<p><u>八仙長壽飲</u>　治腎虛水泛為痰。</p>
<p>熟地　棗皮　懷山藥　茯苓（各一錢）　丹皮　澤瀉（各七分）　五味子（七粒）　麥冬（去心，一錢）</p>
<p><u>金水六君煎</u>　治夜咳不愈。</p>
<p>熟地　當歸（各四錢）　茯苓（三錢）　半夏　陳皮　甘草（各一錢）　核桃（二個）　煨姜　水煎服。</p>

<h1>喘急門</h1>
<p>凡小兒喘急，關紋浮大，手足溫，主外感；關紋淡白，唇白，主虛。外感之喘，發熱無汗，主表實也；有汗而喘者，主表虛也。</p>
<p><u>五虎湯</u>　治外感無汗而喘。</p>
<p>麻絨（一錢）　杏仁（七粒）　細茶（一撮）　有痰者加二陳湯，即茯苓（二錢）　法夏　廣皮（各一錢）　甘草（三分）　姜（一片）　棗（二枚）　水煎服。</p>
<p><u>三子湯</u>　治氣喘胸中緊滿作嗄聲。</p>
<p>蘇子　芥子　萊菔子（各一錢）　不用引，虛者禁用。</p>
<p><u>八味地黃湯</u>　治喘急久不愈，腎氣虛寒。</p>
<p>熟地（五錢）　棗皮　山藥　茯苓（各二錢）　粉丹　澤瀉（各一錢）　肉桂　附子（各七分）　生薑、大紅棗引，水煎服。</p>
<p><u>三承氣湯</u>　治喘而舌黃，大便堅實者，熱邪傳裡也。</p>
<p>大黃　芒硝　厚朴　枳實（各一錢）　甘草　檳榔　藿香（各七分）　水煎服。</p>

<h1>咳血門</h1>
<p>小兒感受風寒邪熱入肺，初起疏散，久則滋陰，務察關紋浮暗，神氣虛實而治之。</p>
<p><u>加減參蘇飲</u>　治小兒初起咳血，或咳血兼外感者。</p>
<p>紫蘇　廣皮　桔梗　前胡　廣香　當歸　茯苓（各一錢）　甘草（五分）　水煎服，吐血童便為引。</p>
<p><u>加減清肺湯　</u></p>
<p>茯苓　當歸　生地　白芍　紫菀　玉竹　百合　側柏葉（炒）　桑皮（各一錢）　甘草（五分）</p>
<p><u>六味地黃湯</u>　治陰虛久咳吐血者，並治小兒手足心熱，神氣虛損，日清夜煩等症。</p>
<p>熟地（三錢）　懷山藥　茯苓　棗皮（各二錢）　粉丹　澤瀉（各八分）　吐血者加牛膝一錢。</p>

<h1>嘔吐門</h1>
<p>凡小兒嘔吐，多傷於胃則嘔，或上有痰，宜服：</p>
<p><u>和胃二陳湯　</u></p>
<p>半夏　廣皮　藿香　神麯　麥芽（炒）　紫樸　蒼朮　茯苓（各一錢）　甘草（五分）　泡姜（引）　水煎服。</p>
<p>唇紅嘔吐，加竹茹、石膏、黃芩各一錢；小便短加木通、前仁各一錢；吐兼瀉而有寒熱者，加紫蘇、前胡、白芷、澤瀉；寒重吐不止者，服逐寒蕩驚湯，方見驚風門，照後加減，用生薑汁、蜂蜜為引，煎服。</p>

<h1>霍亂門</h1>
<p>小兒霍亂之病起於倉卒，其證揮霍擾亂，無有寧止。多因夾食傷寒，陰陽不合，上吐下瀉，而煩躁悶亂者是也。其邪在上焦則吐，邪在下焦則瀉，邪在中焦則上吐下瀉。又有上不能吐，下不能瀉者，為乾霍亂，又名絞腸痧。其病因脾胃之邪無從內出。若加喘滿作搐者，十不救一。凡上吐下瀉，當分寒熱而治之。凡初起勿飲米湯，以主胃邪者難治，宜服藿香正氣散。有先瀉後吐者，乃脾胃虛寒，故先瀉白水，而吐亦不多，口氣緩而神氣慢，額上有汗，六脈沉細，此為虛冷，宜溫之，六君子湯。不愈則理中湯加霍香、木瓜各一錢。</p>
<p>有先吐後瀉者，乃脾胃有熱，故喘促唇紅吐沫，面赤渴飲水漿，脈洪而數，此為熱也。和解之，五苓散加藿香。</p>
<p>其於霍亂，上不得吐，下不得瀉，最為危迫，速用鹽湯探吐之，必待其吐出宿食積痰，然後用藥，或以針刺十指甲邊，令血出，或刺膝彎名委中穴，出血即解，後用藿香正氣散。</p>
<p><u>藿香正氣散</u>　治風邪傷胃，陰陽不和，上吐下瀉。</p>
<p>紫蘇　腹皮　桔梗　茯苓　法夏　紫樸　白芷　廣皮　炙草（等分）　生薑（三片）　大棗（三枚）　水煎服。</p>
<p>六君子湯即四君子湯加陳皮、法夏，方見傷暑門。</p>
<p>理中湯見傷暑門，加藿香、木瓜各二錢。</p>
<p><u>加味五苓散</u>　治傷暑霍亂吐瀉。</p>
<p>焦術　茯苓（各二錢）　豬苓　澤瀉　安桂　藿香　木瓜　西砂（各一錢）　生薑（一片）　大棗（一枚）　燈芯（引）</p>
<p>鹽湯吐法　其法以溫水調食鹽略咸，一大碗，令小兒飲之，良久以指探其喉間則吐，一吐即安。</p>
<p>一方用綠豆、胡椒各二十粒，研細，水煎服。如渴甚，將二物研細，以新汲水調服即安。</p>
<p>一方六一散調薑汁水服。</p>

<h1>吐瀉門</h1>
<p><u>胃苓湯</u>　小兒吐瀉，寒食隔滯，腹痛脾虛必服。</p>
<p>蒼朮　陳皮　厚朴　豬苓　茯苓　焦術　澤瀉　甘草（等分）</p>
<p>腹痛加白芍、香附，羅必偉先生本方加肉蔻最效。</p>
<p><u>七味白朮散　</u></p>
<p>條參　白朮　茯苓（各二錢）　藿香　乾葛　白芍（各一錢）　甘草（六分）　車前子　炮姜為引。</p>
<p><u>神效丸</u>　治胃虛泄瀉嘔吐。</p>
<p>藿香　砂仁（炒）　赤苓（各一兩）　炙草　甘草（各五錢）　共為末，老米糊丸，每服一錢，研爛薑湯沖服。火嘔泄者，加竹茹、石膏煎湯引。</p>
<p><u>安胃醒脾湯</u>　脾虛則瀉，胃虛則吐，脾胃不合，陰陽不順，吐瀉兼作，宜服此方。</p>
<p>焦術　茯苓（各三錢）　滑石　西砂（各一錢）　木香（七分）　薑棗煎服。</p>
<p>傷食，加枳殼、山楂；夾驚，加膽星、天麻；傷風，加防風、乾薑；傷暑，加香薷、扁豆；虛加黨參、箭耆；內熱，加黃連；渴不止，加烏梅；吐不止，加藿香；瀉不止，加升麻。</p>

<h1>泄瀉門</h1>
<p>泄瀉一門，傷暑傷食，痰濕火鬱，脾虛腎虛肺虛，皆有瀉症，惟變其寒熱虛實。若水瀉則分之，食瀉則消之，熱瀉則清之，寒瀉則溫之，虛瀉則補之，久瀉則止之、澀之。今將諸方開列於下，用此察實的當，加減用之可也。</p>
<p>水瀉乃脾氣不溫，腹不痛者，濕也。宜服：</p>
<p><u>分水神丹　</u></p>
<p>焦術（七錢）　車前子（三錢）　水煎服。</p>
<p><u>白朮芍藥湯</u>　治脾經受濕，水泄注下，體重困倦，不欲飲食，水穀不化等症。</p>
<p>焦術　芍藥（各四錢）　甘草（一錢）　水煎服。</p>
<p>熱瀉乃過於燥熱而成，腹痛腸鳴，腹痛一陣，瀉一陣，糞如醬色者。宜服：</p>
<p><u>瀉青丸</u>　方在驚風門。</p>
<p><u>芍藥湯</u>　清熱行血調氣。經曰：溲而便膿血，知氣行則血行，行血則便自愈，調氣則後重除。</p>
<p>芍藥（八錢）　當歸　黃芩　黃連　大黃（各二錢）　檳榔（一錢）　肉桂　甘草　木香（各八分）　如便後臟毒，加黃柏二錢。</p>
<p>上為末，每服三錢，煎水去渣服。</p>
<p><u>痛瀉要方</u>　治痛不止。</p>
<p>白朮（二錢）　白芍　陳皮　防風（各一錢）　久瀉加升麻，水煎服。</p>
<p>痰瀉或瀉或不瀉，或多或少。宜服：</p>
<p><u>平胃散</u>　治脾有停濕，痰飲痞隔，宿食不消，滿悶嘔吐，乃山嵐瘴，不服水土。</p>
<p>蒼朮　紫樸　陳皮（各一錢）　甘草（六分）　薑棗煎服。傷食加神麯，濕勝加五苓，痰多加半夏，脾倦不思食加條參，痞滿加枳殼、木香，大便秘加大黃，小便赤澀加豬苓、澤瀉，傷寒頭痛加蔥白、豆豉，取微汗皆可。</p>
<p>食積瀉，腹痛，瀉後痛。宜服：</p>
<p>神麯　麥芽　焦楂（各二錢）　水煎服。</p>
<p><u>保和丸</u>　治食積飲停，腹痛，泄瀉，痞滿吐酸積滯，惡食，食瘧下利。</p>
<p>山楂　神麯　茯苓（各一錢）　半夏　陳皮　萊菔子　連翹　麥芽（各一錢）　水煎服。</p>
<p>脾虛作瀉，完穀不化。宜服：</p>
<p><u>四柱散</u>　治元陽不足，臟氣虛，真陽耗散，腹痛冷痛。</p>
<p>茯苓　附子　黨參（各二錢）　木香（一錢）　姜（三片）　水煎服。滑泄不止，加豆蔻（去油）、訶子（各一錢），名曰六柱散。《活人書》有焦術無訶子。</p>
<p><u>參苓白朮散</u>　治脾胃虛弱，飲食減少，神氣不足，或久病陽虛作瀉，及老幼體弱，均可服之。</p>
<p>條參　白朮　茯苓　廣皮　山藥　炙草　扁豆　蓮肉（各二錢）　砂仁　桔梗　苡仁（各一錢）</p>
<p>上為細末，棗湯米汁調下。</p>
<p>久瀉不止，脾虛者。宜服：</p>
<p><u>加味六君子湯</u>　治一切脾胃虛弱，泄瀉之證，及傷寒病米穀不化，腸中虛滑；發瀉微痛，久不瘥者，乃小兒脾疳，泄瀉久痢。</p>
<p>條參　焦術　茯苓　箭耆　山藥　甘草（各二錢）　砂仁　紫樸　肉蔻（麵裹煨另研。各一錢）棗（二枚）　水煎服。如為丸，每服二錢，米湯下。</p>
<p><u>加味地黃丸</u>　治小兒泄瀉、日少夜多。</p>
<p>熟地　棗皮　茯苓　懷山藥（各二錢）　澤瀉　丹皮　故紙　吳萸（各五分）　肉蔻（去油，六分）</p>
<p>四肢冷，加附子、肉桂各五分，薑棗為引。</p>
<p><u>真人養臟湯</u>　治瀉痢日久，赤白已盡，虛寒脫肛，亦治下痢赤白，臍腹疼痛，日久無度。</p>
<p>粟殼　訶子（曲裹煨）　肉蔻（曲裹煨）　木香　蒙桂（各八分）　條參　焦術　當歸（土炒，各二錢）　白芍（一錢）　甘草（五分）　如寒甚，加附子去當歸，紅棗為引，水煎服。</p>

<h1>痢疾門</h1>
<p>小兒痢疾，由暑濕兼夾食滯，大約宜清消者多，溫補者少。切忌大汗大分大下，致成變症。但有紅白裡急之別，紅者血熱，白者寒積。紅白者用槐花、乾薑各二錢，水煎服。盡紅者用百草霜半茶杯、熟老米一杯，同研末，加紅糖二兩，水合成粑，分二三次食完。單白者，用普茶水、糖、枳殼各二錢，水煎服。大便結者，服獨黃丸。重者服：</p>
<p><u>石室神丹</u>　治血痢並紅白積滯。</p>
<p>當歸　黃連（各一錢）　枳殼　白芍（各二錢）　萊菔子（一錢）　木香　甘草（各五分）　水煎服。</p>
<p>一方苦參二兩、木香五錢，每服二錢。</p>
<p>一方冬至日多收蘿蔔菜，鋪草房上，日曬夜露，計一月，莫多一日，收回用篾簍貯好。遇有痢疾，水煎服之。並治疫熱咽喉腫痛。凡小兒大人皆可服。</p>
<p>一方紅糖、白糖各四兩，砂仁二兩，荸薺三斤，桑子不拘多少，用罐子貯定，火酒三斤泡好。遇有痢疾，令病人面東，小兒食荸薺一個，大人三個自愈。</p>

<h1>腹痛門</h1>
<p>小兒腹痛，皆有飲食失節，中氣受傷，寒邪乘虛而入。陽虛亦有腹痛，或蟲積等症。務察部位，手按虛實，預觀氣色。關紋浮青風寒，沉青陰寒，淡紅虛寒，沉澀食積。口唇內有白坑點者寒蟲，宜溫；若紅子粒者熱蟲，宜殺蟲兼清。</p>
<p>中脘腹痛屬太陰，服：</p>
<p><u>理中湯</u>　方見傷寒門。</p>
<p>臍腹痛屬少陰，服：</p>
<p><u>真武湯　</u></p>
<p>白朮　附子　茯苓　白芍（各二錢）　甘草（八分）　薑、棗引。</p>
<p>小腹痛屬厥陰，服：</p>
<p>當歸四逆湯加吳萸　見傷寒門。</p>
<p>寒入陰分小腹痛，急用：</p>
<p><u>小建中湯</u>　方見傷寒門。</p>
<p>外感兼宿食而腹痛者，服：</p>
<p><u>藿香正氣散</u>　方見霍亂門。</p>
<p>腹中綿綿而痛無增減，欲得熱手按，及喜熱飲者，服：</p>
<p>理中湯加肉桂、砂仁，方見前。</p>
<p>腹中時痛時止，熱手按而不減，唇熱口乾者熱，也用：</p>
<p><u>二陳湯　</u></p>
<p>法夏　廣皮　茯苓　甘草（各一錢）　紫樸　枳實　黃連　黃芩　梔子（各八分）　不用引，水煎服。</p>
<p>飲食過傷腹痛飽脹，服：</p>
<p><u>木香檳榔丸　</u></p>
<p>木香　檳榔　陳皮　香附　熟軍　黃柏（各一錢）　燈芯引。成人加莪朮、牽牛，熱重加黃連一錢。</p>
<p>蟲痛或痛或止，口吐清水，服：</p>
<p><u>理中湯</u>　方見前，加榧子、雷丸。</p>
<p><u>椒梅丸</u>　治腹痛口渴，飲水吐酸。</p>
<p>花椒（一錢）　烏梅（三枚）　蔥腦（三個）　檳榔（一錢）</p>
<p>上為細末，米糊為丸，開水服。</p>
<p><u>固土丸</u>　治小兒腹虛腹痛，時常吐瀉蟲出。</p>
<p>條參　焦術　榧子　茯苓　檳榔　使君子　鶴蝨　蕪荑　雷丸（各一錢）　甘草（五分）　水煎服。</p>
<p><u>打蟲方　</u></p>
<p>使君子（三錢，去殼）　檳榔　牽牛　大黃（各二錢）　水煎服。體虛者不宜。</p>
<p>一方，雷丸三錢，蒼朮一錢　共為細末，分為三次，每次用雞蛋一個，調藥煎黃，與小兒食之神效。</p>

<h1>瘧疾門</h1>
<p>凡小兒觸冒風寒暑濕，客於皮膚，積於臟腑，邪正相攻，陰陽偏勝，發則寒熱往來，陽不足則先寒後熱，陰不足則先熱後寒。寒多熱少者，陰勝陽也；熱多寒少者，陽勝陰也。陰陽互攻，則寒熱相半。其初也，必內有痰食，致臟氣不流，故發而為瘧。</p>
<p>風瘧因風得之，惡風自汗煩渴，頭痛不安，風瘧也，故先熱後寒，初服桂枝湯，不退，再服柴胡湯加常山、檳榔、烏梅截之。久不退者，補中益氣湯多服自愈。</p>
<p>寒瘧因感寒得之，無汗惡寒，攣急面青，陰也。故先寒後熱，宜發散寒邪，養胃湯加桂心，不退，再服平胃散加檳榔、草果截之。久不退，六君子湯加乾薑、肉桂，服之自愈。</p>
<p>暑瘧因傷暑之陰氣，發則熱而不寒，煩渴少睡，嘔惡。宜解暑毒，用柴胡白虎湯。不止，去石膏，加貝母、常山、檳榔截之。久不退，補中益氣湯服之自愈。</p>
<p>濕瘧因冒雨濕，汗出或久坐濕地得之，身體肢節乏力，嘔逆脹滿。初服胃苓不止，再服平胃散加茯苓、檳榔、常山截之。久不止者，參苓白朮散服之自愈。</p>
<p>食瘧由飲食不節，飢飽有傷然也。凡食生冷魚肉油膩之物，以致中脘停痰，皆為食瘧。其狀飢不欲食，中滿嘔逆，腹痛，宜去食。初服四獸飲，不止，再服二陳湯加枳殼、胡椒、白芷截之。久不愈，六君子湯，諒食積氣體虛實加減，服之自愈。</p>
<p><u>桂枝白朮湯</u>　治感冒而發熱瘧。</p>
<p>桂枝　青皮　廣皮　茯苓　法夏　焦術（各一錢）　川芎　白芷　蘇子　桔梗　檳榔（各七分）生薑（三片）　大棗（三枚）</p>
<p>水煎服，於未發前二時服之。</p>
<p>小柴胡湯，方見傷寒門。</p>
<p><u>補中益氣湯</u>　方見咳嗽門。</p>
<p><u>養胃湯</u>　治感寒發瘧。</p>
<p>草果　藿香葉　廣皮　桂心（各一錢）　炙草（五分）　生薑（三片）　烏梅（一粒）　水煎服。</p>
<p><u>平胃散</u>　治寒瘧不止，以此治之。</p>
<p>蒼朮　紫樸　廣皮　檳榔（各一錢）　草果仁（薑汁炒）　炙草（七分）　生薑（三片）　紅棗（三枚）　水煎早服。</p>
<p><u>六君子湯</u>　方見霍亂門。</p>
<p><u>柴胡白虎湯</u>　治傷暑發瘧，但熱不寒。</p>
<p>洋參　柴胡　黃芩　法夏　石膏　知母（各一錢）　甘草（六分）　粳米（一錢）　生薑（三片）　大棗（三枚）　水煎未發時早服。</p>
<p><u>參苓白朮散</u>　見泄瀉門。</p>
<p><u>四獸飲</u>　治食瘧，和胃消痰。</p>
<p>沙參　法夏　茯苓　廣皮　枳殼　焦術（各一錢）　炙草（八分）　生薑（三片）　大棗（三枚）　烏梅（一個）　水煎服。</p>
<p><u>二陳湯</u>　見腹痛門。</p>
<p><u>胃苓湯</u>　見吐瀉門。</p>

<h1>疳積門</h1>
<p>疳積一證，因小兒脾胃虛弱，凡食生冷油膩，停滯不化，初起為積，積久成疳，遂致五臟受病，形狀難看。初起體實，以集聖五疳丸為主，覆載五臟病狀，察其虛實陰陽，各自加減。體虛者總以參苓白朮散，或肥兒丸調之，以補為消可也。</p>
<p>小兒咬牙，舌紅舌上生瘡，愛飲涼水，唇紅面白，喜伏於地，此心疳也。</p>
<p><u>集聖寧心丸　</u></p>
<p>蘆薈　靈脂　夜明砂　使君子（各二錢）　當歸　洋參（各四錢）　黃連　乾蟾蜍（各一錢）　生地茯苓（各二錢）　膽星　硃砂　甘草（各七分）</p>
<p>共為末，煉蜜為丸，如龍眼大，每服二丸，開水化服。末藥沖服亦可。</p>
<p>小兒面青目生白膜，泄瀉青糞，此肝疳也。</p>
<p><u>集聖平肝丸　</u></p>
<p>蘆薈　靈脂　夜明砂　使君子（各二錢）　當歸　川芎　黨參（各四錢）　黃連　蟾蜍　膽草　梔子　防風　天麻　蟬蛻去頭足　青黛（各一錢）　和丸如前。</p>
<p>小兒鼻下赤爛，手足枯細，口中腥臭，或作喘嗽，此肺疳也。</p>
<p><u>集聖清肺丸　</u></p>
<p>蘆薈　靈砂　夜明砂　廣皮　使君子（各二錢）　當歸　沙參（各四錢）　黃連　蟾蜍　桑皮　桔梗　蘇葉　阿膠（各二錢）　炙草（一錢）　和丸如前。</p>
<p>鼻爛用澤蘭、掃粉、銅綠等分，細末調豬油擦之。</p>
<p>小兒耳內生瘡，腳如鶴膝，或齒縫臭爛，變成走馬疳者，服：</p>
<p><u>集聖補腎丸　</u></p>
<p>蘆薈　夜明砂　使君子　當歸　條參（各四錢）　黃連　蟾蜍（各一錢）　熟地（五錢）　茯苓　棗仁（各二錢）　粉丹　澤瀉（各一錢）　和丸如前。</p>
<p>小兒愛食泥土冷物，飲食無度，身面俱黃，頭大項小，腹脹腳弱，間或泄瀉，晝涼夜熱，不思乳食，此脾疳也。服：</p>
<p><u>集聖醒脾丸　</u></p>
<p>蘆薈（酒蒸）　靈脂（炒）　夜明砂（炒）　廣皮（各二錢）　青皮　莪朮（各一錢）　使君肉（二錢）　木香（八分）　當歸　川芎　條參（各四錢）　黃連　西砂（各一錢）</p>
<p>上為細末，用公豬膽一個，取汁將藥和勻，粟米糊丸如龍眼大，每服二丸，米飲調服。以下之證以為為主。</p>
<p>食積久而成疳，其症形瘦腹緊，時發潮熱，羞見生人則哭。本方去蘆薈、靈脂，加黨參、黃耆、焦朮、茯苓、法夏、枳實、紫樸、炙草、神麯、麥芽、鱉甲、三稜各二錢。</p>
<p>久瀉不止，胃虛成疳，此疳瀉也。本方去蘆薈、莪朮、靈脂，加白朮、茯苓、肉蔻（去油）、訶子、條參各二錢。</p>
<p>久痢不止，胃虛成疳，此疳痢也。本方去蘆薈、莪朮、青皮、靈脂、加訶子、肉蔻、建蓮肉各三錢，合為丸。</p>
<p>瘧久不止，胃虛成疳，此必有癖，謂之疳瘧。本方去蘆薈、靈脂，加箭耆、炙鱉甲、柴胡、半夏、神麯、三稜各一錢，黨參五錢，和為丸。</p>
<p>余則腦疳、脊疳、蛔疳、下奚疳、無辜疳，無外照經，虛實寒熱，用藥加減，諒其小兒元氣厚薄用之可也。此證悉載《幼幼集成》。</p>
<p><u>參苓白朮散</u>　見泄瀉門。</p>
<p><u>肥兒丸</u>　治一切久病成疳，總歸虛處，不可以前法治之，只宜以此久服，以補為消，無不愈者。</p>
<p>條參　箭耆　焦術　茯苓　廣皮　當歸（各一兩）　青皮　炙鱉甲　川連　木香　使君肉　蟾蜍　炙草（各五分）</p>
<p>上為細末，以山藥四兩，打糊為丸，量小兒大小，加減日日服之，米飲送下，病愈藥止。</p>
<p>一方小兒疳積，面黃飲水，久而不愈。可用雞內金二張，蝸牛五個，焙乾細末，以豬臁貼破開，將末藥侻上菜葉，包好火煨熟，與爾子食之自愈。依法制食，真有神效。</p>

<h1>癇症門</h1>
<p>小兒癇症，多火痰，如脈滑沫出痰也。脈散腮紅，火熱肝經，其症之發不一，或眼目直斜，口噤流涎，或手足抽掣，腰曲脊強，或形如死狀，或一二時方醒，宜服：</p>
<p><u>導痰湯</u>　此方治五癇初起，輕者服之即安。</p>
<p>雄黃　貝母　廣皮　茯苓　桔梗　北細辛　菖蒲　栝樓　薄荷　蟲蛻（去足）　天麻　鬱金甘草（各三分）　竹瀝、薑汁為引。</p>
<p>小兒忽然昏迷抽掣，有力為實邪，肝癇是也。宜服：</p>
<p><u>柴胡清肝散　</u></p>
<p>柴胡　黃芩　梔仁　白芍　川芎　連翹　桔梗（各六分）　大便不通加熟軍、膽草各五分，水煎服。</p>
<p>小兒忽然昏迷，目赤，吐舌，飲水，為心癇是也。宜服：</p>
<p><u>硃砂安神丸　</u></p>
<p>黃連（三分）　當歸　生地　甘草（各一錢）　硃砂（三分）　共為末，米糊丸硃砂為衣。</p>
<p>小兒昏迷，目直髮熱，面色光潤，脾癇是也。宜服：</p>
<p><u>導痰湯</u>　方見本門前。加紫蘇、香附、蒼朮。</p>
<p>小兒忽然昏迷，面白色，手足微動，肺癇是也。宜服：</p>
<p><u>五味異功散　</u></p>
<p>人參　焦術　茯苓　甘草（等分）　水煎服。</p>
<p>一小兒忽然昏迷，肢體如屍，口吐白沫，腎癇是也。宜用：</p>
<p><u>六味地黃湯</u>　見咳血門。</p>
<p>小兒忽然卒死，多屬痰迷，以白礬、百草霜等分，開水沖合，灌之必蘇。</p>
<p>五癇外治法　耳後高骨間有紫青筋，用針挑破即醒。</p>
<p>一方用竹瀝、薑汁灌之。</p>
<p>一方細辛、牙皂、巴豆為末，少許微吹鼻中即醒。</p>
<p>一方用蒜搗汁，以茶匙挑入鼻中，三次即效。</p>

<h1>煩渴門</h1>
<p>小兒煩渴，有虛有實，逐一審視，看的方可用藥。</p>
<p>唇舌乾燥，用生地、木通、竹葉、知母各八分，水煎服。</p>
<p>唇舌黑色，用熟石膏、淡竹葉、麥冬、連翹各八分，灶心土引。</p>
<p>口渴、小便閉澀，用豬苓、赤苓、澤瀉、乾葛、花粉各八分，水煎服。</p>
<p>夜間渴甚，小便不已，用生地、澤瀉、茯苓、山藥、棗皮、麥冬各八分，五味子二分，水煎服。</p>
<p>服清火藥煩渴仍不止，當用乾薑一錢、白芍一錢、黨參二錢、甘草五分、附子一錢、烏梅二枚，水煎服。</p>
<p>小兒體虛口渴，諸藥不效，余用洋參二錢、麥冬三錢（去心）、五味三粒，水煎服。</p>
<p>傷風發熱、口渴，用炒梔、淡豆豉各一錢，水煎服。</p>
<p>余治一小兒夏月泄瀉後煩渴飲茶，小便不已，用熟地、棗皮、山藥、茯苓、陳皮、半夏、甘草、花粉、麥冬、五味，水煎服，四劑而愈。</p>
<p>治小兒夏月泄瀉煩渴，用黃連煎湯，調六一散服之即安。</p>
<p>余治一小兒泄瀉，神倦口渴，用白朮、雲苓、沙參、麥冬、甘草，水煎服。</p>
<p>余治小兒泄後渴甚吐蛔，用花椒、附子、條參、白朮、烏梅，水煎服之即止。</p>
<p>小兒盜汗為陰虛，每於睡後滿身有汗，宜用四物湯加龍骨、牡蠣、浮小麥、五味之屬，以養其陰。余之意，善補陰者，於陽中求陰，加箭耆、棗仁、桑葉為妙。</p>
<p>小兒無端自汗為陽虛，宜用：四君子湯加五味、牡蠣，以養其陰。或用玉屏風散：</p>
<p>生箭耆（二錢）　防風（八分）</p>
<p>一方五倍子一錢、枯礬五分，為末，摻小兒肚臍上，以能收汗。</p>
<p>一方生地、浮麥各二錢，水煎服。</p>

<h1>腹脹門</h1>
<p>凡氣脹水脹，用公雞屎幹一升，炒焦黃色，退去火毒，為末，以水三升，煎沸，用布濾過，每服一杯，調木香、檳榔細末五分。此治中滿蠱毒，真奇方也。</p>
<p>治食脹氣脹，用萊菔子一兩，細末，開水調濾汁，將汁水浸砂仁一兩，浸一宿，將砂仁炒乾，又浸，共浸七次，將砂仁為末，每服一錢，米湯調下。</p>

<h1>脾虛門</h1>
<p>凡小兒脾虛，飲食減少，面黃肌瘦，易致傷食、腹脹、泄瀉等症。</p>
<p><u>枳朮丸</u>　治小兒並無外感風熱，脾虛能補，有積能消。久服飲食自健，外患不生，百病皆除。</p>
<p>焦術（四兩）　枳殼（一兩）　蜂蜜（五兩）</p>
<p>上為細末，煉蜂蜜搗和為丸，如梧子大，每日米飲化開服之。</p>
<p>凡小兒脾胃不強，飲食減少，中氣虛弱，面黃肌瘦，有白蟲者，或易傷食，並無外症，余常用八仙糕治之：</p>
<p>條參　茯苓　建蓮（去心）　芡實　苡仁　扁豆（炒）　榧子（去殼）　穀芽（各一兩）</p>
<p>同炒黃，共為末，加白糖半斤，每服開水調下二錢。</p>
<p>一方參苓白朮散　見泄瀉門。有蟲積者，加使君肉、鶴蝨，蟲重者加蕪荑、雷丸；食積者，加焦楂炒黃、雞內金，重者加谷蟲、枳殼，諒小兒氣體虛實加之；血虛加熟地黃、當歸，此加入八仙糕亦可。</p>
<p><u>千金肥兒餅　</u></p>
<p>嬰兒常缺乳，飲食不消停。脾胃一傷損，吐瀉兩相併。痰嗽加吭喘，熱積致疳驚。面黃肌瘦削，腹脹肚青筋。赤子焦啼哭，慈母苦傷情。吾心懷幼切，家蓮子茯苓，芡實懷山藥，扁豆薏苡仁，以上各四兩。神麯麥芽陳，條參使君子，山楂炙草存，六味各二兩，古糯米二升。藥米均為末，布裹甑內蒸。白糖一斤半，調和餅即成。每食二三餅，諸病即安寧。肥兒王道藥，價可擬千金。</p>

<h1>幼科預宜修制應用諸方</h1>
<p><u>消風丸</u>　凡疏通腠理，清解表邪，啟發皮毛，流利經絡，病之初起用之。</p>
<p>蘇荷　羌活　獨活　防風　天麻　荊芥　川芎　南星　細辛（各等分）</p>
<p>上為細末，煉蜜為丸，重一錢一顆，每服一丸，薄荷湯化開服，熱重竹葉湯化服，水疊成丸尤良。</p>
<p><u>金粟丹</u>　凡開關通竅，下氣利痰，醒昏定痙，一切危急者用之。</p>
<p>九制膽南星（二兩）　天麻（一兩）　白附（一兩）　全蠍（一兩，去頭足，酒炙曬乾）　乳香（一兩）　赭石（一兩，火煅、醋淬七次）　僵蟲（一兩）　赤金箔（五十張）　麝香（二分）　桃花片（三分）</p>
<p>上為末，煉蜜為丸，如皂子大，金箔為衣，每服一丸，薑湯化開服之。此方比抱龍、金液、保命、至寶、定命等方功強十倍。惟有虛寒之痰，無根之氣，絕脫之症，切不可用。</p>
<p><u>沆瀣丹</u>　治小兒一切胎熱胎黃、面赤目閉、鵝口瘡、重舌、喉閉、乳蛾、渾身壯熱、小便赤、大便閉結、麻疹、癍瘰、遊風、癬疥、流丹、癮疹、痰食、風熱、痄腮、面腫、十種火丹、諸般風搐、及大人頭面三焦風熱等症。</p>
<p>川芎（酒炒）　黃柏（酒炒）　黃芩（酒炒）　大黃（酒炒，各九錢）　牽牛　蘇荷　滑石　連翹　檳榔荊芥　赤芍　枳殼（各六錢）</p>
<p>上為末，煉蜜為丸，如芡實大小，兒服一二丸，茶湯送下，乳母忌膩煎炒熱物，大人一切風熱，可服三五十丸，惟有虛寒面赤唇白水瀉，陰症畏寒，喜熱物者，切勿服此。</p>
<p><u>三仙丹</u>　治小兒縱口，食物過多，有形之物，填塞腸胃；不能轉運傳達，脾氣抑鬱，所以發熱不退，眼閉難開，人事昏沉，四肢癱軟，儼若虛極之象。古人謂大實如羸狀，即此是也。昧者以為虛證而峻補之，或疑為驚風而鎮墜之，百無一救。速以此丸同沆瀣丹同服，待其下後人事即清。余救治既多，剖心以苦，如痢疾誤用澀藥，閉其濕熱，比食物有形之塞，始有甚焉。速宜下之，不下必死。</p>
<p>五靈脂（二兩）　廣木香（五錢）　巴豆仁（四十粒）　將嫩皮紙包巴豆仁，水濕入慢火中煨熟，取另以綿紙包之，緩緩捶之去油，其紙濕，另換，以成白霜為度。一法：研細，置新瓦曬之，換瓦三次，其油亦淨。將前藥同研細末，醋麵糊丸，如綠豆大，以硃砂為衣，每服五七九丸。量小兒加減，合沆瀣丹一二丸同研，茶清調下，待其下後病愈，此起死回生之藥，勿以常方視之。無積氣虛者，切勿服之。</p>
<p><u>瀉青丸</u>　凡退熱平肝，清表裡，定痙搐，解煩躁熱，表裡兩急者用。方見驚風門。</p>
<p>理中丸　凡脾虛中寒，面青腹痛，寒嘔寒瀉，四肢厥冷，一切裡寒者用。方見傷暑門，加增分兩，炒研煉蜜為丸。</p>
<p><u>逐寒蕩驚湯</u>　凡小兒慢驚，腹痛，厥冷嘔吐，一切裡寒，皆可用。惟火證唇紅舌燥，喜飲冷水者，切勿服此。方見驚風門。</p>
<p><u>寸金丹</u>　治小兒食滯感冒，無不應驗，價廉而功大也。方見傷食門。外用鉤藤一兩，蘇荷一兩，煎濃去渣，作酒水丸，重五分，薑湯下。</p>
<p><u>神應丸</u>　治小兒脾虛嘔瀉等症。</p>
<p>藿香　砂仁（炒）　茯苓　赤苓　炙草　粉草（各一兩）</p>
<p>上為細末，老米糊為丸。</p>
<p><u>和中丸</u>　治小兒脾虛，吐瀉傷食，腹痛痰嗽等症。</p>
<p>焦術（二兩）　扁豆（炒）　茯苓　砂仁　半夏（各一兩）　枳殼　神麯　麥芽（炒）　香附　條參　廣皮　蟲谷（各一兩二錢）</p>
<p>上為細末，每服二三錢。</p>
<p>以上十方，皆立預為修制，以便備用。</p>

<h1>頭部門</h1>
<p><u>清熱散</u>　治小兒一切熱瘡如神。</p>
<p>雞蛋（五個，取黃用）　亂髮（如蛋大，一團）　和銅銚中熬之少頃，液出如油，側出又熬，取盡為度，候冷以苦參細末調油搽之。</p>
<p><u>三妙散</u>　治小兒頭面瘡禿。</p>
<p>松香　枯礬（各三錢）　黃丹（一錢）</p>
<p>為末，調麻油搽之。</p>
<p><u>三黃散</u>　治小兒頭面一切熱瘡肥瘡，並耳根濕爛。</p>
<p>黃芩　黃柏　黃連　掃粉（各一錢）</p>
<p>上為細末　調淡豬油搽之。</p>
<p>頭上白禿　用白頭翁為末，調陳蠟油搽頂，先剃頭，以川椒白礬煎水洗淨。</p>
<p>一方用大碗一個，以好構紙封於碗口上，貼緊，上磊穀糠殼於紙上，加小炭火於糠上，扇燃，諒將近紙，即將糠殼去之，取紙，碗中之液如清油者，搽之即效。</p>
<p>天疱濕瘡，用：</p>
<p>天苞葉搗水，搽之即好。</p>
<p>一方柿油搽之，並搽蛇串瘡。</p>
<p>一方用土子末，細茶搽之。</p>
<p>頭上瘡癤　初起用鐵燈臺，一名金線重摟，又曰七葉一枝花，用醋磨搽之。</p>
<p><u>頭瘡朽爛方　</u></p>
<p>海螵蛸　胡椒　掃粉　細末搽之。</p>
<p>鼻疳，小兒鼻疳蝕爛，用：</p>
<p>膽礬燒候煙盡，研末摻之。</p>
<p>一方芝麻搗爛敷之。</p>
<p><u>鼻中生瘡方　</u></p>
<p>玄參研末，塗之，或以水浸軟，塞入鼻內。</p>
<p>鼻流清涕，或黃水，點滴不已，方用：</p>
<p>白芷（八錢）　蒼耳（炒）　辛荑（各三錢）　蘇荷（二錢）</p>
<p>上為細末，每服一錢，淡蔥湯或絲瓜藤煎水調服。</p>
<p><u>小兒鼻血不止方　</u></p>
<p>一方用小兒胎髮燒灰吹之。</p>
<p>一方舊氈帽燒灰吹之。</p>
<p>一方白及搗爛，水調敷鼻梁上，煎湯亦可。</p>
<p>一方生地、山梔仁水煎服。</p>
<p>一方大蒜搗如泥，左鼻出血，塗右足心；右鼻出血，塗左足心，兩鼻皆出，塗於兩足即止。</p>
<p>一方左鼻流血，將右手中指用麻線紮緊，或手緊捻中指片時；右鼻流血，左手一然即效。</p>
<p>火眼初起，用黃連蒸人乳點之。內服：</p>
<p>羌活　西風　荊芥　蟬衣　黃芩　生地　白芍　木賊　蒺藜　甘草（各一錢）　車前草引。</p>
<p><u>小兒雀目　</u></p>
<p>石決明（炒）　夜明砂（各一錢）　豬肝（二兩）　蒸湯服。</p>
<p><u>小兒眼腫紅爛　</u></p>
<p>烏梅（一粒）　古錢（八文）　五倍子（二錢）　皮硝（一錢）　蟬衣（二錢）　苦參（一錢）　煎水洗內服。</p>
<p>蘇荷　赤芍　熟軍　白菊　桑皮　桔梗　黃芩　甘草（各一錢）　水煎服。</p>
<p><u>小兒耳痛　</u></p>
<p>一方黃柏浸水滴入耳內，一方鬱金浸水滴之。</p>
<p>一方蛇蛻燒灰吹之，一方虎耳草加鹽少許搗汁滴之。</p>
<p>一方芭蕉樹用竹筒斜插，次早取下，筒內之汁滴之。</p>
<p><u>耳中出血　</u></p>
<p>一方龍骨細末吹之，一方胭脂燒灰吹之。</p>
<p><u>耳中停膿血　</u></p>
<p>海螵蛸　枯礬　甘草（各一錢）　銀硃（三分）　紅綾（三寸燒灰）　寸香（一釐）　洋片（二分）　胭脂（寸大，燒存）</p>
<p>上為末，先用白紙條入耳拭淨膿血，然後吹之。</p>
<p>一方什仿菸灰寸香少許吹之。</p>
<p><u>耳根紅腫　</u></p>
<p>南星　花粉　白芷　赤芍　薑黃（各一錢）　青黛　牙皂（各五分）</p>
<p>上為末，雞蛋調勻，敷之。</p>
<p>一方石灰水調桐油各半敷之。</p>
<p><u>繡耳瘡　</u></p>
<p>掃粉　海螵蛸　黃丹（各一錢）　洋片（三分）</p>
<p>上為細末，麻油調之。</p>
<p><u>口生熱瘡　</u></p>
<p>洋參（一錢）　硼砂（七分）　秋石（五分）　為細末吹之。</p>
<p>一方新鮮鵝屎布包，濾水搽之。</p>
<p>一方陀僧為末，調醋搽足心內，亦效。</p>
<p><u>牙疳　</u></p>
<p>枯礬（五分）　冰片（二分）　寸香（五釐）　研末抹患處三次即愈。</p>
<p><u>六仙散</u>　治小兒大人走馬牙疳。</p>
<p>青黛　黃柏　蘇荷（各五分）　人中白　兒茶（各一錢）　洋片（一分）</p>
<p>上研細末，先用青布洗去白膜，方用蘆管吹於患處立效。</p>
<p><u>牙床腫痛　</u></p>
<p>花粉　石膏　生地　連翹　蘇荷　甘草　黃芩　西風（各一錢）　水煎服。</p>
<p><u>牙痛　</u></p>
<p>生地　石膏　防風　丹皮　蒺藜　荊芥（各二錢）　水煎服。</p>
<p><u>舌痛　</u></p>
<p>茯苓　麥冬去心　連翹　梔子　黃芩　澤瀉　甘草（各一錢）　水煎服。</p>
<p><u>喉痛　</u></p>
<p>桔梗　甘草　玄參　牛膝　西風　僵蟲　水煎服。</p>
<p><u>喉生雙蛾　</u></p>
<p>牛黃（一釐）　寸香（一釐）　熊膽（一釐）　枯礬（三釐）　細末吹之。</p>
<p>一方土牛膝煎水服之。一方白礬、皂角刺燒灰，細末吹之。</p>
<p>一方鵝之喉管燒灰吹之。一方人之指甲刮灰吹之，破即愈。</p>
<p>一方青魚膽綠豆粉浸干，加洋片細末吹之。</p>
<p>一方燕窩土　雄黃（另研）　雞拍翅　鳳尾草（各等分）　共搗爛，酒醋調敷於喉外兩旁，其效如神。</p>
<p><u>咽喉腫痛　</u></p>
<p>射干根　山豆根　細末吹之。</p>
<p>天蛇頭　生指頭上起一白泡，或生指甲旁，俗名指邊風，痛不可忍，速用明雄一錢，細末，入豬苦膽中，套入指上，絲線紮緊。</p>
<p>一方蟾酥五分、寸香五分、明雄一錢、熊膽二分。共為細末，調蛋清敷之。</p>

<h1>心胃門</h1>
<p><u>胃氣疼痛　</u></p>
<p>香附　良薑（各二錢）　水煎服。</p>
<p>必效散　治心胃腫痛。</p>
<p>靈脂　延胡索　枳殼　廣皮（各一錢）　丁香　檀香（各五分）　共為細末，每服五分。</p>
<p><u>心腹氣痛　</u></p>
<p>荔枝（炒）　木香各七錢，不過火，為細末，每服七分。</p>

<h1>腫症門</h1>
<p>小兒腫症多屬風腫，食腫者體實，得汗自解。食腫者，消之即愈；致於虛腫者，補之。水腫者，消之。諸方開於下，用者諒小兒虛實加減用之可也。</p>
<p>看腫症法：上腫下消，皮膚麻閉，當發汗，宜越婢湯；腫症以手指掐起，遲者水腫也，當服五皮飲；體虛二便皆清者，宜服金匱腎氣湯。腫症以手指掐，隨手起者，宜服木香流氣飲；腫症下腫上消，乃元氣下陷，當升提，宜服補中益氣湯；因食積腫痛，宜消導，當服香平散。</p>
<p><u>越婢湯</u>　治風腫感冒初起體實者，得汗自愈。</p>
<p>麻黃（去節，一錢）　石膏（三錢）　甘草（五分）　生薑汁（引）　如面白浮腫，小便利者，加白朮（三錢）。</p>
<p><u>五皮飲　</u></p>
<p>姜皮　苓皮　桑皮　大腹皮　五加皮　水煎服。</p>
<p><u>香平散　</u></p>
<p>香附（炒為末）　牽牛（炒為末）　三稜　蒼朮　陳皮　厚朴　甘草（各等分）　水煎服。</p>
<p><u>耆芍桂枝湯</u>　治發熱汗出，四肢浮腫。</p>
<p>桂枝　白芍（各三錢）　黃耆（蜜炙，五分）　水煎服。</p>
<p><u>防己茯苓湯</u>　治身腫水氣在皮膚。</p>
<p>防己　蜜耆　肉桂（各一錢）　赤苓（三錢）　甘草（一錢）　共為末，每服三錢。</p>
<p><u>補中益氣湯</u>　治體虛冒風，發腫，升清降濁。</p>
<p>黃耆　當歸（各二錢）　陳皮　升麻（各八分）　人參（二錢）　柴胡（蜜炙，一錢）　甘草　桂枝（各八分）　防風　木通　木瓜（各一錢）　姜皮引。</p>
<p><u>金匱腎氣丸</u>　治腎腫症。</p>
<p>熟地（二兩）　白苓（一兩五錢）　牛膝　肉桂　澤瀉　車前　棗皮　懷山藥　丹皮（各五錢）　附子（三錢）　煉蜜為丸。</p>
<p>一方葫蘆、牽牛煎水服，一方土狗焙乾為末，沖酒服。</p>
<p>一方鯉魚入蒜滿腹煮服，大小便齊通後用健脾丸服之。</p>

<h1>膀胱門</h1>
<p>小兒膀胱氣痛腎墜，看外腎之堅軟。堅結氣痛者，破之；腎之鬆散下墜者，補之。小便清，得熱手按之便減者，溫之即愈，方用鹽青果一個，燒灰存性，褐子毛即羽毛，嗶嘰方寸，燒過細，開水兌酒服。</p>
<p>一方舊酒葫蘆煎水服即收。</p>
<p><u>馬藺散</u>　治小兒疝氣偏墜，堅硬痛極。</p>
<p>馬蘭花　橘核（各二錢）　青鹽（五分）　莪朮　川楝子　青皮　枳殼（各一錢）　木香　粉甘草（各八分）　荔枝核（五個，燒）　八角茴（五分，引）</p>
<p><u>補中益氣湯</u>　治腎氣虛墜，方見咳嗽門。</p>
<p><u>溫疝丸</u>　治疝氣寒痛，偏墜等症。</p>
<p>故紙　胡蘆巴　橘核（炒）　小茴　安桂　延胡索（炒。各一錢）</p>
<p>上為末，煉蜜為丸，每服二錢，開水下。</p>

<h1>小便門</h1>
<p>小兒小便不利，皆因肝經有熱，則小便赤甚腫痛，宜用：</p>
<p><u>八正散</u>　治膀胱有熱，小便不通。</p>
<p>車前子　熟軍　瞿麥　萹蓄　木通　梔子　甘草　滑石（各一錢）</p>
<p>水煎服。若小便腫者，用蚯蚓泥塗之即消。輕者用：</p>
<p>馬鞭梢，車前草（等分）　煎水服。</p>
<p>一方石葦水燈芯煎水服，如服寒涼藥不應者，用補氣藥；陰不足者，用補陰滋水藥即效。</p>

<h1>淋症門</h1>
<p>有火淋、濕淋、虛淋之別。火淋者，宜服：</p>
<p><u>五苓散</u>　膀胱有熱，小便不通，淋瀝不出，作痛尿血皆治。</p>
<p>赤苓　生地　澤瀉　條芩　甘草　當歸　木通　赤芍　前仁　滑石　山梔（各一錢）　水煎服。</p>
<p>如痛甚者，加大黃、海金砂。一方蚯蚓泥、滑石、甘草，泡水澄清飲之。</p>
<p><u>胃苓丸</u>　治小兒小便初出黃色，少頃變為米泔汁者，謂之尿白，傷脾所致，久則成疳。</p>
<p>蒼朮　厚朴　廣皮　白朮　雲苓　豬苓　澤瀉　甘草（各一錢。炙）　上青桂（五分）　水煎服。</p>
<p><u>二術通淋飲</u>　治小兒濕淋，脾虛受濕，小便如米汁者。</p>
<p>焦術　蒼朮　雲苓　澤瀉　黃芩　連翹　木通　甘草（各一錢）</p>
<p>車前草為引煎服。</p>
<p><u>固腎保平煎</u>　治虛淋。</p>
<p>芡實（三錢）　牡蠣（煅）　龍骨（煅）　蒲草根（各一錢）</p>
<p>上水煎，去渣，用豬腰子一個切片，將藥水煮熟服之。</p>
<p>小便血用雞屎尖白如粉者炒焦，為末，酒調，空心服下五分。</p>
<p>尿血烏梅燒灰存性，為末，米泔調下一錢。</p>

<h1>大便門</h1>
<p>小兒大便不利，多由飲食熱物風熱結於便，以保和丸加枳殼、大黃微利之。若是血虛，平素難便者，宜服潤腸丸。</p>
<p><u>保和丸</u>　治飲食停滯，胸膈痞悶，腹脹等症。</p>
<p>神麯　廣皮　法夏　雲苓　山楂　連翹　萊菔子，為末煉蜜為丸。</p>
<p><u>潤腸丸</u>　治老人、虛人、小兒、男、婦人大便閉結。</p>
<p>火麻仁（八錢）　杏仁　郁李仁（各四錢）　當歸（一兩）　枳殼　金井膠家蘇子　萊菔子（各三錢）</p>
<p>上為末，煉蜜為丸，每一二錢，量人加減，白湯送下。</p>

<h1>脫肛門</h1>
<p>《難經》云：出者為虛。肛門之脫，非虛如何。況大腸與肺為表裡，肺臟蘊熱則閉，虛則脫。須用補中益氣湯為主，升舉與補之，不可用墜氣之藥。</p>
<p><u>補中益氣湯</u>　方見咳嗽門。</p>
<p>脫肛，不紅不痛，是氣血兩虛，本方加粟殼、伏龍肝各一錢。</p>
<p>脫肛赤腫有痛，宜涼血去風，本方加羌活、防風、白芍。</p>
<p>脫肛裡急後重，有膿血者，本方加木香、烏梅。</p>
<p>脫肛大腸熱甚，肛門赤痛，宜服：</p>
<p><u>升麻湯　</u></p>
<p>升麻　白芍　甘草　羌活　黃芩　黃連　西風</p>
<p>肛門作癢，腹中有蟲，內服花椒、烏梅、使君子、檳榔等藥，蔥白為引，外朴硝煎湯洗之。</p>
<p>脫肛，以鱉頭燒灰研細，以麻油調勻塗之，外用尿泡桐葉托進。</p>
<p>小兒脫肛，用陳壁土、地瓜根煎水溫洗，用菜葉抬手托進，帕子兜起，大裹腳從屁凹勒住，負於大人背上；外用蓖麻葉搗爛，包小兒囟門，一時即收。內服：</p>
<p>黃芩　連翹　升麻　西風　桔梗　甘草（各一錢）　車前為引。</p>
<p>大便糞前見血者為近血，蓋自大便出也，宜服：</p>
<p><u>黃連解毒湯　</u></p>
<p>黃連（五分）　黃柏　條芩　梔仁（各一錢）　燈芯為引，水煎熱服。</p>
<p>糞後見血者為遠血，從胃脘小腸出也。清胃湯止之，久不止者，補中益氣湯加黃連。</p>
<p><u>清胃湯　</u></p>
<p>黑梔子　生地　丹皮　當歸（各一錢）　川連（五分）　水煎服。</p>
<p><u>補中益氣湯</u>　方見咳嗽門。</p>
<p>瀉血　用亂頭髮、雞冠花、側柏葉，俱燒灰存性，為末，酒沖服一錢。</p>
<p>又方霜後乾絲瓜燒灰為末，空心酒服一錢。</p>

<h1>足腫門</h1>
<p>小兒足腫，用手按之成坑遲起者，水腫也。隨按隨起者，氣腫也。形色虛弱，關紋青淡，眼光散大者，主腎虛方，各方附下。</p>
<p><u>治水腫方　</u></p>
<p>防己　黃耆　赤苓　丑牛（各一錢）　肉桂（五分）　甘草（七分）　水煎服。</p>
<p><u>氣腫方　</u></p>
<p>防己　箭耆　升麻　當歸　焦術　炙草（各一錢）　水煎服。</p>
<p><u>治腎虛腫方　</u></p>
<p>熟地（五錢）　澤瀉　雲苓　棗皮　懷山藥（各二錢）　牛膝　附片（各一錢）　甘草（八分）　水煎服。</p>
<p><u>治鶴膝風方　</u></p>
<p>虎脛骨　石欄藤　箭桿風　當歸　防己　酒煎服。</p>
<p>足上濕氣　石菖蒲、箭桿風、薑蔥共搗如泥，敷上即效。</p>
<p><u>足上凍疱洗方</u>　用桐子葉或茄子根，煎水洗之。</p>
<p><u>足上濕爛方</u>　用水龍骨煅為末摻之，即舊船底下練子灰。</p>
<p>足上繡爛　枯礬、甘石、掃粉、胡粉，細末摻之。</p>

<h1>救急門</h1>
<p>燙火傷者，切勿以冷水洗之，恐熱氣入心。外沾生水，亦易潰爛。倉忙無藥，即用鹽醬摻之。</p>
<p>一方煤炭細末，調油搽之。一方石灰澄水，調桐油搽之。</p>
<p>一方絲瓜皮焙乾為末，調油搽之。一方夏枯草焙乾為末，調油搽之。</p>
<p>一方七里香葉曬乾研細末，調油搽之。一方桐子花焙乾為末，調油搽之。</p>
<p>一方鱉甲燒過，存性細末加洋片、寸香，研細調麻油搽之。</p>
<p>一方冬日收爛橘柑或老黃瓜，用罐盛之，自化成水搽之，皆有奇效。傷重者，恐火毒攻心。內服方：</p>
<p>箭耆　當歸（各三錢）　西風　雲苓　荊芥　黃芩　澤瀉　大黃　甘草（各二錢）　水煎服。</p>
<p>刀傷出血，用鍋煙墨搽之。一方用生薑嚼爛敷之。一方破氈帽燒灰摻之。一方白蜘蛛網纏之。一方古石灰同韭菜搗成餅陰乾，刮下摻之。</p>
<p>跌傷未出血者，用手揉散瘀血，外用七里香葉嚼爛敷之。一方澤蘭葉貼之。</p>
<p>跌傷已出血者，用刀傷藥摻之，甚重用紅花、大黃、血竭細末摻之，久潰則用玉紅膏貼之。</p>
<p>瘋犬撕衣中毒。</p>
<p>一方紅豆子根皮為末，米汁調下五分。</p>
<p>一方牛蒡子根一兩，煎水去渣，煮米粥一碗，服之即效。</p>
<p>一方黃瓜草，此草生在岩下陰濕處，如嫩蘿蔔葉，揉爛有黃瓜氣即是，用十餘兜搗爛，沖米汁服之。一方韭菜搗汁，每服一酒杯，七日一次，服七次即效。一方虎頭骨細末調麻油服之，皆有神效。</p>
