<header data-type="book">
<h1>羊毛瘟證論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>隨霖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1795">公元1795年</data></dd></div>
</dl>
</header>

<h1>方序</h1>
<p>余家世業醫而余不知醫且並不識藥俗幼時羸而善病每喜與醫土遊蓋醫乃仁術業斯藝者類能以仁宅心餘語需金陵六載所識醫土如王式昭徐景伯隨萬寧周碩園皆長於方脈濮韞良長於外科汪藕塘長於按摩之數君子者律身行已必信必果又存心濟人利物鄉里僉稱為善人凡道路橋梁之傾圯不便於行人及祠宇報賽廢墜者不惜積貲以成善舉殆紙不勝書癸丑冬余感風寒之疾四肢痛不可忍晝夜呼號輾轉床蓐瀕死者數矣式昭景伯以藥起之因式昭景伯得識萬寧萬寧偉軀幹亭亭如雞群之鶴時有塵埃外想與之談穆如藹如不覺矜躁之俱釋也茲萬寧以所著書問敘於余余閱其自敘之辭及循名療治之法殆發前人所未發而又明白簡要一覽無遺余雖不知醫而萬寧利濟婆心於斯方見昔賢謂不為良相即為良醫萬寧覃精殫思祖軒岐宗倉越法劉張朱李亦既盞年所矣而更參以已見集成是書可為烹魚之釜鬻濟川之舟楫異日隔垣早見望色先知深造正無窮期也萬寧勉乎哉</p>
<p>嘉慶元年丙辰臘月吉旦整飭江南通省鹽法分巡江寧兼管水利道前刑部耶中律例館纂修官濟南方昂書於江寧巡署之靜遠堂</p>

<h1>王序</h1>
<p>余交隨君萬寧有年矣每與談峻黃家說知其淵源有本不與尋常術士比心竊敬之夫醫之為道奧妙無窮非深究靈樞素問之旨而加之以神悟不能得其會通世之業此者率泛涉本草歌訣便爾懸壺暨乎心不應手或至僨事絕不自省而返求其理故雖三折肱九折臂終未為良也隨君殊於是宜其學益精而全活者眾是不以術視醫而以道視醫故能如是近日撰羊毛溫證論一編出而問世實闡前人所未盡發而綢繹其旨其有功於先哲施及於後世者大矣遠矣證治原委己詳自敘余何庸更贊一言姑贅數語以志欽佩云爾隨君秉善於詩談醫之餘間出其吟詠以相訂正則余有互相稗益者余將序而傳之以見其餘事作詩人昔范文正公比良醫於良相今我隨君不又於杏林中增一佳話也哉嘉慶元年中元日菊莊</p>

<h1>陳序</h1>
<p>余素不知醫亦不習方藥嘗讀周禮一書言醫者至詳有掌其政令著有分而治之者蓋職有專司能有獨擅也聚藥以供醫事而渾名曰毒宇宙大和鮮大災沴其以危困而請於醫府者氣有不和也須以偏勝之物攻之當則止疾否則必傷慎之曰毒不亦宜乎其有不愈之狀則各書所以入於醫師非獨籍以制其食誠以醫不能無失且為後鑑也然則方藥之有書也殆周官法戒之遺意歟吾鄉隨萬寧先生誠篤溫厚與好善鄉里咸推重焉秋七月餘以給假南旋適從弟婦以危證得先生雙解方藥而愈因出近所著羊毛溫證論問敘於余夫溫疫者古方也羊毛疔者</p>
<p>御纂金鑑中所備載也會通其意而名為羊毛證者隨氏之心解獨得也善說詩者不以文害辭不以辭害意以意逆志是為得之隨氏之書意以逆之耶刊以問世不敢自私又以知其良工心苦而虛且公也雖然余竊為著書者有二難焉才高者堅持門戶之見專以博辨攻詆為長安知不有以二書不能合此證古所無為隨氏咎乎然隨氏固巳明言其以意會通矣又何用嘵嘵者為質下者篤信而不善學之凡遇一證輒云羊毛溫證針以挑之面以擦之妄引隨氏法以自衛此又隨氏不及料而實為此書之罪人也惟證宜雙解者即以雙解法行之方證相對胸無成見藥用當而通神斯古法賴以不泯而隨氏之苦心庶幾與之俱傳乎此書中難發之隱不獨為著書者補之且為讀書者告之兼以質之吾鄉以醫名世</p>
<p>諸君子以為何如也是為序</p>
<p>嘉慶元年秋八月既庭陳廷碩拜撰</p>

<h1>徐序</h1>
<p>氣失平而為疾奇症原多藥用當而通神良方最重唯症非經見愈徵麋眼之清斯方有必傳彌著婆心之苦金陵</p>
<p>隨萬寧先生學本六經醫已三世久神脈息肱折於三尤諳時邪氣分其五近有溫證前未盛行今遇良醫確昭神效火蒸臟腑感歲氣於司天肺主皮毛郁膜間之毒縷尋常未識診誤即危解散不先救遲亦殆惟先生善參古法妙活靈機以走獺之奇通出蛇之變如扁鵲之攻腠理明且察於秋毫類秦和之辨陰陽治更分於歧路柔毛盡剝有目皆知仙指才臨無人不活未忍私為已有輯症成書還思善與人同匯方壽世蓋</p>
<p>先生仁心為質名教夙敦負郭本無獨重春秋之祀（先生原寒士集會五百金買盤槐田四十餘畝每年租利為春秋祭祀用）趨庖久有常循詩禮之箴已天性之群推君陳孝友尢路人之共戴司馬陰功範步袍憐給軍寒而何既周郎困借拯貧餒以良多而且弄月吟風無非天趣宜其調梅種杏盡是春風（昌　素不知醫嘗欽抱道睹得心而應手實相雙解之功數起死而回生豈止一毛之利郭玉之醫以意效即丹方巫彭之藥有經此尤龍秘質之同方同術莫疑抱朴之增可知有經有言足禰靈樞之闕</p>
<p>乾隆六十年乙卯冬</p>

<h1>自序</h1>
<p>瘟疫一證自古有然即周禮所謂四時癘疾也其所感之氣變幻難以言狀而靈樞素問及各名家並未立瘟疫之名迨吳又可始著方論吾鄉戴麟郊先生又著廣瘟疫論有辨氣辨色辨脈辨舌辨神之說足為後學津梁者更加詳備已但瘟疫中有半毛一種則從未有言之者歲辛卯此證頗行俗呼為羊毛疹子臨證頗難措手（霖）恭讀</p>
<p>御纂醫宗金鑑外科疔瘡內載有羊毛疔證治之之法除毛有方用藥有則顯立成規遂會通其意格以所感之氣所入之門所出之處及其病作之形巽心推究酌方療治多獲生全越今多載欲以鄙見質諸同志因作羊毛溫證論似可與吳戴相發明夫瘟疫之變在外證既可化毛而成疔毒在內證亦可化毛而伏皮膚其相形而得名者正可循名而立法雖此證不多見而近年亦往往有之恐窮鄉僻壤突遇此證療治失宜貽誤匪淺謹將治而得效方藥一一志之然醫理淵微不免掛漏仍祈高明再加搏採補所未備未必非醫門之一助云</p>
<p>乾隆六十年歲在乙卯冬十月上元隨霖萬寧甫識</p>

<h1>羊毛溫證論</h1>

<h2>伏邪窮源論</h2>
<p>夫天地之氣萬物之源也伏邪之氣疾病之源也惟醫以意格以理而明之氣陽也神為之主輕清象天無形而能生物資始之根也血陰也氣為之主重濁象地有形而能乘載資生之根也一動一靜互為之根溯萬物之初運至氣至並歲干氣化而太過不及則有偏勝之災夫病生之始外因內因並不內外因而邪乘口鼻則有伏藏之害氣勝者和氣不勝者病其伏藏之邪溫毒也蓋非四時六氣之溫邪乃山澤鬱蒸之毒名日厲氣即內經所謂苛毒是也如評熱論間有溫病者汗出輒復熱而脈躁疾狂言不能食病名為何對曰病名陰陽交交者死也此論四時六氣之溫也又刺熱篇肝熱病者小便先黃腹痛多臥身熱心熱病者先不樂數日乃熱脾熱病者先頭重頰痛顏青欲嘔身熱肺熱病者先淅寒厥起毫毛惡風寒舌上黃身熱腎熱病者先腰□酸苦渴飲身熱此論情欲內蒸之熱也欲知五臟之熱可望而知之肝熱左頰先赤肺熱右頰先赤脾熱鼻赤腎熱頤赤心熱顏赤病雖未發見赤色者治之名曰治未病但伏邪之毒郁久而發上升下降從胃土關隘之所毒蒸變化化生羊毛至於病及內以達外必然光見於色要知毒火梟張早為攻伐免致貽禍再能未病而窮之其醫更備矣此病非四時六氣之邪又非情欲之賊火乃伏邪毒火之為害每致人悶絕可不慎歟但索本窮源難以透達微撮其耍以備一參耳</p>
<p>溫病論</p>
<p>夫溫熱之為病醫知之矣此非六氣四時之溫乃厲氣伏藏之溫也且述自岐黃淵源正脈紀歲數於派分最廣治各不同何也歲氣使然地勢使然但能揆度病情審察病機靈活者得其巧固滯者守其法知不偏而偏者泥於體似偏而不偏者合乎用經云法於陰陽和於術數夫法也者無限之體和也者無限之用所以天覆地載人稟五行人在氣交之中美惡之氣無不感耳然而本氣貫乎天運行不息氣之正也氣和者長養萬物氣偏者損傷萬物在人則有強弱氣則有盈虛其受氣清者生神受氣濁者生病是以老少強弱偶有一息之虛受其厲氣鬱於中土釀久而發流蕩伏邪毒火所由來也夫胃為十二經之海十二經都會於胄胃氣敷布於十二經惟虛者注之非感而即發伏久乃發也其作仍歸於胃達於三焦縱現各腑各臟之形以胄氣為主設聚於胃不能攻逐毒火仍陷於本注之所終難釋矣故毒火攻下之宜早或間時邪形證答曰時邪發動人身運行之氣乃為之陰陽氣不伸反為之寒陰氣閉塞反為之熱其初病也舉動如常忽寒忽熱既而面色青白頭眩難支腰背脹痛胸悶氣阻四肢麻木聲音低小煩躁不寧口渴舌赤苔白或黃或灰黑或砂白皆有裂紋紅紫點布或舌中無苔或舌如胭脂唇若塗朱嘔吐乾噦人皆昏沉譫言狂亂或出羊毛斑疹或癰疔腮腫或頭面浮腫或咽痛等證難以盡舉脈象右大於左六部不調或沈伏或弦數或洪大或堅實無一定之形皆入稟受之別也亦由邪伏之輕重也先見寒熱者少陽之初氣也少陽為微陽本為樞時邪初泄病者原不知覺既而聚胄毒火梟漲故有此象所謂時邪病形者是也夫時邪者伏邪之化也伏邪化形形似羊毛蓋非六氣四時之溫明矣</p>
<p>羊毛論</p>
<p>羊毛之為病也始覺微寒發熱或憎寒或壯熱或發疹塊面色微青唇紅而脹舌有薄苔紅點裂紋胸中滯塞身脹痠麻手足不利前心後心或有斑點或無斑點及病至面色青板身重不仁皮膚紫脹脈不至則無救矣伏讀御纂醫宗金鑑內載羊毛疔證一條初起時身發寒熱狀類傷寒但前心後心有紅點又如疹形視其斑點色紫黑者為老色淡紅者為嫩宜服蟾酥丸汗之毒勢不盡憎寒壯熱仍作者宜服五味消毒飲汗之如發熱口渴便閉脈沉實者邪在裡也宜黃連解毒湯加生大黃一錢五分蔥頭五個清之治法先將紫黑斑點用衣針挑出如羊毛狀前心後心共挑數處用黑豆蕎麥研紛塗之即時汗出而愈一法用明雄黃末二錢青布包扎蘸熱燒酒於前心擦之自外圈入內其毛即奔至後心再於後心擦之其羊吒懼找出於布上忌茶水一日竊思疔有羊毛與近日羊平時證大略相同即以治疔之理而會迎其意治此證亦可也且人身災眚自古迄今備載病目有增無損有書載而未見有病見而無書者誠可悼嘆所以一時之病證一方之疾厄古人筆之於書以備後人參考知某書有此等病也大業醫者智圓行方心小膽大臨證即師療證即法今時邪由毒氣土藏鬱蒸金化忽有羊毛類似蠶絲其毛倒生膚里膜外針刺皮膚絕無點血剔出羊毛長者七人寸短者二三寸剔未盡者再以蕎麥麵用陰陽水和團自胸前圈滾至腹背心圈滾至腰滾處約百餘轉麵糰中毛多遍身全滾皆有投以加減雙解散至肺氣舒暢血脈流通大汁如雨或發疹塊而愈蓋此證獲效於雙解之方治法即仿羊毛疔證五味消毒飲黃連解毒湯加大黃蔥頭之意要亦內經金鬱泄之上郁奪之之旨清太陰通陽明達三焦為無上法門非重劑硝黃烏能勝其病哉伏邪毒重者述投大劑雙解膏黃用一二十兩亦不為過但稍有疑畏之心莫能解釋其疾或有誤治者以寒熱作瘧治胸悶氣脹作停食受寒治或以溫中燥濕治或以達原破氣治病日加增昏悶而死至於不能醫治者病來急速氣阻神昏面色青慘站立不起肢冷脈無故不治也所謂不治者毒火與元氣勢不兩立井於上焦陽氣不行肺胄不通即經云諸氣膹郁皆屬於肺此為悶絕之由其可治者惟臨證之時不可不細心耳</p>
<p>辨惑論</p>
<p>或問卯酉之歲陽明司天燥氣主之又乙庚化金金生辛辛生肺肺生皮毛羊毛一證自然歲運氣化乃非卯酉之歲亦見其證非乙庚化象亦見其證有一方見羊毛證有一方不見羊毛證再者毛生皮內名曰羊毛拔出形似蠶絲何以不名蠶絲而名羊毛至藥用峻重涼攻何以不傷氣血病愈易於如常識羊毛證候何法以別之亦有服輕藥而獲效者何不盡用輕藥而治之答曰歲運氣化可知客氣流行有風氣之變化否且在地有高下天有陰晴皆統乎一氣萬物皆備於土如天時晴久其氣伏之轉深故各方病見之有異然則天運之妙其可知耶其不可知耶其運氣之旨譬如走盤之珠無一定之時也但氣之變化固不常在而物由之而入應之難以執一論也至毛生皮內如合麴然因氣之所感伏藏於土金氣蓄之火氣蒸之故從金化素間云金位之下火氣乘之考之周禮夏官注云羊屬南方火說文羊祥也易說卦兌為羊其質好剛滷曲禮羊曰柔毛月令注羊火畜也其病伏藏毒火謂之羊非無因也考之說文蠶任絲也蠶吐有數丈之絲羊生無數尺之毛是羊毛耶是蠶絲耶果是羊毛乎非也伏藏毒火取其名耳且身中伏邪即毒火也火可燎原火可炎燒氣血其毒火浮於肺胃三焦攻之速者毒火即解其氣血未曾損傷故病退即如常人至於識證易於明顯毒火輕者自然涼藥輕攻毒火重者斷不可以輕藥其毒火最速毒重藥輕則腐腸爛胄及至受害則悔無及矣故余另有規則治法備方</p>
<p>老少男女貧富不同治</p>
<p>溫邪之為病因病以訂方因氣以知病實因人以治也何以言之人類不齊有老少焉有男女焉有貧富焉推而言之有形樂志苦有志樂形苦有形志皆苦有形志俱樂又如是種種各別其受毒氣則一也大抵老者氣血就衰形如枯樹不可摧殘治宜早解其毒於攻之中量其毒注輕重也幼者氣血未定腸胃脆薄不任毒發急宜早攻當思一兩歲時作七十歲觀一周以內作八九十歲觀自然百無一失婦人之病與男子無異所異者胎前產後經期月候耳至於分者勞力飲食自倍無酒色可思無機關可用故腠理常實而有病拖延當以急攻為主免致毒傷內臟至於富者或終身逸樂不免累於酒色或過於勞心食少事煩其腠理恆虛而有病即醫亦宜量其攻伐除邪即安正也至老少用藥攻伐十之四五不可太過至於婦人胎產病羊毛溫證並婦女行經等證另有分治此其大略也若夫神而明之變而通之又在會心者自用焉耳</p>
<p>臨證規則</p>
<p>病患難知有規則而能知道為化象法為至理萬法歸一在於得其要領人非生而知之必有資於規則務須瞻與識俱心隨理運臨證推尋詳明果決若識見不真先迷嚮往之路膽力不壯同歸廢弛之塗終不能遇病而驅之也蓋溫邪見證有發熱惡寒有微熟惡寒有無熱惡寒有發熱不惡寒其溫邪出於陰陽臟腑而別之也陰為臟陽為腑其脈亦有陰陽脈之浮洪數長實五陽也脈之沈遲微弦澀五陰也至內伏之邪以右手寸口為主浮為在表沉為在裡數為在腑遲為在臟陽病陰脈陰病陽脈死生判斷不盡然也惟脈有神者准也欲知病愈未愈脈大為病進脈緩為病退</p>
<p>申明溫邪出三陽病治溫邪自里達表邪出少陽則微作寒熱口苦作噦舌微現白苔苔中有紋夾雜紅點頭忽眩暈胸脅脹悶方用荊防敗毒散合溫證解毒散治之繼以加減雙解散</p>
<p>溫邪出陽明發熱不惡寒口渴唇燥舌苔厚白或現黃苔皆有紫點苔見裂紋頭重作痛胸脹身酸煩躁嘔吐面色紅亮惡人與火方用加滅雙解散主之次用白虎湯</p>
<p>溫邪出太陽惡寒發熱頭痛脊強項痛拘束或嘔或瀉口淡不渴舌有滑苔或黃或白皆有紅點裂紋面色灰滯便數或遺精方用荊防敗毒散加滑石一二兩次用加減雙解散</p>
<p>以上溫邪出三陽依方調治至於病有變異宜照備方選用</p>
<p>申明溫熱攻三陰病治溫熱攻太陰煩躁忽熱肢冷身倦氣急吐蛔腹滿泄瀉口渴不飲舌如砂壘神昏語錯脈沉數者生浮軟者不治</p>
<p>溫熱攻少陰渴躁狂妄壯熱忽寒咽痛胸脹忽阻忽喘自利不食麵赤脹亮脈數大不急者生成急或散者不治</p>
<p>溫熱攻厥陰面色灰滯舌強唇紫苔黑而干柚搐悶亂呃逆連聲微熱肢冷腹脹囊縮或囊腫而破或胄口作痛痛至少腹脹硬加石脈弦數不強者生或如新張弓弦或細而短者俱不治</p>
<p>以上溫邪攻三陰難救之病宜早服加減雙解散黃連解毒湯再依病證</p>
<p>增減用藥至病有變異宜照備方選用</p>
<p>羊毛溫證規則</p>
<p>半毛見證有輕重之分宜詳細申明但此病之來人皆不覺而為醫者未曾多見亦或見者未必深識何況於病家為得信其為羊毛證乎夫溫證羊毛伏郁毒火有注於厥陰少陽者有注於少陰太陽者有注於人陰陽明者此為雙注證毒邪極重者也有注於少陽經者有注於陽明經者有注於太陽經者此為單注證毒火少輕也</p>
<p>申明羊毛雙注證治</p>
<p>厥陰少陽形證寒熱似瘧面青色滯唇燥乾嘔舌苔白滑有紫點裂紋周身振動腹內如梗兩條胸悶氣急忽毒大沖動人事昏亂兩目彷徨驚悸直視角弓反張如畏刀鋸加見鬼神治法外除羊毛內服加滅雙解散增雄鼠糞七枚次用五黃丹珠黃散紫雪金丹並犀角羚羊地丁蒲公英銀花雄黃解毒等藥少陰太陽形證時發寒熱而色青赤唇燥舌破苔黃點紫咽喉不利周身板束四肢麻木骨痛如碎頭如斧劈或嘔或瀉胸悶氣脹晝夜不安小便閉塞煩躁不寧治法外除羊毛內服加減雙解散增羌活兼服五黃丹次用加味涼膈散黃連解毒湯並服金汁人中黃牛黃銀花蒲公英解毒等藥</p>
<p>太陰陽明形證壯熱微寒四肢厥冷麵色青灰紫脹唇掀腫裂舌本紫赤苔如粉白有刺兼有紅點裂紋渴欲多飲飲又嘔吐牙床出血胸脹腹痛狂躁氣急治法外除羊毛內服加減雙解散兼五黃丹繼服加減大柴胡湯並服西瓜水犀角羚羊人中黃銀花蒲公英地丁雄黃牛黃解毒等藥</p>
<p>申明羊毛單注證治</p>
<p>少陽形證寒熱如瘧面色微青神倦身重頭眩目澀口苦喜噦舌有薄苔或黃或白皆有點紋胸悶心煩治法內服荊防販毒散兼服五黃丹外除羊毛次服五味消毒飲並加減雙解散增雄黃少許和服</p>
<p>陽明形證不惡寒忽發熱唇乾微渴面青微紅舌如積粉有細紋紅點胸悶身倦頭暈作煩不能安臥治法內服升麻葛根湯兼服五黃丹外除羊毛次服加減雙解散白虎湯</p>
<p>太陽形證寒熱身重面青微赤頭痛脊強或嘔或瀉胸悶氣脹舌本紫色苔見白滑有細點裂紋唇乾咽燥口淡而黏渴而不飲小便赤澀或道精或淋濁治法內服荊防販毒散兼服五黃丹外除羊毛次服加減雙解散豬苓湯</p>
<p>以上雙注單注羊毛溫證用藥調治使病者汗出徹舌浮白苔點紋皆退或漏身作癢或發疹塊以熱退毛除為愈又雙注單注形證不必拘於日期惟辨臟腑毒火之輕重也至於治法俱以太陰肺陽明胃少陽三焦為主其最要者陽明胄腑胄為水穀之海五臟之源十二經總會之地當於此處逐毒不可忽略實者宜用加減雙解散虛者宜用新制蘭膏湯並服五黃丹徜毒重本虛亦宜加減雙解散不可太過至四損不可正治由於大勞大欲及大病久病氣血兩虧陰陽並竭名為四損又病羊毛溫邪最難調治宜臨證時細加詳察是氣虧是血虧是元陽虧是元陰虧必至審定然後施治得當為良</p>
<p>羊毛溫邪疑似辨</p>
<p>羊毛溫邪亦有疑似難明須辨質之虛實毒之輕重毛之有無有似虛寒而伏大熱有似雜病而治不能痊者此疑似之證貽級匪輕然而虛者宜輕逐毒火資者大可涼攻毒之輕者宜緩攻毒之重者宜急攻羊毛有無用蕎麥麵團圈擦醫皆能知之也至於虛證似實實證似虛青輕似重毒重似輕外無疹點內有羊毛類似雜證而有羊毛類似虛寒而伏大熱最難詳辨若不細心體認辨出真情何能破其隱蔽療其病患耶</p>
<p>羊毛溫邪虛證似實如陽氣素虧氣短少息陰血素虧面色痿黃至毒火伏藏於內神反精壯麵反光亮初病微覺寒熱胸反不脹擦有羊毛舌本赤色浮有白苔現有點紋脈象虛洪或見細數渴而不飲煩而不躁者是也縱宜宣伐於攻藥之中兼以養氣和血為主</p>
<p>羊毛溫邪實證似虛精神素健飲食倍常毒伏於內神反倦怠面反青白心慌頭眩內燒無力時忽發麻用蕎麥麵團圈擦身有羊毛舌本紫色現有厚苔或黃或白紫點裂紋脈象數實或浮軟沈堅喜飲不多昏沈困睡者是也急宜宣伐於攻藥之中重用膏黃芒硝為主並用珠黃散紫雪金丹</p>
<p>羊毛溫邪毒輕似重毒火發作面色青紅壯熱煩躁無汁口渴胸悶不寬舌苔薄黃點紅紋細脈象洪數攻伐解毒之藥利於輕用</p>
<p>羊毛溫邪毒重似輕毒火發作舉動如常面色青滯微熱惡寒口淡嘔痰噁心胸悶舌苔灰白紫點裂紋脈象沈實攻伐解毒之藥利於峻重羊毛溫邪毒火發動胸悶惡寒皮膚忽木前後心無點周身無疹或神昏氣悶或潮熱不止或飲食減少或嘔酸痰或不發熱俱用蕎麥麵團圈擦前心後心如有毛者宜服解毒攻伐藥除之</p>
<p>羊毛溫邪有大熱似寒四肢厥冷身重不仁面青浮腫目瞪神呆唇淡而縐舌苔灰白紫色細點嘔吐痰沫痰有辛味胸悶神昏早覺甦醒午後如死脈象沈微獨右尺見促脈（余）初臨此證類似虛寒懨懨一息疑為必死細推證象早覺甦醒右尺脈促舌苔灰白有細紫點痰有辛氣唇有縐紋此非寒證所有以蕎麥麵團圈擦前後心有毛果即此證也譬諸人事言多者必假一語者反真審之醫理證象少者為真多者為假人身四肢為諸陽之本頭為六陽之首又臟不和則九竅不通陽氣不能運動即現諸般寒象若陽氣宣通其寒自散矣此病之形證有一二生機不可不救方用黃連解毒湯加大黃繼以理脾和肝羊毛溫邪尖似雜證如胄痛脅痛腹痛傷風停食積聚冷痰嘔吐等證病證甚多難以枚舉或間何以別之答曰易識其證面青胸脹舌有點紋脈象有力為準宜從羊毛溫治不宜從雜病治</p>
<p>羊毛溫類證治</p>
<p>羊毛溫邪重證用加減雙解散一日兩服若病劇不解者當半日中盡二服羊毛溫邪面現青色舌有點紋寒熱胸悶周身拘板頭眩作痛是此證也如舌現點紋寒熱胸悶身酸作痛面色不青非此證也蓋溫邪病羊毛病各從其證調之亦不拘於溫證羊毛證之方要知合宜而用</p>
<p>羊毛溫邪四時發作夾表邪者宜先服荊防敗毒散次服加減雙解散得汗得利為愈</p>
<p>羊毛溫邪表裡熱盛或發癍疹或頭而腮腫宜用加減普濟消毒飲兼服五黃羊毛溫邪病作不識昏悶狂躁忽寒忽熱延至四五日或十餘日用蕎麥麵團圈擦擦出毛有五色其毛甚健治法用黃連解毒湯加大黃石膏蒲公英防風雄黃黃蜜</p>
<p>羊毛溫證伏邪發動煩躁發熱惡寒頭痛面色青滯舌赤苔黃浮黑有刺口渴神昏診脈右手數實左手關尺空虛此係肝腎素虧溫毒極重病急不可緩治亦不宜補陰托邪此證屢次經見速用加減雙解散逐去毒火外除羊毛保全氣血不致火灼陰陽內陷變證若畏涼攻則無濟矣</p>
<p>羊毛溫邪伏毒發動寒熱痰血面青色滯舌有點紋或素有血證當此毒火內蒸其血必然漸湧脈象洪數以溫邪為主治法外除羊毛內服加減雙解散次以清熱解毒和肝養血調理羊毛溫邪毒火發動面色青滯舌有點紋忽作寒熱煩躁內燒便血不止或素有便血脈象數大以溫邪為主治法外除羊毛內服加減雙解散次以黃連解毒湯加白芍地榆銀花苡仁而愈</p>
<p>羊毛溫邪痹痛十餘日忽寒忽熱自腹痛至腿足又至肩背晝夜不安醫以桂枝杜仲牛膝秦艽等藥不效更加煩躁病象甚危面色青板舌有紫點身痛難以轉側脈象數實治法外除羊毛內服黃連解毒湯加蟬衣殭蠶石膏煎汁加雄黃熟大黃黃蜜和服數劑而愈</p>
<p>羊毛溫邪雙注單注證誤服溫燥藥如霍香厚朴烏藥木香等藥至毒火傷其氣血病加沈重宜用黃連解毒湯白虎湯加黃蜜雄黃和服氣弱者不易收功如本質氣壯者仍服加減雙解散而愈</p>
<p>羊毛溫邪發動毒火面色青滯舌尖紫赤寒熱胸悶口眼歪斜不語肢廢人事昏沈類似中風病情診脈忽沈數而伏忽洪大而實脈證不應非中風也以溫邪法治外除羊毛用瓜蒂散探吐次服加減雙解散五黃丹吐瀉宣通為要並服紫雪金丹珠黃散若服藥後溫毒外達內臟素虧右寸虛弱咳嗽浮熱煩躁言蹇日輕夜重宜早服清燥救肺湯晚服黃連解毒湯加蟬衣殭蠶白附子水煎去渣和雄黃熟大黃黃蜜溫服繼以解毒清熱扶脾養陰而愈</p>
<p>羊毛溫邪腹脹寒熱周身浮腫面色青亮舌有白苔紫點脈象洪實外除羊毛內服加減雙解散增入大腹皮姜皮兼服五黃丹藥服數劑後腫消毒解再以清理餘毒扶脾而愈</p>
<p>羊毛溫邪咽痛咳嗽痰濁聲低脈象數實舌有黃苔布有赤點面色青滯忽然發紅胸悶背脹內燒煩躁食減神倦醫多以虛弱治延久不愈細診此證若論虛勞本病則五火併蒸氣血漸損損盡而已如心火灼金咳嗽胸悶肝火乘胃肝鬱伏寒治用桂枝木香等藥其病日增審病有寒脈則不數舌有紅點必有溫毒所謂惡寒肢冷此熱厥也宜用新制蘭膏湯兼五黃丹服外除羊毛惡寒漸退數解黃沫肢冷回陽繼用黃連解毒湯並調理脾胄而愈</p>
<p>羊毛溫邪潮熱月餘面色青滯舌有黃苔布有紅點脈象數實胸悶作煩食少神倦治法外除羊毛內服加減雙解散繼以清熱解毒和脾而愈</p>
<p>羊毛溫邪七八日後病退微喘食少神倦忽昏忽明絕無病苦脈象細數寸口脈微此陽氣不足欲脫之象也法用補中益氣湯加麥門冬生地黃救之羊毛溫邪七八日後餘邪不退神昏氣怯忽寒忽熱腹中微痛胸忽作悶脈象虛洪氣口脈澀此陰氣不足欲脫之象也法用理陰煎加黃連石膏救之羊毛溫邪病十餘日毒火未盡腎虛呃逆自下而上方用六味地黃湯加磁石石斛黃檗黃連</p>
<p>羊毛溫邪肝虛呃逆自左而上用理陰煎加代赭石旋覆花白芍川黃連繼服六味地黃湯加防風</p>
<p>羊毛溫邪脾虛呃逆自右而上用理陰煎加丁香柿蒂川黃連次用四君子湯加意苡仁澤蘭葉白芍黃芩川貝母</p>
<p>羊毛溫邪三焦呃逆自中而上用新制止呃湯羊毛溫邪肺虛呃逆連聲不止不知所來法用茅草□嚏內服參麥湯加葶藶子石膏杏仁</p>
<p>羊毛溫邪毒火痰結煩躁昏亂寒熱氣促呃逆連聲肺胃壅閉脈數而促治法外除羊毛內服加減雙解散並服五黃丹</p>
<p>羊毛溫邪毛已迭出大解紅沫脅痛急迫難以轉側已服加減雙解散數劑舌苔黃厚浮黑布有點紋神昏煩躁忽熱勿寒方用黃連解毒湯加當歸白芍石膏滑石雄黃黃蜜兼服紫雪金丹</p>
<p>羊毛溫邪已得汗解毛出延久不愈病因溫邪發動誤服桂附乾薑草杲蔻仁等藥致伏毒不除陰陽氣怯臟腑賊火內生真火無權類與溫邪初起之火相同辨其證候在色在脈有病形可考如面色青灰與青滯有辨脈象虛洪與實數有別治法用犀角地黃湯並參麥湯救之生地用一二兩人參用一二錢繼用六味地黃湯加白芍當歸沙參麥冬黃芩黃連</p>
<p>羊毛溫邪病證輕減氣血空虛脈象洪大而軟神和能食苦於夜不安臥煩熱內燒行動少勞自汗不止方用當歸六黃湯加茯神炒棗仁繼用制甘草湯羊毛溫邪毒火已退人事清爽神虛忽煩安臥食少方用黃芩湯加薏苡仁藊豆石膏澤蘭葉徜病久藥煩宜用加減資生健脾丸早晚服之羊毛溫邪毒火未盡咳嗽連聲食少作嘔方用黃連解毒湯加杏仁薏苡仁澤蘭葉並服瀉白散加石膏桔梗大貝母</p>
<p>羊毛溫邪病後復發本證或胄痛或脅痛法用黃芩湯加澤蘭葉川黃連兼服逍遙散加石膏烏梅肉</p>
<p>羊毛溫邪毒火已退素有肝鬱氣逆阻脹心煩內熱夜不能臥法用甘露飲加旋覆花代赭石</p>
<p>羊毛溫邪病愈復患素有疾病宜依常治方法倘有餘邪不盡方中加石膏澤蘭葉</p>
<p>羊毛溫邪病後狐惑似病非病情不能釋治法凡飲食之中皆用石膏泡水烹煮</p>
<p>羊毛溫邪毒壅胃口湯藥不下法用鮮姜一片擦舌雜證同法</p>
<p>羊毛溫邪毒火熾盛不能納藥法用甘蔗漿梨汁西瓜水葧薺汁俱微溫服冷服亦可</p>
<p>羊毛溫邪外除羊毛內服加減雙解散煩躁不寧渴嘔吐蟲氣逆胸脹法以冷飲烏梅湯兼服</p>
<p>婦人有孕病羊毛溫治</p>
<p>有孕婦人患羊毛溫邪其雙注單注病證形象一一如前治法同然設羊毛未出已出未透俱用加減雙解散去薑黃芒哨量服數劑毛除毒解繼以扶脾養胎方用加減資生健脾丸並用四物湯至清理毒大方用黃連解毒湯重用石膏</p>
<p>有孕婦人患羊毛溫邪有毒火極重者外險羊毛內服加減雙解散去薑黃芒硝倍用石膏設邪火內擾忽然漏血胎恐不安致有損傷宜審胎元主養血脈分其臟腑依經調治方用加減雙解散去薑黃芒硝按妊脈之月加藥至毒火輕重醫量之耳</p>
<p>羊毛溫邪有妊一月厥陰肝臟脈養火擾漏血方用加減雙解散去薑黃芒硝以下按月方同本方增入白薇一兩繼用黃連解毒湯加白芍當歸羊毛溫邪有妊二月少陽膽經脈養火擾漏血本方黃芩用五錢增入血餘二錢</p>
<p>羊毛溫邪有妊三月少陰心臟脈養火擾漏血本方黃連用二錢心膏二兩當歸五錢</p>
<p>羊毛溫邪有妊四月手少陽三焦脈養火擾漏血本方石誼用三兩炒山梔一兩</p>
<p>羊毛溫邪有妊五月太陰脾臟脈養火擾漏血本方石膏用一兩白芍五錢防風四錢黃連二錢羊毛溫邪有妊六月足陽明胃經肺養火擾漏血本方石膏用四兩炒山梔四錢當歸五錢</p>
<p>羊毛溫邪有妊七月太陰肺臟脈養火擾漏血本方石膏用三兩黃芩五錢白芍五錢炒山梔三錢增入川貝母五錢</p>
<p>羊毛溫邪有妊八月手陽明大腸脈養火擾漏血本方石膏用二兩黃芩五錢炒山梔三錢當歸五錢增入炒枳殼一錢</p>
<p>羊毛溫邪有妊足月少陰腎臟脈養火擾漏血未破漿胞本方石膏用二兩當歸五錢增人川芎川貝母各一錢</p>
<p>羊毛溫邪有妊將生燒躁煩亂似欲生產又不能生忽然癇瘋大作抽搐昏沈牙關緊閉急用川芍一錢全當歸五錢殭蠶三錢蟬退十四枚河水煎去渣和紫雪金丹三錢服下即能癇止生孩下地產婦宜多服童便米湯羊毛溫邪新生產後羊毛擦出毒火漸輕方用加味佛手散</p>
<p>羊毛溫邪產後五六日或十餘日毒發雙注證脈象沈實寒熱胸脹周身拘痛面青昏厥舌乾而赤或苔黃而膩或灰白均有紫點裂紋或頭痛如裂煩躁狂亂或毒結乳癰或四肢腫痛或面腫唇掀耳腫作痛治法外除羊毛內服加味佛手散去桂枝清水煎去渣和回生丹一粒服之如不愈服新制蘭膏湯繼用解毒養陰理脾而愈</p>
<p>羊毛溫邪產後四五日毒火發動微寒壯熱頭痛作暈心煩口渴內燒腹痛四肢麻木周身拘束面青色滯舌赤苔黃或白布有點紋書夜不安治法外除羊毛內服加味佛手散增人秋石雄黃黃蜜兼服回生丹如不愈並服紫雪金丹燈心湯下</p>
<p>羊毛溫邪產後十餘日面色青滯舌紫苔黃布有細點嘔吐痰水忽寒忽熱頭痛眩暈胸悶氣脹治法外除羊毛內服加味佛手散兼服五黃丹</p>
<p>羊毛溫邪產後一月內外寒熱胸悶面青舌赤治法外除羊毛內服新制蘭膏湯並五黃丹病退即止繼服加減資生健脾丸</p>
<p>羊毛溫邪產後四五十日毒人雙注面青舌紫有苔有點煩躁譫言壯熱內燒治法外除羊毛內服加減雙解散去硝黃增元明粉熟大黃雄黃並服五黃丹繼服新制蘭膏湯</p>
<p>以上有治胎前產後法未盡善者務須臨證參詳活人更多矣</p>
<p>婦女病羊毛溫行經治法</p>
<p>婦女患羊毛溫邪毒火擾動血室或逢當期暴下不止人事昏沈譫言狂躁治法外除羊毛內服加減雙解散方內當歸用五錢黃芩三錢增人白薇一兩數服後病退繼以清熱解毒簽血理脾不至經枯經閉淋瀝不調為害婦女患羊毛溫邪毒火迫血不當行經忽然而行血湧昏亂譫言發厥邪火更熾治法外除羊毛內服加減雙解散方內石膏用四兩當歸用五錢增入羚羊角尖五錢白薇五錢大生地一兩取汁沖服並服紫雪金丹燈草湯下</p>
<p>婦女患羊毛溫邪毒火擾動精府帶下如水腰痛束脹寒熱煩躁舌有紫點胸悶口渴治法外除羊毛內服加減雙解散方內石膏用二兩增人羌活一錢雄黃三分次服豬苓湯加蟬衣殭蠶石膏澤蘭葉倘本質素虧溫邪解退宜培補陰陽如大造丸固本丸皆可通用</p>
<p>嬰兒病羊毛溫治</p>
<p>嬰兒初中下地多有胎熱發厥吐沫不哭肝火生風手足動搖法用紫雪金丹三五釐常服燈草湯下</p>
<p>嬰兒初生胎濕生黃法用陳氏抱龍丸葧薺清汁和勻溫服數次而愈嬰兒初生臍風撮口證由於有孕多欲法用九製大黃五釐陳氏抱龍丸五釐燈草湯和服</p>
<p>嬰兒初生胎中毒火發赤遊風或發丹毒由妊娠時菸酒辛膻食物太過致有此患法用針砭去其毒血藥用紫雪金丹一分燈草湯和服次以犀角羚羊角石膏蟬退荊芥元參黃連等分煎湯服之</p>
<p>嬰兒下地三十日內外發熱變蒸十月之間月月忽然發熱不可作病證醫此熱由於內生主長養之氣至常以葧臍清汁兼服白蜜湯解之或用紫雪金丹少許燈草湯下</p>
<p>嬰兒變蒸時素有肝火生痰發熱氣從苗竊不通面色青亮忽變浮紅目瞪微搐法宜羚羊角石膏防風薄荷鉤藤鬱金山查桔梗時習多以乳滯著駭撲風為論而用疏風消滯鎮驚化痰之藥服下無效致病轉劇危困無救深可嘆也書云如保赤子心誠求之至審察病情惟望聞問切嬰兒在四診之中已少其三獨診其色所以較難診者如此何況診視羊毛證乎故略舉數端為幼科醫備一參耳</p>
<p>嬰兒感受溫毒伏而化生羊毛兒生下地十月之內皆無此證或問何也答曰嬰兒氣貫胸頂呼吸通於囟門溫毒不能相干至食五味之早者囟門合之亦早七人們月或作此證或兩三個月亦有此證由母有溫邪子亦受之其病形象手足忽冷頭身忽熱面色青滯或青浮紅唇乾口渴舌有紅點氣促神倦治法外除羊毛內服加減雙解散其分數約全劑十之三四能吐能瀉可服米粥繼以新制蘭膏湯五黃丹酌量服之毒火已退宜用加減資生健脾丸</p>
<p>嬰兒患羊毛溫邪適逢出痘急宜外除羊毛否則閉痘不出六日以前依羊毛治法方用加減雙解散增人中黃牛子雄黃蘆根芫荽六日以後仍歸痘證法治</p>
<p>嬰兒患羊毛溫邪出痘證系雙注宜忌雖汁魚辛倘服此物昏阻煩亂倍增嬰兒患羊毛溫邪出痘證系單注外除羊毛內依痘證治法</p>
<p>羊毛溫邪出痘務須除毛為急擦浴並施</p>
<p>羊毛溫邪兼之出痧其法相同</p>
<p>羊毛溫邪不治證</p>
<p>毒注不解人事昏厥胸脹如有不能呼吸皮膚紫黑脈下至者死</p>
<p>毒火雙注證誤服溫燥藥者死</p>
<p>毒重脈空神昏煩亂者死</p>
<p>毒火熾甚口鼻出血狂躁譫言脈虛散者死</p>
<p>毒火注絡周身拘痛痛急昏厥面色青收手足紫脹浮腫脈急或伏者死</p>
<p>舌紫無苔鼻孔如煤面紫脹亮人事昏沈者死</p>
<p>目紅嗆血氣促脈微者死</p>
<p>腹脹如石叫痛不休舌紫有刺無苔者死</p>
<p>煩躁喘阻抽搐鼻扇眼眶落陷者死</p>
<p>呃逆不止者死</p>
<p>張狂直視舌強不語者死</p>
<p>氣急吐蛔循衣被者死</p>
<p>舌卷囊縮者死</p>
<p>潑熱脈躁狂言不食舌赤無苔者死</p>
<p>毒留不退體如煙燻搖頭氣急者死</p>
<p>嗆軟不食氣喘神倦者死</p>
<p>溫邪病退元氣散亂者死</p>
<p>屢汗而病不退者死</p>
<p>久熱不退脈虛者死</p>
<p>病後不食唇青或黑昏倦肢冷者死</p>
<p>挑羊毛至膜無血者死</p>
<p>婦人有孕毒火迫血不止神昏阻厥者死</p>
<p>婦人產後昏厥腹痛阻脹浮腫紫色者死</p>
<p>婦女熱入血室暴下不止神昏狂躁喘阻舌強不食者死</p>
<p>嬰兒病昏厥直視脹阻喘悶效嗆不食浮腫紫亮口鼻出血者死</p>
<p>毛毒閉悶痘痧不出者死萬事由於前定災殃測理分明治法求源細參靈典內有針砭用其補泄倘能俞穴處准即得臟腑氣至夫針自上古傳有九數其形各別九者以按天地人身四時陰陽九宮之謂至於病有浮沈刺有淺深經絡血脈補瀉得宜各盡其妙經云一天二地三人四時五音六律七星八風九野身形亦應之如人皮應天人肉應地人脈應人人筋應時人聲應音人陰陽合氣應律人齒面目應星人出氣應風人九竅三百六十五絡應野故一針皮二針肉三針脈四針筋五針骨六針調陰陽七針益精八針除風九針通九竅除三百六十五節氣此之謂有所主也今見羊毛溫證常用九針內第一針開皮七針刺俞其針處在胃之上脘胃之下脘又胃俞左右皆刺其俞在背心自上數下第十二椎骨節兩旁此四處有點亦或無點按此四處施治先用毫針刺此四處再用鑱開皮無血拔出羊毛有血即止余欣然明白有是證暗合是法但針砭流傳已久偶中一二未能十全所以未通行也至於天地之間運化無窮時逢有疾其治不謀而合此天地之機合乎道也夫醫教自黃帝之後二千五百有餘年自仰景之後千有餘歲其未可見者眾矣其往可稽者灼然若不知年之所加氣之轉運病之虛實治之補泄不可以為醫矣謹述圖翼於下</p>
<figure>
<img alt="九針之一名鑱針">
</figure>
<p>其頭大其末銳取法於巾針去末半寸漸銳之長一寸六分</p>
<figure>
<img alt="九針之七名毫針">
</figure>
<p>尖如蚊蟲喙取法於毫毛長一寸六分</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>

<h2>除羊毛法</h2>
<p>喬麥研細成粉用冷水熱水各半和勻成團手握在病者胸前圈擦至腹背後圈擦至腰再擦膀腕腿腕四處再擦頭面遍身其毛盡出多擦為妙事後病不復發有用燒酒和蕎麥麵成團擦者亦好</p>
<p>有用青布浸熱燒酒遍身圈擦其毛亦出</p>
<p>用蕎麥麵陰陽水和團圈擦並治風寒氣鬱脹悶反胃咳嗽痹痛皆效此</p>
<p>乃偶遇之方並錄</p>

<h1>備用諸方</h1>
<p>五味消毒飲一</p>
<p>金銀花（三錢）　野菊花　蒲公英　紫花　地丁　紫背　天葵　（各一錢）二分水煎去渣加無灰酒半杯服</p>
<p>黃連解毒湯二　治羊毛溫邪毒火內熾壯熱狂越煩躁目赤咽乾唇燥錯語不眠吐血衄血熱盛發癍或周身痹痛腹痛嘔吐</p>
<p>黃連（三錢）　黃檗（三錢）　山梔子（二錢）　黃芩（二錢）水煎去渣溫服</p>
<p>加減雙解散三治溫證羊毛毒火頭痛煩臊寒熱胸悶氣脹頭目眩暈口苦耳聾唇燥咽乾舌有黃苔或膩滑或粉白厚薄不一夾有紅點裂紋甚至干而有刺或黑或中空或舌本鮮赤無苔或渴或不渴或吐痰水噁心譫言昏厥並治毒在下部腰痛足腫毒在皮膚髮赤遊行疹塊癍痧毒在少陽寒熱如瘧口苦而噦毒在陽明煩熱而吐腮腫面腫狂躁而渴毒在大腸瀉痢膿血毒在脾臟腹堅大而痛毒在少陰咽痛微熱內燒吐血毒在厥陰頭痛目眩筋惕抽搐口歪不語呃逆神昏以上諸證不得盡見若見一二證相同即用此方</p>
<p>綿紋大黃（三錢）　芒硝（二錢）　黃連（一錢）　黃芩（二錢）　山梔子（一錢）　石膏（一兩）　飛滑石（三錢）　荊芥（一錢）　防風（一錢）　桔梗（二錢）　甘草（一錢）蘇薄荷（一錢）連翹去心（一錢）　全當歸（一錢）　白芍藥（一錢）　蟬退殼（十二枚）　白殭蠶（三錢）　廣薑黃（七分）</p>
<p>河水煎去渣下芒硝攪勻再加無灰酒五錢黃蜜三錢和勻溫服此方系河閒論中雙解散加殭蠶蟬退殼廣薑黃方內減去白朮恐閉毒火減去麻黃恐傷衛氣伏邪毒火以裡氣為主佐以宣表方用荊防蟬桔簿荷連翹石膏以解表熱薑黃殭蠶山梔行氣宣郁芩連滑石甘草解泄毒火硝黃盪滌腸胃毒垢歸巧調養血脈酒利氣血峰蜜潤腸亦能解毒是乃除邪解毒之妙方也</p>
<p>本方減去荊防甘桔石膏滑石芒硝當歸連翹加柴胡橘度枳實黃檗方名加減大柴胡湯治羊毛溫毒邪作寒熱</p>
<p>加味涼膈散（五）溫證羊毛火鬱於上狀熱面赤唇燥舌乾煩躁譫言胸悶氣滯脈象數實此方主之）</p>
<p>生大黃（三錢）　黃連（二錢）　黃芩（一錢）　山梔子（二錢）　蘇薄荷（三錢）　甘草（一錢）　連翹（去心。二錢）　白殭蠶（三錢）　蟬退殼（十二枚）　廣薑黃（七分）　嫩竹葉（一錢）水煎去渣下芒硝三錢攪勻再加無灰酒半杯黃蜜三匙和服如嘔吐口渴本方加石膏一兩心中煩熱加麥冬</p>
<p>荊防敗毒散六治四時溫邪伏有羊毛頭目眩痛四肢軟倦忽寒忽熱腰背強痛胸悶不寬</p>
<p>羌活（一錢）　獨活（一錢）　荊芥（二錢）　防風（三錢）　柴胡（八分）　前胡（二錢）　甘草（一錢）　桔梗（二錢）　薄荷（二錢）　川芎（一錢）　枳殼（一錢）云赤苓（三錢）　鮮姜（一錢）水煎去渣溫服如溫毒甚重加生大黃五錢蟬退十二枚殭蠶三錢</p>
<p>按此升燥太甚用之宜慎</p>
<p>溫證解毒散七治羊毛溫邪毒火伏郁頭面腫大寒熱如瘧胸脅脹悶並治一切火毒閉結不論老少強弱量其毒之輕重服之此方惟以攻宣伏邪保全正氣不至毒火傷元為主</p>
<p>生大黃（四錢）　殭蠶（三錢）　薑黃（七分）　蟬退殼（十二枚）共研細未每服二錢加黃蟹三匙陳酒半杯開水和服或蜜酒為丸名太極丸</p>
<p>五黃丹八治一切溫毒宣伐之妙方也另有湯引</p>
<p>生大黃（一兩）　人中黃（五錢）　明雄黃（五錢）　廣薑黃（三錢）　牛黃（一錢）　硃砂（五錢）　冰片（五分）　蟬退殼（五錢）　殭蠶（一兩五錢）共研細未用黃蜜陳酒為丸重二錢一粒</p>
<p>一治頭面腫大菊花（一錢）　薄荷（八分）水煎去渣和丹一粒連服數次以消為度</p>
<p>一治羊毛溫證石膏（一兩）水煎去渣化元明粉（一錢）和丹服</p>
<p>一治癍疹瘀痘火毒赤遊丹腫等證石膏（一兩）　犀角鎊屑（一錢）水煎去渣和丹服</p>
<p>一治溫瘧寒小熱多青蒿（二錢）　石膏（五錢）水煎去渣和丹服</p>
<p>一治紅白毒痢腹痛墜脹當歸（二錢）　黃芩（一錢）水煎去渣和丹服</p>
<p>一治伏熱吐血秋石（五分）開水化和丹服</p>
<p>一治伏邪胸悶頭痛薄荷一錢川芎五分水烈去渣和丹服</p>
<p>一治濕毒瘴厲蠱毒膿瘡疥癬癰腫疔瘍金銀花（一錢）　甘草（一錢）水煎去渣和丹服　一治小兒急驚阻厥發熱神昏胸悶氣喘癇風抽搐薄荷（一錢）　鉤藤（三錢）水煎去渣和丹服</p>
<p>按方名五黃治從小極宣表攻裡險邪解毒安輔氣血旋轉陰陽黃宮內養安寧之意也</p>
<p>瓜蒂散九治溫毒閉塞羊毛伏郁痰結胸中脹悶煩臊</p>
<p>甜瓜蒂炒黃用（考之生嵩高平澤間又發明可作羹食除瓤食之金陵俗名北瓜）赤小豆炒等分　共研細末用酸漿水調溫服吐不止者蔥白湯解之吐不出者含沙糖一塊即吐出膠痰溫邪振作繼服雙解散等藥</p>
<p>珠黃散十治羊毛溫邪毒火痰結氣喘昏迷狂躁阻厥</p>
<p>珍珠用豆腐包合水煮數沸牛黃色黃有細紋硃砂研水飛</p>
<p>以上三味等分研細用葧臍清汁和勻溫服</p>
<p>東垣普濟消毒飲十一治羊毛溫邪惡寒壯然體重身倦頭而腫大或兩腮腫痛咽喉不利喉蛾咽腫口乾舌刺胸悶氣脹</p>
<p>川黃連（五錢及　黃芩（五錢）　甘草（二錢）　桔梗（二錢）　元參（三錢）　荊芥穗（二錢）　防風（二錢）　升麻（一錢）　薄荷葉（一錢）　連翹（去心。一錢）　馬勃（一錢）　白殭蠶（三錢）　蟬退殼（十二枚）牛蒡子（炒。一錢）　柴胡（一錢二分）　炒山梔（二錢）　生大黃（八錢）　芒硝（提淨。四錢）水煎去渣下芒硝加黃蜜五錢陳酒五錢和溫服</p>
<p>按溫毒乘於清道陽氣受之肺主氣氣為火逼壅鬱不通肺氣不降致汙　腫於頭面亦有咽痛頤腫等證東垣云半身以上天之陽也邪氣客於心肺之間上攻頭面而為腫耳並用甘桔升麻柴薄疏通其氣芩連元參山梔以降溫邪毒火馬勃殭蠶牛子以消腫荊蟬翹防宣熱散結再加硝黃以攻逐其熱則溫毒解散頭腫皆消而清氣舒暢矣</p>
<p>陶華三黃石膏湯加減十二治羊毛溫邪大熱神昏兩目如火唇若塗朱煩躁譫言口渴不寐鼻衄失血發癱發疹脈象洪長此方主之</p>
<p>黃連（三錢）　黃芩（二錢）　黃檗（二錢）　生石膏（四兩）　山梔子（二錢）　淡豆豉（二錢）　白殭蠶（三錢）　蟬蛻殼（十五枚）水煎去渣加黃蜜五錢和服</p>
<p>按此方去麻黃加蟬蛻殭蠶能解表熱並解裡熱急救陰陽以保性命或云此等大熱何不釜底抽薪亦是正法答云獨不診脈乎見如是之熱病見洪長之脈象其洪者火氣至也其長者木氣至也互相剋制金土被熾氣血枯槁腎水內竭木風鼓動所謂邪陷厥陰終難釋矣或云何不用清滋一法清者泄其熱濺者補其陰亦是化邪正法答曰凡內生之火宜清素虧之陰宜滋化邪者化其情欲之邪熱也非化外因之邪熱也夫外因邪熱乘於內臟焚燒煎煉精液乾枯陰陽離散其命危矣急宜早圖涼解之法逐退賊邪然後清滋有益方用石膏豆豉以解表熱梔檗芩連以泄裡熱蟬蛻殭蠶以搜伏邪黃蜜滋潤五臟又能解毒頗為全備此羊毛溫邪之妙方也</p>
<p>犀角大青湯十三治羊毛溫邪毒火極重赤遊癍疹煩躁不寧神昏壯熱口渴譫言脈象洪數早宜解救否則癍黑胃爛無效</p>
<p>犀角尖（三錢）　升麻（二錢）　元參（五錢）　黃連（二錢）　黃苓（三錢）　黃檗（二錢）　山梔子（二錢）　甘草（一錢）　大青（二錢）如無用青黛水煎服如脈象數實本方加蟬蛻（十二枚）　殭蠶（三錢）　生大黃（四錢）　芒硝（三錢）　黃蜜（五錢）</p>
<p>消癍青黛飲十四治羊毛溫邪毒火內熾攻解不當下遲傷陰內外火併攻胃發癍色現紫赤狂躁作嘔此方主之</p>
<p>大生地（二兩。取汁）　犀角尖（二錢）　黃連（一錢）　元參（五錢）　生石膏（一兩）　知母（八錢）山梔子（二錢）　柴胡（八分）　甘草（二錢）　生大黃（一錢）　青黛（一錢）　黃蜜（五錢）水煎去渣人生地汁青黛黃蜜和勻服</p>
<p>節庵導赤各半湯十五治羊毛溫邪大病後忽變神昏語錯目赤唇乾與粥湯則咽不與不思似臥非臥形如酒醉此餘邪內熾氣血損傷故也方用</p>
<p>人參（一錢）　麥冬（去心。二錢）　茯神（二錢）　滑石（二錢）　甘草（一錢）　知姆（一錢）　黃芩（二錢）　山梔子（二錢）　黃連（二錢）　犀角尖（二錢）　燈草（一錢）　黃蜜（三錢）水煎去渣和蜜溫服</p>
<p>清燥救肺湯十六治羊毛溫邪火傷肺氣發熱咳嗽胸中氣悶煩躁恍惚類似瘋痱舌強不語手足痿軟並餘邪咳嗽氣急</p>
<p>沙參（五錢）　麥冬（去心。三錢）　陳阿膠（一錢）　火麻仁（研。二錢）　杏仁（研。一錢）　甘草（一錢）　煆石膏（一兩）　霜桑葉（三錢）　枇杷葉（去毛）　蜜制（五錢）　黃蜜（二錢）水煎去渣人膠蜜和勻溫服</p>
<p>景岳玉女煎十七治羊毛溫毒餘邪腎陰素虛火炎上忽煩忽躁咽乾口渴衄血牙痛</p>
<p>煆心膏（一兩）　知母（三錢）　麥冬（去心。二錢）　大熟地（五錢）　懷牛膝（一錢）　水煎去渣服</p>
<p>同方甘露飲十八治半毛溫邪已退陰陽皆虧硝黃用時未足致留餘毒口臭喉瘡齒齦宣露吐血齒衄天冬（二錢）　麥冬（去心。五錢）　大熟地（三錢）　大生地（三錢）　金釵石斛（三錢）　黃芩（二錢）　滑石水飛（三錢）　甘草（二錢）　犀角尖（二錢）　茵陳蒿（一錢）　炒枳殼（八分）　枇耙葉（去毛。三錢）水煎去渣加黃蜜三錢和服</p>
<p>犀角地黃湯十九治羊毛溫邪漸減陰虛火熾吐血衄血餘毒發癍犀角尖（三錢）　丹皮（二錢）　白芍藥（三錢）　大生地（八錢）　水煎去渣加黃蜜三錢和服如熱迫血多本方加秋石一錢藕汁一杯對服</p>
<p>黃連何膠湯二十治火毒灼陰煩熱解血疑惑病劇勢無可依夜不安臥證名</p>
<p>狐惑此湯治之</p>
<p>白芍五錢黃連一錢黃芩二錢陳阿膠一錢生雞子一枚水煎去渣下阿膠熔化再下雞子黃調勻服</p>
<p>景岳理陰煎二一治羊毛溫邪毒火漸陷真陰內虛真陽氣怯嘔蛔作煩虛呃大熟地（五錢）　當歸身（三錢）　乾薑（一錢）　制甘草（一錢）水煎去渣服</p>
<p>制甘草湯二二治溫邪病後陰陽氣怯脈見代象餘毒不解神倦自汗</p>
<p>大生地（四兩）　麥冬（去心。一兩）　人參（二錢）　制甘草（一錢）　火麻仁（研。三錢）　陳阿膠（二錢）　桂枝木（一錢）水煎去渣下阿膠化服</p>
<p>當歸六黃湯二三治溫毒餘邪病延日久陰氣大傷內熱心煩自汗盜汗食少神倦脈象洪大寸短而數此方主之</p>
<p>當歸身（三錢）　生黃耆（一錢）　川黃連（一錢）　黃檗（一錢）　黃芩（二錢）　生地黃（三錢）　熟地黃（三錢）水煎去渣溫服</p>
<p>按陰虛盜汗陽虛自汗餘毒伏郁陰陽氣怯且寐則術氣行陰陰不濟陽致陽火毒火勝爭於陰故失守而盜汗其寤則榮氣行陽陽不固密緻陰火毒火勝爭於陽故浮越而自汗胃為邪火所傷內熱心煩食少神倦方用當歸二地滋陰養血黃芩黃檗黃連令三焦上下火平黃耆實表建中以生神也</p>
<p>清骨散二四治溫毒攻遲邪火傷陰大病之後骨蒸潮熱並治勞傷內燒銀柴胡（二錢）　胡黃連（一錢）　秦艽（一錢）　鱉甲醋煆（五錢）　地骨皮（三錢）　青蒿（二錢）知母（三錢）　甘草（一錢）　秋石（三分）水煎去渣秋石和服</p>
<p>龍膽瀉肝湯二五治溫邪病退餘毒留於肝腎脅痛可聾口苦咽乾筋痿陰汗陰囊腫痛白濁便血忽寒忽熱</p>
<p>龍膽草（三錢）　黃芩（二錢）　山梔子（二錢）　木通（一錢）　車前（一錢）　銀柴胡（一錢）　甘草（一錢）　當歸（二錢）　生地黃（五錢）如伏邪未盡加蟬蛻七枚殭蠶二錢水煎去渣下黃蜜三錢和勻溫服</p>
<p>易老瀉白散二六治肺經伏火餘毒未盡或寒熱或潮熱內燒咳嗽桑白皮（二錢）　地骨皮（五錢）　甘草（一錢）　川黃連（一錢）　粳米（三錢）水煎去渣服</p>
<p>豬芩湯二七治溫邪病後濕熱腹脹小水不利飲食減少微熱不退並治溫邪</p>
<p>熱熾滑精帶下白濁</p>
<p>滑石水飛（五錢）　豬芩（一錢）　澤瀉（一錢）　陳阿膠（一錢）水煎去渣下阿膠和勻服導赤散二八治心經伏熱並治溫證餘邪小便赤色心煩神倦睡臥不寧</p>
<p>生地黃（五錢）　木通（一錢）　甘草（一錢）　嫩竹葉（一錢）水煎去渣溫服</p>
<p>六味地黃湯二九治溫邪病後腎元木虧又經邪火煎灼陰氣更虧</p>
<p>熟地黃（八錢）　山萸肉（四錢）　山藥（四錢）　雲茯苓（三錢）　丹皮（三錢）　澤瀉（三錢）水煎去渣下食鹽一分和服</p>
<p>資生健脾丸加減三十治羊毛溫邪慚平中土素虧食少不運藥煩停藥此丸主之並治有孕患溫邪證毒火已退惟宜扶土此安胎之妙方也</p>
<p>防黨參（一兩）　於白朮（土炒焦。一兩）　橘紅（八錢）制甘草（五錢）　桔梗（八錢）　薏苡仁（一兩）　白藊豆（一兩）　山藥（一兩）　雲茯苓（一兩）　炒楂肉（一兩五錢）　焦神麴（一兩。炒）麥芽（一兩）　黃連（五錢）　建蓮肉（一兩）　當歸（一兩）　白芍藥（一兩）　金銀花（八錢）　石膏（一兩）右研細末煉熟黃蜜為丸每服三錢開水送下</p>
<p>陳氏抱龍丸三一治風痰壅盛或發熱咳喘或發驚搐嬰兒初生胎毒等證並治羊毛溫毒痰阻</p>
<p>九制膽星（四兩）　天竺黃（一兩）　雄黃（五錢）　硃砂（五錢）　麝香（三分）　琥珀（三錢）　西牛黃（一錢）右藥味另研繃末極足分量合在一處用甘草一觔水煮濃汁搗丸每兩作十丸陰乾金箔為衣蠟殼封固用時去蠟殼燈心湯和服或薄荷湯亦可或葧臍清汁和服</p>
<p>清涼飲三二治羊毛溫邪壯熱煩躁頭重口渴唇腫舌燥腮腫失血</p>
<p>石膏（一兩）　澤蘭葉（二錢）　蟬蛻殼（十二枚）　白殭蠶（三錢）　黃地（一錢）　黃芩（二錢）　山梔子（二錢）　丹皮（二錢）　大生地黃（五錢）　當歸（一錢）　甘草（一錢）　銀花（三錢）　秋石（三分）　黃酒（五錢）　黃蜜（五錢）水煎去渣下秋石酒蜜和勻溫服</p>
<p>上清飲三三治羊毛溫邪壯熱微寒體重舌乾音低口渴氣急胸悶咽痛面腫忽有抽搐神昏阻厥</p>
<p>石膏（五錢）　澤蘭葉（二錢）　元參（三錢）　黃芩（一錢）　黃連（一錢）　山梔子（一錢）　連翹（一錢）　金銀花（一錢）　甘草（八分）　蟬蛻殼（十二枚）　白殭蠶（二錢）　白附子（五分）　桔梗（二錢）　橘紅（一錢）　黃蜜（三錢）　黃酒（三錢）水煎去渣酒蜜和服</p>
<p>按方治溫毒伏於上中二焦肺為主病則金不能左旋木自不能右旋致有抽阻氣急之象其方用石膏白附一降痰一散熱余藥佐以解毒宣通加味黃連解毒湯三四治羊毛邪毒發熱心煩身軟神倦舌有紫點胸悶食少</p>
<p>小水黃赤脈象沈數而大並治毒重餘邪</p>
<p>黃連（一錢）　黃芩（一錢）　黃檗（二錢）　山梔子（一錢）　桔梗（二錢）　甘草（一錢）　金銀花（一錢）　車前子（一錢）　木通（一錢）　六神麴（炒。二錢）　蟬蛻（十枚）　白殭蠶（三錢）水煎去渣加生大黃末五分黃蜜三錢和勻溫服</p>
<p>回生湯三五治羊毛溫邪上八日後表裡大熱火誤服溫燥藥又毒火發動致神昏不語胸脹氣急或哭笑無常手舞足蹈譫妄不寧脈象洪數重按不足此湯治之</p>
<p>南沙參（二兩）　麥冬（去心。二錢）　云茯神（二錢）　生地黃（五錢）　當歸（一錢）　犀角尖（二錢）　黃連（一錢）　黃芩（二錢）　山梔子（一錢）　丹皮（二錢）　知母（二錢）　消石水飛（三錢）甘草（八分）　蟬蛻殼（十枚）　白殭蠶（二錢）　釵石斛（四錢）　元明粉（二錢）　黃蜜（三錢）水煎去渣下元明粉黃蜜和勻溫服</p>
<p>按溫毒發作陽明燥金主氣金被火傷木風擾動心神不寧此方扶元氣救元陰除邪定風解釋毒火</p>
<p>新制蘭膏湯三六治羊毛溫邪氣血虧損或產後半月內伏羊毛毒火胸悶食少寒熱頭身作痛嘔吐黃水口苦黏膩腹脹脅痛遍身麻木倦怠神昏氣阻發厥並治除邪口淡作干煩熱不寐</p>
<p>澤蘭葉（三錢）　石膏（五錢）　蟬蛻殼（十二枚）　白殭蠶（二錢）　桔梗（二錢）　甘草（一錢）　防風（一錢。炒）　山梔（一錢）　薄荷葉（一錢）　黃芩（一錢）　新會橘紅（一錢）　元明粉（一錢）當歸（一錢）　白芍藥（二錢）　雄黃（二分）　黃蜜（三錢）水煎去渣下元明粉雄黃黃蜜和勻溫服如毒重深伏加熟大黃二錢和服</p>
<p>新制止呃湯三七治羊毛溫毒餘邪氣虛呃逆心煩不寧食少作噦神倦微熱胸脹不臥</p>
<p>人參（一錢）　半夏（八分）　甘草（五分）　葶藶子（一錢）　白芍（三錢）　熟附子（五分）　吳茱萸（五分）用黃連五分煎水拌炒雲茯苓二錢西瓜子殼四兩水煎去渣服</p>
<p>左金地骨飲三八治羊毛溫邪內傷金土木氣橫逆脅痛不止氣閉壅脹難以轉側脈象弦大或沈弦而細並治牙疼久不能愈此方主之不可加減大熟地（五錢）　骨碎補去毛蜜制（三錢）　釵石斛（三錢）白芍藥（五錢）　雲茯苓（一錢）蟬蛻（七錢）磨刀水煎去渣服</p>
<p>加味佛手散三九治羊毛溫邪新生產後毒火伏郁神昏口渴胸脹氣阻頭痛身麻燒熱譫言忽寒忽熱眩暈不寐或腹中停瘀作痛</p>
<p>川芎（二錢）　全當歸（五錢）　生黃耆（三錢）　荊芥穗（一錢）　澤蘭葉（三錢）　五靈脂（一錢）醋炒延胡索（五分）　酒炒楂灰（二錢）　桂枝木（五分）　蟬蛻殼（十枚）　白殭蠶（一錢）水煎去渣溫服如毒重加秋石（一錢）　雄黃（二分）　黃蜜（三錢）和服如寒困毒火加上肉桂三分減去桂枝</p>
<p>回生丹四十治婦人產後諸疾汙穢未淨及實邪脹痛瘀血沖逆並治羊毛溫毒等證另有湯引</p>
<p>生黃耆（二兩）　白朮（五錢）　青皮（三錢）　醋炒木瓜（三錢）　全當歸（一兩五錢）　酒洗川芎（八錢）　香附醋炒（八錢）　地榆炒（五錢）　蒲黃（五錢）　赤茯苓（八錢）　桃仁炒研（八錢）大熟地（一兩五錢）　懷牛膝（五錢）　鹽湯炒山萸肉（五錢）　京三稜酒炒（三錢）　五靈脂醋炒（五錢）　甘草（五錢）　荊芥穗（五錢）　新會橘皮（五錢）　白芍（五錢）　烏藥（一兩）　乳香煆（一錢）　沒藥煆（一錢）　廣木香（一錢）　白殭蠶（一兩）　蟬蛻（五錢）　廣薑黃（三錢）　紅麴（八錢）右為細末用大黃膏為丸彈子大金箔為衣大黃膏法用蘇木三兩河水五碗煎至三碗去渣紅花三兩炒黃色用無灰酒二觔煮十數滾去渣小黑豆一升水煮留汁三碗黑豆曬乾研末俱聽用生大黃一觔為末用米醋八碗熬成膏次下蘇木湯紅花酒黑豆汁攪勻又熬成膏貯於盆將鍋焦焙乾為末同黑豆末前藥末合丸</p>
<p>一治羊毛溫邪新產後用秋石四分泡湯和丸溫服　一治產後伏毒面青忽紅唇乾舌赤鼻中流血煩熱頭痛遍身影點成癍用丹三粒加黃蜜一匙黃酒一鍾童便一鐘調勻溫服　一治妊婦因患溫證子死腹中務須審脈辨證察舌有無青黑方用川芎一錢當歸二錢煎湯去渣加童便一杯黃酒三錢黃蜜三錢元明粉一錢化丹三粒服之即下　一治產後敗血停滯並毒火擾亂如見鬼神語言顛倒用燈草一團黃連三分水煎去渣加秋石三分化丹兩粒溫服</p>
<p>一治產後溫毒擾亂敗血腹痛周身浮腫或四肢浮腫食少氣喘皮膚俱見赤色用生桑皮一錢水煎去渣加童便一鍾黃蜜三錢化丹三粒溫服以上治產後溫證四條大有神效此丹治產後雜證更妙故附錄以廣濟之</p>
<p>一催生遇靴產之際用丹一粒研碎貯碗加蔥白三枚黃酒一茶鍾重湯蒸熟去蔥服之立刻就生</p>
<p>一產時黃逆難生並胞衣不下用丹一粒開水和加黃蜜一匙童便一杯黃酒一杯溫服</p>
<p>一產後兒枕痛惡露不盡用丹一粒開水和加沙糖一匙溫服</p>
<p>一產後頭痛身熱有汁用開水化丹一粒服之　一產後眼昏腰痛身似角弓用川芎（五分）　全歸（一錢）　白薇（一錢）　生黃耆（一錢）荊芥（八分）水煎去渣化丹二粒服之</p>
<p>一產後崩中惡露不止血如肝色周身拘束潮熱不退用開水黃酒各半化丹一粒服之</p>
<p>一產後血暈頭旋眼黑語言錯亂用白芍藥（一錢）　菊花（五分）水煎去渣化丹一粒加童便一杯服之</p>
<p>一產後胸悶口乾煩渴不寧因停滯飲食用炒山楂一錢煎湯化丹一粒服之　一產後寒熱如瘧用開水化丹一粒加黃酒一杯溫服</p>
<p>一產後忽寒熱咳喘心煩驚悸口渴用生黃耆全當歸各一錢荊芥川芎各三分水煎去渣化丹一粒服之　一產後二便不通用枳殼五分煎湯化丹一紋加黃蜜一大匙服之</p>
<p>一產後失音用甘菊五分桔梗八分訶子四分煎湯化丹一粒服之　一產後無乳用丹一粒加天花粉歸身炒山甲各三分研細未入黃酒開水化服　一治婦人經水不調用蔥白二枚泡湯化丹二粒服之冷飲鳥梅湯四一治羊毛溫邪毒火沖逆嘔吐有蟲水漿不入煩躁胸悶並治</p>
<p>署火嘔痰胸脅刺痛乍熱心煩</p>
<p>鳥梅（四十枚）　龍腦薄荷（三錢）　金銀花（三錢）共熬汁去渣下冰糖三兩化冷服紫雪金丹四二治內外熱熾狂躁譫妄熱鬱發癱痰湧抽搐目瞪神呆陽毒發黃口舌生瘡腳氣衝厥羊毛溫毒玳瑁溫證瘴癘溫瘧痧痘瘡毒喉風中暑諸般溫毒一切實火閉結沈困及小兒胎毒臍風撮口胎黃胎驚五癇　急驚等證大有神效每服一二錢或四五分或五七釐燈心湯下病深者宜藥多病輕者宜藥少智者量之婦人有孕忌服惟子癇宜服此方神化莫測難以盡述溯其功候妙擬還丹宜於齋戒清靜誠心辦理擇地選吉每日望空焚香煉成更以醮謝　忌雞犬婦女孝服並身體不潔者有避計開用物</p>
<p>銅鍋九口上安鉛蓋大木瓢二個麻布口袋一個大乳缽一個手磨一個細絹篩大三個小二個大銅箸一副刻漏香十四枝柳木棒十根銀鼎一個土基灶九個大甕缸三個雪水五擔桑柴八百觔板炭一百觔羊城礶一個鹽土棉紙多備計開揀選道地藥物辨別真偽生礦金一百八十兩河水淘淨再用雪水二擔泡一周天攪之萬遍取金分九處用雪水文人煮在於時下四刻取起金仍分九處煉水歸甕再用雪水武火煮在午時下四刻取起金煉水歸甕即將泡金水子時煉水午時煉水合在一處聽用</p>
<p>寒水石四十八兩用煉水武火煮四刻一次去渣生石膏打碎四十八兩用煉水文火煮一時一刻去渣飛滑石四十八兩用煉水武火煮三刻去渣靈磁石醋煆四十八兩用煉水文人煮一時四刻去渣升麻一十六兩用煉水武火煮三刻去渣元參一十六兩用煉水文火煮一時取汁再下煉水一半武火煮三刻去渣甘草一十六兩用煉水文火煮一時二刻去渣犀角鎊尖一十六兩用煉水文火煮一時取汁再下煉水用武火煮四刻去渣羚羊角鎊尖一十六兩用煉水文火煮一時取汁再下煉水用武火煮四刻去渣</p>
<p>以上藥汁共熬至滴水不散候煉</p>
<p>朴硝六十四兩用羊城礶裝葢好鹽土用棉紙封固板炭圍火煉四刻取起過篩再煉提淨得三十八兩四錢為準聽用</p>
<p>上沈香（五兩）　廣木香（三兩）　上檀香（二兩五錢）　丁香（一兩）以上四味另研細末大塊硃砂研細水飛二兩六錢五分血色琥珀研細二兩四錢赤珊硼枝研細二兩四錢西牛黃生吐為上研細二兩四錢大珍珠用豆腐披開珠貯其中豆腐合一水煮一二沸取珠子研細用三兩六錢</p>
<p>其煉丹法用前藥汁下煉淨硝以柳木棒撩勻合煉三刻宜防硝升將藥歸入銀鼎內再下四味香藥撩勻封固八轉丹法俱用卯酉時中隔水蒸用板炭文人一時為一轉第九轉候吉時成功起首水蒸三轉開封不硃砂琥珀珊瑚撩勻封固水蒸三轉開封下西黃珍珠撩勻封固水蒸二轉開封下當門子麝香一兩乳細撩勻封固候吉時到水蒸一轉成功取起</p>
<p>銀鼎埋在土中退火三日取起開封收貯瓷器中勿令泄氣為妙</p>
<p>大辟瘟丹四三凡時行疫證以絳紗囊裝丹懸於當胸或系左腕可無纏染治</p>
<p>病錄後</p>
<p>桔梗（三兩）　陳橘皮（三兩）　麻黃（去根節。四錢五分）　藿香（去梗。三兩）　升麻（三兩）　生香附（二兩五錢）　半夏（薑汁炒。一兩五錢）　川鳥（煨熟去皮。一兩五錢）　滑石水飛（一兩二錢）　紫蘇葉（七錢五分）　雄黃（研細）　水飛（三兩）　雌黃（研細）　水飛（一兩二錢）生大黃（三兩）　赤小豆（六兩）　鬼箭羽（一兩二錢）　丹參（一兩五錢）　忍冬藤花（三兩）山茨菇（去毛。二兩五錢）　千金子（去油。一兩五錢）　廣本香（一兩五錢）　茅蒼朮（生。一兩五錢）　山豆根（一兩五錢）　五棓子（二兩五錢）　北細辛（去葉。一兩二錢）麝香當門子（三錢）　紅芽大戟米（瀋浸去骨。一兩二兩五分）</p>
<p>上為細末糯米粥和重一錢一粒用硃砂一兩研細水飛為衣忌烘乾宜用天醫日合或端陽午時更妙</p>
<p>一治瘟疫伏邪陰陽二毒狂躁昏亂胸膈阻滯毒邪未發用薄荷泡湯磨服</p>
<p>一治羊毛溫邪毒火發動微見寒熱恍惚神迷頭痛或眩面色露青舌有紅點或有疹塊胸脹身板用石膏泡水磨服</p>
<p>一治霍亂絞腸痧或感山嵐瘴氣溫痢溫瘧俱用燈草湯磨服</p>
<p>一治中蠱毒狐貍毒並野菌河豚死牛馬肉草木鳥獸等毒腹痛嘔吐氣阻神昏俱用黃酒磨服</p>
<p>一治類中風口眼歪斜言蹇澀牙關緊閉並治歷節風痛筋骨拘攣手足腫痛行步艱難俱用淡薑湯磨服　一治九種心痛胃痛腹痛頭暈作噦並治急中顛癇鬼氣狂叫奔走失心羊癇諸風俱用開水磨服或淡薑湯亦可</p>
<p>一治男婦傳屍骨蒸勞瘵咳嗽為蟲所傷每上半個月每日早間用開水磨服一粒</p>
<p>一治婦人癥瘕積塊經閉不調腹中作痛夢與鬼交俱用紅花煎湯磨加黃酒少許服之　一治小兒驚風發熱積聚腹痛五疳潮熱痧疹溫邪俱用薄荷葉泡湯磨服</p>
<p>一治偏正頭風左右上下牙疼俱用生萊菔汁磨敷患處內用開水磨服　一治癰疽發背無名腫毒俱用燒酒磨加蟾酥冰片敷患處已成即潰未成即散內服用開水磨</p>
<p>通用藥物</p>
<p>金汁即人糞用壇裝封固埋土中數十年後變如清水地漿掘土下三尺水和臘雪水雄黃白茅根青蒿夏枯草茵蔯蒿燈草青黛人中黃剌蒺藜生大黃末射於白醜末栝簍皮栝簍實去淨油天花粉生首烏山豆根木通澤瀉忍冬藤升麻石菖蒲馬勃紫背浮萍活水蘆根赤檉柳紫背天葵蕎麥麵蒲公英綠豆黑豆粉萊菔生汁菁菜水靳汁馬齒莧黃瓜汁絲瓜汁巴旦杏仁梨汁西瓜水甘蔗漿紫背荷葉藕汁葧臍汁䅋米以下九味宜於慎用麻黃桂枝細辛乾薑辛夷鮮姜茅蒼朮附子烏藥</p>
