<header data-type="book">
<h1>難經疏證</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>丹波元胤</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015274">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>黃帝八十一難經解題</h1>
<p>難經解題一篇。先君子所撰也。（元胤）今謹以過庭所受之說。並著於錄。舉眾說而證之。若其剩義。竊又補之。冠乎拙著之首。</p>
<p>八十一難之名。昉見於漢張仲景傷寒論自序。而梁阮孝緒七錄。有黃帝眾難經之目。</p>
<p>隋書經籍志曰。黃帝八十一難二卷。注。梁有黃帝眾難經一卷。呂博望注亡。</p>
<p>蓋眾。乃八十一之謂。集註。題曰黃帝八十一難經。本義無黃帝八十一字。非其舊也。其以黃帝冠者。正與內經同。</p>
<p>淮南子曰。世俗之人。多尊古而賤今。故為道者。必托之於神農黃帝。而後能入說。詳見於先子素問解題。</p>
<p>素問離合真邪論曰。九九八十一篇。以起黃鐘數焉。古書多以此為數。素靈老子皆然也。</p>
<p>虞伯圭曰。古人因經設難。或與門人子弟問答。偶得此八十一章耳。未必經之當難者。止此八十一條也。此說不可從。</p>
<p>陳祥道禮記講義曰。太玄八十一家。象八十一元士。少則制眾。無則制有。蓋太玄取諸太極而已。故其數如此。老子之書。終於八十一。難經止於八十一。皆此意歟。</p>
<p>王伯厚困學紀聞曰。石林謂。太玄皆老子緒餘。老氏。道生一。一生二。二生三。三之為九。故九而九之。為八十一章。太玄以一玄為三方。自是為九。而積之為八十一首。</p>
<p>難。是問難之義。帝王世紀云。黃帝命雷公岐伯。論經脈。旁通問難。八十一為難經。（事物紀原）隋蕭吉五行大義。唐李善文選七發注。並引此經文曰。黃帝八十一問云。可以證焉。唐藝文志。有耆婆八十四問。許詠六十四問。蓋本此。</p>
<p>陳振孫書錄解題。載難經二卷曰。難。當作去聲讀。歐陽圭齋曰。難經先秦古文。漢以來答客難等作。皆出其後。又文字相質難之祖也。（元胤）按史記黃帝本紀云。死生之說。存亡之難。索隱。難。猶說也。凡事是非未盡。假以往來之詞。則曰難。又上文有死生之說。故此云存亡之難。所以韓非著書有說林說難也。八十一難之難。得之其義益明。</p>
<p>或讀為平聲。非也。</p>
<p>楊玄操序曰。名為八十一難。以其理趣深遠。非卒易了故也。僧幻云史記附標。載楊玄操音義曰。難。音乃丹切。黎泰辰序虞庶難經注曰。世傳黃帝八十一難經。謂之難者。得非以人之五藏六府隱於內。為邪所幹。不可測知。唯以脈理究其彷彿邪。若脈有重十二菽者。又有如按車蓋。而若循雞羽者。復考內外之證。以參校之。難乎。紀天錫進難經集註表曰。秦越人將黃帝素問。疑難之義。八十一篇。重而明之。故曰八十一難經。滑壽曰。按歐虞說。則難字當為去聲。余皆奴丹切。</p>
<p>此經不詳何人作。隋以上則附之於黃帝。唐而降則屬之於秦越人。隋經籍志云。黃帝八十一難二卷。蓋原於帝王世紀之說也。楊玄操為秦越人之所作也。</p>
<p>楊玄操序曰。黃帝八十一難經者。斯乃勃海秦越人所作也。越人受桑君之秘術。遂洞明醫道。至能視徹藏府。刳腸剔心。以其與軒轅時扁鵲相類。乃號之為扁鵲。又家於盧國。因命之曰盧醫。世或以盧扁為二人者。斯實謬矣。按黃帝有內經二帙。帙各九卷。而其義幽賾。殆難窮覽。越人乃採摘英華。抄撮精要。二部經內。凡八十一章。勒成卷軸。既弘暢聖言。故首稱黃帝云。（元胤）按王惟一集註本。亦題曰盧國秦越人撰。蓋據楊玄操之言者。揚子法言曰。扁鵲盧人也。而醫多盧。</p>
<p>王勃云。秦越人始定章句。蓋勃序見文苑英華。其言迂怪可疑。</p>
<p>王勃序曰。黃帝八十一難。是醫經之秘錄也。昔者。岐伯以授黃帝。黃帝歷九師。以授伊尹。伊尹以授湯。湯歷六師。以授太公。太公授文王。文王歷九師。以授醫和。醫和歷六師。以授秦越人。秦越人始定章句。歷九師以授華佗。佗歷六師。以授黃公。黃公以授曹夫子。夫子諱元。字真道。自云京兆人也。</p>
<p>舊唐經籍志云。黃帝八十一難經一卷。秦越人撰。按開元中。張守節作史記正義。於扁鵲傳首。引楊玄操難經序。則玄操開元以前人。而其屬諸越人者。豈創於玄操歟。司馬遷云。天下至今言脈者由扁鵲。蓋論脈莫精於難經。則其說之所以起也。然謂之扁鵲所作。唐而上無說。實為可疑矣。八十一難之目。已見於仲景自序。而叔和脈經。士晏甲乙。往往引其文。則漢人所撰。要之不失為古醫經。亦何必論其作者。</p>
<p>本義曰。史記越人傳。無著難經之說。隋書經籍志。唐書藝文志。俱有秦越人黃帝八十一難二卷之目。又唐諸王侍讀張守節作史記正義。於扁鵲倉公傳。則全引難經文。以釋其義。後附載四十二難。與第一難。三十七難全文。由此則知古傳以為越人所作者。不誣也。詳其設問之辭。稱經言者。出於素問靈樞二經。而見於靈樞者尤多。亦有二經無所見者。豈越人別有摭於古經耶。經釋曰。云秦越人著者。始見於新唐書藝文志。蓋不可定然。實兩漢以前書也。（元胤）嘗考素問。其言雅奧。其理亦精。雖有漢人之所補綴。其實多周秦古書之文。若靈樞。則朱子稱為淺易。較之素問。殆為雁行。而八十一難。則又其亞也。何者詳玩其文。語氣稍弱。全類東京。而所記亦多與東京諸書。相出入者。若元氣之稱。始見於董仲舒春秋繁露。揚雄解嘲。而至東漢。比比稱之。男生於寅。女生於申。說文包字注。高誘淮南子注。離騷章句。俱載其說。木所以沉。金所以浮。出於白虎通。金生於巳。水生於申。瀉南方火。補北方水之類。並是五行緯說家之言。而靈素中。未有道及者。特見於此經。其決非出西京人手。可以見矣。且此經診脈之法。分以三部。其事約易明。自張仲景王叔和輩。取而用之。乃在醫家。實為不磨之矜式。然徵之素靈。業已不同。稽之倉公診籍。亦復不合。則想以其古法隱奧。不遽易辨識。故至東漢。或罕傳其術者。於是名師據素問有三部九候之稱。仿而演之。以作此一家言者歟。丁德用曰。難經。為華佗燼餘之文。吳太醫令呂廣重編此經。王文潔曰。扁鵲者。軒轅時扁鵲也。隱居岩岳。不登於七人之列。而自作八十一難經。以後秦越人注之。今書故稱秦越人扁鵲。是特無稽之談耳。姚際恆偽書考曰。傷寒論序云。撰用素問九卷。八十一難者。即指素問九卷而言也。六朝人又為此書。絕可笑。是亦臆測。</p>
<p>胡應麟曰。班志。扁鵲有內經九卷。外經十二卷。或即今難經也。此說難憑。此經所論。一本內經之精要。以發其蘊奧。而較諸素問靈樞之義。往往有相詭者。是果何也。素靈舊稱古之內經。而取兩書較之。亦往往有其義相乖者。內經中已如此。又取素靈。而篇篇較之。其言有前後相畔者。一書中亦復如此。況難經雖原內經。而其實別是一家言。春秋三傳。各異其辭。古之說經立言。率皆為然。亦何遽取彼舉此。而致軒輊耶。</p>
<p>徐大椿著難經經釋。以此經有以內經文為釋者。有悖內經文者。有顛倒內經文者。掎摭得失。而辨駁之。是未通古人立言之旨。</p>
<p>吳文正公曰。昔之神醫秦越人。撰八十一難。後人分其八十一。為十三篇。予嘗慊其分篇之未當。釐而正之。其篇凡六。一至二十二。論脈。二十三至二十九。論經絡。三十至四十七。論藏府。四十八至六十一。論病。六十二至六十八。論穴衜。六十九至八十一。論針法。夫秦氏之書。與內經素靈相表裡。而論脈論經絡居初。豈非醫之道所當先明此者歟。予喜讀醫書。以其書之比他書最古也。（贈醫士章伯明序）按吳氏六篇。視之於楊氏十三類。條理區別。甚為的當。元以後注難經者。未有表章者也。</p>
<p>本義匯考。亦論分篇之義。與此約略相類。不及吳氏甄別之精也。</p>
<p>夫八十一難經。古今之為箋釋者。亡慮數十家。若呂廣楊玄操虞庶丁德用。其書雖亡。而王翰林集註。存其全說。滑伯仁本義所注。稍為妥適。而周仲立王誠叔馮玠袁淳甫謝堅白陳廷芝等解。因其纂錄。而得概見一二矣。紀齊卿集註。則本義所援。殊為僅僅。頃覽宋本史記扁倉傳。其附標多載醫家之言。中有紀注。及張潔古藥注數十則。近代徐大椿經釋。以內經之文。議難經之失。其言雖似乖雅道。注中濬明諸家未發之義者。亦不為少矣。若此數家。其傳於今者。可以為後學之津梁也。其他則佚者居多。至於明熊宗立張世賢王文潔輩。不過剽襲本義之說。託名於作者之林耳。客歲戊寅。（元胤）竊讀此經。以王氏集註為本。識其欄外。以諸家之注。備一時之研查。既為及門之徒。講於家塾。奈何病目視短。不可快讀細書。於是別編成一書。起稿於仲冬至日。至於今春三月念有五日。而始斷手。顏曰八十一難經疏證。釐為二卷。以還隋志之舊。且據草廬胡氏之言。劙以六篇。噫（元胤）識庸學楛。雖不能以闖聖言之蘊奧。評古賢之傳注矣。謹考經文。尋其指歸。旁探群籍。資為證左。質以過庭之所受。對床之所聞。而後反之蔀暗。以竭吾陋。疏可通而闕可疑。必有契於鄙意而止矣。然豈敢謂析理剴切。足以啟幽前秘。擊蒙後生耶。唯在講肄之際。取便翻閱也。覽者勿以贅述見罪。幸甚。</p>
<p><u>文政己卯首夏初二日　東都　丹波元胤識</u></p>

<h1>黃帝八十一難經疏證卷上</h1>
<p>一難曰。十二經皆有動脈。獨取寸口。以決五藏六府死生吉凶之法。何謂也（脈經。法。作候。）</p>
<p>〔呂〕是手足經十二脈也。〔楊〕凡人兩手足。各有三陰脈三陽脈。合十二經脈。凡脈皆雙行。故有六陰六陽也。自難曰至此。是越人引經設問。從然字以下。是解釋其義。余悉如此。例可知也。〔滑〕謂之經者。以榮衛之流行。經常不息者而言。謂之脈者。以血理分衺行體者而言也。謂凡十二經。皆有動脈。今置不取。乃獨取寸口。以決死生吉凶者。何耶。</p>
<p>按一難。至二十二難。論脈。是為第一篇。○十二經脈動。呂楊注詳舉之。今不贅也。丁曰。十二經。皆有動脈者。即在兩手三部。各有會動之脈也。此據脈經。配藏府脈位於三部者。誤矣。蓋經中未有此說也。滑解脈字。本說文。（說文。原作衇。曰。從𠂢從血。或從肉作脈。）為是。而又曰。脈者陌也。欠妥。又解經字曰。經者。徑也。此據劉熙釋名藝文。未確。考經者。取經緯之義。言脈之正行者。故其旁流者。謂之絡。絡。猶緯也。（說文曰。經。織也。從糸巠聲。緯。織橫絲也。從糸韋聲。）</p>
<p>然。寸口者。脈之大會。手太陰之脈動也。（脈經。作動脈。）</p>
<p>〔呂〕太陰者。肺之脈也。肺為諸藏上蓋。主通陰陽。故十三經。皆會手太陰。寸口所以決吉凶者。十二經有病見寸口。知其何經之動。浮沉滑澀。春秋逆順。知其死生也。〔滑〕然者。答辭。諸篇仿此。</p>
<p>按素問經脈別論曰。權衡以平。氣口成寸。以決死生。又陰陽別論曰。帝云。氣口何以獨為五藏主。岐伯曰。胃者。水穀之海。六府之大源也。五味入口。藏於胃。以養五藏氣。氣口亦太陰也。是以五藏六府之氣味。皆出於胃。見於氣口。又玉機真藏論曰。五藏者。皆稟氣於胃。胃者。五藏之本。藏氣者。不能自致於手太陰。必因於胃氣。乃至於手太陰也。故五藏各以其時自為。而至於手太陰也。靈樞經脈篇曰。經脈者。常不可見也。其虛實也。以氣口知之。又動輸篇曰。經脈十二。而手太陰。足少陰陽明。獨動不休。何也。岐伯云。是明胃脈也。胃為五藏六府之海。其清氣上注於肺。肺氣從太陰而行之。其行也以息往來。故人一呼脈再動。一吸脈亦再動。呼吸不止。故動而不已。說文曰。寸。十分也。人手卻一寸動脈。謂之寸口。從又從一。</p>
<p>人一呼脈行三寸。一吸脈行三寸。呼吸定息。脈行六寸。人一日一夜。凡一萬三千五百息。脈行五十度。周於身。漏水下百刻。榮衛行陽二十五度。行陰亦二十五度。為一周者。故五十度。復會於手太陰。寸口者。五藏六府之所終始。故法取於寸口也。（脈經。復上。有而字。寸口者。作太陰寸口也即六字。）</p>
<p>〔呂〕人一息脈行六寸。十息脈行六尺。百息脈行六丈。千息六十丈。萬息六百丈。一萬三千五百息。合為八百一十丈。為一周。陽脈出行二十五度。陰脈入行二十五度。合為五十度。脈行周身畢。即漏水百刻亦畢也。謂一日一夜。漏刻盡天明。日出東方。脈還寸口。當復更始也。故曰。寸口者。五藏六府之所終始也。〔紀〕榮者血也。以榮於中。衛者氣也。以衛於外。脈者領榮衛而行者也。且血者陰也。其體濡。無脈以總之。或聚或散。烏能同灌於經。氣者陽也。其體呴。無脈以理之。或暴或厥。烏能固衛於外。故脈者惣之。便無大過不及。今但言榮衛。而不言脈者。謂脈惣其榮衛而行。故言榮衛。而不言脈也。〔滑〕人。謂平人不病。而息數勻者也。素問平人氣象論云。人一呼脈再動。一吸脈再動。呼吸定息。脈五動。閏以大息。命曰平人。行陽行陰。謂行晝行夜也。〔徐〕晝夜有長短。此舉其中而言。其行陽行陰。起止出入之法也。</p>
<p>按說文曰。呼。外息也。從口乎聲。吸。內息也。從口及聲。息。喘也。從心從自。自亦聲。漢書揚雄傳注曰。息。出入氣也。周禮司馬政官之職。絜壺氏。凡軍事懸壺。以序聚柝。凡喪縣壺以代哭者。皆以水火守之。分以晝夜。注。以水守壺者。為沃漏也。以火守壺者。夜則火視刻數也。分以晝夜者。異晝夜漏也。漏之箭。晝夜共百刻。冬夏之間。有長短焉。大史立成法。有四十八箭。說文曰。漏。以銅受水刻節。晝夜百刻。從水屚聲。</p>
<p>又按此段大旨。原於靈樞五十營篇。而其說榮衛之行。取諸乎靈樞營衛生會篇。曰。人受氣於谷。谷入於胃以傳肺。五藏六府。皆以受氣。其清者為營。濁者為衛。營在脈中。衛在脈外。營周不休。五十而復大會。陰陽相貫。如環無端。衛氣行於陰二十五度。行於陽二十五度。分為晝夜。</p>
<p>二難曰。脈有尺寸。何謂也。然。尺寸者。脈之大要會也。</p>
<p>〔滑〕人之一身。經絡榮衛。五藏六府。莫不由於陰陽。而或過與不及。於尺寸見焉。故為脈之大要會也。一難言寸口為脈之大會。以肺朝百脈而言也。此言尺寸為脈之大要會。以陰陽對待而言也。〔徐〕要會。言切要之地。會聚之處也。</p>
<p>按說文曰。尺。十寸也。人手卻十分動脈為寸口。十寸為尺。尺所以指。尺規矩事也。從屍從乙。乙所以識也。周制。寸尺咫尋常仞諸度量。皆以人之體為法。大戴禮王言篇曰。布指知寸。布手知尺。是語固與靈樞骨度篇。所謂肘至腕長一尺二寸半不合。而此段所分尺寸之法。復與骨度篇不同。蓋以從尺澤至魚際。為一尺一寸。分尺寸二部之位也。</p>
<p>從關至尺。是尺內陰之所治也。從關至魚際。是寸口內陽之所治也。（舊脫口字。據脈經。及諸本訂補。）</p>
<p>〔呂〕至尺者。言從尺至關。其脈見一寸。而言尺者。是其根本。寸口長一寸。而脈見九分。陽數奇。陰數偶也。〔滑〕從關至尺澤。謂之尺。尺之內。陰之所治也。從關至魚際。是寸口。寸口之內。陽之所治也。故自魚際穴起。一寸之後。分為尺。自尺澤穴一尺之前。分為寸也。〔徐〕治。理也。</p>
<p>按說文曰。關以木橫持門戶也。從門𢇇聲。此段關字。亦是分界之義。非指掌後高骨為關部之謂也。蓋以自掌後橫紋至尺澤。總為一尺一寸。而分其一尺中之一寸近掌者。謂之為尺。以其一寸中之九分。謂之為寸口。寸口與尺。中間相隔一分之地。謂之為關。是關為分界之義者。可見矣。靈樞動輸篇曰。魚際者。手魚也。甲乙經曰。尺澤。在肘中約上動脈。手太陰之所入也。</p>
<p>故分寸為尺。分尺為寸。</p>
<p>〔丁〕分寸為尺者。人從關至尺澤穴。當一尺也。於其尺內。分一寸以代一尺之法。是故分寸為尺。分尺為寸也。〔滑〕分。猶別也。〔紀〕陰陽者。脈之本。尺寸者。脈之部。今二難所論尺寸。而不言寸尺者。然順陰陽而言也。尺為陰。寸為陽。夫尺寸之部。為諸經要會之所。可以察病之由來。故為脈之要會。從關至尺。是尺內陰之所治者。按傷寒論云。去尺澤一尺。名曰尺部。是關之後。去尺澤穴一尺。而取尺之名也。關。猶隔也。自關以下。是尺部所屬。為陰之所治也。又經曰。去魚一寸。名曰寸口。是從關至魚際穴一寸。而取寸之名也。以關為界。自關以上。寸口所屬。為陽之所治也。故分寸為尺。分尺為寸者。從關以上。除寸之分。下為尺也。從關以下。除尺之分。上為寸也。</p>
<p>故陰得尺內一寸。陽得寸內九分。尺寸終始一寸九分。故曰尺寸也。（辨真。經釋。作尺中。）</p>
<p>〔滑〕老陰之數。終於十。故陰得尺內之一寸。此尺字。從關至尺澤。通計十寸者而言。老陽之數。極於九。故陽得寸內之九分。此寸字。指人手卻一寸而言。寸為尺之始。尺者寸之終。云分寸者。以終始對待言。其實貯。寸得九分。尺得一寸。皆陰陽之盈數也。〔丁〕尺寸之法。舊經有注。言諸家所傳撰不同。執引三寸輒相去一寸。以備三才。並不見一寸九分之理。其一寸九分之法者。蓋為尺寸之位。各有陰陽始終也。</p>
<p>案一難說取寸口之法。此段則更就其中。分尺寸之位。而復與十八難分三部之說不同。學者不可一例而讀也。楊注不察此理。妄引諸家脈訣。以傳會之。並舉藏府配位之說。為診候之式。不足為據。本義據孫思邈說云。自肘腕入至魚際。為一尺。十分之為十寸。取第九分之一寸中。為脈尺位。若此則更與經旨相左。又不可從也。素問陰陽應象大論曰。按尺寸。觀浮沉滑澀。而知病所生。又脈要精微論曰。尺內兩傍則季脅也。次注。尺內。謂尺澤之內也。靈樞邪氣藏府病形篇曰。脈急者。尺之皮膚亦急。脈緩者。尺之皮膚亦緩。是皆循按尺膚之法。內經未有就寸口分尺位之說。學者又不可執彼解此也。紀天錫亦辨藏府配位之妄。頗為精當。</p>
<p>三難曰。脈有太過。有不及。有陰陽相乘。有覆。有溢。有關。有格。何謂也。然。關之前者。陽之動。脈當見九分而浮。過者。法曰太過。減者。法曰不及。遂上魚為溢。為外關內格。此陰乘之脈也。（脈經。諸本。動下。有也字。）</p>
<p>〔呂〕過者。謂脈過九分出一寸。名曰太過。減者。脈不及九分至八分七分六分也。此為不及之脈也。遂上魚者。出一寸至魚際也。</p>
<p>關以後者。陰之動也。脈當見一寸而沉。過者。法曰太過。減者。法曰不及。遂入尺為覆。為內關外格。此陽乘之脈也。（脈經。作關之後者。）</p>
<p>〔呂〕過者。謂脈出過一寸。至一分二分三分。四分五分。此大過之脈也。減者。謂不滿一寸。脈見七分八分。或六分五分。此為不及之脈。〔虞〕陰陽不相榮。脈乃上魚入尺。故曰覆溢之脈。脈既覆溢。此由關格所致。本經曰。關格者。不得盡其命而死也。不病亦死。〔張〕關。無出之由。故曰關也。格者。無入之理。故曰格也。〔滑〕遂者。徑行而直前也。謝氏謂遂者。直上直下。殊無迴旋之生意。外關內格。謂陽外關不下。陰從而內出。以格拒之。此陰乘陽位之脈也。內關外格。謂陰內閉而不上。陽從而外入。以格拒之。此陽乘陰位之脈也。覆。如物之覆。由上而傾於下也。溢。如水之溢。由內而出乎外也。此篇。言陰陽之太過不及。雖為病脈。猶未至危殆。若遂上魚入尺。而為覆溢。則死脈也。此遂字。最為切緊。蓋承上起下之要言。不然則太過不及。陰陽相乘。關格覆溢。渾為一意。漫無輕重矣。</p>
<p>按呂注有一脈四名之說。誤矣。此段大旨。診尺寸以詳陰陽相乘之候。而察關格之病也。故其設問。謂古之論脈者。曰太過不及。曰陰陽相乘。曰覆溢。曰關格。若是說來。各有所異否。其答辭。始舉關之前後。申明陰陽之位。而以過之與減。解太過不及。為脈之形勢。以上魚入尺。解覆溢為脈之現體。而後結其義曰。是為關格之病所成。何則陰陽各乘其位者。非一脈有四名。其關格之稱。與內經同指病候。非為脈名。三十七難。亦據靈樞脈度篇。為陰陽俱盛之病矣。素問脈要精微論曰。陰陽不相應。病名曰關格。史倉公傳曰。齊侍御史成自言病頭痛。臣意切其脈。得肝氣。肝氣濁而靜。此內關之病也。又曰。脈法云。病重而脈順清者。曰內關。內關之病。人不知其所痛。徐幹中論曰。術之於斯民也。猶內關之疾也。非有痛癢煩苛於身。情志慧然。不覺疾之已深也。然而期日即至。則血氣暴竭。故內關之疾。疾之中夭。而扁鵲之所甚惡也。是皆陰陽不相營運。人不病而死也。傷寒論平脈法曰。寸口脈浮而大。浮為虛。大為實。在尺為關。在寸為格。關則不得小便。格則吐逆。是據此段。而申明其證者也。此段所診。亦是尺寸二部。本義為三部之義。欠妥。</p>
<p>故曰覆溢。是其真藏之脈。人不病而死也。（脈經。而。作自。）</p>
<p>〔丁〕此者。是使陰陽不守本位。有此覆溢。故形不病而死也。〔滑〕覆溢之脈。乃孤陰獨陽。上下相離之診。故曰真藏之脈。謂無胃氣以和之也。</p>
<p>案經釋。據素問玉機真藏論。五藏各有真藏脈。以此段為誤。然觀本義所解。則其義自通。楊上善太素注曰。無餘物和雜。故名真也。見於玉機真藏論新校正。</p>
<p>四難曰。脈有陰陽之法。何謂也。然。呼出心與肺。吸入腎與肝。呼吸之間。脾受穀味也。其脈在中。</p>
<p>〔呂〕心肺在膈上。藏中之陽。故呼其氣出。肝腎在膈下。藏中之陰。故吸其氣入。脾者中州。主養四藏。故曰呼吸以受穀味。〔滑〕其脈在中者。在陰陽呼吸之中。</p>
<p>按經釋。以受穀味三字。為贅辭。其說似有理。</p>
<p>浮者陽也。沉者陰也。故曰陰陽也。心肺俱浮。何以別之。然。浮而大散者。心也。浮而短澀者。肺也。腎肝俱沉。何以別之。然。牢而長者。肝也。按之濡。舉指來實者。腎也。脾者中州。故其脈在中。是陰陽之法也。（脈經。濡。作軟。下有而大二字。法也。作脈字。）</p>
<p>〔滑〕浮為陽三句。此承上文。而起下文之義。心為陽中之陽。故其脈浮而大散。肺為陽中之陰。其脈浮而短澀。肝為陰中之陽。其脈牢而長。腎為陰中之陰。其脈按之濡。舉指來實。〔楊〕按之有餘。舉之不足。故曰沉。按之不足。舉之有餘。故曰浮。細而遲。來往難且散。或一止。名曰澀。按之但覺堅極。故曰牢。大而長微強。按之隱指愊愊然者。謂之實。〔丁〕脾者。中央土也。能成養四旁。故隨四時而見。所以經不言脈之象也。</p>
<p>按濡。即軟字。或作耎。脈經曰。軟脈。極軟而浮細。注。軟。一作濡。云濡者。如帛衣在水中。輕手相得。</p>
<p>脈有一陰一陽。一陰二陽。一陰三陽。有一陽一陰。一陽二陰。一陽三陰。如此之言。寸口有六脈俱動耶。然。此言者。非有六脈俱動也。謂浮沉長短滑澀也。浮者陽也。滑者陽也。長者陽也。沉者陰也。短者陰也。澀者陰也。所謂一陰一陽者。謂脈來沉而滑也。一陰二陽者。謂脈來沉滑而長也。一陰三陽者。謂脈來浮滑而長。時一沉也。所言一陽一陰者。謂脈來浮而澀也。一陽二陰者。謂脈來長而沉澀也。一陽三陰者。謂脈來沉澀而短。時一浮也。各以其經所在。名病逆順也。（脈經。此下。載六難全文。之言。作言之。此言。作經言如此。病下。有之字。）</p>
<p>〔楊〕過於本位。謂之長。不及本位。謂之短。按之往來流利。展轉替替然。謂之滑也。隨春夏秋冬。觀其六脈之變。則知病之逆順也。〔紀〕浮沉者。言其位也。長短者。言其體也。故有形則有位。有位則知病之虛實。知虛實則知病所在。然後別陰陽之道。虛自內出。實自外入。〔滑〕又設問答。以明陰陽脈見者。不單至也。惟其不單至。故有此六脈相兼而見。惟其相兼。故有一陰一陽。一陽一陰之不同也。〔徐〕但浮沉可以相兼。而滑澀短長。不得並見。其經。手足三陰三陽也。逆順。如心脈宜浮。腎脈宜沉。則為順。如心脈反沉。腎脈反浮。則為逆。</p>
<p>五難曰。脈有輕重。何謂也。然。初持脈如三菽之重。與皮毛相得者。肺部也。如六菽之重。與血脈相得者。心部也。如九菽之重。與肌肉相得者。脾部也。如十二菽之重。與筋平者。肝部也。按之至骨。舉指來疾者。腎部也。故曰輕重。（舊脫腎部之部字。今據脈經諸本補。）</p>
<p>〔呂〕菽者。豆也。言脈之輕重。如三豆之重。在皮毛之間。皮毛者。肺氣所行也。言肺部也。心主血脈。次於肺。如六豆之重。肝主筋。又在脾下。故次之。腎主骨。其脈沉至骨。故曰腎也。</p>
<p>按脈經注曰。菽者。小豆。言脈輕如三小豆之重。呂氏作大豆。據此。集註所引。誤脫大字也。考說文曰。尗。豆也。象尗豆生之形也。詩采菽。鄭玄注曰。菽。大豆也。又閟宮。稙稚菽麥。釋文曰。菽。音叔。大豆也。禮檀弓。啜叔飲水。釋文曰。叔。或作菽。音同。大豆也。蓋古人未以菽為小豆。傷寒論舊注亦曰。菽。小豆。誤矣。此段借菽以稱輕重者。特約略言之。謂醫之以指按脈。在病者膚肉上。覺得其有輕重若此也。蓋三部之上。各有一菽之重也。故合三部。而稱三菽。非一部之上若有三菽之重也。以三乘之。則若六菽之重者。三部各有二菽之重。九菽之重者。三部各有三菽之重也。十二菽之重者。三部各有四菽之重也。按之至骨。則其深至矣。更不復言輕重矣。東奧服子溫良亦嘗有此說。先子每稱其精核。虞庶謝縉孫並謂寸關尺。各有三菽之重。乃知肺氣之至。余當以類推之。本義曰。腎不言菽。當如十五菽之重。（此說。本於十六難呂注。）經釋曰。浮而無力為輕。沉而有力為重。其說俱乖經旨。</p>
<p>六難曰。脈有陰盛陽虛。陽盛陰虛。何謂也。然。浮之損小。沉之實大。故曰陰盛陽虛。沉之損小。浮之實大。故曰陽盛陰虛。是陰陽虛實之意也。</p>
<p>〔滑〕大抵輕手取之。陽之分。重手取之。陰之分。不拘何部。率以是推之。〔徐〕此與上文脈有陰陽之法不同。上文言脈之屬於陰屬於陽。平脈也。此則言陰分與陽分之脈。有太過不及也。</p>
<p>七難曰。經言。少陽之至。乍小乍大。乍短乍長。陽明之至。浮大而短。太陽之至。洪大而長。太陰之至。緊大而長。少陰之至。緊細而微。厥陰之至。沉短而敦。此六者。是平脈邪。將病脈耶。然。皆王脈也。其氣以何月各王幾日。然。冬至之後。得甲子少陽王。復得甲子陽明王。復得甲子太陽王。復得甲子太陰王。復得甲子少陰王。復得甲子厥陰王。王各六十日。六六三百六十日。以成一歲。此三陽三陰之王時日大要也。</p>
<p>〔呂〕少陽王正月二月。其氣尚微少。故其脈來進退無常。陽明王三月四月。其氣始萌未盛。故其脈來浮大而短也。太陽王五月六月。其氣大盛。故其脈來洪大而長。太陰王七月八月。乘夏余陽。陰氣未盛。故其脈來緊大而長。少陰王九月十月。陽氣衰而陰氣盛。故其脈來緊細而微也。厥陰王十一月十二月。陰氣盛極。故言厥陰。其脈來沉短以敦。敦者。沉重也。〔丁〕夫三陰三陽之氣王。隨六甲以言之。此法。按黃帝六節藏象論曰。天以六六之節成一歲。其自冬至之後。或在小寒之初。或在大寒之後。〔滑〕上文言三陽三陰之王脈。此言三陽三陰之王時。當其時則見其脈也。歷家之說。以上古十一月甲子合朔冬至為曆元。蓋取夫氣朔之分齊也。然天度之運。與日月之行。遲速不一。歲各有差。越人所謂冬至之後得甲子。亦以此歟。首稱經言二字。考之樞素無所見。平人氣象論。太陽至。洪大而長。少陽至。乍數乍疏。乍短乍長。陽明至。浮大而短。則雖略其說而不詳。豈越人之時。別有所謂上古文字耶。將內經有之。而後世文脫耶。不可知也。後凡言經言。無所考者。義皆仿此。</p>
<p>按脈經曰。洪脈。極大在指下。微脈。極細而軟。或欲絕。若有若無。細脈。小大於微。常有但細耳。</p>
<p>八難曰。寸口脈平而死者。何謂也。然。諸十二經脈者。皆繫於生氣之原。所謂生氣之原者。謂十二經之根本也。謂腎間動氣也。此五藏六府之本。十二經脈之根。呼吸之門。三焦之原。一名守邪之神。故氣者人之根本也。根絕則莖葉枯矣。寸口脈平而死者。生氣獨絕於內也。</p>
<p>〔呂〕寸口脈平而死者。非應四時脈。其脈狀若平和也。又曰。十二經。皆繫於生氣之原。所謂生氣之原者。為十二經本原也。夫氣衝之脈者。起於兩腎之間。主氣。故言腎間動氣。挾任脈。上至喉咽。通喘息。故云呼吸之門。上系手三陰三陽。為支。下系足三陰三陽。為根。故聖人引樹以設喻也。其生氣之原者。是三焦之府。宣行榮衛。邪不妄入。故曰守邪之神也。〔徐〕系。連屬也。三焦與腎同候。而腎屬下焦。故曰三焦之原。謂所從出也。〔滑〕此篇與第一難。義若相悖。然各有所指也。一難以寸口決死生者。謂寸口為脈之大會。而穀氣之變見也。此篇以原氣言也。人之原氣盛則生。絕則寸口脈雖平猶死也。</p>
<p>按腎間動氣。補註。經釋。為命門之氣。本義。為人所得以生之氣。不若呂注之長矣。呂氏去古不遠。必有師受。且考之經文。其言鑿鑿可據矣。夫腎間。則衝脈所出之地。外當乎關元之分。而三焦氣化之所原也。其所稱動氣者。何。靜者為陰。動者為陽。動氣。則陽氣之謂也。素問陰陽離合論曰。大沖之地。名曰少陰。次注。大沖者。腎脈與衝脈。合而盛大。故曰大沖。又舉痛論曰。衝脈起於關元。隨腹直上。寒氣客則脈不通。脈不通則氣因之。故喘動應手矣。又骨空論曰。衝脈者。起於氣衝。並少陰之經。俠臍上行。靈樞海論曰。衝脈者。為十二經之海。逆順肥瘦篇曰。衝脈者。五藏六府之海也。五藏六府皆稟焉。其下者。注少陰之大絡。出於氣街。動輸篇曰。衝脈者。十二經之海也。與少陰之絡起於腎。百病始生篇曰。虛邪之中人也。其著於伏沖之脈者。揣之應手而動。是則衝脈所出之地。在於兩腎之間。實為十二經脈之根本也。六十六難曰。臍下腎間動氣者。人之生命也。十二經之根本也。故名曰原。三焦者。原氣之別使也。主通行三氣。經歷於五藏六府。原者。三焦之尊號也。是則與此段之義。互相發揮。可見動氣者。衝脈所主之氣。真元之陽。三焦氣化之原。而生命系焉。楊玄操曰。腎間動氣。則丹田也。道士思神。比丘坐禪。皆行心氣於臍下者。良為此也。是說亦為有理。荀悅申鑑曰。鄰臍二寸。謂之關。關者。所以關藏呼吸之氣。以稟授四氣也。故氣長者以關息氣。是與此段所謂呼吸之門。其義相符。篇首所謂寸口者。該三部而言。非上部有脈。下部無脈之謂。呂楊注不免迂拘。</p>
<p>九難曰。何以別知藏府之病耶。然。數者府也。遲者藏也。數則為熱。遲則為寒。諸陽為熱。諸陰為寒。故以別知藏府之病也。</p>
<p>〔呂〕府者陽。故其脈數。藏者陰。故其脈來遲。〔楊〕去來急促。一息過五至。名數也。呼吸三至。去來極遲。故曰遲也。陽脈行疾。故病乃數。陰脈行遲。故病乃遲。此直云病在藏府。</p>
<p>十難曰。一脈為十變者。何謂也。然。五邪剛柔相逢之意也。假令心脈急甚者。肝邪干心也。心脈微急者。膽邪干小腸也。心脈大甚者。心邪自干心也。心脈微大者。小腸邪自干小腸也。心脈緩甚者。脾邪干心也。心脈微大者。胃邪干小腸也。心脈澀甚者。肺邪干心也。心脈微澀者。大腸邪干小腸也。心脈沉甚者。腎邪干心也。心脈微沉者。膀胱邪干小腸也。五藏各有剛柔邪。故令一輒變為十也。</p>
<p>〔呂〕夏心主。脈見浮大而散。今反弦。弦者肝脈來干心也。小腸心之府。脈當浮大而洪。長而微弦者。膽脈也。心脈雖洪大。當以胃氣為本。今無胃氣。故其脈大甚也。此為心自病。故言自干心也。小腸心之府。微大者。其脈小為小腸自病。故言自干也。緩者脾脈。乘心。故令心脈緩也。胃脈小緩。見於心部。小腸心府。故言干之。澀肺脈。故言干心也。微澀大腸脈。小腸心府。故曰干也。沉者腎脈。故言干也。微沉者膀胱脈。小腸心府。故言干也。此夏王之時。心脈見如此者。為失時脈。〔楊〕干。猶乘也。剛柔。陰陽也。邪者。不正之名。非有王氣。而外來干身為病者。通為之邪也。〔虞〕推此十變之候。乃五行勝復相加。故聖人謂之五邪也。五藏各有表裡。更相乘之。一脈成十。故十變也。有陽有陰。故曰剛柔也。於本位見他脈。故曰相逢相干也。聖人乃以心一藏為例。其餘皆可知也。</p>
<p>十一難曰。經言。脈不滿五十動而一止。一藏無氣也。何藏也。然。人吸者隨陰入。呼者因陽出。今吸不能至腎。至肝而還。故知一藏無氣者。腎氣先盡也。</p>
<p>〔楊〕按經言。持其脈口。數其至也。五十動而不一代者。五藏皆受氣。是為平和無病之人矣。四十動而一代者。一藏無氣。難經言止。本經言代。按止者。按之覺於指下而中止。代者。還尺中。停久方來。名曰代也。止代雖兩經不同。據其脈狀。亦不殊別。故兩存之。〔丁〕五十動者。是天地陰陽。以漏刻為制度。今陽氣虛少。故不滿五十也。其言動而止者。謂吸不能至腎。至肝而還。此陽不榮於下。故腎氣先絕也。絕則止也。此法又與生氣獨絕於內同法也。〔滑〕五藏腎最在下。吸氣是遠。若五十動不滿。而一止者。知腎無所資。氣當先盡。盡。猶衰竭也。不能隨諸藏氣而上矣。</p>
<p>按此段。原於靈樞根結篇。而約言之也。</p>
<p>十二難曰。經言。五藏脈已絕於內。用針者反實其外。五藏脈已絕於外。用針者反實其內。內外之絕。何以別之。然。五藏脈已絕於內者。腎肝氣已絕於內也。而醫反補其心肺。五藏脈已絕於外者。其心肺脈已絕於外也。而醫反補其腎肝。陽絕補陰。陰絕補陽。是謂實實虛虛。損不足益有餘。如此死者。醫殺之耳。</p>
<p>〔呂〕心肺所以在外者。其藏在膈上。上氣外為榮衛。浮行皮膚血脈之中。故言絕於外也。腎肝所以在內者。其藏在膈下。下氣內養筋骨。故言絕於內也。〔滑〕靈樞第一篇曰。凡將用針。必先診脈。視氣之劇易。乃可以治。又第三篇曰。所謂五藏之氣。已絕於內者。脈口氣內絕不至。反取其外之病處。與陽經之合。有留針以致陽氣。陽氣至則內重竭。重竭則死矣。其死也。無氣以動。故靜。所謂五藏之氣。已絕於外者。脈口氣外絕不至。反取其四末之輸。有留針以致其陰氣。陰氣至則陽氣反入。入則逆。逆則死矣。其死也。陰氣有餘。故躁。此靈樞以脈口內外。言陰陽也。越人以心肺腎肝內外。別陰陽。其理亦由是也。紀氏謂此篇言針法。馮玠謂此篇合入用針補寫之類。當在六十難之後。以例相從也。〔徐〕絕者。虛也。不足也。不絕者。實也。有餘也。</p>
<p>十三難曰。經言。見其色而不得其脈。反得相勝之脈者。即死。得相生之脈者。病即自已。色之與脈。當參相應。為之奈何。然。五藏有五色。皆見於面。亦當與寸口尺內相應。假令色青。其脈當弦而急。色赤。其脈浮大而散。色黃。其脈中緩而大。色白。其脈浮澀而短。色黑。其脈沉濡而滑。此所謂五色之與脈。當參相應也。</p>
<p>〔滑〕靈樞第四篇曰。見其色知其病。命曰明。按其脈知其病。命曰神。問其病知其處。命曰工。又曰。色青者其脈弦。赤者其脈鉤。黃者其脈代。白者其脈毛。黑者其脈石。見其色而不得其脈。謂色脈之不相得也。色脈既不相得。看得何脈。得相勝之脈即死。得相生之脈。病即自已。已。愈也。參。合也。</p>
<p>脈數。尺之皮膚亦數。脈急。尺之皮膚亦急。脈緩。尺之皮膚亦緩。脈澀。尺之皮膚亦澀。脈滑。尺之皮膚亦滑。</p>
<p>〔丁〕數。即心也。所以臂內皮膚熱也。急者。臂內經絡滿實。所以堅急也。緩者。肌肉消。故皮膚亦緩弱也。肺主燥。所以臂內皮膚亦澀也。腎主水。其脈滑。所以臂內皮膚亦滑也。〔滑〕靈樞第四篇。黃帝曰。色脈已定。別之奈何。岐伯曰。調其脈之緩急大小滑澀。肉之堅脆。而病變定矣。帝曰。調之奈何。岐伯答曰。脈急。尺之皮膚亦急。脈緩。尺之皮膚亦緩。脈小。尺之皮膚亦減。而少氣。脈大。尺之皮膚亦賁而起。脈滑。尺之皮膚亦滑。脈澀。尺之皮膚亦澀。凡此變者。有微有甚。云此通上文所謂色脈形肉不相失。</p>
<p>按經釋曰。今去經文大小字。而易數字。數者。一息六七至之謂。若皮膚則如何能數。此說誤矣。素問奇病論曰。人有尺脈數甚。筋急而見。是尺膚亦有數之候也。</p>
<p>五藏各有聲色臭味。當與寸口尺內相應。其不相應者病也。假令色青。其脈浮澀而短。若大而緩。為相勝。浮大而散。若小而滑。為相生也。</p>
<p>〔呂〕色青者。肝也。浮澀而短者。肺也。肺勝肝為賊邪。若大而緩。為脾脈也。肝勝脾。故言相勝也。浮大而散。心脈也。心為肝之子。若小而滑。腎脈也。腎為肝之母。肝為腎之子。子母相生。故為相生也。〔虞〕肝脈弦。其色青。其聲呼。其臭羶。其味酸。心脈洪。其色赤。其聲笑。其臭焦。其味苦。脾脈緩。其色黃。其聲歌。其臭香。其味甘。肺脈澀。其色白。其聲哭。其臭腥。其味辛。腎脈沉。其色黑。其聲呻。其臭腐。其味鹹。此謂相應也。</p>
<p>經言。知一為下工。知二為中工。知三為上工。上工者十全九。中工者十全八。下工者十全六。此之謂也。</p>
<p>〔丁〕上工者。謂全知色脈皮膚三法。相生相勝本始。故治病十全其九。中工知二。謂不能全收。故治病十全得八。下工知一。謂不解明於全法。一心治已病。故十全得六也。〔滑〕此篇問答。凡五節。第一節為問辭。第二第三節。言色脈形肉不得相失。第四節。言五藏各有聲色臭味。當與寸尺相應。然假令以下。但言色脈相參。不言聲臭味。殆闕文歟。抑色之著於外者。將切於參驗歟。第五節。則以所知之多寡。為工之上下也。</p>
<p>按知三之義。呂注謂解一藏為下工。解二藏為中工。解五藏為上工。虞庶據禮記正義。醫不三世之說。俱為強解。靈樞邪氣藏府病形篇曰。善調尺者。不待於寸。善調脈者。不待於色。能參合而行之者。可以為上工。上工十全九。行二者為中工。中工十全七。行一者為下工。下工十全六。是丁說所原。其義自明。呂覽察賢篇曰。今有良醫於此。治十人而起九人。所以求之萬也。注。以術之良。故人多求之也。凡十人中。必有一不可治之病。故全九為上也。全。猶愈也。見於周禮疾醫職注。而工。則醫之謂也。與知一則為工。知二則為神。知三則神且明矣不同。此言上中下之工。與韓非子經篇。下君盡己之能。中君盡人之力。上君盡人之智語同。素問。有粗工良工之語。說文曰。工。巧飾也。象人有規矩也。與巫同意。其義可知。蓋上古之醫。必為祝由。故通稱巫。又謂之工。山海經曰。大荒之中有山。名曰豐珇玉門。日月所入。有靈山。巫咸巫即巫盼巫彭巫姑巫真巫禮巫抵巫謝巫羅十巫。從此升降。百藥爰在。注。群巫上下此山。採藥往來也。又開明東。有巫彭巫抵巫陽巫履巫幾巫相。注。皆神醫也。是則工之與巫。其意相同。上古俱為醫之稱也。</p>
<p>十四難曰。脈有損至。何謂也。然。至之脈。一呼再至曰平。三至曰離經。四至曰奪精。五至曰死。六至曰命絕。此至之脈也。（舊。至。作死。據脈經虞注本義改正。）</p>
<p>〔呂〕平者。謂平調之脈也。〔虞〕經者。常也。謂脈離常經之所。而行過於半。不在所起之經再起。故曰離經也。一呼四至。乃陽氣亂。故脈數。數則氣耗。耗則精無所歸。獨加奪去。故曰奪精。五至。死之漸也。六至。今死矣。</p>
<p>何謂損。一呼一至曰離經。二呼一至曰奪精。三呼一至曰死。四呼一至曰命絕。此謂損之脈也。至脈從下上。損脈從上下也。</p>
<p>〔滑〕至脈從下而逆上。由腎而之肺也。損脈從上而行下。由肺而之腎也。</p>
<p>損脈之為病。奈何。然。一損損於皮毛。皮聚而毛落。二損損於血脈。血脈虛少。不能榮於五藏六府也。三損損於肌肉。肌肉消瘦。飲食不為肌膚。四損損於筋。筋緩不能自收持也。五損損於骨。骨痿不能起於床。反此者至於收病也。從上下者。骨痿不能起於床者死。從下上者。皮聚而毛落者死。（脈經。消。作痟。本義。不為。作不能為。至於收病。當作至脈之病也云。按脈經與經文同。）</p>
<p>〔呂〕從上下者。從肺損至腎。五藏俱盡。故死。肺在上也。從下上者。從腎損之肺。亦復五藏俱盡。故死也。〔虞〕至此推究損家病證。一損肺。二損心。三損脾。四損肝。五損腎。乃如第五難脈之輕重菽數。</p>
<p>按皮聚者。皮膚皺臘失潤。故毛脫也。不能榮於五藏六府之榮字。古與營通。周運之義也。至於收病也。本義為誤文。是。然脈經與經文同。則其訛亦久。呂注曰。收者。取也。經但載損家病。不載至家病。故損脈於此受病。非是至家病也。其言不免含糊。</p>
<p>治損之法奈何。然。損其肺者。益其氣。損其心者。調其榮衛。損其脾者。調其飲食。適其寒溫。損其肝者。緩其中。損其腎者。益其精。此治損之法也。</p>
<p>〔滑〕肺主氣。心主血脈。腎主精。各以其所損而治之。榮衛者。血脈之所資也。肝主血。血虛則中不足。一云。肝主怒。怒能傷肝。故損其肝者。緩其中。經曰。肝苦急。急食甘以緩之。緩者。和也。</p>
<p>按一說為是。虞丁注意亦爾。適其寒溫。此衣服起居之謂。非重言飲食之義也。經釋曰。言治損。而不言治至者。蓋損至之脈。雖有從上下從下上之殊。而五者之病狀則一。故言治損。而治至之法亦備矣。</p>
<p>脈有一呼再至。一吸再至。有一呼三至。一吸三至。有一呼四至。一吸四至。有一呼五至。一吸五至。有一呼六至。一吸六至。有一呼一至。一吸一至。有再呼一至。再吸一至。有呼吸再至。脈來如此。何以別知其病也。</p>
<p>〔滑〕此再舉損至之脈。為問答也。蓋前之損至。以五藏自病。得之於內者而言。此則以經絡血氣。為邪所中之微甚。自外得之者而言也。其曰呼吸再至。即一呼一至。一吸一至之謂。疑衍文也。</p>
<p>然。脈來一呼再至。一吸再至。不大不小。曰平。一呼三至。一吸三至。為適得病。前大後小。即頭痛目眩。前小後大。即胸滿短氣。一呼四至。一吸四至。病欲甚。脈洪大者。苦煩滿。沉細者。腹中痛。滑者傷熱。澀者中霧露。一呼五至。一吸五至。其人當困。沉細夜加。浮大晝加。不大不小。雖困可治。其有大小者。為難治。一呼六至。一吸六至。為死脈也。沉細夜死。浮大晝死。一呼一至。一吸一至。名曰損。人雖能行。猶當著床。所以然者。血氣皆不足故也。再呼一至。再吸一至。名曰無魂。無魂者當死也。人雖能行。名曰行屍（脈經。欲甚。作適甚。死脈上。有十字。當著。作當未。再吸一至。舊作呼吸再至。據脈經本義改訂。）</p>
<p>〔虞〕脈三至曰離經。反於常經。知病始得。脈病反常經。法曰。奪精之脈。脈大。法曰。渾渾革至如湧泉者。病進欲甚之理明也。陰脈細沉。夜加可驗。陽脈浮大。晝加可知。魂屬陽。陽主生。今脈形如是減損。乃知陽絕。陽絕則魂去。故人死也。〔滑〕前後。非言寸尺。猶十五難前曲後居之前後。以始末言也。〔徐〕前大後小。病氣在陽。故頭痛目眩。前小後大。病氣在陰。故胸滿短氣。洪大為陽邪外越。故煩滿。沉細為陰邪內陷。故腹痛。滑為血實。故為熱。澀為傷濕。故中霧露。此又於一息四至之病。分別言之。困者近於死也。不大不小。則晝夜不至於有加。故可治。即靈禁服篇所謂。若引繩大小齊等之義。若更參差不倫。則難治矣。行屍。言其人生道已絕。如屍之行也。</p>
<p>按澀。脈難流利也。何於一息八至中而現之。蓋此段澀字。脈經所謂一止復來之義。數中有時一結也。虞注為如刀刮竹之狀。欠妥。靈樞本神篇曰。隨神往來者。謂之魂。說文曰。魂。陽氣也。從鬼云聲。</p>
<p>上部有脈。下部無脈。其人當吐。不吐者死。上部無脈。下部有脈。雖困無能為害也。所以然者。譬如人之有尺。樹之有根。枝葉雖枯槁。根本將自生。脈有根本。人有元氣。故知不死。</p>
<p>〔楊〕上部寸口。下部尺中也。〔滑〕紀氏曰。上部有脈。下部無脈。是邪實並於上。即當吐也。若無吐證。為上無邪。而下氣竭。故云當死。一難言寸口為五藏主也。四難以胃為主。其脈則主關上也。此難以尺為主也。此越人所以錯綜其義。散見諸篇。以見寸關尺。各有所歸重云。〔徐〕上部無脈者。特因氣血之偶有滯耳。病去則自復也。</p>
<p>按元氣者。人身所稟天真本原之氣。所謂通天者生之本。是也。六十六難曰。臍下腎間動氣者。人之生命也。十二經之根本也。故名曰原。三焦者。原氣之別使也。金匱要略曰。腠者。三焦通會元真之處。為血氣所注。是則元者。本原之謂也。春秋繁露王道篇曰。春秋何貴乎元而言之。元者。始也。言本正也。道。王道也。王者。人之始也。王正則元氣和順。又重政篇曰。春秋變一謂之元。元。猶原也。其義以隨天地終始也。故人唯有終始也。而生不必應四時之變。故元者為萬物之本。揚雄解嘲曰。天者含元氣。白虎通曰。地者。元氣之所生。萬物之祖也。漢書律曆志曰。大極元氣。函三為一。極。中也。元。始也。文選東都賦曰。降煙熅調元氣。又魯靈光殿賦曰。包陰陽之變化。含元氣之煙熅。李善注。春秋曆命序云。元氣正則天地八卦孳。後漢書李固傳曰。北斗斟酌元氣。運平四時。王充論衡幸偶篇曰。俱稟元氣。或獨為人。或為禽獸。又無形篇曰。人稟元氣於天。各受壽夭之命。以立長短之形。蓋人之生也。與天地參。則所稟之氣。其理一也。內經。是謂真氣。又謂生氣者。生之所資始。而天所稟之氣也。譬如二字。本義謂。當在人之有尺下。此說是矣。然脈經亦與經文同。</p>
<p>十五難曰。經言。春脈弦。夏脈鉤。秋脈毛。冬脈石。是王脈耶。將病脈也。然。弦鉤毛石者。四時之脈也。春脈弦者。肝東方木也。萬物始生。未有枝葉。故其脈之來。濡弱而長。故曰弦。夏脈鉤者。心南方火也。萬物之所盛。垂枝布葉。皆下曲如鉤。故其脈之來疾去遲。故曰鉤。秋脈毛者。肺西方金也。萬物之所終。草木華葉。皆秋而落。其枝獨在若毫毛也。故其脈之來。輕虛以浮。故曰毛。冬脈石者。腎北方水也。萬物之所藏也。盛冬之時。水凝如石。故其脈之來。沉濡而滑。故曰石。此四時之脈也。</p>
<p>〔滑〕此內經平人氣象。玉機真藏論。參錯其文。而為篇也。春脈弦者。肝主筋。應筋之象。夏脈鉤者。心主血脈。應血脈來去之象。秋脈毛者。肺主皮毛。冬脈石者。腎主骨。各應其象。兼以時物之象取義也。來疾去遲。劉立之曰。來者。自骨肉之分。而出於皮膚之際。氣之升而上也。去者。自皮膚之際。而還於骨肉之分。氣之降而下也。〔徐〕來疾者。其來少急而勁。去遲者。其去少緩而弱。此所謂下曲如鉤也。按藏府之與五行。各有所屬。而春夏秋脈。皆以木為喻者。唯木為因時遷變也。</p>
<p>如有變奈何。然。春脈弦。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。氣來厭厭聶聶。如循榆葉。曰平。益實而滑。如循長竿。曰病。急而勁益強。如新張弓弦。曰死。春脈微弦。曰平。弦多胃氣少。曰病。但弦無胃氣。曰死。春以胃氣為本。</p>
<p>〔呂〕實強者。陽氣盛也。少陽當微弱。今更實強。謂太過。陽主表。故今其病在外也。厥陰之氣。養於筋。其脈弦。今更虛微。故曰不及。陰處中。故今其病在內也。如循長竿。謂弦多胃氣少也。如新張弓弦。謂但強無胃氣也。</p>
<p>按素問平人氣象論曰。平肺脈來。厭厭聶聶。如落榆莢。曰肺平。次注。浮薄而虛者也。又曰。平肝脈來。耎弱。招招如揭長竿末稍。曰肝平。與此段為異。弟堅曰。厭厭聶聶。聖惠方。作擫擫聶聶。廣韻云。擫。於葉切。葉動貌。說文云。聶。木葉搖白也。（按白。恐兒訛。兒。即貌省文。）從木聶聲。爾雅曰。欇。虎櫐。釋文曰。欇。郭音涉。本又作聶。並同。爾雅曰。榆。白枌。注。枌。榆先生葉。卻著莢。皮色白。說文曰。竿。竹挺也。從竹干聲。王冰素問次注曰。勁。謂勁強。急之甚也。</p>
<p>夏脈鉤。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。其脈來累累如環。如循琅玕。曰平。來而益數。如雞舉足者。曰病。前曲後居。如操帶鉤。曰死。夏脈微鉤。曰平。鉤多胃氣少。曰病。但鉤無胃氣。曰死。夏以胃氣為本。</p>
<p>〔呂〕實強者。太陽受氣盛也。太陽浮散。今反實強。故曰太過也。手少陰主血脈。其氣尚平實。今反見虛微。故曰不及也。心脈但當浮散。不當數也。雞舉足者。諭其數也。後居。謂之後直。如人革帶之鉤。前曲後直也。是謂但鉤無胃氣也。〔丁〕操者。執也。如手執革帶。前鉤曲無力也。後居。倨而不動。勁有。故曰死也。</p>
<p>按素問平人氣象論曰。病脾脈來。實而盈數。如雞舉足。曰脾病。與此段為異。說文曰。環。璧也。肉好若一。謂之環。從玉睘聲。琅玕。似珠者。琅。從玉良聲。玕。從玉干聲。禹貢。雝州。球琳琅玕。素問次注曰。如循琅玕。言脈滿而盛。微似珠形之中手。琅玕。珠之類也。居。不動也。操。執持也。雞舉足。謂如雞走之舉足也。</p>
<p>秋脈微毛。反者為病。何謂反。然。氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。其脈來藹藹如車蓋。按之益大。曰平。不上不下。如循雞羽。曰病。按之消索。如風吹毛。曰死。秋脈微毛為平。毛多胃氣少。曰病。但毛無胃氣。曰死。秋以胃氣為本。（聖惠方。藹藹。作靄靄。本義。消。作蕭。）</p>
<p>〔呂〕車蓋。乃小車之蓋也。輕浮藹藹然也。按之益大。有胃氣。故曰平也。〔丁〕不下不上。如循雞羽者。但當澀澀然。故曰病也。風吹毛者。飄騰不定。無歸之象。故曰死也。</p>
<p>按藹藹。輕盈浮大之義。爾雅。釋木曰。賁。藹。注。樹實繁茂菴藹也。菴藹。即藹藹之雙聲。周禮考工記曰。軫之方也。以象地也。蓋之圜也。以象天也。素問次注曰。如循雞羽者。謂中央堅。而兩旁虛也。如風吹毛者。紛紛然也。</p>
<p>冬脈石。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。脈來上大下兌。濡滑如雀之喙。曰平。啄啄連屬。其中微曲。曰病。來如解索。去如彈石。曰死。冬脈微石。曰平。石多胃氣少。曰病。但石無胃氣。曰死。冬以胃氣為本。（諸本。喙。訛作啄。俗解作喙。是。音釋。喙。許穢切。）</p>
<p>〔呂〕雀喙。謂本大末兌也。啄啄者。不息。故謂之連屬。解索。謂虛縵無根本也。來遲去疾。故曰彈石。〔丁〕解索。診之應手如脫解之索。無力也。</p>
<p>按素問平人氣象論曰。死脾脈來。銳堅如鳥之喙。又曰。平腎脈來。喘喘累累如鉤。按之而堅。曰腎平。病腎脈來。如引葛。按之益堅。曰腎病。又解索。作奪索。又曰。喘喘連屬。其中微曲。為病心脈。次注。曲。謂中手而偃曲也。如彈石。言促又堅也。考啄啄。據內經。當作喘喘。丁注。謂啄啄如雀啄。連連時止。恐不為是。蓋內經有盛喘喘數等語。俱喻脈之數疾也。</p>
<p>胃者。水穀之海也。主稟四時。故皆以胃氣為本。是謂四時之變病。死生之要會也。脾者。中州也。其平和不可得見。衰乃見耳。來如雀之啄。如水之下漏。是脾之衰見也。</p>
<p>〔呂〕脾寄王四季。故不言王。言平和脈不見。其衰病則見耳。</p>
<p>按素問次注曰。水流屋漏。言其至也。屋漏。謂時動覆住。</p>
<p>十六難曰。脈有三部九候。有陰陽。有輕重。有六十首。一脈變為四時。離聖久遠。各自是其法。何以別之。</p>
<p>〔滑〕謝氏曰。此篇。問三部九候以下共六件。而本經並不答所問。似有缺文。今詳三部九候。則十八難中第三章言之。當屬此篇。錯文在彼。陰陽見四難。輕重見五難。一脈變為四時。即十五難。春弦夏鉤秋毛冬石也。六十首。按內經方盛衰篇曰。聖人持診之道。先後陰陽而持之。奇恆之勢。乃六十首。王注。謂奇恆六十首。今世不存。則失其傳者。由來遠矣。</p>
<p>然。是其病有內外證。其病為之奈何。然。假令得肝脈。其外證。善潔。面青善怒。其內證。齊左有動氣。按之牢若痛。其病四肢滿。閉癃溲便難。轉筋。有是者肝也。無是者非也。</p>
<p>〔呂〕外證者。府之候。膽者。清淨之府。故面青善潔。其內證者。肝之證。〔滑〕得肝脈。診得弦脈也。肝為將軍之官。故善怒。善。猶喜好也。臍左。肝之部也。按之牢若痛。謂其動氣。按之堅牢而不移。或痛也。厥陰脈。循陰器。肝病。故溲。便難。轉筋者。肝主筋也。此段答辭。然與前問不相蒙。當別有問辭也。〔徐〕動氣。真氣不能藏。而發現於外也。牢者。氣結而堅。痛者。氣鬱而滯。</p>
<p>按善字。滑解為得。詩鄘風載馳章。女子善懷。亦各有行。箋。善。猶多也。漢書溝洫志曰。引洛水至商顏下。岸善崩。注。師古曰。善崩。言熹崩也。經釋。四肢滿為句。是。蓋筋急則覺四肢滿脹也。諸家四肢滿閉為句。丁讀為攣嚲之義。並非。癃。補註本義作淋。考癃。音犁針切。義與淋同。史記孝景本紀。索隱曰。隆慮。音林閭。避殤帝諱改之。據此癃字。亦避諱作淋。本草經內經。皆用癃字。其作淋者。蓋後人所改。素問奇病論曰。有癃者。一日數十溲。此不足也。次注。癃。小便不得也。溲。小便也。一切經音義曰。聲類云。痳。謂小便數。而難出也。溲字概稱大小便。見於史倉公傳。然此段閉癃溲便難。唯言小便若開若淋澀。虞注。謂癃溲。小府澀也。便難。大府所注艱也。誤。</p>
<p>假令得心脈。其外證。面赤。口乾。喜笑。其內證。齊上有動氣。按之牢若痛。其病煩心。心痛。掌中熱而啘。有是者心也。無是者非也。</p>
<p>〔滑〕掌中。手心主脈所過之處。蓋真心不受邪。受邪者手心主爾。〔徐〕素問。心在色為赤。在聲為笑。心氣通於舌。故火上炎則干也。</p>
<p>按先子曰。啘。即噦字。靈樞雜病篇曰。噦以草刺鼻嚏。嚏而已。肘後方作卒啘不止。可以證焉。又靈樞口問篇曰。人之噦者。何氣使然。岐伯曰。谷入於胃。胃氣上注於肺。今有故。寒氣與新穀氣。俱還入於胃。新故相亂。真邪相攻。氣並相逆。復出於胃。故為噦。說文曰。噦。氣牾也。從口歲聲。本義以噦為乾嘔。非。</p>
<p>假令得脾脈。其外證。面黃。善噫。善思。善味。其內證。當齊有動氣。按之牢若痛。其病腹脹滿。食不消。體重節痛。怠惰嗜臥。四肢不收。有是者脾也。無是者非也。</p>
<p>〔虞〕脾。土也。在變動為噫。在志為思。主甘受味。故善味。〔丁〕當齊有動氣者。脾主中州也。其病腹滿。食不消。體重節痛。怠惰四肢不收。即是胃也。胃為水穀之海。為土。土靜。故有此證。〔滑〕靈樞口問篇曰。噫者。寒氣客於胃。厥逆從下上散。復出於胃。故為噫。經曰。脾主四肢。〔徐〕素問痿論曰。陽明主束骨。而利機關。脾與胃合。故亦主節。</p>
<p>按說文曰噫飽食息也。從口意聲。</p>
<p>假令得肺脈。其外證。面白善嚏。悲愁不樂。欲哭。有內證。齊右有動氣。按之牢若痛。其病喘咳。灑淅寒熱。有是者肺也。無是者非也。</p>
<p>〔虞〕肺主皮毛。外感寒。內合於肺。故嚏也。悲者肺之志也。在聲為哭。肺主氣。外候皮毛。虛則灑淅惡寒。實則熱而閟。故云寒熱。〔徐〕素問刺禁論曰。肺藏於右。臍右。肺之位也。肺主氣。氣逆則喘咳。</p>
<p>按靈樞口問篇曰。人嚏者。何氣使然。岐伯云。陽氣和利。滿於心出於鼻。故為嚏。說文曰。嚏。悟解氣也。從口疐聲。詩云。願言則嚏。</p>
<p>假令得腎脈。其外證。面黑。喜恐。欠。其內證。齊下有動氣。按之牢若痛。其病逆氣。少腹急痛。泄如下重。足脛寒而逆。有是者腎也。無是者非也。</p>
<p>〔虞〕腎氣不足。傷於衝脈。故氣逆。少陰之脈循少腹。故少腹急痛也。腎者胃之關。今氣虛。故為下重。泄。謂食畢思急圊。通評虛實論曰。氣逆者足寒也。〔滑〕如。讀為而。〔徐〕素問。腎在志為恐。靈樞口問篇曰。陰氣積於下。陽氣未盡。陽引而上。陰引而下。陰陽相引。故數欠。又云。腎主為欠。又經脈篇。足少陰腎之脈。循內踝之後。別入跟中。以上踹內。故足脛寒也。</p>
<p>按說文曰。欠。張口氣悟也。象氣。從人上出之形。</p>
<p>十七難曰。經言。病或有死。或有不治自愈。或連年月不已。其死生存亡。可切脈而知之耶。然。可盡知也。診病。若閉目不欲見人者。脈當得肝脈。強急而長。而反得肺脈。浮短而澀者。死也。（脈經。盡。作具。診病。作設病者。強。作弦。）</p>
<p>〔楊〕強急。猶弦急也。〔滑〕此篇所問者三。答云。可盡知也。止答病之死證。余無所見。當有關漏。肝開竅於目。閉目不欲見人。肝病也。肝病見肺脈。金剋木也。</p>
<p>病若開目而渴。心下牢者。脈當得緊實而數。反得沉濡而微者。死也。（脈經。濡。作滑。本義。作澀。並非。）</p>
<p>〔丁〕心之病證。今反見腎脈。水來剋火。故知死也。〔虞〕陽病得陰脈。故曰死也。〔徐〕心主熱。甚則開目而渴也。</p>
<p>病若吐血。復鼽衄血者。脈當沉細。而反浮大而牢者。死也。</p>
<p>〔滑〕脫血脈實。相反也。〔徐〕此又一義。不以生克言。所謂病虛脈實。故死也。靈樞玉版篇曰。衄而不止。脈大。此三逆。即此義也。</p>
<p>按說文曰。鼽。病寒鼻窒也。從鼻九聲。釋名曰。鼻塞曰鼽。鼽。久也。涕久不通。遂至窒塞也。說文又曰。衄。鼻出血也。從血醜聲。</p>
<p>病若譫言妄語。身當有熱。脈當洪大。而手足厥逆。脈沉細而微者。死也。（脈經。而下。有反字。沉上。又有反字。）</p>
<p>〔楊〕按之遲但小。謂之細。〔滑〕陽病見陰脈。相反也。</p>
<p>按楊上善太素經注曰。譫語。多言也。</p>
<p>病若大腹而泄者。脈當微細而澀。反緊大而滑者。死也。（脈經。反下。有得字。死下。有此之謂三字。）</p>
<p>〔滑〕泄而脈大。相反也。大腹。腹脹也。〔徐〕此亦病虛脈實也。靈樞玉版篇曰。腹鳴而滿。四支清泄。其脈大。是二逆也。</p>
<p>十八難曰。脈有三部。部有四經。手有太陰陽明。足有太陽少陰。為上下部。何謂也。然。手太陰陽明金也。足少陰太陽水也。金生水。水流下行。而不能上。故在下部也。足厥陰少陽木也。生手太陽少陰火。火炎上行。而不能下。故為上部。手心主少陽火。生足太陰陽明土。土主中宮。故在中部也。此皆五行子母。更相生養者也。</p>
<p>〔楊〕手太陰。肺脈也。肺為諸藏上蓋。其治在右方。故在右手上部也。手陽明大腸脈。是肺之府。故隨肺居上部焉。足少陰腎脈。腎為水。肺之子。水流趣於腎。又最居於下。故為右手下部也。足太陽膀胱。為腎之府。故隨腎居下部焉。經言脈有三部。部有四經者。謂惣兩手而言之也。兩手各有三部。部各有二經。兩手上部合四也。中下二部。亦復如此。三四十二。則十二經也。肺金居上。而下生腎水。故肺腎在左右手上下部也。足厥陰肝脈也。肝治在左方。故為左手之下部。足少陽膽者。為肝之府。故隨肝居下部也。手太陽小腸脈。為心之府。故隨心居上部焉。手心主胞絡脈也。手少陽三焦脈也。故合為左手中部。足太陰脾脈也。足陽明胃脈也。故合為右手中部。此經作如此分別。若依脈經配三部。又與此不同也。〔徐〕此篇所論。六經部位。乃素問血氣形志篇。所謂足太陽與少陰為表裡。少陽與厥陰為表裡。陽明與太陰為表裡。是為足陰陽也。手太陽與少陰為表裡。少陽與心主為表裡。陽明與太陰為表裡。是為手陰陽也。以此為據。</p>
<p>按詳經文。唯說以三部配六經之義。而非左右排位之謂也。然其言曖昧難識。姑舉楊注以解之。是復掠取王氏脈經之說。而為解者。其實叵以確據矣。</p>
<p>脈有三部九候。各何所主之。然。三部者。寸關尺也。九候者。浮中沉也。上部法天。主胸以上至頭之有疾也。中部法人。主膈以下至齊之有疾也。下部法地。主齊以下至足之有疾也。審而刺之者也。（本義。無所字。）</p>
<p>〔楊〕寸口。陽也。關。中部也。尺中。陰也。此三部各有浮中沉三候。三三九候也。故曰九。浮為陽。沉為陰。中者胃氣也。所謂自膈以上。為上焦也。自膈以下。為中焦也。自齊以下至足。為下焦也。〔謝〕此一節。當是十六難中答辭。錯簡在此。而剩出脈有三部九候。各何主之十字。</p>
<p>按楊注以後。以此段為左右三部。分配藏府之義。然內經及難經。未嘗有其說。蓋出於脈經兩手六脈所主藏府陰陽逆順篇。所引脈法贊文。紀天錫集註。極辨其碎義難據。實為精當。脈經又有分別三關境界脈候篇曰。寸主射上焦。出頭及皮毛竟手。關主中焦。腹及腰。尺主射下焦。少腹至足。義與此段同。刺字。楊注為針刺。丁注當作次字。紀氏為刺候之義。未知孰是。</p>
<p>人病有沉滯久積聚。可切脈而知之耶。然。診在右脅有積氣。得肺脈結。脈結甚則積甚。結微則氣微。診不得肺脈。而右脅有積氣者。何也。然。肺脈雖不見。右手脈當沉伏。</p>
<p>〔楊〕往來緩。而時一止復來。謂之結也。脈結甚者。是診脈之狀也。結甚者。此結訓積。猶言脈結甚則積甚。脈結微則積微。其言稍隱也。極重指著骨乃得。故謂伏脈也。〔滑〕此下問答。亦未詳所屬。或曰。當是十七難中。或連年月不已答辭也。〔徐〕結為積聚之脈。平人氣象論云。結而橫。有積矣。沉伏亦積氣之脈。右手統指三部言。</p>
<p>其外痼疾同法耶。將異也。然。結者。脈來去時一止無常數。名曰結也。伏者。脈行筋下也。浮者。脈在肉上行也。左右表裡。法皆如此。假令脈結伏者。內無積聚。脈浮結者。外無痼疾。有積聚。脈不結伏。有痼疾。脈不浮結。為脈不應病。病不應脈。是為死病也。</p>
<p>〔滑〕此承上文。復問外之痼病。與內之積聚。法將同異。結為積聚。伏脈行筋下。主裡。浮行肉上。主表。所以異也。前舉右脅為例。故此云左右同法。脈病不相應。故為死病也。〔徐〕人病以下至末。與前文不類。疑是五十二。五十五。五十六等難內錯文。</p>
<p>按痼。即㽽俗字。說文曰。㽽。久病也。從疒古聲。又通作固。錮。禮月令曰。季冬之月行春令。則國有固疾。注。生不充性。有久疾也。漢書賈誼傳曰。失今不治。必為錮疾。</p>
<p>十九難曰。經言。脈有逆順。男女有常。而反者。何謂也。然。男子生於寅。寅為木。陽也。女子生於申。申為金。陰也。</p>
<p>〔楊〕元氣起於子。人之所生也。男從子左行三十。女從子右行二十。俱至於巳。為夫婦懷妊也。古者。男子三十。女年二十。然後行嫁娶。法於此也。十月而生男。從巳至寅。左行為十月。故男行年起於丙寅。女從巳右行至申。為十月。故女行年起於壬申。所以男子生於寅。女子生於申。〔滑〕此推本生物之初。而言男女陰陽也。</p>
<p>按脈有逆順。言脈有男之所順。女之所逆。有女之所順。男之所逆也。男女所生之理。虞注為男女天癸之數。規楊氏之言。反非。淮南子泛論訓曰。禮三十而娶。注。三十而娶者。陰陽未分時。俱生於子。男從子數。左行三十。立於巳。女從子數。右行二十年。亦立於巳。合夫婦。故聖人因是制禮。使男三十而娶。女二十而嫁。其男子從巳數。左行十得寅。故人十月而生於寅。故男子數從寅起。女自巳數。右行得申。亦十月而生於申。故女子數從申生也。說文曰。包。象人褢妊。巳在中。象子未成形也。元氣起於子。子。人所生也。男左行三十。女右行二十。俱立於巳。為夫婦。褢妊於巳。巳為子。十月而生。男起巳至寅。女起巳至申。故男年姑寅。女年始申也。是可以證楊說。而經文實原古禮。演男女嫁娶之義者。可知矣。又離騷經曰。惟庚寅吾以降。章句云。寅為陽正。故男始生。而立於寅。庚為陰正。故女始生。而立於庚。是庚之與申雖不同。其為義則一也。</p>
<p>故男脈在關上。女脈在關下。是以男子尺脈恆弱。女子尺脈恆盛。是其常也。</p>
<p>〔楊〕男子陽氣盛。故尺脈弱。女子陰氣盛。故尺脈強。此是其常性。〔謝〕寅為木。木生火。又火生於寅。而性炎上。故男脈在關上。申為金。金生水。又水生於申。而性流下。故女脈在關下。</p>
<p>反者。男得女脈。女得男脈也。其為病何如。然。男得女脈。為不足。病在內。左得之。病則在左。右得之。病則在右。隨脈言之也。女得男脈。為太過。病在四肢。左得之。病則在左。右得之。病則在右。隨脈言之。此之謂也。</p>
<p>〔楊〕男得女脈。為陰氣盛。陰主內。故病在內。女得男脈。為陽氣盛。主四肢。故病在四肢也。</p>
<p>二十難曰。經言。脈有伏匿。伏匿於何藏。而言伏匿耶。然。謂陰陽更相乘。更相伏也。脈居陰部。而反陽脈見者。為陽乘陰也。脈雖時沉澀而短。此謂陽中伏陰也。脈居陽部。而反陰脈見者。為陰乘陽也。脈雖時浮滑而長。此謂陰中伏陽也。</p>
<p>〔楊〕陽乘陰。尺中已浮滑而長。又時時沉澀而短。故曰陽中伏陰也。寸關已沉短而澀。澀而時時浮滑而長。故曰陰中伏陽也。〔丁〕其部。非獨言寸為陽尺為陰也。若以前後言之。即寸為陽部。尺為陰部。若以上下言之。曰肌肉上為陽部。肌肉下為陰部。〔滑〕居。猶在也。當也。乘。猶乘車之乘。出於其上也。伏。猶伏兵之伏。隱於其中也。匿。藏也。〔徐〕引經言無考。伏匿。謂不見於本位。反藏於他部。而見其脈也。</p>
<p>重陽者狂。重陰者癲。脫陽者見鬼。脫陰者目盲。</p>
<p>〔虞〕寸口曰陽。又今重見陽脈三倍以上。故曰重陽。其病狂惑。自高賢智。登高而歌。棄衣而走。罵詈不避親疏。故曰狂。尺中曰陰。而尺脈重見陰。故曰重陰。其為病也。名曰癲疾。謂僵仆於地。閉目不醒。陰極陽復。良久卻醒。故曰癲也。今天吊之類。是也。〔徐〕此又因陰陽之伏匿。而極言之。重陰重陽。言不止伏匿。陰皆變為陽。陽皆變為陰也。脫陽脫陰者。此又因重陽重陰而及之。鬼屬陰。陽既脫。則純乎陰。故見鬼。目得血而能視。陰既脫。則血不營於目。故曰盲。此則重陰重陽之反也。</p>
<p>按本義。為五十九難之錯文。然脈經文亦如是。則徐說為得。</p>
<p>二十一難曰。經言。人形病脈不病。曰生。脈病形不病。曰死。何謂也。然。人形病脈不病。非有不病者也。謂息數不應脈數也。此大法。</p>
<p>〔周〕形體之中。覺見憔悴。精神昏憒。食不忺美。而脈得四時之從。無過不及之偏。是人病脈不病也。形體安和。而脈息乍小乍大。或至或損。弦緊浮滑沉澀不一。殘賊沖和之氣。是皆脈息不與形相應。乃脈病人不病也。仲景云。人病脈不病。名曰內虛。以無穀氣神。雖困無苦。脈病人不病。名曰行屍。以無王氣。卒眩僕不識人。短命則死。〔謝〕按本經答文。詞意不屬。似有脫誤。</p>
<p>二十二難曰。經言。脈有是動。有所生病。一脈輒變為二病者。何也。然。經言是動者。氣也。所生病者。血也。邪在氣。氣為是動。邪在血。血為所生病。氣主呴之。血主濡之。氣留而不行者。為氣先病也。血壅而不濡者。為血後病也。故先為是動。後所生病也。</p>
<p>〔虞〕氣病傳血。此乃一脈變為二病。脈動反常。邪在氣。氣受邪。傳之與血。故血為所生病。呴之。氣流行之貌也。濡者。濡潤之貌。言人身所稟者。氣血也。氣血通行。沮潤人身。其為病也若此。〔丁〕氣主呴之。呴呴。謂吹噓往來之象。人一身經脈通行。氣血或居。一經脈中。氣留不行。故血壅不濡。其氣先病。名曰是動。血壅不濡。後病。名曰所生。此是一脈輒變為二病也。〔滑〕氣主呴之。謂氣煦噓然來。薰蒸於皮膚分肉也。血主濡之。謂血濡潤筋骨。滑利關節。榮養藏府也。此脈字。非尺寸之脈。乃十二經隧之脈也。此謂十二經隧之脈。每脈中輒有二病者。蓋以有在氣在血之分也。〔徐〕此亦非經之全文。乃約經語。以成文者也。是動所生病。見靈樞經脈篇。是動諸病。乃本經之病。所生之病。則以類推。而旁及他經者。經文並無氣血分屬之說。</p>
<p>按自一難至此。論脈。是為第一篇。</p>
<p>二十三難曰。手足三陰三陽。脈之度數。可曉以不。然。手三陽之脈。從手至頭。長五尺。五六合三丈。手三陰之脈。從手至胸中。長三尺五寸。三六一丈八尺。五六三尺。合二丈一尺。足三陽之脈。從足至頭。長八尺。六八四丈八尺。足三陰之脈。從足至胸。長六尺五寸。六六三丈六尺。五六三尺。合三丈九尺。人兩足蹻脈。從足至目。長七尺五寸。二七一丈四尺。二五一尺。合一丈五尺。督脈。任脈。各長四尺五寸。二四八尺。二五一尺。合九尺。凡脈長一十六丈二尺。此所謂十二經脈長短之數也。</p>
<p>〔楊〕一手有三陽。兩手合為六陽。故曰五六合三丈也。兩手各有三陰。合為六陰。故曰三六一丈八尺。兩足各有三陽。故曰六八四丈八尺。按此脈度數七尺五寸。中人之形。而云長八尺。理則難解。然足之六陽。從足指而向上行。由其紆曲。故曰八尺也。兩足各有三陰。故曰六六三丈六尺也。按足太陰少陰。皆至舌下。足厥陰至於頂上。今言至胸中者。蓋據其相接之次也。督脈起於脊𦟘。上於頭。下於面。至口齒縫。計則不止長四尺五寸。今言四尺五寸者。當取上極於風府。而言之也。〔虞〕人有陰蹻陽蹻二脈。兩足合四脈。陽蹻者。起於跟中。循外踝。上行入風池。陰蹻者。亦起於跟中。乃是足少陰之別絡也。自然骨之後。上內踝之上。上出人迎之前。入頄內廉。屬目內眥。合太陽脈。長七尺五寸。兩行合一丈五尺。准此推之。至目者。是兩足陰蹻脈也。〔滑〕此靈樞廿七篇全文。三陰三陽。靈樞皆作六陰六陽。義尤明白。〔徐〕靈樞脈度篇。論蹻脈起止。專指陰蹻言。而不及陽蹻。則其長短之數。乃陰蹻之數也。</p>
<p>按自二十三難。至二十九難。論經絡。是為第二篇。</p>
<p>經脈十二。絡脈十五。何始何窮也。然。經脈者。行血氣通陰陽。以榮於身者也。其始從中焦。注手太陰陽明。陽明注足陽明太陰。太陰注手少陰太陽。太陽注足太陽少陰。少陰注手心主少陽。少陽注足少陽厥陰。厥陰復還注手太陰。別絡十五。皆因其原。如環無端。轉相溉灌。朝於寸口人迎。以處百病。而決死生也。</p>
<p>〔滑〕因者。隨也。原者。如也。朝。猶朝會之朝。以。用也。因上文經脈之尺度。而推言經絡之行度也。直行者謂之經。旁出者謂之絡。十二經。有十二絡。兼陽絡陰絡。脾之大絡。為十五絡也。謝氏云。始從中焦者。蓋謂飲食入口。藏於胃。其精微之化。注手太陰陽明。以次相傳。至足厥陰。厥陰復還注手太陰也。寸口人迎。古法以俠喉兩旁動脈。為人迎。至晉王叔和。直以左手關前一分為人迎。右手關前一分為氣口。後世宗之。愚謂昔人所以取人迎氣口者。蓋人迎為足陽明胃經。受穀氣而養五藏者也。氣口為手太陰肺經。朝百脈而平權衡者也。〔徐〕脈所注為原。靈樞九針十二原篇云。原者。五藏之所以稟三百六十五節氣味也。</p>
<p>按靈樞經脈篇曰。經脈者。所以能決死生。處百病。調虛實。不可不通。經釋。以處為揆度。未妥。蓋處者。處分之謂也。大戴禮。諸侯遷廟篇曰。聽其聲。處其氣。考其所為。觀其所由。義與此同。榮。古與營通。即營周之義也。</p>
<p>經曰。明知終始。陰陽定矣。何謂也。然。終始者。脈之紀也。寸口人迎。陰陽之氣。通於朝使。如環無端。故曰始也。終者。三陰三陽之脈絕。絕則死。死各有形。故曰終也。</p>
<p>〔滑〕謝氏曰。靈樞第九篇云。凡刺之道。畢於終始。明知終始。五藏為紀。陰陽定矣。又曰。不病者。脈口人迎。應四時也。少氣者。脈口人迎俱少。而不稱尺寸也。此一節。因上文寸口人迎。處百病決死生。而推言之。謂欲曉知終始。於陰陽為能定之。蓋以陽經取決於人迎。陰經取決於氣口也。朝使者。朝。謂氣血如水潮應時而灌溉。使。謂陰陽相為用也。始。如生物之始。終。如生物之窮。欲知生死。脈以候之。陰陽之氣。通於朝使。如環無端。則不病。一或不相朝使。則病矣。況三陰三陽之脈絕乎。絕必死矣。其死之形狀。則具如下篇。</p>
<p>按經釋曰。靈樞終始篇云。終始者。經脈為紀。此終始。蓋指十二經之所起止也。非謂氣行為始。脈絕為終也。其終始篇篇末。亦載十二經脈絕病形。豈因此遂誤以終始之終。為即此終耶。</p>
<p>二十四難曰。手足三陰三陽氣已絕。何以為候。可知其吉凶不然。足少陰氣絕。即骨枯。少陰者。冬脈也。伏行而溫於骨髓。故骨髓不溫。即肉不著骨。骨肉不相親。即肉濡而卻。肉濡而卻。故齒長而枯。發無潤澤者。骨先死。戊日篤巳日死。（素問診要經終論新校正曰。詳王注云。骨不耎。骨硬。難經。及甲乙經云。骨不濡。則肉弗能著。當作骨不濡。靈樞經脈篇。亦作濡。本義。澤下。長有無潤澤三字。按下文例。骨髓不溫。當作脈不溫。）</p>
<p>〔楊〕足少陰。腎脈也。腎主冬。故云冬脈也。腎主內榮骨髓。故云伏行而溫於骨髓也。卻。結縮也。謂齒齦之肉結縮。而故齒漸長而枯燥。色不澤也。腎為津液之主。今無津液。故使發不潤焉。戊己土也。腎水也。土剋水。故云戊日篤己日死也。〔滑〕此下六節。與靈樞第十篇文。皆大同小異。濡。讀為軟。〔徐〕卻。退縮也。</p>
<p>按溫。即溫養之謂。濡。古軟字。見於素問玉機真藏論新校正。卻。楊為結縮。義與軟字相乖。</p>
<p>足太陰氣絕。則脈不榮其口唇。口唇者。肌肉之本也。脈不榮。則肌肉不滑澤。肌肉不滑澤。則肉滿。肉滿則唇反。唇反則肉先死。甲日篤乙日死。</p>
<p>〔滑〕脾其華在唇四白。其充在肌。脾絕則肉滿唇反也。肉滿。謂肌肉不滑澤。而緊急䐜膹也。</p>
<p>足厥陰氣絕。即筋縮引卵與舌。厥陰者。肝脈也。肝者。筋之合也。筋者。聚於陰器。而絡於舌本。故脈不營。則筋縮急。筋縮急。即引卵與舌。故舌卷卵縮。此筋先死。庚日篤辛日死。（舌厥之間。舊剩卷字。據甲乙經刪。）</p>
<p>按素問熱論曰。厥陰脈循陰器。而絡於肝。次注。凡虛中而受物者。皆謂之器。其於體外。則謂陰囊。其於身中所司。則謂膀胱矣。</p>
<p>手太陰氣絕。即皮毛焦。太陰者。肺也。行氣溫於皮毛者也。氣弗榮。則皮毛焦。皮毛焦。則津液去。津液去。即皮節傷。皮節傷。則皮枯毛折。毛折者。則毛先死。丙日篤丁日死。</p>
<p>〔滑〕肺者。氣之本。其華在毛。其充在皮。肺絕則皮毛焦。而津液去。皮節傷。以諸液皆會於節也。</p>
<p>手少陰氣絕。則脈不通。少陰者。心脈也。心者。脈之合也。脈不通。則血不流。血不流則色澤去。故面黑如梨。此血先死。壬日篤癸日死。（舊脫少陰者。心脈也。心者。脈之合也。十二字。今據脈經所引靈樞補之。本義。甲乙經。梨。作黧。非。）</p>
<p>〔楊〕經云。手三陰。今此推釋太陰少陰。而心主一經不言之。何也。然心主者。心包絡之脈也。少陰者。心脈也。二經同候於心。故言少陰絕。則心主亦絕。其診既同。故不別解也。本經云面黑如漆柴。此云如梨。漆柴者。恆山苗也。其草色黃黑無潤澤。故以為喻。梨者。人所食之果也。亦取其黃黑焉。言人即無血則色黃黑。似此二物。無光華也。</p>
<p>按方言曰。老。燕代之北鄙。曰梨。郭璞注。言面色如凍梨。爾雅正義。孫炎云。耇。面如凍梨。色如浮垢。是楊注所本。丁注曰。梨字當作黧。誤。考諸本草。恆山苗。未載漆柴名。不知何據。</p>
<p>三陰氣俱絕者。則目眩轉。目瞑。目瞑者。為失志。失志者。則志先死。死即目瞑也。</p>
<p>〔楊〕三陰者。是手足三陰脈也。此五藏之脈也。五藏者。人之根本也。故三陰俱絕。則目瞑。瞑。閉也。〔虞〕人之五志。皆屬於陰。今三陰已絕。五藏皆失其志。故無喜怒憂思恐。五志俱亡。故曰失志也。</p>
<p>按眩轉之眩。當是系訛。蓋眩。或作玄。因訛係為玄。再轉從目也。靈樞經脈篇曰。五陰氣俱絕。則目系轉。轉則目運。又大惑論曰。五藏六府之精氣。皆上注於目。又曰。腦轉則引目系急。目系急。則目眩以轉矣。再按辨正條例曰。注義。目眩為失志。今從之。補註。作目瞑。據此。似舊作目系轉目眩。</p>
<p>六陽氣俱絕者。則陰與陽相離。陰陽相離。則腠理泄。絕汗乃出。大如貫珠。轉出不流。即氣先死。旦占夕死。夕占旦死。</p>
<p>〔丁〕六陽者。是手足三陽也。〔楊〕陰與陽相離者。陰陽隔絕。不相朝使也。腠理泄者。陽氣已下。毛孔皆開。所以然也。絕汗者。乃汗出如珠。言身體汗出著肉。如綴珠而不流散。故曰貫珠也。</p>
<p>按占亦診候之義。莊子人間世曰。匠石覺而診其夢。釋文司馬彪云。診。占夢也。</p>
<p>二十五難曰。有十二經。五藏六府十一耳。其一經者。何等經也。然。一經者。手少陰與心主別脈也。心主與三焦為表裡。俱有名而無形。故言經有十二也。</p>
<p>〔楊〕手少陰。真心脈也。手心主。心包絡脈也。二脈俱是心脈。而少陰與少陽合。心主與三焦脈合。三焦者。有位而無形。心主有名而無藏。故二經為表裡也。五藏六府。各一脈。為十一脈。心有兩脈。合成十二經焉。據此而言。六府亦止五府耳。</p>
<p>二十六難曰。經有十二。絡有十五。餘三絡者。是何等絡也。然。有陽絡。有陰絡。有脾之大絡。陽絡者。陽蹻之絡也。陰絡者。陰蹻之絡也。有絡有十五焉。</p>
<p>〔楊〕十二經。各有一絡。為十二絡耳。今云十五絡者。有陰陽之二經。脾之大絡。合為十五絡也。</p>
<p>按陰陽二蹻。見於二十八難。靈樞經脈篇曰。脾之大絡。名曰大包。出淵腋下三寸。布胸脅。</p>
<p>二十七難曰。脈有奇經八脈者。不拘於十二經。何謂也。然。有陽維。有陰維。有陽蹻。有陰蹻。有沖。有督。有任。有帶之脈。凡此八脈者。皆不拘於經。故曰奇經八脈也。經有十二。絡有十五。凡二十七氣。相隨上下。何獨不拘於經也。然。聖人圖設溝渠。通利水道。以備不然。天雨降下。溝渠溢滿。當此之時。霶霈妄行。聖人不能復圖也。此絡脈滿溢諸經。不能復拘也。（脈經。不然。作不虞。當此之時。在於聖人上。）</p>
<p>〔虞〕奇。音基也。奇。斜也。零也。不偶之義。謂此八脈。不繫正經陰陽。無表裡配合。別道奇行。故曰奇經也。所以經言八脈不拘於經。以此可驗矣。楊氏言奇異之義。非也。〔滑〕奇經者。絡脈之滿溢。而為之者歟。或曰。此絡脈三字。越人正指奇經而言也。既不拘於經。直謂之絡脈。亦可也。此篇兩節。舉八脈之名。及所以為奇經之義。〔徐〕言血脈充盛。十二經不足以容之。則溢出而為奇經。故奇經為十二經之別脈也。</p>
<p>按說文曰。圖。畫計難也。從口從啚。啚。難意也。徐鍇云。規畫之也。溝。水瀆廣四尺。深四尺。從水勾聲。渠。水所居。從水矩省聲。滂。滂沛也。從水旁聲。徐鉉等云。今俗作霶霈。非是。</p>
<p>二十八難曰。其奇經八脈者。既不拘於十二經。皆何起何繼也。然。督脈者。起於下極之俞。並於脊裡。上至風府。入屬於腦。（脈經。繼。作系。）</p>
<p>〔呂〕督脈者。陽脈之海也。〔楊〕下極者。長強也。〔徐〕繼。續也。</p>
<p>按靈樞經脈篇曰。督脈之別。名曰長強。挾膂上項。散頭上。下當肩胛。左右別走太陽。入貫膂。脈經曰。衝脈者。陰脈之海也。督脈者。陽脈之海也。又其敘八脈。與本經不同。始載二維。次蹻脈。次衝脈。次督脈。次任脈。次帶脈也。照之下文敘奇經之病。其次相同。且其所記。任沖二脈之起行。亦與本經不同。反合於下文呂注。甲乙經。屬於腦下。又云。上巔循額。至鼻柱。陽脈之海也。楊注以督為都綱之義。非。先子曰。督。古與裻通。其脈循脊上行。故以背縫名之。晉語曰。衣之偏裻之衣。注。裻在中。左右異。故云偏。莊子養生主論曰。緣督以為經。釋文。李頤云。督。中也。說文曰。裻。新衣聲。一曰背縫。從衣叔聲。甲乙經曰。風府。在項上一寸大筋內。長強。在脊骶端。</p>
<p>任脈者。起於中極之下。以上毛際。循腹裡。上關元。至咽喉。（甲乙經。作中極之上。脈經。作任脈者。起於胞門子戶。夾臍上行。至胸中。注。一云。任脈者。起於中極之下。以上毛際。循腹裡。至關元。至咽喉。）</p>
<p>〔丁〕中極者。穴名也。在齊下四寸。其中極之下者。曲骨穴也。</p>
<p>按先子曰。任。與衽通。其循腹裡上行。猶衽之在於腹前也。說文曰。衽。衣襟也。從衣壬聲。又曰。襟。交衽也。從衣金聲。楊注。任者。妊也。此為人之生養之本。誤。甲乙經曰。關元。在臍下三寸。王冰素問骨空論注曰。言中極之下者。言從少腹之內上行。而外出於毛際而上。非謂本起於此也。何以言之。針經云。衝脈者。十二經之海。與少陰之絡。起於腎下。出於氣街。又云。衝脈任脈者。皆起於胞中。上循脊裡。為經絡之海。由此言之。則任脈衝脈。從少腹之內上行。至中極之下。氣街之內。明矣。</p>
<p>衝脈者。起於氣衝。並足陽明之經。夾齊上行。至胸中而散也。（脈經。衝脈者。起於關元。循腹裡。直上至咽喉中。注。一云衝脈者。起於氣衝。並陽明之經。夾臍上行。至胸中而散。）</p>
<p>〔楊〕經云。衝脈者。十二經之海也。如此則不獨為陰脈之海。恐呂氏誤矣。沖者。通也。言此脈。下至於足。上至於頭。通受十二經之氣血。故曰沖焉。此奇經之三脈也。〔虞〕素問云。衝脈起於氣街。難經云。起於氣衝。又針經穴中。兩存其名。沖。街之義也。素問云。並足少陰之經。難經言。並足陽明之經。況少陰之經。夾齊左右各五分。陽明之經。夾齊左右各二寸。氣衝又是陽明脈氣所發。如此推之。則衝脈自氣衝起。在陽明少陰二經之內。其理明矣。大體督脈任脈衝脈。此三脈。皆自會陰穴。會合而起。二脈分為三岐。行於陰陽。部分不同。故名各異也。</p>
<p>按靈樞逆順肥瘦篇曰。夫衝脈者。五藏六府之海也。五藏六府皆稟焉。楊注規呂稱陰脈之海。是。而其以沖為通。未盡。說文曰。沖。通道也。從行童聲。春秋云。及沖以戈擊之。又曰。街。四通道也。從行圭聲。虞注。沖。街之義。此說為妥。蓋此脈為十二經之所注。猶四通之路也。甲乙經曰。氣衝。在歸來下。鼠溪上一寸。動脈應手。</p>
<p>帶脈者。起於季脅。回身一周。（脈經。脅。作肋。）</p>
<p>〔楊〕帶之為言。束也。言總束諸脈。使得調柔也。季脅。在肋下。下接於髖骨之間。是也。回。繞也。繞身一周。猶如束帶。</p>
<p>按說文曰。帶。紳也。男子鞶革。婦人鞶絲。象系佩之形。佩必有巾。從巾。</p>
<p>陽蹻脈者。起於跟中。循外踝。上行入風池。陰蹻脈者。亦起於跟中。循內踝。上行至咽喉。交貫衝脈。（甲乙經。至作入。）</p>
<p>〔丁〕陽蹻脈。起於跟中。循外踝者。中衝穴也。上入風池穴者。頂後髮際陷中。是奇經之五脈也。陰蹻脈。亦起跟中。循內踝者。照海穴也。上行至咽喉。交貫衝脈。其又至目下承泣穴。是陰蹻脈始終也。是奇經之六脈也。</p>
<p>按先子曰。蹻。與屩通。史記孟嘗君傳曰。馮馭聞孟嘗君好客。躡屩而見之。索隱。屩。音腳。字亦作蹻。又虞卿傳曰。躡蹻擔簦。徐廣注。蹻。草履也。蓋蹻脈起於跟中。故義取於此。或曰。蹻即繑之義。說文曰。繑。絝紐也。從糸喬聲。絝。脛衣也。從糸誇聲。此說亦通。楊注。蹻。捷疾也。是人行走之機要。動足之所由。誤矣。甲乙經曰。風池。在顳顬後。髮際陷者中。</p>
<p>陽維陰維者。維絡於身。溢畜不能環流灌溉諸經者也。故陽維。起於諸陽會也。陰維。起於諸陰交也。比於聖人圖設溝渠。滿溢流於深湖。故聖人不能拘通也。而人脈隆盛。入於八脈。而不環周。故十二經。亦不能拘之。其受邪氣。畜則腫熱。砭射之也。（脈經。陽維起於諸陽會也二句。在於陽維陰維者上。無故字。又無比於以下五十三字。作此八者不繫於十二經。故曰奇經八脈者也。十八字。甲乙經。無諸經者也四字。經釋。灌溉。作灌溢。）</p>
<p>〔楊〕維者。維持之義也。此脈為諸脈之綱維。故曰維脈也。此有陰陽二脈。為奇經八脈也。〔虞〕十二經隆盛。入於八脈。而不環周。邪在八脈。腫熱畜積。故以砭石射刺之。故曰砭射之也。〔紀〕陽維者。維絡於陽之脈。陰維者。維絡於陰之脈。所以陰陽能相維者。經血滿足。通達四旁。能維絡於諸經也。〔徐〕按二維之脈。經無明文。其起止蓋不可考。不還周。言不復歸於十二經也。</p>
<p>按素問刺腰痛論曰。陽維之脈。令人腰痛。痛上怫然腫。刺陽維之脈。脈與太陽合腨下間。去地一尺所。次注。太陽所生。與正經並行。而上至腨下。復與太陽合而上也。又曰。飛陽之脈。令人腰痛。痛上怫怫然。甚則悲以恐。次注。是陰維之脈也。又曰。刺飛陽之脈。在內踝上五寸。少陰之前。與陰維之會。次注。陰維之會。以三脈在此穴位也。是經文二維之稱。他無所見。而其所會之穴。見於甲乙經。說文曰。湖。大陂也。從水胡聲。揚州浸有五湖浸。川澤所仰以灌溉也。拘通。言不能拘止其所流通也。本義曰。溢畜不能環流灌溉諸經者也十二字。當在十二經亦不能拘之之下。則於此無所間。而於彼得相從矣。經釋曰。維絡於身之下。必有缺文。後人誤以此二句。移入此處。故難通也。考脈經。甲乙經。並與經文同。則滑徐說。難以信據。而脈經以二經所起二句。冠於陽維陰維者上。殊覺文順。本義又曰。其受邪氣畜云十二字。謝氏以為於本文上下。當有缺文。然脈經無此。疑衍文也。或云。當在三十七難。關格不得盡其命而死矣之下。因邪在六府而言也。此說似有理。然據虞注。其義亦鬯。經釋曰。奇經之脈。不能還周。故邪氣無從而出。惟以砭石以射之。則邪氣因血以泄。病乃已也。此說最為妥善。</p>
<p>二十九難曰奇經之為病。何如。然。陽維維於陽。陰維維於陰。陰陽不能自相維。則悵然失志。溶溶不能自收持。陽維為病。苦寒熱。陰維為病。苦心痛。（陽維為病云十四字。舊在於帶之為病後。今據脈經。謝注。本義。移於此。脈經。溶溶。作容容。甲乙經。則悵然云十二字。作為病腰腹縱容如囊水之狀。注。一云。腹滿腰溶溶。如坐水中狀。）</p>
<p>〔呂〕悵然者。其人驚。驚即維脈緩。故令人身不能收持。驚則失志。善忘恍惚也。陽為衛。故寒熱。陰為榮。榮為血。血者心。故心痛也。〔丁〕溶溶者。緩慢所以不能收持也。〔滑〕溶溶。無力貌。〔徐〕溶溶。浮蕩之貌。</p>
<p>按說文曰。溶。水盛也。從水容聲。是與經旨不符。故舉三說。說文又曰。悵。望恨也。從心長聲。</p>
<p>陰蹻為病。陽緩而陰急。陽蹻為病。陰緩而陽急。</p>
<p>〔滑〕兩蹻脈病。在陽則陽結急。在陰則陰結急。受病者急。不病者自和緩也。</p>
<p>按內經。載八脈病證。經釋詳舉之。今不贅。</p>
<p>沖之為病。逆氣而裡急。督之為病。脊強而厥。任之為病。其內苦結。男子為七疝。女子為瘕聚。帶之為病。腹滿腰溶溶。若坐水中。此奇經八脈之為病也。</p>
<p>〔呂〕衝脈。從關元上至咽喉。故其為病。逆氣而裡急。督脈在脊。病則其脈急。故令其脊強也。任脈起於胞門子戶。故其脈結為七疝瘕聚之病。帶脈者。迴帶人之身體。病則其腹緩。故令腰溶溶也。〔丁〕逆氣。腹逆也。裡急。腹痛也。〔虞〕瘕者。謂假於物形也。〔徐〕溶溶如坐水中。寬慢不收。而畏寒也。</p>
<p>按諸病源候論。虛勞裡急候曰。虛勞則腎氣不足。傷於衝脈。衝脈為陰脈之海。起於關元。關元穴在臍下。隨腹直上至咽喉。勞傷內損。故腹裡拘急也。七疝。虞注。謂厥疝。盤疝。寒疝。症疝。附疝。狼疝。氣疝也。此稱。諸病源候論所載。而內經。有五藏風疝。及狐疝㿉疝之七名。未知此所謂七疝否。</p>
<p>自二十三難至此。論經絡。是為第二篇。</p>

<h1>黃帝八十一難經疏證卷下</h1>
<p>三十難曰。榮氣之行。常與衛氣相隨不。然。經言。人受氣於谷。谷入於胃。乃傳於五藏六府。五藏六府。皆受於氣。其清者為榮。濁者為衛。榮行脈中。衛行脈外。榮周不息。五十而復大會。陰陽相貫。如環之無端。故知榮衛相隨也。</p>
<p>〔楊〕衛者。護也。此是人之慓悍之氣。行於經脈之外。晝行於身。夜行於藏。衛護人身。故曰衛氣。凡人陰陽二氣。皆會於頭手足。流轉無窮。故曰。如環之無端也。〔滑〕此篇。與靈樞第十八篇。岐伯之言同。但谷入於胃。乃傳與五藏六府。五藏六府。皆受於氣。靈樞。作谷入於胃。以傳與肺。五藏六府。皆以受氣。為少殊爾。皆受於氣之氣。指水穀之氣而言也。夫以用而言。則清氣為榮者。濁中之清者也。濁氣為衛者。清中之濁者也。以體而言。則清之用。不離乎濁之體。濁之用。不離乎清之體。故謂清氣為榮。濁氣為衛。亦可也。謂榮濁衛清。亦可也。紀氏亦云素問。榮者水穀之精氣。則清。衛者水穀之悍氣。則濁。精氣入於脈中則濁。悍氣行於脈外則清。或問。三十二難云。血為榮。氣為衛。此則榮衛皆以氣言者。何也。曰。經云。榮者水穀之精氣。衛者水穀之悍氣。又云。清氣為榮。濁氣為衛。蓋統而言之。則榮衛皆水穀之氣所為。故悉以氣言可也。析而言之。則榮為血。而衛為氣。固自有分。是故榮行脈中。衛行脈外。猶水澤之於川澮。風雲之於大虛也。</p>
<p>按自三十難。至四十七難。論藏府。是為第三篇。○榮。營同。環周之義也。靈樞。有五十營篇。釋人氣通行之數。又營氣篇曰。營氣之道。內谷為寶。谷入於胃。乃傳之肺。流溢於中。布散於外。精專者行於經隧。常營無已。終而復始。又營衛生會篇。及此段。有榮周不息之語。其義並同。而查說文曰。營。市居也。從宮熒省聲。據此與環周之義不葉。蓋營。古讀如環。韓非子五蠹篇曰。蒼頡之作書也。自環者謂之私。背私者謂之公。說文。引韓非。作自營為厶。背厶為公。漢書地理志曰。臨菑。名營丘。故齊詩云。子之營。遭我虖嶩之間兮。顏師古注。齊國風營詩之辭也。毛詩作還。齊詩作營。是其音通。則義相藉者。營衛之營。亦與環同義。靈樞脈度篇曰。蹻脈者。合於太陽陽蹻而上行。氣並相還。則為濡目。氣不榮。則目不合。是還（與環通）榮互用。則又可以證焉。楊注。榮者榮華。營者經營。並乖經旨。說文曰。衛。宿衛也。從韋從幣從行。行。列衛也。夫氣之在外為護。謂之衛。在內周流。謂之營。素問痹論曰。榮者。水穀之精氣也。和調於五藏。灑陳於六府。乃能入於脈也。故循脈上下。貫五藏絡六府也。衛者。水穀之悍氣也。其氣慓疾滑利。不能入於脈也。故循皮膚之中。分肉之間。熏於肓膜。散於胸腹。虞注。有清濁誤寫之說。不可從焉。</p>
<p>三十一難曰。三焦者。何稟何生。何始何終。其治常在何許。可曉以不然。三焦者。水穀之道路。氣之所終始也。上焦者。在心下下膈。在胃上口。主內而不出。其治在膻中。玉堂下一寸六分。直兩乳間陷者。是。中焦者。在胃中脘。不上不下。主腐熟水穀。其治在齊傍。下焦者。當膀胱上口。主分別清濁。主出而不內。以傳導也。其治在齊下一寸。故名曰三焦。其府在氣街。一本曰沖。</p>
<p>〔楊〕自膈以上。名曰上焦。主出陽氣。溫於皮膚分肉之間。若霧露之溉焉。胃上口。穴在鳩尾下二寸五分也。自齊以上。名曰中焦。變化水穀之味。生血以營五藏六府。及於身體。中脘。在鳩尾下四寸也。自齊以下。名曰下焦。齊下一寸。陰交穴也。主通利溲便。以時下而傳。故曰出而不內也。氣街者。氣之道路也。三焦既是行氣之主。故云府在氣街。街。衢也。衢者。四達之道焉。一本曰沖。此非扁鵲之語。蓋呂氏再錄之言。別本有此言。於義不可用也。〔虞〕中焦。其治在齊傍左右各一寸。乃足陽明胃脈所發。夾齊。乃天樞穴也。中焦主脾胃。故治在此經中。故曰齊傍也。三焦其府在氣街。針經本名氣衝。沖者通。與四達之義不殊。兩存之可也。〔紀〕三焦者。稟原氣以資始。合胃氣以資生。上達胸中而為用。往來通貫。宣布無窮。造化出內。作水穀之道路。為氣之所終始也。靈樞經云。上焦如霧。中焦如漚。下焦如瀆。且如上焦者。其氣自下而上散於胸中。分布薰蒸於皮膚腠理。在胃上口。主內物而不令出。中焦者。其治在臍旁。其用在胃中脘。中脘者。乃十二經所起所會。陰陽口完之處。故曰脘也。素問云。三焦者。為決瀆之官。其府在氣街者。乃原氣所藏之處也。夫三焦者。焦字從火從隹。乃火之臰物也。火之性自下而上。今三焦始於原氣。用於中脘。散於膻中。亦如火自下而上也。故素問云。飲入於胃。遊溢精氣。上輸於脾。此指中焦也。脾胃散精。上歸於肺。此指上焦也。通調水道。下輸膀胱。此指下焦也。然脾肺膀胱。既為藏府。而又謂三焦。人以是知之。蓋內有所蘊。則曰玄府。氣達於外。則曰三焦。名之為焦者。皆得火而發也。如此則見三焦上下。為水穀之道路。作氣之終始也。證義云。人受水穀。皆納於胃。穀氣從胃。而納於三焦。三焦始傳於肺。而遍於十二經。則三焦之府在胃中。明矣。是不在氣街也。天錫言。三焦為原氣之別使。主發用氣街之氣。合水穀之氣。而達於四旁。通十二經絡。是府在氣街也明矣。證義之言。不合本經之意。〔滑〕治。猶司也。猶郡縣治之治。謂三焦治所也。〔徐〕膀胱上口。闌門也。清者入於膀胱。而為溺。濁者入於大腸。而為滓穢。府猶舍。藏聚之義也。</p>
<p>按白虎通曰。三焦者。包絡府也。水穀之道路。氣之所終始也。故上焦若竅。中焦若編。下焦若瀆。此段經文。原於靈樞營衛生會篇。而與素問六節藏象論。靈樞本藏篇所言。有名有狀之三焦。素問靈蘭秘典論。靈樞本輸篇所言。專指下焦氣化之三焦。靈樞經脈篇。三十八難所言。手少陽三焦經脈氣所行之三焦。固自不同。蓋所謂有名無狀者。是也。甲乙經曰。玉堂。一名玉英。在紫宮下一寸六分陷者中。任脈氣所發。膻中。一名元兒。在玉堂下一寸六分陷者中。任脈氣所發。說文曰。脘。胃府也。從肉完聲。讀若患。前段舉五藏六府。稟水穀榮衛之氣。而相資養。為論藏府之首條。因及三焦之氣。論其發用之理。以次之也。本義。以其府在氣街句為衍。非。紀注辨之明晰。</p>
<p>三十二難曰。五藏俱等。而心肺獨在膈上者。何也。然。心者血。肺者氣。血為榮。氣為衛。相隨上下。謂之榮衛。通行經絡。營周於外。故令心肺在膈上也。（五行大義。引八十一問。作五藏俱等。心肺獨在鬲上。何。對曰。心主氣。肺主血。血行脈中。氣行脈外。相隨上下。故曰營衛。故令心肺在膈上也。）</p>
<p>〔滑〕心榮肺衛。通行經絡。營周於外。猶天道之運於上也。鬲者。隔也。凡人心下有鬲膜。與脊脅周迴相著。所以遮隔濁氣。不使上熏於心肺也。〔徐〕素問五藏生成論云。諸血者皆屬於心。諸氣者皆屬於肺。蓋營行脈中。故血為營。衛行脈外。故氣為衛。</p>
<p>三十三難曰。肝青象木。肺白象金。肝得水而沉。木得水而浮。肺得水而浮。金得水而沉。其意何也。然。肝者。非為純木也。乙角也。庚之柔。大言陰與陽。小言夫與婦。釋其微陽。而吸其微陰之氣。其意樂金。又行陰道多。故令得水而沉也。肺者。非為純金也。辛商也。丙之柔。大言陰與陽。小言夫與婦。釋其微陰。婚而就火。其意樂火。又行陽道多。故令肺得水而浮也。肺熟而復沉。肝熟而復浮者。何也。故知辛當歸庚。乙當歸甲也。</p>
<p>〔滑〕紀氏云。肝為陰中之陽。陰性尚多。不隨於木。故得水而沉也。肺為陽中之陰。陽性尚多。不隨於金。故得水而浮也。此乃言其大者耳。若言其小。則乙庚丙辛。夫婦之道也。及其熟而沉浮反者。各歸所屈。見其本性故也。陳氏云。肝屬甲乙木。應角音而重濁。析而言之。則甲為木之陽。乙為木之陰。合而言之。則皆陽也。以其屬少陽。而位於人身之陰分。故為陰中之陽。夫陽者必合陰。甲乙之陰陽。本自為配合。而乙與庚通。剛柔之道。乙乃釋甲之微陽。而反樂金。故吸受庚金微陰之氣。為之夫婦。木之性本浮。以其受金之氣。而居陰道。故得水而沉也。及熟之。則所受金之氣去。乙復歸之甲。而木之本體。自然還浮也。肺屬庚辛金。應商音而輕清。析而言之。則庚為金之陽。辛為金之陰。合而言之。則皆陰也。以其屬太陰。而位於人身之陽分。故為陽中之陰。夫陰者必合陽。庚辛之陰陽。本自為配合。而辛與丙通。剛柔之道。辛乃合庚之微陰。而反樂夫火。故就丙火之陽。為之夫婦。金之性本沉。以其受火之氣炎上。而居陽道。故得水而浮也。及熟之。則所受火之氣乃去。辛復歸之庚。而金之本體。自然還沉也。愚謂肝為陽。陰中之陽也。陰性尚多。故曰微陽。其居在下。行陰道也。肺為陰。陽中之陰也。陽性尚多。故曰微陰。其居在上。行陽道也。熟則無所樂。而反其本矣。何也。物熟而相交之氣散也。</p>
<p>按白虎通曰。木所以浮。金所以沉。何。子生於母之義。肝所以沉。肺所以浮。何。有知者尊其母也。又五行大義。引白虎通曰。甲木畏金。以乙妻庚。受庚之化。木法其本。直甲故浮。肝法其化。直乙故沉。庚金畏火。以辛妻丙。受丙之化。金法其本。直庚故沉。肺法其化。直辛故浮。（今本白虎通。失載。）</p>
<p>三十四難曰。五藏各有聲色臭味。可曉知以不。然。十變言。肝色青。其臭臊。其味酸。其聲呼。其液泣。心色赤。其臭焦。其味苦。其聲言。其液汗。脾色黃。其臭香。其味甘。其聲歌。其液涎。肺色白。其臭腥。其味辛。其聲哭。其液涕。腎色黑。其臭腐。其味鹹。其聲呻。其液唾。是五藏聲色臭味也。</p>
<p>〔滑〕此五藏之用也。聲色臭味下。欠液字。肝色青臭臊。木化也。呼。出木也。味酸。曲直作酸也。液泣。通乎目也。心色赤臭焦。火化也。言陽火也。味苦。炎上作苦也。液汗。心主血。汗為血之屬也。脾色黃臭香。土化也。歌。緩土也。一云。脾神好樂。故其聲主歌。味甘。稼穡作甘也。液涎。通於口也。肺色白臭腥。金化也。哭。慘金也。味辛。從革作辛也。液涕。通乎鼻也。腎色黑臭腐。水化也。呻。吟誦也。象水之聲。味鹹。潤下作咸也。液唾。水之屬也。四明陳氏云。腎位遠。非伸之。則氣不得及於息。故聲之呻者。自腎出也。然肺主聲。肝主色。心主臭。脾主味。腎主液。五藏錯綜。互相有之。〔徐〕此又本五行而言也。十變未詳。五藏之聲。靈九針篇。素宣明五氣篇。俱云心噫。肺咳。肝語。脾吞。腎欠而此則為呼言歌哭呻。則本之素陰陽應象大論。蓋彼以病之所發言。此以情之所發言。其理一也。</p>
<p>按說文曰。臊。豕膏臭也。從肉喿聲。無聲出涕。曰泣。從水立聲。次。慕欲口液也。從欠從水。玉篇曰。次。或作涎。又說文曰。涕。泣也。從水弟聲。洟。鼻液也。從水夷聲。據此。此段涕字。似當作洟。然素問宣明五氣篇曰。五藏化液。心為汗。肺為涕。肝為淚。脾為涎。腎為唾。又解精微論曰。髓者。骨之充也。故腦滲為涕。又曰。涕之與泣者。譬如人之兄弟。急則但死。生則俱生。是皆以涕為鼻液。則未必可改作也。</p>
<p>五藏有七神。各何所藏耶。然。藏者。人之神氣所舍藏也。肝藏魂。肺藏魄。心藏神。脾藏意與智。腎藏精與志也。</p>
<p>〔楊〕肝心肺各一神。脾腎各二神。五藏合有七神。</p>
<p>按靈樞本神篇曰。生之來。謂之精。兩精相搏。謂之神。隨神往來者。謂之魂。並精而出入者。謂之魄。所以任物者。謂之心。心有所憶。謂之意。意之所存。謂之志。因慮而處物。謂之智。說文。魂。陽氣也。從鬼云聲。魄。陰神也。從鬼白聲。昭公七年左傳曰。子產云。人生始化白魄。既生魄陽曰魂。用物精多。則魂魄強。是以有精爽。至於神明。又二十五年左傳曰。樂祁云。心之精爽。是謂魂魄。注。魄。形也。陽。神明也。正義云。初人之生也。始變化為形。形之神者。名之曰魂。魂魄。神靈之名。附形之靈為魄。附氣之神為魂也。附形之靈者。謂初生之時。耳目心識。手足運動。啼呼為聲。此則魄之靈也。附氣之神者。謂精神性識。漸有所知。此則附氣之神也。五行大義曰。老子經。及素問云。心藏神者。神以神明照口為義。言心能明瞭萬事。神是身之君。象火。腎藏精者。精靈睿知為稱。亦是精智氣。腎水智巧。故精藏焉。魂藏肝。魄藏肺者。魂既屬天。天為陽。陽主善。尚左。居肝。在東方木位。魄既屬地。地氣為陰。陰主惡。尚右。故居肺。在西方金位。</p>
<p>三十五難曰。五藏各有所。府皆相近。而心肺獨去大腸小腸遠者。何謂也。經言。心榮肺衛。通行陽氣。故居在上。大腸小腸。傳陰氣而下。故居在下。所以相去而遠也。又諸府者。皆陽也。清淨之處。今大腸小腸。胃與膀胱。皆受不淨。其意何也。然。諸府者謂是非也。經言。小腸者。受盛之府也。大腸者。傳瀉行道之府也。膽者。清淨之府也。胃者。水穀之府也。膀胱者。津液之府也。一府猶無兩名。故知非也。</p>
<p>〔滑〕謂諸府為清淨之處者。其說非也。今大腸小腸。胃與膀胱。各有受任。則非陽之清淨矣。各為五藏之府。固不得而兩名也。蓋諸府。體為陽。而用則陰。經所謂濁陰歸六府。是也。云諸府皆陽。清淨之處。唯膽足以當之耳。〔徐〕通行陽氣。即營衛之氣。靈營衛生會篇云。行陽二十五度。行陰二十五度。是也。陰氣。濁氣也。謂穢滓所歸也。</p>
<p>按諸府者。謂是。非也。言清淨之處。謂諸府為皆是者。則非也。唯膽之一府為爾耳。楊注謂是非者。言諸府各別其所傳化。此為是也。小腸為府。此為非也。是殆為強解。素問金匱真言論曰。言人身之藏府中陰陽。則藏者為陰。府者為陽。靈樞本輸篇曰。肺合大腸。大腸者。傳道之府。心合小腸。小腸者。受盛之府。肝合膽。膽者。中精之府。脾合胃。胃者。五穀之府。腎合膀胱。膀胱者。津液之府也。</p>
<p>小腸者。心之府。大腸者。肺之府。胃者。脾之府。膽者。肝之府。膀胱者。腎之府。小腸。謂赤腸。大腸。謂白腸。膽者。謂青腸。胃者。謂黃腸。膀胱者。謂黑腸。下焦所治也。</p>
<p>〔楊〕腸者。取其積貯熟治之義也。故以名之。〔滑〕此以五藏之色。分別五府。而皆以腸名之也。〔徐〕靈營衛生會篇云。水穀者。嘗並居胃中。成糟粕。而俱下於大腸。而成下焦。滲而俱下。濟泌別汁。循下焦。而滲入膀胱焉。故至府。皆下焦之氣所治也。</p>
<p>按本義曰。下焦所治一句。屬膀胱。此說不可從。</p>
<p>三十六難曰。藏各有一耳。腎獨有兩者。何也。然。腎兩者。非皆腎也。其左者為腎。右者為命門。命門者。謂精神之所舍。原氣之所繫也。故男子以藏精。女子以系胞。故知腎有一也。（謂精神。舊作諸神精。今據三十九難改訂。）</p>
<p>〔滑〕腎之有兩者。以左者為腎。右者為命門也。男子於此而藏精。受五藏六府之精而藏之也。女子於此而系胞。是得精而能施化。胞則受胎之所也。原氣。謂齊下腎間動氣。人之生命。十二經之根本也。此篇言非皆腎也。三十九難亦言。左為腎。右為命門。而又云。其氣與腎通。是腎之兩者。其實則一爾。〔徐〕靈素並無右腎為命門之說。靈根結篇云。太陽根於至陰。結於命門。命門者。目也。靈衛氣篇亦云。命門者。目也。素陰陽離合論云。太陽根於至陰。結於命門。名曰陰中之陽。經文所云止此。</p>
<p>按五行大義曰。八十一問云。藏各有一。腎獨兩者。何也。左者腎。右者命門。命門者。精神之所會也。問云。前解腎陰故雙。今言左腎右命門。此豈不自乖張乎。答曰。命門與腎。名異形同。水藏則體質不殊。故雙。主陰數為名。則左右兩別。故各有所主。猶如三焦膀胱俱水府。不妨兩號。此說實得經旨。素問上古天真論曰。腎者主水。受五藏六府之精而藏之。故五藏盛乃能寫。是男子所言藏精也。先子曰。女子系胞之胞。指子宮言焉。然說文曰。胞。兒生裹也。從肉從包。漢書外戚傳。顏師古注曰。胞。謂胎之衣也。即胞衣之義。非子宮也。唯素問五藏別論曰。腦髓骨脈膽女子胞。此六者。地氣之所生也。氣厥論曰。胞移熱於膀胱。則癃溺血。靈樞五音五味篇曰。衝脈任脈。皆起於胞中雲者。與此段同義。而古又與脬通。見於靈樞五味論。史倉公傳。</p>
<p>三十七難曰。五藏之氣。於何發起。通於何許。可曉以不。然。五藏者。當上關於九竅也。故肺氣通於鼻。鼻和則知香臭矣。肝氣通於目。目和則知白黑矣。脾氣通於口。口和則知穀味矣。心氣通於舌。舌和則知五味矣。腎氣通於耳。耳和則知五音矣。五藏不和。則九竅不通。六府不和。則留結為癰。</p>
<p>〔滑〕謝氏云。本篇問五藏之氣。於何發起。通於何許。答文止言五藏通九竅之義。而不及五藏之發起。恐有缺文。愚按五藏發起。當如二十三難流注之義。上關九竅。靈樞作七竅者是。後二句。結上起下之辭。五藏陰也。陰不和則病於內。六府陽也。陽不和則病於外。〔徐〕此段。乃靈脈度篇全文。止易數字。經云。五藏常內關於上七竅也。</p>
<p>按五行大義曰。五藏候在五官。口舌二管。共在一處。余不共者。口是脾候。脾。土也。舌是心候。心。火也。共處者土。寄治於火鄉也。舌在口內者。火於五行不常見也。須之則有。不用則隱。如舌在口內。開口即見。閉口則藏。又心為身之主貴。故在內也。又曰。肝主目者。肝。木藏也。木是陽。東方顯明之地。眼目亦光顯照了。故通乎目。腎主耳者。腎。水藏。水。陰也。北方陰暗之地。耳能聽聲。聲是陰微之象。故通乎耳。以鼻應肺者。鼻以空虛納氣。肺亦虛而受氣故也。素問陰陽應象大論曰。心主舌。又曰。在竅為舌。次注。舌所以司辨五味也。金匱真言論云。南方赤色。入通於心。開竅於耳。尋其為竅。則舌義便乖。以其主味。故云舌也。</p>
<p>邪在六府。則陽脈不和。陽脈不和。則氣留之。氣留之。則陽脈盛矣。邪在五藏。則陰脈不和。陰脈不和。則血留之。血留之。則陰脈盛矣。陰氣太盛。則陽氣不得相營也。故曰格。陽氣太盛。則陰氣不得相營也。故曰關。陰陽俱盛。不得相營也。故曰關格。關格者。不得盡其命而死矣。</p>
<p>〔徐〕此篇自首至此。皆靈樞脈度篇原文。而將關格二字。陰陽倒置。脈度篇云。陰氣太盛。陽氣不能營。故曰關。陽氣太盛。陰氣不能營。故曰格。素問六節藏象論云。人迎四盛以上為格陽。寸口四盛以上為關陰。靈樞終始篇云。人迎四盛。且大且數。名曰溢陽。溢陽為外格。脈口四盛。且大且數。名曰溢陰。溢陰為內關。經文並無以陰盛為格。陽盛為關者。不知傳寫之誤。抑越人之易經文也。</p>
<p>經言。氣獨行於五藏。不營於六府者。何也。然。氣之所行也。如水之流不得息也。故陰脈營於五藏。陽脈營於六府。如環之無端。莫知其紀。終而復始。其不覆溢。人氣內溫於藏府。外濡於腠理。</p>
<p>〔滑〕此因上文營字之意。而推及之也。亦與靈樞十七篇文。大同小異。所謂氣獨行於五藏。不營於六府者。非不營於六府也。謂在陰經。則營於五藏。在陽經則營於六府。脈氣周流。如環無端。則無關格覆溢之患。而人之內得以溫於藏府。外得以濡於腠理矣。</p>
<p>三十八難曰。藏唯有五。府獨有六者。何也。然。所以府有六者。謂三焦也。有原氣之別焉。主持諸氣。有名而無形。其經屬手少陽。此外府也。故言府有六焉。</p>
<p>〔楊〕三焦無內者。惟有經脈。名手少陽。故曰外府也。〔滑〕三焦主持。為原氣別使者。以原氣賴其導引。潛行默運於一身之中。無或間斷也。外府。指其經手少陽而言。蓋三焦外有經。而內無形。故云。詳見六十六難。</p>
<p>三十九難曰。經言。府有五。藏有六者。何也。然。六府者。正有五府也。然。五藏亦有六藏者。謂腎有兩藏也。其左為腎。右為命門。命門者。謂精神之所舍也。男子以藏精。女子以系胞。其氣與腎通。故言藏有六也。府有五者。何也。然。五藏各一府。三焦亦是一府。然不屬於五藏。故言府有五焉。</p>
<p>〔滑〕前篇言藏有五。府有六。此言府有五藏有六者。以腎之有兩也。腎之兩。雖有左右命門之分。其氣相通。實皆腎而已。府有五者。以三焦配合手心主也。合諸篇而觀之。謂五藏五府可也。五藏六府亦可也。六藏六府亦可也。</p>
<p>四十難曰。經言。肝主色。心主臭。脾主味。肺主聲。腎主液。鼻者肺之候。而反知香臭。耳者腎之候。而反聞聲。其意何也。然。肺者西方金也。金生於巳。巳者南方火也。火者心。心主臭。故令鼻知香臭。腎者北方水也。水生於申。申者西方金。金者肺。肺主聲。故令耳聞聲。</p>
<p>〔楊〕五行有相因成事。有常體成事者。至如肺腎二藏。相因成也。其餘三藏。自成之也。</p>
<p>按五行大義曰。五行非直性相雜。當方亦有雜義。南方丙丁巳午未丙火也。丁中有雜水。巳中有生金。西方庚辛申酉戌庚金也。辛中有雜火。申中有生水。</p>
<p>四十一難曰。肝獨有兩葉。以何應也。然。肝者東方木也。木者春也。萬物始生。其尚幼小。意無所親。去太陰尚近。離太陽不遠。猶有兩心。故有兩葉。亦應木葉也。</p>
<p>〔楊〕肝者。據大葉言之。則是兩葉也。若據小葉言之。則多葉矣。〔徐〕何應。謂其義何所應也。下條云。肝有七葉。蓋於兩葉中細分之。左則三岐。右則四岐也。其尚幼小。言物皆生於春。其體皆幼。肝應乎其時。得萬物初生之體。非謂春時肝始生也。素金匱真言論云。陽中之陽。心也。陰中之陰。腎也。陰中之陽。肝也。腎水太陰。為肝之母。心火太陽。為肝之子。肝為陰中之陽。居腎之上心之下。故曰尚近不遠也。無親。謂不專屬也。兩心或從乎陽。或從乎陰也。下文肝有七葉。左三葉奇數。從陽之義。右四葉偶數。從陰之義。然凡木之甲拆。皆兩葉。此乃木之本體。故肝與之相應。</p>
<p>四十二難曰。人腸胃長短。受水穀多少。各幾何。然。胃大一尺五寸。徑五寸。長二尺六寸。橫屈受水穀三斗五升。其中常留谷二斗。水一斗五升。小腸大二寸半。徑八分。分之少半。長三丈二尺。受谷二斗四升。水六升三合。合之大半。迴腸大四寸。徑一寸半。長二丈一尺。受谷一斗。水七升半。廣腸大八寸。徑二寸半。長二尺八寸。受谷九升三合。八分合之一。故腸胃凡長五丈八尺四寸。合受水穀八斗七升六合八分合之一。此腸胃長短。受水穀之數也。</p>
<p>〔楊〕凡人食入於口。而聚於胃。故經云。胃者水穀之海。胃中谷熟。則傳入小腸也。小腸受胃之谷。而傳入於大腸。分谷三分有二為大半。有一為少半。迴腸者。大腸也。受小腸之谷。而傳入於廣腸焉。廣腸者。䐈腸也。一名肛門。受大腸之谷而傳出。〔虞〕水穀自胃有三斗五升。傳入小腸。則谷剩四斗。水少八升六合。合之少半。又傳入大腸。水穀之數。比之在胃。各減一半。至此則水分入膀胱。谷傳入肛門也。〔徐〕大。言其四圍。徑。言其口之廣。凡圓形者。徑一則圍三。故圍大一尺五寸。則徑五寸也。胃在腹中。其形盤曲而生。故曰橫屈。按以圍三徑一之法約之。則大四寸者。徑當一寸二分。分之少半。迴腸云一寸半。疑誤。又廣腸大八寸。則不止二寸半。當得二寸六分。分之大半。下文云。徑二寸大半為是。此疑誤脫大字。廣腸止云受谷。而不及水。義最精細。蓋水穀入大腸之時。已別泌精液。入於膀胱。惟糟粕傳入廣腸。使從大便出。故不云受水多少也。凡總上受水穀之數。靈平人絕谷篇云。九斗二升一合。合之大半。乃為合數。而此所云。與上文不符。或傳寫之誤。</p>
<p>按史記項羽本紀曰。漢有天下大半。注。韋昭云。凡數三分有二為大半。一為少半。</p>
<p>肝重四斤四兩。左三葉右四葉。凡七葉。主藏魂。心重十二兩。中有七孔三毛。盛精汁三合。主藏神。脾重二斤三兩。扁廣三寸。長五寸。有散膏半斤。主裹血。溫五藏。主藏意。肺重三斤三兩。六葉兩耳。凡八葉。主藏魄。腎有兩枚。重一斤一兩。主藏志。</p>
<p>〔徐〕散膏。津液之不凝者。裹血。謂統之使不散也。垂下為葉。旁出為耳。是肺共成八葉。</p>
<p>按說文曰。銖。十分黍之重也。從金朱聲。又曰。二十四銖為一兩。從一⿵冂从平分。⿵冂从亦聲。漢律曆志曰。權者。銖兩斤鈞石也。所以稱物平施。知輕重也。本起於黃鐘之重。一龠容千二百。黍。重十二銖。兩之為兩。二十四銖為兩。十六兩為斤。</p>
<p>膽在肝之短葉間。重三兩三銖。盛精汁三合。胃重二斤二兩。紆曲屈伸。長二尺六寸。大一尺五寸。徑五寸。盛谷二斗。水一斗五升。小腸重二斤十四兩。長三丈二尺。廣二寸半。徑八分。分之少半。左回疊積十六曲。盛谷二斗四升。水六升三合。合之大半。大腸重二斤十二兩。長二丈一尺。廣四寸。徑一寸。當齊右回十六曲。盛谷一斗。水七升半。膀胱重九兩二銖。縱廣九寸。盛溺九升九合。</p>
<p>〔紀〕紆曲屈伸者。言其使物往而復有也。雖能屈留其物。而不得久停。復伸去之。故曰紆曲屈伸。〔徐〕靈腸胃篇云。迴腸當臍。左環回周。葉積而下回運環。反十六曲。大四寸。徑一寸寸之少半。其長短受盛。與經文俱同。水從大腸。滲入膀胱。則為溺。不與谷同居。故不曰水。而曰溺。</p>
<p>口廣二寸半。唇至齒長九分。齒以後至會厭。深三寸半。大容五合。舌重十兩。長七寸。廣二寸半。咽門重十兩。廣二寸半。至胃長一尺六寸。喉嚨重十二兩。廣二寸。長一尺二寸。九節。肛門重十二兩。大八寸。徑二寸大半。長二尺八寸。受谷九升三合八分。合之一。</p>
<p>〔楊〕咽。嚥也。言可以嚥物也。又謂之嗌。言氣之流通厄要之處也。咽為胃之系也。故經云。咽主地氣。喉嚨。空虛也。言其中空虛。可以通氣息焉。即肺之系也。呼吸之道路。故經云。喉主天氣。肛。釭也。言其處似車釭形。故曰肛門。即廣腸之門也。又名䐈腸。</p>
<p>按靈樞憂恚無言篇曰。咽喉者。水穀之道也。喉嚨者。氣之所以上下者也。會厭者。音聲之戶也。</p>
<p>四十三難曰。人不食飲七日而死者。何也。然。人胃中常有留谷二斗。水一斗五升。故平人日再至圊。一行二升半。日中五升。七日五七三斗五升。而水穀盡矣。故平人不食飲七日而死者。水穀津液俱盡。即死矣。</p>
<p>〔楊〕圊。廁也。〔徐〕日中五升。靈平人絕谷篇。作一日中五升。言一日之中。共去五升也。</p>
<p>按先子曰。三斗五升。兼水穀而為言。然漢書食貨志曰。今一夫挾五口食。人月一石半。則知人一日食五升也。又後漢南蠻傳曰。計人稟五升。注。古升小。故曰五升也。據此七日得三斗五升。則水飲不預焉。七日益以陰陽五行之數論之耳。七日不食。豈有死者乎。</p>
<p>四十四難曰。七衝門何在。然。唇為飛門。齒為戶門。會厭為吸門。胃為賁門。太倉下口為幽門。大腸小腸會為闌門。下極為魄門。故曰七衝門也。</p>
<p>〔楊〕會厭為吸門者。會厭為五藏音聲之門戶。故云會厭為吸門也。胃為賁門。賁者。膈也。胃氣之所出也。胃出穀氣以傳肺。肺在膈上。故以胃為賁門也。太倉下口為幽門。太倉者。胃也。胃之下口。在齊上三寸。既幽隱之處。故曰幽門也。〔丁〕齒為戶門者。為關鍵開合。五穀由此摧廢出入也。會厭為吸門者。咽喉為水穀下時。厭按呼吸也。大腸小腸會為闌門。會者。合也。大腸小腸合會之處。分闌水穀精血。各有所歸。故曰闌門也。〔滑〕會厭。謂咽嗌會合也。厭。猶掩也。謂當咽物時。合掩喉嚨。不使食物誤入。以阻其氣之噓吸出入也。</p>
<p>按衝門者。承上文謂水穀通行之門也。楊注以沖為通。是也。然言藏府之氣。通出之所。則未盡。本義曰。沖。衝要之沖。亦非經旨。唇為飛門者。飛。古與扉通。素問皮部論曰。陽明之陽。名曰害蜚。是亦闔扉之義。說文曰。戶。護也。半門曰戶。象形。扉。戶扇也。從戶非聲。蓋齒為戶門。則唇為之扇。故曰扉門。靈樞憂恚無言篇曰。口唇者。音聲之扇也。諸病源候論。作音聲之扉。諸注。為飛動之義。未免傅會。胃為賁門者。楊注。賁者膈也。為是。膈。即防隔濁氣之謂。賁亦與墳通。而義與隔同。爾雅曰。墳。大防也。注。謂隄也。可以證矣。素問繆刺論曰。邪客於足少陰之絡。令人善怒。氣上走賁上。新校正云。是氣上走鬲上也。靈樞經筋篇曰。手太陰之筋。下絡胸裡。散貫賁合賁。下抵季脅。脈要精微論曰。尺。中附上。內以候鬲。次注。肝主賁。賁。鬲也。是亦以膈稱賁也。（或曰。既有防隔之義。不可又謂之門。曰。漢書溝洫志。九河之名。有鬲津。顏師古云。鬲津。言其陝小可鬲以為津而度也。鬲。與隔同。據此賁門鬲津。其義相同。）丁注曰。言若虎賁圍繞之象。本義曰。物之所賁響也。與奔同。俱為強解。靈樞脹論曰。胃者。太倉也。說文曰。倉。谷藏也。倉黃取而藏之。故謂之倉。大腸小腸。會為闌門者。楊注。為遺失之義。考僧玄應一切經音義。引通俗文曰。縱出曰蘭。是其所據。然不若丁注為確。說文曰。闌。門遮也。從門柬聲。下極為魄門者。先子曰。謂糟粕之所出也。魄。古與粕通。莊子天道篇曰。古人之糟魄已夫。釋文云。司馬彪云。爛食曰粕。一云。糟爛為魄。又作粕。素問五藏別論曰。魄門亦為五藏使。水穀不得久藏。楊注曰。肛門。是肺氣之所出也。肺藏使。故曰魄門。本義曰。魄門。亦取幽陰之義。經釋曰。飲食至此。精華已去。止存形質。故曰魄門。即所謂鬼門也。此說並誤。</p>
<p>四十五難曰。經言八會者。何也。然。府會大倉。藏會季脅。筋會陽陵泉。髓會絕骨。血會鬲俞。骨會大杼。脈會大淵。氣會三焦外一筋直兩乳內也。熱病在內者。取其會之氣穴也。</p>
<p>〔楊〕人藏府筋骨髓血脈氣。此八者。皆有會合之穴。若熱病在於內。則於外取其所會之穴。以去其疾也。季脅。章門穴也。三焦外一筋直兩乳內者。膻中穴也。〔丁〕季脅。軟肋之名。〔滑〕太倉。一名中脘。在齊上四寸。六府取稟於胃。故為府會。季脅。章門穴也。在大橫外直齊季肋端。為脾之募。五藏取稟於脾。故為藏會。足少陽之筋。結於膝外廉。陽陵泉也。在膝下一寸外廉陷中。又膽與肝為配。肝者筋之合。故為筋會。絕骨。一名陽輔。在足外踝上四寸。輔骨前。絕骨端。如前三分。諸髓皆屬於骨。故為髓會。鬲俞。在背第七椎下。去脊兩旁各一寸半。足太陽脈氣所發也。太陽多血。又血乃水之象。故為血會。大淵。在掌後陷中動脈。即所謂寸口者脈之大會也。四明陳氏曰。髓會絕骨。髓屬於腎。腎主骨。於足少陽無所關。腦為髓海。腦有枕骨穴。則當會枕骨。絕骨誤也。血會鬲俞。血者心所統。肝所藏。鬲俞在七椎下兩旁。上則心俞。下則肝俞。故為血會。〔徐〕絕骨屬足少陽。即懸鐘穴。在外踝上四寸。靈經脈篇。論足少陽之脈云。是主骨。蓋諸髓皆屬於骨。故為絕骨。大杼屬足太陽。在項後第一椎下。去脊旁一寸半。靈海論云。衝脈為十二經之海。其輸在於大杼。動輸篇云。衝脈。與腎之大絡。起於腎下。蓋腎主骨。膀胱與腎合。故為骨會。三焦外。謂在焦膜之外。兩乳內。謂兩乳之中。任脈之所過。即膻中穴也。靈經脈篇。手少陽之脈。是主氣。又海論云。膻中者。為氣之海。故為氣會。</p>
<p>按經釋。以絕骨為懸鐘。誤。辨正條例曰。三焦。證以註文。穴在膻中。即上焦之分。所言三者。乃字之誤。辨正作上。本義曰。謝氏云。三焦。當作上焦。此未為得。蓋三焦直指上焦而言。若內經專稱下焦為三焦矣。</p>
<p>四十六難曰。老人臥而不寐。少壯寐而不寤者。何也。然。經言。少壯者。血氣盛。肌肉滑。氣道通。榮衛之行。不失於常。故晝日精。夜不寤。老人血氣衰。氣肉不滑。榮衛之道澀。故晝日不能精。夜不得寐也。故知老人不得寐也。</p>
<p>〔楊〕衛氣者。晝日行於陽。陽者身體也。夜行於陰。陰者腹內也。人目開。衛氣出則寤。入則寐。少壯者。衛氣行不失於常。故晝得安靜。而夜得穩眠也。老者衛氣出入。不得應時。故晝不得安靜。夜不得寐也。精者。靜也。靜。安也。</p>
<p>按說文曰。寐。臥也。從夢省未聲。寤寐覺而有信。曰寤。從夢省五聲。一曰。晝見而夜夢也。精字訓靜。未妥。精。目之明也。出於荀子解蔽篇。用精惑也注。</p>
<p>四十七難曰。人面獨能耐寒者。何也。然。人頭者。諸陽之會也。諸陰脈皆至頸胸中而還。獨諸陽脈。皆上至頭耳。故令面耐寒也。</p>
<p>〔徐〕靈逆順肥瘦篇曰。手之三陰。從藏走手。手之三陽。從手走頭。足之三陽。從頭走足。足之三陰。從足走腹。此之謂也。按此章問答。亦本靈邪氣藏府病形篇。經文云。十二經脈。三百六十五絡。其血氣皆上於面。而走空竅。又云。其皮厚其肉堅。故天熱甚寒。不能勝之也。此改作諸陽經之氣。皆上於頭。蓋本逆順肥瘦篇義。移作此處註解。理極明。實與經文異致而同歸也。</p>
<p>按自三十難至此。論藏府。是為第三篇。</p>
<p>四十八難曰。人有三虛三實。何謂也。然。有脈之虛實。有病之虛實。有診之虛實也。脈之虛實者。濡者為虛。緊牢者為實。病之虛實者。出者為虛。入者為實。言者為虛。不言者為實。緩者為虛。急者為實。診之虛實者。濡者為虛。牢者為實。癢者為虛。痛者為實。外痛內快。為外實內虛。內痛外快。為內實外虛。故曰虛實也。（脈經。上文濡者。作脈來耎者。無緊字。下文無濡者為虛。牢者為實八字。）</p>
<p>〔楊〕藏氣虛精氣脫。故多言語也。藏氣實邪氣盛。故不欲言語也。濡者為虛。皮膚濡緩也。牢者為實。皮肉牢強也。癢者為虛。身體虛癢也。身形有痛處。皆為實。輕手按之則痛。為外痛。病淺故也。重手按之則快。為內虛。病深故也。重手按之則痛。為內實。病深故也。輕手按之則快。為外虛。病淺故也。凡人病。按之則痛者。皆為實。按之則快者。皆為虛也。〔丁〕陰陽者。主其內外也。今陽不足。陰出乘之。在內俱陰。故知出者為虛也。陰不足。陽入乘之。在外俱陽。故知入者為實也。〔滑〕濡者為虛。緊牢者為實。此脈之虛實也。出者為虛。是五藏自病。由內而之外。所謂內傷是也。入者為實。是五邪所傷。由外而之內。所謂外傷是也。不言者為實。以人之邪氣內郁。故昏亂而不言也。診。按也。候也。按其外而知之。非診脈之診也。濡者為虛。牢者為實。脈經無此二句。謝氏以為衍文。楊氏謂。按之皮肉柔濡者為虛。牢強者為實。然則有亦無害。外痛內快。為邪盛之在外。內痛外快。為邪盛之在內矣。〔徐〕濡。柔弱軟弱也。傷寒論云。諸濡亡血。又云。濡則衛氣微。可見濡為氣血兩虛之候。弦勁曰緊。堅實曰牢。素平人氣象論。脈盛而緊曰脹。傷寒論云。趺陽脈緊者。脾氣強。又云。寒則堅牢。可見緊牢為邪氣實之候。脈不止此二種。舉此以類推也。緩。病來遲也。正氣奪。而邪氣微。則病漸深。急。病來驟也。正氣未病。而邪氣盛。則病疾速也。</p>
<p>按自四十八難。至六十一難。論病。是為第四篇。</p>
<p>四十九難曰。有正經自病。有五邪所傷。何以別之。然。經言。憂愁思慮則傷心。形寒飲冷則傷肺。恚怒氣逆。上而不下。則傷肝。飲食勞倦。則傷脾。久坐濕地。強力入水。則傷腎。是正經之自病也。</p>
<p>〔呂〕心為神。五藏之君。聰明才智。皆由心出。憂勞之甚。則傷其心。心傷神弱也。肺主皮毛。形寒者。皮毛寒也。飲冷者。傷肺也。肺主受水漿。水漿不可冷飲。肺又惡寒。故曰傷也。肝與膽為藏府。其氣勇。故主怒。怒則傷也。飲食飽胃氣滿。脾絡恆急。或走馬跳躍。或以房勞。脈絡裂。故傷脾也。久坐濕地。謂遭憂喪。強力者。謂舉重引弩。入水者。謂復溺於水。或婦人經水未過。強合陰陽也。〔虞〕久坐濕地。則外濕內感於腎。合之風寒。發為瘴病。強力過用。必致自傷也。經脈別論曰。持重遠行。必傷於腎。生氣通天論曰。因而強力。腎氣乃傷。高骨乃壞。經脈別論云。度水跌僕。喘出於腎與骨也。〔滑〕此與靈樞第四篇文。大同小異。但傷脾一節。作若醉入房。汗出當風。則不同爾。謝氏曰。飲食勞倦。自是二事。飽食得者。飢飽失時。勞倦者。勞形力。而致倦怠也。此本經自病者。病由內作。非外邪之干。所謂內傷者也。或曰。坐濕入水。亦從外得之也。何為正經自病。曰。此非天之六淫也。</p>
<p>何為五邪。然。有中風。有傷暑。有飲食勞倦。有傷寒。有中濕。此之謂五邪。</p>
<p>〔呂〕肝主風。心主暑。脾主勞倦。肺主寒。腎主濕。此五病從外來也。〔虞〕正經自病。亦言飲食勞倦傷脾。今五邪亦言飲食勞倦。正經病。謂正經虛。又傷飲食。五邪病。謂食飲傷於脾。而致病也。</p>
<p>假令心病。何以知中風得之。然。其色當赤。何以言之。肝主色。自入為青。入心為赤。入脾為黃。入肺為白。入腎為黑。肝為心邪。故知當赤色也。其病身熱。脅下滿痛。其脈浮大而弦。</p>
<p>〔呂〕身熱者心。滿痛者肝。二藏之病證也。浮大者心。弦者肝。二藏脈見應也。</p>
<p>按辨正條例曰。假令肝病。注義云。心病。按下文肝主色。及言自入入心入脾入肺入腎。皆主肝而言。則知非心病。又其文云。其病身熱脅下滿痛。皆肝病之證。則知注義之非。今從補註。與權此說反非。經釋曰。自此以下五段。乃舉心之受五邪為言。餘四藏可類推也。</p>
<p>何以知傷暑得之。然。當惡臭。何以言之。心主臭。自入為焦臭。入脾為香臭。入肝為臊臭。入腎為腐臭。入肺為腥臭。故知心病傷暑得之也。當惡臭。其病身熱而煩。心痛。其脈浮大而散。</p>
<p>〔呂〕心主暑。今傷暑。此正經自病。不中他邪。〔徐〕臭字上。以下文推之。當有焦字。浮大。心之本脈。散。則浮大而空虛無神。心之病脈。</p>
<p>何以知飲食勞倦得之。然。當喜苦味也。虛為不欲食。實為欲食。何以言之。脾主味。入肝為酸。入心為苦。入肺為辛。入腎為咸。自入為甘。故知脾邪入心。為喜苦味也。其病身熱。而體重嗜臥。四肢不收。其脈浮大而緩。</p>
<p>〔呂〕心主傷熱。脾主勞倦。今心病。以飲食勞倦得之。故知脾邪入心也。身熱者。心也。體重者。脾也。此二藏病證也。浮大者。心脈。緩者。脾脈也。〔徐〕虛則脾氣不能化谷。實則尚能化谷。故有能食不能食之分。蓋風寒暑濕。其氣不殊。故無虛實之辨。</p>
<p>按本義曰。虛為不欲食。實為欲食。二句。於上下文。無所發明。疑錯文也。此說不是。</p>
<p>何以知傷寒得之。然。當譫言妄語。何以言之。肺主聲。入肝為呼。入心為言。入脾為歌。入腎為呻。自入為哭。故知肺邪入心。為譫言妄語也。其病身熱。洒洒惡寒。甚則喘咳。其脈浮大而澀。</p>
<p>〔呂〕身熱者心。惡寒者肺。此二藏病證也。浮大者心脈。澀者肺脈也。〔紀〕高承德疏云。呼者。長呼也。歌者。歌曲也。呻者。呻吹也。天錫言。千金云。肝實令人叫呼不已。王冰注。呼者。叫呼也。歌者。歌嘆也。呻者。呻吟也。據高疏。恐未中理。</p>
<p>何以知中濕得之。然。當喜汗出不可止。何以言之。腎主液。入肝為泣。入心為汗。入脾為涎。入肺為涕。自入為唾。故知腎邪入心。為汗出不可止也。其病身熱。而小腹痛。足脛寒而逆。其脈沉濡而大。此五邪之法也。（液。舊作濕。今從周氏改。涎。舊作液。今從諸注本改之。）</p>
<p>〔呂〕心主暑。腎主濕。今心病。以傷濕得之。故知腎邪入心也。身熱者。心。小腹痛者。腎。腎邪干心。此二藏病證也。大者。心脈。沉濡者。腎脈也。〔滑〕腎化五液。腎為心邪。故汗出不可止。〔徐〕此以心一經為主病。而以各證。驗其所從來。其義與十難診脈法同。以一經為例。而余則准此推廣。使其無所不貫。</p>
<p>五十難曰。病有虛邪。有實邪。有賊邪。有微邪。有正邪。何以別之。然。從後來者。為虛邪。從前來者。為實邪。從所不勝來者。為賊邪。從所勝來者。為微邪。自病者。為正邪。何以言之。假令心病。中風得之。為虛邪。傷暑得之。為正邪。飲食勞倦得之。為實邪。傷寒得之。為微邪。中濕得之。為賊邪。</p>
<p>〔呂〕心王之時。脈當洪大而長。反得弦小而急。是肝王畢。未傳於心。奪心之王。是肝往乘心。故言從後來也。肝為心之母。母之乘子。是為虛邪也。心王得脾脈。心王畢當傳脾。今心王未畢。是脾來逆奪其王。故言從前來也。脾者心之子。子之乘母。是為實邪。心王得腎脈。水勝火。故是為賊邪也。心王反得肺脈。火勝金。故為微邪也。心王之時。脈實強太過。反得虛微。為正邪也。心主暑。今心自病傷暑。故為正邪也。脾主勞倦。故為實邪。肺主寒。又畏心。故為微邪。腎主濕。水剋火。故為賊邪。〔徐〕後。謂生我者也。邪挾生氣而來。則雖進而易退。故為虛邪。前我生者。受我之氣者。其力方旺。還而相剋。其勢必甚。故為實邪。按素八正神明論云。虛邪。八正之虛邪也。正邪者。身形用力。汗出腠理開。所中之風也。其所謂虛邪。乃虛風。乃太乙所居之宮。從其沖後來者。為虛風也。正風。汗出毛孔開。所受之風也。其詳見靈九宮八風篇。與此所云虛邪正邪各不同。然襲其名。而義自別。亦無妨也。</p>
<p>五十一難曰。病有欲得溫者。有欲得寒者。有欲得見人者。有不欲得見人者。而各不同。病在何藏府也。然。病欲得寒。而欲見人者。病在府也。病欲得溫。而不欲得見人者。病在藏也。何以言之。府者陽也。陽病欲得寒。又欲見人。藏者陰也。陰病欲得溫。又欲閉戶獨處。惡聞人聲。故以別知藏府之病也。</p>
<p>〔紀〕府為陽。陽病則熱有餘。而寒不足。故飲食衣服居處。皆欲就寒也。陽主動。而應乎外。故欲得見人。藏為陰。陰病則寒有餘。而熱不足。故飲食衣服居處。皆欲就溫也。陰主靜。而應乎內。故欲閉戶獨處。而惡聞人聲也。</p>
<p>五十二難曰。府藏發病。根本等不。然。不等也。其不等奈何。然。藏病者。止而不移。其病不離其處。府病者。彷彿賁響。上下行流。居處無常。故以此知藏府根本不同也。</p>
<p>〔丁〕藏病為陰。陰主靜。故止而不移。府病為陽。陽主動。故上下行流。居處無常。</p>
<p>按彷彿。與彷彿通。說文曰。仿。相似也。從人方聲。佛。見不審也。從人弗聲。文選。傅毅舞賦曰。彷彿神動。據此。彷彿。言府病遊移。不審其處也。賁響。即奔響。經釋。為賁動有聲。是。靈樞壽夭剛柔篇曰。氣痛時來時去。怫愾賁響。又百病始生篇曰。虛邪之中人也。傳舍於腸胃。在腸胃之時。賁響腹脹。多寒則腸鳴。楊上善太素經耶傳篇注。賁響。虛起貌。</p>
<p>五十三難曰。經言。七傳者死。間藏者生。何謂也。然。七傳者。傳其所勝也。間藏者。傳其子也。何以言之。假令心病傳肺。肺傳肝。肝傳脾。脾傳腎。腎傳心。一藏不再傷。故言七傳者死也。間藏者。傳其所生也。</p>
<p>〔呂〕七。當為次。字之誤也。此下有間字。即知上當為次。此蓋次傳其所勝藏。故其病死也。</p>
<p>按虞注。反以呂為誤。非。素問平人氣象論曰。脈反四時。及不間藏。曰難已。又標本病傳論曰。諸病以次是相傳者。皆有死期。不可刺。間一藏止。及至三四藏者。乃可刺也。</p>
<p>假令心病傳脾。脾傳肺。肺傳腎。腎傳肝。肝傳心。是母子相傳。竟而復始。如環之無端。故言生也。</p>
<p>〔呂〕間藏者。間其所勝藏。而相傳也。心勝肺。脾間之。肝勝脾。心間之。脾勝腎。肺間之。肺勝肝。腎間之。腎勝心。肝間之。此謂傳其所生也。</p>
<p>五十四難曰。藏病難治。府病易治。何謂也。然。藏病所以難治者。傳其所勝也。府病易治者。傳其子也。與七傳間藏同法也。</p>
<p>〔滑〕藏病難治者。以傳其所勝也。府病易治者。以傳其所生也。雖然。此特各舉其一偏而言爾。若藏病傳其所生。亦易治。府病傳其所勝。亦難治也。</p>
<p>五十五難曰。病有積有聚。何以別之。然。積者。陰氣也。聚者。陽氣也。故陰沉而伏。陽浮而動。氣之所積。名曰積。氣之所聚。名曰聚。故積者。五藏所生。聚者。六府所成也。積者。陰氣也。其始發有常處。其痛不離其部。上下有所終始。左右有所窮處。聚者。陽氣也。其始發無根本。上下無所留止。其痛無常處。謂之聚。故以是別知積聚也。</p>
<p>〔滑〕積者。五藏所生。五藏屬陰。陰主靜。故其病沉伏。而不離其處。聚者。六府所成。六府屬陽。陽主動。故其病浮動。而無所留止也。周仲立云。陰沉而伏。初亦未覺。漸以滋長。日積月累。是也。聚者。病之所在。與血氣偶然邂逅。故無常處也。與五十二難意同。</p>
<p>按靈樞百病始生篇曰。積之始生。得寒乃生。厥乃成積也。又曰。虛邪之中人也。傳舍於腸胃之外。募原之間。留著於脈。稽留而不去。息而成積。</p>
<p>五十六難曰。五藏之積。各有名乎。以何月何日得之。然。肝之積。名曰肥氣。在左脅下。如覆杯。有頭足。久不愈。令人發咳逆㾬瘧。連歲不已。以季夏戊己日得之。何以言之。肺病傳於肝。肝當傳脾。脾季夏適王。王者不受邪。肝復欲還肺。肺不肯受。故留結為積。故知肥氣以季夏戊己日得之。</p>
<p>〔楊〕積。畜也。言血脈不行。積畜成病也。凡積者。五藏所生也。榮氣常行。不失節度。謂之平人。平人者。不病也。一藏受病。則榮氣壅塞。故病焉。然五藏受病者。則傳其所勝。所勝適王。則不肯受傳。既不肯受。則反傳所勝。所勝復不為納。於是則留結成積。漸以長大。病因成矣。肥氣者。肥盛也。言肥氣聚於左脅之下。如覆杯突出。如肉肥盛之狀也。小兒多有此病。按前章有積有聚。此章唯出五積之名狀。不言諸聚。聚者。六府之病。亦相傳行。還如五藏。以勝相加。故不重言。從省約也。（積畜。舊作積蓋。今從本義改訂。）〔滑〕咳逆者。足厥陰之別。貫膈上注肺。肝病。故胸中咳而逆也。內經。五藏皆有瘧。此在肝為風瘧也。抑以瘧為寒熱病。多屬少陽。肝與之為表裡。故云左脅肝之部。</p>
<p>按靈樞邪氣藏府病形篇曰。肝脈微急。為肥氣。在脅下。若覆杯。㾬字說文所無。即痎之異構。脈經引此段。作痎瘧。又素問瘧論曰。痎瘧皆生於風。新校正。引太素經注。作㾬瘧。說文曰。瘧。熱寒休作。從疒虐。虐亦聲。痎。二日一發瘧。從疒亥聲。</p>
<p>心之積。名曰伏梁。起齊上。大如臂。上至心下。久不愈。令人病煩心。以秋庚辛日得之。何以言之。腎病傳心。心當傳肺。肺以秋適王。王者不受邪。心復欲還腎。腎不肯受。故留結為積。故知伏梁以秋庚辛日得之。</p>
<p>〔滑〕伏梁。伏而不動。如梁木然。</p>
<p>按靈樞邪氣藏府病形篇曰。心脈微緩。為伏梁。在心下。上下行。時唾血。又經筋篇曰。手少陰之筋。其病內急。心承伏梁。下為肘綱。此並以伏梁為心病。而素問腹中論。所謂伏梁。與此不同。說文曰。梁。水橋也。從木從水刅聲。</p>
<p>脾之積。名曰痞氣。在胃脘。覆大如盤。久不愈。令人四肢不收。發黃疸。飲食不為肌膚。以冬壬癸日得之。何以言之。肝病傳脾。脾當傳腎。腎以冬適王。王者不受邪。脾復欲還肝。肝不肯受。故留結為積。故知痞氣以冬壬癸日得之。</p>
<p>〔楊〕痞。否也。言否結成積也。脾氣虛。則胃中熱。而引食焉。脾病不能通氣行津液。故雖食多。而羸瘦也。</p>
<p>按素問平人氣象論曰。溺黃赤安臥者。黃疸。又曰。目黃者黃疸。說文曰。疸。黃病也。從疒旦聲。</p>
<p>肺之積。名曰息賁。在右脅下。覆大如杯。久不已。令人灑淅寒熱。喘咳。發肺壅。以春甲乙日得之。何以言之。心病傳肺。肺當傳肝。肝以春適王。王者不受邪。肺復欲還心。心不肯受。故留結為積。故知息賁以春甲乙日得之。</p>
<p>〔滑〕右脅。肺之部。肺主皮毛。故灑淅寒熱。〔徐〕息賁。氣息奔迫也。</p>
<p>按素問陰陽別論曰。二陽之病。發心脾。有不得隱曲。女子不月。其傳為風消。有傳為息賁者。死不治。次注。傳為入肺。喘息而上奔。靈樞邪氣藏府病形篇曰。肺脈滑甚。為息賁上氣。又經筋篇曰。手太陰之筋。其病甚。成息賁喘急吐血。又曰。手心主之筋。其病胸痛息賁。此息賁。氣息奔逆之謂。徐說為得。賁。奔。古通。夏小正曰。玄駒賁。賁者。何也。走於地中也。下文賁豚之賁亦同。楊注。息。長也。賁。鬲也。漸長而逼於鬲。本義曰。或息或奔。並非。肺壅。甲乙經。脈經。作肺癰。是。壅。古與癰通。素問大奇論曰。肺之雍。喘而兩胠滿。新校正云。肺壅。肝壅。腎雍。甲乙經。俱作癰。</p>
<p>腎之積。名曰賁豚。發於少腹。上至心下。若豚狀。或上或下無時。久不已。令人喘逆。骨痿少氣。以夏丙丁日得之。何以言之。脾病傳腎。腎當傳心。心以夏適王。王者不受邪。腎復欲還脾。脾不肯受。故留結為積。故知賁豚以夏丙丁日得之。此是五積之要法也。</p>
<p>〔楊〕此病狀似豚。而上衝心。又有奔豚之氣。非此積病也。名同而疾異焉。〔滑〕令人喘逆者。足少陰之支。從肺出絡心。注胸中故也。〔徐〕少腹。腎之分。至心下。言上則至心而止。喘逆。腎氣上衝也。素問逆調論曰。腎主臥與喘。腎主骨。故骨痿。下焦不能納氣。故少氣。</p>
<p>按靈樞邪氣藏府病形篇曰。腎脈微急。為沉厥奔豚。甲乙經。豚。作肫。訛。說文曰。<img class="字" src="_files/001.png" alt="￼">。小豕也。從彖省。肖形。篆文。從肉豕。用豚。又曰。肫。面頯也。從肉屯聲。是其義自異。諸病源候論。作賁㹠。㹠。即豚俗字。見於廣韻。</p>
<p>五十七難曰。泄凡有幾。皆有名不。然。泄凡有五。其名不同。有胃泄。有脾泄。有大腸泄。有小腸泄。有大瘕泄。名曰後重。胃泄者。飲食不化。色黃。脾泄者。腹脹滿。泄注。食即嘔吐逆。大腸泄者。食已窘迫。大便色白。腸鳴切痛。小腸泄者。溲而便膿血。少腹痛。大瘕泄者。裡急後重。數至圊而不能便。莖中痛。此五泄之法也。（本義。經釋。作要法也。）</p>
<p>〔楊〕泄。利也。胃屬土。故其利色黃。而飲食不化焉。化。變也。消也。言所食之物。皆完出不消變也。注者。無節度也。言利下猶如注水。不可禁止焉。脾病不能化谷。故食即吐逆也。窘迫。急也。食訖即欲利。迫急不可止也。白者。從肺色焉。腸鳴切痛者。冷也。切者。言痛如刀切其腸之狀也。小腸屬心。心主血脈。故便膿血。小腸處在少腹。故少腹痛也。瘕。結也。少腹有結。而又下利者。是也。一名利重後者。言大便處疼重也。數欲利至所即不利。又痛引陰莖中。此是腎泄也。〔丁〕裡急者。腸中痛。後重者。腰以上沉重也。〔陳〕胃泄。即飧泄也。脾泄。即濡泄也。大腸泄。即洞泄也。小腸泄。謂凡泄。則小便先下。而便血。即血泄也。大瘕泄。即腸癖也。〔徐〕名曰後重。此專指大瘕泄而言。蓋腎邪下結。氣墜不升故也。</p>
<p>五十八難曰。傷寒有幾。其脈有變不。然。傷寒有五。有中風。有傷寒。有濕溫。有熱病。有溫病。其所苦各不同。</p>
<p>〔徐〕傷寒。統名也。下五者。傷寒之分證也。按王叔和編次仲景傷寒論略例云。中而即病者。名曰傷寒。不即病者。寒毒藏於肌膚。至春變為溫病。至夏變為暑病。暑病者。熱極重於溫也。又第四篇。先序痓濕暍三證。痓則傷寒之變證。暍即熱病。濕即此篇所謂濕溫也。又傷寒論。太陽上篇。亦首舉中風傷寒溫病。證脈各異之法。素熱病論云。今夫熱病者。皆傷寒之類也。又云。凡病傷寒而成溫者。先夏至日為病溫。後夏至日為病暑。則此五者之病。古人皆謂之傷寒。與難經淵源一轍。後世俗學。不明其故。聚訟紛紜。終無一是。是可慨也。</p>
<p>按肘後方曰。傷寒時行溫疫。三名一種耳。又曰。貴勝雅言。總名傷寒。世俗因號為時行。千金方。引小品方曰。論治者。不判傷寒。與時行溫疫。為異氣耳。云。傷寒。雅士之辭。天行溫疫。是田舍間號耳。不說病之異同也。是可證徐說矣。有變之變。本義曰。當作辨。謂分別其脈也。誤。蓋變者。謂其有各異不耳。</p>
<p>中風之脈。陽浮而滑。陰濡而弱。濕溫之脈。陽濡而弱。陰小而急。傷寒之脈。陰陽俱盛而緊澀。熱病之脈。陰陽俱浮。浮之滑。沉之散澀。溫病之脈。行在諸經。不知何經之動也。各隨其經所在而取之。</p>
<p>〔楊〕中風之脈。關以前浮滑。尺中濡弱者也。小。細也。急。疾也。輕手按者。名浮。重手按者。名沉也。〔滑〕上文言傷寒之目。此言其脈之辨也。陰陽字。皆指尺寸而言。〔徐〕傷寒論云。太陽之為病脈浮。又云。浮則為風。靈邪氣藏府病形篇云。滑者。陽氣盛。微有熱。又素平人氣象論云。脈滑曰病風。陽盛則陰虛。故陰脈濡而弱也。濕熱傷陰。故陽脈無力而濡弱。陰脈則邪盛而小急。寒邪中人。營衛皆傷。故陰陽俱盛。緊者陰脈之象。傷寒論云。脈陰陽俱緊者。名曰傷寒。又云。諸緊為寒。澀者。血氣為寒所凝。不和利也。靈邪氣藏府病形篇。澀者多血少氣。微有寒。按溫病所現何脈。越人無明文。當以傷寒論補之。論云。風溫為病。脈陰陽俱浮。是也。</p>
<p>按傷寒論曰。太陽病。發熱汗出。惡風脈緩者。名為中風。又曰。太陽中風。陽浮而陰弱。陽浮者熱自發。陰弱者汗自出。又曰。太陽病。或已發熱。或未發熱。必惡寒體痛。嘔逆。脈陰陽俱緊者。名為傷寒。並此段之意也。謝縉孫曰。按仲景例。風溫。與難經中風脈同。而無濕溫之說。此說誤矣。風溫。溫病之類證。濕溫。見於玉函經。曰。濕溫。其人常傷於濕。因而中暍。濕熱相薄。則發濕溫。熱病之脈。沉之散澀。澀字恐衍。蓋熱病之脈。重按則散大。輕按則滑利也。滑澀相反。無並見之理。素問生氣通天論曰。冬傷於寒。春必溫病。次注。寒不為釋。陽怫於中。寒怫相持。為溫病。又熱論曰。凡病傷寒而成溫者。先夏至日者。為病溫。傷寒論曰。太陽病。發熱而渴。不惡寒者。為溫病。亦是與此段同。楊注曰。溫病則是疫癘之病。非為春病也。殆為謬解。行在諸經者。寒毒之藏於皮膚者。浸淫而後為病。故不知其定在何經也。其脈之現象。未知與風溫相類否。古經欠詳。姑據徐說。</p>
<p>傷寒有汗出而愈。下之而死者。有汗出而死。下之而愈者。何也。然。陽虛陰盛。汗出而愈。下之即死。陽盛陰虛。汗出而死。下之而愈。</p>
<p>〔徐〕滑氏本義。引外臺語。謂表病里和。為陽虛陰盛。表和里病。為陽盛陰虛。傷寒例。亦有陽盛陰虛。汗之則死。下之則愈。陽虛陰虛。汗之則愈。下之則死之文。成無己注。則以陽邪乘虛入府。為陽盛陰虛。陰邪乘表虛。客於榮衛。為陽虛陰盛。活人書。以內外俱熱。為陽盛陰虛。內外俱寒。為陽虛陰盛。惟王安道溯洄集。則以寒邪在外。為陰盛可汗。熱邪內熾。為陽盛可下。此說最為無弊。</p>
<p>按傷寒例又曰。桂枝下咽。陽盛即斃。承氣入胃。陰盛以亡。據此。表寒裡熱之解為確。</p>
<p>寒熱之病。候之如何也。然。皮寒熱者。皮不可近席。毛髮焦。鼻槁。不得汗。肌寒熱者。皮膚痛。唇舌槁。無汗。骨寒熱者。病無所安。汗注不休。齒本槁痛。</p>
<p>〔楊〕五藏六府。皆有寒熱。此經惟出三狀。余皆闕也。〔滑〕此蓋內傷之病。因以類附之。〔徐〕寒熱在皮。邪之中人最淺者。肺主皮毛。開竅於鼻。故皮有邪。則毛髮焦乾。而鼻枯藁不澤也。不得汗。營衛不和也。脾主肌肉。開竅於口。故肌有邪。則唇舌皆受病也。骨受邪。則病最深。故一身之中。無所得安也。腎主骨。又主液。齒為骨之餘。故骨病。則腎液泄而為汗。齒枯藁而痛也。</p>
<p>按此段。全原乎靈樞寒熱病篇。而文多不仝。鼻藁唇藁下。經有臘字。齒本藁痛。作齒未稿。取其少陰於陰股之絡。齒已稿死不治。先子曰。寒熱之病。即虛勞寒熱之謂。素問脈要精微論曰。風成為寒熱。又曰。沉細數散者。寒熱也。又平人氣象論曰。寸口脈沉而喘。曰寒熱。又風論曰。其寒也則衰飲食。其熱也則消肌肉。故使人怢慓。而不能食。名曰寒熱。又玉機真藏論曰。發寒熱。法當三歲死。靈樞論疾診尺篇曰。尺膚炬然。先熱後寒者。寒熱也。尺膚先寒。久大之而熱者。亦寒熱也。又官能篇曰。寒熱淋露。以輸異處。史倉公傳曰。濟北王侍者韓女病。要背痛。寒熱。眾醫皆以為寒熱。魏志華佗傳注。引佗別傳曰。有婦人長病經年。世謂寒熱注病者也。可觀古以虛勞骨蒸等。稱寒熱病矣。</p>
<p>五十九難曰。狂癲之病。何以別之。然。狂之始發。少臥而不飢。自高賢也。自辨智也。自貴倨也。妄笑好歌樂。妄行不休。是也。癲疾始發。意不樂。直視僵仆。其脈三部陰陽俱盛是也。</p>
<p>〔楊〕狂病之候。觀其人初發之時。不欲眠臥。又不肯飲食。自言賢智尊貴。歌笑行走不休。皆陽氣盛所為。故經言重陽者狂。此之謂也。今人以為癲。謬矣。癲。顛也。發則僵仆焉。故有顛蹶之言也。陰氣太盛。故不得行立而倒僕也。今人以為癇疾。誤矣。</p>
<p>按廣雅曰。瘨。狂也。顏師古急就篇注曰。顛疾。性理顛倒失常。亦謂之狂也。是楊注所非。然癲疾亦有類狂者。素問脈解篇。有狂癲疾之文。又厥論曰。陽明之厥。則癲疾欲走呼。陰陽類論曰。病在腎。罵詈妄行。巔疾為狂。是癲狂兼病者。非為一病也。諸病源候論曰。癇者。小兒病也。十歲已上為癲。十歲已下為癇也。</p>
<p>六十難曰。頭心之病。有厥痛。有真痛。何謂也。然。手三陽之脈。受風寒。伏留而不去者。名厥頭痛。入連在腦者。名真頭痛。其五藏氣相干。名厥心痛。其痛甚。但在心。手足青者。即名真心痛。其真心痛者。旦發夕死。夕發旦死。</p>
<p>〔楊〕去者。行也。厥者。逆也。言手三陽之脈。伏留而不行。則壅逆而衝於頭。故名厥頭痛也。足三陽留壅。亦作頭痛。今經不言之。從省文故也。諸經絡皆屬於心。若一經有病。其脈逆行。逆則乘心。乘心則心痛。故曰厥心痛。是五藏氣衝逆致痛。非心家自病也。心者。五藏六府之主。法不受病。病即神去氣竭。故手足為之清冷也。心痛手足冷者。為真心痛。手足溫者。為厥心痛也。〔滑〕真頭痛。其痛甚腦盡痛。手足青至節。死不治。蓋腦為髓海。真氣之所聚。卒不受邪。受邪則死。其真心痛者。真字下。當欠一頭字。蓋闕文也。手足青之青。當作清。冷也。</p>
<p>六十一難曰。經言。望而知之。謂之神。聞而知之。謂之聖。問而知之。謂之工。切脈而知之。謂之巧。何謂也。然。望而知之者。望見其五色。以知其病。聞而知之者。聞其五音。以別其病。問而知之者。問其所欲五味。以知其病所起所在也。切脈而知之者。診其寸口。視其虛實。以知其病在何藏府也。經言。以外知之。曰聖。以內知之。曰神。此方謂也。（在何上。舊剩一病字。）</p>
<p>〔楊〕望色者。假令肝部見青色者。肝自病。見赤色者。心乘肝。肝亦病。故見五色。知五病也。五音者。謂宮商角徵羽也。以配五藏。假令病人好哭者。肺病也。好歌者。脾病也。故云。聞其音知其病也。問病人。云好辛味者。則知肺病也。好食冷者。則知內熱。故云。知所起所在。切。按也。謂按寸口之脈者。若弦多者。肝病也。洪多者。心病也。浮數則病在府。沉細則病在藏。故云。在何藏也。〔袁〕五藏之色。見於面者。各有部分。以應相生相剋之候。察之以知其病也。聞五藏五聲。以應五音之清濁。或互相勝負。或其音嘶嗄之類。別其病也。問其所欲五味中。偏嗜偏多食之物。則知藏氣有偏勝偏絕之候也。〔滑〕以外知之。望聞。以內知之。切也。神。微妙。聖。通明也。又總結之言。聖神。則工巧在內矣。</p>
<p>按自四十八難至此。論病。是為第四篇。○靈樞邪氣藏府病形篇曰。黃帝問於岐伯云。余聞之。見其色知其病。命曰明。按其脈知其病。命曰神。問其病知其處。命曰工。說文曰。巧。技也。從工丂聲。夫望聞與問。以醫之聽視。測病之情態。故曰神。曰聖。曰工。唯診脈一事。在於手技。故曰巧也。楊注。視色聽聲切脈。皆在外而知內之病也。是說不確。</p>
<p>六十二難曰。藏井滎有五。府獨有六者。何謂也。然。府者。陽也。三焦行於諸陽。故置一俞。名曰原。府有六者。亦與三焦共一氣也。（滎。舊訛作榮。今據靈樞改訂。）</p>
<p>〔楊〕五藏之脈。皆以所出為井。所流為滎。所注為俞。所行為經。所入為合。是謂五俞。以應金木水火土也。六府亦其俞應五行。惟所過為原。獨不應五行也。原者。元也。元氣者。三焦之氣也。其氣尊大。故不應五行。所以六府有六俞。六府既是陽。三焦亦是陽。故云共一氣也。〔虞〕詳此經義。前後問答。文理有闕。〔徐〕俞。穴也。靈本輸篇。以所過之穴為原。蓋三焦所行者遠。其氣所流聚之處五穴不足以盡之。故別置一穴。名曰原也。</p>
<p>按自六十二難。至六十八難。論經穴。是為第五篇。</p>
<p>六十三難曰。十變言。五藏六府滎合。皆以井為始者。何也。然。井者。東方春也。萬物之始生。諸蚑行喘息。蜎飛蠕動。當生之物。莫不以春而生。故歲數始於春。日數始於甲。故以井為始也。</p>
<p>〔楊〕凡藏府皆以井為始。井者。謂谷井爾。非謂掘作之井。山谷之中。泉水初出之處。名之曰井。井者。主出之義也。泉水既生。留停於近。滎迂未成大流。故名之曰滎。滎者。小水之狀也。留停既深。有注射輪文之處。故名之曰俞。俞者。委積逐流行。經歷而成渠徑。徑者。經也。亦經營之義也。經行既達。合會於海。故名之曰合。合者。會也。此是水行流轉之義。人之經脈。亦法於此。故取名焉。所以井為始春者。以其所生之義也。歲數始於春者。正月為歲首故也。日數始於甲者。謂東方甲乙也。正月與甲乙。皆屬於春也。〔滑〕蚑者行。喘者息。息。謂噓吸氣也。公孫洪傳。作蚑行喙息。義尤明白。蜎者飛。蠕者動。皆蟲豸之屬。</p>
<p>按五俞之解。楊注頗為詳晰。今更疏其義。所謂谷井之說。蓋原於易井九二。曰。井谷射鮒。甕敝漏。王弼注。谿谷出水。從上注下。水常射焉。井之為道。以下給上者也。是則井者。經脈之所出也。其既出也。未能為流利。故謂之滎。說文曰。滎。絕小水也。從水熒省聲。水雖絕小。瀦則外瀉。故謂之俞。俞。與輸同。說文曰。輸。委輸也。從車俞聲。即輸瀉之謂。其既輸瀉。則為波隴之勢。故謂之徑。經。與徑通。爾雅釋水曰。直波曰徑。注。徑。涎也。水勢若此。則遂歸於海故謂之合。是五俞取水之義也。楊注經字改徑。又為經營之義。未確。本義引項氏家說。以俞為窬字。亦欠妥。說文曰。蝡。動也。從蟲耎聲。蚑。行也。從蟲支聲。脈經。引四時經曰。蜎飛蠕動。蚑蠷喘息。皆蒙土恩。注。蛾蚋幾微之蟲。因陰陽氣。變化而生也。喘息。有血脈之類也。李善文選七發注曰。凡生類之行。皆謂之蚑。</p>
<p>六十四難曰。十變又言。陰井木。陽井金。陰滎火。陽滎火。陰俞土。陽俞木。陰經金。陽經火。陰合水。陽合土。陰陽皆不同。其意何也。然。是剛柔之事也。陰井乙木。陽井庚金。陽井庚。庚者乙之剛也。陰井乙。乙者庚之柔也。乙為木。故言陰。井木也。庚為金。故言陽。井金也。余皆仿此。</p>
<p>〔楊〕五藏皆為陰。陰井為木。滎為火。俞為土。經為金。合為水。六府為陽。陽井為金。滎為水。俞為木。經為火。合為土。以陰井木。配陽井金。是陰陽夫婦之義。故云。乙為庚之柔。庚為乙之剛。余並如此也。〔虞〕所克者為妻。謂孤陽不生。孤陰不長。故井滎亦名夫婦。剛柔相因而成也。〔徐〕靈本輸篇。藏井屬木。府井屬金。其餘滎俞所屬。俱無明文。</p>
<p>六十五難曰。經言。所出為井。所入為合。其法奈何。然。所出為井。井者。東方春也。萬物之始生。故言所出為井也。所入為合。合者北方冬也。陽氣入藏。故言所入為合也。</p>
<p>〔楊〕奈何。猶如何也。春夏主生養。故陽氣在外。秋冬主收藏。故陽氣在內。人亦法之。</p>
<p>六十六難曰。經言。肺之原。出於太淵。心之原。出於太陵。肝之原。出於太衝。脾之原。出於太白。腎之原。出於太谿。少陰之原。出於兌骨。膽之原。出於丘墟。胃之原。出於衝陽。三焦之原。出於陽池。膀胱之原。出於京骨。大腸之原。出於合谷。小腸之原。出於腕骨。十二經皆以俞為原者。何也。然。五藏俞者。三焦之所行。氣之所留止也。三焦所行之俞為原者。何也。然。臍下腎間動氣者。人之生命也。十二經之根本也。故名曰原。三焦者。原氣之別使也。主通行三氣。經歷於五藏六府。原者。三焦之尊號也。故所止輒為原。五藏六府之有病者。皆取其原也。</p>
<p>〔楊〕此皆五藏俞也。所以五藏皆以俞為原。少陰。真心脈也。亦有原。在掌後兌骨端陷者中。一名神門。一名中都。前云心之原。出於太陵者。是心胞絡脈也。凡云心病者。皆在心胞絡脈矣。真心不病。故無俞。今有原者。外經之病。不治內藏也。〔滑〕肺之原太淵。至腎之原太谿。見靈樞第一篇。其第二篇曰。肺之俞太淵。心之俞太陵。肝之俞太衝。脾之俞太白。腎之俞太谿。膀胱之俞束骨。過於京骨為原。膽之俞臨泣。過於丘墟為原胃之俞陷谷。過於衝陽為原。三焦之俞中渚。過於陽池為原。小腸之俞後谿。過於腕骨為原。大腸之俞三間。過於合谷為原。蓋五藏陰經。止以俞為原。六府陽經。既有俞。仍別有原。靈樞七十一篇曰。少陰無輸。心不病乎。岐伯曰。其外經病。而藏不病。故獨取其經於掌後兌骨之端也。又第二篇曰。心出於中衝。溜於勞宮。注於太陵。行於間使。入於曲澤。手少陰也。又素問繆刺論曰。刺手心主少陰兌骨之端。各一痏。立已。又氣穴論曰。藏俞五十七穴。王注。五藏俞。惟有心包絡井俞之穴。而亦無心經井俞穴。又七十九難曰。假令心病。寫手心主俞。補手心主井。詳此各經文。則手少陰與心主同治也。</p>
<p>按甲乙經曰。太淵。在掌後陷者中央。太陵。在掌後兩筋間陷者中。太衝。在足大指本節後二寸。太白。在足內側核骨下陷者中。太谿。在足內踝後跟骨上。動脈陷者中。丘墟。在足外廉踝下。如前陷者中。衝陽。在足趺上五寸。骨間動脈上陽池。在手表上腕上陷者中。京骨。在足外側大骨赤白肉際。合谷。在手大指次指間。腕骨。在手外側腕前起骨下陷者中。按此段三焦。與三十一難所謂同。弟堅曰。通行三氣之三。當是生字。八難。生氣之原。呂注。作三氣之原。可證。禮樂記曰。合生氣之和。道五常之行。鄭玄注。生氣。陰陽氣也。紀天錫為三焦之氣。誤矣。太素經。亦作行元氣。（出於醫家千字文注。）</p>
<p>六十七難曰。五藏募皆在陰。而俞在陽者。何謂也。然。陰病行陽。陽病行陰。故令募在陰俞在陽。</p>
<p>〔楊〕腹為陰。五藏之募皆在腹。故云募皆在陰。背為陽。五藏之俞皆在背。故云俞皆在陽。內藏有病。則出行於陽。陽俞在外也。外體有病。則入行於陰。陰募在腹也。故針法云。從陽引陰。從陰引陽。此之謂也。〔滑〕俞。史扁鵲傳。作輸。猶委輸之輸。言經氣由此。而輸於彼也。〔徐〕六府募亦在陰。俞亦在陽。不特五藏為然。又下節陰陽並舉為言。疑五藏下。當有六府二字。按募俞。經無明文。素問通評虛實論。腹暴滿。按之不下。取太陽經絡者。胃之募也。</p>
<p>按先子曰。募。檢字書曰。廣求也。無干人身之義。因考素靈諸篇。募者。幕之訛也。幕。舊從肉作膜。素問太陰陽明論曰。脾與胃。以膜相連。新校正云。太素。膜。作幕。又瘧論曰。邪氣內薄於五藏。橫連募原。新校正云。全元起本。募。作膜。又痿論曰。肝主身之筋膜。靈樞邪客篇曰。地有林木。人有募筋。此募幕字形相近。故易訛也。素問舉痛論曰。寒氣客於腸胃之間。膜原之下。又曰。寒氣客於小腸膜原之間。靈樞百病始生篇曰。虛邪之中人也。傳舍於腸胃之外。募原之間。又曰。或著於腸胃之募原。蓋膜者。內在各藏各府之間。而外連於軀殼矣。藏府之位於人身也。背部則其氣從脊骨間而輸出。腹部則其幕連著於皮肉。故孔穴之直其次者。在背謂之俞。在腹謂之幕。肝幕期門。膽幕日月之類。是也。素問通評虛實論。及此段。俱訛從力作募。後人不察。遂相襲用。本義曰。募。猶募結之募。抑亦失考。</p>
<p>六十八難曰。五藏六府。各有井滎俞經合。皆何所主。然。經言。所出為井。所流為滎。所注為俞。所行為經。所入為合。井主心下滿。滎主身熱。俞主體重節痛。經主喘咳寒熱。合主逆氣而泄。此五藏六府。其井滎俞經合所主病也。</p>
<p>〔呂〕井者木。木者肝。肝主滿也。滎者火。火者心。心主身熱也。俞者土。土者脾。脾主體重也。經者金。金主肺。肺主寒熱也。合者水。水主腎。腎主泄也。〔虞〕腎氣不足。傷於衝脈。則氣逆而裡急。腎主開竅於二陰。腎氣不禁。故泄注。〔謝〕此舉五藏之病各一端為例。余病可以類推而互取也。不言六府者。舉藏足以該之。〔徐〕出始發源也。流。漸盛能流動也。注。流所向注也。行。通達條貫也。入。藏納歸宿也。五句。本靈九針十二原篇文。流。作溜。義同。</p>
<p>按自六十二難。至此。論俞穴。是為第五篇。</p>
<p>六十九難曰。經言。虛者補之。實者瀉之。不實不虛以經取之。何謂也。然。虛者補其母。實者瀉其子。當先補之。然後瀉之。不實不虛。以經取之者。是正經自生病。不中他邪也。當自取其經。故言以經取之。</p>
<p>〔滑〕靈樞第十篇。載十二經皆有盛則瀉之。虛則補之。不盛不虛。以經取之。虛者補其母。實者瀉其子。子能令母實。母能令子虛也。假令肝病虛。即補厥陰之合。曲泉是也。實則瀉厥陰之榮。行間是也。先補後瀉。即後篇陽氣不足。陰氣有餘。當先補其陽。而後瀉其陰之意。然於此義不屬。非闕誤。即羨文也。不實不虛。以經取之者。即四十九難。憂愁思慮則傷心。形寒飲冷則傷肺云者。蓋正經之自病者也。楊氏云。不實不虛。是謂藏不相乘也。故云自取其經。</p>
<p>按自六十九難。至八十一難。論針法。是為第六篇。</p>
<p>七十難曰。經言。春夏刺淺。秋冬刺深者。何謂也。然。春夏者。陽氣在上。人氣亦在上。故當淺取之。秋冬者。陽氣在下。人氣亦在下。故當深取之。</p>
<p>〔楊〕經言。春氣在毫毛。夏氣在皮膚。秋氣在分肉。冬氣在筋骨。此四時之氣也。其四時受病。亦各隨正氣之深淺。故用針者。治病各依四時氣之深淺。而取之也。〔徐〕陽氣。謂天地之氣。人氣。謂營衛之氣。上。謂皮肉之上。下。謂筋骨之中。</p>
<p>春夏各致一陰。秋冬各致一陽者。何謂也。然。春夏溫。必致一陰者。初下針。沉之至腎肝之部。得氣引持之陰也。秋冬寒。必致一陽者。初內針。淺而浮之。至心肺之部。得氣推內之陽也。是謂春夏必致一陰。秋冬必致一陽。</p>
<p>〔虞〕經言。春夏養陽。言取一陰之氣。以養於陽。慮成孤陽。致者。到也。及也。言到於腎肝。引持一陰之氣。肝腎。陰也。秋冬養陰。言至陰用事。無陽氣以養其陰。故取一陽之氣。以養於陰。免成孤陰也。心肺。乃陽也。〔丁〕人之肌膚。皆有厚薄之處。但皮膚之上。為心肺之部。陽氣所行。肌肉之下。為腎肝之部。陰氣所行。其春夏陽氣上騰。所用針沉手內針。至腎肝之部。得氣引持陰氣。以和其陽氣。故春夏必致一陰也。秋冬陰氣下致。所用針浮手。至心肺之部。得氣推內針入。引持陽氣。以和其陰氣也。故秋冬必致一陽也。</p>
<p>七十一難曰。經言。刺榮無傷衛。刺衛無傷榮。何謂也。然。針陽者。臥針而刺之。刺陰者。先以左手。攝按所針榮俞之處。氣散乃內針。是謂刺榮無傷衛。刺衛無傷榮也。</p>
<p>〔丁〕人之榮為陰。衛為陽。二者為之表裡。其臥針取之。恐傷於榮也。針榮先以左手。攝按所刺之穴。令陽散。而內針者。蓋恐傷於衛也。〔滑〕無。毋通。禁止辭。〔徐〕此即素刺齊論所云。刺骨無傷筋。刺筋無傷肉。刺肉無傷脈。刺脈無傷皮。刺皮無傷肉刺。刺肉無傷筋。刺筋無傷骨之義。按臥針之法。即靈官針篇。浮刺之法。攝按散氣。即素離合真邪論。捫而循之。切而散之之義。然經文各別有義。此取之以為刺陽刺陰之道。義亦為當。</p>
<p>七十二難曰。經言。能知迎隨之氣。可令調之。調氣之方。必在陰陽。何謂也。然。所謂迎隨者。知榮衛之流行。經脈之往來也。隨其逆順而取之。故曰迎隨。調氣之方。必在陰陽者。知其內外表里。隨其陰陽而調之。故曰。調氣之方。必在陰陽。</p>
<p>〔滑〕迎隨之法。補瀉之道也。迎者。迎而奪之。隨者。隨而濟之。然必知榮衛之流行。經脈之往來。榮衛流行。經脈往來。其義一也。知之而後可以視夫病之逆順。隨其所當。而為補瀉也。在。察也。內為陰。外為陽。表為陽。里為陰。察其病之在陰在陽。而調之也。〔徐〕靈終始篇云。陽受氣於四末。陰受氣於五藏。故寫者迎之。補者隨之。知迎知隨。氣可令和。和氣之方。必通陰陽。所引經文本此。</p>
<p>七十三難曰。諸井者。肌肉淺薄。氣少不足使也。刺之奈何。然。諸井者木也。滎者火也。火者木之子。當刺井者。以滎瀉之。故經言。補者不可以為瀉。瀉者不可以為補。此之謂也。</p>
<p>〔丁〕諸井在手足指稍。故言肌肉淺薄也。井為木。是火之母。滎為火。是木之子。故肝木實。瀉其滎。〔滑〕諸經之井。皆在手足指稍。肌肉淺薄之處。氣少不足使為補瀉也。故設當刺井者。只瀉其滎。以井為木。滎為火。火者木之子也。詳越人此說。專為瀉井者言也。若當補井。則必補其合。故引經言。補者不可以為瀉。瀉者不可以為補。各有攸當也。補瀉反則病益篤。而有實實虛虛之患。可不謹歟。</p>
<p>七十四難曰。經言。春刺井。夏刺滎。季夏刺俞。秋刺經。冬刺合者。何謂也。然。春刺井者。邪在肝。夏刺滎者。邪在心。季夏刺俞者。邪在脾。秋刺經者。邪在肺。冬刺合者。邪在腎。</p>
<p>〔楊〕經云。冬刺井。春刺滎。此乃云春刺井。夏刺滎。理極精奇。是變通之義也。〔滑〕滎俞之系四時者。以其邪各有所在也。</p>
<p>按楊注所引經文。見於靈樞順氣一日分為四時篇。</p>
<p>其肝心脾肺腎。而繫於春夏秋冬者。何也。然。五藏一病。輒有五也。假令肝病。色青者肝也。臊臭者肝也。喜酸者肝也。喜呼者肝也。喜泣者肝也。其病眾多。不可盡言也。四時有數。而並繫於春夏秋冬者也。針之要妙。在於秋毫者也。</p>
<p>〔滑〕五藏一病。不止於五。其病尤眾多也。雖其眾多。而四時有數。故病繫於春夏秋冬。及井滎輸經合之屬也。用針者。必精察之。詳此篇文義。似有缺誤。今且依此解之。〔徐〕言病雖萬變。而四時實有定數。治之之法。總不出此。其道約易行也。</p>
<p>七十五難曰。經言。東方實。西方虛。瀉南方。補北方。何謂也。然。金木水火土。當更相平。東方木也。西方金也。木欲實。金當平之。火欲實。水當平之。土欲實。木當平之。金欲實。火當平之。水欲實。土當平之。東方肝也。則知肝實。西方肺也。則知肺虛。瀉南方火。補北方水。南方火。火者木之子也。北方水。水者木之母也。水勝火。子能令母實。母能令子虛。故瀉火補水。欲令金不得平木也。經曰。不能治其虛。何問其餘。此之謂也。</p>
<p>〔丁〕平者。調四方虛實之法也。〔滑〕金不得平木。不字疑衍也。○東方實西方虛。瀉南方補北方者。木金火水。欲更相平也。木火土金水之欲實。五行之貪勝而務權也。金木水火土之相平。以五行所勝。而制其貪也。經云。一藏不平。所勝平之。東方實。則知西方虛矣。若西方不虛。則東方安得而過於實邪。或瀉或補。要亦抑其甚。而濟其不足。損過就中之道也。〔徐〕水勝火。木之母。勝木之子也。子能令母實。瀉子則火勢益衰。而水得以恣其克伐。母能令子虛。補母則水勢益旺。而火不敢留。其有餘如此。則火不能剋金。而反仰食木之氣以自給。使金氣得伸。而木日就衰。金自能平木也。子母二字。諸傢俱以木為火之母。水為金之子為言。義遂難曉。觀本文以水勝火三字接下。明明即指上文木之子木之母也。末句引經言。若此義不明。則治虛之法且不能。安能治他病乎。按六十九難云。虛則補母。實則瀉子。今實則瀉子補母。虛則反補其子。義雖俱有可通。而法則前後互異。未知何故。</p>
<p>按此段諸說未確。徐說頗為明備。是言金之性本剋木。木欲實者。當調平之。而今金虛不能施其令。反為木所凌。故補木所母之水。則水勢汪洋。足以更助金。瀉木所子之火。火勢既衰。必仰救於木。木既救之。則其過實之勢又衰。不暇以凌金。金不受凌。則虛者必復。復則遂得平木之實者矣。水既剋火。則其勢益實。是所以木之母。勝木之子。而謂之子令母實。母令子虛也。</p>
<p>七十六難曰。何謂補瀉。當補之時。何所取氣。當瀉之時。何所置氣。然。當補之時。從衛取氣。當瀉之時。從榮置氣。其陽氣不足。陰氣有餘。當先補其陽。而後瀉其陰。陰氣不足。陽氣有餘。當先補其陰。而後瀉其陽。榮衛通行。此其要也。</p>
<p>〔滑〕靈樞五十二篇曰。浮氣之不循經者。為衛氣。其精氣之行於經者。為榮氣。蓋補則取浮氣之不循經者。以補虛處。瀉則從榮置其氣。而不用也。置。猶棄置之置。然人病虛實不一。補瀉之道。亦非一也。是以陽氣不足。而陰氣有餘。則先補陽。而後瀉陰以和之。陰氣不足。而陽氣有餘。則先補陰。而後瀉陽以和之。如此則榮衛自然通行矣。〔徐〕何所置氣。言取何氣以為補。而其所瀉之氣。則置之何地也。從榮置氣。謂散其氣於營中也。靈終始篇云。陰盛而陽虛。先補其陽。後瀉其陰。而和之。陰虛而陽盛。先補其陰。後瀉其陽。而和之。此其說之所本也。</p>
<p>七十七難曰。經言。上工治未病。中工治已病者。何謂也。然。所謂治未病者。見肝之病。則知肝當傳之與脾。故先實其脾氣。無令得受肝之邪。故曰治未病焉。中工治已病者。見肝之病。不曉相傳。但一心治肝。故曰治已病也。</p>
<p>〔楊〕五藏得病。皆傳其所勝。肝病傳脾之類也。若當其王時。則不受傳。即不須行此方也。</p>
<p>按上工治未病。不治已病。見於靈樞逆順篇。謂刺邪之未盛與已衰。而為其治。五藏傳邪之義。又見於金匱要略。</p>
<p>七十八難曰。針有補瀉。何謂也。然。補瀉之法。非必呼吸出內針也。然。知為針者。信其左。不知為針者。信其右。當刺之時。必先以左手。厭按所針榮俞之處。彈而努之。爪而下之。其氣之來。如動脈之狀。順針而刺之。得氣因推而內之。是為補。動而伸之。是謂瀉。不得氣。乃與。男外女內。不得氣。是謂十死不治也。（本義。經釋。無然知之知字。）</p>
<p>〔滑〕彈而努之。鼓勇之也。努。讀若怒也。爪而下之。掐之稍重。皆欲致其氣之至也。氣至指下。如動脈之狀。乃乘其至而刺之。順。猶循也。乘也。停針待氣。氣至針動。是得氣也。此段越人心法。非呼吸出內者也。氣久而不至。乃與。男子則淺其針。而候之衛氣之分。女子則深其針。而候之榮氣之分。如此而又不得氣。是謂其病終不可治也。篇中前後二氣字不同。不可不辨。前言氣之來如動脈狀。未刺之前。左手所候之氣也。後言得氣不得氣。針下所候之氣也。此自兩節。〔徐〕素離合真邪論云。吸則內針。無令氣忤。候呼引針。呼盡乃去。大氣皆出。故命曰瀉。呼盡內針。靜以久留。以氣至為故。候吸引針。氣不得出。各在其處。推闔其門。令神氣存。大氣留止。故命曰補。此呼吸出內之法。越人以為其道不盡於此也。信其左。謂其法全在善用其左手也。信其右。即呼吸出內針也。</p>
<p>按音釋。厭。益涉切。非。厭。壓古通。說文曰。壓。壞也。一曰。塞補。從土厭聲。厭按。即塞按所針之俞也。</p>
<p>七十九難曰。經言。迎而奪之。安得無虛。隨而濟之。安得無實。虛之與實。若得若失。實之與虛。若有若無。何謂也。然。迎而奪之者。瀉其子也。隨而濟之者。補其母也。假令心病。瀉手心主俞。是謂迎而奪之者也。補手心主井。是謂隨而濟之者也。所謂實之與虛者。牢濡之意也。氣來實牢者為得。濡虛者為失。故曰若得若失也。</p>
<p>〔虞〕心病卻瀉手心主俞。心者法不受病。受病者心包絡也。手心主者。則手厥陰心包絡也。包絡中俞者土也。心。火也。土是火子。乃瀉其俞。此乃寫子也。迎。謂取氣。奪。謂瀉氣也。心火井木。今補心主之井。謂補母也。木者火之母也。隨。謂自衛取氣。濟。謂補不足之經。〔滑〕問辭。出靈樞第一篇。得。求而獲也。失。縱也。遺也。其第二篇云。言實與虛。若有若無者。調實者有氣。虛者無氣也。言虛與實。若得若失者。謂補者。必然若有得也。瀉者。恍然若有失也。即第一篇之義。迎者迎於前。隨者隨其後。氣來實牢濡虛。以隨濟迎奪。而為得失也。蓋得失有無。義實相同。互舉之省文爾。〔徐〕此子母。即以本經井俞所屬。五行生剋言。非如七十五難。指五藏所屬子母也。氣。指針下之氣也。其氣來而充實堅牢為得。濡弱虛微為失。言得失。則有無在其中矣。</p>
<p>八十難曰。經言。有見如入。有見如出者。何謂也。然。所謂有見如入者。謂左手見氣來至。乃內針。針入見氣盡。乃出針。是謂有見如入。有見如出也。</p>
<p>〔丁〕欲刺人脈。先以左手。候其穴中之氣。其氣來而內針。候氣盡乃出其針者。非迎隨補瀉之穴也。〔滑〕所謂有見如入下。當欠有見如出四字。如。讀若而。孟子書。望道而未之見。而讀若如。蓋通用也。</p>
<p>八十一難曰。經言。無實實虛虛。損不足而益有餘。是寸口脈耶。將病自有虛實耶。其損益奈何。然。是病非謂寸口脈也。謂病自有虛實也。假令肝實而肺虛。肝者木也。肺者金也。金木當更相平。當知金平木。假令肺實而肝虛微少氣。用針不補其肝。而反重實其肺。故曰實實虛虛。損不足而益有餘。此者中工之所害也。</p>
<p>〔楊〕上工治未病。知其虛實之原。故補瀉而得其宜。中工未審傳病之本。所治反增其害也。〔滑〕肝實肺虛。金當平木。如七十五難之說。若肺實肝虛。則當抑金而扶木也。中工。中常之工。猶云粗工也。</p>
<p>按自六十九難。至此。論針法。是為第六篇。</p>
