<header data-type="book">
<h1>痘科輯要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>文起</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1801">公元1801年</data></dd></div>
</dl>
</header>

<h1>金敘</h1>
<p>甚哉！為人子者，不可不知醫，斯言所以教孝也。余由是觀之，則為人父者，亦不可不知醫。何也？小兒素稱啞科，難以臆度，而又是專科者，類多庸劣，求其良者，百不得一。即如痘疹之發，其顯然易見者耳，由初熱而現點，而灌漿收靨，有形色可占，有時日可計，較諸他症，宜易以為功。而往往補瀉殊施，虛實莫辨，吉凶罔知，趨避先後多所貿亂者，則其術有未精而所以治之者，失其道也。為人父者不知醫，又不知所以擇醫，以彼嬰孩，供其荼毒，鞠育乖方，咎將誰屬？與言及此，竊為寒心。文子夢弼起者，湘南文學也。自其少時攻舉子業，恂恂謹厚，潛心經史，旁及諸子百家之書，無不通曉，屢躓棘闈，乃棄而肆力於醫。窺東垣、丹溪之堂奧，衍河間、潔古之薪傳，以此活人，選輒獲效。惻然念小兒一科，惟痘疹為生死關頭，所繫尤重。爰取清江聶氏《活幼心法》一書，沉潛反覆，得其宗旨，參以玉堂《定論》、張氏《新書》，兼綜條貫，明白無疑，由是匯成一編，袖以質余。披閱之，見其詳求乎寒熱虛實之辨，指陳乎吉凶順逆之機，無症不備，有方必搜。雖未嘗別出新裁，直抒己見，而抉擇去取之間，卓有定識，非精於斯道者，固不能若是也，顏之曰《痘科輯要》。即令付諸剞劂，以公同好，且以告天下之為人父者。</p>
<p><u>時嘉慶六年辛酉歲秋九月穀旦年家眷同學弟金方世拜題</u></p>

<h1>自序</h1>
<p>漢建武二十五年，馬援徵武陵蠻軍，次下雋，士卒死者大半。史以疫書，蓋即痘也。痘其始於此乎？治痘之法，如劉河間、錢仲陽、張潔古、王海藏、陳文中、朱丹溪，皆卓卓名家，迥殊庸劣。然而劉、錢、張、王失之瀉，陳氏失之補，丹溪操中立之術，補瀉兼施，又失之牽制，而權不歸一。他如《保赤全書》、《證治準繩》，舛謬已甚。《金鏡錄》、《痘科正宗》、《痘疹心要會編》等書，非無一節之長，究之得不償失。獨有明清江聶氏著《活幼心法》一書，以為胎毒藏於命門，觸之即發，可內托而不可清解，闡千古之秘奧，救萬世之嬰孩，其功偉哉！顧其立言高渾，方法簡約，留心斯道者，能精思其義，觸類引伸，固可用之不竭。若淺學之士，因症檢方，或不免少之見存。本朝朱玉堂先生《痘疹定論》，意在表章江聶氏，仍略而不詳；張氏之《種痘新書》詳矣，其文辭又多重複冗漫，讀者不能一目瞭然。用是不揣固陋，於聶與朱之略者詳之，於張之繁衍者刪之，張亦間有未備者，採他書補之。語取其簡而括，義取其精而顯，方取其平易而當，臨病檢書可得治法，聊為粗工開一捷徑。知我罪我，所不暇顧。</p>
<p><u>嘉慶六年歲次辛酉仲秋月上浣衡山文起夢弼書於築岩草舍</u></p>

<h1>毛序</h1>
<p>世有得秘傳方書而什襲藏之者，設為一身一家所得矣，然私而不公，識此當恨焉。夫賢人君子，不為良相，必為良醫，既為良醫，本其一生之精，思稔諸書，日所診治，以筆之於書，蓋欲濟天下後世也。得其書者，秘而不傳，非徒負作者苦心？其視患者呻吟望求而不加憐惜，居心亦太忍矣。倘以己所珍重者與世人共寶之，則人皆有術以扶危拯困、起死回生。而庸夫之諉於天命者，不足辨也。痘疹之厄，嬰兒委命於父兄，父兄授權於醫，稍有不慎，即殺諸俄頃。醫殺之，實父兄殺之也。苟得善本，留心研究，明乎虛實寒熱之症，升解補瀉之方，臨時自有主張，何至挈嬰兒之命付諸庸醫之手？金君竹均家藏《痘疹輯要》一書，乃其尊人菊圃先生秉鐸衡山時秀才文君夢弼所輯，菊圃先生序而梓之者也。每遇時行險症，醫者束手，病家失措，本是書辨症用方，多所全活。可知天命之說不足憑，而醫不能無誤矣。原版漫滅已久，書罕存者，竹均欲以所藏公諸宇內，為業醫者授以指南，為出痘者予以寶筏。乃謀諸同志，捐資重刊，皆欣然稱善。旬月間捐得若干金，遂命開雕，月餘工竣。既屈君自申袖《痘科秘傳》見，亦云抄自粵東，並無刻本，亦不著作者姓字。自得是篇，所求甚夥，蓋與《輯要》合夢璧乎？展卷讀之，辨症施治，剖晰詳明，與《輯要》並行不悖。詳加決擇，撮其論著最精者每篇別為續集，又採諸方附於卷末。是書也，成兼能家置一冊，為活幼慈航，則不知醫者，亦不至為庸醫誤，可慰著書者保赤婆心。而二君公善之誠，眾君子樂善傾助，並委不朽矣。</p>
<p><u>道光九年歲次己丑仲夏月上浣長沙毛鵬謹識</u></p>

<h1>卷一</h1>

<h2>痘源（節錄聶本）</h2>
<p>痘乃胎毒藏於命門。論胎毒者，曰欲火，曰恣食厚味，曰降生之時，口咽穢血，此皆非確論也。人之有生，受氣於父，成形於母，則胎毒亦隨之，而根於陽施陰受之始，豈待成胎之後，乃有是毒耶？又曰：胎毒藏於五臟，故有痘出五臟、麻出六腑之說。不知胎元之成，先有命門，自命門之陽動陰靜，而生水火木金土，五月之後，五臟六腑始有定形，豈命門所藏之胎毒，至此又將陰毒遷移於五臟而為痘，復又將陽毒轉移於六腑而為麻耶？夫命門體也，五臟用也，六腑又五臟之用也。命門所藏者，陰陽之氣也。陰陽之氣，藏於命門，至深至密，形氣俱泯，必賴五臟六腑傳送時令之氣透入命門，感痘之氣而為痘，感麻之氣而為麻。時令之氣，有清有濁，胎毒有順而無逆，猶人之性有善而無惡。痘有逆者，時令濁氣之所變，猶人之為惡，氣稟習俗之所移也。</p>

<h2>氣血（節錄聶本）</h2>
<p>氣體天而親上，血體地而親下，痘之出也，其高起之疱，氣之位也，上也，氣宜充焉；其四暈根腳，血之位也，下也，血宜附焉。疱尖而色白潤，是氣充而居其親上之尊也；四圍有暈而色紅活，是血附而安其親下之分也，此最吉也，可勿藥而愈。頂陷則氣反親下，此氣虧而不能充也，法當補氣；四圍根腳無紅暈，此血虧而不能附也，法當補血，此理猶易明也。其有通頂紅色成血疱者，是血反親上也，此症最險，必不能成漿，至八九日後，癢塌而死。然此非血之獨盈，乃由氣虧而失其居尊之常，故血得以妄行，而僭居其位也，急宜大補其氣，氣充則能統血，血自不得泛溢妄行，而疱轉白矣。世人不明此理，見其疱紅，誤認為血熱，用涼血行血之劑，致令氣愈虧，斃愈速，不亦悲乎。至於調治氣血，其氣獨虛者，固宜專補氣，不宜補血，蓋陽不能從陰，陰愈長則陽愈消也，其有血虛者，多由胃氣損傷，元氣不足所致，蓋陰必從陽，陽生則陰長也，故必以胃氣為主，補血必先補氣。</p>

<h2>虛實寒熱（節錄聶本）</h2>
<p>痘瘡之虛實寒熱，與諸病有同有不同。諸病有虛者，元氣自虛也，宜補也；痘瘡有表虛，有裡虛，亦元氣自虛也，宜補也，此相同者也。諸病有實者，邪氣實也，可瀉也；痘瘡有表實，有裡實，此則元氣完固，毒氣不能為害，不可瀉，亦不必瀉也，此不同者也。諸病有虛之甚者，陰有餘，陽不足，則寒自虛生，宜溫熱之劑；痘瘡有虛之甚者，亦陰有餘，陽不足，而寒自虛生，亦宜溫熱之劑，此相同者也。諸病有寒自外入者，外感是也，當其在表，宜發散之，久而在裡郁為熱，宜清解之；痘出而風寒外襲，宜溫而散之，或外寒入里，為吐瀉諸症，亦宜溫之而已，外不可發汗，內不可清解也。諸病有虛熱者，補其元氣，則熱自除，痘瘡亦有虛熱，當以補元氣為主，而略兼解毒，此同而有不同也。諸病有實熱者，血氣未虧，邪氣壅盛，單用寒涼瀉之；痘瘡亦有實熱者，稟氣強，血氣盛而毒氣亦盛，亦單用清涼解之，此又相同者也。聽其聲音，觀其靜躁，視其飲食之多少，審其大小便之利澀，三歲以上者診其脈之遲速洪微，則虛實寒熱，若黑白分矣。</p>

<h2>闢解毒（節錄聶本）</h2>
<p>痘與諸瘡不同，諸瘡以解毒為主，痘以血氣為主，血氣能送毒以灌膿、結痂則生，血氣不能送毒以灌膿、結痂則死。解毒之藥，多損血氣，小兒稟賦強壯，脾胃氣健，飲食如常，其氣血自旺，自能送毒氣以成功，毒不必解。若稟賦素弱，脾胃不強，出痘時飲食減少，或瀉，或渴，或腹脹，或手足冷，或氣短促，或失聲，或痘出不快，或根窠不紅活，或色白而頂陷，或當灌膿而不灌膿，或當結痂而不結痂，皆由血氣不能送毒，當速用溫補以扶胃氣，助血氣，倘用參、耆、歸、術而力不及，即加入丁香、木香、桂、附等佐之，不可添入芩、連、蒡、翹等藥，以損藥力，此則欲解其毒而不可也。至於血氣與毒氣並盛者，脈必洪數，痘或初出即帶紫黑，或既出而稠密、紅紫，內症則煩悶躁渴，小便赤澀，大便閉結，此屬實熱，宜清涼之劑以解毒。如大便火閉者，量入酒蒸大黃微利之。若毒氣雖盛，而血氣未旺者，以解毒為主，而兼活血養氣，則參、耆、歸、術之類不可離也。凡解毒者，解之於既出之後，是順其欲散之勢，猶為近理；解之於未出之先，是遏其猛銳欲出之勢，其禍甚速，痘未出時，除升發微汗一劑外，凡攻裡清表、寒涼解毒之劑，當禁之，如砒、巴，勿令入口，惟人參敗毒散，能宣發毒氣出外，為無害耳。麻痘務外發，初發無時，不論是否，當以升麻葛根湯為主。</p>

<h2>痘疹避氣</h2>
<p>腋下狐臭氣，房中淫液氣，行遠勞汗氣，溝糞濁惡氣，婦人經候氣，諸瘡腥臭氣，砒硫蚊煙氣，誤燒頭髮氣，吹滅燈燭氣，柴煙魚骨氣，蔥蒜韭薤氣，煎炒油煙氣，醉酒葷腥氣，麝香臊穢氣。</p>

<h2>守禁忌</h2>
<p>生人往來，罵詈呼怒，對梳頭，對搔癢，勿掃地，勿對荒言，勿使僧道師巫入房，勿對飲食歌樂。</p>

<h2>可種</h2>
<p>印堂、山根、年壽無青暗之色者，兩目有神者，神情安逸者，肥不見肉瘦不露骨者，肉色緊微帶紫黑色者，天柱端正，手持物件有力者，站立腳不倦怠者，小便遠而長者，腎囊緊小微帶紫黑色如荔枝殼者。</p>

<h2>不可種</h2>
<p>兩目無神、昏蒙倦怠者，肉鬆如發麵樣者，氣不均勻者，面無喜色者，形氣瘦弱者，內有疳積者，病後虛弱者，吐瀉後元氣未復者，渾身有疥瘡者，生大毒正氣未復者，聲音不亮不長者。</p>

<h1>卷二</h1>

<h2>初熱三日治法</h2>
<p>發熱之初，身熱和緩，或熱或退，神清氣爽，飲食如常，此不必用藥發汗，但戒葷禁風，調護而已。其有憎寒壯熱，頭疼咳嗽，鼻流清涕者，多因外感，不可不發散也。當視兒體強弱，體氣強者，用加味升麻葛根湯（一）汗之；體氣弱者，用加味參蘇飲（二）汗之，然皆不可出汗太多，恐虛其表後難起脹灌漿也。既發汗，身熱漸緩，兒頗安靜，其痘必稀（亦有痘多者血氣虛也）。若發汗後，身熱不退，或煩躁，且勿峻攻，姑少待之，其或煩悶燥渴妄語，用敗毒和中散（三）清之，切不可用傷寒家柴胡、黃芩、乾葛、花粉等清解之劑。此藥若用差一劑，解虛其表，至七八日，漿必不行，雖極力補助，莫能救療，其痘必枯焦癢塌而死。服敗毒和中散，覺煩悶少解，即止勿服，聽其痘外出，其中自安。或有腹痛腰痛煩悶，大熱熏蒸，眼紅唇紫，舌有黃苔，口中臭氣，狂言躁語，二便不通，惡風惡寒，嘎齒咬牙者，此其毒氣沉重，然只宜用敗毒和中散，加酒炒大黃微利之，聽其痘毒外出則諸症自退。然後看其痘，或稠密或紅紫帶黑，又議解毒可也，切不可純用寒涼，以阻遏其痘出之勢，立致內攻告變。</p>

<h2>初熱險症</h2>
<p>初熱時，唇淡面青，手足冷，舌無苔，精神困倦，不思飲食，二便清利，脈沉細遲緩，乃虛症也。若猶大熱灼人，心中迷悶，則元氣虛而毒氣又盛，急用調元解毒湯（八十四）。</p>
<p>初熱為風寒所閉，一時無表散之藥，或兒體弱，不任發散，或既服表散藥，不可再表，用桃樹皮、薑蔥搗爛，炒溫敷臍上，一炷香久，亦取其發散也。</p>
<p>初熱時小便如血，遍身見紫色斑點，此毒盛血熱也，宜二寶散（八十五），或犀角地黃湯（八十六）（按：小便如血，言其赤之甚耳，若果是血。必不可救）。初熱四肢僵直，不能舉動，或氣粗目閉，迷悶不醒，皆為風寒所束，毒不能宣之故也，宜蘇解散（八）加天麻、白附、全蠍、殭蠶。若元氣虛者，宜扶元祛風湯（八十七）。</p>
<p>初熱時遂變失聲，此風邪入肺，重則用清肺飲（八十八　），輕則用甘桔湯（八十九）。</p>
<p>發熱時，耳下或頸上有泡，皆寒氣風痰所結，用紫荊皮、防風、荊芥、生南星、生半夏、麻黃、白芷，共為末，酒調或醋調敷之，或用生薑磨地泥敷之，俟痘出自愈，切不可用癤毒草藥，冰伏其毒。</p>

<h2>初熱逆症</h2>
<p>初熱頭面一片紅如胭脂者，六日後死。身如熨斗，眼紅唇裂而紫黑者凶。腹中疼痛，及腰痛如杖，連尻骨俱痛者不治。如痛不甚而有止者，解腎邪可治。心窩及遍身皮內有紅塊者不治。七孔二便出血不止者必死。見紫黑斑者死。目閉無魂，昏睡不醒者死。然有為風寒所閉，昏昏好睡者，散其寒邪，宣其毒氣，則愈。舌頭紫黑色者死。聲啞神昏者死。吐臭痰或腹脹痰鳴者死。胸高而突者死。四肢厥冷，舌卷囊縮者死。口中常如食物者凶。目閉咬牙，鼻生黑氣者死。飲食不化，形色青藍者死。唇項腫硬，神氣昏暗者死。未熱先出賊痘數粒，至熱時俱沒有者死。</p>

<h2>見點三日治法</h2>
<p>見點用藥，與初發略同，初發之藥，在發散而兼解毒，見點之藥，宜解毒而佐升提。凡補滯辛熱，如肉桂、附子、丁香、乾薑、茯苓、茯神、鹿茸、鹿血、白朮、半夏、淮山、棗仁、遠志、蒼朮、藿香、砂仁、豆蔻、訶子、五味之類，此時猶不敢妄投，即用黃耆、甘草，亦用生而不用炙，芍藥用赤而不用白，地黃用生而不用熟，蓋慮其滯毒氣，助毒火，以貽禍於其後也。</p>
<p>見點要合常期，發熱四日見標者吉，三日見標者次之，若二日即見者凶，一日見者尤凶。雖然不應出而出者固重，若應出而不出，亦不為輕。自古方書，皆詳於已出之後，而略於未出之前，深言出而稠密之危，不言留中不出之禍。不知已出之毒，外寇也；未出之毒，內寇也。速出稠密者，外攻也；留中不出者，內攻也，內寇與外寇孰烈，內攻與外攻孰重，故痘已出而死者，必在旬日之外，未出而死者，必在六日之中，凡小兒發熱三四日而未見點者，急用捻子照之，其痘隱於皮膚之間，歷歷可指，辨其虛實寒熱而速治之，庶毒不內攻也。</p>
<p>痘出不快，痘至五日上，頭面胸背俱宜出矣，若猶隱於皮膚之內，欲出不出，謂之不快，此症有數等，或為風寒所閉，或為熱毒所壅，或因元氣不足，最宜詳辨。皮下之點，不甚紅紫，鼻塞聲重，咳嗽惡風，膚起雞皮，迷悶不醒而出不快者，此為風寒所閉也，宜加減參蘇飲（十一）散之，或升麻湯，用升麻、防風、川芎、蟬蛻、牛子、連翹、枳殼、麥冬、桔梗、陳皮、紫草、甘草、山楂、山甲、前胡、紫蘇，弱者加參、耆，薑蔥引，熱服。服後被蓋片時，取微汗，痘即見矣。再用推拿以松其肌表，痘尤易出。皮下之點紅紫，或密如蠶種，或一片不分顆粒，唇紅舌黃，臍下痛，煩悶咬牙，目赤口臭，身熱大便閉，而出不快者，此為熱毒所壅，血氣不流行也，宜調元化毒湯（十）去參、耆，加小川芎清之，或加酒蒸大黃微利之，或用上升麻湯，去紫蘇加黃芩、黃連。以上二症，必從前失於解表，身無微汗，故欲出而不能。若皮下之點淡白，唇亦淡白，倦臥，飲食減少，二便清利，身涼，手足冰冷，目閉無魂，而出不快者，此元氣不足，不能送毒出外也，宜補中益氣湯，若無人參，須加官桂、鹿茸，或溫中益氣湯（九）托之。大抵痘之不出，多屬此三症，詳審而治之，無不出矣。又有因邪穢所觸，隱伏而出不快，其痘必癢，宜平和湯（＋二）解之，外以蒼朮、紅棗或沉香、檀香、乳香等燒煙燻之（一說蒼朮乾燥不可用），以避其氣，仍看痘色暈腳，或宣之，或補之。</p>
<p>夏月為暑氣所遏，痘出不快，煩渴，宜人參白虎湯加糯米一撮，或五苓散（茯苓用赤者）加木通、乾葛、生薑，或辰砂益元散加車前、木通、牛子，用香薷煎水調服，暑退痘自出（凡治傷暑，宜利水，蓋暑不可汗下，當從小便解泄也）。小兒出痘之時，痘毒達於皮膚，宜熱氣透泄，不可包裹太甚，致毒氣壅鬱，其痘必多，且恐鼓動浮游之火，有夾丹、夾癮之患。初出時，吐瀉過甚，致脾胃虛弱，痘出不快，宜理中湯加官桂，瀉不止，加茯苓、豆蔻、訶子。前有房勞，以致腎虧，痘出不快，多有腰痠腰痛，用人參、生耆、當歸、川芎、元枝、白芍、杜仲、故紙、續斷、枸杞、肉桂、炙草，煩渴者，加麥冬、連翹。元氣本虛，毒氣又盛，大熱，痘出不快，解毒既恐傷元，扶元又恐助熱，此際最難措手，必用剖雞方托之（方見腰痛），其痘自出，此屢試屢驗，痘伏而不出，當察其報痘之的確，或二三顆，或五六顆，或上下手足有十餘顆，此為出痘無疑，否則只有身熱而無報痘之明證，乃雜病也，雜病則以雜病藥治之，出痘則以托痘藥宣之。痘出不快，煩渴悶亂，睡不寧，咳嗽失聲，用艾葉二兩，胡椒三十粒，擂爛、水調取汁，熬膏作餅，敷臍中。痘出不快，用雞冠血和酒服。樟樹皮、柑子葉、生薑，共搗爛，加麻油炒熱，紅紙包熨遍身。水楊柳枝葉五錢，冬月桔梗，煎湯服，此方麻亦可用。痘已出復隱，勢甚危急，用紫背荷葉（取霜後貼水者），白殭蠶（取直者，炒去絲），等分為末，胡荽湯，或溫酒下。</p>

<h2>見點順症</h2>
<p>熱至四日，耳目口腮元壽之間先見數點者吉，或兩顴報點亦吉，或面部未見而手足先見者尤吉，此標從肝肺脾經來也。手足元壽見者屬脾經，痘必稀，百無一凶；兩顴見者，屬肝肺二經，痘雖多寡不同，究皆可治，是以俱為順症。報點之痘，肥大皮粗堅硬，摸之礙手者吉。此元氣旺，毒氣少也，痘必稀疏。痘作三四次出，到五日後手足方出齊，頭面胸背頸項俱稀疏者吉，蓋面為五臟之府，頭乃諸陽所聚，二處稀，則五臟不留毒氣，諸陽悉得上升，且頸項疏朗則扼要之區不截，胸背不密，則周身之血皆榮，有此順症，縱四肢稠密，亦自無妨。痘出遍身稀疏者上吉。痘初出，即有起發之勢，日漸起脹，頂圓皮粗堅實者吉。初出紅活潤澤，腳有紅暈，不散漫，痘與肉色紅白分明者吉。見點後，潮熱漸減，雜症漸退，飲食漸進，吐瀉皆止，至五六日上，痘出齊。熱退，雜症全無，飲食如常，精神清爽者吉。</p>
<p>朱：見點吉凶：單粒報苗者吉；雙粒出現者稠密，熱退現苗者順，夾熱放苗者險；顆粒大而尖圓紅潤者吉；顆粒大小不一，微見尖圓紅潤者半吉；顆粒十分之中有一分大，二分小，不見尖圓紅潤者凶。</p>

<h2>見點險症</h2>
<p>諸痘未出，獨印堂先見一顆者，名曉星報點，此痘能閉諸毒，急以燈火烙之，用銅錢一枚印痘上，令痘從錢眼出，然後烙之，庶小兒不躲閃差誤。承漿、廣額先見數點，此心腎二經之苗，必凶，又恐為瞰報之賊標，俱速以燈烙，或用銀針剔破，吮去惡血，旋用拔毒散（三十五）敷之，此標一除，能減無限之痘。嘴角有痘，曰鎖口，鼻孔邊痘，曰攔門，皆為凶痘。喉窩之痘，主咽痛；心窩之痘，主煩悶；凡耳後窩中、頸項窩間有痘，皆不吉，俱宜速去之。熱至四日上，痘一見點，則毒氣將達皮膚，熱宜漸退，諸症亦宜漸平。若熱不減，宜清解丸（百三六），次服散花丸（百三七）。倘猶大熱煩渴，悶亂不寧，或點見瑣屑，其毒必重，痘必多，用解毒湯（百十二），須日進二三服，痘或可減，若怠忽視之，則鋪氈蠶種紫黑乾枯之候至矣。蓋四五日內。正宜解毒，失此不治，後雖欲解而不能矣。痘出稠密，其天庭、地角雖然明朗，而兩顴一片丹紅，不分地界，此毒在肝肺，不急治，必咳嗽失聲，癢塌而死，用前胡、赤芍、紫草茸、生地、丹皮、牛子、連翹、川芎、黃芩、黃連、木通、甘草，外用水楊柳煎水，屢拭其面，痘即轉色，或以胭脂米擂水搽痘上，亦能解毒活血，此屢試屢驗。</p>

<h3>痘疔賊痘</h3>
<p>痘中有紫黑乾硬，暴脹獨大，腳無紅暈者，痘疔也。痘疔能閉諸毒，帶累眾痘。未齊有疔，則諸痘不能出現；既齊有疔，則諸痘不能起脹；行漿時有疔，則諸痘必致倒陷。故初出之時見有紫黑獨大之點，恐其成疔，即以銀針刺破，吸盡黑血，以拔毒散（三十五）敷之，或四聖膏（三十四）亦妙。</p>
<p>朱：痘疔初見時，以燈火焠之，再用拔毒散搽之，不消，然後用銀針剔破疔頂，必出紫血，用棉花擦淨，隨用四聖膏填入，自然爛去疔腳，膿水淋漓。一法用獨蒜片安疔上，以艾於蒜上炙三壯，自消。一法用巴豆一粒去皮，硃砂一分研爛，刺破點入，一時即消。</p>
<p>張：痘疔初刺破，用拔毒散敷後，次日若再硬脹，仍刺破，以前藥敷之，必轉紅活，方可已也。若針挑不動，手捻有核，須用刀從四邊刮開，以小鉗鉗出，其形如釘，長半寸許，仍以前藥敷滿瘡口，自愈。</p>
<p>【附方】山慈菇和蜣螂肉，搗爛塗上，能取疔根。</p>
<p>又四肢有痘，慘暗堅硬，痛甚，或外無痘而內有核作痛，亦痘疔也，宜艾火灸之，或燈火焠之。若不急治，其疔即深陷，穿筋透髓，腐爛見骨，甚可畏也。天庭有黑點，心窩舌上必有疔；地角有黑點，陰囊必有疔；兩顴有黑點，兩腋必有疔；準頭有黑點，四肢必有疔。此觀顯可知其隱也。</p>
<p>朱：賊痘先含微水，頂有黑色，外形獨大，與痘疔無異，但痘疔根腳微腫，賊痘根腳不腫，治法以燈芯蘸清油焠之，其毒即化。倘賊痘甚多，燈火難受用，拔毒散搽之，日三四次，若焠之不退，搽之不起，不能成漿，則不可救，痘疔、賊痘，俱用人參、黃耆、當歸、白芍、川芎、牛子、連翹、人中黃、山甲、防風煎服，加雄黃更妙。</p>

<h3>看痘形色</h3>
<p>痘色慘暗不明，此邪火壅於肌肉，而血不榮活也，宜加味升麻湯（百四十），天庭暗，加麥冬、黃連，兩顴暗，加丹皮、黃芩。發熱一二日即見標者，曰火裹苗，不急退其熱，則苗槁矣，用清地退火湯（百四一），或用秦艽（酒洗淨），水煎服。痘出大熱不退，痘色乾枯，或紫或黑，界地不分，皆毒壅血所致，不急治，至八九日，必腹脹氣喘，癢塌而死，宜涼血解毒湯（百四二），或大成散（百四三），用紫草、紅花、赤芍、人中黃，煎水調服，譫狂者用麥冬、燈心、車前、木通煎水調服。大凡毒盛之症，不可用當歸、鹿茸，誤用則串成一片矣。痘一齊湧出，大熱煩悶，稠密焦紫，皆熱毒猛烈，氣血凝滯，不急治，必變紫黑二陷，死於十二日內，宜調元化毒湯（十），有嗽加陳皮、花粉。痘出稠密乾紫，身熱氣粗，譫亂驚搐，時點額搖頭，手足牽引，此熱毒滯於臟腑，故肝木動而生風，心火炎而驚譫，宜祛風退熱，用烏金丸（百四四）。痘雖見點，其毒郁中，壯熱煩渴，紫色不起，唇口硬裂，此毒留脾胃，宜內解脾胃之郁，外清肌肉之邪，用防風、白芷、紫草、甘草、紅花、生地、蟬蛻、木通、川芎、赤芍煎水，調下小無比散（百四五）。痘初出如雲霞突起，紅丹遍布，此浮游之火，散漫於皮膚，宜涼血解肌以退火，用元參升麻湯（三十一）。痘有內黑外白者，毒凝於裡也，用三黃湯（百四六）。痘有內白外黑者，毒滯於表也，宜解肌活血，用升麻湯（百四七）。痘出頂上有茱萸紋，毒凝氣滯也，色不甚紅者，用調元化毒湯（十），色紅甚者，用涼血化毒湯（百四八）加川芎、蟬蛻、防風，若不急治，後必成空倉痘，死於一十三日內。</p>
<p>以上俱毒盛血熱之症，固宜清解，然不可過用，若痘轉紅活，人稍安靜，即宜漸進溫補，以為成漿之地。</p>

<h3>見點虛寒諸症</h3>
<p>痘出而熱不退，痘頂不起，根窠欠紅，若隱若現，出而覆沒，兼之唇淡而青，雙眸不炯，聲氣不雄，此氣血兩虧，不能盡發其毒也。不急治，毒將內攻，必變灰白癢塌，死於八九日內，宜千金內托散（十六）。痘出雖稀，其痘與肉色無異，根窠絕無紅暈，此血虛而氣亦不甚振也，用人參、黃耆、當歸、鹿茸、川芎、白芍，又方用保元湯（百四九）（有初出時痘雖不紅而粗肥起頂者，此氣至而血未至也，不可一概作血虛論，至起脹時，其腳自紅）。痘出身涼，不思飲食，痘色灰白，吐乳泄青，手足厥冷，腹或脹痛，此純陰之症，最為危險，速用回生丹（五十一）熱服，被蓋片時，令陰退陽回，痘自紅活，吐瀉不止，用異功散（五十）。痘初出，貴瘡厚堅實，若皮薄體軟，此毒在氣分，或氣虛不振也，不急治，必變灰白塌陷，或一包清水，潰爛而死，速用回陽散火湯（百五十）。發熱和緩清爽，飲食如常，出痘少點數明，至三四日而倦怠嗜臥，不思飲食，所出之痘，形影淡白，點粒不明，此非痘毒輕少，乃血氣虛弱，送毒不出也，宜溫中益氣湯（九）托之，甚者必連服二三劑。痘出始齊，其痘必多，若因其安靜，不急托痘出外，延至五六日，毒氣內攻，須臾告變矣。昔人謂熱輕則痘輕，可盡信乎。以上諸症，俱是虛寒，然痘色白者，亦不可概論。有熱毒鬱結於中，使氣血不能舒暢，痘色㿠白者，必解毒活血，其痘乃紅，不然，三日後必變紫色焦枯矣，但此實熱似虛者，痘色雖白，其人必唇紅舌苔，煩悶不寧，宜調元化毒湯（十）。若虛症既形，痘色又白，則必以補為主。</p>

<h3>夾斑夾丹夾疹</h3>
<p>聶：痘有夾斑而出者，初見痘苗一二顆，其空處及遍身所出，俱紅赤點（張云：斑稍大而不紅），無顆粒，不見高聳，隨出隨沒。又有夾丹而出者，初見痘苗一二顆，遍身紅赤成片，如雲頭突起（張云：丹點甚紅而小，粒若丹砂），此皆毒氣浮游散漫於皮膚間也，不必驚惶，但用元參升麻湯（三一），一二劑，斑、丹自退，用荊防解毒湯（四八）亦好（二症俱以元參為君）。遍身發斑紅紫，無痘出現，不醒人事，急與雪梨食之，或雪梨汁磨象牙與服。又用芙蓉花、川椒、胡椒共為末，紙捲成條，蘸麻油燈盞盛之，燃照被內，覆蓋一時久，其斑自退，痘自現。痘有夾疹而出者，初見痘苗，遍身紅色，碎碎紛紛，形如出疹，宜元參升麻湯，加桔梗、酒芩，令其疹先退，痘自起發，出痘亦稀，或用荊防解毒湯。</p>
<p>（按：痘出時有先見疹子，而夾出如水痘者，此是正痘，因疹子耗去榮血，故自似水痘，但發散其疹子、則正痘自成，蓋疹子從不夾水痘故也）。</p>
<p>補：痘有夾痧而出者，其形如粟，尖圓而硬，中含清水，蔡氏謂痧與疹，皆麻之異名，但痧有水而疹無水，宜四苓散（百一），加防風、黃芩。又有夾癭而出者，痘未出數日之前，或頸項，或耳後，或腋下，發一小塊，大者如桃，小者如李，此虛火挾痰，最宜速治，用貝母、花粉、甘草之類，清利解散，庶免後患。</p>

<h3>夾水痘</h3>
<p>痘有夾水痘而出者，或正痘未出而水痘先出，不必過慮，但治正痘，水痘自起，結痂而愈。</p>

<h3>小痘</h3>
<p>痘之大者名大痘，小者名小痘，雖不甚起脹，而尖圓可愛，此乃毒輕之症，故易齊易靨，不如常期亦無害也。</p>

<h3>驗出齊否</h3>
<p>看痘出齊與否，以腳心為驗，腳心有痘，則出齊矣。若痘稀者，不必拘此，以身不熱為出齊。</p>

<h3>食肉</h3>
<p>聶：食肉不可太早，必待痘出齊，身不熱，方可食豬肉，若熱未退而食肉以助火邪，必成大患。雞肉首尾俱不可食，惟起脹時，怯弱者食之，以助行漿，壯盛者亦忌之。諸魚皆腥，牛羊皆膻，痘家最忌，並宜禁絕。</p>
<p>朱：痘出齊，身不甚熱，宜食鮮鯽魚，以助胃氣。至灌漿時，宜食肥母雞，或線雞亦可。大漿未滿，鵝肉亦可，綿羊肉亦可，俱不用鹽。若兒小不能食，當令乳母按期而食。又有一種素痘，長漿之時，食葷即吐，當以香蕈燉豆腐、豆腐皮及春筍，和香油或生薑少許，與食，切忌醬醋。</p>

<h2>見點逆症</h2>
<p>凡痘初熱一日即出者凶，二日出者次之，一齊湧出者不治，此由惡毒猛烈，不循經絡，斬關破壁而出也，急宜解毒涼血，熱退毒清，或猶可救，否則焦黑而死。天庭、方廣、印堂、承漿，先見點者，此痘出心腎，固由毒參陽位，火臨水府，再加天庭地角稠密慘暗，則心腎交敗，水火受傷，必唇紅目赤，色白痰鳴而死，痘已出後，熱一遍復出一遍者凶，痘密如蠶種者凶。初出全不起頂，如燈燒湯泡，此氣血不和，毒無由化也，九日後癢塌而死。初出不似痘形，遍身之痘如蚊咬，或滿面血點，如噴丹砂，此毒壅於肌肉，不能透出成瘡也，十日內必死。初出連肉通紅，不分顆粒，形若紅氈者，不治，或以化毒湯加紅花、芩、連、紫草、辰砂、蘇木治之，界地能分，十可救一。初出未見痘形，只有紅斑如錦如霞者，急用元參升麻湯（三一），或犀角地黃湯（百五二）退之，若不能退，六七日間必死。痘稠密，其根窠絕無紅暈，或紅而散漫，此氣不能領血，血不能載毒也，急用八珍湯，若紅活起頂，或猶可救，否則必死。痘初出即白，與肉色無異，久不轉紅潤者死。初出即含水珠，皮薄易破者死。痘初出，皮薄，色光明若琉璃，根窠全無血色，一二日間，即大如點，必成一包清水，八九時擦破而死，大補氣血或可救。天庭、方廣先見賊標，光亮好看，條然而沒者死，痘初出煩躁不寧，腰腹痛，口鼻氣粗，點見紫黑者死。初熱腰痛，痘出痛愈甚，兼之標如蠶種，煩悶不寧，五六日間必口唇青黑，舌上生疔而死，痘既出，狂言如見鬼神，好飲冷水，點從腰上先出者死。痘出或青，或黑如痣，或肌肉青黑成片者死。痘出稠密，口唇崩裂，胃爛發斑者不治，此毒攻脾胃，大宜解利，若下膿血，十可救一。痘出舌卷囊縮者死。痘初出即紫黑焦枯者死。初出即頂陷，中有黑點如針眼者，毒入臟腑也，不治。痘初出即有紫黑之點，如綠豆大，見於兩腋及腹上，此肝肺脾皆中毒也，不過三日，遍身之痘俱紫黑而死。痘既出後，發無名腫毒，十有九死，此毒氣不能泄之於瘡，故發此腫，較之餘毒發疽為更烈也。渾身發紫泡，刺出黑血者死。痘出斜視若有，正視則無，面如橘皮者死。痘出形如蠶殼，又如蛇皮者死，以芎歸勻氣湯（百五三）治之，若轉紅活，十可救一。先出數粒于山根，其色深紅而紫者凶，此氣弱不能主血，血與熱毒乘虛犯上也，急用涼血化毒湯（百四五）。痘初出，口中腥臭之氣，勃勃沖人，此肺中毒火熬煎，肺將爛也，急用清金湯（百五五），緩則必變失聲喘急而死。痘初出時即含水泡，或將起脹即帶膿漿，或膿水未成，忽然收靨，此皆毒入太甚，失其自然之序也。不應至而至，謂之太過，應至而不至，謂之不及。太過者，毒之烈，其法在清毒；不及者，氣不充，其法在扶元。</p>
<p>補：初出三五成群，俗謂梅花痘，其後必連串一片，不能成漿。凡見此症，惟四肢有者無妨，若遍身頭面多有，必不可治。</p>

<h2>起脹順症</h2>
<p>痘出齊後，熱退身涼，飲食得進，精神清爽，上無咳嗽吐逆之弊，下無泄瀉秘結之虞。痘出稀疏，顆粒分明，頂尖圓放光，日漸起脹，腳聚紅暈，帶漿而升，先出者先起脹，出齊至足，面部水汁俱行，天庭地角，左右頰腮俱有潤澤，水至八分，其腳便有漿膿，或水至即帶行漿，更為氣強血盛，易漿易靨，最吉。其次漸漸升灌，亦吉，不必用藥，只要飲食調和，起居謹慎，自獲平安。切莫冒犯穢氣，致外邪沖觸內毒。勿與肥滑，恐生泄瀉；莫食生冷，恐致腹痛。</p>

<h2>起脹險症</h2>
<p>痘之起脹，雖在六日之後，其調治之法，當施於七日以前。蓋痘之所以難起者，毒盛痘稠也。凡解毒之藥，多是清涼，惟七日以前可用，若八九日上，候當用補。毒若未清，則畏首畏尾，難施治矣。故六七日間，毒之甚者，急宜解之。痘色紅紫焦枯者，毒盛血燥，不能化也，宜清毒活血湯（十四）。痘色淡白，泡不尖圓，根無紅潤，不起脹者，氣弱血寒，不能送毒於外也，宜參歸鹿茸湯（十五）或千金內托散（十六）。手足冷，加木香、丁香、肉桂；寒戰咬牙，加肉桂、附子；泄瀉，加白芍、豆蔻、訶子、木香、丁香、肉桂（凡痘不起，總由毒重而氣血虛）。看痘須看面部，蓋面為五臟精華所著，面上之痘好，則臟氣充實，毒不內留，雖遍身稠密不起，亦可以治。若面部不起，而手足之痘先脹，此陽氣不能上升而流串四肢，最為凶兆，急用千金內托散，多用川芎，加升麻以提氣上升，面部又以天庭為緊要，天庭不起，雖兩顴及地角俱起，亦無生機。蓋天庭乃至高之所，諸陽之首，此處不起，元陽衰敗，安能運化？急用昇天散（百五八）。痘遍身俱起，而手足不起，乃脾氣弱不能灌溉四肢也，宜補脾快斑湯（百六四）。痘方起脹，即帶黃漿，此毒火熾甚，俗號搶漿痘，不拘何處，急剔去其膿，以拔毒散（百三）敷之，不然，能滯漿路，令諸痘不能成漿。又或間有紫泡、黑泡、血泡，俱毒盛血滯，為惡類之標。若不連退，能引諸痘皆成此泡，亦宜刺去惡血，以拔毒散敷之（按：血泡有血熱氣虛之辨，詳見異痘）。痘已半起，忽然平塌，此元氣虛，或為風寒所觸，或為穢氣所沖，或誤服寒涼所致，必詳審其由。為風寒所觸者，其症必惡風，皮毛粟起，用生薑、附子、桂枝，令出微汗，痘自復起；為穢氣所沖者，其痘必癢，宜平和湯（十二），外以沉、檀、棗核燒煙燻之；穢氣衝觸，譫妄癢塌，抓破出血，聲啞氣急，用石膏、寒水石、麝香、盆金、甘草，共煮，去甘草渣，再煮乾為末，蜜調敷胸前；誤服塞涼者，痘色必白，用內托散（十六），加丁香、附子補中氣。痘初出紅活，至起脹時，忽然變紫黑，此必從前失於解毒，致毒留滯於中，將作內攻，最為危險，速用人牙散（百五九）。痘雖鮮紅，究乾燥而不肥潤，此毒火盛，血不足也，宜滋陰退火，用四物快斑湯（百六十）。痘雖光肥而帶濕，脾中有風濕也，不治，則成潰爛，宜四君子快斑湯（百六一）。痘雖紅活充滿而皮薄嬌紅，擦之即破，此氣不足也，宜保命丹（百六二），加無價散（五三）。內傷飲食，腹中飽脹而痛，痘不起脹，此中氣為食積所滯，不能宣暢，宜寬中快斑湯（百六三）。誤食生冷，致脾虛不能起脹，宜理中快斑湯（百六六），泄瀉加肉蔻、訶子。遇天時暄熱，又加包裹，以致火毒郁遏而不起者，宜白虎快斑湯（百六五）。小便赤澀昏迷，宜定心散（九十）。痘有四圍高起而中心陷者，其症有輕有重，痘稀者輕，痘密者重，此皆中氣不足，宜內托散（十六）。若中心陷而黑者，此毒留於裡，中氣鬱而不升也，宜理中氣兼化毒，不急治，必成鐵殼空倉而死，須用人參、黃耆、當歸、白芍、川芎、牛子、連翹、人中黃、山甲、防風，加無價散（五三）及雄黃。若黑硬幹枯而中陷者，是痘疔也，前方與服，余見痘疔。又有中心微起而含水意，其四畔卻乾枯，此毒火熏蒸，津液將枯之兆，必身熱煩躁，不急治，盡焦枯而死，仍用前方加前胡、麥冬。凡痘出昏迷，不省人事，用辰砂一錢，冰片一分，人參三分，加豬尾血，溫酒調勻與服，神效。</p>
<p>張：治一兒，痘出齊而熱不退，昏沉不省人事，諸藥不效，用大成散（百四三）一服，發出臭汗，遂熱退人蘇，痘亦明朗。又一兒，痘出稠密慘暗，悶亂不寧，紫將變黑，清毒活血諸方不效，至八日，症甚危急，用紫草茸、人中黃各六分，人參三分，連進五服，痘盡起脹，因名其方，曰紫黃飲。凡痘焦紫不起，用水楊柳煎水，布蘸頻頻拭之，秋冬葉落用根。</p>
<p>補：痘起脹時，有一處焦枯不起，如柿餅大，其根下皮肉，以銀針按而搖之，亦不甚活動，此毒氣留滯也，宜胭脂塗法（二百廿七）。起脹時，痘漸漸變黑，延蔓一身，此天行疫癘之氣，宜加味保元湯（二百廿八），連用十劑。</p>

<h3>五陷</h3>
<p>聶：痘出齊後，當治不治，則漿不行，而五陷之症作矣。五陷者，白陷、灰陷、紫陷、黑陷、血陷也（紫黑宜清，灰白宜補．血陷宜轉補氣）。痘稠密紅紫，身熱氣粗，根腳紫暈而頂陷者，紫陷也，失於清補則轉為黑陷（不治），此毒熱熾盛，蔽其氣，凝其血也，宜清毒活血湯（十四），倍參、耆、苓、連、紫草，一二劑，紫色退而痘立起，黑陷亦用此方，然多不可救（朱云：有誤用溫補變成黑陷者，治同）。痘雖稠密，其色淡白，根無紅暈，而頂陷者，白陷也，失於溫補則轉為灰陷，此血氣虛寒，宜參歸鹿茸湯（十五）或千金內托散（十六），隨症加減，痘粒通紅成血泡，而不成漿者，此氣虛不能統血也，宜參耆湯（十七），大補其氣，疱即轉白成漿，失此不治，則氣愈虛，而為血陷，治亦不外此方。血陷與紫陷相類，但血陷雖紅，然淡而不紫，根腳亦淡紅，紫陷屬實，氣粗身熱，血陷屬虛，氣弱身涼。</p>
<p>張：紫陷之症，必毒盛血熱，初見時，其色深紅而無潤澤，其人煩躁口渴，二便不利，大熱不退，此時失於清利，則毒熾血燥，遂變紫色而陷伏，須清毒涼血，用絲瓜化毒湯（百六八）；服此不起，用小靈丹（百六九）；再不效，必死。或用無價散（五十三）加冰片，以紫草煎水調服，弱者加人參，或用紫黃飲（百六七），或用桃花二錢，梅花一兩，絲瓜五錢，硃砂二錢，人中黃二錢，為末，紫草、人參煎水調眼。又用水楊柳煎水外浴。</p>

<h2>起脹逆症</h2>
<p>頭面不起，雖遍身皆起，亦死，諸陽不升也。痘不腫起而肉先浮腫者，不治，毒蘊於肌肉，而不達於瘡也。一片紅氈，須詳察之，痘形磊落而未起者，此是血熱，宜涼血化毒，痘自起矣。若瘡跡模糊，摸不礙手，則毒氣散漫，不能成瘡，安有生理？又有腳地不紅，而不起者，亦要看皮下之痘，若顆粒分明，摸之礙手，磊磊於中，此是氣血兩虛，用千金散，托之自起。若色黑暗，形跡模糊，摸不礙手，則毒滯於內，不得成瘡，定不可治。痘未起脹，而頭目先腫者，名大頭瘟，宜散陽分之邪，急用救苦散（百七一），服此不應者死（聶云：此乃氣血虛弱，不能拘攝其毒而發腫，皮色未至光豔，如瓜瓠之狀者，急宜大補氣血）。痘密而目不閉者凶，毒未盡發，不甚腫脹，故不閉也，急用千金內托散（十六）托之，不起者死。又有先目閉，至九日十日，忽然腫退目開，此毒氣內攻也，急用內托散托出毒氣，目復閉者，可治，不閉難治。凡痘稠目閉，必十二日，毒退目開，乃正期也，早開者凶，紫黑不起，乾燥不潤，慘暗不明者死。黑而陷者，死在八九日內，遍身黑陷，悶亂不寧，神昏氣惰者死。痘間有紫黑泡，刺出黑血，繼而處處有此泡者，毒熾血死也，不治。灰白不起，漸成塌陷，膨脹不食，氣促神昏者即死。灰白頂陷，內外俱有紋路，而根窠血散不聚，此氣不充，血不附也，更加泄瀉不食，則脾胃中虛，死無疑矣。灰白頂陷，腰腹大痛，腎氣敗，毒內攻也，不治。痘當起脹時，啼哭不已，日夜呻吟，煩渴悶亂，譫妄如見鬼神者凶，此毒鬱而不能達也。張曾治此症，用豬尾血、冰片五釐，穿山甲三分，硃砂三分，共為末，人參三分煎湯，共尾血調服。痘乃起脹，後補其中，仍加牛子、慈菇，兼與解毒而愈。痘起脹時，吐利不止，乳食不化，二便下血，此脾胃敗也。起脹時，痘如煙霧罩定者死。手足之痘，見而復隱，起而復塌，或上身帶水，下身枯者凶。然八九日間，氣未下行，不可定論為凶，必面上灌膿，下乃有水也，惟終於枯者，乃凶耳。起脹時漿水未行，口唇即有黃漿，俗名鵝口，最是惡候，急宜解脾胃之毒，用調元化毒湯（十）加石膏為君，又用石膏、牛子、甘草煎水，時時搽口唇，並與噙之，或可救也，不然必唇崩齒落而死（按：此症用瀉黃散亦可，方見二百二十六）。起脹時，痘頂即含白漿者，名為痰利，主十一日死。起脹時，面如錫蕩者死。痘焦紫如漆點者死。形如疥癩者死。紅腫如爪者死。痘頂上有黑眼如豬鬃者，毒入臟腑也，急用內托散（十六），托而不起，則難救矣。</p>

<h2>灌漿三日治法</h2>
<p>痘至七日宜灌，入日宜滿，九日十日乃漿期也。初出是血，其後血化為水，水化為膿，至於成膿，其毒乃化。治痘之法，須預為調理，莫待變症，始倉惶失措。故發熱之初，當為出痘之計；見點之時，當為起脹之計；出齊起水，即要立行漿之計。蓋漿之不行，由於毒之內滯，解毒之劑可施，於七日以前至九日後，斷不敢用清涼，明知毒入內攻，亦難於救藥也。</p>

<h2>灌漿順症</h2>
<p>九日十日，為灌漿之期，其痘圓滿光澤，有膿窠者，其毒漸化而漿行也。色如綠水，漸變瘡蠍，按之其皮堅硬，身體溫和，二便如常，飲食能進，並雜症者，順也，不必服藥，但節飲食，謹風寒，避穢氣，慎起居而已。痘至九日，面上即帶漿腳，其漿漸升，其暈漸小，其初如葡萄色，其後如黃蠟色，則漿熟矣。頂射黃漿乃漿滿氣充，此順症也。痘至起脹，腹中作飽，不思飲食，是毒猶滯於內。若知飢餓，慕飲食，是毒不內留，臟腑清快，吉兆也。</p>

<h2>灌漿險症</h2>
<p>痘起脹雖光潤，然手摸之軟而皮皺，此陽氣不充，漿不實，後必不能收靨。又灰白欲成塌陷或頂平腳潤，將成塌陷者，俱用人參、黃耆、白朮、鹿茸各一錢，川芎五分，當歸八分，肉桂八分，淫羊藿一錢，山甲、木香各三分，加黃豆引。痘水起脹，而漿不灌者，宜七真湯（百七二）。痘皮薄漿清，宜補氣健脾為主，用實漿散（百三七）。頂陷無膿，或服內托之藥反不起者，必氣足而血凝也，宜當歸活血湯（百七四）。遍身俱起脹灌漿，忽然變色者，不可不察，變白屬虛，宜千金內托散（十六）；變紅變紫屬熱，宜當歸活血湯加人中黃、人參。起脹俱好，至八九日，大便忽閉，欲便而不能便，裡急後重，宜破氣滑利，用歸尾、枳殼各三錢，紫草、生地各一錢，與服即通。此餘熱下注大腸，若不急治，忽發熱而死，即不然，後必成痢。痘破成坑者，亦內陷也，急服內托散，托出毒氣，外敷白龍散，即干牛糞燒為末也。痘灌膿時，外雖起脹，其痘軟，其色乾枯，內無漿汁，此名空倉痘，最為危候，宜詳看其虛實寒熱，用藥攻漿。如實熱又兼毒火內盛者，急以清毒活血湯（十四）攻之；若虛寒者，急以千金內托散（十六），或參歸鹿茸湯攻之。凡見此症，當以手次第按其痘頂，其中空與不空，一目瞭然。倘疑而未決，再以銀針挑一二顆，空則俱空可知（治空倉痘補血為君，補氣為臣）。氣血流暢，毒化為膿，膿之不成，其病有二：毒氣熾盛則血燥而凝，故不能運化以成膿；元氣虛弱，則血寒而縮，亦不能運化以成膿。痘當長漿之際，平塌無膿，復發身熱，於平塌之空處，復出細小痘粒，比先出之平塌者覺多，名曰子母痘，先出者為母，後出者為子，子來救母，吉兆也。子之行漿，不須三日充滿，隨出隨灌，隨灌隨足，子漿充滿，毒已化其大半，母亦漸次成膿矣，痘雖起脹，而不成膿，其內一包清水，乃水泡也，此是脾虛肝盛，土不能制水，宜平肝健脾為主，用人參、黃耆、白朮、淮山、白芍、茯苓、米仁、丁香、半夏、白芷、鹿茸、當歸、肉桂，外以銀針刺去其水，雖百餘顆，亦盡刺之，用除泡散（百七五）敷之。其刺破者，仍復灌漿，要時時詳看，有清水者又刺去之，若不刺去，則遍峰之痘盡成水泡，不可救矣。</p>
<p>聶：水泡宜用參歸鹿茸湯（十五），頭面身軀有漿，惟膝下水泡，無妨。遍身如魚泡者，形若水晶者，皆不治。</p>
<p>補：灌漿時，有發白泡如彈子大者，宜保元湯（百七十）。痘變紫黑泡，乃毒盛血熱，血不能化毒也，急刺去其水，以拔疔散（三五）敷之，有刺去而旋生者又刺之，要頻頻詳看，不然，俱變此泡矣，紫者或可救，黑者必死，內服扶元活血湯（百七六）。膿漿滿時，或為寒氣所薄，一時痘俱紫黑如葡萄色，不必驚恐，急以好肉桂磨服或煎服，立見如舊。</p>
<p>倒陷凶　痘既圓潤起脹而復陷者，名倒陷，倒陷之症，表裡皆虛。有因泄瀉而倒陷者，用人參、黃耆、白朮、茯苓、訶子、豆蔻、肉桂、附子、木香、丁香；有因清解太過而倒陷者，氣血兩虛也，用人參、黃耆、當歸、鹿茸、川芎、白芍、肉桂、淫羊藿、炙草；有因風寒所觸而倒陷者，以散寒扶氣為主，用人參、羌活、川芎、桔梗、升麻、生耆、炙草、生薑引；有因穢氣衝犯而倒陷者，宜補氣解穢為主，用人參、炙耆、當歸、川芎、白芷、肉桂、乳香、丁香、藿香、木香，仍用棗核、檀香，燒煙燻之，治倒靨之法亦如是。</p>
<p>倒靨凶　痘至六七日間，腳漸開，頂愈陷，其色純白，形如豆殼者，名倒靨；又有其痘和皮脫去者，亦倒靨也。又有先起頂，有清水，一旦水收痘靨，全無痘瘡者，亦倒靨也，世人誤認為收靨，不知好痘收靨必有瘡痂，且緩緩而收，若速收無痂皆倒靨也。痘至倒靨，則毒入內，實難療矣，必不得已而治之，用人參、黃耆、當歸、川芎、肉桂、山楂、紅花、白朮、薑棗引（此條原本在收結險症門，今移置此）。</p>
<p>【附方】　倒靨黑色，用狗蠅七個，冬月耳中鑷取，夏月身上取，焙為末，酒調服或生擂碎，酒調服，一時痘即紅活。</p>
<p>催漿　攻將起陷之法，莫詳於五陷之條，但有方書未載，而食物亦可攻漿者，茲備言之。雞冠血，久年老雞及雞爪，人乳，羊肉，野豬皮及蹄爪，黃豆作藥引，糯米作藥引。</p>
<p>朱：聶氏清毒活血湯、千金內托散二方內，並無皂刺、山甲，予治壞症，漿不得成，用此以攻爛之，令其膿水淋漓，亦可起死回生，此不得已而灌用之也。凡用二味，皂刺宜用尖，山甲宜用前足甲片。</p>
<p>【附方】　五穀蟲為末，加雄黃、硃砂酒調服，千歲蟲焙乾為末酒調服，黃豆漿、雞冠血和服（雞不可殺），白鴿煮食，牛蝨焙為末酒服。</p>

<h2>灌漿逆症</h2>
<p>痘紫黑慘暗，乾枯塌陷者死。諸痘有漿，獨天庭不起，乾枯而塌者死。天庭之痘，如沸水澆皮，延及兩頰，漸干而枯，似靨非靨者死。頭面腫甚，痘皆抓破，臭不可聞者死。面腫早退，痘陷無膿，目無神光者死。漿不充實，不肯結痂，泄瀉寒戰者危，用桂附理中湯或可救。頭上稠密，身上稀疏，痘色淡白，不起灌者，氣血兩虛也，宜千金內托散（十六）加升麻，四肢不起者，加白朮、桂枝。滿身無皮，流水不止，此爛痘也，宜內服實漿散（百七三），外用除泡散（百七五）、敗草散（二百二五）敷之，或多取茶葉，水煎過，鋪床上，用草紙隔一層，令兒睡其上，一夜膿水盡干。痘灰白皮薄，擦即破者死。二便閉結，腹脹聲啞，肌肉焦黑，目閉無魂者死。痘爛無膿，吐瀉不止，二便下血，乳食不化者死。灌濃之際，面部諸處即有乾枯黑靨者死。抓破之痘，復與內托，亦不補漿，目開腫退，此毒入內攻也，不治。痘頂有孔，漏出膿水，堆結乾枯灰白，如天泡瘡及賴頭之形，此名漏瘡，不治，用人參、炙耆、當歸、官桂、川芎、白朮、白芷、炙草、丁香、淮山、龍眼、蓮肉，煎服，或可救。起灌時，舌上有黑點，此疔生舌上也，不治。漿不滿而燥癢，擦破血出，隨即焦乾，如鍋焦樣，不治。長漿不濃，渾身是淡白水漿，形如燈籠，及回水之際，燥癢異常，擦破即干，如蛇蛻者，不治。</p>
<p>補：膿漿未滿，而痘平塌，根腳若有黃漿，名曰萎黃不治。灌漿時，各處飽滿，惟手足不飽滿，或灰白色，或清淡水，或虛餒平塌，此脾胃弱也，用黃耆、桂枝、防風、炙草、白芍、生薑、棗肉，名快斑越婢湯。</p>

<h2>收結三日治法</h2>
<p>痘至十一二日，其漿宜飽宜濃，至十二三日，漿行至足，面上漸宜收靨，腳漸不紅，此時用藥宜以健脾利水為主。蓋脾胃強，則肌燥而膿易結；小便利，則濕去而汁易干。又當扶陽固本，陽氣盛，則毒在外收而痂厚；貞元固，則毒不倒靨以為殃。準頭先靨，脾胃氣充；兩頰先收，肺肝氣足，日後總無變症。諸部未靨，而地角先焦，此腎水早枯；滿面方漿，而天庭先靨，此元陽已憊，須防日後有變。</p>

<h2>結痂順症</h2>
<p>痘至十三四日，其膿漸干，其色蒼蠟，或如葡萄，從口鼻兩旁、人中、準頭，左右二顴收靨起，乃至地角、頸項、胸腹、腰背，逐漸收下，然後上及額顱，下至於足，痂厚而圓，或黃或赤，雜症全無者吉。痘自人中、元壽先收者吉。蓋人中為陰陽交會之所，從此先收，必陰陽和暢。元壽乃脾胃中土之區，從此先收，則脾胃氣旺。髮際以上，陽中之陽，謂之孤陽，足膝以下，陰中之陰，謂之孤陰。孤陰則氣難充，孤陽則血難用，痘至二處，所以收靨必緩，必收至足下而後頭顱乃靨，不必施治。</p>

<h2>收結險症</h2>
<p>痘當收靨之時，身體宜溫，乃能回水干漿，若身涼足冷，當收不收，此陽虛也，宜溫表調中湯（二十六），又有發熱熏蒸，當靨不靨者，毒未解也，須退其熱，宜清表解毒湯（二十七），或甘露迴天飲（八十二）。痘當收時，忽增大熱，毒未化也，須防後陷，宜調元解毒湯（一百十）。裡熱太甚，一向不能大便，而不能靨者，當微利之，用當歸解毒湯（百八七）。當收不收，身發大熱，譫語喘急，二便秘結，煩悶作渴，此熱毒入心肺也，宜清金導赤飲（百八三），膿漿足而當靨不靨，宜回漿散（百七八）或象牙散（百七九）。又有其漿雖充，而濕潤難收者，亦用回漿散加苡仁、豬苓、澤泄、半夏。痘靨至頸，或至腰，而下身不靨，此熱毒盛也，宜五苓散加牛子、滑石、木通。若大便閉結，用當歸解毒湯（百八一）（服藥無效者死）。遍身俱收，惟頭足不收者，宜茯苓、白朮、當歸、川芎、升麻、牛膝、牛子、白芍。面上俱未收，而耳上之痘先收，此毒侵腎經也，不急治，則諸痘難收，恐成倒靨。耳冷者，用枸杞、故紙、知母、當歸、川芎、白芍、山楂、陳皮、白朮、甘草；耳熱者，用黃芩、黃連、川芎、白芍、厚朴、木通、甘草。當靨之時，忽然灰白頂陷，吐瀉腹脹，寒戰咬牙，此脾肺兩虛，毒將內攻，宜內助散（百八二）。痘頂漿未滿足，而血腫忽退，目閉忽開，瘡腳散闊，皮破乾燥，似靨非靨，此氣血兩虛，津液枯竭，毒氣不能外散，而反內攻，最為危候，急用黃耆、人參、白朮、茯苓、官桂、牛子、麥冬、連翹、白芷、白芍。有因嚴寒所遏，不能靨者，宜桂枝解毒湯（百八五，此方無參則不敢用）。有因暑氣熏蒸，不能靨者，宜甘露解毒湯（百八六）。痘結時，宜有腥臭之氣，取其氣外泄。若痘多而無臭氣，其毒猶未盡泄也。然其氣如腐肉，令人不可近，則毒化未清，又急宜清毒活血，不然，恐變出非常。痘靨後忽瀉膿血痂皮者，古謂之倒靨，毒既下泄不留內攻，俟其下儘自愈，不必妄治。若泄而水穀不分，宜陳氏木香散（百八四）合豆蔻丸。多服熱藥，以致熱毒猖狂，痘爛不能收者，宜回漿散加前胡、牛子、連翹、麥冬、車前、木通，外用輕粉、黃連為末，調油搽之，或以芒硝為末，調豬膽汁敷之。又有表過痘爛，水流不止者，用人參、黃耆、白朮、白芷、防風、茯苓，又用除濕散（百八十），外用敗草散敷之。痘破成坑，不能合口，用生肌散（百八八）或綿繭散（三十七）摻之。膿後不能結痂，反成腐爛，連皮脫去，此由中氣不足，急用保元湯（百七十）加當歸、白朮、茯苓、牛子、連翹、官桂、木香治之。必其破處復加腫灌，黃汁堆結成痂，謂之補漿，原無痘處，復出一層，謂之補空，如此方可望其生，否則必死。痘損破灌膿作痛，膿水不幹，名疳蝕瘡，犯著即流血不止，不急治，必潰傷筋骨而死，宜大補湯（百八九），外用綿繭散（三十七），靨時有外潰膿水淋漓者，謂之水靨，宜用新瓦為末，篩令極細，絹袋包撲患處，俟干痂堆積不落，內又熏膿，即以瓦灰鴨蛋調敷，立收而愈。或用房上多年敗草為末⿰扌艷之，或蕎麥粉或松花粉更好，或多年黃牛屎燒灰，亦可。頭而損破，反復腫灌，膿血浸淫，須防壞眼、崩鼻、敗面、缺唇，用升麻解毒湯（百九十）。痘瘡原多潰爛，收結後，手足等處仍作熱臭爛，膿水不止，宜生肌散。其有仍作熱作膿者，毒未淨也，宜大連翹飲（二十九）。又有餘毒流注各處出清水者，宜綿繭散。痘出稠密，用藥極力攻漿，漿足而潰爛流膿，作臭氣，此為吉，蓋膿成而毒解矣，宜松花粉敷之，不必妄加調治。若身熱不結痂，宜清表解毒湯（二十七），倘身不熱，口不渴，唇淡食少，手足冷，不能依時結痂，須大補氣血，用溫表調中湯（二六）。</p>
<p>朱：痘出稠密，時值炎熱，潰爛臭穢，蠅蚋逐臭生蛆，甚至有拖尾之蛆，藏於爛痘之內，見之生怕，然亦不必驚惶。毒火內盛者，宜清表解毒湯，元氣內陷者，宜溫表調中湯，催其回水結痂，外用蛆藥，取嫩柳葉鋪席上，令兒睡，蛆盡出而愈，或用豬肉片引出，以藜蘆、貫仲、白蘞為末，真香油調敷。此二方前方出張氏，後方出《綱目》，朱氏有藥無名，特為補出。又方用經霜桑葉及野薄荷煎湯洗之，蛆自去。痘已成膿而痘頂之上有小孔，痘漿從此漏出，名曰漏漿，此元氣虛弱，肺氣不固也，急用松花粉⿰扌艷之，堵其小孔，使結厚痂，再看虛實寒熱，用藥助其回水結痂。收結時，身熱唇紫，兩頰通紅，此毒乘於肺，將發肺癰也，宜清金解毒湯（百九一）。</p>

<h3>痂不落</h3>
<p>痂黑唇紅，舌有苔，身有熱，痂不落者，餘毒為殃也，宜調元化毒湯，外用細茶、豬膏共擂，絹包印痂上，茶以解其熱，膏以潤其燥。若痂薄唇白，舌無苔，此元氣虛，血不潤，故不落也，宜人參、黃耆、當歸、炙草、蟬蛻與服，外用雞膏與茶潤之，自落。痘痂不落，虛弱之甚，昏沉不省人事，宜人參清補湯（百七七）。痂干陷入肌肉不落，用乳香二錢、輕粉二錢共為末，豬膏調敷，或用鷹糞燒灰，馬齒莧汁和蜜調敷，或百花膏（二百廿九）潤之亦好。過服辛熱，痂不落者，用升麻、葛根、防風、連翹、蟬蛻，解其肌熱，其痂自落。</p>
<p>補：痂不落，胸背手足無妨，惟面上不落可慮，毒聚於陽會也，宜大連翹飲（二十九）加白芷，外以百花膏潤之。痂至半月或一月，黏肉不脫，或發癢，此因發表太過，無力收斂也，宜人參固肌湯，用人參、黃耆、炙草、當歸，蟬蛻、糯米引。痂雖幹好，但半邊掀起半邊黏著不脫，宜升麻葛根湯（升葛芍草），加防風、荊芥、蟬蛻、連翹。</p>
<p>【附方】　黑豆半盞，煎濃汁，加豬脂熬膏搽之，雞子黃熬油搽之。</p>

<h2>結痂逆症</h2>
<p>遍身未見黃漿，而口唇上下先黃，熱而忽焦者凶，見此速宜剔破。未靨將靨時，口唇腐爛，白至舌者死，毒攻胃也，口中常如食物者，不治。頭顱、地角及手足心先收，此邪火入心腎也，必凶。面部胸腹，俱未收而腳先收者不治。遍身臭爛如餅樣者死，急用內助散（八百二）或可救。遍身發癢，抓破不見膿水，皮卷如豆殼者死。痘漿靨，寒戰咬牙，手足搖動，噤口不開者危，急用人參、黃耆、白朮、茯苓、附子、炮薑、丁香、肉桂。收靨時痰壅喘急，聲啞目閉者死。目閉腹脹，足冷過膝者死（痘後同）。目無神光，瞳子不明，珠帶灰色者死。</p>

<h2>痘後</h2>
<p>收結痂厚，遲之三日自落者吉。痂色光潤，其瘢帶紅，更無他症，飲食如常者吉。自食痘痂，雖有他症，任凶不凶。痂落後，雖不發熱，而怠倦嗜臥，不思飲食，或手足冷，或津液少而渴，或瘢白不紅，皆內虛也，宜補中益氣湯（三十），不然惡變，生他症。</p>
<p>補：瘢紫痂落後，瘢紅紫者，毒盛血熱也，用當歸、赤芍、白芷、升麻、桔梗、連翹、紅花、紫草、燈芯。</p>

<h2>痘後逆症</h2>
<p>痂落而瘢雪白，此因漿清痂薄，氣血大虧也，急用十全大補湯或四物湯加白朮、陳皮、紅花（按：瘢白甚，以手拭過，不見紅色，此血不足也，雖過月餘，亦必死，急用十全大補湯，去茯苓，加紅花，重用白朮；以手拭過，稍紅者，此氣不足也，宜保元湯，多服至瘢紅方止，若怠緩不治，必肌瘦，食減而死）。面色青白，神氣昏暗，目無神光，心腹疼痛不治。眼睛吊白，失智亡魂，不省人事，不治。寒戰咬牙，手搖足掉，噤口不開者，不治。牙齦腐黑，臭不可聞者，胃爛也，不治。抓破穿肌，遍身肉爛，不治。口鼻出蛔不止者，胃絕也，不治。遍身大熱，忽一日之內其痂盡落，即發驚搐，此毒入攻心也，不治。潮熱不退，肌膚消瘦如柴者，不治。</p>

<h1>雜症　卷三上</h1>

<h2>發熱</h2>
<p>初起之時，毒火方張，宜乎身熱。熱微則痘輕，大則毒重，必痘出。熱始漸除，出齊則熱宜退。若當退不退，速宜解毒。初熱宜表散，見標宜清解，總以清利為主。蓋便利則火從下泄，切不可用補滯之藥。</p>
<p>痘正出時，身不熱者吉，微熱者亦無妨，惟大熱者可憂，出齊而壯熱蒸蒸尤可憂，將來痘必稠密，暈必紅紫乾枯，宜調元化毒湯（十），去參、耆，俟痘暈不幹不紫，始用參、耆。痘稠密，身熱不退，宜鼠黏子湯（四十九）。</p>
<p>起脹時發熱，此時痘出皮膚，熱宜退矣，熱不退者，內毒未解，急宜解毒。內毒未解發熱，其症有二：有毒氣壅盛不出者，痘必紅紫乾焦，兼之煩悶，宜調元化毒湯，若仍不退，宜大成散（百四三），服此，痘光潤起水，即熱未盡退，亦當更用補劑。有元虛不能送毒而熱者，其痘必淡白，雖見點稀疏，亦是留毒，不可翫忽，宜千金內托散（十六）。灌漿時發熱，無妨，痘出齊則熱宜退。至灌漿時，身又宜熱，身不熱則膿不成，用藥宜補不宜涼。</p>
<p>結痂時潮熱，熱不甚者，乃元陽運化，熏灼膿漿，以成結痂之功，所謂燒盤之症也，不必服藥，倘誤用寒涼退熱，必變輕為重矣。若漿清痂薄，忽然大熱者，餘毒將興，欲發癰疽，宜大連翹飲（二十九）。弱者扶元解毒湯（一百十），熱退則餘毒解矣。</p>
<p>聶：痘漿充滿，初轉褐色，此回水之候也，忽然遍身大熱，當先看臍之四圍及腰間，如有小紅顆粒，此乃出解毒疹也，又名蓋痘疹，宜宣毒透疹湯（七三）托之，後用大連翹飲，一劑即愈。收結之時，忽發大熱，必是餘毒熏熾，斷以解毒為主。但大病之後，元氣虛耗，解毒中亦須顧其元氣，此大連翹飲之類，亦不宜過服也，慎之。</p>
<p>痘後發熱，症有數端：有氣血回元而熱者，悠悠潮熱，不煩不渴，不一二日，氣還血復，熱自退矣，不必服藥。有痘後元虧，或久坐久視、勞動傷神發熱者，但安息調養，不必服藥。有感冒風寒發熱者，必聲重鼻塞，惡寒惡風，宜補中益氣湯（三十），熱甚以升麻為君，加前胡，咳嗽加陳皮、桔梗、半夏、南星、炒芩，不過一二服，其熱自退。有餘毒將發癰疽而潮熱者，必其痘漿清，痂薄，熱而煩渴，舌有黃苔，遍身俱熱，有一二尤熱甚者，則癰之所在也，宜大連翹飲。弱者加參、耆，大便閉者加酒大黃，必熱退痛止，藥方可止，毒清熱退，即宜溫補，以救元神。</p>
<p>聶：發熱稍緩，頭熱面不熱，手足心熱，手足背不熱，精神困倦，大小便利或胸腹熱，飲食減少，宜補中益氣湯，渴加麥冬、五味。</p>
<p>張：有氣血兩虛而熱者，其熱稍緩，頭熱面不甚熱，手足心熱，手足背不熱，精神怠倦，大小便利，其熱多在午後，宜十全大補湯。有餘毒不作癰疽，特傳於肝肺而發熱者，晝夜不息，舌有黃苔，血燥皮紅，或十指搐縮，用生地、柴胡、白芍、炒芩、殭蠶、鉤藤、牛子、知母、丹皮、澤瀉、花粉、棗皮、甘草。</p>
<p>【附方】　三四日熱不退，用千步土百草霜、雞子白調敷臍上，燃七寸香久。水粉雞子白調，搽太陽太陰並五心，搽後用銅鏡二隻，將兩手掌覆鏡上，熱即退。此方麻痘前後可用。水粉雞子白作餅，貼手足心。雄雞生破開，入麻油、雄黃、硃砂末，乘熱敷臍上。</p>

<h2>寒熱並作</h2>
<p>火動則熱，火鬱則寒。初熱時，痘欲出而不能出，氣血與毒火相攻，故乍寒乍熱，宜宣毒發表，俟痘出自定，用蘇解散（八）或加減升麻湯（百十二）。痘已出，寒熱並作，宜調元化毒湯（十）。行漿時寒熱並作，內虛，毒不能出也，宜千金內托散（十六）。落痂之後，忽然畏寒，畏寒之後，復又發熱，似瘧而實非瘧，此乃氣血兩虛，急用補中益氣湯（三十）加酒炒白芍、法制半夏各五分，一服立愈。痘後寒熱並作，內虛也，寒多者理中湯。</p>

<h2>頭痛</h2>
<p>初熱時頭痛，輕，多因感冒風寒所致，用升麻、川芎、白芷、防風、藁本、薄荷。起發時頭痛，亦是感冒風寒，治同上。收靨時頭痛，身發熱，是餘毒將攻目也，宜解餘毒，用羌活、川芎、連翹、牛子、防風、荊芥、黃芩、黃連，或加梔仁、蒺藜、蒙花、柴胡。痘後大熱，頭目大痛，餘毒上攻，目疾將作也，宜連翹飲（二十九），去木通、車前、滑石，加升麻、桔梗、川芎、薄荷、白芷、蒙花、菊花。目紅，去當歸，加膽草、紅花、生地。必熱退痛止，藥方可止。</p>
<p>【附方】　生薑切開，入雄黃末，紙包浸濕煨，擦痛處。紫蘇煎服。</p>
<p>補：頭腫：痘後出外，忽然頭腫，兩目不開，此非痘毒，乃風寒也，宜羌活防風湯（二百廿一）。</p>

<h2>嘔吐噦</h2>
<p>有聲有物謂之嘔，有物無聲謂之吐，有聲無物謂之噦。發熱之初，毒攻胃管，故有是症。吐而酸刺有聲，吐訖反快，精神不倦，此毒逆上行，因吐而毒亦解，不必施治，俟痘出，吐自止（痘痛吐泄，總勿亂治）。吐無聲，雖有內熱，胃亦稍虛，然不可驟用暖胃之藥，恐閉其毒，惟虛寒之甚者，其見症必面青唇淡，精神困倦，不思飲食，或食下即吐，順快無聲，宜參砂和胃散（五）。噦乃毒火內郁，張口似吐非吐，最為危候，若咽痛不能納物，再加失聲，必不救矣。初見即宜解毒兼利小便，用梔連二陳湯（一百）。凡治乾嘔，須利小便，以引火下行，若利之不下，則必死矣。</p>
<p>補：乾嘔，土敗也，宜定中湯，用硃砂、明雄黃各一錢為末，真黃土一塊，百沸湯泡，蓋定少頃，取出調前藥末服，或用土水於房內熏之更妙，此方兼治吐泄煩躁。胃有痰熱作吐者，必心窩作痛，二便不利，用桔梗、陳皮、半夏、香附、藿香、木通、車前、茯苓、甘草。食積作吐者，必腹中膨脹，隱隱作痛，宜升消平胃散（四），兼四苓散（一百一）或二陳湯，加山楂、神麯、枳實（上焦吐者，由於氣，中焦吐者，由於積，下焦吐者，由於寒）。</p>
<p>補：飲水過多嘔吐，此水逆也，宜五苓散。嘔吐黃水，腹不痛者無妨，腹痛則凶。不痛由內無蓄熱，必數日未進穀氣，脾胃空虛，本色形於津液，稍與和胃扶脾，飲食得進，自無事矣。若腹痛，則毒留脾胃，必大熱熏灼，口臭，唇皮硬，舌有苔，法宜寬脾解毒，用陳皮、厚朴、山楂、牛子、慈菇、石膏、石斛、甘草、黃連、木通、白芷。吐清水，無妨，此胃寒肝盛，法宜暖胃平肝，用砂仁、藿香、陳皮、白朮、茯苓、白芍、炙草、煨姜煎服。吐濃痰，無妨，痰雖火結，吐則內寬，不必施治。吐臭痰，難治，胃中毒火甚也，急與清胃解毒，臭止或可救，或痰中帶血者亦然，用生地、牛子、慈菇、人中黃、天花粉。</p>
<p>見點時嘔吐，最傷脾胃，脾胃一虛，必難起脹，宜詳虛實調治之，泄瀉亦然。毒火上奔者，其吐酸苦有聲，吐訖反快，精神不倦，痘色必紅紫，宜梔連二陳湯（十九）。</p>
<p>朱云：痘粒尖圓紅潤，姑少待之，倘吐出有酸餿氣，見點之後、不甚爽快，兼之腹痛，此停食作痛而嘔吐也，宜升消平胃散（四）。胃氣虛損者，其吐有物無聲，不酸不苦，吐訖困倦，不思飲食，痘色淡白，宜參砂和胃散（五）。</p>
<p>起脹時乾嘔多凶，毒鬱於中，故也，急宜解毒。</p>
<p>灌漿時嘔吐，痘之成漿，全要脾胃堅固，吐則胃弱，泄則脾虛，方起脹灌漿之時，一經吐泄，痘即落陷，急宜健脾溫胃，用參砂和胃散。</p>
<p>痘後忽然嘔吐，不思飲食，形氣瘦削，此虛寒也，急用香砂六君子湯（七十六）加煨姜溫之，若用升消平胃散，必死。</p>
<p>【附方】　煨姜蒸水服，竹茹（姜煮汁）、姜三片、棗三枚同煎服，胡椒五六粒研末，燈心湯下，大棗五枚去核，內藏生薑，紙包水浸透，煨蒸水服。</p>

<h2>泄瀉</h2>
<p>初熱作泄，乃毒氣奔越，從泄而解，不必施治，俟痘出，其症自平，然虛實寒熱之殊，不可不辨，泄而小便清利，其糞或白或青，食物不化有酸餿氣，其泄滑溜。自下無聲，泄後疲倦，此虛泄也，宜術苓調脾散（六），或參朮散（二十一），服此不止，用七味豆蔻丸（二十二）。泄而小便赤澀，其糞或黃或赤或黑，其氣甚臭，泄時有聲，直泄而遠，此熱泄也，宜加味四苓散（十二）。氣弱者，加肉桂；腹痛，加木香；後重出腸，加升麻；素有食積，加厚朴、陳皮、山楂、神麯、木香、胡連；泄帶紅色，加百草霜；身熱煩渴，加柴胡、黃芩、麥冬。痘隱隱不出加升麻。有一等自首至尾，泄瀉不止，而無恙者，必結痂乃止，但此必精神如故，痘色紅活，起脹灌漿，無他變症。初熱時泄紅，乃熱鬱腸胃，用黃連、牛子、慈菇、人中黃，一服立平。初熱泄白，乃脾胃虛寒，用參朮散等方。初熱泄赤黑水，此臟腑已敗，不治。初熱泄下膿血如死肝豆汁，此胃爛也，不治。</p>
<p>見點時泄瀉嘔吐，最傷脾胃，脾胃一虛，必難起脹，宜詳虛實調治之。見點時泄瀉，毒氣奔越者，痘色必紅紫，宜加味四苓散。虛寒滑利者，痘色必淡白，宜參朮散或七味豆蔻丸。</p>
<p>聶：痘色灰白，虛寒泄瀉，手足冷，宜回生丹（五十一）或異功散（五十）。</p>
<p>起脹時泄瀉，其痘將陷，急宜健脾，用參朮散，或七味豆蔻丸。</p>
<p>結痂時泄瀉無妨，多是餘毒奔越，不宜驟止。但餘毒泄下者，泄必有聲，泄下或黃或赤而臭，或直射而遠，此熱注大腸，餘毒因泄而解，毒盡泄自止，若不止，用五苓散加牛子、木通、車前。惟泄下青白，滑溜無聲，乃脾虛也，宜參朮散或七味豆蔻丸。</p>
<p>【附方】　大糯米罐內煮飯，入胡椒末，作餅貼臍。五倍子末或灶心土，熱醋和餅貼臍。糯米入胡椒七粒，煮粥食。</p>

<h2>吐泄</h2>
<p>發熱之際，或初見痘之時，有毒氣作吐作泄者，其吐必酸刺有聲，神氣不甚困倦，其泄必黃色臭穢，雖吐泄交作而胸腹不痛，此毒氣因吐泄而減，所謂吐泄為順候，而不必治者，惟此一症耳。吐泄交作，胸痛甚，見腹痛。</p>
<p>補：邪在上焦則吐，在下焦則泄，在中焦則吐泄交作。發熱至見點未透時吐泄，宜柴苓湯即小柴胡合四苓散。不可以為裡寒，遂用丁、桂、薑、附等熱藥；不可以為裡虛，遂用參、耆、朮、蔻等補藥。起脹灌漿時，吐泄，宜參朮散（二）之類以補脾。起灌時吐泄最險，惟初出及收靨後吐泄可治。外受寒邪，內傷寒物，痘色灰自，吐泄交作，手足厥，寒戰咬牙，宜陳氏異功散（二百廿五）。</p>

<h2>吐瀉蛔蟲</h2>
<p>初熱毒火煽動，蟲不能安，故上逆胃口，或因吐甚，觸動其蟲，出二三條無妨。若滾滾而上，則火灼內傷，脾胃已壞，不能療矣。其後則臟腑寒涼，蟲亦不安，皆不可治。世有以川椒、黃連等藥安蛔者，孰知其本既壞，從定其標，亦何益哉？蛔從便出，少則無妨，多亦不救。痘出時瀉不止，蛔蟲從口鼻、大便滾滾而出者，不治。結痂時吐蛔泄蛔，俱不治。痘後吐蛔，或從鼻出，皆由裡熱，蛔不能安，蓋熱毒上蒸，則蛔從上出，熱毒下迫，則蛔從下出，其症皆凶，急用黃連止蛔湯（百三五）。</p>
<p><u>吐蛔方</u>　用雞子白調綠豆粉，敷臍上。</p>

<h2>大便閉</h2>
<p>初熱之時，熱注大腸，大便不通，但可於解毒湯中加枳殼以破其滯，黃連以滌其熱，切不可用大黃、芒硝斬關之藥，致傷脾胃。若秘結之甚，加酒大黃少許。發熱至報苗數日內，大便閉，用敗毒和中散（三），加酒蒸大黃一錢。</p>
<p>灌漿時，六七日不大便，悶塞作痛者，宜清毒活血湯（十四）去參、耆，加淮牛膝二錢，紫草、歸各重用，煎熟去渣，入生蜜半盞，服之。再不通，加酒大黃三錢，微利之。若仍不通，用豬膽導法或蜜導法，或用麻油灌入穀道，或豬膏煮熟連汁服，終不可用硝、黃。用未去油之豆蔻治閉結，既能滑腸，又不傷脾。</p>
<p>痘後有三五日或七八日不大便者，不論有身熱無身熱，看其元氣壯實，即以大連翹飲（二十九），去木通、滑石、車前，加枳殼、熟大黃下之。痘之首尾，俱要便調，痘後便閉恐留餘毒，如無他症，則必誤服辛熱，以致陰血受傷，不能滋潤，宜潤腸湯（百九），有熱加知母、石膏。</p>
<p>【附方】　蔥一把，蜜和抖餅貼臍。綿花裹小柱頭，蘸麻油、皂角末納穀道。</p>

<h2>小便閉</h2>
<p>初熱之時，熱蘊膀胱，故小便閉，宜六一散（九十二），或於清毒湯中，加車前、木通、滑石。</p>
<p>聶：小便不利，黃赤，宜導赤散（四十四）。不效，用八正散（五十二）。起脹時，小便澀，無妨，津液上升於痘故也。</p>

<h2>煩躁</h2>
<p>初熱毒火鼎沸，五臟不寧，宜生煩躁，甚則其毒必甚，宜解毒湯（百十三）。服此煩躁少解，即勿服，俟痘出自定。若仍煩躁不寧，則毒氣壅盛，必連服數劑，其毒乃開。</p>
<p>聶：發熱至報苗，數日內，煩躁譫語，口渴飲水，宜敗毒和中散（三）。</p>
<p>朱：痘出未透，二三日間，煩悶燥渴，小便赤澀，睡臥不寧，宜十神解毒湯（四十七）。</p>
<p>痘出稠密湧盛，紅紫凸綻而潤澤，口渴喜飲，善飢喜食，煩躁不安，大便久閉，小便赤澀，可專用清涼解毒，不必兼補養也，故既出以後，未收以前，可以專解毒者，惟此一症，以其血氣與毒氣俱盛故也，然亦百中之一二耳。</p>
<p>按：此症宜四順清涼飲（二百廿二）。</p>
<p>起脹時煩悶，險，毒郁不宣也，宜解毒。</p>
<p>灌漿時，大熱煩渴，用參麥湯（人參、麥冬）。</p>
<p>補：灌漿時煩躁，痘頂平塌，色淡白，漿不充，此氣血不足也，宜保元湯（百七十）加麥冬、棗仁、當歸、白芍。若自利不止而煩躁輕，則陳氏木香散（百三八），重則異功散（五十）。</p>
<p>靨後發熱，口渴煩躁，宜麥門冬湯（二百卅四）。痘後虛煩不眠，宜竹葉石膏湯（二百卅），應中病即止，不可多服。</p>
<p>凡晝日煩躁，夜則安靜者，此陽氣盛也，宜人參白虎湯加梔仁；晝日安靜，夜則煩躁者，陽氣陷入於陰也，宜四物湯加梔仁。</p>
<p>【外治方】　煩悶，大熱不退，用生艾葉一兩，黑豆一攝，白芥子三錢，醋煮，一滾為度，共擂爛作餅，敷心前，連換數次。</p>

<h2>口渴</h2>
<p>初起潮熱口渴，無妨。若渴甚則毒必甚，治宜解毒，不宜止渴，毒火清，渴自止。起脹時口渴，小便澀，無妨，津液上升於痘故也。灌漿時口渴，津液盡行於痘，故渴，渴亦要進辛熱，以為作膿之計，若痘好，不必施治。痘後大渴引飲，必有餘毒餘火，當用清涼，解胃中毒火。</p>

<h2>驚搐狂躁</h2>
<p>初熱時，小便不長，夢中或發驚悸，急與定心散（九十），燈心湯為引，否則驚搐之症至矣。驚搐之症，有目睛上吊，口不能言者；有身若反弓，手足僵直者；有目翻白，雙手驚拳者；有牙關緊閉者；有口吐白涎者；有舌頻出，名蛇舌風者；有大叫如鴉聲即死，名烏鴉風者；有嘴歪頭搖，名黃蠍風者；有十指驚搐，名鸚爪風者，此皆毒從心經過，故有是症，必痘出而驚乃定。隨搐隨醒者吉，醒而有汗者吉，若面色青藍，形神昏暗，醒後目閉無魂，不思飲食，潮熱大作，是惡候也。昔人謂未痘先搐為順症，豈其然乎？驚搐只可扶持，不可把捉，恐郁其氣，則立斃矣。</p>
<p>聶：身熱至二三日後，痘欲出不出，煩悶驚搐，狂言譫語，切不可驚惶失措，惟詳審虛實寒熱而治之。此等症皆由毒氣在內，不得宣發，然症有不同，不可不辨。毒氣壅盛於內，不能驟發於外，而驚搐狂躁者，痘影紅紫，面赤唇紫，聲音亮，口氣粗，身熱，手足熱，脈洪數，宜清解散（七）以宣之，大便躁結者，用敗毒和中散（三）下之。有內毒本盛，外為風寒所束，鬱滯不得出，而驚搐狂躁者，形色多同前症，但聲重鼻塞，或鼻流清涕，脈浮數，宜蘇解散（八）以發之，此症多在寒涼之月，或不謹避風寒者乃有之。有血氣虛弱，送毒不出，而驚搐狂躁者，痘影淡白在皮下，不見紅活，唇淡面白或帶青，脈遲緩，或譫語，宜溫中益氣湯（九）托之。分別既當，一劑之後，痘出而驚狂定矣。有發熱二三日，全無痘點形影，忽然驚搐，狀與急驚風一樣者，此亦痘氣壅盛，不能宣發所致，宜用清解散（七）宣之，痘出驚即定矣。若醫者不知是痘，誤作急驚，以寒涼投之，或以驅痰藥峻下之，其兒必死，蓋阻遏其毒，使不得出而內攻也。故未出痘之兒，若遇此等症，即當詳審，恐是出痘，不可作急驚治。</p>
<p>張：驚搐必用鎮驚丸（九十一），又要用六一散（九十二），必使小便清長，則熱退而驚自定。驚搐，用桃樹皮、蔥子、燈芯三味搗爛，敷囟門、肚臍及手足心，一炷香久，則驚自醒，痘自出。又於手足合骨二處，燈火一灸，以扯散風痰。</p>
<p>見點時痘未出齊，亦常驚搐譫語，皆由毒氣內壅，俟痘出齊，其症自定，仍用鎮驚丸及定心散治之，古謂先痘後驚為凶者，以出齊後言也。</p>
<p>痘後驚搐，乃毒化未盡，火毒攻心也，此時血氣已衰，正不勝邪，故曰；痘後發搐是凶機。搐而易退者，尚可治，若連綿不已則必死矣，宜清神散火湯（九十三）或粉紅丸（九十四）。</p>
<p>補：痘後胃弱，飲食不化，亦能發搐，其人必面黃潮熱，大便餿臭，秘泄不調，或吐利腹痛，大便秘者，宜四順清涼飲（二百卅二），泄者宜六君子湯。</p>
<p>驚搐燈火　有用藥而驚搐不止者，牙關咬緊，藥不能進，急用大燈心蘸蘇香油焠之，頃刻即醒。兩手曲池各一穴，兩手虎口各一穴，兩腳三里各一穴，兩腳鞋帶各一穴，兩腳虎口各一穴。男從左上焠下，女從右上焠下，俱先手後足，焠後抱兒睡一時，看痘苗出見，驚搐即止，百發百中。若煩躁頓悶，不省人事，則不可救矣。倘遇元氣虛弱，又兼大吐大瀉，瀉出白色，有酸餿氣，宜溫中益氣湯，倍加參、耆、朮、苓，痘出驚搐自止，切不可用燈火，蓋火能劫其有餘，不能治其不足。曲池在肘外曲橫紋盡處；三里在膝外側下三寸；鞋帶在腳背曲處；虎口在大指次指相近之椏處。</p>
<p>（按：驚搐，單焠男左女右手虎口，一灸亦效）。</p>

<h2>亂語</h2>
<p>初起時亂語，重毒氣迷心故也，宜解毒清心降火，兼之消痰，用解毒湯（百十三），加花粉、硃砂，兼用定心散（九十）。後生失陽，方其發痘，欲出不出，狂言亂語，此毒郁心經，既不敢清涼以解毒，又不敢驟補以助火，急用剖雞方，其痘自出，狂亂自止。方見腰痛。凡欲補而不敢補，其痘不能出者，俱用此方立效。見點之後，未出齊之時，常有驚搐譫語，皆熱毒風壅所致，治法見驚搐狂躁。起脹時亂語，險毒鬱於內故也，仍宜解毒湯兼定心散。灌漿時亂語，此是血虧神亂，宜歸脾湯，以補血寧心為主，切不可認為實熱，妄用清心降火。結痂時譫語，只用補血安神。痘後昏迷錯語，此時毒氣已散，元氣未復，精神疲倦，故昏昏喜睡，即呼之不醒，亦自無妨。若連日不醒，口中喃喃，自言自語，形如醉人，每多妄說，此邪熱乘心胞也，宜導赤解毒湯（百十四）或安神丸（百十五）。熱毒太甚，狂言燥渴，宜辰砂益元散（五十四）。毒入心經，狂躁不知人事，宜豬尾膏（五十五），虛人禁用。</p>

<h2>咳嗽</h2>
<p>初熱咳嗽，無妨。咳嗽多出肺經，非肺受風寒，即肺留毒火也。火熏涎液，液化為痰，故有嗽。治嗽以清火消痰為主，初發用蘇解散（八）加黃芩、花粉，痘出齊，嗽漸止者，吉，蓋毒已盡出於皮毛之外也。治嗽消痰，六日以前，宜於清解方中加花粉，七日以後，宜於補托方中加款冬。至於半夏、南星，則惟收靨時痰重者，方敢用之。</p>
<p>起脹時咳嗽，此時咳嗽宜減，不宜加，加則毒留於肺，主險，宜於化毒湯中，加桔梗、陳皮、款冬、花粉兼治之。亦有先不嗽，至六七日，偶感風寒而嗽者，表散其邪，其嗽自止。</p>
<p>灌漿時咳嗽，從前有嗽，至此熱出皮膚，嗽宜退矣，若猶不退，肺中尚有客熱，宜於內托劑中，加款冬、陳皮、桔梗。倘嗽愈甚，痰涎壅盛，痘又無漿，則毒火攻肺，將變失聲，危甚。</p>
<p>結痂時咳嗽，痘若有痂無妨，須用桔梗、陳皮、半夏、款冬、桑白皮、茯苓、炙草煎服，痘靨無痂則凶。</p>
<p>痘後咳嗽，此餘毒流入於肺，肺熱生痰，故咳嗽也，宜清金降火。若久而不止，胸高氣喘，則不治矣。</p>
<p>凡嗽，用寧肺散（百十六）。元氣虛弱，風邪入肺而咳嗽者，必乍寒乍熱，宜補中益氣湯，加桔梗、陳皮、半夏、白附、杏仁。潮熱不息，肝肺二經皆有風熱而咳嗽者，宜柴胡、赤芍、炒芩、梔仁、胡黃連、全蠍、鉤藤、川貝、花粉、桔梗、陳皮。夢遺咳嗽，失音昏沉，用生雞蛋一個，開小孔，瀝去黃白，元參二兩取汁，入殼內，紙封固，再用熟黑豆搗爛，包蛋殼煨一炷香久，取出退火氣，服元參汁。</p>
<p>【附方】　杏仁煎湯，白附子磨服。</p>

<h2>聲啞</h2>
<p>初熱聲啞不治，丹田肺氣欲散也。然有啼叫失聲者，無妨。又有感冒風寒失聲者，必有嗽，音濁不清，宜甘桔湯加防風、荊芥，以疏其風寒，則音亮矣。起脹時失聲，痘若起脹紅活，則是內痘起脹，閉塞肺竅，俟內痘靨，其聲自開，或用甘草、桔梗、元參、牛子、山豆根、黃芩煎水噙。若痘色灰白倒陷，聲啞，則毒火內攻，肺氣已絕，必不能救。</p>
<p>聶云：此症急用參麥清補湯（十八），兼用千金內托散（十六），或可救十之一。灌漿時失聲，毒陷內攻，肺氣將絕，然痘未甚陷，急用內託大補元氣，氣旺痘升，其聲自復。結痂時失聲，痘靨無痂者，必死。其痘若好，則或因氣弱而聲不亮，宜用人參、黃耆、白朮、茯苓、訶子、五味、炙草；或因痰壅肺道而聲不出，宜用陳皮、桔梗、半夏、款冬、白附、沙參、茯苓、炙草，豁動其痰，聲自開矣。誤服鹿血，以致失聲，用雪梨汁磨象牙服。</p>

<h2>喉痛</h2>
<p>初起喉痛難治，此毒郁之甚，其火上炎也，宜敗毒和中散（三），又用理咽散（百十六），頻頻噙服，但初噙一二日，恐有火毒，宜吐之。聶：咽喉腫痛，首尾俱用利咽解毒湯（四十二），外用玉鎖匙（四十三）吹之。</p>
<p>痘出稠密，毒火上炎，咽喉必痛，初見痘標之時，不必專治咽喉，惟有托痘一法，倍加桔梗以利之。</p>
<p>起脹時喉痛，或失聲，內有痘也，雖痛無妨，仍用理咽散與噙，但不可服，此際臟腑空虛，不敢用涼，俟內痘靨，痛自止。有咽爛成坑者，由前失於解毒，毒火熏蒸所致，痘好可救，仍用理咽散與噙，復用吹喉丹（一百十八）吹之，若痘陷，則難救矣。</p>
<p>灌漿時喉痛險，外痘出齊，則內痘起脹，外痘灌漿，則內痘當靨，至此猶喉痛，乃毒留於肺，肺中毒火熏爛咽喉，最危候也，用牛子、桔梗、豆根、射干、黃芩、甘草煎水噙，或用利咽解毒湯，與提漿藥相間服之，外用玉鎖匙吹之。若痘下陷，則必死矣。凡挫喉嗆水，俱如此論。</p>
<p>落痂時喉痛，凶，毒火未化，熏蒸胃口，元氣又虛，難於清解，宜內服人參解毒湯（百十九），仍用理咽散與噙。</p>
<p>有一等虛火上炎喉痛者，見鼻血條。</p>
<p>【附方】　新鴨矢焙乾研細，吹之。苦參為末吹之。硼砂、冰片、水粉為末吹之。山慈菇磨水噙吞。綠豆粉、雞子白調敷喉外，靛腳亦可。</p>

<h2>嗆水</h2>
<p>痘有咽喉嗆水者，順逆不同，須分辨之。灌漿時嗆水者，喉中有痘也，外痘成漿，則內痘亦成漿，此與前論喉痛少異，壅於會厭門而嗆也。蓋是門乃飲食所進之處，既有所壅，則飲水必濫入氣喉而發嗆，若食物有渣，自能嚥下，不犯氣道，故不嗆也，待外痘靨，則內自痊，不必用藥。此症雖嗆水，其喉不甚痛。若痘未行漿，而喉先嗆水，痛甚，此則毒氣壅塞，宜用前治咽喉方治之。</p>

<h2>喘急</h2>
<p>初熱喘急，毒氣內壅也，宜解毒。八九日喘急，無妨，內痘升脹，阻塞氣道也。收靨時喘急，凶。痘若塌陷，氣將絕也。</p>
<p>補：喘有虛有實。虛者，氣息微而短；實者，氣息大而長，皆肺病也。初熱或痘初出，噴嚏，鼻流清涕。發喘者，此風寒客於肺也，宜參蘇飲。傷食，穀氣蒸而為熱，上乘於肺發喘者，宜平胃散加山楂、神麯、麥芽。吐後發喘者，胃虛不能制火也，宜六君子湯。泄後發喘者，元氣下陷，虛火上壅也，宜補中益氣湯。泄瀉日久，內虛腹脹作喘者，宜陳氏木香散（百三十八）。痘漿半足而倒靨喘脹者，宜保元湯（一百七十）加防風調獨聖散，用穿山甲（炒）、朱、麝一分，痘密以致鼻塞，口中氣促似喘者，此非喘也，不必施治。</p>

<h1>雜症　卷三下</h1>

<h2>腹痛</h2>
<p>朱：發熱之際，或初見痘之時，吐瀉交作，胸腹痛甚，吐則有餿酸之氣，瀉則有淡白之色，亦有餿酸氣，此感寒而停食也，宜升消平胃散（四）加羌活五分，一服立愈（聶無羌活）。</p>
<p>聶：停食腹痛者，其痛必多急疾，啼叫必甚，多在臍以上痛，面必青白，唇淡手足冷，宜升消平胃散。毒氣腹痛者，其痛稍緩，有痛有止，多在臍以下痛，或連腰而痛，面或紅色唇紫，手足不冷，宜敗毒和中散（三），大便燥結，加熟大黃微利之。</p>
<p>張：宜敗毒散（九十五）。有平日腹痛者，至發痘之時，腹痛亦發，此不必治，痘出其痛自止。</p>
<p>見點三日內，腹痛發厥，痘出不快，用蟬蛻去翅足為末，每服一錢，痘出自定。見點時，腹痛煩躁，宜芍藥防風湯（九十六）；若大便閉結，宜大黃化毒湯（九十七）。</p>
<p>灌漿時腹痛，最險，此時毒出皮膚，不宜痛矣，痘陷漿清者，毒入內攻也，若膿漿滿足，則為風寒食積所致，宜升消平胃散。或一向未大便，因燥糞作痛者，用膽導法，便通則痛止。</p>
<p>結痂時腹脹而痛，漿不滿，痂不厚，此內留餘毒，宜牛子、連翹、山楂、神麯、厚朴、陳皮、香附、木香、白芷、炙草、炒芩，有熱加前胡；若漿濃痂厚，則為積滯脹痛，宜前方去連翹、黃芩，加蒼朮、砂仁、大腹皮。方靨之時，漿清痂薄，忽然腹脹而痛，煩悶不寧，此餘毒入里，最為危險，未幾漸加喘急，手足厥冷，則不治矣，速用雄黃解毒丸（九十九）。痘當靨時，忽然腹痛，其痛著在中脘，此熱毒凝滯於血作痛也，宜消毒散血湯（二十八），此症極少。</p>
<p>痘後口噤僵直，冷汗如雨，繞臍而痛，痛定汗止，此風寒入胃，宜升消平胃散加鉤藤、木香，一服立平。痘後吐瀉交作腹痛，宜正氣散（九十八）。大便閉結腹痛，用白芍二錢，厚朴錢半，陳皮七分，甘草三分，大黃一錢。痘後腹中飽脹，不思飲食，時時作痛，此必誤服食物，或過服熱藥，致餘熱滯積作痛，其腹必有微熱，宜消導解毒，用蒼朮、厚朴、陳皮、半夏、木香、香附、砂仁、牛子、連翹、山楂、神麯、川芎、前胡、炙草。</p>
<p>腹痛時腹中滾起數團，痛定團亦平，此蟲痛也，宜平胃散加使君子肉、苦楝皮、胡黃連，服後瀉出蛔蟲，永不痛矣。</p>
<p>【附方】　腹痛用門斗灰、燈芯湯泡服。將娘鞋烘熱，熨痛處。酒麴、薑汁、麻油合餅貼臍。</p>

<h2>腹脹</h2>
<p>初起腹脹，險，中後難救，俱是熱鬱脾胃，不能發泄而然也，治宜升發解毒兼消導之。腹脹，大便閉，用枳殼湯（百三二）。腹脹，小便赤澀，用四聖散（百三三）加澤瀉、豬苓、車前，此皆痘色紅紫，實熱閉結者，方可用。若二便清利，手足冷，痘色淡白，脈微緩，此臟寒不能發毒而脹也，宜理中湯（百三四）或異功散（五十）。痘若陷伏不起，喘急神昏，則毒入內攻，治之無益矣。起脹時腹脹痰鳴，毒內攻也，必死。</p>
<p>【附方】　炒鹽布包熨臍。艾葉、柑子葉、薑蔥抖爛，加麻油炒熱，布包熨臍。生薑切開，入雄黃末，紙包煨，貼臍。</p>

<h2>心胸痛</h2>
<p>初發心胸突起作痛，此毒填胸膈，凝而不出，多凶，急宜解毒湯（百十三），多用桔梗、陳皮，加鬱金，痘出，痛定可救。誤服熱物，或傷風寒與素有結痰者，無妨，痘出痛自止。痘後心胸痛，此熱蓄心胸，故在臍以上痛，用鬱金、陳皮、半夏、桔梗、黃連、梔仁、玉竹、木香、香附、厚朴、白芷、連翹心。</p>
<p>胸痛腰痛，豆豉一碗，胡椒一錢，共搗爛，生薑汁調勻，炒熱，敷胸腰二處。</p>

<h2>腰痛（最危）</h2>
<p>痘毒發自命門，初起腰痛，命門傷也，大凶。若連背脊尾痛，尤凶。急與扶腎，用人參、生耆、當歸、元枝、牛蒡、連翹、續斷、故紙、杜仲、枸杞、知母、炙草，煎服。外用生雄雞，背上破開，取出腸肚，燒酒一杯，噴雞腹內（一法留腸，肚入麻油雄黃末；一法先用麻油燈火於痛處二灸，然後敷雞），乘熱敷腰，緊縛一炷香久，其雞即臭不可聞，須用二三隻，痘出痛止，可救。出齊，腰猶痛，更凶，須用人參、豬尾血加冰片少許，與服。人參補氣；尾血從髓而來，是入腎者也；冰片直射臟腑，其方最妙，服此痛止可救。其後總以內托補腎為主，若諸方不效，則必死矣。至十三四日腰痛者，則是血虛，補血養腎，可保無虞。</p>
<p>補：發熱腰痛，惡候也，宜先服人參敗毒散，次服五苓散加獨活，然後調理氣血，或有可救。</p>
<p>【附方】　艾絨麻油炒熱敷痛處。熱麻油揉痛處。</p>

<h3>尻骨痛</h3>
<p>用芙蓉根、馬鞭草，搗爛炒溫敷痛處。</p>

<h2>寒戰咬牙</h2>
<p>小兒素受風寒，當發熱之際，毒出而風寒亦出，固有惡風惡寒者，所謂傷風則惡風，傷寒則惡寒也。表散其邪，自愈。若寒甚作戰慄，則寒出於肺。六日以前，多屬肺熱，熱極生寒也，肺熱之症，必唇紅脈數，痘紫舌苔，治宜清毒涼肺，不可誤投辛熱。七日以後，多屬肺寒，肺寒之症，必唇淡脈緩痘白，治宜辛補以回陽。咬牙之症，亦如此辨，但咬牙屬胃，獨見症者，用藥宜從其經。此二症初熱時難治，八九日後可治，蓋至此，毒出臟寒，用補可救也。</p>
<p>（按：發熱初出時，寒戰者，此毒邪欲出不出，邪正相爭，似寒而實熱也，宜柴葛桂枝湯（二百卅六），加黃耆。痘正出時，外為寒邪所襲而寒戰者，法同上，去人參加荊芥）。</p>
<p>起脹時及灌漿時，寒戰咬牙，內臟空虛，俱急用桂附理中湯。</p>
<p>聶：痘出八九日，漿滿而寒戰咬牙，此真氣外發，內臟虛寒也，宜建中湯（二十五），一服立止，甚者不過二服，收靨時寒戰咬牙，治同上。</p>
<p>（按：此二症均宜大補氣血，但寒戰者，補氣為君，補血為臣；咬牙者，補血為君，補氣為臣）。</p>
<p>聶：或謂寒戰咬牙之症，有熱有寒。如痘色紅紫，齊湧焮發，身熱煩躁作渴，大便閉，小便赤澀，脈洪數者，熱也。蓋胃熱則咬牙，肺熱則寒戰也。如痘色淡白，皮薄頂陷，身涼惡寒，大小便利，脈沉遲者，寒也，蓋胃寒則咬牙（按：肝腎虛寒亦有咬牙之症），肺寒則寒戰也，此說當矣。然此症屬寒者十九，屬熱者十一，見於七八日前，間有屬熱者，見於七八日後，屬熱者寡矣。</p>
<p>補：痘已出齊，而寒戰咬牙者，只用攻漿之藥，漿足其症自退。若漿已充足，手足微有動意，非寒戰也，乃漿滿作痛，吉兆也。</p>

<h2>坐立戰搖</h2>
<p>痘後坐立戰搖，氣血兩虛也，宜八珍湯。</p>

<h2>發癢</h2>
<p>痘毒有氣無形，必借氣以送之，血以載之。頂尖而圓者，其氣上升也；有紅暈者，其血下附也。分清氣血之時，痘多作癢，及氣血各定其位，則氣上升以化毒，血下附以養漿，其癢自定。痘雖忌癢，惟初出時癢不忌。</p>
<p>（按：初出癢甚者，乃皮膚閉密，邪火欲出而不能也，宜升麻葛根湯去白芍，加赤芍、防風、桂枝、淡豆豉）。</p>
<p>灌漿時作癢，乃毒氣欲化不化，擾攘於皮膚也，最為凶候，其由來有數端。氣虛不能化毒而癢者，其痘必白色，頂陷，皮薄漿清或暈腳淡紅，精神困倦，二便順利，宜參耆實表湯（卅二）或千金內托散（十六）或參歸鹿茸湯（十五），俱倍加參、耆，或異功散（五十）助其長漿，其癢自止。血熱作癢者，其痘紅紫，口渴，宜清毒活血湯（十四）倍加參、耆。泄瀉後，正氣內虛，邪氣外實，作癢者，宜調元托裡湯（百五六）。邪穢觸犯作癢者，宜平和湯（十二），外用檀香、紅棗，燒煙燻之。</p>
<p>痘後發癢，抓破成瘡者，此血熱也，用黃柏、生紫草、甘草、生牛子、銀花、生地、紅花，共煎油搽之。</p>
<p>補：因風寒所感發癢者，用避穢香、大黃、蒼朮，加小棗、茶葉，燒煙燻之。無因而發癢者，當視瘡形治之，瘡干而癢，宜養血潤燥，四物湯加防風、黃耆、荊芥、桂枝、牛子、升麻、甘草。瘡濕而癢，宜補氣除濕，四君子湯加防風、荊芥、黃耆、桂枝、牛子。將靨作癢者，正氣復也，不必服藥。痂落後，瘢肉凸起作癢者，宜荊防敗毒散。痂落後，其瘢紅多白少微癢，宜保元湯（百七十）加白芷、防風，一二劑即止，勿服。</p>
<p>【附方】　痘癢用蟬蛻二十個，去翅足，水煎服立止。荊芥穗末，紙捲成條，燈上燃之，按滅，隔一二層紙於痘上焠之。荊芥葉、千年霜燒煙燻之。生薑搗爛，燒酒炒，布包熨之。</p>

<h2>遍身痛</h2>
<p>初熱遍身作痛，此必平日傷風、傷寒，至痘發之時一齊攻作，所以痛也，祛風發汗，痛自止矣。灌漿時筋骨疼痛，無妨。痛而紅腫者，是餘毒也；痛而不腫者，是風疾也。且餘毒發於收結之日，決不發於灌漿之時，此時作痛而不紅腫，必為風寒所襲，秋冬時多有此症。用薑、蔥、灰面，燒酒炒熱熨之，內用生耆、當歸、川芎、白芍、防風、鉤藤、石南藤、白芷、骨碎補、續斷、薄桂、五加皮、殭蠶、蟬蛻，弱加人參，酒煎服，服後運擦痛處，令藥性行。</p>
<p>遍身疼痛，用黑豆一升，煮熟擂爛敷腰上。</p>

<h2>痘痛</h2>
<p>痘痛者，膿漿盡升，此吉兆也。痛甚者，白芍磨酒，服少許立止，然亦不必施治。</p>

<h2>手足痛</h2>
<p>初熱手足痛，凶。乃毒氣留滯筋骨，不得宣於肌肉，氣血又不能活，宜桂枝芍藥湯（百二一），失此不治，日後雖生，必致風攣，亦有素受風寒作痛者，以薑、蔥、灰面共搗爛，酒炒熱，敷擦痛處，或加蒼朮。</p>
<p>八九日漿行痘痛，是其常也。若筋骨痛者，則是風疾，姑置之，俟痘愈，然後以驅風兼行氣血於四肢之藥治之，痂後亦然。痛只一二處，肉中如有核者，此療結於內也，用艾火，或燈火灸之，其痛立除。</p>
<p>【附方】黃豆腐切片敷痛處。桑白皮搗爛敷痛處。足底痛用銅鑼一面，將兩腳踏其上，一時痛止。</p>
<p>手心痛，初熱手心痛，用一芍散。</p>

<h2>手足搖</h2>
<p>手足屬脾胃，初熱手足搖，乃風生脾胃，驚風死症。</p>
<p>補：起脹時手足自搖，肌肉自動，此氣血虛也，宜十全大補湯。</p>

<h2>手足牽引</h2>
<p>灌漿時，手足牽引，無妨。痘若起灌，或為血虧，或為肝風，宜祛風滋血湯（百二二）。結痂時手足牽引，或十指搐縮，或聳肩搖足，點額搖頭，皆是肝經有風，宜用黃耆、當歸、白芍為君，茯苓、鉤藤、白殭蠶（糯米炒）、天麻、炙草；點額搖頭，加川芎、蟬蛻、全蠍（去首尾）、硃砂。</p>

<h2>手足拘攣</h2>
<p>結痂時手足曲而不伸，或伸而難曲，艱於轉動，此是氣血兩虛也，用人參、黃耆、當歸、川芎、白芍、生地、白朮、茯苓、丹皮、續斷、骨碎補、虎骨、鉤藤、炙草、官桂，酒煎服。骨內痛而不腫者，是風疾也，前方加防風、五加皮、南藤。</p>

<h2>瘛瘲</h2>
<p>痘後忽發瘛瘲，遍身青紫，乃血氣既虛，肌膚未固，倏感風邪故也。用蟬蛻末一錢，生薑、薄荷汁調服，令汗出，愈。</p>

<h2>手足冷</h2>
<p>初起陽氣攻毒，未達四肢，冷亦其常，痘出將齊，手足乃溫，但冰冷過肘膝，則不治矣。蓋陽氣幾絕也，急用參、耆、桂、附、歸、芍、鹿茸大補氣血，或有可救。兒體素弱，或吐泄後，元氣愈虧，不能勝毒，痘隱不出，汗出如珠，四肢厥冷，似睡非睡，眼露白，症同慢驚，此危候也，急用附子、乾薑各四錢，陳豆豉三錢，丁香一錢，小雄雞一隻，共搗爛，燒酒略炒，敷臍上及二足湧泉穴，連換二三次，痘出諸症自退。泄瀉，加灶心土。</p>
<p>結痂時手足冰冷，陽氣將絕，不能行於四肢也。</p>
<p>痘後手足冷，六脈沉細，元氣虛也，宜調元生脈湯（百二十），甚加附子。</p>
<p>（按：足冷，有火鬱於上而然者，清上則火降，足自溫矣，宜參蘇飲去木香，加厚朴、梔仁。又按：厥冷一症，有陰陽之辨焉。陰厥唇淡面青，氣冷身涼，痘色灰白塌陷；陽厥煩渴喘促，痘色焦紫，所謂熱深厥亦深也。）</p>

<h2>大便血</h2>
<p>初熱大便血，此熱注大腸也，用川連（炒）、牛子（炒）、黃芩（炒）、厚朴、香附、枳殼、紅花、生地、地榆、木香、百草霜煎服，或用香連丸，亦可，此方首尾俱可用。一方用黃連、牛子、慈菇、人中黃，一服立平。</p>
<p>起脹時大小便血，此毒攻臟腑也，不治。急用地榆、大黃、紅花根共為末，燒酒調敷尻骨，三炷香久，連換三次，血止或可救。</p>
<p>灌漿時便血，無妨，腸胃有痘，痘潰，故下膿血，勿作痢治，宜五苓散加牛子、血餘。</p>
<p>結痂時瀉下膿血，此內有蓄熱，或內痘潰也，下儘自愈，不必止澀。</p>
<p>痘後大便血，此熱滯大腸也，急用涼血地黃湯（百二三）加秦艽、槐花、地榆。痘後瀉膿血，亦毒從泄解，不必止澀，或便不順利，作後重，用黃連解毒湯（一百四）或和中湯（百五）。素有積熱，腸鳴腹痛，裡急後重，宜先與調胃承氣湯（百六）以泄其毒，次用芩連湯（百七）或香連丸（百八）。久而不止，用韭菜、白豆豉、梔仁。</p>
<p>肝經出痘，大便下血，眼紅氣粗，丹痧滿面，紫黑不起，用白頸蚯蚓七條（焙乾），瓜蔞仁二十粒（去油），杏仁十五粒（去皮），尖藤茶煎汁，調餅貼臍，一炷香久，連換數次，諸症自退。胃經出痘瀉血，用雞子白調綠豆粉，敷臍下。</p>

<h2>小便血</h2>
<p>初熱小便血，毒壞命門，故膀胱溺血，凡見此症，痘必焦枯，腹必作脹，八九日間必死（痘初報苗以及出齊之後，如遇吐血及大小便血俱屬可慮）。</p>
<p>起脹時小便血，毒攻臟腑，不治。</p>
<p>痘後，小便血，此熱滲膀胱也，小便必短澀而痛，用牛子、銀花、木通、車前、瞿麥、滑石、赤苓、豬苓、澤瀉。又方，用苦楝皮入豬尿胞內，煮熟服，立效，然必先服前方數劑，後乃以此收功。一法，用涼血地黃湯（百二三）加木通、滑石、車前。</p>

<h2>吐血</h2>
<p>初熱吐血，血鮮，但一二口，無妨，若不止，宜犀角地黃湯（八十六）。起脹時吐血，亦宜清毒涼血，引火下行。若吐不止，多凶，黑血則必不救，但一二口者可救。痘後吐血，熱蘊於胃也，急用涼血地黃湯（百二三）加知母、石膏、童便、香附，血止則生，不止則死。</p>
<p>（按：痘未盡出，過用寒涼，傷其脾氣，致血妄行，吐衄昏倒，痘色淡白陷伏，宜理中湯。）</p>

<h2>衄血</h2>
<p>初熱鼻出血，此邪循肺竅，將達皮毛也，隨出隨止者，不必治。不止者，用犀角地黃湯（八十六），外用發灰散吹之（三十八）。一方用絲線緊扎小指甲邊，扎盡其指，其衄立止，男左女右。</p>
<p>聶：痘有衄血，此毒氣外泄，非惡候也，但用發灰散或清肺湯（三十九），切不可峻用寒涼，如犀角、生地、山梔、生三黃之類，冰伏其血，必為大害。世人不明此理，一遇衄血、咽喉口舌等症，即認為實熱，投以寒涼，因而死者比比也。</p>
<p>有一種痘出稠密，毒火既盛，血氣又弱，以致虛火炎蒸，或煩渴，或咽痛，或鼻時出血，難任溫補，必不能成漿結痂。年長嗜欲久開之人，多有此症，最為難治。時醫見其多熱，率用清涼，如犀角、地黃之類，鮮有不死，宜參麥清補湯（十八），頻頻服之。少年虛火上炎，血不歸經，吐血衄血，急取白果擂水服，後用柏樹上寄生一兩，山梔根皮二兩，共搗爛敷臍，連換三次，吐衄自止，若未止，用犀角地黃湯。</p>
<p>痘後衄血，熱流於肺也，急用涼血地黃湯（百二三）加黃芩、茅花。一人口鼻出血數碗，以韭菜汁半碗，服之愈。</p>
<p>補：靨後餘毒乘脾，脾傷不能統血而衄，宜參朮散（二十一）加白芍、黃連（酒炒微黑）。</p>

<h2>眼出血</h2>
<p>初熱眼出血，此毒氣橫肆上攻，暴烈於精華也，後必不救。</p>

<h2>耳出血</h2>
<p>初熱耳出血，耳為腎之竅，毒氣橫烈，腎氣已敗，故血逆上攻，出於其竅，必不能救。</p>

<h2>耳膿血</h2>
<p>痘後耳內腫痛，流出膿血，俗名「蠶耳」，須先用棉花攪淨，後用黑砂糖，水調少許，滴清耳內，立愈，戒勿抓挖。</p>

<h2>痘瘡血</h2>
<p>血有從痘瘡出者，肉分空虛，元氣走泄也，必死。</p>

<h2>諸竅出膿</h2>
<p>諸竅出膿無妨，行漿之際，有眼耳鼻出膿，口吐臭膿者，皆由其內有痘，不能結痂，潰而出膿，不必施治，內痘成膿，則毒化矣。</p>

<h2>中風</h2>
<p>發熱之時，腠理開張或中風邪，忽然直視，張口吐舌，不能言，宜參蘇飲（百三十）或消風散（百三一），或一時無藥則以薑汁灌下，且用推拿法。又用桃樹皮、薑、蔥、豆豉、川烏共搗，燒酒炒溫，敷臍及囟門二處，汗出自愈。</p>
<p>痘正出時，忽然直視，牙關緊閉，此調護不謹，為風寒所襲也，且勿輕用驅風峻藥，宜姜附湯（十三），濃煎灌下一二杯，出微汗即愈。</p>
<p>起脹灌漿痘後，有中風之症，俱用人參、黃耆、乾薑、附子、桂枝、麻黃、殭蠶（炒）、防風、炙草；牙關緊閉，用燈火於兩牙交穴，各一灸，其口自開。灌膿時其痘皆好，忽然噤口直視，痘皆變為瓦霜色，是中風也，不必驚慌，急用生薑汁灌下，仍用乾薑、附子、官桂，喉中有痰，加半夏溫服，令出微汗即愈。</p>

<h2>中痰</h2>
<p>發熱之時，毒火熏蒸，痰涎壅盛，滯於咽喉，不能言語，狀若中風，但喉內痰鳴，是中痰也，最為危急。須以生薑汁灌下，若不能進藥，用鴨翅毛透入喉中，攪出痰涎，令其自吐，然後用陳皮、桔梗、半夏、南星、花粉、天麻、竹黃、硃砂，濃煎服，或加礞石，或用鎮驚丸（九十一），薑汁引，此急則治其標也。若痘欲出不出，急剖生雄雞，燒酒噴，敷臍，連用二三隻，將痘托出或可救。凡痘欲出不出，此方最妙。</p>

<h2>多痰</h2>
<p>灌膿前後，數日有痰，用白附子，熱水磨服，切不可用二陳湯，恐燥陽明，孤陽無陰，不能生化，至收靨時，用之無妨。痘出稠密，漿不甚滿，至回水結痂時，飲食減，痰液多，宜養胃開痰湯（二十四）。</p>

<h2>流涎</h2>
<p>灌漿時，口角流涎不止，乃胃弱也，急用參砂和胃散（五），否則胃弱不能行漿，恐變咬牙之症，則難治矣。時值瘧疾，復出痘瘡，口吐白涎，咳嗽失聲，用生薑切片，包大附子煨，再取薑汁，和當歸、生地、白芍，共搗爛敷臍中，一炷香久。</p>

<h2>汗</h2>
<p>初熱時，身有微汗，其毒乃出，有汗則不宜發散，然有自汗，有盜汗，痘未出之先，縱有自汗盜汗，皆不可驟止，以閉其毒。痘既出後，或盜汗自汗之甚，恐表虛後難成漿，急宜斂汗固表，用人參、炙耆、當歸、白芍、桂枝、麥麩（炒）。身冷惡寒，用人參、炙耆、當歸、川芎、白芍、肉桂、附子、炮薑、炙草，起水後加白朮、淮山，服此仍大汗如珠，寒戰不已，昏沉煩渴，此亡陽症也，不治。</p>
<p>痘前腠理開通，毒乃不閉，故宜有汗，痘後腠理緊閉，風邪方不能入，故不宜過汗。若有自汗盜汗之症，乃表虛也，宜用人參、炙耆、炙草、當歸、黃連（炒）、桂枝煎服。又方，用當歸、炙耆、炙草、生地、麥冬、黃連（炒）、麥麩，入豬心內煎服，痘後身涼，冷汗不止，形氣雖實而精神稍疲，此陰陽交戰，宜歸耆湯（二十三）。有過服熱藥，汗出不止者，必漿濃痂厚。</p>
<p>痘出腎經，腰腹絞痛，吐瀉交作，手足冰冷，大汗如注，此陰盛陽衰最險，急用乳香、沒藥、人參各一錢，作丸納臍中，再用艾絨炒熱，敷丸上。</p>

<h2>不食</h2>
<p>初熱時熱鬱於內，必作飽，不思飲食，此時不可驟用暖胃藥，以滯其毒。若無泄瀉，痘色紅活，雖出齊後，不食亦無妨，俟水足漿行，毒氣盡出，腸胃無熱，自然思食，不必施治。惟吐瀉後，痘色淡白不振，乃胃弱不食也，用人參、白朮、茯苓、砂仁、丁香、陳皮、山楂、神麯、炙草，煨姜引。</p>
<p>灌漿時不食，凶。八九日前，毒未出盡，不食無妨。至此毒宜盡出，內臟空虛，當大進飲食矣，而猶作飽脹者，必毒留內滯，脾胃已敗，急用人參、黃耆、山楂、白朮、丁香、肉桂、煨姜等藥，大暖脾胃。痘起有膿，飲食稍進，可治，不然血氣無所資矣，痘雖起脹，亦必陷靨而死（結痂時同）。</p>
<p>痘後不食，亦凶。有脾胃虛寒，不欲食者，必唇舌俱白，身涼，精神困倦，懶言，用人參、黃耆、當歸、川芎、白朮、茯苓、丁香、肉桂、砂仁、乾薑、山楂、麥芽。有餘熱留滯脾胃，不欲食者，必舌心有苔，腹脹微熱，以消導解毒為主，兼與補脾。有一向能食，忽然聞食則嘔，必傷食也，失治，必成疳勞，用平胃散加三稜、莪朮、枳實、良薑，問其所傷何物，即以原物為引。</p>

<h2>能食</h2>
<p>痘雖焦黑而飲食如常，此毒火內熾，易於克化也，必死。然總看痘色吉凶，食與不食，不足定其生死。</p>

<h2>飲食倍進</h2>
<p>痘後飲食倍進，面赤，喘急，二便秘澀，內熱也，不急治必變生他症，宜四順散（二百卅二）。</p>

<h2>噯氣</h2>
<p>初熱時，噯氣，此熱鬱於胃，欲出不出，故噯也，用香附、陳皮、桔梗、茯苓、木香、山楂，生薑引，不止加豬苓、澤瀉、木通，導熱下行。結痂時咳逆，俗呼呃絡，此胃氣上越也，取真黃土置鼻邊聞之，立止。</p>

<h2>昏睡</h2>
<p>結痂時至痘後昏睡，氣血盡送於外，元氣未復，故昏昏而睡，呼之不醒，醒亦復睡，不必驚疑，元氣復自安寧矣。若連日不醒，口中哺哺，自言自語，形如醉人，每多妄語，此邪熱乘心胞也，宜導赤解毒湯（百十四）或安神丸（百十五）。</p>

<h2>腫脹</h2>
<p>痘出齊後，面目腫脹，而痘不起，此氣血虛弱，不能攝毒，故其毒散漫，妄行肉分也，最為危候，宜參歸大補湯（三十三），此症與十三逆症形如瓜瓠者相似，但不若瓜瓠之甚耳。灌漿時，頭面身體腫脹，無妨，毒攻皮膚，宜其腫也，但要痘起，惟肉腫而痘不腫者危。痘後浮腫，見後。</p>

<h2>陰囊腫脹</h2>
<p>陰囊腫脹，乃腎毒外泄於膀胱也，吉，至痘收齊自退，若猶不退，宜蒼朮、茯苓、豬苓、澤瀉、木通、車前、滑石、牛子、銀花、瞿麥，以退膀胱之熱。</p>
<p>補：有厥陰肝經之熱下注而發腫者，宜小柴胡湯加青皮、木通、山楂。</p>
<p>（按：囊腫，治法有三：一疏肝，一清肺，一泄膀胱。）</p>
<p>【附方】　石燕醋磨濃汁搽之。椒鹽、蔥白、地膚子，煎湯熏洗。桑白皮搗爛，麻油炒熱，包定。</p>

<h2>目閉</h2>
<p>初起目閉，不治，精神已衰，不能送毒，急用內托之劑，痘出可救。痘將出時忽為風寒所束，目閉，宜升提達表之藥，以祛寒發痘，或用推拿法，疏通寒邪，再用生雞剖開，燒酒噴之敷臍上，痘出目自開。八九日起脹，目閉乃眼胞腫脹，不能開也，元氣內固，名曰封倉，最吉，驟開則凶。十三四日，痘毒已退，目宜開矣，而仍閉者，毒未盡化也，亦凶。</p>

<h2>眼露白</h2>
<p>眼露白，凶。目為五臟精華所萃，睛若上吊，不能運動，此元神將散，又焉能送毒乎？加以失智無魂，無論前後，皆不治，必欲治之，總以內托扶元為主。惟痘前發搐，眼露白，搐後人醒即定者，則以風論，痘出其症自平。</p>

<h2>鼻淵</h2>
<p>痘後鼻中時時流涕，臭不可聞，此熱毒乘肺也，用絲瓜近蒂五寸，黃芩、梔仁、牛子、甘草煎服，外用絲瓜藤燒灰吹鼻，又以絲瓜灰調酒服，數日自愈。</p>

<h2>痘瘡入目</h2>
<p>痘出時，眼紅不敢開，眼中有痘也，任白珠黑珠，俱無妨，只用清肝丸（百五一），磨水蒸出藥性，再用胭脂水研爛，入藥水，頻頻點之。又以藥渣敷眼胞數日，毒散痘收，自不傷目。單用胭脂水點入亦可。</p>
<p>【附方】　眼內有痘，用青魚膽或鯽魚膽、鯉魚膽、狗血，皆可點之。鮮魚血點之，外用燈火灸手掌心。</p>

<h2>防痘入目</h2>
<p>痘發之時，恐痘入目，以油胭脂塗其眼眶，或以牛子為末，蜜調敷其四旁，或白芥子為末，水調敷其足心，引熱下行，皆良方也。一法，牛蒡子為末，塗兒囟門。</p>

<h2>痘毒攻目</h2>
<p>痘毒入目，有赤腫作痛不能開者，有翳膜遮蔽，不能視者，此非有形之痘瘡，乃無形之痘毒也。痘瘡發於口舌咽喉者有之，外靨則內亦消。至於痘毒入目，必在收靨之時，或還元之後。以此為辨，當從容調治，不可純用寒涼，致生大患，又不可用寒涼之藥點洗，宜清毒撥翳湯（四十五）。氣血兩虛，毒火內盛，漿不能成，或不能滿，至收靨時，上攻兩目，始焉身熱頭更熱，頭疼兩太陽更疼，細看眼胞必腫，緊閉不開，熱淚長出，皆膿黏滯，急用清毒保目湯（七十四），連服二三劑，失此不治。毒火愈炎，攻脾則兩眼胞紅腫，攻心則大小眥紅腫大痛，攻肺則白珠紅絲障蔽，日夜啼叫，痛苦異常，目不由是壞乎？從前誤服補劑，至收靨時，毒火上攻兩目，急用清毒保目湯，紅腫太甚，翳膜遮於肝肺之間，急用清毒撥翳湯，連服一二劑，自然翳退。痘翳，用蟬蛻豬肝散（七十五），每日清晨服之，兩月之內，可消一半。若性情和平，百日可愈，切忌煎炒辛熱等物。未出痘之先，一兩月內，兩目羞光，及出痘收結後，兩目緊閉，急用乳酥油，搽兩眼縫，潤其枯，滯自開。看其兩目有紅絲累，用清毒保目湯一劑，不愈再用一劑，以解上攻之毒火。如有翳膜遮蔽，即與清毒撥翳湯，緩緩磨，一兩月之久其翳自退，無紅絲累，不必用藥。</p>
<p>張：紅腫不能開者，宜洗肝散（二百四）。有翳膜者，宜撥雲散（二百五）。眼合羞明，宜羌菊散（二百六）或涼肝明目散（二百十）或望月散（二百十一）。羞明障翳，宜膽草散（二百七）。痘毒生翳，宜兔糞散（二百八）或兔糞丸（二百九）。見風太早，淚下汪洋，四弦紅赤生癢，年年復發，宜祛風明目散（二百十二）。</p>

<h2>唇口舌面</h2>
<p>唇與舌，五臟皆通，熱毒輕者，唇口如常，口亦不臭。熱毒盛者，至二三日間，唇必紫黑，或硬或裂，口氣臭，急宜解毒為主。唇硬裂者，尤凶，宜清脾胃之火，解毒湯內須加石膏，又以石膏、甘草、牛子、連翹煎水，時搽唇上。口臭者治同。滿口俱白，生口瘡者，用清胃散（百二四）敷之，痘後同。</p>
<p>聶：痘有口舌生瘡者，或是熱毒，或是虛火，當以痘色辨之，切不可概認為實熱，純用寒涼，如痘色紅紫湧盛者，熱毒也，宜清上飲（四十）。痘色淡白者，虛火也，宜參麥清補湯（十八），外用赴筵散（四一）搽之。或口舌有痘腫礙，痘靨自愈，不必治之，治亦不效。</p>
<p>朱：痘出稠密，口舌必多破爛，但不宜作臭穢氣，在長漿之際，極力攻漿，不必憂口舌之破爛。倘毒火內盛，牙床口舌糜爛臭穢，急於清毒活血湯（十四）中去人參，加熟石膏、花粉一二劑，臭穢自除。在回水之候，急用大連翹飲（二十九）去木通、車前、滑石，加黃連（酒炒）、熟石膏、薄荷、麥冬、花粉、桔梗，連進一二劑。服此臭穢不除，愈見破爛，變成牙疳，再加胡黃連、蘆薈煨為末，入前方內調服。舌有白苔，其毒已重，黃苔更重，急宜解毒，變黑則難救矣。舌卷囊縮，乃火鬱心經，症亦難治。然有啼叫火動，致舌卷不能食乳者，其舌下之筋必弦緊，須用指頭從筋上重按之，使舌筋不弦，自不卷矣，小兒不能言，醫者不可不審也。舌有黑點，舌上生疔也，必主遍身痘皆焦黑而死，急以銀針剔破，去其惡血，不復生者，可救。舌心黑，口臭，二便秘，痘色紅紫，用青黛、防風、全蠍、石膏、酒大黃共為末，作餅敷臍上。</p>
<p>結痂時面紅唇裂，宜扶元解毒湯（一百十），外用紫草、生地、紅花、甘草、黃芩、黃柏、牛子，俱生用，煎油搽之，此方痂後面唇生癢，與痘後瘡俱可用。面瘡，用細茶擂雞膏，布裹印之。</p>
<p>痘後唇口生瘡，上唇有瘡，蟲食其臟，其名曰狐；下唇有瘡，蟲食其肛，其名曰惑。皆由裡熱生蟲，其人昏昏好睡，不思飲食，其聲嘎啞，此最惡之候，必鼻崩齒落，失聲而死，宜除慝丸（百九）。又口舌生瘡，赤者名赤口瘡，心脾熱也；白者名白口瘡，心肺熱也。赤用陰陽散（百二六），白用朱礬散（百二七），通用洗心散（百二八）與服。又通名「鵝口瘡」，以鵝涎洗淨，或鵝糞煎水洗亦可，必洗淨乃可敷藥，亦有洗之即愈者，不愈，用綠袍散（百二九）敷之。</p>

<h2>唇不蓋齒</h2>
<p>痘後唇不蓋齒，此氣血兩虛，毒留脾胃也，失治將變走馬牙疳，急用人參、當歸、赤芍、元枝、牛子、連翹、石膏、石斛、甘草、元參。</p>

<h2>齒癢出血</h2>
<p>結痂時齒癢，或出血，此餘毒留於胃，將成走馬牙疳也，急用連翹、牛子、慈菇、石膏、生地、銀花、紅花、甘草，煎水噙，內服人參、石膏、牛子、慈菇、甘草、黃芩，不過數劑，癢與血俱止。</p>

<h2>走馬牙疳</h2>
<p>牙齦生癢，時時出血，繼而齦黑腐爛，其齒漸落，或每日落一齒，或一日落數齒，滿口齒落盡乃死，治法同上，或用石膏、牛子、連翹、黃芩、生地、紫草、蛇床、枯礬、甘草，煎水與噙。牙齦腐爛，宜蟬蛻散（百九五）或救苦散（六三十）敷之。又方用蠶蟲、丹皮、甘草心、連翹心、生地、銀花、桑白皮、沙參、茯苓、黃柏（炒）等分，煎服。虛弱者，加人參。</p>

<h2>瀉痢</h2>
<p>此熱毒下注大腸，或值時疫所染，五六日上，痘與痢俱，宜清毒活血，用四物湯加芩、連、木香、紅花、木通，則二症兼治矣，此時既解毒，至痘起脹用補，亦無妨於痢也。</p>
<p>痘後欲便難便，裡急後重，或赤或白，腹痛，是閫痢也，皆熱毒鬱於腸胃。赤屬血，自小腸來，白屬氣，自大腸來。赤者活血為主，四物湯加炒芩、炒連、木通、甘草、桃仁、紅花。久不愈者，去桃仁，加阿膠珠、薑炭。白者扶元氣為主，四君子湯加炒芩、炒連、木香、滑石、陳皮。裡急後重，加枳殼、生白芍。腹痛，多用木香。肛門突出，加升麻。久不愈，加黃耆、乾薑、砂仁。赤白並下，八珍湯加芩、連。小便赤澀煩渴，加生地、木通、車前、麥冬。疹後痢，由熱毒甚，當用寒涼，痘後痢必以固元氣為主，胃強能食者可治。</p>
<p>通用清熱導滯湯（七七），赤痢，或赤白相兼，加紅花、桃仁、地榆。白痢陳皮多用，芩、連俱不用。久痢脾虛，用補氣養胃和中湯（七十八），腹痛加酒芍，或用人參、白朮、茯苓、官桂、川芎、當歸、赤芍、升麻。</p>
<p>補：痘中治痢，須用保元湯（百七十），加升麻為主，隨其赤白加減治之，在痘中不致陷伏，痘後不傷元氣。</p>

<h2>便下膿血（參看泄痢大便血二條）</h2>
<p>痘後便下膿血，古名倒靨，毒從便解，不可驟止。若後重不順，利，宜黃連解毒湯（百九六）或和中湯（二百）。素有積熱，腸鳴腹痛，裡急後重，宜先用調胃承氣湯（百六），次用芩連湯（百七）或香連丸（百八）。</p>

<h2>似痢非痢</h2>
<p>痘後便下膿血，不作裡急後重，以清水試其膿血，攪動，浮有痘痂樣，此因腸胃有痘，收結滑下，無妨，用大連翹飲（二十九）清解之，此症腹不痛為異，然間有腹痛者。痘後腸胃發癰，先必作腹痛，癰熟內潰，膿血注下，不過二三日，腹痛自止，亦用大連翹飲清解之，一劑即止，勿多服。切不可用大黃下行之藥，痘毒既潰，固元氣要緊。</p>

<h2>痘後浮腫</h2>
<p>痘後膿血去盡，脾土已虧，氣血俱衰，或感風濕，或傷飲食，或留餘毒，皆能發為浮腫。感冒風寒者，多自面目先腫，身熱口渴，宜用升麻、柴胡、茯苓、木通、車前、防風、腹皮、甘草，薑蔥引。微汗，腫自退。感濕氣發腫者，多自足下先腫，其色光亮，手按之有窩，其起緩，且其人或好飲，小便赤澀，以水洗之愈腫，治當健脾利水，用蒼朮、川樸、木通、車前、滑石、瞿麥、澤泄、豬苓、茯苓皮、腹皮，煎服，外用蒼朮、檀香，燒煙燻之，以被蒙蓋，令出濕水。食積兼餘毒者，多自腹先腫，腹中必隱隱作痛，不思飲食，且腹有微熱，大便黃臭，小便赤澀，治當消導解毒，用蒼朮、厚朴、陳皮、腹皮、香附、川芎、山楂、神麯、牛子、連翹、木通、車前、茯苓、法夏、甘草。脾氣不行發腫者，其皮如鼓，按之難下，治當理氣，用人參、白朮、官桂、麥冬、大腹皮、陳皮、姜皮、茯苓皮、木香、澤瀉、車前、木通，名人參五皮散。血不行而腫者，皮膚之內，隱隱若有血路，治當活血為主，用四物湯加人參、陳皮、香附、木通、茯苓。面目四肢腫者，屬肺，因表虛為風寒所侵，當發汗，用羌活、防風、桂枝、防己，蒼朮、木通、五加皮、桑皮、大腹皮、茯苓皮、姜皮、豬苓、甘草，名加味五皮散。腹脹如鼓，眼胞微腫，屬脾，因脾土素弱，不能制水，或傷食滯積，脾不能消，以致濕熱內蓄作腫，俱用蒼朮、厚朴、陳皮、大腹皮、茯苓皮、豬苓、木香。水腫者，其陰囊亦腫，加澤瀉、滑石、車前、木通、葶藶子；積滯者，加山楂、神麯、三稜、莪朮。萊菔丸，通治一切浮腫，用萊菔子（炒）五錢，胡椒、厚朴五錢，白朮一兩，共為末糊丸，陳皮煎湯下。氣弱不行者，肉桂磨酒服，外用燒酒搽之，痘後遍身腫脹，毒入於脾，不能制水也，多不可救。</p>

<h2>痘癰</h2>
<p>聶：痘癰發於未收口前少，發於既收以後者多，未收以前，膿漿薄者或有之，既收以後，結痂浮薄，或速結速落者多有之，又有不虛寒，而誤服補劑熱劑者，亦有之，俱宜大連翹飲（二十九）。但當其初發熱發腫時，內外夾攻，急消散之為上。至於成膿，則兒難堪，在頸項胸腹腰背者尤險，外以三豆漿（八十三）塗之，或用赤小豆為細末，清水調敷，干則易之。</p>
<p>朱：痘發癰，則毒出，不能內攻，此吉兆也，然有發癰而死者，其中有陰陽之分焉。陽癰發一二處，或頭上，或手足，初起腫而紅，高聳有頂，宜內服大連翹飲，外敷三豆漿，可消則消之，不消則攻破出膿，膿盡用生肌散（三十六），貼萬應膏自愈。至於毒火內盛，回水之際，發熱蒸蒸，頸項手腿漫腫不分地界，頂不起，色不紅，痛苦十分，此陰毒也，難治，用生黃耆、白朮、茯苓、當歸、川芎、赤芍、生地、連翹、牛子、皂刺、金銀花、山甲（麵炒）、玉竹、陳皮，攻其成形。服藥後，頂漸高聳，腳漸收束成膿者，生；倘連服數劑，不見頂高腳束，即加人參，以補元氣；若猶不效，兼之惡食嘔吐，二便不調，不省人事，必死。</p>

<h2>餘毒疽癤（參看痘癰）</h2>
<p>凡痘漿清痂薄者，必有餘毒，收結之餘，其毒多發於手足腕中接骨之處，紅腫潮熱為疽為癤。發於手足四肢者輕，發於胸腹、囟門、耳下者重，此毒由骨髓，必綿延難愈，失治多致穿筋透骨，風廢拘攣，以貽終身之憂。方其始發，必然潮熱，速用大連翹飲（二十九）或仙方活命飲（二百一）（疽形既現，須用此）；或用防風、荊芥、生地、赤芍、當歸、連翹、牛子、黃連、紫草、川芎、木通、甘草、白芷，弱者加參耆；或用防風、荊芥、牛子、首烏、甘草，痛加乳香、沒藥、白芷。凡腫毒在上，用升麻引；在下，牛膝引；在手臂，桂枝引。</p>
<p>張：凡痘後，雖有餘毒，亦須顧其元氣，解毒方內必加參耆。每見醫家遇痘後潮熱，餘毒發作，恆據聶公之書，輟投大連翹飲，以致變生莫測。余治此症，調元以顧其本，解毒以治其標，又必內外交攻，毒始易去。看其腫硬之最起者，是潰膿之所也，用瓦鋒刺去惡血，然後用藥敷四圍，留口令出毒氣，將四圍之毒趕聚一團，再用膏藥貼之，拔盡毒血自愈。已成膿者，亦刺之，令膿潰痛止，亦以膏藥收功。凡餘毒不甚起頂，且不紅者，多是元氣虧，必用內托散，然後頂起腫聚，始能成膿。疽癤敷藥諸方（二百二）。毒瘡已潰，不能收口，用生肌散（三十六）或膏藥方（二百三）。痘疔潰爛成坑，或疽潰不能收結，宜人參敗毒散加山甲、蟬蛻、殭蠶、連翹與服，外用伏龍肝、陀參各二錢，輕粉、黃柏、杭粉、血蠍、生赤石脂各一錢，血餘五錢，黃丹（炒）八分，乳香、沒藥各五分，冰片一分，為末敷之，其口自合。</p>

<h2>痘後諸瘡</h2>
<p>遍身肢節生瘡者，名疳蝕，此因風寒相搏，氣血凝滯於腠理也，宜綿絲散（三十七），敷之自愈。見風太早，致成瘢癬出膿汁者，燒乾牛糞敷之。痘抓破出血，復灌膿漿，成痘風瘡，年年至春即發，但不傳染他人，用防風、荊芥、牛子、甘草、苦參、當歸，或用當歸、連翹、牛子、防風、荊芥、生地、赤芍、紫草、甘草、蒼朮、川芎、薄荷，或苦參丸（百九二）或花蛇酒（百九三）。外用黃丹、黃柏、黃芩、大黃、輕粉，共為末，豬油調敷，或一掃光（百九四）。再於曲池、風池、三里諸穴灸之，則永不發矣。又有皮膚之間，隱隱起者，俗呼疙瘡，此餘毒留滯皮膚也，宜服解毒藥，外用漆蜆剖開，取腹內之水洗之，或用蜆殼煎水亦可。蜆如螃殼，生魚泥中，凡割漆者，必用此殼，其性涼而解毒。又方，用滑石一兩，甘草五錢，為末調敷。</p>
<p>痘爛復灌，至成瘡疥，治法同痘後發癢，或用黃豆燒灰，調油搽之。</p>

<h2>赤火流丹（俗呼天虹腫）</h2>
<p>一片通紅從頭起者，過心不治，從足起者，過腎即死，此惡毒暴發，乘血橫行也，宜內服元參、歸尾、紫草、紅花、石膏、連翹、赤芍、骨皮、車前、木通、防風、荊芥、淡竹葉。外用馬蝗蜞三五條，置紅腫處，吃去惡血，以泄其毒，或用瓦鋒刺去惡血，以三漆磨好墨塗之。小便赤澀者，用元參、紅花、紫草、生地、防風、牛子、連翹、木通、車前、澤瀉、豬苓、滑石。</p>

<h2>室女</h2>
<p>室女十四歲以後，發熱之時，及報苗長漿之際，天癸暴至，不必驚恐，當問其及期否，前後錯日否，腰腹痛否，惟按發熱之時，用升麻葛根湯（一）。或元氣素弱，用加味參蘇飲（二），腹痛加酒炒香附一錢，以和其氣，不可妄用別法。且發熱報痘之時，天癸暴至，喜其毒火隨積瘀而去，將來出痘必稀。至於長漿、足漿之時，天癸適至，亦不必驚惶，詳看虛實寒熱，用藥助其長漿，調其回水，結痂而已。</p>
<p>張：發熱之初，經期適至，固喜其毒隨血解，然至三日後，血猶不止，則熱入血室，致血妄行，否則血虛不能送毒，須臾告變矣。故經行二日，急以四灰散（二百十三）調酒與服止之。若至三日，血猶不止，急以涼血地黃湯（二百十四）治之，以痘出血止為度。女子非經行之期，於發熱時，經水忽至，乃火毒內熾，觸血妄行也，其毒必盛，其血必多，急用涼血解毒湯（二百十五），倍加連翹、牛子，或用柳花散（二百十六）。女子發痘，又值行經，經水方止，身發壯熱，狂言譫語，如見鬼神，尋衣摸床，癲狂百出，目上直視，煩渴不寧，此陰虛似實，切不可作實熱治之。痘未出者，逍遙散（二百十七）加丹皮。痘已出者，加味歸脾湯，即歸脾湯加柴胡、山梔。又有邪熱乘虛入血室，以致譫狂者，古用瀉肝散（二百十八），不若逍遙散加防風更妥。女子正值崩漏，適逢出痘，氣血俱虛，必不能送毒出外，急宜大補氣血，用十全大補湯或參歸鹿茸湯（十五），否則必不能出，雖出亦易倒陷。女子一向經閉，血海已涸，適逢出痘，毒氣鬱於沖衛之間，二陽併發，其熱必甚，其症最危，切不可用攻擊之藥，使血妄行，須養心補血，調理脾胃為主，用歸脾湯略加攻毒之藥，或用逍遙散。女子出痘，當起脹灌漿之時，忽然行經，恐血虧裡虛，痘易倒陷，宜十全大補湯或參歸鹿茸湯。女子痘當起發之時，其經忽來，不能言語，乃血虛之甚，少陰之脈不能上榮於舌也，宜當歸養心湯（二百十九），待其能言，復用十全大補湯。女子痘當灌漿之際，經水大來，血虛不能化毒，以致灰白倒陷，急用調元內托散（二百二十），外用胡荽酒噴之，使痘起脹，或於空處又出一層，乃吉。服此不效，寒戰咬牙，喘急腹脹，又增他症，必難治矣。</p>
<p><u>固經方</u>　出痘行經，一則懼其氣虧，一則慮其血衰，急取桃樹上寄生，擂敷足底湧泉穴，三炷香久，經水自回。</p>

<h2>孕婦</h2>
<p>孕婦出痘，先以托痘為標，次以保胎為本，宜升麻葛根湯（一），加酒炒黃芩六分，土炒白朮五分，以保胎元。至於長漿之際，痘暈老紅或紫紅，宜清毒活血湯（十四），加白朮五六分。若痘暈淡紅或淡白，用千金內托散（十六），倍加參耆，去肉桂，外加土炒白朮一錢。</p>
<p>張：孕婦出痘，以清熱安胎為主，初熱血動者，宜四物湯加芩、連，或用罩胎散（二百廿一）。孕婦出痘，身熱腹脹，手足冷，宜八物湯（二百廿二）加木香。孕婦腰痛，用保胎方（七十二）。孕婦出痘，胎將動者，急用安胎散（二百廿三），恐胎落，則痘陷也。</p>
<p>朱：孕婦出痘，從前不能按法調治，熱蒸胎墜，當令老成穩婆攙扶產婦，以熱水淨浴下身，仍照半產大產之例，扶其上床，不要睡倒，須強扶少坐一二刻，用滾水白酒一鍾，入童便半盞和服，行其瘀血，痘易出易起。若痘出稀疏，精神清爽，二便調，飲食好，不必妄加治法。天氣寒，則以棉絮保護，天氣熱，切不可洗浴，妄用紙扇，貪受過門涼風。至於長漿，仍看虛實寒熱，加減用藥，助其足漿。倘毒火內盛，略用芩、連三五分清之。胎落痘稠密者，用人參、黃耆、川芎、當歸、防風、白芷、白芍、桔梗、厚朴、木香、肉桂、紫草、牛子。產後寒戰咬牙，虛甚也，宜大補湯加桂附。產後小腹急痛，瘀血未淨也，略與黑神散（二百廿四）行之。胎已落者，法以補血為先。但收靨時胎落者，多有可救；發熱初出時胎落者，猶可救；惟當起脹灌漿時而胎落者，多致不救。</p>
<p><u>安胎方</u>　孕婦出痘，腹中作痛，乃胎動也。急宜內服安胎藥，外用蓮蓬殼、益母草，俱燒灰存性，艾葉為末各三錢，醋調敷臍上，連換三次，其胎自安。</p>
<p><u>下胎方</u>　孕婦出痘，激動其胎，又不得下，或胎死腹中，最為危險。急取推車蟲並其所推泥丸共焙，加威靈仙同研末，酒調為丸，納臍中，膏藥貼住，三炷香久，其胎即下。</p>

<h1>卷四</h1>

<h2>異痘類</h2>
<p>天根痘（生），諸痘不起灌，惟天庭、太陽起灌。天庭為諸陽之首，此處起，則陽氣必旺，余亦將漸次起矣，十有九生。</p>
<p>天空痘（死），諸痘雖起，惟天庭、曉星不起，此陽氣虧也，必死。</p>
<p>明朗痘（生），諸痘不起灌，惟太陰、太陽起灌。太陰太陽，乃日月光華之地，二處起灌，則血氣俱盛，其後諸痘必起。</p>
<p>明蝕痘（死），諸痘皆起，惟太陰、太陽不起，日月當明而不明，如天狗之蝕焉，此氣血兩虧，後來諸痘必不能運化。</p>
<p>海溢痘（生），諸痘不起，而耳後方圓一寸獨起，此處屬腎，名星宿海，海既充溢，則腎旺精足可知。</p>
<p>海枯痘（死），諸痘皆起，惟耳後方圓一寸不起，若不調元補腎，必變唇裂齒崩死。</p>
<p>有根痘（生），地角方圓，其痘起脹，明潤如珠，十有十全，此腎足也，腎為人之根本，故曰有根。</p>
<p>無根痘（死），諸痘雖好，惟地角乾枯不灌，或灰白塌陷，此腎水絕也。</p>
<p>抱鼻痘（陷），面部雖稀，而鼻梁左右密如蠶種，此毒聚於脾胃也。</p>
<p>單鎖口、雙鎖口（危），嘴角有黑痘一粒獨大，名單鎖口，兩嘴角俱有，名雙鎖口，皆惡候也，主不食，死。見此即宜剔出惡血，以拔疔散（三十五）敷之，或可救，此毒聚於胃也。</p>
<p>鎖項托頤（危），遍身俱稀，惟頸項稠密如蠶種，不分界地，名鎖項，竟至於頤者，名托頤，主飲食不進，聲啞死。蓋頸項為陽道上升之要樞，毒凝於此，則陽不能升，焉有不死。</p>
<p>豬頸痘（險），痘出喉窩及頸窩甚多，名豬頸，主喉痛咽爛，死。急用豆根、元參、桔梗、甘草、生地、川芎、歸尾、木通、牛子與服，緩則毒結於喉，必難治也。</p>
<p>兩頭痘（險），自胸以上、自臍以下俱有痘，而中間一截全無，此氣血不能貫通於上下腰臍之間，寒毒凝滯，若不急治，七日後必變灰白。見點之時，急用生耆、當歸、赤芍、桔梗、防風、厚朴、續斷、白芷、山楂、木通，入黃豆三十粒，服此，中間有痘，乃可救（按：此即斷橋症也）。</p>
<p>逆痘（生），上身痘少，下身痘多，或從下身先出，升漿收結，俱先下身，此雖出於常數之外，其實無妨。</p>
<p>鬼擺痘（死），通身無點粒，各處一片紅青，狀若打傷，七八日內必死。</p>
<p>鬼痘（險），手足胸背俱多，而頭面全無，其痘如鬼，不敢見於陽道也，又名無頭痘，此氣血不能上升，急於五日之內，提氣上行，令頭面略見點粒，或可救，不然，諸痘雖出，亦難起灌，即痘無虞，其後必主曲池生毒，見骨而死。若四肢胸背俱稀者，不在此例，治法用升麻、川芎、白芷、防風、羌活、前胡、生耆、當歸、桔梗、甘草、筍尖、生薑引。</p>
<p>賊痘（死），初出如綠豆，過一日大如黃豆，再一日大如龍眼，其大甚速，根窠與頂全無血色，雖起脹，而按之虛軟，痘中有此，為閉毒之症，後必上下失血死。又有一種於將熱之時，或初熱一二日間，天庭太陽忽見標數點，大如赤豆，光亮好看，過一二日即收沒，猶之賊欲攻城陷地，先命一二細作探其虛實，名曰賊標，此標既沒，隨發大熱，遍身之痘，必如鋪氈蠶種，不可救療，凡見此痘，俱急用銀針剔破，去其惡血，以拔毒散（三十五）敷其口或可救。</p>
<p>蛇皮痘（死），頭面遍身，俱無空地，狀若蛇皮，必乾枯不能作漿，至十二三日死。（張遜玉曾治此症，先用解毒，次用補托，竟獲安痊，但必猛攻，不可觀望。）</p>
<p>藥患痘（險），初標紅潤，至七八日忽變陷伏，此必其人氣血虛弱，而毒又盛，庸醫見其初標紅潤，翫忽不治，或審證未明，誤投藥餌。</p>
<p>九焦痘（死），天庭、地角、右顴、左顴、耳後、胸背、手足九處皆有一二點，黑陷焦枯是也。</p>
<p>伏陰痘（險），痘不灌漿而瀉膿血，此毒氣陰伏於內，不能升發於外，十一日死，早於七八日上，溫中內托，或猶可救。</p>
<p>空倉痘（死，善治亦可救），痘雖肥滿，內實幹枯，全無血水，硬者名鐵殼空倉，此等症，其氣雖盛，其血必虧，或從前失於解毒，致毒火內熾，其血愈涸，治法見灌漿險症。</p>
<p>石臼痘（死），其痘四弦起，而中窩雖明亮好看，內無膿漿，摸之其硬如石，此毒凝於表，血涸於中，不可治也。</p>
<p>茱萸痘（險），其痘不甚起脹，四弦起而中略陷，頂有亂紋，形若茱萸，後必空漿倒陷死，此毒氣盛，中氣又虛，故痘頂有紋，不尖圓也。張遜玉治一兒，用川芎、升麻、生耆、赤芍、牛子、連翹、黃芩、黃連、蟬蛻、白芷、甘草煎服，外以水楊柳洗之，連進數服，茱紋乃除，後以補氣為君、補血為臣，竟愈。凡治此症，必解毒行氣。</p>
<p>蟲痘（險），蠅吮其汁，痘內生蛆，癢甚，用針挑去蛆蟲，治法見收結險症。</p>
<p>血痘（死），初出血點，其色紅紫，七日內必死，又遍身如硃筆點者，內根已腐，外苗必萎，必無生理。</p>
<p>血泡痘（險），痘泡通紅，其內是血，此血熱毒熾，不能運化成漿，急宜涼血清毒，用生地、赤芍、紅花、紫草、丹皮、牛子、黃芩、白芷。弱者，加人參；身熱，加全胡。</p>
<p>聶云：此氣虛也，大補其氣，泡即轉白，詳見首卷氣血篇。</p>
<p>（按：真血熱症，痘必枯焦，帶紫黑色，甚至遍身無痘處，亦不紅活而紫。）</p>
<p>血靨痘，又名珍珠痘（甚佳），痘出稀少，四五日胖如黃豆，七八日帶血而靨，十日落痂，痂若明珠，此氣血充足而毒又輕，故隨出隨結，不及釀膿也，此痘百無一凶，且主貴。</p>
<p>白漿痘（險），痘初起即有白漿，其後必灰白癢塌，蓋漿由腳起，乃為順。今毒參陽分，陰血不能運化，不久即陷伏也。初起間有數點，即刺去其漿，旋有此者，又刺之，時時瞻顧，不可怠玩。內服千金散，大補氣血，可保無虞。若遍身如此，則難治矣。</p>
<p>四圍痘（死），痘出後，四圍又生小痘，攢簇本痘，後必串成一痘為水泡，不可治也。此症僅見於手足者無妨，遍身如此，必不可救。</p>
<p>漏痘（險），痘未成膿，頂上有孔，漏出汁水堆結，形若癩頭，俗呼漏瘡。此表虛不能養漿，急宜補氣健脾，固其肌肉，治法見灌漿逆症。</p>
<p>蛀痘（險），痘有小孔針嘴大，如蟲蛀之狀，此腠理不秘，大泄元氣，不急治，必灰陷死。用人參、炙耆、當歸、炙草、桂心、丁香，加荔枝引，必孔秘，痘乃起脹行漿也。</p>
<p>（按：此症與漏痘略同。）</p>
<p>瑠璃痘，又名隱血痘（危），痘雖光亮，全無血色，形若瑠璃，略擦即破，內俱清水，或出血總無膿漿，此氣血不能運化毒氣也，後必音啞死，急取其尤者，刺去其水，再用實漿散（百七三）加黃豆四十九粒。</p>
<p>赤萍、紫萍、白萍（皆死），痘出後，形若浮萍，連片虛浮，不分顆粒，又無起脹之勢，其色赤者名赤萍，紫者名紫萍，白者名白萍。</p>
<p>草尾珠（生），遍身俱陷，惟尻骨一圍，飽滿潤澤，其明如珠，此必腎足精充，急用內托之劑，則遍身之痘俱起矣。</p>
<p>黑痘（死），痘毒隨血出，毒盛血熱，故其痘黑，此必死之症，古方雖有數條，總以涼血解毒為主，姑載於後。初見黑點在皮膚之間者，用硃砂、冰片、牛黃，或用豬尾血調人牙散，好酒同服；初出點便黑者，用紫草茸二三錢，好酒調服；又皮膚髮青紫紋者，用紫草一錢，紅花、荊芥、防風、牛子、生耆各八分，甘草三分，升麻五分，木香三分；黑痕並黑靨者，用蟬蛻五個，紫草茸一錢；黑如煤炭，血不紅活，用紫草、紅花、生地、牛子、赤芍；黑而軟者，氣弱血熱也，用參耆實表湯（三十二）加紅花、紫草、生地；焦黑潮熱煩躁者，用小無比散（百四五）加紫草、生地、紅花，磨犀角調服。</p>
<p>氣血兩敗痘（死），近看形如水蓼花，遠望胭脂甚可誇，臨漿清水無膿汁，古聖名醫束手嗟。</p>
<p>復出痘（險），有等痘出甚稀，依然起漿收靨，究竟皮膚之內有痘未出，靨後頤下發毒死，此由元氣虛弱，不能送毒故也。凡痘出稀者，須要捻子照之，若皮下隱隱有點，是痘未盡出，急與千金內托散（六十），托出其痘，方可無虞。</p>

<h3>云翼子二十八般怪痘</h3>
<p>丹云繞頂，遍身痘俱好，惟頭頂一片通紅，此虛火上炎也，宜滋陰降火，通利小便，則火氣下行矣。</p>
<p>紫雲貫頂，遍身痘好，但頭頂一片，焦紫陷伏，此毒凝陽分，陽氣莫升，不久皆陷伏也。若不焦紫乾枯，則非此症。頭為純陽，足為純陰，凡痘之起脹，必下至足，頭乃行漿，收靨亦然。</p>
<p>烏紗覆頂，頭上一片黑痘，連皮膚俱有黑氣，此元陽將脫也，不治。</p>
<p>梨花幔頭，頭上一片白陷，此元陽虛也，急用保元湯加肉桂、附子、鹿茸、川芎或可救。</p>
<p>霞掩天庭，遍身之痘，磊落光明，惟天庭一片，俱是血泡，連皮都紅，此心經蘊熱，急宜清心解熱，以犀角、黃連、麥冬、連翹加豬心血與服。</p>
<p>紫萍鋪額，額上之痘，形若紫萍，此心經熱毒之甚，其人悶亂不寧。若諸部痘好，用小無比散（百四五），外加元參、升麻、犀角與服，或可救。</p>
<p>烏紗蓋額，大庭額顱俱是黑痘，兼見黑氣，不治。</p>
<p>灰撲印堂，印堂之痘有灰色，此心經血虛，宜千金散（十六）加豬心血服。</p>
<p>紅紗拂面，滿面雖分顆粒，但點子紅若硃砂，人皆以好痘，孰知此由血熱大甚，若不急治，將變紫矣，宜涼血之劑。</p>
<p>楊花拂面，滿面之痘，俱白色不起，此氣血面虧也，宜千金內托散，多加鹿茸，或加附子。</p>
<p>赤紗繞唇，唇若塗朱，或硬裂，此脾經熱甚也，宜清脾胃之毒。</p>
<p>烏飯沾唇，唇皆黑痘，或黑色必死。霞錦鋪胸，心胸一片，紅色如霞，痘無顆粒，此心經毒火散漫，不治。</p>
<p>紫雲布胸，症與上略同，但其色紫，其死更速。</p>
<p>黑棋排胸，胸前盡是黑痘，三日內死。</p>
<p>楊花飛胸，胸前盡是白痘，全無紅暈，此心經血虧，失治必轉灰陷，急用參歸鹿茸湯加豬心血。</p>
<p>桃花映背，背上痘稠密而淡紅，其紅散漫，界地不分，此心經火毒未清也，急用元枝、白芍、川芎、丹皮、紅花、連翹、麥冬、生耆、甘草，否則不能成漿，此症宜側睡，正臥則背上之血不行。</p>
<p>紫萍浮背，背上之痘若浮萍，其色紫，此毒盛而腎氣又虛，宜調元化毒湯（十），去防風、荊芥，加豬尾血，效則可救。</p>
<p>黑砂滿背，背上盡是黑點，不治。</p>
<p>云鋪魚背，滿背清黑如雲，痘若魚鱗，此氣血已枯，毒氣又盛，必死。</p>
<p>赤鱗穿腹，腹上痘密如鱗，其色紅，此脾胃火毒，宜人參白虎湯，加丹皮、生地。</p>
<p>黑緞纏腹，腹上連皮及痘俱黑，必腹脹音啞死。</p>
<p>白黎落地，痂薄色白，遍身痂痕，俱無血色，此氣血兩敗也，急用十全大補湯，加鹿茸，否則半月後必發驚死。</p>
<p>葡萄落地，痘前痘後，忽然片片青紫若葡萄者，兩日必死。</p>
<p>爛粟居臀，遍身痘好，惟臀及髓尾，如粟之叢，臭爛難聞，此下元虛也，宜大補湯。</p>
<p>榴花遍野，諸痘俱好，惟四肢紅紫，唇口如朱，或硬裂，此脾肺熱盛也，宜赤芍、生地、紫草、牛子、石膏、甘草、桂枝。</p>
<p>黑珠遍體，遍身痘盡枯黑，手足如柴灰，命在旦夕。</p>
<p>楊花發枝，諸痘俱好，惟手足灰白，宜用人參、鹿茸、白朮、黃耆、丁香、附子、當歸、肉桂、桂枝、炙草、煨姜。</p>

<h3>朱氏逆症十三條</h3>
<p>矇頭，一也，面部身上及手足俱稀疏，獨頭上至髮際形若蠶種，此逆症也，若稠密有地界，又當別論。</p>
<p>蓋面，二也，他處稀疏，獨面上形若蠶種，無絲毫空處，此逆症也，若稠密有地界，又當別論。</p>
<p>托腮，三也，他處俱稀疏，獨兩腮頰及地角相連一片，形若蠶種，此逆症也，若稠密有地界，又當別論。</p>
<p>鎖項，四也，他處俱稀疏，獨項間形若蠶種，此逆症也，若稠密有地界，又當別論。</p>
<p>雲錦鋪胸，五也，他處俱稀疏，獨胸前一處，上連咽喉之下，下及兩乳之上，形若蠶種，此逆症也，若稠密有地界，又當別論。</p>
<p>雲錦鋪肩，六也，他處稀疏，獨兩肩及後頸窩形若蠶種，此逆症也，若稠密有地界，又當別論。</p>
<p>前後補服，七也，他處俱稀疏，獨心窩之下，肚臍之上，背脊鳳翅骨之下，脊後腰之上，前後如職官穿補服樣，或方或圓，形若蠶種，此逆症也，若稠密有地界，又當別論。</p>
<p>斷橋，八也，他處俱稠密，不分地界，獨腰間周圍不見痘粒，猶橋之中斷，此逆症也，若上下別處所出之痘有地界，又當別論。</p>
<p>蝦蟆瘟，九也，遍身上下，痘出稠密，不分地界，獨胸腹之間，不見痘粒，如蝦蟆形狀，此逆症也，若稀疏又當別論。</p>
<p>無根，十也，通身上下俱稠密，不分地界，獨兩手心、兩足心無痘，手足為諸陽之本，陽絕故無痘，此逆症也，若通身稀疏，又當別論。</p>
<p>枯樹掛蛇，十一也，有單掛，有雙掛，有掛在手肱者，有掛在腿股者，他處俱稀疏，獨掛處如蛇形纏繞，密如蠶種，此逆症也，若稀疏有地界，又當別論。</p>
<p>玉帶橫腰，十二也，他處俱稀疏，獨腰周圍密如蠶種，闊不過二寸，如帶之纏，此逆症也，若稀疏，又當別論。</p>
<p>形如瓜瓠，十三也，痘初見標，尚未出齊，及將出齊之際，痘未見起發，而面部腮頰及兩目俱腫脹，形如瓜瓠，因毒氣內盛，先攻脾肺，此逆症也。煩躁頓悶，昏沉不省人事者，決不可救。</p>

<h2>水痘赤痘</h2>
<p>水痘，全是水泡，毫無膿漿；赤痘初出，形色微赤，亦水痘之類也。二痘初起，亦發熱頭疼，嘔吐，即出後一二日間即結薄痂，此由脾肺濕熱，外感風寒而發也。</p>

<h1>卷五</h1>

<h2>痘科諸方</h2>
<p><u>（一）加味升麻葛根湯</u></p>
<p>粉葛　升麻　赤芍　甘草　桔梗　防風（去蘆尾）　蘇葉　小川芎　山楂肉　牛子　生薑（引）</p>
<p>水煎熱服，取汗。</p>
<p><u>（二）加味參蘇飲</u></p>
<p>人參　蘇葉　小川芎　桔梗　全胡　陳皮　甘草　茯苓　粉葛　法夏　牛子　山楂　生薑</p>
<p>水煎，熱服取汗。</p>
<p><u>（三）敗毒和中散</u></p>
<p>連翹　牛子　黃連（酒炒）　枳殼　防風　荊芥　桔梗　紫草茸　蟬蛻（去頭足）　小川芎　全胡　木通　升麻　甘草　麥冬</p>
<p>大便秘者，加酒炒大黃微利之，不秘勿加。</p>
<p><u>（四）升消平胃散</u></p>
<p>小川芎　香附（炒）　蒼朮　紫蘇　厚朴（薑汁炒）　藿香　砂仁　陳皮（去白）　炙草　麥芽　炒山楂　生薑</p>
<p>水煎，帶熱服。</p>
<p><u>（五）參砂和胃散</u></p>
<p>人參　砂仁　法夏　白朮　茯苓（去皮）　藿香　陳皮　炙草　煨姜（去皮）</p>
<p>煎服。</p>
<p><u>（六）術苓調脾散</u></p>
<p>白朮　茯苓（去皮）　白芍（酒炒）　神麯（炒）　炙草　白扁豆（薑汁浸去殼）　炒砂仁　香附　炒厚朴　制煨姜　大棗（去核）</p>
<p>煎服，或加人參。</p>
<p><u>（七）清解散</u></p>
<p>防風　荊芥　蟬蛻　桔梗　小川芎　全胡　粉葛　升麻　黃芩（酒炒）　黃連（酒炒）　紫草　木通　牛子　連翹　山楂　甘草　生薑</p>
<p>水煎溫服。</p>
<p><u>（八）蘇解散</u></p>
<p>前方去芩、連，加紫蘇、白芷、羌活。</p>
<p>生薑，水煎熱服。</p>
<p><u>（九）溫中益氣湯</u></p>
<p>人參　白朮　生黃耆　當歸身（酒洗）　茯苓　炙草　川芎　白芷　防風　南木香　官桂　山楂肉　生薑</p>
<p>大棗煎服，中病即止。</p>
<p><u>（十）調元化毒湯</u></p>
<p>人參　生黃耆　生白芍（酒洗）　當歸（酒洗）　牛子　連翹　黃芩　黃連（各酒炒）　防風　荊芥桔梗　前胡　木通　紫草茸（酒洗）　紅花（酒洗）　生地黃（酒洗）　甘草　蟬蛻　山楂　生薑</p>
<p>水煎溫服。腹痛，去參、耆，加枳殼（炒）；大便久秘，去參、耆，加酒炒大黃微利之，大便通仍除之；若血氣與毒氣俱旺，脈洪數者，歸、芍減三之一，去參、耆。</p>
<p><u>（十一）加減參蘇飲</u></p>
<p>蘇葉　人參　陳皮　小川芎　羌活　防風　荊芥　桔梗　白芷　甘草</p>
<p>冬，加麻黃、生薑。水煎，帶熱服，但不可出汗。</p>
<p><u>（十二）平和湯</u></p>
<p>人參　當歸　桔梗　白芍　紫蘇　黃耆　防風　白芷　甘草　官桂　沉香　檀香　乳香　藿香　生薑</p>
<p>水煎溫服。</p>
<p><u>（十三）姜附湯</u></p>
<p>白附子　老生薑</p>
<p>濃煎服。</p>
<p><u>（十四）清毒活血湯</u></p>
<p>紫草茸　當歸（各酒洗）　前胡　牛子　木通　生地黃　生白芍（各酒洗）　連翹　桔梗　黃芩　黃連（俱酒炒）　甘草　山楂肉　人參　生黃耆　生薑</p>
<p>煎服。煩渴者，去參、耆，加麥冬、花粉（酒炒）。</p>
<p><u>（十五）參歸鹿茸湯</u></p>
<p>鹿茸（酒塗，炙去毛，酥炙，恐其膻也）　嫩綿黃耆（蜜炙）　當歸身　炙草　人參　生薑　龍眼肉</p>
<p>煎去渣，入好酒一杯，能飲者藥汁與酒相伴和服。</p>
<p><u>（十六）千金內托散</u></p>
<p>人參　當歸身　黃耆（蜜炙）　酒芍　大川芎　官桂　甘草（炙）　山楂肉　南木香　防風　白芷　厚朴（炒）　生薑　龍眼肉</p>
<p>水煎，入好酒和服。一方有桔梗。</p>
<p><u>（十七）參耆湯</u></p>
<p>人參　黃耆（蜜炙）　甘草（炙）　官桂　生薑</p>
<p>水煎溫服。</p>
<p><u>（十八）參麥清補湯</u></p>
<p>人參　麥冬（去心）　花粉（二味酒蒸，曬乾）　生黃耆　前胡　牛子（炒）　甘草（生炙各半）　白芍（酒炒、生用各半）　當歸　紅花　生地黃（各酒洗）　大川芎　桔梗　山楂　生薑　龍眼肉</p>
<p>水煎溫服。</p>
<p><u>（十九）梔連二陳湯</u></p>
<p>黃連　梔子（俱薑汁炒）　白茯苓　製半夏　陳皮（去白）　甘草（炙）　生薑</p>
<p>水煎緩緩服，吐止即勿服。</p>
<p><u>（二十）加味四苓散</u></p>
<p>豬苓　木通　澤瀉　赤苓　車前（略炒）　黃連　黃芩（俱乾炒）　牛子（炒香，研）　燈心（一團）</p>
<p>水煎，食前服。</p>
<p><u>（二一）參朮散</u></p>
<p>白朮（去皮）　人參　茯苓（去皮）　砂仁　甘草（去皮，炙）　米仁（炒）　家蓮子（去心）　真神麯（炒）　山楂肉　肉豆蔻（麵裹煨熟去面，用火紙包，打去油，忌鐵）　訶子（煨，取肉去核）　廣陳皮（去筋膜）　南木香</p>
<p>共為極細末。每用二錢，清米飲調，食前溫服，兒有不肯服者，入稀粥內和服。</p>
<p><u>（二二）七味豆蔻丸</u></p>
<p>肉豆蔻　訶子（制俱同上）　砂仁　南木香　白龍骨（煅）　赤石脂（煅）　枯礬</p>
<p>麵糊丸，綠豆大。每用清米飲下，三十丸或二十丸，兒有不能吞者，將丸研碎入粥內服之。</p>
<p><u>（二三）歸耆湯</u></p>
<p>當歸身　黃耆（蜜炒）　酸棗仁（炒）</p>
<p>研。水煎服。一方加白朮、茯苓；一方加麥麩。</p>
<p><u>（二四）養胃開痰湯</u></p>
<p>人參　白朮　甘草（炙）　白茯苓　山楂肉　山藥（炒）　家蓮子（去心，炒）　陳皮（去白）　製半夏　桔梗　生薑</p>
<p>水煎溫服。渴者，去半夏，加麥冬、北五味；吐逆者，加藿香、砂仁。</p>
<p><u>（二五）建中湯</u></p>
<p>人參　蜜耆　白朮　當歸身　大川芎　大附子（制）　乾薑（炒黑）　肉桂　炙草　丁香　生薑</p>
<p>水煎溫服。</p>
<p><u>（二六）溫表調中湯</u></p>
<p>蜜耆　人參　白朮　茯苓　官桂　大川芎　當歸身　乾薑（炒）　炙草　防風　白芷　丁香　附子　生薑</p>
<p>水煎溫服。</p>
<p><u>（二七）清表解毒湯</u></p>
<p>地骨皮　麥冬　花粉（酒炒）　牛子　連翹　當歸　豬苓　澤瀉　酒芩　木通　甘草</p>
<p>水煎溫服。</p>
<p><u>（二八）消毒散血湯</u></p>
<p>牛子　生白芍（酒洗）　桃仁（炒去皮尖，研爛）　大黃（酒炒）　紅花（酒洗）　沒藥　乳香（俱用燈心同研細）</p>
<p>煎藥將熟，投入乳沒，略煎溫服。</p>
<p><u>（二九）大連翹飲</u></p>
<p>連翹　牛子　柴胡　當歸　赤芍　防風　木通　車前　荊芥　黃芩　山梔（各酒炒）　滑石　甘草　蟬蛻　生薑</p>
<p>煎服。大便秘者，另酒炒大黃。</p>
<p><u>（三十）補中益氣湯</u></p>
<p>人參　蜜耆　白朮　當歸身　柴胡　升麻　川芎　炙草　陳皮</p>
<p>渴，加麥冬、北五味、生薑。水煎溫服。一方有茯苓，無川芎、陳皮。</p>
<p><u>（三一）玄參升麻湯</u></p>
<p>元參　升麻　甘草　防風　荊芥　牛子</p>
<p>水煎溫服。一方有紅花、紫草、黃芩，無牛子、防風。</p>
<p><u>（三二）參耆實表湯</u></p>
<p>蜜耆　人參　炙草　官桂　防風　白芷　當歸　川芎　桔梗　厚朴　南木香　生薑</p>
<p>水煎溫服。</p>
<p><u>（三三）參歸大補湯</u></p>
<p>人參　當歸　蜜耆　川芎　桔梗　楂肉　炙草　防風　白芷　厚朴　紫草茸　南木香生薑</p>
<p>水煎溫服。</p>
<p><u>（三四）四聖石膏</u></p>
<p>珍珠　豌豆（俱燒存性）　亂髮灰　冰片</p>
<p>用油胭脂點成膏。先將金銀簪撥開疔口，將藥點入，開轉紅活。</p>
<p><u>（三五）拔毒散</u></p>
<p>雄黃研細，胭脂浸濃水調，點疔頭上，即時紅活。</p>
<p><u>（三六）生肌散</u></p>
<p>地骨皮　黃連（炒）　黃柏（炒）　五倍子　生甘草（等分）</p>
<p>為細末。乾摻之。一方加枯礬。</p>
<p><u>（三七）綿繭散</u></p>
<p>出蛾綿繭，不拘多少，以生明礬末填在內燒，令汁盡，成灰為末。乾摻之。一方加陀僧、白芷，減陀僧一半。</p>
<p><u>（三八）發灰散</u></p>
<p>用少壯無病人亂髮，不拘男女，肥皂洗淨油垢氣，又用溫湯洗淨肥皂氣，入瓦罐內，鹽泥封固，木炭火圍泥罐一半，煅一炷香久，取出候冷，研細。每用二錢，童便七分，酒三分調服。</p>
<p><u>（三九）清肺湯</u></p>
<p>花粉（酒炒）　麥冬　天冬（酒蒸）　甘草　桔梗　當歸　生白芍（酒浸）　黃芩（酒炒）　丹皮（酒洗）　知母（蜜炒）　生薑</p>
<p>水煎服，入發灰一錢調服，尤妙。</p>
<p><u>（四十）清上飲</u></p>
<p>薄荷　防風　甘草　粉葛　牛子　連翹　桔梗　黃芩　黃連　花粉（俱酒炒）　麥冬　生薑</p>
<p>水煎溫服。</p>
<p><u>（四一）赴筵散</u></p>
<p>薄葉　黃柏（各等分）</p>
<p>為細末。入青黛少許，和勻。摻之。</p>
<p><u>（四二）利咽解毒湯</u></p>
<p>山豆根　麥冬　元參　桔梗　牛子　防風　甘草　生薑</p>
<p>水煎，食後良久，溫服，每一煎分二三起，緩緩服之。</p>
<p><u>（四三）玉鎖匙</u></p>
<p>硼砂（一錢）　朴硝（五分）　殭蠶（一條）　片腦（五釐）</p>
<p>共為細末。竹管吹之。</p>
<p><u>（四四）導赤散</u></p>
<p>木通　赤茯苓（去皮）　麥冬　車前（微炒）　生地黃　甘草　人參　燈芯（一團）　龍眼</p>
<p>水同煎，飢時服。</p>
<p><u>（四五）清毒拔翳湯</u></p>
<p>黃連（酒炒）　當歸　花粉（酒潤）　牛子　草決明　桔梗　甘草　白蒺藜（炒去刺）　甘菊花　蜜蒙花　穀精草　木賊　粉葛　川芎　羌活　柴胡　防風　薄荷　生地黃　山梔（酒炒）　生薑</p>
<p>水煎，食後良久服。大便秘者，加大黃酒炒，服一二劑仍去之。此方毒輕者不過十劑愈，毒重者必數十劑乃效。</p>
<p><u>（四六）九味神功散</u></p>
<p>人參　黃耆　甘草　牛子　紅花　全胡　生地黃　紫草茸　白芍（各等分）</p>
<p>煎服。</p>
<p><u>（四七）十神解毒湯</u></p>
<p>歸尾　生地　紅花（俱酒洗）　丹皮　桔梗　赤芍　大腹皮（洗極淨，薑汁拌曬）　木通　連翹　小川芎</p>
<p>煎服。此方與敗毒和中散可參用。</p>
<p><u>（四八）荊防解毒湯</u></p>
<p>防風　荊芥　升麻　黃芩　黃柏（俱酒炒）　元參　牛子（炒研）</p>
<p>水煎服。</p>
<p><u>（四九）鼠黏子湯</u></p>
<p>牛子（炒研）　當歸身　炙草　柴胡　連翹　酒芩　黃耆　地骨皮（各等分）</p>
<p>煎服。</p>
<p><u>（五十）異功散</u></p>
<p>人參　白朮　茯苓　當歸　陳皮　厚朴　製半夏　木香　丁香　肉果（麵裹煨熟，去面，去油）　製附子　官桂　加姜　棗</p>
<p>水煎服。一方無附子，有訶子，煨取肉，去核。</p>
<p><u>（五一）回生丹</u></p>
<p>丁香（九枚）　乾薑（一錢）</p>
<p>水煎服。</p>
<p><u>（五二）八正散</u></p>
<p>赤苓　瞿麥　萹蓄　車前　山梔　木通　滑石　甘草　燈芯</p>
<p>煎服。熱甚，大便秘者，加大黃。</p>
<p><u>（五三）無價散</u></p>
<p>用無病小兒糞陰乾，將傾銀罐二個，入糞上下合定，鹽泥固，濟火煅通紅，取出為末。蜜水調服一錢，一方加麝香、冰片少許。</p>
<p><u>（五四）辰砂益元散</u></p>
<p>滑石（六兩）　辰砂（三錢）　甘草（一兩）</p>
<p>並水飛過，每服一錢，大人二錢，燈芯湯下。</p>
<p><u>（五五）豬尾膏</u></p>
<p>冰片（一分半）　刺豬尾血（一錢）</p>
<p>同研，溫酒調服。</p>
<p><u>（五六至六一）</u>　並空。</p>
<p><u>（六二）清胃敗毒湯</u></p>
<p>殭蠶　丹皮　甘草　連翹　生地　桑皮　沙參　白茯　金銀花　黃柏（蜜水炒）</p>
<p>體虛，加白朮。</p>
<p><u>（六三）救苦散</u></p>
<p>人中白（火煅，五分）　青黛（飛過，五分）　冰片（一分）　白殭蠶（一錢半）　寒水石（井水飛過，三錢）　黃柏（錢半）</p>
<p>共為細末。先以苦茶拭過，隨搽患處。富便之家，加牛黃二分研入，其效更速。</p>
<p><u>（六四）二聖散</u></p>
<p>苦參（三錢）　白殭蠶（二錢）</p>
<p>共為細末。吹入。</p>
<p><u>（六五）和中湯</u></p>
<p>白朮　酒芍　防風　白茯　乾葛　丹皮　桔梗　生薑　紅棗</p>
<p>煎服。</p>
<p><u>（六六至七一）</u>　俱空。</p>
<p><u>（七二）保胎方</u></p>
<p>歸身（去尾）　真川芎　白茯　川續斷　杜仲（薑汁炒）　玉竹　酒芩　白朮　甘草</p>
<p><u>（七三）宣毒透疹湯</u></p>
<p>乾葛　前胡　芥穗　防風　連翹　牛子　枳殼　木通　桔梗　酒芩　薄荷　甘草（去皮）　淡竹葉　燈芯（引）</p>
<p>如口糜爛，加熟石膏。</p>
<p><u>（七四）清毒保目湯</u></p>
<p>柴胡　連翹　梔仁　酒芩　芥穗　防風　赤芍　牛子　蟬蛻（十二個，如有閏十三個）　當歸　甘草　川芎　升麻　薄荷　桔梗　燈芯</p>
<p>水煎。</p>
<p><u>（七五）蟬蛻豬肝散</u></p>
<p>兔屎（八枚）　蟬蛻（二十四個，去頭足）</p>
<p>煎沸，入公豬肝七尖切薄片，煎熟先飲湯，後食肝。若得黑褐羊肝更妙。</p>
<p><u>（七六）</u>　空。</p>
<p><u>（七七）清熱導滯湯</u></p>
<p>歸身　山楂　白芍　檳榔　厚朴　枳殼　陳皮　連翹　牛子　酒芩　黃連（酒炒）　木香（研末）　甘草（去皮）　生薑（引）</p>
<p>可加熟大黃少許。</p>
<p><u>（七八）補氣養胃和中湯</u></p>
<p>白朮　人參　廣木香　炙草（去皮）　白茯　陳皮　扁豆（炒）　山藥（炒）　家蓮子（去心）　砂仁　煨姜　陳老米</p>
<p><u>（七九）朱：敗毒散</u></p>
<p>生地　丹皮　柴胡　桔梗　薄荷　連翹　牛子　黃柏（蜜炒）　花粉　酒芩　元參　赤芍　金銀花　甘草（去皮）　石膏　淡竹葉　燈芯</p>
<p>煎，再用犀角磨水和服。</p>
<p><u>（八十）</u>　空。</p>
<p><u>（八一）加減清毒撥翳湯</u></p>
<p>生地　甘菊　歸尾　川芎　柴胡　紅花　草決明　木賊　白蒺藜　黃芩　牛子　連翹　生甘草（去皮）</p>
<p><u>（八二）甘露迴天飲</u></p>
<p>沙糖半盞，百沸湯調作一碗。</p>
<p>溫服。</p>
<p><u>（八三）三豆漿</u></p>
<p>黑豆　綠豆　赤小豆（各一合）</p>
<p>以酸醋浸脹，搗研濃漿，時時以鵝翎刷之。或為末，醋調敷之，名三豆散。</p>
<p><u>（八四）張：調元解毒湯</u></p>
<p>人參　生耆　當歸　連翹　牛子　防風　川芎　升麻　黃芩　黃連　前胡　木通　炙草　蟬蛻</p>
<p><u>（八五）二寶散</u></p>
<p>犀角　玳瑁</p>
<p>磨水服。</p>
<p><u>（八六）犀角地黃湯</u></p>
<p>赤芍　生地　丹皮（等分）</p>
<p>水煎，犀角磨服。無犀角，以升麻代之，亦可。</p>
<p><u>（八七）扶元祛風湯</u></p>
<p>人參　白朮　茯苓　甘草　當歸　川芎　羌活　防風　天麻　蟬蛻　全蠍　殭蠶　木香　鉤藤　生薑（引）</p>
<p><u>（八八）清肺飲</u></p>
<p>麻黃　麥冬　知母　花粉　荊芥　訶子　桔梗　元參　竹瀝　薑汁</p>
<p><u>（八九）甘桔湯</u></p>
<p>甘草　桔梗　牛子　荊芥　元參</p>
<p><u>（九十）定心散</u></p>
<p>滑石（飛過）　甘草　牛子　木通　車前　辰砂（研細）</p>
<p>燈芯湯調服。</p>
<p><u>（九一）鎮驚丸</u></p>
<p>天竺黃　膽星　天麻　防風　甘草　殭蠶　全蠍　花粉　礞石（煅）　琥珀</p>
<p>共為末，硃砂、辰砂二味，一半入藥，一半為衣作丸，龍眼大。燈芯湯磨金銀為引。</p>
<p><u>（九二）六一散</u></p>
<p>滑石　甘草　辰砂　木通</p>
<p>為末，燈芯湯調。</p>
<p><u>（九三）清神散火湯</u></p>
<p>木通　車前　麥冬　元參　黃連　甘草　梔子　燈芯</p>
<p>加辰砂煎服。大便秘者，加酒大黃；弱者，加人參。</p>
<p><u>（九四）粉紅丸</u></p>
<p>膽星　天竺　黃辰砂　胭脂米</p>
<p>為末，作丸。生薑、薄荷湯下。</p>
<p><u>（九五）敗毒散</u></p>
<p>升麻　乾葛　紫蘇　川芎　防風　荊芥　前胡　桔梗　枳殼　牛子　連翹　蟬蛻　山楂　木香　白芷　地骨皮</p>
<p>一方，去乾葛，加紫草。</p>
<p><u>（九六）芍藥防風湯</u></p>
<p>白芍　陳皮　升麻　防風　桔梗　川芎　枳實　厚朴　牛子</p>
<p><u>（九七）大黃化毒湯</u></p>
<p>白芍　厚朴　陳皮　酒大黃</p>
<p>煎。</p>
<p><u>（九八）正氣散</u></p>
<p>藿香　陳皮　半夏　紫蘇　大腹皮　厚朴　茯苓　木香　白芷　山楂　神麯　炙草　白芍</p>
<p><u>（九九）雄黃解毒丸</u></p>
<p>雄黃　盆金　巴霜</p>
<p>共為末，米糊丸，如米大。好酒下。</p>
<p><u>（一百）張：梔連二陳湯</u></p>
<p>陳皮　桔梗　茯苓　花粉　黃連　黑梔　瞿麥　木通</p>
<p><u>（百一）四苓散</u></p>
<p>白朮　茯苓　豬苓　澤瀉</p>
<p><u>（百二）調脾散</u></p>
<p>白朮　茯苓　白芍　神麯　炙草　香附　厚朴　木香　砂仁　蓮肉　訶子肉　苡仁　山楂　肉豆蔻（麵煨，去淨油）　陳皮</p>
<p>虛甚者，加人參。</p>
<p><u>（百三）九味丸</u></p>
<p>白朮　茯苓　豆蔻（制見上）　訶子（煨取肉）　砂仁　木香　龍骨（煅）　赤石脂（煅）　枯白礬</p>
<p>共為末，米糊丸。</p>
<p><u>（百四）黃連解毒湯</u></p>
<p>黃芩　黃連（俱酒炒）　枳殼　歸尾　紅花　酒大黃　甘草</p>
<p><u>（百五）和中湯</u></p>
<p>人參　當歸　枳殼　陳皮　木香　甘草</p>
<p><u>（百六）調胃承氣湯</u></p>
<p>枳殼　酒大黃　檳榔　甘草　姜（引）</p>
<p><u>（百七）芩連湯</u></p>
<p>芩　連（俱酒炒）　當歸　川芎　甘草　木香　赤芍</p>
<p>冬，加升麻。</p>
<p><u>（百八）香連丸</u></p>
<p>川連（吳茱制）　木香</p>
<p>為末，醋糊丸。米飲下。</p>
<p><u>（百九）潤湯丸</u></p>
<p>歸尾　生地　麻仁　桃仁　甘草</p>
<p><u>（百十）調元解毒湯</u></p>
<p>黃耆　當歸　牛子　連翹　黃芩　花粉　生地　木通　前胡　人參　甘草</p>
<p><u>（百十一）</u>（見三十）</p>
<p><u>（百十二）加味升麻湯</u></p>
<p>升麻　防風　桔梗　川芎　陳皮　牛子　連翹　山楂　柴胡　蟬蛻　赤芍　甘草　木通</p>
<p><u>（百十三）解毒湯</u></p>
<p>連翹　牛子　枳殼　木通　防風　桔梗　紫草　川芎　升麻　蟬蛻　黃芩　黃連　前胡　麥冬　甘草</p>
<p><u>（百十四）導赤解毒湯</u></p>
<p>木通　車前　生地　門冬　甘草　茯神　石菖　梔子　人參　燈芯</p>
<p><u>（百十五）安神丸</u></p>
<p>牛黃　黃連　當歸　梔仁</p>
<p>共為末，入豬心血和為丸，硃砂為衣。燈芯湯下，若無牛黃，則加川貝、膽星、琥珀。</p>
<p><u>（百十六）寧肺散</u></p>
<p>知母　牛子　桔梗　陳皮　馬兜鈴　杏仁　生地　川貝母　桑皮　酒芩　甘草</p>
<p><u>（百十七）理咽散</u></p>
<p>桔梗　牛子　元參　山豆根　黃芩　甘草</p>
<p><u>（百十八）吹喉丹</u></p>
<p>黃連　青黛　兒茶</p>
<p><u>（百十九）人參解毒湯</u></p>
<p>人參　元參　牛子　石膏　知母　黃芩　山豆根　甘草</p>
<p><u>（百二十）調元生脈湯</u></p>
<p>人參　炙耆　炙草　當歸　門冬　官桂</p>
<p>甚者加附子。</p>
<p><u>（百廿一）桂枝芍藥湯</u></p>
<p>桂枝　赤芍　柴胡　防風　獨活　羌活　川芎　鉤藤　當歸　牛子　白芷</p>
<p><u>（百廿二）祛風滋血湯</u></p>
<p>黃耆　當歸　白芍　元枝　鉤藤　殭蠶　白朮　川芎　官桂</p>
<p><u>（百廿三）涼血地黃湯</u></p>
<p>黃連　歸尾　生地　梔仁（炒）　元參　甘草　犀角</p>
<p>諸血不止，加炒蒲黃、藕節。</p>
<p><u>（百廿四）清胃散</u></p>
<p>石膏　寒水石（俱煅）</p>
<p>先以黃芩　、黃柏、黃連、南星、貝母、藿香、甘草濃煎，後入二石，取起曬乾，如是者數次，取二石為末，加硼砂。</p>
<p><u>（百廿五）除慝丸</u></p>
<p>黃連　蘆薈　使君子　白蕪荑　乾蟾（燒灰）　川楝</p>
<p>共為末，烏梅洗淨搗爛，和丸。米飲下。</p>
<p><u>（百廿六）陰陽散</u></p>
<p>黃連　乾薑</p>
<p>共為末。敷之。</p>
<p><u>（百廿七）朱礬散</u></p>
<p>硃砂　白枯礬</p>
<p>為末。敷之。</p>
<p><u>（百廿八）洗心散</u></p>
<p>黃連　歸尾　生地　木通　薄荷　牛子　連翹　桔梗　甘草（等分）　燈芯</p>
<p>煎服。</p>
<p><u>（百廿九）綠袍散</u></p>
<p>黃芩　黃連　石膏　寒水石　硼砂　甘草　青黛</p>
<p>共為末。敷之。</p>
<p><u>（百三十）參蘇飲</u></p>
<p>陳皮　法夏　桔梗　茯苓　紫蘇　乾葛　全胡　甘草　人參</p>
<p>宜加麻黃、薑、蔥。</p>
<p><u>（百卅一）消風散</u></p>
<p>羌活　獨活　殭蠶　防風　天麻　白附子　蟬蛻　柴胡　花粉　川芎　人參　炙草　生薑</p>
<p><u>（百卅二）枳殼湯</u></p>
<p>枳殼　生地　紫草　酒大黃</p>
<p><u>（百卅三）四聖散</u></p>
<p>紫草　黃耆　木通　甘草</p>
<p><u>（百卅四）理中湯</u></p>
<p>人參　白朮　黃耆　附子　炮姜　炙草　茯苓</p>
<p><u>（百卅五）黃連止蛔湯</u></p>
<p>黃連　黃柏　炒烏梅　人參　白朮　棗（引）</p>
<p><u>（百卅六）清解丸</u></p>
<p>連翹　牛子　川連（酒炒）　枳殼　防風　荊芥　淮木通　前胡　桔梗　紫草茸　蟬蛻　川芎　升麻　人中黃　麥冬　元參　酒芩</p>
<p>共為末，米糊丸，青黛為衣。痘出齊，忌用。</p>
<p><u>（百卅七）散花丸</u></p>
<p>防風　楂肉　當歸　紫花地丁　牛子　慈菇　荊芥　前胡　青皮　赤芍　蟬蛻　紅花　茯神　通草　人中黃</p>
<p>制同上。弱者，加生耆，煎水為引。</p>
<p><u>（百卅八）陳氏木香散</u></p>
<p>木香　大腹皮　赤苓　前胡　青皮　法夏　丁香　訶子肉　炙草　官桂</p>
<p>或加紫蘇葉。</p>
<p><u>（百卅九）麻黃桂枝湯</u></p>
<p>麻黃　桂枝　乾薑　炙草</p>
<p><u>（百四十）加味升麻湯</u></p>
<p>升麻　防風　牛子　連翹　赤芍　當歸　川芎　紅花　紫草　甘草</p>
<p>以人中黃易甘草，更妙。</p>
<p><u>（百四一）清地退火湯</u></p>
<p>地骨皮　地膚子　牛子　柴胡　紫草　乾葛　連翹　赤芍　紅花　木通　蟬蛻</p>
<p>次服去乾葛。</p>
<p><u>（百四二）涼血解毒湯</u></p>
<p>紫草　生地　赤芍　紅花　防風　荊芥　黃連　牛子　前胡　木通　人中黃　天麻　丹皮　川芎　生薑　糯米（引）</p>
<p>弱者，加人參、生耆。</p>
<p><u>（百四三）大成散</u></p>
<p>穿山甲（酒炒）　甘草　雄黃　硃砂　麝香</p>
<p>共為末。熱症，紫草、燈芯湯下；冷症，溫酒下，最能攻毒，一方，有人中黃，無甘草。</p>
<p><u>（百四四）烏金丸</u></p>
<p>殭蠶（酒洗）　炒全蠍（去尾）　甘草　紫草　白附子　麻黃　穿山甲　蟬蛻　木通　桔梗　柴胡　石膏　白芍　犀角</p>
<p>共為末，另用紫草、紅花，好酒一碗，慢火熬酒至半碗，去渣，將酒入蜜，共熬至滴水成珠，和前藥作丸，龍眼大，硃砂為衣。量兒大小與之。</p>
<p><u>（百四五）小無比散</u></p>
<p>滑石（六兩，飛過）　石膏（煅，一兩）　甘草（五錢）　寒水石（煅，五錢）　鬱金　甘草（水煮透，焙乾，五錢）</p>
<p>熱甚者，加犀角，磨水調服；黑陷不起者，加穿山甲二錢，麝香五釐，紫草煎湯調服。</p>
<p><u>（百四六）三黃湯</u></p>
<p>黃芩　黃連　梔仁（炒黑）</p>
<p>加紅花、紫草茸、人中黃、穿山甲、人參，水煎服。</p>
<p><u>（百四七）升麻湯</u></p>
<p>升麻　連翹　黃芩　乾葛</p>
<p>加紅花、紫草、赤芍，水煎服。</p>
<p><u>（百四八）涼血化毒湯</u></p>
<p>當歸尾　赤芍　生地黃　木通　連翹　牛子（炒香研碎）　紅花（酒洗）　紫草茸（酒洗）　山豆根</p>
<p>或入人糞煅過為末，調服。</p>
<p><u>（百四九）保元湯</u></p>
<p>人參　綿黃耆</p>
<p>加當歸、川芎、紫草茸（酒洗）、紅花（酒洗）、肉桂、防風，水煎服。</p>
<p><u>（百五十）回陽散火湯</u></p>
<p>人參　綿黃耆　當歸　白朮　升麻　防風　連翹　木通　甘草</p>
<p>水煎服。</p>
<p><u>（百五一）清肝丸</u></p>
<p>白芍　膽草（各一錢）　防風　荊芥穗　薄荷　甘菊花　白蒺藜　連翹　黃芩（各一錢半）</p>
<p>共為丸，辰砂四分為衣。</p>
<p><u>（百五二）犀角地黃湯</u></p>
<p>犀角（另磨）　生地黃　赤芍　丹皮　牛子（炒研）　桔梗　元參　升麻　防風　甘草</p>
<p>水煎服。</p>
<p><u>（百五三）芎歸勺氣湯</u></p>
<p>人參　當歸　川芎　赤芍　防風　荊芥穗　青皮　木香　官桂　麥冬　姜（引）</p>
<p><u>（百五四）</u>（見百四八）</p>
<p><u>（百五五）清金湯</u></p>
<p>淨知母　黃芩　石膏　桔梗　甘草　天冬　麥冬（去心）　馬兜鈴　木通　山梔　花粉</p>
<p><u>（百五六）調元托裡湯</u></p>
<p>人參　黃耆　訶肉　陳皮　防風　荊芥　赤芍　木香　姜（引）</p>
<p><u>（百五七）</u>（見百四三）</p>
<p><u>（百五八）昇天散</u></p>
<p>人參　黃耆　當歸　川芎　陳皮　淫羊藿　炙草　肉桂　山甲　木香</p>
<p>加桔梗。</p>
<p><u>（百五九）人牙散</u></p>
<p>人牙火煅存性，入韭汁淬之，為末。加麝香一分，山甲二分，雞冠血、蔥白、煎酒調服。</p>
<p><u>（百六十）四物快斑湯</u></p>
<p>當歸　川芎　赤芍　生地　紫草　連翹　牛子　前胡</p>
<p><u>（百六一）四君子快斑湯</u></p>
<p>人參　黃耆　白朮　茯苓　炙草　肉桂　防風　陳皮　白芷　白芍</p>
<p><u>（百六二）保命丹</u></p>
<p>人參　黃耆　當歸　生地　川芎　赤芍　牛子　連翹　防風　肉桂　白朮　淮山藥</p>
<p><u>（百六三）寬中快斑湯</u></p>
<p>陳皮　厚朴　山楂　神麯　川芎　白芷　砂仁　木香　香附　炙草</p>
<p><u>（百六四）補脾快斑湯</u></p>
<p>人參　黃耆　炙草　丁香　防風　防己　薄桂</p>
<p><u>（百六五）白虎快斑湯</u></p>
<p>人參　石膏　甘草　麥冬　升麻　竹葉</p>
<p><u>（百六六）理中快斑湯</u></p>
<p>人參　白朮　黃耆　炙草　肉桂　木香　丁香　乾薑</p>
<p><u>（百六七）紫黃飲</u></p>
<p>紫草茸　人中黃（各六分）　人參（三分）</p>
<p><u>（百六八）絲瓜化毒湯</u></p>
<p>乾絲瓜（取近蒂五寸，以此為君）　赤芍　紅花　當歸　紫草　川芎　牛子　連翹　升麻　甘草　黑豆　赤小豆</p>
<p>等分，水煎，磨犀角調服。氣弱者，加人參。</p>
<p><u>（百六九）小靈丹</u></p>
<p>硃砂　雄黃（各一錢）　乳香　沒藥（各錢半）　大蟾酥（五分）　麝香（二分）　人中黃（四錢）</p>
<p>共為末，取豬心血、雞冠血和勻為丸。紫草煎湯送下。</p>
<p><u>（百七十）保元湯</u></p>
<p>人參　黃耆　炙草</p>
<p>或加肉桂、附子、川芎。</p>
<p><u>（百七一）救苦散</u></p>
<p>羌活　防風　牛子　桔梗　荊芥　川芎　人中黃　連翹　炒芩　甘草</p>
<p><u>（百七二）七真湯</u></p>
<p>淫羊藿　人參　黃耆　山甲　川芎　當歸　木香　炙草</p>
<p>加鹿茸、糯米、黃豆引。</p>
<p><u>（百七三）實漿散</u></p>
<p>人參　黃耆　白朮　淮山　當歸　川芎　白芷　肉桂　山甲　山楂　陳皮　鹿茸</p>
<p><u>（百七四）當歸活血湯</u></p>
<p>當歸　川芎　赤芍　生地　紅花　紫草</p>
<p>加升麻（炒）、人參、白芷、牛子。</p>
<p><u>（百七五）除泡散</u></p>
<p>滑石（飛過，一兩）　白朮　白芷（各五錢）</p>
<p><u>（百七六）扶元活血湯</u></p>
<p>人參　黃耆　白芍　茯苓　紅花　元枝　白芷　蟬蛻　牛子　慈菇　山甲</p>
<p><u>（百七七）人參清補湯</u></p>
<p>人參　黃耆　當歸　白朮　茯神　棗仁　麥冬　陳皮　甘草</p>
<p><u>（百七八）回漿散</u></p>
<p>黃耆　白朮　茯苓　何首烏　白芍　人參　炙草</p>
<p><u>（百七九）象牙散</u></p>
<p>上方加象牙。</p>
<p><u>（百八十）除濕散</u></p>
<p>蒼朮　防風　白芷　赤苓　豬苓　澤瀉　木通　白朮　米仁　乾薑　官桂</p>
<p><u>（百八一）</u>（見百八七）</p>
<p><u>（百八二）內助散</u></p>
<p>炙耆　人參　白朮　茯苓　當歸　陳皮　半夏　肉桂　山楂　附子　乾薑</p>
<p>痘有水泡者，多用白朮、茯苓。</p>
<p><u>（百八三）清金導赤飲</u></p>
<p>當歸　白芍　陳皮　石膏　茯苓　炙草　黃連　山楂　桑白皮　木通　枳殼　滑石　車前　麥冬　人參　元參</p>
<p><u>（百八四）</u>（見百卅八）</p>
<p><u>（百八五）桂枝解毒湯</u></p>
<p>桂枝　麻黃　赤芍　防風　炙草　桔梗　川芎　牛子　人參　生耆</p>
<p><u>（百八六）甘露解毒湯</u></p>
<p>白朮　茯苓　澤瀉　木通　麥冬　生地　連翹　官桂　香薷</p>
<p><u>（百八七）當歸解毒湯</u></p>
<p>生地　當歸　麻仁　牛子　紫草　枳殼　大黃（酒浸）</p>
<p>或加連翹。</p>
<p><u>（百八八）</u>（見三六）</p>
<p><u>（百八九）大補湯</u></p>
<p>黃耆　人參　當歸　官桂　牛子　連翹　甘草　茯苓</p>
<p><u>（百九十）升麻解毒湯</u></p>
<p>升麻　白芷　炒芩　牛子　連翹　蜜蒙花　荊芥　防風　蒺藜　當歸　甘草（節）　木通（節）　加黃耆</p>
<p><u>（百九一）清金解毒湯</u></p>
<p>黃芩　黃連　牛子　前胡　丹皮　麥冬　知母　百合　黑梔　甘草　人參</p>
<p><u>（百九二）苦參丸</u></p>
<p>苦參　黑梔　防風　枳殼　元參　獨活　黃連　黃芩　大黃　菊花</p>
<p>等分，蜜丸。每酒下五十丸。</p>
<p><u>（百九三）花蛇酒</u></p>
<p>白花蛇去首，置酒罈中，封口煮，俟數日退火毒，服酒並蛇。</p>
<p><u>（百九四）一掃光</u></p>
<p>銅綠　白礬　大黃　樟腦　硫黃　川椒　膽礬　倍子　白芷　水銀　錫</p>
<p>等分，為末，另將錫溶化，入水銀攪勻，後入諸藥末。豬油調敷。</p>
<p><u>（百九五）蠶蛻散</u></p>
<p>枯礬　人中白　煅倍子　蟬蛻　燒蛇床子</p>
<p>共為末。</p>
<p><u>（百九六）</u>（見百四）</p>
<p><u>（百九七百九九）</u>　俱空。</p>
<p><u>（二百）</u>（見百五）</p>
<p><u>（二百一）仙方活命飲</u></p>
<p>白芷　防風　乳香　沒藥　連翹　山甲　赤芍　歸尾　貝母　花粉　金銀花　皂刺　陳皮</p>
<p><u>（二百二）疽癤方</u></p>
<p><u>三豆散</u>（見八十三）</p>
<p>一方用豆心渣敷之。</p>
<p><u>鐵箍散</u></p>
<p>用樹上百足蟲，新瓦焙為末，油調敷之，其蟲腹下盡足，其背殼硬，跌下地即首尾交合如環，其大如指，長寸許。</p>
<p><u>芙蓉膏</u></p>
<p>用芙蓉花，或葉，或皮，或根，黃荊子等分，共搗爛，雞蛋白調敷，留頂，連敷二三次，立效。</p>
<p><u>必勝膏</u></p>
<p>用馬齒莧搗汁，豬脂、石蜜共熬膏敷之。紫花地丁擂酒服或搗爛敷。黃豆，姜，蔥，共搗爛敷。</p>
<p><u>如意散</u></p>
<p>用生南星（八錢）　生半夏　生大黃（各一兩）　鬱金　薑黃　白芷　蒼朮（各五錢）</p>
<p>共為末。醋調敷。</p>
<p><u>沖和膏</u></p>
<p>紫荊皮（炒，五兩）　獨活（炒，五兩）　赤芍（炒，二兩）　白芷（一兩）　石菖蒲（一兩半）</p>
<p>共為末。醋調敷，內服六君子湯加北芥子。</p>
<p><u>（二百三）膏藥方</u></p>
<p>防風　商陸　連翹　生柏　生芩　花粉　苦參　赤芍　羌活　獨活　川烏　蛇床子　麻黃　何首烏　皂刺　生南星　生半夏　白芨　山甲　草烏　木鱉　紫草　紅花　蛇蛻　大戟（各一兩）　桐油（三斤）</p>
<p>納諸藥浸一宿，熬至藥渣枯浮，用棕濾過，再將乳香、沒藥、石脂、銀硃（各三錢），血蠍、兒茶、輕粉（各三錢），龍骨（煅）、水粉（各一兩），黃丹（十二兩），共為細末。看油滴水成珠，漸漸入此藥末，攪勻。</p>
<p><u>（二百四）洗肝散</u></p>
<p>川芎　歸尾　羌活　防風　薄荷　梔子　赤芍　紅花　菊花　膽草　甘草</p>
<p>飯後服。眼痛，加蔓荊子、石膏、穀精草、綠豆；有翳膜，加蟬蛻、白蒺藜、木賊、石決明、蒙花；大便熱結者，加大黃、黃連、牛子；小便短赤者，加車前、木通、滑石；眼紅赤者，加生地、丹皮。</p>
<p><u>（二百五）拔雲散</u></p>
<p>防風　羌活　黃芩　黃連　白芷　甘菊　荊芥　膽草　石決明　草決明　石膏　蒺藜</p>
<p>又　蒙花散</p>
<p>蒙花　石決明　蒺藜　木賊　羌活</p>
<p>為末。清茶調服。</p>
<p><u>（二百六）羌菊散</u></p>
<p>羌活　菊花　膽草　穀精　荊芥　薄荷　蔓荊子　梔子　連翹　赤芍　生地　黃芩　黃連</p>
<p>有翳，加蒺藜、決明。</p>
<p><u>（二百七）膽草散</u></p>
<p>膽草　甘菊　蒺藜　白芷　防風　黃連　蟬蛻　木賊　梔子</p>
<p><u>（二百八）兔糞散</u></p>
<p>兔糞（炒黃為末）　蟬蛻　木通　甘草</p>
<p>水煎。</p>
<p><u>（二百九）兔糞丸</u></p>
<p>兔糞（炒四兩）　石決明（煅）　草決明　白芍（各一兩）　當歸　防風　穀精　蒺藜（各五錢）　薄荷（四錢）</p>
<p>為丸。荊芥湯下。</p>
<p><u>（二百十）涼肝明目散</u></p>
<p>當歸　膽草　蒙花　柴胡　川芎　防風　川連</p>
<p>和豬肝煎。</p>
<p><u>（二百十一）望月散</u></p>
<p>望月砂（一兩）　蒙花　蟬蛻　穀精（各五錢）</p>
<p>用豬肝切開，每肝一兩，入前藥末一錢，包肝內煮熟，肝汁並服。</p>
<p><u>（二百十二）祛風明目散</u></p>
<p>防風　荊芥　川芎　薄荷　生地　紅花　連翹　白芍　菊花　蒙花　穀精　覆盆子　蔓荊子　川椒　生薑（引）</p>
<p>發時，連服數劑。</p>
<p><u>（二百十三）四灰散</u></p>
<p>舊棕　老杉樹皮　胎髮　臍帶</p>
<p>燒灰存性。一方無臍帶，名三灰散。</p>
<p><u>（二百十四）涼血地黃湯</u></p>
<p>當歸　川芎　白芍　生地　白朮　升麻　川連　甘草　人參　梔子　元參　阿膠</p>
<p>加棗二枚。</p>
<p><u>（二百十五）涼血解毒湯</u></p>
<p>當歸　白芷　升麻　紅花　紫草　赤芍　桔梗　連翹　牛子　燈芯</p>
<p><u>（二百十六）柳花散</u></p>
<p>紫草　升麻　當歸　赤芍</p>
<p>共為末。每服七錢，葡萄煎湯下。</p>
<p><u>（二百十七）逍遙散</u></p>
<p>白朮　茯苓　當歸　白芍　生地　甘草　柴胡</p>
<p>加丹皮、梔仁，名加味逍遙散。</p>
<p><u>（二百十八）瀉肝散</u></p>
<p>羌活　當歸　梔子　膽草　川芎　防風　炒芩　柴胡　木通　淡竹葉</p>
<p><u>（二百十九）當歸養心湯</u></p>
<p>人參　當歸　麥冬　生地　炙草　加燈芯（引）</p>
<p><u>（二百二十）調元內托散</u></p>
<p>人參　黃耆　肉桂　木香　當歸　川芎　白芍　附片</p>
<p><u>（二百廿一）罩胎散</u></p>
<p>當歸　川芎　白芍　人參　白朮　茯苓　柴胡　甘草　條芩　防風　荊芥　白芷　乾葛　砂仁　紫草　阿膠　桔梗</p>
<p><u>（二百廿二）八物湯</u></p>
<p>人參　黃耆　白朮　當歸　川芎　白芍　熟地　甘草</p>
<p><u>（二百廿三）安胎散</u></p>
<p>川芎　當歸　白芍　人參　白朮　茯苓　黃芩　甘草　砂仁　陳皮　阿膠　香附　艾葉（等分）</p>
<p><u>（二百廿四）黑神散</u></p>
<p>當歸　川芎　熟地　薑炭　桂心　蒲黃　木香　陳皮　黑豆（炒）　香附（炒）</p>
<p>水酒各半，煎服。</p>
<p><u>（二百廿五）敗草散</u></p>
<p>牆上多年敗草，研末敷。</p>
<p><u>（二百廿六）瀉黃散</u></p>
<p>藿香葉　梔子　石膏　防風　甘草</p>
<p>蜜酒拌，微炒。水煎溫服。</p>
<p><u>（二百廿七）胭脂塗法</u></p>
<p>先以升麻煎濃湯，去渣，用胭脂於湯內揉出紅汁，以木綿蘸湯拭之。加雄黃更妙。</p>
<p><u>（二百廿八）加味保元湯</u></p>
<p>人參　黃耆　甘草　歸尾　赤芍　紅花　黃芩　黃連　牛子　連翹　升麻　防風　荊芥</p>
<p>水煎，入燒人糞一錢，調服。</p>
<p><u>（二百廿九）百花膏</u></p>
<p>蜂蜜不拘多少，略用湯和，以鵝翎刷之。</p>
<p><u>（二百三十）竹葉石膏湯</u></p>
<p>石膏　知母　麥冬　甘草　竹葉</p>
<p><u>（二百三一）羌活防風湯</u></p>
<p>羌活　防風　川芎　梔子　膽草　當歸　甘草　薄葉　淡竹葉</p>
<p>水煎溫服。</p>
<p><u>（二百三二）四順清涼飲</u></p>
<p>當歸　白芍　大黃　甘草</p>
<p><u>（二百三三）</u>　空。</p>
<p><u>（二百三四）麥門冬湯</u></p>
<p>麥冬　人參　乾葛　赤芍　赤苓　升麻　甘草　石膏</p>
<p><u>（二百三五）</u>（見五十）</p>
<p><u>（二百三六）柴葛桂枝湯</u></p>
<p>柴胡　葛根　桂枝　甘草　防風　人參　白芍（各等分）　姜（引）</p>

<h2>製藥</h2>
<p>聶：降炎上之火，清血分之火，俱有寒因熱用之義。凡痘中，前後所用解毒諸寒藥，俱因毒火燥血分，故芩、連、梔、柏、大黃、花粉等味，必用酒拌濕炒燥。牛蒡子必炒香，研碎。歸、芍、生地、紅花、紫草、丹皮、地骨之類，必以酒臨時洗用，此要法也。不明此義，為害不淺。</p>

<h1>續集</h1>

<h2>驗形察色</h2>
<p>形乃氣之充，色乃血之華。痘之輕重，由氣血有盛衰，氣血之虛實，辨於形色之善惡。初出時，點若蚊咬，滯而不起，雖起塌闊，皮薄而軟，斜視若無，面唇先腫，小者稠密，大者平陷，此皆氣虛形重也。小而高聳，根斂圓淨，先出先脹，日見活動，光潤不燥，堅實礙指，頭面稀疏，飲食不減，此皆氣旺形輕也。見點之初，頂若火刺，紅而乾枯，紫而昏暗，夾斑帶疹，白而枯澀，黑若塵鋪，此皆毒滯色重也。初出淡紅，漸覺明亮，四五日，頂若水白，根窠紅潤，此皆血活色輕也。淡紅一線，緊附於根下，而無走散之勢者吉。血雖依附，根腳紅色隱隱出部者險。痘與肉色不分，平鋪散漫者凶。氣虛則頂陷，氣散則塌陷，血虛則暈必枯，血離則根必散。根窠者，血之暈，膿者，血之腐。六日以前，專看根窠，無根窠，必不灌漿，六日以後，專看膿色，無膿色必難收靨。頂白根紅，氣血分也，四五日不分，後必作癢。頂充根附，氣血交也，六七日不交，後必有變。深紅壯熱，疔將發也，四五日前宜清，五六日後宜補。氣血之分，清濁之本乎上下也，氣血之交，陰陽之互為依附也。當分不分，毒結之也，當交不交，毒隔之也，加升麻散，郁何患不分？知清熱解毒，何患不交？色太淡而灰白，此血衰氣滯也，急宜補血行氣。太紅而乾枯，此血熱毒盛也，急宜涼血解毒。若失於清利，必變焦枯紫黑而成氣血凝滯之症，何以化水成漿？一見焦紫黑陷，須用滂沱飲。若肚腹膨脹，大渴大熱，煩躁發狂，五六日不大便，此表裡實熱也，非下之不救，斟酌可也。</p>
<p><u>滂沱飲</u></p>
<p>石膏　黃芩　胡黃連　山梔　蘆根　知母　木通　枳殼　銀柴胡　犀角</p>

<h2>治血熱壅遏有五法</h2>
<p>表熱盛則痘乾枯，表太涼則冰伏，內熱盛則秘結，內太涼則泄瀉，氣壅盛則腹脹喘滿。熱毒為所抑而不得伸越，毒氣彌盛，則表裡受重，嬰兒難當。故治痘之法，在安表、和中、勻氣、透肌、解毒五者而已。安表，使無干枯冰伏之患；和中，使無便結泄瀉之變；勻氣，使無壅盛喘滿之禍；透肌，使熱毒得以伸，熱而達表；解毒，使內外有所分消。五者不失，血熱壅遏之症，勢難綿密，不足憂矣。</p>
