<header data-type="book">
<h1>針灸學綱要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>管周桂</data></dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>大凡豪傑之倡復古者。非墨守成法。作抱殘守缺之舉也。其始皆受業於時師之門。鑽研揣摩。既盡其道。然有時疑慮橫生。不能起古人而問之。而師之所傳者。是否合於實情。言而無徵。亦空言而已。儒家之術。苟非聖人。其事業與言論。究否適當。未能使惑者信之也。譬諸兵家。雖飽嘗軍事學識。然昇平之世。未嘗臨陣。則其說之當否。亦未能使惑者信之也。醫術雖不然。病敵常臨於前。可以施諸實驗。其說之良拙。可以證之。然二豎不言。藥之偶中。而得名多矣。未必可以作證。而判其良拙。故醫學復古之說。亦以無博學之士。以證其虛妄。或說與術合。而為之證驗。故採用古法。以古法為證耳。攝都醫士管周圭。以針灸復古。良於其術也。本其經驗。著為是書。當其引證參考。構心苦思之事。突不暇黔。既成示其弟子。名曰針灸學綱要。蓋嘔心損血之作也。此書梓行。豈但為其弟子之南針。直濟世家之一古方則也。可謂豪傑之事業也已矣。</p>
<p><u>明和丙戌冬十一月東溟林義卿撰</u></p>

<h1>凡例</h1>
<p>一針灸上切要之經穴。予所恆用者。僅七十穴耳。以此七十穴。而療諸病。不復求他經穴。固違舊說。然用諸實驗。每奏奇效。以治百病。自覺遊刃有餘焉。</p>
<p>一舊本十二經。十五絡。前生是動井榮俞經合八會。或刺中心。一日死。其動為噫。刺中肝。五日死。其動為語之類。或刺瘂門成瘂之說。一切不取。故不言太陽太陰經。別為頭面之經穴。列頭面部。手足之經穴。列手足部。</p>
<p>一治門中。皆不言針深淺。宜從其病。醫者不分輕重。妄言深刺為害。或淺刺不治。難經所謂春夏淺秋冬深刺之說。一切不可從。</p>
<p>一治門中。皆不言灸數者。以隨病輕重多寡也。間亦言幾壯者。其所有經驗而得效者也。</p>
<p>一是編之出血法。試用之十之七八。罔不取奇驗。然出血有多寡。可隨病虛實輕重矣。</p>
<p>一余所用治諸病之針。乃毫針也。而世人好華。以金銀作之。餘隻用鐵針。以覺其有奇效也。是至刺皮肉甚亟而不傷氣血。醫人謂鐵針有毒。以不用。然鐵之有毒。予亦未之見也。</p>
<p>一予所用之出血針。乃三稜針也。和醫皆以和鋼鐵作之。出血之後。其創痛甚。當以南蠻輸入者為佳。可選用之。</p>

<h1>針灸七十穴</h1>

<h2>頭面部</h2>
<p>百會　在項中陷中。容豆許。去前髮際五寸。後髮際七寸。○主治卒中惡。卒起僵臥。惡見風寒。</p>
<p>頭維　額角入髮際一寸五分。俗為米嚼。○主治頭痛。眩暈。</p>
<p>醫風　耳後尖角陷中。按之引耳中。○主治口噤不開。引鼻中。又治齒齲。</p>
<p>耳門　耳前起肉當耳缺者陷中。○主治唇吻強。上齒痛。</p>
<p>風池　耳後顳顬後。腦空下。髮際陷中。○主治面赤腫。</p>
<p>瘂門　在頂入後髮際五分。項中央宛宛中。仰頭取之。○主治瘖不能言。舌急語難。</p>
<p>晴明　內眥頭外一分。宛宛中。○主治目腫。子痛瘡。遠視䀮䀮。昏夜無所見。</p>

<h2>肩背部</h2>
<p>大椎　在脊骨第一椎上陷者。宛宛中。○主治。瘧久不愈。復未發前至已發時。灸之數十壯。衄血不止者。數十壯果止。</p>
<p>肩井　肩上陷中缺盆上大骨前。一寸半。以三指按取。當中指下陷中。○主治頭頂頭痛。臂不能舉。○婦人難產墮胎後。手足厥逆無力者。針之頓愈。又治乳癰極效。</p>
<p>肩髃　膊骨頭肩端上。兩骨鏬門陷者。宛宛中。舉臂取之有空。○主治。臂筋骨疼痛。頭頸拘急。不可回顧。</p>
<p>膏肓　四椎下。近五椎上兩旁相去脊中各三寸。正坐曲脊伸兩手。以臂著膝前。令端直。手大指與膝頭齊。以物支肘。毋令搖動取之。○主治虛損勞傷。百病無所不療。○此穴尤氏傳所載。醫緩見晉侯病在肓之上。膏之下。如不可攻之。亦以有治之功。而有此名也。蓋專和上焦心肺之陽氣。心肺之降濁氣。升清氣。有云行雨施之功矣。故曰。百病無所不療者。陽氣虛損。神魂勞倦。氣鬱。眠多。夢遺。健忘等諸疾。無不瘥也。誠醫家緊要之寶穴也。</p>
<p>肺俞　第三椎下兩旁。相去各一寸五分。千金曰。對乳引繩度之。○主治上氣喘滿。咳嗽。</p>
<p>膈俞　七椎下兩旁。相去脊中一寸五分。正坐取之。○主治胸脅支滿。噎食不下。疼嗽氣痛。</p>
<p>肝俞　九椎下兩旁。相去脊中。各一寸五分。正坐取之。○主治胸滿。心腹積聚。疼痛嗽引兩脅。</p>
<p>脾俞　十一椎下兩旁。相去脊中。各一寸五分。正坐取之。○主治泄痢不化。飲食不食。不肌膚。黃疸。脹滿。痞氣。</p>
<p>胃俞　十二椎下。兩旁相去脊中。各一寸五分。正坐取之。○主治胃寒吐逆。少食羸瘦。霍亂腹痛。</p>
<p>膀胱俞　十九椎下。兩旁相去脊中。各一寸五分。伏取之。○主治小便赤澀。遺尿失禁。婦人帶下瘕聚。</p>
<p>腰眼　令病人解去衣服。直身正立。於腰上脊骨兩旁。有微陷處。是為腰眼穴也。○主治傳屍癆瘵。滅門絕戶。百方難治尤妙。屍蟲必吐瀉中而出。此比四花等穴。尤易且效。又常灸腰痛。消渴。且治婦人月水不定。赤白帶下。腰脊冷痛。下血痔漏等。有十全之功。</p>

<h2>胸脅部</h2>
<p>天突　在頸結喉下四寸。宛宛中。○主治喘急。痰涎咳嗽。○又云喉痹。咽乾急。</p>
<p>中府　乳上三肋間。動脈應手陷中。去中行六寸。○主治胸肋痰痛。中風。</p>
<p>鳩尾　蔽骨之端。在臆前。蔽骨下五分。人無蔽骨者。從歧骨際下行一寸。曰鳩尾。言其骨垂下。如鳩尾形。○主治卒霍亂。神志昏昧者。</p>
<p>巨闕　鳩尾下一寸。○主治心胸疼痛。膈中不利。</p>
<p>上脘　去蔽骨三寸。臍上五寸。○主治翻胃嘔吐。食不下。</p>
<p>中脘　上脘下一寸。臍上四寸。○主治諸病有傳。</p>
<p>梁門　中脘旁去中行。各三寸。○主治積氣疼痛。</p>
<p>陰都　夾中脘兩邊。相去五分。○主治噦嘔不得意息。</p>
<p>建里　中脘下一寸。臍上三寸。○主治宿食嘔吐。</p>
<p>下脘　建里下一寸。臍上二寸。穴當胃下口。小腸上口。水穀於是入焉。○主治泄利。腹內腸鳴。</p>
<p>水分　下脘下一寸。臍上一寸。穴當小腸下口。○主治水脹腫滿。水穀不分。小便不通。○灸功尤勝於針矣。</p>
<p>章門　大橫外直。季脅肋端。臍上二寸。兩旁九寸。側臥屈上足。伸下足。舉臂取之。○主治胸脅支滿。痞氣食積。瘧疾瘧泄痢。疝痛。</p>
<p>京門　監骨下。腰中季脅。本夾脊。○主治小腹急痛。○此穴能利腰間之氣。通腹背之結。開升降之路。扶持脾腎之元氣。諸不委言。惟須每日用之。方能有效。故記以傳之也。當</p>
<p>神闕　臍中。○主治卒中。不省者。卒霍亂轉筋入腹。四支厥冷。欲絕者。</p>
<p>天樞　夾臍中兩旁。各二寸陷中。○主治賁豚脹疝。○甲乙云。治氣疝。噦嘔。面腫。賁豚。</p>
<p>陰交　臍上一寸。當膀胱上口。○主治小腹冷痛。陰囊癢濕。</p>
<p>氣海　臍下一寸半。宛宛中。男子生氣之海。○主治溫補下元不足。盛精氣。夢遺精滑。白濁。</p>
<p>石門　臍下二寸。○主治小腹疝痛。淋閉。</p>
<p>關元　臍下三寸。○主治臍下絞痛。遺精淋濁。月經不調。○張介賓曰。此穴當人身上下四旁之中。故名。大中極。乃男子藏精。女子蓄血之處。</p>
<p>中極　開元下一寸。○主治產時。惡露不行。胎衣不下。</p>

<h2>手足部</h2>
<p>合谷　手大指。次指。歧骨間陷中。○主治偏正頭痛。面腫目瞖。口眼斜。口噤不開。</p>
<p>商陽　手大指次指內側。去爪甲角。如韭葉。○主治手腳拘攣。</p>
<p>後谿　手少指外側。本節後陷中。○主治肩臑痛。不能動搖。</p>
<p>少商　大指端內側。去爪甲如韭葉。白肉際。宛宛中。○主治手不仁。手臂身熱。又云。目疣萑目。</p>
<p>神門　掌後銳骨端。陷中。○主治手不得上下。</p>
<p>通里　腕後一寸。陷中。○主治卒痛煩心。心下悸。非恐。</p>
<p>列缺　去腕側上。一寸五分。○主治小便熱痛。及中風齒痛。（滑氏云。以手交頭食指未筋鏬中。）</p>
<p>外關　腕後二寸。兩筋間。○主治肩重。臂痛。</p>
<p>濕溜　腕後去五寸間。動脈中。○主治瘧。面赤腫。○又云。瘰癧咽腫。</p>
<p>曲澤　肘內廉下陷中。屈肘得之。○主治腹脹喘。振慄。</p>
<p>曲池　肘外輔骨。屈肘曲骨之中。以手拱胸取之。○主治臂臑疼痛。不能提物。屈伸不便。手振。不能書物。及中風口喎斜。</p>
<p>內關　掌後去腕二寸。兩筋間。○主治手中風熱。臂里攣急。</p>
<p>湧泉　足心陷中。屈足卷指宛宛中。跪取之。○主治衄血不止。</p>
<p>太敦　足大指端去爪甲如韭葉。及三毛中。○主治大腹脹。腹痛。癇症。</p>
<p>隱白　足大指端。內側去爪甲角。如韭葉。○主治腹脹逆息。○又云。腹滿喜嘔。（內側為隱白。外側為太敦。）</p>
<p>內庭　足大指次指外間。陷中。○主治喜頻伸數欠。惡聞人音。</p>
<p>臨泣　足小指次指本節後。陷中。○主治支痛胸痹不得息。</p>
<p>申脈　外踝。下五分。陷中。容爪甲。自肉際。主治風眩癲疾。氣麻木。</p>
<p>照海　足內踝下。陰蹻脈所生。○主治積聚。肌肉痛。</p>
<p>公孫　足大指本節後一寸。內踝前。○主治諸瘧惡寒。心痛心煩。</p>
<p>三陰交　內踝上三寸骨下陷中。○主治婦人月水不調。難產死胎。○此穴下三陰經所交會。為治陰病血症。婦人之要穴也。故俗對婦人謂之下三里也。</p>
<p>羕山　兌腨腸下分肉間。陷中。○主治大便秘不通。痔漏腳氣。</p>
<p>陰陵泉　膝下內側。輔骨下。伸足取之。與陽陵泉穴相對。○主治心下滿。寒中。小便不利。</p>
<p>陽陵泉　膝下一寸。䯒外廉陷中。蹲坐取之。○主治足膝冷。痹不仁。腳氣筋攣。○難經曰。筋會陽陵泉。故凡膝胕足筋縮拘攣等。皆治此。</p>
<p>三里　膝下三寸。筋骨外廉。大筋內。宛宛中。兩筋肉分間。舉足取之。○主治逆氣上衝。頭痛。目眩。眼瞖。耳鳴。鼻窒。口無味。痰咳。氣喘。心痛。胸腹支滿。食不化。腹內諸痰氣塊。腹痛。大小便不調。腰脊強痛。○此穴降諸上逆之濁氣。升下陷之清氣。故所治之諸病。皆是濁氣上塞之症也。上膏肓穴。升下陷清陽之氣。而清氣升則濁氣降。此三里穴。降上逆之濁氣。而濁氣降。則清氣升。陰陽升降。互濟其用。以收同等之效。故今灸膏肓者。後日必灸三里。以宜治之者也。</p>
<p>委中　膕中央約文。動脈陷中。○主治腰脊甚痛。不可忍者。刺之出血頓愈。轉筋強直者。亦刺之立處愈。</p>
<p>風市　使病人正立。以兩手自然垂下。當第三指之端。○主治腰腿痛。足脛麻頑。腳氣冷痛。令人輕健。</p>
<p>環珧　髀樞下。臥伸下足。屈上足。以右手摸穴。猶搖撼取之。○主治胸脅相引。半身不遂。腰胯痠痛。</p>
<p>阿是　痛人有病痛。即令捏其上。若里當共處。不問孔穴。即得使快成痛處。即云阿是。凡吳蜀人多行之。（指痛針痛徐氏謂之天應穴）</p>

<h1>中風</h1>
<p>經曰。風之傷人也。或為寒熱。或為熱中。或為寒中。或為癘風。或為偏枯。是以古之名醫。皆以外中風邪立方。然河間主火。東垣主氣。丹溪主濕。三先生之論。使後學狐疑不決。故王安道有論三子。主氣主火主濕之不同。而與昔人主風之不合。而立真中類中為二途。</p>
<p>針　中腕　鳩尾　三里</p>
<p>灸　百會　大椎　風市　三里</p>
<p>出血　委中　合谷</p>

<h1>預防中風</h1>
<p>凡手十指麻痹者。中風漸也。速宜療治。薛立齋曰。預防之理。當養氣血。節飲食。戒七情。遠幃幕可也。</p>
<p>針　風池　百會　翳風　合谷　鳩尾　幽門</p>
<p>灸　肩井　曲池（此二穴。自百壯至三百壯。屢試屢效。）</p>

<h1>傷寒</h1>
<p>（傷寒一日剌太陽。二日刺陽明。陰陽分次第之說不可信。）</p>
<p>針　期門　三里　風池</p>

<h1>陰症傷寒</h1>
<p>灸　關元　神闕</p>

<h1>內傷</h1>
<p>內傷者。內傷其脾胃也。</p>
<p>灸　胃俞　脾俞　腎俞</p>

<h2>中寒</h2>
<p>寒為天地殺厲之氣也。寒氣之傷人也。因陽氣虛也。凡傷寒。循六經。漸入中寒。不問冬夏。或坐地受冷。自皮膚卒入臟腑。而似中風。</p>
<p>灸　中脘　神闕　氣海（此三穴。灸而手足溫暖則生。如極冷。唇青。厥逆無脈者即死。）</p>

<h1>中暑</h1>
<p>（有夏月四證。傷寒。傷風。中暑。熱病。疑似難明。當詳細診斷。以分辨之。）</p>
<p>中暑者。熱中心脾二經也。</p>
<p>針　中腕　鳩尾</p>

<h1>霍亂</h1>
<p>（霍亂已死。腹中尚暖而未絕氣者、乃用鹽納臍中令滿。大艾炷灸三五七壯蘇。）</p>
<p>霍亂有濕霍亂、乾霍亂二種。心腹卒痛。先吐先瀉。心腹俱痛。吐瀉俱作者。濕霍亂也。凡吐瀉時不可與食。乾霍亂。忽然心腹絞痛。手厥冷。欲吐有聲無物。欲瀉不得瀉。升降不通。而急死。</p>
<p>針　鳩尾　中脘　關元　三里</p>
<p>灸　神闕　出血　委中</p>

<h1>轉筋（丹溪云。轉筋多屬血熱。）</h1>
<p>尋常轉筋。四時皆有。不因霍亂而發者。其發多於睡中。或伸欠而作。</p>
<p>出血　隱白</p>
<p>一方　每遇轉筋時。即以鹽揩擦痛處。三五十匝。即雖皮破亦不妨。可以斷根。</p>

<h1>濕症</h1>
<p>（濕症。雖有內外之不同。從外感得之者少。從內傷得之多。）</p>
<p>濕有自外入者。長復鬱熱。山澤蒸氣。冒雨行濕。動作辛苦人。汗透沾衣。多腰腳腫痛。有自內得者。生冷酒面滯脾。生濕鬱熱。多肚腹腫脹。</p>
<p>針　關元　石門</p>
<p>灸　腎俞</p>

<h1>痰飲（痰之病症百端。隨症可治療。）</h1>
<p>內經曰。諸氣膹郁。皆屬肺金。蓋肺氣鬱則成熱。熱盛則生痰。</p>
<p>針　幽門　中脘　上脘　阿是</p>
<p>灸　膈俞　膏肓</p>

<h1>瘧</h1>
<p>瘧之病。內經說之詳且盡矣。然後世之名醫。或為瘴瘧。為鬼瘧。為痰瘧。為食瘧。其因痰食瘴鬼而為瘧者。固有之。而千百十一耳。然龔廷賢。以瘧期時發為信。</p>
<p>針　大椎　章門　京門　胃俞</p>
<p>灸　章門（屢試屢效）</p>

<h1>泄瀉</h1>
<p>（泄瀉之症。中脘陰都之兩穴不可刺。率爾輕刺。成脾虛必矣。）</p>
<p>泄瀉之症。只因脾胃飢寒。飲食過度。或為風寒暑濕所傷。皆令泄瀉。</p>
<p>針　關元　石門　三里</p>
<p>灸　天樞</p>

<h1>咳嗽</h1>
<p>（咳者無痰而有聲。嗽者無聲而有痰。）</p>
<p>內經曰。五臟六腑。皆令人咳。非獨肺也。皮毛者。肺之合也。皮毛先受邪氣。邪氣以從其合也。五臟之咳嗽。久乃移於六腑。</p>
<p>針　幽門　上脘　巨闕</p>
<p>灸　肺俞　肩井</p>
<p>出血　曲澤</p>

<h1>痢疾</h1>
<p>（白痢針合谷。赤痢針小腸俞。赤白針三里。如此之說。毫無根據。吾門所不取也。）</p>
<p>原病式曰。痢為濕熱。甚於腸胃。怫鬱而成其病。皆熱症也。赤白相兼。膿血雜痢。皆因脾胃失調。飲食停滯。積於腸胃之間。多是暑濕傷脾。故作痢疾。</p>
<p>針　章門　天樞　關元　腎俞</p>
<p>灸　京門　腰眼</p>

<h1>嘔吐</h1>
<p>嘔吐者。有聲有物。胃氣有所傷也。</p>
<p>針　章門　京門　水分　三陰交</p>
<p>灸　三里（自百壯至二百壯得效。）</p>

<h1>痿躄</h1>
<p>（手足痿軟而無力。百節緩縱而不收。證名曰痿。）</p>
<p>五臟因肺熱葉焦。發為痿躄。</p>
<p>針　三里　大椎　膏肓　腎俞</p>
<p>灸　肺俞　膈俞</p>
<p>出血　太敦</p>

<h1>頭痛</h1>
<p>（偏頭風。雷頭風。大頭痛。眉稜骨痛。真頭痛。頭重。頭搖。內傷頭痛。時作時止。外傷頭痛。綿綿不已。氣虛頭痛。耳鳴。九竅不利。濕熱頭痛。頭重如石。風寒頭痛。身重惡寒。真頭痛者。腦盡疼而手足冷至節者。不治。）</p>

<h1>統治一切頭痛症類</h1>
<p>針　百會　風池　阿是　頭維　三里</p>
<p>灸　列缺　關元　瘂門</p>
<p>出血　頭維　百會</p>

<h1>胃脘痛</h1>
<p>（俗呼為心痛）</p>
<p>虞天民曰。經所謂胃脘當心而痛。今俗呼為心痛者。未達此義耳。雖曰。運氣之勝復。未有不由清痰食積鬱於中。七情九氣觸於內之所致焉。</p>
<p>針　中脘　鳩尾　脾俞　內關</p>
<p>出血　膏肓</p>

<h1>腹痛</h1>
<p>（大凡虛者喜按。實者怕按。）</p>
<p>腹痛者。有因虛。因實。因傷寒。因痰火。因食積。因死血者。宜參考。</p>
<p>針　章門　中脘　天樞　羕山　三陰交　阿是</p>
<p>灸　天樞　京門　三里</p>
<p>出血　太敦</p>
<p>一方　以帛包鹽。熨臍小腹。是又良法也。</p>

<h1>腰痛</h1>
<p>（腎虛而邪能湊焉。故作痛。）</p>
<p>丹溪曰。腎受病。則腰滯而痛。</p>
<p>針　腰眼　三里　陽陵泉　阿是</p>
<p>灸　腎俞　陰陵泉</p>
<p>出血　委中</p>

<h1>鬱症</h1>
<p>夫人之氣血沖和。萬病不生。一有噎郁。諸病生焉。故人之諸病。多生於郁。</p>
<p>針　中脘　上脘</p>
<p>灸　脾俞　膏肓　三里</p>

<h1>諸氣（針以導氣）</h1>
<p>血則隨氣而行。氣則載乎血者也。有是氣。必有是血。有是血。必乘乎是氣。二者行則俱行。一息有間則病矣。</p>

<h1>氣虛</h1>
<p>（勞役傷氣。中氣不足不可針。）</p>
<p>灸　脾俞　胃俞</p>

<h1>氣實</h1>
<p>（邪氣也。）</p>
<p>針　上脘　梁門　下脘</p>

<h1>氣滯</h1>
<p>（鬱而不伸也）</p>
<p>針　中脘　陰都　梁門</p>

<h1>氣寒</h1>
<p>（身受寒氣也）</p>
<p>灸　脾俞　肝俞</p>

<h1>諸血</h1>
<p>血為榮。氣為衛。心主血。肝藏血。脾為總官。血隨氣行。氣逆則血逆。髒得血而能津。腑得血而能潤。目得血而能視。舌得血而能言。手得血而能握。足得血而能躡。榮衛晝夜循環運行不息。若是榮衛火動。皆令失血焉。</p>

<h1>咳血</h1>
<p>（嗽而血出也）</p>
<p>針　幽門　三里　三陰交</p>

<h1>咯血</h1>
<p>（痰中血疙瘩也。所吐血齅。不臭可治。若臭者不治。）</p>
<p>針　梁門　幽門　後谿</p>

<h1>吐血</h1>
<p>（嘔全血也）</p>
<p>針　脾俞　上脘　申脈　陰陵泉</p>

<h1>衄血</h1>
<p>（鼻血也）</p>
<p>針　肝俞　瘂門　臨泣　內庭</p>
<p>灸　三里　湧泉</p>

<h1>便血</h1>
<p>（大便血）</p>
<p>針　隱白　三里　申脈</p>
<p>灸　三陰交（二百壯）</p>

<h1>溺血</h1>
<p>（小便血）</p>
<p>針　關元　石門　天樞　臨泣</p>

<h1>咳逆</h1>
<p>夫咳者。氣逆也。氣自臍下直衝上出於口。而作聲之名也。古謂之噦。今謂之呃。乃胃寒所生。寒氣自逆而呃上也。有痰。有氣虛。有火。有因飲食太過。填塞胸中。而氣不得升降者。</p>
<p>針　中脘　陰都</p>
<p>灸　三里（屢試屢效）</p>

<h1>噁心</h1>
<p>（胃中有寒氣而作惡心者。嘔清水。胃中有熱而作惡心。嘔酸。內作熱。）</p>
<p>噁心者。無聲無物。但心中欲吐不吐。欲嘔不嘔。雖曰噁心。非心經之病。其病皆在胃口上也。</p>
<p>針　中脘　上脘　梁門</p>
<p>灸　脾俞　胃俞</p>

<h1>翻胃</h1>
<p>（一名反胃。謂食入反出故也。）</p>
<p>大抵翻胃之症。未有不由膈噎而起也。其病皆因憂愁憤怒思慮鬱結。痰飲滯於胸膈之間。使氣道噎塞也。</p>
<p>針　中脘　上脘　下脘　陰部</p>
<p>灸　膈俞　脾俞　膏肓</p>

<h1>傷食</h1>
<p>（初起一吐即寬。若久不化。成積食也。）</p>
<p>東垣曰。胃中元氣盛。則能食而不傷。過時而不飢。脾胃俱壯。則能食而肥也。脾胃俱虛。則不能食而瘦。或少食而肥。而四肢不舉。蓋實而邪氣盛也。又有善食而瘦者。胃強脾虛。胃強者。邪火殺穀。非真強也。脾虛則肌肉削。名曰食㑊。</p>
<p>針（吐瀉並作腹痛甚之時。）　中脘　鳩尾　章門</p>
<p>灸（不得吐不得瀉。腹痛甚而已欲絕之時。）　神闕</p>
<p>出血　百會</p>

<h1>眩暈</h1>
<p>（病因有四。外邪。七情。腎虛。血虛。）</p>
<p>夫眩者。言其昏黑。暈者。言其旋轉。無痰不能作眩。此痰在上。火在下。火炎上。而動其痰。</p>
<p>針　中脘　三里　羕山　內庭</p>
<p>灸　三里　隱白</p>

<h1>大便閉</h1>
<p>（一名秘結。有風燥。有熱燥。有陽結。有陰結。有氣滯結。或因有所脫血。津液暴竭。種種不同。固難一例而推。）</p>
<p>秘結之症。不問氣體實之人。攝養乖理。三焦氣澀。運掉不行。壅結於腸胃之間。皆有秘結之患。</p>
<p>針　羕山　章門　膀胱俞</p>
<p>灸　中脘　腰眼</p>

<h1>喘急</h1>
<p>人之五臟。皆有上氣。而肺為之總。故經曰。諸氣皆屬於肺。肺居五臟之上。而為華蓋。喜清虛。而不欲窒礙。調攝失宜。或為風寒暑濕邪氣相干。則肺氣脹滿。發而為喘。呼吸坐臥。促迫不安也。</p>
<p>針　中府　幽門　中脘</p>
<p>灸　天突</p>

<h1>便濁</h1>
<p>因脾胃之濕熱下流。滲入膀胱。故使便溲。或白或赤。而渾濁不清也。</p>
<p>針　中脘　石門　陰交</p>
<p>灸　腎俞</p>

<h1>小便閉</h1>
<p>（天民曰。先哲以滴水之器譬之。上竅閉。則下竅不出。此理甚明。故東垣使灸百會穴。提其氣。是開上竅之法也。）</p>
<p>經曰。清陽出上竅。濁陰出下竅。故清陽不升。則濁陰不降。而成淋閉之患矣。</p>
<p>針　石門　關元　章門</p>
<p>灸　百會</p>

<h1>黃疸</h1>
<p>黃疸之病。皆濕熱所成。</p>
<p>出血　隱白　脾俞　胃俞</p>

<h1>黃腫</h1>
<p>人有病黃腫者。不可誤以為黃疸。蓋黃疸者。遍身如金。眼目皆黃。而面無腫狀。黃腫之黃。則其色帶白。而眼目如故。雖同出脾胃。而病形不同。</p>
<p>針　中脘　三里　腎俞　脾俞</p>

<h1>吞酸（附）</h1>
<p>吐酸（吞酸吐酸雖有吞吐之不同。而治法則一也。）</p>
<p>內經曰。諸嘔吐酸。皆屬熱。惟李東垣獨以為寒。</p>
<p>針　章門　京門　天樞</p>
<p>灸　三里（百壯而有效）</p>

<h1>股痛</h1>
<p>股居一身之下。眾陰之所歸。而其所以作疼者。三經（三經者。足太陰脾經。足厥陰肝經。足少陰腎經也。施治之時。不必詳分。）受病也。</p>
<p>針　三陰交　陰陵泉　三里　阿是</p>
<p>灸　風市</p>
<p>出血　委中</p>

<h1>脊痛</h1>
<p>（肩背痛不可回顧者。痰氣之所聚也。）</p>
<p>背脊乃督脈所貫。屬太陽經。其所以作疼者。乃房欲過度。不恤勞力。空虛所致。</p>
<p>針　肩髃　肩井　曲池</p>
<p>灸　肺俞　脾俞</p>
<p>出血　膏肓</p>

<h1>脅痛</h1>
<p>丹溪曰。屬肝木氣實。有死血。有痰流注。</p>
<p>針　章門　京門　阿是</p>
<p>灸　中府</p>
<p>出血　肝俞</p>

<h1>疝氣</h1>
<p>難經曰。任脈之為病。其內若結。男子者。為七疝。（七疝者。寒、水、筋、血、氣、狐、癲是也。）</p>
<p>針　天樞　腰眼　關元</p>
<p>灸　風市　阿是</p>
<p>出血　腎俞</p>

<h1>勞極</h1>
<p>（勞瘵之一症。難治也。雖施以針。亦無大效。）</p>
<p>勞症者。元是虛損之極。二十四種。或三十六種。名雖不同。證亦少異。大抵不過咳嗽發熱。咯血吐痰。白濁自澀。遺精盜汗。或心神恍惚。夢與鬼交。婦人則月閉不通。日漸尫羸。漸成勞極之候。</p>
<p>灸　膈俞　肝俞　脾俞</p>

<h1>口舌病</h1>
<p>口者。脾之竅。舌者。心之苗也。</p>

<h1>口舌生瘡</h1>
<p>（心熱也）</p>
<p>針　合谷　後谿</p>
<p>出血　神門</p>

<h1>口舌及咽腫痛</h1>
<p>（上熱也）</p>
<p>針　通里　神門　合谷</p>
<p>出血　曲澤</p>

<h1>齒痛</h1>
<p>（牙齒。骨之餘。腎之標也。精完則齒堅。腎衰則齒豁。虛熱則齒動。）</p>
<p>丹溪曰。牙疼或出血屬熱。胃中有熱。有風寒。有蟲。有濕熱。實熱腫痛也。</p>
<p>針　曲池　合谷　三里</p>
<p>出血　合谷</p>

<h1>齒齲</h1>
<p>（蟲蝕齒也）</p>
<p>針　翳風</p>

<h1>齒斷痛</h1>
<p>針　列缺　神門</p>

<h1>眼目</h1>
<p>（目之失明者。四氣七情之所害多。）</p>
<p>陰陽應象論云。諸脈者。皆屬於目。又曰。目得血而能視。五臟六腑之精氣。皆上注於目。而為之睛。</p>

<h1>風眼腫痛</h1>
<p>針　清明　三里　內庭</p>
<p>出血　頭維</p>

<h1>肝經上壅目赤澀痛</h1>
<p>針　合谷　晴明</p>
<p>灸　肝俞</p>

<h1>萑目</h1>
<p>（肝虛之候也）</p>
<p>針　百會　少商</p>
<p>出血　肝俞</p>

<h1>眼眶脹痛</h1>
<p>出血　合谷　少商</p>

<h1>統治一切眼疾</h1>
<p>針　晴明　合谷　三里　內庭　百會　少商</p>
<p>灸　肝俞　三里</p>
<p>出血　肝俞　少商　頭維　百會</p>

<h1>咽喉</h1>
<p>咽喉腫痛者。或喉痛生瘡者。或喉痛閉塞不能言語者。俱是風熱痰火所致也。</p>
<p>針　合谷　曲池　天突</p>
<p>出血　少商</p>

<h1>喉痹</h1>
<p>（喉痹卒然腫痛。水漿不入言語不通。死在須臾。）</p>
<p>出血（放其腫處出毒血）</p>

<h1>鼻病</h1>
<p>（內經曰。西方白色。人通氣於肺。開竅於鼻。）</p>
<p>鼻者。肺之外侯。丹溪曰。肺之為臟。其位高。其體脆。性惡寒。又惡熱。是故好飲熱酒者。始則傷於肺臟。</p>

<h1>酒齄鼻</h1>
<p>（熱血入肺）</p>
<p>出血　列缺　合谷</p>

<h1>清涕</h1>
<p>（風熱也）</p>
<p>針　肺俞　迎香</p>

<h1>痔漏</h1>
<p>經曰。因而飽食。筋脈橫解。腸澼為痔。</p>
<p>灸（可於痔上灸五十壯或至百壯）</p>

<h1>耳病</h1>
<p>耳者。腎之竅。腎虛。則耳聾鳴也。</p>

<h1>聤耳</h1>
<p>（多是上焦火炎也。小兒多有之。）</p>
<p>針　翳風　外關</p>

<h1>膿耳</h1>
<p>（風熱上壅流膿。耳聾新發者。多熱也。久聾者。多腎不足。）</p>
<p>針　耳門　迎香　臨泣</p>
<p>右耳鳴聾者。相火也。</p>
<p>左耳鳴聾者。膽火也。</p>
<p>左右俱耳腫痛者。胃火也。</p>

<h1>統治一切耳病</h1>
<p>針　外關　合谷　耳門　翳風　後谿　迎香　三里　臨泣</p>

<h1>𩞄雜</h1>
<p>𩞄雜者。俗謂之心𩞄也。有胃中痰因火動而𩞄者。又有因食鬱而𩞄者。</p>
<p>針　中脘　幽門　胃俞</p>

<h1>噯氣</h1>
<p>（胸膈之氣上升也。噯氣者多在食積。）</p>
<p>針　中腕　下脘　天樞　神門　通里</p>

<h1>水腫</h1>
<p>水腫者。因脾虛不能運化水穀。停於三焦。注於肌肉。滲於皮膚。而發腫也。</p>
<p>針　門元　天樞　章門　三陰交</p>

<h1>鼓脹</h1>
<p>（鼓脹之一證。針灸難得效。須服藥。）</p>
<p>夫脹者。飲食失節。不能調養。則清氣下降。濁氣填滿胸腹。濕熱相蒸。遂成脹滿。</p>
<p>針　中脘　石門　氣海</p>
<p>灸　水分　三陰交（五百壯）</p>

<h1>積聚</h1>
<p>氣之所積名曰積。氣之所聚名曰聚。故積者。五臟所生。聚者。六腑所成也。</p>

<h1>肝積</h1>
<p>（名曰肥氣。在右脅下。如覆杯。）</p>
<p>針　梁門　天樞　章門</p>
<p>灸　肝俞　章門</p>

<h1>心積</h1>
<p>（名曰伏梁。起臍上。大如璧。）</p>
<p>針　中脘　鳩尾</p>
<p>灸　膏肓</p>

<h1>脾積</h1>
<p>（名曰肥氣。在胃脘右側。覆大如盤。）</p>
<p>針　中脘　梁門　陰都</p>
<p>灸　脾俞　腰眼</p>

<h1>肺積</h1>
<p>（名曰息奔。在右脅下。大如覆杯。）</p>
<p>灸　三里　肺俞</p>

<h1>腎積</h1>
<p>（名曰奔豚。在小腹上至心下。若豚狀。）</p>
<p>灸　腎俞　京門</p>

<h1>統治一切積聚</h1>
<p>陽陵泉　中脘　天樞　梁門　章門　京門　脾俞　腰眼</p>

<h1>痞滿</h1>
<p>（大抵大便易者為虛。大便難者為實。）</p>
<p>有氣虛痞。血虛痞。食積痞。脾泄痞。痰膈痞。</p>
<p>針　梁門　天樞　幽門</p>
<p>灸　上脘</p>

<h1>健忘（附）</h1>
<p>驚悸怔忡（精神短少者多主於痰。）</p>
<p>有因思慮過度。勞傷心脾忘事者。</p>
<p>灸　關元　天樞</p>

<h1>驚悸（屬血虛火動）</h1>
<p>灸　神門　中脘</p>

<h1>怔忡</h1>
<p>（心胸躁動。謂之怔忡驚悸。久則成怔忡。怔忡久則成健忘。三症雖有深淺。然皆因心脾血少。神虧。清氣不足。痰火濁氣上攻。）</p>
<p>灸　神門　三里</p>

<h1>淋病</h1>
<p>（氣血石膏勞謂之五淋）</p>
<p>凡淋病屬熱。間亦有冷淋。多忿怒。房勞。忍小便。或酒肉濕熱。下流腎膀胱。鬱結為淋。</p>
<p>針　天樞　關元　中脘　太敦</p>
<p>灸　三陰交　膀胱俞</p>
<p>出血　三陰交　委中</p>

<h1>腳氣</h1>
<p>（腳氣者。其初病之時。不知不覺。因他病誘發。或奄然大悶。其症寒熱。全類傷寒。）</p>
<p>有從外感而得者。有從內傷而致者。所感雖有內外之殊。其為濕熱之患則一也。</p>
<p>針　風市　公孫　陰陵泉　環珧</p>
<p>灸　膈蒜灸痛處。每二壯去蒜再換。灸自三十壯五十壯。可依患人之輕重也。</p>
<p>出血　羕山</p>

<h1>痛風</h1>
<p>（古之痛痹者。即今之痛風也。諸方書又謂之白虎節風。）</p>
<p>丹溪曰。因濕痰濁血流注為病。</p>
<p>針　百會　環珧　風池</p>
<p>出血　三陰交　膏肓</p>

<h1>關格</h1>
<p>關格者。升降不通。飲食不下。此因氣之橫格也。乃是痰格中焦。</p>
<p>針　中脘　鳩尾</p>
<p>出血　少商　太敦</p>

<h1>臂痛</h1>
<p>臂痛者。因濕痰橫行經絡也。</p>
<p>針　肩井　合谷　肩髃　曲池</p>
<p>灸　阿是</p>

<h1>肩痛</h1>
<p>（痰濕為主）</p>
<p>針　肩井　風池　肩髃</p>
<p>灸　膏肓</p>
<p>出血　肺俞</p>

<h1>足痛</h1>
<p>有痰。有濕。有血虛。有腳。</p>
<p>針　公孫　三里　陽陵泉</p>
<p>灸　阿是</p>

<h1>手痛</h1>
<p>有濕熱。有血虛。</p>
<p>針　曲池　合谷　神門　通里</p>
<p>灸　阿是　商陽</p>

<h1>麻木</h1>
<p>（麻是氣虛。木是濕痰。分為二。雖然。亦有氣血俱虛。但麻而不木者。亦有虛而感濕。麻木兼作者。）</p>
<p>丹溪曰。十指麻木。是胃中有濕痰。死血。</p>

<h1>渾身麻木</h1>
<p>針　環珧　陽陵泉　肩髃　三里　百會　曲池　合谷　肩井</p>
<p>出血　合谷　百會</p>

<h1>手麻木</h1>
<p>針　外關　曲池</p>
<p>出血　曲澤</p>

<h1>足麻木</h1>
<p>針　三里　環珧　風市</p>
<p>出血　隱白</p>

<h1>自汗</h1>
<p>（原病式曰。心熱則出汗。）</p>
<p>丹溪曰。自汗者。屬氣虛。亦屬濕與熱。</p>
<p>針　列缺　少商　太敦　湧泉</p>

<h1>盜汗</h1>
<p>丹溪曰。盜汗屬血與陰虛。</p>
<p>灸　氣海　腎俞</p>

<h1>癇證</h1>
<p>丹溪曰。癇證者。大率屬痰與熱。</p>
<p>針　中脘　鳩尾　公孫</p>
<p>灸　太敦</p>

<h1>癲狂</h1>
<p>大率多因痰結於心胸間所致。</p>
<p>針　風池　中脘　鳩尾　膏肓　肺俞</p>
<p>灸　百會　神門　上脘　曲池</p>

<h1>邪祟</h1>
<p>天民曰。病有心虛驚惕。如醉如凝。如為邪鬼所附。或陽明內實。以致登高而歌。棄衣而走。皆痰火之所為。實非妖迷邪祟之所致。</p>
<p>灸　太敦　三里</p>
<p>出血　委中　少商</p>

<h1>脫肛</h1>
<p>脫肛者。肛門翻出。虛寒脫出也。</p>
<p>灸　腰眼　腎俞　脾俞（自二百壯至五百壯）</p>

<h1>諸蟲</h1>
<p>（癆瘵蟲有十八種其形狀各有異。詳見十藥神書）</p>
<p>諸蟲者。腸胃中濕熱所生也。</p>
<p>針　京門　章門　天樞</p>
<p>灸　肝俞　脾俞</p>

<h1>遺溺</h1>
<p>（或遺尿。老人溺多。有虛寒。壯人溺多者虛熱。）</p>
<p>小便失禁者。屬氣虛。</p>
<p>灸　石門　腎俞（五百壯）</p>

<h1>腋氣</h1>
<p>（一名狐臭。屬濕熱。）</p>
<p>灸　腋下有細小孔。每穴三壯。</p>

<h1>消渴</h1>
<p>（大抵消渴俱屬內虛而有熱也）</p>
<p>因食甘美而多肥。故其氣上溢。轉為消渴。</p>
<p>針　中脘　陰都</p>
<p>灸　三里</p>

<h1>癰疽</h1>
<p>（癰者大而高起。屬乎陽。六腑之氣所生也。疽者平而內發。屬乎陰。五臟之氣所成也。）</p>
<p>凡癰疽。皆飲食七情。房勞。損傷脾腎肝所致也。（癰疽有外邪相搏。及小瘡瘍傳染。亦皆因內有毒以召之也。）</p>
<p>灸　隔蒜灸發處。去蒜再換灸。</p>

<h1>折傷（附跌撲）</h1>
<p>折傷者。多有瘀血凝滯血也。</p>
<p>出血　其患處多取血</p>

<h1>婦人科</h1>
<p>（婦人諸病。多是氣盛而血虛也。）</p>
<p>婦人一切病。皆與男子同。惟經水帶下血崩胎產等病。為異而已。</p>

<h1>經閉（血枯也）</h1>
<p>針　中脘　氣海　中極</p>
<p>灸　關元　天樞</p>

<h1>月經常過期者。血少也。</h1>
<p>針　石門　關元　三陰交</p>

<h1>經水過期。紫黑有塊作痛。血熱也。</h1>
<p>針　三陰交　中脘　氣海</p>

<h1>經水未行。臨經將來作痛。（血實鬱滯也。）</h1>
<p>針　天樞　陰交　關元</p>

<h1>經水行後。而作痛。（血俱虛也。）</h1>
<p>針　三陰交　關元</p>

<h1>經水欲行。臍腹絞痛。（血滯也）</h1>
<p>針　氣海　陰交　太敦</p>

<h1>統治一切經水。諸病生穴。</h1>
<p>三陰交　關元　石門　陰交</p>
<p>中極　氣海　中脘　太敦</p>
<p>天極　三里　神闕　合谷</p>

<h1>難產</h1>
<p>（刺合谷三陰交而墮胎之說。不可信。）</p>
<p>難產之婦。皆是產前恣欲所致。非獨難產。且產後諸疾。皆由是而生。</p>
<p>針　三陰交　合谷　石門　關元</p>

<h1>產後血暈。不識人。</h1>
<p>針　三陰交　關元　中極</p>
<p>灸　三里　太敦</p>

<h1>產後手足厥逆</h1>
<p>灸　肩井（七壯有極效）</p>

<h1>胞衣不下</h1>
<p>（肩井穴不可深刺。刺之。亦須刺足三里。）</p>
<p>針　氣海　石門　陰交　肩井</p>
<p>灸　肩井　中極</p>

<h1>橫產</h1>
<p>針　三陰交　腎俞　合谷</p>
<p>橫產手先出。產門手出。以細針可刺掌中。</p>

<h1>逆產（足先出）</h1>
<p>針　關元　石門　三陰交</p>
<p>灸　右足小指尖三壯立產。炷如小麥大。</p>

<h1>懷妊</h1>
<p>灸　胃俞　腰眼（至出產則安）</p>

<h1>產後腹痛（瘀血也）</h1>
<p>針　石門　關元</p>

<h1>血崩</h1>
<p>（血行淋瀝不正。名山崩。）</p>
<p>針　氣海　天樞　三陰交　太敦</p>

<h1>乳腫痛</h1>
<p>灸　臨泣</p>
<p>出血　膏肓</p>

<h1>血塊</h1>
<p>針　氣海　三陰交　三里　丹田　阿是</p>
<p>出血　委中</p>

<h1>帶下</h1>
<p>（肥人帶下多是濕痰。瘦人少有此病。有者足熱也。）</p>
<p>丹溪曰。胃中痰積流下。滲入膀胱。當升之。無人知此。</p>
<p>針　肝俞　三陰交　氣海</p>
<p>灸　天樞　門元</p>

<h1>小兒科</h1>
<p>凡小兒諸病。亦與大人無異。唯驚風、疳積、痘疹為異。</p>

<h1>急驚</h1>
<p>（急驚屬肝。風邪痰熱。有餘之症也。錢仲陽曰。急者實熱。慢者虛熱。）</p>
<p>針　中脘　鳩尾　百會　湧泉</p>
<p>灸　章門</p>

<h1>慢驚</h1>
<p>（屬脾。中氣虛損。不足之病也。）</p>
<p>灸　章門　神闕</p>

<h1>疳疾</h1>
<p>（疳疾癖疾二症。肝俞。膈俞。脾俞。胃俞及至身柱腰眼而出血治之。無有不效焉。攝州中野村之一醫。行此法。最有經驗矣。俗稱中野之一本針焉。）</p>
<p>虞搏曰。內經云。數食肥。令內熱。數食甘。令人中滿。蓋其病因肥甘所致。故命名曰疳。</p>
<p>針　中脘　鳩尾</p>
<p>灸　肝俞　脾俞　章門</p>
<p>出血　膈俞　胃俞　腎俞</p>

<h1>癖疾</h1>
<p>錢仲陽云。癖塊者。僻於兩脅。痞結者。痞於中脘。此因乳哺失調。飲食停滯。邪氣相搏而成。或乳母六淫七情所致也。</p>
<p>出血　肝俞　脾俞　腎俞</p>

<h1>丹毒</h1>
<p>（丹毒者。火行於外也。）</p>
<p>出血　委中　膈俞</p>

<h1>吐瀉</h1>
<p>小兒之吐瀉。皆乳食過度。傳化失常。蓋食鬱則成熱。熱鬱則成酸。而成吐成瀉。此必然之理也。</p>
<p>針　關元　天樞　鳩尾</p>

<h1>腹脹（須察其虛實）</h1>
<p>灸　章門</p>

<h1>腹痛</h1>
<p>（多是飲食所傷也。）</p>
<p>針　中脘　章門　關元</p>

<h1>夜啼</h1>
<p>（錢氏曰。小兒夜啼者。脾臟冷而痛也。有欲飲乳。到口便啼。身額皆熱者。看其口。若無瘡。必喉舌腫痛而啼也。）</p>
<p>灸　脾俞</p>
<p>出血　有舌下紫脈。刺之出惡血。</p>

<h1>痘瘡</h1>
<p>（痘瘡者。往昔未有。魏以來發生之。本朝聖武天皇之世始流行。或曰痘瘡者。人生不再。危病也。）</p>
<p>初生時。含胎血。嚥下至腎經。發痘也。或曰。父母肆欲火毒。遺於精血之間。生兒發痘。</p>

<h1>痘瘡黑頭研已欲絕</h1>
<p>出血　委中　曲澤</p>

<h1>附錄</h1>
<p>一舊書禁針穴二十二穴。禁灸穴四十五穴。最忌刺合谷。而孕婦墮胎。或灸石門。則女子終身無妊娠。灸瘂門而成瘂。刺鳩尾則死。是說也予頗疑之。一人患頭痛。其痛引腦。不可忍。至瘂門之穴。灸五壯。頓治。又中暑腹痛已欲絕。則刺鳩尾之一穴。而作吐即瘳。孕婦麻木。刺合谷之二穴而愈。所謂禁穴。亦未嘗見其害。反得奇效者。不可舉數焉。然則其為妄誕。可不辨而知矣。竊以為對症而治。無所謂禁穴。治不對證。或治不得法。周身皆禁穴也。何者。雖至刺如中脘上脘之穴。不能手法。則或聚成塊或腫痛或出血。不可忍。或發驚。或成眩暈。或針斷肉中。或針刺不拔。不禁而成禁穴矣。故但依病症。針刺有法。此說非入門同道。則難共論焉。</p>
<p>一厥症頓死者。和醫稱氣付針者。即大針也。用之刺百會。人中。湧泉。足三里。而不蘇。則或灸神闕。隱白者。二三壯不見呈兆。則束手無策。嗚呼。可悲哉。於予一切頓死者。以毫針先刺鳩尾、中脘、上脘、梁門、關元、氣海。而後以大針刺百會、三里。膏肓、湧泉而有效。灸神闕。則至百壯。亦不限以二三壯。</p>
<p>一刺針之後。腫痛不可忍者。邪氣聚其處。而作患耳。若欲治之。則當刺其所腫痛之經穴。極有效。</p>
<p>一倭俗有言曰腫病。其症時眼昏。而治將絕。是當屍厥疔腫。生口鼻。㠌而如此。灸溫溜之二穴。而有效。凡疔腫。灸芥宜大。若不知熱。則宜及知熱。（四國之民間有稱一瘡。其病周身生一瘡。暴眼昏而死。乃於須臾之間。灸溫溜穴邊而得治云。疑是疔瘡也。）</p>
<p>一補瀉迎隨者。針家之所重也。雖多論說。刺而驅賊邪。去症癖。則瀉也。驅去邪氣。正氣回覆。即補也。若謂補瀉迎隨。全在手法。並無別解。或有瀉而無補。或有補而有瀉。或瀉其子補其母之說。一切吾所不取也。</p>
<p>一風眼至出膜。則手中指本節尖。灸五壯。左眼灸右。右眼灸左。</p>
<p>一膁瘡不愈。則其至土用中灸三陰交里者。七壯。則再不發。至二十壯。或三十壯。亦可也。</p>
<p>一下疳瘡。三陰交之二穴。可大出血腫物。正中灸三壯。極有效。</p>
<p>一小兒慢脾風。目直視。手足痹。口吐沫。則章門二穴灸五壯。或至十壯。此從經驗得之。</p>
<p>一沙脹之一症。委中之二穴。可出血。此症海邊民間。用之甚效。</p>
<p>一五積氣塊。血瘕。當灸膈俞。肝俞。太敦。照海。隨病輕重。而自百壯至千壯。</p>
<p>一下血。當灸命門之穴。命門在十四椎下。所對臍是也。令患人平身。垂手正立。於木石之上。目無斜視。身無偏倚。去上衣服。用直杖子。從地至臍。中央截斷。卻回杖子於背上。當脊骨中。杖盡處。即是命門穴也。（命門之灸。治淋疾腰腹痛。或治疝氣腳氣。無不取效。）</p>
<p>千金云。凡言壯數者。若丁壯病根深篤。可倍於方數。老少衰弱。可減半。扁鵲灸法。有至五百壯千壯。曹氏從法有百壯大。十壯小。諸論亦然。惟明堂本經多雲。針入六分。灸二壯。更無餘論。故後人不準。惟以病之重輕而增損之。</p>
<p>一舊說欲用針灸。必先知其人行年。宜忌尻神。及人神所在。男忌除。女忌破。男忌戌。女忌巳。又所謂血支血忌之類。一切不可拘。若夫急難之際。卒暴之疾。死在須臾之間。宜速治之。若泥於禁忌。倫於鬼神。豈不誤哉。</p>

<h1>跋</h1>
<p>孟子曰。盡信書。則不如無書。書可信乎。書可不信乎。取捨唯在其人耳。吾管先生。所著針灸則。不取十二經十五絡所生動井榮俞經合八會等。僅取若干經穴。可針則針。可灸則灸。可出血則出血。而能起沉疴矣。此書也。先生唯示門人小子耳。非必欲示他人也。蒙命僕校正其句讀。讀此書者。如實驗有徵而覺可取者。發表示眾。以供採用。則為幸甚。</p>
