<header data-type="book">
<h1>掃葉莊醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛雪</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1764">公元1764年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）；《掃葉莊一瓢老人醫案》（<a href="https://archive.org/details/02093775.cn">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>虛勞</h2>
<p>形瘦體質，不為濕害，經言瘦人以濕為寶也。蓋課誦動心，謀慮必由肝膽。君相皆動，氣升血溢，諸經氣皆升舉。凡安靜怡悅稍安，情志怫鬱病加，皆內因之恙，且勞心曲運神機，去酒色致傷兩途。神氣無形，精血有形也。</p>
<p>生地　丹參　遠志　棗仁　麥冬　柏子仁　天冬　桔梗　當歸　五味　茯神　元參</p>
<p>肝胃絡熱，暮熱甚，失血。</p>
<p>生地　川石斛　萹豆　麥冬　女貞子　茯神</p>
<p>久瀉利至十餘年，陰走泄而莖痿，肝腎真氣，不主收攝，為脹瘕腹鳴，邇日形寒，不飢不欲食。緣陰損及陽，暴冷外加，口鼻吸入之寒，無有不侵及中土之陽，病根是肝腎精血內損。久病務以飲食為先，溫胃蘇陽為穩，用治中法。</p>
<p>人參　藿梗　木瓜　厚朴　茯苓　穀芽　益智仁　新會皮</p>
<p>能食不知飢，痰多咳逆，當先理氣，清肅上焦，本質陰虧，再議。</p>
<p>大沙參　白蔻仁　蔞仁　桑葉　杏仁　川貝母</p>
<p>腎虛督損。</p>
<p>都氣丸</p>
<p>前方用丹溪補陰丸，午後頭痛已止。精血有形，易虧難復，仍以咸補填陰法。</p>
<p>熟地　茯神　龜膠　阿膠　湖蓮　瑣陽　人中白　天冬　五味　豬脊髓和為丸</p>
<p>揖拜皆動陰，不下固，必陽浮升舉，況隆冬過暖，天氣少藏，當春生令至，以乙癸同治，兼固其下。</p>
<p>六味去丹澤加二仙知柏五味</p>
<p>閱病源診脈，是肝腎精血暗虧，由至陰傷及陽明之脈，身半以上，漸致拘束，此非外來客邪也。</p>
<p>六味加鹿茸五味</p>
<p>勞傷肝腎，奇脈不用，遇煩必腰痛背垂，雖有失血，未可沉陰滋降，以柔劑溫通補下，以充奇脈。</p>
<p>淡蓯蓉　炒杞子　茯神　炒當歸身　淡補骨脂　生杜仲　生羊肉腎</p>
<p>接案　中年，夏秋失血再發，勞煩內傷，背痛腰板，肝腎下虧，蹺維奇脈，不主用事，子後汗出，陰陽發泄。是包舉溫養勿遲，苟不安逸，藥必無功。</p>
<p>鮮河車　人參　芡實　大熟地　茯神　北五味　金櫻膏　石蓮　炒黑遠志</p>
<p>勞心至於陽痿，當以交合心腎，但中年以後，陽難充復，最不易效。</p>
<p>鹿茸　魚膠　韭子　兔絲　補骨　舶茴香　沙苑　覆盆　五味　青鹽　茯苓　遠志　茅朮（生制）</p>
<p>早食頗安，晚食不化，脈左弱細，右尺中虛動。是脾腎兩虛，自陰傷及陽，以陰藥中佐以溫煦，以坎水中真陽內崇也。</p>
<p>早服都氣丸加河車，午服異功散。</p>
<p>初春脈動而不鼓，亦收藏之司淺矣。當壯年未育，晨吐咸痰，皆水虧火炎，精氣不充之象，胃旺能納穀，當專理下焦，不必以痰為慮。</p>
<p>牛骨髓（一具，隔水熬）　羊骨髓（熬去渣）　海參膠　澹菜膠　線魚膠　龜鹿膠　熟地　兔絲子　芡實　覆盆子　金櫻子　家韭子　茯苓　五味子　建蓮　遠志肉　制首烏</p>
<p>少年奔走勞動，動則陽升，陽氣不主內守，咳非外感，豈必肺傷，必情志未堅，龍相內灼，衝陽上舉致咳。知見咳治肺，非辛解，即寒涼，治不中病，徒耗胃口，食減，其病日凶。病人自述，自腰以下，筋脈不束，竟夜不寐，晨必咳嘔。中下損極，顯然明白。</p>
<p>桂枝木　南棗肉　炙黑草　白芍　白飴糖</p>
<p>能食反瘦，久嗽夜甚，沖年精血不生，下損難愈之病。</p>
<p>牛骨髓　豬脊髓　淮山藥　茯苓　懷熟地　羊骨髓　湖蓮肉　山萸肉　芡實</p>
<p>久損之陰不復，與柔劑滋填。</p>
<p>咸秋石　阿膠　熟地　天冬　茯神　元武版　知母　川斛膏和為丸</p>
<p>中年脈細便燥，五液不充，即是陰虧，長夏失血，交秋再發，食減什三，為下損及胃，勞怯難愈之症。用藥不宜偏寒偏熱，但主養精血有情，勿損胃口者。</p>
<p>芡實　龜鹿膠　建蓮肉　九蒸熟地黃　山藥　五味子　豬脊髓　牛羊髓</p>
<p>脈小數，是精血內損成勞，陰虛生內熱，久而不復，陽氣不傷，夜不成寐，以包固大氣。</p>
<p>一氣丹　河車　秋石　紅鉛　乳粉</p>
<p>形瘦脈虛，左部空大，嗽病三年，行走氣喘，據述從臍下氣衝，必咳甚而嘔。經言久咳不已，則三焦受之。乃他處累及，非治肺矣。思下之任脈失任，衝陽由胃及上，犯肺致咳，須固下攝納滋養，腎病在下，必先形容憔悴者此也。</p>
<p>五味子　人參　鹿胎　骨脂　茯苓　坎氣　胡桃　蓯蓉</p>
<p>脈細小，色白食少，不易運，形容入夏更瘦，不獨精血不充，氣弱易泄，不耐煩勞。此臟陰腑陽交損，補三陰為是。</p>
<p>人參　熟術　茯神　芡實　白芍　歸身</p>
<p>北五味，熟地　桂圓煎湯和丸</p>
<p>病是老勞，不肯充復，入夏時令熱燥，氣泄形肉日瘦，行動氣喘，納食日少，平昔喜用冷食，只宜用生脈四君子。</p>
<p>人參　麥冬　北五味　熟術　茯神　炙草　熬膏服</p>
<p>課誦煩心，情懷優慮，五志之陽，鬱勃少伸，直升直降，遂發肛瘍，久而成漏，最難復為。勞怯必開懷怡悅，用藥全以胃氣為主。</p>
<p>人參　蒸白朮　茯神　陳皮　炙甘草</p>
<p>面色青黃，脈垂入尺，吸氣短促如喘，身熱尤甚。此皆精血下奪，氣不歸元，肝腎損極不復。雖填精充髓，病深未必能效。</p>
<p>鮮河車　山萸肉　山藥　茯神　熟地黃　芡實　北五味子　白蓮藕搗取汁</p>
<p>今夏血症再發，入秋音啞喉痛，陰損難復。</p>
<p>生地　麥冬　天冬　北沙參　茯神　阿膠　雞子黃</p>
<p>脈下垂右大，深春失血，入秋半不復，飲食仍納，無以充長精神。由精血久損，肝腎不納，行動則喘，語言氣怯，著枕沖氣上逆，咳嗆。皆損及八脈，不易治之症。</p>
<p>河車　杞子　北五味　沙苑蒺藜　湖蓮肉　大麥冬　人參　茯苓　熟地黃　山藥漿同河車膠為丸</p>
<p>脈數虛右大，入夏咳嗽失血，遂飲食頓減。此屬勞傷內因，以養胃陰甘藥，乃土旺金生之義。</p>
<p>黃耆　北沙參　苡米仁　炙甘草　黃精　茯苓</p>
<p>老勞有年，今夏血痰吐後，不但頻咳不已，身動喘息不止。此乃下元氣不收納，以攝固腎臟，不與肺喘同治。</p>
<p>鮮河車　塊苓　熟地黃　紫石英　北五味子　胡桃肉　湖蓮　補骨脂　山藥粉糊為丸</p>
<p>自正月間吐血，至今形瘦氣短，身動尤甚，飲食仍用，大便溏，著枕臥息不安，欲得坐起。此下焦衝脈之氣衝上，遂令喘咳不已，痰系脂液所化，吐咯永不清爽，下損勞怯症，最不易治。</p>
<p>人參　紫石英　五味子　坎氣　石殼湖蓮　瑣陽　茯苓　山藥粉糊為丸</p>
<p>壯年脈形數垂入尺，痰多曾嗽血，冬底盜汗。顯然真陰不旺，精血雄充，若不加保養，久延成怯。</p>
<p>人參　熟地黃　山藥　茯苓　芡實　建蓮肉　牛膝　五味子　河車膠和為丸</p>
<p>向來體質，是下元不足，上冬過暖氣泄，暴冷直侵，暴嗽俯不能臥，痰多血冒，已是下焦厥逆幹上。夫不臥之症，有餘者治肺，不足者治腎。而參耆乃補中脾胃藥，其見效之故，是從中堵截，聊以遮攔架隔，其沖脾胃得醒，谷進精氣少蘇。究竟隔二三治法，非上乘工夫也。當以河車膠益衝任，以包舉大氣以臭穢，是下焦上泛，用重濁之補以填之，乃至理也。下午余功，以四君子湯益土生金，用之勿怠，確守可愈。非比客病傳變，朝更夕改者。</p>
<p>先天原弱，繼以病傷，是症精血不肯生旺，陰不戀陽，陽浮氣升。煎方以酸收重鎮，滋陰填精，頗效。調攝大旨，忌食辛辣，下宜夜坐，及奔走之勞。久服可冀復元。</p>
<p>金櫻膏　青鹽　芡實　磁石　龜鹿膏　山萸肉　熟地黃　湖蓮　阿膠　瑣陽　北五味　云茯神</p>
<p>少壯脈小數，垂尺及澤穴，男子精血不肯充旺，情萌內震，陰火即動。此失血咳嗽，外寒內熱，非外來客病，自能保養，不致成怯。用藥不過治偏，無關於生長身中之精氣。</p>
<p>復脈湯去參桂姜加入　北沙參　甘蔗漿　病乃陰傷，已及陽分，形羸背寒，河車丸包舉填精，究屬濁陰之藥，必兼建立中陽，以崇生氣。若醫咳治血滋陰，必然敗壞決裂。</p>
<p>紫衣胡桃　米糖　煨姜　南棗肉　白芍　炙甘草</p>
<p>血後咳嗽食減，子後汗泄，虛損雖自下起，驗諸色脈，扶中更要理嗽，清涼愈治愈凶。</p>
<p>異功散</p>
<p>形氣精血消憊，生生不來，豈草木可以充復。古稱人參益氣，羊肉補陰，咽喉如痹，佐秋石為外廓，取鹹味直至至陰。</p>
<p>人參　雄羊肉腎　赤石脂　鮮山藥　搗漿丸再以秋石為丸</p>
<p>病原是陰傷及陽，其外寒內熱，惡食，疆食嘔，以及泄瀉，皆滋潤涼藥，希冀治嗽，嗽仍不止，胃反受傷。然虛損為肝腎病，當此地位，以脾胃進谷為寶，莫言治病。</p>
<p>戊己湯加入茯苓</p>
<p>診左脈浮弦，右大而緩，視面色痿黃，膚乏淖澤。據述瀉血已二十年，頻用清涼止血，血仍不止，食減神困，改進參朮甘溫有效。此乃救前藥之謬，未明病機所由來。夫積勞者令陽傷，金匱云：脈大為勞，虛極者亦為勞。聖人明示大而勞者，宜理陽虛，而勞之必宜理陰。自血去太過，自述大腿跳躍，按之不息。腎液肝血，無以養骨營筋，內風翔動，致奇脈蹺維，全不司其約束。腑陽臟陰，奇脈交損，中年以後，最難充復，日就衰憊宜矣。論久病內傷，必究寢食，今食少艱運，寐少寤多，莫言治病，當固護二氣之衰，再參天運地氣之勝復，斯身中陰陽消長，必有合也。</p>
<p>人參　生益智仁　木瓜　生於術</p>
<p>附方　人參　芡實　大熟地炭　茯神　五味子　石蓮子</p>
<p>附方　北沙參固本加阿膠，又加芡實、山藥、茯神、蓮肉　生脈合六味去丹澤加女貞、芡實　都氣湯加青鉛　固本加茯神、芡實、阿膠、五味、蓮肉、龜版、人參鬚　八珍湯料為末加河車膠和丸</p>
<p>形瘦脈細色奪，下焦氣衝心，痛咳甚。此肝腎精血內虧，衝脈之氣逆上所致。此治肺清潤無益，乃內損之症，最不易治。</p>
<p>熟地　茯苓　五味　芡實　石蓮肉　炒黃山藥</p>
<p>診脈左部弦大，若有鋒銳，右脈如數，按之虛濡。述上秋失血，夏季再發，交秋咳嗽甚，必食谷噦嘔而出。凡人身左升主肝，右升主肺，左升太過，必右降不及，木反刑金，氣不肅化而咳，咳甚而嘔。況沖年陰火易動，龍相交熾，胃少寧靜。越人有下損及胃之文，此皆內動精氣之恙。苟非屏絕欲念怒勞，徒以藥餌為治，草木無情之物，不能充精益髓耳。</p>
<p>人參　飴糖漿　蜜炒新會皮　炙甘草　生白芍　南棗肉</p>
<p>脈右弦大數，左小數，據述操持過煩，遂咳嗽失血，血止半年不復，肌瘦色奪，身動喘促，鼻息有音，咽喉乍痛乍緩，顯然精血枯痿，下焦元海，乏收攝之權，陰不上承，但有衝脈浮陽升舉，有升無降，無秋收冬藏之應乎天地。故清涼潤肺，無濟乎喘咳諸症，皆由根本下怯，子令母虛。此謂內損，草木藉其偏勝攻邪，精血有情，藥味未能充長。故吃藥無功，惟潛心屏俗，靜處山林，寒暑一更，凝然不動，間有病痊者。</p>
<p>早晨服瓊玉膏　午服人乳</p>
<p>色㿠白，脈小不食不飢，便溏不爽，久坐脊骨痛軟，行動如喘。此精氣內奪，失血內損未復，更加時瘧再傷，涎沫湧吐，五液所化，非陰膩之藥所宜用。</p>
<p>參建中湯去姜。</p>
<p>攻毒金石重墜，其氣流入骨髓，內蒸爍液，漸致內損虛怯。凡滋養萸地之藥，決不應病，當常以青鉛數兩打薄，每日煮汁，用於煮粥煮飯，經年搜剔藥毒。</p>
<p>方用聚精丸加茯苓。</p>
<p>夏至陰氣不生，乃損不能復矣。今當大熱，氣泄愈甚，百脈諸氣皆空，脂液盡耗，難更蘇。為寒為熱，無非陰陽互乘。陽由陰上越，則頭巔痛，風木之火入中，則嘔逆咳嗆。總之液涸神竭，進兩儀瓊玉，扶至稍涼，再為酌量。</p>
<p>人參　麥冬肉　竹葉　大麥仁　烏梅肉　鮮荷葉搗汁　水煎沉冷服</p>
<p>勞損三年，冬季病發，遂音啞無聲，入春乾咳，欲涼飲，大便不實。所幸胃納頗安，以固攝下焦，望陰得上承，庶可延年。</p>
<p>熟地　茯神　芡實　川石斛　山藥　湖蓮</p>
<p>脈左數甚，夏季嗽血，入冬聲嘶喉痛，陰損成勞，藥不易治。</p>
<p>生地　甜北沙參　麥冬　阿膠　川斛　生雞子黃</p>
<p>脈細促數，是腎精肝血內耗，咳嗽必嘔吐清涎濁沫。此衝脈逆氣，自下泛上，氣不收納，喘而汗出，根本先撥，藥難奏功。醫執見血為熱，見嗽治肺，是速其凶矣。</p>
<p>人參　胡桃肉　秋石　熟地　五味子</p>
<p>陽傷背寒，陰損發熱，久嗽失音，延及喘嘔，兩三年來，容瘦膚枯，諒非外邪壅遏，由營衛偏枯，勞損成疴。</p>
<p>黃耆　阿膠　棗仁　歸身　牡蠣　炙甘草</p>
<p>暑解熱止，咳嗽喉息有音，唾痰涎沫。此腎陰不固，虛熱浮溢致咳，非湯藥可愈。戒酒色嗔怒可安，否則延為勞怯。</p>
<p>都氣湯中加入　秋石　清阿膠</p>
<p>向有失血陰虛，春夏又病時氣，秋咳嗆，舌根白胎，形質軟弱。以熱傷津液，治用復脈法。</p>
<p>生地　麥冬　阿膠　炙黑甘草　麻仁　南棗</p>
<p>勞損夜熱咳甚，皆陽虧無以攝伏陽氣，衝脈皆衝上擾為嗽。若以清肺治嗽，嗽必不愈，必致胃傷廢食矣。</p>
<p>水煮熟地　五味　天冬　女貞實　茯神</p>
<p>阿膠</p>
<p>脈數形瘦，久嗽不止。</p>
<p>六味湯中加入　天冬麥冬</p>
<p>色蒼脈數，嗽已半年，納食不多，姑以甘涼潤劑，不得犯胃。</p>
<p>生白扁豆　玉竹　桑葉　大沙參　麥冬　生草</p>
<p>寒熱半年，嗽血前後，胸背相映刺痛，是過勞受傷，營衛二氣空隙。法當甘溫益氣，莫與清涼肺藥。</p>
<p>歸耆建中湯去姜，附黃耆建中去姜加牡蠣</p>
<p>失血後咳嗆不已，行走氣喘，心熱脈細數促。此下焦肝腎精血傷損，陽浮上熾為咳，故清肺寒涼則謬。</p>
<p>復脈湯中去人參。</p>
<p>寐則嗆咳，陽氣不能收入陽蹺，痰綠色，夜寐不能著枕，此為腎病。</p>
<p>薛氏加減八味湯中加入紫衣胡桃肉。</p>
<p>脈左數，咳必下氣上衝，此為陰虧，乃怯症之根萌也。</p>
<p>熟地　茯神　芡實　五味　山藥　建蓮</p>
<p>診得關前搏大，納食頗多，據說飲酒食鹹味太過，致嗽血失音，且形瘦面赤。從木火刑金治，凡酒客不喜甜膩藥味。</p>
<p>枯黃芩（泡淡）　生石膏　知母　滑石（飛）　生甘草　川貝母</p>
<p>左升從肝，凡相火內風不寧，胃津化痰，擾肺為咳，而誦讀久坐，都令君相上乘，臟陰不充，必夏至漸生。斯時且勿攻苦，養至白露可愈。</p>
<p>熟地　山藥　女貞子　芡實　杞子　萸肉　咸秋石　茯苓　建蓮肉　豬脊髓丸</p>
<p>因痢陰陽，宿病咳嗽痰多，是下焦陰不上承，五液泛而為痰涎，藥難奏功，必須安養，待精氣充復可愈。</p>
<p>熟地炭　芡實　茯苓　炒山藥　湖蓮　川石斛</p>
<p>時氣熱病，久延傷陰，遂有失血咳嗽，夏秋晡熱倦懶，受暑熱傷氣也。只宜養胃腎之陰，不必以其咳嗽而治肺。</p>
<p>復脈去參薑桂。</p>
<p>右脈虛大，色奪形瘦，肌燥瘡痍，咳嗽經年，曾經失血，是津虧氣餒，由精勞內損，但理胃陰，不必治咳。</p>
<p>金匱麥門冬湯去半夏</p>
<p>脈數虛右大，久嗽咽喉痛，足冷，是虛陽氣浮越，引導不應，曾服八味丸。</p>
<p>大造去人參、牛膝。</p>
<p>中下交虛，痰多嗽甚，血止，下焦冷，寅卯莖舉，是陰不攝陽，陽自獨升獨降，冬失其藏，春深怕發。</p>
<p>熟地　茯苓　芡實　五味子　山藥　建蓮肉</p>
<p>久嗽食減，痰多氣短，與</p>
<p>麥門冬湯</p>
<p>數年以外失血，形瘦食失，行走氣喘。自述交夏血症必發，發則左脅有聲，由下而上。蓋肝陽內風旋動血溢，皆腎水不主生木。若能安養怡悅，尚可帶病延年。</p>
<p>九制首烏　旱蓮草　天門冬　方解青鹽　茯神　雄羊肉腎　女貞子　枸杞子　麋角膠</p>
<p>診脈左部平和，右關弦大帶滑，此失血並非虛損，問胸脘不爽，是陽明胃氣不和，氣逆則擾動血絡。只宜暫戒酒肉辛辣，胃和即愈，不須介懷。</p>
<p>紫降香銼末　金川斛　桔梗　廣皮　杜蘇子　杏仁　枳殼　萊菔子</p>
<p>脈細嗆血，病從下焦，氣衝根怯，宜戒酒色，妥守百日可旺。</p>
<p>六味加　車前　牛膝</p>
<p>服麻桂湯藥，失血咳嗆不已，過辛溫耗散動絡，姑以甘柔藥緩之。</p>
<p>炙黑甘草湯</p>
<p>脅痛失血，數月不止。</p>
<p>降香末　桃仁　茯苓　桑葉　牡丹皮　苡米仁　藕節汁　蘇子　韭菜根汁</p>
<p>脈小弦虛，久嗽，失血盈碗，血止仍然納食，晨起頓嗽甚。此勞傷嗽血，宜養胃陰，治肺無用。</p>
<p>甜北沙參　炙甘草　黃耆　百合　白芨　南棗肉蒸和丸</p>
<p>左脅痛，必血溢黑點塊，絡有凝瘀，病發兼用通絡消瘀。</p>
<p>藕節　桃仁　降香末　鉤藤　蘇子　漏蘆</p>
<p>脈左如刃鋒，多嗆，夜少熟寐，嗆甚必血溢。此衝脈中陽升，乃下元精血不足。法當滋填實下元，若但寒涼清熱，必致胃減，便難調治。</p>
<p>地黃　元武版　茯苓　芡實　阿膠　山藥　湖蓮　藕汁膏　人乳粉</p>
<p>脈左空右濡，右脅先痛，繼以嗆痰血塊。此肝胃絡傷，都因情懷不舒之郁，形瘦食減，甘緩主治。</p>
<p>生黃耆　南棗　柏子仁　炙甘草　當歸　茯神</p>
<p>形瘦脈數，長夏見血，入秋發瘧，皆陰分不足，不耐時候熱蒸發泄。趁此胃口頗旺，只要靜心保養百日，不及一年，可復。</p>
<p>秋石　熟地　麥冬　阿膠　湖蓮肉　澹菜膠　五味子　龜版　茯苓　山藥　加蜜和為丸</p>
<p>少年脈數形瘦，是先天遺熱，真陰難旺，衄血上溢，陰虧無以制陽，瘧熱再傷其陰，血來更頻，延及損怯。當以靜藥補陰，不必苦寒傷胃。</p>
<p>熟地黃　山藥　清阿膠　秋石　大麥冬　山萸肉　茯苓</p>
<p>形充脈小，痰嗽帶血，此非陰虛火升，乃辛燥劫動胃絡。只宜薄味清養胃陰，戒酒肉煩勞可安。</p>
<p>茯苓　冬桑葉　炒黃川貝母　大沙參　甜杏仁　苡米仁</p>
<p>脈左數大而堅，用力致傷，氣升血上，靜坐安養，百日可安，用養肝陰和胃陽方。</p>
<p>細生地　川石斛　大沙參　白扁豆　大麥冬　清阿膠</p>
<p>誦讀心煩，陽易動，陰不能守，血隨氣升，所喜胃旺，苟能安閒保養，經年不發。其脈絡日固，藥以壯水制火為主。</p>
<p>熟地黃　山藥　建蓮肉　大麥冬　龜版　山萸肉　五味子　茯苓　遠志肉　川石斛　膏和為丸</p>
<p>勞力絡動失血，脈大寸搏，能食咳嗆，用甘藥養肺胃之陰。</p>
<p>白扁豆　北沙參　麥冬　細生地　茯神　丹參</p>
<p>久有咳嗽，涉水用力，勞傷失血，寒熱不止，皆營衛單弱。</p>
<p>歸耆建中湯去姜　一方並去飴</p>
<p>痰中血不因咳嗆而出，納食漸減，此胃絡受熱，氣不降津變。以甘涼潤降，則不傷胃。</p>
<p>甘蔗搗漿　川石斛　生扁豆　大麥冬　茯苓</p>
<p>此勞力所傷，失血能食無力，當養氣以生精血。</p>
<p>生黃耆　當歸身　淡蓯蓉　茯苓　牛肉膠和丸</p>
<p>脈數失血，不咳面槁，勿進陰藥。</p>
<p>扁豆　苡米仁　棗仁　茯苓　川石斛　炙甘草　秋石少許沖服</p>
<p>陰奪陰損，心動陽升，壯年失血成怯，所喜胃旺，只要戒欲，暫廢讀書，勿動心操持，百日漸可復。</p>
<p>熟地黃　山藥　芡實　女貞子　茯神　湖蓮</p>
<p>冬月無明沖悸失血，心中惶惶無主，精血暗損，浮陽內震，法以鎮固。</p>
<p>紫石英　杞子　黃肉　棗仁　龍骨　五味子</p>
<p>過動失血，升降失和。</p>
<p>阿膠　茯神　天冬　鮮生地　火麻仁　柏子仁</p>
<p>勞力陽氣發泄，血絲自溢出口，乃脾營胃衛受傷，法當甘藥調之。</p>
<p>耆建中去姜加　苡薏仁</p>
<p>嗜酒沉湎，胃虛絡熱，加以煩惱易怒，肝膽氣火易熾，納食味不甘美，脘悶常有噯氣，肝陽犯胃，血必帶痰而出。從來酒客喜食爽口之物，不用滯膩甜食，脈大為陽氣上逆，滋陰如地黃於肉，皆與體質不相投矣。</p>
<p>茯苓　丹皮　川石斛　生穀芽　桑葉　降香末</p>
<p>久咳失血，食少便溏，脈來虛小。當以後天脾胃為要，清氣滋水，為第二義也。</p>
<p>戊己湯</p>
<p>失血後臥著嗆甚欲坐，不飢勉強納食，脈細促，兩足皆冷。此元海氣乏不納，衝脈之氣逆沖，虛怯門常有，最不易治。</p>
<p>熟地炭　牛膝炭　石蓮蓬　炒山藥　真桂心　紫石英　芡實</p>
<p>脈左細數，右關弦大，失血兩三年，咳嗽不已，行動氣塞，腰膝痠軟，顯然下焦不主收納，是精血內損，胃納頗安。議從填實下元，勿以治嗽肺藥，所令妨胃，必戒怒勿勞，庶百日可望小效，經年堅固乃安。</p>
<p>熟地　魚膠　山藥　芡實　五味子　茯神　湖蓮　沙苑蒺藜　金櫻子膏丸</p>
<p>氣過辛散，肺氣散越，稚年痰血，益胃陰以供肺。</p>
<p>白扁豆　大麥冬　茯神　北沙參　肥玉竹</p>
<p>秋暑失血，初春再發，右脈大，頗能納食。《金匱》云：男子脈大為勞，極虛亦為勞。要知脈大為勞，是煩勞傷氣，極虛為勞，是情欲致損。欲驅病根，安靜一年，可期其愈。</p>
<p>黃耆　苡米仁　南棗　北沙參　炙甘草　白芨</p>
<p>脈細軟澀，氣衝失血，寐欲遺精，今納穀不運，神思日倦，緣操作太過，上下失交。當先治中焦，心脾之營自旺，諸症可冀漸復。偏寒偏熱，都主剝喪真元，宜禁。</p>
<p>九蒸於潛術　人參　茯神　歸身　白芍　棗仁　廣皮　炙甘草</p>
<p>當夏四月，陽氣大升，體中陰弱失守，每有吐衄神煩，已交夏至，陰欲來復。進甘藥，所謂下損不得犯胃也。</p>
<p>熟地黃　茯神　芡實　山藥　蓮肉　甘草</p>
<p>絡脈空隙，氣必遊行作痛，最慮春末夏初，地中陽氣上升，血從氣溢，趁此綢繆，當填精益髓。蓋陰虛咳嗽，是他臟累及於肺，若以清涼治肺，必然胃傷食減，立成虛損。蒙其害者累之。</p>
<p>海參膠　麋角膠　淮山藥　山萸肉　芡實　茯神　北五味　湖蓮肉　金櫻膏　水煮熟地黃</p>
<p>失血以來，氣從少腹上衝，即咳逆坐起不得寐，乃腎虛不司攝納，衝脈上升而然。夫衝脈即血海，男子藏精，女子系胎。今精氣內空，血獨升舉，食入瘕泄，火土交憊。時師每以清涼治肺治咳，不過通套而已，非論病也。</p>
<p>紫胡桃霜　人參　茯苓　淡骨脂　紫石英　鹿鞭子</p>
<p>溫邪未得清理，食葷太早，蘊熱攻絡，咳嗽失血，必薄滋味，乃效。</p>
<p>茅花　地骨皮　桑葉　茯苓　苡米仁　百合　大沙參　生甘草</p>
<p>嗽血三年，咽痛聲嘶，腹大便溏，是清寒治嗽太過，嗽仍不減，胃傷陰耗，陽乃獨升。</p>
<p>甜北沙參　生扁豆　茯苓　苡米仁　生藥　炒芡實</p>
<p>額准痛，齒縫出血，口苦舌乾盜汗，或表散，或飲酒，更助陽泄，愈加不安。皆陰虛陽浮，當以靜藥益陰和陽。</p>
<p>熟地　龜版　秋石　茯苓　牛膝　萸肉　阿膠　五味</p>
<p>桑堪辛熱，肺胃受灼，每交夏四月，陽氣上升，遂致失血。以甘涼清肅，忌食厚味可愈。</p>
<p>川貝母　地骨皮　花粉　肥知母　苡米仁　生甘草</p>
<p>少年腸紅，陰氣走泄，咳嗽吐痰，食仍進而聲嘶，氣促走動若喘，且口乾咽燥，飲水渴不解，明系陰不上承矣。</p>
<p>六味湯中加入　炒桃仁　當歸鬚</p>
<p>中年失血兩日，陡然舌強無聲，四肢麻木，身痿足熱。此水枯木火化風，腎肝之病，靜養方可向愈。</p>
<p>生地　麥冬　阿膠　天冬　川石斛　龜版</p>
<p>寢食如常，自上年失血之後，巔頂及周身肌膚，發疥瘰搔癢，春發冬瘥，以和血平調方。</p>
<p>三角胡麻　制何首烏　金銀花　桑葉　浙甘菊　炒黑杞子　紅棗肉為丸</p>
<p>胃減，吐血後早晨面腫，晡暮跗腫，氣分乃弱，且理陽明。</p>
<p>生黃耆　苡米仁　生甘草　生扁豆　茯苓</p>
<p>久咳痰帶血絲，納穀已減，絡熱胃損，最要戒酒辛辣，甘寒不傷胃者宜之。</p>
<p>青甘蔗汁　麥冬　玉竹　沙參　知母　川貝母</p>
<p>春季痰嗽帶血，交冬血大吐，頭痛口糜，是陽不收藏，當填鎮。</p>
<p>熟地炭　萸肉炭　牛膝炭　五味　茯苓　青鉛</p>
<p>失血五年，今夏秋發作最重，脈左澀右弦，沖氣逆則咳甚，天明汗泄，議用柔劑陽藥以治下。病者四十三歲</p>
<p>紫胡桃肉　茯苓　五味子　炒黑枸杞子　沙苑蒺藜　芡實　紫石英　石殼湖蓮</p>
<p>接案　失血數發臥枕，氣衝至喉，似乎痰阻，其實吐咯不出。此任脈不司擔任，衝脈陽氣直衝於上，納食多噯，下損及胃，秦越人尚稱難治，便溏。凡填補下焦，必佐益胃，最忌清肺，寒潤更傷中氣。</p>
<p>大造丸去天麥二冬黃柏牛膝加入　二仙丹　人參　河車　熟地　龜版　五味　金櫻子　芡實</p>
<p>夏熱勞力，飲酒助熱泄氣，血後咳嗽，脅痛火升，已是肝腎陰傷，胃逆多噯，須慮食減。</p>
<p>熟地黃　茯神　北沙參　天冬　阿膠　建蓮肉　人中白　川斛膏和為丸</p>
<p>脈緩，寒失血，自述負重傷力，已是營衛兩怯，當以甘劑益中，勿見血輒與滋涼。</p>
<p>耆建中湯。</p>
<p>飲食先減，中焦已怯，辛辣都主走泄真氣，二次反覆血來，皆夜動不寐而至，因勞而發。《內經》曰：勞者溫之。取乎溫養氣分也。</p>
<p>黃耆　白芨　茯苓　米糖　米仁　炙草</p>
<p>奔走動陽失血，繼而咳嗽吐痰，由真陰虧損，五液蒸痰。趁此胃口頗旺，以靜藥填陰攝陽。</p>
<p>熟地（水制）　阿膠　女貞子　天冬　米仁　刮白龜版　咸秋石　知母　霍山石斛</p>
<p>血脫補氣，況汗血並至者乎。冬令</p>
<p>人參　生芍　扁豆　熟地黃　玉竹　茯神　花蕊石　童便</p>
<p>脈微而芤，失血之象也。膺胸隱而痛，肺胃之絡也。</p>
<p>當歸鬚　炒黑山查　苡米仁　赤芍藥　川鬱金　絲瓜絡　通草</p>
<p>冬至已近，氣候太溫，少陽先升，地氣不藏，發越之性，無物不坼，所以吐血之症皆發矣。</p>
<p>熟地黃　女貞子　茜草　炒白朮　苡米仁　玉竹　旱蓮草　炙甘草</p>
<p>聲不變而粉紅，濁痰不已。是絡傷，非肺傷也，所以臑內痛。</p>
<p>白芨　麥冬　蒸術　米仁　苦參　北沙參　炙甘草　牡蠣</p>
<p>中氣不攝，非陰弱吐血可比，勿進陰藥。</p>
<p>四君子湯中加入　牛膝　玉竹</p>
<p>盛體失血，作酸噯逆，脈得左澀右弦。合引血乾之條，曲直作酸之旨，責之厥陰中陽氣上乘為治。</p>
<p>旋覆花　代赭石　老枇杷葉　塊茯苓　新絳屑</p>
<p>脈左數搏大，因驟然跌僕，吐血仍然，安穀如常。此陽氣暴升莫制，絡血不得寧靜而泛越夏三月至秋分，戒嗔怒情欲，莫令舉發。</p>
<p>六味加入　秋石　阿膠　川石斛</p>
<p>春暖陽氣升越，行走動陽失血，只宜安養靜坐。藥以甘緩，不傷胃氣。</p>
<p>風溫咳嗽初愈，暮汗繼以痰血，春半陽氣發泄，沖年陰未充盛，致血隨氣溢，讀書聲高則頭痛，陽升顯然。</p>
<p>六味去萸肉加入　白芍　阿膠　麥冬</p>
<p>脈緩大，吐血甚多，仍然安穀，此陽明胃絡病也。戒奔走煩勞，方可冀其奏效。</p>
<p>生黃耆　薏苡仁　南棗肉　山漆　茯苓</p>
<p>暑熱傷氣，秋燥上加，亦令傷氣，舌乾咽癢欲嗆，胃氣不充，肌膚已曾失血，兼保陰液為宜，擬用。</p>
<p>喻西昌清燥湯減人參</p>
<p>老年因秋燥咳嗽，食少胃弱，脈小數，當以清潤甘藥，不致傷胃。</p>
<p>南沙參　玉竹　桑葉　象貝　吧呾杏仁　炙甘草</p>
<p>脈虛數，形寒，心中煩熱，五更後氣升咳嗆，當秋分節燥金司令，大熱發泄之餘，皆能化燥。肺為嬌臟，最處上焦，先受其沖，宜潤燥以滋其化源。</p>
<p>冬桑葉　大沙參　玉竹　南花粉　生米仁　蜜水炙橘紅　白糯米泡湯煎藥</p>

<h2>中風</h2>
<p>過勞陽動，內風上蒙清竅，頭旋目暗，上實下虛，若能保養，冬藏可安。</p>
<p>炒黑杞子　甘菊炭　穀精珠　牛膝　穭豆皮　女貞實</p>
<p>此肝風升舉，目珠脹，咽塞嘔食，下焦獨冷，常年久瀉，今反便難。</p>
<p>石決明　香附汁　夏枯草　草決明　生神麯　橘紅</p>
<p>眩厥心悸，咽中填塞，汗泄畏冷，都主肝陰虛餒，陽明內風上巔。</p>
<p>生牡蠣　天冬　穭豆皮　阿膠　茯神　小生地</p>
<p>凡動皆陽，沖氣至脘嘔酸，乘巔旋運，食漸減，肌肉消，是肝木之陽趨胃，久而陽化內風，直上巔頂，而為暈矣。煩勞操持，君相過動所致，情志之病，不專功於藥餌。</p>
<p>石決明　生地　柏子仁　阿膠　天門冬　茯神</p>
<p>耳鳴眩暈心悸，寐醒汗出，身汗從牙宣失血所致，此皆肝腎致傷，內風勃升也。</p>
<p>生干何首烏　冬桑葉　茯神　黑芝麻　天冬肉　甜北沙參　蜜丸秋石湯送下</p>
<p>肝風頭暈。</p>
<p>枸杞子　當歸身　桑葉　蒺藜　何首烏　甘菊花　炒白芍　塊茯苓　天麻</p>
<p>五志中陽氣衝搏　心怔悸眩暈，多勞多怒，老人腑液乾枯，內風掀越使然。</p>
<p>生雞子黃　柏子仁　生地黃　茯神　清阿膠　天門冬</p>
<p>入秋一月，天令肅降，脈得左寸搏數，左關小弦而動，是心煩君相少寧，肝陽變化，內風陡升莫制，巔頂皆眩，腦後筋惕，何一非陽動所致。此皆陰弱不主配，非肝臟有餘之比，法當益水滋木培母，另開養心脾之營，使上下不致龐雜，肝腎方以攝固。柔溫宗聚精七寶法以治之。</p>
<p>赤白何首烏　赤白茯苓　方解青鹽　番舶茴香　補骨脂　鰉魚膠　沙苑　北五味子　蒸餅和為丸</p>
<p>臨臥服心脾益氣養營方用歸脾湯去耆桂</p>
<p>六七年病，猶然納食行走辦事，凡肝膽之氣，從左升直至巔頂，風木必剋土位，胃脘似乎悶悶，外象若冷為深，當以龍薈丸苦降治之。</p>
<p>龍薈丸</p>
<p>肌腠乾燥，而目因起胬肉，不飢仍能進食，神識晝昏夜慧，詢中年鰥居，而陽事易痿，有夢遺精，其損傷在肝腎精血。</p>
<p>首烏（九制）　甘杞子　菊花炭　柏子仁　淡蓯蓉　茯神</p>
<p>驚必動肝，久而陽氣變化內風，旋越不已，有升無降，陽不交合入陰，不但遺瀝精濁，入夜遑遑欲絕，宜攝陰鎮陽法。</p>
<p>磁石　五味　龜版　棗仁　龍骨　萸肉　茯神　當歸</p>
<p>脅左熱，攻心及背，痰多面浮肢麻，肥人肝陽偏熾，乃性情易嗔怒所致。</p>
<p>復脈去參薑桂</p>
<p>瘦人稟屬陰虧，耳鳴眩暈，是內風陽氣之震，磁石制肝陽上吸，質重鎮納歸腎，然必少用填補，於甘酸味厚之藥，為合法。用之不效，乃補攝力輕所致。</p>
<p>熟地黃　天門冬　龜版　紫胡桃肉　山萸肉　磁石　麥冬　五味　阿膠　芡實　各碾末，煉蜜和為丸，每早服六七錢。</p>
<p>五旬向衰，水不生木，則內風動越，巔頂眩暈，唇燥跗無力，小便頗動，議填下元不足之陰。</p>
<p>人參　天冬　五味　杞子　茯神　熟地　生地　瑣陽　首烏</p>
<p>據說夜坐久勞，脅下氣升，耳鳴頭暈，目中黑暗無光。此肝風陽氣，上蒙清竅，久恐僕厥。</p>
<p>地黃湯加　磁石　五味</p>
<p>脾胃居右，氣行於左，左手痿瘓，不知痛癢，不能把握，所謂胃氣虛，則不用者是也。王金壇云：偏枯之病，未有不因真氣不用。旨哉斯言。治法專培氣分，補而宣通，可望其效。</p>
<p>人參　黃耆　生白朮　附子　生川烏頭</p>
<p>右股痿瘓無力，甚於秋冬，緩於春夏，是陽氣不足也。但三旬壯年，不宜有此。</p>
<p>耆附湯。</p>
<p>右瘓舌喑無聲，脈小微澀，病起上年十二月，仍能納食。此中於脾絡，治以宣通靈竅。</p>
<p>白附子　熟半夏　茯苓　鮮石菖蒲根汁　薑汁浸竹節　早服地黃飲子</p>
<p>脈緩男子右癱麻木，丹溪議從血虛有風，思起病值冰雪寒威，以舒筋湯。</p>
<p>黃耆　當歸　桂枝　羌活　防風　撫芎　薑黃　桐皮</p>
<p>半百已外，陽氣日薄，衛弱不司護衛，右肢麻木，風虛也。</p>
<p>耆附湯合玉屏風散加　桂枝　甘草　薑棗</p>
<p>附方　二陳湯加生白芍、桑葉、羚羊角、竹瀝、薑汁法為丸。</p>
<p>中年麻木筋脹，陽氣已衰，內風自動，最怕痱中，脈微色痿，宜溫補通陽。</p>
<p>生黃耆　生於術　炙甘草　熟附子　南棗肉　老生薑　後加人參</p>
<p>脈靜，寢食便調，向有胃痛，飲暖燒酒相安。今年春季跌僕，右肢偏麻，語音不爽，是皆氣傷痰阻，致內竅少靈也。</p>
<p>白金丸。菖蒲根汁法丸</p>
<p>木兼金化右痿，太陰受邪聲鼾，厥陰亢極目瞑，內風擾動汗出，呼欠頻頻，陰陽欲分，面淖澤，外越之象也。先擬熄風輕通之法，由節令初升之故耳。</p>
<p>羚羊角　鮮石菖蒲　生牡蠣　馬料豆　天麻　橘紅</p>
<p>接案　目瞑戴陽，脈空大，肝風正甚易回也。</p>
<p>鉤藤　白芍　生地　羚羊角　料豆　桑葉　玉竹　川石斛</p>
<p>接服　人參　杞子　遠志　白芍　熟地</p>
<p>北五味　大熟地　茯苓　巴戟　橘紅　後改歸芍六君子丸</p>
<p>素乏深藏，適逢冬陽泄越，真陽從陰中走出，金反畏木，右縱左拘，神清志昏，上實下虛，數日外腑氣不泄，使陰陽漸交，方可商治。</p>
<p>人參　淡附子　炒遠志肉　炒熟地黃　炒枸杞子　茯神（分三次）　每次調入豬膽汁，以味苦為度。</p>
<p>少陰不藏，肝陽升亢，發為痿痱。</p>
<p>玉竹　生地　羚羊角　川貝　赤芍　桑葉　知母　鮮石菖蒲　遠志　川石斛</p>
<p>右瘓舌喑，足痱面赤戴陽，呵欠微呃，診脈小濡而緩。此腎納失司，肝風突震。但病起耳後暴腫，必兼濕熱客氣，清上輕揚，腫勢頗減，七日以來，當陰陽經氣一小周天，不必以時邪引病為惑。昔河間《宣明論》中，謂舌僵難言，其咎在乎舌下經脈不主流通，以腎脈縈及舌下耳，其主地黃飲，取意濁藥輕投，機關漸靈，並無礙乎上氣痰熱。仿此為法。</p>
<p>熟地黃　枸杞子　牛膝　石菖蒲　淡蓯蓉　茯苓　川石斛　遠志肉</p>
<p>接案　脈象左部稍振，水虧風動，左牙痛。蓋風從內旋，乃陽之化氣，只以春升少納，下元不司收藏，虛症何疑。況因目恙，頻用韭子煙薰，查本草辛辣升騰，助陽損真，人於遺濁用之，藉其升陽以涵陰，更無漏泄耳。今痱中八日，聲音漸振者，乃精氣略有寧靜，里竅略有靈機，是順境也。不明此理，仍用辛泄加人參，亦是清散上焦之藥，但肝腎臟虛，在於至陰，若再投辛苦，以傷其陰，必致虛症蜂起，專望其向安。倘必以上有火熱，古稱實火宜清，虛火宜補，溫養柔和，與溫熱剛燥迥異，幸勿疑訝。</p>
<p>生地　麥冬　女貞子　阿膠　茯神　石斛</p>
<p>接案　十二日來干支一輪，右肢痿，右足跗略有痛象，舌竅未靈，味少甘美，虛象顯然。三日前主家以齒痛為熱，醫迎主見，即投辛涼解散。此症虛在肝腎下焦，若不固納維本，漫無著落，仍以前法加入涼肝可也。</p>
<p>熟地　茯神　牛膝　遠志肉　杞子　川斛　天冬　甘菊花</p>
<p>內風皆陽之化氣，然非有餘，是二氣不主交合。今形寒跗脛背冷，似屬陽虛，景岳云：陽失陰而離者，非補陰何以攝散失之陽。此病發皆主乎動，前法多以靜藥，謂病象在身中之左，有升無降。據說舌絡牽掣，喑不出聲，足不堪行動，與河間肝腎氣厥同例，主丹溪虎潛法。</p>
<p>虎潛丸　又地黃飲子去附子加鹿鞭子煎汁搗為丸</p>
<p>陽明脈衰，厥陰風動，頭暈心悸，肉瞤麻木，有風痱之累，少飲加谷易安。</p>
<p>淮小麥　北沙參　炒麥冬　南棗肉　酸棗仁　炙甘草</p>
<p>中年脈弦，右臂肢指麻痹。凡男右屬氣分，氣弱陽不運行，則痰日生，乃水穀不主變化精凝，當以健中佐運為主。蓋脾胃主四肢，滋陰血藥多膩，為痰樹幟矣。</p>
<p>六君子加蒺藜　水泛為丸</p>
<p>麻木在身半以上，清陽遏阻，亦夏秋伏熱致傷，清上可愈。</p>
<p>桑葉　肥玉竹　枇杷葉　馬兜鈴　川貝母　杏仁　大沙參　天花粉</p>

<h2>陰虛陽逆</h2>
<p>是病遇勞即發，安養稍愈，身心不堪煩動。男子苟非素豐，難以坐食耐久者，不關腎藥之治病也。</p>
<p>綿黃耆　耆神　遠志肉　棗仁　炙甘草　當歸　龍眼肉</p>
<p>營出中焦，心脾皆怯，滯補耗氣皆忌。不耐煩心屬虛，此辛甘養陽養營一法，有合乎心脾矣。</p>
<p>人參　茯苓　桂心　炙甘草　菖蒲　當歸　桂圓煎濃湯泛為丸</p>
<p>有年勞傷神瘁，膚無膏澤，時欲腹鳴啾痛，營虛不得流行之象，開懷安逸，僅可帶疾延年。</p>
<p>熟地黃　炙黑甘草　人參　肉桂　遠志肉　當歸身　白芍</p>
<p>養營膏子藥方。</p>
<p>熟地黃　桂圓肉　茯神　黃耆　人參　枸杞　遠志肉　炙甘草　當歸　五味子</p>
<p>形神過勞，陽動不靜，六脈皆弦大，徹夜無寐，以靜攝心肝腎之陰。</p>
<p>大熟地　棗仁　天冬　青龍骨　龜版　茯神　生牡蠣　遠志　知母　五味子　川斛　膏丸</p>
<p>述夏令氣暖發泄，自覺跗⿰⻊廉筋骨，氣空如墜，未至深冬，即欲暖護，兼以易怒熱升。此屬下元精血暗損，仍多操持煩勞，心陽動，吸水虧，肝木少涵，平素不受溫補，及參朮益氣。議以滋填充髓主方，且痰多食少，又必顧及胃氣。</p>
<p>線魚膠　沙苑蒺藜　茯神　鹽水炙補骨脂　甘杞子　柏子仁霜　砂仁　九制赤白首烏　川黃柏　紫胡桃霜　茯苓　方解青鹽</p>
<p>向多牙宣，陰虛火炎，三瘧入於陰，蒸爍脂液，日加枯槁，消渴多飲，液涸引水自救。急當滋補肝腎之陰，加以血肉填精，包舉大氣。</p>
<p>制何首烏　天門冬　麥門冬　生地黃　熟地黃　各碾末以河車膠和為丸</p>
<p>能食知味，病不在上中，口糜舌絡紫絳，喉痛腹熱，小溲甚少，都因肝腎先虧，熱伏於裡，陰傷陽越，汗從此泄。</p>
<p>知母　生雞子黃　細生地　黃柏　上阿膠　黑豆皮</p>
<p>接服　大補陰丸中加入　阿膠</p>
<p>腎開竅於耳，膽脈遠出耳後，經以腎藏液三合，膽藏汁三合，煩勞太過，液耗汁干，少陰少陽，樞機不利，遂有失聰之狀，中年有此，液少風動使然。</p>
<p>磁石地黃湯。</p>
<p>脈數耳鳴吐痰，天柱骨腰膝酸，兩足冷。此陰虧陽升，當填補實下。</p>
<p>左歸去牛膝合　二仙膏</p>
<p>冬至藏陽，腎主收納，今質疲陰虧偏熱，夜深久坐，陽不入陰，浮越及耳鼻上竅，先用</p>
<p>東垣滋腎丸鹽湯送下</p>
<p>勉強搖精，致陽縮囊縱，不但形弱傴僂，肛門臍竅，皆為收引，咽喉牽絆似垂，食物漸漸減少，由精血之傷有形，最難自復。少陰厥陰脈循喉嚨，開竅於二陰，既遭損傷，其氣不及充注於八脈，故症見拘束之狀。上年進柔劑陽藥，服後巔頂維脈皆脹，耳竅戀鳴。想臟陰宜靜可藏，試以乘輿身布，必加跼促不安，宜乎升陽動藥之不靈矣。夫少陰內藏，原有溫蒸諸法，厥陰相火內寄，惡暖喜涼。仿丹溪法。</p>
<p>咸秋石　鹽水炒知母　真阿膠　柏子仁　生地　白茯苓　炒黑遠志肉　龜版（去澀搗）</p>
<p>遇天氣鬱勃泛潮，常以鮮省頭草葉，泡湯服三次，取芳香不燥，不為穢濁所犯，可免夏令時令之病，鮮蓮子湯亦好。若汗出口渴，夜坐火升舌碎，必用酸甘化陰，以制陽光。</p>
<p>烏梅肉（三分，著飯蒸熱）　冰糖（三錢）　略煎一沸服　飯後茶飲，只宜炒大麥冬湯岕片　至其松羅六安，味苦氣降，中虛者不宜用。</p>
<p>脈數上盛下虛，當固其陰。</p>
<p>熟地黃　麥冬　炒山藥　川石斛　茯神　阿膠　五味子　石建蓮</p>

<h2>勞倦陽虛寒熱</h2>
<p>脈濡食少，腹鳴煩倦無力，此屬勞傷陽氣，當與甘溫補其營衛。</p>
<p>苓桂朮甘湯中加入　薑棗</p>
<p>身半以上為陽，天明少陽生動乃痛，清陽傷矣。酒肉濁味之補，皆陰凝助痰耗氣，當以東垣法調之。</p>
<p>人參　茯苓　白朮　桑葉　炙甘草　牡丹皮</p>
<p>勞倦中虛，陽少旋運，遂脘悶不飢。醫投發散消導，中氣更傷溏瀉。</p>
<p>生穀芽　生於術　生益智　茯苓　廣皮　米仁</p>
<p>向屬陽虛體質，煩勞更傷陽氣，春季暴冷雨濕，脾胃之陽易困，納食不運，噯氣䐜脹，皆清陽不司流行，濁陰欲聚氣滯無法。當辛溫理陽，藉以通爽，用疏胃補脾法。</p>
<p>人參　塊茯苓　紫厚朴　益智仁　廣皮　生薑</p>
<p>因遭顛沛，胃痛食減吐痰，遂致肌瘦形寒。此中宮陽氣，為思慮鬱結，日就拘束之象。東垣升陽，擴充脾胃，郁舒則陽可復振。</p>
<p>炒焦白朮　茯苓　高良薑　煨葛根　廣皮　炙黑甘草　紅豆蔻　煨升麻</p>
<p>診脈弦澀之形已退，夏秋病邪已去，但食少神不爽健，欲大便，肛門下墜，是皆氣不復為之。氣陷不藏，都因憂思致傷，開懷怡悅可安，不獨恃藥餌。用升陽法。</p>
<p>炙甘草　人參　茯苓　薄桂　生薑　當歸　廣皮　南棗</p>
<p>陽氣素虧，背部怕寒，冬月嗽甚欲坐，入春納穀䐜脹，脈左弱右弦。議濕中有熱氣蒸，肺氣膹郁，口舌咽喉仍窒。</p>
<p>早服葦莖湯　夜服威喜丸</p>
<p>喜暖畏冷，陽氣弱，少護衛，近日耳閉失聰，非外邪客侵。由乎氣不下納所致，先用鎮逆導引主之。</p>
<p>磁石　萸肉　菖蒲　牛膝　茯苓　熟地　遠志　五味　龜甲</p>
<p>夏秋氣大發泄，身中之氣久虛，無以主持，故見病治病無功，而安中納下，每每獲效，入秋進附子七味丸頗合。今秋分後天氣漸升，地氣收斂，緣久熱傷氣，虛體未能收肅，是以肢節時寒，巔頂欲冷。無非病久諸氣交餒，斯外衛之陽少護，液髓暗枯，則血脈不營，而陰乏內守。凡此皆生氣之淺薄也，急當溫養益氣，填補充形，助秋冬之收藏，豫為來春生髮之用。《內經》有四季調神之訓，今投藥亦當如此旨。</p>
<p>鹿胎（一具，酥炙）　羊肉腎（十對，熬膏）　黃狗脊（十副，熬膏）　肉蓯蓉　青鹽　九蒸熟地黃　北五味肉　湖蓮子　茯神　人乳粉　柏子霜　鮮河車（一具，漂洗）</p>
<p>用諸膠地黃搗和，余劑各為末，杵和為丸，每服四五錢，人參湯下。</p>
<p>痢久傷腎，氣不收攝，肛門如錐刺，痛而下墜，小溲不利。先議升陽一法。</p>
<p>生鹿角　人參　茯苓　陽起石（另研細調入）　當歸身　生菟絲子</p>
<p>面黃肌瘦，脈數虛，形寒食少，乃勞倦致傷，不可為外感有餘，議用</p>
<p>小建中湯。</p>
<p>脈澀緩無神，脅痛吐痰腥穢，漸至減食，短氣寒熱，肝病入胃顯然，勞傷不復。</p>
<p>當歸建中湯去姜。</p>
<p>色奪脈小，形寒久嗽，皆營衛二氣久損，病屬勞傷。《內經》云：勞者溫之，損者益之。</p>
<p>參耆建中湯去姜。</p>
<p>脈大緩而無力，色黃痿瘁，喜暖惡涼，心下痛連及脅肋。此勞倦內傷，久則延為脾厥。脾主營，以辛甘溫養血絡。</p>
<p>當歸　桂圓肉　茯苓　桂枝　遠志肉　炙甘草</p>
<p>交四之氣，熱勝元虛，乃氣泄之候，營衛本乎脾胃，不耐夜坐，舌心腐碎，吸短氣似不接續，中焦喜按，始得暢達，目胞欲垂難舒，四肢微冷失和。從前調理，每以溫足三陰臟，兼進血氣充形，病減七八。今當長夏，脾胃主氣，氣泄中虛，最防客氣之侵。是補腎宜緩，而養胃生津，寧靜斂液，仍不可少。俟待秋深天氣下降，仍用前法為穩，擬逐日調理法。</p>
<p>人參　淡天門冬　茯神　建蓮肉　酸棗仁　知母　川石斛　甘草　上各末為丸</p>
<p>咳喘頻發，脈細畏寒，乃下不納。</p>
<p>桂苓五味甘草湯中加入　紫殼胡桃肉</p>
<p>勞倦內傷，更為暴冷外襲，營衛不和，咳逆身痛。忌食葷酒助邪，天暖陽和病去。</p>
<p>茯苓桂枝湯。</p>
<p>脈沉遲，背寒色奪，久有勞倦，新年暴冷，再擬用</p>
<p>桂枝加白朮附子湯。</p>
<p>虛損暴寒外襲。</p>
<p>小建中湯。</p>

<h2>郁</h2>
<p>春交旬日，形症小愈，但右脈仍弦，舌白味變酸甜。昔喻嘉言云：當以氣雄剛藥，能變胃不為胃變。</p>
<p>人參　淡附子　吳茱萸　茯苓　熟半夏　生薑汁</p>
<p>三焦鬱勃之熱，因勞心而熾，口臭難飢，便燥，以苦辛暫用。</p>
<p>藿香葉　炒竹茹　黑山梔　白豆蔻　杏仁　廣皮</p>
<p>酒客濕勝熱鬱，脹悶噯氣無寐，得茶愈脹。先與三焦分消。</p>
<p>白蔻仁　杏仁　紫厚朴　茯苓皮　綿茵陳　金石斛　半夏</p>
<p>久痛，用辛溫兩通氣血，不應。病已十年，不明起病之由。今便溏溺赤，水穀酒食不運，必挾濕阻氣化，主以分消。</p>
<p>山茵陳　豬苓　厚朴　米仁　苓皮　澤瀉　蔻仁</p>
<p>吞酸欲嘔吐，喜靜惡動，從鬱怒氣逆，病在肝胃。此一臟一腑病，和陽解鬱。</p>
<p>牡丹皮　黑山梔　鉤藤　鬱金　半夏　茯苓　金石斛　廣皮</p>

<h1>卷二</h1>

<h2>痢疾泄瀉便血</h2>
<p>鼻癢心辣閃爍，即大便下血，形瘦脈小數，已經數年。</p>
<p>枯黃芩　生白芍　清阿膠</p>
<p>痢疾自止，頭痛至腰，二便得通少安。議通太陽以驅濕鬱。</p>
<p>木防己　生白朮　紫厚朴　桂枝木　苓皮　廣皮</p>
<p>邪陷入里，瘧變為痢，古稱經臟兩傷，方書都以先解外，後清裡。拙見論病先究體質，今素有血症，且客遊遠臨，從陰虛伏邪是用藥須避溫燥劫陰矣。鼻煤齦血，舌張乾涸，陰液有欲盡之勢，奈何，邪熱內迫，有油干焰滅之危。醫見病治病，不審肌如甲錯，脈細尺不附骨，入夜煩躁不寐。議以護陰，急清陰中之邪熱。</p>
<p>生雞子黃　黃柏　清阿膠　白頭翁　北秦皮　小川黃連　細生地</p>
<p>產後病起下焦為多，今右偏頭痛，得暖為甚，納食則脘腹加痛，必瀉而後己。夫病隨利減，已見濕鬱氣阻，熱是濕升，恆有是症，從脾胃門調治。</p>
<p>下血後大便燥閉不爽，繼而自利，白滑膠黏，日數行下不禁，年五旬，形衰脈沉。必因久伏水穀之濕，府病宜通，以溫下法。</p>
<p>生茅朮　製附子　紫厚朴　制軍</p>
<p>濕多成五泄，陽氣日衰，下元不振，向有下焦痿躄，用四斤丸得愈。夏秋當用脾胃藥。</p>
<p>生於潛術　木防己　川萆薢　白茯苓　川桂木</p>
<p>瀉血原從痢起，食物不忌，垢瀉不清，致延二年不愈。</p>
<p>胃苓湯。</p>
<p>濕伏為熱先瀉，瀉止腹痛，耳竅膿水，微出血，淡滲以分消。</p>
<p>連翹　茯苓皮　淡枯芩　紫厚朴　滑石　赤芍　淡竹葉　煎送保和丸</p>
<p>脈弱形瘦，食不適，必泄瀉。此陽氣已傷未寒，下焦先冷，用</p>
<p>繆仲淳雙補丸。</p>
<p>向有遺精，腎陰不攝，正月間糞溏積下，入秋足脛浮腫，目下漸上，遇冷為甚。</p>
<p>脾腎雙補丸。</p>
<p>久嗽是宿疾，近日腹痛瀉利，是脾胃受暑濕客氣，當先理邪，痛瀉止再議。</p>
<p>炒扁豆　藿香梗　茯苓　炙甘草　木瓜　廣皮　厚朴</p>
<p>陽微濕聚成利，必溫通其陽，斯濕可走，擬用</p>
<p>冷香飲子。</p>
<p>長夏入秋，脾胃主氣，濕鬱阻氣，為痛為瀉，更月不愈。中宮陽氣未醒，仍有膨滿之象，導氣利濕主方。</p>
<p>茯苓皮　草果　藿香梗　廣皮　厚朴　大腹皮</p>
<p>脈微晨泄，初冬未及藏陽，以脾腎治，最是納穀減少，當以中焦，兼理其下。</p>
<p>人參　炒乾姜　炙甘草　生於術　淡熟附子　淡吳茱萸</p>
<p>腸紅既止，便瀉三年，火升則能食，熱墜必妨食。此皆陰氣走泄，陽不依附，當從陰引陽。</p>
<p>赤石脂　瑣陽　五味子　水煮熟地黃（砂仁末拌炒）　禹餘糧　遠志　蒸餅為丸</p>
<p>脾腎虛瀉。</p>
<p>苓朮　兔絲　砂仁　山藥粉和為丸</p>
<p>幼稚夏季不食，腹痛瀉積，交冬未愈。憶今四五月久雨，潮濕之蒸，皆令脾胃受傷，半年來虛中留滯，當疏補兼投食物，冷滑肥甘須忌。</p>
<p>人參　麥芽　茯苓　生益智仁　白芍　炒山查　廣皮　焦術　砂仁　神麯漿和丸</p>
<p>大病後，飲食起居，皆不如法。以邪陷入里，舌乾自利，恐其深入陰中，則危矣。</p>
<p>白芍　甘草　附子　枳實</p>
<p>平素陰虧，熱注入里為利，糞結便出痛墜，診脈左堅下垂，不以脾胃燥藥。</p>
<p>細生地　阿膠　炒查　穭豆皮　生白芍</p>
<p>寒熱脘腹脹，嘔惡舌白利，及久痢不曾復元，再著風濕之邪。</p>
<p>藿香　白蔻　茯苓　廣皮　厚朴　澤瀉　保和丸</p>
<p>食物不運，太陰脾陽受傷，濕熱內蘊氣窒，為腹脹痛下利。據說脹起上年，痢在今秋。但主理氣溫脾祛濕，用冷香飲子。</p>
<p>草果　藿香梗　茯苓皮　木通　厚朴　大腹皮　廣皮</p>
<p>目紅黃脘脹，下血紫滯，裡急後重。此夏秋濕熱，與水穀互蒸，致氣分窒塞，三焦不清，當薄味蔬食，不致釀痢。</p>
<p>白蔻　銀花　桔梗　厚朴　木通　茵陳　槐花　廣皮　茯苓皮</p>
<p>本病下損，利再傷陰。從肝腎治，勿以瀉痢投燥，燥則劫陰矣。</p>
<p>人參　炒黃山藥　炒查肉　熟地黃　廣橘紅　茯神</p>
<p>夏秋痢疾，大率水土濕熱致病，用藥都主苦寒攻消清火最多，但體質久虛，帶淋經漏，當利起經帶交熾。因時病累及本病，未宜香連檳樸大黃大泄之劑矣，良由下焦不固，利必亡陰，小腸氣鬱，糞垢欲出，痛墜不爽。此宣通垢滯，又必顧護陰氣。凡看病必究體質，勿通套混治。</p>
<p>細生地　炒銀花　炒黑砂糖　炙黑甘草　穭豆皮　炒查肉　炒白芍</p>
<p>久痢久瀉肛墜，頻頻不爽。此乃腎傷，脈來數小，醫作脾胃病治，故不效。</p>
<p>熟地黃炭　炒焦歸身　漂淡補骨脂　炒菟絲子　五味子</p>
<p>接案　久痢治法，非通即溫。既曰腎病，則陽宜通，陰宜守矣。</p>
<p>熟地炭　熟附　桂枝木　五味　炒川椒　炒歸身</p>
<p>接案　柔中佐剛，利未得減，下焦常冷過膝。</p>
<p>仲景四逆湯。</p>
<p>厥陰下利，少腹有形。</p>
<p>五味加茴香、椒目。</p>
<p>接案　動氣在少腹左右，糞與血或前後，秋利交冬不愈，當溫其營。</p>
<p>人參　潯桂　炮姜　當歸（以小茴香拌炒）　茯苓　炙甘草</p>
<p>脈沉遲，下利血水，神呆不欲食，四肢冷，前已完穀，與溫理其陽。</p>
<p>人參　附子　茯苓　炒黃乾薑　生白芍</p>
<p>長夏痢症，皆因濕熱，繼而先泄氣，後下血。蓋變內風混處腸絡，是為腸風。血去陰氣日傷，為眩暈無力。主以甘酸化風，益陰節勞，可以不反。</p>
<p>熟地黃炭　當歸身炭　地榆炭　柿餅炭　槐米炭　炙甘草</p>
<p>下痢腹痛，初因寒濕傷脾，久變濕熱，著於腸胃，痛利不減，腸中硬起不和，不得流通明甚。當以苦泄小腸，兼分利而治。</p>
<p>川連　查肉　木通　川柏　澤瀉　苦楝皮</p>
<p>清暑和中，痢減痛緩，醫惑於痰嗽，多以清涼。視面無華色，血氣更偏，東垣云：瘧痢都因脾弱，用</p>
<p>戊己湯。</p>
<p>上有鼻竅濁涕紫血，下則遺精便血，但說腎虛，陰不配陽，未必上下皆病。意者本質固虛，水穀之氣聚濕，濕生熱，熱升熱降，致上下不寧。此酒肉鮮腥須忌，謂助其濕熱也。</p>
<p>生白朮　黃連　黃柏　防風根　地榆　槐花　煨葛根　茯苓　水泛為丸</p>
<p>上窒下墜，手太陰陽明病，下血久，兼理厥陰。</p>
<p>升麻　槐米　歸身　桔梗　炒芍　炙甘草</p>
<p>血奔腸紅，都是陰液走泄，陽浮發泄易汗，背寒心熱，臟陰腑陽交損，形體日漸消瘦，皆衰老液枯之象。</p>
<p>鮮生地　阿膠　茯神　火麻仁　柏子仁　天冬</p>
<p>先糞後血為遠血，臨便先痛，恐有濕熱凝阻，分利逐濕主之。</p>
<p>生於術　炒槐花　木瓜　茯苓　地榆　廣皮</p>
<p>脈兩關弦虛，先血後糞，兩月未已。當年原有病根，遇勞而發屬虛，仿仲景黃土湯。</p>
<p>黃土湯加炒焦白朮　四劑後加人參一錢</p>
<p>陰絡傷，則血內溢，久藥鮮當，以甘藥投之。</p>
<p>人參　生地黃　升麻　槐米　血餘　龜版</p>
<p>又方　人參　桂圓肉　炒白芍　白糯米　赤石脂　炙草炭</p>
<p>酒客便溏腸紅，是內傷之濕，戒飲酒既愈。夏天濕勝氣泄病發，自述食腥油，大便即頻。宗損庵劫胃水法。</p>
<p>生白朮　熟附子　生白粳米　炮黑姜</p>

<h2>汗</h2>
<p>脈弦無胃，面青呻吟，汗出目瞑，是為肝陽外泄，宜與腎同治。</p>
<p>熟地　牡蠣　白芍　麥冬　小麥　大棗　炙草</p>
<p>自汗不止，目閉則胃郁，背熱如火，心悸動而汗止。此肝苦急之候也，以甘緩之。</p>
<p>炙甘草　淮小麥　茯神　白薇　南棗肉　白龍骨　人參　柏子仁　棗仁</p>
<p>汗出亡陽，神虛畏怯，心悸則汗漏，勉議固陽守陰之藥。</p>
<p>人參　桂枝　龍骨　茯神　炙甘草　左牡蠣</p>

<h2>心悸狂癇</h2>
<p>暈吐緩，心悸痛。</p>
<p>炙甘草　枸杞子　茯神　生穀芽　人參　當歸身　肉桂　後改養營丸</p>
<p>抑鬱頓挫，侘傺無聊，心乃偏倚，十二官皆無主，則陰氣並於陽也。投以重性之劑。</p>
<p>鐵落　真鬱金　半夏　苦參　塊茯苓　橘紅</p>
<p>讀誦久坐，身似靜，心多動，陽氣皆令上亢，陰氣無能上承，故心悸。惟靜處為宜，藥不易效也。</p>
<p>補心丹。</p>

<h2>痞脹便秘</h2>
<p>氣分上熱，吸爍津液，能令便艱，當滋養營液，其心痛必安。</p>
<p>柏仁　茯神　鮮生地　天冬　阿膠　炒桃仁</p>
<p>腸中變化失司，胃氣不得下行，此不飢少食因由也。夫小腸為火府，非苦不通，以六府皆陽，氣窒則變熱矣。用小溫中丸，苦藥已得小效。</p>
<p>蘆薈　砂仁殼　雞肫皮　胡黃連　青皮</p>
<p>脾胃不和，食後不化，晡暮陽不用事，納食痞脹不寐。病起夏秋，必因時令之濕，久延半年未痊，又慮陽微濁凝為脹滿，故厚味須忌。</p>
<p>生於術　煨益智　炒澤瀉　茯苓　煨姜　新會皮</p>
<p>臍左右兩傍按之痛，交子夜漉漉有聲，時或氣脹。此皆腑陽不通，欲結腸痹，非臟病虛寒矣。八味湯不效謂此。</p>
<p>小茴香　川楝子　茯苓皮　青皮　豬苓　青木香</p>
<p>腸痹治肺，丹溪方信不謬，但酒客久蘊溫熱，亦有濕結。便秘一症，當以辛苦寒專理氣分之滯。</p>
<p>真茅朮　製半夏　冬葵子　生石膏　山梔仁　晚蠶沙　臨服磨入大檳榔汁二匙</p>
<p>老年脈沉目黃，不飢不食，腹痛自利，後墜溺澀。此長夏濕邪，傷於太陰脾位，陽不運行，濕熱凝注。法當溫脾導濕，佐辛香以宣濁，補中益氣，甘溫升守壅氣，宜乎䐜脹。議開太陽溫太陰方。</p>
<p>木防己　川桂枝　大腹皮　生厚朴　草果仁　新會皮　小茵陳　茯苓皮</p>
<p>痰滯下泄痛緩，腹脹喜按。此屬虛痞，為勞傷無形之氣。</p>
<p>川桂枝　川黃連　生白朮　厚朴　廣皮</p>
<p>寒暖飢飽失和，日晚腹中䐜脹，脾胃氣鈍，深秋最防瀉利。</p>
<p>藿香　生智仁　厚朴　炒元胡　茯苓皮　陳皮　大腹皮　炒黑查肉　又橘術丸</p>
<p>脈沉遲，食入腹脹便溏，平昔飲酒中傷，留濕阻氣，小便不爽，用香砂平胃散。</p>
<p>香附　砂仁　制茅朮　厚朴　廣皮　炙草　水泛丸</p>
<p>血結為症，氣聚為瘕，病在絡為脹，形寒鼓慄，已是陽微，夏季腹膨溺少。議暖水藏。</p>
<p>大針砂丸滾水送下。</p>
<p>少腹宿瘕，悲哀癇厥，繼而腹脹大滿，直至心下，經來淋漓，過月乃止，其脹不減，便瀉溺少肢冷內熱是氣血皆病。議溫水臟法。</p>
<p>大針砂丸。</p>
<p>不飢少寐，二便不爽，經脈中牽掣。此非風寒從表，乃長夏水土之濕，與水穀之濕，互蒸氣阻，三焦不通，中年兩月不愈，恐延格脹之累。</p>
<p>白蔻仁　杏仁　厚朴　廣皮　苓皮　茵陳　防己</p>
<p>客遊勞頓，陽氣先傷，夏季濕邪，是陰鬱遏身中之氣。經旨謂陽邪外寒，胸中清陽不旋，不飢痞悶。先治其痞，仿仲景薤白湯。</p>
<p>桂枝　薤白　生薑　茯苓　半夏</p>
<p>自云䐜脹，左脅痛勢休息，大便日下黏濁，臨便自覺冷痛。凡五臟錮結為脹，六腑濁痹為聚，數年久病，難以廓清。議溫下法。</p>
<p>大黃　草果　青皮　附子　厚朴　陳皮</p>
<p>經水不來，腹大足冷浮腫，此乃血分鼓脹。四大症候，何得渺視。</p>
<p><u>禹餘糧丸</u></p>
<p>接服　人參　澤瀉　淡乾薑　茯苓　淡附子　又禹餘糧丸</p>
<p>夏秋內伏暑濕，皆是陰邪，久瘡漸致食入痞滿，形寒脈小。當溫中醒陽，莫以清涼治瘡。</p>
<p>薏苡仁　茯苓　肉桂　生白朮　豬苓　五加皮</p>
<p>陽微氣不流暢，脘中痞滿噯氣。</p>
<p>人參　半夏　白旋覆花　煨姜　丁代赭　茯苓　廣皮　南棗肉</p>
<p>陽氣不旋，不飢強食。</p>
<p>薤白　茯苓　橘紅皮　半夏　白酒</p>
<p>述小腹之右，入暮有形如梗，按之而痛。此為疝瘕肝病，乃濁陰凝聚，必犯胃氣。大半夏湯有去痰扶胃之功，必加泄濁和肝，勿令致脹滿。</p>
<p>人參　茯苓　炒小茴香　青木香　半夏　炒橘核　川楝子</p>
<p>脈沉，湯飲食物，嘔吐吞酸，胸高腹脹，二便不爽，濁氣上阻，柔溫宣通。</p>
<p>熟半夏　白蔻仁　新會皮　藿梗　生薑汁　大杏仁　紫厚朴　茯苓皮</p>
<p>脈微小而遲，久食物不進，形色枯悴畏寒。此為無陽，延久成脹。</p>
<p>人參　熟附子　生益智仁　茯苓　炒乾姜</p>
<p>左脈獨弦，臍突筋青，肝脹顯然，脾愈虛，肝愈實，又不合實脾治肝之法，先泄肝。</p>
<p>郁李仁　柏子仁　茯苓皮　炒烏梅　炒桃仁　赤芍藥　薏米仁</p>
<p>由食冷脘脹溏泄，漸漸目眩神疲，筋縱腳弱，陰陽日衰。前進薛氏腎氣丸相投，今夏月土衰木侮，必兼理陽宣通，不致濁陰結聚脹滿矣。</p>
<p>人參　乾薑　茯苓　椒目　淡附子　水泛丸晚服　早上仍用薛氏腎氣丸</p>
<p>腹右有形為聚，脈大，食入即脹，治在六腑。</p>
<p>香附生磨汁　草果　白朮　茯苓　三稜　厚朴　南楂肉　廣皮</p>
<p>脈微遲，左脅宿痞，漸腹脹，便溺少。明系濁陰上攻，當與通陽。</p>
<p>製附子　炒茴香　茯苓　椒目　澤瀉　遠志</p>
<p>時病食復，至今不知飢飽，大便不爽，右脅之傍，虛里天樞，隱隱有形。此陽胃絡經行之所，多噯氣，食不化，並不煩渴，已非攻下急驟實熱之症。先用</p>
<p>丹溪小溫中丸。</p>
<p>據述上年秋痢，峻劑攻逐，病愈不能復元，自小腹䐜脹，漸延中部，按之仍軟。此真氣不收，法當溫養奇經，使元海壯而病卻。</p>
<p>鹿茸斑龍丸法加茴香　夜服資生丸去連</p>
<p>夏秋痢疾，是時令溫熱，邪未清爽，即食腥味，致脾胃受傷，舌膩白苔，食減無味，氣墜足腫，久久延成中滿也。但數月久病，旦晚未能奏功。</p>
<p>生於術　廣皮　生益智仁　茯苓　厚朴　生砂仁</p>
<p>三陽結乃成膈，先用更衣丸三錢，破小腸之結，後服煎方。</p>
<p>枇杷葉　桃仁　製半夏　柏子仁　蔞仁　杏仁　鬱金　桔梗</p>
<p>高年陰結。</p>
<p>半硫丸三錢，分兩次，人參一錢，煎湯送下。</p>
<p>食入不化，腹脹便瀉不爽，長夏濕著脾胃，葷酒不忌，氣分鬱滯。據述嗔怒致此，未必皆然。</p>
<p>茵陳　草果　木通　腹皮　飛滑石　厚朴　茯苓皮　廣皮</p>
<p>瘧愈食腥太早，脾陽不司健運，氣鬱不行，為腫為脹，宜忌食物中之黏膩者味者。</p>
<p>小溫中丸三錢　十服</p>

<h2>痰飲喘咳水氣腫脹</h2>
<p>昔肥今瘦，為痰病傷正氣不復，下焦無力，議治脾腎。</p>
<p>補骨脂　茯苓　廣皮　生智仁　生白朮　川椒　蒸餅為丸</p>
<p>少陰氣逆，議通太陽。</p>
<p>川桂枝　五味　白芍　茯苓　炙草　淡乾薑</p>
<p>少年背冷夜喘，此為伏飲成哮，痰飲屬陰邪，乘夜陽不用事竊發，以辛甘淡微通其陽。</p>
<p>桂枝　炙草　米仁　茯苓　姜皮</p>
<p>飲酒便滑，胸中氣逆，陽不運行，痰聚，當以溫通其陽。</p>
<p>生智仁　半夏　乾薑　茯苓　廣皮　薑汁</p>
<p>飲酒聚濕，濕生痰生熱，維脈為濕熱所阻，遂為痹痛，猶是淺近之恙，其在裡久釀痰飲，深處絡中，二年以來，陽氣日衰，痰濕皆屬陰濁，乘夜沖舉，有妨臥寢。仲景論飲非一，總以外飲治脾，內飲治腎為要法。總之，脾陽鼓運水穀之氣，何以化濕變痰，腎陽潛藏，斯水液無從上泛而為痰喘。試以過飲必瀉甚，酒肉當禁忌矣。先議越婢法，宣上鬱熱，以通痰飲。</p>
<p>桂枝木　木防己　茯苓　淡乾薑　石膏　白芍　北五味</p>
<p>脈沉背寒，咳嗽吐稀涎，夜不得臥，此為伏飲，遇冷即發。</p>
<p>小青龍湯去麻辛</p>
<p>六旬又五，從未生育，先天坎陽未旺，所賴後天水穀精華，藉以形充氣沛，男年八八，天癸向衰，形體似壯，其氣已弱，向來味厚溫補，與體質相宜，近因痰多火動，藥力未能收納及下，反為助痰妨胃之累，虛風暗旋，原非客感，冬藏未富，春木蠢動，風來肝腎，陰陽不交使然，木必凌土，而納食不化，陡然便溏矣，再論痰飲，莫詳仲景，由水液上泛者治腎，食減不運者治脾，今肝木生風，致麻痹漸軟，亦當培土製木。</p>
<p>早服四斤丸　夜服茯苓飲</p>
<p>痰飲一症，頭緒甚多，以陽氣不足之體，當此天暖發泄，反誤服苦辛泄氣之藥，傷及胃口，此背冷不能納食，是其明徵。</p>
<p>茯苓　桂枝　甘草　生薑　南棗</p>
<p>痰飲皆陰濁，乘陽微濁攻為嘔吐，胃氣傷，不主納食，用真武湯驅濁飲醒陽。</p>
<p><u>真武湯</u></p>
<p>脈濡，中宮陽不主運，濕濁聚痰，不飢不渴不食。</p>
<p>桂枝木　草果　廣皮　茯苓　厚朴　炒穀芽</p>
<p>高年久不更衣，痰氣上窒。</p>
<p><u>滾痰丸</u></p>
<p>涎飲激射。</p>
<p>塊苓　蘇子　陳皮　鬱金　半夏　芥子　薑汁</p>
<p>聚飲膈上，辛開淡降而已。</p>
<p>塊苓　桂枝　炒熟半夏　薑汁炒橘紅　澤瀉　蘇子</p>
<p>冷哮氣喘急數年，根深沉痼，發時以開太陽逐飲，平昔用</p>
<p>腎氣丸加沉香。</p>
<p>幼年哮喘，是寒暄失時，食味不調，致飲邪聚絡，凡有內外感觸，必喘逆氣填胸臆，夜坐不得臥息，晝日稍可展舒，濁沫稀涎，必變濃痰，斯病勢自緩，發於秋深冬月，蓋飲為陰邪，乘天氣下降，地中之陽未生，人身藏陽未旺，所伏飲邪，與外涼相召而竊發矣，然伏於絡脈之中，任行發散，攻表滌痰，逐里溫補，與邪無干，久藥不效，謂此治法，宜夏月陰氣在內時候，艾灸肺俞等穴，更安靜護養百日，一交秋分，暖護背部，勿得懈弛，病發之時，暫用湯藥，三四日即止，平昔食物，尤宜謹慎，再經寒暑陶溶，可冀宿患之安，發時背冷氣寒，宜用開太陽逐飲。</p>
<p>青龍法。</p>
<p>寒天痰嗽，乃陽氣微弱，不能護衛，風冷來侵而起，久則飲泛上逆，入暮為劇，飲屬陰濁耳，仍發散清肺，仿仲景飲門議治。</p>
<p>桂枝　五味　杏仁　茯苓　炙草　乾薑</p>
<p>附方　橘半枳朮用竹瀝薑汁泛丸</p>
<p>脈弦，脊骨中冷，深夜痰升欲坐，少陰寒飲上泛，議通太陽。</p>
<p>桂苓五味甘草湯加淡乾薑、北細辛。</p>
<p>痰飲入夜上泛，喘咳不得臥息，當治飲，不當治咳。</p>
<p>桂苓五味甘草湯，加淡乾薑、白芍。</p>
<p>寒熱客邪，已過營衛，變為痰飲，遇冷遇暖，或加勞悴，飲泛阻塞升降，喘不得著枕，飲去便安，逐飲非一，最難除根。</p>
<p>小青龍去麻、辛。</p>
<p>久遺下虛，秋冬咳甚氣衝，入夜上逆欲坐，不能安枕，形寒足冷，顯然水泛為痰沫，當從內飲門治，醫用肺藥，則謬矣。</p>
<p>桂苓五味甘草湯加白芍、乾薑。</p>
<p>壯年久寓閩越粵，南方陽氣偏泄，中年以來，內聚痰飲，交冬背冷喘嗽，必吐痰，胃脘始爽，今六十四歲，已屬向衰，喜暖怕寒，陽虛已露，不宜搜逐攻劫，當養少陰腎藏，仿前輩水泛化痰阻氣，以致喘嗽之例。</p>
<p>腎氣去牛膝肉桂加沉香、五味子。</p>
<p>年老水入湧出，陽微伏飲。</p>
<p>大半夏湯加薑汁。</p>
<p>溫邪挾飲上逆，肺胃不主宣降，咳逆身熱，胠脅痹而不舒，素有肝邪，升多降少，以理氣泄飲為治。</p>
<p>旋覆花　蔞仁霜　橘紅　杏仁　冬瓜皮　蘇子</p>
<p>左癱經年，形體已少蹺捷運動，長夏氣交之濕，與水穀不運之濕，皆令阻遏脾胃流暢之氣，食減不化，大便不爽，漸漸喘急，四末肌理，有中滿之累。</p>
<p>杏仁　腹皮　厚朴　米仁　茯苓皮　桔梗　蔻仁　廣皮　煎藥送保和丸</p>
<p>通泄肺氣，喘緩腫減，偏右則知內因水穀之濕，全在氣分流通而解，凡腥濁厚味，皆滯氣留著，與此病未合。</p>
<p>木防己　苓皮　萆薢　桂枝　米仁　厚朴</p>
<p>老年陽微，氣窒浮腫，當通腑陽，勿進破氣。</p>
<p>生於術　淡附子　川桂枝　厚朴　白茯苓</p>
<p>長夏濕邪，傷太陰脾陽，發瘡不盡其氣，浮腫腹脹，議宣通腑氣。</p>
<p>生白朮　大腹皮　厚朴　生牡蠣　茯苓皮　澤瀉　廣皮　木防己</p>
<p>診脈左沉右弦虛，過勞陽傷，清氣不主流行，溫中丸不應，非有形之滯，以辛溫微通其陽。</p>
<p>桂枝韭白湯。</p>
<p>又案　形盛氣衰是陽虛，平素多飲酒，有濕有痰，其筋骨中漸漸畏寒刺痛，卻主陽氣不流行矣，同前方。</p>

<h2>脾胃</h2>
<p>長齋數年，脾胃日弱，食進脘中少運，小溲入暮漸多，色萎黃，脈弦虛，皆中氣不足。</p>
<p>香砂異功散，水泛為丸。</p>
<p>嘔瀉都令胃氣受傷，凡不適意食物，更能妨胃，藥用和中，謹慎口腹，使脾胃氣壯，不致反覆。</p>
<p>茯苓飲去元參　金石斛湯泛丸</p>
<p>形勞嗜飲，中氣受傷，涼藥治肺，清痰降火，不過見病治病，急急理胃土以生金。</p>
<p>米仁　白芨　黃耆　桔梗　茯苓</p>
<p>素嗜酸者，中氣不利，治以此法。</p>
<p>粗桂木　炒陳皮　焦白朮　白豆蔻　炙黑甘草</p>
<p>舌白滑，微嘔自利，陽微虛餒，急當溫里。</p>
<p>人參　生於術　炮姜　炙草　淡附子　生益智</p>
<p>接服　生白朮　人參　茯苓　生益智　淡附子　炒芍　炮姜</p>
<p>又服　六君子湯丸方　生於術　人參　木瓜　茯苓　生益智　炮姜　陳皮　用煨姜南棗肉煎湯泛丸</p>
<p>飢飽失節為內傷，山嵐瘴癘是外因，六腑陽氣不通，滯濁蘊蓄不清，經年不愈，非湯藥所宜。</p>
<p>生茅朮　草果仁　厚朴　制軍　廣皮　薄桂心　水泛為丸</p>
<p>脈左小澀右弦，六旬有六，陽微肢冷，脘痞不易運化，大便三四日一更衣，初結後溏。此太陰脾陽受困，當用溫中醒陽。</p>
<p>理中加桂湯。</p>
<p>溫伏皆令脾胃受傷，寒熱，隨利黃水，小便短赤，熱自濕中而出，痛擾虛里右脅，食入不運。仍是脾胃不和，升降失司，以溫胃宣通治。</p>
<p>生於術　生智仁　新會皮　茯苓　紫厚朴　生薑渣</p>
<p>平昔飲酒，脾陽受傷聚濕，食少不化，大便久溏，晡食不安，飲水多，溲溺愈少。宜溫中佐運，厚味酒醴須忌。</p>
<p>生於術　牡蠣　附子　澤瀉</p>
<p>飢飽寒熱用力，都傷營衛，內應脾胃，故痿黃無力，食入䐜脹溏泄。</p>
<p>平胃加炒黑川椒、草果。</p>
<p>茹素多年，中焦陽氣易虧，納食必胸脘痛及兩脅。由乎脾臟陽弱，不主運行矣。治以辛香溫暖，健脾佐運。</p>
<p>於朮　蓽撥　淡乾薑　新會皮　益智仁　淡吳萸</p>
<p>夏秋濕勝滯脾，食物不為運行，陽不流行，濕滯久而壅熱。此中氣更困，以和胃健脾，分利水道逐濕。</p>
<p>生白朮　草果仁　木通　茵陳　澤瀉　厚朴　茯苓皮　新會皮</p>
<p>酒勝於谷，致形畏寒，嗽不止，咳甚嘔吐。乃胃陽受傷，此治嗽清寒難用。</p>
<p>茯苓　半曲　煨姜　米仁　新會皮　南棗</p>
<p>胃陽不旺，晚暮腹鳴痞脹，晨起瘕泄，兩方用胃苓治中相安，今吐沫上湧，仍屬胃病。</p>
<p>人參　生於術　茯苓　益智　附子　乾薑　各為末水泛丸</p>
<p>凡滋味食下不安，噯出臭濁不變。蓋在地之物，假粱肉成形者，皆陰類也。宜食飛翔之鳥，以無油膘滯膩。藥用妙香散，芳香醒脾，不致燥烈傷腎。</p>
<p>人參　茯苓　石菖蒲　益智　茯神　炙甘草　檀香　或用木香新會皮</p>
<p>奔馳勞動搖精，精腐溺濁，繼出血筋，真陰大泄於下，胸膈痞悶，不飢不食，腹內響動攻觸，清陽結閉於上，由醫者不察陰陽虛實，反以清降滋陰，傷及胃中之陽。</p>
<p>人參　穀芽　生益智　石菖蒲　茯苓　廣木香　茯神　石斛　檀香末　廣皮　服十劑後轉斑龍丸</p>
<p>食入脘脹且痛，是胃陽受傷，凡冷濁肥膩須戒。</p>
<p>藿香　草果　茵陳　廣皮　厚朴　茯苓皮</p>
<p>向系積勞傷陽，肝風內動，症如類中，專以溫腎補脾，運痰熄風得效。丁巳春深，診脈不附骨而洞泄，迄今形瘦未復，頻年久瀉。法宗瀉久傷腎，以固攝下焦，定議六君子湯，仍宜暮服勿間，以胃氣弱，陽微嘔酸。</p>
<p>吳萸　乾薑　葫蘆巴　茯苓　蓽撥　南棗</p>
<p>食入噁心痞脹，先曾腹痛瀉下，外因口鼻受邪，宜正氣平胃辛香，久則脾胃陽傷。溫中宜佐宣通，可使病愈。</p>
<p>附子　廣皮　茯苓　草果　厚朴　煨木香</p>
<p>胃口弱極，肛墜如欲頻便。夫腎為胃關，皆腎虛不司收納，元海氣逆，水化痰飲矣。</p>
<p>早上用八味丸減桂加五味子以收腎氣散越　午後服異功散健中安胃　都氣丸四服</p>

<h3>脘脅腹中諸痛</h3>
<p>飢飽悲哀，內傷情志，痛無定所，忽閉忽開，主乎營衛流行失緒。凡心主營，肺主衛，當開爽怡悅，氣血不致結痹，不必偏於寒熱補瀉也。</p>
<p>桂枝　石菖蒲　遠志肉　茯苓　炙甘草　茯神</p>
<p>消渴心嘈，心下痛，氣塞自下而上，咽中堵塞。此厥陰肝陽升舉，勞怒動陽必發，久則反胃欲厥。</p>
<p>阿膠　柏仁　天冬　小生地　女貞子　茯神</p>
<p>脈左澀伏，右弦，嘔吐脘痛，引及脅時，痛甚則四肢冷麻。是肝厥心痛，驚起怫鬱致痛。</p>
<p>高良薑　沙延胡　吳萸　青皮子　生香附　川楝子　茯苓</p>
<p>接服　蘇合香丸，真川椒　烏梅肉　泡湯化服。</p>
<p>接案　脈伏者起，似宜病減，而痛脹脘痞，口湧涎沫，舌仍白，鼻竅煤，面欲赤頭汗，顯然肝厥犯胃，左升之氣，逆亂攻絡，脅胠乳穴皆脹，辛香開氣不應，便秘溺少。用河間金鈴子散，佐以潤液，兩通氣血。</p>
<p>川楝子　青橘葉　左牡蠣　延胡索　炒桃仁　漏蘆</p>
<p>病久緒繁，終不離乎厥陰一藏。今商佐金氣以暗制之，滋營氣以撫綏之，實太陰以漸御之。亦子貢存魯霸越滅吳之意。</p>
<p>人參　制首烏　茯神　羚羊角　阿膠　麥冬</p>
<p>補肝法。</p>
<p>人參　茯神　歸身　炒白芍　柏仁　炙草</p>
<p>又方　人參　茯神　廣皮　天麻　蒸於朮　炙草　鉤藤</p>
<p>附方　戊己湯　砂仁湯法丸</p>
<p>丸方　鹽水炒川連　炒黑川椒　生白朮　青皮　川楝子肉　淡乾薑　當歸身　細辛</p>
<p>脈沉小左弦，沖氣至咽欲厥，下墜入前陰，溲溺不能，自利。此厥陰衝脈之病，當以穢藥驅濁。</p>
<p>桂枝　韭白　茴香　川楝　茯苓皮　青木香</p>
<p>素有肝厥痛，氣從脅腹厥逆至咽，胸痛徹背，且多痰飲，舌苔常垢白，病發不飢不食，嘔酸症已數年，痼疾難效。</p>
<p>人參　炒焦白朮　茯苓　製半夏　炙甘草　陳皮　炒焦當歸　烏梅　肉桂心　炒川椒</p>
<p>病從少腹右痛，寒熱嘔吐，是肝病傳胃，病去不復，寢食未如昔。二氣不復，總屬虛象，議治厥陰陽明，和陽益陰法。</p>
<p>小麥　石決明　阿膠　南棗　生地　炙甘草</p>
<p>連朝陰晦，陽氣鬱勃，食入運行失司，氣滯為痛，性更躁動，本來乘土，況有血症，辛燥動絡非宜，主兩和肝胃。</p>
<p>生白芍　延胡索　神麯　炒枳實　廣皮　炒山查</p>
<p>用甘藥嘔緩，都因治嗽苦辛寒傷胃，衝脈亦陽明胃經管轄。此補胃以寧衝陽，實具至理。</p>
<p>川桂枝　炙甘草　生黃耆　生白芍　南棗肉　生牡蠣</p>
<p>嘔吐苦水，必在早晨，蓋竟夜未進食物。胃空則陽中濁壅攻胃，胃底之水上溢，此病已八年，是食不謹慎，胃陽受傷矣。</p>
<p>淡吳萸　熟附子　塊茯苓　生白芍</p>
<p>老人胃弱，多食甜物緩中，況入暴冷，亦走胃之募原，湯水盡嘔，胃脘痛氣逆格拒，以辛香開之。</p>
<p>吳萸　高良薑　紅豆蔻　塊茯苓　熟半夏　研入蘇合丸</p>
<p>寒自口鼻中入內，發散疏表非法，便燥不爽，腑氣不和，當先治痛理氣。</p>
<p>生香附汁　草果仁　杏仁　高良薑　廣皮　厚朴</p>
<p>丁巳風木，不及春半，陽未生旺，議養陽方法。</p>
<p>人參　熟於朮　生智仁　茯苓　廣皮　乾薑</p>
<p>食入涎湧，脘脅痛脹在右邊，近日天冷更加。前議胃陽已傷，濁沫凝涎，壅於胃脘，致濁氣不降，腸中為痹，古稱九竅不和，顯然腑病。想暴寒口鼻吸入，近日反痛，為新寒凝冱之象。</p>
<p>蘇合香丸。</p>
<p>辛香頗通知，邇日吸受寒威，與久蓄凝涎互結，以六日始更衣，論無形與有形交混，不獨輕劑理陽矣。</p>
<p>蓽撥　半夏　廣皮白　良薑　茯苓　妙香丸</p>
<p>五年來飢飽失和，臍中胃脘啾唧痛，痛甚嘔吐清水，顯然中焦陽傷，但久痛不已，必致凝瘀沉錮。自述泄氣則緩，病痛之根，在乎腑絡。</p>
<p>半夏　厚朴　草果　薑汁　廣皮　葫蘆巴</p>
<p>勞怒脘痛，是肝木乘土，屢經發作，脘聚瘀痰，上湧下泄，瘀去始緩，但痛發徒補則壅。議冬月用通補方，胃屬腑，腑通為補。</p>
<p>製半夏　廣皮　桂木　茯苓　生於術　石菖蒲　牛肉膠為丸</p>
<p>心下高脹至少腹，其形橫梗，大便不爽，咽中痰阻，從九竅不和，屬胃虛。</p>
<p>小溫中丸十服。</p>
<p>食不得化，是無陽也。蓋胃陽受傷，陰濁上僭，為脹為嘔，而酸水痰涎，都因陰濁，通陽為正治法。</p>
<p>人參　半夏　附子　茯苓　乾薑</p>
<p>胃氣痛發。</p>
<p>五靈脂　川楝子　桂木　生蒲黃　元胡索　生香附</p>
<p>痛緩用後方。</p>
<p>炒桃仁　茯神　炒杞子　柏子仁　桂圓肉　新絳</p>
<p>丁巳風木司天，春木氣震，胃土受侮，噯氣嘔食，上年多以辛通得效，陽氣因病致傷。姑以小半夏湯和胃，佐吳茱萸驅濁。</p>
<p>半夏　茯苓　乾薑　吳茱萸</p>
<p>四年臍左有形閃動，發必堅大，腰軟欲束縛，不飢不欲食。仿金匱桂姜苓朮湯，轉旋下焦之陽。</p>
<p>始而嘈雜，食進不化，數年前脘中漸痛微嘔。此乃積勞傷及營絡，絡虛為補，安閒怡悅，可以少發藥餌，攻病未必去根。</p>
<p>炒桃仁　桂枝木　桂圓肉　歸鬚　炒延胡　茯神</p>
<p>病著右腹，甚至針刺刀割，牽引入於腰背，必泄濁氣病緩。自述服蚌灰小效復發。夫蚌系介屬，味鹹攻堅，直入至陰之界。是病已在陰絡，錮結瘀滯，蚌但鹹寒，不能宣逐瘀腐，絡病在下屬血，緩攻為是。</p>
<p>䗪蟲　炒桃仁　酒大黃（熬膏為丸）　麝香</p>
<p>陰中之陽失護，痛由前至肋引經，必用厥陰陽明，是謂知醫。</p>
<p>淡蓯蓉　枸杞子　茯苓　沙苑蒺藜　當歸　生精羊肉</p>
<p>陰氣混陽，厥陰病難治。</p>
<p>吳茱萸　川椒　川楝子　乾薑　烏梅　元胡</p>
<p>背脊痛不耐坐，左脅板實，吸氣嗆痛，左手冰冷，食入不化，常有遺精久病，三年在絡，議甘溫氣劑。</p>
<p>川桂枝木　肉桂　當歸　茯苓　左牡蠣　炙甘草</p>
<p>虛里穴為陽明胃，陽明氣血皆多，絡脈窒塞為痛，映及背部。脈絡不和，必宣通望其痛息，彼萸地之凝，耆朮之守，皆非絡藥。</p>
<p>桃仁　穿山甲　阿魏　歸鬚　韭白根　麝香</p>
<p>先有血淋，淋止脅痛，脈來左部堅搏，是少陽鬱熱乘絡所致，忌食酒肉厚味。</p>
<p>炒熟桃仁　茺蔚子　牡丹皮　當歸鬚　山梔　澤蘭</p>
<p>脈沉小，痛起胸脘，串及腰背，五年宿恙，寢食不改。此病在脈腠之間，痹阻不傷藏腑。議以流通周行氣血，勿得峻劑。</p>
<p>川桂枝　撫芎　乳香　薑黃　香附　茯苓　酒水各半泛丸</p>
<p>絡氣不通。</p>
<p>嫩蘇梗　黃麻骨　塊茯苓　煨葛根</p>
<p>左脅下硬，忽忽喜忘，是為蓄血之象。</p>
<p>桃仁　牡丹皮　鬱金　鉤藤　降香汁　赤芍藥　橘紅</p>

<h2>氣痹噎膈關格呃逆</h2>
<p>中年以後，陽氣已微，午時噯氣，食納上泛，皆胃弱氣逆，視面明脈弦，必伏痰飲，仲景胃虛客氣上逆例。</p>
<p>旋覆代赭湯。</p>
<p>氣鬱四年，脘結自能排遣，其結聚已散，近日喉間吐咯不清，食味甘必滯臟。是肺胃不降，以微辛微苦之屬，久恙勿投峻劑。</p>
<p>枇杷葉　米仁　茯苓　川貝母　金石斛　橘紅　白蔻仁　桔梗　蜜丸</p>
<p>喉旁左右有形，咽物不礙，但略起未食，其形為虐，思未食時，胃中陽皆上蒸犯肺矣。從前致病，以火酒大辛，熱結氣壅五年，已為痼疾矣。</p>
<p>甜北沙參　生黃耆　麥冬　甜秋梨　金銀花　熬膏服</p>
<p>清肺胃化生津液。</p>
<p>玉女煎。</p>
<p>附方　葦莖合葶藶大棗湯。</p>
<p>附方　蘆根　滑石　浙苓　生米仁　川貝　桑葉</p>
<p>附方　黃耆　白芨　桔梗　黃精　米仁　百合</p>
<p>聲嘶喉噎，食不適即嘔逆嗆逆。自述飲酒致傷，首先犯肺，開氣理逆，清肅上焦。</p>
<p>鮮枇杷葉　薏米仁　射干　活水蘆根　浙苓　降香汁</p>
<p>脈症乃氣結在上，津不運行，蒸變濁痰，由無形漸變有形。徐之才謂輕可去實，非膠固陰藥所宜。</p>
<p>鮮枇杷葉汁　杏仁　紫厚朴　白蔻仁　薏米仁　降香汁</p>
<p>脈小澀，面赤目黃，喉痛咽物不礙，溺後淋濁。此水穀之氣，凝聚成濕鬱，氣不升降，三焦不利，當以清肅上焦主治。</p>
<p>蘆根　射干　米仁　白蔻　浙苓　通草</p>
<p>昔年強旺，夏秋熱病頓減，精采不復，鼻竅不通，左脅有聲，攻觸痛嘔，遇勞即發，必脈絡中瘀留凝聚，頓然食減少飢，大絡必聚血，病中衄血，已見一斑矣。</p>
<p>生蒲黃　桃仁　歸鬚　五靈脂　穿山甲　桂枝木　韭白汁泛為丸</p>
<p>此跌撲致經脈氣血壅痹，脅背高凸，非湯藥可效。</p>
<p>黎洞丸每日服一丸。</p>
<p>脈虛浮，沉取直上下行，胃納素減，病發從背徹心，先脹悶幾日，氣遂從下焦直衝至咽，手足厥逆發呃。細測病源，屬胃虛，相火直衝清道而上也。夫衝脈並少陰之經，行乎幽門通谷，夾巨闕而上。故丹溪謂呃逆屬於肝腎之虛者，其氣必從臍下直衝，上出於口，斷續作聲。右腎為相火所寓，相火炎上，挾其沖氣，乃能逆上為呃，主以大補陰丸，折火滋水，伏藏衝任。治虛呃用參朮湯，崇土以制龍雷之火也。至東垣之論，又云胃為衝脈所逆，而反上行，其症氣上衝咽不得息，名曰厥逆，宜調中益氣湯加吳茱萸。觀厥氣多少而用之，且隨四時寒熱溫涼而治。若夏月有此症為大熱，宜加連蘖知母，直至下元，以瀉衝脈之邪也。兩條治法井井，高出千古。今擬大補陰丸早服，調中益氣午服，恪守勿懈，自可除根，遠勝後人龐雜之方矣。</p>
<p>大補陰丸　調中益氣湯秋冬去連蘖知母</p>
<p>黃蘖　熟地　人參　柴胡　木香　吳茱萸　黃柏　知母　元武　白朮　炙草　陳皮　黃連</p>
<p>右少腹中衝氣，上至胃口，痛而嘔欲呃。此陽微陰濁上踞，老人有關格之累。</p>
<p>炮黑附子　淡吳茱萸　生淡乾薑　雄豬膽汁</p>
<p>接案　陰濁得辛熱，反佐苦寒而降，陽明之陽必傷。然腑藥以通為補，須忌食物厚味。</p>
<p>人參　製附子　茯苓　淡乾薑</p>
<p>形寒嘔逆，瘕痛上衝，噯食稍減。</p>
<p>人參　半夏　吳茱萸　茯苓　高良薑</p>
<p>右脈如控弦。</p>
<p>北蘇子　半夏　代赭　生枳實　淡姜　茯苓　新會皮　鬱金</p>
<p>噁心飢不能食。</p>
<p>旋覆花　人參　雲苓　金石斛　代赭石　半夏　廣皮　薑汁</p>
<p>接服　六君子去甘草加生薑、煨益智仁</p>
<p>附方　枇杷葉　金石斛　竹瀝　橘紅　鮮蘆根　薑汁　後去竹瀝薑汁，加杏仁、紫苑。</p>
<p>老人脈右弦左澀，因嗔怒，致嘔吐䐜脹不納物。此肝木犯胃，湧逆不已，必致濁阻上下不通，老年復慮關格。</p>
<p>開口吳茱萸、薑汁燉南棗肉搗丸，服六七分，日三服</p>
<p>平昔嗜酒，肺胃積熱，陰液下枯，陽津變痰，鼻塞多嗆，減食無味，旬日更衣，糞如羊屎，老人關格，治之極難，況酒客不喜黏膩甘柔。形脈症象，不受溫熱，議以鐵甕申先生瓊玉減蜜方法。</p>
<p>鮮生地　人參　水一盞煎至四分臨服加入沉香末琥珀末</p>
<p>清陽不主轉旋，強納不運吐出，是不化之形，腸汁乾涸，腑陽不得傳導，便難艱澀。古稱關格，為陰枯陽結，藥難奏效，或以半硫丸宣濁通腑，仿戴元禮諸熱藥皆固秘，惟硫黃滑而不秘。</p>
<p>半硫丸。</p>
<p>六旬外陽氣不旋反閉，上不納食，下不更衣。此為關格，脈小結澀，傷於無形，最為難治。</p>
<p>妙香丸　每日三粒　十服</p>
<p>接案　大凡噎格反胃，老年閉於胃脘之上。是清陽不主轉旋，乃無形之結，辛香通關，反覺熱悶上升，虛症無疑。以大半夏湯合加黃連合瀉心法。</p>
<p>人參　半夏　茯苓　川連　竹瀝　薑汁</p>
<p>膻中為宗氣之海，氣無沖和之力，為噎為格，皆能致之。竟擬漸磨運蕩之法，庶幾得之。</p>
<p>鬱金汁　檀香汁　川貝　瓜蔞皮　製半夏　沉香汁　枳實汁　塊茯苓</p>
<p>先吐汙濁，繼而氣逆吐食，平日腹痛今已，便難瘀留在絡，氣亂道路不通，有形阻及無形，議攻其瘀。</p>
<p>桃仁　制軍　去皮桂枝　延胡　生蒲黃　炒煙盡五靈脂　韭白汁　臨服衝入三十匙</p>
<p>凝瘀既久，三焦道路為壅，延成反胃噎膈，議緩逐一法。</p>
<p>人參（研）　桃仁（去皮尖，烘脆）　麝香（研）　大黃　䗪蟲（酒浸，新瓦上烘焙脆）　當歸梢（烘）　煉蜜為丸</p>
<p>經云：食下不化，是無陽也。今早納晚吐，仍然完穀，胃陽衰憊困窮，反胃湧吐，陽氣結痹，濁陰壅遏，況少壯至中年，操持縈思，喜飲少谷，陽氣積傷。虞天民有云：格拒反胃，必陰枯陽結。視面赤屬飲，脈弦為痰，飲留氣凝，焉得不痛，緩痛宜通，然非攻下盪滌之比。當從通陽鎮逆為法，真寒辛酸，破泄真氣，大傷胃陽，不可再服。仿仲景胃虛客氣上逆例。</p>
<p>人參　淡附子　淡乾薑　代赭　塊苓　白旋覆花</p>
<p>酒熱傷胃，穀食入脘即噎，湧出涎沫，陽明脈不用事，筋脈牽絆，與半夏瀉心湯。</p>
<p>半夏　茯苓　金石斛　竹瀝　薑汁</p>
<p>接服　杏仁　鮮枇杷葉　厚朴　茯苓　半夏</p>
<p>右脈弦長而數，左脈帶澀，阻在胃之上院，起自恚怒，不獨傷肝，肺亦有之，何也？以其循胃上膈，是肺之所屬，金不及木，得反侮之，聚則氣凝痰阻，眼胞足以證之。擬泄金平木何如。</p>
<p>薑製枇杷葉　蘇子　水梨汁　醋製代赭石　桃仁　茯苓　薑汁　鬱金　滑石　絳絹三四寸煎湯代水</p>
<p>半硫通下頗效，妙香開上反吐，此中焦胃陽已虛也。用</p>
<p>大半夏湯。</p>
<p>食不得化，是無陽也。脈絡映痛，辛香芳溫可效，當用</p>
<p>蘇合香丸。</p>
<p>昔年嗜飲，濕聚痰壅，致清升濁降，痹阻食脘窄隘，咽竅不納，飲留氣凝。治在上焦，以飲有質，氣無形也。</p>
<p>生滑石　紫厚朴　竹瀝（沖）　蘆根　瓜蔞皮　薑汁（沖）</p>
<p>老人噎膈，不能納穀，脘中窄隘，是氣不通，非有餘之比。</p>
<p>枇杷葉　米仁　橘紅　蘆根　茯苓　薑汁</p>
<p>途次吸入寒氣，傷及絡脈，每胸痛飲熱酒，宣通小愈。中年屢發，陽氣受傷，必有瘀聚，漫延反胃噎膈。宜薄味節勞。</p>
<p>薑汁　茯苓　炒桃仁　桂枝木　半夏　胡索</p>
<p>防方　早服淡豆腐漿　晚服枇杷葉膏</p>
<p>噎膈為患，脈微而遲，乃胃之沖和之氣，曲運神機所致也。今已顆粒不食，呃逆不止，倉稟頓憊之象。</p>
<p>人參　茯苓　陳皮　枳實　生術　炙甘草　半夏　磨沖，紋銀汁和入服。</p>
<p>《內經》無火無水之論原非泛指，張子和亦云：湯中煮桂火里燒姜豈不讀耶。</p>
<p>蘆根　生地　塊苓　米仁　生術　枇杷葉　竹茹　鬱金　代赭石</p>
<p>又接服　六君子去甘草加　枳實　代赭　姜　棗　黃米</p>
<p>脈右弦面色赤亮，納穀咽乾脘阻礙不下。五十四歲清陽日薄，致轉旋日鈍，痰必阻氣，結則脘窄不能宣通耳。大便仍利，但治脘膈之上。</p>
<p>白蔻仁　杏仁　厚朴　桔梗　枳實　半夏</p>
<p>半年脘悶多噯咳嗽，此氣鬱不解，納穀已減，破泄耗氣，非宜從胸痞治。</p>
<p>薤白湯</p>

<h1>卷三</h1>

<h2>瘧疾</h2>
<p>瘧母因不慎食物，腹鳴痞脹溏泄，以理脾胃之陽藥。</p>
<p>草果仁　吳茱萸　茅朮　厚朴　廣皮　椒目　老薑搗取汁泛為丸</p>
<p>舌白不渴，脈沉腹滿，不飢不食，二便不通。是暑濕發瘧後中氣不復，驟食大葷，亦氣結成脹。</p>
<p>大針砂丸一錢二分　十服</p>
<p>脈左數搏，是先天真陰難充，則生內熱，瘧熱再傷其陰，與滋養甘藥填陰。</p>
<p>左歸丸去杞子牛膝加　天冬女貞</p>
<p>三瘧乃邪伏陰分而發，數月始止，然畏風怕冷，因瘧邪偏寒偏熱已久，營衛皆弱，氣薄不固，調養失宜，必致復病。議用大封大固，如天真丸。</p>
<p>天真丸去羊肉加河車膠</p>
<p>向來多咳肺傷，六月廿四風潮感邪，單熱不寒為癉瘧。仲景謂消爍肌肉，當以飲食消息之。在乎救胃陰以供肺也。醫知是理否。</p>
<p>大竹葉　連翹　麥冬　生甘草　青甘蔗漿　甜秋梨漿</p>
<p>伏暑因新涼發瘧，頭脹噁心脘痞，邪郁上焦，從肺瘧治。</p>
<p>竹葉　連翹　滑石　杏仁　川貝　橘紅　白蔻　紫厚朴</p>
<p>太陰濕瘧，脾陽傷，氣不運，舌白脘悶，水飲停蓄，當理氣分。</p>
<p>草果　厚朴　藿梗　廣皮　杏仁　苓皮　化蘇合丸一丸</p>
<p>濕熱未清，瘧止頭目胸中不爽，不飢不思食，病在氣分。</p>
<p>草果　白蔻　厚朴　廣皮　茯苓　杏仁</p>
<p>癉瘧兩旬不解，舌白脘悶色奪。</p>
<p>菖蒲根汁　白蔻仁　草果　厚朴　杏仁　茯苓皮　廣皮　化牛黃丸一丸　一去杏蔻加木香藿香化入蘇合丸</p>
<p>接服　竹葉地黃湯法</p>
<p>間日瘧不飢，心悶不甚渴，從脾胃制邪可愈。</p>
<p>草果　知母　黃芩　生薑　厚朴　半夏　廣皮</p>
<p>風濕著太陰瘧。</p>
<p>草果　厚朴　廣皮　茯苓　豬苓　藿香梗　化蘇合香丸</p>
<p>農家夏季受冷濕之氣，陽氣不司宣暢，壯年形軟無力，乃勞倦傷之瘧。</p>
<p>生白朮　生薑　草果　厚朴　廣皮　藿香</p>
<p>此熱傷氣分而為癉瘧，寐則肢腫熱渴，余暑尚熾，宜救胃津。</p>
<p>人參　麥冬　竹葉　知母　生甘草</p>
<p>瘧止反覆，必有所因，姑就色脈氣怯神弱，因病致虛，夏秋宜調中益氣。</p>
<p>人參　益智　茯苓　廣皮　炙甘草　炒白芍</p>
<p>今年瘧疾半由雨濕陰晦之邪，當以芳香逐穢理氣分多效。但三瘧系在陰伏，起必左足微冷，熱過有汗。仍知飢知味，乃勞乏氣怯之病，不必專以攻邪。（是歲系濕土司天。）</p>
<p>桂枝木　生牡蠣　炒黑蜀漆　生耆　當歸　防風根　生薑　大棗</p>
<p>接案　寒在四肢，熱起額准至腹，此太陰三瘧也。經水來期不移，脾主營，前議和血托邪，服後瘧來熱多口渴，此太陰陽明兩病。</p>
<p>草果仁　知母　細桂枝尖　黃芩　生薑　烏梅肉</p>
<p>勞倦傷陽不復，新涼再受為瘧，質虛感邪，不可發散。</p>
<p>桂枝　生術　防己　茯苓皮　藿梗　廣皮</p>
<p>三年前失血，今秋途次暑濕熱傷成瘧，脘痞不飢，是邪結氣分。</p>
<p>飛滑石　白蔻仁　杏仁　厚朴　藿香梗　廣皮　木香</p>
<p>今年瘧痢，皆水土濕鬱之氣，傷及脾陽，不司轉旋，令人中痞不食，辛香理氣驅濕，蔬易安。（濕土司天。）</p>
<p>生草果　厚朴　桂枝　茯苓　藿梗　廣皮</p>
<p>瘧數月，三日一發，邪伏於陰，不忌葷酒，致脅腹有形，邪與氣血膠固，結為瘧母癥瘕。</p>
<p>鱉甲煎丸　每服三十丸</p>
<p>瘧傷陰氣。</p>
<p>復脈去參薑桂</p>
<p>瘧熱傷陰不復，乾咳汗出。</p>
<p>桑葉　玉竹　炒川貝母　大沙參　麥冬　生草　南花粉</p>
<p>少陰瘧誤治，延及太陰，腹有動氣，近暴冷寒熱甚。</p>
<p>淡附子　川桂枝　北細辛　炙甘草　生薑　南棗</p>
<p>寒自背起，熱不煩渴，不飢不思食，指臂麻木，脈來小弱。近受溫邪如瘧，其實陽氣久虛，當從本病調折。</p>
<p>川桂枝　茯苓　炙草　煨姜　南棗　生益智仁</p>
<p>背寒肩胛拘束，陽微瘧根。</p>
<p>人參　附子　桂枝木　炙甘草　生薑　南棗　生於術　生益智仁</p>
<p>接案　形寒拘束已止，身痛食少。</p>
<p>生黃耆　歸身　人參　南棗　淡附子　蒸冬朮　廣皮　炙甘草</p>
<p>又照前方去淡附子加穀芽煨姜。</p>
<p>熱後寒，寒後熱，此兩陽遇於一陰，如易之離象，中宮必虛，大忌散發攻食。間日而作，瘧勢未罷，仍該和解。</p>
<p>鮮荷梗　白蔻仁　黃芩　鬱金　烏梅肉　生白芍</p>
<p>夏秋所伏暑濕，至霜降節乃發，是新邪引動宿邪。初病頭痛汗出，寒熱勢猛，是新邪鋒芒易解。繼而勢似差緩，瘧來兩日，越一日再發，半月竟成三瘧，發於子午地支為太陰。蓋邪氣久伏，六淫客氣，皆從火化。然中年形體豐偉，已見脈弱神倦，外似有餘，里真不足。凡寒熱之邪，必由四末漸攻中焦，病來心中熱躁渴飲，胸悶不知飢知味，寒則肢背拘束，熱甚心腹最劇，由邪聚為重，邪分稍緩。此為里中之表，病在絡不能汗解下奪，惟辛香宣通，以氤氳氛瘴，原非質滯，阻清陽流行之隧，日加蒙痹，致正氣日疲。故深秋入冬，伏邪在陰發瘧，不與時瘧和解清熱同例。</p>
<p>方缺</p>
<p>寒熱過後，從太陰動瘧。</p>
<p>紫厚朴　茯苓皮　川桂枝　草果仁　大防己　天花粉</p>
<p>先有遺精陰虛，瘧邪墜入陰絡。是少陰瘧，非治瘧通套柴苓可效。</p>
<p>素有遺精，瘧來而遺止，陰中之陽，既因邪得深入留連。述寒熱起由足跗⿰⻊廉，陽維失護，少陰內怯，不得以表裡混治。</p>
<p>人參　歸身　炙草　鹿茸　桂木　生牡蠣</p>
<p>陰瘧上部先寒，年十三未出。是營衛疏，客邪留著，色黃脈小。</p>
<p>歸耆建中去餳糖。</p>
<p>久瘧營衛皆虛，血空氣疏，頭暈心悸，無以主張，先與甘緩益虛。</p>
<p>生黃耆　茯神　炙草　歸身　米仁　桂圓</p>
<p>瘧母遇勞而發，顯然陽傷絡窒。</p>
<p>阿魏丸</p>
<p>今年患瘧最多，皆因大地濕邪，濕傷陽氣不旋，肛墜痔血，小便不利，宜旋轉太陽之氣。</p>
<p>五苓散</p>
<p>瘧邪傷陰，陽升不藏，衄血夜汗。</p>
<p>六味去丹澤加五味女貞。</p>
<p>附方　補中益氣湯加首烏、薑棗。</p>
<p>又　首烏（一兩）　白朮（五錢）</p>
<p>又　生於術　龍骨　煨姜　桂枝木　牡蠣　南棗</p>
<p>濕瘧失治，瘡疥腹脹，形寒減食，都是脾胃受傷，勿強進腥濁厚味。</p>
<p>胃苓去甘草。</p>
<p>接案　昨服胃苓湯，糞後有血，小溲不利，久伏濕邪，三焦皆受，郁久成熱，用分消法。</p>
<p>茯苓皮　山茵陳　木防己　紫厚朴　槐花　細本通　海金沙　萆薢</p>
<p>此厥陰瘧症之最重者，煩躁吐蛔，脈弦數可徵，擬苦辛酸法。</p>
<p>川連　川椒　桂枝　乾薑　烏梅　白芍</p>
<p>瘧三日一發，是邪伏在陰經，經年雖止，正傷難復。仲景鱉甲煎丸，專以升降宣瘀治肝。謂寒熱不離少陽，久必入肝，肝主血，左脅為肝募俞也。故病固當如是，但久有遺精食少不化諸恙，病非一端。此攻邪溫補，未能卻病，莫若養正氣旺，邪自除。古有諸矣。</p>
<p>午服妙香散</p>
<p>三日瘧是邪伏陰分而發，非和解可效。久瘧不止，補劑必以升陽，引伏邪至陽分則愈，守補藥則非。</p>
<p>人參　鹿茸　當歸　茯苓　附子　鹿角霜　杞子　沙苑</p>
<p>熱病繼瘧，交冬自止，左脅已結瘧母，今食物難化，大便溏泄，神疲力倦。病由葷酒太早，致濕聚氣阻，治以疏補脾胃。</p>
<p>茵陳四苓加厚朴、益智仁。</p>

<h2>夏暑濕熱</h2>
<p>診脈緩軟澀，胃脘不爽欲噯，夜來腹脹，吐痰酸水，口鼻吸冷，損及中陽，暫用冷香飲子方，宜緩進參朮。</p>
<p>藿梗　草果仁　附子　廣皮　厚朴　茯苓</p>
<p>脈沉緩，目黃舌白，嘔惡脘腹悶脹。此冷暖不和，水穀之氣釀濕，太陰脾陽不運，周行氣遂為阻。法當辛香溫脾，宣氣逐濕，用冷香飲子。</p>
<p>草果　藿梗　半夏　茯苓皮　厚朴　廣皮　杏仁　茵陳</p>
<p>舌白黃不飢，筋骨甚軟，自暑濕內蒸，脾胃受傷，陽明胃脈不司分布流行，若不早治，必延瘧痢。</p>
<p>白蔻　杏仁　藿梗　木通　滑石　厚朴　廣皮　桔梗</p>
<p>春夏地氣上升，身處山麓，亦有瘴氣混於水土之中，飲食不覺，脾胃氣困，頻年長夏舌黃腹脹，便秘成瀉，皆濕阻清濁不分。兩年治效，多以分消，每交春深，山行蔬食，俾氣清流暢，則無是病。</p>
<p>生白朮　米仁　廣皮　苓皮　厚朴　生智仁　桔梗　金石斛汁法丸</p>
<p>又煎方　草果　廣皮　腹皮　豬苓　厚朴　苓皮　萊菔子　澤瀉</p>
<p>失藏人身應之，患此者最多。考古人溫病忌表散，誤投則劫津，逆傳心胞，最怕神昏譫妄。治法以辛甘涼潤為主，蓋傷寒入足經，溫邪入手經也。上潤則肺降，不致膹郁，胃熱下移，知飢渴解矣。</p>
<p>嫩竹葉　麥冬　桑葉　蔗漿　石膏（白糖拌炒）　生草　杏仁</p>
<p>冬溫伏邪，先厥後熱，深熱從里而發，汗出煩渴，當救胃汁。</p>
<p>竹葉心　麥冬　生穀芽　烏梅肉　生草　川石斛</p>
<p>風溫咳嗽，下焦陰虛，先以辛甘涼劑清上。</p>
<p>桑葉　大沙參　麥冬　玉竹　川貝　生草（糯米泡湯煎）</p>
<p>冬月溫邪內伏，入春寒熱咳嗽，身痛微汗乃解，與溫瘧同法。</p>
<p>桂枝白虎湯</p>
<p>咳嗽二年，形瘦谷減，冬季喉垂漸痛，可見水虧。陽氣不藏，春月氣日甚，皆陰乏上承，陽結於上，為喉痹矣。近日寒熱風溫客氣，脈小數為陰傷，忌用辛散。</p>
<p>桑葉　沙參　川貝　玉竹　麥冬　生草</p>
<p>風溫變熱，爍筋灼骨，足筋腫痛而熱，二便不通，夜躁不眠，邪已入厥陰，多驚駭面青，經水不應期而來，為腳氣之症。</p>
<p>漢防己　川黃柏　川萆薢　晚蠶沙　海金沙　川通草五錢煎湯代水　鮮生地　阿膠　五味　牡蠣　麥冬　白芍　女貞</p>
<p>脈數右實左弦，服養陰藥已得效，但未能愈耳。嘈雜恍惚，胸上動氣，苦寒清熱，用小柴胡湯治陽維之會。</p>
<p>桑葉（經霜）　赤丹皮　鮮生地　鮮桑葉　阿膠　女貞　生白芍　白丹皮</p>
<p>溫邪感觸，氣從口鼻，直走膜原中道，不同傷寒陽症，邪自太陽次第傳經。蓋春溫夏熱，鼻受氣則肺受病，口入之氣，竟由脘中，致以手經見症，不似傷寒足六經病也。仲景論溫不可發汗，汗則劫津傷陽，身必灼熱，一逆尚引日，再逆促命期。又云：鼻息鼾，語言難，劇則驚癇瘛瘲，無非重劫陰陽而然。今病發熱，原不是太陽客邪見症，所投羌防，辛溫表汗，此即為逆矣，上竅不納，下竅不便，亦屬常事，必以攻下希圖泄熱。殊不知強汗劫精而傷陽，妄下劫液而亡陰。頃診脈兩手如搐而戰，舌乾燥而無苔，嘴前干板目欲瞑，口欲開，周身斑紋隱躍，時有呃逆。因胃乏穀氣而中空，肝陽衝突上冒肆虐耳。為今迫正，先用糜粥，使胃中得濡，厥陽不致上冒，而神昏之累可已。進藥之理，甘溫可以生津除熱，即斑疹亦不必慮。觀仲景論中，邪少虛多，陰液陽津並涸者，復脈湯主之。今仿此意。</p>
<p>炙草　生地　阿膠　人參　麥冬　白芍</p>
<p>溫邪有升無降，經腑氣機交逆，營衛失其常度，為寒熱，胃津日耗，渴飲不飢，陽氣獨行，則頭痛面赤。是皆冬春驟暖，天地陰虛溫熱衛泄，營熱久延不已，最為棘手。擬從心營肺衛治之。</p>
<p>鮮生地　金銀花　桑葉　小麥　鬱金　犀角尖　淡黃芩</p>
<p>伏熱久郁，營衛失調，汗泄心嘈，皆是內蒸氣弱，肢足稍露，則臍下便痛，正劉氏謂亢則害、乘乃制之義。</p>
<p>鮮生地　犀角　青蒿梗　生石膏　地骨皮　知母</p>
<p>汗多氣泄，心包伏熱，五心焦煩，形體反惡外寒。投清寒之品，熱勢稍減，但熱蘊於裡。必得水升火降，方能陰陽和快。</p>
<p>犀角尖　浮小麥　鮮石菖蒲　鮮生地　元參心　硃砂染麥冬</p>
<p>客冬感寒，入春化溫寒熱，藥不中竅致令汗泄正虛。因循難愈，議進咸鎮一法。</p>
<p>桑葉　阿膠　茯神　生白芍　牡蠣　炙草</p>
<p>日久寒熱，正虛無以主持，頻頻汗泄，亟宜固陽攝陰。</p>
<p>生鱉甲　桑葉　阿膠　生耆皮　生白芍　枯芩　茯神　炙草</p>
<p>脈數，上出魚際一寸，心中熱，與背相控。</p>
<p>鮮生地　阿膠　麥冬　九孔石決明　生白芍　女貞子　五味　雞子黃</p>
<p>脈數上出魚際一寸，是謂溢脈，陰氣不能上承於陽也。寒熱汗出身半以上，是亦陽失陰守，非壽徵也。議攝陰救陽。</p>

<h2>春溫</h2>
<p>過飲酒熱上熾，肺衛心營受迫，旬日間有寒熱，痰飲阻氣，咳逆胸痞。乃內因致病，薄滋味以清肅氣分。</p>
<p>蘆根　枇杷葉　桑葉　米仁　浙苓（煎好加入生石膏末再煎）</p>
<p>溫邪蒸灼津液，釀為熱痰，胃口不得清肅，不飢不食，只宜甘涼生津，峻利不可再投。</p>
<p>麥冬　蔗漿　花粉（嘉定）　川貝　桑葉　大沙參</p>
<p>津涸風動，肢強口噤，溫邪內陷危篤，以甘緩生津熄風，望其出音。</p>
<p>炙草　麥冬　阿膠　火麻仁　細生地（蔗漿代水煎）</p>
<p>高年左癱，近加風溫寒熱，主客皆病，防其昏痙。</p>
<p>厚朴　廣皮　豆蔻　杏仁　木通　苓皮</p>
<p>溫邪入肺不解，遂逆傳膻中，煩熱昏躁，嗆出血沫，猶然氣喘不食。夫肺主氣，心主血，辨症分經，最為要旨。</p>
<p>淡竹葉　阿膠　桔黃芩　六一散</p>
<p>病邪已去，虛熱未除。</p>
<p>生地　玉竹　水梨　生草　麥冬　丹皮　花粉</p>
<p>熱邪久伏，風寒外侵，春溫氣機不藏，內蓄之邪復彰，咳嗽咽痛，兩足畏冷。擬辛涼輕劑，制其潛伏之邪熱。</p>
<p>桑葉　南沙參　鬱金　黑山梔　杏仁　菊花　桔梗　生草</p>
<p>牙齒常紫，膝蓋痠痛，上年秋季為甚，此濕邪阻於經絡，陽明之氣，不司束筋利機。議宣通脈絡之壅，使氣血和平。</p>
<p>金毛脊　白蒺藜　生白朮　油松節　生米仁　木防己</p>
<p>過飲晨瀉，中宮留濕，乾嘔腹痛。是脾不和，陽氣不主運行於四末，故四肢無力困頓矣。宜忌濕肉，使清陽轉旋，中宮得健。</p>
<p>草果　厚朴　藿香　廣皮　茯苓　半夏</p>
<p>新沐頭痛鼻塞，狀似風溫，次日寒戰大熱，脅肋痛不可轉側，自利稀水，乃濕聚於經脈，病在氣分，熱渴欲飲水。今目黃上視，手肢發痙，舌苔白齒板燥，胸中隱隱痛，皆邪深痙變凶。</p>
<p>木防己　桂枝木　大豆黃卷　茯皮　天花粉　菖蒲汁</p>
<p>用木防己湯，痙厥已緩，經脈鬱伏濕邪已解，胃汁大傷，痰嗽氣閃，與甘藥不傷胃氣。</p>
<p>甘蔗漿　南花粉　薏苡仁　炒黃川貝　麥冬</p>
<p>夏季水土之濕，口鼻受氣，著於脾胃，潮熱汗出稍涼，少頃又熱，病名濕溫。醫但知發散清熱消導，不知濕鬱不由汗解。舌白不飢，泄瀉。</p>
<p>滑石　白蔻仁　茯苓皮　豬苓　通草　厚朴　澤瀉</p>
<p>冷熱濕穢，雜感太陰經受邪。</p>
<p>草果　桂枝　茵陳　藿梗　厚朴　防己　茯皮　廣皮</p>
<p>濕鬱氣阻，疹發。</p>
<p>飛滑石　茯苓皮　射干　木防己　茵陳　檳榔摩汁</p>
<p>今年天運寒水，地氣濕土，春夏雨濕泛潮，鬱勃穢濁之氣，人在氣交之中，口鼻觸受，直走胃絡募原，分布上下。如此症初病頭脹，痞悶嘔惡，必舌白，病全在氣分，為里中之表，芳香逐穢，淡滲逐痰。此不為僅以陶氏全書方案競進，彼寒分六經，熱犯三焦，不同道也。且醫藥初用即瀉，暑必挾濕也。消之不降，清之不應，此濕邪乃是無形，醫治卻是有形。今診脈小澀，舌乾口渴，不能湯飲，胸次軟而澀，仍有嘔逆之狀，當溫脾陽以運濕，仍佐辛香，可望其效。</p>
<p>草果　桂枝木　茯苓皮　厚朴　廣皮　木防己</p>
<p>病本濕溫，元氣不能載邪外出，勢有直犯神京之狀矣。擬以梔豉上下分開之，薑棗左右升降之，芳香之草橫解之。</p>
<p>西豆豉　黃芩　鬱金　生香附　黑山梔　甘草　鮮菖蒲　生薑</p>
<p>舌赤頭痛，噁心脈大，溫邪入募原也。</p>
<p>白蔻仁　桔梗　枇杷葉　鮮醒蘭　瓜蔞皮　天花粉　木杏仁　枳殼</p>
<p>脈右大，舌黃不渴，嘔吐黏痰，神躁語言不清，身熱不除。此勞倦內傷，更感溫邪，須防變痙。</p>
<p>竹葉　六一散　厚朴　茯苓　白豆蔻　廣皮</p>
<p>暑濕鬱蒸。</p>
<p>滑石飛　竹葉　連翹　淡芩　桑皮　木通</p>
<p>暑風上郁陽分，晝日頭痛，鼻淵。</p>
<p>鮮荷葉汁　青菊葉　滑石　羚羊角　連翹　桑葉　銀花</p>
<p>暑風痰嗽，目黃，舌白已退，遇風肌熱。此肺病未和，薄味不致瘧。</p>
<p>六一散　川貝母　栝蔞根　地骨皮　桑葉　玉竹</p>
<p>形瘦陰虧，暑熱客氣未盡，氣分有熱，故不耐陰柔膩藥。</p>
<p>竹葉　川貝母　麥冬　知母　生甘草</p>
<p>雖是伏暑濕邪，平素陰虛，久積勞倦，病發先有夢遺，此柴芍膏連苦辛皆忌。</p>
<p>鮮生地　連翹心　竹葉心　細木通　六一散　金銀花</p>
<p>舌乾黃，經脈軟弱，脘中不爽，熱傷津液，陰不上承，清熱不應，以甘寒生津。</p>
<p>鮮生地　麥門冬　柏子仁　茯神　人參（冷沖）</p>
<p>伏暑熱燥氣分，津化痰，形瘦，嗽未止，不飢便溏。</p>
<p>米仁　蘆根　白蔻　浙苓　桔梗　枇杷葉</p>
<p>陰弱之質，暑風外襲，頭蒙口渴，以輕劑肅之。</p>
<p>鮮絲瓜葉　杏仁　連翹　大豆卷　川通草　桑皮</p>
<p>香茹飲泄越滲利，頗不宜於虛體，或有人參者，可以涼服暫用，藥當平和清暑，以雨濕已久，中宮易困耳。</p>
<p>木瓜　扁豆　人參　茯苓　甘草　醒頭草</p>
<p>形瘦液少，暑濕泄瀉初愈，又咽乾咳嗽，以暑挾濕，秋熱化燥，乃勝復之理。</p>
<p>玉竹　麥門冬　北沙參　生甘草　桑葉　南沙參</p>
<p>脈弱無力，心中洞，入夜神昏譫語，面目皆紅，煩渴微飲。是勞倦內傷，頻與苦辛消導滋陰，陽愈傷則浮越，有虛脫之慮。議用仲景救逆法。</p>
<p>生龍骨　炒黑蜀漆　生左牡蠣　炙甘草　川桂枝木　南棗肉</p>
<p>脈弦長，入尺而數，舌上沾苔，時或發熱，大便或溏，顯然素稟陰虛，復受暑濕。</p>
<p>草果仁　金石斛　紫厚朴　鱉甲　廣橘皮　淡竹葉</p>
<p>尊體本陰虛，陽氣並邪，獨發熱，兩旬余不解，無汗。蓋因枯液不作汗，邪亦不解也。連劑養陰之後，邪少鬆則汗大出，是雲行雨施，正品物咸亨之候，何疑其脫也。但弱體久病不解，元氣愈虧，此邪稍出，大汗作，亦屬接補關頭，不可少懈耳。心靜則氣定而神住，切不可憂擾神氣，致陽上升。</p>
<p>人參（四錢）　熟地黃（一兩）　制首烏（五錢）　抱木茯神（二錢）　生左牡蠣（六錢）　天門冬（三錢）</p>
<p>積勞傷陽，哀慼動臟，重重內損，夏秋伏邪，已深入重圍。此邪從陰經來，故三陰而施溫補扶正，正謂托邪。知母入咽即呃，不飢不食不寐，陽不流行，三焦困，脾腎憊矣。肛墜屬陰氣陷，難任純剛之劑。</p>
<p>人參　麋角　當歸身　煨生薑　草果仁　紫厚朴</p>
<p>熱甚，心煩躁渴，宜宣膻中熱氣，兼驅伏暑。</p>
<p>清心牛黃丸　辰砂益元散（三錢）　竹葉心（二錢）　煎湯送下。</p>
<p>脾胃氣困，鬱蒸為黃，痛乃陽不流行，久病不可純攻。</p>
<p>山茵陳　生益智仁　生白朮　茯苓皮　紫厚朴　廣橘皮　生香附摩汁</p>

<h2>痘疹幼科雜治</h2>
<p>稚年五疳，數年不愈，脾胃愈損，必肝木來乘，已有驚恐筋牽，皆欲成五癇矣。其腹中衝逆為痛，即木剋土之象。用錢氏史君子丸，未有大效。用制肝實脾疏腑方。</p>
<p>川楝子　厚朴　胡黃連　史君子　黑糖油　生白朮</p>
<p>稚年純陽體質，瘧痢是夏秋暑濕熱病，閱述幾年調理，都以溫補得效。但幼科必推錢仲陽方法，幼稚致傷，全在脾胃，脾陽少運，濕聚泄利，溫暖脾陽，運行去濕，亦屬至理。若骨脂附子溫腎，稚年恐未宜久進。今年太陽寒水司天，太陰濕土在泉，雨濕太過，陽氣最傷，大忌苦寒，暫服方。</p>
<p>錢氏益黃散</p>
<p>附方　乾蟾　川連　白朮　茯苓　青皮　雞內金　人參鬚　薏米仁　神麯　澤瀉　煉蜜丸炒米湯下</p>
<p>附驚風方　全蠍　殭蠶　天麻　川黃連　生甘草　膽星　犀牛黃　麝香　金箔為衣</p>

<h1>卷四</h1>

<h2>遺精淋濁尿血</h2>
<p>交白露暑去涼來，陽降多遺，仍悸恐畏怯，用交心腎固攝。</p>
<p>人參　龍齒　歸身　芡實粉　遠志　柏仁　湖蓮　茯神　熟地　五味子　金櫻膏丸</p>
<p>苦寒直降，陰走泄為遺，陽浮越為頭痛咳嗽，以攝固二氣主之。</p>
<p>熟地　遠志　龍骨　茯苓　芡實　牡蠣</p>
<p>瘧熱傷陰，數年春秋內熱，仍安寢能食。想辦事勤勞，陽氣易於升動，此陽降為遺泄。</p>
<p>虎潛丸</p>
<p>精濁四年，據述途中煩勞驚恐而得，頭面眩暈，肌肉麻痹，遇房事必汗泄，顧體反壯。此陽微失護，精關不固，溫腎寧心，冀漸交合，久恙未能速效。</p>
<p>韭子　龍骨　覆盆子　五味子　菖蒲　柏子仁　補骨脂　胡桃　金櫻膏丸</p>
<p>陰泄為遺，下焦諸脈既空，不主拘束，其陽浮上灼，自有首痰咳嗽。此治肺無益，必填實下元可愈。所慮少年精志未堅，失於保養，有勞屢內損。</p>
<p>熟地　山藥　芡實　龍骨　龜板　山茱萸　茯苓　五味子　遠志　金櫻膏丸</p>
<p>五液下泄，陽氣上越壯盛，眩暈頭重，痿弱不耐步趨，正《內經》謂下虛上實，為厥巔疾也。填精益腎，未常不是。但醫藥未分動靜，氣味未專耳。法當潛其陽，益其陰，質重味厚，滑澀導引，確守勿懈，可冀其固。</p>
<p>鮮鹿尾（一具，切片隔紙烘脆）　牛骨髓　羊骨髓（俱隔水熬去滓）　豬脊髓（去膜蒸）　生白龍骨　生白左牡蠣　元武版　生鱉甲　五味子　茯苓　山茱萸　湘蓮　山藥　芡實　方解青鹽　以髓丸飢時服</p>
<p>前用潛陽填精方，眩厥不至，而吸短遺精弱如昔，形精血未能生旺。今當長夏氣泄，易觸穢熱，最宜林泉寂靜，秋分後稍可應接。</p>
<p>前方去龜鱉加人參、咸秋石</p>
<p>淋變為濁，凡有餘志為濕熱，不足者屬精敗而腐，見症屬虛，治以溫養通補。</p>
<p>鮮河車　枸杞子　沙苑蒺藜　淡蓯蓉　熟地　茯苓　歸身（小茴香拌炒）</p>
<p>遺精溺濁，用填陰固澀之劑，小溲不通，背部腰膂，氣掣攻觸，乃濕熱內郁，太陽之氣不行，仿《金匱》渴者用豬苓湯。今夏瘧疾，皆時令穢濕之邪，瘧後食物不慎，濕留生熱下注，遂患淋瀝莖痛便難。閱醫取苦勝濕，寒勝熱，甚是近理。但加地黃汁膩濁滋血，與通利未合。</p>
<p>海金砂　茯苓皮　山茵陳　晚蠶沙　菖蒲　黃柏　萆薢</p>
<p>精濁已久，肝血腎液皆損，心熱精自出，先傷陰也。</p>
<p>二仙加熟地、茯苓、五味、龍骨、遠志、覆盆子。</p>
<p>破傷淋瀝，點滴不能寧忍，用通利則遺精，腎氣仍無效，跌撲必屬驚恐，以致逆亂。以東垣天真丹緩治，以轉旋氣血之痹。七旬年歲，下元已衰，淋閉久不肯愈。春正天寒，食減無味，下病傳中，治法非易。《靈樞》謂中氣不足，溲便為衰。苟得知味知谷然後議病。</p>
<p>大半夏湯。</p>
<p>下虛淋悶，柔劑溫通。</p>
<p>杞子　淡蓯蓉　鹿角霜　沙苑蒺藜　巴戟</p>
<p>色奪脈虛，夏秋日加煩倦，此非客痛。據說左脅中動氣，因遺精驚恐而得，乃下損精血。仿氣因精而傷，當補精以化氣。</p>
<p>紫石英　杞子　制首烏　茯神　柏子仁　歸身</p>
<p>濁病乃濕熱下注，久而失治，變為精濁，不易速愈。先用丹法補陰丸一月，再議。</p>
<p>大補陰丸鹽湯送下。</p>
<p>無夢精遺，腰髀痠軟，入暮內熱，五更盜汗，交節前後，體質更乏。顯然真陰大虧，陽無依附，浮動不已，虛怯內傷。若不養陰，服藥不效。</p>
<p>人參　五味　阿膠　天冬　蓮肉　熟地　茯神　柏子仁　芡實　金櫻膏丸</p>
<p>尿血即血淋，熱遺小腸膀胱為多。今四肢不溫，膝酸足軟，天暖猶欲火烘，脈緩小弱。此係八脈不攝，以壯衝任督脈，佐以涼肝，乃復方之劑。</p>
<p>鹿茸　鹿角霜　炒黑杞子　歸身　生地　天冬</p>
<p>體偉肌豐，脈得緩小，凡陽氣發泄，行似有餘，裡實不足，水穀之氣，不得暢遂，釀濕下注為濁。已經三四年，不效氣墜，直升陽為法，非比少壯陰火自灼之病。</p>
<p>菟絲子　車前子　蛇床子　大蘹香　韭子　茯苓　覆盆子　蒺藜子</p>
<p>遺精傷腎，氣不收納，臥倒氣衝上膈，䐜脹呼吸不通，竟夕危坐，足跗浮腫而冷，小便漸少，無非根底，無以把握，難治之症。</p>
<p>腎氣丸去牛膝、肉桂。</p>
<p>遺精三年不愈，寐則陽入於陰，溺必自出不禁，寤則欲溺大便遺，攝固下元不應，諒非升陽主治。以酸味柔和，制其陽氣直升直降，是為的法。</p>
<p>山茱萸　山藥　金櫻子　五味子　湘蓮　芡實</p>
<p>診脈右數，左小數入尺，淋濁不止，繼患目疾，是精血暗損，肝腎之症。凡操持用心，五志之火自亢，是情志突起，非客氣六淫之邪，並不許以辛散清火為治。</p>
<p>熟地　枸子　茯神　夏枯草　柏子仁　甘菊　遠志　香附</p>
<p>脈左弱下虛入尺，有夢久遺，足軟如痿，行動氣促似喘。此督任交虧，衝陽升舉，務以填塞精竅，不及傍治。</p>
<p>方解青鹽　炒黑遠志　小茴香　抱木茯神　湘蓮　紫衣胡桃</p>
<p>膏淋四年，夏秋但淋，入冬先兩脅痛，左右橫梗，必嘔吐，痛時溺清，痛緩隨淋。甲寅年四月，用海金沙、茵陳、萆薢，分利濕熱，夏季頗安，入冬仍發，食物不消，味厚病甚，久蘊濕氣，膠固陽明脹絡，當天涼氣收，飲邪阻氣窒滯。發久病深，通劑必用緩法，攻逐用兩通氣血，佐以辛香入絡。</p>
<p>薑汁炒厚朴　白芥子　韭白汁浸大黃　茯苓　桂木　土炙穿山甲　製半夏　麝香　水法丸</p>

<h2>氣鬱發黃</h2>
<p>飲食不司運納，人皆知脾胃不和。但夏季之濕鬱，必傷太陰脾，濕甚生熱，熱必窒於陽明胃脈。全以宣通氣分，使氣通濕走熱清，四末微腫，黃未盡除，陽明之脈，尚少流利機關也，宜忌厚味腥濁可愈。</p>
<p>生於術　陳皮　薏仁　刺蒺藜　茯苓　淡乾薑　萆薢　桔梗　水法丸</p>
<p>此長夏受病，濕著太陰，熱在陽明，不忌食物，最有發黃疸脹之累。必須蔬食，使清濁轉運，謂因病致傷，病去自復。</p>
<p>桑白皮　茯苓皮　大腹皮　陳皮　茵陳　木通　厚朴　萊菔子</p>
<p>久痢休息，脾胃皆弱，今夏濕勝，臂痛右瘓，濕鬱阻遏經脈流行之氣，主以溫脾辛香，為里中之表。治已得痛緩臂伸，當減薑黃蒺藜之走經絡矣。</p>
<p>生白朮　生智仁　厚朴　草果　茯苓　陳皮</p>
<p>感長夏濕熱，太陰陽明不司旋運，唇黑肌黃，疸之象。近痔發便難，熱注於腸為濕結，宣腑經以清之泄之。</p>
<p>茵陳　黃柏　厚朴　蠶沙　茯苓皮　炒塊花　廣皮　萆薢</p>
<p>夏病黃疸，是濕熱中焦脾胃之病。病小愈能食，究未得水穀之精華，目微黃，肌腠脹耳鳴，猶是氣分未為流暢。蓋熱傷氣，濕阻氣也。能慎口腹，經月天降可愈。</p>
<p>生益智仁　白朮　茯苓　廣皮　紫厚朴　澤瀉　生砂仁　苦參　上各碾細末，金石斛湯泛為丸。</p>

<h2>痿痹</h2>
<p>寒濕著關節，痰飲阻氣分，咳而痹痛。</p>
<p>川桂枝　茯苓　熟附子　熟半夏　木防己　北細辛</p>
<p>風毒三載，侵蝕血液，年才半百，已陽事不舉，脛骨不勝步趨，可稱沉痼之症。外治無功，當以柔溫之劑，益精髓，壯筋骨，不得痿軟為上。</p>
<p>虎脛骨　枸杞子　甘菊花　牛膝　肉蓯蓉　川石斛</p>
<p>脈緩軟，四肢牽強，環跳髀尻牽引，壯年有此病，起四月中，乃時濕邪入於經絡，為痿痹之症。</p>
<p>木防己　生白朮　羌活　防風　桂枝木　獨活　生黃耆　川萆薢　後去羌活加片薑黃　當歸身</p>
<p>內損痿痹，起於幼年，非三因之邪。此攻逐通經，及傷寒偏熱，愈治愈劇。蓋精氣暗消，蹺維不為己用，溫柔固補，必須宣通。是靜中有動，血肉形氣，如藏器可久，皆若此。</p>
<p>雄羊肉腎　鹿茸　金櫻粉　虎骨膠　砂仁研末　當歸身　小茴香　杜芡實　桑椹膏</p>
<p>脈小足冷，四肢發疹，骨骱腫痛，風濕已入經絡成痹，形脈皆虛，護衛以攻邪。</p>
<p>防風　生黃耆　片薑黃　羌活　當歸　獨活　海桐皮</p>
<p>風寒久必入脈絡，外衛陽失護，已現右肢麻木，雖鼻淵腦寒，不可發散。議和血脈，以逐留邪。</p>
<p>黃耆　歸身　防風根　川桂枝　木防己</p>
<p>明天麻熬膏</p>
<p>風為陽，濕為陰，二氣相傳，窒於肌腠之裡，著於關節，周行不利為痛。得三焦氣行，濕無沉著，氣通病解。</p>
<p>飛滑石　紫厚朴　白蔻仁　茯苓皮　通草　杏仁　木防己　大豆黃卷</p>

<h2>癰瘍痔漏</h2>
<p>肝虛痰癧，結在項下。</p>
<p>海石　香附　連翹　夏枯草　土貝母　天花粉　青黛　金銀花</p>
<p>行走吸熱，熱自上受，肺熱下移大腸，陰虛之質，陽墜成瘍有諸。清養金水以治其源，務在寂靜，莫專於藥功。</p>
<p>麥冬　金銀花　黑豆皮　甜北沙參　川石斛</p>
<p>痔血糞前後皆有，用力齒齦縫血，足冷及膝，大便燥艱。此屬五液損傷，絡虛所致。</p>
<p>炒焦當歸　炒黑枸杞子　炒鬆熟地黃　五味子　淡蓯蓉</p>
<p>知識之年，情欲易動，陰火直升直降，瘍久成漏，乃內連臟腑之絡，脂液滲泄，不得收合。此外治無益，姑停課誦之擾動，神氣閒坐嬉悅以調之。納食肌肉，可得久恃。</p>
<p>人參　當歸　沙苑蒺藜　大麋茸　枸杞</p>
<p>生仲</p>

<h2>疝</h2>
<p>知飢不欲，食則䐜脹，小腹痠痛，乃肝胃兩經病耳。</p>
<p>炒黑杞子　小茴香　廣皮　厚朴　炒當歸　沙苑蒺藜　益智仁　茯苓</p>
<p>脈形已小，痛移左右，由陽明虛，厥陰來侮，重按痛緩。</p>
<p>人參　生川椒　茯苓　細辛　舶茴香　附子</p>
<p>少腹急痛，脅中有形，因怒勞動肝，致氣血凝結。久恙不宜峻攻，緩圖有益。</p>
<p>川楝子　桃仁　炒查　橘核　青皮　小茴香　五靈脂　青木香</p>
<p>當臍堅硬，上下氣不相通，此濁陰聚。阿魏溫潤，泄穢通陽，故腸中濁氣頻出，但結於足太陰經。</p>
<p>炒黑川椒　茯苓　生淡乾薑　蔥白　炮黑附子　葫蘆巴</p>
<p>閱病原是肝腎虛，結為㿗疝，但子和七疝主方，半屬辛香開泄。既有盜汗遺精失血咳嗽等症，辛香非宜，變溫柔通補法。</p>
<p>蒺藜　補骨脂　紫胡桃　魚膠　青鹽　茯神　柏子霜　雄羊肉腎煮丸</p>
<p>濕熱入肝，而為㿗疝。</p>
<p>桂枝木　川萆薢　晚蠶沙　茯苓皮　川黃柏　海金沙　青黛</p>
<p>脈沉遲，疝沖瘕聚，收引拘束痛甚。是陽微陰濁痹阻，議以剛藥。</p>
<p>三建湯</p>
<p>脈沉伏，逆痛不止，厥陰挾沖氣為患。</p>
<p>製附子　淡茱萸　炙甘草　蔥白　炒白芍</p>
<p>久疝堅硬上攻，周身冰冷，顯然一團濁陰上干，冷汗如油，須防陽脫。子和辛香破氣難用，與驅濁救陽一法。</p>
<p>炮附子　炒川烏　生乾薑　吳茱萸　雄豬膽（一枚衝入）</p>
<p>接服　橘核　川楝子　炒川椒　炮黑川烏　炮黑附子　青木香　炒黑舶茴香</p>
<p>右脅下痛入少腹，陰囊腫大，便利覺熱，小溲不爽，動怒肝膽氣鬱，腸胃穀氣聚濕，濕阻氣脹，欲結疝瘕，故痛。</p>
<p>川楝子　小茴香　茯苓皮　青皮　橘核　青木香　大腹皮　炒延胡索</p>
<p>又照原方去延胡加　厚朴　山梔　茵陳</p>
<p>又用更衣丸</p>
<p>七疝肝病為多，子和辛香流氣，丹溪分利濕熱，皆治其有餘偏勝。今七旬老年，下焦陽已衰微，濁陰聚而為脹。據說安臥自息，已非實症。暖腎真，少佐泄肝，是通陽驅濁方法。</p>
<p>人參　熟附子　舶茴香　茯苓　金鈴子　川椒</p>
<p>色悴脈芤，下焦疝瘕，是衝任病，乃肝腎精血不足致損耳。</p>
<p>精羊肉熬膏　茯苓　淡蓯蓉　真沙苑蒺藜子　炒黑枸杞子　當歸　小茴香　膠丸散</p>
<p>濁陰聚則為脹，疝墜則大便秘，便通則腹形脹大，腎肝之病，治宜宣通陽氣。</p>
<p>安息香　炮生川烏頭　炮黑川椒　淡乾薑　舶茴香　炮生黑川附　蒸餅漿，搗和為丸。</p>
<p>少腹疝瘕，沖年不曉因由，起於夏月，漸加腹脹。夏季脾胃司令，水穀未運，或當怫鬱，致肝木鬱勃，熱蒸氣結，犯克中土，使濕熱凝聚為脹，雖非情欲致病，已屬內傷。延綿一載未痊，非速愈之病矣。</p>
<p>川楝子　炒黑小茴香　青木香　蘆薈　炒橘核　黑山梔　炒黑山查肉　青皮</p>
<p>肝疝症也。</p>
<p>淡吳茱萸　川楝子　橘核　乾薑　肉桂　炒白芍　青木香　荔枝核　炒烏梅　後加七疝丸</p>
<p>地氣混矣，擬以前方去白芍、青木香，加入</p>
<p>牛膝　澤瀉　葫蘆巴　小茴香　橘核　荔枝核</p>
<p>脈微澀左弦，跗⿰⻊廉麻冷，走動無力，少腹微滿，睪丸日腫。察神呆色衰，畏風怕寒，陽虛疝瘕，難愈之疾。</p>
<p>人參　炒黑枸杞子　茯苓　茴香　熟附子　當歸　川椒</p>

<h2>經產淋帶女科雜治</h2>
<p>陽維失護，自覺背脊烘熱，汗則大泄出不止，汗遇則周身冰冷畏寒，且不成寐，寐則氣衝心跳，汗亦自止。以陰不內守，陽不外護主治。</p>
<p>桂枝木　鹿茸　當歸身　白芍　人參　柏子仁　左牡蠣　茯神</p>
<p>經云：陽維為病苦寒熱，陰維為病苦心痛。蓋維脈乃一身之綱維，陽司外護，陰主內營。若家庭夫婦，管轄內外事宜也。緣二氣日衰，營護不周。凡勞倦寒暄，皆乘其空隙為害，為寒為熱，陰陽矛盾所致。是八脈奇經之病，溫補不能入脈，不效亦無害。若以濕淫客氣搜逐，其害大矣。</p>
<p>桂枝本　人參　生鹿茸　鹿角霜　柏子仁　當歸身　茯神</p>
<p>多言耗氣，勞倦傷形，吸氣不利，痛起足跟，繼貫脅肋奇經，雖非一肝腎所該，為多不入奇經之方不效也。</p>
<p>當歸　枸杞子　紫石英　生精羊肉　沙苑蒺藜</p>
<p>沖衛為病，氣逆而裡急。</p>
<p>青皮　金鈴肉　淡吳茱萸　橘核　元胡　烏梅　沉香　代赭石</p>
<p>帶脈橫圍於腰，維脈挾內外踝而行，勞傷受寒，脈絡欹斜，不司擁護，而為瘕疝，麻木不仁，非小病也。久而痿痹，廢棄淹淹。</p>
<p>當歸身　生於潛術　淡蓯蓉　肉桂　鹿角霜　後改桂薑朮苓湯。</p>
<p>產後下焦陰虧，焦煩思慮，陽升內風皆動，上盛下衰，久延為厥。</p>
<p>石決明　小生地　茯神　龜板　阿膠　天冬　白芍</p>
<p>麻木，便後淋漓帶下，兩足冷逆，脊髀如墜，衝任不固，肝腎胃關皆欹，溫納其下。</p>
<p>桑螵蛸　淡蓯蓉　生杜仲　鹿角霜　巴戟天　炒杞子　沙苑蒺藜　茯苓　鮑魚（四兩）</p>
<p>煎汁泛為丸　每早服三錢，紅棗湯送下。</p>
<p>懷孕子淋，多熱在下焦，產即當愈，仍心熱嘈，腰痠骨軟。是虧生熱，主乎養肝陰矣。</p>
<p>穭豆皮　生地　續繼　茯神　湖蓮肉　阿膠　天門冬</p>
<p>產後十年，晨泄形寒汗出，是下元陰傷及陽，奇脈不固，遵古人用</p>
<p>局方四神丸</p>
<p>少腹微膨，經來後期多痛，秋冬膝跗冰冷，沖氣致左脅攻觸，脘中脹悶，痛不能食。此屬氣血鬱痹，絡脈不和，雖無性命之危，然恐有不得孕育之累矣。</p>
<p>炒延胡　炒小茴香　川楝子肉　穿山甲　當歸尾　生牡蠣　炒灶盡五靈脂　生蒲黃　接服後藥</p>
<p>前方專方溫通氣血，痛果得緩，瘕氣亦不上攻觸，今復形寒食不化。與養營方，兼暖衝任，為孕育之基。</p>
<p>人參　紫石英　艾粉　四制香附　淡蓯蓉　肉桂　歸身　巴戟天　各碾細末，以白花益母草膏為丸。</p>
<p>懷妊五月，晝夜身熱，據述病起惡阻嘔吐，吐止熱來。思五月足太陰司胎，木火犯中，營衛自怯，必致胎不育長。滋養血液，佐以清肝膽氣中之熱。</p>
<p>小生地　白芍　麥冬　阿膠　條芩　胡黃連</p>
<p>天癸當絕，今屢次崩漏，乃衝任脈衰，久漏成帶，延綿之病，且固其下。</p>
<p>烏賊骨　小生地　鮑魚　茜草　阿膠　續斷</p>
<p>胎前瘧熱傷陰，產後下焦之陰更損，衝任脈不下固，氣衝咳逆嘔，午後潮熱，子後汗泄，皆陰虛損及陽位。夏令大熱發泄，絡空脅痛失血，雖頗納穀，大便溏泄，蓐勞下損，漸干中上，故延綿不愈不疴，醫藥無效。</p>
<p>炒熟地　芡實　湖蓮　五味子　茯神　烏鰂魚骨</p>
<p>先病懷孕，到七八月胎吸母氣，諸臟腑經絡先衰，自救不暇，至寢食廢，嘔脹不納，日加衰憊，臨產可危，無治病成法。</p>
<p>人參　石蓮肉　川黃連　草決明</p>
<p>少年懷妊惡阻，誤藥殞胎，十餘年後不孕育，每經來周身經絡暨痛，少腹瘕觸寒熱皆至，乃八脈交損。八脈之治，非轉展不效。</p>
<p>紫河車　歸身　阿膠　紫石英　小茴香　蘄艾　茯苓　鹿角霜　枯黃芩　益母草膏丸</p>
<p>質偏於熱，陰液易虧，女人肝為先天，月事雖准，而里少乏儲蓄，無以交會衝脈，此從不孕育之因由也。凡生氣陰血，皆根於陽，陽浮為熱，陰弱不主戀陽，脊背常痛，當從督任二脈治。</p>
<p>鹿胎　當歸　桂圓肉　桑螵蛸　元武版　茯苓　枸杞子　細子芩</p>
<p>泄瀉減食，經水不來，而寒熱咳嗽，日無間斷，據說嗔怒病起，其象已是勞怯，郁勞經閉，最不易治。</p>
<p>人參　蒸冬朮　廣皮　茯苓　炙甘草　白芍</p>
<p>形冷驚伯，旬日經淋漏注，心怔悸若懸施，自七八年產後致病。夫肝主驚，腎主恐。產病先虛在下，奇經不為固束，急急溫補固攝，仍佐通藥，其力可到八脈。</p>
<p>紫石英　茯苓　人參　烏鰂骨　鹿茸　炒枸杞子　沙苑蒺藜</p>
<p>悒鬱內損經阻，筋骨皆痛，損傷不復，即起勞怯，溫養流通，望其鬱痹氣血和融。若但清熱見血理嗽，百無一治。</p>
<p>當歸　生杜仲　桑寄生　炒枸杞子　生鹿角</p>
<p>遇勞氣泄胎墜，胎去下焦先空，足冷腰脊皆痛，陰陽兩損。但以溫養補之，懷孕即止。</p>
<p>歸身　肉桂　白芍　茯神　人參　沙苑　蒺藜　枸杞子　雄羊內腎</p>
<p>產後失調，蓐勞下損，必映奇經，心腹痛寒熱，脊到腰痿，形肌消爍殆盡，若縷縷而治，即是夯極。凡痛宜通補，而宣通能入奇經。（患者年廿四歲。）</p>
<p>沙苑蒺藜　炒黑小茴香　人參　糜茸　當歸身　炒黑杞子</p>
<p>又方　人參（三錢）　熟地（五錢）　紫石英（一兩）　肉桂心（七分）　後加枸杞（三錢）</p>
<p>自產後五日，惡露漸少，遂卒然右脅下痛引少腹，手不可按，身體不能轉側。此乃臥著於右太早，致敗血橫行入絡，痛甚神迷昏亂，皆瘀腐濁氣，上冒胞絡矣。此屬產後重病，夫通則不痛，議宣通脈絡之壅。</p>
<p>黑豆皮　西琥珀末　生蒲黃　乳香　蘇木　益母草　五靈脂</p>
<p>黑珀失笑合方，惡露已下些少，而痛勢不減。此乃病重藥輕，瘀濁錮結，必有脹滿浮腫喘急之變。議用回生丹熱童便化服。</p>
<p>回生丹一丸</p>
<p>蓄血有如狂喜忘症象，今絡中瘀聚，還注於衝脈，所以右胠痛緩，而少腹痛脹，大便黏膩白滑，亦瘀濁之化，但必前通溺濁，不致凶危，即痃痞癥瘕，猶可緩商調治矣。</p>
<p>大黑豆皮　杜牛膝　炒煙盡五靈脂　熱童便　西琥珀末　炒查肉　老韭白</p>
<p>絡通痛減，病已挽回，但少腹余氛，瘀留衝脈，不必以宿佝僂為重，只宜溺通瘀下，斯為得矣，用交加虎杖合方，加炒靈脂。</p>
<p>鮮生地（姜同搗汁和服）　大黑豆皮　琥珀末　川楝子　炒小茴香　白花益母膏丸</p>
<p>接服　當歸　沙苑蒺藜　桂圓肉　炒小茴香　炒杞子　炒桃仁</p>
<p>丸方　生鱉甲（八錢，用酒醋熬成膏）　當歸（三兩）　炒查肉（二兩）</p>
<p>炒黑小茴香（一兩）　酒炒香附（一兩）　炒桃仁（三兩）　膏丸每服三錢</p>
<p>五旬因怒暴崩，繼而氣衝脘悶嘔吐。此陰既走泄，陽升鬱冒，最多暴厥。</p>
<p>烏雞（一隻，炙）　阿膠　湖蓮　生地　茯神　天門冬　女貞子　川石斛　麥冬　甜北參　膠丸服</p>
<p>經遲，既通兩日驟止，新婚未及半月，溲溺痛，腹中有形，恐延淋帶，當通陽宣濁。</p>
<p>老韭白　兩頭尖　炒黑小茴香　杜牛膝　當歸鬚　益母草</p>
<p>自雍正八年八月間生產，血暈成疾，當七八朝後，減食斷乳，發渴噁心便難，至今經水不通，飲食減少，每交節候，常覺倦憊，或稍勞碌，及偶著寒，即手面浮腫，喉痛面赤腰痠。服溫補之劑，稍得效驗。兼有帶症，容易惱怒。今年飲食略好，小腹膨痛，便燥有血，或便溏不爽。</p>
<p>紫石英　烏鰂骨　人參　當歸身　卷柏　桑寄生　川石斛　淡蓯蓉　天冬　柏子霜　桂心　禹餘糧　枯黃芩　遠志肉　川椒　蜜丸服</p>
<p>三月小產，宜涼營固下。</p>
<p>雄烏雞（一隻，青蒿汁熬膏）　生地黃　阿膠　天冬　知母　白芍　子芩　建蓮　桑寄生</p>
<p>悲泣過甚失音，經言憂則傷肺，及讀病原向來左脅有形，春令陡發沖氣，神迷氣急若厥。更問經來先期三日，月月如此。夫左脅屬肝，肝為風臟，內寄相火。凡人身之氣，左升在肝，右降在肺，升太過必降不及，為木火反戕柔金。醫經逆乘謂賊邪，最難向安。情志之恙，皆曰內傷，怡悅調養，可望漸和，非朝夕改之藥圖僥倖者耳。</p>
<p>甜北沙參　麥冬肉　清阿膠　鮮生地　鱉甲（刮光醋炙）　生左牡蠣　丹參肉　鮮生地　天冬肉　茯神</p>
<p>胎前咳嗽，產後更加失血，脈來左數，咳甚嘔吐，是下虛氣逆，衝任內損。醫屢投肺藥，必致延為蓐勞，斷乳調理為上。</p>
<p>都氣丸（四錢）　淡鹽湯送下　十服</p>
<p>火升心悸，耳鳴少寐，月經遲。患者時年二十八歲。</p>
<p>生地　阿膠　茯神　女貞子　柏子仁　天門冬</p>
<p>小產後去血過多，陰絡空隙，氣乘為脹，兩年食減，腹現青筋，已屬錮疾。</p>
<p>腎氣丸</p>
<p>奇脈空虛，腹中瘕痛，溫補佐以宣通，其力可以入八脈。</p>
<p>鹿茸　白制鹿角霜　生紫石英　禹餘糧　大茴香　歸身　炒黑枸杞子　生杜仲粉　同州蒺藜　補骨脂</p>
<p>用滾水入鹽水許研開，蒸餅為丸，丸須細堅，空心開水下。</p>
<p>因勞胎損一月。</p>
<p>人參　當歸身　茯神　白芍　棗仁　桂心</p>
<p>膏方　人參　當歸身　沙苑蒺藜　鹿角霜　桂圓肉　茯苓　淡蓯蓉　枸杞子　熬膏服</p>
<p>安胎。</p>
<p>人參　生杜仲　蘇梗　茯苓　砂仁末　川續斷　廣皮　建蓮肉</p>
<p>丸方　烏骨雞　鹿膠　女貞子　生地黃　茯苓　烏鰂骨　旱蓮草　枸杞子　湖蓮肉　膠丸服</p>
<p>妊交三月。</p>
<p>蘇梗　炒白芍　茯苓　砂仁末　生穀芽　廣皮</p>
<p>丸方　生地黃　天門冬　制首烏　川石斛　桑葉　阿膠　胡麻　女貞子　茯神　蜜丸服</p>
<p>產後潮。</p>
<p>山查　黑豆皮　益母草　炒砂糖</p>
<p>又方　細生地　澤蘭　黑豆皮　丹參　茯苓　炒山查</p>
<p>又方　柏子仁　茯神　細生地　麻仁　丹參</p>
<p>丸方　人參　桑螵蛸　川續斷　毛鹿角</p>
<p>炒小茴香　土炒歸身　茯神　砂仁　醋炒　元胡　青皮　益母膏法丸</p>
<p>熱勞。丸方</p>
<p>生地　胡黃連　川斷　白芍　阿膠　丹參　茯神　湖蓮肉　女貞子　烏骨雞膏為丸</p>
<p>腰痛。附方</p>
<p>人參　杜仲　熟地　歸身　麋角膠　胡桃　杞子</p>
<p>三旬有崩漏　形體日加充壯，此皆發泄，外盛內虛，如背部周身肌腠之中熱烘，肢體皆為動搖，陰液內乏，陽氣旋鼓。《病能篇》云：諸風掉眩，皆屬肝木。風木不寧，陽明脈空，暴中暴厥，皆由此而起。</p>
<p>細生地　柏子仁　麥冬　阿膠　生白芍　茯神　冬桑葉　北沙參</p>
<p>此氣血不和，脈絡不通為脹，用大針砂丸脹減。其經水仍阻左脅，宿瘕久聚，此病根未去。</p>
<p>炒熟桃仁　生牡蠣　炒黑小茴香　炒延胡索　粗桂木　生香附</p>
<p>經遲，心腹痛泄瀉。十五歲。</p>
<p>四制香附　川芎　延胡索　當歸身　南棗肉　煨木香　紅棗肉丸</p>
<p>腰脅刺痛，虛里尤甚，頭暈跗腫，形寒臨經諸病皆集。此病久八脈損傷，調經和養氣血，不得見病治病。</p>
<p>川芎　沙苑蒺藜　桂心　鹿角霜　小茴香　茯苓　炒枸杞子　歸身　益母草膏為丸</p>
<p>寡居獨陰無陽，下焦常冷，瘕泄帶下，腰髀入夜痛甚，自覺腸腑䐜脹，而胸次似高突，腹形未見膨滿。凡諸腑皆陽，陽微必陰濁來聚。初夏曾定溫通奇經法原效，夏秋時邪暑濕，客病貽延，痛復如昔，立冬後十日診議。</p>
<p>人參　川椒　小茴香　鹿茸　補骨脂　茯苓　歸身　熟附子　葫蘆巴　蒸餅煮糊為丸</p>
<p>帶下眩暈，心嘈熱，背惡寒，經來漸遲，屬陰虛奇經損傷。三十五歲。</p>
<p>細生地　茯神　續斷　牡蠣　阿膠　生仲　柏子仁　湖蓮肉</p>
<p>思慮憂愁謂之郁，氣血暗傷，肌肉日瘦，不食不寐，心中時覺昏憒。是皆內因之症，釀痰為癇，枯槁成損，必得情懷開曠，斯鬱結可開。目下用藥，因夏秋失血以來，倏冷忽熱，脘悶胸痛，自天柱挾脊至腰，痠軟如折，不但營衛偏欹，八脈皆失其職司。先議宣暢脈絡，勿以滋滯補澀。</p>
<p>鹿角霜　當歸　炒枸杞子　茯苓　沙苑蒺藜　川桂枝　小茴香　炒香附</p>
<p>陽浮汗泄，如飢忽脹，眩暈麻痹，產前心痛，謂之子懸。病起於產後，由肝腎內虛，真氣不自收納，內風掀旋不已，病傳陽明脈絡，筋骨不司步履，乃沉錮之疾。</p>
<p>河間地黃飲料中去其附桂二味，余藥熬取自然膏。</p>
<p>連次小產，初傷衝任，久而督帶蹺維皆傷，八脈不勻約束，陰不下固，陽乃上浮。如經後期淋帶晨泄，上熱下冷浮腫，脊酸腰垂，耳鳴不寐等症，久損不復，必以從陰引陽，通固兼用。若非積累工夫，未得旦晚得效。</p>
<p>人參　炒焦當歸　補骨脂　茯苓　青鹽　紫石英　鹿茸　炒黑小茴香　生蘄艾　蒸餅丸服（三四錢）</p>
<p>小產未復，繼為血崩二次，腹中刺痛，帶下不已，當固衝任，使絡血生聚，可望經調。</p>
<p>鹿角霜　當歸身　紫石英　炒黑小茴香　炒苑蒺藜　枸杞子　炒黑蘄艾</p>
<p>熱升沖咽，咳嗽不止，兩足冷如冰而至骨，脈得細促，先天最弱，笄年不肯充長，倘經水忽閉，勞損難治。</p>
<p>滋腎丸（三錢）　六服早上淡鹽湯送下</p>
<p>久病形神日消，脈象兼大，是謂脈無胃氣矣。上年夏季，曾診便瀉腹痛食減，舒肝健脾疏補，春進安胃丸，總無效驗，此生氣不至。女子當天癸將通之年，經脈氣機怫逆，久鬱熱聚，漸為枯涸之象，議用汪石山郁勞治法。</p>
<p>湘蓮肉　川芎　熟地　青蒿　查肉　歸身　香附　白芍</p>
<p>蓐勞下損，不獨病屬八脈，則延及三焦，晨泄嘔食，心熱下冷吸短寒熱。用藥豈有止嗽清熱之理，扶得胃氣安穀，月事仍來，方得回春。</p>
<p>異功加南棗</p>
<p>怒勞血吐成升，月餘再吐，自述少腹常痛，夜必身汗出。必經水得通，可免乾血勞怯。</p>
<p>醋炙鱉甲　炒山查肉　胡黃連　炒桃仁　炒元胡索　茺蔚子</p>
<p>經來甚少，脈左堅搏仍然，咳嗆嗽涎沫，夜熱汗出，肝血肉枯，已屬勞損。宜進甘緩，以養肝胃，令其納穀，庶可望愈。若見熱投涼，希圖治嗽，胃傷速憊矣。</p>
<p>生地　沙苑蒺藜　女貞子　阿膠　石斛　黑梔</p>
<p>停經九月，少腹重墜而痛，及診少陰脈澀小，並非妊象，且衝任虛餒，怕其暴崩。</p>
<p>八珍湯中加入砂仁</p>
<p>經先期三日，熱多寒少，脈右弦大，血分偏熱，治厥陰瘧，邪窒在血。</p>
<p>生鱉甲　青蒿梗　冬桑葉　炒桃仁　川貝母　炒牡丹皮</p>
<p>暴崩去血過多，絡中空虛，浮陽挾內風，以心悸筋脈痠軟，奇經病也。</p>
<p>熟地黃　女貞子　白芍藥　清阿膠　旱蓮草　湘蓮肉</p>
<p>冬季腹大，大便不爽，以通陽泄濁，初投相合，久則不應。寡居獨陰無陽，郁慮至少腹結瘕，其病根在肝。五旬外正氣日衰，邪不可峻攻矣。</p>
<p>六味湯中加入　茴香　川楝子</p>
<p>陰傷於下，熱氣上冒，脈左堅數，慮其失血，不可強迫通經。</p>
<p>丹參　柏子仁　茯苓　澤蘭　牡丹皮　生麥芽</p>
<p>附錄　調經種子良方</p>
<p>此係原任提臺陳大人所傳，屢試效驗如神。論曰：夫調經之法，在平肝保脾。脾統血，肝藏血，如鬱怒傷肝，思慮傷脾，使脾虛不能統束，肝虛不能藏納，多有經氣不調之患，氣一縱則血不隨，血不隨則疾如蜂起，肢體困倦，面目瘦黃，日晡寒熱，晝靜夜熱，心胸脹痞，腰背痠軟，飲食無味，神不安，赤白帶下，久無孕育，或致半產，俱是經氣不調所致。此藥宜多服，必生雙胎，屢驗。</p>
<p>香附一斤（去皮，打淨此藥性溫無毒，忌鐵器，分作八分制）　一分（酒浸，和養血氣）　一分（童便制，滋離中之陰）　一分（小茴香、艾葉各二兩同浸，炒乾去茴艾，補腰滋腎）　一分（醋浸，開氣解鬱）　一分（鹽水制，清坎中之陽）　一分（益智仁二兩同浸，去仁，滋腎強陰）　一分（萊菔子、紫蘇各三兩同浸，炒乾去蘇、萊二味，化滯開滯）　一分（姜炒，化痰）</p>
<p>上製法，春秋浸三日，夏浸一日，冬浸五日，製法完淨，同入砂鍋，加蘄艾四兩，無灰酒隨煮隨攪，色黑為度。使氣完固，平燥性和，調經順氣，女人之聖藥也，血氣之疾，俱不可缺，珍之寶之。再用後藥開下。</p>
<p>當歸身（四兩，酒浸，養血和氣）　白芍（二兩，酒洗，消瘀平肝）　撫芎（二兩，開鬱平肝）　生地（四兩，酒洗，薑汁拌炒乾，生血涼血）　人參（二兩，益氣寧神，如無人參亦可以白毛烏骨雞一隻代之，另有製法）　天門冬（二兩，去心）　熟地（四兩，酒洗，薑汁拌炒，益精補血）　酸棗仁（二兩，微炒，清脾安神）　炙甘草（九錢，溫中益氣）　白茯苓（一兩，乳浸去皮）　萸肉（三兩，生精益元）　麥冬（三兩，補血潤肺）　益母草（四兩，酒洗行氣養血）　白朮（二兩，土炒，健脾理胃）　橘紅（三兩，清痰理氣）　元胡索（一兩五錢，炒，推陳致新）　阿膠（二兩，蛤粉炒成珠）　條芩（二兩五錢，酒洗，清三焦安胎）　砂仁（一兩，寬中理氣）</p>

<h2>康方伯傳海上仙方</h2>
<p>海參一斤（酒洗，去砂熬膏）　羊腰子十枚（挑去血膜，生打極爛）　豬脊髓十條（去血絲，打極爛）　甘州枸杞子四兩（炒脆）　龜版膠四兩（酒化）　破故紙四兩（鹽水炒）　杜仲八兩（鹽水泡，炒斷絲）　淮牛膝四兩（酒洗）　鹿角膠四兩（酒化）　當歸身四兩（酒洗）　菟絲餅八兩（酒化）　巴戟肉四兩（鹽水炒）　紫殼　核桃肉一百枚（生打爛）</p>
<p>上劑各碾細末，先將羊腰、豬脊髓、核桃肉，各搗如泥，然後和龜、鹿、海參等膠，杵勻入石臼中，將諸藥末拌勻，杵至八九千下，方可為丸。丸梧子大，每服三錢。初服於七日內，每日晨晝昏三次，用淡鹽湯、開水、黃酒挨次送下，服至七日後，只於清早淡鹽湯送下，或用開水送下服餌亦可。此方丸劑，艱於嗣育者服之。頗有應效也。甲戌清和之初，因菊溪先生以掃葉莊方案囑鈔，其卷後有一瓢老人附錄軍門陳公所傳《調經種子良方》一頁。竊思陰經既調，陽不健運，則亦不能成其化育之功，適於殘編檢得此方，附之於末，質諸高明，不識云可否。</p>
