<header data-type="book">
<h1>養生月覽</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周守忠</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1200">公元1200年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093829.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>正月</h2>
<p>正月一日，子丑時燒糞，掃，令人倉庫不虛。（《月令圖經》）</p>
<p>元日子後醜前，吞赤小豆七粒，椒酒一合，吉。（同上）</p>
<p>正月旦，雞鳴時把火遍照五果及桑樹上下，則無蟲；時年有桑果災生蟲者，元日照者必免災。（《四時纂要》）</p>
<p>元日寅時，飲屠蘇酒，自幼及長。（《雜五行書》）</p>
<p>正月旦及正月半，以麻子、赤豆二七顆，置井中，闢瘟病甚效。（同上）</p>
<p>元日平旦，吞鹽豉七粒，終歲不於食中誤吃蠅子。（《呂公歲時雜記》）</p>
<p>正月一日燒術及飲術湯。（同上）</p>
<p>元日服桃湯，桃者五行之精，厭伏邪氣，制百鬼。（《荊楚歲時記》）</p>
<p>元日縷懸葦灰、桃棒門戶上，卻癘疫也。（同上）</p>
<p>元日日未出時，朱書百病符，懸戶上。（《月令圖經》）</p>
<p>正月一日未明，小兒不長者，以手攀東牆，勿令人知。或云於狗竇中，使人牽拽。（《瑣碎錄》）</p>
<p>元日庭前爆竹，以闢山臊、惡鬼也。山臊在西方深山中，長尺余，性不畏人，犯之令人寒熱病，畏爆竹聲。（《太平御覽》）</p>
<p>元日造五辛盤，正元日五熏煉形。注曰：五辛所以發五藏氣。（《周處風土記》）</p>
<p>正月一日，取五木煮湯以浴，令人至老鬚髮黑。徐借注云：道家謂青木香為五香，亦云五木。（《雜修養書》）</p>
<p>元日進椒柏酒，椒是玉衡星精，服之令人身輕能（音奈）老；柏是仙藥。又云進酒次第，當從小起，以年少者為先。（《崔實四民月令》）</p>
<p>元日造桃板著戶，謂之仙木，像鬱壘，山桃樹百鬼畏之。（《玉燭寶典》）</p>
<p>歲旦服赤小豆二七粒，面東以韭汁下，即一年不疾病，家人悉令服之。（《四時纂要》）</p>
<p>正月一日取枸杞菜，煮作湯沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>正月一日取鵲巢燒之，著於廁，能闢兵。（《四時纂要》）</p>
<p>歲旦日埋敗履於庭中，家出印緩。（《墨子秘錄》）</p>
<p>正月朝早將物去塚頭取古磚，一口將咒要斷，一年無時疫，懸安大門也。（《本草》）</p>
<p>臘月鼠向正旦朝所居處埋之，闢瘟疫。（《梅師方》）</p>
<p>昔有齊人歐明者，乘船過青草湖，忽遇風，晦瞑而逢青草湖君，邀歸止家堂字，謂歐明曰：「惟君所須富貴、金玉等物，吾當與卿。」明未知所答，傍有一人，私語明曰：「君但求如願，並勝余物。」明依其人語，湖君嘿嘿然，須臾便許，及出乃呼如願，即是一少婢也。湖君語明曰：「君領取至家，如要物，但就如願所須皆得。」明至家數年，遂大富。後至歲旦，如願起宴，明鞭之，願以頭鑽糞帚中，漸沒。失所後，明家漸漸貧。今人歲旦，糞帚不出戶，恐如願在其中。（《搜神記》）</p>
<p>正月一日取鵲巢燒灰，撒門裡，闢盜。（《墨子秘錄》）</p>
<p>正月三日買竹筒四枚，置家中四壁上，令田蠶萬倍，錢財自來。（《四時纂要》）</p>
<p>正月四日拔白，永不生，凌晨拔，神仙拔白日。他月仿此拔白髭發也。（同上）</p>
<p>正月五日取商陸根，細切，以玄水漬之，三日陰於，可治為末，服三寸匕，玄水服下，日三服。百日伏屍盡下出，如人狀，醮埋之，祝曰：「伏屍當屬地，我當屬天。」無復相召即去，隨故道，無還顧，常先服之。禁一切血肉，辛菜物。（《雲笈七籤》）</p>
<p>正月七日上會日，可齋戒。（《四時纂要》）</p>
<p>正月七日男吞赤豆七顆、女吞二七顆，竟年不病。（《雜五行書》）</p>
<p>人日夜多鬼鳥過人家，槌床打戶、拔狗耳、滅燈以禳之。（《荊楚歲時記》）</p>
<p>正月八日沐浴去災禍，神仙沐浴日。（《四時纂要》）</p>
<p>正月十日人定時沐浴，令人齒堅。凡齋戒、沐浴、皆當盥沐五香湯。其五香湯法，用蘭香一斤、荊花一斤、零陵香一斤、青木香一斤、白檀一斤，凡五物切之，以水二斛五斗，煮取一斛二斗，以自洗浴也。此湯辟惡、除不祥氣，降神靈用之，以沐並治頭。（《雲笈七籤》）</p>
<p>廁前草，月初上寅日燒中庭，令人一家不著天行。（《四時纂要》）</p>
<p>正月上寅日持女青末，三角縫囊盛系前帳中，大吉，能闢瘟病。女青，草也。（《肘後方》）</p>
<p>正月十五日，殘糕糜熬令焦，和谷種之，能闢蟲也。（《四時纂要》）</p>
<p>正月十五日，作膏粥以祠門戶。（《玉燭寶典》）</p>
<p>正月十五日，作豆糜加油葷其上，以祠門戶。（《荊楚歲時記》）</p>
<p>正月十五日，燈盞令人有子，夫婦共於富家局會所盜之，勿令人知，安臥床下，當月有娠。（《本草》）</p>
<p>正月望日以柳枝插戶上，隨柳枝所指處，致酒脯祭之。《齋諧記》云，吳縣張成，夜於宅東見一婦人曰：「我是地神，明日月半，宜以糕糜白粥祭我，令君家蠶桑萬倍。」後果如言，今人謂之黏錢財。（《歲時記》）</p>
<p>上元日可齋戒，誦《黃庭經》，令人資福壽。（《四時纂要》）</p>
<p>立春日食生菜不可過多，取迎新之意，及進漿粥，以導和氣。（《千金月令》）</p>
<p>上學之士當以立春之日清朝，煮白芷、桃皮、青木香三種，東向沐浴。（《雲笈七籤》）</p>
<p>立春日鞭土牛，庶民爭之，得牛肉者，其家宜蠶，亦云治病。（《公歲雜記》）</p>
<p>後生於立春並社日食齏者，至納婦拜門日，腰間有聲如嚼齏然，皆以為戒。（同上）</p>
<p>打春時，春牛泥撒在檐下，蚰蜒不上。（《瑣碎錄》）</p>
<p>立春後有庚子日，溫蕪菁汁，合家大小並服，不限多少，可理時疫。（《傷寒類要》）</p>
<p>入春宜晚脫綿衣，令人傷寒、霍亂。（《千金月令》）</p>
<p>正月之節，宜加綿襪以暖足。（《千金月令》）</p>
<p>正月宜進桑枝湯，及造煎以備用，其桑枝湯方：取桑枝如箭桿大者，細銼，以酥熬作湯。又桑枝煎方：取桑枝大如箭桿者，細銼三升，熬令微黃，以水六升煎三升，去滓，以重湯煎取二升，下白蜜三合，黃明膠一兩，炙作末，煎成，以不津器封貯之。（同上）</p>
<p>正月韭，始青可以食。凡韭不可以作羹食，損人。作齏佳。凡作齏佳，以先削一所地，去上一寸土，取韭不洗便投沸湯中，漉出鋪所削新土上良久，然後入水淘擇。（同上）</p>
<p>正月不可釋綿襦，宜食粥。凡粥有三等：一曰地黃，以補虛。取地黃四兩，搗取汁，候粥半熟即下之，以綿裹椒一百粒、生薑一斤投粥中，候熟出之，下羊腎一具，去脂膜，細切如韭葉大，加少鹽食。二曰防風，以去四肢風，取防風二大分，煮取汁作粥。三曰紫蘇，以去壅氣，取紫蘇子，熬令黃香，以水研濾，取汁作粥。（同上）</p>
<p>正月勿食虎豹貍肉，令人傷神損氣。（《千金方》）</p>
<p>正月不得食生蔥，令人面上起遊風。（上同）</p>
<p>正月勿食梨。（《梅師方》）</p>
<p>正月食鼠殘，多為鼠瘻，小孔下血者是此病。（《本草》）</p>
<p>正月之節，食五辛以闢癘氣，蒜、蔥、韭、薤、姜也。（《食醫心鏡》）</p>
<p>正月雨水，夫妻各飲一杯，還房當獲時有子，神效也。（《本草》）</p>
<p>正月初婚忌空房，多招不祥，不可不謹，不得已，當以熏籠置床上禳之。（《瑣碎錄》）</p>
<p>正月甲子拔白，晦日汲井花水服，令髭發不白。（《四時纂要》）</p>
<p>正月未日夜，蘆苣火照井廁中，百鬼走。（《荊楚歲時記》）</p>
<p>正月寅日燒白髮，吉。（《千金方》）</p>
<p>正月二日，取章陸根三十斤，淨先粗切，長二寸許，勿令中風也，絹囊盡盛，懸屋北六十日，陰燥為末，以方寸匕水服，旦先食服，十日見鬼，六十日合鬼取金銀寶物，作屋舍隨意所欲，八十日見千里，百日登風履云，久服成仙。（《雲笈七籤》）</p>
<p>春不可食肝，為肝王時，以死氣入肝，傷魂也。（《金匱要略方》）</p>
<p>春服小續命湯五劑、諸補散各一劑，百病不生。（《千金方》）</p>
<p>春月飲酒茹蔥，以通五臟。（《莊子》）</p>
<p>春天月每朝梳頭一二百下，至夜欲臥須湯（去聲）　熱鹽湯一盆，從膝下洗至足方臥，以通泄風毒、腳氣，勿令壅滯。（《四時養生論》）</p>
<p>春七十二日，省酸增甘，以養脾氣。（《千金方》）</p>
<p>春間不可食鯽魚頭，其中有蟲也。（《瑣碎錄》）</p>
<p>春三月夜臥早起。（出《黃帝素問》。又按《雲笈七籤》曰：「季春月宜臥起俱早。」）</p>
<p>趙先生曰：欲除屍蟲之法，春月擇甲乙夜視歲星所在，朝之再拜，正心竊祝曰：原東方明星君，扶我魂，接我魄，使我壽如松柏，生年萬歲生不落。願為甲除身中三尸、九蟲，盡走消滅，常擇潔靜，頻行之為善，此仁德樂生君木也，木剋土，所以土屍去，妙訣，秘之。（《雲笈七籤》）</p>
<p>太虛真人曰：常以春甲寅日、夏丙午日、秋庚申日、冬壬子日，瞑臥時先搗硃砂、雄黃、雌黃，三物等分細搗，以綿裹之使如棗大，臨臥時塞兩耳中。此消三尸、練七魄之道也。明日日中時，以東流水沐浴畢，更整飾床蓆，易著衣物，浣故者，更履屐，先除澡之都畢，又掃灑於寢床下，通令所住一室，淨潔平安。枕臥向上，閉氣握固良久，微咒曰：天道有常，改易故新，上帝吉日，沐浴為真，三氣消屍，朱黃安魂，寶練七魄，與我相親。此道是消煉屍穢之上法，改易真形之要訣也。四時各取一日為之。（同上）</p>
<p>春日宜腦足俱凍。（同上。又按《千金月令》曰：「正月之節，宜加綿襪以暖之。」）</p>
<p>凡臥，春欲得頭向東，有所利益。（同上）</p>

<h2>二月</h2>
<p>二月二日，取枸杞菜，煮作湯，沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>二月二日不欲眠。（《千金月令》）</p>
<p>昔巢氏，時二月二乞得人子，歸養之，家便大富。後以此日，出野田中採蓬茨，向門前以祭之，云迎富。（《歲華紀麗》）</p>
<p>二月六日、八日宜沐浴齋戒，天祐其福。（《雲笈七籤》）</p>
<p>二月八日，拔白神仙良日。（《四時纂要》）</p>
<p>二月八日，黃昏時沐浴，令人輕健。（《雲笈七籤》）</p>
<p>二月九日，忌食一切魚鱉。（同上）</p>
<p>二月九日，勿食魚，仙家大忌。（《白雲先生雜記》）</p>
<p>二月十四日，忌遠行，水陸並不可往。（《雲笈七籤》）</p>
<p>二月勿食黃花菜及陳葅，發痼疾，動痼氣。勿食大蒜，令人氣壅，關隔不通。勿食蓼子及雞子，滯人氣。勿食小蒜，傷人志性。勿食兔肉，令人神魂不安。勿食狐貍肉，傷人神。（同上）</p>
<p>二月腎臟氣微，肝臟正王，宜淨膈，去痰宣泄，皮膚令得微汗，以散去冬溫伏之氣。（同上）</p>
<p>二月勿食梨。（《梅師方》）</p>
<p>二月勿食蓼，傷腎。（《白雲先生雜記》）</p>
<p>二月勿食雞子，令人常噁心。（《千金方》）</p>
<p>二月宜食韭，大益人心。（同上）</p>
<p>二月行途之間，勿飲陰地流泉，令人發瘧瘴，又損腳，令軟。（《本草》）</p>
<p>二月初，便須灸兩腳三里、絕骨，對穴各七壯，以泄毒氣，至夏即無腳氣衝心之疾。（《四時養生論》）</p>
<p>二月之節，不可食生冷。（《千金月令》）</p>
<p>二月中不可弔喪、問疾，可衣夾衣。（同上）</p>
<p>每至二月吐痰，緣中年向後，瀉多困憊，至於風勞、氣冷，多起自痰涎。可取牛蒡子一合以上，羌活一兩，同牛蒡子搗為末，入五更初，投新汲水一碗，打令勻略起，東向服之，便臥。良久，以撩胸膈，當吐，以盆盛之，勿令起坐。凡是塞滯痰涎出盡，至黃膽水，取妙盥漱訖，取蒸餅切，火上炙令黃，便吃之，仍煎姜蜜湯下，至老不染瘴癘，縱病亦不能害人。（《頤生論》）</p>
<p>二三月內，天晴日取薯蕷，洗去土，小刀子刮去黑皮後，又削去第二重白皮，約厚一分，已來於淨紙上著篩中曬至夜，妝於紙籠內，著微火養之，至來日曬以干為度，如未乾，天色陰即火焙，便為干薯。藥入丸散，用其第二重白皮，依前別曬，焙取為面，絕補益。（《四時纂要》）</p>
<p>二月取百合根，曝乾搗作面，細篩，絕益人。（同上）</p>
<p>二月丑日，取土，泥蠶屋，宜蠶。（同上）</p>
<p>二月上卯日，沐發愈疾。南陽太守目盲，太原王景，有沉疴，用之皆愈。（同上）</p>
<p>二月上辰日，取道中土，泥門戶，闢官事。（同上）</p>
<p>二月上壬日，取土，泥屋四角，大宜蠶也。（《本草》）</p>
<p>二月乙酉日，日中北首臥，合陰陽，有子即貴也。（《四時纂要》）</p>
<p>桃、杏花，二月丁亥日收，陰乾為末，戊子日和井花水服方寸七，日三服，療婦人無子，大驗。（同上）</p>
<p>二月庚寅日，勿食魚，大惡。（《千金方》）</p>
<p>驚蟄日，以石灰糝門限外，免蟲蟻出。（《瑣碎錄》）</p>
<p>春分後宜服神明散，其方用蒼朮、桔梗各二兩、附子二兩（炮）、烏頭四兩（炮）、細辛一兩。上搗篩為散，絳囊盛帶之方寸匕，一人帶一家無病。有染時氣者，新汲水調方寸匕服之，取汁便差。（《千金月令》）</p>
<p>春秋二社，是日人家皆戒兒女夙興以舊俗相傳。苟為宴起，則社翁、社婆遺屎其面上，其後面黃者是驗也。（《呂公歲時雜記》）</p>
<p>社日小學生以蔥系竹竿上，於窗中托之，謂之開聰明。或加之以蒜，欲求能計算也。（同上）</p>
<p>社日學生皆給假，幼女輟女工，云是日不廢業，令人懵。（同上）</p>
<p>社日飲酒治聾。（同上）</p>

<h2>三月</h2>
<p>三月一日，不得與女人同處，大忌之。（《雲笈七籤》）</p>
<p>三月三日勿食百草。（《外臺秘要方》）</p>
<p>三月三日採艾，為人掛戶以備一歲之灸用。凡灸避人、神之所在。（《千金月令》）</p>
<p>三月三日，取桃花末收之，至七月七日取烏雞血和塗面及身，三二日後光白如素，太平公主秘法。（《四時纂要》）</p>
<p>三月三日收桃葉曬乾，搗篩，井花水服一錢。治心痛。（同上）</p>
<p>三月三日是神日，勿食諸鱗物。（《百歌》）</p>
<p>三月三日乃上已日，可以採艾及蔓菁花，療黃病。（《月令圖經》）</p>
<p>上已日取黍曲，和菜作羹，以壓時氣。（《荊楚歲時記》）</p>
<p>三月三日取薺菜花，鋪灶上及床蓆下，可闢蟲蟻，極驗。（《瑣碎錄》）</p>
<p>三月三日，收苦楝花或葉於席薦下，可闢蚤。（同上）</p>
<p>三月三日勿食鳥魯五臟，及一切果菜、五辛等物，大吉。（《千金方》）</p>
<p>三月三日取桃葉，一云桃根，搗取汁七升，以大醋一升，同煎令得五六分，先食頓服之，隔宿無食，即屍蟲俱下。（《本草》）</p>
<p>三月三日勿食五臟肉，百草心。（《云笈書仙簽金戒》）</p>
<p>三月三日取枸杞菜煮作湯沐浴，令人光澤不病、不老。（《雲笈七籤》）</p>
<p>三月六日申時洗頭，令人利官，七日□旦浴、日入時浴並招財。（《四時纂要》）</p>
<p>三月六日日入時沐浴，令人無厄。</p>
<p>三月十一日老子拔白日。（《真誥》）</p>
<p>三月十三日拔白，永不生。（《四時纂要》）</p>
<p>漢末有郭虞者，有三女，一女以三月□□一以上已二日，而三女產乳並亡迄。今時俗以為大忌，故於是月是日，婦女忌諱，不復止家，皆適東流水上就適遠地祈祓，自潔濯也。（《風土記》）</p>
<p>三月十六日忌遠行，水陸俱不可往。（《雲笈七籤》）</p>
<p>三月二十七日，宜沐浴。（同上）</p>
<p>三月宜食韭，大益人心，（此出《千金方》，又按《雲笈七籤》曰：季春食韭發疾。）</p>
<p>三月勿食生薤。（《本草》）</p>
<p>三月勿食小蒜，傷人志性。（《千金方》）</p>
<p>三月中可服單衣。（《千金月令》）</p>
<p>三月採桃花未開者，陰乾百日，與赤椹等分搗和，臘月豬脂塗禿瘡，神效。（《四時纂要》）</p>
<p>三月食雞子，終身昏亂。（《白雲先生雜記》）</p>
<p>三月之節宜飲松花酒，其法取糯米，淘百遍，以神麯和。凡米一斗用神麯五兩。春月取松花精長五六寸者、至一尺余鼠尾者，各三兩枝，細銼一升，蒸之。絹袋盛，以酒一升，浸取五日，堪服。一服三合，日三服，久服神仙。（《千金月令》）</p>
<p>三月勿食脾，乃是季月土旺，在脾故也。（《千金方》）</p>
<p>三月羊糞曬乾煅灰存性，和輕粉、麻油，可敷惡瘡。一名百草霜。（《瑣碎錄》）</p>
<p>三月勿食蛟龍肉及一切魚肉，令人飲食不化，發宿病，傷人神氣，恍惚。（此出《千金》、《纂要》曰三月庚寅日凶。）</p>
<p>三月入衡山之陰，取不見日月松脂煉而餌之，即不召而自來，服之百日耐寒暑，二百日五臟補益，服之五年，即見西王女。（同上）</p>
<p>三月不得食陳菹，夏熱病，發惡瘡。（《本草》）</p>
<p>三月採章陸，一名商陸，一名當陸，如人形者，神逐陰之精，此神草也，殺伏屍、去面䵟黑、益智不忘，男女五勞七傷、婦人乳產余病、帶下結赤白皆愈。上用曲十斤，米三斗，加天門冬成末一斗，釀酒漬章陸六日，便齋服。五日食減，二十日谷腸肥，容氣充茂，諸蟲皆去，耳目聰明。皆滅以月宿與鬼日，加丁時取商陸，服如棗，日三。道士常種此藥草於靜室之一園，使人通神，令人不老，長生。去三蟲，治百病，毒不能傷矣。（《雲笈七籤》）</p>
<p>春季月食生葵，令飲食不消化，發宿疾。（《食療本草》）</p>
<p>春季月末一十八日，省甘增咸，以養腎氣。（《千金方》）</p>
<p>季春月陽熾陰伏，勿發泄大汗，以養臟氣，勿食馬肉，令人神魂不安；勿食獐鹿肉等，損氣損志。（《雲笈七籤》）</p>
<p>季春月肝臟氣伏，心當向王，宜益肝補腎。是月火相水死，勿犯西北風。勿久處濕地，必招邪毒。勿大汗當風，勿露體星宿下，以招不祥之事。（同上）</p>
<p>世傳婦人死於產褥者，其鬼唯於一百五日，得自湔濯，故人家於寒食前一日皆畜水，是日不上井，以避之。（《呂公歲時雜記》）</p>
<p>寒食日取黍穰，於月德上取土，脫墼一百二十口，安宅福德上，令人致福。（《四時纂要》）</p>
<p>寒食日以紙袋盛面，掛當風處，中暑調水服。（《瑣碎錄》）</p>
<p>寒食日水浸糯米，逐日換水至小滿，漉出曬乾，炒黃碾末。水調，療打撲傷損及諸瘡腫。（同上）</p>
<p>寒食一百五日，預採大蓼曝乾，能治氣痢。用時搗羅為末，食前粥米飲調下一錢，最效。（同上）</p>
<p>清明前二日夜雞鳴時，炊黍米熟，取釜湯遍洗井口甕邊地，則無馬蚿，百蟲不近井甕，甚神驗。（《齊民要術》）</p>
<p>清明日日未出時，採薺菜花枝，候乾，夏日做挑燈杖，能祛蚊。薺菜亦名護生草，於清明日取花陰乾，暑月置近燈燭，則能令蚊蛾不侵。（《瑣碎錄》）</p>
<p>清明日熨斗內著火，炒棗子於臥帳內，上下令煙氣出。令一人問炒甚的，答曰：炒狗蚤。凡七問七答，狗蚤不生矣。（同上）</p>

<h2>四月</h2>
<p>四月四日昳時沐浴，令人無訟。（《雲笈七籤》）</p>
<p>四月七日沐，令人大富。（《四時纂要》）</p>
<p>四月八日不宜遠行，宜安心靜念，沐浴齋戒，必得福慶。（《攝生月令》）</p>
<p>四月八日勿食百草。（《外臺秘要方》）</p>
<p>四月八日勿殺草伐樹。（《全書志戒》）</p>
<p>四月八日取枸杞菜，煮作湯沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>四月九日日沒時浴，令人長命。（《四時纂要》）</p>
<p>四月十六日拔白則黑髮。（同上）</p>
<p>四月食雉，令人氣逆；食鱔魚害人。（《白雲先生雜記》）</p>
<p>四月之節宜服新衣，宜進溫食，宜服暖藥，宜食羊腎臛。造羊腎法，上以菟絲子一兩、研，煮取汁，濾之，溲麵切，煮服。以羊腎一具，切，炒作臛，服之。尤療眼暗及赤痛。（《千金月令》）</p>
<p>四月之節，宜服附子湯。其方用附子一枚，炮，勿令焦，為末。分作三服，以生薑一片，用水一升，煎取五合，明早空腹服。（同上）</p>
<p>四月之節宜食筍，以寬湯湧沸，先旋湯轉，然後投筍於中，令其自轉，不得攪，攪即破，候熟出之，如此則色青而軟，軟而不爛，可以食，和皮擘開，內粳米飯，細切羊肉，並土蘇椒、鹼、豉汁、鹽花等，卻以面封之，文火燒，聞香即熟，去皮厚一寸截之，以進筍味，此最佳。（同上）</p>
<p>四月之節，可以飲椹酒，尤治風熱之疾。可以造椹煎。其造椹煎法：用椹汁三斗，白蜜兩合，酥一兩，生薑汁一合，以重湯煮椹汁，取三升，入鹽、蘇等煮，令得所於不津器中貯之。每服一合。和酒調服，理百種風疾。（同上）</p>
<p>四月為乾（生氣卯，死氣酉。）　是月也，萬物以成，天地化生，勿冒極熱，勿大汗後當風，勿暴露星宿，皆成惡疾。（《攝生月令》）</p>
<p>四月勿食雞肉，勿食生薤。（同上）</p>
<p>四月宜補腎助肺，調和胃氣，無失其時。（同上）</p>
<p>四月勿食葫，傷人神，損膽氣，令人喘、悸、脅肋氣急。（《千金方》）</p>
<p>四月勿食暴雞肉，作內疽，在胸腋下出漏孔。丈夫少陽，婦人絕孕，虛勞之氣。（同上）</p>
<p>四月不得入房，避陰陽，純用事之月也。（同上）</p>
<p>四月勿食蛇肉、鱔肉，損神害氣。（同上）</p>
<p>四月勿食生蒜，傷人神，損膽氣。（《食醫心鏡》）</p>
<p>孟夏夜臥早起，思無恕，勿泄大汗。《雲笈七籤》）</p>
<p>凡臥，夏欲得頭向東，有所利益。（同上）</p>
<p>夏不用枕冷物、鐵石等，令人眼暗。（同上）</p>
<p>夏月不得大醉。（《四時養生論》）</p>
<p>夏三月，每朝空心吃少蔥頭酒，令血氣通暢。（同上）</p>
<p>風毒腳氣，因腎虛而得，人生命門屬在於腎，夏月腎氣衰絕，若房色過度，即傷元氣而損壽。亦不宜多服疏藥。（同上）</p>
<p>夏二月宜用五枝湯澡浴，浴訖，以香粉敷身，能祛瘴毒、疏風，氣滋血脈。其五枝湯方：用桑枝、槐枝、楮枝、柳枝、桃枝各一握，麻葉二斤，上件六味以水一石，煎至八斗許，去滓溫浴，一日一次。其敷身香粉方，粟米（一斤作粉，如無粟米粉，以葛粉代之亦得，）　青木香、麻黃根、附子（裂炮），甘松、藿香、零陵香、牡蠣（已上各二兩。）</p>
<p>上件八味，杵羅為末，以生絹作袋盛之，浴畢敷身。（同上）</p>
<p>夏七十二日，省苦增辛，以養肺氣。（《千金方》）</p>
<p>夏月宜食苦蕒以益心。（《瑣碎錄》）</p>
<p>夏三月夜臥早起，無厭於日，使志無怒。（《黃帝素問》）</p>
<p>夏不可食諸心。（《金匱要略方》）</p>

<h2>五月</h2>
<p>五月一日，日中時沐浴，令人身光。（此出《雲笈七籤》，又按《荊楚歲時記》曰：五月一日沐浴令人吉利。）</p>
<p>五月一日取枸杞菜，煮作湯沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>塚上土及磚石，主瘟疫。五月一日取之，瓦器中盛，埋之著門外階下，閤家不患時氣。</p>
<p>五月五日採索五色桃，印為門戶飾，以止惡氣。（《續漢書禮儀志》）</p>
<p>五月五日取蟾蜍，可合惡疽瘡，取東行螻蛄，治婦難產。（《崔實四民月令》）</p>
<p>五月五日蓄採眾藥，以蠲除毒氣。（《太平御覽》）</p>
<p>五月五日，荊楚人將艾以為人，懸門戶上，以禳毒氣。（《荊楚歲時記》）</p>
<p>五月五日以五彩絲係臂者，闢兵及鬼，令人不病溫。（《風俗通》）</p>
<p>五月五日未明時採艾，見似人處攬而收之，用灸有驗。（《荊楚歲時記》）</p>
<p>五月五日午時採艾，治百病。（《四時纂要》）</p>
<p>五月五日取浮萍，陰乾燒煙，去蚊子。（《千金月令》）</p>
<p>五月五日午時，採百藥心相和，搗鑿桑樹心作孔，內藥於其中，以泥封之，滿百日開取，暴乾搗作末，以敷金瘡。（同上）</p>
<p>五月五日粽子等勿多食，食訖以菖蒲酒投之。取菖蒲根節促者七莖，各長一寸，漬酒中服之，治傷損。（同上）</p>
<p>五月五日午時，聚先所蓄時藥燒之，闢疫氣，或止燒術。（《呂公歲時雜記》）</p>
<p>五月五日正午時，於韭畦面東不語，蚯蚓糞干而收之。或為魚刺所鯁，以少許擦咽外，刺即消，謂之六一泥。（同上）</p>
<p>五月五日目□者以紅絹或榴花，凡紅赤之物以拭目而棄之，云得之者，代受其病。（同上）</p>
<p>五月五日，取青蒿搗石灰，至午時丸作餅子，收蓄。凡金刃所傷者，錯末傳之。（同上）</p>
<p>五月五日午時，宜合瘧疾鬼哭丹。先以好砒半兩，細碎安放鐵銚內，以寒水石一兩為末，圍定，然後以瓷碗蓋，卻濕紙封碗縫，炭火熬煙出，熏紙黃色即止，取出以紙襯放地上，出火氣毒。良久細研為末，入龍腦、麝香各少許，研勻後，以蒸餅水泡為丸，如梧桐子大，硃砂為衣，每服一丸。發日早晨，於功德堂香菸上度過，面北方，井花水吞下。忌熱食、魚、面、生果十數日，永瘥。此藥合時，忌婦人、僧、尼、雞、犬及孝服人見。如女人有疾，可令男子拈入口內，服之立效，藥不吐瀉。（《四時養生論》）</p>
<p>五月五日用熨斗燒一棗，置床下，闢狗蚤。（《瑣碎錄》）</p>
<p>五月五日作赤靈符，著心前，禁闢五兵。（《抱朴子》）</p>
<p>五月五日午時，以硃砂寫「茶」字倒貼之，蛇蠍不敢近。（《瑣碎錄》）</p>
<p>五月五日五更，使一人堂中向空扇，一人問云：「扇甚？」底答：「蚊子。」凡七問乃已，則無蚊蟲。（同上）</p>
<p>五月五日午時，寫：「白」字倒貼於柱上四處，則無蠅子。（同上）</p>
<p>五月五日午時，望太陽將水，咒曰：「天上金雞吃蚊子腦髓，燈心上吸太陽氣。」唸咒七次，遇夜將燈心點照，闢去蚊子。（同上）</p>
<p>五月五日，取鱉爪著衣領中，令人不忘。（同上）</p>
<p>五月五日萵苣成片，放櫥櫃內，闢蟲蛀衣帛等物，收萵苣葉亦得。（同上）</p>
<p>五月五日取臘水洗屋下，闢蚊蠅。（同上）</p>
<p>五月五日收葵子，微炒搗羅為末，患淋疾者，每食前以溫酒調下一錢，最驗。（同上）</p>
<p>五月五日，取鯉魚枕骨，燒服止久痢。（《千金方》）</p>
<p>五月五日勿以鯉魚子共豬肝食，必不消化，成惡疾。（同上）</p>
<p>五月五日，鱉子共鮑魚子食之，作癉黃。（上同）</p>
<p>五月五日，取露草一百種，陰乾燒為灰，和井花水重煉，令釅醋為餅，腋下挾之，干即易，主腋氣臭，當抽一身間瘡出，即以小便洗之。（《本草》）</p>
<p>五月五日日中時，取葛根為屑。療金瘡、斷血，亦療瘧。（同上）</p>
<p>五月五日取豬齒，治小兒驚癇，燒灰服，並治蛇咬。（同上）</p>
<p>五月五日，取蝙蝠倒懸者曬乾，和桂、薰陸香為末，燒之，蚊子去。（同上）</p>
<p>五月五日，取東向桃枝，日未出時作三寸木人，著衣帶中，令人不忘。（《千金翼方》）</p>
<p>五月五日採莧菜，和馬齒莧為末，等分，調與妊娠服之，易產。（《食療本草》）</p>
<p>五月五日勿見血物。（《雲笈七籤》）</p>
<p>五月五日午時，桃仁一百個，去皮、尖，於乳缽中細研成膏，不得犯生水，候成膏，入黃丹三錢，丸如梧桐子大，每服三丸，當瘧發日，面北用溫酒吞下，如不飲酒，井花水亦得。合時忌雞、犬、婦人見。（《本草》）</p>
<p>端午日午時或歲除夜，收豬心血同黃丹、乳香相和，研為丸，如雞頭大，以紅絹袋盛，掛於門上，如有子死腹中者，冷酒磨下一丸。（《博濟方》）</p>
<p>端午日取白礬一塊，自早日曬至晚收之。凡百蟲所齧，以此末敷之。（《瑣碎錄》）</p>
<p>五月五日以蘭湯沐浴。（《大戴禮》）</p>
<p>五月五日取蠶蛾為末，津調塗刺頭上，刺良久即出。本法用晚蠶蛾，蓋將臀倒點濕繭子頭，出者生收，用竹筒兩頭有節者，於一頭錐穿，放入蛾，塞之，令自在乾死。遇有竹木等刺肉內，不能出者，取少許為末，點刺上即出。（《廣惠方》）</p>
<p>五月五日取百草頭，細銼曬乾，用紙裹收之。要用取一撮，以白紙封角，勿令病人開，以絳帛系藥，先以眼案臂，面北系裡臁藥下，以當三錢，奠系之，男左臂、女右臂。治一切瘧疾，極有驗。（《衛生十全方》）</p>
<p>五月五日取蒜一片，去皮，中破之，刀割令容巴豆一枚，去心、皮，內蒜中，令合以竹挾，以火炙之，取可熱搗為三丸。遇患瘧者，未發前服一丸，不止，復與一丸。（《肘後方》）</p>
<p>五月五日及夏至日，取日未出時，面東汲井花水一盞，作三漱門閫中，如此三十日，即口臭永除矣。（《墨子秘錄》）</p>
<p>五月五日，取螢火蟲二七枚，撚發自黑矣。（同上）</p>
<p>五月五日勿食一切生菜，發百病。（《瑣碎錄》，又出《千金方》）</p>
<p>端午日午時，書「儀方」二字倒貼於柱腳上，能闢蚊蟲。（《瑣碎錄》）</p>
<p>端午收蜀葵赤、白者，各收陰乾。治婦人赤白帶下，赤者治赤，白者治白，為末酒服之。（《四時纂要》）</p>
<p>端午日採桑上木耳白如魚者，有患喉閉者，搗碎綿裹如彈丸，蜜浸含之，便瘥。（同上）</p>
<p>端午日，日未出時，採百草頭，唯藥苗多即尤佳，不限多少，搗取濃汁，又取石灰三、五升，取草汁相和，搗脫作餅子，曝乾，治一切金瘡，血立止。兼治小兒惡瘡。（同上）</p>
<p>端午日取葵子燒作灰，收之。有患石淋者，水調方寸服之，立愈。（同上）</p>
<p>取獨頭蒜五顆，黃丹二兩，午月午日午時中，搗蒜如泥，調黃丹為丸，如雞頭子大，曬乾。患心痛，醋磨一丸服之。（同上）</p>
<p>端午日午時不可取井花水沐浴，一年疫氣不去。（《瑣碎錄》）</p>
<p>端午日午時有雨，將天雨水研硃砂，於好紙上書「龍」字，如小錢大，次年端午日午時有雨，用黑筆亦書「龍」字，如前字大，二字合之，圓作小丸，臨產用乳香煎湯吞下，男左女右握出。如次年午時無雨，則前字不可用矣。（同上）</p>
<p>蘩蔞，一名雞腸草，主積年惡瘡痔不愈者，五月五日日中採之，乾燒作焦灰用。（《千金方》）</p>
<p>小蒜五月五日採，暴乾。葉主心煩痛，解諸毒，小兒丹疹。（同上）</p>
<p>五月二十日宜拔白。（《四時纂要》）</p>
<p>五月君子齋戒，節嗜欲，薄滋味。是月五日、六日、十六日別寢。犯之，三年致卒。（同上）</p>
<p>五月五日、六日、七日、十五日、十六日、十七日、二十五日、二十六日、二十七日九毒，忌房事，犯之不過三年。（《瑣碎錄》）</p>
<p>五月俗稱惡月，俗多六齋放生，按月令仲夏陰陽交，死生分，君子齋戒，止聲色，節嗜欲也。（《董勳問禮俗》）</p>
<p>五月勿食韭，令人乏氣力。（此出《金匱要略方》。又《白雲先生雜忌》云損人目。）</p>
<p>俗忌五月上屋，言人五月蛻精神，如上屋，即自見其形，魂魄則不安矣。（《酉陽雜俎》）</p>
<p>俗忌五月曝床薦席，按《異苑》云，新野庚實，嘗以五月曝席，忽見一小兒死在席上，俄失之。其後是子遂亡。（《太平御覽》）</p>
<p>五月宜服五味子湯。其方取五味子一大合，以木杵臼搗之，置小瓷瓶中，以百沸湯點，入少蜜，即密封頭，置火邊良久，乃堪服。（《千金月令》）</p>
<p>五月勿食肥濃，勿食煮餅，伏陰在內。可食溫暖之味。（《月令圖經》）</p>
<p>五月勿食獐肉，傷人神氣。（《千金方》）</p>
<p>五月勿食馬肉，傷人神氣。（同上）</p>
<p>五月勿飲澤中停水，令人患鱉瘕病也。（《本草》）</p>
<p>五月戊辰日，用豬頭祭灶，令人百事通泰。（《墨子秘錄》）</p>
<p>五月勿食鹿，傷神。（《本草》）</p>
<p>五月食未成核果，令人發癰癤及寒熱。（同上）</p>
<p>仲夏勿大汗當風，勿暴露星宿，皆成惡疾，勿食雞肉，生癰、疽、漏瘡；勿食鱔、蛇等肉，食則令人折算壽，神氣不安。（《雲笈七籤》）</p>
<p>夏至浚井改水可去溫病。（《續漢書禮儀志》）</p>
<p>夏至著五綵，闢兵。題曰：遊光厲鬼，知其名者無溫疾。（《風俗通》）</p>
<p>京輔舊俗，皆謂夏至日，食百家飯則耐夏。然百家飯難集，相會於姓柏人家，求飯以當之。（《呂公歲時雜記》）</p>
<p>夏至一陰生，皆服餌硫黃，以折陰氣。（同上。今服金液丹也。）</p>
<p>夏至日採映日果，即無花果也，治咽喉。（同上）</p>
<p>夏至後迄秋分，勿食肥膩餅臛之屬，此與酒漿果瓜相妨，入秋節變生多諸暴下。（《雲笈七籤》）</p>

<h2>六月</h2>
<p>六月一日沐，令人去疾、禳災。（《四時纂要》）</p>
<p>六月六日沐浴齋戒，絕其營俗。（此出《雲笈七籤》。又按《瑣碎錄》云六月六日忌水分，俗云令人狐臭。）</p>
<p>六月六日勿起土。（《金書仙志戒》）</p>
<p>六月七日、八日、二十一日浴，令人去疾、禳災。（《四時纂要》）</p>
<p>六月十九日拔白，永不生。（同上）</p>
<p>六月二十四日老子拔白日。（《真誥》）</p>
<p>六月二十四日忌遠行，水陸俱不可往。（《雲笈七籤》）</p>
<p>六月二十七日食時沐浴，令人輕健。（同上）</p>
<p>六月二十七日取枸杞菜，煮作湯沐浴，令人光澤、不病不老。（同上）</p>
<p>六月可以飲烏梅漿，止渴。其造梅漿法：用烏梅並取核中仁，碎之，以少蜜內，熟湯調之。（《千金月令》）</p>
<p>六月可以飲木瓜漿。其造木瓜漿法。用木瓜削去皮，細切，以湯淋之，加少薑汁，沉之井中，冷以進之。（同上）</p>
<p>六月勿食澤水，令人病鱉癥。（《四時纂要》）</p>
<p>六月食韭，目昏。（《千金方》）</p>
<p>六月勿食脾，乃是季月，土旺在脾故也。（同上）</p>
<p>六月勿食茱萸，傷神氣。（同上）</p>
<p>六月勿食羊肉，傷人神氣。（同上）</p>
<p>六月勿食鶩肉，傷人神氣。（同上）</p>
<p>六月勿食雁肉，傷人神氣。（同上）</p>
<p>季夏增咸減甘，以資腎臟，是月腎臟氣微，脾臟絕王，宜減肥濃之物，宜助腎氣，益固筋骨，切慎賊邪之氣，勿沐浴後當風，勿專用冷水浸手足，慎東來邪風，犯之令人手癱緩，體重氣短，四肢無力。（《雲笈七籤》）</p>
<p>季夏勿食羊血，損人神魂，少志健忘。勿食生葵，必成水癖。（同上）</p>
<p>夏季月末一十八日，省甘增咸，以養腎氣。（《千金方》）</p>
<p>夏季月食露葵者，犬噬終身不瘥。（《四時纂要》）</p>
<p>夏季之月土王時，勿食生葵菜，令人飲食不消化，發宿病。（《千金方》）</p>
<p>暑月不可露臥。（《瑣碎錄》）</p>
<p>暑月極熱，扇手心，則五體俱涼。（同上）</p>
<p>造醬於三伏內，黃道日浸豆，黃道日蒸拌黃，忌婦人見，即無蝸蟲。（同上）</p>
<p>六月伏日並作湯餅，名為辟惡。（《荊楚歲時記》）</p>
<p>伏日切不可迎婦，婦死已不還家。（《四時纂要》）</p>
<p>三伏日宜服腎瀝湯，治丈夫虛羸，五勞七傷，風濕，腎臟虛竭，耳聾目暗。其方用乾地黃（六分）、黃耆（六分）、白茯苓（六分）、五味子（四兩）、羚羊角屑（四兩）、桑螵蛸（四兩，微炙）、地骨皮（四兩）、桂心（四兩）、麥門冬（去心，五分）、防風（五分）、磁石（十二分，碎如棋子，洗至十數回，令黑汁盡）。白羊腎（一具，豬亦得，去脂膜如柳葉，切）。上以水四大升，先煮腎，耗水升半許，即去水上肥沫等，去腎滓，取腎汁煎諸藥，取八大合，絞去滓澄清，分為三服，三伏日各服一劑，極補虛。復治丈夫百病，藥亦可以隨人加減。忌大蒜、生蔥、冷陳滑物，平旦空心服之。（此出《四時纂要》。又按《千金方》云：夏大熱則服腎瀝湯三劑，百病不生。）</p>

<h1>卷下</h1>

<h2>七月</h2>
<p>七月七日勿念惡事，仙家大忌。（《白雲先生雜記》）</p>
<p>七月七日取麻勃一升、人參半升，合蒸，氣盡，令遍服一刀圭，令人知未然之事。（《四時纂要》）</p>
<p>七月七日取商陸根細切，以玄水漬之三日，陰乾，可治為末，服方寸匕，以水服下，日三服。百日伏屍盡下，出如人狀，醮埋之，祝曰：伏屍當屬地，我當屬天。無復相召即去，隨故道無還顧，常先服之，禁一切血、肉、辛菜物。（《雲笈七籤》）</p>
<p>七月七日取菖蒲，酒服三方寸匕，飲酒不醉，好事者服之獲驗。不可犯鐵，若犯之令人吐逆。（《千金方》）</p>
<p>七月七日採松子，過時即落不可得，治服方寸匕，日三四，一云一服三合。百日身輕，三百日行五百里，絕谷服，昇仙。得飲水，亦可和脂服之，丸如梧桐子大，服十丸。（同上）</p>
<p>七月七日午時，取生瓜葉七枚，直入北堂，面向南立，以拭面，靨即當滅矣。（《淮南子》）</p>
<p>七月七日取烏雞血，和三月三日桃花末，塗面及遍身，三、二日肌白如玉。（《太平御覽》）</p>
<p>七月七日採守宮陰乾，合以井花水，和塗女身有文章，如以丹塗之，塗不去者不淫，去者有奸。（此出《淮南萬畢術》。又按《博物志》曰：蝘蜒以器養之，食以硃砂，體盡赤，所食滿七斤，搗萬杵，以點女人肢體，終身不滅，故號曰守宮，又按萬畢術曰：守宮飾女臂，有文章守宮新合陰陽已，各一，藏之甕中，陰百日飾女臂則生文章，與子合，陰陽輒滅去。）</p>
<p>七月七日其夜灑掃於庭，露施几筵，設酒脯時果，散香粉於筵上，以祈牽牛織女見。天漢中有奕奕白氣，有光耀五色，以此為徵應。見者便拜而願乞富，乞壽，無子乞子，為得乞一，不得兼求，三年乃得，言之頗有受其祚者。（《風土記》）</p>
<p>七月七日取赤小豆，男吞一七粒，女吞二七粒，令人畢歲無病。（《韋氏月錄》）</p>
<p>七月七日曬曝革裘，無蟲。（同上）</p>
<p>七月七日取蜘蛛網一枚著衣領中，令人不忘。（此出《四時纂要》。又按《墨子秘錄》云：七夕日取蜘蛛，陰乾，內衣領中，令人不忘記事多。）</p>
<p>七月七日取苦瓠瓤白絞取汁一合，以酢一升，古錢七文，和漬，微火煎之減半，以沫內眼眥中，治眼暗。（《千金方》）</p>
<p>七夕日取烏雞血點塗手面，三日爛白如玉。敷身亦三日，以溫湯浴之。（《墨子秘錄》）</p>
<p>七夕日取露蜂蛹子百枚，陰百日令乾，碾末用蜜和塗之，可除䵟黷。（同上）</p>
<p>七夕日取螢火蟲二七枚撚發自黑矣。（同上）</p>
<p>七夕日取百合根熟搗，用新瓦器盛，密封掛於門上，掛陰乾百日，拔白髮，用藥搽即生黑髮矣。（同上）</p>
<p>七夕日取螢火蟲、蝦蟆，端午日鼠膽伏翼和，服半寸匕，三七日見鬼，可與語，指伏寶矣。（同上）</p>
<p>七夕日取赤腹蜘蛛於屋下，陰百日乾，取塗足，可行水上矣。（同上）</p>
<p>七月十一日取枸杞菜煮作湯沐浴，令人光澤不病不老。（《雲笈七籤》）</p>
<p>七月十五日中元日，可行道建齋，修身謝過。（《正一修真旨要》）</p>
<p>七月十五日取佛座下土著臍中，令人多智也。（《四時纂要》）</p>
<p>七月十五日收赤浮萍，用筲箕盛放，桶盛水，曬乾為末。遇冬雪，寒水調三錢服，又用漢椒末抹浮萍擦身上，則熱不畏寒。詩云：不傍江津不傍岸，用時須用七月半，冷水裡面下三錢，假饒鐵人也出汗。（《瑣碎錄》）</p>
<p>當以七月十六日去手足爪，燒作灰服之，即自滅消九蟲，下三尸。（《雲笈七籤》）</p>
<p>七月二十二日沐，令發不白。（《四時纂要》）</p>
<p>七月二十五日浴，令人長壽。（同上）</p>
<p>七月二十五日早食時沐浴，令人進道。（《雲笈七籤》）</p>
<p>七月二十八日拔白，終身不白。（《四時纂要》）</p>
<p>七月丑日取富家中庭土泥灶，令人富，勿令人知。（此出《本草》。又按《墨子秘錄》云：七月內取富家田中土塗灶，大富也。）</p>
<p>七月食蓴，上有蠋蟲，害人。（《白雲先生雜記》）</p>
<p>七月食薤，損目。（同上）</p>
<p>七月收角蒿置氈褥、書籍中，闢蛀蟲。（《四時纂要》）</p>
<p>七月之節，宜出衣服、圖書以暴之。（《千金月令》）</p>
<p>七月勿食菱芰，作蟯蟲。（《千金方》）</p>
<p>七月食茱萸，傷神氣。（同上）</p>
<p>七月勿食生蜜，令人暴下發霍亂。（同上）</p>
<p>七月勿食獐肉，動氣。（《本草》）</p>
<p>七月勿食雁，傷神。（《孫真人食忌》）</p>
<p>立秋日以秋水下赤小豆，云止赤白痢。（同上）</p>
<p>立秋太陽未升採揪葉，熬為膏，敷瘡瘍立愈，謂之楸葉膏。（《瑣碎錄》）</p>
<p>立秋日不可浴，令人皮膚粗燥，因生白屑。（同上）</p>
<p>立秋後五日，瓜不可食。（《千金月令》）</p>
<p>入秋小腹多冷者，用古磚煮汁服之，主噦氣，又令患處熨之三、五度，瘥。（《本草》）</p>
<p>七月中暑氣將伏，宜以稍冷為理，宜食竹葉粥。其竹葉粥法。取淡竹葉一握、梔子兩枚切熬，以水煎，澄取清，即細淅粳米，研取泔，下米於竹葉梔子汁中，旋點泔煮之，候熟下鹽花，進之。（《千金月令》）</p>
<p>秋服黃耆等丸一兩劑則百病不生。（《千金方》）</p>
<p>秋不可食豬肺。（《金匱要略方》）</p>
<p>立秋後宜服張仲景八味地黃丸，治男子虛羸百疾眾所不療者，久服輕身不老，加以攝養則成地仙。其方用：乾地黃（半斤）、干薯藥（四兩）、牡丹皮（二兩）、澤瀉（二兩）、附子（炮，二兩）、肉桂（二兩）、山茱萸（四兩，湯泡五遍）　上搗篩，蜜為丸如梧桐子大，每日空腹酒下二十丸。如稍覺熱，即大黃丸一服通輕，尤妙。（此出《四時纂要》。又按《養生論》內一味用熟乾地黃。）</p>
<p>秋三月早臥早起，與雞俱興。（《黃帝素問》）</p>
<p>秋七十二日省辛增酸，以養肝氣。（《千金方》）</p>
<p>秋日宜足腦俱凍。（《雲笈七籤》）</p>
<p>凡臥，秋欲得頭向西，有所利益。（同上）</p>
<p>秋初夏末，熱氣酷甚，不可於中庭脫露身背，受風取涼，五臟俞穴並會於背，或令人扇風，或揎露手足，此中風之源。若初染諸疾，便宜服八味丸。大能補理腑臟，驅御邪氣。仍忌三白，恐沖剋藥性。（出《四時養生論》，其八味丸方已具在，前方用乾地黃，此方用熟乾地黃。）</p>

<h2>八月</h2>
<p>八月一日已後即微火暖足，勿令下冷無生意。（《千金方》）</p>
<p>弘農鄧紹八月朝入華山，見一童子以五色囊承取柏葉下露，露皆如珠子，亦云赤松先生，取以明目，今八月朝作眼明囊也。（《續齊諧記》）</p>
<p>八月三日宜浴。（《四時纂要》）</p>
<p>八月四日勿市附足物，仙家大忌。（同上）</p>
<p>八月七日沐，令人聰明。（同上）</p>
<p>八月八日取枸杞菜煮作湯沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>八月八日不宜眠。（《千金月令》）</p>
<p>八月十日四民並以朱點小兒頭，名為天灸，以厭疾也。（《荊楚歲時記》）</p>
<p>八月十九日拔白，永不生。（《四時纂要》）</p>
<p>八月二十二日日出時沐浴，令人無非禍。（《雲笈七籤》）</p>
<p>八月二十五日宜浴。（《四時纂要》）</p>
<p>八月辰日施錢一文，日倍還富貴。（《墨子秘錄》）</p>
<p>八月可食韭，並可食露葵。（《千金月令》）</p>
<p>八月勿食生蒜，傷人神，損膽氣。（《食醫心鏡》）</p>
<p>八月勿食葫，傷人神，損膽氣，令人喘悸，脅肋氣急。（《千金方》）</p>
<p>八月勿食姜，傷人神，損壽。（同上）</p>
<p>八月勿食豬肺及飴和食之，冬發疽。（同上）</p>
<p>八月勿食雞肉，傷人神氣。（同上）</p>
<p>八月勿食雉肉，損人神氣。（同上。又云八月建丙日，食雉肉令人短氣也。）</p>
<p>八月食獐肉，動氣。（《本草》）</p>
<p>八月勿食芹菜，恐病蛟龍症，發則似癲，面色青黃，小腹脹。（同上）</p>
<p>八月行途之間勿飲陰地流泉，令人發瘧瘴，又損腳令軟。（同上）</p>
<p>仲秋宜增酸減辛，以養肝氣，無令極飽，令人壅。（《雲笈七籤》）</p>
<p>八月勿食生蜜，多作霍亂。（同上）</p>
<p>八月勿食生果子，令人多瘡。（同上）</p>
<p>仲秋肝臟少氣，肺臟獨王，宜助肝氣，補筋養脾胃。（同上）</p>
<p>八月起居以時，勿犯賊邪之風，勿增肥腥，令人霍亂。（同上）</p>
<p>八月勿食雞子，傷神。（《四時纂要》）</p>
<p>八月宜合三勒漿，非此月則不佳矣。其法用訶梨勒、毗梨勒、醃摩勒，以上並和核用各三兩，搗如麻豆大，用細白蜜一斗，以新汲水二斗熟調，投乾淨五斗瓷甕中，即下三勒末，熟攪，數重紙密封，三四日開，更攪，以乾淨帛拭去汗，候發定即止，但密封。此月一日，合滿三十日即成，味至甘美，飲之醉人，消食下氣。（同上）</p>
<p>八月陰氣始盛，冷疾者宜以防之。（《千金月令》）</p>
<p>八月採楮實，水浸去皮瓤、取中子，日乾。仙方單服其實正赤時，取中子陰乾篩末，水服二錢，益久乃佳。（《本草圖經》）</p>
<p>八月前每個蟹腹內有稻穀一顆，用輸海神。待輸芒後過八月方食，未經霜有毒。（《食療本草》）</p>
<p>秋分之日不可殺生，不可以行刑罰，不可以處房帷，不可弔喪問疾，不可以大醉，君子必齋戒，靜專以自檢。（《千金月令》）</p>

<h2>九月</h2>
<p>九月九日採菊花與茯苓、松柏脂丸服，令人不老。（《太清諸草木方》）</p>
<p>九月九日俗以茱萸房插頭，言辟惡氣而御初寒。（《周處風土記》）</p>
<p>九月九日佩茱萸，食餌，飲菊花酒，令人長壽。（《西京雜記》）</p>
<p>九月九日以菊花釀酒，其香且治頭風。（《呂公歲時雜記》）</p>
<p>九月九日天欲明時，以片糕搭兒頭上，乳保祝禱云：如此云百事皆高也。（同上）</p>
<p>九月九日收枸杞浸酒飲，不老，亦不發白，兼去一切風。（《四時纂要》）</p>
<p>九月九日菊花暴乾，取家糯米一斗蒸熟，用五兩菊花末同拌，如常釀法，多用細面曲為，候酒熟即壓之去滓，每暖小盞服，治頭風頭旋。（《聖惠方》）</p>
<p>九月九日真菊花末飲服方寸匕，治頭風不醒。（《外臺秘要方》）</p>
<p>九月九日勿起床蓆。（《金書仙志戒》）</p>
<p>九月十六日老子拔白日。（《真誥》）</p>
<p>九月十八日忌遠行，不達其所。（《雲笈七籤》）</p>
<p>九月二十日宜齋戒，沐浴，淨念，必得吉事，天祐人福。（同上）</p>
<p>九月二十日雞三唱時沐浴，令人闢兵。（同上）</p>
<p>九月二十一日取枸杞菜煮作湯沐浴，令人光澤，不病不老。（同上）</p>
<p>九月二十八日宜浴。（《四時纂要》）</p>
<p>九月之節始服夾衣，陰氣既衰，陽氣未伏，可以餌補修之藥。（《千金月令》）</p>
<p>九月中宜進地黃湯，其法，取地黃淨洗，以竹刀子薄切，暴乾，每作湯時，先微火熬碾為末，煎如茶法。（同上）</p>
<p>九月食姜，損目。（此出《千金方》。又曰：九月勿食姜，傷人神，損壽。）</p>
<p>九月勿食脾，乃是季月，土旺在脾故也。（同上）</p>
<p>九月勿食犬肉，傷人神氣。（同上）</p>
<p>九月食霜下瓜，血必冬發。（此出《本草》，又孫真人云：食霜下瓜，或反胃病。）</p>
<p>九月食獐肉，動氣。（同上）</p>
<p>州縣城及人家九月內於戍地開坎深三尺，以土埋炭五斤、或五秤、或五十斤、或五百斤，戍火墓也，自然無火災。（《千金方》）</p>
<p>秒季月末一十八日省甘增咸，以養胃氣。秋季之月土旺時，勿食生葵菜，令人飲食不化，發宿病。（同上）</p>
<p>季秋節約生冷，以防癘疾。勿食諸姜，食之成痼疾；勿食小蒜，傷神損壽，魂魄不安；勿食蓼子，損人志氣；勿以豬肝和餳同食，至冬成嗽病，經年不瘥；勿食鴉雉等肉，損人神氣；勿食雞肉，令人魂不安，魄驚散。（《雲笈七籤》）</p>
<p>季秋肝臟微，肺金用事，宜增酸以益肝氣，助筋補血以及其時。（同上）</p>
<p>九月十日取章陸根三十斤淨洗，粗切長二寸許，勿令中風也，絹囊盡盛，懸屋北六十日，陰燥為末，以方寸匕水服之，旦先食服。十日見鬼，六十日使鬼取金銀寶物，作屋舍，隨意所欲。六十日見千里。百日身飛行，登風履云，腸化為筋。久服成仙矣。（同上）</p>

<h2>十月</h2>
<p>十月一日宜沐浴。（《四時纂要》）</p>
<p>十月四日勿責罰人，仙家大忌。（同上。又按《雲笈七籤》云：十月五日勿責罰人也。）</p>
<p>十月十日宜拔白。（同上）</p>
<p>十月十三日老子拔白日。（《真誥》）</p>
<p>十月十四日取枸杞菜煮作湯沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>十月十五日下元日，可行道建齋，修身謝過。（《正一修真旨要》）</p>
<p>十月十八日雞初鳴時沐浴，令人長壽。（《雲笈七籤》）</p>
<p>十月上亥日採枸杞子二升，採時面東摘，生地黃汁三升，以好酒二升於瓷瓶內浸二十一日，取出研，令地黃汁同浸，攪之，卻以三重封其頭了，更浸，候至立春前三日開，已過逐日空心飲一杯，至立春後，髭鬢變白，補益精氣，服之耐老，輕身無比。（《經驗後方》）</p>
<p>十月上已日採槐子服之。槐者，虛星之精，去百病，長生通神。（《太清草木方》）</p>
<p>十月之節始服寒服。（《千金月令》）</p>
<p>十月宜進棗湯。其棗湯法：取大棗除去皮、核，中破之，於文武火上翻覆炙，令香，然後煮作湯。（同上）</p>
<p>十月勿食豬肉，發宿疾。（《白雲先生雜記》）</p>
<p>十月勿食椒，損心傷血脈。（《千金方》）</p>
<p>十月勿食生薤，令人多涕唾。（同上）</p>
<p>十月勿食被霜菜，令人面上無光澤，眼目澀痛。（同上）</p>
<p>十月勿不得入房，避陰陽，純用事之月也。（同上）</p>
<p>十月食獐肉，動氣。（《本草》）</p>
<p>冬七十二日省咸增苦，以養心氣。（《千金方》）</p>
<p>冬月勿以梨攪熱酒而飲，令頭旋不可枝梧。（《瑣碎錄》）</p>
<p>冬月不可食豬腎。（《金匱要略方》）</p>
<p>冬夜伸足臥則一身俱暖。（同上）</p>
<p>冬夜臥衣被蓋覆太暖，睡覺張目，出其毒氣，則永無眼疾。（同上）</p>
<p>凡臥，冬欲得頭向西，有所利益。（《雲笈七籤》）</p>
<p>冬日宜溫足凍腦。（同上）</p>
<p>孟冬早臥晚起，必候天曉，使至溫暢，無泄大汗，勿犯冰凍，溫養神氣，無令邪氣外至。（同上）</p>
<p>冬不枕冷物、鐵石等，令人眼暗。（同上）</p>
<p>冬月夜長及性熱，少食溫軟物，食訖搖動令消，不爾成腳氣。（同上）</p>
<p>冬月食羊不發病，他時月不可食。（《本草》）</p>
<p>冬月不宜多食蔥。（同上）</p>
<p>冬三月早臥晚起，必待日光。（《黃帝素問》）</p>
<p>冬服藥酒兩三劑，立春則止終身，常爾則百病不生。（《千金方》）</p>
<p>冬月宜服鍾乳酒，主補膏髓，益氣力，逐濕。其方用，乾地黃（八分）、苣藤（一升，熬，別爛搗）、牛膝（四兩）、五加皮（四兩）、地骨皮（四兩）、桂心（二兩）、防風（二兩）、仙靈脾（三兩）、鍾乳（五兩，甘草湯浸三日，以半升牛乳瓷瓶中浸炊），於炊飯上蒸之，牛乳盡出，暖水淨淘，洗碎如麻豆。上諸藥並細銼，布袋子貯，浸於三斗酒中，五日後可取飲，出一升清酒，量其藥味即出藥，起十月一日至立春止，忌生蔥陳臭物。（《四時纂要》）</p>

<h2>十一月</h2>
<p>十一月十日，十一日拔白永不生。（《四時纂要》）</p>
<p>十一月十一日不可沐浴，仙家大忌。（同上。並《雲笈七籤》。又按《千金月令》云十一日宜沐浴。）</p>
<p>十一月十一日取枸杞菜煮作湯沐浴，令人光澤，不病不老。（《雲笈七籤》）</p>
<p>十一月十五日過夜半時沐浴，令人不憂畏。（同上）</p>
<p>十一月十六日沐浴，吉。（《四時纂要》）</p>
<p>十一月勿食龜鱉，令人水病。（同上）</p>
<p>十一月勿食陳脯。（同上。又按《千金方》云，十一月勿食經夏臭脯，成水病、頭眩、陰痿。）</p>
<p>十一月勿食鴛鴦，令人噁心。（同上）</p>
<p>十一月勿食生菜，令人發宿疾。（同上）</p>
<p>十一月勿食生薤，令人多涕唾。（《千金方》）</p>
<p>十一月勿食鼠肉、燕肉，損人神氣。（同上）</p>
<p>十一月食獐肉，動氣。（《本草》）</p>
<p>十一月勿食蝦蚌著甲之物。（同上）</p>
<p>十一月陰陽爭，冬至前後各五日別寢。（《四時纂要》）</p>
<p>十一月取章陸根淨洗，粗切長二寸許，勿令中風也。絹囊盡盛，懸屋北六十日陰燥為末，以方寸匕水服之，旦先食服。十日見鬼，六十日使鬼取金銀寶物、作屋舍，隨意所欲，八十日見千里，百日身飛行，登風履云，腸化為筋，久服成仙矣。（《雲笈七籤》）</p>
<p>仲冬勿以炎火炙腹背；勿食蝟肉，傷人魂；勿食焙肉，宜減咸增苦，以助其神氣；勿食螺蚌蟹鱉等物，損人志氣，長屍蟲；勿食經夏黍米中脯臘，食之成水癖疾。（同上）</p>
<p>仲冬腎氣正王，心肺衰，宜助肺安神，補理脾胃，無乖其時，勿暴溫暖，切慎東南賊邪之風犯之，令人多汗，面腫腰脊強痛，四肢不通。（同上）</p>
<p>十一月之節可以餌補藥，不可以餌大熱之藥，宜早食進宿熟之肉。（《千金月令》）</p>
<p>共工氏有不才子以冬至日死，為疫鬼，畏赤小豆，故冬至日以赤小豆粥厭之。（《四時纂要》）</p>
<p>冬至日鑽燧取火，可去溫病。（《續漢書禮儀志》）</p>
<p>冬至日陽氣歸內，腹中熱物入胃易消化。（《養生要集》）</p>
<p>冬至日勿多言，一陽方生不可大用。（《瑣碎錄》）</p>
<p>每冬至日，於北壁下厚鋪草而臥，云受元氣。（《千金方》）</p>
<p>冬至日取胡蘆盛蔥汁、根、莖埋於庭中，到夏至發之，盡為水，以漬金、玉、銀、青石各三分自消矣。曝令乾，如飴可休，良久服，神仙，名曰神仙消金玉漿，又曰金漿。（《三洞要錄》）</p>
<p>仲冬之月日短，至陰陽爭諸生蕩，君子齋戒，處心掩身，身欲寧，去聲色，禁嗜欲，安形性，事欲靜，以待陰陽之定。（《禮記》）</p>

<h2>十二月</h2>
<p>十二月一日宜沐浴。（《雲笈七籤》）</p>
<p>十二月二日宜浴，去災。（《四時纂要》）</p>
<p>十二月三日宜齋戒、燒香、念仙。（《雲笈七籤》）</p>
<p>十二月七日拔白，永不生。（《四時纂要》）</p>
<p>十二月八日沐浴，轉除罪障。（《荊楚歲時記》）</p>
<p>十二月十三日夜半時沐浴，令人得玉女侍房。（《雲笈七籤》）</p>
<p>十二月十五日沐浴，去災。（《四時纂要》）</p>
<p>十二月二十三日沐，吉。（同上）</p>
<p>十二月二十四日床底點燈，謂之照虛耗也。（《瑣碎錄》）</p>
<p>十二月勿食牛肉，傷人神氣。（《千金方》）</p>
<p>十二月勿食生薤，令人多涕唾。（同上。又按《雲笈七籤》云，季冬勿食生薤，增痰飲疾。）</p>
<p>十二月勿食蟹鱉，損人神氣，又六甲食之，害人心神。（同上）</p>
<p>十二月勿食蝦蚌著甲之物。（同上）</p>
<p>十二月勿食獐肉，動氣。（《本草》）</p>
<p>十二月勿食脾，乃是季月，土旺在脾故也。（《千金方》）</p>
<p>冬季之月土旺時，勿食生葵菜，令人飲食不化，發宿病。（同上）</p>
<p>冬季月天一十八日省甘增咸，以養腎氣。（同上）</p>
<p>季冬去凍就溫，勿泄皮膚大汗，以助胃氣，勿甚溫暖，勿犯大雪。是月肺臟氣微，腎臟方王，可減咸增苦，以養其神，宜小宣不欲全補。是月眾陽俱息，水氣獨行，慎邪風，勿傷筋骨，勿妄針刺，以其血澀津液不行。（《雲笈七籤》）</p>
<p>季冬勿食豬㹠肉，傷人神氣；勿食霜死之果菜，失人顏色；勿食熊掌肉，傷人神魂；勿食生椒，傷人血脈。（同上）</p>
<p>十二月癸丑日造門，令盜賊不敢來。（《墨子秘錄》）</p>
<p>十二月上亥日，取豬肪脂內新瓦器中，埋亥地百日，主癰疽，名肪脂，方家用之。又一升脂著雞子白十四枚，更良。（《本草》）</p>
<p>宣帝時陰子方者，臘日晨炊而灶神形見，子再拜，以黃羊祀之。自是以後，暴至鉅富。故後常以臘日祠灶。（《搜神記》）</p>
<p>歲暮臘，埋圓石於宅隅，雜以桃核七枚，則無鬼疫。（《南淮萬畢術》）</p>
<p>臘夜持椒三七粒臥井旁，勿與人言，投於井中，除溫疫。（《養生要術》）</p>
<p>臘日掛豬耳於堂梁上，令人致富。（《四時纂要》）</p>
<p>臘日收豬脂，勿令經水，新器盛，埋亥地百日，治癰疽。此月收亦得。（同上。又按《孫真人食忌》云：臘月豬肪脂可煎膏用之。）</p>
<p>臘日取皂角燒為末，遇時疫，早起以井花水調一錢服之，必效，差。（同上）</p>
<p>臘月勿歌舞，犯者必凶。（《千金方》）</p>
<p>臘月空心用蒸餅卷板豬脂食之，不生瘡疥，久服身體光滑。（《瑣碎錄》）</p>
<p>臘月取豬脂四兩懸於廁上，入夏一家即無蠅子。（同上）</p>
<p>臘日取活鼠以油煎為膏，湯火瘡滅瘢疵，極良。（《本草圖經》）</p>
<p>臘後遇除日，取鼠一頭燒灰，於子地上埋之，永無鼠耗。（《瑣碎錄》）</p>
<p>臘月好合藥餌，經久不暍。（《四時纂要》）</p>
<p>臘月水日曬薦席，能去蚤蝨。（《瑣碎錄》）</p>
<p>臘月收雄狐膽，若有人卒暴亡未移時者，溫水微研，灌入喉即活，常須預備救人，移時即無及矣。（《續傳信方》）</p>
<p>臘月好合茵陳丸療瘴氣、時疫、溫黃等。若嶺表行，此藥常須隨身。其方用。茵陳（四兩）、大黃（五兩）、豉心（五合，熬令香）、恆山（三兩）、杷子仁（三兩，熬）　芒硝（二兩）、杏仁（三兩，去皮尖，熟研後入之）、鱉甲（二兩，炙去膜，酒及醋塗炙）、巴豆（一兩，去皮心，熬，別研入之）。上九味搗篩，蜜和為丸，初得時氣三日，旦飲服五丸如梧桐子大。如人行十里，或利、或汗、或吐。或不吐不汗利等，更服一丸，五里久不覺，即以熱飲促之，老小以意酌度。凡黃病、痰癖、時氣、傷寒、疒瘧、小兒熱欲發癇，服之無不差。療瘴神效，赤白痢亦效。春初一服，一年不病。忌人莧、蘆荀。□肉收瓶中，以蠟固瓶口，置高處，逐時減出。可三二年一合。（《四時纂要》）</p>
<p>臘月取青魚膽陰乾，如患喉閉及骨鯁，即以膽少許口中含，咽津即愈。（《齊人千金月令》）</p>
<p>十二月暮日，掘宅四角各埋一大石，為鎮宅，主災異不起。（《本草》）</p>
<p>十二月三十日，取枸杞菜煮作湯沐浴，令人光澤，不病不老。（出《雲笈七籤》。又按《四時纂要》云：十日浴吉，去災也。）</p>
<p>十二月晦前兩日，通晦三日，齋戒，燒香靜念，仙家重之。（《四時纂要》）</p>
<p>十二月晦日，日中懸屠蘇沉並中，令至泥，正月朔日平曉出藥，置酒中，煎數沸，於東向戶中飲之。屠蘇之飲先從小起，多少自在。一人飲，一家無疫，一家飲，一里無疫。飲藥酒得三朝還，滓置井中能仍歲飲，可世無病。當家內外有井，皆悉著藥闢瘟氣也。其方用，大黃（十銖）、白朮（十八銖）、桔梗（十五銖，去蘆頭）、蜀椒（十五銖，去目）、桂心（十八銖，去皮）、烏頭（六銖，炮去皮臍）、菝葜（十二銖）。上七味㕮咀，絳袋盛之。（出《和劑局方》。一方又有防風一兩，去蘆頭。）</p>
<p>歲暮日閤家發投井中，咒曰：敕使某甲家口眷竟年不患傷寒，闢卻五瘟鬼。（《墨子秘錄》）</p>
<p>歲除夜積柴於庭，燎火闢災而助陽氣。（《四時纂要》）</p>
<p>歲除夜，空房中集眾，燒皂角，令煙不出，眼淚出為限，亦闢疫氣。（《呂公歲時雜記》）</p>
<p>除夜戒怒罵婢妾，破壞器皿，仍不可大醉也。（《瑣碎錄》）</p>
<p>歲除夜集家中所不用藥焚之中庭，以闢疫氣。（《呂公歲時雜記》）</p>
<p>除夜神佛前及廳堂、房圂皆明燈至曉，主家室光明。（《瑣碎錄》）</p>
<p>歲夜於富家田內取土泥灶，主招財。（同上）</p>
<p>歲除夜四更取麻子、小豆各二七粒，家人發少許，投井中，終歲不遭傷寒、溫疫。（《魚龍河圖》）</p>
<p>除夜五更，使一人堂中向空扇，一人問云：扇甚？底答云：扇蚊子。凡七問乃已，則無蚊蟲也。（《瑣碎錄》）</p>
