<header data-type="book">
<h1>和緩遺風</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬培之</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>和緩遺風捲上</h1>

<h2>上海沈賡生（壬子年首方）</h2>
<p>胃熱則蟲動蟲動則廉泉開廉泉開則唾涎沫此病能篇之言也涎之源也一由脾不攝其津一由腎不納其水唾之來也半由水火之升騰半由胃熱之蒸灼木火消爍精華形容為之日瘦陽氣不潛於陰寤寐為之日少涎入於胃與火相搏上擾請陽神識有時煩躁下阻濁道更衣有時堅結在脈搏指而急右脈搏指而滑涎沫即是津液津液即是至寶愈唾愈傷愈傷愈竭陽動陰涸在所不免欲保陰液務在甘酸欲潛氣火端在鹹苦</p>
<p>青龍齒棗仁淮牛膝川貝母陳膽星白芍淡甘草生竹茹橘紅茯神左牡蠣犀角汁</p>

<h2>又複方</h2>
<p>風有癇症近加唾涎腎不納氣而為唾脾不攝津而為涎就此而論關係脾腎內經篇云脾為涎腎為唾是其證也涎沫為胃中之津液津液乃身中之元氣自唾涎沫巳逾匝月津液竟日趨於困窮元氣逐日淪於凋敞胃納尚強定是胃火火盛不獨令涎沫而上湧亦且灼津液而釀痰痰盛非特阻嬌臟之清通抑且窒氣機之升降寤寐或有或無神識時躁時靜左脈搏指為大右脈弦急而滑治當甘酸一可補救津液約束涎沫參用鹹苦半瀉膽胃實火半潛龍相虛火</p>
<p>青龍齒茯神橘紅粉丹皮犀角汁左牡蠣淡甘草棗仁白芍川貝陳膽星元</p>

<h2>又三複方</h2>
<p>本病癇症大發昨夜不寐達旦煩躁狂舞起坐不定總有陰陽錯亂水火乖戾遂使陽動化風火盛生痰痰火相搏蒙敝膽胃膽失中正言語處世不獲周旋胃失通降水穀精華陡化痰涎涎沫滔滔於口竟未有所底止津液騰騰於上逐漸形容枯耗五志之陽由此煽動七情之火亦為熾升陽極似陰手指自覺厥冷陽蒸於陰胸膺時覺有汗左脈搏指右脈急疾重按六部至數不明口渴需飲舌質薄白諸躁狂越皆屬於火諸唾涎沫亦屬於火治法大旨援些二義真西珀陳膽星橘紅淨棗仁犀角汁左牡蠣川貝竹茹青龍齒石決明茯神元參心白金丸</p>

<h2>又四複方</h2>
<p>巔輿狂有陰陽之分狂與癇有痰火之殊歷久不痊根蒂深固非草木藥所能療有愈之方其仙乎要知人之言語處世周旋全賴膽腑決斷有權膽失央斷源由蒙則樞轉失司而機關欠利久而久之牽及神志心為臟神腎為臟志心腎不交水火不濟有時恬寐有時不寐口唾液沫由來已久涎為陰之靜物無有不從火升脈象左搏指右弦滑古質難伸越而色白病雖由於根本發生而目前圖治仍宜從標以滌痰為君而潛火為臣</p>
<p>青龍齒云茯神淨棗仁竹茹犀角汁左牡蠣橘紅陳膽星白金丸川貝母遠志元參濂珠紛</p>

<h2>又復五方</h2>
<p>舊患巔狂未劇新恙涎沫已減巔狂是陰陽之錯亂遂使神不清志不定涎沫乃君相之蒸騰致令津不斂液不藏神氣多動少靜有時面紅戴陽寤寐多醒少恬有時肉顫身掣火炎於上胃不減食食停於中脾不輸精徒化濕濁釀成頑痰腎之坎水枯耗損及臟陰肝之巽風掀騰牽動腦筋有限之陰水日少無潛之陽人日炎轉瞬一陽萌動或有大興風波左脈仍形博指右豚依然弦滑壯水潛陽以寧神志熄風滌痰以宣清竅</p>
<p>青龍齒棗仁粉丹皮竹茹犀角磨汁左牡蠣元參心川貝母白金丸分沖遠志廣橘紅茯神濂珠紛</p>

<h2>又六愎方</h2>
<p>舊病起伏無常新病變幻不定無論舊病新病總不外乎濁痰濁痰愈多津液愈少營衛二氣無以維持乍寒乍熱忽喘忽腫有時面紅煩躁有時火升不寐四肢常掣六脈弦滑節屆春分肝陽萌動治法惟宜柔肝潛湯</p>
<p>吉林參鬚遠志茯神青能齒橘紅法半夏紫丹參棗仁白芍左牡蠣川貝姜竹茹</p>

<h2>附陳蓮芳案</h2>
<p>春分大節前三後四本原病皆為發動甚至吐沫如前則便瀉已止惟痰飲宿病營衛大受其傷略有寒熱脘宇滿悶煩躁起坐兩夜不得安頓脈見弦滑舌苔糙膩現在見症舊病屬肝新病與飲互擾中焦擬柔之鎮之利之益之藉以標本兼顧候政</p>
<p>吉林參鬚姜竹茹茯神炒丹參青龍齒生白芍石決明廣皮川貝夜交藤炙雞肫生白朮法牛夏枳殼</p>

<h2>上海錢</h2>
<p>脾不為胃行其津液腎不司胃化其水穀津液凝聚為水水穀蒸變為飲蓄於腸胃害於升降遂使三焦決瀆失司六腑輪瀉失職見症腹左或嗚或響按之汨汨有聲腹中時抑時塞接之溫溫作痛痛有序而劇於清晨脹無常每甚於餐後左脈弦緊右脈弦滑脾腎久傷牽及八脈月泛早期臨時腹痛水為陰寒非溫不可氣亦為無形亦宜溫而和</p>
<p>川附澤瀉九香蟲小茴香炒穀芽枳殼冬朮砂亮東洋參雲茯苓木香畢澄茄官桂白芍彩霞粬廣皮</p>

<h2>又右</h2>
<p>左右者陰陽之道路陰陽者水火之徵兆水從陰化為飲飲入絡而阻氣左軀脅肋連及少腹有聲汨汨鳴響有形常常攻觸鳴響者屬有形之水邪攻觸者屬無形之氣聚氣水相搏窒礙流行政脹或痛宜其來也泛水超前臨期腹痛亦氣分傷牽及血分脈象弦細舌質淨白溫陽搜飲理所必需</p>
<p>川附澤瀉炒於朮廣木香建粬官桂白芍茯苓姜半夏黑乾姜東洋參廣皮烏藥陳佛手柑</p>

<h2>錢少峰媛（首方）</h2>
<p>冬溫春發巳見表下氣津由表而內傷陰液由里而內耗陰虛生熱熱甚食氣食氣形瘦膚燥面紅舌白匝月來胃納式微生氣更薄諸恙愈出脈大而數左右皆熱大為陽亢數為陰虛九歲幼質照此形狀重㾀兩字不得不防滋真陰不足以存液潛虛陽有餘以固津俾得脈靜身涼或可轉圓就範</p>
<p>吉林參鬚青蒿子制首烏白芍金釵石斛淨骨皮炙鱉甲炒穀芽銀柴胡血丹參茯神冬桑葉</p>

<h2>張心壺</h2>
<p>外感風寒觸動肝膽之陽火內傷飲食援引脾胃之濕痰風性清輕傷表則汗易泄痰為重濁阻里則便易滯汗既屢泄表中固無風邪之逗遛便僅一下里中尚有食滯之留戀面紅巔痛陽盛於上之現狀痰咸喉燥陰虛於下之見端左脈弦而不數尺部柔細右脈弦而帶滑尺部軟大舌根簿白舌尖淡繹齶起紅筋口覺乾燥表津為汗所耗里液為人所傷上焦未盡之痰熱蟠聚下焦有餘之垢濁壅周圖治未便遽用滋補潛陽泄風只固表衛之津潤陰滌痰以治里營之液方呈請政</p>
<p>真滁菊括蔞子石決明云茯神冬桑葉秋石筧麥冬粉丹皮西洋參川貝淮牛膝枇杷葉</p>

<h2>杭州沈惺叔如夫人（二月念五日）</h2>
<p>人身之氣血全賴乎水穀水穀旺則血氣亦旺水穀衰則血氣亦衰所以生血之源脾胃後天為本奇經八脈隸屬於下下焦者肝腎也肝為藏血腎為藏精精與血皆資生於水穀腎與胃為相生之攸關脾胃虧則肝腎亦虧肝腎虛則八脈無麗諸症由此紛至沓來泛事遲期帶下頻多絡脹腹脹脘痛腰痛有時心悸有時頭暈脈象弦細舌質膩白調脾胃之不足藉振氣血益肝腎之有虧以涵奇經俾氣血旺則奇經易固奇經固則孕育易獲</p>
<p>紫丹參紅花染絲瓜絡芡實云茯神制香附白蓮鬚橘絡茺蔚子柴胡白芍妙於朮綿杜仲炒當歸</p>

<h2>石門楊蔚如夫人</h2>
<p>舊病肝氣脘痛新恙風痰脅痛肝氣與痰互擾中宮或有懊憹或有嘔吐甚而氣升眩暈足厥納食粒米不進寤寐通宵不安更衣溏泄渴不多飲左脈乍弦乍緊右脈時滑時澀面紅顴赤氣逆咳嗆最慮肝陽勃動大有厥脫之患治法鎮肝之氣潛肝之陽參用宣肝之絡滌肺之痰藉以標本兩相顧盼</p>
<p>羚羊角云茯神代赭石廣橘紅石決明旋覆花廣鬱金絲瓜絡白杏仁白芥子木蝴蝶姜竹瀝</p>

<h2>許西園郎</h2>
<p>結痂之後復加堆沙發臭頭汗頗多日有寒熱往來手足略見浮腫甚於右畔舌有糜爛脈形小數脈症合參溯厥病由是餘毒之熾盛氣營之交耗益加時在暑濕熏蒸不免吸受其氣暑為輕清最易傷氣氣失清肅致令咳逆有痰濕為重濁尤易傷脾脾失輸運遂使納穀日鈍氣虛不能利衛衛陽不利則形寒皂作陰虛易於生熱熱蒸於上則頭汗頻泄毒有雜集相感而至濕為氳氤有質之邪物以類聚氣血更失通流痂靨乾燥不澤自服參朮之補胃納見鈍唯恐補助其邪不敢再蹈前轍但氣血虛乏勢難復進清涼以傷其正茲當清中寓補本中兼標使毒邪不為補助其威而氣血不為清致其虛酌錄數味即請政服</p>
<p>人中黃炒當歸赤小豆綻芽谷防風炒綿耆赤白芍綠豆衣橘紅忍冬藤穭豆衣川貝母桑葉</p>

<h2>沈惺叔如夫人</h2>
<p>泛期前屬熱泛期後屬寒前少而後多者屬寒而非屬熱也衰少者屬氣血之不足腰痛者屬肝腎之有虧左脈弦細右脈濡細錄方兩調氣血參用雙補肝腎至平時腹痛者牛由血虛之肝旺半由氣虛之脾濕務使氣血一調則腹痛自減矣</p>
<p>小茴炒當歸海螵蛸制香附川楝子官桂炒白芍川芎荒蔚子枳亮炒冬朮兔絲子廣皮綿杜仲月季花</p>

<h2>錢少峰媛（愎方）</h2>
<p>發瘖發瘧多汁多下陽津陰液均受戕傷病起月餘未獲恢復形瘦膚燥暮熱盜汁舌白尖紅脈大而數近來天氣寒暄不勻稍有咳嗆諒是外感育陰潛陽以退虛熱九歲幼質遷延防癆</p>
<p>西洋參左牡蠣丹參淨骨皮銀柴胡丹皮橘紅炙鱉甲青蒿子白芍川貝母枇杷葉</p>

<h2>葉晉叔夫人</h2>
<p>咳嗆經停同時發現綿延轉輾已將一年飲食日少痰濁日多氣血由此虧損形容為之消瘦乾血癆瘵已可溉見肝脾有相侮之勢脘或痛腹或脹金土無相生之機咳時作氣時逆頭有暈茸有嗚左脈弦大右脈弦細損自下而至中上痰蓄脾而貯於肺三焦俱見受損延為難治之症肚水制火令金髒得清化之權養金柔木使土宮無戕賊之害</p>
<p>海螵蛸左牡蠣橘紅白芍淮山藥紫石英茯苓北沙參白杏仁半夏麯牛膝玉蝴蝶</p>

<h2>楊慎之夫人</h2>
<p>氣血凝滯經絡積久釀成肉瘤一經刀割瘤已平復無如血去過多元氣大受戕傷血屬陰氧氣屬陽血與氣為相輔陰與陽為交戀陰虛則陽無以戀血虛則氣無以附遂使陽氣逆升於上耳有嗚響頭有昏蒙脘時痛噯時升左脈弦細右脈弦滑舌質中底俱見薄白中焦脾胃有濕有痰下焦脾腎陰虛血虛治法培其中藉搜濕痰參用益其下以滋陰血</p>
<p>潞黨參姜皮炒當歸茯神甘杞子茯苓制首烏淮牛膝炙草廣皮白芍冬桑葉</p>

<h2>邱問庵</h2>
<p>肺為貯痰之器痰多則肺實腎為吸氣之源氣升則腎虛虛者真虛實者假實肺居上焦屬陽上焦失宣則陽津隧氣外越故多汗腎位下焦屬陰下焦失納則陰液隨氣內耗故多喘多汗多喘真陽唯恐竭蹶少眠少寐真陰猶慮涸絕扶陽則害陰益陰則損陽調治之法殊為牽制頃診六脈弦細無神時常四肢厥冷不暖人身賴陽氣維持圖治先系陽為要務滌痰納氣又不可廢錄方還祈谷宜先生酌政</p>
<p>青龍骨茯苓綿耆皮蛤蚧尼左牡蠣淡甘草半夏舢川旦母橘紅惟牛膝桂枝炒白芍海浮石</p>

<h2>又二</h2>
<p>平時飲多而痰少現在痰多而飲少飲為陽衰陰盛非真陰之有餘痰為陽盛陰衰非真陽之有餘痰味非咸定非水泛之為痰痰見濃綠卻是濕勝之為痰氣逆而不喘非腎氣也氣升而多咳是肺氣也有時脘悶有時懊儂顯然濕痰蟠聚其中遂使升降失司常度動輒有汗此肺氣之過泄四肢畏寒乃脾陽失鼓舞脈象弦細而無韻舌質黃膩而不燥益氣煦陽為治痰之本潛火利陰是治痰之標錄方於左即請谷宜先生酌政</p>
<p>吉林參鬚川附炒米仁戈製半夏橘紅炙甘草礞石淮牛膝旋覆花桂枝炒白芍茯苓海石竹二青</p>

<h2>周湘云</h2>
<p>溲中有濁濁中有精腎陰暗耗酒能肋濕濕勝作瀉脾陽亦虧中焦氣分又有濁痰機關流利為之失司筋骨或有痛楚肢體或有痠軟膈上自覺窒滯頭目亦覺昏暈左脈沉弦右脈滑大當以硫補陽明藉以流利機關</p>
<p>潞黨參川萆薢建麯益智仁法半夏茯苓杜仲廣皮熟於朮谷芬甘草梢砂亮</p>

<h2>徐榮甫（郎）</h2>
<p>先天不足後天失培積濕化蟲釀疳成癆脾不鼓動四肢自覺寒冷脹及少腹肝木亦有橫逆稍有咳嗆脈不數大現幸大便尚未溏薄趁早調治或可轉機</p>
<p>五穀蟲茯苓神麯金鈴子雞金皮白蕪荑延胡冬瓜子青皮大腹皮胡黃連乾蟾腹榧子肉</p>

<h2>張連生母</h2>
<p>脘痛及背背痛及脅輾轉不痊已越四月脹甚中脘積濕積痰阻氣阻絡肝木素鬱勃鬱則化火自覺腹有熱氣即鬱火也舊春右手似痹似酸今春左足似麻似本左右升降交錯陰陽道路窒礙升多降少肺亦受害喉癢咳嗆是其徵也一團氣火濕痰互相膠聚於中遂使脾失其司胃失其市飲食為之易停更衣為艱痛屬乎氣氣屬無形氣之升降無定痛之上下無常脈象兩關弦澀舌質中央薄膩治法疏肝之郁宣胃之滯藉此潛降氣火疏化濕痰俾肝胃和則氣絡自通氣絡通則痛自止</p>
<p>玟瑰花露竹茹八月扎川鬱金青皮玉蝴蝶九香蟲金鈴子橘絡瓜蔞皮姜半夏絲瓜絡桂枝炒白芍左金丸</p>

<h2>溫馥園</h2>
<p>營虛胃弱風淫未疾兩手麻而難握兩足木而不仁此半年之久病不足以為慮也現在朋吃緊者氣升呃忒頻作舌質燥絳無津脈象細弦無神陽津耗於上陰液衰於下離脫兩字不得不防究其呃忒之源定是下元不固衝任之氣無以歸納濁陰之邪乘機上逆氣升屬肝鎮肝為圖治之扼要液燥屬腎滋腎亦為理所必需</p>
<p>大熟地淡從蓉代赭石吉休參淮牛膝麥冬刀豆子全覆花左牡蠣白芍炙甘草柿子蒂</p>

<h2>潘調梅夫人</h2>
<p>肝氣不調肺絡失宣風寒濕痰乘機蟠聚右肋痛制偏體廢楚脘滿氣逆咳而欲嘔形寒形熱脈弦脈滑當調肝肺以宣氣絡</p>
<p>吳萸炒川連鉤藤法半夏川鬱金冬桑葉白芥子瓜蔞皮白杏仁橘紅絲瓜格家蘇子竹二青</p>

<h2>金谷人夫人</h2>
<p>情志不樂心神不寧五志之火鬱而上炎亦腑之氣痹而不宣火炎則生痰氣痹則生脹痰溢於口如涎如沫脹及於腹如膈如窒心怔仲而多疑樅膽驚怯而少寤寐頭暈目昏巔脹耳嗚胃納索然更衣燥結左脈弦滑右脈弦細陰陽逆亂志意悖謬治法鎮心寧神參用清肝泄膽</p>
<p>紫丹參橘紅紫石英淨棗仁陳膽星淡甘草青龍齒白芍淮麥石決明遠志肉竹茹</p>

<h2>又郎</h2>
<p>肺與大陽為表裡肺邪移於大腸生有腸紅繼而鼻涕中見紅痰中亦紅此肺熱而兼胃熱也擬清肺參以清胃法</p>
<p>桔梗淡甘草川石斛粉丹皮桑葉辛夷綿耆青防風甘菊花白杏仁茅根前胡</p>

<h2>孫筱莊（媛）</h2>
<p>前軀胸肋高突名謂龜胸後軀背脊高突名謂龜背有時痛掣有時酸楚咳嗆氣逆如哮如喘目紅鼻血乍有乍無脈象小弦而數舌質淨白帶絳臟腑之外又入任督壯水制火以潛陽善養金柔木以滋陰</p>
<p>西洋參冬蟲草白芍炙龜板牡蠣粉丹皮炙鱉甲女貞子橘紅杞子川旦絲瓜絡</p>

<h2>某右</h2>
<p>肺弱無神舌光無澤氣血耗則身體作痛津液少則口中覺燥八脈失固帶下多也</p>
<p>西洋參杞子真滁菊牡蠣佛手花木蝴蝶金櫻子白芍雲茯苓桑葉淨棗仁夜交藤</p>

<h2>孫成章</h2>
<p>濕痰用事機關欠利腰介痛足底亦痛大便溏形體畏寒脈右滑舌苔黃健脾利胃以搜濕痰</p>
<p>潞黨參廣木香雲苓桂枝炒白芍綿杜仲冬術炙甘草陽春砂廣皮炒粟殼姜半夏紅棗</p>

<h2>張瑞生</h2>
<p>氣余是火火升血溢痰中見紅是其徵也陽動化風濕勝釀痰風旋清竅頭或眩量痰阻氣絡脅或掣痛脘有滿悶夢有遺泄脈象關弦尺大治當熄風滌痰旋覆花川貝母橘紅雲茯神冬桑葉白蓮鬚女貞子全白芍竹茹石決明絲瓜絡真滁菊</p>

<h2>落舍馮子怡</h2>
<p>傷筋橫痃已將斂口咳嗆書緩夜劇脈象左細右滑外感風寒入於肺胃內蘊濕痰乘機勃發清降之氣由此失司治法清肅肺胃參用宣利經絡</p>
<p>桔梗淡甘草前胡忍冬藤川貝母蛤亮橘紅瓜蔞皮杏仁半夏麯絲瓜絡竹茹</p>

<h2>張子林</h2>
<p>脈象左大右小顯屬心陰虧肝陽旺舌苔中黃尖絳已著氣火熾溫痰戤胸膺乳傍有時掣痛左右太陽有時暈脹操煩越度陽氣燔灼治法育陰以潛陽參用柔肝以寧心</p>
<p>紫丹參真滁菊淮牛膝淨棗仁橘紅白蒺藥焙丹皮冬桑葉云茯神石決明遠志絲瓜絡</p>

<h2>曹佩卿</h2>
<p>右手自覺麻木血虛風勝之朕兆咳嗆而兼痰多氣虛喘急之基礎脾不健旺水穀精華化痰濁多生氣血少力倦肢軟在所不免治法益中焦之陽以搜濕痰參入納下焦之氣以平沖逆</p>
<p>炙綿者西潞黨炙甘草雲苓甘杞子冬朮姜半夏淮牛膝川貝母叭杏仁桑枝械紅</p>

<h2>徐冠南夫人</h2>
<p>肝營不足腎水亦少木火無制風陽無潛有時巔痛耳嗚風陽升也有時口燥唇瘡木火升也睡醒中脘覺痛動輒經絡抽掣風陽旋絡之朕兆木氣侮中之明徵左脈弦右寸亦弦舌中黃根底亦黃滋補屢進無效中焦定是濕痰屆及春升木旺舊恙愈形發動治法須宜王道柔肝潛陽為主</p>
<p>紫丹參銀花白芍白蒺藜巨勝子冬桑葉綿杜仲橘紅丹皮真滁菊石決明絲瓜絡</p>

<h2>朱（左）</h2>
<p>日喎舌斜此風象也項強脊突亦風象也脊之兩旁右又高左更高酸而不痛傴而難伸非盡在腎脈一端其關係督脈更重四肢痠軟絡脈抽掣甚而牽連全體以致絲毫難舉鼻有痔口流涎前經巔頭作痛現在耳竅覺嗚左脈大右脈小向有失血舊冬大吐諸症發現源由皆屬腎肝陰虧滋肝以灌溉經絡補</p>
<p>腎以壯健筋骨圖治即此為扼要也大熟地甘杞子雞血藤膏潞黨參淮牛膝白芍白歸身綿杜仲淡從蓉炙綿耆川斷肉狗脊</p>

<h2>南潯潘右（三月四號）</h2>
<p>肺為五臟之華蓋又為音聲之門戶風淫於肺痰阻於絡咳嗆者已由匝月失音者由來七日一經血升欲吐不吐咽乾喉燥冷熱發癍心悸不寐脘𩞄少食左脈芤大右脈滑數潛火以保金滌痰以利絡</p>
<p>水糖（炒）　石膏（四錢）　淡甘草（四分）　桔梗（八分）　元參心（二錢）　丹皮（一錢）　蘆根（一兩）　青黛（三分）　拌蛤殼（四錢）　西洋參（一錢）　知母（一錢）　絲風絡（三錢）　橘紅（一錢）　茅根（一兩）</p>

<h2>上海錢右</h2>
<p>七情多郁五志多火火升陽動陽動風升一經肝厥兩年不痊根已深邃圖治非易究其受病之源由於嗔怒傷肝損血肝為將軍之官又有相火內寄肝傷則火愈旺火旺則血愈耗諸症由此紛至沓來左關脈大右關脈細頭暈耳鳴心跳筋惕脘滿脘脹多夢少寐治法養血以柔肝參用壯水以固腎</p>
<p>紫丹參遠志茯神惟牛膝白芍石決明左牡蠣棗仁丹皮真滁菊杞子絲瓜絡</p>

<h2>王右</h2>
<p>血虛氣滯肝強脾弱三焦作脹已越半午脹或上或下或寬或急痛時左時右時作時輟衝任之脈隸屬於肝肝旺則術任失司故帶下頻多營血之源生化在脾脾虛則營血失充故泛水衰少左脈弦右脈緊營虛則熱易生氣滯則濕易聚本屬不足標屬有餘富調肝脾以和氣血</p>
<p>小茴炒當歸延胡貢沉香枳殼金鈴子制吞附炒白芍青皮香櫞皮橘絡茺蔚子絲風絡</p>

<h2>金炳臣</h2>
<p>病之源七情多思多慮病之標六淫多濕多痰平日嗜酒酒有熱氣閃爍經絡熾耗營陰陰與陽為相輔經與絡為相佐陰虛則陽無以戀經虛則絡無以附陰陽虛或有自汁或仃盜汁經絡虛時有瘈瘲時有麻木頭為諸陽之會陽亢則眩暈肢為諸陽之木陽虛則厥冷心悸動耳鳴響背有轟熱腰有軟痛目竅迷霧巔額抽制病受目久延入八脈所以見證叢雜多歧左脈關部虛弱耎右脈關部虛軟而滑舌中薄黃舌邊薄白治法交媾心腎以寧神志參用潛育陰陽籍以和絡炙綿耆冬朮茯神桂枝炒白芍龜板橘絡紫丹參遠志棗仁淡甘草牡蠣小麥南棗</p>

<h2>陳伯樁母</h2>
<p>脅為肝部脅痛屬於肝胃受肝侮脘痛亦屬肝少陰腎水下虧少陰心火上炎白腐滿口延及咽喉飲食不納經有旬余痛甚則呃延慮厥逆脈象弦細當用鎮逆</p>
<p>旋覆花代赭石西洋參橘紅淮牛膝木蝴蝶川雅連煨刀豆川鬱金白芍仙牛夏佛手柑</p>

<h2>鄭梓相夫人</h2>
<p>辛傷於肺痰入於絡胸脅掣痛引及腰背冷熱頻仍口穢痰臭脈來滑大病起匝月非肺擁即肋擁他當瀉肺參用宣絡</p>
<p>水糖炒石膏青蛤粉白芨淡甘草生米仁桔梗絲瓜子絡旋覆花橘絡桃仁泥川貝母蘆根</p>

<h2>又複方</h2>
<p>口穢痰臭由來月餘胃通於口痰生於胃穢氣臭氣皆屬胃火肺畏火刑火旺乘肺則清肅之氣失司故咳逆綿延不已有時骨脊疼痛有時形體畏寒眠難著右胃納式微左脈小石脈大仿用千金葦莖法參奧喻氏救肺湯</p>
<p>絲瓜子絡水糖炒石膏生苡仁白莖白前淡甘草青黛拌蛤亮兔耳草川貝母橘絡桔梗枇杷葉蘆根湯煎藥</p>

<h2>又三複方</h2>
<p>肺氣通於鼻肺火旺則鼻熱胃氣通於口胃火旺則口穢頭項發腫發熱頭目或脹或痛咽喉乾燥口亦渴燥兩脅作脹兩腰作痛咳嗆身熱劇於五更失血盈盆經有兩旬脈象轉形虛弦舌質又變薄白實邪在於肺胃虛損在於肝腎切宜怡養免致增劇清上焦之實火滋下焦之真水</p>
<p>冰糖炒石膏阿膠川貝白芨女貞子橘紅絲瓜子絡麥冬桔梗元參兔耳草桑葉</p>

<h2>康錦云</h2>
<p>酒有熱氣茶有飲邪嗜酒多肝家定有鬱熱嗜茶多胃中必有留飲火旺於下循經入絡莖器或爛或痛小溲乍通乍閉飲聚於上阻氣傷陽四肢時寒時暖呃忒忽乍忽輟大便逾旬始通納食累日不進脈象緊而大舌質剝而白男子年越六秩腎元先受其衰見症半虛半實治法始從兩顧</p>
<p>生綿耆桂枝炒白芍新會皮刀豆子姜半夏吉林參鬚甘草稍枳殼炒冬朮瓜蔞皮咸蓯蓉淮牛膝</p>

<h2>沈惺叔如夫人複方五月廿三號</h2>
<p>月事不調帶下頻多無非肝脾營虛累及奇經八脈前方兩調肝脾參入雙固衝任信水準期兩次現在越期已有兩日帶下黃色較減淋漓之勢亦已較少絡脹腹脹均除脘痛腹痛俱止心悸頭暈又見退些惟嫌脘宇時覺𩞄雜脈象左關尺部仍見弦細按得右關尺部尤形濡細舌質中間薄白而膩根底起刺亦有微白種種現狀皆山下元不足衝任二脈遂失涵養之司月事為克時下帶下豈能驟止欲求月汛准期務在調養肝脾欲求帶下減少端在固攝衝任</p>
<p>柴胡炒當歸橘絡淮牛膝芡實茺蔚子丹皮川撫芎速須松子肉白芍制香附紅花染絲瓜</p>

<h2>又接方</h2>
<p>預擬逍遙法以調養氣血參用二仙丹藉固衝任</p>
<p>柴胡炒白芍妙芡實茺蔚子綿杜仲丹參粉丹皮炒當歸白蓮鬚金櫻子玉蝴蝶橘絡月季花</p>

<h2>錢少峰媛三改方</h2>
<p>據云諸恙較減惟熱未盡而面現紅點總有陽亢陰虧浮人乘機上炎改方仍用甘緩介潛</p>
<p>西洋參炙鱉甲青蒿子銀花淡甘草丹參石決明左牡蠣真滁菊丹皮緣豆衣桑葉</p>

<h2>古越曹萃華癸丑五月下旬</h2>
<p>人之氣血精神者所以奉生而周於性命者也血氣賴水穀以資生水穀多則血氣亦旺水穀少則血氣亦衰精神藉陰陽以維持陽氣足則剛神有歸宅陰氣足則神有貯蓄一言云以蔽之血氣即陰陽發疽以來納食甚微氣血之源何從充裕陰陽之氣何由振作少寐者陽不入陰之朕兆顫掉者氣不充裕之明徵頭不暈目不眩肝風兩字固無動搖左脈澀多弦少右脈沉少細多舌中光舌邊白人身之陰庇於陽人身之血生於氣調治之法不可亟亟於滋陰庶免窒得其胃氣為今之計似宜溫溫於宗陽藉以充長其肝營</p>
<p>炙綿耆遠志茯神清炙甘草真滁菊冬桑葉乳蒸於朮棗仁白芍白歸身黑芝麻石決明</p>

<h2>又（二）</h2>
<p>少寐者責之營衛循環有偏少食者責之脾胃健運無力脾胃主乎營衛營沖即是氣血氣血生成於水穀水殼蒸化為清濁清者為營濁者為衛營行絡中衛行格外經絡跳躍定是營衛之空虛無以灌溉於脈絡頭有顫掉亦是經絡之牽動並非內風之鼓舞更衣不通已有三日非液之枯耗屬氣失其傳道左脈獨澀不弦澀為血小無疑右脈獨沉無浮沉為陰虛顯然陰血既虧則陽未當不虧陽氣既傷則陰為克滋長治法兩益氣血以調營衛參用疏補脾胃以安寢食</p>
<p>蜜炙綿耆遠志歸身辰砂染茯神霞大麯別直參乳蒸於朮棗仁白芍帶子瓜蔞仙半夏紅花汁染絲吐頭廣皮</p>

<h2>又三</h2>
<p>人身之動屬陽人身之靜屬陰寤則屬動寐則屬靜蓋多動而少靜致有寤而失寐無夢不寐無寐不夢亦陽筋之徵屬陰虛之兆頭掉向右足掣偏左此肝血失藏則經絡遂無涵養之司咋解大便稍有黑色非有形積是無形之氣火灼於營液大病之後氣血並耗五志之由此易動七情之氣隨之而起自覺氣逆並非有餘之氣逆大凡陽升則肝氣火亦上升左脈虛弦重按或澀右脈沉細重取頗弱舌質燥濕不一而色紅白無常治法兩益陰陽參用交媾精神使陰平陽秘則精寧神安</p>
<p>蜜炙綿耆歸身青龍齒遠志川貝母橘紅別直參乳蒸於朮白芍石菖蒲棗仁夜交藤茯神絲吐頭</p>

<h2>又四</h2>
<p>萬事之變不出乎陰陽偏勝四字百病之起總不離六淫七情兩端陰出於陽則寤陽入於陰則寐咋夜似朦似朧達旦不寤不寐陰陽之偏固無疑義病纏既久源在內因五臟俱虛七情易感驚怖疑懼在所不免驚為肝主懼為腎主肝為臟血之司腎為主水之職多驚多懼傷肝傷腎血不足無以灌溉經絡水不衡無以承製君火不寐顫掣其由來也左脈澀勢較減稍有搏桁之象右脈弦勢殊少重按弱而無力治法暫輟溫養脾胃之氣前方增用滋育心肝之營紫丹參白芍青龍齒川貝母橘紅夜交藤絲吐頭遠志肉棗仁淮小麥白歸身茯神雞血藤膠別直參</p>

<h2>又五</h2>
<p>左手之脈復見虛細而澀並無搏指形狀右手之脈依燃細弱而沉叉無弦細現象舌質不紅不燥苔色有白有潤昨夜陰陽稍有交濟所以寤寐略見目睫惟頭尚有顫掉而足亦見抽掣其動在絡而不在臟一身經絡皆主於肝人身牽動皆屬於氣氣主動血主靜肝血無藏肝氣無攝其前以頭足動搖總不出氣乘於絡設或肝風妄動何以頭目不眩靜以制動血以儒氣治法不越兩句範圍升陽益脾姑從緩投斂陰養胃理所必需</p>
<p>小麥白芍遠志棗仁川貝母白歸身茯神橘絡清炙甘草青龍齒紫丹參別直參雞血藤膠絲吐頭</p>

<h2>又六</h2>
<p>頭為諸陽交會之處頭顫掉者屬於陽足為諸陰行脈之所足牽動者屬於陰其陰陽者不過分上部下部之異惟顫動者並無有陰動陽動之殊種種動象不外陽氣陽為神之靈動為氣之變陽氣竄出於絡不及潛入於陰顫動愈劇則寤寐愈難人之寤寐全頓陽入於陰血歸於肝要知陽氣既有形諸於外不足於內目睫酬睡豈能得哉今診脈息較昨無異舌質色象亦無變動目前寤寐最為關係欲求寤寐安謐務在陰陽交固錄方攝陽斂陰參用養血柔肝淮小麥白芍猿志川貝母歸身雞血藤膠茯神炙甘草丹參棗仁北五味龍齒別直參麥冬同煎牡蠣</p>

<h2>又七</h2>
<p>徹夜不寐非止一端之原因頭足牽動並無二義之明文寐與動分而晰之不寐在陰陽牽動在經絡動與寐合而言之陰陽即氣血氣血即營衛營衛附於經絡經絡聯屬肝皿肝系通於心心系通於腎肝為臟血之司心為生血之源心居南卦屬離腎居北卦屬坎坎離即是水火水火亦是陰陽種種變幻形狀皆不出乎陰陽陰陽之有偏勝終不越於氣血陰不戀陽則陽遊於經絡血不濡氣則氣擾於經絡此所以多動少寐異出而實同源也左脈關部頗見虛弦右脈關部略形振作舌質底邊薄白尖色時或燥絳大旨溫養氣血藉以潛毓陰陽</p>
<p>炙龜版遠志歸身炙甘草茯神川貝母麥冬行龍齒棗仁丹參雞血藤膠白芍浮小麥別直參秋石同煎</p>

<h2>又八</h2>
<p>夢寐性質有虛實之分顫牽發生有陰陽之別光患淋濁經中醫施以藥石通關利竅徒傷精神後生腦疽被西醫用以刀割解筋剖肉致截絡肺外症絡脈未續一陰一陽不相倚行是以頭不顫掉足即牽動精神未固一魂一魄不相依附以故非有夢紛即為無寐脈絡陰陽欲求利諧實所不易精神魂魄希冀安謐尤屬為難左脈寸澀關弦右脈寸澀關軟左手寸關內應心肝澀為血少弦為肝虛右手寸關內應肺脾細為氣餒軟為脾弱舌質乍燥乍濕苔色忽紅忽白有時痰稠而韌有時便燥而滯種種變幻病狀莫逃氣血兩虛脈絡陰陽宜補宜益精神魂魄宜固宜攝痰隨氣聚補氣足姒滌痰便從血行益血足以通便然以草木之功微未易騾生效力務須恬淡似虎無或可漸就痊愈歸身遠志制首烏白芍川斷肉川貝龍齒龜版棗仁野百合小麥雞血藤膠茯神則直參麥冬同煎</p>

<h2>預擬通便方</h2>
<p>不寐屬本病意圖旦夕苟安恐未能也不便屬標病欲求朝暮更衣或非難也本宜補標宜瀉標本兼顧蔗無偏弊</p>
<p>紫丹參白芍括蔞仁棗仁巨勝子川貝白歸身茯神柏子仁小麥炙甘草則直參秋石同煎雞血藤膏</p>

<h2>吳彥臣</h2>
<p>濕溫為病變幻不一出於陽有汗而不衰入於陰有下而不解氳氤中焦蒙敞氣分一昨陡然神色昏糊頃見面赤狀如醉紅唇口燥焦舌質灰膩左脈弦而軟數右脈滑而洪大左脅自覺引痛耳竅尤覺鳴響濕熱不清阻經入絡濁痰不化阻氣蒙竅所持者津液尚未戕耗最慮者濕熱迷霧不定醞釀疹㾦不得不防治法苦寒泄熱參用芳香化濁豁痰利絡之品亦為斯症扼要煨石膏川連炒山梔絲瓜絡白芥子拌佩蘭葉鮮蘆根炒知母淡芩生苡仁橘紅絡石菖蒲薑汁沖竹瀝</p>

<h2>又複方</h2>
<p>濕熱蒸騰充斥表裡表不通則少汗而熱不離體里不通則少溲而氣有窒礙夜牛寤不得寐語言時或錯亂左肋之下咳有引痛濕痰阻絡固屬無疑脈象來盛去袞滑多數少舌質底見膩白浮見灰黃唇焦燥而欠潤口覺淡而不渴邪尚在氣分未入營分津液不升騰者由於濕痰阻遏濕為黏膩之邪易於流溢三焦變幻情狀似難逆料欲求熱勢開涼務在表衛疏泄先哲所謂攘外即可以安內治法仍用苦泄參以浮萍藉以疏泄表衛冀其表衛通流則汗得以自泄而熱或可始退</p>
<p>真川連黑山梔知母茯神廣鬱金絲瓜絡淡子苓熟石膏連翹豆卷乾浮萍蘆根竹瀝</p>

<h2>第三方</h2>
<p>濕溫下之太早則邪傳入於裡不寐多語灼熱顯然陽明氣血兩蟠諸陽亦隨升騰於上神志為之混亂語言為之錯雜昨夜寐有安頓重有頭緒似乎狂瀾已倒漸入佳境左脈搏指而大按得右脈弦滑而大既安而脈大似有相悖餘波之未平尚慮增劇舌質灰膩尖不紅絳口中或咸或苦脘下似冷似熱自覺冷者非真冷定是陽氣蒸騰則脾中之濕濁隨氣而升古訓有熱極似水即此症之現狀也訂方鹹味甘涼清氣安營參用辛苦苦寒務使滲濕化痰犀角尖鮮生地丹皮川連黑山梔竹瀝廣鬱金川通草佩蘭葉茯神淡子芩生地與豆卷三兩搗成餅</p>

<h2>第四方</h2>
<p>濕邪溫邪入表入里即是逗遛膜原之間表裡混淆膜原阻遏內不得通則邪郁傷營外不得通則邪滯傷表現在表邪由汗而解第其里邪未下而去關係又在胃納如廢究竟仍留戀氣分蒸騰於上為舌黑髮泄於外為身汗餘波之亢陽亦未能潛藏左右脈象為之滑大治法苦寒泄中之熱參用芳香化熱中之濕</p>
<p>扁石斛原枝自剪川雅連佩蘭葉廣鬱金茯神竹瀝鮮生地大豆卷三錢搗瓜蔞皮黑山梔新會紅秧針竹心</p>

<h2>施幼亭（六月八號）</h2>
<p>由風引動素菩之濕首犯上焦而致咳嗽綿延二月有餘風去而濕尚存窒礙氣分化痰化熱左右脈象俱見弦滑治常清肅肺胃藉以滌化濕疾茯苓姜夏杏仁瓜蔞皮瓦楞竹二青橘紅川貝苡仁海浮石蘇子枇耙葉</p>

<h2>陳秉鈞</h2>

<h2>施升伯</h2>
<p>脈象柔軟而細舌質中光無苔顯然病久氣營交虧營虛則肝燥目竅或有昏眩氣虛則脾濕胱宇或有䐜脹舊冬忽然形瘦多嗆其中必是痰飲盤入夏日有升騰形軀漸充咳。漸稀足見元陽隨時振作治法大旨溫養藉以補助生長</p>
<p>丹參仙夏霞大麯滁菊茯苓白芍芝麻於朮枸杞子砂殼橘紅桑葉</p>

<h2>陳品山第六方（六月六號南潯人在塘樓診）</h2>
<p>體質魁腴本扇氣虛濕溫蒸騰傷及氣分氣虛亦令化火火旺熾耗真陰納食累日不進津液漸形竭蹶日覺乾燥是其明徵更衣尚有黑垢小溲頓然殊少舌質根淡白尖淡絳脈象左虛弦右滑大虛多而實少何持無恐欲求津液來復務在濡養胃氣以胃為津液乏源流也</p>
<p>吉林參西洋參川貝母橘紅枇杷葉筧麥冬叭杏仁霍石斛云茯神燕根竹二青生熟穀芽</p>

<h2>烏鎮徐安椿第一方</h2>
<p>無痰不作眩無風不作痙頭暈由來七日痙厥發現昨朝大便不下已將一周神氣乍清乍昏語言忽亂忽靜寐不寧恬轉惻似難衽席不甚熱痙時頗多汗泄左脈弦勁尺部尚見斂靜右脈柔軟關部略形滑實舌質淨白並不乾燥病由六淫之暑濕外襲益以七情之氣火內起飲食由此積滯逐漸陳腐釀痰阻遏升降之機脘宇為之懊儂真陰未病先虛真陽易於鼓動如再肝風痙厥防其真氣難敝照此情形危多安少偕藝成遠孚先生互相酌議方法先與潛陽通腑為第一之要務錄味再請政服</p>
<p>鮮生地風化硝括蔞仁川貝母真滁菊菖蒲冬桑葉茯神木陳膽星新會紅石決明白金丸</p>

<h2>二方</h2>
<p>隔咋風痰內阻外竄發現似痙似癇牽及全體脈絡甚而角弓反張昨晚離坎水下火上變幻獨言獨語遂使損及精神幾有妄見鬼神幸而寤寐通宵安謐枯神得以相交語言亦不錯亂時覺腕宇𩞄雜時或頭目眩暈身體並不灼熱舌苔亦見潤澤左脈弦而且細右脈沉而帶滑外感人暑濕少內傷之神志多大便不下小溲滴少半由風勝則腸燥半由垢留則物阻濕痰氣火難免蘊蓄治法潛陽熄風參用除痰利竅錄方仍請藝成遠孚先生酌政</p>
<p>鮮生地真池菊陳膽星川貝蔞仁粉丹皮石菖蒲石決明川鬱金茯神遠志濂珠粉</p>

<h2>又三方</h2>
<p>風痙痰癇兩日不見覆至據此一端足見峰迥路轉第其大便仍未見下中院𩞄雜時作時輟身體潮熱或起或平種種皆由肝陽升熾頭重頭暈肢制肢掉無非風陽上升清乘竅風為百病之長善行數變竄經入絡在所不免腑氣一日不通濁氣一日不降濁既不降清又不升陽明胃腑獨受迷霧不飢不食理所當然臥欠寧恬事有必至左脈弦而不張右脈細而不獗舌質薄灰口不恣飲六淫之邪頗少七情之火殊多治法潛六陽之上升參用潤六腑之下降藉此廓清濁痰或冀神氣洧爽</p>
<p>鮮生地丹皮陳膽星茯神新會紅括蔞仁真池菊川貝石菖蒲遠志石決明濂珠粉</p>

<h2>又四方</h2>
<p>過嗜酒醴令肝膽之相火煽動風陽恣食麥面阻腸胃之通降徒釀痰熱風為百病之長痰為五穀之變所以風痰兩字最能變幻多端經絡有時惕然而動神識有時寂然而味風乘清竅頭目或重或脹或痛或眩痰阻氣竅院宇乍𩞄乍悸乍咳乍吐最關係者大便不通濁氣由此上干清陽愈形窒礙目前所恃似痙似癇經爨三日不復發現精神雖形狼狽元陽決無暴脫時在炎暑蒸騰元陽為暑迫傷肢軟神倦固不待言據云脈象素見六陰頃診脈息與昔相符舌質仍形薄白罩灰捫之並不花燥無液治法潛上亢之陽以利清竅參用潤下焦之腑以宣濁氣</p>
<p>真滁菊桑葉明天麻鉤鉤石菖蒲括蔞子石決明橘紅陳膽星竹茹茯神苓濂珠粉</p>

<h2>又五方</h2>
<p>咋晚又發痙厥頃見身體瘛瘲中醫謂之肝風西醫謂之腦炎風為百病之長腦為一身之系風起於肝善行數變腦起於頭能布諸經人之精神恩慮無不出於腦筋人之行動知覺皆不越乎魂魄見症知覺少靈手指把握無力頭目昏朦或重或脹脊背反張時作時休大便旬余未得其下胃口累日勺米難進左膝仍形弦細右脈依然沉細舌質中間微灰根底亦不過膩有形之痰濁阻填於內無形之風陽走竄於外一身經絡悉受其傷治法潛風陽之亢以利肝參用滌痰火之焰以清絡</p>
<p>真滁菊桑葉石決明陳膽星茯神泡竹葉真西珀川貝明天麻括蔞仁釣鉤濂珠粉</p>

<h2>又六方</h2>
<p>停厥一二日前咋又厥矣前次之厥頸項反張此厥而兼痙昨日之厥□有噦聲此厥而兼癇痙與厥屬風陽流走經絡厥典癇屬痰火壅填機竅口有血涎唾有血痰身體顫動手指抽掣頭重頭脹目暈目眩大使窒塞小溲短少左脈弦多動少右脈有沉無浮舌質狀似煙薰根底稍有潤白六陽畢集於上風痰氣火隨之一身腦筋受傷精神為上痕但治法清營絡之然以潛亢陽參用潤氣分之燥以滌痰火錄方於左仍請藝成遠孚光生政之</p>
<p>香犀尖鮮牛地丹皮生桃仁橘絡川貝母真滁菊括簍仁茯神石決明赤芍濂珠粉</p>

<h2>父七方</h2>
<p>諸風掉眩皆屬於肝諸腦氣筋亦屬於肝頭為六陽之交會腦為一身之總領頭目每多眩暈身體不能自主此肝陽之病狀即腦筋之發炎消爍津液莫如風火風勝則燥火勝則乾大原秘結此其常也風火無形善走脈絡手指為之袖掣痰濁有質易填機竅神氣為之昏昧氣火日騰營血日沸每發痙厥必吐血沫大部脈象左勝於右中間舌苔黑似煙薰口覺苦膩喜嗜湯飲羚羊性靈務使通神而潛肝珠母色亮藉可制陽而清氣</p>
<p>羚羊角石決明丹皮茯神白荷花建蘭葉濂珠紛犀角尖真滁菊橘絡蟬衣鮮生地括蔞仁真金箔</p>

<h2>又八方</h2>
<p>頭為陽之行腦為肝上頭痛頭脹頭肢頭暈皆不出乎肝陽腦筋身者神之舍也寐者魂之藏也身體瘛瘲而不自主心神失鎮攝之司寤寐縹渺而不安恬肝魂失藏之職氣與血逆亂而行痙與癇相牢而來氣騰血沸絡中必有留瘀痙發癇劇竅中必有蓄痰瘀凝痰阻風動火旋神迷昏蕩無所不至津傷液燥腸痹便結舌質灰膩口覺苦燥左脈弦細右脈沉細潛陽育陰以平氣血之逆亂滌痰熄風以社痙癇之劇烈</p>
<p>鮮生地真滁菊茯神羚羊角嗚蟬括蔞子橘絡石決明建蘭葉丹皮犀角尖荷葉濂珠紛</p>

<h2>又九方</h2>
<p>清陽出上竅濁陰出下竅頤面七竅清陽居多為天上氣前後二竅濁陰居多為地之氣天氣下降則清明地氣上升則晦塞上焦不行如天之雨露少施溝瀆皆為乾燥大便秘結宜其來也下脘不通如地之霧多升竅絡皆為矇蔽頭目眩暈此其證也痙厥癇厥屬風屬痰身動肢動腦傷筋傷舌質灰膩較松左脈弦勢已減清上焦之燥以潛亢陽而利清竅潤下焦之燥以熄風火而宣濁竅</p>
<p>犀角尖生地汁梨子汁人乳鮮藕汁石決明括蔞子郁李仁大麻仁桃仁柏子仁</p>

<h2>又十方</h2>
<p>人身之動屬陽人身之靜屬陰寤則屬陽寐則屬陰頭旋頭脹身掣身動作於寤時休於寐時陽動兩字牢不可破內風乘陽鼓動痰火隨氣蟠踞風勝於上腦筋為之不安火勝於中脘宇為之𩞄雜清陽居上即頭面七竅是也濁陰居下即前後二陰是也清竅迷霧濁竅窒阻上有巔疾下乃便秘清濁倒置風痰膠柱發痙發癇或作或輟左脈弦細舌質灰膩治法清上竅以潛亢陽之感參用清下竅以滌垢滯之邪</p>
<p>生地汁藕汁甘蔗汁人扎汁生梨子括蔞仁巨勝子桃仁郁李仁海松子淮牛膝濂珠粉</p>

<h2>又十一方</h2>
<p>昨下大便所下甚夥腸中垢積廓然而清惟下後陰分愈傷而上竅陽火愈亢頭旋頭暈概未除去痙厥癇厥雖不復見身動肢動尚覺如前此肝陽狂爛雖倒而未能安如磐石掣動屬陽風從陽化旋暈屬火風隨火升種種幻變情狀不越風陽痰火傷腦傷筋在所小免左脈虛弦右脈沉細治法甘緩其急參用介潛其陽</p>
<p>惟小麥淡甘草石決明淮牛滕滁菊左牡蠣紛丹皮冬桑葉生鱉甲剖麥冬芝麻絲瓜絡</p>

<h2>又十二方</h2>
<p>厥者自下而上之病也痙者筋掣絡動之狀也自下而上由肝而出筋掣絡動由陽而化現在厥狀不復痙亦不見關係頭旋頭暈身動肢掣頃忽嘔吐濁痰綠水定是中乏砥柱膽氣乘虛上犯為日已多真陰自耗陽失陰戀動則化風風自內風陽自虛陽陽冒於上清竅多蔽頭目皆欠清明風趨於絡經脈多礙身體不能自主腦起於頭巔疾則腦受傷筋附於身身動則筋不寧左豚弦細重按似欠斂聚右脈沉細重按亦欠振作以脈參證虛多實少內風虛陽如許之鼓動誠恐又有一番之劇烈治法捨育陰潛陽熄風利絡之餘別無良策可採錄方仍候藝成遠爭先生察覈脈證酌政施行</p>
<p>紫丹參淮牛膝丹皮茯神代赭石冬桑葉青龍齒淡甘草白芍牡蠣真滁菊石決明</p>

<h2>又十三方</h2>
<p>厥陽無一時之寧眩暈無片刻之定曾經吐過綠水定是膽汁上溢前日又駿厥癇今晚復見狂躁癇出於陰狂出於陽陰為陰寒之疾陽為陽火之邪真陰真陽大受其傷肝營膽汁亦受其耗陰寒之痰由火而鼓動陽火之邪無水而涵制邪者假邪也虛者真虛也變亂種種皆是肝陽之害形體掉掉亦是風邪旋絡妄見妄言自獨自語總不越乎精神離散脈象左沉右弦舌質根薄中灰靈介潛陽以泄風金石鎮心以安神方呈質人藝成先生同政而行</p>
<p>淮小麥真滁菊茯神淮牛膝石決明牡蟈淡甘草丹皮白芍青龍齒靈磁石橘絡金器湯煎藥</p>

<h2>叉十四方</h2>
<p>血並於陰氣並於陽或痙或厥或癇或狂為日已久陰陽俱傷陰不戀陽陽不戀陰精神日漸離散水火日失交濟體灼煩躁甚而欲起欲行頭旋目瞀劇時妄見妄言陰氣內傷防液涸陽氣外越慮津脫若見大汗滂沱便是束手無策左脈頗見藏蟄右脈殊無神韻舌質仍見灰膩口中尚不乾燥則經吐里吐綠肝腎大耗大竭二甲潛陽以存陰二地壯水以制火金石鎮攝甘麥緩急亦為此症扼要關鍵錄方呈請藝成猿孚先生同政</p>
<p>大生地淮小麥左牡蠣龜版生磁石茯神鮮生地淡甘草炙鱉甲龍齒石決明</p>

<h1>和緩遺風捲下</h1>

<h2>又十五方</h2>
<p>陽並於上則狂陰並於下則厥陰陽交亂順逆交錯或陽上而為狂或陰下而為厥多狂多厥傷陰傷陽陰虛無以戀真陽陽虛無以維真陰陰中之火由此而起陽中之風由此而動陰陽之變動精神之離散有厥必有脫有脫必有厥設或兩相同至性命在於須臾左關真臟脈已見難逃陽脫右關不振作已久尤慮陰涸腦筋大傷頭旋頭脹風陽大動身顫身掣潛育陰陽固是正法鎮攝精神尤宜注重錄方仍候藝成遠孚先生高明酌政</p>
<p>大生地生龜板玳瑁石決明淮小麥鮮生地生鱉甲西珀准牛膝金器湯煎藥</p>

<h2>又十六方</h2>
<p>痙與厥癇與狂其名雖異其實則同總由氣血日遍而來陰陽日並如風雷之猛烈鬱極而發現久而久之發而發之不特直據根荄亦且斲伐精神陽為神之靈陰為精之寶妄見妄言非鬼非祟實是精神之離散遂使魂魄之無依身體蒸蒸如日上巔頭岑岑加震動徜見面赤如赭汗出如淋便是陰陽暴脫援救無從左脈狀似雀啄右脈仍形沉細絡肺瘈瘲環口蠕動滋腎之陰以驅熱潛肝之陽以熄風錄方還希藝成遠孚先生高明酌政</p>
<p>大熟地生龜版法半夏茯苓神淡甘草陳萸肉牛鱉甲上川連龍肥草遠志肉生鐵落湯煎藥（是日晨先服當歸龍蒼丸五錢以生鐵落湯送下）</p>

<h2>又十七方</h2>
<p>昨夜陰陽交媾之忽有瞀悶欲厥之狀幸無大汁大狂尚未脫陰脫陽然汗出溱溱於肌腠神識昏昏如酣睡陽脫之勢已見陰脫之勢在即性命存亡朝不保暮目已開口不閉左脈乍徐乍疾右脈忽起忽伏心有君火肝有相人在其位則正非其位則邪邪與元氣勢不兩立正者真虛邪者假實補正不易清邪亦難仰屋思維無從著手既蒙謬愛敢不竭誠勉揮其汗聊書數味以斂固陰陽為急務恐鞭見之不及馬腹</p>
<p>大生地茯神術元參心帶心麥冬青龍齒濂珠粉五味子淮小麥左牡蠅霍石斛奎白芍金器湯煎藥</p>

<h2>新市徐偉人（首方）</h2>
<p>痢疾古稱滯下必裡急後重但裡急後重虛實有不同痢經牛月積色漸減裡急後重依然如故前次之裡急後重是有餘之積滯現在之裡急後重是無形之氣陷下焦根蒂少固中焦鼓連失司清陽愈陷愈下濁飲愈升愈上呃忒連聲不絕甚而頭額微汗舌質葩白喉齶糜點左脈絞細右脈弦滑氧營皆受戕耗脾胃兩受殘傷若不固納中下呃忒伊於故底治法鎮逆呃忒是為緊耍關健</p>
<p>吉林參丁香白芍炙甘草旋覆花廣皮川椒乾姜搗五味淨島梅肉刀豆子代赭石茯苓柿箬蒂</p>

<h2>又二方</h2>
<p>呃忒絕無其聲胃氣日有砥柱之權後重遽爾減少清氣日有升舉之勢前日大便尚有積痢昨日更衣轉形溏薄第其翻數仍密不少腹笥或鳴或痛身體忽熱忽涼口有膩痰舌有葩白左脈弦細右脈滑大病經兩旬氣陰皆傷治法似宜益氣以利脾略佐甘酸化陰以固腎</p>
<p>龜版川貝炒扁豆茯神白芍左牡蠣鱉甲橘紅炙甘草石蓮烏梅吉林參</p>

<h2>又三方</h2>
<p>痢色已無白沫所下尚有溏泄次數每劇必在陰分腹痛裡急似有若無脈大不藏舌光無澤此係痢久而下多遂使陰涸而液竭肝陽木火互相蒸騰口燥煩熱多汗少寐陽火如許之升陰液愈難支持滋腎陰以去熱潛肝陽以熄風大生地龍骨訶子白芍龜版友牡蠣大熟地麥冬粟殼茯神鱉甲吉林參</p>

<h2>又四方</h2>
<p>清氣從下而注紲瀉隨氣而行裡急後重甚而脫肛腹痛乍有乍無小溲時多時少煩熱起伏不一脈象大小不定舌絳無苔夜寐無多臨圊臨食皆有汗紲真陰真陽皆為虛耗浮游之火蒸騰於上有限之水走泄於下遂使離坎少交夢寐恍惚多端治法滋腎陰而壯水參用潛肝陽而柔木</p>
<p>熟地麥冬牡蠣茯神粟殼炒扁豆生地白芍龍骨棗仁龜版吉林參</p>

<h2>又五方</h2>
<p>痢疾之後肝脾腎大受戕傷清氣多下大小腸不免窒礙氣愈下則更衣隨氣而頻仍下愈多則真陰隨下而消耗後重未除肛門仍脫不獨真陰受傷抑且真氣消奪肝木少條達腎氣少藏納變患大腹䐜脹甚而上至胸脘腰有圓形臍有突象鼓脹之根萌固為可慮也夜寐無多小溲尚少脈象轉形弦細舌質尚未生苔滋養固宜治脹尤要</p>
<p>大熟地龜版棗仁麥冬大腹皮車前子沉香片牡蠣茯神白芍香櫞皮冬瓜皮</p>

<h2>又六方</h2>
<p>脈象仍形弦細舌質已見薄苔夜寐多納食增腹笥䐜脹已減腰圓臍突已平所患者氣未升大便隨氣而下迫肛門有時大便尚帶白積有時更衣狀似燥結種種皆由氣液並傷大腸變化不循常度歷舉滋補尚中機宜茲當率由舊章加滅</p>
<p>大熟地龜版白芍麥冬廣皮冬瓜皮鹽從蓉牡蠣杞子棗仁茯神雞內金按徐偉人一症初診時每日利行百度於終朝呃忒連聲喉腐齶糜頭額汗泄人人知其為不治之症也先生從容不迫議病施方一方而呃忒止再方而痢疾除後轉䐜脹甚至臍突腰圓時醫無不歸咎於補先生知其為虛脹也仍用前法略佐櫞皮大腹之類果是藥到病除脹勢遽去噫何其神也具通天上手眼為萬世之準繩光生其不愧於世矣</p>
<p>右談君雪亭評</p>

<h2>吳興章晉泉</h2>
<p>膀胱不利為癮閉膀胱不約為遣溺此病機篇之言也先有癃閉繼有遺溺此先實而後虛也胃司於六腑腎開竅於二陰納食不多中流砥柱無權六腑樞轉皆失其職大腹小腹為之脹滿遺溺不禁下元藏敘失司二陰機關均欠流利大便小便為之窒礙溺管逼近精管溺管動精營亦動遺溺多敗精亦多流散脈絡睪丸先縮後垂小腸附近大腸小腸窒大陽亦窒遺溺多溏紲亦多水趨絡隊兩足先腫而脹左脈沉細而弦右脈濡細而弦舌中淡絳舌邊松白古稀大年下元自衰未宜過用滲利庶免致傷腎陰二便或通或閉決無關係大腹乍脹乍大頗為棘手六腑為病以通為用五臟為病以澀為事臟腑同病通澀互施睪丸之脹總屬乎肝參用泄肝通絡大腹之服總屬乎脾尤宜利脾利氣錄方還希高明酌政</p>
<p>知母川黃柏猺桂貢沉香香櫞皮青皮白芍絲瓜絡橘核小麥草冬瓜皮路路通</p>

<h2>又二方</h2>
<p>先癃閉而致遺溺自腹脹而抵睪丸臥則氣著於上脹及中脘坐則氣垂於下脹及睪丸二便不能如常欲解艱難萬分大便或有溏膩或有搪泄小溲時或涓滴時或遺溺腹箭乍大乍小睪丸或縮或垂一團之腹六腑俱居其中大腹脹滿六腑皆為阻痹二陰之竅腎經最為關係便溺窒礙腎陰已受戕傷腎為胃關關門不利故聚水而作其脹肝絡陰器絡脈不宣則聚氣而成瘕疝友脈緩急不勻右脈滑澀不調舌邊起點舌中光絳目前最吃緊者惟脹勢為注重治法先宜通腑宣痹務使六腑以通為用</p>
<p>金鈴子橘核川黃柏知母絲瓜絡茯苓大腹皮枳殼制甲片青皮奎白芍猺桂</p>

<h2>又三方</h2>
<p>濕邪阻痹腑陽水邪蘊蓄腸間升降乖戾清濁混淆自癃閉而致遺溺由腹脹而抵睪丸臥則氣著於上脹及膺脘坐則氣垂於下脹及舉丸腹笥嗚響如雷睪丸縮垂如疝二便不循常度欲解艱難萬分大便或有溏紲或有痰膩小溲時見涓滴時見不禁舌質更變不一或黃或白或絳脈象左右不齊乍滑乍緩乍急目前惟脹最為吃緊治法通腑是為扼要務使腑陽通則清濁自分清濁分則脹滿自消脹滿消則諸恙自瘥錄方即請明政</p>
<p>川黃柏知母青皮貢沉川鬱金絲瓜絡彩雲曲白芍枳殼茯苓法半夏上猺桂</p>

<h2>甲寅　大塘兜陸梯云夫人（首方）（閏五月三十日）</h2>
<p>孕已四月病起八日峙在炎日酷暑所受之邪無非暑熱傷氣暑必挾濕暑為天之陽氣濕為地之陰氣陽邪從上而受陰邪從下而受二氣相搏上下無問上焦氣傷而化㾦下焦氣阻而不便㾦痞少疹多便閉溲短暑濕之邪無由出路頭為之痛耳為之聾夜不安寐胃不恩食前日無汗體若蟠炭現在有汗身如燎原日渴喜飲舌質燥白左脈滑數右脈濡滯葉香岩先生論白㾦一症多是暑濕氤氳氣分治法從氣分著想做干金葦莖湯加羚羊清肺以解肌參石斛清胃以泄熱</p>
<p>羚羊角絲瓜絡生子芩白杏仁連翹滁菊鮮石斛黑山梔薄荷葉生苡仁銀花蘆根</p>

<h2>又二方（六月初一日）</h2>
<p>產育未逾一年後孕已越四月血虛營熱一定無疑邇來吸受暑濕熱邪由肺犯胃阻氣入營蒸騰於外為㾦為疹氤氳於內為煩為悶耳有蟬嗚頭有脹痛</p>
<p>昨夜稍得安寐今早尤能安睡汗泄溱溱肌腠熱勢漸漸利緩病起已有九日便閉已過一旬口淡無味舌白少苔左脈流利如珠右脈窒塞如滯紅疹多於白㾦氣熱勝於營熱治法似宜甘淡輕清藉以宣泄肺胃氣分羚羊角連翹銀花生子芩鮮石斛白杏仁瓜蔞皮生苡蘆根佩蘭葉青蒿子絲瓜絡</p>

<h2>又三方（初二日）</h2>
<p>昨下一點鐘身體復熱迨至二點鐘始得開涼熱劇無汗熱緩有汗脘悶氣逆口渴喜飲大便未病先閉屈指已有旬余小溲亦見通利少腹時或作痛胸腹手臀發現疿㾦時覺癬癢甚而作痛舌質薄膩口覺淡味左脈滑動而大右脈塞滯而小暑濕熱邪皆傷氣分蔓延三焦阻塞二腑最關係者孕已四月沒有腹痛遷延便有帶病小產治法常清氣分之邪所謂治病則胎自安</p>
<p>連翹羚羊角竹葉生子芩括蔞於杏仁蘆根銀花鮮石斛荷梗佩蘭葉絲瓜格知母</p>

<h2>又四方（初三日）</h2>
<p>暑為薰蒸之氣濕乃氤氳之邪所在氣分必在肺胃氣分為病無形無質暑濕為患忽涼忽熱昨夜已見身涼有汗頃晨倏爾身熱無汗胸脘滿悶足骱酸楚一昨少腹似痛而脹目前痛脹似有若無大便過旬不下自覺後重欲圊小溲每日一行所行亦不過利三焦窒滯決瀆失司最可慮者孕已四月用藥諸多窒礙見症變幻不一左脈流滑固為孕之正脈右脈窒滯確是氣之膹郁清氣清熱是為扼要天氣炎熱身體燔炭設或一旦增劇便是束手無策至以疹點或多或少亦是熱邪忽潮忽平現在邪在氣分居多治法不外清氣範圍熱石膏知母銀花連翹生苓黑山梔蘆根羊角薄荷杏仁荷梗鮮石斛絲瓜絡</p>

<h2>又五方（初四日）</h2>
<p>暑濕之邪如煙如霧氣分之阻無形無質大便十多日不更衣小溲每過度一通行下流既窒上流必塞督悶脘滿在所不免煩冤噯氣亦所常然胸膺紅疹較少手臂丹疿密多昨夜寤寐能安今晨熱尚燎原汗出頗少轉側殊多病起十有二日並非表邪過郁陰虛懷孕之體津液難保無傷脈滑孕之正脈脈滯氣之抑塞涼膈散瀉膈上無形之熱羚羊法潛肝中未動之風</p>
<p>連翹黑山梔知母熟石膏銀花廣鬱金薄荷生子芩風化硝羚羊角蘆根鮮石斛荷梗</p>

<h2>又六方（初五日）</h2>
<p>暑濕熱邪本無形質所傷在氣固無疑義懷孕四五月之軀發熱十三日之久未始不傷於陰分難保無耗於津液舌轉灰燥是為確慷脘滿噯氣口渴引飲氣分尚有蒸騰之人潮熱暮劇殊多汗泄營分亦有燎原之勢手臂紅疿較少頭面丹疹尚名大便十日不下小溲書夜一行三焦窒阻六腑閉塞一團氣火無從出路熱病以津液為材料治法以以涼為注重可恃者神氣清爽所怕者熱勢劇烈左脈尚滑大與病不悖</p>
<p>鮮生地黑山梔銀花連翹鮮石斛內茅根荷梗西洋參廣鬱金知母括蔞蜜石膏竹捲心</p>

<h2>又七方（初六日）</h2>
<p>胸膺紅疹如有若無頭面丹點條多忽少雨臂亦有紅點並不密布形狀漸熱書緩夜劇口渴隨熱的起咋口熱緩神倦欲睡至夜熱甚身多轉惻熱甚熱緩皆少汗泄脘宇有時懊儂有時嘔泛口中或覺淡膩蔌覺甜膩大便十多日不臨圊小溲每書夜一通行腑氣一日不通潮熱一日不平患超十四日之久津液必兩就其傷氣分蒸騰之熱無形無質營分燎原之火忽焰忽減左脈搏指而滑右脈弦細而數舌中灰膩舌尖白淨甘涼清氣以生津鹹寒滋陰以津液</p>
<p>西洋參蜜石膏知母銀花鮮斛生子芩荷梗括蔞子廣鬱金連翹元參竹心鮮生地藿香青蒿露煎藥</p>

<h2>又八方（初七日）</h2>
<p>發熱有十五日之久大便有十八日之閉潮熱或起暮夜或起日書煩悶隨熱劇而長隨熱緩而消熱甚轉側多動熱減神倦少睡手臂紅疿稀少頭面丹疹密多胸腹又見如晶白㾦口味自覺淡而兼甜脈不更動仍形左大右小舌不遷變依然外白里膩懷吉四五月之多納食十餘日不進氣津陰液已耗氣火營熱尚熾種種見端狀似癉瘧癉瘧之原委陽亢而陰虧治癉瘧之法程喻嘉言為最妙當仿其旨甘涼濡胃</p>
<p>西洋參蜜石膏知母淡甘草鮮生地生子芩苗葉鮮石斛青蒿子銀花瓜蔞皮元參心竹捲心</p>

<h2>又九方（初八日）</h2>
<p>孕已四五月之多病有十六日之久疹㾦風波已平肌膚自覺癬癢癉瘧潮熱未定身體仍形發熱或劇於下午八句鍾或甚於下午四點鐘每劇煩冤懊儂轉側多動逾時神清氣爽安靜欲睡前半苔不多後半苔亦少脈象左三部滑大右三部滑數大便十九日不下小溲每周度一行下流雖有窒滯腹笥並不脹滿急遽攻滌必妨陰液昔賢所謂下不嫌遲不過臟氣不過潮熱急難就輕治法仍宜甘涼鹹寒藉以降而保津液</p>
<p>鮮生地西洋參元參淡甘草蒿梗子芩風化硝蜜石膏蜂蜜銀花知母苗葉</p>

<h2>又十方</h2>
<p>午診脈象左脈滑大右脈滑數頃診脈息左手稍緩右亦不急舌質的半仍形少苔後半亦不多苔潮熱之勢忽輕忽重煩悶懊儂隨熱隨起輕側多動亦隨熱而至氣急口渴又隨熱而來熱勢發現時刻無定日久陽亢陰虛熱久津傷液耗疑是癉瘧似不悖謬大陽小腸均被熱阻大便十九日不通小溲每周度一行脘宇或有嘔吐蔌有甜氣皆熟騰之徵亦氣升之兆治法重於甘涼不免膩於膈間若不重於甘涼津液難以維持況正值虛多邪少舍甘涼別無良策參用鹹寒沉降以潤腑潤燥稍加流動氣機以肋傳道之職</p>
<p>西洋參蜜石膏蜜枳殼天花粉兒參橘紅炒知母大豆卷搗生地風化硝元參心淨艱花苗葉枇葉霍斛湯煎藥預擬甘涼寒咸藉以保津潤液如得更衣者用之加不更衣者停之</p>
<p>西洋參麥冬知母銀花生子芩橘紅青蒿子滁菊云麯豆苗葉霍斛湯代水煎藥</p>

<h2>又十一方（十七日）</h2>
<p>身熱日漸見退疹㾦亦已盡圓周身之癬癢似不可禁胃恩食而加餐寤安靜而多寐五月之身孕並無動靜二旬之便閉未覺臨圊左脈滑大並無剛躁之勢右脈虛小頗有柔軟之形舌質不紅不紫不燥不濕口味或甜或膩或苦或乾陰分為遷延而戕傷氣分有餘邪而未盡腑氣窒滯礙難滋卷尚宜甘涼廓清胃腑按九竅不利多屬胃病也</p>
<p>綠豆衣黑豆衣括蔞仁柏子仁白杏仁生子芩苗葉省頭草西洋參元參心冬瓜仁連翹仁淨銀花</p>

<h2>又十二方（二十日）</h2>
<p>前日大便已通所下尚嫌不多腸中留蓄之垢未必廓然一清下流既少通降上流必有窒滯氣分淹留之邪尚難速化營分鬱伏之熱未易遽清所恃胃納漸增津液自為來復於是五月身孕相安無事潮熱尚未盡退盜汗頗多左脈流滑而大右肺柔軟而數舌質或光或白口味時甜時膩治法仍守前意無須更易法程</p>
<p>西洋參綠豆衣黑豆衣子芩扁石斛滁菊苗葉佩蘭葉括蔞子忍冬藤連翹炒知母桑葉</p>

<h2>又十三方（二十三日）</h2>
<p>前日便下不多昨日後下亦少二十多日之積垢尚不足以盡其余腑道失迫降之司腹笥有痛脹之狀六腑以胃為長胃氣以通為順胃氣窒則腑氣亦窒腑氣降則胃氣亦降胃少通腑少降得食之後脘宇為脹氣分淹留之邪亦難驟然廓清潮熱退掌心尚見焦灼自汗少盜汗反為殊多口甜膩舌少苔左脈大右脈軟孕耽五月病纏一月治法通陽明之腑藉此化氣分之熱</p>
<p>西洋參括蔞仁佩蘭葉生子芩彩雲粬扁斛綠豆衣黑豆衣川雅連淨銀花新會皮苗葉</p>

<h2>又十四方（二一十四日）</h2>
<p>大便連下三次所下仍形不暢腑中定有未盡之垢身體復熱三日掌心更覺煩灼氣分尚有淹留之邪口中時甜時淡時膩脘宇乍通乍窒乍脹頭覺暈眩舌中淡光自汗不少盜汗更多左脈弦大而數右脈滑大而數病勢遷延一月熊罷繫於五月身熱如此糾纏除邪如此繾綣牛由陰分之虧半由陽氣之亢餘燼未盡夙垢未下急難遽用滋養又難過用清涼不若仍用苦寒堅陰甘涼清氣為平穩也</p>
<p>西洋參銀花佩蘭葉生子芩炙枳殼知母吳萸炒川連連翹黑山梔焙滁菊扁石斛青蒿露代水煎藥</p>

<h2>又十五方（二十五日）</h2>
<p>自汁頗多氣分蒸騰之餘邪未盡化也盜汗更多陰分淹留之餘熱未廓清他自汗多則氣分愈傷盜汗多則陰分愈虧虧則易於生熱熱則肝陽易升噯氣頭脹乃肝病之確據發熱日渴窿虛之現象夙垢未去新垢又來兩次之更衣不足以盡其余口有甜味舌有薄白左脈弦滑右脈柔軟仍宜兩清氣陰略佐辛芳籍化濕濁</p>
<p>西洋參熟石羔知母佩蘭葉吳萸川連茯神扁石斛生子芩炙枳殼鮮佛手冬桑葉銀花青蒿露煎藥</p>

<h2>又十六方（二十六日）</h2>
<p>掌心熱足心亦熱自汗多盜汗亦多中宮自覺窒滯納食為之不加寤寐尚稱安寧口味又覺淡膩舌質蒲白里多外少脈象依然左大右小肺胃蒸騰之熱不易速化腸腑留蓄之垢又難遽清昨夜兩手麻木頭竅又覺暈脹耳有嗚響目無昏花陽明之絡為熱灼而致虛厥陰之風由液少而致動陰陽兩就其傷營衛兩不相治為寒為熱不得不防治法辛甘化風參用酸甘化陰氣分尚有留邪仍用石膏石斛以泄蒸騰之焰陰分猶有伏熱尚宜黃連黃芩以清遺余之燼</p>
<p>桂枝炒白芍淡甘草生子芩石膏川石斛明天麻吳萸炒川連炙枳亮西洋參滁菊佩蘭葉桑枝葉青篙露煎藥</p>

<h2>又十七方（二十七日）</h2>

<h2>又十八方（二十八日）</h2>
<p>表邪已解裡氣已通尚有氤氳之熱連出毛孔遂使汗泄漐漐動靜皆多病延三十多日懷吉亦有四五個月一身津液已為邪傷一團餘熱未獲消滅於是而補虛則熱不能化於是而清熱則虛不能任虛熱糾纏一至於此左脈虛軟而大右脈沉軟而滑舌質朝見薄膩暮見淡光口味時或淡膩時或乾燥治法半補其虛參用半清其熱　西洋參青蒿子奎白芍麥冬銀柴胡元參地骨皮佩蘭葉生子芩茯神忍冬藤扁斛</p>

<h2>又十九方（二十九日）</h2>
<p>手心熱足心亦熱自汗多盜汗亦多久熱則陰虧於內多汗則陽越於外陽不入陰寤不恬寐病後意中之事尚不足以為慮舌質外見淡光里見薄膩脈象左部數大右部滑數手臂時或酸楚頭竅時或脹滿三十多日之病纏津液豈有不耗四五個月之懷孕營陰安能充足氣分蒸蒸之熱述出於毛孔營分炎炎之火逼入於肝膽一半補虛一半清邪使正氣不為清而致虛則邪氣不為襯而樹幟</p>
<p>西洋參筧麥冬知母淨棗仁扁石斛忍冬藤淡甘草云茯神白芍焙滁菊生子芩元參心青蒿露煎藥</p>

<h2>又二十方（七月初一日）</h2>
<p>手心屬手少陰經足心屬足少陰經四肢又為諸陽之本熱勢劇於兩心四肢蓋熱久陰分之虧其源由陽氣之亢病機遷延三十除日懷孕亦有五個多月陰分虛者益虛陽氣亢者益亢氣分餘波之熱時消時長營分未盡之火忽照忽熄舌質中央淡光無苔脈象重按柔軟數大滋少陰之液以潛浮陽濡陽明之津以泄餘熱</p>
<p>紫丹參黃柏知母西洋參麥冬扁石斛生於芩白芍元參淡甘草云神忍冬藤青蒿露煎藥</p>

<h2>又二十一方（初二日）</h2>
<p>疹從營出㾦從氣化見回已過半月餘邪尚有淹留內則蔓延氣腑外則布散血絡滿面發現瘰壘手臂又見疿漯胸膺一帶亦有顯現發熱劇於手足兩心酸楚覺於左右兩腕動多自汗靜多盜汗脘不知飢頭有量脹迤邐三十多日懷孕五個余月薰蒸之熱氤氳於內浮炎之火迫現於外耗傷氣津消爍陰液舌質中光少苔脈象左大右數兩清氣營籍養陰液</p>
<p>西洋參人中黃茯神滁菊紫丹參生子芩扁石斛忍冬藤麥冬茅根絲瓜絡奎白芍青蒿露煎藥</p>

<h2>又二十二方（初三日）</h2>
<p>熱起於足之湧泉延及於手之勞宮有汗則衰無汗則盛納食之後脘字自覺滿脹熱甚之際頭竅又覺最脹動則自汁較少靜則盜汗尚多汗出沾衣身發痤疿者小節也疿者微瘰也癢如蟲行痛如針刺半由氣分未化之餘邪半</p>
<p>由血絡無形之風熱左脈虛弦而大右脈沉數而滑口渴朝劇舌質淡光清氣分之餘熱洩血絡之風熱</p>
<p>生首烏筧麥冬扁石斛西洋參黑荊芥生子芩綻穀芽甘中黃真滁菊炒白芍忍冬藤白茅根青蒿露代水煎藥</p>

<h2>又二十三方</h2>
<p>手足熱多屬陰虧頭暈脹確是陽亢陰既虛陽既亢營分虛熱易生氣分除邪愈留汗出見濕乃生痤疿有時癬癢有時疼痛得食院覺滿脹入夜寤少恬寐手臂時或酸楚身體時成罩熱左脈虛弦而大右脈沉數而滑口渴劇於上午舌光現於中央治法養胃中之津藉以潛身中之熱</p>
<p>生首烏石決明真滁菊甘中黃西洋參筧麥冬云茯神扁石斛生子芩綻穀芽荷葉梗忍冬藤青蒿露代水煎藥</p>

<h2>又預擬方</h2>
<p>有孕久病血液無有不傷有汗多熱陽津未始不耗氣液已由遷延而不復餘邪必淹留而未清諸病變出由此來也手足心熱獨高頭臂之癉極多時癢時痛純紅無白無非熱在陽明血絡舌光少苔淡而無絳不外虛在陽明氣津胎前宜涼病後宜清預擬涼血清氣以備善後調理</p>
<p>西洋參麥冬白芍綠豆衣扁石斛生子芩吉林參鬚真滁菊橘絡茯神茅根淡甘草大生地露代水煎藥</p>

<h2>申江徐蒼菽首方（六月初九日）</h2>
<p>左脈剛人右脈滑數前經舌質變遷無常現在舌質紅絳起刺病組十餘日之多痢下四五十之數近日熱去其七人痢行亦少其八九所勝之邪不過餘波未盡所傷之處在於陽津陰液潮熱或一日起一日平脘宇不煩悶又不知飢少腹自覺作痛並不窒滯推其病測其源蒸騰之火在氣鬱伏之熱在營偕伯陶先生擬兩清氣營保救津液未卜以為然否遠祈高明政服</p>
<p>秫米炒西洋參鮮石斛元參淨銀花甘中黃白芍粉丹皮准生地茯神川貝母白茅松竹心</p>

<h2>又二方（初十日）</h2>
<p>始病吸暑發熱下利數十多行陽津從熱而上耗陰液從利而下傷滿口皆糜滿舌皆絳投甘涼而津得復進鹹寒而液得生髮熱下利日益其滅口糜舌絳日益其退第熱勢一日作一日輟而苔一日絳一日白不食腕宇自覺知飢得食脘宇自覺窒滯寤則小寐寐則多夢咋日便下小有血塊今朝更衣未獲臨圊左脈大而且剛右脈大而且柔六部統按又見滑數剛大陽亢陰虧滑數熱熾痰盛病纏已越一月轉機已見七八所留之邪不過餘波所傷上處在於津液治法注重保律救液藉退亢陽而盡餘波錄方還希伯陶先生酌服</p>
<p>西洋參元參粉丹皮甘中黃銀花奎白芍川貝母茯神建蘭葉鮮石斛茅根生地露煎藥</p>

<h2>又三方（十一日）</h2>
<p>氣分之邪從毛竅外騰發現白瘖營分之熱從陰絡內注變滅下利氣分之瘖與傷寒茸聾不同營分之利與食滯腹痛亦異熱勢仍形一作一輟朝輕暮重利色依然半紫半塊政黑或溏白瘖露僅有兩朝胸膺密多手臂稀少種熱有十四日之久下利有四五十之多陽津從熱而耗陰液從利而傷舌質松白底尖紅絳有刺左脈來盛去衰右脈滑多數少暑中之穢無形無質所傷氣分蔓延無定濕中之痰有形有質妨礙氣機遷變不一清氣分之熱宜用甘涼潛營分上火宜用鹹寒有否的當仍希伯陶先生察覈政行</p>
<p>香犀尖紛丹皮銀花白茅根元參鮮石斛西洋參甘中黃建蘭綠豆衣蘆根竹二青</p>

<h2>又四方（十二日）</h2>
<p>身熱如潮如平白㾦時多時少脈象朝暮不同舌質旦夕亦異朝診之脈大勢較滅暮診之脈大勢復盛旦見舌質絳多白少夕見舌質白多絳少脈如是之動舌如是之變氣分終有邪營分又有熱白瘖多氣邪乘機外騰下血多營熱乘勢內泄所有伏邪不過餘燼無如熱現牛月之久益以利下數十次行津液大受戕耗餘邪不易廓清治法甘涼鹹寒藉以救津保液使津液日漸來復則餘邪日漸退舍錄方於左仍請伯陶先生斧政</p>
<p>西洋參人中黃丹皮元參銀花建蘭葉香犀尖白荷花鮮石斛茅根蘆根竹芯竹茹生地露煎藥</p>

<h2>又五方（十三日）</h2>
<p>昨夜熱度極高今晨脈象尚大胸次之㾦仍形不少利中之血尚見不多在之邪既由㾦而外騰在營之熱又從血而內泄熱度尚如許之高脈象尚如許之大一由陰分之不足一由陽氣之有餘淹留之邪尚難速化蒸騰之熱未易遽清舌質有變化不一餘燼有變遷無定氣分之熱必藉流行而始化營分之熱須俟血去而始清大旨清氣清營理所必需於救津救液尤不可廢酌錄數味仍請伯陶先生政行</p>
<p>犀角尖粉丹皮銀花元參心西洋參竹心竹茹甘中黃鮮石斛蘆根絲瓜絡真滁菊生地露煎藥</p>

<h2>又六方（十四日）</h2>
<p>身熱減不足言利不少而不多紫塊未盡白沫尚見臼㾦先發者已回續布者未退舌質朝見者紅絳晚見者白糜左脈大尚無沖和人氣右脈滑頗有柔軟之象氣分熱久而致耗營分利多而政傷有質之痰濁尚難廓然而清無形之蒸熱未易彌然而消狂瀾之勢雖倒餘波之燼未息務必津液日漸而來復方可餘燼日漸而而撲滅治法仍用甘涼鹹寒藉此可以保液泄熱錄方沿希伯陶先生削政</p>
<p>吞犀尖銀花連翹甘中黃鮮石斛元參粉丹皮茅根膚根西洋參竹心竹茹建蘭生地露煎藥</p>

<h2>又七方（十五日）</h2>
<p>昨日便下仍挾紫黑紅筋今晨未獲更衣身體發熱仍形忽潮忽平較前略覺輕些白㾦亦漸稀少舌質又少變動絳而不紫白而不糜左脈大勢未去重按如有柔軟之象右脈滑勢未減沉取頗有虛軟之形氣分蒸騰之火日形其退營分郁遏之熱日益其少惟已耗之陰液不易來復而未盡之餘燼尚難廓清現在治法仍宜恪守俾病機再無變動則法程或可更易綠備伯陶先生改政</p>
<p>西洋參生苡仁膚根粉丹皮鮮石斛扁豆衣竹茹竹心香犀尖甘中黃茅根元參心淨連翹建蘭葉生地銀花露煎藥</p>

<h2>又八方（十六日）</h2>
<p>氣分尚有淹留之邪自瘖或稀或密營分猶有鬱伏之熱利血忽多忽少朦朧之中汁縱溱溱肌腠日晡之後身體蒸蒸發熱左脈中取大而略斂重按頗軟右脈浮取滑而兼數沉按虛軟左尺部尚不垂露有盡部頗少藏蟄舌質時更時變朝暮忽絳忽糜為熱已久虛多邢少然餘邪一日不盡則滋補一日難投不如仍用甘涼鹹寒藉此亦可養津清邪錄方仍祈伯陶先生有道教政</p>
<p>西洋參元參心粉丹皮橘紅霍石斛茅根建蘭葉人中黃竹茹竹心犀角尖銀花淡秋石苗葉生地露煎藥</p>

<h2>震澤徐眉泉母（六月初六日）</h2>
<p>耳聾目痛匪朝伊夕頭暈軀麻由來亦久七十有九之高年五藏精衰之現象若非偏枯便有中風邇來右目紅腫視物加𥉂昨日身體發熱脘𩞄懊儂頃加嘔泛時或口燥舌質前半紅絳後半膩白脈象左手剛大右手數大肝膽之風大盤旋於上肺胃之暑濕估據其中清陽窒阻濁痰乘升逆通降更形妨礙羚羊犀靈介潛肝膽之風火以利清竅芩連沉降洩肺胃之暑濕以宣氣機犀角尖酒芩雲苓橘紅羚羊角竹茹川雅連佩蘭霍梗滁菊仙半夏荷葉</p>

<h2>又二方（初九日）</h2>
<p>內因心火肝火外因暑火濕火內外交攻互相交熾鼓動風陽蒙擾氣機右目紅而流淚視物有花左巨亦有流淚視物無花耳竅鳴而失聰身軀木而不仁七十有九歲五藏之精衰輕變為偏枯重變為中風脈象剛大較滅舌質紅絳亦少脘字𩞄雜肢軟力倦外因之火漸少內因之火尚多現在酷暑太亢一水不勝二人壯水之主以制陽光犀角鹹寒即是壯水黃連苦寒即是折火</p>
<p>犀角尖川雅連橘紅草決明滁菊桑葉羚羊角炒黃芩丹皮茯神苓佩蘭荷葉</p>

<h2>又三方</h2>
<p>陽動風升陰虛生火風勝則燥火炎則乾風從肝膽而出火自心腎而來燥在於津乾在於液煩擾懊儂手足掣動劇於暮夜瘥於日書本火上炎右目起紅流淚風動於絡右手發麻而木舌質前半光絳後半薄膩脈象左部弦滑右部柔軟痰韌厚不多出食糜粥尚少進陰愈延愈耗陽益升益熾耋年患此何堪維持鹹寒入陰介類潛陽即壯水之主以制陽光也</p>
<p>真滁菊奎白芍元參淡甘草茯神炙鱉甲石決明西洋參丹皮筧麥冬川貝生地露煎藥</p>

<h2>又四方</h2>
<p>身不發熱表無感邪便有更衣里無積滯有時煩躁有時懊儂煩躁出於心腎懊儂出於肝胃寐有恍惚裕有抽動左目紅而流淚右手木而且酸前半舌質色帶紫絳後半舌苔白而薄膩左部脈象弦滑右部脈象軟滑食不多進痰亦少出元陽內虛自覺熱者非真熱也孤陽外泄自覺冷者非真冷也陽動化風陰虛生火實是此症之原委介類潛陽以熄風鹹寒入陰以驅熱</p>
<p>西洋參麥冬龜版元參牡蠣真滌菊淡甘草丹皮鱉甲白芍川貝生地露</p>

<h2>又五方（七月朔日）</h2>
<p>燥萬物者莫熯乎人撓萬物者莫疾乎風真陰不足於下亢陽有餘於上陰即水也陽即火也陰虛不能制火陽動遂命化風風動於中火爍其氣煩冤懊儂𩞄抖善食人火無物不消故愈食愈𩞄心風無物不動故益動益制𩞄在於腹箭動在於經絡舌質前半淡光無津脈象左部弦大有力治法鹹寒甘涼藉以壯水潛陽</p>
<p>大生地阿胖火麻仁西洋參白芍云茯神川貝滁菊淮牛膝炙甘草麥冬冬桑葉</p>

<h2>南潯陳回生（六月初四日十歲）一</h2>
<p>前月初五日發現暑濕症樣迨至十五身涼瘖退始安不意二十五日　染暑穢涼風漸即身體發熱如炭繩至月杪忽涼忽熱有汗解肌癍疹密布現在熱勢朝輕暮重神氧奄奄似昏似寐稍涉酢醒語言清楚耳無聰聞舌有糜白左脈弦數右脈沈滑暑穢從上而受必傷氣分涼風由表而侵必阻經絡邪鬱氣分化痰化火腑失通降肝失潛藏寐醒為昏大便為閉冶法清氣清營藉以宣竅宣腑惟口或淡或甜定是濁蒙清陽辛苦氣味理所必需</p>
<p>香犀尖鮮生地知母元參佩蘭新會紅羚羊角石菖蒲銀花連翹滁菊紫雪丹</p>

<h2>又二方（初六日）</h2>
<p>濁邪轉從燥化舌糜為轉紅絳遍體斑疹漸次而回唇口乾燥亦漸滋潤神氣清爽煩潮未除耳竅仍無聰閒大便依然不下熱勢日輕暮重脈象人數右滑肺津胃夜兩就戕耗遺燼餘邪均未廊清十歲童體陰分數虧恰逢炎暑逼人一水不勝二火諸躁煩越皆從火出鹹寒甘涼清氣清營藉保肺津而存胃液鮮生地天花紛知母甘中黃滁菊元參心鮮苗葉西洋參紛丹皮茯神石決明川貝竹心霍斛湯煎藥</p>

<h2>又三方（初八日）</h2>
<p>熱勢或朝輕或暮劇唇日忽焦燥忽紅燥舌質旦夕遷變有時絳而少苔有時白而起屑脈象昔今相同左脈沉按數大右脈重取滑數煩擾懊儂乍有乍無身體轉側或動或靜蘊蓄穢濁於肺胃氣分蒸騰熱邪於肝膽營分發熱有十四日之久便閉有十二日之多濁邪既失下降清津不得上升甘涼清氣以生津鹹寒入陰以存液</p>
<p>鮮生地丹皮西洋參滁菊知母建蘭括蔞仁元參人中黃銀花川且竹心霍斛湯煎藥</p>

<h2>又四方（十六日）</h2>
<p>不下大便十六日已得更衣三四次腑氣藉以廓清留熱亦隨撲滅第邪熱退則止氣虛精神為之熱倦彩容為之消瘦耳聾更甚於前胃納更少於昔頭面發現癤毒舌質轉見淡光左脈視小右亦不大胃納一日不如增元陰一日不來復先賢所謂得谷則昌無熱可清有虛難補勢必先用甘涼務使濡養胃陰吉林參鬚銀花丹皮夏枯草橘紅元參生地連翹滁菊川貝淡竹葉人中黃</p>

<h2>束閣兜徐惠人夫人（六月廿九日）</h2>
<p>產育已有兩日除癉瘧發現七八日面蒼油亮脘瞀儂懊脈象小弦而動舌質淡光而白氣分蒸騰之邪外泄於七孔上焦胸膺之間瘖如水晶若見風動作厥便有陽越欲治法潛身中之陽以熄風參用清氣中之熱以保津</p>
<p>霍石斛銀花連翹西洋參石決明茯神青蒿子滁菊橘白川鬱金玟瑰露炒竹茹蘆根</p>

<h2>又二方（初二日）</h2>
<p>產後陽亢陰虧發現獨熱無寒一日作一日輟氣分氤氳之邪蒸騰於毛孔自汗漐漐頻出㾦現於頸項產逾兩旬熱近數候陽津陰液俱受戕耗脈象細中見弦弦中見數口味淡而兼苦苦而兼甜舌尖淡光舌根松白治法補其不足參用瀉其有餘</p>
<p>西洋參白芍淡甘草銀花黑豆衣茯神吉林參鬚綠豆衣橘白石決明苡仁扁豆衣霍斛</p>

<h2>苔溪徐佩卿郎（六月十八日）</h2>
<p>病機綿延匝月泄瀉糾纏兩旬身熱似已開涼神識尚夫清爽向有耳疾近來加以失聰累日納發現在勉進糜湯日湧痰涎所吐絡繹不絕舌質光滑根底略形灰膩終日寤不安寐統夜又不安寧左脈弦細而數右脈滑人而數陰分既山泄多而戕耗氣分尚有濁痰而未化陰分如此之虛濁痰如此之多治法</p>
<p>產後陽亢陰虧發現獨熱無寒一日作一日輟氣分氤氳之邪蒸騰於毛孔自汗漐漐頻出㾦現於頸項產逾兩旬熱近數候陽津陰液俱受戕耗脈象細中見弦弦中見數口味淡而兼苦苦而兼甜舌尖淡光舌根松白治法補其不足參用瀉其有餘</p>
<p>西洋參白芍淡甘草銀花黑豆衣茯神吉休參鬚綠豆衣橘白石決明苡仁扁豆衣霍斛</p>

<h2>苔溪徐佩卿郎（六月十八日）</h2>
<p>病機綿延匝月紲瀉糾纏兩旬身熱似已開涼神識尚未清爽向有可疾近來加以失聰累日納廢現在勉進糜湯口湧痰涎所吐絡繹不絕舌質光滑根底略形灰膩終日寤不安寐統夜又不安寧左脈弦細而數右脈滑大而數陰分既由泄多而戕耗氣分尚有濁痰而未化陰分如此之虛濁痰如此之多治法頗為牽制就輕尤為不易養胃津是為正當滌濁痰又是要著</p>
<p>霍石斛川貝茯神冬瓜子連翹苗葉扁豆衣橘紅竹茹陳膽星銀花參鬚</p>

<h2>又二方（十九日）</h2>
<p>頃診脈象左部細弦右部軟滑視其舌質外見淡光里見微白昨夜寤寐僅有一二點鐘語言錯亂依然紛紜不寧納食所進糜湯粒米難下濁痰所出不少稠韌異消陰分既由遷延而日耗氣分尚有留邪而未盡一半養胃中之津即是存陰一半潛胃中之熱即是滌痰</p>
<p>霍石斛川貝丹皮元參茯神淡甘草新會紅竹茹銀花膽星苗葉吉林參鬚</p>

<h2>郭守良</h2>
<p>暑濕傷及氣分瓜菓阻塞氣道氣鬱漸從大化火盛亦漸釀痰痰為有質之邪妨礙無形清氣升降之機失司常度身體發熱已將一旬飲食不進已有三日頭痛腹痛或有或無煩冤懊儂時起時平咳不多昨日吐痰已有盈蓋二更通有時日渴不多嗜飲脈象濡滯並不流通右寸關部沉取帶滑舌質薄膩尖不紅絳治法疏宣氣機籍以清化痰濁</p>
<p>羚羊角前胡青蒿茯苓姜半夏杏仁制川樸鉤鉤酒苓橘紅霍香梗竹茹</p>

<h2>又二方</h2>
<p>八歲之董體一旬之發熱脈濡滯而不數舌膩白而不燥今日胃納所進不多兩旬大便不獲更衣頭暈腹脹作輟無常煩冤疲倦動定不一咳嗆不多咯痰亦少形軀瘦怯面質萎黃暑濕傷氣瓜菓損中清升濁降由此失司脾運胃統亦為失職氣鬱必蒸熱邪郁必釀痰脈加是之澀舌如是之膩欲求就輕恐不易也苦溫燥濕辛芳化濁藉利脾胃而調升降</p>
<p>制川樸苡仁茯苓佩蘭姜夏杏仁綿茵陳佛手械紅營救酒芩姜茹神氣奄奄而熟睡熱勢蒸蒸而未退脈象濡滯轉為滑數舌質膩厚轉為薄白頭暈似有若無咳嗆忽作忽輟胃思食便尚通胃府尚有蘊蓄之濕大陰又有薰蒸之熱升降之機不獲常度輸化之氣又失真職熱勢為之淹流神氣為之受傷苦溫如嫌燥液辛涼猶恐傷表不如平淡為平穩也</p>
<p>川石斛橘紅山梔通草地骨皮茯苓生苡仁酒芩佩蘭銀花青蒿子竹茹</p>

<h2>朱鐵珊夫人（叔泉）</h2>
<p>寒少熱多問日而至雖非正瘧固憮妨礙瘧中邪勢獨熾遂使脘滿煩悶益以誤服鱔魚助熱桃子耗氣升降窒礙熱勢益劇日渴溲多今日瘧非臨期諸恙遽爾退舍所吃緊者孕已九月右脈滑大舌質薄黃清泄氣分利解少陽川雅連黑山梔酒芩廣皮青蒿梗知母鮮石斛軟樂胡枳殼速翹家蘇子荷</p>

<h2>又二方</h2>
<p>前日瘧期寒熱又來今日瘧期寒熱已去諸恙亦隨之而減脘宇竟未獲通暢舊恙脘痛乘機勃發胃納依然不能多進大便又阻寤寐亦少左脈弦數右脈滑大少陽陽叨餘邪未清治法扔川苦辛迎降</p>
<p>川雅連蘇梗廣皮扁石斛枳殼茯神瓜蔞皮知母酒芩黑山梔銀花荷葉</p>

<h2>又三方</h2>
<p>間日寒熱僅發三次不足以去其邪氤氳肺胃氣分煩冤懊膿滿悶欲噯頭面熇熱無汗口膩大渴引飲大便十五日不更衣小泄每周度數十行夜不安寐胃不增谷左脈細弦無力右脈數大而滑孕已九月津液耗熾治法注重甘涼藉以保津退熱</p>
<p>西洋參知母石膏玉蝴蝶茯神元參全瓜蔞子芩銀花黑山梔橘紅竹心</p>

<h2>又四方</h2>
<p>昨下大便已得更衣今日又復兩次所下甚夥膽胃垢濁廓燃一清前半夜寤不安寐後半宵寤欠安恬脘氣猶覺滿悶納食亦不多進舌白日燥身熱多汗左脈仍形細數右豚依煞滑數懷孕體瘦陰液本難維持炎日酷暑元氣何堪勝任治法仍用甘涼以冀熱退津復</p>
<p>西洋參橘紅子芩白杏仁茯神芽谷霍石斛連翹銀花瓜蔞仁知母竹心</p>

<h2>又五方</h2>
<p>左右脈象已見平均根底舌苔轉見簿膩前半夜雖能安寐後半夜未能熟睡胃不加納便不復通熱久陰液耗傷體虛血液枯耗腸為之燥胃為之乾遂使腸失傳道之司胃失化濁之機所以口中尚嫌膩濁脘宇尚覺窒滯治法仍用甘涼氣味合乎邪少虛多之計</p>
<p>西洋參佩蘭葉知母扁石斛括蔞仁酒芩生芽谷云茯神橘紅淨銀花青蒿子竹心</p>

<h2>長興董子文（三月甘七日）</h2>
<p>吐血根起六年屢發屢止咳嗆由來五載時作時休少年不足於陰有餘於陽失血愈耗其陰愈亢其陽陰虛生熱理所富然陽亢生火亦是常情近來稍積飲食陳腐亦能化熱與液相縛亦能化痰熱乃薰蒸之氣善於消鑠津液痰為重濁之邪易於窒礙升降脘宇自覺滿悶納食因之加廢腹笥時或嗚晌更衣由此秘結前經盜汗現在更多精神狼狽昏然如寐譫語哺哺手足掉掉痰黏如絲舌絳加火咽喉覺癢口渴恩飲左脈弦細而緊右脈弦細而數陰有內涸之勢陽有外越之象虛損至此豈不危險失血咳嗽固可從緩而圖身熱陽動是為目前之急治法鹹鹹育陰以驅熱介類潛陽姒媳風俾得陽平陰秘庶幾精寧神人無參秘石川貝牡蠣橘紅炙炙版牛膝龍齒茯苓鱉甲丹皮糯稻根</p>

<h2>又二方</h2>
<p>熱從虛出薄暮為劇汗從睡出黎明特甚納食累日如發神倦終夜欲寐有限之真陰愈延愈耗無形之亢陽益炎益升陰虛生火消鑠津液陽動化風走寬經絡手足時或振振欲掉舌中已見光剝無苔左肋自覺板滯大腹又見鳴響喉癢口渴氣逆痰韌左脈沉弦而細右脈柔軟而大春令萬物發陳陰陽維續為艱五日以內兩次寒熱設或舊態復作難免陽脫陰隨脘宇窒塞不舒其中必有積滯虛中挾實實中兼虛調治為難不可言喻為亟亟於補虛窒礙升降倘戰戰於瀉實妨害其元不如仍蹈前轍潛育為平妥也</p>
<p>西洋參龜版牡蠣鱉甲絲瓜絡新會紅旋覆花龍齒茯神芽谷川貝母冬桑葉浮麥湯煎藥</p>

<h2>又三方</h2>
<p>奪血者無汗奪汗者無血舊冬陽不潛藏有血而無盜汗今春陽氣升泄有汗而無失血血奧汗異出而同源也前經盜汗溱溱現在自汗涓涓朝熱之作劇於薄暮盜汗之多甚於曙光水虧不能涵木金虛不能制木左升為之太過右降為之不及脅有脹滿非有形之滯腹有鳴響是無形之氣氣余是火火即是氣氣火相傳銷津津液陰不戀陽陽不生陰陰陽相離精馳神動左手脈小弦而緊右手脈細弦而數真陰一日不復亢陽一日不斂欲求潛陽務在滋陰綠方即請吉士有道法政　綿嘗皮龜版牡蠣川貝茯神白芍淡甘草穭豆衣鱉甲龍齒橘絡紅（吉林參八分淡秋石四分）同煎另服浮麥湯煎藥</p>

<h2>申江邢鈞庵夫人（八月十二日）</h2>
<p>暑濕至秋分發現氣深遠固不能一表而散得汗即解初起又有積食久郁漸從痰化熱愈蘊愈熾痰益聚益多無形之熱流散無定有形之痰凝聚不移身熱乍輕乍重脘宇時窒時塞左脈數大右脈數滑舌薄色白渴不多飲日延已久邪非在氣清營分之熱滌氣分之痰</p>
<p>犀角尖丹皮連翹亮瓜蔞皮茯神絲瓜絡鮮生地銀花黑山桅冬桑葉蘆根竹二青</p>

<h2>又二方（十三日）</h2>
<p>伏暑之邪發於秋分發表固不能生效力攻裡亦不能見效臉身熱忽輕忽重脈象乍大乍小舌中已有剝痕舌底尚有薄黃脘宇猶覺滿脹不思納食腹笥仍或作痛大便溏薄當臍之下時或鳴響屈曲之間傳道失司余遺之積因之留滯兩清氣營藉保津液</p>
<p>犀角尖鮮生地連翹黑山梔通草冬桑葉羚半角粉丹皮銀花扁豆衣茯神鮮蘆根</p>

<h2>又三方（十四日）</h2>
<p>身體朝暮俱熱腹笥旦夕作痛痛在於下不在於中胃中之積滯已化腸中之垢滯未化滯既不去痛焉得休耳龔目掣寐不安穩少陽經尚有伏熱腸鳴溲少便不通鬯太腸腑尤失傳道發熱日延已多經行才過未久不獨氣分有熱難保營分無熱左脈弦數右脈滑大舌苔薄白尖色微絳治法仍宜兩清氣營犀角尖鮮生地茯神連翹川通草茅根羚羊角粉丹皮丹參銀花黑山梔蘆根</p>

<h2>又四方（中秋節）</h2>
<p>熱度高脈息數氣分有鬱火營分有伏熟便溏薄下不多腸中有穢滯傳化失常度滯不去腹必痛痛在於下不在於中積滯肌於腸而不阻於胃寐不多食亦微胃津已耗腎陰亦傷手指動耳竅聾肝膽風陽之見證也病纏已越兩旬經行未過十日營絡空虛愈虛愈熱清營紲氣率由舊章</p>
<p>犀角尖苡仁芽谷石決明桃仁黑山梔茅根鮮生地丹皮路路通連雲茯神舊根</p>

<h2>又五方（十六日）</h2>
<p>病熱已將匝月迅過未到一旬咋日又見覆來色現紫而帶燃此係離絡之瘀似非熱入血室不過經行之後營分未必無然熱度高而脈數氣分尚有餘邪大便通而不暢溏薄下而不多腹笥痛而且鳴胃納進而不多腸胃屈曲之處蓄之滯氣分之邪必待流而始衰營分之然須俟病去而始清率從舊章兩清氣血</p>
<p>犀角尖苡仁芽谷桃仁茺蔚子蘆根石決明鮮生地丹皮廾參黑山梔茅根連翹</p>

<h2>又六方（十七日）</h2>
<p>伏邪愈蘊愈深真陰益延益耗然不獨在氣而營分亦被其灼虛非特胃津而腎液亦受其戕熱鬱如此不易日就其衰津傷如此尤難日來其復經過復來色現紫黑營熱固屬無疑脘宇作痛當臍亦痛氣鬱概可相見左關部脈獨見指搏舌質滿苔薄膩而燥清氣營即是救津液宣氣化亦可調肝胃</p>
<p>西洋參金鈴子川鬱金丹皮連翹石決明木蝴蝶元參心云茯神芽谷茅根銀花露煎藥霍石斛湯過口</p>

<h2>又七方（十八日）</h2>
<p>身體朝熱暮涼寤寐畫多夜少胃納所入甚微更衣所出甚艱少陰之液既由遷延而日衰陽明之熱尚有淹留而莫化肝木乘機擾動不免凌脾侮胃或有中脘作痛或有少腹作疼泛事止而復來來而復止脈象左關摶指右關弦數舌質紅退而白尚存熱病以津液為材料津液賴穀食以資生治法不越養胃之旨</p>
<p>西洋參石決明桑葉茅根丹皮木蝴蝶真滁菊金鈴子茯神連翹元參葬谷湯煎藥</p>

<h2>又八方（十九日）</h2>
<p>昨夜交十二點鍾少腹痛更劇於前頃視舌苔前牛剝蝕更多於昔左部脈象大勢稍退右部脈象數勢未靜每餐所入水穀僅有三四調羹入夜所得之寐僅醒三四小時身熱時輕時重大便忽行忽止經泛才過營分必虛熱病既久氣分亦傷餘波之熱鬱遏之火畢竟未獲廓然而清胃津腎液失於敷布日中燥為渴而欲飲治法仍用甘涼養胃藉此可以恢復津液以胃為生機之總司尤為津液之源頭也</p>
<p>西洋參元參滁菊甘中黃茅根石決明剖麥冬連翹山梔牡丹皮桑葉芽谷湯煎藥</p>

<h2>又九方（二十日）</h2>
<p>繞臍作痛劇於夜半大便兩日不見其下身體發熱不甚猖熾口覺苦味渴不多飲胃納不多寤寐不少目睫盜汗沾濡於衣耳竅鳴響略形聰靈熱病久未始不傷津液經才過未必不傷營陰氣之邪營之熱固不易就其衰既云痛必有滯痛喜接必無積左脈弦緊而大右脈弦細而數舌質如昨法從舊章</p>
<p>西洋參元參心石決明青皮池菊茅根筧麥冬甘中黃穭豆衣丹皮桑葉芽谷湯煎藥</p>

<h2>又十方（二十一日）</h2>
<p>氣不平則腹鳴氣不通則腹痛鳴有水聲痛繞於臍大腸小腸屈折之處必有飲邪阻礙流動所謂痛必有滯滯必有痛滯常去而氣通通則不痛大便不下已有三日臍腹疼痛由陣而作痛主於氣愈聚愈散附以痛勢忽作忽輟熱病已久氣分已傷經過未遠營分亦虛左脈弦緊舌見點剝育氣液疏氣滯</p>
<p>西洋參丹皮茅根大腹皮元參心路路通剖麥冬白芍青皮小茴香石決明芽谷湯煎藥</p>

<h2>又十一方（二十二日）</h2>
<p>左脈弦緊之勢逐漸退舍右脈弦滑之形未見全去前半舌質紅絳少澤後半舌質膩白而鬆腸中時嗚時息臍腹時痛時止鳴必濁飲留聚痛必氣機窒郁欲使不暢甫有四日腸中不獨濁飲之阻亦且餘蓄之垢留而未去胃中津液亦受戕耗氣分氤氳之邪聚而未化痛為不通務在宣通參入甘涼養胃泄熱西洋參麥冬丹皮小茴香炒白芍冬瓜仁銀花元參心青皮茆根大腹皮柏子仁芽谷湯煎藥</p>

<h2>又十二方（二十三日）</h2>
<p>無形之氣聚腹為之痛有形之瘀阻腹亦為痛昨夜連次更衣所下尚少渣滓而痛勢不減於則其腸中定有蓄邪非特此也經行才過沖任空虛血絡易熱熱則不易歸經隨聚隨離於絡窒礙剩街不通作痛氣分余蘊之邪亦未廓清陽明津液之傷尤難來復右部脈象索滑舌質前絳後白緩劑宣通務使不痛</p>
<p>西洋參青皮麥冬絲瓜絡延胡烏賊骨金鈴子茆根茴芍九香蟲丹皮芽谷湯煎藥</p>

<h2>又十三方（二十四日）</h2>
<p>衝脈任脈皆麗於下大腸小腸皆位於下痛至繞臍與腸相連經行之後衝脈任脈無有不受影響積滯既久大陽小腸未始不受戕傷衝任虛則易熱腸腑傷則易滯滯為不通致令作痛熱能阻氣亦使作痛忽痛忽止乍嗚乍平於氣者多於滯者少左脈時弦時大右脈時緊時滑舌質朝白暮紅仿用通則不痛金鈴子旋覆花絳帛西洋參茆根辰砂染麥冬海螵峭小茴香炒白芍丹皮絲瓜絡青皮芽谷湯煎藥</p>

<h2>又十四方（二十五日）</h2>
<p>熱度低大邪可許廓清喉尚燥餘波未會撲滅環臍作痛緩而不止作輟無常輕重不一腸鳴似有若無更衣欲下不暢胃納未見加增寤寐仍不減少初痛在經久痛入絡痛在於臍與腸相連向來經來臍痛現在經過未久奇經衝任二脈未始不受影響在脈弦多大少右脈大少緊多舌質中絳邊白治法以通為主</p>
<p>旋覆花猩絳辰麥冬青皮茴芍絲瓜絡西洋參歸鬚金鈴子丹皮茆根青蔥管</p>

<h2>又十五方（二十六日是日貼洞天毓真膏）</h2>
<p>沖汪二脈起於少腹挾臍上行散於胸中痛起於少腹連及於中脘此痛在於衝任兩肺此脈隸於肝胃兩經沖主沖逆任主擔任經過之後衝脈空虛血不濡肝氣不充絡絡虛作痛狀似收縮劇於上午瘥於傍晚前經拒接現在喜按拒按屬實喜接屬虛腸嗚或起或平寤寐乍多乍少左脈弦而不張右脈滑而不數治痛不外乎通務使通則不痛</p>
<p>炒當歸猩絳西洋參辰砂染麥冬茴芍淮牛膝金鈴子青皮旋覆花延胡丹皮青蔥管</p>

<h2>又十六方（二十七日）</h2>
<p>沖為經脈之海挾任脈起於下焦任為陰脈之海與肝脈行於腹裡所以繞臍作痛關係衝任二脈有時痛連中脘亦是衝任氣逆以衝任二脈挾臍上行散於中焦也舌質轉形滋白津液有來復之機面色槁白無澤氣血無振作之象左脈弦勢未退右脈滑勢未盡痛為不通通則不痛仿此宗旨較為平善</p>
<p>當歸金鈴子青皮西洋參芝麻青蔥管茴芍延胡索猩絳旋覆花桑葉糯稻根鬚</p>

<h2>又十七方（二十八日）</h2>
<p>繞臍作痛兩日未會復見大便之秘五日不獲更衣臍痛出於衝任奧便秘無干涉便秘屬於腸胃奧臍痛無關係不過臍部與腸相近陽既窒滯升降妨礙一團之腹未必安然所以痛勢猶慮復萌前經臍痛狀似收縮甚而痛劇連及中脘是為痛久人絡牽及上下臟腑在脈細弦右脈弦滑舌質滋白日覺甜味治法大旨率從舊章</p>
<p>當歸直芍旋覆花新絳金鈴子淮牛膝青蔥管芝麻桑葉柏子仁青皮西洋參佩蘭葉</p>

<h2>又預擬續方</h2>
<p>熱病後氣分必傷經行後營分必虧大便乍行乍止腸胃輸級失司臍痛忽作忽輟腑絡流動失靈有形之津液日見來復未盡之餘熱日見廓清邪愈退正愈虛虛在氣血不在津液氣既虧血既少內不灌溉於臟腑外不充養於經絡力不易恢復神不易振作預擬兩益氣營務使日臻完然</p>
<p>炒富歸芝麻橘絡茯神淮牛膝糯稻根鬚紫丹參桑葉青皮白芍佩蘭葉吉林人參</p>

<h2>又預擬再續方</h2>
<p>預擬之方兩益氣營設或有生效力趁此進步原意增重其制以便續服女貞子丹參橘絡芝麻甘杞子淮牛膝海嫖蛸白芍茯神桑葉玉蝴蝶吉林參</p>

<h2>附陳蓮芳治光緒皇上案</h2>
<p>請得皇上脈左細弦帶數右濡細無力屬陰分有虧虧則生熱熱則食氣氣分遂弱所以營衛不利營爭為寒衙爭為熱微寒微熱由此而來心腎交羞有時遺洩有時少寐病情紛至沓來擾於肺則咳嗆口乾及於肝則頭暈耳鳴因之機關欠利筋骨痠痛更衣潤燥不定未能得暢惟不受補為從中挾濕停飲用藥之義偏溫納則礙陰偏滋膩則滯氣謹擬攝上下和表裡藉以標本兼顧北沙參霍石斛白芍茯神潼蒺藜淮山藥白蒺藜綿杜仲白蓮鬚紅棗法夏橘紅白歸身</p>

<h2>綠費純甫先生案</h2>
<p>痢疾多因感冒外邪挾素蓄之熱淆亂清濁清氣不升下利紅積腹痛賁響濁氣不降脘悶心煩飲食少進解表清裡風邪外解濕熱內清下痢自止李士材治痢九法意美法良但求止痢而不正本清源邪熱毫無出路蘊結於中氣液皆受燔灼口乾苔黃夜不成寐掌心內熱精神恍惚自覺難支邪氣蟠聚於內正氣散失於外脈來細弦而結脈有止歇氣機不相接續已著正不勝邪勢極危險喻嘉言治正虛邪實每用逆流挽舟之治轉危為安清解血熱化濕生津徐靈胎治痢尤為精當姑擬補正退邪</p>
<p>人參茯苓丹皮川石斛穀芽桑葉冬瓜子皮西洋參黃連白芍生甘草茆根黃芩</p>

<h2>復診第二方</h2>
<p>濕熱內蘊風邪外襲淆亂清濁升降失常下痢紅積腹痛賁響每日三四十行胸脘不舒飲食少進口乾舌黃掌心內熱已經八候病勢日增目畏火光精神恍惚陰液已傷胃矢宣布已可溉見脈象細弦而結脈症細參正不勝邪邪氣內照正氣外脫非可輕視姑擬生津泄邪清化濕熱法以望轉機</p>
<p>川雅連北沙參酒芩枳殼葛根大腹皮川石斛山查炭桔梗神麯赤苓荷葉蒂</p>

<h2>某</h2>
<p>操持煩勞五志陽動謀思遠慮七情陰傷乎素體質寒濕恆多每交長夏必有濕溫濕者陰邪陽勝者則寒濕無以羈留陽虛者則寒濕易於蟠聚可見寒濕之為病者正屬陽虛之明徵也去夏濕病以來輾轉反覆蟬聊交立春後春木萌動肝氣隨升肝奧胃為剋制肝動必侮胃胃窒必連艱敷布無權濕濁漸勝濕蒸陽則為痰濁凝陰則為飲痰飲多屬有形之物最易阻礙升降之道脾者富升而不升胃者當降而不降脾胃為表裡相生之機脾為陰土賴胃陽以煦之胃為陽土藉脾陰以濡之脾不升則胃家多燥而有火胃不降則脾家多濕而成飲火炎於上口燥咽乾有所來也飲停於中脘拒納廢自有至矣不納者已有浹旬胃液益延益耗脘拒者已將兩候中氣愈結愈錮痰阻氣痹飲為陰類陰者靜已從陽而動氣者陽也隨火而升所謂陽動則火升火升則飲升頃診左脈弦而帶澀弦主肝旺澀主血少右手三部均見沉滑沉為陰勝滑為痰多視其舌質膩白帶灰咽喉略紅而微覺痛無形之火一經炎上非發散可解非沉寒可降與六淫氣火回異有形之飲佔據乎中非辛香何以開之非甘溫何能燥之目前陰傷液耗原非辛香甘溫為善策氣傷飲阻豈敢遽投甘涼濡養然陰液不顧防有告竭之勢而飲邪不去者尤恐蔓延無已今當舉其要綱以胃虛木乘論治暫仿仲景代赭旋覆湯主之參入半夏湯以潤燥和胃且半夏亦有搜痰欲之功能但湯液不能下受恐難奏效</p>
<p>代赭石橘紅牛膝甘草白蜜丁香炒白芍旋覆花半夏刃豆穀芽生薑吉林參鬚</p>
