<header data-type="book">
<h1>中國藥物學大綱</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>伊豫平住</data></dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1936">公元1936年</data></dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十四冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>甘草</h1>
<p>（本經上品）</p>
<p>【釋名】根因味甘甜。遂名「蜜甘」、「蜜草」。蜜有沉香之一名。謂其氣味如蜜。此草最為眾藥之王。猶如香中有沉香。「蕗草」、「靈通」、「偷蜜」、「珊瑚」、「太嗷」、「美草」。以上名義未詳。國老。國老即帝師之稱。雖非君而為君所宗。</p>
<p>【各方記述】甘草枝葉。悉如槐。高五六尺。但葉端微尖而糙澀。似有白毛。結角子。扁如小豆極堅。齒齧不破。（略文）○今出山西省。汾州府。及南京省盧州府。福州府可共用。一種有稱阿蘭陀及朝鮮者。皆不堪用。○延喜式載常陸。陸奧出羽三國獻之。近世自甲斐出。與唐來者不少異。吾聞之出甲斐者。葉如藤。而尖有毛。</p>
<p>【辨別道地】今藥肆所稱豎鞭者。長大也。稱中鞭者。中細也。稱切込者。短也。稱良薑樣者。揀余之粗者也。稱藁甘草者。細小曲弦者也。時珍曰。大徑寸而結緊斷文者為佳。謂之粉草。選其壯大皮薄。色黃者。堅實緊文者為上。是藥肆所謂豎鞭也。</p>
<p>【修治】刮去粗皮銼用。製法頗多。宜從本方。生寒。炙溫。補中宜炙用。瀉火宜生用。指節頭三者皆生用。</p>
<p>【氣味】甘平無毒。</p>
<p>【功用】氣薄味厚。升而浮陽也。入足太陰厥陰經。通入手足十二經。白朮苦參乾漆為使。惡遠志。反大戟芫花甘遂海藻。忌豬肉。中滿嘔家酒家諸濕脹滿。咸不宜服。「梢」止莖中澀疼。「節」主癰疽。消腫導毒。</p>
<p>【主治】五藏六府寒熱邪氣。堅筋骨。長肌肉。倍氣力。金瘡⿺亢重（腫也）解毒。溫中下氣。煩滿短氣。傷臟咳嗽。止渴。通經脈。利血氣。解百藥毒。安和七十二種石。一千二百種草。主腹中冷痛。除腹脹滿。補益五藏。腎氣內傷。婦人血瀝腰痛。凡虛而多熱者用之。解小兒胎毒驚癇。降火止痛。</p>

<h1>黃耆</h1>
<p>（本經上品）</p>
<p>【釋名】耆。長也。色黃。為補藥之長。故名。「黃耆」今俗通作耆。「載糝」、「載椹」、「獨椹」、「芰草」、「蜀脂」。以上名義未詳。「百草」耆誤作蓍。乃蓍龜之蓍。音屍。今按稱百本。耆與蓍字相似。故誤名之乎。蓍一根百莖。謂百本亦疑此之謬乎。「王孫」、「百藥錦」義未詳。</p>
<p>【各方記述】黃耆葉似槐葉。而微尖小。又似蒺藜葉。而微闊大。青白色。開黃紫花。大如槐花。結小尖角。長寸許。根長二三尺。以緊實如箭簳為良。○松岡先生曰。和產有二種。生北國者。莖葉堅似木葉有毛。此本草所謂本黃耆。而不堪用。又有羊齒葉者。出關東。共木黃耆也。此二種。今人家藥圃多栽此二種。未知有真種也。京都北山中。間有之。東國呼之綿黃耆。以合漢名。○陳承曰。黃耆本出綿上者為良。故名綿黃耆。非謂其柔韌如綿也。○松岡先生曰。綿黃耆。形軟如綿絮以名之。謂產綿州故名誤矣。</p>
<p>【辨別道地】選單股不歧者。色潤柔軟。肉心黃。甘甜者用之。世多以苜蓿根充賣。謂土黃耆。不知苜蓿根。堅而脆。肉黃。黃耆軟而如棉。肉白。此為異耳。</p>
<p>【修治】去頭刮皮。以蜜水塗炙。亦有以酒或鹽酒炒之。酒欲其達表。又行其泥滯。鹽欲補腎。及崩帶淋濁達其下。</p>
<p>【氣味】甘微溫無毒。</p>
<p>【功用】味甘氣溫平。氣薄味厚。可升可降。陰中陽也。入手足太陰氣分。又入手少陽足少陰命門。茯苓為之使。惡龜甲白蘚皮。黃耆功能實表。有表邪者勿用。能助氣。氣實者勿用。能內塞。補不足。胸膈氣閉悶。腸胃有積滯者勿用。能補陽。陽盛陰虛者忌之。上焦熱甚。下焦虛寒者忌之。病人多怒。肝氣不和者勿服。疽瘡血分熱盛者禁用。</p>
<p>【主治】癰疽。久敗瘡。排膿止痛。大風癩疾。五痔鼠瘻。補虛。小兒百病。婦人子臟風邪。逐五藏間惡血。補丈夫虛損。五勞羸瘦。止渴。腹痛。泄痢。益氣。利陰氣。主虛喘腎衰。耳聾。療寒熱。治發背。內補助氣。壯筋骨。長肉。補血。破症癖。瘰癧。癭贅。腸風。血崩。帶下赤白。利產前後一切病。月候不勻。痰嗽頭風。熱毒赤目。治虛勞自汗。補肺氣。瀉肺火。心火。實皮毛。益胃氣。去肌熱。及諸經之痛。主太陰瘧疾。</p>

<h1>人參</h1>
<p>（本經上品）</p>
<p>【釋名】「人參」人參年深。參漸長者。根如人形有神。故謂之人參。浸亦浸漸之義。「黃參」、「血參」其在五參。色黃屬土。而補脾胃。生陰血。故名之。「人御」御乃參字之訛也。「鬼蓋」此草背陽向陰。故云「神草」。下有人參。上有紫氣。又曰搖光星散為人參。「土積地精」得地之精靈。故有此名。「海腴」、「皺面還丹」。二名未祥。或曰本邦產人參之地。深山陰谷。雖夏亦陰。冷氣甚而蚊蚋可以遁去故名。未知是否。</p>
<p>【各方記述】人參生上黨山谷。及遼東。上黨在冀州西南。今來者。形長而黃。狀如防風。多潤實而甘。俗乃重百濟者。形細而堅白。氣味薄於上黨者。次用高麗。即是遼東。形大而虛軟。不及百濟。並不及上黨者。其草一莖直上。四五相對。花紫色。高麗人作人參贊云。三椏五葉。背陽向陰。欲求求我。椵樹相尋。或云。椵。我邦謂登知者。未詳。○松岡先生曰。今人參。以朝鮮產為上。中夏次之。其中好惡真偽。互有之。形小而堅。色帶黃褐。嘗試之有餘味者。最為上。近來有判事手。此又有真偽。真判事。今無之。唐參中。以肥大而蠟色者充之。是女直參。近來稱唐參者。非韓參。而多是女直參也。此種今多渡日本。雜韓參以貨之。當審擇。○和產「小人參」始出自薩摩州。今處處有之。三椏五葉。四五月有花。細小紫白色。結子生青熟紅。根橫生。狀如竹節。其味太苦者多。甘者少。以甘者用之。其須嚼之。甘苦氣味微與人參相近。又名「三枝五葉草」。苗葉花狀。雖與圖經之說相合。根形不同。浸煎甘草湯。以代人參用之稱「蔓人參」者。羊乳根。而蔓生。花如鈴鐸。乃沙參類也。近來種防葵。以為人參。攝州「乎野人參」是也。稱「節人參者」。三七草根也。藝州有稱「山人參」者。真防風也。豫州稱「日振人參」。亦防風類而粗大也。近來有稱「鬘人參」者。出於東國。是亦小人參之類。而形狀長大於小人參也。稱「參葉」者。近年從朝鮮來。乃人參莖葉也。予屢用試之。其氣烈。其味苦。有肺熱者。用之猶有效。甚勝於砂參。而亦實非補大虛者。用者審之。「服人參」本草所謂湯參。近來有「切人參」者。亦此類也。</p>
<p>【辨別道地】選要肥大。塊如雞胝。並似人形。黃色者。乃藥鋪稱蝦樣者也。連皮者。黃潤色如防風。去皮者。堅白如粉。其似人形者。謂之孩兒參。尤多贗偽。市之貨者。隨品立名。曰土佐向單股好人參也。延喜式載人參。古既有之。今所用之和人參歟。將用沙參歟。不以可知焉。</p>
<p>【修治】去蘆頭用之。凡生用宜㕮咀。熟用宜隔紙焙之。浸水少焙。則柔韌而易銼。或醇酒潤透焙熟用。宜從本方。雖忌鐵器。不必在忌列。參頻見風日則易蛀。惟納瓦罐。雜細辛密封。可留經年不壞。</p>
<p>【氣味】甘微苦溫。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽中之陽。又曰陽中微陰。入手太陰經。與藜蘆相反。茯苓馬藺為之使。惡溲疏滷咸。畏五靈脂。惡皂莢黑豆。動紫石英。得升麻補上焦之元氣。得麥門冬則生脈。得乾薑則補氣。得黃耆甘草除大熱。若血證驟起。肺脈獨實。脹證暴成。九候堅強。痧疹初發。斑點未彰。傷寒始作。邪熱昌熾。血熱妄行。諸痛。不可驟用。邪氣方銳。宜散不宜補故也。</p>
<p>【主治】補五藏。安精神。定魂魄。止驚悸。除邪氣。明目開心益智。療腸胃中冷。心腹鼓痛。胸脅逆滿。霍亂吐逆。調中止消渴。通血脈症堅積。令人不忘。主五勞七傷。虛損瘦弱。止嘔噦。補五藏六府。保中守神。消胸中痰。治肺痿及癇疾。冷氣逆上。傷寒不下食。凡虛而多夢紛紛者加之。止煩躁。酸水。消食開胃。治氣。殺金石藥毒。治肺胃陽氣不足。肺氣虛促。短氣少氣。補中緩中。瀉心肺脾胃中火邪。止渴生津液。治男婦一切虛證。發熱自汗。眩運頭痛。反胃吐食。痎瘧滑瀉。久痢。小便頻數。淋瀝。勞倦。內傷。中風中暑。痿痹吐血嗽血下血血淋血崩。胎前產後諸病。「參蘆」苦溫。「主治」吐。虛勞痰飲人弱者。以參蘆代瓜蒂。</p>

<h1>沙參</h1>
<p>（本經上品）</p>
<p>【釋名】沙參白色。宜砂地。久服益氣。有參贊之功用故名。「白參」白色名之。「知母」莖有白汁如乳故名歟。未詳。「羊乳」根多白汁。俚人呼為羊婆奶。「鈴兒草」象花形也。「虎鬚」說同上。「苦心」此物無心。而味不苦。不知其謂也。「文希」、　「識美」、　「志取」三名未詳。因地名亦異。逐一不載之。</p>
<p>【各方記述】所所山。原有之。二月生苗。葉如初生小葵葉。而團扁不光。八九月抽莖高一二尺。莖上之葉。則尖長如枸杞葉。而小有細齒。秋月葉間開小紫花。長二三分。狀如鈴鐸。五出。白蕊亦有白花者。並結實。大如冬青實。中有細子。霜後苗枯。其根生砂地者。長尺余。大一虎口。黃土地者。短而小。根莖皆有白汁。</p>
<p>【辨別道地】今謂釣鍾草者是也。其草亦有杏葉與竹葉之別。花有紫白二種。而花狀根形。氣味不異。所所砂地有之。而今藥鋪。不別沙參與薺苨。而混售之。今唐來者。束細長根而為團。其色黃。謂之松沙參。然與時珍取說不合。今清亦用之。和產符合時珍說。則不為不佳。用者審擇之。「羊乳」根狀如薺苨而圓。大小如拳。上有角節。折之有白汁。人取根當薺苨。味甘潤。實大勝於砂參。不得止則代用人參亦可。今藥鋪稱弦砂參者也。「薺苨」「釋名」「杏葉砂參」根如砂參。而葉如杏葉。故呼之。「甜桔梗」梗甜葉如桔梗故名之。○今按沙參薺苨。形狀相似。其說亦相混同。救荒野譜。既謂本草所載之杏葉沙參。則分明一種也。欲知其臧否。則繙諸本草。可以審擇之。而今不云云。</p>
<p>【修治】去頭銼用。或少焙用。</p>
<p>【氣味】淡甘微寒。無毒。</p>
<p>【功用】入手太陰。足厥陰經。惡防己。反藜蘆。藏府無實熱。肺虛寒客之作嗽者。勿服。</p>
<p>【主治】血結驚氣。除寒熱。補中益肺氣。療胸痹。心腹結熱邪氣。頭痛皮間邪熱。安五藏。久服利人。「羊乳」、「主治」頭腫痛。益氣長肌肉。去皮肌浮風。疝氣下墜。治常欲眠。養肝氣。宜五藏風氣。補虛止驚煩。益心肺。並一切惡瘡疥癬。及身癢。排膿消腫毒。清肺火。治久咳肺痿。「薺苨」、「主治」解百藥毒。利肺氣。和中明目。止痛。主咳嗽消渴。強中瘡毒丁腫。沙參羊乳薺苨。一物別種。故功用亦有大同少異也。</p>

<h1>桔梗</h1>
<p>（本經上品）</p>
<p>【釋名】桔。結也。梗。綆也。其文縷結如綆也。因名。「白藥」、「梗草」、「薺苨」桔梗薺苨。乃一類有甜苦二種。故俗呼薺苨為甘桔梗也。</p>
<p>【各方記述】春生苗高尺余。葉似杏葉而長橢。四葉相對而生。嫩時亦可煮食。夏開小花。紫碧色。頗似牽牛花。秋後結實。根如指大。黃白色。花有柴白單千瓣者。宜用紫色單瓣者。</p>
<p>【辨別道地】凡使勿用木梗真如桔梗。咬之只是腥澀不堪用。根有細大。藥家謂小稱楊枝樣以貴之。然不可拘泥之。應用大小。俱選堅實肥白者。</p>
<p>【修治】刮去浮皮。及尖。浸米泔水一夜。切片。微炒用。或以百合搗爛同浸一日。銼碎微焙用。○今按在藥肆者。欲其色白。以米泔浸暴乾數日。則其色潔白。浮皮亦隨去。醫家再浸米泔一夜。則恐氣味倍薄。用者審之。宜只去頭銼用。或微炒亦可。</p>
<p>【氣味】苦辛微溫。有小毒。○氣味有諸說。繆仲淳曰。觀其主諸病。應是辛苦甘平微溫無毒。</p>
<p>【功用】味厚氣輕。陽中之陰升也。入手太陰肺經氣分。及足少陰經。節皮為之使。畏白及龍膽。忌豬肉。得牡蠣遠志。療恚怒。得硝石石膏療傷寒。白粥解其薟味。風症鬱症肺症。皆不可缺。若病氣逆上。與以補下焦藥中勿用。病不屬肺者。亦不益。○時珍曰。伏砒。節皮不知謂何物也。</p>
<p>【主治】胸脅痛如刀刺。腹滿腸鳴。幽幽驚恐悸氣。利五藏腸胃。補血氣。除寒熱風痹。溫中消穀。療喉咽痛。下蠱毒。治下痢。破血積氣。消聚痰涎。去肺熱。氣促嗽逆。除腹中冷痛。主中惡。及小兒驚癇。下一切氣。止霍亂轉筋。心腹脹痛。除邪辟瘟。破癥瘕。肺癰。養血排膿。補內漏。及喉痹。利竅。除肺部風熱。清利頭目咽嗌。胸膈滯氣。及痛。除鼻塞。治寒嘔。主口舌生瘡。赤目腫病。</p>

<h1>萎蕤</h1>
<p>（本經上品）</p>
<p>【釋名】「女萎」苗葉類冬青。但冬青凌冬不萎。故得獲女貞之譽。「葳蕤」崴蕤草本。葉垂之貌。此草多須如冠纓下垂之緌。而有威儀。故以名之。「萎䔟」䔟萎音相近。「萎香」未詳。「熒」其葉光瑩。而象竹。「玉竹」、「地節」其根多節。故有此名。「烏女」、「蟲蟬」未詳。</p>
<p>【各方記述】處處山中有之。其根橫生。似黃精差小。黃白色。性柔多須。最難燥。其葉如竹。兩兩相植。亦可採根種之。極易繁也。嫩葉及根。並可煮淘食茹。○黃精萎蕤相似。最難辨。黃精根如佛掌薯。葉青黃色。而長。萎蕤根長。莖亦如桃枝。葉短青白色。黃精葉尖。萎蕤葉如匕。二種共劈根長二三寸栽種也。子複種之易繁生。</p>
<p>【辨別道地】肆中名地黃樣黃精者是也。以肥潤而大為佳。○今按黃精萎蕤。性味功用。大抵相近。而萎蕤功為勝。然世人只知黃精之有功。而不知萎蕤之可用。況亦黃精不可用煎服。而今萎蕤代人參。故特舉之。而後黃精者也。</p>
<p>【修治】忌鐵。竹刀刮去節皮。蜜水浸蒸焙用。或微炒。或水浸飯上蒸透。或酒浸蒸透用。○今按此物。暴乾。經日難乾。甑上一蒸。當風日克干。不失潤。而後洗銼。從本方制之。今售藥肆。亦酒浸蒸用而良。</p>
<p>【氣味】甘平無毒。</p>
<p>【功用】能升能降。陽中陰也。入手太陰足太陰厥陰少陰經。甘入脾。柔潤入腎。畏滷咸。士材曰。滋益陰精。與地黃同功。增長陽氣。與人參同力。潤而不滑。和而不偏。譬諸盛德人無往不利。繆仲淳曰。純而不駁。和而不偏。有益無損。故無簡謬。可謂知萎蕤者也。</p>
<p>【主治】主中風暴熱。不能動搖。趺筋結肉。諸不足。久服去面黑䵟。好顏色。主潤澤。心腹結氣。虛熱濕毒腰痛。莖中寒。及目痛眥爛淚出。時疾寒熱。內補不足。去虛勞客熱。頭痛不安。補中益氣。除煩悶。止消渴。潤心肺。補五勞七傷。虛損腰腳疼痛。天行熱狂。服食無忌。主風溫自汗灼熱。及勞瘧寒熱。脾胃虛乏。男子小便頻數。失精。一切虛損。</p>

<h1>黃精</h1>
<p>（本經上品）</p>
<p>【釋名】以其得坤土之精粹。故謂之黃精。</p>
<p>【各方記述】苗葉與萎蕤相似。根如白芨。多生北方山中。大者苗高五六尺。根如拳。夏月開小白花。結子如⿱艹黍粒。</p>
<p>【辨別道地】肆中稱生薑樣黃精者。真也</p>
<p>【修治】洗淨後蒸。從巳至子。薄切暴乾用。</p>
<p>【氣味】甘平無毒。</p>
<p>【功用】忌梅實。</p>
<p>【主治】補中益氣。除風濕。安五藏。補五勞七傷。助筋骨。耐寒暑。益脾胃。潤心肺。補諸虛。填精髓。下三尸蟲。</p>

<h1>知母</h1>
<p>（本經上品）</p>
<p>【釋名】補陰藥用之。以其能知血之母故名。「蚳母」宿根之旁。初生子根。狀如蚳虻之狀故名。「連母」、「蝭母」蝭音擔。蚳訛為提。「水母」、「地參」、「水參」、「蕁」音覃。「莐藩」音沉煩。「苦心」、「兒草」諸名未詳。</p>
<p>【各方記述】葉如韭。花如韭。故一名韭。逢四月開青花。八月結實。</p>
<p>【辨別道地】和漢俱皆真。擇其黃色有毛。似菖陽而肥潤用之。腐者不可用。</p>
<p>【修治】須以竹刀去毛銼。勿令犯鐵器。損腎。引經上行用酒浸焙。下行鹽水潤焙。久炒如褐色。</p>
<p>【氣味】辛苦寒。無毒。</p>
<p>【功用】氣味俱厚。沉而降陰也。陰中微陽。入足陽明手太陰經氣分。得黃柏及酒良。能伏鹽及蓬砂。陽痿及易舉易痿。泄瀉脾弱。飲食不消化。胃虛不思食。腎虛溏泄等證。法並禁用。</p>
<p>【主治】消渴熱中。除邪氣。肢體浮腫。下水。補不足。益氣。療傷寒久瘧。煩熱。脅下邪氣。膈中惡。及風汗內疽。心煩躁悶。骨熱勞往來。產後蓐勞。腎氣勞。憎寒虛煩熱勞。傳屍疰病。通小腸。消痰止嗽。潤心肺。安心止驚悸。涼心去熱。治陽明火熱。瀉膀胱腎經火熱。厥頭痛。下痢腰痛。喉中腥臭。瀉肺火。滋腎水。治命門相火有餘。安胎止子煩。</p>

<h1>天麻</h1>
<p>（宋開寶）</p>
<p>【釋名】以形名。形如黃瓜。味辛而辣。故呼為瓜天麻。「赤箭芝」芝類莖如箭簳赤色。葉生莖端。遠見箭有羽故名之。「獨搖芝」有風不動。無風自搖。「定風草」二名以性異而名。「離母」、「合離草」二名以根異而名。「神草」、鬼督郵」以功而名。</p>
<p>【各方記述】葉如芍藥而小。當中抽一莖直上如箭簳。莖端結實。狀若續隨子。其根連一二十枚。猶如天門冬百部之類。四月開花。○今考中華產有葉。見和產一莖一花。如蔥花。而無枝葉。余皆相同。和產出奧州。他處未聞有之。</p>
<p>【辨別道地】和漢可俱用。破開明亮堅實者佳。</p>
<p>【修治】濕紙包於糠火中煨熱。取出切片。酒浸焙用。</p>
<p>【氣味】甘辛平。無毒。</p>
<p>【功用】苦平。陰中之陽也。入足厥陰太陽經。風藥多燥。風能勝濕故也。凡病人覺津液衰少。口乾舌燥。咽乾為痛。大便閉澀。病火炎上。頭暈。血虛頭痛及南方似中風。皆禁用之。</p>
<p>【主治】消癰腫。下支漏。寒疝下血。諸風濕痹。四肢拘攣。小兒風癇驚氣。利腰膝強筋力。治冷氣𤸷痹。攤緩不隨。語多恍惚。善驚失心。助陽氣。通血脈。治風虛眩暈頭痛。</p>

<h1>白朮</h1>
<p>（本經上品）</p>
<p>【釋名】有白朮。赤朮。故以名分之。術字篆文象其根乾枝葉之形。「山薊」其葉似薊。而味似姜芥。一名山芥。一名天薊。「揚枹」揚州多種白朮。其狀如鼓枹。故有揚枹抱薊之名。「馬薊」馬者以大名乎。「山姜」以形味而名「山連」未詳。「吃力伽」西域名之。</p>
<p>【各方記述】術有兩種。白朮梢大有毛。而無椏根。甜而少膏。可作丸散用。赤朮葉細無椏。根小苦。多膏可作煎用。春生苗。青色無椏。莖作蒿干狀。青赤色。長二三尺以來。夏開花紫碧色。亦似刺薊花。或有黃白色者。入伏後。結子。至秋而苗枯。根似姜。而旁有細根。皮黑心黃白色。中有膏液。○和邦稱白朮者。高一二尺。葉三葉。一朵似杏。而鋸齒。莖強直。四五月開青白花。形如夏枯草花狀。而中有子。是乃蒼朮也。</p>
<p>【辨別道地】和漢俱有之。而漢為真。今所渡者。合雲頭術。雞腿術之說。最為上品。一種稱片白朮。川白朮者。性味功用稍劣之。和邦蒼白二術。同一物。藥肆以老根為蒼朮。以嫩根為白朮。以售之。今醫家亦以老為白。以嫩為蒼而用之。俱皆不是。白朮可必用漢產。和產稱三好丸白朮者。乃蒼朮嫩根也。</p>
<p>【修治】浸米泔。去頭銼炒用。又土製。取陳壁土。或土器碎粉拌之炒過。篩去土而用之。其餘有蜜水薑汁乳汁之制。或曰白朮不必泔浸。暖胃炒用。其餘皆生用可也。</p>
<p>【氣味】苦甘辛溫。無毒。</p>
<p>【功用】味苦而甘。性溫味厚氣薄。可升可降。陽中之陰也。入手太陽少陰足太陰陽明少陰厥陰經。防風地榆為使。忌桃李。菜。青魚。雀肉。癰疽毒。禁用。為多生膿。白朮得中宮中和之氣。為除風痹之上品。然脾虛無濕者。用之卻致燥渴津液。大抵陰虛燥渴。少血骨蒸。痰嗽哮喘。唇燥咽塞。便閉滯下。肝腎攻藥。腹滿動氣者。切須忌之。</p>
<p>【主治】風寒濕痹。死肌痙疽。止汗除熱。消食。主大風在身面。風眩頭痛。目淚出。消痰水。逐皮膚間風水結腫。除心下急滿。霍亂吐下不止。利腰臍間血。益津液。暖胃消穀。嗜食。治心腹脹滿。腹中冷痛。胃虛下利。多年氣痢。除寒熱。止嘔逆。反胃。利小便。主五勞七傷。補腰膝。長肌肉。治冷氣痃癖氣塊。婦人冷癥瘕。除濕益氣。和中補陽。消痰逐水。生津止渴止瀉痢。消足脛濕腫。除胃熱肌熱。得枳實消痞滿氣分。佐黃芩安胎清熱。補肝風虛。主舌本強。食則嘔。胃脘痛。身體重。心下急痛。心下水痞。衝脈為病。逆氣裡急。臍腹痛。</p>

<h1>蒼朮</h1>
<p>【釋名】其色蒼黑故名之。術濁也。「赤朮」、「山精」、「仙精」術者。山之精也。服之令人長生。辟穀致神仙。故有名「山薊」。說見白朮條下。「茅君」、「寶篋」。茅。茅山也。術以茅山為好。君主也。寶篋。美稱也。</p>
<p>【各方記述】和產所所有之。和以有蒼朮。而無白朮。而已形狀於白朮條下謂之者。乃是也。若強分二術。則其根色白黃。而形如槌。味微苦甘而氣不烈者。可為白朮也。其根如姜。色黑蒼而味苦辛氣烈者。可為蒼朮也。予在東北西南諸州而親探之。屢致觀誤。謂有二術。而今熟思。則不然。其色蒼白。其狀小大。其味厚薄。是皆土地。而雖有少異。俱下物也。強勿分二術以用之。</p>
<p>【修治】製法。同白朮。蓋二術留皮者。當以米泔水浸半日。去粗皮。肆售者。多削淨。不可水浸。更泄性味。凡用不拘州土。惟白為勝。○或謂漢產多白。懲浸泔則雖脫亦生拙。按蒼朮生白者。非必懲。乃糖也。仲淳曰。真茅朮蒼朮。細而帶糖者也。不必脫去。而佳也。</p>
<p>【辨別道地】松岡先生曰。漢蒼朮氣烈多膏。不經制法。而卒爾用之。則發腹痛。宜克炒用。予亦屢試知之。製法粗則發腹痛。用者勿忽。予每療雀眼。用漢蒼朮。多得效。用和產則少見效。不知漢產多膏。故潤之而奏驗者歟。書以俟後日之案而已。</p>
<p>【氣味】辛烈苦溫。無毒。</p>
<p>【功用】甘而辛烈。性溫而燥。可升可降。陰中陽也。入足太陽陽明手太陰陽明太陽之經。使忌同白朮。功用亦相似。但止發之間。少有異。蒼朮氣重體沉。有雄壯上行之氣。故除上濕發汗之功最大。上能除濕。下安太陰。邪氣不傳入脾。若補中焦除濕力。大不及白朮。與白朮止汗時異。若無濕者。豈敢用哉。</p>
<p>【主治】風寒濕痹。死肌痙疽。作蒸餌主頭痛。消痰水。逐皮間風水結腫。除心下結滿。及霍亂吐下不止。暖胃消穀嗜食。除惡氣。弭災沴。主大風𤸷痹。心腹脹痛。水腫脹滿。除寒熱。上嘔逆。下泄冷痢。治筋骨軟弱。痃癖氣塊。婦人冷氣癥瘕。山嵐瘴氣溫疾。明目暖水藏。除濕發汗。健胃安脾。治痿散風。益氣。總解諸郁。濕痰留飲。或挾瘀血成窠囊。脾濕下流。濁瀝帶下。滑瀉腸風。</p>

<h1>遠志</h1>
<p>（本經上品）</p>
<p>【釋名】服之能益智強志。故有之稱。「小草」莖葉青色。而極細小。故名之。「細草」細小同意。「棘菀」、「葽繞」、「醒心枚」三名未詳。</p>
<p>【各方記述】和漢俱有之。俱皆真。和有大葉小葉兩種。以小葉者為是。和產所所有之。其苗細莖。其葉細小似黃楊。秋開細紫花。花鋪喚姬荻者。乃是也。</p>
<p>【辨別道地】皮有皺肉者良。</p>
<p>【修治】洗去土氣。以甘草湯浸一宿。去骨焙乾用。或浸薑汁。或浸酒。當隨本方。忌鐵器。</p>
<p>【氣味】苦溫無毒。</p>
<p>【功用】陰中之陽。可升可降。腎經氣分藥也。入足少陰。畏珍珠藜蘆蜚蠊蠐螬。得茯苓葵子龍骨良。心經有實火。為心家實熱。應用黃連生地黃者。禁與參朮等補陽氣藥同用。</p>
<p>【主治】咳逆傷中。補不足。除邪氣。利九竅。益智慧。耳目聰明不忘。強志倍力。利丈夫。定心氣。止驚悸益精。去心下膈氣。皮膚中熱。面目黃。殺天雄附子烏頭毒。治健忘。安魂魄。令人不迷。堅壯陽道。長肌肉。助筋骨。婦人血噤失音。小兒客忤。腎積奔豚。治一切癰疽。</p>

<h1>玄參</h1>
<p>（本經中品）</p>
<p>【釋名】玄黑也。其莖微似人參。故名。「黑參」、「玄臺」義同於上說。「鹿腸」、「正馬」、「逐馬」、「鬼藏」以上四味未詳。「馥草」合香家用之。故呼之。「野脂麻」以形名。</p>
<p>【各方記述】二月生苗。葉似脂麻對生。又如槐柳而尖長。有鋸齒。細莖青紫色。七月開花。青碧色。八月結子。黑色。○恭曰。玄參根苗。並臭。莖亦不似人參。未見合香。今按此說是也。</p>
<p>【辨別道地】和漢皆可用。選黑潤者用之。和產關東者。根最佳。諸州多有之。</p>
<p>【修治】用蒲草重重相隔蒸哂。勿犯銅器。犯之損人喉。喪人目。</p>
<p>【氣味】鹹苦無毒。</p>
<p>【功用】足少陰腎經。君藥也。惡黃耆乾薑大棗山茱萸。反藜蘆。血少目昏。停飲寒熱支滿。血虛腹痛。脾虛泄瀉。並不宜服。</p>
<p>【主治】腹中寒熱積聚。女子產乳余疾。補腎氣。令人明目。暴中風傷寒。身熱支滿。狂邪。忽忽不知人。溫瘧洒洒血瘕。下寒血。除胸中氣。下水止煩渴。散頸下核。癰腫。心腹痛。堅症。定五藏熱風頭痛。傷寒勞復。治暴結熱。散瘤瘻瘰癧。治遊風。補虛損。心驚煩躁。骨蒸傳屍。邪氣。止健忘。消腫毒。滋陰降火。解斑毒。利咽喉。通小便血滯。</p>

<h1>地榆</h1>
<p>（本經中品）</p>
<p>【釋名】其葉似榆而長。初生布地。故名。「玉豉」其花子紫黑色。如豉故名。「酸赭」其味酸。其色赭故名。</p>
<p>【各方記述】宿根三月內生苗。初生布地。獨莖直上。高三四尺。對分出葉。葉似榆葉。而稍狹細長。似鋸齒狀。青色。七月開花如椹。子紫黑色。根外黑裡紅。似柳根。</p>
<p>【辨別道地】用和產。近年花肆以苅萱稱和連茂加宇。不可以名同誤用。</p>
<p>【修治】宜生用。見火無功。</p>
<p>【氣味】甘酸苦寒。無毒。</p>
<p>【功用】氣味俱薄。其體沉而降。陰中陽也。入足厥陰少陰手足陽明經。得發良。惡麥冬。伏丹砂雄黃硫黃。性寒而下行。凡脾胃虛寒。作泄白痢。久而胃弱。胎產虛寒。泄瀉。血崩。並禁服。</p>
<p>【主治】婦人乳產。痓痛。七傷帶下五漏。止痛止汗。除惡肉。療金瘡。止膿血。諸瘻惡瘡。熱瘡。補絕傷。產後內塞。可作金瘡膏。消酒除渴。明目。止冷熱痢。疳痢。止吐血。鼻衄。腸風。月經不止。血崩。產前後諸血疾。並水瀉。治膽氣不足。汁釀酒。治風痹。補腦。搗汁塗虎犬蛇蟲傷。主內漏止血不足。</p>

<h1>紫草</h1>
<p>（本經上品）</p>
<p>【釋名】此草花紫根紫。可以染紫。故名。「紫丹」、「紫芙」、「茈䓞」、「𱾡」、「地血」、「鴉御草」諸名未詳。</p>
<p>【各方記述】種紫草。三月逐壟下子。九月子熟時。刈草。春社前後採根陰乾。其根頭有白毛如茸。未花時採。則根色鮮明。花過時採。則根色黯黑惡。採時以石壓扁曝乾。收時忌人溺及驢馬糞。並煙氣皆令草黃色。</p>
<p>【辨別道地】嫩而紫色染手者佳。</p>
<p>【修治】去根取茸細銼用。</p>
<p>【氣味】甘苦鹹寒。無毒。</p>
<p>【功用】入手足厥陰經。血分。苦寒能通利九竅。痙瘡家虛脾胃弱。泄瀉。不思食。小便清利者。俱禁用。</p>
<p>【主治】心腹邪氣。五疽。利九竅。通水道。療腫脹滿痛。以合膏。小兒瘡。及面皶。治惡瘡癬斑疹痘毒。活血涼血。利大腸。</p>

<h1>黃連</h1>
<p>（本經上品）</p>
<p>【釋名】其根連珠而色黃。故名。「玉連」、「支連」其根支連珠。故名。「滴膽芝」未詳。</p>
<p>【各方記述】苗高一尺以來。似菊。四月開花黃色。六月結實似芹子。色亦黃。大抵有二種。一種根粗無毛。有珠如鷹爪形而堅實。色深。一種無珠多毛而中虛。黃色稍淡。各有所宜。○用和產。和產亦有二種。其葉似菊。又似芹者。其根亦有細大。以菊葉者為勝。和產於賀州。佐州。常州。奧州。越州。藝州者。皆俱佳。</p>
<p>【辨別道地】揀色黃而肥大連珠者佳。根細者不佳。</p>
<p>【修治】去蘆及須。洗淨銼炒用。治本藏之火。生用。治肝膽之實火。以豬膽汁浸炒。治肝膽虛火。以酸浸炒。治上焦之火。以酒炒。治中焦火。以薑汁炒。治下焦之火。以鹽水或朴硝炒。治氣分濕熱之火。以吳茱萸湯浸炒。治血分塊中伏火。以乾漆水炒。治食積之火。以黃土炒。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣味俱厚。可升可降。陰中陽也。入手少陰經。黃芩龍骨理石為使。惡菊花玄參白蘚皮芫花白殭蠶。畏款冬牛膝。解巴豆輕粉附子毒。大忌豬肉。冷水。凡病人血少氣虛。脾胃薄弱。血不足。驚悸不眠。兼煩躁熱渴。及產後不眠。血虛發熱。泄瀉腹痛。小兒痘瘡。陽虛作泄。老人脾胃虛寒作瀉。陰虛腎泄。真陰不足。內熱煩躁諸證。咸忌之。</p>
<p>【主治】熱氣目痛。眥傷泣出。明目。腸澼腹痛下利。婦人陰中腫痛。主五藏冷熱。久下泄澼膿血。止消渴大驚。除水利骨。調胃厚腸。益膽。療口瘡。治止心腹痛。驚悸煩躁。潤心肺。長肉止血。天行熱疾。止盜汗。並瘡疥。治小兒疳氣。殺蟲。羸瘦氣急。鬱熱煩躁。噁心。心下痞滿。主心病逆而盛。心積伏梁。去心竅惡血。</p>

<h1>胡黃連</h1>
<p>（宋開寶）</p>
<p>【釋名】其性味功用。類黃連故名。「割孤露澤」胡語也。</p>
<p>【各方記述】出波斯國。海畔陸地。苗如夏枯草。根頭似烏嘶。折之內似鸜鵒眼者良。○和產一種之草。稱當藥。一名千振。秋開紫白花。細小而味甚苦。和俗採充胡黃連。謂其能殺蟲消積。小兒初生。加甘草代用甘連湯。以為習俗已久。謂之胡黃連。和方稱胡黃連者。皆當藥也。○今按胡黃連當藥可俱通用。和產比漢則氣味烈。而形狀雖異。是唯因其土地之有異。形氣有和烈不同。勿必疑焉。</p>
<p>【辨別道地】根似黃連。大而不黃。味苦。蘆亦似黃連。揀外黃心黑。干如楊柳枯枝。折之塵出如煙者。乃為真。</p>
<p>【修治】削去粗皮。銼。少焙用。</p>
<p>【氣味】苦大寒。無毒。</p>
<p>【功用】入足厥陰少陽經。惡菊花玄參白鮮皮。解巴豆毒。忌豬肉。使人漏精。按陰血大虛。真精耗竭。而胃氣俱弱者。雖見諸證。亦勿可輕投。不得已須與健脾安胃等藥同施為妥。</p>
<p>【主治】補肝膽。明目。治骨蒸勞熱。三消。五心煩熱。婦人胎蒸。虛驚。冷熱泄痢。五痔。厚腸胃。益顏色。浸人乳汁。點目。治久痢成疳。小兒驚癇。寒熱不下食。霍亂下痢。傷寒咳嗽。溫瘧。理腰腎。去陰汗。去果子積。</p>

<h1>黃芩</h1>
<p>（本經中品）</p>
<p>【釋名】芩。金也。黃色應秋金也。或曰芩黔乃黑黃之色。「腐腸」腹中皆爛故名。「內虛」有孔者名之。「妒婦」心黯故比之。「經芩」經宿同意。謂舊根乎。「黃文」、「印頭」、「苦督郵」三名未詳。「子芩」新根圓者多內實。條芩乃子芩也。「㹠尾芩」、「鼠」、「尾芩」皆以形名之。「宿芩」乃片芩破者名之。</p>
<p>【各方記述】苗長尺余。莖幹粗如筋。葉從地四面作叢生。類紫草。高一尺許。亦有獨莖者。葉細長。青色。兩兩相對。六月開紫花。根如知母粗。細長四五寸。</p>
<p>【辨別道地】有漢來無和產。一種有朝鮮黃芩。色味不如漢產。宜擇深色堅實者用。</p>
<p>【修治】刮去外表。內枵切片炒之。如得酒上行。得豬膽除肝膽火。得柴胡退寒熱。得芍藥治下痢。得桑皮瀉肺火。得白朮安胎。得厚朴黃連止腹痛。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣厚味厚。陰中微陽。可升可降陰也。入手太陰少陽經。山茱萸龍骨為之使。惡蔥實。畏丹砂丹皮藜蘆。凡中寒作泄。中寒腹痛。肝腎虛而少腹痛。血虛腹痛。脾虛泄瀉。腎虛溏瀉。脾虛水腫。血枯經閉。氣虛小水不利。肺受心邪喘咳。及血虛胎不安。陰虛淋露。法並禁用。</p>
<p>【主治】諸熱黃疽。腸澼泄痢。逐水下血閉。惡瘡疽。蝕火瘍。療痰熱。胃中熱。小腹絞痛。消穀。利小腸。女子血閉。淋露下血。小兒腹痛。熱毒骨蒸。寒熱往來。腸胃不利。破壅氣。治五淋。去關節煩悶。解渴下氣。主天行熱疾。丁瘡排膿。治乳癰發背。涼心。治肺中濕熱。瀉肺火上逆。療上熱。目中腫赤。瘀血壅盛。上部積血。補膀胱寒水。安胎養陰退陽。治風熱濕熱。頭痛。奔豚。熱痛。火咳。肺痿。喉腥。諸失血。</p>

<h1>柴胡</h1>
<p>（本經上品）</p>
<p>【釋名】柴古作茈。茈柴也。胡系也。以木代系相承也。「地薰」、「芸蒿」柴胡葉名。芸蒿。辛香可食。地薰名亦同義。「山菜」、「茹草」嫩則可茹。老則為柴故名之。山菜亦同義。</p>
<p>【各方記述】其苗葉有如竹葉者。乃和謂鎌倉柴胡者。而漢稱銀柴胡者也。藥肆名河原柴胡者。翻白草根也。名犁牛柴胡者。白頭翁根也。俱別物而誤謂之柴胡。翻白草白頭翁俱有主用。豈不辨別之哉。</p>
<p>【辨別道地】和漢可俱用。稱鎌倉者真也。可用之。○漢銀柴胡。形色黃白多皺。內有黃紋。</p>
<p>【修治】去蘆及須。以水洗淨銼用。勿令犯火。欲上升。用根。酒浸。欲下降。用梢。</p>
<p>【氣味】苦平微寒。無毒。</p>
<p>【功用】氣味俱輕。陽也。升也。陰中陽。手足少陽厥陰經引經藥也。半夏為使。惡皂莢蜀葵。畏藜蘆女菀。其性升而發散。病人虛而氣升者忌之。嘔吐及陰虛火熾炎者。法所同忌。瘧非少陽經者。勿入。亦無益精明目之理。用者審之。</p>
<p>【主治】心腹腸胃中結氣。飲食積聚。寒熱邪氣。推陳致新。除傷寒心下煩熱。諸痰熱結實。胸中邪氣。五藏間遊氣。大腸停積水脹。及濕痹拘攣。作浴湯。治熱勞骨節煩疼。熱氣肩背疼痛。勞乏羸瘦。下氣消食。宣暢氣血。主時候內外熱不解。除煩止驚。消痰止嗽。早晨潮熱。寒熱往來。膽癉。婦人產前後諸熱。心下痞。胸脅痛。諸瘧。及肥氣寒熱。婦人熱入血室。小兒痘疹餘熱。五疳羸熱。</p>

<h1>前胡</h1>
<p>（別錄）</p>
<p>【釋名】唐韻作湔胡。名義未詳。或云根似柴胡故名。</p>
<p>【各方記述】前胡有數種。唯苗高二三尺。色似斜蒿。葉如野菊而細瘦。嫩時可食。秋月開紫白花。類蛇床花。其根皮黑肉白。有香氣。今觀和產。無數種。予栽圃觀之。初生如野蜀葵而葉稍厚。色深青。其根生則不香甘。干則氣香味甘。自初生稍到長大。及老成。則葉形如不同。故誤謂有數種者也乎。</p>
<p>【辨別道地】和產可用。但香氣少者。性不佳。</p>
<p>【修治】水洗土氣。刮去蘆及髭。銼用。忌火。</p>
<p>【氣味】甘辛平微寒。</p>
<p>【功用】味薄氣清。陽中之陰。降也。入手足之太陰陽明經。半夏為之使。惡皂莢。畏藜蘆。凡前胡之功。皆有搜風下氣之效。然可施之有餘。而不可施氣虛血少之病。故陰火煎熬真陰凝痰發嗽。氣不歸元。以致胸脅逆滿。頭痛不因於痰。而因於陰血虛。內熱心煩。外現寒熱。而非外感者。法並禁用。明目益精。其理亦謬。</p>
<p>【主治】痰滿胸脅中痞。心腹結氣。風頭痛。去痰下氣。治傷寒。寒熱。推陳致新。去熱實。及時氣。內外俱熱。治一切氣。破癥結。開胃下氣。通五藏。主霍亂轉筋。骨節煩悶。反胃嘔逆。氣喘咳嗽。安胎。小兒一切疳氣。清肺熱。化痰熱。散風邪。</p>

<h1>防風</h1>
<p>（本經上品）</p>
<p>【釋名】防者。御也。其功療風最要。故名。「銅芸」、「回芸」未詳。「回草」其花如茴香。「屏風」防風隱語也。「䕡根」其氣如芸蒿䕡蘭也。「百枝」、「百蜚」名義未詳。</p>
<p>【各方記述】根土黃色。與蜀葵相類。稍短。莖葉俱青綠色。莖深而葉淡。葉似青蒿。而闊大。又似青蒿葉。而稀疏似茴香。開細白花。結實似胡荽子而大。○和謂防風者。有數種。削防風者。葉似牡丹。色淺綠。俗謂牡丹人參。其根大。削之而售。木防風者。嫩時為菜。莖青有香氣。乃防葵而非防風。又有濱防風者。葉如防葵而莖紫。而根長一二尺。黃白。生海濱砂地。栽之園圃。亦繁茂。味辛甘而無毒。是亦防葵類也。削濱俱與防風大異也。今謂山人參者。莖葉大似胡蘿蔔。乃真防風也。</p>
<p>【辨別道地】和漢俱有之。市中稱筆防風者。入藥宜用之。唐來者。陳舊而多蠹蛀。以黃色而潤者。可揀用。叉頭者。發狂。叉尾者。發痼疾。宜禁之。</p>
<p>【修治】水洗去蘆。及二歧黑皮。銼用或微焙。</p>
<p>【氣味】甘辛溫。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽也。入手足太陽經之本藥。又行足陽明太陰二經。為肝經氣分藥。畏萆薢。殺附子毒。惡藜蘆白蘞乾薑芫花。按脾虛氣逆。陰虛盜汗。陽虛自汗。溏泄不因寒濕等症。俱同忌。</p>
<p>【主治】大風頭眩痛。惡風。風邪。目盲無所見。風行周身。骨節疼痛。煩滿脅風痛。頭面遊風去來。四肢攣急。下乳。金瘡內癧。治三十六般風。男子一切勞勞。補中益神。風赤眼。止冷淚。及癱瘓。通利五藏。關脈。治上焦風邪。瀉肺實。散頭目中滯氣。經絡中留濕。主上部見血。搜肝氣。</p>

<h1>獨活</h1>
<p>（本經上品）</p>
<p>【釋名】獨。一也。活。生也。一莖直生。不為風搖故名。「羌活」羌地名。「羌青」、「獨搖草」此草得風不搖。無風自動。故名。「護羌使者」、「胡王使者」獨活似羌中來者為良。故有二名。「長生草」未詳。</p>
<p>【各方記述】時珍曰。獨活羌活。乃一類二種。以中國者為獨活。以西羌者。為羌活。李中梓曰。羌活獨活。本一物二種。正如川芎蕪芎。白朮蒼朮之義。入用微有不同耳。後人以為二物者非也。大明曰。獨活是羌活母也。和邦自古執此說。以不察羌獨元來有二種。以宿新分二活者也。</p>
<p>【辨別道地】獨活羌活。和漢俱有焉。和稱獨活者。宇土舊根也。和與漢。微似而大別。漢亦有二種。有節而如鞭者。無節而黑皮者。今以鞭節者為真。和比漢則形狀雖不同。和劑用來之久。而知其功之可用。則不可為非也。以漢來者為真。近年藥肆出真羌活者。殆逼真。予得一草。栽之。採根曝乾。其形狀氣味。俱不異。知是真羌活也。和稱羌活者。宇土新根也。故可用之。況亦和羌活。既用獨活。獨羌一物。主治亦相似。則不拘古方。而必並用。而惟用獨活亦可矣。</p>
<p>【修治】「獨活」洗土氣。去皮銼干。或焙用。「羌活」去黑皮腐爛用。</p>
<p>【氣味】「獨活」甘苦辛微溫。無毒。「羌活」苦辛溫。無毒。</p>
<p>【功用】獨活氣厚味薄。沉而升。陰中陽也。足少陰行經之藥。羌活氣味俱薄。而升陽。手足太陽引經風藥。入手足厥陰少陰經氣分。凡血虛頭痛。及偏身疼痛。骨痛。因而無寒熱者。此屬內證。誤用反致作劇。</p>
<p>【主治】風寒所擊。金瘡止痛。奔豚癇痓。女子疝瘕。諸風賊。百節痛風。無問新久。諸中風濕冷。奔喘逆氣。皮膚苦癢。手足攣痛。勞損風毒。齒痛。「羌活」治賊風失音不語。多癢。手足不遂。口面喎斜。遍身𤸷痹。血癩。「羌活」、「獨活」治一切風並氣。筋骨攣拳。骨節痠疼。頭旋目赤。疼痛。利五藏。及伏水氣。風寒濕痹不仁。諸風掉眩。頸難伸。去腎間風邪。搜肝風。瀉肝氣。治項強腰脊痛。散癰疽。敗血。</p>

<h1>升麻</h1>
<p>（本經上品）</p>
<p>【釋名】其葉似麻。其性升。故名。「周麻」周。或指周地。如今人呼川升麻之義。「落新婦」名義未詳。</p>
<p>【各方記述】春生苗。高三尺許。葉似麻葉。並青色。四五月花開似粟穗白色。六月以後。結實。根如蒿根。紫黑色。多須。○和產所在有之。花如粟穗白色。根赤小。而不似唐來之根大。而紫黑者。不可為真。又有一種。花紫色。如粟穗。葉如麻葉。莖有小毛。高三尺以來。根大而黑者。希有之。可以為真。又有形狀短小。花葉可愛者。花鋪稱淡雪。本草所謂落新婦。乃小升麻也。或以海根苧麻為升麻者。皆不是。</p>
<p>【辨別道地】和漢俱有之。漢來者。其形細而黑。極堅實。削去皮。青綠色者。謂之雞骨升麻。外黑裡白。堅實者。謂之鬼臉升麻。今肆中稱俱俱利者。形者。形如烏藥。可用之。近年藥肆出真升麻者。形狀殆逼真。但味微苦澀。恐少升提之功。</p>
<p>【修治】洗土氣。去頭節。黑皮及須腐爛。而銼用。忌火。</p>
<p>【氣味】甘辛苦平微寒。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽也。為足陽明太陰引經之藥。得蔥白白芷。入手陽明太陰。引石膏。止陽明齒痛。參耆非此引不能上行。同柴胡引生髮之氣上行。同葛根能發陽明之汁。凡吐血鼻衄。咳嗽多痰。陰虛火動。氣逆嘔吐。怔忡顛狂。上盛上虛症。切勿誤投。</p>
<p>【主治】解百毒。殺百精。闢瘟疫瘴氣。邪氣。蟲毒。中惡腹痛。時氣毒癘。頭痛寒熱。風腫諸毒。喉痛口瘡。疳䘌遊風。腫毒。小兒驚癇。熱壅不通。療癰腫。豌豆瘡。水煎綿沾拭瘡上。治陽明頭痛。補脾胃。去皮膚風邪。解肌肉間風熱。療肺痿。咳唾膿血。能發浮汗。牙根浮爛。惡臭。太陽鼽衄。為瘡家聖藥。消斑疹。行瘀血。治陽陷眩暈。胸脅虛痛。久泄下痢。後重遺濁。帶下崩中。血淋下血。陰痿足寒。</p>

<h1>苦參</h1>
<p>（本經上品）</p>
<p>【釋名】苦以味名。參以功名。「苦識」、「苦骨」以形與味名。「地槐」、「水槐」、「菟槐」、「驕槐」、「野槐」以葉如槐而名。「白莖」、「芩莖」、「綠白」、「陵郎」、「虎麻」皆以似色而名乎。</p>
<p>【各方記述】生苗高三四尺以來。葉碎青色。極似槐葉。春生冬凋。其花黃色。七八月結角。如蘿蔔子。角內有子二三粒。如小豆而堅。</p>
<p>【辨別道地】揀黃色指大。肉白。嚼之極苦者佳。</p>
<p>【修治】用糯米泔浸一宿。其腥穢氣。浮在水面上。須重重淘過。蒸乾。少入湯藥。多作丸服。治瘡浸酒。治腸風炒至煙起為末。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣沉純陰。足少陰腎經君藥也。又入手陽明足厥陰經。玄參為之使。惡貝母菟絲漏蘆。及藜蘆。伏汞。制雌黃。焰硝。此物雖能泄血中之熱。除濕熱生蟲為癘。然以其味大苦。氣大寒。久服損腎氣。肝腎虛而無大熱者。勿服。</p>
<p>【主治】心腹結氣。癥瘕積聚。黃疸。逐水除癰腫。明目止淚。除伏熱腸澼。止渴醒酒。小便黃赤。療惡瘡。下部䘌積酒飲。治疥殺蟲。治惡蟲脛酸。熱毒風皮。煩躁生瘡。赤癩眉脫。除大熱嗜睡。治腹中冷痛。中惡腹痛。殺疳蟲。炒存性。米飲服。治腸風瀉血。並熱痢。</p>

<h1>白蘚皮</h1>
<p>（本經上品）</p>
<p>【釋名】此草根白色。作羊膻氣。故名。「白膻」、「白羊鮮」、「地羊鮮」鮮者。羊之氣。以上諸名據之。「金雀兒椒」其子累累如椒。故有此名。</p>
<p>【各方記述】其葉似茱萸高尺余。根皮白。而心實。花紫白色。</p>
<p>【辨別道地】漢來者。真也。和無產。知者。市人乃剝木槿根皮。以假充真者。甚非是矣。</p>
<p>【修治】洗土氣。去粗皮。銼用。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣寒善行。味苦性燥。足太陰陽明經。去濕熱藥也。兼入手太陰陽明。惡螵蛸桔梗茯苓萆薢。凡得牛膝石斛薏苡仁黃柏蒼朮。療足弱頑痹。去下部濕熱。多加金銀花。佐以漢防己。治下部一切濕瘡。</p>
<p>【主治】頭風黃疸。咳逆淋瀝。女子陰中腫痛。濕痹死肌。不可屈伸。起止行步。療四肢不安。時行腹中大熱飲水。小兒驚癇。婦人產後余痛。治一切熱毒。風。惡風。瘡疥癬赤爛。眉發脫脆。皮肌壯熱惡寒。解熱黃。酒黃。急黃。谷黃。勞黃。通關節。利九竅。及血脈。通小便。水氣。天行時疾。頭痛眼疼。治肺嗽。</p>

<h1>延胡索</h1>
<p>（宋開寶）</p>
<p>【釋名】玄。言其色。胡言生胡國。索言其苗交紐也。「延胡索」本名玄胡索。避宋真宗諱改玄為延也。</p>
<p>【各方記述】三茅山西上龍洞種之。每年寒露後栽。立春後生苗。葉如竹葉樣。三月長三寸高。根叢生如羊卵樣。立夏掘起。</p>
<p>【辨別道地】有漢來而無和產。亦無偽雜。茅山玄胡索。如半夏。皮青黃。肉黃。形小而堅。此品最為佳。西玄胡索。大而皮黑。肉黃。此樣力微。</p>
<p>【修治】銼微炒用。上部酒炒。中部醋炒。下部鹽水炒。</p>
<p>【氣味】苦甘辛溫。無毒。</p>
<p>【功用】可升可降。陰中陽也。純陽浮也。入手足太陰厥陰經。活血氣之神藥也。然能走而不能守。故經事先期。及一切無血熱為病。凡崩中淋露。皆應補氣血。涼血。清熱則愈。一切辛走之藥。法所應禁。</p>
<p>【主治】破血。婦人月經不調。腹中結塊。崩中淋露。產後諸血病。血運。暴血衝上。因損下血。煮酒或酒磨服。除風。治氣。暖腰膝。止暴腰痛。破症癖撲損瘀血。落胎。治心氣小腹痛。散氣治腎氣。通經絡。活血利氣。止痛通小便。</p>

<h1>貝母</h1>
<p>（本經中品）</p>
<p>【釋名】形如聚貝子。故名。𦯶音萌。一作虻。謂根狀如虻也。「勒母」、「苦菜」、「苦花」、「空草」、「藥實」諸名義未詳。</p>
<p>【各方記述】二月生苗。莖細青色。葉亦青。似蕎麥葉。隨苗出。七月開花。碧綠色。形如鼓子花。八月採根。有瓣子。黃白色。此有數種。○和有一種。一干開白花。狀似百合。有芬芳可愛。葉如牛蒡葉。或有似南星葉者。根亦如百合。一顆大如龍眼。干則片片真如貝母。亦是貝母之類也。</p>
<p>【辨別道地】漢可用黃白輕鬆者為良。油黑重硬者勿用。獨顆非兩片者。名丹龍眼。不可入藥。誤服令人筋脈永不收用。黃精小藍汁合服立愈。今藥肆以粒小者為上品。以粒大者為下品。按本草無大小之辨。頤生微論。既謂選大者。則小為上之說。甚不可用也。</p>
<p>【修治】去心。糯米拌炒。米熟為度。或去心。銼浸生薑汁。日乾焙用。</p>
<p>【氣味】苦辛平寒。無毒。</p>
<p>【功用】陰中微陽。可升可降。陰也。入手太陰少陰經。厚朴白薇為之使。畏秦艽。反烏頭。俗以半夏燥有毒。代以貝母。不知貝母寒潤。乃太陰肺經之藥。肺為燥金。性喜潤。故專主肺家燥痰。半夏燥濕。乃太陰脾經。陽明胃經之藥。脾為濕也。性喜燥。故專主脾胃濕痰。兩者天淵。何可代乎。若痰在脾經。誤用貝母之潤。投以所惡。可翹首待斃灸。如南星半夏天麻蒼白朮茯苓類治之者。均非貝母之所司也。</p>
<p>【主治】傷寒煩熱。淋瀝。邪氣。疝瘕。喉脾乳蛾。金瘡風痙。療腹中結實。心下滿。洗洗惡風寒。目眩項直。咳嗽上氣。止煩熱渴。出汗。安五藏。利骨髓。消痰潤心肺。末和沙糖丸。含止嗽。燒灰油調傅。人畜惡瘡。斂瘡口。主胸脅逆氣。時疾黃疸。研末點目去翳。以七枚作末。酒服。治產難及胞衣不出。與連翹同服。主項下瘤癭疾。</p>

<h1>茅根</h1>
<p>（本經中品）</p>
<p>【釋名】茅葉如矛。故名。「茹根」其根牽連謂之茹。易曰。拔茅連茹是也。「蘭根」未詳。「地筋」根狀如筋。故名。</p>
<p>【各方記述】春生芽。布地如針。俗謂之茅針。亦可啖。其益小兒。夏生白花。茸茸然。至秋而枯。其至潔白。六月採之。</p>
<p>【辨別道地】茅有數種。所謂白茅。菅茅。黃茅。色茅。惟有茅針之根為藥。茅花亦入藥。</p>
<p>【修治】洗土氣。去皮節。銼用。或焙。忌鐵器。</p>
<p>【氣味】甘寒。無毒。</p>
<p>【功用】因寒發噦。中寒嘔吐。濕痰停飲。發熱。並不得服。</p>
<p>【主治】勞傷虛羸。補中益氣。除瘀血閉。寒熱。利小便。下五淋。除客熱在腸胃。止渴堅筋。婦人崩中。久服利人。主婦人月經不勻。通血脈。淋瀝。止吐衄諸血。傷寒噦逆。肺熱喘急。水腫黃疸。解酒毒。「茅針」（氣味）甘平無毒。（主治）下水治消渴。能破血。通小腸。治鼻衄。及暴下血。惡瘡癰腫。傅金瘡止血。「茅花」（氣味）甘溫無毒。（主治）煎飲止吐血衄血。並塞鼻。傅灸瘡不合。罨刀箭金瘡止血並痛。</p>

<h1>龍膽</h1>
<p>【釋名】葉如龍葵。味苦如膽。因為名。「陵遊」名義未詳。</p>
<p>【各方記述】宿根黃白色。下抽根十餘條。類牛膝。而短。直上生苗。高尺余。四月生葉。如嫩蒜。細莖如小竹枝。七月開花。如牽牛花。作鈴鐸狀。青碧色。冬後結實。苗便枯。俗呼草龍膽。又山龍膽。味苦澀。葉經霜雪不凋。與此同類。而別種也。</p>
<p>【辨別道地】和產可用。</p>
<p>【修治】銅刀切去須。及頭。銼細。甘草湯浸一宿。漉出。暴乾用。</p>
<p>【氣味】苦澀。大寒。</p>
<p>【功用】氣味俱厚。沉而降。陰也。足厥陰少陽經氣分藥也。其用有四。除下部風濕一也。及濕熱二也。臍下至足腫痛三也。寒濕腳氣四也。下行之功。與防己同。貫眾小豆為之使。惡地黃防葵。凡病脾胃兩虛。因而作泄者忌之。凡病虛而有熱者勿用。空腹服餌之。令人溺不禁。以其太苦。則下紲太甚。故也。</p>
<p>【主治】骨間寒熱。驚癇邪氣。續絕傷。定五藏。殺蟲毒。除胃中伏熱。時氣溫熱。泄下痢。去腸中小蟲。益肝膽氣。止驚惕。治小兒壯熱。骨熱驚癇入心。時疾熱黃。癰腫。口乾。客忤疳氣。熱狂。明目止煩。治瘡疥。去目中黃。及睛赤腫脹。瘀肉高起。痛不可忍。退肝經邪熱。除下焦濕熱之腫。膀胱火。療咽喉痛。風熱盜汗。</p>

<h1>細辛</h1>
<p>（本經上品）</p>
<p>【釋名】根細而味極辛故名之。「小辛」、「少辛」義同上。</p>
<p>【各地記述】葉似小葵。柔莖細根。直而色紫味辛者。細辛也。葉似馬蹄。莖微粗根曲。而黃白色。味亦辛者。杜衡也。一莖直上。莖端生葉。如傘。根似細辛微粗直。而黃白色。味辛微苦者。「鬼督郵」也。似鬼督郵而色黑者。「及己」也。葉似小桑根。根似細辛微粗長。而黃色。味辛而有臊氣者。「徐長卿」也。葉似柳而根似細辛。粗長黃白色。而味苦者。「白薇」也。似白薇而白直味甘者。「白前」也。或曰細辛根味極辛。有紫白二色。南部地方。有之。藥肆中往往以馬蹄香充之。非是。又有杜衡與馬蹄香相類。俱根粗而少辛味。本草注混二物為一。蓋繇不識杜衡也。杜衡其氣如蘼蕪。北地有之。或曰以加茂葵為細辛。其根甚辛。和俗稱細辛者。杜衡也。漢人亦混亂之。又山野二種。有根味似細辛者。俗稱細葉細辛者。應是白薇。拙按加茂葵味雖薄。亦細辛一類也。松岡先生曰。杜衡細辛一物也。按爾雅蘅。杜衡杜若之通名。而繫於芳草。本草有杜衡亂細辛之說。諸家因襲而不正。終杜衡細辛分為二物。不知杜衡莖葉。細辛是根也。猶莎草香附天麻赤箭荷藕大戟澤漆之例。分苗根之名。而非二物。（略下）先生此說。可謂解千歲之疑惑者也。</p>
<p>【辨別道地】和漢俱在焉。長直如發。習習辛辣似蜀椒者為真。和產以佐渡秋田為上。南部次之。今有薩摩。逼真可用之。</p>
<p>【修治】切去蘆頭。銼用。忌火。擇去雙葉者。服之害人。</p>
<p>【氣味】大辛溫。無毒。</p>
<p>【功用】氣厚於味。陽也。升也。入足厥陰少陰血分。為手少陰引經之藥。惡黃耆狼毒山茱萸。忌生菜貍肉。畏硝石滑石。反藜蘆。細辛燥烈。凡血虛內熱。因成頭痛咳嗽者。痛戒之。</p>
<p>【主治】咳逆上氣。頭痛腦動。百節拘攣。風濕痹痛。死肌。久服明目。利九竅。溫中下氣。破痰利水道。開胸中滯結。除喉痹。齆鼻不聞香臭。風癇癲疾。下乳。結汗不出。血不行。安五藏。益肝膽。通精氣。添膽氣。治嗽去皮風濕癢。風眼淚下。除齒痛。血閉婦人血瀝腰痛。含之去口臭。潤肝燥。治督脈為病。脊強而厥。治口舌生瘡。大便燥結。起目中倒睫。</p>

<h1>當歸</h1>
<p>（本經中品）</p>
<p>【釋名】當歸調血。為女人要藥。有思夫之意。故有此名。妊婦產後。氣血昏亂者。服之即定。能使氣血各有所歸。故名。「當歸」、「山蘄」、「白蘄」蘄古芹字。特以花葉似芹。故得名。「文無」古人相贈以芍藥。相招以文無。文無一名當歸。芍藥一名將離。</p>
<p>【各方記述】春生苗。綠葉。有三瓣。七八月開花。似蒔蘿。淺紫色。根黑黃色。以肉厚而不枯者為勝。今觀和產者。紫花少而白花多矣。</p>
<p>【辨別道地】和漢俱可用。和產大和越後者為良。出於大和者。本草所謂馬尾當歸也。出於越後者。本草所謂鑽頭當歸也。大和比較越後。則有滋潤。以可為勝。</p>
<p>【修治】凡用去頭尖硬處。並塵土。以水洗淨。切片。微焙。○行表酒洗。行上酒浸。頭止血。而上行。身養血而中守。梢破血而下流。全活血而不走。</p>
<p>【氣味】甘辛溫。無毒。</p>
<p>【功用】氣味厚。可升可降。陽中微陰。入手少陰足太陰厥陰經血分。惡䕡茹濕面。畏菖蒲海藻牡蠣生薑。制雄黃。與白朮芍藥生熟地則滋陰而補腎。與川芎則上行頭角。治血虛頭痛。入薏苡牛膝則下行足膝。治血不榮筋。同四物加炒黑姜炒黑豆澤蘭益母。治婦人產後百病。同地榆金銀花滑石紅曲。治帶下純血。里結後重。同牛膝鱉甲橘皮生薑。治瘧在陰分。久不止。然其性泥滯。風邪初旺。及氣鬱者。宜少用之。凡腸胃薄弱。泄瀉及一切脾胃病。惡食不思食者。並用禁之。即在產後胎前。亦不可用。</p>
<p>【主治】咳逆上氣。溫瘧寒熱。洗洗在皮膚中。婦人漏下絕子。諸惡瘡。煮汁飲之。溫中止痛。除客血內塞。中風痓。汗不出。濕痹中惡。客氣虛冷。補五藏。生肌肉。止嘔逆。虛勞寒熱。下痢。腹痛。齒痛。女人瀝血腰痛。崩中。補諸不足。治一切風。一切氣。補一切勞。破惡血。養新血。及症癖。腸胃冷。治頭痛心腹諸痛。潤腸胃筋骨。皮膚。治癰疽。排膿止痛。和血補血。主痿癖嗜臥。足下熱而痛。衝脈為病。氣逆裡急。帶脈為病。腹痛腰溶溶如坐水中。</p>

<h1>川芎</h1>
<p>【釋名】出蜀中。四川。故名之。元名芎藭。或云頭芎窿藭。高之象也。此藥上行。治頭腦諸疾。故有名。「胡芎」以胡戎者為佳。故名。「香果」香草故名。「山鞠窮」左傳曰。有山鞠窮。「蘼蕪」葉為蘼蕪。根為川芎。「撫芎」小者也。</p>
<p>【各方記述】生葉似水芹胡荽蛇床輩。作叢而莖細。其葉倍香。七八月開碎白花。如蛇床子花。根堅瘦。黃黑色。關中出者。形塊重實。作雀腦狀者。為雀腦芎最有力。</p>
<p>【辨別道地】和漢俱可皆用。有大葉小葉二種。大葉者。無香氣。乃撫芎也。和產丹後為上。山城大和次之。豐後為下。近歲有出於奧州者。形塊重實。里色白不油。嚼之微辛甘者。佳也。宜擇用。</p>
<p>【修治】洗土氣。去蘆頭。銼用。忌火。</p>
<p>【氣味】辛苦溫。無毒。</p>
<p>【功用】氣厚味薄。浮而升。陽也。少陽本經引經藥。入手足厥陰氣分。白芷為之使。畏黃連。伏雌黃。得細辛。療金瘡止痛。得牡蠣。療頭風吐逆。凡病人上盛下虛。虛火炎上。嘔吐。咳嗽不止。自汗易汗盜汗。咽乾口燥。發熱作渴。煩躁。法並忌之。</p>
<p>【主治】中風入腦。頭痛寒痹。筋攣緩急。金瘡。婦人血閉無子。除腦中冷動。面上遊風去來。目淚出。多涕唾。忽忽如醉。諸寒冷氣。心腹堅痛。中惡卒急。腫痛。脅風痛。溫中內寒。腰腳軟弱。半身不遂。胞衣不下。一切風。一切氣。一切勞損。一切血。補五勞。壯筋骨。調眾脈。破癥結。宿血。養新血。吐血。鼻血。溺血。腦癰發背。瘰癧癭贅痔瘻瘡疥。長肉排膿。消瘀血。搜肝氣。補肝血。潤肝燥。補風虛。燥濕止瀉痢。行氣開鬱。蜜和大丸。夜服治風痰。齒根出血含之。</p>

<h1>藁本</h1>
<p>（本經中品）</p>
<p>【釋名】本。根也。根上苗下似禾藁。故名。「藁茇」山海經名之。「鬼柳」、「鬼新」、「微莖」三名未詳。</p>
<p>【各方記述】葉似白芷。又似水芹而大。五月有白花。七八月結子。根紫色。</p>
<p>【辨別道地】漢來者。有二種。稱𭕲牛樣者。真也。稱川芎樣者。非真。多用大葉。芎藭根假偽者也。</p>
<p>【修治】洗土氣。去蘆銼。少焙用。</p>
<p>【氣味】苦辛微溫。無毒。</p>
<p>【功用】氣厚味薄。升也。陽也。足太陽本經藥。惡䕡茹。畏青葙子。與木香同用。治霧露之清邪中於上焦。既治風。又治濕。各從其類也。若溫病頭疼發熱口渴。或骨疼。及傷寒發於春夏。陽證頭疼。產後血虛火炎頭痛。皆不宜服。</p>
<p>【主治】婦人疝症。陰中塞腫痛。腹中急。除風頭痛。長肌膚。悅顏色。闢霧露。療風邪軃曳。金療。治一百六十種惡風。鬼疰流入。腰痛冷。小便通血。去頭風䵟皰。太陽頭痛。巔頂痛。大寒犯腦。痛連齒頰。頭面身體皮膚風濕。督脈為病。脊強而厥。治癰疽排膿內塞。</p>

<h1>白芷</h1>
<p>（本經上品）</p>
<p>【釋名】「白茝（音芷）」齊謂之茝「芳香」、「澤芬」生於下澤有芳香。故名。「苻蘺」楚謂之蘺。「䖀」晉謂之䖀。「莞（音管）」　「葉名蒿」、「麻藥」楚謂之藥。</p>
<p>【各方記述】春生葉相對。婆娑紫色。闊三指許。花微黃。入伏後。結實。立秋後。苗枯。二八月採曝。根長尺余。粗細不等白色。○和產苗高三四尺。莖葉類川芎而甚大。花實亦似川芎。而葉比川芎則薄。而有香氣。採者詳之。</p>
<p>【辨別道地】和漢可俱用。和產以石見為上。山城長池多種之。皆為真。有黃澤而不蛀蠹者。宜擇用。</p>
<p>【修治】市人截片。削以石灰拌勻曬收。欲其不蛀。而色白。用時水洗淨。銼用。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】氣味俱輕。陽也。手陽明引經之藥。當歸為之使。惡旋覆花。制雄黃硫黃毒。其性升而溫。嘔吐因於火者。禁用。漏下赤白陰虛火熾血熱所致者。勿用。癰疽已潰。宜漸減去。</p>
<p>【主治】女人漏下。赤白。血閉陰腫。寒熱頭風。侵目淚出。長肌膚。潤澤顏色。可作面脂。療風邪久渴。吐嘔。兩脅滿。頭眩目癢。可作膏藥。治目赤弩肉。去面皯疵瘢。補胎漏滑落。破宿血。補新血。乳癰發背。瘰癧腸風痔瘻瘡痍疥癬。止痛排膿。能蝕膿。止心腹血刺痛。女人瀝血腰痛。血崩。解利手陽明頭痛。中風寒熱。及肺經風熱。頭面皮膚風痹。燥癢。治鼻淵鼻衄。齒痛眉稜骨痛。大腸風秘。小便出血。婦人血風。眩運。翻胃吐食。解砒毒。蛇傷刀箭金瘡。</p>

<h1>芍藥</h1>
<p>（本經中品）</p>
<p>【釋名】綽約美好貌。此草花容綽約。故名。其花根能制食毒。故有藥名。「將離」芍藥離草也。「犁食」、「白朮」未詳。「余容」花色嬌嫩可愛故名。「金芍藥」花白者也。「木芍藥」花赤者也。「小牡丹」花千葉者也。「花相」以牡丹為花王。以芍藥為宰相。</p>
<p>【各方記述】春生紅芽。作叢。莖上三枝五葉似牡丹而狹長。夏初開花。有紅白紫數種。秋時採根。</p>
<p>【辨別道地】有和漢而漢可用。聞信州產山錫杖。又謂之土鴉結皮。掘採貨四方。花葉如單瓣芍藥而微異。即草芍藥也。吾豫州山間。有稱芍藥者。其花多淡紅。或白單瓣。而與家園者不少異。唯葉厚類牡丹。根色白。銼之則變灰色。此信州謂土鴉結皮者乎。子向以山芍藥。移栽家園。入初夏。已開花。花謝結實。到深秋而實熱。四折則其子深硃色。大類通草實。而與芍藥為異。予始知信州所以稱土鴉結皮者是也。鴉者。朱也。皮者。實也。皮實通訓。則朱實也。所以山芍藥。亦與通草為同訓矣。所謂土者。賤稱也。以是考之。則山產與家園者。似則雖似。而不同也。用者。宜明辨審詳之。又藥肆出字田芍藥。其色白。出於信州之類。而非真。近年藥肆出真芍藥。為蒸熟堅扎者。而其形狀色味逼真。如乏唐無則用亦可也。今觀唐來者。其色皆赤。而未見白者。方書以赤白分稱之者。所謂從花色歟。未詳焉。</p>
<p>【修治】水浸去蘆頭。銼焙。忌鐵。多生用。避其寒。酒炒入。血藥醋炒。血虛者煨用。</p>
<p>【氣味】苦酸寒。無毒。</p>
<p>【功用】氣薄味厚陰也。降也。為手足太陰行經藥。入肝脾血分。須丸（別本作雷丸）為之使。惡石斛芒硝。畏硝石鱉甲小薊。反藜蘆。同白朮補脾。同芎藭瀉肝。同人參補氣。同當歸補血。同甘草止腹痛。同黃連。止瀉痢。同防風發痘疹。同姜溫經散濕。凡中寒腹痛作泄。腹中冷痛。腸胃中覺冷等證忌之。及泄瀉。產後惡露已行。少腹痛已止。癰疽已潰。並不宜服。</p>
<p>【主治】邪氣腹痛。除血痹。破堅積。寒熱疝瘕。止痛利小便。益氣。通順血脈。緩中散惡血。逐賊血。去水氣。利膀胱大小腸。消癰腫。時行寒熱。中惡腹痛。治藏府擁氣。強五藏。補腎氣。治時疾骨熱。婦人血閉不通。能蝕膿。女人一切病。胎前產後諸疾。治風補勞熱。退熱除煩。益氣。驚狂。頭痛。目赤明目。腸風瀉血。痔痿發背。瘡疥。瀉肝安脾肺。收胃氣。止瀉利。固腠理。和血脈。收陰氣。斂逆氣。理中氣。治脾虛中滿。心下痞。脅下痛。善噫。肺急脹逆喘咳。太陽鼽衄。目澀。肝血不足。陽維病。苦寒熱。帶脈病。苦腹痛滿。腰溶溶如坐水中。止下痢。腹痛後重。</p>

<h1>牡丹皮</h1>
<p>（本經中品）</p>
<p>【釋名】牡丹乃天地之精。為群花首。花為陰成實。葉為陽發生。丹系赤色。能瀉相離陰中之火。故名。「藥根皮」、「鼠姑」、「鹿韭」、「百兩全」以上名義未詳。「木芍藥」花似芍藥。宿干似木故名。「花王」群花中以牡丹為第一故名。</p>
<p>【各方記述】花有黃紫紅白數色。其莖黑白色。二月於梗上生苗葉。花瓣止五六葉爾。五月結子。黑色。類母丁香。根黃白色。可長五六寸。大如筆管。二八月採根。陰乾用。</p>
<p>【辨別道地】和產可用。不必拘山產。家園。而可以花美者為佳。古人謂牡丹。惟取紅白單瓣者入藥。非必是。和產山城大和多種出之。而今以山城大和為上。以攝津為中。但州信州亦出之。赤者利血。白者補人。揀肉厚者。可用之。</p>
<p>【修治】洗土氣。以銅刀劈破。去骨。酒洗微焙。</p>
<p>【氣味】苦辛微寒。無毒。</p>
<p>【功用】陰中微陽。入手厥陰足少陰經。畏具母。大黃。菟絲子。忌蒜胡荽。伏砒。四物湯加之。治婦人骨蒸。血分伏火。非此不除。凡婦人血崩。及經行過期不淨。並忌與行血藥同用。</p>
<p>【主治】寒熱中風。瘛瘲驚癇。邪氣。除症堅瘀血。留舍腸胃。安五藏。療癰瘡。除時氣。頭痛。客熱。五勞。勞氣。頭腰痛。風噤癲疾。治冷氣。散諸痛。女子經脈不通。血瀝腰痛。通關節血脈。排膿消撲損瘀血。續筋骨。除風痹。治胞下胎。產後一切冷熱血氣。治神志不足。無汗之骨蒸。衄血吐血和血生血涼血。治血中伏火。除煩熱。</p>

<h1>木香</h1>
<p>（本經上品）</p>
<p>【釋名】木香。草類也。本名蜜香。因其香氣如蜜也。緣沉香中。有蜜香。遂訛此為木香。「蜜香」如上說。「青木香」後人因呼馬兜鈴根。為青木香。乃呼此為南木香。廣木香。以別之。「五木香」乃青木香也。一株五根。一莖五枝。五葉。葉間五節。故名之。「南木香」說見青木香下。</p>
<p>【各方記述】有數種。葉似羊蹄而長大。亦有如山藥而根大。開紫花者。不拘時月採根芽為藥。宗奭曰。常自岷州出塞。得青木香。持歸。葉如牛蒡。但狹長。莖高二三尺。花黃一如金錢。其根即青木香也。此種和亦有之。其根不香也。不可謂真。</p>
<p>【辨別道地】漢來者。狀如枯骨。味苦黏牙者。為良。</p>
<p>【修治】以竹刃剝去土氣。洗銼用。忌火。凡入理氣藥。只生用。若欲止瀉。須以面里煨熟用。</p>
<p>【氣味】苦辛溫。無毒。</p>
<p>【功用】氣味俱厚。沉而降。陰也。味厚於氣。陰中陽也。三焦氣分藥。能降諸氣膹郁。肺虛有熱者。心痛屬火者。禁用。</p>
<p>【主治】邪氣。闢毒。強志。主淋露。久服不夢寤魔寐。消毒殺鬼精物。溫瘧蠱毒。氣不足。肌中偏寒。治心腹一切氣。膀胱冷痛。嘔逆反胃。霍亂泄瀉。痢疾。健脾消食。安胎。九種心痛。積年冷氣。痃癖症塊。脹痛壅氣。止沖煩悶。羸劣。女人血氣刺心痛不可忍。末酒服之。散滯氣。調諸氣。和胃氣。泄肺氣。行肝經氣。煨熟實大腸。治衝脈為病。逆氣裡急。主脬滲小便秘。</p>

<h1>良薑</h1>
<p>（別錄中品）</p>
<p>【釋名】始出高良郡。花色如山姜。因名高良薑。「蠻姜」出嶺南蠻中。故名之歟。「紅豆蔻」即高良薑子也。和藥肆誤名伊豆縮砂而售者也。功用與良薑同矣。</p>
<p>【各方記述】春生莖葉。如姜苗而大。高一二尺許。花紅紫色。如山姜花。</p>
<p>【辨別道地】和漢俱為真。和產根雖小。亦可能用。本草誤以杜若高良薑。別出一條。杜若即高良薑。其子紅豆蔻也。</p>
<p>【修治】良薑紅豆蔻。並宜炒過入藥。亦有同吳茱萸。東壁土。炒過入藥用者。</p>
<p>【氣味】辛大溫。無毒。</p>
<p>【功用】辛熱純陽浮也。入足太陰陽明經。噫逆胃寒者為要藥。人參茯苓佐之。為其溫胃。解散胃中風邪也。同酸制香附子為末。治心口痛妙也。身熱脈數者。脾肺素有伏火者。忌之。</p>
<p>【主治】暴冷。胃中冷逆。霍亂腹痛。下氣益聲。好顏色。煮飲服之。止痢治風。破氣。腹內久冷氣痛。主風冷痹弱。轉筋瀉痢。反胃解酒毒。消宿食。含塊咽津。治忽然噁心嘔清水。逡巡即癢。若口臭者。同草豆蔻為末。煎飲。健脾胃。寬噎膈。破冷癖。除瘴瘧。</p>

<h1>草豆蔻</h1>
<p>（宋開寶）</p>
<p>【釋名】此對肉豆蔻而名。凡物盛多曰蔻。豆象形也。「漏蔻」南方異物志。草果花性熱。淹至京師。能消酒毒。故為果。</p>
<p>【各方記述】交趾嶺南有之。秋結實於草上。應時收採。殼有稜無鱗甲。似龍眼。微銳黃色。中子連綴。甚辛香。其形如豆。一顆內子有百粒。</p>
<p>【辨別道地】南方所產。和邦所無者也。本草載草豆蔻。與草果同條。不分主治別名。同物也。</p>
<p>【修治】以麵裹煨熟。去皮。用之。</p>
<p>【氣味】澀辛熱。無毒。</p>
<p>【功用】陽也。浮也。入足太陰陽明經。脾胃多寒濕。鬱滯者。與之相宜。然多用能助脾熱。傷肺損目。</p>
<p>【主治】溫中。心腹痛。嘔吐。去口臭氣。下氣。止霍亂。一切冷氣。消酒毒。調中補胃。健脾消食。去客寒。心與胃痛。治瘴癘寒瘧。傷暑。吐下泄痢噎膈。反胃痞滿。吐酸痰飲積聚。婦人惡阻帶下。除寒燥濕。開鬱破氣。殺魚肉毒。制丹砂。</p>

<h1>白豆蔻</h1>
<p>（宋開寶）</p>
<p>【釋名】殼白內子如豆。一團三四十粒。似草豆蔻故名。「多骨」伽古羅國呼之。</p>
<p>【各方記述】其草形如芭蕉。葉似杜若。長八九尺而光澤。冬夏不凋。花淺黃色。子作朵。如葡萄。初出微青。熟則變白。七月採之。今廣州宣州亦有之。不及番舶來者。</p>
<p>【辨別道地】有漢來。無和產。圓大如白牽牛子。其殼厚白。其仁如縮砂仁。入藥。</p>
<p>【修治】去皮研細不見火。○其功全在芳香之氣。即入湯液。但當研細。待諸藥煎好。乘沸點服妙。</p>
<p>【氣味】辛大溫。無毒。</p>
<p>【功用】味薄氣厚。輕清而升。陽也。浮也。入手太陰經。患噁心者。嚼之最佳。氣虛及肺脾胃中有熱人忌之。</p>
<p>【主治】積冷氣。止吐逆。反胃。消穀下氣。散肺中滯氣。寬膈進食。去白睛翳膜。補肺氣。益脾胃。理元氣。收脫氣。治噎膈。除瘧疾寒熱。解酒毒。</p>

<h1>縮砂</h1>
<p>（宋開寶）</p>
<p>【釋名】一名砂仁。皮緊厚縮皺微小。形色如砂故名。「縮砂蜜」實在根下。仁藏殼內。取其密藏之意。</p>
<p>【各方記述】生嶺南地。苗似高良薑。高三四尺。葉長八九寸。闊半寸許。三四月。開花在根下。五六月成實。五七十枚。作一穗狀。似益智而圓。皮素厚而皺有粟紋。外有細刺。黃赤色。皮間細子。一團八隔。可四十餘粒。如大黍米。微黑色。內白而香。似白豆蔻。七八月採之。</p>
<p>【辨別道地】有漢來。無和產。和藥肆以粉碎者。稱砂仁。不去殼者。稱縮砂。不知縮砂一名砂仁也。縮砂貴則雜益智以售之。可擇用。今藥肆稱東京者。為佳。稱交趾者。粒扁小而不佳。稱伊豆縮砂者。紅豆蔻也。勿用。</p>
<p>【修治】去殼。包布揉取仁。銼用。或先和皮慢火炒熟。去殼研用。</p>
<p>【氣味】辛澀溫。無毒。</p>
<p>【功用】辛溫。陽也。浮也。入手足太陰陽明太陽足少陰七經。得白檀香豆蔻為使。入脾。得人參益智為使。入肺。得黃蘗茯苓為使。入腎。得赤白石脂為使。入大小腸也。若腎氣不歸元。非此嚮導不濟。然性燥火炎者忌之。胎婦雖所宜。氣虛者。多服反致難產。</p>
<p>【主治】虛勞冷瀉。宿食不消。赤白泄痢。腹中虛痛。下氣。主冷氣痛。止休息氣痢。勞損。消化水穀。溫暖肝腎。上氣咳嗽。奔豚鬼疰。驚癇邪氣。一切氣。霍亂轉筋。能起酒。香味和中。行氣止痛。安胎。治脾胃氣。結滯不散。補肺醒脾。養胃益腎。理元氣。通滯氣。散寒飲脹痞。噎膈嘔吐。止女子崩中。除咽喉口齒浮熱。化銅鐵骨哽。</p>

<h1>益智</h1>
<p>（宋開寶）</p>
<p>【釋名】脾主智。此物能益脾胃故也。</p>
<p>【各方記述】益智子。如筆頭。長七八分。二月花連著實。五六月熟。味辛。雜五味中。飲酒芬芳。亦可鹽曝為粽食。</p>
<p>【辨別道地】漢來一種。而無雜偽。</p>
<p>【修治】去殼。鹽水炒研用。制樣與縮砂同。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】可升可降。陽也。入手足少陰。足太陰經。大辛。行陽退陰之藥也。三焦命門氣弱者宜之。心者脾之母。進食不止於和脾。蓋火能生土。故古人進食。必先益智。土中益火也。如脾家有濕熱。痰火。心經與三焦火動者。俱禁服。治虛寒之症。當於補藥內兼用之。勿多服。</p>
<p>【主治】遺精虛漏。小便餘瀝。益氣安神。補不足。利三焦。調諸氣。夜多小便者。取二十四枚。碎入鹽同煎服有奇驗。治客寒犯胃。和中益氣。及人多唾。益脾胃。理元氣。冷氣腹痛。心氣不足。夢泄赤濁。熱傷心系。吐血血崩諸證。</p>

<h1>肉豆蔻</h1>
<p>（宋開寶）</p>
<p>【釋名】去殼。只用肉。花實似豆蔻而無核。故名。「肉果」對草果而言乎。「迦拘勒」胡名。</p>
<p>【各方記述】中國無之。今嶺南人家。亦種之。春生苗。夏抽莖。開花結實。似豆蔻。六七月採。狀雖似豆蔻。而皮肉之顆。則不同。外有皺紋。而內有斑纈紋如檳榔紋。</p>
<p>【辨別道地】漢來一種。而無雜偽。形類彈丸。油色肥實者佳。</p>
<p>【修治】以糯米粉裹於糠火中煨熟。去粉用。勿犯鐵器。</p>
<p>【氣味】辛熱。無毒。</p>
<p>【功用】入手足陽明經。足太陰經。若病人有火。瀉痢初起。及中暑熱瀉。傷風下血。濕熱積滯方盛。皆不可服。</p>
<p>【主治】溫中消食。止泄。治積冷心腹脹痛。霍亂。中惡。鬼氣。冷疰。嘔沫冷氣。小兒乳霍。調中下氣。開胃解酒毒。下氣治宿食痰飲。冷熱虛泄。赤白痢。暖脾胃。固大腸。</p>

<h1>補骨脂</h1>
<p>（宋開寶）</p>
<p>【釋名】其功能補添人之骨脂。故名。「破故紙」蕃人呼為補骨鴟。語訛為破故紙也。婆固脂語訛也。故韭子。因其子之狀相似也。</p>
<p>【各方記述】生嶺南諸州。及波斯國。莖高三四尺。葉小似薄荷。花微紫色。實似麻子。圓扁而黑。九月採。</p>
<p>【辨別道地】有漢來。而無和產。亦無雜偽。南番者色赤。廣南者色綠。</p>
<p>【修治】微炒用。或用鹽酒浸一宿。蒸過曬。微炒用。</p>
<p>【氣味】苦辛大溫。無毒。</p>
<p>【功用】陰中之陽。可升可降。入足少陰經。惡甘草。忌蕓薹。及諸血。得胡桃胡麻良。性過於燥。陰虛火動。大便秘結者。戒之。</p>
<p>【主治】五勞七傷。風虛冷。骨髓傷敗。腎冷精流。及婦人血氣。墮胎。男子腰疼膝冷。囊濕。逐諸冷痹頑。止小便。腹中冷。助陽事。明耳目。治腎泄。通命門。暖丹田。斂精神。</p>

<h1>薑黃</h1>
<p>（唐本草）</p>
<p>【釋名】根盤屈黃。色類生薑。而圓有節。故名。「蒁」生海南者。即莪蒁。生江南者。即為薑黃。「寶鼎香」名義未詳。</p>
<p>【各方記述】葉青綠。長一二尺許。闊三四寸。有斜紋。如紅蕉葉而小。花紅白色。至中秋漸凋。春末方生。其花先生。次方生葉。不結實。八月採根。片切暴乾。</p>
<p>【辨別道地】鬱金薑黃蒁藥三物。形狀功用相近。折之色黃者為鬱金。色赤者為薑黃。黃青者為莪蒁。一類而三種也。色比鬱金甚黃。形較鬱金稍大。兩藥實不同種。扁如乾薑形者。為片子薑黃。圓如蟬腹形者。為蟬肚鬱金。片子薑黃。今不來。以姜形者為薑黃。以蟬腹者為鬱金。以別之耳。</p>
<p>【修治】磨去上皮。銼用。忌火。</p>
<p>【氣味】苦辛溫。無毒。</p>
<p>【功用】陽中之陰。可升可降。入足厥陰太陰經。凡病屬血虛者。勿誤用。則愈傷血分。慎之。</p>
<p>【主治】心腹結積。疰忤下氣。破血除風熱。消癰腫。治癥瘕。血塊。通月經。撲損瘀血。止暴風痛。冷氣下食。祛邪辟惡。治氣脹。產後敗血攻心。治風痹臂痛。</p>

<h1>鬱金</h1>
<p>（唐本草）</p>
<p>【釋名】產於鬱林郡中。色黃類金。故名。一曰治郁遏不能升者。因名。「馬蒁」形似莪蒁。而醫馬病。故名。</p>
<p>【各方記述】苗似薑黃。花白質紅。秋末出莖心。而無實。其根黃赤。取四畔子根。去皮火干。</p>
<p>【辨別道地】琉球國多出之。和邦亦有之。今藥鋪有稱頭鬱金。稱軸鬱金。非元有二種耳。以形之大小別之。稱軸者。形似姜。故為薑黃。形似蟬肚者。為鬱金。而售之。其形外黃內赤。體圓有橫紋。如蟬腹狀。圓尖而光明脆徹。苦中帶甘味者。乃真。宜擇用。</p>
<p>【修治】水洗。銼用。</p>
<p>【氣味】辛苦寒。無毒。</p>
<p>【功用】氣味俱厚純陰。入手少陰太陰足厥陰陽明經。凡病屬陰虛火炎。鮮血妄行。溢出上竅。而非氣分拂逆。肺肝逆氣。不可輕投也。</p>
<p>【主治】血積下氣。生肌止血。破惡血。血淋。尿血。金瘡單用。治女人宿血氣。心痛冷氣結聚。溫醋磨傅之。亦治馬脹。涼心。治陽毒入胃。下血頻痛。銖血氣心腹痛。產後敗血衝心欲死。失心顛狂蠱毒。</p>

<h1>莪朮</h1>
<p>（宋開寶）</p>
<p>【釋名】莪。俄也。俄然茂盛。術。濁也。根體重濁故名。「蒁藥」。</p>
<p>【各方記述】三月生苗。高二三尺。葉類蘘荷。五月有花作穗黃色。頭微紫。根如生薑。而茂在根下似雞鴨卵。大小不常。九月採。削去粗皮。蒸熟暴乾用。</p>
<p>【辨別道地】和漢俱有之。而和產少矣。形狀似鬱金。葉粗澀無光澤為異。根色帶青黃。與薑黃鬱金。一物而別種也。</p>
<p>【修治】此物極堅硬難搗。須熱灰中煨令透。乘熱搗之。即碎如粉。得酒醋良。今人多醋浸煨用。欲入血則醋少。欲入氣則火炮用之。</p>
<p>【氣味】苦辛溫。無毒。</p>
<p>【功用】陽中之陰。降也。入足厥陰氣分。又入手太陰足陽明經。鬱金入心。專司血病。薑黃入脾。兼治血中之氣。蓬朮入肝。治氣中之血。稍為不同。若氣血兩虛。脾胃素弱。而無積滯者。不可用。</p>
<p>【主治】心腹痛。中惡疰忤鬼氣。霍亂冷氣。吐酸水。解毒。食飲不消。酒研服之。又療婦人血氣結積。丈夫奔豚。破痃癖冷氣。以酒醋磨服。治一切氣。開胃消食。通月經。消瘀血。止撲損痛。下血。及內損惡血。通肝經聚血。</p>

<h1>三稜</h1>
<p>（宋開寶）</p>
<p>【釋名】葉有三稜。故名。「京三稜」生荊楚地故名。荊三稜作京者。誤矣。「草三稜」形如雞爪。屈曲根上生根。「雞爪三稜」乃草三稜也。「黑三稜」色若烏梅。輕鬆去皮白。「石三稜」色黃體重。堅硬如石。</p>
<p>【各方記述】三稜多生荒廢陂地濕地。春時叢生。夏秋抽莖。莖端復生數葉。開花六七枚。花皆細碎成穗。黃紫色。中有細子。其葉莖花實俱有三稜。如棕之葉莖。莖中有白穰。剖之織物。柔韌如藤。</p>
<p>【辨別道地】和漢俱有之。形狀圓而有須者為真。形扁而成片者。茭蒲根也。或以䓮⿱艹溲根磚子苗偽雜者多矣。宜擇用。</p>
<p>【修治】麵包火炮。加醋浸復炒用。或煮熟焙乾亦良。</p>
<p>【氣味】苦溫。無毒。</p>
<p>【功用】陰中陽。可升可降。入足厥陰經。為血中氣藥。雖入肝經血分。然脾統血。肺主氣。宜併入焉。蓋血隨氣行。氣聚則血不流。故生症癖之患。非此不治。其斬關之勢。能泄真氣。真氣虛者勿用。故凡用以消導。必資人參芍藥地黃之力。而後可以無弊。</p>
<p>【主治】老癖症積聚結塊。產後惡血。血結。通月水。墮胎。止痛利氣。治氣脹。破積氣。消撲損瘀血。婦人血脈不調。心腹痛。血暈。心膈痛。飲食不消。通肝經積血。治瘡腫堅硬。下乳汁。</p>

<h1>香附子</h1>
<p>（別錄中品）</p>
<p>【釋名】即莎草根也。根若附子。周匝多毛。氣香因名。「雀頭香」象雀頭。一名雀腦香。「草附子」、「水香稜」葉似三稜。故名。「水巴戟」義同上。「水莎」、「侯莎」其實緹是也。「莎結」根名。「夫須」薹笠名。賤夫所須此草。可為笠。及雨衣。故名。「續根草」蜀郡名之「地藾根」隴西名之。「地毛」多毛故名歟。</p>
<p>【各方記述】莎葉如老韭葉。而硬光澤有劍脊稜。五六月中抽一莖。三稜。中空。莖端復出數葉。開青花成穗。如黍中有細子。其根有須。須下結子。一二枚。轉相延生。子上有細黑毛。大者如羊棗而兩頭尖。得燎去毛暴乾。○松岡先生曰。有二種。根珠有結一顆者。真也。連綴二三四五顆者。乃是䓮⿱艹溲根。而堤邊沙地。最多矣。</p>
<p>【辨別道地】和產為真。攝津州住吉邊多出之。狀有細大。擇大粒者。用之。</p>
<p>【修治】水洗銼用。勿犯鐵器。或炒或生。或酒醋鹽水。薑汁童便。浸炒。諸法皆從本方。</p>
<p>【氣味】微苦辛澀。無毒。</p>
<p>【功用】氣厚於味。陽中之陰。足厥陰手少陽主藥。亦入手太陰經。得童便醋芎藭蒼朮而良。凡病則氣滯。故香附子於氣分為君。臣以參耆。佐以甘草。治虛怯甚速也。獨用血為耗耳。女人月事先期者。血熱也。法當涼血。禁用此藥。大燥少血之人。並新產耗氣之婦。亦所禁服。</p>
<p>【主治】除胸中熱。充皮毛。久服益氣。長鬚眉。治心腹中客熱。膀胱間連脅下氣妨。常日憂愁不樂。心忪少氣。一切氣。霍亂吐瀉。腹痛腎氣。膀胱冷氣。散時氣。寒疫。利三焦。解六郁。消飲食。積聚痰飲。痞滿胕腫。腹脹腳氣。止心腹肢體頭目齒耳諸痛。癰疽瘡瘍。吐血下血尿血。婦人崩漏帶下。月候不調。胎前產後。百病煎飲。散氣鬱。利胸膈。降痰熱。</p>

<h1>藿香</h1>
<p>（宋嘉祐）</p>
<p>【釋名】豆葉曰藿。其葉似之。或主療霍亂殊功。故名。</p>
<p>【各方記述】二月生苗。莖梗甚密作叢。葉似桑而小薄。七月採收。氣甚芬香。又曰藿香。方莖有節。中虛。葉微似茄葉。</p>
<p>【辨別道地】漢來有稱青葉者。芬香為真。而可用。有名埋藿香。土藿香者。非真。混入茄葉泥土。甚多偽雜。不可用。和產稱藿香者。有葉不似茄。而似桑。而開紫花。而不太芳香。亦非真。不可用。</p>
<p>【修治】揀去枝梗。水洗銼用。</p>
<p>【氣味】甘辛微溫。無毒。</p>
<p>【功用】味薄氣厚。可升可降。陽也。入手足太陰經。得人參橘皮木瓜茯苓縮砂。轉吐瀉治筋霍亂。得木香丁香蘇葉人參生薑。治中寒吐逆不止。若病因陰虛火旺。胃弱欲嘔。及胃熱作嘔。中焦火盛。邪實作脹。法並禁用。</p>
<p>【主治】風水毒腫。去惡氣。止霍亂。心腹痛。脾胃吐逆。為要藥。助胃氣。開胃口。進飲食。溫中快氣。肺虛有寒。上焦壅熱。飲酒口臭。煎湯漱之。</p>

<h1>澤蘭</h1>
<p>（本經中品）</p>
<p>【釋名】葉似蘭。生澤傍。故名。「水香」、「都梁香」、「虎蘭」、「虎蒲」、「龍棗」以上諸名未詳。「孩兒菊」俗呼之。「風藥」齊人呼之。「地筍」其根可食。故云。</p>
<p>【各方記述】生下地水旁。葉似蘭草。而不甚香。高二三尺。莖幹青紫色。作四稜。葉生相對如薄荷。七月開花。帶紫白色。萼通紫色。亦似薄荷花。今見澤蘭莖方節短。而葉鋸齒有毛者也。○今按蘭有三種。所謂蘭草。澤蘭。建蘭也。蘭草與澤蘭同類而有殊。俱生水旁下濕之地。惟以莖圓節長。而葉光有歧為蘭草。雷斆所謂大澤蘭。楚辭文選。騷人墨客所賦之蘭。而非今之蘭花也。後人誤以建蘭充之。建蘭一名幽蘭。葉似菅茅。秋花有芬芳。栽盆上坐右為玩好者。而非握蘭浴蘭之物。採者詳審之。</p>
<p>【辨別道地】和產為真。四五月盛時。摘青葉陰乾可用。此物在八新之一。藥肆所貯者多陳久。不可不自擇用。</p>
<p>【修治】水洗。銼用。</p>
<p>【氣味】甘苦辛微溫。無毒。</p>
<p>【功用】陰中之陽。可升可降。足太陰厥陰經藥也。防己為之使。凡產後陰戶燥熱。遂成翻花。用澤蘭四兩薰洗二三次。再入枯礬煎洗即安。</p>
<p>【主治】金瘡。癰腫瘡膿。產後金瘡內塞。產後腹痛。頻產血氣衰冷成勞瘦羸。婦人血瀝腰痛。產前後百病。通九竅。利關節。養血氣。破宿血。消癥瘕。通小腸。長肌肉。消撲損瘀血。治鼻血吐血。頭風目痛。婦人勞瘦。丈夫面黃。</p>

<h1>香薷</h1>
<p>（別錄中品）</p>
<p>【釋名】薷本作葇。其氣香。其葉柔。「香葇」、「香茸」草初生曰茸。「香菜」作蔬菜。故名。「蜜蜂草」象其花房也。</p>
<p>【各方記述】生山野間。方莖尖葉。有刻缺。頗似黃荊葉而小。九月開紫花為穗。有細子。細葉者。僅高數寸。葉如落帚葉。即石香薷也。</p>
<p>【辨別道地】和產可用。藥鋪稱長刀香薷者為真。其穗長而斜。形似眉尖刀。故藥肆名之。陳年者良。</p>
<p>【修治】水洗。銼用。忌火。去莖。用葉及穗。</p>
<p>【氣味】辛微溫。無毒。</p>
<p>【功用】可升可降。陽也。入手太陰少陰足陽明太陰經。入肺胃二經。夏月解表之劑也。若勞役受熱。用香薷。是重虛其表。反助其熱。害人不淺。氣虛者。尤不可多服。</p>
<p>【主治】霍亂腹痛吐下。散水腫。去熱。卒轉筋者。煮汁頓服半升即止。為末水服。止鼻衄。下氣除煩熱。療嘔逆冷氣。春月煮飲代茶。可無熱病。調中溫胃。含汁漱口。去臭氣。主腳氣寒熱。</p>

<h1>荊芥</h1>
<p>（本經上品）</p>
<p>【釋名】本經所謂假蘇也。氣味辛香。如蘇如姜如芥故名。「姜芥」荊姜聲訛。謂為荊芥非也。</p>
<p>【各方記述】荊芥原是野生。二月生苗。方莖細葉。似獨帚葉而狹小。淡黃綠色。八月開小花。作穗成房。如紫蘇。房內有細子。如葶藶子狀。黃赤色。連穗收採用之。</p>
<p>【辨別道地】和產真也。布子甚繁茂。家園栽蒔。採收穗。以可供藥用。</p>
<p>【修治】去枝葉。生用。治下焦血。炒黑用。</p>
<p>【氣味】辛苦溫。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽也。入手太陰足厥陰經。與河豚黃顙魚驢肉相反。若同日食之。致喪命。病人氣虛。寒熱。表虛有汗。陰虛火炎。面赤。因而頭痛者。俱禁用。</p>
<p>【主治】寒熱。鼠瘻。瘰癧。生瘡。破結聚氣。下瘀血。除濕疽。去邪。除勞渴冷風出汗。煮汁服之。搗爛醋和傅丁腫。腫毒單用。治惡風賊風。口面喎斜。遍身𤸷痹。心虛忘事。益力添精。辟邪毒氣。通利血脈。傳送五藏不足氣。助脾胃。主血勞風氣壅滿。背脊疼痛。虛汗。理丈夫腳氣。筋骨煩疼。及陰陽毒。傷寒頭痛。頭旋目眩。手足筋急。利五藏。消食下氣。醒酒。作菜生熟皆可食。並煎茶飲之。以豉汁煎服。治暴傷寒。能發汗。治婦人血風。及瘡疥為要藥。產後中風身強直。研末酒服。散風熱。清頭目。利咽喉。消瘡腫。治項強。目中黑花。及生瘡陰㿗。吐血衄血下血血痢。崩中痔漏。</p>

<h1>薄荷</h1>
<p>（唐本草）</p>
<p>【釋名】薄荷。俗稱也。「菝𦽅」食性本草作之。「蕃荷菜」千金方作之。「吳菝𦽅」蘇州者為勝。以雖胡菝𦽅也。「南薄荷」一種有龍腦薄荷。所以別之。金錢薄荷。其葉頗如錢也。「蔢荷原」始曰葉青蔢。荷乃花葉總名。蔢薄聲近。故俗呼薄荷。</p>
<p>【各方記述】二月宿根生苗。方莖赤色。其葉對生。似荏而尖長。經冬根不死。夏秋採莖葉曝乾。</p>
<p>【辨別道地】和產真可用。藥肆今稱龍腦薄荷者良。按薄荷水蘇。俱名之龍腦薄荷。二物同名也。水蘇方莖中虛。形狀似紫蘇葉而微長。密齒面皺。色蒼白。氣甚芬香。好生山崖水傍。藥肆不售之。宜自採取。</p>
<p>【修治】去梗。用藥忌火。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽也。入手太陰少陰厥陰足厥陰經。凡病人新好勿服。恐致虛汗亡陽。咳嗽若因肺虛寒客之無熱症。陰虛人發熱者。勿服。以出汗竭其津液也。瘦弱人。久用動消渴病。</p>
<p>【主治】賊風傷寒發汗。惡氣心腹脹滿。霍亂宿食不消。下氣煮汁服之。發汗大解。作菜久食。卻腎氣。辟邪毒。除勞熱。令人口氣香潔。煎湯洗惡瘡。通利關節。發毒汗。去憤氣。破血止痢。療陰陽毒。傷寒頭痛。四季宜食。治中風失音。吐痰。主傷風頭腦風。通關格。及小兒風涎為要藥。杵汁服。夫心藏風熱。清頭目。除風熱。利咽喉。口齒諸病。治瘰癧瘡疥。風瘙癮𤺋。搗汁含漱。去舌胎。語澀。挼葉塞鼻。止衄血。塗蜂螫蛇傷。</p>

<h1>紫蘇</h1>
<p>（別錄中品）</p>
<p>【釋名】蘇從穌音酥。舒暢也。蘇性舒暢。行氣和血。故謂之。或曰蘇苴也。形氣土苴也故名。「赤蘇」、「桂荏」蘇乃荏類。而味更辛如桂。故名。</p>
<p>【各方記述】處處有之。以背面皆紫者。長夏採莖葉。秋採子。有數種。水蘇魚蘇山魚蘇皆是荏類。白蘇乃荏也。</p>
<p>【辨別道地】和稱縮緬者。其葉有皺紋。而背面皆紫色。芳香清烈。以為良。亦有其面青背紫者。面紫背青者。皆不堪用。藥肆所售者。不揀背面青紫。而混同之。宜自採收。</p>
<p>【修治】擇新。水洗。銼用。忌火。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】可升可降。陽也。入手太陰足陽明經。味辛而入氣分。色紫而入血分。久服泄人真氣。病屬氣虛。表虛。因發寒熱。或惡寒。及頭痛者。慎毋投之。不可同鯉魚食。生毒瘡。若脾胃寒。人多致滑泄。往往不覺。「蘇梗」下諸氣。體稍虛者宜用。</p>
<p>【主治】下氣。除寒中。除寒熱。治一切冷氣心腹脹滿。止霍亂轉筋。開胃下食。止腳氣。通大小腸。通心經。益脾胃。煮飲尤勝。與橘皮相宜。解肌發表。散風寒。行氣寬中。消痰利肺。和血溫中。止痛定喘。安胎。解魚蟹毒。治蛇犬傷。以葉生食作羹。殺一切魚肉毒。「蘇子」治下氣肺氣喘急。</p>

<h1>菊花</h1>
<p>（本經上品）</p>
<p>【釋名】菊。鞠也。必鞠養而後得佳菊。或曰鞠窮也。九月有黃花。華事至此而窮。故名。「節華」取應其節使也。「女節」、「女菙」、「女莖」、「日精」、「更生」、「傳延年」、「治蘠」、「金蕊」、「陰成」、「周盈」女節女華。菊花之名也。治蘠日精。根之名也。日精更生周盈。皆一菊而根莖花實之名異也。</p>
<p>【各方記述】菊之品。凡百種。宿根自生莖葉。花色品品不同。蕊如蜂窠。中有細子。亦可捺種。嫩葉及花。皆可食。生田野。味苦莖青。名苦薏。拯疴反傷胃。惟培家園。味甜莖紫。名甘菊。入劑大補陰血。</p>
<p>【辨別道地】和產白紅黃三種。宜入藥用。以其黃者為良。揀用其千瓣而味甘者。而不可用其單瓣而味苦者。</p>
<p>【修治】忌火。去蒂。</p>
<p>【氣味】甘微苦平。無毒。</p>
<p>【功用】苦甘微寒。可升可降。陰中微陽。白朮枸杞桑白皮為之使。入肺心肝脾胃大小腸。味甘者。陰血兼補。味苦者。大腸胃氣。黃者入金水陰分。白者入金水陽分。治頭風。紅者行婦人血分。花葉俱可作枕明目。</p>
<p>【主治】諸風頭眩。腫痛。目欲脫淚出。皮膚死肌。惡風濕痹。久服利血氣。輕身耐老延年。療腰痛。去來陶陶。除胸中煩熱。安腸胃。利五藏。調四肢。治頭目風熱。風旋倒地。腦骨疼痛。身上一切遊風。令消散。利血脈。並無所忌。養目血。去翳膜。主肝氣不足。</p>

<h1>茵陳</h1>
<p>（本經上品）</p>
<p>【釋名】蒿類。經冬不凋。更因舊苗而生新葉。故名茵陳蒿。</p>
<p>【各方記述】二月生苗。其莖如艾。其葉如淡色青蒿。而背白。葉歧緊細而扁整。九月開細花黃色。結實大如艾。</p>
<p>【辨別道地】和可用。夏月盛時。採葉陰乾而收之。茵陳。青蒿。黃花蒿。形狀頗相似。宜自採擇。</p>
<p>【修治】去莖用葉。忌火。</p>
<p>【氣味】苦微寒。無毒。</p>
<p>【功用】陰中微陽。入足太陽經。通腠理。主黃疸。利小便。然蓄血發黃者禁用。</p>
<p>【主治】風濕寒熱邪氣。熱結黃疸。治通身發黃。小便不利。除頭熱。去伏瘕。通關節。去滯熱。傷寒用之。</p>

<h1>益母草</h1>
<p>（本經上品）</p>
<p>【釋名】其功宜婦人。故名。「茺蔚」此草及子皆充盛故名。「益明」明目故名。「貞蔚」貞者。婦德。故稱之歟。「蓷」臭穢也。乃充蔚也。「野天麻」莖方類麻。「豬麻」豬喜食之。「火梗」義未詳。「郁臭草」此草有臭氣。人呼臭草。「苦抵草」義未詳。「夏枯草」夏至後枯故名。「土質汗」質汗出西番。乃熱血合諸藥煎成。治金瘡折傷。益母亦可作煎。治折傷。故有質汗。</p>
<p>【各方記述】近水濕處處甚繁。春初生苗如嫩蒿。入夏長三四尺。莖方如黃麻莖。其葉如艾葉而背青。一梗三葉。葉有尖歧。寸許。節節生穗。叢簇抱莖。四五月間。穗內開小花。紅紫花。亦有微白花者。每萼內有細子四粒。粒大如茼蒿子。又有三稜褐色。</p>
<p>【辨別道地】和產可用。五月採葉陰乾用。此實名茺蔚子。又名巨勝子。本草謂藥肆往往以作巨勝子貨之。巨勝子者。黑胡麻子也。不可以名同而混用。</p>
<p>【修治】水洗銼用。忌銅鐵。或不忌。</p>
<p>【氣味】辛微苦。無毒。</p>
<p>【功用】可升可降。陰中陽也。入手足厥陰經。制硫黃。砒石。白花者入氣分。紫花者入血分。為調胎產諸疾之要藥。性善行走。能行血通經。血崩禁用。活血補陰。故能明目。然瞳子散大禁用。為其辛溫主散。能助火也。惟熱血欲貫瞳人者。與涼血藥同用。則不忌。</p>
<p>【主治】癮𤺋可作浴湯。搗汁服。主浮腫。下水。消惡毒。丁腫乳癰丹遊等毒。並稱之。又服汁。主子死腹中。產後血脈悶。滴汁入耳中。主聤耳。搗傳蛇虺毒。入面藥令人光澤。治粉刺。活血破血。調經解毒。治胎漏產難。胎衣不下。血運血風。血痛。崩中漏下。尿血瀉血。疳痢痔疾。打撲內損瘀血。大便小便不通。</p>

<h1>夏枯草</h1>
<p>（本經上品）</p>
<p>【釋名】夏至後即枯。故名。「夕句」、「乃東」、「燕面」、「錢色草」以上名義未詳。</p>
<p>【各方記述】苗高尺許。其莖微方。葉對節生。似旋覆葉。而長大有細齒。背白。上多氣脈紋路。莖端開花。作穗。長一二寸。穗中開淡紫小花。一穗有細子四粒。</p>
<p>【辨別道地】和產為真。有一干者。或叢生者。亦偶有白花者。花色可愛。○松岡先生曰。此草謂入夏而枯。今觀⿰革匍草。入夏而不枯。人疑非真。此不詳審考窮之誤也。此物新苗已生。則舊根乃枯。是新陳相代者也。能與入夏枯之說合乃真也。和邦自古用⿰革匍草。每每有經驗宜用之。</p>
<p>【修治】莖葉花穗俱銼用。治目疼以砂糖水浸一宿。</p>
<p>【氣味】苦辛寒。無毒。</p>
<p>【功用】獨入足厥陰經。土瓜為之使。伏汞砂。此草治目珠疼。至夜則甚者。神效。此草無毒。除治瘰癧鼠瘻。及散癭結氣。消癰腫乳岩之外無別用。然久用亦防傷胃。與參朮用方。可久服無弊。</p>
<p>【主治】寒熱。瘰癧鼠瘻。頭瘡。破症散癭結氣。腳腫濕痹。輕身。</p>

<h1>旋覆花</h1>
<p>（本經下品）</p>
<p>【釋名】花綠繁茂。圓而覆下故名。「金沸草」夏開黃花。盜竊金氣故名。「金錢草」、「滴滴金」、「盜庚」、「夏菊」、「戴椹」以上諸名。因花狀而命也。</p>
<p>【各方記述】花狀如金錢。水澤邊生者。花小。瓣單。人家栽者。花大。蕊簇蓋壤瘠使然。其根細白。</p>
<p>【辨別道地】和產可用。有單瓣千葉二種。宜採單瓣者。入藥用。</p>
<p>【修治】去皮及蒂。洗淨。微焙。</p>
<p>【氣味】鹹甘微溫。有小毒。</p>
<p>【功用】陰中之陽。可升可降。入手太陰陽明足太陰厥陰經。葉消疔腫。根治風濕。但是走散之品。非虛衰者所宜。冷利及大腸虛寒人禁用。惟傷寒汗下後。心下痞堅。噫氣不除者宜此。</p>
<p>【主治】結氣脅下滿。驚悸。除水。去五藏間寒熱。補中下氣。消胸上痰結。唾如膠漆。心胸痰水。膀胱留飲。風氣濕痹。皮間死肉。目中眵䁾。利大腸。通血脈。益色澤。主水腫。開胃止嘔逆。不下食。行痰水。夫頭目風。消堅軟痞。治噫氣。</p>

<h1>紅花</h1>
<p>（宋開寶）</p>
<p>【釋名】「紅藍花」。其花紅色。葉頗似藍。故名。「黃藍」花帶黃故名。</p>
<p>【各方記述】冬月布子於熟地。至春生。初生嫩葉。苗亦可食。其葉如小薊葉。至五月開花。如大薊花。而紅色。侵晨採花。搗熟以水淘布袋絞去黃汁。又搗以酸粟米泔清。又淘又絞。汁以青蒿覆一宿曬乾。或捏成薄餅。陰乾收之。入藥搓碎用。</p>
<p>【辨別道地】和產可用。宜擇新花鮮明而用之。又有稱錢花者。藥氣最劣。惟可入染用。而不可供藥用。</p>
<p>【修治】酒噴微焙用。或生用。</p>
<p>【氣味】辛甘苦澀。</p>
<p>【功用】陰中之陽。入手少陰足厥陰經。從桃仁大黃而能破血。佐當歸地黃而能補血。少用養血。多用破血。</p>
<p>【主治】產後血運口噤。腹內惡血不盡絞痛。胎死腹中。並酒煮服。亦主蠱毒。活血潤燥。止痛散腫。通經。</p>

<h1>大薊小薊</h1>
<p>（別錄中品）</p>
<p>【釋名】薊猶髻。其花如髻。故名。「虎薊」大薊。「貓薊」小薊。因其苗狀猙獰而名。「馬薊」形狀以大者稱馬。「刺薊」多刺故名。「山牛蒡」其根似牛蒡。「雞項草」其頸如雞之項。「千針草」、「野紅花」二名皆言花狀。</p>
<p>【各方記述】小薊處處有之。二月生苗二三寸。時並根作葉茹食甚美。四月高尺余。多刺。心中出花。如紅藍花。而青紫色。九月採根陰乾用。大薊苗根與此相似。但肥大爾。</p>
<p>【辨別道地】和可用。山原野地。處處有之。形狀亦有大小數種。花色多紫白紅淡白之品。宜擇紫花者。可入藥用。</p>
<p>【修治】酒洗。或童便拌微炒。大小同制。</p>
<p>【氣味】苦甘溫。無毒。（大小同）</p>
<p>【功用】入手太陰厥陰經。大薊。胃弱泄泄。及血虛不思飲食者。皆不利。二薊性味主療皆同。破血之外。亦無他長。亦不益人。但大薊兼療癰疽。而小薊只可退熱。不能消腫也。</p>
<p>【主治】「大薊根」女子赤白沃。安胎。止吐血鼻衄。搗根絞汁服半升。主崩中血下立瘥。葉治腸癰。瘀血作運。撲損。生研酒服。又惡瘡疥癬同鹽研罨之。「小薊根」破宿血。生新血。暴下血。血崩金瘡出血。嘔血等。絞取汁溫服。作煎和糖。合金瘡及蜘蛛蛇蠍毒服之。治熱毒風。並胸膈煩悶。開胃下食。退熱。作菜食。除風熱。夏月熱煩不止。</p>

<h1>牛蒡子</h1>
<p>（別錄中品）</p>
<p>【釋名】牛好食其根。因名。蒡字書草名。「惡實」其實狀惡而多刺鉤。故名。「大力子」稱實。「彭翁菜」稱根。「便牽牛」俚人呼之。「蝙蝠刺」有刺故名。「鼠黏」實殼多刺。鼠過之。則綴惹不可脫。故名。</p>
<p>【各方記述】三月生苗。莖高者三四尺。四月開花成叢。淡紫色。結實如楓球而小。萼上細刺。百十攢簇之。一梂有子數十顆。其根大者。如臂。長者近尺。其色灰黲。七月採子。十月採根。</p>
<p>【辨別道地】和產採子用之。根和邦為食品。而賞美之。本朝食鑑詳載之。故今不贅。</p>
<p>【修治】子揀淨以酒拌蒸。待有白霜重出。以布拭去。焙乾搗粉用。</p>
<p>【氣味】苦辛溫。無毒。</p>
<p>【功用】陽中之陰。升也。或曰降也。入手太陰足陽明經。為散風除熱解毒之要藥。痘瘡家。惟宜於血熱便閉之症。若氣虛色白。大便自利。或泄瀉者勿用。癰疽已潰。非便閉勿服。</p>
<p>【主治】明目除風。傷風毒腫。諸痿。去丹石毒。利腰腳。食前熟挼三枚吞之。散諸結節筋骨煩熱毒。吞一枚。出癰疽頭。炒研煎飲。通利小便。潤肺散氣。利咽膈。去皮膚風。通十二經。消斑疹毒。</p>

<h1>麻黃</h1>
<p>（本經中品）</p>
<p>【釋名】春叢生如麻。至夏長及一尺。上有黃花。嗅之微有麻氣故名。「龍沙」、「卑相」、「卑監」諸名殊不可解。</p>
<p>【各方記述】春生苗。至夏五月則長及一尺以來。梢上有黃花。結實如百合而小。又似皂莢子。味甜。</p>
<p>【辨別道地】和漢俱用之。沫使人煩。輕虛者為良。堅實者名云花子。治馬疥。</p>
<p>【修治】宜用陳久者。去根節。煮數沸。掠去上沫。焙乾用。根節水洗。銼用。</p>
<p>【氣味】甘辛苦溫。無毒。</p>
<p>【功用】氣味俱薄。陽也。升也。氣清而浮。手太陰之藥。入足太陽經。兼手足少陰陽明。黃芩為之佐。厚朴白薇為之使。惡辛夷石葦。專司冬令寒邪。去苦中寒氣。泄衛中風熱。解肌發表出汗。若表虛自汗。陰虛盜汗。肺虛者。有熱多痰咳嗽。以致鼻塞。及平日陽虛腠理不密之人。脈浮弦澀大沉微細弱。及伏匿者。法所同戒。凡服麻黃。須謹避風。不爾。病復發難療。</p>
<p>【主治】中風傷寒頭痛。溫瘧。發表出汗。去邪熱氣。止咳逆上氣。除寒熱。破症堅積聚。五藏邪氣。緩急風脅痛。孕乳余疾。止好唾。通腠理。解肌泄邪惡氣。消赤黑斑毒。不可多服。令人虛。治身上毒風𤺋痹。皮肉不仁。主壯熱溫疫。山嵐瘴氣。通九竅。調血脈。開毛孔。去苦中寒熱。泄衛中風熱。散赤目腫痛。水腫風腫。產後血滯。「根節」止自汗。盜汗。虛汗。夏月雜粉撲之。○牡蠣粉粟粉俱等分為末。生絹囊盛貯撲。手摩之。汗止。效如影響。</p>

<h1>木賊</h1>
<p>（宋嘉祐）</p>
<p>【釋名】此草寸寸有節。面糙澀。治木骨者。用之磋擦。則光澤。猶云木之賊也。</p>
<p>【各方記述】叢叢直上。長者二三尺。狀似鳧茈苗。及粽心草。而中空有節。又似麻黃莖。而稍粗無枝葉。</p>
<p>【辨別道地】和產可用。夏月採之。陰乾。</p>
<p>【修治】水洗去節。銼焙用。</p>
<p>【氣味】甘苦微溫。無毒。</p>
<p>【功用】陽中之陰。升也。浮也。入足厥陰少陽經血分。與麻黃同形同性。故亦能發汗解肌。得牛角腮麝香。治休息久痢。得禹餘糧當歸芎藭。治崩中赤白。得槐蛾桑耳。治腸風下血。得槐子枳實。治痔疾出血。若目疾由怒氣。及熱傷血。暴赤腫者。非其所任。</p>
<p>【主治】目疾退翳膜。消積塊。益肝膽。療腸風。止痢。及婦人月水不斷。崩中赤白。解肌止淚止血。去風濕疝痛。大腸脫肛。</p>

<h1>燈心草</h1>
<p>（宋開寶）</p>
<p>【釋名】直穰可燃燈。故名。「虎鬚草」、「碧玉草」二名。因形以名。</p>
<p>【各方記述】生澤地。叢生莖圓細而長。蒸熟待乾。折取中心。白穰燃燈者。是謂熟草。又有不蒸者。生干剝取為生草。入藥宜用生草。</p>
<p>【辨別道地】和產可用。今人用燃燈草料者。入煎湯。而不拘生熟。或銼敗席以用之。皆不可。宜自採擇。</p>
<p>【修治】燈心難研。以梗米粉漿染過曬乾研末。入水淘之。浮者是燈心也。曬乾用。</p>
<p>【氣味】甘辛淡寒。無毒。</p>
<p>【功用】陽也。入手少陰太陽經。清心必用。夜不合眼。煎湯代茶飲。即睡。衄血不止。一兩為末。丹砂一錢。米飲服效。虛脫人。及中寒小便不禁者。勿服。</p>
<p>【主治】五淋生煮服之。敗席煮服更良。瀉肺治陰竅澀不利。行水除水腫癃閉。治急喉痹。燒灰塗乳上飼小兒止夜啼。降心火。止血。通氣散腫。止渴。燒灰入輕粉麝香治陰疳。</p>

<h1>生熟地黃</h1>
<p>（本經上品）</p>
<p>【釋名】生者以水浸驗之。浮者名天黃。半浮半沉者名人黃。沉者名地黃。「芐」以沉下珍為貴。故字從下。「芑」音起。草名。「地髓」稱讚之名。</p>
<p>【各方記述】其苗初生。塌地如山白菜而毛澀。葉面深青色。又如小芥葉。而頗厚不叉了。葉中攛莖上。有細毛。莖梢開小筒子花。紅黃色。結實如小麥粒。根長四五寸。細如手指。皮赤黃色。如羊蹄根。及胡蘿蔔根。曝乾乃黑。</p>
<p>【辨別道地】和產為良。近世山城大和。多種出之。</p>
<p>【修治】「生地黃」採得即用者為生。哂干收者為干。以法制過者為熟。今稱「生地黃」者。「乾地黃」也。其制酒浸則上行外行。薑汁浸則不膩膈。忌銅鐵器。令人腎消發白。男損營。女損衛。「熟地黃」用砂鍋柳甑襯以荷葉。將生地黃酒潤。用縮砂仁粗末。拌蒸。蓋覆極密。文武火蒸半日。取起曬極干。如前又蒸九次為度。令中心透熟純黑。乃佳。一法地黃堅實者曬乾。以手擘之有聲為度。好酒拌勻。置瓷甕內。包固重湯煮一晝夜。名熟地黃。然終不及前法。○松岡先生曰。諸家本草有九蒸九曝之說。是因襲道家貴九之胡說。如法蒸之。則氣味俱脫。不堪用。明蕭萬輿之所說尤為詳。救正論云。制煉之要。其地黃大者。須蒸曬至十餘次。劈開中有黑油如堅玉。氣味甘香者方可用。勿拘九數也。亦不必用酒潤過方蒸。蓋酒經蒸曬。則成酸酢之味。不為佳候。臨用時先一夜切碎如豆大。以酒潤之。次早略蒸片時。使兩物勻和。酒氣尚存。藥氣益香。動與胃合。易於運行。此雷斆炮製之微義。不可不留心也。「地黃為末」。地黃九蒸搗爛。以山藥末和為餅。再曝之。一碾即末矣。</p>
<p>【氣味】「生地黃」甘寒。「熟地黃」甘苦。微溫。</p>
<p>【功用】「生地黃」氣薄味厚。沉而降。陰也。入手足少陰厥陰。及手太陰足太陰經。得清酒門冬良。惡貝母。畏蕪荑。蔥蒜蘿蔔俱忌。凡產後惡食作瀉。雖見發熱。惡露作痛。不可用。誤用泄不止。胃氣者。後天元氣之本也。胃困則飲食不運。精血不生。虛熱何自而退。凡見此。宜多加炮薑桂心人參。若陰虛咳嗽。內熱骨蒸。或吐血等候。一見脾胃薄弱。大便不實。或天明腎泄。痰凝氣鬱。升降窒塞者。宜通而不宜滯。禁用之。「熟地黃」味厚氣薄。陰中之陽。沉也。入手足少陰厥陰之經。忌蘿蔔蔥蒜諸血。得丹皮當歸良。按熟較生。則經制煉而其效雖勝。其性本寒。其質本潤。胃虛氣弱人而施之。反致胸膈痞悶。飲食減少。以至變症百出。用之者。宜詳審焉。</p>
<p>【主治】「生地黃」傷中逐血痹。填骨髓。長肌肉。作湯除熱積聚。除痹。療折跌絕筋。主男子五勞七傷。女子傷中。胞漏下血。破惡血溺血。利大小腸。去胃中宿食。飽力斷絕。補五藏。內傷不足。通血脈。益氣力。利耳目。助心膽氣。強筋骨長志。安魂定魄。消驚悸勞劣。心肺損吐血鼻衄。婦人崩中血運。產後腹痛。涼血生血。補腎水。真陰。除皮膚燥。去諸濕熱。主心病掌中熱痛。脾氣痿蹷。嗜臥。足下熱而痛。治齒痛唾血。「熟地黃」填骨髓。長肌肉。生精血。補五藏。內傷不足。通血脈。利耳目。黑鬚發。男子五勞七傷。女子傷中胞漏。經候不調。胎產百病。補血氣。滋腎水。益真陰。去臍腹急痛。病後脛股痠痛。坐而欲起。目𥉂𥉂無所見。</p>

<h1>牛膝</h1>
<p>（本經中品）</p>
<p>【釋名】其莖有節。似牛膝。故名。「牛莖」同上。「百倍」其滋補之功。如牛之多力。「山莧菜」其葉如莧。「對節菜」其節對生。</p>
<p>【各方記述】其苗方莖暴節。葉皆對生。頗似莧菜而長。且尖𧣪。秋月開花作穗。結子狀如小鼠有蟲。負澀毛。皆貼莖倒生。</p>
<p>【辨別道地】和漢俱皆真。揀用長大柔潤者。近年和州種出之。形狀似野生者。則長大。可入藥用。野生者。本草所謂土牛膝。不堪服食者也。</p>
<p>【修治】去蘆頭。欲下行生用。滋補焙用。或酒拌蒸過用之。</p>
<p>【氣味】甘酸平。無毒。</p>
<p>【功用】氣薄味厚陰也。降也。入足厥陰經。惡螢火龜甲陸英。畏白前。忌牛肉。其性能降。而不能升。故主用多在下部。上焦藥中勿入。血崩不止者。氣虛下陷者。夢失遺精者。若膝不能立。與能屈而不可伸者。亦忌之。</p>
<p>【主治】寒溫痿痹。四肢拘攣。膝痛不可屈伸。逐血氣。傷熱火爛。墮胎。療傷中少氣。男子陰消。老人失溺。除腰脊痛。婦人月經不通。血結。治陰痿。補腎助十二經脈。逐惡血。治腰膝軟怯。冷弱。破癥結。排膿止痛。產後心腹並血運。落死胎。強筋補肝藏。風虛同蓯蓉浸酒服。益腎。竹木刺入肉。嚼爛罨之。即出。治久瘧寒熱。五淋尿血。莖中痛。下痢喉痹。口瘡齒痛。癰腫惡瘡。傷折。</p>

<h1>紫苑</h1>
<p>（本經中品）</p>
<p>【釋名】苑軟也。其色紫而柔宛。故名。「青苑」、「紫蔳」、「返魂草」、「夜牽牛」諸名未詳。</p>
<p>【各方記述】其生布地。花紫色。本有白毛。形如重臺。根作節。紫色。潤軟有白者。名曰苑。即女苑也。無紫苑時用之。</p>
<p>【辨別道地】和漢俱真。可用。</p>
<p>【修治】去頭須。洗淨焙用。或治痰嗽。須酒洗。</p>
<p>【氣味】苦辛微溫。無毒。</p>
<p>【功用】陽中之陰。可升可降。入手太陰。兼入足陽明。款冬為之使。惡天雄瞿麥藁本雷丸遠志。畏茵陳。治纏喉風喉閉神效。觀其能開喉痹。取惡涎。則辛散之功烈矣。而其性溫。肺病咳逆喘嗽。皆陰虛肺熱證也。不宜專用。及多用。即用亦與天門冬百部麥門冬桑白皮苦寒之藥參用。則無害。</p>
<p>【主治】咳逆上氣。胸中寒熱結氣。去蠱毒。痿躄。安五藏。療咳唾膿血。止喘悸。五勞體虛。補不足。小兒驚癇。治屍疰。補虛下氣。勞氣虛熱。百邪鬼魅。調中消痰。止渴潤肌膚。添骨髓。益肺氣。主息賁。</p>

<h1>麥門冬</h1>
<p>（本經上品）</p>
<p>【釋名】根似穬麥。故名。「虋冬」俗作門冬。便於字。麥須曰虋。此草根似麥而有須。「羊韭」、「禹韭」其葉如韭「禹餘糧」可以服食。斷谷故名。「忍冬」、「忍凌」、「不死草」以上諸名。凌冬不凋。故名。「階前草」。</p>
<p>【各方記述】麥門冬。有大葉小葉。其小者。如韭。大者如建蘭。長及尺余。四季不凋。根黃白色。有鬚根。如連珠。四月開淡紫花。其實圓碧如珠。</p>
<p>【辨別道地】和有大小二種。大小功用相同。而葉大者。根最肥大。味甘可入藥。</p>
<p>【修治】以滾水潤濕。少頃抽心。或以砂鍋焙軟。乘熱去心。不爾。令人煩。若以水浸多時。去心則柔矣。然氣味都盡。用之不效。天門冬亦然。畏其寒者。以酒浸用。</p>
<p>【氣味】甘平無毒。</p>
<p>【功用】陽中微陰。降也。入手太陰少陰經。地黃車前為之使。惡款冬苦瓠。畏苦參木耳。伏鍾乳。門冬之甘潤肺除熱。其性寒。雖主脾胃。而虛寒泄瀉。及痘瘡虛寒作泄。產後虛寒泄瀉者。咸忌之。</p>
<p>【主治】心腹結氣。腸中傷飽。脈絕羸瘦。短氣。療身重目黃。心下支滿。虛勞客熱。口乾燥渴。止嘔吐。愈痿蹷。強陰益精。消穀調中。保神。定肺痿。安五藏。令人肥健。美顏色。有子。去心熱。止煩熱。寒熱。下痰飲。止嗽。吐膿。時疾熱狂頭痛。治熱毒。大水面目肢節浮腫。下水主泄精。治肺中伏火。補心氣不足。主血妄行。及經水枯。乳汁不下。和車前地黃丸服。去濕痹。</p>

<h1>款冬花</h1>
<p>（本經中品）</p>
<p>【釋名】款者。至也。至冬而花。故名。「款凍」、「顆冬」、「氏冬」、「鑽凍」百草中唯此不顧冰雪。最先春。故有此諸名。「菟奚」未詳「橐吾」松岡先生曰。按款冬橐吾。自是二物。混為一物者。綱目之誤矣。「虎鬚」以形名。</p>
<p>【各方記述】莖青微帶紫色。葉似葵葉。甚大而叢生。又似石胡蘆。葉頗團。開黃花。根紫色。</p>
<p>【辨別道地】和產可用。以生山中者為良。圃產不堪用。入藥以半開者為佳。如花已開。則無氣力。臘末春初。可採收之。</p>
<p>【修治】擇未舒嫩蕊。去向外裹殼。甘草水浸曬乾。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】純陽。入手太陰經。杏仁為之使。得紫苑良。惡皂莢硝石玄參。畏貝母辛夷麻黃黃耆黃芩連翹青葙。然雖畏貝母。得此反良。物有相制故也。款冬古今方用之。為治嗽要藥。以其辛溫散而能降。無分寒熱虛實。皆可施用。</p>
<p>【主治】咳逆上氣。善喘。喉痹。諸驚癇。寒熱邪氣。消渴喘息呼吸。療肺氣促急。熱勞咳連連不絕。涕唾稠黏。肺痿肺癰。吐膿血。潤心肺。益五藏。除煩。消痰。洗肝明目。及中風等疾。</p>

<h1>瞿麥</h1>
<p>（本經中品）</p>
<p>【釋名】麥之穗。旁生謂之瞿。子頗似麥。故也。又曰。苗瞿然而高尺余作穗。似麥故名。「巨句麥」、「大菊」、「大蘭」、「石竹」、「南天竺草」以上諸名未詳。</p>
<p>【各方記述】一莖生細葉。花紅紫赤色可愛。合子葉刈取之。「石竹」葉似地膚葉。而尖小。又似初生小竹葉而細窄。其莖纖細有節。高尺余。梢間開花。畏野生者。花大如錢。紅紫色。人家栽者。花稍小。而嫵媚有細白粉紅紫赤斑斕數色。俗呼為洛陽花。結實如燕麥。內有小黑子。</p>
<p>【辨別道地】和產原野者真可用。瞿麥石竹。功用相同。和有一種。稱波摩那天志古者。生山野。一莖數枝。葉圓而厚。不似瞿麥。枝頭攢開紫花。似蘿蔔花。結實真如瞿麥。藥肆雜此物而售之。頗難分辨。而今雜瞿麥以用之。有其效。則亦瞿麥之類也。</p>
<p>【修治】去莖葉。採實。炒用。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】陽中微陰。入足太陽經。牡丹為之使。惡螵蛸。伏丹砂。氣味苦寒。兼辛。性猛利。善下逐。凡腎氣虛。小腸無大熱者。忌之。胎前產後一切虛人。患小水不利。法並禁用。水腫蠱脹。脾虛者。不得施。</p>
<p>【主治】關格諸癃結。小便不通出。刺決癰腫。明目去翳。破胎墜子。下閉血。養腎氣。逐膀胱邪逆。止霍亂。長毛髮。主五淋。月經不通。破血塊排膿。○「葉」（主治）痔痿。並瀉血。作湯粥食。又治小兒蛔蟲。及丹石藥發。並眼目腫痛。及腫毒。搗傅。治浸淫瘡。並婦人陰瘡。</p>

<h1>葶藶</h1>
<p>（本經下品）</p>
<p>【釋名】葶。定也。藶。瀝也。行也。能定肺喘而行水。故名。「丁歷」、「蕇蒿」蕇音曲。「大室」、「大通」、「大適」、「狗薺」以上名義不解。</p>
<p>【各方記述】初春生苗葉。高六七寸。似薺根白色。枝莖俱青。三月開花。微黃。結角子。扁小如黍粒。微長黃色。松岡先生曰。正二月。著花。春老根枯。須早收。遲則實脫。形狀似薺。而細小。花黃結角如米粒。葉有寸茸。但苦味少。漢來一種有極苦者。此真苦葶藶。本草謂其苦微者是也。</p>
<p>【辨別道地】葶藶有甜苦二種。其形則一也。經既言味辛苦。即甜者。不復更入藥也。和產苦味少者。所謂甜葶藶也。宜擇用。</p>
<p>【修治】酒潤炒。或糯米拌。微火略焙。米熟去米用。</p>
<p>【氣味】苦辛大寒。小毒。</p>
<p>【功用】氣味俱厚。沉也。陰中陽。入手太陰少陰。亦入手陽明足太陰太陽經。榆皮為之使。得酒良。惡白殭蠶。宜大棗。其性急。逐水殊動真氣。稍涉虛者。宜痛戒之。有甜苦二種。甘者下泄之性緩。雖泄肺而不傷胃。故形瘦證輕者宜之。苦者下泄之性急。泄肺而易傷胃。當以大棗輔之。壯人證重者宜之。凡腫滿由於脾虛。及真陰不足之人。咸不可服。</p>
<p>【主治】癥瘕積聚。結氣。飲食。寒熱。破堅逐邪。通利水道。下膀胱水。伏留熱氣。皮間邪水。上出面目浮腫。身暴中風熱。疿癢。利小腹。療肺壅上氣咳嗽。止喘促。除胸中痰飲。通月經。</p>

<h1>車前子</h1>
<p>（本經中品）</p>
<p>【釋名】此草好生道邊。及牛跡中。故名車前。「當道」、「馬舃」、「牛遺」義同上。「牛舌」幽州人呼之。「蝦蟆衣」蝦蟆喜藏伏於下。故名。「車輪榮」以形狀名。「地衣」神仙服食經曰車前一名服之形化。「芣苡」韓氏外傳直曰。車前瞿曰芣苢。苡。毛詩作苢。</p>
<p>【各方記述】春初生苗葉。布地如匙面。累年者。長及尺余。中抽數莖。作長穗。如鼠尾。花甚細密。青色。微赤。結實如葶藶。赤黑色。五月取苗。七八月採實。</p>
<p>【辨別道地】和產有大小二種。葉大穗長者為良。名之朝鮮車前。小葉者。亦功用相同。</p>
<p>【修治】淘淨曬乾。入湯液炒過用。入丸散酒浸一夜。蒸熟研爛作餅。曬乾焙用。</p>
<p>【氣味】甘寒。無毒。</p>
<p>【功用】陽中之陰。降也。入手太陰足少陰厥陰經。常山為之使。若內傷勞倦。傷氣下陷之病。皆不可用。</p>
<p>【主治】氣癃止痛。利水道小便。除濕痹。男子傷中。女子淋瀝。不欲食。養肺強陰。益精明目。療目赤痛。去風毒。肝中風熱。毒風沖眼。未痛障翳。腦痛淚出。壓丹石毒。去心胸煩熱。養肝。治婦人難產。導小腸熱。止暑濕瀉痢。</p>

<h1>連翹</h1>
<p>（本經下品）</p>
<p>【釋名】似蓮作房。翹出眾草。故名。「蓮」本名連。又名異翹。合稱為連翹。「異翹」同上。「卑蓮子」乃小翹。「蘭華」、「三廉」義未詳。「連軺」翹根也。「竹根」義未詳。</p>
<p>【各方記述】此物有大小兩種。大翹枝梗。楊起高丈餘。春初開四瓣黃花。結實。小翹則子稍少矣。小翹枝條柔軟而下垂。如楊柳。花葉並實。俱一樣。八月採實。</p>
<p>【辨別道地】和產大小俱真。可用。</p>
<p>【修治】去蒂瓤任用。噙口者佳。開瓣者。不堪用。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣味俱薄。輕而浮。升也。陽也。入手足少陽。手陽明。又入手少陰經。其用有三。瀉心經客熱。去上焦諸熱。及瘡家聖藥。然癰疽已潰。及火熱由於虛者。脾胃薄弱。易作泄者。多用即減食。有寒中之患。</p>
<p>【主治】寒熱鼠瘻。瘰癧癰腫惡瘡。癭瘤結熱。蠱毒。去白蟲。通利五淋。小便不通。除心家客熱。通小腸。排膿治瘡癤。止痛。通月經。散諸經血結氣聚。消腫。瀉心火。除脾胃濕熱。治中部血證。以為使治。耳聾渾渾焞焞。</p>

<h1>蒺藜</h1>
<p>（本經上品）</p>
<p>【釋名】蒺。疾也。藜。利也。其刺傷人甚疾利。故名。「茨」詩云牆有茨。不可掃。乃是也。「旁通」、「屈乂」、「止行」以下名義。皆因傷人也。「休羽升推」二名未詳。</p>
<p>【各方記述】葉如初生皂莢。整齊可愛。刺蒺藜狀如赤根菜。子如細菱三角四刺實有仁。「白蒺藜」結莢長寸許。內子大如脂麻。狀如羊腎。而帶綠色。今人謂之沙蒺藜。</p>
<p>【辨別道地】和產真可用。沙地海濱。布地蔓生。子有刺。形如菱實而小。白蒺藜葉似合歡而無刺。結莢子如豆。</p>
<p>【修治】揀淨炒去刺用。</p>
<p>【氣味】苦辛甘溫。無毒。白蒺藜甘溫無毒。</p>
<p>【功用】入手太陰足厥陰少陰經。其性行。故積聚乳難之症皆治之。白蒺藜性能固精。命門火熾。陽道數舉。交媾精不得出者。勿服。</p>
<p>【主治】惡血。破症積聚。喉痹乳難。久服長肌肉。明目。身體風癢。頭痛。咳逆傷肺。止痿止煩。下氣。小兒頭瘡癰腫。陰㿉。可作摩粉。治諸風癧瘍。療吐膿去燥熱。治奔豚腎氣。肺氣。胸膈滿。催生墮胎。益精。療水藏冷。小便多。止遺瀝泄精。溺血。腫痛痔漏。陰汗。婦人髮乳帶下。治風秘及蛔蟲。心腹痛。「白蒺藜」（主治）補腎治腰痛。泄精虛損勞乏。</p>

<h1>海金砂</h1>
<p>（宋嘉祐）</p>
<p>【釋名】其色黃如細砂。謂之海者。神異也。或云形類海底黃沙。故名。「竹園荽」其蔓引竹上。其葉如荽故名。</p>
<p>【各方記述】其蔓引於竹木上。線莖細葉可愛也。至六七月葉彌細。背多皺紋。生沙子。狀如蒲黃。收其有皺文葉曬乾。以紙襯承。其砂子落紙上。用其沙及草。皆可入藥。</p>
<p>【辨別道地】和漢俱有之。挼之而不黏者為真。和產者。形狀如本草所說。七月採撒紙上乾用。</p>
<p>【修治】勿令見火。</p>
<p>【氣味】甘寒。無毒。</p>
<p>【功用】入手太陽足太陽經。小腸膀胱血分之劑。得梔子馬牙硝蓬沙。療傷寒熱狂。或丸或散。按海金砂淡滲而無補益。小便不利。及諸淋由於腎水真陰不足者。勿服。</p>
<p>【主治】通利小腸。治濕熱腫滿。小便熱淋。膏淋。石淋。莖痛。解熱毒氣。及痘瘡變黑。煎酒傅其身。即發起。</p>

<h1>大黃</h1>
<p>（本經下品）</p>
<p>【釋名】塊大色黃。故名。「黃良」黃稱色。良稱效。「將軍」推陳致新。如戡定禍亂。以致太平。所以有將軍之號。「火參」、「膚如」義未詳。</p>
<p>【各方記述】葉子莖並似羊蹄。但莖高六七尺而脆。味酸。堪生啖。葉粗長而厚。根紅者。亦似宿羊蹄。大者乃如碗。長二尺。其性濕潤。而易蛀壞。</p>
<p>【辨別道地】和漢俱有之。和產二種。藥肆今稱大和者為良。今大和山城丹後諸州皆有之。以紫地錦文者為佳。售者多以羊蹄草根假之。不可不細認也。松岡先生曰。藥家稱穿眼者真也。稱片者非真。乃羊蹄根也。一種有大葉者。名土大黃。功同羊蹄。</p>
<p>【修治】凡用有生有熟有蒸。不得一概用。欲下行者生用。邪氣在上者。必須酒浸。引上至高。驅熱而下。酒浸入太陽經。酒洗入陽明經。余經不用酒。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣味俱厚。沉而降。陰也。入足太陰。兼入手足陽明厥陰經血分。黃芩為之使。忌冷水。惡乾漆。性峻利猛烈。長驅直搗。苟非血分熱結。六脈沉實者。切勿輕用。凡停留便閉。由於血少腸燥。而不由於熱結。中氣不運。不由於飲食停滯。女子少腹痛。不由於經阻。諸如此類。不可誤投。戒之慎之。</p>
<p>【主治】下瘀血。血閉。寒熱。破癥瘕積聚。留飲宿食。盪滌腸胃。推陳致新。通利水穀。調中化食。安和五藏。平胃下氣。除痰實腸間結熱。心腹脹滿。女子寒血閉脹。小腹痛。諸老血留結。通女子經候。利水腫。利大小腸。貼熱腫毒。小兒寒熱時疾。煩熱。蝕膿。通利一切氣。調血脈。利關節。泄壅滯。水氣。溫瘴熱。瘧瀉。諸實熱不通。除下焦濕熱。消宿食。瀉心下痞滿。下痢赤白。裡急腹痛。小便淋瀝。實熱譫語。黃疸諸火瘡。</p>

<h1>常山</h1>
<p>（本經下品）</p>
<p>【釋名】因生常山道中。故名。「蜀漆」生蜀中。常山苗也。採時莖內有汁。如漆故名。「互草」、「雞尿草」、「鴨尿草」三名義未詳。</p>
<p>【各方記述】生山谷間。莖圓有節。高者不過三四尺。葉似茗而狹長。兩兩相當。二月生白花。青萼。五月結實。青圓三子為房。其草暴燥色青白。堪用。若陰乾便黑爛郁壞矣。</p>
<p>【辨別道地】和漢俱用之。形如雞骨色。如雞子黃者佳。五月採葉陰乾。名蜀漆。和人以阿津佐伊。充蜀漆。以截瘧。試之多得故。亦常山種類也。</p>
<p>【修治】酒浸一宿。切薄片。漫火炒透。又有醋製者。吐人。</p>
<p>【氣味】苦寒。有毒。「蜀漆」辛平。有毒。</p>
<p>【功用】入足厥陰經。畏玉札。即玉屑。蔥菜。及崧菜。伏砒石。生則上行。必吐。得甘草亦吐。酒蒸炒熟。則氣稍緩。得大黃則利。得烏梅山甲入肝。得小麥竹葉入心。得秫米麻黃入肺。得龍骨附子入腎。得草果檳榔入脾。醋製亦作吐。忌雞肉茶蔥菜。服此藥勿滾熱下咽。必露冷過宿才服。年老久病人及形瘦挾虛者全忌。「蜀漆」栝梗橋樓為使。惡實眾。</p>
<p>【主治】傷寒寒熱。熱發溫瘧。鬼毒。胸中痰結。吐逆。療鬼蠱往來。水張洒洒惡寒。鼠瘻。治諸瘧吐痰涎。治項下瘤癭。「蜀漆」（主治）瘧及咳逆。寒熱腹中症堅痞。積聚邪氣。蠱毒鬼疰。療胸中邪結氣。吐去之。治鬼瘧多時。溫瘧寒熱。下肥氣。破血。洗去腥。與苦酸同導膽邪。</p>

<h1>附子</h1>
<p>（本經下品）</p>
<p>【釋名】其母名烏頭。附母而生。故名。</p>
<p>【各方記述】松岡先生曰。漢可用。和雖有。不知培養製法。惟栽人家庭際。稱烏胃玩花而已。花史所謂僧鞋菊。又名鴛鴦菊。有紫花者。白花者。或蔓生者。共草烏頭也。種植採收之法。詳見楊天惠彰明附子記。</p>
<p>【辨別道地】一兩以上。矮而孔節稀者佳。李中立曰。市肆售者。有以鹽水浸之。取其潤濕體重。買者。當以體干堅實。頂圓正底平者。為良。</p>
<p>【修治】生用。去皮臍。熟用。以水浸過。炮令皴摺。去皮臍切片炒黃色。去火毒。用。或童便浸一日。去皮切作四片。童便及濃甘草湯同煮。汁盡為度。烘乾。蓋生用則發散。熟用則峻補。各可從其制也。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】氣厚味薄。可升可降。陽中之陰。浮中沉無所不至。為諸經引用之藥。地膽為使。惡蜈蚣。畏防風黑豆甘草人參黃耆綠豆烏韭童便犀角。忌豉汁。得蜀椒食鹽。下補命門衰敗之火。投之陽虛之候。肺腎本無熱證者。參朮無功。必加附子。服之即能起死。用之陰虛陽旺之人。形瘦脈數者。下咽遂不可救矣。</p>
<p>【主治】風寒咳熱邪氣。寒溫踒躄拘攣。膝痛不能行步。破症堅。積聚。血瘕。金瘡。腰脊風寒。腳氣疼冷。心腹冷痛。霍亂轉筋。下痢赤白。溫中強陰。堅肌骨。又墮胎。為百藥長。溫暖脾胃。除脾濕腎寒。補下焦之陽虛。除藏府沉寒。三陽厥逆。濕淫腹痛。胃寒蛔動。治經閉。補虛散壅。督脈為病。脊強而厥。治三陽傷寒陰毒。寒疝。中寒。中風痰厥。氣厥。柔痓癲癇。小兒慢驚。風濕麻痹。腫滿腳氣。頭風腎厥。頭痛暴瀉。脫陽。久痢。脾泄。寒瘧。瘴氣。久病嘔噦。反胃噎膈。癰疽不斂。久漏冷瘡。合蔥涕塞耳治聾。</p>

<h1>川烏頭</h1>
<p>【釋名】產川蜀綿州龍州者佳。故名。川烏頭其形似烏。烏之首。故以為名。兩歧如烏開口者。曰烏喙。亦取其似也。皆因象命名。</p>
<p>【各方記述】烏頭即附子之母也。與附子同根。春末生子。故曰春採為烏頭。冬則生子已成。故曰冬採為附子。生子多者。一年傅之。即有此數物也。其原種之母莖。枯則朽腐。子在土中。於冬初其苗已萌生。故收採當在八九月間。不爾。雖有造得者。全不堪用。</p>
<p>【辨別道地】形如魁芋。頂未圓。止為別。</p>
<p>【修治】制忌同附子。</p>
<p>【氣味】辛熱。有毒。</p>
<p>【功用】浮也。陽中之陽也。入足太陰少陰經。功用附子。只稍緩耳。但附子性重滯。溫脾逐寒。此則性輕疏。溫脾去風。大抵寒症用附子。風症用烏頭。然皆是補下焦藥也。</p>
<p>【主治】散風痹。血痹。治半身不遂。祛積冷寒痛。逐風痰風癇。助陽退陰。破堅除濕。</p>

<h1>白附子</h1>
<p>（別錄下品）</p>
<p>【釋名】因附子相似。故得此名。實非附子類也。</p>
<p>【各方記述】獨莖似鼠尾草。細葉周匝。生於穗間。根形似天雄。</p>
<p>【辨別道地】漢來者。但一種。真而無偽。和產亦真也。</p>
<p>【修治】炮去皮臍用。</p>
<p>【氣味】辛大溫。大毒。</p>
<p>【功用】陽也。升也。入足陽明經。純陽引藥勢上行。其性燥。似中風症。雖有痰。亦禁用。小兒慢驚風。勿服。吳佩蘭說。慢驚勿服。本綱附方載慢脾驚風治驗。每遇慢驚用之。而屢得效。兩說相矛盾。未知孰是。予從本草。</p>
<p>【主治】心痛血痹。面上百病。行藥勢。中風失音。一切冷風氣。面皯瘢疵。諸風冷氣。足弱無力。疥癬風瘡。陰下濕癢。頭面痕。入面脂用。補肝。風虛風痰。</p>

<h1>天南星</h1>
<p>（宋開寶）</p>
<p>【釋名】本經所謂虎掌也。虎掌因葉形似之。非根也。南星因根圓白。形如老人星。「虎膚」、「鬼蒟蒻」二名以形名。</p>
<p>【各方記述】處處平澤有之。二月生苗。似荷梗。其莖高一尺以來。葉似蒟蒻。兩枝相抱。五月開花。似蛇頭黃色。七月結子。作穗似石榴子。紅色。二月八月採根。似芋圓扁。與蒟蒻相類。</p>
<p>【辨別道地】和產可用。又有形狀相似不真者。採藥者。宜擇之。</p>
<p>【修治】去皮臍。入器中湯浸五七日。日換三四遍。去涎暴乾用。或火炮裂用。或以皂莢白礬生薑水。水煮過用。造膽南星法。以南星研末。臘月取黃牯牛膽汁。和納入膽中。系懸風處干之。年久者彌佳。方書謂之牛膽南星。即此是。若倉卒不能得此。以生薑湯多炮六七次。殺去毒。堪用。但其性猶烈耳。</p>
<p>【氣味】苦辛溫。有毒。</p>
<p>【功用】陰中之陽。可升可降。入手太陰。又入足厥陰太陰經。畏附子乾薑生薑。蜀漆為之使。惡莽草。得防風則不麻。得牛膽則不燥。得火炮則不毒。生能伏雄黃丹砂焰硝。此物大溫燥烈。與半夏之性同。而毒過之。故亦善墮胎也。西北人非真中風者勿服。陰虛燥痰。在所禁忌。</p>
<p>【主治】心痛寒熱。結氣積聚。伏梁。筋痿拘緩。利水道。除陰下濕。風眩。主疝瘕腸痛。傷寒時疾。強陰。主中風麻痹。除痰下氣。利胸膈。攻堅積。消癰腫。散血。墮胎。金瘡折傷瘀血。搗傅之。蛇蟲咬。疥癬惡瘡。去上焦痰。及眩運。主破傷風。口噤身強。補肝風虛。治痰。功同半夏。治驚癇。口眼喎斜。喉痹。口舌瘡糜。結核解顱。</p>

<h1>半夏</h1>
<p>（本經下品）</p>
<p>【釋名】禮月令。五月半夏生。蓋當夏之半也。「守由」當夏之半故名。「水玉」因形以名。「地文」、「和姑」名義未詳。</p>
<p>【各方記述】二月生苗。一莖。莖端三葉。淺綠色。頗似竹葉。五月八月採根。以灰裹二日。湯洗暴乾。</p>
<p>【辨別道地】和產不擇處而生。一種稱大半夏者。其根塊極大。葉亦闊大。有紋縷。且光。是由跋而南星一種。非半夏也。不可混用。以肉白為佳。不厭陳久。</p>
<p>【修治】揀肥大而白者。洗去皮垢。以水浸五日。每日換水。去帽眼。干切片。薑汁拌焙。入藥。或製半夏一斤。以生薑一斤。切片拌半夏。加水以煮熟。割以無白星為度。去姜。曬乾。炒用亦可。治火痰以薑汁竹瀝。治寒痰以薑汁礬湯入白芥子末和之。風痰薑汁皂角煮汁和之。「造半夏曲法」以半夏洗淨湯泡去衣垢。研細以薑汁礬湯和作餅。楮葉包裹。待生黃衣。去葉曬乾用。</p>
<p>【氣味】辛平。有毒。</p>
<p>【功用】氣味俱薄。沉而降。陽中陰也。入手少陰太陰陽明經。亦入足太陰陽明少陽經。射干柴胡為之使。畏雄黃生薑乾薑秦皮龜甲及烏頭。惡皂莢。忌羊血海藻飴糖。熱痰佐以黃芩。風痰佐以南星。寒痰佐以乾薑。痰痞佐以陳皮白朮。多用則瀉。脾胃諸血證。及口渴者。禁用。為其燥津液也。孕婦忌之。用生薑則無害。</p>
<p>【主治】傷寒寒熱。心下堅。胸脹咳逆。頭眩。咽喉腫痛。腸鳴下氣。止汗。消心腹胸膈痰熱滿結。咳嗽上氣。心下急痛堅痞。時氣嘔逆。消癰腫。療痿黃。悅澤面目。墮胎消痰下肺氣。開胃健脾。止嘔吐。去胸中痰滿。生者摩癰腫。除瘤癭氣。治吐食反胃。霍亂轉筋。腸腹冷痰瘧。治寒痰。及形寒飲冷傷肺而咳。消胸中痞。膈上痰。除胸寒。和胃氣。燥脾濕。治痰厥頭痛。消腫散結。治眉稜骨痛。補肝風虛。除腹脹。目不得瞑。白濁。夢遺。帶下。</p>

<h1>五味子</h1>
<p>（本經上品）</p>
<p>【釋名】皮肉甘酸。核中辛苦。都有鹹味。此則五味具也。「莖蕏」音知除。「玄及」、「會及」名義未詳。</p>
<p>【各方記述】春初生苗。引赤蔓於高木。其長六七尺。葉尖圓似杏葉。三四月開黃白花。類蓮花狀。七月成實。叢生莖端。如豌豆許大。生青熟紅紫。入藥生曝不去子。</p>
<p>【辨別道地】以朝鮮為上。以漢為中。以和為下。方書所謂北五味子。遼五味子。皆謂朝鮮產也。和產者。本草所謂南五味子也。時珍曰。五味子。今有南北之分。南產者色紅。北產者色黑。入滋補藥必用北產者。乃良。</p>
<p>【修治】入補藥。蜜蒸熟。再以泔水浸焙乾用。入嗽藥生用。連核入藥。</p>
<p>【氣味】酸甘辛苦鹹溫。無毒。</p>
<p>【功用】味厚。氣輕。陰中微陽。入手太陰血分。又入足少陰氣分。蓯蓉為之使。惡萎蕤。勝烏頭。功用雖多。總之收肺保腎四字盡之。肺家實熱有火鬱者。禁用。</p>
<p>【主治】益氣。咳逆上氣。勞傷羸瘦。補不足。強陰。益精。養五藏。除熱生陰。治中下氣。止嘔逆。補虛勞。令人體悅澤。明目。暖水藏。壯筋骨。治風消食。反胃。霍亂轉筋。痃癖。奔豚冷氣。消水腫。心腹氣脹。止渴除煩熱。解酒毒。生津。治瀉痢。補元氣不足。收耗散之氣。瞳子散大。治喘咳燥嗽。壯水鎖陽。</p>

<h1>栝樓仁</h1>
<p>（本經中品）</p>
<p>【釋名】栝。檃括也。樓。蔞斂也。言包斂其子在內。白如括囊也。「果羸」音轉也「瓜蔞」、「天瓜」、「黃瓜」、「地樓」皆依音象形以名。「澤姑」義未詳。</p>
<p>【各方記述】所在有之。三四月生苗。引藤蔓葉如甜瓜葉而窄。作叉有細毛。七月開花。似壺蘆花。淺黃色、結實在花下。大如拳。生青。至熟赤黃色。其形有正圓者。有銳而長者。功用皆同。根亦名「白藥」皮黃肉白。</p>
<p>【辨別道地】和產有二三種。藥鋪栝樓仁。王瓜子混而一之。宜子細辨其殼中子似柿核者。乃栝樓也。如螳螂頭者。乃王瓜也。藥鋪稱柿核樣奴女樣者佳矣。</p>
<p>【修治】去殼皮草膜。及油。亦有不去油。微炒者。王肯堂曰。肥大結實者。連子皮細切用。今人止用核仁非也。</p>
<p>【氣味】甘微寒。無毒。</p>
<p>【功用】味厚氣薄。陰也。入手太陰。同貝母。則開結痰。脾胃虛寒。作泄者。勿服。</p>
<p>【主治】胸脾。悅澤人面。潤肺燥。降火。治咳嗽。滌痰結。利咄喉。止消渴。利大腸。消癰腫瘡毒。子炒用補虛勞。口乾。潤心肺。治吐血腸風。瀉血。赤白痢。手面皺。</p>

<h1>天花粉</h1>
<p>（圖經）</p>
<p>【釋名】內有花文。天然而成。故名。「瑞雪」以白色名之。</p>
<p>【各方記述】栝樓根也。</p>
<p>【辨別道地】近來以黃瓜根制之。其功用大抵相同。藥肆稱幾志。幾志樣者。良矣。</p>
<p>【修治】藥鋪製售者。直用之。「制天花粉法」秋冬採根。厚去皮。至白處。寸切之。水浸。一日一易水。經三五日。取出。搗如泥。以絹濾澄粉。曬乾用。</p>
<p>【氣味】甘苦微寒。無毒。</p>
<p>【功用】降也。陰也。入手少陰太陰經。枸杞為之使。惡乾薑。畏牛膝。反烏頭。脾胃虛寒作泄者。勿服。</p>
<p>【主治】消渴。身熱煩滿。大熱。補虛安中。續絕傷。除腸胃中痼熱。癰疽身面黃。唇乾口燥。短氣。止小便利。通月水。治熱狂時疾。通小腸。消腫。乳癰發背。痔瘻瘡癤。排膿生肌長肉。消撲損瘀血。</p>

<h1>葛根</h1>
<p>（本經中品）</p>
<p>【釋名】葛。革也。藤皮可為絺綌也。「雞齊」義未詳。「鹿藿」鹿食九草。此其一種故名。「黃斤」未詳。</p>
<p>【各方記述】葛有野生。有家種。其蔓延長。取治可作絺綌。其根外紫內白。長者七八尺。其葉有三尖。如楓葉。面青。背淡。其花成穗。累累相綴。紅紫色。其莢如小黃豆莢。亦有毛。其子綠色。扁扁如鹽梅子。核生嚼腥氣。八九月採之。</p>
<p>【辨別道地】松岡先生曰。漢土植家園而用之。名之家葛。和邦皆野生。方書呼乾葛者。乃葛根。俗醫誤以乾葛為葛粉。或取葛莖為乾葛。俱皆誤也。不可不辨也。</p>
<p>【修治】去皮用之。今在藥鋪者。素去皮。故洗水刻用。</p>
<p>【氣味】甘辛平。無毒。</p>
<p>【功用】氣味俱薄。輕而上行。浮而降。陽中陰也。入足陽明胃經。凡傷寒頭痛。兼項強。腰脊痛。及遍身骨疼者。足太陽也。邪未入陽明。故無渴證。不宜服。五勞七傷。上盛下虛之人。暑月雖有脾胃病。不宜服。</p>
<p>【主治】消渴身大熱。嘔吐。諸痹。起陰氣。解諸毒。療傷寒中風。頭痛。解肌發表出汗。開腠理。療金瘡。止脅風痛。治天行上氣嘔逆。開胃下食。解酒毒。治胸膈煩熱。發狂。止血痢。通小腸。排膿破血。傅蛇蠱齧。罨毒箭傷。殺野葛巴豆百藥毒。生者墮胎。蒸食消酒毒。可斷谷不飢。作粉尤妙。作粉止渴。利大小便。去煩熱。壓丹石。傅小兒熱瘡。搗汁飲。治小兒熱痞。猘狗傷搗汁飲。並末傅之。「葛花」（氣味）甘平無毒。（各方記述）七月採之。（主治）消酒。治腸風下血。</p>

<h1>天門冬</h1>
<p>（本經上品）</p>
<p>【釋名】虋冬。（音門）草之茂者為虋。俗作門。此草蔓茂。而功同麥門冬。故名。「顛勒」、「顛棘」、「天棘」爾雅云。髦顛棘也。因其細葉如髦。有細棘也。顛天音相近也。「萬歲藤」萬歲稱其性乎。</p>
<p>【各方記述】處處有之。春生藤。蔓大如釵股。高至丈餘。葉如茴香。極尖細而疏滑有逆刺。亦有澀而無刺者。其葉如絲杉而細散。夏生細白花。亦有黃色。及紫色者。秋結黑子。在其根枝旁。入伏後。無花暗結子。其根或黃紫色。大如手揩。圓實而長二三寸。大者為勝。一科一二十枚。</p>
<p>【辨別道地】和漢俱有焉。和一種蔓生。葉如絲杉。白花結實。</p>
<p>【修治】酒拌蒸。剝去皮。四破去心。曝乾用。</p>
<p>【氣味】甘微苦平。無毒。</p>
<p>【功用】氣薄味厚。陽中之陰。沉也。降也。入手太陰足少陰經氣分。垣衣地黃貝母為之使。畏曾青。忌食鯉魚。誤食中毒者。以浮萍汁解之。陰虛水涸。火起下焦。上炎於肺。為痰喘者。誠為要藥也。味苦氣寒。不利脾胃。陰虛之脾胃多弱。又以苦寒損其胃氣。以致泄瀉惡食。則危殆矣。故脾虛泄瀉惡食者。大非所宜。</p>
<p>【主治】諸暴風濕偏痹。強骨髓。殺三蟲。去伏屍。保定肺氣。去寒熱。養肌膚。利小便。冷而能補肺氣。咳逆喘急。肺萎生癰。吐膿。除熱。通腎氣。止消渴。去熱中風。治濕疥。宜久服煮食之。令人肌體滑澤白淨。除身上一切惡氣。不潔之疾。鎮心潤五藏。補五勞七傷。吐血治嗽。消痰去風熱煩悶。主心病嗌乾。心痛。渴而欲飲。痿蹷嗜臥足下熱而痛。潤燥滋陰。清金降火。陽事不起。宜常服之。</p>

<h1>何首烏</h1>
<p>（宋開寶）</p>
<p>【釋名】因順州南河縣。何翁服之。白髮變黑故稱。「交藤」、「夜合」其藤蔓夜交合相聊。故名。「地精」、「陳知白」名義未詳。「馬肝石」漢武時有馬肝石。能烏人發。故後人隱此名云。「桃柳藤」以形名。「九真藤」取根若獲九數者。服之乃仙。故名。「赤葛」、「瘡帚」、「紅內消」赤者。消腫毒。外科呼為瘡帚紅內消。</p>
<p>【各方記述】春生苗。蔓延竹木牆壁間。莖紫色。葉葉相對。如著蕷而不光澤。夏秋開黃白花。如葛勒花。結子有稜。似蕎麥而雜小。才如粟大。秋冬取根。大者如拳。各有五稜。瓣似小甜瓜。有赤白二種。赤者雄。白者雌。</p>
<p>【辨別道地】松岡先生曰。漢來者真也。和稱何首烏者。乃苦萎。而非真。本草所謂黃獨也。與真何首烏。功能迥別。不可用。其真何首烏。俗醫本草極讚美其功。因逞欲者。好單味服餌。多誤性命者。可不戒乎。予嘗疑此物。無益而有害。怪世人漫服。不知其中酷烈。苦澀之毒。及閱倪朱謨本草匯言。其說與予意合云云。匯言全文見於用藥須知標註。故略之。</p>
<p>【修治】用竹刀切。米泔浸一宿。木杵搗。一法用竹刀刮去黑皮。米泔浸二日。切片。每赤白各一斛。用黑豆三斗。每次三升三合三勺。以水浸過。甑內鋪豆一層。藥一層。重重鋪盡。砂鍋上蒸之。豆熟為度。去豆九蒸九曬為度。</p>
<p>【氣味】苦澀微溫。無毒。</p>
<p>【功用】升也。陽也。入足厥陰少陰經。白者入氣。赤者入血。茯苓為之使。忌諸血。無鱗魚。蘿蔔蒜蔥鐵器同地黃。能伏硃砂。</p>
<p>【主治】瘰癧。消癰腫。療頭面風瘡。治五痔。止心痛。益血氣。黑髭發。悅顏色。久服長節骨。益精髓。治婦人產後。及帶下諸疾。治腹藏一切宿疾。冷氣腸風。瀉肝風。</p>

<h1>土茯苓</h1>
<p>（綱目）</p>
<p>【釋名】形似茯苓。故云。「土萆薢」、「刺豬苓」、「山豬糞」、「山地慄」皆象形草。「禹餘糧」、「仙遺糧」、「冷飯糰」昔禹行山乏食。採此充糧。而棄其餘。故有此數名。</p>
<p>【各方記述】土茯苓楚蜀山中甚多。蔓生如蒪。莖有細點。其葉不對。狀頗類大竹葉。而質厚滑。如瑞香葉而長。五六寸。其根狀如菝葜而圓。其大若雞鴨子。連綴而生。遠者離尺許。近或數寸。其肉軟可生啖。與萆薢及菝葜。其根苗迥然不同。宜參考之。但其功用。頗相近。</p>
<p>【辨別道地】漢來者可用。和產無之。和邦以菝葜稱山歸來菝葜。功用與土茯苓不甚相遠。形狀克相似。則代用土茯苓。亦不為不可矣。漢來有赤白二種。入藥用白者良。今藥肆雜菝葜以售。宜審擇焉。</p>
<p>【修治】削去皮用。</p>
<p>【氣味】甘淡平。無毒。</p>
<p>【功用】入足陽明厥陰經。忌茶茗。及牛羊雞鵝魚肉燒酒面房勞。凡好淫之人。病楊梅瘡毒。其證多屬厥陰陽明二經。如兼少陰太陰。則發於咽喉。兼太陽少陰。則發於頭耳。蓋相火寄於厥陰。肌肉屬於陽明故也。醫用輕粉銀硃劫劑。七日即愈。水銀性走不守。如以鹽礬升為輕粉。銀硃。其性燥熱。善逐痰涎。涎乃脾液。此物入胃。氣歸陽明。故涎被劫。隨火上升。從喉頰齒縫而出。故瘡即干痿而愈。若服之過劑。及用不得法。則毒氣竄入筋骨經絡。莫之能出。痰涎去而血液耗。筋失所養。營衛不從。變為筋攣骨痛。發為癰毒。遂成廢痼。土茯苓能健脾胃。去風濕。脾健而風濕去。故毒得以愈。</p>
<p>【主治】食之當谷不飢。調中止泄。健行不睡。健脾胃。強筋骨。去風濕。利關節。止泄瀉。治拘攣骨痛。惡瘡癰腫。解汞粉銀硃毒。</p>

<h1>威靈仙</h1>
<p>（宋開寶）</p>
<p>【釋名】威言其性猛也。靈仙言其功用神也。</p>
<p>【各方記述】莖如釵股。七月內生花六出。淺紫。或白色。作穗。似蕓薹子。亦有如菊花頭者。實青色。根稠密多須似谷母。年朽敗。九月採根。一根叢須數百條。長者二尺許。初時黃黑色。干則深黑色。稱鐵腳威靈仙。色或黃或白者。皆不可用。</p>
<p>【辨別道地】和漢俱有之。漢來者。為上。所謂鐵腳威靈仙。是也。和藝花家。呼九蓋草者。即是也。採藥售者。間雜仙人草根。此物大有毒。宜擇用。近年出於薩州者。形色氣味。殆逼真可用。</p>
<p>【修治】洗水銼用。或洗焙。以好酒微和濕。緊塞竹筒內。九蒸九曬。</p>
<p>【氣味】苦溫微辛鹹。無毒。</p>
<p>【功用】可升可降。陰中陽也。入太陽經。又曰通行十二經。忌茶茗。及麩麵湯。主諸濕。然疏利之物。久服損真。壯實者服之。誠有殊功。氣弱者。反成痼疾。凡病非風濕。及陽盛火升。血虛有熱。表虛有汗。痎瘧口渴身熱者。並忌用之。</p>
<p>【主治】諸風宣通五藏。去腹內冷滯。心膈痰水。久積癥瘕痃癖氣塊。膀胱宿膿惡水。腰膝冷疼。療折傷久服有效。溫疫瘧。推新舊積滯。消胸中痰唾。散皮膚大腸風邪。</p>

<h1>防己</h1>
<p>（本經中品）</p>
<p>【釋名】已止也。防止足疾也。「斛離」、「石斛」因其紋斛以名。</p>
<p>【各方記述】生漢中。有二種。木防己。皮皺上。有丁足。子青白。虛軟。漢防己破之。紋作車輻斛黃。實馨香。狀與木通近似。惟漢者勝。</p>
<p>【辨別道地】和漢俱有之。本草原始出條防己。瓜防己者。本草所謂漢防己也。今漢來者。皆瓜防己也。因方宜擇用。</p>
<p>【修治】去皮銼。酒洗。曬乾用。</p>
<p>【氣味】苦辛寒。無毒。</p>
<p>【功用】陰也。泄也。太陰本經藥也。漢主肺氣。本經風邪。殷蘖為之使。惡細辛。畏萆薢。滷咸。伏硝石。殺雄黃毒。蓋其性𢛞。其氣猛。能走竄決。防傷胃氣。故凡胃氣陰虛自汗盜汗。口苦舌乾。腎虛小水不利。及胎前產後。血虛。雖有下焦濕熱。慎毋用之。</p>
<p>【主治】風寒溫瘧。熱氣。諸癇。除邪利大小便。療水腫風腫。去膀胱熱。傷寒熱邪氣。中風手腳攣急。通腠理。利九竅。止泄散癰腫惡結。諸疥癬蟲瘡。治濕風。口面喎斜。手足拘痛。散留痰。肺氣喘嗽。治中下濕熱腫泄腳氣。行十二經。「木防己」（主治）男子肢節中風。毒風不語。散結氣。擁腫溫瘧。風水腫。去膀胱熱。</p>

<h1>木通</h1>
<p>（士良）</p>
<p>【釋名】有細孔。兩頭皆通。本經所謂通草也。「附支」、「丁翁」、「萬年藤」名義未詳。「燕覆」子名。</p>
<p>【各方記述】藤生。蔓大如指。其莖幹大者。徑三寸。一枝五葉。頗類石葦。又似芍藥。二葉相對。夏秋開紫花。亦有白花者。結實如小木瓜。食之甘美。</p>
<p>【辨別道地】和漢俱有之。和產者。阿氣比也。今漢來者。蘿蔔藤也。本草頌曰。或以木通為蘿蔔非也。然論其功用。則二物彼是相同。而足可通用而已。如無通草。則代用蘿蔔藤。亦可矣。</p>
<p>【修治】去粗皮。切片用。○治痛風煮酒用炒。</p>
<p>【氣味】甘辛淡微寒。無毒。</p>
<p>【功用】味薄。降也。陰也。入足少陰太陽。亦入手少陰厥陰太陽經。其性通利。凡精滑夢遺。及陽虛氣弱。無濕熱者。禁用。妊娠忌之。</p>
<p>【主治】除脾胃寒熱。通利九竅。血脈關節。令人不忘。去惡蟲。療脾疽。常欲眠。心煩噦出音聲。治耳聾。散癰腫。諸結不消。及金瘡惡瘡。鼠瘻踐折。齆鼻息肉。墮胎。去二蟲。治五淋。利小便。開關格。治人多睡。主水腫浮大。利諸經脈。寒熱不通之氣。理風熱。小便數急疼。小腹虛滿。安心除煩。止渴結熱。明耳目。治鼻塞。通小腸。下水破積聚血塊。排膿治瘡癤止痛。催生下胞。女人血閉。經候不勻。天行時疾。頭痛目眩。羸劣乳結。及下乳。利大小便。令人心寬下氣。主諸痿瘡。喉痹咽痛。濃煎含咽。通經利竅。導小腸火。</p>

<h1>鉤藤鉤</h1>
<p>（別錄下品）</p>
<p>【釋名】其刺曲如釣鉤。故名。或作「吊藤」。療天吊故名乎。</p>
<p>【各方記述】狀如葡萄藤而有鉤。</p>
<p>【辨別道地】選紫色者用。</p>
<p>【修治】去梗純用嫩鉤。其功十倍。</p>
<p>【氣味】甘苦微寒。無毒。</p>
<p>【功用】入手足厥陰經。按釣藤祛肝風。而不燥。中和之品也。足厥陰主風。手厥陰主火。驚癇眩運。皆肝風相火之病。此能通心包於肝木。風靜火息。則諸症自愈。其性寒。多宜小兒科。大人有寒者。不宜多服。</p>
<p>【主治】小兒寒熱。十二驚癇。小兒驚啼瘛瘲。熱擁客忤。胎風。大人頭旋。平肝風。除心熱。小兒內釣腹痛。發斑疹。</p>

<h1>忍冬</h1>
<p>（別錄上品）</p>
<p>【釋名】藤生。凌冬不凋。故名。「金銀藤」、「鴛鴦藤」、「鷺鷀藤」、「老翁須」、「左纏藤」其花長瓣垂須。黃白相半。而其藤左繞附木。故有以上諸名。「金釵股」貴其功也。「蜜橘藤」、「通靈草」陰草也。取汁。能伏硫。制汞。故名。</p>
<p>【各方記述】在處有之。附樹延蔓。莖微紫色。對節生葉。葉似薜荔。而青有澀毛。三四月開花。長寸許。一帶兩花。二瓣。一大一小。如半邊狀。長蕊。花初開者。蕊瓣俱色白。經二三日。則色變黃。新舊相參。黃白相映。故呼金銀花。氣芬芳。四月採花陰乾。藤葉不拘時採陰乾。</p>
<p>【辨別道地】和產真可用。○沉內輸日如無生者。只用乾者。然力終不及生者效速。</p>
<p>【修治】水洗銼用。○匯日勿犯鐵器。</p>
<p>【氣味】甘微寒。無毒。</p>
<p>【功用】入手太陰經。煮汁釀酒。補虛。療風。性極中和。近世但知其消毒之功。昧其腹脹風虛痢澼之用。</p>
<p>【主治】寒熱身腫腹脹滿。能止氣下澼熱毒。血痢水痢。治五種屍注。（五屍出於本綱附方）鬼擊。一切風濕。及諸腫毒癰疽。疥癬楊梅諸惡瘡。散熱。解中野菌毒。為膏一切疔腫。金刃傷瘡皆治。</p>

<h1>澤瀉</h1>
<p>（本經上品）</p>
<p>【釋名】生池澤淺水。功能止瀉。故名。「水瀉」去水曰瀉。如澤水之瀉故名。「鵠瀉」、「及瀉」、「蕍」、「芒芋」諸名未詳。「禹孫」禹能治水故稱。</p>
<p>【各方記述】春生苗。多在淺水中。葉似牛舌。獨莖而長。秋時開白花。作叢似穀精草。秋末採根。暴乾。</p>
<p>【辨別道地】和產有二種。丹後仙台者。堅實而好。近江者。輕虛而性惡。故仙台丹後為上。江州為下。色白堅實者。可選用。</p>
<p>【修治】去毛。酒洗。一宿曝乾用。</p>
<p>【氣味】甘鹹微寒。無毒。</p>
<p>【功用】沉而降。陰也。入足太陽少陰經。畏海蛤文蛤。凡病人下焦無濕熱而陰虛。及腎氣之陽衰精自流者。目虛不明者。切勿輕與暴服。能明目。多服則昏目。不可不知。</p>
<p>【主治】風寒濕痹。乳難。養五藏。益氣力肥健。消水。五藏痞滿。起陰氣。止泄精消渴。淋瀝。逐膀胱三焦停水。主腎虛精自出。治五淋。宣通水道。主頭旋耳鳴。筋骨攣縮。通小腸。止尿血。主難產。入腎經。去舊水。養新水。利小便。消腫脹。滲泄止渴。去脬中留垢。心下水痞。滲濕熱。行痰飲。止嘔吐。瀉痢。疝痛腳氣。</p>

<h1>菖蒲</h1>
<p>（本經上品）</p>
<p>【釋名】蒲類之昌盛者。故名。「菖陽」名大根者。「堯韭」堯時天降精於庭為韭。感百陰之氣。為菖蒲。「水劍草」因葉形而名。</p>
<p>【各方記述】菖蒲有數種。生於池澤。葉肥根高三四尺者。泥菖也。名白菖。和邦端五插檐者也。又有花菖蒲。紫白嬌豔可愛者。燕子花之類也。生於溪澗。葉瘦根高一二尺。其葩與花菖蒲相肖而小者。溪孫也。生於水石之間。有釰脊。瘦根密節。高尺余。二三月間抽莖。開小黃花成穗者。石菖蒲也。惟採此種。可以入藥。余皆不堪。其養以沙石。愈剪則愈細。愈久則愈密。高四五寸葉如韭。甚則根長二三分。葉長寸許。謂之錢蒲。又山中泉石間。自有根苗。纖細一寸。不啻九節。而至二十節者。方技家獨貴之。然不必拘之。其一寸九節。至其餘者。多露瘦根。而形質堅。氣味薄。而且有毒。但當以深山窮谷水磧上生肥大者。為佳。</p>
<p>【辨別道地】和產可用。生於溪澗。葉長根肥者。可擇用。人家栽園圃者。為不佳。冬月採根。曬乾用。</p>
<p>【修治】以銅刀刮去毛節皮。微焙用。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】陽中之陰。可升可降。入手少陰足厥陰太陽經。秦皮秦艽為之使。惡地膽麻黃。忌飴糖羊肉。犯鐵器令人吐逆。葉洗疥大風瘡妙。</p>
<p>【主治】風寒濕痹。咳逆上氣。開心孔。補五藏。通九竅。明耳目。出音聲。主耳聾癰瘡。溫腸胃。止小便利。久服輕身。不忘不迷。延年益心智。高志不老。四肢濕痹。不得屈伸。小兒溫瘧。身積熱不解。可作浴湯。治耳鳴頭風。淚下鬼氣。殺諸蟲。惡瘡疥瘙。除風下氣。丈夫水藏。女人血海。冷敗多忘。除煩悶。止心腹痛。霍亂轉筋。及耳痛者。作末炒乘熱裹罨甚驗。心積伏梁。治中惡卒死。客忤癲癇。下血崩中。安胎漏。散癰腫。搗汁服。解巴豆大戟毒。</p>

<h1>白扁豆</h1>
<p>（別錄中品）</p>
<p>【釋名】白者。稱花實色。扁者。象莢實形以名。「沿籬豆」沿籬蔓延故名。「蛾眉豆」花形象豆脊也。</p>
<p>【各方記述】扁豆二月下種。蔓生。延纏。葉大如杯。團而有尖。其花狀如小蛾。有翅尾形。其莢累累成枝。白露後。實更繁衍。嫩時可充蔬食。老則收子。煮食。</p>
<p>【辨別道地】和產有二種。花白色而實形扁者。色亦白。花紫色。實圓而不白者。應以花實白而扁者入藥。花實不白而圓者。可充食料。</p>
<p>【修治】連皮炒熱用。</p>
<p>【氣味】甘微溫。無毒。</p>
<p>【功用】陽也。可升可降。入足太陰經。傷寒邪熾者。禁用。</p>
<p>【主治】和中下氣。補五藏。主嘔逆。久服頭不白。療霍亂吐利不止。研末和醋服之。行風氣。治女子帶下。解酒毒。河豚魚毒。一切草木毒。生嚼及煮汁飲取效。止泄痢。消暑暖脾胃。除熱止消渴。○花焙研服。治赤白崩帶。並泄痢。</p>

<h1>神麯</h1>
<p>（藥性論）</p>
<p>【釋名】昔人用曲。多是造酒之曲。後醫乃造神麯。專以供藥。力更勝之。蓋取神聚會之日造之。故得神名。</p>
<p>【各方記述】五月五日。或六月六日。用白麵百斤。青蒿自然汁三升。赤小豆末。杏仁泥各三升。蒼耳自然汁。野蓼自然汁。各三升。以配白虎青龍朱雀玄武勾陣螣蛇六神。用汁和麵豆杏仁作餅。麻黃或楮葉包罨。如造醬黃法。待生黃衣。曬收。臨用炒之。陳久者良。一法用青蒿蒼耳野蓼自然汁。及赤小豆末。杏仁泥。各三盞。和勻於瓷器內。次第下白麵。搜和得所作餅。如上。生黃曬收之。尤為簡便也。醫壘元戎。有三奇六神麯法。可考見焉。</p>
<p>【辨別道地】藥鋪所售者。不得其制。如法自採自制可用之。</p>
<p>【修治】陳久者。細碎去蛀炒用。</p>
<p>【氣味】甘辛溫。無毒。</p>
<p>【功用】陽中之陽也。入足陽明經。須與參朮香砂同用。為佳。</p>
<p>【主治】化水穀宿食。癥結積滯。健脾暖胃。養胃氣。治赤白痢。消食下氣。除痰逆。霍亂泄痢。脹滿諸疾。其功與曲同。閃挫腰痛者。煅過淬酒溫服。有效。婦人產後。欲回乳者。炒酒服二錢。日二。即止甚驗。</p>

<h1>麥芽</h1>
<p>（別錄中品）</p>
<p>【釋名】大麥。水浸生芽。故名。</p>
<p>【修治】麥牙去須。取其中米炒研曲用。今惟炒用。</p>
<p>【氣味】鹹甘溫。無毒。</p>
<p>【功用】陰中之陽。可升可降。入足陽明經。豆蔻縮砂烏梅木瓜芍藥五味子為之使。麥芽神麯二藥。胃氣虛人宜服之。雖然有食積者能消化。無積者久服則損腎。消元氣。須同白朮諸藥兼用。方為無害。</p>
<p>【主治】消食和中。破冷氣。去心腹脹滿。開胃止霍亂。除煩悶。消痰飲。破癥結。催生落胎。補脾胃虛。寬腸下氣。腹鳴者用之。消化一切米麵諸果食積。產後回乳。為末服甚良。</p>

<h1>生薑</h1>
<p>（別錄中品）</p>
<p>【釋名】姜能強御百邪。故謂之姜。初生嫩者。其尖微紫。名紫薑。或作子姜。宿根謂之母姜也。</p>
<p>【各方記述】繆仲醇曰。生薑不宜使熟。宜搗絞汁。待藥煎成頃。方不失生之義。如入藥煎。乃熟姜。非生薑。此說雖新奇。非是。何則。絞汁待煎成而入。則薑汁而非生薑。生薑乾薑。乾生薑等之精辨。詳於松岡先生之說。故不贅於此。○方書謂生薑一片者。片者。以生薑一塊。判為數片。其一片之分量。亦不分明。按奇效醫述。經驗四時感寒發散方中。生薑三片為引。約重二錢。此方藥約計八錢一分。和制一貼。一錢之藥。約計二分七釐一毫也。是發表之劑。故應生薑分量多。如不發表之藥。則大抵半減。而可用之乎。</p>
<p>【修治】去皮則熱。留皮則冷。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】氣味俱厚。浮而升。陽也。入手足太陰足陽明經。秦椒為之使。殺半夏莨菪毒。惡黃芩黃連天鼠糞。食姜久。積熱患目病。痔人忌之。癰瘡人多食則生惡肉。夜勿食姜者。夜主闔。而姜主闢也。</p>
<p>【主治】久服去臭氣。通神明。歸五藏。除風邪。寒熱。傷寒頭痛。鼻塞咳逆上氣。止嘔吐。去痰下氣。去水氣滿。療咳嗽時疾。和半夏。主心下急痛。和杏仁。作煎下急痛。氣實。心胸擁隔。冷熱氣神效。搗汁和蜜服。治中熱嘔逆。不能下食。散煩悶。開胃氣。汁作煎服。下一切結實。沖胸膈。惡氣。神驗。破血調中。去冷氣。汁解藥毒。除壯熱。治痰喘脹滿。冷痢痛腹轉筋。心滿。去胸中臭氣。狐臭。殺腹內長蟲。益脾胃。散風寒。解菌蕈諸物毒。生用發散。熟用和中。解食野禽中毒。成喉痹。浸汁點赤眼。搗汁和黃明膠熬貼風濕痛。甚妙。「乾生薑」（修治）生薑銼日曬乾收用。（主治）治嗽溫中。治脹滿。霍亂不止。腹痛冷痢。血閉。病人虛而冷宜加之。姜屑和酒服。治偏風。肺經氣分之藥。能益肺。</p>

<h1>乾薑</h1>
<p>（本經中品）</p>
<p>【釋名】「白姜」造以白淨結實者為良。故云。</p>
<p>【造乾薑法】以丹姜水浸三日。去皮。又置流水中六日。更刮去皮。然後曬乾。置瓷缸中。釀三日。乃成也。</p>
<p>【辨別道地】藥肆中以母姜略煮過。然後曝之。令乾名之乾薑。或有欲其色白。以石灰纏收者。有毒。俱非是。惟藥肆稱寒曬生薑者。佳。可用。</p>
<p>【修治】有石灰氣者。洗去之。微炒用。</p>
<p>【氣味】苦辛大熱。</p>
<p>【功用】氣薄味厚。半沉半浮。可升可降。陽中之陽也。入手太陰陽明足太陰少陰四經。若治產後血虛發熱。及止血。俱炒黑。溫中炮用。散寒邪。理肺氣。止嘔生用。使惡殺同生姜。多服損陰傷目。陰虛內熱。表虛有汗。因熱下血。火熱腹痛。法並忌之。孕婦不可食之。令胎內消。姜皮作散。消浮腫。故五皮散用之。</p>
<p>【主治】胸滿咳逆上氣。溫中止血。出汗逐風濕痹。腸澼下痢。生者尤良。寒冷腹痛。中惡霍亂。脹滿。風邪諸毒。皮膚間結氣。止唾血。治腰腎中疼冷。冷氣。破血去風。通四肢關節。開五藏六府。宣諸絡脈。去風毒冷痹。夜多小便。消痰下氣。治轉筋吐瀉。反胃。乾嘔。瘀血撲損。止鼻紅。解冷熱毒。開胃消食。主心下寒痞。目睛久赤。</p>

<h1>茴香</h1>
<p>（唐本草）</p>
<p>【釋名】蘹香。北人呼為茴香。聲相近也。</p>
<p>【各方記述】茴香宿根。深冬生苗。作叢。肥莖綠葉。五六月開花。如蛇床花。而色黃。結子大如麥粒。輕而有細稜。俗呼為大茴香。入食料。藥肆謂八角茴香者。形如柏實。裂成八瓣者。大茴香。性熱。不宜入食料。</p>
<p>【辨別道地】大茴香者。有漢來無和產也。和產皆小茴香也。可入藥。而用藥肆所售大茴香。多將莽草實中截雜以稱八角茴香。飾偽之甚者也。莽草和謂施己密者。而其實有毒。以殺人。宜子細辨之。</p>
<p>【修治】得酒良。炒黃用。得鹽則入腎經。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】陽也。浮也。入手足太陰陽明太陽少陰經。小茴性平。夏月祛蠅闢臭。食料宜之。大茴香性熱。多食傷目。發瘡。食料不宜過用。治小腸疝氣有效。</p>
<p>【主治】諸痿霍亂。及蛇傷。膀胱腎間冷氣。及盲腸氣。調中止痛。嘔吐。治乾溼腳氣。腎勞㿗疝。陰疼。開胃下氣。補命門不足。暖丹田。</p>

<h1>山藥</h1>
<p>（本經上品）</p>
<p>【釋名】本經所謂薯蕷也。薯蕷二字。薯字犯宋英宗諱。蕷字犯唐代宗諱。故改為山藥。蓋言山中之藥也。遂名「藷藇」音同。「土藷」、「山藷」江閩呼之。山芋。齊魯名之。「玉延」秦楚名之。</p>
<p>【各方記述】四月生苗。延蔓。紫莖綠葉。有三尖。似白牽牛葉。而更光潤。五六月開花成穗。淡紅色。結莢成簇。莢凡三稜。合成堅而無仁。其子別結子於一旁。狀似雷丸。大小不一。皮色土黃而肉白。煮食甘滑。與其根同。</p>
<p>【辨別道地】和產可用。</p>
<p>【修治】山產者。採得以銅刀刮去赤皮。糝白礬末少許。洗去涎。蒸乾用。今藥家所制。去皮以米粉糝涎。日乾售之。</p>
<p>【氣味】甘平。無毒。</p>
<p>【功用】陽中微陰。可升可降。入手足太陰經。紫英為之使。惡甘遂。與面同食。則動氣。但性緩。非多用不效。</p>
<p>【主治】傷中補虛羸。除寒熱邪氣。補中益氣力。長肌肉。主頭面遊風。頭風眼眩。下氣止腰痛。克五藏。除煩熱。強陰補五勞七傷。去冷風。鎮心神。安魂魄。補心氣不足。開達心孔。多記事。強筋骨。主泄精。健忘。益腎氣。健脾胃。止泄痢。化痰涎。潤皮毛。生搗貼腫硬毒。能消散。</p>

<h1>薏苡仁</h1>
<p>（本經上品）</p>
<p>【釋名】薏。意也。苡。實也。「解蠡」其葉似蠡實葉。而解散故名。「芑實」似芑黍之苗。故名。「𧆐米」音感。其堅硬者。有贛強之意。「同回米」謂回回國米也。「薏珠子」小兒以線穿如貫珠為戲。</p>
<p>【各方記述】薏苡。二三月宿根自生。葉如初生芭茅。五六月抽莖開花。結實有二種。一種黏牙者。尖而殼薄即薏苡也。其米白色。如糯米。一種圓而殼厚。堅硬者。即菩提子也。其米少即粳𥽇也。但可穿作唸經數珠。</p>
<p>【辨別道地】松岡先生曰。有三種。和名唐麥者。真也。皮柔而色白。肉厚粒大。野生者。名川殼。或贛珠。皆非真。小兒作念珠為戲玩者。如乏時。可通用。</p>
<p>【修治】淘曬炒用。</p>
<p>【氣味】甘淡微寒。無毒。</p>
<p>【功用】陽中微陰。可升可降。入手足太陰陽明足太陰陽明足厥陰經。性主下行。虛而下陷者。非其宜也。妊娠禁服。</p>
<p>【主治】筋急拘攣。不可屈伸。久風濕痹。下氣。除筋骨中邪氣不仁。利腸胃。消水腫。令人能食炊飯作麵食。主不飢。溫氣煮飲。止消渴。殺蛔蟲。治肺痿。肺氣。積膿血。咳嗽涕唾。上氣。煎服。破毒腫。去幹濕腳氣。大驗。健脾益胃。補肺清熱。去風勝濕。炊飯食。治冷氣。煎飲利下便熱淋。</p>

<h1>黃蘗</h1>
<p>（本經上品）</p>
<p>【釋名】本經所謂蘗木。黃者。色也。蘗者。巨也。俗呼黃柏。</p>
<p>【各方記述】樹高數丈。葉似吳茱萸。亦如紫椿。經冬不凋皮外白。里深黃色。其根結塊。如松下茯苓。二月五月。採皮日乾。</p>
<p>【辨別道地】和產可用。肉厚色黃者。為良。</p>
<p>【修治】水洗。銼炒褐色。降實火。則生用。治上則酒製。治下則鹽制。治中則蜜制。</p>
<p>【氣味】苦寒。無毒。</p>
<p>【功用】氣味俱厚。沉而降。陰也。陰中之陽。入足少陰經。為足太陽引經藥。惡乾漆。伏硫黃。夫氣為陽。血為陰。邪火煎熬。則真陰消涸。真陰消涸。則邪火益烈。而陰虛。火動之病。隨之矣。取知柏之苦寒。以抑南扶北。誠如久旱甘霖。然惟火旺胃強者。為能當之。倘中氣已殘。則邪火雖亢。命曰虛炎。從事弗衰。將有寒中之變。且味苦久服。有反從火化之害矣。今天下極其崇尚。以為去熱。治勞之妙藥。而不知真元之火。與健運之職。已消亡而阻喪。獨不聞虛火可補。實火可瀉之說乎。苟非甘溫。則大熱焉除也。必尺中洪大。按之有力。可炒黑暫用。不然便當痛絕。</p>
<p>【主治】五藏腸胃中結熱。黃疸腸痔。止泄痢。女子漏下赤白。陰傷蝕瘡。療驚風。在皮間。肌膚。熱赤起。目熱赤痛。口疳熱皰起。蟲瘡。血痢。止消渴。殺蛀蟲。男子陰痿。及傅莖上瘡。治下血。如雞鴨肝片。安心除勞。治骨蒸。洗肝明目多淚。口乾心熱。殺疳蟲。治蛔心痛。鼻衄腸風下血。後急熱腫痛瀉膀胱相火。補腎水不足。堅腎壯骨髓。療下焦虛。諸痿癱瘓。利下竅。除熱瀉伏火。救腎水。治衝脈氣逆。不渴而小便不通。諸瘡痛。不可忍。得知母滋陰降火。得蒼朮除濕清熱。為治痿要藥。得細辛瀉膀胱火。治口舌生瘡。傅小兒頭瘡。</p>

<h1>厚朴</h1>
<p>（本經中品）</p>
<p>【釋名】其木質樸。而皮厚。故名。「烈樸」味辛烈故名。「赤樸」色紫赤故名。「厚皮」、「重皮」義未明。</p>
<p>【各方記述】木高三四丈。徑一二尺。春生葉。如檞葉。四季不凋。紅花而青實。皮極鱗皺而厚。紫色多潤者佳。薄而白者。不堪用。三月九月。採皮陰乾。</p>
<p>【辨別道地】和漢俱有之。松岡先生曰。和漢俱可通用。是大抵有二種。李時珍所說。及三才圖會所圖者。複復樹也。愚視漢來者。與和產者。其皮色味。似有不同。今多漢來者。足可用。</p>
<p>【修治】去粗皮。薑汁浸透。炒用。</p>
<p>【氣味】苦溫。無毒。</p>
<p>【功用】氣味俱厚。體重濁而微降。陰中陽也。入足太陰手足陽明經。乾薑為之使。惡澤瀉。硝石。寒水石。忌豆。食之動氣。厚朴之用有三。平胃一也。去腹脹二也。孕婦忌之三也。雖除腹脹。若虛弱人。宜斟酌用之。誤服脫人元氣。</p>
<p>【主治】中氣傷寒頭痛。寒熱驚悸。氣血痹死肌。去三蟲。溫中消痰。下氣。療霍亂。及腹脹痛滿。胃中疼冷逆。胸中嘔不止。泄痢淋露。除驚。去留熱。心煩滿。厚腸胃。健脾。治反胃。霍亂轉筋。冷熱氣。瀉膀胱及五藏一切氣。婦人產前後腹藏不安。殺腸中蟲。明耳目。調關節。治積年冷氣。腹內雷鳴。宿食不消。去結水。破宿血。化水穀。止吐酸水。大溫胃氣。治冷痛。主病人虛而尿白。主肺氣脹滿。膨而喘咳。</p>

<h1>杜仲</h1>
<p>（本經上品）</p>
<p>【釋名】昔杜姓仲名者。服此得道。因名。「思仲」、「思仙」二名由上說。「木綿」皮中有銀絲如綿。故名。</p>
<p>【各方記述】樹高數丈。葉如辛夷。亦類柘。其皮類榆柳。折之內有白絲如綿相連。五月。六月。九月。採皮。稻生先生曰。有樹生蔓生二種。本草即蔓生一種。松岡先生曰。蔓生者。不入藥用。</p>
<p>【辨別道地】和漢俱可用。樹大皮厚多綿者。為良。</p>
<p>【修治】去粗皮。鹽酒炒。腰痛必以酒行。或以薑汁拌炒去絲。</p>
<p>【氣味】苦辛甘溫。無毒。</p>
<p>【功用】氣味俱薄。沉而降。陰也。入足少陰腎之經。兼入肝經氣分。惡玄參蛇蛻。腎虛火熾者不宜用。即用當與黃蘗知母同入。</p>
<p>【主治】腰膝痛。補中益精氣。堅筋骨。強志。除陰下癢濕。小便餘瀝。腳中痠疼。不欲踐地。治腎勞腰脊攣。腎冷暨腰痛。人虛而身強直風也。腰不利。加而用之。能使筋骨相著。潤肝除。補肝經風虛。</p>

<h1>訶子</h1>
<p>（唐本草所謂訶黎勒）</p>
<p>【釋名】訶黎勒。梵言也。俗訶子。</p>
<p>【各方記述】樹似木槵。花白。子形似梔子。橄欖青黃色。皮肉相著。七月八月。實熟時。採六路者佳。</p>
<p>【辨別道地】漢來只一種。而無和產。六稜黑色。肉厚者佳。</p>
<p>【修治】酒浸蒸一伏時。去皮取肉焙用。或麵裹煨。去核。</p>
<p>【氣味】酸苦澀溫無毒。</p>
<p>【功用】味厚。陰也。降也。入手太陰陽明。兼入足厥陰陽明少陰經。若氣虛暴嗽。初瀉。或肺有實熱。瀉因濕熱。氣喘因火沖者用之。立致殺人。不可不深戒也。</p>
<p>【主治】冷氣心腹脹滿。下食。破胸膈結氣。通利津液。止水道。黑髭發。下宿物。止腸澼。久泄赤白利。消痰下氣。化食開胃。除煩。治水。調中止嘔吐。霍亂。心腹虛痛。奔豚腎氣。肺氣喘急。五膈氣。腸風瀉血。崩中帶下。懷孕漏胎。及胎動欲生。脹悶氣喘。並患痢人。肛門急痛。產婦陰痛。和蠟燒煙薰之。及煎湯薰洗。治痰嗽。咽喉不利。含三數枚。殊勝。寬大腸。斂肺降火。</p>

<h1>杏仁</h1>
<p>（別錄下品）</p>
<p>【釋名】杏字篆文象子在木枝之形。「甜梅」楊行蜜改杏名。</p>
<p>【各方記述】諸杏。葉皆圓而有尖。二月開紅花。亦有千葉者。不結實。</p>
<p>【辨別道地】和可用杏桃梅之三種。藥家多混雜。本草原始有圖可考見而擇用。</p>
<p>【修治】湯浸去皮尖。炒黃研細。風寒肺病藥中。連皮尖用。取其發散也。</p>
<p>【氣味】甘苦溫。無毒。</p>
<p>【功用】氣薄味厚。濁而沉墜。降也。陰也。入手太陰經。作湯如白沫不解者。食之氣壅。湯經宿者。動冷氣。雙仁者有毒。惡黃芩黃耆葛根。得火良。陰虛咳嗽。肺家有虛熱痰者。忌之。風寒外邪。非壅逆肺分。喘息急促者。不得用。</p>
<p>【主治】咳逆上氣。雷鳴喉痹。下氣。產乳。金瘡。寒心奔豚驚癇。心下煩熱。風氣往來。時行頭痛。解肌。消心下急滿痛。殺狗毒。解錫毒。治腹痹不通。發汗。主溫病腳氣。咳嗽上氣。喘促。入天門冬煎。潤心肺。和酪作湯。潤聲氣。除肺熱。治上焦風燥。利胸膈氣逆。潤大腸氣秘。殺蟲。治諸瘡疥消腫。去頭面諸風氣㾴皰。</p>

<h1>烏梅</h1>
<p>（本經中品）</p>
<p>【釋名】本經梅實。即今之烏梅也。梅者。媒也。合眾味。烏者。火薰黑故名。</p>
<p>【各方記述】梅花開於冬。而實熟於夏。得木之全氣。故其味最酸。其花實有數品。今略於此。</p>
<p>【辨別道地】取大青梅。剝皮。籃盛於突上燻黑。若以稻灰淋汁潤濕。蒸過。則肥澤不蠹。</p>
<p>【修治】去核。微炒用。</p>
<p>【氣味】酸澀溫平。無毒。</p>
<p>【功用】陰也。降也。入手足太陰足少陰經。忌豬肉。梅實過食。而齒齼者。嚼胡桃肉解之。病未久。有當發散者。咸忌之。</p>
<p>【主治】下氣。除熱煩滿。安心。止肢體痛。偏枯不仁。死肌。去青黑痣。蝕惡肉。去痹利筋脈。止下痢。好唾口乾。水漬汁飲。治傷寒煩熱。止渴。調中去痰。治瘧瘴。止吐逆霍亂。除冷熱痢。治虛勞骨蒸。消酒毒。令人得睡。和建茶乾薑為丸服。止休息痢大驗。斂肺澀腸。止久嗽瀉痢。反胃噎膈。蛔厥。吐利。消腫。殺蟲解魚毒。馬汗毒。硫黃毒。</p>

<h1>桃仁</h1>
<p>（本經下品）</p>
<p>【釋名】桃性早花易植。而子繁。故字從木。從兆。十億曰兆。言其多也。</p>
<p>【各方記述】桃品甚多。易於栽植。且早結實。五年宜以刀剝其皮出其脂。則多延數年。其花有紅紫白。千葉三色之殊。其餘不可枚舉。今省略之。</p>
<p>【辨別道地】藥肆多雜梅杏核以售。宜擇之。</p>
<p>【修治】行血連皮尖。生用活血潤燥。湯浸去皮尖。炒用。</p>
<p>【氣味】苦辛甘溫。無毒。</p>
<p>【功用】氣薄味厚。陰中之陽。可升可降。入手足厥陰血分。亦入手陽明經。香附為之使。雙仁有毒不用。若經閉由於血枯。腹痛由於血虛。便塞由於津液不足者。並不可服。如用之不當。能使下血不止。損傷陰真。為害非淺。婦人難產。桃仁一個。劈開一片。書可字。一片書出字。吞之即生。</p>
<p>【主治】瘀血。血閉癥瘕。邪氣。殺小蟲。止咳逆上氣。消心下堅硬。除卒暴擊血。通月水。止心腹痛。治血結秘。血燥。通潤大便。破畜血。殺三蟲。主血滯風痹。骨蒸。肝瘧寒熱。鬼注疼痛。產後血病。</p>

<h1>大棗</h1>
<p>（本經上品）</p>
<p>【釋名】棗性重喬。故重束為棗。入藥宜用肥大甘美者。故諸果只載其名。惟棗獨加大字。「干棗」、「美棗」、「良棗」。</p>
<p>【各方記述】棗大赤心有刺。四月生小葉。尖觥光澤。五月開小花。白色微青。長夏結實。摘取暴乾。</p>
<p>【辨別道地】和邦處處多矣。植家園。可以採用。小者止可充果食。入藥惟用形大而核小多脂甘美者。凡有大小二三種。形大而味甘者。稱朝鮮棗上品也。形小而肉薄味淡者。下品也。</p>
<p>【修治】劈去核用。</p>
<p>【氣味】甘溫。無毒。</p>
<p>【功用】氣味俱厚。陽也。可升可降。入足太陰陽明經。忌與蔥魚同食。殺烏頭附毒。小兒患秋痢。蛀棗與食。能止。府病及齒痛痰熱之人。俱不宜食。生者尤不利人。紅者功用相仿。差不及耳。</p>
<p>【主治】心腹邪氣。安中養脾氣。平胃氣。通九竅。助十二經。補少氣少津液。身中不足。大驚四肢重。和百藥。補中益氣。堅志強力。除煩悶。療心下懸。除腸澼。潤心肺。止嗽。補五藏。治虛損。除腸胃癖氣。和光粉燒治疳痢。和陰陽。調營衛。生津液。</p>

<h1>木瓜</h1>
<p>（別錄中品）</p>
<p>【釋名】木實如小瓜。酢而可食。故名。「楙」音茂。爾雅木瓜。</p>
<p>【各方記述】木瓜有三種。花深紅而實形如小瓜者。木瓜和名加良保計者。花淡紅色。而實形扁圓者。榠樝。和名久和俚牟者也。花實俱如木瓜。而形狀矮者。貼莖海棠者也。俱是一類。詳出於松岡先生用藥須知中。可考見。</p>
<p>【辨別道地】和漢俱有之。陳久為良。則可用漢來者也。</p>
<p>【修治】忌鐵器。銅刀削去硬皮。並子。切片。曬乾用。</p>
<p>【氣味】酸澀溫。無毒。</p>
<p>【功用】味薄氣厚。降多於升。陽中陰也。入手足太陰血分。兼入足厥陰經。多食木瓜。損齒及骨。皆伐肝之明驗。　　【主治】濕痹腳氣。霍亂大吐下。轉筋不止。治腳氣衝心。取嫩者一顆。去子煎服佳。強筋骨。下冷氣。止嘔逆。心膈痰唾。消食。止水利後渴不止。作飲服之。止吐瀉奔豚。及水腫冷熱痢。心腹痛。調營衛。助穀氣。去濕和胃。滋脾益肺。治腹脹善噫。心下煩痞。</p>

<h1>山楂</h1>
<p>（唐本草即山樝）</p>
<p>【釋名】赤瓜子瓜當作棗音訛也。樝狀似赤棗。「鼠樝」、「猴樝」、「茅樝」此物生山原茅林中。猴鼠喜食故名。朹子音求。「檕梅」音計。機子音求。樹如梅。「羊梂子」一種大者。山人呼之。「棠梂子」、「山裡果」以上三名未詳。</p>
<p>【各方記述】樹高數尺。葉有五尖。椏間有刺。三月開五出小白花。實有赤黃二色。肥者如小林檎。小者如指頭。九月乃熟。</p>
<p>【辨別道地】和漢俱有之。葉似甘棠。有小鋸齒。一種大者。名朹子。非常用之藥品。今藥肆在丸山楂子。肉山楂子之二種。以丸山楂子為良。</p>
<p>【修治】不去核。克用。以有核功能也。</p>
<p>【氣味】酸微溫。無毒。</p>
<p>【功用】入足陽明太陰經。同紅曲麥芽橘皮白朮肉豆蔻厚朴砂仁。能消食健脾。同牛膝生地當歸續斷益母澤蘭丹皮蒲黃芍藥。治兒枕痛。若胃家無食積。及脾虛不能運化者。食之反致克伐脾胃生氣。如胃虛兼有積滯者。當與補藥同施。</p>
<p>【主治】煮汁服。止水痢。沐頭洗身。治瘡癢。煮汁洗漆瘡多瘥。治腰痛有效。消食積。補脾。治小腸疝氣。發小兒瘡疹。健胃行結氣。治婦人產後兒枕痛。惡露不盡。煎汁入沙糖服之立效。化飲食。消肉積。癥瘕。痰飲。痞滿。吞酸。滯血痛。化血塊。活氣活血。</p>

<h1>陳皮</h1>
<p>（本經上品）</p>
<p>【釋名】本經所謂橘柚也。云五色為慶。二色為矞。靈外赤內黃。非煙非云。鬱郁紛紛。橘實外赤內黃。剖之香霧紛郁。有似矞雲。又取此意也。橘皮以色紅日久者為佳。故曰紅皮。陳皮。去白者。曰橘皮也。</p>
<p>【各方記述】橘樹高丈許。枝多生刺。其葉兩頭尖緣。色光。面大寸余。長二寸許。四月著小白花。甚香。結實至冬黃熟。大者如杯。包中有瓣。瓣中有核也。</p>
<p>【辨別道地】和漢俱可用。漢稱橘皮者良。稱陳皮者。多挾雜而不佳。家園新收者。隔歲而可用。</p>
<p>【修治】水洗潤透。刮去筋膜。曬乾銼炒用。○入理胃藥則留白。</p>
<p>【氣味】苦辛溫。無毒。</p>
<p>【功用】氣薄味厚。陽中之陰。可升可降。入足陽明太陰經。理氣燥濕。雖曰中和。然單服久服。亦能損真也。中氣虛與氣不歸元者。忌與耗氣藥同用。陰虛咳嗽生痰。不宜與半夏南星等藥同劑。</p>
<p>【主治】胸中瘕熱逆氣。利水穀。久服去臭。下氣止咳。嘔治氣衝胸中吐逆。霍亂。療脾不能消穀。止泄。除膀胱留熱。停水。起淋利小便。去寸白蟲。清痰涎。治上氣咳嗽。開胃。主氣痢。破症癖。痃癖。療吐噦反胃。嘈雜時吐清水。痰痞痎瘧。大腸悶塞。婦人乳癰。入食料。解魚腥毒。</p>

<h1>青皮</h1>
<p>【各方記述】青橘皮。乃橘之未黃。而青色者。薄而光。其氣芳烈。古方無用者。至宋時。醫家始用之。</p>
<p>【辨別道地】頭破裂者。俗呼四花青皮。凡用以此為勝。今人多以小柑。小柚。小橙。偽為之。不可不辨。</p>
<p>【修治】以湯浸。切片。酸拌。炒過用。</p>
<p>【氣味】苦辛溫。無毒。</p>
<p>【功用】氣味俱厚。沉而降。陰也。入厥陰少陽經。其性最酷烈。削堅破滯。是其所長。然誤服之。立損人真氣。為害不淺。凡欲施用。必與參朮芍藥等。補脾藥同用。庶免遺患。必不可單行也。肺脾氣虛者。概勿施用。</p>
<p>【主治】氣滯下食。破積結。及膈氣。破堅癖。散滯氣。去下焦諸濕。治左脅肝經積氣。治胸膈氣逆。脅痛。小腹疝痛。消乳腫。疏肝膽。瀉肺氣。</p>

<h1>龍眼肉</h1>
<p>（別錄中品）</p>
<p>【釋名】龍眼象形以名。「龍目」、「圓眼」義同上。「益智」甘味歸脾。能益人智。故名。「亞荔枝」、「亞枝奴」荔枝才過龍眼熟。故南人呼之。「驪珠」、「燕卵」、「鮫淚」、「川彈」、「蜜脾」以上諸名。象形味以名。</p>
<p>【各方記述】木高一二丈。似荔枝。而枝葉微小。凌冬不凋。春來夏初。開細白花。七月實熟。谷青色。文作鱗甲。形圓。大如彈丸。核若木梡子而不堅。肉薄於荔枝。白而有漿。其甘如蜜。實極繁。每枝二三二顆。作穗如葡萄。</p>
<p>【辨別道地】漢來。無和產。漢來者。亦有大小二種。皆蒸熟者。而無生乾者。入藥生為良。予曏者。偶見生乾者。來於崎港。色味與蒸熟者懸隔矣。松岡先生曰。薩州其外諸國有之。而不結實。偶雖實。亦不熟。不應土地故乎。</p>
<p>【修治】去殼核。採肉用。</p>
<p>【氣味】甘溫平。無毒。</p>
<p>【功用】入手少陰足大陰經。核治孤臭。以六枚同胡椒二七粒。研遇汗出。即擦之。</p>
<p>【主治】五藏邪氣。安志厭食。除蠱毒。去三蟲。久服強魄聰明。開胃益脾。補虛長智。</p>

<h1>檳榔</h1>
<p>（別錄中品）</p>
<p>【釋名】賓與郎。皆貴客之稱。交廣人。凡貴勝族。客必先呈此果。若邂逅不設。用相嫌恨。則檳榔之名義。蓋取諸此。「賓門」名義同上。「仁頻」上林賦注仁頻。即檳榔也。「洗瘴丹」南方地濕。不食此。無以祛瘴癘。故名。</p>
<p>【各方記述】初生若筍竿積硬。引莖直上。莖幹頗似桄榔椰子而有節。旁無枝。柯條。從心生端。頂有葉。如甘蔗條。派開。破風至則如羽扇掃天之狀。三月葉中腫起一房。因自坼裂出穗。凡數百顆。大如桃李。又生刺。重累於下。以護衛其實。五月成熟。剝去其皮。煮其肉。而干之。皮皆筋絲。與大腹皮同也。</p>
<p>【辨別道地】漢來一種。而無偽雜。與大腹子一種而有少別者也。</p>
<p>【修治】去空心者。刮去臍皮。見火無功。</p>
<p>【氣味】苦辛微溫澀。無毒。</p>
<p>【功用】味厚氣輕。沉而降。陰中陽也。入手足陽明經。凡病屬陰陽兩虛。中氣不足。無宿食者。悉在所忌。</p>
<p>【主治】消穀逐水。除痰澼。殺三蟲。伏屍寸白。治腹脹。生搗末服。利水穀道。傅瘡生肌肉。止痛。燒灰傅口吻白瘡。宣利五藏六府壅滯。破胸中氣。下水腫。治心痛積聚。除一切風。下一切氣。通關節。利九竅。補五勞七傷。健脾調中。除煩破癥結。主賁豚。膀胱諸氣。五膈氣。風冷氣。腳氣。宿食不消。治衝脈為病。氣逆裡急。瀉痢後重。心腹諸痛。大小便氣秘。痰氣喘急。療諸瘧。御瘴癘。</p>

<h1>大腹皮</h1>
<p>（宋開寶）</p>
<p>【釋名】「大腹檳榔」、「豬檳榔」。</p>
<p>【各方記述】檳榔中。一種腹大。形扁而味澀者。不似檳榔。尖長味良。所謂豬檳榔者是矣。謂其皮名大腹皮。</p>
<p>【辨別道地】有漢來而無和產。</p>
<p>【修治】鴆鳥多集檳榔樹上。凡用榔檳皮。宜先以酒洗令黑汁去盡。火焙切用。</p>
<p>【氣味】辛微溫。無毒。</p>
<p>【功用】可升。可降。入足太陰陽明經。按大腹皮。即檳榔外皮也。其氣味所主。與檳榔大約相同。第檳榔性烈。破氣最捷。腹皮性緩。下氣稍遲。乃疏泄之藥也。凡病涉虛者勿用。</p>
<p>【主治】冷熱氣。攻心腹。大腸蠱毒。痰膈醋心。並以姜鹽同煎。入疏氣藥用之。下一切氣。止霍亂。通大小腸。健脾開胃。調中降逆氣。消肌膚中水氣浮腫。腳氣壅逆。瘴瘧痞滿。胎氣惡阻脹悶。</p>

<h1>吳茱萸</h1>
<p>（本經中品）</p>
<p>【釋名】以吳地者為好。所以有吳之名也。茱萸二字。義未詳。</p>
<p>【各方記述】茱萸枝柔而肥。葉長而皺。其實結於梢頭。累累成簇。而無核。與椒同。一種粒大。一種粒小。小者入藥為勝。</p>
<p>【辨別道地】和漢俱有之。真可用。漢來為良。</p>
<p>【修治】鹽湯洗去苦烈汁。焙乾用。開口者佳。</p>
<p>【氣味】辛苦大熱。有小毒。</p>
<p>【功用】氣味俱厚。半沉半浮。陽中陰也。入足太陰血分。又入少陰厥陰經氣分。蓼實為之使。惡丹參。畏紫石英。凡病非寒滯者勿用。即因寒。亦當斟量虛實適事為效也。如一切陰虛。及五藏有熱。無寒之人。法所大忌。寒傷胃脘。腎氣噦逆。宜醋炒。茱萸同陳皮熟附為丸。薑湯下。</p>
<p>【主治】溫中下氣。止痛除濕。血痹。逐風邪。開腠理。咳逆寒熱。利五藏。去痰冷逆氣。飲食不消。心腹諸冷絞痛。中惡心腹痛。霍亂轉筋。胃冷吐瀉。腹痛產後心痛。治遍身𤸷痹。刺痛。腰腳軟弱。利大腸壅氣。腸風痔疾。殺三蟲。殺惡蟲毒。牙齒蟲䘌。鬼魅疰氣。下產後余血。治腎氣腳氣。水腫。通關節。起陽健脾。主痢。止瀉。厚腸胃。肥健人。治痞滿塞胸。咽膈不通。潤肝燥脾。開鬱化滯。治吞酸。厥陰痰涎頭痛。陰毒腹痛。疝氣血痢。喉舌口瘡。</p>

<h1>蓮肉</h1>
<p>（本經所謂蓮子）</p>
<p>【釋名】蓮者。連也。花實相連。而出也。蓮子刮去黑殼。謂之蓮肉。「藕實」藕者。耕也。善耕泥。故字從耦。「菂」菂。的也。子在房中。點點如的也。「薂」音吸「石蓮子」深秋之老蓮子。黑堅如石者也。「水芝」、「澤芝」芝者。靈芝。水澤尊稱之乎。</p>
<p>【各方記述】藕者。根也。蓮者。實也。荷者。葉也。芙蕖者。總名也。蓮子八九月採。黑堅如石者。干搏破之。</p>
<p>【辨別道地】石蓮子者。其子中肉黃白色。心內空無青芽。形細長。而頭圓。谷光黑。硬如石。故名石蓮。別是一種。藥物非藕實也。繆仲醇曰。今肆中一種石蓮子。狀如榧子。有味太苦。產廣中出樹上木實不宜入藥。其外有數說。而詳於炮炙全書中。不知熟是矣。惟有經霜老蓮實之可用。用者宜詳審之。</p>
<p>【修治】不去心。使人作吐。凡使須去心。蒸焙用。</p>
<p>【氣味】甘平澀。無毒。</p>
<p>【功用】入手少陰足太陰陽明厥陰少陰經。得茯苓白朮枸杞良。蓮實脾家果也。甘平無毒。無諸疾並無相迕。第生者食之過多。微動冷氣。脹人。大便燥澀者。不可食。</p>
<p>【主治】補中養神。益氣力。除百疾。五藏不足。傷中。益十二經脈血氣。止渴去熱。安心止痢。治腰痛。及泄精。多食令人歡喜。交心腎。厚腸胃。固精氣。強筋骨。補虛損。利耳目。除寒濕。止脾泄。久痢。赤白濁。女人帶下崩中諸血病。搗碎和米作粥飯食。輕身益氣。令人強健。安靖上下君相火邪。</p>

<h1>肉桂</h1>
<p>（別錄上品牡桂本經上品）</p>
<p>【釋名】凡木葉心。皆一縱理。獨桂有兩道。如圭形。故字從圭。「祲」能侵害他木也。桂釘木根。其木死是也。</p>
<p>【各方記述】桂有數種。以今參訪牡桂葉長如枇杷。葉。堅硬有毛及鋸齒。其花白色。其皮多脂。菌桂葉如柿葉。而尖狹光淨。有三縱文。而無矩齒。其花有黃白。其皮薄而卷。今商人所貨皆此二桂。但以卷者為菌桂。半卷及板者為牡桂。</p>
<p>【辨別道地】漢來者。以東京為上。交趾阿港蛇吧等次之。且有桂心桂枝之殊。菌桂官桂之品。肉桂乃近根之最厚者。辛烈肉厚。官桂即在中之次厚者。味稍淡於肉桂。皮薄少脂。因桂多品。而取其品之最高及上等。供官之桂也。桂心即去皮上甲錯。而取其近木而有理者。桂枝即頂上細桂條。春夏禁服。秋冬宜煎。間有和產者。藥肆稱桂心。以售之。味薄氣烈。近年多出於薩摩者。其形狀本草所謂菌桂也。猶可用。又松浦桂心者。氣味甚薄。殊不堪用。</p>
<p>【修治】忌火。</p>
<p>【氣味】甘辛大熱。有小毒。</p>
<p>【功用】陽中之陽。浮也。入足少陰太陰厥陰血分。忌生蔥石脂。得人參甘草麥冬大黃黃芩柴胡地黃良。凡腎虛命門火衰。不能生土。完穀不化。產後下元不足。營衛衰微者可用。若陰虛之人。及一切血症。非挾寒。目疾非脾虛者。不可誤投。</p>
<p>【主治】利肝肺氣。心腹寒熱冷痰。霍亂轉筋。頭痛腰痛。出汗止煩止唾。咳嗽鼻齆。墮胎。炒過便不損胎。溫中堅筋骨。通血脈。理疏不足。宣導百藥。無所畏。補下焦不足。治沉寒痼冷之病。滲泄止渴。去營衛中風寒。表虛自汗。春夏為禁藥。秋冬下部腹痛。非此不能止。補命門不足。益火消陰。治寒脾風瘖。陰盛失血。瀉痢驚癇。</p>

<h1>沉香</h1>
<p>（別錄上品）</p>
<p>【釋名】木之心節。置水則沉。故名。「沉水香」、「蜜香」謂其氣如蜜脾也。</p>
<p>【各方記述】漢來者。種類不一。香之等凡三。曰沉。曰棧。曰黃。熟沉香者。為沉香。半沉者。為棧香。不沉者。為黃熟香。入藥沉水者上。半沉者次之。不沉者可薰衣。及焚燒而已。</p>
<p>【辨別道地】今肆中所賣。其氣多焦烈。又置之水中。不能沉。乃黃熟香類爾。非沉之精美者也。入選藥品之高者。用之可也。此外有奇南香。番香。不載於綱目。性異用亦殊。今略於此。</p>
<p>【修治】入丸散銼為末。入煎劑。惟磨。臨時入之。忌日曝。火烘。</p>
<p>【氣味】辛苦溫。無毒。</p>
<p>【功用】陽也。可升。可降。入足太陰少陰。兼入手少陰足厥陰。按諸木皆浮。此獨沉。故入肝木。而治逆上之氣。行氣溫中。而不助火。誠良劑也。合於冷氣。氣逆。氣鬱。氣結。如中氣虛。而氣不歸元。及氣虛下陷者。心經有實邪者。均不可投。設施火症。反羅禁矣。若命門真火衰者。亦不宜入下焦藥。</p>
<p>【主治】風水毒腫。去惡氣。主心腹痛。霍亂中惡。邪鬼疰氣。清人神並宜酒煮服之。諸瘡腫。宜入膏中。調中補五藏。益精壯陽。暖腰膝。止轉筋。吐瀉。冷氣。破症癖。冷風麻痹。骨節不任。風濕皮膚瘙癢。氣痢。補右腎命門。補脾胃。及痰涎出血。理脾益氣和神。治上熱下寒。氣逆喘急。大腸虛閉。小便氣淋。男子精冷。</p>

<h1>丁香</h1>
<p>（宋開寶）</p>
<p>【釋名】其子。形如釘子。故名。「丁子香」俗人以其似丁子。故名。「雞舌香」其中心。最大者。為雞舌。擊破有順理。而解為兩向如雞舌。故名。</p>
<p>【各方記述】生交廣南蕃。今惟廣州有之。木類桂。高丈餘。葉似櫟。凌冬不凋。花圓細黃色。其子出枝藥上紫色。長三四分。形如釘子。</p>
<p>【辨別道地】蠻舶所載來者。只一種。此物有雌雄者。顆小為丁香。可入藥。雌者為母丁香。形雖大。性不良。入藥最為勝者。恐非是。</p>
<p>【修治】去丁蓋。乳子。銼用。勿見火。</p>
<p>【氣味】辛熱。無毒。</p>
<p>【功用】氣厚味薄。升也。陽也。入手太陰。足少陰陽明經。畏鬱金。以生薑汁和。拔去白髮。塗孔中。即異常黑。一切火熱證。切忌。</p>
<p>【主治】溫脾胃。止霍亂。擁脹。風毒諸腫。齒疳䘌。能發諸香。風䘌骨槽。殺患。辟惡去邪。治奶頭花。止五色毒痢。五痔。治口氣冷氣。冷勞。反胃。鬼疰蠱毒。殺酒毒。消痃癖。療腎氣奔豚氣。陰痛腹痛。壯陽暖腰膝。療嘔逆。甚驗。去胃寒。理元氣。氣血盛者勿服。治虛噦。小兒吐瀉痘瘡。胃虛灰白不發。</p>

<h1>烏藥</h1>
<p>（宋開寶）</p>
<p>【釋名】烏以色名。「旁其」、「鰟魮」其葉狀似鰟魮鯽魚。故俗呼為鰟魮樹。作旁其。方音訛也。「矮樟」其氣似樟。故名。</p>
<p>【各方記述】樹生似茶。高丈餘。一葉三椏。葉青陰白。根狀似山芍藥。及烏樟根。色黑褐。作車轂紋。橫生。八月採根。其直根者。不堪用。</p>
<p>【辨別道地】酒浸一宿。炒用。</p>
<p>【氣味】辛溫。無毒。</p>
<p>【功用】氣厚於味。陽也。可升。可降。入足陽明少陰經。味薄無滋益人。不過疏散。宜通暢於香附而已。不必多用也。惟與參朮同行。庶無弊耳。氣血俱虛及內熱者。勿用。</p>
<p>【主治】中惡。心腹痛。蠱毒。疰忤鬼氣。宿食不消。天行疫瘴。膀胱腎間冷氣。攻衝背膂。婦人血氣。小兒腹中諸蟲。除一切冷。霍亂反胃。吐食瀉痢。癰癤疥癘。並解冷熱。其功不可悉載。貓犬百病。並可磨服。理元氣中氣。腳氣疝氣。氣厥頭痛。腫脹喘急。止小便頻數。及白濁。</p>

<h1>桑白皮</h1>
<p>（本經中品）</p>
<p>【釋名】桑字從叒。從木。眾手採取之形也。</p>
<p>【各方記述】桑有數種。有白桑。葉大如掌而厚。雞桑。葉花而薄。子桑先椹而後葉。山桑葉尖而長。以子種者。不若壓條而分者。</p>
<p>【修治】干桑皮。臨時刮去上薄衣。銅刀銼。炙用。</p>
<p>【氣味】甘辛苦寒。無毒。</p>
<p>【功用】甘厚而辛薄。可升。可降。陽中陰也。入手太陰經。續斷桂心麻子為使。忌鐵及鉛。此物乃瀉肺諸方之準繩也。古稱補氣者。非若參耆之正補。乃瀉邪所以補正也。愚者信為補劑。而肺虛亦用之。大失桑皮之面目矣。若肺虛無火。而小便利者。及因風寒而嗽者。不宜用也。</p>
<p>【主治】傷中。五勞六極羸瘦。崩中絕脈。補虛益氣。去肺中水氣。唾血熱渴。水腫腹滿。臚脹。利水道。去寸白。可以縫金瘡。治肺氣喘滿。虛勞客熱。頭痛。內補不足。煮汁飲。利五藏。入散用。下一切風氣水氣。調中下氣。消痰止渴。開胃下食。殺腹藏蟲。止霍亂吐瀉。研汁治小兒天吊。驚癇客忤。及傅鴨口瘡大驗。瀉肺利大小腸。降氣散血。</p>

<h1>枳實</h1>
<p>（本經中品）</p>
<p>【釋名】枳乃木名。從只諧聲也。實乃其子。「枳殼」實殼一物也。呼老者為枳殼。生則皮厚而實。熟則殼薄而虛。正如青皮陳皮之義。</p>
<p>【各方記述】木如橘而小。高五七尺。葉如橙。多刺。春生白花。至秋成實。七月八月採者為實。九月十月採者為殼。今醫家以皮厚而小者為枳實。完大者為枳殼。皆以翻肚如盆口狀久者為勝。近道所出者。俗呼臭橘。不堪用。○時珍曰。臭橘一名枸橘。樹葉與橘同。但干多刺。三月開白花。青蕊不香。結實大如彈丸。形如枳實。而殼薄不香。人家多收種為藩籬。亦或收小實充枳實。及青橘皮售之。不可不辨。</p>
<p>【辨別道地】漢產可用。枸橘吾本邦亦多為藩籬。俗稱嗑辣咀知。或積枳殼。藥肆中採收。熟者為枳實。未熟者為枳殼。貨之。非真不可用。</p>
<p>【修治】水漬透去穰。切片。曬乾麩炒。至麩焦。去麩用。</p>
<p>【氣味】苦酸寒。無毒。</p>
<p>【功用】氣厚味薄。沉也。陰也。入足陽明太陰經。凡中氣虛弱。勞倦傷脾。發為痞滿者。當用補中益氣。補其不足。此藥所當忌也。時醫不識病之虛實。藥之補瀉。往往概施。損人真氣。為害不淺。設誤投之。雖服參耆。亦難挽回其刻削之禍矣。戒之戒之。</p>
<p>【主治】大風在皮膚中。如麻豆苦癢。除寒熱結。止痢長肌肉。利五藏。除胸脅痰癖。逐停水。破結實。消脹滿。心下結痞。痛逆氣。脅風痛。安胃氣。止溏泄。明目。解傷寒結胸。主上氣喘咳。腎內傷冷。陰痿而有氣。加而用之。消食散敗血。破積堅。去胃中溫熱。</p>

<h1>枳殼</h1>
<p>【修治】水浸去穰。切片麩炒黑。去麩用。</p>
<p>【氣味】苦酸寒。無毒。</p>
<p>【功用】氣厚味薄。浮而微升。陰中陽也。又曰。沉也。陰也。入手太陰陽明經。久瀉不實者。禁用。</p>
<p>【主治】風痹淋痹。通利關節。勞氣咳嗽。背膊悶倦。散留結。胸膈痰滯。逐水消脹滿。安胃止風痛。遍身風𤺋。肌中如麻豆。惡瘡腸風痔疾。心腹結氣。兩脅脹虛。關膈壅塞。健脾開胃。調五藏。下氣止嘔逆。消痰治反胃。霍亂瀉痢。消食破癥結。痃癖。五膈氣。及肺氣。水腫大小腸。除風明目。炙熱熨痔腫。泄肺氣。除胸痞。治裡急後重。</p>

<h1>山梔子</h1>
<p>（本經中品）</p>
<p>【釋名】卮。酒器也。卮子象之。俗作梔。「木丹」、「越桃」皆象色與形。「鮮支」司馬相如賦注鮮支。即支子。「薝蔔」佛書稱花云。</p>
<p>【各方記述】卮子葉如兔耳。厚而深綠。春榮秋瘁。入夏開花。大如酒杯。白瓣黃蕊。隨即結實。薄皮細子。有須。霜後收之。</p>
<p>【辨別道地】和產可用。皮薄而圓小者為佳。形大皮厚者可供染色。一種有矮山梔。不入藥用。</p>
<p>【修治】炒透。治上焦中焦。連殼治下焦。去殼洗去黃漿。治血病炒。心胸中熱用仁。肌表熱用皮。今殼皮仁連用。</p>
<p>【氣味】苦大寒。無毒。</p>
<p>【功用】氣薄味厚。輕清上行。氣浮味降。陽中陰也。入手太陰血分。按苦寒損胃而傷血。脾胃虛弱者。血虛發熱者。忌之。性能瀉有餘之火。心肺無邪熱者不宜用。小便不通。由於膀胱虛無氣以化。而非熱結小腸者。不可用。</p>
<p>【主治】五內邪氣。胃中熱氣。面赤酒皰皶鼻。白癲赤癩。瘡瘍。療目赤熱痛。胸心大小腸大熱。心中煩悶。去熱毒風。除時疾熱。解五種黃病。利五淋。通小便。解消渴。明目。主中惡。殺䗪蟲毒。解玉支毒。（羊躑躅也）主瘖瘂。紫癜風。治心煩懊憹。不得眠。臍下血滯。而小便不利。瀉三焦火。清胃脘血。治熱厥。心痛。解熱鬱。行結氣。治吐血衄血血痢下血血淋。損傷瘀血。及傷寒勞復。熱厥頭痛。疝氣湯火傷。</p>

<h1>酸棗仁</h1>
<p>（本經上品）</p>
<p>【釋名】實似棗。味酸故名。「樲」孟子曰。養其樲棘是也。「山棗」。</p>
<p>【各方記述】似棗木而皮細。其木心赤色。莖葉俱青。花似棗。八月結實。紅色似棗而圓小。味酸。當月採實。取核中仁。</p>
<p>【辨別道地】和漢俱可用。</p>
<p>【修治】去皮尖用。多睡生用。不得睡炒熟用。</p>
<p>【氣味】酸甘平。無毒。</p>
<p>【功用】可升可降。陽中陰也。入手少陰足少陽厥陰經。兼入足太陰經。惡防己。凡肝膽脾三經有實邪熱者勿用。以其收斂故也。</p>
<p>【主治】心腹寒熱。邪結氣聚。四肢痠痛。濕痹煩心。不得眠。臍上下痛。久泄虛汗煩渴。補中益肝氣。堅筋骨。助陰氣。能令人肥健。筋骨風。炒仁研湯服。</p>

<h1>山茱萸</h1>
<p>（本經中品）</p>
<p>【釋名】茱言色紅。萸言肥潤。故名。「蜀酸棗」、「肉棗」、「魃實」、「雞足」、「鼠矢」諸因形狀而名。</p>
<p>【各方記述】葉如梅有刺。二月開花如杏。四月結實。如酸棗赤色。五月採實。</p>
<p>【辨別道地】漢來者可用。雖有和產。不多得。</p>
<p>【修治】酒潤。去核。核能消精。</p>
<p>【氣味】酸微溫。無毒。</p>
<p>【功用】陽中之陰。可升可降。入足厥陰少陰經氣分。蓼實為之使。惡桔梗防風防己。按命門火熾。強陽不痿者忌之。膀胱熱結。小便不利者。法當清利。此藥味酸主斂。不宜用。陰虛血熱。宜用。即用當與黃蘗同加。</p>
<p>【主治】心下邪氣。寒熱。溫中逐寒濕痹。去三蟲。久服輕身。腸胃風邪。寒熱疝瘕。頭風。風氣去來。鼻塞目黃。耳聾面皰。下氣出汗。強陰益精。安五藏。通九竅。止小便利。久服明目。強力長年。治腦骨痛。療耳鳴。補腎氣。興陽道。堅陰莖。添精髓。止老人尿不節。治面上瘡。能發汗。止月水不定。暖腰膝。助水藏。除一切風。逐一切氣。破癥結。治酒皶。溫肝。</p>

<h1>地骨皮</h1>
<p>（本經上品）</p>
<p>【釋名】枸杞根最長。故名。</p>
<p>【各方記述】枸杞莖幹。高三五尺。作叢。其根採無時。</p>
<p>【辨別道地】和產可用。和產有二種。無刺者為真。有刺者亦可用。實非別類也。</p>
<p>【修治】洗淨去心。以熟甘草湯。浸焙乾用。</p>
<p>【氣味】甘淡苦寒。無毒。</p>
<p>【功用】升也。降也。入足少陰。手太陰少陽經。制硫黃丹砂。嘗以青蒿佐之。退熱有殊功。世人但知用黃芩黃連知母。而不知枸杞地骨。甘能使精氣充。而又退火之妙也。中寒者勿服。</p>
<p>【主治】細銼拌麩煮熟吞之。去腎家風。益精氣。去胃熱消渴。解骨蒸肌熱。風濕痹。堅筋骨。涼血。治在表無定之風邪。傳屍有汗之骨蒸。瀉腎火。降肺中伏火。去胞中火。退熱補正氣。治上膈吐血。煎湯漱口。止齒血。治骨槽風。金瘡神驗。去下焦肝腎虛熱。</p>

<h1>蔓荊子</h1>
<p>（本經上品）</p>
<p>【釋名】苗蔓生。故名。今所有非蔓。而枝弱如蔓故云。</p>
<p>【各方記述】蔓荊。莖高四五尺。對節生枝。初春因舊枝而生葉。如榆葉。長尖有鋸齒。至夏盛茂。杪間開花。成穗。紫色。其子如梧子許大。而有白膜皮裹之。海濱沙地。皆有之。八九月採實。</p>
<p>【辨別道地】和產真可用。</p>
<p>【修治】去蒂並白膜。打碎用。</p>
<p>【氣味】苦辛微寒。無毒。</p>
<p>【功用】陰中之陽。升也。入足太陽厥陰經。惡烏頭。石膏。頭目痛不因風邪。而由於血虛有火者忌之。胃虛人。不可服。恐生痰疾。</p>
<p>【主治】筋骨間。寒熱濕痹。拘攣。明目堅齒。利九竅。去白蟲。風頭痛。腦鳴目淚出。治賊風。長髭發。利關節。治癇疾。赤眼。太陽頭痛頭沉昏悶。除昏暗。散風邪。涼諸經血。止目睛內痛。搜肝風。</p>

<h1>茯苓</h1>
<p>（本經上品）</p>
<p>【釋名】茯者。附也。伏松之下。有附之義也。苓者。零也。離松之體。有零之義也。故名。「伏靈」松之神靈之氣。伏結而成。故云。「伏菟」下有伏靈。上有菟絲。故名。「松𦛟」、「不死麵」未詳。「伏神」抱根者。名神。「赤茯苓」即茯苓色赤者也。</p>
<p>【各方記述】生大山山谷。雄松下。假土之精氣。松之餘氣而成。赤白共有之。出於松根者。為良。</p>
<p>【辨別道地】茯苓。茯神。俱和產可用。色白而堅實者為良。色淡白。赤而輕虛者。不可用。</p>
<p>【修治】去皮膜及筋用。</p>
<p>【氣味】甘淡平。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽中之陰也。入手太陰足太陽經氣分。惡白蘞。畏牡蠣地榆雄黃秦艽龜甲。忌米醋及酸物。病人腎虛。小水自利。或不禁。或虛寒。精清滑。皆不得服。汗多者亦禁。</p>
<p>【主治】胸脅逆氣。憂恚驚邪恐悸。心下結痛。寒熱煩滿咳逆。口焦舌乾。利小便。止消渴。膈中痰水。水腫淋結。開胸腑。調藏氣。伐腎邪。長陰益氣力。保神氣。開胃止嘔逆。善安心神。主肺痿痰壅。心腹脹滿。小兒驚癇。女人熱淋。補五勞七傷。開心益志。止健忘。暖腰膝。安胎止渴。利小便。除濕和中。益氣生津。除虛熱。開腠理。瀉膀胱。益脾胃。治腎積奔豚。「茯苓皮」（主治）水腫膚脹。利水道。開腠理。「赤茯苓」（主治）破結氣。瀉心小腸膀胱濕熱。利竅行水。「茯神」（主治）療眩運。定上氣。安神志。益心氣。止心下急痛。堅滿。療虛勞驚悸善忘。「心內木」名黃松節。（主治）善治風寒冷濕。搏於筋骨。足攣難定之病。</p>

<h1>豬苓</h1>
<p>（本經中品）</p>
<p>【釋名】豬者。其形黑似豬屎。苓者。其塊零落。而下亦是木之餘氣所結。如松之餘氣結茯苓之義。「豭豬屎」、「豕橐」形狀似豬矢故名。「地烏桃」以形而名。</p>
<p>【各方記述】生土底。是木之餘氣所結。二八月採之。</p>
<p>【辨別道地】有漢來而無和產。皮黑肉白而實者良。</p>
<p>【修治】水浸去皮。蒸曬。行濕生用。</p>
<p>【氣味】甘淡平。無毒。</p>
<p>【功用】氣味俱薄。降也。陽中陰也。入足太陽少陰經。久服必損腎氣。昏人目。淡滲太燥。能亡津液。無濕證者。勿服。有濕宜暫用。</p>
<p>【主治】痎瘧解毒。蠱疰不祥。利水道。解傷寒溫疫大熱發汗。主腫脹滿。腹急痛。治渴除濕。去心中懊憹。瀉膀胱。開腠理。治淋腫腳氣。白濁帶下。妊娠子淋。胎腫小便不利。</p>

<h1>桑寄生</h1>
<p>（本經上品）</p>
<p>【釋名】此物寄寓他木而生。如烏立於上。故名。「寄屑」、「寓木」、「宛童」、「蔦」皆寄生之義也。</p>
<p>【各方記述】寄生高者。二三尺。其圓而微尖厚。而面青光澤。背淡紫而有茸。以其莖色深黃者。為真。</p>
<p>【辨別道地】寄生難得桑上真者。藥肆多收他木者售之。非特不適疾而已。卻至損命。不可不慎也。今醫家知寄生之難得。藥肆之不真。而以桑耳代之者多矣。雖非是。亦不遠。桑上癭木猶勝他木之寄生者乎。予每以松寄生代用之。雖非類。惟取其寄寓之性而已。亦是不得已者也。</p>
<p>【修治】採得銅刀。和根枝莖細銼。陰乾用。勿見火。</p>
<p>【氣味】甘平。無毒。</p>
<p>【功用】入足厥陰經。</p>
<p>【主治】腰痛。小兒背強癰腫。充肌膚。堅發齒。長鬚眉。安胎。去女子崩中。內傷不足。產後余疾。下乳汁。主金瘡。去痹助經骨。益血脈。主懷妊漏血不止。令胎牢固。</p>

<h1>竹茹</h1>
<p>（本經上品）</p>
<p>【釋名】竹字象形。刮取竹皮為茹。</p>
<p>【各方記述】乃淡竹也。竹稟陰氣以生。種類甚多。惟味甘者為勝。必生長甫及一年者。嫩而有力。</p>
<p>【辨別道地】竹茹以淡竹為上。苦竹勿用。</p>
<p>【修治】刮去青皮。用第二層。乃青皮與白肉之間。刮取淡青者也。</p>
<p>【氣味】甘微寒。無毒。</p>
<p>【功用】陰也。可升可降。入足陽明經。胃寒嘔吐。及感寒挾食作吐。忌用。</p>
<p>【主治】嘔吐。溫氣寒熱。吐血。崩中。止肺痿。唾血鼻衄。治五痔噎膈。傷寒勞復。小兒熱癇。婦人胎動。</p>

<h1>竹瀝</h1>
<p>【取竹瀝法】將淡竹截尺許。劈開以磚兩片對立。架竹於上。以炭火炙之。其瀝自出。以器盛取之。</p>
<p>【氣味】甘微寒。無毒。</p>
<p>【功用】陽中之陰。可升可降。入手太陰足少陰太陰經。薑汁為使。大抵風火燥熱而有痰者宜之。胃虛濕痰。及食積生痰者。不宜服也。</p>
<p>【主治】暴中風。風痹。胸中大熱。止煩悶。消渴。勞復。中風失音不語。養血清痰。風痰虛痰在胸膈。使人癲狂。痰在經絡四肢及皮裡膜外。非此不達不行。治子冒風痓。解射罔毒。</p>

<h1>殭蠶</h1>
<p>（本經中品）</p>
<p>【釋名】強死而不朽。故云。蠶從朁象。其頭身之形。從蟲以其繁也。「白殭蠶」自死者。其色自白。故名。</p>
<p>【各方記述】蠶。孕絲蟲也。種類甚多。有大小烏斑色之異。其蟲屬陽。喜燥惡濕。食而不飲。三眠三起。二十七日而老。自卵出而為䖢。自䖢蛻而為蠶。蠶而繭。繭而蛾。蛾而卵。卵而復䖢。亦有胎生者。與母同老。蓋神蟲也。</p>
<p>【辨別道地】和產不拘早晚。但用白色而條直者。烏黑者不用。</p>
<p>【修治】米泔浸一日。待涎浮水上。然後灑出焙。去絲及黑口用。</p>
<p>【氣味】鹹辛溫。有小毒。</p>
<p>【功用】氣味俱薄。輕浮而分。陽中之陽。厥陰陽明之藥。惡桑螵蛸桔梗茯苓茯神萆薢。殭蠶性辛溫。辛能散。其功長於祛風化痰。散有餘之邪。凡中風口噤。小兒驚癇夜啼。由於心虛神魂不寧。血虛經絡勁急。而無外邪為病者忌之。女子崩中赤白。產後腹痛。滅諸瘡瘢痕。為未封丁腫拔根極效。治噤口發汗。同白魚鷹屎白等分。治瘡滅痕以七枚為末酒服。治中風失音。並一切風疰。小兒客忤。男子陰癢痛。女子帶下。焙研薑汁調灌。治中風喉痹欲絕。下喉立愈。散風痰。結核瘰癧。頭風。風蟲齒痛。皮膚風瘡丹毒作癢。痰瘧癥結。婦人乳汁不通。崩中下血。小兒疳蝕鱗體。一切金瘡。疔腫風痔。</p>

<h1>全蠍</h1>
<p>（開寶）</p>
<p>【釋名】蠆。幽州人謂之蠍。入藥有全用者。故云。「蛜𧌴」未詳。「主簿蟲」江南本來無蠍。有主簿將至。故俗呼為主簿。故名。「杜白」詩疏蠆一名杜白。「蠆尾蟲」蠍前為螫。後為蠆。其毒在尾。用尾者。謂之蠍梢。其力尤緊。</p>
<p>【各方記述】蠍形如水黽。八足而長。尾有節。色青。</p>
<p>【辨別道地】漢來者可用。</p>
<p>【修治】水浸去鹹味。並足。炒用。</p>
<p>【氣味】甘辛。有毒。</p>
<p>【功用】入足厥陰經。小兒驚風。尤不可闕。若似中風。及小兒慢脾風。病屬於虛者。法咸忌之。</p>
<p>【主治】諸風癮𤺋。及中風半身不遂。口眼喎斜。語澀。手足抽掣。小兒驚癇風搐。大人痎瘧耳聾疝氣。諸風瘡。女人帶下隱脫。</p>

<h1>蟬蛻</h1>
<p>（本經中品）</p>
<p>【釋名】「蟬殼」、「枯蟬」、「腹蜟」、「金牛兒」皆以形名。</p>
<p>【修治】凡用蛻殼。沸湯洗去泥土翅足。漿水煮過。曬乾用。</p>
<p>【氣味】鹹甘寒。無毒。</p>
<p>【功用】入手太陰足。陰太陰經。按蟬蛻乃土木之餘氣所化。飲風吸露。其氣清虛。故主療一切皮膚風熱之症。痘疹虛寒證。不得服。</p>
<p>【主治】小兒驚癇。婦人生子不下。燒灰水服。治久痢。小兒壯熱驚癇。止渴。研末一錢。井華水服。治啞病。除目昏障翳。以水煎汁服。治小兒瘡疹。出不快甚良。治頭風眩運。皮膚風熱。痘疹作癢。破傷風及下腫毒瘡。大人失音。小兒噤風。天吊驚哭。夜啼陰腫。</p>

<h1>阿膠</h1>
<p>（本經上品）</p>
<p>【釋名】出東阿縣故名。一名驢皮膠。</p>
<p>【各方記述】山東袞州府。陽穀縣。東北六十里。即古之東阿縣也。有井官禁。真膠難得。其膠以黑驢皮。汲阿井水。加鹿角一片。熬之成膠。</p>
<p>【辨別道地】此藥多偽。偽者能滯痰。當以光如漆色。帶油綠者為真。折之即斷。亦不作臭氣。今漢來有三種。硯樣為上品。算木樣為中品。皿樣為下品。</p>
<p>【修治】土器炒至成珠可用。或蛤粉。或糯米。或酥炒。各從本方也。得火良。</p>
<p>【氣味】甘鹹微溫。無毒。</p>
<p>【功用】氣味俱薄。浮而升。陽也。入手少陰足少陰厥陰經。薯蕷為之使。畏大黃。胃弱作吐。與脾虛食不消者。忌之。</p>
<p>【主治】心腹內崩。勞極。洒洒如瘧狀。腰腹痛。四肢痠痛。女子下血安胎。丈夫小腹痛。虛勞羸瘦。陰氣不足。腳痠不能久立。養肝氣。堅筋骨。益氣止痢。療吐血衄血。血淋尿血。腸風下痢。女人血痛血枯。經水不調無子。崩中帶下。胎前產後諸疾。男女一切風病。骨節疼痛。水氣浮腫。虛勞咳嗽喘急。肺痿唾膿血。及癰疽腫毒。和血滋陰。除風潤燥。化痰清肺。利小便。調大腸聖藥也。</p>

<h1>犀角</h1>
<p>（本經中品）</p>
<p>【釋名】犀字。篆文象形。「兕」其牸名兕。</p>
<p>【各方記述】犀角紋如魚子形。謂之粟紋。紋中有眼。謂之粟眼。黑中有黃花者為正。透黃中有黑花者。為倒透花。中復有花者。為重透併名通犀。乃上品也。花如椒豆斑者次之。烏犀純黑無花者為下品。其通天夜視有光者。名夜明犀。故能通神。開水。飛禽走獸。見之皆驚。</p>
<p>【辨別道地】今漢來。及蠻舶所來者。有白犀角。有烏犀角。而多贗物。宜精詳擇用。凡稱一角者。亦通天犀之類。而上品真難多得。</p>
<p>【修治】入藥用黑光潤者。鋸成以薄紙裹懷中一宿。乘燥搗之。應手如粉。</p>
<p>【氣味】酸鹹苦寒。無毒。</p>
<p>【功用】味厚於氣。可升可降。陽中之陰也。入足陽明兼入手少陰經。松脂升麻為之使。惡烏頭鳥喙雷丸雚菌。忌鹽醬。按肺火燥熱。及痘瘡氣虛無大熱者。不宜用。傷寒陰症發燥者。尤不宜用。妊婦勿多服。消胎氣。</p>
<p>【主治】百毒蟲疰。邪鬼瘴氣。殺鉤吻鴆羽蛇毒。除邪不迷惑魘寐。傷寒溫疫。頭痛。寒熱諸毒氣。令人駿健。闢中惡毒氣。鎮心神解大熱。散風毒。治發背癰疽瘡腫。化膿作水。療時疾熱。如火煩。毒入心狂言妄語。治心煩。止驚鎮肝。明目安五藏。應虛勞。退熱消痰。解山瘴溪毒。主風毒攻心。毷氉熱悶。赤痢。小兒風熱驚癇。燒灰水服。治卒中惡心痛。飲食中毒。藥毒熱毒。筋骨中毒。心風煩悶。中風失音。以水磨服。治小兒驚熱。山犀水犀功用相同。磨汁治吐血衄血下血。及傷寒畜血發狂。譫語。發黃發斑。痘瘡稠密。內熱黑陷。或不結痂。瀉肝涼心。清胃解毒。</p>

<h1>鹿茸</h1>
<p>（本經中品）</p>
<p>【釋名】鹿字。篆文象其頭角身足之形茸。覆蓋也。</p>
<p>【各方記述】茸最難得不破及不出血者。蓋其力盡在血中故也。此以如紫茄者為上。名茄子茸。取其難得耳。然此太嫩。血氣未具。其實少力。堅者又太老。惟長四五寸。形如分歧馬鞍。茸端如瑪瑙紅玉。破之肌如朽木者。最善。人亦將麋角偽為之。不可不審。</p>
<p>【辨別道地】今藥肆所售者。有大小堅軟。軟小而輕虛者為上。堅大者為下。</p>
<p>【修治】用酥塗勻。於烈火中灼之。候毛盡微炙。候黃褐色。研細入藥。不可缺酥。又有用酒及酒蒸焙用者。當各從本方。</p>
<p>【氣味】甘鹹溫。無毒。</p>
<p>【功用】氣薄味厚。陰中之陽也。入手厥陰少陰足少陰厥陰經。不可以鼻嗅之。中有小白蟲。視之不見。入鼻必為蟲顙。藥不及也。凡陰衰火盛。胃有火者。吐血下血。陰虛火熾者。俱忌之。</p>
<p>【主治】漏下惡血。寒熱驚癇。益氣強志。療虛勞洒洒如瘧。羸瘦四肢痠疼。腰脊痛。小便數利。泄精溺血。破瘀血在腹。散石淋癰腫。骨中熱疽。安胎下氣。殺鬼精物。久服耐老。丈夫陰痿。補男子腰腎虛冷。腳膝無力。夜夢鬼交。精溢自出。女人崩中漏血。赤白帶下。炙末空心酒服方寸匕。壯筋骨。生精補髓。養血益陽。強精健骨。治一切虛損。耳聾目暗。眩運虛痢。</p>

<h1>石膏</h1>
<p>（本經中品）</p>
<p>【釋名】火煅細研。醋調封丹灶。其固密甚於脂膏。故名。「細理石」文理細密。故名。「寒水石」其性大寒如水。故名。</p>
<p>【各方記述】生齊山。山谷。及齊廬山。魯蒙山。塊大如蠟。有二三寸厚者。色至瑩白可愛。有縱理而不方解。</p>
<p>【辨別道地】漢來者真也。此物有軟硬二種。入藥軟石膏為佳。和產多硬石膏也。不堪藥用。</p>
<p>【修治】搗粉生甘草水飛過澄曬。虛人煅用。或糖拌炒。則不妨脾胃。</p>
<p>【氣味】甘辛大寒。無毒。</p>
<p>【功用】氣味俱薄。降也陰也。入手太陰少陽足陽明經。雞子為之使。惡莽草巴豆馬目毒公。畏鐵。</p>
<p>【主治】中風寒熱。心下逆氣。驚喘口乾舌焦不能息。腹中堅痛。除邪鬼。產乳金瘡。除時氣頭痛身熱。三焦大熱。皮膚熱。腸胃中結氣。解肌發汗。止消渴煩逆。腹脹。暴風喘咽熱。亦可作浴湯。治傷寒頭痛如裂。壯熱皮如火燥。和蔥煎茶。去頭痛。治天行熱狂。頭風風旋。下乳。揩齒益齒。除胃熱肺熱。散火邪。緩脾益氣。止陽明經頭痛發熱惡寒。日晡潮熱。大渴引飲。中暑潮熱。牙痛。</p>

<h1>滑石</h1>
<p>（本經上品）</p>
<p>【釋名】性滑利竅。其質又滑膩。故名。「畫石」畫家用刷紙代粉。最白故名。「液石」、「⿱𤇾日石」　⿱𤇾日乃肺膏也。故名。「脫石」脫乃肉無骨也。「番石」、「冷石」、「共石」三名未詳。</p>
<p>【各方記述】生赭陽山谷。及太山之陰。初取軟如泥。久漸堅強。白如凝脂。</p>
<p>【辨別道地】和漢俱有之。漢來者為上。</p>
<p>【修治】刮淨研粉。水飛曬乾用。</p>
<p>【氣味】甘淡大寒。無毒。</p>
<p>【功用】降也。入足陽明太陽手少陰太陽陽明經。石葦為之使。惡曾青。制雄黃。陰火虛熾水涸者。勿用。精滑便利者。禁之。</p>
<p>【主治】身熱泄澼。女子乳難。癃閉。利小便。蕩胃中積聚。寒熱。益精氣。通九竅。六府津液。去留結。止渴。令人利中燥濕。分水道。實大腸。化食毒。行積滯。逐凝血。解燥渴。補脾胃。降心火。偏主石淋為要藥。療黃疸水腫腳氣。吐血衄血。金瘡血出。諸瘡腫毒。</p>

<h1>芒硝</h1>
<p>（本經上品）</p>
<p>【釋名】朴硝再煎煉。傾盆中結成鋒芒。故名。</p>
<p>【各方記述】朴硝生於斥鹵之地。彼人刮掃煎汁。經宿結成。狀如末鹽。猶有沙土內雜。須再煎煉。入藥以朴硝一斤。水二瓶。同入鍋內。溶化掠去油膩。其水將細布。或縑子濾去滓腳。用蘿蔔一斤。切厚片。同硝水入鍋內煮數十沸。撈去蘿蔔。再隔厚紙三重。濾過令滓去淨。放瓦盆內。星月下露一夜。則結成白硝。如冰如蠟。名之盆硝。其底多而上面生細芒如鋒。謂之芒硝。底少而二面生芽如圭角。作六硝。縱橫玲瓏。洞徹可愛。謂馬牙硝。狀如白石英。又名英硝。二硝之底。則名朴硝。取芒硝英硝。再三以蘿蔔煎煉去鹹味。即為甜硝。以二硝置之風日中。吹去水氣。則輕白如粉。即為風化硝。以芒硝英硝。同甘草煎過鼎罐升煅。則為玄明粉。</p>
<p>【辨別道地】漢來者為真。和產未見之。</p>
<p>【氣味】鹹辛苦大寒。有小毒。</p>
<p>【功用】氣薄味厚。沉而降。陰也。石葦為之使。惡麥句姜。畏三稜。其用有三。去實熱一也。滌腸中宿垢二也。破堅積熱塊三也。孕婦惟三四月。及七八月不可用。</p>
<p>【主治】五藏積聚。胃中火熱。除邪氣。破留血。腹中痰實結摶。通經脈。利大小便。及月水。破五淋。推陳致新。下瘰癧。黃疸病。時疾壅熱。能散惡血。墮胎。傅漆瘡。</p>

<h1>人中白</h1>
<p>（唐本草）</p>
<p>【釋名】溺白垽滓澱為垽。乃人溺澄下白垽也。故名。</p>
<p>【各方記述】人溺之積氣結成者也。</p>
<p>【辨別道地】以風日久乾者為良。</p>
<p>【修治】煅過水飛用。</p>
<p>【氣味】鹹寒。無毒。</p>
<p>【功用】能瀉肝腎三焦膀胱有餘之火。為除熱去火之聖藥。</p>
<p>【主治】鼻衄湯火灼瘡。燒研。主惡瘡。治傳屍熱勞。肺痿心膈熱。羸瘦渴疾。降火消瘀血。治咽喉口齒生瘡疳䘌。諸出血。肌膚汗血。</p>

<h1>童便</h1>
<p>【釋名】「輪迴酒」即小便之別名。</p>
<p>【各方記述】飲入於胃。隨脾之氣。上歸於肺。下通水道。而入膀胱。故能治肺病。引火下行。但取十二歲以下童子。絕其烹炮鹹酸。多與米飲。以助水道。每用一盞。入薑汁。或韭汁二三點。徐徐服之。久則自效。</p>
<p>【辨別道地】童男者良。自便如雪者。亦妙。</p>
<p>【氣味】鹹寒。無毒。</p>
<p>【功用】入肺胃膀胱三經。宜於陰虛火動。熱蒸如燎。服藥無益者。若氣血虛無熱者。不宜多服。</p>
<p>【主治】寒熱頭痛。溫氣主久嗽上氣失音。及症積腹滿。明目益聲。潤肌膚。利大腸。推陳致新。去咳嗽肺痿。鬼氣痓病。乘熱時服之佳。冷則和熱湯服。勞渴潤心肺。療血悶熱狂。撲損瘀血在內運絕。止吐血鼻衄。皮膚皴裂。難產胎衣不下。蛇犬咬。滋陰降火甚速。殺蟲解毒。療瘧中暍。</p>

<h1>中國藥物學大綱補正</h1>
<p>【人參條】真判事　達按昔時韓。人某氏官。判事者始。將來之故名。乃上好韓參也。今藥家稱判事者。賈舶將來標京參者。以形色相似偽充之。乃上好漢參也。又藥家稱唐參者。多是女直參也。其形膨大輕虛。氣味極劣。明一統志所謂女直國。歲貢人參八十萬斤是也。</p>
<p>【小人參】根橫生如竹節者。此往年賈舶將來標竹節參者。味苦惡不堪用。乃參鬚之橫梁根也。或曰古人言參蘆。吐人。疑指此歟。附其橫根生細須。名參鬚。出張璐玉本草逢原。和邦稱胡人參。稍粗者。稱折人參。蓋往昔所不用者。近始用之。</p>
<p>【蔓人參】蔓生一枝四葉。形如茜草。柔軟有毛。摘之有白汁出。其氣極臭。四五月。葉間著花紫白色。形頗類鈴鐸。但比沙參花極膨大。一處著一花為異。根條直圓團不一。皮上有疙瘩。斷之又有白汁出故名。羊乳乃沙參別種也。出陳藏器本草拾遺。</p>
<p>【鬘人參】一名日光人參。乃上條三枝五葉。草根鬚也。非別種。須擇用似人形者。　達按孩兒參。說就人字附會。宜擇用單股者。凡如黃耆防風輩。擇用單股者。而不用多歧者。云殺人。豈人參獨貴多歧乎。</p>
<p>又一種。近世賈舶所將來。稱廣東人參。今藥家又呼芍藥樣人參。其根似參。輕虛味甘。氣薄皮色黯黑。未詳何物。或曰。近廣東人有栽數根。獻於官者。詳其形狀。即本邦所產零餘子人參是也。用者。宜察稻若水云。救荒本草地瓜兒即是。</p>
<p>【沙參條】一名羊乳根。多白汁。　羊乳即蔓人參。沙參即土土岐。　今按沙參薺苨。形狀相類。達爾沙參與薺苨不同。李時珍綱目。以蘇頌圖經所載。杏葉沙參為薺苨。故形狀相類。然此物乃沙參圓葉者。而不似桔梗。不可稱甜桔梗。讀者審焉。救荒野譜。　野譜當作本草。</p>
<p>【松沙參】束細長。根為團。　此非細長根。乃擘開其根。欲易乾者。且云其色黃。與本草說不合。恐不然。此經久變黃色者。近有一種以防葵根偽造者。宜辨別。</p>
<p>【萎蕤】女萎苗葉類冬青云云。　按是乃李仲立言。而本書抄略失義。今補之。李仲立曰。女萎苗葉類冬青。但冬青凌冬不凋。故得女貞之稱。此草未秋即萎。故有女萎之名。</p>
<p>【天麻】出奧州。他處未聞有之。按天麻諸州又間產之。不止奧州。</p>
<p>【白朮】和產多是蒼朮。　按一種。關東產者。葉如棠梨。稍軟。根如雲頭。味最佳。但藥家未鬻。</p>
<p>【遠志】小葉者為是。　按遠志大葉者。根大。小葉者。根細。宜採大葉大根者。供藥用。近檢近江州伊吹川所產者。根甚肥大。氣味極厚。可用。</p>
<p>【黃芩】擇用深色堅實者。　按堅實而小者為條芩。一名子芩。輕腐為片者。為腐芩。一名片芩。各有所用。本草詳辨之。</p>
<p>【前胡】有數種。今和產無數種。　按和名溪芹者。諸州山野多產之。河內州產一種。細葉者。葉類芹葉。及當歸。是乃本草當歸葉者。</p>
<p>【防風】今稱山人參者真。但有兩種。藝州人呼山人參者。乃真。京洛山中。又多產之。有一種相似。而有毛者。相模州。鎌倉山中。多產之。根比山人參強硬。味薄為劣。予往來經過河內州諸山。乃二物並生。土人俱稱山人參。又近江州伊吹山產一種防風。葉似山人參。極纖細。氣味極厚。土人稱細葉防風。</p>
<p>【延胡索】今漢舶將來者。京北鷹峰藥圃栽之。</p>
<p>【貝母】今漢渡者。有大小二種。大者味厚為佳。藥肆稱大貝母。顧元交本草匯箋名象山貝母是也。本書引頤生微論云云。其說極好。</p>
<p>【補骨脂】近世傳種子栽之。與漢物一般。</p>
<p>【澤瀉】和名那那都。（北國稱呼）匙於茂多嘉。（幾內稱呼）</p>
<p>【細辛條】細葉細辛。　此稱柳葉細辛者。乃徐長卿也。</p>
<p>【木香】和產根無香氣非真。按此說恐非也。香之有無。因地產之異。</p>
<p>【三稜條】䓮⿱艹溲根。　和名蛟帳張草。　甎子苗。　和名久具。俱出救荒本草。</p>
<p>【香附條】夫須　按雅爾云。薹夫須乃賤夫所須。此草可為蓑笠者。乃今之須化。非香附之。本書襲李氏之誤。</p>
<p>【藿香】和稱藿香者。乃月令廣義所截藿菜。</p>
<p>【荊芥條】河豚　和名布具。又名布久登。　黃顙魚。和名岐岐。宇佐岐牟滿。</p>
<p>【旋覆花】按一名野油花。出小兒衛生總微論。</p>
<p>【地黃】服地黃人。忌蘿蔔蔥蒜。謂之三白。今服。地黃人。知忌蘿蔔。而不知忌蔥蒜。可笑。</p>
