<header data-type="book">
<h1>藥性能毒</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曲直瀨道三</dd></div>
<div><dt>年份</dt><dd><data value="1608">公元1608年</data></dd></div>
<div><dt>底本</dt><dd>日本慶長十三年山田意齋道啟刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀014043）</dd></div>
</dl>
</header>
