<header data-type="book">
<h1>徐養恬方案</h1>
</header>

<h1>徐養恬生平</h1>
<p>《重修常照合志稿·卷三十二·人物誌·醫家》：徐養恬，字澹成，謝家橋人。少從同里蕭函谷學醫，得其指授，業日進。道光甲午，林文忠以開濬白節至虞，感微疾，易服至其廬就診。詢病狀，則云：「每閉眼見有人作獻饋狀，而飲食如常；他醫以為疑疾，治輒不效。」養恬診其脈曰：「是痰也，但脈息得大貴象，何觀不類！」文忠笑曰：「良醫也。」方未書畢，而僕從踵至矣。王觀察家相歸田後，疾喘屢發，服其藥應手愈。其後發勢較輕，養恬佯以無妨慰之。出語其家人曰：「疾不可為矣！速治後事。」明日觀察果沒。性慷慨，遇貧病不取資，戚友有求輒應，歲施棺木以為常。暇喜吟詩。著有《飲香吟草》、《傷寒心法諸論》及《醫案》藏於家。</p>
<p><u>常熟徐澹成養恬方案　男兆豐實函　訂</u></p>
<p><u>孫士　玉琅卿　瀛穎侔　參校</u></p>

<h1>卷上</h1>

<h2>一、春溫</h2>
<p>（案1）溫邪斑汗兩得，身熱不退，脈數不靜，舌紅燥無津。陽明氣分之火漸入營分，最怕昏狂滋變。</p>
<p>犀角尖　元參　鮮生地　石膏　肥知母　炙甘草　鬱金　淨連翹　茅蘆根煎湯代水。</p>
<p>（案2）溫邪得汗，舌黃，脈促數，咳嗽，夜來但熱無寒。擬金匱溫瘧例治之。</p>
<p>嫩桂枝　黃芩　炙甘草　赤芍　肥知母　煨石膏　白薇　大杏仁</p>
<p>（案3）交春八日，猝然吐血數口，旋即寒熱，必有溫邪內蘊。刻診：脈象弦數，夜來身體微熱，宿恙依然，陽絡受傷可知。宜清邪兩和法。</p>
<p>軟白薇　丹皮　冬桑葉　茜草　紫菀茸　桃仁泥　紅花　絲瓜子　苡仁　白花益母草</p>
<p>（案4）咳嗽，寒熱雖減，舌乾燥無津。肺胃溫邪，究未盡徹。</p>
<p>淡豆豉　黑山梔　大杏仁　黃芩　淨連翹　香清蒿　軟白薇　粉丹皮　竹葉</p>
<p>（案5）溫邪表裡分侵，寒熱，泄痢，十餘日不解，非小恙也。</p>
<p>葛根　炒銀花　柴胡　生甘草　枳實　赤芍　淡豆豉　鬱金　制香附</p>
<p>（案6）溫邪咳血，音嗄。</p>
<p>冬瓜子　苡仁　桃仁泥　茜草　紫菀茸　犀角尖　白薇　人中白</p>
<p>（案7）溫邪發斑，脈促數而歇止，身無大熱，息浮如喘，舌乾燥而黃，神蒙譫語。此液枯邪陷，少陰之水不濟，陽明之火有餘，陽症陰脈，實屬難治。</p>
<p>犀角尖　熟地　煨石膏　當歸　麥冬肉　炙甘草　元參　軟白薇</p>
<p>（案8）溫邪直入心包，昏狂口噤，昨進芳香宣竅，其勢少平，猶見譫語、遺尿，右脈數大，身熱有汗，舌短縮。陽明氣火有餘，膻中尚未解圍，症屬棘手。</p>
<p>炒茅朮　煨石膏　知母　生甘草　羚羊尖　石決明　黑山梔　豆豉</p>
<p>另服萬氏牛黃丸。</p>
<p>（案9）溫邪，身熱無汗，斑疹隱約，咳嗽神蒙，體重難於轉側，左脈細數無神力，舌胎白膩。將有逆傳心包之變，症屬極險。</p>
<p>軟白薇　玉竹　淨連翹　黃芩　天花粉　黑山梔　鉤鉤　大豆卷　鬱金　石菖蒲　生甘草　百部　加蘆根</p>
<p>（案10）溫邪，寒熱往來，咳嗽嘔逆，脈兀數，舌黃，得汗不解。症屬糾纏。</p>
<p>細柴胡　黃芩　熟半夏　茯苓　炙甘草　旋覆花　枳實　大杏仁　廣皮　桑白皮　石菖蒲　白薇　加竹茹</p>
<p>（案11）溫邪汗出不解，舌尖紅燥、胎黃，神蒙遺尿。邪逼營分，有發狂痙厥之變。</p>
<p>軟白薇　連翹　生山梔　黃芩　淡豆豉　生甘草　木通　細生地　鬱金　嫩竹葉</p>
<p>（案12）素患老嗽，今感溫邪，發熱一候不解，脈數少力，舌光無胎，鼻孔焦乾，喉間痰阻有聲。總屬上焦肺病，形瘦陰虛之體，恐難勝此。</p>
<p>軟白薇　元參　冬桑葉　兜鈴　大杏仁　牛蒡子　黃芩　地骨皮　花粉　鉤鉤　炒枳實　蘆根</p>
<p>（案13）溫邪劫陰，脈細數無力，舌焦乾，氣促咳嗽，身熱無汗。不可攻表以求其汗，症屬險重。</p>
<p>羚羊尖　白薇　鮮沙參　元參　肥玉竹　天花粉　生草　香青蒿　黃芩　茅蘆根</p>
<p>（案14）冬傷於寒，春必病溫。此症恰值交春而發，脈數弦急，舌紅燥無胎，咳嗽身熱，上嘔下利。邪勢充斥，防其傳變。</p>
<p>葛根　大豆卷　桔梗　軟白薇　大杏仁　赤芍　元參心　獨活　酒黃芩　生甘草　麻黃　陳細茶　姜皮</p>
<p>復診：嘔止瀉緩，汗未沾足，舌紅燥，咳嗽氣息，身熱。伏溫之病，勢在方張。</p>
<p>葛根　大豆卷　紫菀　軟白薇　甘草　赤芍　元參心　銀花　丹皮　肥玉竹　連翹　茅蘆根</p>
<p>復診：溫邪初起即漏底，勢先內趨。今利雖止，舌猶紅燥，咳嗽痰鳴，得汗熱不退，幸勿昏喘為妙。</p>
<p>羚羊尖　元參　軟白薇　貝母　大杏仁　地骨皮　甘草　冬桑葉　兜鈴　炒牛蒡　天花粉　鉤鉤</p>
<p>（案15）昏狂已退，猶見目赤面紅，如醉人狀，舌紋裂無胎，脈細數，咳逆。溫邪與木火尚作升厥之勢。</p>
<p>羚羊尖　元參　軟白薇　鉤鉤　人中白　連翹　鱉甲　丹皮　茅根</p>
<p>復診：咳逆少平，舌亦紅潤，可無陽升喘急之慮矣。再以兩清肺肝，參入存陰之品。</p>
<p>羚羊尖　鉤鉤　冬桑葉　元參　粉丹皮　人中白　甘草　大貝　知母　軟白薇　花粉　茅蘆根</p>
<p>（案16）伏溫入營，斑點隱約，目赤神蒙，如狂欲起，脈弦少數，舌焦黑。邪已深入厥陰，驚蟄將交，怕有痙厥之險變。</p>
<p>生鱉甲　元參　連翹　鬱金　軟白薇　黑山梔　粉丹皮　豆卷　木通　生地　甘草梢　茅根</p>
<p>（案17）伏溫初起，自利，邪即內傳，今利雖止，猶見舌強幹涸，右脈數而少力，身重不得轉側。液枯邪陷，症屬極險。</p>
<p>生鱉甲　元參　軟白薇　連翹　香青蒿　天花粉　黃芩　生甘草　鉤鉤　粉丹皮　茅蘆根</p>
<p>復診：液回邪化，症有轉機。擬清肺絡之痰熱。</p>
<p>羚羊尖　青黛　軟白薇　鱉甲　粉丹皮　天花粉　蛤殼　桑葉　元參　茆根肉</p>
<p>復診：復病寒熱、身重，左脈弦數，舌乾涸無胎，咳痰艱澀。液枯邪未盡，殊屬可憂。</p>
<p>生鱉甲　丹皮　軟白薇　玉竹　天花粉　香青蒿　紫菀　兜鈴　黃芩　炒牛蒡　加蘆根</p>
<p>復診：溫邪歸併胃腑，大便雖通，熱不能解。舌焦乾，下見蛔蟲，脘痞腹痛，左脈弦大而數，汗出頻頻。里症偏重，擬厥陰陽明泄熱法。</p>
<p>犀角尖　赤芍　枳實炭　黃芩　元明粉　金鈴子　鬱金　白頭翁　元參　鉤鉤</p>
<p>復診：汗下不解，氣喘鼻扇，總有上脫之危。勉方。</p>
<p>人中白　兜鈴　炒牛蒡　花粉　地骨皮　桑白皮　蛤殼　飛青黛　元參　加蘆根</p>
<p>（案18）伏溫，候無大熱，刻下惡寒特甚，舌心胎灰，頭昏欲眩，脈數無力。老年液枯，防有痙厥風波。</p>
<p>軟白薇　玉竹　淨柴胡　黃芩　元參心　全當歸　天花粉　生地　粉丹皮　茅根肉</p>
<p>（案19）伏溫發斑，四肢厥逆，脈細數，脘痞自利，耳聾神蒙。邪在厥陰，不得傳出少陽，此兩感極危之症。</p>
<p>細柴胡　枳實　炒赤芍　連翹　炙甘草　金鈴子　鬱金</p>
<p>（案20）伏溫發斑之下，反見痙厥神昏，舌焦強遺尿□□□□陰，所謂熱深厥亦深也。症屬難挽。</p>
<p>生鱉甲　丹皮　淨連翹　元參　軟白薇　□□□□□淨蟬衣　鉤鉤　茅根肉</p>
<p>（案21）溫熱發斑疹，乾嘔吐蛔，脈小數，邪深難出□□□□□。</p>
<p>小川連　黃芩　淨連翹　枳實　全瓜蔞　□□□　元參　黑山梔　蘆根</p>
<p>（案22）三焦溫熱內蘊，脘痞呃忒，舌強尖紅，液傷邪□□□□極險。</p>
<p>犀角尖　連翹　全瓜蔞　枳實　淡黃芩　□□□　元參　飛滑石　蘆根</p>
<p>（案23）溫熱伏邪，陷入厥陰，脈弦數，小便頻數澀痛，□□□□□左脅痛掣不能轉側，身仍微熱。症屬棘手，姑□□□□□□捷於應手乃妙。</p>
<p>龍膽草　新絳　山梔仁　木通　金鈴子　□□□　黃芩　細柴胡　桃仁　青蔥管</p>

<h2>二、風溫</h2>
<p>（案1）風溫汗泄，咳嗽氣促，右眠則嗽甚，舌白邊灰。幸勿昏喘為妙。</p>
<p>旋覆花　苡仁　地骨皮　桑白皮　炙甘草　軟白薇　肥玉竹　絲瓜絡　淡黃芩　加蘆根</p>
<p>（案2）風溫汗泄，目赤，脈弦，神帶昏蒙。防其痙厥。</p>
<p>羚羊尖　鉤鉤　甘菊花　白薇　肥玉竹　石決明　連翹　鬱金</p>
<p>又：據述汗泄神蒙，兼之痙厥。是系肝風，懸擬一方候正。</p>
<p>生牡蠣　龍骨　羚羊尖　桂枝　生白芍　甘菊　桑葉</p>
<p>（案3）肺絡風溫留戀，脈細數，咳痰，有汗，左脅痛。法以輕清透邪。</p>
<p>旋覆花　杏仁　軟白薇　玉竹　桑白皮　甘菊　鬱金　荊芥穗　花粉</p>
<p>（案4）風溫，汗出不解，外熱雖輕，但咳嗽、氣粗、鼻扇諸症均未和平，舌胎黃，脈兩弦，右脅刺痛。又系痰邪入於肺絡，最怕昏喘滋變。</p>
<p>旋覆花　杏仁　苦桔梗　蔞皮　炒枳殼　桑白皮　地骨皮　淡豆豉　肥玉竹　白薇</p>
<p>（案5）咳血，脈浮，背惡寒，寐則盜汗。此少陰不足，近受風溫也。小心調攝為要。</p>
<p>軟白薇　桑皮　炒蘇子　紫菀　全當歸　青防風　荊芥　苡仁　浮麥</p>
<p>（案6）上受風溫，下虛不攝，以致咳嗽、汗泄，脈促數，舌黃。病機不善，慎之。</p>
<p>軟白薇　玉竹　冬桑葉　蘇子　旋覆花　牛蒡子　大杏仁　馬兜鈴　炙甘草</p>
<p>（案7）風溫蘊肺，漸擾心包，脈虛弦，舌燥無胎，神蒙譫語，鼻衄，咳痰。將有風動痙厥之變。</p>
<p>軟白薇　玉竹　冬桑葉　鬱金　人中白　粉丹皮　鱉甲　連翹　紫菀　花粉　炙甘草　茅根肉</p>
<p>（案8）風溫，汗泄，咳嗽，寒熱。宜和營衛以清邪。</p>
<p>嫩桂枝　白芍　炙甘草　白薇　肥玉竹　酒黃芩　桑葉　炒苡仁　百部　紫菀茸　生薑　紅棗</p>
<p>（案9）風溫上蘊，頭面赤腫，身熱，脈數，舌灰黑。陽明毒火頗重，宜清解之。</p>
<p>大豆卷　連翹　炒牛蒡　甘菊　鮮生地　生甘草　元參　銀花　青黛　活管仲　炒黃芩　蘆根</p>
<p>（案10）久嗽，復感風溫，以致寒熱見血。今脈尚弦數，鼻塞不通。宜從肺氣新邪調治。</p>
<p>旋覆花　杏仁　炒牛蒡　兜鈴　冬桑葉　炒蘇子　前胡　生甘草　地骨皮　加蘆根</p>
<p>（案11）風熱咽腫，兩邊色赤，糾纏日久，此時身無寒熱而脈象搏數。由多進寒涼而未經開發也。</p>
<p>牛蒡子　桔梗　生甘草　甘菊　薄荷頭　夏枯草　馬兜鈴　象貝　元參　蘆根</p>

<h2>三、時行</h2>
<p>（案1）溫疫發斑之際，反見肢震、神蒙，舌心焦黑，目赤，譫語，脘痞，按之板窒。邪蘊三焦，兼涉厥陰矣！病機極險。</p>
<p>羚羊尖　赤芍　淨連翹　瓜蔞　生鱉甲　廣鬱金　鉤鉤　炒枳實　竹心　茅根</p>
<p>（案2）斑發之後，狂雖定，猶見瘛瘲情形，舌乾縮，遺尿。陰傷邪不能化，病涉厥陰，時當立夏，防其痙厥之變。</p>
<p>生鱉甲　連翹　廣鬱金　元參　粉丹皮　軟白薇　甘菊　羚羊尖　青黛　甘中黃　蘆根</p>
<p>（案3）溫疫，斑疹隱約，脈數大，舌胎灰潤。陽明邪勢方張，幸勿昏譫為妙。</p>
<p>犀角尖　元參　連翹　青蒿　生甘草　粉丹皮　黑山梔　赤芍　葛根　茅蘆根</p>
<p>（案4）時溫十日，汗疹皆得，大便亦通，惟身熱不退，神蒙囈語，目赤，呃忒，兩脈猶數急不衰。邪強莫制顯然矣，症屬棘手。</p>
<p>小川連（菖蒲汁炒）　連翹　枳實　瓜蔞皮　黑山梔　佩蘭　益元散　鬱金　竹二青　加蘆根</p>
<p>一帖後減去川連，加羚羊尖、鉤鉤。</p>
<p>（案5）時邪，發斑疹，汗亦頻出，脈弦數大，舌淡白。素患便血，宜兼顧之。仿吳氏三甲散意。</p>
<p>元武板　鱉甲　炒赤芍　連翹　炒銀花　軟白薇　全當歸　蟬衣　茅根肉</p>
<p>（案6）斑邪鬱伏，脈小數，頭與骨節俱痛，舌白，無汗。先以疏解三陽。</p>
<p>西羌活　獨活　苦桔梗　前胡　細柴胡　江枳殼　豆豉　荊芥　防風　小川芎　炙草　蔥白</p>
<p>（案7）時邪復痛，瀰漫上焦。</p>
<p>豆豉　防風　黑梔　荊芥　瓜蔞皮　滑石　秦艽　廣藿　蔥白</p>
<p>（案8）時邪鬱伏一候，舌黃紋裂，脈細無力，身熱不盛。正虛邪蘊，殊為棘手。</p>
<p>淨柴胡　枳實　淡芩　鱉甲　連翹　天花粉　赤芍　蘆根</p>
<p>（案9）時邪得汗，熱不退，脈猶細數而兀，舌白，便利。其勢非輕。</p>
<p>檳榔尖　厚朴　大杏仁　秦艽　廣藿　青蒿　滑石　炒赤芍</p>
<p>（案10）疫邪得戰汗，表解而里未化，脘腹痞滿，嘔逆見蛔。須防厥變。</p>
<p>法半夏　川連　全瓜蔞　枳實　炒赤芍　人中黃　赤苓　金鈴子</p>
<p>（案11）脈虛細，舌胎黃燥滿布，身熱無汗，脘痞，按之而板。年老陰枯，時邪表裡蘊結，症屬險重。</p>
<p>煨葛根　山梔　淡豆豉　黃芩　炒瓜蔞　炒枳實　青蒿　知母</p>
<p>（案12）時邪郁遏，疹點隱約，舌黃，脈弦數，汗少，大便未通。肺胃經腑交病，非小恙也。</p>
<p>牛蒡子　連翹　黑山梔　黃芩　炒枳實　製大黃　芒硝　生甘草　米鉤　薄荷　加竹葉（廿片）</p>
<p>復診：牛蒡子　黃芩　黑山梔　米鉤　炒枳實　生甘草　鬱金　元參　赤芍　竹葉</p>
<p>（案13）發斑，肢冷，脈細。大非所宜。</p>
<p>炙鱉甲　米鉤　歸鬚　赤芍　連翹　漢獨活　秦艽　炙草　蟬衣　淡芩　茅根肉</p>
<p>（案14）第二案：邪結心營，神蒙目赤，脈仍小，肢逆已溫。症防痙厥。</p>
<p>羚羊尖　元參　鮮生地　連翹　粉丹皮　甘中黃　米鉤　黑山梔　鬱金　淡芩　加竹心、茅根肉</p>
<p>（附）涼膈散：治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂，吐血衄血，大小便秘，諸風瘛瘲，胃熱發狂，及小兒驚急、痘瘡黑陷。</p>
<p>連翹（一錢）　大黃（三錢）　芒硝（一錢）　甘草（一錢）　炒山梔（一錢半）　黃芩（一錢半）　薄荷（一錢）　竹葉（十片）</p>

<h2>四、痧</h2>
<p>（案1）痧系陽邪，最易化火，所以舌絳、胎黃。但脈微數無神，瀉雖止，又增嘔逆呃忒，正虛邪陷，清補兩難，陽證得陰脈，屬相反之逆候。方請高裁。</p>
<p>小川連（附子汁拌炒）　製半夏　赤苓　廣橘白　炙草　枳實　南沙參　麥冬　姜竹茹</p>
<p>（案2）痧疹連發，紅白皆有。前進內開肺氣，喘逆少減，仍見側眠偏臥，心下高突如碗大。似系邪結中焦為患，非細故也。擬小結胸例主治，症機極險。</p>
<p>姜川連　枳實　瓜蔞　桑皮　法半夏　地骨皮　苡仁　炒葶藶　蘇子　鮮竹葉　蘆根</p>
<p>（案3）幼。痧回太早，灼熱鼻塞，咳逆氣促，皆由冒風之故。擬開太陽法，即得應手為妙。</p>
<p>炙麻黃　杏仁　煨石膏　甘草　苦桔梗　炒牛蒡　前胡　連翹　蟬衣</p>

<h2>五、濕溫</h2>
<p>（案1）濕溫壅遏三焦，脈軟數，舌胎黃厚，氣促身熱，灑淅惡寒。立夏在即，須防內陷昏喘之變。</p>
<p>豆豉　杏仁　黑梔　滑石　佩蘭　連翹　防風　瓜蔞皮　蘆根</p>
<p>（案2）濕溫瀰漫三焦，噯氣脘痞，大便未通，舌胎灰黃滿布，左脈兀數，右較流動，盜汗，發疹。病機郁遏不宣，法以流利清邪。</p>
<p>淡豆豉　山梔　炒枳實　佩蘭　瓜蔞皮　生麥芽　滑石　連翹　鉤鉤　蘆根</p>
<p>（案3）濕溫發熱，經水不期而至，舌胎黃膩，得汗後脈猶數大。昨晚厥逆幾回，脘痞欲嘔。此邪氣漫布三焦，未曾陷入血分。防其傳變。</p>
<p>淡豆豉　枳實　黑山梔　鬱金　瓜蔞皮　連翹　滑石　白薇　米鉤　石菖蒲</p>
<p>（案4）濕溫蘊結三焦，脘痞呃忒，舌黃，目赤，頭汗不至足，身熱，脈小數。若加昏憒，便難措手。擬吳氏逐邪法。</p>
<p>製大黃　厚朴　炒枳實　柴胡　炒赤芍　生甘草　連翹　全瓜蔞　蘆根</p>
<p>復診：得下後脈漸大，邪結稍松，但呃忒頻仍，時有譫語。濕溫被氣食兩郁，病將二候不化，難防昏厥。</p>
<p>小川連（石菖蒲炒）　法半夏　赤苓　鬱金　淨連翹　米鉤　益元散　佩蘭　制香附　青蒿</p>
<p>復診：濕溫化燥陰傷，舌焦涸，神氣模糊，沉沉欲寐。須防痙厥滋變。</p>
<p>生鱉甲　白薇　肥玉竹　元參　廣鬱金　淨連翹　赤芍　丹皮　菖蒲　茆根　鮮竹葉</p>
<p>復診：生鱉甲　青蒿　連翹　赤芍　天花粉　肥玉竹　甘草　佩蘭　黃芩　蘆根</p>
<p>（案5）濕溫郁毒，斑色青紫，舌胎黃厚滿布，脈轉小數，目赤神煩，更加呃忒。熱蘊結於胃腑，症屬極險。勉擬通解三焦，佐以解毒法，候裁。</p>
<p>生大黃　芒硝　生甘草　山梔　鬱金　淡芩　青黛　豆豉　元參　細生地　川連（菖蒲汁炒）</p>
<p>服後大便行，去大黃、芒硝、甘草，加連翹、人中黃、佩蘭。</p>
<p>（案6）病後黃癉，脈數大，身熱無汗，腹膨便泄。濕溫壅遏表裡，症難圖治。</p>
<p>綿茵陳　赤苓　炒茅朮　豬苓　澤瀉　煨葛根　青蒿　豆卷　黃芩</p>
<p>（案7）脈數大，舌胎黃白滿布，有汗熱不解。濕溫初起，先擬疏解三焦。</p>
<p>淡豆豉　黑梔　炒枳實　葛根　苦桔梗　廣藿香　滑石　蘆根</p>
<p>（案8）老年黃癉，若腹滿則不治。</p>
<p>綿茵陳　赤苓　福澤瀉　豬苓　真茅朮　粗桂枝　牡蠣　金鈴子</p>
<p>（案9）脾癉口甘，濕熱所致。</p>
<p>省頭草　澤蘭　生牡蠣　赤苓　心會皮　法半夏　野薔薇根</p>
<p>（案10）嘔血之後，脈細數，咳嗆不已，更兼背微惡寒，汗泄頻頻。此又系新感濕溫也。</p>
<p>粗桂枝　白芍　軟白薇　玉竹　炙甘草　冬桑葉　紫菀　炒蘇子</p>
<p>（案11）身熱已淨，惟是交午後陽氣漸盛，舌上仍見光絳乾涸。救陰無速功，最難奏效。</p>
<p>潞黨參（三錢）　麥冬肉（二錢）　炙甘草（二錢）　元武板（打，一錢）　大原地（三錢）　肥玉竹（三錢）　東白芍（八分）　丹皮（八分）　知母炭（鹽水炒，一錢）　茅根肉（六錢）</p>

<h2>六、暑濕熱</h2>
<p>（案1）暑傷氣脈，虛汗泄，身有微熱，耳聾神呆。宜甘寒酸泄法。</p>
<p>益元散　茯苓　製半夏　青蒿　軟白薇　木瓜炭　鬱金　桑葉　丹皮　竹心</p>
<p>（案2）暑邪傷陰，脈小而緩，舌乾涸無胎，脘腹膨脝，按無結硬，呃逆見蛔。邪已深入厥陰之界，症屬極險。</p>
<p>細生地　犀角　炒丹皮　赤芍　鬱金　金鈴肉　延胡　炒枳實　米鉤　連翹　元參心　茅根</p>
<p>（案3）暑邪灼熱，脈弦數而虛，嘔逆湯水，舌光紫滑，動氣滿腹攻衝。年老陰虛，根蒂浮而不攝，症甚險迫。</p>
<p>麥冬肉　元武板　醋半夏　茯苓　西洋參　元精石　白芍　炙甘草</p>
<p>（案4）暑邪內閉，昏痙不語。是極險之候。</p>
<p>益元散　川連（菖蒲汁炒）　鬱金　連翹心　元精石　木通　製半夏　茯苓　大貝母</p>
<p>（案5）汗疹兩得，兼發風塊，內邪有外泄之機。但大便屢通，脘腹尚痞滿而痛。此非有形食滯，乃暑邪格拒中焦，氣機不流利之故。至於痰嗽、吐蛔，亦屬厥陰陽明之候。擬仲景瀉心合溫膽法。</p>
<p>製半夏　黃芩　川連（姜水炒）　炒枳實　炒廣皮　赤芍　軟白薇　赤苓　米鉤　加竹茹</p>
<p>（案6）寒熱如瘧，脘痛而嘔，舌黃，脈沉弱帶數。此暑濕伏邪壅遏中焦也，擬瀉心開解法。</p>
<p>小川連（姜水炒）　製半夏　赤苓　炒枳實　瓜蔞皮　藿香　黑山梔　佩蘭　米鉤</p>
<p>（案7）咳嗽見血，舌胎黃膩，脈數大。此暑邪傷於肺胃也。</p>
<p>冬瓜子　苡仁　寒水石　滑石　桑枝　地骨皮　紫菀　桃仁泥　婦發灰</p>
<p>（案8）暑邪病逾兩候，舌光干帶黑，身有寒熱，呃忒頻頻，脈轉小數無神。老年液枯，胃汁由吐瀉而傷，邪少虛多，殊為可慮。</p>
<p>西洋參　麥冬　炙草　橘白　元精石　生白芍　川斛　細生地　赤苓　加竹茹</p>
<p>（案9）暑邪內蘊，頭旋掉眩，脈微身熱。虛不可支之象，須防瘛瘲痙厥。</p>
<p>醋半夏　赤苓　連翹　白薇　肥玉竹　生牡蠣　杭菊　鬱金　竹心</p>
<p>（案10）暑邪不得汗，久必滋變。</p>
<p>乾葛根　秦艽　淡芩　赤芍　青蒿　瓜蔞皮　枳實　飛滑石　山梔　杏仁</p>
<p>（案11）昨進氣血兩清法，舌轉潤，但神蒙不爽。心包之痰熱熏蒸，中焦之暑邪留戀，尚防痙厥。</p>
<p>羚羊角　鉤鉤　益元散　鬱金　元精石　川連（菖蒲汁炒）　淨連翹　竹茹</p>
<p>一帖後減羚尖、鉤鉤、元精石，加醋半夏、赤苓、天竺黃</p>
<p>（案12）身熱肢冷，脈沉數，舌胎黃，脘痞結，下泄頻頻。此暑邪格拒中焦也。</p>
<p>川連（薑汁炒）　醋半夏　赤苓　炒枳實　小青皮　赤芍　佩蘭　蔞皮</p>
<p>（案13）吐瀉腹痛之後，呃忒頻頻，腹如仰瓦，當臍動氣，躍躍不時，絞切作痛，舌乾，脈細數。津液由吐下而傷，暑邪格拒中焦。年登花甲，最怕厥變。</p>
<p>醋半夏　赤苓　炒廣皮　川連（姜水炒）　元精石　木瓜　生甘草　柿蒂　生白芍　竹茹</p>
<p>（案14）暑邪發斑，疹汗少，舌胎白滑，脈弦數，咳逆欲嘔。尚宜辛涼解表，勢防傳變。</p>
<p>淡豆豉　山梔　淨連翹　葛根　炒赤芍　青蒿　秦艽　杏仁　藿香　加蔥白</p>
<p>（案15）暑風有汗，脈弦數大，舌胎黃、尖燥，手震神蒙，脘痞噯氣。三焦蘊結不松，病機極險。</p>
<p>全瓜蔞　枳實　肥玉竹　滑石　米鉤　大豆卷　連翹　黑山梔　川連（菖蒲汁炒）　加竹葉</p>
<p>另服萬氏牛黃丸。</p>
<p>（案16）暑風留戀，咳痰身熱，寐則囈語喃喃，神氣困頓。症恐糾纏滋變。</p>
<p>製半夏　茯苓　炒苡仁　黃芩　青蒿　大豆卷　廣皮　炙草　旋覆花　鮮荷葉</p>
<p>復診：汗少熱不解，脈數較緩於昨，唇齒乾板。再以辛涼透表，暑當與汗皆出之義。</p>
<p>乾葛根　黃芩　香青蒿　肥知母　赤芍　全瓜蔞　連翹　炒枳實　大豆卷　甘草　竹葉</p>
<p>（案17）暑風上受，目頭赤腫流行。</p>
<p>大豆卷　菊花　白蒺藜　山梔　牛蒡子　苦桔梗　滑石　連翹　薄荷　竹葉</p>
<p>（案18）暑風外擾，寒熱咳嗽。</p>
<p>冬瓜子　杏仁　大豆卷　滑石　青防風　製厚朴　前胡　苦桔梗　加西瓜翠衣</p>
<p>（案19）暑熱內蘊，移於肺，口渴飲水，小便無度，身微熱，無汗。此屬肺消。</p>
<p>益元散　麥冬　寒水石　桑皮　青蒿　覆盆子　花粉　桑螵蛸　加西瓜翠衣</p>
<p>（案20）暑熱餘邪，留於營分，舌絳而潤，音低不亮，斑點將化，脈弦大。宜清解心中之熱，兼育肺陰胃液。</p>
<p>犀角尖　連翹　人中白　元參　生甘草　細生地　麥冬　茅根　竹心</p>
<p>（案21）中暑，痙厥不語，脈大無倫，經水適至如崩。症屬極險。</p>
<p>製半夏　茯苓　益元散　鬱金　石菖蒲　軟白薇　紫丹參</p>
<p>另服萬氏牛黃丸。後改方加全蠍、遠志、鉤鉤。</p>
<p>（案22）暑濕熱三氣結聚中焦，脘痞硬痛，舌黃，脈弦，寒熱如瘧。苦辛開解為先。</p>
<p>川連（姜水炒）　醋半夏　瓜蔞　枳實　赤苓　黃芩　飛滑石　佩蘭</p>
<p>（案23）暑濕熱三氣格拒中焦，肢冷汗泄，嘔逆下利。症屬極險，勉擬分清。</p>
<p>甜桂心　赤苓　冬白朮　豬苓　澤瀉　寒水石　滑石　醋半夏　佩蘭</p>
<p>（案24）諸症皆減，脈轉大，舌紅目赤。手少陽之暑熱未清，衝於胃而欲嘔，立秋防變。</p>
<p>小川連（姜水炒）　製半夏　丹皮　益元散　羚羊尖　青蒿　銀花炭　赤苓　炒枳實　鮮荷葉</p>
<p>（復診）一服後，嘔勢仍舊。以竹葉石膏湯加元精石投之。</p>
<p>（案25）脈虛數，舌光，無汗。陰血素虧，暑邪外襲。辛涼解肌法中必佐存陰之品，預防內變。</p>
<p>益元散　葛根　青蒿　白芍　粉丹皮　細生地　炙甘草　薄荷頭　竹心</p>
<p>（案26）暑風傷於太陽，咳嗽發熱，自利無汗。經邪未徹，防其內入滋變。</p>
<p>大杏仁　滑石　大豆卷　香薷　粉前胡　苦桔梗　青蒿　枳殼</p>
<p>（案27）咳嗽發熱，得疹後，餘邪猶未盡徹。</p>
<p>大杏仁　滑石　青蒿　連翹　粉前胡　苦桔梗　黃芩　豆卷　香薷　苡仁　加蘆根</p>
<p>（案28）伏邪厥逆難退，猶見譫語神昏，舌強色赤，脈數，肢振。此邪留於心包絡，最防痙厥。</p>
<p>犀角尖　連翹　細生地　鬱金　軟白薇　益元散　米鉤　石菖蒲　元參</p>
<p>另服萬氏牛黃丸。</p>
<p>（案29）熱勢不減，汗泄頻頻，脈細數帶弦，耳聾，肢振，時有譫語，面色青黃憔悴，神情煩亂不安，便通腹軟。並無表裡三焦實症可據。惟舌大胎白，不時渴飲，似屬伏邪未盡。但病經兩候，邪必向衰，不宜窮治。深慮氣液俱傷，肝風內動，倘見痙厥神昏，如何補救？方候高明裁之。</p>
<p>生鱉甲　龍齒　云茯神（辰砂拌）　酸棗仁　雞子黃　阿膠（蛤粉炒）　小川連（菖蒲汁炒）　白芍　炙甘草</p>
<p>（案30）伏邪內郁，身熱無汗，懊憹脘悶，譫語，神呆。症勢方張未定，非小恙也。</p>
<p>淡豆豉　山梔　炒枳實　小樸　淨連翹　益元散　玉竹　米鉤　青蒿　薄荷頭</p>
<p>（案31）伏邪近冬而發，表裡分傳，寒熱下利，脈數而鬱。先擬喻氏逆挽法，即得應手為妙。</p>
<p>西羌活　防風　淨柴胡　川芎　炙甘草　漢獨活　桔梗　前胡　赤苓　枳殼　大豆卷　生薑　陳茶葉</p>
<p>復診：昨進逆挽法，得汗熱退，表邪諒已分解，但痢勢不減，脈小數而鬱，舌胎黃膩。暑濕伏邪偏於里者居多。再以分泄候正。</p>
<p>漢獨活　防風　大豆卷　赤苓　左秦艽　炒茅朮　滑石　銀花炭　厚朴　楂炭　焦神麯</p>
<p>（案32）舌胎就躁，譫語神呆，脈芤，身熱汗少。伏邪內傳不達，病已連於包絡，勢多滋變。</p>
<p>山梔仁　連翹　廣鬱金　米鉤　枳實　羚羊尖　元參　白薇　薄荷　茅根</p>
<p>另服牛黃丸。</p>
<p>復診：神識稍清，諸恙不減。伏邪內蘊未達之象。</p>
<p>山梔仁　葛根　淨連翹　豆豉　青蒿　羚羊尖　黃芩　米鉤　滑石　茅根肉</p>
<p>（案33）伏邪內蘊熏蒸，夾痰熱肝風為患。脈兀數，神氣模糊，兩手、額上有汗，身體全無沾潤，目或上視，肢節牽引，竟有瘛瘲情。病機皆屬於里，勢怕痙厥險變。</p>
<p>羚羊尖　米鉤　天竺黃　元參　淨連翹　大貝母　鬱金　白薇　天花粉　全瓜蔞　炒枳實　茅根</p>
<p>另服至寶丹。</p>
<p>（案34）汗下兩得，表裡通暢，伏邪透達可知。但熱蒸日久，痰熱尚蘊留於清道，宜從心肺調治。</p>
<p>羚羊尖　連翹　天竺黃　鬱金　米鉤鉤　川貝母　青蒿　花粉　黃芩　茅根</p>
<p>復診：舌就黃燥，神氣模糊不爽，津液虧耗，邪火內燔。急宜清營滋燥。</p>
<p>犀角尖　連翹　生甘草　元參　銀花　鮮生地　鬱金　丹皮　蘆根　茅根</p>
<p>再診：昨進活血滋陰之品，今晨又得汗疹，伏邪層出不窮，但舌猶就燥，陰液不回，糾纏可慮。</p>
<p>生鱉甲　赤芍　全當歸　知母　香青蒿　人中黃　蟬衣　連翹　黃芩　枇杷葉</p>
<p>又診：病後傳痢，舌胎黃。餘熱未淨，早止為妙。</p>
<p>白頭翁　獨活　銀花炭　紫菀　生甘草　大豆卷　苦參　桔梗　加荷葉筋</p>
<p>（案35）自利已止，汗出溱溱，伏邪從外達，不致內陷，熱勢或作或止，皆屬轉機。但脈猶數大，舌胎黃而尖燥，暑濕伏氣尚蘊祟於裡。再以表裡分清。</p>
<p>煨葛根　青蒿　炒黃芩　赤芍　連翹　大豆卷　甘草　丹皮　元參</p>
<p>前方有川連、獨活、葛根、豆卷、青蒿、甘草、元參等味。</p>
<p>復診：諸恙稍減，舌猶灰燥，右脈數。胃熱陰虛，宜清化生津法。</p>
<p>鮮生地　黃芩　川斛　甘草　粉丹皮　犀角尖　赤芍　麥冬　茆根　枇杷葉</p>
<p>（案36）伏邪蘊結，纏綿不解，脘腹痛勢少減，按之猶見痞滿，舌胎鋪白，脈小數。交節防變。</p>
<p>制川樸　檳榔　草蔻仁　鉤鉤　小青皮　嫩桂枝　杏仁　石菖蒲　姜皮</p>
<p>（案37）伏邪蔓延三焦，寒熱泄瀉，周身浮腫。症屬極險。</p>
<p>大豆卷　滑石　大腹皮　赤苓　小川樸　煨葛根　黃芩　紋秦艽</p>
<p>（案38）伏邪久留，白疹乍發，耳鳴，左脅結癖痛脹。症屬糾纏。</p>
<p>淨柴胡　黃芩　小青皮　牡蠣　炙草　羚羊尖　赤苓　白蒺藜　製半夏　川樸</p>
<p>（案39）伏暑內迫傷陰，脈細數，舌強幹燥，神識昏蒙，壯熱不得汗。病經十六日，鬱結不松，邪無出路，最怕痙厥風波。</p>
<p>犀角尖　元參　炒枳實　柴胡　赤芍　細生地　黃芩　炙草　丹皮　花粉</p>
<p>（案40）伏邪未盡，陰分已虧，右脈弦大，脘痞動氣築築。擬清泄少陽，兼以滋搜，望其厥變不來為妙。</p>
<p>羚羊尖　鉤鉤　青皮　淨連翹　生鱉甲　佩蘭</p>
<p>（案41）伏邪，寒熱發黃。宜表裡分消。</p>
<p>淨柴胡　黃芩　綿茵陳　赤苓　澤瀉　炒茅朮　大豆卷　黑梔　滑石　豬苓</p>
<p>（案42）伏邪，寒熱便血，脈郁數，舌胎黃白。法宜疏解表裡。</p>
<p>淨柴胡　枳實　炒白芍　生甘草　銀花　炒荊芥　楂炭　豆卷　檳榔</p>
<p>（案43）寒熱如瘧，脈軟數，舌黃口苦，汗疹無多；素有咳嗽之恙，氣喘形瘦。此伏邪久留於肺系，年老正虛，防其糾纏滋變。</p>
<p>羚羊尖　桑葉　肥玉竹　青蒿　冬瓜子　南花粉　南沙參　生甘草　黃芩</p>
<p>（案44）伏邪久留，由陰虛而不化，連進滋搜藥，得汗疹，似屬佳境。脈細數，舌無胎，左脅瘧癖，乘機竊發，脹及中脘。邪少虛多，尚有轉瘧糾纏之累。</p>
<p>生鱉甲　丹皮　全當歸　柴胡（鱉血拌）　花粉　黃芩　炙草　連翹　茅根肉</p>
<p>後改方去鱉甲、連翹、茆根，加參鬚、生薑。</p>
<p>復診：諸瘧少差，心營伏火未清，尚恐滋變。</p>
<p>犀角尖　元參　細生地　鬱金　連翹　生甘草　銀花　嫩竹葉　衝入蔗漿、梨汁各一杯</p>
<p>（案45）伏邪傷肺，先寒後熱，咳嗽。症屬糾纏。</p>
<p>旋覆花　杏仁　白薇　小樸　桑皮　冬瓜子　桂枝　豆卷　黃芩　苡仁</p>
<p>（案46）伏邪壯熱，自利無汗，脈數，舌黃微燥，神識昏蒙，時時棄衣欲走。陽明三焦之邪充斥，表未解，裡熱已深，極為險重。</p>
<p>淡豆豉　煨葛根　黑山梔　黃芩　肥知母　益元散　連翹　石菖蒲　青蒿　嫩竹葉　服後飲薄荷湯一杯。</p>
<p>（案47）繆，左，三十。伏邪入營，化劫陰。昨用芳香清利，神識稍清。刻下身現紅疹，舌仍絳涸。宜急清心營伏熱，勿使液奪。</p>
<p>烏犀尖　元參　鮮生地　粉丹皮　銀花　連翹　米鉤　生甘草　赤芍　炒枳實　鬱金　茅蘆根</p>
<p>（案48）左，幼。汗疹兩多，熱猶不淨，氣液皆虧矣。</p>
<p>青蒿　丹皮　鮮首烏　桑葉　羚羊尖　穭豆衣　連翹　地骨皮　甘草　荷葉邊</p>
<p>（案49）左。伏邪，有汗熱不退，脈郁數，舌膩口乾，耳聾神呆。其勢正在方張。</p>
<p>淡豆豉　黑梔　飛滑石　枳實　青蒿　連翹　黃芩　花粉　佩蘭　竹葉</p>
<p>（案50）伏邪傷陰，病久怕其滋變。</p>
<p>生鱉甲　元參　花粉　丹皮　青蒿　淡芩　赤芍　生甘草</p>
<p>（案51）邪結中焦，脘腹板痛，舌焦燥，下之不松，病經二十餘日。勉擬涼膈法。</p>
<p>酒大黃　連翹　元明粉　黃芩　枳實　瓜蔞皮　元參　炙草</p>
<p>（案52）熱入血室，病經兩候。脈弦數，舌灰黃，唇焮，肢，目瞪神昏，身重不能轉側。種種惡款叢生，實難挽救。勉方以候高裁。</p>
<p>大黃炭（醋炒）　桃仁泥　芒硝　炒枳實　赤芍　元參　元精石　白薇</p>
<p>（復診）下之不解，狂越神昏痙厥將至矣！勉方以冀萬一。</p>
<p>軟白薇　元參　煨石膏　肥知母　鮮生地　連翹心　鬱金　生甘草</p>
<p>另服紫雪丹四分。</p>
<p>（案53）脈歇止，身灼熱，舌紅無胎。和營衛、清氣熱毫不應手，脈與症不合，便是難治。</p>
<p>細生地　阿膠　麥冬肉　芝麻　炙草　酒當歸　花粉　粗桂枝　鱉甲</p>
<p>（復診）身熱無汗，舌不起胎，兩脈空數歇止，與症不合，殊為棘手。勉擬從陰引陽，求汗於血，望有轉機。</p>
<p>酒當歸　葛根　軟白薇　玉竹　花粉　生首烏　青蒿　炙草</p>
<p>（案54）瘧轉病，糾纏一月，有進無退，邪火內燔，神蒙譫語，舌紅胎黃而強，脈弦數，目赤，灼熱無汗。症怕痙厥之險。</p>
<p>烏犀尖　元參　西羚尖　連翹　生甘草　粉丹皮　赤芍　炙鱉甲　青蒿　酒芩　花粉　茅蘆根</p>
<p>復診：諸症不減，惟舌胎潮潤，語言少強。刻診：脈仍弦數，耳聾目赤，神蒙煩熱，氣促鼻扇。此係邪入心包，夾痰內閉，滋清法無益矣！勉擬芳香開竅，怕其喘急昏厥，便難措手。</p>
<p>天竺黃　連翹　鬱金　米鉤　元參心　紫菀茸　川貝　飛滑石　山梔　枇杷葉</p>
<p>另服至寶丹。服後又起瀉，去天竺黃、元參，加生白芍、炙草、炒銀花。</p>
<p>（案55）年甫周歲，感暑濕之氣而為吐瀉。刻下肢冷唇青，舌胎灰燥，時有躁擾之形。氣液兩奪，邪陷至陰，症勢最為沉重。</p>
<p>上條參　麥冬　醋半夏　赤苓　東白芍　炙甘草　枇杷葉　荷筋</p>
<p>（案56）連進分清之品，濕熱去半，右尺脈猶數大，舌胎焦黃未淨，動氣依然，口中焦臭。胃家黏膩之邪一時難以清化。法宗前議，藥取輕鬆。</p>
<p>綿茵陳　山梔　元精石　佩蘭　飛滑石　炒茅朮　赤苓　豆卷　青蒿　連翹　淡竹葉　茅根</p>
<p>（案57）大勢已解，惟舌尚焦乾，咳痰濃濁，津液未得全回，痰火膠黏肺絡，右目多赤。宜清金泄木法。</p>
<p>西羚尖　花粉　鮮沙參　元參　炒知母　冬瓜子　桑皮　地骨皮　蘆根</p>
<p>（案58）兩旬之病，脈數大不衰，身熱面赤，舌胎黃膩，咳嗽痰稠。肺胃痰熱未清，久則生變。</p>
<p>冬瓜子　苡仁　西羚尖　桑葉　地骨皮　瓜蔞皮　花粉　酒芩　滑石　蘆根</p>
<p>（案59）心經蘊熱，得清而化，所以神識稍清，舌起黃薄之胎，但脈猶數大，咳嗽音啞。其勢漸移肺絡居多。宜輕清上焦，兼以熄風和陽法。</p>
<p>西羚尖　貝母　生甘草　淨連翹　桑皮　天竺黃　桔梗　紫菀茸　白薇　活蘆根</p>
<p>（案60）大便已泄三次，腹如仰瓦，舌胎脫化，尚嫌紅燥，脈雖稍起，虛數不靜。胃腑之邪結無幾，身中之津液難回，救陰無速功，仍屬可虞。</p>
<p>臺參鬚　麥冬　細生地　桑葉　阿膠　人中白　川斛　地骨皮　茅根　枇杷葉</p>
<p>（案61）汗下兩得，身熱不退，耳聾咳嗽，脈來弦數。邪留肺絡，尚需白疹補發。</p>
<p>青蒿　黃芩　生甘草　連翹　花粉　貝母　鬱金　蒡子　白薇　尖鉤　蘆根</p>
<p>（案62）肺邪蘊遏，咳喘發熱。病機險重。</p>
<p>炒牛蒡　前胡　杏仁　桔梗　蜜兜鈴　淡芩　香薷　枳殼　冬瓜子</p>
<p>（復診）脈微身熱，喘急音啞，舌光絳，胎黃，脘腹痛脹。此陰虛於下，邪蘊於上，症屬險迫。</p>
<p>炒枳實　瓜蔞　冬瓜子　苡仁　兜鈴　炒牛蒡　桔梗　飛滑石　元參</p>
<p>（案63）濕熱內蘊，分利不應，舌黃，脈數大，脘痞時痛，得嘔乃寬，間有寒熱。此中焦之病。擬瀉心開解法。</p>
<p>姜川連　赤苓　熟半夏　枳實　柴胡　炒猴姜　青皮　金鈴子　香附　炒神麯</p>
<p>（案64）舌轉潤，脈亦數大，但身熱未退。營陰之邪達於衛分，尚恐傳變。擬仲景太陽陽明兩解法。</p>
<p>軟白薇　玉竹　酒當歸　葛根　淡芩　粗桂枝　白芍　炙草</p>
<p>（案65）清火而火不化，救陰而陰不回，勢將痙厥。擬扶正清邪法。</p>
<p>臺參鬚（一錢）　煨石膏（甘蔗汁拌炒，四錢）　炙草（五分）　炙龜板（四錢）　炒生地（三錢）　肥知母（炒，二錢）　風梗米（四錢）</p>
<p>（案66）病及兩月，形瘦腹膨，脈郁數，舌黑，便泄。正氣大傷，伏邪究未盡徹，難治。</p>
<p>漢獨活　白芍　炒銀花　柴胡　炒枳實　大豆卷　赤苓　炙草</p>
<p>（案67）伏邪病後，少腹尚有痛墜之形，小便時或不爽，汗泄頻頻，脈細數無神，舌紅，胎黃薄。陰分已虛，濕熱余氛逗留，調之非易。</p>
<p>金鈴子　延胡　粉丹皮　赤苓　地骨皮　淡竹葉　甘草　細生地　茅根</p>
<p>（案68）徐，右。伏暑病經十日，脈來弦數，舌紅，便泄，身熱少汗。望其發疹轉瘧，漸次而解，症屬糾纏可慮。</p>
<p>香青蒿　葛根　淡芩　赤芍　粉丹皮　大豆卷　連翹　炙草　茅根</p>
<p>復診：疹雖未見，有轉瘧之象。</p>
<p>法半夏　赤苓　青蒿　赤芍　丹皮　淨連翹　甘草　淡芩　竹茹　生鱉甲　淨柴胡</p>
<p>（案69）張，右，五十。伏暑夾氣鬱，淹延三候，熱勢下午則甚，舌黃，脈數。諸恙並無增減，惟脘痞鬆解。藥不見效，宜候高明再議。擬丹溪法，未識可否？</p>
<p>姜山梔　建曲　淨連翹　米鉤　制香附　粉丹皮　川芎　薄荷頭　青蒿　省頭草</p>
<p>（案70）第一案：重九日。伏邪瀰漫三焦，汗多不解，脈數，脘悶，便泄，氣粗。最怕神昏痙厥。</p>
<p>淡豆豉（三錢）　黑梔（三錢）　枳實（一錢半）　大杏仁（三錢）　滑石（三錢）　淨連翹（三錢）　前胡（一錢半）　全瓜蔞（三錢）　石菖蒲（一錢半）　米鉤（三錢）　加蘆根（一兩）</p>
<p>又方，初十日：鮮生地（一兩）　丹皮（一錢半）　野鬱金（一錢半）　連翹（三錢）　大黃（酒炒，一錢半）　烏犀尖（一錢半）　赤芍（一錢半）</p>
<p>第三案，十一日：伏火劫陰入營，舌焦涸而強，神昏譫語，下後不解，症勢最為險重。</p>
<p>烏犀尖（一錢半）　元參（三錢）　鮮生地（一兩）　鱉甲（一兩）　連翹心（三錢）　粉丹皮（一錢半）　鬱金（一錢半）　淡芩（一錢半）　知母（一錢半）　加竹葉、茅蘆根煎湯代水，另服紫雪丹五分。</p>
<p>又方，十二日：小川連（七分）　炒菖蒲（一錢半）　淨連翹（三錢）　野鬱金（一錢半）　黑梔（三錢）　綠蘆薈（一錢）　真青黛（一錢）　淡芩（一錢）　元明粉（一錢）　酒當歸（二錢）　酒大黃（二錢）　生甘草（五分）　龍膽草（酒炒，二錢）</p>
<p>又方，十三日：酒大黃（一錢半）　連翹（三錢）　生山梔（三錢）　黃芩（一錢）　小川連（七分）　炒菖蒲（一錢半）　鬱金（一錢半）　薄荷頭（六分）　生甘草（五分）　青黛（三錢）　元參心（三錢）　竹葉（廿片）　白蜜（三匙衝入）</p>
<p>另服萬氏牛黃清心丸一粒，石菖蒲汁化。</p>
<p>（案71）凌，左。脈弦大少數，舌胎黃白微燥，身熱汗少。伏邪未化，津液就燥。擬歸葛飲意。</p>
<p>酒當歸（一錢半）　葛根（一錢）　青蒿（三錢）　花粉（三錢）　淡竹葉　淡芩（一錢半）　炙甘草（五分）　赤芍（一錢半）　大豆卷（八錢）　姜皮（四分）　加竹葉（廿片）</p>
<p>（案72）左。復病身熱，又將半月，脈細數，舌黃，咳嗽，小便不爽。正陰大傷，暑濕熱三氣蘊伏，最為可慮。</p>
<p>益元散　杏仁　冬瓜子　桑皮　地骨皮　細生地　木通　淡竹葉　苡仁　川萆薢　赤苓加蘆根、西瓜翠</p>
<p>（案73）常，十二。吐瀉之後，即起驚厥，是系夾虛慢驚風之症。刻診：脈兀小無神，鼻冷舌強，身無大熱，神氣困倦。中虛伏熱，調治甚為棘手，節屆霜降，難防滋變。</p>
<p>軟白薇　元參　淨連翹　鬱金　肥玉竹　遠志炭　甘草　石菖蒲　米鉤　天竺黃　薄荷頭</p>
<p>第二案：幼年瀉後，鼻冷脈小，煩躁身熱，唇焦齒垢，舌胎黃厚，干強難伸。伏火內燔，陽症陰脈，最難調治。</p>
<p>烏犀尖　連翹　鮮生地　元參　野鬱金　益元散</p>
<p>另服牛黃清心丸。</p>
<p>第三案：厥逆回，脈亦起，伏熱有外達之機。但身熱未退，時時煩躁，心肝風火不熄，尚恐反復。</p>
<p>烏犀尖　元參　鮮生地　連翹　石決明　軟白薇　鬱金　甘中黃</p>
<p>第四案：伏暑驚厥之後，內症雖平，身熱不解。津液傷而汗難得，必待汗出，自然白疹布發，方有向愈之期。</p>
<p>青蒿　黃芩　花粉　甘草　粉丹皮　生首烏　連翹　鬱金　杏仁　炒赤芍　薄荷頭　葛花　茅根肉</p>
<p>（案74）何。邪伏三焦手少陽，無陰則何以化？</p>
<p>生鱉甲　米鉤　粉丹皮　鬱金　西羚尖　黑梔　連翹　青蒿　甘草　南花粉　大杏仁　前胡　加蘆根</p>
<p>（案75）曹。濕熱伏邪陷入厥陰，脈郁數，小便頻數澀痛，兼有赤色成淋，左脅痛掣，不能轉側，身仍微熱。症屬棘手。姑擬疏泄肝邪，捷於應手乃妙。</p>
<p>龍膽草　柴胡　山梔仁　黃芩　童木通　金鈴子　桃仁　旋覆花　新絳　青蔥管</p>
<p>（案76）左，四旬。暑濕濁邪蘊結下焦，膀胱氣化不行，肝經疏泄失職，以致少腹脹滿作痛，小便澀而不利，脈來弦細。病經半月，正氣漸虛，雖有對症之藥，恐難見效。</p>
<p>炒蒼朮　肉桂　赤苓　豬苓　金鈴子　福澤瀉　滑石　青皮　延胡　寒水石　陳海蜇（漂淡一兩）　大荸薺（淨打六個，煎湯代水）</p>
<p>（案77）張，右，二十餘。伏邪深藏未達，少腹痛，寒熱無汗，舌乾燥，脈弦數。津傷熱鬱，勢在輕出重入之間。</p>
<p>淨柴胡　赤芍　粉丹皮　枳實　酒延胡　金鈴子　米鉤　花粉　連翹　茅根肉</p>
<p>（案78）薛，右，二十六。伏邪，寒熱往來，四肢厥冷，脘痛無形，脈弦數，舌燥，經水適來將止。病在厥陰少陽之間，勢非輕淺。</p>
<p>淨柴胡　赤芍　炙草　枳實　白薇　旋覆花　新絳　粉丹皮　歸鬚　加蔥管</p>
<p>第二案：邪留厥少兩經，最怕糾纏滋變。</p>
<p>淨柴胡　赤芍　粉丹皮　連翹　南花粉　軟白薇　元參　金鈴子　延胡　淡芩　炙草　茆根肉</p>
<p>第三案：厥陰之病減，少陽伏邪逗留艱出，糾纏可慮。</p>
<p>青蒿　黃芩　南花粉　丹皮　連翹　炙草　白薇　鮮生地　米鉤　鬱金　茆根肉</p>
<p>（案79）黃，左，九月二十三日。伏邪汗多，旬日不解，脈弦數，舌胎黃白，疹雖見，猶寒熱往來。症屬糾纏難愈。</p>
<p>炒牛蒡　連翹　大豆卷　黃芩　飛滑石　大杏仁　青蒿　花粉　米鉤　淨蟬衣　淨柴胡</p>
<p>又診，廿五日：汗疹暢徹，熱猶不止，脈細數，舌淡白。正虛邪戀之象，總屬糾纏難愈。</p>
<p>炒牛蒡　連翹　地骨皮　青蒿　花粉　炒枳實　赤芍　炙草　柴胡　茆根肉</p>
<p>甲戌八月廿七日鈔至此。</p>

<h2>七、霍亂</h2>
<p>（案1）霍亂，脈細肢冷，舌胎黃，嘔逆氣喘，煩躁。伏暑鬱於內，陽氣亦陷入厥陰、陽明，病甚危急。先服來復丹二十丸。</p>
<p>法半夏　赤苓　廣藿香　米鉤　益元散　炒木瓜　麥冬　烏梅炭　大豆卷　五味子　加連梗、荷葉　伏龍肝湯代水煎。</p>
<p>（案2）霍亂轉筋，其勢險而難測。</p>
<p>醋半夏　赤苓　益元散　藿香　炒木瓜　元精石　木通　淡竹葉　荷葉</p>
<p>另服來復丹廿粒。</p>

<h2>八、瘧疾</h2>
<p>（案1）暑瘧將一月，寒熱交爭，汗多，脈細數，舌微黃，口苦欲嘔，飲食甚少，兼有肢麻頭眩。情形虛多邪少，擬和解扶正法。</p>
<p>青蒿　黃芩　醋半夏　赤苓　白夕藜　麥冬　炙草　制首烏　洋參　穭豆衣　荷葉邊</p>
<p>（案2）伏暑類瘧，小便不利。</p>
<p>柴胡　黃芩　淡竹葉　赤苓　小青皮　金鈴子　山梔　甘草梢　滑石</p>
<p>（案3）久瘧，脈弦細，舌微燥，兩脅痛。伏邪在半表半裡之間，宜和解通行。</p>
<p>柴胡　黃芩　天花粉　青皮　枳殼　丹皮　川芎　夕藜　桑葉　炙草</p>
<p>（案4）寒熱，脈細數，舌紋裂胎白。正虛邪伏，望其轉瘧乃輕。</p>
<p>細柴胡　黃芩　炙甘草　檳榔尖　小樸　製半夏　茯苓　當歸　加薑、棗</p>
<p>（案5）復病似瘧，舌胎白，汗大泄，脈細身熱，得之傷暑。</p>
<p>製半夏　赤苓　廣藿香　小樸　木瓜炭　佩蘭　滑石　青蒿</p>
<p>（案6）久瘧，邪猶未徹，脈數口甘。尚宜疏解分清。</p>
<p>淨柴胡　黃芩　法半夏　青皮　黑山梔　佩蘭　滑石　淡竹葉　赤苓</p>
<p>（案7）瘧邪化燥薄肺，咳嗽音啞，治在上焦。</p>
<p>冬桑葉　杏仁　冬瓜子　桔梗　肥玉竹　青蒿　黃芩　南沙參　花粉　生甘草</p>
<p>（案8）自夏入秋，咳嗽纏綿，但畏風，並不發熱，白露後寒熱交作，脈弦數，舌滑。總屬伏邪為瘧之象，不可認其虛損變端。仍宜和解表裡。</p>
<p>旋覆花　苡仁　青皮　檳榔　茯苓　青蒿　知母　法半夏　小樸　炙草　桑葉　橘白。</p>
<p>（案9）右脈數大，但熱無寒，是為癉瘧，兼有咳嗽。宜從肺胃兩經調治。</p>
<p>嫩桂枝　杏仁　肥知母　小樸　青皮　煨葛根　黃芩　炙甘草　赤芍</p>
<p>（案10）伏邪久留，癉瘧無汗，舌光，脈小數。陰血不足之體，難任疏泄，法宜和解。</p>
<p>淨柴胡　當歸　青蒿　黃芩　丹皮　花粉　小青皮　炙甘草　赤芍</p>
<p>（案11）脈細澀數，寒熱如瘧，舌胎白浮膩，脘痞按痛。募原伏邪未達，防其中滿。</p>
<p>尖檳榔　小樸　青皮　黃芩　草蔻仁　淨柴胡　赤苓　半夏曲</p>
<p>（案12）瘧邪未盡，足腫及膝，脈細數，舌白。症屬糾纏。</p>
<p>柴胡　青皮　製半夏　黃芩　赤苓　炙甘草　小樸　川牛膝　木瓜　苡仁</p>
<p>（案13）瘧後氣虛發腫，自下及腹，小便通利。非濕也。</p>
<p>甜桂心　冬朮　枳實炭　桑皮　茯苓　厚杜仲　苡仁　冬瓜子　杏仁　砂仁殼　川牛膝　木瓜</p>
<p>（案14）瘧後轉瀉，舌黃紋裂，脈左細、右數大。暑邪內傳，老年陰枯，燥劑不宜，此為難治。</p>
<p>東白芍　炙甘草　炒銀花　赤苓　青防風　柴胡　枳實　鮮荷葉</p>
<p>（案15）瘧根未斷，腹漸脹滿，脈微細。中虛邪湊之象，調之非易。</p>
<p>雞內金　新絳　旋覆花　枳實　小青皮　冬白朮　小樸　柴胡　赤苓　砂仁殼</p>
<p>（案16）三瘧兩月，經期即阻而不止，脈來細數。伏邪深入厥陰，一時難愈。</p>
<p>海南子　小樸　肥知母　黃芩　軟白薇　小青皮　草果　烏鰂骨　茜草　石菖蒲</p>
<p>（復診）三瘧未止，兼以腹脹、咳嗽，脈左偏弦。難調之恙。</p>
<p>甜桂心　冬朮　炒枳實　桑皮　茯苓　厚杜仲　苡仁　冬瓜子　杏仁　砂仁殼　川牛膝　木瓜</p>
<p>（復診）　三瘧雖亂，邪究未徹，脈虛而數，盜汗，咳嗽。似屬轉出肺經。擬和營衛法。</p>
<p>嫩桂枝　生白芍　炙甘草　大杏仁　制川樸　生牡蠣　小青皮　炒苡仁　冬桑葉　全當歸　軟白薇　肥玉竹</p>
<p>（案17）髫年。寒熱日作，煩躁，神蒙，時有痙厥之勢，脈弦數，汗出不至足。邪留少陽、厥陰之間，糾纏可慮。</p>
<p>羚羊尖　鉤鉤　黑山梔　丹皮　鬱金　童木通　連翹　益元散　生甘草　石菖蒲　加竹葉</p>
<p>（案18）瘧象雌雄，脈細數無力，舌胎黃膩，平素多痰而形體卻瘦，汗泄食少。此濕熱內蘊，陰分又不足，法宜緩調自愈。</p>
<p>法半夏　赤苓　小青皮　川樸　炒山梔　生牡蠣　冬朮　福澤瀉　佩蘭　鹿含草　心會白　姜竹茹</p>
<p>（案19）陸。上嘔下瀉，瘧勢寒戰熱微，脈細，舌膩，痰多。中虛，濕矇混，症非輕淺。</p>
<p>炒茅朮　防風　法半夏　豆卷　廣藿香　陳皮　炙甘草　厚朴　生薑</p>
<p>（案20）久瘧，結癖在於左脅，脹及半腹，寒熱三日一至。怕延中滿，難治。</p>
<p>炙鱉甲　青皮　尖檳榔　蔻仁　淡芩　法半夏　赤苓　炙甘草　柴胡　炒枳實　炒冬朮　知母</p>

<h1>卷中</h1>

<h2>一、痢疾、泄瀉</h2>
<p>（案1）下利，舌胎老黃，左脈數大，嘔惡不食。暑邪傷胃，最險最危之候。</p>
<p>毛川連（薑汁炒）　熟半夏　赤苓　炒銀花　黑石蓮　石菖蒲　省頭草　滑石</p>
<p>（案2）右脈數大，泄痢白積。此暑熱內侵也。</p>
<p>銀花炭　滑石　炒茅朮　赤苓　青防風　廣藿香　小樸　楂炭</p>
<p>（案3）泄痢不止，脈細，舌白，腹脹，面目浮腫，近加寒熱如瘧。正虛邪陷，症屬難調。</p>
<p>甜桂心　赤苓　炒白朮　豬苓　炙草　淨柴胡　白芍　炒枳實　澤瀉</p>
<p>（案4）久痢，脈弦數，形瘦，食減。陰傷邪陷，糾纏可慮。</p>
<p>白頭翁　紫菀　獨活　炙草　炒白朮　炒銀花　炮姜　黨參</p>
<p>（案5）久痢，氣機下陷，或瀉或便血，脈微數無力，脾腎兩傷矣。</p>
<p>炒熟地　炮姜　粉歸身　白芍　雞內金　菟絲子　黃耆　冬朮</p>
<p>（案6）痢經兩月，近加寒熱，脈細數而兀，食減。氣液皆傷，新邪外束，延久恐防不起。</p>
<p>淨柴胡　獨活　炒枳實　炙草　白芍　銀花炭　楂炭　豆卷　紫菀</p>
<p>（案7）久痢，陰傷腹痛，此係腸膏竭絕，脈絡枯澀，不宜再用香燥。</p>
<p>制首烏　丹參　穭豆衣　紫菀　漂蓯蓉　全當歸　鬱金　白蒺藜</p>
<p>（案8）痢久，脈微，肢腫，食減。正氣大傷，邪陷太陰，難治。</p>
<p>炒茅朮　炮姜　制川附　獨活　茯苓　炙甘草　小樸　荷葉蒂</p>
<p>（案9）久痢，氣血兩虧，風陽內動，慎之。</p>
<p>制首烏　當歸　懷牛膝　桑葉　穭豆衣　西洋參　麥冬肉　炙草　丹皮</p>
<p>（案10）久痢，氣血兩傷，形瘦腹滿，脈弦數，舌邊紅，胎黃。症難調治。</p>
<p>熟地炭　冬朮炭　銀花炭　炮薑炭　枳實炭　雞內金　炒赤芍　紫菀茸</p>
<p>（案11）痢久，脾虛，清陽下陷，分利不應。轉擬東垣益氣法。</p>
<p>西黨參　黃耆　炒茅朮　升麻　柴胡　全當歸　白芍　青木香　陳皮　炙草</p>
<p>（案12）久痢傷腎，清陽下陷，肛墜，大便不爽。調之非易。</p>
<p>炒熟地　升麻　炙甘草　猴姜　漂蓯蓉　菟絲餅　杜仲　茯苓</p>
<p>（案13）久痢，便血，腹尚痛，小溲濁而不清。此濕熱傷陰，窮則及腎也。</p>
<p>銀花炭　當歸　東白芍　茯苓　炙草　獨活　阿膠　花粉　紫菀　旱蓮草</p>
<p>（案14）痢後復發熱，脈數大。陽明新感，法宜辛涼解表。</p>
<p>煨葛根　秦艽　豆卷　青蒿　飛滑石　淨連翹　赤芍</p>
<p>（案15）痢後腹脹足腫，脈微欲絕，脾腎兩敗。症難圖治。</p>
<p>制川附　茯苓　冬白朮　白芍　炒枳實　上臺參</p>
<p>另服濟生腎氣丸半斤。</p>
<p>（案16）痢後右足痿痹，行步維艱，脈細，面白形瘦。此係氣血兩虧，筋脈失養，宜從肝腎調治。</p>
<p>厚杜仲　狗脊　菟絲子　木瓜　懷牛膝　黃耆　青防風　炒苡仁　當歸</p>
<p>另服虎潛丸。</p>
<p>（案17）痢後大便溏泄，腹脹足腫，納穀則欲嘔。此脾虛不能健運也。</p>
<p>冬白朮　旋覆花　白芍　赤苓　法半夏　炒枳實　青皮　防風　竹茹</p>
<p>（案18）暑邪內陷，下痢不食，已經八日，脈沉細數無力，舌胎老黃，冷汗嘔惡。噤口危疴，宜候高明裁酌。</p>
<p>毛川連（菖蒲同打炒）　醋半夏　赤苓　淡芩　黑石蓮　赤芍　木瓜炭　甘草</p>
<p>（案19）下痢不食，脈虛，嘔惡，有噤口之勢。</p>
<p>小川連（薑汁炒）　法半夏　赤苓　黑石蓮　石菖蒲　紫菀　楂炭　佩蘭　廣藿香　鮮荷蒂</p>
<p>（案20）泄瀉脈數大，舌胎白。高年當此，慎勿忽視。</p>
<p>煨葛根　赤苓　銀花炭　防風　白扁豆　炒木瓜　白芍　炙草　荷葉</p>
<p>（案21）脈細而遲，腹痛泄瀉。此脾氣虛寒也。</p>
<p>冬朮　白芍　炙甘草　防風　茯苓　雞內金　木香　菟絲子　杜仲　加薑、棗</p>
<p>（案22）久病後，面色痿黃，脈軟弱無力。並非外邪有餘，乃氣血兩虛也，法宜調補。</p>
<p>西黨參　茯苓　冬朮　炙甘草　制首烏　穭豆皮　牛膝　粉歸身　薑棗</p>
<p>另服六味丸。</p>
<p>（案23）沈。痢經旬日，胃不思納，呃忒不止。</p>
<p>臺參鬚　麥冬肉　北五味　白芍　炙草　醋半夏　茯苓　心會白　沉香　加柿蒂</p>
<p>第二案：痢少止，呃忒略平，但脈仍細弱無神力，倦臥，舌乾。邪輕而氣液大傷矣，終防喘脫之變。</p>
<p>前方去柿蒂，加黑石蓮</p>
<p>（案24）瀉痢已緩，脈弦大，舌紅，咳嗽，身有微熱，耳聾出水。乃濕邪上郁清竅。擬和解少陽法。</p>
<p>冬桑葉　丹皮　甘菊　赤芍　炙甘草　青蒿梗　米鉤　炒銀花　苦丁茶　白薇　苦桔梗</p>
<p>（案25）噤口痢經月，外肢冷，舌紅紫，自覺內熱如燎，煩躁乾嘔，少腹脹痛，脈微欲絕。此係暑毒陷厥陰，上下格拒，氣液兩奪，攻補難施之候，症甚危篤。</p>
<p>小川連　赤苓　法半夏　白芍　炒枳實　黑建蓮　炮姜　炙甘草　烏梅　湖蓮（一兩）</p>
<p>（案26）脈軟弱無力，舌淡光滑，噯氣食減，大便濡泄。脾胃兩虛，勿得漫言肝氣也。</p>
<p>西黨參　赤苓　冬白朮　炙甘草　心會白　熟半夏　砂仁　木香　加荷蒂</p>
<p>（案27）脬宮下墜。</p>
<p>西黨參　炙甘草　冬白朮　當歸　綿黃耆　心會皮　柴胡　醋炒升麻</p>
<p>又方：菟絲子　杜仲　桑螵蛸　白芨　懷山藥　沙苑蒺藜　黃耆　制首烏　鹿角霜</p>
<p>上諸品納入豬脬中煎。</p>
<p>（案28）曹，右，二十。泄瀉，脈微。勢防厥變。</p>
<p>甜桂心　茯苓　福澤瀉　豬苓　法半夏　冬白朮　木瓜　廣藿　佩蘭</p>
<p>（案29）寒熱瀉痢，兩月不已，腹膨足腫，色萎黃，食減。伏邪內陷，脾腎皆虛，難治。</p>
<p>西黨參　炮姜　冬白朮　炙草　厚杜仲　菟絲子　歸身　白芍　苡仁　獨活　雞內金　紫菀</p>
<p>（案30）左，七旬。瘧後轉瀉，舌黃紋裂，脈左細右數大。暑邪內陷，老年陰枯，燥劑不宜，此為難治。</p>
<p>銀花炭　白芍　炙甘草　赤苓　炒枳實　青防風　柴胡</p>
<p>（案31）左，六旬。脈軟數，不食，痢下無度，暑濕熱內遏。三焦正虛邪陷，症屬極險。</p>
<p>炒茅朮　廣藿　炒銀花　楂炭　黑石蓮　石菖蒲　赤苓　法半夏　紫菀　白頭翁</p>
<p>（案32）伏邪淹纏日久，傳為痛痢，脈細如絲。正虛顯然，不可因循玩視。</p>
<p>炮薑炭（五分）　防風（一錢）　焦白朮（二錢）　白芍（二錢）　炙甘草（五分）　炒黨參（二錢）　赤苓（三錢）　木香（五分）　廣藿（一錢）　加姜（一片）　棗（三個）</p>
<p>（案33）脈沉數，血痢無度。暑邪陷於下焦。擬通因通用法。</p>
<p>酒大黃（三錢）　赤芍（一錢）　枳實炭（一錢半）　楂炭（三錢）　全當歸（一錢）　六一散（三錢）　紅曲（三錢）　豆卷（三錢）　鬱金（炒，一錢半）</p>
<p>（案34）王，左，十三。初起寒熱便泄，傳為痢疾。脈左多弦數，舌胎黃膩，腹痛無休，下皆紅積垢滯，後重裡急，伏邪下陷十日不止。幼年弱質，最怕淹纏、胃倒。刻下用藥挽之不及，清之不應，若但調氣去積，亦屬潦草塞責。勉擬潔古法，冀扭轉機關為幸。</p>
<p>酒大黃（一錢）　白芍（一錢半）　炙甘草（五分）　檳榔（八分）　酒當歸（一錢）　炒豆卷（三錢）　楂炭（三錢）　炒銀花（三錢）　紅曲（三錢）　六一散（三錢）　野鬱金（一錢半）</p>
<p>又方：酒川連（五分）　白芍（一錢半）　炒阿膠（一錢）　炙甘草（五分）　炒銀花（三錢）　酒當歸（一錢）　楂炭（三錢）</p>
<p>（案35）冬溫內陷，下痢無度，舌灰黃，脈象歇止。症屬棘手。</p>
<p>炮薑炭　紫菀　銀花炭　楂炭　炙甘草　漢獨活　青防風　苦桔梗　白茯苓　炒白芍　青木香　嫩白薇　小川樸　荷葉蒂</p>

<h2>二、冬溫</h2>
<p>（案1）冬溫傷肺，咳嗽發熱，得汗後脈猶數大，氣喘痰鳴，頭汗淋漓，時欲起坐。有正不勝邪之慮，症屬棘手，勉方候裁。</p>
<p>旋覆花　杏仁　黑梔　豆卷　軟白薇　玉竹　石膏　牛蒡　兜鈴</p>
<p>（案2）冬溫傷肺，勢在方張。</p>
<p>蜜麻黃　杏仁　炙甘草　葛根　酒當歸　炒蘇子　黑梔　旋覆花　白薇</p>
<p>（案3）冬溫寒束，舌紋裂無胎，咳痰氣粗，壯熱無汗。氣液兩虛之體，最為棘手。</p>
<p>蜜麻黃　杏仁　酒當歸　炙甘草　玉竹　旋覆花　軟白薇　炒蘇子</p>
<p>（案4）冬溫傷肺，咳嗽發熱兩候，未曾得汗，反見吐蛔、噯氣，舌光無胎，胸中攪擾，兀兀欲吐，脈左數右無神，肺邪未徹，內挾肝木乘胃。症情夾雜，難調。</p>
<p>小川連（姜水炒）　南沙參　麥冬肉　醋半夏　炒枳實　黃芩　地骨皮　紫菀　桑白皮　赤苓</p>
<p>二帖後減川連，加羚羊尖。</p>
<p>（案5）冬溫，寒熱咳嗽，脈細無神，捱過至節乃是。</p>
<p>旋覆花　杏仁　桑葉　白薇　法半夏　炒玉竹　當歸　麥冬肉　蘇子　炙草</p>
<p>（案6）冬溫，發熱無汗，咳嗽氣逆，舌胎灰黃，脈弦數。表未解，裡熱已深。擬開肺胃兩經之邪。</p>
<p>蜜麻黃　杏仁　炙甘草　石膏　黑梔　豆豉　葛根　軟白薇</p>
<p>（案7）寒鬱溫邪，發熱無汗，脈數大，舌胎黃白，咳痰色綠，目赤脘痞。肺胃經邪未徹，夾痰熱以壅逆，防其昏喘。</p>
<p>蜜麻黃　杏仁　炙甘草　石膏　瓜蔞皮　炒蛤殼　江枳實　法半夏　黃芩</p>
<p>（案8）冬溫邪火，心營肺肝皆受病。症屬棘手。</p>
<p>鮮生地　元參　煨石膏　知母　生甘草　羚羊尖　白薇　炒黃芩　茅根　蘆根</p>
<p>（案9）冬溫一候，不得汗，脈弦數，舌焦燥紋裂，唇乾齒板，目紅顴赤，脘腹痞硬而痛，音低氣促。總屬液枯邪陷，症情極為險重。</p>
<p>酒川連　瓜蔞　炒枳實　青皮　生麥芽　苦桔梗　蘆根</p>
<p>（案10）冬溫，咳嗽交加，微有寒熱，舌乾燥，脈數。高年津液就燥，法宜輕清開肺。</p>
<p>軟白薇　玉竹　旋覆花　杏仁　炒蘇子　全當歸　青防風　炙草</p>
<p>（案11）冬溫蘊肺，咳嗽痰鳴，得汗不解，舌乾燥，脈虛數。老年氣液俱虧，須防喘脫。</p>
<p>軟白薇　玉竹　天花粉　桑葉　全當歸　旋覆花　大杏仁　炒蘇子</p>
<p>（案12）冬溫，時毒發於面，寒熱咳嗽，治在肺胃。</p>
<p>炒牛蒡　甘菊　生甘草　桔梗　淡豆豉　黑梔　荊芥　夏枯草　馬勃　杏仁</p>
<p>（案13）寒鬱溫邪包裹肺絡，病經十日，得汗身熱不解。脈猶數大，咳嗽痰鳴，舌白燥，時有譫語神蒙之狀。症屬險重。</p>
<p>蜜麻黃　杏仁　煨石膏　知母　黑梔　淡豆豉　紫菀　連翹　白薇　玉竹　蘆根</p>
<p>（案14）冬溫，氣血兩燔。症屬極險。</p>
<p>鮮生地　麥冬　煨石膏　知母　炙甘草　軟白薇　元參　鮮竹葉</p>
<p>（案15）冬溫，寒鬱傷肺，發熱無汗，右脅痛，舌裂涸，咳嗽氣急，脈緊數，時形歇止。年老液枯，怕見昏喘。</p>
<p>蜜麻黃　杏仁　煨石膏　炙甘草　白薇　肥玉竹　兜鈴　炒牛蒡　葛根　蘆根</p>
<p>（案16）寒熱似瘧，脈緩弱，舌黃白膩厚。此冬溫深伏，正虛不能托出，勢防傳變。</p>
<p>嫩桂枝　黃芩　柴胡　赤苓　製半夏　白薇　肥玉竹　炙草　豆卷　加薑、棗</p>
<p>（案17）譫語神蒙，腹滿身重，難以轉側，痰鳴時增時減，舌焦唇燥。症屬極險。</p>
<p>蜜麻黃　杏仁　炙甘草　石膏　軟白薇　肥玉竹　知母</p>
<p>（案18）寒溫錯雜之邪，鬱於肺衛，寒熱咳嗽，舌黃。</p>
<p>旋覆花　杏仁　江枳殼　前胡　苦桔梗　淡豆豉　防風　炒牛蒡　黃芩　蘆根</p>
<p>（案19）趙，右。寒鬱冬溫蘊肺，鼻塞氣粗，咳嗽，脈數急，舌胎黃厚，時有錯語，壯熱無汗。病經旬日不解，勢多傳變。</p>
<p>蜜麻黃　杏仁　煨石膏　生甘草　苦桔梗　旋覆花　前胡　姜枳殼　桑皮　豆豉　蔥白</p>
<p>（案20）左，二十四。脈數，壯熱無汗，咳嗽脅痛，舌胎黃，中心剝光。溫邪蘊於肺胃，其勢方張。</p>
<p>煨葛根　豆豉　黑梔　杏仁　酒當歸　枳殼　桔梗　白薇　連翹　鮮沙參　生甘草　茅根</p>
<p>（案21）口鼻見血，舌胎黃、中光爍，身無熱，脈弦數，睪丸引痛。此冬溫內蘊，外寒暴加也。</p>
<p>軟白薇　元參　青木香　荊芥　黑梔　豆豉　米鉤　旋覆花　茜草　茅根肉</p>
<p>（案22）初六。溫邪十日，汗出不解，左脈小而無神，右脈弦數，舌胎乾燥，神識憒憒。年老液枯，火甚風生，勢將痙厥。</p>
<p>羚羊尖　丹皮　淨連翹　元參　鬱金　細生地　米鉤　烏犀尖（磨沖三分）</p>
<p>服二劑。初七加竹葉三十片、茅根肉一兩。</p>
<p>初九復。液枯火爍，症屬可虞。</p>
<p>煨石膏（五錢）　生甘草　酒芩　葛根　知母（三錢）　青蒿　細生地（五錢）　元參（三錢）　蘆根</p>
<p>（案23）哮喘感溫邪，痰聲如曳鋸，脈弦數，舌紅胎黃，身熱無汗。病經一候不解，怕有陽升喘急之變。</p>
<p>羚羊尖　鉤鉤　旋覆花　杏仁　軟白薇　元參心　大貝　天竺黃　黃芩　枇杷葉</p>
<p>（案24）久患血淋，近感冬溫而發熱，右脈弦數，兩足拘急。淋家不可發汗，陰虛邪戀，最為棘手，交春怕其滋變。</p>
<p>炙鱉甲　紫菀　淨柴胡　枳實　當歸順　軟白薇　丹皮　炒赤芍　茅根肉</p>
<p>（案25）溫邪傷肺胃二經，脈滑數大，舌無胎，壯熱咳嗽，心煩不得汗。急以開解，怕有昏喘之變。</p>
<p>蜜麻黃　杏仁　煨石膏　炙甘草　煨葛根　白薇　肥玉竹　連翹　甘菊</p>
<p>復診：去連翹、甘菊，加當歸</p>
<p>又：開解肺胃，二劑不得汗，舌胎起黃燥，脈大已衰，咳嗽痰鳴。蓋汗乃血之液，必系年老津枯，所以未能取效。自宜清燥生津，內通肺氣。</p>
<p>煨石膏　麥冬　鮮沙參　杏仁　炙草　桑葉　花粉　馬兜鈴　紫菀　炒牛蒡</p>
<p>又：去石膏，加海浮石、蟬衣。</p>
<p>（案26）神蒙氣粗，語言難出，舌短不伸，脈細數無力。全屬正虛邪陷，總為難治。</p>
<p>小川連　白薇　雞子黃（一個，衝入）　阿膠　人中白　生白芍　玉竹</p>
<p>（案27）冬溫蘊肺，血上溢，音啞咳嗆，經久不已。</p>
<p>牛蒡　杏仁　苦桔梗　白薇　紫菀茸　夏枯草　甘菊　生甘草　兜鈴　加蘆根</p>

<h2>三、傷寒</h2>
<p>（案1）傷寒漏底，身無大熱，咳嗽氣促，脈微，右伏模糊，脘腹反見痞結拒按。症非易療。</p>
<p>旋覆花　杏仁　全瓜蔞　苡仁　獨活　大豆卷　薤白　北細辛　蔥白</p>
<p>一帖後加桂枝、當歸、炙草。</p>
<p>（案2）傷寒漏底，嘔吐黃水，咳嗽，身微熱，舌白厚，脈細如絲。此夾陰夾虛兩感。</p>
<p>蜜麻黃　細辛　淡川附　杏仁　炙甘草　茯苓　薑片</p>
<p>（案3）風寒兩傷營衛，壯熱無汗，脈數大，舌胎白燥，氣喘痰鳴，咳逆鼻煽。急宜兩解表裡，防過冬至勿加昏喘為妙。</p>
<p>蜜麻黃　杏仁　煨石膏　甘草　軟白薇　旋覆花　肥玉竹</p>
<p>（案4）右脈緩大，寒熱惡寒甚，舌白，左脅刺痛。此寒傷太陽、陽明兩經也，幸勿傳變為吉。</p>
<p>嫩桂枝　小樸　炙甘草　葛根　大杏仁　旋覆花　白芍　白薇　姜　棗</p>
<p>（案5）脈數大，舌胎黃膩，嘔逆身痛，壯熱無汗。此寒傷太陽、陽明二經也。</p>
<p>蜜麻黃　葛根　杏仁　秦艽　廣藿香　炒枳實　山梔　豆豉</p>
<p>（案6）脈急數不勻，身熱無汗。此寒傷營之，慎勿忽視。</p>
<p>蜜麻黃　桂枝　炙草　杏仁　淡豆豉　黑梔　白薇　肥玉竹</p>
<p>（案7）入浴受寒，便起咳嗽，自冬及今，將交夏令，依然不定。背微惡寒，時有寒熱，脈緊數不調。此邪深入少陰，非比皮毛肺病也。擬溫散法從少陰托出其邪。</p>
<p>制川附　麻黃　北細辛　苡仁　霜桑葉　旋覆花　白薇　玉竹</p>
<p>（案8）邪陷入陰，先漏底，而後呃忒，病經兩候。舌焦涸，喉間痰阻，腹中時痛。總屬難挽，再從厥陰、陽明以泄錯雜之邪。</p>
<p>金鈴子　延胡　元參心　紫菀　青皮　白薇　白芍　旋覆花　鉤鉤　炒枳實　加青蔥（三枝）</p>
<p>前方用大補陰丸。</p>
<p>（案9）傷寒漏底，無汗，脈兀數無力，舌紅胎少，咳嗽不爽利。表邪內陷，夾伏冬溫，症屬險重。</p>
<p>苦桔梗　前胡　西羌活（五分）　柴胡（五分）　杏仁　生甘草　獨活（五分）　枳殼　川芎（五分）　炒白芍　赤苓　陳茶葉（一錢半）　生薑　淡芩</p>

<h2>四、肝風</h2>
<p>（案1）肝風上擾，頭昏巔痛，加以神思恍惚。宜開懷怡悅為要。</p>
<p>生牡蠣　甘菊　穭豆衣　丹參　朱茯神　粉歸身　遠志　制首烏　女珍　枸杞子　柏子霜</p>
<p>常服蓮心桂圓湯。</p>
<p>（案2）素有肝病，近因瘍毒久延，正氣已虧，以致肝陽上冒，脘痛氣逆，脈虛神倦，時嘔時厥。症屬險重，勉擬通滯，冀其痛緩再商。</p>
<p>旋覆花　青皮　法半夏　鬱金　代赭石　金鈴子　延胡　白薇　甘草　石決明　蔥管　竹茹</p>
<p>（案3）眩暈，汗泄，肢冷，睡中警惕，嘈雜善飢，脈左數。何非肝風之病，殊費調理。</p>
<p>石決明　龍齒　陳阿膠　白芍　雞子黃　朱茯神　棗仁　杭菊炭　炙甘草　加金器同煎。</p>
<p>（案4）肝風痙厥之後，身有寒熱，脈弦遲，舌乾燥，氣動呃忒。此木邪挾相火上衝不制。擬丹溪法。</p>
<p>原生地　元武板　川黃柏　知母　軟白薇　雞子黃　阿膠</p>
<p>（案5）肝木不能條達，鬱極乃發為顛，其中必有痰阻。</p>
<p>製半夏　朱茯神　遠志　陳膽星　石決明　米鉤　羚羊尖　橘紅　石菖蒲　天竺黃　杭菊　鬱金　竹瀝　薑汁</p>
<p>另服白金丸，後服遂志丸。</p>
<p>（案6）舌素黃，脈大，不時面熱，帶下，齒血。此係胃熱家濕熱，更兼肝陽擾動也。</p>
<p>羚羊尖　山梔　石決明　赤苓　川石斛　車前子　蘆根　淡竹葉　加野薔薇根</p>
<p>（案7）肝風痙厥，脈弦細，肢麻逆冷，呃忒至則發痙。當此春令，又歲值風木司天，其勢難平。</p>
<p>生牡蠣　枳實　生白芍　炙草　金鈴子　製半夏　茯苓　新會皮　麥冬　鮮沙參　穭豆衣　杭菊　加竹茹</p>
<p>（案8）懷抱久郁，鬱極而發，交春陡起痙厥，手握口噤，神氣昏迷，脈郁數，舌胎黃薄，不時寒熱。此肝風挾痰，擾逆心包也，症非易愈。</p>
<p>製半夏（竹瀝炒）　朱茯神　遠志　廣橘紅　天竺黃　枳實　石菖蒲　米鉤　鬱金　軟白薇　金箔　生薑汁　竹瀝</p>
<p>（案9）脈弦大，肢麻，心悸，時或頭眩上氣。年已八旬，精液就衰，肝木失所涵養，稟質又素系木旺。法宜潛陽熄風。</p>
<p>大熟地　元武板　阿膠　牛膝　全當歸　生牡蠣　龍齒　雲茯苓　杭菊　蒺藜　雞子黃（沖調）</p>
<p>（案10）肝鬱化火，脘腹痛，舌黃，脈弦數有力。法宜疏泄厥陰。</p>
<p>金鈴子　延胡　黑梔　丹皮　小青皮　赤苓　鉤鉤</p>
<p>（案11）厥痛，或嘔或泄，脈弦帶澀，面色萎黃，兼之天癸淋漓。病因總起於肝，由氣分而傷血分，久痛入絡之機已露一斑矣。</p>
<p>旋覆花　新絳　烏鰂骨　茜草　小青皮　白薇　歸鬚　鮑魚乾</p>
<p>（案12）肝風頭痛，久恙難平。</p>
<p>丸方：大熟地　歸身　白蒺藜　杭菊　穭豆衣　生牡蠣　桑椹　金香附　茯神　茺蔚子　女貞子　橘葉</p>
<p>（案13）血虛風動，心悸怔忡，耳鳴頭暈，時有噯氣，近又值崩漏之後。法宜調補。</p>
<p>生牡蠣　龍齒　清阿膠　杭菊　枸杞子　桂圓肉　製半夏　廣皮　秫米　黑建蓮　云茯神　竹茹</p>
<p>（案14）肝風入絡，右臂痠麻，左脈弦大，頭暈耳鳴，舌右半獨麻。年老血虛，防成偏中，難治。</p>
<p>白蒺藜（三錢）　杭菊（三錢）　穭豆皮（三錢）　當歸（一錢）　羚羊尖（一錢半）　炙乳香（一錢）　苡仁（三錢）　制首烏（四錢）　桑枝（一兩）　片薑黃（一錢）</p>
<p>（案15）頭痛而嘔，眼淚，口歪，時或嘈雜，究不能多納。無非肝陽擾逆之故。</p>
<p>羚羊尖（一錢半）　杭菊（二錢）　夏枯草（一錢四分）　炙草　白蒺藜（三錢）　法半夏（一錢半）　橘白（一錢半）　茯神（三錢）</p>
<p>（案16）肝風上擾包絡，神明不安其位。</p>
<p>生牡蠣　龍齒　云茯神　杭菊　清阿膠　穭豆皮　棗仁　雞子黃　加金銀器同煎。</p>
<p>（案17）肝風擾絡，帶下不固。</p>
<p>生牡蠣　黃菊　湖蓮肉　芡實　烏鰂骨　桑螵蛸　杜仲　黃柏　茯神　沙蒺藜　菟絲子　懷山藥</p>
<p>上以淡蜜水丸，如桐子大。</p>
<p>（案18）耳聾出水，頭痛而眩。此肝風上越，清竅被蒙也。</p>
<p>夏枯草　桑葉　苦丁茶　甘菊　石決明　白蒺藜　丹皮　絲瓜藤　連翹　荷葉邊</p>
<p>（案19）四肢痠麻，頭眩而痛。是系肝陽擾逆，至於脬宮下墜，實難調治。</p>
<p>沙蒺藜　杭菊　穭豆衣　丹皮　桑螵蛸　歸身　牡蠣　菟絲子　白芨　厚杜仲　炙龜板</p>
<p>（案20）汗屢出，脈弦，頭暈耳聾，心煩少寐，自覺氣時上逆。風陽擾動不息，防過春分，漸能平復。</p>
<p>石決明　牡蠣　地骨皮　茯神　桑葉　棗仁　生白芍　炙草　綿黃耆　知母　青防風</p>
<p>（案21）肉瞤怔忡，肢麻頭眩，汗泄頻頻。無非風陽擾動之故。</p>
<p>生牡蠣　龍骨　制首烏　茯苓　穭豆皮　杭菊　懷牛膝　桑葉　白芍</p>
<p>（案22）肝膽氣火有餘，脘痞噯氣，時有嘈雜，脈弦大而數。擬溫膽義，加以清泄和陽。</p>
<p>熟半夏　茯苓　廣陳皮　桑葉　石決明　粉丹皮　枳實　杭菊　白薇　荷葉邊　加竹茹</p>
<p>（案23）肝風擾逆，甚則痙厥，脈數不靜，頭眩，心悸，耳鳴，齒血。無非水不涵木，厥陽上升不制，宜清心寡慾為要。</p>
<p>生牡蠣　牛膝　穭豆皮　旱蓮草　女貞子　細生地　茯神　金石斛　黑建蓮　真金箔</p>
<p>（案24）素患便血，今交夏至，陡然痙厥，神迷，脈虛緩，肢節牽引，目上視，太息，語言無序。此血虛風動，擾亂心包，神魂失守之象。與痰火肝陽有餘之症迥別。擬救逆安神熄風法。</p>
<p>生牡蠣　龍齒　朱茯神　阿膠　杭菊　制遠志　丹參　石菖蒲　棗仁　川貝　雞子黃　白薇　加金銀器同煎。</p>
<p>（案25）肺腎陰虧，由於肝陽擾動。</p>
<p>鮮百合　元參　人中白　女珍　旱蓮草　粉丹皮　桑葉　麥冬肉　牛膝　石決明</p>
<p>（案26）素有肝風之恙，耳鳴頭眩，足脛浮腫，今則周身肢節痠疼，是又挾暑濕為病也。從周痹例治之。</p>
<p>白蒺藜　防風　大豆卷　秦艽　杭菊　川萆薢　杜仲　牛膝　苡米仁　木瓜炭</p>
<p>（案27）脈弦數，舌乾燥，形瘦不食。此係肝鬱傷中，陰虛生內熱。情懷之病，非草木所能治。</p>
<p>黑梔　丹皮　川石斛　赤苓　麥冬肉　西洋參　橘葉　石決明</p>
<p>（案28）七情鬱結傷肝，上則目失明，下則少腹脹。自宜怡悅開懷，非草木所能治。</p>
<p>白蔻殼　橘核　小青皮　茯苓　青木香　生牡蠣　荸薺　陳海蜇</p>
<p>（案29）中虛挾痰飲，心悸頭眩，胃脘亦形阻塞。擬《外臺》法。</p>
<p>古臺參　白朮　茯苓　法半夏　炒枳實　九香蟲　福澤瀉　淡乾薑</p>
<p>（案30）據述前日痧穢起因，至今並無寒熱，脈郁數，短氣不足以息，手足清，汗泄，舌灰干，少腹高突而痛，瘀濁時下，小便利，大便閉，下之不爽。此肝經氣血兩郁之象，須防痙厥致變。</p>
<p>金鈴子　延胡　廣鬱金　桃仁　山楂炭　省頭草　米鉤　軟紫菀</p>
<p>（案31）病因情志抑鬱，鬱則生火。現在脈細、汗泄、頭眩。自宜怡悅開懷，不必逐枝節而求治。</p>
<p>霜桑葉　白薇　地骨皮　黃耆　冬朮　青防風　赤芍　甘菊　牡蠣</p>
<p>（案32）風陽上越，汗多微熱，脈浮大，頭目昏暈。治以清泄少陽。</p>
<p>西羚尖　桑葉　肥玉竹　連翹　石決明　軟白薇　甘菊　青蒿梗　苦丁　炙草</p>
<p>（案33）中虛木侮，嘔止。當培土養肝。</p>
<p>西黨參　茯苓　醋半夏　白芍　心會皮　益智仁　川椒（一分）　烏梅炭（一錢）　白蜜（三匙）</p>
<p>（案34）肝有風，脾有濕。自覺頭重足輕，症可無虞，莫期速效。</p>
<p>白蒺藜　杭菊　白朮　杜仲　穭豆皮　懷牛膝　萆薢　狗脊　米仁　法半夏　枸杞子　木瓜</p>
<p>（案35）髫齡肉脫，脈虛弦，不能納穀者年餘，上下都曾見蛔。是系木邪乘土，方書所謂蟲為下膈，容或有之。症難決斷。</p>
<p>使君子　榧子肉　烏梅肉　新會白　雞內金　法半夏　茯苓塊　開口川椒</p>
<p>（案36）酒後著惱，忽起刺痛，時或咳嗽，痰帶腥濁，小便亦覺不爽，脈左多弦大。極宜戒酒靜養為是。</p>
<p>旋覆花　新絳　霜桑葉　丹皮　淡竹葉　絲瓜子　苡仁　蛤殼粉　青黛　川貝　甘草梢　竹瀝　姜</p>
<p>（案37）厥痛甚劇。中虛木侮也。</p>
<p>開口吳茱萸（十五粒）　金鈴子　枳實　法半夏　小青皮　赤苓　延胡　烏梅　大杏仁（七粒，另服）　大南棗（二枚，同打，和醋湯送下）</p>
<p>（案38）病後唇舌肢麻。此係陰液未復，肝風擾逆也。</p>
<p>白蒺藜（三錢）　杭菊（一錢半）　穭豆皮（三錢）　懷牛膝（四錢）　西羚尖（一錢半）　制首烏（四錢）　丹皮（一錢半）　全當歸（一錢半）　白薇（一錢半）　桑葉（一錢半）　川石斛（三錢）</p>
<p>（案39）肢體麻木，延及於舌，時或嘈雜欲嘔。此血虛風動、厥逆類中之萌也。</p>
<p>穭豆皮（三錢）　杭菊（二錢）　清阿膠（一錢）　麥冬（二錢）　白蒺藜（三錢）　女貞子（三錢）　石斛（三錢）　細生地（四錢）　洋參（一錢）　懷牛膝（四錢）　黑建蓮（三錢）　牡蠣（三錢）</p>
<p>（案40）年逾五十，無端而舌強言蹇，眼目昏花。此類中之萌也。</p>
<p>大熟地（八兩）　萸肉（三兩）　麥冬肉（一兩）　遠志（一兩）　石菖蒲（一兩）　五味子（一兩）　黨參（三兩）　川斛（三兩）　杭菊（二兩）　穭豆衣（三兩）　靈磁石（一兩）　辰砂（三錢）　煉蜜為丸。</p>

<h2>五、類中風</h2>
<p>（案1）痰厥類中，胸脘清陽被阻，自述窒塞不舒，湯水難下，脈大，面右多腫。擬河間劉氏法。</p>
<p>酒大黃（三錢）　山梔（三錢）　風化硝（七分）　連翹（一錢半）　酒天蟲（二錢）　苦桔梗（一錢）　黃芩（一錢）　薄荷（七分）　全蟲（三隻）　瓜蔞（四錢）　豆豉（三錢）　竹葉（廿片）　竹瀝（一杯）　薑汁（三匙）</p>
<p>（案2）鄭左，五十八。素有類風之恙，今感暑邪而發。刻下口噤不語，神昏，遺溺，脈弦數，肢振，舌白膩。內挾痰風鼓動，一時機竅閉塞，是名類中，慮其喘脫。</p>
<p>法半夏　赤苓　炒遠志　橘紅　石菖蒲　天竺黃　枳實　陳膽星　米鉤　竹瀝　薑汁</p>
<p>第二案：機竅已開，諸恙皆退，但舌胎黃白，兩目微黃，脈弦細，口吐痰涎。暑熱未清，夾身中素有之濕，瀰漫三焦，極宜小心調理。</p>
<p>法半夏　赤苓　益元散　藿香　澤瀉　炒茅朮　豬苓　綿茵陳　木瓜　佩蘭</p>
<p>（案3）陽虛體肥之質，畏寒脈遲，手足不時振動。中虛挾風為患，勢防類中。擬河間劉氏法。</p>
<p>大熟地（四錢）　麥冬（二錢）　山萸肉（二錢）　遠志（一錢）　石菖蒲（一錢半）　巴戟肉（一錢半）　川石斛（二錢）　漂蓯蓉（二錢）　黃菊（二錢）　五味子（五分）　制川附（五分）　洋參（姜水炒，二錢）</p>

<h2>六、胃脘痛</h2>
<p>（案1）濁氣上千，胃失下行為順之常，以致脘痹與背相引而痛。擬通陽流氣為先。</p>
<p>猴薑炭　建曲　金香附　杏仁　瓜蔞皮　法半夏　薤白　新會皮</p>
<p>（案2）七情鬱結之病，宜自調適。脘脹寒熱。擬逍遙越鞠法。</p>
<p>金香附　柴胡　黑山梔　建曲　赤苓塊　小青皮　枳實　法半夏　竹茹</p>
<p>（案3）肝胃不和，脘痛氣阻。</p>
<p>金香附　神麯　旋覆花　新絳　金鈴子　小青皮　延胡　九香蟲　甘菊　青蔥管</p>
<p>（案4）氣鬱脘痛。擬丹溪越鞠法加減。</p>
<p>金香附　神麯　廣藿香　茯苓　小青皮　法半夏　黑山梔　茺蔚子</p>
<p>（案5）肝陽擾亂，胃脘痛，嘔逆微利。</p>
<p>制香附　神麯　淨柴胡　枳實　東白芍　炙甘草　小青皮　法半夏　茯苓</p>
<p>上以蘇梗湯泛丸。</p>
<p>（案6）氣鬱不條達，七情病也。肢麻乾嘔，從肝胃論治。</p>
<p>法半夏　米鉤　石菖蒲　遠志　新會皮　炒枳實　赤苓　白蒺藜　廣藿　竹茹</p>
<p>（案7）脈弦數，形瘦，食減，脘脅不時攻衝作痛。此木鬱不條達，肝胃不和也。</p>
<p>西洋參　麥冬　法半夏　茯苓　金鈴子　旋覆花　新絳　川石斛　橘葉　炒延胡</p>
<p>（案8）脘痛，欲噯氣頻頻。擬仲景胃虛客氣上逆例。</p>
<p>旋覆花　代赭石　法半夏　茯苓　北沙參　新會皮　炙甘草　炒枳實</p>
<p>（案9）脘痛，脈細，納食即痛而嘔。胃寒也。</p>
<p>製半夏　茯苓　新會皮　炙草　吳茱萸　旋覆花　香附</p>
<p>（案10）脈虛弦，舌胎粉白，面色萎黃，納穀欲嘔。此胃陽式微，肝木乘侮也。</p>
<p>西黨參　茯苓　法半夏　炙草　新會皮　吳茱萸　柿蒂　公丁香　生薑</p>
<p>（案11）脈大而遲，脘痛，納穀則欲嘔，肌肉日削。此胃中虛寒氣上逆也。從肝胃兩和法。</p>
<p>法半夏　茯苓　炙甘草　川斛　旋覆花　新絳　橘白　金鈴子</p>
<p>（案12）脈空大而歇止，納穀則脘痛而下利，惡寒微熱，小便色黃。此中虛濕濁內阻也。症非易治。</p>
<p>粗桂枝　赤苓　法半夏　枳實　金香附　六神麯　蔞皮　淡豆豉　茅朮　吳茱萸　姜山梔</p>
<p>又診：痛利止，脈仍歇代，惡寒未去。此中下氣虛之故。</p>
<p>制川附　熟地　西黨參　炙甘草　粉歸身　冬朮　茯神　加薑、棗</p>
<p>（案13）脘痛多年，近加濡泄而嘔。此胃氣虛寒也。</p>
<p>甜桂心　炮姜　法半夏　炙草　雲茯苓　新會皮　丁香　雞內金　荷蒂</p>
<p>（案14）下手脈沉，便知是氣，症見痞脘噯氣，頭面時有痤疿，近日寒熱如瘧，經脈動惕。極宜寬懷為要，擬逍遙法。</p>
<p>淨柴胡　歸尾　東門芍　白蒺藜　江枳實　黑山梔　連翹</p>
<p>（案15）多年脘痛，納穀則甚，得噯氣，腹鳴乃已，脈虛弦。法當溫通，擬久痛入絡意。</p>
<p>制香附　延胡　九香蟲　青皮　旋覆花　金鈴子　新絳　高良薑　青蔥</p>
<p>（案16）吐瀉之後，納穀欲嘔，右脈弦，四肢微麻，土傷木侮也。擬肝胃兩和法。</p>
<p>醋半夏　赤苓　麥冬肉　木瓜　生白芍　川石斛　廣藿　黃菊　荷葉　絲瓜葉</p>
<p>（案17）厥心痛與背相控，《內經》之腎心痛也。</p>
<p>甜桂心（三分）　蘇梗（三錢）　法半夏（三錢）　茯苓（三錢）　川樸（一錢）　角沉香（八分）</p>
<p>（案18）範右，復診。痛止後左脈弦，嘔逆見蛔，厥陰之病無疑。上升之氣從肝而出，一時未易和平。</p>
<p>旋覆花　新絳　延胡　青皮　金鈴子　法半夏　茯苓　炒枳實　姜竹茹</p>
<p>（案19）胃脘脹滿，脈沉細而遲，噯氣食少。此係懷抱抑鬱，非草木所能治。</p>
<p>法半夏　茯苓　蘇梗　青皮　金香附　瓜蔞皮　枳實　小樸　米鉤</p>
<p>（案20）脘痛經久，近逆於胸，脈弦數有力，舌胎黃膩。此係肝氣上撐，清陽窒痹，濁陰不降也。擬仲景胸痹例治之。</p>
<p>全瓜蔞　薤白　炒枳實　延胡　金鈴子　法半夏　茯苓　橘紅　姜山梔　竹茹</p>

<h2>七、虛勞</h2>
<p>（案1）齦爛出血，脈來細數。此陰虛胃熱也。</p>
<p>細生地　犀角　粉丹皮　元參　山梔炭　甘中黃　連翹　茅根肉　蘆根　野薔薇根</p>
<p>（案2）陰虛胃熱，不必紛紛論治。</p>
<p>西洋參　麥冬　川石斛　牛膝　原生地　女貞子　茯神　旱蓮草　地骨皮　骨碎補</p>
<p>（案3）胃熱風動，近來少寐。乃陰虛目不瞑也。</p>
<p>川石斛　知母　酸棗仁　秫米　黃菊　桑葉　丹皮　青蒿子　茯神　法半夏　蘆根</p>
<p>（案4）心腎不交，衝陽上逆。宜靜養栽培為主。</p>
<p>炒熟地　龍骨　朱茯神　牡蠣　湖蓮肉　沙蒺藜　杭菊　穭豆皮　芡實　枸杞　酸棗仁</p>
<p>（案5）胃不和，食艱下，少寐，心悸，夢泄頻頻。心腎不交故也。宜清心寡慾為要。</p>
<p>法半夏　秫米　穭豆皮　茯神　酸棗仁　生牡蠣　蓮心　金櫻子　遠志　新會白</p>
<p>（案6）陰陽造偏，為寒為熱已久，近加咳嗽欲嘔，脈細數，形瘦，食減，便溏。虛損之病，難治。</p>
<p>軟白薇　玉竹　桑葉　紫菀　粉丹皮　人中白　黃精　炙草　白芍</p>
<p>（案7）虛里跳動，脈來細數無神。陰虛陽浮，宗氣泄也。</p>
<p>細生地　阿膠　元武板　棗仁　生白芍　穭豆皮　知母　朱茯神　川斛　黑建蓮</p>
<p>（案8）陰虛陽浮，喘促汗泄，脈浮數而空。當此春令，尤屬不宜。</p>
<p>大熟地　牛膝　五味子　麥冬　酒當歸　紫菀茸　茯苓　桑葉</p>
<p>另服六味丸。</p>
<p>（案9）失血咳嗽俱平，近日寒熱轉重，脈細無力。並非新感時瘧之象，乃因陽虛惡寒，陰虛發熱也。症難調治，現在食減、噦逆，且從標治。右。</p>
<p>旋覆花　紫菀　南沙參　桑葉　茯苓　青蒿　麥冬肉　新會皮　白薇　炙草　竹茹</p>
<p>（案10）張，右，二十餘。咳血時發，近來入暮體熱，肌肉漸削，脈弦數而駛。虛損之象日著，防血冒。</p>
<p>冬瓜子　苡仁　真青黛　蛤殼　紫菀茸　陳阿膠　炙草　鮮百合　湖藕　青蒿子　加西瓜翠衣</p>

<h2>八、咳嗽</h2>
<p>（案1）久嗽不止，痰色帶灰，脈弦頭昏。此係痰飲聚於胃、關於肺，擬仲景法。</p>
<p>粗桂枝　茯苓　冬白朮　炙甘草　旋覆花　真青黛　蛤殼　白蒺藜　菊花　枇杷葉（薑汁炒）</p>
<p>（案2）久嗽氣喘，近來微有寒熱，脈靜細。宜用溫通肺氣法。</p>
<p>粗桂枝　杏仁　小川樸　蘇子　炙甘草　旋覆花　半夏曲</p>
<p>（案3）久嗽，衛陽不固，勞則時有寒熱，舌胎黃薄。虛多邪少，擬和解法。</p>
<p>粗桂枝　白芍　炙甘草　杏仁　軟白薇　肥玉竹　紫菀　淡芩　薑、棗</p>
<p>（案4）久嗽不止，脈弦大，頭痛，舌胎薄膩。雖未傳及他臟，肺胃痰熱亦難清化。擬清金泄木法。</p>
<p>西羚尖　苡仁　石決明　甘菊　旋覆花　丹皮　法半夏　桑葉　蘆根　加竹茹</p>
<p>（案5）咳嗽鼻塞，乃肺氣壅遏所致。</p>
<p>旋覆花　辛夷　苦桔梗　香芷　大杏仁　江枳殼　兜鈴　絲瓜藤　甘草</p>
<p>（案6）久嗽，音啞，脈細。經雨所致，其氣通於腎，難治之疴。</p>
<p>旋覆花　杏仁　馬兜鈴　細辛　炙甘草　法半夏　香薷　廣皮　茯苓</p>
<p>（案7）微燥上薄，以致咳嗽、頭暈。但體肥多濕之人，年登花甲，下虛上盛，法宜標本兼顧。</p>
<p>冬瓜子　米仁　桑葉　蘇子　旋覆花　西羚尖　茯苓　煨天麻　半夏曲</p>
<p>（案8）面浮，咳嗽，氣促，畏寒，長夏及冬，從未得汗，脈微弱而數，近來飲食大減。此由雨氣傷腎，宜從仲景溫散法。</p>
<p>制川附　麻黃　炙甘草　杏仁　旋覆花　北細辛　米仁</p>
<p>（案9）痰嗽多年，頭汗至頸而還，氣喘，足冷。此上盛下虛，法宜納氣歸腎，以冀少安，其病根難脫矣。</p>
<p>大熟地（四錢）　萸肉（二錢）　懷山藥（二錢）　茯苓（三錢）　粉丹皮（一錢半）　麥冬肉（二錢）　澤瀉（一錢半）　紫石英（三錢）　牛膝（一錢半）　五味子（五分）　海浮石（二錢）　沉香（五分）</p>
<p>（案10）久嗽之脈，浮弦而數，舌光白，行走則氣喘。是屬中虛痰飲，聚於胃，關於肺。</p>
<p>西黨參　茯苓　冬白朮　炙草　熟半夏　麥冬肉　桑葉　心會皮</p>
<p>（案11）久嗽之脈，弦中帶數，形瘦氣促，著左眠則不適，近又右胸乳房刺痛。肺肝兩病，所謂金木相仇也。計惟通絡調治，扶持帶病延年而已。</p>
<p>旋覆花　新絳　絲瓜子　桑葉　粉丹皮　柏子霜　橘葉白　炒米仁　歸鬚</p>
<p>（案12）去冬嘔血，旋起咳嗽，兩月不止，脈歇結代，頭汗，氣喘，寒熱無定時。肺邪久蘊，失治節之令，症屬難治。</p>
<p>冬瓜子　百部　桑白皮　米仁　炒蘇子　瓜蔞皮　白薇　牛蒡子　兜鈴　蘆根</p>
<p>（案13）病後咳嗆氣促，脈虛數。年老陰虧，肺胃失降，殊難脫體。</p>
<p>北沙參　麥冬肉　炒苡仁　桑葉　炙甘草　冬瓜子　蘇子　製半夏　當歸</p>
<p>（案14）痧後咳嗽，於今三年。脈細數兼澀，今春吐血頻作，形肉日削，聲嘶氣促，著左眠則氣升倍甚。肺傷在前，肝亢在後，金木相仇，防成上損。現交大暑，時有寒熱，或系新感暑風。理宜先清外邪為是。</p>
<p>冬瓜子　苡仁　冬桑葉　滑石　鮮荷葉　炒丹皮　青蒿　西瓜翠衣</p>
<p>診復：病狀時輕時重，咳嗽寒熱，久不能止，音嘶氣促。總之肺氣無權，肝反來侮也，有痧勞之象。</p>
<p>冬瓜子　阿膠　雞子清　桑葉　生牡蠣　北沙參　地骨皮　囫圇玉竹　蘋果　枇杷葉</p>
<p>（復診）寒熱咳嗽兩減，宜和補之。</p>
<p>綿黃耆　防風　冬桑葉　玉竹　全當歸　炒蘇子　苡仁　生牡蠣　炙甘草　枇杷葉</p>
<p>（案15）老嗽多年，右脈大，喉癢。氣分燥也，殊難霍然。</p>
<p>北沙參　麥冬　桑葉　蘇子　黑芝麻　清阿膠　炙甘草　枇杷葉（蜜汁炒）　用鮮百合煎湯代水。</p>
<p>另服丸方：大熟地　茯苓　懷山藥　丹皮　清阿膠　粉歸身　蛤殼　麥冬　蘇子　軟紫菀</p>
<p>（案16）宿哮，感寒而發，寒熱咳喘。</p>
<p>旋覆花　杏仁　杜蘇子　麻黃　全當歸　法半夏　廣皮　桑葉　前胡</p>
<p>（案17）進桂枝二陳，咳嗽惡寒皆減，轉擬《金匱》痰飲門中溫通健脾蠲飲法。</p>
<p>雲茯苓　桂枝　冬白朮　杜仲　炙草　熟半夏　橘白　炒苡仁　生薑　紅棗</p>
<p>後服丸方：大熟地　萸肉　懷山藥　澤瀉　雲茯苓　制川附　丹皮　五味　麥冬肉　胡桃肉　西黨參　杜仲</p>
<p>（案18）喘哮不得臥，背惡寒。宜用溫通開降肺俞法。</p>
<p>北細辛　桂枝　旋覆花　杏仁　製半夏　雲茯苓　廣皮　炙甘草　蘇子　白芥子</p>
<p>（案19）久嗽見血，脈虛軟，形瘦，大便不實。無清寒止血理肺之義，惟栽培生氣，扶持帶病延年而已。</p>
<p>懷山藥　苡仁　西黨參　阿膠　軟白薇　全當歸　紫菀　雲茯苓</p>
<p>（案20）久嗽之脈，細而虛，形瘦食少。幸未成損，其病根難脫矣！法宜調補金水兩臟，不可再投清劑以伐生生之氣。</p>
<p>北沙參　麥冬　全當歸　熟地　炒米仁　懷山藥　茯苓　川斛</p>
<p>（案21）高年久嗽，氣促，脈來歇止。肺腎兩虛，治宜補攝。</p>
<p>炒熟地　牛膝　麥冬肉　茯苓　懷山藥　黃耆皮　青鉛　五味</p>
<p>（案22）陰虛咳喘，脈細無神。擬金水六君煎意。</p>
<p>大熟地　當歸　茯苓　炙草　心會皮　熟半夏　牛膝　炒蘇子</p>
<p>（案23）久嗽見血，足脛腫，脈大，舌光紋裂，脘痞硬痛。擬瀉心開結法，兼以清上。</p>
<p>小川連　枳實　瓜蔞皮　桃仁　冬瓜子　骨碎補　米仁　制香附</p>
<p>（案24）先咳嗽，繼失血，自後咳嗆不已，脈象弦數，左脅一痛，血即後見。此係肝鬱傷絡，木反侮金之候，極宜寬懷怡養為要。</p>
<p>旋覆花　新絳　冬瓜子　蘇子　炒苡仁　粉丹皮　桑葉　蛤殼　桃仁泥　青黛　青蔥</p>
<p>（案25）久嗽絡傷，血溢，氣喘，足冷。厥脫堪虞，勉擬景岳鎮陰煎意。</p>
<p>熟地炭　麥冬　紫石英　蘇子　制川附　炙甘草　當歸　牛膝　苡仁</p>
<p>（案26）上旬之年，下元必敗，脈歇止，上有痰喘氣促。雖曰舊恙時發，理宜標本兼顧。</p>
<p>旋覆花　杏仁　法半夏　茯苓　西黨參　五味　麥冬肉　熟地炭　炙甘草　紫石英　懷牛膝</p>
<p>（案27）老年氣喘，脈左弦右細。下虛不攝，挾肝木以橫逆，藥難許效。</p>
<p>旋覆花　麥冬　北沙參　茯苓　法半夏　五味子　炙甘草　代赭石　加枇杷葉</p>
<p>（案28）凌。左脈弦數搏指，右脈較小，舌紅胎黃，咳吐濁痰帶血。肝火亢逆，肺失清肅之令，勢非易愈。</p>
<p>絲瓜子（三錢）　米仁（一錢）　桃仁泥（二錢）　紫菀（一錢）　真川貝（三錢）　石決明（四錢）　桑皮（一錢半）　白薇（一錢半）　蘆根（一兩）　枇杷葉（五片）</p>
<p>（案29）虛邪戀肺，咳吐綠痰。是系肝經之熱傳肺，不可以喘逆為治。</p>
<p>真青黛　蛤殼　新會皮　茯苓　炙甘草　北沙參　麥冬肉　法半夏　枳實　加竹茹</p>

<h2>九、血症</h2>
<p>（案1）吐血之脈，右數大，左關弦數上溢，此係操勞太過，擾動肝陽，以致衝脈為之撼搖，極宜靜養為要。</p>
<p>犀角尖　丹皮　石決明　牛膝　旱蓮草　細生地　白薇　湖蓮肉　茅根</p>
<p>（案2）吐血後，脈動數不靜，暫以清中焦營分之熱。</p>
<p>細生地　丹皮　犀角尖　菊花　山梔炭　小川連　赤芍　白花茺蔚　藕節　茅根</p>
<p>（復診）嘔血頻，脈數帶弦不靜，行動則氣促咳嗆。陰虛陽浮，春令尤宜防慎。</p>
<p>細生地　牛膝　丹皮　桑葉　女貞子　旱蓮草　犀角　紫石英　甘菊　白花茺蔚　加蘆根</p>
<p>（案3）去血過多，身熱不退，脈芤數無力，舌涸中焦。此陰傷火迫所致，防其痙厥致變。</p>
<p>細生地　元參　旱蓮草　毛薑　女貞子　犀角尖　丹皮　懷牛膝　茅根</p>
<p>（案4）秋燥上薄，吐血脈數。</p>
<p>冬瓜子　紫菀　桑葉　玉竹　白薇　丹皮　茜草　元參心　茅根</p>
<p>（案5）經絡營衛受傷。</p>
<p>細生地　赤芍　全當歸　川芎　片薑黃　川連　枳實　瓜蔞皮　桃仁　冬瓜子　骨碎補　米仁　制香附　蘇子</p>
<p>（案6）先下血，繼嘔血，面白無華，脘腹反見痞滿。內中尚有瘀積，防成血蠱，病起於暴，暫擬仲景法。</p>
<p>醋大黃　桃仁　全瓜蔞　赤芍　炒枳實　佩蘭　䗪蟲（七個，酒浸炒）</p>
<p>（案7）癘風胃爛嘔血，不治。</p>
<p>製大黃　桃仁　鮮生地　甘草　人中白　炙乳沒　狗脊　白蒺藜　續斷</p>
<p>另服酒浸䗪蟲。</p>
<p>（案8）外傷失血，微咳。</p>
<p>醋大黃　桃仁　炙乳沒　赤芍　冬瓜子　全當歸　丹皮　炒苡仁　加酒浸䗪蟲</p>
<p>復診：重傷失血之後，脈數不靜，痰帶微紅，緩中補虛，咳嗽稍減，然究難脫體。</p>
<p>冬瓜子　米仁　桃仁泥　蘇子　全當歸　飛滑石　紫菀　降真香　茜草　紅棗　加十大功勞</p>
<p>（案9）陽明胃病，上下失血，其色黑，脈小數。擬通絡法。</p>
<p>炮薑炭　赤芍　白朮炭　炙草　荊芥炭　旋覆花　新絳　白薇　當歸</p>
<p>（案10）絡傷血溢，宜清宜和。</p>
<p>冬桑葉　牛膝　酒當歸　炙草　荊芥炭　旋覆花　新絳　白薇　白芍　女貞子　紫菀茸　茅根</p>
<p>（案11）吐血之後，目眩，脫力，脈弦浮緩大，並無氣火有餘之象。是系肝陽擾逆，藥宜靜攝，肝腎同治。</p>
<p>原生地　牛膝　元武板　旱蓮草　女貞子　石決明　丹皮　桑葉　黃菊　穭豆皮　軟白薇　加茅根肉</p>
<p>（案12）脈數兼大，鼻衄。此燥火上薄陽絡也。</p>
<p>山梔炭　白薇　冬瓜子　丹皮　生甘草　煨石膏　麥冬肉　冬桑葉　加茅針花</p>
<p>（案13）身熱少汗，咳痰帶血，腹痛，便泄不爽，小溲短赤而痛。暑邪蘊遏三焦，上衝於肺則咽痛，下注腸胃則泄瀉，肺失下降之令，則膀胱氣化不行，故小溲短赤而痛也。</p>
<p>杏仁（三錢）　連翹（二錢）　木通（一錢半）　赤苓（三錢）　酒芩（一錢半）　廣皮（一錢）　赤芍（一錢半）　龍膽草（五分）　粉丹皮（一錢半）　姜山梔（三錢）</p>
<p>（復診）身熱汗少，咳痰見血，兼之腹痛，二便不爽，兩脈郁數，舌胎中黃邊白。暑濕之邪蘊遏三焦，腑中之氣未能宣暢，總由肺失下降之令所致。法宜疏其結滯，使肺氣下行，水道通而諸氣之郁自解矣。</p>
<p>大杏仁（打，三錢）　連翹（三錢）　冬瓜子（三錢）　蔞皮（三錢）　滑石（三錢）　象貝（去心，三錢）　姜山梔（三錢）　廣皮（鹽水炒，一錢）　赤苓（三錢）　枳殼（一錢半）　薄荷（四分）　豬苓（二錢）　加蘆根（去節，一兩）</p>

<h2>十、咽喉</h2>
<p>（案1）咽中如有物阻，病名梅核氣，乃思則氣結，七情之症也。藥難許效。</p>
<p>老蘇梗　茯苓　法半夏　厚朴　新會皮　夏枯草　米鉤　大貝</p>
<p>（案2）咽痛得滋養而減，其為陰液不上承可知。再宗前意，合趙養葵補水生金之旨。</p>
<p>原生地　阿膠　雞子清　麥冬　人中白　女貞子　旱蓮　穭豆皮　湖藕　鮮百合</p>
<p>（案3）疫痧回後，喉腐增劇，咽飲妨礙，唇上亦麋。診六脈沉弱兼數，是為痧毒結喉症。經兩候元氣被傷，非小恙也。擬用清搜化毒法。</p>
<p>大青葉　玳瑁　生牛蒡　馬勃　連翹心　人中白　元參　人中黃　桔梗　鮮生地　淡竹葉　藿梗　大貝母</p>
<p>（案4）喉癬時發，脈細數，舌紅，咳嗆。此陰虛火炎所致，症屬糾纏。</p>
<p>細生地　元參　人中白　丹皮　小木通　生甘草　桔梗　加鮮淡竹葉</p>
<p>（案5）咳血屢發之後，喉痹失音，左脈弦大。是系肝陽上擾、木反侮金之候，極宜靜養為要。</p>
<p>西羚尖　元參　人中白　花粉　石決明　夏枯草　連翹　鮮百合</p>
<p>（案6）失音已久，咽痛，舌心光，脈細數。陰虛喉痹，難治。</p>
<p>馬兜鈴　杏仁　細生地　元參　夏枯草　人中白　桔梗　生甘草　木通　淡竹葉</p>
<p>（案7）肺痿失音，咽痛，脈微無神。症難調治。</p>
<p>北沙參　麥冬　夏枯草　桔梗　五味子　熟半夏　甘草　紫菀茸</p>
<p>張氏喉方，六味湯主治咽喉腫脹，不論紅白，初起服一服後再加減：</p>
<p>桔梗　生甘草　防風　荊芥穗　殭蠶　薄荷</p>

<h2>十一、肺癰</h2>
<p>（案1）咳嗽，寒熱，已經四十餘日，痰濁腥臭，腹如仰瓦，脈虛數。病在肺癰肺痿之間，非易療也。</p>
<p>北沙參　苡仁　絲瓜子　桃仁　旋覆花　法半夏　桑葉　麥冬　葦莖　合歡皮</p>
<p>（案2）肺邪不早清理，致令壅遏成癰。脈數大，形瘦，胸中多氣，寒熱，咳嗽痰血腥臭。症勢難調矣。</p>
<p>冬瓜子　苡仁　苦桔梗　兜鈴　牛蒡子　生甘草　桃仁　桑白皮　黃芩　大貝　合歡皮　滑石　蘆根</p>
<p>（案3）心下先痛，痛止後，即起咳吐痰血，已經兩月矣。刻診：尺脈數大無倫，舌光，身熱，喘不得臥。外象似屬肺癰，肝腎之火已動，症屬難調。</p>
<p>甜瓜子　苡仁　桑葉　桃仁　桑白皮　地骨皮　紫菀　苦桔梗　茜草　生甘草　合歡皮蘆根</p>
<p>（案4）久嗽，脈數大，痰血屢見。有肺癰之象，症非易愈。</p>
<p>甜瓜子　桃仁　桑白皮　米仁　大貝母　杏仁　茜草　苦桔梗　蘆根</p>

<h1>卷下</h1>

<h2>一、鼓脹</h2>
<p>（案1）腫脹及腹，脈微而遲，溺黃，舌膩。此中虛失運，濕熱內蘊，有單脹之憂。</p>
<p>綿茵陳　延胡　金鈴子　青皮　炒枳實　生牡蠣　茅朮　黑梔　神麯　制香附　雞內金　澤瀉</p>
<p>另服小溫中丸。</p>
<p>（案2）脾泄經年，納穀則痛脹，脈軟無神。氣虛失健運，防成中滿，難調。</p>
<p>冬白朮　木香　熟半夏　炮姜　雲茯苓　西黨參　炙甘草　雞內金　砂仁　陳皮</p>
<p>（案3）素患脘痛而嘔，自夏及冬，更兼濡泄，脈細數無神，形肉日脫。此係木邪侮土，脾胃受傷，防成中滿難調。</p>
<p>冬白朮　杜仲　西黨參　炮姜　炙甘草　制川附　雞內金　菟絲子　白芍　茯苓</p>
<p>另服腎氣丸。</p>
<p>（案4）脈細數，舌淡而光，形瘦腹滿，胃納甚少。中州衰敗，證屬難調，勉擬溫補中參以通絡法。</p>
<p>制川附　茯苓　冬白朮　白芍　西黨參　旋覆花　新絳</p>
<p>（案5）風濕相搏，腫脹甚於下，大便泄，小便澀，脈來遲細。暫以分消。</p>
<p>官桂木　豬苓　炒茅朮　澤瀉　赤苓　大腹皮　廣皮　桑皮　苓皮　防己　萆薢　秦艽</p>
<p>（案6）瀉後足脛腫，食減力乏，脾胃兩虛也。</p>
<p>北沙參　赤苓　冬白朮　炙甘草　廣皮　製半夏　苡仁　砂仁殼　木瓜</p>
<p>（案7）夏季赤白濁淋，繼以便泄腹痛，已經三月矣。現診：脈微數，根神已失，面黃足腫，飲食漸減。始由濕熱下注，今則脾腎陽衰，將有中滿之憂，症難調治。</p>
<p>制川附（八分）　冬朮（二錢）　菟絲子（三錢）　赤苓（三錢）　生杜仲（三錢）　益智仁（一錢）　澤瀉（一錢半）　川萆薢（二錢）　苡仁（三錢）</p>
<p>（案8）脈大，溺赤，舌白膩，眼白微黃，不時寒熱，心下痞，納食則欲嘔。此濕熱內阻，氣化失司，防成黃疸難治。</p>
<p>淡豆豉　山梔　綿茵陳　桂枝　佩蘭　炒茅朮　澤瀉　白豬苓</p>
<p>另服左金丸、赤苓。</p>
<p>（案9）脈左弦、右細，面白無華，當胸痛脹，上撐兩脅，飲食漸減。此脾氣傷殘，濁陰上僭也。年周花甲，防成中滿難調。</p>
<p>甜桂心　茯苓　冬白朮　炙甘草　雞內金　白芍　青皮</p>
<p>（案10）脈微，咳嗽、喘脹交加，將有中滿之憂。暫用輕清，以開上焦。</p>
<p>大杏仁　蘇子　冬瓜子　紫菀　旋覆花　大腹皮　苡仁　兜鈴　桃仁　白萊菔煎湯代水。</p>
<p>（案11）寒熱傷於肺，咳嗽，脈細，腫脹自上及下。症起於暴，擬開太陽法。</p>
<p>大杏仁　麻黃　萊菔子　蘇子　葶藶子　大腹皮　廣皮　茯苓皮　苡仁　水姜皮</p>
<p>（案12）病後咳嗽未除，肢體更加腫脹。此脾肺腎三臟失司之大病，症屬難調。</p>
<p>冬白朮　茯苓　炙甘草　桂木　生牡蠣　杜蘇子　澤瀉　炒苡仁　椒目</p>
<p>復診：咳嗽腫脹已除，惟左足微腫，脈虛數不調。此脾腎虛寒也。</p>
<p>制川附（一錢）　牛膝（一錢半）　菟絲子（三錢）　杜仲（三錢）　川萆薢（二錢）　冬朮（二錢）　茯苓（三錢）　木瓜炭（一錢半）　苡仁（四錢）</p>
<p>（案13）腹脹如鼓，脈微，便泄。暫擬開太陽法。</p>
<p>冬白朮（二錢）　豬苓（一錢半）　赤苓（三錢）　澤瀉（一錢半）　甜桂心（四分）　制川附　椒目（三分）　大腹皮（二錢）</p>
<p>（案14）腹脹已極，分利不應，脈來虛細。濕熱內蘊，中焦陰虛，不堪攻伐，轉擬養陰通腑法。</p>
<p>白豬苓　茯苓　清阿膠　澤瀉　金鈴子　延胡　滑石　米鉤</p>
<p>通關丸先服，濟生腎氣丸後服。</p>
<p>（案15）脈沉細，面目浮腫，延及於腹，惡寒力乏。此寒濕相搏，衛陽失運也。</p>
<p>嫩桂枝　杏仁　大腹皮　廣皮　茯苓皮　桑皮　椒目　獨活　秦艽　豆卷　懷牛膝　姜皮</p>
<p>（案16）風傷於上，脈浮大，舌絳無胎，頭面浮腫，延及於腹。症非易愈。</p>
<p>西羌活　秦艽　漢防己　防風　大腹皮　桑白皮　赤苓　砂仁殼　木香</p>
<p>（案17）肝積在左脅，脾虛不能運化，腹脹，足脛亦腫，或痛或泄。症非易治。</p>
<p>雞內金　白芍　冬白朮　枳實　茯苓　青皮　砂仁　菟絲子　杜仲　生牡蠣</p>
<p>（案18）脈沉遲，舌淡光滑，浮腫自足及腹，大便溏。脾腎陰陽兩虛矣，擬真武法。</p>
<p>制川附（一錢）　茯苓（三錢）　冬朮（一錢半）　白芍（二錢）　生杜仲（三錢）　菟絲子（三錢）　木瓜（一錢）　雞內金（三錢）　姜渣（一錢）</p>
<p>另服濟生腎氣丸。</p>
<p>（案19）瘧痢之後，足脛浮腫，脈微，食減。脾胃之陽式微也。</p>
<p>制川附（一錢）　冬朮（二錢）　菟絲子（三錢）　杜仲（三錢）　茯苓（三錢）　雞內金（三錢）　木瓜（一錢）　製半夏（一錢半）　砂仁殼（一錢）　薑、棗</p>
<p>（案20）腫脹自下及腹，小便卻利。此膚脹也。</p>
<p>杏仁（三錢）　麻黃（五分）　大腹絨（三錢）　苡仁（四錢）　茯苓皮（三錢）　桑白皮（一錢半）　陳皮（一錢半）　杜蘇子（三錢）</p>
<p>（案21）濕熱內蘊，外觸風邪，腫脹從下走腹，小便短澀而赤，脈數氣逆。法宜表裡分消。</p>
<p>桑白皮　茯苓皮　地骨皮　秦艽　大腹皮　大杏仁　防風　小川樸</p>
<p>另服小溫中丸。</p>
<p>（案22）久患中滿，今春又加嘔逆，脈遲，舌白。此肝邪乘胃也，擬仲景法。</p>
<p>製半夏　茯苓　吳茱萸　陳皮　炙甘草　旋覆花　黨參　代赭石　生薑</p>
<p>（案23）腫脹經年，自下及上，脈遲細，平昔好飲。此脾腎陽虛，濕邪氾濫也。擬開腑補臟參用。</p>
<p>嫩桂枝　白朮　白豬苓　澤瀉　赤茯苓　大腹皮　桑皮　車前子　牛膝</p>
<p>另服濟生腎氣丸。</p>
<p>（案24）面浮曰風，足腫曰水，風水相搏，一身患腫，兼以氣急難臥，小溲短澀，最恐喘甚而敗。</p>
<p>五加皮　茯苓　廣皮　姜皮　白芥子　萊菔子　蘇子　桑白皮　大杏仁　旋覆花　冬瓜子　小樸</p>
<p>（案25）年老中虛，足腫，食減。</p>
<p>制川附　木瓜　川牛膝　苡仁　川萆薢　生牡蠣　赤苓　杭菊花</p>
<p>（案26）濕熱內蘊，囊腫及腹，有單脹之勢。</p>
<p>金鈴子　延胡　小青皮　滑石　大腹皮　尖檳榔　苦參　焦神麯</p>
<p>（案27）單腹脹大，脈反浮大且數，大便不實，小便色赤。病因左脅癖散成鼓，溫補不宜早投，症屬難調。</p>
<p>旋覆花　新絳　生牡蠣　青皮　雞內金　海南子　赤苓　金鈴子</p>
<p>（案28）濕熱內蘊，單腹脹大如鼓，脈數，舌黃燥而裂。症非易治。</p>
<p>雞內金　赤苓　炒茅朮　澤瀉　大腹皮　制香附　針砂　焦神麯　小樸　生牡蠣</p>
<p>（案29）木邪乘土，大有單腹脹滿之形。</p>
<p>旋覆花　新絳　金鈴子　延胡　雞內金　生牡蠣　茯苓　小青皮　蔥管</p>
<p>（案30）濕熱壅腫，單腹大如鼓，舌胎黃，脈弦大，暫以分消。</p>
<p>炒茅朮　滑石　白豬苓　澤瀉　赤苓　小川樸　針砂　黑山梔　腹皮　制香附</p>
<p>（案31）左。濕熱內蘊，腹脹如鼓，左脈弦數,小便色赤，面黃形瘦，有土敗木賊之候。</p>
<p>金鈴子　延胡　大腹皮　針砂　炒茅朮　黃柏炭　桂心　制香附　赤苓　綿茵陳</p>
<p>（案32）右，七旬。高年胃弱肝強，左脅癖脹痛，食減，吐逆，脈弦硬，形瘦，便泄。慮其單脹。</p>
<p>金鈴子　延胡　製半夏　茯苓　小青皮　雞內金　白芍　炒枳實　加左金丸</p>
<p>第二案：嘔逆雖止，痛泄不已，脈沉伏，寒熱尚重，舌黃枯燥，渴飲頻多。津液元氣被劫，最慮風動厥逆之變。</p>
<p>小川連　吳萸　炙甘草　白芍　法半夏　炒枳實　木瓜　白扁豆　赤苓　青蒿　苦桔梗　鉤鉤</p>
<p>（案33）病後癖散成鼓，脈弦數。土敗木賊，難治。</p>
<p>生牡蠣（五錢）　冬朮（二錢）　雞內金（三錢）　青皮（一錢）　小川樸（五分）　旋覆花（一錢半）　新絳（一錢）</p>
<p>（案34）腫脹自下及腹，已成水鼓。傷於濕者，下先受之，症屬難調。</p>
<p>甜桂心　冬朮　大腹皮　豬苓　福澤瀉　桑白皮　廣皮　川萆薢　杏仁　大豆卷　五加皮　苓皮</p>
<p>（案35）左。下水著寒濕之氣，皮毛閉郁，遂致寒熱，脈細，肢腫。症屬纏綿難愈。</p>
<p>大杏仁　香薷　飛滑石　秦艽　大豆卷　法半夏　赤苓　防己　米仁</p>
<p>（案36）脾腎陽虛濕泛，將有中滿之憂。</p>
<p>制川附（一錢）　炒白朮（二錢）　淡乾薑（五分）　西黨參（三錢）　茯苓（三錢）　炙甘草（五分）</p>
<p>（案37）風濕外侵，防其腫脹。</p>
<p>大豆卷　秦艽　青防風　藿香　法半夏　真茅朮　杏仁　赤苓　腹皮　加生薑</p>
<p>（復診）腫脹稍減，舌見黃燥，瀉不止，微有寒熱。此濕未去已生熱，溫燥之劑不宜投矣。症頗險重。</p>
<p>飛滑石　赤苓　福澤瀉　豬苓　陳阿膠　粗桂枝　杏仁　小川樸</p>
<p>另服小溫中丸。</p>
<p>（案38）癖散成鼓，難調之恙。脈弦細而鬱，木邪剋土，氣血兩傷。暫以疏泄絡痹。</p>
<p>旋覆花　歸鬚　生牡蠣　青皮　雞內金　尖檳榔　延胡　金鈴子　赤芍　炒枳實　金香附　柴胡</p>
<p>（案39）脈細如絲，四肢浮腫，大便溏泄，小溲渾濁如米泔。產後起因，半載不健，變端疊出，實難調之恙，速宜斷乳為要。</p>
<p>川萆薢　赤苓　澤瀉　豬苓　冬朮　益智仁　牡蠣　軟白薇　狗脊　甘草梢　淡竹葉　木瓜</p>
<p>（案40）嘔血之後，氣失依歸，以致周身浮腫，脈微，便溏。擬理陰煎意，症屬難調。</p>
<p>西黨參　炮姜　制川附　茯苓　冬朮　炒熟地　炙草　歸身炭</p>

<h2>二、噎膈</h2>
<p>（案1）左脈浮弦，右細，納食則噎膈痛脹。年逾花甲，精液枯槁，兼之肝木乘胃，極宜內觀靜養，屏除家務為要。擬丹溪法。</p>
<p>西黨參（一錢半）　白蜜（一錢）　雞距子（二錢）　牛乳（一杯）　法半夏（一錢半）　香梨汁（一杯）　藕汁（一杯）　生薑汁　韭菜汁（用根白搗，一杯）</p>
<p>（案2）肝鬱傷陰，延及於胃。脈郁數帶弦，舌胎據述常黃。年逾五旬，防成噎膈難調。</p>
<p>竹瀝炒半夏　新會皮　牡蠣　赤苓　北沙參　旋覆花　麥冬肉　橘葉　新絳　青蔥管</p>
<p>（案3）納穀痛脹，已經半載矣。脈弦搏，舌胎黃，噫氣不除，時吐酸水。年老中虛，肝木從而肆逆，土敗木賊，將成噎膈，難治。</p>
<p>旋覆花　茯苓　代赭石　炙草　製半夏　北沙參　麥冬肉　廣皮　枳實　竹茹</p>
<p>（案4）憂愁思慮，氣結不舒，納穀則欲噎，大便燥結，口中微有涎沫。防成噎膈，難治。</p>
<p>熟半夏　茯苓　廣皮　薤白　大杏仁　北沙參　麥冬　瓜蔞皮　檀香</p>
<p>（案5）老年噎膈，痰多，脈虛弦。中氣無權，肝乘土位。暫擬喻氏意，用仲景鎮逆法。</p>
<p>西黨參　茯苓　法半夏　炙草　新會白　旋覆花　藕汁　代赭石　薑汁</p>
<p>（案6）六旬之歲，春間驟起噎膈，口吐白沫，脈弦大而數。瘦人多火，肝強胃弱，極宜內觀靜養為要。</p>
<p>熟半夏　茯苓　石決明　麥冬　新會皮　西洋參　竹茹　加地慄</p>
<p>（案7）脈細而遲，嘔逆不能納穀，食則少時吐出，大便或泄，腹中雷鳴切痛。此係脾胃虛寒，殊非易治。</p>
<p>制川附　茯苓　熟半夏　炙草　冬朮　炮薑炭　黨參　橘白</p>
<p>（案8）脘痛脈微，朝食暮吐。此係火不生土，命門無蒸變之力，症難調治。</p>
<p>西黨參　茯苓　法半夏　炙草　白蔻仁　公丁香　生薑　吳萸</p>
<p>另服金匱八味丸。</p>

<h2>三、痰</h2>
<p>（案1）痰生於頸左，兼有寒熱。症起於暴，暫用清疏。</p>
<p>夏枯草　天蟲　淨連翹　橘葉　象貝　大杏仁　防風　苦桔梗　前胡　花粉　鉤鉤</p>
<p>（案2）痰癧生於兩頸，脈細數，咳嗽兼有寒熱。肝腎陰虧，漸傳於肺。藥難取效。</p>
<p>大貝　牡蠣　夏枯草　甘菊　粉丹皮　元參心　連翹　花粉　橘葉</p>
<p>（案3）虛痰入絡，右手不能舉。藥難見效。</p>
<p>法半夏　茯苓　夏枯草　乳香　片薑黃　蒺藜　天蟲　石決明　枳殼　風化硝　炙甘草　橘紅　加薑汁、竹瀝</p>
<p>（案4）體肥多濕，濕生痰，痰生熱，熱則生風，以致痛痹。半年足痛之後，近又移於腰脊。背部高脹一塊，如拳大，按之反不痛。所謂先痛而後腫者，氣傷形也。此必流痰注於太陽，大抵怪症多屬於痰，庶或近是。然非決而逐之，必難獲效。</p>
<p>法半夏　赤苓　橘紅　枳實　川萆薢　白芥子　天蟲　防己　獨活　炒苡仁　白蒺藜　竹瀝　薑汁</p>
<p>另服指迷茯苓丸，後服控涎丹。</p>
<p>（案5）懷抱抑鬱，氣滯痰凝，以致神呆健忘。病涉心包，難許見效。擬大七氣湯以治其標，白金丸以治其本。</p>
<p>老蘇梗　小樸　法半夏　茯苓　石菖蒲　甜桂心　遠志　鉤鉤</p>
<p>另服白金丸。</p>
<p>（案6）痰風鼓動，脈象洪數，面色紫黑，咳逆氣促，經脈不時動惕。肺肝之病居多，必期脈息和平，方有好音。</p>
<p>西羚尖　茯苓　石決明　枳實　白蒺藜　陳阿膠　兜鈴　（竹瀝炒）半夏　鉤鉤　牛蒡子　飛青黛　加竹瀝、竹茹、薑汁</p>

<h2>四、痹痛</h2>
<p>（案1）風濕熱三氣雜至，發為行痹，四肢不時痠痛，脈弦大有力，舌根心獨光。理宜節飲。</p>
<p>白蒺藜　甘菊　穭豆皮　牛膝　茅木炭　黃柏炭　狗脊　歸鬚　赤芍　苡仁　川萆薢　生地（薑汁浸炒）</p>
<p>另服豨薟丸。</p>
<p>（案2）風濕熱三氣雜合而為痹，面部赤腫痹痛，舌黃，溺赤。法宜分消。</p>
<p>白蒺藜　甘菊　真茅朮　黃柏　牛蒡子　金銀藤　萆薢　連翹心　元參　黑梔　茺蔚子</p>
<p>（案3）高年氣血兩虛，風濕熱合而為痹，周身關節痠疼。一時難以見效。</p>
<p>漢獨活　防風　白蒺藜　當歸　川牛膝　川萆薢　川芎　苡仁　木瓜　狗脊　干桑枝</p>
<p>另服豨薟丸。</p>
<p>（案4）風寒濕襲入肢節，足臂痛。此痹症也。</p>
<p>白蒺藜　川芎　片薑黃　當歸　川萆薢　炒苡仁　防風　西羌活　桂枝　川牛膝　炙乳沒　桑枝</p>
<p>複方：大熟地　當歸　東白芍　川芎　綿黃耆　青防風　木瓜　炒苡仁　杜仲　川牛膝　金狗脊　蒺藜　干桑枝</p>
<p>（案5）始因寒熱，左腿紅腫且痛，繼發白疹，至今腫退熱止，筋脈猶牽掣不舒，脈細數無力。當從血虛風痹為治。</p>
<p>全當歸　牛膝　川萆薢　木瓜　炙首烏　白蒺藜　米仁　炙乳沒　杜仲　干桑枝</p>
<p>（復診）痹痛已去，近來小有寒熱，脈轉微數，舌胎淡白兼黃。濕邪未盡，又著微寒，邪少虛多之象。法以溫通和解。</p>
<p>粗桂枝　白芍　制川附　米仁　炙甘草　白蒺藜　杜仲　菟絲餅　木瓜　川萆薢　加薑、棗</p>
<p>（案6）周身不時痠痛，膚髮紫斑，嘔血乃退，如是者兩三次矣。脈澀數，天癸仍通，宗繆仲醇治血義。</p>
<p>荊芥炭　紫菀　冬桑葉　茜草　青防風　全當歸　赤芍　粉丹皮　白薇　冬瓜子　茺蔚子</p>
<p>（案7）稟質素弱，衝任不調，筋骨失所涵養，足冷且痛，腰脊痠軟。一時難復。</p>
<p>大熟地　歸身　厚杜仲　狗脊　菟絲子　制川附　米仁　炒木瓜</p>
<p>（案8）老年血衰風動，脈弦數，足膝時痛。擬丹溪法。</p>
<p>制首烏　木瓜　穭豆衣　牛膝　白蒺藜　酒當歸　米仁　金狗脊</p>
<p>（案9）脊骨下椎板痛，脈來虛弱。肝腎陰虧，腎經病也。</p>
<p>大熟地　杜仲　菟絲子　柏子霜　鹿角膠　茯苓　補骨脂</p>
<p>（案10）脈細，腰脊時痛。此命門火衰也。</p>
<p>大熟地　歸身　懷山藥　山萸肉　菟絲子　鹿角膠　杜仲　補骨脂　胡桃　川附子</p>
<p>（案11）缺盆中痛，脈弦數。肺肝兩絡之病。</p>
<p>全瓜蔞　薤白　旋覆花　新絳　金鈴子　延胡　枳實　青蔥管</p>
<p>（案12）頭面腫，四肢關節俱痛。此風濕相搏也。</p>
<p>西羌活　獨活　白蒺藜　米仁　大豆卷　防己　防風　川牛膝　蔥白</p>
<p>寒濕腳氣方：</p>
<p>真茅朮　黃柏　川牛膝　萆薢　防己　漢獨活　米仁　飛滑石　木瓜　赤苓　桑枝膠　松節（煎湯代水泛丸）</p>

<h2>五、腹痛</h2>
<p>（案1）腹中寒氣雷鳴切痛而脹，少頃即無形，脈微細。擬金匱法。</p>
<p>制川附（一錢）　茯苓（三錢）　西黨參（二錢）　川椒（三分）　法半夏（一錢半）　炙甘草（五分）　粳米（二錢）</p>
<p>（案2）腹痛，脈遲。是屬虛寒。</p>
<p>甜桂心　白芍　旋覆花　木香　炙甘草　當歸鬚　茯苓　小青皮　青蔥</p>
<p>（案3）左，五十八。腹右積滯，蘊結板痛，舌光爍，寒熱，脈弦，大便通而痛脹不減。乃夾血之症。</p>
<p>製大黃　桃仁　炒枳實　赤芍　金鈴子　酒延胡　瓜蔞　山楂炭　米鉤</p>
<p>第二案：積松痛減，飲食宜慎。</p>
<p>金鈴子　延胡　山楂炭　丹皮　冬瓜子　全瓜蔞　米鉤　炒枳實　加茅根肉</p>
<p>（案4）幼年。腹痛時發，左脈弦。肝脾積滯病也。</p>
<p>金鈴子　延胡　小青皮　木香　山楂炭　雞內金　蕪荑　焦曲　米鉤　使君子肉（五粒）</p>
<p>另陳皂莢一條燒灰存性，研細末，黃糖拌入，滾湯送下。</p>
<p>（案5）腹痛，便溏，脈細數，形瘦食減。肝脾腎三陰皆病，症屬難調。</p>
<p>冬白朮　茯苓　雞內金　炙草　菟絲子　厚杜仲　白芍　木香　訶子</p>

<h2>六、便血</h2>
<p>（案1）便血三年，脈細數，舌白，面無華色。血脫須補氣，苦乏真參，恐難見效。</p>
<p>熟地炭　冬朮炭　炮薑炭　醋歸身　炙甘草　陳阿膠　生白芍　五味子　荷葉筋</p>
<p>（案2）王，右，十八。熱移下焦，陰絡受傷，血從便溢，脈細數，舌乾，身熱不淨，胃不思谷。久病正陰大虧，勢難輕許無妨。</p>
<p>炒銀花（三錢）　生首烏（五錢）　酒歸身（一錢半）　生白芍（三錢）　甘草（五分）　鮮石斛（四錢）　炒阿膠（一錢）　酒黃芩（一錢）　茅根肉（一兩）</p>

<h2>七、消</h2>
<p>（案1）脈數帶弦，飲一溲二，肌肉日削。症象似屬上消，但舌絳無胎，耳鳴頭眩，汗泄淋漓。總由腎陰枯涸，心肝之火偏旺，一水不能勝二火，症屬難調。</p>
<p>生鱉甲　元武板　烏犀尖　元參　細生地　石決明　蟬衣　蛤殼粉　活蚌水煎。</p>
<p>復診：消症經年，脈數大，舌胎黃，左手及足麻木。總由肝腎陰虧，胃火猶亢，擬景岳法。</p>
<p>大熟地　麥冬肉　煨石膏　元參　川石斛　桑螵蛸　花粉　雞內金　牛膝　覆盆子</p>
<p>又診：三消從產後而起，常進群陰之品，全不見效。形肉已脫，足脛及腹反增浮腫。此陰損及陽，將值夏令，恐其不克支持矣，勉擬仲景法候裁。</p>
<p>熟地炭　茯苓　萸肉炭　丹皮　福澤瀉　沙蒺藜（雞子黃拌炒）　山藥　線魚膠</p>
<p>（案2）五歲。暑熱內蘊，積於肺，口渴飲水，小溲無度，身微熱，無汗。此屬肺消，幼年宜慎。</p>
<p>益元散　麥冬　寒水石　桑皮　香青蒿　覆盆子　花粉　桑螵蛸　加西瓜翠衣</p>
<p>（案3）三歲。髫齡質弱，形瘦，渴飲無度，飲一溲二。乃腎消大病，難治。</p>
<p>桑螵蛸（炙，三錢）　元武板（三錢）　金石斛（三錢）　雞內金（炙，三錢）　麥冬肉（三錢）　覆盆子（炒，二錢）　大熟地（三錢）　煨石膏（二錢）</p>
<p>復診：前法頗重，得小效，不必他求。</p>
<p>元武板　桑螵蛸　麥冬肉　覆盆子　雞內金　羚羊尖　滄龍骨　雲茯苓</p>

<h2>八、濁淋</h2>
<p>（案1）濕熱下注，小便後白濁點滴，脈沉，舌黃。法以分清。</p>
<p>川萆薢　黃柏　白知母　赤苓　石菖蒲　真茅朮　遠志　福澤瀉</p>
<p>另服威喜丸。</p>
<p>（案2）久患小便淋滴，近帶白濁綿綿，脈虛，舌白，惡寒。高年氣化失職，暑濕下墜，擬開太陽法。</p>
<p>冬白朮　桂枝　福澤瀉　豬苓　赤苓　飛滑石　萆薢　車前子</p>
<p>（復診）老年小便淋瀝，開太陽不應，從腎關調治。</p>
<p>炒熟地　茯苓　懷山藥　萸肉炭　澤瀉　鹿角霜　丹皮　沙蒺藜　菟絲子</p>
<p>（案3）血淋痛澀，法以疏泄厥陰。</p>
<p>金鈴子　延胡　細生地　木通　淡竹葉　杜牛膝　丹皮　兩頭尖　麝香　韭根白　茅根肉</p>
<p>（案4）由白濁傳為血淋，脈細數兼弦，舌黃有刺，現痛澀成塊。濕熱敗濁蘊塞精竅，尚宜通劑。</p>
<p>金鈴子　延胡　山梔炭　萆薢　兩頭尖　韭根白　麝香　杜牛膝　丹皮</p>
<p>（案5）血淋經年，小便痛澀症，圖治。勉擬加味逍遙法。</p>
<p>淨柴胡　歸鬚　粉丹皮　赤苓　黑山梔　生甘草　赤芍　細生地　卷柏　川牛膝</p>
<p>老年血淋，已經半載。小便澀數，幾成癃閉，脈細無神。肝腎兩傷，症難調治，從急則治其標義。</p>
<p>金鈴子　延胡　韭根白　桂心　兩頭尖　杜牛膝　熟地　歸尾　麝香　福澤瀉</p>
<p>（案6）老年血淋，脈大。量難圖治。</p>
<p>細生地　牛膝　旱蓮草　丹皮　女貞子　元武板　木通　甘草梢　茅根</p>
<p>（案7）胞移熱於膀胱，癃閉，溺血。症難調治。</p>
<p>金鈴子　延胡　軟白薇　紫菀　淡竹葉　兩頭尖　木通　甘草梢　丹皮　韭根白　茅根肉　杜牛膝（打爛，滾水浸，取汁衝入）</p>
<p>（案8）小便不通兩日，少腹已見脹滿，左尺脈弦大搏指。此係肝經濕熱下注。</p>
<p>金鈴子　延胡　川萆薢　牛膝　木通　小青皮　橘核　兩頭尖　烏藥　韭根白</p>
<p>另服滋腎丸。</p>
<p>（案9）髫年。小便頻數點滴，莖中痛，久服通劑不效。擬開膀胱氣化。</p>
<p>甜桂心　茯苓　白朮　豬苓　福澤瀉　甘草梢　萆薢　益智仁　烏藥　石菖蒲　加鮮淡竹葉</p>
<p>白濁方：</p>
<p>川萆薢　菟絲子　覆盆子　益智仁　炒遠志　白茯苓　炒山藥　生牡蠣　雞內金</p>
<p>（案10）溺血成淋，痛澀不爽，脈細，寒熱。乃難調之恙。</p>
<p>細生地　柴胡　淡竹葉　木通　川萆薢　車前子　延胡　金鈴子　甘草　杜牛膝</p>
<p>（案11）小便渾濁如米泔，脈沉細，年老，防成勞淋。</p>
<p>益智仁（八分）　貝母（三錢）　赤苓（三錢）　豬苓（一錢半）　法半夏（一錢半）　潼蒺藜（三錢）　牡蠣（三錢）　菟絲子（三錢）　杜仲（三錢）　破故紙（一錢半）</p>
<p>復診：下消之病，年老，難於圖治。</p>
<p>桑螵蛸　炙龜板　覆盆子　懷山藥　雲茯苓　滄龍骨　金櫻子　蓮蕊須　藥芡實</p>
<p>（案12）高年癃閉，小便淋滴不爽，少腹膨滿，左關尺脈空弦。此腎虛挾熱，無陰則陽無以化，症屬難調。</p>
<p>大熟地　茯苓　懷山藥　澤瀉　粉丹皮　萸肉炭　牛膝　兩頭尖　韭根　車前子</p>

<h2>九、瘕積疝痛</h2>
<p>（案1）少腹瘕聚不消，正虛難任攻伐。擬疏泄厥陰方。</p>
<p>金鈴子　青皮　冬瓜子　米仁　兩頭尖　酒延胡　牛膝　韭根白　桃仁</p>
<p>（案2）瘕聚偏墜少腹之右，或隱或現，脈細無力。此下焦虛寒，濁氣不舒也，法宜溫通。</p>
<p>甜桂心　木香　韭菜子　烏藥　赤苓　金鈴子　延胡　尖檳榔　木瓜　吳萸</p>
<p>（案3）積聚在於少腹之左，近日攻衝作痛，飽食則安，飢則痛。年衰正虛，濁氣欲上逆，宜溫通泄濁法。</p>
<p>甜桂心　赤苓　白朮　炙草　延胡　金鈴子　當歸（小茴拌抄）　生牡蠣　青蔥</p>
<p>（案4）疝氣上升，脘痛亦脹。中氣無權，濁陰潛逆也，防有腳氣攻心之累。</p>
<p>金鈴子　赤苓　青木香　橘核　甜桂心　小青皮　檳榔　荔枝核（麵裹煨）</p>
<p>（案5）癲症，淋經久難於除根。</p>
<p>小青皮　橘核　金鈴子　延胡　金香附　尖檳榔　當歸（小茴炒）　吳萸　蔥白</p>
<p>（案6）左脅下有塊，沖逆痛楚，匝月不止，得食更甚。此屬五積中之肥氣也。舌白膩，脈緩弱。法宜溫通陽氣以降濁邪。</p>
<p>高良薑　小樸　金香附　茯苓　法半夏　金鈴子　青皮　九香蟲　蔥管</p>

<h2>十、經水不調</h2>
<p>（案1）咳嗽，經停，脈細澀，形瘦。乾血勞，症難治。</p>
<p>冬瓜子　苡仁　海螵蛸　茜草　炒蘇子　懷牛膝　當歸　炙甘草　紫菀</p>
<p>（案2）停經三月，猝然行動如崩，兼之帶下綿綿，頭眩微痛。</p>
<p>旋覆花　新絳　海螵蛸　茜根　杭菊　東白芍　白薇　荊芥　蔥管</p>
<p>（案3）年已十七，天癸未至，脈象數大有餘，不時面赤烘熱，近來吐血數口，恐有倒經之累。</p>
<p>烏賊骨　茜草　製大黃（韭汁拌炒）　桃仁泥　軟白薇　卷柏　牛膝　澤蘭　白花茺蔚</p>
<p>（案4）天癸當止之年，反覺亂而多下，兼之肢麻，門帶，左耳刺痛，脈兩弦。無非血虛風動之故。</p>
<p>軟白薇　桑葉　粉丹皮　杭菊　海螵蛸　穭豆衣　阿膠　旋覆花　新絳</p>
<p>（案5）素有痰癧之恙，更兼倒經，寒熱遍體，時現紫斑。病屬難調。</p>
<p>烏鰂骨　茜草　軟白薇　丹參　茺蔚子　粉丹皮　桃仁　山楂炭　澤蘭　川牛膝　降真香　荊芥</p>
<p>（案6）經水淋漓，腹痛。衝任不調故也。法宜和補宣通。</p>
<p>旋覆花　新絳　軟白薇　楂炭　鬱金　茺蔚子　丹參　金香附　荊芥　當歸</p>
<p>（案7）血枯經止，喜其脈來和緩，又無寒熱咳嗽等症，可保無虞。</p>
<p>海螵蛸　茜草　茺蔚子　當歸　大熟地　甜桂心　澤蘭　制香附　用益母膏搗丸</p>
<p>（案8）脈細數，經期錯亂，不時寒熱，腹痛。氣血兩虛、衝任不調故也。</p>
<p>烏鰂骨　茜草　旋覆花　新絳　大熟地　杭菊花　當歸　穭豆衣</p>
<p>（案9）經停一載，脈來弦大，肌肉就削，微兼咳嗽。有風消之象，宜氣血兩通法。</p>
<p>烏鰂骨　茜草　全當歸　蘇子　懷牛膝　金香附　澤蘭　桃仁泥　楂炭</p>
<p>（案10）脈細數，形瘦，經停半載，腹痛不休。此血枯經閉也。</p>
<p>海螵蛸　茜草　旋覆花　新絳　大熟地　甜桂心　當歸　軟白薇　牛膝　青蔥管</p>
<p>（案11）先腫脹而後經水斷，脈弦，舌無胎。豈是濕邪泛溢之病？姑擬氣血兩通法。</p>
<p>懷牛膝　當歸　嫩桂枝　赤苓　炒赤芍　白豬苓　澤瀉　烏鰂骨　茜草　金香附</p>
<p>（案12）經閉兩年，漸加咳嗽，時有寒熱，脈細數，形瘦。二陽之病延及心脾，前用《內經》血枯經閉法未得應手，症難圖治。</p>
<p>大熟地　牛膝　全當歸　紫菀　軟白薇　茺蔚子　丹參　柏子仁　卷柏　清阿膠　枸杞子</p>
<p>（案13）經行先期而至，色黑，腹痛脹。</p>
<p>海螵蛸　茜草　茺蔚子　全當歸　楂炭　炒延胡　川芎　大腹皮　澤蘭　金香附</p>
<p>上以鮑魚湯泛丸。</p>
<p>（案14）經停兩月，食谷欲嘔。此惡阻也。</p>
<p>法半夏　茯苓　心會白　炙甘草　老蘇梗　北沙參　麥冬　白蒺藜　竹茹</p>
<p>（案15）營陰不足，經斷逾載，絡失所養，左肩胯結核累累，而為流痰虛損之象。宜平肝養血，佐以化痰。</p>
<p>制首烏　白芍　刺蒺藜　歸身　雲茯苓　粉丹皮　柴胡　心會皮　大生地（砂仁拌炒）　生牡蠣</p>

<h2>十一、崩漏</h2>
<p>（案1）崩漏時發，面黃浮腫，兼之脘痞脹滿，脈虛，舌白。血去過多，氣亦窒痹而不行，難治。</p>
<p>旋覆花　新絳　金香附　炮姜　九香蟲　菊花炭　白薇　海螵蛸　茜草　青蔥管</p>
<p>（案2）崩漏月餘不止，近加寒熱如瘧，脈弦數，舌胎滑膩。伏邪發動，症非易治。</p>
<p>荊芥炭　白薇　大豆卷　防風　青蒿　旋覆花　新絳　炒黃芩　青蔥</p>
<p>（案3）崩後，脈數大。血虛風動之象。</p>
<p>女貞子　丹皮　旱蓮草　牡蠣　軟白薇　細生地　當歸　穭豆衣　首烏</p>
<p>（案4）久崩，餘瀝不清。宜丸藥緩圖。</p>
<p>大熟地（八兩）　歸身　東白芍（三兩）　黃耆（酒炒，三兩）　冬白朮　清阿膠　炮姜　炙甘草　蘄艾　厚杜仲　川續斷　加醋炒椿根皮　用蜜為丸。</p>
<p>（案5）天癸當止之年，崩漏淋漓不斷，脈數無神，寒熱，咳嗽。損傷已甚，調治殊難。</p>
<p>軟白薇　紫菀　粉丹皮　桑葉　苡仁　烏鰂骨　茜草　粗桂枝　白芍　炙草</p>
<p>復診：去桂枝，加玉竹</p>
<p>（附記）陰毛生八角蝨，用白眼果嚼融擦之，神效。或用桃仁嚼爛擦之亦可。</p>

<h2>十二、帶</h2>
<p>（案1）四十。體肥，帶下，頭面四肢浮腫。多年之恙，自宜緩調。從脾虛濕濁下注治。</p>
<p>冬白朮（三兩）　米仁（三兩）　川黃柏（一兩）　牡蠣（三兩）　厚杜仲（三兩）　川萆薢（一兩）　炮姜（五錢）　金狗脊（三兩）　木瓜（一兩）　雲茯苓（一兩）　椿根皮（一兩）</p>
<p>另服威喜丸。</p>
<p>（案2）年老，血虛，形瘦，帶下。宜從奇經調治。</p>
<p>大熟地（八兩）　杜仲（鹽水炒，三兩）　煅牡蠣（三兩）　歸身（酒炒，三兩）　菟絲子（三兩）　雲茯苓　狗脊（三兩）　枸杞（三兩）　湖蓮肉（三兩）　線魚膠（蛤粉炒）　桂圓肉（煎汁衝入，四兩）　量加白蜜為丸。沙苑子（雞子黃拌蒸，四兩）　茯苓（三兩）</p>
<p>（案3）帶下赤白，脈弦數，腹皮熱。高年形瘦，肝與任脈為病，殊難調治。</p>
<p>烏鰂骨　茜草　金鈴子　延胡　車前子　赤苓　丹皮</p>
<p>（案4）高年，氣液兩虛，帶下綿綿不止，脈微，形瘦。調補殊難，幸勿期速效。</p>
<p>古臺參　狗脊　雲茯苓　續斷　沙蒺藜　金櫻子　蓮心　蓮蕊須　芡實　金石斛　穭豆衣　首烏</p>
<p>（案5）脈細數兼弦，形瘦，帶崩，病經半載不痊，近來大便艱澀。總之精液內耗，風陽閃鑠，病在奇經不和之故。古人云：久崩久帶宜通宜清。擬方候正。</p>
<p>漂蓯蓉（二錢）　白薇（一錢半）　黑芝麻（三錢）　玉竹（三錢）　柏子霜（三錢）　生首烏　當歸（四錢）　穭豆衣（三錢）　杭菊（二錢）　福白蜜（調入，一錢）</p>
<p>（案6）張。帶下，腰痛。奇經八脈不固。</p>
<p>桑螵蛸　杜仲　菟絲子　茯苓　炙鱉甲　軟白薇　牡蠣　金狗脊　加胡桃肉（二枚）</p>

<h2>十三、懷娠</h2>
<p>（案1）懷娠五月，陡然腹脹，大便溏薄，脈弦細。症非易治，擬紫蘇飲意。</p>
<p>大腹皮　桑皮　生杜仲　蘇梗　冬白朮　青木香　砂仁　全當歸</p>
<p>（案2）懷娠八月，寒熱如瘧，近日但熱無寒，前曾得汗下瀉幾回，脈數大，舌燥胎黃，兼之咳嗆、口渴。當此秋燥之令，理宜和解清邪，以寓保胎之意為穩。</p>
<p>鮮沙參　知母　香青蒿　黃芩　白薇　煨葛根　炙甘草　天花粉　白芍　肥玉竹　冬桑葉　竹葉　枇杷葉</p>
<p>（案3）懷娠臨月，咳嗽音嗄，脈右多弦大。難治之恙。</p>
<p>牛蒡子　兜鈴　炙甘草　桔梗　大杏仁　肥知母　黃芩　元參心　糯米</p>
<p>（案4）二十歲。重身，伏邪雖轉瘧，脈至如潮湧，胎氣必不能安，兼之咳嗽、口渴。上逼之機已顯然矣。慎之。</p>
<p>青木香　黃芩　煨石膏　知母　炙甘草　冬桑葉　杏仁　旋覆花　白薇　地骨皮　香青蒿　竹茹　蘆根</p>
<p>（案5）經停四月，有懷妊之象，現在寒熱如瘧，舌胎黃膩，脈左多弦數，兀兀欲嘔，脘痛，腹膨，按軟，時時氣逆上撐。是系伏邪夾氣鬱為患，症屬糾纏。</p>
<p>老蘇梗　杏仁　大腹皮　赤苓　旋覆花　法半夏　小樸　淡黃芩　米鉤　桑皮　加竹茹</p>

<h2>十四、產後</h2>
<p>（案1）產後瘀不行，身熱泄瀉，已經一候。脈數，舌紅爍，四肢腫痛色赤。此係敗血留經，兼挾伏邪風火，扭結為害，甚屬棘手。勉方。</p>
<p>荊芥炭　防風　漢獨活　白薇　大豆卷　炒赤芍　澤蘭　山楂炭　川芎　炒銀花　炙乳沒　歸鬚　炒苡仁　加荷葉筋</p>
<p>復診：產後瘀留，身熱氣促，舌光，手足紅腫，不得屈伸。將有鬱冒痙厥之險，速候高明再議。</p>
<p>五靈脂　蒲黃　白蒺藜　桃仁　炒赤芍　炒銀花　丹皮　犀角尖　澤蘭　廣鬱金</p>
<p>（案2）產後即起寒熱，脈搏數，咳嗽，膚腫，惡露早停。病機甚為不善。</p>
<p>嫩桂枝　小樸　大杏仁　蘇梗　山楂炭　澤蘭　炒荊芥　桃仁泥　白薇　炒苡仁</p>
<p>（案3）產後未曾滿月，寒熱纏綿不已，素有喘嗽之恙，近又增劇。症屬棘手。</p>
<p>桂枝　赤芍　炙甘草　白薇　炒苡仁　旋覆花　桑葉　全當歸　生薑</p>
<p>（案4）產後血氣未復，肝脾不和。將值夏令，極宜靜養。</p>
<p>雞內金　牡蠣　軟白薇　杜仲　金狗脊　冬白朮　苡仁　木瓜炭　杭菊　穭豆衣</p>
<p>（案5）產後十朝，惡露雖行，寒熱起，氣促。須防鬱冒神蒙之變。</p>
<p>香青蒿　白薇　大豆卷　苡仁　炒荊芥　冬瓜子　紫菀　白蒺藜　西瓜翠衣</p>
<p>（案6）產後起嘔，嘔止乃喘。是沖肺之危候。</p>
<p>旋覆花　杏仁　杜蘇子　蘇木　懷牛膝　全當歸　沉香　紫石英</p>
<p>（案7）產後敗血衝心，癲狂痙厥。症屬甚險，勉方以冀萬一。</p>
<p>荊芥炭　丹參　五靈脂　蒲黃　老鬱金　茺蔚子　琥珀　細藥珠　赤金　辰砂拌燈心</p>
<p>（案8）產後十朝，嘔噦呃忒，脈虛，汗泄，神呆，囈語。此沖胃衝心之險症，立夏將交，防其厥脫。</p>
<p>臺參鬚　左牡蠣　朱茯神　龍骨　熟地炭　甜桂心　炙甘草　紫石英　淮麥　紅棗子</p>
<p>復診：昨進救逆鎮陰法，神氣站定，嘔噦與頭痛少緩。再以前方增減。</p>
<p>臺參鬚　牡蠣　龍骨　白芍　熟地炭　制川附　沉香　柏子仁　茯神</p>
<p>復診：西黨參　熟地　清阿膠　牡蠣　晉龍骨　柏子仁　棗仁　朱茯神</p>
<p>又：神魂不安，虛陽飛越，鎮攝凝鍊，一定之法。</p>
<p>生牡蠣　龍齒　大熟地　丹參　懷牛膝　柏子仁　淮麥　炙甘草　紅棗　五味子　辰砂　拌茯神</p>
<p>（案9）產後腹中絞痛，大便泄，小便少，惡露尚有流行。症屬棘手，勉擬金匱法。</p>
<p>當歸（小茴香炒，一錢）　煨生薑（一錢）　鮮羊肉（一兩）　桂心（五分）　雲茯苓（三錢）</p>
<p>復診：交肉桂　茯苓　山楂炭　炙甘草　煨生薑　茺蔚子　白芍　全當歸（小茴香拌炒）</p>
<p>（案10）產後氣血兩虛，頭痛鬱冒，惡露未清。補劑且緩。</p>
<p>茺蔚子　白薇　全當歸　牡蠣　炒苡仁　荊芥炭　澤蘭　嫩桂枝　丹參　東白芍　炙甘草　黃耆（酒炒）</p>
<p>（案11）產後，形寒，咳嗽，脈微，少腹痛，小便頻數。病在奇經八脈，有蓐勞之候。</p>
<p>鹿角霜　桂枝　金狗脊　苡仁　菟絲子　厚杜仲　白薇　旋覆花　新絳　全當歸（小茴香炒）</p>
<p>（案12）產後滿月，先瀉傳痢，所下皆白積，臍之左瘕聚，攻衝作痛，痛止即無形，脈軟弱，舌尖光，色白，汗泄。氣血兩虧，虛多邪少，慮其纏綿致困。</p>
<p>炒白芍　焦甘草　冬白朮　炮薑炭　小青皮　青木香　雲茯苓　山楂炭　荷蒂</p>
<p>（案13）產後寒熱如瘧，舌白，脈數促。未得汗，伏邪未徹也。營虛之體，百脈空乏，調之非易。</p>
<p>嫩桂枝　當歸　白芍　炙草　小樸　尖檳榔　白薇</p>
<p>（案14）產後小便不禁，任脈失司，難調之恙。</p>
<p>菟絲子（三錢）　杜仲（三錢）　韭菜子　白芨（一錢半）　沙蒺藜（三錢）　粉丹皮（一錢）　茯苓（三錢）　益智仁（五分）　加黃絲絹（一塊）</p>
<p>另服威喜丸。</p>
<p>（案15）產後將及一年，寒熱纏綿不已，形瘦，腹痛。此屬陽維為病，近加咳嗽，更不宜也。擬仲景當歸建中湯意。</p>
<p>嫩桂枝　當歸　白芍　炙甘草　軟白薇　肥玉竹　阿膠　軟紫菀　加薑棗、飴糖</p>
<p>復診：產後寒熱，將及一年，脈細數，腹痛則大便下，下後痛即止，前進當歸建中湯，寒熱輕，咳嗆減，而腹痛依然。此虛中有滯也，轉擬桂枝湯加減，以和營衛，旋覆花以通絡，倘再糾纏不了，必成蓐損。</p>
<p>嫩桂枝　白芍　炙甘草　新絳　旋覆花　霜桑葉　白薇　當歸鬚　紫菀　粉丹皮　茺蔚子　青蔥</p>
<p>（案16）產後寒熱咳嗽，嘔血頻仍，形瘦氣促。有蓐勞之象。</p>
<p>軟白薇　當歸　陳阿膠　紫菀　霜桑葉　紫石英　麥冬　熟地炭　牛膝　加紅棗、十大功勞</p>
<p>（案17）胎前足腫，產後兩日，四肢悉腫，咳嗽氣升，惡露流通，小便亦利，並無關於氣血蘊滯也。宜溫通開肺法。</p>
<p>旋覆花　杏仁　甜桂心　米仁　赤苓　懷牛膝　椒目　茺蔚子　澤蘭　青木香　加桑枝</p>
<p>（案18）胎前浮腫，產後月餘不退，腹與兩脛尤甚，脈沉細。脾腎兩虛，調之非易。</p>
<p>冬白朮　甜桂心　茯苓　炙草　厚杜仲　川牛膝　木瓜　萆薢</p>
<p>另服濟生腎氣丸。</p>
<p>（案19）胎前咳嗽，產後不已，脈細數而澀，時有寒熱，聲音漸啞，有蓐勞之象。</p>
<p>嫩桂枝　當歸　紫菀茸　蘇子　冬桑葉　苡米仁　炙草　軟白薇　玉竹　陳阿膠　馬兜鈴</p>
<p>（案20）胎前浮腫，產後足脛不消，胃脘時痛。脾胃氣虛，肝邪橫肆也。</p>
<p>冬白朮　赤苓　佩蘭　米仁　川牛膝　木瓜炭　楂炭　萆薢　茺蔚子　炒枳實　廣鬱金</p>
<p>（案21）時邪熱迫，半產，脈數大，舌黃，便泄。極為棘手，難防鬱冒痙厥之險。</p>
<p>飛滑石　白薇　銀花炭　赤苓　大豆卷　佩蘭　楂炭　炒荊芥　益母草煎湯代水。</p>
<p>（案22）小產後，少腹痛脹，脈沉，舌白。瘀惡未淨故也。</p>
<p>炒桃仁　歸鬚　茺蔚子　澤蘭　楂炭　鬱金　丹參　炒延胡　炮姜</p>
<p>（案23）半產後起咳嗽，已經三月矣。近加寒熱如瘧，脈浮數，腠理空疏，外邪易襲，汗泄惡風。擬仲景營衛不和例治之，症難脫體矣。</p>
<p>嫩桂枝　白芍　炙甘草　白薇　霜桑葉　肥玉竹　米仁　旋覆花　加薑、棗</p>
<p>又：咳嗽起於半產後，寒熱如瘧，前進和營衛法，寒熱已，嗽仍不止，汗泄，惡寒。衛外之陽不固，再擬仲景法加減。</p>
<p>嫩桂枝　白芍　制川附　牡蠣　炙草　大有耆　白薇　浮小麥　玉竹　紅棗</p>
<p>（案24）呂。小產後尿脬下墜，經水淋漓，腰脊骨痛。衝任二脈不固，難調之恙。</p>
<p>粉丹皮　新絳　川續斷　白薇　元武板　鹿角霜　當歸　雲茯苓</p>
<p>復診丸方：大熟地　鹿角霜　補骨脂　菟絲子　厚杜仲　雲茯苓　元武板　枸杞子　鹿角膠　柏子霜　白芨</p>
<p>（案25）錢。胎前咳嗽，腫脹，半產之後，惡露不行，更加寒熱，神蒙，脈芤數，鼻煤氣粗，有敗血衝心之候，症屬至險。</p>
<p>澤蘭（二錢）　桂心（五分）　桃仁泥（三錢）　五靈脂（三錢）　丹參（一錢半）　生蒲黃（一錢半）　鬱金（一錢半）　大腹皮（三錢）　炙桑皮（一錢半）　茯苓（三錢）　軟白薇（一錢半）　楂炭（三錢）</p>
<p>（案26）三十歲。產後暑濕之邪溜於絡，以致肢節腫痛，脈弦數，寒熱。幸而惡露流通，症屬糾纏可慮。</p>
<p>炒豆卷　澤蘭　荊芥炭　楂炭　片薑黃　刺蒺藜　米仁　炒赤芍　防風　炙乳沒　青木香　赤苓　加桑枝</p>
<p>（案27）伏邪寒熱傷胎，產後身痛不能移動，兩足日腫，手麻不舉，舌胎黃膩，寒熱依然，近加咳嗽。此屬濕邪流入關節，但百脈空疏，消補兩難，慮蔓延遍體腫脹則不治矣。</p>
<p>白杏仁　米仁　炙桑皮　秦艽　川萆薢　片薑黃　赤苓　青木香　木瓜　粗桂枝　生牡蠣　澤瀉　加桑枝</p>
<p>（案28）經年寒熱，產後匝月不已，形瘦，食減，腹痛，脈虛數。若加咳嗽，便成蓐勞。</p>
<p>粗桂枝　白芍　炙甘草　白薇　茺蔚子　肥玉竹　當歸　穭豆衣　加薑、棗、飴糖</p>

<h1>附方</h1>

<h2>一、眼癬方</h2>
<p>癢甚，如有蟲上下，眼皮紅。用野薔薇花根打汁搽擦即愈。並治頭面上及唇、口有瘡，癢甚，出黃水，亦可調捺，立愈。又方，用蜈蚣一條，浸麻油內七日，取起在火上燒，滴下之油盛器內放地，出去火氣，調搽亦愈。</p>

<h2>二、洋菸斷癮方</h2>
<p>四物飲：生甘草（一斤）　川貝母（一兩，去心研細）　老生薑（四兩）　赤砂糖（一斤）</p>
<p>先將上三味煎熬二三次，去渣，後以砂糖同藥收膏，再以好洋菸五錢，調人收貯。如一錢癮者，食藥五錢，逐日減少，並以砂糖沖水代茶即斷。如癮極重者，取已煎之汁十杯，再煎至一杯，再服必效。有人二十餘年之癮，照此戒斷，切勿輕視。又方，用生甘草一味煎膏，調人煙中，吸食二三日，即漸不欲吸。此方最易，不傷人，並無煙痢之疾。癮深者照法治之，一月即斷。又方，每日用鱔魚一二條，滴血沖酒，輕者吃四五十條，重者百餘條。飲此酒大補氣血，依此飲之，不斷自斷，見煙自遠。</p>

<h2>三、乳岩秘驗方</h2>
<p>活蟹十四隻，浸尿坑內半月許，待肉去盡，聽殼再清水內漂淨，取起風乾瓦上，炙灰存性；牡蠣四兩煅灰。二味共研細末收好，每服三錢，陳黃酒隨量送下，堅塊自消。</p>
