<header data-type="book">
<h1>素問心得</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
<div><dt>底本</dt><dd>明刊本（<a href="https://www.digital.archives.go.jp/file/1083629">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫萬物章章，以害一生。生無不傷，矧夫造化為爐，陰陽為炭，而萬物熔鑄其中，凡厥有形，奈何而不銷鑠也乎？嘗試登泰岱而睹神州，躡雲霞而瞻陸海，陰陽之所搏激，邪逆之所侵傷，漭漭泱泱，無微不投，叢叢林林，罔形不攝，而加以五毒薄蝕其外，七情耗蠹其中，精亡於氣竭，神敝於魂馳，匪金、匪石，誰為不化之形？相刃、相劘，豈盡有生之數？是以單豹修而虎齧，張毅走而病攻，外內不無重傷，修短皆其自取。非夫抽玉版之真詮，閱靈蘭之秘典，抱神守和全真寶命者，烏足與談性命之情，窺死生之故哉！鬍子德甫幼負倜儻之才，長嬰鼽衄之疾，股甫折而醫良，心既齋而道進。謂《黃帝素問》一書，為至道之根，宗聖神之眇論。於是搜厥幽玄，標其旨要，名為《素問心得》，庶幾佩以終身。因可公之同志，俾尊生者，式為龜鑑；濟世者，用作梯航。抉大道之精微，求至人之彷彿，澹泊養精，清虛養氣，寧靜養神，使精合於氣，氣合於神，神合於形。以調四序之和，以從八風之理，夫亦可以抱握陰陽，提挈天地，斧斤不夭而盡終天年。豈必登具茨而問途陟空，同而訪道，華胥夢悟，鼎湖上升乃稱飄飄乎？仙哉！鬍子，妙悟向為，余稱道者若此，因為述其言而志之。</p>
<p><u>虎林林杞楚材撰</u></p>

<h1>序</h1>
<p>醫之書，莫先《素問》。醫之人，莫善岐黃。故視疾為大端，斯知醫非小道。語有作虀雖儒門之易事，世稱全孝誠人子之當知。既為疾病所魔，不無藥石是賴。死生有命，燈油可添，其浪燃於風前，孰若秘藏於室內。即卜家之趨避，猶玄門之煉修。故凡有得於心，隨乃鉤出於筆。庶幾行得捷徑，學有指蒙，未必有助於橘井杏林，或將小補於沉腰潘鬢。其於懲已勝而防未然，則又足取也。明五運而諳六氣，又深有濟焉。末由博施，試為醫國，以此怕之，一念充之，仁及四方，將有舍《素問》岐黃之資，多得心應手之妙矣。欲公同志，受付梓人時，蓋丙申三之氣。</p>
<p><u>錢塘胡文煥識於益壽堂。</u></p>

<h1>卷上</h1>

<h2>上古天真論</h2>
<p>黃帝問曰：上古之人，春秋皆度百歲，而動作不衰。今時之人，年半百而動作皆衰者，時世異耶？人將失之耶？岐伯對曰：上古之人，其知道者，法於陰陽，和於術數，飲食有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年，度百歲乃去；今時之人不然也，以酒為漿，以妄為常，醉以入房，以欲竭其精，以耗散其真，不知持滿，不時御神，務快其心，逆於生樂，起居無節，故半百而衰也。恬淡虛無，真氣從之，精神內守，病安從來。帝曰：人年老而無子者，材力盡邪？將天數然也？岐伯曰：女子七歲腎氣盛，齒更髮長；二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子；三七腎氣平均，故真牙生而長極；四七筋骨堅，髮長極，身體盛壯；五七陽明脈衰，面始焦，發始墮；六七三陽脈衰於上，面皆焦，發始白；七七任脈虛，太衝脈衰少，天癸竭，地道不通，故形壞而無子也。丈夫八歲腎氣實，髮長齒更；二八腎氣盛，天癸至，精氣溢瀉，陰陽和，故能有子；三八腎氣平均，筋骨勁強，故真牙生而長極；四八筋骨隆盛，肌肉滿壯；五八腎氣衰，發墮齒槁；六八陽氣衰竭於上，面焦，髮鬢頒白；七八肝氣衰，筋不能動，天癸竭，精少，腎藏衰，形體皆極。腎者，主水，受五臟六腑之精而藏之，故五臟盛，乃能瀉；今五臟皆衰，筋骨解墮，天癸盡矣：故髮鬢白，身體重，行步不正，而無子耳。帝曰：有其年已老而有子者，何也？岐伯曰：此其天壽過度，氣脈常通，而腎氣有餘也。此雖有子，男不過盡八八，女不過盡七七，而天地之精氣皆竭矣。</p>

<h2>四氣調神大論</h2>
<p>春三月，此謂發陳，天地俱生，萬物以榮。夜臥早起，廣步於庭，披髮緩形，以使志生，生而勿殺，子而勿奪，賞而勿罰，此春氣之應，養生之道也。逆之則傷肝，夏為寒變，奉長者少。天地氣交，萬物華實。夜臥早起，無厭於日，使志無怒，使華英成秀，使氣得泄，若所愛在外，此夏氣之應，養長之道也。逆之則傷心，秋為痎瘧，奉收者少，冬至重病。秋三月，此謂容平，天氣以急，地氣以明。早臥早起，與雞俱興，使志安寧，以緩秋刑，收斂神氣，使秋氣平，無外其志，使肺氣清，此秋氣之應，養收之道也。逆之則傷肺，冬為飧泄，奉藏者少。冬三月，此謂閉藏，水冰地坼，無擾乎陽。早臥晚起，必待日光，使志若伏若匿，若有私意，若已有得，去寒就溫，無泄皮膚，使氣亟奪，此冬氣之應，養藏之道也。逆之則傷腎，春為痿厥，奉生者少。逆春氣則少陽不生，肝氣不變；逆夏則太陽不長，心氣內洞；逆秋氣則太陰不收，肺氣焦滿；逆冬氣則少陰不藏，腎氣獨沉。夫四時陰陽者，萬物之根本也。所以聖人春夏養陽，秋冬養陰，以從其根。逆其根，則伐其本，壞其真矣。是故聖人不治已病治未病，不治已亂治未亂。夫病已成而後藥之，亂已成而後治之，譬猶渴而穿井，鬥而鑄錐，不亦晚乎！</p>

<h2>生氣通天論</h2>
<p>春傷於風，邪氣留連，乃為洞泄；夏傷於暑，秋為痎瘧；秋傷於濕，上逆而咳，發為痿厥；冬傷於寒，春必溫病。四時之氣，更傷五臟。味過於酸，肝氣以津，脾氣乃絕；味過於咸，夫骨氣勞，短肌，心氣抑；味過於甘，心氣喘滿，色黑，腎氣不衡；味過於苦，脾氣不濡，胃氣乃厚；味過於辛，筋脈沮弛，精神乃央。是故謹和五味，骨正筋柔，氣血以流，腠理以密，如是則骨氣以精。謹道如法，長有天命。</p>

<h2>金匱真言論</h2>
<p>東風生於春，病在肝，俞在頸項；南風生於夏，病在心，俞在胸脅；西風生於秋，病在肺，俞在肩背；北風生於冬，病在腎，俞在腰股；中央為土，病在脾，俞在脊。故春氣者，病在頭；夏氣者，病在臟；秋氣者，病在肩背；冬氣者，病在四肢。故春善病鼽衄，仲夏善病胸脅，長夏善病洞泄寒中，秋善病風瘧，冬善病痹厥。故冬不按蹻，春不鼽衄，春不病頸項，仲夏不病胸脅，長夏不病洞泄寒中，秋不病風瘧，冬不病痹厥、飧泄而汗出也。夫精者，身之本也。故藏於精者，春不病溫；夏暑汗不出者，秋成風瘧。夫言人身之陰陽，則背為陽，腹為陰；言人身之臟府中陰陽，則臟者為陰，府者為陽，肝、心、脾、肺、腎五臟皆為陰，膽、胃、大腸、小腸、膀胱、三焦六腑皆為陽。冬病在陰，夏病在陽，春病在陰，秋病在陽。故背為陽，陽中之陽，心也；背為陽，陽中之陰，肺也；腹為陰，陰中之陰，腎也；腹為陰，陰中之陽，肝也；腹為陰，陰中之至陰，脾也。東方青色，入通於肝，開竅於目，藏精於肝，其病發驚駭；其味酸，其類草木，其畜雞，其穀麥，其應四時，上為歲星，是以春氣在頭也，其音角，其數八，是以知病之在筋也，其臭臊。南方赤色，入通於心，開竅於耳，藏精幹心，故病在五臟；其味苦，其類火，其畜羊，其谷黍，其應四時，上為熒惑星，是以知病之在脈也，其音徵，其數七，其臭焦。中央黃色，入通於脾，開竅於口，藏精於脾，故病在舌本；其味甘，其類土，其畜牛，其谷稷，其應四時，上為鎮星，是以知病之在肉也，其音宮，其數五，其臭香。西方白色，入通於肺，開竅於鼻，藏精於肺，故病在背；其味辛，其類金，其畜馬，其谷稻，其應四時，上為太白星，是以知病之在皮毛也，其音商，其數九，其臭腥。北方黑色，入通於腎，開竅於二陰，藏精幹腎，故病在溪；其味鹹，其類水，其畜彘，其谷豆，其應四時，上為辰星，是以知病之在骨也，其音羽，其數六，其臭腐。</p>

<h2>陰陽應象大論</h2>
<p>治病必求於本。寒極生熱，熱極生寒；寒氣生濁，熱氣生清；清氣在下，則生飧泄，濁氣在上，則生䐜脹。此陰陽反作，病之從逆也。清陽出上竅，濁陰出下竅；清陽發腠理，濁陰走五臟；清陽實四支，濁陰歸六腑。水為陰，火為陽，陽為氣，陰為味。味歸形，形歸氣，氣歸精，精歸化；精食氣，形食味，化生精，氣生形。味傷形，氣傷精，精化為氣，氣傷於味。陰味出下竅，陽氣出上竅。陰勝則陽病，陽勝則陰病。陽勝則熱，陰勝則寒。重寒則熱，重熱則寒。寒傷形，熱傷氣；氣傷痛，形傷腫。故先痛而後腫者，氣傷形也；先腫而後痛者，形傷氣也。風勝則動，熱勝則腫，燥勝則乾，寒勝則浮，濕勝則濡瀉。人有五臟化五氣，以生喜怒悲憂恐。故喜怒傷氣，寒暑傷形。暴怒傷陰，暴喜傷陽。喜怒不節，寒暑過度，生乃不固。冬傷於寒，春必病溫；春傷於風，夏生飧泄；夏傷於暑，秋必痎瘧；秋傷於濕，冬生咳嗽。東方生風，風生木，木生酸，酸生肝，肝生筋，筋生心，肝主目。其在天為玄，在人為道，在地為化。化生五味，道生智，玄生神。神在天為風，在地為木，在體為筋，在藏為肝，在色為蒼，在音為角，在聲為呼，在變動為握，在竅為目，在味為酸，在志為怒。怒傷肝，悲勝怒；風傷筋，燥勝風；酸傷筋，辛勝酸。南方生熱，熱生火，火生苦，苦生心，心生血，血生脾，心主舌。其在天為熱，在地為火，在體為脈，在藏為心，在色為赤，在音為徵，在聲為笑，在變動為憂，在竅為舌，在味為苦，在志為喜。喜傷心，恐勝喜；熱傷氣，寒勝熱；苦傷氣，咸勝苦。中央生濕，濕生土，土生甘，甘生脾，脾生肉，肉生肺，脾主口。其在天為濕，在藏為脾，在色為黃，在音為宮，在聲為歌，在變動為噦，在竅為口，在味為甘，在志為思。思傷脾，怒勝思；濕傷肉，風勝濕；甘傷肉，酸勝甘。西方生燥，燥生金，辛生肺，肺生皮毛，皮毛生腎，肺主鼻。其在天為燥，在地為金，在體為皮毛，在藏為肺，在色為白，在音為商，在聲為哭，在變動為咳嗽，在竅為鼻，在味為辛，在志為憂。憂傷肺，喜勝憂；熱傷皮毛，寒勝熱；苦勝辛。北方生寒，寒生水，水生咸，咸生腎，腎生骨髓，髓生肝，腎主耳。其在天為寒，在地為水，在體為骨，在藏為腎，在色為黑，在音為羽，在聲為呻，在變動為慄，在竅為耳，在味為咸，在志為恐。恐傷腎，思勝恐；寒傷血，燥勝寒；咸傷血，甘勝咸。年四十而陰氣自半也，起居衰矣；年五十，體重，耳目不聰矣；年六十，陰痿，氣大衰，九竅不利，下虛上實，涕泣俱出矣。知之則強，不知則老。天不足西北，故西北方陰也，而人右耳目不如左明也；地不滿東南，故東南方陽也，而人左手足不如右強也。惟賢人上配天以養頭，下象地以養足，中傍人事以養五臟。天氣通於肺，地氣通於嗌，風氣通於肝，雷氣通於心，穀氣通於脾，雨氣通於腎。六經為川，腸胃為海，九竅為水注之氣。以天地為之陰陽，陽之汗，以天地之雨名之；陽之氣，以天地之疾風名之。暴氣象雷，逆氣象陽。邪風之至，疾如風雨。故善治者治皮毛，其次治肌膚，其次治筋脈，其次治六腑，其次治五臟。治五臟者，半死半生也。故天之邪氣，感則害人五臟；水穀之寒熱，感則害於六腑；地之濕氣，感則害皮肉筋脈。善診者，察色按脈，先別陰陽；審清濁，而知部分；視喘息，聽音聲，而知所苦；觀權衡規矩，而知病所主；按盡寸，觀浮沉滑澀，而知病所生。以治無過。故因其輕而揚之；因其重而減之；因其衰而彰之。形不足者，溫之以氣；精不足者，補之以味。其高者，因而越之；其下者，引而竭之；中滿者，瀉之於內；其有邪者，清形以為汗；其在皮者，汗而發之；其慓悍者，按而收之；其實者，散而瀉之。審其陰陽，以別柔剛，陽病治陰，陰病治陽；定其血氣，各守其鄉，血實宜決之，氣虛宜掣引之。</p>

<h2>陰陽離合論</h2>
<p>聖人南面而立，前曰廣明，後曰太衝，太衝之地，名曰少陰，少陰之上，名曰太陽，太陽根起於至陰，結於命門，名曰陰中之陽。中身而上，名曰廣明，廣明之下，名曰太陰，太陰之前，名曰陽明，陽明根起於厲兌，名曰陰中之陽。厥陰之表，名曰少陽，少陽根起於竅陰，名曰陰中之少陽。是故三陽之離合也：太陽為開，陽明為闔，少陽為樞。三經者，不得相失也，搏而勿浮，命曰一陽。外者為陽，內者為陰，然則中為陰，其衝在下，名曰太陰，太陰根起於隱白，名曰陰中之陰。太陰之後，名曰少陰，少陰根起於湧泉，名曰陰中之少陰。少陰之前，名曰厥陰。是故三陰之離合也：太陰為開，厥陰為闔，少陰為樞。三經者，不得相失也，搏而勿沉，名曰一陰。</p>

<h2>陰陽別論</h2>
<p>凡持真脈之藏脈者，肝至懸絕急，十八日死；心至懸絕，九日死；肺至懸絕，十二日死；腎至懸絕，七日死；脾至懸絕，四日死。三陰俱搏，二十日夜半死；二陰俱搏，十三日夕時死；一陰俱搏，十日死；三陽俱搏且鼓，三日死；三陰三陽俱搏，心腹滿，發盡，不得隱曲，五日死；二陽俱搏，其病溫，死不治，不過十日死。</p>

<h2>靈蘭秘典論</h2>
<p>心者，君主之官也，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中者，臣使之官，喜樂出焉。脾胃者，倉廩之官，五味出焉。大腸者，傳道之官，變化出焉。小腸者，受盛之官，化物出焉。腎者，作強之官，伎巧出焉。三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。凡此十二官者，不得相失也。故主明則下安，主不明則十二官危。</p>

<h2>六節藏象論</h2>
<p>五氣入鼻，藏於心肺，上使五色修明，音聲能彰；五味入口，藏於腸胃，味有所藏，以養五氣，氣和而生，津液相成，神乃自生。心者，生之本，神之變也；其華在面，其充在血脈，為陽中之太陽，通於夏氣。肺者，氣之本，魄之處也；其華在毛，其充在皮，為陽中之太陰，通於秋氣。腎者，主蟄，封藏之本，精之處也；其華在發，其充在骨，為陰中之少陰，通於冬氣。肝者，罷極之本，魂之居也；其華在爪，其充在筋，以生血氣，其味酸，其色蒼，此為陽中之少陽，通於春氣。脾、胃、大腸、小腸、三焦、膀胱者，倉廩之本，營之居也，名曰器，能化糟粕，轉味而入出者也；其華在唇四白，其充在肌，其味甘，其色黃，此至陰之類，通於土氣。凡十一藏，取決於膽也。故人迎一盛病在少陽，二盛病在太陽，三盛病在陽明，四盛已上為格陽。寸口一盛病在厥陰，二盛病在少陰，三盛病在太陰，四盛已上為關陰。人迎與寸口俱盛四倍已上為關格，關格之脈贏，不能極於天地之精氣，則死矣。</p>

<h2>五臟生成篇</h2>
<p>心之合脈也，其榮色也，其主腎也。肺之合皮也，其榮毛也，其主心也。肝之合筋也，其榮爪也，其主肺也。脾之合肉也，其榮唇也，其主肝也。腎之合骨也，其榮發也，其主脾也。是故多食鹹，則脈凝泣而變色；多食苦，則皮槁而毛拔；多食辛，則筋急而爪枯；多食酸，則肉胝皺而唇揭；多食甘，則骨痛而發落。此五味之所傷也。故心欲苦，肺欲辛，肝欲酸，脾欲甘，腎欲咸。此五味之所合也。五臟之氣：故色見青如草茲者死，黃如枳實者死，黑如炲（音苔）者死，赤如衃（音坯）血者死，白如枯骨者死，此五色之見死也；青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豕膏者生，黑如烏羽者生，此五色之見生也。生於心，如以縞裹朱；生於肺，如以縞裹紅；生於肝，如以縞裹紺；生於脾，如以縞裹栝樓實；生於腎，如以縞裹紫。此五臟所生之外榮也。色味當五臟：白當肺、辛，赤當心、苦，青當肝、酸，黃當脾、甘，黑當腎、咸。故白當皮，赤當脈，青當筋，黃當肉，黑當骨。諸脈者，皆屬於目；諸髓者，皆屬於腦；諸筋者，皆屬於節；諸血者，皆屬於心；諸氣者，皆屬於肺。此四支八溪之朝夕也。故人臥血歸於肝，肝受血而能視，足受血而能步，掌受血而能握，指受血而能攝。臥出而風吹之，血凝於膚者為痹，凝於脈者為泣，凝於足者為厥，此三者，血行而不得反其空，故為痹厥也。赤，脈之至也喘而堅，診曰有積氣在中，時害於食，名曰心痹，得之外疾，思慮而心虛，故邪從之。白，脈之至也喘而浮，上虛下實，驚，有積氣在胃中，喘而虛，名曰肺痹，寒熱，得之醉而使內也。青，脈之至也長而左右彈，有積氣在心下，支胠，名曰肝痹，得之寒濕，與疝同法，腰痛，足清，頭痛。黃脈之至也大而虛，有積氣在腹中，有厥氣，名曰厥疝，女子同法，得之疾使四支，汗出當風。黑，脈之至也上堅而大，有積氣在小腹與陰，名曰腎痹，得之沐浴清水而臥。凡相五色之奇脈，面黃目青，面黃目赤，面黃目白，面黃目黑者，皆不死也。面青目赤，面赤目白，面青目黑，面黑目白，面赤目青，皆死也。</p>

<h2>五臟別論</h2>
<p>腦、髓、骨、脈、膽、女子胞，此六者，地氣之所生也，皆藏於陰而象於地，故藏而不瀉，名曰奇恆之府。夫胃、大腸、小腸、三焦、膀胱，此五者，天氣之所生也，其氣象天，故瀉而不藏，此受五臟濁氣，名曰傳化之府，此不能久留，輸瀉者也。魄門亦為五臟使，水穀不能久藏。所謂五臟者，藏精氣而不瀉也，故滿而不能實。六腑者，傳化物而不藏，故實而不能滿也。所以然者，水穀入口，則胃實而腸虛；食下，則腸實而胃虛。故曰實而不滿，滿而不實也。胃者，水穀之海，六腑之大源也。五味入口，藏於胃，以養五臟氣；氣口亦太陰也，是以五臟六腑之氣味，皆出於胃，變見於氣口。故五氣入鼻，藏於心肺；心肺有病，而鼻為之不利也。</p>

<h2>異法方宜論</h2>
<p>東方之域，天地之所始生也，魚鹽之地，海濱傍水。其民食魚而嗜咸，皆安其處，美其食。魚者使人熱中，鹽者勝血，故其民皆黑色疏理，其病皆為癰瘍，其治宜砭石。故砭石肝，亦從東方來。西方者，金玉之域，沙石之處，天地之所收引也。其民陵居而多風，水土剛強，其民不衣而褐薦，其民華食而脂肥，故邪不能傷其形體，其病生於內，其治宜毒藥。故毒藥者，亦從西方來。北方肝，天地所閉藏之域也，其地高陵居，風寒冰冽。其民樂野處而乳食，藏寒生滿病，其治宜灸焫。故灸焫肝，亦從北方來。南方者，天地所長養，陽之所盛處也，其地下，水土弱，霧露之所聚也。其民嗜酸而食胕，故其民皆致理而赤色，其病攣痹，其治宜微針。故九針者，亦從南方來。中央者，其地平，以濕，天地之所以生萬物也眾。其民食雜而不勞，其治宜導引按蹻。故其病多痿厥寒熱，故導引按蹻者，亦從中央出也。</p>

<h2>移精變氣論</h2>
<p>憂患緣其內，苦形傷其外，又失四時之從，逆寒暑之宜，賊風數至，虛邪朝夕，內至五臟骨髓，外傷空竅肌膚；所以小病必甚，大病必死。色以應日，脈以應月，治之要極，無失色脈，得神者昌，失神者亡。</p>

<h2>湯液醪醴論</h2>
<p>嗜欲無窮，而憂患不止，精氣弛壞，榮泣衛除，故神去之而病不愈也。</p>

<h2>玉版論要</h2>
<p>容色，見上下左右，各在其要。其色見淺者，湯液主治，十日已；其見深者，必齊主治，二十一日已；其見大深者，醪酒主治，百日已；色夭面脫不治，百日盡已。脈短氣絕，死；病溫虛甚，死。色見上下左右，各在其要。上為逆，下為從；女子右為逆，左為從；男子左為逆，右為從。易，重陽死，重陰死。</p>

<h2>診要經終論</h2>
<p>正月、二月，天氣始方，地氣始發，人氣在肝；三月、四月，天氣正方，地氣定發，人氣在脾；五月、六月，天氣盛，地氣高，人氣在頭；七月、八月，陰氣始殺，人氣在肺；九月、十月，陰氣始冰，地氣始閉，人氣在心；十一月、十二月，冰復，地氣合，人氣在腎。故春刺散俞及與分理，血出而止，甚者傳氣，間者環也。夏刺絡俞，見血而止，盡氣閉環，痛病必下。秋刺皮膚，循理，上下同法，神變而止。冬刺俞竅於分理，甚者直下，閒者散下。凡刺胸腹者，必避五臟。中心者，環死；中脾者，五日死；中腎者，七日死；中肺者，五日死；中鬲者，皆為傷中，其病雖愈，不過一歲必死。太陽之脈，其終也戴眼，反折瘛瘲，其色白，絕汗乃出，出則死矣。少陽終者，耳聾，百節皆縱，目睘絕系，絕系一日半死；其死也，色先青白乃死矣。陽明終者，口目動作，善驚，妄言，色黃，其上下經盛，不仁，則終矣。少陰終者，面黑，齒長而垢，腹脹閉，上下不通而終矣。太陰終者，腹脹閉不得息，善噫，善嘔，嘔則逆，逆則面赤，不逆則上下不通，不通則面黑，皮毛焦而終矣。厥陰終者，中熱咽乾，善溺，心煩，甚則舌卷，卵上縮而終矣。</p>

<h2>脈要精微論</h2>
<p>夫脈者，血之府也。長則氣治；短則氣病；數則煩心；大則病進；上盛則氣高；下盛則氣脹；代則氣衰；細則氣少；澀則心痛，渾渾革至如湧泉，病進而色弊；綿綿其去如弦絕，死。夫精明五色者，氣之華也。赤欲如白裹裹朱，不欲如赭；白欲如鵝羽，不欲如鹽；青欲如倉璧之澤，不欲如藍；黃欲如羅裹雄黃，不欲如黃土；黑欲如重漆色，不欲如地蒼。五色精微象見矣，其壽不久也。五臟者，中之守也。得守者生，失守者死。夫五臟者，身之強也。頭者，精明之府，頭傾視深，精神將奪矣；背者，胸中之府，背曲肩隨，府將壞矣；腰者，腎之府，轉搖不能，腎將憊矣；膝者，筋之府，屈伸不能，行則僂俯，筋將憊矣；骨者，髓之府，不能久立，行則振掉，骨將憊矣。得強則生，失強則死。陰盛則夢涉大水恐懼，陽盛則夢大火燔灼，陰陽俱盛則夢相殺毀傷；上盛則夢飛，下盛則夢墮；甚飽則夢予，甚飢則夢取；肝氣盛則夢怒，肺氣盛則夢哭；短蟲多則夢聚眾，長蟲多則夢相擊毀傷。是故持脈有道，虛靜為保。春日浮，如魚之遊在波；夏日在膚，泛泛乎萬物有餘；秋日下膚，蟄蟲將去；冬日在骨，蟄蟲周密，君子居室。心脈搏堅而長，當病舌卷不能言；其軟而散者，當消環自己。肺脈搏堅而長，當病唾血；其軟而散者，當病灌汗，至今不復散發也。肝脈搏堅而長，色不青，當病墜若搏，因血在脅下，令人喘逆；其軟而散，色澤者，當病溢飲。溢飲者，渴暴多飲，而易入肌皮腸胃之外也。胃脈搏堅而長，其色赤，當病拆髀；其軟而散者，當病食痹。脾脈搏堅而長，其色黃，當病少氣；其軟而散，色不澤者，當病足腫，若水狀也。腎脈搏堅而長，其色黃而赤者，當病拆腰；其軟而散者，當病少血，至今不復也。徵其脈小色不奪者，新病也；徵其脈不奪，其色奪者，此久病也；徵其脈與五色俱奪者，此久病也。徵其脈與五色俱不奪者，新病也。</p>

<h2>平人氣象論</h2>
<p>人一呼脈再動，一吸脈亦再動，呼吸定息脈五動，閏以太息，命曰平人。平人者，不病也。肝見庚辛死，心壬癸死，脾見甲乙死，腎見戊已死。婦人手少陰脈動甚者，妊子也。人以水穀為本，故人絕水穀則死，脈無胃氣亦死。所謂無胃氣者，但得真藏脈，不得胃氣也。所謂脈不得胃氣者，肝不弦，腎不石也。太陽脈至，洪大以長；少陽脈至，乍數作疏，乍短乍長；陽明脈至，浮大而短。夫平心脈來，累累如連珠，如循琅玕，曰心平，夏以胃氣為本；病心脈來，喘喘連屬，其中微曲，曰心病；死心脈來，前曲後居，如操帶鉤，曰心死。平肺脈來，厭厭聶聶，如落榆莢，曰肺平，秋以胃氣為本；病肺脈來，不上不下，如循雞羽，曰肺病；死肺脈來，如物之浮，如風吹毛，曰肺死。平肝脈來，軟弱招招，如揭長竿末梢，曰肝平，春以胃氣為本；病肝脈來，盈實而滑，如循長竿，曰肝病；死肝脈來，急益勁，如新張弓弦，曰肝死。平脾脈來，和柔相離，如雞踐地，曰脾平，長夏以胃氣為本；病脾脈來，實而盈數，如雞舉足，曰脾病；死脾脈來，銳堅如鳥之喙，如鳥之距，如屋之漏，如水之流，曰脾死。平腎脈來，喘喘累累如鉤，按之而堅，曰腎平，冬以胃氣為本；病腎脈來，如引葛，按之益堅，曰腎病；死腎脈來，發如奪索，辟辟如彈石，曰腎死。</p>

<h2>玉機莫藏論</h2>
<p>春脈者，肝也，東方木也，萬物之所以始生也，故其氣來，軟弱輕虛而滑，端直以長，故曰弦，反此者病。其氣來實而強，此謂太過，病在外；其氣來不實而微，此謂不及，病在中。太過則令人善忘，忽忽眩冒而巔疾；其不及，則令人胸痛引背，下則兩脅胠滿。夏脈者，心也，南方火也，萬物之所以盛長也，故其氣來盛去衰，故曰鉤，反此者病。其氣來盛去亦盛，此謂太過，病在外；其氣來不盛，去反盛，此謂不反，病在中。太過則令人身熱而膚痛，為浸淫；其不及，則令人煩心，上見咳唾，下為氣泄。秋脈者，肺也，西方金也，萬物之所以收成也，故其氣來，輕虛以浮，來急去散，故曰浮，反此者病。其氣來毛而中央堅，兩傍虛，此為太過，病在外；其氣來毛而微，此謂不反，病在中。太過則令人逆氣，而背痛慍慍然；其不及，則令人喘，呼吸少氣而咳，上氣見血，下聞病音。冬脈者，腎也，北方水池，萬物之所以合藏也，故其氣來，沉以搏，故曰營，反此者病。其氣來如彈石者，此謂太過，病在外；其去如數者，此謂不及，病在中。太過則令人解㑊（音亦），脊脈痛而少氣，不欲言；其不及則令人心懸如病飢，䏚（音蒸）中清，脊中痛，少腹滿，小便變。脾脈者，土也，孤藏以灌四傍者也。其來如水之流者，此謂太過，病在外；如鳥之喙者，此謂不及，病在中。太過則令人四支不舉；其不及則令人九竅不通，名曰重強。肝受氣於心，傳之於脾，氣舍於腎，至肺而死。脾受氣於肺，傳之於腎，氣舍於心，至肝而死。肺受氣於腎，傳之於肝，氣舍於脾，至心而死。腎受氣於肝，傳之於心，氣舍於肺，至脾而死。此皆逆死也。憂恐悲喜怒，令不得以其次，故令人有大病矣。因而喜大虛，則腎氣乘矣，怒則肝氣乘矣，悲則肺氣乘矣，憂則心氣乘矣。大骨枯槁，大肉陷下，胸中氣滿，喘息不便，其氣動形，期六月死，真藏脈見，乃予之期日。大骨枯槁，大肉陷下，胸中氣滿，喘息不便，內痛引肩項，期一月死，真藏見，乃予之期日。大骨枯槁，大肉陷下，胸中氣滿，喘息不便，內痛引肩項，身熱，脫肉破㬷（音郡），真藏見，十月之內死。大骨枯槁，大肉陷下，肩髓肉消，動作益衰，真藏來見，期一歲死，見其真藏，乃予之期日。大骨枯槁，大肉陷下，胸中氣滿，腹內痛，心中不便，肩項身熱，破㬷脫肉，目匡陷，真藏見，目不見人，立死；其見人者，至其所不勝之時則死。急虛身中卒至，五臟絕閉，脈道不通，氣不往來，譬於墮溺，不可為期。其脈絕不來，若人一息五六至，其形肉不脫，真藏雖不見，猶死也。真肝脈至，中外急，如循刀刃責責然，如按琴瑟弦，色青白不澤，毛折乃死；真心脈至，堅而搏，如循薏苡於累累然，色赤黑不澤，毛折乃死；真肺脈至，大而虛，如以毛羽中人膚，色白赤不澤，毛折乃死；真腎脈至，搏而絕，如指彈石辟辟然，色黑黃不澤，毛折乃死；真脾脈至，弱而乍數乍疏，色黃青不澤，毛折乃死。諸真藏脈見者，皆死不治也。脈逆四時，為不可治。春得肺脈，夏得腎脈，秋得心脈，冬得脾脈，其至皆懸絕沉澀者，命曰逆四時。虛實以決死生。脈盛，皮熱，腹脹，前後不通，悶瞀，音茂，此謂五實。脈細，皮寒，氣少，泄利前後，飲食不入，此謂五虛。</p>

<h2>三部九候論</h2>
<p>上部天，兩額之動脈；上部地，兩頰之動脈；上部人，耳前之動脈；中部天，手太陰也；中部地，手陽明也；中部人，手少陰也；下部天，足厥陰也；下部地，足少陰也；下部人足太陰也。故下部之天以候肝，地以候腎，人以候脾胃之氣。中部之天，以候肺；地以候胸中之氣，人以候心。上部之天，以候頭角之氣，地以候口齒之氣，人以候耳目之氣。神藏五，形藏四，合為九藏。五臟已敗，其色必夭，夭必死矣。必先度其形之肥瘦，以調其氣之虛實，實則瀉之，虛則補之。形盛脈細，少氣不足以息者危；形瘦脈大，胸中多氣者死。形氣相得者生；參伍不調者病；三部九候皆相失者死；上下左右之脈相應如參舂者，病甚；上下左右相失不可數者死；中部之候雖獨調，與眾藏相失者死；中部之候相減者死；目內陷者死。察九候獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病，察其府藏，以知死生之期。必先知經脈，然後知病脈。九候之脈，皆沉細懸絕者為陰，主冬，故以夜半死；盛躁喘數者為陽，主夏，故以日中死。是故寒熱病者，以平旦死；熱中及熱病者，以日中死；病風者，以日夕死；病水者，以夜半死；其脈乍疏乍數、乍遲乍疾者，日乘四季死；形肉以脫，九候雖調，猶死；七診雖見，九候皆從者，不死。所言不死者，風氣之病及經月之病，似七診之病而非也，故言不死。若有七診之病，其脈候亦敗者死矣。必審問其所始病，而後各切循其脈，視其經絡浮沉，以上下逆從循之。其脈疾者，不病；其脈遲者，病；脈不往來者，死；皮膚著者，死。經病者，治其經；孫絡病者，治其孫絡血；血病身有痛者，治其經絡。</p>

<h2>經脈別論</h2>
<p>夜行則喘出於腎，淫氣病肺；有所墮恐，喘出於肝，淫氣害脾；有所驚恐，喘出於肺，淫氣傷心；度水跌僕，喘出於腎與骨。當是之時，勇者氣行則已；怯者則著而為病也。故觀人勇怯、骨肉、皮膚，能知其情，以為診法也。故飲食飽甚，汗出於胃；驚而奪精，汗出於心；持重遠行，汗出於腎，疾走恐懼，汗出於肝；體勞苦，汗出於脾。食氣入胃，散精於肝，淫氣於筋。食氣入胃，濁氣歸心，淫精於脈；脈氣流經，經氣歸於肺；肺朝百脈，輸精於皮毛；毛脈合精，行氣於府；府精神明，留於四臟，氣歸於權衡；權衡以平，氣口成寸，以決死生。飲入於胃，遊溢精氣，上輸於脾；脾氣散精，上歸於肺；通調水道，下輸膀胱；水精四布，五經並行，合於四時五臟陰陽，揆度以為常也。</p>

<h2>藏氣法時論</h2>
<p>肝主春，足厥陰、少陽主治，其日甲乙；肝苦急，急食甘以緩之。心主夏，手少陰、太陽主治，其日丙丁；心苦緩，急食酸以收之。脾主長夏，足太陰、陽明主治，其日庚辛；肺苦氣上逆，急食苦以泄之。腎主冬，足少陰、太陽主治，其日壬癸；腎苦燥，急食辛以潤之。開腠理，致津夜，通氣也。病在肝，愈於夏；夏不愈，甚於秋；秋不死，持於冬，起於春。肝病者，愈在丙丁；丙丁不愈，加於庚辛；庚辛不死，持於壬癸，起於甲乙。肝病者，平旦慧，下晡甚，夜半靜。肝欲散，急食辛以散之，用辛補之，酸瀉之。病在心，愈在長夏；長夏不愈，甚於冬；冬不死，持於春，起於夏，禁溫食熱衣。心病者，愈在戊己；戊己不愈，加於壬癸；壬癸不死，持於甲乙，起於丙丁。心病者，日中慧，夜半甚，平旦靜。心欲軟，急食鹹以軟之，用鹹補之，甘瀉之。病在脾，愈在秋；不愈，甚於春；春不死，持於夏，起於長夏，禁溫食飽食、濕地濡衣。脾病者，愈在庚辛；庚辛不愈，加於甲乙；甲乙不死，持於丙丁，起於戊已。脾病者，日昳慧，日出甚，下晡靜。脾欲緩，急食甘以緩之，用苦瀉之，甘補之。病在肺，愈在冬；冬不愈，甚於夏；夏不死，持於長夏，起於秋，禁寒飲飲食寒衣。肺病者，愈在壬癸；壬癸不愈，加於丙丁；丙丁不死，持於戊己，起於庚辛。肺病者，下晡慧，日中甚，夜半靜。肺欲收，急食酸以收之，用酸補之，辛瀉之。病在腎，愈在春；春不愈，甚於長夏；長夏不死，持於秋，起於冬，禁犯淬㶼熱食溫炙衣。腎病者，愈在甲乙；甲乙不愈，甚於戊己；戊己不死，持於庚辛，起於壬癸。腎病者，夜半慧，四季甚，下晡靜。腎欲堅，急食苦以堅之，用苦補之，咸瀉之。肝病者，兩脅下痛引少腹，令人善怒；虛則目䀮䀮（音荒）無所見，耳無所聞，善恐，如人將捕之。取其經，厥陰於少陽。氣逆則頭痛，耳聾不聰，頰腫，取血者。心病者，胸中痛，脅支滿，脅下痛，膺背肩甲間痛，兩臂內痛；虛則胸腹大，脅下與腰相引而痛。取其經，少陰、太陽、舌下血者。其變病，刺郄中血者。脾病者，身重，善飢，肉痿，足不收行，善瘛瘲，腳下痛；虛則腹滿腸鳴，飧泄食不化。取其經，太陰、陽明、少陰血者。肺病者，喘逆氣，肩背痛，汗出，尻陰股膝、髀腨胻足皆痛；虛則少氣不能報息，耳聾咽乾。取其經，太陰、足太陽之外厥陰內血者。腎病者，腹大脛種，喘咳身重，寢汗出，憎風；虛則胸中痛，大腹、小腹痛，清厥，意不樂。取其經，少陰、太陽血者。肝色青，宜食甘，粳米、牛肉、棗、葵皆甘。心色赤，宜食酸，小豆、犬肉、李、韭皆酸。肺色白，宜食苦，麥、羊肉、杏、薤皆苦。脾色黃，宜食鹹，大豆、豕肉、慄、藿皆咸。腎色黑，宜食辛，黃杞、雞肉、桃、蔥皆辛。辛散、酸收、甘緩、苦堅、咸軟。毒藥攻邪，五穀為養（粳米、小豆、麥、大豆、黃杞），五果為助（桃、李、杏、慄、棗），五畜為益（牛、羊、豕、犬、雞）、五菜為充（葵、藿、薤、蔥、韭）、氣味合而服之，以補精益氣。此五者，有辛、酸、甘、苦、咸，各有所利，或散、或收、或緩、或急、或堅、或軟，四時五臟，病隨五味所宜也。</p>

<h2>宣明五氣篇</h2>
<p>五味所入：酸入肝，辛入肺，苦入心，鹹入腎，甘入脾。是謂五入。</p>
<p>五氣所病：心為噫，肺為咳，肝為語，脾為吞，腎為欠、為嚏，胃為氣逆、為噦、為恐，大腸、小腸為泄，下焦溢為水，膀胱不利為癃、不約為遺溺，膽為怒。是謂五病。</p>
<p>五精所並：精氣並於心則喜，並於肺則悲，並於肝則憂，並於脾則畏，並於腎則恐。是謂五並，虛而相併者也。</p>
<p>五臟所惡：心惡熱，肺惡寒，肝惡風，脾惡濕，腎惡燥。是謂五惡。</p>
<p>五臟化液：心為汗，肺為涕，肝為淚，脾為涎，腎為唾。是謂五液。</p>
<p>五味所禁：辛走氣，氣病無多食辛；咸走血，血病無多食鹹；苦走骨，骨病無多食苦；甘走肉，肉病無多食甘；酸走筋，筋病無多食酸。是謂五禁，無令多食。</p>
<p>五病所發：陰病發於骨，陽病發於血，陰病發於肉，陽病發於冬，陰病發於夏。是謂五發。</p>
<p>五邪所亂：邪入於陽則狂，邪入於陰則痹，搏陽則為巔疾，搏陰則為瘖，陽入之陰則靜，陰出之陽則怒。是謂五亂。</p>
<p>五脈所見：春得秋脈，夏得冬脈，長夏得春脈，秋得夏脈，冬得長夏脈，名曰陰出之陽，病善怒，不治。是謂五邪。皆同命，死不治。</p>
<p>五臟所藏：心藏神，肺藏魄，肝藏魂，脾藏意，腎藏志。是謂五臟所藏。</p>
<p>五臟所主：心主脈，肺主皮，肝主筋，脾主肉，腎主骨。是謂五主。</p>
<p>五勞所傷：久視傷血，久臥傷氣，久坐傷肉，久立傷骨，久行傷筋。是謂五勞所傷。</p>
<p>五脈應象：肝脈弦，心脈鉤，脾脈代，肺脈毛，腎脈石。是謂五臟之脈。</p>

<h2>血氣形志篇</h2>
<p>夫人之常數，太陽常多血少氣，少陽常少血多氣，陽明常多氣多血，少陰常少血多氣，厥陰常多血少氣，太陰常多氣少血。此天之常數。足太陽與少陰為表裡，少陽與厥陰為表裡，陽明與太陰為表裡，是謂足陰陽也。手太陽與少陰為表裡，少陽與心主為表裡，陽明與太陰為表裡，是謂手之陰陽也。今知手足陰陽所苦。凡治血必先去其血，乃去其所苦，伺之所欲，然後瀉有餘，補不足。形樂志苦，病生於脈，治之以灸刺；形樂志樂，病生於肉，治之以石；形苦志樂，病生於筋，治之以熨引；形苦志苦，病生於咽嗌，治之以百藥；形數驚恐，經絡不通，病生於不仁，治之以按摩醪藥。</p>

<h2>寶命全形論</h2>
<p>形之疾病，莫知其情，留淫日深，著於骨髓。夫鹽之味鹹者，其氣令器津泄；弦絕者，其音嘶敗；水敷者，其葉發；病深者，其聲噦；人有此三者，是謂壞府，毒藥無治，短針無取，此皆絕皮傷肉，血氣爭黑。水得金而伐，火得水而滅，土得水而達，金得火而缺，水得土而絕。萬物盡然，不可勝竭。</p>

<h2>八正神明論</h2>
<p>天溫日明，則人血淖液，而衛氣浮，故血易瀉，氣易行；天寒日陰，則人血凝泣，而衛氣沉。月始生，則血氣始精，衛氣始行；月郭滿，則血氣實，肌肉堅；月郭空，則肌肉減，經絡虛，衛氣去，形獨居。是以因天時而調血氣也。以身之虛而逢天之虛，兩虛相感，其氣至骨，入則傷五臟。故曰：天忌不可不知也。正邪者，身形若用力，汗出腠理開，逢虛風，其中人也微，故莫知其情，莫見其形。上工救其萌牙，下工救其已成，救其已敗。故養神者，必知形之肥瘦，榮衛血氣之盛衰。血氣者，人之神，不可不謹養。</p>

<h2>離合真邪論</h2>
<p>天有宿度，地有經水，人有經脈。天地溫和，則經水安靜；天寒地凍，則經水凝泣；天暑地熱，則經水沸溢；卒風暴起，則經水波浦而隴起。夫邪之入於脈也，寒則血凝泣，暑則氣淖澤，虛邪因而入客，亦如經水之得風也。</p>

<h2>通評虛實論</h2>
<p>邪氣盛則實，精氣奪則虛。氣虛者，肺虛也；氣逆者，足寒也。非其時則生，當期時則死。余藏皆如此。夫虛實者，皆從其物類始，故五臟骨肉滑利，可以長久也。</p>

<h2>太陰陽明論</h2>
<p>限者，天氣也，主外；陰者，地氣也，主內。故陽道實，陰道虛。故犯賊風虛邪者，陽受之；食飲不節，起居不時者，陰受之。陽受之，則入六腑；陰受之，則入五藏。入六腑，則身熱，不時臥，上為喘籲；入五臟，則䐜滿閉塞，下為飧泄，久為腸澼。故喉主天氣，咽主地氣。故陽受風氣，陰受濕氣。故陰氣從足上行至頭，而下行循臂至指端；陽氣從手上行至頭，而下行至足。故曰：陽病者，上行極而下；陰病者，下行極而上。故傷於風者，上先受之；傷於濕者，下先受之。四肢皆稟氣於胃，而不得至經，必因於脾，乃得稟也。今脾病不能為胃行其津液，四支不得稟水穀氣，氣日以衰，脈道不利，筋骨肌肉皆無氣以生。</p>

<h2>陽明脈解篇</h2>
<p>四肢者，諸陽之本也。陽盛則四肢實。</p>

<h2>熱論篇</h2>
<p>人之傷於寒也，則為病熱，熱雖甚不死；其兩感於寒而病者，必不免於死。傷寒一日，巨陽受之，故頭項痛，腰脊強；二日陽明受之，陽明主肉，其脈俠鼻，絡於目，故身熱，目疼而鼻乾，不得臥也；三日少陽受之，少陽主膽，其脈循脅絡於耳，故胸脅痛而耳聾。三陽經絡皆受其病，而未入於藏者，故可汗而已。四日太陰受之，太陰脈布胃中，絡於嗌，故腹滿而嗌乾；五日少陰受之，少陰脈貫腎，絡於肺，系舌本，故口燥舌乾而渴；六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮。三陰三陽、五臟六腑皆受病，榮衛不行，五臟不通，則死矣。其不兩感於寒者，七日巨陽病衰，頭痛少愈；八日陽明病衰，身熱少愈；九日少陽病衰，耳聾微聞；十日太陰病衰，腹減如故，則思飲食；十一日少陰病衰，渴止不滿，舌乾已而嚏；十二日厥陰病衰，囊縱，少腹微下，大氣皆去，病日已矣。其病兩感於寒者，一日，則巨陽與少陰俱病，則頭痛，口乾而煩滿；二日則陽明與太陰俱病，則腹滿，身熱，不欲食，譫言；三日則少陽與厥陰俱病，則耳聾，囊縮而厥。水漿不入，不知人，六日死。陽明者，十二經脈之長也。其血氣盛，故不知人。三日，其氣乃盡，故死矣。先夏至日者為病溫，後夏至日者為病暑。</p>

<h2>氣厥論</h2>
<p>腎移寒於脾，癰腫，少氣。脾移寒於肝，癰腫，筋攣。肝移寒於心，狂，隔中。心移寒於肺，肺消；肺消者，飲一溲二，死不治。肺移寒於腎，為湧水；湧水者，按腹不堅，水氣客於大腸，疾行則鳴濯濯，如囊裹漿，水之病也。脾移熱於肝，則為驚衄。肝移熱於心，則死。心移熱於肺，傳為鬲消。肺移熱於腎，傳為柔痙。腎移熱於脾，傳為虛，腸澼死，不可治。胞移熱於膀胱，則癃溺血。膀胱移熱於小腸，鬲腸不便，上為口糜。小腸移熱於大腸，為慮（音復）瘕，為沉。大腸移熱於胃，善食而瘦，又謂之食亦。胃移熱於膽，亦曰食亦。膽移熱於腦，則辛頞鼻淵；鼻淵者，濁涕下不止也，傳為衄衊（音滅）瞑目。故得之氣厥也。</p>

<h2>咳論</h2>
<p>乘秋則肺先受邪，乘春則肝先受之，乘夏則心先受之，乘至陰則脾先受之，乘冬則腎先受之。肺咳之狀，咳而喘息有音，甚則唾血。心咳之狀，咳則心痛，喉中介介如梗狀，甚咳則咽腫喉痹。肝咳之狀，咳則兩脅下痛，甚則不可以轉，轉則兩胠下滿。脾咳之狀，咳則右脅下痛，隱隱引肩背，甚則不可以動，動則咳劇。腎咳之狀，咳則腰背相引而痛，甚則咳涎。五臟之久咳，乃移於六腑。脾咳不已，則胃受之；胃咳之狀，咳而嘔，嘔甚則長蟲出。肝咳不已，則膽受之；膽咳之狀，咳嘔膽汁。肺咳不已，則大腸受之；大腸咳狀，咳而遺失。心咳不已，則小腸受之；小腸咳狀，咳而失氣，氣與咳俱失。腎咳不已，則膀胱受之；膀胱咳狀，咳而遺溺。久咳不已，則三焦受之；三焦咳狀，咳而腹滿，不欲食飲。此皆聚於胃，關天於肺，使人多涕唾而面浮腫氣逆也。治藏者，治其俞；治府者，治其合；浮腫者，治其經。</p>

<h2>舉痛論</h2>
<p>五臟六腑，固盡有部，視其五色，黃赤為熱，白為寒，青黑為痛，此所謂視而可見者也。百病生於氣也。怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，炅則氣泄，驚則氣亂，勞則氣耗，思則氣結，怒則氣逆，甚則嘔血及飧泄，故氣上矣。喜則氣和志達，榮衛通利，故氣緩矣。悲則心系急，肺布葉舉，而上焦不通，榮衛不散，熱氣在中，故氣消矣。恐則精卻，卻則上焦閉，閉則還氣，還則下焦脹，故氣不行矣。寒則腠理閉，氣不行，故氣收矣。炅則腠理開，榮衛通，汗大泄，故氣泄。驚則心無所倚，神無所歸，慮無所定，故氣亂矣。勞則喘息汗出，外內皆越，故氣耗矣。思則心有所存，神有所歸，正氣留而不行，故氣結矣。</p>

<h2>腹中論</h2>
<p>夫芳草之氣美，石藥之氣悍，二者其氣急疾堅勁，故非緩心和人，不可以服此二者。夫熱氣慓悍，藥氣亦然，二者相遇，恐內傷脾。脾者土也，而惡木，服此藥者，至甲乙日更論。</p>

<h2>風論</h2>
<p>風者，百病之長也。至其變化，乃為他病也。肺風之狀，多汗惡風，色皏然白，時咳短氣，晝日則差，暮則甚，診在眉上，其色自。心風之狀，多汗，惡風，焦絕，善怒嚇，赤色，病甚則言不可快，診在口，其色赤。肝風之狀，多汗惡風，善悲，色微蒼，嗌乾善怒，時憎女子，診在目下，其色青。脾風之狀，多汗惡風，身體怠墮，四肢不欲動，色薄微黃，不嗜食，診在鼻上，其色黃。腎風之狀，多汗惡風，面龐然浮腫，脊痛不能正立，其色炲，隱曲不利，診在肌上，其色黑。胃風之狀，頸多汗惡風，飲食不下，鬲塞不通，腹善滿，失衣則䐜脹，食寒則泄，診形瘦而腸大。首風之狀，頭面多汗惡風，當先風一日則病甚，頭痛不可以出內，至其風日，則病少愈。漏風之狀，或多汗，常不可單衣，食則汗出，甚則身汗，喘息惡風，衣常濡，口乾善渴，不能勞事。泄風之狀，多汗，汗出泄衣上，口中乾，上漬其風，不能勞事，身體盡痛則寒。</p>

<h2>痹論</h2>
<p>痹者，各以其時重感於風寒濕之氣也。凡痹之客五臟者：肺痹者，煩滿喘而嘔；心痹者，脈不通，煩則心下鼓，暴上氣而喘，嗌乾善噫，厥氣上則恐；肝痹者，夜臥則驚，多飲數小便，上為引如懷；腎痹者，善脹，尻以代踵，脊以代頭；脾痹者，四肢解墮，發咳嘔汁，上為大塞；腸痹者，數飲而出不得，中氣喘爭，時發飧泄；胞痹者，少腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕。淫氣喘息，痹聚在肺；淫氣憂思，痹聚在心；淫氣遺溺，痹聚在腎；淫氣之竭，痹聚在肝；淫氣肌絕，痹聚在脾。榮者，水穀之精氣也，和調於五臟，灑陳於六腑，乃能入於脈也，故循脈上下，貫五臟，絡六腑也。衛者，水穀之悍氣也，其氣慓疾滑利，不能入於脈也，故循皮膚之中，分肉之間，熏於肓（音荒）膜，散於胸腹。逆其氣則病，從其氣則愈。不與風寒濕氣合，故不為痹。凡痹之類，逢寒則蟲，逢熱則縱。</p>

<h2>痿論</h2>
<p>肺主身之皮毛，心主身之血脈，肝主身之筋膜，脾主身之肌肉，腎主身之骨髓。故肺熱葉焦，則皮毛虛弱急薄，著則生痿躄也；心氣熱，則下脈厥而上，上則下脈虛，虛則生脈痿，樞折摯脛縱而不任地也；肝氣熱，則膽泄口苦，筋膜乾，筋膜乾則筋急而攣，發為筋痿；脾氣熱，則胃干而渴，肌肉不仁，發為肉痿；腎氣熱，則腰脊不舉，骨枯而髓減，發為骨痿。肺者，藏之長也，為心之蓋也。有所失亡，所求不得，則發肺鳴，鳴則肺熱葉焦，故曰：五臟因肺熱葉焦，發為痿躄。悲哀太甚，則胞絡絕，胞絡絕，則陽氣內動，發則心下崩，數溲血也。故曰：大經空虛，發為肌痹，傳為脈痿。思想無窮，所願不得，意淫於外，入房太甚，宗筋弛縱，發為筋痿，及為白淫。故曰：筋痿者，生於肝，使內也。有漸於濕，以水為事，若有所留，居處相濕，肌肉濡漬，痹而不仁，發為肉痿。故曰：肉痿者，得之濕地也。有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎，腎者，水藏也，今水不勝火，則骨枯而髓虛，故足不任身，發為骨痿。故曰：骨痿者，生於大熱也。肺熱者，色白而毛敗；心熱者，色赤而絡脈溢；肝熱者，色蒼而爪枯；脾熱者，色黃而肉蠕動；腎熱者，色黑而齒槁。</p>

<h2>厥論</h2>
<p>寒厥何失而然也？前陰者，宗筋之所聚，太陰陽明之所合也。春夏則陽氣多而陰氣少，秋冬則陰氣盛而陽氣衰。此人者質壯，以秋冬奪於所用，下氣上爭不能復，精氣溢下，邪氣因從之而上也。氣因於中，陽氣衰，不能滲營其經絡，陽氣日損，陰氣獨在，故手足為之寒也。熱厥何如而然也？酒入於胃，則絡脈滿而經脈虛。脾主為胃行其津液者也，陰氣虛則陽氣入，陽氣入則胃不和，胃不和則精氣竭，精氣竭則不營其四肢也。此人必數醉若飽以入房，氣聚於脾中不得散，酒氣與穀氣相薄，熱盛於中，故熱偏於身，內熱而溺赤也。夫酒氣盛而慓悍，腎氣有衰，陽氣獨勝，故手足為之熱也。巨陽之厥，則腫首頭重，足不能行，發為眴（音赴）僕。陽明之厥，則癲疾欲走呼，腹滿不得臥，面赤而熱，妄見而妄言。少陽之厥，則暴聾，頰腫而熱，脅痛，䯒不可以運。太陰之厥，則腹滿䐜脹，後不利，不欲食，食則嘔，不得臥。少陰之厥，則口乾溺赤，腹滿心痛。厥陰之厥，則少腹腫痛，腹脹，涇溲不利，好臥屈膝，陰縮腫，䯒內熱。盛則瀉之，虛則補之，不盛不虛，以經取之。太陰厥逆，䯒急攣，心痛引腹，治主病者。少陰厥逆，虛滿嘔變，下泄清，治主病者。厥陰厥逆，攣腰痛，虛滿前閉，譫言，治主病者。三陰俱逆，不得前後，使人手足寒，三日死。太陽厥逆，僵仆，嘔血善衄，治主病者。少陽厥逆，機關不利，機關不利者，腰不可以行，項不可以顧，發腸癰，不可治，驚者死。陽明厥逆，喘咳身熱，善驚衄嘔血。手太陰厥逆，虛滿而咳，善嘔沫，治主病者。手心主、少陰厥逆，心痛引喉，身熱，死不可治。手太陽厥逆，耳聾泣出，項不可以顧，腰不可以俯仰，治主病者。手陽明、少陽厥逆，發喉痹，嗌腫，痓，治主病者。</p>

<h2>奇病論</h2>
<p>有病口甘者，此五氣之溢也，名曰脾癉。夫五味入口，藏於胃，脾為之行其精氣，津液在脾，故令人口甘也。此肥美之所發也。此人必數食甘美而多肥也。肥者令人內熱，甘者令人中滿，故其氣上溢，轉為消渴。治之以蘭，除陳氣也。有病口苦者，名曰膽癉。夫肝者，中之將也，取決於膽，咽為之使。此人者，數謀慮不決，故膽虛，氣上溢，而口為之苦。治之以膽募俞。</p>

<h2>大奇論</h2>
<p>心脈滿大，癇瘛筋攣。肝脈小急，癇瘛筋攣。肝脈騖暴，有所驚駭，脈不至若瘖，不治自已。腎脈小急，肝脈小急，心脈小急，不鼓皆為瘕。腎、肝並沉為石水，並浮為風水，並虛為死，並小弦欲驚。腎脈大急沉，肝脈大急沉，皆為疝。心脈搏滑急為心疝：肺脈沉搏為肺疝。三陽急為瘕；三陰急為疝；二陰急為癇厥；二陽急為驚。脾脈外鼓沉，為腸澼，久自已。肝脈小緩，為腸澼，易治。腎脈小搏沉，為腸澼，下血，血溫身熱者死。心肝澼亦下血，二藏同病者，可治。其脈小沉澀為腸澼，其身熱者死，熱見七日死。胃脈沉鼓澀，胃外鼓大，心脈小堅急，皆鬲偏枯。男子發左，女子發右，不瘖舌轉，可治，三十日起；其從者瘖瘖，三歲起；年不滿二十者，三歲死。脈至而搏，血衄身熱者死。脈來懸鉤浮為常脈。脈至如喘，名曰暴厥，暴厥者，不知與人言。脈至如數，使人暴驚，三四日自已。脈至浮合，浮合如數，一息十至以上，是經氣予不足也，微見，九十日死；脈至如火薪然，是心精之予奪也，草乾而死；脈至如散葉，是肝氣予虛也，木葉落而死；脈至如省客，省客者，脈塞而鼓，是腎氣予不足也，懸去棗華而死；脈至如丸泥，是胃精予不足也，榆莢落而死；脈至如橫格，是膽氣予不足也，禾熟而死；脈至如弦縷，是胞精予不足也，病善言，下霜而死，不言可治；脈至如交漆，交漆者，左右傍至也，微見，三十日死；脈至如湧泉，浮鼓肌中，太陽氣予不足也，少氣味韭英而死。脈至如頹土之狀，按之不得，是肌氣予不足也，五色先見黑，白壘發死；脈至如懸雍，懸雍者，浮揣，切之益大，是十二俞之予不足也，水凝而死；脈至如偃刀，偃刀者，浮之小急，按之堅大急，五臟菀熟，寒熱獨並於腎也，如此其人不得坐，立春而死；脈至如丸滑，不直手，不直手者，按之不可得也，是大腸氣予不足也，棗葉生而死；脈至如華者，令人善恐，不欲坐臥，行立常聽，是小腸氣予不足也，季秋而死。</p>

<h2>刺禁論</h2>
<p>藏有要害，不可不察！肝生於左，肺藏於右，心部於表，腎治於裡，脾為之使，胃為之部，鬲肓之上，中有父母，七節之傍，中有小心。從之有福，逆之有咎。刺中心，一日死，其動為噫。刺中肝，五日死，其動為語。刺中腎，六日死，其動為嚏。刺中肺，三日死，其動為咳。刺中脾，十日死，其動為吞。刺中膽，一日半死，其動為嘔。刺跗上，中大脈，血出不止，死。刺面，中溜脈，不幸為盲。刺頭，中腦戶，入腦立死。刺舌下，中脈太過，血出不止為瘖。刺足下布絡，中脈，血不出為腫。刺郄中大脈，令人僕脫色。刺氣街中脈，血不出，為腫鼠僕。刺脊間，中髓為傴。刺乳上，中乳房，為腫根蝕。刺缺盆中內陷，氣泄，令人咳逆。刺手魚腹內陷，為腫。無刺大醉，令人氣亂。無刺大怒，令人氣逆。無刺大勞人，無刺新飽人，無刺大飢人，無刺大渴人，無刺大驚人。刺陰股，中大脈，血出不止，死。刺客主人內陷，中脈，為內漏為聾。刺膝（音牝）髕，出液為跛。刺臂太陰脈，出血多，立死。刺足少陰脈，重虛出血，為舌難以言。刺膺中陷，中肺，為喘逆仰息。刺肘中內陷，氣歸之，為不屈伸。刺陰股下三寸內陷，令人遺溺。刺腋下脅間內陷，令人咳。刺少腹，中膀胱，溺出，令人少腹滿。刺腨腸內陷，為腫。刺匡上陷骨中脈，為漏為盲。刺關節中液出，不得屈伸。</p>

<h2>刺志論</h2>
<p>氣實形實，氣虛形虛，此其常也，反此者病。谷盛氣盛，谷虛氣虛，此其常也，反此者病。脈實血實，脈虛血虛，此其常也，反此者病。氣虛身熱，此謂反也；谷入多而氣少，此謂反也；谷不入而氣多，此謂反也；脈盛血少，此謂反也；脈少血多，此謂反也。氣盛身寒，得之傷寒。氣虛身熱，得之傷暑。谷入多而氣少者，得之有所脫血，濕居下也。谷入少而氣多者，邪在胃及與肺也。脈小血多者，飲中熱也。脈大血少者，脈有風氣，水漿不入，此之謂也。夫實者，氣入也，虛者，氣出也；氣實者熱也，氣虛者寒也。入實者，左手開針空也；入虛者，左手閉針空也。</p>

<h2>針解篇</h2>
<p>夫一天、二地、三人、四時、五音、六律、七星、八風、九野，身形亦應之，針各有所宜，故曰九針。人皮應天，人肉應地，人脈應人，人筋應時，人聲應音，人陰陽合氣應律，人齒面目應星，人出入氣應風，人九竅三百六十五絡應野。故一針皮，二針肉，三針脈，四針筋，五針骨，六針調陰陽，七針益精，八針除風，九針通九竅，除三百六十五節氣，此謂各有所生也。人心意應八風，人氣應天，人發齒耳目五聲，應五音六律，人陰陽脈血氣應地，人肝目應之九。</p>

<h2>皮部論</h2>
<p>欲知皮部，以經脈為紀者，諸經皆然。陽明之陽，名曰害蜚，上下同法，視其部中有浮絡者，皆陽明之絡也。其色多青則痛，多黑則痹，黃赤則熱，多白則寒，五色皆見，則寒熱也。絡盛則入客於經，陽主外，陰主內。少陽之陽，名曰樞持，上下同法，視其部中有浮絡者，皆少陽之絡也。絡盛則入客於經，故在陽者主內，在陰者主出以滲於內，諸經皆然。太陽之陽，名曰關樞，上下同法，視其部中有浮絡者，皆太陽之絡也。絡盛則入客於經。少陰之陰，名曰樞儒，上下同法，視其部中有浮絡者，皆少陰之絡也。絡盛則入客於經，其入經也，從陽部注於經；其出者，從陰內注於骨。心主之陰，名曰害肩，上下同法，視其部中有浮絡者，皆心主之絡也。絡盛則入客於經。太陰之陰，名曰關蟄，上下同法，視其部中有浮絡者，皆太陰之絡也。絡盛則入客於經。凡十二經絡脈者，皮之部也。是故百病之始生也，必先於皮毛；邪中之則腠理開，開則入客於絡脈；留而不去，傳入於經；留而不去，傳入於腑，廩於腸胃。邪之始入於皮也，泝然起毫毛，開腠理；其入於絡也，則絡脈盛色變；其入客於經也，則感虛乃陷下；其留於筋骨之間，寒多則筋攣骨痛，熱多則筋弛骨消，肉爍㬷破，毛直而敗。皮者，脈之部也。邪客於皮，則腠理開，開則邪入客於絡脈；絡脈滿則注於經脈；經脈滿則入舍於腑臟也。故皮者有分部，不與，而生大病也。</p>

<h2>經絡論</h2>
<p>經有常色，而絡無常變。心赤、肺白、肝青、脾黃、腎黑，皆亦應其經絡之色也。陰絡之色應其經，陽絡之色變無常，隨四時而行也。寒多則凝泣，凝泣則青黑；熱多則淖澤，淖澤則黃赤。此皆常色，謂之無病。五色具見者，謂之寒熱。</p>

<h2>氣穴論</h2>
<p>氣穴三百六十五，以應一歲。臟俞五十穴，腑俞七十二穴，熱俞五十九穴，水俞五十七穴，頭上五行行五，五五二十五穴，中𦛗兩傍各五，凡十穴，大椎上兩傍各一，凡二穴，目瞳子浮白二穴，兩髀厭分中二穴，犢鼻二穴，耳中多所聞二穴，眉本二穴，完骨二穴、頂中央一穴，枕骨二穴，上關二穴，大迎二穴，下關二穴，天柱二穴，巨虛上下廉四穴，曲牙二穴，天突一穴，天府二穴，天牖二穴，扶突二穴，天䆫二穴，肩解二穴，關元一穴，委陽二穴，肩貞二穴，瘖門一穴，齊一穴，胸俞十二穴，背俞二穴，膺俞十二穴，分肉二穴，踝上橫二穴，陰陽蹻四穴。水俞在諸分，熱俞在氣穴，寒熱俞在兩骸厭中二穴，大禁二十五，在天府下五寸。凡三百六十五穴，針之所由行也。孫絡三百六十五穴會，亦以應一歲。肉之大會為谷，肉之小會為溪。溪谷三百六十五穴會，亦應一歲。孫絡之脈別經者，其血盛而當瀉者，亦三百六十五脈，並注於絡，傳注十二絡脈，非獨十四絡脈也，內解瀉於中者十脈。</p>

<h2>氣府論</h2>
<p>足太陽脈氣所發者，七十八穴：兩眉頭各一，入發至項三寸半，傍五，相去三寸。其浮氣在皮中者，凡五行，行五，五五二十五，項中大筋兩傍各一，風府兩傍各一。俠背以下至尻尾二十一節，十五間各一，五臟之俞各五，六腑之俞各六，委中以下至足小指傍各六俞。足少陽脈氣所發者六十二穴：兩角上各二，直目上髮際內各五，耳前角上各一，耳前角下各一，銳發下各一，客主人各一，耳後陷中各一，下關各一，耳下牙車之後各一，缺盆各一，腋下三寸，脅下至胠八間各一，髀樞中傍各一，膝以下至足小指次指各六俞。足陽明脈氣所發者六十八穴：額顱髮際傍各三，面鼽骨空各一，大迎之骨空各一，人迎各一，缺盆外骨空各一，膺中骨間各一，俠鳩尾之外，當乳下三寸，俠胃腕各五，俠齊廣三寸各三，下齊二寸俠之各三，氣街動脈各一，伏兔上各一，三里以下至足中指各八俞，分之所在穴空。手太陽脈氣所發者三十六穴：目內眥各一，目外各一，鼽骨下各一，耳郭上各一，耳中各一，巨骨穴各一，曲掖上骨穴各一，柱骨上陷者各一，上天䆫四寸各一，肩解各一，肩解下三寸各一，肘以下至手小指本各六俞。手陽明脈氣所發者二十二穴：鼻空外廉、項上各二，大迎骨空各一，柱骨之會各一，骨之會各一，肘以下至手大指、次指本各六俞。手少陽脈氣所發者三十二穴：鼽骨下各一，眉後各一，角上各一，下完骨後各一，項中足太陽之前各一，俠扶突各一，肩貞各一，肩貞下三寸分間各一，肘以下至手小指、次指本各六俞。督脈氣所發者二十八穴：項中央二，髮際後中八，面中三，大椎以下至尻尾及傍十五穴。至骶下凡二十一節，脊椎法也。任脈之氣所發者二十八穴（今少一穴）：喉中央二，膺中骨陷中各一，鳩尾下三寸，胃腕五寸，胃腕以下至橫骨六寸半一，腹脈法也。下陰別一，目下各一，下唇一，齦交一。衝脈氣所發者二十二穴：俠鳩尾外各半寸至臍寸一，俠臍下傍各五分至橫骨寸一，腹脈法也。足少陰舌下，厥陰毛中急脈各一，手少陰各一，陰陽蹻各一。手足諸魚際脈氣所發者，凡三百六十五穴也。</p>

<h2>骨空論</h2>
<p>任脈者，起於中之下，以上毛際，循腹裡，上關元，至咽喉，上頤循面入目。衝脈者，起於氣街，並少陰之經，俠齊上行，至胸中而散。督脈者，起於少腹以下骨中央，女子入系廷孔。其孔，溺孔之端也。其絡循陰器，合篡間，繞篡後，別繞臀至少陰，與巨陽中絡者，合少陰上股內後廉，貫脊屬腎，與太陽起於目內眥，上額，交巔上，入絡腦，還出別下項，循肩膊內，俠脊抵腰中，入循膂，絡腎。其男子循莖下至篡，與女子等。其少腹直上者，貫臍中央，上貫心，入喉，上頤環唇，上系兩目之下中央。</p>

<h2>水熱穴論</h2>
<p>寒盛則生熱。</p>

<h2>調經論</h2>
<p>心藏神，肺藏氣，肝藏血，脾藏肉，腎藏志。五臟之道，皆出於經隧，以行血氣，血氣不和，百病乃變化而生，是故守經隧焉。神有餘則笑不休，神不足則悲。血氣未並，五贓安定，邪客於形，灑淅起於毫毛，未入於經絡也，故命曰神之微。氣有餘則喘咳上氣，不足則息利少氣。血氣未並，五臟安定，皮膚微病，命曰白氣微泄。血有餘則怒，不足則恐。血氣未並，五臟安定，孫絡水溢，則經有留血。形有餘則腹長，涇溲不利，不足則四肢不用。血氣未並，五臟安定，肌肉蠕動，命曰微風。志有餘則腹脹飧泄，不足則厥。血氣未並，五臟安定，骨節有動。氣血以並，陰陽相傾，氣亂於衛，血逆於經，血氣離居，一實一虛。血並於陰，氣並於陽，故為驚狂；血並於陽，氣並於陰，乃為炅中；血並於上，氣並於下，心煩惋善怒；血並於下，氣並於上，亂而喜忘。血氣者，喜溫而惡寒，寒則泣不能流，溫則消而去之，是故氣之所併為血虛，血之所併為氣虛。有者為實，無者為虛。故氣並則無血，血並則無氣，今血與氣相失，故為虛焉。絡之與孫脈，俱轉於經，血與氣並，則為實焉。血之與氣，並走於上，則為大厥，厥則暴死，氣復反則生，不反則死。夫陰與陽，皆有俞會。陽注於陰，陰滿之外，陰陽勻平，以充其形，九候若一，命曰平人。夫邪之生也，或生於陰，或生於陽。其生於陽者，得之風雨寒暑；其生於陰者，得之飲食居處，陰陽喜怒。風雨之傷人也，先客於皮膚，傳入於孫脈，孫脈滿則傳入於絡脈，絡脈滿則輸於大經脈。血氣與邪並客於分腠之間，其脈堅大，故曰實。實者外堅充滿，不可按之，按之則痛。寒濕之中人也，皮膚不收，肉堅緊，榮血泣，衛氣去，故曰虛。虛者，聶闢氣不足，按之則氣足以溫之，故快然而不痛。喜怒不節，則陰氣上逆，上逆則下虛，下虛則陽氣走之，故曰實矣。喜則氣下，悲則氣氣消，消則脈虛空；因寒飲食，寒氣熏滿，則血泣氣去，故曰虛矣。陽受氣於上焦，以溫皮膚分肉之間，今寒氣在外，則上焦不通，上焦不通，則寒氣獨留於外，故寒慄。有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，胃氣熱，熱氣熏胸中，故內熱。上焦不通利，則皮膚緻密，腠理閉塞，玄府不通，衛氣不得泄越，故外熱。厥氣上逆，寒氣積於胸中而不瀉，不瀉則溫氣去，寒獨留，則血凝泣，凝則脈不通，其脈盛大以澀，故中寒。五臟者，故得六腑與為表裡，經絡支節，各生虛實，其病所居，隨而調之。病在脈，調之血；病在血，調之絡；病在氣，調之衛；病在肉，調之分肉；病在筋，調之筋；病在骨，調之骨。</p>

<h2>四時刺逆從論</h2>
<p>厥陰有餘，病陰痹；不足，病生熱痹；滑則病狐疝風；澀則病少腹積氣。少陰有餘，病皮痹隱軫；不足，病肺痹；滑則病肺風疝；澀則病積溲血。太陰有餘，病肉痹寒中；不足，病脾痹；滑則病脾風疝；澀則病積，心腹時滿。陽明有餘，病脈痹；身時熱；不足，病心痹；滑則病心風疝；澀則病積，時善驚。太陽有餘，病骨痹身重；不足，病腎痹；滑則病腎風疝；澀則病積，善時巔疾。少陽有餘，病筋痹脅滿；不足，病肝痹；滑則病肝風疝；澀則病積，時筋急目痛。是故春氣在經脈，夏氣在孫絡，長夏氣在肌肉，秋氣在皮膚，冬氣在骨髓中。春者，天氣始開，地氣始泄，凍解冰釋，水行經通，故人氣在脈。夏者，經滿氣溢，入孫絡受血，皮膚充實。長夏者，經絡皆盛，內溢肌中。秋者，天氣始收，腠理閉塞，皮膚引急。冬者蓋藏，血氣在中，內著骨髓，通於五臟。是故邪氣者，常隨四時之氣血而入客也，至其變化，不可為度，然必從其經氣，闢除其邪，除其邪則亂氣不生。春刺絡脈，血氣外溢，令人少氣；春刺肌肉，血氣環逆，令人上氣；春刺筋骨，血氣內著，令人腹脹。夏刺經脈，血氣乃竭，令人解㑊；夏刺肌肉，血氣內卻，令人善恐；夏刺筋骨，血氣上逆，令人善怒。秋刺經脈，血氣上逆，令人善忘；秋刺絡脈，氣不外行，令人臥不欲動；秋刺筋骨，血氣內散，令人寒慄。冬刺經脈，血氣皆脫，令人目不明；冬刺絡脈，內氣外泄，留為大痹；冬刺肌肉，陽氣竭絕，令人善忘。</p>

<h2>標本病傳論</h2>
<p>治反為逆，治得為從。先病而後逆者治其本；先逆而後病者治其本。先寒而後生病者治其本；先病而後生寒者治其本。先熱而後生病者治其本；先熱而後生中滿者治其標。先病而後泄者治其本；先泄而後生他病者治其本，必且調之，乃治其他病。先病而後先中滿者治其標；先中滿而後煩心者治其本。人有客氣有同氣。小大不利治其標；小大利治其本。病發而有餘，本而標之，先治其本，後治其標；病發而不足，標而本之，先治其標，後治其本。先小大不利而後生病者治其本。夫病傳者，心病先心痛，一日而咳；三日脅支痛；五日閉塞不通，身痛體重；三日不已，死。冬夜半，夏日中。肺病喘咳，三日而脅支滿痛；一日身重體痛；五日而脹；十日不已，死。冬日入，夏日出。肝病頭目眩，脅支滿，三日體重身痛；五日而脹；三日腰脊少腹痛，脛酸；三日不已，死。冬日入，夏早食。脾病身痛體重，一日而脹；二日少腹腰脊痛脛酸；三日背𦛗筋痛，小便閉；十日不已，死。冬人定，夏晏食。腎病少腹腰脊痛，䯒酸，三日背𦛗筋痛，小便閉；三日腹脹；三日兩脅支痛，三日不已，死。冬大晨，夏晏脯。胃病脹滿，五日少腹腰脊痛䯒酸；三日背䯒筋痛，小便閉；五日身體重；六日不已，死。冬夜半後，夏日昳。膀胱病，小便閉，五日少腹脹，腰脊痛，䯒酸；一日腹脹，一日身體痛；二日不已，死。冬雞鳴，夏下脯。諸病以次是相傳，如是者，皆有死期，不可刺。</p>

<h2>天元紀大論</h2>
<p>天有五行御五位，以生寒暑燥濕風；人有五臟化五氣，以生喜怒思憂恐。故物生謂之化，物極謂之變，陰陽不測謂之神，神用無方謂之聖。夫變化之為用也，在天為玄，在人為道，在地為化；化生五味，道生智，玄生神。神在天為風，在地為木；在天為熱，在地為火，在天為濕，在地為土；在天為燥，在地為金；在天為寒，在地為水。故在天為氣，在地成形，氣形相感而化生萬物矣。然天地者，萬物之上下也；左右者，陰陽之道路也；水火者，陰陽之徵兆也；金木者，生成之終始也。氣有多少，形有盛衰，上下相召，而損益彰矣。太虛寥廓，肇基化元，萬物資始，五運終天，布氣真靈，總統坤元，九星懸朗，七曜周旋，曰陰曰陽，曰柔曰剛，幽顯既位，寒暑弛張，生生化化，品物咸章。陰陽之氣，各有多少，故曰三陰三陽也。形有盛衰，謂五行之治，各有太過不及也。故其始也，有餘而往，不足隨之；不足而往，有餘從之。知迎知隨，氣可與期，應天為天符，承歲為歲直，三合為治。寒暑燥濕風火，天之陰陽也，三陰三陽上奉之；木火土金水火，地之陰陽也，生長化收藏下應之。天以陽生陰長，地以陽殺陰藏。天有陰陽，地亦有陰陽。木火土金水火，地之陰陽也，生長化收藏。故陽中有陰，陰中有陽。所以欲知天地之陰陽者，應天之氣，動而不息，故五歲而右遷；應地之氣，靜而守位，故六期而環會。動靜相召，上下相臨，陰陽相錯，而變由生也。天以六為節，地以五為制。周天氣者，六期為一備；終地紀者，五歲為一周。君火以明，相火以位。五六相合，而七百二十氣為一紀，凡三十歲；千四百四十氣，凡六十歲而為一周，不及太過，期皆見矣。甲己之歲，土運統之；乙庚之歲，金運統之；丙辛之歲，水運統之；丁壬之歲，木運統之；戊癸之歲，火運統之。子午之歲，上見少陰；醜末之歲，上見太陰；寅申之歲，上見少陽；卯酉之歲，上見陽明；辰戌之歲，上見太陽；巳亥之歲，上見厥陰。少陰所謂標也，厥陰所謂終也。厥陰之上，風氣主之；少陰之上，熱氣主之；太陰之上，濕氣主之；少陽之上，相火主之；陽明之上，燥氣主之；太陽之上，寒氣主之。所謂本也，是謂六元。</p>

<h2>五運行大論</h2>
<p>丹天之氣，經於牛女戊分；黅（音今）天之氣，經於心尾已分；蒼天之氣，經於危室柳鬼，素天之氣，經於亢氐昂畢；玄天之氣，經於張翼婁胃。所謂戊巳分者，奎璧角軫，則天地之門戶也。夫候之所始，道之所生，不可不通也。所謂上下者，歲上下見陰陽之所在也。左右者，諸上見厥陰，左少陰，右太陽；見少陰，左太陰，右厥陰；見太陰，左少陽，右少陰；見少陽，左陽明，右太陰；見陽明，左太陽，右少陽；見太陽，左厥陰，右陽明。所謂面北而命其位，言其見也。厥陰在上，則少陽在下，左陽明，右太陰；少陰在上，則陽明在下，左太陽，右少陽；太陰在上，則太陽在下，左厥陰，右陽明；少陽在上，則厥陰在下，左少陰，右太陽；陽明在上，則少陰在下，左太陰，右厥陰；太陽在上，則太陰在下，左少陽，右少陰。所謂面南而命其位，言其見也。上下相遘，寒暑相臨，氣相得則和，不相得則病。氣相得而病者，以下臨上不當位也。上者右行，下者左行，左右周天，余而復會也。夫變化之用，天垂象，地成形，七曜緯虛，五行麗地。地者，所以載生成之形類也；虛者，所以列應天之精氣也。形精之動，猶根本之與枝葉也，仰觀其象，雖遠可知也。地為人之下，太虛之中，大氣舉之也。燥以干之，暑以蒸之，風以動之，濕以潤之，寒以堅之，火以溫之。故風寒在下，燥濕在上，濕氣在中，火遊行其間，寒暑六入，故令虛而化生也。故燥勝則地干，暑勝則地熱，風勝則地動，濕勝則地泥，寒勝則地裂，火勝則地固矣。天地之氣，勝復之作，不形於診也。《脈法》曰：天地之變，無以脈診。此之謂也。隨氣所在，期於左右。從其氣則和，違其氣則病，不當其位者病，迭移其位者病，失守其位者危，尺寸反者死，陰陽交者死。先立其年，以知其氣，左右應見，然後乃可以言死生之逆順。寒暑燥濕風火，在人合之，萬物以生化。東方生風，風生木，木生酸，酸生肝，肝生筋，筋生心。其在天為玄，在人為道，在地為化。化生五味，道生智，玄生神，化生氣。神在天為風，在地為木，在體為筋，在氣為柔，在藏為肝。其性為暄，其德為和，其用為動，其色為蒼，其化為榮，其蟲毛，其政為散，其令宣發，其變摧拉，其盲為隕，其味為酸，其志為怒。怒傷肝，悲勝怒；風傷肝，燥勝風；酸傷筋，辛勝酸。南方生熱，熱生火，火生苦，苦生心，心生血，血生脾。其在天為熱，在地為火，在體為脈，在氣為息，在藏為心。其性為暑，其德為顯，其用為躁，其色為赤，其化為茂，其蟲羽，其政為明，其令鬱蒸，其變炎爍，其眚燔焫，其味為苦，其志為喜。喜傷心，恐勝喜；熱傷氣，寒勝熱；苦傷氣，咸勝苦。中央生濕，濕生土，土生甘，甘生脾，脾生肉，肉生肺。其在天為濕，在地為土，在體為肉，在氣為充，在藏為脾。其性靜兼，其德為濡，其用為化，其色為黃，其化為盈，其蟲倮（音盡），其政為謐，其令雲雨，其變動注，其眚淫潰，其味為甘，其志為思。思傷脾，怒勝思；濕傷肉，風勝濕；甘傷脾，酸勝甘。西方生燥，燥生金，金生辛，辛生肺，肺生皮毛，皮毛生腎。其在天為燥，在地為金，在體為皮毛，在氣為成，在藏為肺。其性為涼，其德為清，其用為固，其色為白，其化為斂，其蟲介，其政為勁，其令霧露，其變肅殺，其眚蒼落，其味為辛，其志為憂。憂傷肺，喜勝憂；熱傷皮毛，寒勝熱；辛傷皮毛，苦勝辛。北方生寒，寒生水，水生咸，咸生腎，腎生骨髓，髓生肝。其在天為寒，在地為水，在體為骨，在氣為堅，在藏為腎。其性為凜，其德為寒，其用為本闕，其色為黑，其化為肅，其蟲鱗，其政為靜，其令本闕，其變凝冽，其眚冰雹，其味為咸，其志為恐。恐傷腎，思勝恐；寒傷血，燥勝寒；咸傷血，甘勝咸。五氣更立，各有所先，非其位則邪，當其位則正。病之生變，氣相得則微，不相得則甚。</p>

<h2>六微旨大論</h2>
<p>帝曰：願聞天道六六之節，盛衰何也？岐伯曰：上下有位，左右有紀。故少陽之右，陽明治之；陽明之右，太陽治之；太陽之右，厥陰治之；厥陰之右，少陰治之；少陰之右，太陰治之；太陰之右，少陽治之。此所謂氣之標，蓋南面而待之也。故曰：因天之序，盛衰之時，移光定位，正立而待之。此之謂也。少陽之上，火氣治之，中見厥陰；陽明之上，燥氣治之，中見太陰；太陽之上，寒氣治之，中見少陰；厥陰之上，風氣治之，中見少陽；少陰之上，熱氣治之，中見太陽；太陰之上，濕氣治之，中見陽明。所謂本也，本之下，中之見也，見之下，氣之標也。木標不同，氣應異象。其有至而至者和；至而不至，來氣不及也；未至而至，來氣有餘也。應則順，否則逆，逆則變生，變生則病。物，生其應也；氣，脈其應也。顯明之右，君火之位也；君火之右，退行一步，相火治之；復行一步，土氣治之；復行一步，金氣治之；復行一步，水氣治之；復行一步，木氣治之；復行一步，君火治之。相火之下，水氣承之；水位之下，土氣承之；土位之下，風氣承之；風位之下，金氣承之；金位之下，火氣承之；君火之下，陰精承之。亢則害，承乃制，制則生化，外列盛衰，害則敗亂，生化大病。非其位則邪，當其位則正。邪則變甚，正則微。木運臨卯，火運臨午，土運臨四季，金運臨酉，水運臨子，所謂歲會，氣之平也。非位，歲不與會也。土運之歲，上見太陰；火運之歲，上見少陽、少陰；金運之歲，上見陽明；木運之歲，上見厥陰；水運之歲，上見太陽。天之與會也，故天元冊曰天符。天符為執法，歲位為行令，太一天符為貴人。中執法者，其病速而危；中行令者，其病徐而持；中貴人者，其病暴而死。位之易也，君位臣則順，臣位君則逆。逆則其病近，其害速；順則其病遠，其害微。所謂二火也。所謂步者，六十度而有奇，故二十四步積盈百刻而成日也。六氣應五行之變，位有終始，氣有初中，上下不同，求之亦異也。天氣始於甲，地氣始於子，子甲相合，命曰歲立。謹候其時，氣可與期。甲子之歲，初之氣，天數始於水下一刻，終於八十七刻半；二之氣始於八十七刻六分，終於七十五刻；三之氣始於七十六刻，終於六十二刻半；四之氣始於六十二刻六分，終於五十刻；五之氣始於五十一刻，終於三十七刻半；六之氣始於三十七刻六分，終於二十五刻。所謂初六，天之數也。乙丑歲，初之氣，天數始於二十六刻，終於一十二刻半；二之氣始於一十二刻六分，終於水下百刻；三之氣始於一刻，終於八十七刻半；四之氣始於八十七刻六分，終於七十五刻；五之氣始於七十六刻，終於六十二刻半；六之氣始於六十二刻六分，終於五十刻。所謂六二，天之數也。丙寅歲，初之氣，天數始於五十一刻，終於三十七刻半；二之氣始於三十七刻六分，終於二十五刻；三之氣始於二十六刻，終於一十二刻半；四之氣始於一十二刻六分，終於水下百刻；五之氣始於一刻，終於八十七刻半；六之氣始於八十七刻六分，終於七十五刻。所謂六三，天之數也。丁卯歲，初之氣，天數始於七十六刻，終於六十二刻半；二之氣始於六十二刻六分，終於五十刻；三之氣始於五十一刻，終於三十七刻半；四之氣始於三十七刻六分；終於二十五刻；五之氣始於二十六刻，終於一十二刻半；六之氣始於一十二刻六分，終於水下百刻。所謂六四，天之數也。次戊辰歲，初之氣復始於一刻，常如是無已，周而復始。日行一周，天氣始於一刻，日行再周，天氣始於二十六刻，日行三周，天氣始於五十一刻，日行四周，天氣始於七十六刻，日行五周，天氣復始於一刻，所謂一紀也。是故寅午戌歲氣會同，卯未亥歲氣會同，辰申子歲氣會同，巳酉醜歲氣會同。終而復始其用也。言天者求之本，言地者求之位，言人者求之氣交。上下之位，氣交之中，人之居也。故曰：天樞之上，天氣主之；天樞之下，地氣主之；氣交之分，人氣從之，萬物由之。何謂初中？初凡三十度而有奇，中氣同法。初中何也？所以分天地也。初者地氣也，中者天氣也。氣之升降，天地之更用也。升已而降，降者謂天；降已而升，升者謂地。天氣下降，氣流於地；地氣上升，氣騰於天。故高下相召，升降相因，而變作矣。</p>

<h1>卷下</h1>

<h2>氣交變大論</h2>
<p>夫道者，上知天文，下知地理，中知人事，可以長久。本氣，位也。位天者，天文也。位地者，地理也。通於人氣之變化者，人事也。故太過者先天，不及者後天，所謂治化，而人應之也。五運之化，太過何如？歲木太過，風氣流行，脾土受邪。民病飧泄，食減，體重，煩冤，腸鳴，腹支滿，上應歲星。甚則忽忽善怒，眩胃巔疾。化氣不政，生氣獨治，雲物飛動，草木不寧，甚而搖落。反脅痛而吐甚。衝陽絕者，死不治。上應太白星。歲火太過，炎暑流行，金肺受邪。民病瘧，少氣，咳喘，血溢，血泄，注下，嗌燥，耳聾，中熱，肩背熱。上應熒惑星。甚則胸中痛，脅支滿脅痛，膺背肩胛間痛，四臂內痛，身熱骨痛而為浸淫。收氣不行，長氣獨明，雨水霜寒，上應辰星。上臨少陰少陽，火燔焫，冰泉涸，物焦槁。病反譫妄狂越，咳喘息鳴，下甚，血溢泄不已。太淵絕者，死不治。上應熒惑星。歲土太過，雨濕流行，腎水受邪。民病腹痛，清厥，意不樂，體重，煩冤，上應鎮星。甚則肌肉萎，足痿不收，行善瘛，腳下痛，飲發中滿，食減，四肢不舉。變生得位，藏氣伏，化氣獨治之，泉湧河衍，涸澤生魚，風雨大治，土崩潰，鱗見於陸。病腹滿溏泄，腸鳴反下甚。而太谿絕者，死不治。上應歲星。歲金太過，燥氣流行，肝木受邪。民病兩脅下少腹痛，目赤痛，背瘍，耳無所聞。肅殺而甚，則體重，煩冤，胸痛引背，兩脅滿且痛引少腹，上應太白星。甚則喘咳逆氣，肩背痛，尻、陰、股、膝、髀、腨、胻、足皆病，上應熒惑星。收氣峻，生氣下，草木斂，蒼干凋隕。病反暴痛，脅不可反側，逆甚而血溢。太衝絕者，死不治。上應太白星。歲水太過，寒氣流行，邪害心火。民病身熱煩心，躁悸，陰厥，上下中寒，譫妄心痛，寒氣早至，上應辰星。甚則腹大脛腫，咳喘，寢汗出，憎風，大雨至，埃霧朦郁，上應鎮星。上臨太陽，雨冰雪霜不時降，濕氣變物。病反腹滿，腸鳴溏泄，食不化，渴而妄冒。神門絕者，死不治。上應熒惑、辰星。其不及何如？歲木不及，燥乃大行，生氣失應，草木晚榮。肅殺而甚，則剛木闢著，悉萎蒼干，上應太白星。民病中清，胠脅痛，少腹痛，腸鳴溏泄。涼雨時至，上應太白星，其谷蒼。上臨陽明，生氣失政，草木再榮，化氣乃急，上應太白鎮星，其主蒼早。復則炎暑流火，濕性燥，柔脆草木焦槁，下體再生，華實齊化。病寒熱，瘡瘍，痱疹，癰痤。上應熒惑太白，其谷白堅。白露早降，收殺氣行，寒雨害物，蟲食甘黃。脾土受邪，赤氣後化，心氣晚治，上勝肺金，白氣乃屈，其谷不成，咳而鼽。上應熒惑、太白星。歲火不及，寒乃大行，長政不用，物榮而下。凝慘而甚，則陽氣不化，乃折榮美，上應辰星。民病胸中痛，脅支滿，兩脅痛，膺背肩脾間及兩臂內痛，鬱冒朦昧，心痛暴喑，胸腹大，脅下與腰背相引而痛，甚則屈不能伸，髓髀如別。上應熒惑、辰星，其谷丹。復則埃郁，大雨且至，黑乃乃辱，病鶩（音木）溏，腹滿，食飲不下，寒中，腸鳴泄注，腹痛，暴攣痿痹，足不任身。上應鎮星、辰星。玄谷不成。歲土不及，風乃大行，化氣不令，草木榮茂。飄揚而甚，秀而不實，上應歲星。民病飧泄，霍亂，體重腹痛，筋骨徭復，肌肉瞤（音閏）酸，善怒。藏氣舉事，蟄蟲早附，咸病寒中，上應歲星、鎮星，其谷黅。復則收政嚴峻，名木蒼凋，胸脅暴痛，下引少腹，善太息。蟲食甘黃，氣客於脾，谷乃減，民食少失味。蒼谷乃損，上應太白歲星。上臨厥陰，流水不冰，蟄蟲來見。藏氣不用，白乃不復，上應歲星，民乃康。歲金不及，炎火乃行，生氣乃用，長氣專勝，庶物以茂，燥爍以行，上應熒惑星。民病肩背瞀（音冒）重，鼽嚏，血便注下。收氣乃後，上應太白星，其谷堅芒。復則寒雨暴至，乃零冰雹霜雪殺物，陰厥且格，陽反上行，頭腦戶痛，延及囟頂，發熱。上應辰星，丹谷不成。民病口瘡，甚則心痛。歲水不及，濕乃大行，長氣反用，其化乃速，暑雨數至，上應鎮星。民病腹滿，身重，濡泄，寒瘍流水，腰股痛發，膕腨股膝不便，煩冤，足痿清厥，腳下痛，甚則跗腫。藏氣不政，腎氣不沖，上應辰星，其谷秬。上臨太陰，則大寒數舉，蟄蟲早藏，地積堅冰，陽光不治，民病寒疾於下，甚則腹滿浮腫，上應鎮星，其主黅谷。復則大風早發，草偃木令，生長不鮮，面色時變，筋骨並闢，肉瞤瘛，目視䀮䀮，物疏璺（音問），肌肉胗發，氣並鬲中，痛於心腹。黃氣乃損，其谷不登，上應歲星。時也，木不及，春有鳴條律暢之化，則秋有霧露清涼之政；春有慘淒殘賊之勝，則夏有炎暑燔爍之復。其眚東，其藏肝，其病內舍胠脅，外在關節。火不及，夏有炳明光顯之化，則冬有嚴肅霜寒之政；夏有慘淒凝冽之勝，則不時有埃昏大雨之復。其眚南，其藏心，其病內舍膺脅，外在經絡。土不及，四維有埃云潤澤之化，則春有鳴條鼓拆之政；四維發振拉飄騰之變，則秋有肅殺霖霖霪之復。其眚四維，其藏脾；其病內舍心腹，外在肌肉四支。金不及，夏有光顯鬱蒸之令，則冬有嚴凝整肅之應；夏有炎爍燔燎之變，則秋有冰雹雪霜之復。其眚西，其藏肺，其病內舍膺，脅肩背，外在皮毛。水不及，四維有湍潤埃云之化，則不時有和風生髮之應；四維發埃昏驟注之變，則不時有飄蕩振拉音臘之復。其眚北，其藏腎，其病內舍腰脊骨髓，外在溪谷踹膝。夫五運之政，猶權衡也，高者抑之，下者舉之，化者應之，變者復之，此生長化成收藏之理，氣之常也，失常則天地四塞矣。故曰：天地之動靜，神明為之紀，陰陽之往復，寒暑彰其兆。夫氣之動變，固不常在，而德化政令災變，不同其候也。東方生風，風生木。其德敷和，其化生榮，其政舒啟，其令風，其變振發，其災散落。南方生熱，熱生火。其德彰顯，其化蕃茂，其政明曜，其令熱，其變銷爍，其災燔焫。中央生濕，濕生土。其德溽蒸，其化豐備，其政安靜，其令濕，其變聚注，其災霖潰。西方生燥，燥生金。其德清潔，其化緊斂，其政勁切，其令燥，其變肅殺，其災蒼隕。北方生寒，寒生水。其德淒滄，其化清謐（音蜜），其政凝肅，其令寒，其變漂冽，其災冰雪霜雹。是以察其動也，有德有化，有政有令，有變有災，而物由之，而人應之也。今夫德化政令，災眚變易，非常而有也，承天而行之，故無妄動，無不應也。卒然而動者，氣之交變也，其不應焉。故曰：應常不應卒，其應，各從其氣化。病反其本，得標之病，治反其本，得標之方，其善惡也。有喜，有怒，有憂，有喪，有澤，有燥，此象之常也。必謹察之。象見高下，其應一也。故人亦應之。其德化政令之動靜損益，德化政令災變不能相加也，勝復盛衰不能相多也，往來小大不能相過也，用之升降不能相無也，各從其動而復之耳。德化者氣之祥，政令者氣之章，變易者綱之紀，災眚者傷之始。氣相勝者和，不相勝者病，重感於邪則甚也。</p>

<h2>五常政大論</h2>
<p>大虛寥廓，五運回薄；衰盛不同，損益相從，平氣何如而名，而紀也？木曰敷和，火曰升明，土曰備化，金曰審平，水曰靜順。其不及，木曰委和，火曰伏明，土曰卑監，金曰從革，水曰涸流。太過，木曰發生，火曰赫曦，土曰敦阜，金曰堅成，水曰流衍。三氣之紀，其候，敷和之紀，木德周行，陽舒陰布，五化宣平，其氣端，其性隨，其用曲直，其化生榮，其類草木，其政發散，其候溫和，其令風，其藏肝，肝其畏清，其主目，其谷麻，其果李，其實核，其應春，其蟲毛，其畜犬，其色蒼，其養筋，其病裡急支滿，其味酸，其音角，其物中堅，其數八。升明之紀，正陽而治，德施周普，五化均衡，其氣高，其性速，其用燔灼，其化蕃茂，其類火，其政明曜，其候炎暑，其令熱，其藏心，必其畏寒，其主舌，其穀麥，其果杏，其實絡，其應夏，其蟲羽，其畜馬，其色赤，其養血，其病瞤瘛，其味苦，其音徵，其物脈，其數七。備化之紀，氣協天休，德流四政，五化齊修，其氣平，其性順，其用高下，其化豐滿，其類土，其政安靜，其候溽蒸，其令濕，其藏脾，脾其畏風，其主口，其谷稷，其果棗，其實肉，其應長夏，其蟲倮，其畜牛，其色黃，其養肉，其病否，其味甘，其音宮，其物膚，其數五。審平之紀，收而不爭，殺而無犯，五化宣明，其氣潔，其性剛，其用散落，其化堅斂，其類金，其政勁肅，其候清切，其令燥，其藏肺，肺其畏熱，其主鼻，其谷稻，其果桃，其實殼，其應秋，其蟲介，其畜雞，其色白，其養皮毛，其病咳，其味辛，其音商，其物外堅，其數九。靜順之紀，藏而勿害，治而善下，五化咸整，其氣明，其性下，其用沃衍，其化凝堅，其類水，其政流演，其候凝肅，其令寒，其藏腎，腎其畏濕，其主二陰，其谷豆，其果慄，其實濡，其應冬，其蟲鱗，其畜彘，其色黑，其養骨髓，其病厥，其味鹹，其音羽，其物濡，其數六。故生而勿殺，長而勿罰，化而勿制，收而勿害，藏而勿抑，是謂平氣。委和之紀，是謂勝生（丁卯、丁丑、丁亥、丁酉、丁未、丁巳之歲。）生氣不政，化氣乃揚，長氣自平，收令乃早，涼雨時降，風雲並興，草木晚榮，蒼干凋落，物秀而實，膚肉內充。其氣斂，其用聚，其動軟戾拘緩，其發驚駭，其藏肝，其果棗李，其實核殼，其谷稷稻，其味酸辛，其色白蒼，其畜犬雞，其蟲毛介，其主霧露淒滄，其聲角商，其病搖動注恐，從金化也。少角與判商同。上角與正角同。上商與正商同。其病支廢，癰腫瘡瘍，其甘蟲，邪傷肝也。上宮與正宮同。蕭瑟肅殺，則炎赫沸騰，眚於三，所謂復也，其主飛蠹蛆雉，乃為雷霆。伏明之紀，是謂勝長（癸酉、癸未、癸巳、癸卯、癸丑、癸亥之歲）。長氣不宣，藏氣反布，收氣自政，化令乃衡，寒清數舉，暑令乃薄，承化物生，生而不長，成實而稚，遇化已老，陽氣屈伏，蟄蟲早藏。其氣鬱，其用暴，其動彰伏變易，其發痛，其藏心，其果慄桃，其實絡濡，其谷豆稻，其味苦，其色玄丹，其畜馬彘，其蟲羽鱗，其主冰雪霜寒，其聲徵羽，其病昏惑悲忘，從水化也。少徵與少羽同。上商與正商同。邪傷心也，凝慘慄冽，則暴雨霖霪眚於九，其主驟注，雷霆震驚，沉霒（音令）淫雨。卑監之紀，是謂減化（己巳、己卯、己丑、己亥、己酉、己未之歲。）化氣不令，生政獨彰，長氣整，雨乃愆，收氣平，風寒並同，草木榮美，秀而不實，成而秕也。其氣散，其用靜定，其動瘍湧，分潰癰腫。其發濡滯，其藏脾，其果李慄，其實濡核，其谷豆麻，其味酸甘，其色蒼黃，其畜牛犬，其蟲倮毛，其氣飄怒振發，其聲宮角，其病留滿否寒，從木化也。少宮與少角同。上宮與正宮同。上角與正角同。其病飧泄，邪傷脾也。振拉飄揚，則蒼干散落，其眚四維，其主敗折虎狼，清氣乃用，生政乃辱。從革之紀，是謂折收（乙丑、乙亥、乙酉、乙未、乙巳、乙卯之歲）。收氣乃後，生氣乃揚，長化合德，火政乃宣，庶類以蕃。其氣揚，其用躁切，其動鑑禁瞀厥，其發咳喘，其藏肺，其果李杏，其實殼絡，其谷麻麥，其味苦辛，其色白丹，其畜雞羊，其蟲介羽，其主明曜炎爍，其聲商徵，其病嚏咳鼽衄，從火化也。少商與少徵同，上商與正商同，上角與正角同，邪傷肺也。炎光赫然，則冰雪霜雹，眚於七，其主鱗伏彘鼠，歲氣早至，乃生大寒。涸流之紀，是謂反陽（辛未、辛巳、辛卯、辛酉、辛亥、辛丑之歲）。藏令不舉，化氣乃昌，長氣宣布，蟄蟲不藏，土潤，水泉減，草木條茂，榮秀滿盛。其氣滯，其用滲泄，其動堅止，其發燥槁，其藏腎，其果棗杏，其實濡肉，其谷黍稷，其味甘鹹，其色黅玄，其畜彘牛，其蟲鱗倮，其主埃郁昏翳，其聲羽宮，其病痿厥堅下，從土化也。少羽與少宮同，上宮與正宮同，其病癃閉，邪傷腎也。埃昏驟雨，則振拉摧拔，眚於一，其主毛顯狐狢，變化不藏。故乘危而行，不速而至，暴虛無德，災反及之，微者復微，甚者復甚，氣之常也。發生之紀，是謂啟⿰東攴（壬申、壬午、壬辰、壬寅、壬子、壬戌之歲。）土疏泄，蒼氣達，陽和布化，陰氣乃隨，生氣淳化，萬物以榮。其化生，其氣美，其政散，其令條舒，其動掉眩巔疾，其德鳴靡啟坼，其變振拉摧拔，其谷麻稻，其畜雞犬，其果李桃，其色青黃白，其味酸甘辛，其象春，其經足厥陰、少陽，其藏肝脾，其蟲毛介，其物中堅外堅，其病怒。太角與上商同，上徵則其氣達，其病吐利。不務其德，則收氣復，秋氣勁切，甚則肅殺，清氣大至，草木凋零，邪乃傷肝。赫曦之紀，是謂蕃茂（戊辰、戊寅、戊子、戊戌、戊申、戊午之歲。）陰氣內化，陽氣外榮，炎暑施化，物得以昌。其化長，其氣高，其政動，其令鳴顯，其動炎灼妄擾，其德暄暑鬱蒸，其變炎烈沸騰，其穀麥豆，其畜羊彘，其果杏慄，其色赤白玄，其味苦辛鹹，其象憂，其經手少陰、太陽，手厥陰、少陽，其藏心肺，其蟲羽鱗，其物脈濡，其病笑、虛、瘡瘍、血流、狂妄、目赤。上羽與正徵同，其收齊，其病痓，上徵而收氣後也。暴烈其政，藏氣乃復，時見凝慘，甚則雨水霜雹切寒，邪傷心也。敦阜之紀，是謂廣化（甲子、甲戌、甲申，甲午、甲辰、甲寅之歲）。厚德清靜，順長以盈，至陰內實，物化充成，煙埃朦郁，見於厚土，大雨時行，濕氣乃用，燥政乃闢。其化圓，其氣豐，其政靜，其令周備，其動濡積並畜，其德柔潤重淖，其變震驚飄驟、崩潰，其谷稷麻，其畜牛犬，其果棗李，其色玄蒼，其味甘鹹酸，其象長夏，其經足太陰、陽明，其藏脾腎，其蟲倮毛，其物肌核，其病腹滿，四支不舉，大風迅至，邪傷脾也。堅成之紀，是謂收引（庚午、庚辰、庚寅、庚子、庚戌、庚申之歲）。天氣潔，地氣明，陽氣隨，陰治化，燥行其政，物以司成，收氣繁布，化洽不終。其化成，其氣消，其政肅，其令銳切，其動暴折瘍疰，其德霧露蕭瑟，其變肅殺凋零。其谷稻黍，其畜雞馬，其果桃杏，其色白青丹，其味辛酸苦，其象秋，其經手太陰、陽明，其藏肺肝，其蟲介羽，其物殼絡，其病喘喝，胸憑仰息，上徵與正商同。其生齊，其病咳。政暴變，則名木不榮，柔脆焦首，長氣斯救，大火流，炎爍且至，蔓將槁，邪傷肺也。流衍之紀，是謂封藏（丙寅、丙子、丙戌、丙申、丙午、丙辰之歲）。寒司物化，天地嚴凝，藏政以布，長令不揚。其化凜，其氣堅，其政謐，其令流注，其動漂泄沃湧，其德凝慘寒氛，其變冰雪霜雹，其谷豆稷，其畜彘牛，其果慄棗，其色黑丹黅，其味鹹苦甘，其象冬，其經足少陰、太陽，其藏腎心，其蟲鱗倮，其物濡滿，其病脹，上羽而長氣不化也。政過則化氣大舉，而埃昏氣交，大雨時降，邪傷腎也。故曰：不恆其德，則所勝來復，政怕其理，則所勝同化，此之謂也。天不足西北，左寒而右涼；地不滿東南，右熱而左溫。其故陰陽之氣，高下之理，太少之異也。東南方，陽也；陽者，其精降於下，故右熱而左溫。西北方，陰也；陰者，其精奉於上，故左寒而右涼。是以地有高下，氣有溫涼，高者氣寒，下者氣熱。故適寒涼者脹，之溫熱者瘡。下之則脹已，汗之則瘡已。此腠理開閉之常，太少之異耳。其於壽夭，陰精所奉，其人壽；陽精所降，其人夭。其病也，西北之氣，散而寒之，東南之氣，收而溫之。所謂同病異治也。故曰：氣寒氣涼，治以寒涼，行水漬之；氣溫氣熱，治以溫熱，強其內守。必同其氣，可使平也，假者反之。一州之氣，生化壽夭不同，高下之理，地勢使然也。崇高則陰氣治之，汙下則陽氣治之。陽勝者先天，陰勝者後天，此地理之常，生化之道也。高者其氣壽，下者其氣夭，地之小大異也，小者小異，大者大異。故治病者，必明天道地理，陰陽更勝，氣之先後，人之壽夭，生化之期，乃可以知人之形氣矣。其歲有不病，而藏氣不應不用者，天氣制之，氣有所從也。少陽司天，火氣下臨，肺氣上從，白起金用，草木眚，火見燔焫，革金且耗，大暑以行，咳嚏鼽衄，鼻窒曰瘍，寒熱胕腫；（寅申之歲）。風行於地，塵沙飛揚，心痛，胃腕痛，厥逆，鬲不通，其主暴速。陽明司天，燥氣下臨，肝氣上從，蒼起木用而立，土乃眚，淒滄數至，木伐草萎，脅痛目赤，掉振鼓慄，筋痿，不能久立（卯酉之歲）。暴熱至，土乃暑，陽氣鬱發，小便變，寒熱如瘧，甚則心痛。火行於稿，流水不冰，蟄蟲乃見。太陽司天，寒氣下臨，心氣上從，而火且明，丹起，金乃眚，寒清時舉，勝則水冰，火氣高明，心熱煩，咽乾，善渴，鼽嚏，喜悲，數欠，熱氣妄行，寒乃復，霜不時降，善妄，甚則心痛（辰戌之歲。）土乃潤，水豐衍，寒客至，沉陰化，濕氣變物，水飲內蓄，中滿不食，皮□肉苛，筋脈不利，甚則胕腫，身後癰。厥陰司天，風氣下臨，脾氣上從，而土且隆，黃起，水乃眚，土用革，體重，肌肉萎，食減口爽，風行太虛，雲物搖動，日轉耳鳴（巳亥之歲。）火從其暴，地乃暑，大熱消爍，赤沃下，蟄蟲數見，流水不冰，其發機速。少陰司天，熱氣下臨，肺氣上從，白起金用，草木眚，喘，嘔，寒熱，嚏，鼽衄，鼻窒，在暑流行（子午之歲）。甚則瘡瘍燔灼，金爍石流；地乃燥清，淒滄數至，脅痛，善太息，肅殺行，草木變。太陰司天，濕氣下臨，腎氣上從，黑起水變，埃冒雲雨，胸中不利，陰痿，氣大衰，而不起不用，當其時，反腰椎痛，動轉不便也（丑未之歲）。厥逆；地乃藏陰，大寒且至，蟄蟲早附，心下否痛，地裂冰堅，少腹痛，時害於食，乘金則止，水增，味乃咸，行水減也。歲有胎孕不育，治之不全，何氣使然？六氣五類，有相勝制也。同者盛之，異者衰之。此天地之道，生化之常也。故厥陰司天，毛蟲靜，羽蟲育，介蟲不成（乙巳、丁巳、己巳、辛巳、癸巳、乙亥、丁亥、己亥、辛亥、癸亥之歲）。在泉，毛蟲育，倮蟲耗，羽蟲不育。少陰司天，羽蟲靜，介蟲育，毛蟲不成；（甲子、丙子、戊子、庚子、壬子、甲午、丙午、戊午、庚午、壬午之歲）。在泉，羽蟲育，介蟲耗不育。太陰司天，倮蟲靜，鱗蟲育，羽蟲不成（乙丑、丁丑、巳醜、辛丑、癸丑、乙未、丁未、巳未、辛未、癸未）之歲。在泉，倮蟲育，鱗蟲不成。少陽司天，羽蟲靜，毛蟲育，倮蟲不成（甲寅、丙寅、戊寅、庚寅、壬寅、甲申、丙申、戊申、庚申、壬申之歲）。在泉，羽蟲育，介蟲耗，毛蟲不育。陽明司天，介蟲靜，羽蟲育，介蟲不成（乙卯、丁卯、巳卯、辛卯、癸卯、乙酉、丁酉、己酉、辛酉、癸酉之歲）。在泉，介蟲育，毛蟲耗，羽蟲不成。太陽司天，鱗蟲靜，倮蟲育（甲辰、丙辰、戊辰、庚辰、壬辰、甲戌、丙戌、戊戌、庚戌、壬戌之歲。）在泉，鱗蟲耗，倮蟲不育。諸乘所不成之運，則甚也。故氣主有所制，歲立有所生，地氣制已勝，天氣制勝已，大制色，地制形，五類衰盛，各隨其氣之所宜也。故有胎孕不育，治之不全，此氣之常也，所謂中根也。根於外者亦五，故生化之別，有五氣、五味、五色、五類、五宜也。根於中者，命曰神機，神去則機息；根於外者，命曰氣立，氣止制化絕。故各有制，各有勝，各有生，各有成。故曰：不知年之所加，氣之同異，不足以言生化。此之謂也。氣始而生化，氣散而有形，氣布而蕃育，氣終而象變，其致一也。然而五味所資，生化有薄厚，成熟有少多，終始不同，其故地氣制之也，非天不生、地不長也。寒熱燥濕，不同其化也。故少陽在泉，寒毒不生，其味辛，其治苦酸，其谷蒼丹。（己亥歲）。陽明在泉，濕毒不生，其味酸，其氣濕，其治辛苦甘，其谷丹素（子午歲）。太陽在泉，熱毒不生，其味苦，其治淡咸，其谷黅櫃（丑未歲）。厥陰在泉，清毒不生，其味甘，其治酸苦，其谷蒼赤（寅申歲），其氣專，其味正。少陰在泉，寒毒不生，其味辛，其治辛苦甘，其谷白丹（卯酉歲）。大陰在泉，燥毒不生，其味鹹，其氣熱，其治甘鹹，其谷黅櫃（辰戌歲）。化淳則咸守，氣專則辛化而俱治。故曰：補上下者，從之；治上下者，逆之。以所在寒熱盛衰而調之。上取下取，內取外取，以求其過。能毒者，以厚藥；不勝毒者，以薄藥。氣反者，病在上，取之下；病在下，取之上；病在中，傍取之。治熱以寒，溫而行之；治寒以熱，涼而行之；治溫以清，冷而行之；治清以溫，熱而行之。故消之，削之，吐之，下之，補之，瀉之，久新同法。無積者，求其藏，虛則補之，藥以祛之，食以隨之，行水漬之，和其中外，可使畢已。病有久新，方有大小，有毒無毒，固宜常制矣。大毒治病，十去其六；常毒治病，十去其七；小毒治病，十去其八；無毒治病，十去其九。穀肉果菜，食養盡之，無使過之，傷其正也。必先歲氣，無伐天和。無盛盛，無虛虛，而遺人天殃。無致邪，無失正，絕人長命！夫經絡以通，血氣以從，復其不足，與眾齊同，養之和之，靜以待時，謹守其氣，無使傾移，其形乃彰，生氣以長。</p>

<h2>六元正紀大論</h2>
<p>太陽之政，辰戌之紀也。</p>
<p>太陽、太角、太陰、壬辰、壬戌，其運風，其化鳴紊啟拆，其變振拉摧拔，其病眩掉目瞑。太角（初正）、少徵、太宮、少商、太羽（終）</p>
<p>太陽、太徵、太陰、戊辰、戊戌同正徵，其運熱，其化暄暑鬱燠，其變炎烈沸騰，其病熱鬱。太徵、少宮、太商、少羽（終）、少角（初）。</p>
<p>太陽、太宮、太陰、甲辰歲會、甲戌歲會，其運陰埃，其化柔潤重澤，其變震驚飄驟，其病濕下重。太宮、少商、太羽（終）、太角（初）、少徵。</p>
<p>太陽、太商、太陰、庚辰、庚戌，其運涼，其化霧露蕭飋，其變肅殺凋零，其病燥，背瞀胸滿。太商、少羽（終）、少角（初）、太徵、少宮。</p>
<p>太陽、太羽、太陰、丙辰天符、丙戌天符、其運寒，其化凝慘剽冽，其變冰雪霜雹，其病大寒留於溪谷。太羽（終）、太角（初）、少徵、太宮、少商。</p>
<p>凡此太陽司天之正，氣化運行先天，天氣肅，地氣靜，寒臨太虛，陽氣不令，水土合德，上應辰星鎮星，其谷玄黅，其政肅，其今徐。寒政大舉，澤無陽焰，則火發待時，少陽中治，時雨乃涯，正極雨散，還於太陰，云朝北極，濕化乃布，澤流萬物，寒敷於上，雷動於下，寒濕之氣，持於氣交，民病寒濕，發肌肉痿，足萎不收，濡瀉血溢。初之氣，地氣遷，氣乃大溫，草乃早榮，民乃厲，溫病乃作，身熱頭痛嘔吐，肌腠瘡瘍。二之氣，大涼反至，民乃慘，草乃遇寒，火氣遂抑，民病氣鬱中滿，寒乃始。三之氣，天政布，寒氣行，雨乃降，民病寒，反熱中，癰疽注下，心熱瞀悶，不治者死。四之氣，風濕交爭，風化為雨，乃成。民病大熱少氣，肌肉萎，足萎，注下赤白。五之氣，陽復化，草乃長、乃化、乃成，民乃舒。終之氣，地氣正，濕令行，陰凝太虛，埃昏郊野，民乃慘淒，寒風以至，反者孕乃死。故歲宜苦以燥之溫之，必折其鬱氣，先資其化源，抑其運氣，扶其不勝，無使暴過而生其疾，食歲谷以全其真，避虛邪以安其正，適氣同異，多少制之。同寒濕者燥熱化，異寒濕者燥濕化，故同者多之，異者少之，用寒遠寒，用涼遠涼，用溫遠溫，用熱遠熱，食宜同法。有假者反常，反是者病，所謂時也。陽明之政，卯酉之紀也。</p>
<p>陽明、少角、少陰，清熱勝復同，同正商。丁卯歲會、丁酉，其運風清熱。少角（初正）、太徵、少宮、太商、少羽（終）、陽明、少徵、少陰，寒雨勝復同，同正商。癸卯、癸酉，其運熱寒雨。少徵、太宮、少商、大羽（終）、太角（初）、陽明、少宮、少陰，風涼勝復同。己卯、己酉，其運雨風涼。少宮、太商、少羽（終）、少角（初）、太徵、陽明、少商、少陰，熱寒勝復同，同正商。乙卯天符、乙酉歲會、太乙天符，其運涼熱寒。少商、太羽（終）、太角（初）、少徵、太宮、陽明、少羽、少陰，雨風勝復同，辛卯少宮同。辛酉、辛卯，其運寒雨風。少羽（終）、少角（初）、太徵、太宮、大商，凡此陽明司天之政，氣化運行後天，天氣急，地氣明，陽專其令，炎暑大行，物燥以堅，淳風乃治。風燥橫運，流於氣交，多陽少陰，云趨雨府，濕化乃敷，燥極而澤，其谷白丹，間谷命太者，其耗白甲品羽，金火合德，上應太白熒惑，其政切，其令暴，蟄蟲乃見，流水不冰，民病咳嗌塞，寒熱發暴，振慄癃閉，清先而勁，毛蟲乃死，熱後而暴，介蟲乃殃。其發躁，勝復之作，擾而大亂，清熱之氣，持於氣交。初之氣，地氣遷，陰始凝，氣始肅，水乃冰，寒雨化。其病中熱脹，面目浮腫，善眠，鼽衄，嚏欠，嘔，小便黃赤，甚則淋。二之氣，陽乃布，民乃舒，物乃生榮。厲大至，民善暴死。三之氣，天政布，涼乃行，燥熱交合，燥極而澤，民病寒熱。四之氣，寒雨降，病暴僕，振慄譫妄，少氣咽乾引飲，及為痛，癰腫瘡瘍瘧寒之疾，骨痿血便。五之氣，春令反行，草乃生榮，民氣和。終之氣，陽氣布，候反溫，蟄蟲來見，流水不冰，民乃康平，其病溫。故食歲谷以安其氣，食間谷以去其邪，歲宜以咸、以苦、以辛，汗之、清之、散之，安其運氣，無使受邪，折其鬱氣，資其化源。以寒熱輕重、少多其制，同熱者多天化，同清者多地化。用涼遠涼，用熱遠熱，用寒遠寒、用溫遠溫，食宜同法。有假者反之，此其道也。反是者，亂天地之經，擾陰陽之紀也。</p>
<p>少陽之政，寅申之紀也。</p>
<p>少陽、太角、厥陰、壬寅、壬申，其運風鼓，其化鳴紊啟坼，其變振拉摧拔，其病掉眩，支脅，驚駭。</p>
<p>太角（初正）、少徵、太宮、少商、太羽（終）。</p>
<p>少陽、太徵、厥陰、戊寅天符、戊申天符、其運暑，其化暄囂鬱燠。</p>
<p>太徵、少宮、太商、少羽（終）、少角（初）。</p>
<p>少陽、太宮、厥陰、甲寅、甲申，其運陰雨，其化柔潤重澤，其變震飄驟，其病體重，胕腫，痞飲。太宮、少商、太羽（終）、太角（初）、少徵。</p>
<p>少陽、太商、厥陰、庚寅、庚申、同正商，其運涼，其化霧露清切，其變肅殺凋零，其病肩背胸中。太商、少羽（終）、少角（初）、太徵、少宮。</p>
<p>少陽、太羽、厥陰、丙寅、丙申、其運寒肅，其化疑慘慄冽，其變冰雪霜雹，其病寒，浮腫。太羽（終）、太角（初）、少徵、太宮、少商。</p>
<p>凡此少陽司天之政，氣化運行先天，天氣正，地氣擾，風乃暴舉，木偃沙飛，炎火乃流，陰行陽化，雨乃時應，火木同德，上應熒惑歲星。其谷丹蒼，其政嚴，其令擾，故風熱參布，雲物沸騰，太陰橫流，寒乃時至，涼雨並起，民病寒中，外發瘡瘍，內為泄滿，故聖人遇之，和而不爭，往復之作，民病寒熱，虛，泄，聾，瞑，嘔吐，上怫，腫色變。初之氣，地氣遷，風勝乃搖，寒乃去，候乃大溫，草木早榮，寒來不殺，溫病乃起。其病氣怫於上，血溢，目赤，咳逆頭痛，血崩，脅滿，膚腠中瘡。二之氣，火反郁，白埃四起，云趨雨府，風不勝濕，雨乃零，民乃康。其病熱鬱於上，咳逆嘔吐，瘡發於中，胸嗌不利，頭痛身熱，昏憒（音會）膿瘡。三之氣，天政布，炎暑至，少陽臨上，雨乃涯。民病熱中，聾瞑，血溢，膿瘡，咳，嘔，鼽衄，渴，嚏欠，喉痹，目赤，善暴死。四之氣，涼乃至，炎暑間化，白露降。民和氣平，其病滿，身重。五之氣，陽乃去，寒乃來，雨乃降，氣門乃閉，剛木早調，民避寒邪，君子周密。終之氣，地氣正，風乃至，萬物反生，霧露以行，其病開閉不禁，心痛，陽氣不藏而咳。抑其運氣，替所不勝，必折其鬱氣，乃取化源，暴過不生，苛疾不起。故歲宜鹹辛，宜酸，滲之泄之，漬之發之，觀氣寒溫用以調其過，同風熱者多寒化，異風熱者少寒化。用熱遠熱，用溫遠溫，用寒遠寒，用涼遠涼，食宜同法，此其道也。有假者反之，反是者病之階也。太陰之政，丑未之紀也。</p>
<p>太陰、少角、太陽，清熱勝復同，同正宮。丁丑、丁未，其運風清熱。少角（初正）、太徵、少宮、太商、少羽（終）、太陰、少徵、太陽，寒雨勝復同。癸丑、癸未，其運熱寒雨。少徵、太宮、少商、太羽（終）、太角、太陰、少宮、太陽，風清勝復同，同正宮。己丑太一天符，己未太一天符，其運雨風清。少宮、太商、少羽（終）、少角（初）、太徵、太陰、少商、太陽，熱寒勝復同。乙丑、乙未，其運涼熱寒。少商、太羽（終）、太角（初）、少徵、太宮、太陰、少羽、太陽、雨風勝復同，同正宮。辛丑（同歲會）、辛未（同歲會），其運寒風雨。少羽（終）、少角（初）、太徵、少宮、太商，凡此太陰司天之正，氣化運行後天，陰專其政，陽氣退闢，太風時起，天氣下降，地氣上騰，原野昏霧，白埃四起，云奔南極，寒雨數至，物成於芒夏。民病寒濕腹滿，身䐜憤，膾腫痞逆，寒厥拘急，濕寒合德，黃黑埃昏，流行氣交，上應鎮星、辰星。其政肅，其令寂，其谷黅玄。故陰凝於上，寒積於下，寒水勝火，則為冰雹，陽光不治，殺氣乃行。故有餘宜高，不及宜下，有餘宜晚，不及宜早。土之利，氣之化也，民氣亦從之，間谷命其太也。初之氣，地氣遷，寒乃去，春氣正，風乃來，生布萬物以榮，民氣條舒，風濕相薄，雨乃後。民病血溢，筋絡拘強，關節不利，身重筋痿。二之氣，大火正，物承化，民乃和。其病溫厲大行，遠近咸若，濕蒸相薄，雨乃時降。三之氣，天政布，濕氣降，地氣騰，雨乃時降，寒乃隨之，感於寒濕，則民病身重，胕腫，胸腹滿。四之氣，畏火臨，溽蒸化，地氣騰，天氣否隔，寒風曉暮，蒸熱相薄，草木凝煙，濕化不流，則白露陰布，以成秋令。民病腠理熱，血暴溢，虛、心腹滿熱，臚脹，甚則胕腫。五之氣，慘令已行，寒露下，霜乃早降，草木黃落，寒氣及體，君子周密，民病皮腠。終之氣，寒大舉，濕大化，霜乃積，陰乃凝，水堅冰，陽光不治，感於寒，則病人關節禁固，腰椎痛，寒濕推於氣交而為疾也。必折其鬱氣而取化源，益其歲氣，無使邪勝，食歲谷以全其真，食間谷以保其精。故歲宜以苦燥之、溫之，甚者發之、泄之，不發不泄則濕氣外溢，肉潰皮拆，而水血交流。必贊其陽火，令御甚寒，從氣異同，少多其判也。同寒者以熱化，同濕者以燥化，異者少之，同者多之。用涼遠涼，用寒遠寒，用溫遠溫，用熱遠熱，食宜同法。假者反之，此其道也，反是者病。</p>
<p>少陰之政，子午之紀也。</p>
<p>少陰、太角、陽明、壬子、壬午，其運風鼓，其化鳴紊啟拆，其變振拉摧拔，其病支滿。太角（初正）、少徵、太宮、少商、太羽（終）。</p>
<p>少陰、太徵、陽明、戊子天符、戊午太一天符，其運炎暑，其化暄曜鬱燠，其變炎烈沸騰，其病上熱血溢。太徵、少宮、太商、少羽（終）、少角（初）。</p>
<p>少陰、太宮、陽明、甲子、甲午，其運陰雨，其化柔潤時雨，其變震驚飄驟，其病中滿身重。太宮、少商、太羽（終）、太角（初）、少徵。</p>
<p>少陰、太商、陽明、庚子、庚午，同正商，其運涼勁，其化霧露蕭飋，其變肅殺凋零，其病下清。太商、少羽（終）、少角（初）、太徵、少宮。</p>
<p>少陰、太羽、陽明、丙子歲會、丙午、其運寒，其化凝慘慓冽，其變冰雪霜雹，其病寒下。太羽（終）、太角（初）、少徵、太宮、少商，凡此少陰司天之政，氣化運行先天，地氣肅，天氣明，寒交暑，熱加燥，云馳雨府，濕化乃行，時雨乃降，金火合德，上應熒惑、太白。其政明，其令切，其谷丹白。水火寒熱持於氣交而為病始也，熱病生於上，清病生於下，寒熱凌犯而爭於中，民病咳喘，血溢血泄，鼽嚏目赤，眥瘍，寒厥入胃，心痛腰痛腹大，咽乾腫上。初之氣，地氣遷，燥將去，寒乃始，蟄復藏，水乃冰，霜復降，風乃至，陽氣鬱，民反周密，關節禁固，腰脽痛，炎暑將起，中外瘡瘍。二之氣，陽氣布，風乃行，春氣以正，萬物應榮，寒氣時至，民乃和。其病淋，目瞑，目赤，氣鬱於上而熱。三之氣，天政布，大火行，庶類蕃鮮，寒氣時至。民病氣厥心痛，寒熱更作，咳喘，目赤。四之氣，溽暑至，大雨時行，寒熱互至。民病寒熱，咽乾，黃癉，鼽衄，飲發。五之氣，畏火臨，暑反至，陽乃化，萬物乃生，乃長榮，民乃康，其病溫。終之氣，燥令行，餘火內格，腫於上，咳喘，甚則血溢。寒氣數舉，則霿霧翳，病生皮腠，內舍於脅，下連少腹而作寒中，地將易也。必抑其運氣，資其歲勝，拆其鬱發，先取化源，無使暴過而生其病也。食歲谷以全真氣，食間谷以闢虛邪，歲宜咸以軟之，而調其上，甚則以苦發之，以酸收之，而安其下，甚則以苦泄之，適氣同異而多少之，同天氣者以寒清化，同地氣者以溫熱化。用熱遠熱，用涼遠涼，用溫遠溫，用寒遠寒，食宜同法。有假則反，此其道也。反是者病作矣。</p>
<p>厥陰之政，己亥之紀也。</p>
<p>厥陰、少角、少陽，清熱勝復同，同正角。丁已、天符、丁亥天符，其運風清熱。少角（初正）、太徵、少宮、太商、少羽（終）。</p>
<p>厥陰、少徵、少陽，寒雨勝復同。癸巳、癸亥，其運熱寒雨。少徵、太宮、少商、太羽（終）、太角（初）。</p>
<p>厥陰、少宮、少陽，風清勝復同，同正角。己巳、己亥，其運雨風清。少宮、太商、少羽（終）、少角（初）、太徵。</p>
<p>厥陰、少商、少陽，熱寒勝復同，同正角。乙巳、乙亥，其運涼熱寒。少商、太羽（終）、太角（初）、少徵、太宮。</p>
<p>厥陰、少羽、少陽，雨風勝復同。辛巳、辛亥，其運寒雨風。少羽（終）、少角（初）、太徵、少宮、太商。</p>
<p>凡此厥陰司天之政，氣化運行後天，諸同正歲，氣化運行同天，天氣擾，地氣正，風生高遠，炎熱從之，云趨雨府，濕化乃行，風火同德，上應歲星、熒惑。其政撓，其令速，其谷蒼丹，間谷言太者，其耗文角品羽。風燥火熱，勝復更作，蟄蟲來見，流水不冰，熱病行於下，風病行於上，風燥勝復，形於中。初之氣，寒始肅，殺氣方至，民病寒於右之下。二之氣，寒不去，華雪水冰，殺氣施化，霜乃降，名草上焦，寒雨數至，陽復化，民病熱於中。三之氣，天政布，風乃時舉，民病泣出，耳鳴掉眩。四之氣，溽暑濕熱相薄，爭於左之上，民病黃癉而為胕腫。五之氣，燥濕更勝，沉陰乃布，寒氣及體，風雨乃行。終之氣，畏火司令，陽乃大化，蟄蟲出見，流水不冰，地氣大發，草乃生，人乃舒，其病溫厲。必拆其鬱氣，資其化源，替其運氣，無使邪勝。歲宜以辛調上，以咸調下，畏火之氣，無妄犯之。用溫遠溫，用熱遠熱，用涼遠涼，用寒遠寒，食宜同法。有假反常，此之道也。反是者病。夫六氣者，行有次，止有位，故常以正月朔日平旦視之，睹其位而知其所在矣。運有餘，其至先；運不及，其至後。此天之道，地之常也。運非有餘，非不足，是謂正歲，其至當其時也。非氣化者，是謂災也。天地之數，終始也。數之始，起於上而終於下。歲半之前，天氣主之，歲半之後，地氣主之，上下交互，氣交主之，歲紀畢矣。故曰：位明氣月可知乎，所謂氣也。氣用有多少，化洽有盛衰，衰盛多少，同其化也。風溫春化同，熱曛昏火夏化同，勝與復同，燥清煙露秋化同，雲雨昏瞑埃長夏化同，寒氣霜雪冰冬化同。此天地五運六氣之化，更用盛衰之常也。太過而同大化者三，不及而同天化者亦三，太過而同地化者三，不及而同地化者亦三，此凡二十四歲也。甲辰甲戌太宮下加太陰，壬寅壬申太角下加厥陰，庚子庚午太商下加陽明，如是者三；癸巳癸亥少徵下加少陽，辛丑辛未少羽下加太陽，癸卯癸酉少徵下加少陰，如是者三；戊子戊午太徵上臨少陰，戊寅戊申太徵上臨少陽，丙辰丙戌太羽上臨太陽，如是者三；丁巳丁亥少角上臨厥陰，乙卯乙酉少商上臨陽明，己丑己未少宮上臨太陰，如是者三。除此二十四歲，則不加不臨也。加者太過而加同天符，不及而加同歲會也。臨者太過不及，皆曰天符，而變行有多少、病形有微甚、生死有早晏耳。用寒遠寒，用熱遠熱。熱無遠熱，寒無遠寒，從者和，逆者病，不可不敬畏而遠之，所謂時興六位也。司氣以熱，用熱無犯，司氣以寒，用寒無犯，司氣以涼，用涼無犯，司氣以溫，用溫無犯，間氣同其主無犯，異其主則小犯之，是謂四畏，必謹察之。其犯者，天氣反時，則可依時反勝其主則可犯，以平為期，而不可過，是謂邪氣反勝者。故曰無失大信，無逆氣宜，無翼其勝，無贊其復，是謂至治。五運氣行主歲之紀，常數次之。</p>
<p>甲子，甲午歲。</p>
<p>上少陰火，中太宮土運，下陽明金。熱化二，雨化五，燥化四，所謂正化日也。其化上鹹寒，中苦熱，下酸熱，所謂藥食宜也。</p>
<p>乙丑、乙未歲。</p>
<p>上太陰土，中少商金運，下太陽水。熱化寒化勝復同，所謂邪氣化日也，災七宮。濕化五，清化四，寒化六，所謂正化日也。其化上苦熱，中酸和，下甘熱，所謂藥食宜也。</p>
<p>丙寅，丙申歲。</p>
<p>上少陽相火，中太羽水運，下厥陰木。火化二，寒化六，風化三，所謂正化日也。其化上鹹寒，中鹹溫，下辛溫，所謂藥食宜也。</p>
<p>丁卯，丁酉歲。</p>
<p>上陽明金，中少角木運，下少陰火。清化熱化勝復同，所謂邪氣化日也，災三宮。燥化九，風化三，熱化七，所謂正化日也。其化上苦小溫，中辛和，下鹹寒，所謂藥食宜也。</p>
<p>戊辰，戊戌歲。</p>
<p>上太陽水，中太徵火運，下太陰土，寒化六，熱化七，濕化五，所謂正化日也。其化上苦溫，中甘和，下甘溫，所謂藥食宜也。</p>
<p>己巳，己亥歲。</p>
<p>上厥陰木，中少宮土運，下少陽相火。風化清化勝復同，所謂邪氣化日也，災五宮。風化三，濕化五，火化七，所謂正化日也。其化上辛涼，中甘和，下鹹寒，所謂藥食宜也。</p>
<p>庚午，庚子歲。</p>
<p>上少陰火，中太商金運，下陽明金。熱化七，清化九，濕化九，所謂正化日也。其化上鹹寒，中辛溫，所謂藥食宜也。</p>
<p>辛未，辛丑歲。</p>
<p>上太陰土，中少羽水運，下太陽水，雨化風化勝復同，所謂邪氣化日也，災一宮。雨化五，寒化一，所謂正化日也。其化上苦熱，中苦和，下苦熱，所謂藥食宜也。</p>
<p>壬申，壬寅歲。</p>
<p>上少陽相火，中太角木運，下厥陰木。火化二，風化八，所謂正化日也。其化上鹹寒，中酸和，下辛涼，所謂藥食宜也。</p>
<p>癸酉，癸卯歲。</p>
<p>上陽明金，中少徵火運，下少陰火。寒化雨化勝復同，所謂邪氣化日也，災九宮。燥化九，熱化二，所謂正化日也。其化上苦小溫，中鹹溫，下鹹寒，所謂藥食宜也。</p>
<p>甲戌，甲辰歲。</p>
<p>上太陽水，中太宮土運，下太陰土，寒化六，濕化五，正化日也。其化上苦熱，中苦溫，下苦溫，藥食宜也。</p>
<p>乙亥，乙巳歲。</p>
<p>上厥陰木，中少商金運，下少陽相火。熱化寒化勝復同，邪氣化日也，災七宮。風化八，清化四，火化二，正化度也。其化上辛涼，中酸和，下鹹寒，食宜也。</p>
<p>丙子，丙午歲。</p>
<p>上少陰火，中太羽水運，下陽明金，熱化二，寒化六，清化四，正化度也。其化上鹹寒，中咸熱，下酸溫，藥食宜也。</p>
<p>丁丑，丁未歲。</p>
<p>上太陰土，中少角木運，下太陽水。清化熱化勝復同，邪氣化度也，災三宮。雨化五，風化三，寒化一，正化度也。其化上苦溫，中辛溫，下甘熱，藥食宜也。</p>
<p>戊寅，戊申歲。</p>
<p>上少陽相火，中太徵火運，下厥陰水，火化七，風化三，正化度也。其化上鹹寒，中甘和，下辛涼，藥食宜也。</p>
<p>己卯，己酉歲。</p>
<p>上陽明金，中少宮土運，下少陰火，風化清化勝復同，邪氣化度也，災五宮。清化九，雨化五，熱化七，正化度也。春化上苦小溫，中甘和，下鹹寒，藥食宜也。</p>
<p>庚辰，庚戌歲。</p>
<p>上太陽水，中太商金運，下太陰土，寒化一，清化九，雨化五，正化度也。其化上苦熱，中辛溫，下甘熱，藥食宜也。</p>
<p>辛巳，辛亥歲。</p>
<p>上厥陰木，中少羽水運，下少陽相火，雨化風化勝復同，邪氣化度也，災一宮。風化三，寒化一，火化七，正化度也。其化上辛涼，中苦和，下鹹寒，藥食宜也。</p>
<p>壬午，壬子歲。</p>
<p>上少陰火，中太角木運，下陽明金，熱化二，風化八，清化四，正化度也。其化上鹹寒，中酸涼，下酸溫，藥食宜也。</p>
<p>癸未，癸丑歲。</p>
<p>上太陰土，中少徵火運，下太陽水，寒化雨化勝復同，邪氣化度也，災九宮。雨化五，火化二，寒化一，正化度也。其化上苦溫，中鹹溫，下甘熱，藥食宜也。</p>
<p>甲申，甲寅歲。</p>
<p>上少陽相火，中太宮土運，下厥陰木，火化二，雨化五，風化八，正化度也。其化上鹹寒，中咸和，下辛涼，藥食宜也。</p>
<p>乙酉，乙卯歲。</p>
<p>上陽明金，中少商金運，下少陰火，熱化寒化勝復同，邪氣化度也，災七宮。燥化四，清化四，熱化二，正化度也。其化上苦小溫，中和，下鹹寒，藥食宜也。</p>
<p>丙戌，丙辰歲。</p>
<p>上太陽水，中太羽水運，下太陰土，寒化六，雨化五，正化度也。其化上苦熱，中鹹溫，下甘熱，藥食宜也。</p>
<p>丁亥，丁巳歲。</p>
<p>上厥陰木，中少角木運，下少陽相火，清化熱化勝復同，邪氣化度也，災三宮。風化三，火化七，正化度也。其化上辛涼，中辛和，下鹹寒，藥食宜也。</p>
<p>戊子，戊午歲。</p>
<p>上少陰火，中太徵火運，下陰明金，熱化七，清化九，正化度也。其化上鹹寒，中甘寒，下酸溫，藥食宜也。</p>
<p>己丑，己未歲。</p>
<p>上太陰土，中少宮土運，下太陽水，風化清化勝復同，邪氣化度也，災五宮。雨化五，寒化一，正化度也。其化上苦熱，中甘和，下甘熱，藥食宜也。</p>
<p>庚寅，庚申歲。</p>
<p>上少陽相火，中太商金運，下厥陰木，火化七，清化九，風化三，正化度也。其化上鹹寒，中辛溫，下辛涼，藥食宜也。</p>
<p>辛卯，辛酉歲。</p>
<p>上陽明金，中少羽水運，下少陰火，雨化風化勝復同，邪氣化度也，災一宮。清化九，寒化一，熱化七，正化度也。其化上苦小溫，中苦和，下鹹寒，藥食宜也。</p>
<p>壬辰，壬戌歲。</p>
<p>上太陽水，中太角木運，下太陰土，寒化六，風化八，雨化五，正化度也。其化上苦溫，中酸和，下甘溫，藥食宜也。</p>
<p>癸巳，癸亥。</p>
<p>上厥陰木，中少徵火運，下少陽相火，寒化雨化勝復同，邪氣化度也，災九宮。風化八，火化二，正化度也。其化上辛涼，中咸和，下鹹寒，藥食宜也。</p>
<p>凡此定期之紀，勝復正化，皆有常數，不可不察。故知其要者，一言而終，不知其要，流散無窮。此之謂也。五運之氣，太過者暴，不及者徐；暴者為病甚，徐者為病持。太過者，其數成，不及者，其數生，土常以生也。土鬱之發，岩谷震驚，雷殷氣交，埃昏黃黑，化為白氣，飄驟高深，擊石飛空，洪水乃從，川流漫衍，田牧土駒。化氣乃敷，善為時雨，始生始長，始化始成。故民病心腹脹，腸鳴而為數後，甚則心痛脅䐜，嘔吐霍亂，飲發注下，胕腫身重。云奔雨府，霞擁朝陽，山澤埃昏，其乃發也。以其四氣，云橫天山，浮游生滅，怫之先兆。金鬱之發，天潔地明，風清氣切，大涼乃舉，草樹浮煙，燥氣以行，霜霧數起，殺氣來至，草木蒼干，金乃有聲。故民病咳逆，心脅滿引少腹，善暴痛，不可反側，咽乾面塵，色惡。山澤焦枯，土凝霜滷，怫乃發也。其氣五，夜零白露，林莽聲淒，怫之兆也。水鬱之發，陽氣乃闢，陰氣暴舉，大寒乃至，川澤嚴凝，寒雰結為霜雪，甚則黃黑昏翳，流行氣交，乃為霜殺，水乃見祥。故民病寒客心痛，腰脽痛，大關節不利，屈伸不便，善厥逆，痞堅，腹滿。陽光不治，空積沉陰，白埃昏瞑，而乃發也。其氣二火前後，太虛深玄，氣猶麻散，微見而隱，色黑微黃，怫之先兆也。木鬱之發，太虛埃昏，雲物以擾，大風乃至，屋發折木，木有變。故民病胃脘當心而痛，上支兩脅，鬲咽不通，食飲不下，甚則耳鳴眩轉，目不識人，善暴僵仆。太虛蒼埃，天山一色，或氣濁色黃黑，郁若橫云，不起雨，而乃發也，其氣無常。長川草偃，柔葉呈陰，松吟高山，虎嘯岩岫，怫之先兆也。火鬱之發，太虛腫翳，大明不彰，炎火行，大暑至，山澤燔燎，材木流津，廣廈騰煙，土浮霜滷，止水乃減，蔓草焦黃，風行惑言，濕化乃後。故民病少氣，瘡瘍癰腫，脅腹、胸、背、面、首、四肢䐜憤、臚脹瘍疿，嘔逆瘛瘲，骨痛，節乃有動，注下溫瘧，腹中暴痛，血溢流注，精液乃少，目赤心熱，甚則瞀悶懊憹，善暴死。刻終大溫，汗濡玄府，其乃發也，其氣四。動復則靜，陽極反陰，濕令乃化乃成，華髮水凝，山水冰雪，焰陽午澤，怫之先兆也。有怫之應，而後報也，皆觀其極而乃發也。木發無時，水隨火也。謹候其時，病可與期，失時反歲，五氣不行，生化收藏，政無恆也。夫氣之所至也，厥陰所至為和平，少陽所至為炎暑，陽明所至為清勁，太陽所至為寒雰。時化之常也。厥陰所至為風府，為璺啟；少陰所至為火府，為舒榮；太陰所至為雨府，為員盈；少陽所至為熱府，為行出；陽明所至為司殺府，為庚蒼；太陽所至為寒府，為歸藏。司化之常也。厥陰所至為生，為風搖；少陰所至為榮，為形見；太陰所至為化，為雲雨；少陽所至為長，為蕃鮮；陽明所至為收，為霧露；太陽所至為藏，為周密。氣化之常也。厥陰所至為風生，終為肅；少陰所至為熱生，中為寒；太陰所至為濕生，終為注雨；少陽所至為火生，終為蒸溽；陽明所至為燥生，終為涼；太陽所至為寒生，中為溫。德化之常也。厥陰所至為毛化；少陰所至為羽化；太陰所至為倮化；少陽所至為羽化；陽明所至為介化；太陽所至為鱗化。德化之常也。厥陰所至為生化；少陰所至為榮化；太陰所至為濡化；少陽所至為茂化；陽明所至為堅化；太陽所至為藏化。布政之常也。厥陰所至為飄怒太涼；少陰所至為太暄寒；太陰所至為雷霆驟注烈風；少陽所至為飄風燔燎霜凝；陽明所至為散落溫；太陽所至為寒雪冰雹白埃。氣變之常也。厥陰所至為撓動，為迎隨；少陰所至為高明焰，為曛；太陰所至為沉陰，為白埃，為晦瞑；少陽所至為光顯，為彤雲，為曛；陽明所至為煙埃，為霜，為勁切，為淒鳴；太陽所至為剛固，為堅芒，為立。令行之常也。厥陰所至為裡急；少陰所至為瘍胗身熱；太陰所至為積飲否隔；少陽所至為嚏嘔，為瘡瘍；陽明所至為浮虛；太陽所至為屈伸不利。病之常也。厥陰所至為支痛；少陰所至為驚惑，惡寒戰慄，譫妄；太陰所至為稸滿；少陽所至為驚躁，瞀味，暴病；陽明所至為鼽，尻陰股膝髀腨䯒足病；太陽所至為腰痛。病之常也。厥陰所至為䌁戾；少陰所至為悲妄衄衊；太陰所至為中滿霍亂吐下；少陽所至為喉痹耳鳴嘔湧；陽明所至為皴揭；太陽所至為寢汗痙。病之常也。厥陰所至為腸痛、嘔泄；少陰所至為語笑：太陰所至為重胕腫；少陽所至為暴注，瞤瘛，暴死；陽明所至為鼽嚏；太陽所至為流泄，禁止。病之常也。凡此十二變者，報德以德，報化以化，報政以政，報令以令，氣高則高，氣下則下，氣後則後，氣前則前，氣中則中，氣外則外，位之常也。故風勝則動，熱勝則腫，燥勝則乾，寒勝則浮，濕勝則濡泄，甚則水閉胕腫，隨氣所在以言其變耳。其用也，夫六氣之用，各歸不勝而為化。故太陰雨化，施於太陽；太陽寒化，施於少陰；少陰熱化，施於陽明；陽明燥化，施於厥陰；厥陰風化，施於太陰。各命其所在以徵之也。六位之氣，盈虛何如？太少異也。太者之至徐而常，少者暴而亡。天地之氣，盈虛何如？天氣不足，地氣隨之，地氣不足，天氣從之，運居其中，而常先也。惡所不勝，歸所同和，隨運歸從，而生其病也。故上勝則天氣降而下，下勝則地氣遷而上，多少而差其分，微者小差，甚者大差，甚則位易氣交，易則大變生而病作矣。大要曰：甚紀五分，微紀七分，其差可見矣。欲不遠寒不遠熱也。發表不遠熱，攻裡不遠寒。不發不攻，而犯寒犯熱，寒熱內賊，其病益甚。無病者，生之，有者，甚之。生者，不還熱則熱至，不還寒則寒至，寒至則堅否腹滿痛急，下利之病生矣，熱至則身熱，吐下霍亂，癰疽瘡瘍，瞀郁，注下，瞤瘛，腫脹，嘔，鼽衄，頭痛，骨節變，肉痛，血溢，血泄，淋閉之病生矣。治之奈何？時必順之，犯者治以勝也。木鬱達之，火鬱發之，土鬱奪之，金鬱泄之，水鬱折之，然調其氣，過者折之，以其畏也，所謂瀉之。</p>

<h2>至真要大論</h2>
<p>厥陰司天為風化（己亥之歲），在泉為酸化（寅申之歲），司氣為蒼化（丁壬之歲），間氣為動化；少陰司天為熱化（子午之歲），在泉為苦化（卯酉之歲），不司氣化，居氣為灼化；太陰司天為濕化（醜末之歲），在泉為甘化（辰戌之歲），司氣為黅化（甲巳之歲），間氣為柔化；少陽司天為火化（寅申之歲），在泉為苦化（己亥之歲），司氣為丹化（戊癸歲也），間氣為明化；陽明司天為燥化（卯酉之歲），在泉為辛化（子午之歲），司氣為素化（乙庚歲也），間氣為清化；太陽司天為寒化（辰戌之歲），在泉為咸化（醜末之歲），司氣為玄化（丙辛歲也），間氣為藏化。故治病者，必明六化分治，五味五色所生，五臟所宜，乃可以言盈虛病生之緒也。北政之歲，少陰在泉，則寸口不應；厥陰在泉，則右不應；太陰在泉，則左不應。南政之歲，少陰司天，則寸口不應；厥陰司天，則右不應；太陰司天，則左不應。諸不應者，反其診則見矣。北政之歲，三陰在下，則寸不應；三陰在上，則尺不應。南政之歲，三陰在天，則寸不應；三陰在泉，則尺不應。左右同。歲厥陰在泉，風淫所勝，則地氣不明，平野昧，草乃早秀。民病洒洒振寒，善伸數欠，心痛支滿，兩脅裡急，飲食不下，鬲咽不通，食則嘔腹脹善噫，得後與氣，則怏然如衰，身體皆重。（寅申歲也）。歲少陰在泉，熱淫所勝，則焰浮川澤，陰處反明。民痛腹中常鳴，氣上衝胸，喘不能久立，寒熱皮膚痛，目瞑齒痛，䪼腫，惡寒發熱如虛，少腹中痛，腹大，蟄蟲不藏。（卯酉歲也）。歲太陰在泉，草乃早榮，濕淫所勝，則埃昏岩谷，黃反見黑，至陰之交。民病飲積，心痛，耳聾，渾渾焞焞，嗌腫喉痹，陰病血見，少腹痛腫，不得小便，病沖頭痛，目似脫，項似拔，腰似折，髀不可以回，膕如結，腨如別。（辰戌歲也）。歲少陽在泉，火淫所勝，則焰明郊野，寒熱更至。民病注泄赤白，少腹痛，溺赤，甚則血便。少陰同候。（己亥歲也）。歲陽明在泉，燥淫所勝，則霿霧清瞑。民病喜嘔，嘔有苦，善太息，心脅痛不能反側，甚則咽乾面塵，身無膏澤，足外反熱。（子午歲也）。歲太陽在泉，寒淫所勝，則凝肅慘慄。民病少腹控睪，引腰脊，上衝心痛，血見，嗌痛頷腫。（丑未歲也）。諸氣在泉，風淫於內，治以辛涼，佐以苦，以甘緩之，以辛散之；熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之；濕淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之；火淫於內，治以鹹冷，佐以苦辛，以酸收之，以苦發之；燥淫於內，治以苦溫，佐以甘辛，以苦下之；寒淫於內，治以甘熱，佐以苦辛，以咸瀉之，以辛潤之，以苦堅之。厥陰司天，風淫所勝，則太虛埃昏，雲物以擾，寒生春氣，流水不冰，民病胃脘當心而痛，上支兩脅，鬲咽不通，飲食不下，舌本強，食則嘔，冷泄腹脹，溏泄瘕水閉，蟄蟲不去，病體於脾。（己亥歲也）。衝陽絕，死不治。少陰司天，熱淫所勝，怫熱至，火行其政，大雨且至。民病胸中煩熱，咽乾，右胠滿，皮膚痛，寒熱咳喘，唾血血泄，鼽衄嚏嘔，溺色變，甚則瘡瘍胕腫，肩背臂臑及缺盆中痛，心痛肺䐜，腹大滿，膨膨而喘咳，病本於肺。（子午歲也）。尺澤絕，死不治。太陰司天，濕淫所勝，則沉陰且布，雨變枯槁。胕腫骨痛陰痹者，按之不得，腰脊頭項痛時眩，大便難，陰氣不用，飢不欲食，咳唾則有血，心如懸，病本於腎。（丑未歲也）。太谿絕，死不治。少陽司天，火邪所勝，則溫氣流行，金政不平。民病頭痛發熱惡寒而瘧，熱上皮膚痛，色變黃赤，傳而為水，身面胕腫，腹滿仰息，泄注赤白，瘡瘍，咳唾血，煩心，胸中熱，甚則鼽衄，病本於肺。（寅申歲也）。天府絕，死不治。陽明司天，燥淫所勝，則木乃晚榮，草乃晚生，筋骨內變，大涼革候，名木斂生，菀於下，草焦上首，蟄蟲來見。民病左胠脅痛，寒清於中，感而瘧，咳，腹中鳴，注泄鶩溏，心脅暴痛，不可反側，咽乾面塵，腰痛，丈夫頹疝，婦人少腹痛，目昧背瘍瘡座癰，病本於肝。（卯酉歲也）。太衝絕，死不治。太陽司天，寒淫所勝，則寒氣反至，水且冰，血變於中，發為癰瘍，民病厥心痛，嘔血，血鼽衄，善悲，時眩僕，運火炎烈，雨暴乃雹，胸腹滿，手熱肘攣，掖沖，心澹澹大動，胸脅胃脘不安，面赤目黃，善噫，咽乾，甚則色炲，渴而欲飲，病本於心。（辰戌歲也）。神門絕，死不治。所謂動氣知其藏也。司天之氣，風淫所勝，平以辛涼，佐以苦甘，以甘緩之，以酸瀉之；熱淫所勝，平以鹹寒，佐以苦甘，以酸收之；濕淫所勝，平以苦熱，佐以酸辛，以苦燥之，以淡泄之；濕上甚而熱，治以苦溫，佐以苦辛，以汗為故而止；火淫所勝，平以酸冷，佐以苦甘，以酸收之，以苦發之，以酸復之；熱淫同；燥淫所勝，平以苦濕，佐以酸辛，以苦下之；寒淫所勝，平以辛熱，佐以甘苦，以咸瀉之。風司於地，清反勝之，治以酸溫，佐以苦甘，以辛平之；熱司於地，寒反勝之，治以甘熱，佐以苦辛，以鹹平之；濕司於地，熱反勝之，治以苦冷，佐以鹹甘，以苦平之；火司於地，寒反勝之，治以甘熱，佐以苦辛，以鹹平之；燥司於地，熱反勝之，治以平寒，佐以苦甘，以酸平之，以和為利；寒司於地，熱反勝之，治以鹹冷，佐以甘辛，以苦平之。風化於天，清反勝之，治以酸溫，佐以甘苦；（己亥歲也）。熱化於天，寒反勝之，治以甘溫，佐以苦酸辛；（子午歲也）。濕化於天，熱反勝之，治以苦寒，佐以苦酸；（丑未歲也）。火化於天，寒反勝之，治以甘熱，佐以苦辛；寅申歲也。燥化於天，熱反勝之，治以辛寒，佐以苦甘；（卯酉歲也）。寒化於天，熱反勝之，治以鹹冷，佐以苦辛。（辰戌歲也）。厥陰之勝，耳鳴頭眩，憒憒欲吐，胃鬲如寒，大風數舉，倮蟲不滋，胠脅氣並，化而為熱，小便黃赤，胃脘當心而痛，上支兩脅，腸鳴飧泄，少腹痛，注下赤白，甚則嘔吐，鬲咽不通。（己亥歲也）。少陰之勝，心下熱善飢，臍下反動，氣遊三焦，炎暑至，木乃津，草乃萎，嘔逆，躁煩，腹滿痛，溏泄，傳為赤沃。（子午歲也）。太陰之勝，火氣內郁，瘡瘍于于中，流散於外，病在胠脅，甚則心痛熱𧵅，頭痛，喉痹，項強。獨勝則濕氣內郁，寒迫下焦，痛留頂，互引眉間，胃滿。雨數至，燥化乃見，少腹滿，腰脽重強，內不便，善注泄，足下溫，頭重，足脛胕腫，飲發於中，胕腫於上。（丑未歲也）。少陽之勝，熱客於胃，煩心心痛，目赤，欲嘔，嘔酸善肌，耳痛，溺赤，善驚譫妄，暴熱消爍，草萎水涸，介蟲乃屈，少腹痛，下沃赤白。（寅申歲也）。陽明之勝，清發於中，左胠脅痛，溏泄，內為嗌塞，外發㿗疝，大涼肅殺，華英改容，毛蟲乃殃，胸中不便，嗌塞而咳。（卯酉歲也。）太陽之勝，凝慄且至，非時水冰，羽乃後化。痔虛發，寒厥入胃，則內生心痛，陰中乃瘍，隱曲不利，互引陰股，筋肉拘苛，血脈凝泣，絡滿色變，或為血泄，皮膚否利，腹滿食減，熱反上行，頭項匈頂腦戶中痛，目如脫，寒入下焦，傳為濡瀉。（辰戌歲也。）厥陰之勝，治以甘清，佐以苦辛，以酸瀉之；少陰之勝，治以辛寒，佐以苦鹹，以甘瀉之；太陰之勝，治以咸熱，佐以辛甘，以苦瀉之；少陽之勝，治以辛寒，佐以甘鹹，以甘瀉之；陽明之勝，治以酸溫，佐以辛甘，以苦泄之；太陽之勝，治以甘熱，佐以辛酸，以咸瀉之。厥陰之復，少腹堅滿，裡急暴痛，偃木飛沙，倮蟲不榮。厥心痛，汗發嘔吐，飲食不入，入而復出，筋骨掉眩清厥，甚則入脾，食痹而吐。衝陽絕，死不治。少陰之復，燠熱內作，煩躁，鼽嚏，少腹絞痛。火見燔焫，嗌燥，分注時止，氣動於左，上行於右，𬋖，皮膚痛，暴喑，心痛，鬱冒不知人，乃灑淅惡寒，振慄譫妄，寒已而熱，渴而欲飲，少氣，骨痿，隔腸不便，外為浮腫，噦噫，赤氣後化，流水不冰，熱氣大行，介蟲不復，病痱胗瘡瘍，癰疽痤痔，甚則入肺，咳而鼻淵。天府絕，死不治。太陰之復，濕變乃舉，體重中滿，食飲不化，陰氣上厥，胸中不便，飲發於中，咳喘有聲。大雨時行，麟見於陸。頭頂痛重，而掉瘛尤甚，嘔而密默，唾吐清液，甚則入腎，竅瀉無度。太谿絕，死不治。少陽之復，大熱將至，枯燥燔，介蟲乃耗。驚瘛咳衄，心熱煩躁，便數憎風，厥氣上行，面如浮埃，目乃瞤瘛，火氣內發，上為口糜嘔逆，血溢血泄，發而為虛，惡寒鼓粟，寒極反熱，嗌絡焦槁，渴引水漿，色變黃赤，少氣脈萎，化而為水，傳為胕腫，甚則入肺，咳而血泄。尺澤絕，死不治。陽明之復，清氣大舉，森木蒼干，毛蟲乃厲。病生胠脅，氣歸於左，善太息，甚則心痛否滿，腹脹而泄，嘔苦，咳，噦，煩心，病在鬲中，頭痛，甚則入肝，驚駭，筋攣。太衝絕，死不治。太陽之復，厥氣上行，水凝雨冰，羽蟲乃死。心胃生寒，胸膈不利，心痛否滿，頭痛，善悲，時眩僕，食減，腰脽反痛，屈伸不便，地裂冰堅，陽光不治，少腹控睪，引腰脊，上衝心，唾出清水，及為噦噫，甚則入心，善忘善悲。神門絕，死不治。厥陰之復，治以酸寒，佐以甘辛，以酸瀉之，以甘緩之；少陰之復，治以鹹寒，佐以苦辛，以甘瀉之，以酸收之，辛苦發之，以咸軟之；太陰之復，治以苦熱，佐以酸辛，以苦瀉之，燥之，泄之；少陽之復，治以鹹冷，佐以苦辛，以咸軟之，以酸收之，辛苦發之，發不遠熱，無犯溫涼，少陰同法；陽明之復，治以辛溫，佐以苦甘，以苦泄之，以苦下之，以酸補之；太陽之復，治以咸熱，佐以甘辛，以苦堅之。治諸勝復，寒者熱之，熱者寒之，溫者清之，清者溫之，散者收之，抑者散之，燥者潤之，急者緩之，堅者軟之，脆者堅之，衰者補之，強者瀉之。各安其氣，必清必靜，則病氣衰去，歸其所宗，此治之大體也。身半以上，其氣三矣，天之分也，天氣主之；身半以下，其氣三矣，地之分也，地氣主之。以名命氣，以氣命處，而言其病。半，所謂天樞也。諸氣在泉，風淫於內，治以辛涼，佐以苦，以甘緩之，以辛散之；熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之；濕淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之；火淫於內，治以鹹冷，佐以苦辛，以酸收之，以苦發之；燥淫於內，治以苦溫，佐以甘辛，以苦下之；寒淫於內，治以甘熱，佐以苦辛，以咸瀉之，以辛潤之，以苦堅之。夫氣之勝也，微者隨之，甚者制之；氣之復也，和者平之，暴者奪之。皆隨勝氣，安其屈伏，無問其數，以平為期。厥陰司天，客勝則耳鳴掉眩，甚則咳；主勝則胸脅痛，舌難以言。（己亥歲也）。少陰司天，客勝則鼽嚏，頸項強，肩背瞀熱，頭痛少氣，發熱，耳聾目瞑，甚則胕腫，血溢，瘡瘍，咳喘；主勝則心熱煩躁，甚則脅痛支滿。（子午歲也）。太陰司天，客勝則首面胕腫，呼吸氣喘；主勝則胸腹滿，食已而瞀。（丑未歲也。）少陽司天，客勝則丹胗外發，及為丹膘瘡瘍，嘔逆，喉痹，頭痛，嗌腫，耳聾，血溢，內為瘛瘲；主勝則胸滿，咳仰息，甚而有血，手熱。（寅申歲也）。陽明司天，清復內余，則咳衄，嗌塞，心鬲中熱，咳不止，而白血出者死。（卯酉歲也）。太陽司天，客勝則胸中不利，出清涕，感寒則咳；主勝則喉嗌中鳴。（辰戌歲也）。厥陰在泉，客勝則大關節不利，內為痙強拘瘛，外為不便；主勝則筋骨繇並，腰腹時痛。（寅申歲也）。少陰在泉，客勝則腰痛，尻股膝髀腨胻足病，瞀熱以酸，胕腫不能久立，溲便變；主勝則厥氣上行，心痛發熱，鬲中，眾痹皆作，發於胠脅，魄汗不藏，四逆而起。（卯酉歲也）。太陰在泉，客勝則足痿下重，便溲不時，濕客下焦，發而濡瀉，及為腫、隱曲之疾；主勝則寒氣逆滿，食飲不下，甚則為疝。（辰戌歲也）。少陽在泉，客勝則腰腹痛而反惡寒，甚則下白、溺白；主勝則熱反上行而客於心，心痛，發熱，格中而嘔，少陰同候。（己亥歲也）。陽明在泉，客勝則清氣動下，少腹堅滿而數便瀉；主勝則腰重，腹痛，少腹生寒，下為騖溏，則寒厥於腸，上衝胸中，甚則喘不能久立。（子午歲也）。太陽在泉，寒復內余，則腰尻痛屈伸不利，股脛足膝中痛。（丑未歲也）。治之奈何？高者抑之，下者舉之，有餘折之，不足補之，佐以所利，和以所宜，必安其主客，適其寒溫，同者逆之，異者從之，其於正味何如？木位之主，其瀉以酸，其補以辛；火位之主，其瀉以甘，其補以咸；土位之主，其瀉以苦，其補以甘；金位之主，其瀉以辛，其補以酸；水位之主，其瀉以咸，其補以苦。厥陰之客，以辛補之，以酸瀉之，以甘緩之；少陰之客，以咸補之，以甘瀉之，以咸收之；太陰之客，以甘補之，以苦瀉之，以甘緩之；少陽之客，以咸補之，以甘瀉之，以咸軟之；陽明之客，以酸補之，以辛瀉之，以苦泄之；太陽之客，以苦補之，以咸瀉之，以苦堅之，以辛潤之。開發腠理，致津液通氣也。陽明何謂也？兩陽合明也。厥陰何也？兩陰交盡也。氣有高下，病有遠近，證有內外，治有輕重，適其至所為故也。大要曰：君一臣二，奇之制也；君二臣四，偶之制也；君二臣三，奇之制也；君一臣六，偶之制也。故曰：近者奇之，遠者偶之；汗者不以奇，下者不以偶；補上治上，制以緩，補下治下，制以急，急則氣味厚，緩則氣味薄。適其至所，此之謂也。六氣之勝，何以候之？乘其至也。清氣大來，燥之勝也，風木受邪，肝病生焉；熱氣大來，火之勝也，金燥受邪，肺病生焉；寒氣大來，水之勝也，火熱受邪，心病生焉；濕氣大來，土之勝也，寒水受邪，腎病生焉；風氣大來，木之勝也，土濕受邪，脾病生焉。所謂感邪而生病也。乘年之虛，則邪甚也；失時之和，亦邪甚也；遇月之空，亦邪甚也。重感於邪，則病危矣。有勝之氣，其必來復也。厥陰之至，其脈弦；少陰之至，其脈鉤；太陰之至，其脈沉；少陽之至，大而浮；陽明之至，短而澀；太陽之至，大而長。至而和則平，至而甚則病，至而反者病，至而不至者病，未至而至者病，陰陽易者危。六氣標本，所從不同。少陽太陰從本，少陰太陽從本從標，陽明厥陰不從標本，從乎中也。故從本者，化生於本，從標本者，有標本之化，從中者，以中氣為化也。是故百病之起，有生於本者，有生於標者，有生於中氣者；有取本而得者，有取標而得者，有取中氣而得者，有取標本而得者，有逆取而得者，有從取而得者。逆，正順也；若順，逆也。故曰：知標與本，用之不殆，明知逆順，正行無問。不知是者，人足以言診，是以亂經。《脈要》曰：春不沉，夏不弦，冬不澀，秋不數，是謂四塞。沉甚曰病，弦甚曰病，澀甚曰病，數甚曰病，參見曰病，復見曰病，未去而去曰病，去而不去曰病，反者死。少陽之主，先甘後咸；陽明之主，先辛後酸；太陽之主，先咸後苦；厥陰之主，先酸后辛；少陰之主，先甘後咸；太陰之主，先苦後甘。佐以所利，資以所生，是謂得氣。諸風掉眩，皆屬於肝。諸寒收引，皆屬於腎。諸氣憤郁，皆屬於肺。諸濕腫滿，皆屬於脾。諸熱瞀瘛，皆屬於火。諸痛癢瘡，皆屬於心。諸厥固泄，皆屬於下。諸痿喘嘔，皆屬於上。諸禁鼓慄，如喪神守，皆屬於火。諸痙項強，皆屬於濕。諸逆衝上，皆屬於火。諸脹腹大，皆屬於熱。諸躁狂越，皆屬於火。諸暴強直，皆屬於風。諸病有聲，鼓之如鼓，皆屬於熱。諸病胕腫，疼酸驚駭，皆屬於火。諸轉反戾，水液渾濁，皆屬於熱。諸病水液，澄澈清冷，皆屬於寒。諸嘔吐酸，暴注下迫，皆屬於熱。辛甘發散為陽，酸苦湧泄為陰，鹹味湧泄為陰，淡味滲泄為陽。六者或收，或散，或緩，或急，或燥，或潤，或軟，或堅，以所利而行之，調其氣，使其平也。君一臣二，制之小也；君一臣三佐五，制之中也；君一臣三佐九，制之大也。寒者熱之，熱者寒之，微者逆之，甚者從之，堅者削之，客者除之，勞者溫之，結者散之，留者攻之，燥者濡之，急者緩之，散者收之，損者溫之，逸者行之，驚者平之，上之下之，摩之浴之，薄之劫之，開之發之，適事為故。病之中外何如？從內之外者，調其內；從外之內者，治其外；從內之外而盛於外者，先調其內而後治其外；從外之內而盛於內者，先治其外而後調其內；中外不相及，則治主病。夫五味入胃，各歸所喜，故酸先入肝，苦先入心，甘先入脾，辛先入肺，咸先入腎。久而增氣，物化之常也；氣增而久，矢之由也。方制君臣，何謂也？主病之謂君，佐君之謂臣，應臣之謂使。三品所以明善惡之殊貫也。調氣之方，必別陰陽，定其中外，各守其鄉。內者內治，外者外治。微者調之，其次平之，盛者奪之，汗者下之，寒熱溫涼，衰之以屬，隨其攸利，謹道如法，萬舉萬全，氣血正平，長有天命。</p>

<h2>示從容論</h2>
<p>夫浮而弦者，是腎不足也；沉而石者，是腎氣內著也；怯然少氣者，是水道不行，形氣消索也；咳嗽煩冤者，是腎氣之逆也。一人之氣，病在一藏也，若言三藏俱行，不在法也。今夫脈浮大虛者，是脾氣之外絕，去胃外歸陽明也。夫二火不勝三水，是以脈氣而無常也。四肢解墮，此脾精之不行也。喘咳者，是水氣並陽明也。血泄者，脈急血無所行也。若夫以為傷肺者，由失以狂也。不引此類，是知不明也。夫傷肺者，脾氣不守，胃氣不清，經氣不為使，真藏壞決，經脈傍絕，五臟漏泄，不衄則嘔，此二者不相類也。譬如天之無形，地之無理，白與黑相去遠矣。</p>

<h2>疏五過論</h2>
<p>嘗貴後賤，雖不中邪，病從內生，名曰脫營；嘗富後貧，名曰失精。五氣流連，病有所並。醫士診之，不在藏府，不變軀形，診之而疑，不知病名；身體日減，氣虛無精，病深無氣，洒洒然時驚。病深者，以其外耗於衛，內奪於榮。良工所失，不知病情。此亦治之一過也。凡欲診病者，必問飲食居處，暴樂暴苦，始樂後苦，皆傷精氣，精氣竭絕，形體毀沮。暴怒傷陰，暴喜傷陽，厥氣上行，滿脈去形。愚醫治之，不知補瀉，不知病情，精華日脫，邪氣乃並。此治之二過也。善為脈者，必以比類奇恆，從容知之。為工而不知道，此診之不足貴。此治之三過也。診有二常，必問貴賤，封君敗傷，及欲侯王。故貴脫勢，雖不中邪，精神內傷，身必敗亡。始富後貧，雖不傷邪，皮焦筋屈，痿躄為攣。醫不能嚴，不能動神，外為柔弱，亂至失常，病不能移，則醫事不行。此治之四過也。凡診者，必知終始，有知餘緒，切脈問名，當合男女。離絕菀結，憂恐喜怒，五臟空虛，血氣離守，工不能知，何術之語。嘗富大傷，斬筋絕脈，身體復行，令澤不息，故傷敗結，留薄歸陽，膿積寒炅。粗工治之，亟刺陰陽，身體解散，四肢轉筋，死日有期，醫不能明，不問所發，唯言死日，亦為粗工。此治之五過也。凡此五者，皆受術不通，人事不明也。故曰：聖人之治病也，必知天地陰陽，四時經紀，五臟六腑，雌雄表裡，刺灸砭石，毒藥所主；從容人事，以明經道，貴賤貧富，各異品理，問年少長，勇怯之理。審於分部，知病本始，八正九候，診必副矣。治病之道，氣內為寶，循求其理，求之不得，過在表裡，守數據治，無失俞理。能行此術，終身不殆，不知俞理，五臟菀熟，癰發六腑。診病不審，是謂失常，謹守此治，與經相明。《上經》、《下經》，揆度陰陽，奇怕五中，決以《明堂》，審於終始，可以橫行。</p>

<h2>徵四失論</h2>
<p>夫經脈十二，絡脈三百六十五，此皆人之所明知，工之所循用也。所以不十全者，精神不專，志意不理，外內相失，故時疑殆。診不知陰陽逆從之理，此治之一失矣。受師不卒，妄作雜術，謬言為道，更名自功，妄用砭石，後遺身咎，此治之二失也。不適貧富貴賤之居，坐之薄厚，形之寒溫，不適飲食之宜，不別人之勇怯，不知比類，足以自亂，不足以自明，此治之三失也。診病不問其始，憂患飲食之失節，起居之過度，或傷於毒，不先言此，卒持寸口，何病能中，妄言作名，為粗所窮，此治之四失也。</p>

<h2>陰陽類論</h2>
<p>所謂三陽者，太陽為經，三陽脈至手太陰，弦浮而不沉，決以度，察以心，合之陰陽之論。所謂二陽者，陽明也，至手太陰，弦而沉急不鼓，炅至以病，皆死。一陽者，少陽也，至手太陰，上連人迎，弦急懸不絕，此少陽之病也，專陰則死。三陰者，六經之所主也，交於太陰，伏鼓不浮，上空志心。二陰至肺，其氣歸膀胱，外連脾胃。一陰獨至，經絕氣浮，不鼓，鉤而滑。此六脈者，乍陰乍陽，交屬相併，繆通五臟，合於陰陽，先至為主，後至為客。雷公曰：一陽為紀；三陰為母，二陰為雌，一陰為獨使。二陽一陰，陽明主病，不勝一陰，軟而動，九竅皆沉；三陽一陰，太陽脈勝，一陰不能止，內亂五臟，外為驚駭。二陰二陽，病在肺，少陰脈沉，勝肺傷脾，外傷四肢。二陰二陽皆交至，病在腎，罵詈妄行，巔疾為狂。二陰一陽，病出於腎，陰氣客遊於心，腕下空竅，堤閉塞不通，四肢別離。一陰一陽代絕，此陰氣至心，上下無常，出入不知，喉咽乾燥，病在土脾。二陽三陰，至陰皆在，陰不過陽，陽氣不能止陰，陰陽並絕，浮為血瘕，沉為膿胕；陰陽皆壯，下至陰陽。上合昭昭，下合冥冥，診決死生之期，遂合歲首。黃帝曰：冬三月之病，病合於陽者，至春正月脈有死徵，皆歸出春。冬三月之病，在理已盡，草與柳葉皆殺，春陰陽皆絕，期在孟春。春三月之病，日陽殺。陰陽皆絕，期在草乾。夏三月之病，至陰不過十日；陰陽交，期在溓水。秋三月之病，三陽俱起，不治自己。陰陽交合者，立不能坐，坐不能起。三陽獨至，期在石水。二陰獨至，期在盛水。</p>

<h2>方盛衰論</h2>
<p>陽從左，陰從右。老從上，少從下。是以春夏歸陽為生，歸秋冬為死。反之，則歸秋冬為生。是以氣多少逆皆為厥。一上不下，寒厥到膝，少者秋冬死，老者秋冬生。氣上不下，頭痛巔疾，求陽不得，求陰不審，五部隔無徵，若居曠野，若伏空室，綿綿乎屬不滿日。是以少氣之厥，令人妄夢，其極至迷。三陽絕，三陰微，是為少氣。是以肺氣虛則使人夢見白物，見人斬血藉藉，得其時則夢見兵戰。（秋三月也）。腎氣虛則使人夢見舟船溺人，得其時則夢伏水中，若有畏恐。（冬三月也）。肝氣虛則夢見菌香生草，得其時則夢伏樹下不敢起。（春三月也）。心氣虛則夢救火陽物，得其時則夢燔灼。（夏三月也）。脾氣虛則夢飲食不足，得其時則夢築垣蓋屋。辰戌、醜末之月也。此皆五臟氣虛，陽氣有餘，陰氣不足。是以形弱氣虛，死；形氣有餘，脈氣不足，死；脈氣有餘，形氣不足，生。</p>

<h2>解精微論</h2>
<p>夫心者，五臟之專精也。目者，其竅也。華色者，其榮也。是以人有德也，則氣和於目，有亡憂，知於色。是以悲哀則泣下，泣下水所由生。水宗者，積水也；積水者，至陰也；至陰者，腎之精也。宗精之水，所以不出者，是精持之也，輔之裹之，故水不行也。夫水之精為志，火之精為神，水火相感，神志俱悲，是以目之水生也。故諺言曰：心悲名曰志悲，志與心精共湊於目也。是以俱悲，則神氣傳於心，精上不傳於志，而志獨悲，故泣出也。泣涕者，腦也，腦者陰也，髓者骨之充也。故腦滲為涕，志者骨之主也，是以水流而涕從之者，其行類也。夫涕之與泣者，譬如人之兄弟，急則俱死，生則俱生，其志以神悲，是以涕泣俱出而橫行也。夫人涕泣俱出而相從者，所屬之類也。夫泣不出者，哭不悲也。不泣者，神不慈也；神不慈則志不悲，陰陽相持，泣安能獨來？夫志悲者惋，惋則沖陰，（沖陰）則志去目，志去則神不守精，精神去目，涕泣出也。厥則目無所見。夫人厥則陽氣並於上，陰氣並於下，陽並於上則火獨光也；陰並於下則足寒，足寒則脹也。夫一水不勝五火，故目眥盲。是以氣衝風，泣下而不止，夫風之中目也，陽氣內守於精，是火氣燔目，故見風則泣下也。有以比之，夫火疾風生乃能雨，此之類也。</p>
